[2020-03-04 16:55] DanHeidinga commented on #8183
@mpirvu does the data above seem outside the normal run-to-run variation you'd expect in numbers of AOT methods?

[2020-03-04 16:57] pshipton commented on #8732
No. Seems a good idea though to add these in the future. In particular for the OpenJ9 specific utilities.

That is incompatible with the OpenJ9 strategy. Theutilities were recently added to OpenJ9 in order to be somewhat compatible with the Hotspot versions, so users won't have to change in order to use OpenJ9. However the OpenJ9 versions are subsets, and don't work the same in all cases.

I'll fi

[2020-03-04 17:15] pshipton commented on #8732
Looking at jdk11. In summary we should remove the man pages for these utilities until such time as the OpenJ9 commands are completely compatible (probably never), or OpenJ9 creates man pages for the OpenJ9 utilities.

jcmd -  refers to `-f` and `PerfCounter.print`, neither of which are currently supported by OpenJ9.

jps - contains a `-V` option not currently supported by OpenJ9.

jstack - refers

[2020-03-04 17:19] pshipton opened #8745 "Create man pages for OpenJ9 executables"
OpenJDK supplies UNIX man pages for the executables it provides. OpenJ9 builds will remove the man pages for executables that aren't present with OpenJ9 or are not compatible.
https://github.com/eclipse/openj9/issues/8732

Man pages should be created for OpenJ9 executables when they are not provided by OpenJDK.

[2020-03-04 17:22] mikezhang1234567890 commented on #8725
As a temporary measure we could change `writebackMemory` to only use the `clflush` instruction. @DanHeidinga do you want me to create that PR?

[2020-03-04 17:27] keithc-ca commented on #8219
Native artifacts are stripped by using `$(STRIP) $(STRIPFLAGS)`; on Linux `STRIPFLAGS` is `-g` unless overridden in `custom-spec.gmk`. The `-g` option removes debug information (if it were not already removed by `objcopy --strip-debug`). Adding `STRIPFLAGS :=` to `custom-spec.gmk` strips native artifacts completely. For now we don't need to worry about stripping completely, but we should be extrac

[2020-03-04 17:30] keithc-ca commented on #8725
From my understanding, using `clflush` exclusively would have performance consequences: I don't think that's a good idea.

[2020-03-04 17:53] DanHeidinga commented on #8725
I agree with Keith.  We don't want to limit the implementation if we can address this with the infrastructure.  My understanding is that @sxa555 is looking going to give using the newer `as` on the Adopt machine another try

[2020-03-04 17:56] pshipton commented on #8728
Seems so, unless we can modify it to specify `-XX:+CompactStrings`

[2020-03-04 18:14] a7ehuo commented on #8706
Ran `special.system` test `LambdaLoadTest_OpenJ9_Linux_CompressedRefs_special_12 ` locally and it passed with the latest code as below.

Checked the internal nightly builds, `LambdaLoadTest_OpenJ9_Linux_CompressedRefs_special` tests have passed in the newer builds after `21`:
- `Test_openjdk8_j9_special.system_x86-64_linux_jit_Nightly/33`
- `Test_openjdk8_j9_special.system_x86-64_linux_jit_Nightly

[2020-03-04 18:23] sxa555 commented on #8725
@jdekonin What made you choose 2.28? Violete's proposed PR was 2.31 so I assumed that's what you'd put on  your systems

[2020-03-04 18:41] jdekonin commented on #8725
iirc that is just what we have a tar of based on initial build and test on gcc7 and we just haven't been back to updating.

[2020-03-04 18:42] a7ehuo commented on #8707
I'll take a look at this one. It still happens with the latest internal build `Test_openjdk8_j9_special.system_x86-64_linux_jit_Nightly/42`.

[2020-03-04 19:16] AdamBrousseau commented on #8738
@jdekonin thought it may be ulimits. I see a diff between the ub16 and these machines.
ub16: `max user processes              (-u) 32152`
rh7: `max user processes              (-u) 4096`
The rest seem similar.

[2020-03-04 20:00] mpirvu commented on #8183
The difference in number of AOT methods is quite big: 3684 vs 4355. I don't think this is run-to-run variation. Do these numbers stay the same on a re-run?
Is it possible that with cmake the flags passed to the JIT compiler are somewhat different or that some configuration flag has a different value?

[2020-03-04 20:19] harryyu1994 commented on #8708
Taking a look at this one.

[2020-03-04 21:05] pshipton opened #8748 "xlinux jdmpview can't find callsites in AIX core file"
Using OpenJ9 0.18.1 JDK11 release, I created a core file on AIX, on vmstop from running nothing in particular. `java -Xdump:system:events=vmstop`

On AIX, !printallcallsites finds 5102 sites, while looking at the same core file from xlinux finds 0.

[2020-03-04 21:05] pshipton commented on #8748
I provided the core file to @keithc-ca to look at.

[2020-03-04 21:08] ChengJin01 commented on #8570
I modified the code in `Lookup::in()` to call `accessClass()` to check the accessibility of the requested lookup class (as explicitly required in Java 14), all jtreg tests still passed with the new changes.
[jtreg_Lookup_tests_log.txt](https://github.com/eclipse/openj9/files/4289699/jtreg_Lookup_tests_log.txt)

[2020-03-04 21:37] pshipton opened #8749 "xlinux jdmpview on AIX core uses little endian search"
Using OpenJ9 0.18.1 JDK11 release, I created a core file on AIX, on vmstop from running nothing in particular. `java -Xdump:system:events=vmstop`

Running jdmpview on xlinux, the command `findptr 0xb1234567,0x30000000,0x30000040,,,` shows it's looking for the little endian ptr `issuing: find 0x674523b1,0x30000000,0x30000040,,,1` which doesn't seem correct considering the core file is big endian.

[2020-03-04 21:37] pshipton commented on #8749
@keithc-ca fyi

[2020-03-04 21:40] ChengJin01 commented on #8571
I modified the code in Lookup::in() to call accessClass() to check the accessibility of the requested lookup class (as explicitly required in Java 14), all jtreg tests still passed with the new changes.
[jtreg_Lookup_tests_log.txt](https://github.com/eclipse/openj9/files/4289801/jtreg_Lookup_tests_log.txt)

So the only test case left to be clarified from Oracle is `testDropLookupMode()` at test/jd

[2020-03-04 21:50] pshipton commented on #8738
https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_OMR/502
rh7-390-2

[2020-03-04 21:53] pshipton commented on #8749
May be related to #8748

[2020-03-04 22:03] pshipton commented on #8652
@dmitripivkine you mentioned xlinux jdmpview couldn't find the java context in the core file from the Adopt build? I tried creating a core `java -Xdump:system:events=vmstop` from an Adopt jdk14 build, it's 3GB+, and the context is found running xlinux jdmpview. Various commands work as well. If there is a problem with the core, it's probably a machine issue as you suggested.

[2020-03-04 23:05] keithc-ca commented on #8748
The `callSite` for the block at 0x30000000 is 0x 0900000008072900 which is a bad address.
[code]
`! printallcallsites` ignores blocks for which the call site is unavailable (or doesn't match a supplied pattern). I suspect all blocks have bad call site pointers. It's unclear how this works on AIX.

[2020-03-04 23:50] pshipton commented on #8748
The previous comment implies the core isn't being read correctly on xlinux.

info mmap on AIX shows the following (among other segments), but so does xlinux.
[code]

[2020-03-05 01:01] keithc-ca commented on #3081
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Personal/56

[2020-03-05 01:45] zjingjbj commented on #8724
@pshipton I've tried the build you provided but same error occurred.

Here is the java version:

./java -version
openjdk version "11.0.7-internal" 2020-04-14
OpenJDK Runtime Environment (build 11.0.7-internal+0-adhoc.jenkins.BuildJDK11x86-64linuxNightly)
Eclipse OpenJ9 VM (build master-4e9fab784, JRE 11 Linux amd64-64-Bit Compressed References 20200303_307 (JIT enabled, AOT enabled)
OpenJ9   - 4e9

[2020-03-05 01:52] pshipton commented on #8724
Ok, you can compress the files and make them available using a file sharing service, such as Box.

[2020-03-05 03:05] knn-k commented on #8594
I still can recreate the assertion failure with x86_64 Linux and aarch64 today.
What can I do with this?

[2020-03-05 03:08] pshipton commented on #8724
[code]

[2020-03-05 04:09] pshipton commented on #8738
https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_Nightly/315
rh7-390-1

[2020-03-05 05:32] yangzhang-ibm-au commented on #8636
@JasonFengJ9  We have done some tests with the nightly build (OpenJDK8U-jdk_x64_linux_openj9_2020-02-24-12-06.tar.gz) and the issue never happened again. So we are going to upgrade to the next stable release once it's available (hopefully in April), before that, we will use the current stable release (`1.8.0_242-b08`) plus the `-Djdk.nativeCBC=false ` option as a workaround.

Thanks again to every

[2020-03-05 05:58] #8636 closed

[2020-03-05 09:38] lumpfish commented on #8637
Happening regularly on jdk14 nightly builds:

For builds of 4th Mar 2020, occurred on
https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_ppc64le_linux_xl/18/console

For builds of 3rd Mar 2020, occurred on
https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_x86-64_mac_xl/19/consoleFull (3 occurrences)

For builds of 2nd Mar 2020, occurred on
https://ci.adoptopenjdk.net/j

[2020-03-05 10:17] lumpfish commented on #8728
We'll pursue adding the option to the test at openjdk.

[2020-03-05 12:46] smlambert commented on #8728
Excluded via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1666

[2020-03-05 13:28] #7890 closed

[2020-03-05 13:28] #8404 closed

[2020-03-05 13:28] #8517 closed

[2020-03-05 13:32] pshipton commented on #8738
https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_OpenJDK11/49
rh7-390-1

[2020-03-05 15:09] dmitripivkine commented on #8652
please note that system core from second failure can not be opened in `jdmpview` (`*0 : PID: 8978446 : No JRE`) @pshipton have tested ability of `jdmpview` for core generated on AIX in Java 14 and seems it is not broken. I guess something is missed in machine configuration

[2020-03-05 15:21] M-Davies commented on #8652
I'll see if I can't narrow down which AIX machines are affected
- https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2430/ JDK11-j9 `test-ibm-ppc64-aix-71-1`
- https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2431/ JDK11-j9 `test-ibm-ppc64-aix-71-2`
- https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2434/ JDK14-j9 `build-osuosl-ppc64-aix-71-1`

[2020-03-05 15:28] pshipton opened #8757 "The debug image archive contains a debug-image top level folder"
At least on xlinux jdk11, the debug image contains a top level folder `debug-image`. The prevents expanding the archive on top of a jdk (if you expect the files to go in the correct places).

[2020-03-05 16:21] Mesbah-Alam commented on #8178
Support for JDK15 was added in ASM 7.3.1 :
https://gitlab.ow2.org/asm/asm/-/merge_requests/281
https://asm.ow2.io/versions.html

I'll update our internal copy of ASM from 7.3->7.3.1.

@pshipton

[2020-03-05 16:30] dnakamura commented on #8183
Run to run variation looks to be about +/-30 for both cmake and uma builds. I don't see anything significant in the build configuration dif. There are some unimportant diffs, eg. `J9VM_BUILD_DROP_TO_HURSLEY` etc

[2020-03-05 17:03] mpirvu commented on #8183
@dnakamura  Could you please generate some verbose logs with `-Xjit:verbose={compilePerformance},vlog=PathToVlog` from both configurations and send them to me? The runs should be done with an empty SCC (i.e. cold runs). Thanks

[2020-03-05 17:35] dmitripivkine commented on #7725
Closing this issue. Please reopen if there are any concerns left

[2020-03-05 17:35] #7725 closed

[2020-03-05 18:13] PushkarBettadpur opened #8758 "Enable ILValidator in OpenJ9"
Currently, running OpenJ9 with the JIT option `useIlValidator`, assert fails with the following message: "Attempting to validate the IL without the ILValidator being initialized".

ILValidator is initialized in OMR in [IlInjector::genIL()](https://github.com/eclipse/omr/blob/6328141a215e35978ebed7dad1e9ba73cca4484f/compiler/ilgen/IlInjector.cpp#L138-L144), however, we don't use `IlInjector` in Ope

[2020-03-05 18:27] jdekonin commented on #8652
Please confirm that fullcore attribute is set. `lsattr -D -l sys0 | grep fullcore`.  You can enable with `chdev -l sys0 -a fullcore=true`.

I have access to both `build-osuosl-ppc64-aix-71-1` and `build-osuosl-ppc64-aix-71-2` and the attribute is set to True on both of them.  I don't have access to the others to check.

[2020-03-05 18:29] dmitripivkine commented on #6475
Looks like this this issue is not GC but related. Changing label to `comp:test`

[2020-03-05 18:34] keithc-ca commented on #8748
It seems that using `jextract` on AIX is required. The missing ".text" section is from `libj9vm29.so`.

[2020-03-05 18:52] pshipton commented on #8748
Interesting. How would anybody know that, or be able to use the libraries from a different location than they are found on the machine which created the core file?

[2020-03-05 19:07] sdwr98 opened #8760 "OpenJ9 exception stack trace handling different than OpenJDK"
Hi all,

I have discovered a difference in behavior between OpenJ9 and OpenJDK when dealing with serializing/deserializing exceptions using the google `gson` library.

### Scenario
I am trying to serialize/deserialize an exception class using the Google `gson` library, and I've discovered a problem when trying to set the stack trace when running OpenJ9.

 My Exception class does not have a default

[2020-03-05 19:16] Mesbah-Alam commented on #8178
https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/333 should fix the issue. We need to verify it in the next openjdkNext_i9_extended.system build

[2020-03-05 19:47] simonameng commented on #5803
I have tried steps mentioned above with the current JVM. The failure doesn't occur.
I also tried it with the JVM on May 10th, 2019, which is closed to the date I opened the issue. But the failure doesn't occur either.
Since the above failure doesn't occur in today's builds, I am closing the issue.

[2020-03-05 19:47] #5803 closed

[2020-03-05 19:55] BeverlyXu commented on #8353
Could you try to collect the perf profile (https://perf.wiki.kernel.org/index.php/Tutorial) and verbose log please? Something like `-Xjit:perfTool,verbose={compilePerformance},vlog=LogVerbose`

[2020-03-05 20:06] liqunl commented on #8403
The problem is in `StringBuffer.append`, https://github.com/eclipse/openj9/blob/master/jcl/src/java.base/share/classes/java/lang/StringBuffer.java#L200
[code]
The addition overflows and `newLength` is negative but we don't check that. Then we call `String.decompressedArrayCopy` which is treated as an arraycopy that doesn't need safety checks in the JIT, so we write the char array outside the bound

[2020-03-05 20:23] gacholio commented on #8403
This is a question for @pshipton / @DanHeidinga / @JasonFengJ9

[2020-03-05 20:37] IBMJimmyk commented on #8045
I did a quick check of potential places that need to be updated in future work to enable support on x and z. I'm putting this here so there's a record but a new issue will likely be made in the future.

`doc/compiler/ObjectLockword.md`
-Mentions feature is Power only. Changed this if other platforms add support.

`jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java`
-(x86 only) Remove `J9C

[2020-03-05 20:54] ashu-mehra commented on #8228
Many services need a way to drain their request queue and stop taking new requests before they are shutdown. Is that something being built into the protocol?

So far we have been shutting down JITServer by killing it and it has worked. I believe any active JITClients are resilient to handle disconnection from JITServer, is that correct @mpirvu ?
I am sure, in such case, killing the container would

[2020-03-05 20:54] harryyu1994 commented on #8708
Source of failed tests:
[code]

[2020-03-05 21:00] harryyu1994 commented on #8708
Launching 50x grinder here https://ci.adoptopenjdk.net/job/Grinder/2442/

[2020-03-05 21:26] keithc-ca commented on #8748
You can find out the modules loaded by the java process with this command:
[code]
Using our sample AIX core file, the output includes:
[code]
If the shared libraries are not in the expected locations on the system where you're running `jdmpview` you can use either of these system properties:
* `com.ibm.j9ddr.path.mapping`
  The value is expected to be a ':'-separated list of mappings; each mapping

[2020-03-05 21:31] mpirvu commented on #8228
The intent was to have JITServer running in its own pod serving many other pods/applications.

The client can survive diconnects from the server (for any reason). Graceful shutdown is a nice to have feature, but not a requirement from that point of view.

At this point we don't have that kind of functionality. The server going away means that the client will encounter an error while reading/writin

[2020-03-05 23:28] knn-k opened #8762 "AArch64: Enable Concurrent Scavenger"
Concurrent scavenger is not enabled in AArch64 Linux build.

- [x] Add "--enable-OMR_GC_CONCURRENT_SCAVENGER" to CONFIGURE_ARGS: #9665
- [x] Implement jitSoftwareReadBarrier : #9542

[2020-03-06 01:48] MechanosG commented on #8353
I seem to be having a similar problem.  I've been using OpenJ9 u212b04 for a while because newer versions would cause various problems with some mods.  Today I updated to u242b08 in order to get the ATM3 modpack to load, and load times/in-game performance was terrible.

I wasn't sure how much of this was ATM3 related, so I tested my current in-dev modpack with u242b08 and again, load times were re

[2020-03-06 02:59] DanHeidinga commented on #8228
Can you expand on how the named pipe addresses the cloud (k8) / non-local machine shutdown scenarios?

[2020-03-06 04:09] pshipton commented on #8724
@zjingjbj can you please try the following JVM and let me know what happens. I think it will fix the crash, although there may be another problem as well.
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK11_x86-64_linux_Personal/706/OpenJ9-JDK11-x86-64_linux-20200306-030341.tar.gz

[2020-03-06 06:54] zjingjbj commented on #8724
@pshipton I've tried the new build but the core dump happened again. I'll send the collected log to box.

[2020-03-06 09:17] Pr0methean commented on #4837
This bug hasn't been updated in months. Is there still a performance problem?

[2020-03-06 10:03] lumpfish opened #8766 "JTReg Fail on Windows: java/util/concurrent/TimeUnit/Basic.java"
java/util/concurrent/TimeUnit/Basic.java fails intermittently in the AdoptOpenJDK test runs.  Only been seen on Windows.

Output:
[code]
The number of tests failed is variable between runs.

Running the test locally and adding some debug to the test case showed that the failing part of the test checks that the elapsed time before and after calling MILLISECOND.sleep is greater than the sleep time r

[2020-03-06 10:13] avermeer commented on #4837
Hello,

I'll try to redo my scenario and let you know ASAP the outcome with latest OpenJ9 binaires available on Adoptopenjdk.com site.

Kind regards,
Alexandre

[2020-03-06 10:24] lumpfish commented on #8766
Test excluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/1666

[2020-03-06 12:05] M-Davies commented on #8652
@jdekonin Raised https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1189 for the fullcore enabling. Although it looks like all the grinders passed anyway

[2020-03-06 12:20] scikirbypoke commented on #8353
Got [profile](https://drive.google.com/file/d/1tAtwfIGLRCmAGq3-lFFFRuorCbXNPs-J/view?usp=sharing) using `perf record -F 99 -p pid -a -- sleep 60`.

[2020-03-06 12:44] JasonFengJ9 opened #8767 "JDK8 testDDRExt_SharedClasses_openj9_0_FAILED AssertionFailedError"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/301/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
04:46:14  https://ci.ad

[2020-03-06 12:51] JasonFengJ9 opened #8768 "AIX : A file or directory in the path name does not exist."
Failure link
------------

`aix71-p8-4`
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.system_ppc64_aix_Nightly/7/tapResults/

`aix71-p8-7`
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.system_ppc64_aix_Nightly/7/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-03-06 13:29] pshipton commented on #8768
@llxia can you pls take a look.

[2020-03-06 13:34] pshipton opened #8769 "testJITServer_0 NullPointerException java.nio.DirectIntBufferU.get"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_Nightly/302
testJITServer_0
[code]

[2020-03-06 13:34] pshipton commented on #8769
@mpirvu

[2020-03-06 13:42] smlambert commented on #8768
@Mesbah-Alam can probably take a look, from a quick glance, looks like there is a missing or uninitialized variable that should be filling out the blank space between `//` in the path right before `stf/stf.core` in `/jvmtest/system/daaLoadTest/..//stf/stf.core/scripts/stf.pl`

[2020-03-06 13:48] pshipton opened #8770 "testJITServer_1 testServerGoesDown IllegalThreadStateException: process hasn't exited"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Personal/534/
testJITServer_1
[code]

[2020-03-06 13:49] pshipton commented on #8770
@mpirvu

[2020-03-06 14:07] pshipton opened #8772 "Run jextract on core files on linux, aix, osx"
When a core file occurs on linux, aix, osx systems, the shared libraries are not included in the core. The system libraries are required in order to look at stack traces in the core file. `jextract` gathers all the shared libraries used by a core and compresses them along with the core file for further analysis. When a core file is created in a test run, running jextract on one of them will provid

[2020-03-06 14:07] pshipton commented on #8772
@smlambert @AdamBrousseau @jdekonin

[2020-03-06 14:08] AdamBrousseau commented on #8772
Will this be required on the compile job as well?

[2020-03-06 14:20] MariusVolkhart opened #8773 "Java 11 on Windows x86"
This is a feature request to support OpenJ9 with Java 11 on Windows x86.

## Current state
Currently, the OpenJ9 [build docs for Java 8](https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V8.md#windows) indicate support for Windows x86, but the [docs for Java 11](https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V11.md#wind

[2020-03-06 14:36] smlambert commented on #8772
Purposefully naive question, can the VM do that as it crashes?

[2020-03-06 15:05] sxa555 commented on #8725
FYI @jdekonin freetype doesn't appear to quite work successfully when build using the binutils 2.31 tools (the configure step of the jdk codebase doesn't detect it properly) but does when freetype is linked using 2.28:
[code]

[2020-03-06 15:23] ashu-mehra commented on #8228
I guess you meant shutting down the server from a system different from where it is running.
In that case named pipe solution cannot be used. For that we have to use sockets, that's the only way to communicate.

But why do we need that kind of shutdown? User can instead issue the shutdown command on the system hosting the server using ssh. Is that not feasible in cloud scenarios?

Do web servers l

[2020-03-06 15:31] DanHeidinga commented on #8773
+1

@MariusVolkhart I'm sympathetic to your desire to have JDK11 OpenJ9 builds on 32-bit windows.  The benefits of OpenJ9 are hugely important for constrained environments and I've made the same arguments that developers desktops are very similar to cloud environments.

Unfortunately, the market share of 32bit systems is quite small and continues to shrink.  See data from https://www.pcbenchmarks.

[2020-03-06 15:50] pshipton commented on #8772
Yes, any core file.

Kind of. For example, the following will do it.
`bin/java -Xdump:system:events=vmstop -Xdump:tool:events=vmstop,exec="bin/jextract %last"`

Some notes with this approach.
- we don't need to run jextract for every core, one should be enough. It's not harmful to run on every core, but takes extra time and space.
- the test needs to run with the correct option for jextract to run

[2020-03-06 15:53] pshipton commented on #8772
@DanHeidinga fyi

[2020-03-06 15:54] DanHeidinga commented on #8228
Rereading though this issue and I think we're going down a rabbit trail....

The original proposal was that modeling the JITServer creation apis on the JavaVM innvocation apis made a lot of sense.  It lead us to create the `JITServer_CreateServer` call modelling the `JNI_CreateJavaVM`.  Correspondingly, the invocation api has a `JNI_DestroyJavaVM` call that needs an equivalent api point in JITServ

[2020-03-06 15:58] DanHeidinga commented on #8228
Remote management of an appserver is of vital importance for managing deployments, especially as the number of servers goes up.

A solution that requires direct machine access via ssh is basically a non-starter.

I think we do.  Server management will be important and we'll need a way for a remote actor to control the server to do things like tell it stop accepting new connections and drain any in

[2020-03-06 16:09] DanHeidinga commented on #8772
@pshipton It might be worth having a conversation with Manqing about `jextract`.  If it's this easy, I'm somewhat surprised we haven't done this already with the IBM SDK to help with the "must gather" service list...

[2020-03-06 16:17] liqunl commented on #4837
@Pr0methean All improvements we developed have been delivered and you should see a decrease in the performance gap between openj9 and openjdk. Currently we have stopped working on this issue because we're going to replace our MethodHandle implementation with openjdk's. See #7352. We'll have another round of performance tuning and improvement once the functionality is achieved with the replacement.

[2020-03-06 16:19] avermeer commented on #4837
@liqunl when was latest iteration on this incident? is it in openj9-0.18.1, or should I use a recent nighly build instead ?

[2020-03-06 16:21] hangshao0 commented on #8767
The test expects to see some JIT profile data, however it is 0:

`JITPROFILE data length 0`.

Probably we can wait and see if this happen again.

[2020-03-06 16:26] pshipton commented on #8772
@manqingl any thoughts about the above, using `-Xdump:tool` to automatically run jextract on a core file?

[2020-03-06 16:27] sxa555 commented on #8725
I have got it working on one of our build machines. I've put the binutils 2.28 utilities in `/usr/local/gcc/bin` along with the gcc 7.5 compiler and have set all `gcc75` builds to run on that machine for now (removed `gcc75` label from the others.

This should allow the jobs to start running again. If it works ok over the weekend I'll deploy to the other machines. The pre-build gcc 7.5 tarball whi

[2020-03-06 16:30] pshipton commented on #8748
There doesn't seem to be any indication that libraries are missing. Is there any logging that can be enabled to view the list of missing libraries?

[2020-03-06 16:52] rpshukla commented on #7936
This is the plan for staging this refactor as discussed here: https://github.com/eclipse/omr/pull/4779#issuecomment-594893313

1. Add the following macro in OMR PreExistence.hpp
   `#define TR_PREXARGINFO_TRACER_CLASS TR_InlinerTracer`
    Also add the new `TR_PrexArgInfo::dumpTrace` method.

2. Update method definitions in openj9 to use that macro. Also code in the bodies of these methods to only

[2020-03-06 17:22] manqingl commented on #8772
This is definitely a good idea.  We have been depending on L2 to work with customers to get the system core files jextracted.  This is not working well so far. In the last week, I have to go back to two different customers to do jextract on the system core files again.  Without the native libraries, I could not even get a decent native stack trace from native debuggers (because of the OS mismatch

[2020-03-06 17:36] JBKingdon commented on #8772
+1 for having something like jextract run automatically. However jextract does  a lot more than just collect the libraries and has been known to either fail or take so long to run as to be unusable. Is there currently any consumer of the non-library information, and if not, is this a good opportunity to create a new tool that just gathers libraries (and perhaps a few other files such as javacore/s

[2020-03-06 17:42] klangman commented on #8772
Automating jextract would save a step that is missed quite frequently, but this would also add to the time it takes to for the JVM to end after a crash and consume more disk space. The most important thing is that the core file is not effected. Any reduction in the reliability of obtaining an intact system core file is IMHO unacceptable.

[2020-03-06 18:02] #8570 closed

[2020-03-06 18:02] #8571 closed

[2020-03-06 18:06] fengxue-IS opened #8777 "Add testcase for ConstantDynamic stackmap"
Added new testcase to check the stackmap generated during GC for ConstantDynamic values on the stack

Related: #8752

[2020-03-06 18:27] keithc-ca commented on #8732
I had been working on this; jdk8 and jdk11 were straight-forward and I have opened pull requests:
* https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/382
* https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/271

When I got to jdknext, I discovered that things are different: the man pages are associated with their respective modules and so the filtering needs to be sprinkled through tho

[2020-03-06 18:36] dnakamura commented on #8183
@mpirvu
[jitlogs.zip](https://github.com/eclipse/openj9/files/4299793/jitlogs.zip)

[2020-03-06 18:58] jdekonin commented on #8725
@sxa555 the OpenJ9 compile job doesn't download and compile freetype each time the compile triggers we use the default system package as installed via playbook.

[2020-03-06 19:04] cathyzhyi commented on #8482
@rpshukla Will help to look at this failure

[2020-03-06 19:12] pshipton commented on #8772
@JBKingdon I think for Java 8 current versions it only collects the libraries, have you seen differently?

jextract zips up the core file, but doesn't delete or otherwise touch the original file.

[2020-03-06 19:15] liqunl commented on #8482
Is this still happening? #7890 has been fixed and there were many windows defects related closed as well. @rpshukla Maybe we can try a grinder on the latest build.

[2020-03-06 19:24] klangman commented on #8772
It's the unknown that I worry about. Some strange interaction that was not expected. Maybe I am a bit paranoid but without system core files our ability to service the JVM is almost gone. We should we have a way to disable this feature in case it causes some issues with core file generation.

[2020-03-06 19:28] mpirvu commented on #8183
There is a larger number of compilations in the cmake run, but I don't see a reason for it.
One strange thing that happens in both cases is that the number of compilations that occur after start-up is over is larger the the number of compilations that happen after start-up. Since it happens in both cases it cannot explain the discrepancy in the number of compilations.

My suspicion is that somehow

[2020-03-06 19:43] JBKingdon commented on #8772
Oh great! I only look for the libraries so I hadn't realised the other stuff had gone :) I did hear that someone tried running jextract on a 300GB core and it didn't finish in a reasonable period of time, but the case hasn't reached me yet so I don't know what the version is.

[2020-03-06 19:43] pshipton commented on #8724
It's the same crash, my change didn't make any difference.
[code]

[2020-03-06 20:09] manqingl commented on #8772
In the past, the most likely causes of jextract failure are:

(1) System core file is truncated.
(2) Customized executable is not specified.
(3) Wrong machine/wrong product installation locations.

I tend to think the situation can be better if we do it at JVM runtime.

[2020-03-06 20:13] liqunl commented on #4837
@avermeer Yes, all of our improvements have been released.

[2020-03-06 20:35] pshipton commented on #8482
The last reported failing is from 22 days ago, I haven't seen it since. Happy to close it and reopen if it's seen again.

[2020-03-06 20:35] #8482 closed

[2020-03-06 20:36] dnakamura commented on #8183
[jitlog.zip](https://github.com/eclipse/openj9/files/4300307/jitlog.zip)

[2020-03-06 20:42] pshipton commented on #8772
It does
- process the core file looking for shared libraries. This probably doesn't take any longer on a bigger core file, but not 100% sure.
- zip up the core file, I can image that zipping a 300GB core file would take a considerable amount of time.

We'd try to automatically run jextract (if it can be found) rather than expecting the user to do it. This won't help with truncated core file or dis

[2020-03-06 21:23] rpshukla commented on #8482
Yeah I ran a 20x grinder and with the latest nightly build and the JVM_OPTIONS mentioned in the first comment and it passed.

[2020-03-06 21:39] shahriarsust commented on #7005
Hello  @amicic,

Hope this post finds you well. We completed fully integrating openj9 to our services and almost all the services have better memory behavior and gc throughput. Credit goes to openj9 team.

However, I am reopening the issue as there seems to have a similar problem for one of our service. Here is the environment.

Environment
1. -Xmx4000m, -Xcompactgc with gencon
2. I am calling sys

[2020-03-06 21:48] klangman commented on #8772
Maybe instead of compressing the core file, we just create a zip file with just the libraries (and maybe snap, javacore, jitdump, heapdump files) so that it simplifies the must-gather process.

[2020-03-06 22:17] JasonFengJ9 commented on #7247
From an internal test `Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/328`
[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
22:59:29  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=x86-64_mac&TARGET=cmdLineTester_shrcdbgddrext_1

[2020-03-06 22:25] JasonFengJ9 opened #8786 "JDK 8 JITServer : HCRLateAttachWorkload_0_FAILED"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.system_x86-64_linux_jit_Nightly/9`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
23:21:34  https://ci.adoptopenjdk.net/j

[2020-03-06 22:30] JasonFengJ9 commented on #8706
Another occurrence at `Test_openjdk8_j9_special.system_x86-64_linux_jit_Nightly/51/`
[code]

[2020-03-06 23:40] mpirvu commented on #8183
These logs show the difference.
In the cmake case all methods receive counts (450,125), while for UMA bootstrap methods have counts (450,125) while non-bootstrap one have counts (1000,250). Thus cmake approach will generate more compilations.

Relevant code is the following:
[code]
The intent was to take the `if` part when using the non-default SCC. However, due to a bug which does not show wit cm

[2020-03-07 02:02] fjeremic commented on #8183
So this is just a case of running with old code? i.e. it should be fixed when rebased on latest master branch?

[2020-03-07 05:03] #8721 closed

[2020-03-07 05:06] pshipton commented on #8724
@zjingjbj I've made another change, can you please try the following.

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK11_x86-64_linux_Personal/709/OpenJ9-JDK11-x86-64_linux-20200306-202724.tar.gz

https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_Personal/709/

[2020-03-07 05:34] pshipton commented on #8786
@mpirvu

[2020-03-07 07:33] zjingjbj commented on #8724
@pshipton I've tested the latest build and it works, no core dump any more. Thanks a lot! This is an informal build, right? Which format build will include this fix?

[2020-03-08 09:27] avermeer commented on #4837
Hello @liqunl ,

Well bad news, with openj9-0.18.1 (I used binaries of officiallly released AdopOpenJDK 11.0.6 for Linux x64 on CentOS 7.6), my "bench" just crashes, see traces:

[code]
Therefore I am afraid that this incident cannot be closed yet, as there is no released AdoptOpenJDK with OpenJ9 version that shows the performance improvement.

Please note this kind of crash is discussed in other

[2020-03-08 09:30] avermeer commented on #5371
Hello,

I cannot use the releasde AdopOpenJDK 11.0.6 with openj9-0.18.1 on Linux x64 to check if delivered improvements for this issue are worth or not, since I get a crash with my test case.

Maybe related to #8548, but not sure...

Kind regards,
Alexandre

[2020-03-08 13:44] sxa555 commented on #8725
Yeah to be honest I don't know why adoptopenjdk set it up that way - it's something I wanted to revisit. However I think we bundle the freetype libs by default which would mean you're at the mercy of whatever the package manager puts on instead of a fixed version, so I would lean slightly towards using a separate, fixed version of the freetype code instead.

[2020-03-08 14:48] JasonFengJ9 opened #8788 "JDK8 JIT Server : testJITServer_1_FAILED with Segmentation error vmState=0x00051aff"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Nightly/11/`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
01:07:22  https://ci.adoptopenjdk.n

[2020-03-08 14:52] JasonFengJ9 opened #8789 "JDK8 JIT Server : DaaLoadTest_all_ConcurrentScavenge_0_FAILED Segmentation error vmState=0x00020002"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.system_x86-64_linux_jit_Nightly/11`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
00:08:08  https://ci.adoptopenjdk.net

[2020-03-08 15:03] JasonFengJ9 commented on #8170
Observed in an internal build `Test_openjdk11_j9_special.system_x86-64_linux_jit_Nightly/62`:
[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
01:45:59  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=system/daaLoadTest&PLATFORM=x86-64_linux&TARGET=DaaLoadTest_daa3_special_18

[2020-03-08 15:21] JasonFengJ9 commented on #8178
Thanks @Mesbah-Alam , the `IllegalArgumentException` is not seen in latest `openjdkNext_j9_extended.system` build,
Closing.

[2020-03-08 15:21] #8178 closed

[2020-03-09 09:57] smithwil commented on #8772
If this worked reliably it would definitely help diagnose problems.

There was an earlier attempt at a jvmti library to set Xdump options to run jextract as described and also to collect the other types of dump into a single zip file. It was not well adopted because it was not on by default and when it was switched on, people did not like seeing unexpected processing start up after a java crash or

[2020-03-09 11:12] paulcheeseman commented on #8772
If we do use `-Xdump:tool` to achieve this, we should probably specify `opts=ASYNC` as well.

https://www.eclipse.org/openj9/docs/xdump/#tool-dumps

[2020-03-09 12:23] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly/304
[code]

[2020-03-09 12:30] pshipton commented on #8770
@mpirvu this is blocking OMR promotion testing and generally just always failing now. Can we please exclude this test until it passes.

[2020-03-09 12:33] mpirvu commented on #8183
Yes, the problem will not show when rebased. The footprint increase (together with the start-up improvement) is expected.

[2020-03-09 12:43] pshipton opened #8794 "osx1011-x86-1 wget Library not loaded: /usr/local/opt/openssl/lib/libssl.1.0.0.dylib"
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_special.system_x86-64_mac_Personal/29
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_mac_Nightly/296
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_mac_Nightly/304
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly/305
https://ci.eclipse.org/openj9/job/Test_op

[2020-03-09 12:46] pshipton commented on #8794
@jdekonin not sure if this is a machine problem or a temporary hickup.
[code]

[2020-03-09 13:03] keithc-ca commented on #8757
Reopening: #8774 was reverted.

[2020-03-09 13:14] pshipton commented on #8794
Disabled the machine for now.

[2020-03-09 13:16] pshipton commented on #8788
@mpirvu

[2020-03-09 13:16] pshipton commented on #8789
@mpirvu

[2020-03-09 13:41] amicic commented on #7005
Hi @shahriarsust, at a quick look, I'd agree, we contract less aggressively than what I would expect.

I'll have a deeper look in a next few days. Meanwhile, please, let me know what command line options you used.

[2020-03-09 13:55] adam-thorpe opened #8796 "JTReg Test Failure: java/nio/channels/spi/SelectorProvider/inheritedChannel/InheritedChannelTest.java"
Failure link
------------
sanity.openjdk run: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_j9_sanity.openjdk_x86-64_mac/22/consoleFull
Griner run: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2462/console
- test category: sanity.openjdk
- OS/architecture: jdk14 mac

Optional info
-------------
- intermittent failure (yes|no): no
- regression or new test: old regres

[2020-03-09 14:39] keithc-ca opened #8797 "PR builds don't support aarch64_linux"
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/README.md lists 'Linux on aarch64' `aarch64_linux` with short name `alinux64`, but only the short name is recognized.

[2020-03-09 14:40] fjeremic commented on #4837
@avermeer this issue was fixed in #8598. Looks like the targeted release was 0.19.0 which is scheduled for release on March 17th, 2019. You can wait to try and pick up that release build, or attempt to measure with the latest nightly build from Adopt which will have the fix.

[1] https://projects.eclipse.org/projects/technology.openj9/releases/0.19.0

[2020-03-09 14:41] keithc-ca commented on #8797
FYI @AdamBrousseau

[2020-03-09 14:47] mpirvu commented on #8770
Will do

[2020-03-09 14:58] AlenBadel opened #8798 "Heap storage control information damaged on ZOS"
**Using JDK11**

**Steps to reproduce:**
./java -verbose:sizes -version

**Output**

[code]

[2020-03-09 14:59] fjeremic opened #8799 "CpuUtilization should use omrsysinfo_get_CPU_load API to query process CPU load on z/OS"
The `CpuUtilization` class currently uses the `j9sysinfo_get_CPU_utilization` API to extract the CPU utilization times for the entire system, and then uses these utilization times to calculate the CPU load based on the number of active cores.

This is fine, except it does not work on z/OS, where there is no way to extract the CPU utilization times for the entire system. Instead we've delivered the

[2020-03-09 14:59] fjeremic commented on #8799
@mpirvu could you give a short overview of how this CPU load value ends up being consumed in the JIT so that we know what we need to test once the change is made?

[2020-03-09 15:04] a7ehuo opened #8800 "Crash in VM_ObjectMonitor::getInitialLockword() at the JITServer"
Observed a crash in `VM_ObjectMonitor::getInitialLockword()` at the server while doing sanity test `StringPeepholeTest_0`. Tried the debug build, not able to reproduce it yet.

`TR_J9VMBase::getInitialLockword()` is introduced in #8047. Likely we need the server side implementation for those new methods.

https://github.com/eclipse/openj9/blob/14d688fb3f49e75e73a3155aa71cafea906ce076/runtime/compi

[2020-03-09 15:08] cathyzhyi commented on #5371
Hey Alexandre, yea,  it's very possible to be related to #8548 and should be fixed by #8598. The fixes are in the latest night builds but not yet in any official release yet. The official release having all the fixes is 0.19.0 which will be released on Tuesday, March 17, 2020.

[2020-03-09 15:12] Tom-Poe commented on #8772
jextract needs to know if the process in question was running with or without compressedrefs.
(-J-Xcompressedrefs)
Can compressed ref usage be determined at the point when jextract output be run?

[2020-03-09 15:19] a7ehuo opened #8801 "JITServer assert "field attributes from client and cache do not match""
While running sanity test `jit_jitt_0` with the debug build, the following assert `"field attributes from client and cache do not match"` happens at the server.

[code]

[2020-03-09 15:27] cathyzhyi commented on #8635
assigned to @rpshukla

[2020-03-09 15:29] mpirvu commented on #8799
List of all the places where we use CPU information to drive heuristics in the JIT (in no particular order):
1) Don't downgrade to cold if the JIT is in IDLE state and it is already consuming very little CPU. This heuristic is not enabled by default because idle CPU could be used by other processes in a cloud scenario.
2) Detection of JIT compilation thread starvation needs to know how much CPU th

[2020-03-09 15:29] keithc-ca commented on #8749
This is unrelated to #8748.

[2020-03-09 15:31] cathyzhyi commented on #8341
@liqunl Is this issue still needed?

[2020-03-09 15:35] AdamBrousseau commented on #8797
PR builds only accept the shortnames. Unless I'm not following, this is expected.

[2020-03-09 15:37] a7ehuo commented on #8801
Moved the assert inside `TR_ResolvedJ9JITServerMethod::validateMethodFieldAttributes()` and gathered more info as below:

[code]

[code]

[2020-03-09 15:45] dnakamura commented on #8183
rebased and building now. Also going back and rebasing other platforms and making sure that it doesn't erase footprint parity we see there

[2020-03-09 15:48] fjeremic commented on #8799
Whoever picks up this item I'd appreciate if the above explanation was baked into the Doxygen documentation for this class.

[2020-03-09 15:49] fjeremic commented on #8799
Whoever picks up this item I'd appreciate if the above explanation was baked into the Doxygen documentation for this class.

[2020-03-09 15:53] hangshao0 commented on #7494
I am looking at the implementation. I found some issue with removing the readWrite area:

1. If SH_CacheMap::storeSharedData() is called with J9SHRDATA_USE_READWRITE, we will allocate in the readWrite area. The corresponding meta data will point to the allocated data in the readWrite area. So if the readWrite area is removable, I guess we need to stop supporting J9SHRDATA_USE_READWRITE. I don't fi

[2020-03-09 16:05] a7ehuo opened #8803 "Assert "should be unreachable" in TR_CHTable::commitVirtualGuard()"
Observed the assert `"should be unreachable"` in `TR_CHTable::commitVirtualGuard()` and `JITClientCommitVirtualGuard()`while running `special.system` test `_ClassLoadingTest_special_12`:

[code]

[2020-03-09 16:11] keithc-ca commented on #8797
I missed this before:
[code]
('short names' would be more consistent than 'shorthand')

What is the motivation for this restriction?

[2020-03-09 16:26] kgibm commented on #8721
Thank you.

[2020-03-09 16:34] liqunl commented on #8341
No, this can be closed as the problematic change had been reverted and then re-enabled with a fix. See issue https://github.com/eclipse/omr/issues/4740

[2020-03-09 16:41] gita-omr commented on #8671
In the design:

to make the difference table easier to understand, would be good to add:

2) -Xlp does not set codecache page size or type

[2020-03-09 17:07] cathyzhyi commented on #8341
@pshipton Hey Peter, could you help to close this one? Thanks!

[2020-03-09 17:11] #8341 closed

[2020-03-09 17:49] ymanton opened #8806 "testJITServer test failures"
This issue tracks the large number of failures in the `testJITServer` test target, which was introduced recently (#8041) but is currently disabled (#8805).

The list of failures includes:

- #8653
- #8674
- #8708
- #8726
- #8769
- #8770
- #8788

[2020-03-09 17:50] pshipton commented on #7494
Agreed, considering J9SHRDATA_USE_READWRITE has never been used, it can be removed.

The readWrite area will need to be re-created, or never removed in the first place. The readWrite area is needed for utf8 sharing between ROM classes. If it's removed the table of most used utf8's is gone and cannot be recovered. Although every individual JVM will also do utf8 sharing, but will only build a table

[2020-03-09 17:52] pshipton commented on #7494
Actually, I forgot a case. Every JVM should still be able to shared utf8's with the shared cache, even if the cache is full. If this is correct, we shouldn't remove the readWrite area.

[2020-03-09 17:53] Mesbah-Alam commented on #8768
Initial observations:
[code]

[2020-03-09 17:53] jdekonin commented on #8794
Last passed job of the failing jobs above for osx1011-x86-1 was on Feb 25th.  There has been no ssh logons to this system since then, nor any planned (or unplanned) maintenance.

I performed a `brew upgrade wget` and manually running wget on asm-7.3.1.jar works as expected.

Respin of a failing job shows its gets passed the previous failing spot.  I'll leave the machine active.
https://ci.eclipse.

[2020-03-09 17:56] pshipton commented on #8768
@jdekonin does March 5th coincide with any changes to the OpenJ9 AIX machines?

[2020-03-09 17:57] #8794 closed

[2020-03-09 18:00] pshipton commented on #8772
I don't believe this requirement exists any more, I'll double check and update the User Guide.

[2020-03-09 18:27] AdamBrousseau commented on #8797
I'm fine with rewording that line from `shorthands` to `short names`.
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy#L109-L136
The short names are provided for developer convenience so they don't have to type out the entire spec name. If we were to accept both versions, the way the code is written, we'd have to essentially double the am

[2020-03-09 18:37] #8724 closed

[2020-03-09 18:38] hangshao0 commented on #7494
OK, I will proceed with not removing the readWrite area now.

Also I noticed that the debug region should be placed before rather than after the readWrite area. In this way the readWrite area is next to the ROM segment, and their relative position won't be affected by resizing.  Updated in the description.

[2020-03-09 18:51] shahriarsust commented on #7005
The gc configs are
-Xmx4000m
-XX:MinHeapFreeRatio=25
-XX:MaxHeapFreeRatio=50
-XX:UsePerfData
-Xgcthreads2
-Xcompactgc
-Xdump:...
-verbose:gc
-Xverbosegclog:....

I think the XX options does not affect openj9 but i included them anyway.

[2020-03-09 19:15] ashu-mehra commented on #8219
https://github.com/eclipse/openj9/pull/8754 fixes this issue for UMA builds.

In cmake builds, currently we are not stripping the libraries or executables and implementing that is beyond the scope of this issue as it only targets `jitserver` executable.

[2020-03-09 19:15] ashu-mehra commented on #8219
Closing this issue.

[2020-03-09 19:21] pshipton commented on #8772
Created https://github.com/eclipse/openj9-docs/pull/532 to update the User Guide.

[2020-03-09 19:25] pshipton commented on #8219
Note we can use keywords in the PR to auto-close the Issue when the PR is merged.
https://help.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords

[2020-03-09 19:31] pshipton commented on #8724
@zjingjbj the fix has been merged and will be included in the next release 0.20.0 which occurs in mid April. Before then, the fix will be in the next nightly builds at AdoptOpenJDK.net

[2020-03-09 19:34] pshipton commented on #5371
Note the 0.19.0 release is for Java 14 only. The 0.20.0 in mid April covers Java 11.

[2020-03-09 19:38] pshipton commented on #8798
Likely the java.properties file is missing, not in the correct place (lib/compressedrefs/java.properties), or is not in EBCDIC. @AlenBadel can you please check your build.

[2020-03-09 19:51] pshipton commented on #4837
Note that the 0.19.0 release is only for Java 14.

[2020-03-09 19:56] #8757 closed

[2020-03-09 21:15] keithc-ca opened #8809 "jextract doesn't recognize macosx core files"
Summary of problem
------------------
[code]

[2020-03-09 21:16] jdekonin commented on #8768
No changes since Feb 27th for aix71-p8-6 and aix71-p8-10.  Before that for any of the others.

[2020-03-09 22:10] smlambert commented on #8768
Other changes at that time (no idea if at all related):
- https://github.com/AdoptOpenJDK/openjdk-tests/pull/1668

[2020-03-10 08:47] knn-k opened #8814 "DDR cross-build support for AArch64 Linux"
This is a followup of #5221.
Cross-build for AArch64 Linux requires the `--disable-ddr` option at this point.
Add support for cross-building DDR.

[2020-03-10 13:06] pshipton opened #8815 "aix71-p8-8 and win2012r2-x86-5 are offline"
@jdekonin Pls take a look.

[2020-03-10 13:10] pshipton commented on #8768
Did something change, because while the 0.19.0 release builds yesterday afternoon still had this problem, the nightly builds did not. Later I'll check the test material sha's for differences.

[2020-03-10 13:17] pshipton commented on #8768
All the test shas look the same.

"bad" shas
[code]

"good" shas
[code]

[2020-03-10 13:19] pshipton commented on #8768
I'm re-running the 0.19.0 AIX system testing to see if it's working now.
https://ci.eclipse.org/openj9/job/Pipeline-Release-0.19.0-Build14/7/

[2020-03-10 14:04] smlambert commented on #8768
As mentioned above, I ran the getDependency job https://ci.eclipse.org/openj9/view/all/job/systemtest.getDependency/180 which had not run since Feb 27th (which fetched ASM 7.3), which means that the https://github.com/AdoptOpenJDK/openjdk-tests/pull/1668 PR that depends on a later version of ASM (7.3.1) would not work (which is likely at least one reason system tests at this server were unhappy).

[2020-03-10 14:14] wraschke commented on #7684
I had moved my organization to use OpenJDK 11.0.6+10 Openj9 0.18.1. I was really, really happy to no longer see the TransformerConfigurationException/ClassFormatError. However, then we started seeing ` Assertion failed at ... compiler/optimizer/InterpreterEmulator.cpp:208` that https://github.com/eclipse/openj9/issues/8548 is opened for and that https://github.com/eclipse/openj9/pull/8598 supposed

[2020-03-10 14:18] Mesbah-Alam commented on #8768
Thanks for running https://ci.eclipse.org/openj9/view/all/job/systemtest.getDependency , @smlambert !

I manually ran the equivalent job in runtimes jenkins only - need to run it in all the Jenkins instances after updating underlying scripts.

[2020-03-10 14:21] DanHeidinga commented on #7684
@wraschke's experience indicates this unfortunately isn't the case as the issue has reoccured on `0.18.1`.

@fjeremic @ChengJin01 Can you take another look at this?  Maybe `-XX:+IgnoreUnrecognizedVMOptions -Xjit:disableMethodHandleInlineWithoutPeeking` will make it more reproducible...

[2020-03-10 14:29] smlambert commented on #8768
I thought it used to run nightly at the openj9 server, but certainly no longer.  I will update its schedule to run regularly.

[2020-03-10 14:54] pshipton commented on #8403
Reopening for two reasons
- I need to double check the crash is no longer seen with #8771 merged.
- the fix was delivered to master after branching for the 0.20.0 release, it needs to be double delivered or possibly just pushed to the release branch.

[2020-03-10 15:11] Mesbah-Alam commented on #8768
If a required library is not found in the pre-staged libraries (getDependency build), the test build itself tries to fetch them, using wget.

Looking at the build output here: https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/573/consoleFull

The actual issue was that `wget` was not working on the AIX machines (unlike other platforms) :

[code]

[2020-03-10 15:14] pshipton commented on #8768
I thought the wget problem was restricted to a single machine, osx1011-x86-1.
https://github.com/eclipse/openj9/issues/8794

[2020-03-10 15:16] pshipton commented on #8768
I see, this wget problem is different. @jdekonin can you pls take a look.

[2020-03-10 15:33] a7ehuo commented on #8707
Reproduced the NPE with `-Xjit:optLevel=noOpt`. Compared the compilation logs from the jitserver and non-jitserver on `java/util/HashMap.getNode(ILjava/lang/Object;)Ljava/util/HashMap$Node` for `line:578`. Haven't found any difference.

[code]

[2020-03-10 15:41] jdekonin commented on #8815
I couldn't access either systems, so rebooted them from their respective UIs.  Both are back online

[2020-03-10 15:58] harryyu1994 commented on #8708
This is probably the actual failure, the rest of the output aren't very useful.
- failed to start client
- and the reason for that is the client triggered an NPE.
[code]

@ymanton I'm wondering what test is the client running?

[2020-03-10 18:55] dettmoney commented on #8607
I tried my test with the 03-09 nightly from adoptopenjdk - regression is gone and we've actually gained from the previous 232b09 level. This issue can be closed

[2020-03-10 18:55] #8607 closed

[2020-03-10 19:09] a7ehuo commented on #8800
Close. This issue is fixed by #8811.

[2020-03-10 19:10] #8800 closed

[2020-03-10 19:22] ChengJin01 commented on #7684
@DanHeidinga, I tried with the options as suggested above with `OpenJDK 11.0.6+10 Openj9 0.18.1`.  According to the test results, it is hard to see it can be easily reproduced but I did see the  `ClassFormatError` 3 times out of 6 runs as follows:
[code]

[2020-03-10 19:27] harryyu1994 commented on #8708
jit_jar_0 runs fine and should not cause any NPEs. Still can't produce locally.
I'm starting to believe that the NPE is triggered from the test and not from the client or the server..

[2020-03-10 19:28] pshipton opened #8821 "AIX builds are missing debug symbols"
Looking at the last nightly builds for AIX, there isn't any debug image artifact.

https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64_aix_Nightly/329/
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64_aix_Nightly/322/
https://ci.eclipse.org/openj9/job/Build_JDK14_ppc64_aix_Nightly/13/

Even when that is fixed, the debug image contains OpenJ9 debug symbols, but nothing from OpenJDK.

[2020-03-10 19:32] pshipton commented on #8403
Confirmed the crash no longer occurs.

[2020-03-10 19:37] DanHeidinga commented on #7684
@fjeremic is 3/6 sufficiently reproducible for you to make progress on this?

[2020-03-10 19:40] ymanton commented on #8708
Spoke to @harryyu1994 offline, but just for documentation purposes I'll mention it here as well.

The client is running the same thing as the `jit_jar` test, which is one of the existing JIT functional tests. The `jit_jar` test runs the `JarTester.java` program, which is a small test program that loads JAR files and compiles all of the code it finds. From the backtrace above it looks like the test

[2020-03-10 19:51] fjeremic commented on #7684
Depends on how reproducibility starts changing once we start limiting/adding tracing options. Given my earlier observations (https://github.com/eclipse/openj9/issues/7684#issuecomment-591045254), the method which @ChengJin01 identified via the limitfile was not compiled the only time I've been able to observe the exception. So we'll need to perform the limiting again. I'll get in touch with @Cheng

[2020-03-10 20:22] zerny opened #8823 "Incorrect runtime behavior"
Using jdk-11.0.6+10_openj9-0.18.1
Downloaded from https://adoptopenjdk.net/?variant=openjdk11&jvmVariant=openj9

Summary of problem
------------------

Running a valid program results in a call to a method of a different type.
The program contains code that has a formal parameter of type T and will later, after the formal parameter is "dead" reuse the local to store a value of a different type S.

[2020-03-10 20:27] DanHeidinga commented on #8823
@andrewcraik @cathyzhyi based on the description in https://issuetracker.google.com/issues/150155487 , I suspect this is a JIT bug.  Can you (or someone on your team) take a look?

[2020-03-10 20:44] harryyu1994 commented on #8708
I might be a little bit confused. So the JITServer test is responsible for starting a JITServer and a client (which runs the jit_jar test in this case). Can we tell from the backtrace if the NPE is actually from the client or from the JITServer test itself?

[2020-03-10 21:08] mpirvu commented on #8708
The NPE cannot be from the server because it does not run Java code

[2020-03-10 21:19] harryyu1994 commented on #8708
To clarify, by JITServer test I meant the test that was written in Java and not the JITServer.

[2020-03-10 21:21] keithc-ca commented on #8821
The default on AIX (at least for jdk11) is for `configure` to assume
[code]
which yields no separate (external) debug information files to be collected into a debug-image.

[2020-03-10 21:33] JasonFengJ9 commented on #8767
Another `AssertionFailedError` at an internal build `Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly/324`
[code]

[2020-03-10 21:38] JasonFengJ9 commented on #8511
Another manifestation of `testSCCacheManagement_0_FAILED` from an internal build `Test_openjdk11_j9_extended.functional_ppc64le_linux_Nightly/323`
[code]

[2020-03-10 21:44] harryyu1994 commented on #8708
Update: was able to reproduce the issue, going to try disabling client from compiling remotely to see if the issue persists.

[2020-03-10 21:47] pshipton commented on #8767
These are different problems from the original JITPROFILE related problem, they should be separate Issues.

[2020-03-10 21:53] hangshao0 commented on #8767
The failures in https://github.com/eclipse/openj9/issues/8767#issuecomment-597328932 are caused by no AOT being generated:

`AOT data length 0 code length 0 metadata 0 total 0`

[2020-03-10 22:13] pshipton opened #8825 "Compilation failing on AIX machines"
https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64_aix_Personal/456/
aix71-p8-9
[code]

https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64_aix_Personal/462
aix71-p8-5
[code]

**This one is different**
https://ci.eclipse.org/openj9/job/Build_JDK14_ppc64_aix_Personal/13
aix71-p8-2
[code]

I've removed the build label from AIX 2, 5 - 10 for now.

[2020-03-10 22:13] pshipton commented on #8825
@jdekonin

[2020-03-11 00:44] knn-k commented on #5221
DDR is enabled on native builds on AArch64 Linux.
The problem in cross builds is to be tracked by #8814.
Closing.

[2020-03-11 00:44] #5221 closed

[2020-03-11 00:48] knn-k commented on #8814
Problem with cross-build from #8331:
`HAVE_LIBDWARF_DWARF_H` and `HAVE_LIBDWARF_LIBDWARF_H` are undefined in the generated omr/include_core/omrcfg.h, while libdwarf-dev is available in the cross-compile environment.

[2020-03-11 10:32] ymanton commented on #8708
Yes we can tell that the NPE happens on the client. Note the text at the very top of the output, the JITServer test dumps client's stdout/stderr, which is where the NPE backtrace is.

[code]

I've opened #8775 to make it easier to tell which parts of the output are from the client or server, or the JITServer test harness itself.

[2020-03-11 13:17] jdekonin commented on #8825
Fixed missing or wrong permissions on freemarker.jar for 5, 7, 8 and 9.

Added java13 to 2, 7 and 9, confirmed all the others.
[code]

[2020-03-11 13:21] jdekonin commented on #8768
I can manually logon and run `wget https://repository.ow2.org/nexus/content/repositories/releases/org/ow2/asm/asm/7.3.1/asm-7.3.1.jar` on each machine aix71-p8-1 -> aix71-p8-10 without issues.

[2020-03-11 14:07] #8825 closed

[2020-03-11 14:09] pshipton opened #8827 "Many git fetch problems on zlinux machines"
Like https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.functional_s390x_linux_Nightly/32
I notice `ERROR: Reference path does not exist: $HOME/openjdk_cache`

See the #jenkins channel for all the failures. I tried to restart but many failed again.

[2020-03-11 14:10] pshipton commented on #8827
@jdekonin @AdamBrousseau

[2020-03-11 14:11] pshipton commented on #8827
Also like https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_Nightly/1369
[code]

[2020-03-11 14:13] Mesbah-Alam commented on #8768
[code]

Could this be similar to a LIBPATH issue as [this](https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/146#issuecomment-516529476)

[2020-03-11 14:28] pshipton commented on #8252
https://github.com/eclipse/openj9/pull/8568 has resolved the problem, no need to use a different repo.

[2020-03-11 14:28] #8252 closed

[2020-03-11 14:45] AdamBrousseau commented on #8827
Indeed the ref repos aren't there. Looking at the [update job](https://ci.eclipse.org/openj9/view/Infrastructure/job/Update-Reference-Repos), looks like it hasn't been running because the cron schedule was removed by [this change](https://github.com/eclipse/openj9/commit/f7795600acf895f1fc26a9d0d31406291f9e48ca). Likely intended to be manually configured, the issue is leaving the properties sectio

[2020-03-11 14:49] pshipton opened #8828 "Artifactory download failures"
Lately I've been seeing quite a few artifcatory download failures like the following.

https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.system_s390x_linux_Nightly/35/
[code]

[2020-03-11 14:49] pshipton commented on #8828
@smlambert @AdamBrousseau I think there is an issue at Adopt which is looking at fixing the retries?

[2020-03-11 14:53] harryyu1994 commented on #8708
Okay it was a JITServer client issue. I disabled remote compilation and the issue disappeared.

[2020-03-11 15:16] fjeremic commented on #7684
Repro rate with the following command was 3/10:

[code]

Console:

[code]

Going to continue limiting. This test took 3:40 hrs to finish.

[2020-03-11 15:24] AdamBrousseau commented on #8828
Dup AdoptOpenJDK/openjdk-tests#1667

[2020-03-11 15:25] hangshao0 commented on #8511
Seems that the cache file is accidentally deleted by another process.

`No file found at '/home/jenkins/javasharedresources/C290M15F1A64P_Foo_G41L00'`

[2020-03-11 15:45] hangshao0 commented on #8511
testSCCacheManagement_0 passed in the next Test_openjdk11_j9_extended.functional_ppc64le_linux_Nightly and Test_openjdkNext_j9_extended.functional_ppc64le_linux_Nightly builds.

[2020-03-11 15:47] cathyzhyi opened #8831 "Add StringUTF16.newBytesFor to always worth inlining list"
See https://github.com/eclipse/openj9/pull/8830#discussion_r391057675

[2020-03-11 16:26] fjeremic commented on #7684
Repro rate with following command was 2/3 (stopped early runs so we can move on):

[code]

Console:
[code]

[2020-03-11 16:37] AdamBrousseau commented on #8827
Job running now to update all the repos
https://ci.eclipse.org/openj9/view/Infrastructure/job/Update-Reference-Repos/504
PR #8829 will need to be merged and the schedule will need to be turned back on.

[2020-03-11 17:09] harryyu1994 commented on #8708
optLevel=cold seems to be fine.
optLevel=hot is bad. Looking into client output.

[2020-03-11 17:49] cathyzhyi commented on #8823
@zerny Hey Ian, I followed the instructions and tried with
`GRADLE_USER_HOME=tmp/ ./gradlew clean :app:assembleDebug --no-build-cache --stacktrace` and got the following error:
[code]
Am I missing something? Thanks!

[2020-03-11 18:24] pshipton commented on #8815
win2012r2-x86-5 doesn't seem healthy, it stopped responding again and is offline.
https://ci.eclipse.org/openj9/job/Build_JDK14_x86-64_windows_Nightly/35

[2020-03-11 18:34] pshipton commented on #8827
Let me know when the schedule is added, and then I will close.

[2020-03-11 18:37] pshipton commented on #8511
Let's close this since it is a rare occurrence, and revisit if it starts to occur often.

[2020-03-11 19:08] AdamBrousseau commented on #8827
Added for noon on Suday

[2020-03-11 19:52] #7088 closed

[2020-03-11 20:23] pshipton opened #8833 "AIX is missing .debuginfo for libj9jit29"

[2020-03-11 20:26] pshipton opened #8834 "Windows jdk8 is putting .diz files into the debug image"
See https://github.com/eclipse/openj9/pull/8808#issuecomment-596830968
Trying to configure with `--disable-zip-debug-info` on Windows results in
[code]

[2020-03-11 20:36] #8827 closed

[2020-03-11 20:55] a7ehuo commented on #8707
Many thanks to the suggestion from @ymanton and @mpirvu, the difference between jitserver and non-jitserver is narrowed down with method `java/util/HashMap.resize()[Ljava/util/HashMap$Node;` `-Xjit:noOpt,disableAllocationInlining`, to when it writes barrier info in `Performing Instruction Selection`.
[code]
[code]

non-jitserver calls `J9::X86::TreeEvaluator::VMwrtbarRealTimeWithoutStoreEvaluator(

[2020-03-11 21:31] amicic commented on #7005
I had a deeper look and indeed we have sub-optimal behavior:
when we have LOA (Large Object Area - a part of Tenure that helps mitigate problems due to heap fragmentation), even if it's empty we'll limit contraction size to the size of LOA.

LOA is 5% Tenure at the start of a run, but after some time, if we see it's underutilized we contract it, but we still keep it at min 1%.

To avoid this limit

[2020-03-11 22:02] jdekonin commented on #8375
ipv6 appears to be enabled on these machines.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Personal/2/console
jdk_net_0 and jdk_nio_0 fail.

multicast is disabled by default on osx, but using this as a [guide](https://blogs.agilefaqs.com/2009/11/08/enabling-multicast-on-your-macos-unix/).   I have it working on osx1014-x86-3, at least from an os level u16 x86 to osx

[2020-03-11 23:50] mpirvu commented on #8707
We can either make `TR::Options::_realTimeGC` a non-static field and change `TR::Options::getCmdLineOptions()->realTimeGC()` to comp->getOptions()->realTimeGC() or just introduce a limitation: JITServer does not support RealTime mode (if RealTime mode, then never issue requests remotely).
If it's not too much work, the first approach is preferable.

[2020-03-12 00:38] shahriarsust commented on #7005
Thank you very much, Btw, if tenure size is increased, we need to wait for a global gc for contraction. And my understanding is, global gc is not triggered unless the tenure size is almost full. One of our service's used memory grows very slowly, so the global gc is very non frequent. Can you suggest, any way to address the problem with calling explicit gc's ?

[2020-03-12 01:07] mpirvu opened #8836 "Double read in KnownObjectTable at JITServer"
Recent implementation of Known Object Table support for JITServer contains a bug in `J9::KnownObjectTable::getIndexAt(uintptrj_t *objectReferenceLocation)` in that it attempts to read twice the same piece of data.
[code]

[2020-03-12 07:08] zelix0 opened #8838 "Assertion failed : Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1)"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Windows 8.1 amd64-64-Bit Compressed References 20200122_442 (JIT enabled , AOT enabled)
OpenJ9   - 51a5857d2
OMR      - 7a1b0239a
JCL      - da35e0c380 based on jdk-11.0.6+10)

**Summary of problem**
--

[2020-03-12 09:41] M-Davies commented on #8637
Have kicked off another grinder in case the one above expires before @r30shah has a chance to look at it https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2482/

Have also kicked one off for `java/nio/channels/SocketChannel/CloseDuringWrite.java` (seen on JDK14-openj9-macXL last night) https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2483/

[2020-03-12 11:10] gavra0 commented on #8823
Hi @cathyzhyi! It is most likely that you are missing AndroidSDK which is required in order to run the build. You can specify path to the SDK by updating `$project_root/local.properties` file and changing `sdk.dir=<path_to_sdk>/Android/Sdk`.

In order to download the AndroidSDK, you can do the following:
- download any version of AndroidStudio (https://developer.android.com/studio)
- launch SdkMan

[2020-03-12 12:49] pshipton commented on #8548
This should be completely fixed by https://github.com/eclipse/openj9/pull/8598. In advance of the 0.20.0 release in April, it can be verified by using a Nightly build from AdoptOpenJDK.net.

[2020-03-12 12:49] #8548 closed

[2020-03-12 12:50] pshipton commented on #8838
This should be completely fixed by #8598. In advance of the 0.20.0 release in April, it can be verified by using a Nightly build from AdoptOpenJDK.net.

[2020-03-12 13:00] mpirvu opened #8839 ""expecting non-private symref but found private symref" assert with JITServer"
Running sanity locally, the server tripped this assume
[code]

`compiling com/sun/org/apache/xerces/internal/impl/XMLDocumentFragmentScannerImpl$FragmentContentDriver.next()I at level: cold
`

gdb does not show a useful trace.
From the vlog collected at the server it appears to happen at the beginning of the client JVM (seqNo=149)
[code]

[2020-03-12 13:03] pshipton opened #8840 "Cannot build on aix71-p8-5, Symbol resolution failed for libmawt.so"
ci.role.build label removed.

https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64_aix_Nightly/331/
[code]

[2020-03-12 13:06] pshipton opened #8841 "com.ibm.j9ddr.tools.ClassGenerator should not depend on FileImageInputStream"
See https://github.com/eclipse/openj9/issues/8840
[code]

[2020-03-12 13:06] pshipton commented on #8840
@jdekonin

[2020-03-12 13:07] r30shah commented on #8637
I have opened up PR with fix (https://github.com/eclipse/omr/pull/4926), waiting for the personal testing to be finished so I can ask to review.

[2020-03-12 13:31] keithc-ca commented on #8841
This may require large-scale backward-incompatible changes to DTFJ.

[2020-03-12 13:35] pshipton opened #8842 "AIX OOMs in extended.system SharedClasses MultiThread testing"
"java/lang/OutOfMemoryError" "Failed to create a thread: retVal -1073741830, errno 11"
11 EAGAIN The limit on the number of threads per process has been reached.
-1073741830 == 0xBFFFFFFA, negated is 0x40000006
J9THREAD_ERR_THREAD_CREATE_FAILED 6
J9THREAD_ERR_OS_ERRNO_SET 0x40000000

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_ppc64_aix_Nightly/311/
aix71-p8-4
SharedClasses

[2020-03-12 13:53] pshipton commented on #8842
@jdekonin could the machines have changed, this doesn't seem to have been caused by a JVM or test change.

[2020-03-12 14:07] pshipton commented on #8842
Ah, nm, I missed a change, this is caused by https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/272
@zl-wang @shanchao95
Zulian, this seems problematic. Is it expected that "MALLOCOPTIONS=multiheap,buckets" would reduce the number of threads that can be created?

[2020-03-12 14:08] rpshukla commented on #8635
I ran MathLoadTest_autosimd_special_27 100x in grinder with the above options and saw no failures.

[2020-03-12 14:12] cathyzhyi commented on #6552
assigned to @rpshukla

[2020-03-12 14:26] 0xdaryl opened #8843 "Include AArch64 in 0.20 release"
Include support for OpenJ9 on AArch64 for JDK11 for compressed and large heap builds.

[2020-03-12 14:32] zl-wang commented on #8842
no, not aware of that.  especially, it doesn't make sense for 64bit.  let me post a question to AIX folks.

[2020-03-12 14:43] dnakamura commented on #8183
Windows regressions have gone away. Re-ran all other platforms and they are still looking ok with the changes. Looking into the aix footprint, looks like the issue is the size of the jit library. Going over the compile/link options there to figure it out

[2020-03-12 14:45] fjeremic commented on #7684
Repro rate with following command was 0/10 which is expected given the earlier limiting found 6251 to be the problematic index. I'll gear the runs towards that index again to see if we can converge.

[code]

[2020-03-12 14:51] zl-wang commented on #8842
i assumed errno==4 being returned upon pthread_create call?   according to the message above

[2020-03-12 14:56] pshipton commented on #8842
Why 4 (INTR)? pthread_create is returning 11 (EAGAIN), which is "The limit on the number of threads per process has been reached.".

We did see a similar problem creating threads because of the data limit, but we modified the VM to get the data soft limit to the hard limit.
https://github.com/eclipse/openj9/pull/8367

[2020-03-12 14:57] MariusVolkhart commented on #8773
Thanks for the response @DanHeidinga . I appreciate the position you are in, and that you took the time to respond. Having a project member indicate the likelihood of this feature is helpful. I'm going to close this issue.

Thank you all for the work you're doing on the VM and the talks you give detailing the inner workings! I'm excited for OpenJ9 to see more usage.

[2020-03-12 14:57] #8773 closed

[2020-03-12 15:06] zl-wang commented on #8842
i was looking at  "J9THREAD_ERR_OS_ERRNO_SET 0x40000000"   ...  implying 4 seemed.

[2020-03-12 15:07] zl-wang commented on #8842
cryptic error message

[2020-03-12 15:30] DanHeidinga commented on #8773
Thanks for the kind words @MariusVolkhart.

If you, or anyone, wants to contribute hw & time to bring up a new platform we can work together to make that happen.

[2020-03-12 15:33] mpirvu commented on #8839
Another instance. This time the VMState and method have changed:
[code]
Stack trace:
[code]

[2020-03-12 15:51] gacholio opened #8847 "Runtime compressed references"
Runtime compressed references is a new feature which will allow a single VM to operate in compressed and non-compressed mode, as opposed to the current solution which packages two separate VMs and switches them via the redirector.

The upshot of this is that compile-time checks for compressed references are no longer allowed. This document will provide a guide for migrating to the runtime strategy

[2020-03-12 15:59] fjeremic commented on #7684
Repro rate with following command was 1/1 (killed early to make progress):

[code]

[2020-03-12 16:11] zl-wang commented on #8842
AIX kernel folks responded:
pthread_create returns EAGAIN for exceeding the thread count ulimit or failure to allocate (malloc) memory for internal pthread data structures.

I would say:
Let's dig a little deeper into the javacore file:  what is the ulimit? how many threads are currently active?

short of ulimit issue, it is unimaginable that malloc failed for 64bit.

if we can limit good & bad dr

[2020-03-12 16:14] zl-wang commented on #8842
by the way, default is 32 heaps (max as well) without :n.

[2020-03-12 16:20] mpirvu commented on #8699
@chrisc66 Could you please work on this item and implement solution (3) and (2) as described above? Thanks

[2020-03-12 16:31] smlambert commented on #8684
FYI, ci.adoptopenjdk.net is being upgraded and rebooted today (to address some of these recent issues).
The openj9 crashes that were causing the artifact bloat is also addressed.

There are workarounds for this jtreg failure if people are drastically affected (though I will imagine its less so at the openj9 server, as Pete mentioned, not running openjdk tests regularly at openj9 yet).

[2020-03-12 16:48] JasonFengJ9 commented on #8684
A quick note that this failure wasn't seen in recent internal builds.
Will close if it stays that way for next day or two.

[2020-03-12 16:50] chrisc66 commented on #8699
Thanks, I will look into this issue.

[2020-03-12 16:54] zl-wang commented on #8842
I do see buckets option later on. Let's play with/without it as well ... for example:
MALLOCOPTIONS=multiheap:4,buckets

[2020-03-12 18:30] pshipton opened #8849 "Create some Ubuntu 18 machines for x, p, z"
We'd like to have some Ubuntu 18.04 LTS machines available for testing the GC double mapping feature. What I'm thinking initially is to convert 2 UB16 machines for each platform to UB18. These machines cannot be used for build, only for test. Build machines for x, z are CentOS/RHEL anyway, and p will be there soon.

[2020-03-12 18:31] pshipton commented on #8849
@DanHeidinga @amicic @bragaigor @jdekonin @AdamBrousseau

[2020-03-12 18:32] a7ehuo commented on #8707
I'll look into the implementation of the first approach.

[2020-03-12 19:19] #6846 closed

[2020-03-12 19:27] AlenBadel commented on #8798
Closing issue as Z/OS JDK11 is not fully supported.

[2020-03-12 19:27] #8798 closed

[2020-03-12 19:31] #8836 closed

[2020-03-12 19:48] smlambert commented on #8684
That failure will only occur when the AdoptOpenJDK Jenkins server is down (which should be never, but has happened recently due to storage issues).  The first of 2 actions to address the storage issue has been delivered today, the 2nd will be delivered after this months release is completed, so the server should be even more solid after that.

[2020-03-12 19:54] amicic commented on #7005
If application is still somewhat active and triggers Scavenges (local GCs) frequently enough you can instruct Scavenge to 'percolate' to global GC after a fix number of Scavenges  since previous GC. For example for 100 scavenges you provide: -Xgc:maxScavengeBeforeGlobal=100. That global is same type of global (hence Concurrent, not STW as Explicit GCs are) is if it was initiated due low Tenure fre

[2020-03-12 19:55] JasonFengJ9 commented on #8684
@smlambert thanks for the insights.
Closing.

[2020-03-12 19:55] #8684 closed

[2020-03-12 19:56] fjeremic commented on #7684
Repro rate with following command was 5/7 (killed early to make progress):

[code]

Console:

[code]

[2020-03-12 20:05] jdekonin commented on #8849
I'll add it to my todo list.

[2020-03-12 20:39] jdekonin commented on #8768
I'm not sure performing the same actions on the OpenJ9 machine wrt combining libraries is the right path forward.  Adding /opt/freeware/lib to the LIBPATH I am fine with testing out.  I have test build going now just to make sure that the change won't impact compile or test pipelines.

[2020-03-12 21:12] jdekonin commented on #8840
JDK8 manual compile is the basic test performed when this machine was initially setup a few weeks ago???

Anyways, (1)`yum reinstall libXrender`.  didn't resolve the issue with a retested jdk8 compile.  (2) replaced the jdk7 sdk didn't work either.

[2020-03-12 23:47] shahriarsust commented on #7005
Thanks, btw can you also suggest how to increase the contraction limit, why it does not respect the xminf and xmaxf ?

[2020-03-13 00:05] knn-k commented on #8762
Tests need to be re-enabled.
Related: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1675

[2020-03-13 02:33] harryyu1994 commented on #8708
Interestingly I'm able to reproduce with crash with a build from adoptopenjdk but not my own(on the same machine). I wonder what's different there.

[2020-03-13 02:57] pshipton opened #8853 "JDKnext builds fail, ClassLoader.loadLibrary() method missing"
Acceptance builds for JDKnext are failing.
https://ci.eclipse.org/openj9/job/Build_JDKnext_s390x_linux_OpenJDK/180/
https://ci.eclipse.org/openj9/job/Build_JDKnext_ppc64le_linux_OpenJDK/178/
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_windows_OpenJDK/184/
cancelled the rest, disabled JDKnext acceptance until fixed.
[code]

[2020-03-13 03:14] knn-k commented on #7462
All the `Nestmate_virtual_private_*` tests in sanity.functional pass now.
Closing.

[2020-03-13 03:14] #7462 closed

[2020-03-13 04:58] zelix0 commented on #8838
**Retested with openjdk version "11.0.7" 2020-04-14**
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7+6-202003120047) Eclipse OpenJ9 VM AdoptOpenJDK (build master-c209fa52b, JRE 11 Windows 8.1 amd64-64-Bit Compressed References 20200311_496 (JIT enabled, AOT enabled)
OpenJ9   - c209fa52b
OMR      - b03105e81
JCL      - 7d1badbc1c based on jdk-11.0.7+6)

**Now getting the following NullPoint

[2020-03-13 10:03] M-Davies commented on #8373
This is also occurring at Adopt. Last nights [JDK14/j9/aix](https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_ppc64_aix/19/) run
[code]

[2020-03-13 11:41] JasonFengJ9 commented on #8853
Will have a look.

[2020-03-13 13:00] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/304
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-03-13 13:39] wraschke commented on #7684
With `-XX:+IgnoreUnrecognizedVMOptions -Xjit:disableMethodHandleInlineWithoutPeeking` I can get the ClassFormatError (first attempt on a few of my tests) _plus_ the following:

[code]

[2020-03-13 13:45] DanHeidinga commented on #8838
fyi @andrewcraik @cathyzhyi

[2020-03-13 13:55] pshipton commented on #8842
https://ci.eclipse.org/openj9/view/Test/job/Grinder/666 - multiheap,buckets - failed

https://ci.eclipse.org/openj9/view/Test/job/Grinder/661 - multiheap:4 - passed
https://ci.eclipse.org/openj9/view/Test/job/Grinder/662 - multiheap:4,buckets - passed
https://ci.eclipse.org/openj9/view/Test/job/Grinder/663 - multiheap:8 - passed
https://ci.eclipse.org/openj9/view/Test/job/Grinder/664 - multiheap:8

[2020-03-13 14:18] fjeremic commented on #7684
@wraschke how long does your test take to execute? Is it self contained?

[2020-03-13 14:20] fjeremic commented on #7684
Repro rate with following command was 9/10:

[code]

Console:

[code]

[2020-03-13 14:24] zl-wang commented on #8842
16 and 16,buckets passed too.  could you launch explicit 32 and 32,buckets build/tests?

[2020-03-13 14:31] zl-wang commented on #8842
for pinning down the symptom, maybe it is good to launch 24,buckets ...  28,buckets, and 29/30/31,buckets.  Let's see when it cracks.

[2020-03-13 14:46] chrisc66 commented on #8699
Looks like this is a OMR code, a pull request will be opened to OMR repo once finished.

There is only one reference of `numConcreteClasses` function at `if (searchSucceeded && numConcreteClasses(&subClasses) < 2 && rvm)`. I am going to modify this function directly as suggested in (2), so that it returns true once two concrete classes are found.

Looking into (3), we want JITServer to scan the li

[2020-03-13 15:15] harryyu1994 commented on #8708
Server crash coredump:
[code]

[2020-03-13 16:53] mpirvu commented on #8699
You create a frontend query from `numConcreteClasses()`, something called `noMultipleConcreteClasses(classList)` and override that at the server

[2020-03-13 17:08] wraschke commented on #7684
@fjeremic no, it's not self-contained. This test runs as part of an automated build which can take several hours to complete. During my debugging I've done with Cheng, I've tried running tests locally but could not recreate the ClassFormatError or any exception.

Maybe a run with those flags could help.

[2020-03-13 17:10] a7ehuo commented on #8707
For solution one, a few files as below in OpenJ9 need to be updated to use `comp->getOptions()->realTimeGC()`. OMR code already accesses `_realTimeGC` through the Compilation object options.

[code]

However, `Options::_realTimeGC` might still need to be kept as `static` due to the usage of it in the following files when the Compilation object doesn’t exist.

Meanwhile during my test, I'm seeing `

[2020-03-13 17:20] fjeremic commented on #7684
Repro rate with following command was 3/5 (killed early to make progress):

[code]

Console:

[code]

[2020-03-13 17:20] mpirvu commented on #8707
`TR::Options::getCmdLineOptions()` resolves to the `global` options object so we can still make _realTimeGC field as non-static

[2020-03-13 17:22] mpirvu commented on #8707
Note that we can safely use `TR::Options::getCmdLineOptions()` in all places that are not used by JITServer (most code in HookedByTheJIT.cpp, rossa.cpp etc)

[2020-03-13 17:27] mpirvu commented on #8707
I checked the places in CompilationThread.cpp and HookedByTheJIT.cpp and we should be fine

[2020-03-13 18:30] pshipton commented on #8842
https://ci.eclipse.org/openj9/view/Test/job/Grinder/671 - multiheap:32 - passed
https://ci.eclipse.org/openj9/view/Test/job/Grinder/672 - multiheap:32,buckets - failed
https://ci.eclipse.org/openj9/view/Test/job/Grinder/673 - multiheap:28,buckets - passed
https://ci.eclipse.org/openj9/view/Test/job/Grinder/674 - multiheap:24,buckets - failed

I'm only running one iteration of each test. Now 24,buc

[2020-03-13 18:58] harryyu1994 commented on #8708
It looks like this change fixes it (https://github.com/eclipse/openj9/pull/8811)
We are missing the JITServer remote calls for `getByteOffsetToLockword()` and `getInitialLockword()`.
This also explains the reason why I can't reproduce it locally as I'm using the latest build that already has the fix while this change hasn't been propagated to Adopt yet.

I will come back to verify when Adopt has t

[2020-03-13 19:03] harryyu1994 commented on #8806
This change (https://github.com/eclipse/openj9/pull/8811) will likely fix all the testJITServer failures. I will verify once Adopt gets it in its builds.

[2020-03-13 19:15] cathyzhyi commented on #8823
Hey @gavra0 , do I need to install the android studio to reproduce the problem? Or I only need the SDK?

[2020-03-13 19:33] zl-wang commented on #8842
that seemed indicating EAGAIN can happen unpredictably, depending on timing, for pthread_create call.  assuming the same number of threads created in each run, that leaves only one possibility that virtual or data memory ulimit is exceeded unpredictably with massive concurrent malloc/free going on.  it could be momentarily exceeded though.

32,buckets failed around 14700 threads; while 24,buckets

[2020-03-13 19:38] zl-wang commented on #8842
https://ci.eclipse.org/openj9/view/Test/job/Grinder/666  (effectively  32,buckets)  failed around 17400 threads, while the later 32,buckets run failed around 14700 threads.  indeed, it is unpredictable.  my theory seemed standing ...

[2020-03-13 19:49] pshipton commented on #8842
https://ci.eclipse.org/openj9/view/Test/job/Grinder/676 - multiheap:16,buckets x 3 - passed
https://ci.eclipse.org/openj9/view/Test/job/Grinder/677 - multiheap:20,buckets x 3 - passed
https://ci.eclipse.org/openj9/view/Test/job/Grinder/678 - multiheap:22,buckets x 3 - passed

[2020-03-13 19:49] zl-wang commented on #8842
if all are unlimited, we might need to bring it forward to AIX kernel team.  Logically at least.  Depending on how to interpret EAGAIN.

[2020-03-13 19:53] #8834 closed

[2020-03-13 20:03] pshipton commented on #8842
From https://ci.eclipse.org/openj9/view/Test/job/Grinder/674 - multiheap:24,buckets javacore
[code]

[2020-03-13 20:12] zl-wang commented on #8842
it is likely RSS being exceeded momentarily.   didn't see "virtual memory"  (-v)  though.

[2020-03-13 20:18] zl-wang commented on #8842
make RSS unlimited and retry ...

the eventual fix can go:  without  ,buckets.  need to confirm with performance benefit/data of ",buckets" from security test cases.

[2020-03-13 20:27] pshipton commented on #8842
Is there a particular setting I should try with RSS unlimited?

So I'll try a run with `MALLOCOPTIONS=multiheap` then?

[2020-03-13 20:48] zl-wang commented on #8842
ulimit -m unlimited  (for RSS unlimited)

yes, we can try a few multiheap alone runs.

[2020-03-13 20:58] amicic commented on #7005
xminf and xmaxf are respected. But the 'rate' at which we get into those ranges may be 'moderated'.

Say xminf and xmaxf are 30% and 60%, respectively. As long as free space in Tenure (after Global GC) is within this range we don't resize Tenure. If there is a large sudden change in liveness and free space jumps to 90%, we will not contract Tenure in that same Global GC directly to 60, but in a fe

[2020-03-13 21:01] pshipton commented on #8842
yes, but with which testcase, `multiheap:24,buckets`?

[2020-03-13 21:10] zl-wang commented on #8842
yes, with any of the previously failing setting(s), e.g.  multiheap,buckets

[2020-03-13 21:10] pshipton commented on #8842
With ulimit -m unlimited:

https://ci.eclipse.org/openj9/view/Test/job/Grinder/679 - multiheap:24,buckets x 3
https://ci.eclipse.org/openj9/view/Test/job/Grinder/680 - multiheap:32,buckets
https://ci.eclipse.org/openj9/view/Test/job/Grinder/681 - multiheap,buckets

Without changing ulimit:
https://ci.eclipse.org/openj9/view/Test/job/Grinder/682 - multiheap x 3

[2020-03-13 21:45] JasonFengJ9 opened #8862 "openjdk14_j9_extended.system_ppc64_aix SharedClasses.SCM01.MultiThread_0_FAILED StackOverflowError"
Failure link
------------

From an internal build `Test_openjdk14_j9_extended.system_ppc64_aix_Nightly/39`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
04:24:27  https://ci.adoptopenjdk.net/job/Gr

[2020-03-13 21:49] JasonFengJ9 commented on #8493
From an internal build `Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/279`
[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
04:24:50  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=x86-64_windows&TARGET=ConcurrentLoadTest_0

[2020-03-13 23:41] gavra0 commented on #8823
You only need the Android Sdk, and you should be able to reproduce by
building from the command line. Android Studio is not necessary, it was
just a suggestion on how to download the SDK components.

On Fri, Mar 13, 2020, 7:15 PM Yi Zhang <notifications@github.com> wrote:

[2020-03-14 20:12] 0xdaryl opened #8865 "Runtime GC map checking?"
While implementing another feature I stumbled upon a couple of features (presumably related to each other) implemented on x86 only: 1) RTGCMapCheck (enabled via the `rtGCMapCheck` option) and 2) dead slot poisoning (enabled via the `deadSlotPoisoning` option).  The first presumably does a GC map verification at runtime.  It looks to trigger a stack walk at async check points, inspects the I-slots

[2020-03-14 20:41] 0xdaryl commented on #8675
I've decided to remove this.  If it has been in the codebase for 6+ years and no one either knows of its existence nor ever felt the need to implement something with similar functionality in order to diagnose a problem in the time since then I feel this is technical debt we don't need.

[2020-03-15 14:35] pshipton commented on #7088
This is still failing in the 0.20.0 release builds. @vijaysun-omr should the fix be applied to the release?

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Release/5
MauveMultiThreadLoadTest_special_26

[2020-03-15 15:39] pshipton commented on #8842
Updated results in the previous comment.

[2020-03-15 20:25] pshipton opened #8866 "JIT crash vmState=0x00000000 x86 mauve -Xjit:count=0 -Xaggressive"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Personal/83
MauveMultiThreadLoadTest_special_22
variation: Mode688
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xjit:count=0 -Xgcpolicy:gencon -Xaggressive -Xconcurrentlevel0
[code]

[2020-03-15 21:43] pshipton opened #8867 "ub16p8j96 (offline)"
Disconnected by adam.brousseau88@gmail.com
[code]

[2020-03-15 21:43] pshipton commented on #8867
@AdamBrousseau @jdekonin

[2020-03-15 21:45] pshipton commented on #8815
@jdekonin reminder win2012r2-x86-5 is offline. It didn't last long after the last reboot.
[code]

[2020-03-15 21:58] AdamBrousseau commented on #8867
The errors in the log are unrelated to why I had it offline. Sorry I forgot to put it back in the pool. The hosts file is hacked right now so the tests will fail to fetch sdks. I will resolve this tomorrow.

[2020-03-16 00:34] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_linux_xl_Release/6
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-03-16 02:33] Akira1Saitoh opened #8869 "JIT: Local Value Propagation incorrectly removes nodes"
Java -version output
--------------------

[code]

Summary of problem
------------------

Local Value Propagation incorrectly creates a constraint that a certain `aloadi` node is NULL (which is not actually NULL), and removes nodes after `NULLCHK` of that node.
I found this while investigating OpenJDK test failure for aarch64 (https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch6

[2020-03-16 02:33] Akira1Saitoh commented on #8869
@0xdaryl @knn-k FYI

[2020-03-16 03:28] DanHeidinga commented on #8866
fyi @andrewcraik

[2020-03-16 11:39] M-Davies commented on #8619
This is also affecting adopt testing. Seen on JDK8/J9/ppc64le_linux/[sun/nio/cs/TestUTF8.java](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux/148/)
[code]

[2020-03-16 11:48] M-Davies commented on #6698
Perm excluding due to linked issue comment https://github.com/eclipse/openj9/issues/7124#issuecomment-565446631

[2020-03-16 11:48] #6698 closed

[2020-03-16 11:51] vijaysun-omr commented on #7088
This problem has been there for some time as this issue attests; having said that, the fix is not very involved and so it could be included in 0.20.

[2020-03-16 11:54] JBKingdon commented on #8865
Hi Daryl,

These aren't features I've used although I remember Kevin talking about them. Problems with bad object references are a significant fraction of our workload, and are extremely difficult to solve. I think it would be really useful to identify what the limitations of these features were and find a way of providing more capable diagnosis tooling for this class of problems. Early detection

[2020-03-16 12:21] DanHeidinga commented on #8619
@M-Davies Can you provide a link to the failing adopt build?  The core files are often zipped up as part of the build artifacts which gives us something to investigate.

fyi @amicic - if we get cores, can someone on the gc team take a look?

[2020-03-16 12:32] lumpfish opened #8870 "JTReg Test Failure: java_lang_invoke_VarHandles_VarHandleTestAccessString.java"
Link to failing job:  https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_x86-64_mac/28/

Test failed on jdk14 GA build:
[code]
May be intermittent (the test has not failed on later nightly jdk14 builds, though they build with openj9 master, not the openj9-0.19.0 tag).

Only seen in the GA build on x86-64_mac.

Test output for the failure:
[code]
Can be rerun via https://ci.adoptopenj

[2020-03-16 12:38] pshipton commented on #8870
Looks like a dup of https://github.com/eclipse/openj9/issues/7247

[2020-03-16 12:39] DanHeidinga commented on #8870
@pshipton I don't see `__findenv` in the output.... did you find it in the test results?

[2020-03-16 12:42] pshipton commented on #8870
No. I see what you mean, `Symbol=resolveStaticFieldRefInto`

[2020-03-16 12:48] DanHeidinga commented on #8870
@andrewcraik @cathyzhyi Can someone take a look at this crash in the 0.19.0 release stream?

[2020-03-16 13:06] pshipton commented on #7088
Is it likely to affect a user?

[2020-03-16 13:19] smlambert commented on #8619
Morgan linked to it in his comment, here again:
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux/148/

[2020-03-16 13:23] smlambert commented on #8619
Test artifacts uploaded to https://ibm.ent.box.com/folder/107041897694 for convenience.

[2020-03-16 13:25] vijaysun-omr commented on #7088
Unlikely, given that the problem has been around for a while and no user has complained.

[2020-03-16 13:30] lumpfish opened #8872 "JTReg Test Failure jdk11 winXL: java/util/zip/ZipFile/TestCleaner.java"
Failure link: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_xl/159/console

Occurred on winXL jdk11 milestone 1 build:
[code]
Rerunning in a grinder to ascertain whether it is intermittent.

Test output for the failing test:
[code]

Test can be rerun via: https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM

[2020-03-16 13:45] jdekonin commented on #8815
win2012r2-x86-5 reboot once again.

[2020-03-16 13:47] andrewcraik commented on #8866
That backtrace is garbage given the offsets on the symbols. This looks a bit like something @liqunl and/or @dsouzai were looking at just based on the weird backtrace. That being said we need to get the core loaded in windbg to try and figureout where the crash really happened since the printed trace is not accurate.

[2020-03-16 13:47] pshipton commented on #8866
Note we now have a debug image artifact on the JVM build that can be used to look at the core file and see where the crash occurred.
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Personal/653/

[2020-03-16 14:16] pshipton commented on #8866
Unfortunately this jdk8 debug image still contains .diz files. These are zipped up .pdb files and .map files that have to be unzipped before the debugger will find them. It's WIP to fix this, but should be resolved shortly in newer builds.

[2020-03-16 14:47] keithc-ca commented on #8797
Where is the code that would need to change if we decided to support both kinds of names?

[2020-03-16 14:48] pshipton opened #8874 "Run testing at OpenJ9 with debug symbols"
When crashes occur running tests at the OpenJ9 project, some platforms include native stack traces in the crash output. However since there are no debug symbols included with the JVM, the native stack traces usually aren't helpful. We should have the debug symbols included by default for tests running at the OpenJ9 project in order to make the crash output more useful, help triage go faster.

Most

[2020-03-16 14:48] pshipton commented on #8874
@DanHeidinga @keithc-ca

[2020-03-16 14:50] pshipton commented on #8874
It would also be useful if the testing at AdoptOpenJDK also had the debug symbols included by default.

[2020-03-16 14:59] AdamBrousseau commented on #8797
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/pipeline-functions.groovy#L749
This code translates short spec names into full spec names.

[2020-03-16 15:15] DanHeidinga commented on #8874
@smlambert @llxia Is one of these options easier to do in the context of Test playlists?

Some thoughts:

To have the tests include them, the workflow would probably be something like:
* download jdk
* download matching debug image
* extract jdk
* extract debug image over jdk to put debug libs in the right place

Would this require passing in additional options to TKG to indicate where the to get

[2020-03-16 15:22] andrewcraik commented on #8758
The OMR IL Validator fails on OpenJ9 trees at present. Part of this is because of some ilformed trees that OpenJ9 relies on and, in some cases, because of limitations in the verifier that need to be handled. There are two tree verifiers - a legacy verifier (which is what OpenJ9 currently runs) and the newer, more complete and extensible verifier added to OMR by @Leonardo2718 et al and which is exp

[2020-03-16 15:23] amicic commented on #8619
Downloaded and looking now (but I don't have @dmitripivkine's debug skills).

From VM state and the stack trace provided above, it's clear that we are doing class unloading and crashing in JIT code (JIT hook registered to GC class unloading event).

GC check reports several 'class is unloaded' errors, but I guess, it's probably normal given the phase we are in.

[2020-03-16 15:27] fjeremic commented on #7684
Repro rate with following command was 10/10:

[code]

Console:

[code]

[2020-03-16 15:36] AlenBadel opened #8876 "Remove Porttests from pltest"
Many of the J9 Porttests have already been migrated to OMR. This issue is to verify that porttest coverage is fully implemented within OMR, and migrate any tests that have not been migrated. Any coverage that may have some sort of Java Spec should not be migrated, and should remain in `Pltest`. Finally with the removal of these tests the OMR standalone test `omrporttest` will need to be added to S

[2020-03-16 15:39] AlenBadel commented on #8876
FYI @smlambert @pshipton

[2020-03-16 15:54] M-Davies commented on #8596
Excluding in https://github.com/AdoptOpenJDK/openjdk-tests/pull/1679

[2020-03-16 16:01] smlambert commented on #8874
We already often have to go pick the native test images that are built, can the debug image be included in that gzip file?  In that way, there are less additional steps required to the workflow.

[2020-03-16 16:04] wraschke commented on #7684
Is this 100% recreation rate pointing to a major clue about where this bug is? And how to fix it?

[2020-03-16 16:07] fjeremic commented on #7684
No, it seems JIT related but the issue is seen after the JIT method executes, and we have no idea what in the JIT method is causing things to go wrong. We can go on a wild hunt into the assembly but there are other ways to limit it down.

[2020-03-16 16:11] pshipton commented on #8874
Certainly the debug image can be combined with the test image, although if it's specific to OpenJ9 I don't think having it separate is much different.

[2020-03-16 16:14] dnakamura commented on #8183
Been sick the last few days, so I've had limited bandwidth. However I have identified an issue where exports were not properly identified for the jit on aix. After fixing both footprint and startup are within the noise

[2020-03-16 16:21] smlambert commented on #8874
Having it separate is not much different, it means an additional URL for the gzip file being passed in the CUSTOMIZED_URL_SDK parameter to the test pipeline.

Not a big deal to automation, but ever try telling a developer that something new is expected in a param field.  I suspect it would throw some people off, suspect it would further confuse people trying to run Grinders, etc.  Would like not t

[2020-03-16 16:26] fjeremic commented on #8865
@PushkarBettadpur could any of these be useful for your work as well?

[2020-03-16 16:51] pshipton commented on #8842
@zl-wang is someone looking at the performance of using `MALLOCOPTIONS=multiheap` ?

[2020-03-16 16:55] pshipton commented on #8874
Good points, I'm not against combining the debug image with the test image. Personally I usually forget to include the test image when running a grinder. Putting everything (test and debug) in the JVM package at OpenJ9 would be easiest.

[2020-03-16 17:05] lumpfish commented on #8872
Failure is intermittent - test ran successfully in a 5x Grinder.

[2020-03-16 17:10] keithc-ca commented on #8797
That doesn't seem relevant to this issue: What would change in order to support use of long names?

[2020-03-16 17:40] mpirvu commented on #8803
I am seeing this assert every time I run AcmeAir with a debug build (non-jitserver)
Attn: @andrewcraik

[2020-03-16 17:41] harryyu1994 commented on #8708
I have verified the testJITServer failures are gone with the latest build.

[2020-03-16 17:44] harryyu1994 commented on #8806
@ymanton I think we can re-enable the JITServer tests now as the failures should be fixed by #8811.

[2020-03-16 17:45] ymanton commented on #8806
I'll submit a PR shortly.

[2020-03-16 17:52] AdamBrousseau commented on #8797
L752 queries the hashmap for the full spec name (longPlatform)
[code]

[2020-03-16 17:54] PushkarBettadpur commented on #8758
I was running into some errors while making some changes to the IL Gen phase of compilation. On eyeballing the generated trees with @fjeremic, we spotted that some of our `aladd` nodes did not have its children with the right type or order. Using `paranoidOptCheck` option doesn't work as it is guarded by `useIlValidator` which in turn, gives us the assert failure described above when turned on.

I

[2020-03-16 18:03] cathyzhyi commented on #8325
@Charlmzz Will help to verify if this has been fixed

[2020-03-16 18:10] andrewcraik commented on #8803
@liqunl is this just a case of not handling an OSR guard in this code - seems like it might be from a quick read?

[2020-03-16 18:19] liqunl commented on #8803
From the problem description, this is an `TR_AbstractGuard` with `TR_VftTest`. `commitVirtualGuard` only handles `TR_AbstractGuard` with `TR_MethodTest` now. We need to handle the case where vft test is used.

[2020-03-16 18:45] shahriarsust commented on #7005
Hello @amicic
I used -Xgc:globalMaximumContraction=5,10 and 15. The tenure does not seem to shrink after some time. I used -Xgc:maxScavengeBeforeGlobal=10.  The only time tenure shrinks continuously , if i do not use the Xgc:globalMaximumContraction at all. Any suggestions

[2020-03-16 18:52] fjeremic commented on #7684
Repro rate with following command was 3/7:

[code]

Console:

[code]

[2020-03-16 18:53] amicic commented on #7005
Send me full logs for various scenarios that you tried.

globalMaximumContraction default is 5. Behavior with setting it to 5 or without setting it at all should be identical.

[2020-03-16 19:02] Leonardo2718 commented on #8758
@PushkarBettadpur

`paranoidOptCheck` just causes several validations to be run between each optimization. `useIlValidator` forces the JIT to use the new IlValidator because the legacy verifier is used by default. However, you have to be running a debug build of the JIT, define the `TR_DEBUG="checkTypes=1"` environment variable, and be generating a log fil in order for the old verifier to actually

[2020-03-16 19:04] shahriarsust commented on #7005
[gclogwithcontract5.zip](https://github.com/eclipse/openj9/files/4339913/gclogwithcontract5.zip)

[2020-03-16 19:10] BeverlyXu commented on #8353
The perf.data file generated by the perf tool is kernel dependent, i.e. i won't be able to load it or "zoom in" on my machine. The data is only useful when it is viewed on the machine that generates the perf.data file. We have an internal script that can process the data and format it into a readable flat text file on any machine. I'm working to get a license for the script so I can share it exter

[2020-03-16 19:18] pshipton commented on #8374
This no longer seems to occur.

[2020-03-16 19:18] #8374 closed

[2020-03-16 19:53] mleipe commented on #8183
Sounds like this is progressing well!  Can you please ensure that you capture your performance test results for all of the platforms you've completed?  There's a table at the start of the issue but it's not clear to me how current that data is, so a new table in a new comment below to capture the current point in time might be useful.  Thanks!

[2020-03-16 19:57] DanHeidinga commented on #8376
Is this something we need an Eclipse bug opened for?

[2020-03-16 20:02] pshipton commented on #8874
Discussing with Dan and Lan, we're leaning towards combining the debug image into the test image rather than modifying the JVM package. This keeps the separation for OpenJ9 builds the same as at the Adopt builds, since the debug image won't be included with the JVM at Adopt. Aligning with Adopt reduces the number of special cases and things that people need to remember.

@keithc-ca can you please

[2020-03-16 20:05] gacholio opened #8878 "Runtime compressed refs interpreter performance"
In order to retain optimal performance in the interpreter in runtime compressed refs mode, we'll need to multiply-compile it (we already do this for debug mode).

The idea is to defined something like `J9_COMPRESSED_REFS_OVERRIDE` to either `TRUE` or `FALSE`, and use the override value if present in the `J9VMTHREAD_COMPRESS_OBJECT_REFERENCES` and `J9JAVAVM_COMPRESS_OBJECT_REFERENCES` macros.

In k

[2020-03-16 20:05] gacholio commented on #8878
@DanHeidinga @sharon-wang

[2020-03-16 20:28] pshipton opened #8879 "sanity.openk jdk_security1_0 java.security.KeyException: Access is denied"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-32_windows_Personal/2
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_windows_Personal/3
jdk_security1_0
java/security/KeyPairGenerator/FinalizeHalf.java.FinalizeHalf
[code]

java/security/Signature/SignatureLength.java.SignatureLength
[code]

[2020-03-16 20:35] pshipton commented on #8879
This was first reported in https://github.com/eclipse/openj9/issues/8374#issuecomment-579996187

@jdekonin these tests appear to be passing at AdoptOpenJDK, can we figure out what the difference in machine configuration is?
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_x86-64_windows/145/testReport/

[2020-03-16 21:09] fjeremic commented on #7684
Repro rate with following command was 3/4:

[code]

Console:

[code]

[2020-03-16 21:21] pshipton commented on #8376
@smlambert I think you were going to help resolve this?

[2020-03-16 22:10] #8797 closed

[2020-03-16 23:02] fjeremic commented on #7684
Repro rate with following command was 2/3:

[code]

Console:

[code]

[2020-03-16 23:07] smlambert commented on #8376
https://github.com/eclipse-cbi/jiro/issues/92

[2020-03-17 00:53] JasonFengJ9 opened #8883 "openjdkNext_j9_extended.functional_ppc64le_linux testSCCacheManagement_0_FAILED testSharedCacheJvmtiAPI"
Failure link
------------

From an internal build `Test_openjdkNext_j9_extended.functional_ppc64le_linux_Nightly/142`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links: https://ci.adoptopenjdk.net/job/

[2020-03-17 01:09] JasonFengJ9 opened #8884 "JDK8 JIT Server : DaaLoadTest_daa2_ConcurrentScavenge_0_FAILED Segmentation error vmState=0x00020002"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.system_x86-64_linux_jit_Nightly/19`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links: https://ci.adoptopenjdk.net/job/Grinder

[2020-03-17 01:51] AdamBrousseau commented on #6744
I'm seeing UNB get_sources clones take 4+ minutes. We should look into adding this sometime this year.

[2020-03-17 02:15] gacholio commented on #8878
Makefiles will also need to be updated - search for `BytecodeInterpreter` and duplicate accordingly.

[2020-03-17 02:23] pshipton commented on #8884
Dup of #8789

[2020-03-17 02:34] gacholio commented on #8865
GC map problems were the bane of the JIT in the early days, but the only way this feature is useful is if the maps are computed in two different (but equally correct) ways - verifying the output of an algorithm using the same algorithm can't really provide any new information.

[2020-03-17 02:59] scikirbypoke commented on #8353
I indeed got a verbose log, but I think I forgot to upload it here...
[verbose log](https://drive.google.com/file/d/1DJsoGOP0ijuSTwBOCYwl73ufckiR5IRg/view?usp=sharing)

[2020-03-17 03:02] #8884 closed

[2020-03-17 12:10] mpirvu opened #8885 "cmdLineTester_jvmtitests_debug_openj9_none_SCC_11 test failure with "Unable to locate JIT stack map""
Output:
[code]

Link:
https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Personal/135/

[2020-03-17 12:35] smlambert commented on #8885
Grabbing additional links from the job linked above (since that job link is short-lived):

Link to artifacts that contain dump files: https://na.artifactory.swg-devops.com/artifactory/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com/hyc-runtimes-jenkins.swg-devops.com//Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Personal/135/functional_test_output.tar.gz

Link to rerun this particu

[2020-03-17 12:37] zl-wang commented on #8842
@chao.shan@ibm.com  could you compare on AIX crypto performance test cases between MALLOCOPTIONS=multiheap vs. MALLOCOPTIONS=multiheap,buckets?

[2020-03-17 12:53] pshipton commented on #8376
Testing change here
https://ci.eclipse.org/openj9/view/Test/job/Grinder/688/

[2020-03-17 13:30] liqunl commented on #8803
The guard is created by the VP change I delivered recently. We should not create a `TR_AbstractGuard` with a `TR_VftTest`. Working on a fix.

[2020-03-17 13:47] rpshukla commented on #6552
Ran 100x grinders for DaaLoadTest_daa1_0 on windows x86-32 and mac and did not see any failures. Also did not see any failures for DaaLoadTest_all_special_12 for xlinux.

[2020-03-17 14:10] pshipton commented on #8376
The xlinux build has passed. Thanks Shelley.

[2020-03-17 14:10] #8376 closed

[2020-03-17 14:23] fjeremic commented on #8878
@dnakamura FYI for CMake.

[2020-03-17 14:28] fjeremic commented on #7684
Repro rate with following command was 10/10:

[code]

Console:

[code]

[2020-03-17 14:44] dnakamura commented on #8183
I've done a full update on the table at the top and putting a copy below

|          | xlinux | plinux|  aix  |  zlinux  | windows |
|----------|--------|-------|-------|----------|--------|
|Startup   |  0%    |  0%   |   0%  |   0%     |  0%    |
|Footprint |  0%    |  0%   |   0%  |   0%     |  0%    |
|Throughput|  0%    |   *1  |   0%  |   0% *2  |  -0.8%    |

Simplified so perf gains, or me

[2020-03-17 15:25] cznewbold opened #8890 "openjdk "1.8.0_242": JVMCFRE166 Duplicate entries in LocalVariableTypeTable"
Java -version output
--------------------

openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-b08)
Eclipse OpenJ9 VM (build openj9-0.18.1, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20200122_511 (JIT enabled, AOT enabled)
OpenJ9   - 51a5857d2
OMR      - 7a1b0239a
JCL      - 8cf8a30581 based on jdk8u242-b08)

Summary of problem
------------------

code failing with thi

[2020-03-17 15:34] DanHeidinga commented on #8890
@theresa-m Can you take a look at this?  I think you had a PR that updated our behaviour recently...

[2020-03-17 15:36] theresa-m commented on #8890
I'll take a look.

[2020-03-17 16:09] harryyu1994 commented on #8708
@mpirvu 25/25 grinder passed with latest. (Original failure rate is around 3/5). We can close this one. (I don't have permission to close issues).

[2020-03-17 16:10] harryyu1994 commented on #8769
@mpirvu 25/25 grinder passed with latest. (Original failure rate is around 3/5). We can close this one.

[2020-03-17 16:11] harryyu1994 commented on #8770
@mpirvu 25/25 grinder passed with latest. (Original failure rate is around 3/5). We can close this one.

[2020-03-17 16:13] harryyu1994 commented on #8726
@mpirvu 25/25 grinder passed with latest. (Original failure rate is around 3/5). We can close this one.

[2020-03-17 16:14] harryyu1994 commented on #8653
@mpirvu 25/25 grinder passed with latest. (Original failure rate is around 3/5). We can close this one.

[2020-03-17 16:17] hangshao0 commented on #8883
It passed in the next build: `Test_openjdkNext_j9_extended.functional_ppc64le_linux_Nightly/143/`

[2020-03-17 16:21] harryyu1994 commented on #8885
Taking a look at this one.

[2020-03-17 16:30] hangshao0 commented on #8883
There might be another Java process running on that machine which created a SCC at the time of failure.

[2020-03-17 16:35] harryyu1994 commented on #8885
We might have seen this one before where the failure rate is very low.
[code]

[2020-03-17 16:44] andrewcraik commented on #7684
@fjeremic does removing disableMethodHandleInlineWithoutPeeking make it go away?

[2020-03-17 17:07] mpirvu commented on #8769
Supposedly fixed by https://github.com/eclipse/openj9/pull/8811

[2020-03-17 17:07] #8769 closed

[2020-03-17 17:07] mpirvu commented on #8770
Supposedly fixed by https://github.com/eclipse/openj9/pull/8811

[2020-03-17 17:08] mpirvu commented on #8708
Supposedly fixed by https://github.com/eclipse/openj9/pull/8811

[2020-03-17 17:08] #8708 closed

[2020-03-17 17:09] mpirvu commented on #8726
Supposedly fixed by https://github.com/eclipse/openj9/pull/8811

[2020-03-17 17:09] #8726 closed

[2020-03-17 17:09] pshipton commented on #8373
Occurrences in jdk11 runs:
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/3
com/sun/net/httpserver/Test9.java.Test9
com/sun/net/httpserver/Test9a.java.Test9a

[2020-03-17 17:09] dmitripivkine commented on #8619
Second crash is a duplicate of https://github.com/eclipse/openj9/issues/8652

[2020-03-17 17:09] mpirvu commented on #8653
Supposedly fixed by https://github.com/eclipse/openj9/pull/8811

[2020-03-17 17:09] #8653 closed

[2020-03-17 17:13] dmitripivkine commented on #8619
There is no evidence that an original problem is the same (but possible). The https://github.com/eclipse/openj9/issues/8652 seems is PPC specific

[2020-03-17 17:22] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/3
java/util/zip/ZipFile/TestCleaner.java.TestCleaner
[code]

[2020-03-17 17:45] keithc-ca commented on #8874
If the content currently included in `debug-image.tar.gz` is added to `test-images.tar.gz` keeping the same relative paths, the result can still be unpacked directly over a jdk as is the case today. The result will include a `test-images` directory (which you don't currently get), but that shouldn't cause any harm.

[2020-03-17 17:48] keithc-ca commented on #8874
I feel I need to point out that using such a unified `test-images.tar.gz` would mean that we're not actually testing the same bits that a regular user would get. Does that not cause anyone concern?

[2020-03-17 17:58] smlambert commented on #8874
I assumed the approach would be same as suggested in  https://github.com/eclipse/openj9/issues/8874#issuecomment-600208424

[2020-03-17 17:59] pshipton commented on #8874
Except on AIX, I don't expect the debug symbol files are used at runtime unless there is a crash. Even on AIX the risk of a problem resulting from removing debug symbols seem low.

[2020-03-17 18:00] pshipton commented on #8874
We can try that, it seems bit trickier to manage. https://github.com/AdoptOpenJDK/openjdk-tests/blob/6d4670a158607cb0e0fd30e76b5c6a0f03a7a74d/get.sh#L273 is not going to put the file in the right place but will have to copy/move them.

[2020-03-17 18:27] harryyu1994 commented on #8786
Checking failure rate: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/6598/

[2020-03-17 18:28] harryyu1994 commented on #8674
Should be fixed now, verifying: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/6594/

[2020-03-17 18:31] harryyu1994 commented on #8885
This testcase is blocked by:
[code]
Going to look into this failure first (https://github.com/eclipse/openj9/issues/8839)

[2020-03-17 19:32] fjeremic commented on #7684
Repro rate with following command was 4/7:

[code]

Console:

[code]

[2020-03-17 19:32] fjeremic commented on #7684
Trying this next.

[2020-03-17 19:59] harryyu1994 commented on #8786
Maybe this needs more attention as the failure rate is 100%

[2020-03-17 20:23] amicic commented on #7005
HI @shahriarsust, your observations are correct. We unexpectedly started contracting with steps of 5% of Tenure for 4 Global GCs and then did 2 more contractions with slightly reduced steps and stopped, while (as explained before) expected contractions to continue for a while longer. since Tenure is still reported at very high 98% free.

I don't know exactly what happened (verbose GC logs would no

[2020-03-17 21:07] pshipton commented on #8821
We'll want the above jdk8 - 14 PRs in the release branches for 0.20.0 as well.

[2020-03-17 21:08] keithc-ca commented on #8874
To make https://github.com/eclipse/openj9/issues/8874#issuecomment-600208424 more concrete, the resulting test-image archive would contain paths such as these:
[code]
A consequence of this is that there will then be two or three top-level directories (`lib` will not be present for Windows) which will need different handling at https://github.com/AdoptOpenJDK/openjdk-tests/blob/6d4670a158607cb0e0fd

[2020-03-17 21:15] harryyu1994 commented on #8674
Grinder 10/10 passed with latest build. @mpirvu This one can be closed.

[2020-03-17 21:18] pshipton commented on #8874
@llxia fyi the previous command as well.

[2020-03-17 22:23] fjeremic commented on #7684
Repro rate with following command was 3/4:

[code]

Console:

[code]

[2020-03-17 22:24] fjeremic commented on #7684
@andrewcraik the option makes no difference.

[2020-03-17 22:28] #8869 closed

[2020-03-17 22:28] ChengJin01 commented on #7684
This test result above hits the same method as checked before at https://github.com/eclipse/openj9/issues/7684#issuecomment-580817864 as follows:
[code]

[2020-03-17 22:51] keithc-ca commented on #8821
Created.

[2020-03-17 23:56] #8674 closed

[2020-03-18 01:17] llxia commented on #8874
- Is it possible to put debug image into one folder, so it is easier to mv? test-image archive would contain:
[code]
- `get.sh` is for downloading and unzipping files (i.e., JDK, JRE, test-image (hotspot test image), native-test-libs (openj9 test image), etc). Once the change for adding debug-images is done, I can update the `get.sh` logic to move it directly over a jdk.

[2020-03-18 01:27] pshipton commented on #8874
It is possible, but while this makes it easier for the code, it makes it harder for development or service to apply the debug image to a JVM. It shouldn't be too arduous to handle two directories in the code.

Looking at the get.sh logic, it seems if we add a second directory into the test image, then get.sh will no longer work as it looks for a dir array of length 1. It may need to be modified fi

[2020-03-18 01:29] smlambert commented on #8874
Once the space separated param list passed to CUSTOMIZED_SDK_URL are unzipped, https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/get.sh#L272-L289 moves the unzipped contents into various top-level directories.

CUSTOMIZED_SDK_URL can be one (or two) of many things depending on the name of the file:
- directories containing [test-image](https://github.com/AdoptOpenJDK/openjdk-tests/blob/mas

[2020-03-18 04:20] #8815 closed

[2020-03-18 07:45] Akira1Saitoh opened #8897 "java/util/logging/LogManager/Configuration/ParentLoggerWithHandlerGC.java.ParentLoggerWithHandlerGC fails if ParentLoggerWithHandlerGC.testCloseOnResetTrue(Ljava/lang/String;Ljava/util/Properties;)V is compiled with optLevel=cold"
## Java -version output

aarch64:
[code]

x86:
[code]

## Summary of Problem

`java/util/logging/LogManager/Configuration/ParentLoggerWithHandlerGC.java.ParentLoggerWithHandlerGC` intermittently fails (timeout) for aarch64 when `ParentLoggerWithHandlerGC.testCloseOnResetTrue(Ljava/lang/String;Ljava/util/Properties;)V` is compiled. It is also reproducible on x86 Linux if `optLevel=cold` is set.

Fa

[2020-03-18 07:46] Akira1Saitoh commented on #8897
@knn-k @0xdaryl

[2020-03-18 12:24] #8853 closed

[2020-03-18 12:34] pshipton opened #8899 "openjdk xlinux socket failures"
I think this is a machine issue, the tests passed on ub16x64j910.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/4/
cent6-x64-2
java/net/MulticastSocket/SetLoopbackMode.java.SetLoopbackMode
[code]
java/net/MulticastSocket/Test.java.Test
[code]
 java/nio/channels/DatagramChannel/MulticastSendReceiveTests.java.MulticastSendReceiveTests
[code]

[2020-03-18 12:35] pshipton commented on #8899
@jdekonin

[2020-03-18 12:38] llxia commented on #8874
oh, misread the message, as above mentioned that `The result will include a test-images directory (which you don't currently get)`, so I thought we will add a new `test-images` and debug images under current top-level dir `test-images`. In this case,  `get.sh` can be updated later to handle debug image as it will not break anything.  Only [NATIVE_TEST_LIBS](https://github.com/AdoptOpenJDK/openjdk-

[2020-03-18 12:41] pshipton commented on #8866
JVM and debug image https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_Nightly/325/

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/1356
MauveMultiThreadLoadTest_special_22
[code]

[2020-03-18 12:50] pshipton commented on #5450
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly/314
win2012r2-x86-5

[2020-03-18 13:02] pshipton commented on #8866
Using the debug symbols for the previous crash, obtained the following stack trace from gdb.
[code]

[2020-03-18 13:08] shanchao95 commented on #8842
@pshipton @zl-wang Sure, here is AIX crypto performance and compare for `NO MALLOCOPTION`, `multiheap `, `multiheap, buckets` .  )
[performance.xlsx](https://github.com/eclipse/openj9/files/4349085/performance.xlsx)

[2020-03-18 13:20] pshipton opened #8900 "aix71-p8-6 is offline"
[code]

[2020-03-18 13:20] pshipton commented on #8900
@jdekonin

[2020-03-18 13:21] #8279 closed

[2020-03-18 13:22] #8164 closed

[2020-03-18 13:23] #8867 closed

[2020-03-18 13:24] #8432 closed

[2020-03-18 13:24] #8242 closed

[2020-03-18 13:25] #8165 closed

[2020-03-18 13:25] #8079 closed

[2020-03-18 13:25] #7900 closed

[2020-03-18 13:26] #7899 closed

[2020-03-18 13:26] #7874 closed

[2020-03-18 13:27] keithc-ca commented on #8874
The current test-image **_does_** have a top-level directory called `test-images`. Looking at the archive from [1] we see:
[code]
I can put the debug-image contribution wherever we decide; my suggestion of having top-level `bin` and, perhaps, `lib` directories would make it more convenient to use the archive to add debug symbols to a jdk.

We agree, the `get.sh` script (and any other consumers of

[2020-03-18 13:27] #7786 closed

[2020-03-18 13:28] #7647 closed

[2020-03-18 13:28] #7480 closed

[2020-03-18 13:29] #7179 closed

[2020-03-18 13:29] #5777 closed

[2020-03-18 13:30] #5563 closed

[2020-03-18 13:30] #4078 closed

[2020-03-18 13:44] jdekonin commented on #8899
Can you rerun on this machine?  I have tried a configuration change.

[2020-03-18 13:48] smlambert commented on #8874
@keithc-ca - are you referencing the OMR build link because there is a separate debug-image.tar.gz file?  If you want to directly pass that, then by all means do (I only suggested merging it with test images for convenience of developers using Grinders, but I am sure developers can adapt).

How that would look (from an OpenJ9 build perspective... we of course have to support other build systems to

[2020-03-18 14:00] pshipton opened #8902 "Create openssl 1.1.1e for Windows"
There is an openssl 1.1.1e release. Please build it for Windows and deploy it.

It's being deployed for other platforms in https://github.com/eclipse/openj9/pull/8901

[2020-03-18 14:00] pshipton commented on #8902
@jdekonin

[2020-03-18 14:03] keithc-ca commented on #8874
Describing it as an 'OMR' link is misleading - the link is to an 'OMR Acceptance' build of jdk11. Most (all?) jdk builds at ci.eclipse.org/openj9 have a link to a test-image archive; I only offered that as a representative sample illustrating the path names in such an archive (they should all be the same).

The primary use-cases for a debug-image are up in the description of this issue. BTW, those

[2020-03-18 14:09] pshipton commented on #8899
https://ci.eclipse.org/openj9/view/Test/job/Grinder/696/

[2020-03-18 14:11] jdekonin commented on #8899
Wrong machine, but don't cancel.  I can fix cent6-x64-1 between jobs.

[2020-03-18 14:14] pshipton commented on #8899
cent6-x64-2 - https://ci.eclipse.org/openj9/view/Test/job/Grinder/697/

[2020-03-18 14:16] zl-wang commented on #8842
Thanks for the performance data.  Summary:
1) MALLOCOPTIONS setting(s) almost have no performance degradation over no setting, except one case with CBC-decrypt-stream-nopadding 16-thread;
2) multiheap setting got most of the performance improvement there is;
3) multiheap,buckets might have less than 10% performance advantage over multiheap setting on average ... there are a few cases of regression

[2020-03-18 15:41] cathyzhyi commented on #8142
@andrewcraik Can this one be closed since it's not reproducible?

[2020-03-18 15:44] cathyzhyi commented on #7967
looks like this one is fixed already. Shall it be closed? @fjeremic @dchopra001

[2020-03-18 15:54] andrewcraik commented on #8142
That is up to @pshipton but it looks like it has been fixed - any objection?

[2020-03-18 16:00] pshipton commented on #8899
It's a little better. There are still IPv6 problems, but `Test 1: /224.80.80.80` passed.
[code]

[2020-03-18 16:03] pshipton commented on #8899
Similarly, the MulticastSendReceiveTests works for IPv4 now, but still problems with IPv6.
[code]

[2020-03-18 16:06] fjeremic commented on #7967
Closing since it has been 3 months without a reproduction. We can reopen if issue appears again.

[2020-03-18 16:06] #7967 closed

[2020-03-18 16:18] harryyu1994 commented on #8786
[code]

The crash probably happened in jitted code. Trying to binary search the offending method.

[2020-03-18 16:43] llxia commented on #8874
To me, there are two problems:
problem 1. make life easy for the user to require less URL
problem 2. handle debug image in get.sh (overlay on top of sdk)

Regardless of what is the solution for problem 1, problem 2 cannot be avoided.

On top of my head, I think the best way to solve Problem 1 is to be able to download all jar files at the folder level. Instead of asking the link for each jar, user

[2020-03-18 17:05] pshipton commented on #8142
It hasn't been seen again, closing.

[2020-03-18 17:05] #8142 closed

[2020-03-18 17:30] jdekonin commented on #8900
Should be back online now.

[2020-03-18 17:31] pshipton commented on #8874
I like this idea, it fixes the problem that occurs for me, as I usually forget to specify the URL to the test image. Finding all the artifacts automatically and putting them in the correct places seems ideal.  It keeps the debug and test images separate, which seems clearer for users.

The user still has to specify the files manually if they created a build manually and uploaded it, but I expect t

[2020-03-18 17:35] jdekonin commented on #8899
Right, I didn't do the ipv6 side too, I thought all those were disabled already, but it might have been just for osx that I'm confusing.  I'll get to review that again shortly.

[2020-03-18 17:39] #8900 closed

[2020-03-18 17:39] keithc-ca commented on #8874
And, following that pattern, the debug image from adopt will have `-debugimage` in its name; see: https://github.com/AdoptOpenJDK/openjdk-build/pull/1597.

[2020-03-18 17:44] smlambert commented on #8874
Yes, the fact that the builds/naming across the projects is not the same (is unfortunate and unnecessary since many of the people working at both projects could just talk/align, super annoying, but of course we will accommodate as per usual).

[2020-03-18 17:51] keithc-ca commented on #8874
I too like that idea, but it assumes the server is willing to list the files in a directory; not all are configured that way, but as long as the ones we care about cooperate, we'll be good.

[2020-03-18 18:20] Charlmzz commented on #8325
I have verified that this has been fixed. @AlenBadel Would you please close this issue for now?

[2020-03-18 19:14] pshipton commented on #7967
According to the Slack comments, it was fixed by https://github.com/eclipse/omr/pull/4650

[2020-03-18 19:30] pshipton opened #8909 "jdk15 ASSERTION FAILED ** at vmbootlib.c:373"
https://ci.eclipse.org/openj9/job/Build_JDKnext_s390x_linux_OpenJDK/181
[code]

https://ci.eclipse.org/openj9/job/Build_JDKnext_ppc64le_linux_OpenJDK/179
[code]

https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_windows_OpenJDK/185/
[code]

I cancelled the other platform builds.

[2020-03-18 19:35] llxia commented on #8874
The jdk, jre, test image and debug image at Adopt are archived in Jenkins and we use Jenkins API to get them (i.e., we use [UPSTREAM_JOB_NAME and UPSTREAM_JOB_NUMBER](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux/176/parameters/)). We do not use url to download them in nightly builds. IMO, Adopt does not need the ability to auto-download test imag

[2020-03-18 19:35] pshipton commented on #8909
https://ci.eclipse.org/openj9/job/Build_JDKnext_ppc64le_linux_OpenJDK/179
[code]

[2020-03-18 19:37] JasonFengJ9 commented on #8909
Will have a look.

[2020-03-18 19:57] fjeremic commented on #7684
Repro rate with following command was 0/5:

[code]

So limiting while tracing is not able to reproduce the issue. There seems to be many empty trace files and vlogs generated, but looking at the non-empty ones (there are 4 of them) we can see the following:

[code]

So it looks like we tried to do a warm compile but failed with `compilationHeapLimitExceeded` likely because the method is massive. G

[2020-03-18 19:59] AlenBadel commented on #8325
Thanks for verifying. Closing.

[2020-03-18 19:59] #8325 closed

[2020-03-18 20:40] pshipton commented on #8909
I ran some jdk14 builds and they are fine, I expect this is jdk15 specific.

[2020-03-18 20:52] pshipton commented on #8403
Additional fixes
#8830
0.20.0 https://github.com/eclipse/openj9/pull/8857 (includes the changes for #8771)

[2020-03-18 20:52] #8403 closed

[2020-03-18 20:54] pshipton commented on #8552
Are there any updates on this?

[2020-03-18 20:55] sharon-wang commented on #8878
I'm working on this

[2020-03-18 20:57] pshipton commented on #8318
This didn't make the cutoff for the release, moving it out.

[2020-03-18 21:00] pshipton commented on #8821
@keithc-ca I believe this is resolved now and can be closed.

[2020-03-18 21:03] pshipton commented on #6933
@fengxue-IS any updates on this?

[2020-03-18 21:09] pshipton commented on #7748
@cathyzhyi is there any update on this?

[2020-03-18 21:12] pshipton commented on #8388
@dmitripivkine does this need to be tracked in a Milestone? If so we're almost out of time for 0.20 so I'll move it to 0.21.

[2020-03-18 21:13] smlambert commented on #8874
Yep, sounds good.  Adopt will eventually use Artifactory (or some other off-master storage), but we can strongly influence how that looks so its not onerous from a QA perspective.

[2020-03-18 21:14] pshipton commented on #8450
I don't expect this will be resolved in 0.20, moving it forward.

[2020-03-18 21:16] pshipton commented on #8732
Seems likely jdk14 won't be fixed for the 0.20 release, moving this forward.

[2020-03-18 21:16] harryyu1994 commented on #8786
Managed to limit it down to 2 methods.
[code]

[2020-03-18 21:19] gacholio commented on #8878
To start with, there's no need to actually be in mixed mode - if the individual interpreters are ifdeffed on the full/compressed flags, then they'll work in the normal builds, and won't bloat them.

For an example, see:

https://github.com/eclipse/openj9/blob/6a8a0aef2e12405cc08654f15c62952d7c5f4fc6/runtime/compiler/runtime/Runtime.cpp#L274-L281

https://github.com/eclipse/openj9/blob/6a8a0aef2e12

[2020-03-18 21:19] pshipton commented on #8735
@babsingh any update on a fix for this? M2 for the 0.20 release is just over a week away so I expect we'll be moving this out to the 0.21 release.

[2020-03-18 21:22] pshipton commented on #8546
It doesn't seem this will be resolved for the 0.20 release, moving it out.

[2020-03-18 21:39] keithc-ca commented on #8821
If you're happy, I'm happy. ;-)

[2020-03-18 21:39] #8821 closed

[2020-03-18 21:52] PushkarBettadpur commented on #8865
Given this specific use case, I wouldn't necessarily think so.

[2020-03-18 21:58] pshipton commented on #8728
Since the cause of the failure is the test, I think this can be closed. I'll go ahead, but can reopen if someone disagrees.

[2020-03-18 21:58] #8728 closed

[2020-03-18 22:00] pshipton commented on #7740
It seems this won't be resolved for the 0.20 release, moving it forward.

[2020-03-18 22:02] pshipton commented on #4930
Seems this won't be resolved in the 0.20 release, moving it forward.

[2020-03-18 22:05] pshipton commented on #8019
Seems this won't be resolved for the 0.20 release, moving it forward.

[2020-03-18 22:39] babsingh commented on #8735
@pshipton I didn't get to spend much time on this task due to other high priority tasks. So, the fix won't make M2 for the 0.20 release.

@DanHeidinga What priority should be given to this task?

[2020-03-19 00:06] fjeremic opened #8911 "JIT verbose log should print the hotness of failed compilations"
While investigating an issue [1] I was running with just `-Xjit:verbose` and a certain compilation was failing, however I don't know what compilation level was attempted when the compilation failed. It would be nice if we printed that as well by default without having to add extra `verbose={...}` noise.

Current output of `-Xjit:verbose`:
[code]

Expected output after fixing this:
[code]

[1] http

[2020-03-19 00:06] gacholio commented on #8878
For the override check, I was thinking something like:
[code]

[2020-03-19 03:30] DanHeidinga commented on #8546
I don't think this is something the JVM can address.  THP enabled + lots of cgroups on the same machine with particular kernel versions is an environment issue outside the vm's purview.

It's also a dynamic condition - we'd have to monitor the system to see if the number of cgroups grew past some threshold.

I'm going to close this based on the above

[2020-03-19 03:30] #8546 closed

[2020-03-19 03:33] AdamBrousseau commented on #4719
Did we determine or decide if the BUILD_LIST will need to be passed to the test jobs? Or can we just call sanity.functional?

[2020-03-19 10:03] lumpfish commented on #8728
openjdk bug: https://bugs.openjdk.java.net/browse/JDK-8241097

[2020-03-19 13:16] dmitripivkine commented on #8388
moved to 0.21

[2020-03-19 13:32] fjeremic commented on #7684
Repro rate with following command was 3/4:

[code]

Console:

[code]

Adding scratch space and allowing huge methods while only doing `traceCG` did the trick. We are now again able to reproduce the issue. Looking at the javacore of the first failures:

[code]

Then looking at the corresponding logs:
[code]

We can see in the verbose log that the method has to be compiled at a warm level to reprodu

[2020-03-19 13:33] theresa-m commented on #8552
still investigating.

[2020-03-19 13:56] llxia commented on #4719
Please pass in `BUILD_LIST` for now.

`JDK_VERSION=Valhalla`was initially designed as a temporary solution. It does not have the full feature as real JDK_VERSION. From a brief look, we need to modify build.xml that has if statement.  Not sure if there is other implication. We need to evaluate if this is worth implementing.
fyi @renfeiw

[2020-03-19 13:59] llxia commented on #4719
Please note TRSS needs to be updated to handle this as we only expect JDK_VERSION to be a number. I will make the change in TRSS.

[2020-03-19 14:37] M-Davies commented on #8652
I haven't seen this pop up in the nightly builds at adopt or in grinders so I'll close this as resolved for now. If it comes back, it can always be reopened

[2020-03-19 14:40] pshipton opened #8916 "jdk14 Thread.interrupt() before Thread start, after Thread stop"
Release notes for Java 14 contain the following.

`The specification for java.lang.Thread::interrupt allows for an implementation to only track the interrupt state for live threads, and previously this is what occurred. As of this release, the interrupt state of a Thread is always available, and if you interrupt a thread t before it is started, or after it has terminated, the query t.isInterrupted

[2020-03-19 14:40] pshipton commented on #8916
@DanHeidinga

[2020-03-19 15:22] DanHeidinga commented on #8916
@theresa-m Can you take a look at this?

[2020-03-19 15:31] pshipton commented on #8641
@DanHeidinga any objections to moving this forward? It's too late to make changes to support JAVA_OPTS, and I don't see this assigned to anyone.

[2020-03-19 15:32] pshipton commented on #7752
Moving forward again.

[2020-03-19 15:35] pshipton commented on #7562
@DanHeidinga should someone be looking at this?

[2020-03-19 15:37] #8909 closed

[2020-03-19 15:37] pshipton commented on #8552
I'll move it forward. If we find a low risk solution in time, we could consider fixing in the 0.20 release.

[2020-03-19 15:39] dmitripivkine commented on #8652
I can not understand why this issue is closed without investigation. We know this is highly intermittent issue. Also I believe https://github.com/eclipse/openj9/issues/8619 might be a different issue (user raised - but we don't know). I would prefer to close https://github.com/eclipse/openj9/issues/8619 instead

[2020-03-19 15:51] psoohoo-turbonomic commented on #8552
Do you guys have any suggested workarounds we could use in the meantime? This one is pretty important for our use case.

[2020-03-19 15:58] fjeremic commented on #7684
Repro rate with following command was 3/4:

[code]

Console:

[code]

I checked the trace log of one of the failures and I glanced at the trees and did not see any `GlRegDeps` so GRA certainly didn't run, implying the `lastOptIndex` worked as intended. Now off to further limiting.

[2020-03-19 16:08] ashu-mehra commented on #8228
PR #8844 addresses this issue, but we are not yet using the `stopJITServer` api in jitserver launcher. As such it wouldn't be beneficial for that PR alone to go into 0.20 release. So this issue and merging of PR #8844 should be deferred until 0.20 release is done.

[2020-03-19 16:56] pshipton commented on #7908
Adding MALLOCOPTIONS was completed, although it caused #8842 and the setting is being modified to `MALLOCOPTIONS=multiheap`.

https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/366
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/272
https://github.com/ibmruntimes/openj9-openjdk-jdk14/pull/21
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/175

[2020-03-19 16:56] #7908 closed

[2020-03-19 17:27] pshipton commented on #8842
Fixing in
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/389
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/390
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/279
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/280
https://github.com/ibmruntimes/openj9-openjdk-jdk14/pull/29
https://github.com/ibmruntimes/openj9-openjdk-jdk14/pull/30
https://github.com/ibmruntim

[2020-03-19 18:10] theresa-m commented on #8916
Yes I can take a look.

[2020-03-19 18:25] fjeremic commented on #7684
Repro rate with following command was 1/2:

[code]

Console:

[code]

[2020-03-19 18:47] theresa-m commented on #8552
Thanks for your patience!

One option to work around could be
`-Xdump:tool:events=throw+systhrow,filter=java/lang/OutOfMemoryError,exec="kill -9 %pid"`
which basically just kills the process when an OutOfMemory error is thrown.

The limitation for this is it doesn't work in Docker when the JVM ends running as pid 1.

[2020-03-19 18:56] pshipton opened #8921 "jdk15 ASSERTION FAILED ** at VMAccess.cpp:427: ((vmThread)->publicFlags & J9_PUBLIC_FLAGS_VM_ACCESS)"
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_mac_OpenJDK/146
cmdLineTester_jvmtitests_8
[code]

[2020-03-19 19:03] JasonFengJ9 commented on #8921
Will have a look.

[2020-03-19 19:55] pshipton commented on #8921
[code]

[2020-03-19 20:01] pshipton commented on #8921
If it's useful, note there is a debug-image artifact on the JVM that contains the native debug symbols.
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_mac_OpenJDK/180/

[2020-03-19 20:14] keithc-ca commented on #8842
All the pull requests mention in https://github.com/eclipse/openj9/issues/8842#issuecomment-601313084 are now merged. Is it time to close this?

[2020-03-19 20:16] harryyu1994 commented on #8786
Comparing compile log differences:

JITServer:

[code]

NonJITServer
[code]

[2020-03-19 20:26] dmitripivkine commented on #8652
For failure https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux/148/ the crash occur in the same method as before `J9Method_HT::onClassUnloading`:
[code]
just from different hook, this time `J9HOOK_VM_ANON_CLASSES_UNLOAD`
The method was called with classloader 0x3FFF80098CC8 `com/ibm/oti/vm/BootstrapClassLoader`. I believe the exact reason for crash was

[2020-03-19 20:39] keithc-ca opened #8925 "Network problems with ub16p8j96"
[code]
See https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.functional_ppc64le_linux_Personal/8/ which is a restart of https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.functional_ppc64le_linux_Personal/7/ that failed the same way.

[2020-03-19 20:39] keithc-ca commented on #8925
FYI @AdamBrousseau @jdekonin

[2020-03-19 20:43] theresa-m commented on #8890
Hi @cznewbold are you able to provide any details for how this error can be reproduced?

I've been going through the Java Virtual Machine Specifications for deviations in OpenJ9's behavior and trying to reproduce locally but I haven't been successful.

One idea to narrow it down would be to isolate each method in `LogEntry` to figure out which one is having issues with loading while making sure to

[2020-03-19 20:49] jdekonin commented on #8925
@rajdeep-singh1, have you been doing any work on the Power KVM @ UNB today?  Anything related?

[2020-03-19 20:59] AdamBrousseau commented on #8925
I was working on that machine. It may not be put back to normal. If that's the case I thought I would have had it disabled but maybe it got reenabled after the reboot last night.

[2020-03-19 21:03] cathyzhyi commented on #8870
@lumpfish Hey is it that even when all tests pass we might still have this crash? My grinder [here]( https://ci.adoptopenjdk.net/job/Grinder/2527/console) shows it all passed but I notice the original failure is also `Total tests run: 22, Failures: 0, Skips: 0` so I am not sure if it's reproduced.

[2020-03-19 21:11] smlambert commented on #8870
I have seen cases where all the openjdk tests pass, despite there being a crash during the run.  Because of this, we have created this [TKG issue 45](https://github.com/AdoptOpenJDK/TKG/issues/45), where we will check for cores, and if they are produced, we will fail the test run (despite all tests reporting as passed).  As we have not addressed issue 45 yet, for now you will have to search the co

[2020-03-19 21:17] harryyu1994 commented on #8786
More details on the inline with "traceInlining"
[code]

[2020-03-19 21:20] smlambert commented on #8870
Looking at your Grinder, I see crash output (though do not know if its the same as reported above):

09:58:22  	"/Users/jenkins/workspace/Grinder/openjdk-tests/TKG/../openjdk/openjdk-jdk/test/jdk:jdk_lang"; \
09:58:22  	if [ $? -eq 0 ] ; then echo ""; echo "jdk_lang_0""_PASSED"; echo ""; cd /Users/jenkins/workspace/Grinder/openjdk-tests/TKG/..;  else echo ""; echo "jdk_lang_0""_FAILED"; echo ""; f

[2020-03-19 21:40] pshipton commented on #8870
Note that a dump for an OutOfMemoryError doesn't necessarily indicate a problem. The test could have intentionally caused it and caught the exception. OpenJ9 test that do this tend to run with dumps turned off to avoid the overhead.

[2020-03-19 21:41] harryyu1994 commented on #8786
Analyzing code path:

JITServer got into `adjustFanInSizeInExceedsSizeThreshold()` while NonJITServer never did.

[code]

[2020-03-19 21:46] pshipton commented on #8925
There were many failures on this machine last night between midnight and 4am. It's not clear that jenkins was down, I think it was still running but we couldn't get to it.

[2020-03-19 21:49] pshipton commented on #8925
i.e. if jenkins got restarted I think it was after 4am.

[2020-03-19 21:51] harryyu1994 commented on #8786
with `-Xjit:disableInlining`, JITServer still crashes. Must be something else..

[2020-03-19 21:52] pshipton commented on #8925
I assume we don't need this issue, and the machine will be corrected before it's intentionally brought back online.

[2020-03-19 21:52] #8925 closed

[2020-03-19 22:31] cathyzhyi commented on #8870
Thanks for pointing this out. I notice that the original failure is not reproduced and all the failures are OutOfMemoryError

[2020-03-20 03:50] AdamBrousseau commented on #4719
What is the value of build list?
From Tobi's internal build I see the following steps
[code]
Would it be `BUILD_LIST=functional/Valhalla functional/cmdline_options_tester functional/cmdLineTests/valuetypeddrtests`? (space separated or comma).

Currently, we don't pass build_list, we rely on the default value of the test job, which is put there by the test auto gen job. The value comes from Group.

[2020-03-20 04:13] pshipton commented on #8840
@jdekonin if you can't fix it, please open a PR to remove the build label so that jenkins restarts don't re-enable it.

[2020-03-20 09:58] smlambert commented on #4719
Tobi's script could be simplified to this:

export BUILD_LIST=functional/Valhalla,functional/cmdline_options_tester,functional/cmdLineTests/valuetypeddrtests

make compile
make _sanity
make _extended

- using a comma-separated BUILD_LIST and TKG no longer needs the configure step

It makes sense to only pass params that have values.

[2020-03-20 12:22] lumpfish commented on #8870
Yes, some jdk_util tests deliberately provoke OutOfMemory.

[2020-03-20 12:40] pshipton commented on #8842
I did all my testing using jdk8, assuming the problem would be the same across versions. It seems the problem on jdk8 is resolved by the change, but not jdk11 or jdk14. I'll have to run more testing.

[2020-03-20 12:52] pshipton commented on #8842
jdk11

https://ci.eclipse.org/openj9/view/Test/job/Grinder/698 - multiheap:4
https://ci.eclipse.org/openj9/view/Test/job/Grinder/699 - multiheap:8

[2020-03-20 14:05] M-Davies commented on #7775
Added to perm excludes for the above comment

[2020-03-20 14:05] #7775 closed

[2020-03-20 14:07] zl-wang commented on #8842
all passed.   please try multiheap:24/28/30 multiple times.  i assumed we don't need to go through another round of performance test, since the heap number is definitely more than 16 (which is the max thread number of existing test cases).

@shanchao95  maybe you need to change your test cases to increase the thread number to 24 and 32, and test against multiheap:24/28/30/32 to see whether there a

[2020-03-20 14:36] pshipton commented on #8842
@zl-wang would one of the above be acceptable? Let me know what we should be aiming for and I can run more tests.

[2020-03-20 14:37] pshipton commented on #8842
Sorry, didn't see your comment before I posted mine.

[2020-03-20 14:41] pshipton commented on #8842
Given previous results, I suspect the following will work

https://ci.eclipse.org/openj9/view/Test/job/Grinder/701 - multiheap:32 x 3

[2020-03-20 14:48] zl-wang commented on #8842
unlikely to succeed.  multiheap is multiheap:32  (the default is 32 heaps).

[2020-03-20 14:51] pshipton commented on #8842
ok.

https://ci.eclipse.org/openj9/view/Test/job/Grinder/702 - multiheap:24 x 3
https://ci.eclipse.org/openj9/view/Test/job/Grinder/703 - multiheap:28 x 3
Will start multiheap:30 after some time, too many starting at the same time may cause artifactory download problems.

[2020-03-20 14:59] AdamBrousseau commented on #4719
@tajila can you review my PR build and see if it's working as expected?
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDKnext_x86-64_linux_valhalla/2/

[2020-03-20 14:59] pshipton commented on #8842
Trying also the entire extended.system suite
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/178 - multiheap:24
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/179 - multiheap:28

[2020-03-20 15:46] pshipton commented on #8842
https://ci.eclipse.org/openj9/view/Test/job/Grinder/705 - multiheap:18 x 3
https://ci.eclipse.org/openj9/view/Test/job/Grinder/706 - multiheap:20 x 3

[2020-03-20 15:54] fjeremic commented on #7684
Repro rate with following command was 9/10:

[code]

Console:

[code]

Unfortunately I'm unable to limit further due to OSR. Will be reaching out to the common team for help on how to proceed.

[2020-03-20 16:04] zl-wang commented on #8842
This is worrisome.  What is the difference between java11 and java8, re the environment?  we also didn't chase further the previous failure with RSS set to unlimited. It is worthwhile to launch a previous failure with everything set to unlimited.

[2020-03-20 16:04] llxia commented on #8874
While working on this PR, I noticed that `*.dSYM` files are already in `lib` in [regular mac SDK](https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK11_x86-64_mac_Nightly/321/OpenJ9-JDK11-x86-64_mac-20200319-020702.tar.gz). Is this expected? fyi @keithc-ca
`bin` does not contain any `*.dSYM` files (as expected)

Download mac SDK:
[code]

Download mac debug image:
[

[2020-03-20 16:14] dmitripivkine commented on #8619
I believe this item is NOT duplicate of https://github.com/eclipse/openj9/issues/8652
In this case crash occur in `libj9gc29.so` directly, not in the JIT code called by hook. As I mentioned before it looks like non-adequate reaction to Class Verification failure. This explains why problem went away with newer version (somebody fixed incompatible class problem). However JVM should not crash obvious

[2020-03-20 16:15] dmitripivkine commented on #8619
moving this item to next milestone

[2020-03-20 16:31] dnakamura commented on #8183
Digging into the issues on plinux, it appears that there are different issues. The main issue was that the the network interface on the database server would go down, resulting in timeouts while attempting to connect to the database. The new issue is a bit more complicated (but still results in timeouts while connecting to the database). The perf benchmark script has several layers of invoking sub

[2020-03-20 16:33] fjeremic commented on #7684
Got in touch with @andrewcraik offline who suggested a path forward. Many thanks for his help. I'm continuing the limiting now.

[2020-03-20 16:43] pshipton commented on #8842
I expect jdk11 just uses more memory. There are many additional classes loaded for modularity on jdk11+, and additional native structures used to manage it.

I don't think setting rss to unlimited made any difference, but I can re-run multiheap:20 with this setting.

[2020-03-20 16:49] pshipton commented on #8842
https://ci.eclipse.org/openj9/view/Test/job/Grinder/708 - multiheap:20 x 3 unlimited

[2020-03-20 16:54] zl-wang commented on #8842
i knew setting RSS to unlimited didn't make a difference. So, it must be some other limit. Such that, I suggested setting every limit to unlimited and running one of the known failures.

[2020-03-20 16:56] pshipton commented on #8842
The only other limit is the stack, which is already at the maximum.
https://github.com/eclipse/openj9/issues/8842#issuecomment-598890366

[2020-03-20 17:00] tajila commented on #4719
@AdamBrousseau the build job looks good, I was able to see the test results, https://ci.eclipse.org/openj9/blue/organizations/jenkins/Test_openjdkValhalla_j9_sanity.functional_x86-64_linux_valhalla_Personal/detail/Test_openjdkvalhalla_j9_sanity.functional_x86-64_linux_valhalla_Personal/1/pipeline

The link didnt work for me.

Also, https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/183. After

[2020-03-20 17:07] AdamBrousseau commented on #4719
Yea the OpenJ9 Jenkins doesn't have blue ocean views anymore. Here is the classic view
https://ci.eclipse.org/openj9/job/Test_openjdkValhalla_j9_sanity.functional_x86-64_linux_valhalla_Personal/1/
Note this is just sanity.

I will hold off on the PR until 183 :+1:

[2020-03-20 18:00] zl-wang commented on #8842
ok

[2020-03-20 18:04] pshipton commented on #8842
https://ci.eclipse.org/openj9/view/Test/job/Grinder/709 - multiheap:24 x 3 unlimited
https://ci.eclipse.org/openj9/view/Test/job/Grinder/710 - multiheap:28 x 3 unlimited
https://ci.eclipse.org/openj9/view/Test/job/Grinder/711 - multiheap:32 x 3 unlimited

[2020-03-20 18:06] keithc-ca commented on #8874
I expect the absence of debug symbols in builds from adopt is they use configure option `--with-native-debug-symbols=none`; see [1].

[1] https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/build.sh#L275

[2020-03-20 18:46] llxia commented on #8874
Do we expect to see debug symbols to be in OpenJ9 builds? The current behavior is that the debugs symbols are partially in OpenJ9 builds (in lib, but not in bin)

[2020-03-20 18:59] keithc-ca commented on #8874
There should be debug symbols for all openj9 contributions (e.g. if jitserver is enabled, you'll see both jitserver and jitserver.debuginfo in the bin directory). On Windows, everything is in the bin directory (there are no .pdb files in the lib directory). If adopt didn't use the configure option `--with-native-debug-symbols=none`, you would see debug symbols for openjdk launchers and libraries.

[2020-03-20 19:14] pshipton commented on #8874
Seems that debug in OpenJ9 builds is expected, but it varies between jdk8 and jdk11+ atm. Also we may decide to change the OpenJ9 build defaults in the future.
I think the safest thing to do is overwrite any existing files from the debug image. On AIX this will actually replace the .so files, which is fine.
Since Adopt builds don't contain debug, adding the debug image is desired. For OpenJ9 build

[2020-03-20 19:25] harryyu1994 commented on #8786
Differences in Mixed Mode Assembly for `java/lang/String.hashCode()I`
With inlining disabled generated code for `org/objectweb/asm/SymbolTable.hash` on JITServer and NonJITServer seem to be identical.

JITServer:

[code]

NonJITServer:

[code]

[2020-03-20 19:27] llxia commented on #8874
ok, I will overlay the debug images on top of sdk regardless if the sdk has them or not.
Thanks @pshipton @keithc-ca

[2020-03-20 19:33] fjeremic commented on #7684
Repro rate with following command was 3/4:

[code]

Console:

[code]

[2020-03-20 19:56] pshipton commented on #8842
Is there a problem to set the default to `multiheap:16`?

[2020-03-20 20:05] zl-wang commented on #8842
there might be performance implication when the application has many threads.  so that, I asked for:  https://github.com/eclipse/openj9/issues/8842#issuecomment-601719169

[2020-03-20 20:26] cathyzhyi opened #8937 "Clean up the methodHandleInvokeInliningOpts"
Ideally method handle chain should be inlined within one pass of inlining together with all the other normal Java methods [here] https://github.com/eclipse/openj9/pull/6173. However, there are cases where the method handle thunk might not be inlined in the normal inlining and require a second pass:
1. because of various heuristic in inlining there is still a chance the `java_lang_invoke_MethodHand

[2020-03-20 20:40] harryyu1994 commented on #8786
Post Binary Instructions:

JITServer:

[code]

NonJITServer
[code]

[2020-03-20 20:42] fjeremic commented on #7684
Repro rate with following command was 1/2 (killed early to make progress):

[code]

Console:

[code]

Looks like we're basically just down to inlining now. Going to be building a custom JIT with some changes from @liqunl to enable us to carry on with `lastOptIndex` now.

[2020-03-20 20:48] pshipton commented on #8842
Trying all extended.system with multiheap:16
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/181/

[2020-03-20 21:16] harryyu1994 commented on #8786
Looks like JITServer is consistently doing
[code]
instead of
[code]

[2020-03-20 22:07] mpirvu commented on #8786
If `0x00007fd7790b19c0` is equivalent to `0x00007fd15de9d440` then the two sequences are equivalent, the first one is just longer because it goes through a register first

[2020-03-20 22:09] harryyu1994 commented on #8786
That's the only difference I found across two methods.
Yes they do look equivalent but what's the reason behind JITServer consistently doing it one way and nonJITServer the other?

[2020-03-20 22:20] harryyu1994 commented on #8786
`org/objectweb/asm/SymbolTable.hash(ILjava/lang/String;)I` calls `java/lang/String.hashCode()I`
`org/objectweb/asm/SymbolTable.hash(ILjava/lang/String;)I` generated identical assembly code.
The problem is most likely in `java/lang/String.hashCode()I`, but except for that mirror difference, the assembly code looks similar as well.

[2020-03-21 14:23] pshipton opened #8942 "xlinux santy.openjdk Cannot run program "null/Xvfb""
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/7
cent6-x64-1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/8
ub16x64j97
[code]

[2020-03-21 14:23] pshipton commented on #8942
@llxia @smlambert any ideas what is causing this? It was working up to last night.

[2020-03-21 14:24] pshipton commented on #8942
We did have the jenkins restart, probably lost some setting?

[2020-03-21 14:25] pshipton commented on #8942
@jdekonin as well

[2020-03-21 17:51] fjeremic commented on #7684
Repro rate with the following command was 1/2 (killed early to make progress):

[code]

Console:

[code]

We built a custom JIT with some extra fixes that allowed us to continue the search.

[2020-03-21 18:05] smlambert commented on #8942
Looks like the plugin can not find and therefore can not launch the xvfb process on that particular machine (at null/Xvfb)

[2020-03-21 22:03] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.system_x86-64_mac_Release/7
SharedClasses.SCM23.MultiThread_0
[code]

[2020-03-22 03:52] pshipton commented on #8942
I don't think it's a machine problem. It used to work on a machine that's failing now.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/4 - ub16x64j97

The last working builds were Thursday night, jdk8 link:
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/6 - ub16x64j910

Latest failures:
https://ci.eclipse.org/openj9/jo

[2020-03-22 19:28] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal/93
LambdaLoadTest_OpenJ9_NonLinux_special_24

[2020-03-23 00:39] 1a2s3d4f1 commented on #8353
openjdk version "11.0.6+10"
openj9 version "0.18.1"
system windows 7
bellsoft-jre11.0.6+10-windows-amd64-full:
![2020-03-23_08 03 14](https://user-images.githubusercontent.com/40121560/77267985-65d22880-6cdf-11ea-9e19-792d9b9e6a8a.png)
OpenJDK11U-jdk_x64_windows_openj9_11.0.6_10_openj9-0.18.1:
![2020-03-23_08 14 32](https://user-images.githubusercontent.com/40121560/77268613-7daaac00-6ce1-11ea-8e4

[2020-03-23 01:40] JasonFengJ9 commented on #8842
Also occurred at internal builds such as `Test_openjdk14_j9_extended.system_ppc64_aix_Nightly/47`.
[code]

[2020-03-23 01:51] JasonFengJ9 opened #8947 "net.openj9.test.PDMoveShifts.TestShiftsAndConvert: IllegalArgumentException: Invalid Precisions or shift amount"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_x86-64_linux_Nightly/1298`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://hyc-runtimes-jen

[2020-03-23 01:53] 1a2s3d4f1 commented on #8353
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Windows 7 amd64-64-
it Compressed References 20200122_442 (JIT enabled, AOT enabled)
OpenJ9   - 51a5857d2
OMR      - 7a1b0239a
JCL      - da35e0c380 based on jdk-11.0.6+10)

bellsoft-jre11.0.6+10-windows-amd64-full:
![2020-03-23_09 15 22](https:

[2020-03-23 01:56] JasonFengJ9 commented on #6714
A similar ASSERTION failure occurred at `Test_openjdk11_j9_sanity.functional_x86-64_linux_jit_Nightly/25`
[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=x86-64_linux&TARGET=cmdLineTes

[2020-03-23 02:01] JasonFengJ9 opened #8948 "testSoftMxLocal_3_FAILED : OutOfMemoryError"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.functional_x86-64_mac_xl_Nightly/27`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://hyc-runtimes

[2020-03-23 13:07] #8707 closed

[2020-03-23 13:09] pshipton commented on #8947
@JasonFengJ9 Looks like a dup of https://github.com/eclipse/openj9/issues/6552

[2020-03-23 13:09] pshipton commented on #6552
@rpshukla see https://github.com/eclipse/openj9/issues/8947

[2020-03-23 13:17] #8947 closed

[2020-03-23 14:02] #8545 closed

[2020-03-23 14:05] pshipton opened #8949 "testSCCacheManagement_0 Mismatch in number of ROMClasses"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/319
 testSCCacheManagement_0
[code]

[2020-03-23 14:06] pshipton commented on #8949
Likely some timing problem, opened for tracking in case it starts to occur more often.

[2020-03-23 16:31] liqunl commented on #7247
Saw similar crash on internal build, java/lang/ProcessBuilder/Basic.java#id0.Basic_id0
[code]

[2020-03-23 16:50] cznewbold commented on #8890
hi @theresa-m
the info i got from the developer is that we are using OpenJPA 2.4.2
and our code was working with openjdk 1.8.0_222
but is failing on 1.8.0_242

openjdk is now checking for duplicate entries in LocalVariableTypeTable.
it was not checking for this in the earlier openjdk version

so the question is, can this (probably correct) check be  overridden with a switch ?

[2020-03-23 17:02] pshipton commented on #8890
Does it also fail with a Hotspot build?
https://adoptopenjdk.net/releases.html

[2020-03-23 17:12] a7ehuo opened #8952 "Intermittent JITServer Assert in debug build: "_references[1]=0x3b56f0 is not the same as the client KOT[1]=0x3d5230. _references.size()=5""
Running into the following assert intermittently with the debug build while running sanity test `jit_tr_0`. Likely the assert should be removed since the reference could be updated at the client and there is a chance the cached one at the server is staled.

[code]

[2020-03-23 18:37] cathyzhyi commented on #8823
assigned to @Charlmzz

[2020-03-23 18:48] cathyzhyi commented on #7247
assigned to @rpshukla

[2020-03-23 19:44] fjeremic commented on #7684
Just noting that the issue does reproduce with last night's nightly build:

Console:

[code]

Version:

[code]

[2020-03-23 19:49] fjeremic commented on #7684
This is best command I can reproduce with:

[code]

It appears that using `lastOptIndex=14` is not equivalent to using `lastOptIndex=15,lastOptSubIndex=0` which is a bit mysterious. Looking at the trace logs of these two runs it appears that the inlining table of running with `lastOptIndex=14` is about half the size of the inlining table with the other option. Further examination yields that the k

[2020-03-23 20:06] a7ehuo commented on #8839
I'll take a look next.

[2020-03-23 21:27] harryyu1994 commented on #8786
After applying `-Xjit:inhibitRecompilation`, the crash is still here. Currently the only difference remaining is this one line:
JITServer:
[code]

NonJITServer:
[code]

View the differences here: https://www.diffchecker.com/c8VXCMHx

Current option:
[code]

JITServer
[code]

NonJITServer:
[code]

[2020-03-23 21:42] fjeremic commented on #8786
@harryyu1994 FYI you can run with `maskAddresses` option which will hide all addresses when printing instructions. This makes diffing two trace logs *much* easier.

[2020-03-23 21:48] harryyu1994 commented on #8786
Ruling out `org/objectweb/asm/SymbolTable.hash(ILjava/lang/String;)I` as its generated instructions look identical. See this link for the diff file: https://www.diffchecker.com/XQtQYJYV.

Will try `maskAddresses`.
This diff tool seems to be pretty good too: https://www.diffchecker.com/

[2020-03-23 23:22] mpirvu commented on #8786
Somewhere above I saw that you used optLevel=noOpt/cold/warm
If that's the case, then recompilation is disabled and `inhibitRecompilation` shoud do nothing.

[2020-03-23 23:41] harryyu1994 commented on #8786
No optLevel option:
```export EXTRA_OPTIONS=" -Xshareclasses:none -Xjit:limitFile=/root/Harry_Debug/limitFile.log,log=/root/Harry_Debug/compileNonJITServer.log,tracePostBinaryEncoding,disableInlining,inhibitRecompilation "```

[2020-03-23 23:43] harryyu1994 commented on #8786
I couldn't reproduce the issue with optLevel set. It may suggest it has something to do with recompilation.

[2020-03-24 01:31] cathyzhyi commented on #7748
It should be fixed very soon. The PR is ready to be merged.

[2020-03-24 01:47] cathyzhyi commented on #8838
assigned to @cathyzhyi

[2020-03-24 02:04] mpirvu opened #8958 "Reduce number of VM_getROMMethodFromRAMMethod messages"
The `VM_getROMMethodFromRAMMethod` message is used by the JITServer in the following frontend method:
[code]
During an AcmeAir benchmark run with AOT enabled I see 450-650 such messages.
We should use ` PersistentUnorderedMap<J9Method*, J9MethodInfo> _J9MethodMap;` cache to extract the romMethod and only if there is a miss in the cache, issue a message.

[2020-03-24 02:16] psoohoo-turbonomic commented on #8552
Thanks for the suggested workaround, @theresa-m! The throw/systhrow event handler seemed to do the job. Although "kill -9" didn't work, a regular SIGTERM/"kill %pid" seems to do the job.

[2020-03-24 02:25] mpirvu opened #8959 "Reduce number of SharedCache_getClassChainOffsetInSharedCache messages"
`SharedCache_getClassChainOffsetInSharedCache` messages are issued by JITServer from the following method:
[code]
During an AcmeAir benchmark run with SCC/AOT I see ~30000 such messages.
The non-jitserver implementation performs a mapping from a j9class to an offset in the shared class cache. We could use caching to capture that mapping. The caching is very simple: just add a new field to our big

[2020-03-24 05:05] dnakamura commented on #8183
- Windows: Re-ran benchmarks to try to get a larger sample size. 0.8% regression remains, now with a 0.2% confidence interval. Identified an issue where the method handle interpreter was being built with MSVC instead of clang. Spinning up a fixed build to benchmark.
- z linux - Identified an outlier in the uma runs that was dragging the scores down. Excluding the outlier brings the cmake build to

[2020-03-24 08:15] knn-k opened #8960 "AArch64: Better memory synchronization"
J9::ARM64::TreeEvaluator::flushEvaluator() uses the dsb (Data Synchronization Barrier) instruction with the option SY (0xF, full system barrier) for TR::allocationFence conservatively.  With this option, "reads and writes are the required access types, both before and after the barrier instruction".

Investigate use of weaker synchronization for improving the performance.

[2020-03-24 08:21] knn-k commented on #8960
There was a discussion in #6250 which implemented flushEvaluator().

[2020-03-24 11:58] 0xdaryl opened #8961 "read-only monitor optimization"
@zl-wang @gita-omr @IBMJimmyk : would one of you mind summarizing the read-only monitor optimization on Power?

This is an optimization this is enabled for Power and ARM.  However, ARM doesn't provide any codegen support for it.  X86 seems to have some backend support for it, but doesn't enable the optimizer analysis.  Z and AArch64 don't provide any support.

I remember some work being done in th

[2020-03-24 12:03] pshipton commented on #8942
The tests continue to fail nightly, I'm not going to keep reporting them here every day.

[2020-03-24 13:34] IBMJimmyk commented on #8961
Are you referring to an optimization that sets the `readMonitor` flag on a node? If so, Power doesn't support it in codegen either. I actaully just disabled codegen support since the generated assembly was wrong (it pre-dated the Reserved bit so it ended up setting the Reserved bit when trying to increment the RC). If needed, it should be fixable but wasn't a priority at the time since I was alrea

[2020-03-24 13:39] smlambert commented on #8942
We can not see whether the something was lost in the Jenkins config on the restart, but imagine we can raise an issue to ask if anything was lost.  I have not seen that happen at the other Jenkins server (where the xvfb plugin in configuration gets wiped out on a restart, but its a possibility).

[2020-03-24 13:44] smlambert commented on #8942
added note to https://github.com/eclipse-cbi/jiro/issues/92#issuecomment-603246883

[2020-03-24 13:57] shanchao95 commented on #8842
@zl-wang  multiheap default, 24, 28, 30, 32 performance for 24 and 32 threads [multiheap_performance.xlsx](https://github.com/eclipse/openj9/files/4375629/multiheap_performance.xlsx)

[2020-03-24 13:59] 0xdaryl commented on #8961
Yes, that's the one.  OpenJ9 has been using the Reserved bit for at least a decade so perhaps the notion of read-only monitors has long been deprecated and it should be surgically removed from the code.

[2020-03-24 14:17] zl-wang commented on #8842
@shanchao95  thanks for the data. the performance varied quite a bit, especially looking at multiheap default and multiheap:32 (they should be the same or comparable, since default multiheap is 32). do you have the confidence intervals of them?

In addition, I am more interested in multiheap:16, multiheap:18, and multiheap:20 with thread number 16, 24, and 32.  Could you rerun for these?

Notice m

[2020-03-24 14:28] shanchao95 commented on #8842
Sure, i'll update when it is done

[2020-03-24 14:44] a7ehuo commented on #8839
Ran into the fatal assert when running the whole sanity functional test locally with the release build. Different VMState and different method being compiled.

The assert happened while running `cmdLineTester_jvmtitests_7`. But when I ran multiple times with `cmdLineTester_jvmtitests_7`, it all passed without any issue. Also tried to add `-Xjit:count=0` to the test, still not reproducible with `cm

[2020-03-24 14:55] zl-wang commented on #8961
Yeah, it should be removed. Keep in mind that this is different from SimpleReadMonitor where we pattern-match the incoming trees and evaluate monEnt/read/MonExit together.

I would not go into the details of the original readonly monitor design, sufficing to say:
1) the idea was along the line of Transactional Memory before TM became welknown;
2) the design was not quite completed, especially cons

[2020-03-24 15:05] 0xdaryl commented on #8961
Thanks @zl-wang.  A quick read through the SimpleReadMonitor function reveals that it will only occur if `isReadMonitor` is set on a node, meaning that the monitor elimination analysis still seems to be relevant for it [1].

Is the SimpleReadMonitor code Power architecture specific, or can it be generalized to other platforms as well?

[1] https://github.com/eclipse/openj9/blob/61c3a700129045c0cc7

[2020-03-24 15:26] zl-wang commented on #8961
it is applicable to architectures with load-Reserved and store-Conditional atomic supports. i cannot see how it can be applied to single-step CompareAndSwap or CompareAndExchange platforms.

[2020-03-24 15:40] harryyu1994 commented on #8786
Here's optLevel=warm (left) vs. inhibitRecompilation (right)
https://www.diffchecker.com/jrT4K4FQ
with recompilation disabled, there is no crash.
with recompilation inhibited, I'm seeing some extra code being generated and that may be the root of the issue.

[2020-03-24 15:58] #8902 closed

[2020-03-24 16:56] dmitripivkine commented on #8948
This OOM has been created intentionally:
[code]
https://github.com/eclipse/openj9/blob/398fa673037e0a655fb2b3b6735d914cac76e5fb/test/functional/JLM_Tests/src/j9vm/test/softmx/SoftmxLocalTest.java#L244
[code]
However this OOM should be caught but it was not.

I have result files downloaded, ask me if you need them.

[2020-03-24 17:17] 1a2s3d4f1 commented on #8353
[LogVerbose.20200323.093447.5948.gz](https://github.com/eclipse/openj9/files/4376733/LogVerbose.20200323.093447.5948.gz)
Player move cause tick time longer(36ms>42ms)

[2020-03-24 17:30] dmitripivkine commented on #8948
There are two things I noticed not related to failure but `x86-64_mac_xl` spec:
- Start address of object heap is `0xdc80000` obviously below 4GB. This means for Large Heap we overwrite linker default for OSX to use low 4GB for system purpose the same way it done for Compressed Refs. It is not wrong but I was under impression that we don't want (and don't need obviously) to do it for Large Heap ve

[2020-03-24 17:36] DanHeidinga commented on #8641
Agreed.  Moving it forward as we haven't had a chance to resolve this yet

[2020-03-24 17:43] pshipton commented on #8948
Yes, 300MB is the default size when there is room. This is the maximum size, there is a soft limit of 80MB unless the users changes it.

[2020-03-24 17:48] pshipton commented on #8948
Seems it was done intentionally. Soon there will only be one JVM anyway.
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/217

[2020-03-24 17:53] pshipton commented on #8948
I'm not sure this is the problem. Before Java code runs the dumps are created by default (unless -Xdump:none), and in this case an abort occurred. Why did the abort occur?

[2020-03-24 18:12] DanHeidinga commented on #8725
This has been addressed

[2020-03-24 18:12] #8725 closed

[2020-03-24 18:17] pshipton commented on #8637
@r30shah is there any outlook for getting the OMR change merged?

[2020-03-24 18:24] DanHeidinga commented on #7562
Moving this forward as we haven't seen it for almost a month.  Hopefully we can reproduce it next milestone and get it sorted out.  My gut says this is likely to be a jit issue but we'd need cores to confirm

[2020-03-24 18:35] r30shah commented on #8637
I am verifying some of the concerns @andrewcraik  had on the PR, currently testing changes (Perf and Functional) to make sure, they are not regressing the performance. I am expecting the testing to be finished with addressing concerns on the changes to be done this week.

[2020-03-24 18:46] pshipton commented on #8637
Ok thanks. Note the milestone 2 build is coming up this weekend and we generally don't allow any more change after that. Although we set M2 earlier this time and can evaluate the risk of the change once it's ready.

[2020-03-24 18:51] pshipton commented on #8942
I can't explain the timing, but the problem was in the jenkins config and is fixed as per https://github.com/eclipse-cbi/jiro/issues/92#issuecomment-603340529

[2020-03-24 18:51] #8942 closed

[2020-03-24 19:01] dmitripivkine commented on #8948
This is good point. The `Abort trap: 6` usually associates with memory violation. However should we have `JVMDUMP039I Processing dump event "systhrow"` message if exception should be caught? I guess it crashed somewhere in OOM handling

[2020-03-24 19:06] dmitripivkine commented on #8948
I found some registers:
[code]

[2020-03-24 19:13] pshipton commented on #8948
yes, that is what happens. Usually these type of tests run with `-Xdump:none`

[2020-03-24 19:46] dmitripivkine commented on #8948
I looked through code and can not find place where size for buffer reserved for system dump name is not a `J9_MAX_DUMP_PATH` defined as `EsMaxPath` defined as `1024`

[2020-03-24 23:12] pshipton opened #8965 "Windows Unable to delete openjdkbinary"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_OMR/483
win2012r2-x86-6
[code]

[2020-03-24 23:13] pshipton commented on #8965
@jdekonin @AdamBrousseau

[2020-03-25 04:44] knn-k opened #8966 "AArch64: Failure in system test SC_Softmx_JitAot_Linux_0"
Failure link
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_aarch64_linux_Personal/4/
SC_Softmx_JitAot_Linux_0

The test runs the VM with `-Xscmaxaot10k -Xscmaxjitdata10k`, and expects the AOT data space to be full.  But the file `stderr_combined.txt` says the JIT data store is full instead with AArch64, as shown below.
[code]

AOT is enabled in the AArch64 runtime.

[2020-03-25 05:43] knn-k opened #8967 "AArch64:"
Failure link
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_aarch64_linux_Personal/7/
org.openj9.test.softmx.SoftmxUserScenarioTest.testSoftmxUserScenario

The test tries to start the VM with `-Xmx132362m -Xsoftmx66131m`, which is too large for a compressed refs build.  The test machine seems to have 128GB memory.

[code]

[2020-03-25 05:48] knn-k commented on #8967
This test passes on another AArch64 machine with less memory using `-Xmx6046m`.

[2020-03-25 05:57] knn-k opened #8969 "AArch64: Failure in ContendedFieldsTests_90_1"
Failure link
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_aarch64_linux_Personal/7/

Some tests in ContendedFieldsTests_90_1 fail as shown below.
[code]

[2020-03-25 06:01] knn-k commented on #8969
This is caused by the fact that the VM fails to get the line size of the level 1 data cache.
#8617 implemented `j9sysinfo_get_cache_info()` for AArch64 Linux using `sysconf(_SC_LEVEL1_DCACHE_LINESIZE)`.
It works as expected on some environments, including Raspberry Pi 3 Ubuntu 18.04 LTS aarch64, while it return 0 on the test machine running CentOS.

[2020-03-25 08:45] knn-k commented on #8969
Copied from #8617:

`sysconf(_SC_LEVEL1_DCACHE_LINESIZE)` returns 0 on the test machine, and that makes a ContendedFields test fail.  `/sys/devices/system/cpu/cpu<N>/cache/` is unavailable there.
[code]

[2020-03-25 09:55] knn-k opened #8970 "AArch64: Failure in java/nio/MappedByteBuffer/Truncate.java.Truncate"
Failure link
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/96/testReport/junit/java_nio_MappedByteBuffer_Truncate/java/Truncate/

Bus error with java/nio/MappedByteBuffer/Truncate.java.Truncate
[code]

[2020-03-25 09:59] M-Davies commented on #8373
Occurred in a JDK14-j9-aix run last night https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_j9_sanity.openjdk_ppc64_aix/31/

Output files: https://ibm.box.com/s/kkvbuy03z3za24ocugw8owhppynkym7w

[2020-03-25 10:00] knn-k commented on #8970
This is reproducible without the JIT (`-Xint`).

[2020-03-25 11:00] M-Davies commented on #8652
Just occurred again in a jdk14-j9-plinux run last night ([test-osuosl-centos74-ppc64le-1](https://ci.adoptopenjdk.net/computer/test-osuosl-centos74-ppc64le-1))
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_j9_sanity.openjdk_ppc64le_linux/39/console

Diagnostic files: https://ibm.box.com/s/e0tvq7etp9o5rhp5dpul72qas8qil3tr

Will try and run a few grinders on `java/nio/file/WatchSe

[2020-03-25 12:11] pshipton commented on #8966
@Mesbah-Alam can you help fix this please.

[2020-03-25 12:33] pshipton commented on #8970
@DanHeidinga fyi

[2020-03-25 12:36] pshipton commented on #8373
There is a fix underway for this https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/381
It needs to be ported to the other jdk versions.

[2020-03-25 13:21] pshipton opened #8972 "BruteArgumentMoverHandle.permuteArguments NullPointerException"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_xl_Nightly/319
TestIBMJlmRemoteMemoryNoAuth_0
[code]

[2020-03-25 13:24] DanHeidinga commented on #8972
@cathyzhyi FYI as I see an NPE coming from `BruteArgumentMoverHandle`

[2020-03-25 13:27] cznewbold commented on #8890
i am working on building and testing our product with the hotspot build

what is the difference between the hotspot and regular builds?
is there any way to tell them apart. the java -version / -fullversion does not
mention 'hotspot'

[2020-03-25 13:40] orito972 opened #8973 "Dump Event "gpf" (00002000) received"
Hi,
I'v got the following core dump:

`0SECTION       TITLE subcomponent dump routine
NULL           ===============================
1TICHARSET     ANSI_X3.4-1968
1TISIGINFO     Dump Event "gpf" (00002000) received
1TIDATETIME    Date: 2020/03/24 at 10:56:21:075
1TINANOTIME    System nanotime: 73484966233883
1TIFILENAME    Javacore filename:    /var/log/dump/usermode/javacore.20200324.105438.5935.

[2020-03-25 13:57] pshipton opened #8974 "Test material SHA change results in many failures"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_OMR/464
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_OMR/485
failures finding the test material

I see two different SHAs for the same repo in the SHA.txt file.
[code]
https://github.com/eclipse/openj9/compare/398fa673...18cf44b9

jdk8 Win64 didn't fail, and doesn't h

[2020-03-25 13:59] pshipton commented on #8974
@smlambert @llxia fyi

[2020-03-25 14:02] pshipton commented on #8973
@andrewcraik fyi

[2020-03-25 14:03] pshipton commented on #8973
Hmm, just realized this is an IBM JVM, not OpenJ9. I expect this is better reported via IBM support channels.

[2020-03-25 14:04] M-Davies commented on #8065
Perm excluded

[2020-03-25 14:04] #8065 closed

[2020-03-25 14:27] jdekonin commented on #8879
https://github.com/ibmruntimes/openj9-openjdk-jdk/issues/82

[2020-03-25 14:27] DanHeidinga commented on #8973
Or reproduce the issue using an OpenJ9 build from AdoptOpenJDK.net

[2020-03-25 14:31] pshipton commented on #8840
For the record, the build label was removed from the aix71-p8-5 machine in code. Seems we should keep this open since the machine is broken and should ideally be fixed or recreated.

[2020-03-25 14:33] pshipton commented on #8833
@keithc-ca did this get fixed?

[2020-03-25 14:34] #8828 closed

[2020-03-25 14:35] pshipton commented on #8833
I see the following so I'm thinking yes it did.
https://github.com/eclipse/openj9/pull/8848
https://github.com/eclipse/openj9/pull/8871

[2020-03-25 14:35] #8833 closed

[2020-03-25 14:39] dmitripivkine commented on #8652
I believe this is just very intermittent issue.
There is the same stack:
[code]

[2020-03-25 14:45] shanchao95 commented on #8842
@zl-wang performance updated, each test run for 3 times.
[malloc_performance.xlsx](https://github.com/eclipse/openj9/files/4381574/malloc_performance.xlsx)

[2020-03-25 14:51] AlenBadel commented on #8652
That's correct. From my observations the failure rate is around 1/20.

[2020-03-25 14:52] llxia commented on #8974
From the [SHA.txt](https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_sanity.functional_x86-64_windows_OMR/485/SHA.txt) file, it looks like the old file did not get removed and we just appended to the old content.

[code]

First three sha's were logged on 20200324-1541. And the last one was 20200325.

In [the failed Build 485 console output](https://c

[2020-03-25 14:54] pshipton commented on #8652
This looks like a dup of this as well https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Personal/4/

[2020-03-25 14:57] #7154 closed

[2020-03-25 14:57] #7123 closed

[2020-03-25 15:10] dmitripivkine commented on #8652
As you know Compilation Threads don't stop while GC takes Exclusive VM Access (known as Stop-The-World). However there are some limitations related with Class Unloading apply (controlled using Mutex). Is this table walkable at any moment of time? Is it possible this function got garbage if this table (for example) under modification?

[2020-03-25 15:15] keithc-ca commented on #8809
It appears that macho support was just not added to [1].

[1] https://github.com/eclipse/openj9/blob/master/jcl/src/openj9.dtfj/share/classes/com/ibm/dtfj/corereaders/DumpFactory.java#L35

[2020-03-25 15:28] fjeremic commented on #7684
I've been speaking with @cathyzhyi offline about this. We have limited the issue down to method handle inlining in the inliner (`optimization id=14`). Yi is the subject matter expert in this area and will continue the investigation where I left off. Hopefully we can get to the bottom of this one soon as we are inching closer.

[2020-03-25 15:31] pshipton commented on #7633
There is a 1.1.1e update which we're using for the 0.20.0 release.

[2020-03-25 15:52] zl-wang commented on #8842
Thanks for the data.
My summary for the data:
1) for small payload, the setting can have a significant performance impact.  up to 40% difference between multiheap:16 and multiheap:20 for 32-thread scenario;
2) for large payload, performance impact of specific setting is much less;
3) there are algorithms (eckeyGeneration ones) that the performance variation is so big that no conclusion can be draw

[2020-03-25 15:55] samasri commented on #7839
On Friday (20th of March 2020) evening, the server were the bug was happening went offline. When it was booted back online the same day, the issue stopped appearing.

During my investigation before that, evidence were leading me to the following conclusion: The issue is happening due to repeated failed calls to `OSSL_MD_CTX_new` function in OpenSSL. Since the `NativeCrypto.DigestCreateContext` is

[2020-03-25 16:06] #8921 closed

[2020-03-25 16:13] pshipton commented on #8842
@zl-wang the other option is to stick with "multiheap(:32)" and have the failing system testing re-tuned to run a smaller workload. It seems a better solution. I believe the test is running 5 JVMs concurrently.

The concern is that the change may impact a user, in that something that was working may start failing due to OOM. I expect there are still a small number of jdk11 users so far. The benefi

[2020-03-25 16:20] pshipton commented on #8890
The Hotspot -version from an AdoptOpenJDK build looks like the following. Although it doesn't mention Hotspot, it is different from the OpenJ9 -version output which does include "OpenJ9". Beyond that you'd have to know where the build comes from and what options were used to create it.
[code]

[2020-03-25 16:33] zl-wang commented on #8842
@pshipton  sure, that is certainly better, on the assumption that system testing can be reset.  I was concerned with that there is failing test that build cannot promote.

let's launch a few sniffing retuned tests with multiheap or multiheap:32 setting.

did you imply that system ran out of physical memory or something by retuning or cutdown?

[2020-03-25 16:49] dmitry-ten commented on #8958
If no one is working on this yet, I'll do it

[2020-03-25 16:50] mpirvu commented on #8958
@dmitry-ten Please do. Much appreciated.

[2020-03-25 16:51] smlambert commented on #8728
Test reincluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1694

[2020-03-25 16:55] pshipton commented on #8842
The failing tests don't block any promotion, they just fail every night in the testing.

The jdk11+ extended.system suite running now with "multiheap" usually doesn't complete. I see OOMs which aren't just a failure to allocate threads. The testing is getting killed, I'm assuming by the OS.

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_ppc64_aix_Nightly/323
`02:20:43  gmake[

[2020-03-25 17:01] pshipton commented on #8842
@Mesbah-Alam can we re-tune the following tests on jdk11+. With the new MALLOCOPTIONS setting on the system, the machines can't handle the test load. If we aren't already, we can set a -Xmx for each process to reduce the memory usage (such as -Xmx512m). Otherwise we may need to only start 4 JVMs.

SharedClasses.SCM01.MultiThread_0
SharedClasses.SCM23.MultiThread_0

[2020-03-25 17:12] a7ehuo commented on #8839
Reproduced once out of five runs of `cmdLineTester_jvmtitests_5/7` with a debug build. Haven't found much out of the backtrace as below.  @mpirvu could you help take a look and see if anything doesn't look right? or anything else to collect from the core dump? Thanks.

[code]

[code]

[code]

[code]

[2020-03-25 17:17] dmitry-ten commented on #8786
In my experience dealing with similar crashes, if generated instructions look identical but `JITServer` still crashes, it's usually due to some method/class address being taken from the server, instead of from the client. As far as a I remember, runtime helper methods has caused issues in the past, could be something similar in this case.

[2020-03-25 17:19] dmitry-ten commented on #8786
From a quick glance at the latest diff, code with recompilation enabled calls `j2iTransition` helper, maybe that could be something worth investigating, to make sure that the address it calls is correct.

[2020-03-25 17:33] tajila commented on #4719
@AdamBrousseau The PR just got merged, note the option has been changed to `--enable-inline-types`

I also tested out Shelley's suggestion and it works

[code]

[2020-03-25 17:35] zl-wang commented on #8842
That mixed failing/killing reasons sounded to me that system is running out of paging space that kernel is selectively killing the processes (usually the one first consuming a lot of paging space). That usually means that system is running on the brink of memory/paging space exhaustion. That made some senses that failing to allocate memory could not be explained previously.

[2020-03-25 17:42] #8760 closed

[2020-03-25 17:47] sdwr98 commented on #8760
Thanks for the quick fix y'all!

[2020-03-25 17:48] pshipton commented on #8842
For reference here are some stats from one JVM. The artifact I found only has 1 javacore, although there are 5 core files from different processes. The object heap has only expanded to 155MB, so I'm not sure if a -Xmx512MB will help, but seems we should try that before changing the number of processes.
[code]

[2020-03-25 17:49] jdekonin opened #8979 "Add 10 new AIX machines supplied by IBM Cloud"
fyi @pshipton @rajdeepsingh1

Raj and I have a list of the 12 systems supplied via IBM Cloud.  10 are for OpenJ9 and 2 are for OMR.  These systems need to be brought online within the next week or two before we release the current PDP systems.  We won't release these systems until the new ones are confirmed functional and stable.

Systems to be retired : aix71-p8-1 -> aix71-p8-10 (sad since we jus

[2020-03-25 17:49] jdekonin commented on #8840
Th existing machines OpenJ9 are supplied through the IBM PDP team.  These are going to be replaced in the next few weeks as the donation period is coming to an end.  I have been in contact with the team that is to supply the "replacements".  I opened #8979 to track that work so folks other than @rajdeepsingh1 and I know about it.

I think this can be closed as the machine will be replaced soon and

[2020-03-25 17:52] pshipton commented on #8842
This is surprising, I wonder if the usage can be reduced.
`Modules: 2,524,164,336 bytes / 7325 allocations`
344,595 bytes per allocation on average.

[2020-03-25 17:56] zl-wang commented on #8842
module is the memory hogger here, in addition to invisible thread system stacks maybe.

[2020-03-25 19:04] jdekonin commented on #8965
Cleanup job must've taken care of it as there was no directory present.  I rebooted the system for good measure.

[2020-03-25 20:00] DanHeidinga commented on #7684
@cathyzhyi if you comment in this issue, I can assign it to you

[2020-03-25 20:41] zl-wang commented on #8842
how to understand the discrepancy:  modules + GC look like more than 4GB already, but JRE is 3.2GB?

[2020-03-25 21:14] cathyzhyi commented on #7684
please assign to me thanks!

[2020-03-25 21:30] #8959 closed

[2020-03-25 22:36] JasonFengJ9 commented on #8511
One more occurrence at `Test_openjdk11_j9_extended.functional_ppc64le_linux_Nightly/337`
[code]