[2021-05-25 01:47] #12757 closed

[2021-05-25 03:51] Akira1Saitoh commented on #12739
This crash is fixed by https://github.com/eclipse-openj9/openj9/pull/12758

[2021-05-25 12:43] pshipton opened #12759 "JEP 306 Restore Always-Strict Floating-Point Semantics"
See https://openjdk.java.net/jeps/306

[2021-05-25 12:43] pshipton commented on #12759
@tajila @0xdaryl fyi

[2021-05-25 12:45] pshipton opened #12760 "JEP 411 Deprecate the Security Manager for Removal"
See https://openjdk.java.net/jeps/411

[2021-05-25 12:45] pshipton commented on #12760
@tajila fyi

[2021-05-25 12:52] tajila commented on #12727
Any place where we added the `--illegal-access=permit` flag in the last release will no longer work.

[code]

We either need to use newer APIs (ie. Varhandles instead of Unsafe) or add `--add-opens..` options.

[2021-05-25 13:04] pshipton commented on #11868
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly/2
ConcurrentLoadTest_5m_2
variation: Mode1000
JVM_OPTIONS:

3 core files available. Probably the same as https://github.com/eclipse-openj9/openj9/issues/9999#issuecomment-763311479
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_extended.system_x86-32_windo

[2021-05-25 13:05] pshipton commented on #9999
Close this as a dup of https://github.com/eclipse-openj9/openj9/issues/11868

[2021-05-25 13:11] pshipton opened #12761 "jtreg java/util/logging/FileHandlerAccessTest.java timeout no diagnostics on UB20"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/2
ub20-390-1
java/util/logging/FileHandlerAccessTest.java
jdk_util_1
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops
[code]

[2021-05-25 14:03] llxia commented on #12727
@LongyuZhang could you help to update tests in openj9 repo? Thanks

[2021-05-25 14:15] DanHeidinga commented on #12760
Note in particular this bit of text which highlights the use of the `allow` & `disable` values for the SecurityManager `-D` property.  These were introduced in 12 but I don't recall seeing them before.  They may require extra attention from us or project stakeholders:

[2021-05-25 14:19] JasonFengJ9 commented on #12760
Will followup this JEP.

[2021-05-25 14:33] dmitripivkine commented on #12749
@15838028035 Would you please elaborate what exactly the problem is? Also provided `javacore` might help to understand problem better

[2021-05-25 14:38] dmitripivkine commented on #12754
@1a2s3d4f1 Would you please explain what exactly the problem is? The only difference on GC side is default `-Xmx` value - 512m for Java 8 or 25% of available RAM for higher versions (11 and 16)

[2021-05-25 15:58] llxia commented on #12756
[J9security](https://github.com/eclipse-openj9/openj9/blob/master/test/functional/cmdLineTests/J9security/playlist.xml) contains tests for openj9/ibm only.
@OscarQQ could you update[ build.xml](https://github.com/eclipse-openj9/openj9/blob/master/test/functional/cmdLineTests/J9security/build.xml#L109) to compile this test for openj9/ibm only? Thanks

[2021-05-25 17:26] llxia commented on #12755
Jsr335 contains tests for openj9/ibm only.
@OscarQQ could you update build.xml to compile this test for openj9/ibm only? Thanks

[2021-05-25 18:32] dmitry-ten commented on #12721
@mpirvu fyi.

[2021-05-25 20:53] JasonFengJ9 commented on #11938
`VarHandle_0` passes with latest build with `ojdk_jsr292_final` branch.
It did fail with segmentation error in an earlier build though.

@babsingh @fengxue-IS do you happen to know if this has been fixed by another PR already?

[2021-05-25 20:57] jdekonin commented on #12723
Using the link you supplied @pshipton I'm guessing that means v9.2 for active builds of JDK15+.  aarch64 too I would assume?

[2021-05-25 21:50] pwagland opened #12766 "Crash when allocating memory"
Java -version output
--------------------

Output from `java -version`.
[code]
Summary of problem
------------------

We have seen an issue where relatively unused, but not totally idle, systems are crashing after about two weeks when running using Java 11.0.10. This cannot be reproduced at will, it seems that about 5% of our containers will die after about two weeks.

Diagnostic files
-----------

[2021-05-25 22:06] babsingh commented on #11938
@JasonFengJ9 I verified that the failure still occurs in my local workspace with OJDK MHs enabled.

The seg fault happens while performing an `Unsafe` operation on a `Field`. @fengxue-IS has a fix for correcting the field offset in [java_lang_invoke_MethodHandleNatives.cpp](https://github.com/eclipse-openj9/openj9/blob/master/runtime/jcl/common/java_lang_invoke_MethodHandleNatives.cpp). My guess i

[2021-05-25 22:11] pshipton commented on #12723
We might as well use the latest gcc 9. First we want to evaluate, not switch anything over.
Sure aarch64 too, but it's not a priority.

[2021-05-25 23:59] pshipton commented on #12766
@dmitripivkine fyi
@manqingl can you help decode the stack trace pls.

@pwagland is there any system core file? It's unlikely we can do much without one.

[2021-05-26 01:53] manqingl commented on #12766
[code]

[2021-05-26 02:57] #12766 closed

[2021-05-26 07:58] pwagland commented on #12766
Thank you for the prompt reply! We will try the 11.0.11 release.

[2021-05-26 11:55] JasonFengJ9 opened #12768 "aarch64_linux JCL_Test_1_FAILED - Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.functional_aarch64_linux/46`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=JCL_Test_1&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=functional&amp;TK

[2021-05-26 12:02] JasonFengJ9 opened #12769 "aarch64_linux DaaLoadTest_daa2_CS_5m/MathLoadTest_bigdecimal_CS_5m - Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.system_aarch64_linux/36`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=DaaLoadTest_daa2_CS_5m_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TK

[2021-05-26 14:48] tajila commented on #12219
@JasonFengJ9  do you know when we started running this test? Wondering if it ever passed on AIX

[2021-05-26 15:27] JasonFengJ9 commented on #12219
The initial `renaissance-als_0_FAILED` (`Test_openjdk11_j9_extended.perf_ppc64_aix/3`) has been purged, the history is short and not much useful info there.
Vaguely I remember `StackOverflowError` wasn't first failure observed when this test was introduced, there might be other issues beforehand, and I can't recall if it ever passed on AIX.

Note: since internal tests switched to IBM SDK, current

[2021-05-26 16:01] mpirvu commented on #12658
Implemented in #12746

[2021-05-26 16:01] #12658 closed

[2021-05-26 18:01] fengxue-IS commented on #11938
local testing of my change fixed `VarHandle_0`, but the personal build contains test regression in other test suites, I will retest the personal build to verify if the regression is caused by my change or if my branch is not up to date

[2021-05-26 18:07] llxia commented on #12755
compile Jsr335 for ibm/openj9 only #12770 is delivered. Close this issue.

[2021-05-26 18:09] llxia commented on #12756
compile J9security for ibm/openj9 only #12771 is delivered. Close this issue.

[2021-05-26 18:09] #12756 closed

[2021-05-26 19:14] #12520 closed

[2021-05-27 07:17] knn-k commented on #12366
This can be closed now.

[2021-05-27 09:13] 1a2s3d4f1 commented on #12754
In higher version(11 and 16),Spark mod get wrong heap name, But it can get real heap name on hotspot.   Spark GC Monitoring get wrong gc heap name in hightly version. such as nursery-allocate heap named tenured-LOA ,tenured-SOA named class storage.

Get wrong gc heap name problem only happen on JDK11-openj9 or higher version.

[2021-05-27 10:38] #12366 closed

[2021-05-27 12:44] #12047 closed

[2021-05-27 13:12] singh264 commented on #12706
@pshipton seeking guidance

openj9 - fix_cmdLineTester_pltest_aix_0
omr - openj9
build - https://hyc-runtimes-jenkins.swg-devops.com/view/OpenJ9%20-%20Personal/job/Pipeline-Build-Test-Personal/9205/

openj9 - fix_cmdLineTester_pltest_aix_0
omr - fix_aix_xlpcodecachetests
build - https://hyc-runtimes-jenkins.swg-devops.com/view/OpenJ9%20-%20Personal/job/Pipeline-Build-Test-Personal/9212/

openj9 -

[2021-05-27 13:18] JasonFengJ9 opened #12782 "Segmentation error vmState=0x000565ff"
Failure link
------------

From an internal build `Test_openjdk11_j9_special.system_ppc64_aix_testList_2/54/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=DaaLoadTest_daa1_special_5m_29&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_special.system_ppc64_aix&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIME

[2021-05-27 13:24] fjeremic commented on #12719
FYI starting to see this issue more often on PR testing.

[2021-05-27 13:33] fjeremic commented on #12782
[code]

The jitdump should have been generated on the original job and should contain information as to why we crashed.

[2021-05-27 14:36] gvnmlln opened #12784 "Shared class cache name and number of connected users not available through APIs"
Requirement for the current JVM's resolved shared class cache name and number of connected users to be added to the MemoryMXBean and SharedClass APIs (com.ibm.oti.shared.SharedClassStatistics and  com.ibm.oti.shared.SharedClassUtilities) so this information can be recorded in CICS JVM server statistics reports.

The resolved shared class cache name is not available today in the openJ9 SharedClass

[2021-05-27 14:49] DanHeidinga commented on #11528
@EricYangIBM good question.  And welcome to having to understand the poorly named "HCR" feature(s) in openj9.  We refer to HCR in a very loose way to mean class redefinition but there are two different modes of HCR:
* `fastHCR` which is spec compliant and keeps as much of the pre-existing `J9Class` structure stable as possible during a redefinition
* `FSD` or full speed debug which allows the use

[2021-05-27 16:45] hangshao0 commented on #12784
If we want to add such info, they could be added in package `com.ibm.oti.shared`.

We may not want to add them into MemoryMXBean. Information like the cache name and number of connected users does not sound like memory information.

[2021-05-27 16:45] fjeremic commented on #12782
Unfortunately the jitdump doesn't appear to have reproduced the issue, but we do have the exact IL at the point of the crash, so with the core dump someone from the Power team should be able to identify which node was being evaluated at the point of the crash.

[2021-05-27 17:25] #11990 closed

[2021-05-27 18:16] tajila opened #12785 "Java launcher sets incorrect native stack size"
In J9, we have a distinction between the Java stack and the native stack. We set the Java stack with `-Xss` and the native stack with `-Xmso`. The java launcher however does not recognize `-Xmso` and uses `-Xss` to to set the native stack size of the main Java thread. An example is shown below.

[code]

We need to modify the Java launcher to be aware of these distinctions, and also respect the def

[2021-05-27 18:16] tajila commented on #12785
@mikezhang1234567890 please take a look at this

[2021-05-27 18:18] tajila commented on #12719
@mikezhang1234567890 can you please take a look at this

[2021-05-27 18:29] mikezhang1234567890 commented on #12719
Looking into this.

[2021-05-27 18:33] mikezhang1234567890 commented on #12785
Looking into it.

[2021-05-27 18:34] ChengJin01 opened #12787 "Replace x86/libffi in OpenJ9 to the latest version"
The code of `x86/libffi` in OpenJ9 remains unchanged since 2013 and becomes obsolete given the latest updated code occurs earlier this year at https://github.com/libffi/libffi/tree/master/src/x86 (most of code were rewritten & the code on Windows was totally replaced with the newer version). Even though the older version satisfies the needs of the existing code in OpenJ9 but it fails to correctly

[2021-05-27 18:40] tajila commented on #12787
@dnakamura Can you please take a look at this

[2021-05-27 18:43] ChengJin01 commented on #12787
I tried to replace the whole code at https://github.com/ChengJin01/openj9/tree/jep389_ffi_downcall_phase_2_3_struct_arg_ret_v6_x86_libffi_revert_jit/runtime/libffi/x86 which works good on Linux but it fails to compile on Windows due to the compilation issue on ffiw64.c (on Windows) which need to be addressed.

[2021-05-27 18:44] mstoodle commented on #12787
note a CQ will be needed to update the library version

[2021-05-27 19:26] dmitripivkine commented on #12754
I believe the concern is memory pool names in report are mismatched for Java 11 and higher for OpenJ9 (and correct for HotSpot):
- `tenured-LOA` instead of expected `nursery-allocate`
- `class storage` instead of expected `tenured-SOA`
I think there is no Java version related difference on GC side for MX Bean reporting implementation.
@LinHu2016 and @JasonFengJ9 Would you please check this API wor

[2021-05-27 19:41] pshipton opened #12789 "openjdk tools/pack200/Pack200Test.java crash vmState=0x0005ff06"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_OpenJDK11/1 - ub20-390-1
tools/pack200/Pack200Test.java
jdk11_tier1_pack200_1
JVM_OPTIONS:  -XX:-UseCompressedOops

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_sanity.openjdk_s390x_linux_OpenJDK11/1/openjdk_test_output.tar.gz
[code]

[2021-05-27 20:00] fjeremic commented on #12789
[code]

The jitdump has reproduced the problem. @r30shah could you help take a look at this one? Seems we were register allocating this tree when we crashed:

[code]

Which is the last block/tree in the method. Something weird is happening.

[2021-05-27 20:01] fengxue-IS commented on #11528
The information that MH store related to a J9Class is
1. Class object: `MemberName.declaringClass`
2. jniFieldID / jniMethodID: `MemberName.vmindex` (hidden field)
3. fieldOffset / J9Method* / vTableIndex: `MemberName.vmtarget` (hidden field)

With a closer look at how the data is stored, I am not sure if clearing the invokeCache table would be sufficient as other classes could have MemberName ref

[2021-05-27 20:25] JasonFengJ9 commented on #12754
A quick try with test code snippet
[code]

`OpenJ9 JDK8/11/16` have same results:

[code]

[code]

[code]

We might need a testcase to reproduce the issue reported.
Note: the initial problem was on `Windows` (will find a machine to run the testcase and update the result here).

[2021-05-27 20:30] pshipton commented on #12782
@zl-wang fyi

[2021-05-27 21:02] fengxue-IS commented on #11528
Actually, nvm for the above on keeping pointer address, I checked the code for `fixJNIRefs` it seems that JNI ID pointers are already fixed, so we can do a heap walk to fix all memberName objects with declaring class matching the redefined class

[2021-05-27 22:45] pshipton commented on #12706
Your changes below look good, the only issue I see is a bad machine, for which I created internal issue infrastructure/issues/5540.

openj9 - all_64k_pagesize_tests_fix
omr - fix_aix_xlpcodecachetests
build - https://hyc-runtimes-jenkins.swg-devops.com/view/OpenJ9%20-%20Personal/job/Pipeline-Build-Test-Personal/9217/

[2021-05-27 22:58] ChengJin01 commented on #11937
The initial investigation indicates the crash occurred in the interpreter as follows:

[1] Java core:
[code]
against the failing test at /Jsr292/src/com/ibm/j9/jsr292/api/MethodHandleAPI_countedLoop.java
[code]

[2] core dump:
[code]
it indicates it crashed in the `astore` bytecode:
[code]
along with the debugging info:
[code]

Based on the findings above, it is less likely it had anything do with

[2021-05-28 01:01] DanHeidinga commented on #11528
HCR is an ambiguous term.  We need to be more specific here as the above is true for fastHCR but wrong for FSD.

[2021-05-28 02:01] nbhuiyan commented on #11528
@fengxue-IS

As far as I know we don't have a mechanism in the JIT to check for MH class redefinitions. If `MemberName.vmtarget` and `MemberName.vmindex` gets updated after HCR, then there should be no need for the JIT to regenerate anything.

[2021-05-28 04:41] pshipton commented on #12706
The OMR change should be merged first, and I'll take care of the rest.

[2021-05-28 11:39] babsingh commented on #11937
@ChengJin01 Thanks for the triage/analysis. After looking at the above details, I feel that https://github.com/eclipse-openj9/openj9/pull/12786 will also fix this failure. I have locally verified that the above test and test targets pass with https://github.com/eclipse-openj9/openj9/pull/12786. @fengxue-IS Can you confirm this detail for me and include `Fixes: #11937` in https://github.com/eclipse

[2021-05-28 12:13] JasonFengJ9 commented on #8189
Observed in an internal build `Test_openjdk11_j9_sanity.system_ppc64le_linux_testList_0/52/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=MathLoadTest_bigdecimal_5m_1&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_sanity.system_ppc64le_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_D

[2021-05-28 13:14] pshipton commented on #10929
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_linux_Nightly_testList_0/8/
SharedClasses.SCM01.MultiThread_0
[code]

[2021-05-28 13:17] pshipton commented on #12696
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_special.system_s390x_linux_Nightly_testList_2/8 - ub20-390-2
ParallelStreamsLoadTest_special_J9_15

https://openj9-artifactory.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk16_j9_special.system_s390x_linux_Nightly_testList_2/8/system_test_output.tar.gz
[code]

[2021-05-28 13:22] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.system_x86-64_linux_Nightly_testList_1/8
TestJlmRemoteClassAuth_0
[code]

[2021-05-28 14:07] dmitripivkine commented on #12696
I will find out reason for crash in Copy Forward

[2021-05-28 15:04] dmitripivkine commented on #12696
This crash occur an attempt to walk java thread stack:
[code]
I guess there is a thread stack `jdmpview` failed to walk too:
[code]
Values in the registers corresponds with this stack also:
[code]

[2021-05-28 15:56] r30shah commented on #12789
Yes, briefly looked at the jitdump and core-dump from the failure, it just starts RA in back order. From the segmentation fault happens because it is trying to dereference NULL pointer in the beginning of this function where it is trying to get the assignedRegister for the sourceReg which coming into this function [1] (GPR6) is NULL.
Looking in to the caller of this function [2], and checking out

[2021-05-28 16:03] ChengJin01 commented on #11937
@babsingh, the failing tests on my side still crashed after grabbing the latest OpenJ9 & manually adding the changes at  the https://github.com/eclipse-openj9/openj9/pull/12786
[code]
Given it passed on your side,  I am wondering whether there is any else change that should be included except https://github.com/eclipse-openj9/openj9/pull/12786.

[2021-05-28 16:05] LinHu2016 commented on #12754
As @dmitripivkine mentioned above, there is no Java version related difference on GC side for MX Bean reporting implementation. if you retrieve memorypools, which are managed by GarbageCollectorMXBeans, there should be no non-Heap memory pools(such as "class storage"), @1a2s3d4f1 Could you please point where is trying to retrieve memorypools in source code? I did not see related memorypool populat

[2021-05-28 17:38] ChengJin01 commented on #11937
Just tried with @babsingh 's changes at git clone -b ojdk_jsr292_final2 https://github.com/babsingh/openj9-openjdk-jdk16.git
git clone -b  ojdk_jsr292_final2  https://github.com/babsingh/openj9.git (including #12786) but still crashed in there.

The failing tests always crashes when running every time. If it used to pass recently, there must be some new changes causing the issue.

[2021-05-28 18:24] dmitripivkine commented on #12696
I can not decode java stack using tool. I believe somebody who can do it manually should take a look.
I have results/jdk downloaded
@tajila FYI

[2021-05-28 18:28] fengxue-IS commented on #11937
@babsingh my local testing still crashed in the interpreter with
#12786, still crashed in interpreter.
Note: If I run the test with `-Xint` it consistently failed at assertion failure `BytecodeInterpreter:8014` ->unimplementedBytecode

[2021-05-28 18:36] babsingh commented on #11937
I was testing my changes to enable OJDK MHs by default in JDK16. With these changes, I accidentally built without OJDK MHs enabled. So, the failing test actually passed with OJ9 MHs. I just double checked my `history` and reran the failing test. It still fails for me with OJDK MHs enabled. I striked out my previous comment: https://github.com/eclipse-openj9/openj9/issues/11937#issuecomment-8503581

[2021-05-28 19:27] fengxue-IS commented on #11528
Thanks for the correction Dan, I didn't thinking about FSD here.

For FSD, I think we also need to update the class object stored in `MemberName.clazz`
Given how jniIDs are fixed:
[code]
@DanHeidinga @gacholio In the case that field/method does not exist in new class, should we still allow MemberName to reference the old ID? if not, what value should the vmindex/vmtarget be set to?

[2021-05-28 20:52] babsingh commented on #11937
### Notes
1. The below options will enable debug output, trace points and output the **generated bytecodes** in the `DUMP_CLASS_FILES` directory:
[code]
2. When `mhCountedLoop.invokeExact()` is run https://github.com/eclipse-openj9/openj9/issues/11937#issuecomment-849995569, the **generated bytecodes** are invoked. Example of **class file** with **generated bytecodes**: `LambdaForm$MH036.invokeExa

[2021-05-28 23:32] #12706 closed

[2021-05-29 05:49] 1a2s3d4f1 commented on #12754
This code is print gc report part.
https://github.com/lucko/spark/blob/master/spark-common/src/main/java/me/lucko/spark/common/monitor/memory/GarbageCollectionMonitor.java

[2021-05-29 17:57] a7ehuo commented on #10929
There is no core file from [Test_openjdk11_j9_extended.system_x86-64_linux_Nightly_testList_0/8/](https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_linux_Nightly_testList_0/8/).
Ran `SharedClasses.SCM01.MultiThread_0` x50 in [Grinder JDK11_x86-64_linux grinder](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/15688/), all passed.

[2021-05-30 19:40] a7ehuo commented on #10929
x100 `SharedClasses.SCM01.MultiThread_0` x50 in [JDK11_x86-64_linux grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15729/), all passed

[2021-05-31 03:16] LongyuZhang commented on #12727
- For test [`StaticAccessChecks-IllegalAccessPermit`](https://github.com/eclipse-openj9/openj9/blob/master/test/functional/Java9andUp/playlist.xml#L394) and [`StaticAccessChecks-IllegalAccessDeny`](https://github.com/eclipse-openj9/openj9/blob/0af5c29f6cd9a23b9e05ee4715f7a4aad740ae9c/test/functional/Java9andUp/playlist.xml#L418), which two only differ in `--illegal-access`. Since the `permit` valu

[2021-05-31 12:28] #11250 closed

[2021-05-31 12:37] JasonFengJ9 commented on #12168
Another occurrence at an internal build JDK8 MacOS `Test_openjdk8_j9_extended.openjdk_x86-64_mac/7/` (`mac11x64rt02`):
[code]

[2021-05-31 13:03] JasonFengJ9 opened #12795 "jdk_nio_FAILED - BasicMulticastTests threw exception: java.util.NoSuchElementException or UnsupportedOperationException"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.openjdk_ppc64_aix/13/` (`pll011`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_nio_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OW

[2021-05-31 13:16] JasonFengJ9 opened #12796 "JDK11 Windows jdk_imageio_0_FAILED : some classloaders weren't destroyed"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.openjdk_x86-64_windows/13/` (`win16x64cudart1 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_imageio_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TE

[2021-05-31 14:56] pshipton opened #12797 "Java 11+ should not use JAVA_OPTIONS environment variable"
https://github.com/eclipse-openj9/openj9/pull/10175 introduced support for the JAVA_OPTIONS environment variable. The variable name is incorrect, and should have been _JAVA_OPTIONS. Java 11 should use JDK_JAVA_OPTIONS as well, as per https://bugs.openjdk.java.net/browse/JDK-8173712. The original issue https://github.com/eclipse-openj9/openj9/issues/8641 mentions JAVA_OPTS, but this variable is sup

[2021-05-31 14:56] pshipton commented on #12797
@tajila fyi

[2021-05-31 15:58] gacholio commented on #11528
Will using the old ID continue to function is some sensible way? Adding and removing methods is an OpenJ9 extension, so there's no spec for this case.

The other option is to put an invalid value like UDATA_MAX in there. The issue then becomes detecting the invalid value at all of the appropriate places. If extended FSD HCR is used, I believe we flush the JIT code cache, so there's no need to put

[2021-05-31 16:54] LinHu2016 commented on #12754
@1a2s3d4f1 Hi I have checked src codes(GcMonitoringModule.java), apparently it retrieved memoryUsages from GarbageCollectionNotificationInfo->gcInfo,
first of all,  return Map<String,MemoryUsage> for getMemoryUsageAfterGc()/getMemoryUsageBeforeGc() does not guarantee memory pool orders cross platforms.
second of all, the monitor code does not print information if there is no usage change for the m

[2021-05-31 17:24] EricYangIBM commented on #11528
Does `fixHeapRefs` in redefineClassesCommon fix these class refs? Specifically https://github.com/eclipse-openj9/openj9/blob/b2b6f498583c7f85f629cc71299dcf40aa81eb80/runtime/util/hshelp.c#L2058-L2081

[2021-05-31 17:48] gacholio commented on #11528
No, that function fixes the classes of heap objects.

[2021-05-31 19:11] EricYangIBM commented on #11528
@gacholio For FSD, what fixes the heap classObjects? I.e. the Class<?> references.

[2021-05-31 19:15] gacholio commented on #11528
Assuming you mean what fixes up the java.lang.Class references to the J9Class: `copyPreservedValues` does it - search for `J9VMJAVALANGCLASS_SET_VMREF`.

[2021-05-31 19:30] pshipton commented on #12727
Yes. But also create another variation of StaticAccessChecks-IllegalAccessDeny that runs with `--illegal-access=permit` on jdk17+

Yes.

[2021-05-31 19:42] pshipton commented on #12795
Does this normally pass, or is it a new test? If it's not new, can the failure be repeated?

[2021-05-31 19:52] pshipton commented on #12796
This test is depending on GC behavior. Looks like it waits for 10 sec, doing a GC every second.
Does it consistently or intermittently fail?

jdk_imageio_0 is -XX:+UseCompressedOops
[code]

[2021-05-31 20:49] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_x86-64_windows_Nightly_testList_0/11
ConcurrentLoadTest_5m_1
[code]

[2021-06-01 13:38] dsouzai commented on #12494
@mstoodle reminder ping :)

[2021-06-01 13:47] EricYangIBM commented on #11528
@gacholio Looking at `copyPreservedValues`, it seems like it only sets the class reference of the replacement class. What I'm wondering about is if the class references as fields get updated at all. E.g. an unrelated java object has a Class field that is pointing to an old class, how does it get updated after FSD?

[2021-06-01 13:50] gita-omr opened #12801 "Recognize ForceInline annotation in JIT"
Recognize ForceInline annotation in JIT using helpers implemented in [1]

[1] https://github.com/eclipse-openj9/openj9/pull/12679

[2021-06-01 13:56] pshipton opened #12802 "DaaLoadTest_daa2_CS_5m_0 crash vmState=0x00020002"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-64_windows_Nightly_testList_1/12/ - win2012-x86-10
DaaLoadTest_daa2_CS_5m_0
JVM_OPTIONS:  -Xgcpolicy:gencon -Xgc:concurrentScavenge

https://openj9-artifactory.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_sanity.system_x86-64_windows_Nightly_testList_1/12/system_test_output.tar.gz
[code]

[2021-06-01 13:56] pshipton commented on #12802
@dmitripivkine fyi

[2021-06-01 14:20] gita-omr commented on #12710
**Design**

External behavior of the Stable annotation is described in [1]. It's important to add that all elements of multidimensional arrays should be treated as stable if the whole array was annotated as stable.

To recognize stable fields, we will add this into VMJ9.h:

   `virtual bool canDereferenceAtCompileTimeIfNotNull(TR::SymbolReference *fieldRef,  TR::Compilation *comp);`

which will be

[2021-06-01 14:21] gita-omr commented on #12710
@jdmpapin @vijaysun-omr @0xdaryl Please let me know what you think.

@tajila fyi

[2021-06-01 14:25] pshipton commented on #2684
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly_testList_0/13/ - ub18-x86-2
TestFileLocking_0
[code]

Guessing the machine needs a reboot. ATM it's running another test.

[2021-06-01 14:27] pshipton opened #12803 "Reboot ub18-x86-2"
due to https://github.com/eclipse-openj9/openj9/issues/2684#issuecomment-852169514

https://openj9-jenkins.osuosl.org/computer/ub18-x86-2/

[2021-06-01 14:36] JavaTailor opened #12804 "J9 failed to throw NoClassDefFoundError in synthetic accessor method of outer class"
### Summary
We found that J9 failed throw NoClassDefFoundError when method of undefined class was invoked in synthetic accessor method. The simplified test case can be found in the attachment.

To simply,  If we insert an undefined class declaration statement in the synthetic accessor method, both J9 and hotspot failed throw any exception, this can be verified by executing src1.Outer in the attach

[2021-06-01 15:05] ChengJin01 commented on #12787
I fixed the issue above by adding the definition of `ffi_go_closure` to the newly updated header file `ffi.h` on x86_64 (Linux & Windows) as it exists on every platform in the latest version but there is still other compilation issues when compiling with my changes at https://github.com/ChengJin01/openj9/commit/87564544595d58b5c519b88489fd88f4fa7520b5
[code]

[2021-06-01 15:33] JasonFengJ9 commented on #12760
The PR in question was _JDK12 setSecurityManager according to java.security.manager special tokens_ https://github.com/eclipse-openj9/openj9/pull/4738

[2021-06-01 16:16] gacholio commented on #11528
There is only ever one java.lang.Class instance - replacing classes results in multiple J9Class pointing to the single java.lang.Class, and the java object always points back to the current version of the J9Class.

[2021-06-01 18:12] ChengJin01 commented on #12787
I will refer to the setting on x86/x86_64 at https://github.com/libffi/libffi/blob/master/configure.host
[code]
and https://github.com/libffi/libffi/blob/master/generate-darwin-source-and-headers.py
[code]
to update the corresponding setting in `/runtime/libffi/CMakeLists.txt` and `/runtime/libffi/module.xml` in that the previous setting didn't follow the rules in there.

[2021-06-01 18:48] pshipton commented on #12803
Rebooted.

[2021-06-01 18:48] #12803 closed

[2021-06-01 19:02] pshipton opened #12807 "OpenJ9 machine jdk 11 extended.openjdk failures"
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/7/

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.openjdk_s390x_linux_Personal/1/ - rh7-390-1
Looks like machine setup issue(s).
    java/nio/channels/DatagramChannel/Promiscuous.java.Promiscuous - Expected message not received
    java/nio/channels/DatagramChannel/Promiscuous.java.Promiscuous
    com/sun/jndi/dn

[2021-06-01 19:20] smlambert commented on #12755
I am still seeing failures in this job: https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.functional_aarch64_linux/44/console

[2021-06-01 19:39] dmitripivkine commented on #12802
Seems we crashed in this frame:
[code]
This failure looks similar as https://github.com/eclipse-openj9/openj9/issues/10489 however we never observed it on platforms different than PPC before

[2021-06-01 19:52] pshipton commented on #12804
@tajila fyi

[2021-06-01 20:10] vijaysun-omr opened #12808 "JVM restore hook needs to ensure that we obey environment variables"
Linux (and probably most other OSes) processes pick up the environment variable values as specified at the time the process was started. In other words, if some environment variable changes in value after the process starts up, this is not visible to the process since its view of the environment variables is what was initialized at process start time.

This behavior also translates to processes th

[2021-06-01 20:14] vijaysun-omr commented on #12808
This is part of issue [16384](https://github.com/OpenLiberty/open-liberty/issues/16384)

[2021-06-01 20:25] dmitripivkine commented on #12802
This is the same failure as in https://github.com/eclipse-openj9/openj9/issues/10489 so I added label `arch:x86` to it.
Closing this item as a duplicate

[2021-06-01 20:25] #12802 closed

[2021-06-01 20:25] vijaysun-omr commented on #12808
If user owned native code that was called by the Java application wanted to access an environment variable that could be different between the snapshot and restore environments, this would need to be documented for a user to be aware of and deal with on their own.

This issue is to deal with it in the JVM code and Java code that could be calling the relevant apis to get environment variables.

[2021-06-01 21:44] babsingh opened #12811 "Remove system property to check if OJDK MHs are enabled"
Once OJDK MHs are enabled everywhere, the following commit in #12779 should be reverted: **Add a system property to check if OJDK MHs are enabled**.

Also, the following TKG PR should be reverted: https://github.com/adoptium/TKG/pull/198.

[2021-06-01 21:55] jdmpapin commented on #12710
I dealt with a situation similar to stable fields in #12745: with `LambdaForm`, `CallSite.target` can be folded, but only sometimes. I think the structure I put in place to deal with that is general enough to deal with stable fields as well (except for the contents of stable arrays, which will take more doing). I handle it like this:
- `canDereferenceAtCompileTime()` means that it might be possibl

[2021-06-01 22:32] vijaysun-omr opened #12812 "Explore using slim JRE builds instead of using Jarmin"
Using slim JRE builds builds available at https://hub.docker.com/r/adoptopenjdk/openjdk8-openj9/ for example may be an easier way of reducing on-disk footprint for OpenJ9 container images than using Jarmin.

This is because use of Jarmin in a container environment may not be as straightforward as it is outside of a container environment, where one does not have immutable lower layers (including bo

[2021-06-01 22:33] vijaysun-omr commented on #12812
This is part of issue [16384](https://github.com/OpenLiberty/open-liberty/issues/16384)

[2021-06-01 23:58] pshipton commented on #12811
I don't think we should ship a release containing this system property, so if we enable OJDK MH version by version across multiple releases, we can fix the system property so it's only defined where necessary.

[2021-06-02 00:08] gita-omr commented on #12710
@jdmpapin thanks a lot for the comments! A field can be both final and stable. We need to attempt dereferencing  if field is final (or equivalent to that) or stable. Then, if the field is NOT final and has value 0, or  is CallSite.target, we should not dereference. So I think we need a method that tells us a field is final or equivalent to final (always can be dereferenced).

[2021-06-02 00:12] jdmpapin commented on #12710
The problem with `CallSite.target` is that it *is* final, so final can't mean always foldable

[2021-06-02 00:16] gita-omr commented on #12710
Sure, then we can exclude it from the "always can be folded method". My point is that we can't include Stable into it.

[2021-06-02 00:20] gita-omr commented on #12710
Could we make foldFinalFieldsIn() return false for CallSite.target?

[2021-06-02 00:59] gita-omr commented on #12710
I think the problem is that there is no such thing as "definitely-foldable" until we start folding, due to the CallSite.target :)

[2021-06-02 01:23] gita-omr commented on #12710
I would propose:
1) put the body of `canDereferenceAtCompileTime() `into something like `behavesAsFinal()` (we can discuss the name)
2) replace the body of  `canDereferenceAtCompileTime()`  with `return behavesAsFinal() || isStable()`
3) inside` AvoidInstanceField` add another check and return true if `(!behavesAsFinal() and the value is null)`
4) the actual folding (vs dereferencing)happens in `t

[2021-06-02 01:40] #11178 closed

[2021-06-02 03:41] pshipton opened #12814 "testDDRExtJunit_FindExtThread_0 and testDDRExtJunit_StackMap_0 failing"
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.functional_s390x_linux_Nightly_testList_0/13/
testDDRExtJunit_FindExtThread_0
[code]
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.functional_s390x_linux_Nightly_testList_1/13/
testDDRExtJunit_StackMap_0
[code]

Changes:
https://github.com/eclipse-openj9/openj9/compare/0baea3a...0c5a581
https://github.com/eclipse-o

[2021-06-02 06:10] knn-k commented on #10413
I haven't seen this crash for months.  Closing.

[2021-06-02 06:10] #10413 closed

[2021-06-02 06:12] knn-k commented on #10502
I haven't seen this crash for months.  Closing.

[2021-06-02 06:12] #10502 closed

[2021-06-02 10:32] JavaTailor opened #12815 "Perhaps restricting structured locking is a better choice?"
### Summary
We found that there is no restriction on structured locking in J9, that is, *entermonitor* and *exitmonitor* can appear unpaired. We checked the existing ISSUES and found that there were already similar problems. #9276
 I agree with the explanation in this issues. According to the JVM specification, this seems to be no problem. But this seems to be unreasonable and will introduce new b

[2021-06-02 11:56] JasonFengJ9 commented on #12795
This is a weekly run, not new, it did pass, also failed with other errors such as timeout.
`JDK8/16/17` same tests appear intermittent timeout error, `JDK11` as per this issue recently hit `NoSuchElementException` (last pass was April 23, first failure was May 7th)
Created this issue to track the exception, and need triage to determine if it is network related.

[2021-06-02 12:07] JasonFengJ9 commented on #12796
It is intermittent but was able to reproduce once at `Grinder/15781`.

[2021-06-02 12:10] JasonFengJ9 commented on #12814
Also seen in last night internal build `Test_openjdk8_j9_extended.functional_ppc64le_linux_testList_2/51/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=testDDRExtJunit_StackMap_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_extended.functional_ppc64le_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIME

[2021-06-02 12:15] JasonFengJ9 commented on #12782
An occurrence at `JDK11 MacOS` `Test_openjdk11_j9_special.system_x86-64_mac_testList_1/51/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=DaaLoadTest_daa3_special_5m_29&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_special.system_x86-64_mac&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DO

[2021-06-02 12:27] pshipton commented on #12795
May also be machine related, getting different behavior on different machines.

[2021-06-02 12:48] pshipton commented on #12796
As I understand it then, it fails consistently on the win16x64cudart1 machine.

@dmitripivkine fyi, not sure if this is a real issue on this machine, or a bad test.

[2021-06-02 13:00] pshipton commented on #12814
I've reverted https://github.com/eclipse-openj9/openj9/pull/12793 to resolve this.

[2021-06-02 13:00] #12814 closed

[2021-06-02 13:10] pshipton commented on #12637
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly_testList_0/14/console
[code]

[2021-06-02 13:16] pshipton commented on #8213
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/13
SC_Softmx_JitAot_1
JVM_OPTIONS:  -Xcompressedrefs -Xjit -Xgcpolicy:gencon

https://openj9-artifactory.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/13/system_test_output.tar.gz
[code]
16.jvm4.stderr
[code]

[2021-06-02 13:18] dmitripivkine commented on #12796
Is there source code for this test around? I believe I looked to this (or similar) test before. There is no guarantee Global GC is going to perform class unloading in Dynamic Class Unloading mode (default). If test is looking for real class unloading (not some bogus criteria) running with `-Xalwaysclassgc` might help. Dynamic Class Unloading taking to consideration number of classes loaded **since

[2021-06-02 13:18] pshipton commented on #12637
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly_testList_0/13/console
[code]

[2021-06-02 13:34] #12500 closed

[2021-06-02 13:42] pshipton commented on #12796
The test source is here https://github.com/ibmruntimes/openj9-openjdk-jdk11/tree/openj9/test/jdk/javax/imageio/stream/StreamCloserLeak

[2021-06-02 14:05] tajila opened #12817 "Add libcriu.so to the linux compile machines"
We are currently exploring the linux checkpoint/restore capabilities with JVM applications. Prototype work is underway. To aid in this effort we will need lbcriu installed on the linux compile machines.

For more details on criu see: https://criu.org/Main_Page

We have currently been experimenting with Ubuntu 20.04, criu Version: 3.15

[2021-06-02 14:06] tajila commented on #12817
@ymanton @dsouzai Can you please post which OS version you have attempted?

[2021-06-02 14:06] tajila commented on #12817
FYI @jdekonin

[2021-06-02 14:11] AdamBrousseau commented on #12817
Start with x (container), add to z/p/aarch64 later.
What jdk versions does this target?

[2021-06-02 14:13] tajila commented on #12817
@vijaysun-omr Do you know what the plan is here?

[2021-06-02 14:25] ymanton commented on #12817
RHEL 8.3.

[2021-06-02 14:35] vijaysun-omr commented on #12817
The first consumer of this functionality would likely be some Open Liberty customers. Since many of those customers are still using Java8, I would imagine we would want to support the functionality on everything >= Java8

[2021-06-02 15:01] jsoref opened #12818 "Remove obsolete J9VMJavaLangClassNativesCDLC"
https://github.com/eclipse-openj9/openj9/blob/4feda5f0a1010425f491ff7928412c610d757423/debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/helper/J9ClassHelper.java#L403

Per https://en.wikipedia.org/wiki/Connected_Limited_Device_Configuration, this reference is to an obsolete something.

[2021-06-02 15:27] JavaTailor opened #12819 "Some bytecodes in the class file are not executed"
### Summary
We found a test case where some bytecodes in the class files are not executed. The simplified test case can be found in the attachment.

To simply,  we inserted a print statement before the main function exits, as shown below.
The correct execution should output "Success" on the console. However, executing this test case on J9 did not output any information.

[code]

### How to reprodu

[2021-06-02 15:37] #11938 closed

[2021-06-02 15:39] jdekonin commented on #12817
OS level for compile/build machines
x - CentOS 6 docker container (JDK8), CentOS 7 (JDK15+)
p - CentOS 7
z - Redhat 7
aarch - CentOS 7

[2021-06-02 15:42] rajdeepsingh1 commented on #12621
@pshipton

win2012-x86-5 - D: virtual memory / paging space was set to "System Managed Size" which is the reason it was not utilizing the full space allocation. Corrected this and the page space is now statically set to 14180MB from 3244MB.

If all checks out, I will apply this to the new machines as well

https://github.com/eclipse-openj9/openj9/issues/12664

[2021-06-02 15:45] dsouzai commented on #12817
I've been working on RHEL 7.1 Kernel: 3.10.0-229.el7.x86_64

[2021-06-02 16:17] jdmpapin commented on #12710
That sounds pretty similar to what I was suggesting. A few clarifications though:
- [The check in (3) is the same as the "additional" check in (4)](https://github.com/eclipse-openj9/openj9/blob/4feda5f0a1010425f491ff7928412c610d757423/runtime/compiler/optimizer/J9TransformUtil.cpp#L451), since in general it's not until the latter point that we know which object we're loading the field from
- The c

[2021-06-02 16:35] pshipton commented on #12621
Testing win2012-x86-5 via grinder

testOSMXBeanLocal_0: https://openj9-jenkins.osuosl.org/job/Grinder/43 - passed
sanity.openjdk: https://openj9-jenkins.osuosl.org/job/Grinder/44

[2021-06-02 17:02] fjeremic opened #12821 "Failed test does not save javacore or jitdump but does save system core"
The following failed test seems to have produced an archive containing only the system core:
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_s390x_linux_Personal_testList_0/28/console

[code]

Artifactory link:
https://openj9-artifactory.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_sanity.functional_s390x_linux_Personal_testList_0/28/

From the test out

[2021-06-02 17:04] keithc-ca commented on #12818
I expect the reference ought to have referred to `J9VMJavaLangClassNativesCLDC`, not `J9VMJavaLangClassNativesCDLC` (CLDC, not CDLC).

[2021-06-02 17:06] #12818 closed

[2021-06-02 18:34] rajdeepsingh1 commented on #12664
Virtual memory / page file issues fixed on win2012-x86-6 to -11

The additional drive with the page space was not being fully allocated due to dynamic allocation of space - set this value to be static therefore the size would not differ.

[2021-06-02 18:38] pshipton commented on #12621
Rajdeep said: the virtual memory is not statically assigned on some of the new machines so the allocation keeps changing instead of being fixed.

The machines are updated now. I'll close this assuming fixed and reopen if the problem is still seen in the nightly builds.

[2021-06-02 18:38] #12621 closed

[2021-06-02 18:57] gacholio commented on #12819
The problem is in the JIT compilation of the main method. Works at noopt, but fails at anything higher:
[code]

[2021-06-02 19:02] gacholio commented on #12819
As this is the main method, the compilations are going to be via DLT.
[code]

[2021-06-02 19:32] ChengJin01 commented on #12787
With the updated cmake & uma setting, I managed to compile the build successfully on both Linux & Windows and it seems working with tests on libffi.   Will need to launch personal builds (internally & externally) to check how it goes in compilation & test suites on different OS platforms on x86/x86_64, including Linux/64bit, Linux/32bit, macOS/64bit, Windows/64bit, Windows/32bit, given all the cod

[2021-06-02 21:11] #12797 closed

[2021-06-02 21:16] #12683 closed

[2021-06-02 21:43] vijaysun-omr commented on #12808
If we try to do a `Runtime.exec` call from the Java process, this won't work since the exec'ed process inherits the environment (variables) from the Java process and so it will continue to only provide values that were in effect when the snapshotted process was started. So we would need some other process (that does not inherit the environment from the restored process) such as a script that issue

[2021-06-02 22:41] gita-omr commented on #12710
Yes, with this assumption, I would agree with your approach.

[2021-06-03 02:51] #12519 closed

[2021-06-03 11:20] JavaTailor opened #12828 "Invalid class accepted by J9 but rejected by hotspot"
### Summary
We inserted the code segment of the main function in the Obj class into the test case VE1. When the newly generated class was executed, hotspot threw a VerifyError, as shown below, but J9 accepted the class normally.  The simplified test case can be found in the attachment.
[code]

[code]

[code]

### How to reproduce?
[VE1.zip](https://github.com/eclipse-openj9/openj9/files/6591263/VE

[2021-06-03 12:14] JasonFengJ9 opened #12830 "JDK8 MauveSingleInvocLoad_special_5m_1_FAILED : Mauve[gnu.testlet.java.io.InputStreamReader.utf8]"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_s390x_linux_testList_0/58/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=MauveSingleInvocLoad_special_5m_1&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_special.system_s390x_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE

[2021-06-03 12:27] JasonFengJ9 commented on #12548
A different error appeared in this test at `Test_openjdk8_j9_sanity.perf_ppc64_aix/68`
`IncompatibleClassChangeError: java/time/Clock.instant()Ljava/time/Instant; (loaded from /home/jenkins/workspace/Test_openjdk8_j9_sanity.perf_ppc64_aix/openjdkbinary/j2sdk-image/jre/lib/rt.jar by <Bootstrap Loader>) called from class io.jenetics.engine.Timer (loaded from file:/home/jenkins/workspace/Test_openjdk

[2021-06-03 12:38] JasonFengJ9 opened #12831 "JDK16 aarch64_linux : j9vm.test.unsafe.UnsafeArrayGetTest Error: getByte() != manual read for offset=4580; expecting 143; got -113"
Failure link
------------

From an internal build `Test_openjdk16_j9_sanity.functional_aarch64_linux/31/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=J9vmTest_3&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=functional&amp;T

[2021-06-03 12:43] JasonFengJ9 opened #12832 "JDK16 aarch64_linux : j9vm.test.arraylets.ArrayletAllocateTest - Segmentation error vmState=0x00000000 at Compiled_method=j9vm/test/arraylets/ArrayletAllocateTest.main([Ljava/lang/String;)V"
Failure link
------------

From an internal build `Test_openjdk16_j9_sanity.functional_aarch64_linux/31/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=J9vmTest_3&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=functional&amp;T

[2021-06-03 12:48] JasonFengJ9 opened #12833 "JDK16 aarch64_linux : j9vm.test.jni.CriticalRegionTest RuntimeException: testModify_byte_1M: data incorrectly modified at 127 expected -128 was 128"
Failure link
------------

From an internal build `Test_openjdk16_j9_sanity.functional_aarch64_linux/31/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=J9vmTest_3&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=functional&amp;T

[2021-06-03 12:55] JasonFengJ9 opened #12834 "JDK16 aarch64_linux : VmArgumentTests AssertionError: missing argument: -Dtest.name2=javaOptionsArg"
Failure link
------------

From an internal build `Test_openjdk16_j9_extended.functional_aarch64_linux/21/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=VmArgumentTests_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=functio

[2021-06-03 13:08] JasonFengJ9 opened #12835 "JDK16 aarch64_linux : ASSERTION FAILED ** at ../../../../../openj9/runtime/codert_vm/jswalk.c:532: ((0 ))"
Failure link
------------

From an internal build `Test_openjdk16_j9_special.system_aarch64_linux_testList_1/24/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=DaaLoadTest_daa1_special_5m_12&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk16_j9_special.system_aarch64_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE_N

[2021-06-03 13:22] Mesbah-Alam commented on #12830
https://github.com/adoptium/aqa-systemtest/pull/307/files only affects the multi-threaded version of Mauve test only.

This failure is in the single invocation version.

In order to disable the test from single invocation version too, we'd have to add the exclude here: https://github.com/adoptium/aqa-systemtest/blob/master/openjdk.test.load/config/inventories/mauve/mauve_all_exclude.xml

I will ha

[2021-06-03 14:19] pshipton opened #12836 "testDDRExt_General_0 Mac crash vmState=0x0005ff04"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/14/ - osx1011-x86-2
testDDRExt_General_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/14/functional_test_output.tar.gz
[code]

[2021-06-03 14:22] babsingh commented on #11528
@EricYangIBM https://github.com/eclipse-openj9/openj9/pull/12799 and https://github.com/eclipse-openj9/openj9/pull/12806 were recently merged to resolve this issue. Can you evaluate if these PRs are sufficient to close this issue? If not, let us know the next steps.

[2021-06-03 14:23] pshipton commented on #12782
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_ppc64le_linux_Nightly_testList_1/14
jsr335tests_SE80_7
variation: Mode501
JVM_OPTIONS:  -Xjit -Xgcpolicy:balanced -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.functional_ppc64le_linux_Nightly_testList_1/14/functional_test_output.tar.gz
[code]

[2021-06-03 14:24] EricYangIBM commented on #11528
Yes I believe so.

[2021-06-03 14:26] babsingh commented on #11528
Closing issue as per https://github.com/eclipse-openj9/openj9/issues/11528#issuecomment-853910288.

[2021-06-03 14:26] #11528 closed

[2021-06-03 14:27] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_ppc64le_linux_Nightly/15
[code]

[2021-06-03 14:31] fjeremic commented on #12782
JitDump unfortunately did not reproduce the issue again, but the IL of the crashed method is quite simple for this last failure Peter linked. Here it is:

[code]

[2021-06-03 14:47] pshipton commented on #10929
internal build job_output.php?id=6592802 JIT_Sanity.abbs.5mins.Mode140
[code]

[2021-06-03 14:55] fjeremic commented on #12836
Results file is empty:
[code]

[2021-06-03 14:55] zl-wang commented on #12782
@rmnattas is starting to look at this ... common issue: at least on p and mac

[2021-06-03 15:51] JasonFengJ9 commented on #12830
Closing since the test has been excluded.

[2021-06-03 15:51] #12830 closed

[2021-06-03 16:51] vijaysun-omr opened #12839 "Study and improve escape analysis in the presence of HCR"
This issue is meant to capture two pieces of work :

1) Study the effectiveness of how well escape analysis works (both with respect to static as well as dynamic counters) on a couple of applications that need higher opt levels for getting higher, e.g. SPECjbb and ILOG maybe. In particular I think we should check what proportion of objects that get stack allocated with HCR disabled get stack alloc

[2021-06-03 16:53] vijaysun-omr commented on #12839
Assigned this to @hzongaro since he is probably best equipped to carry out this task. @0xdaryl it would be nice if it was possible to have someone spend some time on this over the next 6 months or so.

[2021-06-03 17:17] rmnattas commented on #9969
The failure doesn't happen anymore. Issue can be closed and reopen if it appears again.

[2021-06-03 18:03] pshipton commented on #12828
@tajila @ChengJin01 fyi

[2021-06-03 18:10] rmnattas commented on #12782
Using the build in the last crash from Peter
[code]

[2021-06-03 18:23] pshipton commented on #12836
@llxia fyi the missing diagnostics.

[2021-06-03 19:05] RSalman commented on #12206
Just an update on this - @gza060625 is getting a PR in (https://github.com/eclipse-openj9/openj9/pull/12794) that extends the the gc regression tests for file splitting + file names with string specifiers.

[2021-06-03 20:51] dsouzai commented on #12812
[code]
I was able to start DT7 and apply load, both with and without SSL and also with all EE7 features enabled.

[2021-06-03 21:29] ChengJin01 commented on #12828
Looking at the test code:
[code]
which fails in compilation as expected according to the definition of `protected` in the Java Language Spec because `VE1` is only able to call its' clone() derived from `Object` rather than `p1.clone()` when`VE1` and `Object` are not in the same package.
[code]
Thus, the error should also be captured from VM perspective. I will need to check the verifier to see wha

[2021-06-03 22:41] ChengJin01 commented on #12828
Looking at the bytecode snippet of VE1:
[code]
against our code at /runtime/bcverify/rtverify.c
[code]
and the code of `isProtectedAccessPermitted ` at /runtime/bcverify/vrfyhelp.c
[code]
It means that  the verification error is catpured by our code with `-Xfuture` or `-Xverify:doProtectedAccessCheck` specified but not by default (confirmed with the latest JDK11 nightly build as the code is indepe

[2021-06-03 22:44] ChengJin01 commented on #12828
Hi @JavaTailor,  please specify `-Xfuture` or `-Xverify:doProtectedAccessCheck` to do the protected check on the test class given the check is not enabled by default in OpenJ9 and there is no code change to be expected at this point.

[2021-06-04 04:07] mpirvu opened #12845 "Increase JITClient timeout to 10 sec"
The current timeout value for socket requests from the JITClient is 2 sec. When JITServer is overloaded, this value might be insufficient. Another problem is caused by JITDump: if a compilation at the server crashes, the handler will create a coredump which can take many seconds. By the time we reach the JITdump point the timeout could have expired, the client closes the connection and the JITDump

[2021-06-04 04:26] mpirvu opened #12847 "Increase maximum number of compilation threads at JITServer"
The maximum number of compilation threads at JITServer is 63 (1 thread is the diagnostic thread) and this limit was arbitrarily chosen. When the network latency is large the server could benefit from a larger number of compilation threads to avoid sitting idle.
The default number of compilation threads could remain 63, but the user should be given the choice (through command line options) of using

[2021-06-04 04:30] mpirvu commented on #12847
`MAX_SERVER_USABLE_COMP_THREADS` should be increased to 255 or something like that.
`TR::CompilationInfo::updateNumUsableCompThreads(int32_t &numUsableCompThreads)` should be updated to set the desired number of compilation threads (bounded by 1 and `MAX_SERVER_USABLE_COMP_THREADS`). If the `numUsableCompThreads` parameter is out of bounds, a value of `DEFAULT_SERVER_USABLE_COMP_THREADS` should be

[2021-06-04 05:11] JavaTailor commented on #12828
@ChengJin01
Thanks for your quick reply.
We have verified it, and it works. This seems to be the same issue as  #12804 . We did the same on the test case in #12804 , and indeed the corresponding exception was thrown. But why is this check not set as the default?

In addition, in #12804 , if we replace the called clone function with other functions such as hashcode or any other undefined function.

[2021-06-04 05:44] ChengJin01 commented on #12828
Hi @JavaTailor,

The options are disabled by default due to performance related concerns at runtime based on the existing implementation.

Please note the check only applies to the access check on the protected method such as `protected Object.clone()` while both `Object.hashCode()` and `Object.hashCodexxxx` (doesn't exist in Object but treated as public) are public methods, which should be skippe

[2021-06-04 11:17] manqingl opened #12851 "Crash on generating javacore files."
The issue happened when a non-Java thread (so J9VMThread is NULL) is used as the currentThread to generate the javacore files and walk all the Java threads.

This is the native stack trace:

`(dbx) where
.() at 0x0
jswalk.walkLiveMonitorSlots(??, ??, ??, ??, ??), line 1792 in "jswalk.c"
jitGetOwnedObjectMonitors(??), line 1708 in "jswalk.c"
getOwnedObjectMonitorsIterator(??, ??), line 128 in "owne

[2021-06-04 13:19] pshipton commented on #12851
@tajila fyi

[2021-06-04 13:26] pshipton commented on #10489
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-64_windows_Nightly_testList_1/15
DaaLoadTest_daa2_CS_5m_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.system_x86-64_windows_Nightly_testList_1/15/system_test_output.tar.gz
[code]

[2021-06-04 13:28] pshipton commented on #2684
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_0/16 - ub16x64j98
TestFileLocking_SE80_0
[code]

[2021-06-04 13:30] pshipton commented on #2684
Rebooted ub16x64j98 and ub18-x86-2

[2021-06-04 13:32] pshipton commented on #12789
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/15 - rh7-390-1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/15/openjdk_test_output.tar.gz
[code]

[2021-06-04 14:10] tajila opened #12853 "Re-enable excluded mh tests"
See https://github.com/eclipse-openj9/openj9/pull/12779 for a list of excluded tests

[code]

[2021-06-04 14:56] r30shah commented on #12789
Can we launch a grinder for 20 runs? I can not reproduce this on internal grinder system in 20x.

[2021-06-04 15:39] fjeremic commented on #12789
https://openj9-jenkins.osuosl.org/job/Grinder/54/

[2021-06-04 17:00] ChengJin01 commented on #11937
It seems the crash only occurs when invoking a method handle created by `MethodHandles.countedLoop()` in which the return type of the loop body is `void` while other countedLoop related tests with non-void return type in the loop body passed without any error.

e.g.
[code]
So I suspect there is something missing in the code to deal with the void return type.

[2021-06-04 17:34] llxia commented on #12836
From the output, core files are written to `/Users/jenkins/workspace/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/jvmtest/functional/DDR_Test`. Talked with @renfeiw , the test is not running from TKG `REPORTDIR`.
@OscarQQ could you please update the test to run in `REPORTDIR `? Thanks

[2021-06-04 17:40] llxia commented on #12836
Also, I cannot reproduce `Unhandled exception`. Tried x100 on `osx1011-x86-2` https://openj9-jenkins.osuosl.org/job/Grinder/53/

[2021-06-04 17:41] AlexeyKhrabrov commented on #12847
I actually already have an implementation of this, as well as changes needed to increase the number of client threads. I can submit a PR some time in the next few days.

[2021-06-04 17:55] mpirvu commented on #12847
I would prefer to have the server solution independent of the client solution (2 PRs)

[2021-06-04 18:27] gacholio commented on #12851
The code is always passing NULL for the vmThread from `sigQuitHandler`.

[2021-06-04 18:33] gacholio commented on #12851
Note `protectedGetOwnedObjectMonitors` - why is the crash being reported instead of being caught?

[2021-06-05 03:30] #9247 closed

[2021-06-06 10:01] jsoref opened #12867 "copyright check is a bit silly"
The copyright check insisted that I write:

It really shouldn't make me do this. I'm not even sure that's technically valid.

[2021-06-07 12:30] singh264 commented on #12504
@dsouzai requesting to work on issue

[2021-06-07 13:40] pshipton commented on #2684
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_0/18 - ub16x64j95
[code]

[2021-06-07 13:47] pshipton opened #12874 "AIX failing to build"
https://openj9-jenkins.osuosl.org/job/Build_JDK8_ppc64_aix_Nightly/17
[code]

https://openj9-jenkins.osuosl.org/job/Build_JDK11_ppc64_aix_Nightly/17
[code]

https://github.com/eclipse-openj9/openj9/compare/f6bdf7a...6bbaac6

[2021-06-07 13:48] pshipton commented on #12874
@LinHu2016 @amicic @dmitripivkine I assume https://github.com/eclipse-openj9/openj9/pull/11862 is causing this.

[2021-06-07 13:53] fjeremic commented on #12867
I think the intent is for left number being the year the file was introduced, and right number being the last date it was modified. In this case if you created a new file it will be 2021, 2021. The first date will not change, and the second one will get updated as changes are made.

[2021-06-07 13:57] jsoref commented on #12867
Yeah. I get it. It's still wrong.

I can be as lazy as the next developer, if not lazier.

Sure, it's more work to parse things correctly and for the first bump, but I'm law extra words can result in things being thrown out, because if a word didn't belong, it shouldn't be there.

[2021-06-07 13:57] pshipton commented on #12874
There are a number of failures in jdk11 as well, which must be caused by the same change.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK11/17/

cmdLineTester_GCRegressionTests_1

testSoftMxDisclaimMemory_zlinux_64_3
testSoftMxNotDisclaimMemory_zlinux_64_3
testDefaultDisclaimMemory_zlinux_3
testSoftMxDisclaimMemory_GC_3
testSoftMxLocal_zlinux_64_3

testSoftMxLocal_3
testSoftMxLocal_L

[2021-06-07 14:05] mstoodle commented on #12867
I know it looks weird, but the legal advice to the project was to make it clear that the file was both created and last modified in the named year. Both dates are relevant in copyright law (just looks funny when they are the same year).

[2021-06-07 14:09] dsouzai commented on #12504
Thanks @singh264, assigned this to you.

[2021-06-07 14:10] #12845 closed

[2021-06-07 14:12] amicic commented on #12874
Since we have more than one failure suspecting on PR 11862, this will take some time to investigate. I'll revert the change.

[2021-06-07 14:13] pshipton commented on #12782
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.functional_ppc64_aix_Nightly_testList_0/16/
J9vmTest_3
[2021-06-05T05:11:01.530Z] variation: Mode301
[2021-06-05T05:11:01.530Z] JVM_OPTIONS:  -Xgcpolicy:metronome -Xnocompressedrefs
[code]
There is ~500MB of stack backtrace output

[2021-06-07 14:25] jsoref commented on #12867
If legal signed-off / encouraged this, then, ok

[2021-06-07 14:25] #12867 closed

[2021-06-07 15:22] pshipton commented on #12874
Closing this since the change was reverted.

[2021-06-07 15:23] hangshao0 commented on #12039
I notice after my change to fix this issue, `org.openj9.test.annotationPackage.Test_PackageAnnotation` and `org.openj9.test.annotationPackage.Test_PackageAnnotation2` will fail in `x86-64_linux_vt_standard` build.

[code]

This is because in the current JCL code, `AnnotationInvocationHandler` enforces annotation type to have `java.lang.annotation.Annotation.class` as its only super interface. This

[2021-06-07 15:30] gita-omr commented on #11993
@tajila could we resume the discussion on what exactly is needed to implement this?

[2021-06-07 16:07] keithc-ca commented on #12874
My intent was that the presence of the line
[code]
in `AuxFieldInfo29.dat` would be sufficient to cause the class `MM_MemoryPoolBumpPointer` to be generated. I'll repurpose this issue to fix that.

Note that the class name includes the suffix 'Pointer', but should not.
[code]

[2021-06-07 16:32] ChengJin01 commented on #11937
1) Looking at the `loop` code invoked by `MethodHandles.countedLoop()` in OpenJDK MH at https://github.com/ibmruntimes/openj9-openjdk-jdk16/blob/openj9/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
[code]
It turns out iterationVariableTypes is used to set the finalizer handle in OpenJDK which is incorrect according to the Spec at https://docs.oracle.com/en/java/javase/16/docs/api

[2021-06-07 17:02] nbhuiyan commented on #12504
The progress with the options processing work got stalled a while ago due to infra-related issues. I do not have a timeline for when that work can be contributed at this time, so I do not think any work to improve the existing options processing components should be affected in anticipation of its replacement.

[2021-06-07 18:00] gacholio commented on #12851
@manqingl Does the locks section ever work when SIQQUIT is injected? Wondering if I missed a path in the code where it gets the current thread.

If the section is always empty (i.e. crash on NULL is caught) then the problem may be in the signal protection somehow.

None of this explains why the crash is not caught.

[2021-06-07 18:02] tajila commented on #11993
We would need to know the defining class and the method name (or moethodref). Essentially, we need to know which implementation the JIT is referring to.

The challenge is that in polymorhpic callsites there is no way to determine this statically.

[2021-06-07 18:38] hangshao0 opened #12878 "Re-enable excluded vtstandard tests"
Use this issue to track tests temporarily excluded in `x86-64_linux_vt_standard` build.

See https://github.com/eclipse-openj9/openj9/issues/12039#issuecomment-856032220.  Currently `AnnotationInvocationHandler` enforces annotation type to have `java.lang.annotation.Annotation.class` as its only super interface. This is not true anymore after #12039.
`org.openj9.test.annotationPackage.Test_Package

[2021-06-07 20:08] manqingl commented on #12851
@gacholio I can easily repeat the issue with the following test case, even though it would be a different spot which called method objectIsBeingWaitedOn():

public class Hang {
        public static void main(String [] args) {
                Hook hook = new Hook();
                System.out.println("adding hook ... ");
                Runtime.getRuntime().addShutdownHook(hook);
                S

[2021-06-07 20:25] ChengJin01 commented on #12787
It seems the replaced `x86/libffi` code works good on Linux/64bit & 32bit, macOS/64bit, Windows/64bit (verified on OpenJ9 Jenkins builds) but there were unexpected compilation issues with Linux 64bit (suspect it was related to the toolchain) on internal builds
[code]
and compilation issues with Windows 32bit as follows:
[code]
which I need to double-check the code to see why they failed in compila

[2021-06-07 20:51] pshipton opened #12881 "xlinux builds blocked, extensions jdk8, jdk11 fatal: reference is not a tree"
The jdk8 and jdk11 xlinux builds are getting the following error since the Sunday night build. The SHAs haven't changed, they were the same for jdk8 in the Friday and Saturday night builds, which worked, and the same since Thursday night for jdk11.

https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_linux_Nightly/18/ - ub16x64j98
https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_linux_O

[2021-06-07 20:52] pshipton commented on #12881
My first guess is there is something wrong with the docker image.

[2021-06-08 00:01] gita-omr commented on #11993
Right. I was thinking that sometimes we try to de-virtualize a call but not necessarily inline in it. At this point, we could check the annotation. Then, we could provide the exact class of the object on which we are invoking the method(might not be the one that have the method implementation though, but some of its parents would).

[2021-06-08 00:51] #11671 closed

[2021-06-08 01:07] pshipton commented on #12881
Is the clone is running in the container? The job that updates the reference repo probably ran on Saturday.

In openjdk_cache I've fetched the latest jdk8, jdk11 on cent7-x64-1 to 5, and ub16x64j91 to 98, but it didn't help. The SHA for jdk8 changed today, but the build tonight still failed.
https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_linux_Nightly/19/console

If the clone is running i

[2021-06-08 01:16] pshipton commented on #12881
Rebuilding a clean cache on  ub16x64j98, I see if I can rebuilt on this machine, or I'll do all the xlinux machines to see if this helps.
https://openj9-jenkins.osuosl.org/view/Infrastructure/job/Update-Reference-Repos/4

[2021-06-08 01:27] pshipton commented on #12881
This takes forever. Is `git gc --aggressive --prune=all` really worth a little space? We should either remove it or make it optional with a parameter.

[2021-06-08 02:16] gacholio commented on #12851
Does this occur without the shutdown hook (just looping in main for instance)?

[2021-06-08 03:47] pshipton commented on #12881
After almost 2 hours, the cache is rebuilt, but the problem still occurs on ub16x64j98. Also, I think all the network traffic caused a number of other nightly jobs to fail, so I'll have to restart them all. We really need a better proxy.
https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_linux_Nightly/20/console

[2021-06-08 12:40] JasonFengJ9 opened #12884 "JDK17 MBCS_Tests_i18n_zh_CN_linux_0_FAILED : not ok 3 - DateFormatTest"
Failure link
------------

From an internal build `Test_openjdk17_j9_special.functional_ppc64le_linux/11/` (`sles15le-rt1-4`):
[code]
Another failure was `Test_openjdk17_j9_special.functional_ppc64le_linux/8/` at (`rhel7lert-1-10`).
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=MBCS_Tests_i18n_zh_CN_linux_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&am

[2021-06-08 12:44] pshipton commented on #7247
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/19 - osx1011-x86-1
testDDRExtJunit_MonitorsAndDeadlock4_0
[code]

[2021-06-08 12:48] smlambert commented on #12884
dup of https://github.com/adoptium/aqa-tests/issues/2633 (which has a fix in: https://github.com/adoptium/aqa-tests/pull/2634)

[2021-06-08 12:48] #12884 closed

[2021-06-08 12:49] pshipton opened #12885 "jtreg java/util/Deque/ChorusLine.java 9 not equal to 7"
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_x86-64_linux_Nightly/20 - ub16x64j96
java/util/Deque/ChorusLine.java
[code]

[2021-06-08 12:50] JasonFengJ9 commented on #8743
Observed at an internal build `Test_openjdk17_j9_sanity.system_ppc64_aix_testList_0/27/` (`paix823 `)
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=NioLoadTest_5m_1&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_sanity.system_ppc64_aix&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_A

[2021-06-08 12:55] pshipton commented on #12885
Grinders
individual test
10x https://openj9-jenkins.osuosl.org/job/Grinder/55
10x x 5 https://openj9-jenkins.osuosl.org/job/Grinder/57

jdk_util_1 3x x 4 https://openj9-jenkins.osuosl.org/job/Grinder/56

[2021-06-08 13:00] JasonFengJ9 opened #12886 "dacapo-luindex_0_FAILED - Error: Invalid or corrupt jarfile openjdk-tests/TKG/../../jvmtest/perf/dacapo/dacapo.jar"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.perf_s390x_linux/14/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=dacapo-luindex_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OWNER_B

[2021-06-08 13:06] JasonFengJ9 commented on #12337
Another appearance at `Test_openjdk11_j9_extended.system_aarch64_linux/15/` (`ub18-aarch64-9`), and along with `j9mm.479    *   ** ASSERTION FAILED ** at ../../../../../../openj9/runtime/gc_glue_java/ConcurrentMarkingDelegate.cpp:61:`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=MathLoadTest_all_5m_1&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&a

[2021-06-08 13:22] JasonFengJ9 commented on #12219
A similar `StackOverflowError` occurred at JDK8 ppcle linux internal build `Test_openjdk8_j9_extended.perf_ppc64le_linux/13/` (`rhel7lert-1-8`)
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=renaissance-movie-lens_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA

[2021-06-08 13:27] JasonFengJ9 opened #12887 "JDK8 renaissance-db-shootout_0_FAILED - j9vmutil(j9vm).15 * ** ASSERTION FAILED ** at /home/jenkins/workspace/build-scripts/jobs/jdk8u/jdk8u-linux-x64-openj9/workspace/build/src/openj9/runtime/util/fieldutil.c:156: ((((UDATA)sectionStart % sizeof(U_32)) == 0))"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.perf_x86-64_linux/11/` (`ub20x64rt3-2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=renaissance-db-shootout_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_

[2021-06-08 13:27] tajila commented on #12416
@lumpfish Are we still seeing failures here?

[2021-06-08 13:27] #12615 closed

[2021-06-08 13:28] tajila commented on #12630
@mikezhang1234567890 Please take a look at this

[2021-06-08 13:29] tajila commented on #12418
@keithc-ca Is this work complete?

[2021-06-08 13:56] keithc-ca commented on #12418
No. Can we defer this to the next release?

[2021-06-08 14:30] jdekonin commented on #12881
The container shouldn't be using the hosts cache at all, as it has its own.  The container hasn't been updated since May 28th and most of the hosts that received the job haven't been updated since the 28th either.  Note that the same container works just fine on the internal build environment which might indicate a plugin update??  Not sure this happened on the weekend though; last good build was

[2021-06-08 14:34] tajila commented on #12418
Yes, we can.

[2021-06-08 15:37] tajila commented on #12851
@dmitripivkine the issue is only seen when the JVM signal handler is disabled.

This means that the only issue here is what to do about `vmFuncs->objectIsBeingWaitedOn(currentThread, targetThread, obj)` when called on a non-VM thread (cases where currentThread is NULL)

`objectIsBeingWaitedOn` is defined as:

[code]

The question is can `j9gc_objaccess_readObjectFromInternalVMSlot` take in a javaV

[2021-06-08 15:41] dmitripivkine commented on #12851
@amicic Any thoughts?

[2021-06-08 16:21] mikezhang1234567890 commented on #12630
Can't seem to reproduce manually anymore. On `mac11x64rt07` the version returned from both `os.version` system property and `sw_vers -productVersion` shows `11.3`.

Will try rerunning the grinder once I get an updated build finished.

[2021-06-08 16:29] rmnattas commented on #12782
The issue is trying to use a monitor that is not created. @tajila

`hotFieldPoolMutex` in the code bellow is null
https://github.com/eclipse-openj9/openj9/blob/1bf187d15991fb4bad8c312aa425959a033f1d04/runtime/vm/resolvefield.cpp#L687-L693

[2021-06-08 16:30] LongyuZhang opened #12890 "Update StaticAccessChecks tests for JEP 403"
Due to JEP 403: Strongly Encapsulate JDK Internals, test `StaticAccessChecks-IllegalAccessDeny` needs another variation with `--illegal-access=permit`, based on https://github.com/eclipse-openj9/openj9/issues/12727#issuecomment-851647215.
But current JDK 17 nightly still allows `--illegal-access=permit`, so the newly added test will be disabled now, and enable after the release with JEP 403. This

[2021-06-08 16:38] JasonFengJ9 commented on #12630
A recent occurrence is at an internal build `Test_openjdk17_j9_sanity.openjdk_x86-64_mac/35/` (`mac11x64rt08`)
[code]

[2021-06-08 17:04] gita-omr opened #12894 "Fold elements of arrays annotated as Stable"
Related to [1]. Folding of Stable non-array elements has been implemented. Handling array elements including those of multi-dimensional arrays would be next step.

[1] https://github.com/eclipse-openj9/openj9/issues/12710

[2021-06-08 17:22] pshipton commented on #12630
ssh to mac11x64rt07
cd peter
jdk/bin/java -XshowProperties

[2021-06-08 17:22] pshipton commented on #12630
os.version = 10.16

The JVM is from the OpenJ9 build last night https://openj9-jenkins.osuosl.org/job/Build_JDK16_x86-64_mac_Nightly/21/

[2021-06-08 17:23] gacholio commented on #12851
To me, it seems reasonable that you not be allowed access to java objects on a non-java thread. The javacore writer eventually gets the class from the object to print - it uses APIs that take a VM.

If the dump code gets exclusive (from external thread in this case), this operation should be safe.

[2021-06-08 17:28] llxia commented on #12886
I do not think this is the test setup issue. `dacapo-luindex_0` passed at Adopt nightly:
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.perf_s390x_linux/23

[code]

[2021-06-08 17:29] pshipton commented on #12887
@llxia there are no diagnostic files captured.

@tajila @gacholio fyi the assert.

[2021-06-08 17:36] gacholio commented on #12887
Without the ROM class from the core, there's little to be done other than manually eyeball the code.

Would also be good to know if the assert is reproducible.

[2021-06-08 17:37] llxia commented on #12887
diagnostic files are written to the correct folder `/home/jenkins/workspace/Test_openjdk8_j9_extended.perf_x86-64_linux/openjdk-tests/TKG/output_16228620741551`. It looks like the machine `ub20x64rt3-2` was offline so we did not complete `Deploying artifact` step.

[code]

[2021-06-08 17:38] gacholio commented on #12851
What is the nature of the SATB work? Could we simply skip it if the current thread is NULL (given my comment above about only the class really needing to be valid)?

[2021-06-08 17:39] llxia commented on #12887
Grinder 5x on ub20x64rt3-2: Grinder/16061/

[2021-06-08 17:48] jdekonin commented on #12881
Something odd on ub16x64j98 which is all 3 of the Build_JDK8_x86-64_linux_Nightly failures.  The group id for jenkins changed to 1001 which doesn't exist.  I've chown'd the directory...going to retest in a bit.  This guest passed a containerize compile prior to June 5th.  No work occurred over the weekend on this system.  But I had modified this system prior to the docker container implementation

[2021-06-08 18:03] dmitripivkine commented on #12851
Object is stored in a VM thread owned fragment of sATBBarrierRememberedSet. This action can not performed if current thread in NULL obviously.

[2021-06-08 18:04] mikezhang1234567890 commented on #12630
I've found issue https://github.com/ziglang/zig/issues/7569 which seems to describe a similar problem.

Looking at the internal test runs, it does look like they're using JDKs built on pre-10.16 machines, so we'd get the compatibility version number returned. My manual attempt likely succeeded since I built the JDK locally on a 11.3 machine.

The solution presented reads the system plist file from

[2021-06-08 18:09] JasonFengJ9 commented on #12886
This is a cross platform problem, also seen at `Test_openjdk11_j9_extended.perf_ppc64le_linux/17/` (`sles12le-rt1-4`).

Maybe there was a network hiccup at `[echo] curl -Lks https://sourceforge.net/projects/dacapobench/files/latest/download -o dacapo.jar`.
Launched a 3x grinder on 3 machines at `Grinder/16062`.

[2021-06-08 18:13] RSalman commented on #12851
As Dmitri mentioned, VM thread should be passed, it's required for the Metronome barrier.

[code]
 Outside of metronome, there's no need for the thread. If the thread is NULL, we don't have perform the barrier specific action for the thread.

[2021-06-08 18:18] gacholio commented on #12851
Maybe the answer is to return NULL on metronome if currentThread is NULL given that a correct answer cannot be returned. This would result in some inaccurate information rather than the outright crash. The crash is usually caught by the javacore code, so we're already not getting useful information in that section.

[2021-06-08 18:20] gacholio commented on #12851
We can change anywhere that's taking current and target thread to fetch the VM from the target to allow for NULL current.

[2021-06-08 18:30] gacholio commented on #12819
@0xdaryl @vijaysun-omr Completely reproducible.

[2021-06-08 18:32] pshipton opened #12896 "Re-enable NativeGCM lost due to OpenJDK update 8255557: Decouple GCM from CipherCore"
See https://github.com/ibmruntimes/openj9-openjdk-jdk/issues/323

[2021-06-08 18:59] AdamBrousseau commented on #12267
Can this be closed?

[2021-06-08 19:04] dmitripivkine commented on #12851
There is no reason to call barrier code with current thread NULL. So NULL check can be added inside `j9gc_objaccess_readObjectFromInternalVMSlot` or outside it on caller side (in the macro). I think the return value can be NULL in this case - it depends what caller is expected

[2021-06-08 19:08] pshipton commented on #12267
Haven't seen it since.

[2021-06-08 19:08] #12267 closed

[2021-06-08 19:09] gacholio commented on #12851
Right, we'll need to verify that a NULL return is handled in the callers (i.e. no assumptions are being made about a VM slot not being NULL based on other flags, etc).

[2021-06-08 19:09] amicic commented on #12851
I think that it's reasonable to assume that any non trivial operation under blockingEnterObject and that GC is expected to do something about this  is only if really target is the current running thread,

So, a solution for me is at the level of the macro:
if current == target, do same as before,
otherwise return plain target->blockingEnterObject

[2021-06-08 19:11] gacholio commented on #12851
That sounds ideal - we're generating a javacore, so this is meant to be a strictly read-only operation. We don't want to be updating remembered sets and such.

[2021-06-08 19:14] gacholio commented on #12851
So it might be safer to check current for NULL rather than equality with the target.

[2021-06-08 19:17] amicic commented on #12851
I'm ok with null check against current, too. although 'm wondering why would one thread mess with other threads blocking monitor (but I don't have full understanding of blockingEnterObject)

At least, current == target holds in current code (othen java dumping):

![image](https://user-images.githubusercontent.com/18264984/121244227-9b274f80-c86c-11eb-8f30-4daa10dcc415.png)

[2021-06-08 19:24] gacholio commented on #12851
The code is walking all stacks and attempting to match up lock information with the frames, so it inevitably targets threads other than the current.

[2021-06-08 19:36] jdekonin commented on #12881
The ub16 and ub18 systems had jenkins uid:gid initially at 1001:1001, which I modified.  It seems something about how I did it wasn't complete on a few of the systems.  Specifically ub16x64j91, ub16x64j97 and ub16x64j98.  There was a failure on cent7-x64-2 and cent7-x64-4 that appears identical, but cent7 systems were not modified for uid/gid, I'll have to dig into those more.

Reviewing these job

[2021-06-08 19:37] 0xdaryl commented on #12819
@BradleyWood : would you mind investigating this please?

[2021-06-08 19:51] tajila commented on #12782
@jonoommen can you take a look at this

[2021-06-08 20:34] gacholio commented on #12851
I'm going ahead with the NULL check in the GC and using the target thread to fetch the VM in the macros.

[2021-06-08 21:29] JasonFengJ9 commented on #12886
The grinder as per https://github.com/eclipse-openj9/openj9/issues/12886#issuecomment-856983747 all passed.

Closing assuming network issue.

[2021-06-08 21:29] #12886 closed, assigned to nobody

[2021-06-09 00:38] jdekonin commented on #12881
Seems a new container with an updated openjdk_cache works...all the other stuff was just noise.

PR compiles are working
https://github.com/eclipse-openj9/openj9/pull/12900

[2021-06-09 09:19] lumpfish commented on #12416
I've rerun this failing test in three grinders on three different AIX machines at AdoptOpenJDK - all passed.

[2021-06-09 11:14] #12828 closed

[2021-06-09 11:15] #12804 closed

[2021-06-09 13:05] tajila commented on #12804
@JavaTailor was this closed intentionally?

[2021-06-09 13:08] tajila commented on #12804
Closed based on https://github.com/eclipse-openj9/openj9/issues/12828#issuecomment-854363250

[2021-06-09 13:09] tajila commented on #12416
Thanks @lumpfish

[2021-06-09 13:09] tajila commented on #12416
Closing based on https://github.com/eclipse-openj9/openj9/issues/12416#issuecomment-857533534

[2021-06-09 13:09] #12416 closed

[2021-06-09 13:10] pshipton commented on #12881
Closing assuming fixed.

[2021-06-09 13:16] pshipton commented on #11979
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_OMR/19
cmdLineTest_sigabrtHandlingTest_0
[code]

[2021-06-09 13:20] llxia opened #12906 "Build_JDK_Timeout_Handler job failed to get jtreg"
Build_JDK_Timeout_Handler job on openj9 Jenkins failed to get jtreg. This job produces `openj9jtregtimeouthandler.jar` for openj9 openjdk tests to use.

https://openj9-jenkins.osuosl.org/job/Build_JDK_Timeout_Handler/1/console

[code]

The url `https://ci.adoptopenjdk.net/view/Dependencies/job/jtreg/lastSuccessfulBuild/artifact/jtreg-4.2.0-tip.tar.gz` seems invalid. I cannot find `jtreg` job on Ad

[2021-06-09 13:24] llxia commented on #12906
There is another AdoptOpenJDK job that produces `jtreg-4.2.0-tip.tar.gz `https://ci.adoptopenjdk.net/job/dependency_pipeline/. However, it seems to have an issue according to https://github.com/adoptium/ci-jenkins-pipelines/issues/165

[2021-06-09 13:28] llxia commented on #12906
This issue will not affect any automation builds as we stage jars in Jenkins job https://openj9-jenkins.osuosl.org/job/test.getDependency/. I think local openj9 openjdk tests will get affected.

FYI @pshipton @AdamBrousseau

[2021-06-09 13:46] pshipton commented on #11998
Moving to the backlog.

[2021-06-09 13:48] DanHeidinga commented on #12815
Thanks for the suggestion and the test case demonstrating the lack of structured locking.  It's definitely something we've talked about doing in the past (see https://github.com/eclipse-openj9/openj9/issues/9314 for some details) but has never made it high enough on the priority list to be adopted.

The reason it hasn't been high is that it's a major bit of engineering work that, apart from these

[2021-06-09 13:50] pshipton commented on #11417
Moving forward.

[2021-06-09 13:55] pshipton commented on #12526
This happens fairly frequently (once a week?) in the builds. Seems unlikely/infeasible to repeat using a grinder. I expect we should add more diagnostics to the port library to print why it fails so we can narrow down the problem. @tajila

[2021-06-09 13:57] pshipton commented on #12370
@keithc-ca can this be closed? If not, what is left to do?

[2021-06-09 13:59] pshipton commented on #12397
The changes are merged so closing this.

[2021-06-09 13:59] #12397 closed

[2021-06-09 14:15] pshipton commented on #8214
I haven't seen this in some time, did a fix get merged?

[2021-06-09 14:16] pshipton commented on #12594
I'm going to remove this from the milestone plan since it can't be replicated.

[2021-06-09 14:19] pshipton commented on #12359
Moving forward.

[2021-06-09 14:22] pshipton commented on #12224
Seems this was fixed so closing.

[2021-06-09 14:22] #12224 closed

[2021-06-09 14:25] pshipton commented on #12144
@ashbm5 any progress on this?

[2021-06-09 14:28] pshipton commented on #12073
Haven't seen this in some time, removing from milestone plan.

[2021-06-09 14:31] pshipton commented on #12628
@JasonFengJ9 is this still a problem?

[2021-06-09 14:33] pshipton commented on #9124
Haven't seen this in a while, closing until it's seen again.

[2021-06-09 14:37] ashbm5 commented on #12144
@pshipton no progress for right now.

[2021-06-09 14:41] pshipton commented on #11500
@samasri @ashbm5 is there any outlook for porting https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/404 to other versions?

[2021-06-09 14:48] JasonFengJ9 commented on #12628
No, no occurrence in recent builds.

Closing..

[2021-06-09 14:48] #12628 closed

[2021-06-09 14:49] keithc-ca commented on #12370
I started writing a document, but recent developments mean it should change. I was leaving this open until the documentation is done.

[2021-06-09 14:53] pshipton commented on #12172
Is this still a problem? I'm going to close it since it seems obsolete. Pls reopen or comment if there is still an issue.

[2021-06-09 14:53] #12172 closed

[2021-06-09 14:55] pshipton commented on #12370
I'm going to remove it from the milestone plan.

[2021-06-09 14:57] pshipton commented on #12144
I'll move it forward again.

[2021-06-09 14:57] JasonFengJ9 commented on #12073
No, this problem didn't go away (not reporting every occurrence). It is intermittent though.
Last two weekly runs had this failure, it was good before that as per the test history.

Latest failing build `Test_openjdk17_j9_extended.system_x86-64_mac_testList_2/17/` (`mac11x64rt06`)
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=MiniMix_5m_1&amp;

[2021-06-09 15:02] pshipton commented on #8872
It seems this failure stopped occurring, I haven't seen it in some time.

[2021-06-09 15:04] pshipton commented on #11899
I haven't seen this failure in a while.

[2021-06-09 15:07] pshipton opened #12907 "macos: can not create a child java process from gui program"
Copied from https://github.com/adoptium/adoptium-support/issues/301
@tajila fyi

macos: 11.3

electronjs main process (start with click the program icon)
spawn("java", ....)
fail: openj9 jdk-16.0.1+9, jdk-15.0.2+7 and jdk-11.0.11+9
ok: all HotSpot

electronjs main process (start from command line)
all ok

nodejs
all ok

[2021-06-09 15:41] pshipton commented on #6552
Haven't seen this for a while, will close until seen again.

[2021-06-09 15:42] pshipton commented on #8173
Haven't seen this for some time, closing until seen again.

[2021-06-09 15:42] #8173 closed

[2021-06-09 18:27] nbhuiyan commented on #8214
I have not been able to verify that the possible fix I had would address this hang, since over the last month in my local testing using a recent build, I did not experience this hang without the fix. It is possible that this got fixed as a side effect of some other work. I suggest we close this issue now. If we see this hang again, we can revisit this issue.

[2021-06-09 20:27] ChengJin01 commented on #12787
I created two issues at https://github.com/libffi/libffi/issues/641 (Windows/32bit) and https://github.com/libffi/libffi/issues/642 (Redhat6 Linux/64bit)  (also via the libffi mailing list at https://sourceware.org/pipermail/libffi-discuss/2021/002625.html) to notify the authors of the compilation failures with `x86/libffi` to see whether they are able to help us to investigate the issues given it

[2021-06-09 20:55] dchopra001 opened #12911 "Remove evaluator declarations from J9CodeGenerator.cpp"
Many of the evaluators here are OpenJ9 specific:
https://github.com/eclipse-openj9/openj9/blob/6e8c9c19c2b510e6bcc4ef0fbfdcffc4255b6e2a/runtime/compiler/z/codegen/J9CodeGenerator.cpp#L3716-L3745

However they are sometimes defined in OMR. They shouldn't be declared in J9CodeGenerator.cpp or defined in OMR. The declarations + definitions should be moved to J9TreeEvaluator (or OMRTreeEvaluator if ne

[2021-06-09 22:12] AlexeyKhrabrov commented on #4299
As discussed in #12659, most of this per-thread memory footprint comes from the malloc heap. Data reported by `malloc_stats` in my experiments is consistent with what is reported here: 1-2 MB per server thread. This is the memory that malloc "holds on to" (does not release to the OS) in per-thread arenas. In order to avoid this additional memory footprint, we need to stop using `std::string` and `

[2021-06-09 22:35] AlexeyKhrabrov commented on #4382
Here is some info about this issue that might be helpful.

The crash is easily reproducible with DayTrader7 with multiple clients. The immediate cause of the segfault is a NULL pointer to the `SSL` object inside the `BIO` object (discovered using `libopenssl` with debug symbols). Creating/destroying the `SSL` and `BIO` objects in our code appears to be correct. I'm pretty sure this issue is caused

[2021-06-09 22:48] manqingl opened #12915 "Crash in exceptiondescribe.c:380 because of the mismatch of romClass and ramClass."
Native stack trace:

[code]
[code]
Relevant source code in file exceptiondescribe.c :
[code]
Listed below are what was happening:

1. At the time of the crash, we are processing the following Exception object:

!J9Object 0x00000007DABA84D8 {
        struct J9Class* clazz = !j9class 0x2D5F200 // org/xml/sax/SAXParseException
        Object flags = 0x00000008;
        I lockword = 0x00000000 (offset

[2021-06-09 22:59] manqingl commented on #12915
@tajila FYI

[2021-06-09 22:59] manqingl commented on #12915
I reviewed the logic with @hangshao0

[2021-06-10 09:10] yaakov-berkovitch opened #12917 "JRE11 - JVM crash consistently with traceassert"
Java -version output
--------------------

[code]

Summary of problem
------------------

The application failed during launching, and the following is dumped to the stderr:
[code]
**Update:**
The application is configured with Xmx=32GB. I tried to run it with 20GB and it run.

Diagnostic files
----------------

I attached the diagnostics files. The dmp file size is 170MB after zip, so let me know

[2021-06-10 11:35] JasonFengJ9 opened #12918 "jdk16-0.27.0-m1 MBCS_Tests - Can't locate Test/Simple.pm in @INC"
Failure link
------------

From an internal build `Test_openjdk16_j9_special.functional_x86-64_linux/13/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=MBCS_Tests_StAX_ko_KR_linux_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DI

[2021-06-10 12:26] #12847 closed

[2021-06-10 12:30] #12375 closed

[2021-06-10 13:05] #12851 closed

[2021-06-10 13:45] samasri commented on #11500
Yes, I will port it on ibmruntimes/openj9-openjdk-jdk, ibmruntimes/openj9-openjdk-jdk8, and ibmruntimes/openj9-openjdk-jdk16.

[2021-06-10 13:55] dsouzai commented on #4299
There was a bug in the STL (I don't know exactly which version of STL, probably the one that corresponds with gcc 4.8) where you couldn't use `std::string` with a custom allocator because somewhere in its internals, it would try to instantiate the custom allocator via the allocator's default constructor; however, `TR::typed_allocator` uses `explicit` for its constructors so you'd end up with a bui

[2021-06-10 13:59] mpirvu opened #12921 "Add MethodMetaData flag indicating remote compilation"
For diagnostic purposes it would be useful to determine (from a coredump) whether a compilation was performed remotely (by the JITServer) or local. A single bit is sufficient for this task.
This bit could be added to the persistentJittedBodyInfo or MethodMetaData. Since a small number of jitted bodies do not have a persistentJittedBodyInfo, it's probably better to add this bit to MethodMetaData. T

[2021-06-10 14:08] pshipton commented on #12917
I wonder if this has been fixed already. Can you please give the following a try and see if it sill occurs. https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK11_x86-64_linux_Nightly/16/OpenJ9-JDK11-x86-64_linux-20210605-011624.tar.gz

The fact that it fails with 32GB and passes with 20GB makes me think it could be related to https://github.com/eclipse-openj9/openj9/pull/12905 wh

[2021-06-10 14:23] mpirvu commented on #4382
Attn: @samasri

[2021-06-10 14:30] yaakov-berkovitch commented on #12917
@pshipton Will try and let you know.

[2021-06-10 15:01] yaakov-berkovitch commented on #12917
I installed the build and it indeed fixed the issue. Really impressed by the fact that the issue you mentioned and ours occurred almost in the same time.
Do you have any schedule when it will be merge, and also when it will be part of official version ?

[2021-06-10 15:20] manqingl commented on #12915
FYI @hangshao0 reviewed the logic with me.

[2021-06-10 15:28] pshipton commented on #12917
I assume you only tried the second build I suggested? It would be worth also trying the first build as the problem may not be related to https://github.com/eclipse-openj9/openj9/pull/12905 and it would be good to know.

The first build is equivalent to a Milestone 1 for the next release 0.27, so if that works the fix is already included in the release.

I expect https://github.com/eclipse-openj9/o

[2021-06-10 15:30] yaakov-berkovitch commented on #12917
Correct I tried the second build. I will try the first one also and update.

[2021-06-10 15:39] yaakov-berkovitch commented on #12917
The first build caused a crash:
[code]

[2021-06-10 15:39] pshipton commented on #12917
Thanks for checking.

[2021-06-10 15:57] pshipton commented on #12917
Anything below 27GB should work as 27GB is the point where the automatic switch to 4 bit shift occurs, and it's the 4 bit shift which isn't working.

[2021-06-10 16:14] llxia commented on #12887
Grinder 100x on ub20x64rt3-2 and got 1 failure: [Grinder/16143/](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/16143/)
[Artifacts](https://na.artifactory.swg-devops.com/artifactory/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com//Grinder/16143/)

[code]

[2021-06-10 16:22] BradleyWood commented on #12819
Entire block after outer-loop seems to be optimized out. At some point it is flagged as unreachable.

[code]

More investigation needed.

[2021-06-10 16:33] vijaysun-omr commented on #12819
Thanks Brad.

Usually "Removing rest of block..." message at an exception check node happens because VP believes that the check is guaranteed to fail. You could see what you get with traceLocalVP,traceFull and if you need help understanding something, please reach out.

[2021-06-10 17:12] fjeremic commented on #12819
Also we have excellent documentation courtesy of Vijay for the Value Propagation optimization in case you may not be familiar with its inner workings:

https://github.com/eclipse/omr/blob/master/doc/compiler/optimizer/ValuePropagation.md

[2021-06-10 17:52] pshipton commented on #12887
@llxia I get a 404 error trying to open the artifacts link.

[2021-06-10 18:59] llxia commented on #12887
@gacholio [SDK link](https://na.artifactory.swg-devops.com/artifactory/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com/build-scripts/jobs/jdk8u/jdk8u-linux-x64-openj9/150/OpenJDK8U-jdk_x64_linux_openj9_2021-06-05-02-30.tar.gz). You can also find it in `CUSTOMIZED_SDK_URL` in [Grinder/16143/](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/16143/parameters/). `CUS

[2021-06-10 19:12] llxia commented on #12918
Ran the test in Grinder and it passed (Grinder/16179/ on ub20x64rt3-10)

[2021-06-10 19:25] gacholio commented on #12887
Got them, thanks.

[2021-06-10 20:07] llxia opened #12923 "Add test for objectIsBeingWaitedOn()"
As mentioned in https://github.com/eclipse-openj9/openj9/issues/12851#issuecomment-856220452, I think we should add this test into functional.

[2021-06-10 20:32] gacholio commented on #12887
[code]

[2021-06-10 20:34] gacholio commented on #12887
Crash here:
[code]

[2021-06-10 20:45] gacholio commented on #12887
Arg registers are: RDI RSI RDX RCX R8 R9
[code]
RDI vmStruct (current thread)
RSI clazz
RDX fieldName
RCX fieldNameLength
0x7F8E7220A59A :  66 69 6c 6c 5f 63 61 63 68 65 00 73 6e 61 70 73 [ fill_cache.snaps ]
R8 fieldSignature
R9 fieldSignatureLength
0x7F8E7220A4B0 :  5a                                              [ Z ]

[2021-06-10 22:38] ChengJin01 commented on #12787
I will try to modify the scripts/setting to keep both the older version (x86) and the latest version  (x86_latest) as a temporary solution to see whether it works for both internal and external builds given it might take quite a long while for the authors on x86/libffi to get back to us with reasonable answers.

[2021-06-11 00:11] ChengJin01 opened #12927 "[OJDK MH] test failures with foldArguments in jsr292_MethodHandleAPI_Test_0"
All test cases with `foldArguments` failed with `NoSuchMethodException` with OpenJDK MH enabled.

e.g.
[code]

[2021-06-11 00:12] ChengJin01 commented on #12927
The test is to verify the functionalities of an internal method called `MethodHandles.foldArguments` in OpenJ9 which doesn't exist in OpenJDK.  To avoid the issue, it needs to update to invoke `foldArgumentsWithCombiner` that exists in both OpenJ9 and OpenJDK.

FYI: @tajila, @pshipton, @fengxue-IS, @babsingh

[2021-06-11 06:20] knn-k commented on #12831
I reproduced the failure by compiling only one method, `j9vm/test/unsafe/UnsafeArrayGetTest.getByte([BI)B`.

[2021-06-11 08:38] knn-k commented on #12832
This failure should be fixed by #12928.

[2021-06-11 08:42] knn-k commented on #12833
This failure should be fixed by #12928.

[2021-06-11 08:45] knn-k commented on #12834
I cannot reproduce this failure locally.

[2021-06-11 09:40] knn-k commented on #12835
I reproduced the failure locally.

[2021-06-11 12:07] JasonFengJ9 commented on #12918
Thanks, it is a machine specific failure at `cent7x64-1-4`, created `infrastructure/issues/5595`.

[2021-06-11 12:07] #12918 closed

[2021-06-11 12:22] pshipton opened #12930 "JDKnext openj9-staging is failing to build on all platforms"
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/12/
[code]

Changes https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/1c808c4...da7073a

Likely related to https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/395d1a207c9c5bec124d1c7232fca3f4ef116452

@keithc-ca @JasonFengJ9 fyi

[2021-06-11 12:22] pshipton commented on #12930
@tajila fyi

[2021-06-11 12:50] JasonFengJ9 commented on #12930
[code]
I think a new JPP flag for JDK18 is needed.
Will look into it.

[2021-06-11 12:53] keithc-ca commented on #12930
Yes, we need a `JAVA18` configuration in `jpp_configuration.xml`, as should be expected.
We also need a mirror of https://github.com/openjdk/jdk17 to to be used to continue building Java 17.

[2021-06-11 12:59] JasonFengJ9 commented on #12930
This is tracked by `infrastructure/issues/5594`.

[2021-06-11 13:19] pshipton commented on #12917
The fix is added for the 0.27 release https://github.com/eclipse-openj9/openj9/pull/12924

[2021-06-11 13:19] #12917 closed

[2021-06-11 14:20] fjeremic commented on #12911
Thanks @dchopra001! Putting this in our Housekeeping ZenHub.

[2021-06-11 14:43] dchopra001 commented on #12911
z PRs here:
https://github.com/eclipse-openj9/openj9/pull/12932
https://github.com/eclipse/omr/pull/6063

[2021-06-11 14:47] midronij commented on #11190
This test was switched to being time based (rather than iteration based) a few months ago. Since then, this issue has not come up again. Just to be sure, I've also tried running the That being the case, it should be safe to close this issue for now.

[2021-06-11 15:23] pshipton commented on #8213
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly_testList_2/20 - cent7-x64-4
SC_Softmx_JitAot_Linux_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly_testList_2/20/system_test_output.tar.gz
[code]
16.jvm4.stderr
[code]

[2021-06-11 15:50] dmitry-ten opened #12934 "JDK11: jit_jitt_array_compress_3 Segmentation Fault with JITServer"
There is a new crash in this test when JITServer is enabled.
[code]
Stacktrace of the crashing thread:
[code]

The test uses sync compilations, so should be relatively easy to isolate the failure down to one compilation and go from there.

[2021-06-11 15:51] dmitry-ten commented on #12934
@mpirvu fyi.

[2021-06-11 16:01] mpirvu commented on #12934
To check that `-XXgc:forcedShiftingCompressionAmount=4` gets passed to the server

[2021-06-11 16:10] pshipton commented on #11190
Sounds good.

[2021-06-11 16:10] #11190 closed

[2021-06-11 16:14] JasonFengJ9 commented on #12834
Reproducible at `Test_grinder/job/Grinder/16227`.

[2021-06-11 16:17] dmitry-ten commented on #12934
The option is only used during GC initialization to set the heap ceiling, so it doesn't seem like it needs to be sent to the server.
However, removing this option from the test gets rid of the crash, so its value must indirectly be used somewhere on the server.

[2021-06-11 16:25] dmitry-ten commented on #12934
This test is new btw and was introduced by https://github.com/eclipse-openj9/openj9/pull/12905

[2021-06-11 16:27] dmitry-ten commented on #12934
I think the issue should be that ` TR::Compiler->om.objectAlignmentInBytes()` doesn't take client's alignment value. Will fix that

[2021-06-11 17:07] llxia commented on #12284
mode616 is added in PR https://github.com/eclipse-openj9/openj9/pull/12929

[2021-06-11 17:07] #12284 closed

[2021-06-11 18:07] gacholio commented on #12887
The native stack:
[code]

[2021-06-11 18:22] gacholio commented on #12887
[code]

[2021-06-11 18:25] gacholio commented on #12887
The class ref on stack is valid (`org/fusesource/leveldbjni/internal/NativeReadOptions`) and the field it's looking for seems to exist:
[code]

[2021-06-11 18:33] gacholio commented on #12887
The code for fetching the class has been optimized by the compiler to avoid branching, but it should always result in a header size of 4 or 8 being skipped (the fixed 4 in the address expression plus the 0 or 4 in the register), so I don't see where we could have found that bad J9Class pointer.

[2021-06-11 18:40] gacholio commented on #12887
@llxia Do we have the source for the `leveldbjni` native library?

[2021-06-11 19:04] #12930 closed

[2021-06-11 19:21] JasonFengJ9 opened #12940 "aarch64_linux - jit_jitt_array_compress_3_FAILED Segmentation error vmState=0x00040000"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_aarch64_linux/53/` (`ub18-aarch64-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jit_jitt_array_compress_3&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;

[2021-06-11 19:32] JasonFengJ9 commented on #11900
An occurrence at JDK11 `Test_openjdk11_j9_special.system_ppc64le_linux_testList_1/77/` (`pll025`)
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=LambdaLoadTest_special_J9_5m_4&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_special.system_ppc64le_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp

[2021-06-11 19:47] ChengJin01 commented on #12787
Keep two versions of `x86/libffi` seems pretty tricky as a bunch of code & header files need to updated to avoid breaking compatibility among the two versions on various platforms.

It seems the failure with `abort@@GLIBC_2.2.5` which requires branch relocation in linking that is supported by GCC, so l went through the predefined macros in the gcc 7.5 on internal build as compared to the gcc 9 on

[2021-06-11 20:00] llxia commented on #12887
I did not find it in https://github.com/renaissance-benchmarks/renaissance

[2021-06-11 20:18] fengxue-IS commented on #12927
I agree with updating the test method name to `foldArgumentsWithCombiner()`, it should be a simple fix.

[2021-06-11 20:21] fengxue-IS commented on #12599
closing this as the `J9AccMethodFrameIteratorSkip` is reused in OpenJDK MH for skip methods with `@Hidden` annotation in #12716

[2021-06-11 20:21] #12599 closed

[2021-06-11 21:16] pshipton opened #12942 "jdk18 sanity.functional failures"
jdk18 sanity.functional testing is failing for various reasons. Some of which we see every time there is a version change (missing exclude file, version / preview feature issues), but there are some I don't recognize.

https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/14/
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_s390x_linux_OpenJDK/1/

@jason @kei

[2021-06-12 12:36] #12934 closed

[2021-06-12 19:14] jrobichaux opened #12943 "XSLT Transform fails silently after many iterations"
Java -version output
--------------------
OpenJDK Runtime Environment (build 1.8.0_282-b08)
Eclipse OpenJ9 VM (build openj9-0.24.0, JRE 1.8.0 Windows 8.1 amd64-64-Bit Compressed References 20210120_972 (JIT enabled, AOT enabled)
OpenJ9   - 345e1b09e
OMR      - 741e94ea8
JCL      - ab07c6a8fd based on jdk8u282-b08)

Summary of problem
------------------
We have a process that creates a javax Transf

[2021-06-12 20:27] jrobichaux commented on #12943
I guess I should point out that even though the test file takes a few thousand iterations to cause the problem, in real life with a more complex XSLT file processing much larger XML files, the problem can present itself after processing only 10 or 20 XML files. This is what we were seeing.

It also doesn't matter if I call transformer.reset() or if I use javax Templates to create a new Transformer

[2021-06-13 03:39] JavaTailor commented on #12815
Thanks for your kindly reply!

We are doing some vm testing and verification work, hoping to make some contributions to improve the quality of such important software systems. J9 is a high-performance enterprise-level JVM, which is an indispensable part of the current JVM ecosystem. We are very happy and honored if our work could help further improve the robustness of J9. And we really hope that o

[2021-06-13 03:41] JavaTailor commented on #12815
@DanHeidinga
Thanks for your kindly reply!

We are doing some vm testing and verification work, hoping to make some contributions to improve the quality of such important software systems. J9 is a high-performance enterprise-level JVM, which is an indispensable part of the current JVM ecosystem. We are very happy and honored if our work could help further improve the robustness of J9. And we reall

[2021-06-13 12:49] JavaTailor opened #12944 "J9 failed to catch StackOverflowError"
### Summary
Hi, we found that multiple J9 versions failed to catch StackOverflowError, especially on Linux. The simplified test case can be found in the attachment.

It is noteworthy that we tested the test case on three platforms: macOS, Linux and windows.  The result is that on Linux, the exception can be triggered almost every time. On macOS, the execution result is unstable. The exception can

[2021-06-13 13:39] JavaTailor commented on #12944
Supplement:
The exception can only be triggered when the server is under a heavy load. We tested it on an idle server, it did not trigger any exception. But on a server with a heavy load, the exception can be triggered almost every time.

[2021-06-14 01:25] knn-k opened #12945 "AArch64: SEGV in jit_jitt_array_compress_3"
Failure link
------------

jit_jitt_array_compress_3 fails in
- https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_aarch64_linux/161/tapResults/
- https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_aarch64_linux/162/tapResults/

I can reproduce the failure locally.

Optional info
-------------

- intermittent failure: no
- regression or new test: new test
- if reg

[2021-06-14 01:36] knn-k commented on #12945
jit_jitt_array_compress tests were added by #12905.

[2021-06-14 12:02] #12945 closed

[2021-06-14 12:04] JasonFengJ9 opened #12947 "jit_jitt_array_compress - JVMJ9GC028E Option too large: '-Xmx'"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_ppc64_aix_testList_2/54/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jit_jitt_array_compress_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_sanity.functional_ppc64_aix&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEO

[2021-06-14 12:14] #12831 closed

[2021-06-14 12:16] knn-k commented on #12947
I see the same failure with jit_jitt_array_compress_0 and jit_jitt_array_compress_1 in https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_aarch64_linux_Personal_testList_0/12/consoleText .
[code]

[2021-06-14 12:24] JasonFengJ9 opened #12948 "JDK11 Windows - TEST FAILED: unreferenced() not invoked after 20.0 seconds"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.openjdk_x86-64_windows/16/` (`win16x64cudart1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_rmi_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_AR

[2021-06-14 12:32] JasonFengJ9 commented on #10569
A similar `AssertionError` at JDK16 from an internal build `Test_openjdk16_j9_sanity.openjdk_ppc64_aix/40` (`pll011`)
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_lang_1&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;

[2021-06-14 13:38] pshipton commented on #12947
It seems like a test problem. It's running with `-XXgc:forcedShiftingCompressionAmount=1` but not setting any -Xmx value. The default -Xmx is 25% of the available RAM on the machine.
@llxia @dmitripivkine

[2021-06-14 14:47] pshipton commented on #12943
I created a jit verbose log and then limited compilations until I found the compilation that causes the failure.
I narrowed it down to `"-Xjit:limitfile=(vlog.txt,418,418)"`. The test case works with the following compilation disabled. It's disabled in the attached log.
[code]

[vlog.txt](https://github.com/eclipse-openj9/openj9/files/6649173/vlog.txt)

@fjeremic @0xdaryl can someone take a look p

[2021-06-14 14:53] JasonFengJ9 opened #12951 "AIX SE80_GIT CDSAdaptorTest - ProcessKiller detected a timeout after 600000 milliseconds!"
Failure link
------------

From an internal ibuild `job_output.php?id=7316116`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

The failures afterwards are:
[code]

The failure is consistent across machines as per grinder `build_info.php?build_id=7074`.
From the test history it appears a regression between ibu

[2021-06-14 15:07] pshipton commented on #12944
I can't duplicate this on Linux. Does it still occur with
1) the last release, 8u292 or 11.0.11
2) the upcoming release, where there were some changes made related to stack overflows
https://openj9-artifactory.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_x86-64_linux_Release/1/OpenJ9-JDK8-x86-64_linux-20210612-170302.tar.gz
https://openj9-artifactory.osuosl.org/artifactory/ci-eclipse-openj9

[2021-06-14 16:19] pshipton commented on #11500
The fix is delivered for all versions.

[2021-06-14 16:19] #11500 closed

[2021-06-14 16:28] mpirvu opened #12953 "Implement JITServer version of new frontend query `isStable()`"
PR #12893 is going to introduce a new frontend query:
`virtual bool isStable(int cpIndex, TR_ResolvedMethod *owningMethod, TR::Compilation *comp);`
but the implementation for JITServer is going to be just a stub:
`virtual bool isStable(int cpIndex, TR_ResolvedMethod *owningMethod, TR::Compilation *comp) { return false; } // safe answer, might change in the future`
We need to provide a more detaile

[2021-06-14 17:34] tajila commented on #12785
@mikezhang1234567890 What is the status of this work?

[2021-06-14 17:39] gacholio commented on #12887
Based on the native stack and code, it appears that a bad JNI ref has been passed as the class to `GetFieldID`:
[code]
This does not appear to contain the bad J9Class value, but the memory may have been overwritten.

[2021-06-14 17:40] gacholio commented on #12887
There will be no progress on this until I can see the source for the JNI native.

[2021-06-14 17:49] gacholio opened #12956 "DDR !whatis failure"
[code]
Looking at a core (supposedly) produced by this build:
[code]
Commands like structure dumping work fine.

[2021-06-14 17:49] gacholio commented on #12956
@keithc-ca

[2021-06-14 17:52] JasonFengJ9 commented on #12951
Note: Grinder (`-Xint`) failed as well at `build_info.php?build_id=7086`.

[2021-06-14 18:09] llxia commented on #12951
This test passed at OpenJ9 Jenkins https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64_aix_Nightly/22/tapResults/

[code]

[2021-06-14 18:22] hangshao0 commented on #12951
I notice this test is also failing on z/OS:

[code]

FYI @LongyuZhang

[2021-06-14 18:23] JasonFengJ9 commented on #12951
Thanks @llxia , so it sounds a machine issue though it is not appealing that all machines have same problem.
Maybe a difference between IBM andOpenJ9 build, not really feel that way either..

[2021-06-14 18:26] JasonFengJ9 commented on #12951
The zOS failure is slightly different, please refer PT 7 - `problem.php?command=update&problem_id=7` & `infrastructure/issues/5491`

[2021-06-14 18:34] gita-omr commented on #11993
Not sure we can find the defining class... I think it might be derived class that uses definition of some parent class...

[2021-06-14 19:19] pshipton commented on #12881
@jdekonin @AdamBrousseau It's happening again
https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_linux_OMR/28/
https://openj9-jenkins.osuosl.org/job/Build_JDK11_x86-64_linux_OMR/27/

[2021-06-14 19:59] mikezhang1234567890 commented on #12785
Still working on it, I can get the launcher to respect the `-Xmso` flag, but still need to get it to handle `J9_OS_STACK_SIZE`.

[2021-06-14 20:29] fjeremic commented on #12943
I reproduced the issue locally and took a look at the trace log which I will attach here. One `fail.trace` with 0.24 build and `pass.trace` with 0.26 build. Indeed the issue can be reproduced at IL generation via the following command line:

[code]

Looking at the passing log the following tree is not present in the failing log:

[code]

This issue has been fixed by #12213. Here is how the trees l

[2021-06-14 20:55] #12943 closed

[2021-06-14 21:09] fjeremic commented on #12943
Sorry forgot to upload. Here they are for future reference:

[pass.txt](https://github.com/eclipse-openj9/openj9/files/6651291/pass.txt)
[fail.txt](https://github.com/eclipse-openj9/openj9/files/6651292/fail.txt)

[2021-06-14 21:18] jrobichaux commented on #12943
That's amazing, and I can't believe you folks were able to diagnose that so quickly. Thank you **so much** @fjeremic @pshipton .

[2021-06-15 01:03] tajila opened #12961 "Add better exception messages for defualt method conflicts"
Due to the switch the openjdk methodhandles implementation we are no longer able to use the technique of stashing the default method conflict exception in a method handle and throwing upon invocation. The existing solution sets the membername target to a sxception throwing send target, but at that point we no longer have the exception details.

We need a way to capture the method in question as we

[2021-06-15 01:16] JasonFengJ9 commented on #12951
Created `infrastructure/issues/5601`.

[2021-06-15 01:16] #12951 closed

[2021-06-15 02:06] fengxue-IS commented on #11924
Closing this as #12668 should fix and re-enable these tests

[2021-06-15 02:06] #11924 closed

[2021-06-15 07:16] knn-k commented on #12940
This is a dup of #12945, and it is already fixed by #12946.

[2021-06-15 07:16] #12940 closed

[2021-06-15 07:28] JavaTailor commented on #12944
@pshipton
Thanks for your reply!

We tested all the versions you mentioned above. All the mentioned versions have the same problem.

Our test found that this exception can only be triggered when the available memory is not enough. In order to better reproduce this problem, we tried two ways to reproduce it. Could you please take a look?

(1)、Increase the memory load.
[code]
Run this command in the

[2021-06-15 07:35] knn-k commented on #12834
VmArgumentTests_0 passes in https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.functional_aarch64_linux/90/tapResults/ and other recent extended.functional jobs at ci.adoptopenjdk.net.

[2021-06-15 11:45] #12710 closed

[2021-06-15 12:03] JasonFengJ9 commented on #12834
Not seen in recent builds.

Closing..

[2021-06-15 12:03] #12834 closed

[2021-06-15 13:04] JasonFengJ9 commented on #12832
Not seen in recent builds.

[2021-06-15 13:04] #12832 closed

[2021-06-15 14:25] dnakamura opened #12963 "CMake cross-compile specs"
Currently the UMA builds maintain separate specs for cross compile builds (eg `linux_aarch64.spec` and `linux_aarch64_cross.spec`). However, for CMake builds the distinction should not be required. I'm currently seeking opinions on if anyone sees a reason for keeping separate cross compile build specs for cmake.

tldr; does anyone have any reasons to maintain separate `*_cross` builds specs in CMa

[2021-06-15 14:26] fjeremic commented on #12963
What is the advantage of one vs. the other?

[2021-06-15 14:39] dnakamura commented on #12963
benefits of cross-compile spec:
- if we ever need cross-compile specific options it provides an obvious place to put them (although they could also be put in the regular config wrapped in an `if()`
- (minor) does not require any changes to the jdk extension code
- ? (possibly something else I'm overlooking, hence opening the issue)

cons:
- Need to specifically add a file for every target we want

[2021-06-15 15:20] keithc-ca commented on #12956
@gacholio Can this be reproduced using a simple dump (like from `java -Xdump:system:events=vmstart -version`)?
If so, it would help if you could provide instructions for deriving a suitable address for use with the `!whatis` command.

[2021-06-15 15:21] keithc-ca commented on #12874
Fixed via #12908 - closing.

[2021-06-15 15:21] #12874 closed

[2021-06-15 15:49] gacholio commented on #12963
Part of the build requires building and running the constant generator, which has to run on the target platform (in an emulator in the current ARM builds).

[2021-06-15 16:53] dmitry-ten opened #12967 "RAT reclamation not resetting assumption list pointer inside metadata"
https://github.com/eclipse-openj9/openj9/blob/0a9c6ead004198c0bbf28d0fbc418d822624a45f/runtime/compiler/runtime/ClassUnloadAssumption.cpp#L516
This method is passed a double pointer to the sentinel runtime assumption location and a pointer to the metadata. When the method detects that all assumption in a list were marked for detach, it will reset the sentinel to NULL.
https://github.com/eclipse-op

[2021-06-15 16:58] dmitry-ten commented on #12967
I have opened #12966 that addresses the bug but I'm not sure if it's the best approach to it.
A different thing that could be done is to make sure that `reclaimAssumptions` is always passed `metaData`, when it exists, instead of passing NULL when handling failures.
@mpirvu fyi.
@dsouzai, @fjeremic since you worked on RAT in the past, maybe you would have better suggestions?

[2021-06-15 17:37] pshipton commented on #12963
Seems we can make do without them. They can always be added later if a reason surfaces.

[2021-06-15 17:45] llxia commented on #12836
Thanks to @OscarQQ #12882 is delivered. The DDR tests will run from the expected folder so we can collect the output.

[2021-06-15 17:52] dsouzai commented on #12967
Question, what is looking at `metadata->runtimeAssumptionList` after we reclaim assumptions? Grepping the code, most places will either pass in the metadata or will set `metadata->runtimeAssumptionList` to NULL right after. The only place that doesn't is `TR::CompilationInfoPerThreadBase::processException`, which only happens when we fail the compile, in which case the metadata is invalid anyway.

[2021-06-15 18:09] fjeremic commented on #12789
Grinder with the latest nightly:
https://openj9-jenkins.osuosl.org/job/Grinder/74

[2021-06-15 18:15] pshipton commented on #12782
Failure with the same vmstate on xlinux
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_OMR_testList_1/21
jsr335tests_SE80_7

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.functional_x86-64_linux_OMR_testList_1/21/functional_test_output.tar.gz
[code]

[2021-06-15 18:22] dmitry-ten commented on #12967
When we reclaim assumptions from `processException`, we might be not holding the VM access, so if the GC cycle happens after the assumptions are reclaimed but before VM access is reacquired by the compilation thread, we can end up in a situation when metadata hasn't been invalidated yet and the assumption list is invalid.
Although I'm not 100% certain if that's what's causing crashes on JITServer

[2021-06-15 18:26] llxia commented on #12836
Tried x300 on osx1011-x86-2 and all passed https://openj9-jenkins.osuosl.org/job/Grinder/73/

[2021-06-15 18:39] dsouzai commented on #12967
If a GC cycle occurs, in `jitReleaseCodeCollectMetaData` we're only going to reclaim a successfully compiled body, so I'm not sure how it would get its hand on the metadata. Granted it doesn't look like we free the metadata from the AVL trees on compile failure so that's a memory leak.

[2021-06-15 18:54] #12927 closed

[2021-06-15 19:38] LongyuZhang commented on #12727
All tests related to JEP 403 have been modified and merged. (Issue https://github.com/eclipse-openj9/openj9/issues/12890 will keep open as a reminder to enable `StaticAccessCheck` test later).
Thanks for all the help, and I think we can close this issue.

[2021-06-15 19:48] pshipton commented on #12727
I'll just keep it open a while until we have a build running where we can verify the tests are working.

[2021-06-16 02:30] manqingl opened #12979 "Infinite loop leading to memory corruption and crash."
Crash happened here (Java 8.0.6.15):

[code]
The root cause is the infinite loop in ClassFileWriter.cpp:

[code]

[2021-06-16 04:25] AdamBrousseau commented on #12664
Is this resolved?

[2021-06-16 04:32] pshipton commented on #12979
@tajila fyi

[2021-06-16 04:48] pshipton commented on #12664
Yes its good now.

[2021-06-16 04:48] #12664 closed

[2021-06-16 10:45] manqingl commented on #12979
Glad this has been fixed recently.    https://github.com/eclipse-openj9/openj9/pull/12752

[2021-06-16 10:45] #12979 closed

[2021-06-16 11:53] JasonFengJ9 opened #12980 "NoSuchMethodException: java.lang.invoke.MethodHandles.foldArgumentsWithCombiner(java.lang.invoke.MethodHandle, int, java.lang.invoke.MethodHandle, [I)"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.functional_x86-64_linux_testList_0/54/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jsr292_MethodHandleAPI_Test_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_extended.functional_x86-64_linux&amp;DOCKER_REQUIRED=false&amp;A

[2021-06-16 13:08] janvrany commented on #11136
Another small PR: #12982

[2021-06-16 13:12] pshipton commented on #12980
Failing in the open build as well. This needs to be fixed today or backed out.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK11/27/

[2021-06-16 13:32] tajila commented on #12980
@ChengJin01 Please take a look

[2021-06-16 14:05] JamesKingdon commented on #12979
What an amazing bug!! Great find @manqingl

[2021-06-16 16:05] ChengJin01 commented on #12980
It turns out `foldArgumentsWithCombiner` is only enabled when java version >= 12 in OpenJ9 at https://github.com/eclipse-openj9/openj9/blob/master/jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
[code]
In which we need to check the java version in this test to choose the required internal method for `foldArguments`.

I already created a fix in the test at https://github.com/Che

[2021-06-16 16:35] dmitry-ten commented on #12953
The PR that introduced this query has been reverted for now: https://github.com/eclipse-openj9/openj9/pull/12972 due to some test failures, so this issue can be delayed until the commit is readded.

[2021-06-16 16:39] tajila commented on #12785
We may want to make `J9_OS_STACK_SIZE` into a global build variable so its visible to j9 as well as launcher code

[2021-06-16 16:47] #12980 closed

[2021-06-16 18:34] gacholio commented on #12956
I haven't seen this with a core generated as suggested. I can provide the core and SDK where the failure was observed.

[2021-06-16 21:46] fengxue-IS commented on #12571
`testBindTo` failed in OpenJ9 with OJDK MH because we are not checking for null receiver during `linkToStaticSpecial` INL when the method dispatch is an `invokeSpecial`, will create new PR to address this issue.

[code]
failed in OpenJDK because the test is relying on internal parameter `Throwable.walkback`.
OpenJ9 w/ OJDK MH have different class names for the MH subclasses (ie. DirectMethodHandle

[2021-06-17 00:12] dmitry-ten commented on #12967
I figured out when this scenario occurs.
In this code,
https://github.com/eclipse-openj9/openj9/blob/0385f07370413904765c93c6e93fa5c3f9be4006/runtime/compiler/control/JITClientCompilationThread.cpp#L3399-L3406
If a trampoline cannot be reserved on the client, compilation will fail, and the failure will be handled by `processException` which will reclaim assumptions.  However, at this point in the

[2021-06-17 11:58] JasonFengJ9 opened #12989 "JDK8 MacOS MauveMultiThrdLoad_special_5m_22_FAILED - Segmentation error vmState=0x00000000 Module=default/libj9jit29.dylib"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_x86-64_mac_testList_0/44/` (`osxrt11`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=MauveMultiThrdLoad_special_5m_22&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_special.system_x86-64_mac&amp;DOCKER_REQUIRED=false&amp;AC

[2021-06-17 12:05] JasonFengJ9 opened #12990 "JDK11 zLinux DaaLoadTest_daa1_special_5m_12_FAILED - Segmentation error vmState=0x000565ff"
Failure link
------------

From an internal build `Test_openjdk11_j9_special.system_s390x_linux_testList_2/76/` (`rhel7s390x-3-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=DaaLoadTest_daa1_special_5m_12&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_special.system_s390x_linux&amp;DOCKER_REQUIRED=fal

[2021-06-17 12:37] pshipton commented on #12990
Dup of https://github.com/eclipse-openj9/openj9/issues/12782

[2021-06-17 12:37] #12990 closed

[2021-06-17 12:37] pshipton commented on #12782
See also https://github.com/eclipse-openj9/openj9/issues/12990

[2021-06-17 12:38] pshipton commented on #12751
Closing as dup of https://github.com/eclipse-openj9/openj9/issues/12782

[2021-06-17 12:38] #12751 closed

[2021-06-17 12:43] #12039 closed

[2021-06-17 12:46] pshipton opened #12991 "jtreg java/lang/ProcessBuilder/DestroyTest.java Process terminated prematurely"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/27
java/lang/ProcessBuilder/DestroyTest.java
jdk_lang_0
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops

I don't see any diagnostics for this test.
[code]

[2021-06-17 13:09] JavaTailor opened #12992 "Hotspot threw IncompatibleClassChangeError, while J9 executed normally"
### Summary
We modified a test case and executed it with different JVMs. The test result is that hotspot throws an IncompatibleClassChangeError, while J9 executes normally. The simplified test case can be found in the attachment.

We checked the description of IncompatibleClassChangeError in the JVM spec, and the most likely description related to this ISSUE is on page 386.

http://cr.openjdk.java

[2021-06-17 13:17] DanHeidinga commented on #12571
I agree - the `testIfXisJitted` tests are very OpenJ9-specific as they also rely on the walkback field holding PCs that change when a method is jitted.

+1

[2021-06-17 13:17] pshipton opened #12993 "Fails to load resources from classpath that contains /../"
https://github.com/AdoptOpenJDK/openjdk-docker/issues/579

Since the bump to alpine 3.13 (from 3.12) and thus glibc 2.33 (from 2.31) it is no longer possible to read resources from any classpath containing /../. I.e. -classpath switch does not seem to deal correctly with any path containing /../.

See the comment https://github.com/AdoptOpenJDK/openjdk-docker/issues/579#issuecomment-861705842
It's

[2021-06-17 13:17] pshipton commented on #12993
@tajila fyi

[2021-06-17 14:28] dsouzai commented on #12967
Do we add the body to the faint cache block list when we fail the compile in JITServer? I guess my concern comes from the fact that in `createMethodMetaData` we call `artifactManager->insertArtifact` to add the metadata into the AVL trees. If a compile fails after this point, I guess I don't see that node getting removed unless we reclaim the code in HookHelpers. So there might be a problem there.

[2021-06-17 14:50] tajila commented on #12915
@hangshao0 Can you please take a look at this

[2021-06-17 15:27] pshipton commented on #12992
@tajila fyi

[2021-06-17 15:34] hangshao0 commented on #12915
Pull request open: https://github.com/eclipse-openj9/openj9/pull/12994

[2021-06-17 15:49] keithc-ca commented on #12993
From the discussion in the original issue, it seems this is a 'feature' of the alpine base.
It's not clear what can be done besides expecting users to avoid that pattern (unless the pattern originates within openj9).
It isn't generally safe to assume that '.../path/to/../file' can be rewritten as '.../path/file' (because 'to' can be a symbolic link that might lead anywhere at all).

[2021-06-17 16:34] TheAkio commented on #12993
I can understand avoiding relative paths in `-classpath` and even `-jar` but `toRealPath()` is also broken which actually affects applications (see https://github.com/AdoptOpenJDK/openjdk-docker/issues/579#issuecomment-860066855).

I'm still unsure whether it's the same issue or not, but it does seem to be related.

[2021-06-17 16:38] BradleyWood commented on #12819
The optimizer (VPHandlers.cpp at constrainCheckcast & constrainInstanceOf) believes the checkcast is guaranteed to fail. Local variable index 0 begins a String[], however it is overwritten with the ArrayList. The problem is that the local variable map is not updated and the instance check compares String[] with List instead of ArrayList with List.

[code]

[2021-06-17 17:56] dennismayr opened #12995 "[feature request] OpenJ9 GPU computing compatibility with OpenCL"
Hello,

I've seen that `-Xjit:enableGPU` works with CUDA 7.5+.

I was wondering if there are any plans to implement OpenCL offloading in the future, since there's open-source GPU driver support for many devices in linux (e.g. `mesa` for NVidia and AMD GPUs, and `intel` for most iGP cards), possibly implemented in a similar fashion to [TornadoVM](https://github.com/beehive-lab/TornadoVM).

[2021-06-17 18:09] pshipton commented on #12995
Not that I know of. @keithc-ca fyi

[2021-06-17 19:04] vijaysun-omr commented on #12819
I think the problem may be that local value propagation is taking the declared type of the parameter as the type for all loads of the parm symbol in question. This is valid in the typical case when the parm symbol is not stored to in the body of the method. However, if the parm symbol is stored to as seems to be the case in this method we cannot use the declared type of the parm symbol obtained fr

[2021-06-17 19:10] keithc-ca commented on #12995
I believe better performance and more control is available via CUDA as compared with OpenCL. It might be worth exploring whether an OpenJ9-PTX 'driver' (with the meaning assigned by TornadoVM) would be a good way to marry TornadoVM and OpenJ9.

See https://github.com/beehive-lab/TornadoVM/tree/master/drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx for the native CUDA binding; the AP

[2021-06-17 20:52] keithc-ca commented on #12785
What launchers are we talking about here? In jdk11, `java` understands `-Xmso` and seems to do as requested:
[code]
I also note that the example options in the description are quite large: `-Xss2048m -Xmso512m` - 2GB and 0.5GB seem excessive to me (for per-thead values).

There's little that can be done by a launcher that runs in the main thread: the OS has already allocated the (native) stack for

[2021-06-17 21:04] #12499 closed

[2021-06-17 21:54] mikezhang1234567890 commented on #12785
Yes, in the `java` launcher. The launcher starts the JVM in a new thread, however that thread is created with a size based on the value provided by the `-Xss` option instead of `-Xmso`. I can change the code in the extensions repo so it uses `-Xmso` instead, but we'd also likely have to move the constant `J9_OS_STACK_SIZE` like Tobi suggested so that it is also visible to the launcher code in the

[2021-06-18 01:17] knn-k commented on #9334
This was implemented by #12978.

[2021-06-18 11:50] JasonFengJ9 opened #13000 "JDK11 zLinux jdk_util_0_FAILED - JSR166TestCase AssertionFailedError: timed out waiting for thread to terminate"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.openjdk_s390x_linux/83/` (`rhel7s390x-4-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_util_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&a

[2021-06-18 12:20] adamfarley opened #13001 "Functional Test Failure: cmdLineTests ClassTestHelper.java fails always on Hotspot jdk17 and up"
Summary: It looks like [this functional test](https://github.com/eclipse-openj9/openj9/blob/master/test/functional/cmdLineTests/utilshelper/src_110/org/openj9/test/classtests/ClassTestHelper.java) is failing 100% of the time on Hotspot builds across all platforms, but does *not* fail on OpenJ9.

Hotspot JDK16 output:
[code]

Hotspot JDK17 Output:
[code]

Could this test be adjusted to work on Hots

[2021-06-18 13:12] tajila commented on #12785
Correct, the issue is not with the OS main thread (java launcher) but with the main JVM thread (thread that calls createJavaVM). We recently made updates to `J9_OS_STACK_SIZE` to reflect the fact that we are saving more registers on platforms like PPC and in the future x86. We need these changes in the main JVM thread as well  (by default) or else we run the risk of Native stack overflows.

Some v

[2021-06-18 13:17] #12585 closed

[2021-06-18 13:50] #12906 closed

[2021-06-18 14:00] pshipton commented on #13001
@llxia fyi

[2021-06-18 14:14] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_ppc64_aix_Nightly/29/

[2021-06-18 14:48] llxia commented on #13001
@OscarQQ could you help to exclude the test compilation in the hotspot? Please also check the tests that reference this class. Thanks

[2021-06-18 14:50] tajila opened #13003 "CPU time in trace entries"
Can the method trace entries show cpu-time rather than elapsed time? CPU-time is important on z/OS, where depending on how TCBs are dispatched, elapsed time maybe artificially elongated by external factors.

[2021-06-18 15:03] pshipton commented on #13003
I'm not aware of that feature. Is this then a feature request?

[2021-06-18 15:23] tajila commented on #13003
Its a feature request

[2021-06-18 15:42] pshipton commented on #12942
Note there are still problems.
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/79/tapResults/

[2021-06-18 15:45] #12915 closed

[2021-06-18 15:46] pshipton commented on #12942
@llxia I think these failures are test issues. As of jdk17, SealedClasses are no longer preview. We'll probably see this issue in jdk17 builds once they are working.
[code]

Not sure what's causing this
[code]

[2021-06-18 16:21] keithc-ca commented on #12785
Does the launcher not call a function in the JVM to create that thread? Perhaps it should.

[2021-06-18 16:43] mikezhang1234567890 commented on #12785
The launcher calls a function `CallJavaMainInNewThread` in the extension code which is what ultimately creates the main JVM thread.

[2021-06-18 16:55] keithc-ca commented on #12785
That seems to use `JNI_GetDefaultJavaVMInitArgs` which is expected to set the stack size. The openj9 implementation of that function should be fixed to do that.

[2021-06-18 17:04] pshipton commented on #13003
I'm putting it into the backlog, it can be removed if assigned.

[2021-06-18 17:37] tajila opened #13004 "Preserve YMM/ZMM registers for runtime jithelpers"
Continuing the work done here for https://github.com/eclipse-openj9/openj9/pull/12611 XMM registers.

JIT will be adding support for YMM/ZMM registers, we will need to be saving these between jit runtime helpers.

[2021-06-18 17:38] tajila commented on #13004
@BradleyWood can you please post resources to the linux and windows calling conventions for YMM and ZMM registers.

[2021-06-18 17:40] tajila commented on #13004
@BradleyWood Also, how does the JIT detect if YMM/ZMM registers are available on the host?

[2021-06-18 18:45] gacholio commented on #13004
We also need to know the instructions required to load/save the new registers, and required alignment of the memory being accessed.

[2021-06-18 19:28] pshipton opened #13006 "jdk17 failing to compile"
https://openj9-jenkins.osuosl.org/job/Build_JDK17_s390x_linux_Personal/4
[code]

[2021-06-18 20:19] pshipton commented on #12789
Repeated internally /view/Test_grinder/job/Grinder/16393/

[2021-06-18 20:19] pshipton commented on #13000
The same machine grinder failed a pack200 test (https://github.com/eclipse-openj9/openj9/issues/12789#issuecomment-864254964), but this failure wasn't reproduced.

[2021-06-18 20:46] mikezhang1234567890 commented on #12785
It looks like the code in `CallJavaMainInNewThread` is what creates the main JVM thread. It creates the OS thread which creates the JVM and then joins it. When we reach the `JNI_GetDefaultJavaVMInitArgs` or `JNI_CreateJavaVM` code, the thread is already created.

At that point I think we'd need to create another thread for the JVM to be created in if we want it to respect stack size set in OpenJ9

[2021-06-18 23:46] #13006 closed

[2021-06-20 12:13] bdk82924 opened #13010 "No response when executing jps and jstack commands"
1. The current Java program is running normally, and the dump file can be generated through kill -3
2. Nothing happens after executing the jps command
3. Nothing happens after executing the jstack command
4. In the Java code, there is no response when VirtualMachine.attach(pid) is executed

[2021-06-20 19:01] #11872 closed

[2021-06-20 19:01] #7741 closed

[2021-06-21 04:38] dennismayr commented on #12995
Fair enough.

First of all, thanks for considering the idea.

TornadoVM, as a project, looks very promising; marrying the concept to OpenJ9's quick application startup with low footprint could deliver the very best of both worlds.

[2021-06-21 11:23] JasonFengJ9 commented on #13010
@bdk82924 Can you cleanup the common subdirectory (by default) `.com_ibm_tools_attach` according to the platform [1], and re-try the test?
If the problem is still persistent, please provide Java version output in question.

[1] https://www.eclipse.org/openj9/docs/attachapi/

[2021-06-21 11:35] JasonFengJ9 opened #13012 "80 (zLinux) SVT_Apps_1.SVT_Octane.NoOptions.1 : Illegal instruction vmState=0x00000000 - Compiled_method=java/lang/invoke/SecurityFrameInjector.wrapHandleWithInjectedSecurityFrameIfRequired(Ljava/lang/invoke/MethodHandles$Lookup;Ljava/lang/invoke/MethodHandle;)Ljava/lang/invoke/MethodHandle;"
Failure link
------------

From an internal ibuild `job_output.php?id=7967151` (`lnxec706`):
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

Attempted a few grinders, only reproduced once at `job_output.php?id=8006101` also at `lnxec706`.
Launched a 3x grinder on this machine at `build_info.php?build_id=7655`.

[2021-06-21 12:21] pshipton opened #13014 "Mac DaaLoadTest_all_special_5m_2 crash vmState=0x00000000 Compiled_method=java/math/BigInteger.toString"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_x86-64_mac_Release_testList_3/2 - osx1011-x86-2
DaaLoadTest_all_special_5m_22
JVM_OPTIONS:  -XX:+UseCompressedOops -Xjit -Xgcpolicy:gencon -Xaggressive

https://openj9-artifactory.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_special.system_x86-64_mac_Release_testList_3/2/system_test_output.tar.gz
[code]

[2021-06-21 12:24] pshipton opened #13015 "Mac MauveMultiThrdLoad_special_5m_22 crash vmState=0x00000000 Module libj9jit29.dylib"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_x86-64_mac_Release_testList_0/2 - osx1014-x86-1
MauveMultiThrdLoad_special_5m_22
JVM_OPTIONS:  -Xcompressedrefs -Xjit:count=0 -Xgcpolicy:gencon -Xaggressive -Xconcurrentlevel0

https://openj9-artifactory.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_special.system_x86-64_mac_Release_testList_0/2/system_test_outp

[2021-06-21 12:27] pshipton commented on #12594
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Release/2
jdk_util_0
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops
java/util/logging/LoggingDeadlock2.java
[code]

[2021-06-21 12:31] JasonFengJ9 opened #13016 "JDK8 MacOS : JVMSHRC659E An error has occurred while opening shared memory"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.functional_x86-64_mac_testList_1/50/` (`osxrt2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=testSCCacheManagement_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_extended.functional_x86-64_mac&amp;DOCKER_REQUIRED=false&amp;AC

[2021-06-21 12:35] JasonFengJ9 commented on #12168
Observed at JDK8 MacOS `Test_openjdk8_j9_extended.openjdk_x86-64_mac/11/` (`osxrt8 `), so this is not AIX specific.
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_other_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;T

[2021-06-21 12:40] keithc-ca commented on #12995
I realize, however, that my suggestion doesn't get us any closer to support for AMD or Intel accelerators.

[2021-06-21 12:40] JasonFengJ9 commented on #12795
Another occurrence at `Test_openjdk11_j9_extended.openjdk_ppc64_aix/17/` (`paix818 `)
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_net_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG_OWNER_BRANCH=AdoptOpenJDK%3Am

[2021-06-21 12:42] 0xdaryl commented on #7699
No updates in Liqun's absence.  Moving to 0.28.

[2021-06-21 12:46] 0xdaryl commented on #8972
No progress is likely for 0.27.  Moving out to 0.28.

[2021-06-21 12:47] JasonFengJ9 opened #13017 "JDK16 aarch64_linux : j9mm.479 * ** ASSERTION FAILED ** at openj9/runtime/gc_glue_java/MarkingSchemeRootMarker.cpp:53: ((MM_StackSlotValidator(MM_StackSlotValidator::NOT_ON_HEAP, object, stackLocation, walkState).validate(_env)))"
Failure link
------------

From an internal build `Test_openjdk16_j9_sanity.system_aarch64_linux_testList_0/4/` (`cent7-aarch64-2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=LambdaLoadTest_CS_5m_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk16_j9_sanity.system_aarch64_linux&amp;DOCKER_REQUIRED=false&amp

[2021-06-21 12:49] 0xdaryl commented on #11904
No progress on this for 0.27.  Moving to 0.28.

[2021-06-21 12:51] 0xdaryl commented on #11731
Not likely to be investigated for 0.27.  Moving out to 0.28.

[2021-06-21 12:53] 0xdaryl commented on #10929
Highly intermittent it seems.  Not likely to be resolved for 0.27.  Moving out to 0.28.

[2021-06-21 12:57] JasonFengJ9 opened #13018 "JDK16 zLinux : java/nio/channels/AsynchronousFileChannel/Lock.java - IOException: Resource deadlock avoided"
Failure link
------------

From an internal build `Test_openjdk16_j9_extended.openjdk_s390x_linux/15/` (`ub18s390xrt-1-2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_nio_1&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=

[2021-06-21 12:57] 0xdaryl commented on #10812
I don't believe this has been seen for a while.  We will revisit for the 0.28 release.

[2021-06-21 13:02] 0xdaryl commented on #11961
No longer required as failing compilation was made the permanent solution in master in #12259.

[2021-06-21 13:02] #11961 closed

[2021-06-21 13:05] JasonFengJ9 opened #13019 "JDK17 java/lang/ModuleTests/addXXX/Driver.java - error: module not found: testng"
Failure link
------------

From an internal build `Test_openjdk17_j9_sanity.openjdk_x86-64_linux/36/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_lang_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG_OWNER_BRANC

[2021-06-21 13:06] 0xdaryl commented on #11886
@jdmpapin : could you pick up the investigation on this for the 0.28 release please?

[2021-06-21 13:09] pshipton commented on #12656
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/27
[code]

[2021-06-21 13:10] JasonFengJ9 opened #13020 "JDK17 java/lang/reflect/Proxy/DefaultMethods.java - void DefaultMethods.testIllegalArgument(java.lang.Object[]) throws java.lang.Throwable] has no parameters defined but was found to be using a data provider (either explicitly specified or inherited from class level annotation)"
Failure link
------------

From an internal build `Test_openjdk17_j9_sanity.openjdk_x86-64_linux/36/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_lang_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG_OWNER_BRANC

[2021-06-21 13:13] pshipton commented on #12782
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_0/29 - ub18-390-1
cmdLineTester_verbosetest_6
variation: Mode551
JVM_OPTIONS:  -XX:+UseCompressedOops -Xjit -Xgcpolicy:balanced\

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_0/29/functional_test_output.tar.g

[2021-06-21 13:15] JasonFengJ9 opened #13021 "JDK17 java/io/Writer/NullWriter.java - Expected exception of type class java.io.IOException but got java.lang.NullPointerException: Cannot invoke "java.io.Writer.write(java.lang.String, int, int)" because "NullWriter.closedWriter" is null"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.openjdk_x86-64_linux/12/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_io_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG_OWNER_BRANC

[2021-06-21 13:19] JasonFengJ9 opened #13022 "JDK17 java/text/Collator/RuleBasedCollatorTest.java - java.text.ParseException: missing char (=,;<&) : null@"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.openjdk_x86-64_linux/12/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_text_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG_OWNER_BRA

[2021-06-21 13:21] pshipton commented on #13020
@tajila fyi

[2021-06-21 13:25] pshipton opened #13023 "Windows machines offline in jenkins"
We had some older issue about this, but I didn't find it.

There are a couple of Windows machines offline in jenkins which didn't come back from sanatize on Saturday night.
https://openj9-jenkins.osuosl.org/computer/win2012-x86-2/
https://openj9-jenkins.osuosl.org/computer/win2012-x86-9/

@AdamBrousseau @jdekonin fyi

[2021-06-21 13:47] AdamBrousseau commented on #13023
Master was quiet so I issued a restart. Coming back now. I expect the machines will connect once it's back.

[2021-06-21 13:51] pshipton commented on #13022
@tajila fyi

[2021-06-21 13:54] zjavaperf opened #13024 "NoClassDefFoundError: openj9.dtfj module conflicts with uses of ibmjzos.jar on platforms other than z/OS"
Hi OpenJ9 team,

on z/OS, the JZOS classes are part of the **ibm.jzos** Java module, just as expected. On platforms other than z/OS, OpenJ9 only contains a stub of the `com.ibm.jzos.ZFile` class, which is part of the **openj9.dtfj** Java module. This leads to problems when JZOS is being used on platforms other than z/OS.

Please note that this is **not** a hypothetical use case - there is at least

[2021-06-21 13:59] pshipton commented on #13016
@jdekonin @AdamBrousseau looks like a machine configuration issue.

[2021-06-21 14:16] pshipton commented on #13024
I tagged this for 0.28 but if we have a solution ready and tested in master, there is still time to put it into 0.27

[2021-06-21 14:34] zjavaperf commented on #13024
0.27 would be awesome :+1: Thank you very much for taking care of this one, @keithc-ca and @pshipton!

[2021-06-21 14:46] hangshao0 commented on #13016
The error message is:

[2021-06-21 15:05] pshipton commented on #12086
I assume this hasn't been seen again. Removing it from the milestone plan.

[2021-06-21 15:18] jdekonin commented on #13016
That machine was disabled for upgrade to 11.4 last week, it should not have been enabled.  I'll rerun that pipeline as part of bringing that system back online.

[2021-06-21 16:24] pshipton commented on #12480
Seems a test issue fixed upstream https://github.com/ibmruntimes/openj9-openjdk-jdk11/commit/8b2827b9b4
The test is passing now. view/Test_grinder/job/Grinder/16436/

[2021-06-21 16:25] #12480 closed

[2021-06-21 16:30] #12921 closed

[2021-06-21 16:52] pshipton commented on #13018
Running all extended.openjdk is overkill. this suite takes a long time, running jdk_nio_1 is more appropriate.

[2021-06-21 17:22] tajila commented on #13004
@dnakamura please take a look at this

[2021-06-21 17:59] AdamBrousseau commented on #13023
Rebooted number 6, online now

[2021-06-21 17:59] #13023 closed

[2021-06-21 18:07] kgibm opened #13027 "Documented example to dynamically load ImageFactory doesn't work from a Java module"
The documentation has an example of dynamically loading `ImageFactory`: https://www.eclipse.org/openj9/docs/interface_dtfj/#working-with-a-system-dump

Relevant snippet:

[code]

Simplifying this example to:

[code]

Using Java 11, this works fine on its own without modules:

[code]

However, if we add `Test` to a Java module with `module-info.java`:

[code]

And then try to run `Test` as a module

[2021-06-21 18:10] llxia commented on #13001
#13011 is delivered. Close this issue.

[2021-06-21 18:10] #13001 closed

[2021-06-21 18:10] pshipton commented on #12630
We can keep this open until the change promoted and we deliver it to the 0.27 branch.

[2021-06-21 18:17] adamfarley commented on #13001
Thanks Lan :)

[2021-06-21 18:22] kgibm commented on #13027
Created draft docs PR: https://github.com/eclipse-openj9/openj9-docs/pull/797

[2021-06-21 18:35] pshipton commented on #13027
If the only issue is the docs, this issue is better opened at the docs repo https://github.com/eclipse-openj9/openj9-docs/issues

[2021-06-21 18:42] kgibm commented on #13027
Apologies, this was originally opened because there was a question about whether it was working correctly but then after opening, Keith confirmed it was, so then I edited it to just a doc issue. I'll close this one and open a doc issue.

[2021-06-21 18:42] #13027 closed

[2021-06-21 18:43] kgibm commented on #13027
Opened https://github.com/eclipse-openj9/openj9-docs/issues/798

[2021-06-21 20:09] gacholio commented on #13004
If there are alignment restrictions for the new registers, we will need to forcibly align both the native and java stacks.

The native stack *may* already be aligned, the java stack is almost certainly not.

[2021-06-21 20:20] dmitry-ten opened #13028 "Incorrect loop when packing ROM class on JITServer client"
A bunch of tests in nightly runs fail due to hangs.
I was able to reproduce the hang on ppc64le, with `DaaLoadTest_daa3_special_5m_14` test.

Attaching gdb to the client's process revealed a compilation that hanged while handling `ResolvedMethod_getRemoteROMClassAndMethods` message.
The stack trace showed the following:
[code]
This is the code around `romclasswalk.c:583`.
[code]
Checked the value

[2021-06-21 20:21] dmitry-ten commented on #13028
@mpirvu fyi.
@AlexeyKhrabrov since you worked on the new code for ROM class packing, do you have any advice on what this code does and what could be causing `low` and `high` to be incorrect?

[2021-06-21 20:30] dmitry-ten commented on #13028
The name of the class being packed: `net/openj9/test/arithmetics/TestArithmeticOperations&`

[2021-06-21 20:58] tajila opened #13029 "IsObjectHashed SCC entries"
Currently, when `System::identityHashCode()` is called on an object we may need to grow a slot to preserve the identity hash value. This introduces a throughput cost as we need to reallocate the instance in larger memory.

To address this we can record the types of objects that are called with `System::identityHashCode()` in the SCC. Then on subsequent runs we can allocate a slot for those objects

[2021-06-21 20:59] tajila commented on #13029
Phase 1 needs to be done for 0.29

[2021-06-21 21:01] tajila commented on #13029
@dmitripivkine can we pre hash with the inline allocators? or do we need to use the out-of-line (mgcalloc) allocators?

[2021-06-21 21:01] tajila commented on #13029
FYI @hangshao0 @gacholio

[2021-06-21 21:18] gacholio commented on #13029
Prehash is not supported by the inline allocators at the moment (prehash is a request per out-of-line allocation, using the `J9_GC_ALLOCATE_OBJECT_HASHED` flag, not per class at the moment).

[2021-06-21 21:26] gacholio commented on #13029
Might be easiest to fail over to the OOL allocate in the interpreter if the class flag is set, and let the JIT do the inline prehash work.

I don't think we have the bits to have a "hash slot allocated but not filled" state, meaning that we will have to hash all of these objects on allocation, which is probably a significant perf penalty). The JIT could compile-time eliminate the test for positive

[2021-06-21 21:38] gacholio commented on #13029
[code]

Given two bits, perhaps we can add the intermediate state - the states are:

- hash slot unallocated, not hashed, not moved (normal unhashed object)
- hash slot allocated, not hashed, not moved (new state for this feature)
- hash slot unallocated, hashed, not moved (normal object hashed)
- hash slot allocated, hashed, moved (same as hashed and moved today)

[2021-06-21 21:53] dmitry-ten commented on #13028
So for a `JBtableswitch`, `low` and `high` are supposed to be arguments representing the lowest and highest case numbers in a switch statement, that has integers as cases. Still don't know why these values would be invalid though when we pack a ROM class on the client.

[2021-06-21 22:00] hangshao0 commented on #13029
For SCC, a new type is needed in this list:
https://github.com/eclipse-openj9/openj9/blob/629fc4f8eb18604d91335f8fb73e323d953f8eee/runtime/oti/shcflags.h#L45-L58

`J9SHR_DATA_TYPE_CACHELET` is obsolete. We can probably rename it and reuse its value.

Are you saying that only the first JVM is able add such records to the SCC ? The SCC is enable by default in OpenJ9. For most users, the default SCC

[2021-06-21 22:10] tajila commented on #13029
I think what you are suggesting makes more sense, subsequent VMs should be able to add more entries

[2021-06-21 23:04] AlexeyKhrabrov commented on #13028
Either the code in `romclasswalk.c` is broken, or the ROMClass in question is malformed for some reason. I don't see any recent changes to the ROMClass format other than some value types stuff (which is probably unrelated to this), so I don't know what could have broken it. Did this test pass before? Maybe this specific class wasn't touched by the JIT before.

This is a problem regardless of JITSe

[2021-06-21 23:25] pshipton commented on #13029
I wonder if it should be tied to the GC startup hints, so there are different lists of hashed classes for different sets of command line options.

[2021-06-22 00:27] fjeremic commented on #13029
@0xdaryl would we always know at compile time the type for inline allocation? If so then we can also query the cthelper at compile time for `J9ClassRequiresPreHashAlloc` and we could potentially insert cross codegen IL to mark the object with `J9_GC_ALLOCATE_OBJECT_HASHED`. This way we could potentially avoid cross-codegen work for this.

[2021-06-22 00:45] DanHeidinga commented on #13029
This is a per-instance growth that only grows the object if it survives long enough to move.  For a tenured object, which moves rarely, we may go a long time before growing a slot.  For nursery objects, they may become garbage before we ever need to grow a slot.

Can you highlight some examples of the throughput cost?

This is a pretty big hammer to hit allocation with as it turns a per-instance p

[2021-06-22 01:03] gacholio commented on #13029
@fjeremic The class flag may be set during the run, so you would need to check every class that does not have the bit set, and patch the check out once it does.

[2021-06-22 01:06] gacholio commented on #13029
@DanHeidinga I'd also like to know the motivation for this, as it's looking more expensive all the time.

[2021-06-22 01:51] gacholio commented on #13004
Slight correction: the java stack only needs to be aligned if the JIT ever intends to spill one of the new registers (there are no preserved FPRs in the JIT private linkage, so it's possible to avoid this situation entirely).

[2021-06-22 02:10] Akira1Saitoh commented on #13017
Ran 10x Grinder on internal Jenkins `job/Grinder/16464/`, but it did not fail.

[2021-06-22 03:28] Akira1Saitoh commented on #13017
I managed to produce it with 20x Grinder on internal Jenkins (`job/Grinder/16465/`).

[2021-06-22 06:37] Akira1Saitoh commented on #13017
This issue is also reproducible with the following version of OpenJ9 (see `job/Grinder/16468`):

[2021-06-22 13:20] dmitripivkine commented on #13029
FYI GC is used all four states of these two bits already to handle Scavenger Backout, some cases of CS etc. An extra state is used to determine case "object has been grown **this** Copy cycle"

[2021-06-22 13:37] tajila commented on #13029
@0xdaryl @vijaysun-omr can you comment on this?

[2021-06-22 13:58] vijaysun-omr commented on #13029
@0xdaryl had documented the analysis around the user scenario motivating this discussion at : https://github.ibm.com/runtimes/openj9-jit-xopt/issues/439#issuecomment-29368090

[2021-06-22 14:00] DanHeidinga commented on #13029
@vijaysun-omr that's not publicly visible.  Can you share the information here?  We need more detail in the open explaining the need for this change

[2021-06-22 14:01] pshipton commented on #12276
@smlambert I think you were going to open a new issue or update with the requirements for adding this test?

[2021-06-22 14:02] JavaTailor commented on #12944
Hi, @pshipton
This issue can be completely reproduced in the second way, could you please take a look? :)
[SOFL2.zip](https://github.com/eclipse-openj9/openj9/files/6694815/SOFL2.zip)

[2021-06-22 15:01] DanHeidinga commented on #13029
Thanks for the context @vijaysun-omr.

@pshipton raises a good point.  The value of this is really application specific and should be tied to set of command line options as it may not apply to all uses.

Given the issue, I'd suggest an alternative approach that avoids using the SCC to start by adding a command line option to control this behaviour.  The option can be similar to the `-Xlockword:noL

[2021-06-22 15:17] pshipton commented on #13029
Note the new option should be additive, and not right most wins, so user's can add additional classes without affecting the ones in the options.default.

[2021-06-22 15:28] pshipton commented on #12630
Created https://github.com/eclipse-openj9/openj9-omr/pull/113 for the 0.27 release.

[2021-06-22 15:30] BradleyWood commented on #13004
### Calling Conventions
https://docs.microsoft.com/en-us/cpp/build/x64-calling-convention?view=msvc-160&viewFallbackFrom=vs-2017
https://github.com/hjl-tools/x86-psABI/wiki/x86-64-psABI-1.0.pdf

I believe you can check for ymm/zmm register support by checking for OMR_FEATURE_X86_AVX2 and OMR_FEATURE_X86_AVX512F, respectively.

You will want to use VMOVDQA

[2021-06-22 15:40] JasonFengJ9 commented on #12630
Last night JDK16 Mac `sanity.openjdk` run is green though the failure was machine specific.

Feel free to close after `0.27` release delivery. (alway can re-open but probably won't be necessary for this one)

[2021-06-22 16:14] #12630 closed

[2021-06-22 17:01] gacholio commented on #13029
So is the belief here that lots of instances are being hashed only after they've been tenured? The class flag solution seems like the best solution to avoid codegen changes that would likely result in a perf loss across the board.

The tenure change to check for object hashed or class flag "tenured instances must be hashed" seems pretty simple.

[2021-06-22 17:18] dmitry-ten commented on #13028
I was also able to reproduce the same issue when packing ROM class for a compilation request, so that makes ROM class being malformed unlikely, since it's not even requested by the server at this point.
I expect that the issue is with the bytecode walk somehow. Maybe the bytecode walk doesn't increment pc by the correct amount for some previous bytecode, resulting in an incorrect bytecode index be

[2021-06-22 17:28] dmitry-ten commented on #13028
Seems to be the case, comparing bytecode iterator in `RomClassWalker.java` to the one in `romclasswalk.c`, the latter is missing handlers for 2 bytecodes: `JBwithfield` and `JBdefaultvalue`.

[2021-06-22 17:43] dmitry-ten commented on #13028
Fixing this doesn't fix the bug however. Makes sense, since the missing bytecodes are value type bytecodes, which shouldn't be enabled by default for JDK11.
Maybe some bytecodes are missing in both iterators, will check that.

[2021-06-22 17:45] gacholio commented on #13004
Like the other platforms, we'll let the JIT do the feature check on startup and set the appropriate runtime flags.

[2021-06-22 18:00] JamesKingdon opened #13034 "jextract libraries with newer releases"
In recent releases the java executable on Linux platforms was changed from an executable to a shared library. This results in changes to the information held in system corefiles relating to libraries that were in use by the process at the time of the crash. Tools such as jextract and others were modified to compensate for these changes, but we're noticing some problems in the resulting output.

a)

[2021-06-22 18:02] rmnattas commented on #12061
This issue was caused by the commit https://github.com/eclipse-openj9/openj9/pull/11091 (Nov 9), I still yet to fully understand why it ends up causing the symptoms I see (which cause the NPE in one of the build run command, and wrong generated `jvmti.h` in another run command, both from `GensrcJvmti.gmk`).
This commit was reverted https://github.com/eclipse-openj9/openj9/pull/12213 (Mar 15) as it

[2021-06-22 18:03] pshipton commented on #13018
This problem wasn't repeated. java/nio/channels/DatagramChannel/AdaptorMulticasting.java.AdaptorMulticasting and  java/nio/channels/DatagramChannel/Loopback.java.Loopback failed on rhel7s390x-4-3
, but not on ub18s390xrt-1-3 or ub18s390xrt-1-9.

[2021-06-22 18:07] pshipton commented on #12819
@vijaysun-omr is this fix safe enough, and do you think it's important to get the fix into the 0.27 release?

[2021-06-22 18:13] keithc-ca commented on #13034
Note: The modern name for the `jextract` tool is `jpackcore`.

[2021-06-22 18:14] dmitripivkine commented on #13029
We are not in favour to add extra checks per copied object - this is most hot code in copy collector and it might be very expensive. In this case however we can try - we are reading class already so should not be expensive to check extra flag in the class (if it is loaded to cache line already).
I am worried slightly about effectiveness of this feature due timing nature of the problem _"objects ha

[2021-06-22 18:29] dmitry-ten commented on #13028
I reasoned that if the bytecode iterator is missing a handler for some of the bytecodes, then the bytecode before `JBtableswitch` is likely the one not handled. Taking `(pc-1)` at the beginning of `JBtableswitch` handler will produce the bytecode index of a missing handler.
Indeed, the previous bytecode index was equal to `JBinvokedynamic`, which is not handled by the function. Adding a case for i

[2021-06-22 18:29] gacholio commented on #13029
Right - I had forgotten that we do not have to compute the hash in order to set that bit. This is by far the better solution given that the class flags will be tagged before the JIT can compile any code related to it, so there will be no need for a runtime check in the compiled code when the class being allocated is known (i.e. basically all the time).

We should update the out-of-line allocators

[2021-06-22 18:39] dmitripivkine commented on #13029
We can do it but is it a significant difference from the case just set bit and postpone hash code calculation to first copy collection - just asking?

[2021-06-22 18:44] dmitripivkine commented on #13029
ok, after thinking a little bit I agree with GAC

[2021-06-22 18:50] gacholio commented on #13029
Sorry, I was extremely unclear when I said "only fully inlined allocations set the hashed bit" - what I meant is that in the case where we fail over to the OOL allocation, the caller need not set the hash bit since the allocator will have done it.

Fully inline allocations will also need to set the bit (which will be a runtime check in the interpreter inline allocator).

[2021-06-22 19:19] DanHeidinga commented on #13029
If the behaviour is driven by a commandline option, then it will be statically known up front and Gac's approach sounds right.  The only question I still see is how AOT should behave.  Would the new command line option prevent AOT code from being shared between processes that had different option settings?  This is probably the easiest behaviour.  Alternatively, the AOT code can patch the bitset i

[2021-06-22 19:21] vijaysun-omr commented on #12819
It is a safe fix in my opinion. The problem is not new (has been there since we implemented DLT many years ago basically).
Given that an external user opened this issue, it is worth considering for 0.27.

[2021-06-22 19:31] gacholio commented on #13029
What does AOT do if the lockword configuration changes?

[2021-06-22 19:48] pshipton commented on #12819
I've tentatively set the target for 0.27 and we can see how the acceptance and other builds go before porting the change to this release.

[2021-06-22 19:56] dsouzai commented on #13029
By default, no; we have to explicitly enforce consistency with the option.

We verify that the hash of the lockword is the same:
https://github.com/eclipse-openj9/openj9/blob/53265fd814d22970bc01ca814eb1d7b913ea8027/runtime/compiler/runtime/RelocationRuntime.cpp#L1095-L1099

https://github.com/eclipse-openj9/openj9/blob/53265fd814d22970bc01ca814eb1d7b913ea8027/runtime/compiler/runtime/RelocationRu

[2021-06-22 20:08] pshipton commented on #12944
The problem can only be repeated with JIT enabled. @0xdaryl can someone take a look pls.
@gacholio fyi

[2021-06-22 20:20] gacholio commented on #12944
Fails with single method compiled: `-Xjit:limit={SOFL*}`
[code]

[2021-06-22 20:22] gacholio commented on #12944
[code]

[2021-06-22 20:25] gacholio commented on #12944
Problem appears to be opt number 16:
[code]

[2021-06-22 20:29] 0xdaryl commented on #12944
@BradleyWood : could you take a look at this problem please?  GAC has already done some triage on it.

[2021-06-22 20:35] gacholio commented on #12944
The `-Xmx` value appears to be irrelevant with the new test.

[2021-06-22 21:16] llxia commented on #13022
http://trss1.fyre.ibm.com/allTestsInfo?buildId=60cf2285541aa8b9171bac0f&limit=5&hasChildren=false

[2021-06-22 21:19] pshipton commented on #13020
@JasonFengJ9 did this fail again last night?

[2021-06-22 21:23] pshipton commented on #13020
Or maybe we have to confirm tomorrow since jdk17 only runs every second day.

[2021-06-22 21:24] JasonFengJ9 commented on #13020
That's correct. No JDK17 run last night.

[2021-06-22 21:36] llxia commented on #13020
This particular test `java/lang/reflect/Proxy/DefaultMethods` passed on Test_openjdk17_j9_sanity.openjdk_x86-64_linux/35, but failed on Test_openjdk17_j9_sanity.openjdk_x86-64_linux/36

[2021-06-22 21:39] llxia commented on #13021
internal TRSS/http://trss1.fyre.ibm.com/allTestsInfo?buildId=60cf2285541aa8b9171bac0f&limit=5&hasChildren=false

![image](https://user-images.githubusercontent.com/19273206/123003022-98eee600-d380-11eb-8703-009639350b99.png)

This is a new failure.

**Git Diff of first seen failure and last success**
https://github.com/eclipse-openj9/openj9/compare/6bbaac6e5...0be9a6f3f
https://github.com/eclipse/

[2021-06-22 21:51] JasonFengJ9 commented on #13020
`Test_openjdk17_j9_sanity.openjdk_x86-64_linux/35/` was `Build #35 (Jun 9, 2021 1:29:29 AM)`, this was due to no `JDK17` extension and `JDK18` in the JDK head stream staging branch.

[2021-06-22 21:52] JasonFengJ9 commented on #13021
Similar reason as https://github.com/eclipse-openj9/openj9/issues/13020#issuecomment-866360938, last pass build was `Build # 60 6/5/2021, 10:30:27 AM`.

[2021-06-22 22:14] pshipton commented on #12944
It may depends how much memory your machine has.

[2021-06-22 22:18] pshipton commented on #12944
Note the .jasm file for the original and new test are the same. What changed is the instructions for running it.

[2021-06-23 02:03] DanHeidinga commented on #12815
@JavaTailor We'd be happy to provide guidance.  Please reach out either here on github or via Slack https://openj9.slack.com/join/shared_invite/enQtNDU4MDI4Mjk0MTk2LWVhNTMzMGY1N2JkODQ1OWE0NTNmZjM4ZDcxOTBiMjk3NGFjM2U0ZDNhMmY0MDZlNzU0ZjAyNzQ1ODlmYjg3MjA

[2021-06-23 05:40] pshipton opened #13037 "ub16x64j98 No space left on device"
https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_linux_Nightly/36
22:19:02  Cannot contact ub16x64j98: java.io.IOException: No space left on device

Disabled the machine just in case.

@AdamBrousseau @jdekonin fyi

[2021-06-23 07:11] #6859 closed

[2021-06-23 10:32] andrew-m-leonard commented on #12249
This seems to re re-occuring? https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-openj9/993/console
@keithc-ca @pshipton ?

[2021-06-23 11:50] JasonFengJ9 opened #13038 "OTT: 80 VM_DDRExt_Junit_MultiCore.aix64_testDDRExtJunit : testWhatis(j9vm.test.ddrext.junit.TestDDRExtensionGeneral) - AssertionFailedError"
Failure link
------------

From an internal build `job_output.php?id=8389651`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

This appears a regression between ibuild `7342` and `7444`.

[2021-06-23 12:00] JasonFengJ9 commented on #13020
It still fails at latest run.

[code]

[2021-06-23 12:08] JasonFengJ9 opened #13039 "JDK17 MacOS testDDRExtJunit [ERROR] No dump file under testDDRExtJunit_FindExtThread_0/DDREXT.J9CORE.DMP"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.functional_x86-64_mac_testList_2/36/` (`osxrt6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=testDDRExt_General_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_extended.functional_x86-64_mac&amp;DOCKER_REQUIRED=false&amp;ACT

[2021-06-23 12:43] 0xdaryl commented on #12947
Just pointing out that jit_jitt_array_compress_0/1 fails in every AArch64 PR build for this reason.

The abstract of this issue targets the 0.27.0 release, so should this be added to the 0.27.0 milestone?  @pshipton @JasonFengJ9

[2021-06-23 13:03] pshipton commented on #12947
Makes sense to fix it there, since the failure was found in a release build.

[2021-06-23 13:13] keithc-ca commented on #12249
@andrew-m-leonard The link you shared doesn't work for me.
The first step would be to verify that the boot jdk is a recent jdk11.

[2021-06-23 13:16] andrew-m-leonard commented on #12249
@keithc-ca sorry forgot you won't be able to see that, here's a snippet:
[code]
Bootk JDK will be the issue it is using:
[code]

[2021-06-23 13:17] keithc-ca commented on #12249
That's not the part I wanted to see. I need to see the boot jdk version (discovered during configuration).

[2021-06-23 13:18] andrew-m-leonard commented on #12249
bottom line!

[2021-06-23 13:18] andrew-m-leonard commented on #12249
i'm just checking the build scripts as to what it tries to download

[2021-06-23 13:22] keithc-ca commented on #12249
Using jdk10 to build jdk11 with openj9 is not supported.

[2021-06-23 13:27] pshipton commented on #12819
OMR acceptance is blocked atm, hopefully not because of this change. See https://openj9.slack.com/archives/CDS7QE9HB/p1624427315028000

[2021-06-23 13:42] JasonFengJ9 commented on #12947
Updated the issue title as well.

[2021-06-23 13:46] andrew-m-leonard commented on #12249
@keithc-ca is it just jdk11 where n-1 is not supported ?

[2021-06-23 13:48] pshipton commented on #13038
The changes between these builds are https://github.com/eclipse-openj9/openj9/compare/1ceaea8eb8...d15b0aade

@tajila @hangshao0 it seems https://github.com/eclipse-openj9/openj9/pull/12879 must have caused this.

[2021-06-23 13:52] pshipton commented on #13039
@jdekonin related to recent machine upgrades?

[2021-06-23 14:04] tajila commented on #13038
@hangshao0 Can you please take a look at this

[2021-06-23 15:02] jdekonin commented on #13037
I've run a `docker system prune -af` as there was ~30G of images on the system with only 50G space.  With the PR work for risc-v its added adopt image(s) as well so its adding up.  We'll have to start adding to the cleanup jobs the purging of older image sooner than later.

I also rebooted for good measure.  Its been re-added in jenkins for use.

We won't be fixing the filesystem size on the syste

[2021-06-23 15:02] #13037 closed

[2021-06-23 15:19] keithc-ca commented on #12249
I don't know of any issues with versions other than jdk11.

The problem appears to be that jdk10 didn't handle classpaths properly and it's unlikely that a fix for jdk10 will be happening; you would still need to update the bootjdk.

[2021-06-23 15:35] avikama opened #13042 "GPF on Windows 2012R2 with openj9-0.26"
Java -version output
--------------------
openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
Eclipse OpenJ9 VM AdoptOpenJDK-11.0.11+9 (build openj9-0.26.0, JRE 11 Windows 10 amd64-64-Bit Compressed References 20210421_976 (JIT enabled, AOT enabled)
OpenJ9   - b4cc246d9
OMR      - 162e6f729
JCL      - 7796c80419 based on jdk-11.0.11+9)

Summary

[2021-06-23 16:38] hangshao0 commented on #13038
All the code in #12879 except flags `J9AccClassHasIdentity` and `J9AccClassHasIdentity` are inside
`if defined(J9VM_OPT_VALHALLA_VALUE_TYPES)`. I will try putting `J9AccClassHasIdentity` and `J9AccClassHasIdentity` inside the ifdef as well.

[2021-06-23 17:21] pshipton commented on #13038
I'm not 1000% sure it's this change, it just seemed most likely.

[2021-06-23 17:50] pshipton commented on #13042
Windows_ExceptionCode: C0000008 is STATUS_INVALID_PARAMETER

@tajila fyi

[2021-06-23 17:50] a7ehuo commented on #13016
I'm seeing the same error with `testSCCacheManagement_0`  in [my personal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Personal/112/)

machine: `osxrt4`
[code]

[code]

[2021-06-23 17:58] gita-omr commented on #11993
@tajila Please see my previous comment

[2021-06-23 18:02] pshipton commented on #13016
@jdekonin pls see the previous comment.

[2021-06-23 18:05] tajila commented on #11993
for @forceinline we know that the annotation is always going to be on a final or static method. This means that if you devirtualize a callsite you can always know query the correct method

[2021-06-23 18:10] BradleyWood commented on #12944
Hi, I have looked into this issue. I believe the output in both cases is as expected. In the cases the StackOverflowError was not thrown, the JIT compiler has performed [trail recursion](https://en.wikipedia.org/wiki/Tail_call) elimination (which is a valid optimization).

I think when memory is limited it is compiled at a higher optimization level which performs the tail recursion elimination. Th

[2021-06-23 18:20] jdekonin commented on #13039
The upgrade seems to have reverted the directory permissions granted on /cores.  I've updated again but it still fails.   Is there something special for BigSur that would make core generation different?  I do note that the PID is incorrect.  The JVM determined the PID was 591 below, but a few seconds later its 592??

[code]

[2021-06-23 18:24] pshipton opened #13043 "win2012-x86-2 is offline"
win2012-x86-2 is left offline by sanitize since this morning.

@AdamBrousseau fyi

[2021-06-23 18:26] gacholio commented on #13042
[code]
So the timeout value for the park should be 0.

[2021-06-23 18:27] gacholio commented on #13042
Oddly, the gpinfo in the core does not match the crashing thread in the javacore:
[code]

[2021-06-23 18:28] gacholio commented on #13042
Probably worth checking the compiled code to make sure 0 is in fact being passed to the native.

[2021-06-23 18:32] forceinline commented on #11993
too often 😔

[2021-06-23 18:35] jdekonin commented on #13016
These are the settings (which I needed to re-add) after the upgrade to 11.4.  Looks like these values are not used so I did a bit of searching and the method of setting changes after Catalina.

[code]

after creating a file in /Library/LaunchDaemons/ and using launchctl I have it working on reboot.

[code]

I'll update instructions for new installs and go fix the existing system that I upgraded to

[2021-06-23 18:38] tajila commented on #11993
sorry about that

[2021-06-23 18:49] avikama commented on #13042
@gacholio It actually crashed twice at the same second, so we have 2 txt files.
I uploaded the correct txt file to the folder: https://drive.google.com/file/d/1_dfejZz7VASk3OZwgbI_c4V7NlJn8lfl/view?usp=sharing

This is the correct one, where the failing thread is 4464. Sorry about the confusion there.

[2021-06-23 19:31] avikama commented on #13042
I uploaded the other dump too.
Looking into the core dump, i think one thread is attempting to enter a critical section, and another is exiting the the same critical section. Looks like that critical section is already deleted, which causes the error on both threads, thus 2 dumps.

[2021-06-23 19:47] pshipton commented on #13039
The pid change may be normal. I'm guessing 591 is the pid of the JVM, and 592 is the fork created to generate the core.

[2021-06-23 19:49] pshipton commented on #13039
There is this known issue when the builds are signed. https://github.com/eclipse/omr/issues/5813

[2021-06-23 21:14] hangshao0 commented on #13038
Failed the same way with #12879 backed out:

http://vmfarm.rtp.raleigh.ibm.com/job_output.php?id=8489303

[code]

[2021-06-23 21:36] pshipton commented on #12819
OMR is promoted now.

[2021-06-23 22:42] pshipton commented on #13038
Looking at linux_x4.core.b7816.80_29.dmp from ibuild 7816, it finds !j9method instead of !j9class
[code]

whereas for another class it works
[code]

[2021-06-23 23:10] pshipton commented on #13038
Tried backing out https://github.com/eclipse-openj9/openj9/pull/12914 but it still fails.

[2021-06-23 23:20] pshipton commented on #13038
I'm not convinced it was working properly in build 7342 or earlier. When I get build 7342, generate a core, and try the same commands I get.
[code]

[2021-06-24 00:15] pshipton commented on #13038
@mpirvu any idea why https://github.com/eclipse-openj9/openj9/pull/12914 is causing this test to fail?

[2021-06-24 03:24] mpirvu commented on #13038
On the surface I cannot find a link between #12914 and this issue. Tomorrow I'll do a more thorough analysis.

[2021-06-24 05:54] Akira1Saitoh commented on #13017
Looks like a GC map is added to incorrect instruction for implicit null check.
`addimmx GPR_0032, [&GPR_0016, 4]` is chosen as an instruction throwing implicit NPE, but it should be the next instruction `ldrimmw &GPR_0035, [GPR_0032, 0]`.

[code]

After register assignment, GPR_0032 and GPR_0016 happens to be assigned the same register (x1), and GPR_0016 is a collected reference register, x1 is in

[2021-06-24 07:09] Akira1Saitoh commented on #13017
This issue will be fixed by https://github.com/eclipse-openj9/openj9/pull/13047

[2021-06-24 08:42] JavaTailor commented on #12944
Hi, @BradleyWood
Thanks for you reply!

We further analyzed the test case, and the result is that the key to triggering this exception depends on how the function exits.

The difference between the following two code snippets is that we replace `goto L14;` with `ireturn;` in the original function. If we use goto stmt (SOFL_goto), the exception will not be triggered. But if we replace it with iretu

[2021-06-24 12:27] Thihup opened #13048 "Weird stacktrace when using an invalid Security Manager"
Java -version output
--------------------
openjdk version "16.0.1" 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-16.0.1+9 (build 16.0.1+9)
Eclipse OpenJ9 VM AdoptOpenJDK-16.0.1+9 (build openj9-0.26.0, JRE 16 Linux amd64-64-Bit Compressed References 20210421_23 (JIT enabled, AOT enabled)
OpenJ9   - b4cc246d9
OMR      - 162e6f729
JCL      - cea22090ecf based on jdk-16.0.1+9)

openjdk version "

[2021-06-24 14:05] fjeremic commented on #12819
Sorry misread the previous comment. Acceptance is fine but we still would like to port the fix.

[2021-06-24 14:53] dmitry-ten commented on #13028
@mpirvu this issue can be closed

[2021-06-24 14:59] BradleyWood commented on #12944
Hi,
In the optimized case, the integer is overflowing and counting back to 0. This is why the function exits instead of executing forever.
You can demonstrate this by adding the following at beginning of the method:

[code]

[2021-06-24 15:54] fengxue-IS opened #13050 "OJDK MH: jsr292Test_JitCount0_0 test failures"
[code]
tests failed only with `-Xjit:count=0` likely due to jit code not handling argument arity at limit.

[2021-06-24 17:41] #13028 closed

[2021-06-24 18:07] gacholio commented on #13048
@JasonFengJ9

[2021-06-24 18:09] fengxue-IS commented on #13050
@nbhuiyan can you please take a look at this

[2021-06-24 18:12] JasonFengJ9 opened #13054 "JDK8 Win32 cmdLineTester_bootStrapStaticVerify_0_FAILED - Failure condition was found: [Output match: j9bcv_verifyClassStructure - class: java/lang/Class]"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.functional_x86-32_windows_testList_0/51/` (`win16x64cudart1 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=cmdLineTester_bootStrapStaticVerify_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_extended.functional_x86-32_windows&

[2021-06-24 18:17] mstoodle commented on #12494
Marius' recollection is intriguing as I have a dim recollection of that conversation as well. But I haven't been able to come up with a compelling reason to keep it around.

I *believe* it could have been a scenario where you are relying heavily on AOT code and want to do something like our nw extinct AOTRT library, which contained everything needed to load and run AOT compiled code but none of th

[2021-06-24 18:19] hangshao0 commented on #13054
Seems that the job does not have exclusive access to the machine:

[code]

[2021-06-24 18:21] hangshao0 commented on #13054
Did you try a grinder on another machine ?

[2021-06-24 18:22] #12504 closed

[2021-06-24 18:27] dmitry-ten commented on #10331
The latest nightly build fails with a slightly different exception:
[code]
and in another run it failed with:
[code]

[2021-06-24 18:36] dmitry-ten opened #13055 "Add an option to log JITServer connection events"
Both the server and the client should have an option that, when enabled, will output messages indicating a successful connection between the server and the client. Right now if `-Xjit:verbose={JITServer}` is specified, such message will be produced on the server and the client will print a line for each compilation sent to the server. However, the JITServer verbose log prints out a lot of addition

[2021-06-24 18:37] JasonFengJ9 commented on #13054
10x grinder on 3 machines at `Grinder/16573/`.

[2021-06-24 19:01] llxia opened #13056 "lockWordAlignment test downloads all dependant jar"
lockWordAlignment test downloads all dependant jars in the test job

[code]

lockWordAlignment test does not need any dependant jars. We should remove `getDependentLibs ` target in build.xml
https://github.com/eclipse-openj9/openj9/blob/24b14b4743f82a648712bdca71a5b870828e65f9/test/functional/cmdLineTests/lockWordAlignment/build.xml#L43

[2021-06-24 19:04] tolgamalachi opened #13057 "-XX:MaxRAMPercentage=90.0 won't get recognized"
Hi,

I think the MaxRAMPercentage option with a decimal point does not get recognized. When I enter `-XX:MaxRAMPercentage=90` everyhting works fine. With `-XX:MaxRAMPercentage=90.0` I get the error `JVMJ9GC027E malformed option: '-XX:MaxRAMPercentage=90.0'`.

I can reproduce this with a simple hello-world-java class:

![grafik](https://user-images.githubusercontent.com/1275311/123318563-a1395380-d

[2021-06-24 19:10] dmitry-ten commented on #13055
@mpirvu, @EmanElsaban fyi.
There is also a choice between printing a message once per client-server pair, or once per connection created.
I think it makes more sense to print only once per client-server pair.

[2021-06-24 19:13] llxia commented on #13056
FYI @OscarQQ

[2021-06-24 19:45] dmitripivkine commented on #13057
This is strange. The parameter of `-XX:MaxRAMPercentage` is taken as double (and always was). I just check Java 11 on my machine:
[code]

[2021-06-24 19:59] dmitripivkine commented on #13057
This is output for 0.24.0 release I do have installed already (this is Large Heap version but code is the same):
[code]

[2021-06-24 20:01] dmitripivkine commented on #13057
@pshipton Do you have any idea what it might be? This option parameter is parsed as double since option creation. Seems this is German version

[2021-06-24 20:08] #13056 closed

[2021-06-24 20:19] dmitripivkine commented on #13057
This is official release 0.24.0 from AdoptOpenJDK https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.10%2B9_openj9-0.24.0/OpenJDK11U-jdk_x64_linux_openj9_11.0.10_9_openj9-0.24.0.tar.gz

[code]

@tolgamalachi Would you please try this?

[2021-06-24 20:39] dmitripivkine commented on #13057
Would using German locale change decimal separator?

[2021-06-24 21:11] mpirvu commented on #13038
I looked at the code for #12914 and for non-linux, non-jitserver the only effective change is some reordering of fields in RuntimeAssumptions.hpp: one unused field was deleted, one field was extended and two fields were swapped order to allow better packing. I don't see how this can affect DDR. I am going to try to reproduce this and undo the changes bit by bit until the problem goes away.

[2021-06-24 21:11] hangshao0 commented on #13054
`Grinder/16573/` passed.

[2021-06-24 21:41] JasonFengJ9 commented on #13054
Sounds nothing interesting here.

Closing..

[2021-06-24 21:41] #13054 closed

[2021-06-24 22:22] mpirvu commented on #13055
I agree that we want to print a message only for the first connect. This is easily done on the server. I am not if the client knows the identity of the server. We may have to add an UUID for server as well which is passed back (from the server to the client) when the server realizes its caches are empty and sends a message to get class unload information and CHTable information.

We should print m

[2021-06-25 09:38] tolgamalachi commented on #13057
hi, thanks for your fast response.
you had the right idea, the locale seems to change the behaviour.

![openj9_maxPercentage_90,0](https://user-images.githubusercontent.com/1275311/123403283-e8aff600-d5a8-11eb-9521-80e05e25d397.PNG)

Changing the point to a comma works and changing the locale from `de_DE.utf8` to `en_US.utf8` enables the point instead of the comma.

Normally we use the Corretto JD

[2021-06-25 12:07] JasonFengJ9 opened #13061 "java.lang.module.FindException: Module openj9.criu not found"
Failure link
------------

From an internal build `build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-ppc64le-openj9/192/console`:

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]
OpenJ9 build seems good though.

fyi @tajila @keithc-ca

[2021-06-25 12:18] JasonFengJ9 opened #13062 "TestArrayCopy_openj9_none_SCC_1_FAILED Segmentation error vmState=0x00000000 - Compiled_method=j9vm/test/arrayCopy/ArrayCopyTest.testXtraLargeReferenceArrayCopyBackward(I)V"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly_testList_0/31/
[code]
to rebuild the failed tests in <Jenkins URL>=https://openj9-jenkins.osuosl.org/job/Grinder, use the following links:
05:14:40  https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=functional&P

[2021-06-25 12:23] JasonFengJ9 commented on #12789
Another occurrence at https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/34/consoleFull
[code]

[2021-06-25 12:26] JasonFengJ9 opened #13063 "LambdaLoadTest failed due to insufficient memory - There must be at least 3Gb (3072Mb) free to be sure of capturing diagnostics files in the event of a test failure"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.system_x86-64_linux_Nightly/35/tapResults/
`ub16x64j97`

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]