[2018-11-07 21:49] hangshao0 commented on #3602
`[ERR] JVMSHRC026E Cannot create cache of requested size: Please check your SHMMAX and SHMMIN settings`

I guess this is the same issue as https://github.com/eclipse/openj9/issues/3346. The value of SHMMAX/SHMALL is too small.

[2018-11-07 21:52] hangshao0 commented on #3602
@AdamBrousseau , can you log onto the failed machine to check the setting of SHMMAX/SHMALL ($ sysctl -a | grep shm) ?

[2018-11-07 21:53] llxia commented on #3602
machine: https://ci.eclipse.org/openj9/computer/osx1013-x86-3/

[2018-11-07 22:12] jdekonin commented on #3602
[code]

[2018-11-07 22:19] hangshao0 commented on #3602
[code]

OK. They are only 4MB, which is too small.

[2018-11-07 22:23] pshipton opened #3604 "java.lang.NullPointerException: Cannot get property 'node_labels' on null object"
Not sure if this is an intermittent/jenkins problem or an actual problem.

The pr build started from #3594 resulted in the following. I'm going to restart it and see what happens.

https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK11-linux_x86-64_cmprssptrs-OpenJ9/1/console
[code]

[2018-11-07 22:52] jdekonin commented on #3602
Temporarily set to kern.sysv.shmmax to 31457280, and kern.sysv.shmall to 76800.  Let me know if these are the numbers to use in the general configuration.

Ready to be tested @llxia

[2018-11-07 22:58] #3374 closed

[2018-11-07 22:58] #3375 closed

[2018-11-07 22:58] #3376 closed

[2018-11-08 00:05] #3595 closed

[2018-11-08 00:06] #3604 closed

[2018-11-08 05:06] smlambert commented on #3602
Reran tests, still failures:
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/62/tapResults/

[2018-11-08 11:32] pshipton commented on #3582
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-aix_ppc-64_cmprssptrs/135

[2018-11-08 11:33] pshipton commented on #3583
Did not re-occur

[2018-11-08 11:35] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/135
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/132
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64/75

[2018-11-08 12:40] tsmaeder commented on #3469
@liqunl sorry, this is kinda low on my priority list :-( Will try...

[2018-11-08 13:23] tsmaeder commented on #3469
[javacore.20181108.141219.20950.0002.txt](https://github.com/eclipse/openj9/files/2561890/javacore.20181108.141219.20950.0002.txt)

[2018-11-08 13:34] DanHeidinga commented on #3469
Looking at the stacktrace, there are a number of `org/eclipse/jgit/internal/storage/file/*` classe like `ByteBufferWindow`.  Do these classes have a reference to the ByteBuffer?  Are any of them finalizable?

If you can share the system corefile, we can check some of these things using the `jdmpview` tool and may be able to help debug this faster.

[2018-11-08 13:42] akrus opened #3607 "OpenJ9 (Java 8) 0.9.0 crashed with 'Inconsistency detected by ld.so'"
Hello!

Just had a strange JVM crash. A few seconds after the service start-up (it was establishing the connections at that time) it crashed with the following line:
[code]

No other messages are available.

Some possibly useful details:
[code]
JVM flags:
[code]
OS details:
[code]

Unfortunately there is no core dump or anything else that could help.

[2018-11-08 13:50] akrus commented on #3607
Probably this is related:
https://sourceware.org/bugzilla/show_bug.cgi?id=19329

[2018-11-08 13:55] pshipton commented on #3560
Removing prio:high since the test is now excluded and so not longer failing in the builds

[2018-11-08 13:56] pshipton commented on #3562
Removing prio:high since the test is now excluded and so not longer failing in the builds

[2018-11-08 13:57] pshipton commented on #3561
Removing prio:high since the test is now excluded and so not longer failing in the builds

[2018-11-08 14:33] DanHeidinga commented on #3607
It certainly looks like that glibc bug.  The only thing I can think of is to reproduce with `LD_DEBUG=all` and see if that highlights where the issues occurs in openj9 to see if we can work around it.

[2018-11-08 14:36] akrus commented on #3607
I'll check if I can reproduce this bug as it just appeared for the first time.

It looks like a workaround is to use a static build.

[2018-11-08 14:40] keithc-ca commented on #3469
This happened to me twice this morning as I was trying to start eclipse. I have core files: how should I share them?

[2018-11-08 14:43] AdamBrousseau commented on #3573
Updated desc.
The feature we need was reported to be `released in beta` on Oct 4. I'm not sure when this will come to LTS. I don't see reference to the item in the non-lts changelog so it could be a little while yet.

[2018-11-08 14:59] keithc-ca commented on #3469
I was using Java 11:
[code]

[2018-11-08 16:01] keithc-ca commented on #3227
This should be resolved by https://github.com/eclipse/omr/pull/3157: it should be safe to re-instate https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/28.

[2018-11-08 16:10] liqunl commented on #3469
I got the core from @keithc-ca and am investigating the jitted code to see if anything's wrong from the jit side.

[2018-11-08 16:17] hangshao0 commented on #3602
@renfeiw Tried on his MAC, things worked after setting kern.sysv.shmmax to 325058560 (310M) and kern.sysv.shmall to 79360 (310M).

[code]

[2018-11-08 16:49] gacholio commented on #3373
Many thanks to everyone who pushed this along, particularly @0dvictor for the common stack map code and initial prototype on X, and @fjeremic for the greatly-simplified platform code and general diligence throughout this process.

[2018-11-08 16:54] gacholio opened #3608 "Remove specialized wide bytecodes"
Given how infrequently wide bytecodes are used, there seems little point optimizing them in the interpreter. I suggest removing iloadw, etc and going back to "wide iload". This reclaims some space in the bytecode table at what will almost certainly be no performance cost (JITted code will be completely unaffected by this change).

[2018-11-08 16:57] pdbain-ibm commented on #2872
Pull request for PPCLE: https://github.com/eclipse/openj9/pull/3087
Leaving this open to check for other places to enable this option.

[2018-11-08 16:58] gacholio commented on #3590
I also find this distressing:

https://github.com/eclipse/openj9/blob/master/runtime/compiler/control/J9Options.cpp#L2367

[2018-11-08 17:12] liqunl commented on #3469
I have looked at jitted code in the top 4 frames, didn't find anything wrong. I suspect it's a vm issue. Notice that `java/nio/ByteBuffer.get` is intepreted, so I didn't go any further.
[code]

[2018-11-08 17:38] jdekonin commented on #3602
I have made those settings on the machine to get to the next failures.
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/64/console

`[ERR] JVMSHRC277E To run the "snapshotCache" utility on a nonpersistent shared cache "ShareClassesCMLTests", you must also use the "nonpersistent" suboption`

[2018-11-08 17:55] andrewcraik commented on #3582
@hzongaro could you take a look - this is probably a regression from a recent change so establishing a last known working and first failing might let us see from the commits what might have gone wrong.

[2018-11-08 18:03] fjeremic commented on #3590
Tracked down the original author of this from the internal repo before we open sourced. It's in SHA 6511ab44c047f4381f50900adba4af79ffefc6ee. Author was @cathyzhyi with the following message:

[2018-11-08 18:11] ChengJin01 commented on #3441
I already created a PR at https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/202 to exclude WindowsVirtualMachine related classes (attach.dll never generated during compilation). The assertion failure still occurs with the compiled build in IntelliJ.
[code]
The result confirms that JVM_EnqueueOperation was not invoked from OpenJ9.
Given that the assertion failure disappeared after removing jr

[2018-11-08 18:20] gacholio commented on #3590
OK great, just wanted to make sure we weren't paying that penalty in more common cases.

[2018-11-08 18:37] gacholio commented on #3373
Just a heads up - I just saw a failure of the new test (decomp003-NONFSD) on AIX, which I have been unable to reproduce manually:

[code]

[2018-11-08 18:42] fjeremic commented on #3373
Interesting. I don't see a reason why it wouldn't fail on plinux given they share the same code. @gita-omr FYI in case we need help to take a look. The common piece of code was delivered in #3598.

[2018-11-08 18:44] gacholio commented on #3373
I'll keep an eye out for similar failures, and maybe improve the test a bit (I've done exactly what I always complain about - hidden any useful debug information when the test fails).

[2018-11-08 18:59] JamesKingdon commented on #3469
If that's a gpf from memory that appears readable in the core, chances are the DBB has been unmapped. I've never seen this happen in the org.eclipse packages before though.

[2018-11-08 19:03] gacholio commented on #3373
At a guess, the problem would most likely be that a catch map got merged away. I'm not clear on what was done to prevent that.

[2018-11-08 19:07] DanHeidinga commented on #3565
I've opened PR #3609 as a way to test whether this change was the culprit as I'm running into issues building windows locally.

[2018-11-08 19:19] fjeremic opened #3610 "Deprecate `getAccessStaticsIndirectly`"
@liqunl has been doing some work in the area of static final fields. She came to as with a question about `getAccessStaticsIndirectly` which is used in the Walker to determine which of the following tree sequences we generate for accessing static fields:

[code]

or

[code]

The code in question which controls this can be found in [1]. Currently the only setter of this is in the Z codegen on z9 or

[2018-11-08 19:19] fjeremic commented on #3610
@dhong44 since you are completing #3577 we can tackle this one after.

[2018-11-08 19:21] hangshao0 commented on #3602
OSX needs to be added to the following line:
https://github.com/eclipse/openj9/blob/master/test/functional/cmdLineTests/shareClassTests/SCCMLTests/testSCCMLSnapshot.xml#L135

[2018-11-08 19:31] DanHeidinga opened #3611 "Investigate use of transparent large pages when set to [madvise]"
While OpenJ9 already uses transparent_hugepages, it doesn't when the enabled setting is set to `[madvise]`:

[code]

Investigate whether we should use `MADV_HUGEPAGE` & `madvise` to allocate the heap and / or the code cache.

[2018-11-08 19:32] DanHeidinga commented on #3611
Resources:
* https://lwn.net/Articles/423592/
* https://stackoverflow.com/questions/30470972/using-mmap-and-madvise-for-huge-pages

[2018-11-08 19:40] fjeremic commented on #3373
The code @0dvictor delivered as part of #3463 and more specifically the line in [1] checks the same query used to generate the stack map as delivered in #3598. So _in theory_ we should not have merged GC maps belonging to catch blocks.

[1] https://github.com/eclipse/openj9/pull/3463/files#diff-4e3b1a3c145fc0a879cf6bd655b245ffR1336

[2018-11-08 19:48] 0dvictor commented on #3373
#3463 allows merging the catch map if the previous one has identical bytecode info and GC info. Would that cause any issue? You can remove `mapCursor->isByteCodeInfoIdenticalTo(nextMapCursor) ||` from https://github.com/eclipse/openj9/blob/22e0009fda531be602d728ea128f4ad9b4d289fd/runtime/compiler/runtime/MetaData.cpp#L706 to rule it out.

[2018-11-08 19:50] gacholio commented on #3373
I don't think that should cause an issue - if I can locate a map with the correct BCI using the catch address (well, catch address + 1 techinically), then we're fine. I assume when merging maps, the merged map will certainly cover all of the instructions covered by both maps.

[2018-11-08 21:00] 0dvictor commented on #3373
Yes, since the two maps are merged only if they have identical bytecode info and GC info.

[2018-11-08 21:21] babsingh commented on #3323
The `object.h` change is needed to workaround an OSX 10.10 specific bug. @jdekonin setup the machines with OSX 10.11 where the `object.h` workaround is not needed.

**Note:** One won't be able to edit `object.h` on OSX >= 10.11 without [disabling System Integrity Protection (SIP)](https://www.imore.com/how-turn-system-integrity-protection-macos), which is a tedious step.

fyi - @sxa555

[2018-11-08 21:50] pshipton opened #3614 "Missing JNICALL in system.c::418"
As per the review comment in #3609 there is a missing JNICALL in https://github.com/eclipse/openj9/blob/b39fa065a98484fad880c97c9d51cc04df41129e/runtime/jcl/common/system.c#L424

[2018-11-08 21:51] #3565 closed

[2018-11-08 21:56] #3597 closed

[2018-11-08 22:29] pshipton commented on #3582
First failing build
02:09:09 [echoproperties] java8.OMR=- c7354fb
02:09:09 [echoproperties] java8.OpenJ9=- 1b4749f

Previous build
02:39:26 [echoproperties] java8.OMR=- c7354fb
02:39:26 [echoproperties] java8.OpenJ9=- 87bc828

87bc828...1b4749f

[2018-11-08 23:14] #3602 closed

[2018-11-08 23:31] pshipton commented on #3469
fyi that @keithc-ca ran Eclipse with -Xint and reproduced the crash.

[2018-11-08 23:52] #3401 closed

[2018-11-09 00:01] #3349 closed

[2018-11-09 13:14] pdbain-ibm commented on #3175
For the record via @DanHeidinga :
```If the underlying field is final, the method throws an IllegalAccessException unless setAccessible(true) has succeeded for this Field object and the field is non-static. Setting a final field in this way is meaningful only during deserialization or reconstruction of instances of classes with blank final fields, before they are made available for access by other

[2018-11-09 13:38] iatif91 opened #3618 "handshake_failure with GCM when NativeCrypto enabled"
We're having  a "fatal, handshake_failure" in the step "server change_cipher_spec" as shown in the following logs:

[code]

The application runs in a RHEL7.4 docker container. (OpenSSL not installed)

The parameter crypto.policy is set to unlimited.

OpenJDK version used:
[code]

_Expected behaviour:_
Working fine as OpenSSL is bundled with the OpenJDK8 192

_Workaround:_
Disabling native crypto f

[2018-11-09 13:48] pshipton commented on #3618
@ashbm5 @enasser @mbvreddy

[2018-11-09 13:53] charliegracie commented on #3469
@keithc-ca would it be possible to reproduce with `-Xverbosegclog:<filename>` and provide the GC log?

[2018-11-09 13:58] pdbain-ibm commented on #3175
... though the test expects final static fields to be accessible.

[2018-11-09 14:13] #3614 closed

[2018-11-09 14:18] andrewcraik commented on #3175
@liqunl note the discussion above since it will be relevant to whether we can fold these accesses at compile-time without protecting them with decompilation points.

[2018-11-09 14:29] mpirvu opened #3620 "Investigate 2.2% AcmeAir throughput drop with JITaaS"
After merging the code from openj9/master into jitaas we observed a 2.2% througput drop for AcmeAir. The non-jitaas build is stable.

[2018-11-09 14:30] mpirvu opened #3622 "Improve throughput for JITaaS prototype"
Placeholder for various issues related to JITaaS throughput

[2018-11-09 14:30] pdbain-ibm commented on #3175
Technically, the test is wrong since it doesn't obey the restriction
`setAccessible(true) has succeeded for this Field object and` **the field is non-static**.
Should we appeal the tests which expect `static final` fields to be accessible?

[2018-11-09 14:31] pdbain-ibm commented on #3180
I will investigate.

[2018-11-09 14:33] andrewcraik commented on #3175
It is definitely worth pushing back on any cases where modifications of finals are expected to be reflected at runtime in a test when the spec disallows this behavior IMO. This behavior requires the compiler to add safety checking code and fallback paths that increase code size and can reduce performance.

[2018-11-09 14:52] pdbain-ibm commented on #3175
@smlambert This jtreg test is testing behaviour contrary to the spec.  Can we open a pull request against the test in question?  I would prefer not to exclude the test.

[2018-11-09 14:56] pdbain-ibm commented on #3175
Further to
https://github.com/eclipse/openj9/issues/3175#issuecomment-437377048:  , note that the code doesn't necessarily need to work correctly after setting the field:
`Use in any other context may have unpredictable effects, including cases in which other parts of a program continue to use the original value of this field.`

[2018-11-09 16:16] andrewcraik commented on #3582
Given the nature of the test failures my suspect would be https://github.com/eclipse/openj9/commit/54192d2e1e604d015e1e0863c80e040265a7d230 - testing a revert of that change may allow us to at least jump to the conclusion that the change is in some way related. FYI @cathyzhyi. The priority of this only goes up if that change is the cause since it was needed to fix another problem that was causing

[2018-11-09 16:18] andrewcraik commented on #3373
Yes map merging just eliminates one of the two maps to allow one map to cover a larger range. Since the BCI is being considered as part of the comparison I believe it should suit the purpose fine. You will get the info you need and be none the wiser how the JIT chose to deliver that information to you (eg by map merging).

[2018-11-09 16:20] hzongaro commented on #3582
Yup - I was guessing it could be 54192d2.  Trying it out. . . .

[2018-11-09 16:41] smlambert commented on #3175
I believe questions regarding openjdk test material can be raised through the openjdk forums, mailings lists (as @ben-walsh and others in the CL team can do).  Defects can be reported at the [openjdk bug database](http://bugs.openjdk.java.net )...  typically, before a new issue raised, we should be checking if this is already reported as a bug, some guidance here: https://github.com/AdoptOpenJDK/o

[2018-11-09 16:49] gita-omr commented on #3373
@gacholio were you able to reproduce the AIX failure above?

[2018-11-09 17:01] adamfarley commented on #3175
Adam Farley and Andrew Leonard are Authors, not Comitters.

Authors can:
- Create Bug reports for use by the OpenJDK community
- Modify existing bug reports
- Upload files to those bug reports
- Advise on how to contribute code for review by the OpenJDK community.

Authors cannot:
- Integrate new code into OpenJDK without a committer's approval.

See here for a guide on contributing code to OpenJD

[2018-11-09 17:06] pdbain-ibm commented on #3175
@adamfarley or @andrew-m-leonard would you kindly check if a bug against this issue has been opened?

[2018-11-09 17:08] adamfarley commented on #3175
OpenJDK bugs can be searched for on Google. Waiting for one of us to free up time will block you unnecessarily.

[2018-11-09 17:11] adamfarley commented on #3175
Googled it for you anyway. The only OpenJDK bug that references TestFieldLookupAccessibility is:
https://bugs.openjdk.java.net/browse/JDK-8153963

[2018-11-09 17:28] pdbain-ibm commented on #3175
That doesn't cover this issue (static final fields): it is for access tests across module boundaries.

[2018-11-09 17:49] dmitry-ten commented on #3504
I see. Then we could store persistent method info in `TR_MethodToBeCompiled`.

[2018-11-09 18:07] smlambert commented on #3175
Yes, I was NOT suggesting Adam or Andrew look up the defect, since anyone can (as I thought was indicated by the wiki link I shared), apologies for not being more clear.

I was suggesting if there needed to be either a defect raised or a PR submitted, that Adam or Andrew could potentially help.

[2018-11-09 18:14] gita-omr commented on #3373
I can only  see setReportByteCodeInfoAtCatchBlock under FSD. Was not the idea to enable it without FSD?
Also, I think we wanted to disable throw->goto optimizations. I am not sure I seen that in all the commits.

[2018-11-09 19:44] gacholio commented on #3373
10K runs on AMD64 with no errors - will try some on P.

@gita-omr Look in #3389

[2018-11-09 19:53] fengxue-IS commented on #3611
looking into this

[2018-11-09 20:42] nbhuiyan commented on #3496
Some updates regarding this issue...

In order to succeed running the configure script and building OpenJDK8, we need to set the environment variable `MACOSX_DEPLOYMENT_TARGET=10.8`. I discovered that this forces Clang in Xcode7 to fall back to always using stdlibc++ (a very outdated version of it), which is why @babsingh faced issues with building the JIT. With some messy manual work, I was able

[2018-11-09 20:52] gita-omr commented on #3373
Thanks. Was looking at slightly older code...

[2018-11-09 21:51] dmitry-ten commented on #3585
Looking at the VM code, it is identical for both enter and exit tracing.
[code]
So we can just send one boolean per method, instead of 2.

[2018-11-09 22:28] babsingh commented on #3496
The above manual work can be avoided if `MACOSX_VERSION_MIN` is changed from `10.7.0` to `10.9.0` in JDK8 extensions repo. With https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/206 (fix), OpenJ9 JDK8 can be built in one step; the JIT doesn't need to be built separately.

[code]

[2018-11-09 22:37] babsingh commented on #3496
@nazim is going to open a PR to change [runtime/compiler/makefile.ftl](https://github.com/eclipse/openj9/blob/master/runtime/compiler/makefile.ftl#L91) from:
[code]
to:
[code]

With Nazim's PR and ibmruntimes/openj9-openjdk-jdk8#206, entire OpenJ9 can be built with Xcode7 and the default clang/clang++. This will remove the dependency on `libstdc++.6.0.9` and allow us to close this issue.

[2018-11-10 02:36] llxia opened #3630 "jit_tr_0 failed with NullPointerException in JITaaS JDK8 build"
**java -version**
[code]

**test results**
NullPointerException is thrown from TestNG at the end of each test group in `jit_tr_0`. TestNG output has both PASSED and FAILED for the same test.

[code]

fyi @mpirvu @harryyu1994

[2018-11-10 02:41] llxia opened #3631 "testSCCMLTests1_openj9 failed in JITaaS JDK8 build"
**java -version**
[code]

**testSCCMLTests1_openj9 test results**
[code]
fyi @mpirvu @harryyu1994

[2018-11-10 02:49] llxia opened #3632 "jsr292Test_JitCount0_SE80_0 crashed on JITaaS JDK8 build"
java -version

[code]

jsr292Test_JitCount0_SE80_0 test results:
[code]
fyi @mpirvu @harryyu1994

[2018-11-10 03:06] llxia commented on #3631
testSCCMLTests3_1 failed - `Required condition was not found: [Output match: AOT:]` and ` Required condition was not found: [Output match: JITPROFILE:]`

[code]

Simliar issue for lots of SC tests:
Testing: Test 122: Test -Xshareclasses:printallstats=all,printdetails
Testing: Test 123: Test -Xshareclasses:printallstats,printdetails
Testing: Test 124: Test -Xshareclasses:printOrphanStats
...

[2018-11-10 03:12] llxia commented on #3631
Similar failure in:
testSCCMLSoftmx_1
testSCCMLAotMethodOperation_1
cmdLineTester_shrcdbgddrext_1

[2018-11-10 03:16] llxia opened #3634 "MauveSingleThreadLoadTest_0 crashed in JITaaS JDK8 build"
java -version
[code]
MauveSingleThreadLoadTest_0 test results
[code]

[2018-11-10 06:46] mpirvu commented on #3585
I agree with your suggestion only if we make jitMethodExitTracingEnabled call jitMethodEnterTracingEnabled in the mainline. This minimizes (but does not eliminate) the possibility of someone changing the implementation to make them different.

[2018-11-10 06:47] mpirvu commented on #3585
Even better, we should only have one method called `jitMethodEnterExitTracingEnabled`

[2018-11-10 13:22] mpirvu opened #3635 "Implement ability to double compile a method: remote and locally"
It would be nice if the client could submit a logging compilation request to the JITaaS server and then repeat the same compilation locally, again with logging.
This would allow us to compare the two logs (remote and local) for the purpose of tracking changes that lead to performance gaps.

[2018-11-10 19:48] gacholio commented on #3373
10K runs on Linux PPC LE with no issues. 15 failures in 10K runs on AIX.

[2018-11-10 23:09] avermeer opened #3636 "AdoptOpenJDK11 with EclipseJ9 3x slower than HotSpot on AES & RSA encoding & decoding"
Hello,

I have identified that EclipseJ9 is x3 shower than HotSpot (using AdoptOpenJDK11 on Linux) for AES and RSA encoding and decoding.

Here's a sample code to reproduce the issue with 200000 iterations doing the following sequence:
1. AES 128 decoding
2. RSA 512 decoding
3. RSA 512 encoding
4. AES 128 encoding

Results on a physical machine Linux CentOS 7.4.1708 with 8 cores - Intel(R) Xeon(R)

[2018-11-11 04:01] gacholio commented on #3373
The failure rate is low enough that the results can't really be trusted. I'll instrument the test to gather core at the point of failure so we can see what the stack maps look like.

[2018-11-11 04:02] gacholio commented on #3373
One question occurs - the way @0dvictor detects the unmergeable maps - is it possible that the stack map might migrate during optimizations, and would not be detected in the unmergeable map test?

[2018-11-12 09:04] jsonyu opened #3637 "javax.net.ssl.SSLException: Received fatal alert: bad_record_mac on openj9 0.11.0"
ok my application which connects to an external service via HTTPS using HttpClient is failing when using jdk8u192-b12_openj9-0.11.0:

`javax.net.ssl.SSLException: Received fatal alert: bad_record_mac
        at sun.security.ssl.Alerts.getSSLException(Alerts.java:208)
        at sun.security.ssl.Alerts.getSSLException(Alerts.java:154)
        at sun.security.ssl.SSLSocketImpl.recvAlert(SSLSocketImp

[2018-11-12 09:56] bharathappali commented on #2838
@SueChaplain Thanks for pointing it. Created the issue [openj9-docs/issues/136](https://github.com/eclipse/openj9-docs/issues/136). Will be updating it accordingly.

[2018-11-12 11:32] lmajewski commented on #2585
Thanks @ymanton  for your investigation.

As one can see above - code which on the first glance doesn't require FP support, needs one.
I think that the only feasible solution would be to:

1. Enable full FPU support in the kernel (also some fpu instructions - like sqrt() are implemented in libc)
2. Recompile the whole SW stack with (-mcpu=powerpc, do not use SPE at all)
3. Only then use the OpenJ9

[2018-11-12 11:55] circlespainter commented on #3637
Hi, happening to me too. I think I found a simple enough way to reproduce it: https://github.com/circlespainter/openj9-issue-3637

[2018-11-12 12:38] keithc-ca commented on #3469
I'll give that a spin later today after I'm in the office.

[2018-11-12 14:04] pshipton commented on #3636
@ashbm5

[2018-11-12 14:05] pshipton commented on #3636
@vijaysun-omr

[2018-11-12 14:06] pshipton commented on #3636
@avermeer you are correct, JDK11 is not using openssl acceleration yet, only jdk8. jdk11 support for openssl is expected in a future version https://github.com/ibmruntimes/openj9-openjdk-jdk11/issues/31

[2018-11-12 14:12] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/81
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64/78
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/138

[2018-11-12 14:13] pshipton commented on #3582
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_ppc-64_cmprssptrs_le/139
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_390-64_cmprssptrs/155
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/138
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/135

[2018-11-12 14:13] DanHeidinga commented on #3636
@pshipton is ibmruntimes/openj9-openjdk-jdk11#31 expected to land in the `0.12.0` release?  If that's the case, we should open a tracking issue here and assign to the `0.12.0` milestone

[2018-11-12 14:41] pdbain-ibm commented on #2872
Working on OMR.

- MacOS and zTPF already enable `no-strict-aliasing` in `omr/omrmakefiles/rules.osx.mk` and `omr/omrmakefiles/rules.ztpf.mk`
- `omr/omrmakefiles/rules.linux.mk` enables this option for zLinux
- It is not currently enabled on xLinux, aarch64, ARM, or LinuxPPC; Adding that.

[2018-11-12 14:47] pshipton commented on #3636
@ashbm5 @enasser ?

[2018-11-12 14:56] DanHeidinga commented on #3491
@yanluo7 Can you add the `-Xjit` option to the `IBM_JAVA_OPTIONS` environment variable?  That may work around the grinder script having to parse it.

Given the regularity of the failures, do you need the grinder or can it be tested on a local machine?  Feel free to ping me via Slack if you need help finding a machine to test this on

[2018-11-12 15:02] pshipton commented on #3580
@sxa555 not sure what you are asking about. **What** may cause a negative impact, static linking?

[2018-11-12 15:41] sophia-guo commented on #2100
Tests have been enabled for 8 and 11. Close it.

[2018-11-12 15:41] #2100 closed

[2018-11-12 16:30] dmitry-ten opened #3640 "jsr292Test_jitCount0_SE80_0 crashes with Known Object Table disabled"
Test segfaults, because `runFEMacro` case `java_lang_invoke_FilterArgumentsHandle_filterArguments` assumes that Known Object Table is enabled.
The easiest thing to do would be to check if KOT is enabled before accessing it, but it seems that the code relies heavily on the table existing, so I'm not sure if simply skipping it wouldn't affect correctness.

[2018-11-12 16:31] dmitry-ten commented on #3640
@mpirvu this is relevant to JITaaS, since we do not support Known Object Table.

[2018-11-12 16:48] mpirvu commented on #3622
AcmeAir throughput gap is 5.8% when using optLevel=noOpt. The investigation should start from this data point.
[code]

[2018-11-12 17:16] mpirvu commented on #3640
Does the non-jitaas build run with disableKnownObjectTable? I assume not because we would crash when accessing it here:
[code]
It's worth asking someone from the opt team what is the right/safe path for this code when KOT is disabled and then follow that path for JITaaS.

[2018-11-12 17:17] #3202 closed

[2018-11-12 17:20] dmitry-ten commented on #3640
No, it doesn't run with disabled known object table.
But I think it needs to be changed in baseline code as well, because just assuming that it's enabled doesn't seem right.

[2018-11-12 17:30] mpirvu commented on #3640
Correct, the baseline needs to be changed to allow for disableKnownObjectTable option

[2018-11-12 17:33] smlambert commented on #3491
Assume this issue is related: https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/188

[2018-11-12 17:48] smlambert commented on #3491
Running internal Grinder/#700 (based off @yanluo7 Grinders which look like tanked with a machine issue).

[2018-11-12 17:57] 0dvictor commented on #3373
FYI, there is an outstanding OMR Issue about the inaccuracy of a node's bytecode info: https://github.com/eclipse/omr/issues/3153

[2018-11-12 18:12] gita-omr commented on #3373
Thanks. But even if a node has a correct BCI, it can be moved around or eliminated.

[2018-11-12 18:18] keithc-ca opened #3641 "Remove workaround for Java 12 in java.lang.Access.defineClass()"
https://github.com/eclipse/openj9/pull/3638 introduces a workaround that should be removed. Ideally the behavior of that method should be the same for all versions of Java.

[2018-11-12 20:52] gita-omr commented on #3373
Just talked to @andrewcraik and he said we ensure BCI is accurate for catch blocks even in non-FSD mode.

[2018-11-12 21:02] theresa-m commented on #3637
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/145 is the culprit @ashbm5

This build fails the test:
[code]

This build passes:
[code]

[2018-11-12 21:14] ChengJin01 commented on #3441
@pshipton,  I looked over the issue explained/closed at https://github.com/eclipse/openj9/issues/2275 and I believe this is the exactly same problem as what we had here.  It already explained what happened to the native stack:
[code]
which is the same result we encountered in IntelliJ. So the backtrace collected previously was correct that the invocation of JVM_EnqueueOperation came from IntelliJ.

[2018-11-12 21:44] andrewcraik commented on #3373
Note that eclipse/omr#3153 is looking at a slightly different angle on the correctness issue.

[2018-11-12 21:46] pshipton commented on #3441
@ChengJin01 I think we should still proceed with  ibmruntimes/openj9-openjdk-jdk8#202

[2018-11-12 21:52] ChengJin01 commented on #3441
Will verify the changes with WindowsVirtualMachine  at ibmruntimes/openj9-openjdk-jdk8#202 after updating.

In addition, this issue here should be marked as duplicate with #2275

[2018-11-12 21:56] pshipton commented on #3441
Similarly to #2275, we should contact IntelliJ and ask they include the OpenJ9 tools.jar in addition to the Hotspot version, and use the appropriate tools.jar that matches the JVM.

[2018-11-12 22:34] pshipton commented on #3637
There is only one change, to enable ssl by default
https://github.com/ibmruntimes/openj9-openjdk-jdk8/compare/3f58849...6eea72c

@ashbm5 @enasser @mbvreddy

[2018-11-12 22:36] ChengJin01 commented on #3441
Request has been created at https://intellij-support.jetbrains.com/hc/en-us/requests/1864909 to track the issue.

[2018-11-12 23:03] 0dvictor commented on #3558
I've investigated the issue on plinux. Removing `stdc++` from following line resolves the issue.

https://github.com/eclipse/openj9/blob/6a0d9ce716377ddc2e084950180868ba92210f5e/runtime/compiler/build/toolcfg/gnu/common.mk#L435

We explicitly links to `libstdc++` on both P and Z, but not on X. @fjeremic @gita-omr @ymanton do you know why we have to explicitly link to `libstdc++` on Z and P?

Quote

[2018-11-13 00:05] DanHeidinga commented on #3637
As a workaround while we resolve this, you should be able to run with `-Djdk.nativeCrypto=false` to disable openssl crypto.

[2018-11-13 00:18] gita-omr commented on #3558
I don't know why we do it specifically for P and Z. Maybe @ymanton or @zl-wang know...

@AlenBadel, just fyi.

[2018-11-13 00:37] jsonyu commented on #3637
Thanks Dan.. this workaround works!

[2018-11-13 01:05] keithc-ca commented on #3469
I ran with `-Xverbosegclog` all day today: no crashes yet.

[2018-11-13 04:35] ymanton commented on #3558
The explicit `-lstdc++` for the GCC makefile for Power has been there nearly forever  but I don't know why it was originally added. However, the GCC makefiles were hardly ever used in the past; the Power Linux builds used XLC. At the time we went to static linking of the C++ library the change was done for the XLC builds, not the GCC builds that were unused and unsupported.

[2018-11-13 04:46] gita-omr commented on #3558
That’s a good explanation. Thanks.

[2018-11-13 05:44] #3496 closed

[2018-11-13 12:46] JasonFengJ9 opened #3651 "Test-sanity.system-JDK11-linux_390-64_cmprssptrs TestJlmRemoteXX failures due to Exiting as JVM we are connected to has finished"
TestJlmRemoteClassNoAuth_0
[code]

Similar failures at `TestJlmRemoteMemoryAuth_0` and `TestJlmRemoteMemoryNoAuth_0`.

[2018-11-13 13:00] JasonFengJ9 opened #3652 "Test-sanity.functional-JDK11-win_x86-64_cmprssptrs gccheck failure: U64 contains value larger than Long.MAX_VALUE"
[code]

[2018-11-13 13:02] JasonFengJ9 commented on #2847
Still happening:

[code]

[2018-11-13 13:39] pdbain-ibm commented on #2872
Ran a build with preliminary pull request https://github.com/eclipse/omr/pull/3185.
Requested performance testing on Linux X86 and Linux PPC LE.

[2018-11-13 15:13] hangshao0 commented on #2847
Still the same issue. I see copy file failed in FindStore.BuildVerify. So far this failure only happens in internal Jenkins machine.

[2018-11-13 15:35] pshipton commented on #3652
@JasonFengJ9 on what sha's did the problem occur?

@keithc-ca fyi

[2018-11-13 15:37] ChengJin01 commented on #3441
The request was reported to https://youtrack.jetbrains.com/issue/JRE-1037

[2018-11-13 15:38] #3558 closed

[2018-11-13 15:40] pshipton opened #3653 "Test-extended.functional-JDK11 gcPolicyNogcOOMTest_0"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_ppc-64_cmprssptrs_le/77
[code]
[code]

[2018-11-13 15:40] pshipton commented on #3653
@LinHu2016

[2018-11-13 15:46] pshipton commented on #3081
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/130
[code]

[2018-11-13 15:51] pshipton commented on #3582
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/139
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/136

[2018-11-13 15:51] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/139
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64/79
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/136

[2018-11-13 15:52] keithc-ca commented on #3652
Do we have the core file so this could be run manually (with additional details logged)?

[2018-11-13 16:02] pdbain-ibm opened #3654 "Move DTFJ_TCKs into OpenJ9"
Further to
https://github.com/eclipse/openj9/pull/3564#discussion_r233092267,
debugtools/DDR_VM/test.xml is not in the OpenJ9 automated builds.

[2018-11-13 16:10] gacholio commented on #3410
@planetf1 We're working to allow Object to be redefined. Can you provide a reproducible test I can run to very the feature?

[2018-11-13 16:33] keithc-ca opened #3656 "Missing support for ARM processors"
At least these classes, in `debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker`, need changes to support ARM processors:
[code]
instead of throwing `IllegalArgumentException("Unsupported platform")`.

[2018-11-13 16:53] pshipton commented on #3656
#53
@knn-k fyi

[2018-11-13 17:04] JasonFengJ9 commented on #3652
@pshipton the jvm in question is:
[code]

[2018-11-13 17:18] mstoodle commented on #2143
was also seen during testing here: https://github.com/eclipse/openj9/pull/3324#issuecomment-438327158

[2018-11-13 18:11] gacholio commented on #3373
Instrumented the test - the problem is at the throw, not the catch:

 [ERR] throw: 10021b00de0 0 catch: 10021b00de0 6

The thrower has detected the wrong catch PC.

[2018-11-13 18:20] gacholio commented on #3373
Instrumented the test - the problem is at the throw, not the catch:

 [ERR] throw: 10021b00de0 0 catch: 10021b00de0 6

The thrower has detected the wrong catch PC.

The code to determine the catching method and pc is at:

https://github.com/eclipse/openj9/blob/master/runtime/codert_vm/CodertVMHelpers.cpp#L323

The method is correct, but getCurrentByteCodeIndexAndIsSameReceiver is not returning the

[2018-11-13 18:33] mpirvu opened #3658 "Health check for JITaaS server"
It would be nice to have some sort of validation that the JITaaS server is actually doing its job as it's supposed to do. Currently, one could specify `-Xjit:verbose={JITaaS}` for the JITaaS server which will output to stderr some messages regarding the compilation requests and their outcome. Moreover, this output can be directed to a file by specifying the `vlog=pathToVlog` option.

However, the

[2018-11-13 18:43] gacholio commented on #3373
The particular failure in this case is in jitTest1, which throws from an inlined frame a catch in the outer frame.

[2018-11-13 18:46] hzongaro commented on #3582
Reverting 54192d2 did not eliminate the failure.  I've been working my way backwards, and found that I'm able to reproduce the failures as far back as versions of OpenJ9 and OMR from 2018-10-25 08:00:00 - OpenJ9 commit cca013612a and OMR commit [a3cdbeb](http://github.com/eclipse/omr/commit/a3cdbeb1124e508a3ab831f9e102203c7b8f30b0)

The failure is intermittent, and sometimes affects `BigInteger.mu

[2018-11-13 19:24] keithc-ca commented on #3652
After enabling more logging detail:
[code]
we see:
[code]

[2018-11-13 19:32] andrewcraik commented on #3373
we need to make sure we mark the throw map as requiring the BCI to match for merging then to make sure both sides show the right bytecode info if I read this right...

[2018-11-13 19:41] gacholio commented on #3373
Not quite - the throw event reports the method/pc of both the thrower and the likely catcher - I'm only testing the catcher information (ensuring the throw and catch events report the same catch point).

[2018-11-13 20:18] gacholio commented on #3373
The test code:

https://github.com/eclipse/openj9/blob/master/runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/decompResolveFrame/decomp003.c
https://github.com/eclipse/openj9/blob/master/test/functional/cmdLineTests/jvmtitests/src/com/ibm/jvmti/tests/decompResolveFrame/decomp003.java

[2018-11-13 20:23] mpirvu opened #3661 "Create a sampling thread at JITaaS server"
Currently the sampling thread is disabled at the JITaaS server because there is no much use for it
[code]
However, the JITaaS server could benefit from the sampling from two points of view
1) Keep track of time
2) Allow some activities to be performed periodically, like a health-check.

[2018-11-13 20:29] fjeremic commented on #3373
At this point I think we'll need a log for further investigation. Given the above test it seems only one method is being compiled and as I understand the test runs very quickly at `-Xjit:count=0`, so the compilation will be synchronous and deterministic, meaning logging won't affect failure rate (in theory).

My suggestion is to attempt to reproduce the problem while logging the method via

[code]

[2018-11-13 20:31] fjeremic commented on #3373
I believe the `tracefull,log=log` has to be part of a method regex, so this would be the correct way:

[code]

[2018-11-13 20:33] gacholio commented on #3373
I've updated the command line and will grind the test.

[2018-11-13 21:04] yanluo7 commented on #3491
With help from Mesbah, found a workaround re. parsing of -Xjit argument -- needed to escape the `"` characters. As earlier analysis indicated that the underlying object array of a HashMap object contains bad object pointer, so narrowing down among HashMap.* methods. So far if one method- HashMap.resize is compiled with oplevel cold or noopt, the failure disappears. Getting a log to see...

[2018-11-13 21:14] pshipton commented on #3333
eclipse/omr#3125 is merged. @hangshao0 can you please create a new PR to enable bootstrap class sharing by default. I can't revert #3337 automatically.

[2018-11-13 21:34] dsouzai commented on #3333
Btw, eclipse/omr#3125 was the most likely culprit for the AOT issue, but I'm not 100% certain it was the only cause of the issues we were seeing, so it would be worth running a few grinders on misc jobs to make sure.

[2018-11-13 21:53] pshipton commented on #3333
Right, I'll be running many sanity tests on the new PR before merging, we can try the grinders as well.

[2018-11-13 21:59] hangshao0 commented on #3333
There were two PRs originally, I will merge those two PRs into one single PR. Need to run some manual test locally, I will create a PR once it is done.

[2018-11-13 23:19] #3516 closed

[2018-11-13 23:39] gacholio commented on #3373
@andrewcraik @gita-omr Failures with logs provided in the interlock slack. The symptom seems the same - in the failing tests, every throw in the test gets the correct method, but 0 for the bytecode index.

I dumped internal stack traces at throw and catch which seem reasonable. At the catch point, the index is correct, so this may be down to how the code I use to find the catcher in the throw even

[2018-11-13 23:42] gacholio commented on #3373
@andrewcraik @0dvictor Further to our phone discussion, the BCI of the stack map at any throw point also needs to be correct (even outside of FSD). This includes explicit throws via the athrow bytecode, and any implicitly-thrown exceptions from NPE traps, resolves, etc.

I'm going to reopen this item while we investigate.

[2018-11-14 00:37] vijaysun-omr commented on #3636
v0.11.0 is a release of OpenJ9 that is used in both JDK11 and JDK8.
The "what's new" page does mention the fact that OpenSSL support was only available on JDK8 but maybe you were considering that page to be about what is in JDK11 (perhaps thinking that v0.11.0 is somehow associated only with JDK11 ?).
I think @enasser will likely be the one to confirm if the JDK11 support will land in v0.12.0 of O

[2018-11-14 01:05] gita-omr commented on #3373
Just wanted to clarify...
There are two call backs - cbException and cbExceptionCatch. Both return catcher’s method and location. We are tying to test if they are the same. They are not, but which one is incorrect? The catch location returned by cbException? Does cbException use GC maps as well?

[2018-11-14 01:19] knn-k commented on #3656
Thank you for letting me know.

[2018-11-14 01:58] babsingh opened #3669 "OSX JDK8 clang: error: unsupported option '-static-libgcc'"
https://github.com/eclipse/openj9/pull/3594 has broken OSX JDK8 builds. During JIT compilation, the following error is seen:
[code]

The above error prevents https://github.com/eclipse/openj9/pull/3646 to be tested.

fyi - @0dvictor @DanHeidinga @nbhuiyan @pshipton

[2018-11-14 02:53] gacholio commented on #3373
This is (I believe) explained in the comments above. Exception (e.g. throw) is incorrect, ExceptionCatch is correct. Both use the JIT metadata to get the locations, but for some reason, the throw version of the code is not getting the correct info - see https://github.com/eclipse/openj9/issues/3373#issuecomment-438381311.

[2018-11-14 03:38] gacholio commented on #3373
I've reviewed the code, and it seems reasonable.

I'd welcome some volunteers to see if my simplified exception code in:

https://github.com/eclipse/openj9/blob/master/runtime/codert_vm/jswalk.c#L200

called from:

https://github.com/eclipse/openj9/blob/master/runtime/codert_vm/jswalk.c#L200

should be equivalent to the stack walk code in:

https://github.com/eclipse/openj9/blob/master/runtime/cod

[2018-11-14 04:05] pshipton commented on #3636
Correct, 0.12.0 [1] is scheduled for January and will support jdk8 and jdk11.
0.13.0 is scheduled for March to introduce Java 12 support.
List of scheduled releases https://www.eclipse.org/openj9/docs/openj9_support/

[1] https://projects.eclipse.org/projects/technology.openj9/releases/0.12.0/plan

[2018-11-14 09:51] avermeer commented on #3636
Hello,

  I'd love to see an AdoptOpenJDK11 release based on 0.12.0 that fixes this OpenSSL acceleration issue, but the plan https://www.eclipse.org/openj9/docs/openj9_support/ explicitly mentions that 0.12.0 is not targeted for JDK11(LTS).
  Is  https://www.eclipse.org/openj9/docs/openj9_support/ table outdated, or is OpenSSL acceleration "dead" for AdoptOpenJDK11 ?

Kind regards,
Alexandre

[2018-11-14 13:10] pdbain-ibm commented on #3175
OpenJDK does not in fact allow static final fields to be changed.  Changing a field via `field.set()` throws an `IllegalAccessException` even if the field has been set accessible; `Lookup.unreflect()` on a static final field throws no error, but calls to the resulting setter silently fail.

[code]

Running this we get:

Note two things:

1. The setter throws no exception, even though the access is

[2018-11-14 13:59] pdbain-ibm commented on #3175
I believe this is a bug in OpenJDK's access checking. OpenJDK issue: https://github.ibm.com/runtimes/openjdk-contribution/issues/682

[2018-11-14 14:58] nbhuiyan commented on #3669
This seems to also break JDK11 OSX builds. When linking, `-static-libgcc` is not ignored by Xcode Clang like `-static-libstdc++` does. I think we should not be relying on the linker to ignore options and instead guard them with proper checks. I will open a PR with a fix.

[2018-11-14 15:00] mpirvu opened #3670 "Eliminate server-client messages for compInfo queries"
There are 3 compInfo queries that could/should be eliminated
[code]
I am guessing that they come from CompilationThread.cpp
The idea is to determine the stack trace for such calls and then find a way of eliminating them. If these properties refer to the method being compiled (as I believe) then we can eliminate them for sure.

Moreover, there are two other compInfo queries which are rarely used, b

[2018-11-14 15:02] mpirvu commented on #3670
@satbir-ca This is something you could work on next.

[2018-11-14 15:09] DanHeidinga commented on #3636
That page is incorrect.  I think I messed the table up when updating it for our 6 release a year policy.  The project intends to ship quarterly releases that line up with the OpenJDK updates and to have two additional releases (March & Sept) that target only the new JDK levels.

I'll get that page updated to indicate that 0.12.0 will include updates for JDK8 & JDK11

[2018-11-14 15:14] pshipton commented on #3653
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_ppc-64_cmprssptrs_le/78

[2018-11-14 15:17] pshipton commented on #3560
Fixed by #3626

[2018-11-14 15:20] pshipton opened #3672 "Test-extended.functional-JDK8-linux cmdLineTester_jep178_staticLinking_SE80_0 crash libdl.so"
Note the test has just been enabled via https://github.com/eclipse/openj9/pull/3626. Gathered the following, but it is likely a pre-existing issue.

Crashing build
[code]

Previous build
[code]

1a63acd...7aa1014
https://github.com/eclipse/omr/compare/e706e5c...fdc5695

https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_390-64_cmprssptrs/149
[code]

[2018-11-14 15:32] pshipton commented on #3672
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_x86-64/138
[code]

[2018-11-14 15:34] pshipton opened #3673 "Test-extended.functional-JDK8-linux_x86-64 cmdLineTester_classesdbgddrext_0 !ramclasssummary Comparison method violates its general contract!"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_x86-64/138
[code]

[2018-11-14 15:35] pshipton commented on #3653
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-win_x86-64_cmprssptrs/71

[2018-11-14 15:36] pshipton commented on #3563
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-win_x86-64_cmprssptrs/71/tapResults/

[2018-11-14 15:37] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/83
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/137
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/140
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64/80

[2018-11-14 15:37] pshipton commented on #3582
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/137

[2018-11-14 15:55] DanHeidinga commented on #3607
Closing this as a glibc bug.  Please reopen if it reoccurs and there's something we can do to help work around it.

[2018-11-14 15:55] #3607 closed

[2018-11-14 15:57] LinHu2016 commented on #3653
the test intend to catch expected OOM error with dumps in java, during generating the dumps file, the another demon thread might trigger another OOM error, change allocation pattern for the test to save minor heap memory to prevent background thread out of memory.

[2018-11-14 15:58] DanHeidinga commented on #3581
@tajila Can you add a link to your PR here?

@takiguc Are you able to test with a nightly build from https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9 once Tobi's PR has been merged to confirm that fixes your issue?

[2018-11-14 16:07] DanHeidinga commented on #3637
@ashbm5 @enasser @mbvreddy Can you provide an update on this?

[2018-11-14 16:10] DanHeidinga commented on #3580
A PR was merged to statically link glibc & libstdc++ yesterday.  This should be fixed in recent nightly builds.

@takiguc  Are you able to retest with a nightly build from AdoptOpenJDK?

[2018-11-14 16:13] DanHeidinga commented on #3475
@pshipton @charliegracie @dmitripivkine Can you three continue this discussion and make a proposal for this?  It would also be good to highlight what this change would do our out of the box footprint numbers.

[2018-11-14 16:15] DanHeidinga commented on #3451
@andrewcraik  @dmitripivkine Is this still on track to be enabled on windows for the `0.12.0` release?

[2018-11-14 16:17] tajila commented on #3581
Here is the PR, https://github.com/eclipse/openj9/pull/3648

[2018-11-14 16:24] JamesKingdon commented on #3656
Do we have a more general issue for enabling DDR in arm builds? My concern is that I'm not sure it's possible to do the ddr parts of the build in a cross compile (maybe with qemu?), and a ddr enabled native build could be very time consuming unless we have server grade hardware (and good parallelism in the DDR build steps).

[2018-11-14 16:26] DanHeidinga commented on #2781
Closing as fixed.  Please comment if you still see the issue

[2018-11-14 16:26] #2781 closed

[2018-11-14 16:26] DanHeidinga commented on #2781
Closing as fixed.  Please comment if you still see the issue

[2018-11-14 16:26] sxa555 commented on #3371
I think they're just being mislabelled - have opened https://github.com/AdoptOpenJDK/openjdk-build/issues/744 to resolve that.

[2018-11-14 16:48] pdbain-ibm opened #3676 "MacOS: clang: warning on unsupported optimization flags"
Getting a lot of these warnings in MacOS compilations, particularly on the JIT:

[2018-11-14 16:49] #3652 closed

[2018-11-14 16:54] renfeiw commented on #3563
For the first one, we can reproduce the issue and we will find a proper way to fix it. For the second and third ones, we had a hard time to reproduce the failures. @sophia-guo has tried the two tap files, both of them works fine in her build.

[2018-11-14 16:58] keithc-ca commented on #3656
I'm not aware of a more general issue for enabling DDR for arm builds.

There would be some OMR work to reclassify ddrgen as a 'host' tool so that it gets built properly to run on the host and analyze target objects (which will be challenging when the host and target don't both use DWARF or the same formats).

[2018-11-14 17:01] fjeremic commented on #3373
The jvmtiHook.c and jswalk.c implementations look identical to me.

[2018-11-14 17:07] pdbain-ibm commented on #3180
Issue with invokeVirtual. Will need some help from @DanHeidinga or other JSR 335 expert.

[2018-11-14 17:10] sophia-guo commented on #3560
#3626 only fixed SE80,  test failed in jdk11. Please reopen and update title to cmdLineTester_jep178_staticLinking_0 failing across platforms. Or open a new one?

[2018-11-14 17:22] pshipton commented on #3560
Sorry, reopened

[2018-11-14 17:30] mbvreddy commented on #3637
I've started looking into this.

[2018-11-14 17:32] fjeremic commented on #3581
I couldn't reproduce on 11/05 or 11/14 builds:

[code]

[2018-11-14 17:49] andrewcraik commented on #3451
I know that @0dvictor had fixed a couple of windows compile problems and was going to try running some builds - @0dvictor and @dmitripivkine status?

[2018-11-14 18:13] DanHeidinga commented on #3581
@fjeremic The OpenJDK bug indicates this only applies to 9+.

[2018-11-14 18:21] 0dvictor commented on #3451
Though I fixed the GC compile issues on Windows, unfortunately it doesn't seem being in a working state. Going through JIT's implementation related to concurrent scavenge, it seems complete. I don't see any OS specific code. Given the uncertainty of the underlaying failures and my limited resources, I don't have a timeline for enabling the support.

[2018-11-14 18:29] gacholio commented on #3373
@DanHeidinga Yes, the catch code is only interested in the top method in the map, since that will be the catcher. The stack walker needs to treat all of the methods in the map.

[2018-11-14 18:33] DanHeidinga commented on #3373
Won't the method returned by https://github.com/eclipse/openj9/blob/82275daf0c7145f8ce63878ca43961b8b2e17039/runtime/codert_vm/CodertVMHelpers.cpp#L340 potentially be wrong?

[2018-11-14 18:36] gacholio commented on #3373
I don't believe so - it's the location that's causing issues.

[2018-11-14 18:40] hangshao0 commented on #3333
I am still see issue https://github.com/eclipse/omr/issues/3076

[2018-11-14 18:42] DanHeidinga commented on #3373
Not disagreeing about the location issue, but I think there's also a bug related to the method here.  If the catcher isn't the first inline, then we're returning the wrong method to the callback.

[2018-11-14 18:43] gacholio commented on #3373
The catcher is necessarily the first inline, assuming the map I get back based on the catcher PC is correct.

[2018-11-14 18:46] DanHeidinga commented on #3373
The stackwalk isn't walking inlines so this line https://github.com/eclipse/openj9/blob/82275daf0c7145f8ce63878ca43961b8b2e17039/runtime/codert_vm/CodertVMHelpers.cpp#L334 should return the data for the method that has inlined the catcher?

The new code should have to loop through the inlines to find the appropriate one, no?

[2018-11-14 18:50] gacholio commented on #3373
Interesting - the catch hook is not walking inlines, as you say, which would seem to be a bug, thought it passes the test. I'll look into this.

[2018-11-14 19:38] dmitripivkine commented on #3451
I am aware about one minor issue in GC related with slow GC threads initialization on startup for Windows. As a result if test ends during first CS cycle -Xcheck memory discover unreleased memory block.
@amicic Anything else?

[2018-11-14 19:53] hangshao0 commented on #3333
Change is here: https://github.com/eclipse/openj9/pull/3681. I will remove WIP from https://github.com/eclipse/openj9/pull/3681 after this issue is fixed.

[2018-11-14 20:11] amicic commented on #3451
There might be some  problems with startup with late/slow GC threads (which are possibly more related to being ran on a virtual instance rather than running on Windows). But I have not investigated this enough to tell exactly what the problem is.

In general, for the most part GC functionality is same for all platforms, except minor deviations at startup.

[2018-11-14 20:16] fjeremic commented on #3581
Ah, ok. I was going by the following comment:

I guess "openjdk8" is the default variant from the URL. That link should switch to OpenJDK 11 (LTS), i.e.

https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9

[2018-11-14 20:29] #3669 closed

[2018-11-14 20:40] #3413 closed

[2018-11-14 21:10] gacholio commented on #3373
Stop confusing me - inlines are walked by default, and the catch code is not disabling them, so that's why it works.

[2018-11-14 21:58] pshipton commented on #3333
@dsouzai fyi https://github.com/eclipse/openj9/issues/3333#issuecomment-438771756

[2018-11-14 21:59] pshipton commented on #3333
@vijaysun-omr fyi

[2018-11-14 22:55] dsouzai commented on #3333
Btw, regarding https://github.com/eclipse/omr/issues/3076

[code]
why did the test fail if "Success condition was found" ?

@hangshao0 do you have a link to the failing job you saw?

[2018-11-14 23:49] babsingh opened #3685 "PLTEST failure on OSX JDK11"
Link to [OSX JDK11 Test Sanity CI Job](https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-osx_x86-64_cmprssptrs-OpenJ9/33/consoleFull) where the failure happened. Seen in https://github.com/eclipse/openj9/pull/3603.

**Log snippet:**
[code]

In the above log snippet, the following test script command seems invalid:
[code]
The above command is generated by test script [mkgen.pl](https://git

[2018-11-14 23:53] smlambert commented on #3685
The command that looks 'off' is:
/Users/jenkins/workspace/PullRequest-Sanity-JDK11-osx_x86-64_cmprssptrs-OpenJ9/build/macosx-x86_64-normal-server-release/images/test/openj9**//**pltest   <- // is something not getting defined?

Where are the native test libs to be found in an OSX build?

[2018-11-14 23:54] #3452 closed

[2018-11-15 00:00] babsingh opened #3686 "Test code/infrastruture should use DYLD_LIBRARY_PATH on OSX JDK11"
The following tests are failing in https://github.com/eclipse/openj9/pull/3603 ... [Sanity - JDK11 - osx_x86-64_cmprssptrs](https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-osx_x86-64_cmprssptrs-OpenJ9/33/consoleFull):
[code]
The reason for the above test failures is `UnsatisfiedLinkError`:
[code]
To fix the above test failures, test infrastructure needs to set `DYLD_LIBRARY_PATH` on Mac

[2018-11-15 00:06] smlambert commented on #3685
Ignore my comments above, I will try running locally.  Has someone tried on their laptop and encountered the same issue?

[2018-11-15 00:07] smlambert commented on #3686
fyi @renfeiw

[2018-11-15 00:09] babsingh commented on #3685
Not tried locally yet. Before tests would hang at `Test: abort` stage. So, no one could reach `Test: PLTEST` stage. Since https://github.com/eclipse/openj9/pull/3603 is merged now, the above failure can be reproduced locally.

[2018-11-15 00:10] babsingh commented on #3686
Before tests would hang at `Test: abort` stage. To reproduce the above failures locally, you will need the commits in https://github.com/eclipse/openj9/pull/3603.

[2018-11-15 00:14] smlambert commented on #3685
Notice export LD_LIBRARY_PATH is also used in commandline for this test setup

[2018-11-15 00:17] babsingh commented on #3685
May be related to [Test code/infrastruture should use DYLD_LIBRARY_PATH on MacOSX ](https://github.com/eclipse/openj9/issues/3686).

[2018-11-15 01:32] babsingh commented on #3321
**Testing: abort** no longer hangs on OSX. https://github.com/eclipse/openj9/pull/3603 seems to have fixed the hang: [Sanity - JDK11 - osx_x86-64_cmprssptrs](https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-osx_x86-64_cmprssptrs-OpenJ9/33/consoleFull). **Testing: abort** still fails; the new failure is related to not setting `DYLD_LIBRARY_PATH` on OSX (https://github.com/eclipse/openj9/i

[2018-11-15 02:57] yusuke commented on #3468
It worked from Terminal.app.
But somehow I still don't get java core when I'm running from IntelliJ IDEA.

 https://youtu.be/H8mX2Ta6TYQ

[2018-11-15 04:20] pshipton opened #3688 "Test-sanity.functional-JDK8-linux_390-64_cmprssptrs cmdLineTester_loopReduction_0 Unhandled exception vmState=0x0005ff04"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-linux_390-64_cmprssptrs/397
OMR acceptance build
[code]

[2018-11-15 04:20] pshipton commented on #3688
@fjeremic fyi

[2018-11-15 04:56] pshipton commented on #3333
The "Required condition was not found". To pass, the success condition must be found, and all the required conditions, and none of the failure conditions. Although the first line of the test is "System.out.println("Starting SignalXfszTest");" this output does not appear. Or something has gone wrong in the command line tester itself, which captures the output, since it is also written in java and u

[2018-11-15 05:11] #3373 closed

[2018-11-15 06:09] AdamBrousseau commented on #3573
[Pipeline: Job](https://plugins.jenkins.io/workflow-job) plugin V2.26 released [JEP-210](https://github.com/jenkinsci/jep/blob/master/jep/210/README.adoc) which overhauled the log system for pipeline jobs. In relation to this issue, the logs are now stored in a single file again and having compress build logs turned on will work as expected (fully). I have upgraded the plugin version and am seeing

[2018-11-15 11:40] kgrechishchev commented on #3441
@ChengJin01

I think I have found another way to reproduce the same issue:
Please check simple 1 class maven project
[attachapitest.zip](https://github.com/eclipse/openj9/files/2585101/attachapitest.zip)
You can reproduce the issue by running it using ``mvn test``

It fails with exactly the same error message.

I use power ``org.powermock.modules.junit4.rule.PowerMockRule;`` class in the test case

[2018-11-15 11:44] pmhayward commented on #3478
@pshipton, @DanHeidinga ... Docs currently being updated to reflect this change (eclipse/openj9-docs#131) but wanted to ask about manifest files. These currently have a section header named "IBM-Java-Options". Will/should this likewise be deprecated in favour of something like "OpenJ9-Java-Options"?

[2018-11-15 13:38] pdbain-ibm commented on #3478
True.  I will make the corresponding change in them manifest handling code.

[2018-11-15 13:54] DanHeidinga commented on #3478
Yes, we should work on purging IBMisms from the documentation

[2018-11-15 14:12] pshipton opened #3690 "Test-extended.system-JDK11-linux_x86-64 DaaLoadTest_all_ConcurrentScavenge_0 testConvertBigIntegerNormals NullPointerException"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64/80
[code]

[2018-11-15 14:21] pshipton commented on #3672
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_390-64_cmprssptrs/150
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_x86-64/139

[2018-11-15 14:21] pshipton commented on #3582
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/138
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/141
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_ppc-64_cmprssptrs_le/142

[2018-11-15 14:21] pshipton commented on #3653
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64/80
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_390-64_cmprssptrs/77

[2018-11-15 14:21] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64/81
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/84
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/138
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/141

[2018-11-15 14:23] pshipton commented on #3690
@dmitripivkine @0dvictor fyi

not sure if this is related to #3582

[2018-11-15 14:34] llxia commented on #3686
@sophia-guo Could you update the lib path for osx? Could you also check if we can use `JDK_IMPL` instead of `JCL_VERSION ` in if statement. Thanks
https://github.com/eclipse/openj9/blob/80b8e6c420fff2b443b4bc3746c261d37c49a738/test/TestConfig/openj9Settings.mk#L74

[2018-11-15 14:35] DanHeidinga commented on #3672
@pdbain-ibm Can you take a look at this?

[2018-11-15 14:35] llxia commented on #3508
Close this issue as PR is merged.

[2018-11-15 14:35] #3508 closed

[2018-11-15 14:40] pdbain-ibm commented on #3672
Will do.

[2018-11-15 14:45] keithc-ca commented on #3469
Still waiting for a crash with `-Xverbosegclog`...

[2018-11-15 14:50] pdbain-ibm opened #3691 "Give "OpenJ9-Java-Options" precedence over "IBM-Java-Options" in JAR manifests"
Further to issue https://github.com/eclipse/openj9/pull/3564
If the JAR manifest contains `OpenJ9-Java-Options` it will ignore `IBM-Java-Options`.

- update vmargs.c.
- Update VmArgumentTests.java to test both flavours
- Java8andUp/build.xml will build two JARs, one for each option.

[2018-11-15 15:33] hangshao0 commented on #3333
@dsouzai , I have slacked you the link

"Starting SignalXfszTest" is also in the required condition of the previous test "Testing: -XX:+HandleSIGXFSZ -Xrs", which passed. Looks like commandline tester is working properly.
[code]

[2018-11-15 15:40] ChengJin01 commented on #3441
Apparently it was still using sun.tools.attach.WindowsVirtualMachine (sun.tools.attach.WindowsVirtualMachine.class is specific to Hotspot. The enqueue() native is calling JVM_EnqueueOperation().)  instead of com.ibm.tools.attach.attacher.OpenJ9VirtualMachine. That's why it triggered the same assertion failure.

[code]

It looks like this is another issue. Need to figure out why it happens in this

[2018-11-15 16:53] kgrechishchev commented on #3441
Let me know if you want me to open separate issue

[2018-11-15 16:54] pmhayward commented on #3478
In that case, there are loads of env variables listed in the docs that start "IBM_"! See http://www.eclipse.org/openj9/docs/env_var/

[2018-11-15 17:10] dsouzai commented on #3333
Given that this test only fails with the options

[code]

and that it's failing with "old" AOT, I think I have a theory as to why. Because there's a SCC present prior to running these tests (since the failing tests are the last 3 out of 8 in the `cmdLineTest_sigxfszHandlingTest_0` bucket), there are AOT methods compiled with the assumption that the environment being run is with `-XX:+HandleSIGXFSZ

[2018-11-15 17:42] fjeremic commented on #3688
@dchopra001 can you help investigate this one?

[2018-11-15 17:46] pshipton commented on #3333
I expect so, although its certainly the easy solution which wouldn't need to be maintained as flag values change purpose (if ever).

Not that I'm aware of. We'd need to go through the list of flags and determine which ones matter to AOT.
@gacholio @DanHeidinga

[code]

[2018-11-15 18:03] fjeremic opened #3697 "Add GitHub issue templates for Eclipse CI failures"
## Background

As we ramp up our Eclipse CI testing I'm noticing more and more issues being raised such as the one in #3688 where a test failure occurs on some PR testing or a nightly test run and an issue is opened with a link to the test console output and a snapshot of what went wrong.

It is not immediately clear to developers how exactly to tackle these problems. Some common questions I see b

[2018-11-15 18:11] gacholio commented on #3333
The issue here is that we're constantly adding new flags (and hence new fields every once in a while), so this would still need to be maintained.

We could add a dedicated AOT flag field and move the flags which matter to there.

[2018-11-15 18:16] pdbain-ibm commented on #3672
The test fails when via the command line tester, but not when I run it directly from bash:

[2018-11-15 18:32] ChengJin01 commented on #3441
@kgrechishchev , please show me the steps (what else needs to be installed) to reproduce the issue you spotted because didn't see any assertion failure when running "mvn test".

[code]

[2018-11-15 18:36] hzongaro commented on #3582
The relevant test of `BigInteger.multiply`in Mauve is doing this:

[code]

There's similar code in the case of `BigInteger.add`.  It looks like the call to `BigInteger.add` or `BigInteger.multiply` is sometimes removed as dead code by Tree Simplification:

[code]

I'm just working on understanding why that's happening.

[2018-11-15 18:39] pshipton commented on #3697
Fine with me. I think having a template with the must gather list is a good idea. Also the FAQ, and the link to it, would be very helpful.

Note there is a core attached to the failing job in #3688.

[2018-11-15 18:41] pshipton commented on #3697
Although, any open FAQ would have to describe the open grinder infrastructure, which is only available to committers.

[2018-11-15 19:01] babsingh commented on #3321
Related PRs:
- [PLTEST failure on OSX JDK1](https://github.com/eclipse/openj9/issues/3685)
- [Test code/infrastruture should use DYLD_LIBRARY_PATH on MacOSX](https://github.com/eclipse/openj9/issues/3686)

[2018-11-15 19:21] smlambert commented on #3697
To answer some of your questions, we can augment the test/README files, particularly the https://github.com/eclipse/openj9/tree/master/test#faq

To immediately answer,
1) core files for functional and system tests ARE captured (exception, not yet for z/OS platform).  If there cores are created, they are included in the archived test output file, named functional_test_output.tar.gz or system_test_o

[2018-11-15 19:29] fjeremic commented on #3688
Actually the core is saved in functional_test_output.tar.gz on the job above. Let's examine the backtrace and take a look at any other diagnostics such as the jitdump or use TR Print to extract the bad trees.

[2018-11-15 19:31] smlambert commented on #3697
On the topic of defect templates, we have this doc to help those who need to raise issues upstream at the openjdk bug database:  https://github.com/AdoptOpenJDK/openjdk-tests/wiki/Guidance-for-Creating-OpenJDK-Test-Defects  - It was actually this that got us thinking about having our tools generate as much of this info for us as possible.  Goal is to ease developer workload and friction experience

[2018-11-15 19:45] llxia commented on #3697
Another commonly asked question is - how do I get the SDK that is used in this particular test build?
- Open test build link, click to open upstream build console:
<img width="978" alt="screen shot 2018-11-15 at 2 29 07 pm" src="https://user-images.githubusercontent.com/19273206/48576687-2aea0480-e8e3-11e8-9b1c-f8307b0d2e43.png">

- In upstream build console, find the SDK build:

<img width="704"

[2018-11-15 19:51] ChengJin01 commented on #3441
I double-checked the source code at https://github.com/powermock/powermock as follows:
powermock/powermock-modules/powermock-module-javaagent/src/main/java/org/powermock/modules/agent/AgentLoader.java
[code]
It turns out the code there bundles WindowsVirtualMachine to invoke JVM_EnqueueOperation by using reflection on WindowsVirtualMachine, which can't be prevented on our side as our code still in

[2018-11-15 20:05] llxia opened #3701 "Default location for native test libs"
Currently, the default location for native test libs is set to be
https://github.com/eclipse/openj9/blob/43a4db0c9e5f53806fd63f35fa53fe66118db477/test/TestConfig/openj9Settings.mk#L68-L70

If the SDK is built with test image, users still need to reset `NATIVE_TEST_LIBS` or zip the native test libs into the expected location.

This is not user friendly behavior and it is misleading. `NATIVE_TEST_LI

[2018-11-15 20:18] smlambert commented on #3697
Shorter explanation?  yes a challenge:

Go to the artifact view of the build that produced it (example: https://ci.eclipse.org/openj9/view/Build/job/Build-JDK10-linux_x86-64/460/artifact/), and copy link addresses of the artifacts found there, enter them space-separated as inputs to the CUSTOMIZED_SDK_URL field in the Grinder.

But yes, I find that I also have to remind folks to avoid using "lastS

[2018-11-15 20:43] pshipton commented on #3469
@keithc-ca  you could try again with -Xint and -Xverbosegclog

[2018-11-15 21:05] pshipton commented on #3688
For the record, recording the shas where this first failed, although it is intermittent.
[code]

[2018-11-15 21:33] dchopra001 commented on #3688
Looks related to @r30shah's changes. He's taking a look.

[2018-11-15 22:40] pshipton commented on #3672
Note the problems are intermittent.

[2018-11-15 22:51] dsouzai commented on #3333
As much as moving the flags to a dedicated AOT flag field is a good idea, I don't know if it will fix this particular issue. Here's my reasoning:

Right before the `cmdLineTest_sigxfszHandlingTest_0` test, `cmdLineTester_SCURLClassLoaderNPTests_1` is run; because `cmdLineTester_SCURLClassLoaderNPTests_1` is a SCC test, one of the last things it does is

[code]
Meaning the first test run in `cmdLin

[2018-11-15 23:04] #3544 closed

[2018-11-16 00:05] charliegracie commented on #3469
I will take a look at the logs tomorrow morning.  Would it also be possible to try with JNI check to make sure there isn’t some obvious JNI issue lurking?

[2018-11-16 04:36] DanHeidinga commented on #3583
Closing as this hasn't reoccurred

[2018-11-16 04:49] mbvreddy commented on #3618
This issue is same as #3637. I've started investigation. Will keep posted.

[2018-11-16 04:52] pshipton commented on #3333
Note sure what it could be other than AOT. Can the problem be repeated by running the tests manually? Once a problematic shared cache is produced, further testing can be done by running with -Xnoaot and -XX:-HandleSIGXFSZ to prove that AOT is causing the problem, or by excluding specific AOT methods.

[2018-11-16 05:00] #3673 closed

[2018-11-16 13:41] pdbain-ibm commented on #3672
Failure is intermittent.  I am seeing `native-test-libs//testjep178_static': double free or corruption (top)`, `native-test-libs//testjep178_dynamic': corrupted size vs. prev_size: 0x00007f05d000c180` on the console output.  Finally managed to reproduce it in the console.

[2018-11-16 13:50] mpirvu commented on #3285
Fixed by #3527

[2018-11-16 13:50] #3285 closed

[2018-11-16 14:09] dsouzai commented on #3333
Yeah I'll have to try it out manually at some point.

[2018-11-16 15:49] hangshao0 commented on #3333
OK, I know what is going on. I have manually re-created the failure on one of the internal machines. The HandleSIGXFSZ is not caused by AOT.

The ulimit setting of the failed machine is
[code]
So creating any file > the maximum file size limit will result in signal SIGXFSZ.
What SignalXfszTest does is:  It tries writing to a file called test.txt to exceed the maximum file size limit to trigger the

[2018-11-16 16:08] dsouzai commented on #3333
Heh interesting; how come the other tests pass though? Wasn't the SCC created in test 1 whereas the first failure is seen in test 6?

[2018-11-16 16:12] hangshao0 commented on #3333
No. It was not created. When shared classes is enabled by default, nonfatal is also on, which means we will proceed ignoring the SCC creation failure.

[2018-11-16 16:18] dsouzai commented on #3333
Ohh I see that makes sense; also I realized I was wrong above:
[code]
 `-XX:+HandleSIGXFSZ` is the default behaviour when no options are set. That explains why the other tests all pass until `-XX:-HandleSIGXFSZ` is specified.

[2018-11-16 17:06] hangshao0 commented on #3333
I noticed that the file size limit 4000 is set by the test itself, it is not the default setting on the machine.

https://github.com/eclipse/openj9/blob/master/test/functional/cmdLineTests/sigxfszHandlingTest/playlist.xml#L32

So adding -Xshareclasses:none to the commands in sigxfszHandlingTest should solve this issue. The test is still testing what it was testing.

[2018-11-16 17:22] pshipton commented on #3333
works for me. Please add a comment to explain why -Xshareclasses:none is specified.
Although if there is an AOT problem related to sigxfsz handling, or any other extended flags, we should open another issue(s), and that should be resolved as well @dsouzai

[2018-11-16 17:38] pdbain-ibm commented on #3672
The test also occurs if we are loading a single agent at launch time.
The segfault is in `dlerror()`.

[2018-11-16 18:39] hangshao0 commented on #3333
PR https://github.com/eclipse/openj9/pull/3713 open to fix sigxfszHandlingTest

[2018-11-16 19:07] gacholio commented on #3469
Thomas (hi!), please try adding this option to the command line:

`-Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo`

This will put the VM into debug mode which uses different liveness analysis, which may alleviate any errors in the DBB code.

[2018-11-16 19:43] charliegracie commented on #3469
To further on @gacholio 's comments if this resolves your issue we can prototype a change quickly that would likely resolve the issue without any extra command line options :)

[2018-11-16 19:46] jdanekrh opened #3716 "Field-level @sun.misc.Contended annotation support"
The annotation @sun.misc.Contended (@jdk.internal.vm.annotation.Contended in Java 9+) is supported on OpenJDK to automatically insert padding around an object header and its fields (class level annotation) or around individual fields (field level annotation).

Currently, only the class level @Contention annotation has the desired effect under OpenJ9, while field level usage is a noop.

Based on St

[2018-11-16 19:58] keithc-ca commented on #3515
The tests seem to have been adapted to use the 'test-image' artifacts, so I expect this issue should be fixed by https://github.com/eclipse/openj9/pull/3628.

BTW, the native test path `.../native-test-libs/` should not have a trailing slash; all uses seem to add another which can potentially cause case the path to be misinterpreted.

[2018-11-16 21:49] babsingh commented on #3468
**Tried to use OpenJ9 in IntelliJ IDEA.**
- Verified @yusuke's observation: `kill -3` **SIGQUIT** doesn't generate javacores when OpenJ9 is run within IntelliJ IDEA. But, `kill -3` generates javacores when OpenJ9 is run from a terminal outside IntelliJ IDEA.
-  After debugging OpenJ9 within IntelliJ IDEA, I found that ...
   - The signal handler is being successfully registered for `SIGQUIT`. But,

[2018-11-16 22:10] JamesKingdon commented on #3469
I'm curious - we think the objects may be getting collected prematurely?

[2018-11-16 22:58] #3504 closed

[2018-11-17 05:41] gacholio commented on #3469
The get() pattern is essentially:

[code]

As soon as address is fetched, the receiver is unreachable and available for finalization. If the chain is not fully inlined (always true when running -Xint), there's a GC point at the beginning of `something`, which allows the DBB to be collected and finalized, which means the backing memory is freed.

[2018-11-17 18:44] pshipton opened #3722 "Starting jdk11 extended PR testing starts sanity as well win,xlinux,xlinuxlargeheap"
I requested "jenkins test extended plinux,win,zlinux,xlinux,xlinuxlargeheap,aix jdk11" and also got sanity testing for xlinux, xlinuxlargeheap,win

https://github.com/eclipse/openj9/pull/3693

[2018-11-17 18:44] pshipton commented on #3722
@jdekonin

[2018-11-17 21:35] jdekonin commented on #3722
The trigger regex syntax included both extended and sanity for those 3 jobs.  I have updated them by removing the extended criteria.

[2018-11-17 22:42] mpirvu opened #3723 "Reduce number of IProfiler related messages"
Currently the JITaaS server caches interpreter profiling information for methods that have already been compiled. This can be done safely because compiled methods cannot accumulate more interpreter profiling information. However, even with this level of caching messages related to Iprofiler are by far the most frequent ones.
The proposal advanced by this issue is to allow caching of Iprofiler info

[2018-11-17 23:44] #3722 closed

[2018-11-18 00:47] #3653 closed

[2018-11-18 03:59] mpirvu opened #3724 "CHTable at the JITaaS server should not be global"
Currently, the JITaaS server has only one object of type `TR_JITaaSServerPersistentCHTable`
but this object knows how to get to the real per-client chtables. One problem I see is that the same lock is obtained for all the clients, which creates more contention than needed when multiple clients are served in parallel by the same JITaaS. We should probably use several objects that are embedded in th

[2018-11-19 02:59] dnakamura opened #3725 "A number of compiler sources assume that omr is a subdirectory of openj9"
There are a number of places in the compiler sources which have includes of the form `#include "omr/compiler/foo/bar.hpp"` This assumes that omr exists as a sub-directory of openj9. This prevents us from performing out-of-tree builds. (see also eclipse/omr#3189).

Offenders I have found so far:
compiler/runtime/Runtime.hpp
compiler/il/ILProps.hpp
compiler/il/ILOpCodeProperties.hpp
compiler/x/amd64

[2018-11-19 04:02] pshipton opened #3727 "aix71-p8-2 out of disk space"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-aix_ppc-64_cmprssptrs/76/console
`01:43:43 Cannot contact aix71-p8-2: java.io.IOException: There is not enough space in the file system`

[2018-11-19 04:02] pshipton commented on #3727
@jdekonin

[2018-11-19 05:39] DanHeidinga commented on #3469
I've opened https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/212 as a first pass to add the missing keepAlive calls.  I've matched them to the ones we had added to JDK11 and using the same pattern.

[2018-11-19 07:30] mbvreddy commented on #3637
Failure is observed after client send change_cipher_spec() message and processing server's response to change_cipher_spec(). Server fails to send change_cipher_spec().

I see that internally GCM encrypt & decrypt is always using EVP_aes_128_gcm(). Changing it to EVP_aes_256_gcm() is solving this problem.

Investigating further if we should change GCM cipher based on key length.

[2018-11-19 14:00] JamesKingdon commented on #3469
Many thanks for the explanation.

[2018-11-19 14:11] fjeremic commented on #3688
eclipse/omr#3203 has been merged. This should be fixed now. I suppose we can wait until the next build to verify. Or do we launch a grinder?

[2018-11-19 14:20] pshipton commented on #3688
I'll just close it, and will re-open if the issue occurs again.

[2018-11-19 14:20] #3688 closed

[2018-11-19 14:23] pshipton opened #3729 "Error cloning remote repo 'origin' on AIX"
https://ci.eclipse.org/openj9/job/Build-JDK8-aix_ppc-64_cmprssptrs/742/console
https://ci.eclipse.org/openj9/job/Build-JDK8-aix_ppc-64_cmprssptrs/741/console

both occurred on aix71-p8-4

[code]

[2018-11-19 14:29] fjeremic commented on #3725
I think we introduced the `omr/` include prefixes because of https://github.com/eclipse/openj9/pull/1992#issuecomment-392142667 by @mstoodle. The `omr/` include assumes the contents of the `runtime/` directory in OpenJ9 is a sibling to all of OMR, i.e. the directory looks like this:

[code]

[2018-11-19 14:32] pshipton commented on #3729
The restart seems to be running fine, at least it got past the clone, on aix71-p8-2

[2018-11-19 16:07] liqunl opened #3732 "Move optimizations in ILGen to J9RecognizedCallTransformer"
Optimizations in ILGen especially optimizations that transform a call has create difficulty in adding OSR bookkeeping at call sites. Those optimizations don't have to be done in ILGen and should really belong to J9RecognizedCallTransformer.

Notice that the optimizations/transformations for JSR292 can still live in ILGen because some of them need to manipulate the stack.

[2018-11-19 16:29] dnakamura commented on #3725
Reworking the headers, so that the OMR version is named `OMR<some_header>.hpp` as is done with  many of the other headers appears to work fine.  Id be willing to open those PRs if people are alright with that solution

[2018-11-19 16:52] pshipton commented on #3727
Seems tests are still failing due to lack of space
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-aix_ppc-64_cmprssptrs/77
[code]

[2018-11-19 19:00] jdekonin commented on #3727
Partition is reporting 30G used when its empty.  A simple reboot straightened things out.

[2018-11-19 19:54] jdekonin commented on #3729
Machine cleaned up and reset.

[2018-11-19 20:29] #3727 closed

[2018-11-19 20:29] mpirvu commented on #3658
@satbir-ca could you please implement this feature?
The idea is to implement a new thread that could output statistics with some tunable frequency. Look at how the listener thread is created in Listener.hpp/cpp
Thanks

[2018-11-19 20:30] #3729 closed

[2018-11-19 21:23] mpirvu opened #3736 "Crash in handleServerMessage"
While trying to run AcmeAir with hot compilations I hit a crash with the following stack trace:
[code]
The problem is in this code:
[code]
where iProfiler is NULL.
The crash happens for the JVM that tries to start liberty which by default receives -Xquickstart as a parameter and therefore has no IProfiler.
The JITaaS server code is:
[code]
The problem is that `iProfiler` is stored as a global vari

[2018-11-19 21:32] mpirvu commented on #3736
As an workaround we can override `TR_J9VM::getIProfiler()` at the server to return a value that is stored in the client session. The information would come form the client together with all the other information that is global and immutable.

[2018-11-20 00:13] fjeremic commented on #3725
@0xdaryl thoughts?

[2018-11-20 13:35] pdbain-ibm commented on #3672
... in fact, it fails even if we load no agents, so it's not related to JVMTI.  The crash occurs (intermittently) while the port library is trying to load `libnio.so`.

[2018-11-20 14:16] pshipton opened #3742 "Test-sanity.functional-JDK11-linux_x86-64 UnsafeTests_0 testArrayGetAndOpInt NullPointerException"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/192
occurred in OMR acceptance, but seems like an intermittent problem and not related to the OMR changes.
https://github.com/eclipse/omr/compare/69b1b77...0c0f19c

[code]

[2018-11-20 14:23] pshipton commented on #3081
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs/77

[2018-11-20 14:24] pshipton commented on #3583
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs/77

[2018-11-20 15:42] pshipton commented on #3412
Another occurrence https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_390-64_cmprssptrs/80
The result file is currently attached to the jenkins job, containing the core and other dumps, but will may only be able for a day or two.
[code]

[2018-11-20 15:51] pshipton commented on #3333
This should not have been closed by the #3713 commit.

[2018-11-20 16:04] hangshao0 commented on #3333
I am copying the links of OSX failure to this issue.
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-osx_x86-64_cmprssptrs-OpenJ9/34/
[code]

https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-osx_x86-64_cmprssptrs-OpenJ9/35/
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-osx_x86-64_cmprssptrs-OpenJ9/36/

[2018-11-20 16:35] gacholio commented on #2668
@gita-omr has asked for clarification on the static field/method resolve result tagging.

The tag on the static resolve return values is used to prevent bypassing the class initialization check that is required before allowing access to static data.

If the tag is set, this indicates that the current thread is initializing the class of the static data. The field/method are allowed to be resolved,

[2018-11-20 16:50] pshipton opened #3743 "Shared cache hints for GC heap size"
Remembering the previous heap size settings (-Xmn, -Xmo) after startup can provide a significant startup benefit in subsequent runs, and can improve footprint as well. The GC data can be stored in the shared cache as a hint.
https://unbscholar.lib.unb.ca/islandora/object/unbscholar%3A8100/datastream/PDF/view
https://ieeexplore.ieee.org/document/8121911

Since a shared cache can be used to run more

[2018-11-20 16:50] pshipton commented on #3743
@vijaysun-omr @mpirvu @amicic @hangshao0 fyi

[2018-11-20 18:06] DanHeidinga opened #3745 "[MAC] Assertion failure in LargeObjectAllocateStats building OpenLiberty"
We've seen an issue building OpenLiberty that results in the following assertion:
[code]

The end of the snaptrace shows:
[code]

Java version:
[code]

[2018-11-20 18:06] DanHeidinga commented on #3745
FYI @dmitripivkine

[2018-11-20 18:07] DanHeidinga commented on #3745
I have access to a system core that can be shared internally

[2018-11-20 18:31] kdvolder opened #3747 "OpenJ9 JRE 11 won't start crashes with segmentation error"
Sometimes it starts, sometimes it doesn't (mostly it doesn't). Restarting my windows VM *sometimes* fixes the problem.

The message I'm getting is this:

[code]

Some more details may be found here: https://github.com/spring-projects/sts4/issues/138

It is possible I didn't install it right, though, if I follow the exact same installation procedure to unstall hotspot openjdk the JVM works just fin

[2018-11-20 18:33] babsingh commented on #3685
@llxia @sophia-guo any updates on this issue? this issue prevents OSX Java 8 and Java 11 test sanity jobs to run completely.

[2018-11-20 18:46] #1646 closed

[2018-11-20 18:47] dmitripivkine commented on #3745
@amicic Would you please take a look?

[2018-11-20 18:50] akrus opened #3750 "OpenJ9 0.9.0 + Metronome GC started, but never stopped"
Hi,

I have some weird behavior of  GC with Metronome. Here is tail of the log:

[code]

For some reason there is no cycle end. Service stopped working exactly at that time and wasn't responding to any signals, so had to kill it after 30 minutes of doing nothing.

This happened just once.

[2018-11-20 18:52] llxia commented on #3686
Talked with Sophia, I will work on this issue

[2018-11-20 18:54] llxia commented on #3685
I will have a PR for this soon.

[2018-11-20 18:55] jdmpapin opened #3752 "Make SVM generate few enough records to enable it during startup"
The symbol validation manager (SVM), introduced in #2919 and eclipse/omr#2978, allows ahead of time (AOT) compilations to inspect more run-time state than they were previously allowed to, and more completely captures the conditions (conservatively) required in order to load and run the generated code. As a result, it generates more validation records than the previous approach did—the total number

[2018-11-20 18:57] jdmpapin commented on #3752
@andrewcraik @dsouzai @mstoodle FYI

[2018-11-20 18:58] DanHeidinga commented on #3747
@kdvolder When OpenJ9 crashes, it typically creates a `javacore.*.txt` file and a system core as well.  Can you share those files from the crash?  It'll help us to understand what's causing the crash

[2018-11-20 19:08] dmitripivkine commented on #3747
"That exception code is Entry point not found - something is trying to load a DLL and the DLL cannot find all the DLLs it needs" https://stackoverflow.com/questions/1649384/c-debugging-exception-c0000139

[2018-11-20 19:13] amicic commented on #3745
There is nothing  I can do without additional info, like system core (and DDR working) and additional  trace logs from group j9mm{alloclarge}.

This is non-essential code - it just calculates macro fragmentation. If needed, it can be disabled with -XXgc:disableEstimateFragmentation.

[2018-11-20 19:36] liqunl opened #3756 "Add unit test for JITHelpers.get[Char|Byte]FromArrayXXX"
#3755 shows a bug in type conversion that should have been caught in a unit test. The unit test should ensure methods calling to `JITHelpers.get[Char|Byte]FromArray` or `JITHelpers.get[Char|Byte]FromArrayByIndex` is compiled.  The array passed in can be a byte array or a char array.

[2018-11-20 19:38] liqunl commented on #3756
An example is the intrinsicIndexOf test https://github.com/eclipse/openj9/blob/master/test/functional/Java8andUp/src/org/openj9/test/com/ibm/jit/Test_JITHelpers.java

[2018-11-20 19:39] andrewcraik commented on #3752
@jdmpapin thank you for taking on this big chunk of work - it certainly looks like it will be a great improvement to the AOT framework. I know that @dsouzai is working with some of the test folks to see if we can get a test bucket for AOT sorted so we can use that to test the pull requests (which is why I'm holding off on merging a just now until that discussion resolves).

[2018-11-20 20:30] DanHeidinga commented on #3750
FYI @amicic

[2018-11-20 20:43] charliegracie commented on #3618
This issue was believed to be resolved via ibmruntimes/openj9-openjdk-jdk8#213.  The most recently nightly builds should include the fix.

You can grab a [JDK](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2018-11-20-19-25/OpenJDK8U-jdk_x64_linux_openj9_2018-11-20-19-25.tar.gz) or a [JRE](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2018-11-

[2018-11-20 20:44] charliegracie commented on #3637
This issue was believed to be resolved via ibmruntimes/openj9-openjdk-jdk8#213.  The most recently nightly builds should include the fix.

You can grab a [JDK](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2018-11-20-19-25/OpenJDK8U-jdk_x64_linux_openj9_2018-11-20-19-25.tar.gz) or a [JRE](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2018-11-

[2018-11-20 21:07] pdbain-ibm commented on #3672
Reproduced the problem with glaunch:
`glaunch /path/to/jre/lib/amd64/compressedrefs HelloWorld`, also intermittent.

[2018-11-20 22:06] mstoodle commented on #3725
Doesn't the OpenJ9 build system already need to know where the omr repository is located? Why can't the directory containing OMR just be a configurable setting and passed in on the IPATH which makes the compiler layering solution a more or less consistent mechanism?

(for the record and to make it clear, I hate the idea to smurf file names with the project name *in the project* even though we stil

[2018-11-20 22:07] harryyu1994 opened #3762 "JITaaS Server not using compressedReferenceShift from JITaaS Client"
Currently JITaaS Server is not getting compressedReferenceShift information from the client.

Originally discovered by running Liberty AcmeAir,
Reduced testcase to show the problem:

[code]

Client crashes due to incorrect compressed reference shift.

JITaaS Server obtains the compressedReferenceShift information through this call:
`TR::Compiler->om.compressedReferenceShift()`

`TR::Compiler` is a

[2018-11-20 22:14] mstoodle commented on #3725
and, by the way, I think this issue is misnamed :)

[2018-11-20 22:50] dsouzai commented on #3333
I got access to osxvm2, and I'm able to reproduce the issue; however I'm a bit blocked as I can't generate any cores. I'm following up with that, but this issue will likely take some time. From what I can tell, this issue happens with "old AOT"; why it only happens on osx is a complete mystery...I really hope it isn't the cause of some behaviour due to a different compiler.

[2018-11-21 01:20] mpirvu opened #3764 "JITaaS needs some sort of profiling besides IProfiler"
Currently, JITaaS can make use of interpreter profiling information, but does not exploit JIT profiling or jProfiling. This item serves as a placeholder for a solution regarding the profiling story in JITaaS world.

[2018-11-21 05:01] pshipton commented on #3750
@akrus note that OpenJ9 0.11.0 is released now, although I don't know if it would help with this.
Without any diagnostics, such as a core file, we may not be able to do much. If it happens again, you may be able to use gcore to capture a core file.

[2018-11-21 08:41] jsonyu commented on #3637
Yes confirmed as of 1.8.0_192-201811201837-b12 issue is fixed.. many thanks!

[2018-11-21 11:29] bharathappali opened #3767 "Assert running with -Xgcpolicy:balanced in docker."
I was running a memory consuming program for some of my tests and found out the openj9 asserts when I run inside a docker with cpu restriction in balanced gc policy.

**Java program :**
[code]
**Crash :**
[code]
**NUMA Node config on host**
[code]
**Command**
[code]

[2018-11-21 11:34] bharathappali commented on #3767
**Exploration**

I have observed that the assert which i hit was due to not passing a condition (`nodeOfThread <= _extensions->_numaManager.getMaximumNodeNumber()`) in `runtime/gc_vlhgc/CopyForwardScheme.cpp`.

I have debugged and checked those values `nodeOfThread` is 1 and `_extensions->_numaManager.getMaximumNodeNumber()` is 2, I haven't understood why it's failing and i was surprised that i wo

[2018-11-21 12:14] bharathappali commented on #3767
I have observed that [PortLibrary](https://github.com/eclipse/omr/blob/b21d26c497f0a49736bb39897cc8e012e45df2cf/port/linux/omrvmem.c#L174) and [Thread Library](https://github.com/eclipse/omr/blob/f8fc704032f95cbc0f337eb6be54f2b06e58a773/thread/linux/omrthreadnuma.c#L149) are not having a consistent view of NUMA. In the above case, PortLibrary is turning off the NUMA but Thread Library is showing N

[2018-11-21 13:09] groeges opened #3768 "Recent Java12 changes have moved some classes causing builds to now fail"
The recent merge of JDK12 code to the extensions repository has caused the JDK12 builds to fail.
This seems to be related to Oracle moving some files from `src/java.base/share/classes/jdk/internal/misc` to `src/java.base/share/classes/jdk/internal/access`.

The files that seem to have caused the OpenJ9 jcl source build to fail are:
[code]
as the package locations have changed and hence the import

[2018-11-21 13:11] groeges commented on #3768
These need to be fixed in order for the builds to work correctly.

[2018-11-21 13:20] pshipton opened #3769 "ConcurrentScavenge ASSERTION FAILED ** at StandardAccessBarrier.cpp:856"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64_cmprssptrs/88
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64/85

MathLoadTest_all_ConcurrentScavenge_0
[code]

DaaLoadTest_all_ConcurrentScavenge_0
[code]

[2018-11-21 13:29] groeges commented on #3768
The following files needed to be updated to resolve the issues with the missing imports:
[code]

[2018-11-21 13:29] groeges commented on #3768
Now these files have been updated the build fails with lots of other issues with missing methods etc.

[2018-11-21 13:38] pshipton opened #3770 "Test-extended.functional-JDK11-linux_x86-64_cmprssptrs cmdLineTester_dumpromclasstests_0 found "unable to read""
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64_cmprssptrs/88

The string "unable to read" is found in the constant pool of the class sun/rmi/transport/Transport. Either the test needs to stop including this class in the core dump, or it needs to stop looking for the failure condition "unable to read"

[code]

[code]

[2018-11-21 13:38] pshipton commented on #3770
@llxia I assume something changed. Either the test was modified or just added.

[2018-11-21 13:42] dmitripivkine commented on #3769
@amicic FYI

[2018-11-21 13:44] pshipton opened #3771 "Test-sanity.system-JDK8-linux_x86-64 MauveSingleThreadLoadTest_0 FAILED** Process LT has hung"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/146
[code]

[2018-11-21 13:47] pshipton commented on #3672
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_x86-64/144

[2018-11-21 13:47] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/146

[2018-11-21 13:48] pshipton commented on #3582
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_390-64_cmprssptrs/163
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_ppc-64_cmprssptrs_le/147
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/143

[2018-11-21 14:52] llxia commented on #3770
We haven't changed this test for at least two weeks.
`cmdLineTester_dumpromclasstests` passed in Nov 20th build: https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64_cmprssptrs/87/tapResults/
`cmdLineTester_dumpromclasstests` passed on other platforms:

[2018-11-21 15:08] charliegracie commented on #3767
@LinHu2016 can you take a look please?

[2018-11-21 15:30] dsouzai opened #3774 "Shared Classes Cache / AOT Testing"
This issue (epic) will track the plan for improving Shared Classes Cache (SCC) / AOT Testing.

### Enable more Shared Classes Test modes
One of the best tests we have is the shared classes test found here https://github.com/eclipse/openj9-systemtest/tree/master/openj9.test.sharedClasses . It internally has 5 tests and 25 different modes; some of these modes look like they're either irrelevant or o

[2018-11-21 15:32] dsouzai commented on #3774
I'll tackle the "Update Shared Classes Test to run twice" task; it looks like a relatively simple problem that I (as someone with no experience in the test infrastructure) can address :)

[2018-11-21 15:36] dsouzai commented on #3752
I've opened https://github.com/eclipse/openj9/issues/3774 to track improving the AOT infrastructure. Adding new modes looks to be an ongoing process. However, at the very least, I will address the "Update Shared Classes Test to run twice" issue which will, at the very least, improve the AOT testing of the existing Shared Classes test found in the `systemTest` bucket.

[2018-11-21 15:37] pshipton commented on #3469
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/212 is merged.

[2018-11-21 15:38] andrewcraik commented on #3764
My desire is for JProfiling to be the solution here since JITProfiling will be going away once we have got JProfiling working. @r30shah is very close to enabling JProfiling for profiled compilations and @aviansie-ben is working on creating a modified version that we can put in warm compiled code. The warm compiled code version is intended to support code patching so we can compile it in in a disab

[2018-11-21 15:41] andrewcraik commented on #3774
@dsouzai So in relation to #3752 do we expect to have some basic shared classes testing available in the next few days that we can use to test the pull requests this item will entail. Pull request a in the sequence is open pending testing and I was hopiong we could use some of the work described here to do that, but that requires this to be available sooner rather than later.

[2018-11-21 15:46] dsouzai commented on #3774
Yeah I believe so (assuming the "Updated Shared Classes Test to run twice" change I'll have soon gets merged quickly); The `systemTest` bucket already has SCC tests (https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/systemtest/playlist.xml#L725-L923) which can be used for testing so my change should improve the coverage provided by these existing tests.

[2018-11-21 15:47] dsouzai commented on #3774
I'm not sure if these tests can be triggered from a PR though; that's something an infra person would know.

[2018-11-21 16:22] andrewcraik commented on #3774
@AdamBrousseau or @smlambert do you know the answer to the above about triggering these improved SCC tests from a PR - since there are going to be > 26 of them made over the next week or two having the tests available would be a big help (see the merge plan in #3752)

[2018-11-21 16:46] LinHu2016 commented on #3767
@charliegracie sure.

[2018-11-21 16:56] llxia opened #3775 "testSCCMLTests2_1 failed with Error in System dump on osx jdk11"
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-osx_x86-64_cmprssptrs-OpenJ9/6/tapResults/

[code]

[code]

[2018-11-21 17:07] llxia opened #3776 "testSCCMLTests6_1 failed on osx jdk11"
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-osx_x86-64_cmprssptrs-OpenJ9/6/tapResults/

[code]

[code]

Looks like this is a test issue. `free bytes` is zero in this case.

[2018-11-21 17:09] ChengJin01 commented on #3747
I will try to see whether it is possible to reproduce it locally.

[2018-11-21 17:09] llxia opened #3777 "ContendedFieldsTests failed on osx jdk11"
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-osx_x86-64_cmprssptrs-OpenJ9/6/tapResults/

[code]

[code]

[2018-11-21 17:13] amicic commented on #3451
I did more investigation on GC side, and there is one (startup) problem to address (actually affects all plaforms, but for some reason causes real failures only on Win, rather than just a slow start on othes). I'm hoping to fix this within a week or so.
as it stands now 0.12 with these dates is a possibility from my side, unless I uncover more problems.

[2018-11-21 17:13] llxia opened #3778 "threadMXBeanTestSuite2_3 failed with AssertionError on osx jdk11"
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-osx_x86-64_cmprssptrs-OpenJ9/6/tapResults/

[code]

[code]

[2018-11-21 17:17] JasonFengJ9 commented on #3778
Will have a look.

[2018-11-21 18:14] kdvolder commented on #3747
I would, but I can't find them.

And as always happens... when I tried to reproduce it again today, using the same Windows 10 VM, with the same Eclipse installation, running the same project, with the same installed copy of OpenJ9-JRE... it seems to always launch just fine every single time.

I'll kick it around some more and see if it happens again and if I can find the coredump files I'll attach

[2018-11-21 18:36] kdvolder commented on #3747
Okay, so it doesn't actually start fine every single time. I kept playing around with it switching between JRE/JDK and launching my app and after a few tries it did hit the error again. Then the next time it worked again. So I've seen the error already a couple of times today. But, for some reason, today, more often than not it actually starts up fine.

This seems to be under identical circumstanc

[2018-11-21 18:39] babsingh commented on #3468
I was able to reproduce this issue on Linux. IntelliJ IDEA is run using Hotspot. Hotspot blocks `SIGQUIT`. So, any sub-process (fork or exec) within IntelliJ IDEA will have `SIGQUIT` blocked.

On Linux, it is easy to investigate this issue:
- [Reference to find blocked signals for a process on Linux](https://unix.stackexchange.com/questions/85364/how-can-i-check-what-signals-a-process-is-listening

[2018-11-21 18:40] llxia commented on #3776
Talked with @hangshao0 and confirmed that this is a test issue

https://github.com/eclipse/openj9/blob/b2bb724bfcbe817f3106000c521eb84be6b9b133/test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-6.xml#L48-L49

https://github.com/eclipse/openj9/blob/b2bb724bfcbe817f3106000c521eb84be6b9b133/test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-6.xml#L

[2018-11-21 18:40] hangshao0 opened #3779 "sigxfszHandlingTest should restore the orignal ulimit setting when finished"
The file size ulimit is changed by the sigxfszHandlingTest
https://github.com/eclipse/openj9/blob/b2bb724bfcbe817f3106000c521eb84be6b9b133/test/functional/cmdLineTests/sigxfszHandlingTest/playlist.xml#L32

But the test did not restore the original value after it is finished. It might cause future test to fail.

[2018-11-21 18:40] hangshao0 commented on #3779
FYI: @llxia

[2018-11-21 18:53] ChengJin01 commented on #3747
Did you check the location of Eclipse? Most often core dumps are generated out there if with Eclipse IDE.

[2018-11-21 18:58] kdvolder commented on #3747
Did not check inside Eclipse earlier, but I did just now and can't find them there either.

[2018-11-21 19:06] llxia commented on #3775
I do not see `Error in System dump` on my local machine. Is this error related to machine config? @jdekonin

[code]

[2018-11-21 19:15] hangshao0 opened #3781 "Enable class sharing by default for platform class loader"
Class sharing has been enabled by default for Bootstrap class loader. The next step is to enable class sharing by default for platform class loader.

[2018-11-21 19:23] dsouzai commented on #3752
https://github.com/eclipse/openj9-systemtest/pull/54 is merged, running the SCC tests in the systemTest bucket will result in two runs before destroying the SCC.

[2018-11-21 19:31] llxia commented on #3779
Thanks @hangshao0

This test needs to be updated to run in 3 steps:
- store the default `ulimit` value
- run test
- reset `ulimit` value back to the stored value (regardless actual test result)

[2018-11-21 19:43] mpirvu commented on #3658
The number of compilations per optimization level is available in `CompilationInfo::_statsOptLevels`
Errors are captured in `CompilationInfo::statCompErrors`
Number of clients attached to the server can be inferred based on the number of existing client sessions: `ClientSessionHT::_clientSessionMap->size()`
Stats on the number of compilation threads active/suspended etc, can be found in Compilatio

[2018-11-21 19:51] harryyu1994 commented on #3762
Since the JIT gets compressedRefShift info through `TR::Compiler->om.compressedReferenceShift()`, the original plan was to serialize `TR::Compiler`(CompilerEnv object) and send it from Client to Server, and Server caches the CompilerEnv object for each client. However, after I looked into the call `TR::Compiler->om.compressedReferenceShift()`

[code]
It does not look like this function uses anythi

[2018-11-21 19:54] ChengJin01 commented on #3747
@kdvolder , What version of Eclipse IDE are you using?

[2018-11-21 20:19] LinHu2016 commented on #3767
As @bharathappali mentioned in previous comment, We do have similar methods, which try to check numa availability, in both PortLibrary and Thread. the code in Thread is used for balanced gc case only, the code in PortLibrary can affect both balance gc case and memory interleave case. I guess because during Thread initialization, the PortLibrary hasn't been initialized, thread can not reuse the res

[2018-11-21 20:22] babsingh opened #3787 "libpathTestRtf and libpathTestRtfChild hang on OSX [JDK8/JDK11]"
Tests, `libpathTestRtf` and `libpathTestRtfChild`, hang on OSX. The tests are terminated via a timeout of **6000** seconds. Details about running these tests: [test/functional/cmdLineTests/libpathTest/playlist.xml](https://github.com/eclipse/openj9/blob/master/test/functional/cmdLineTests/libpathTest/playlist.xml).

[code]

[2018-11-21 20:34] DanHeidinga commented on #3787
Timeout is set in https://github.com/eclipse/openj9/blob/03a338813b45d87d3dcb8f09b41209bbc2b1384c/test/functional/cmdLineTests/libpathTest/libpathRtf.xml#L27

[2018-11-21 20:35] charliegracie commented on #3468
@babsingh isn't this one of the things that `jsig` is supposed to be handling? If HotSpot blocks the signal, which I believe it does, how does this work when launching a Java process on another HotSpot JVM? Is your belief that they are unblocking the signal? I would have expected jsig to perform this task.

[2018-11-21 20:40] babsingh commented on #3787
On Linux, the same tests take a few seconds to run: https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/203/consoleFull. The hang looks like a JVM issue.

[code]

[2018-11-21 20:43] llxia commented on #3774
No, we donot have PR build for system tests at this point. However, you can run a grinder build by changing the following file to point into your own branch.
https://github.com/AdoptOpenJDK/openjdk-tests/blob/7f959e7be0ea44844918dc1e65949aef8939764a/systemtest/build.xml#L99

[2018-11-21 20:55] AdamBrousseau commented on #3774
PR support for system tests will come in #2836

[2018-11-21 20:56] babsingh opened #3789 "gpTest suite failures on OSX with JDK8"
With JDK11 on OSX, `gpTest` suite has failures because of `UnsatisfiedLinkError`: https://github.com/eclipse/openj9/issues/3686.

With JDK8 on OSX, `gpTest` failures are different. The following tests are failing in the `gpTest` suite:
[code]

**OSX JDK8 Test output:**
[code]

On Linux, the same tests take few seconds to run: https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK11

[2018-11-21 20:58] babsingh commented on #3686
`UnsatisfiedLinkError` failures are specific to OSX JDK11. With OSX JDK8, `gpTest` suite failures are different: [gpTest suite failures on OSX with JDK8](https://github.com/eclipse/openj9/issues/3789).

[2018-11-21 20:59] babsingh commented on #3789
fyi - @DanHeidinga @llxia

[2018-11-21 21:00] mpirvu commented on #3344
When running a large battery of tests against a JITaaS server there could be many fleeting client JVMs that use the server. Each such JVM will create a client session that will be purged after 1000 minutes. This is long enough such that the memory consumption at the server could grow too much, killing the server.

Proposal:
at the client, in `stopCompilationThreads()` routine, send a fake compilat

[2018-11-21 21:09] pdbain-ibm commented on #3767
The port library is controlled by an option `-XX:[-+]InterleaveMemory`.  By default (cf. `jvminit.c:processMemoryInterleaveOptions()` it is disabled. The port library is configured via PortPlatformGlobals; it looks like `omrthread_lib_control()` could be used similarly. There may be an issue of timing: the JVM argument parsing may occur after the thread library has checked the NUMA state.

Ideally

[2018-11-21 21:14] babsingh opened #3790 "OSX JDK8 testSCCMLTests1 suite failures"
With JDK8 on OSX, the following tests in the `testSCCMLTests1` suite are failing:
[code]

Not verified but the above errors may also be seen with JDK11 OSX. Currently, the test sanity/extended jobs can't run the above tests on OSX because of hangs and test infra failures documented in https://github.com/eclipse/openj9/issues/3787, https://github.com/eclipse/openj9/issues/3789 and https://github.co

[2018-11-21 21:19] babsingh commented on #3790
fyi - @DanHeidinga @hangshao0

[2018-11-21 21:20] kdvolder commented on #3747
It is STS 4 snapshot based on latest Eclipse 4.9 release.

[2018-11-21 21:38] harryyu1994 commented on #3762
Will add in a field called "_compressedReferenceShift" here and Server will query this info from ClientSessionData
[code]

[2018-11-21 21:45] babsingh commented on #3790
fyi - @jdekonin @AdamBrousseau. Another setup requirement on OSX machines: `kern.sysv.shmmax` and `kern.sysv.shmall`.

[2018-11-21 21:46] babsingh opened #3791 "GCCheck failures with JDK8 on OSX"
The following tests in the `GCCheck` test suite are failing:
[code]

Test **Create core file** fails because core is generated at `/Users/jenkins/workspace/Test-sanity.functional-JDK8-osx_x86-64_cmprssptrs/openjdk-tests/TestConfig/test_output_15427729963309/cmdLineTester_GCCheck_SE80_1/j9core.dmp`. But, test expects the core at `/cores/core.86566`. fyi - @llxia

Test **Run gccheck** fails because

[2018-11-21 21:46] babsingh commented on #3791
fyi - @DanHeidinga

[2018-11-21 21:46] ChengJin01 commented on #3747
I have not yet reproduced the crash you spotted after installing all required softwares/artifacts on Win 10.

Here's the steps I did:
1) downloaded hotspot JDK8 from https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u192-b12/OpenJDK8U-jdk_x64_windows_hotspot_8u192b12.zip
2) downloaded OpenJ9/OpenJDK11 from  https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/

[2018-11-21 21:57] dmitripivkine commented on #3690
I looked to these failures. Most of them looks like https://github.com/eclipse/openj9/issues/3491
However there are failures looks different (but might still be the by same reason) - the problematic values referred from "temporary" slots of j9vmthread (returnValue2 and floatTemp1). These slots are not GC roots so it might refer to missed Read Barrier somewhere... or mean nothing. I am going to run

[2018-11-21 21:57] ChengJin01 commented on #3747
I am not sure whether the demo project actually got started/kept running as follows:
[code]
as compared to OpenJ9.zip as follows:
[code]

[2018-11-21 21:59] dmitripivkine commented on #3769
I looked to these failures. Most of them looks like #3491
However there are failures look different (but might still be the by same reason) - the problematic values referred from "temporary" slots of j9vmthread (returnValue2 and floatTemp1). These slots are not GC roots so it might refer to missed Read Barrier somewhere... or mean nothing. I am going to run grinder with -Xint in attempt to verify

[2018-11-21 22:00] babsingh opened #3792 "JDK8 OSX unrecognised option -Xgcpolicy:metronome"
With JDK8 on OSX, the following tests are failing because of `JVMJ9VM007E Command-line option unrecognised: -Xgcpolicy:metronome`:

[code]

Based upon [Dmitri's comment](https://github.com/eclipse/openj9/issues/3321#issuecomment-435074705),
`-Xgcpolicy:metronome  supported at Linux x86 and AIX only at the moment. It might be enabled  on other platforms if they can support high-resolution clock.`

[2018-11-21 22:02] babsingh commented on #3792
fyi - @llxia, @DanHeidinga

[2018-11-21 22:11] pdbain-ibm commented on #3672
The failures are in the dynamic library functions, mostly with the `dl_action_result`, which appears to be getting corrupted.

[2018-11-21 22:13] kdvolder commented on #3747
Yes, it got started. I'm not sure what 'demo' project this. But from the looks of it its just a completely empty boot app which basically does nothing. So it basically starts up... does nothing... then shuts down. This would be the expected behavior for such an app.

The 'OpenJ9' app is also rather sparse, but it does run a webserver serving some requests. So its a long running process that won't

[2018-11-21 22:20] dmitripivkine commented on #3791
This test required DDR but it is not there yet, is not it?

[2018-11-21 22:25] babsingh opened #3794 "JDK8 OSX reattachAfterExit test fails"
[code]

**Note:** Not verified but the above errors may also be seen with JDK11 OSX. Currently, the test sanity/extended jobs can't run the above tests on OSX because of hangs and test infra failures documented in https://github.com/eclipse/openj9/issues/3787, https://github.com/eclipse/openj9/issues/3789 and https://github.com/eclipse/openj9/issues/3685. Disabling the following tests will allow t

[2018-11-21 22:33] ChengJin01 commented on #3747
@kdvolder , please help to double-check all steps above in case of anything we ignored in between.

[2018-11-21 22:40] babsingh opened #3795 "JDK8 OSX Test failures: Initialization error for library j9gc29(2)"
JDK8 OSX Failure:
`JVMJ9VM015W Initialization error for library j9gc29(2): Failed to instantiate compressed references metadata; 200M requested`

The following native tests are failing because of the above error:
[code]

The issue is similar to https://github.com/eclipse/openj9/issues/3371#issuecomment-432291933.

If JDK with compressedrefs is used on OSX, native test binaries such as `jsigjnitest

[2018-11-21 22:40] babsingh commented on #3795
fyi - @DanHeidinga

[2018-11-21 22:47] babsingh commented on #3321
**Summary of failing tests with JDK8 OSX:**
1. [libpathTestRtf and libpathTestRtfChild hang on OSX [JDK8/JDK11]](https://github.com/eclipse/openj9/issues/3787)
2. [gpTest suite failures on OSX with JDK8](https://github.com/eclipse/openj9/issues/3789)
3. [OSX JDK8 testSCCMLTests1 suite failures](https://github.com/eclipse/openj9/issues/3790)
4. [MacOS: sigxfszHandlingTests fail](https://github.com/

[2018-11-21 22:48] ChengJin01 commented on #2555
I already checked the stacktraces in the core dump attached above.
[coredump_stacktraces.txt](https://github.com/eclipse/openj9/files/2606003/coredump_stacktraces.txt)

I didn't spot anything special in there given that the code related is already in the open source at https://github.com/jenkinsci/xstream

[code]

Looking at the specific code at https://github.com/jenkinsci/xstream/blob/master/xst

[2018-11-21 22:50] babsingh commented on #3791
The two issues: absence of DDR and incorrect core file path are documented in the issue's description. fyi - @dmitripivkine

[2018-11-21 22:51] pshipton commented on #2070
@vijaysun-omr do you expect the omr PRs to complete for the 0.12.0 release, or should we defer this again?

[2018-11-21 22:57] gita-omr commented on #3421
An update:
While working on non-compressed version, @jimmyk found a problem with the way read barriers are generated for NULLCHK trees. @0dvictor is working on a different solution right now. @andrewcraik @fjeremic. I imagine this might affect all read/write barrier opcodes @cathyzhyi ...

[2018-11-21 22:58] kdvolder commented on #3747
There are some differences in the steps though I would surprised if they really mattered.

- I didn't install from update site, but downloaded the 'complete' STS 4 bundle instead i.e the zips under the heading 'ECLIPSE-BASED DISTRIBUTION BUILDS'

- I installed oracle JDK 8 using an installer .exe file not a zip bundle. So it's 'integrated' to my windows environment rather than just a folder on the

[2018-11-21 23:13] ChengJin01 commented on #3747
Me too. There is no change on my side in terms of STS.ini (the only change is to modify Eclipse/configure.ini to JDK8)

Other than that, I don't think there is any fundamental difference as to complete bundles/via installer; otherwise these applications in Eclipse won't work correctly.

[2018-11-21 23:33] babsingh commented on #3468
`jsig` enables signal chaining. It is used with native applications that invoke the JVM and register an application signal handler. Signal chaining will invoke the application signal handler + the JVM signal handler. [JSIG Documentation](https://www.ibm.com/support/knowledgecenter/en/SSYKE2_8.0.0/com.ibm.java.vm.80.doc/docs/j9_native_signals.html).

In this case, `jsig` doesn't apply because a nat

[2018-11-21 23:33] kdvolder commented on #3747
One more potential difference:

I didn't switch back and forth between hotspot and openj9. Instead I had both openj9-jdk and openj9-jre configured in the workspace.

I edited the OpenJ9 project launch config to switch between these two to try them both. I did not switch between them on every run.

I basically just used the 'Boot Dashboard' to launch my app repeatedly by clicking the restart button

[2018-11-21 23:40] ChengJin01 commented on #3747
Sorry for misconception.

What I did is:
1) started demo2 via the boot dashboard
2) then started OpenJ9 via boot dashboard
then stopped both application and restarted OpenJ9 and then demo2

I tried this way a couple of times no matter which application goes first but nothing happened.

[2018-11-21 23:43] pshipton commented on #3769
First failing builds SHAs
00:56:41 [echoproperties] java8.OpenJ9=- 449dda8
00:56:41 [echoproperties] java8.OMR=- 6945416

Previous build SHAs:
01:56:20 [echoproperties] java8.OpenJ9=- f439efd
01:56:20 [echoproperties] java8.OMR=- 69b1b77

Changes:
f439efd...449dda8
https://github.com/eclipse/omr/compare/69b1b77...6945416

[2018-11-21 23:46] pshipton commented on #3769
Note bootstrap shared classes by default was enabled in the first failing build, in case the AOT code in the shared cache could contribute to the failure.

[2018-11-21 23:54] kdvolder commented on #3747
I guess if you still want to try some more try just hammering the restart button on the boot dash for a while. Starting the 'OpenJ9' app serveral times in a row. And *then* switch the OpenJ9 runtime on the Openj9 from JRE <-> JDK.

That is basically what I did, which is a little different from your experiment.

It probably doesn't matter and likely its something about my VirtualBoxed windows setup

[2018-11-22 04:17] 0dvictor commented on #3421
The NULLCHK issue will be fixed with https://github.com/eclipse/openj9/pull/3798.

[2018-11-22 04:32] DanHeidinga commented on #3468
WIth eclipse/omr#3225 is /proc/<PID>/status updated for the forked process?

[2018-11-22 04:45] ChengJin01 commented on #3747
@kdvolder , I just reviewed the steps you mentioned at https://github.com/spring-projects/sts4/issues/138#issuecomment-440088030 and there is one step I feel confused:

I have no idea what this means as there is no further explanation as to how to run that.
So I just randomly created a demo Spring boot project (with JDK8) and launched it via boot dashboard. Is this what is expected to do ?

[2018-11-22 05:39] DanHeidinga commented on #2555
[code]
@ChengJin01 this should be a java.lang.Class Object.  Can you validate it is a Class, and then dump the romclass?  That'll show the constructors and we can crawl the heirarchy to confirm it's not Serializable.

There has to be something diff between our implementation and the RI to explain the behaviour difference

[2018-11-22 11:49] pshipton commented on #3769
@dsouzai ^
I also note the failures only occur on jdk11, and only jdk11 was affected by shared classes by default.

[2018-11-22 11:54] pshipton commented on #3769
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64/87
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64/86
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/90
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64_cmprssptrs/89

[2018-11-22 11:54] pshipton commented on #3582
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_ppc-64_cmprssptrs_le/148
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_390-64_cmprssptrs/164

[2018-11-22 13:11] pshipton commented on #2070
@vijaysun-omr let me know that @0xdaryl is reaching out to the author of the OMR PRs to see if they have time to compete the work. Otherwise we'll have to find another way to get the work completed, but it may still happen in the 0.12.0 timeframe.

[2018-11-22 13:31] llxia commented on #3774
PR support for system tests (#2836) works for changes in [openj9 repo](https://github.com/eclipse/openj9).
I do not think it will work for changes in the system test repos (i.e., https://github.com/eclipse/openj9-systemtest or https://github.com/AdoptOpenJDK/openjdk-systemtest).

[2018-11-22 14:00] babsingh commented on #3468
With eclipse/omr#3225, `SIGQUIT` is unblocked for OpenJ9 but `/proc/<PID>/status` isn't updated. `/proc/<PID>/status` still shows `SIGQUIT` is blocked.

[2018-11-22 14:07] DanHeidinga commented on #3468
So with this change our behaviour and the `/proc` settings are consistent with RI?  Sounds good to me!

[2018-11-22 14:20] DanHeidinga commented on #3745
I'm going to close this now and we can reopen it if it reoccurs.

[2018-11-22 14:32] llxia commented on #3792
Exclude running -Xgcpolicy:metronome mode on osx in ottawa.csv (#3552) is merged.
I ran a grinder in openj9 Jenkins and `cmdLineTester_jvmtitests` worked as expected - `cmdLineTester_jvmtitests_5` was excluded:
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/79/tapResults/

However, when I ran the same `cmdLineTester_jvmtitests` internally. I got the same result as above - `cmdLineTester_

[2018-11-22 14:39] #3582 closed

[2018-11-22 14:58] jdmpapin commented on #3774
Changing that line looks like it would affect the version of openj9-systemtest used for testing, but I don't have a branch of openj9-systemtest. Rather, I'm modifying openj9 itself. So I suppose the way to run the tests is as a grinder, but with no need to edit the linked file—is that right? If so, where can I find instructions for running a grinder?

[2018-11-22 14:58] DanHeidinga commented on #3491
@yanluo7 How is this progressing?  The last update indicated a workaround for the grinder issue - has that unblocked the rest of the investigation?

[2018-11-22 15:00] yanluo7 commented on #3491
With some struggle and help from infra team Mesbah I'm now able to build the system test and run lambda test locally on bowlcut or poisonivy. Looking at 2 core files reproduced locally, both are due to assertion during mark when an object encountered is already forwarded:
e.g. ```Encountered object 00000000FCEB59B0 forwarded to 00000000FD27B100 (header 00007F0AAE1F9920) while Concurrent Scavenger/

[2018-11-22 15:54] llxia commented on #3774
Yes, you can grinder for any type of tests. Or PR build for functional for now.
Link to [How-to-Run-a-Grinder-Build-on-Jenkins](https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins)
https://github.com/eclipse/openj9/issues/3697#issuecomment-439158913 has more detail in terms of testing in case you are interested

In general, what test to run really depends on wh

[2018-11-22 15:55] gacholio commented on #2668
Field test above added in #3800

[2018-11-22 16:05] renfeiw commented on #3792
Created a PR to turn it off: #3801

[2018-11-22 16:08] DanHeidinga commented on #3745
FYI @aguibert - please reopen this issue if the failure occurs again

[2018-11-22 16:10] #3762 closed

[2018-11-22 17:08] pshipton commented on #1538
I'll just mention here that somebody noted there isn't currently any healthcenter agent for OSX.

[2018-11-22 17:30] hangshao0 commented on #3743
I guess we are doing this only on gencon ?

[2018-11-22 17:56] ChengJin01 commented on #3747
To avoid any difference with STS4,  I tried the following steps:

1) downloaded/installed Oracle JDK 8 from https://download.oracle.com/otn-pub/java/jdk/8u191-b12/2787e4a523244c269598db4e85c51e0c/jdk-8u191-windows-x64.exe
![image](https://user-images.githubusercontent.com/18036229/48917302-18784980-ee54-11e8-9476-c7292a709333.png)
2) downloaded/unzipped STS4 (standalone tool package) from http://d

[2018-11-22 18:04] vijaysun-omr commented on #3743
Maybe balanced GC too ? We have'nt done any experimenting with balanced GC to say if/how much it helps but I'd like to think that we need to stop treating balanced as a second class citizen if it's not a huge amount of extra work.

[2018-11-22 18:09] hzongaro opened #3804 "Introduce notion of recognized classes for JIT"
The JIT in OpenJ9 has a notion of recognized methods that are used to check for particular methods.  It also has ways of checking for a group of related methods (e.g., `java_util_Hashmap_all`).  Having a similar way of tracking recognized classes and groups of related classes would be handy.  Today, classes are recognized by performing `strcmp` and `strncmp` on their names or parts of their names,

[2018-11-22 18:15] kdvolder commented on #3747
To clarify what I mean by this:

O my windows VirtualBox VM, I have installed Oracle JDK 8 as the 'main' VM. Basically I ran the installer downloaded from Oracle's website. Then I added it to my PATH so that when I'm in a terminal and type'

'java -version' or 'javac -version' it executes one of the Oracle JDK 8 executables.

Similarly when I launch STS (which is really just an Eclipse install wit

[2018-11-22 18:18] dmitripivkine commented on #3750
If it happen again it might be useful to collect native stacks for all threads for "hanged" process a few times - if it is possible. On Linux it might be done by connecting/disconnecting GDB to/from process directly.
Please note that:
- it is possible that process actually was not hanged but active with some unexpectedly long operations. In this case snapshots for thread stacks will be different
-

[2018-11-22 18:19] kdvolder commented on #3747
I did not do that. I only added the JRE and JDK 11 as extra JREs to the workspace. If the maven project is correctly setup then m2e should properly select the right JRE to use (i.e. it should pick a JRE or JDK 11 if the pom.xml says that is what it should use, this doesn't require changing the default workspace JRE). That being said, I don't think it matters what the workspace default is, as long

[2018-11-22 18:40] cwesMills commented on #3580
I got the following error with a nightly build on cent7.5 ppc64le

[root@880ae43750f9 adoptojdk-java-10]# ./bin/java -version
JVMJ9VM011W Unable to load j9jit29: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required by /usr/lib/jvm/adoptojdk-java-10/lib/compressedrefs/libj9jit29.so)
openjdk version "11.0.1" 2018-10-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.1+13-20181108

[2018-11-22 18:43] ChengJin01 commented on #3747
Already tried this way to let maven to chose the JDK11 and OpenJ9 still works good.

I notice you mentioned at https://github.com/spring-projects/sts4/issues/138#issuecomment-440138532
that it only crashed on JDK11 JRE11.  Can you upload the JRE zip file to IBM BOX (https://ibm.account.box.com/login) ?  I need to try it out with this version (we already dropped JRE 11 internally) before deciding w

[2018-11-22 18:57] kdvolder commented on #3747
That is not the case. The bug I was investigating there was totally different and (probably) unrelated bug. Something to do with JMX connection issues. This bug seems to affect only JRE not JDK and it seems to affect both Hotspot and OpenJ9.

However... the segmentation fault is not limited to JRE it happened to me on both Open J9 JRE and Open J9 JDK (but never with Hotspot).

Anyhow... yes, I can

[2018-11-22 19:10] bharathappali commented on #3767
@LinHu2016 was right. Thread Library is getting initialized first.
[code]
I have added 2 breakpoints one at **omrport_init_library** and other at **omrthread_init**  and found out that Thread Library is getting initialized before Port Library initialization

[2018-11-22 19:10] sxa555 opened #3805 "Windows: Assertion Failed on latest OpenJ9 JDK11 code"
Reported at adoptopenjdk: https://github.com/AdoptOpenJDK/openjdk-build/issues/760

[2018-11-22 19:14] sxa555 commented on #3805
Closing - dup of https://github.com/eclipse/openj9/issues/3441 - thanks @ChengJin01

[2018-11-22 19:14] #3805 closed

[2018-11-22 19:21] ChengJin01 commented on #3747
Already tried with JRE (repeatedly starting) and no crash occurs during the run:
![image](https://user-images.githubusercontent.com/18036229/48919340-351a7e80-ee60-11e8-8d58-1e87dce885ff.png)

I believe we already run out of all options we have to reproduce the crash except getting the VirtualBox image but everything works good on both JRE11 and JDK11

@DanHeidinga ,  any input at this point?

[2018-11-22 20:02] hangshao0 commented on #3743
Do we have -Xmn, -Xmo on balanced GC ? @amicic
https://www.ibm.com/support/knowledgecenter/SSYKE2_8.0.0/openj9/xmn/index.html
https://www.ibm.com/support/knowledgecenter/SSYKE2_8.0.0/openj9/xmo/index.html

[2018-11-22 20:18] DanHeidinga commented on #3747
@kdvolder Can you try to reproduce the issue with the `-Xdump:directory=<path>` set so that the cores will be captured?

If you care share the cores and the stderr output from when they're written, we may be dig into this further.

[2018-11-22 20:33] pshipton commented on #3747
@ChengJin01 did you try when Hotspot is on the path?

[2018-11-22 20:34] kdvolder commented on #3747
@DanHeidinga I set the option but still no dumps.

I think I set the option correctly. Like this?

![openj9-launch-conf-vmargs](https://user-images.githubusercontent.com/1002156/48921077-144b2c80-ee52-11e8-8ef6-ad5923d16f23.png)

Our launcher also adds a few arguments of its own, so this ends up being the 'full' commandline on launch (according to Eclipse debug properties).

[code]

After 3 restar

[2018-11-22 20:38] pshipton commented on #3743
`bin/java -Xgcpolicy:balanced -verbose:sizes`
[code]

[2018-11-22 20:40] renfeiw commented on #3563
The fix for windows issue is merged: #3563

[2018-11-22 20:40] pshipton commented on #3580
@cwesMills please try a newer nightly build, this problem should be fixed now.
https://github.com/eclipse/openj9/pull/3671

[2018-11-22 20:48] ChengJin01 commented on #3747
@pshipton ,  already tried on both Oracle JDK8 and JDK11 but it ended up the same results as our builds.
![image](https://user-images.githubusercontent.com/18036229/48921436-cd6b3000-ee6d-11e8-9ece-aabdf52d7b49.png)

![image](https://user-images.githubusercontent.com/18036229/48921460-ed025880-ee6d-11e8-894d-aedf958a9da9.png)

[2018-11-22 21:00] DanHeidinga commented on #3747
@kdvolder Can you try using the path: `-Xdump:directory=C:\\Users\\kdvolder\\dumps`?

Are you seeing any output like this when the segfault occurs?  It should show where the files were written
[code]

I also noticed `-noverify` on the commandline.  Does the app run without that?  We find that turning the verifier off can lead to strange behaviour for a variety of reasons.

[2018-11-22 21:07] amicic commented on #3743
-Xmn is relevant in Balanced as much as in Gencon (although they have a bit differen meaning: total Nursery for Gencon which is both Allocate and Survivor vs only Allocate (actually called Eden) in Balanced). Bottom line, we should treat them same (we should set Xmns based on recommendation stored in SC)

I though that -Xmo had no semantical meaning in Balanced, but we do seem to obey the command

[2018-11-22 21:08] pdbain-ibm commented on #3672
I instrumented the `dlfcn` functions (`dlopen, dlsym, dlerror, et al.`).  They use a `dl_action_result` buffer which _should_ be different for each thread, but don't appear to be. One thread is calling `dlopen` and anther thread `dlsym`, and using the same result buffer. Working on why this is so: either `__libc_getspecific()` isn't working or `__libc_key_create()` is failing.

[2018-11-22 21:18] pshipton commented on #3747
This is not what I asked. Make sure Oracle is on the OS path when you try it.

[2018-11-22 21:50] kdvolder commented on #3747
No, I pasted the output in its entirety. There's nothing like that in it.

[2018-11-22 22:07] kdvolder commented on #3747
Tried, still no dumps.

I also tried launching it using the plain Java launcher (instead of the one specific for boot apps) and not adding any strange options like '-noverify'. That also didn't help. Still segfaults after a some tries and still no dumps.

These is the full commandline it now launches with:

[code]

[2018-11-22 22:11] pshipton commented on #3747
Confirmed with Cheng the Oracle JVM was on the path.

[2018-11-22 22:14] llxia commented on #3685
Tested pltest with DYLD_LIBRARY_PATH on MacOSX. Similar error
[code]
[code]

[2018-11-22 22:29] pshipton commented on #3580
@sxa555 would likely know ^

[2018-11-22 22:30] ChengJin01 commented on #3747
@kdvolder ,  Did you mean it can be directly executed on the command line ?

If so, one way to get the stacktrace is to debug it via Windbg (https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugger-download-tools)

[2018-11-22 22:35] dmitripivkine commented on #3743
However options should be applied wisely because it might depend on GC policy they were taken. Should stored values be accompanied by GC policy or we can make them invariant?

[2018-11-22 22:37] kdvolder commented on #3747
I didn't mean that. Maybe it could, but I haven't tried that. I launch it from Eclipse. I just pasted the full commandline that Eclipse reports in the properties page you can access from the debug perspective (if you right click the process in the debug view and select 'Properties'.

This corresponds to the commandline that eclipse used to launch the app.

I pasted it to show a pircture of exactly

[2018-11-22 22:47] pshipton commented on #3743
Yes, we'll have to work out all the relevant environment options that need to match. Or we could store the entire command line.
- application (main class name)
- gc policy
- Xmx

[2018-11-22 22:55] ChengJin01 commented on #3747
It can be launched with "bin\java.exe -Dserver.port=8081  -Dcom.sun.management......"
(I specified the port number to avoid any conflict in there)
![image](https://user-images.githubusercontent.com/18036229/48923807-b9c8c500-ee7f-11e8-8814-fc82316a7a3c.png)
But I am not sure how to repeatedly start it.

[2018-11-22 23:00] kdvolder commented on #3747
I tried launching it on CLI just now. I repeated it quite a few times, maybe 20 times or so. Got no segfaults.

I couldn't use the commandline exactly the same. I changed 'javaw.exe' to 'java.exe'. When I use 'javaw.exe'... looks like perhaps it does launch, but I can't see the output anywhere so its kind of impossible to see what's going on.

Launching from terminal using java.exe seems to work f

[2018-11-22 23:06] ChengJin01 commented on #3747
It does launch.  You can see the JDK via Task Manager.
![image](https://user-images.githubusercontent.com/18036229/48923973-5770c400-ee81-11e8-9d8e-53b446e973f1.png)

Given that it runs on the command line.  I believe it can be debugged via Windbg.

[2018-11-23 01:08] kdvolder commented on #3747
I don't know if it crashes, but I'll try that tomorrow.

[2018-11-23 04:46] DanHeidinga commented on #3743
We should design the data record to be extensible in the future.  I think there are other values that would be interesting to store from run to run.

[2018-11-23 06:08] bharathappali commented on #3767
@LinHu2016 was right. The thread library is initialized before port library.
[code]
I have added 2 breakpoints one at **j9port_init_library** and **omrthread_init**, found out that thread library is initialized first.

[2018-11-23 06:40] shingarov commented on #2585
@lmajewski  Our immediate goals at this stage are much more modest, being currently confined to just OMR.  On RISC-V, we successfully JIT some simple methods such as Fibonacci.  We hope to share that initial code during this coming RISC-V summit.

On e500, I would like to understand how you were able to run so much of OpenJ9 so successfully.  In my experiments so far, I have confined myself to the

[2018-11-23 11:49] pshipton opened #3809 "hudson.remoting.ChannelClosedException: Channel "unknown": Remote call on aix71-p8-X failed"
Occurred in both OMR AIX sanity jobs after all testing passed, on aix71-p8-1 and aix71-p8-4.
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-aix_ppc-64_cmprssptrs/323
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/182
[code]

[2018-11-23 11:49] pshipton commented on #3809
@jdekonin

[2018-11-23 12:00] pshipton commented on #3771
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_ppc-64_cmprssptrs_le/149

[2018-11-23 12:02] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/145

[2018-11-23 12:11] pshipton opened #3810 "osx jdk11 build failed with no reason"
https://ci.eclipse.org/openj9/job/Build-JDK11-osx_x86-64_cmprssptrs/8/
[code]

[2018-11-23 12:12] pshipton commented on #3810
@DanHeidinga fyi

[2018-11-23 12:44] sxa555 commented on #3810
Was just looking to see if this had been raised since I'm seeing it at adoptopenjdk for the JDK8 and JDK11 macos builds. The error is this one:

[code]

[2018-11-23 14:49] DanHeidinga commented on #3810
@babsingh Ring any bells for you?

[2018-11-23 14:52] ymanton commented on #2585
@shingarov PPCSystemLinkage implements the ppc64le ABI only (because OMR is only supported on ppc64le), it does not handle the AIX/ppc64be ABI or the ppc32 ABI. We don't use the native ABIs for Java, we use our own and you can find the implementations for that stuff in https://github.com/eclipse/openj9/blob/master/runtime/compiler/p/codegen/PPCPrivateLinkage.cpp and https://github.com/eclipse/open

[2018-11-23 14:57] DanHeidinga commented on #3810
Looking at the history of that change, I think it's supposed to be windows specific.

Will pull together a PR that adds `#if defined(WIN32)` around that include

[2018-11-23 15:34] mpirvu commented on #3743
Another point to consider: Most of the information stored in SCC is read only, one notable exception being the JIT hints. For most flexibility it would be best to allow RW access to these GC hints.

[2018-11-23 15:40] babsingh commented on #3810
Agreeing with Dan. This happens due to a recent Windows specific change: [Replace mingw with clang in compilation](https://github.com/eclipse/openj9/pull/2979).

[2018-11-23 15:48] DanHeidinga commented on #3810
This is fixed in https://github.com/eclipse/openj9/pull/3815

[2018-11-23 15:56] pshipton opened #3816 "Test-extended.functional-JDK11 hang creating test summary"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64/87

TestClassLoaderFindResource_0  is the last test, the next step is creating the test result summary.

Copied the raw console output because the regular console output isn't working due to `org.apache.commons.jelly.JellyTagException: jar:file:/home/hudson/genie.openj9/.jenkins/war/WEB-INF/lib/jenkins-core-2.138.3.jar!/

[2018-11-23 15:56] pshipton commented on #3816
@llxia fyi

[2018-11-23 15:56] pshipton commented on #3816
@AdamBrousseau fyi

[2018-11-23 16:20] theresa-m commented on #3768
looking at this

[2018-11-23 17:04] babsingh commented on #3342
More details about this issue:
- For the `SIGXFSZ` tests to successfully work, `ulimit -f 4000` needs to be set.
- `ulimit -f 4000` restricts file size so that `SIGXFSZ` is raised. Then, tests evaluate JVM's behavior w.r.t `-XX:+/-HandleSIGXFSZ`.
- On OSX, `ulimit -f 4000` is not persistent. `sigxfszHandlingTest` suite has five tests. `ulimit -f 4000` is set only once before running the five tests

[2018-11-23 17:06] hangshao0 commented on #3743
Probably we should turn this feature off if user specified any of -Xmns/-Xmnx/-Xmn/-Xmos/-Xmox/-Xmo/-Xms/-Xmx. I guess -Xmoi, -Xmine, -Xmaxe also matters here ?

[2018-11-23 17:21] renfeiw commented on #3816
Looks like the failure output size is too large which causes the results summary to OOM. We have a variable $tapString to keep all the test status and failure output and print out tap result in the end. I can change the logic to dump tap output every one or two thousand lines.

[2018-11-23 17:35] pdbain-ibm commented on #3672
I can check this in gdb:
[code]
This indicates the `__libc_key_create()` is failing.

Trying with `gdb --args /path/to/jre/bin/java`:
[code]
This is a different execution path through `_dlerror_run`. `static_buf` is null, indicating the `__libc_key_create()` succeeded.

Testing with a simple test case:
[code]
shows that the call is failing.
Must be something in the compile options...

[2018-11-23 18:01] ChengJin01 commented on #2555
1) Looking at the thrown exception above against the source code:
[code]
public Object newInstance(Class type) {
        try {
            Constructor[] constructors = type.getDeclaredConstructors(); <------
[code]

2) Double-checked the bytecode of PureJavaReflectionProvider.newInstance against the source code:
[code]
[PureJavaReflectionProvider.newInstance_bytecode.txt](https://github.com/eclips

[2018-11-23 18:12] ChengJin01 commented on #2555
If so,  the code logic in isAssignableFrom() is correct in checking CoalescedLicense.

[2018-11-23 18:57] pdbain-ibm commented on #3672
Adding the following (unused) code to `genlauncher.c` causes it to run reliably:
[code]

[2018-11-23 19:11] DanHeidinga commented on #3590
For the original question, `jitClassesRedefined` has an early bailout with the following condition:

https://github.com/eclipse/openj9/blob/ef3a31de6cbb8667d89c1a35be84e81cc7bf032f/runtime/compiler/control/HookedByTheJit.cpp#L2828

which would prevent hitting the case which forces mimicInterpreterFrameShape but I can't find any code that sets `TR_EnableHCR` (though I would have expected it to the

[2018-11-23 19:21] pshipton opened #3819 "jdmpview find command does not match help output"
Running jdmpview on a core file, I was trying to use the `find` command according to the help output, but it doesn't work.

`find                                           searches memory for a given string`

[code]

A workaround is to use the !find command

[code]

[2018-11-23 19:44] #3810 closed

[2018-11-23 19:45] llxia opened #3820 "testvmcheck_6 ASSERTION FAILED on osx JDK11"
[code]

[code]

[2018-11-23 19:52] llxia opened #3822 "cmdLineTester_vmRuntimeState_0 failed with Unhandled exception on osx JDK11"
One of the tests in cmdLineTester_vmRuntimeState_0 failed with Unhandled exception:

[code]

[code]

[2018-11-23 19:54] gacholio commented on #3590
EnableHCR is only true for fast HCR, afaik, not FSD.

[2018-11-23 20:08] llxia commented on #3292
Close this issue as this is obsolete.

[2018-11-23 20:08] #3292 closed

[2018-11-23 20:10] pshipton commented on #3743
The suggestion to store -Xmx was for the purpose of validating the hint. i.e. a different -Xmx invalidates the hint. However, I'm leaning towards storing the entire command line. As long as the command line remains the same, the gc sizing hints for that command line remain valid. There can be multiple hints for multiple command lines. I think storing the entire command line should be the first app

[2018-11-23 20:11] llxia commented on #3307
Change is delivered. Close this issue.

[2018-11-23 20:11] #3307 closed

[2018-11-23 20:12] llxia commented on #3792
#3801 is delivered. The fix is verified internally.

[2018-11-23 20:12] #3792 closed

[2018-11-23 20:35] llxia commented on #3795
yes, jsigjnitest_0 and thrstatetest_0 also have the same failure on osx JDK11.

[2018-11-23 20:36] andrewcraik commented on #3590
+1 to @gacholio  see the enablement logic in the J9 options processing:
https://github.com/eclipse/openj9/blob/ef3a31de6cbb8667d89c1a35be84e81cc7bf032f/runtime/compiler/control/J9Options.cpp#L2308

The TR_EnableHCR triggers the generation of HCR guards in the JIT code etc (eg fastHCR) which is not needed during FSD since an OSR will occur when necessary is my understanding.

[2018-11-23 20:44] yanluo7 commented on #3491
Rebuilt a JIT that always calls the readbar helper in readbarEvluator and disabled reference array copy support, but the problem is still there -- with similar symptom as a previous reported case: GC encountered a forwarded pointer, the forwarded obejct is an `HashMap$Node`, which belongs to a large reference array in tenure.
In another attempt, I simply excluded all methods from `j/u/HashMap` and

[2018-11-23 20:51] kdvolder commented on #3747
Tried for a bit to launch from terminal but don't seem to be getting the crash. Still getting it when launching from within Eclipse.

[2018-11-23 20:57] DanHeidinga commented on #3747
@kdvolder The best way forward may be to create the VM image and share it with us as we've had no luck reproducing the crash.  If there's an issue with storage, I'm sure we can find some temporary space for you to upload to.

[2018-11-23 21:08] theresa-m commented on #3768
From what I can see the following needs to be changed / is missing:
- [ ] change package names of JavaLangRefAccess, SharedSecrets (https://github.com/eclipse/openj9/pull/3824)
- [ ]  argument added for java.lang.VersionProps.init() _(verification of change pending)_
- [ ] Methods missing from jdk.internal.misc.Unsafe _(working on these)_
- All put, get, compareAndX variations for Reference (putRe

[2018-11-23 21:43] #3175 closed

[2018-11-23 22:37] gacholio commented on #3822
vmState=0x0002000f means crash in the GC.

[2018-11-24 11:24] pshipton opened #3825 "jdknext cannot configure in PR build due to missing x11 headers"
https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDKnext-linux_x86-64_cmprssptrs-OpenJ9/8
[code]

[2018-11-24 12:29] pshipton opened #3826 "osx fails to build --transform s,test/openj9,native-test-libs,: Cannot stat"
https://ci.eclipse.org/openj9/job/Build-JDK11-osx_x86-64_cmprssptrs/9
[code]

[2018-11-24 12:29] pshipton commented on #3826
@DanHeidinga

[2018-11-26 03:04] JasonFengJ9 commented on #3771
Looked at the three `javacore` in the result file. The threads seem not progressing hence this is a hang (or deadlock) instead of overrun.

The javacore file shows that following two threads hold vm access and apparently there is a thread attempting to acquire exclusive VM access which probably is the cause of this hang.
[code]

These two threads have vm thread flags `0xa1` in which `0x1` (many ot

[2018-11-26 04:30] DanHeidinga commented on #3826
@jdekonin It looks like the macs need to have gnu tar installed.  Can you confirm that it's available?

[2018-11-26 04:41] DanHeidinga commented on #3826
Confirmed that `osx1013vm4` has gnutar while `osx1013vm3` has bsd tar.

[2018-11-26 13:20] pshipton commented on #3770
Failing intermittently
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64/88

[2018-11-26 13:41] pshipton commented on #3685
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/3

[2018-11-26 13:44] pshipton opened #3830 "concurrentScavenge system tests failing on OSX Unknown option: concurrentScavenge"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-osx_x86-64_cmprssptrs/1
[code]

[2018-11-26 13:45] pshipton commented on #3830
@amicic @0dvictor @llxia
We either need to add concurrentScavenge support to OSX or exclude the testing.

[2018-11-26 13:47] pshipton commented on #3777
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-osx_x86-64_cmprssptrs/1/

[2018-11-26 13:50] llxia commented on #3816
We narrowed down the problem. It should be fixed in https://github.com/eclipse/openj9/pull/3821

[2018-11-26 13:51] pshipton commented on #3825
@DanHeidinga this occurred on Linux

[2018-11-26 13:53] pshipton opened #3832 "OSX extended functional test failures"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-osx_x86-64_cmprssptrs/1

org.openj9.test.contendedfields.ContendedFieldsTests.setUp
org.openj9.test.contendedfields.ContendedFieldsTests.setUp
org.openj9.test.contendedfields.ContendedFieldsTests.setUp
org.openj9.test.contendedfields.ContendedFieldsTests.setUp
org.openj9.test.attachAPI.TestAttachAPI.test_agntld03
org.openj9.test.atta

[2018-11-26 13:56] pshipton opened #3833 "OSX shared classes extended system test failures"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-osx_x86-64_cmprssptrs/1

SharedClassesAPI_0
SharedClasses.SCM01.MultiThreadMultiCL_0
SharedClasses.SCM23.MultiCL_0
SharedClasses.SCM23.MultiThread_0

[2018-11-26 15:15] pdbain-ibm commented on #3672
Tried forcing the symbol into the object file via `-u`.  No joy.

`dlerror.c:init()` calls `__libc_key_create`.
glibc-2.23/sysdeps/nptl/libc-lockP.h:
[code]
sysdeps/nptl/pthread-functions.h:
[code]
`_dlerror_run()` calls `__libc_once (once, init);` to set up the error buffer.
If the main file, e.g. `foo.c`, doesn't include a reference to `pthread_key_create()`,
the function table `__libc_pthread_f

[2018-11-26 15:19] dmitripivkine commented on #3771
@LinHu2016 FYI

[2018-11-26 15:36] dmitripivkine commented on #3745
closing...

[2018-11-26 15:36] #3745 closed

[2018-11-26 15:38] llxia commented on #3832
native test libs missing issue should be fixed by https://github.com/eclipse/openj9/pull/3765

[2018-11-26 15:42] smlambert commented on #3830
I would prefer directly excluding it on OSX, than using the mode string, since we should be moving away from using modes and prefer the use of the full string of options.

I understand that what is blocking us from whole-heartedly removing references to modes is that we carried over from the old/proprietary test infrastructure the mechanism that checks if a particular mode is valid on a particular

[2018-11-26 15:52] hangshao0 commented on #3833
Code is here;
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/d42cd0d94f7e017c1b3fbcb748cfecce81e15801/src/java.base/share/classes/jdk/internal/loader/BuiltinClassLoader.java#L245toL246

Might be related to recent Boolean change.

[2018-11-26 15:53] pdbain-ibm commented on #3672
`__pthread_initialize_minimal_internal()` initializes the table.  It isn't called if the application makes no reference to the pthread functions.  It seems we need to force pthreads to initialize.

[2018-11-26 16:09] pdbain-ibm commented on #3672
Known issue in glibc 2.23: https://sourceware.org/bugzilla/show_bug.cgi?id=16628 is Fixed in GLIBC 2.25.  Fixed in 2.25.  Many thanks to @babsingh for finding the bug report.
@AlenBadel FYI.

[2018-11-26 16:23] DanHeidinga commented on #3672
From the glibc bug:

@pdbain-ibm Is fixing this just a matter of adding `-lpthread` to our exe link lines?

[2018-11-26 16:44] dnakamura opened #3837 "Enable DDR support under cmake"
Running issue to track DDR support under cmake

[2018-11-26 16:54] ChengJin01 commented on #3819
Will double-check this issue to see what happens

[2018-11-26 17:19] jdekonin commented on #3825
Specifically, libxrandr-dev and a dependent package x11proto-randr-dev where missing.

ub16-x86-1 to ub16-x86-6 have been updated.
ub16-390-1 to ub16-390-4 have been updated.

[2018-11-26 17:23] jdekonin commented on #3826
`brew install gnu-tar` installs to `/usr/local/bin/` which already first on the path for the jenkins userid.
[code]

Should work as expected now.

[2018-11-26 17:29] kdvolder commented on #3747
I've cleaned up the VM of stuff like github tokens etc. And I've exported it from my VirtualBox into a '.ova' file. I've uploaded it to google drive. I can share a link to it via private email, I don't think I should share this in a public forum. Can I send the link to one of you?

[2018-11-26 17:32] llxia commented on #3816
On the related note, why the console output has 358M?

It seems the output is mostly from `Testing: Run !dumpallromclasslinear 2`. We should check if we can set `-outputLimit` on this test.

[code]

[2018-11-26 17:40] ChengJin01 commented on #3747
@kdvolder , please send it to jincheng@ca.ibm.com if you can.

[2018-11-26 17:43] jdekonin commented on #3790
osx1013-x86-3, osx1013-x86-4 and osx1013-x86-6 have been updated.  I don't have the ability to close.  @llxia, little help here please?

[2018-11-26 17:59] DanHeidinga commented on #3826
Thanks @jdekonin !

[2018-11-26 17:59] #3826 closed

[2018-11-26 18:07] #3795 closed

[2018-11-26 18:10] #3794 closed

[2018-11-26 18:53] babsingh commented on #3790
Closing this as per [Joe's comment](https://github.com/eclipse/openj9/issues/3790#issuecomment-441730610).

[2018-11-26 18:53] #3790 closed

[2018-11-26 19:17] llxia opened #3839 "cmdLineTester_jvmtitests_2 failed with NullPointerException on osx JDK11"
https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/3/consoleFull

[code]

[code]

[2018-11-26 19:19] jdekonin commented on #3825
ub16-ppcle-1 to ub16-ppcle-4 have been updated

[2018-11-26 19:23] cathyzhyi opened #3840 "Stop inlining dead path when argument type are not compatible"
https://github.com/eclipse/omr/pull/3242 is created to fix a crash in InvariantArgumentPreexistence when the callee method's class type doesn't match the propagated argument type.  However, in some cases, it could be more optimal if inliner can stop inlining the callsite on a dead path in the first place. Currently, ECS (estimate code size) is able to filter out the incompatible callsite when peek

[2018-11-26 19:28] llxia opened #3841 "testSoftMxDisclaimMemory_2 failed on osx JDK11"
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-osx_x86-64_cmprssptrs-OpenJ9/9/tapResults/

[code]

[code]

[2018-11-26 19:34] ChengJin01 commented on #3819
Already checked OpenJDK11_OpenJ9, OpenJDK8_OpenJ9 and internal Java 8. It seems the functional problem has been there for a long while (never be detected and addressed before).

Need to investigate the code at /jcl/src/openj9.dtfjview/share/classes/com/ibm/jvm/dtfjview/commands/FindCommand.java to figure out what we can do wit that.

[2018-11-26 19:35] llxia opened #3842 "TestSunAttachClasses_0 failed with missing Agent_OnAttach string on osx JDK11"
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-osx_x86-64_cmprssptrs-OpenJ9/9/tapResults/

[code]

[code]

[2018-11-26 19:52] kdvolder commented on #3747
Sent link in private email.

[2018-11-26 19:54] yanluo7 commented on #3491
I'm trying to narrow down the methods using a limit file. Total number of compiled methods up to the point of assert/crash is around 1800. Currently narrowing down to about 1000...

[2018-11-26 20:32] pshipton commented on #3770
It would be interesting to determine why sun/rmi/transport/Transport is sometimes loaded and sometimes not.

We could look for CorruptDataException in place of "unable to read"

[2018-11-26 20:38] pshipton commented on #3770
We can expand "unable to read" to a more specific string. I did find some places in DDR that output the following. The first one is in the ROMClassesIterator, which this test would be using.
- "Unable to read size of ROMClass at"
- "Unable to read object clazz at"

[2018-11-26 22:03] hangshao0 commented on #3743
Here is an example of the entire command line options if I run a simple app:
[code]

There are so many default options prepended/appended, which are not related to this feature at all. The old space and new space sizes are only two numbers, but the entire CML is such a long string. I guess it is not worth storing the whole CML,  Also there is an option -Dsun.java.launcher.pid, which will be differ

[2018-11-26 22:16] pshipton opened #3846 "Create docker files for jdk12"
Docker files need to be created to support jdk12.

https://github.com/eclipse/openj9/pull/4544 adds a WIP message into Build_Instructions_V12.md that needs to be removed before this work is completed.

fyi #3825

[2018-11-26 22:33] #3825 closed

[2018-11-26 22:39] pshipton commented on #3819
I expect the simplified help output should either include the required parameters, or suggest running `help find` to see them. The user guide should also be updated with the full help.

[2018-11-26 22:46] JasonFengJ9 commented on #3771
[code]

The Java code in question are:
[code]

The native code in stack probably looks like:
[code]

The matching source code is:
[code]
Note: the thread public flags from the core dump doesn't make `vmThread->publicFlags & haltMask` to be `true`.
The core file was captured only once after three javacore files were generated `30` seconds apart, ideally, system core should be captured right after j

[2018-11-26 23:10] pshipton commented on #3743
Just the main class isn't sufficient, other parameters such as -Xmx, -Xms and gcpolicy need to be stored as well. If they change then the hint is invalidated. We can try to find a balance between parameters that matter and parameters that don't. We can filter all the default options out of the parameter list and maybe some other specific parameter as well, but in general I think if options are mod

[2018-11-27 00:42] #3769 closed

[2018-11-27 01:04] #3819 closed

[2018-11-27 01:06] pshipton commented on #3819
I must have looked in the wrong place, because now I see the OpenJ9 user guide has the full help https://www.eclipse.org/openj9/docs/tool_jdmpview/

[2018-11-27 02:21] pshipton opened #3850 "New methods in String for jdk12"
indent(int)
transform​(Function<? super String,? extends R> f)
http://cr.openjdk.java.net/~iris/se/12/build/latest/api/java.base/java/lang/String.html

[2018-11-27 10:27] mseele opened #3851 "IllegalAccessException when calling default methods on interfaces"
There seem's to be an issue in openj9 when calling default methods on interfaces.
Please see https://github.com/lviggiano/owner/issues/243

Here is a snippet to reproduce the error:

[code]

...and here is the maven dependencies to run this code:

[code]

It work's well with openjdk-11 hotspot (https://adoptopenjdk.net/?variant=openjdk11&jvmVariant=hotspot) and java 8.

[2018-11-27 12:44] pshipton opened #3852 "OSX functional tests Can't locate Text/CSV.pm"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/4
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-osx_x86-64_cmprssptrs/2

Sanity tests running on osx1013-x86-3. https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/3 worked yesterday on the same machine.
[code]

[2018-11-27 12:45] pshipton commented on #3852
@jdekonin @llxia

[2018-11-27 12:51] pshipton opened #3853 "TAP test results are hard to read when failures occur"
When there are multiple failures in a test suite, the TAP test results are hard to read in order to see the list of failed tests. Each failure shows all the output inline, often there is a lot of output. In order to see all the tests which failed, you need to carefully scroll past all the output, looking for when one set of output ends and the next test begins.

[2018-11-27 12:52] pshipton commented on #3853
@llxia

[2018-11-27 12:52] pshipton commented on #3853
I guess I'm just doing it wrong, looking at the extended output. The TAP output itself shows the list of failures.

[2018-11-27 12:52] #3853 closed

[2018-11-27 12:57] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/95
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64/92

[2018-11-27 13:00] pshipton commented on #3771
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-aix_ppc-64_cmprssptrs/151

[2018-11-27 13:11] amicic commented on #3451
My startup fixes (https://github.com/eclipse/omr/pull/3233) are in. In my internal personal testing, there were still failures, but all of them seemed to be with -Xjit. @0dvictor, I think you should do another round of investigation - I'm available to help.

[2018-11-27 13:33] jdekonin commented on #3852
Could be that brew updated perl yesterday when I added gnu-tar??

I fixed it up.

[code]

[2018-11-27 13:34] pdbain-ibm commented on #3672
@DanHeidinga in reply to https://github.com/eclipse/openj9/issues/3672#issuecomment-441701856, the makefiles already do that: `-lm -lpthread -lc -lrt -ldl -lutil`. I tried a few other linker options, like adding `-u <some pthread symbol>`, but to no avail. Note that the regular Java launcher obviously doesn't have this problem; I assume it makes some pthread calls.

Options are:

1. Upgrade to gli

[2018-11-27 14:16] pdbain-ibm commented on #3672
Looks like option 1) is impractical.  My Ubuntu machine is `Ubuntu 16.04.5 LTS`, for which glibc 2.23 is the latest release.  I propose option 2), kludgy though it is.

[2018-11-27 14:18] pdbain-ibm commented on #3777
I will investigate.

[2018-11-27 14:31] llxia commented on #3789
`UnsatisfiedLinkError` in JDK11 is fixed.
Due to hang issue in osx JDK11, `cmdLineTest_gpTest` is temporarily excluded on osx in PR #3765.

[2018-11-27 14:43] DanHeidinga commented on #3672
@pdbain-ibm Can you supply the full link line for the `testjep178_dynamic` executable?  And also the `ldd` output?

I'm trying to figure out why the behaviour we're seeing doesn't match the bug description.

To be clear, (1) is not an option as changing the glibc level changes the supported platforms.  We're not going to drop support for some OS levels for an issue that has so far only appeared in

[2018-11-27 14:58] DanHeidinga commented on #3789
@llxia Is there an issue open for re-enabling?  Otherwise temporary tends not to be :)

[2018-11-27 15:43] pshipton opened #3854 "Enable shared classes by default on jdk8"
As enabling shared classes by default for jdk11 #1646 appears to be working now, we can look at enabling it by default on jdk8.

[2018-11-27 15:44] pshipton commented on #3854
@hangshao0

[2018-11-27 16:04] hangshao0 commented on #3854
I will wait one more week to backport to Java 8 if there is no problem found for #1646

[2018-11-27 16:11] pshipton commented on #3672
@DanHeidinga Note the failures are occurring on the Ubuntu 16 machines which OpenJ9 uses for nightly testing. These machines are already not using the minimum glibc level that OpenJ9 supports. The machines could be upgraded to Ubuntu 18, although I'm not sure what other issues this may cause.

[2018-11-27 16:13] pshipton commented on #3854
@hangshao0 We can wait a week to merge the change, but I suggest making a PR now and we can run all the PR testing to see if it exposes any problems.

[2018-11-27 16:19] hangshao0 commented on #3743
I will save the new/old space sizes as well as the following info:
main module/main class  (sun.java.command)
-Xgc
-Xmx
-Xms
-Xsoftmx
-Xmoi
java.class.path
jdk.module.path

Do you see any GC options that are missing here ? @amicic @dmitripivkine

[2018-11-27 16:24] llxia commented on #3789
yes, I left command in playlist.xml and referenced to #3686
https://github.com/eclipse/openj9/blob/7ea0a5ff5a985f1840e4cdee1b2a1dfb06303c49/test/functional/cmdLineTests/gptest/playlist.xml#L44

[2018-11-27 16:35] DanHeidinga commented on #3851
Copying the stack trace here:
[code]

[2018-11-27 16:38] amicic commented on #3743
As @pshipton suggested, I would not even try to recognize various -Xm? options (or any other option). If anything in options changed, the hints would be invalidated. It would be, in general, complicated to try to interpret -Xm? options to validate that they effectively mean the same initial/total heap sizing, even though the option themselves are different.

For example, these two things are effec

[2018-11-27 16:38] jdekonin commented on #3809
I think this is a plugin bug
https://issues.jenkins-ci.org/browse/JENKINS-53468

If this is happening on a regular occurrence, we could roll back to a previous version.

[2018-11-27 16:42] dmitripivkine commented on #3743
I believe we need keep GC policy as well

[2018-11-27 16:46] DanHeidinga commented on #3743
+1 this to approach. For the initial implementation, we should just validate the commandline is the same.

[2018-11-27 16:47] hangshao0 commented on #3743
Yes, I should -Xgc and -Xgcpolicy

[2018-11-27 16:49] hangshao0 commented on #3743
OK. Then I am going the save the entire command line.

[2018-11-27 16:57] DanHeidinga commented on #3672
Thanks for the links @babsingh.  My point that we need to validate we're correctly linking libpthread in our test executables still stands.  Let's rule out the easy / obvious things first.

[2018-11-27 17:46] #3566 closed

[2018-11-27 17:50] jdekonin commented on #3461
This work is complete, the issue can be closed.

[2018-11-27 18:45] pdbain-ibm commented on #3672
In reply to
https://github.com/eclipse/openj9/issues/3672#issuecomment-442082731:
[code]

[2018-11-27 18:54] pdbain-ibm commented on #3672
We can reproduce the problem using the code from
https://github.com/eclipse/openj9/issues/3672#issuecomment-441292519:
[code]

[2018-11-27 19:14] DanHeidinga commented on #3672
Thanks for getting this info @pdbain-ibm
For the ldd command, I was thinking `$ ldd testjep178_dynamic`

Is https://github.com/eclipse/openj9/issues/3672#issuecomment-442174613 the case we're hitting?  ie: trying to open a non-existent library?

I'm on board with adding a workaround to the test provided we understand what we're doing to provoke the failure so can help any user that hits similar is

[2018-11-27 20:08] pdbain-ibm commented on #3672
Per @DanHeidinga 's request:
[code]

Same thing for my test program:
[code]
Adding a dummy pthread call to `foo.c` and recompiling it, we get a reference to libpthread:
[code]

Testing with `strace`, the executable doesn't even try to open pthread .  The modified `foo.c` does open the library when run:
[code]

[2018-11-27 20:33] pshipton commented on #3580
Closing since the reported issue is fixed.

[2018-11-27 20:33] #3580 closed

[2018-11-27 20:38] pshipton commented on #3809
I haven't seen it since the original, so far.

[2018-11-27 20:38] DanHeidinga commented on #3672
@pdbain-ibm I'm not sure it makes a difference, but the `ldd` output is from `testjep178_static` while the rest of the discussion has been about `testjep178_dynamic`

I'm not familiar with the details of `testjep178_dynamic` so my (poorly worded) question was whether the test attempted to dlopen a library that didn't exist and if that was the case of the crash as per  [Comment 5](https://sourcewar

[2018-11-27 20:46] pdbain-ibm commented on #3672
The question of dynamic vs static is irrelevant: we crash even on genlauncher during VM startup due to a race condition amongst initialization threads. The crash is not related to https://sourceware.org/bugzilla/show_bug.cgi?id=16628#c5: it is due to multiple conflicting accesses to a shared `result` buffer. I am in the process of tweaking the tests per option 2) (ugh!) and retesting.

[2018-11-27 21:01] AdamBrousseau commented on #2637
Another option is to use the Eclipse Nexus offering
https://wiki.eclipse.org/Services/Nexus#Deploying_artifacts_to_repo.eclipse.org
I am unsure how to use this as it seems to only be supported for Maven or Gradle builds.

[2018-11-27 21:05] DanHeidinga opened #3861 "Build all java executables with -pagezero_size on MAC"
-pagezero_size 0x1000 can be used for both compressedrefs and non-compressedrefs variants. This will allow executables to work with both compressedrefs and non-compressedrefs OpenJ9 librarires.

If I use compressedrefs shared libraries in a non-compressedrefs SDK, then the executables such as java, javap ... would fail with `JVMJ9VM015W Initialization error for library j9gc29(2): Failed to instant

[2018-11-27 21:17] DanHeidinga commented on #3861
@babsingh Can you also create a PR against https://github.com/ibmruntimes/openj9-openjdk-jdk for this change?

[2018-11-27 21:31] ChengJin01 commented on #3747
By copying the STS4 along with the workspace out of the VM image,  I managed to reproduce the crash locally. The behavior seems to be weird.  So still double-checking all setting to see what triggered the crash.

[2018-11-27 21:57] #3520 closed

[2018-11-27 22:32] babsingh commented on #3861
Created https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/51.

[2018-11-27 23:42] yanluo7 commented on #3491
Continuing to narrow down the methods, down to about 30 currently...Hopefully this can lead to a handful of methods to focus on.

[2018-11-28 04:13] DanHeidinga commented on #3469
@tsmaeder Does the issue still occur with the latest AdoptOpenJDK OpenJ9 nightly builds?

[2018-11-28 04:15] takiguc commented on #3580
Thanks.
I ran SwingSet2 testcase on RHEL7.5 ppc64le with following build.
It worked fine
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.1+13-201811271910)
Eclipse OpenJ9 VM AdoptOpenJDK (build master-d3f9e38ec, JRE 11 Linux ppc64le-64-Bit Compressed References 20181127_35 (JIT enabled, AOT enabled)
OpenJ9   - d3f9e38ec
OMR      - d92f2bdd
JCL      - d42cd0d94f based on jdk-11.0.1+13)

[2018-11-28 14:36] pdbain-ibm commented on #3672
Tested a candidate "fix" manually with both the static and dynamic versions: 600 runs without a failure.  Testing in a personal build on other platforms now...

[2018-11-28 18:20] #3736 closed

[2018-11-28 18:59] yanluo7 commented on #3491
Limit file debug continues, currently down to about 17 methods...

[2018-11-28 21:33] mpirvu commented on #3724
@harryyu1994 Harry, as discussed, please start working on this issue. Thanks

[2018-11-28 21:37] ChengJin01 commented on #3747
Investigation shows there are two ways to launch OpenJ9.zip from STS4:
[1] no changes in SpringToolSuite4.ini (JRE for STS4 is set up to Java 8 by default)

<1> directly launch SpringToolSuite4.exe (no Java 8 gets started)
 <2> then start OpenJ9.zip (set to Java 11) at boot dash which gets Java 11 started. In such case, there is only Java VM on the machine: Java 11 for OpenJ9.zip
Repeatedly starti

[2018-11-28 22:06] jdekonin opened #3872 "Failing to compile windows with VS2017"
Compiling with the latest greatest, I'm getting a link failure.

[code]

[2018-11-28 22:15] pshipton commented on #3872
I'm thinking the problem is related to the `-nodefaultlib` option. The location of memcpy has changed in VS2017, it is no longer in `msvcrt.lib`. I did find something in `vcruntime.lib` although it is called `memcpy` and not `_memcpy`

[2018-11-28 22:32] pshipton commented on #3872
Looking at a pre-OpenJ9 build it still uses `-nodefaultlib` so I don't think it is new. The change is in trying to compile with VS2017 instead of 2015 or earlier.

[2018-11-28 22:39] dsouzai opened #3873 "Crash in Compiler Options Processing"
Running
```java -Xjit:aot,verbose={compilePerformance},vlog=vlog -version```
Results in a crash. This is due to a bug in the OMR compiler options processing code (it crashes here https://github.com/eclipse/omr/blob/ab3462429e1ef193d6b315c764486ff75da79c64/compiler/ras/OptionsDebug.cpp#L379 because of the NULL here https://github.com/eclipse/omr/blob/ab3462429e1ef193d6b315c764486ff75da79c64/compile

[2018-11-28 22:54] jdekonin commented on #3872
The nightly worked with 2017, so I'm guessing this is how the environment is setup??
https://ci.eclipse.org/openj9/job/Build-JDK11-win_x86-64_cmprssptrs/237/consoleFull

[2018-11-28 23:15] jdekonin commented on #3872
"ucrt.lib" "vcruntime.lib" is added to the JDK11 compile.  only one use in openj9, runtime/compiler/build/toolcfg/win-msvc/common.mk.  These appear to be added only if MSVC_VERSION is set to 2015 or 2017.  Guessing that openjdk sets this variable and I am trying to compile openj9 standalone.

[2018-11-28 23:16] pshipton commented on #3872
This is not an OpenJ9 problem. The fix is here https://github.com/eclipse/openj9/blob/8d61ec233297c565e4a186a2be5d0a3ea23b8fdb/runtime/compiler/build/toolcfg/win-msvc/common.mk#L241

[2018-11-28 23:16] #3872 closed

[2018-11-28 23:19] gacholio commented on #3872
I find it odd that you say "not an openj9 problem" and provide an openj9 link to the fix...

[2018-11-28 23:42] pshipton commented on #3872
"not a OpenJ9 problem" because OpenJ9 already contains the necessary code. The reported problem is a user error when trying to build (IBM Java 8).

[2018-11-28 23:42] jdekonin commented on #3872
Works fine by setting MSVC_VERSION.

[2018-11-29 03:56] ChengJin01 commented on #3851
Will investigate to see what happened in there.

[2018-11-29 04:10] JasonFengJ9 commented on #3771
Those system core dump files in the job result do not match the thread states in the javacore files as per analysis above, it appears the thread states might be modified by JVM RAS system dump generation process.
Attempted to force a system core via de-referencing a `NULL` pointer when a signal `-6` is received to skip RAS dump mechanism, it works in a simple stand-alone case but no core was colle

[2018-11-29 12:44] pshipton commented on #3833
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-osx_x86-64_cmprssptrs/3

List of failures has changed a little:
SharedClassesAPI_0
SharedClassesWorkload_0
SharedClasses.SCM23.MultiThread_0

[2018-11-29 12:49] pshipton commented on #3832
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-osx_x86-64_cmprssptrs/3

Updated list of failures:

testSCCMLTests4_1
testSCCMLTests5_1
testSCCMLTests6_1
TestSunAttachClasses_0
ContendedFieldsTests_90_1
threadMXBeanTestSuite2_3
testSoftMxDisclaimMemory_LP4k_2
testDefaultDisclaimMemory_2

org.openj9.test.contendedfields.ContendedFieldsTests.testMultipleFieldContClass
org.openj9.tes

[2018-11-29 12:53] #3852 closed

[2018-11-29 13:08] DanHeidinga commented on #3771
+1 assuming access will be revoked once the issue is debugged.  FYI @jdekonin

[2018-11-29 13:35] jdekonin commented on #3771
I contacted @JasonFengJ9 direct and provided temporary access to the machine.  It has been disabled until Jason is finished with it.

[2018-11-29 13:41] pdbain-ibm commented on #2872
https://github.com/eclipse/omr/pull/3185 is merged. OMR and OpenJ9 now have `-fno-strict-aliasing` enabled on all GCC platforms.  Can this issue be closed?
Thanks

[2018-11-29 13:42] JasonFengJ9 commented on #3771
Got the machine access, and attempting to reproduce the hang.

[2018-11-29 13:51] pdbain-ibm commented on #3832
I plan to investigate the `ContendedFiledsTests` and `TestSunAttachClasses`.

[2018-11-29 13:53] gacholio commented on #2872
JIT?

[2018-11-29 14:01] pdbain-ibm commented on #2872
Don't the OMR changes cover the JIT?

[2018-11-29 14:13] charliegracie commented on #2872
No the JIT does not use the OMR makefiles similar to how they do not use the OpenJ9 makefiles.

[2018-11-29 15:21] pshipton commented on #3816
@llxia do we still need this open? The problem appears to be fixed. #3821 #3844

[2018-11-29 15:59] babsingh commented on #3685
Updated the PR description with testcase failures in the `PLTEST` suite. 23 testcases are failing.

[2018-11-29 16:04] babsingh opened #3878 "thrstatetest failures on OSX"
After running the `thrstatetest` executable, 98 testcases are failing. List of failing testcases are shown below. **Detailed log** after running the `thrstatetest` executable: [thrstatetest.log](https://github.com/eclipse/openj9/files/2629878/thrstatetest.log)

[code]

[2018-11-29 16:06] babsingh commented on #3878
fyi - @DanHeidinga @pshipton. To do in Mac. Related to https://github.com/eclipse/openj9/issues/3321.

[2018-11-29 16:48] hangshao0 commented on #3833
SharedClassesAPI_0 failure is caused by:
[code]

SharedClassesWorkload_0 failure is caused by the same NPE in my previous comment.

SharedClasses.SCM23.MultiThread_0 failure is caused by:
[code]

[2018-11-29 17:11] liqunl commented on #594
@vsebe I'm seeing the same failure in my PR.
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-linux_x86-64_cmprssptrs-OpenJ9/496/tapResults/

[2018-11-29 17:12] llxia commented on #3816
I will close this one. I left a comment in backlog issue - Revisit test output of cmdlinetester tests

[2018-11-29 17:12] #3816 closed

[2018-11-29 18:29] DanHeidinga commented on #3861
Closing as changes delivered to jdk8, 11, and next extensions repos

[2018-11-29 18:29] #3861 closed

[2018-11-29 18:39] mpirvu commented on #3344
@satbir-ca Satbir, could you please start working on this issue? Thanks

[2018-11-29 18:46] #3672 closed

[2018-11-29 19:19] pshipton opened #3882 "Set shared cache dir to user's home directory jdk8"
Before #3858 is merged, the default shared cache directory should be changed to the user's home directory for jdk8, as was done for jdk11 via #2862

[2018-11-29 19:19] pshipton commented on #3882
@hangshao0

[2018-11-29 19:35] pshipton commented on #3882
The update is added to #3858

[2018-11-29 20:01] pshipton opened #3885 "Default shared cache may cause -Xscmx to be ignored"
@DanHeidinga raised an interesting point in conversation. Recording it here so there is a record, and for discussion.

Apps which already use the shared cache may be setting a -Xscmx option. These apps should be setting a cache name as best practice, and not using the default name. If they set a cache name there is no issue.

The -Xscmx option has no affect if the cache already exists. A cache wit

[2018-11-29 20:01] pshipton commented on #3885
@hangshao0

[2018-11-29 20:02] pshipton commented on #3885
@mpirvu

[2018-11-29 20:03] gacholio opened #3886 "Add final field tests"
Once #3883 is merged, tests need to be added to verify the newly-correct behaviour. I'd suggest adding it to the j9vm test suite, which is run in many modes so it will test the interpreter and JIT.

The tests will either need to be jdk9+, or (my preference) be aware of the lax rules in jdk8 and test for them.

[2018-11-29 20:04] gacholio commented on #3886
@tajila

[2018-11-29 20:09] pdbain-ibm commented on #3842
Using the wrong suffix for the agent library:
[code]

[2018-11-29 20:31] hangshao0 commented on #3885
If the subsequent JVMs with different -Xscmx value can change the soft max limit of an existing shared cache, it basically invalidate the softmx setting of the first JVM, it is very likely to cause problems for the first JVM.  Also the soft max value could be changed back and forth more frequently.

[2018-11-29 20:45] pdbain-ibm commented on #3842
Testing the fix now.

[2018-11-29 21:16] ChengJin01 commented on #3747
I went through all java path related settings (installed JRE/Java compiler, etc) but didn't detect anything different in comparing STS4 B1362 with STS4 B1373.

So I installed B1373 & followed the same steps before to import/launch OpenJ9.zip on both a new fyre Windows machine and the original VM image. It is interesting that the segment fault occurred on both of them.  Repeating the same steps on

[2018-11-29 21:38] babsingh commented on #3787
I tried running `libpathTestRtf` and `libpathTestRtfChild` locally on the same machine where the sanity build fails. The tests passed. I ran the tests as follows:
[code]

On my local computer (OSX High Sierra), running the above tests led to a pop-up window: `Do you want the application "java" to accept incoming network connections?` https://techblog.willshouse.com/2012/10/17/how-to-allow-java-in-

[2018-11-29 21:38] kdvolder commented on #3747
Is there something that STS could do in its Boot App launcher to avoid this problem? Maybe somekind of cleaning of the environment that the launcher could do? Not sure its a good idea. But if its hard to make OpenJ9 run correctly with 'wacky' stuff in its environment then perhaps it might be an option.

[2018-11-29 21:49] ChengJin01 commented on #3747
The only way around for the moment is to explicitly add the following line to SpringToolSuite4.ini
[code]
which will start Java 8 separately. As a result, there is no Java 8 bin on the path when launching OpenJ9.zip

[2018-11-29 22:00] kdvolder commented on #3747
I was thinking more along the lines of controlling/cleaning the environment at the point where STS launches a boot app (i.e. inside the launch configration delegate for boot apps which basically kicks of the boot app when user presses 'start' button). I think, in theory, that delegate could modify the environment if it wanted to.

I'm not keen on that sort of 'hackery'. It probably be better if Op

[2018-11-29 22:22] ChengJin01 commented on #3747
The suggested fix above functionally works from boot app perspective. So it is possible that something else in setting might change in such case.

[2018-11-29 22:58] ChengJin01 commented on #3747
I tried with a locally compiled build (with the latest changes) on the same failing Window machine with everything unmodified and nothing wrong happened when repeatedly launching many times.

I am wondering whether there is anything different in config/setting during compilation as compared to the JDK generated from AdoptOpenJDK.

[2018-11-29 23:03] pshipton commented on #3747
@ChengJin01 what causes java.dll to get loaded in the failure case? I see a couple of spots in the VM that load it, these could be changed to load from a particular location, similar to #3650. However these may not be the places that cause the wrong java.dll to get loaded.

You can also check the com.ibm.oti.vm.bootstrap.library.path system property when the failure occurs. It would be interesting

[2018-11-29 23:13] pshipton commented on #3747
Possibly this issue was already fixed by #3650, in which case it should not occur with a nightly build from Adopt.

[2018-11-29 23:13] ChengJin01 commented on #3747
Let me try a nightly build to see what happens.

[2018-11-29 23:14] yanluo7 commented on #3491
Currently down to about 3-4 methods, I'm trying to make sure the offending method is one of those methods. as more methods get excluded both the test runtime and the indeterminacy increase substantially.

[2018-11-29 23:34] harryyu1994 commented on #3724
I think the reason Noah implemented a global `TR_JITaaSServerPersistentCHTable` object is to have minimum changes to non-JITaaS parts. `TR_JITaaSServerPersistentCHTable` extends `TR_PersistentCHTable` and is meant to be queried the same way in non-JITaaS codegen and JITaaSServer codegen. (Something like this is shared by non-JITaaS & JITaaSServer: `self()->comp()->getPersistentInfo()->getPersisten

[2018-11-29 23:40] ChengJin01 commented on #3747
Already tried with the latest nightly build at https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2018-11-29-02-58/OpenJDK11U-jdk_x64_windows_openj9_2018-11-29-02-58.zip and repeatedly launched the project over 20 times
[code]
[sts4_windbg_java11_nightly.txt](https://github.com/eclipse/openj9/files/2631292/sts4_windbg_java11_nightly.txt)
The windbg results java.dll from Ja

[2018-11-30 00:48] mpirvu commented on #3724
If we always go through `getPersistentCHTable()` can we change the definition of that method to return the 'per client' CHTable?

[2018-11-30 04:40] gacholio commented on #3873
This might be another case of incorrect strncmp usage, i.e.

`strncmp(option, "aot", strlen("aot"))` instead of
`strncmp(option, "aot", strlen(option))`

@charliegracie

[2018-11-30 04:42] harryyu1994 commented on #3724
I think that could work, I will come up with an implementation

[2018-11-30 05:06] ChengJin01 commented on #3747
Already checked STS4 B1362 on the original VM image as follows:
1) set the project JRE to the previous JDK11 build and hit segment fault intermittently
2) set the project JRE to the latest nightly build & repeated launching the OpenJ9 project over 20 times
   and no thing wrong was detected.
3) set the project JRE back to the previous JDK11 build and segment fault occurred after a couple of runs.

[2018-11-30 13:01] pdbain-ibm commented on #3842
Pull request https://github.com/eclipse/openj9/pull/3890 opened.

[2018-11-30 13:31] andrew-m-leonard opened #3891 "hyc-runtimes-jenkins.swg-devops.com Windows slaves not setup correctly to build openjdk"
It seems the Windows slaves are not setup correctly...?
https://hyc-runtimes-jenkins.swg-devops.com/view/Java11/job/Build-JDK11-win_x86-64_cmprssptrs/

[2018-11-30 13:35] andrew-m-leonard commented on #3891
ignore wrong place!

[2018-11-30 13:35] #3891 closed

[2018-11-30 15:33] charliegracie commented on #3873
For option processing we need to remove ALL instances of `strncmp` as it easily allows for substring matches... ALL option processing (and similar) code needs to be using `strcmp`.  The "safety" of using `strncmp` is completely removed if you run `strlen` on one of the strings to provide the length parameter... Also to properly use `strcmp` for this type of processing you need to check that the le

[2018-11-30 16:34] AdamBrousseau commented on #3573
https://issues.jenkins-ci.org/browse/JENKINS-54680
resolved as dup of
https://issues.jenkins-ci.org/browse/JENKINS-54678

[2018-11-30 16:46] pdbain-ibm commented on #3777
The port library doesn't support `j9sysinfo_get_cache_info()` (yet), so the VM disables contended classes.
Working on adding that function to the port library.  @llxia we can disable this test on MacOS in the meantime if you wish.

[2018-11-30 17:18] JamesKingdon opened #3894 "Tight loop contains multiple async checks"
Based on a stack overflow question:
https://stackoverflow.com/questions/53452713/why-is-2-i-i-faster-than-2-i-i

I modified the test case slightly to get out of DLT and compile the loop at scorching. The resulting compilation log indicates four back to back async checks at the top of the hot loop.

Attached zip file contains the modified test code: LoopTest1x.java, a script showing how the test wa

[2018-11-30 17:19] mpirvu commented on #3585
I looked at the code and the VM has 4 implementations that are identical:
[code]
What I am proposing to replace our own code
`TR_J9VMBase::isMethodEnterTracingEnabled(TR_OpaqueMethodBlock *method)`
`TR_J9VMBase::isMethodExitTracingEnabled(TR_OpaqueMethodBlock *method)`

with something like:
[code]
Of course, this means that we need to change all places that call `isMethodEnterTracingEnabled` and `

[2018-11-30 17:42] mpirvu commented on #3585
What I proposed above needs changes even to the OMR level, so we should stage it like this:

Phase 1
1. Create new method
[code]
2. Modify `TR_J9VMBase::isMethodEnterTracingEnabled(TR_OpaqueMethodBlock *method)` and `TR_J9VMBase::isMethodExitTracingEnabled(TR_OpaqueMethodBlock *method)` to call the newly created method
3. Change the two protobuf messages `J9ServerMessageType::VM_isMethodEnterTraci

[2018-11-30 17:46] mpirvu commented on #3585
Maybe this is a change Annabelle  @a7ehuo could implement.

[2018-11-30 18:19] #3842 closed

[2018-11-30 18:42] ChengJin01 commented on #3851
The exception occurred at the following code at /jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java
[code]

Looking at the access rules for findSpecial in the API Spec https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/invoke/MethodHandles.Lookup.html#findSpecial(java.lang.Class,java.lang.String,java.lang.invoke.MethodType,java.lang.Class)
[code]
According to t

[2018-11-30 19:09] JamesKingdon opened #3895 "Missing autoSIMD?"
Following on from a conversation on the OpenJ9 slack (https://openj9.slack.com/archives/C8312LCV9/p1543598264011900), @fjeremic noted that on Z the following testcase benefits from autoSIMD while on x86 this does not seem to be the case. Is this expected behaviour?

Zipfile includes testcase and a compilation trace from the run (trace contains both the initial warm compile and the hot dlt compile)

[2018-11-30 19:21] ChengJin01 commented on #1694
I will double-check to see whether it can be reproduced with the latest nightly build.

[2018-11-30 19:36] Mesbah-Alam opened #3897 "subst command does not work on Windows build at ci.eclipse"
System tests are failing in ci.eclipse openj9 Windows build with :

[code]
Job link: https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-win_x86-64_cmprssptrs/91/

**Note**:
1)`subst` command is failing on Windows machine in ci.eclipse. It works fine in Adopt, e.g, https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/475/consoleFull
2) Stf uses `subst` to substitute long folder paths to

[2018-11-30 19:37] Mesbah-Alam commented on #3897
FYI... @AdamBrousseau

[2018-11-30 19:39] DanHeidinga commented on #3851
Nice work tracking that down @ChengJin01 but I think this is a case where the javadoc is incorrect.

The intention of the MethodHandles.Lookup.find* calls is to emulate the behaviour of the equivalent bytecodes.  In the case of `findSpecial`, that would be emulating `invokespecial`, which DOES allow calling interface methods when the currentClass != resolvedClass:
https://github.com/eclipse/openj9

[2018-11-30 19:45] fjeremic opened #3898 "Simple multiplication loop is not vectorized on x86"
Based on a stack overflow question:
https://stackoverflow.com/questions/53452713/why-is-2-i-i-faster-than-2-i-i

I took a quick sniff of what happens with OpenJ9 on the above test on Linux on Z [1] and I was pleasantly surprised that performance was really good vs. Hotspot. I ran the same test on x86 however and we are basically on par. The issue seems to boil down to Auto SIMD not kicking in for

[2018-11-30 19:47] fjeremic commented on #3898
I think #3895 is a less complete duplicate of this. @JamesKingdon do you think we should close it?

Tagging @andrewcraik and @0dvictor for the x86 problem and @gita-omr for the Power problem seen here. I think if we can solve the GRA bug linked above and implement the evaluators things will be super fast as they are on Z.

[2018-11-30 19:53] JamesKingdon commented on #3895
Filip said it better :)

[2018-11-30 19:53] #3895 closed

[2018-11-30 19:53] JamesKingdon commented on #3898
Closed my dup :)

[2018-11-30 20:37] ChengJin01 commented on #3851
Already noticed the inconsistency of invokespecial in the VM Spec against findSpecial() in the API Spec.

@mseele , could you provide the detailed steps to reproduce the exception? So we verify once we fix the issue (probably we also need our own test cases for the fix).

[2018-11-30 20:45] liqunl commented on #3610
[`isLoadOfStaticFinalField`](https://github.com/eclipse/omr/blob/master/compiler/il/OMRNode.cpp#L8699) needs to have a check for direct load once this is done.

[2018-11-30 21:41] dsouzai commented on #3833
The error seen in https://github.com/eclipse/openj9/issues/3833#issuecomment-441688790 might be related to https://github.com/eclipse/openj9/issues/3333#issuecomment-440327270 . When I last left off my investigation, I managed to get core files and some logging; I'm going to have to go through them to see what the problem is. As far as I can tell, the AOT problem isn't a new one (since it happens

[2018-11-30 21:42] dsouzai commented on #3333
I didn't have time all week to look at this issue. However, when I last left off my investigation, I managed to get core files and some logging; I'm going to have to go through them to see what the problem is. As far as I can tell, the AOT problem isn't a new one (since it happens with "old" AOT); we've just never really tested osx prior to OpenJ9.

[2018-12-01 05:35] harryyu1994 commented on #3724
Here is the definition of `getPersistentCHTable()` in `compiler/env/J9PersistentInfo.hpp`, I failed to see how we can access the `clientSessionData` from here.
[code]

[2018-12-01 19:46] AdamBrousseau opened #3902 "Enable Docker based "cloud" Jenkins agents"
Thanks to @cwesMills for not only adding new docker containers but also automating the process of keeping them up to date. We have started pushing them to Docker Hub. Once they are all there and tested, we should start enabling them on [Jenkins](https://ci.eclipse.org/openj9/).

### Current VMs we use
#### x86
- 6x Ubuntu 16
#### ppc64le
- 4x Ubuntu 16
#### s390x
- 4x Ubuntu 16

### Available cont

[2018-12-01 20:38] AdamBrousseau commented on #3902
Looks like the new Eclipse Jenkins instances come with some kind of Kubernetes offering.
https://wiki.eclipse.org/Jenkins#How_do_I_run_my_build_in_a_custom_container.3F
Maybe we need to look into that.

I'm not sure how we can connect the Master to each "Cloud" docker service because the master cannot directly see outside. Updated desc with 2 more questions.

[2018-12-02 04:54] mpirvu commented on #3724
You could use `TR::compInfoPT->getClientData()` but you need another test to make sure that this happens only for JITaaS server. Could we extend PersistentMemory to create a specialized version just for JITaaS?

[2018-12-02 15:57] JasonFengJ9 commented on #3771
**Update**:

Reproduced the hang at the machine, and generated the system core with current threads.

The javacore appears same as those reported in earlier investigation (following contents looks same though from a new set of dump files);
<pre>
3XMTHREADINFO      "load-0" J9VMThread:0x0000000001950400, omrthread_t:0x00007F14A40F77F8, java/lang/Thread:0x00000000E0486E38, state:R, prio=5
3XMJAVALTH

[2018-12-03 04:32] pshipton opened #3903 "Test-sanity.system-JDK8-aix_ppc-64_cmprssptrs LambdaLoadTest_OpenJ9_NonLinux_0 NullPointerException"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-aix_ppc-64_cmprssptrs/156

[code]

[2018-12-03 05:11] DanHeidinga opened #3904 "IBM_JAVA_OPTIONS should only be checked if OPENJ9_JAVA_OPTIONS not set"
The redirector only processes IBM_JAVA_OPTIONS if the OPENJ9 version isn't set:
https://github.com/eclipse/openj9/blob/9258a5aa4d1839d9df92d268dd4588a699576bdd/runtime/redirector/redirector.c#L534-L538

The vmargs.c code processes both options unconditionally:
https://github.com/eclipse/openj9/blob/a43aee9d618b9335d0a36f4b47eb0056ad8a8995/runtime/util/vmargs.c#L1394-L1395

The vmargs.c code should

[2018-12-03 05:11] DanHeidinga commented on #3904
FYI @pdbain-ibm