[2018-02-08 19:38] pshipton commented on #1135
I don't think this is true. Changes go into OpenJDK when they are working and ready. Upcoming features may not have a target, or could be expected to go in but miss the 6 month window.

[2018-02-08 19:53] pshipton commented on #1096
Changes have been merged

[2018-02-08 19:53] #1096 closed

[2018-02-08 19:53] pshipton commented on #1020
#1095 has been merged

[2018-02-08 19:53] #1020 closed

[2018-02-08 19:59] andrewcraik commented on #1124
@zl-wang  and @fjeremic a few points: this optimization was only enabled very recently so it isn't something that has been depended on for a long period of time, the issue of not catching the ABBBBBB pattern is unfortunate but the performance will not be worse than the state of affairs before this optimization, tracking the lock behaviour is not something we currently have infrastructure to track

[2018-02-08 20:00] taliamccormick commented on #1135
Projects Panama and Valhalla are working on features that are 6 months to 2 years away. Due to their timeline:
- Tests may change frequently
- Different compiler options may be needed for the VM
- Different tools may require different or more flexible versions that the other tests (eg. ASM7 for nestmates attributes, groveller for native method handles)

The future JEPs tests are also only run on t

[2018-02-08 20:08] fjeremic commented on #1124
I'm ok with us fixing an observed issue in the current implementation as long as it is something clean and maintainable. We currently do have background work to improve lock reservation and to capture a more general use case that is not targeted towards whitelisted classes. Are we able to expose a test of the workload in which the observed behavior is exhibited such that any background or ongoing

[2018-02-08 20:28] smlambert commented on #1135
Ok, so I 'get' the need for FutureJEP based on the answers above, and I agree it is undesirable to keep Panama and Valhalla once they are merged into it.  So it is a very good goal to plan to get rid of Panama and Valhalla separate subsets once FutureJEP is working as expected (let's set a target date for it to avoid unintended creep/bloat).

[2018-02-08 20:41] mikezhang1234567890 opened #1139 "Test framework makefiles too verbose"
I think with testkitgen handling things on a per directory basis, the makefile output is a little too verbose by reporting on entering and exiting each subdirectory in the test directory. The output for this could probably be hidden behind a `--verbose` switch.
For reference, here is my output of `make clean`:
[code]

fyi: @TianyuZuo

[2018-02-08 20:50] smlambert commented on #1135
Changing tests frequently should not in theory make them brittle, it likely makes them more robust as they are being more closely monitored/curated/updated.  Features that are 6 months away are imminent, and the test suite that accompanies them should be well-planned and working as well as the feature.

There are also tests going into Java10, is it simply because the Panama and Valhalla projects a

[2018-02-08 20:56] smlambert commented on #1139
Related:
https://github.com/eclipse/openj9/issues/200 - to quiet chatty tests
https://github.com/eclipse/openj9/issues/307 - includes merging test projects into fewer subdirs

[2018-02-08 21:06] harryyu1994 commented on #1105
[code]
Took a look first at the 3 x86FeatureFlags:
[code]
The flag bits in bold are determined to be the features that the current JIT queries. I guess during the AOTHeader feature flag check, we should ignore all the other bits which aren't used by our compiler.

[2018-02-08 21:08] pshipton commented on #1135
Java 10 is locked down already. There aren't any new features that affect OpenJ9 in any significant way, but there are a few new APIs (not covered by any feature) that need tests. The new APIs are unrelated to Panama and Valhalla.

Java 11 is still open for any new features that are ready in time.

[2018-02-08 21:08] tajila commented on #1135
Panama and Valhalla are fairly large projects and will be released in small increments starting with Java11 (Valhalla - nestmates). What is coming in future (Java12+) releases is not well known but as we get closer to the date we'll have a better idea.

They are built separately. Currently, we have a separate spec for Panama, this will become the FutureJEPs spec and we'll turn on flags for nestmat

[2018-02-08 21:11] andrewcraik commented on #1105
I think we need to be careful with the design to make it so that when bits are used the AOT validation adapts automatically. It would be very unfortunate to hard code a set of flags only to have someone have to go and discover that an AOT failure occurred because a flag bit needed to be added to the validation mask.

@0dvictor FYI in case any have been missed that you know of.

[2018-02-08 21:28] smlambert commented on #1135
Yep, I am trying to determine how to best manage the test material as it is being stretched across multiple versions Java8+ and multiple implementations/projects (which hopefully mostly can be contained within FutureJEP project).

A similar example of a component that spans this would be the JCLs, which are split out into different repos per version and per special project.

As discussed in #170 w

[2018-02-08 21:30] harryyu1994 commented on #1105
I determined the used flag bits by looking into these queries below:
[code]
[code]
So maybe, to generate the AOT validation mask automatically, we add a line in each of these queries? if they get called then their corresponding bit in the validation mask will get turned on.

[2018-02-08 22:48] pshipton opened #1140 "OPENJ9_TAG doesn't match SHA being built"
ibmruntimes/openj9-openjdk-jdk8#36 and ibmruntimes/openj9-openjdk-jdk9#121 added OPENJ9_TAG, which is intended to be the TAG associated with the OpenJ9 SHA being built. However OPENJ9_TAG is the last tag available.

[2018-02-08 23:20] JasonFengJ9 commented on #1140
Looking at getting the `tag` associated with the code `SHA` currently checked out.
Was thinking about the closest tag as per comment
https://github.com/ibmruntimes/openj9-openjdk-jdk9/blob/openj9/closed/OpenJ9.gmk#L31

[2018-02-09 02:10] #995 closed

[2018-02-09 02:46] smlambert commented on #1139
I don't want to get into the game of changing the default behaviour of make through the test framework.

Use -s (--silent) option for make, if you wish to quiet it.

make -s clean

[2018-02-09 02:46] #1139 closed

[2018-02-09 04:07] cypok opened #1143 "Unused issue"

[2018-02-09 04:25] smlambert commented on #1128
I suspect a few of these tests may not applicable to openj9.  If there are some that appear that we should exclude them, we will add them to the exclude list at AdoptOpenJDK.

Example: output from java/lang/System/Versions.java, test appears to expect a different java.class.version

Stacktrace
Execution failed: `main' threw exception: java.lang.Exception: Forgot to update java.class.version?
Stand

[2018-02-09 04:37] fjeremic commented on #1143
I'm no expert in the interpreter code but curiosity is getting the best of me. Seems the only place where we throw an ICCE in `invokeinterface` handler is here:

https://github.com/eclipse/openj9/blob/fdbe083f4acb381b91170fb437c84d3c7ff88f30/runtime/vm/BytecodeInterpreter.hpp#L6600-L6611

Seems this is checking for a different case though, i.e. the receiver is not an interface at all. Wonder if we

[2018-02-09 04:42] mpirvu commented on #1105
That's a good idea.
There is a problem with part (2) of the original plan: the AOT header is common to all AOT compilations, so just because one AOT compilation didn't exploit one feature it doesn't mean than another AOT compilations is not going to. I am not sure this header can be updated. The shared class cache is not very friendly towards updates.
Each AOT body has also a specific header, so i

[2018-02-09 04:43] cypok commented on #1143
Note that the exception will be thrown if you add declaration of abstract method `foo` in `J` . So there should be more checks somewhere else in the VM.

[2018-02-09 05:31] smlambert opened #1144 "jdk_rmi test failures"
Test results from the openjdk regression test group run against the nightly openjdk8-openj9 build at AdoptOpenJDK:  Test results: passed: 131; failed: 5

make jdk_rmi_0

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/202/
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/202/artifact/jvmtest/openjdk_regression/work/

java/rmi/dgc/dgcAckFailure/DGCAckF

[2018-02-09 12:39] pshipton commented on #1128
@smlambert 52.0 is correct for Java 8. The test creates a class file containing only the class version and expects the VM to throw UnsupportedClassVersionError when the version is incorrect, even when the rest of the class file is missing. I expect OpenJ9 throws a different error.

We'll have to look at each of these tests one by one to see if any have uncovered an actual problem.

[2018-02-09 12:59] pshipton commented on #1128
OpenJ9 throws ClassNotFoundException from Class.forName() for the invalid class file. Internally ClassFormatError is thrown since the class file is not valid. I think the test is relying on undefined implementation details.

[2018-02-09 14:27] andrewcraik commented on #1105
rather than repeating the code we may want to use a macro or function template or something to generate the functions so that if the code to log the features tested changes the change only has to be made in one place.

another option beyond using the body specific header would be to allow the compiler to query feature flags for a period of time and then fixed the allowed mask and subsequent capabi

[2018-02-09 15:18] harryyu1994 commented on #1105
^For your second paragraph there, doesn't that mean we are going to potentially lose some features that we do support? Is the benefit of allowing AOT to work on older hardware here greater than the benefit of having more features for AOT?

[2018-02-09 15:43] andrewcraik commented on #1105
the second paragraph - yes we would limit the JIT from exploiting features. I am suggesting it as another point on the design spectrum and possibly a feature that could prove useful in the future for other purposes.

[2018-02-09 15:45] fjeremic commented on #1138
It also seems you cannot post:

in the same comment to trigger both builds. They have to be posted in separate comments which creates unnecessary spam. It would definitely be wonderful if we could implement this.

[2018-02-09 16:11] AdamBrousseau commented on #1138
`Jenkins test all` should work now.
Ex regex
`.*\bjenkins\s+test\s+(all|sanity)\b\s*($|\n|depends\s+.*|(all|([a-z]+,)*zlinux(,[a-z]+)*)\s*($|\n|depends\s+.*|all|(jdk[0-9]+,)*jdk8(,jdk[0-9]+)*)(\s+depends.*)?)`

Have yet to figure out how to fix the multiline problem though. I think if I simply add `.*` to the end it starts to get too hungry. Will have to spend a few minutes to figure it out.

[2018-02-09 16:21] fjeremic commented on #1138
Awesome! Thank you very much!

Sounds like we need some tests here? Perhaps write a few "sample comments" with various combinations and have passing / failing criteria?

[2018-02-09 16:24] fjeremic commented on #1138
Just tried "Jenkins test all" in https://github.com/eclipse/openj9/pull/875 and it works as envisioned! @AdamBrousseau could I ask you to update https://github.com/eclipse/openj9/buildenv/jenkins/README.md with the new option documentation and behavior? In the PR you can link against closing out this issue.

[2018-02-09 16:26] mpirvu commented on #1105
I didn't understand the part with "query feature flags for a **period of time**".

Pretending that the CPU does not have certain features is definitely useful. Filip mentioned something similar where Z cpus may have certain capabilities, but they can disable them.

Because increasing the header per method may have implications on how much AOT we can store in  a limited space and thus can affect st

[2018-02-09 16:33] andrewcraik commented on #1105
Completely agree with staged approach to building this.

What I was meaning by my period of time comment was the following. The code to record and validate feature flags does not know which flags the JIT is more likely to query - the most used flags may actually vary from workload to workload and opt level to opt level. My statement was to suggest that finding a "good" set of flags to validate for

[2018-02-09 19:04] harryyu1994 commented on #1105
Asked the Power team about backwards compatibility, it applies to p4/5/6/7/8/9, also the most common ones. The rest should still match processor id.

[2018-02-09 20:05] #1140 closed

[2018-02-09 21:32] #1143 closed

[2018-02-09 21:44] mstoodle commented on #1143
This issue reports a problem against an IBM JDK and this project isn't the place for reporting such things.

[2018-02-10 02:58] pshipton opened #1149 "OPENJ9_BRANCH is not as expected"
ibmruntimes/openj9-openjdk-jdk8#36 and ibmruntimes/openj9-openjdk-jdk9#121 added OPENJ9_BRANCH, which is intended to be the branch associated with the OpenJ9 SHA being built. The branch name is resolved to `HEAD` although this is not the branch used for the build.

@JasonFengJ9

[2018-02-10 03:10] pshipton commented on #1149
It occurs when get_source.sh is used with a -openj9-branch parameter, which probably has something to do with it.

[2018-02-10 03:35] DanHeidinga commented on #1124
What is the workload?  Is this workload representative of real world applications?  a microbench?  another benchmark?

Gathering more data on common locking patterns would make it easy to determine how useful / appropriate this kind of change is to common workloads.

When are these StringBuffer objects allocated?  Is this a small number of objects that are allocated during the startup phase?  Or a

[2018-02-10 07:45] cypok commented on #1143
This problem is VM specific and is reproducible on OpenJDK build too:
[code]
Could you restore the issue? I was not expecting you to clear the description.

[2018-02-11 15:02] JamesKingdon opened #1150 "asmtools.jar fails to download"
Running make getdependency downloaded all but one of the required jars, failing on asmtools.jar
[code]
When I tried it manually I got a certificate error

[code]
Repeating with `--no-check-certificate' resolved the problem.

[2018-02-11 16:10] JamesKingdon opened #1151 "ARM Hang while compiling test/Jsr292"
Trying to run `make test` in openj9/test/TestConfig I get a high cpu hang during
[code]
ps shows
[code]
I wasn't able to get javacores from this process for some reason.

Build used: https://github.com/JamesKingdon/openj9-openjdk-jdk9/releases/tag/20180209031853-6e05d366

[2018-02-12 02:53] DanHeidinga commented on #1143
HI @cypok, for this particular case, we've created a channel on the OpenJ9 slack [1] to discuss the issue.  You've been invited to the relevant channel.  Can we continue the discussion there?  Thanks.

[1[ https://openj9.slack.com/

[2018-02-12 12:26] JasonFengJ9 commented on #1149
It appears `adoptopenjdk` latest nightly build (Feb. 12, 2018) hasn't picked up PRs ibmruntimes/openj9-openjdk-jdk8#36 and ibmruntimes/openj9-openjdk-jdk9#121.

[2018-02-12 14:37] yongja79 opened #1153 "JDK next: Compile fails due to missing class java.lang.invoke.MethodHandleNatives"
Trying to compile the latest openjdk with openj9 results in the following error:

[code]

[2018-02-12 15:31] DanHeidinga commented on #1153
@JasonFengJ9 Can you help with this?

[2018-02-12 15:55] JasonFengJ9 commented on #1153
Sure, looking at it.

[2018-02-12 16:34] dsouzai opened #1155 "Document the Recompilation and Code Cache Reclamation procedures in the Compiler"

[2018-02-12 16:35] dsouzai commented on #1155
This can be assigned to me (unless someone gets to it before I do).

[2018-02-12 19:34] pshipton commented on #727
@pdbain-ibm are you able to address Charlie's comment to complete these issue so it can be closed?

[2018-02-12 19:36] pshipton commented on #845
mingw is now being used for OpenJ9 Windows builds.

[2018-02-12 20:19] JamesKingdon opened #1159 "Where/how should we build for ARM?"
With the merge of https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/88 it should now be possible to build for armhf, possibly with something similar to the yml that I use for travis.ci on my fork:

https://github.com/JamesKingdon/openj9-openjdk-jdk9/blob/arm/.travis.yml

What's the right way of doing this within OpenJ9, or would this be better done under AdoptOpenJDK?

If possible I'd like t

[2018-02-12 20:44] #1132 closed

[2018-02-12 20:57] TianyuZuo opened #1160 "remove OpenJ9 test specific Ant variables from test_build.xml"
* remove OpenJ9 test specifci ant variables from build_test.xml to make tkg more generic for other projects.
* add top level test build.xml as `openj9/test/build.xml` to build openj9 test.
* all openj9 specific ant variables will be moved to top level  test build.xml to make tkg build_test.xml more generic to other projects.

[2018-02-12 20:58] TianyuZuo commented on #1160
FYI @llxia @smlambert

[2018-02-12 21:43] mstoodle commented on #1105
I believe right now the AOT header is created as soon as one JVM has an AOT compiled body to store into the cache. Whoever gets there first "wins" and the cache is forever locked to be compatible with that winner JVM's options and processor description. So there is *some* time where we could observe what compilations are doing, but I'm not sure a single JVM provides much useful data here. What @an

[2018-02-12 21:51] llxia commented on #1160
Thanks Terry. Please also move getdependency into this openj9 top level test build.xml

[2018-02-12 21:54] TianyuZuo commented on #1160
yes, getdependency will be moved too.

[2018-02-12 22:02] pshipton commented on #1159
To do it at OpenJ9, the project first needs (a) machines for cross compiling (b) machines for testing. I don't think either of these are available atm. There aren't yet any xLinux machines available to OpenJ9, although they are a work in progress.

[2018-02-12 22:28] AdamBrousseau commented on #1159
Technically we have x via TravisCI, which has the option to [upload artifacts to Amazon S3](https://docs.travis-ci.com/user/uploading-artifacts/). We could use that process to cross-compile but I assume we'd have to pay for the storage and it would be pretty hacky.

I assume we can only cross-compile on xLinux?

[2018-02-12 22:34] JamesKingdon commented on #1159
xLinux is the only host I've tested on, although I guess in principle we could use anything that the toolchain is available for. What would be most convenient host from an availability point of view, pLinux?

[2018-02-12 23:07] AdamBrousseau commented on #1159
p/z, we have 4 of each. I think we usually have higher utilization on p since they seem to be faster.

[2018-02-12 23:12] jabrena commented on #1159
Hi @JamesKingdon, with current status of the project, is not possible to cross compile for ARM Soft Float?

[2018-02-12 23:19] pshipton opened #1164 "Default shared cache size is too small"
The default shared cache size is 16MB. I believe this dates back to a Linux default maximum setting for creating shared memory using sysV (/proc/sys/kernel/shmmax), requiring a Linux configuration change before using a bigger cache size (although it seems 32MB is the default today). As the shared cache uses mmap by default, the sysV restrictions do not apply (unless the nonpersistent option is use

[2018-02-12 23:33] pshipton commented on #434
@mpirvu I suspect you didn't mean to close this issue from the commit.

[2018-02-12 23:37] JamesKingdon commented on #1159
Hi @jabrena I haven't tried building for soft float yet, but I'm hopeful that it won't be too difficult to do. I have a set of changes that allow us to select between building for ARMv6 or ARMv7 that weren't too difficult, so adding the soft vs hard float will likely be similar. The biggest problem is making sure that the flags make it to all the parts of the project.

@AdamBrousseau I'll have a s

[2018-02-12 23:45] mpirvu commented on #1164
I totally agree that we need a larger default.
Since on zOS the cache is implemented using shared memory, does the 32MB restriction apply? If so should we limit the default size on zOS to 32MB and have a larger size on other platforms?

We may also want to set different sizes for 32-bit and 64-bit platforms because on 32-bit the JVM may run into address space issues.
Maybe a 32MB cache size on 32-

[2018-02-12 23:53] mpirvu commented on #434
@dsouzai please confirm, but I believe that https://github.com/dsouzai/openj9/commit/566f38054466adc9ab63d25ba41c09d2c2c0242d completely closes this issue.

[2018-02-13 00:30] pshipton commented on #434
Sorry, I got confused and thought this Issue somehow got closed without the change being merged.

[2018-02-13 00:30] #434 closed

[2018-02-13 00:36] #786 closed

[2018-02-13 03:32] #303 closed

[2018-02-13 03:36] suman-mitra commented on #771
Oracle has excluded these tests but there are no clarifications on why "Oracle's JVM allows to add new methods". I've sent a follow up note

[2018-02-13 03:39] ChengJin01 commented on #1032
Already discussed with Hang as to how to store the stackmaps as metadata. It seems like we can follow the existing implementation of storing the compiled methods (AOT). One of our concerns is to ensure that: Once the metadata entry is allocated in the shared cache, the stackmaps must be stored in J9Format (as we do in lined with methods) so as to get them correctly decompressed before verification

[2018-02-13 04:16] dsouzai commented on #434
Yeah, https://github.com/eclipse/openj9/pull/1118 completely addresses this issue.

[2018-02-13 04:25] DanHeidinga commented on #1135
Can both the Valhalla and Panama -related tests be compiled in the same test project if "the tests require classes" that aren't in the main OpenJDK branch?  Won't the Valhalla-related tests require classes that are only in the valhalla builds and panama tests required panama-specific classes?

My understanding is that all tests in the same test project have to compile from source with the same JDK

[2018-02-13 05:17] DanHeidinga opened #1165 "[Nest mates] jvmti spec update to disallow nest mate attribute modification"
From the jvmti spec update:
[code]

The new error constant is:
[code]

And OpenJ9 will need to ensure that the NestHost and NestMembers attributes aren't modified by jvmti.

[2018-02-13 05:20] DanHeidinga commented on #1165
http://mail.openjdk.java.net/pipermail/valhalla-spec-experts/2018-February/000541.html

[2018-02-13 05:30] DanHeidinga commented on #1165
FYI @tajila @taliamccormick

[2018-02-13 10:07] adamfarley commented on #786
Thanks @theresa-m :)

[2018-02-13 11:52] #1153 closed

[2018-02-13 13:28] DanHeidinga commented on #981
Marking this as high priority as it is negatively affecting PR and nightly builds.

[2018-02-13 13:47] taliamccormick commented on #1135
I'm not sure what the requirements for the Panama tests are.
The current Valhalla tests do not need to be compiled on a Valhalla-specific jdk - they generate and load compiled .class content using the asm tool. Once there are tests for the nestmates java.lang.Class API, the tests may need to be compiled with a Valhalla JDK. For the initial manual testing of the java.lang.Class API changes, we had

[2018-02-13 14:03] smlambert commented on #981
FYI @renfeiw

I think there are a couple of things going on:

1) the JCL suite is likely be too large and occasionally causing an OOM error (a known testng bug, https://github.com/cbeust/testng/issues/1259, where the workaround is to break the test suites up into smaller pieces so testng doesn't store so much test result output in memory before it writes the output to files) - when OOM is seen as

[2018-02-13 14:42] pshipton commented on #981
I believe the OOM which is occurring is intentionally caused by a test, see #968. The VM is exiting unexpectedly, which should not occur, but OpenJ9 doesn't yet have the diagnostics support to pursue the issue, although it is expected within a few weeks. Breaking up the tests suites may or may not help. Running the test with -Xdump:none may or may not help.

[2018-02-13 14:56] DanHeidinga commented on #1135
That's a neat approach @taliamccormick!  Will it scale when there are multiple subsets of tests for different SDKs?  ie: Valhalla LWorld vs NestMates, Panama VectorAPI vs LDL/FFI, Loom Fibers, etc?

I'm 100% on board with finding a way to test these changes in the project before the Valhalla / Panama / Loom etc projects are merged into the mainline.  We just need to think though the best way to ma

[2018-02-13 15:28] mphunt commented on #890
Hi all, is there any news on when this might be done and included in a release? Thanks!

[2018-02-13 15:50] taliamccormick commented on #1135
I don't think it will scale well.

We would need a jar for each class/package that is having API content tested which is different from the SDK being tested and if it's a static jar which is kept in the test project then it would need to regenerated each time there's a change in the API. Generating the jar itself with the test/TestConfig code doesn't make sense - since it's part of VM/SDK content,

[2018-02-13 16:15] thjaeckle opened #1166 "Runtime.availableProcessors() ignores cgroup limits"
When running OpenJ9/OpenJDK8 in Docker (e.g. via image [from adoptopenjdk](https://hub.docker.com/r/adoptopenjdk/openjdk8-openj9/)) a call to `Runtime.availableProcessors()` returns the amount of processors of the Docker host system and not the one defined in cgroup `/sys/fs/cgroup/cpu/cpu.cfs_quota_us`.

Hotspot has/had the same problem: https://bugs.openjdk.java.net/browse/JDK-6515172
which they

[2018-02-13 16:18] TianyuZuo commented on #968
This OOM message does not have relationship with JCL_TEST_Test-Annotation-Package because it was actually generated by
18:29:55 ===============================================
18:29:55     JCL_TEST_Java-Lang
18:29:55     Tests run: 357, Failures: 0, Skips: 0
18:29:55 ===============================================
(link https://ci.eclipse.org/openj9/job/PullRequest-Sanity-linux_ppc-64_cmprssptrs_l

[2018-02-13 16:20] pdbain-ibm commented on #727
I discussed this with @charliegracie .  Since we are using the mingw compiler, which is known
to produce good code in this situation, and since Marius Pirvu benchmarked the generated code,
he has no further concerns.

[2018-02-13 16:29] pshipton commented on #727
In that case we can close this issue.  mingw was enabled by
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/37
https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/116

[2018-02-13 16:29] #727 closed

[2018-02-13 17:19] mstoodle commented on #860
@fjeremic @andrewcraik @vijaysun-omr Is this still a problem or has a fix snuck in without referencing this issue?

[2018-02-13 17:35] fjeremic commented on #860
This is still a problem.

[2018-02-13 18:57] JamesKingdon commented on #137
Does this also relate to https://github.com/eclipse/openj9/issues/1166 ?

[2018-02-13 19:04] pshipton commented on #1166
@ashu-mehra @dinogun fyi

[2018-02-13 19:23] smlambert commented on #1150
#1152 contained fix (forgot to add 'fixes' keyword, so closing this issue manually).

[2018-02-13 19:23] #1150 closed

[2018-02-13 20:34] TianyuZuo commented on #1160
Hi @llxia  and @smlambert

Just one more thought, do we want to move all OpenJ9 functional tests one level deep to a `functional` folder? This is going to be like

`openj9/test`
|
|--functional
|    |--<all functional tests which previously in test folder>
|    |--openj9-test-build.xml
|--TestConfig

Advantage of this change:
* synchronize the structure of Openj9 and adoptOpenJDK
* testKitGen's bu

[2018-02-13 21:00] smlambert opened #1170 "Update testng.xml files with parallel="none""
We are using a newer version of testng, and should check the testng.xml files in each of the test subdirs, and update those still using parallel to get rid of this warning:
[Test] [XmlSuite] [WARN] 'parallel' value 'false' is deprecated, default value will be used instead: 'none'.

[2018-02-13 21:21] mstoodle commented on #890
@fjeremic @sehirst any timelines you can predict?

[2018-02-13 21:41] pshipton commented on #981
I think we should re-open this Issue. The problem described hasn't been resolved, only the current issue causing this problem may have been resolved. The PR testing could be aborted for other reasons, and the messages would still be confusing.

[2018-02-13 21:58] sehirst commented on #890
I'm working on it. Our upcoming release for Java 8 is SR5 FP10 which should be out sometime this month, so it won't make that. The following one is in March and it's possible we'll make that but I think it will probably end up in the April release. I don't have version numbers for March and April yet. I'll update here again.

[2018-02-13 22:23] sehirst commented on #890
I'm working on this now and will make an update when I'm getting close to opening a Pull Request.

[2018-02-14 00:31] AdamBrousseau commented on #1114
More options to add to my previous list

4. Don't archive in PR builds at all
   - I don't know who how often these are used

5. Stop archiving in parallel with testing
   - Typical times to archive:
      - JDK8/zLinux: 4.5 Min
      - JDK9/zLinux: 9 min
      - JDK8/pLinux: <1 min
      - JDK9/pLinux: 2 min

[2018-02-14 02:56] pshipton commented on #1114
I've been downloading a few PR builds lately.

6. It doesn't seem to fail very often. Archive in parallel with testing, but if it fails print a message to explain that it failed in case somebody ever looks, and don't fail the testing.

[2018-02-14 04:14] smlambert commented on #981
Yes, this issue auto-closed, but since it is describing several problems it should not be closed or better yet, separate issues should be raised.

[2018-02-14 15:49] DanHeidinga commented on #1111
Will attempt create a release branch from nightly build that's a few days old:

https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK8-linux_390-64_cmprssptrs/83/
OpenJ9: 453326f
OMR: 1f7d88e
OpenJDK: dde0d86

[2018-02-14 16:39] hangshao0 commented on #1164
Here are some statistics from the coreAnalytics tool: 54.1% users are using -Xscmx to set the shared cache size.
Among all the users using -Xscmx:
26.9% use 50m
33.9% use 60m
25.8% use 90m

[2018-02-14 16:44] DanHeidinga commented on #834
@mikezhang1234567890 Can you take a look at this?

[2018-02-14 16:47] mikezhang1234567890 commented on #834
Sure.

[2018-02-14 17:01] mpirvu commented on #1164
Interesting stats. I wonder though if the stats are biased towards WAS/liberty because 50MB is the old SCC size in WebSphere, 60MB is the size in Liberty and 90MB is the size in WebSphere managed profile.
Nevertheless with the proposed change we would be helping the other 46% users that don't set a size.

[2018-02-14 19:26] dnakamura commented on #999
The bytecodes causing the issue (truncated for clarity)
[code]
[code]

Which would approximately correspond to the following java code
[code]
However I suspect that if you fed this to javac it would add an implicit `i2c` instruction to the end of M1

The issue here is that internally the JVM only operates on int types, and will sign extend or truncate as needed on loads and stores. My suspicion is

[2018-02-14 20:36] DanHeidinga commented on #1111
Created and tagged the repos as follows:

[code]

Next step to checkout the code at those tags

[2018-02-14 21:24] pshipton commented on #999
A char is a 16-bit unsigned integer.

This simple test prints 60276.
[code]

[2018-02-14 21:31] pshipton commented on #1111
@AdamBrousseau is there a way to run the ci testing on this tag?

[2018-02-14 21:53] AdamBrousseau commented on #1111
I can kick a build manually, followed by sanity & extended.

https://ci.eclipse.org/openj9/job/Build-JDK8-linux_ppc-64_cmprssptrs_le/83/parameters/
https://ci.eclipse.org/openj9/job/Build-JDK8-linux_390-64_cmprssptrs/86/parameters/

We can easily add a "Release" build that will do this all for us by simply supplying a tag.

[2018-02-15 00:35] #707 closed

[2018-02-15 03:33] 0dvictor opened #1179 "Suboptimal JITted code from String.equals()"
String.equals() checks a couple of shortcuts before calling String.regionMatches() to decide whether two strings are equal. String.regionMatches() always does sanity checks before element-by-element content comparison.
From their implementations, it is easy to tell that when calling from String.equals(), all sanity checks inside String.regionMatches() always hold and hence execution always reaches

[2018-02-15 13:26] ben-walsh opened #1180 "xLinux builds of openjdk8-openj9 are failing due to openj9 build failure"
See https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/44.
Specifically https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/44#issuecomment-365925203.

NB : Builds have been failing like this since 6th February.

[2018-02-15 14:20] keithc-ca commented on #1180
This is a long-standing issue with JIT when compiled with a pedantic compiler. It normally doesn't use the 'warnings-are-errors' option.

[2018-02-15 14:42] DanHeidinga commented on #999
I know @gacholio has looked into similar issues in the past.  Let's take advantage of being colocated and discuss in person.  @dnakamura Can you book a meeting today?

And we'll make sure to update this after the discussion.

[2018-02-15 15:36] hmainismael commented on #1170
Hello @smlambert , I'm a beginner and I would like to contribute for my first time.

Can I claim this issue ?

[2018-02-15 15:51] #948 closed

[2018-02-15 15:55] DanHeidinga commented on #999
Looking at the Java 9 JVMS for `ireturn`, it states:

[code]

https://docs.oracle.com/javase/specs/jvms/se9/html/jvms-6.html#jvms-6.5.ireturn

We can do this by either:
* Looking at the return type in the `JBreturn1` bytecode (expensive)
* Adding new internal bytecodes to return `c`, `s`, `b`, `z`.  The verifier will also need to be updated.  As will the JIT and potentially the jit return bytecode

[2018-02-15 16:13] #1149 closed

[2018-02-15 16:27] AdamBrousseau commented on #1111
zLinux
 - [Build](https://ci.eclipse.org/openj9/job/Build-JDK8-linux_390-64_cmprssptrs/86/)
 - [Sanity](https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-JDK8-linux_390-64_cmprssptrs/74/)
 - [Extended](https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-JDK8-linux_390-64_cmprssptrs/70/)

pLinux
 - [Build](https://ci.eclipse.org/openj9/job/Build-JDK8-linux_ppc-64_cmprssptrs_le/83/)
 - [

[2018-02-15 16:30] llxia commented on #1170
What version of testng are you using?

[2018-02-15 16:32] #1023 closed

[2018-02-15 16:56] DanHeidinga commented on #1111
Checked out and running the build:
[code]

which results in a 'detached head' state.

TODO: java version output
TODO: refresh branch based off more recent build, retag and test the checkout & java version again

[2018-02-15 17:39] hmainismael commented on #1170
In fact I just would like to contribute and begin with an easy issue.

De : Lan Xia
Envoyé : jeudi 15 février à 17:31
Objet : Re: [eclipse/openj9] Update testng.xml files with parallel="none" (#1170)
À : eclipse/openj9
Cc : hmainismael, Comment

What version of testng are you using?
—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/e

[2018-02-15 17:54] pshipton commented on #1170
If this issue isn't appropriately easy, #433 is simply adding some comments to the code.

[2018-02-15 18:37] hmainismael commented on #1170
Ok I'll check the testng.xml files in each of the test subdirs and update those still using parallel = "false" instead of parallel = "none"

[2018-02-15 22:01] AdamBrousseau opened #1190 "Reconfig jenkins jobs to point at updated files paths"
Need to update configs to load pipeline scripts from new directory structure.
see #1186

#### Build
`jobs/builds`
- [x] Build-JDK8-linux_390-64_cmprssptrs
- [x] Build-JDK9-linux_390-64_cmprssptrs
- [x] Build-JDK8-linux_ppc-64_cmprssptrs_le
- [x] Build-JDK9-linux_ppc-64_cmprssptrs_le

#### Test
`jobs/tests`
- [x] Test-Extended-JDK8-linux_390-64_cmprssptrs
- [x] Test-Extended-JDK8-linux_ppc-64_cmprs

[2018-02-15 22:13] #1190 closed

[2018-02-15 23:44] pshipton opened #1192 "Remove -Xdiagnosticscollector option"
-Xdiagnosticscollector just prints a warning.

`JVMJ9VM138W The -Xdiagnosticscollector option is not supported by this JVM.`

As it is obsolete it should be removed.

[2018-02-15 23:57] smlambert commented on #1170
Thanks for picking this one up @hmainismael and welcome to the project!

[2018-02-16 00:41] pshipton opened #1193 "jdmpview doesn't need -xml parameter"
jdmpview help still shows -xml although this is obsolete. The help output can be removed, and likely any remaining supporting code.

[2018-02-16 03:21] JasonFengJ9 opened #1194 "Question: can VM-Proxy support be removed?"
Some `JVM_` methods are implemented within `j9vm/j[7|8|9]vmi.c`, and some are in `sunvmi/sunvmi.c` which are invoked via `g_VMI->JVM_xxx` in `j9vm/vmi.c`.

It appears those `JVM_` metheds implemented in `sunvmi/sunvmi.c` are for `VM-Proxy` service support, and `sunvmi` has its own `module.xml` file.

If `VM-Proxy` support is not required, `sunvmi` can be merged into `j9vm` to remove `sunvmi` modul

[2018-02-16 05:06] DanHeidinga commented on #1194
Most of the `VM-Proxy` support has already been removed from the code base.  I'm OK with merging sunvmi and j9vm if the only reason they were separated was `VM-Proxy`.

[2018-02-16 05:25] DanHeidinga commented on #1194
I'm going to close this as the answer has been provided.  Please reopen if further discussion is required.

[2018-02-16 05:25] #1194 closed

[2018-02-16 05:27] pshipton commented on #1143
@cypok the fix has been delivered

[2018-02-16 07:08] ashu-mehra commented on #137
Yes, the two are related. Issue with Runtime.availableProcessors() can be covered under this.

[2018-02-16 07:15] ashu-mehra commented on #1166
In addition to Runtime.availableProcessors(), it appears Hotspot has also updated JVMTI API GetAvailableProcessors() to return same value as Runtime.availableProcessors().
I created a docker image using build 10-ea+40 and tested the output of Runtime.availableProcessors() and GetAvailableProcessors():

1) Using cpusets:
[code]

2) Using cpu quota:
[code]

[2018-02-16 12:12] paulcheeseman opened #1196 "Error cause not printed when JMX Agent fails to start"
When appropriate command line options are set, a JMX Agent is started when the JVM launches. If the JMX Agent fails to start for any reason, the JVM also fails to start.

Here's an example command, where the JMX Agent fails because the specified class in the `javax.management.builder.initial` property does not exist:

`> java -Djavax.management.builder.initial=foo -Dcom.sun.management.jmxremote -v

[2018-02-16 12:38] sxa555 commented on #1180
The build machine that is being used has gcc5 on it as well as 4.8. It would appear that there is an issue in the build process whereby parts of the build process will pick up the `CC`/`CXX` environment variables to override the defaults but some parts won't. This sounds like something that should be fixed as the `Tools summary` section of the log suggests it's using the `gcc-4.8` when the variabl

[2018-02-16 13:19] JasonFengJ9 commented on #1194
Thanks Dan.

[2018-02-16 13:45] pshipton commented on #1180
Based on the last comment, I'm going to re-tag this as a bug build.

OpenJ9 supports gcc 4.8 atm. 4.8.5 is the version used for ci testing and in the OpenJ9 nightly builds. Other 4.x versions may work but since they are not regularly tested, problems could be introduced.

[2018-02-16 14:07] DanHeidinga commented on #1196
@pdbain-ibm This is the jmx issue I mentioned this morning.  If you can take a look, would be appreciated.

[2018-02-16 15:45] fjeremic commented on #1179
Thanks for the explanation @0dvictor! This makes the change in #875 much clearer. I've merged the PR just now, thus closing out this issue as well. Please feel free to reopen should there be a need for further discussion on this topic.

[2018-02-16 15:45] #1179 closed

[2018-02-16 15:54] mikezhang1234567890 commented on #834
Ran 50 iterations of the test with a current build and had no issues.

Last observed issue on a build based on 453326f, and subsequent build seem to be fine.

[2018-02-16 15:54] Mesbah-Alam opened #1198 "Systemtest: Mauve load test fails with ClassNotFoundException"
There is a Mauve test failure in **openjdk8 hotspot macos** JVM with the following error:

[code]

The same failure occurs in two different Mauve load tests :
MauveSingleThreadLoadTest
MauveSingleInvocationLoadTest

**JVM Version info**
openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-jenkins_2018_02_15_21_17-b00)
OpenJDK 64-Bit Server VM (build 25.71-b00, mixed m

[2018-02-16 15:59] #680 closed

[2018-02-16 15:59] #681 closed

[2018-02-16 16:02] DanHeidinga commented on #831
@llxia Any update on this?  It's one of the windows platform bring up failures and I'd like to see those cleared out if possible.  I know we don't claim win support in the 0.8 release...

[2018-02-16 16:02] Mesbah-Alam commented on #1198
This issue was opened under openj9 by mistake as Openj9 doesn't support macos.

[2018-02-16 16:02] #1198 closed

[2018-02-16 16:02] DanHeidinga commented on #834
Closing based on Mike's comments.  Thanks @mikezhang1234567890

[2018-02-16 16:02] #834 closed

[2018-02-16 16:12] DanHeidinga commented on #1111
The branch and tag names will show up in:
* `java -version` output
** `tag` if tagged
**  `branch-sha` if not tagged
* `tag` will show up in the javacore as well

Will open a pull request to adapt the release naming conventions to:

Branch: `openj9-0.0`
Tags: `v0.0RC1`, v0.0`

[2018-02-16 16:30] DanHeidinga commented on #835
@mikezhang1234567890 Can you take a look at this?  It may be fixed by the mingw compiles similar to other Windows crashes due to native stack overflow.

[2018-02-16 16:37] DanHeidinga commented on #1111
PR to change the tag and branch format: https://github.com/eclipse/openj9/pull/1199

[2018-02-16 16:37] mikezhang1234567890 commented on #835
Sure.

[2018-02-16 17:53] dsouzai commented on #424
I think this can be closed since https://github.com/eclipse/openj9/pull/909 is merged.

[2018-02-16 17:55] dsouzai commented on #374
Two reasons I think; 1. The assert didn't always exist, and was added by @lmaisons , and 2. we don't always build a debug JIT.

[2018-02-16 18:03] andrewcraik commented on #374
I think this is highlighting we aren't sure what ::new and ::delete were being picked up by each DLL. The asserts are new and just make things more obvious. I believe it is mostly JCL natives from OpenJDK, but I didn't look closely.

[2018-02-16 18:09] llxia commented on #831
Sorry, I haven't got change to investigate this further. Will look into this now.

[2018-02-16 19:07] pdbain-ibm commented on #1196
Dan
Will do.

@paulcheeseman
I tried your command line with a JDK I recently built.  It seems to have the correct behaviour:

$ /team/pdbain/projects/openj9/openjdk/build/linux-x86_64-normal-server-release/jdk/bin/java -Djavax.management.builder.initial=foo -Dcom.sun.management.jmxremote -version
javax.management.JMRuntimeException: Failed to load MBeanServerBuilder class foo: java.lang.ClassNotFo

[2018-02-16 19:14] #424 closed

[2018-02-16 21:24] llxia commented on #831
The test passed in SE80 and failed in SE90 with above error on the same lab machine.
Without cygwin, both SE80 and SE90 passed.

[code]

[2018-02-16 22:07] JamesKingdon opened #1203 "TestUTF8 fails with assertion Unsafe_copySwapMemory0 is unimplemented"
openjdk-tests/openjdk_regression/openjdk-jdk/jdk/test/sun/nio/cs/TestUTF8.java

fails with an assertion:

[code]
I saw this while running tests on arm, so it might be something platform specific, but I couldn't immediately see why that would be the case. The assertion comes from common code in openj9/runtime/jcl/common/sun_misc_Unsafe.cpp

[2018-02-17 22:47] JamesKingdon opened #1204 "ARM unsafePut64 causes sigbus on unaligned addresses"
unsafePut64 is coded with a strd which will generate a sigbus when running on a 64bit OS

[code]
This cases testcase openj9/test/UnsafeTest to generate a core file.

[2018-02-17 22:56] JamesKingdon opened #1205 "ARM sigbus from initialiseAOTRelocationHeader"
J9::ARM::AheadOfTimeCompile::initialiseAOTRelocationHeader(TR::IteratedExternalRelocation*) uses stm to access unaligned memory causing sigbus and a core file when running on 64bit OS. This causes a failure in test/VM_Test

`=> 0xf5d8ee78 <_ZN2J93ARM18AheadOfTimeCompile29initialiseAOTRelocationHeaderEPN2TR26IteratedExternalRelocationE+1504>:	stmib	r4, {r1, r3}`

[code]

[2018-02-18 13:48] JamesKingdon opened #1207 "ARM High cpu hang in floatSanityTests"
Attempting to run the openJ9 tests on arm I see a high cpu hang during

[code]

The active process is

`0 S root     50697 50695 99  80   0 - 172531 -     13:23 pts/2    00:19:08 /home/jkingdon/sdks/jdk-unsafePut64/bin/java -cp /home/jkingdon/tests/openj9/openj9/test/TestConfig/scripts/testKitGen/../../../../jvmtest/TestConfig/resources:/home/jkingdon/tests/openj9/openj9/test/TestConfig/scripts/te

[2018-02-18 15:56] #1170 closed

[2018-02-18 16:14] hmainismael commented on #1170
The PR linked to this issue is #1187 . Thank you all !

[2018-02-19 11:26] paulcheeseman commented on #1196
Sorry again - it's actually 8.0.5.5 onwards. It was exposed by the fix for [APAR IV97963](https://www-01.ibm.com/support/docview.wss?uid=swg1IV97963) in the IBM class library.

[2018-02-19 13:25] archanaNogriya commented on #647
@Peter-Shipton , Is this issue somewhere connected to this https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/20? or this is very different.

 Is there any discussion going on regarding this issue where I can be part of it?

or if we need to start one then @pshipton who else we need to involve?  what is the priority for this issue to get into progress or in any discussion?

[2018-02-19 13:43] JamesKingdon opened #1209 "ARM Assertion in J9TransformUtil.cpp"
While trying to debug another failure I made a debug build. That build failed with an assertion during gvp:

[code]
Failing test:
TEST: java/beans/XMLDecoder/spec/TestDouble.java

[2018-02-19 14:00] andrewcraik commented on #1209
A traceFull, traceLocalVP, traceGlobalVP log would be helpful for that one.

[2018-02-19 14:40] JamesKingdon commented on #1209
Here's the code block the assertion is coming from:
[code]

[2018-02-19 14:43] andrewcraik commented on #1209
Yup. The code in question is part of a family of tools used for constant folding values at compile-time. This is done with a utility called transformIndirectLoad which this code is part of. The assert is firing because we are trying to dereference through something we don't think we should be able to. The log I suggested would let us see the tree where the problem is occurring. The log will tell u

[2018-02-19 15:12] JamesKingdon commented on #1209
Log for DirectByteBuffer.get, compiled at warm, shows assertion at the end of the file
[DB.get.1.zip](https://github.com/eclipse/openj9/files/1737239/DB.get.1.zip)

[2018-02-19 15:40] pdbain-ibm opened #1210 "System.java refers to non-existent class com.ibm.utils.SystemIntialization"
static void completeInitialization() {
...
	try {
		/*[PR 167854] - Please note the incorrect name of the class is correct - somewhere the spelling was wrong and we just need to use the incorrect spelling */
		/*[IF Sidecar19-SE]*/
		systemInitialization = Class.forName("com.ibm.utils.SystemIntialization"); //$NON-NLS-1$
		/*[ELSE]*/
		systemInitialization = Class.forName("com.ibm.misc.SystemIntia

[2018-02-19 16:08] andrewcraik commented on #1209
Thanks for the log. The tree causing the problem is:
[code]

[2018-02-19 17:19] JamesKingdon commented on #1209
In this example curNode was n1289n. Does that give you enough info, or should I print out baseNode as well?
[code]

[2018-02-19 18:19] andrewcraik commented on #1209
Nope, n1289n is enough - it is exactly what I thought. The assert is simply invalid - the else case is the default and there isn't a requirement for the node to be of address type as long as it is the last indirect load in the chain (I don't think this would be an easy condition to verify in general). Fix will be to ditch/rework the assert. I'll see what I can do a bit later today/tomorrow. For yo

[2018-02-19 19:36] JamesKingdon opened #1212 "ARM JVM_GetVmArguments not implemented"
From make openjdk, test failure in openjdk_regression/work/sun/security/util/FilePermCompat/CompatImpact

[code]

[2018-02-19 19:37] JamesKingdon commented on #1209
Awesome, many thanks.

[2018-02-20 12:08] JamesKingdon commented on #1205
Problem doesn't show up when JIT is built with debug, which makes things a little more challenging.

[2018-02-20 14:17] llxia commented on #981
TAP result or string (i.e., `TOTAL: 102   EXECUTED: 100   PASSED: 100   FAILED: 0   SKIPPED: 2` ) from console contains all test results and is sufficient to use as success criteria for Jenkins build. testng result and junit result do not include all tests. And all test results can be fund in TAP result or console output.
I am wondering that do we really need to show testng result and junit result

[2018-02-20 15:18] AdamBrousseau commented on #981
We can. I'm not sure what the `Add test result one liner` to the PR will look like. Currently it is updating with the JUnit numbers. I think before we added JUnit we just had testNG which gave slightly different numbers. I can run a quick test to see.

[2018-02-20 15:20] smlambert commented on #981
We should definitely not be using JUnit numbers for the "Add test result one liner" value, as that is incorrect and the root cause of the confusion reported in this issue.

[2018-02-20 15:25] smlambert commented on #981
One potential value of showing Junit results via the Junit plugin is that its a nicer GUI for developers to view the test results of the tests that produce that type of output (which is all the testng tests, all the openjdk regression tests, but doesn't include the cmdlinetester tests or any STF / SV tests, or JCK tests).

[2018-02-20 16:31] pshipton commented on #830
Test is passing now.

PASSED: testCheckMemoryViaEnvironmentVariable
PASSED: testMemoryLeaks
PASSED: testSystemProperties
PASSED: testXcheckMemory
PASSED: testXint
PASSED: testXintAndOtherVmArguments

===============================================
    VmArgumentTests
    Tests run: 50, Failures: 0, Skips: 0
===============================================

[2018-02-20 16:31] #830 closed

[2018-02-20 16:33] pshipton commented on #835
+1 Test is passing now.
[code]

[2018-02-20 16:33] #835 closed

[2018-02-20 16:51] llxia commented on #831
The issue is that -DRESJAR value is wrapped in $(D) (i.e., \\) in playlist.xml. This -DRESJAR value is passed in as value for -cp.
$(D) is not needed, I am going to remove it.

`-DRESJAR=$(D)$(CMDLINETESTER_RESJAR)$(D)`

[2018-02-20 18:48] #1210 closed

[2018-02-20 18:51] DanHeidinga commented on #238
@pdbain-ibm What's the current status on this item?

[2018-02-20 18:53] DanHeidinga commented on #378
@keithc-ca I know from talking with you (and watching the PRs) that you've made a lot of progress on this.  Can you provide a brief update on state of DDR?  What's done and what work still remains?

[2018-02-20 19:36] keithc-ca commented on #378
Things are looking good.

The OMR layer is nearly complete. We're awaiting merge of these PRs:
- https://github.com/eclipse/omr/pull/2259 - constant folding
- https://github.com/eclipse/omr/pull/2322 - field offsets

I have been decomposing my work on openj9 into smaller logically related pieces:
- https://github.com/eclipse/openj9/pull/1221 - relocate DDR test code
- https://github.com/eclipse/op

[2018-02-20 19:40] pdbain-ibm opened #1225 "Write test case for JMX Agent"
This is to test issue #1196 .
Test:
1) default agent
2) replacement agent specified via system property javax.management.builder.initial
3) bogus value of javax.management.builder.initial

[2018-02-21 00:50] #1196 closed

[2018-02-21 05:20] pshipton commented on #647
This is not related to ibmruntimes/openj9-openjdk-jdk9#20. There is no discussion on this outside of this issue.

@DanHeidinga any thoughts on this?

@archanaNogriya this can be pursued by finding or introducing a way to replace the jvm.cfg files with OpenJ9 versions that specify `-j9vm KNOWN`.

[2018-02-21 11:31] cordeta opened #1236 "FILIPINO LOCALIZATION"
To help you reach my fellow Filipino Comrades , i would like to offer Translation of your files in Filipino . A staging Repo of Translation/tl_PH would be fine :)

Cheers !

[2018-02-21 11:57] SueChaplain commented on #845
@pshipton Is all the mingw work done now? It would be good to get the testing done and update/complete the build documentation in this PR.

I found the code here: https://sourceforge.net/projects/mingw/files/latest/download?source=files
Who can provide some install/config notes please?
I'm happy to test the process if no-one else can, although it might take me a week or two to fit it in.

[2018-02-21 13:02] pshipton commented on #845
@SueChaplain yes all the mingw work is done now. I don't think anything additional is required because mingw is installed with cygwin, although perhaps this needs to be specified when cygwin is installed.
@vsebe @pdbain-ibm please confirm.

[2018-02-21 14:26] DanHeidinga commented on #1203
@theresa-m Can you take a look at this?  Running the test on x86 and seeing if it crashes would rule out the possibility of it being platform-specific and give an easier place to debug.

[2018-02-21 15:23] pdbain-ibm commented on #845
Cygwin must be installed with the developer package, but no other special setup is required.

[2018-02-21 15:58] mikezhang1234567890 commented on #691
I'm taking a look at this. It looks like the `echo no{error}{}here` command is somehow outputting the string without braces.

[2018-02-21 16:28] llxia commented on #981
You have to specify  `failIfNoResults:true`. Otherwise, build will pass if there is no TAP result.

`step([$class: “TapPublisher”, testResults: “**/*.tap”, failIfNoResults:true])])`

[2018-02-21 16:45] AdamBrousseau commented on #981
supposed to have been solved
https://github.com/jenkinsci/ghprb-plugin/issues/168

[2018-02-21 18:29] DanHeidinga commented on #771
Issue was also raised on a Valhalla-EG call while discussing other JVMTI spec changes:
[code]
http://mail.openjdk.java.net/pipermail/valhalla-spec-experts/2018-February/000575.html

OpenJ9 will incur costs to support adding static methods to classes - in the class case it isn't so bad but adding them to interfaces will change the shape of the itable.

With nestmates coming, even private final inst

[2018-02-21 23:35] #831 closed

[2018-02-22 06:40] DanHeidinga commented on #647
In `Copy-java.base.gmk`, I see there is a mechanism to specify an alternative jvm.cfg:
[code]

Can we use this to specify the OpenJ9 version of the jvm.cfg files?

[2018-02-22 11:45] sxa555 commented on #1180
Reference to the CI: https://ci.adoptopenjdk.net/job/openjdk10_build_x86-64_linux/

[2018-02-22 11:46] andrew-m-leonard commented on #1180
@pshipton Peter this will block releasing JDK8, since we cannot build it at AdoptOpenJDK... Adopt are trying to pass the necessary autoconf "configure" env options through to openj9/omr, but they seem to be being ignored... can we look at that issue to workaround the lack of 5 support?
We probably ought to tag this as JDK8 as well?

[2018-02-22 12:30] pshipton commented on #1180
It doesn't seem the problem is specific to jdk8 even though it affects jdk8. We can tag it as high priority.

[2018-02-22 13:00] stevewallin opened #1244 "InvocationTargetException with -Xshareclasses from Spring App"
Running the petclinic sample spring app (https://github.com/spring-projects/spring-petclinic) with `-Xscmx50M -Xshareclasses` causes `Exception in thread "main" java.lang.reflect.InvocationTargetException` on second run.

Output:
`2018-02-22 12:46:31.942  INFO 1 --- [           main] o.s.s.petclinic.PetClinicApplication     : Starting PetClinicApplication v2.0.0 on 85de4731ae7f with PID 1 (/tmp/sp

[2018-02-22 13:34] pshipton commented on #1207
Does it still occur with -Xint?

[2018-02-22 13:38] pshipton commented on #1212
This may not be ARM specific.

[2018-02-22 13:42] pshipton commented on #1236
Thanks for the offer @cordeta. I'm not sure what you are suggesting by "A staging Repo of Translation/tl_PH".

All the translated files are found in https://github.com/eclipse/openj9/tree/master/runtime/nls. You can open Pull Requests with Filipino translations of these files.

[2018-02-22 14:16] archanaNogriya commented on #647
@DanHeidinga What you are suggesting the changes is using OpenJ9 version of the jvm.cfg files, where do we have way that we can use the jvm.cfg files that are provided as part of OpenJDK rather than modified versions ?

[2018-02-22 14:37] archanaNogriya commented on #647
Ignore my previous comment @DanHeidinga , Looking at code and now I can see what you are suggesting .

[2018-02-22 14:44] DanHeidinga commented on #1180
@sxa555 Can I get access to the Adopt machine to do some manual testing?  Is there a procedure at Adopt I can follow to get a temporary login / password?

[2018-02-22 14:47] DanHeidinga commented on #1244
@stevewallin Can you supply the `java -version` output from the build you used?

[2018-02-22 14:54] smlambert commented on #1180
@DanHeidinga - you raise an issue at the openjdk-infrastructure repo to request temporary access (example: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/203)

[2018-02-22 14:56] stevewallin commented on #1244
Java 8 docker file from adopt: https://hub.docker.com/r/adoptopenjdk/openjdk8-openj9/

`openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-jenkins_2018_01_30_13_02-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20180130_57 (JIT enabled, AOT enabled)
OpenJ9   - 8f03f71
OMR      - f410d65
JCL      - 687ce89 based on jdk8u152-b16)`

[2018-02-22 15:10] JamesKingdon commented on #1207
Looks like it still hangs with Xint. That or the test is really slow (I let it run for an hour).

[2018-02-22 15:35] JamesKingdon commented on #1207
Unfortunately I only managed to get a single core file from that run, so I don't know how big the loop was. That core shows the following stack:
[code]

[2018-02-22 16:05] DanHeidinga commented on #1180
Thanks @smlambert!  I've requested access in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/231

[2018-02-22 16:12] cordeta commented on #1236
Thank you sir , i'll carefully read all the guidelines and intructions later .

[2018-02-22 16:41] DanHeidinga commented on #1180
Here's a Java 8 build failure with this issue: https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_linux/83/console

[2018-02-22 17:10] DanHeidinga commented on #1180
Current theory - we're "losing" the correct compiler setting when we hit this makefile https://github.com/eclipse/openj9/blob/26f8c7edb1fe37253d001243c0ce14473334d07f/runtime/compiler/trj9/Makefile

[2018-02-22 18:02] smlambert opened #1250 "Assess value of DDR test code"
Relates to #1221 - we should assess the value of these DDR tests (from com/ibm/j9ddr/tools).  If they are deemed useful, the tests should be migrated to the test dir (and cleaned up to be testng format, package renamed, using logger, etc).

We have other DDR tests that will be added to the OpenJ9 project, so this assessment should look at whether there is duplication and drop anything that is dupl

[2018-02-22 18:14] JamesKingdon commented on #1180
That seems likely true, but #44 showed the problem in jswalk.c which I think is compiled from vm/codert_vm/ suggesting there may be more than one source of the problem.

[2018-02-22 18:52] JamesKingdon commented on #1159
I didn't find a p/z hosted tool chain. We could look at building one from source, but I'm reluctant to head down that route. We could go with travis-ci for build, it takes about half an hour so it's not out of the question, but that would still leave us with a question mark for testing the executable. I suspect it's best to leave this on ice for now and revisit when we have the necessary hardware.

[2018-02-22 19:54] Mesbah-Alam opened #1252 "ibmjvmti.h not found in OpenJ9 SDK"
**Overview**
There seems to be a bug in building OpenJ9 with the OpenJDK extensions. The code is included in the VM, but the ibmjvmti.h file is not included in the include directory.

**Test failure**
[code]

**Link**
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/280/console

**How to reproduce**
The error can be reproduced using a personal build in ci.Adopt, using the fo

[2018-02-22 20:00] DanHeidinga commented on #1180
Have access to a ubuntu16 machine with both gcc 5 and 4.8.

Adopt runs with:
[code]

Setting the same and attempting the build to reproduce the issue locally.

[2018-02-22 20:06] sehirst commented on #890
The opt is actually enabled on z. Unlike the other platforms, it's enabled in omr:
`self()->setSupportsInliningOfTypeCoersionMethods();`
(https://github.com/eclipse/omr/blob/f698070a815a92a8f1da548b6de042ef73bcd9e7/compiler/z/codegen/OMRCodeGenerator.cpp#L788)

I used fjeremic's `JavaFloats` and collected a tracelog to confirm that the opt actually runs. This means if there's a performance gap it'

[2018-02-22 20:08] sehirst commented on #890
Considering x codegen has reduced this to a simple memory to memory operation, we might be doing more work than we need to in the z evaluator. I'm looking into that now.

[2018-02-22 20:14] ymanton commented on #1180
IIRC the files in `codert_vm/` are compiled as part of the JIT, despite their location, so I think it's just a single problem.

Anyhow, the JIT makefiles don't respect `CC` or `CXX`, instead they look at the (AFAIK) non-standard `CC_PATH` and `CXX_PATH`. Adopt seems to set `CC_PATH` so I would simply try setting `CXX_PATH` as well and see if that gets you to a complete build, but it seems to me th

[2018-02-22 20:14] fjeremic commented on #890
It looks like the reference count of node `n186n` is one, meaning that the load has not been evaluated yet. Judging by the fact that x86 generates a single `mov` from memory to register I bet they're recognizing this pattern and not evaluating the load underneath the `fbits2i` but instead simply generating a memory reference and loading from it directly.

We should do a similar optimization on z,

[2018-02-22 20:39] mikezhang1234567890 commented on #691
Given that `echo` is most often invoked as a shell built-in rather than using an `echo` executable, a possible solution is to pass in `sh -c "echo $TEMP0$"` instead of just `echo $TEMP0$`.

Any thoughts on this @llxia ?

[2018-02-22 20:43] DanHeidinga commented on #1244
@hangshao0 Can you take a look at this?

[2018-02-22 21:27] hangshao0 commented on #1244
Looks like it is caused by the following JCL code in java.net.URLClassLoader.findClass() :

[code]

clazz is null here.

[2018-02-22 21:43] pshipton commented on #1252
@SueChaplain this problem should be added to the release notes. The ibmjvmti.h file is missing from the include directory, code that uses "ibm" jvmti extensions can't be compiled.

[2018-02-22 21:44] llxia commented on #691
This test passes on windows machine without cygwin, so I am not sure this is a test issue.

[2018-02-22 21:49] Mesbah-Alam commented on #1252
@pshipton, Hang pointed out that ibmjvmti.h is included in https://github.com/eclipse/openj9/blob/master/runtime/include/ibmjvmti.h. The reason why we are seeing this test failure may have to do with the fact that when compiling the test, we are not supplying the 'runtime' folder into IFLAGS option of the gcc command line of this test's makefile.

[2018-02-22 23:29] pshipton commented on #1244
I assume this is a preliminary comment, but to be clear, we need to figure out why using -Xshareclasses causes this behavior.

[2018-02-22 23:37] pshipton commented on #691
The tests need to support a cygwin test environment since this is the environment used for OpenJ9.

[2018-02-22 23:46] pshipton commented on #1252
The reported issue is a valid problem. Users shouldn't have to have the OpenJ9 source available in order to use the include file. It should be in the include directory of the "JDK" image produced by an OpenJ9 build, similarly to how jvmi.h is available there.

[2018-02-23 00:06] Mesbah-Alam commented on #1252
@hangshao0 FYI.

[2018-02-23 06:13] ChengJin01 commented on #1032
I am current going through the code to understand the commit mechanism (write to disk) after storing metadata (Supported by Hang). Unlike the compiled methods (in which case they get committed once storing operation is finished), we need to figure out how to commit only once for all stored stackmaps in one ROMClass instead of committing for each stackmap so as to avoid unnecessary I/O operations.

[2018-02-23 10:23] paulcheeseman opened #1254 "Inconsistent case-sensitivity in Xtrace"
The destination and trigger Xtrace clauses behave differently with regard to case-sensitivity. For example, the print option doesn't care about case, so both of these options work:

`   -Xtrace:print=j9thr.0`
`   -Xtrace:print=J9THR.0`

However, trigger clauses _do_ care about case, so this option works:

`   -Xtrace:trigger=tpnid{j9thr.0,javadump}`

but this option doesn't:

`   -Xtrace:trigger=t

[2018-02-23 13:16] llxia commented on #691
yes, we will update the test to support running in cygwin.

[2018-02-23 13:41] pdbain-ibm opened #1255 "AttachAPI does not initialize on Windows #194"
"C:/temp/bld_379365/jdk/bin\java" -Xcompressedrefs
--add-exports=java.base/com.ibm.tools.attach.target=ALL-UNNAMED
-cp "C:/temp/bld_379365/openj9/test///..//jvmtest\TestConfig\resources;C:/temp/bld_379365/openj9/test///..//jvmtest\TestConfig\lib\testng.jar;C:/temp/bld_379365/openj9/test///..//jvmtest\TestConfig\lib\jcommander.jar;C:/temp/bld_379365/openj9/test///..//jvmtest\Java8andUp\GeneralTest.

[2018-02-23 14:51] pdbain-ibm commented on #1196
@paulcheeseman would you kindly verify the change?
Thank you.

[2018-02-23 15:01] llxia commented on #1255
Test passed on windows without cygwin, but failed on windows with cygwin.
It looks like the test need to be updated to support cygwin env.

[2018-02-23 15:34] paulcheeseman commented on #1196
@pdbain-ibm
As discussed, I just tested with this build:

[code]
but I see no error at all when running this command:

`> java -Djavax.management.builder.initial=foo -Dcom.sun.management.jmxremote -version`

[2018-02-23 15:41] pshipton commented on #1196
fyi that build predates the fix

[2018-02-23 15:44] smlambert commented on #252
To be clear, there are 2 parts to the jvmti tests:

1) the java source alluded to above (in test/cmdLineTests/jvmtitests), which has been migrated and is ready to be included and run as part of sanity.
2) the native library, libjvmtitest.so, which used to be compiled during the compilation of the JVM, but is no longer being compiled.  Adding the comp:build label additionally to this issue, as if w

[2018-02-23 17:23] paulcheeseman commented on #1196
@pshipton Is there an easy way to check whether a fix is in a particular build? I was going simply off the date, but that doesn't seem to be enough ([according to the commit](https://github.com/eclipse/openj9/commit/241ccb41f1821d22c392af154f121b5f7ca4ff26) the fix went in three days ago, and the binary was built yesterday).

[2018-02-23 18:39] pdbain-ibm commented on #1196
I tested with this build and it worked:
openjdk version "1.8.0_162-internal"
OpenJDK Runtime Environment (build 1.8.0_162-internal-openj9_2018_02_23_09_07-b00)
Eclipse OpenJ9 VM (build ibm_sdk-73cfa4a, JRE 1.8.0 Linux amd64-64 Compressed References 20180223_379399 (JIT enabled, AOT enabled)
OpenJ9   - 73cfa4a
OMR      - 58194bc
JCL      - e2cb8c7 based on jdk8u162-b12)

[2018-02-23 18:52] pshipton commented on #1196
@paulcheeseman for a regular build "yesterday" would have been sufficient, but your build was created from a tag (openj9-0.0M1) which is a test tag we created in preparation for the 0.8 release in order to test the build process. The tagged level predates the fix.

You can check if a fix is in a build using the git SHAs, if you have the git sources.

[2018-02-23 19:42] rednaxelafx opened #1257 "[Minor] Incorrect comment on exitCriticalRegion()"
Minor comment nitpick: on https://github.com/eclipse/openj9/blob/d351c880874f614b582cfbf9e81f8a26a08e586f/runtime/gc_glue_java/JNICriticalRegion.hpp#L114, it currently reads:
[code]
but it should be `ReleasePrimitiveArrayCritical` and `ReleaseStringCritical` instead.

[2018-02-23 19:58] dmitripivkine commented on #1257
Yes, thank you. This is typical copy/paste problem

[2018-02-23 20:30] hangshao0 commented on #1244
I've tries 10+ times, I can start up petclinic sample spring app successfully:
[code]

I am using the following commands on https://github.com/spring-projects/spring-petclinic:
git clone https://github.com/spring-projects/spring-petclinic.git
cd spring-petclinic
./mvnw spring-boot:run

[2018-02-23 20:55] DanHeidinga commented on #1180
I've set `CXX_PATH` & `CX_PATH` to g++-4.8, in addition to the exports used in https://github.com/eclipse/openj9/issues/1180#issuecomment-367803319.

No luck - build still fails in the same way.

[2018-02-23 21:04] hangshao0 commented on #1244
@stevewallin, Is the failure rate 100% on your side ? Does it fail if option "-Xscmx50M -Xshareclasses" is removed ?

[2018-02-23 21:18] DanHeidinga commented on #1180
Hacked all the CXX_PATH / CC_PATH setting lines to force them to g++-4.8 / gcc-4.8.  Still failing

[2018-02-23 21:29] stevewallin commented on #1244
It works fine without the cache and 100% failure rate (after first run)
I actually did a mvn install to get a jar file and run with jar <options> -jar spring-petclinic-2.0.0.jar inside docker as I'm on mac.

[2018-02-24 03:38] #1257 closed

[2018-02-25 02:09] JamesKingdon commented on #1207
I think this is stuck in the while loop of `fltconv_indexLeadingOne32`, but I can't see why yet.
[code]
mask has gone to zero and leading is a large value.

[2018-02-25 02:51] JamesKingdon commented on #1207
Input was 0x80000000 (Integer.MIN_VALUE)

[2018-02-25 05:33] DanHeidinga commented on #1180
[code]
and patched the uma spec file as:
[code]
but that leads to another problem:
[code]

[2018-02-25 12:26] JamesKingdon commented on #1207
This program will hang during execution:
[code]
When I add some debug output to fltconv_indexLeadingOne32 the hang goes away. gcc bug? Timing?

[2018-02-25 12:33] JamesKingdon commented on #1207
Really interesting, this version of the test hangs at compile time, so it's possible that the javac hangs of #1151 may have the same underlying cause
[code]

[2018-02-25 12:50] JamesKingdon commented on #1207
This whole code path is avoided if `USE_NATIVE_CAST` is defined, but I can't find any other reference to that identifier other than the one in `helperCConvertIntegerToFloat`. Any ideas when it is/isn't valid to set it?

[2018-02-25 13:44] JamesKingdon commented on #1207
Ugh, it does look like a gcc bug, the loop termination condition has been moved to the bottom of the loop, after the first shift. If the loop was only going to terminate on the first test then that will be missed and the loop hangs:
[code]

[2018-02-25 14:30] keithc-ca commented on #1180
You probably need to omit the ')' in
[code]

[2018-02-25 15:50] JamesKingdon commented on #1151
Confirmed that the fix for #1207 also fixes this issue.

[2018-02-26 04:09] DanHeidinga commented on #1180
Thanks @keithc-ca!  I've been looking for where I messed the formatting up.  A second set of eyes is big help.

[2018-02-26 04:23] DanHeidinga commented on #1180
That works:
[code]

[2018-02-26 05:02] knn-k commented on #1205
The stmib instruction seems to be used in the following part of J9AheadOfTimeCompile.cpp:

[code]

[2018-02-26 13:34] JamesKingdon commented on #1205
Awesome, thanks! How did you find it?
Now we have to choose how to fix it. I was hoping that annotating the declaration of cursor with the 'packed' attribute would work, but initial tests didn't seem to solve the problem. We could use memcpy or inline assembler for the moves as a slightly hacky alternative.

[2018-02-26 13:58] DanHeidinga opened #1264 "[Adopt] Incorrect VM classes in src.zip for OpenJDK+OpenJ9 builds"
Mirroring Adopt issue )https://github.com/AdoptOpenJDK/openjdk-build/issues/227) here:

------

I was just playing around with this build:
[code]
and I noticed the source code provided in src.zip for classes such as `java/lang/System` and `java/lang/Object` doesn't match the binaries.

It looks like src.zip contains the OpenJDK versions of these classes instead of the OpenJ9 versions.

I verified

[2018-02-26 13:59] DanHeidinga commented on #1264
@JasonFengJ9 @jdekonin Can you help out with this?  We should aim to fix this ASAP for the 0.8 release.

[2018-02-26 14:31] DanHeidinga opened #1265 "[0.8.0] Create the release branch and initial tag"
https://github.com/eclipse/openj9/blob/master/doc/processes/release_process.md

* Pick candidate level based on Adopt builds
OpenJ9 CI build: https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-JDK8-linux_ppc-64_cmprssptrs_le/89/
[code]
Adopt CI build: https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_ppc64le_linux/80/
[code]
Using the OpenJ9 CI levels as the adopt builds appe

[2018-02-26 15:13] andrew-m-leonard commented on #650
@DanHeidinga The new make file changes in OpenJDK10 for the Oracle change to a single src "repo" have resulted in several of the following types of errors. This is due to a J9 class java file declaring multiple "classes". This is fine in a single compilation unit, however with the repo changes the "nashorn" build is a special separate compilation unit, and the compiler cannot find these hidden cla

[2018-02-26 15:14] andrew-m-leonard commented on #650
PR: https://github.com/eclipse/openj9/pull/1247#issuecomment-368056306

[2018-02-26 15:16] andrew-m-leonard opened #1266 "Changes to Unsafe.java have regressed JDK10 & JDK11 builds"
It seems the J9 jcl now has a new version of jdk/internal/misc/Unsafe.java which is unfortunately not compatible on JDK10, with the following build errors:
=== Output from failing command(s) repeated here ===
* For target jdk_modules_java.base__the.java.base_batch:
/home/admin/mydocker/ccm/openj9-openjdk/openj9-openjdk/src/java.base/share/classes/java/util/concurrent/ConcurrentHashMap.java:3310: e

[2018-02-26 15:23] JasonFengJ9 commented on #1264
Sure, looking at it.

[2018-02-26 15:30] andrew-m-leonard opened #1267 "JDK11 java/lang/ref/Reference.java build error"
OpenJDK11 have introduced a new method runFinalization() in JavaLangRefAccess, that OpenJ9 need to add an implementation to in jcl/src/java.base/share/classes/java/lang/ref/Reference.java

=== Output from failing command(s) repeated here ===
* For target jdk_modules_java.base__the.java.base_batch:
/home/jenkins/workspace/build_ibmsdk/openj9-openjdk/build/linux-x86_64-normal-server-release/support/

[2018-02-26 15:32] andrew-m-leonard commented on #1266
@DanHeidinga Same problem in JDK11 as well:
https://hyc-rt-openjdk-jenkins.swg-devops.com/job/build_ibmsdk/267/console

[2018-02-26 15:39] DanHeidinga commented on #1266
@theresa-m Can you look at this?

[2018-02-26 15:40] DanHeidinga commented on #1266
I suspect we're missing the `objectFieldOffset(Class, String)` implementation

[2018-02-26 15:56] JasonFengJ9 commented on #1264
This is a problem with `OpenJ9 Java 8` builds but not `OpenJ9 Java 9`.
Probably something in `Java 9` extension repo wasn't ported to `Java 8` extension properly.

[2018-02-26 16:06] theresa-m commented on #1266
Yes. Looking into this.

[2018-02-26 16:27] JasonFengJ9 commented on #1264
`OpenJ9 Java 8` seems have different approach than `OpenJ9 Java9` for compilation and `src.zip` creation.
@andrew-m-leonard do you have any insights?

[2018-02-26 16:37] theresa-m commented on #1203
Yes. Looking at this.

[2018-02-26 16:40] andrew-m-leonard commented on #1264
JDK8 is a very different built beast to JDK9! so not entirely surprises... i'll investigate

[2018-02-26 17:56] ymanton commented on #1180
Seems @JamesKingdon was right, there are multiple problems. When I point `/usr/bin/{gcc,g++}` to `/bin/false` or similar and set `CC` and `CXX` to point to a working GCC 4.8 multiple things fail because they're blindly accessing `cc` or `gcc` or `g++`. The JIT fails as expected, the VM fails as above, and OMR fails (partly because OpenJ9 seems to hardcode setting `OMR_CROSS_CONFIGURE=yes` which af

[2018-02-26 18:05] DanHeidinga commented on #1180
@ymanton Using the changes in https://github.com/eclipse/openj9/issues/1180#issuecomment-368284923 I was able to successfully build after removing the extra `)` but I don't think that's the right patch yet.  I tried to change it to this:

[code]
in an attempt to conditionally set CPP etc only if they aren't passed in.

This seems to have broken in another way (java compiles fail which shouldn't be

[2018-02-26 18:28] ymanton commented on #1180
Possibly because `CC`, `CPP`, and friends have a default value, so setting them via `?=` might never work. You would end up with the environment value or the default value supplied by `make` but never the value you're trying to set it to.

[2018-02-26 18:45] DanHeidinga commented on #1180
I was also explicitly setting CC, CXX, etc.

[2018-02-26 18:58] DanHeidinga commented on #1265
openj9
[code]

openj9-omr
[code]

Message for the annotated tag:
[code]

[2018-02-26 19:00] DanHeidinga commented on #1265
@andrew-m-leonard FYI - Please update the Extensions repo to use this branch and tag for the 0.8.0 release.  Thanks

[2018-02-26 19:40] DanHeidinga commented on #1111
Closing as #1199 has been merged.

[2018-02-26 20:02] DanHeidinga commented on #1180
[code]
+ the patch in https://github.com/eclipse/openj9/issues/1180#issuecomment-368592980 allows the build to complete but fails to load the JIT:
[code]

[2018-02-26 20:09] sophia-guo commented on #1129
java/net/InetAddress/BadDottedIPAddress.java --ACTION: main -- Failed. Execution failed: `main' threw exception: java.lang.Exception: UnknownHostException was not thrown for: 999.999.999.999

java/net/InetAddress/CachedUnknownHostName.java  -- ACTION: main -- Failed. Execution failed: `main' threw exception: java.lang.Exception: Missing java.net.UnknownHostException

java/net/InetAddress/IPv4Forma

[2018-02-26 20:27] sophia-guo commented on #1130
A few more:
java/nio/channels/DatagramChannel/SendToUnresolved.java
java/nio/channels/SocketChannel/ExceptionTranslation.java
java/nio/charset/coders/Check.java
java/nio/charset/coders/CheckSJISMappingProp.sh
java/nio/charset/spi/basic.sh
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/297/consoleFull

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/

[2018-02-26 20:31] pshipton opened #1268 "Documentation for #1033 permission checking for shared cache utilities"
https://github.com/eclipse/openj9/pull/1033 added permissions checks which need to be documented.
fyi @SueChaplain

If a SecurityManager is being used with class data sharing and the running application is calling the com.ibm.oti.shared.SharedClassUtilities APIs getSharedCacheInfo() or destroySharedCache(), you must grant the code calling these APIs the appropriate SharedClassesNamedPermission.

[2018-02-26 20:33] DanHeidinga commented on #1265
Tested the build with:
[code]
resulting in the following `java -version` output:
[code]

[2018-02-26 20:34] sophia-guo commented on #1131
two more:
java/util/logging/FileHandlerMaxLocksTest.java
java/util/zip/InflateIn_DeflateOut.java

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/297/consoleFull
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/297/artifact/jvmtest/openjdk_regression/work/java/util/

[2018-02-26 20:43] sophia-guo commented on #1128
Same as sun/misc/Version/Version.java
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/297/artifact/jvmtest/openjdk_regression/work/sun/misc/Version/Version.jtr/*view*/

[2018-02-26 20:48] DanHeidinga commented on #1128
Note: if the test is expecting `UnsupportedClassVersionError` & OpenJ9 is throwing `ClassFormatError`, it should be a straightforward change to match the behaviour as UCVE is a subclass of CFE.

https://docs.oracle.com/javase/9/docs/api/java/lang/UnsupportedClassVersionError.html

[2018-02-26 21:10] pshipton commented on #1128
@DanHeidinga are you suggesting to change the VM in order to pass this test?
[code]

[2018-02-26 21:34] DanHeidinga commented on #1180
Exported these as well - jit still fails to load.
[code]

Hand hacking the OMR configure.mk.in file
[code]

Still having issues in the JIT.

[2018-02-26 21:35] DanHeidinga commented on #1128
Yes - its arguably more clear to throw UCVE than CFE in this case and should be straightforward to do.

[2018-02-26 21:38] tajila opened #1269 "[Condy] Add support for ConstantDynamic constant pool entries"
http://cr.openjdk.java.net/~dlsmith/constant-dynamic.html

The following have to be done in order
- [x] 1. Classfile parsing #1270
- [x] 2. Building ROM and RAM Classes #1271
- [x] 3. Resolving Constant_Dynamic entries #1272
- [x] 4. Add support for optThruput policy #1273

The rest can be done simultaneously
- [x] Add tests for ConstantDynamic #1274
- [x] Add cycle detection for Constant dynamic

[2018-02-26 21:39] mikezhang1234567890 commented on #679
It looks like on our test machines with cygwin, perl's module look up list (`@INC`) does not include the current directory. Per perl version 5.26 version notes [here](http://search.cpan.org/dist/perl-5.26.0/pod/perldelta.pod#Removal_of_the_current_directory_(%22.%22)_from_@INC): the current directory `.` was removed for security reasons.

These scripts can be fixed by including `use lib ".";` to a

[2018-02-26 21:41] pshipton commented on #1269
- [] some issue

[2018-02-26 21:42] tajila opened #1270 "ConstantDynamic: Classfile parsing"
Detecting Condy CP entries will be almost identical to what is done with Indy CP entries. Changes will be required in cfreader.c (look at CFR_CONSTANT_InvokeDynamic for guidance).

[2018-02-26 21:59] tajila opened #1271 "ConstantDynamic: Building ROM and RAM Classes"
<h1>Marking CPEntries</h1>

Marking which CP entries are used by `ldc` will have to be updated to account for Condy entries.

`computeConstantMapAndSizes` will also have to be updated to include Condy CP entries.

<h1>Add new CP entry type</h1>
Add new CP description types to BCT_J9DescriptionCPType and J9DescriptionBits (j9nonbuilder.h) for Condy. This will be used to detect the CP type in the by

[2018-02-26 22:00] tajila opened #1272 "ConstantDynamic: Resolving Constant_Dynamic entries"
<h1>LDC bytecode</h1>
The ldc bytecode will have to be modified to detect Condy constants. If the constant or exception doesn’t exist in the ramConstantPool  attempt to resolve the constant. If the exception exists throw the exception (Note: if LDC of Condy causes an exception, the same exception must be thrown every time). If the constant exists return the constant.

<h1>LDC2lw bytecode</h1>
The

[2018-02-26 22:00] tajila opened #1273 "ConstantDynamic: Add support for balanced GC policy"
Update the `GC_ConstantPoolObjectSlotIterator::nextSlot()` method to recognize Constant dynamic CP entries

[2018-02-26 22:01] tajila opened #1274 "ConstantDynamic: Add tests for ConstantDynamic"

[2018-02-26 22:02] tajila opened #1275 "ConstantDynamic: Add cycle detection for Constant dynamic args"

[2018-02-26 22:02] tajila opened #1276 "ConstantDynamic: Adding sun_relfect_ConstantPool native"
A new native will have to be added to `sun_reflec_ConstantPool`. This native will be implemented similar to `getCPMethodHandleAt`. It will search the ramConstantPool first to see if there is a cached copy, if not it will call the resolve helper to resolve the cp entry.

[2018-02-26 22:03] tajila opened #1277 "ConstantDynamic: Adding jithelper to resolve Constant dynamic entries"
A new helper will have to be added to `cnathelp.cpp` to resolve condy cp entires

[2018-02-26 22:03] tajila opened #1278 "ConstantDynamic: Verifier checks for Constant dynamic"
Condy entries are valid for classifies with major version 55 (or greater)
Static constraints: runtime/bcverify/staticverify.c
Runtime verification: runtime/bcverify/rtverify.c

Name and type must match bytecode (ie. 'D' and 'J' must be used with ldc2_w and not ldc)

http://mail.openjdk.java.net/pipermail/valhalla-spec-experts/2018-March/000586.html

[2018-02-26 22:04] tajila opened #1279 "ConstantDynamic: Add support for Gencon (including optthruput + avgpause)"
Dmitri "Scavenger does not scan CP at the moment. There is no need to because all possible references from CP use to be limited to be intern strings. Such strings are always allocated in Tenure, so they are not involved. With new behavior however scanning of CP should be added to Scavenger. Optthruput and Optavgpause should work "as is" with (if any) changes in CP Iterator"

In addition, we will a

[2018-02-26 22:05] tajila opened #1280 "ConstantDynamic: Add support for Metronome"

[2018-02-26 22:35] dmitripivkine commented on #1273
I guess this item would be empty as far as Balanced does CP scan already. So probably changes (if any) will be required on level of CP Iterator

[2018-02-26 22:37] pshipton opened #1282 "VM should throw UnsupportedClassVersionError for truncated class file with incorrect version"
See
https://github.com/eclipse/openj9/issues/1128#issuecomment-364331561
https://github.com/eclipse/openj9/issues/1128#issuecomment-368645049

The VM should throw UnsupportedClassVersionError instead of ClassFormatError when the class version is wrong but the class file is truncated.

[2018-02-26 22:37] pshipton commented on #1128
Created https://github.com/eclipse/openj9/issues/1282

33 failures remaining to analyze.

[2018-02-26 22:42] dmitripivkine commented on #1279
Scavenger does not scan CP at the moment. There is no need to because all possible references from CP use to be limited to be intern strings. Such strings are always allocated in Tenure, so they are not involved. With new behavior however scanning of CP should be added. Optthruput and Optavgpause should work "as is" with (if any) changes in CP Iterator

[2018-02-26 22:42] hangshao0 commented on #1244
The issue here is related to nested jars.
spring-petclinic-2.0.0.jar is a runnable jar that has its dependent jars/classes under spring-petclinic-2.0.0.jar!/BOOT-INF/. URLClassLoader itself is not able to find the classes inside nested jars. Spring-boot has its own classloader called LaunchedURLClassLoader that extends URLClassLoader and overrides methods like findResource() and loadClass() so tha

[2018-02-26 22:46] dmitripivkine commented on #1280
Metronome should work "as is" with (if any) general changes in iterator

[2018-02-26 23:00] hangshao0 commented on #1244
So -Xshareclasses in not compatible with nested jars.

[2018-02-26 23:04] tajila commented on #1273
@dmitripivkine Does balanced scan in all cases?

If we added a bit to the Class object or J9Class saying there were no non-tenured objects in the constantpool would it still have to scan?

Is the CP Iterator common for all policies?

We are introducing two new CP types, the iterator(s) will have to know about them

[2018-02-26 23:12] tajila commented on #1277
@gacholio will we have to add a helper to `cnathelp.cpp` similar to `old_slow_jitResolveInvokeDynamic` in order to resolve ConstantDynamic constants ?

[2018-02-26 23:21] dmitripivkine commented on #1273
Yes, Balanced does scan CP in all cases. I believe keep this item for now. We will double check after implementation.
I believe CP Iterator is common for all GC policies

[2018-02-26 23:31] dmitripivkine commented on #1273
Actually there are two iterators related to CP walk:
- GC_ConstantPoolObjectSlotIterator iterates heap objects in CP
- GC_ConstantPoolClassSlotIterator iterates classes in CP

[2018-02-27 00:37] smlambert commented on #1236
I believe AdoptOpenJDK uses a translation tool and then has volunteers/contributors verify the translations to ensure they sound/read correctly.  https://github.com/AdoptOpenJDK/openjdk-website/issues?utf8=%E2%9C%93&q=is%3Aissue+translation+

issue 79 talks about them using Google translate

[2018-02-27 01:14] knn-k commented on #1205
The function has a big switch-case.  I found the jump table of the switch had four references to the address of the case block which contained the stmib instruction.  So I searched for blocks which had four case labels.

I don't think it is a good coding style, but an idea is to make the case block a fall-through to the next block as follows:
[code]

[2018-02-27 03:51] DanHeidinga commented on #947
@fengxue-IS Can you take a look at this?  At least to figure out what we need to do here.

[2018-02-27 09:20] SueChaplain commented on #1268
@pshipton I see from the issue that this is a 9+ doc update. Do you also want this in the 0.8 release notes?

[2018-02-27 12:59] archanaNogriya commented on #647
Build has been worked fine by changes as follows,
Move j9 jvm config files to closed dir  example /openj9-openjdk/closed/src/java.base/unix/conf/amd64/jvm.cfg

and replace back the openjdk jvm.cfg files to openJDK version

Modify /openj9-openjdk/closed/make/copy/Copy-java.base.gmk
# JVMCFG_ARCH needs to set while this make file has been initiated to set the closed jvm.cfg path
ifeq ($(call check-j

[2018-02-27 13:28] pshipton commented on #1268
@SueChaplain the change also affects Java 8. I don't think it needs to be in the 0.8 release notes because 0.8 is the first release and its not a change from any previous release.

[2018-02-27 13:36] andrew-m-leonard commented on #1264
Fixed in https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/50

[2018-02-27 13:56] #1264 closed

[2018-02-27 14:01] pshipton commented on #1264
Thanks for the fast action @andrew-m-leonard

[2018-02-27 14:18] DanHeidinga commented on #954
Initial Condy design: https://github.com/eclipse/openj9/issues/1269

[2018-02-27 14:22] DanHeidinga commented on #1277
Depends on https://github.com/eclipse/openj9/issues/1272

[2018-02-27 14:22] DanHeidinga commented on #1276
Depends on https://github.com/eclipse/openj9/issues/1272

[2018-02-27 14:31] DanHeidinga commented on #1274
@smlambert @llxia Are you monitoring the jtreg tests in OpenJDK `jdk` repo?  If you run across any tests ConstantDynamic aka Condy (JEP 309), we'd appreciate a heads up to avoid duplicating the testing.

[2018-02-27 14:44] JamesKingdon commented on #1207
I'm leaning towards adding || defined(ARM) to the #if defined (USE_NATIVE_CAST) so that ARM takes the short code path. I've raised the question on the OpenJ9 slack to see if anyone know the history of this code and why we wouldn't want to enable the native cast (which we do for int to double et al). I'll give it a day or two to see if anyone has any feedback.
https://openj9.slack.com/archives/C831

[2018-02-27 15:06] sophia-guo commented on #1144
another one:
java/rmi/dgc/retryDirtyCalls/RetryDirtyCalls.java
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/308/artifact/jvmtest/openjdk_regression/work/java/rmi/dgc/retryDirtyCalls/

[2018-02-27 15:18] theresa-m commented on #1203
This is not platform specific and has OpenJDK code calling the unsafe method:
[code]
I will write in the native as per discussion in the public slack channel.

[2018-02-27 16:20] pshipton opened #1288 "SharedClassCacheInfo is missing constants for Java 10 & 11"
SharedClassCacheInfo is missing constants for Java 10 & 11, as is runtime/include/ibmjvmti.h

These constants are present in runtime/oti/shchelp.h

Before adding the constants we should consider if we really need to have new levels for each Java version, as there will be a new Java version every 6 months. Perhaps only the LTS levels should change the mod level.

@hangshao0 fyi

[2018-02-27 16:49] #1266 closed

[2018-02-27 17:09] DanHeidinga commented on #1271
As you pointed out on the whiteboard, moving Indy CP entries back into the constantpool will increase the romclass size slightly in the common case of invokedynamics not sharing cp entries.

This design can do the Condy side and leave the Indy representation as is.

[2018-02-27 17:10] DanHeidinga commented on #1270
@fengxue-IS Can you take a look at this?  Its the first stage in supporting JDK 11's ConstantDynamic.

[2018-02-27 17:12] DanHeidinga commented on #1271
The layout of the ROM / RAM cp entries must match the layout of Constant_Class / Constant_String entries due to the resolution check in the `ldc` bytecode.  It treats all `ldc`-able constants as having a common shape and null-checks the first(?) slot as a resolve check.  After that it differentiates by type.

[2018-02-27 17:14] hangshao0 commented on #1288
We are already changing the mod level for Java 9 which is not a LTS.

[2018-02-27 17:16] DanHeidinga commented on #1272
Given the whiteboard discussions yesterday and the decision to defer moving indy cp entry data back into the constantpool, does this still apply?

[2018-02-27 17:22] fengxue-IS commented on #1270
sure, I ll look into how this can be implemented

[2018-02-27 18:38] pshipton commented on #1288
There is still time to change it. There isn't any released version of OpenJ9 for Java 9 yet.

[2018-02-27 18:55] #647 closed

[2018-02-27 19:14] DanHeidinga commented on #1207
The helper is used in `i2f` bytecode, which depends on the IEEE rounding modes.  Does the native float cast on ARM match the required `i2f` semantics?

[code]

[2018-02-27 19:18] DanHeidinga commented on #1180
Discussed on Slack, plan is for Adopt to create a machine with `gcc 4.8` as the default `gcc` and adapt the hotspot builds to set `CC/CXX` until we can fix our build scripts.

See conversation starting at: https://openj9.slack.com/archives/C8312LCV9/p1519749353000502
[code]

[2018-02-27 19:47] #691 closed

[2018-02-27 20:11] JamesKingdon commented on #1207
Is it reasonable to assume that float conversions are well exercised by the tests in openJ9? The native cast passes floatSanity, and I think does pretty well on the full `make test` bucket. I need to review the failures, but I don't recall anything obviously related to floats.

[2018-02-27 20:21] hangshao0 commented on #1288
If Java 8 and Java 9 share the same mod level and the same cache name is used, the cache file name (_cacheNameWithVGen) will be the same for Java 8 and 9. So a Java 9 cache could be started up by Java 8 when option "noAutoPunt" is used.

[2018-02-27 20:37] tajila commented on #1271
I wasn't sure if we reached a consensus yesterday. I have updated the design to exclude InvokeDynamic.

Yes, they currently match. I've added the existing String CPentries to the design for comparison

[2018-02-27 20:48] smlambert commented on #1274
We are not monitoring the tests, but we do run them at AdoptOpenJDK, including starting to turn on the JDK10 tests, once all of them are enabled, we will have a better view of that set.

[2018-02-27 20:52] tajila commented on #1272
I have modified the design

[2018-02-27 22:28] mstoodle commented on #39
Hi @markehammons ! We haven't heard from you in a while :) . I know this issue has been closed for a while, but I just wanted to reach out to see if you're still using OpenJ9 and to ask if you have any further feedback on your experiences with either the JVM or the project itself?

We have a weekly web meeting (using Zoom) on Wednesdays at 11am EST. We're very interested to hear your feedback, goo

[2018-02-27 22:30] AdamBrousseau opened #1297 "Add manually triggered 'Release' build to Jenkins"
Similar to [Pipeline-Build-Test-All](https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All/)
- Only builds one SDK version
- Takes parameters:
  - OPENJDK/OPENJ9/OMR x BRANCH/SHA
  - SDK_VERSION (choice)
- Build all platforms
- Launches appropriate downstream pipelines

[2018-02-27 22:57] smlambert commented on #1274
ok, I see the jdk11 label is now on this... so dismiss my comment about looking for ConstantDynamic tests in the Jdk10 tests

[2018-02-28 01:15] knn-k commented on #1205
Yes, I agree.  My idea yesterday is not good for maintenance in the future.
I searched for GCC option that avoids using stm instructions (and other multi-word mem ops) in aarch32 code generation when 16-byte alignment is not guaranteed, but I could not find one.

[2018-02-28 03:21] DanHeidinga commented on #1278
Static constaints: `runtime/bcverify/staticverify.c`
Runtime verification: `runtime/bcverify/rtverify.c`

[2018-02-28 03:22] pshipton commented on #1111
Seems Dan meant to close this Issue. https://github.com/eclipse/openj9/issues/1265 is opened to create the branch and tag for the 0.8 release.

[2018-02-28 03:22] #1111 closed

[2018-02-28 12:29] archanaNogriya commented on #647
As @pshipton has suggested, all j9 jvm.cfg files(Identical) are replaced with one single file.
and single file resides /openj9-openjdk/closed/src/java.base/conf/jvm.cfg

[2018-02-28 12:38] pshipton commented on #647
Does putting the file in src/java.base/conf/jvm.cfg have any side affects? i.e. does it put the file in the conf directory of a build?

[2018-02-28 16:02] dmitripivkine opened #1301 "Cleanup class scanning in Balanced"
J9 Class scanning in Balanced is initiated as soon as correspondent Class Object is discovered in the object heap. It calls a number of iterators to scan J9 scan class related parts:

 - GC_ClassStaticsIterator for RAM Statics
 - GC_CallSitesIterator for Call Sites
 - GC_ConstantPoolObjectSlotIterator for Constant Pool
 - GC_MethodTypesIterator twice for Method Types and Var Handle Method Types

T

[2018-02-28 16:03] dmitripivkine commented on #1301
@jonoommen Would you please take a look?

[2018-02-28 16:13] #1135 closed

[2018-02-28 16:42] pshipton commented on #1236
So basically, committers can pass any translations through Google translate and see what comes out in their native language before committing.

[2018-02-28 16:49] jonoommen commented on #1301
Yes 👍

[2018-02-28 18:58] smlambert commented on #1236
Seems like a reasonable way forward, that way we benefit from the generous offers of translations, but have some approach to verifying the changes.

[2018-02-28 19:49] dnakamura commented on #999
I have a solution which does fix the test case (https://github.com/dnakamura/openj9/tree/ret_opcode).  Although I'm not sure its the right solution, and of course it needs to add jit support

[2018-02-28 19:52] hangshao0 opened #1304 "Shared classes tests that are disabled on Java9"
The following tests are currently disabled on Java 9:
[ ] testDDRExt:testShrcStatsExt
[ ] shrcdbgddrext
[ ] j9vm.test.jarfileupdate.JarFileUpdateTest
[ ] j9vm.test.romclasscreation.NewROMCreationAfterModifyingExistingClassTest

[2018-02-28 20:32] pdbain-ibm opened #1306 "Create common test utilities for isJava8, isWindows, etc."
Several tests need to know the platform (usually z/OS or Windows) and the Java version (often Java 8 vs. later).  There are multiple implementations of isJava8() already.

Suggest creating a common class in TestUtilities, e.g. org.openj9.test.util.PlatformInfo
with (initially)
static boolean [isWindows(), isZos(), isJava8()].
The code for these can be lifted from existing sources.

@smlambert @llx

[2018-02-28 23:27] pshipton commented on #999
It would be easier if a WIP Pull Request is created for the changes.

[2018-03-01 10:49] archanaNogriya commented on #647
@Param-S Yes looking at the build log, It seems it is doing right thing and keeping config in right place .

/bin/cp -fP '/home/archana/openj9-openjdk/closed/src/java.base/conf/**jvm.cfg**' '/home/archana/openj9-openjdk/build/linux-x86_64-normal-server-release/support/modules_libs/java.base**/jvm.cfg**'
/bin/mkdir -p /home/archana/openj9-openjdk/build/linux-x86_64-normal-server-release/support/mod

[2018-03-01 12:24] andrew-m-leonard commented on #650
This is now breaking JDK10 builds...
The problem shows itself because of the way OpenJDK10 has restructured the single-repo build. Nashorn is built as a separate compilation unit to the other components, and references some java.base classes. When this Nashorn compilation tries to find directly/indirectly some classes eg.java.lang.invoke.CacheKey it has no way to find it since there is no CacheKey

[2018-03-01 12:25] andrew-m-leonard commented on #650
@DanHeidinga Can someone take a look at this one please? i've tried my best fiddling with nashorn compile options... but to no avail...
thanks

[2018-03-01 14:42] andrew-m-leonard commented on #650
@pshipton fyi, splitting out the hidden classes as per my PR (https://github.com/eclipse/openj9/pull/1247#issuecomment-368056306) will fix this

[2018-03-01 15:19] pshipton commented on #650
Thanks Andrew, we are aware.

[2018-03-01 15:22] DanHeidinga commented on #650
I've started looking at the build output and see that there are two make targets that are failing:
* docs-jdk-api-javadoc
* jdk.scripting.nashorn-java

@andrew-m-leonard Can you check the JDK 8 / 9 extensions repos as I believe we've previously disabled the javadoc generation in those builds.  This will help clarify which failures are related to `jdk.scripting.nashorn-java`

[2018-03-01 15:29] #1270 closed

[2018-03-01 15:31] DanHeidinga commented on #1081
@hangshao0 Has a pull request been opened for this issue or is more investigation required?

[2018-03-01 15:42] hangshao0 commented on #1081
A pull request will be opened shortly. I am still testing the fix.

[2018-03-01 15:45] DanHeidinga commented on #1265
Remaining fixes are in.  Taking last night's build as `-rc2`"

SHAs:
[code]

[2018-03-01 16:10] llxia opened #1313 "Warning msg in JCL_Test_Package_0 test"
In JCL_Test_Package test, findPackage() gets @Test annotation added automatically by TestNG. We should make findPackage() private.

Output:
[code]

[2018-03-01 16:18] theresa-m opened #1314 "OpenJ9 Tests compile fail when running with hotspot"
With a hotspot `JAVA_BIN` And `JAVA_IMPL=hotspot` I get the following error when running a test:

[code]

[2018-03-01 16:46] pdbain-ibm commented on #1313
I will take this because I am working on that file anyway.
The pull request (in progress) is #579.

[2018-03-01 17:57] smlambert commented on #1314
Please provide the other environment variables you are using also, in particular, what SPEC you are using.

[2018-03-01 19:06] #679 closed

[2018-03-01 19:16] llxia commented on #1314
We should add check for JAVA_IMPL. -Xcompressedrefs should be added only if JAVA_IMPL=openj9.
@renfeiw , could you take care this issue. Thanks.

[2018-03-01 19:22] llxia opened #1318 "Merge two tests into one in cmdLineTester_SCCommandLineOptionTests playlist.xml"
We noticed that we have two tests cmdLineTester_SCCommandLineOptionTests_win and cmdLineTester_SCCommandLineOptionTests_unix in https://github.com/eclipse/openj9/blob/master/test/cmdLineTests/shareClassTests/SCCommandLineOptionTests/playlist.xml

These two tests can be merged into one by using variables.

[2018-03-01 19:24] theresa-m commented on #1314
`JAVA_BIN=/team/theresa-m/builds/oracle/jre-9.0.4/jdk-9.0.4/bin`
`JAVA_IMPL=hotspot`
`SPEC=linux_x86-64_cmprssptrs`

[2018-03-01 20:57] renfeiw commented on #1314
Thanks @llxia , will work on it.

[2018-03-01 22:23] #1114 closed

[2018-03-01 22:27] AdamBrousseau commented on #1114
(Implemented # 2)

[2018-03-01 22:40] ChengJin01 commented on #1032
I am currently working with Hang to figure out why it fails to commit the stackmap data (it seems the shared cache got screwed up after the commit operation is finished)

[2018-03-01 22:51] smlambert commented on #1314
So the 2 part solution to @theresa-m 's problem is:
1) for her to use SPEC=linux_x86-64
2) for us to add the check for JAVA_IMPL

We have not seen this issue when using testkitgen and running tests at AdoptOpenJDK, is that because the -Xcompressedrefs is being added to the command line of the  "functional" test targets (FV tests) in this case?

[2018-03-02 00:33] #1081 closed

[2018-03-02 14:04] renfeiw commented on #1314
The -Xcompressedrefs is being appended in the extraSettings.mk. We have not seen this issue in AdoptOpenJDK, because the get.sh script will remove extraSettings.mk. I will also delete the remove part after JAVA_IMPL check is aded.

[2018-03-02 14:12] DanHeidinga commented on #84
@hangshao0 Is this something you're looking into?

[2018-03-02 14:43] sxa555 opened #1324 "Understand JCK implications on the OpenJ9 release process"
Looking at the OpenJ9 release process at https://github.com/eclipse/openj9/blob/master/doc/processes/release_process.md one thing that isn't immediately obvious is that "Create the github release corresponding to the tagged level" will result in a rebuild of the code level (in order to remove the `-rcX` tag)

Once this is done my understanding is that it will be necessary to re-run any JCK testing

[2018-03-02 14:44] andrew-m-leonard commented on #650
@danheidinga We do currently build the docs-image as part of "all", however, i've tried taking that out, and has no affect on the issue. I think the docs issue is simply hitting the same problem as the nashorn compilation...

[2018-03-02 15:02] DanHeidinga commented on #1324
Re: JCK statements - this in relation to AdoptOpenJDK running the JCKs on OpenJ9, correct?  The Eclipse OpenJ9 project is not a JCK licensee.

Based on my experience in IBM supporting J9 before it was open source, I believe that option 3 is sufficient.  If the the `-rcX` build passes the tests, the release build will as well.  If there is every a question about whether the build passes the tests,

[2018-03-02 15:21] sxa555 commented on #1324
Correct

[2018-03-02 15:56] lumpfish commented on #1324
While option 3 may be sufficient it creates a level of obscurity vs. matching the java -version output of a particular java build and the output logged in the JCK test results.
Something along these lines might work better given the compliance test run requirement:
1. Create a tag with the name of the final release
2. Test the release
3. If the testing is successful, archive the test results, decl

[2018-03-02 16:16] DanHeidinga commented on #1324
The point of using `-rcX` tags is to validate the build is good before it's tagged with the release version.  Otherwise users may pull down what looks like the final tag and get a build with issues.

We can't apply the final tag until the testing has passed.

[2018-03-02 16:58] lumpfish commented on #1324
How do users know what a final tag 'looks like' before a release has been published?

[2018-03-02 18:06] pshipton commented on #1324
The tag and branch formats are documented in the OpenJ9 release process https://github.com/eclipse/openj9/blob/master/doc/processes/release_process.md

[2018-03-02 18:24] pshipton commented on #238
I believe its blocked by #252 - libjvmtitest.so is missing

[2018-03-02 19:55] taliamccormick opened #1331 "Update final field access check"
Final fields in java must be set by the class in which it is declared. Final instance variables must be set in every constructor of the class they are declared in (init) and final static variables by the static initializer of the class they are declared in (clinit).

Private fields/methods of a class can currently only be accessed by the class in which they are declared. Earlier access checks ther

[2018-03-02 19:57] taliamccormick commented on #1331
PR for fix here: https://github.com/eclipse/openj9/pull/1332

@tajila

[2018-03-02 21:22] pshipton commented on #1052
The release notes #1052 were merged.

[2018-03-02 21:22] #1052 closed

[2018-03-03 00:10] smlambert commented on #1314
Thanks for the explanation @renfeiw (and the follow-up on the Adopt-side get.sh script !

[2018-03-03 02:26] #1314 closed

[2018-03-03 19:37] JamesKingdon commented on #1207
I've given the native cast build a pretty good work out with the various test buckets and haven't seen any issues that appear to be related to the int to float conversion.

[2018-03-04 12:36] JamesKingdon opened #1340 "Test failure with shared classes on NFS filesystem"
One of the tests in testSCCMLTests2 fails with a message "Persistent cache cannot be located on a networked file system". Possibly the problem is the `cacheDir=. ` option.

[code]

[2018-03-04 13:09] JamesKingdon commented on #1205
@knn-k
This is what I'm currently testing, what do you think?
[code]
It seems to work so far (it fixes at least one of the tests that was crashing before, and I've launched another run of the openj9 test suite). Obviously inline assembler is not ideal for maintainability, but I think the above is fairly clear? And we can add a comment block to explain the reasons for using it of course.

I suspect

[2018-03-04 16:56] JamesKingdon commented on #1205
Hmm, worryingly, when I try and use the same technique for the interpreter profiling data I get crashes, which suggests I still don't understand the inline assembler syntax and the above may be wrong.

[2018-03-04 16:57] JamesKingdon commented on #1340
May be arm specific. Windows uses '.' for some of these tests, so possibly the code that detects linux vs windows isn't working on arm.

[2018-03-05 02:06] knn-k commented on #1205
I don't have much experiences with inline assembler, and I cannot point out what to do with it.

I wondered why `cursor` had to point to unaligned address, but it does not look trivial to change the relocation data to aligned.

[2018-03-05 02:42] DanHeidinga opened #1341 "Make freemarker.jar downloads robust to sourceforge outages"
While we cache freemarker.jar on the CI machines, we should also update the makefiles to pull from https://ci.adoptopenjdk.net/userContent/freemarker-2.3.8.tar.gz if sourceforge returns an error.

This will make builds more robust and prevent outages like the recent ones due to sourceforge being down.

[2018-03-05 04:57] knn-k commented on #1205
I don't have much experiences with inline assembler, and I cannot point out what to do with it.

I wondered why `cursor` had to point to unaligned address, but it does not look easy to change the relocation data to aligned.

[2018-03-05 10:43] paulcheeseman commented on #1196
I confirmed that a useful Error/Exception is printed with this build:
[code]
By running this command:

`java -Djavax.management.builder.initial=foo -Dcom.sun.management.jmxremote -version`

[2018-03-05 12:16] JamesKingdon commented on #1205
Yes, these unaligned buffers in interpreter profiling and AOT are frustrating, but I assume they are considered necessary for footprint density.
I wasn't confident in my assembler so I've been testing with a conservative change that uses memcpy instead: https://github.com/JamesKingdon/openj9/commit/944063d26893f15c16f1583860ee8124a478c267

[2018-03-05 13:35] DanHeidinga commented on #1205
Isn't there a compiler option to handle this?  GCC has `-mno-unaligned-access` and the usual mtune / mcpu options which enable or disable that by default.

https://gcc.gnu.org/onlinedocs/gcc/ARM-Options.html

[2018-03-05 13:38] andrewcraik commented on #1205
I'm not sure that the option is enough to take care of all the allocators in the JIT since we have our own bump pointer allocators for anything non-persistent it is possible that things could squeak past though I agree an option like `-mno-unaligned-access` would make things easier.

[2018-03-05 13:46] DanHeidinga commented on #827
Bumping the priority on this as we're seeing more OpenJ9 PRs with dependent OMR changes that can't be built as the OMR change has already been merged.

[2018-03-05 13:47] JamesKingdon commented on #1205
Sadly, I don't think the options apply. It's not that ARM can't do unaligned access, it can and we need to do so if we're not going to lose even more performance. It's just that there are some specific instructions that don't support unaligned access that gcc is generating inappropriately, possibly because of the very old gcc we're using, or possibly because we cast our unaligned pointers so heavi

[2018-03-05 13:50] JamesKingdon commented on #1205
I was hoping that I could use __attribute__ ((packed)) to mark specific pointers as unaligned but I wasn't able to make it work.

[2018-03-05 14:01] andrewcraik commented on #1205
I did have to help with some alignment problems on SPARC for LLVM at one point and for the bump pointer allocators the allocator had to be modified to align the allocation. It increased footprint, but it was the only way for sanity to prevail in the end. Not sure if that is the right call here, but something worthy of consideration.

[2018-03-05 14:03] JamesKingdon commented on #1205
Who is the architect for the AOTRelocationHeader - @mstoodle ?

[2018-03-05 14:04] JamesKingdon commented on #1205
(and we'd really need to have the same conversation about the interpreter profiling data)

[2018-03-05 15:21] mstoodle commented on #1205
@JamesKingdon Yes, I suppose that's me, though I'm not sure I want to call that code "architected" in any really positive sense of the word, although there are carefully designed elements. The relocation *runtime*, at least, has been architected in such a way that you'll *probably* be able to deal with it relatively cleanly via the RelocationTarget.

Unfortunately, the compile side of this stuff n

[2018-03-05 15:29] andrewcraik opened #1342 "Java 8 AbstractClassLoader calls ZipFile.getEntry too often"
The OpenJ9 build for Java 8 shows significant activity calling libzip.so getEntry when running the DayTrader3 benchmark. It looks like the findResourceImpl will cache the ZipFile/JarFile object, but repeated requests for the same resource will cause the zip file to be read repeatedly. Given the cost of the native call and the synchronization required to access the ZipFile there would seem to be a

[2018-03-05 15:42] hangshao0 commented on #1340
Probably the current directory is on a network drive. CacheDir cannot be on a network drive.

[2018-03-05 15:48] JamesKingdon commented on #1340
Yes, the current directory is on NFS. We must be able to run tests on a shared drive, surely? I see code that looks like it picks a different directory for 'linux' vs windows - is that part of the picture?

[2018-03-05 16:36] hangshao0 commented on #1340
Looks like we cannot run this test on a NFS for the time being. We might either pass in another variable pointing to a local dir to "cacheDir=" for this test or change the current test root to a local dir. @llxia , @renfeiw , any comments ?

[2018-03-05 16:44] hangshao0 commented on #1304
testDDRExt:testShrcStatsExt and shrcdbgddrext are DDR tests. DDR is not working on OpenJ9 yet. We can re-enable them when DDR is working.

Seems the testing code has not being migrated yet.

[2018-03-05 18:58] DanHeidinga commented on #1324
@sxa555 @lumpfish Have your concerns been addressed?  If so, I'll close this out.

[2018-03-05 19:16] llxia commented on #1340
Could you run this test by passing REPORTDIR=/local/dir in make?

[2018-03-05 19:25] llxia commented on #1340
Below command works for me.
[code]

[2018-03-05 19:35] JamesKingdon commented on #1340
OK, that's good to know - thanks.

I think we will need to automate this though. Smaller ARM based development boards typically have their local file system on a micro sd card which are slow and have a limited number of write cycles. We don't want to push any more of the file activity from the test bucket onto there than we have to. Is REPORTDIR specific to the shared class cache tests or more gen

[2018-03-05 21:58] llxia commented on #1340
REPORTDIR is not specific to shared class cache tests. It can be used for all tests.
I think we can introduce a variable to allow users to set their own cacheDir.

[2018-03-06 01:11] AdamBrousseau commented on #975
This has been added to nightly pipelines via #1346.
It is temporarily in place in the omr-acceptance build in the sandbox code and will convert to the same method used in 1346 once #972 is resolved.
The remaining item would be to add slack to the [omr mirror](https://github.com/eclipse/openj9/blame/master/buildenv/jenkins/jobs/infrastructure/omrMirror) job. I can get a PR together for that then we

[2018-03-06 02:28] #1267 closed

[2018-03-06 03:37] JasonFengJ9 opened #1351 "JavaLangRefAccess.runFinalization() need to be implemented"
`JavaLangRefAccess.runFinalization()` is added since `Java 11 b03` which is invoked by `Runtime.runFinalization()`.

To resolve `Java 11` build error #1267, a stub method has been added at https://github.com/eclipse/openj9/pull/1348 however an actual implementation is still required.

[2018-03-06 09:29] myspringchen opened #1352 "A potential miss in format checking"
It seems that J9 has a miss in checking an interface. The specification requires that "If the ACC_INTERFACE flag is set, the ACC_ABSTRACT flag must also be set". (https://docs.oracle.com/javase/specs/jvms/se9/html/jvms-4.html#jvms-4.1). J9 fails in report formaterror.

How to reproduce: run Context.class (https://jbox.sjtu.edu.cn/l/fJ6wui) on OpenJ9 (jdk-9+181, nightly build 20180302_128) and HotS

[2018-03-06 10:49] chandrams opened #1353 "Open source Apache Tomcat 8.5.24 builds but tests fail"
Executed Tomcat 8.5.24 tests, on both Openjdk8 and Openjdk9 builds below are the observations:

**With Openjdk8 and Openjdk9 ** - tests passed
**With Openjdk8-openj9 and Openjdk9-openj9 ** - 2 tests failed
[code]

Steps to run the tomcat tests
-------------------------------
1) git clone -b tomcat git@github.com:chandrams/openjdk-tests.git
2) cd openjdk-tests/thirdparty_containers/tomcat
3) docker

[2018-03-06 11:16] myspringchen commented on #1352
A simplified test is given here:
[https://jbox.sjtu.edu.cn/l/NHfFp1](url)

[2018-03-06 13:50] lumpfish commented on #1324
I don't think we can close this issue until the matter of aligning release builds at AdoptOpenJDK with JCK test results has been discussed and agreed with the AdoptOpenJDK project.

[2018-03-06 15:29] DanHeidinga commented on #1352
Thanks @myspringchen for opening this.  I'll take look.

[2018-03-06 15:59] jdekonin opened #1355 "extended testing failure on aix"
What will be a daily pipeline job is failing to find/load a test library.

https://ci.eclipse.org/openj9/job/Test-Extended-JDK8-aix_ppc-64_cmprssptrs/1/consoleFull
[code]

It would appear, if library path is LIBPATH, is set to
[code]
libj9ben.so can be found in :
/home/u0020236/workspace/PullRequest-Sanity-JDK8-aix_ppc-64_cmprssptrs-OpenJ9/build/aix-ppc64-normal-server-release/images/j2sdk-image/j

[2018-03-06 16:20] renfeiw opened #1356 "Print timestamp before and after the execution of each test target."
To help triage test failure, we want to have the ability to track the duration of each test target.

[2018-03-06 16:27] DanHeidinga commented on #1271
@fengxue-IS Are you looking at this?

[2018-03-06 16:29] DanHeidinga commented on #1278
`ldc2w` will need to validate the Condy returns a long (`J`) or double (`D`)

[2018-03-06 16:34] DanHeidinga opened #1357 "[Nestmates] Support invokevirtual of private methods in other classes"
Prior to nestmates, `invokevirtual` of private methods only occurred in the same class and could be rewritten to `invokespecial` at ROMClass creation time.

With nestmates, other classes in the nest can `invokevirtual` private methods of their mates.  This info isn't known until resolution when we can't modify the bytecode.  Additionally, the ROMClass could be in sharedclasses and this might not b

[2018-03-06 18:32] DanHeidinga commented on #1352
OpenJ9 detects this case when run with `-Xfuture`:
[code]

Looking in `cfreader.c`, I see that OpenJ9 fixes the missing `abstract` bit on interfaces.  This likely dates back a long way to when there were classfiles generated by javac or other tools (?) that did this incorrectly.

[code]

[2018-03-06 19:18] llxia commented on #1355
From the test output, it seems we need to export LIBPATH in test.

[2018-03-06 19:35] JasonFengJ9 commented on #1353
Not able to reproduce the failure.
After step 1, step 2 command can't run. I have to `cd openjdk-tests/buildenv/docker` and run `docker build -t adoptopenjdk-tomcat-test -f Dockerfile .`. Afterwards, step 2 gives a prompt "Default Kerberos version 5 realm:", it just won't proceed regardless the input I provide.

@chandrams can you verify if the failure reproducing steps are correct?

[2018-03-06 19:36] smlambert commented on #1356
Thanks for raising this @renfeiw - this will also help us to figure out which tests run longer for the execution time anomaly that @AdamBrousseau noticed.

From Adam:

Just looking at the time to do Sanity PRs at eclipse/openj9
zLinux:
  JDK8: (boot JDK openjdk7) Compile: 1h10m Sanity: 27m
  JDK9: (boot jdk IBM8) Compile: 11m Sanity: 1h15m
pLinux:
  JDK8: (boot jdk IBM7) Compile: 19m Sanity: 30m

[2018-03-06 20:20] hrstoyanov opened #1363 "OpenJ9 in Alpine/musl Docker containers?"
Any plans to support OpenJ9 to work with Alpine/musl (without needing to install  glibc)? OpenJDK 9 already support Alpine/musl directly. Thanks.

[2018-03-06 20:32] #1352 closed

[2018-03-06 20:40] smlambert commented on #1355
Either this needs a fix this asap or disable the test for AIX platform as AIX has been added to the PR testing.

Likely disabling the test for AIX should have happened as part of the PR that added AIX to PR testing, and raise this issue, if we are keeping to the always to run green philosophy.

[2018-03-06 21:05] pshipton commented on #1355
@jdekonin please create a PR to exclude the test.

[2018-03-06 21:27] llxia commented on #1355
I should have a fix today. If not, I will exclude the test.

[2018-03-06 22:01] llxia opened #1367 "Upgrade TestNG to latest release (v6.14)"
We are using TestNG 6.10, which has a known issue - TestNG exits with a zero when there are configuration failures. When this happens, TKG cannot catch the failure. Therefore, the TAP results that is generated will not have the failure.

Link to TestNG issue:
https://github.com/cbeust/testng/issues/1517
https://groups.google.com/forum/#!msg/testng-users/WlX5H5B8fwo/m_GR0svPAQAJ

This issue is fixe

[2018-03-06 22:21] llxia commented on #1367
@TianyuZuo , could you take care of this? Thanks.

[2018-03-06 22:23] ChengJin01 commented on #1032
I eventually managed to get the whole changes work after fixing the commit issue in storing the metadata of stackmap (already debugged/verified with a JCK test case in which the stored stackmap data were successfully retrieved from the metadata area in the shared cache before verification)

The next steps mainly include:
1) add code in SH_CacheMap::printAllCacheStats() to print out stackmap-relate

[2018-03-06 22:31] hangshao0 commented on #1032
You may also want to add some testing code.

[2018-03-06 22:35] TianyuZuo commented on #1367
will update

[2018-03-06 22:42] smlambert commented on #1355
Thanks @llxia !

[2018-03-06 23:11] smlambert commented on #1367
This upgrade will address/fix #1112

[2018-03-07 00:21] smlambert commented on #206
Changing the title of this to remove these directories.  When we integrate SV testing into PR builds, we will approach it differently than this previous solution that we were using for internal testing.

While this is a prio:low item, the 'fix' is straight-forward, remove the dirs.

[2018-03-07 04:04] DanHeidinga commented on #1032
And also generate some footprint numbers to ensure there's a footprint reduction after the startup_phase is complete and the metadata has been disclaimed.

[2018-03-07 04:17] #975 closed

[2018-03-07 04:42] DanHeidinga opened #1370 "JEP 318: Epsilon: An Arbitrarily Low-Overhead Garbage Collector"
http://openjdk.java.net/jeps/318

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-03-07 07:18] ashu-mehra opened #1371 "Adjust JIT memory usage based on cgroup limits"
Portlibrary API for getting memory limit imposed by cgroup are now available in OMR and OpenJ9 has an option to enable cgroups which will cause GC to size its heap properly when -Xmx is not specified.
In addition to GC, @mpirvu suggested JIT should also be using cgroup memory limits to size its usage.

Comment from Marius:

Its interesting that `omrsysinfo_get_memory_info()` also determines total

[2018-03-07 07:33] knn-k opened #1372 "cmdline_options_tester depends on java.lang.UNIXProcess class"
getUnixPID() in test/cmdline_options_tester/src/Test.java depends on the class
 java.lang.UNIXProcess, which is missing in Java 9.
You don't need to use reflection to get the process ID in Java 9.

[2018-03-07 12:06] SueChaplain commented on #845
@pdbain-ibm @vsebe

To get this finally finished:

- So I need to remove the pre-reqs for VStudio and service pack 1.
- What is the mingw command to build the Freetype dynamic and static libraries please?

Anything else? Thanks

[2018-03-07 13:17] pshipton commented on #845
@SueChaplain VisualStudio is still the main compiler. mingw must be present because its used to compile ~3 files which are part of OpenJ9. The build instructions do not change, except to mention mingw being installed along with cygwin, as per https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V9.md
[code]

[2018-03-07 14:25] SueChaplain commented on #845
@pshipton If mingw is part of the devel set in Cygwin, does it even need a mention at all? (The wording is also a little confusing)

Can we just merge this as is and fix up after if necessary?

[2018-03-07 14:26] DanHeidinga commented on #1363
@ashu-mehra FYI (and can you share with Dinakar? I can't find his github id)

[2018-03-07 14:33] pshipton commented on #845
ymanton's comments should be addressed first, since he tried the process and had feedback. I think mingw is worth a mention, feel free to fix the wording.

[2018-03-07 14:36] DanHeidinga commented on #1370
Discussed this idea with @charliegracie and it should be relatively straightforward to create a "zero gc" policy based off `optthruput`.

Likely by extending one of the classes (TODO: remember which one) and adding a flag to determine whether or not to GC on allocation failure.

[2018-03-07 14:52] chandrams commented on #1353
@JasonFengJ9 Sorry about that, I had used angular brackets and the text between that didn't seem to appear. I have edited the steps again in the description above, below is what I did on my machine:

_git clone -b tomcat git@github.com:chandrams/openjdk-tests.git
cd openjdk-tests/thirdparty_containers/tomcat
docker build -t adoptopenjdk-tomcat-test -f dockerfile/Dockerfile .
docker run --rm -v /ho

[2018-03-07 14:55] fjeremic opened #1374 "Eliminate platform specific isX86 check in codegen agnostic Recognized Call Transformer"
As part of [1] there seems to be a x86 specific check introduced in a codegen agnostic transformation. The reason the check exists is because the Z codegen currently pattern matches the direct calls at direct call evaluator time and inlines these `toUpper` and `toLower` methods. We should switch to using the common Recognized Call Transformer infrastructure for Z and eliminate these platform agnos

[2018-03-07 14:58] llxia opened #1375 "Test cannot directly copy and run cmd that is printed in console"
Running test in build, we will get console output as following:
[code]
Ideally, we should be able to run the test by just run the cmd directly. (stated in test readme).
[code]

However, by just running the cmd directly, user will get error:
[code]

[2018-03-07 14:58] llxia commented on #1375
@sophia-guo , could you take a look at this? Thanks.

[2018-03-07 15:04] llxia commented on #1375
If there is more env variables need to set, maybe we need to update readme.

[2018-03-07 16:19] stevewallin commented on #1363
@dinogun

[2018-03-07 16:34] pdbain-ibm opened #1377 "FAILED: testAllocateMemoryInCategory value for Unknown did not change"
Regression in this build:https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-JDK8-linux_390-64_cmprssptrs/91/
Failed Tests: 2 (+2)
j9vm.test.memory.MemoryAllocator.testAllocateMemoryInAnUnknownCategory
j9vm.test.memory.MemoryAllocator.testAllocateMemoryInCategory

Exception java.lang.AssertionError

Message: value for Unknown did not change from 6,528 bytes / 32 allocations

Stacktrace:

at

[2018-03-07 17:04] mstoodle commented on #1244
@hangshao0 Ok, so it's not supported. At a minimum, we should probably do a better job reporting that to the user :) .

Is supporting nested jar files something we should also consider :) ?

[2018-03-07 17:06] llxia commented on #1377
#1365 is not fix for this issue. #1365 is fix for #1355 to fix LIBPATH on AIX.

The above failure is not test issue and it was introduced on Mar 6th. The test failed on all platforms.
https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-JDK8-linux_390-64_cmprssptrs/91/console
https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-JDK8-linux_ppc-64_cmprssptrs_le/90/console
https://ci.eclips

[2018-03-07 17:25] stevewallin commented on #1244
I think Spring fat jars are going to be a prime target for shared cache so support would be good there... but I guess I'm just not expecting a runtime exception after enabling the cache ;)

[2018-03-07 17:26] #845 closed

[2018-03-07 17:42] pshipton commented on #1244
We could investigate some way to detect a subclass of URLClassLoader which is incompatible with class sharing, and disable sharing for that subclass. It will be tricky to tell the difference between subclasses which are compatible and those which are not. The heiristic might end up disabling sharing for some subclass which is compatible.

 I had suggested in person to Hang to update the Spring cla

[2018-03-07 17:43] hangshao0 commented on #1244
We patched java.net.URLClassLoader with some shared classes APIs so that it woks with -Xshareclasses.  URLClassLoader itself does not support nested jars, I guess it is one of the reasons why we do not support nested jars.

We can consider supporting nested jars. There is no shared classes APIs that works with nested jars for the time being, but we can add them.  Then the custom class loader (that

[2018-03-07 18:18] ashu-mehra commented on #1370
@Param-S and I were discussing something similar few weeks back and that it could be useful in OpenWhisk (serverless) kind of environment where the JVM does not run long enough to exhaust heap. We won't need to worry about GC cycle at all; JVM would just handle allocation.
Any idea if that's the scenario this JEP is also targeting, or there are other use cases?

@Param-S - fyi

[2018-03-07 18:32] ashu-mehra commented on #1371
@DanHeidinga I remember that [discussion](https://github.com/eclipse/omr/pull/1502#issuecomment-322297827). It happened when we wanted only GC, and no other component, to use cgroup limits if a specific option is specified. GC would have to decide which limit, cgroup or system, to use and pass an enum to the portlibrary API.
But there was another [discussion](https://github.com/eclipse/omr/pull/14

[2018-03-07 18:44] DanHeidinga commented on #1370
@ashu-mehra Possibly provided the Whisk container has sufficient memory to live through the request(s).  My understanding of OpenWhisk is that the container is reused for subsequent requests and killed every ~15 minutes.

The use of this kind of GC in that environment would require tuning of the max heap to live through multiple requests.

[2018-03-07 20:53] llxia commented on #1355
Test is excluded on AIX.

I will deliver #1365 (fix LIBPATH) until #1377 is fixed.

[2018-03-08 04:29] DanHeidinga commented on #1265
-rc2 build being used by Adopt for testing: https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_linux/112/artifact/OpenJDK8_x64_Linux_201806031733.tar.gz

[2018-03-08 05:50] DanHeidinga opened #1381 "[0.9] Release focus areas"
The Eclipse Project Handbook suggests that as the project nears the completion of the v0.8.0 release, we should be planning the major focus areas for the next release:

https://www.eclipse.org/projects/handbook/#release

This is an opportunity to highlight the areas that will be progressing over the next ~3 months given the intended quarterly release cycle.

Committers, please add a brief descript

[2018-03-08 06:28] DanHeidinga commented on #1341
See https://github.com/AdoptOpenJDK/openjdk-build/blob/ee35cfa2535d06a3b7250beada4678744db11b37/sbin/common-functions.sh#L65

Adopt has already handled this in their scripts and we've handled it by ensuring freemarker is available in the machine config.

[2018-03-08 06:28] #1341 closed

[2018-03-08 08:27] ZhangLi1021 opened #1382 "URLClassLoder and -Dibm.cl.verbose=* problem when running using Java 9"
This is z/OS XML team.
Our product is compiled using Java8 and executed using Java 8 and Java 9.
1. URLClassLoader ucl = (URLClassLoader)ClassLoader.getSystemClassLoader(); This line is executed right using Java8. But failed on Java 9, no error information is reported.
If changing the line to be "ClassLoader ucl = ClassLoader.getSystemClassLoader();", no error occurred.
2. I use "URLClassLoader cl

[2018-03-08 10:41] dinogun commented on #1363
@hrstoyanov The short answer is yes. I am still doing some background work to enable this and eventually you should see a PR at the AdoptOpenJDK [build github](https://github.com/AdoptOpenJDK/openjdk-build) for the builds to become available. Will update this issue with the PR details once I submit. Thanks

[2018-03-08 12:14] pshipton commented on #1382
Hi Lily. Java 9 is not compatible with Java 8. This is by design and its not something that will be "fixed" in Java 9. Your application needs to be fixed instead.

1. This is a problem with your application. In Java 9 ClassLoader.getSystemClassLoader() is no longer a subclass of URLClassLoader.

2. org.apache.xalan is part of IBM Java 8, but is not included in Java 9. I intended to direct you to I

[2018-03-08 13:52] pdbain-ibm commented on #1128
I'll take a look at issue #1282.

[2018-03-08 14:24] pdbain-ibm commented on #577
I have a testcase written.  Blocked waiting for https://github.com/eclipse/openj9/pull/1247.

[2018-03-08 14:38] pdbain-ibm commented on #1377
Will investigate.

[2018-03-08 17:55] hrstoyanov commented on #1363
Thank you!

[2018-03-08 19:18] #858 closed

[2018-03-08 19:35] pdbain-ibm commented on #1377
The 1000 new allocations are being ascribed to trace:
Old javacore:
2MEMUSER       +--VM: 2,365,679,968 bytes / 2546 allocations
2MEMUSER       |  |
3MEMUSER       |  +--Classes: 9,832,096 bytes / 336 allocations
2MEMUSER       |  |
3MEMUSER       |  +--Memory Manager (GC): 2,137,525,856 bytes / 465 allocations
3MEMUSER       |  |  |
4MEMUSER       |  |  +--Java Heap: 2,095,054,848 bytes / 1 alloc

[2018-03-08 20:15] eric98zhang opened #1386 "Valhalla LWVT: Add support for Valhalla L-World value types"
Proposal: http://cr.openjdk.java.net/~acorn/LWorldValueTypesFeb13.pdf
Unofficial spec: http://cr.openjdk.java.net/~fparain/L-world/L-World-JVMS-4b.pdf

- [x] Flatten value type instance fields #1387
- [ ] Flatten value type static fields #1388
- [ ] Flatten value type arrays #1389
- [x] Add new bytecodes #1390
- [ ] Update existing bytecodes #1391
- [ ] Update verifier checks #1392
- [ ] Performan

[2018-03-08 20:17] eric98zhang opened #1387 "Valhalla LWVT: Flatten value class instance fields"
In Valhalla LWVT, value class fields with the `ACC_FLATTENABLE` field modifier can be flattened.

# Instance Field Layout

The existing field layout is as follows:

[code]

where `Doubles` refers to double slot or 64-bit fields, `Singles` refers to singles slot or 32-bit fields, and `Objects` refers to reference type fields, which may be 32 or 64-bit.

The new field layout includes flattened value

[2018-03-08 20:23] eric98zhang opened #1388 "Valhalla LWVT: Flatten value type static fields"
TODO

[2018-03-08 20:24] eric98zhang opened #1389 "Valhalla LWVT: Flatten value type arrays"
The initial implementation should flatten all arrays whose element type is a value type. Later, flattening only arrays of smaller value types should be considered.

Note also that instance fields with the `ACC_FLATTENABLE` field modifier that are value class arrays can be flattened. See #1387.

[2018-03-08 20:25] eric98zhang opened #1390 "Valhalla LWVT: Add new bytecodes defaultvalue and withfield"
Latest L-World proposal: http://cr.openjdk.java.net/~acorn/LWorldValueTypesFeb13.pdf
Latest rough draft JVMS: http://cr.openjdk.java.net/~fparain/L-world/L-World-JVMS-4b.pdf

# defaultvalue

The `defaultvalue` bytecode pushes a reference to an instance of a value class onto the stack, initialized to the class' default values.

Stack:
[code]

The initial implementation should operate in the same wa

[2018-03-08 20:26] eric98zhang opened #1391 "Valhalla LWVT: Update existing bytecodes"
Existing bytecodes must be updated to accommodate value types.

# Non-nullability
TODO

# Identity-less
- `acmp`

TODO

# Synchronization (monitorenter/monitorexit)
TODO

[2018-03-08 20:36] eric98zhang opened #1392 "Valhalla LWVT: Update verifier checks"
TODO

[2018-03-08 20:37] eric98zhang opened #1393 "Valhalla LWVT: Performance Testing"
TODO

[2018-03-08 20:38] eric98zhang opened #1394 "Valhalla LWVT: Update Java API"
TODO

`Class.isValue()`

[2018-03-08 20:51] AdamBrousseau opened #1395 "Jenkins: parse JOB_NAME to set SPEC and SDK_VERSION variables"
Currently, we have Pipeline files which are essentially copy/pasted several times per SPEC and SDK_VERSION. It has been proposed that we just have a "generic" file that takes parameters for these 2 values. The issue with using parameters is they can be changed "on-the-fly" and since we have different jobs for each SPEC and SDK_VERSION, we do not want these to change from build to build.

Since we

[2018-03-08 20:54] AdamBrousseau commented on #1395
Prototype: https://github.com/eclipse/openj9/pull/1396

[2018-03-08 20:55] AdamBrousseau commented on #1395
fyi @jdekonin @vsebe

[2018-03-08 22:29] keithc-ca commented on #378
OpenJ9 connective changes are in https://github.com/eclipse/openj9/pull/1399.

[2018-03-08 22:32] keithc-ca commented on #378
OpenJ9 jdk8 enablement is in https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/59.

[2018-03-08 22:42] keithc-ca commented on #378
OpenJ9 jdk9 enablement is in ibmruntimes/openj9-openjdk-jdk9#137.

[2018-03-08 23:55] jdekonin commented on #1341
OpenJ9s travis build pulls directly from sourceforge still.  Is this worth the simple change of pulling from https://ci.eclipse.org/openj9/userContent/freemarker.jar?

[2018-03-09 02:02] knn-k opened #1401 "OpenJ9 throws ClassFormatError for old class files"
The latest nightly build (March 8) fails to handle old Java class files, throwing ClassFormatError as shown below:
[code]
I used the ancient CaffeineMark from 1997.

March 6 nightly build does not have this problem.

[2018-03-09 02:04] knn-k commented on #1401
I guess it is caused by the change in https://github.com/eclipse/openj9/pull/1359

[2018-03-09 02:11] DanHeidinga commented on #1401
@knn-k Is there a newer version of CaffeineMark available?

[2018-03-09 02:23] knn-k commented on #1401
No, I don't have newer one.  SPECjvm98 I have fails in the same way.

[2018-03-09 02:38] JamesKingdon commented on #1401
Is there an option to disable the new check?

[2018-03-09 02:56] ZhangLi1021 commented on #1382
Hi Peter,

I forgot to tell that Java 8 I used is the one that without xml.jar. I
removed xml.jar in Java 8 myself.
Since org.apache.xalan is not part of IBM Java 9, I package it along with
other class in xml.jar in a jar called gxlxml.jar. We do not want to change
customer behavior. So We want to load gxlxml.jar dynamically in our code
but not ask customers to add gxlxml.jar in their CLASSPATH.
T

[2018-03-09 03:03] DanHeidinga commented on #1401
There's no option to disable the check.  We used to do the check only under `-Xfuture` but OpenJDK has been doing it by default for years so we matched their behaviour.

[2018-03-09 03:05] DanHeidinga commented on #1401
Does CaffieneMark run on a recent OpenJDK build?

[2018-03-09 03:28] DanHeidinga commented on #1401
Does the patch in https://github.com/eclipse/openj9/pull/1402 fix the problem for CaffeineMark / SPECjvm98?

[2018-03-09 03:32] knn-k commented on #1401
The output of javap looks like this:
[code]

[2018-03-09 04:03] knn-k commented on #1401
The change in https://github.com/eclipse/openj9/pull/1402 fixes both CaffeineMark and SPECjvm98.

[2018-03-09 05:21] ZhangLi1021 commented on #1382
Hi Lily,
 

 
To provide a proper answer I need to understand how your code gets loaded. Is the idea to modify the JVM?
 
An easy migration is to put  gxlxml.jar on the module path, which will create an automatic module which is visible to everything on the class path. You can read about modularity and automatic modules here http://openjdk.java.net/projects/jigsaw/spec/sotms/
 
java --module-path

[2018-03-09 05:27] #1401 closed

[2018-03-09 11:18] JamesKingdon commented on #1401
Thanks Dan, Peter!

[2018-03-09 13:19] pdbain-ibm opened #1403 "JCL_FVTest_SE90 null pointer exception"
===============================================
Running test JCL_FVTest_SE90_Internal_0 ...
===============================================
test with NoOptions
{ "/testdir/sdk/xi3290/bin/java"   \
	--add-exports java.base/sun.nio.cs=ALL-UNNAMED \
	--add-exports java.base/sun.security.action=ALL-UNNAMED \
	--add-exports java.desktop/com.sun.beans.finder=ALL-UNNAMED \
	--add-exports java.base/sun.ni

[2018-03-09 13:21] pdbain-ibm commented on #1403
~10% failure rate. Fails with -Xint.

[2018-03-09 14:06] #1403 closed

[2018-03-09 15:02] pdbain-ibm commented on #1377
The "unknown" category is 32-bit negative:
[DEBUG] Allocate memory in unknown category 8000000e.
OMR category codes are negative.

[2018-03-09 15:59] hangshao0 commented on #1244
This is a new feature request. @DanHeidinga , are you fine with moving forward to support nested jar ?

[2018-03-09 16:16] myspringchen opened #1404 "Should OpenJ9 throw a verifyerror for my test class?"
I was recently confused by a test class. When run on OpenJDK's HotSpot, the class triggers a verify error; when run on OpenJ9, it triggers a class format error (JVMCFRE068). I wonder whether OpenJ9 throws an incorrect error here. (Some class variable is not correctly defined, while the format should be correct)

How to reproduce: download ATest.class/BTest.class ([https://jbox.sjtu.edu.cn/l/WuCI1G

[2018-03-09 17:06] pdbain-ibm opened #1405 "OpenJ9 compilation fails with -O0"
Download as usual, then edit openj9/buildspecs/linux_x86-64_cmprssptrs.spec: add these lines
[code]
around line 103.
Run normal "configure" and "make all" steps.
The build fails with the following error:

gcc -DJAVA_SPEC_VERSION=9 -DOPENJ9_BUILD -O0 -g -fno-exceptions -fno-rtti -fno-threadsafe-statics -g -MMD -DLINUX -D_REENTRANT -D_FILE_OFFSET_BITS=64  -fPIC -DIPv6_FUNCTION_SUPPORT -DJ9HAMMER -m6

[2018-03-09 17:09] amicic commented on #1405
@gacholio came across this too, and found that specifying -Wno-unused-function (whenever you need -O0) helps.

[2018-03-09 17:27] pdbain-ibm commented on #1405
It sounds like a bad idea to put function definitions in a header file.
Could you move the functions to a .c file and put the declarations in the header?

[2018-03-09 17:28] pdbain-ibm commented on #1405
Why does this work with -O3?

[2018-03-09 17:48] amicic commented on #1405
We have a plenty of function definitions in GC header files, but they are always used, so we don't have problems. This head file however has high visibility and gets indirectly included where it's not necessary.

Putting it into .c would prevent inlining. These macros should be as fast as possible.

GAC's speculation is that high compiler optimization levels remove the definition of these function

[2018-03-09 18:06] pdbain-ibm commented on #1405
I suggest "#include"ing it not in j9.h but instead in the files which need the functions, of which I count approximately 15.  You might also be able to include it in another header that is less universally used.
FYI @DanHeidinga

[2018-03-09 18:13] amicic commented on #1405
I had something like that at one point (having some similar problems with mutual dependencies, but not knowing about this problem), and I was eventually happy to find a solution so not do modify all those files :)

But, yes, I can go back to it, if others agree.

[2018-03-09 18:33] AdamBrousseau commented on #190
Closing this as I have no plans to get Travis testing working and we will hopefully be getting x86 machines shortly

[2018-03-09 18:33] #190 closed

[2018-03-09 20:06] AdamBrousseau opened #1408 "Add Jenkins Help message "bot" for PullRequest build syntax"
The [GithubPullRequestBuilder Plugin](https://wiki.jenkins.io/display/JENKINS/GitHub+pull+request+builder+plugin) has the option to post comments to a PR. We could use this option to add a help/usage comment to a PR.

Trigger: `Jenkins help`
Output comment:
<<<
[Jenkins README](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/README.md)
Syntax: `Jenkins <build type> <level> [<platfor

[2018-03-09 20:13] pdbain-ibm commented on #1377
The issue is that the JNI native calls "malloc()", which it expected to be overridden via jvm.h.
However, the override isn't happening:
[code]

[2018-03-09 20:23] llxia opened #1409 "Add systemtests in OpenJ9 Jenkins"
We would like to reuse systemtest Jenkins files in [AdoptOpenJDK/openjdk-tests](https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/buildenv/jenkins) and add systemtests in [OpenJ9 Jenkins](https://ci.eclipse.org/openj9/).

- add systemtest in OpenJ9 Jenkins
- add it as part of PR build

[2018-03-09 20:33] pdbain-ibm commented on #1377
Probably due to this change:
https://github.ibm.com/runtimes/openj9/commit/1142acdb32f5846155839989780febf2c8c1b2f9
which removes the "include" of jvm.h.

[2018-03-10 01:45] myspringchen commented on #1404
Hi, in case that OpenJ9 correctly processes this corner case, please also let me know. :)

[2018-03-10 13:36] myspringchen commented on #1404
I just got another test case. Run [CTest.class](https://jbox.sjtu.edu.cn/l/3Jv98I) on HotSpot and OpenJ9. OpenJ9 reports JVMCFRE068, while HotSpot reports a verify error (Inconsistent stackmap frames). Is JVMCFRE068 also related with verify errors (e.g., Bad local variable type/Inconsistent stackmap frames)?

OpenJ9:
Error: LinkageError occurred while loading main class CTest
	java.lang.ClassForma

[2018-03-11 19:08] DanHeidinga commented on #1244
Steve is right - enabling the SCC shouldn't result in an exception being thrown.

There appears to be several ways to make / use nested jars:

- WAR files are nested jars.  Many (most?) appservers unpack them and run the unpacked version.  Existing SCC support is fine for this case.
- Shaded classes: Jars are combined and classes may be renamed to be a single jar.  Existing SCC support is fine.
-

[2018-03-11 20:02] JamesKingdon opened #1418 "Add support for multiple sizes of huge pages"
As far as I can see we only support a legacy view of page sizes where there is a default page size (typically 4K) and a single huge page size (typically either 4M or 1G on Linux). The size of the huge pages looks to be parsed from /proc/meminfo Hugepagesize: entry. In modern systems that can have multiple pools of hugepages of different sizes, the singular value in /proc/meminfo corresponds to the

[2018-03-11 22:34] markehammons commented on #39
I'll join. I have been very busy with other projects, and haven't had much chance to test openj9 recently but I'll try to help out still.

[2018-03-12 03:33] ZhangLi1021 commented on #1382
Hi Peter,

Yes, I want to modify JVM at runtime in order to load xml jar package
dynamically at run time. We do not want to change customer behavior to ask
them to set xml.jar in their classpath. Since our product is compiled using
Java 8, and run under java 8 and java 9. Is there a method that can be
compiled using Java 8 and run under Java 9? Thanks!

Thanks,
Lily
zXML, CSL

From:	Peter Shipton/

[2018-03-12 06:03] ashu-mehra commented on #1371
@DanHeidinga your thoughts?

[2018-03-12 10:30] JamesKingdon opened #1419 "omrvmem.c asserts with hugepages in Docker"
I noticed that when I had 1G hugepages configured in the host OS, running the JVM in Docker (in this case as part of the build) failed with an assert:

01:51:38.216 0x23c8a00 omrport.0      *   ** ASSERTION FAILED ** at ../../omr/port/linux/omrvmem.c:694: ((params->startAddress <= params->endAddress))

This is likely being caused by some sort of configuration problem with Docker (the Docker contai

[2018-03-12 12:48] DanHeidinga commented on #1371
I'm hoping to give this more this week.  I haven't had a chance to sit down and really think about the implications of this yet.

[2018-03-12 13:27] DanHeidinga commented on #1404
@pdbain-ibm Can you take a look at this?

[2018-03-12 13:59] DanHeidinga opened #1420 "OpenJ9 CI machines should be managed by Adopt's Ansible scripts"
Using the Ansible scripts from Adopt to configure the OpenJ9 build machines will ensure that everything builds for us will build at Adopt as well.

We should investigate whether we can use the existing scripts, what modifications would be needed to them, and how we could control running them regularly.

[2018-03-12 14:14] DanHeidinga commented on #1265
AdoptOpenJDK test plan: https://github.com/AdoptOpenJDK/openjdk-tests/issues/309

[2018-03-12 15:03] TianyuZuo opened #1421 "test pthreadDestructor failed on z/OS"
console output:
[code]

The test code which trigger this error is:
[code]

[2018-03-12 15:05] #1204 closed

[2018-03-12 15:11] DanHeidinga commented on #968
@TianyuZuo Any update on this?

[2018-03-12 15:30] hangshao0 commented on #1244
It was something that I was thinking last week.

But we might do even better. Instead of dealing with the nested jars in the java level, we might be able to move the code change inside to the VM. It might be possible to detect and handle nested jars in the shared classes C code so that we do not need to add shared classes Java level APIs and patch them to the custom class loader. I guess this is a

[2018-03-12 15:33] TianyuZuo commented on #968
This should be fixed by https://github.com/eclipse/openj9/pull/1169

[2018-03-12 17:54] pdbain-ibm commented on #1404
@myspringchen would you please indicate which HotSpot build you used?

I tested with the latest build from OpenJDK:
$ java -version
openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc.jenkins.openjdk)
OpenJDK 64-Bit Server VM (build 9-internal+0-adhoc.jenkins.openjdk, mixed mode)

$ java ATest
Error: LinkageError occurred while loading main class ATest
	java.lang.Cla

[2018-03-12 17:58] pdbain-ibm commented on #1404
I do, however, see that HotSpot Java 8 has different behaviour:

$ jdk1.8.0_60/jre/bin/java ATest
Error: A JNI error has occurred, please check your installation and try again
Exception in thread "main" java.lang.VerifyError: Bad local variable type
Exception Details:

[2018-03-12 19:06] #1377 closed

[2018-03-12 21:54] JasonFengJ9 commented on #1382
@ZhangLi1021 Pete is on vacation this week. I will see if anything I can help here.

Binary back compatibility is not the issue here (at least not related to any problem reported in earlier comments), i.e., class files compiled by Java 8 should be able to run with Java 9 unless incompatible API are used (again not the case now).

To help your issue better, can you provide a standalone program to s

[2018-03-12 22:14] JamesKingdon commented on #1418
Tried prototyping this, and it is not as easy as advertised! So far I haven't been able to get a shmget call to return any memory from the non-default pool.

[2018-03-13 00:39] myspringchen commented on #1404
Got the same format errors when HotSpot (build 9.0.4+11) is used, :)

It seems to be a minor defect in HotSpot for Java 8.

[2018-03-13 01:53] #1180 closed

[2018-03-13 01:55] DanHeidinga commented on #1180
@gdams FYI - we've merged change to the OpenJ9 build scripts to respect setting `CC` & `CXX`.

[2018-03-13 01:57] DanHeidinga commented on #968
Closing this.  Please reopen if the issue is seen again.

[2018-03-13 01:57] #968 closed

[2018-03-13 02:26] #1331 closed

[2018-03-13 08:17] ashu-mehra opened #1428 "Add support for specifying heap limit in terms of percentage of total memory"
OpenJDK has added options to control heap memory allocations based on percentage of total memory. Details can be found in this [bug report](https://bugs.openjdk.java.net/browse/JDK-8186315).
The newly added options (`-XX:MaxRAMPercentage -XX:MinRAMPercentage and -XX:InitialRAMPercentage`) are pretty useful for Java applications running in container. Specifying these limits as percentage of total m

[2018-03-13 08:18] ashu-mehra opened #1429 "Adjust default max heap size when running in container"
In non-container scenarios physical memory is shared between multiple applications, therefore it makes sense for JVM to use only a reasonable amount of physical memory for heap, so as to not strangle other applications.
However in container environments, the scenario is different. Prominent use case of containers is to run a single application (along with some agents). If its a JVM based applicati

[2018-03-13 10:26] JamesKingdon commented on #1419
I started hitting this outside of Docker with a prototype build that can use multiple hugepage sizes. It's possible there is a failure path that isn't being handled correctly when shmget calls fail to return memory (or possibly my very hacky prototype has just broken something and it's a complete coincidence that it falls over at the same assert)

[2018-03-13 11:06] sxa555 commented on #1180
I'll hold off on fully testing this until we've shipped the current release as I'm not going to risk changing anything even temporarily at this stage in the cycle.

[2018-03-13 11:08] sxa555 commented on #1180
@DanHeidinga Just to be clear that fix has only gone into `master`  and not the 0.8.0 branch right?

[2018-03-13 12:42] DanHeidinga commented on #1166
OpenJDK has also added a `-XX:ActiveProcessorCount=count` option that enables setting the number of processors returned by `Runtime.availableProcessors()`.  We should support the option as well.

[2018-03-13 13:10] DanHeidinga commented on #1180
Yes, this only applies to the `master` branch.  Good catch!

[2018-03-13 13:27] pdbain-ibm commented on #1405
I submit that updating the header files makes OpenJ9 more usable by the general population.
That will allow users to set UMA_DO_NOT_OPTIMIZE_CCODE=1 on the command line and not need to set other options.

[2018-03-13 13:40] andrewcraik commented on #1419
@mpirvu this looks familiar?

[2018-03-13 13:51] mpirvu commented on #1419
Yes, Harry Yu is looking at a similar issue.
@haryyu1994

[2018-03-13 14:05] pdbain-ibm commented on #1405
Adding   __attribute__ ((unused)) to the functions should fix the problem.  Testing that now.

[2018-03-13 14:31] andrewcraik commented on #1418
Agreed that they are for a special situation, but if you have an app server that is being tuned to maximize throughput where you are not concerned about footprint and want to carve a machine up in an even manner with minimal TLB issues they can help. At least allowing the JVM to be configured more flexibly will allow for more experimentation and for people who benefit from these settings to have m

[2018-03-13 14:51] pdbain-ibm commented on #1404
I believe the OpenJ9 behaviour is reasonable and correct.

The verifier is checking a classname "Ljava/lang/Object;" and throwing an error on the
semicolon. Semicolons are used for field descriptors and array classes.

[code]
@DanHeidinga would you kindly check my findings?  Thanks.

[2018-03-13 17:06] ashu-mehra commented on #1166
Quoting statement from this [bug report](https://bugs.openjdk.java.net/browse/JDK-8189497) regarding `-XX:ActiveProcessCount=count` option:

[2018-03-13 17:19] sophia-guo opened #1430 "openjdk9-openj9 jdk_lang test failures"
Test results from the openjdk regression test group run against the nightly openjdk9-openj9 build at AdoptOpenJDK: Test results: passed: 575; failed: 128; error: 6
https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/artifact/jvmtest/openjdk_regression/work/java/lang/

java/lang/ref/EarlyTimeout.java
java/lang/Appendable/Basic.java
java/lang/Class/GenericStr

[2018-03-13 17:27] sophia-guo opened #1431 "openjdk9-openj9 jdk_io test failures"
Test results from the openjdk regression test group run against the nightly openjdk9-openj9 build at AdoptOpenJDK:  Test results: passed: 342; failed: 3
https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/consoleFull
https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/artifact/jvmtest/openjdk_regression/work/java/io/

[2018-03-13 17:35] pdbain-ibm commented on #1342
Stack trace:
[code]

[2018-03-13 18:00] sophia-guo opened #1432 "openjdk9-openj9 jdk_net test failures"
Test results from the openjdk regression test group run against the nightly openjdk9-openj9 build at AdoptOpenJDK:  Test results: passed: 511; failed: 7

https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/consoleFull

https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/artifact/jvmtest/openjdk_regression/work/java/n

[2018-03-13 18:10] sophia-guo opened #1433 "openjdk9-openj9 jdk_nio test failures"
Test results from the openjdk regression test group run against the nightly openjdk9-openj9 build at AdoptOpenJDK:  Test results: passed: 337; failed: 7; error: 12

https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/consoleFull
https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/artifact/jvmtest/openjdk_regression/w

[2018-03-13 18:18] sophia-guo opened #1434 "openjdk9-openj9 jdk_util test failures"
Test results from the openjdk regression test group run against the nightly openjdk9-openj9 build at AdoptOpenJDK: Test results: Test results: passed: 771; failed: 13
https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/consoleFull

https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/artifact/jvmtest/openjdk_regressio

[2018-03-13 18:21] sophia-guo opened #1435 "openjdk9-openj9 jdk_rmi test failures"
Test results from the openjdk regression test group run against the nightly openjdk9-openj9 build at AdoptOpenJDK: Test results: Test results: passed: 78; failed: 53

https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/consoleFull
https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/artifact/jvmtest/openjdk_regression

[2018-03-13 19:14] pdbain-ibm commented on #1342
Issue occurs in Java 8. Note that Java 9 uses a different implementation of ClassLoader.getResources().
AbstractClassLoader.findResources() has a cache implementation already.

[2018-03-13 19:45] #1355 closed

[2018-03-13 20:51] mlehmannm opened #1438 "Will there be a build for a JRE only?"
Are there any plans to provide builds for a JRE, like Oracle does?

[2018-03-13 21:09] fengxue-IS commented on #1278
tested with openjdk11-condy build and modified ASM jar (it doesn't generate `ldc2_w` bytecode),
[code]
[code]

[2018-03-13 22:05] mpirvu commented on #1429
If containers are not limited in the memory they can use then having 10 containers each with a single JVM in them is no different than running 10 JVMs natively.
For a memory limited container I can see the value of increasing the default Xmx value though we have to take into the account the fact that the native JVM footprint could easily be over 100MB (classes, code cache, data cache, JIT persiste

[2018-03-14 00:24] DanHeidinga commented on #650
Now that #1425 is merged, java version on 10 should work.

[2018-03-14 00:24] #650 closed

[2018-03-14 06:09] ashu-mehra commented on #1429
I agree. We should increase the default Xmx value only if the container is started with some memory limit. If no memory limit is specified, default Xmx need not be changed.

[2018-03-14 13:37] DanHeidinga commented on #1265
See https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/63 for the PR to update to the final tag.

That can be merged once we've tagged our repos with the final tag.

[2018-03-14 14:15] andrew-m-leonard opened #1439 "Latest JDK11 builds fail due to missing String.valueOfCodePoint(int) method"
OpenJDK11 has added a new method to String that our J9 impl needs to implement.
Build from repo https://github.ibm.com/runtimes/openj9-openjdk branch openj9-jdk to reproduce ...
[code]

[2018-03-14 14:20] DanHeidinga commented on #1439
@JasonFengJ9 FYI

[2018-03-14 14:28] JasonFengJ9 commented on #1439
Looking at it.

[2018-03-14 15:33] mstoodle opened #1440 "Pull request copyright check should not assume IBM Corporation!"
The current pull request copyright check in  openj9/buildenv/jenkins/jobs/infrastructure/copyrightCheck currently assumes files should have a copyright statement from IBM, which is not appropriate (even though all the existing files were written by IBM so it's been working silently for us).

I think it's this code that should be removed: https://github.com/eclipse/openj9/blob/master/buildenv/jenki

[2018-03-14 16:42] pdbain-ibm commented on #1342
Normally getSystemResources delegates to the boot loader, which is an instance of AbstractClassLoader.
Working hypothesis is that Liberty sets its own system class loader which overrides getResources(). This would bypass the normal delegation to AbstractClassLoader.

[2018-03-14 17:11] DanHeidinga commented on #1440
@AdamBrousseau

[2018-03-14 18:37] AdamBrousseau commented on #1440
removed or made more generic?

change from
`REGEX = "\'Copyright \\(c\\) ([0-9]{4}), ${DATE_YEAR} IBM Corp. and others\'"`
to
`REGEX = "\'Copyright \\(c\\) ([0-9]{4}), ${DATE_YEAR}\'"`
?

[2018-03-14 18:40] taliamccormick commented on #1165
Disallow nestmates attribute changes during redefinition: https://github.com/eclipse/openj9/pull/1412
Update nestmates during redefinition: https://github.com/eclipse/openj9/pull/1411/
Tests for nestmate attributes during redefinition: https://github.com/eclipse/openj9/pull/1262

[2018-03-14 19:06] DanHeidinga commented on #1265
Tagged the repo for the final build as testing at Adopt has completed on x86.
Adopt has run automated JCKs on x,p,390 and manual tests on x.

Commands for the tag:
[code]

Message for the tag:
[code]

[2018-03-14 19:16] hangshao0 commented on #1304
j9vm.test.romclasscreation.NewROMCreationAfterModifyingExistingClassTest is disabled because of the missing libjvmtitest.so. This is tracked by https://github.com/eclipse/openj9/issues/252

[2018-03-14 19:58] DanHeidinga commented on #1265
Remaining steps for this release:
- [ ] Create the github release corresponding to the tagged level. The release should link to the Eclipse Release document, the release issue, and the AdoptOpenJDK download links.
- [ ] Open an Eclipse Bugzilla requesting the branch be marked protected to prevent commits after the release is complete.
- [x] Remove the `doc:releasenote` tag from items that were inc

[2018-03-14 20:08] DanHeidinga commented on #1440
The second one.  We shouldn't be enforcing an IBM Corp. copyright.

[2018-03-14 21:18] #1356 closed

[2018-03-15 05:49] knn-k opened #1447 "ARM: Failures in ContendedFieldsTests_90_1"
4 tests in ContendedFieldsTests_90_1 fail with openj9-openjdk9 for ARM as shown below:
[code]

This is because the port library function j9sysinfo_get_cache_info() returns J9PORT_ERROR_SYSINFO_NOT_SUPPORTED (-355) on ARM.

[2018-03-15 11:13] SueChaplain commented on #1268
@pshipton

The following topic in the IBM docs looks to be appropriate for this update, although the title might be changed to reflect considerations when the securitymanager is being used, so that it covers this case as well as class loaders.

https://rtpdoc01.rtp.raleigh.ibm.com:9443/kc/SSYKE2_8.0.0_test/com.ibm.java.vm.80.doc/docs/shrc_permissions.html

We'll also need to plan for content at Op

[2018-03-15 11:19] SueChaplain commented on #1268
@pshipton

I've just found your PR136952 for this change, which suggests the same topic - you can ignore the earlier comment.

[2018-03-15 11:48] SueChaplain commented on #1268
Supporting documentation at IBM updated (see PR136952). Future documentation at OpenJ9 will include this information.
API documentation update already in place at OpenJ9.

[2018-03-15 11:48] #1268 closed

[2018-03-15 12:05] JamesKingdon opened #1448 "jextract failures"
jextract fails to collect native libraries when the VM was started from a custom launcher. On a number of occasions we've been unable to collect the native libraries on a remote system following a crash. Sometimes this relates to running out of heap and can be worked around with -J-Xmx4g (can we raise the default size for the tool?). The common factor with cases where increasing the heap doesn't r

[2018-03-15 12:59] pdbain-ibm commented on #1342
Not quite...
ClassLoader.getResources() calls the bootstrap loader's getResources(), then calls findResources(resName).hasMoreElements() and checks if it is empty.  If the system loader is URLClassLoader, findResources() returns an enumeration of URLs matching the name. The enumeration uses an index to filter classpath components which can't contain the named resource.  Jar files which pass are op

[2018-03-15 13:30] #1318 closed

[2018-03-15 13:43] smlambert commented on #1447
@DanHeidinga - any intention to add support for that function on ARM?  If not, we should permanently exclude that test for ARM.

[2018-03-15 13:55] DanHeidinga commented on #1447
We'll need that function to be implemented if ARM is to be a first class platform.

I'm OK with excluding the test on ARM for now until someone is able to pick this up.

[2018-03-15 14:08] #1353 closed

[2018-03-15 14:40] pdbain-ibm commented on #1342
[gr4.txt](https://github.com/eclipse/openj9/files/1815771/gr4.txt)

Dumped the ClassLoader.getSystemResources() from a DayTrader run.  Results attached.
Over a million calls to getSystemResources(), mostly for "META-INF/services/org.apache.myfaces.config.annotation.LifecycleProviderFactory"

[2018-03-15 15:29] JamesKingdon commented on #1447
Out of curiosity, what uses that?

[2018-03-15 15:40] DanHeidinga commented on #1447
The `@Contended` annotation for laying out fields on their own cache line.

[2018-03-15 16:07] AdamBrousseau opened #1450 "Switch to using Adopt JenkinsFiles for Test"
Currently we have our own [JeknkinsFiles for Test](https://github.com/eclipse/openj9/tree/master/buildenv/jenkins/jobs/tests) purposes ([also here](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/test)).

We should be pulling the Test Jenkins files from [AdoptOpenJDK/openjdk-tests](https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/buildenv/jenkins). This will benefit

[2018-03-15 16:32] AdamBrousseau opened #1451 "Change Archived SDK tars to start at folder 'jdk' instead of 'build'"
Blocks #1450 #1409

Adopt test pipeline expects this structure.
The only reason we had this was for consistent JAVA_BIN location between PR and Test builds. Also since the OpenJDK repo has a `jdk` folder at the root.

Will need to add an if around JAVA_BIN var to set differently for PR builds until 1450 is resolved.

[2018-03-15 18:07] jdekonin commented on #1252
I believe this is a problem with the ibmruntimes/openj9-openjdk-jdk8 extensions wrt 'composition' of the final jdk/jre.  If I do a search against Adopt-OpenJ9 built binaries its found for 9 but not 8.
[code]
I think this should be raised against the [openj9-openjdk-jdk8](https://github.com/ibmruntimes/openj9-openjdk-jdk8) repo.

[2018-03-15 19:22] TianyuZuo opened #1454 "AttachAPISanity_SE90 failed intermittently on Windows"
**java -version:**
[code]
**Error Message:**
[code]

[2018-03-15 19:24] DanHeidinga commented on #1454
@pdbain-ibm Any ideas on why this failing?

[2018-03-15 19:26] TianyuZuo commented on #1454
did a search and found this may be related to #1255

[2018-03-15 20:03] pdbain-ibm commented on #1454
I'll take a look.  One possible problem is the temporary directory may not be accessible.

[2018-03-15 20:05] pdbain-ibm commented on #1404
@myspringchen does this answer your question?
@DanHeidinga any comments?

Thanks

[2018-03-15 20:26] pdbain-ibm commented on #1454
@TianyuZuo Could you post a link to the job?  Thanks

[2018-03-15 23:13] tajila opened #1457 "[NestMates] Java API spec changes"
http://cr.openjdk.java.net/~dholmes/8010319/specs/java.lang/java/lang/Class.html

`getNestMembers` and `getNestHost` can now throw security exceptions

[2018-03-15 23:13] tajila commented on #1457
@taliamccormick

[2018-03-16 00:29] myspringchen commented on #1404
@pdbain-ibm Thanks.
I reported this issue to java bug database ([JDK-8199585](https://bugs.openjdk.java.net/browse/JDK-8199585)). I guess some HotSpot versions (8uxx?) need to be fixed a little.

Regression details
==
8uxx - Pass
9 ea b136 - Pass
9 ea b137 - Fail --> Regression introduced here
9 GA - Fail
9.0.4 - Fail
10 ea b44 - Fail
11 ea b03 - Fail

This issue is introduced by JDK-8160699

[2018-03-16 01:13] #1405 closed

[2018-03-16 02:13] knn-k commented on #1447
I am OK with excluding the test on ARM for the time being.

[2018-03-16 09:45] andrew-m-leonard opened #1458 "openj9-openjdk-jdk9 fails to build"
In trying to update the JDK9 openjdk extensions project, I discovered the current level does not build
[code]

[2018-03-16 11:25] JamesKingdon commented on #1447
I wonder how we should implement that. I guess we could build a database mapping from the cpu type info in /proc/cpuinfo to cache line-length, although it would be nice if there was something more direct. We do run slap into the problem of Big.little pairs with potentially different line lengths. If the result is only used for @Contended then the conservative answer is to return the larger value,

[2018-03-16 11:26] JasonFengJ9 opened #1459 "JVM_BeforeHalt() requires implementation for Java 11"
Currently an empty implementation is added to allow raw builds proceed.

[2018-03-16 12:22] smlambert commented on #1447
If all variations of the ContendedFieldsTests test fail, then adding < platformRequirements >^os.arm< /platformRequirements > to the < test > in the playlist.xml file should exclude them for now https://github.com/eclipse/openj9/blob/master/test/Java8andUp/playlist.xml#L650  (would need to add an equivalent line for SE80 test case around L622, if this is also fails in Java8 on ARM).

[2018-03-16 12:47] DanHeidinga commented on #1447
@JamesKingdon we'd have to search the code base to find all callers and determine whether the conservative approach is sufficient or not.

As an aside, what's a `Big.little pair`?

[2018-03-16 12:50] DanHeidinga commented on #1458
@keithc-ca Can you help with this?  Its likely related to adding DDR support.

[2018-03-16 12:51] DanHeidinga commented on #1458
@andrew-m-leonard Does your build environment have `libdwarf` installed?

[2018-03-16 13:01] JamesKingdon commented on #1447
Big.little is an architectural approach designed primarily for the mobile space. Instead of all the cores on the  processor being the same some are more powerful than others - big cores and little cores. typical configurations might use 2 large and 4 small cores, or 4+4. In early implementations only one set of cores would be powered up at a time, so you'd be running on the big cores for interacti

[2018-03-16 13:11] keithc-ca commented on #1458
The package needed is `libdwarf-dev`; see https://github.com/eclipse/openj9/blob/ec7f1000f932a59076df7e88654c3c9fbceca371/buildenv/docker/jdk9/x86_64/ubuntu16/Dockerfile#L41

[2018-03-16 13:11] #1458 closed

[2018-03-16 14:28] pdbain-ibm commented on #1447
The purpose of "@contended" is to prevent false sharing of memory locations, usually in a java.util.concurrent object. I spread out the object such that the lockword and visible fields of an object are on separate cache lines.

We could use a default (conservative) value for the cache line length  in the field resolution code, since we already make conservative decisions for worst-case situations.

[2018-03-16 14:36] andrew-m-leonard commented on #1458
@keithc-ca Thanks Keith, my issue is fixed with libdwarf-dev, cheers!

[2018-03-16 14:43] DanHeidinga commented on #1438
That's a really good question @mlehmannm!  OpenJ9 is a source-only project.  Binaries are provided by the AdoptOpenJDK community.

I think this is a great idea and will raise an issue at Adopt to address it.

[2018-03-16 14:45] DanHeidinga commented on #1438
This continue this discussion at the Adopt project in https://github.com/AdoptOpenJDK/openjdk-build/issues/262

[2018-03-16 14:45] #1438 closed

[2018-03-16 14:47] DanHeidinga commented on #1421
@pdbain-ibm Can you take a look at this?

[2018-03-16 15:00] sophia-guo commented on #1430
s390 specifc:
java/lang/ClassLoader/Assert.java
java/lang/String/CaseConvertSameInstance.java

https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_s390x_linux/3/artifact/jvmtest/openjdk_regression/work/java/lang/

CaseConvertSameInstance.jtr
Assert.jtr

[2018-03-16 15:06] sophia-guo commented on #1432
390 specific:
java/net/MulticastSocket/Promiscuous.java
java/net/MulticastSocket/SetLoopbackMode.java
java/net/MulticastSocket/Test.java

https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_s390x_linux/3/artifact/jvmtest/openjdk_regression/work/java/net/MulticastSocket/

[SetLoopbackMode.jtr.txt](https://github.com/eclipse/openj9/files/1819694/SetLoopbackMode.jtr.txt)
[Tes

[2018-03-16 15:08] sophia-guo commented on #1433
390 specific:
java/nio/channels/DatagramChannel/MulticastSendReceiveTests.java
java/nio/channels/DatagramChannel/Promiscuous.java

https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_s390x_linux/3/artifact/jvmtest/openjdk_regression/work/java/nio/channels/DatagramChannel/

[Promiscuous.jtr.txt](https://github.com/eclipse/openj9/files/1819704/Promiscuous.jtr.txt)
[Multicast

[2018-03-16 15:24] smlambert commented on #1432
Also attached x64 jtr files, as we do not keep test job artifacts at AdoptOpenJDK forever, so links to builds above will eventually go stale:

[x64_testResults_jtr.zip](https://github.com/eclipse/openj9/files/1819747/x64_testResults_jtr.zip)

[2018-03-16 15:24] taliamccormick commented on #1457
I'm noticing a possible issue with the API method `isNestmateOf`. Earlier spec drafts load the nest host during class resolution. The nest host would therefore be loaded/verified prior to calling `isNestmateOf`. However, more recent spec drafts put off nest host loading until necessary for the access-check. It is therefore possible to have the situation where we attempt to call `isNestmateOf` and

[2018-03-16 15:39] pdbain-ibm commented on #1421
Will do.

[2018-03-16 15:41] pdbain-ibm commented on #1404
Thank you.  I suggest we close this issue as it seems to be a problem with OpenJDK Java 8 only.

[2018-03-16 15:46] pdbain-ibm commented on #1342
Original stack trace:
ZipFile.getEntry
JarFile.getEntry
JarFile.getJarEntry
sun/misc/URLClassPath$JarLoader.getResource(String,bool)
URLClassPath$JarLoader.getResource(String,bool)
URLClassPath#JarLoader.findResource(String,bool)
URLClassPath$1.next()
URLClassPath$1.hasMoreElements()
java/net/URLClassLoader$2$1.run()j/n/URL
java/net/URLClassLoader$2$1.run()Object
AccessController.doPrivileged
URLC

[2018-03-16 15:47] ktbriggs opened #1463 "make clean seems to be broken"
Output from `make clean` executed on a jvmxa6490 SDK:

[code]

According to @keithc-ca , this may be  an oversight related to the recent change to using m4 to generate ‘generated.c’; redirector/module.xml should say `clean_generated.c` instead of `generated.c_clean`.

I haven't been involved in any of the make-related changes and I think that my involvement would entail a fairly steep learning cur

[2018-03-16 15:50] pdbain-ibm commented on #1342
1) If the system classloader is overridden, we lose the caching in AbstractClassLoader.
2) As of Java 9, we no longer use AbstractClassLoader, so we lose caching entirely.

I am experimenting with caching the results if getSystemResource[s]() in ClassLoader.java and removing the caching from AbstractClassLoader.

[2018-03-16 15:54] DanHeidinga commented on #1404
Thanks for the analysis on this @pdbain-ibm.

OpenJ9's behaviour is correct.  There was OpenJDK changed their behaviour under https://bugs.java.com/view_bug.do?bug_id=JDK-8161224 to.  Quoting:
[code]

[2018-03-16 15:54] #1404 closed

[2018-03-16 16:02] adamfarley opened #1464 "Remove need for Direct-X-Buffer.java.template extension"
Summary: Direct-X-Buffer.java.template has an extension that calls Direct-Byte-Buffer-only variants of native memory allocation methods in Unsafe.java. This allows us to track native memory allocations used for DBBs, and to print that information in javacores and the oputput from the !nativememinfo DTFJ command. This allows debugging developers and service teams to identify the source of native me

[2018-03-16 17:32] taliamccormick commented on #1457
Similarly to above - the case where a verification error occurs when loading a class's nest host (eg. a class claims a nest host but the nest host does not verify it). I assume "the nest host of this class, or this if we cannot obtain a valid nest host" implies these cases would simply return `this` but will test against an openjdk build to confirm.

[2018-03-16 18:17] TianyuZuo opened #1468 "Update test README for temporarily exclude test in exclude file"
in the test README, it says

Same as excluding on all platforms, you add a line to latest_exclude_$(JAVA_VERSION).txt file, but with specific specs to exclude, for example:
[code]

The `but with specific specs to exclude` may not be exactly correct since the format of exclude group could be the same as the on in plyalist, a.k.a.
[code]
This will exclude this test from all aix platform.

The test R

[2018-03-16 18:18] TianyuZuo commented on #1468
FYI @llxia

[2018-03-16 19:55] #1112 closed

[2018-03-16 19:55] #1367 closed

[2018-03-16 20:20] cathyzhyi opened #1469 "Openj9 build is missing sun/reflect/misc"
I made some changes in the java/lang/Class.java file unzipped from src.zip under an openj9 build and javac java/lang/Class.java (from the same openj9 build) gives me the following error:

[code]
The Class.java from src.zip should have been preprocessed for openj9 and should have worked.

[2018-03-17 00:12] smlambert commented on #362
@TianyuZuo - now that DDR is delivered into OpenJ9, we should try re-enabling these tests.

FYI @llxia

[2018-03-17 13:46] DanHeidinga opened #1470 "[build test failure] testDisclaimMemoryEffects_GC_Test can't shrink heap within 5 minutes"
Test is failing in JDK9 builds on linux ppcle 64:
https://ci.eclipse.org/openj9/job/Test-Extended-JDK9-linux_ppc-64_cmprssptrs_le/94/console

[code]

[2018-03-17 13:46] DanHeidinga commented on #1470
Marking this as high priority as it failed in the build

[2018-03-17 14:16] DanHeidinga commented on #1469
Is the `src.zip` from a build you compiled or from an AdoptOpenJDK binary?  If it's an Adopt binary, can you provide a link to the build you used?

[2018-03-17 18:35] JamesKingdon commented on #1418
I made a working prototype where I can assign 4k, 2m and 1g pages in the same running JVM for any of heap, code cache and gc metadata, so there seem to be no fundamental problems.

[2018-03-18 00:47] JamesKingdon commented on #1418
@mpirvu I realised that assigning 2M pages to the code cache stopped working at some point. I started debugging and ended up concluding that the suggested address returned by chooseCacheStartAddress was most likely already mapped. All 12 probe points in the 24M window returned `Invalid argument`.
Is there any particular reason to expect the addresses below the jit library to be free?

[2018-03-18 16:31] JamesKingdon commented on #1418
I found some problems with the way the original code cache allocation falls back when it can't map at the preferred address. I fixed those and things are now more sane on my tests. I haven't had a chance to look at the new version from #1436 yet, but I suspect there's room to simplify the logic and make it more robust. Possibly we are carrying some complexity from the 32 bit case that is making li

[2018-03-18 18:59] tajila commented on #1278
This work depends on https://github.com/eclipse/openj9/pull/1426

[2018-03-19 03:26] ZhangLi1021 commented on #1382
Hi Jason,

Thank you! I have solved this problem. You can close this issue.

Thanks,
Lily
zXML, CSL

From:	Jason Feng <notifications@github.com>
To:	eclipse/openj9 <openj9@noreply.github.com>
Cc:	ZhangLi1021 <bjzhangl@cn.ibm.com>, Mention
            <mention@noreply.github.com>
Date:	2018-03-13 上午 05:54
Subject:	Re: [eclipse/openj9] URLClassLoder and -Dibm.cl.verbose=*
            problem when ru

[2018-03-19 12:32] #1382 closed

[2018-03-19 13:44] mpirvu commented on #1418
At least for pxa6480sr6-20180301_01 allocating large pages (2MB) for the code cache works for me:

[root@ivybridgedocker bin]# /home/mpirvu/sdks/pxa6480sr6-20180301_01/jre/bin/java -Xlp -Xjit:verbose={codeCache} -version

#CODECACHE:  The code cache repository was allocated between addresses 00007F6843A00000 and 00007F6845200000 to be near the VM/JIT modules to avoid trampolines
#CODECACHE:  alloc

[2018-03-19 13:53] TianyuZuo commented on #362
ok, will try to verify tests and reenable them if they pass.

[2018-03-19 14:11] DanHeidinga opened #1473 "Should we archive the openj9 slack?"
The Adopt community is using http://slackarchive.io to archive their slack channels and make them available on the web.  Is this something we want to be doing as well?

[2018-03-19 14:14] DanHeidinga commented on #1473
Free slacks only have so much history - this looks like a way to preserve the history.

[2018-03-19 14:20] JamesKingdon commented on #1418
Yes, it works sometimes, specifically iff the first attempt succeeds at someaddress - codecache size (roughly). But because the strict pagesize flag wasn't set, if that doesn't succeed you immediately get an buffer allocated on 4k pages, and because the returned value is !null the rest of the retry code doesn't get run. You may even have 4k pages in the output above, as it doesn't specify.

[2018-03-19 14:22] DanHeidinga commented on #1473
@SueChaplain pointed out we've had this discussion before and it stopped when we couldn't confirm who owns the archived data.

[2018-03-19 14:22] JamesKingdon commented on #1418
The fix is to set the strict pagesize flag for the first and second attempts, and to clear it for the third. However, I'm wondering what the benefit of the first attempt is, why not just start at the second?

[2018-03-19 14:26] AdamBrousseau commented on #1473
Do we know how reliable this free service is?
Seems to be some complaints on Twitter
https://twitter.com/search?q=slackarchive

[2018-03-19 14:26] DanHeidinga commented on #1473
Are there other archive tools that don't run into the data ownership issue or the reliability concerns?

[2018-03-19 14:36] pdbain-ibm commented on #1421
This is a newly ported test.
The native code is in /runtime/tests/jni/jnitest.c
It calls pthread_key_create() with a destructor routine which calls DetachCurrentThread(vm);
The z/OS documentation https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.3.0/com.ibm.zos.v2r3.bpxbd00/ptkycre.htm
says "The destructor routine **may** be called when the thread ends." (emphasis mine).

Historically, the t

[2018-03-19 14:38] mpirvu commented on #1418
The way I remember the VM/OMR code is that if the address we indicated is not available, the VM will increment it by 2MB (the size of the large page) and try again and again within the region we indicated.
Harry's code will turn off J9PORT_VMEM_ADDRESS_HINT for the first `allocateVirtualMemorySegmentInList` call which already has J9PORT_VMEM_STRICT_ADDRESS set.
The VM will try a few times to alloc

[2018-03-19 14:42] AdamBrousseau commented on #1473
[Slark](https://slarck.com/) seems to be similar to SlackArchive
https://github.com/mihaip/slack-archive appears to be a tool which exports it into a Google account

[2018-03-19 14:45] DanHeidinga commented on #1421
That makes sense @pdbain-ibm Can you put together the exclude?

[2018-03-19 14:58] DanHeidinga opened #1475 "Crash in getLinuxPPCDescription when query_auxv fails"
OpenJ9 crashes in the following code:
[code]

When `query_auxv` fails and returns either `0` or `-1`.

[2018-03-19 15:37] pdbain-ibm commented on #1421
It's already there:
[code]
@TianyuZuo do you know why the test was running?

[2018-03-19 15:56] DanHeidinga commented on #1421
@pdbain-ibm That exclude points to this issue ``

Can you update the comment with some of the rationale on why its excluded?  Hopefully there's more context in the old internal repo where this was originally excluded.

Also, if it was excluded on windows, we should likely update this exclude to remove windows as well.

[2018-03-19 16:08] pdbain-ibm commented on #1421
Will do.
BTW, it's not clear why the test was excluded on Windows, since the test runs fine on Windows now.

[2018-03-19 16:17] andrew-m-leonard opened #1478 "JDK11 build fails during "exploded-image-optimize" target trying to invoke built Java"
During the exploded-image-optimize target of the build where the built jdk Java gets called for the first time, it fails with the exception below.
It looks like src/java.base/share/native/libjava/jni_util.c is expecting an internal variable "fastEncoding" to have been set... but it isn't.
[code]

[2018-03-19 16:19] DanHeidinga commented on #1478
See https://github.com/eclipse/openj9/pull/1460

[2018-03-19 17:10] #1421 closed

[2018-03-19 17:27] DanHeidinga commented on #1324
@lumpfish Given the `0.8.0` release is complete, do you agree this can be closed?

[2018-03-19 17:36] DanHeidinga commented on #1124
Any further updates on this?  Otherwise, we can close it for now and resurrect it in the future if necessary.

[2018-03-19 17:38] DanHeidinga commented on #885
Closing this as no update in several months.

[2018-03-19 17:38] #885 closed

[2018-03-19 17:39] DanHeidinga commented on #881
Covered in the release process: https://github.com/eclipse/openj9/blob/master/doc/processes/release_process.md

[2018-03-19 17:39] #881 closed

[2018-03-19 17:39] DanHeidinga commented on #844
Dormant for a couple of months.  Closing.

[2018-03-19 17:39] #844 closed

[2018-03-19 17:40] DanHeidinga commented on #842
@JasonFengJ9 Can you give this another look?

[2018-03-19 17:41] DanHeidinga commented on #702
@LinHu2016 Is this something you're working on?

[2018-03-19 17:43] DanHeidinga commented on #676
Closing as this has been dormant for a long time and it may be addressed by the cmake story.

[2018-03-19 17:43] #676 closed

[2018-03-19 17:44] DanHeidinga commented on #667
@fjeremic Any interest in pursuing this?  Otherwise, can you close the issue for now?

[2018-03-19 17:46] DanHeidinga commented on #618
Travis builds are a sniff test for "does this compile on x86".
Testing happens through the Jenkins pull request builder plugin.  The project is looking at ways to get x86 hardware in Jenkins.

Closing this as travis builds aren't the focus right now.

[2018-03-19 17:46] #618 closed

[2018-03-19 17:53] JasonFengJ9 commented on #842
Sure, will do.

[2018-03-19 17:58] andrewcraik commented on #1124
@jdmpapin and I have continued to work on this - things are a lot more complicated than first appeared due to issues with reservable locks being locked by non-reserving paths, non-reserving paths seeing reservable locks etc. The work is continuing, but the fix is not going to be trivial. I don't think closing this is the right thing to do.

The sketch of the plan we have been considering would be

[2018-03-19 18:00] #1475 closed

[2018-03-19 18:19] andrewcraik commented on #844
@DanHeidinga this is still an issue for people doing development on the JIT - having to rebuild everything and not being able to easily build out of tree is a real pain. I don't know why someone not working on it actively means the issue should be closed... It is a problem that should be tracked and hopefully someone can find time to work on it...

[2018-03-19 18:22] JasonFengJ9 commented on #842
Oracle `Java 10 EA b46` sets `java.vendor.version = 18.3`, in addition another new system property is `java.version.date` as per http://openjdk.java.net/jeps/322.
[code]

P.S. OpenJDK `Java 10 b44` doesn't set property `java.vendor.version`.

The question is: what value will be set for `OpenJ9`?

[2018-03-19 18:29] DanHeidinga commented on #842
We should be setting the openj9 release version in that property

[2018-03-19 18:29] AdamBrousseau commented on #1451
@sophia-guo or @llxia Does the root folder always need to be `jdk` or is it `j2sdk-image` for Java 8?

[2018-03-19 18:37] DanHeidinga commented on #844
I'm sorry to hear this continues to be a pain.  Given the silence since Dec and suggested work arounds,  this seemed like a good candidate to close.

The project currently has ~244 issues opened making it very hard to find the forest for the trees.  Issues that are long dormant and not getting any attention should be closed to keep the list at a reasonable length so developers and users can reason

[2018-03-19 18:38] JasonFengJ9 commented on #842
Is the OpenJ9 release version `OPENJ9_TAG`?

[2018-03-19 18:42] andrewcraik commented on #844
Marking these issues as closed seems suboptimal - it makes it look like it was fixed or won't be fixed. We need a better way of tracking a backlog because not every issue is going to be fixed immediately, but we need to make sure they can be found so people can work on them time/interest permitting.

[2018-03-19 18:49] DanHeidinga commented on #842
I believe so, if OPENJ9_TAG is set

[2018-03-19 18:53] sophia-guo commented on #1451
Both works. It doesn't matter what the folder name is.

[2018-03-19 18:53] jdmpapin commented on #1124
The workload is a real application we test internally at IBM. It runs in an app server, and over all it's not dissimilar to DayTrader. I don't think it's typical to access a single `StringBuffer` from multiple threads, but I also don't think it's so unreasonable that it should incur a double-digit percentage slowdown.

This would require each instance to track whether lock reservation is allowed,

[2018-03-19 19:06] sxa555 commented on #1324
Can't speak for @lumpfish and his latest comment but I'm personally happy with it. I'll need to do some minor updates to the build jobs to better handle building from a branch next time but otherwise it's good. My only closing comment is that it would be preferable for the tag in the extensions repository to full match the version e.g. `jdk8u162-b12_openj9_0.8.0`

[2018-03-19 19:34] pdbain-ibm commented on #1454
I ran the sanity test manually > 10X on a machine where it failed.  What failure rate do you see?
Also, are you seeing failures in Java 8?

[2018-03-19 19:44] llxia commented on #1409
blocked by https://github.com/eclipse/openj9/issues/1451

[2018-03-19 21:04] pshipton commented on #842
java.vm.version is already set to OPENJ9_TAG, we don't need to set java.vendor.version to the same thing. If we don't have anything to set it to we can just leave it unset (or also set it to `18.3`). I assume OpenJDK leaves it unset and its only set in an Oracle build?

[2018-03-19 21:27] JasonFengJ9 commented on #842
That's correct, `OpenJDK` leaves it unset and it is only set in an `Oracle Java 10` build.
Are we going to hardcode it to `18.3`? it might need different values for `Java 10 & 11`.

[2018-03-19 21:46] pshipton commented on #842
I'm not sure we should set it to anything. I'd be happy to leave it empty for now. If needed for compatibility with Oracle builds we could set it to the appropriate value, i.e. `18.3` for Java 10 and `18.9` for Java 11, etc.

[2018-03-19 21:47] JasonFengJ9 commented on #842
All right, just set it to an empty string then.

[2018-03-19 23:25] pshipton commented on #842
In an OpenJDK build, is it set to an empty string, or undefined?

[2018-03-19 23:54] LinHu2016 commented on #702
After investigation for the case, this issue is related with arraylet and GetPrimitiveArrayCritical()/ReleasePrimitiveArrayCritical().

at the end of RT curve building phase, SPECjbb2015 try to use java.util.zip to deal with result zip file , and it could invoke GetPrimitiveArrayCritical()/ReleasePrimitiveArrayCritical() millions time( in java.util.zip.Deflater.deflateBytes implementation), base o

[2018-03-19 23:59] JasonFengJ9 commented on #842
It is undefined within an `OpenJDK` build however as the comment earlier this is a vendor specific setting.

[2018-03-20 00:06] pshipton commented on #842
I don't know any reason to define it as an empty String. If we're not going to set a value, it should be undefined similarly to OpenJDK builds.

[2018-03-20 00:48] DanHeidinga commented on #842
Agreed  - we should either set it to the OpenJ9 version or leave it undefined.

[2018-03-20 00:48] DanHeidinga commented on #842
Let's go with leaving it undefined.

[2018-03-20 00:48] #842 closed

[2018-03-20 01:38] DanHeidinga commented on #702
This would be a good thing to document in a GC-related FAQ in a new /doc/gc directory.  Once it's doc'd, we can close this item out (unless there are plans to work on this further)

[2018-03-20 09:04] ashu-mehra commented on #1429
I have got two implementations for the changes required for fixing this and #1428.
The changes are currently present in my repo for review.

In both cases, I need to update sysinfo_cgroup_get_memlimit() to return -1 if the cgroup memory limit is not specified. This will allow us to check if cgroup imposes any memory limit or not.

Plan1:
https://github.com/ashu-mehra/omr/commit/ef6d7c8cf10adb03e18

[2018-03-20 11:53] pdbain-ibm commented on #1454
Seeing the failure frequently on 9.28.161.140

[2018-03-20 12:07] fjeremic commented on #667
Yes I do still plan on doing this. We can close this issue and I can reopen it once I'm back in this area?

[2018-03-20 12:32] 0xdaryl commented on #667
I don't think dormancy should be the primary criteria for closing an issue because this is still work needed to be done or investigated.  I would suggest creating a "backlog" or "icebox" label for issues such as this that are still valid yet currently have no resources available to complete them.  Perhaps a topic for discussion at the next OpenJ9 hangout.

[2018-03-20 12:46] DanHeidinga commented on #1470
FYI @dmitripivkine Any thoughts on this?

[2018-03-20 13:07] lumpfish commented on #1324
Yes, this can now be closed.  See https://github.com/AdoptOpenJDK/JCK8/issues/9 for details of the JCK test results.

[2018-03-20 13:09] AdamBrousseau commented on #1440
Sorry I didn't use the `Fixes` keyword in my PR, can this be closed now?

[2018-03-20 13:09] JamesKingdon opened #1483 "Do we really need a new class loader for every JMX call?"
We've been working on reducing class unloading times caused by unloading massive numbers of class loaders that contain no loaded classes. Despite a 15 to 20 fold improvement we still can't meet the target pause times, and I want to make sure that we have fully explored the question of why so many empty class loaders are created in the first place.

I wasn't involved in the early part of the invest

[2018-03-20 13:29] pdbain-ibm commented on #1454
Fails consistently on that machine.  Setting  -Dcom.ibm.tools.attach.logging=yes, we get:
1521551840457 7560: 12 [Attach API initializer]: AttachHandler initialize
1521551840460 7560: 12 [Attach API initializer]: IPC Directory=C:\cygwin64\tmp\.com_ibm_tools_attach
1521551840461 7560: 12 [Attach API initializer]: createDirectoryAndSemaphore C:\cygwin64\tmp\.com_ibm_tools_attach
1521551840463 7560:

[2018-03-20 13:45] DanHeidinga commented on #667
@0xdaryl I don't want to divert from the purpose of this item but I do want to point out that we've already discussed this on OpenJ9 hangouts - the first one in fact - and came to the agreement that:

https://docs.google.com/document/d/1G0fXbVWEmM5fBCTtCbK_4TlsO16Juc9RfepLy_UzPPM/edit?usp=sharing

[2018-03-20 13:49] DanHeidinga commented on #667
Thanks @fjeremic.  I'll close this now then and it can be reopened when we're ready to look at it again.

[2018-03-20 13:52] pdbain-ibm commented on #1454
This is a machine issue.
Tried specifying a different attach director using -Dcom.ibm.tools.attach.directory=<new directory> and the attach API initialized properly.
Opened a ticket to delete C:\cygwin64\tmp\.com_ibm_tools_attach.

[2018-03-20 13:52] #1451 closed

[2018-03-20 14:13] #1440 closed

[2018-03-20 14:18] DanHeidinga commented on #1454
Is there a change we can make to the test so its more robust and cleans up after itself?

[2018-03-20 14:19] DanHeidinga commented on #1483
@JamesKingdon Can you provide some pointers to the code in question?

[2018-03-20 14:20] DanHeidinga commented on #1324
Thanks everyone for all the work that went into making `0.8.0` compliant!

[2018-03-20 14:20] #1324 closed

[2018-03-20 15:34] pdbain-ibm commented on #1454
I doubt it. Note that the Attach API already cleans up after itself in the common directory (and tries to clean artifacts left by defunct processes).

The issue here is that the malformed files were in j9build's temp directory but were owned by Administrator and had what looked like the wrong permissions.

[2018-03-20 16:01] harryyu1994 commented on #1418
@JamesKingdon Hi James, I think the first attempt we don't try the full 2GB range to save time, and if it did not succeed then we go with the second attempt which tries the full 2GB range. There was an issue before this change where `java -version` takes really long to finish because searching in the full range for default pages took too long.

[2018-03-20 17:43] cathyzhyi commented on #1469
It’s not an Adopt binary.  Its an internally built binary.

[2018-03-20 19:12] pdbain-ibm commented on #1454
temp directory cleared.  I re-ran the test and problem looks fixed.
Please close this issue.

[2018-03-20 19:26] DanHeidinga commented on #1454
Thanks Peter

[2018-03-20 19:26] #1454 closed

[2018-03-20 19:39] keithc-ca commented on #1408
This information is already available at [1]. I'd rather not clutter the discussion in a pull request with additional copies of that.

[1] https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/README.md

[2018-03-20 19:39] AdamBrousseau opened #1488 "Remove `.*\[skip\W+ci\].*` Skip build phrase from all Jenkins PR jobs"
TravisCI will look for `[skip ci]` and `[ci skip]`, by default the Jenkins PR Builder plugin uses `[skip ci]`.
If you have this in you PR, you will not get a PR build when you ask for one. Because we trigger PR builds based on PR comments, it is not necessary to have a "Skip build phrase" for Jenkins. We need to remove this from all the PR builds.

[2018-03-20 19:41] DanHeidinga commented on #1488
Note: the Jenkins PR build looks at the PR text, not the commit.  We demonstrated that with https://github.com/eclipse/openj9/pull/1424