[2017-09-13 15:47] aarongraham9 opened #2 "Build instructions link in the README.md points to the internal IBM GitHub"
The `Build instructions` link in the `README.md` points to the internal IBM GitHub: https://pages.github.ibm.com/runtimes/openj9-website/oj9_build.html The correct link to point to on the public `OpenJ9` website is https://www.eclipse.org/openj9/oj9_build.html

[2017-09-13 15:50] dorrab opened #3 "FAQ link in the README is broken"
FAQ link in the README leads to: http://www.eclipse.org/openj9/faq
the link should be http://www.eclipse.org/openj9/oj9_faq.html

[2017-09-13 15:58] #2 closed

[2017-09-13 16:08] r30shah opened #5 "Link to DockerFile on build instruction page is broken"
Link for DockerFile on [build instruction page](https://www.eclipse.org/openj9/oj9_build.html) is broken for Linux on z Systems. It points to https://github.com/eclipse/openj9/blob/master/buildenv/docker/jdk9/390_64/ubuntu16/Dockerfile but it should be https://github.com/eclipse/openj9/blob/master/buildenv/docker/jdk9/s390x/ubuntu16/Dockerfile.

[2017-09-13 16:09] #3 closed

[2017-09-13 16:23] mstoodle commented on #5
Because it has to do with the web site content, this issue should properly be opened against the web site (www.github.com/eclipse/openj9-website), and (luckily :) ) is already there: https://github.com/eclipse/openj9-website/issues/1 . I'm going to close this one, but you can track the progress at the linked issue.

Thanks for reporting the problem @r30shah !

[2017-09-13 16:23] #5 closed

[2017-09-14 13:08] mgaudet opened #11 "HOWTO Request: Managing changes across dependent repos"
Like all projects, OpenJ9 builds on the shoulders of Giants. As a potential contributor, one of my concerns is understanding how I make a contribution to OpenJ9 that might span OpenJ9, [OMR]( https://github.com/eclipse/omr), an/or the [OpenJDK extensions](https://github.com/ibmruntimes/openj9-openjdk-jdk9)

[2017-09-14 13:38] pshipton commented on #11
Please clearly state and link to the co-dependencies in the pull requests so the committers can coordinate merging the changes. Obviously they all need to be reviewed and approved before any are merged.

The automation is not yet in place to mirror from https://github.com/eclipse/omr/ to https://github.com/eclipse/openj9-omr/ so it's currently a manual process to bring OMR updates to OpenJ9.

[2017-09-14 14:00] DanHeidinga commented on #11
The openj9-omr mirror exists for a couple of reasons: one of the primary ones being to allow tagging the OMR level and OpenJ9 level consistently.

The goal is always to make changes in the upstream project (Eclipse OMR / OpenJDK) if they are outside the core OpenJ9 code base and consume them into OpenJ9 from there.

[2017-09-14 14:04] mgaudet commented on #11
So, is there any documentation about all these repos and how they tie together?

[2017-09-14 14:19] rservant opened #13 "Compilation Output is too Verbose"
The output when compiling the OpenJ9 source code is extremely verbose. The core OpenJDK project is much briefer by default. I'd recommend changing our default compilation output to more closely match that of OpenJDK.

e.g., OpenJ9 output:
[code]

vs.  OpenJDK output:
[code]

[2017-09-14 14:27] sabkrish opened #14 "Getting Hash Sum mismatch while building openj9 image"
I was running "docker build -t openj9 -f Dockerfile ." to build the dockerfile on linux x86-64. I ended up with the below error.

E: Failed to fetch http://archive.ubuntu.com/ubuntu/dists/xenial/universe/source/by-hash/SHA256/e201ab73d77c0208d5dcd4844b6215bc5e18b49d9f9b58d0fb627c47c0438ecd  Hash Sum mismatch
E: Failed to fetch http://archive.ubuntu.com/ubuntu/dists/xenial/main/binary-amd64/by-hash

[2017-09-14 15:15] mstoodle commented on #11
We're working on that. Here are some basics, hopefully this helps at least a bit :

The Extensions for OpenJDK for OpenJ9 repository (https://github.com/ibmruntimes/openj9-openjdk-jdk9) is a git mirror of the OpenJDK hg forest but does *not* include the HotSpot JVM (that's the master branch). The goal is for that master branch to bring OpenJDK commits across as they happen. The "openj9" branch in

[2017-09-14 15:19] mgaudet commented on #11
To clarify: Is the expectation going to be that contributors delivering a dependent change will open their own PR against openj9-omr on the openj9 branch? Or will committers take care of that, based on their judgement?

[2017-09-14 15:22] DanHeidinga commented on #11
Dependent changes should be opened against the Eclipse OMR project.  Committers will handle syncing the changes into the openj9-omr `master` branch and promoting them to the `openj9` branch when required.

[2017-09-14 15:34] mstoodle commented on #11
Preferably, contributors will submit to Eclipse OMR directly and those will "reach" openj9 via what will eventually be a mostly automated flow into the "openj9" branch of openj9-omr.

If there's a need to deliver something more quickly or you can convince us that there's a really good reason to do the change first in Eclipse OpenJ9, then we'll consider a PR filed against the openj9 branch of openj

[2017-09-14 21:10] rwy0717 commented on #13
When openj9 switches to cmake, that will improve the output of the compilation (with the makefile backend at least). However, it will still be relatively verbose compared to the summary that openjdk prints.  I have a feeling reducing the verbosity of cmake any further will not be a trivial task.

As an example, here's a snip of OMR's output:
[code]

[2017-09-14 21:36] smlambert opened #23 "Create Dockerfiles that allow test execution"
Basing from those Dockerfiles that build openj9 (https://github.com/eclipse/openj9/tree/master/buildenv/docker), we should have matching set to allow test execution.

There are a few additional prereqs needed for test (see https://github.com/eclipse/openj9/blob/master/test/README.md for details on testing openj9).

[2017-09-14 21:55] TianyuZuo commented on #23
The dockerfile in OpenJ9 doesn’t seem to build JDK or get a JDK, it simply setting up the environment.

Do we want to integrate the test execution into the same dockerfile or have another dockerfile to execute tests?

[2017-09-15 02:53] smlambert commented on #23
Separate dockerfiles for test, can be put in buildenv/docker/openj9test (or something similar that shadow existing ones). See the website instructions for the expected usage of the existing files, https://www.eclipse.org/openj9/oj9_build.html

[2017-09-15 03:17] DanHeidinga commented on #23
+1 to putting the test-related docker files in the buildenv/docker directory.  Does the test subdirectory need an `openj9` prefix there or is `test` sufficient?

[2017-09-15 04:24] DanHeidinga opened #24 "Enable a travis.ci-based PR build for linux x86-64"
Build a basic PR build based off the linux_x86-64 docker file.

[2017-09-15 09:52] andrew-m-leonard commented on #13
Suspect this issue needs raising in eclipse/openj9-omr

[2017-09-15 13:25] mgaudet opened #26 "Solve the 'inline' consternation"
The [definition of JITINLINE](https://github.com/eclipse/openj9/blob/6858c8b89dc152d73fd9738869f2e6e8c133cbcd/runtime/tr.source/trj9/runtime/MethodMetaData.h#L195), as well potentially other places in the code, causes consternation. Specifically, if you compile C files with newer C compilers, JITINLINE doesn't emit a symbol, causing compilation failures such as

[code]

This has been worked around

[2017-09-15 14:11] charliegracie commented on #26
If you look at [Line 200](https://github.com/eclipse/openj9/blob/6858c8b89dc152d73fd9738869f2e6e8c133cbcd/runtime/tr.source/trj9/runtime/MethodMetaData.h#L200) it fails to set JITINLINE to `inline __attribute((always_inline))` if `J9VM_GC_REALTIME` is enabled.  The `J9VM_GC_REALTIME` flag will be enabled for ALL OpenJ9 specs.  This was likely supposed to be for the RTSJ flag when it was supported.

[2017-09-15 14:13] mgaudet commented on #26
(I should add, this might be a larger epic, as we probably need a broader conversation about inlining, how to do it, what to force, and what to allow the compiler to do)

[2017-09-15 14:14] charliegracie commented on #26
Also it is fairly pointless in my opinion to mark a function as `inline` or `inline __attribute((always_inline))` in the header if the code for the function is also not in the header.  Some of the MethodMetaDeta.h functions that are marked as JITINLINE are implemented in MethodMetaDeta.c and ONLY used within MethodMetaDeta.c.  To me it would make more sense to just create them as private functions

[2017-09-15 14:19] charliegracie commented on #26
I think we definitely need to set up single define for OPENJ9_INLINE so that all components do the same thing unless the explicitly need to do something different.  Currently I see at least 3 different components defining an inline attribute and they are all subtly different.

[2017-09-15 15:15] smlambert commented on #23
buildenv/docker/test sounds good

we should update the webpage with additional information on these new dockerfiles once they are ready (as the instructions read right now, they imply that you would be able to move on the test step from using the existing dockerfiles, which is not the case).

[2017-09-15 15:27] jdekonin commented on #23
Why would we not just add the additional requirements to the existing dockerfile(s)? or at a minimum built on top of the initial dockerfile?

[2017-09-15 15:35] smlambert commented on #23
"Basing from those Dockerfiles that build openj9"

[2017-09-15 15:40] sxa555 opened #28 "Documentation references "github.ibm.com" which is not visible to the internet"
See https://github.com/eclipse/openj9/blob/master/test/README.md where the git examples are referencing github.ibm.com - should be changed to the appropriate location on github.com

[2017-09-15 16:02] DanHeidinga commented on #28
@smlambert Can someone on your team give this a once over and test out all the commands in the README.md?

I think the `git clone git@github.ibm.com:runtimes/test` reference likely needs to be changed to `git clone git@github.com:eclipse/openj9` but larger changes may be needed as the doc still refers to tests residing in another repo.

i.e.: `Currently, the tests reside in a separate repo, so you

[2017-09-15 17:56] smlambert commented on #28
Lan is taking this one (though I don't find her git id to assign to her officially yet).

[2017-09-15 18:03] mleipe commented on #23
Should we put the OpenJ9 Docker images onto Dockerhub such that the test Dockerfiles can be FROM them?

[2017-09-15 18:06] llxia commented on #28
@llxia

[2017-09-15 18:45] ashu-mehra opened #30 "cpu entitlement when hypervisor is present"
I believe there are two problems in JIT with respect to getting cpu entitlement information from hypervisor:

1) I noticed this code in `TR_CpuEntitlement::computeAndCacheCpuEntitlement`
[code]
It looks like _guestCpuEntitlement is in percentage, but _numTargetCpu is not. The condition `_numTargetCpu < _guestCpuEntitlement` is likely to be comparing incorrect values in that case.

2) Secondly, it

[2017-09-15 19:13] mpirvu commented on #30
Indeed, `_hypervisorPresent` is not initialized at all. It needs to get initialized to `TR_maybe` in `void init(J9JITConfig *jitConfig)` before calling `computeAndCacheCpuEntitlement()`

[2017-09-15 19:51] mpirvu commented on #30
Regarding the first problem, yes the code needs to be changed to read
    `if (_numTargetCpu * 100 < _guestCpuEntitlement || _guestCpuEntitlement <= 0)`

[2017-09-15 22:45] kgibm opened #32 "StackOverflow #OpenJ9 tag doesn't exist"
The [OpenJ9 landing page](https://www.eclipse.org/openj9/index.html#get-started) points to a [StackOverflow search for the OpenJ9 tag](https://stackoverflow.com/search?q=%23OpenJ9); however, when I tried to submit a question with the OpenJ9 tag, StackOverflow said that I need to have at least 1,500 reputation to create a new tag.

[2017-09-16 03:49] mstoodle commented on #32
Heh, yeah that part of the landing page is, I suppose you could say, aspirational. We should probably remove this reference until that tag can get created with some content. Sorry for the confusion!

[2017-09-16 03:57] mstoodle commented on #32
Closing now that the issue has been moved to the eclipse/openj9-website repository.

[2017-09-16 03:57] #32 closed

[2017-09-16 04:00] mstoodle commented on #14
@sabkrish can you provide a few more details about your host environment to see if we can figure out the origin of this issue?

[2017-09-16 04:54] ashu-mehra commented on #30
@mpirvu thanks for confirming. I will open a PR to fix the two issues.

[2017-09-16 10:47] gireeshpunathil opened #33 "document tr.jit options"
It would be worthwhile to document the hidden treasures of trjjit optimizations (a significant portion of j9options.cpp) for:

- Users to gain insight into the (so far) under-documented tr jit features, take advantage of it by applying fine grained compiler customizations based on the specific environment and workload.
- Community members to better acquiant with the optimizations, hack around with

[2017-09-16 21:58] mstoodle opened #36 "Supporting OS X Mac builds"
It has been pointed out that Eclipse OpenJ9 does not yet have OS X builds. Eclipse OMR provides OS X support. In this issue we can discuss what would be needed.

[2017-09-17 01:26] netroby opened #37 "would you please add an ubuntu ppa for openj9?"
would you please add an ubuntu ppa for openj9?

[2017-09-17 01:29] netroby opened #38 "would you please publish docker image on hub.docker.com?"
would you please publish docker image on hub.docker.com?
We want to try openj9 with docker

[2017-09-17 01:30] netroby commented on #23
@mleipe https://github.com/eclipse/openj9/issues/38

Yes, we shall put openj9 image on hub.docker.com

[2017-09-17 04:28] gireeshpunathil commented on #33
I propose to have this format:

**optimization name**
usage:
meaning:
(optional) code sample:
caveat / side effect / caution:
link to any literature on the underlying optimization:

I am happy to get started / involed. Please 👍 on this to join this initiative.

[2017-09-17 05:57] gireeshpunathil commented on #36
A first-cut porting outline to kick-start some conversation:
 - API library: already available as openjdk component?
 - JIT: I guess macOS X > 10 (Sierra) supports only x64 so codegen is re-used. Control modules may need to accommodate the new platform
 - GC: no port required?
 - Port library: Major code changes expected here. MacOS is fundamentally a BSD variant with POSIX compliance, so has good

[2017-09-17 09:00] markehammons opened #39 "OpenJ9 is 2 seconds slower than Azul openjdk9 when running this mandelbrot bench..."
I compared [Azul OpenJDK9](http://zulu.org/zulu-9-pre-release-downloads/) with [OpenJ9](https://adoptopenjdk.net/releases.html?variant=openjdk9-openj9) to test the performance of OpenJ9 against relatively standard OpenJDK, and found that it is around 2 seconds slower to run the bench.

[MandelbrotBench.tar.gz](https://github.com/eclipse/openj9/files/1308959/MandelbrotBench.tar.gz)

My system is Fe

[2017-09-17 09:07] markehammons opened #40 "OpenJ9 is incompatible with sbt's shell mode..."
[SBT](http://www.scala-sbt.org/) is a build tool for the scala programming language. When I try to run it in interactive mode with the command ```sbt``` using the openj9+openjdk jre obtained [here](https://adoptopenjdk.net/releases.html?variant=openjdk9-openj9), I get the following error:

[code]

My operating system is fedora 26, and the openj9 --version string is as follows:

[code]

[2017-09-17 09:12] markehammons opened #41 "OpenJ9 does not work with IntellijIDEA OSS from jetbrains"
When I try to launch IntellijIDEA with the OpenJ9 JRE, I get the following error:

[code]

IntellijIDEA can be downloaded from [here](https://www.jetbrains.com/idea/download/index.html#section=linux). I am using the community edition. My OpenJ9 --version is
[code]

[2017-09-17 09:58] markehammons opened #42 "Strange performance issues with OpenJ9 in this jmh bench..."
[I'm creating a jmh version of the benchmarks](https://github.com/markehammons/languageshootout-jmh/commit/14c98ed13916400e876fe3fd1a1f28ccee1afa76) of [The computer language benchmarks game](https://benchmarksgame.alioth.debian.org/u64q/java.html) and I decided to try it out comparing OpenJ9 to Zulu9 from azul. Zulu9's performance is around 2600ms/op on my system, but OpenJ9 shows some strange pe

[2017-09-17 12:42] 0xdaryl commented on #33
Great initiative!  You are actually suggesting two important efforts here:  the documentation of optimizations themselves, and the documentation of control knobs to allow finer grain control of those optimizations and many other aspects of the J9 JIT.

The Eclipse OMR project has begun to document optimizations where it can (it's an ongoing effort).  Many of these optimizations are leveraged direc

[2017-09-17 14:46] gireeshpunathil commented on #39
I am able to see the differene too - 23 seconds with openjdk vs 28 seconds with openj9. (my underlying system is MacOS)

Looks like perf tool is not fully functional in docker, so performance comparison at high level is going to be laborious.

@tobespc - is healthcenter functional for measuring openjdk performance?

In my understanding, the tr.jit does not compete in micro-benchmark space, instead

[2017-09-17 14:50] gireeshpunathil commented on #39
ah! what is the option to turn off dlt?

[2017-09-17 15:08] steveniemitz commented on #41
Also seeing the same root cause using finagle stats:

[code]

[2017-09-17 16:55] stevewallin commented on #38
@dinogun - one for the cloud team to cover

[2017-09-17 17:05] dinogun commented on #38
Thanks for the request and the heads-up. This is being worked on and the dockerfiles for OpenJDK with OpenJ9 will reside at https://github.com/AdoptOpenJDK/openjdk-build/tree/master/installer/docker and the images at https://hub.docker.com/u/adoptopenjdk/

[2017-09-17 18:31] steveniemitz commented on #41
I patched `privateLookupIn` with the implementation from OpenJDK (plus a tiny tweak) and things seem good now!  I'm impressed even netty+tcnative worked on the first try!

[2017-09-17 23:06] mstoodle commented on #37
Great request, thanks for opening this issue.

In fact, this repository does not build OpenJDK with OpenJ9; it is the AdoptOpenJDK organization that takes care of this kind of thing.

Sorry to do the repo-hopping thing, but would you be so kind to open your request at https://github.com/adoptopenjdk/openjdk-build ?

[2017-09-17 23:07] mstoodle commented on #38
@dinogun is there an issue at adoptopenjdk where @netroby (and others) can register their interest?

[2017-09-17 23:59] #37 closed

[2017-09-18 00:00] #38 closed

[2017-09-18 03:16] babsingh commented on #42
The performance issue originates from the GC. Massive slow downs (12x to 20x) are seen with `gencon` [default GC policy]. Performance improves with other GC policies: `balanced`, `metronome`, `optavgpause` and `optthruput`. With `metronome`, the performance issues are resolved.

**Warmup iterations with different GC policies + CPU profiles:**
[code]
[code]
[code]
[code]
[code]
**References:**

- Z

[2017-09-18 03:29] babsingh commented on #42
@markehammons Changing GC policy to `metronome` should resolve the performance issue. With `metronome`, OpenJ9 is comparable to Zulu9. The GC policy can be changed using the following JVM cmdline option: `-Xgcpolicy:metronome`.

`-Xverbosegclog` option should generate a log [`verbosegc.20170917.232806.28228.txt`]. Within this log, OpenJ9's GC policy can be verified: `<attribute name="gcPolicy" val

[2017-09-18 03:35] babsingh commented on #42
Adding GC members to investigate the perf issue with `gencon` GC policy: @dmitripivkine @amicic

fyi: @charliegracie @DanHeidinga

[2017-09-18 04:12] babsingh commented on #39
Disabling DLT doesn't help. The performance issue is resolved by using the following JVM cmdline option: `-Xjit:optLevel=scorching`.

**Zulu9 Results:**
[code]
**OpenJ9 Results:** [~2 seconds slower]
[code]
**OpenJ9 (and "-Xjit:disableDynamicLoopTransfer") Results:** [~2 seconds slower]
[code]
**OpenJ9 (and "-Xjit:optLevel=scorching") Results:** [Comparable to Zulu9]
[code]

References:
- OpenJ9 J

[2017-09-18 04:27] gireeshpunathil commented on #39
@babsingh - great result, thanks!
So what is the bottom line here: the benchmark is too tiny for tr.jit to take advantage of the runtime profiling - i.e., the leeway for learning the method characteristics is more than the total run time of the method? or something else? are there other tunables which are not method specific but can influence the compiling decisions - for example profiling frequen

[2017-09-18 04:41] gireeshpunathil commented on #40
Here is a simple recreate of the above issue - that works fine in openjdk and fails with openj9:

[code]
Please note the use of internal proprietary APIs (`sun.misc`)
/cc @DanHeidinga @pshipton

[2017-09-18 09:09] markehammons commented on #39
I reran the bench with -Xgcpolicy:metronome to make sure #42 wasn't adding to the problem and the results were a little slower, so the two issues have no overlap.

[2017-09-18 09:14] ben-walsh commented on #41
As another "data point", observed also with ElasticSearch (5.6.0) ...

[code]

[2017-09-18 09:57] gireeshpunathil commented on #41
Smallest test that recreates the issue:
[code]
[code]
/cc @DanHeidinga @pshipton

[2017-09-18 13:24] andrewcraik commented on #39
So -Xjit:optLevel=scorching is not the same as the method compiling to scorching by itself. The very-hot profiled step is a special compile which adds runtime instrumentation to the method body which is exploited by the scorching compile. When you set optLevel=scorching you bypass this and so the optLevel=scorching is very similar to optLevel=hot.

I agree that the runtime of the benchmark at arou

[2017-09-18 13:30] charliegracie commented on #42
Hi @babsingh can you provide the complete command line options you used for each test?  Also would you be able to provide verbose:gc logs for each of the runs?

The metronome GC policy is our incremental soft realtime collector so I am not that surprised that it showed better performance on this benchmark.  This benchmark seems to be measuring how long it takes for complete an operation and that G

[2017-09-18 13:35] charliegracie commented on #39
I am not that familiar with Zulu9 and it's defaults for things like the heap.  @andrewcraik is correct that the heap settings may be making the 1.5-2 second difference here.  Some verbose:gc logs would definitely identifying if some small tweaks the heap settings could improve the overall performance.

[2017-09-18 13:36] andrewcraik commented on #40
A similar message can be seen running Spark with OpenJ9 - in this case the message is not a fatal error and the application runs, but the VMs do not shutdown cleanly - they are killed by the controller app. Some interplay between the OpenJ9 signal handlers and the signal handlers being added by the Java code I suspect.

[2017-09-18 13:41] charliegracie commented on #36
- GC - minor work since most of the GC code lives in OMR and it already works on OS X. GC policies like metronome and balanced may require work since they have not been moved into OMR yet so they have not been tested on OS X.  Balanced does rely on numa to to improve pause times and object layout so this is something that would have to be investigated.  Also the compressed references option requir

[2017-09-18 13:43] mpirvu commented on #26
I completely agree with just one inline definition across all components.
Related to the the presence of JITINLINE in MethodMetaData.* I vaguely recollect that it was needed to speedup stack walking. The person that did the investigation and came up with the solution no longer works on the JIT compiler.

[2017-09-18 14:03] DanHeidinga commented on #41
Thanks for reporting this issue.  OpenJ9's Java 9 support is still a work in progress and there are a couple of MethodHandle apis that aren't complete.

@ChengJin01 has been working on these methods and will opening a PR to provide the implementation soon.

[2017-09-18 14:06] steveniemitz commented on #41
Cool, good to hear!  Is there a way to build for java 8, or is this exclusively for java 9 right now?

[2017-09-18 14:19] mstoodle commented on #39
Some thoughts; I haven't had a chance to look very deeply at it. This 2 second gap is actually on the order of 8% slower.

Note that this benchmark is mostly focused in one method (computeRow) and does a lot of stuff with doubles. It does some file output in the hot method and, because of the buffer size (8192) as well as the problem size provided (16000), that code is active in the measurement an

[2017-09-18 14:38] markehammons commented on #42
@charliegracie soft realtime shouldn't matter much for this bench. Java 8 using the default settings and not using g1gc performs well on this bench too. Further, I'd assume that throughput would be more helpful, as this bench is supposed to stress the GC with garbage and see how well the GC can clean up massive amounts of garbage without getting in the way of the executing code. So the GC stutter

[2017-09-18 14:53] markehammons commented on #42
@charliegracie: Here's a log of two warmup iterations of the gencon gc. I used default settings with the command:

```sbt "jmh:run -i 10 -wi 20 -f1 -t1 -r 15 -jvm /home/mhammons/jdk-9+181/bin/java -jvmArgs -Xloggc:gc_serial.log benchmarksgame.*"```

I've compressed the file with xz (though github doesn't like that format so I had to wrap it in a gz as well) because the original log was around 200M

[2017-09-18 15:10] pshipton commented on #41
Exclusively for Java 9 atm, but we are looking at getting the Java 8 build working for OpenJ9.

[2017-09-18 15:30] charliegracie commented on #42
Looking at the gencon log there is definitely something mis-behaving.  The nursery is definitely not expanding which is causing the JVM to spend ~90% of the total runtime in the GC.  We are going to look into why it is not expanding.

@markehammons while we are looking into things locally would you be able to do another run with `-Xmx512m -Xms512m` to see if that improves anything?

[2017-09-18 15:59] gireeshpunathil commented on #39
Did some more testing based on feedbacks from @andrewcraik and @charliegracie

openjdk seems to use 32M initial heap, so some difference there. Few GCs occurred in j9 in the run, while there was none in opnejdk case. I used the same  heap settings for j9 as well, and got `some` improvements, but not on the scale of seconds.

Looking at the verbose:gc log, I see the gc efforts were insignificant:

[2017-09-18 16:00] markehammons commented on #42
Sure!

With -Xmx512m -Xms512m I'm finally able to complete the full sampling bench with the gencon gc, as opposed to only being able to do 2-5 warmup iterations

[code]

[gc_genconXmx512Xms512.log.gz](https://github.com/eclipse/openj9/files/1311276/gc_genconXmx512Xms512.log.gz)

The performance is around openjdk's serialGC, which is unfortunate, but still sane compared to my previous results. Here

[2017-09-18 16:00] babsingh commented on #40
To resolve the IllegalArgumentException, [jvm.c:JVM_RegisterSignal](https://github.com/eclipse/openj9/blob/master/runtime/j9vm/jvm.c#L4163) needs to be implemented; it currently has a stub.

@andrewcraik `-Xrs` option may help VM shutdown cleanly for the signal handler issue.

[2017-09-18 16:13] aprenaud opened #51 "PROPOSAL: Labeling schema for managing issues"
As this project grows, and the number of open issues being tracked grows, a common labeling schema will be helpful to manage the project's issues.

Taking some of the best practices at other large open projects I propose the following
- defining an small initial set of reserved labels generally applicable to majority of issues
- defining a reserved label colour for each category of label, ie. Prio

[2017-09-18 16:14] markehammons commented on #39
@charliegracie zulu9 should be openjdk9 for the most part. I don't know for sure if there's any difference between the two other than azul built and packaged this version of openjdk9.

[2017-09-18 16:29] kartben opened #53 "ARM build?"
I'm interested in trying out OpenJ9 on e.g Raspberry Pi. It doesn't look like armv7l is supported out-of-the-box although the codebase certainly has some references to ARM arch.
What's the timeline for getting ARM support and/or can I already try and hack something together? If the latter, some initial pointers would be appreciated :-)

[2017-09-18 17:02] mgaudet commented on #51
:+1: (just a note, only committers can create or apply labels so the last para probably isn't necessary)

[2017-09-18 17:04] mgaudet opened #54 "Investigate JVM signal handling functions"
The implementations of all 3 Signal JVM functions:

* `JVM_RegisterSignal`
* `JVM_FindSignal`
* `JVM_RaiseSignal`

Are questionable. All three need to be validated and completed.

[2017-09-18 17:10] amicic commented on #42
Hi Mark, thanks for quick response and observing this issue. Indeed as Charlie suspected, it's a recent regression in Nursery expansion logic. We understand the problem now and working on a fix.

Meanwhile you can continue experimenting with manual heap sizing. The heap sizing Charlie suggested is still too small. Try even larger values, specifically with Nursery size (-Xmn option): For example -X

[2017-09-18 17:12] vijaysun-omr commented on #39
@gireeshpunathil I wonder if there is a difference in the scorching compile of the method that we got via specifying optLevel=scorching vs getting to scorching via the upgrade mechanism in the JIT without fixing optLevel=scorching.

The other possibility is that the time it takes us to get up to scorching is why we have a difference; is it possible to run the test case for longer (inside a harness

[2017-09-18 17:13] mleipe opened #55 "WIP: Build Eclipse OpenJ9 on Windows"
Much of the work to be done to get Eclipse OpenJ9 build on Windows will be done in the https://github.com/ibmruntimes/openj9-openjdk-jdk9/ repository, as the makefiles, configure scripts, etc. live there.

I'm opening this issue: 1) to provide visibility of the work that's (mostly) happening in the other repository, and 2) to cover any work that needs to be done here.

@vsebe is working on this no

[2017-09-18 17:18] mleipe commented on #55
Here's the issue in the other repo:  https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/18

[2017-09-18 17:21] markehammons commented on #42
@amicic How would I tell openj9 to direct verbose logs to a specific file? What exactly is the option for that? I'll run the tests with the parameters you've suggested

[2017-09-18 17:23] DanHeidinga commented on #54
The implementations of all 3 Signal JVM functions:
* JVM_RegisterSignal
* JVM_FindSignal
* JVM_RaiseSignal

Are questionable.  All three need to be validated and completed.  My vague understanding is that J9 relies on patches to the JCL code to work around the need for these 3 functions.

[2017-09-18 17:25] amicic commented on #42
It's -Xverbosegclog option. More about it and some others here: https://www.ibm.com/support/knowledgecenter/en/SSYKE2_8.0.0/com.ibm.java.lnx.80.doc/diag/appendixes/cmdline/commands_gc.html

[2017-09-18 17:26] babsingh commented on #39
Perf statistics that may help to better understand OpenJ9 behaviour. With `optLevel=scorching`, number of instructions reduce by 20% and cache usage increases (by 2x). It does seem like JIT is compiling/optimizing quicker with `optLevel=scorching`.

**OpenJ9 default settings:**
[code]

**OpenJ9 and -Xjit:optLevel=scorching:**
[code]

**Zulu9 default settings:**
[code]

[2017-09-18 17:29] mgaudet commented on #54
I'll re-title this as "Investigate JVM signal handling", as this came from me looking at https://github.com/eclipse/openj9/issues/40

[2017-09-18 17:33] andrewcraik commented on #39
The optLevel=scorching will cut out all recompilation activity which saves instructions and cache references. For small micro-benchmarks aggressive compilation can work well, but for large applications it will significantly affect how fast the application starts etc. I think focusing on the question asked by @vijaysun-omr can we run it longer to see what the steady-state is like without the startu

[2017-09-18 18:04] brauliobo opened #59 "Support for Truffle API"
Does OpenJ9 has support for the Truffle API?

[2017-09-18 18:11] markehammons commented on #42
Ok.

**Xmx8g Xms8g Xmn8g**
[code]
[gc_genconXmx8gXms8gXmn6g.log.gz](https://github.com/eclipse/openj9/files/1311629/gc_genconXmx8gXms8gXmn6g.log.gz)

**Xmx4g Xms4g Xmn3g** - *OpenJDK standard Xmx for my system*
[code]
[gc_genconXmx4gXms4gXmn3g.log.gz](https://github.com/eclipse/openj9/files/1311654/gc_genconXmx4gXms4gXmn3g.log.gz)

**Xmx2g Xms2g Xmn1536m**
[code]
[gc_genconXmx2gXms2gXmn1536m.log.g

[2017-09-18 18:14] mstoodle commented on #39
One thing I noticed in my docker container is that the very-hot-with-profiling compile is the last one, which isn't exactly ideal. If you run with `java -Xjit:quickProfile` I saw a 3 second improvement (not that I'm recommending people use that option as a "right" approach...just trying to diagnose the issue).

[2017-09-18 18:14] pshipton commented on #53
We build an ARM VM from the OpenJ9 code base for Java 8. I haven't heard a build has been tried for Java 9, but it should work. The VM works with -Xint (interpreted only - no jit) but isn't yet supported by the JIT.

You are welcome to try building it, I expect most or all of the changes required to build it are in the build files found in https://github.com/ibmruntimes/openj9-openjdk-jdk9

i.e. s

[2017-09-18 18:26] babsingh commented on #40
Duplicate of Issue #54

[2017-09-18 18:45] markehammons commented on #42
I'm making benches of the same for openjdk8 with default aside from the Xmx/Xms/Xmn options. They should be done soon.

[2017-09-18 18:56] mstoodle commented on #39
I ran for 64000, which allowed me to collect a full log for the benchmark (including very hot with profiling and scorching compiles). The log is here, if anyone wants to peruse (tar.gz file):
https://app.box.com/v/jitLog-ComputeRow

[2017-09-18 19:29] amicic commented on #42
This workload is rather memory hungry. And it's very generational (most of the objects die young and very few get promoted to Tenure area). Even with 6GB Nursery, there is 12% GC over head. On your machine with (16GB physical memory), you can probably squeeze another 6-7% in throughput by running with 14-15G total heap and giving ~95% of it to Nursery.

However, out of box throughput (no heap size

[2017-09-18 19:41] babsingh commented on #39
@andrewcraik in regards to --> "put the Mandelbrot calculation in a loop and calculate n Mandelbrots to the same level one after the other". gathered some perf statistics. perf issue doesn't resolve in steady state.

**OpenJ9 default setting:**
[code]
**Zulu9 default setting:**
[code]
**OpenJ9 + -Xjit:optLevel=scorching:**
[code]
**OpenJ9 + -Xjit:quickProfile:**
[code]

[2017-09-18 19:42] babsingh commented on #39
@andrewcraik Also tried this --> increased `input_size` from 16000 to 80000 (5x). 25x increase in elapsed time: from ~25s to ~600s. ~5-10% regression is still observed between default OpenJ9 and Zulu9. Effects of start/rampup should have disappeared after increasing benchmark's run-time. The perf issue still exists in steady state. The performance issue is resolved with `-Xjit:quickProfile` and `-

[2017-09-18 19:47] DanHeidinga opened #62 "Enable travis.ci builds"
Now that #25 has been merged, we need to enable travis ci on this repo.  I've opened https://bugs.eclipse.org/bugs/show_bug.cgi?id=522449 with the Eclipse foundation to enable the travis.ci hook on this repo.

[2017-09-18 19:48] andrewcraik commented on #39
hmm that is an interesting finding - seems like there is opportunity for further compiles at higher opt levels or for further optimization some how. Getting a verbose compilation log with and without quickProfile would show the methods getting to higher opt levels (the option would be to add verbose={comp*,sampling},vlog=/path/to/log/file to the JIT command line). There must be a subset of methods

[2017-09-18 19:53] markehammons commented on #42
That's fine. ```gencon``` seems like an interesting GC. It's outperforming G1GC at 512/512/384 so it seems to run better with less memory usage than a lot of the openjdk garbage collectors. The JIT for openJ9 seems to perform better than openjdk in some of my microbenchmarks too. I'm looking forward to it working better with more software so I can test it more with real world software...

[2017-09-18 19:57] DanHeidinga commented on #51
Other all I like this approach.  Thanks for proposing this @aprenaud!

A couple of clarifying questions:

High, Medium, Low?  Or something more?

These are in the default set of labels.

jdk8, jdk9, jdk18.3, jdk18.9, etc?

What do you suggest for this?  I'm struggling to come up with an easy to apply set of size labels.

FYI @pshipton @mstoodle @jonathanw

[2017-09-18 20:24] babsingh commented on #39
@andrewcraik Ran with `input_size == 48000`. JIT verbose logs:
i) without `quickProfile` [jitlog_no_quickProfile.20170918.161140.24341.txt](https://github.com/eclipse/openj9/files/1312109/jitlog_no_quickProfile.20170918.161140.24341.txt)
ii) with `quickProfile` [jitlog_quickProfile.20170918.161529.24513.txt](https://github.com/eclipse/openj9/files/1312110/jitlog_quickProfile.20170918.161529.24513.

[2017-09-18 20:35] aprenaud commented on #51
I'll let you know what i was thinking, but certainly would like to hear other opinions.

Priority : assuming the project goes with a big red super urgent flag, then High, medium and Low would suffice for priority values.  I've seldom seen value in tracking at any further resolution.

Type : I know the project has those but they are different colours currently .  If you make them of the same colour

[2017-09-18 20:40] vijaysun-omr commented on #39
The instructions per cycle is markedly higher for us than for Zulu9. I wonder if there is a better choice of X86 instruction to do what the core loop that is almost all double arithmetic is doing; i.e. maybe one or more operations in the loop can be fused. @0xdaryl and @andrewcraik thoughts ? You can see the core loop from the log attached in an earlier comment.

[2017-09-18 20:48] mstoodle commented on #59
Well, we haven't tried it. I suppose Truffle might work, since I think it's "just" Java code (no disrespect intended by that; I just mean that OpenJ9 should be able to run pure Java code :) ).

But my guess is that Truffle on OpenJ9 probably won't perform well because OpenJ9 doesn't implement the (optional :) ) JVMCI specification written for Graal, Hotspot, and, I think, the Maxime VM. That means

[2017-09-18 20:56] keithc-ca opened #63 "Pull request format check"
We will have a mix of people using hosts where LF is the default line-end and Windows where CR/LF is common.

I suggest that we ought to strive for consistency in the repository. After agreeing on the appropriate line-ends for various file types, perhaps we could add a pull-request check that verifies that proposed changes use the expected line-ends?

I haven't found a way in the web UI to tell wh

[2017-09-18 21:01] markehammons commented on #39
I don't know if it will be helpful to you guys at this point, but I added this bench (and a parallel version) to my project [here](https://github.com/markehammons/languageshootout-jmh).

It uses JMH, so you can launch this specific bench with ```sbt "jmh:run -i 10 -t numberOfThreads -f1 -jvm /home/mhammons/jdk-9+181/bin/java  benchmarksgame.mandelbrot2"```. I'm still running an initial run, but I'

[2017-09-18 21:17] mpirvu commented on #39
Looking at the java code the vast majority of the time should be spent in this method: `private void computeRow(int y)`. It does reach scorching, so the performance is dictated by how fast it can go to scorching and by the quality of the generated code.
Looking at the vlogs posted by babsingh for the non-quickprofile we see
 (scorching) Compiling mandelbrot$Mandelbrot.computeRow(I)V  OrdinaryMetho

[2017-09-18 21:18] mstoodle commented on #51
+1 for me, but I think Size as proposed is going to be hard to calibrate. I would prefer we keep things simple (the proposal already has quite a few dimensions) and then we can expand the set of labels if we find it too hard to understand the set of things we have. I would leave "size" out of the initial set, personally.

We can assign colours ourselves, though someone with a better colour sense t

[2017-09-18 21:22] mstoodle commented on #42
@markehammons I don't suppose you'd consider updating your comments in your reddit post :) ?

[2017-09-18 21:23] andrewcraik commented on #39
so looking at the core loop (which in the attached log was loop 5 with frequency 10000) there is a pattern of repeated double width adds, subs, and multiplies. I can see one obvious silliness that is happening. Consider the following from valuation of tree root n94n:
 [0x7f9b1e0eb670]	subsd	FPR_1713, FPR_1712
 [0x7f9b1e0eb710]	addsd	FPR_1713, FPR_1716
 [0x7f9b1e0eb840]	movsd	FPR_1719, FPR_1713 **<

[2017-09-18 21:28] andrewcraik commented on #39
I would add that the VFMADD VFMADDSUB are three operand instructions so getting 3 operand support into the code gen would be the first step on how to exploit these operations.

[2017-09-18 21:29] AdamBrousseau opened #64 "Pull Request Automatic Copyright Check"
Setup a Jenkins build at the [Eclipse OpenJ9 JIPP](https://ci.eclipse.org/openj9) instance to automatically run copyright checks against PRs.
The check should ensure the following about modified or added files:
- The file contains a copyright header if it is needed (based on file extension?).
- The Copyright header matches the template in [CONTRIBUTING.md](https://github.com/eclipse/openj9/blob/ma

[2017-09-18 21:35] brauliobo commented on #59
yes, that is what I expected to hear. Hopefully JVMCI will be implemented sooner than later :)

[2017-09-18 21:35] #59 closed

[2017-09-18 21:39] TianyuZuo commented on #23
Taking a second look at the Dockfiles in `openj9/buildenv/docker/jdk9/<platform>/ubuntu16`, I found that most of the executable dependencies have already been included in the Dockerfiles, only `ant` and `ant-contrib` are missing for test purpose.

After trying the whole building and testing process within Docker container, I think we need two separate tasks to solve two different Docker-related us

[2017-09-18 21:42] jabrena opened #66 "Support for ARMv5 Linux - Headless EABI, SoftFP ABI"
Hi,

I would like to make the proposal for Java 9 with support of ARMv5 - Headless EABI, SoftFP ABI.

Currently, Oracle only supports Java 8, for this version:
http://www.oracle.com/technetwork/java/embedded/embedded-se/downloads/index.html

But it is important to have the JVM for this version of ARM. Why?
Exist an important `LEGO Mindstorms` community and it is necessary to add support for them.

[2017-09-18 21:50] andrewcraik commented on #39
I may have to correct my movsd comments - it looks like there are future uses so they may be valid.

[2017-09-18 22:54] JamesKingdon commented on #53
To add some context to the above, we've had JIT working on ARM in previous releases of the JVM, but during the release of OpenJ9 we haven't been able to prioritise this platform. At this point OpenJ9 on ARM is mostly untested so some bugs are to be expected, and we also know that there are opportunities for improving the performance.

We hope to work through these issues as resources permit, and w

[2017-09-18 22:56] markehammons commented on #42
In what way exactly? Do you want me to clarify it was a regression in the nursery gen of the gencon gc for openj9 and not a problem endemic to jmh benchmarking on openj9?

[2017-09-19 01:14] vijaysun-omr commented on #39
I'm thinking

"At a higher level this loop is counted and has an early termination condition with the floating point test. The loop is unrolled as uncounted but could be unrolled as counted since we know it will run either 50 times or until the floating point condition is satisfied. The unroller could do a better job moving the induction variable updates out of the way, but they are probably small

[2017-09-19 01:44] gireeshpunathil commented on #39
let me see if I can:
 - get the generated code with force `scorching` and natural graduation
 - get the generated code for `zulu`

[2017-09-19 01:53] vijaysun-omr commented on #39
I do not want us to look at zulu9 generated code. We should pursue the above lead regarding unrolling instead.

[2017-09-19 01:57] gireeshpunathil commented on #40
@babsingh - I don't think so. This is the OP, and #54 is its derivative / follow-up.

[2017-09-19 02:14] gireeshpunathil commented on #39
@vijaysun-omr, thanks. My rational was that if we can compare at higher levels, we can compare at any levels in pursuit of getting into the bottom of the issue. But sure, I will follow your judgement.

[2017-09-19 02:40] mstoodle commented on #42
I should have read your most recent comment in light of the data you posted before that; I interpreted it too broadly. My apologies.

[2017-09-19 05:43] gireeshpunathil commented on #51
+1 for the overall approach.

**Color coding**: Grouping different labels with same color and overloading a label with key and value can be confusing. Why can't we use unique color which in itself highlights the work item's attributes?

**Priority**: Classifying work items as high priority may cause an ambigeous effect on the rest of the items. Why can't we define labels that actually represent th

[2017-09-19 08:59] davew16 opened #67 "add vim to the openj9 docker image"
Most linux users will expect vi to be available everywhere, so can vim be added to the Dockerfile for the docker image used for building openj9 please?

[2017-09-19 09:24] markehammons commented on #42
It's no problem. I need to work on my own company's projects for now but I'll probably get to that on the weekend.

[2017-09-19 13:17] aprenaud commented on #51
key and value: I'm not sure how additional information can be confusing as long as its consistent.  Without the key information, new developers would have to refer to a document in some cases to decipher label purpose.  However, I don't know that's a problem per se so I'm not going argue strongly for it.  I can appreciate the aesthetics of removing the key and just listing the value.

Priority - H

[2017-09-19 13:25] DanHeidinga commented on #62
The Eclipse foundation has actioned the bug (thanks!) and travis.ci builds are starting to appear on pull requests.  Marking this as complete.

[2017-09-19 13:25] #62 closed

[2017-09-19 13:28] mgaudet commented on #51
While I am not personally decided as to whether we should deploy this for OpenJ9, there are some extra states that can be useful: _Ready For Review_, _Ready to Merge_, _Pending Dependency_.

[2017-09-19 14:20] gireeshpunathil commented on #51
@aprenaud - thanks, I see your point on priority.

 - `WIP` (work in progress, not-ready-for-review). Currently this is applied on the PR title itself, and removed when ready for review
 - Paused (due to un-anticipated dependency that occurred in the middle of progress)
 - Backport pending (if we wish to mark it here)

[2017-09-19 15:00] DanHeidinga commented on #51
"Keep it simple" should be a guiding principle for label design.  I'm operating under the assumption we can always add more labels later if they become necessary so I'd like to keep the initial set as small as possibleI.

@gireeshpunathil Using "WIP" in the PR title is a well known technique for marking work in progress so I'd prefer to stick with what users already know.  Contributors can't add l

[2017-09-19 15:07] charliegracie commented on #51
I would propose comp:gc as another label but other than that it seems like a great start @DanHeidinga

[2017-09-19 15:22] DanHeidinga commented on #51
Thanks @charliegracie.  I knew I missing something important... =)

[2017-09-19 15:38] gireeshpunathil commented on #51
how about the `type` from @aprenaud 's list? I guess that is important too - we need to classify the content based on the nature (discussion vs. question etc.) as well as impact (breaking changes, changing default, doc update needed etc. for PRs)

[2017-09-19 15:45] DanHeidinga commented on #51
@gireeshpunathil The proposed types are covered by github's default set of labels.

[2017-09-19 16:48] gireeshpunathil commented on #51
@DanHeidinga - ok thanks, so that completes the list I guess.

[2017-09-19 16:53] DanHeidinga commented on #51
Labels have been created.  Closing this.

[2017-09-19 17:03] mleipe commented on #51
+1

[2017-09-19 18:19] r30shah opened #76 "Discussion on the JIT helpers"
Recently I was making changes in to CHelper linkage to call helperCFloatRemainderFloat from JIT (#106) to get rid of unneeded assembly glue from Math.m4 to call helper.
While making changes, I realized that the linkage is really specific to the JIT helpers in cnathelp.cpp and needed extra patches to make linkage compatible to call any arbitrary C functions.

- One issue is order of arguments, A ca

[2017-09-19 18:20] r30shah commented on #76
@fjeremic @dvictor @Graham-Chapman Please share your thought regarding to this.
FYI @0xdaryl

[2017-09-19 20:48] fjeremic commented on #76
@dvictor does the x86 codegen share the CHelper linkage with the vanilla C linkage? Do you have the ability to call arbitrary C functions from the x86 codegen? I don't quite understand why CHelper functions are at all different than any other normal C functions. They don't seem to be really, it's just that the parameters are in reverse order. This is likely because the old `TR_Helper` linkage sent

[2017-09-19 20:57] dvictor commented on #76
Looks like somebody tagged the wrong Victor here :)
I'm not in this project.

On Sep 19, 2017 15:49, "Filip Jeremic" <notifications@github.com> wrote:

[2017-09-19 21:13] r30shah commented on #76
Apologies for that, got mixed up with username, Attn @0dvictor

[2017-09-19 21:23] 0dvictor commented on #76
The current X86 CHelper linkage does not handle vanilla C linkage; although the only different is the arguments order.
A pending Pull Request is to add to full support vanilla C linkage by taking a flag to note arguments orders. The PR will be created once tests cleared.

[2017-09-19 21:23] pshipton commented on #64
There aren't many files without copyrights. I suggest we start by checking all files and let the committers decide when to ignore a failed check.

[2017-09-19 21:27] 0dvictor commented on #76
I believe TR_CHelper was designed to be as close as TR_Helper as possible, so that the arguments order is same as TR_Helper, which is the opposite of C linkage. I personally think it is the right time to polish TR_CHelper further now, making it the true C linkage.

[2017-09-19 22:26] ymanton commented on #76
If you want to make a call to a plain C function why don't you use the system linkage from OMR instead of making CHelper linkage do the same thing?

[2017-09-19 22:34] 0dvictor commented on #76
On X86, System linkage switches stack when calling C function, while CHelper linkage calls C function directly on Java Stack. Such stack switch contributes to quite a portion of performance degradation; and hence we prefer to use CHelper linkage for functions that can be called on Java stack.

[2017-09-19 22:40] TianyuZuo commented on #23
For Scenario2, it seems we have to separate two different Dockerfile and use two different Docker images to build OpenJ9 and run tests.

Test Dockerfile and build Dockerfile cannot be combined due to:
- executable dependencies conflicts
- existing of `build-essential` in OS will fail the OpenJ9 compilation
- lack of `build-essential` will fail getting `perl` module

[2017-09-19 23:24] gacholio commented on #76
Anything in the JIT private linkage or helper linkage was decided years ago - there's no reason I know of why it should be differently ordered.

[2017-09-20 02:52] DanHeidinga commented on #28
@llxia's changes address this issue.  Closing now

[2017-09-20 02:52] #28 closed

[2017-09-20 07:08] simmel opened #82 "Docs for "Configuring your Runtime Environment" is 404"
Might be the wrong place to report it but I found no other.

On the "Read the docs"-page, https://www.ibm.com/support/knowledgecenter/SSYKE2_9.0.0/welcome/welcome_javasdk_version.html, when you press "Configuring your Runtime Environment" you get the message:
The requested resource is not found: /support/knowledgecenter/SSYKE2_9.0.0/com.ibm.java.multiplatform.90.doc/user/configuring.html

[2017-09-20 08:17] Bluevisitor commented on #82
I see that too. No worries, I've contacted the guys who handle those docs and they're on the case.

Expect another update when this issue is resolved.

[2017-09-20 11:11] enasser commented on #40
I have worked on couple of such issues in the past reported by open sources projects like Spark, Hive mostly while running java as a background process.

This is basically a difference behavior between J9 and Hotspot while handling a signal which is already registered with JVM.

Both J9 and Hotspot  did not register the signal if the same signal is already registered with JVM. The difference is in

[2017-09-20 11:11] mgaudet commented on #23
`build-essential` is a meta package, that describes a whole bunch of dependencies -- we could eliminate it, and expand the dependencies explicitly to support build+test, though, I'm curious about executable-dependencies conflicts: What conflicts do you see?

[2017-09-20 12:29] pshipton commented on #40
Basically it happens on OpenJ9 because JVM_RegisterSignal() needs to be implemented. atm it always returns -1 which causes Signal.handle() to throw IllegalArgumentException.

[2017-09-20 13:01] DanGritter opened #84 "Excessive use of j9file_lastmod from shared class cache"
So what I believe is happening is there are two pairs of places that can trigger a notifyClasspathEntryStateChange through j9shr_hookZipLoadEvent.  One pair is through the JVM_ZipHook out of Java_java_util_zip_ZipFile_close / Java_java_util_zip_ZipFile_open (handle zip file access from Java), and the other pair is from the J9HOOK_VM_ZIP_LOAD event registered in shrinit.cpp, which receives notifica

[2017-09-20 13:25] Scott-Young-6746 opened #85 "Test Output unclear"
After following the instructions in test/README for testing a built JDK, the test output does not show:
* Number of completed tests
* Number of passing tests
* Number of failing tests

Instead, the final output after the verbose running output is: **`All Tests Completed`** which does not clearly indicate if all tests passed or not.

[2017-09-20 13:41] SueChaplain commented on #82
@simmel Hi Simon. We are planning on providing a better view of the docs at that site that supports both IBM Java 9 SDK beta customers as well as people who are building OpenJDK with an OpenJ9 VM. The welcome page and links will change and we'll be separating out a VM reference that reflects the code at OpenJ9.  Watch this space!

In the meantime, I think this is the topic that will help you with

[2017-09-20 13:56] FireBurn opened #87 "Build issue due to missing openj9_version_info.h"
Error:

gmake[5]: Entering directory `/apps/was/openj9-openjdk-jdk9/build/linux-x86_64-normal-server-release/vm/util'
cc -DJAVA_SPEC_VERSION=9 -O3 -fno-strict-aliasing -g -MMD -DLINUX -D_REENTRANT -D_FILE_OFFSET_BITS=64  -fPIC  -DIPv6_FUNCTION_SUPPORT -DJ9HAMMER -m64 -Wimplicit -Wreturn-type -Werror -I. -I../include -I../oti -I../gc_include -I/apps/was/openj9-openjdk-jdk9/build/linux-x86_64-normal

[2017-09-20 14:08] DanHeidinga commented on #87
See also https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/11

[2017-09-20 14:22] simmel commented on #82
Thank you for the detailed update Sue!

On Wed, 2017-09-20 at 13:41:30 +0000, SueChaplain wrote:

[2017-09-20 14:41] smlambert commented on #85
Can I get you to give a bit more information about what instructions you followed?  Once you set your environment variables and setup test dependencies, did you run "make test", or some combination of sub-targets?

Also, can you post to this issue the last 20-30 lines of test output that you are seeing please?

[2017-09-20 14:41] kartben commented on #53
so I don't seem to be terribly successful yet. I have very limited JVM knowledge so maybe the following will sound familiar to people?

[code]

[code]

[2017-09-20 14:48] Scott-Young-6746 commented on #85
I ran the rull test suite with the following instructions starting from the top level directory after the project was compiled:
* **`cd openj9/test/TestConfig`**
* **`export JAVA_BIN=~/openj9-openjdk-jdk9/build/linux-x86_64-normal-server-release/images/jdk/bin`**
* **`export SPEC=linux_x86-64`**
* **`make -f run_configure.mk`**
* **`make getdependency`**
* **`make test`**

[2017-09-20 14:49] mgaudet commented on #53
Try swapping `-version` and `-Xint`

[code]

note "JIT disabled" on the second one above.

[2017-09-20 14:51] TianyuZuo commented on #23
Take this Dockerfile as an example:
[code]

Error messages are different.

1.
Without `build-essential`, the process of installing perl modules will fail with message:
[code]
 ---> 3eb042f87d55
Removing intermediate container 46abb3b8ae0a
Step 3/8 : RUN ln -s g++ /usr/bin/c++   && ln -s g++-4.8 /usr/bin/g++   && ln -s gcc /usr/bin/cc   && ln -s gcc-4.8 /usr/bin/gcc
 ---> Running in d8d24b84a82f
ln

[2017-09-20 15:14] kartben commented on #53
Right, my apologies. I didn't realize that this time around I had mixed up the args. I had already realized that it didn't work even with JIT properly disabled (didn't pay attention this time) it still fails. See below, without JIT this time, and thanks for the super fast response! 😄

Note: I've switched to a zero variant as I thought this might minimize the lower the chances of running into incom

[2017-09-20 15:23] kartben commented on #53
BTW isn't 'zero' supposed to be interpreted-only anyways?

[2017-09-20 15:38] kartben commented on #53
@JamesKingdon I am compiling native, I thought it would be simpler (albeit much much slower of course :-)). And my main computer is a Mac anyways and cross compilation of openJDK from MacOS to ARM seems to have many glitches anyways (or I am just doing it wrong :))

[2017-09-20 15:45] hangshao0 commented on #84
Yes. It looks like we need to record the open count.

[2017-09-20 16:04] sabkrish commented on #14
OS: Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-31-generic x86_64)
It already had a ubuntu 16.04 docker image pulled in 3 months ago.

[2017-09-20 16:04] mstoodle commented on #54
I marked as "enhancement" but if "bug" becomes more appropriate we should update it :)

[2017-09-20 16:10] jdekonin commented on #53
I am quoting a bit of openjdk-jdk9 common/doc/building.md here, "..A number of pre-defined ABI profiles are available using `--with-abi-profile`: arm-vfp-sflt, arm-vfp-hflt, arm-sflt, armv5-vfp-sflt, armv6-vfp-hflt. Note that soft-float ABIs are no longer properly supported on OpenJDK."

I believe you will be able to find these options in the ~/Repositories/openj9-openjdk-jdk9/build/linux-arm-norm

[2017-09-20 17:14] kartben commented on #53
@jdekonin Thanks for the hint. Looks like it is actually recommended to cross-compile rather than try and go native, so I guess I will try that. I am not sure what you mean when you say that the specific toolchain they recommend will be a challenge for openjdk-jdk9 without openj9?

FWIW I was building with ABI profile 'arm-vfp-hflt'

[2017-09-20 17:20] dnakamura commented on #13
@rwy0717 there is an option for quieter makefiles. I don't recall it off the top of my head though

[2017-09-20 17:23] smlambert commented on #85
Well, for sure we need to update the README with some additional information, such as how long it takes to run all of the tests, and some guidance on what sub-targets are most useful for different user stories.  If you are an openj9 developer, the sanity target is very useful, as it runs a subset of tests and takes ~20min.  The entire suite that gets exercised with "make test" will take hours if r

[2017-09-20 17:50] TianyuZuo commented on #23
Inspired by Mathew's comment, found out that it is the gcc-5 and g++-5 included in`build-essential` causing the conflict. After installing `build-essential`, `/usr/bin/gcc` and `/usr/bin/g++` was overwritten to g++5 and gcc5, which wasn't compatible with OpenJ9 compilation.

Update the Pull Request changeset to reset the symlink of `/usr/bin/gcc` and `/usr/bin/g++` to gcc4.8 and g++4.8, then OpenJ

[2017-09-20 17:58] mgaudet opened #88 "Use `update-alternatives` in docker files rather than straight symlinks"
In #23, it was discovered minor changes to the docker file can break it

I suspect switching to [`update-alternative`](http://manpages.ubuntu.com/manpages/trusty/man8/update-alternatives.8.html) will fix this.

[2017-09-20 18:03] mgaudet commented on #23
(opened #88, as I suspect if we used update-alternatives, this could be avoided)

[2017-09-20 18:16] mstoodle commented on #23
@mleipe @netroby this project does not create binaries, so we should not be uploading anything to Dockerhub, please.

[2017-09-20 18:18] mstoodle commented on #23
Note that FROM can refer to images on your local machine, so you can build one and then build the other from it (this is how the AdoptOpenJDK docker files work, see https://github.com/AdoptOpenJDK/openjdk-build/pull/166 ).

[2017-09-20 18:21] mleipe commented on #23
Thanks for the clarification, @mstoodle !

[2017-09-20 18:23] mstoodle commented on #23
For my vote, I would actually prefer this to be done via two separate Dockerfiles, so that the bare minimum config needed to build OpenJ9 can be found in one place (even granted that we seem to be adding "vim" to that Dockerfile now which isn't an absolute dependency).

[2017-09-20 18:33] jdekonin commented on #53
@kartben, I was just meaning that maybe you should try openjdk on its own as a starting point.  The failure you are seeing appears to be in libjava.so which isn't something that is being modified afaik.

[2017-09-20 18:34] dnakamura opened #90 "Migrate to CMake buildsystem"
Long running issue to track progress on migrating openj9 from UMA to CMake

[2017-09-20 19:18] AdamBrousseau opened #91 "Pull Request builds for z/p linux (test sanity)"
Similar to #24, we need pull request builds setup on our [Jenkins](https://ci.eclipse.org/openj9/) instance.

- Builds should compile and run the sanity test target.
- [Linux-ppc64le](https://ci.eclipse.org/openj9/job/PullRequest-Sanity-linux_ppc-64_cmprssptrs_le/)
- [Linux-s390x](https://ci.eclipse.org/openj9/job/PullRequest-Sanity-linux_390-64_cmprssptrs/)
- Whitelist OpenJ9 committers to trigge

[2017-09-20 19:32] AdamBrousseau commented on #91
Do we want to archive the sdk from the build so developers can download it if needed?

[2017-09-20 19:45] TianyuZuo commented on #85
This is my test result after running
[code]

[code]

[2017-09-20 19:52] pshipton commented on #53
To put it another way: the problem is an Illegal instruction, meaning the options used to compile the code don't match the hardware used to run. The code causing the Illegal instruction is part of OpenJDK, and not OpenJ9. The OpenJDK part of the build needs to change to use a different profile. OpenJ9 is setup to compile ARM for hard float (hflt) and OpenJDK should be built the same way.

[2017-09-20 20:10] mgaudet commented on #85
I'm sort of with @Scott-Young-6746; IMO, it might be nice to see the counts much closer to the end of the output.

[2017-09-20 20:28] kartben commented on #53
Thanks @pshipton. That helps.
Just a random thought, should I be worried that linux_arm.spec has "aotTarget = ia32-linux"?

[2017-09-20 20:42] pshipton commented on #53
It is wrong, but I don't find any references to aotTarget or aot_target in the OpenJ9 code. I suspect its obsolete and not used any more.

These buildspecs contain obsolete information and settings only useful to IBM internal builds. There is an effort underway to change the builds to use cmake, I expect all the buildspecs will be cleaned up when this conversion occurs.

[2017-09-20 20:43] kartben commented on #53
Makes sense. I couldn't find any reference to aotTarget in the codebase either but thought I would ask :-)
Still working on cross-compiling my vanilla OpenJDK…

[2017-09-20 21:01] pshipton commented on #91
OpenJ9 does not create binaries. Archiving the sdk and making it available violates that, although convenient.
@mstoodle

[2017-09-20 23:04] smlambert commented on #91
To be clear, archiving the artifacts of the build is temporary (done within the Jenkinsfile / pipeline script).  What ever we choose to archive, will be available only for as long as we keep the Jenkins workspaces around, which is configurable (last 5 builds, last 3 days, etc).  We plan to archive the test output to make it easier for developers to debug issues, should there be any...

[2017-09-20 23:10] smlambert commented on #85
Makes sense, thanks for input.  We can definitely move (or repeat) this line:
+++++++++++++++++++++++++++++++++++++++++++++++
TOTAL: xxx   PASS: xxx   FAIL: xxx   SKIP: xxx

to just above the final lines:
+++++++++++++++++++++++++++++++++++++++++++++++
All Tests Completed

[2017-09-21 00:58] #67 closed

[2017-09-21 01:00] DanHeidinga commented on #90
Thanks @dnakamura.  Can you outline the plan (including the great details in PR #78) for how we'll transition to cmake?

[2017-09-21 03:45] AdamBrousseau commented on #91
@pshipton is this a policy we decided on or a legal roadblock?

[2017-09-21 08:59] kartben commented on #53
Cross-compilation of an OpenJDK JVM is a success, let's see what happens if I replicate the compilation settings for openj9… And I also need to get a working version of qemu-arm to be able to run 'constgen' and 'j9ddrgen' (unfortunately I use MacPorts instead of Homebrew and qemu-arm does not seem to be part of the ports package for qemu.

[code]

[2017-09-21 09:14] jabrena commented on #66
For the benchmark tests, I will execute the following benchmark project:
https://github.com/ev3dev-lang-java/jvm-benchmark

If exist a better way to test the performance of any JVM, I will add it in the process. At the moment, I have tested:

- [Oracle Java 8 SE Embedded](http://www.oracle.com/technetwork/java/embedded/downloads/javase/javaseemeddedev3-1982511.html)
- [OpenJDK 8 Headless](https://

[2017-09-21 12:57] pshipton commented on #53
Just FYI, OpenJ9 doesn't use j9ddrgen. This is turned off as the tools used to build it are not available in the open. Its going to be obsoleted once the dwarf replacement happening in omr is ready.

[2017-09-21 13:37] jdekonin commented on #53
qemu-arm is just an emulator openj9 uses to run constgen because hardcoded as a cross-compile platform.  If you open and modify openj9/runtimes/jilgen/module.xml and just run 'constgen' directly that should work.  You should see at the bottom of the file...

<command line="cd $(UMA_PATH_TO_ROOT) &amp;&amp; ./constgen" type="all">
        <exclude-if condition="spec.linux_arm.*"/>   <<<---- remove

[2017-09-21 13:48] pshipton commented on #91
It is a legal issue. As per the Eclipse project proposal https://projects.eclipse.org/proposals/eclipse-openj9 OpenJ9 is a source code only project that does not distribute binaries. The binaries include OpenJDK and other third party code which is available under different licenses from OpenJ9.

[2017-09-21 14:15] jdekonin commented on #53
@kartben, in case you are just reading the email updates and its confusing, I edited the last comment a few times read it issue itself :)

[2017-09-21 14:26] JamesKingdon commented on #87
Just ran into this. It seems openj9_version_info.h is generated by the configure step, but deleted by make clean. So if you run configure and follow the instruction to then make clean you hit the problem. For a temporary work-around, just run the configure step again. If you know you will need to do a make clean, do it before running configure.

[2017-09-21 14:27] kartben commented on #53
@jdekonin I am going down the cross compile path now so yeah I do need qemu to run constgen (unless it's a "self-contained" exec and maybe in that case i can run it directly like you suggest by pointing my module.xml at a constgen that I would build for the mac?).
For some reason qemu-arm is not available in the default MacPorts package for qemu, and I am having a hard time compiling my own qemu f

[2017-09-21 14:36] kartben commented on #53
@jdekonin and yes of course your suggested change to openj9/runtimes/jilgen/module.xml works just fine, and this is what i was doing when compiling directly on the Pi 😄  BTW I guess the <if> should be improved so that to not try to use qemu if we are already building on an arm machine?

[2017-09-21 14:49] dnakamura commented on #90
Yeah working on fleshing out some details now

[2017-09-21 14:52] pshipton opened #94 "javacore does not identify z/OS hardware"
The javacore for z/OS shows "OS Level" like "z/OS 02.02.00", and "Architecture   : s390x" but no other details about the hardware being used. Joran has suggested adding in the raw STFLE bits.

[2017-09-21 15:36] deesebas opened #97 "Create documentation about Shared classes cache and AOT compilation"
Is there doc around -Xshareclasses and AOT compilation in OpenJ9? If not, can we reuse existing material to create these?

In general, it looks like OpenJ9 needs some sort of User Guide and documentation around how to use the various jvm (and possibly jit?) options (developers may not always want to look at the code to figure these out).

https://stackoverflow.com/questions/46343352/how-to-use-aot

[2017-09-21 15:48] doveye commented on #82
@simmel Hi Simon. The link issue is now fixed (actually, the link has gone!) and the VM reference that Sue mentioned in comment #82 has been created. The intro page for that is https://www.ibm.com/support/knowledgecenter/SSYKE2_9.0.0/j9vm_reference.html. This should make it easier for people to find info that is relevant to OpenJ9 :)

[2017-09-21 15:48] #82 closed

[2017-09-21 16:01] doveye commented on #97
Hi @deesebas. We've actually just separated out the doc for the J9 VM from the rest of the IBM SDK documentation - that will be the starting point for OpenJ9 users.

Intro page: https://www.ibm.com/support/knowledgecenter/SSYKE2_9.0.0/j9vm_reference.html
-Xshareclasses topic: https://www.ibm.com/support/knowledgecenter/SSYKE2_9.0.0/com.ibm.java.vm.9.0.doc/docs/xshareclasses.html
 General shared cl

[2017-09-21 16:01] #97 closed

[2017-09-21 16:10] ymanton commented on #82
@doveye, the link "Welcome - Eclipse OpenJ9 users" on this page is https://www.ibm.com/support/knowledgecenter/SSYKE2_9.0.0/welcome/welcome_javasdk_version.html is broken FYI. It points to https://www.ibm.com/support/knowledgecenter/SSYKE2_9.0.0/com.ibm.java.vm.9.0.doc/j9vm_reference.html?view=kc which doesn't exist.

[2017-09-21 17:00] mgaudet commented on #24
This has been enabled, but we're seeing the occasional build failures that look like this

[code]

https://travis-ci.org/eclipse/openj9/builds/277929812?utm_source=github_status&utm_medium=notification

[2017-09-21 17:19] doveye commented on #82
Fixed, thanks @ymanton :)
(you might need to hard-refresh the browser cache to show a recent update in the IBM Knowledge Center)

[2017-09-21 17:22] hangshao0 opened #99 "The flsanity test suite is obsolete and should be removed"
Also the following functions in util_api.h has declaration only:

I_32 helperDoubleArcCos(ESDOUBLE *a, ESDOUBLE *b);
I_32 helperDoubleArcSin(ESDOUBLE *a, ESDOUBLE *b);
I_32 helperDoubleArcTan(ESDOUBLE *a, ESDOUBLE *b);
I_32 helperDoubleArcTan2Double(ESDOUBLE *a, ESDOUBLE *b, ESDOUBLE *c);
I_32 helperDoubleExp(ESDOUBLE *a, ESDOUBLE *b);
I_32 helperDoubleIEEERemainderDouble(ESDOUBLE *a, ESDOUBLE *b,

[2017-09-21 19:15] joransiu commented on #94
In addition to STFLE bits, we'd probably like to document in OS section the auxvector list of features on Linux and relevant CVT bits on z/OS -- would give us the necessary information to understand what the underlying stack support are for the HW features we exploit.

[2017-09-21 19:16] joransiu commented on #94
/cc @fjeremic.

[2017-09-21 20:48] mgaudet commented on #24
Related to #11, one concern w/ travis builds is how to represent dependent changes.

[2017-09-21 21:36] AdamBrousseau commented on #91
Eclipse Bug resolved, we now have a webhook. I have added (am adding) the current OpenJ9 committers to the whitelist (admin list). See description for trigger phrases.

Unfortunately the PR Builder plugin is not honouring the global config admin list, I therefore had to add the list to every PR job we have configured to use the plugin. Hopefully this can be resolved.

Ideally we would whitelist th

[2017-09-21 21:36] #91 closed

[2017-09-21 21:38] 0dvictor commented on #13
`make -s` might be the one you were looking for.

[2017-09-21 22:06] AdamBrousseau commented on #91
@jduimovich has confirmed hosting the binaries is not an issue. AdoptOpenJDK is the official distribution channel for the binaries not OpenJ9. However, we are storing the artifacts temporarily for the purposes of build/test. We are only building using the same methods anyone else can do themselves.

If there are no more objections I will add the bits to the job to archive the PR sdks back to Jenki

[2017-09-21 23:27] fjeremic commented on #94
We read the `STFLE` bits in j9sysinfo.c in function `testSTFLE(struct J9PortLibrary *portLibrary, uint64_t stfleBit)`. This is a good starting place. It looks like we cache the bits in `PPG_stfleCache` which is defined as:

[code]

Sounds like we can use this cache to print the `STFLE` double words when we generate the javacore. It looks like we save the CVT bits and auxvector as well in the same

[2017-09-21 23:50] deesebas commented on #97
Thanks @doveye!

[2017-09-22 00:51] TianyuZuo commented on #23
Issue solved in https://github.com/eclipse/openj9/pull/79

[2017-09-22 03:58] pshipton opened #108 "java.lang.UnsatisfiedLinkError: com/ibm/jvm/Dump.JavaDumpImpl()I"
An java.lang.UnsatisfiedLinkError: com/ibm/jvm/Dump.JavaDumpImpl()I occurs in Java 9 when calling com.ibm.jvm.Dump.JavaDump(Dump.java:115).

I expect this is caused by #58 @JasonFengJ9

[2017-09-22 04:11] pshipton commented on #108
By default the new module is loaded by the application loader. It can be changed to a bootstrap module, which will fix the UnsatisfiedLinkError. Otherwise the security checks in some of the classes won't work.

[2017-09-22 04:34] pshipton commented on #108
See openj9-openjdk-jdk9/closed/make/common/Modules.gmk

[2017-09-22 07:34] markehammons commented on #40
I'm gonna try to fix it from the other side, by getting sbt to stop using the sun.misc class. That's something that needs to be done anyway.

[2017-09-22 10:06] ben-walsh commented on #108
Class file is part of the openj9.jvm module. Determining if there is any significance to what position this additional module is placed in the BOOT_MODULES.

[2017-09-22 10:53] pshipton opened #110 "Crash running gradle reported on StackOverflow"
https://stackoverflow.com/questions/46352408/cant-build-openjfx-with-eclipse-openj9181

"The new Eclipse J9 jvm does not come bundled with JavaFX, so I have tried to build OpenJFX but have failed. I believe I have followed all the build instructions on the OpenJFX website. I have Gradle 3.1, Ant, and the required libraries installed. I'm running Fedora 26. J9 appears to be failing with some kind o

[2017-09-22 11:25] Bluevisitor commented on #88
This seems a fairly straightforward change. However this website states that OpenJDK 9 on HotSpot supports SLES 11.

https://wiki.openjdk.java.net/display/Build/Supported+Build+Platforms

If this is also the case for OpenJDK on OpenJ9, then we may have to specify the command location explicitly, as the sles 11 machine I checked (jsvt004g.hursley.ibm.com) says: "update-alternatives: command not fou

[2017-09-22 11:32] pshipton commented on #108
Not sure if there is an order, but just in case openj9.sharedclasses should remain first since this one is related to class loading. Otherwise openj9.jvm can go 2nd or 3rd it shouldn't matter.

[2017-09-22 11:40] jbduncan commented on #90
I'd completely understand if the decision to use CMake is set in stone now, but I wondered if Bazel was at all considered as an option? By my understanding, it is made specifically for building and testing large code bases quickly, which may be beneficial for OpenJ9.

[2017-09-22 12:29] mgaudet commented on #88
If I recall correctly, `update-alternatives` only exists on Debian derived linux distributions, of which Ubuntu is one, but SLES is not -- so a SLES docker container _will_ need a different choice.

Everything else looks about right to me based on inspection.

_I am currently 😷, and so I am slower than usual. Take what I say with a grain of salt_

[2017-09-22 13:07] amicic commented on #42
@markehammons

Mark, latest builds  (Sept 22) have the Nursery expansion regression resolved.

You can compare performance
1) with no heap sizing options altogether (I believe on your machine with 16GB, we will effectively run as if  -Xmx4G -Xmnx1G were specified)
2)  or you can override max total Heap and Nursery (remember, this workload likes large Nursery) but without fully expanding it (no -Xm

[2017-09-22 15:32] tajila commented on #110
I installed Gradle on ubuntu14 and able to run '--version' successfully.

gradle -g /tmp --version
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.reflection.CachedClass (file:/team/tobi/ISSUE110/gradle-4.2-bin/gradle-4.2/lib/groovy-all-2.4.11.jar) to method java.lang.Object.clone()
WARNING: Please consider reporting this to th

[2017-09-22 15:51] tajila commented on #110
I also tried it on RedHat:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.reflection.CachedClass (file:/team/tobi/ISSUE110/gradle-4.2-bin/gradle-4.2/lib/groovy-all-2.4.11.jar) to method java.lang.Object.clone()
WARNING: Please consider reporting this to the maintainers of org.codehaus.groovy.reflection.CachedClass
WARNING: Us

[2017-09-22 15:57] JasonFengJ9 commented on #108
Thanks @ben-walsh for the fix.
Just like to add a note about the module order within `Modules.gmk`. The generated `ModuleLoaderMap.java` organizes modules to be loaded by the bootstaploader in alphabet order within an array as following:
   private static final String[] BOOT_MODULES
        = new String[] { "com.ibm.management",
            "java.base",
             ...........
            "jdk.ht

[2017-09-22 16:33] xliang6 opened #113 "Trademark symbol for Eclipse OpenJ9"
At the top of [Eclipse OpenJ9's landing page](https://github.com/eclipse/openj9), it says "Eclipse OpenJ9". There is a no trademark symbol next to it as it is on [Eclipse OMR's landing page](https://github.com/eclipse/omr/).

Is this intentional? Either way, we should add an explanation for the difference between OpenJ9 and OMR.

[2017-09-22 16:53] mstoodle commented on #113
I believe that text is set by Eclipse, not us (only the org admins can change the text on the repository, I think). If Eclipse has a trademark on "Eclipse OpenJ9" then it could have the (tm). I don't actually know if they do. @waynebeaton do you know?

We should probably provide a little more detail than the name of the project there, too :) .

[2017-09-22 17:33] tajila commented on #110
Just noticed that the problem states Gradle 3.1.

[2017-09-22 17:34] tajila commented on #110
I tried it with Gradle 3.1 and it works:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.reflection.CachedClass$3$1 (file:/team/tobi/ISSUE110/gradle-3.1-all/gradle-3.1/lib/groovy-all-2.4.7.jar) to method java.lang.Object.clone()
WARNING: Please consider reporting this to the maintainers of org.codehaus.groovy.reflection.Cached

[2017-09-22 17:34] tajila commented on #110
Perhaps this failure only occurs on Fedora, will try it on there next.

[2017-09-22 17:35] kartben commented on #26
Hey, @mgaudet - are you able to recommend the workaround you are mentioning in your original comment? My toolchain is gcc 7.2.0 and although I could rebuild it to use 4.9.2 (would it be "old" enough), maybe you can help me with a quick fix? Thanks!

[2017-09-22 17:47] xliang6 commented on #113
+1 on us providing more information on Eclipse OpenJ9.

[2017-09-22 17:57] mgaudet commented on #26
IIRC the 'workaround' was adding ` -fgnu89-inline` to the compiler build flags.

[2017-09-22 17:59] mgaudet commented on #110
Perhaps the failure also only occurs when gradle is building OpenJFX? (I could totally see gradle version being an insufficient workload to force the error)

[2017-09-22 18:03] mgaudet commented on #110
You can make your text show up preformatted by either fencing it with three backticks, or spacing with four spaces:

[code]

[code]

See more in the GitHub [Guide to Mastering Markdown](https://guides.github.com/features/mastering-markdown/)

[2017-09-22 18:05] tajila commented on #110
thanks @mgaudet

[2017-09-22 18:24] dnakamura commented on #90
@jbduncan  I don't recall all the details but I do remember looking into Bazel somewhat.  IIRC it didn't really get us anything that CMake can't do. Also it has some drawbacks compared with CMake, namely lack of platform support (I don't think it can handle AIX or z/OS)

[2017-09-22 19:30] pshipton commented on #108
This is fixed now, closing the Issue.

[2017-09-22 19:30] #108 closed

[2017-09-22 19:48] jbduncan commented on #90
@dnakamura Okay, that's totally fair! Many thanks for explaining a bit of the history behind the decision to use CMake for me. :)

[2017-09-22 20:09] dnakamura opened #116 "Travis PR builds broken"
Travis pull request builds are broken. They time out cloning `openj9-openjdk-jdk9`

[code]
https://travis-ci.org/eclipse/openj9/builds/278682619

~~Builds on branches still seem ok~~ I have seen the issue strike on branch builds but much less often than on PR builds

[2017-09-22 20:15] #99 closed

[2017-09-22 20:18] pshipton opened #117 "libhyprtshim29.so is unnecessarily loaded"
libhyprtshim29.so is always loaded, but is only needed for IBM's Java 8 builds.

[2017-09-22 20:44] pshipton commented on #99
FYI https://help.github.com/articles/closing-issues-using-keywords/
Issues can be closed automatically when the Pull Request is merged.

[2017-09-22 21:00] tajila commented on #110
It fails when calling `JVM_GetSystemPackage_Impl` with "com/ibm/lang/management/internal/"

It ends up calling `getModuleJRTURL ()` with a NULL moduleName. I'm investigating why this is happening

[2017-09-22 22:55] hangshao0 commented on #99
Thanks for letting me know.

[2017-09-23 11:58] DanHeidinga commented on #14
@sabkrish Is there a proxy between you the apt server?  Or some form of caching in place for the packages?

Reading https://bugs.launchpad.net/ubuntu/+source/apt/+bug/972077 and related links indicates there was a bug in older version of apt (now fixed) but caching / proxies may be responsible for similar appearing issues.

[2017-09-23 12:45] jabrena opened #119 "Upgrade website to improve compilation instructions."
Hi,

This morning I was testing the whole process to compile #openj9 with the first Docker image and I had a minor problem with the previous step to `make all`.
https://www.eclipse.org/openj9/oj9_build.html

**Evidence:**

[code]

To finish the process, I had to set the absolute path in the step:

[code]

If you indicate the repo for the microsite, I could do a PR.

Many thanks in advance.

Cheers

[2017-09-23 12:56] DanHeidinga commented on #119
Thanks for checking out OpenJ9 and reporting this issue, @jabrena.

The website is currently hosted directly on the Eclipse git repo at: https://git.eclipse.org/c/gerrit/www.eclipse.org/openj9.git/ and will eventually be mirrored to https://github.com/eclipse/openj9-website

I haven't updated the website directly yet so I'm not sure how to open a pull request against that repo.  @SueChaplain Can y

[2017-09-23 13:03] jabrena commented on #119
Hi @DanHeidinga, you are welcome.

Later, I will test the rest of the images, the process is pretty easy.
I am creating some Docker files for `armel` and `armhf` compilation.

Juan Antonio

[2017-09-24 01:18] DanHeidinga commented on #24
Regarding the "fatal: reference is not a tree" issue, my understanding is that it is related to force pushes to the repo.  The PR build clones (with depth=50) the openj9 repo, merges the PR branch into the master branch, and then we run get_sources trying to checkout at a particular sha as supplied to travis.

If a force push occurs, the sha may not be in the repo any more.  See https://github.com

[2017-09-24 01:44] DanHeidinga commented on #24
The travis.ci builds are a (hopefully) short term necessity.  @AdamBrousseau has recently enabled Jenkins-based PR builds on pLinux & zLinux.  Prior to open sourcing, our internal PR builds were able to handle cross repo dependencies so it should just be a matter of time until we've replicated the functionality here.

[2017-09-24 03:09] AdamBrousseau commented on #119
related ibmruntimes/openj9-openjdk-jdk9#29

[2017-09-24 03:13] AdamBrousseau opened #122 "Enable requesting PR builds with dependent changes (Jenkins)"
Related #91 #11 #24
#### Background
By default, a PR build will pull the openj9 branches of the openj9-openjdk-jdk9 and the openj9-omr repos. Sometimes developers have changes in openj9 that depend on changes they are working on in one or both of the other repos. We therefore need a process to request PR builds which can checkout the PR(s) of the other repo(s).

- A dependent change must be at ecl

[2017-09-24 04:17] AdamBrousseau commented on #122
Logic added to PR builds. Please report any issues here, otherwise I will close this issue once a few builds have proven the changes.

[2017-09-24 04:19] AdamBrousseau commented on #24
Done #122

[2017-09-24 13:12] jabrena commented on #119
Oki, I have pènding the second and third docker images if exist the same issue.

[2017-09-24 13:17] AdamBrousseau opened #123 "Add README.md to buildenv/jenkins"
At minimum, we should have a readme in the jenkins folder which documents what builds we have and how they run. If it becomes too large we can consider adding a doc folder there too.

related: #91 #122 #175 #176 eclipse/openj9-omr#3  eclipse/openj9-omr#4

[2017-09-24 15:07] SueChaplain commented on #119
@DanHeidinga We should have the prime site at github.com/eclipse/openj9-website within a couple of days. The admins at Eclipse have been setting up the credentials for us to pull from that site via the Eclipse JIPP and publish to https://git.eclipse.org/c/gerrit/www.eclipse.org/openj9.git/ .  It will be much easier for people to submit PRs in github. Watch this space :-) And @jabrena - thanks for

[2017-09-24 16:53] markehammons commented on #42
Hi @amicic, I haven't had a chance to rebench things yet, but I'll do that soon. Sorry, I've been busy with work obligations...

[2017-09-24 17:00] jabrena commented on #119
Hi @SueChaplain, you are welcome. I try to collaborate with the `openj9` ecosystem. :)

Next week, I will continue working in a version of this `Dockerfile`:
https://github.com/ev3dev-lang-java/docker-cross/blob/master/ev3dev-jessie/debian-jessie-armel.dockerfile

To compile `openj9` on `armel`
https://github.com/eclipse/openj9/blob/master/buildenv/docker/jdk9/x86_64/ubuntu16/Dockerfile

Maybe it

[2017-09-24 19:26] jabrena commented on #66
Hi, continue with the process on a Docker image for `ARM` used to test developments for ARM Soft float, in the third step of the build process:

https://www.eclipse.org/openj9/oj9_build.html

[code]

**_Where is the check about cpu armv7l?
How to fix the problem?_**

The complete build process is here:
https://github.com/ev3dev-lang-java/ev3dev-lang-java/issues/405

Any help?

Next week, I will ch

[2017-09-24 20:17] #119 closed

[2017-09-25 10:24] Param-S opened #124 "Add GC tuning on Idle part of Xtune:virtualized"
JVM idle tuning/optimization is not included as part of Xtune:virtualized.  It needs to enabled/set as another separate option(XX:+IdleTuningGcOnIdle). As this option will be beneficial to cloud/virtualized environment specific workloads, it is good to include into Xtune:virtualized optimizations.

[2017-09-25 13:33] JamesKingdon commented on #66
Hi Juan,
The support for arm hasn't been completed in the OpenJ9 release, so the configure script is failing while trying to map map one set of cpu names to another. The general issue of building on arm has had some discussion in https://github.com/eclipse/openj9/issues/53
Once we get that resolved, I don't think there are any fundamental issues that would prevent the JVM from running on a V5 gene

[2017-09-25 13:41] mstoodle commented on #122
Just want to verify (since there isn't an explicit example) that you can also specify eclipse/openj9-omr ?

[2017-09-25 13:51] jabrena commented on #66
Hi @JamesKingdom,

I like your comment about ARM support. In that case, I will wait for the evolution of issue #53. Meanwhile, I will improve the .dockerfile for cross-compiling this week.

Do you need some help for this tasks?

"The support for arm hasn't been completed in the OpenJ9 release, so the configure script is failing while trying to map map one set of cpu names to another. "

Juan Anton

[2017-09-25 14:12] JamesKingdon commented on #66
All help is very welcome. As you can imagine, releasing OpenJ9 has taken (and continues to take) a huge amount of work, so we're prioritising heavily. I don't know when the guys that have done the work on the build scripts will have time to focus on Arm support, so anything we can do in the meantime will move us forward. There is also work going ahead to migrate the build system to Cmake (see http

[2017-09-25 14:23] AdamBrousseau commented on #122
@mstoodle yes you can specify openj9-omr. Hopefully we never need to though :)
Ex. `Jenkins test sanity depends eclipse/openj9-omr#123`

[2017-09-25 14:27] hangshao0 commented on #84
We could add a field to record the open count in class CpLinkedListHdr.
Increase this count by 1 if notifyClasspathEntryStateChange() is called with J9ZIP_STATE_OPEN. Decrease it by 1 if notifyClasspathEntryStateChange() is called with J9ZIP_STATE_CLOSED.  Flag CPM_ZIP_OPEN should only be removed when open count is decrease to 0.

[2017-09-25 14:50] pdbain-ibm opened #126 "Attach API: prevent Java VM from attaching to the current VM"
This behaviour can be changed by setting system property jdk.attach.allowAttachSelf to "true" or an empty string.

[2017-09-25 16:57] keithc-ca commented on #63
It has been a week and the only feedback has been positive. @AdamBrousseau can you help make this happen? Thanks.

[2017-09-25 17:36] DanHeidinga commented on #63
Would a `.gitattribute` file be a better solution?  See https://stackoverflow.com/questions/10418975/how-to-change-line-ending-settings for examples of how to use the .gitattribute file to control line endings.

[2017-09-25 17:54] pshipton commented on #84
The information needed is if the classloader is holding open the jar file, and therefore the contents cannot change. On Unix platforms, the file could still change although something is holding the jar file open. I think the counting isn't a robust solution (although it would work on Windows).

[2017-09-25 18:49] keithc-ca commented on #63
I never did get the result I was hoping for with `.gitattributes`, and I believe it depends on users configuring their local clones properly.

[2017-09-25 19:31] AdamBrousseau commented on #63
I can provide an automatic build that will get the list of files modified/added in a PR

[code]

@keithc-ca can you provide the check inside the loop. I will add some bits that will collect all the bad files and print them to the console at the end of the job

[2017-09-25 19:47] pdbain-ibm commented on #117
I'll take this.

[2017-09-25 21:38] dnakamura opened #135 "Stubs for generated files prevent out of tree compilation."
Currently we have stubs checked into the repo to stand in for files generated by tracegen / ~~hookgen~~. Eg.
https://github.com/eclipse/openj9/blob/master/runtime/simplepool/ut_simplepool.h

The problem occurs when trying to perform an out of tree build. In such a scenario we would want to generate the generated files in the build tree rather than the source tree.  However may of the headers are i

[2017-09-25 21:41] andrewcraik commented on #39
@markehammons This should now be resolved.

The change was a fix to the BlockSplitter optimization - it was setting an incorrect frequency on a basic block that it generated during optimization which disrupted the layout of the loop and disrupted subsequent loop optimizations.

With the OMR fix included in OpenJ9 you should see a performance boost inline with the scores being reported with -Xjit:q

[2017-09-25 22:18] mgaudet opened #136 "Warning: Static used in non-static inline function"
[code]

Error caused by compiling with GCC 5.3, with warnings as errors enabled.

There probably needs to be an epic open for tracking compiler modernization work.

[2017-09-25 22:23] mgaudet commented on #136
Related to #26, though not the same root cause at all.

[2017-09-26 01:16] tajila commented on #110
When searching for the package details of "com/ibm/lang/management/internal/" it looks up the first class it can find in the package to determine the module. In this case the class is "com/ibm/lang/management/internal/PlatformMBeanProvider".

The class has been assigned to the bootloader unnamed module (which is incorrect) so when the moduleName is queried it returns NULL.

The reason for this is

[2017-09-26 09:37] ashu-mehra opened #137 "Use cgroup limits to adjust internal parameters"
From wikipedia:
`cgroups (abbreviated from control groups) is a Linux kernel feature that limits, accounts for, and isolates the resource usage (CPU, memory, disk I/O, network, etc.) of a collection of processes.`

Cgroup provides subsystems to handle management of various system resources. Subsystems expose parameters (which can be used to set or read limits/usage) as pseudo files within the cgro

[2017-09-26 12:10] markehammons commented on #39
@andrewcraik thanks, I'll rebench and confirm this weekend!

[2017-09-26 13:43] jdekonin opened #138 "Enable arm compilation on native platform"
Currently makefiles are written assuming cross compilation with specific tooling.  eg qemu.

[2017-09-26 13:44] jdekonin commented on #53
@kartben How is the cross compile working for you?  Have you had time to investigate further?  And to you question above, yes an improvement option for native compilation needs to be added for ARM.  I opened #138 for tracking.

[2017-09-26 14:00] fjeremic opened #139 "Investigate functionality of StringBuilderTransformer in Java 9"
As noted by @andrewcraik the `javac` compiler that comes with the Java 9 JDK will generate a method handle sequence for a chained StringBuilder append sequence. We should investigate how the new sequence looks like in Java 9 and what changes are needed to the StringBuilderTransformer [1] optimization to make it functional again.

[1] https://github.com/eclipse/openj9/blob/master/runtime/tr.source/

[2017-09-26 15:12] hangshao0 opened #142 "No need to use CML to export com.ibm.oti.shared from openj9.sharedclasses"
For the following test suites:

j9vm.test.intermediateclasscreate.IntermediateClassCreateTest
j9vm.test.invalidclasspath.SetClasspathTest
j9vm.test.multipleorphans.InvokeDynamicWithMultipleOrphanComparisonTest

I notice they are using:

`--add-exports=openj9.sharedclasses/com.ibm.oti.shared=ALL-UNNAMED`

in the command line, which is unnecessary as package com.ibm.oti.shared is already exported by

[2017-09-26 18:35] keithc-ca commented on #63
I ran this over the entire openj9 repository; the files flagged are corrected by https://github.com/eclipse/openj9/pull/146.

[code]

[2017-09-26 19:10] babsingh opened #148 "SegFault while running DaCapo Avrora benchmark"
**Benchmark [download]:** [dacapo_avrora.zip](https://github.com/eclipse/openj9/files/1334497/dacapo_avrora.zip)

**Running the benchmark:**
[code]

OpenJ9 fails to throw `java.lang.VerifyError: Operand stack underflow` while running the DaCapo Avrora benchmark.

**With OpenJ9,** SegFault happens in **errormessageframeworkrtv.c:**
[code]

**Native stack:**
[code]

**Java stack:**
[code]

**With Op

[2017-09-26 21:36] JasonFengJ9 opened #152 "Early support for Java 18.3 via raw builds"
Raw builds will be initial approach to adopt OpenJDK `Java 18.3` changes to ensure OpenJ9 is ready for `Java 18.3` while maintaining `Java 8/9` functionalities. For background info, raw build refers SDK composing process to overlay OpenJ9 **binaries** at top of OpenJDK **binaries** along with some configuration file changing. Future approach will be same as existing OpenJ9 build process, i.e., bui

[2017-09-26 22:02] pshipton commented on #152
Since its no longer to be called Java 10, please change it to 18.3 instead, which is the new naming scheme.

Preferred if we use a flag Sidecar18.3-SE without the build number. We expect to only support the latest so a build number should not be needed, and will quickly become out of date.

[2017-09-26 23:25] #23 closed

[2017-09-27 00:50] myspringchen commented on #148
I rewrote the avrora benchmark (Main.class) and happened to hit these crashes.

[2017-09-27 01:51] DanHeidinga commented on #148
Given we're crashing in `errormessageframeworkrtv.c`, it looks like there's a bug in the verbose verification error reporting.

Does running with either `-XX:-VerboseVerification` or `-XX:-VerifyErrorDetails` prevent the crash?

[2017-09-27 02:04] babsingh commented on #148
The same crash happens with `-XX:-VerboseVerification`. But, the crash doesn't happen with `-XX:-VerifyErrorDetails`.

[code]

[2017-09-27 03:48] #124 closed

[2017-09-27 04:00] #142 closed

[2017-09-27 06:07] chandrams opened #153 "MXBean to dynamically configure JVM Diagnostic Options"
Problem determination becomes difficult when there is no diagnostic information.  A running IBM JVM includes mechanisms for producing different types of diagnostic data when different events occur. In general, the production of this data happens by default and can also be controlled by using the command line JVM options such as -Xdump or -Xtrace at JVM startup or by dynamically setting them using

[2017-09-27 13:29] andrewcraik commented on #153
given that the dump options can be hard to compose into a command line would it make more sense to expose an API that helps you build the dump option you want and have that generate and set the JVM option so that the interface is more user friendly? Not sure if that would make the builder become stale too quickly, but making it easier to build the options string would seem to be a nice usability f

[2017-09-27 14:05] vsebe opened #154 "Convert cygwin paths to windows paths for java build tools"
Convert unix to windows class paths and hook tool resources files paths for java build tools.

[2017-09-27 14:11] fjeremic opened #156 "Implement a Java agent for collecting StringBuilderTransformer statistics"
As suggested by @andrewcraik in https://github.com/eclipse/openj9/pull/133#issuecomment-332185691 and https://github.com/eclipse/openj9/pull/133#issuecomment-332515832 we should be able to implement a simple agent for the StringBuilderTransformer optimization and check it into our repository so that we can always collect statistics if need be.

The corresponding PR https://github.com/eclipse/openj

[2017-09-27 15:59] SueChaplain commented on #119
@jabrena The instructions for setting the path to the freemarker.jar are now updated on the website. Thanks for reporting it!

[2017-09-27 18:21] hangshao0 opened #162 "There should be a warning if sharedclasses module presents but dll failed to be loaded"
In the cases when the j9shr29 dll failed to be loaded,

1) if -Xshareclasses is used in the command line, there will be a fatal error message saying that libj9shr29.so is not loaded:
[code]

2) if -Xshareclasse is not used in the command line, we will proceed, silently ignoring that j9shr29 dll is not loaded.
[code]

In case 2, we should only silently ignore the dll loading failure if module openj

[2017-09-27 18:41] ashu-mehra commented on #153
+1 for that. If some wants to use this API, he shouldn't have to go through the user guide to understand the syntax to be able to pass correct option.

[2017-09-27 18:53] pshipton commented on #162
The design accommodates jlink'ed images, which may be missing both the openj9.sharedclasses module and the j9shr native library. Case 2 covers that the j9shr library is loaded to enable the utility APIs in com.ibm.oti.shared.SharedClassUtilities even when -Xshareclasses is not specified (except in the case of -Xshareclasses:none which doesn't load the j9shr library anyway).

[2017-09-27 19:32] chandrams commented on #153
Thought of having a mapping for few frequently used options, for example, JavaDumpOnThread would have a mapping internally to its equivalent -Xdump option.  But having it generated for all cases would be useful.

[2017-09-27 19:42] dsouzai opened #163 "Document compilation exception semantics"
Similar to how the exception semantics will be documented in OMR (https://github.com/eclipse/omr/issues/1726), since OpenJ9 is a downstream project of OMR that defines J9 specific exceptions, OpenJ9 should also have its exceptions documented.

[2017-09-27 19:42] dsouzai commented on #163
Since I added the exception types, I will document them.

[2017-09-28 04:06] mgaudet commented on #136
I suspect this just got fixed by #161

[2017-09-28 04:06] #136 closed

[2017-09-28 06:58] sabkrish commented on #110
I'm also facing the crash issue when i run a gradle build with Gradle 3.5 + Eclipse J9 combination on Ubuntu 16.04.2. The issue goes away with Gradle 4.2 + Eclipse J9 combination.

[2017-09-28 07:08] chandrams opened #165 "Segmentation error with -Xdump:tokens"
-Xdump:tokens crashed in module *libj9prt29.so*, tested with LinuxAMD64 Adopt openjdk build on Ubuntu 16.04.2 LTS.  But there were no dumps created.

[code]
[code]

[2017-09-28 14:26] DanHeidinga commented on #165
@fengxue-IS Can you take a look at this?

[2017-09-28 14:33] DanHeidinga opened #166 "Rename 'java.lang.string.substring.share' to 'java.lang.string.substring.nocopy'"
Keeping the original option provides backwards compatibility to anyone who has been running with the old option.

See https://github.com/eclipse/openj9/pull/147 for change to create the new option

[2017-09-28 14:39] #154 closed

[2017-09-28 14:57] fengxue-IS commented on #165
reproduced the issue, investigating

[2017-09-28 15:59] hangshao0 commented on #162
I will have a fix for this one.

[2017-09-28 17:19] DanHeidinga opened #170 "Discussion: How to organize tests to support Java 8, 9, and java.next?"
The current approach to test code management leads to duplication between tests targeting Java 8, tests targeting Java 9, and eventually those targeting Java.next (currently 18.3).

As Java changes to release more frequently with releases occurring every 6 months, we need to take a hard look at the current code duplication in the test projects or we'll have a significant problem when there have be

[2017-09-28 17:29] pdbain-ibm commented on #170
We also need a common utility project for generic utility classes.  An example of this is the attach API utility code duplicated in the Jav8AndUp  and Java9AndUp projects.  The rule here would be that it would be legal (i.e. no feature dependencies) on a base Java level such as Java 8.

[2017-09-28 19:23] ChengJin01 commented on #148
@babsingh,

-XX:+VerifyErrorDetails option is enabled by default. So simply specifying -XX:-VerboseVerification won't prevent the error message from being generated.  You need to disable VerifyErrorDetails  by explicitly specifying  -XX:-VerifyErrorDetails.

Initial investigation shows the issue has nothing to do with  -XX:+VerboseVerification as follows:
jvmxa6490/bin/java  -XX:+VerboseVerificati

[2017-09-28 20:10] fjeremic commented on #166
This issue can now be closed. Fixed in #167.

[2017-09-28 20:36] mgaudet commented on #148
You can make your text show up preformatted by either fencing it with three backticks, or spacing with four spaces:

[code]

[code]

See more in the GitHub [Guide to Mastering Markdown](https://guides.github.com/features/mastering-markdown/)

[2017-09-28 20:45] ChengJin01 commented on #148
[code]

[2017-09-28 20:57] ChengJin01 commented on #148
Comparison with the error message with Oracle indicates we are not generating the correct VerifyError, in which case the invalid data (stack top/base index, etc) got used by the error message framework as follows:
[code]
-----------------

Debugging in the code shows the stack underflow already occurred when reaching JBinvokevirtual, which means it is too late to check stack underflow after these

[2017-09-28 21:13] pshipton commented on #166
FYI https://help.github.com/articles/closing-issues-using-keywords/

[2017-09-28 21:13] #166 closed

[2017-09-28 22:18] AdamBrousseau opened #175 "Add pull request builds for Compile Only"
If you just need to compile and not run tests
- All platforms"
`Jenkins Compile`
- Single platform(s)
`Jenkins Compile zlinux`
`Jenkins Compile plinux`

[pLinux](https://ci.eclipse.org/openj9/job/PullRequest-Compile-linux_ppc-64_cmprssptrs_le/)
[zLinux](https://ci.eclipse.org/openj9/job/PullRequest-Compile-linux_390-64_cmprssptrs/)

- The SDK is still archived at the end of the build if you need t

[2017-09-28 22:19] AdamBrousseau commented on #175
This issue is complete. Please close it once the appropriate labels are added.

[2017-09-28 22:21] AdamBrousseau opened #176 "Pull Request builds for Extended test target"
If you need to run extended test bucket
- All platforms"
`Jenkins test extended`
- Single platform(s)
`Jenkins test extended zlinux`
`Jenkins test extended plinux`

[pLinux](https://ci.eclipse.org/openj9/job/PullRequest-Extended-linux_390-64_cmprssptrs/)
[zLinux](https://ci.eclipse.org/openj9/job/PullRequest-Extended-linux_390-64_cmprssptrs/)

- The SDK is archived at the end of the build if you n

[2017-09-28 22:21] AdamBrousseau commented on #176
This issue is complete. Please close it once the appropriate labels are added.

[2017-09-28 23:03] fjeremic commented on #166
@pshipton I wanted to do this in the commit description but it was against the commit guidelines:
https://github.com/eclipse/openj9/blob/master/CONTRIBUTING.md#commit-guidelines

Which say to use the:

format. I would have much rather specified "Fixes #166" instead but I wanted to conform to the commit guidelines. Should we modify the guidelines to accept the keywords recognized by GitHub? I would

[2017-09-28 23:10] pshipton commented on #166
Thanks for pointing it out. I'm not sure if we intentionally intended to disallow using keywords to close the issue. I'll check with others and if necessary update the guidelines.

[2017-09-28 23:15] #175 closed

[2017-09-28 23:16] #176 closed

[2017-09-29 03:57] smlambert commented on #85
fyi @renfeiw

[2017-09-29 07:35] markehammons commented on #39
i lied, i did it last night. according to my benchmarks, openj9 on default settings now beats zulu9 on this bench with its best case performance being 638ms faster, its average case being 617ms faster and a worst case performance being 705ms faster!

[benchmarksgame-jmh.zip](https://github.com/eclipse/openj9/files/1343437/benchmarksgame-jmh.zip)

good job on optimizing this!

[2017-09-29 08:05] myspringchen commented on #148
Hi, Chengjin, may you also check the putstatic instruction?

Open ./jar/avrora-cvs-20091224.jar and in the directory: /avrora, there are
another four classes (i.e., Main.class can be replaced by Main.class$1~4). You can
use the four files to re-test J9.

[2017-09-29 09:15] chandrams opened #179 "-Xtrace:what output shows default trace configuration even when trace is switched off using -Xtrace:none"
-Xtrace:what displays the default trace options even when we switch off the trace using -Xtrace:none, unlike -Xdump:what that doesn't display any dump agents when we turn them off using -Xdump:none

Is this expected?

[code]

[2017-09-29 09:18] chandrams commented on #179
Trace engine configuration
--------------------------
-Xtrace:FORMAT=/home/chandrams/jdk-9+181/lib;.
-Xtrace:MAXIMAL=all{level1}
-Xtrace:EXCEPTION=j9mm{gclogger}
-Xtrace:MAXIMAL=all{level2}
-Xtrace:none
-Xtrace:what
--------------------------
openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc.jenkins.openjdk)
Eclipse OpenJ9 VM (build 2.9, JRE 9 Linux amd64-64 Compre

[2017-09-29 12:22] AdamBrousseau commented on #116
Can this be closed?

[2017-09-29 12:49] DanHeidinga commented on #116
I think so.  There has been other travis build flakiness but that's been related to source forge downloads of free marker.

[2017-09-29 12:49] #116 closed

[2017-09-29 13:35] mstoodle commented on #39
Thanks for circling back for us, @markehammons !

[2017-09-29 14:12] hangshao0 commented on #179
[code]

It says -Xtrace:none overwrites previous -Xtrace option, not subsequent -Xtrace option.

[2017-09-29 17:02] #165 closed

[2017-09-29 18:21] ChengJin01 commented on #148
I already verified on Oracle (openjdk175) and our build with my fix (xa6490).
It seems both of them ended up with pretty much the same results as expected (no crash detected)

[code]

[2017-09-29 19:19] #122 closed

[2017-09-29 20:24] #85 closed

[2017-09-29 20:46] TianyuZuo opened #187 "fix test output, if the test passed, there would be better no exception throw"
[code]

[2017-09-29 21:12] TianyuZuo commented on #170
I think the the baseline of how test codes are organized is depending on how JCL codes are organized.

For example, if we have a repo and all its contents are designed for Java9, then anything designed only to Java8 and below should be removed from that repo.

One question is that how are we going to organize all the JCL code. If we need to add new APIs for java.next for some classes which already

[2017-09-29 23:42] pshipton opened #189 "java.base exports com.ibm.cuda and com.ibm.gpu"
The java.base module exports packages com.ibm.cuda and com.ibm.gpu which is violation of the java 9 specification. These packages need to be moved and exported from the existing module stubs openj9.cuda and openj9.gpu

[2017-09-30 00:34] AdamBrousseau opened #190 "Enable Sanity tests on Travis"
Taking a stab at this in my [fork](https://github.com/AdamBrousseau/openj9/blob/travis_test/.travis.yml)
https://travis-ci.org/AdamBrousseau/openj9/branches (travis_test)

related #24

[2017-09-30 00:38] AdamBrousseau commented on #190
Seems to be functional now however we exceed to maximum allowed output of 4MB
https://travis-ci.org/AdamBrousseau/openj9/builds/281469003

Comparing output from Jenkins PR builds, we seem to be only ~1/3 way through the console output when we max out on Travis.

[2017-09-30 03:09] smlambert commented on #190
Could experiment with changing the logging level of some of the tests (default setting is log4testng.rootLogger=INFO, could change to WARN and see how far you get, in https://github.com/eclipse/openj9/blob/master/test/TestConfig/resources/log4testng.properties).

[2017-09-30 19:21] #123 closed

[2017-09-30 19:43] DanHeidinga commented on #170
The way JCL (java class library) code is organized depends on which repo it's part of.

Class library code that is tightly tied to OpenJ9 and lives in the openj9 repo will have a single version of the code that is preprocessed to generate the 8, 9, and java.next source.

Class library code that lives in the upstream OpenJDK extension project (runtimes/openj9-openjdk-jdk9) will likely have one repo

[2017-10-01 02:40] AdamBrousseau commented on #63
@keithc-ca I have been testing this in my fork and I think its working as expected.
The temp PR for the script is [here](https://github.com/AdamBrousseau/openj9/pull/4)
The PR I have been testing with is [here](https://github.com/AdamBrousseau/openj9/pull/5)
The job is [here](https://ci.eclipse.org/openj9/job/PullRequest-LineEndingsCheck)
It launches automatically on every PR, can launch manually

[2017-10-01 16:31] markehammons commented on #42
Sorry, I rebenched this last night and nearly forgot to post the results...

[bench-shootout-all-openj9.log](https://github.com/eclipse/openj9/files/1347318/bench-shootout-all-openj9.log)

I need to rebench zulu9 to get a good comparison for you guys, but it appears the gencon gc is p much totally fixed now.

[2017-10-02 16:04] AdamBrousseau commented on #24
I think we should wrap the `script` commands in `set -e` & `set +e` so that we fail fast if any of the commands fail.
See travis-ci/travis-ci#1066

I am going to play around with the checkout (fatal: reference is not a tree) issue. I have a few suspicions.

[2017-10-02 17:57] #187 closed

[2017-10-02 17:58] TianyuZuo commented on #187
Issue fixed

[2017-10-02 19:08] mgaudet opened #196 "Test Dependencies not complete"
I've been playing with the Tests, and it seems there's some dependencies in the Makefiles that aren't specified.

For example, if you follow the [instructions](https://github.com/eclipse/openj9/blob/master/test/README.md), but instead of starting with the `test` target you start with the `sanity` target, the dependencies will not get downloaded.

[2017-10-02 19:44] mgaudet opened #198 "Checksum downloads of test dependencies"
in `test/TestConfig/scripts/tools/getDependencies.pl` we download a number of dependencies

https://github.com/eclipse/openj9/blob/ae3d15f0bf9a586af1456d6a8d07a18400b84757/test/TestConfig/scripts/tools/getDependencies.pl#L57-L70

However, we do not checksum these to ensure the download was successful, or that we got the `jar` we thought we were after (what happens if download is interrupted or int

[2017-10-02 19:44] JamesKingdon opened #199 "Avoid locking on non-escaping local objects with HCR enabled"
Performance of the Monte Carlo kernel of the SciMark benchmark is reduced by the presence of locking on a local object inside the hot loop. When run with HCR disabled the object is recognised as non-escaping and the lock is folded away, resulting in a 64% performance increase.

Further optimisation of the loop may be possible in order to reduce the remaining deficit vs HotSpot.

Test results on 32

[2017-10-02 19:54] mgaudet opened #200 "Quiet Test Cases"
There's a number of tests in `tests` that put out quite a bit of test information even when succeeding, leading to a difficult to parse volume of data.

This epic item should track noisy tests, and subsequent issues can be opened to actually quiet them:

- [ ] `j9vm.test.romclasscreation.ROMRetentionAfterRAMFailureTest` Produces hundreds of lines of output.
- [x] `j9vm.test.arraycopy.MultiThreaded

[2017-10-02 19:56] JamesKingdon opened #201 "Performance deficit on Sparse Matrix Multiply"
Performance of the Sparse Matrix Multiply kernel of the SciMark benchmark is significantly less with OpenJ9 compared to HotSpot.

Results on 32 core Xeon(R) CPU E7-8867:

OpenJ9 615 Mflops vs HotSpot 1755 Mflops

Part of the issue is that the test is short-running and we spend most of the run in a profiling compile. Wrapping the test in a harness for multiple iterations raises the throughput to 11

[2017-10-02 20:08] JamesKingdon opened #202 "Extend auto-SIMD support"
The hot loop of the LU matrix factorization kernel of the SciMark benchmark is suitable for auto-SIMD, but currently isn't converted because it uses multiply-subtract. The loop would also benefit from the use of four-wide avx instructions for the vector double operations.

Testing on 32 core Xeon(R) CPU E7-8867

OpenJ9 2820 Mflops vs HotSpot 4445 Mflops

[2017-10-02 20:21] #162 closed

[2017-10-02 20:23] JamesKingdon opened #203 "Reduce calls to crc32 library"
Analysis of the Bork file encryption benchmark indicates a large number of calls to /usr/lib64/libz for calculating crc32. The relatively expensive native method call sequence suggests that this may be a good candidate for an optimised helper.

Test results on 32 core Xeon(R) CPU E7-8867
(times in seconds, smaller is better)

OpenJ9 12.5s  vs HotSpot 9.3s

The benchmark suffers from running in the

[2017-10-02 20:49] JamesKingdon opened #204 "SunFlow benchmark: unusual sensitivity to gcpolicy"
The SunFlow benchmark performed poorly with the initial release of OpenJ9 (slower than HotSpot by a factor of about 5x). A large part of the problem was solved by the fix for https://github.com/eclipse/openj9/issues/42, and/or by selecting a larger fixed size heap.

Testing on 32 core Xeon(R) CPU E7-8867

defaut config               Initial release of OpenJ9 5s              Hotspot 0.98s
fixed 3G

[2017-10-02 20:51] llxia commented on #196
In the current implementation, ```getdependency``` target will get called when running make ```compile``` or ```test``` target. We assume that people will have to compile before they run any test.

However, I think we should make the instruction more clear - To get the dependencies, users can run ```make getdependency``` directly

[2017-10-02 20:53] mgaudet commented on #196
Yeah, as I play with this I am keeping notes of things that can be improved, but, the failure if you don't run `make test` first is pretty uninformative, which makes me wonder if there instead be a stamp-file to allow `make` to make sure things work out fine.

[2017-10-02 20:56] llxia commented on #196
Thanks for pointing out. We will update the readme. :)

[2017-10-02 21:09] llxia opened #206 "Remove SVT_LoadTest and SVT_Modularity directories"
Link to Jenkins console output:
https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-linux_390-64_cmprssptrs/14/consoleFull

Cause: $(JAVASVT_ROOT) is not set.

Test Output:
[code]

[2017-10-02 23:56] smlambert commented on #206
Please exclude these tests for now.  They need to be updated such that the build step will need to clone the stf repo from adoptopenjdk (rather than expect that framework to be available in mounted drive /javasvt).  While this step can be done in the Jenkinsfile, it may not be the right place to do this if we want people to be able to download and run the test suite locally on their laptop.

[2017-10-03 00:03] smlambert commented on #200
Good idea!  I think we should also take a look at any steps in the build process that produces lots of output (and correcting by setting unzip steps to quiet mode, etc).

[2017-10-03 12:25] charliegracie commented on #51
I would like to propose that we add one more component or a new type complete.  I would suggest that we add a comp:omr or a dependent:omr tag so that it is obvious that a change is a dependent on changes in the OMR repo.

[2017-10-03 13:16] mgaudet commented on #51
I'd lean to `dependent:omr`

[2017-10-03 13:48] mgaudet opened #213 "Top level OpenJ9 test makefile usage is incorrect"
Now, `test/README.md` indicates the makefile to use is actually `test/TestConfig/Makefile`, but there is a `test/Makefile`, and inside the makefile it suggests usage info:

https://github.com/eclipse/openj9/blob/3b34d58942a9c34271fe7d9fdcda46201c5f7631/test/Makefile#L23-L41

However, trying that out it seems to ignore the very SPEC it requests:

[code]

I think this is related to an attempt to aut

[2017-10-03 14:08] mgaudet opened #214 "jit.test.jitt.assembler.SwitchTest2.tstSwitch() has a @Test annotation but also a return value:"
Test method probably just needs to have its return value removed.

[code]

[2017-10-03 14:19] aprenaud commented on #51
+1

[2017-10-03 14:25] mgaudet opened #215 "It appears that some JIT tests are missing required options"
_I could be missing something here_

Looking at the file `test/JIT_Test/src/jit/test/tr/ipa/IpaTest.java`, it appears the test case was written with a JIT option in mind, in order to ensure some behaviour get executed.

https://github.com/eclipse/openj9/blob/3b34d58942a9c34271fe7d9fdcda46201c5f7631/test/JIT_Test/src/jit/test/tr/ipa/IpaTest.java#L31

However, I cannot find that option actually gett

[2017-10-03 14:51] DanHeidinga commented on #51
@charliegracie great idea!  We'll likely need one for the extensions project as well.

`depends:omr`
`depends:openjdk9`

And add other `openjdkX` dependency labels as required.

[2017-10-03 15:48] mikezhang1234567890 opened #216 "Need an easier way to exclude tests"
Currently, to exclude a test directory, we need to edit the `mkgen.pl` in the `test/TestConfig/scripts`. There should be a file (possibly in `test/TestConfig/resources/excludes`) that contains a list of tests or test directories to exclude from compilation and generation so people don't need to dig through a script.

[2017-10-03 18:19] DanHeidinga commented on #51
I've created the two labels described in the previous comment so we can start using them right away.  They can always be modified (or removed) if there is further conversation on the right naming, other `depends:`, etc

[2017-10-03 18:54] llxia commented on #198
@TianyuZuo  could you take care of this? Thanks!

[2017-10-03 19:07] TianyuZuo commented on #198
will update the script to add the checking process.

[2017-10-03 19:09] mgaudet commented on #198
Potentially stupid question: Was there a need that made it best to write this as a perl script, as opposed to just creating makefile dependencies on the jars?

(_i.e._ a Makefile rule like

[code]

)

[2017-10-03 19:26] llxia commented on #216
Hi Mike, could you please describe your scenario where this feature is needed? So I can better understand this. In the current implementation, we do support:

- exclude test(s) if they are using TestNG framework

- run test in a directory

Also, for your personal test, you can rename playlist.xml in your test project directory to exclude all tests in this test project from make generation and exec

[2017-10-03 19:45] JasonFengJ9 opened #223 "JCL patch to remove the references to java.lang.String field coder"
This is a question brought up during discussion of https://github.com/eclipse/openj9/pull/177#discussion_r142498127.

OpenJDK `j.l.String` has three instance fields as following:
[code]

On the other hand, OpenJ9 `j.l.String` has three instance fields as following:
[code]
OpenJ9 bundles `coder` and `count` into a single field thus getting the benefit of having a count which speeds up substring ope

[2017-10-03 20:00] fjeremic commented on #223
I'm uncertain this is possible. The values `coder` can take is strictly defined as one of these two:
https://github.com/eclipse/openj9/blob/dcd5bbd7a3854ed77792457094b292853af30f89/jcl/src/java.base/share/classes/java/lang/String.java#L74-L75

Bundling it with a count could result in false positives for someone reflectively accessing this field as in the example above. How would one handle that? N

[2017-10-03 20:06] andrewcraik commented on #223
Direct access to the internal implementation details of an implementation specific class would seem to be the problem as @fjeremic points out. In the original issue I did discuss a bit of why we have a count field and the performance optimizations it permits would outweigh removing it in my opinion based on past experience with the class.

[2017-10-03 20:15] JasonFengJ9 commented on #223
Though the stacktrace shows `java/io/UnixFileSystem.canonicalize0` throws `NoSuchFieldError: java/lang/String.coder`, grep says it is `jni_util.c` referring the field in question as following:
[code]
It appears this native depends on `coder` value via reflection to determine how to retrieve the string content.

[2017-10-03 20:26] fjeremic commented on #223
We have a `coder()` method for this though. They can just as easily call the method which would work for both OpenJDK and OpenJ9:

https://github.com/eclipse/openj9/blob/dcd5bbd7a3854ed77792457094b292853af30f89/jcl/src/java.base/share/classes/java/lang/String.java#L83-L89

[2017-10-03 22:37] TianyuZuo commented on #198
Yes, we can also integrate the jar downloading into makefiles. In the begin, Perl script was used for its fast development and reliability. We can also try to use makefile if we can also use for good reliability and fast development

[2017-10-04 16:16] llxia commented on #213
As far as I know, this file was created for internal builds. I think it can be removed for openJ9.
@vsebe and @renfeiw please correct me if I am wrong. Thanks.

[2017-10-04 17:55] llxia opened #238 "TestAttachAPI test failed with com.sun.tools.attach.AgentLoadException: ATTACH_ERR AgentLoadException"
Link to Jenkins console output: https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-linux_390-64_cmprssptrs/16/consoleFull

Output:
[code]

test_agntld01, test_agntld02 and test_agntld03 failed with:
```java.lang.AssertionError: missing Agent_OnAttach string```

[2017-10-04 17:56] llxia commented on #238
Going to exclude this test for now.

[2017-10-04 18:01] pdbain-ibm commented on #238
Is there an Issue for this?

[2017-10-04 18:07] smlambert commented on #238
#238 the issue you are editing, is the issue for this test failure.

[2017-10-04 18:51] pdbain-ibm commented on #238
https://github.com/eclipse/openj9/pull/236 should fix this.

[2017-10-04 19:11] #63 closed

[2017-10-04 19:15] #152 closed

[2017-10-04 19:21] llxia opened #241 "TestManagementAgent failed with com.sun.tools.attach.AttachOperationFailedException"
Link to Jenkins console output: https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-linux_390-64_cmprssptrs/16/consoleFull

Output:
[code]

[2017-10-04 20:06] #64 closed

[2017-10-04 20:24] llxia commented on #238
testAgentLoading failure is similar. Going to exclude the test as well.

Output:
[code]

[2017-10-04 20:43] llxia opened #244 "testCrNocr in VmArgumentTests failed - java.lang.AssertionError: Target process failed"
Link to Jenkins console output: https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-linux_390-64_cmprssptrs/16/consoleFull

Output:
[code]

[2017-10-04 21:10] andrewcraik commented on #199
So I think a little bit of background is warranted here for the community on profiling and JIT compilation. In OpenJ9 the bytecode interpreter loop of the VM gathers basic profiling data as it executes Java bytecodes. It records branch biases and the receivers for virtual calls among a few other pieces of data. When a JIT compilation is triggered this IProfiling data is used to guide the JIT's opt

[2017-10-04 21:12] andrewcraik commented on #201
see Issue #199 for a discussion on profiling and some of the work underway to improve the performance of profiling code which should help here to at least an extent. The opportunity for fused multiply add is interesting and worthy of further study.

[2017-10-05 11:58] paulcheeseman commented on #153
I have written a javascript tool for building Xdump options ([internal IBM link](http://hurgsa.ibm.com/~cheesemp/public/OptionBuilders/XdumpBuilder.html)). I hope to do the same for Xtrace when I have time, although I think Xtrace would be significantly more complicated.

Maybe we could integrate something like this into the OpenJ9 documentation?

[2017-10-05 12:46] pdbain-ibm commented on #244
@llxia please assign this to me.  Thank you.

[2017-10-05 12:47] pdbain-ibm commented on #241
@llxia please assign this to me.  Thank you.

[2017-10-05 12:47] pdbain-ibm commented on #238
@llxia please assign this to me.  Thank you.

[2017-10-05 13:48] llxia opened #247 "openj9_exclude.txt is not used in openj9 test build"
In openj9 test build, we should use openj9_exclude.txt, not default_exclude.txt. Please update the script to use correct exclude file.

Link to Jenkins job:
https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-linux_390-64_cmprssptrs/17/consoleFull
[code]

[2017-10-05 13:51] llxia commented on #247
@TianyuZuo Could you take care of this issue? Thanks.

[2017-10-05 15:02] pshipton commented on #153
By all means, please open a Pull Request on https://github.ibm.com/runtimes/openj9-website to contribute this. I'm sure the docs team will help integrate it into the website.

[2017-10-05 15:23] paulcheeseman commented on #153
I've opened [an issue](https://github.ibm.com/runtimes/openj9-website/issues/98) against the openj9-website repo.

[2017-10-05 17:31] pdbain-ibm opened #252 "libjvmtitest.so is missing"
This is causing issue https://github.com/eclipse/openj9/issues/238
libjvmtitest.so is an example JVMTI agent used for JVMTI and Attach API tests.
Source is in openj9/test/cmdLineTests/jvmtitests/.

[2017-10-05 17:54] pshipton commented on #153
Sorry, copy/pasted the wrong link by accident, the correct website link is http://github.com/eclipse/openj9-website (corrected in previous comment as well).

[2017-10-05 18:25] pdbain-ibm commented on #252
This is also causing https://github.com/eclipse/openj9/issues/241.

[2017-10-05 18:58] pshipton opened #254 "PROPOSAL: committers use "squash and merge" or "rebase and merge""
For a cleaner history, committers can use "squash and merge" https://github.com/blog/2141-squash-your-commits or "rebase and merge" https://github.com/blog/2243-rebase-and-merge-pull-requests to merge all commits. This means OpenJ9 will no longer have merge commits in the history, which reduces clutter and makes it easier to see what has changed between two SHAs.

If agreed, we can modify the repo

[2017-10-05 19:24] bjornvar opened #257 "Problems recompiling JDK after running OpenJ9 tests"
OpenJ9 testing requires that you set the `SPEC` environment variable. That variable is also used by JDK compilation, but not with the same value. Testing uses values like `linux_x86-64`, while compilation uses the path to the `spec.gmk` file.

The result is that I can’t run a compile after testing. There are obvious workarounds, but the user has no reason to know that compilation uses the `SPEC` v

[2017-10-05 20:06] charliegracie commented on #254
I personally like the merge commits and the information they provide.

Most developers generally squash their scratch commits before opening PRs so if there are multiple commits in a PR those commits break the work up into distinct changes.  If you use the squash and merge option you lose this information.  I would really like to keep this information.

If we really do not want the merge commits t

[2017-10-05 20:20] pshipton commented on #254
Agree with the points about using rebase and merge. The squash and merge would only be for times when the developer didn't squash but should have.

[2017-10-05 20:26] pshipton commented on #254
We can leave all the options available, and the committer could squash or rebase and merge when appropriate, based on their judgement, instead of always creating a merge commit.

[2017-10-05 21:58] DanHeidinga commented on #254
Having a merge commit makes it easy to find the PR that the set of commits came from.  This makes it easier to revert PRs when necessary.  I don't know of another way to map a commit back to the PR that created it.

What's the purpose behind this proposal?

[2017-10-06 02:43] JasonFengJ9 commented on #223
It appears the reasonable approach here is to apply a JCL patch which removes all references to `j.l.String` field `coder`.

[2017-10-06 04:05] pshipton commented on #254
To reduce the clutter in the history and make is easier to see what changed between two builds.
When using squash and merge we saw the pull request number is added at the end of the commit message in brackets. However I see this doesn't occur with rebase and merge.

[2017-10-06 06:33] DanHeidinga commented on #170
One other factor to consider here is which releases are Long Term Support (LTS) releases.  Currently, Java 8 is LTS while both Java 9 and 18.3 will not be.  The next LTS release will be 18.9.

Does this impact our test organization?  We need to keep LTS test levels around for longer than non-LTS levels.  While there may be s short period of overlap while i.e.: both 9 & 18.3 are active, the usual c

[2017-10-06 08:47] AlexBudesteanu commented on #53
Hello everyone! has anyone succeeded in building for armhf?

I am getting this error when trying to cross-compile from a Linux x64 environment:

Creating support/modules_libs/java.base/server/libjvm.so from J9 sources
Creating support/modules_libs/java.base/libjsig.so from J9 sources
Creating support/modules_libs/java.base/libverify.so from 2 file(s)
/root/openj9-openjdk-jdk9/build/linux-arm-norma

[2017-10-06 13:45] #198 closed

[2017-10-06 14:00] jdekonin commented on #87
I haven't been able to reproduce this issue since integrating your work here Keith.  Thanks for removing this headache.

[2017-10-06 14:09] keithc-ca commented on #87
Closing: fixed via https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/46.

[2017-10-06 14:09] #87 closed

[2017-10-06 14:35] jdekonin commented on #36
I started playing with this two nights ago.  Please assign to me and I'll have 2 wip pull requests and while I can certainly take comments, there are changes that I have to go bad and investigate/resolve still.  These changes do not compile as yet.  I believe I get through a lot (if not all) of java compilation and but I am failing in compiling openj9 native code.  I get through OMR native compile

[2017-10-06 14:41] mikezhang1234567890 commented on #216
This feature would be needed if we add tests for future versions of Java. I did not realize we could move or rename the playlist.xml to exclude from testing.

[2017-10-06 16:03] bjornvar opened #263 "VarHandles - Cache generic handleTable in VarHandleOperations subclasses"
Currently, the MethodHandles for `VarHandle.handleTable` are generated for each VarHandle. We benefit from some caching in MethodHandle, but we can do better than that by caching the entire generic table per type. This will eliminate the MethodHandle lookups from the VarHandle construction.

**High-level design**
Split the handle table generation into two steps:
1) Generate generic table
Produces

[2017-10-06 16:04] #247 closed

[2017-10-06 16:17] llxia commented on #244
@pdbain-ibm I think the UI only allows me to assign to committers.

[2017-10-06 16:56] vsebe commented on #213
If removed, please fix the openj9 sanity and extended tests in the internal builds.

[2017-10-08 00:36] markehammons opened #267 "AOT does not seem to show any benefit for openJ9"
Hi all,

I finally got around to benching more, and I'm using an updated version of this small bench [here](https://github.com/markehammons/languageshootout-jmh/commit/23659fd497da237720918e5cb8784adf7778fb91). So I learned how to activate class sharing and decided to try to measure its effect on singleshot performance of these benches. JMH's singleshot mode runs a method only once, without any wa

[2017-10-09 01:23] DanHeidinga commented on #223
Please engage with @andrew-m-leonard and company to get a patch for this change submitted to OpenJDK's 18.3 (formerly Java 10) repo.  Getting this kind of thing fixed upstream is the best outcome for everyone - more maintainable code for OpenJDK and fewer patches for OpenJ9

[2017-10-09 01:51] DanHeidinga commented on #254
Given experience monitoring OMR's history, I prefer the merge commits.  It makes it clear when a set of commits was merged, allows finding the PR, and preserves logical commits.

Any feedback on this from other committers?  @mstoodle, others?

[2017-10-09 03:43] dsouzai commented on #267
I ran this test using `-f1` since I was interested in the general behaviour rather than getting good perf numbers.

The openJ9 version I used was:
[code]

 I did these three runs:

1 (default): `jvmArgs='-Xjit:verbose={compilePerformance},vlog=vlog'`
2 (AOT cold): `jvmArgs='-Xjit:verbose={compilePerformance},vlog=vlog -Xshareclasses'`
3 (AOT warm): `jvmArgs='-Xjit:verbose={compilePerformance},vlog

[2017-10-09 12:58] ashu-mehra commented on #179
It looks like the problem is unlike `-Xdump:what`, `-Xtrace:what` does not show the "effective" trace options; it just displays all the trace options specified, including the defaults.
Output of `-Xtrace:what` is not really useful if it is not showing the trace options which will be effective during runtime.

[2017-10-09 15:59] adamfarley opened #268 "JDK10: LambdaForm Substitute Lacks the Kind Enum"
Several classes in JDK10, including java.lang.invoke.MethodHandleImpl, require an enum called "Kind" which is located in the LambdaForm class (same package).

The OpenJ9 substitutes its own copy of the LambdaForm at build time. This substitute class does not have the Kind enum.

We need to solve this if we are to build JDK 18.3 with OpenJ9.

Can we remove the need for this enum, or add this enum t

[2017-10-10 01:15] #41 closed

[2017-10-10 01:20] DanHeidinga commented on #268
[code]
+1 to this approach.

We want to introduce minimize changes to the OpenJDK code as that makes it easier to track the upstream OpenJDK project.

[2017-10-10 08:43] vootelerotov opened #269 "An issue with threads starting when native method `Thread#startImpl` is prefixed"
New threads do not seem to start when `Thread#startImpl` is prefixed and JIT is enabled.

To reproduce the issue:

1. Patch `Thread#startImpl` to have a prefix `pre_` and add a method with the original name that delegates to the native method. Both the patched class file and the code used to create it are present in the attached archive.

2. Create a simple native agent that sets the native prefix

[2017-10-10 08:53] Bluevisitor commented on #268
Hmm, it seems the LambdaForm class also lacks other bits and pieces, like the constructor LambdaForm(int,Name[],int,boolean,MethodHandle,Kind).

How badly do we need this override class for OpenJ9?

[2017-10-10 09:16] Bluevisitor commented on #268
I'm told we do need this class, and we do need those methods replaced by stubs, mainly so that any use of them doesn't cause unintended consequences in the OpenJ9 (which supports lambdas, but doesn't use this class, and might not react well to its use).

I plan to update this issue with a list of the api elements we need to add to the j9jcl substitute.

[2017-10-10 10:42] Maldivia opened #270 "Fails to start on Windows Subsystem for Linux (WSL)"
The AdoptOpenJDK builds of OpenJ9+OpenJDK fails to start on WSL, they just hang during startup.
IBM JVM 8 SR5 also fails to start.

For comparison, IBM 8 SR4 FP11 starts up fine, as does Oracle 9 and Zulu 9, see `-version` output below (all Linux x86_64 binaries):

[code]

Also reported this a few weeks back on the WSL github, but only today tested with IBM 8 SR5, so figured I should better report

[2017-10-10 13:35] DanHeidinga commented on #269
@gacholio Can you take a look at this?  The jvmti native prefix functionality isn't working in 8sr5 and OpenJ9

[2017-10-10 13:37] DanHeidinga commented on #268
When creating methods that are compile stubs for OpenJDK, there's an existing pattern to use - with a well named class.  @JasonFengJ9 do you have a pointer to an example of this?

[2017-10-10 13:44] mpirvu commented on #267
Just a few general remarks:
1) For a method to be AOT compiled its RomClass needs to be present in the shared class cache (SCC). For that to happen the class loader needs be "SCC aware". If defining your own class loader, the easiest way to be SCC aware is to have your class loader extend the URL class loader.

2) Some methods are simply not AOT eligible for AOT. In particular natives and JSR292 r

[2017-10-10 14:11] jdekonin opened #272 "Replace strcat with sprintf in runtime/jcl/common/jclcinit.c"

[2017-10-10 14:27] JasonFengJ9 commented on #268
@DanHeidinga, following code snippet is the pattern to add a compile stub:
[code]

[2017-10-10 14:37] JasonFengJ9 commented on #268
In addition, `java.lang.invoke.LambdaForm$NamedFunction.<init>` requires an implementation as per following stacktrace discovered earlier (reported in an internal PR before going open) when running `Class.forName("java.lang.invoke.MethodHandleImpl");`
[code]

[2017-10-10 14:56] groeges opened #273 "Remove use of `aspp` executable in build processes for AIX"
In the build process for AIX an `aspp` executable is used.  This `aspp` executable does not seem to be a generally available executable. As such OpenJ9 will not be able to be built on AIX by people that do not been provided this `aspp` executable. In order to make OpenJ9 able to be built on AIX the `aspp` executable needs to be removed and alternative generally available build process included.

[2017-10-10 15:01] amicic commented on #204
This does not seem to be a recent regression nor anything specific to the AdoptOpenJDK (vs IBM) JDK. I see a similar gap in IBM's Java 8 SR4 release, too.

Some gap is due to small default Nursery (1/4 of heap), and more frequent local GCs. The test I performed was then on a large Nursery, to isolate the remaining gap. Tests were on another large machine  (48way, 2 numa nodes) machine with  -Xmx15

[2017-10-10 15:03] fjeremic commented on #254
We as committers can make the request for developers to squash before merging. As @charliegracie mentioned most developers already do this anyway so it is not much of an issue.

[2017-10-10 15:27] adamfarley opened #274 "DelegatingMethodHandle class changes in OpenJDK18.3"
The OpenJDK with Hotspot version of DelegatingMethodHandle.makeReinvokerForm lacks a String argument, and other classes omit this argument when calling it.

Though this is only a stub, we need a matching method signature in order to compile OpenJDK18.3 with OpenJ9.

[2017-10-10 15:27] keithc-ca commented on #254
I'd like to see committers more often ask that PRs be rebased. I find it more difficult to navigate history when the base of a PR and the merge commit are a week or more apart.

[2017-10-10 15:29] Bluevisitor commented on #274
Pull request https://github.com/eclipse/openj9/pull/275 was created to fulfill this issue.

[2017-10-10 15:34] Bluevisitor commented on #268
Summary so far:

To compile OpenJDK with OpenJ9, with no errors from this class, the following additions should be made to the j9jcl LambdaForm stub class:

- [ ] The new LambdaForm constructors.
- [ ] The LambdaForm enum called "Kind".
- [ ] The new constructors in the LambdaForm inner-class called "NamedFunction".

Also, Jason recommends a "java.lang.invoke.LambdaForm$NamedFunction.<init>" imple

[2017-10-10 15:35] pshipton commented on #270
Thanks for opening a Issue.

I tried it and it did start for me, but it takes a while (30 sec). Seems there is a search happening from omrvmem_reserve_memory() for 256MB of memory, where its searching one page at a time, which is taking a long time.

[2017-10-10 15:44] Maldivia commented on #270
Yes, I can confirm that some patience does help, just not used to `java -version` not being near instant -- especially not taking 35sec, or 3m39sec.

[code]

[2017-10-10 15:44] pshipton commented on #270
I guessing the problem is in findAvailableMemoryBlockNoMalloc()

[2017-10-10 16:10] hangshao0 opened #276 "Incorrect behaviour of -Xshareclasses:nobootclasspath"
-Xshareclasses:nobootclasspath should only disable caching of classes loaded by the bootstrap class loader. The classes loaded by the non-bootstrap class loaders should still be cached.

It seems that when "nobootclasspath" is set, no romclasses are cached now:

[code]

[2017-10-10 16:35] Leonardo2718 opened #277 "Investigate IL validation failures"
Enabling the ILValidator, via the JIT option `useIlValidator`, exposes a number IL validation errors when running something as simple as `java -version`.

These should be investigated and resolved.

E.g.

[code]

[2017-10-10 16:42] Leonardo2718 commented on #277
It should be noted that the ILValidator is still experimental in Java. Some issues it reports may be false positives. In these cases, issues should be opened (either against Eclipse OpenJ9 or Eclipse OMR, depending on the nature of the error) to fix the ILValidator.

[2017-10-10 18:02] mpirvu opened #278 "Incorrect usage of alloca in the JIT code"
There are five places in the JIT (in j9method.cpp) that use alloca to allocate stack memory in a nested scope and then use the pointer returned by alloca outside that scope.
E.g.
[code]
This may be incorrect because once the nested scope terminates the stack memory returned by alloca may be used for something else.  I say __may__ because the documentation for alloca says:
[code]
I am not sure whet

[2017-10-10 18:08] pshipton commented on #270
@mpirvu The problem allocation is coming from the JIT. First it uses a startAddress, which fails but takes a long time, and then it retries without a specified startAddress. It should work better if the VMEM_ALLOC_QUICK flag is specified.

Also it seems the port library can be improved for this case. The allocated address is before the requested startAddress, and the search direction is forward. T

[2017-10-10 18:14] JasonFengJ9 commented on #223
An `OpenJDK` patch should replace all occurrences of `j.l.String` field `coder` reflection with method reflection for `coder()` instead. A code snippet to get `coder` of a string instance should look like following:
[code]
The target file to be patched is `jni_util.c`.
@andrew-m-leonard, pls let us know if anything else is needed to submit a patch for this change to OpenJDK Java 18.3 repo.

[2017-10-10 18:19] 0dvictor opened #279 "CI Copyright Check complains changes from .gitignore"
Pull Request with changes inside `.gitignore` files causes Copyright Check failure during CI test, since they do not contain a copyright declarations.
Do `.gitignore` files need copyright declarations? If not, should Copyright Check skip these files?

FYI, the test produced this failure can be found at: https://ci.eclipse.org/openj9/job/PullRequest-CopyrightCheck/247/

[2017-10-10 18:30] JasonFengJ9 commented on #268
@Bluevisitor `java.lang.invoke.LambdaForm$NamedFunction` implementation might not be required because this is a runtime exception. The testcase was not valid for OpenJ9.
Pls work on those compilation errors instead.

[2017-10-10 18:48] dsouzai commented on #278
From
[code]
and
[code]
it looks like `TR::Region` does have the first segment allocated on the stack. We should switch to using regions in the five uses of `alloca` in `j9method.cpp`; I doubt the constructor is going to be noticeably expensive.

[2017-10-10 18:57] gacholio commented on #269
I have identified the source of the problem - working on a fix now.

[2017-10-10 20:16] mpirvu commented on #270
I agree in both respects:
(1) The JIT should use the VMEM_ALLOC_QUICK flag which looks at smaps to find a suitable place. We were thinking of doing something similar based on smaps I am glad the supporting routine is already implemented.
(2) If findAvailableMemoryBlockNoMalloc() fails, then apply strategy 2 where, if the OS gives us an address lower than the starting point, stop the search.

[2017-10-10 20:18] pshipton commented on #273
It appears aspp is only used to on JIT code, including one omr file.

tr.source/trj9/p/runtime/J9PPCArrayCopy.spp
tr.source/trj9/p/runtime/J9PPCArrayCmp.spp
tr.source/trj9/p/runtime/J9PPCArrayTranslate.spp
tr.source/trj9/p/runtime/J9PPCEncodeUTF16.spp
tr.source/trj9/p/runtime/J9PPCCompressString.spp
tr.source/trj9/p/runtime/J9PPCCRC32.spp
tr.source/trj9/p/runtime/Math.spp
tr.source/trj9/p/runtime/

[2017-10-10 21:03] kgibm opened #284 "Show owner of J9VMInternals$ClassInitializationLock in javacore"
A customer experienced a deadlock but it was difficult to diagnose. The javacore didn't detect the deadlock and the thread that was blocked was waiting on a `J9VMInternals$ClassInitializationLock`, but it showed as `<unowned>`, so it was difficult to understand which other thread was part of the deadlock (through code inspection, we deduced it was a class static initializer). Here's the thread blo

[2017-10-10 21:06] jdekonin commented on #53
@AlexBudesteanu, a bit of review and I believe I understand what is happening here.  Cross-compiling with openj9 currently generates binaries only for the target images.  Technically its attempting to use the target generated binaries on x86 which is the file format error.

Cross-compiling openjdk binaries are generated for the build-jdk (host system) and then for the target images (jdk/jre).  Its

[2017-10-10 21:12] 0dvictor commented on #279
@AdamBrousseau In case if you are interested.

[2017-10-10 21:14] charliegracie commented on #279
The `.gitignore` should have a copyright header.

[2017-10-10 21:17] AdamBrousseau commented on #190
Changing to WARN or ERROR didn't seem to do anything
https://travis-ci.org/AdamBrousseau/openj9/builds/281648982
Although, we only get ~350 lines into make sanity before we overflow. I guess we would need to change the compile to be less verbose? Don't know if that's an option.
There are people that have talked about workarounds for this
https://stackoverflow.com/questions/26082444/how-to-work-aro

[2017-10-10 21:30] TianyuZuo opened #285 "Automatically update sha sum of asmtools.jar and check the downloaded jar's sha"
* asmtools.jar is built weekly so the sha sum of it is changing
* Currently we hardcoded the sha1 sum of every test dependent jar file, we should grab sha1 sum values from download sources and compare it with the downloaded jar.
* sha sum check of asmtools.jar is temporarily excluded, will be back once the second requirement is met.

[2017-10-10 21:31] 0dvictor commented on #279
I see, I'm going to add following to our `.gitignore`:
[code]

[2017-10-10 21:56] AdamBrousseau commented on #190
ok so `travis_wait` is used to provide output when none is produced by the running command(s). This is not what we want. Once the `make all` command was complete, all the compile output was printed at once.
https://travis-ci.org/AdamBrousseau/openj9/builds/286241308

[2017-10-11 00:41] pshipton commented on #270
I'm also wondering where the startAddress comes from. I wasn't able to find it in the code. Or why a start address is used at all. It would also work if the requested startAddress was lower in memory such that the memory allocation was in range.

[2017-10-11 00:42] BrijeshNekkare opened #287 "Failure to dump system core in a docker environment by default"
Am unable to get system cores in a docker environment by default

**Recreate and related error:**
root@xxxxx:~/openj9-openjdk-jdk9# ./build/linux-x86_64-normal-server-release/jdk/bin/java -Xdump:system:events=vmstart -version
	JVMDUMP039I Processing dump event "vmstart", detail "" at 2017/10/11 00:29:17 - please wait.
	JVMDUMP032I JVM requested System dump using '/root/openj9-openjdk-jdk9/core.201

[2017-10-11 02:33] mpirvu commented on #270
The start address is determined by `J9::CodeCacheManager::chooseCacheStartAddress(size_t repositorySize)`
The whole point of requiring a specific address is to have the code cache repository in the vicinity of the JIT dll so that trampoline helpers can be eliminated. The code for `chooseCacheStartAddress` takes the address of some symbol in the JIT dll, subtracts some SAFE_DISTANCE_REPOSITORY_JITL

[2017-10-11 06:55] sabkrish commented on #14
@DanHeidinga - Dinakar also faced the same issue but the solution which worked for me didn't work for him. For him, when he switched from Wireless network to Wired network, it worked. So, it appears to be some problem with the network cache. I think the solution that worked for me mayn't work for everyone. So, i'm planning to close the PR i had raised with this change.

[2017-10-11 10:32] adamfarley commented on #274
This is now the primary pull request for this, despite the fact that the checks still fail: https://github.com/eclipse/openj9/pull/290

@pshipton - I have completed the ECA, using the same email address, and I have added the signed-off-by field. The check still fails.

Could it be the web interface that's causing this bug (as that's how I made the changes)? I noticed that, under Settings->Email->"

[2017-10-11 10:55] adamfarley commented on #274
Ok, it works when we're using a direct desktop push (e.g. from egit): https://github.com/eclipse/openj9/pull/291

I'll put a summary of this "can't commit to openj9 via web interface" issue into slack, to figure out (a) if it's a bug and (b) where it should be raised.

[2017-10-11 11:31] adamfarley commented on #274
pshipton asserts that we cannot use the web interface for the openj9 project at the moment. Thers an open bug for this, and it will be fixed eventually.

For now, please review and merge #291 to resolve this issue.

[2017-10-11 12:52] adamfarley commented on #274
Thanks Peter. :)

[2017-10-11 12:52] #274 closed

[2017-10-11 12:58] adamfarley opened #292 "sun_misc_Unsafe.cpp fails to register 18_03 methods"
sun_misc_Unsafe.cpp is meant to run registerJdkInternalMiscUnsafeNativesJava18_3 from Java_jdk_internal_misc_Unsafe_registerNatives(JNIEnv *env, jclass clazz)

The "if" statement surrounding the 18_3 method call does not appear to work, and a build will fail after it begins the "Creating support/modules_libs/java.base/libjsig.so from J9 sources" step with an UnsatisfiedLinkError: Unsafe.objectFiel

[2017-10-11 13:14] JasonFengJ9 opened #293 "Separate binaries (libjvm.so, etc.) required for Java 18.3"
This issue was brought up during investigation of `Java 18.3` build against `openj9-openjdk-jdk18.3`.

Current `OpenJ9 Java 9` builds doesn't have `classlib.properties` file to specify vm shape value, and `J2SE_SHAPE_LATEST` is defined to latest VM shape `J2SE_SHAPE_B165`. However `Java 18.3` build requires a newer shape value `J2SE_SHAPE_B1803` for `J2SE_SHAPE_LATEST`.
Hence separated binaries ar

[2017-10-11 13:22] JasonFengJ9 commented on #292
The reason "changing classlib.properties to 1803 doesn't appear to fix the issue" might be due to that the binaries like `libjvm.so` weren't copied to correct locations. One way to confirm that is to identify the command line hitting `UnsatisfiedLinkError: Unsafe.objectFieldOffset1(Class,String)J`, and verify if the `libjvm.so` binary files are correct for that running JVM.

Another hack could be

[2017-10-11 13:35] DanHeidinga commented on #293
Two thoughts:

1. Can we add a classlib.properties file temporarily?  This could be generated by the build scripts in the 18.3 openjdk closed/ directory.

1. Can we pass in an environment variable or similar to pick the shape?

Just as we've continued to use runtime checks for java 8 vs 9 to enable easy testing / validation that the VM works with both releases, we should continue with that approac

[2017-10-11 13:36] pshipton commented on #292
The correct libjvm.so files are the b156 ones.
redirector/libjvm_b156.so is renamed to libjvm.so and goes in lib/jvm and lib/server
j9vm_b156/libjvm.so is copied to lib/compressedrefs/libjvm.so

[2017-10-11 13:41] pshipton commented on #292
and classlib.properties if found in the lib directory.

[2017-10-11 14:01] pshipton commented on #293
Besides classlib.properties, which requires having a file with the correct contents put in the right place, the VM can peak at some file in the build structure to determine between Java 9 & 18.3 automatically. I checked libjava.so but I don't find any new symbols in Java 18.3 atm, likely later it coiuld be used. If nothing else, rt.jar can be used for now, as we can use the java preprocessor to in

[2017-10-11 14:15] JasonFengJ9 commented on #293
Adding a `classlib.properties` file seems a reasonable solution which is consistent with `Java 8 & 9`.

This issue can be resolved along with https://github.com/eclipse/openj9/issues/292 after confirming that `Java 18.3` works with a `classlib.properties`.

[2017-10-11 14:28] DanHeidinga commented on #287
@BrijeshNekkare Can you elaborate on what you're doing?

From my experience, generating core files in a docker image isn't particularly useful most of the time as the cores are lost when the image exits.  Unless the image has been configured to write cores to a mapped volume or upload them in some way, they aren't preserved.

The Dockerfiles in the buildenv/ directory of the project serve as an ex

[2017-10-11 14:36] pshipton commented on #293
classlib.properties works well for us, but I recall having problems in the past with missing or incorrectly configured classlib.properties files, which then requires us to debug the issue and figure out what is wrong. Automatic detection has the benefit of just working.

[2017-10-11 14:41] adamfarley commented on #268
Here's a pull request for everything except the contents of the Kind enum.

https://github.com/eclipse/openj9/pull/294

[2017-10-11 14:46] whitingjr opened #295 "Remove or hide unsupported tools."
I tried using a couple of tools bundled in the download. These didn't work. Discussion on the [forums](http://dev.eclipse.org/mhonarc/lists/openj9-dev/msg00002.html) mentions these (amongst others) are unsupported.

 To avoid confusion can the tools be removed or hidden ?

[2017-10-11 16:00] pshipton commented on #295
I think they have already been removed via ibmruntimes/openj9-openjdk-jdk9#54
I don't see the unsupported tools in a fresh OpenJ9 build. If the builds on AdoptOpenJDK.net still have them it needs to be refreshed, you might need to open an issue there. I'll have to download and look.

[2017-10-11 16:02] pshipton commented on #295
Actually we can tell from the timestamp on the AdoptOpenJDK.net site - 16 September 2017. The latest build it quite old.

[2017-10-11 16:09] pshipton commented on #295
@whitingjr I'll leave it to you if you want to open an Issue at https://github.com/AdoptOpenJDK/openjdk-build/issues to request a refresh of OpenJ9. I'm going to close this one since OpenJ9 itself is fine. Please go ahead if you want to open another Issue here to request support for the tools.

[2017-10-11 16:09] #295 closed

[2017-10-11 16:20] amicic commented on #204
@ktbriggs should be aware of this. It's a microbench that seems to be sensitive to object layout and Scavenger may make it sub-optimal.

[2017-10-11 17:14] 0dvictor commented on #279
Fixes have been merged. Closing this issue.

[2017-10-11 17:14] #279 closed

[2017-10-11 18:48] JasonFengJ9 commented on #268
Chatted with Adam about this, I am going to implement `j.l.i.LambdaForm$Kind`.
Attempting `Java 18.3` build against `openj9-openjdk-jdk18.3` such that I can verify the change to `j.l.i.LambdaForm$Kind` can fix the compilation error.

[2017-10-11 19:43] pshipton commented on #270
For the record, in one particular run the startAddress was 00007F66EFA00000 and the OS returned memory at 00007F66CF0D0000. The port library cycled through addresses in 4K increments to 00007F66F1200000 before failing.

[2017-10-11 20:26] JasonFengJ9 commented on #293
@pshipton just suggested to use `release` file coming with OpenJDK instead which has following content:
[code]
J9 can read the file, get the value for `JAVA_VERSION`, if it is not `9`, then it is `Java 18.3`.

[2017-10-11 20:35] llxia commented on #206
@Mesbah-Alam, could you take care of this issue? Thanks.

[2017-10-11 20:54] Mesbah-Alam commented on #206
@llxia We need to clone stf and openjdk-systemtest from github and compile them as part of the build and test compilation of this Jenkins job. Then we'd have to update the playlist.xml of the system tests with the correct path to stf.pl etc svt artifacts so that the tests run off of the latest svt test materials and not point to an obsolete location.

[2017-10-12 00:03] #269 closed

[2017-10-12 02:05] BrijeshNekkare commented on #287
@DanHeidinga

Yes i did map docker container filesystem into my native filesystem. My thought was to build and test in docker environment, debug outside of it (wherever applicable).

For example
1. Crash analysis using DDR, KCA
2. hcd file analysis using Health Center
3. Memory leaks using MAT etc

Another thought (though not related to this issue) was build in docker and use outside of it.
1. map

[2017-10-12 03:30] DanHeidinga commented on #287
The existing Dockerfiles in buildenv/ directory are a form of "executable documentation" that describe the minimum requirements to build OpenJ9.

Your approach of creating a build, test, and debug env is cool and worth investigating further.  Starting from the existing Dockerfile and building on top of it - adding additional requirements, tools, mapped volumes, etc - would be a good way to go abou

[2017-10-12 07:41] chandrams opened #301 "Failed to connect to a java application on remote server using jconsole"
Failed to connect to a java application running on a remote server using **jconsole** with _openjdk9-openj9_ build, it works fine with openjdk9-hotspot build

[code]

Worked fine with _openjdk9-hotspot_ build

[code]

[2017-10-12 09:00] myspringchen opened #302 "J9 throws a verify error (stack shape inconsistent), while HotSpot does not"
J9 throws a verify error for the next file, while OpenJDK's HotSpot can run the app without throwing verifyerrors. I'm not very sure whether J9 is too strict for this.

Besides, if you cannot reproduce the difference or it is HotSpot's error, please also let me know.

How to reproduce:
(1) download the file https://jbox.sjtu.edu.cn/l/xnc5De and unzip it.
(2) run: java Harness fop
(3) Result:
IBM's

[2017-10-12 09:02] myspringchen commented on #148
Hi, ChengJin01, may you also check this issue? It is also a verification issue.
https://github.com/eclipse/openj9/issues/302

[2017-10-12 12:46] ChengJin01 commented on #302
Will investigate what was happening in there.

[2017-10-12 13:25] DanHeidinga commented on #302
@ChengJin01 Please check both J9 and Hotspot using `-Xfuture` as that matches the level of verification done when JCKing the JVM.

[2017-10-12 13:38] DanHeidinga commented on #51
I've created two additional labels to track work related to OpenJDK projects: `project:panama` & `project:valhalla`

[2017-10-12 13:39] DanHeidinga commented on #51
Closing this again - it can be reopened when / if new labels are being proposed

[2017-10-12 13:44] mstoodle commented on #254
I think the review process (i.e. from PR created to PR "merged" into the master branch) can be divided into two basic activities: 1) ensuring that the code changes are proper and complete according to the standards of the project, and 2) ensuring the code is "merged" properly into the master branch.

The first part works best if contributors do *not* rewrite history (i.e. squash) any commits becau

[2017-10-12 15:59] groeges opened #303 "OpenJ9 sanity tests fail on OpenJ9 build with OpenJDK10 (18.3)"
When running the Sanity tests against a build of OpenJ9 with  OpenJDK10 (18..3) the following test suites fail.
[code]
These fail on these tests:
[code]
because the tests retrieve the system properties and check the java.version.
The tests are looking for java.version starting with 9 where the java.version returned from this jdk is '10-internal'.

Either the test frameworks needs to detect this ne

[2017-10-12 16:07] liqunl opened #304 "Optimization opportunities on Unsafe.ensureClassInitialized()"
`Unsafe.ensureClassInitialized()` is a jni method to initialize a class if it hasn't been initialized. Calling to this method will always land in the VM regardless of the class' initialization status. Since a class will only need initialization once, one potential optimization is to emit a check on the initialization status of the class in the jit and skip the call to `Unsafe.ensureClassInitialize

[2017-10-12 16:09] pshipton commented on #301
@chandrams What JVM is running on the remote server, Hotspot or OpenJ9? There is no attach compatibility between Hotspot and OpenJ9, you need to use the same type of JVM to connect.

[2017-10-12 16:24] TianyuZuo opened #305 "enable cmdLineTests in OpenJ9"
Most of cmdLineTests are capable to compile and run in OpenJ9, so we should enable those passing tests to enlarge our test coverage.

[2017-10-12 16:37] fjeremic opened #306 "Add a better project description"
When searching for "OpenJ9" on GitHub or even Google the description is what gets picked up (ex. [GitHub](https://github.com/search?utf8=%E2%9C%93&q=openj9&type=) or [Google](https://www.google.ca/search?q=openj9)). We should add a better, more descriptive project description, similarly to how [OMR](https://github.com/eclipse/omr) does. And perhaps we can add a link to the website in the descripti

[2017-10-12 16:52] ChengJin01 commented on #302
The results on our build and Hotspot indicates:

1) Hotspot always works with and without -Xfuture
jdk-9_142/bin/java  -version
java version "9-ea"
Java(TM) SE Runtime Environment (build 9-ea+142)
Java HotSpot(TM) 64-Bit Server VM (build 9-ea+142, mixed mode)

[1] /jdk-9_142/bin/java  -Xfuture  Harness fop
===== DaCapo unknown fop starting =====
===== DaCapo unknown fop PASSED in 794 msec =====

[

[2017-10-12 16:59] llxia opened #307 "Standardized test project names in OpenJ9"
Current test project names in OpenJ9 are not standardized. We would like to rename test project names by following the rules below:
- all test project are named with lower-case with underscore
- change TestExample to example
- change OpenJDK_Playlist to openjdk_regression
- group projects by category (i.e., SVT_LoadTest and SVT_Modularity should be under svt)
- avoid repeating word "test" in proje

[2017-10-12 17:11] DanHeidinga commented on #304
Running the following find command
[code]
over the full OpenJDK for Eclipse OpenJ9 code base results in the following hits:
[code]

Of particular interest are the files related to String concatenation and Lambda expressions:
[code]

[2017-10-12 17:16] DanHeidinga commented on #306
Thanks for suggesting this @fjeremic.  It's been on my "I should do that list" for a while now.

I'll leave this for a day or two to allow for feedback on the proposed wording and then will open the eclipse bugzilla to get it changed.

[2017-10-12 18:22] chandrams commented on #301
@pshipton I connected using jconsole from Oracle Java9 (from my Windows 7 laptop) to the remote java application running on Ubuntu machine and below is the behavior with various JDKs:
- java application running on openjdk9-openj9, failed to connect from jconsole (oracle Java9) with the above exception
- java application running on openjdk9-hotspot, able to connect from jconsole  (oracle Java9)
- j

[2017-10-12 18:37] chandrams commented on #301
I tried the following too:
- java application running on IBM Java8 SR5 build (on ubuntu), able to connect with jconsole running on IBM Java8 SR5 (on Windows)
- java application running on openjdk9-openj9 build (on ubuntu), failed to connect with jconsole running on IBM Java8 SR5 (on Windows). Below is the exception seen

[code]

[2017-10-12 19:49] mstoodle commented on #306
Suggested text: OpenJ9: A Java Virtual Machine for OpenJDK that's optimized for low footprint, quick start-up, and high throughput.

[2017-10-12 19:50] mstoodle commented on #306
Alternate: OpenJ9: A Java Virtual Machine for OpenJDK optimized to save you money in the cloud.

[2017-10-12 20:10] 0xdaryl commented on #306
I like @mstoodle's first suggestion with a couple of minor word tweaks:  "OpenJ9: A Java Virtual Machine for OpenJDK that's optimized for small footprint, fast start-up, and high throughput."

[2017-10-12 22:05] ChengJin01 commented on #302
It seems the issue was caused by the incorrect count of local variables when decompressing the stackmap data in verifier as follows:

/runtime/bcverify/bcverify.c
parseLocals (J9BytecodeVerificationData * verifyData, U_8** stackMapData, J9BranchTargetStack * liveStack, IDATA localDelta, IDATA localsCount, IDATA maxLocals)
{
...
	if (localDelta < 0) {
		/* Clear the chopped elements */
		for (;loca

[2017-10-13 03:44] BrijeshNekkare commented on #302
In verifyerror output, varibles should be spelt as variables

[2017-10-13 04:38] ChengJin01 commented on #302
@BrijeshNekkare,
Thanks for reminder. Will update the output.

[2017-10-13 05:06] samkamer commented on #306
I have a slightly different view. Someone directly searching for OpenJ9 or Google is going to get multiple links pointing to the various OpenJ9 resources. Even official resources that will show up are multiple - OpenJ9 website at eclipse foundation, OpenJ9 *repos (plural)* on github and so on. As we have multiple GitHub repos related to OpenJ9, the description of these should clearly identify the

[2017-10-13 05:59] chandrams commented on #301
No, I had tested with the OpenJ9 build (OpenJDK9-OPENJ9_x64_Linux_20171110.tar.gz) from AdoptOpenJDK.net

[2017-10-13 06:09] chandrams commented on #301
Started only the *rmiregistry*, it failed with the openjdk9-openj9 build with the below exception, it worked fine with IBM Java8SR5 and openjdk9-hotspot.  Not sure if this is related to this issue, should I open a new issue for this one?

[code]

[2017-10-13 08:35] andrew-m-leonard opened #313 "OpenJDK8 Sanity test failures in suite J9vmTest_2, J9vmTest_4, & J9vmTest_5"
Running the J9vmTest_2, J9vmTest_4 and J9vmTest_5 testsuites for OpenJ9 built on extensions for OpenJDK8 all fail with these errors:

**Failures:**
+++ j9vm.test.romclasscreation.OrphanROMHashTableDeletionTest: +++
command: /home/admin/mydocker/ccm/openjdk-jdk8/build/linux-x86_64-normal-server-release/images/j2sdk-image/bin/java  -Xcompressedrefs -Xgcpolicy:metronome -Xcompressedrefs  -Xdump -Xms6

[2017-10-13 09:13] andrew-m-leonard opened #314 "OpenJDK8 Sanity test failures in testcases JCL_Test_SE80_0/1:test_setSecurityManager2"
Running the Sanity test suite against OpenJ9 for extensions on OpenJDK8 fails in suites JCL_Test_SE80_0 & JCL_Test_SE80_1:

FAILED: test_setSecurityManager2
java.lang.AssertionError: Unexpected: java.lang.NullPointerException
        at org.testng.Assert.fail(Assert.java:94) from sun.misc.Launcher$AppClassLoader@83e511ef(file:/home/admin/mydocker/ccm/openjdk-jdk8/openj9/jvmtest/TestConfig/lib/test

[2017-10-13 09:33] andrew-m-leonard opened #315 "OpenJDK8 Sanity test failures in testcase JCL_Test_SE80_0/1:test_getVMAccess"
Running the Sanity test suite against OpenJ9 for extensions on OpenJDK8 fails in suites JCL_Test_SE80_0 & JCL_Test_SE80_1:

FAILED: test_getVMAccess
java.lang.AssertionError: SecurityException expected
        at org.testng.Assert.fail(Assert.java:94) from sun.misc.Launcher$AppClassLoader@83e511ef(file:/home/admin/mydocker/ccm/openjdk-jdk8/openj9/jvmtest/TestConfig/lib/testng.jar)
        at org.o

[2017-10-13 09:56] andrew-m-leonard opened #316 "OpenJDK8 Sanity test failures in testcase JLM_Tests_class_SE80_0/1:testFrom_WithCDContainingNullStackFrame"
Running the Sanity test suite against OpenJ9 for extensions on OpenJDK8 fails in JLM_Tests_class_SE80_0 and JLM_Tests_class_SE80_1 :testFrom_WithCDContainingNullStackFrame:

FAILED: testFrom_WithCDContainingNullStackFrame
java.lang.AssertionError: expected:<Parameter stackDepth is 29 but stackFrame is null> but was:<K060F>
        at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:101)

[2017-10-13 11:44] andrew-m-leonard opened #317 "OpenJ9 Sanity test suite not configured correctly for OpenJDK8"
- [ ] Test Cmvc194280.java should be excluded for OpenJ9 as it is for SE90.
- [ ] The test/TestConfig/scripts/build_test.xml JAVAC location is incorrect for the JDK8 image, it should be ..property name="JAVAC" value="${JAVA_BIN}/javac" /...
- [ ] The test/VM_Test/playlist.xml playlist should exclude tests reliant on cfdump (recreateClassTest, CFdumptest), which is not available currently in OpenJ9

[2017-10-13 11:48] andrew-m-leonard commented on #317
- [ ] Test Cmvc194280.java should be excluded for OpenJ9 as it is for SE90.
- [ ] The test/TestConfig/scripts/build_test.xml JAVAC location is incorrect for the JDK8 image, it should be <property name="JAVAC" value="${JAVA_BIN}/javac" />
- [ ] The test/VM_Test/playlist.xml playlist should exclude tests reliant on cfdump (recreateClassTest, CFdumptest), which is not available currently in OpenJ9.

[2017-10-13 12:06] pshipton commented on #301
It might be related, lets keep it to this Issue for now.

java.rmi is listed as a boot module (loaded by the bootstrap classloader), so it should have all permissions. Running with -J-Djava.security.debug=access:failure shows the following. Something is definitely wrong with OpenJ9 permissions or permission checking here.

[code]

[2017-10-13 12:39] andrew-m-leonard commented on #316
I've done a "clean" openjdk8 build and re-compiled and re-run the Sanity tests, and this issue seems to have gone away :-)

[2017-10-13 12:39] #316 closed

[2017-10-13 12:53] ashu-mehra opened #319 "Relevance of CommandLineOptions.html"
I noticed [runtime/gc_doc/CommandLineOptions.html](https://github.com/eclipse/openj9/blob/master/runtime/gc_doc/CommandLineOptions.html) documents good number of GC options. But it appears to be outdated. Are we still maintaining this file or is it obsolete now?

[2017-10-13 14:05] pshipton commented on #319
@dmitripivkine fyi

[2017-10-13 14:15] andrew-m-leonard commented on #216
The current test/TestConfig/resources/excludes also only allows testcase "classes" to be excluded, if I need to exclude a "commandLineTester" type playlist entry, I cannot. the only way is to actually delete the test from the playlist.xml, not evening commenting it out removes it...!

[2017-10-13 14:17] dmitripivkine commented on #319
I believe we do support this list. All options mentioned there should be valid. However it was not updated for a while.

[2017-10-13 16:58] markehammons opened #321 "Bug in OpenJ9's JITC?"
Hi all,

I've been running my stuff on OpenJ9 recently after a lot of the issues (like the one blocking IntelliJ) were fixed. Unfortunately, in one of the apps I wrote using [akka](https://akka.io/), I'm hitting an issue where a benchmark I'm running will freeze and the program will stop functioning, and this issue is related to OpenJ9 as it disappears on Zulu9, but appears within 2-5 iterations o

[2017-10-13 17:26] ymanton commented on #321
Easiest way I can think of is to send `kill -3` to the process periodically, that will cause the JVM to dump javacore files, which are text files that contain Java backtraces for every application thread, the state of locks, etc. You can usually determine if forward progress is being made or if one or more threads are stuck waiting.

[2017-10-13 17:47] #110 closed

[2017-10-13 18:11] markehammons commented on #321
I'm back home with my significantly slower internet and I've confirmed this seems to be a JIT bug. Disabling jit with -Xnojit fixes the problem, and the program fails after a few warmup iterations when I have the default options enabled.

I've attached the jit log from a run that exhibited the hang, as well as two core dumps (one possibly before the problem manifested, one definitely after)

[benc

[2017-10-13 18:13] JamesKingdon commented on #321
When it hangs, is it with high cpu or idle?

[2017-10-13 18:17] markehammons commented on #321
I used your core analyzer to look at the coredumps i gave you, and it looks like a jit thread is hanging or something. It's the largest cpu time user of any thread and grows between the two dumps.

[2017-10-13 18:20] markehammons commented on #321
@JamesKingdon It's idle/near idle. Still some slight cpu usage in the 1-2% range.

[2017-10-13 18:21] JamesKingdon commented on #321
That's not necessarily diagnostic, the jit may just be working through the backlog of methods to be compiled. The verbose log has the same number of compilation starts as it does compilation ends, so it's not stuck in a compilation as far as I can see.

Ok, low cpu would also suggest we're stuck on a lock somewhere.

[2017-10-13 18:25] JamesKingdon commented on #321
Hmm, lock dump doesn't immediately look suspicious. Which thread would you expect to be working in this app?

[2017-10-13 18:29] markehammons commented on #321
@JamesKingdon The thread title mySystem-irods-dispatcher takes near 70% of cpu time when -Xnojit is passed to openj9.

[2017-10-13 18:32] AdamBrousseau opened #323 "Copyright Check and Line Ending Check should not try to analyze no files when a PR only has file deletions"
The Copyright check fails, the line endings check doesn't fail but should behave differently than what it currently does

Line endings example
[code]
Copyright example
[code]

Should be able to add a simple check after running the `git diff`
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/copyrightCheck#L39
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/lineEndingsCh

[2017-10-13 18:40] JamesKingdon commented on #321
Hmm, that thread is sat at
[code]
Would it be possible to run a test with the following?
-Xjit:exclude={java/util/concurrent/*},dontInline={java/util/concurrent/*}

[2017-10-13 18:44] markehammons commented on #321
I get the same results. Here's the core dump from that run:
[javacore.20171013.204324.7707.0001.txt](https://github.com/eclipse/openj9/files/1383653/javacore.20171013.204324.7707.0001.txt)

[2017-10-13 18:47] JamesKingdon commented on #321
Ah, that was my fault, my first attempt at posting the exclude, I forgot to quote the text and the formatting hid the wildcards. You need a '*' at the end of each method filter for to match anything.

[2017-10-13 18:55] markehammons commented on #321
@JamesKingdon That didn't fix it either, but switching to ```-Xjit:exlcude={sun/misc/*}...``` did. I tried ```-Xjit:exclude={sun/misc/Unsafe}``` to see if that narrowing still fixed things but it didn't.

[2017-10-13 18:56] JamesKingdon commented on #321
Did you wild card the end of `{sun/misc/Unsafe*}` ?

[2017-10-13 18:59] markehammons commented on #321
@JamesKingdon no I hadn't. ```-Xjit:exclude={sun/misc/Unsafe*},dontInline={sun/misc/Unsafe*}``` fixes the issue.

[2017-10-13 19:03] JamesKingdon commented on #321
OK, the only jit compiled method from sun/misc in your original verbose log is
`sun/misc/Unsafe.getObjectVolatile`, so if excluding sun/misc/* works reliably, we might assume that excluding and not inlining getObjectVolatile should also work:
(this will probably need quotes depending on how you launch the JVM)
`-Xjit:exclude={sun/misc/Unsafe.getObjectVolatile(*},dontInline={sun/misc/Unsafe.getObje

[2017-10-13 19:15] markehammons commented on #321
It appears it wasn't getObjectVolatile. Excluding it didn't fix the problem, however the jit log of the new run that failed showed another sun.misc.Unsafe method: ```compareAndSwapObject```. Excluding it fixed execution. I'm creating the compilation log now.

[2017-10-13 19:17] llxia commented on #216
I agree. We need a generic solution to support different tests exclude.
@renfeiw , I think we can have tag in playlist.xml to exclude any test (i.e., <defect>) and we should support it be commented out.

[2017-10-13 19:18] JamesKingdon commented on #321
Interesting. I hate bugs that move...

[2017-10-13 19:28] markehammons commented on #321
This is all I can get from running both:
``` -Xjit:{sun/misc/Unsafe.compareAndSwapObject(*}(tracefull,log=getObjectVolatile.log)```
and
```-Xjit:exclude={sun/misc/Unsafe.getObjectVolatile*},dontInline={sun/misc/Unsafe.getObjectVolatile*},{sun/misc/Unsafe.compareAndSwapObject(*}(tracefull,log=compareAndSwapObject.log)```

[compareAndSwapObject.log](https://github.com/eclipse/openj9/files/1383768/co

[2017-10-13 19:34] andrewcraik commented on #321
@0dvictor you might be able to help since this is one of the primitives we probably do something special for in the code generator when we do encounter it - maybe you can provide some guidance?

[2017-10-13 19:43] 0dvictor commented on #321
The trace log is not complete. It seems that multiple log files were generated, do you mind double check and attach all of them? These log files may have names like ```compareAndSwapObject.log.1  compareAndSwapObject.log.2  compareAndSwapObject.log.3  compareAndSwapObject.log.4  compareAndSwapObject.log.5  compareAndSwapObject.log.6```.

[2017-10-13 19:45] markehammons commented on #321
they do not exist. I've double and triple checked and there are no such logs

[2017-10-13 19:50] JamesKingdon commented on #321
Might be worth combining a run which logs anything from sun/misc/Unsafe with a verbose log so we can confirm what did get compiled during the run:
`-Xjit:{sun/misc/Unsafe.*}(tracefull,log=Unsafe.log),verbose={compile*},vlog=jit.log`
This might get large, but at least in the one verbose log I have there was only one method compiled from Unsafe, so hopefully it will be ok.

[2017-10-13 19:56] markehammons commented on #321
Here's that:
[Unsafe.20171013.215123.17207.log](https://github.com/eclipse/openj9/files/1383850/Unsafe.20171013.215123.17207.log)

You'll notice compareAndSwapObject isn't even in the log...

[2017-10-13 20:00] JamesKingdon commented on #321
True, but getObjectVolatile was. Was there a compilation log (tracefile) to go with the verbose log? I see you used the same name for both, I'm not sure how that would work out...

[2017-10-13 20:02] 0dvictor commented on #321
Another two configs that may worth trying:
1. Export environment variable `TR_Options=disableUnsafe`
2. Export environment variable `TR_DisableCASInlining=1`
These two trials may help to isolate the issue.

[2017-10-13 20:06] markehammons commented on #321
@JamesKingdon only one of the runs produced a tracefile:
[bench_1.zip](https://github.com/eclipse/openj9/files/1383881/bench_1.zip)

I'll try those 0dvictor. I assume I should do those one at a time?

[2017-10-13 20:07] 0dvictor commented on #321
Yes, they should be two separate tests.

[2017-10-13 20:16] markehammons commented on #321
DisableUnsafe made the bench run perfectly fine.

DisableCASInlining caused it to hard crash instead of hanging

[DisableCASInlining.zip](https://github.com/eclipse/openj9/files/1383898/DisableCASInlining.zip)
[DisableUnsafe.zip](https://github.com/eclipse/openj9/files/1383899/DisableUnsafe.zip)

I included the coredump with the inlining zip

[2017-10-13 20:27] 0dvictor commented on #321
Thank you. The result indicates the defect might be related to ```runtime/tr.source/trj9/optimizer/InlinerTempForJ9.cpp```.
Unfortunately I cannot tell anything from these two logs. Instead trying to figure out which function to log, it may be simpler to log every compiled methods. To achieve this, one can use ```-Xjit:tracefull,log=Unsafe.log,verbose={compile*},vlog=jit.log```; and please unset t

[2017-10-13 20:29] andrewcraik commented on #321
Depending on how many methods, logging everything could generate quite a lot of data.

[2017-10-13 20:37] markehammons commented on #321
@0dvictor when I do ```-Xjit:exclude={sun/misc/Unsafe.compareAndSwapObject(*},dontInline={sun/misc/Unsafe.compareAndSwapObject(*}``` the hanging problem disappears entirely.

I think something is happening during the jit compilation of that method. Even though it rarely shows up in the jit logs, excluding it from jit makes the problem go away.

I'm compressing the logs you asked for right now.

[2017-10-13 20:49] markehammons commented on #321
A quick note: ```-Xjit:dontInline={sun/misc/Unsafe.compareAndSwapObject(*}"``` alone fixes the problem as well.

[2017-10-13 20:56] markehammons commented on #321
When running ```-Xjit:dontInline={sun/misc/Unsafe.compareAndSwapObject*},{sun/misc/Unsafe.*}(tracefull,log=compareAndSwapObject.trace.log),verbose={compile*},vlog=compareAndSwapObject.log``` these are the files produced. You'll notice that unlike many other jit logs, compareAndSwapObject is actually compiled by the jitc. Even though it's compiled, no trace is provided for some reason...

[CompareA

[2017-10-13 21:08] JamesKingdon commented on #321
Thanks Mark - did the hang happen in that last run that you provided logs for?

[2017-10-13 21:13] markehammons commented on #321
@JamesKingdon not at all.

Also, I managed to finally get a tracefile for compareAndSwapObject.
[CompareAndSwapObjectWTrace.zip](https://github.com/eclipse/openj9/files/1384015/CompareAndSwapObjectWTrace.zip)

I'm going to rerun the bench a bunch of times with ```-Xjit:{sun/misc/Unsafe.compareAndSwapObject(*}(tracefull,log=compareAndSwapObjectInlined.trace.log),verbose={compile*},vlog=compareAndSw

[2017-10-13 21:18] JamesKingdon commented on #321
Yes, I'm not sure what's going on with the trace. The CompareAndSwapObject.zip files you sent in showed several methods from sun/misc/Unsafe getting compiled that all should have matched the trace filter, and yet no output was present in the trace file. I'm guessing it's some part of the way we handle Unsafe that's getting in the way, but I'll defer to Victor on that.
I'm about to head out for the

[2017-10-13 21:18] 0dvictor commented on #321
Something very weird. I don't see any method involving compareAndSwapObject from the full trace log.

[2017-10-13 21:25] 0dvictor commented on #321
Another environment variable might be worth trying: ```TR_Options=disableUnsafeFastPath```
The reason why compareAndSwapObject was not shown in the log might be it was transformed by UnsafeFastPath.

[2017-10-13 21:28] markehammons commented on #321
Ok I'll give that a shot. In the meantime though, I managed to get a trace of compareAndSwapObject with ```-Xjit:{sun/misc/Unsafe.compareAndSwapObject(*}(tracefull,log=compareAndSwapObjectInlined.trace.log),verbose={compile*},vlog=compareAndSwapObjectInlined.log"```
here you go:
[CompareAndSwapInline.zip](https://github.com/eclipse/openj9/files/1384047/CompareAndSwapInline.zip)

[2017-10-13 21:42] markehammons commented on #321
Unfortunately, ```TR_Options=disableUnsafeFastPath``` doesn't make compareAndSwapObject have a trace. Here's one of the jit logs + trace files...

[DisableUnsafeFastPath.zip](https://github.com/eclipse/openj9/files/1384072/DisableUnsafeFastPath.zip)

[2017-10-13 23:45] #213 closed

[2017-10-16 13:06] DanHeidinga commented on #306
@samkamer I like the idea of describing the relationship between the repos.  Can you propose 1-2 sentences to add to Mark / Daryl's wording in https://github.com/eclipse/openj9/issues/306#issuecomment-336251973 ?

[2017-10-16 13:40] #30 closed

[2017-10-16 14:05] mstoodle commented on #55
@vsebe could you write a short update on your progress here? I've had numerous inquiries about Windows support :)

[2017-10-16 14:13] DanHeidinga opened #333 "Modifying 'xhelpers.m4' isn't reflected in the recompile of 'fpusup.s'"
I've modified the contents of `xhelpers.m4` and the compile of `fpusup.s`, which is generated from `fpusup.m4` doesn't pick up the change.

We need to fix the dependencies so fpusup.s depends on fpusup.m4 and xhelpers.m4

[2017-10-16 14:14] DanHeidinga commented on #333
Discovered this while building macosx.

@dnakamura FYI - this probably applies to the cmake build as well.

[2017-10-16 14:49] andrew-m-leonard commented on #313
Internal repo available to build and reproduce this here : https://github.ibm.com/runtimes/openjdk-jdk8

[2017-10-16 14:49] andrew-m-leonard commented on #314
Internal repo available to build and reproduce this here : https://github.ibm.com/runtimes/openjdk-jdk8

[2017-10-16 14:49] andrew-m-leonard commented on #315
Internal repo available to build and reproduce this here : https://github.ibm.com/runtimes/openjdk-jdk8

[2017-10-16 15:00] vsebe commented on #55
Starting with [Windows SDK 8](https://developer.microsoft.com/en-us/windows/downloads/windows-8-sdk) the rebase.exe has been removed. The functionality is still available using EDITBIN /REBASE however, due to **A**ddress **S**pace **L**ayout **R**andomization (ASLR), the rebase has no effect.
For now, we'll build it without rebasing (further investigation is required).

[2017-10-16 15:06] dmitripivkine commented on #319
Our documentation is organized different way, so this file is not used any more. After discussion we decided to remove it. However we need to double check that it's contain duplicate information only.

[2017-10-16 15:09] pshipton commented on #55
My understanding is @vsebe has -version working for Windows on a private build. There are about 3 Pull Requests that need to be created, reviewed, and merged before this is available to everyone. Note this is with the bytecode interpreter compiling with no optimization, which affects performance, and this still needs to be addressed afterwards.

[code]

[2017-10-16 15:11] vsebe commented on #55
Another issue is the forced load of the dbgwrapper for windows platforms only (no dbgwrapper90). We'll work around it and not load it for eclipse openj9 builds.

[2017-10-16 15:26] adamfarley commented on #292
After discussing this with Jason late last week, he proposed that we use the "release" file to trigger/block objectFieldOffset1's registration based on the java version, as the existing method isn't triggering properly for 18.3 at this stage in the build.

Jason, any luck with this?

[2017-10-16 15:26] adamfarley commented on #268
Any luck Jason?

[2017-10-16 15:38] dmitripivkine commented on #319
@SueChaplain Would you please double check that gc_doc/CommandLineOptions.html is not used any more and can be deleted safely?

[2017-10-16 16:00] JasonFengJ9 commented on #292
Working on a draft pull request, expected to be submitted for reviewing today or tomorrow.

[2017-10-16 16:16] zl-wang commented on #273
aspp stood for Assembly Pre-Processor (as for cpp).  it was useful in the past that it inserted debugging pseudo ops e.g. line number etc. it is not that useful anymore nowadays.  we should/could get rid of it.

[2017-10-16 16:40] SueChaplain commented on #319
Never seen this file before! Not really for me to comment on whether you should delete it, but I can tell you what we don't have ......

We have nothing in the user guide documentation for the following options. Maybe they are obsolete?
- -Xresman
- -Xmdx

For -Xgc, we only have the following documented:
concurrentScavenge | dnssExpectedTimeRatioMaximum | dnssExpectedTimeRatioMinimum | excessiveGC

[2017-10-16 16:58] dmitripivkine commented on #319
Thank you Sue.
-Xresman is obsolete, last usage in 2.4 (or even 2.3)
We still parse for -Xmdx, I don't know history of this. Will check.

[2017-10-16 20:43] #276 closed

[2017-10-17 05:35] hrstoyanov opened #346 "[Question] OpenJ9 and Project Graal/Trufle"
The HotSpot JVM team is also developing the extremely cool project [Graal/Truffle](https://github.com/graalvm/graal), which allows developers to dynamically compile/inject Java, Javascript (and others) in the JVM to run at JVM speed. Questions:
- Is OpenJ9 interoperable with Graal/Truffle?
- If OMR is similar to Graal/Truffle can you contrast them?

[2017-10-17 05:41] hrstoyanov opened #347 "[Question] Advanced AVX/AVX2 vector operations in OpenJ9?"
At JavaOne 2017 Intel presented [very interesting approach](https://software.intel.com/en-us/articles/vector-api-developer-program-for-java) of incorporating AVX2 vector instructions in HotSpot. This will allow Machine Learning and other data-intensive Java applications to utilize specialized AVX/AVX2 instructions to achieve much better performance.

Will OpenJ9 users benefit from this Intel/Oracl

[2017-10-17 05:44] hrstoyanov opened #348 "[Question] Java9 linking and OpenJ9"
One of the coolest feature in java 9 modules is the ability to prepare a very optimize JRE+modules bundle, a process during which several optimization techniques can be applied. Although not implemented yet, the HotSpot team is planning on AOT compilation during this phase.

What is the OpenJ9 "bag of tricks" and optimizations for this linking phase?

[2017-10-17 05:50] hrstoyanov opened #349 "[Question] OpenJ9 and docker containers?"
Historically, HotSpot had poor record running in docker containers without getting a clear picture of how much RAM or thread cores are available, etc. However things are slowly improving.

How is Openj9 aligned with docker containers and to what extents it is aware of the container provided resources (memory, sockets, threads, etc.)

Also, during the JavaOne 2017 presentation it was mentioned that

[2017-10-17 05:53] hrstoyanov commented on #349
Moved to:
https://stackoverflow.com/questions/46783329/openj9-and-docker-containers

[2017-10-17 05:53] #349 closed

[2017-10-17 05:55] hrstoyanov commented on #347
Moved to
https://stackoverflow.com/questions/46783342/advanced-avx-avx2-vector-operations-in-openj9

[2017-10-17 05:55] #347 closed

[2017-10-17 05:56] hrstoyanov commented on #348
Moved

https://stackoverflow.com/questions/46783361/java9-linking-and-openj9

[2017-10-17 05:56] #348 closed

[2017-10-17 05:57] hrstoyanov commented on #346
Moved:
https://stackoverflow.com/questions/46783394/openj9-and-project-graal-truffle

[2017-10-17 05:57] #346 closed

[2017-10-17 08:10] deesebas commented on #284
I agree, it should be possible to show the owner of this lock in the javacore.

jdmpview/ddr command 'info lock' does show the owner of this lock, so this information is present at the time of javacore generation.

For e.g., from a different javacore+coredump where I encountered a similar deadlock, info lock shows:

[code]

[2017-10-17 08:45] adamfarley commented on #292
Thanks Jason. :)

[2017-10-17 09:29] paulcheeseman opened #350 "OpenJDK diagnostic tools (jmap, jstack, jinfo etc.) do not work with OpenJ9"
OpenJDK's diagnostic tools are present in the AdoptOpenJDK OpenJ9 builds, but they do not work due to differences in the Attach implementation. They fail with ClassCastExceptions like this:

`Exception in thread "main" java.lang.ClassCastException: com.ibm.tools.attach.attacher.OpenJ9VirtualMachine incompatible with sun.tools.attach.HotSpotVirtualMachine
	at sun.tools.jmap.JMap.executeCommandForPi

[2017-10-17 09:36] paulcheeseman opened #351 "Some IBM Diagnostic tooling missing from OpenJ9 builds"
Some of IBM's diagnostic tools (e.g. jdmpview and jextract) are missing from the AdoptOpenJDK OpenJ9 builds.

The HealthCenter agent also seems to be missing:

`$ ./jdk-9+181/bin/java -Xhealthcenter:level=headless -version
JVMJ9TI001E Agent library healthcenter could not be opened (/xxxx/xxxx/openj9/jdk-9+181/lib/libhealthcenter.so: cannot open shared object file: No such file or directory)
JVMJ9V

[2017-10-17 12:23] markehammons commented on #321
Hey guys, good news! It turns out this flaw is not in openj9 specifically, and is actually endemic to openjdk9! I think openj9 is just more likely to trigger it than hotspot jvms at the moment, but I managed to trigger the error running the benchmark on zulu9. So I guess I need to report this to the OpenJDK team!

[2017-10-17 12:40] JamesKingdon commented on #321
Ah, that's good to know - thanks. It raises really interesting questions about why the xjit: options we tried change the behaviour. The most likely explanation is that it's a narrow window race condition and the options change the timing.
If you open an issue with OpenJDK please can you drop a link here? I'd like to follow the progress. I started working on some low level tests to try and reproduc

[2017-10-17 12:42] markehammons commented on #321
Hmm, actually there was a problem with my benchmark code that was triggering an issue that I mistook as the same. Let me retest with the fixed code and make sure I'm still getting the same problems.

[2017-10-17 13:06] andrewcraik commented on #321
@markehammons and @JamesKingdon just wanted to say thanks for helping to continue investigation on this issue. I have certainly seen cases where different VMs/JITs are more or less prone to deadlocks etc due to subtle timing differences. There could still be an OpenJ9 issue here so I look forward to seeing the next round of test results to see if they continue to point to a problem elsewhere or no

[2017-10-17 13:14] #323 closed

[2017-10-17 13:47] markehammons commented on #321
So I want to make clear, this issue in my benchmark code was in a new bench I added to test a service I'm developing, and the bench OpenJ9 was failing on is untouched. Since I fixed the new bench I have not seen the thread hang appear again, and the bench had a thread hang cause I threw an exception that was not caught and the benchmark code did not shut down the threading system upon close like i

[2017-10-17 13:48] JamesKingdon commented on #321
No worries, I'll keep looking :)

[2017-10-17 13:53] markehammons commented on #321
Tell me if your need more info. I can even see if there's a way I can rig up a dummy system for the innards of this system so that I can provide you guys an open test case to poke at and use yourselves...

[2017-10-17 13:56] andrewcraik commented on #321
@markehammons thanks for the offer and we may well take you up on that. I think @JamesKingdon was thinking of just writing some small sample code and doing an inspection of the generated code for anything obvious and then trying some kind of small microbenchmark/test to see if we could provoke the problem. If that doesn't work then we may need your help to try and dummy something up that can be us

[2017-10-17 14:11] pshipton commented on #55
I think everything is now merged to allow Windows "-version"? @vsebe is this correct?

[2017-10-17 14:30] pshipton commented on #351
@paulcheeseman you need to look at the nightly build from AdoptOpenJDK. The original "release" build is quite old and isn't being refreshed because OpenJ9 hasn't done a release yet. The nightly builds contain jdmpview, however note that jdmpview (or MAT or anything depending on DDR) isn't going to work properly right now because OpenJ9 doesn't support DDR yet.

[2017-10-17 14:31] pshipton commented on #351
As for jextract, @adamfarley are you able to add this executable?

[2017-10-17 14:34] pshipton commented on #351
For the HealthCenter agent, this needs to be provided to AdoptOpenJDK and included into the build. I don't believe an OpenJ9 issue is appropriate for this because I don't expect the HealthCenter agent will be contributed to the OpenJ9 project. You might check with Toby on this.

[2017-10-17 14:35] vsebe commented on #55
I had to hack the environment to use the right linker, the msvs not the version packed by cygwin. With this hack `java -version` works.

[2017-10-17 14:38] pshipton commented on #350
@paulcheeseman The original AdoptOpenJDK "release" build is quite old and isn't being refreshed because OpenJ9 hasn't done a release yet. These executables have been removed from the OpenJ9 build and are no longer present in the AdoptOpenJDK nightly builds.

Should we keep this Issue open as an enhancement request? Adding support to OpenJ9 for these executables isn't currently in IBM's plans.

[2017-10-17 14:40] markehammons commented on #321
@andrewcraik here's a reduced version of the bench that still triggers the bug, but doesn't rely on our servers (as much) https://github.com/markehammons/OpenJ9Issue

You'll need sbt to build and run it, which you can get [here](http://www.scala-sbt.org/download.html)

[2017-10-17 14:51] paulcheeseman commented on #350
Sorry Peter - I downloaded the "latest build" from AdoptOpenJDK and foolishly thought that it would be the latest build :o)

I don't think the OpenJDK tools are needed as long as we plan to get DDR/DTFJ working soon.

[2017-10-17 14:51] pshipton commented on #55
Thanks. What is also pending are instructions for setting up the build environment.

[2017-10-17 14:51] adamfarley commented on #351
@pshipton - Right now my focus needs to stay on the 18.3 extensions work. I advise raising a new Extensions issue, and it can be picked up by the next community developer with time (you, me, whoever).

I recommend referencing https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/22 in the issue you raise so people can see how it was done before.

[2017-10-17 14:58] JamesKingdon commented on #321
Got it, investigating. Many thanks.