[2020-03-25 22:45] JasonFengJ9 commented on #8879
This is observed in an internal build `Test_openjdk8_j9_sanity.openjdk_x86-32_windows_Nightly/280` as well.
[code]

[2020-03-25 23:09] pshipton opened #8983 "DDR failure to read AIX core files"
extended.system testing has been failing on AIX jdk11+ for a while due to OOM problems related to setting MALLOCOPTIONS. I tried to look at some of the core files from xlinux, but all the ones I've tried show "No JRE". I also recall @dmitripivkine got a core for a crash on AIX, and had a similar problem. I couldn't find the issue, but maybe Dmitri can track it down.

At the time Dmitri found the c

[2020-03-25 23:25] pshipton commented on #8842
yes, it doesn't make sense, perhaps there is a bug in how the accounting for modules is set up.

The test is creating and using 9000 jar files. Mesbah tried 5000 and it still failed, but 500 worked. He'll try other values between 500 and 5000 and we will adjust the test.

[2020-03-26 00:04] #8965 closed

[2020-03-26 00:05] #8840 closed

[2020-03-26 00:39] pshipton commented on #8983
dbx seems to agree there isn't any memory at 0x30000000. I didn't find any way to get a memory map from dbx, although `map` shows the modules text and data segments.

[2020-03-26 00:51] pshipton opened #8984 "jdk11+ Modules native memory accounting incorrect on AIX"
Looking at native memory info for a jdk11 AIX run (`java -Xdump:java`), there are some problems with the Modules data. The problems don't occur on xlinux.
1) The amount is 2,472,459,672 bytes which doesn't make sense, considering there is a 2G heap and the VM parent only totals 2,478,799,464 bytes.
2) Modules shouldn't have any children, but it's got an "Other" child. I suspect the Other value is

[2020-03-26 01:05] pshipton commented on #8984
zlinux has the same problem. One difference between the working and non-working platforms is OMR_OPT_CUDA, which affects how the memory categories are defined.

[2020-03-26 02:30] pshipton commented on #8984
I think it's a bug in the code that interprets the data and prints the chart. DDR prints it correctly from a core file.

[2020-03-26 03:06] knn-k commented on #8970
Running the test in gdb shows this:
[code]

[2020-03-26 03:18] knn-k commented on #8970
The inaccessible addresses (0x0FFFFB32E0000, 0x7fb47d1000) seem to be at page boundary.

[2020-03-26 05:03] dnakamura commented on #8183
- windows First run of windows benchmark came back inconclusive. Value was within noise, but the confidence interval was larger. Ran a second set of benchmarks and the value is still behind the uma builds. Went over the build options again, and found a couple of differing options in the jit. Working on getting  a new build and tests

[2020-03-26 06:17] knn-k commented on #8960
This is not a JIT PR but a PR for `VM_AtomicSupport` using the `dmb` instruction: https://github.com/eclipse/omr/pull/2520

[2020-03-26 06:35] knn-k opened #8987 "AArch64: Failure in SharedClasses.SCM01.MultiThreadMultiCL_0"
Failure link
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_aarch64_linux_Personal/4/

SharedClasses.SCM01.MultiThreadMultiCL_0 crashes in libj9jit29.so intermittently.
[code]

[2020-03-26 06:43] knn-k commented on #8987
My observations:

- This is not reproducible on a quad-core AArch64 device.  The test server has 96 CPU cores.
- The location of the crash is always in the JIT IProfiler thread, but in different functions from a crash to another.
- If you run the test with `IBM_JAVA_OPTIONS=-Xjit:disableIprofilerDataCollection` or with `IBM_JAVA_OPTIONS=-Xjit:disableInterpreterProfilingThread`, it passes.  (I trie

[2020-03-26 08:55] knn-k commented on #8966
Note that the AArch64 JIT does not have the support for recompilation yet.

[2020-03-26 10:37] M-Davies commented on #8208
Occured again in a similar manner on JDK11/J9/AIX https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix/29
[code]

Dump Files: https://ibm.box.com/shared/static/ccl4uaiyy2n7p9t8au1cbxswgynk2epw.gz

[2020-03-26 11:12] knn-k commented on #8970
Attaching a javacore file with a crash trying to read from the address 0x07F88002000.

[javacore.20200326.200428.20649.0002.txt](https://github.com/eclipse/openj9/files/4386766/javacore.20200326.200428.20649.0002.txt)

[2020-03-26 11:40] knn-k commented on #8987
Is there any other JIT option to try?

[2020-03-26 11:42] adam-thorpe opened #8988 "Compiler crashes in JTReg tests"
Seeing lots of compiler crashes in various JTReg tests this morning, across multiple platforms and versions.
https://ci.adoptopenjdk.net/user/adam-thorpe/my-views/view/OpenJ9%20sanity%20openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows/160/consoleFull

FIRSTBAD
02:29:54  OpenJ9   - 752c590a2
02:29:54  OMR      - e9b85117d
02:29:54  JCL      - d1ca0ebebe based on jdk-11.0.7+8)

LASTGOOD
0

[2020-03-26 12:26] pshipton opened #8989 "javac code.Symbol.complete NullPointerException"
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.system_x86-64_windows_Nightly/46
SharedClasses.SCM01.SingleCL_0
[code]

All  subsequent SCM tests failed
`**FAILED** at step 1 (Copy sharedClasses jar). Expected return value=1 Actual=0 at C:/Users/jenkins/workspace/Test_openjdk14_j9_extended.system_x86-64_windows_Nightly/openjdk-tests/\TKG\test_output_15851931988770\SharedClasses.SCM01.

[2020-03-26 12:34] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly/320
LambdaLoadTest_ConcurrentScavenge_0
looks the same
[code]

[2020-03-26 12:48] zl-wang commented on #8842
it still means that multiheap setting increases RSS, at least memory consumption (eventually over the paging space).  I am wondering, for this test case, how much the increase is.

[2020-03-26 13:16] knn-k commented on #8970
The location of the crash is in `VM_UnsafeAPI::get32()` with `object` being NULL.
https://github.com/eclipse/openj9/blob/a857c3f84d7141a8feaa0a28b099d6e677e00cdb/runtime/oti/UnsafeAPI.hpp#L103-L115

[code]

[2020-03-26 13:17] pshipton opened #8990 "jdk11 sanity.openjdk failures"
note xlinux NPE and timeout further down

possibly related to https://github.com/eclipse/openj9/issues/8990

zlinux artifact with core file and test output
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/12/openjdk_test_output.tar.gz

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_N

[2020-03-26 13:19] DanHeidinga commented on #8988
Tagging as jit on the basis of:
[code]

fyi @andrewcraik

[2020-03-26 13:25] DanHeidinga commented on #8989
https://github.com/eclipse/openj9/issues/8988 looks similar as well though it's both an NPE and JIT crash

[2020-03-26 13:25] pshipton opened #8991 "dumpallromclasslinear failures"
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_linux_Nightly/46
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_windows_Nightly/43
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly/320
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/317

[2020-03-26 13:29] andrewcraik commented on #8988
@liqunl could you take a look please?

[2020-03-26 13:55] knn-k commented on #8970
When the test fails trying to read the address 0x7fb48d0000, the adjacent address 0x7fb48cffff is readable as shown below:
[code]

[2020-03-26 14:21] pshipton commented on #7562
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/6748

19:54:56  openjdk version "11.0.7" 2020-04-14
19:54:56  OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7+8-202003202340)
19:54:56  Eclipse OpenJ9 VM AdoptOpenJDK (build master-b138dda, JRE 11 AIX ppc64-64-Bit Compressed References 20200320_531 (JIT enabled, AOT enabled)
19:54:56  OpenJ9   - b138dda
19:54:56  OMR

[2020-03-26 14:38] M-Davies opened #8992 "JTReg Test Fail: sun/nio/cs/FindDecoderBugs.java"
Failure link
------------
JDK8/J9
- test category, openjdk
- OS/architecture, s390x_xl (https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_xl/72/)
[code]
Optional info
-------------

- intermittent failure (yes)
- New test

Failure output (captured from console output)
---------------------------------------------
[code]
Dump Files https://ibm.box.com/shared/static/bq89d6w

[2020-03-26 14:42] DanHeidinga commented on #8992
Tagging as jit
[code]

fyi @fjeremic

[2020-03-26 14:59] andrewcraik opened #8993 "Java 11 getModule returning null for some classes"
Java -version output
--------------------

[code]

Summary of problem
------------------
The JVM is failing to set the module on some `java.lang.Class` objects. The function `getModule()` in `java.lang.Class` should not return null, but there are classes with a null module. I found this by writing a JVMTI agent which uses the VMDeath handle to process all loaded classes in the course of calling `g

[2020-03-26 15:13] mpirvu commented on #8544
PR was delivered

[2020-03-26 15:13] #8544 closed

[2020-03-26 15:21] JasonFengJ9 commented on #8993
`Java -version` appears a bit confusing which is `Java 8` without modularity support.

[2020-03-26 16:20] fjeremic commented on #8992
Launching a grinder to find reproducibility rate:
https://ci.adoptopenjdk.net/job/Grinder/2585/

[2020-03-26 16:37] pshipton commented on #8842
How do we determine RSS on AIX? It's a bit tricky to get RSS from a running process at a consistent time. I can ask Mesbah to modify the test to pause at the end while RSS is captured.

[2020-03-26 17:02] zl-wang commented on #8842
ps -lfp <pid>
and, looking at the SZ column/field.  That is RSS in kbyte.

[2020-03-26 17:05] fjeremic commented on #8874
Running into this problem now over in #8992. It outputs a backtrace but it is not useful:

[code]

[2020-03-26 17:35] DanHeidinga commented on #8993
Assuming the wrong `java -version` was pasted, I think Andrew's highlighted a real issue.

Code that should be setting the java.base module walks all the loaded classes in the `vm->systemClassLoader` which does a walk of the Class Segments processing those with the matching classloader: https://github.com/eclipse/openj9/blob/c80af2e8aba83e2adeacd3741aeaf9275a81a946/runtime/j9vm/java11vmi.c#L806-L8

[2020-03-26 17:38] fjeremic commented on #8992
Grinder is showing 1/10 failure rate. Unfortunately debug symbols are not present in the JVM which ran this build (#8874 is tracking the fix), so I had to work around to get the symbols. I downloaded the same nightly build [1] and loaded the core file from the failure job.

`gdb` fails to load all the shared libraries because the path on the grinder machine is different. We can fix this by supplyi

[2020-03-26 18:10] pshipton commented on #8874
Ya, I think that's a whole different problem with the RAS code not being able to get the symbols. gdb should work with the debug symbols, but you may need the system libraries as well. This is what jextract collects. See https://github.com/eclipse/openj9/issues/8772

[2020-03-26 18:16] andrewcraik commented on #8992
The dataflow engine has been very stable - I would suggest running traceFull paranoidOptCheck and see if we can make sure the trees are valid before the opt.

[2020-03-26 20:00] #8984 closed

[2020-03-26 20:24] DanHeidinga commented on #8970
Java stack from the javacore above:
[code]

The bus error triggered a bell for me and so I went digging into the uma spec files.  Looks like the aarch specs are missing the `<flag id="interp_useUnsafeHelper" value="true"/>` flag

[2020-03-26 20:25] DanHeidinga commented on #8970
https://github.com/eclipse/openj9/pull/8996 may address this issue (or will reveal the next missing part)

[2020-03-26 21:12] pshipton commented on #8991
Seems to be resolved by #8995

[2020-03-26 21:12] #8991 closed

[2020-03-26 21:13] pshipton commented on #8990
Seems to be resolved by #8995

[2020-03-26 21:13] #8990 closed

[2020-03-26 21:13] pshipton commented on #8989
Seems to be resolved by #8995

[2020-03-26 21:13] #8989 closed

[2020-03-26 21:13] pshipton commented on #8988
Seems to be resolved by #8995

[2020-03-26 21:13] #8988 closed

[2020-03-26 21:32] JasonFengJ9 commented on #8993
Attempting a testcase to reproduce the issue.

[2020-03-27 01:18] fjeremic opened #8999 "Why does the JIT need to load the VFT offset before a virtual call?"
While reviewing #8154 I wanted to convince myself of my understanding of virtual dispatches on Z. I went through a simple virtual call and documented the call flow. I'm copying the comment here for further discussion. Two questions arise at the end:

Sorry I'm still not following. What is this `LA` instruction you are referring to? I just debugged this with an example to convince myself of how it

[2020-03-27 01:18] fjeremic commented on #8999
Tagging @0xdaryl @zl-wang @joransiu who might know the answer to the first question, and @gacholio who may be able to answer the second question.

[2020-03-27 04:50] DanHeidinga commented on #8993
@JasonFengJ9 Generate a core just after `java.base` has been defined and assigned to all the classes.  Then check if there are any classes in the InternalAnonymousClassloader that don't have their module set yet

[2020-03-27 08:08] knn-k opened #9001 "AArch64: Failure in testDDRExt_JITExt_openj9_0"
Failure link
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_aarch64_linux_Personal/7/consoleText

testDDRExt_JITExt_openj9_0 in extended.functional fails with AArch64 as follows.  There is a JIT frame in it, but the test fails to find the string `I2J values` in the output:
[code]

[2020-03-27 08:11] knn-k commented on #9001
The test passes with the following output saying `JIT frame was not found` when I run the test on a local machine:
[code]

[2020-03-27 08:53] mpirvu opened #9002 "Override ClassEnv::isClassvalueType for JITServer"
ClassEnv::isClassvalueType is a new query added in PR #8920 and it needs to be overridden at JITServer.

[2020-03-27 08:59] knn-k opened #9003 "AArch64: Failure in testDDRExt_SharedClasses_openj9_0"
Failure link
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_aarch64_linux_Personal/7/consoleText

testDDRExt_SharedClasses_openj9_0 in extended.functional fails with AArch64 as follows, failing in finding AOT data.
[code]

[2020-03-27 09:04] mpirvu opened #9004 "Override ObjectModel::areValueTypesEnabled() for JITServer"
`ObjectModel::areValueTypesEnabled() ` is a new query added in PR #8919 and it needs to be overridden at JITServer.

[2020-03-27 09:04] knn-k commented on #9003
The test passes with the following output when I run the test on a local machine:
[code]

[2020-03-27 09:13] andrew-m-leonard opened #9005 "JTReg Test Fail: java/nio/channels/DatagramChannel/MulticastSendReceiveTests.java.MulticastSendReceiveTests"
Failure link
------------
JDK8
pLinux
sanity.openjdk => https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_xl/73/console

Optional info
-------------

- intermittent failure : yes
- regression or new test:  regression
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) :

Failure output (captured from console output)
----------------

[2020-03-27 09:15] #8958 closed

[2020-03-27 10:00] mpirvu opened #9006 "Repeated compilationAotCacheFullReloFailure with JITServer"
Compilation failures of type `compilationAotCacheFullReloFailure` can appear for AOT compilations when the reserved code cache does not have enough free space during code generation and we need to switch to a new code cache. This failed compilation is retried and if we are at the last retrial we switch to a JIT compilation instead of AOT.
With JITServer I am seeing that we fail all retrials and th

[2020-03-27 10:10] andrew-m-leonard opened #9007 "JTreg test fail: java/nio/channels/SocketChannel/CloseDuringConnect.java.CloseDuringConnect"
Failure link
------------
JDK14
MacXL
sanity.openjdk
https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_x86-64_mac_xl/44/console

Optional info
-------------

- intermittent failure (yes|no): yes, passes on re-run
- regression or new test:
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) :

Failure output (captured from console output)
-------

[2020-03-27 11:55] JasonFengJ9 commented on #8993
@DanHeidinga I added code iterating the classes loaded by `InternalAnonymousClassloader` (assuming `vm->anonClassLoader`) as following:
https://github.com/eclipse/openj9/blob/8f1432c3a7afb8ca49debb0a3b8fab652bde31f7/runtime/j9vm/java11vmi.c#L813-L815
[code]
Run a few simple apps, _Looking for clazzAnon within vm->anonClassLoader_ was in the output but not _found a clazzAnon_.
This indicates that t

[2020-03-27 12:21] pshipton commented on #5450
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly/321/

[2020-03-27 12:23] pshipton commented on #8493
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/323

[2020-03-27 12:30] pshipton commented on #9005
@dmitripivkine gc for first look due to the vmstate

[2020-03-27 12:31] pshipton commented on #9007
Seems a dup of https://github.com/eclipse/openj9/issues/8637

[2020-03-27 12:41] pshipton opened #9009 "sanity.openjdk jdk11 zlinux failures in sun/nio/cs testing"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/13/

sun/nio/cs/FindDecoderBugs.java.FindDecoderBugs | 19 sec | 1
sun/nio/cs/SurrogateGB18030Test.java.SurrogateGB18030Test | 0.32 sec | 1
sun/nio/cs/SurrogateTestEUCTW.java.SurrogateTestEUCTW | 67 ms | 1
sun/nio/cs/SurrogateTestHKSCS.java.SurrogateTestHKSCS | 0.14 sec | 1
sun/nio/cs/Test4206507.java.Test4206507

[2020-03-27 12:41] pshipton commented on #9009
Started a grinder https://ci.eclipse.org/openj9/job/Grinder/718/

[2020-03-27 12:48] pshipton opened #9010 "sanity.openjdk ProcessHandle/OnExitTest not all children have been started"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/13
java/lang/ProcessHandle/OnExitTest.java.OnExitTest
[code]

[2020-03-27 13:04] zl-wang commented on #8999
Putting the offset in a register before dispatch is only required for interface dispatch, since the offset is not obviously available anywhere else.  Also, we didn't pass the necessary info for vm helper to re-lookup the offset either.

For the more complicated index method on p and x, it is exactly to retrieve the offset from the instruction sequence for a virtual call where the offset is obvious

[2020-03-27 13:13] dmitripivkine commented on #9005
This is duplicate of https://github.com/eclipse/openj9/issues/8652
@AlenBadel @gita-omr

[2020-03-27 14:05] pshipton commented on #9009
2x grinders
https://ci.eclipse.org/openj9/job/Grinder/719
https://ci.eclipse.org/openj9/job/Grinder/720
https://ci.eclipse.org/openj9/job/Grinder/721

[2020-03-27 14:30] gacholio commented on #8999
P has fixed-sized instructions, so it's easy to look back and determine virtual vs interface. I assume it's not so easy on Z, so the index is always in the register.

[2020-03-27 14:41] fjeremic commented on #8999
It seems that we already emit a NOP to disambiguate between virtual and interface dispatch:
https://github.com/eclipse/openj9/blob/386b29b971be293ac255c9c7a004ad24eeb1fd9c/runtime/compiler/z/codegen/S390PrivateLinkage.cpp#L2137-L2140

I wonder if this is some historical reason, because we seem to load the VFT offset for both virtual and interface calls always. The discussion seems to suggest the o

[2020-03-27 14:50] gacholio commented on #8999
See https://github.com/eclipse/openj9/blob/386b29b971be293ac255c9c7a004ad24eeb1fd9c/runtime/oti/JITInterface.hpp#L148-L223 for the instruction decode logic.

[2020-03-27 14:51] gacholio commented on #8999
The comment in the nathelp code is somewhat misleading - it's only there for the non-interface case.

[2020-03-27 14:58] gacholio commented on #8999
The other issue is that Z can't encode negative immediate offsets, so I'm not sure you're going to be able to come up with a more compact call sequence in the virtual case, since the negative offset will need to be in a register anyway.

[2020-03-27 15:04] fjeremic commented on #8999
That's only true for 12-bit displacements. Extended 20-bit displacements are signed.

[2020-03-27 15:11] zl-wang commented on #8999
so that, i suspected it is the side effect of CPU-type specific reason.  is the 20bit displacement available on the lowest denominator you supported now?  if yes, you may change the situation. a further issue is to deal with possible overflow of 20-bit displacemnt (very unlikely though).

[2020-03-27 15:11] fjeremic commented on #8999
Sorry I'm not sure I follow. As I understand `VM_JITInterface::jitVTableIndex` only gets called once inside of `old_slow_icallVMprJavaSendPatchupVirtual`. That function seems to fetch the J2I thunk and store it into the VFT slot which we called, presumably so we never call `old_slow_icallVMprJavaSendPatchupVirtual` again if we are calling the same virtual method of that class.

I did not see the t

[2020-03-27 15:14] fjeremic commented on #8999
Yeah, the 20-bit displacement instructions are available on our minimum ALS of z9. It must hav ebeen the historic reason why this was never changed. We should be able to use 20-bit displacement instructions which support negative displacements to implement this, and avoid having to load the VFT offset for virtual calls in the mainline.

[2020-03-27 15:14] gacholio commented on #8999
No, I mean the register is only loaded for the interface case. Both interface and virtual end up at j2iVirtual, and the interpreter calls `jitVtableIndex` in order to decode the method from the index.

[2020-03-27 15:15] gacholio commented on #8999
The VM has no stake in this - if you can come up with a better instruction sequence that can be disambiguated, go for it.

[2020-03-27 15:17] fjeremic commented on #8999
So then on Power for virtual calls we are storing a bogus value (whatever is in `gr12` at the time) to `J9VMThread.tempSlot` and the interpreter then only for virtual calls will ignore whatever is in `gr12` and will call `jitVtableIndex` to find the true VFT offset?

[2020-03-27 15:19] gacholio commented on #8999
Right, the decode code defaults to reading the register, then looks back in the instruction stream to see if it's actually an encoded virtual call (which currently does not occur on Z) and if so, decodes the index from the call.

[2020-03-27 15:24] fjeremic commented on #8999
Thanks, and just to confirm, `j2iVirtual` in pnathelp.m4 will branch to the bytecode loop here:
https://github.com/eclipse/openj9/blob/bf841bbb5c6209cab4f459f00ef35916f20f41b9/runtime/vm/BytecodeInterpreter.hpp#L9142-L9145

Which makes a call to `j2iVirtualMethod`:
https://github.com/eclipse/openj9/blob/bf841bbb5c6209cab4f459f00ef35916f20f41b9/runtime/vm/BytecodeInterpreter.hpp#L694-L699

Which th

[2020-03-27 15:31] gacholio commented on #8999
Correct.

[2020-03-27 16:11] theresa-m commented on #8552
I've found two issues that are causing hangs:

The first issue is that some flags are missing from the exit trigger configuration. Pr here https://github.com/eclipse/openj9/pull/9012

The second issue looks JIT related where `stopCompilationThreads` from `exitJavaVM` is stuck waiting. This is what the dumping thread and JIT threads look like at the time:

[code]

[2020-03-27 16:18] theresa-m commented on #8552
@andrewcraik can I have some help from your team to diagnose this?

[2020-03-27 18:15] pshipton commented on #8842
We used the 0.18.1 release build. I'll fill in the additional data as it becomes available.

No MALLOCOPTIONS
[code]

[2020-03-27 18:42] pshipton commented on #8652
Got one on zlinux https://ci.eclipse.org/openj9/job/Grinder/719
[code]

[2020-03-27 19:00] DanHeidinga commented on #8993
Is the `javaVM->anonClassCount ` non-zero at that point?

[2020-03-27 19:22] JasonFengJ9 commented on #8993
Modified `printf` above to `printf("Looking for clazzAnon within vm->anonClassLoader (%p) vm->anonClassCount (%lu) \n", vm->anonClassLoader, vm->anonClassCount);` which gives following output:
[code]
So this also indicates that there is no classes loaded by `anonClassLoader` right after module `java.base` is created unless some classes loaded later weren't set properly with module object even afte

[2020-03-27 19:29] DanHeidinga commented on #8993
I still think we have a hole here but will need some time to contrive the test case to demonstrate it.

@andrewcraik Can you confirm the java -version output?

[2020-03-27 19:35] andrewcraik commented on #8993
openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-202003241739-b06)
Eclipse OpenJ9 VM (build master-398fa6730, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20200324_576 (JIT enabled, AOT enabled)
OpenJ9   - 398fa6730
OMR      - dc5747bc9
JCL      - 61ecedabf89 based on jdk8u252-b06)

[2020-03-27 19:50] DanHeidinga commented on #8993
@andrewcraik That's a JDK 8 build - it doesn't have modules :)

[2020-03-27 19:51] zl-wang commented on #8842
unfortunately, that is a big increase (even for 18 heap).  it might be specific to this test case allocating so many threads.  can we have a comparison on Liberty for example?

sorry, @pshipton    i misremembered the ps command flag, although SZ and RSS are close mostly.  the real flag for RSS is v:

ps  v  [pid]

[2020-03-27 19:56] chrisc66 commented on #9002
Looking into this issue.

[2020-03-27 19:57] zl-wang commented on #8842
with v flag, there is an explicit RSS field

[2020-03-27 20:02] andrewcraik commented on #8993
@DanHeidinga sorry was experimenting with both 8 and 11 - 11 version posted

[2020-03-27 20:46] pshipton commented on #8842
I added another run using an option I spotted, "considersize", which looks much better but not sure how it affects perf. We'll change the ps option to 'v' and deliver the change to the test. I can do more runs of this test next week.

For Liberty, pls ask the perf team.

Pls ask the perf team for runs of Liberty.

[2020-03-27 21:02] zl-wang commented on #8842
@shanchao95 could you run a performance comparison between "multiheap"  and "multiheap,considersize" settings?

[2020-03-27 21:12] zl-wang commented on #8842
@vijaysun-omr      @piyush  could you do a footprint size comparison on AIX running Liberty/DT7 with these three environment variable settings below?
1) no setting
2) export MALLOCOPTIONS=multiheap
3) export MALLOCOPTIONS=multiheap,considersize

[2020-03-27 21:29] pshipton commented on #8842
@piyush note the latest OpenJ9 JVMs already set "MALLOCOPTIONS=multiheap". It not sure if `export MALLOCOPTIONS=` overrides that. I suggest using the 0.18.1 release JVM to run the tests.

[2020-03-28 04:17] pshipton commented on #8652
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_Nightly/13
java/nio/channels/SocketChannel/ShortWrite.java.ShortWrite

[2020-03-28 05:22] dnakamura commented on #8183
- Zlinux numbers are in and no regressions shown there
- Windows: Ive tweaked some of the benchmark parameters to try and capture some of the variability I'm seeing the results. Normally a single benchmark run consists of 1 warm up iteration with a single client, followed by 3 full perf warm up ierations, and a single measurement iteration. I've changed to 2 warm up runs (as the third warmup run h

[2020-03-28 17:32] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.functional_x86-64_mac_Release/8
J9vmTest_5
j9vm.test.monitor.CancelDeadThreadTest
vmState=0x0005ffff Symbol=__findenv

[2020-03-28 19:52] rwy0717 opened #9015 "Verbose GC logs do not work on OSX"
When I build and run j9 on macOS (slowdebug, with **fno-inline**), I get a warning about undefined symbols:

[code]

Failing to load this library effectively disables all verbose logging. This appears to be a long standing issue, first mentioned [here](https://github.com/eclipse/openj9/issues/36#issuecomment-420837674), discovered during our initial port to OSX.

[2020-03-28 19:57] rwy0717 commented on #9015
`MethodMetaData.h` declares a number of `__inline` functions, which are in turn defined in `MethodMetaData.c`, which is a source for the `j9vrb.dylib` library. Since this is a C source, we get C99 inline semantics. In C99, If the compiler chooses to not inline a function (or can't, because of `-fno-inline`), then it will expect to link against a different definition (which will be non-inline or `e

[2020-03-28 20:22] rwy0717 commented on #9015
fix: #9016

[2020-03-29 11:59] knn-k opened #9017 "AArch64: Failure in cmdLineTester_jvmtitests_hcr_3"
Failure link
------------
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_aarch64_linux_xl_Release/1/
rc007 and ta001 in cmdLineTester_jvmtitests_hcr_3

[code]
[code]

[2020-03-29 12:02] knn-k commented on #9017
`cmdLineTester_jvmtitests_hcr_openi9_none_SCC_3` fails in the same way as `cmdLineTester_jvmtitests_hcr_3`.

[2020-03-29 12:08] knn-k commented on #9017
The compressed refs build skips these tests because they use because the `-Xnocompressedrefs` option.

[2020-03-29 20:45] JasonFengJ9 opened #9018 "JDK15 jdk_lang_0_FAILED AssertionError: Native library loaded. Expected: JNI_OnUnload not invoked"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_ppc64_aix_Nightly/107`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild, use the following links: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=15&JDK_IMPL=openj9&BUILD_LIST=openjd

[2020-03-29 20:50] JasonFengJ9 opened #9019 "JDK15 jdk_net_0_FAILED RuntimeException: Connection not retried with proxy"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_ppc64_aix_Nightly/107`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
To rebuild the failed tests, use the following links: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=15&JDK_IMPL=openj9&

[2020-03-29 21:05] JasonFengJ9 opened #9020 "shrtest_linux_0 CorruptCacheTest: FAILED"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.functional_ppc64le_linux_Nightly/341/`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

In addition, there was a GPF at end of the test.
[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/j

[2020-03-29 21:10] JasonFengJ9 opened #9021 "testSCCacheManagement_0 SharedClassUtilities.getSharedCacheInfo failed: Invalid number of cache found expected: 7 found: 8"
Failure link
------------

From an internal build `Test_openjdk14_j9_extended.functional_ppc64le_linux_Nightly/64`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://hyc-runtimes

[2020-03-29 21:20] JasonFengJ9 opened #9022 "JDK8 JIT Server : ASSERTION FAILED ** at swalk.c:1565: ((0 ))"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.system_x86-64_linux_jit_Nightly/32`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://hyc-runtimes-j

[2020-03-29 21:24] JasonFengJ9 opened #9023 "JDK8 JIT Server : ObjectTreeLoadTest_0 egmentation error vmState=0x0005ffff"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.system_x86-64_linux_jit_Nightly/32`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://hyc-runtimes-j

[2020-03-29 21:29] JasonFengJ9 opened #9024 "JDK11 JIT Server : cmdLineTester_jvmtitests_hcr_OSRG_nongold_2 ** ASSERTION FAILED ** at jswalk.c:538: ((0 ))"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.functional_x86-64_linux_jit_Nightly/32/`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://hyc-runt

[2020-03-30 00:45] pshipton commented on #8189
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64le_linux_xl_Personal/100
MathLoadTest_bigdecimal_special_4
variation: Mode110
JVM_OPTIONS: -Xnocompressedrefs -Xjit -Xgcpolicy:gencon -Xnocompressedrefs
testFailure: testItem_0967(net.adoptopenjdk.test.bigdecimal.TestSuite020): null
MLT java.lang.NullPointerException
MLT 	at java.base/java.lang.VMAccess.addPackageToList(VMAcce

[2020-03-30 00:48] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal/99
LambdaLoadTest_OpenJ9_NonLinux_special_24

[2020-03-30 02:01] DanHeidinga commented on #9021
fyi @hangshao0

[2020-03-30 02:02] DanHeidinga commented on #9020
fyi @hangshao0

[2020-03-30 02:11] DanHeidinga commented on #9018
@JasonFengJ9 think this is related to the JDK15 native library changes?

[2020-03-30 02:13] knn-k commented on #8970
This is fixed by #8996.  Closing.

[2020-03-30 02:13] #8970 closed

[2020-03-30 02:14] knn-k commented on #8970
Thank you, @DanHeidinga

[2020-03-30 02:16] JasonFengJ9 commented on #9018
@DanHeidinga agreed, will have a look.

[2020-03-30 03:56] pshipton commented on #9024
@mpirvu fyi

[2020-03-30 03:57] pshipton commented on #9023
@mpirvu fyi

[2020-03-30 03:58] pshipton commented on #9022
@mpirvu fyi

[2020-03-30 04:00] pshipton commented on #9009
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/16

@fjeremic fyi

[2020-03-30 04:03] Akira1Saitoh commented on #9017
`rc007` fails with x86 vm if `optLevel=cold` is set:
[code]

[code]

If `optLevel` is not specified, the test passes with x86 vm:
[code]

[2020-03-30 04:52] Akira1Saitoh commented on #9017
With debug build of `aarch64` vm, `rc007` fails with assertion:
[code]

[2020-03-30 05:19] Akira1Saitoh commented on #9017
Same assertion hit for `ta001`:
[code]

[2020-03-30 09:05] mpirvu commented on #9002
The definition is
[code]
so the macro looks at `j9class->classFlags`. Moreover, looking through the code I don't see any place where this flag is reset (it is set in `internalCreateRAMClassFromROMClass()`)
`struct ClassInfo` already contains `uintptr_t _classFlags;` which represents the cached version of `j9class->classFlags`.
Here's an example on how we use it for another flag:
[code]

[2020-03-30 12:22] knn-k commented on #9003
`printStats` shows that no methods are AOTed by ` -Xscmx16m -Xshareclasses:name=ddrextjunitSCC,addtestjithints -Xjit:count=0 -Xaot:forceaot,count=5,disableAsyncCompilation` on the test server, as shown below:
[code]

[2020-03-30 12:23] 0xdaryl commented on #8966
@Mesbah-Alam : do you have any suggestions for how we can resolve this problem?  If this test relies on JIT recompilation in order to run successfully then it shouldn't be run on AArch64 because recompilation support is not available yet.

[2020-03-30 12:25] knn-k commented on #9003
On the other hand, doing the same on a local machine generates the following output.  229 methods are AOTed.
[code]

[2020-03-30 12:34] knn-k commented on #8966
Possibly related: #9003
Java methods don't get AOTed on the AArch64 test server as expected in `testDDRExt_SharedClasses_openj9_0`.  `printStats` says `# AOT Methods = 0`.
Running the same test on a local AArch64 machine finishes successfully, and the shared class cache contains 229 AOT methods.

Timing-dependent?

[2020-03-30 12:40] pshipton commented on #8175
This was resolved by #8679

[2020-03-30 12:40] #8175 closed

[2020-03-30 12:57] JasonFengJ9 commented on #8993
@andrewcraik just got couple of questions for followup investigation,  does `RI` (`JDK11` hotspot) return `null` module for the same testcase assuming it runs on `RI` as well? In addition, is there a stacktrace available by any chance when the `NPE` occurred?

[2020-03-30 13:30] jdekonin commented on #8979
No build or test labels on that jiro PR.  So should be good to test jenkins connectivity and the machines once merged.  A new VPN connection needs to be setup as well.

[2020-03-30 13:37] andrewcraik commented on #8993
@JasonFengJ9 `JDK11` hotspot does NOT return `null` running the same test. The exception I got was
[code]
The code in Class.java does not handle a null module return at Class.java 1917 and getModule does not suggest it can ever validly return null so I believe the correct thing is for all classes to a non-null module. Note in the above case my JVMTI agent was calling getResource on a class returne

[2020-03-30 13:50] harryyu1994 commented on #8786
[code]

[code]

[2020-03-30 14:00] JasonFengJ9 commented on #8993
Thanks @andrewcraik for the explanation, you are right that `java.lang.Class.getModule()` returns a non-null module.

Just to confirm that the `NPE` was thrown at following line of `if (thisModule.isNamed()) {`, correct?
[code]
My `Java 11 pConfig` has `Class.java:1917` at `final Module callerModule = callerClass.getModule();` somehow.

[2020-03-30 14:30] chrisc66 commented on #9002
Thanks for the clarification, a PR is created for this issue.

[2020-03-30 14:51] mikezhang1234567890 commented on #7752
Taking a look at this issue.

[2020-03-30 14:52] pshipton commented on #8842
Not exactly apples to apples, but the result is consistent with the previous runs, and difference is so big I don't think it matters.

jdk11 `MALLOCOPTIONS=`
[code]

jdk14 `MALLOCOPTIONS=multiheap`
[code]

[2020-03-30 14:55] andrewcraik commented on #8993
yes I believe it was the `thisModule.isNamed()`

[2020-03-30 14:55] avermeer commented on #7752
Thanks!

[2020-03-30 15:02] pshipton commented on #8890
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.

[2020-03-30 15:04] pshipton commented on #8652
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.

[2020-03-30 15:07] pshipton commented on #8838
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.

[2020-03-30 15:08] pshipton commented on #8515
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.

[2020-03-30 15:09] pshipton commented on #8353
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.
If a low risk fix does become available in the next couple of weeks, please raise it for consideration.

[2020-03-30 15:09] pshipton commented on #8064
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.

[2020-03-30 15:10] pshipton commented on #8637
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.
If a low risk fix does become available in the next couple of weeks, please raise it for consideration.

[2020-03-30 15:10] pshipton commented on #8449
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.

[2020-03-30 15:11] pshipton commented on #7748
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.
If a low risk fix does become available in the next couple of weeks, please raise it for consideration.

[2020-03-30 15:11] pshipton commented on #6933
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.

[2020-03-30 15:12] pshipton commented on #8823
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.

[2020-03-30 15:15] hangshao0 commented on #9021
Might be the same issue as https://github.com/eclipse/openj9/issues/8883

[2020-03-30 15:36] pshipton commented on #8842
jdk11 `MALLOCOPTIONS=multiheap,considersize`
[code]

[2020-03-30 15:43] zl-wang commented on #8842
nice.  now, @shanchao95 performance comparison is the critical factor for fix decision.

[2020-03-30 15:48] dnakamura commented on #8183
Windows:
For some background, the benchmark tool interleaves runs from the baseline jvm, and the jvm under test eg. B-T-B-T-B-T .... Note that the baseline jvm is always run first. I hypothesized that this, combined with the fact that the perf numbers showed an overall downward trend would give the baseline build a very slight edge over the test build. To test this I re-ran the benchmark with the

[2020-03-30 15:50] pshipton commented on #7684
We're past Milestone 2 for the 0.20.0 release, moving this forward to the next release.
If a low risk fix does become available in the next couple of weeks, please raise it for consideration.

[2020-03-30 15:57] hangshao0 commented on #9020
[code]

The test code wants to create a test cache, but it can't, leading to the following failure. I am not aware of any recent changes to the test or VM code.

[2020-03-30 16:01] fjeremic commented on #8183
Sounds like noise to me.

[2020-03-30 16:04] llxia commented on #4719
TRSS PR: https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/221

[2020-03-30 16:07] pshipton commented on #8842
jdk 11 `MALLOCOPTIONS=multiheap:18`
[code]

[2020-03-30 16:07] Mesbah-Alam commented on #8966
From the [description](https://github.com/eclipse/openj9-systemtest/blob/241d151cebae8b9bdedd671287db6b29bdde0972/openj9.test.sharedClasses/src/test.sharedClasses/net/openj9/stf/SharedClassesWorkloadTest_Softmx_Increase_JitAot.java#L52 ) of the test:

1) Start 2 Jvms that run workload processes with options `-XX:SharedCacheHardLimit=20m,
     -Xshareclasses:addtestjithints,verbose -Xscmaxaot10k -X

[2020-03-30 16:10] fjeremic commented on #9009
Thought this could be related to #8992 but that looks to be a compile time crash and this is a runtime exception, so likely not related. @VermaSh could you take a look at this one given it is in the area related to Strings and we just merged the VSTRS fixes a few days ago. It could be related to that change.

[2020-03-30 16:40] mpirvu commented on #9004
`areValueTypesEnabled()` has the following definition:

[code]
Thus, it checks a bit on javaVM->extendedRuntimeFlags2.
This flag is set during JVM bootstrap in `processVMArgsFromFirstToLast(J9JavaVM * vm)` and it does not change.

The solution here is to add another field `_extendedRuntimeFlags2` in VMInfo and send it with VMInfo. Then, retrieve the desired value from VMinfo required.

[2020-03-30 16:44] pshipton commented on #9020
Does -108 give a clue as to why it couldn't create the cache?

[2020-03-30 18:05] hangshao0 commented on #9020
`Platform error message: No such file or directory`

Looking at the core more closely:

[code]

The create flag is J9SH_OSCACHE_OPEXIST_STATS (==4), which attempts to open an existing cache.

I see the following before the portlib error:
[code]
What happened is more likely:
The test cache was successfully created, but later it was deleted somehow. We try to open the cache again with J9SH_OSCACHE_O

[2020-03-30 18:27] dmitry-ten commented on #9023
I was able to reproduce it locally, so will look into this.

[2020-03-30 18:33] pshipton commented on #9020
Is is a persistent or non-persistent cache?

I wonder if people are using the machines without reserving them, and caches get removed as a side affect of manually running testing.

@JasonFengJ9 it would be good to record the machine name.

[2020-03-30 18:36] piyush286 commented on #8842
@zl-wang Sorry I didn't see this issue since my external handle is wrong there.

@sophiaxu0424 Can we please get the data requested in https://github.com/eclipse/openj9/issues/8842#issuecomment-605317393? As Peter recommend in https://github.com/eclipse/openj9/issues/8842#issuecomment-605323016, we should use the 0.18.1 release build. Thanks!

[2020-03-30 18:36] pshipton commented on #9020
I filled in the machine name where available. #8883, #9021 are the same machine, this one is different.

[2020-03-30 18:38] ChengJin01 commented on #5058
After flashing the latest Fedora_raw image  (https://dl.fedoraproject.org/pub/alt/risc-v/repo/virt-builder-images/images/Fedora-Minimal-Rawhide-20200108.n.0-sda.raw.xz) to the microSD card with `virt-builder` on Ubuntu 19.10, I successfully managed to boot it up on the SiFive U540 (https://www.sifive.com/boards/hifive-unleashed) with the following MSEL setting on the hardware against https://githu

[2020-03-30 18:38] pshipton commented on #9020
@jdekonin is there any kind of machine sharing going on? "Caches are deleted/created unexpectedly" internally on ppcle.

[2020-03-30 18:48] hangshao0 commented on #9020
I see:
`Running tests with cacheType: 1(J9PORT_SHR_CACHE_TYPE_PERSISTENT)`

It is persistent cache.

[2020-03-30 19:15] mleipe commented on #8183
Who can tell us for sure, @fjeremic ?

[2020-03-30 19:21] loriadi commented on #7684
Any new news, Cathy?

[2020-03-30 19:41] jdekonin commented on #9020
There shouldn't be resource sharing no.  I only see `rhel7lert1` mentioned.  What would be another machine name and I can say if its even on the same kvm host.

[2020-03-30 19:43] fjeremic commented on #8183
The data from the previous comment. It seems to imply that interleaving the runs A-B-A-B vs. B-A-B-A yielded two different results, but with the same trend, which to me implies that A == B in terms of performance.

[2020-03-30 19:58] dmitry-ten commented on #8839
I heavily suspect this assert is triggered due to caching of field/static attributes that we perform for JIT server.
Reading the comment before asserts:
[code]
So, if the field is unresolved, the assertion says that its symbol must be marked as private, and it will remain private even if it gets resolved in the future. However `TR_ResolvedJ9Method::fieldAttributes` does not set a value for `isPriv

[2020-03-30 20:08] pshipton opened #9028 "Debug image files not consistently named between OpenJ9 and Adopt"
At OpenJ9 the file is called `debug-image`, and at Adopt the file contain `debugimage`. It may be less confusing for users, and easier for the test code to deal with if the names are consistent.

@llxia

[2020-03-30 20:48] a7ehuo commented on #8839
Thanks @dmitry-ten! `2. Set field properties to default values when calling field/staticAttributes on the client` definitely needs to be fixed. Will run some tests with this change first and see how it goes.

[2020-03-30 20:53] pshipton commented on #9020
@jdekonin the other machine is cent7p8j91

[2020-03-30 21:06] jdekonin commented on #9020
ah...those might have been.  cent7p8j91 has since been deleted as the reason for its origin was not known.  It was the same host though.

[2020-03-30 23:50] harryyu1994 commented on #8786
Looked into `fixUpMethodCode()` and printed some content of the codecache before and after the modification:
- `fixUpMethodCache()` was working as expected, it changed `48 3b` into `eb e8`
[code]

Here's the final code that was executed and crashed:
As we can see, starting from `0x7f64758da05c` to `0x7f64758da064`, the content was modified to some random value
[code]

[2020-03-30 23:53] #9002 closed

[2020-03-31 00:19] a7ehuo commented on #8839
I ran 30 times of `cmdLineTester_jvmtitests_5/7` with both change. Haven't seen the assert.

[2020-03-31 06:11] Akira1Saitoh opened #9032 "AArch64: Failure in java/lang/ProcessBuilder/Basic.java#id0.Basic_id0"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/103/testReport/junit/java_lang_ProcessBuilder_Basic/java_id0/Basic_id0/

Failure output (captured from console output)
---------------------------------------------

[code]

This test launches a child process and expects it to throw OOM, but the child process does not always throw OOM on the a

[2020-03-31 06:11] Akira1Saitoh commented on #9032
@knn-k @0xdaryl

[2020-03-31 06:53] Akira1Saitoh commented on #9032
@smlambert Can you give us some advice on this, please?
I wonder if I can set `-Xmx` option only to this test (actually, a child process this test spawns) so that OOM is always thrown as expected. Is it possible?

[2020-03-31 11:16] M-Davies commented on #8872
Also occurred in the JDK11-m2 build at adopt https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac/184/console

https://github.com/AdoptOpenJDK/openjdk-tests/issues/1705

[2020-03-31 11:47] M-Davies commented on #8019
Seen at Adopt on https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/103/#showFailuresLink
`java/util/stream/boottest/java.base/java/util/stream/SliceSpliteratorTest.java`
[code]
Dumps: https://ibm.box.com/shared/static/xli15fximvjrc72tf7c4s4fmhhmd5wqh.gz

[2020-03-31 11:53] M-Davies opened #9033 "JVM JTReg m2 Failure: java/security/SignedObject/Correctness.java"
Failure link
------------
Ref https://github.com/AdoptOpenJDK/openjdk-tests/issues/1705
- test category, sanity.openjdk
- OS/architecture, aarch64
- Seen on the jdk-11.0.7+9_openj9-0.20.0-m2 Release Triage build.
[code]

Failure output (captured from console output)
---------------------------------------------
[code]
Dumps: https://ibm.box.com/shared/static/aqiohyd6fyuwq7fqjtknu8uvrwhm657u.gz

[2020-03-31 12:50] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/318
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-03-31 12:56] 0xdaryl opened #9034 "Remove deprecated multitenant macros"
Multitenancy has been deprecated.  Remove deprecated macros from:

https://github.com/eclipse/openj9/blob/c529318aa26474cb57d0d4a83544d637ff73f6aa/runtime/compiler/p/runtime/PicBuilder.spp#L83

[code]
Please double check that they are not used anywhere.  Any use points are deprecated as well.

[2020-03-31 12:56] 0xdaryl commented on #9034
@mw918

[2020-03-31 12:58] 0xdaryl opened #9035 "Remove deprecated multitenant patchMTIsolatedOffset"
Multitenancy is deprecated.  Remove the virtual function `patchMTIsolatedOffset` from all code generators.

[2020-03-31 12:58] 0xdaryl commented on #9035
@mw918

[2020-03-31 13:07] 0xdaryl opened #9037 "Remove deprecated phase profiling macros"
Macros defined here have long been deprecated:

https://github.com/eclipse/openj9/blob/c529318aa26474cb57d0d4a83544d637ff73f6aa/runtime/compiler/env/VMJ9.h#L95

Remove.  Double check they aren't used.

[2020-03-31 13:08] 0xdaryl commented on #9037
@mw918

[2020-03-31 13:12] 0xdaryl opened #9038 "Remove allocation prefetch experimental code"
There was an experimental allocation prefetch strategy implemented more than a decade ago (I think it was mine!) that was never enabled and never went past the experimental stage.  It has long been deprecated.  Remove it.

Look for code guarded with `TR_EnableNewX86PrefetchTLH` and remove dead code produced from that exercise.  A followup PR in OMR to remove the option is in order as well.

[2020-03-31 13:12] 0xdaryl commented on #9038
@mw918

[2020-03-31 13:20] M-Davies opened #9040 "JTReg jdk11-m2 Failure: java/util/stream/test/org/openjdk/tests/java/util/stream/CountLargeTest.java"
Failure link
------------
- test category, sanity.openjdk
- OS/architecture, aarch_64
[code]

Optional info
-------------
- intermittent failure (no):
- Part of the jdk11-m2 triage https://github.com/AdoptOpenJDK/openjdk-tests/issues/1705

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-03-31 13:28] M-Davies opened #9041 "JTReg jdk11-m2 Failure: java/net/httpclient/http2/HpackHuffmanDriver.java"
Failure link
------------
- test category, sanity.openjdk
- OS/architecture, aarch_64
[code]

Optional info
-------------
- intermittent failure (no):
- Part of the jdk11-m2 triage https://github.com/AdoptOpenJDK/openjdk-tests/issues/1705

Failure output (captured from console output)
---------------------------------------------
[code]
https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSI

[2020-03-31 13:31] knn-k commented on #8966
JIT data space is filled up by the test.  It is AOT data space which is not filled up, although AOT is enabled and working on AArch64.
Another test in #9003 also shows a case where the shared class cache contains no AOT method.

There must be a (AArch64-specific?) condition of not storing AOT method in the cache.

[2020-03-31 13:32] pshipton commented on #9040
This is an expected problem. The test would pass if the timeout was longer. Somebody is working on fixing the timeout.
@knn-k fyi

[2020-03-31 13:34] M-Davies opened #9042 "JTReg jdk11-m2 Failure: java/util/Locale/LocaleCategory.java"
Failure link
------------
- test category, sanity.openjdk
- OS/architecture, aarch_64
[code]

Optional info
-------------
- intermittent failure (yes):
- Part of the jdk11-m2 triage https://github.com/AdoptOpenJDK/openjdk-tests/issues/1705

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-03-31 13:35] pshipton commented on #9033
@knn-k pls take a look.

[2020-03-31 13:38] pshipton commented on #9041
This timeout is expected. The test would pass with a bigger timeout. Someone is working on modifying the timeout.
@knn-k fyi

[2020-03-31 13:38] Mesbah-Alam commented on #8966
"JIT data space is filled up by the test. It is AOT data space which is not filled up" - correct. I've fixed my comment above.

[2020-03-31 13:39] pshipton commented on #9041
@M-Davies note all of these are expected to timeout, we don't need a separate issue for each.
UnicodeCasingTest, LargeValueExceptions, ReaderDriver,
HpackHufmanDriver, and CountLargeTest

[2020-03-31 13:40] M-Davies opened #9043 "JTReg jdk11-m2 Failure: java/util/WeakHashMap/GCDuringIteration.java"
Failure link
------------
- test category, sanity.openjdk
- OS/architecture, aarch_64
[code]

Optional info
-------------

- intermittent failure (no):
- Part of the jdk11-m2 triage https://github.com/AdoptOpenJDK/openjdk-tests/issues/1705

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-03-31 13:42] pshipton commented on #9042
@knn-k

[2020-03-31 13:43] pshipton commented on #9043
@knn-k

[2020-03-31 13:47] M-Davies opened #9044 "JTReg jdk11-m2 Failure: java/util/concurrent/ArrayBlockingQueue/WhiteBox.java"
Failure link
------------
- test category, sanity.openjdk
- OS/architecture, aarch_64
[code]

Optional info
-------------
- intermittent failure (no):
- Part of the jdk11-m2 triage https://github.com/AdoptOpenJDK/openjdk-tests/issues/1705

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-03-31 13:58] pshipton commented on #9044
@knn-k

[2020-03-31 14:08] shanchao95 commented on #8842
@zl-wang Sure, here is performance for `MALLOCOPTIONS=multiheap,considersize`, `MALLOCOPTIONS=multiheap:18` and `MALLOCOPTIONS=`.
[performance.xlsx](https://github.com/eclipse/openj9/files/4409533/performance.xlsx)

[2020-03-31 14:16] PhilippLengauer opened #9045 "JEP 331 capability available when using metronome GC, but no events are sent"
The capability for JEP331 (https://docs.oracle.com/en/java/javase/11/docs/specs/jvmti.html#jvmtiCapabilities - can_generate_sampled_object_alloc_events) is available and can successfully be requested when using the metronome GC. However, not a single event is sent. According to the JVMTI spec, in such a case, the capability should (1) be not part of the available capabilites and (2) requesting tha

[2020-03-31 14:20] DanHeidinga commented on #9045
@JasonFengJ9 @dmitripivkine

[2020-03-31 14:28] M-Davies opened #9046 "JTReg jdk11-m2 Failure: TestJlmRemoteMemoryAuth_0"
Failure link
------------
- test category, sanity.system
- OS/architecture, aarch_64
[code]

Optional info
-------------

- intermittent failure (yes):
- Part of the jdk11-m2 triage https://github.com/AdoptOpenJDK/openjdk-tests/issues/1705

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-03-31 14:31] M-Davies opened #9047 "JTReg jdk11-m2 Failure: TestIBMJlmRemoteMemoryAuth_0"
Failure link
------------
- test category, sanity.system
- OS/architecture, aarch_64
[code]
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_aarch64_linux_xl/73

Optional info
-------------

- intermittent failure (yes):
- Part of the jdk11-m2 triage https://github.com/AdoptOpenJDK/openjdk-tests/issues/1705

Failure output (captured from console output)
-----------------------------

[2020-03-31 14:32] M-Davies opened #9048 "JTReg jdk11-m2 Failure: PatchModuleImgTest_PlatformMod_0"
Failure link
------------
- test category, sanity.system
- OS/architecture, aarch_64
[code]
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_aarch64_linux_xl/73

Optional info
-------------

- intermittent failure (yes):
- Part of the jdk11-m2 triage https://github.com/AdoptOpenJDK/openjdk-tests/issues/1705

Failure output (captured from console output)
-----------------------------

[2020-03-31 14:37] knn-k commented on #9043
This failure is known to be the same as #8897.

[2020-03-31 14:39] knn-k commented on #9042
Never seen this before.

[2020-03-31 14:40] knn-k commented on #9033
Never seen this before.

[2020-03-31 14:40] knn-k commented on #9040
Yes, this is a known timeout case.

[2020-03-31 14:41] knn-k commented on #9041
Yes, this is a known timeout case.

[2020-03-31 14:41] knn-k commented on #9044
Never seen this before.

[2020-03-31 14:54] JasonFengJ9 commented on #9045
This is a limitation as per https://www.eclipse.org/openj9/docs/version0.15/

[code]

@DanHeidinga should we throw an error according to GC policy specified?

[2020-03-31 15:08] DanHeidinga commented on #9045
We should remove it from the available categories for the unsupported policies and error if requested

[2020-03-31 15:09] dmitripivkine commented on #9045
@LinHu2016 FYI

[2020-03-31 15:20] a7ehuo commented on #9022
This looks like a duplicate issue of #8786. I reproduced it locally with the same backtrace mentioned in https://github.com/eclipse/openj9/issues/8786#issuecomment-600725761:

[code]

[2020-03-31 15:27] dnakamura commented on #8183
Plinux throughput numbers are in using alternate benchmark. They appear to be within noise (although  the noise seems larger on this test, investigating if that is just the nature of the benchmark, or there was something going on with the machine

[2020-03-31 15:27] pshipton commented on #9046
@knn-k

[2020-03-31 15:29] pshipton commented on #9047
@knn-k

[2020-03-31 15:30] pshipton commented on #9048
@knn-k

[2020-03-31 15:37] #8839 closed

[2020-03-31 15:54] chrisc66 commented on #9004
Thanks, a PR is opened for this issue.

[2020-03-31 16:01] a7ehuo commented on #8789
This failure has stopped happening since build #28 up until the current latest build #34.

[2020-03-31 17:08] PushkarBettadpur opened #9057 "Dockerfile pointed to by Build Instructions uses an invalid AdoptOpenJDK API on s390x"
In trying to setup OpenJDK with OpenJ9 on zLinux, one of the steps in the Dockerfile contains the following command

https://github.com/eclipse/openj9/blob/6fbf525428bc0578d75f4c40549430cb089b2791/buildenv/docker/jdk8/s390x/ubuntu16/Dockerfile#L85

It seems the API is incorrect as I get the following error

[code]

It seems that this version of the API is deprecated and we should likely move to v3

[2020-03-31 17:12] DanHeidinga commented on #9057
+1

fyi @keithc-ca for inclusion in the Docker file update work

[2020-03-31 17:20] keithc-ca commented on #9057
The [script](https://github.com/keithc-ca/openj9/blob/docker/buildenv/docker/mkdocker.sh#L509) I'm working on already uses v3 API.

[2020-03-31 17:38] DanySK opened #9058 "Combined use of Groovy-JSR223, Kotest, and OpenJ9 leads to exception."
Java -version output
--------------------

[code]

Summary of problem
------------------

Combined use of Kotest, Groovy-JSR 223 and Eclipse OpenJ9 makes the Groovy interpreter fail, starting with version 3.0.0.
* No problem under OpenJDK.
* No problem with Groovy-JSR 2.x.x and OpenJ9 < 14
* The problem can be reproduce also on OpenJ9 11

Diagnostic files
----------------

I prepared a repository

[2020-03-31 18:54] JasonFengJ9 commented on #7740
Thanks @LinHu2016 making a test build which improves the allocation sampling.

@PhilippLengauer do you mind to give a try this personal build (Linux x86)? If you can provide an email address, I can share a box link, otherwise please suggest another way to share the file ~260M.

[2020-03-31 19:11] a7ehuo commented on #9024
Reproduced once out of three runs. Looks similar to #8885.

[code]

[code]
[code]

[2020-03-31 19:19] DanHeidinga commented on #9058
@ChengJin01 can you take a look at this?

[2020-03-31 19:21] ChengJin01 commented on #9058
Will investigate to see what happens in there.

[2020-03-31 19:36] llxia commented on #8874
PR https://github.com/AdoptOpenJDK/openjdk-tests/pull/1692 is merged. To trigger the auto download, upstream builds (openj9) should be updated to pass in only the CUSTOMIZED_SDK_URL=url_to_sdk. The script will then auto-download test-images and debug-images for OpenJ9 SDK. For sdk that does not have debug-images (i.e., zos), DEBUG_IMAGES_REQUIRED should set to false when trigger the test builds.

[2020-03-31 20:34] a7ehuo commented on #9024
This intermittent failure at `jswalk.c:538` is reported in multiple test cases/issues as below:

jdk8:
`cmdLineTester_jvmtitests_debug_openj9_none_SCC_11`: #8885
`cmdLineTester_jvmtitests_debug_openj9_none_SCC_5`: #8170
`cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_2`: #6714

jd11:
`cmdLineTester_jvmtitests_hcr_OSRG_nongold_2`: #9024

[2020-03-31 20:47] #7748 closed

[2020-03-31 20:58] harryyu1994 commented on #8786
Looks like this hook (`void jitClassesRedefined(J9VMThread * currentThread, UDATA classCount, J9JITRedefinedClass *classList)`) initiated the call to `fixUpMethodCode`  and we crashed before the hook finishes, there is a high chance something went wrong here. Looking into this method.

[2020-03-31 21:08] jdekonin opened #9061 "Power KVM host cpu problems"
@rajdeepsingh1.  We seemed to be having problems with stability with the power hosts at UNB.

Recent changes to that environment have been the addition of an instance for storage (#8425) for @AdamBrousseau and also the addition of 6 * cent7 (#8819) instances for @vsebe.

Last week discussing on the OpenJ9 call, we had decide to postpone completing these tasks because we didn't want to make the hos

[2020-03-31 21:29] pshipton commented on #7740
@JasonFengJ9 can't you create a link that is visible to everyone? It doesn't need to be private.

[2020-03-31 22:09] ChengJin01 commented on #9058
I already reproduced the issue with OpenJ9 locally as follows:
[code]
and the NPE never occurs on  Hotspot:
[code]
Need to trigger dumps to figure out where the exception came from and how this happened.

[2020-03-31 22:11] ChengJin01 commented on #5058
Currently investigating an NPE issue at https://github.com/eclipse/openj9/issues/9058. Will get back to this work once the problem there gets addressed.

[2020-03-31 22:12] harryyu1994 commented on #8786
[code]

[code]

[2020-03-31 22:43] DanySK commented on #9058
@ChengJin01, i modified the test, as I asserted the presence of OpenJ9 before running the example -- so the problematic lines were not even ran under HotSpot.
Anyway, in an effort to make the issue as reproducible as possible, I connected the repository to a CI pipeline. As [this build](https://travis-ci.com/github/DanySK/Bug-Groovy-9493/builds/157342676) shows,  execution is successful for all Ho

[2020-03-31 22:47] #9004 closed

[2020-03-31 22:56] harryyu1994 commented on #8786
Narrowed down to this method ('notifyClassRedefinitionEvent')

[code]

[code]

[2020-03-31 23:15] harryyu1994 commented on #8786
The above post shows that `TR_RedefinedClassPicSite::compensate` modified the startPC content:
- startPC: 0x7fe865376060
- _picLocation: 0x7fe86537605e
[code]

[2020-03-31 23:42] knn-k commented on #9046
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_aarch64_linux_Personal/2/ was the last time I saw this failure.
Possibly an intermittent problem.

[2020-03-31 23:42] knn-k commented on #9047
It is likely it is the same as #9046.

[2020-03-31 23:43] knn-k commented on #9048
Never seen this before.

[2020-03-31 23:44] cathyzhyi commented on #7684
So the problem is very likely to be related to incorrect inlining and around 500 hundred methods are inlined. I've managed to find the inlining branch that's responsible for the messed up constant pool entry which still involves 100 methods, unfortunately.

[2020-04-01 00:04] mpirvu commented on #8786
Do you think is the location or the value that is wrongly patched?
I would say it's the location.
This is the code that creates the assumption at the client:
[code]

[2020-04-01 00:10] AdamBrousseau commented on #4719
Can this be closed then?

[2020-04-01 00:32] JasonFengJ9 commented on #7740
Here is the link https://ibm.box.com/s/f7ueudpuzv65huo6fl4l78zhec9sd239

Please advise if it is not accessiable.

[2020-04-01 01:09] JasonFengJ9 commented on #8993
Build a testcase to get following stacktrace:
[code]
The `NPE` was thrown at https://github.com/eclipse/openj9/blob/e3fd4465c807cdca6628ef2a11af875ecfc2b18f/jcl/src/java.base/share/classes/java/lang/Class.java#L2022
The `null callerClass` is from https://github.com/eclipse/openj9/blob/e3fd4465c807cdca6628ef2a11af875ecfc2b18f/jcl/src/java.base/share/classes/java/lang/Class.java#L1947

The `NPE` was

[2020-04-01 01:22] knn-k commented on #9048
I cannot recreate the failure from running 20+ times.

[2020-04-01 01:31] pshipton commented on #9048
@knn-k where did you try?

@smlambert can @knn-k get access to test-packet-armv8-ubuntu-16-04

[2020-04-01 01:47] knn-k commented on #9048
I tried it in my local environment with quad core.
I don't have access to test-packet-armv8-ubuntu-16-04.

[2020-04-01 01:57] tajila commented on #4719
Yes, thanks for working on this

[2020-04-01 01:57] #4719 closed

[2020-04-01 01:59] pshipton commented on #9048
Could also try it on cent7-aarch64-1.

[2020-04-01 02:05] knn-k commented on #9044
I recreated the failure only once in 20+ runs.
[code]

[2020-04-01 02:09] smlambert commented on #9048
Can run a 10x Grinder at OpenJ9:
https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=aarch64_linux_xl&TARGET=PatchModuleImgTest_PlatformMod_0&LABEL=cent7-aarch64-1&ITERATIONS=10

Can run a 10x Grinder at Adopt:
https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=aarch64_linux_xl&TA

[2020-04-01 02:13] smlambert commented on #9048
Alternatively, to gain direct access to an AdoptOpenJDK machine, you'd need to request it by opening an openjdk-infrastructure issue.

[2020-04-01 03:01] VermaSh commented on #9009
@pshipton @jdekonin Could I get access to `ub16-390-3`

[2020-04-01 03:10] knn-k commented on #9042
I cannot recreate the failure running the test 100+ times on cent7-aarch64-1.

[2020-04-01 03:23] pshipton commented on #9009
Provided instructions via PM on Slack

[2020-04-01 05:55] knn-k commented on #9048
I ran this test 100 times on cent7-aarch64-1 manually (50 times each with large heap build and compressed refs build), and I saw no failures.
I used the following large heap build.
[code]

[2020-04-01 07:05] Akira1Saitoh commented on #9033
I cannot recreate the failure running the test 100+ times on cent7-aarch64-1.

[2020-04-01 07:40] knn-k commented on #8897
It is possible #9044 is also related to this.  The ArrayBlockingQueue/WhiteBox test pass when you run it with `-Xjit:optlevel=warm`.

[2020-04-01 08:14] knn-k commented on #9044
Possibly the same cause as #8897.

[2020-04-01 12:21] pshipton opened #9066 "zlinux failing to resolve github.com"
Still happening on builds this morning. All  of the zlinux builds failed last night.
https://ci.eclipse.org/openj9/job/Build_JDK8_s390x_linux_Nightly/346
`stderr: fatal: unable to access 'https://github.com/ibmruntimes/openj9-openjdk-jdk8.git/': Could not resolve host: github.com; Unknown error`

https://ci.eclipse.org/openj9/job/Build_JDK8_s390x_linux_xl_Nightly/126/
https://ci.eclipse.org/openj9

[2020-04-01 12:21] pshipton commented on #9066
@jdekonin

[2020-04-01 12:22] 0xdaryl commented on #8897
I can reproduce this on x86, but only at cold and only on an 80-core native machine.  It hangs maybe 1/25 runs.  The problem only seems to require trivial inlining to reproduce.  Investigation continues...

[2020-04-01 12:34] keithc-ca commented on #8983
@pshipton Can you please check if #9026 fixed this?

[2020-04-01 12:35] pshipton commented on #9066
I disconnected rh7-390-4, trying to bring it back online results in
[code]

[2020-04-01 14:32] jdekonin commented on #9066
Our rhel7 390 machines cannot ping github.com.  ub16 390 machines do but these do not.  I will raise the issue with the provider.

[2020-04-01 14:44] llxia commented on #4719
Internal TRSS: http://testci1.fyre.ibm.com/resultSummary?parentId=5e82971de2c3171da209f59f

[2020-04-01 14:51] dchopra001 opened #9068 "JITServer: zLinux performance regression"
When running the AcmeAir benchmark on zLinux, the throughput regresses by 12% when using JITServer to perform compilations. This issue will be used to track the investigation.

[2020-04-01 14:57] dchopra001 commented on #9068
A typical iteration of the benchmark is executed as follows:
1. Launch JITServer
2. Launch AcmeAir
3. Run JMeter for 300s to "warm up" (this run will do the bulk of the compilations)
4. Run JMeter for another 300s (any profiles are collected during this round)

AcmeAir is not shutdown in between steps 3 and 4. The reason being that we don't want to spend time loading AOT methods when collecting a

[2020-04-01 15:01] dchopra001 commented on #9068
To try and narrow the problem down, I first tried to restrict the optimization levels. The results summary is below:

[code]

It's clear that most of the regression can be accounted for when restricting optLevel to cold. So I will restrict all future runs to this optLevel and will try to further narrow the problem down.

[2020-04-01 15:07] babsingh commented on #8735
### Signal handling notes about the Reference Implementation (RI)
1. The RI doesn't install a JVM signal handler for SIGABRT.
2. When SIGABRT is received, the RI depicts the default OS behavior for generating the cores.
3. The RI doesn't employ signal chaining by default.

### Signal handling notes about J9
1. J9 installs a JVM signal handler for SIGABRT, which generates the cores.
2. IBMJ9 JDK7 h

[2020-04-01 15:09] dchopra001 commented on #9068
To make sure that the variance between each iteration is not too high, I ran the benchmark three times with the following JVM options to make sure the data can be reliable:
[code]

1. cold: 10423.4/s, warm: 11634.8/s
2. cold: 10308.5/s, warm: 11560.2/s
3. cold: 10548.2/s, warm: 11668.0/s

Based on the above, the variance is 0.5%..

[2020-04-01 15:37] rajdeepsingh1 commented on #9061
The `powerkvm1` host was experiencing many failures due to CPU lock ups occurring on this host. The VMs were utilizing many resources (vCPU) once the `cent7-ppcle-*` machines were created, which deemed the host unstable. Any new machine install or clone was failing to run at its full potential.

I was able to remove OMR machines `ub1604-p8-unb-11 to ub1604-p8-unb-15` since they were not getting an

[2020-04-01 16:08] PhilippLengauer commented on #7740
I've downloaded it and will run our tests.

[2020-04-01 16:19] M-Davies commented on #9042
I also can't within a grinder tailored to the failing test's conditions
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2708/

[2020-04-01 17:36] dmitry-ten commented on #9023
Hm, not sure if what I reproduced is the same bug.
When I run the test locally, I can't get it to segfault unless I run the client in gdb.
But when ran gdb, it segfaults even in non-JITServer mode. When I run it on grinder, non-JITServer didn't segfault over 20 iterations, while JITServer has 1/10 failure rate.
In gdb, both segfault every time. Not sure if running it on gdb catches the same bug, o

[2020-04-01 18:29] DanHeidinga commented on #9061
Today's community call came to the same conclusion - if we lose those machines we can't get through our testing ppcle in a night and would have to remove testing (the xl build maybe?) so better to wait.

We can proceed when we have a way to get someone on site to fix any issues or when we have an alternative place to get machines in case this fails.

[2020-04-01 18:38] gacholio commented on #8983
For the record, I'm not expecting my change to have any effect on non-mixed builds.

[2020-04-01 19:06] harryyu1994 commented on #8786
[code]

[code]

When the assumption was generated at the server, the offset was already -2.
So client did the right thing. Now the question is, did the server do the right thing. (i.e. is that `addressToBePatched` address the correct value).

[2020-04-01 19:40] mpirvu commented on #8786
I doubt that -2 is a correct offset. You could run without jitserver to see what it should have been.

[2020-04-01 19:59] harryyu1994 commented on #8786
I am seeing nonjitserver having -2 offset as well
[code]

[2020-04-01 20:03] mpirvu commented on #8786
That is odd. At -2 we have the linkage word. Can you get the stack trace when `J9::CodeGenerator::jitAddPicToPatchOnClassRedefinition` is called with an offset of -2?

[2020-04-01 20:06] JasonFengJ9 commented on #8993
@andrewcraik could you help run a test build (link below) against the testcase, and advise the result?

`OpenJ9-JDK11-x86-64_linux-20200401-150444.tar.gz`
https://ibm.box.com/s/fd3yz6grvyx4nbohepgu1j6izjsw4di9

[2020-04-01 20:07] dmitry-ten commented on #9023
I narrowed down the segfault to a single method: `"java/lang/invoke/AsTypeHandle.invokeExact_thunkArchetype_X(Lnet/adoptopenjdk/test/lang/invoke/AsTypeTest;Ljava/lang/Object;)I`.

This is the part of the generated code that segfaults:
**At instruction selection**:
[code]
Segfault happens when executing `test` instruction.

So, `mov` moves the address of the second parameter (`java/lang/Object`) in

[2020-04-01 20:10] dmitry-ten commented on #9023
https://github.com/eclipse/openj9/blob/5c62b29ad6b1bd1c33d9a70f1cfec5838792a791/runtime/compiler/x/codegen/J9TreeEvaluator.cpp#L1857-L1886

This is the part of the code generating above instructions.

[2020-04-01 20:26] a7ehuo commented on #8952
When `getIndexAt()` is called, the passed in parameter `objectReferenceLocation` is not necessarily the reference that’s stored in the known object table. It should not be used to pass into `updateKnownObjectTableAtServer()` to update the table at the server. If we need to check if the table at the server is in sync with the table at the client, the reference should be the one received from the cl

[2020-04-01 20:28] harryyu1994 commented on #8786
nonjitserver, we found a -2 offset almost immediately after starting the test. Looks like there are a quite a few places where the addressToBePatched is 2 bytes short of the startPC...

[code]

[2020-04-01 20:49] harryyu1994 commented on #8786
In NonJITServer:

I noticed that the startPC changed.
Though codeStart is 0x7f5ca2213034, which has an offset of -2, the actual startPC when we "compensate" is not 0x7f5ca2213034 but 0x7f5ca2213060
So maybe we shouldn't be using "codeStart" to calculate offset here

[code]

[2020-04-01 20:59] fjeremic opened #9077 "JIT assertion in debug mode when commiting an abstract VFT guard"
Using the following test, and a DEBUG compiled JIT will trigger an assertion failure seen in [1]:

[code]

The issue can be reproduced via:

[code]

gdb tells us the following:

[code]

I'm not sure if this assertion is valid or not. It is certainly lacking a description of why the `else` path should be unreachable. It also seems the assertion does not fire under a production build, so I question

[2020-04-01 20:59] harryyu1994 commented on #8786
So the problem is probably here:
- This is how we calculate the offset at JITServer
[code]

- This is how we calculate the patching address at JITClient
[code]

@mpirvu The question is, is self()->getCodeStart() equivalent to metaData->startPC? From my observations(in the above post) these two aren't exactly equivalent.

[2020-04-01 21:24] mpirvu commented on #8786
Some piece of code that suggests `getCodeStart()` is `startPC`:
[code]

[2020-04-01 21:30] mpirvu commented on #8786
Another example from `void TR_X86Recompilation::setMethodReturnInfoBits()`
[code]

[2020-04-01 21:32] harryyu1994 commented on #8786
I have shown that on NonJITServer when the ClassRedefinitionPIC Runtime Assumption was created, codeStart was `0x7f5ca2213034` and addressToBePatched was `0x7f5ca2213032` . And when the patching happens, the startPC is `0x7f5ca2213060` while the addressToBePatched is `0x7f5ca2213032`. Maybe the addressToBePatched shouldn't be bounded to an offset from the startPC of a method then?

[2020-04-01 21:38] harryyu1994 commented on #8786
I feel like looking into how addressToBePatched is generated. Maybe we can find the answers there.

[2020-04-01 21:42] zl-wang commented on #8842
@shanchao95  thanks for the data.  but I am confused:  previously between multiheap setting and no-setting, for 16-thread tests on small 512 payload, the performance improvement was from a few times to 100s times. however, this batch of data didn't show that at all.

I am wondering if your driver is after the code merge such that your no-setting actually means the current setting in the merge.

[2020-04-01 21:49] ashu-mehra commented on #9077
Dup of #8803

[2020-04-01 22:08] loriadi commented on #7684
Thanks for the update!

[2020-04-01 22:40] mpirvu commented on #8786
That getCodeStart() is not the startPC after all, at least not in all cases.
I just ran "java -version" non-jitserver with instrumented code and the patching point is the very first instruction in the pre-prologue at address 0x7f296ea93bf2 which indeed contains a j9class:
[code]

[2020-04-01 22:44] mpirvu commented on #8786
[code]
I believe that before the pre-prologue is generated that `getPrePrologueSize()` returns 0 so we `getCodeStart()` does not point to the startPC

[2020-04-01 22:48] mpirvu commented on #8786
Indeed, that's the case.
[code]

[2020-04-01 22:51] mpirvu commented on #8786
One solution could be to use `_binaryBufferStart` as the reference point, but then at the client we need a way to retrieve that value. `startPC` was conveniently written into metaData, but `_binaryBufferStart` is not.

[2020-04-01 22:58] fjeremic commented on #8803
@liqunl any progress on the fix? Should we be making that assert fatal?

[2020-04-01 22:59] fjeremic commented on #9077
Thanks @ashu-mehra. Closing this one as duplicate.

[2020-04-01 22:59] #9077 closed

[2020-04-01 23:00] mpirvu commented on #8786
`_binaryBufferStart` is written in the metaData as `codeCacheAlloc`
[code]

[2020-04-01 23:24] JasonFengJ9 opened #9079 "RuntimeException: Cipher Cipher.ChaCha20-Poly1305, mode: decryption, algorithm from: SunJCE, in: 1024, expOut: 6128, actual: 1008"
Failure link
------------

From an internal build `Test_openjdk14_j9_sanity.openjdk_x86-64_linux_Nightly/71`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://hyc-runtimes-jenki

[2020-04-01 23:41] JasonFengJ9 opened #9080 "cmdLineTester_getPid_0 FAIL: RuntimeMXBean.getPID() returned 4048 instead of"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly/325`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https://hyc-runtim

[2020-04-02 00:23] 0xdaryl commented on #9044
@knn-k : can you try reproducing this with `-Xjit:enableAggressiveLiveness`?  If it still fails then it likely isn't the same problem as 8897.  I believe I know what the problem is for 8897, though I'm not sure yet if it is a test case issue or an optimizer issue.  More details coming in 8897.

[2020-04-02 00:36] knn-k commented on #9044
I tried `-Xjit:enableAggressiveLiveness` on cent7-aarch64-1 50 times, and they all pass.

[2020-04-02 00:50] 0xdaryl commented on #9044
OK.  Given this is an intermittent GC failure, is it possible to run it perhaps 100 times with that option?

[2020-04-02 01:41] knn-k commented on #9044
I ran 100 times with the compression refs build + 100 times with the large heap build.
I see no failures with `-Xjit:enableAggressiveLiveness`.

[2020-04-02 02:05] Akira1Saitoh opened #9081 "AArch64: java/lang/String/UnicodeCasingTest.java.UnicodeCasingTest timeout failure"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/104/testReport/junit/java_lang_String_UnicodeCasingTest/java/UnicodeCasingTest/

- test category, sanity.openjdk
- OS/architecture, aarch_64

[code]

Optional info
-------------

- intermittent failure (yes):

Failure output (captured from console output)
--------------------------------------

[2020-04-02 02:10] knn-k commented on #9032
@smlambert
Can you give us a comment on this, please?  It looks like a testcase failure.  Thanks.

[2020-04-02 02:10] Akira1Saitoh opened #9082 "AArch64: java/math/BigInteger/LargeValueExceptions.java.LargeValueExceptions timeout failure"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/104/testReport/junit/java_math_BigInteger_LargeValueExceptions/java/LargeValueExceptions/

- test category, sanity.openjdk
- OS/architecture, aarch_64

[code]

Optional info
-------------

- intermittent failure: yes

Failure output (captured from console output)
------------------------------

[2020-04-02 02:15] Akira1Saitoh opened #9083 "AArch64: java/net/httpclient/websocket/ReaderDriver.java.ReaderDriver timeout failure"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/101/testReport/junit/java_net_httpclient_websocket_ReaderDriver/java/ReaderDriver/

- test category: sanity.openjdk
- OS/architecture: aarch64

[code]

Optional info
-------------

- intermittent failure: yes

Failure output (captured from console output)
--------------------------------------

[2020-04-02 04:47] dnakamura commented on #8183
Not a lot to report today
- Currently re-running plinux test to try to reduce noise margin
- Cleaning up patches for prs
- work arround with an issue on xlc on zos where something which is documented to work, apparently doesn't (I believe to due to a bug in their c library implementation)

[2020-04-02 08:18] M-Davies commented on #9033
I also can't recreate this under the failing test's conditions. https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2709/

[2020-04-02 08:29] M-Davies commented on #9044
Ran this under the failing test's conditions. Seen 13/100 failures (test output/dump files are here in case the grinder is deleted https://ibm.box.com/shared/static/4db1l3tshf9xon6tauueb6wl3to5rygc.gz)

Running a 2nd 100 iteration grinder with `-Xjit:enableAggressiveLiveness` option enabled https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2720/console

[2020-04-02 08:42] M-Davies opened #9085 "JTReg jdk14-m2 Failure: com/sun/crypto/provider/Cipher/ChaCha20/OutputSizeTest.java"
Failure link
------------
- test category, sanity.openjdk
- OS/architecture, x64_windows
[code]

Optional info
-------------

- intermittent failure (no):
- part of the jdk14-m2 release triage

Failure output (captured from console output)
---------------------------------------------
[code]
- https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_x86-64_windows/44/testReport/
- https://

[2020-04-02 08:43] knn-k commented on #8987
https://github.com/eclipse/omr/pull/5014 will fix this.

[2020-04-02 08:47] knn-k commented on #8960
`FLUSH_MEMORY()` for AArch64 in https://github.com/eclipse/omr/pull/5014 also uses `dmb`.

[2020-04-02 09:03] M-Davies commented on #9085
Dup of https://github.com/eclipse/openj9/issues/9085

[2020-04-02 09:04] #9085 closed

[2020-04-02 11:32] knn-k commented on #8987
This test passes in https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_aarch64_linux_Personal/6/ with the fix of eclipse/omr#5014.

[2020-04-02 11:43] M-Davies commented on #9046
yeah it seems intermittent. Couldn't reproduce in a singular grinder https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2721/

[2020-04-02 12:04] knn-k commented on #8966
This test runs the VM with the options described in @Mesbah-Alam's comment above.  AArch64 VM does not store AOT methods in the cache.

AOT methods are stored when I added `-Xquickstart` to the options.  With the option at the end of the output from the VM looks like:
[code]
`printStats` shows that there are some AOT methods in the cache in this case.

[2020-04-02 12:14] pshipton commented on #8735
Why does OpenJ9 JDK8 have signal chaining disabled?

[2020-04-02 13:01] pshipton commented on #4277
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly/329

[2020-04-02 13:03] pshipton commented on #8204
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly/325
MauveMultiThreadLoadTest_0

[2020-04-02 13:17] PhilippLengauer commented on #7740
Thanks for the build, i could access it and i'll run the reproducer and our more extensive tests soon. I'll let u know.

[2020-04-02 14:19] a7ehuo commented on #8789
Reproduced once out of thirty times of runs locally with a release build. It is in the path of `jitWalkStackFrames()`. Not able to reproduce it with a debug build yet.

[code]

[code]

[2020-04-02 14:38] shanchao95 commented on #8842
@zl-wang I found a different version of jdk was used for this performance test. Previously i used jvm**0317 from espresso. A new run with jdk0317 is running. It will be updated once it is done.

[2020-04-02 14:47] dmitripivkine commented on #8789
It is probably unrelated completely but just FYI https://github.com/eclipse/openj9/issues/8652
The common to this item is in a few cases crash occur an attempt to use bogus CP (garbage really) from a method

[2020-04-02 14:49] dmitripivkine commented on #8789
Please feel free to ask me in case of any GC related aspect of this issue

[2020-04-02 14:56] M-Davies commented on #9048
https://ci.adoptopenjdk.net/job/Grinder/2722/tapResults/

92/100 failures on `test-packet-armv8-ubuntu-16-04`

[2020-04-02 14:57] 0xdaryl commented on #8897
This test has been carefully engineered to expect certain behaviour from the garbage collector at certain points in the test.  It deals with `ReferenceQueue`s and `WeakReference`s and manipulates the apparent liveness of objects in order to have the `WeakReference`s enqueued at predictable points for testability.

When one of the test methods is compiled at optlevel cold, we perform a trivial inli

[2020-04-02 14:58] pshipton commented on #9079
@ashbm5 pls investigate.

Investigation of a similar failure (javanext/issues/180) showed it only failed on internal ub16 machines, however the failure reported above is on cent6x64rt3-1.
With the similar failure `-Djdk.nativeChaCha20=false` fixed the failure.

[2020-04-02 15:11] samasri commented on #9079
I will look into this

[2020-04-02 15:15] pshipton commented on #9079
@JasonFengJ9 you don't actually provide the failed test name. It would be helpful to include this in future issues.
i.e. com/sun/crypto/provider/Cipher/ChaCha20/OutputSizeTest.java

[2020-04-02 15:15] pshipton commented on #9079
.jtr output from the failure artifact.
[code]

[2020-04-02 15:18] pshipton commented on #9079
Note in the duplicate opened for the same failure in Adopt builds, it failed on Windows.
https://github.com/eclipse/openj9/issues/9085

[2020-04-02 15:25] JasonFengJ9 commented on #9079
i.e. com/sun/crypto/provider/Cipher/ChaCha20/OutputSizeTest.java

I was hoping the rebuild link is sufficient. Will add such test names in the future.

[2020-04-02 15:29] pshipton commented on #9079
The rebuild link targets the entire suite jdk11_tier1_cipher_0

[2020-04-02 15:32] M-Davies commented on #9044
2nd Grinder passed.

@0xdaryl Adding `-Xjit:enableAggressiveLiveness` seems to have resolved this. Is there a system setting that could be causing @knn-k testing to pass and not ours at Adopt?

[2020-04-02 15:32] pshipton opened #9089 "Create openssl 1.1.1f for Windows"
There is an openssl 1.1.1f release. Please build it for Windows, and open a PR to deploy it.

It's being deployed for other platforms in #9086

[2020-04-02 15:33] pshipton commented on #9089
@jdekonin

[2020-04-02 15:57] pshipton commented on #9080
@JasonFengJ9 is it a one time failure or does it re-occur in a grinder?

[2020-04-02 16:06] JasonFengJ9 commented on #9080
@pshipton it is not persistent failure for sure, just launched a 30x grinder.

[2020-04-02 16:11] ajohnson1 commented on #7091
As author of the MAT code I think the intention of the code was to cope with DTFJ without accurate finalizer information.
The guard is
[code]
where guessFinalizables is always true, goodDTFJRoots means that some roots were returned from `dtfjInfo.getJavaRuntime().getHeapRoots()` and there was at least one root ` JavaReference.HEAP_ROOT_FINALIZABLE_OBJ`

If that wasn't so, then MAT guesses there is

[2020-04-02 16:31] harryyu1994 commented on #8786
Going to verify https://github.com/eclipse/openj9/issues/7674 again with the above fix as the test failures there are related to this one.

[2020-04-02 16:38] babsingh commented on #8735
For JDK8, the core signal chaining functionality was moved to OMR and completely re-implemented ([omrsigcompat](https://github.com/eclipse/omr/tree/master/omrsigcompat)). There is no one-to-one code-mapping for signal chaining between JDK7 and JDK8. I couldn't derive the reason for disabling signal chaining by looking at the code. Also, I couldn't find an explicit change-set or documentation which

[2020-04-02 16:40] vijaysun-omr commented on #8897
fyi @klangman since this is testing an area that we have had some customer issue in in the past as well  and you may have been the one that added the -Xjit option that @0xdaryl mentioned.

[2020-04-02 17:03] pshipton commented on #9066
Seems to have been resolved.

[2020-04-02 17:03] #9066 closed

[2020-04-02 17:04] JasonFengJ9 commented on #9080
30x grinder all passed, closing and will re-open if this happens again.

[2020-04-02 17:10] dmitry-ten commented on #9023
@mpirvu could I get your opinion on this?
I'm not very familiar with codegen so not sure if my assessment of what's happening is correct.

[2020-04-02 17:16] jdekonin commented on #9066
Appears this resolved itself at some point between 4-5pm yesterday, and then stopped working around 8-9PM.  It was working when I checked at 5am and then again 9am this morning.  All times EST.  I've asked for a reason for what happened but I have yet to receive a concrete answer.

[2020-04-02 18:09] cathyzhyi commented on #7684
The problem happens because runMacro can expand the following code in `java/lang/invoke/FilterArgumentsHandle.invokeExact_thunkArchetype_X` into multiple `invokeExact` calls https://github.com/eclipse/openj9/blob/06fa4ce85ed4632d1723a1ad346b8e00e9269b60/jcl/src/java.base/share/classes/java/lang/invoke/FilterArgumentsHandle.java#L86-L89. However, our inliner currently can't handle the case where mu

[2020-04-02 18:37] mpirvu commented on #9023
@dmitry-ten Do you have the entire compilation log? If so could you please send it to me?

[2020-04-02 18:40] a7ehuo commented on #7567
Close. This issue no longer happens.

[2020-04-02 18:40] #7567 closed

[2020-04-02 18:53] pshipton commented on #9066
All the nightly builds last night were fine.

[2020-04-02 19:04] loriadi commented on #7684
So excited that you figured this out, Cathy!!

[2020-04-02 19:19] pshipton commented on #7684
I'm going to tentatively move this back to the 0.20.0 milestone, hoping that a fix will be available and can go into the release.

[2020-04-02 19:30] pshipton commented on #8983
@keithc-ca I got a core from last night's build and it's working. I don't know if this is because it's fixed, or this build just didn't experience the problem. Given that a couple of previous builds of this nature I checked didn't work, it looks promising. For the record can you please point out which part of the change may have fixed it.

[2020-04-02 19:33] pshipton commented on #7633
There is a 1.1.1f bug fix update. It's in progress to update OpenJ9 head stream to use it, but I don't think the 0.20.0 release should be updated since there aren't any known problems we need bug fixes for, and updating carries the risk of breaking something. Adopt actually controls which version is used in a build.

@ashbm5 @DanHeidinga

[2020-04-02 21:07] dmitry-ten commented on #9023
Oh, I see. Thanks fro the explanation.
Hm, then I'll need to find some way to reproduce the actual failure.

[2020-04-02 22:35] smlambert commented on #9032
Since this testcase comes from the openjdk project we do not directly change the settings of the individual testcase but try to raise the issue upstream for a fix (though for local runs, it can be done as part of the test [here](https://github.com/openjdk/jdk11u/blob/master/test/jdk/java/lang/ProcessBuilder/Basic.java#L34-L35) by passing -mx value, see Examples at https://openjdk.java.net/jtreg/ta

[2020-04-02 22:54] ChengJin01 commented on #9058
1) Looking at the trace:
[code]
against the code at:
[code]
Given that  `-ea` can be specified without any package/class anme
[code]
There should be no problem with the check on `-ea` in class loader

2) Tracing down to the bytecode in
4XESTACKTRACE                at groovy/lang/GroovyClassLoader$InnerLoader.setDefaultAssertionStatus(GroovyClassLoader.java:617)

[code]
It looks like `NullPointerEx

[2020-04-02 23:16] JasonFengJ9 commented on #4277
Observed in an internal build `Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/299` as well:
[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=x86-64_windows&TARGET=ConcurrentLoadTes

[2020-04-03 00:06] knn-k commented on #8026
I think this can be closed now.
We have seen no issues that are specific to the compressed refs build.

[2020-04-03 00:08] 0xdaryl commented on #8026
Agree.  Closing.

[2020-04-03 00:08] #8026 closed

[2020-04-03 00:27] knn-k commented on #9048
The run on test-aws-rhel76-armv8-4 above was OK.
I have no idea what is making the difference, but it could be the OS (ubuntu vs rhel/centos) ?

[2020-04-03 01:51] knn-k commented on #8897
#9043 and #9044 are known to have the same issue.
When we exclude the ParentLoggerWithHandlerGC test, WeakHashMap/GCDuringIteration and ArrayBlockingQueue/WhiteBox tests also need to be excluded.

[2020-04-03 02:54] knn-k commented on #9046
I ran this test 10 times manually on cent7-aarch64-1, and saw no failures.
It takes 11 minutes to run a single round of this test on the test server.

[2020-04-03 04:26] knn-k commented on #9032
This test is already excluded in https://github.com/AdoptOpenJDK/openjdk-tests/blob/f5d240cfa768d00475ae5e3e2f06daf7a168550c/openjdk/ProblemList_openjdk11-openj9.txt#L41 for `aix-all` for a different reason.

Shall I open a pull request for excluding the test for `linux-aarch64`?

[2020-04-03 04:45] knn-k commented on #9047
I ran this test 10 times manually on cent7-aarch64-1, and saw no failures.

[2020-04-03 05:42] pshipton commented on #6324
I assume this was resolved since the failures no longer occur.

[2020-04-03 05:42] #6324 closed

[2020-04-03 05:45] pshipton opened #9103 "cmdLineTester_fieldwatchtests_0 fw001-1 Assertion failed PPCBinaryEncoding.cpp:636 VMState: 0x0005ff09"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_Nightly/337
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly/336
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_xl_Nightly/12
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_xl_Nightly/121
https

[2020-04-03 05:49] Akira1Saitoh commented on #9001
I tried `!jitstackslots` command with jdmpview on the test machine. It fails with the message `Problem running command: null`

[code]

[2020-04-03 05:51] Akira1Saitoh commented on #9001
`info thread` command says "corrupt data encountered"

[code]

[2020-04-03 06:04] Akira1Saitoh commented on #9001
The core file used (DDREXT.J9CORE.DMP) is here:
https://ibm.box.com/s/hku017204kmtp66occa1niprm18b47c3

[2020-04-03 08:39] Akira1Saitoh commented on #9001
Looks like `MethodMetaData_29_V0` does not have implementation for aarch64.
https://github.com/eclipse/openj9/blob/a602362e531657487f72f78305221c439612152a/debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/MethodMetaData.java#L351

[2020-04-03 09:02] M-Davies commented on #9048
Grinder on a rhel machine passed https://ci.adoptopenjdk.net/job/Grinder/2744/. Im not sure what the differences between rhel/centos and ubuntu are in terms of this hash however

[2020-04-03 09:11] M-Davies commented on #9047
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2725 grinder got aborted early but theres still over 50% failures in there.

It was on `test-packet-armv8-ubuntu-16-04` which is also might be causing another test to fail intermittently https://github.com/eclipse/openj9/issues/9048

[2020-04-03 09:14] M-Davies commented on #9046
I managed to recreate this.

Again, its on `test-packet-armv8-ubuntu-16-04` (See https://github.com/eclipse/openj9/issues/9047#issuecomment-608324711 and https://github.com/eclipse/openj9/issues/9048#issuecomment-607897163)

[2020-04-03 10:18] knn-k commented on #9032
I opened https://github.com/AdoptOpenJDK/openjdk-tests/pull/1716 for excluding ProcessBuilder tests on AArch64.

[2020-04-03 12:58] pshipton opened #9104 "AIX MathLoadTest_bigdecimal_special_12 hang or just slow"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/740
MathLoadTest_bigdecimal_special_12
variation: Mode351
JVM_OPTIONS: -Xcompressedrefs -Xgcpolicy:metronome -Xcompressedrefs
[code]

[2020-04-03 13:03] M-Davies commented on #9048
That's interesting. When running on an ubuntu based machine again (https://ci.adoptopenjdk.net/job/Grinder/2746/), the test only failed 1/100 times

[2020-04-03 13:10] pshipton commented on #8375
sanity.openjdk has been reconfigured to remove network testing. I'll do a run to confirm, but I believe I can remove the "Blocking openjdk.sanity" from this issue.

[2020-04-03 13:24] pshipton commented on #8899
sanity.openjdk has been reconfigured to remove network testing (to match OpenJDK tier 1 testing). I'm removing the "Blocking openjdk.sanity" from this Issue.

[2020-04-03 13:26] jdekonin commented on #8979
@Rajdeep Singh added 10 new/replacement AIX machines to the OpenJ9 node pool yesterday.  Thanks Raj.

I believe targeting a machine with each of the test options should be sufficient as the machines should be identical.  Machines added :  aix71-p8-11 -> aix71-p8-20

Asked via slack for a committer to launch and @pshipton was first on scene.  Thanks Peter!
sanity.functional jdk11 - https://ci.eclip

[2020-04-03 13:39] 0xdaryl opened #9105 "Value types codegen support"
Umbrella issue to track codegen work for value types.

- [ ] implement monitor/exit for value types (#8976)

[2020-04-03 13:41] 0xdaryl commented on #9105
@andrewcraik @cathyzhyi @Leonardo2718 :  if there is codegen-specific work needed to complete for value types I'd appreciate it if you'd update the list above.  This will be useful when the time comes for new backends to implement support (e.g., AArch64).  If this is already tracked somewhere else please let me know.  Thanks!

[2020-04-03 13:43] 0xdaryl commented on #5455
Support for value types: #9105

[2020-04-03 14:03] pshipton commented on #8287
sanity.openjdk has been reconfigured to match OpenJDK tier1 testing. This test has been moved out, removing the "Blocking openjdk.sanity".

[2020-04-03 14:21] dsouzai opened #9106 "Enable disabled loads of constants in AOT"
https://github.com/eclipse/openj9/pull/9071 prevents AOT compilation of methods that have Constant Dynamic, Method Handle Constant, or Method Type Constant loads. This issue tracks enabling this functionality.

The idea would be (to quote @andrewcraik ) "[to disable] the code that would fold these so that we just leave them as loads. They would need a relocation to load them from the constant pool

[2020-04-03 14:38] keithc-ca commented on #8983
Prior to #9026, `allocateRASStruct()` (called by `J9RASInitialize()`) would proceed as if `-Xnocompressedrefs` was in effect, but `J9RelocateRASData()` would see that `-Xcompressedrefs` was in effect. `J9RelocateRASData()` would allocate a new block and copy the (unitialized) `_j9ras_` global into it. The VM points at this new block. The originally allocated block (with the eye-catcher) points at

[2020-04-03 14:40] pshipton commented on #8879
sanity.openjdk has been reconfigured to match OpenJDK tier1 testing. This test is no longer in the sanity suite. Removing the "Blocking openjdk.sanity".

[2020-04-03 14:48] pshipton opened #9108 "sanity.openjdk jdk11 Mac EntryCount64k Expected to get exit value of [0]"
https://ci.eclipse.org/openj9/view/Test/job/Grinder/741/
jdk11 sanity.openjdk
java/util/zip/EntryCount64k.java.EntryCount64k (from java_util_zip_EntryCount64k.java)
Execution failed: `main' threw exception: java.lang.RuntimeException: Expected to get exit value of [0]
[code]

[2020-04-03 14:59] #8952 closed

[2020-04-03 15:31] fjeremic opened #9110 "Implment monitor enter/exit VM helper call for value types on Z"
In #8976 we implemented support for value types in monitor enter/exit IL evaluators on x86. Value types cannot participate in synchronization. As outlined in #8976 we need to handle the three cases:

1. Object is known to be a value type at compile time
    - Call VM helper unconditionally
2. Object is known not to be a value type at compile time
    - Proceed as we do today
3. Unknown until runti

[2020-04-03 15:56] pshipton commented on #9108
A respin of all sanity.openjdk passed https://ci.eclipse.org/openj9/view/Test/job/Grinder/747
Running a 3x grinder failed 1/3. https://ci.eclipse.org/openj9/view/Test/job/Grinder/748/
but the failure is the vmState=0x0005ffff Symbol=__findenv problem.

[2020-04-03 15:57] mpirvu commented on #9022
@a7ehuo Now that #8786 is fixed, could you please verify that this issue is fixed as well? Thanks

[2020-04-03 15:58] mpirvu commented on #9006
Attn @harryyu1994

[2020-04-03 16:00] mpirvu commented on #8786
Fixed by #9090

[2020-04-03 16:00] #8786 closed

[2020-04-03 16:04] pshipton commented on #9108
Checked https://ci.eclipse.org/openj9/view/Test/job/Grinder/741/ and it also shows the vmState=0x0005ffff Symbol=__findenv problem, although it didn't show up in the Jenkins Test Result.

Closing as a dup of #7247

[2020-04-03 16:09] pshipton commented on #8872
This is an intermittent problem tracked in a Milestone. I'm going to dissolve the "Blocking sanity.openjdk" project since the less intermittent problems were resolved by reconfiguring sanity.openjdk to tier1.

[2020-04-03 16:10] pshipton commented on #8373
This is an intermittent problem tracked in a Milestone. I'm going to dissolve the "Blocking sanity.openjdk" project since the less intermittent problems were resolved by reconfiguring sanity.openjdk to tier1.

[2020-04-03 16:12] jdekonin commented on #8979
Respin 2 failures
sanity.system jdk11 - https://ci.eclipse.org/openj9/view/Test/job/Grinder/749/
extended.system jdk11 - https://ci.eclipse.org/openj9/view/Test/job/Grinder/751/

There wasn't a default compiler on the path.

[2020-04-03 16:12] #9108 closed

[2020-04-03 16:20] simonameng opened #9113 "Improve unresolved data snippet in loadaddrEvaluator"
When I was working on an issue about UnresolvedDataSnippet in `loadaddrEvaluator`, I found that Z, Power and X86 handle UnresolvedDataSnippet in different way. Ideally, the unresolved filed should be an OpenJ9 concept, so it should be processed only in OpenJ9. However, currently on Z, Power and X86 platforms, it seems that OMR code has some handling about unresolved data snippet.

Currently on Z,

[2020-04-03 16:40] #8228 closed

[2020-04-03 16:50] pshipton commented on #9108
A 5x grinder didn't reproduce the problem again.
https://ci.eclipse.org/openj9/view/Test/job/Grinder/750

[2020-04-03 16:50] pshipton commented on #7247
Note the problem occurred a couple of time in grinders in a specific test, as shown in #9108.

[2020-04-03 17:01] #8485 closed

[2020-04-03 17:25] fjeremic opened #9115 "Crash in OMR::ValuePropagation::buildBoundCheckComparisonNodes in a PR build"
The test in [1] observed two crashes as per https://github.com/eclipse/openj9/pull/9096#issuecomment-608558042 which I will quote here:

I don't see any recent changes in this area so these are likely preexisting problems which are now being exposed.

[1] https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_s390x_linux_Personal/407/

[2020-04-03 17:38] rpshukla commented on #7247
I'll try reproducing the failure locally for `java/util/zip/EntryCount64k.java.EntryCount64k`. If that works, then I'll try running it in valgrind or lldb to see if that yields any insights.

[2020-04-03 17:40] pshipton commented on #7748
The OMR fix for this problem promoted yesterday and has gone through the nightly builds. @cathyzhyi  @0xdaryl what is the risk of the change, is it something we should consider for the 0.20.0 release?

[2020-04-03 17:43] pshipton commented on #7247
Note that for a jdk_custom grinder, the name of the test is `test/jdk/java/util/zip/EntryCount64k.java`

[2020-04-03 17:49] pshipton commented on #8983
@keithc-ca @gacholio was there a prior change that broke it? We need to check if any release branches need to be fixed.

[2020-04-03 17:54] gacholio commented on #8983
Yes, my previous change to the RAS init is what broke this.

[2020-04-03 17:58] gacholio commented on #8983
https://github.com/eclipse/openj9/pull/5783 is the culprit.

[2020-04-03 18:03] pshipton commented on #8983
That was delivered in May 2019. We should put a fix for this problem into the 0.20.0 release so we can service the release.

@DanHeidinga fyi

[2020-04-03 18:09] mpirvu opened #9116 "Too many VM_getClassFromSignature messages in AOT compilation with JITServer"
During AcmeAir benchmark runs, when using a AOT cold runs (starting with an empty shared class cache) the most frequent message is `VM_getClassFromSignature` messages. I see about 120K such messages in cold runs, while for warm runs the number drops significantly to 16K.
This issue investigates whether it is possible to reduce the number of `VM_getClassFromSignature` messages.

[2020-04-03 19:33] a7ehuo commented on #8789
`classDepthAndFlags` = `135135235 (0x80E0003)`.  `J9AccClassDying` (`0x8000000`) is set.

How to check if it's regular or Anonymous class.

[2020-04-03 19:34] #6011 closed

[2020-04-03 19:43] dmitripivkine commented on #8789
It's ROM class should have J9AccClassAnonClass flag (0x800) set for Anonymous

[2020-04-03 20:06] fjeremic opened #9120 "Improve jitdump functionality"
# Background

The jitdump is a dump agent [1] which collects JIT trace logs which can help investigation of OpenJ9 issues. This dump agent is enabled by default for general purpose faults and aborts [2].

A jitdump can typically help under two scenarios:

1. A crash during a JIT compilation
2. A crash in a JIT compiled method

For both of these scenarios we typically require a JIT trace log of the

[2020-04-03 20:56] a7ehuo commented on #9022
I don't see any crash at the client with the latest fix from #8786 (OpenJ9 - ffece8e) when running `HCRLateAttachWorkload_0` after ten runs. But I run into a server crash. I'm trying to run more times and see if it's consistent.

[code]

[2020-04-03 20:57] IBMJimmyk opened #9122 "Implement monitor enter/exit VM helper call for value types on Power"
This is for the Power implementation of https://github.com/eclipse/openj9/pull/8976 and https://github.com/eclipse/openj9/issues/9110.

@fjeremic Already wrote a good summary so I'm just copying it here for convenience:

[2020-04-03 21:10] IBMJimmyk commented on #9122
@gita-omr You probably want to know about this.

[2020-04-03 21:15] mpirvu commented on #9116
If I enable SVM even during startup all those `ResolvedRelocatableMethod_storeValidationRecordIfNecessary` messages go away.

[2020-04-03 21:24] BeverlyXu commented on #8353
I'm waiting for this pull request #9014  to be merged so I can release the tool to look at perf.data file from our community user.

[2020-04-03 22:02] a7ehuo commented on #8789
It doesn't look like `J9AccClassAnonClass` is set. romClass->extraModifiers = `0x8040000`. Will try to remove `-Xgc:concurrentScavenge` as suggested and see how it goes. Thanks @dmitripivkine!

[code]

[2020-04-03 22:02] JasonFengJ9 opened #9123 "JDK8 JIT Server : MathLoadTest_bigdecimal_ConcurrentScavenge_0 j9mm.479 * ** ASSERTION FAILED ** at ../../gc_glue_java/ConcurrentMarkingDelegate.cpp:61"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.system_x86-64_linux_jit_Nightly/37`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https://hyc-runtimes-j

[2020-04-03 22:16] JasonFengJ9 opened #9124 "jdk_util_j9_0 RuntimeException: Unexpected bundle: java.util.PropertyResourceBundle@16d73892"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/333`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https://hyc-runtimes-jenki

[2020-04-03 22:33] dmitripivkine commented on #9123
@JasonFengJ9 It would be convenient if you will include link to failed build directly, not just mentioning it. It might simplify access to preserved artifacts

[2020-04-03 22:40] dmitripivkine commented on #9123
@a7ehuo  Looks like it is a duplicate of https://github.com/eclipse/openj9/issues/8789
I will take a look for details but reassign it to JIT.
There is the problem in JIT frame any way

[2020-04-03 23:46] dnakamura commented on #8183
Extra Plinux tests are in and perf is still identical, but with a much smaller noise margin now.

Initial throughput tests on osx are showing no regressions, working on getting startup/footprint measurements

[2020-04-03 23:46] JasonFengJ9 commented on #9123
Slacked the internal link to @dmitripivkine
Generally we don't post a link that is not accessible to everybody.

[2020-04-04 01:44] pshipton commented on #8983
#9117 didn't seem to fix anything. A core from the JVM containing #9117 is still unreadable (No JRE).
`info mmap` shows there is no memory below 4GB, which doesn't match the javacore. The heap should be at 0x80000000, and the RAS struct at 0x30000000.

[2020-04-04 13:30] pshipton opened #9126 "Failure to build OMR error: cannot find symbol generated.OmrBuildFlags"
Failure is intermittent.

https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_OMR/536/
- this one passed on restart https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_OMR/537/

https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_cm_Nightly/335
[code]

[2020-04-04 13:31] pshipton commented on #9126
@keithc-ca @dnakamura

[2020-04-04 13:33] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/331
cmdLineTester_shrcdbgddrext_1
Testing: Run !shrc aotstats

[2020-04-04 13:43] pshipton opened #9127 "extended.system SharedClasses NullPointerException BruteArgumentMoverHandle.permuteArguments"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_xl_Nightly/331
SharedClasses.SCM01.MultiThread_0
[code]

[2020-04-04 13:53] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_xl_Nightly/331
SharedClasses.SCM01.MultiThread_0
[code]

[2020-04-04 13:54] pshipton commented on #9127
Dup of #8972

[2020-04-04 13:54] #9127 closed

[2020-04-04 21:23] pshipton commented on #9079
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.openjdk_x86-64_mac_Personal/1

[2020-04-04 21:24] pshipton commented on #9108
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.openjdk_x86-64_mac_Personal/1

[2020-04-05 09:51] ajohnson1 commented on #7091
The latest snapshot build of MAT works better. Now if it sees at least one HEAP_ROOT_UNFINALIZED_OBJ or one HEAP_ROOT_UNFINALIZED_OBJ root then it does not guess finalizable roots. This helps for the test program, but running on
[code]
the test program still shows 1000 FINALIZABLE roots, because there are no unfinalized or finalizable objects in the dump. MAT does give some warnings in the log:

O

[2020-04-05 13:21] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/326
cmdLineTester_lockWordAlignment_Object_d_0

[2020-04-06 00:29] pshipton commented on #8162
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Personal/101
MauveMultiThreadLoadTest_special_13

[2020-04-06 01:09] JasonFengJ9 opened #9129 "JDK8 JIT Server : cmdLineTester_jvmtitests_8 emeng001 NPE"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Nightly/39`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https:

[2020-04-06 04:44] pshipton commented on #9129
@mpirvu

[2020-04-06 05:08] knn-k commented on #8966
I can make this test pass by setting `IBM_JAVA_OPTIONS=-Xquickstart`, either on cent7-aarch64-1 or in my development environment.

When `-Xquickstart` is not specified, `TR::CompilationInfoPerThreadBase::preCompilationTasks()` never sets `canDoRelocatableCompile` to `true` on AArch64, and that prevents AOT compilation.
https://github.com/eclipse/openj9/blob/a602362e531657487f72f78305221c439612152a

[2020-04-06 05:28] knn-k commented on #9003
You get the following 9 failures in this test when you use `IBM_JAVA_OPTIONS=-Xquickstart` to force AOT compilation.
[code]

[2020-04-06 06:50] knn-k commented on #8966
I opened https://github.com/AdoptOpenJDK/openjdk-tests/pull/1717 for excluding this test.

[2020-04-06 13:44] keithc-ca commented on #9126
I suspect an important clue is that in the failing build there are numerous warnings like the sample below, but none in the successful one.
[code]
I'd guess that this is because parallelism is not being managed properly with respect to cmake build generation; that is generation is occurring more often than expected.

[2020-04-06 13:45] fjeremic commented on #9009
Grinder shows a 1/30 failure rate:
https://ci.eclipse.org/openj9/job/Grinder/731

@VermaSh any updates?

[2020-04-06 14:36] cathyzhyi commented on #7748
@pshipton  Risk should be low. I can port it to 0.20.0 release.

[2020-04-06 14:49] zl-wang commented on #8842
@shanchao95  thanks a lot for the data.  summary:
1) multiheap,considersize is 50% to 70% of performance of multiheap which is 10x to 100x performance of no-setting, for multi-threaded cases;
2) multiheap,consider memory consumption/RSS is in the same ballpark as no-setting. However, multiheap RSS  have two cases:
    2a) intensive multi-thread malloc/free:  it is more than 5x of no-setting RSS (e

[2020-04-06 14:52] cathyzhyi commented on #7748
@pshipton  Hey Peter, I opened a PR for 0.20.0 https://github.com/eclipse/openj9-omr/pull/58

[2020-04-06 14:59] trourance opened #9132 "SSL routines errors"
Hi,

We are randomly facing the two following issues with the PotgreSQL JDBC driver using SSL.

`org.postgresql.util.PSQLException: SSL error: point has incorrect order`
and
` org.postgresql.util.PSQLException: SSL error: Received fatal alert: bad_record_mac`

This is the java version used by the driver.
[code]

[2020-04-06 15:01] fjeremic opened #9133 "Consolidate jitdump functionality into JitDump.cpp"
The jitdump related code is scattered between rossa.cpp, HookedByTheJit.cpp, and CompilationThread.cpp. Rather than these functions be scattered over the codebase we should consolidate them in a single place since all the code is related to jitdump generation. This is the first step towards properly documenting some of these functions and eliminating redudancy and simplifying implementation.

[2020-04-06 15:22] a7ehuo commented on #8789
Ran the test 20 times without `-Xgc:concurrentScavenge`, the crash didn’t happen.

[code]

[2020-04-06 15:32] pshipton commented on #9132
@ashbm5 fyi

@trourance can you please try the testcase with `-Djdk.nativeCrypto=false` to see if it does resolve the problem. Note this will affect performance. If this option does resolve it, there are other more specific options that can be tried as well, see https://www.eclipse.org/openj9/docs/djdknativecrypto/

[2020-04-06 15:34] dmitripivkine commented on #8789
I will take a look to this failure (as well as new one) and try to get more details about failure condition

[2020-04-06 15:41] harryyu1994 opened #9135 "Investigate liberty daytrader7 performance gap between java8 and java11"
[code]

[code]

[2020-04-06 16:11] fjeremic opened #9136 "Relax condition to require no exclusive VM access when generating jitdump"
Often times when we crash the jitdump contains the following:

[code]

This is generated due to the code found in [1]. That `if` statement seems to want exclusive access when generating the jitdump trace. Often times someone else is holding exclusive VM access and thus we are unable to proceed and we don't generate a jitdump.

This poses two questions:

1. Why does jitdump generation require exclu

[2020-04-06 16:16] harryyu1994 commented on #9006
Working on this concurrently with other items.

Was this seen on Liberty with AcmeAir? @mpirvu

[2020-04-06 16:16] fjeremic commented on #9136
@dsouzai @mpirvu for help answering 1. and @gacholio for help answering 2.

For 2. adding the following seems to be working well so far for me:

[code]

From reading the implementation of this API it seems to clear the wait queue for exclusive access, and then it waits for current thread which has VM access to release it? Is this correct? Would this be the best way to ensure jitdump getsa hold of

[2020-04-06 16:22] a7ehuo commented on #9022
Reproduced the server crash again while compiling a different method but it still crashed when accessing the cache at the server. This time it's accessing `_remoteROMStringsCache`. Last time https://github.com/eclipse/openj9/issues/9022#issuecomment-608654220 is accessing `_constantClassPoolCache`. looks `_ramClass` is empty.

[code]

[code]

[2020-04-06 16:25] mpirvu commented on #9006
yes

[2020-04-06 16:28] mpirvu commented on #9135
Confidence interval is quite large for throughput 1.6% - 1.9%

[2020-04-06 16:31] gacholio commented on #9136
If jitdump is a RAS dump facitility, then the RAS code should be in charge of exclusive. @keithc-ca

[2020-04-06 16:34] mpirvu commented on #9135
Let's use only warm compilations with  -Xjit:initialOptLevel=warm,inhibitRecompilation
and maybe do the same for the cold opt level, hoping the gap will stay the same.

[2020-04-06 16:36] fjeremic opened #9137 "Ensure the same options are used for jitdump compilations"
When generating a jitdump we create the `TR::Options` object and modify it slightly so it enables various tracing options [1], however because generating the system core dump, javacore, and heapdump take precedence over a jitdump in the dump agent order, this means we may have to wait several seconds since the crash to start generating the jitdump.

This delay can cause problems because some optio

[2020-04-06 16:37] pshipton commented on #8842
@zl-wang we need to finalize the setting to be used for the 0.20.0 release this week. For the time being, I'm going to change to the head stream to "multiheap,considersize" to avoid failing the tests every night.

It sounds like you are considering a perf/footprint comparison between `multiheap,considersize` and `multiheap,bucket,considersize`. Can you make an explicit request.

[2020-04-06 16:38] mpirvu commented on #9135
How is the stimulus/load applied? We typically so 1 client for 60 seconds followed by 2-3 bursts of 50 clients for 180 sec.

[2020-04-06 16:40] fjeremic commented on #9137
@dsouzai @mpirvu looking for thoughts about 2. There are about ~1200 options at the moment. It seems unfeasible to persist those options for each compilation. The next best thing we can do is try to identify which options are enabled/disabled based on "the state of the world" or environment at the time, such as the one in [2], and isolate such options in a single place somewhere and only persist t

[2020-04-06 16:40] harryyu1994 commented on #9135
pinned to 4 cores ("0,1,32,33")

[2020-04-06 16:44] keithc-ca commented on #7091
I don't understand the table in the [comment](https://github.com/eclipse/openj9/issues/7091#issuecomment-607941719) above: how  is the third row meaningful as it appears to refer to an object that returns two distinct values from `getRootType()`.

I would not expect DTFJ to refer to any objects that have been finalized; they're not reachable from any root.

[2020-04-06 16:47] dmitripivkine commented on #8789
You can try harder... one (or few) 100 jobs grinders. This is an important, because if it is not CS specific it would eliminate possible missed Read Barriers problem. And failure itself does not look directly related to CS activity. If this is really CS specific issue there should be non-trivial connection

[2020-04-06 16:47] dsouzai commented on #9136
I believe at least one reason we can't have some other thread holding exclusive vm access is because during the jit dump compilation we'll call `acquireVMAccessIfNeeded` to get information via the runtime; if some other thread holds exclusive VM Access, the jit dump thread will be hung indefinitely (especially if the thread holding exclusive vm access is the thread that's running `dumpJITInfo`).

[2020-04-06 16:51] mpirvu commented on #9136
Many VM helpers called by the JIT require VM access, so the diagnostic compilation thread will attempt to acquire VM access and will be blocked is someone else is holding exclusive VM access

[2020-04-06 17:04] harryyu1994 commented on #9135
10 runs: 1 cold run + 9 warm runs
Each run is 50 clients for 300 seconds (No 1 client involved)

[2020-04-06 17:15] mpirvu commented on #9137
Since the crash can theoretically happen in any jitted method (moreover we generate a compilation log for any jitted method found on the stack of the faulting thread) we need to preserve the options for all compilations. Now, how do we minimize the amount of data stored for each compilation?

We could that if the set of such options is small.

I wonder if we can use some delta encoding. The option

[2020-04-06 17:19] mpirvu commented on #9135
I assume that each of the 10 runs is a new JVM invocation. If that is the case, then measuring throughput for the first 300 seconds captures the rampup phase were all compilations are happeining. If Java11 is heavier in compilation it may show a lower throughput.
I woud like to separate the concerns by using a warm-up period of 60 seconds with one client, followed by 1 or 2 periods of 3 minutes wi

[2020-04-06 17:23] ajohnson1 commented on #7091
I was exploring an idea where the object would be a root for two reasons, so would have two JavaReferences. It happens for other root types e.g. HEAP_ROOT_MONITOR and HEAP_ROOT_STACK_LOCAL. Now I don't think it is worth the complication for finalizers.

A finalized object could be seen in a heap dump if GC hasn't yet disposed of it. Normally MAT would discard it, but could be seen in the unreachab

[2020-04-06 17:23] dmitripivkine commented on #8789
Class can be unloaded in Global GC only. If we  look to previous Global GC (occur a while ago) there was one classloader/one class unloaded:
[code]
I guess it is this problematic one `!j9class 0x148200` `sun/reflect/GeneratedConstructorAccessor4`
The first theory coming in mind (and we observed this kind of the problem in the past until it was fixed): there is a possibility for GC to occur right a

[2020-04-06 17:24] vijaysun-omr commented on #8842
I am fine with the proposed `considersize` setting but should we get the JCE performance team to also measure with this setting on AIX to get the performance picture on the multithreaded scenarios they were running on ?

[2020-04-06 17:34] fjeremic commented on #9137
@mpirvu do you have any sense of how many distinct option sets there would be during the lifetime of a typical JVM? The option set in currently ~150 bytes worth of information. Obviously we don't want to store that for every method. Could we instead store it in a hash map and only store the hash for every method?

If we expect such a hash map to have few distinct values then this would be feasible

[2020-04-06 17:41] dnakamura commented on #9126
I've seen a lot of "depender newer than dependee" warnings /w jdk8. IIRC, they are harmless warnings that are only emitted, because jdk8 makefiles specify some kind of verbose flag (issue does not show up with jdk9+)

[2020-04-06 17:47] zl-wang commented on #8842
@pshipton  sorry for my ambiguity.  additional bucket option only had marginal performance advantage.  i was referring to the extreme case of tuning in performance guide or something. i was proposing multiheap,considersize as the fix.

@vijaysun-omr   JCE performance data I summarized here:  https://github.com/eclipse/openj9/issues/8842#issuecomment-609841411

[2020-04-06 18:36] dmitripivkine commented on #9123
Looks like very similar failure as https://github.com/eclipse/openj9/issues/8789.
I did not debug it on low level to track how we got `O-Slot value=FFFFFFFFFFFFFFFF` but because it is `.newInstance()` method I would suspect unloaded class around. Unfortunately I can not check previous Global GC activities (it is out of scope of snap traces already). However I can see number of unloaded classes aro

[2020-04-06 18:40] mpirvu commented on #9022
I assume that refers to `TR_ResolvedJ9JITServerMethod` and that is not supposed to happen as far as I remember. Could we place a check when such a data structure is fully created that _ramClass should not be NULL?

[2020-04-06 19:01] VermaSh commented on #9009
@fjeremic Failures in that grinder seem to be agent related `Agent communication error: java.io.EOFException; check console log for any additional details` There don't seem to be any functional failures. Running them locally on `ub16-390-1` machine to replicate failures

[2020-04-06 19:10] sophiaxu0424 commented on #8842
Starup/footpirnt runs have finished, please see data here: https://github.ibm.com/runtimes/javanext/issues/176#issuecomment-19050257.

Setting-2 keeps failing the jobs and might need some help to figure it out @zl-wang @piyush286  FYI.

[2020-04-06 19:11] #9103 closed

[2020-04-06 19:12] keithc-ca commented on #9126
Just because those warnings are suppressed in jdk11+, doesn't mean we shouldn't pay attention to them.

Has anyone seen this locally? (the diagnostics archives attached to those builds are empty)

[2020-04-06 19:14] fjeremic commented on #9009
@VermaSh I don't think so. Look at the console output and search for "PASSED: 0   FAILED: 1", there is clearly a crash here which looks similar to the original one:

[code]

There are several more there with a final failure of a crash in GC due to what looks like a corrupt object.

[2020-04-06 19:17] BeverlyXu commented on #8353
@scikirbypoke , would you please download the script from #9014 and send us the results?

The script is being reviewed and tested before it can be merged, and I will need to add more error handling mechanism to make it more user friendly.

But we don't want to let you wait for too long, as the main functionality of the script has been tested already.

[2020-04-06 19:24] fjeremic commented on #9113
@andrewcraik @cathyzhyi @0xdaryl any insight here? I'm also puzzled by this. The `lea` seems to not be doing anything in that instruction sequence.

IMO it does not. I think it belongs to OpenJ9 as the concept of "unresolved" should be handled by downstream projects. This is why all of the unresolved code is currently guarded by `J9_PROJECT_SPECIFIC` in the OMR code.

What do others think? Subscri

[2020-04-06 19:26] VermaSh commented on #9009
ah dang, I thought Test Results section would show errors. Can you please launch a grinder using
OMR: `git@github.com:VermaSh/omr.git` branch: `jdk_nio_0`
openj9: `git@github.com:VermaSh/openj9.git` branch: `jdk_nio_0` commit: `ac8e0741103cca6fe77c61ed5e560cce2a91b1ed`

[2020-04-06 19:33] a7ehuo commented on #9022
Yes, it's `TR_ResolvedJ9JITServerMethod::_ramClass`. It shows it looks like empty when the crash happened.
[code]

The issue is quite intermittent. after rebasing to newer builds and so far the server crash hasn't occurred yet after ten runs.
[code]

[2020-04-06 19:44] fjeremic commented on #9009
There used to be a way to build personal builds off of branches, but I no longer see it here:
https://ci.eclipse.org/openj9/view/all/

That list is absolutely massive. I tried kicking off a "Build_Personal" however it is unintuitive what you actually have to specify in those textboxes:
https://ci.eclipse.org/openj9/view/Build_Personal/job/Build_JDK11_s390x_linux_Personal/

@pshipton do you might k

[2020-04-06 19:56] pshipton commented on #9009
@fjeremic it doesn't have the best name, but the "personal build" job you are looking for is https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/

[2020-04-06 19:57] harryyu1994 commented on #9006
@mpirvu
Not seeing `compilationAotCacheFullReloFailure` in my AcmeAir setup. (I do see some `compilationAotClassReloFailure` failures).
Wondering if you can share more details on how you run your setup to get these errors.

My JITClient options:
[code]

Did you need to force AOT?

[2020-04-06 20:07] mpirvu commented on #9006
I do not forceAOT but you could do that. Also, maybe having smaller code caches will show the problem more readily.
-Xjit:codeCache=...
I forgot the exact option

[2020-04-06 21:10] keithc-ca commented on #8983
I looked at `core.20200403.164329.8323202.0001.dmp` from https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_extended.system_ppc64_aix_Personal/5/system_test_output.tar.gz.

The `J9VMRAS` eye-catcher is at file offset `0x8bb993ba`, but the file header indicates the core file is truncated:
[code]
According to [1], the second byte is `c_flag`, the high-b

[2020-04-06 21:23] dnakamura commented on #8183
After a little bit of hacking I've managed to get the liberty startup/footprint scripts running on osx. Looks like the cmake build there is also showing no regressions, meaning osx build is at parity, and we should be good to switch our osx builds over once cmake is installed on the build machines (ticket already open)

[2020-04-06 21:24] fjeremic commented on #9115
According to [1] we are string to see this in our automated builds now as well on x86 and Power. @andrewcraik @cathyzhyi have there been any recent changes in area of VP in the last week that you know of? This seems to have started occurring very recently. Perhaps if someone made changes in the area they can help take a look as there is a regression here.

[1] https://openj9.slack.com/archives/CDS

[2020-04-06 21:44] harryyu1994 commented on #9135
Warm compilations only:

[code]

[code]

[2020-04-06 21:44] pshipton commented on #9115
All the weekend builds were fine. Today the OMR acceptance build is experiencing this.

https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64le_linux_xl_OMR/136/
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64le_linux_OMR/542/
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_xl_OMR/548/
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_OMR/540/
https://ci.eclipse.org/openj9/jo

[2020-04-06 21:45] fjeremic commented on #9115
@klangman I think this may be related to the following PR:
https://github.com/eclipse/omr/pull/4598/files#diff-0a9a54491cd0a54a9ff1f090bf473a66R6415-R6446

I see this function was changed here and since that change has propagated we have started seeing these failures. Could you please help take a look as this seems to be readily failing.

[2020-04-06 21:45] cathyzhyi commented on #9113
I am not familiar with this part on X but it does seem to do nothing here. Seems we just reserved too many bytes for the patching.

[2020-04-06 21:49] harryyu1994 commented on #9135
Actually since I'm not even using AOT, what effect does the 1-client warmup do? Should I turn on AOT and SCC? @mpirvu

[2020-04-06 21:51] harryyu1994 commented on #9135
Is what we are trying to compare here the code quality of the optimizer?

[2020-04-06 21:58] mpirvu commented on #9135
4.2% gap with just warm compilations.

It excludes the time to perform compilations. Assuming Java11 takes more CPU to compile, but eventually reaches the same peak throughput, it will appear as a false regression because that CPU is taken at the expense of application threads.

[2020-04-06 22:00] mpirvu commented on #9135
Java11 consumes 7% more CPU for compilations.

Let's do the same for cold because cold compilations are easier to investigate when we generate compilation logs.

[2020-04-06 22:15] fjeremic commented on #9115
Grinder shows 3/10 failure rate:
https://ci.eclipse.org/openj9/job/Grinder/753/consoleFull

I'll try to reproduce locally and get a unit test for debugging.

[2020-04-06 22:57] andrewcraik commented on #9115
I was going to say the change from @klangman is the only recent change.

[2020-04-06 23:43] #8831 closed

[2020-04-07 00:00] knn-k commented on #8987
This is no longer reproducible.  Closing.

[2020-04-07 00:18] fjeremic commented on #9009
Build with the requested branches:
https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_Personal/537/

Grinder against it:
https://ci.eclipse.org/openj9/job/Grinder/755/

[2020-04-07 01:01] pshipton commented on #9115
Removing blocker label, the failures in https://github.com/eclipse/openj9/issues/9115#issuecomment-610053344 are something else, related to https://github.com/eclipse/omr/pull/4959

[2020-04-07 01:05] pshipton opened #9144 "p, x linux crashes in OMR acceptance, blocking build"
vmState=0x000514ff
vmState [0x514ff]: {J9VMSTATE_JIT_CODEGEN} {globalValuePropagation}
vmState=0x000509ff
vmState [0x509ff]: {J9VMSTATE_JIT_CODEGEN} {localValuePropagation}

Seems caused by https://github.com/eclipse/omr/pull/4959

https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance/1890/

https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64le_linux_xl_OMR/136/
https://ci.eclip

[2020-04-07 01:21] knn-k commented on #9043
This test is excluded by https://github.com/AdoptOpenJDK/openjdk-tests/pull/1715 .

[2020-04-07 01:21] knn-k commented on #9044
This test is excluded by https://github.com/AdoptOpenJDK/openjdk-tests/pull/1715 .

[2020-04-07 01:42] mpirvu commented on #9144
I find it strange that `JITServerHelpers::getRemoteROMClassIfCached` is called on a non-jitserver run

[2020-04-07 02:12] ChengJin01 commented on #9058
Currently working on a test case of my previous code fix. Will get back to this once the test case is completed.

[2020-04-07 02:14] chrisc66 commented on #9144
Looking into this...

[2020-04-07 02:18] DanHeidinga commented on #9058
@ChengJin01 is the field null in the receiver still?  You can check what the operations would have done assuming no gcs have happened.

The bytecodes
[code]
plus the object in
[code]
can be looked at in DDR assuming the gc hasn't moved it.

What does `!j9object 0x00000000FD558CE0` show?  is the `delegate` field null?

[2020-04-07 02:19] scikirbypoke commented on #8353
Tried with `perf record -F 99 -p 3668 -a -- sleep 60` then `perf script | ./perf-hottest sym`. The command line output of the script is at here: https://gist.github.com/scikirbypoke/869b70c7bb20bf24380bfe61ababc00c
Should I try to run perf with different arguments?

[2020-04-07 02:52] mpirvu commented on #9144
The error is actually in openj9 in `J9::ClassEnv::containesZeroOrOneConcreteClass(TR::Compilation *comp, List<TR_PersistentClassInfo>* subClasses)`
This is a query that was added recently, but it misses a runtime check to verify whether the code is executed at the JITServer or not.

[2020-04-07 03:13] ChengJin01 commented on #9058
@DanHeidinga, I regenerated the dump with JIT disabled as the previous dump was deleted (needs further investigation) as follows:

[code]
Based on the DDR results, there is no GC involving in this operation and everything looks normal

Based on the printing messages in code at `invokevirtualLogic`, it shows NPE was triggered with
`a NULL receiver && methodIndex != J9VTABLE_INITIAL_VIRTUAL_OFFSET`;

[2020-04-07 03:16] knn-k commented on #9003
I can make this test pass by setting `IBM_JAVA_OPTIONS=-Xaot:forceAot`, either on cent7-aarch64-1 or in my development environment.

[2020-04-07 03:23] mpirvu commented on #9144
@chrisc66 Fix is coming in https://github.com/eclipse/openj9/pull/9145

[2020-04-07 03:58] DanHeidinga commented on #9058
@ChengJin01 I don't see the `delegate` field in the `> !j9object  0x00000000FE48E4A0` object.  Do you?

Is the verifier enabled in these tests?

[2020-04-07 04:02] pshipton commented on #8983
Obviously it would be useful to see a message that the core is truncated.

Opening the core in dbx I see a message about truncation. I thought I did this with a previous core unreadable with DDR (which is gone), but didn't see any truncation message.

I'll keep this open for adding a truncation message, but move it to the next milestone.

[2020-04-07 04:04] pshipton commented on #8373
The fix https://github.com/eclipse/openj9/issues/8373#issuecomment-603814836 is merged, but not yet into the 0.20.0 branch.

[2020-04-07 04:06] pshipton commented on #8842
The change to use "multiheap,considersize" is merged to the head stream, but not yet to the 0.20.0 branches

[2020-04-07 04:12] harryyu1994 commented on #9135
Cold Compilations Only

[code]

[code]

[2020-04-07 04:16] harryyu1994 commented on #9006
[code]
Played around with a bunch of different options, don't seem to see `compilationAotCacheFullReloFailure` occurring anywhere.

[2020-04-07 04:36] ChengJin01 commented on #9058
@DanHeidinga , it shows Lgroovy/lang/GroovyClassLoader; delegate is 0x0 (NULL).
[code]
In addition, verifier was enabled by default (no option with verifier shows up in the javacore)

[2020-04-07 05:00] fanthos opened #9147 "java.lang.invoke.MethodHandlers.lookup() behaves different with openjdk."
Java -version output
--------------------
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Windows 10 amd64-64-Bit Compressed References 20200122_442 (JIT enabled, AOT enabled)
OpenJ9   - 51a5857d2
OMR      - 7a1b0239a
JCL      - da35e0c380 based on jdk-11.0.6+10)

Another OpenJDK:
openjdk ver

[2020-04-07 05:03] ChengJin01 commented on #9058
Looking at the java stacktrace as follows:
[code]
against the bytecode at  groovy/lang/GroovyClassLoader.<init>(Lgroovy/lang/GroovyClassLoader;)V and groovy/lang/GroovyClassLoader$InnerLoader.<init>(Lgroovy/lang/GroovyClassLoader;)V
[code]
It indicates `groovy/lang/GroovyClassLoader$InnerLoader.delegate` won't  be set up as `groovy/lang/GroovyClassLoader.<init>()` has not yet finished initializati

[2020-04-07 05:05] knn-k commented on #9003
The error message with `IBM_JAVA_OPTIONS=-Xquickstart` is:

The output contains a line:

Running with `IBM_JAVA_OPTIONS=-Xaot:forceAot`, the line looks like:

[2020-04-07 05:27] ChengJin01 commented on #9058
`0x00000000FE48E4A0 ` (not yet initialized) came from `groovy/lang/GroovyClassLoader.lambda$createCollector`:
[code]

[2020-04-07 09:06] trourance commented on #9132
The issue here is that it looks random for me, but probably it's not. I would like to be able to reproduce it in order to know if the parameter `-Djdk.nativeCrypto=false` fixes it.

[2020-04-07 09:28] mpirvu commented on #9135
5% gap with just cold compilations and the CI has been reduced to about 0.5%.
I wonder if the trend continues if we use noOpt.

[2020-04-07 10:21] PhilippLengauer commented on #7740
I checked, the reproducer yields correct ratios and also our more extensive tests report correct ratios now. Thanks a lot for the fix.

On a similar note, however, now that the ratios are correct, the total extrapolated amount of allocations per type is off by a huge amount. Meaning when we take the configured sampling interval, and start estimating the total allocations based on the amount of eve

[2020-04-07 11:00] knn-k commented on #9042
Failed in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/111/

[2020-04-07 11:53] JasonFengJ9 commented on #7740
@PhilippLengauer thanks the note.

Is this a regression from existing build w/o this test fix? If not, please create a new issue instead. The fix for the ratios could be submitted first.

[2020-04-07 12:20] knn-k commented on #9047
Where can I find the following OpenJ9 binary used in the grinder test?
[code]

[2020-04-07 12:27] DanHeidinga commented on #8969
What if we returned a default value of 64 for the cache size when the api detects 0?

Is 64 a reasonable minimum cache line size for the aarch64 chips?  Would we have a better user experience by picking a reasonable (if inaccurate) default than to return 0?

Does any other code use `j9sysinfo_get_cache_info` which would be incorrect if we returned 64 as a default value?

[2020-04-07 12:32] DanHeidinga commented on #8967
I don't think this is aarch64-specific.  The test attempts to start a second jvm and picks an -Xmx based on the available memory.  There's way more memory on the aarch boxes which causes the test to pick a value that's too high.

https://github.com/eclipse/openj9/blob/1ac773e595ccf911e460853dccedaa1019099e4d/test/functional/JLM_Tests/src/org/openj9/test/softmx/SoftmxUserScenarioTest.java#L52-L64

[2020-04-07 13:03] #9144 closed

[2020-04-07 13:20] M-Davies commented on #9047
The grinder just downloaded the latest nightly build from Adopt at the time.

Looks like its a tag from 01/04/2020 which should be still available at https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9. Looks like it's this one https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2020-04-01-14-28/OpenJDK11U-testimage_aarch64_linux_openj9_2020-04-01-08-3

[2020-04-07 13:27] fjeremic commented on #9009
Previous grinder failed 4/60, so failure rate is roughly 1/15.

[2020-04-07 13:30] knn-k commented on #8969
The test passes if `j9sysinfo_get_cache_info()` returns 64 when the cache line size is unavailable from `sysconf(_SC_LEVEL1_DCACHE_LINESIZE)`.
I opened #9155 for the change.

[2020-04-07 13:33] knn-k commented on #8967
Right.  This is not an AArch64-specific issue, I believe.

[2020-04-07 13:41] knn-k commented on #9047
Thanks.
The link above is a testimage.  I downloaded https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2020-04-01-14-28/OpenJDK11U-jdk_aarch64_linux_openj9_2020-04-01-14-28.tar.gz instead.

[2020-04-07 13:46] keithc-ca commented on #8983
`jextract` _does_ comment on truncated core files; `jdmpview` should do likewise.
[code]

[2020-04-07 14:01] vij-singh commented on #7684
@cathyzhyi  Any update on the tactical fix? Many thanks!

[2020-04-07 14:01] jdekonin commented on #8979
All but aix71-p8-20 have been made live for build and test.  I'll need to put in a PR to the jiro repo to make the configuration persistent across jenkins restarts.  I've remove the build and test labels from aix71-p8-1 -> aix71-p8-10, they are still in jenkins.  I won't remove until there is agreement.

[2020-04-07 14:48] pshipton commented on #9132
This is very unlikely to be resolved for the 0.20.0 release which occurs next week, moving to the next milestone.

[2020-04-07 15:07] PhilippLengauer commented on #7740
yes, i can confirm it actually is a regression. with the build publicly downloadable our agent has an accuracy of about +/-1.5% in our tests when its extrapolating absolute allocation counts. Now, we are seeing the numbers being several orders of magnitude off. Ill strip our test and agent to a minimal reproducer and attach it here if that is ok for u?

[2020-04-07 15:14] cathyzhyi commented on #7684
After more investigation, I find that this problem will should only happen when `disableMethodHandleInlineWithoutPeeking` is enabled. The without Peeking version was delivered early Jan so by default builds after Jan shouldn't have this issue.  However, given `disableMethodHandleInlineWithoutPeeking` is supposed to be a workaround when the without peeking doesn't work we should still try to fix it

[2020-04-07 15:19] JasonFengJ9 commented on #7740
@PhilippLengauer pls create such a testcase to demonstrate the regression.

[2020-04-07 16:02] pshipton opened #9159 "Compiler for aarch64 is gcc 7.4 but should be gcc 7.5"
A recent build of aarch64 shows gcc 7.4 but gcc 7.5 should be used as per the other linux platforms.

[2020-04-05T13:28:47.824Z] * Toolchain:      gcc (GNU Compiler Collection)
[2020-04-05T13:28:47.824Z] * C Compiler:     Version 7.4.0 (at /usr/local/bin/gcc)
[2020-04-05T13:28:47.824Z] * C++ Compiler:   Version 7.4.0 (at /usr/local/bin/g++)

[2020-04-07 16:02] pshipton commented on #9159
@jdekonin

[2020-04-07 16:25] pshipton commented on #9147
@DanHeidinga

[2020-04-07 16:29] fjeremic commented on #9115
Reproduced 6/10 times in a grinder with logging:
https://ci.eclipse.org/openj9/job/Grinder/758/

Ran with:
[code]

This should be good enough to start the investigation. @klangman could you help take a look given you have context having written the code?

[2020-04-07 16:32] dmitripivkine commented on #9123
Just for record - problem occur because class `!j9class 0x16D1500` is unloaded:
[code]

[2020-04-07 16:35] klangman commented on #9115
Sure, but I have a critical issue I am working on right now, I'll try to get to this later in the day.
The current thinking is that this failure is unrelated to OMR #4598 right?

[2020-04-07 16:39] fjeremic commented on #9115
That's understandable. I've tagged it to get fixed for the next release so we don't forget about it. The current thinking is that the issue **is a direct result** of eclipse/omr#4598 which modified the exact same function we are now crashing in.

[2020-04-07 16:39] mstoodle commented on #9106
somewhat misleading title :)

[2020-04-07 17:14] dmitry-ten commented on #9023
Can't seem to reproduce the crash with the latest nightly build anymore.
Ran the [test](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/6979/) 30 times, no crashes.

[2020-04-07 17:15] klangman commented on #9115
Oh.. OK.. I was a bit confused by Peter's comment. Thought I was off the hook :-)

[2020-04-07 17:31] VermaSh commented on #9009
@fjeremic Thanks for launching the grinder. Can you launch one last grinder without my initial VSTRS changes
OMR: `https://github.com/VermaSh/omr.git` branch: `jdk_nio_0`
openj9: `https://github.com/VermaSh/openj9.git` branch: `jdk_nio_0` commit: `cb034a8d0d8d630638e94dcb558c5ee364c3f2c0`

[2020-04-07 17:47] DanHeidinga commented on #9147
@fanthos Can you supply the command line options used?  Is there a test case we can use that can reproduce the issue?

[2020-04-07 17:58] fjeremic commented on #9009
Unfortunately I can't specify individual commits, the pipeline only lets me specify branches. Can you create a new branch which has `cb034a8d0d8d630638e94dcb558c5ee364c3f2c0` as the HEAD?

[2020-04-07 18:04] andrewcraik commented on #8993
The test worked with the supplied JVM - sorry for the delay. Your change seems to fix it.

[2020-04-07 18:09] 0xdaryl commented on #9038
`TR_EnableNewX86PrefetchTLH` is the internal Option flag that enables the feature to be removed.  You should assume that any code that asks whether this feature is enabled will receive `false` as the answer.  For example,
https://github.com/eclipse/openj9/blob/a235102acaeb0cf7dee1bd9590bd714b0daf66eb/runtime/compiler/x/codegen/J9TreeEvaluator.cpp#L6342
the code guarded here should be considered to

[2020-04-07 18:10] JasonFengJ9 commented on #8993
Thanks for running the test @andrewcraik !

Am going to submit a PR.

[2020-04-07 18:13] VermaSh commented on #9009
no worries. `cb034a8d0d8d630638e94dcb558c5ee364c3f2c0` is the head in `jdk_nio_0` so launching a build on that branch should be fine

[2020-04-07 18:30] fjeremic commented on #9009
@VermaSh the branches now result in a build failure. Likely a mismatch between OMR and OpenJ9:
https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_Personal/539/console

[2020-04-07 18:30] dmitripivkine commented on #9123
There is no theory how class unloading management (in Global GC) can be impacted by Concurrent Scavenger (in Local GC). It is possible that there is no such logical impact but factors like timing.

I can observe a quite large time interval between Class Unloading event in previous Global GC and failed attempt to use this class. So (except case thread was dormant for seconds) it does not look as a

[2020-04-07 18:49] ChengJin01 commented on #9058
@DanySK , I am unable to reproduce this issue for now and it always shows me the same result as Hotspot as follows:
[code]
Is there any setting incorrect that needs to be modified?

[2020-04-07 19:13] DanySK commented on #9058
@ChengJin01 I'm confused, I thought you reproduced it. Does the build succeeds under OpenJ9 to you? It does to me too with HotSpot, but fails if you use OpenJ9. I'm relaunching the build on Travis to see if the issue is stil there (if the world makes sense, it should).

[2020-04-07 19:15] ChengJin01 commented on #9058
@DanySK , It just happened suddenly (previously it keeps throwing out NPE). No idea what happened in there. Tried a couple of time but failed to reproduce NPE.

[2020-04-07 19:19] harryyu1994 commented on #9135
NoOpt Compilations Only

[code]

[code]

[2020-04-07 19:20] mpirvu opened #9161 "Override J9::ClassEnv::isZeroInitializable() at JITServer"
`J9::ClassEnv::isZeroInitializable()` is a new API that needs to be overridden at JITServer

[2020-04-07 19:21] harryyu1994 commented on #9135
3.9% gap with NoOpt compilations and I'm guessing the CI is low enough.

[2020-04-07 19:37] mpirvu commented on #9135
This to me smells like path length.
At this point we can generate a profile (either tprof or linux perf) and see where the biggest discrepancies are

[2020-04-07 19:49] VermaSh commented on #9009
Fixed the issue, `uintptrj_t` got replaced with `uintptr_t`
@fjeremic can you please launch another build on the same branch

[2020-04-07 19:54] samasri commented on #9079
I've been looking more into this and the issue is basically a contradiction between the test expectations and the `getOutputSize` intention; [the comments](https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/openj9/test/jdk/com/sun/crypto/provider/Cipher/ChaCha20/OutputSizeTest.java#L104L108) in the test case contradict [the ones](https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/openj

[2020-04-07 20:15] fjeremic commented on #9009
Build with the requested branches:
https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_Personal/540

Grinder against it:
https://ci.eclipse.org/openj9/job/Grinder/759/

[2020-04-07 20:53] ChengJin01 commented on #9058
I went over & double-checked (in test) the logic of invokevirtualLogic() in interpreter and it seems there is nothing wrong in code. So I suspect the problem came from ClassLoader.

After talking to @pshipton (verified with simple test case),  OpenJ9 called `setDefaultAssertionStatus`() in `initializeClassLoaderAssertStatus`() while Hotspot doesn't, which means we should avoid directly calling `se

[2020-04-07 21:15] pshipton commented on #8809
This won't be resolved in time for 0.20.0, moving to the next milestone.

[2020-04-07 21:27] DanySK commented on #9058
It keeps failing in CI on a clean VM, so the issue is still there. I'm not sure what to suggest, just launched on my own system and I can reproduce it.
I know this is silly and I am sure you tried this already, but can you run it with a different OpenJ9 version (e.g., if you were using OpenJ9 11, run it with OpenJ9 14 or 13)?
I'm guess wildly here but maybe some gradle cache somewhere? Can you try

[2020-04-07 21:34] ChengJin01 commented on #9058
@DanySK , Thanks for confirming that.

For the moment I am able to reproduce with one of our internal VMs but not on my local VM (not sure what happened at that time).  So it should be OK for me to move forward as long as it is still reproducible on there.

[2020-04-07 21:53] samasri commented on #9079
The implementation is in [this commit](https://github.com/samasri/openj9-openjdk-jdk14/tree/54d322ef1a0109593268ee8f11b3c7f37f64aa8c). I will run other tests on it and then open a PR.

[2020-04-07 22:04] klangman commented on #9115
Looks like the same problem that was fixed by https://github.com/eclipse/omr/pull/5013

Is that fix is this build? I guess that's what I have to look at next.

[2020-04-07 22:08] ChengJin01 commented on #9058
I just verified the groovy test with my fix as follows and no NPE was triggered during the test.
[code]

@DanySK , please help to double-check the output above to see whether it is the expected result.

[2020-04-07 22:10] DanySK commented on #9058
Not failing with an exception is the expected result, so I guess we're there... If you have some way of providing a patched version of OpenJ9 somewhere easy to get, I can try it myself and confirm it's fixed.

[2020-04-07 22:19] ChengJin01 commented on #9058
@DanySK , there is no external link for downloading it and this is no the official way to do so.

You can try to follow the instructions at https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V11.md#linux to compile a build with my fix at https://github.com/ChengJin01/openj9/commit/8d889007ca84a1df9a456993d79029069c0b9d92.

Given that the fix works as expected,

[2020-04-07 22:31] pshipton opened #9167 "z/OS Illegal instruction sanity.functional Nestmate_virtual_private"
job/Test_openjdk11_j9_sanity.functional_s390x_zos_Nightly
Nestmate_virtual_private_2
Nestmate_virtual_private_3
[code]

[2020-04-07 22:31] JasonFengJ9 commented on #9023
A similar Segmentation error vmState=0x0005ffff at `Test_openjdk8_j9_sanity.openjdk_x86-64_linux_jit_Nightly/41`
[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=x86-64_linux

[2020-04-07 22:38] pshipton opened #9168 "z/OS sanity.functional jsr335tests Invalid lambda deserialization"
job/Test_openjdk11_j9_sanity.functional_s390x_zos_Nightly
jsr335tests_1
jsr335tests_3
jsr335tests_5
jsr335tests_openj9_none_SCC_1
jsr335tests_openj9_none_SCC_3
jsr335tests_openj9_none_SCC_5
[code]

Similarly
testGeneratedStringLambda
testLocalBooleanLambda
etc.

[2020-04-07 22:40] JasonFengJ9 opened #9169 "JDK11 JIT Server : jdk_lang_j9_0 various Segmentation error"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.openjdk_x86-64_linux_jit_Nightly/41`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https:/

[2020-04-07 22:47] JasonFengJ9 opened #9170 "JDK11 JIT Server : ASSERTION FAILED ** at CopyForwardScheme.cpp:3649"
Failure link
------------

From an internal build `Test_openjdk11_j9_special.system_x86-64_linux_jit_Nightly/242`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https:

[2020-04-07 22:54] JasonFengJ9 opened #9171 "openjdk11_j9_sanity.openjdk : jdk_util_j9_0 OOM"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/334`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https://hyc-

[2020-04-07 23:35] knn-k commented on #9159
What about the Docker files in https://github.com/eclipse/openj9/tree/master/buildenv/docker/jdk11 ?
The file for AArch64 uses GCC 7.3.1.  Other platforms use GCC 7.3 or 7.4, too.

[2020-04-08 00:00] pshipton commented on #9169
@mpirvu

[2020-04-08 00:01] pshipton commented on #9170
@mpirvu

[2020-04-08 01:21] pshipton commented on #9159
We haven't really been supporting the docker files. You can update them if you want. @keithc-ca has a [script](https://github.com/keithc-ca/openj9/blob/docker/buildenv/docker/mkdocker.sh#L509) which will generate them all, which will be delivered in the future when it's ready to replace the existing docker files.

[2020-04-08 02:00] knn-k commented on #8966
This test has been excluded.  Removed the Milestone tag from this issue.

[2020-04-08 02:01] rajdeep commented on #8979
@jdekonin, I think you intended to mention someone else in this discussion. I have unsubscribed myself from this thread.

[2020-04-08 02:14] knn-k commented on #8723
Related: Issue #8969 and PR #9155

[2020-04-08 04:22] a7ehuo opened #9174 "Intermittent JITServer crash running system test HCRLateAttachWorkload_0"
Intermittent JITServer crash while accessing the cache at the server in `HCRLateAttachWorkload_0`. Looks similar to the two other failures observed in the following comments. `TR_ResolvedJ9JITServerMethod::_ramClass` looks invalid.

https://github.com/eclipse/openj9/issues/9022#issuecomment-608654220
https://github.com/eclipse/openj9/issues/9022#issuecomment-609895675

[code]

[code]

[2020-04-08 04:49] dsouzai commented on #9106
Heh sorry, the character limit on Issue/PR titles makes for some...creative...choice of words :)

[2020-04-08 04:53] knn-k commented on #9048
I ran this test on test-packet-ubuntu1604-armv8-1 more than 50 times, and saw no failures.
I used the following build:
[code]
I guess (and I hope) something in recent fixes/changes stabilized this.

[2020-04-08 05:20] DanHeidinga commented on #9058
@ChengJin01 you can post a build with the fix to Box or similar file sharing service for @DanySK to validate.

[2020-04-08 05:34] knn-k commented on #8967
I opened #9176 to disable the test temporarily.

[2020-04-08 05:51] ChengJin01 commented on #9058
@DanySK ,  I already sent the link of the build with temp fix (shared in GoogleDrive) to your gmail.
Please let me know if any issue in downloading the build zip file.

[2020-04-08 06:08] knn-k opened #9178 "Enable "port_omrsigSupport" in AArch64 spec files"
port_omrsigSupport is set to false in AArch64 spec files.

[2020-04-08 07:41] knn-k commented on #9042
I ran this test on test-packet-ubuntu1604-armv8-1 400 times, but I couldn't reproduce the failure at all.
I used the binary from https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/111/:
[code]

[2020-04-08 08:32] M-Davies commented on #8565
Seen again on a jdk11/aarch64 build
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/264/console
[code]
on `build-linaro-centos76-armv8-2`

[2020-04-08 08:40] PhilippLengauer commented on #7740
I'm attaching the new reproducer, it contains 3 different samples. Every of the sample executes a dedicated allocation pattern for one minute, the agent (like the previous one) then prints the total number of allocations per type. the agent prints on shutdown the extrapolated number of allocations per type as well as the ratios between them. Similarly to the first agent, the agent also executes a

[2020-04-08 08:55] knn-k commented on #8565
Illegal instruction in `jdk/internal/reflect/Reflection.getCallerClass()Ljava/lang/Class;` again.
Is there a core file available?

[2020-04-08 09:23] knn-k commented on #8565
Another question: Which JDK do you use as the boot-jdk for the configure option in these builds?

[2020-04-08 10:19] DanySK commented on #9058
@ChengJin01 received, a branch on the bug reproduction repository is being set up.

[2020-04-08 10:40] DanySK commented on #9058
The proposed fix [works as expected](https://travis-ci.com/github/DanySK/Bug-Groovy-9493/builds/159270769) in CI. I also tested it running the test suite of [the Alchemist Simulator](https://github.com/AlchemistSimulator/Alchemist) where the issue appeared first, and I found no problem.

[2020-04-08 10:52] M-Davies commented on #8565
@knn-k Boot jdk is in the console output
[code]

[2020-04-08 10:58] knn-k commented on #8565
Thank you for the information.  The boot JDK is Hotspot JDK 10, and it has nothing to do with the crash.

I am running the `Compiling 4 files for BUILD_JIGSAW_TOOLS` part of the build repeatedly in my local machine, but I haven't seen the crash yet after 15 trials.

[2020-04-08 10:59] M-Davies commented on #8565
Ref https://adoptopenjdk.slack.com/archives/C09NW3L2J/p1586343408050600?thread_ts=1586343264.050400&cid=C09NW3L2J, the core files are saved on builds but you need access to the machine to obtain them. You can request access to a specific machine at  https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/

[2020-04-08 11:25] knn-k commented on #8565
What is the name of the host of the last failing build?

[2020-04-08 11:28] knn-k commented on #8565
I would also like to see the contents of this failure-logs:

[2020-04-08 11:39] M-Davies commented on #8565
Do you mean the last build that failed before this one? If so, you can see the history of all the builds at https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/. The results are on the left (ticks and crosses).

If you mean the host machine (as in, the machine it failed on), you can see it in the console output https://ci.adoptope

[2020-04-08 11:41] sxa commented on #8565
@knn-k Core dump from last night and the`failure-logs` directory you mentioned in your last comment are now in the home directory on the other machine I gave you access to - hope that helps :-)

[2020-04-08 11:46] knn-k commented on #8565
@sxa Thank you.  I found the files.

[2020-04-08 12:05] DanHeidinga commented on #9167
[code]

@pshipton Do you have the java stack as well?

[2020-04-08 12:07] knn-k commented on #8565
https://github.com/eclipse/openj9/issues/8565#issuecomment-610827195 says Illegal instruction at PC=00004000428B12B4.  But I don't see nothing illegal around the address in the core file.  The instruction sequence looks like code generated by the JIT.
[code]

[2020-04-08 12:16] DanHeidinga opened #9180 "Experiment with collaborators and what they can do"
@tajila Since you're a collaborator on the project and have been added to a github collaborator team, I can immediately assign items to you.

Are you able to add labels?  Can you add a label to this issue and @ me in it so I can confirm?

[2020-04-08 12:19] keithc-ca commented on #9159
That script does not support AArch64 yet, and I think such support should be added after the initial version is merged. Cross-compiling would be a big addition. I suggest we update the existing AArch64 dockerfiles in the meantime.

[2020-04-08 12:21] DanHeidinga commented on #9180
Can you also try setting the Projects / Milestone settings on it?  I'd like to know what extra abilities collaborators get

[2020-04-08 12:28] knn-k opened #9181 "AArch64: Update GCC in the Docker file for cross-compilation"
The Docker file for AArch64 cross-compilation uses GCC 7.3.1.
Update it to GCC 7.5.

[2020-04-08 12:29] knn-k commented on #9181
Related PR: #9159

[2020-04-08 12:29] knn-k commented on #9159
OK.  I opened https://github.com/eclipse/openj9/issues/9181 so that I can revisit it later.

[2020-04-08 12:51] #8969 closed

[2020-04-08 12:54] knn-k commented on #8723
#9155 is merged, and the test ContendedFieldsTests_90_1 passes on the test server.
Closing.

[2020-04-08 13:06] knn-k commented on #8723
This issue was for cache levels and types, and I should not have closed this yet.
#9155 is only about the cache line size.
Reopening.

[2020-04-08 13:11] knn-k commented on #9046
I ran this test 20 times on test-packet-armv8-ubuntu-16-04, but I couldn't reproduce the failure.
I used the following version:
[code]

[2020-04-08 13:16] #9133 closed

[2020-04-08 13:17] pshipton commented on #9167
From job/Test_openjdk11_j9_sanity.functional_s390x_zos_Nightly/247, the javacore for Nestmate_virtual_private_3 shows
[code]

Nestmate_virtual_private_2 shows
[code]

[2020-04-08 13:23] pshipton commented on #9167
Seems to be consistent as job/Test_openjdk11_j9_sanity.functional_s390x_zos_Nightly/248 shows the same. There are no cores captured in the artifacts.

[2020-04-08 14:22] tajila commented on #9180
@DanHeidinga I am unable to add labels or set Project/Milestone settings

[2020-04-08 14:23] knn-k commented on #9033
I ran this test on test-packet-armv8-ubuntu-16-04 more than 100 times, and saw no failures.
I used the following build:
[code]

[2020-04-08 14:34] DanHeidinga commented on #9180
Thanks for testing Tobi.  That's unfortunate as I was hoping to use that to expand the set of people who can set labels

[2020-04-08 14:35] sxa commented on #8565
Hold off on this for now - I've cleared out the workspace as I'm concerned it may be corrupt in some way and a newer rebuild on the machine appears to be ok ... Will run it a couple of times to verify and let you know if it fails again ...

[2020-04-08 14:42] #8993 closed

[2020-04-08 14:55] DanHeidinga opened #9183 "Ensure vm anon classes loaded before java.base have a module set"
Code that should be setting the java.base module walks all the loaded classes in the `vm->systemClassLoader` which does a walk of the Class Segments processing those with the matching classloader: https://github.com/eclipse/openj9/blob/c80af2e8aba83e2adeacd3741aeaf9275a81a946/runtime/j9vm/java11vmi.c#L806-L812

VM Anonymous classes - those loaded by Unsafe.defineAnonymousClass - will have a differ

[2020-04-08 14:56] DanHeidinga commented on #8993
I extracted #9183 to address setting the module in vm anon classes as I believe there is still an issue there

[2020-04-08 15:05] JasonFengJ9 commented on #9183
Will attempt a testcase to expose the issue.

[2020-04-08 15:06] pshipton commented on #8373
The updates to the 0.20.0 branches are complete.

[2020-04-08 15:06] #8373 closed

[2020-04-08 15:08] pshipton commented on #9058
It's too late to put the fix into the 0.20.0 release, moving forward.

[2020-04-08 15:09] pshipton commented on #7684
It's too late to put any fixes into the 0.20.0 release, moving forward.

[2020-04-08 15:09] pshipton commented on #9079
It's too late to put any fixes into the 0.20.0 release, moving forward.

[2020-04-08 15:25] r30shah opened #9184 "Add a OpenJ9 Query that is Java Specific for LocalCSE"
There are some relaxations we can take for regular final fields in LocalCSE as mentioned in https://github.com/eclipse/omr/pull/4926#issuecomment-609868083
As suggested in https://github.com/eclipse/omr/pull/4926#issuecomment-609916953, We should add a Java Specific query to OpenJ9 for Local CSE so that we do not force the Java Specific semantics to OMR semantics. I am opening up this issue to con

[2020-04-08 15:50] pshipton commented on #1434
I don't think this issue is serving any purpose, closing it. sanity.openjdk (tier1) is running and passing, there should be individual issues for any test failures.

[2020-04-08 15:50] #1434 closed

[2020-04-08 15:54] pshipton opened #9185 "ThreadRegressionTests_0 WaitForAfterJoinWithTimeout - invalid, assuming pass"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_s390x_linux_xl_Nightly/126
ThreadRegressionTests_0
[code]

[2020-04-08 15:56] pshipton commented on #9185
30x grinder https://ci.eclipse.org/openj9/job/Grinder/760/

[2020-04-08 15:59] pshipton opened #9186 "java_util_logging_CheckZombieLockTest Unexpected lock files found"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/3
java/util/logging/CheckZombieLockTest.java.CheckZombieLockTest (from java_util_logging_CheckZombieLockTest.java)
[code]

[2020-04-08 16:01] JasonFengJ9 commented on #7740
Thanks the detailed note, @PhilippLengauer

Run the test build a few times with `ReproducerV2.zip`, and got quite a few `Extrapolation: -nan% : -nan% : -nan% : -nan% : -nan%` as following sample output:
[code]
Is this expected?
Not sure if this is due to the change introduced by the build, but I do observe different output in a few runs (some with an actual number while others are just `-nan%`), i

[2020-04-08 16:01] pshipton commented on #9186
3x grinder https://ci.eclipse.org/openj9/job/Grinder/761/

[2020-04-08 16:06] dmitripivkine commented on #9170
most likely a duplicate of https://github.com/eclipse/openj9/issues/8789 and (or) https://github.com/eclipse/openj9/issues/9123

[2020-04-08 16:13] PhilippLengauer commented on #7740
@JasonFengJ9 you're welcome. since its sampling, we cannot make a test that is 100% always the same. The log files inside the new reproducer is exactly the output, without any changes.

The number next to the types always say 0. that means that literally 0 events are received. Meaning even though the capability has been successfully requested and the jvmti event has been turned on, no events are s

[2020-04-08 16:19] sxa commented on #8565
@knn-k Can you check out the contents of `cores.openj9.268.tar.xz` in your homedir which contains the dumps from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/268/console - they should DEFINITELY be in sync as it's a new build I've executed on the machine.

[2020-04-08 17:25] a7ehuo commented on #9174
With a debug build, seeing asserts related to the cache and `TR_ResolvedJ9JITServerMethod`: "`Should not have cached unresolved method globally`".

[code]

[code]

[code]

[2020-04-08 18:00] harryyu1994 commented on #9135
[code]

[code]

Java 8
[code]

Java 11
[code]

[2020-04-08 18:02] harryyu1994 commented on #9135
java8
[code]

java11
[code]

[2020-04-08 18:17] pshipton commented on #9126
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_OMR/541

[2020-04-08 18:23] mpirvu commented on #9135
`java/lang/Object.<init>()V` is more expensive in Java8, but I would start from  `java/lang/String.decompressedArrayCopy`. We may have string compressin enabled by default in Java11, but I am not sure

[2020-04-08 19:24] klangman commented on #9115
I don't believe it's within the powers of mortal men to determine what PR's where included in that build. So all I can say is that the core file looks to me to be an example of the issue that I fixed with https://github.com/eclipse/omr/pull/5013.

[2020-04-08 19:46] dmitripivkine commented on #9170
yes, looks like it is the same problem:
[code]

[2020-04-08 19:46] a7ehuo commented on #9174
Before the crash happens at the server,  the classinfo can not be found in the cache which caused the crash. Will look at the cache purge path next.
https://github.com/eclipse/openj9/blob/5ca16a96ab9ceb5964a2e00a26e3f47e837e4f3a/runtime/compiler/env/j9methodServer.cpp#L41

[2020-04-08 19:49] pshipton commented on #8843
AArch64 will be included, I don't think we need to keep this issue open to make it happen.

[2020-04-08 19:49] #8843 closed

[2020-04-08 19:54] pshipton commented on #9003
I notice in the PR build https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK11_aarch64_linux/72/ this test isn't listed as disabled, passing or failing.

[2020-04-08 21:01] harryyu1994 commented on #9135
Here's a java11 run with `-XX:-CompactStrings`. It looks like String compression is disabled by default and ` java/lang/String.decompressedArrayCopy([BI[BII)V` is something that will get called without string compression enabled.
[code]

[2020-04-08 21:05] pshipton commented on #8748
Created https://github.com/eclipse/openj9-docs/pull/552 to document the options in https://github.com/eclipse/openj9/issues/8748#issuecomment-595455595.

Moving to the next milestone for any improvements in logging to see what native libraries are missing.

[2020-04-08 21:24] pshipton commented on #8842
The changes are merged to the 0.20.0 branches. Closing this issue, a new issue can be opened for any further improvements.

[2020-04-08 21:24] #8842 closed

[2020-04-08 21:39] sophiaxu0424 commented on #8842
SPECjbb2015 runs also finished, please refer to :  javanext/issues/176 for details.

Setting-1 | max_jOPS | critical_jOPS
-- | -- | --
mean | 19036.5 | 10387.5
CI | 2.72% | 4.41%
  |   |  
  |   |  
**Setting**-2 | max_jOPS | critical_jOPS
mean | 38467.75 | 15120.25
CI | 0.91% | 3.14%
  |   |  
**setting**-2/**setting**-1 | **202.07**% | **145.56**%
  |   |  
**Setting**-3 | max_jOPS | critical_jO

[2020-04-08 21:42] pshipton commented on #9115
I think we're talking about the PR build? https://ci.eclipse.org/openj9/job/Build_JDK8_s390x_linux_Personal/589/
[code]

`git merge-base --is-ancestor <commit> <version sha> && echo yes`
`git merge-base --is-ancestor e3cb67f 8b9f8133e && echo yes`

The change isn't included in that build.

[2020-04-08 22:54] a7ehuo commented on #9174
Instrumented the code and confirmed that the class looks to be unloaded. The `ClientSessionData::ClassInfo` doesn’t exist anymore.  So accessing the `ClientSessionData::ClassInfo::_constantClassPoolCache` or `ClientSessionData::ClassInfo::_remoteROMStringsCache` is all invalid. That’s why the server crashed. For the same client session data `0x7f6b8955f800`, the romClassMap `0x7f6b87ebc400` doesn'

[2020-04-08 23:26] JasonFengJ9 commented on #7740
Compare `j9.private.log` (run with the test build https://github.com/eclipse/openj9/issues/7740#issuecomment-606958788) with `j9.public.log` (run with an adopt JDK11 build w/o the test fix)

j9.private.log | j9.public.log
-- | --
ALLOCATION PATTERN: 1 Sample$A | ALLOCATION PATTERN: 1 Sample$A
ALLOCATIONS: 660372211 Sample$A | ALLOCATIONS: 592697166 Sample$A
**29**x A - extrapolated 1900544x | **89

[2020-04-08 23:30] knn-k commented on #9003
@pshipton This test was disabled by PR #8569, and PR #8764 (not merged) is for enabling it again.

[2020-04-08 23:32] JasonFengJ9 opened #9190 "JDK8 JIT Server : MauveMultiThreadLoadTest_special_19 NPE at gnu.testlet.java.lang.Thread.contextClassLoader.test(contextClassLoader.java:41)"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_x86-64_linux_jit_Nightly/251`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://

[2020-04-08 23:41] JasonFengJ9 opened #9191 "JDK15 testJITServer_1 testServerUnreachableForAWhile AssertionError"
Failure link
------------

From an internal build `Test_openjdkNext_j9_sanity.functional_x86-64_linux_xl_Nightly/155`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  ht

[2020-04-08 23:45] knn-k commented on #8565
The same observation as above.  It looks like the JITed method `jdk/internal/reflect/Reflection.getCallerClass()Ljava/lang/Class;`, and I can see no illegal instruction at the reported address.

From https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/268/console :
[code]

Disassembling the memory region around 0x4000368B105C in the core file:
[code]

[2020-04-09 00:33] pshipton commented on #9191
@mpirvu

[2020-04-09 00:33] pshipton commented on #9190
@mpirvu

[2020-04-09 00:41] knn-k commented on #9001
#9151 and #9179 will fix this.

[2020-04-09 03:27] knn-k commented on #8565
The JIT compiler was not using the standard encoding for the `ldxr` instruction.
https://github.com/eclipse/omr/pull/5040 addresses it.

The instruction is used in the code for acquire/releaseVMaccess and monitorEnter/Exit.  I don't know why it crashes with "Illegal instruction" intermittently in a specific Java method.

[2020-04-09 05:32] knn-k commented on #9001
#8764 is needed to run this test.

[2020-04-09 05:45] dnakamura opened #9195 "Enable CMake as the default build system for JDK11"
Given that the last of the perf regressions have been fixed up. We can now begin moving to making cmake the default build and deprecating the uma build system.

Given that it has the least baggage in terms of internal builds, I'm proposing starting with osx. Once that is done, following up with the linuxes (x, p, then z), then aix, and finally windows.  With each platform, use the following genera

[2020-04-09 09:34] M-Davies commented on #9042
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2771/ [openjdk_test_output (2).tar.gz](https://github.com/eclipse/openj9/files/4455257/openjdk_test_output.2.tar.gz)
Ran this test on `test-aws-ubuntu1804-armv8-1` and saw 100/100 failures. Could this perhaps be missing a dependency on the machine? @sxa ?

Binary is the same
[code]

[2020-04-09 09:46] knn-k commented on #9042
Hmm.
The JIT compiler does not change its code generation depending on the CPU architecture.  It uses the ARMv8-A instructions on all the platforms, and doesn't know ARMv8.1-A instructions or newer.

[2020-04-09 09:47] knn-k commented on #9042
Is it possible to request access to test-aws-ubuntu1804-armv8-1?

[2020-04-09 09:51] M-Davies commented on #9042
@knn-k Yes. Open up an issue at https://github.com/AdoptOpenJDK/openjdk-infrastructure

[2020-04-09 09:54] knn-k commented on #9042
I opened https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1267 .

[2020-04-09 11:04] knn-k commented on #9042
I cannot reproduce the failure on test-aws-ubuntu1804-armv8-1 at all by manual runs, using the files from "openjdk_test_output (2).tar.gz" attached above.
I have no idea what makes the difference.

[code]

[2020-04-09 11:32] M-Davies commented on #9042
@knn-k Can you output this line
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/ea4a5a16094680be0e5a1fb46343e6c55382dcda/test/jdk/java/util/Locale/LocaleCategory.java#L56
to the console? See what language it's trying to pick up?

[2020-04-09 11:53] dchopra001 commented on #9068
While looking at profiles, I noticed a big difference in the samples collected for `'java/util/HashMap.get(Ljava/lang/Object;`. Runs with JITServer enabled showed around ~27000 ticks, while runs without JITServer showed ~900 ticks. After reproducing this a few times, I found that the first optimization where the resulting trees diverge is during `basicBlockExtension`. It seems like block frequenci

[2020-04-09 12:03] knn-k commented on #9042
This test passes `-Duser.language=en` as one of the command-line options.  So `System.getProperty("user.language", "")` should return `en`.
On the other hand, the `LANG` environment variable on this machine is set to `C.UTF-8` by default, which makes `System.getProperty("user.language", "")` return `c.u`.  When I run the test manually without `-Duser.language=en`, the test fails with the following

[2020-04-09 12:11] M-Davies commented on #9042
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/ea4a5a16094680be0e5a1fb46343e6c55382dcda/test/jdk/java/util/Locale/LocaleCategory.java#L80 appears to set the test language back to the default after failing. Could that be it?

[2020-04-09 12:20] LinHu2016 commented on #7740
I will try to debug

[2020-04-09 12:35] knn-k commented on #9042
It is the `LANG` environment variable that matters, now I believe.

The variable is set to `en_US.UTF-8` by default on test-packet-armv8-ubuntu-16-04.  The LocaleCategory.jtr file on the machine contains `-Duser.language=en`, and the test passes.

On the other hand, the variable is set to `C.UTF-8` by default on test-aws-ubuntu1804-armv8-1.  The LocaleCategory.jtr file does not contain `-Duser.lan

[2020-04-09 12:47] M-Davies commented on #9042
Thanks @knn-k . If you believe that is the root cause, an issue should be opened at https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues to request that `LANG` is permantly changed to `en_US.UTF-8` on that machine. Further discussion can continue there :-)

[2020-04-09 12:47] M-Davies commented on #9042
If you're happy with that?

[2020-04-09 12:51] andrewcraik commented on #9068
I want to make clear that the issue here is not basicBlockExtension itself - the optimization has no functional problem and is doing the correct thing based on block frequency. The issue is that block frequencies are different enough that we see the opt making different decisions. Please do not characterize this as a basicBlockExtension problem - it is a question of the profiling data at present.

[2020-04-09 12:52] andrewcraik commented on #9068
Why are you running with disableTreeSimplification? That enables a number of optimizations by cleaning up the trees. I would avoid disabling opts unless necessary...

[2020-04-09 12:55] dchopra001 commented on #9068
Yes, I don't think there is a problem with the opt itself either. Hence why I am doing more experiments to try and further narrow the problem down. Apologies for the mischaracterization!

[2020-04-09 12:56] knn-k commented on #9042
It seems the `LANG` environment variable is not the only factor.
It is set to `C.UTF-8` on cent7-aarch64-1.  The jtr file contains `-Duser.language=en`, and the test passes on the machine.

[2020-04-09 13:09] M-Davies commented on #9042
@knn-k FYI https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1268

[2020-04-09 13:19] pshipton opened #9197 "testJITServer_1 String.indexOf NullPointerException and Failed to properly start client"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/334
testJITServer_1
[code]

[2020-04-09 13:19] andrewcraik commented on #9068
Sounds good - it will be interesting to understand the differences in the profiling between the two configurations. I look forward to seeing the results of your experiments :)

[2020-04-09 13:19] pshipton commented on #9197
@mpirvu

[2020-04-09 13:20] pshipton commented on #9197
3x grinder https://ci.eclipse.org/openj9/job/Grinder/762/

[2020-04-09 13:22] pshipton opened #9198 "gcPolicyNogcTest_0 AfterTest AssertionError: expected [true] but found [false]"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/336
gcPolicyNogcTest_0
[code]

[2020-04-09 13:22] pshipton commented on #9198
@dmitripivkine

[2020-04-09 13:22] pshipton commented on #9198
3x grinder https://ci.eclipse.org/openj9/job/Grinder/763/

[2020-04-09 13:24] sxa commented on #8565
This is happening on the Linaro arm64 build machine but not hte packet one. For the purposes of this GA I'm going to disable [build-linaro-centos76-armv8-2](https://ci.adoptopenjdk.net/computer/build-linaro-centos76-armv8-2) until next week's GA is passed. I'm guessing the Linaro systems have a different version of the aarch64 instruction set that doesn't have certain instructions that we produce.

[2020-04-09 13:24] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_linux_Nightly/60
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-04-09 13:27] pshipton commented on #8565
Ideally the fix https://github.com/eclipse/omr/pull/5040 will become part of the release?

[2020-04-09 13:28] pshipton commented on #8565
I see the fix https://github.com/eclipse/openj9-omr/pull/59 already delivered to the release stream.

[2020-04-09 13:28] pshipton commented on #8565
and https://github.com/eclipse/omr/pull/5040 is promoted for the head stream.

[2020-04-09 13:33] sxa commented on #8565
@pshipton The builds I've been doing this morning have shown the same failure - has something changed in those references in the last 3-4 hours which will have changed things?

[2020-04-09 13:34] dmitripivkine commented on #9198
@LinHu2016 FYI

[2020-04-09 13:47] pshipton commented on #9001
As per https://github.com/eclipse/openj9/pull/8764#issuecomment-611507737 it seems only #9179 was required to fix this.

[2020-04-09 13:47] #9001 closed

[2020-04-09 14:00] pshipton commented on #8565
yes, eclipse/omr#5040 just promoted around 9:15am ET.

[2020-04-09 14:15] keithc-ca commented on #8983
With #9199, `jdmpview` also will generate a warning about truncated core files.

[2020-04-09 14:25] LinHu2016 commented on #9198
@dmitripivkine the assert is for verifying the allocation passed the threshold, gc has been triggered and heap is nothing change after "gc", might be the "last gc" has been triggered(I mean gc after allocation passed  the threshold). I will debug it later

[2020-04-09 14:29] dmitripivkine commented on #9198
If we compare failed job with runs in grinder the it has never reached heap expansion event.

[2020-04-09 15:12] fjeremic commented on #9115
Thanks for the investigation and help. Closing this one off as it is fixed in upstream. We can reopen if we spot a reproduction.

[2020-04-09 15:12] #9115 closed

[2020-04-09 15:20] knn-k commented on #9046
I managed to reproduce this on cent7-aarch64-1.
- There are two Java processes (LT1, CT1) running at the same time in this test
- LT1 runs a task with 30 threads
- CT1 exits with the following exception in the file `4.CL1.stderr`:
[code]
- The file `4.CL1.stdout` contains a message: `Exiting as JVM we are connected to has finished`
- The messages above show that either ConnectException or Unmarsha

[2020-04-09 15:23] DanHeidinga opened #9200 "Add a TraceAssert to `inlineAllocateIndexableObject` and similar helpers to validate class doesn't have `J9ClassContainsUnflattenedFlattenables` set"
I'd like to see TraceAssert added to `inlineAllocateIndexableObject` and similar helpers to validate that we're not passing any classes that have the `J9ClassContainsUnflattenedFlattenables` bit set.

The assert should be guarded by `J9VM_OPT_VALHALLA_VALUE_TYPES`.  FYI @tajila

_Originally posted by @DanHeidinga in https://github.com/eclipse/openj9/pull/9139/files_

[2020-04-09 15:26] tajila commented on #9200
You can assign this to me

[2020-04-09 15:32] pshipton commented on #9003
#8764 enables testDDRExt_JITExt_openj9, not estDDRExt_SharedClasses_openj9.

[2020-04-09 15:34] pshipton commented on #9003
What is the plan for this test for the 0.20.0 release? Will it remain excluded or is a workaround planned?

[2020-04-09 15:44] sxa commented on #8565
That's fine - I'm only worried about nightlies from the default branch for now, and the [first build I've done](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9-linuxXL/150/consoleFull) since that merge looks good - I'll run a few more just to be sure then i can close this - thanks all

[2020-04-09 15:45] DanHeidinga commented on #9180
I think the next step is to ask Eclipse if they can add the `Triage` role to the collaborator list:

https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization

[2020-04-09 15:49] fjeremic opened #9201 "Disable upgrades/downgrades on jitdump compilations"
When a jitdump recompilation is requested we want to reproduce the exact same compilation which happened previously. Currently the upgrade/downgrade logic is preventing us from doing so. In particular `adjustOptimizationPlan` [1] calls the `SmoothCompilation` API [2] which then calls `shouldDowngradeCompReq` [3]. This function determines whether a compilation request optimization level should be d

[2020-04-09 15:50] fjeremic commented on #9201
As part of this work it would be good to migrate the `MethodDetails` class representing a JitDump compilation over to the JitDump related files we introduced.

[2020-04-09 16:02] gacholio commented on #9200
Adding trace to such an obviously high traffic area of the code seems like a bad idea to me.

[2020-04-09 17:22] dchopra001 commented on #9068
So this was done a while ago when I was investigating the discrepancy in sample count for the following method:
 `java/lang/String.charAtInternal(I[C)C_cold`

The difference in sample count was more than 2X (~50k for JITServer and 22k for local compiles).

Running with `disableTreeSimplification` reduced the sample count gap down to ~10% (~50k for JITServer and 42k for local compiles). However, ru

[2020-04-09 17:24] DanHeidinga commented on #9200
I don't want it permanently there - just for the development phase - and only under the VALHALLA define.

Better to catch any issues early at dev time then find them late.

[2020-04-09 17:26] sxa commented on #8565
Yep happy this is fixed now - please close

[2020-04-09 17:52] #8565 closed

[2020-04-09 18:06] rajdeepsingh1 commented on #7980
CMake v3.17 has been installed on all OSX machines:
[code]

[2020-04-09 18:15] gacholio commented on #9200
Suggest immediately opening the item to remove it when this gets merged.

[2020-04-09 18:17] #9058 closed

[2020-04-09 19:12] dmitry-ten commented on #9023
I was able to reproduce the failure `jdk_util_j9_0` with a debug build.
The segfault occurs in J9Profiler code @mpirvu do we support JProfiler for JITServer?

[2020-04-09 19:19] dmitry-ten commented on #9023
If we need to support it, then we should be sending some additional method recompilation info to the server.

[2020-04-09 19:20] mpirvu commented on #9023
No, we don't support JProfiler just yet. That work is in progress. Until then we should make it explicit by disabling JProfiler at the client with an option.

[2020-04-09 19:58] a7ehuo commented on #9174
@mpirvu After adding more detailed logs [1], from what I understand the crash confirms your theory of the race condition:  `compThreadID=1` unloaded J9Class `0xedae00` which is used by `compThreadID=4`. They both share the same client session data `0x7fb7a2c7d800`. The next question is where and how to detect such race condition and subsequently abort the compilation for the second compilation thr

[2020-04-09 20:15] mikezhang1234567890 commented on #7752
When `hdfsThreadDestructor` runs, the JNIEnv pointer is set to `0x0`. It seems like we call `deallocateVMThread` on the thread before the hdfs destructor is run. `hdfsThreadDestructor` is registered with `pthread_key_create` at https://github.com/apache/hadoop/blob/e30710aea4e6e55e69372929106cf119af06fd0e/hadoop-hdfs-project/hadoop-hdfs-native-client/src/main/native/libhdfs/os/posix/thread_local_s

[2020-04-09 20:41] keithc-ca commented on #8748
#9205 will improve the situation by displaying `<module>:<address>` instead suppressing call-sites whose names are not available.

[2020-04-09 20:41] LinHu2016 commented on #7740
run the test build with jvm option **-Xgc:fvtest=disableInlineAllocation** , the result looks good, I think it missed disableCachedAllocations() during initialization when disableInlineAllocationForSamplingBytesGranularity = true in code. I will check the code if I missed the cases later.

[2020-04-09 20:42] a7ehuo commented on #9174
Also maybe besides of the `TR_ASSERT`[1], more defensive code should be added in the release build when the class info is not found in `ClientSessionData::ClassInfo &
getJ9ClassInfo(TR::CompilationInfoPerThread *threadCompInfo, J9Class *clazz)`.

[1]
https://github.com/eclipse/openj9/blob/f7a26c34299daf8cdcfac7b96dbbe176ce22a89a/runtime/compiler/env/j9methodServer.cpp#L41

[2020-04-09 21:47] pshipton commented on #9045
Reopening as the fix was reverted since it broke compilation on jdk8.

[2020-04-09 22:25] a7ehuo commented on #9174
I did an experiment by creating a new `getJ9ClassInfo2()` in `TR_ResolvedJ9JITServerMethod `as below. When it can't find the ClassInfo at the server, it will send `ResolvedMethod_getRemoteROMClassAndMethods` message to retrieve it and cache it in the current client session data. Using the new `getJ9ClassInfo2()` in `TR_ResolvedJ9JITServerMethod::getRemoteROMString()` and `TR_ResolvedJ9JITServerMet

[2020-04-09 22:35] mpirvu commented on #8449
All referenced issues are implemented now, hence closing.

[2020-04-09 22:35] #8449 closed

[2020-04-09 22:36] #8219 closed

[2020-04-09 22:38] #9116 closed

[2020-04-09 22:40] #9161 closed

[2020-04-09 22:46] a7ehuo commented on #7233
Will make this change.

[2020-04-09 23:17] knn-k commented on #9003
Yesterday I changed #8764 to leave `testDDRExt_SharedClasses_openj9` excluded.
I don't want to introduce new AOT heuristics in the JIT for platforms without recompilation at the final moment before release.  I am going to enable this test when I finish implementing recompilation for AArch64.

I have confirmed that the functionality of DDR works as expected by enabling AOT with a command-line optio

[2020-04-10 00:21] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR/498
cmdLineTester_CryptoTest_0

[2020-04-10 03:38] pshipton commented on #9126
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_cm_OMR/549/

[2020-04-10 07:06] knn-k commented on #9046
The failure was recreated on cent7-aarch64-1 and on test-packet-armv8-ubuntu-16-04, but it takes long time and the rate is around 1/10 - 1/20.

I found this test failed with `UnmarshalException` caused by `SSLException` in the Cl1 process shown below:
[code]
[code]

My colleague and I ran the test repeatedly on those test servers with the following options:
1. `-Xint` on cent7-aarch64-1 (16 runs)

[2020-04-10 07:10] knn-k commented on #9046
Both servers above have 96 CPU cores and OpenSSL 1.0.2.  We used the following OpenJ9 build, which contains the fix for multi-threading with OpenSSL 1.0.2 https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/283 :
[code]

I haven't been able to recreate this failure on a quad-core machine with OpenSSL 1.1.1.

[2020-04-10 07:13] knn-k commented on #9047
Assuming it is the same failure with SSLException as that in #9046, see my comment https://github.com/eclipse/openj9/issues/9046#issuecomment-611909993 .

[2020-04-10 11:07] JasonFengJ9 opened #9211 "VMState: 0x000514ff Unimplemented function: OMR::ClassEnv::containesZeroOrOneConcreteClass"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_Personal/454/console
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_windows_Personal/578/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-04-10 12:10] pshipton commented on #9211
OMR needed to promote, and that's done now.

[2020-04-10 12:10] #9211 closed

[2020-04-10 12:15] mpirvu commented on #9174
I cannot reproduce this in more than 100 runs.
Nevertheless we will proceed with closing the synchronization issue that we know about

[2020-04-10 12:39] avermeer commented on #7752
Hello @mikezhang1234567890, so would it confirm an issue on OpenJ9 side for this case?

[2020-04-10 15:15] #9045 closed

[2020-04-10 16:25] pshipton commented on #9197
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/335
[code]

[2020-04-10 16:50] mpirvu opened #9212 "Race condition in the presence of class unloading"
JITServer keeps caches with information about classes/methods. At the beginning of each compilation the client will send to the server the list of classes that have been unloaded/replaced and the server  will delete those classes (and associated information) from its caches.
A compilation thread at the server works in isolation from the client, but from time to time it may send a message to the cl

[2020-04-10 18:07] babsingh commented on #7752
### Hadoop

[code]

Using [pthread_key_create](https://pubs.opengroup.org/onlinepubs/9699919799/functions/pthread_key_create.html), Hadoop does a thread-specific data key creation with a `destructor` (== `hdfsThreadDestructor`) assigned.

The `destructor` (== `hdfsThreadDestructor`) is invoked upon invocation of `pthread_exit`.

### OpenJ9

In the Hadoop app, `SIGSEGV` is received from `Thread 26

[2020-04-10 18:15] mpirvu commented on #9212
Conceptually, the solution to this problem is to control when classes can be deleted from the caches at the server by using some RWMutex, let's call it `classUnloadRWMonitor`. Compilation threads at the server would hold `classUnloadRWMonitor` for reading and release it only when it's safe from their point of view. The thread that deletes classes from the caches needs to lock `classUnloadRWMonitor

[2020-04-10 19:03] pshipton commented on #9017
https://ci.eclipse.org/openj9/view/Test/job/Grinder/765/

[2020-04-10 23:48] JasonFengJ9 opened #9213 "VmArgumentTests_0_FAILED testMemoryLeaks AssertionError: Target process failed"
Failure link
------------

From an internal build `Test_openjdk14_j9_extended.functional_x86-64_mac_Nightly/81`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https://