[2022-09-27 17:18] VermaSh commented on #15995
Moved it to OMR: https://github.com/eclipse/omr/issues/6732

[2022-09-27 17:18] #15995 closed

[2022-09-27 18:21] pshipton commented on #15967
Not sure it's valid to run on a fips machine, these machines don't have the non-fips test label. That might explain the ".PKCS11Exception: CKR_ARGUMENTS_BAD" failure.

It would be good to try Temurin as well, since this seems like a OpenJDK issue on rhel8.

[2022-09-27 18:25] a7ehuo commented on #15493
There is no core or jitdmp from [x86-64_mac_OpenJDK8/41](https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_OpenJDK8/41). There is only a core file from [x86-64_linux_Nightly/369](https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/369), no jitdmp. It is a difference crash from [the crash in July](https://github.com/eclipse-openj

[2022-09-27 18:35] #15897 closed

[2022-09-27 19:31] hangshao0 commented on #15984
I believe `jvmtiGetClassSignature()` needs to be updated to covert the last `/` into `.` on hidden/anon classes,

[2022-09-27 19:46] fengxue-IS commented on #15937
@thallium can you start the initial investigation on this please

[2022-09-27 20:11] jdekonin opened #15998 "Redhat7 zLinux NoRouteToHostException: No route to host"
These are new systems provided by Marist to replace the existing older systems.  The older Redhat 7 installations don't have this failure, only the new ones. Adoptium playbooks have been applied.  I need some direction as to what could be root cause if this is a system configuration issue, which it would appear to be.

https://openj9-jenkins.osuosl.org/job/Grinder/1316/console
[code]

Numerous occ

[2022-09-27 20:12] jdekonin commented on #15998
I should note that the request has been made to have the new Marist systems in place and the old systems retired for October 15th if at all possible.

[2022-09-27 20:39] babsingh commented on #15938
@fengxue-IS Can this be closed since https://github.com/eclipse-openj9/openj9/pull/15965 is merged?

[2022-09-27 20:44] fengxue-IS commented on #15938
Lets keep this open to track the `-Xcompressedrefs` issue. We can close this once [#15184](https://github.com/eclipse-openj9/openj9/issues/15184) is completed

[2022-09-27 22:26] hzongaro commented on #15306
It looks like the test case in the [comment of 27 July](https://github.com/eclipse-openj9/openj9/issues/15306#issuecomment-1196676217) exhibits a slightly different problem in ExpressionSimplification than the problem seen in the [original test case](https://github.com/eclipse-openj9/openj9/issues/15306#issue-1269628433).

In the original test, Expressions Simplification calculates the value of `i

[2022-09-28 01:25] #15918 closed

[2022-09-28 02:00] pshipton commented on #15998
NoRouteToHostException - "Signals that an error occurred while attempting to connect a socket to a remote address and port. Typically, the remote host cannot be reached because of an intervening firewall, or if an intermediate router is down."

Does the machine know it's proper IP address, or does it have a host name that can be resolved to the proper IP address?

[2022-09-28 03:08] #15179 closed

[2022-09-28 03:48] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_1/15/
LambdaLoadTest_CS_5m_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_1/15/system_test_output.tar.gz

[code]

[2022-09-28 03:48] pshipton commented on #15230
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_Nightly/16/

[2022-09-28 04:02] #15936 closed

[2022-09-28 04:14] AlexeyKhrabrov commented on #15848
After giving it a bit more thought, merging snapshots doesn't seem too complicated, at least algorithmically.

Here is a high level sketch of the algorithm to merge two snapshots. It can be easily generalized to N snapshots if that ever becomes useful. For simplicity let's assume that both caches C1 and C2 are in memory, but not concurrently used or modified, and we're merging a "smaller" new cach

[2022-09-28 08:29] connglli commented on #15306
That's interesting. Thanks @hzongaro

[2022-09-28 11:30] JasonFengJ9 opened #16003 "ERROR: The "END OF DUMP" line is missing from the END section"
Failure link
------------

From [an internal build](http://vmfarm.rtp.raleigh.ibm.com/job_output.php?id=43768519)(`rhel7p7vm34`):
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

It seems related to https://github.com/eclipse-openj9/openj9/pull/15964

[2022-09-28 11:40] pshipton commented on #15976
Fixed by https://github.com/eclipse-openj9/openj9/pull/15978

[2022-09-28 11:40] #15976 closed

[2022-09-28 11:40] pshipton commented on #15975
Closing, assuming fixed by https://github.com/eclipse-openj9/openj9/pull/15978

[2022-09-28 11:40] #15975 closed

[2022-09-28 11:41] pshipton commented on #15974
Closing, assuming fixed by https://github.com/eclipse-openj9/openj9/pull/15978

[2022-09-28 11:41] #15974 closed

[2022-09-28 11:41] pshipton commented on #15973
Closing, scheduled cleaning seems to have resolved it.

[2022-09-28 11:42] pshipton commented on #15972
Closing, assuming fixed by https://github.com/eclipse-openj9/openj9/pull/15978

[2022-09-28 11:42] #15972 closed

[2022-09-28 11:42] pshipton commented on #15971
Closing, assuming fixed by https://github.com/eclipse-openj9/openj9/pull/15978

[2022-09-28 11:42] #15971 closed

[2022-09-28 12:33] dmitripivkine commented on #15251
Right, this is the same problem again:
[code]

[2022-09-28 13:09] keithc-ca commented on #16003
This is a problem with the test: it expects that the "END OF DUMP" line is the second line in that section instead of expecting it to be the last line of the section.

[2022-09-28 13:37] mpirvu commented on #15848
Thanks for the idea @AlexeyKhrabrov. It's something we should definitely pursue after we get the simpler implementation ready.

[2022-09-28 13:39] hzongaro commented on #15306
That second problem also affects negation and exclusive-or operators:

[code]

Running with `java -Xint TFor2`, the output is

[code]

Running with `java -Xjit:count=1,disableAsyncCompilation,{TFor2.[xn]*}\(optLevel=scorching\) TFor2`

[code]

[2022-09-28 17:10] keithc-ca commented on #16003
Fixed (internal) test issue.

[2022-09-28 17:10] #16003 closed

[2022-09-28 17:34] babsingh commented on #15980
This test looks Hotspot specific. `HotSpotDiagnosticMXBean`, `VMOption` and other related classes, under [com/sun/management](https://github.com/eclipse-openj9/openj9/tree/master/jcl/src/jdk.management/share/classes/com/sun/management), are empty or stubs in the OpenJ9 repo. @LinHu2016 Can you confirm if it is possible to support the above failing test with OpenJ9?

[2022-09-28 18:12] pshipton commented on #15998
Does `hostname` give you something, and then what happens if you `ping <hostname>`?

[2022-09-28 18:15] pshipton commented on #15998
Similarly, does `ping <ip addr>` work?

[2022-09-28 18:17] pshipton commented on #15998
Is there any firewall installed on the machine that is blocking ports? i.e. if Java starts a server on some port, could it be blocked by a firewall from communication from the same machine?

[2022-09-28 18:29] JasonFengJ9 commented on #15967
[Internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder_iteration_0/1734/consoleFull)(`rhel8ppc64le-fips4-1`)
[code]

Since RI failed similarly at `rhel8ppc64le-fips4-1`, this is not an OpenJ9 issue.

[2022-09-28 18:47] pshipton commented on #15962
We'll have to figure out what is actually going wrong. There is code run from java.exe to pre-load vcruntime140.dll before jvm.dll is loaded, and it seems to be working for me.

On a Windows 10 machine, this is what I see when running with the debugger (after fixing the vcruntime140.dll name). You can see that vcruntime140.dll and msvcp140.dll are loaded first from the bin directory.

[code]

[2022-09-28 19:05] pshipton commented on #15962
I think fixing the name of vcruntime140.dll in the build fixes the problem. Without the proper name, the pre-loading code doesn't work. i.e. https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/615

There is a build linked below you can try to confirm.

I created a Windows 2022 machine and duplicated the problem. The fixed build below is working fine for me on this machine.

https://openj9-arti

[2022-09-28 19:57] LongyuZhang opened #16009 "ppc64le_linux aot_test: AOT header validation failed TM feature mismatch"
Failure link
------------

Jenkins Link: hyc_jenkins/job/Grinder/28190/console
Manual testing steps:
- pull `ibm-semeru-runtimes:open-11-jdk-focal` image on ppc64le machine
- run `java -Xjit:verbose -version` inside the docker image

Failure output (captured from console output)
---------------------------------------------
[code]

[2022-09-28 20:10] pshipton commented on #15967
The original failure wasn't on a fips machine, not sure how fips got involved. We should try the tests with Temurin on a non-fips machines, although I expect the outcome to be the same (not an OpenJ9 issue).

[2022-09-28 20:22] #15987 closed

[2022-09-28 21:34] JasonFengJ9 opened #16010 "valhalla: JVM_IsValhallaEnabled is required"
From a local build after resolving merging conflict:
[code]

FYI @hangshao0

[2022-09-28 22:00] pshipton opened #16011 "jdk19 Jep425Tests_testVirtualThread_0 hangs"
Jep425Tests_testVirtualThread_0 in sanity.functional testing is hanging, on alinux, aix, plinux, xlinux, windows. Not on amac, zlinux, xmac.

This was first seen in PR testing https://github.com/eclipse-openj9/openj9/pull/16002#issuecomment-1261482980
also seen in the OMR acceptance build https://openj9-jenkins.osuosl.org/job/Pipeline-OMR-Acceptance/379/
Did not occur in the nightly build last nig

[2022-09-28 23:44] a7ehuo commented on #15493
Ran in internal Grinder 30x: all pass (ID 28177). I also tried to run only `java/util/SplittableRandom/SplittableRandomTest.java` 100x locally, all pass.

[2022-09-29 02:15] pshipton commented on #13577
It happens every so often, I stopped reporting them as per https://github.com/eclipse-openj9/openj9/issues/13577#issuecomment-1092220503

[2022-09-29 02:19] pshipton commented on #15493
Not sure what you ran in the grinder, likely it needs to run all jdk_util_0 in order to recreate the problem. But it may be so intermittent that it's hard to recreate.

[2022-09-29 02:19] pshipton commented on #15493
Should have checked, I see the grinder did run jdk_util_0

[2022-09-29 03:33] NagarajuGunda commented on #15962
Hi @pshipton

The build you have provided seems to be working fine on the same machine. I am just curious why it wouldn't have worked earlier even though I renamed the vcrunt~.dll to vcruntime140.dll

'''
c:\>c:\Users\Administrator\Downloads\j2sdk-image\jre\bin\java -version
openjdk version "1.8.0_352-internal"
OpenJDK Runtime Environment (build 1.8.0_352-internal-jenkins_2022_09_27_14_10-b00)
Ecl

[2022-09-29 05:27] NagarajuGunda commented on #15962
After copying vcruntime140.dll to jdk\bin and jdk\jre\bin directories, jdk\bin\java worked but jre\bin\java still has problem (1.8.0_345)

[code]

[code]

[2022-09-29 11:44] knn-k commented on #14843
I ran special.system with JDK 18 on AArch64 macOS, and the failure was not reproduced.
job/Test_openjdk18_j9_special.system_aarch64_mac_Personal/3/
I ran it only once as it takes long time.

[2022-09-29 12:59] pshipton commented on #15962
It's not just the file that was renamed, the code in the JVM that pre-loads vcruntime140.dll also changed. Both changes are required for it to work.

Since the test build worked, I'll close this as fixed in the next release, 0.35. There is a Milestone 2 build for 0.35 due out next week that will contain the fix.

[2022-09-29 12:59] #15962 closed

[2022-09-29 13:13] #14843 closed

[2022-09-29 13:28] keithc-ca opened #16012 "JDK20 requires implementation of JVM_VirtualThreadHideFrames()"
Uses introduced in [8293613: need to properly handle and hide tmp VTMS transitions](https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/053a7d3c2fceda84796237fac0d610458cad834c).

Staging builds are currently failing (e.g. [s390x](https://openj9-jenkins.osuosl.org/job/Build_JDKnext_s390x_linux_OpenJDK/351/console)):
[code]

[2022-09-29 13:37] LinHu2016 commented on #15980
@JasonFengJ9 HeapMonitor.java  doesn't look like new for java19, I am wondering how we support it in Java 17.

[2022-09-29 13:42] babsingh commented on #15980
These tests have been enabled recently (few weeks ago) only in Java19's extension repo. They exist in prior extension repos; but, they are still disabled.

[2022-09-29 14:24] pshipton commented on #15973
Another one
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly_testList_0/373/

@AdamBrousseau @vsebe seems we may need some manual cleaning of this machine.

[2022-09-29 14:31] pshipton commented on #15230
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_Nightly/17
java/lang/StringBuilder/Comparison.java
java/lang/String/UnicodeCasingTest.java

[2022-09-29 14:34] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_0/16
LambdaLoadTest_J9_5m_0
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_0/16/system_test_output.tar.gz

https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_2/16
Lambd

[2022-09-29 14:45] pshipton commented on #15230
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_OpenJDK17/23/
    java/lang/String/UnicodeCasingTest.java.UnicodeCasingTest
    java/lang/ThreadLocal/ReplaceStaleEntry.java.ReplaceStaleEntry
    java/lang/ThreadLocal/ThreadLocalSupplierTest.java.ThreadLocalSupplierTest
    jdk/internal/jimage/JImageReadTest.java.JImageReadTest
    jdk/lambda/ArrayCtorRefTest.ja

[2022-09-29 14:53] LinHu2016 commented on #15980
@babsingh we might can implement some methods  of HotSpotDiagnosticMXBean interface, VMOption, but they are   Hotspot specific, some features or internal structures, which they expose, are not exist in OpenJ9 jvm(no meaningful too), so there is no guarantee that we can support all of them.

[2022-09-29 15:02] pshipton commented on #16012
@tajila @fengxue-IS @babsingh fyi
For now Keith will implement a stub so we can continue building jdk20.

[2022-09-29 15:30] #15982 closed

[2022-09-29 16:04] babsingh commented on #16011
- The hang happens due to https://github.com/eclipse-openj9/openj9/pull/15996.
- Created https://github.com/eclipse-openj9/openj9/pull/16016 to revert it.
- See javacore; all vthreads and their carrier threads are parked: [javacore.20220929.085955.17624.0001.txt](https://github.com/eclipse-openj9/openj9/files/9676374/javacore.20220929.085955.17624.0001.txt).

[2022-09-29 16:09] #16011 closed

[2022-09-29 16:21] vsebe commented on #15973
Moved temporary directory on F:, cleaned up and sanitized [win2012-x86-2](https://openj9-jenkins.osuosl.org/computer/win2012%2Dx86%2D2/); machine back online.

[2022-09-29 16:32] JasonFengJ9 commented on #15980
Some tests within `test/hotspot/jtreg/serviceability/jvmti/HeapMonitor/MyPackage` were built manually when developing JEP 331 like [JTReg Test Failure - serviceability/jvmti/HeapMonitor/MyPackage/HeapMonitorVMEventsTest.java](https://github.com/eclipse-openj9/openj9/issues/6024), which now has compilation failure as well.
[code]
The test might be modified to add incompatible `HotSpotDiagnosticMXBe

[2022-09-29 16:35] #15973 closed

[2022-09-29 17:06] JasonFengJ9 commented on #15967
As expected https://github.com/eclipse-openj9/openj9/issues/15967#issuecomment-1261414041, hotspot had same error at the machine `rhel8le-rt1-4` - [internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28192/) where this issue was reported initially.
[code]
So this confirms it is not an OpenJ9 issue.

[2022-09-29 17:34] gacholio commented on #16010
The implementation will almost certainly not want the leading underscore.

[2022-09-29 18:19] hangshao0 commented on #16010
There seems to be a merge issue. After adding the method `JVM_IsValhallaEnabled()`, I get:

[code]

`ConstantUtils.skipOverFieldSignature()` returns incorrect value on `Ljava/lang/Object;`. I see there was a recent conflict merge of file `ConstantUtils.java`. @JasonFengJ9

[2022-09-29 19:24] hangshao0 commented on #16010
With the latest commit https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes/commit/b4ba016daf41295b2fb26d77845eab6bef31043f, the `ExceptionInInitializerError` goes away,

[2022-09-29 20:01] a7ehuo commented on #15764
After some offline discussion with @jdmpapin, I'd like to clarify this issue a bit more. `block_918`, `block_924`, and `block_930` are a clone of `block_418`. The loop entry is `block_422`. `block_422` is a fall through of `block_418`. `block_918`, `block_924`, and `block_930` all need to get to `block_422`.  "goto" blocks are required so that these blocks could jump to `block_422`.  The uniquenes

[2022-09-29 20:17] #16010 closed

[2022-09-29 21:44] JasonFengJ9 commented on #6552
[Internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk17_j9_special.system_x86-64_mac_testList_4/250/)(`mac11x64rt07`)
[code]

[2022-09-29 23:28] knn-k commented on #15230
It is interesting that many tests failed with `Cannot invoke "java.lang.CharacterData.of(int)" because "codePoint" is null`, in addition to known `String/UnicodeCasingTest.java` and `StringBuilder/Comparison.java`.

[2022-09-30 01:33] pshipton commented on #15491
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_s390x_linux_OMR_testList_0/3
J9vmTest_4

Test hung creating javacore. There is a javacore file in the artifacts, which stops in the "THREADS subcomponent" section.
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.functional_s390x_linux_OMR_testList_0/3/functional_test_output.tar.gz

[

[2022-09-30 03:21] NagarajuGunda commented on #15962
Thanks @pshipton

[2022-09-30 03:32] pshipton opened #16021 "AIX cannot load libfontmanager.so"
The problem occurs in an extended.openjdk test, but easily duplicated by a simple test case.
[code]

It occurs on at least jdk11 and jdk17.
jdk17
[code]
jdk11
[code]

Even on the same machine where the JVM was compiled it doesn't work, with the same error.

Seems like a problem with xlc 16.1.0. I think what's happening is that harfbuzz was updated from 2.8 to 4.4.1 and it no longer works with xlc

[2022-09-30 04:00] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/375
    jdk/lambda/MethodReferenceTestVarArgsExt.java.MethodReferenceTestVarArgsExt
    jdk/lambda/MethodReferenceTestVarArgsSuper.java.MethodReferenceTestVarArgsSuper
    jdk/lambda/MethodReferenceTestVarArgsThis.java.MethodReferenceTestVarArgsThis
    jdk/lambda/TestPrivateCtorRef.java.TestPrivateCtorRef

[c

[2022-09-30 04:02] pshipton commented on #10759
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_Nightly/18

[2022-09-30 04:04] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.system_aarch64_mac_Nightly_testList_0/18/
LambdaLoadTest_CS_5m_0
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.system_aarch64_mac_Nightly_testList_0/18/system_test_output.tar.gz

[2022-09-30 10:44] pshipton commented on #16021
Compiling with xlc 16.1.0.7 (fixpack 11) resolves the problem.
[code]

[2022-09-30 11:11] pshipton commented on #12556
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/370
jdk_lang_0
jdk/internal/loader/ClassLoaderValue/ClassLoaderValueTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/370/openjdk_test_output.tar.gz

[code]

[2022-09-30 13:40] 0xdaryl commented on #14328
The egregious performance difference originally reported no longer exists.  Closing this.

[2022-09-30 13:40] #14328 closed

[2022-09-30 13:48] cjjdespres commented on #14538
From `/job/Test_openjdk17_j9_sanity.functional_ppc64le_linux_jit_Personal/386`, failure in `cmdLineTest_J9test_common_0`. Segfault. Console log:

[code]

I believe it's tracked by #13577.

[2022-09-30 13:52] 0xdaryl commented on #14120
I'm not sure if this is still an issue in JDK11, but please confirm @BradleyWood .  I'll put this in the 0.36 plan.

[2022-09-30 16:07] Mesbah-Alam commented on #15606
The `sun/security/pkcs11/Signature/TestDSAKeyLength.java` test failure was reproduced in [17.0.4.1 testing on Ubuntu 22](http://trss1.fyre.ibm.com/output/test?id=6334c6aff73e882d9cd0a93b)  :

[code]

[2022-09-30 22:46] pshipton commented on #14120
I'm going to close this issue since nothing has been reported against it since Dec 10, 2021. If we'd seen a matching failure since then, there would be a comment added. There are plenty of other failures to look at.

[2022-09-30 22:46] #14120 closed

[2022-09-30 22:49] pshipton commented on #15606
@Mesbah-Alam pls try a Temurin build as well. Likely the failure will occur with Temurin as well and the failure is not specific to OpenJ9 but a problem in OpenJDK.

[2022-10-01 00:49] llxia commented on #15606
Temurin JDK 17 release on ubu22: [Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28289/)
Temurin JDK17 nightly on ubu22: [Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28290/)

[2022-10-01 01:07] pshipton commented on #15606
Actually I already tried Temurin in https://github.com/eclipse-openj9/openj9/issues/15606#issuecomment-1192590729 and they did fail. It would also be worth trying the latest Semeru 17.0.5 as the problem may be resolved now.

[2022-10-01 11:04] rhyadav commented on #14981
Hi @harpreetbamrah  seems like it's open, can i go ahead?

[2022-10-01 23:16] #15937 closed

[2022-10-03 13:12] llxia commented on #15606
Tested with latest 17.0.5 nightly on `ubu22x86-rt5-1.fyre.ibm.com` and got the `sun/security/pkcs11/Signature/TestDSAKeyLength.java` failure ([Grinder link](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28302/testReport/)):

[code]

[code]

[2022-10-03 15:02] JasonFengJ9 opened #16026 "CRIU throws RestoreException at restore single thread mode"
From a fyre image provided by OpenLiberty team:
[code]

I was able to get a stacktrace at restore before throwing `RestoreException`:
[code]
The code in question https://github.com/eclipse-openj9/openj9/blob/adf9c099f62dd206727721ddbfbe9de931870bff/runtime/compiler/infra/J9Monitor.cpp#L95-L98

I had a native call stack showing `setCRIUSingleThreadModeJVMCRIUException` -> `setCRIUSingleThreadModeEx

[2022-10-03 15:21] tajila commented on #16026
@JasonFengJ9 we will need to address these, https://github.com/eclipse-openj9/openj9/blob/adf9c099f62dd206727721ddbfbe9de931870bff/runtime/vm/FastJNI_java_lang_Object.cpp#L44-L71

[2022-10-03 15:33] harpreetbamrah commented on #14981
Sure @rhyadav, if @akshaywakhare is not working on it.

[2022-10-03 15:39] JasonFengJ9 opened #16027 "valhalla error: cannot find symbol method isIdentity()"
[code]

The change is in `openj9-staging` branch.

FYI @hangshao0

[2022-10-03 18:28] jdekonin commented on #15998
Double checked and the firewall isn't the problem on its own.  But I modified iptable settings and it seems those failing jobs are now passing.  I redo a targeted personal build with the entire set of test pipelines overnight to validate.

[2022-10-03 18:52] JasonFengJ9 opened #16028 "JDK20+ should exclude/modify tests using java.lang.Thread.suspend()/resume() and stop()"
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/488#issuecomment-1265749227
[code]

[2022-10-03 18:57] hzongaro commented on #15349
I believe this issue is a duplicate of issue #15306, but I'm having troubling reproducing the failure again.  I used to be able to reproduce it.

[2022-10-03 19:32] pshipton commented on #15578
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_linux_Nightly_testList_0/264
DaaLoadTest_all_CS_5m_0
[code]

[2022-10-03 19:47] pshipton opened #16029 "AArch64 Mac SC_Softmx_Increase_0 crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_1/150
SC_Softmx_Increase_0 `-Xdump:system:events=user`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_1/150/system_test_output.tar.gz

[code]

9.Jvm2.stderr
[code]

@knn-k

[2022-10-03 19:53] pshipton commented on #13811
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_mac_Nightly_testList_1/307 - [mac10-x86-4](https://openj9-jenkins.osuosl.org/computer/mac10-x86-4)
testSCCMLTests4_1

[code]

[2022-10-03 19:56] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_1/18
LambdaLoadTest_J9_5m_1
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_1/18/system_test_output.tar.gz

[2022-10-03 20:00] pshipton opened #16030 "Java 19 java/lang/ClassLoader/Assert.java timeout"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_Nightly/19/
jdk_lang_0
java/lang/ClassLoader/Assert.java

[code]

[2022-10-03 20:15] pshipton commented on #13123
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_special.system_x86-64_windows_Personal_testList_3/106
ClassLoadingTest_special_5m_24

No diagnostic files due to https://github.com/adoptium/aqa-tests/issues/3864
[code]

[2022-10-03 20:56] hangshao0 opened #16031 "Compilation error of Valhalla Tests"
Failure link
------------

Internal Nightly Build: `Test_openjdkValhalla_j9_extended.functional_x86-64_linux_valhalla_Nightly_testList_1/641/`

Optional info
-------------

- intermittent failure: no

Failure output (captured from console output)
---------------------------------------------
[code]

[2022-10-03 21:00] hangshao0 commented on #16031
`-source 20 -XDenablePrimitiveClasses` need to added into `build.xml` and pass to the compiler.

[2022-10-03 21:13] thallium commented on #15503
Only testGetAllStackTraces2 and testGetStackTrace4 are failing on the current master branch build.

[2022-10-03 22:03] JasonFengJ9 opened #16032 "JDK8 aarch64_linux LambdaLoadTest_special_J9_5m_0_FAILED net.adoptopenjdk.test.lambda.TestLambdaJavaInterfaces"
Failure link
------------

From [an internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_special.system_aarch64_linux_testList_0/306/)(`cent7-aarch64-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=LambdaLoadTest_special_J9_5m_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_

[2022-10-03 22:12] JasonFengJ9 commented on #14948
[Internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_testList_0/216/)(`p10aix009`)
[code]

[2022-10-03 22:13] #15986 closed

[2022-10-03 22:25] JasonFengJ9 commented on #15967
[Internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_extended.openjdk_x86-64_linux/87/)(`rhel9x86-rt3-1`)
[code]

[2022-10-04 00:21] pshipton commented on #16032
Seems a dup of https://github.com/eclipse-openj9/openj9/issues/15832

@knn-k fyi

[2022-10-04 00:22] pshipton commented on #16032
The grinder passing, closing as dup.

[2022-10-04 00:22] #16032 closed

[2022-10-04 00:22] pshipton commented on #15832
See also https://github.com/eclipse-openj9/openj9/issues/16032

[2022-10-04 01:23] knn-k commented on #16029
I ran a 40x Grinder job, and got one failure.  There is a core file, but other diagnostic files are not available.
https://openj9-jenkins.osuosl.org/job/Grinder/1319/

[code]

[2022-10-04 03:25] knn-k commented on #16029
The crash in Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_1/150:

It is not a crash at the VM termination.
jdmpview shows there are 201 threads running in the VM, and it was the thread `load-4` that failed.

[code]

[2022-10-04 11:09] JitRevealer opened #16034 "J9 's JDK8 reports NoSuchMethodError, but the JDK11 is normal."
## Affected versions

We found a test case with execution problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at attachment.

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

## Problem summary

The decompiled code for the test case is shown below. Because the issue can not be reproduced in the source code, so we subm

[2022-10-04 11:48] pshipton commented on #16034
Occurs with -Xint. In incompatibility related to AbstractStringBuilder.
[code]

[2022-10-04 13:03] hzongaro commented on #15349
Duplicate of #15306

[2022-10-04 13:20] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_1/19
LambdaLoadTest_CS_5m_0
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_1/19/system_test_output.tar.gz

[2022-10-04 13:22] vij-singh commented on #15855
Any new news on this one?

[2022-10-04 13:23] r30shah commented on #15855
@dchopra001  Can you post update of your investigations on this issue?

[2022-10-04 13:24] connglli commented on #15534
@hzongaro Could you tell me which test case ([the original one](https://github.com/eclipse-openj9/openj9/issues/15306#issue-1269628433) or [the one commented in 27 July](https://github.com/eclipse-openj9/openj9/issues/15306#issuecomment-1196676217)) this one is duplicate to? And do I need to open a new thread for this one commented in 27 July?

[2022-10-04 13:25] connglli commented on #15349
@hzongaro Could you tell me which test case ([the original one](https://github.com/eclipse-openj9/openj9/issues/15306#issue-1269628433) or [the one commented in 27 July](https://github.com/eclipse-openj9/openj9/issues/15306#issuecomment-1196676217)) this one is duplicate to?

[2022-10-04 13:29] pshipton opened #16036 "JDK 19 MiniMix_5m_1 hang in Thread.getStateImpl"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_1/19
MiniMix_5m_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_1/19/system_test_output.tar.gz

[code]

[code]

[2022-10-04 13:29] pshipton commented on #16036
@babsingh @tajila fyi

[2022-10-04 13:39] tajila commented on #16036
@ChengJin01 Please take a look at this

[2022-10-04 13:39] tajila commented on #16030
@hangshao0 please take a look at this

[2022-10-04 13:47] jdekonin commented on #15998
iptable settings are the problem.  testing in the build above timed out but previous failing pipelines are now passing so I am closing this issue.

[2022-10-04 13:47] #15998 closed

[2022-10-04 14:01] jdekonin opened #16037 "Linux 390 jenkins system replacement"
Marist has requested we replace the existing Linux 390 systems with ones created on their new self-serve cloud environment by October 15th.  @AdamBrousseau and I have been added to the new environment as owners, but we can add others as requested.

This issue is for tracking the replacement progress and the verification of the machine via build & test pipelines before making them live in nightly a

[2022-10-04 14:03] hzongaro commented on #15349
@connglli It was the original one that this duplicates.  Sorry for not being clear!

[2022-10-04 14:06] hzongaro commented on #15534
@connglli It was the original one that this duplicates.  Sorry for not being clear!

No need to open a new issue - the proposed changes in OMR pull request eclipse/omr#6747 fix both of those problems.

[2022-10-04 14:13] jdekonin commented on #16037
- [x] ub20-390-3 - no link anymore as personal build history is gone
- [ ] ub20-390-4
- [ ] ub20-390-5
- [ ] ub20-390-6
- [ ] ub20-390-7
- [ ] ub20-390-8
- [ ] rh7-390-5 - build & test
   - https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/251/
   - https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_s390x_linux_Personal_testList_0/219/
- [ ] rh7-390-6
   - h

[2022-10-04 14:15] #15764 closed

[2022-10-04 14:28] hzongaro commented on #15730
Hello @mateuszrzeszutek.  I was wondering whether you have had any success in attempting to capture any trace logs or core files.  They would be a great help in trying to resolve this problem.

[2022-10-04 14:44] mateuszrzeszutek commented on #15730
Hey,
Sorry for being quiet, I was on vacation/sick leave for some time and this flew under my radar completely. I'll try to compile the files you requested tomorrow.

[2022-10-04 16:40] pshipton commented on #16037
Can we update to any newer OSes while we are doing this? ub22, rhel8, rhel9

[2022-10-04 16:42] rrozenshteyn-jha opened #16039 "JVM from jdk-11.0.16.1+1 fails to start on AIX"
Hi,

I've downloaded **[ibm-semeru-certified-jdk_ppc64_aix_11.0.16.1.tar.gz](https://github.com/ibmruntimes/semeru11-certified-binaries/releases/download/jdk-11.0.16.1%2B1_openj9-0.33.1/ibm-semeru-certified-jdk_ppc64_aix_11.0.16.1.tar.gz)** to test if our application can run on the latest available Java 11 version.  After extracting the contents to a local directory on our AIX development partitio

[2022-10-04 16:44] pshipton commented on #16039
What changes is the new version is compiled with xlC 16.1 so you need the C++ Runtime installed now.
https://www.eclipse.org/openj9/docs/version0.33/#xl-c-runtime-required-on-aix

[2022-10-04 16:47] rrozenshteyn-jha commented on #16039
Ok.  Thank you @pshipton .  I will bring this up with our AIX support team.

[2022-10-04 16:49] #16039 closed

[2022-10-04 17:20] pshipton commented on #16021
The compilers are updated to 6.1.0.11 on the build machines.

[2022-10-04 17:20] #16021 closed

[2022-10-04 17:28] dchopra001 commented on #15855
I haven't been able to reproduce this one locally. So instead I'm trying to reproduce this failure in the internal Jenkins grinder infrastructure.

Update on that front is that so far I've been able to reproduce the crash and some of the rtlogs generated during the AOT load are available. However I don't see the original AOT compilation trace logs anywhere in the failing jobs. I'll need those to p

[2022-10-04 17:46] hangshao0 commented on #16030
I will have a look.

[2022-10-04 17:53] jdekonin commented on #16037
rhel8 is currently available, but rhel9 and ub22 are not.

Some of the ub20 can be converted to rhel8, I don't think that can be done for the rhel7 systems as they are used for compile atm and not within a docker container.  ub20-390-7 & ub20-390-8 convert to rhel8??

When ub22 is available we can upgrade 2 or all the ub20 guests at that time.  Sound okay with that distribution?

[2022-10-04 19:07] pshipton commented on #16037
I approve the plan.
- ub20-390-7 & ub20-390-8 convert to rhel8
- When ub22 is available we can upgrade 2 of the ub20 guests

[2022-10-04 19:50] JasonFengJ9 commented on #15994
@tajila This test `serviceability/jvmti/VMObjectAlloc/VMObjectAllocTest.java` is available since `JDK18`. Its extension repo hasn't been setup to run `serviceability_jvmti_j9` yet, am going to try it maunally.

[2022-10-05 03:13] ChengJin01 commented on #16036
1) I went through the dumps at https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_1/19/system_test_output.tar.gz and didn't find any suspicious thread that might trigger the hang in the failing job. In addition, there was no deadlock detected via jdmpview.

As for the J9VMThread `load-9` mentioned in the description, it w

[2022-10-05 03:18] pshipton commented on #14713
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_2/152
HeapHogLoadTest_5m_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_2/152/system_test_output.tar.gz
[code]

[2022-10-05 03:22] pshipton commented on #16036
There are a couple of javacore files, taken a minute apart, and both showed the same stack for the "load-9" thread.

[2022-10-05 04:03] ChengJin01 commented on #16036
Assuming there was something happening for "load-9" thread according to the javacores,
[code]
it should be stuck at the native method `getStateImpl()` in `Thread.threadState` at https://github.com/ibmruntimes/openj9-openjdk-jdk19/blob/b9e3daf582ff40b3a187281241c3cb691e4fec73/src/java.base/share/classes/java/lang/Thread.java#L2864
[code]
where the native code of `getStateImpl` was at https://github

[2022-10-05 04:08] ChengJin01 commented on #16036
It seems `haltThreadForInspection` was only modified via https://github.com/eclipse-openj9/openj9/pull/15227 recently to fixed a couple of hang related issues. So I am wondering whether there was any connection between this issue and the PR.

[2022-10-05 04:08] ChengJin01 commented on #16036
FYI: @amicic

[2022-10-05 06:18] knn-k commented on #14713
This issue was opened against AIX, but all other failures are from AArch64 macOS.
There is another issue with AArch64 Linux in August: #15750

[2022-10-05 10:42] pshipton commented on #15881
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_Nightly/21/
jdk_util_1
java/util/Properties/StoreDeadlock.java

[2022-10-05 10:45] pshipton commented on #14753
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly_testList_2/379/
MauveSingleInvocLoad_J9_5m_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly_testList_2/379/system_test_output.tar.gz
[code]

[2022-10-05 10:49] pshipton commented on #13000
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/369
jdk_util_0
java/util/concurrent/tck/JSR166TestCase.java

[code]

[2022-10-05 11:52] #15594 closed

[2022-10-05 12:21] mpirvu commented on #15848
Regarding loading the snapshot in the background while other compilations that might want to use it are progressing we have two options:
1. Create a dedicated thread that handles all the snapshot file reads
2. Reuse one of the compilation threads

I am leaning more to the second approach. I looked at how this can be implemented and sketched some high level design where the compilation thread that

[2022-10-05 13:27] dmitripivkine commented on #13504
c-stack:
[code]

[2022-10-05 13:49] JasonFengJ9 commented on #15967
[Internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.openjdk_ppc64le_linux/102/)(`p10rhel053`)
[code]

[2022-10-05 15:18] AlexeyKhrabrov commented on #15848
Agreed. Since loading a snapshot can be I/O bound (if the snapshot file is not in the OS page cache), we don't want the single loader thread become a bottleneck if the JITServer needs to load multiple caches at the same time.

Just to clarify, do you mean multiple requests for the same cache name from multiple compilation threads? To handle that, we can store the requests in a `PersistentUnordered

[2022-10-05 15:20] tajila commented on #15501
@mikezhang1234567890 Can you please take a look at this

[2022-10-05 15:36] ajohnson1 opened #16043 "DTFJ Javacore parser is missing stack traces etc. with current Javacore files"
The DTFJ Javacore parser is meant to extract information from the javacore.xxxx.txt file generated by the JVM.

It works, but not as well as it used to as it does not extract Java and native stack traces from the javacore file.
This is probably because the javacore file format has been enhanced with additional information, but this confuses the parser. Removing some of the extra lines from the jav

[2022-10-05 15:56] thallium opened #16044 "JDK19 java/lang/Thread/virtual/PreviewFeaturesNotEnabled.java failed"
Failed with and without JIT
[code]

[2022-10-05 16:18] vij-singh commented on #15716
@vijaysun-omr FYI this is the issue I mentioned

[2022-10-05 16:43] thallium opened #16045 "JDK19 java/lang/Thread/virtual/StackTraces.java#id1 failed"
Failed with and without JIT
[code]

[2022-10-05 18:19] hangshao0 commented on #16030
Re-run the test 100 times on the latest Windows nightly build, all passed.

[2022-10-05 18:53] mikezhang1234567890 commented on #15501
Ran the test through grinder internally.

100x grinder passed on x86 Linux [here](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28403/).

200x grinder passed on x86 Linux [here](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28409/).

Could not reproduce the error, though our `Unsafe.java` hasn't changed since the OpenJ9 commit used in the failing build.

[2022-10-05 19:06] JasonFengJ9 commented on #15501
Note the initial 50x grinder also passed.
I would close this unless it occurs again.

[2022-10-05 19:06] #15501 closed

[2022-10-05 19:16] thallium opened #16046 "JDK19 java/lang/Thread/virtual/stress/GetStackTraceALot.java#id0 failed with JIT enabled"
[code]

[2022-10-05 19:21] thallium opened #16047 "JDK19 java/lang/Thread/virtual/stress/PingPong.java failed with JIT enabled"
[code]

[2022-10-05 19:25] JasonFengJ9 opened #16048 "svlxtor3 (z16) cmdLineTester_XcheckJNI_0_FAILED memorycheck - Could not create the Java Virtual Machine"
Failure link
------------

From [an internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28412/consoleFull)(`svlxtor3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=testList+TESTLIST%3DcmdLineTester_XcheckJNI_0%2CmemleaksTest_0&SDK_RESOURCE=upstream&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEO

[2022-10-05 19:43] thallium opened #16049 "JDK19 java/lang/Thread/virtual/stress/Skynet.java#id0 timed out"
Timed out with and without JIT:
[code]

[2022-10-05 19:50] thallium opened #16050 "JDK19 java/lang/Thread/virtual/stress/TimedGet.java timed out"
Timed out with and without JIT.
[code]

[2022-10-05 19:52] thallium opened #16051 "JDK19 java/lang/Thread/virtual/stress/YieldALot.java#id0 timed out with JIT enabled"
[code]

[2022-10-05 19:58] thallium commented on #16049
Already has an issue for this so I closed this

[2022-10-05 19:58] #16049 closed

[2022-10-05 19:59] thallium commented on #15938
I'm getting timed out with and without JIT enabled
[code]

[2022-10-05 20:09] thallium commented on #16050
already have an issue for this

[2022-10-05 20:09] #16050 closed

[2022-10-05 20:16] hangshao0 commented on #16030
The test spawn a new Java process and it is waiting for the new Java process to finish. It timeout on the wait. Not sure what happened to the spawned Java process.

The spawned Java process is running `Assert.class` with an argument, so it is running this piece of code:
https://github.com/hangshao0/openj9-openjdk-jdk19/blob/7a09e8a7a5bef0dcde7080a30b446e428fdc74b7/test/jdk/java/lang/ClassLoader/As

[2022-10-05 20:17] JasonFengJ9 commented on #15994
Test JDK18 0.33 w/ [Adoptium testimage](https://github.com/adoptium/temurin18-binaries/releases/download/jdk18u-2022-10-04-01-30-beta/OpenJDK18U-testimage_x64_mac_hotspot_2022-10-03-23-30.tar.gz)
[code]

This is not a regression introduced by JDK19.

[2022-10-05 20:28] thallium opened #16052 "JDK19 jdk/internal/vm/Continuation/LiveFramesDriver.java failed"
Failed with and without JIT
[code]

[2022-10-05 20:31] thallium opened #16053 "JDK19 jdk/internal/vm/Continuation/ClassUnloading.java timed out"
Timed out with and without JIT
[code]

[2022-10-05 20:39] hangshao0 commented on #16030
Notice the test is using `j.l.Runtime.exec(String)` to spawn the new Java process. However, this method has been deprecated since Java 18 and its Javadoc says `"This method is error-prone and should not be used"`.

[2022-10-06 00:55] pshipton commented on #16048
There are memory allocation problems during JVM startup according to this output. The BufferOverrun test doesn't matter since it doesn't get far enough to run the test.
[code]

I reproduced it on svlxtor3 by running the following, although it doesn't always occur. It seems -Xcheck:memory has weird side effects on this machine.
`java -Xcheck:memory a`
`java -Xcheck:jni -Xcheck:memory a`
`java -Xint

[2022-10-06 01:03] pshipton commented on #16048
The first warning message for rasdump.c:486 is a 32-bit memory allocation. The 32-bit memory is sub-allocated out of a pre-reserved area, it's weird this could fail.

[2022-10-06 02:00] knn-k commented on #16029
I mentioned a different failure (HeapHogLoadTest_5m_0) in my previous comment.
I deleted it because it was confusing.

[2022-10-06 05:39] knn-k commented on #15230
I ran the following Grinder jobs on AArch64 Linux with https://github.com/eclipse/omr/pull/6752, and got no failures.

- 40x jdk_lang_1: https://openj9-jenkins.osuosl.org/job/Grinder/1324/
- 40x UnicodeCasingTest.java only: https://openj9-jenkins.osuosl.org/job/Grinder/1325/

[2022-10-06 08:02] rhyadav commented on #14981
@akshaywakhare are you working on it? if not i'll open a new issue and start working on it. Thanks @harpreetbamrah

[2022-10-06 12:52] pshipton opened #16054 "SC_Softmx_UpDown Cache does not exist"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_s390x_linux_Nightly_testList_1/326
SC_Softmx_UpDown_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_s390x_linux_Nightly_testList_1/326/system_test_output.tar.gz

[code]

7.AD1.stderr
[code]

[2022-10-06 12:55] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.system_aarch64_mac_Nightly_testList_0/22
LambdaLoadTest_CS_5m_0
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.system_aarch64_mac_Nightly_testList_0/22/system_test_output.tar.gz

[2022-10-06 12:59] pshipton opened #16055 "jdk19 testSCCacheManagement crash vmState=0x0005ffff"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_0/14
testSCCacheManagement_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_0/14/functional_test_output.tar.gz
[code]

[2022-10-06 13:00] #16055 closed

[2022-10-06 13:09] pshipton commented on #15855
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_s390x_linux_Nightly/22
jdk_util_1
java/util/concurrent/FutureTask/NegativeTimeout.java

There is a core / javacore / Snap in .\aqa-tests\TKG\output_16650183664248\jdk_util_1\work\java\util\concurrent\FutureTask\ExplicitSet\
Javacore shows gpf with VM flags:000000000005FFFF
1XHEXCPMODULE  Compiling method: java/lang/Thread.genTh

[2022-10-06 13:16] pshipton commented on #15504
Another one https://github.com/eclipse-openj9/openj9/issues/16030

[2022-10-06 13:16] JasonFengJ9 opened #16056 "JDK8 FVT_Serviceability.trace.verbosegc_finalizers - SAXParseException: cvc-complex-type.2.4.a: Invalid content was found starting with element 'heap-fixup'"
Failure link
------------

From [an internal build](http://vmfarm.rtp.raleigh.ibm.com/job_output.php?id=44346781):
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2022-10-06 13:21] pshipton commented on #14649
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_Nightly/22
jdk_util_1
java/util/stream/test/org/openjdk/tests/java/util/stream/CollectAndSummaryStatisticsTest.java

[code]

[2022-10-06 13:33] pshipton commented on #15855
I suspect there are number of dups of this issue (timeouts) that weren't identified as this issue.
Here is an older one
https://github.com/eclipse-openj9/openj9/issues/15953

[2022-10-06 13:33] #15953 closed

[2022-10-06 14:03] keithc-ca opened #16057 "Consider updating references to openjdk.java.net"
OpenJDK has started updating URLs so they refer instead to openjdk.org (see https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/0fe8bef36f6034d33d362e2d09b52f19cd66f352). The old URLs currently redirect to the new domain, but it's unclear how long that will be the case. If there were only a few references in this repository, I would have just opened a pull request, but the copyright notice of

[2022-10-06 14:12] #16056 closed

[2022-10-06 14:44] Bromarv commented on #14764
@PascalSchumacher - did you tried with a "pre-warming" SCC?

I used Semeru 11.0.16.1 and 17.0.4.1:

Semeru 11:
2022-10-06 15:13:07.295  INFO 1 --- [ecutor-thread-6] sample.camel.Application                 : Started Application in 8.435 seconds (JVM running for 11.198)
--> events 10 duration: "PT0.06710205S"

Semeru 17:
2022-10-06 16:35:47.872  INFO 1 --- [ecutor-thread-2] sample.camel.Application

[2022-10-06 15:00] babsingh commented on #16047
The above is triggered in [yieldContinuation](https://github.com/eclipse-openj9/openj9/blob/master/runtime/vm/ContinuationHelpers.cpp#L143). `currentThread->currentContinuation` is expected to be non-null.

Also, observed the assertion in [enterContinuation](https://github.com/eclipse-openj9/openj9/blob/b28092a380bc55418fd8b1816c25dcf8ab13cb00/runtime/vm/ContinuationHelpers.cpp#L98) trigger during

[2022-10-06 15:40] DanHeidinga commented on #16057
I agree with Peter.  Updating to point to the new URL seems like the right path.  Timeline sounds fine as well

[2022-10-06 15:48] hzongaro commented on #15475
Nazim @nbhuiyan, I suspect this might be another occurrence of issue #15474, which was fixed with pull request #15870.

[2022-10-06 16:24] babsingh commented on #16046
Potential duplicate of https://github.com/eclipse-openj9/openj9/issues/16047. Symptoms similar to https://github.com/eclipse-openj9/openj9/issues/16047#issuecomment-1270217444.

[2022-10-06 16:24] ChengJin01 commented on #16036
Launched another Grinder (x200) at https://openj9-jenkins.osuosl.org/job/Grinder/1327/ with the latest passing build at https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK19/167/ to see how it goes.

[2022-10-06 16:28] hangshao0 commented on #16030
Also looks like https://github.com/eclipse-openj9/openj9/issues/15327, which is on Linux_x86-64 though.

[2022-10-06 16:37] hangshao0 commented on #15327
RDI is `0x00000000000004A0`

[code]

The offset of `J9Thread->mutex` is also `0x00000000000004A0`
[code]

Might be a NULL `J9Thread` being used here.

[2022-10-06 16:40] babsingh commented on #16044
The following checks are needed in Continuation.java for the above test to succeed.
[code]

@fengxue-IS currently working on this.

[2022-10-06 16:55] babsingh commented on #16051
In my local run, I don't notice a hang. Instead, I see the assertion in yieldContinuation trigger. Potential duplicate of https://github.com/eclipse-openj9/openj9/issues/16047. Symptoms similar to https://github.com/eclipse-openj9/openj9/issues/16047#issuecomment-1270217444.

[2022-10-06 16:59] babsingh commented on #16053
In my local run, I didn't notice a hang. With `optthruput`, the below assertion was triggered:
[code]

fyi @LinHu2016

[2022-10-06 17:04] babsingh commented on #16053
With `nogc`,
[code]

[2022-10-06 17:22] babsingh commented on #16045
id1 JVM options:
[code]

[2022-10-06 17:33] LinHu2016 commented on #16053
@babsingh Could you please provide a guideline to run this test locally, I will try to debug the issue, Thanks

[2022-10-06 17:42] babsingh commented on #16053
[code]

[2022-10-06 17:50] dmitripivkine commented on #16053
@babsingh Is system core still be available for the failure with assertion in GC?

[2022-10-06 18:02] babsingh commented on #16053
@dmitripivkine Core files from my local run: https://ibm.box.com/s/cpek5g8seedknb20hev3v1qsdua1l0et

[2022-10-06 18:12] fengxue-IS commented on #16044
per discussion, moving this to backlog as the preview check is not blocking functionality

[2022-10-06 18:13] fengxue-IS commented on #16045
Moving to future milestone as `-XX:+UnlockDiagnosticVMOptions -XX:+ShowCarrierFrames` such XX option is not part of the spec

[2022-10-06 18:16] fengxue-IS commented on #16052
java.lang.LiveStackFrame is non-public class that isn't part of spec, OpenJ9 currently doesn't use/implement this class, moving this out of the Java 19 milestone.
This is not functional requirement and test is testing openjdk specific behaviour

[2022-10-06 19:20] hangshao0 commented on #15327
@fengxue-IS If there a NULL check missing here on `targetThread->osThread` in Java 19 and up ?
https://github.com/eclipse-openj9/openj9/blob/b28092a380bc55418fd8b1816c25dcf8ab13cb00/runtime/oti/VMHelpers.hpp#L2040

[2022-10-06 19:21] pshipton opened #16064 "mauve Mode104 no_args for interface gnu.testlet.java.lang.reflect.Method.iface - InstantiationError but expected NullPointerException"
[Internal build](http://vmfarm.rtp.raleigh.ibm.com/job_output.php?id=44475454) [Windows IA32] 80 Load_Level_2.mauve.5mins.Mode104 - win10x64hv3
`-Xgcpolicy:optthruput -Xjit:count=0,optlevel=hot,gcOnResolve,rtResolve -Xnocompressedrefs`

[code]

100x grinder passed

[2022-10-06 20:13] babsingh commented on #15984
@hangshao0 Did you try the fix; does it work?

[2022-10-06 20:20] hangshao0 commented on #15984
No, I haven't tried. BTW, this is not something new in JDK19. We have the same behavior in JDK17. It failed in JDK19 because we just start running this test from JDK19.

[2022-10-06 20:21] hangshao0 commented on #15984
@ehrenjulzert, can you look at this ? See https://github.com/eclipse-openj9/openj9/issues/15984#issuecomment-1259958165 for the potential fix.

[2022-10-06 20:29] fengxue-IS commented on #15327
Virtual Thread have its own [`interrupt()`](https://github.com/ibmruntimes/openj9-openjdk-jdk19/blob/openj9/src/java.base/share/classes/java/lang/VirtualThread.java#L763) impl, which doesn't call into `interruptImpl` with the VirtualThread object.
I don't see any other caller other than CRIU which isn't part of the stacktrace.
Add a null check here would be a extra guard but I don't think that is

[2022-10-06 20:57] jdmpapin commented on #15230
Fix is merged

[2022-10-06 20:57] #15230 closed

[2022-10-06 20:57] JasonFengJ9 opened #16068 "CRIU cmdLineTester_criu_nonPortableRestore_0_FAILED j9mm.141 ASSERTION FAILED omr/gc/base/GCCode.cpp:60: ((false))"
Failure link
------------

From [an internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk17_j9_sanity.external_x86-64_linux_criu/22/)(`ub20x64rt1-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=cmdLineTester_criu_nonPortableRestore_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUI

[2022-10-06 21:07] hangshao0 commented on #15327
The first line of `pthread_mutex_lock()` is to load data at `(pthread_mutex)->__data.__kind`
[code]

__kind is at offset `0x10`.

Notice in the description
`1XHEXCPCODE    InaccessibleAddress: 00000000000004B0`
`2XHREGISTER      RDI: 00000000000004A0`

`0x4A0 + 0x10 = 0x4B0`
So RDI + __kind offset happens to be the inaccessible address.

[2022-10-06 21:14] JasonFengJ9 commented on #13078
[An internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_special.system_ppc64_aix_testList_4/320/)(`paix908`)
[code]
[50x internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28453/)

[2022-10-06 21:22] JasonFengJ9 opened #16070 "JDK8 aarch64_linux DaaLoadTest_all_special_5m_2_FAILED Segmentation error vmState=0x00000000 followed by Segmentation error vmState=0x0002000f"
Failure link
------------

From [an internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_special.system_aarch64_linux_testList_1/305/)(`ub18-aarch64-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=DaaLoadTest_all_special_5m_2&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_spe

[2022-10-06 21:30] pshipton commented on #15230
It missed the OMR acceptance builds today, the next one is 1pm on Monday.

[2022-10-06 22:36] fengxue-IS commented on #16047
[code]

looks like #16062 is related to this failure

[2022-10-06 22:36] fengxue-IS commented on #16047
is this test intermittent?

[2022-10-06 23:43] LinHu2016 commented on #16053
I have retried the test with the latest build, it is passed, I am wondering if it was related with the compaction issue, which related fix has been merged last night. or it is intermittent issue.

[2022-10-07 00:47] thallium commented on #16053
I re-ran the test and it passed as well, probably got fixed by a recent PR.

[2022-10-07 01:01] hzongaro commented on #15569
I spent a little time trying to see I could narrow things down.  The test will crash if both `java/net/InetAddress.getAllByName(Ljava/lang/String;)[Ljava/net/InetAddress;` and `Test.vMeth2()V` are compiled:

[code]

[2022-10-07 01:02] thallium commented on #16047
On my side it still failed, my jdk info:
[code]

[2022-10-07 01:58] 0xdaryl commented on #13078
On x86 this assert usually occurs when someone creates a `TR::LabelSymbol` and a branch instruction to it but the target `TR::InstOpCode::label` instruction is not generated for some reason.  I imagine the situation is the same on Power.

[2022-10-07 03:09] pshipton commented on #15274
The 7.2 machines are updated to xlc 16.1.0.11

The simple test case in https://github.com/eclipse-openj9/openj9/issues/15274#issuecomment-1176668064 works now. I can try building jdk19 to see if it's successful.

[2022-10-07 03:19] pshipton commented on #15230
Oops, thinking it was Friday already, the next acceptance is Fri 5am.

[2022-10-07 11:43] zl-wang commented on #13078
@rmnattas  re-examine this old defect with new dump(s)!

[2022-10-07 13:26] tajila commented on #15994
@JasonFengJ9  Thanks, Can you take a look at the other xerviceability test failures as well. I'd like to separate them from the jdk19 issues

[2022-10-07 13:27] tajila commented on #16036
@ChengJin01 Do you know if this fails on JDK17?

[2022-10-07 13:33] JasonFengJ9 commented on #15994
Sure, will look into them.

[2022-10-07 13:54] JasonFengJ9 opened #16072 "valhalla build error - Cannot invoke "javax.lang.model.element.Element.getKind()" because "elem" is null"
[code]

This is after resolve the merging conflict w/ `openj9` branch at `src/java.base/share/classes/jdk/internal/reflect/MethodAccessorGenerator.java` - https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes/commit/29ca754340783c2224eca162d9d13da2ad270fbd

The change is at https://github.com/JasonFengJ9/openj9-openjdk-jdk.valuetypes/tree/openj9-merged

FYI @hangshao0

[2022-10-07 14:43] pshipton commented on #15578
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_aarch64_linux_Nightly_testList_2/264
LambdaLoadTest_CS_5m_0

[code]

[2022-10-07 14:43] pshipton commented on #15578
@knn-k fyi - this seems to be happening often now on alinux.

[2022-10-07 14:52] ChengJin01 commented on #16036
This job never fails on JDK17 in recent history at https://openj9-jenkins.osuosl.org/view/Test_System_Nightly/job/Test_openjdk17_j9_extended.system_s390x_linux_Nightly/, but we can launch a Grinder with the latest build to double-check.

[2022-10-07 14:58] ChengJin01 commented on #16036
Launched a Grinder (x200) at https://openj9-jenkins.osuosl.org/job/Grinder/1329/  with the latest build at https://openj9-jenkins.osuosl.org/view/Test_System_Nightly/job/Test_openjdk17_j9_extended.system_s390x_linux_Nightly/328/.

[2022-10-07 15:02] pshipton opened #16073 "AIX SharedClasses.SCM23.MultiThreadMultiCL hang"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_ppc64_aix_Nightly_testList_2/371
SharedClasses.SCM23.MultiThreadMultiCL_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.system_ppc64_aix_Nightly_testList_2/371/system_test_output.tar.gz
[code]
5.MTM1.stdout
[code]
5.MTM1.stderr
[code]

From the core file the most interesting threa

[2022-10-07 15:12] ChengJin01 commented on #16036
The previously completed Grinder at https://openj9-jenkins.osuosl.org/job/Grinder/1327/ ended without any issue (killed by after 98 runs due to timeout) at https://openj9-jenkins.osuosl.org/job/Grinder_testList_0/161/consoleText
[code]

So it seems the hang was only triggered by the changes between https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK19/168/
[code]
and https://openj9-jenki

[2022-10-07 16:00] JasonFengJ9 opened #16074 "serviceability_jvmti_j9_0_FAILED"
Failure link
------------

From [an internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk19_j9_extended.openjdk_x86-64_linux/11/)(`ub20x64rt4-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=serviceability_jvmti_j9_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTI

[2022-10-07 16:07] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_x86-64_linux_OMR_testList_1/11
testSCCMLTests1_openj9_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.functional_x86-64_linux_OMR_testList_1/11/functional_test_output.tar.gz
[code]

[2022-10-07 16:11] pshipton commented on #15230
Hopefully the last build where we'll see this problem before OMR promotes with the fix.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/295/

[2022-10-07 16:13] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.system_x86-64_windows_Nightly_testList_0/22
ConcurrentLoadTest_5m_0
[code]

[2022-10-07 16:19] hangshao0 commented on #16072
It is returning NULL from:

https://github.com/JasonFengJ9/openj9-openjdk-jdk.valuetypes/blob/openj9-merged/src/jdk.compiler/share/classes/com/sun/tools/javac/api/JavacTrees.java#L375.

The comment says it returns NULL if the language model element referred to by the leaf node of the given doctree is unknown.
https://github.com/JasonFengJ9/openj9-openjdk-jdk.valuetypes/blob/29ca754340783c2224eca16

[2022-10-07 16:34] gacholio commented on #16036
If I understand the above comments, this rules out https://github.com/eclipse-openj9/openj9/pull/15227 as the cause (committed in June).

It would be helpful to see the `!threads stack` and `!threads flags` output.

[2022-10-07 16:49] #4765 closed

[2022-10-07 19:27] ehrenjulzert commented on #15984
sure, I can look at this

[2022-10-07 19:30] #16027 closed

[2022-10-07 19:54] hangshao0 commented on #15984
You can use
https://github.com/eclipse-openj9/openj9/blob/16ae18675d476a7577bdcffb7f6a82ae1e0d7230/runtime/oti/j9modifiers_api.h#L60

to check if a class is a hidden or anonymous class.

[2022-10-07 19:56] nbhuiyan commented on #15475
Thanks for pointing that out, @hzongaro! By including #15870 in my build, this crash is no longer reproducible.

[2022-10-07 19:56] #15475 closed

[2022-10-07 20:52] dsouzai commented on #15991
I printed out the values returned by `System.nanoTime()`.

Xint
|Invocation|System.nanoTime() value|Diff from previous invocation|
|--|--|--|
|final long start|101987809291570|na|
|1|101987889582458|80290888|
|2|101988890316671|1000734213|
|3|101989890953395|1000636724|
|4|101990891199687|1000246292|
|5|101991891427926|1000228239|
|checkpoint|na|na|
|6|101992936805320|1045377394|
|7|10199393734243

[2022-10-08 11:03] ajohnson1 commented on #16043
The tags missing from the parser are:
[code]
Also `3XMCPUTIME` comes before `3XMTHREADBLOCK`. Has that always been true or does the parse need to cope with either order?

Currently it seems that OpenJ9 Java 17 is not generating a line:
[code]
though the parser should cope with that.
I'll give some suggested code changes.

[2022-10-09 20:39] #16026 closed

[2022-10-10 21:16] #16074 closed

[2022-10-10 21:21] babsingh commented on #16074
Note: If the serviceability tests are enabled in JDK-8/11/17, then the FIX will need to be back-ported to the respective extension repos.

[2022-10-10 22:53] tajila commented on #15991
@dsouzai thanks. Yes that makes sense.

[2022-10-11 06:56] 0dvictor commented on #15544
Sorry to jump in. I cannot resist myself after reading this issue as I remember being involved in the same discussion years ago.

By inspecting the trees after inlining `Math.max(DD)D`, I feel that the way it handles negative zeros (`-0.0`) causes troubles. JCL's approach seems explicitly checking for negative zero (`-0.0`) by comparing a parameter against a constant stored as a field. This is unn

[2022-10-11 07:16] JavaTailor opened #16078 "JDK11 throws the RuntimeException, but JDK8 executes normally"
## Affected versions

We found a test case with execution problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at [[attachment](https://github.com/eclipse-openj9/openj9/issues/new?assignees=&labels=userRaised&template=user-problem.md##Attachment)](##Attachment).

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

## Prob

[2022-10-11 08:20] PowerUser1234 commented on #15101
Dear eclipse-openj9,

Yes, that's brilliant.  I didn't know that you were paralleling the OpenJDK
for version numbers.

This answers my question here, yes.  However I have posted another, more
serious one for you guys at:

https://github.com/eclipse-openj9/openj9/issues/15102

Could someone pass this to the pertinent people, and
could they please look on this matter favourably,
and seriously consi

[2022-10-11 12:16] knn-k commented on #15578
I ran the following Grinder jobs on AArch64 Linux.

- DaaLoadTest_all_special_5m_0 (2 failures): https://openj9-jenkins.osuosl.org/job/Grinder/1338/
- DaaLoadTest_all_CS_5m_0 (no failures): https://openj9-jenkins.osuosl.org/job/Grinder/1339/

[code]

[code]

[2022-10-11 12:20] pshipton commented on #16078
Hospot has the same behavior so I expect this is normal.

[code]

[2022-10-11 12:20] #16078 closed

[2022-10-11 12:30] pshipton commented on #16078
Whatever is causing it, I notice jdk18, jdk19 have the same (passing) behavior as jdk8.

[2022-10-11 12:44] yathamravali opened #16079 "jpackcore misses some libraries in dumps produced by gcore"
Java -version output
--------------------
openjdk version "11.0.13" 2021-10-19
IBM Semeru Runtime Open Edition 11.0.13.0 (build 11.0.13+8)
Eclipse OpenJ9 VM 11.0.13.0 (build openj9-0.29.0, JRE 11 Linux amd64-64-Bit Compressed References 20211022_282 (JIT enabled, AOT enabled)
OpenJ9   - e1e72c497
OMR      - 299b6a2d2
JCL      - 2d83aa3b76 based on jdk-11.0.13+8)

Summary of problem
---------------

[2022-10-11 12:52] keithc-ca commented on #16079
Can you provide any more details? What distribution and version of Linux was used? Is there anything particular about the application or its state at the time the dump was taken? What version of `gcore` was used? Did `jpackcore` issue any warnings for the missing shared libraries?

[2022-10-11 13:05] JasonFengJ9 commented on #15992
Test JDK18 0.33 w/ [Adoptium testimage](https://github.com/adoptium/temurin18-binaries/releases/download/jdk18u-2022-10-04-01-30-beta/OpenJDK18U-testimage_x64_mac_hotspot_2022-10-03-23-30.tar.gz)
[code]

This is not a regression introduced by JDK19.

[2022-10-11 13:10] JasonFengJ9 commented on #15990
Test JDK18 0.33 w/ [Adoptium testimage](https://github.com/adoptium/temurin18-binaries/releases/download/jdk18u-2022-10-04-01-30-beta/OpenJDK18U-testimage_x64_mac_hotspot_2022-10-03-23-30.tar.gz)
[code]

It is not specific to JDK19.
This is a hotspot specific test.

[2022-10-11 13:11] tajila commented on #15991
@JasonFengJ9 can you make a PR that records the time delta before and after the internal hook

[2022-10-11 13:17] yathamravali commented on #16079
Linux version
------------------
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.5 LTS
Release:	18.04
Codename:	bionic

gdb
--------------
GNU gdb (Ubuntu 10.2-0ubuntu1~18.04~2) 10.2
Copyright (C) 2021 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY,

[2022-10-11 13:23] JasonFengJ9 commented on #15988
Test JDK18 0.33 w/ [Adoptium testimage](https://github.com/adoptium/temurin18-binaries/releases/download/jdk18u-2022-10-04-01-30-beta/OpenJDK18U-testimage_x64_mac_hotspot_2022-10-03-23-30.tar.gz)
[code]

This is not a regression introduced by JDK19.

[2022-10-11 13:27] JasonFengJ9 commented on #15985
Test JDK18 0.33 w/ [Adoptium testimage](https://github.com/adoptium/temurin18-binaries/releases/download/jdk18u-2022-10-04-01-30-beta/OpenJDK18U-testimage_x64_mac_hotspot_2022-10-03-23-30.tar.gz)
[code]

This is not a regression introduced by JDK19.

[2022-10-11 13:41] JasonFengJ9 commented on #15980
Test JDK18 0.33 w/ [Adoptium testimage](https://github.com/adoptium/temurin18-binaries/releases/download/jdk18u-2022-10-04-01-30-beta/OpenJDK18U-testimage_x64_mac_hotspot_2022-10-03-23-30.tar.gz)
[code]

This is not a regression introduced by JDK19.

[2022-10-11 13:47] JasonFengJ9 commented on #15981
Test JDK18 0.33 w/ [Adoptium testimage](https://github.com/adoptium/temurin18-binaries/releases/download/jdk18u-2022-10-04-01-30-beta/OpenJDK18U-testimage_x64_mac_hotspot_2022-10-03-23-30.tar.gz)
[code]
This passes w/ JDK18.
[GetObjectLockCount.txt](https://github.com/eclipse-openj9/openj9/files/9756427/GetObjectLockCount.txt)

This is a new failure related to JDK19.

FYI @babsingh

[2022-10-11 14:41] keithc-ca commented on #16079
Not even `linux-vdso.so.1`?

What leads you to conclude that shared libraries are missing? Can you list some examples of those that you believe are missing.

[2022-10-11 15:18] ChengJin01 commented on #16036
There was no hang detected in the Grinder at https://openj9-jenkins.osuosl.org/job/Grinder/1327/ for JDK17. So the problem is mostly likely related to Project Loom in JDK19 for the merged changes in OpenJ9 between https://github.com/eclipse-openj9/openj9/commit/c19e4267798b13e6ee21c71290a2877c07fc4abb  and  https://github.com/eclipse-openj9/openj9/commit/710fd952924c673ee702fcbc311c99d70095ecde gi

[2022-10-11 15:23] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/381
    java/lang/reflect/DefaultMethodMembers/FilterNotMostSpecific.java.FilterNotMostSpecific
    java/lang/reflect/Proxy/ProxyRace.java.ProxyRace

[2022-10-11 15:26] gacholio commented on #16036
https://github.com/eclipse-openj9/openj9/compare/710fd952924c673ee702fcbc311c99d70095ecde...c19e4267798b13e6ee21c71290a2877c07fc4abb

[2022-10-11 15:31] #16031 closed

[2022-10-11 15:35] gacholio commented on #16036
Nothing immediately suspicious - does the test fail with `-Xint` or on platforms other than 390?

[2022-10-11 15:46] paulcheeseman opened #16080 "Wrong -Dfile.encoding option picked up after #14285"
This issue was found with IBM Java, in a scenario where a customer sets a system wide default `-Dfile.encoding` option in the IBM_JAVA_OPTIONS environment variable, and applications can override the default by specifying their own `-Dfile.encoding` option on their command line. This works because the second `-Dfile.encoding` option on the command line supercedes the first.

Simple testcase:

[code

[2022-10-11 15:51] ChengJin01 commented on #16036
Just Launched a couple of Grinders (x100) with the latest build on other platforms plus the failing build with `-Xint` on Linux/s390x see how it goes.
https://openj9-jenkins.osuosl.org/job/Grinder/1349/ (Linux/x86_64)
https://openj9-jenkins.osuosl.org/job/Grinder/1350/ (macOS/Aarch64)
https://openj9-jenkins.osuosl.org/job/Grinder/1351/ (AIX/PPC64)
https://openj9-jenkins.osuosl.org/job/Grinder/1352

[2022-10-11 15:56] babsingh commented on #13504
re https://github.com/eclipse-openj9/openj9/issues/13504#issuecomment-1274917517 native stack-trace: `Java_java_lang_invoke_ThunkTuple_initialInvokeExactThunk` is a JIT entity specific to OpenJ9 MethodHandles. It should have been disabled since JDK17 uses OpenJDK MethodHandles. fyi @0xdaryl @jdmpapin @nbhuiyan.

[2022-10-11 16:04] pshipton commented on #13504
I'm not sure the stack trace is showing accurate symbols, considering the offsets are quite large.

[2022-10-11 16:10] jdmpapin commented on #13504
Yes, `..._initialInvokeExactThunk` isn't really on the stack. The offsets are multiple MB beyond the start of it. The same thing has happened in other issues, though usually attributed to `Java_java_lang_invoke_MutableCallSite_invalidate`. For some reason we're missing symbols for the code that really is running.

[2022-10-11 16:13] yathamravali commented on #16079
Sorry, warning was there only for `linux-vdso.so.1`

[code]

[2022-10-11 16:13] babsingh opened #16081 "JVMTI: incomplete null checks for JNI-refs"
In JVMTI, there are many occurrences of incomplete null checks for JNI-refs.

Example:
[code]

It's legal to have a JNI ref to NULL (think weak global ref).

A complete null check will be as follows:
[code]

[2022-10-11 16:14] babsingh commented on #16081
fyi @gacholio

[2022-10-11 16:29] pshipton commented on #15251
Not sure if this is the same problem, but seems to fit.

https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.system_aarch64_mac_Nightly_testList_0/24
TestJlmRemoteClassAuth_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.system_aarch64_mac_Nightly_testList_0/24/system_test_output.tar.gz
[code]

3.LT1.stderr
[code]

[2022-10-11 16:30] pshipton opened #16082 "Missing RAS COMMANDLINE, environment variables in core from mac"
Looking at a core file produced on AArch64 mac, running !coreinfo shows the following information is not available:

[code]

https://github.com/eclipse-openj9/openj9/issues/15251#issuecomment-1274966643

@knn-k @keithc-ca

[2022-10-11 16:32] babsingh commented on #15981
@JasonFengJ9 I ran it multiple times locally; it passed with JDK19; and no failures were seen. The above error happens at [GetObjectLockCount.java#L98](https://github.com/ibmruntimes/openj9-openjdk-jdk19/blob/629c46326c9f9c3f9d4f91b74ae8e24bc1673867/test/hotspot/jtreg/serviceability/jvmti/8036666/GetObjectLockCount.java#L98). It looks like a test/infra issue where the target VM was not specified o

[2022-10-11 16:37] pshipton opened #16083 "jdk19 OpenJDK java/lang/System/LoggerFinder/internal/BootstrapLogger/BootstrapLoggerTest.java timeout"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_Nightly/25/
jdk_lang_1
java/lang/System/LoggerFinder/internal/BootstrapLogger/BootstrapLoggerTest.java
[code]

[2022-10-11 16:39] pshipton commented on #15504
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_Nightly/25
jdk_util_0
java/util/concurrent/forkjoin/AsyncShutdownNow.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_Nightly/25/openjdk_test_output.tar.gz
[code]

[2022-10-11 16:53] JasonFengJ9 commented on #15981
Launched [15x internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28500/)

[2022-10-11 17:15] gacholio commented on #16081
There may be other instances outside of JVMTI.

The most readable way of fixing this is to use a local for the unwrapped object:
[code]

[2022-10-11 17:17] pshipton opened #16084 "MiniMix_3h hang"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_special.system_x86-64_linux_Release_testList_4/34
MiniMix_3h_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_special.system_x86-64_linux_Release_testList_4/34/system_test_output.tar.gz
[code]

It's likely the following, all the load threads are waiting on load-7.
[code]

[2022-10-11 17:24] pshipton opened #16085 "mac10-x86-3 failing to upload"
Removed build label.
@AdamBrousseau @jdekonin

Many examples starting Friday night, picking one.
https://openj9-jenkins.osuosl.org/job/Build_JDK11_x86-64_mac_Nightly/398/
[code]

[2022-10-11 17:27] pshipton commented on #6552
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_x86-64_linux_Personal_testList_0/30
DaaLoadTest_all_special_5m_27  - Mode612-OSRG
[code]

[2022-10-11 17:51] pshipton commented on #16080
@tajila @JasonFengJ9 fyi

[2022-10-11 17:54] keithc-ca commented on #16043
I see `3XMTHREADINFO2` in javacores from jdk17; which specific version and platform did you use that did not include that line?

[2022-10-11 18:05] gacholio commented on #15781
@fengxue-IS Here's the first cut of the code: https://github.com/gacholio/openj9/tree/loom

A few things to note:

- In JDK19 you've added a field to the stack header. You could change this to a bit field and store a flag in there indicating that the stack is for an unmounted continutation. This would simplify some of the code paths.

- Stacks allocated for unmounted continuations must currently b

[2022-10-11 18:28] #15306 closed

[2022-10-11 18:32] pshipton commented on #16036
So far we've only ever seen this hang once, in jdk19 nightly builds.

[2022-10-11 18:39] jdekonin commented on #16085
Error message on the desktop on update.  Requested reboot which I initiated and now its not coming back online.  I've asked our onsite contact to take a look and see whats wrong.

[2022-10-11 20:44] ajohnson1 commented on #16043
The tag  from my previous comment is actually `3XMJAVALTHRCCL` not `3XMTHREADCCL`

The javacore is
[javacore.20220930.053619.81568.0001.txt](https://github.com/eclipse-openj9/openj9/files/9759600/javacore.20220930.053619.81568.0001.txt)
created from Eclipse Memory Analyzer triggering a javacore from running jconsole.exe from 'JRE 17 Windows 11 amd64-64 (build 17.0.4.1+1)'

[2022-10-11 20:47] jdekonin commented on #16085
mac10-x86-3 is back online. push a personal build at it to retest.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/268/

[2022-10-11 21:02] keithc-ca commented on #16043
`3XMTHREADINFO2` is only presented on platforms where `omrthread_get_stack_range()` is supported; Windows is not one of those platforms, see [omrthreadinspect.c](https://github.com/eclipse/omr/blob/master/thread/common/omrthreadinspect.c#L360).

[2022-10-11 21:03] keithc-ca commented on #16043
Based on the history of `javadump.cpp`, `3XMCPUTIME` has always come before `3XMTHREADBLOCK`, so reversing the two lines in `ThreadSectionParser.processThreadandStackTrace()` to
[code]
is all that is strictly necessary to fix this.

[2022-10-11 21:32] pshipton commented on #16085
Still failing. It seems to have some kind of SSL/certificate problem.

[2022-10-11 21:33] pshipton commented on #16085
Is the machine up to date with OS updates? Perhaps an old certificate expired.

[2022-10-11 21:35] JasonFengJ9 commented on #15981
The grinder https://github.com/eclipse-openj9/openj9/issues/15981#issuecomment-1274995522 all failed, it seems a test issue as per https://github.com/eclipse-openj9/openj9/issues/15981#issuecomment-1274969861.

FYI @llxia

[2022-10-11 21:37] hzongaro commented on #15534
Fixed by OMR pull request eclipse/omr#6747

[2022-10-11 21:38] #15534 closed

[2022-10-11 21:40] hzongaro commented on #15349
Fixed by OMR pull request eclipse/omr#6747

[2022-10-11 21:40] #15349 closed

[2022-10-12 03:49] knn-k commented on #16082
This is not specific to AArch64.  Intel macOS does not implement the feature, either.

https://github.com/eclipse-openj9/openj9/blob/aea459abe7c6439acba3e375193282ba4b3f1323/debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/MachoDumpReader.java#L340-L343

[2022-10-12 06:52] yathamravali commented on #16079
@keithc-ca What do you mean by expected shared libraries?

I'm already using `set solib-absolute-prefix` command if you look at uploaded `gdb_output_jpackcore.txt` in my previous comment and clearly few of the libs(marked as NO) are missing in the jextracted dump.

[code]

[2022-10-12 13:36] rmnattas opened #16089 "newInstance() Optimization for java.util classes (discussion)"
While working on the performance of a specific workload (CoreNLP), the code uses a `Generics` class that makes coding easier for them.

This `Generics` class uses `Class.newInstance()` and `@SuppressWarnings("unchecked”)`, and that moves checks away from the `javac` compilation to runtime checks. One of which is `checkMemberAccess()` which requires a stack walk to `getCallerClass()`.

I believe `j

[2022-10-12 13:37] rmnattas commented on #16089
@pshipton @tajila @zl-wang

[2022-10-12 14:04] pshipton commented on #16082
We added command line capture into an environment variable so we should be able to implement it.
https://github.com/eclipse-openj9/openj9/pull/14536

[2022-10-12 15:00] keithc-ca commented on #16079
Each of the libraries that appears to be missing doesn't seem to have made use of `solib-absolute-prefix`. When I tried this, I set `solib-absolute-prefix` to an absolute path, which worked for me. I also didn't explicitly set `solib-search-path`; I believe the default is `.` and doesn't apply to libraries with absolute paths.

[2022-10-12 15:05] keithc-ca commented on #13034
@JamesKingdon Do you think there is still work to be done for this? From my perspective, things appear to be working as intended (despite some difficulties getting `gdb` to cooperate).

[2022-10-12 15:08] yathamravali commented on #16079
Could you please share exact commands you used in gdb and output of `info sharedlibrary`?

I even searched the missing libraries in the jextracted coredump and they are not present.

[2022-10-12 15:12] #13034 closed

[2022-10-12 15:16] keithc-ca commented on #16079
I created a core dump from within a docker container (where some paths are different from those on the host); ran jextract there; copied the zip file to the host and unpacked it; and finally ran gdb setting solib-absolute-prefix and using the info sharedlibrary command.

Please share your log of running jextract and the output of `zip -v` from the resulting archive.

[2022-10-12 15:42] pshipton commented on #16089
The security check for bootstrap classes is always required, to check if the package is in the `package.access` list. It would be very unusual for java.util to be a restricted package, but a custom SecurityManager could rely on the call to checkPackageAccess() to do something else so it does need to be called.

Looking at the code, I think the parameters used to call `ReflectUtil.needsPackageAcces

[2022-10-12 16:11] #8435 closed

[2022-10-12 16:59] keithc-ca commented on #16079
I too saw some missing libraries for a dump produced by gcore; reopening.

[2022-10-12 17:25] ChengJin01 commented on #16036
All grinders at https://github.com/eclipse-openj9/openj9/issues/16036#issuecomment-1274917568 passed without any issue:
https://openj9-jenkins.osuosl.org/job/Grinder/1352/tapTestReport/ (with -Xint on Linux/s390x)
https://openj9-jenkins.osuosl.org/job/Grinder/1351/tapTestReport/ (AIX/PPC64)
https://openj9-jenkins.osuosl.org/job/Grinder/1350/tapTestReport/ (macOS/Aarch64)
https://openj9-jenkins.osu

[2022-10-12 18:30] pshipton commented on #14681
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly_testList_2/379 - [win2012-x86-6](https://openj9-jenkins.osuosl.org/computer/win2012-x86-6)
DBBLoadTest_5m_2

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly_testList_2/379/system_test_output.tar.gz
[code]

[2022-10-12 18:39] pshipton commented on #11868
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64_aix_Nightly_testList_0/322
ConcurrentLoadTest_5m_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_ppc64_aix_Nightly_testList_0/322/system_test_output.tar.gz
[code]

Load threads are waiting on
[code]

[2022-10-12 18:40] pshipton commented on #16084
Closing as dup of https://github.com/eclipse-openj9/openj9/issues/11868

[2022-10-12 18:40] #16084 closed

[2022-10-12 18:47] pshipton commented on #15855
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_1/18
testSCCacheManagement_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_1/18/functional_test_output.tar.gz
[code]

[2022-10-12 18:59] pshipton commented on #15855
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_s390x_linux_Nightly/26/
jdk_util_0
java/util/concurrent/FutureTask/Throw.java timed out

It's not actually running a test but doing cleanup before running the test.

core, javacore under `.\aqa-tests\TKG\output_16655465638227\jdk_util_0\work\java\util\concurrent\FutureTask\ExplicitSet\` in https://openj9-artifactory.osuosl.org/

[2022-10-12 19:52] hangshao0 commented on #13182
As the verifier change is already merged, we can re-run these tests. @ehrenjulzert

[2022-10-12 20:18] keithc-ca commented on #16079
I see what's going wrong and hope to have a fix ready shortly.

[2022-10-12 20:23] jdekonin commented on #16085
The cert issue is because default java had changed.  There are setup instructions to work with the UNB artifactory (Thanks for the reminder @AdamBrousseau).  There might have been brew or system updates that caused a problem as well.  I've updated both the system to the latest 10.15.7 level as well as the latest brew package upgrades.

A new personal build verifies the compile and push to UNB arti

[2022-10-12 20:23] #16085 closed

[2022-10-12 22:14] jdekonin commented on #16037
I disabled and annotated the old systems on jenkins so just the new ones will carry the nightly build/test load.  @pshipton if there are problems they can be re-enabled.

rh8-390-1 & rh8-390-2 are not yet in service but `num of old systems` == `num of new systems`

[2022-10-12 22:31] jdekonin commented on #16037
Tested for OMR builds, both pass so I disabled the 2 ub16 nodes on OMR jenkins as well.
rh7-390-7 - https://ci.eclipse.org/omr/job/Build-linux_390-64/3559/console
rh7-390-8 - https://ci.eclipse.org/omr/job/Build-linux_390-64/3560/console

[2022-10-13 00:05] hzongaro commented on #15569
I can reproduce the crash when `Test.vMeth2()V` is compiled at scorching, with `lastOptIndex=1`:

[code]

The failure is triggered by a segfault in `InetAddress.getAllByName` when the `value` field of a `java/lang/String` that is dereferenced is null, which is never supposed to happen, so the lack of a stack map at that point is actually reasonable:

[code]

[code]

The String in this case is the

[2022-10-13 00:18] knn-k commented on #16082
The macOS build seems to capture only the command instead of the full command line.  See an example below:

Test program:
[code]

Running it on macOS:
[code]

It does not show the arguments `-cp ~/Documents/java GetCommandLine`.
Do I misunderstand anything?

[2022-10-13 01:33] tajila commented on #16068
Issue has been resolved

[2022-10-13 01:33] #16068 closed

[2022-10-13 13:06] pshipton commented on #15855
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_1/19
testSCCacheManagement_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_1/19/functional_test_output.tar.gz

[2022-10-13 14:48] mpirvu commented on #15848
Currently, if the client does not ask for an AOT cache by name, a nameless AOT cache will be created at the server.
I propose we use a default cache name (something like default_aotcache) rather than having a nameless cache.

[2022-10-13 16:26] babsingh commented on #15760
Completed via #15903.

[2022-10-13 16:26] #15760 closed

[2022-10-13 17:23] fengxue-IS commented on #15181
### DDR support for Project Loom (Revised)

### Goals
1. List all virtual threads.
2. Get the stack and stackslots for a virtual thread.

### Approach
- Simple.
- Easy to document.
- Easy for a user to adopt.
- Avoid over complicating.

### Goal 1: List virtual threads

Command syntax:
[code]

Output syntax:
[code]

This command tries to match the existing `!thread` command's output syntax:
[code]

[2022-10-13 17:31] dmitripivkine commented on #15181
just in case you missed it: `!threads` has more functionality:
[code]
I think you can investigate which subcommands would be useful for `!vthreads` implementation

[2022-10-13 18:05] pshipton opened #16098 "cmdLineTester_getPid failed in AOT 2nd iteration"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_aot_Personal_testList_1/102/
cmdLineTester_getPid_0 (success rate: 1/2)
[code]

There are some old issues where this has also been seen.
https://github.com/eclipse-openj9/openj9/issues/13085
https://github.com/eclipse-openj9/openj9/issues/11795

[2022-10-13 18:44] fengxue-IS commented on #15181
For `continuationstack` command (#15779)

instead of using `J9VMEntryLocalStoragePointerWrapper` to extend the structure, new design is to have an interface which encapsulates the ELS data and provide identical api for both thread ELS and Continuation ELS data.

draft impl as follow:
- For thread ELS, all API should be just calling same API on targetObject except for `oldEntryLocalStorage` where i

[2022-10-13 18:46] ehrenjulzert commented on #15984
It looks like my changes have solved this specific test failure, however there are still 36 tests within `serviceability_jvmti_j9_0` that are failing (None of which were introduced by my fix). Is our goal here just to fix this one test, or to also fix the other 36 failing tests in `serviceability_jvmti_j9_0`?

[2022-10-13 19:01] hangshao0 commented on #15984
You need to fix this test (`HiddenClassSigTest.java`) tracked by this issue only.

[2022-10-13 19:07] babsingh commented on #15181
re https://github.com/eclipse-openj9/openj9/issues/15181#issuecomment-1277942198:

My preference:
[code]

[2022-10-13 19:16] babsingh commented on #15181
re https://github.com/eclipse-openj9/openj9/issues/15181#issuecomment-1277951518:

All our useful. The first three are critical, which are currently being implemented. Others are a future TODO. Consideration: there can be a million virtual threads. Printing any information (`stack|stackslots|other`) for a million virtual threads may be exhaustive and counter-productive.
[code]

[2022-10-13 19:29] babsingh commented on #15181
re https://github.com/eclipse-openj9/openj9/issues/15181#issuecomment-1278033949:

- `ELS` -> `EntryLocalStorage`. Instead of the abbreviation, a more verbose naming is better for readability.
- Can default methods be used in the interface to avoid duplication?

[2022-10-13 19:29] cjjdespres opened #16099 "JITServer AOT caching failing"
Attn @mpirvu, @AlexeyKhrabrov. While testing #15949 with acmeair, I noticed a lot of messages in the log like:

[code]

without any "AOT cache allocations exceeded maximum..." message earlier in the log. That means that at some point loading the class chain record fails for some reason unrelated to the cache limit, but the `missingLoaderInfo` flag is not updated properly.

[2022-10-13 19:41] jdmpapin commented on #15477
The problem here is caused by out-of-bounds writes to the array `ax$0`. We've written past the end of it, and furthermore, it happens to have been stack-allocated by escape analysis, so the stray writes overwrote autos, the return address, and into the caller's frame.

The bound checks were skipped because of a bug in loop versioner.

First, the bound check was versioned out of the innermost (`ax$

[2022-10-13 19:48] cjjdespres commented on #16099
I think this issue might be interfering with AOT caching in my testing of #15949; after applying an acmeair load I get these statistics for the cache:

[code]

and that seems implausible to me.

[2022-10-13 20:06] fengxue-IS commented on #15181
+1

Yes to some degree, we can make the `target` an interface field that is generic then if the method is defined in the generic type, default method can be used. (ie. only `getAddress/getHexAddress/notNull`)

[2022-10-13 20:11] AlexeyKhrabrov commented on #16099
Yeah this looks pretty bad, class chain record creation is broken. What exact version of the code are there results for?

[2022-10-13 20:35] cjjdespres commented on #16099
I tested it with the version of master that the persistence PR is based on, which is commit 628e9db3d74554ebd3757e82b4feb3da78d7529d.

[2022-10-14 04:45] knn-k commented on #11164
PR #15907 fixed a number of known intermittent failures at VM termination.

Remaining items:

- [ ] Compressed refs mode (#13767)
- [ ] Native stack backtrace (Not specific to AArch64, #15925)
- [ ] COMMANDLINE and Environment variables (Not specific to AArch64, #16082)

[2022-10-14 07:59] knn-k commented on #16082
I opened PR #16104 to fix `captureCommandLine()` on macOS for the problem I found above.
The original code in #14536 was using the variable `start` correctly, but #14684 changed it to `buffer`.
FYI.  @keithc-ca

[2022-10-14 09:00] paulcheeseman opened #16105 "-Xmso seems not to take effect when it is set using OPENJ9_JAVA_OPTIONS"
Java -version output
--------------------

IBM Semeru version 8.0.345.1:

openjdk version "1.8.0_345"
IBM Semeru Runtime Open Edition (build 1.8.0_345-b01)
Eclipse OpenJ9 VM (build openj9-0.33.1, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20220817_453 (JIT enabled, AOT enabled)
OpenJ9   - 1d9d16830
OMR      - b58aa2708
JCL      - e361c66299 based on jdk8u345-b01)

Summary of problem
------

[2022-10-14 09:04] paulcheeseman commented on #16105
I see the same issue if I add the `-Xmso2m` option to the `options.default` file - i.e. this doesn't seem to take effect properly either.

[2022-10-14 11:51] yathamravali commented on #16079
@keithc-ca - I've tried building java with your change but issue looks to be still present. Although all the java libraries were collected, below OS libraries are missing in jextracted dump.

[code]

Java version:
[code]

[2022-10-14 14:44] keithc-ca commented on #16079
Can you share the outputs of `readelf -n <core>` and `unzip -v <core.zip>` for comparison?

[2022-10-14 15:38] mpirvu opened #16107 "Provide a name for the default JITServer AOT cache"
The default JITServer AOT cache is nameless. With AOT cache persistence we want to store the in-memory cache data to a file whose name includes the name of the cache. For that reason it's better if we assign a name (say "default") to the default AOT cache.

[2022-10-14 15:54] #16043 closed

[2022-10-14 16:11] yathamravali commented on #16079
[readelf.txt](https://github.com/eclipse-openj9/openj9/files/9788092/readelf.txt)
[unzip.txt](https://github.com/eclipse-openj9/openj9/files/9788093/unzip.txt)

One think I noticed is that `info sharedlibrary` is listing the symlinks.

readelf output shows `/lib/x86_64-linux-gnu/libpthread-2.27.so` and `jpackcore` with new code changes added  `/lib/x86_64-linux-gnu/libpthread-2.27.so` but old jext

[2022-10-14 16:32] keithc-ca commented on #15181
I think neither `ELS` or `EntryLocalStorage` is the right name for that interface. It isn't "entry local storage", but rather, a context that can provide `EntryLocalStorage` _and_ other things.

[2022-10-14 16:46] gacholio commented on #16036
If that's the case, getting the information I requested earlier (thread flags, java stacks and native stacks) will help us figure out what's going on.

[2022-10-14 20:02] keithc-ca commented on #16079
It would seem that `gcore` produces files that don't make (as many) references to SONAMEs visible and so `jpackcore` doesn't include those. I will update the code so the archive includes both libraries (when the names differ) - one based on the SONAME and the other on the actual file name. This will make the archives larger, but seems a reasonable price to pay for compatibility with both kinds of

[2022-10-14 20:33] #16099 closed

[2022-10-14 21:19] jdekonin commented on #16037
These systems have been remove from service/jenkins.
- rh7-390-1 -> rh7-390-4
- ub18-390-1 -> ub18-390-2
- ub20-390-1 -> ub20-390-2

[2022-10-14 21:23] JasonFengJ9 commented on #16072
Resolved in the latest merging.
Closing

[2022-10-14 21:23] #16072 closed

[2022-10-14 21:42] cjjdespres opened #16109 "JITServer AOT cache persistence refactoring"
Attn @mpirvu @AlexeyKhrabrov. The AOT cache persistence code introduced in #15949 can still be cleaned up a bit. Notably, it should be possible to factor out a lot of the code in the `read` methods of the individual record types by making the validity checks, allocations, and reads more uniform across these functions. Other design improvements may be possible.

[2022-10-14 22:22] jdekonin commented on #16037
Renamed systems
rh7-390-5 -> rh7-390-1
rh7-390-6 -> rh7-390-2
rh7-390-7 -> rh7-390-3
rh7-390-8 -> rh7-390-4
ub20-390-4 -> ub20-390-1

[2022-10-14 22:24] jdekonin commented on #16037
Just the 2 Redhat8 installs to test left on this issue.

[2022-10-14 22:31] ChengJin01 commented on #16036
1) The flags of threads in the core don't seem to be problematic as follows:
[code]
#define J9_PUBLIC_FLAGS_HALT_THREAD_EXCLUSIVE 0x1
#define J9_PUBLIC_FLAGS_NOT_AT_SAFE_POINT 0x1000
#define J9_PUBLIC_FLAGS_THREAD_PARKED 0x20000
#define J9_PUBLIC_FLAGS_EXCLUSIVE_SET_NOT_SAFE 0x40000
#define J9_PUBLIC_FLAGS_HALT_THREAD_INSPECTION 0x8000

2) I went through the code changes listed at https://github.c

[2022-10-15 15:10] ajohnson1 opened #16110 "Enhancements to DTFJ Javacore parser"
The DTFJ Javacore parser could extract a bit more information from the core file.

- `1TIDATETIMEUTC` extract the time of the dump in UTC, avoiding timezone ambiguities
- `1STHEAPTYPE` `1STHEAPSPACE` `1STHEAPREGION` extract memory ranges for the different regions of the heap - and return from `JavaRuntime.getHeaps()` `JavaHeap.getSections()`
- `1STGCHTYPE` `3STHSTTYPE` extract the GC history as `J

[2022-10-17 11:57] JasonFengJ9 opened #16111 "JDK8 compiler/optimizer/VectorAPIExpansion.hpp", line 134.47: 1540-0830 (S) The suffix of the integer literal "0b10000" is not valid."
Failure link
------------

From [an internal build](http://vmfarm.rtp.raleigh.ibm.com/job_output.php?id=45080574)(`prhel035`):

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

Similar compilation errors seen on `AIX` & `zOS`

[2022-10-17 12:58] keithc-ca commented on #16111
Looks like https://github.com/eclipse-openj9/openj9/pull/15960. @gita-omr @knn-k

[2022-10-17 13:09] gita-omr commented on #16111
Thanks, looking at it.

[2022-10-17 13:27] jdekonin commented on #16037
Redhat 8 testing works for all JDK8 pipelines but for JDK11 there is a failure in sanity.openjdk, specifically `jdk11_tier1_pack200_0` and `jdk11_tier1_pack200_1`

[code]
eg.
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Personal/28/consoleFull

Both these tests run fine on existing Redhat 7 and Ubuntu 20 test systems. This JDK11 test grinder is on the last nig

[2022-10-17 13:33] gita-omr commented on #16111
Opened PR with a fix: https://github.com/eclipse-openj9/openj9/pull/16112

[2022-10-17 13:37] gita-omr commented on #16111
@keithc-ca could you kindly review/merge that PR?

[2022-10-17 13:41] gita-omr commented on #16111
Not sure how "Jenkins test sanity all jdk19" in https://github.com/eclipse-openj9/openj9/pull/15960 did not catch this compilation error...

[2022-10-17 14:07] keithc-ca commented on #16111
jenkins compile plinux jdk17

[2022-10-17 14:57] cjjdespres commented on #14538
From `/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_jit_Personal/475`, failure in `jdk_util_1`. Assertion failed, "guardOkForExpr: should not intern OSR guard n3908n". Console log:

[code]

Haven't attempted to reproduce.

[2022-10-17 15:28] gacholio commented on #16036
The impression I get from @pshipton is that this happened exactly once and has never been reproduced, so I'm not sure there's any reason to blame any change. Was the pinning support updated in the next build?

[2022-10-17 15:47] #16111 closed, assigned to nobody

[2022-10-17 15:54] ChengJin01 commented on #16036
As I mentioned above, the hang is only reproduced on the failing build but never on the build right before the failing build or the latest build.

I didn't see any update on these two files in https://github.com/eclipse-openj9/openj9/pull/15752 or anything related to pinning support after it was merged.

[2022-10-17 16:39] cjjdespres commented on #16109
Collecting the file header and scratch vectors in a single deserialization context object will also greatly reduce the size of the relevant function signatures.

[2022-10-17 16:53] cjjdespres opened #16114 "Improving JITServer AOT cache serialization logging"
The AOT cache serialization and deserialization code in #15949 does not distinguish between various error conditions (e.g., I/O errors, incompatible versions, cache size limit, invalid data), nor are these errors reported in the log. Successful cache loading is also not reported. Proper logging should be added to this code.

Attn @mpirvu @AlexeyKhrabrov.

[2022-10-17 17:54] cjjdespres opened #16115 "jdk_util - Assertion failed: guardOkForExpr: should not intern OSR guard"
In the internal nightly JITServer tests

- `/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_jit_Personal/475`
- `/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_jit_Personal/478`

the test `jdk_util_1` failed due to an assertion failure, but it seems to reproduce readily without JITServer enabled.

Console log from the first job:

[code]

[2022-10-17 19:50] tajila commented on #15250
@JasonFengJ9 is this still failing

[2022-10-17 20:06] JasonFengJ9 commented on #15250
The test has been excluded, launched [a 50x internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28644)

Similar errors were reported on hotspot JDK19 as well [HCRLateAttachWorkload_previewEnabled_0 and HCRLateAttachWorkload_previewEnabled_1 failing with StackOverflow Errors](https://github.com/adoptium/aqa-systemtest/issues/479)

[2022-10-18 08:32] paulcheeseman commented on #16105
Yes, loading the classes in a new thread works. Interestingly, it works without even setting `-Xmso2m`...

[Reproducer.v2.zip](https://github.com/eclipse-openj9/openj9/files/9808431/Reproducer.v2.zip)

To load classes in main thread:
```> java Reproducer```

To load classes in a new thread:
```> java Reproducer newthread```

[2022-10-18 12:51] JasonFengJ9 commented on #15250
The `StackOverflowError` is still seen in [OpenJ9 10x internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28666/console)
[code]

RI JDK19 passed [10x internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28667/console)
[code]

FYI @tajila

[2022-10-18 13:03] tajila commented on #15250
is it all platforms?

[2022-10-18 13:10] tajila commented on #15250
Actually, this makes me think it may be a jit issue

[code]

@JasonFengJ9 Can you see if this reproduces with -Xint

[2022-10-18 13:12] tajila commented on #15204
@gita-omr any update on this?

[2022-10-18 13:14] tajila commented on #15189
@fengxue-IS has this test been re-enabled?

[2022-10-18 13:15] tajila commented on #15162
@ChengJin01 has this issue been addressed?

[2022-10-18 13:17] tajila commented on #15211
This looks like a test harness failure, it doesnt even get into the vector test code

[2022-10-18 13:18] JasonFengJ9 commented on #15250
Launched [10x -Xint internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28669/)

[2022-10-18 13:21] #15175 closed

[2022-10-18 13:22] #15183 closed

[2022-10-18 13:23] tajila commented on #15253
@JasonFengJ9 does this still fail?

[2022-10-18 13:25] tajila commented on #15247
@LongyuZhang can you please re-enable this

[2022-10-18 13:26] tajila commented on #15265
@fengxue-IS please take a look at this

[2022-10-18 13:27] tajila commented on #15268
@knn-k any update on this?

[2022-10-18 13:27] tajila commented on #15272
@JasonFengJ9 is this fixed?

[2022-10-18 13:29] tajila commented on #15939
@fengxue-IS Is this test passing now?

[2022-10-18 13:39] JasonFengJ9 commented on #15272
Yeah, passed in [latest run](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk19_j9_extended.functional_x86-64_mac/40/tapResults/).

[2022-10-18 13:39] #15272 closed

[2022-10-18 13:56] VermaSh commented on #9876
Unfortunately the machine has disappeared. I have created an internal [issue](https://github.ibm.com/runtimes/infrastructure/issues/7368) to investigate the disappearance.

[2022-10-18 13:56] JasonFengJ9 commented on #15253
The test has been excluded and launched [10x internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28670/).

[2022-10-18 14:28] jdekonin commented on #16037
@llxia @pshipton need some direction here on possible resolutions on the previous comment.

[2022-10-18 14:29] tajila commented on #15624
@fengxue-IS can you take a look at this?

[2022-10-18 14:35] tajila commented on #15940
@fengxue-IS can this be closed now?

[2022-10-18 14:49] fengxue-IS commented on #15940
yes, closing this as test passes with current master

[2022-10-18 14:49] #15940 closed

[2022-10-18 14:58] gacholio commented on #16105
With no option specified, the launcher has some default stack size it uses, which I guess is too small. The default for forked threads is sufficient to run the test.

[2022-10-18 15:34] VermaSh commented on #14054
Hi @jonathan-albrecht-ibm, Sorry I got swamped with some other work so don't have an update right now. But I'll try to have an update over next few days.

[2022-10-18 15:50] ChengJin01 commented on #14487
The issue was resolved with our own fix in JDK17/18/19+ at https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/112/files#diff-9658a8d1507ae5132a614d4c38ed6589ebab5bed19c3d03f726585aeb49dce29, https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/57/files#diff-9658a8d1507ae5132a614d4c38ed6589ebab5bed19c3d03f726585aeb49dce29, https://github.com/ibmruntimes/openj9-openjdk-jdk19/pull/5/files#d

[2022-10-18 15:56] ChengJin01 commented on #14487
PR is created at https://github.com/adoptium/aqa-tests/pull/4050 to enable the test suite.

[2022-10-18 16:11] ChengJin01 commented on #16036
Just talked to GAC, we close the issue given  there is no way to reproduce it in the latest build and no further evidence to prove the hang was caused by any change unless the problem shows up again.

[2022-10-18 16:11] #16036 closed

[2022-10-18 16:14] kgibm commented on #1538
Another user hit some issues trying [the workaround](https://github.com/eclipse-openj9/openj9/issues/1538#issuecomment-577894672) on Linux:

1. The first two copies should be to `bin` rather than `lib` on Linux, and
2. `-Xbootclasspath/a` must be an absolute path if `java` isn't started from `$JAVA_HOME`

Example with OpenLiberty and Semeru 11 on Linux:

[code]

[2022-10-18 16:47] ChengJin01 commented on #15035
Close the issue as we already implemented everything related to upcall in JEP424 via https://github.com/eclipse-openj9/openj9/issues/15068.

[2022-10-18 16:47] #15035 closed

[2022-10-18 17:53] llxia commented on #15401
For JITServer AOT testing, we can just set both in TEST_FLAG (i.e., `TEST_GLAG=JITAAS,AOT`)
See Grinder: https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1414/

[code]

[2022-10-18 17:59] llxia commented on #15401
Also, I noticed that we are exporting TR_Options (see below) in TKG. Can they be replaced by jvm option `-Xjit:forceaot`?

[code]

[2022-10-18 18:00] AlexeyKhrabrov commented on #15401
These options do not enable the JITServer AOT cache, only the local SCC at the client JVMs. Either the `JITAAS` test flag needs to be updated to add the AOT cache options to both the JITServer and the client JVMs, or we need a new separate flag.

[2022-10-18 18:07] AlexeyKhrabrov commented on #15401
Also, how exactly does the `JITAAS` mode run JITServer instances? If it's a single JITServer instance for the duration of the whole test suite, it might not work as well with the AOT cache because it will shared by all the client JVMs across all test cases. Although it should be good enough as a starting point. IIRC, there are also dedicated JITServer test cases. Those should also be extended to p

[2022-10-18 18:30] gita-omr commented on #15204
Sorry, was busy with another project. I think this is multi-platform issue.

@r30shah @0xdaryl @knn-k @zl-wang , do you think you can help with z, intel, arm, and p respectively?

[2022-10-18 19:24] llxia commented on #15401
Could you please list all the JVM options that we need for JITServer AOT cache testing?

[2022-10-18 19:51] #15991 closed

[2022-10-18 19:51] LongyuZhang commented on #15247
Test enabling `java/lang/Thread/virtual/ThreadAPI.java#id1` with `vm.continuations=true`, test with xlinux JDK 19, failed in [hyc_grinder 28708](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/28708), with [rerun link](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/28708/rebuild/parameterized):
[code]

[2022-10-18 20:02] zl-wang commented on #15204
for p, i assigned the implementation to @bhavanisn

technically, if your platform supports vector byte comparison and counting equal-byte in the right endian (p10 does and pre-p10 need a longer instr sequence), you will have fairly efficient implementations.  the complicated return value for no-mismatching case in implementation can be simplified as follows:
[code]

[2022-10-18 20:21] AlexeyKhrabrov commented on #15401
In addition to existing JITServer options,  `-XX:+JITServerUseAOTCache` on both the server and the client.

[2022-10-18 20:23] AlexeyKhrabrov commented on #15401
Only if none of the test cases themselves pass any `-Xjit:` options because only the last one takes effect.

[2022-10-18 20:28] r30shah commented on #15204
For Z implementation, generated code for  `arrayCmp` [1] and code needed to accelerate `arrayMismatch` would be fairly same except the output value that `arrayMismatch` API returns , which I think can be handled easily. @zl-wang / @bhavanisn  Are you planning to something that that Julian mentioned in https://github.com/eclipse-openj9/openj9/issues/15204#issuecomment-1150239143 ?

@tajila This one

[2022-10-18 20:48] dmitripivkine opened #16121 "Crash in Test_openjdk19_j9_sanity.functional_ppc64_aix with vmState=0x00040000"
Crash in `cmdLineTester_jvmtitests_8` test `gomsdi001` on AIX:

https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_ppc64_aix_Personal/18/tapResults/

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.functional_ppc64_aix_Personal_testList_0/18/functional_test_output.tar.gz

[code]

[2022-10-18 20:52] JasonFengJ9 commented on #15253
@tajila yes, the test still failed due to `Process LT  has timed out` in the grinder https://github.com/eclipse-openj9/openj9/issues/15253#issuecomment-1282436315.

[2022-10-18 20:54] zl-wang commented on #15204
@r30shah  it is tantalizing to take advantages of the existing arrayCmp implementation for mis-match cases and adding new instructions to calculate the no-mismatch cases.  there are two issues to be followed up though:
1. transforming this call into arrayCmp node in IL (and tagging it as the 3rd scenario of arrayCmp);
2. not sure how arrayCmp for compressed strings complicates the situation. maybe

[2022-10-18 20:54] pshipton commented on #16037
The failure appears to be https://github.com/eclipse-openj9/openj9/issues/14948 caused by z15 hardware zlib compression. I thought it was RH9 only, but I guess it affects RH8 now as well. We don't have any solution for this failure I'm aware of except to disable the hardware compression. I believe setting the environment variable `DFLTCC=0` will do that.

@r30shah @joransiu fyi

[2022-10-18 21:01] JasonFengJ9 commented on #15250
Tried `-Xint` as `EXTRA_OPTIONS`, and also added `mode 100` at https://github.com/JasonFengJ9/aqa-tests/blob/8b3a9959d7988a26673b7dce2135a9ebdb4b873b/system/otherLoadTest/playlist.xml#L294-L296

`HCRLateAttachWorkload_previewEnabled_0_FAILED` w/ `StackOverflowError`, from the [javacore.20221018.131051.1747.0002.txt](https://na.artifactory.swg-devops.com/ui/native/sys-rt-generic-local/hyc-runtimes-

[2022-10-18 21:17] pshipton commented on #16121
Maybe dup of internal issue 148107.

[2022-10-18 21:23] llxia commented on #15401
Thanks @AlexeyKhrabrov .
@renfeiw could we add `-XX:+JITServerUseAOTCache` on both the server and the client when TEST_GLAG contains both JITAAS and AOT?

[2022-10-18 21:25] r30shah commented on #16037
Looking at the Linux mainframe blog [1], from RH 8.4 or newer. NXU would be enabled by default [1], so for now, as Peter suggested, we may have to disable through environment variable to get that test pass. I still have not get chance to do investigations on Pack file failures, I will try to make some progress on that front this week.

[1]. https://linux.mainframe.blog/zlib-acceleration/

[2022-10-18 21:27] jdekonin commented on #16037
Both are running 8.6, so I applied env var to the jenkins node configuration as suggested and retesting now.
https://openj9-jenkins.osuosl.org/job/Grinder/1415/
https://openj9-jenkins.osuosl.org/job/Grinder/1416/

[2022-10-18 21:30] AlexeyKhrabrov commented on #15401
I'm not sure if we want exactly that. JITServer + AOT (local SCC only) is still a valid testing scenario which would be eliminated by this change.

@mpirvu Do you have an opinion on this?

[2022-10-18 21:46] pshipton commented on #14649
https://openj9-jenkins.osuosl.org/job/Build_JDK11_ppc64_aix_OpenJDK11/55
[code]

[2022-10-18 21:51] pshipton opened #16124 "OpenJDK java/util/stream/PrimitiveSumTest.java crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_mac_OpenJDK11/9
jdk_util_1
java/util/stream/test/org/openjdk/tests/java/util/stream/PrimitiveSumTest.java
[code]

@knn-k fyi

[2022-10-18 23:00] mpirvu commented on #15401
I agree that we don't want every JITServer test that uses AOT to use `-XX:+JITServerUseAOTCache` because both modes can be found in practice.  Of all the JITServer tests, a subset should be executed with AOT,  and a subset of that subset should enable `-XX:+JITServerUseAOTCache`.
I view `-XX:+JITServerUseAOTCache` like a new mode because what we want is:
- Start JITServer with `-XX:+JITServerUseAO

[2022-10-18 23:15] llxia commented on #15250
From the console output, Mode100 did not get passed in:

[code]

I suspect https://github.com/adoptium/aqa-tests/blob/d1c960685d0e4f043a11675608048eb7bd682f60/system/system.mk#L63 is incorrect.

[2022-10-19 00:32] llxia commented on #15250
@JasonFengJ9 the above issue is resolved via https://github.com/adoptium/aqa-tests/pull/4052. Please try to rebase your branch and try again. Thanks

[2022-10-19 02:34] pshipton opened #16125 "OpenJDK java/util/Random/RandomTest.java crash VMState: 0x00050fff"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_OpenJDK11/50
jdk_util_0
java/util/Random/RandomTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_OpenJDK11/50/openjdk_test_output.tar.gz
[code]

[2022-10-19 02:34] pshipton commented on #16125
@0xdaryl fyi

[2022-10-19 02:35] pshipton commented on #16125
I see this mentioned in https://github.com/eclipse-openj9/openj9/issues/16115 as well, seems like a recent regression.

[2022-10-19 02:36] pshipton commented on #16125
Actually, I'll close this as a dup.

[2022-10-19 02:36] #16125 closed

[2022-10-19 02:38] pshipton commented on #16115
I've set this as a blocker as it seems like a recent regression.
@0xdaryl

[2022-10-19 03:08] jdekonin commented on #16037
Same tests fail with `DFLTCC=0` set via jenkins and .bashrc, so that doesn't appear to be the solution in this case.

I am going to leave these systems unlabeled so test jobs don't land on them and ruin nightly/omr.acceptance or pr builds.  I'll watch #14948 and retest as a solution becomes available.

[2022-10-19 03:09] #16037 closed

[2022-10-19 03:12] knn-k commented on #15204
Is it about generating inlined code for `vectorizedMismatch()`, or calling a JIT helper function for the method?
AArch64 does not have the support for arrayCmp now.

[2022-10-19 03:23] knn-k commented on #16124
I ran a 30x Grinder job for jdk_util_1, and got no failures.
https://openj9-jenkins.osuosl.org/job/Grinder/1420/

[2022-10-19 03:28] pshipton commented on #16037
@jdekonin I found another way you can try: Restart Linux® with the kernel parameter setting dfltcc=off.
Maybe the environment variable doesn't get passed along to the test.

[2022-10-19 05:03] pshipton commented on #16110
@keithc-ca fyi

[2022-10-19 09:02] knn-k commented on #16124
No failures in additional 30x Grinder job: https://openj9-jenkins.osuosl.org/job/Grinder/1421/

The last iteration failed with the following error.  Related to https://github.com/eclipse/omr/issues/6774 ?

[code]

[2022-10-19 09:51] knn-k commented on #16082
The problem here is how to put the information of environment variables in the core files for macOS (Intel/AArch64) in the Mach-O format.
I have little knowledge for that.

[2022-10-19 09:56] paulcheeseman opened #16126 "Javacore 1CIJAVAVERSION does not detect Windows Server 2019"
Java -version output
--------------------

Reported on IBM Java 8.0.6.20, but this looks like it will affect any JDK that uses OpenJ9/OMR.

Summary of problem
------------------

In javacores taken on Windows Server 2019, the Java version information shows the OS as Windows Server 2012, i.e.:

[code]

I think this version information is populated by the following code, which appears to have no way

[2022-10-19 12:07] JasonFengJ9 commented on #15250
[`StackOverflowError: operating system stack overflow`](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28796/tapResults/) also occurred at `HCRLateAttachWorkload_previewEnabled_0_FAILED Mode100` which is `-Xint`.
FYI @tajila

[2022-10-19 12:26] #16079 closed

[2022-10-19 13:01] zl-wang commented on #15204
@knn-k  it is about better implementation/code for vectorizedMismatch() than JIT-compiled code.  there is no dependency on existence of arrayCmp inlined ... that is just a coincidental finding of possible reuse/hint for this implementation.

[2022-10-19 13:18] ayuan0828 opened #16127 "Results are different when openj9 and hotspot call wait (long time, int frac) in the Object class"
**Description**:

As shown below, when calling the "wait (long time, int frac)" method with `time=Long.MAX_VALUE` and `frac>0` (for example, "1"), OpenJ9 will not catch `IllegalArgumentException`, which is the output in HotSpot.

**Environment**：

[code]

**JVM Information**:
jdk8:

[code]

jdk11:

[code]

**Testcase**:

[code]

**Output of HotSpot**:

[code]

**Output of OpenJ9**:

[code]

[2022-10-19 13:22] Akira1Saitoh commented on #15268
It seems that Linux kernel OOM killer terminates test java process of `jdk_vector_0`. A certain test spends more than 4GB of memory and multiple tests are running in parallel. Hence, it uses up the system memory (8GB in this case), resulting in OOM killer. Below is the excerpt from dmesg on an internal machine (ub18-aarch64).
[code]

[2022-10-19 13:31] tajila commented on #15204
Memeroy Access APIs is a preview for JDK19 so we need to be functionally complete. That being said this is technically a perf issue not a functional problem, but we had to disable tests to not hit the timeouts due to poor performance.

We can move it out, if its unfeasible to deliver this in the next month.

[2022-10-19 13:33] pshipton commented on #16126
https://github.com/eclipse/omr/pull/3648 added support for detecting Windows Server 2019. We're looking specifically for build 1809, perhaps there are other builds of Server 2019. What does `ver` from a command prompt show?

https://github.com/eclipse/omr/pull/6259 from SR7 FP10 improves support to look for builds >= 17763 and < 20348.

Does FP25 detect Windows Server 2019 correctly? The original

[2022-10-19 13:41] pshipton opened #16128 "cent8-aarch64-1 disabled - Could not find a suitable ssh-agent provider"
Most testing on alinux failed last night.

Many examples, here is one
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_aarch64_linux_Nightly/275/console

[code]

@AdamBrousseau

[2022-10-19 14:16] dmitripivkine commented on #16124
For crash with `vmState=0x0002000f` looks like Scavenger tries to scan thread java stacks. Unfortunately DDR fails to scan thread stacks too so I can not tell what makes thread java stack be not walkable

[2022-10-19 14:29] tajila commented on #16127
We dont seem to detect `J9THREAD_INVALID_ARGUMENT` from the omr call

[2022-10-19 14:37] tajila commented on #16127
I guess the other problem (perhaps not a real one) is that hotspot throw the IAE before the IMSE. The code in that example is wrong in that it doesnt synchronize on the object before calling wait. So that code has two errors.

[2022-10-19 14:54] AdamBrousseau commented on #16128
Rebooted. Same test bucket running
[![Build Status](https://openj9-jenkins.osuosl.org/buildStatus/icon?job=Test_openjdk8_j9_sanity.functional_aarch64_linux_Nightly&build=276)](https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_aarch64_linux_Nightly/276/)

[2022-10-19 14:55] AdamBrousseau commented on #16128
I think it's good now.
[code]

[2022-10-19 14:55] #16128 closed

[2022-10-19 15:29] pshipton commented on #16126
I tried a handy Server 2019 server machines and it shows build 17763. I expect you need 8.0.7.10 to fix the OS detection.

[2022-10-19 15:31] hangshao0 opened #16129 "Compilation error in Valhalla build"
Found in internal nightly build:
[code]

OpenJ9 is missing symbols `Unsafe.makePrivateBuffer()` and `Unsafe.finishPrivateBuffer()`.

[2022-10-19 15:49] pshipton commented on #16126
Actually I guess 1809 isn't a build number but the ReleaseId. You can look in the registry, at ReleaseId under SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion. Or use PowerShell and run `Get-ComputerInfo -Property "WindowsVersion"`.

On the machine I'm using the javacore shows "Windows Server 2019 10.0 build 10240" with 8.0.6.20
and "Windows Server 2019 10.0 build 17763" with 8.0.7.10.

[2022-10-19 16:07] pshipton commented on #16126
We've got these fixes in 8.0.6.31 which I suspect resolve the detection.
https://github.com/eclipse/omr/pull/5870 "Better detection of Windows 10 in omrsysinfo_get_OS_type()"
https://github.com/eclipse/omr/pull/5873 "Compute Windows 10 build number in omrsysinfo_get_OS_version()"

[2022-10-19 17:05] pshipton commented on #15966
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_1/389
testClassLoadingDelegation_0

[code]

[2022-10-19 17:10] pshipton opened #16130 "testContendedClassLoading testDelegatedClassLoading Deadlock detected"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_0/389 - [ub20-390-6](https://openj9-jenkins.osuosl.org/computer/ub20-390-6)
testContendedClassLoading_0

FYI https://github.com/eclipse-openj9/openj9/issues/16037 "Linux 390 jenkins system replacement"

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.

[2022-10-19 17:11] pshipton commented on #16130
https://github.com/eclipse-openj9/openj9/issues/15966#issuecomment-1284320553 occurred in the same build, although we've seen this failure before.

[2022-10-19 17:11] pshipton commented on #16130
@tajila fyi

[2022-10-19 17:13] manqingl opened #16131 "System core file from openJ9 should not be loaded to IBM Java 8 jdmpview:"
Details here:

/team/service/pmrs/jdmpviewIssue $ /team/service/pmrs/sdks/x86_linux/jvmxa6480sr6fp15-20200724_01/bin/jdmpview -core test.dmp
DTFJView version 4.29.5, using DTFJ version 1.12.29003
Loading image from DTFJ...

For a list of commands, type "help"; for how to use "help", type "help help"
Available contexts (* = currently selected context) :

Source : file:///team/service/pmrs/jdmpviewI

[2022-10-19 17:13] manqingl commented on #16131
@pshipton @keithc-ca : FYI

[2022-10-19 17:13] SajinaKandy commented on #15401
Currently with AOT testing, only a subset of all the tests would run with aot options. Those marked as "explicit" for AOT would run with default options. In case of `TEST_FLAG=AOT,JITAAS`, those marked as explicit for aot, would run with only `JVM_OPTIONS: -XX:+UseJITServer` and not `JVM_OPTIONS: -Xshareclasses:name=test_aot -Xscmx400M -Xscmaxaot256m -XX:+UseJITServer`. [AOT tests marked for testi

[2022-10-19 17:21] pshipton opened #16132 "JDK19 OpenJDK java/lang/reflect/exeCallerAccessTest/CallerAccessTest.java IllegalAccessException JNI attached native thread (null caller frame) cannot access class jdk.internal.misc.Unsafe"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_Nightly/29
jdk_lang_1
java/lang/reflect/exeCallerAccessTest/CallerAccessTest.java
[code]

[2022-10-19 17:26] pshipton opened #16134 "JDK19 OpenJDK java/util/concurrent/ThreadPoolExecutor/ConfigChanges.java timeout"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_Nightly/29
jdk_util_0
java/util/concurrent/ThreadPoolExecutor/ConfigChanges.java

I don't see anything useful in the diagnostics.
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_Nightly/29/openjdk_test_output.tar.gz

[code]

[2022-10-19 17:26] pshipton commented on #16132
@tajila fyi

[2022-10-19 17:28] pshipton commented on #15855
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_1/23
testSCCacheManagement_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_1/23/functional_test_output.tar.gz

[2022-10-19 17:45] pshipton commented on #15917
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_2/30
MiniMix_aot_5m_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_2/30/system_test_output.tar.gz

I see this:
[code]

[2022-10-19 17:46] pshipton commented on #15917
@tajila fyi

[2022-10-19 17:51] pshipton commented on #16131
I thought newer versions of jdmpview just give a warning but still allow the core to be loaded. Guessing the jdmpview 20200724_01 is too old to print the warning.

[2022-10-19 18:00] AlexeyKhrabrov commented on #15401
Thanks for the explanation. Do I understand correctly that tests marked as "explicit for AOT" already pass their own options that enable the SCC and AOT compilation? Do we also assume that such tests already handle the need for separate "cold" and "warm" runs themselves? If so, I think we should still run such tests twice with the same JITServer instance (making sure the SCC is destroyed in betwee

[2022-10-19 18:18] hangshao0 commented on #16129
This is related to https://github.com/eclipse-openj9/openj9/issues/13614.

[2022-10-19 18:49] tajila commented on #15917
Based on the native stack trace, the thread is blocked in GC code

[code]

[2022-10-19 18:51] tajila commented on #15917
The GC call is probably `J9AllocateIndexableObject`

[2022-10-19 18:58] tajila commented on #15247
@fengxue-IS please take a look

[2022-10-19 19:00] tajila commented on #15917
@ChengJin01 can you look at this issue, I think its related to https://github.com/eclipse-openj9/openj9/issues/16036#event-7613325762

[2022-10-19 19:05] manqingl commented on #16131
@pshipton The most recent IBM Java 8 has the same problem.

 /team/service/pmrs/jdmpviewIssue $ ./pxa6480sr7fp16-20220830_01-sdk/sdk/bin/jdmpview -core test.dmp
DTFJView version 4.29.5, using DTFJ version 1.12.29003
Loading image from DTFJ...

For a list of commands, type "help"; for how to use "help", type "help help"
Available contexts (* = currently selected context) :

Source : file:///team/se

[2022-10-19 19:15] keithc-ca commented on #16131
The version of `jdmpview` (from 20200724) predates the check for "possibly incompatible" VMs.

You should not expect tools from Java 8 to properly handle dumps from newer versions (the other way around should be fine - tools from Java 11 should be able to handle dumps from Java 8). What does the latest `jdmpview` from Java 11 (or newer) have to say about this?

[2022-10-19 19:15] pshipton opened #16136 "zlinux jdk8 builds take 3+ hours or timeout"
Related to https://github.com/eclipse-openj9/openj9/issues/16037

The last "fast" nightly build was https://openj9-jenkins.osuosl.org/job/Build_JDK8_s390x_linux_Nightly/408/ - 1:25 on Oct 11.

Subsequent builds take 3+ hours or timeout.
https://openj9-jenkins.osuosl.org/job/Build_JDK8_s390x_linux_Nightly/
https://openj9-jenkins.osuosl.org/job/Build_JDK8_s390x_linux_OMR/

@jdekonin

[2022-10-19 19:20] manqingl commented on #16131
@keithc-ca @pshipton : The agreement is to raise a warning message from IBM JDK Jdmpview.

C:\pmrs\921.win.j17\t2>C:\sdks\jvmwa6480sr7fp5-20220208_01\bin\jdmpview.exe -core core.20220924.171011.748.0001.dmp
DTFJView version 4.29.5, using DTFJ version 1.12.29003
Loading image from DTFJ...

**Warning: dump file was produced by a different, possibly incompatible, VM.
  core file: Eclipse OpenJ9 VM

[2022-10-19 19:22] manqingl commented on #16131
@keithc-ca @pshipton I believe the problem is in the system core file (not the jdmpview tool).  The system core file from z/OS has a system property set wrong.

[2022-10-19 19:24] keithc-ca commented on #16131
Yes, we agree that the expectation is that a warning will be issued when incompatible tools/dumps are mixed. That doesn't mean that Java 8 tools should be expected to properly deal with dumps from newer versions.

[2022-10-19 19:26] pshipton commented on #16136
Creating jsse.jar is very slow, not sure what's special about creating that jar file. The build could be generating something.
[code]

[2022-10-19 19:42] tajila commented on #15491
I think this issue is caused due to a NULL `eetop`

[2022-10-19 19:42] tajila commented on #15491
[code]

[2022-10-19 19:55] JasonFengJ9 commented on #15491
Related to https://github.com/eclipse-openj9/openj9/issues/16121 and internal RTC workitem 148107

[2022-10-19 20:25] dmitripivkine commented on #15491
Not I am aware about. Can it be an indirect call when threads are registered / unregistered in JVM?

[2022-10-19 20:30] pshipton commented on #16136
Looking at the machine while running `16:11:06  Creating images/lib/jsse.jar`, it seems to be gmake which is taking all the time. The only java running atm is for jenkins
[code]

`GNU Make 3.82`

[2022-10-19 20:45] pshipton commented on #16136
Can we update gmake to a newer version, 4.1 or later?

[2022-10-19 21:08] pshipton opened #16138 "cent7-x64-5 failed to upload to artifactory, disabled it"
https://openj9-jenkins.osuosl.org/computer/cent7-x64-5

https://openj9-jenkins.osuosl.org/job/Build_JDK17_x86-64_linux_OMR/244/console
[code]

@AdamBrousseau

[2022-10-19 21:22] pshipton commented on #16136
The old build showed
`configure: Using GNU make 3.81 (or later) at /usr/local/bin/gmake (version: GNU Make 4.1)`
the new
`configure: Using GNU make 3.81 (or later) at /usr/bin/gmake (version: GNU Make 3.82)`

[2022-10-19 21:51] hzongaro commented on #15569
I was mistaken about the failure occurring when `Test.vMeth2()V` is compiled at scorching.  I was basing this on verbose JIT log output in which the failure appeared to occur immediately after that method was compiled at scorching.  In fact, that method runs for a very long time, and the failure occurs after the method is compiled at `profiled very-hot` - it just happens that entering the method t

[2022-10-19 22:02] jdekonin commented on #16136
Somehow this was missed for the Redhat 7 systems.  I've v4.1 on them now.

[2022-10-19 22:11] hzongaro commented on #15569
Hmmm.  It looks like Compact Locals is not supposed to happen when profiling is enabled, according to the definition of [finalGlobalOpts](https://github.com/eclipse/omr/blob/90a1badeb075308c51742988e1cf36180949785d/compiler/optimizer/OMROptimizer.cpp#L509-L521).  Continuing to investigate.

[2022-10-19 22:18] tajila commented on #15491
Turns out the JCL sets this to NULL on thread shutdown

[2022-10-19 23:24] ChengJin01 commented on #15917
1) The native stacktrace shows it was blocked in `internalAcquireVMAccess` of `J9AllocateIndexableObject()` by checking these .so files via `objdump`:
[code]
against the output of `objdump` as follows:
[code]
2) Looking at the code  in `Java_java_lang_Thread_getThreads`  at https://github.com/eclipse-openj9/openj9/blob/aea459abe7c6439acba3e375193282ba4b3f1323/runtime/jcl/common/thread.cpp#L527 and

[2022-10-20 01:19] #16129 closed

[2022-10-20 01:19] tajila commented on #15250
I added `-Xdump:system:events=throw,filter=*StackOverflowError` and now the stackoverflow is gone, but it hangs instead.

https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28807/tapResults/

[2022-10-20 01:42] AdamBrousseau commented on #16138
worker-4 still broken too
https://openj9-jenkins.osuosl.org/job/Cleanup_Artifactory_UNB/526/console

[2022-10-20 04:13] #2233 closed

[2022-10-20 06:00] AdamBrousseau commented on #16138
cent7-x64-5 fixed. Added back in the pool.
worker-4 still having issues. Not sure what is wrong with it.

[2022-10-20 11:13] pshipton opened #16141 "JDK19.0.1 doesn't compile, missing method java.lang.Access.isCarrierThreadLocalPresent()"
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK19-Acceptance/16/
[code]

[2022-10-20 11:13] pshipton commented on #16141
@tajila fyi

[2022-10-20 11:45] JasonFengJ9 commented on #16141
I will add this `Access.isCarrierThreadLocalPresent()`.

[2022-10-20 12:23] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_2/30
LambdaLoadTest_J9_5m_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_2/30/system_test_output.tar.gz
[code]

[2022-10-20 12:25] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_Nightly/32/
jdk_lang_0
java/lang/ThreadLocal/ThreadLocalSupplierTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_Nightly/32/openjdk_test_output.tar.gz
[code]

[2022-10-20 12:27] pshipton commented on #15855
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_1/24
testSCCacheManagement_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_1/24/functional_test_output.tar.gz

[2022-10-20 12:53] JasonFengJ9 commented on #15250
W/ `-Xtrace:trigger=method{java/lang/StackOverflowError,sysdump}`
[code]
[Result file](https://na.artifactory.swg-devops.com/ui/native/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com/Grinder/28840/system_test_output.tar.gz)
FYI @tajila

[2022-10-20 13:53] ayuan0828 opened #16147 "OpenJ9 throws "OutOfMemoryError" incorrectly when program contains a "try-catch" statement"
**Description**:

When running the following test case, the program go to the catch statement to capture "OutOfMemoryError". The expected result should be no error reported, just as hotspot did, but openj9 still throws "OutOfMemoryError".

**Environment**：

[code]

**JVM Information**:
jdk8:

[code]

jdk11:

[code]

**Testcase**:

[code]

**Output of HotSpot**:

[code]

**Output of OpenJ9**:

[cod

[2022-10-20 14:09] tajila commented on #15250
I see something very strange here:

The bytecodes for String::length() is:
[code]

but when I look at the runtime version its

[code]

So there are some extra bytecodes at the start

[2022-10-20 14:12] tajila commented on #15250
The class is retransformed, the original bytecodes before the transformation is correct

[code]

[2022-10-20 14:15] tajila commented on #15250
I dont know much about this test, but if that transformation is intended then the StackOverflow makes sense.

[2022-10-20 14:38] tajila commented on #15491
When threadCleanup is called, the eetop field is cleared. So I guess the question is how does another thread have access to the thread object if it is being cleaned up

[2022-10-20 14:47] tajila commented on #15491
@gacholio perhaps `deallocateVMThread` needs to hold exclusive VMAccess ?

[2022-10-20 14:49] #16053 closed

[2022-10-20 15:02] JasonFengJ9 commented on #15491
It occurred quite a few times at Windows platform [RTC 148107](https://jazz103.hursley.ibm.com:9443/jazz/resource/itemName/com.ibm.team.workitem.WorkItem/148107), appears not test specific.
Launched [a 50x internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28848)

[2022-10-20 15:13] #15668 closed

[2022-10-20 15:14] tajila commented on #16046
@thallium is this still failing?

[2022-10-20 15:16] tajila commented on #16051
@thallium does this still fail?

[2022-10-20 15:19] gacholio commented on #15491
That would be a sledgehammer solution to an essentially irrelevant issue - who even uses interrupt at this point? Surely this can be fixed by making interrupt a bit smarter about thread state.

I've never seen this `eetop` field.

[2022-10-20 15:21] tajila commented on #15466
@ChengJin01 has this been addressed?

[2022-10-20 15:21] tajila commented on #15415
@JasonFengJ9 Does this still fail?

[2022-10-20 15:31] DanHeidinga commented on #16147
I've think I've answered this

[2022-10-20 15:31] #16147 closed

[2022-10-20 15:32] tajila opened #16148 "Unfreed blocks with -Xcheck:memory -version"
[code]

steps to reproduce

[code]

This is not jdk19 specific, I also noticed it in jdk17

[2022-10-20 15:36] gacholio commented on #15491
This might be solved simply by holding the `vmThreadListMutex` in interrupt to prevent threads dying (it prevents `deallocateVMThread` from running, but does not stop any java cleanup).

The native is called while holding the target Thread lock, so I'm not sure where the hole is. Is the native assuming the Thread is being held alive by the java code? I don't think the lock is sufficient for that.

[2022-10-20 15:44] JasonFengJ9 commented on #15415
It passes in [latest run](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk19_j9_extended.functional_x86-64_mac_testList_0/44/tapResults)
Closing

[2022-10-20 15:44] #15415 closed

[2022-10-20 16:00] thallium commented on #16046
No, it passes now

[2022-10-20 16:02] thallium commented on #16051
Passes now

[2022-10-20 16:03] thallium commented on #16047
Passes now

[2022-10-20 16:14] ChengJin01 commented on #15466
I just verified locally on zLinux which works good as expected:
[code]
So it should work fine given the upcall thunk was implemented on all supported platforms. I will need to create a PR at https://github.com/adoptium/aqa-tests to enable this test.

[2022-10-20 16:40] ChengJin01 commented on #15466
https://github.com/adoptium/aqa-tests/pull/4068 has been created to enable the test.

[2022-10-20 16:53] cjjdespres opened #16149 "Segfault in various system tests"
Seen in the internal nightly JITServer tests, but reproduces readily without. From

- `/job/Test_openjdk11_j9_extended.system_x86-64_linux_jit_Personal/488`
- `/job/Test_openjdk17_j9_extended.system_x86-64_linux_jit_Personal/415`
- `/job/Test_openjdk8_j9_extended.system_x86-64_linux_jit_Personal/484`
- `/job/Test_openjdk11_j9_sanity.system_x86-64_linux_jit_Personal/491`
- `/job/Test_openjdk17_j9_s

[2022-10-20 17:00] cjjdespres commented on #16149
I notice that there were some recent commits related to `StandardAccessBarrier`, so this is probably related to that. I now also notice that some of it was reverted, so this may have already been resolved.

[2022-10-20 17:06] #16051 closed

[2022-10-20 17:06] #16046 closed

[2022-10-20 17:44] pshipton commented on #16149
Yes, it should be resolved by the reverts.
The change https://github.com/eclipse-openj9/openj9/pull/16144 reverts was supposed to fix it, but we discovered another change in OMR is needed as well. The changes are reverted while the OMR change is made and promoted.
The change https://github.com/eclipse-openj9/openj9/pull/16145 reverts caused the failures.

[2022-10-20 17:44] #16149 closed

[2022-10-20 17:47] pshipton commented on #14625
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Release/39
[code]

[2022-10-20 17:50] #12252 closed

[2022-10-20 17:55] pshipton opened #16150 "abbs.5mins.Mode113 AssertionFailedError: 127:127"
[Internal build](http://vmfarm.rtp.raleigh.ibm.com/job_output.php?id=45357022) [Linux PPC 64bit] 80 Load_Level_2.abbs.5mins.Mode113 - rhel7p7vm30
`IBM_JAVA_OPTIONS = -Xgcpolicy:gencon -Xjit:count=0,optlevel=warm,gcOnResolve,rtResolve -Xmn512k -Xnocompressedrefs`

100x grinder passed.

`j> 13:01:07 20221020 13:01:06 Runtime State Reporter IMPORTANT: 42 tests complete, 300 currently running
j> 13:01

[2022-10-20 18:01] JasonFengJ9 commented on #15491
Reproduced 3 times, [failure-1](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder_iteration_4/1374/testReport) [failure-2](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder_iteration_0/1817/testReport) [failure-3](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder_iteration_3/1441/testReport)

[2022-10-20 18:05] pshipton opened #16151 "cent7-ppcle-1 - /home/jenkins/set_gcc_10.3.0_env: No such file or directory"
https://openj9-jenkins.osuosl.org/job/Build_JDK19_ppc64le_linux_OMR/22/console - [cent7-ppcle-1](https://openj9-jenkins.osuosl.org/computer/cent7-ppcle-1)
[code]

@AdamBrousseau @vsebe

[2022-10-20 18:37] AdamBrousseau commented on #16151
Maybe why it was missing labels. I only tested jdk11.

[2022-10-20 18:40] gacholio commented on #15491
At a glance, the Thread code (not ours) is doing the right locking, but I'm betting the timing hole is due to not using our version of Thread somewhere.

[2022-10-20 19:39] vsebe commented on #16151
[code]
https://openj9-jenkins.osuosl.org/job/Build_JDK19_ppc64le_linux_Personal/45/ running on [cent7-ppcle-1](https://openj9-jenkins.osuosl.org/computer/cent7-ppcle-1)

[2022-10-20 20:01] tajila commented on #15491
@JasonFengJ9 has this been reproduced on linuxx86?

[2022-10-20 20:04] gacholio commented on #15491
There may be other natives affected by this - have suspend and resume been completely removed?

[2022-10-20 20:12] hzongaro commented on #15730
Hi @mateuszrzeszutek.  Have you had any luck producing core files or log files?

[2022-10-20 20:18] #16151 closed

[2022-10-20 20:20] gacholio commented on #15491
Thread.exit is zeroing the vmThread under lock:
[code]

[2022-10-20 20:27] ehrenjulzert opened #16156 "Assertion error in Unsafe.isFlattened"
Unsafe.isFlattened will throw the following assertion error when passed an unflattened `Field` from a primitive/value class:
[code]

The following code can be used to reproduce the error:

[code]

The issue appears to be caused by a missing `isNameOrSignatureQtype` check before calling `isFlattenableFieldFlattened` in `inlUnsafeIsFlattened` in `BytecodeInterpreter.hpp`

[2022-10-20 20:28] ehrenjulzert commented on #16156
@hangshao0 When I fix this should I also add a test to ValueTypeUnsafeTests.java to ensure that this case is tested properly in the future?

[2022-10-20 20:30] hangshao0 commented on #16156
Yes.

[2022-10-20 21:18] JasonFengJ9 commented on #15491
No, this issue occurred at `s390x_linux`, [RTC 148107](https://jazz103.hursley.ibm.com:9443/jazz/resource/itemName/com.ibm.team.workitem.WorkItem/148107) is Windows platform, and https://github.com/eclipse-openj9/openj9/issues/16121 was AIX.

Launched [200x internal grinder on x86-64_linux](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28873).

[2022-10-20 21:23] JasonFengJ9 commented on #13756
Observed at [0.35 rc1 build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.openjdk_aarch64_linux/72/)
[code]

[50x grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28875/)

[2022-10-20 21:55] tajila commented on #15491
Still valid for non-VThreads

[2022-10-20 21:56] gacholio commented on #15491
Are we using a modified Thread? May be worth comparing it with the working one from J9 to see where we might be missing a lock.

[2022-10-20 22:00] tajila commented on #15491
It looks like we do an extra interrupt

https://github.com/ibmruntimes/openj9-openjdk-jdk19/blob/openj9/src/java.base/share/classes/java/lang/Thread.java#L1768

not sure if thats needed

[2022-10-20 22:00] tajila commented on #15491
The second interupt is done without the lock

[2022-10-21 00:42] fengxue-IS commented on #15938
Moving this out of Java19 milestone as compressedrefs work on relocating to above 4G memory space in #15184 isn't blocker for Java 19

[2022-10-21 01:03] fengxue-IS commented on #15265
Local testing passed on xlinux, will run a grinder on all platform before re-enabling this.
[code]

[2022-10-21 01:39] fengxue-IS commented on #15181
`EntryLocalStorageAccessor` maybe? or do you have any suggestion on this?

[2022-10-21 06:15] fengxue-IS commented on #15247
Local testing on xlinux passed with fix PR
[code]
**jdk/internal/vm/Continuation/Fuzz.java** requires additional configure which see to be testing JIT specifics. I think this should remain excluded
[code]

[2022-10-21 11:32] #16141 closed

[2022-10-21 11:58] pshipton opened #16159 "gcPolicyNogcOOMTest testDieWithOOM Expecting Out of Memory Error!"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/377 - [mac12-x86-1](https://openj9-jenkins.osuosl.org/computer/mac12-x86-1)
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_0/371 - [cent6-x64-3](https://openj9-jenkins.osuosl.org/computer/cent6-x64-3)
gcPolicyNogcOOMTest_0

[code]

[2022-10-21 11:58] pshipton commented on #16159
@dmitripivkine fyi

[2022-10-21 12:01] JasonFengJ9 commented on #15491
The grinder passed.

[2022-10-21 12:03] pshipton commented on #16159
Changes from previous build (we skipped jdk8 - 17 nightly testing two nights ago).
https://github.com/eclipse-openj9/openj9/compare/b851034e1d8...3ed4e68caef
https://github.com/eclipse-openj9/openj9-omr/compare/d5d4a538352...10c21d5f4b

[2022-10-21 13:33] pshipton commented on #16115
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/380
jdk_util_1
java/util/ResourceBundle/Bug4168625Test.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/380/openjdk_test_output.tar.gz
[code]

[2022-10-21 13:42] pshipton opened #16160 "OpenJDK java/util/stream/TestDoubleSumAverage.java timeout"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/380
jdk_util_0
java/util/stream/TestDoubleSumAverage.java
[code]

There is a core file in another test directory that may be related, but it's corrupt or truncated and DDR can't read it. I suspect this is a dup of some other PR but without more info from the core I can't identify it.

aqa-tests/TKG/output_166

[2022-10-21 13:51] pshipton commented on #16160
!gpinfo                                                                                                                                                 Failing Thread: !j9vmthread 0x13583c00                                                                                                                    Failing Thread ID: 0x8e023d4 (148906964)

[2022-10-21 13:52] pshipton commented on #16160
Assuming a dup of https://github.com/eclipse-openj9/openj9/issues/16115

[2022-10-21 13:58] pshipton commented on #15855
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_2/32
SharedClasses.SCM01.MultiThreadMultiCL_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_2/32/system_test_output.tar.gz

https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_s390x_linux_Nightly/3

[2022-10-21 14:01] pshipton opened #16161 "OpenJDK java/foreign/TestDowncallScope.java NoSuchMethodError MethodHandle.invokeBasic"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_Nightly/31
java/foreign/TestDowncallScope.java
[code]

[2022-10-21 14:02] pshipton commented on #16161
@ChengJin01 @tajila fyi

[2022-10-21 14:04] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_Nightly/31/
jdk_lang_0
java/lang/ThreadLocal/ThreadLocalSupplierTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_Nightly/31/openjdk_test_output.tar.gz
[code]

[2022-10-21 14:06] pshipton commented on #15504
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_Nightly/33/
jdk_lang_1
java/lang/ProcessBuilder/Basic.java#id0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_Nightly/33/openjdk_test_output.tar.gz
[code]

[2022-10-21 14:16] JasonFengJ9 commented on #13981
Seen on [JDK11 0.35 rc1 internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.openjdk_x86-64_windows/82/)(`win16x64rt2-8`)
[code]

[2022-10-21 14:20] JasonFengJ9 commented on #12354
[JDK11 0.35 rc1 internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.openjdk_x86-64_windows/82/)(`win16x64rt2-8`)
[code]

[2022-10-21 14:23] pshipton opened #16162 "OpenJDK next failing to compile java/lang/Access"
[code]

[2022-10-21 14:24] pshipton commented on #16162
Related to https://github.com/eclipse-openj9/openj9/pull/16143

[2022-10-21 14:35] r30shah commented on #15855
@dchopra001  Can you post the progress on this failure?

[2022-10-21 15:12] tajila commented on #15917
@gacholio do we need a `J9_ARE_ANY_BITS_SET(vm->extendedRuntimeFlags, J9_EXTENDED_RUNTIME_OSR_SAFE_POINT);` check in `getThreads`? We had a similar problem with the CRIU code when a GC was trigger under exclusive

[2022-10-21 15:15] ChengJin01 commented on #16161
This doesn't make any sense to me as it always works fine till https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_Nightly/ and there is no updated code related to downcall.

I will double-check locally to see how it goes.

[2022-10-21 15:25] gacholio commented on #15917
I'll have a look, but I don't think so. Exclusive and safepoint are supposed to co-exist. I have the core but I haven't decoded all the flags yet.

[2022-10-21 17:00] #16162 closed

[2022-10-21 17:23] ChengJin01 commented on #16161
1) Looking at the report of the failing build at https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_Nightly/31/tapTestReport/
[code]
which seems odd to me `jdk_foreign_0` failed while `jdk_foreign_1` passed given the FFI invocation has nothing to do with JIT/GC, in which case `jdk_foreign_0` and `jdk_foreign_1` should end up with the same result.

2) I compiled a b

[2022-10-21 17:24] ChengJin01 commented on #16161
FYI: @fengxue-IS

[2022-10-21 18:04] fengxue-IS commented on #16161
I am not aware of any changes related to method handle invocation that was merged.
The exception doesnt seem possible as invokeBasic is implemented as an INL in the vm and resolution ignores any signature since the method is polymorphoic. There should be no reason for a NoSuchMethodError unless the methodhandle class is changed/corrupted

[2022-10-21 18:06] ChengJin01 commented on #16161
Launched a Grinder (x10) at https://openj9-jenkins.osuosl.org/job/Grinder/1428/ on other x86_64 machines to see how it goes.

[2022-10-21 18:09] dchopra001 commented on #15855
I did finally manage to get an AOT log for this. Due to the way the files are moved around post crash by the test harness the rtlog isn't there. I think I should still be able to get some information out of this though. I'm looking through the results right now. Hopefully I'll have an update soon.

[2022-10-21 19:49] JasonFengJ9 commented on #10460
[JDK8 0.35 rc1 internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_special.system_aarch64_linux_testList_0/316/)(`cent7-aarch64-4`)
[code]

[2022-10-21 19:58] JasonFengJ9 commented on #14115
[JDK8 0.35 rc1 internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_extended.functional_ppc64_aix_testList_1/322/)(`paix818`)
[code]
[50x internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28929/)

[2022-10-21 20:28] babsingh opened #16167 "[JDK19] JVMTI VirtualThread[Mount|UnMount] Events"
**JVMTI VirtualThreadMount and VirtualThreadUnMount events** are part of the **JVMTI Extension API**, which is not covered by the [JVMTI documentation](https://download.java.net/java/early_access/jdk19/docs/specs/jvmti.html). So, they don't need to be supported for the current [Java 19 milestone](https://github.com/eclipse-openj9/openj9/milestone/35).

Their implementation will be similar to the V

[2022-10-21 20:28] babsingh commented on #16167
fyi @fengxue-IS @tajila @pshipton @JasonFengJ9

[2022-10-21 20:37] babsingh opened #16168 "[JDK19] JVMTI GetCarrierThread"
JVMTI **GetCarrierThread** is part of the JVMTI Extension API, which is not covered by the [JVMTI documentation](https://download.java.net/java/early_access/jdk19/docs/specs/jvmti.html). So, it doesn't need to be supported for the current [Java 19 milestone](https://github.com/eclipse-openj9/openj9/milestone/35).

GetCarrierThread just returns the carrier thread object for a virtual thread via one

[2022-10-21 20:38] babsingh commented on #16168
fyi @fengxue-IS @tajila @pshipton @JasonFengJ9

[2022-10-21 20:45] JasonFengJ9 opened #16169 "JDK8 jdk_security3_0_FAILED - SSLException: Tag mismatch!"
Failure link
------------

From [an internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_extended.openjdk_s390x_linux/90/)(`ubu22s390x-rt4-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_security3_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_

[2022-10-21 20:51] ChengJin01 commented on #15466
Close this issue as https://github.com/adoptium/aqa-tests/pull/4068 has been merged.

[2022-10-21 20:51] #15466 closed

[2022-10-21 21:12] JasonFengJ9 commented on #12796
[JDK8 0.35 rc1 build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_extended.openjdk_x86-64_windows/74/)(`win10x64vs6`)
[code]

[2022-10-21 21:52] fengxue-IS commented on #15624
Moving this out of Java 19 milestone as test is targeting structured concurrency which is still in incubator. Not required for Java 19

[2022-10-21 22:30] JasonFengJ9 commented on #15606
[JDK17 0.35 rc1](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk17_j9_extended.openjdk_x86-64_linux/91/)(`ubu22x86-rt2-1`)
[code]

[2022-10-22 09:35] #15941 closed

[2022-10-23 12:57] JitRevealer opened #16172 "A test case that J9 does not execute properly, but Hotspot executes correctly"
## Affected versions

We found a test case with execution problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at Attachment.

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

## Problem summary

When executing the test case with the instruction java -cp .compiler.c2.Test8004741 it doesn't work properly, but Hotspot is

[2022-10-23 20:20] DanHeidinga commented on #16172
@JitRevealer can you expand on this?  What is the expected behaviour and how does OpenJ9 differ from that?

[2022-10-24 13:22] pshipton commented on #13477
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_x86-64_windows_Personal_testList_0/31
DaaLoadTest_daa1_special_5m_24

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_special.system_x86-64_windows_Personal_testList_0/31/system_test_output.tar.gz

[code]

The load-* threads are doing the following in multiple core files:
[code]

[2022-10-24 14:05] pshipton commented on #13477
@keithc-ca @0xdaryl any thoughts about the stack in the previous comment? Not sure why all the test load-* threads would be stuck in this state.

[2022-10-24 14:10] pshipton opened #16173 "zlinux build killed"
https://openj9-jenkins.osuosl.org/job/Build_JDK17_s390x_linux_Personal/369/console - [rh7-390-4](https://openj9-jenkins.osuosl.org/computer/rh7-390-4)
[code]

@AdamBrousseau @jdekonin

[2022-10-24 14:13] pshipton commented on #16159
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/378/
gcPolicyNogcOOMTest_1
[code]

[2022-10-24 14:14] pshipton commented on #16159
@amicic any ideas why this failure recently started to occur?

[2022-10-24 14:25] tajila commented on #15917
@JasonFengJ9 is this passing with the latest jdk19 changes?

[2022-10-24 14:28] tajila commented on #15628
@JasonFengJ9 does this still fail?

[2022-10-24 14:29] tajila commented on #15491
@JasonFengJ9 Does this pass with the latest jdk19 change?

[2022-10-24 14:30] pshipton opened #16174 "jdk19 ThreadInterruptImplTest test_interruptDuringRun "interrupt flag should not be set", JCL_Test test_interrupted "Interrupted returned true for non-interrupted thread""
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_s390x_linux_Nightly_testList_0/34
ThreadInterruptImplTest_0
[code]

JCL_Test_0
[code]

https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_s390x_linux_OMR_testList_0/24
JCL_Test_0
JCL_Test_2
[code]

[2022-10-24 14:31] pshipton commented on #16174
@tajila fyi. Not sure if these are related to https://github.com/ibmruntimes/openj9-openjdk-jdk19/pull/41.

[2022-10-24 14:35] amicic commented on #16159
No quick explanation, nor a clear suspect in the list of changes.
Also, I don't know how much more than Xmx1G we would test need to throw OOM, to start with.

[2022-10-24 14:37] pshipton opened #16175 "jdk19 OpenJDK java/foreign/LibraryLookupTest.java LibraryLookupTest.testLoadLibrarySharedClosed() and crash"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_Nightly/32 - [mac12-x86-1](https://openj9-jenkins.osuosl.org/computer/mac12-x86-1)
jdk_foreign_0
java/foreign/LibraryLookupTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_Nightly/32/openjdk_test_output.tar.gz
[code]

[2022-10-24 14:41] pshipton opened #16176 ""Rerun in Grinder with failed test targets" uses wrong platform"
The "Rerun in Grinder with failed test targets" link from https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_Nightly/32/ creates a grinder on the default platform (x86-64_linux) instead of the same platform where the failure occurred (x86-64_mac).

https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=testList+TESTLIST=jdk_foreign_0

[2022-10-24 14:43] pshipton commented on #16176
Created in OpenJ9 accidentally moved to https://github.com/adoptium/aqa-tests/issues/4080.

[2022-10-24 14:44] keithc-ca commented on #13477
My first guess would be that those threads have encountered an infinite loop in `initializeOSRBuffer()`.

[2022-10-24 14:45] pshipton commented on #16175
grinder https://openj9-jenkins.osuosl.org/job/Grinder/1436/

[2022-10-24 14:50] pshipton commented on #13477
Attaching snap file created from a core.
[snap.txt](https://github.com/eclipse-openj9/openj9/files/9852640/snap.txt)

Last 100 lines
[code]

[2022-10-24 15:02] pshipton commented on #16159
I guess it's a problem with the test. By my reading the test uses random numbers to allocate between 100MB and 900MB and expects to get an OOM with a 1GB heap. Seems to me if the random numbers end up allocating closer to 100MB no OOM will occur. I can modify the test to run more iterations to guarantee OOM no matter which random numbers come up.
[code]

[2022-10-24 15:02] mikezhang1234567890 commented on #16132
Taking a look at this.

[2022-10-24 15:02] pshipton commented on #16159
@LinHu2016 fyi

[2022-10-24 15:06] AdamBrousseau commented on #16173
No cleanup zlinux job running at the time.
All node config appear to be using unique IPs.
I see Joe is running a compile now.

[2022-10-24 15:06] pshipton commented on #16159
No, my math is wrong. It allocates a minimum of 10GB (10 * 1024*1024*1024). This should guarantee OOM with a 1GB heap. Unless the loop isn't working properly for some reason.

I'll modify the test to get more info about what is allocated.

[2022-10-24 15:06] dchopra001 commented on #15855
This problem happens because of a `countDigits` transformation by idiomRecognition:
[code]
The `loadaddr` at `n1088n` is a table that does not have a proper relocation record and is instead stored as a `TR_DataAddress`

Here's the table: https://github.com/eclipse-openj9/openj9/blob/1af0a294ca40b5e2417f80a447613c2320496ea1/runtime/compiler/optimizer/IdiomTransformations.cpp#L10452-L10474

I'm not

[2022-10-24 15:16] JasonFengJ9 commented on #15628
Not seen in recent builds.
Closing

[2022-10-24 15:16] #15628 closed

[2022-10-24 15:17] pshipton commented on #16175
The grinder failed a number of times in https://openj9-jenkins.osuosl.org/job/Grinder_iteration_0/169 on [mac11-x86-2](https://openj9-jenkins.osuosl.org/computer/mac11-x86-2), passed on the other machines ([mac10-x86-2](https://openj9-jenkins.osuosl.org/computer/mac10-x86-2), [mac10-x86-3](https://openj9-jenkins.osuosl.org/computer/mac10-x86-3), [mac10-x86-4](https://openj9-jenkins.osuosl.org/comp

[2022-10-24 15:17] pshipton commented on #16175
@tajila @JasonFengJ9

[2022-10-24 15:18] pshipton commented on #16159
Grinder to see if I can reproduce it https://openj9-jenkins.osuosl.org/job/Grinder/1437/

[2022-10-24 15:20] cjjdespres commented on #14538
From, e.g.,

- `/job/Test_openjdk17_j9_extended.functional_x86-64_linux_jit_Personal/426`
- `/job/Test_openjdk11_j9_extended.functional_x86-64_linux_jit_Personal/506`
- `/job/Test_openjdk11_j9_sanity.system_x86-64_linux_jit_Personal/494`
- `/job/Test_openjdk17_j9_sanity.system_x86-64_linux_jit_Personal/419`

failures in

- `TestJcmd_0`
- `threadMXBeanTestSuite1_2`
- `threadMXBeanTestSuite1_3`
- `t

[2022-10-24 15:22] #15491 closed

[2022-10-24 15:24] ChengJin01 commented on #14487
Close this issue given https://github.com/adoptium/aqa-tests/pull/4050 was verified and merged.

[2022-10-24 15:24] #14487 closed

[2022-10-24 15:24] #16121 closed

[2022-10-24 15:27] JasonFengJ9 commented on #16175
Will triage

[2022-10-24 15:28] jdekonin commented on #16173
The compile passed without issue, the PR that triggered doesn't appear to have anything to do with javadoc (where the failures above is), so not sure what to say.  Short of reviewing to make sure the OpenJ9/OpenJDK javadoc dependencies are accurate, I don't see a problem atm.

https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/281/

[2022-10-24 15:35] JasonFengJ9 commented on #15917
This issue (on `zlinux`) wasn't seen on internal builds.
Launched [50x internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/28966/)

[2022-10-24 15:42] pshipton commented on #16159
It's easy to reproduce. A ginder on the test doesn't use `-Xdump:none:events=systhrow,filter=java/lang/OutOfMemoryError` so that needs to be added.

[2022-10-24 15:46] amicic commented on #16159
Could you run with disabled stack allocations, with either -Xint or -Xjit:disableEscapeAnalysis (not sure of exact syntax)?

[2022-10-24 15:47] gacholio commented on #15917
I've just taken a look at the implementation of `getThreads` and it's allocating objects and throwing exceptions while holding exclusive which is absolutely illegal. The native needs to be rewritten and we should do a scan for other similar offenders.

https://github.com/eclipse-openj9/openj9/blob/bb7dc4eaba0aa1a8d1e6d6e9a40756a8b53bf09c/runtime/jcl/common/thread.cpp#L485-L545

[2022-10-24 15:47] llxia opened #16178 "jcstress_FencedDekkerTest failed with field is not padded"
jcstress is a newly added group of tests:
https://github.com/adoptium/aqa-tests/tree/master/system/jcstress
https://github.com/openjdk/jcstress

`jcstress_FencedDekkerTest_0` failed with openj9, but passed with Adopt build:
- openj9:
[internal/Grinder/28965](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/28965)
[code]

[code]

- Adopt:
[internal/Grinder/28959](https://hy

[2022-10-24 15:48] pshipton commented on #16173
The failing build isn't a PR build, it's a weekly build for special.system testing, so it's building the head stream. The other java versions (8, 11) worked. The OMR acceptance this morning worked. I suspect sometimes our zlinux machines don't have enough resources and the build gets killed by the OS.

[2022-10-24 15:50] pshipton commented on #16178
@tajila fyi

[2022-10-24 16:04] gacholio commented on #15917
It's quite possible that https://github.com/eclipse-openj9/openj9/pull/15227 exposed the problems with this native, but the things it's doing have always been invalid.

[2022-10-24 16:11] gacholio commented on #16159
There's no chance huge arrays are being stack allocated. SA objects are part of the JIT stack frame and are subject to the stack overflow check. We could never exceed the -Xss value for a stack-allocated object.

[2022-10-24 16:27] pshipton commented on #16159
A test modification to retain the allocated byte[] passed.
https://github.com/eclipse-openj9/openj9/compare/master...pshipton:nogcoom?expand=1

Running with -Xint (unmodified test) passed.

Running with -Xjit:disableEscapeAnalysis (unmodified test) still failed.

[2022-10-24 16:28] pshipton commented on #16159
In the original test, maybe the byte[] isn't stack allocated but the allocation is optimized out since it's never used?

[2022-10-24 16:29] mikezhang1234567890 commented on #16132
The exception occurs on successful runs too. The reason for the test failure is a timeout:

[code]

Seems to be a similar issue as https://github.com/eclipse-openj9/openj9/issues/16134 and https://github.com/eclipse-openj9/openj9/issues/16083.

[2022-10-24 16:29] pshipton commented on #16159
@0xdaryl do you know what changed to cause this failure?

[2022-10-24 16:29] gacholio commented on #16159
That seems likely and your test fix seems appropriate.

[2022-10-24 16:34] gacholio commented on #15917
The code is already creating refs for the Thread objects, so fixing this may be as simple as moving the `releaseExclusiveVMAccess` to after the first loop (and fixing any exceptions being thrown under exclusive).

[2022-10-24 16:38] amicic commented on #16159
I agree with the explanation, but seems to me the new double array is again really unused, it's probably just harder for compiler to figure it out.

[2022-10-24 16:49] #16159 closed

[2022-10-24 16:55] pshipton commented on #14538
What changed since the working Friday night builds.
https://github.com/eclipse-openj9/openj9/compare/1af0a294...bb7dc4eaba0

So far I'm not seeing what the problem is. @babsingh fyi

[2022-10-24 16:59] pshipton commented on #14538
Spotted it, added a comment to https://github.com/eclipse-openj9/openj9/commit/ce4d4a3c5811ee3e446df6b066e9bbdfd39f2751

@thallium

[2022-10-24 17:00] babsingh commented on #14538
https://github.com/eclipse-openj9/openj9/pull/15956 may be the culprit. @thallium @fengxue-IS Can you please investigate the above failures?

[2022-10-24 17:23] pshipton commented on #16172
The testcase runs using -Xint, but it hangs with the default parameters.

Hotspot output
[code]

OpenJ9 with -Xint
[code]

OpenJ9 default params
[code]

[2022-10-24 17:25] pshipton commented on #16172
`-Xjit:optlevel=cold` runs, `-Xjit:optlevel=warm` hangs.

[2022-10-24 17:29] pshipton commented on #16172
Decompiling the test case we get the following

[code]

[2022-10-24 17:31] pshipton commented on #16172
@0xdaryl @hzongaro fyi

[2022-10-24 17:46] pshipton commented on #14115
Jason FYI we don't need grinders on future failures of this issue, although I added the current grinder results to the last comment. The failure occurs all the time in the nightly builds. We've set the blocker label on this issue for a number of past releases, but so far we've been unable to identify and fix the problem. It doesn't block the 0.35 release.

[2022-10-24 17:55] pshipton commented on #16169
Closing as a dup of https://github.com/eclipse-openj9/openj9/issues/15862.
This is an OpenJDK problem.

[2022-10-24 17:55] #16169 closed

[2022-10-24 18:25] pshipton commented on #9876
Another one in an [internal test](http://vmfarm.rtp.raleigh.ibm.com/job_output.php?id=45630185)

[2022-10-24 18:27] thallium commented on #15933
I can work on this

[2022-10-24 20:19] tajila commented on #16174
10 job grinder https://openj9-jenkins.osuosl.org/job/Grinder/1445/

[2022-10-24 20:19] hzongaro commented on #15855
Dhruv @dchopra001, I'll take a look

[2022-10-24 20:22] tajila commented on #16174
I think there is an issue with the openJDK implementation in that it uses a field in Thread to query the interrupt status, wheres J9 calls in to the JVM to invoke `omrthread_clear_interrupted`.

But the recent changes do not affect this behaviour so Im not sure why this would only start failing now.

[2022-10-24 20:50] #15917 closed

[2022-10-24 20:51] tajila commented on #16132
@mikezhang1234567890 is the test intermittent? If we double the timeout will it pass?

[2022-10-24 20:57] mikezhang1234567890 commented on #16132
Looks intermittent for `java/util/concurrent/ThreadPoolExecutor/ConfigChanges.java` and `java/lang/System/LoggerFinder/internal/BootstrapLogger/BootstrapLoggerTest.java` from grinders. I haven't managed to reproduce the error for `CallerAccessTest.java` here. Will try with a higher timeout.

[2022-10-24 21:13] ChengJin01 commented on #16161
This is the same issue in JIT which was detected a long while ago in https://github.com/eclipse-openj9/openj9/issues/14135 (still not yet resolved).

[2022-10-24 21:14] ChengJin01 commented on #16161
FYI: @nbhuiyan, @0xdaryl

[2022-10-24 21:21] ChengJin01 commented on #16161
Hi @nbhuiyan & @0xdaryl, is there any plan when to get this issue resolved as it is an intermittent failure on JDK17/18/19+?

[2022-10-24 21:46] tajila commented on #16174
I havent been able to reproduce it on x86, and the fact that only s390 fails leads me to think this issue is intermittent.

For some reason the grinder above failed

[2022-10-24 22:23] #16080 closed

[2022-10-24 22:24] pshipton commented on #14538
https://github.com/eclipse-openj9/openj9/pull/16181 is merged so the previous failures should be resolved.

[2022-10-24 22:59] pshipton commented on #16168
Is somebody taking care of excluding those tests?

[2022-10-24 23:00] pshipton commented on #16167
Is somebody taking care of excluding those tests?

[2022-10-24 23:13] pshipton commented on #16105
@tajila seems we should modify the extensions to look at the OPENJ9_JAVA_OPTIONS as well as the command line options.

[2022-10-25 00:58] babsingh commented on #16167
@fengxue-IS Can you confirm if you plan to exclude the above tests while enabling the fixed tests?

[2022-10-25 00:59] babsingh commented on #16168
@fengxue-IS Can you confirm if you plan to exclude the above tests while enabling the fixed tests?

[2022-10-25 01:16] fengxue-IS commented on #16168
yes, I've created https://github.com/fengxue-IS/aqa-tests/tree/loom3 to address this, still testing to make sure it covers all cases

[2022-10-25 01:16] fengxue-IS commented on #16167
yes, I've created https://github.com/fengxue-IS/aqa-tests/tree/loom3 to address this, still testing to make sure it covers all cases

[2022-10-25 01:53] fengxue-IS opened #16184 "[JDK19] JTReg JVMTI serviceability tests compile failures"
Tests to be triaged/excluded:
[code]

due to
[code]

[2022-10-25 01:54] fengxue-IS commented on #16184
I will create a PR to exclude these tests

[2022-10-25 02:03] fengxue-IS opened #16185 "[JDK19] exclude JTReg JVMTI serviceability tests due to implementation differences"
Tests:
[code]
checks the Contination stack frames which is impl specific.
See details in https://github.com/eclipse-openj9/openj9/pull/15788 and https://github.com/eclipse-openj9/openj9/pull/15753

[2022-10-25 02:06] fengxue-IS opened #16186 "[JDK19] JTReg JVMTI serviceability tests failures"
[code]

Test failures seen in extended.openjdk, JVMTI serviceability is a newly enabled test suite which have not been tested before.
Adding to backlog for future triaging.

[2022-10-25 02:06] fengxue-IS commented on #16186
I will create a PR to exclude these tests for now

[2022-10-25 02:07] gacholio commented on #16105
This means duplicating (via sharing the code I hope) all of the option processing code, which will either require a port library or an API change to allow pluggable malloc. If we go this far, we should also use the correct default values.

The launcher will need to handle ` -Xmso` and I think there's another JDK compatibility option which sets the java and native stack sizes, but I can't recall wh

[2022-10-25 02:11] fengxue-IS opened #16187 "[JDK19] JTReg JVMTI serviceability tests Loom related failures"
[code]
Test failures that may be related to Loom.

[2022-10-25 02:12] fengxue-IS commented on #16187
I will be excluding these test in the build, they should be re-enable/permanent excluded after triaging
FYI @babsingh

[2022-10-25 08:15] ayuan0828 opened #16188 "When openj9 calls the offsetByCodePoints (int index, int codePointOffset) function with the parameter “- XX:+CompactStrings”, it will get incorrect results."
**Description**:

Run the following test case，when the offsetByCodePoints (int index, int codePointOffset) function is called, if the index value obtained is negative, OpenJ9 using the "CompactStrings"parameter will not get the "IndexOutOfBoundsException", just as OpenJ9 without this parameter outputs.

**Environment**：

[code]

**JVM Information**:
jdk8:

[code]

jdk11:

[code]

**Testcase**:

[c

[2022-10-25 11:57] pshipton commented on #16188
@tajila @mikezhang1234567890 fyi

[2022-10-25 13:02] vij-singh commented on #15268
@gita-omr - Any new news?

[2022-10-25 13:15] tajila commented on #15504
This has been resolved

[2022-10-25 13:15] #15504 closed

[2022-10-25 13:16] tajila commented on #15503
@thallium are those tests still failing?

[2022-10-25 13:18] tajila commented on #15939
@fengxue-IS any update on this?

[2022-10-25 13:18] tajila commented on #15265
@fengxue-IS Were you able to get results?

[2022-10-25 13:33] tajila commented on #14996
Everything we need done for JDK19 is tracked by an issue, so Im moving this out.

[2022-10-25 13:42] vij-singh commented on #15687
Has this been reproduced since Aug 9th?

[2022-10-25 14:00] pshipton commented on #15687
I see it's "Illegal instruction", which we typically see on VICOM machines. I typically disable these machines in the builds so we don't get regular failures. We do have https://github.com/eclipse-openj9/openj9/issues/9876 tracking an active VICOM problem.

[2022-10-25 14:42] gita-omr commented on #15268
@Akira1Saitoh got interesting findings. The tests are actually very small but looks like a lot of them are running in parallel. I am not very familiar with testng but maybe there are settings to run fewer processes/threads? I think this would be the first thing to try. @JasonFengJ9

[2022-10-25 14:59] fengxue-IS commented on #15939
This test passed with -Xint, failed when JIT is enabled due to `Invalid JIT return address`.
Similar failure seen on `java/lang/Thread/virtual/stress/PingPong.java` on aarch64 and x86
[code]

I am working on triaging this, may need help from JIT team with understanding this cause

[2022-10-25 14:59] fengxue-IS commented on #15189
Test failure seen with JIT enabled, on aarch64 and plinux
similar to #15939

[2022-10-25 15:02] fengxue-IS commented on #15265
Have not seen failure in Grinder on plinux and aarch64. un-excluding this as part of https://github.com/adoptium/aqa-tests/pull/4060

[2022-10-25 15:05] thallium commented on #15503
Passing now

[2022-10-25 15:24] fengxue-IS commented on #16185
Closing as test should be permanently excluded, reopen issue if changes to test/design is being done

[2022-10-25 15:24] #16185 closed

[2022-10-25 15:28] JasonFengJ9 commented on #16175
[200x internal grinder](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/28977/) passed
Launched a grinder on [mac11-x86-2](https://openj9-jenkins.osuosl.org/computer/mac11-x86-2) https://openj9-jenkins.osuosl.org/job/Grinder/1451/

[2022-10-25 15:30] fengxue-IS commented on #16184
OpenJ9 currently uses a placeholder for `VMOption` class, may need to implement this for future (This class have never been needed previously before serviceability test suite is added).
Doc: https://docs.oracle.com/en/java/javase/19/docs/api/jdk.management/com/sun/management/VMOption.html

[2022-10-25 15:45] mikezhang1234567890 commented on #16188
Looks like we're missing a bounds check in our implementation of `String`, `StringBuffer`, and `StringBuilder`.

Will create PR with the fix and updated tests for the failure modes soon.

[2022-10-25 16:27] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly_testList_2/375
TestJlmRemoteThreadNoAuth_0
[code]

[2022-10-25 16:35] pshipton commented on #16115
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/395
jdk_util_1
java/util/Random/RandomTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/395/openjdk_test_output.tar.gz
[code]

[2022-10-25 16:50] pshipton commented on #16115
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/382
jdk_util_1
java/util/ResourceBundle/Bug4168625Test.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/382/openjdk_test_output.tar.gz
[code]

aqa-tests/TKG/output_16666683826906/jdk_util_1/work/java/util/ResourceBundle/Bug4168625Test/

[2022-10-25 16:51] pshipton commented on #16115
Likely another in same test as the previous comment.
The failure is a timeout in java/util/ServiceLoader/NPE.java, but there is a core in java/util/Random/RandomTest
The core seems to be corrupt or truncated, or DDR can't handle a problem with the JIT stack.
[code]

[2022-10-25 16:58] tajila opened #16191 "JDK19 Memleaks test failure"
[code]

https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_s390x_linux_Nightly_testList_1/35

[2022-10-25 17:04] pshipton commented on #16174
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_aarch64_linux_Nightly_testList_1/34
JCL_Test_none_SCC_1
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_aarch64_linux_Nightly_testList_0/34
JCL_Test_none_SCC_0
[code]

[2022-10-25 17:09] pshipton opened #16192 "jdk19 VmArgumentTests testXcheckMemory Target process failed"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_0/27
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.functional_aarch64_linux_Nightly_testList_1/25
VmArgumentTests_0
[code]

[2022-10-25 17:12] pshipton commented on #16192
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.functional_ppc64le_linux_Nightly_testList_1/25
VmArgumentTests_0
[code]

[2022-10-25 17:15] pshipton commented on #16192
Perhaps related to https://github.com/eclipse-openj9/openj9/issues/16191

[2022-10-25 17:16] pshipton commented on #15855
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_1/27
testSCCacheManagement_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_1/27/functional_test_output.tar.gz

[2022-10-25 17:18] pshipton opened #16193 "jdk19 MiniMix_5m memoryCorruptionDetected"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_2/34
MiniMix_5m_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_2/34/system_test_output.tar.gz
[code]

[2022-10-25 17:19] pshipton commented on #16193
@tajila @gacholio fyi

[2022-10-25 17:21] pshipton commented on #16191
also https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_x86-64_mac_Nightly_testList_0/33/
memleaksTest_0
same `Block was allocated by /Users/jenkins/workspace/Build_JDK19_x86-64_mac_Nightly/openj9/runtime/jcl/common/thread.cpp:497`

[2022-10-25 17:21] pshipton commented on #16191
https://github.com/eclipse-openj9/openj9/issues/16192 may be related to this.

[2022-10-25 17:23] JasonFengJ9 commented on #15855
Similar segmentation error seen on [RTC 148250](https://jazz103.hursley.ibm.com:9443/jazz/resource/itemName/com.ibm.team.workitem.WorkItem/148250)

[2022-10-25 17:23] pshipton commented on #16191
Changes from last build
https://github.com/eclipse-openj9/openj9/compare/bb7dc4eaba0...1a8e36dcc425

[2022-10-25 17:23] pshipton commented on #16192
Changes from last build
https://github.com/eclipse-openj9/openj9/compare/bb7dc4eaba0...1a8e36dcc425

[2022-10-25 17:24] pshipton commented on #16193
Changes from last build
https://github.com/eclipse-openj9/openj9/compare/bb7dc4eaba0...1a8e36dcc425

[2022-10-25 17:29] pshipton commented on #16191
Corrected changes link.

[2022-10-25 17:31] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_0/32
LambdaLoadTest_J9_5m_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.system_aarch64_linux_Nightly_testList_0/32/system_test_output.tar.gz
[code]

[2022-10-25 17:33] pshipton commented on #16192
It's possible the problem was introduced in https://github.com/eclipse-openj9/openj9/compare/bb7dc4eaba0...1a8e36dcc425 as there was an alinux only build where this problem was not seen.

https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK19/184/

[2022-10-25 17:49] pshipton opened #16194 "jdk8 builds are missing the freetype license"
Builds of jdk8 with OpenJ9 include freetype when building on Mac and Windows, but the freetype licence text is not included in the builds.

[2022-10-25 18:04] pshipton commented on #16194
This will be fixed in the head stream by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/631

[2022-10-25 19:15] pshipton commented on #16193
Closing assuming fixed by https://github.com/eclipse-openj9/openj9/pull/16195

[2022-10-25 19:15] #16193 closed

[2022-10-25 19:15] pshipton commented on #16192
Closing assuming fixed by https://github.com/eclipse-openj9/openj9/pull/16195

[2022-10-25 19:15] #16192 closed

[2022-10-26 03:05] pshipton opened #16198 "jdk19 OpenJDK java/lang/Thread/virtual/ActiviateSpareCarrier.java timeout"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_Nightly/36
java/lang/Thread/virtual/ActiviateSpareCarrier.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_Nightly/36/openjdk_test_output.tar.gz
[code]

Failed on amac as well although jstack couldn't connect to get the stacks. I suspect it's goi

[2022-10-26 03:06] pshipton commented on #16198
@tajila @fengxue-IS fyi

[2022-10-26 03:41] fengxue-IS commented on #16198
It is a new test added to the JDK19 repo in 19.0.1 which has not been test before.
I've created a PR to exclude this test while this failure is being triaged

[2022-10-26 04:23] JavaTailor commented on #16078
We also submit relevant issue reports to the hotspot developers. They believe that the reported issue was confirmed to exist before JDK 17.0.4.1 but not observed in later versions (18,19,20). Since this problem has not been observed in later releases, the initial fix will be ported back to JDK 17 and 11.

[2022-10-26 13:01] JavaTailor opened #16202 "JDK11 throws the RuntimeException, but JDK8 executes normally"
## Affected versions

We found a test case with execution problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at Attachment.

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

## Problem summary
This is a repeat submission of #16078 and would like to explain the details related to the issue. We also submit relevant iss

[2022-10-26 13:53] tajila commented on #16174
Test failed again on s390x
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_s390x_linux_Nightly/36/tapResults/

[2022-10-26 14:54] tajila commented on #16174
Grinder: https://openj9-jenkins.osuosl.org/job/Grinder/1454/tapResults/

[2022-10-26 15:32] pshipton commented on #16202
What is the Htospot issue?

[2022-10-26 15:38] babsingh opened #16203 "[JDK19] JVMTI GetVirtualThread"
JVMTI **GetVirtualThread** is part of the JVMTI Extension API, which is not covered by the [JVMTI documentation](https://download.java.net/java/early_access/jdk19/docs/specs/jvmti.html). So, it doesn't need to be supported for the current [Java 19 milestone](https://github.com/eclipse-openj9/openj9/milestone/35).

GetVirtualThread just returns the virtual thread object corresponding to a carrier t

[2022-10-26 15:55] pshipton opened #16204 "jdk19 OpenJDK java/lang/reflect/IllegalArgumentsTest.java Cannot invoke "sun.invoke.util.ValueConversions.primitiveConversion(sun.invoke.util.Wrapper, java.lang.Object, boolean)" because "x" is null"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_ppc64_aix_Nightly/35/
jdk_lang_1
java/lang/reflect/IllegalArgumentsTest.java
[code]

[2022-10-26 15:56] pshipton commented on #16204
@tajila @0xdaryl fyi

[2022-10-26 15:59] pshipton commented on #15855
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_0/28
Running javac to compile the test material.

[2022-10-26 16:01] pshipton commented on #15855
None of the extended system testing got started.
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_0/35
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_1/35
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.system_s390x_linux_Nightly_testList_1/35

[2022-10-26 16:54] keithc-ca commented on #16202
The (unexpected) exception I see using Java 11 is
[code]

[2022-10-26 17:42] #16188 closed

[2022-10-26 18:30] hangshao0 opened #16207 "Class.getModifiers() should recognize new Valhalla modifiers"
Class modifiers `ACC_IDENTITY`, `ACC_VALUE` and `ACC_PRIMITIVE` are added in project Valhalla.

`Class.getModifiers()` should return:
1. `ACC_IDENTITY` for identity classes
2. `ACC_VALUE`  for value classes
3. `ACC_VALUE | ACC_PRIMITIVE` for primitive value types

Currently these flags are missing in the return value of `Class.getModifiers()` in OpenJ9 Implementation.

[code]

OpenJ9 output:
[code

[2022-10-26 19:10] fipro78 opened #16208 "Performance decrease with jlink custom runtime image"
Hi,

I created a test setup for creating a container with minimal size for an OSGi application. For this I create several containers with several setups and then start-stop the application multiple times to get an indication about startup times.

The jlink image build with Temurin starts in an average about 1500 ms. The one created with Semeru starts with an average of about 2400 ms. After a discu

[2022-10-26 19:44] pshipton commented on #16208
The output `ROMClass=8263768` means 8 million bytes were used, for `ROMClasses=2809` classes.

Yes.

Besides the ROMClasses, metadata, hints and profiles, there is `AOTCode=13549160` bytes of AOT code, but this is what makes the app startup faster. If there is a concern this amount of data is too much, you can restrict it to a smaller size and bench the difference in startup time to decide on an a

[2022-10-26 19:47] pshipton commented on #16208
@mpirvu fyi

[2022-10-26 19:54] WilburZjh commented on #15967
Similar failure for `java/security/cert/CertPathBuilder/targetConstraints/BuildEEBasicConstraints.java.BuildEEBasicConstraints` for JDK17.
This `BuildEEBasicConstraints` test case in jdk17 failed when running in Jenkins [build](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder_FIPS/220/testReport/junit/java_security_cert_CertPathBuilder_targetConstraints_BuildEEBasicConstraints/java/BuildEEB

[2022-10-26 19:54] dchopra001 commented on #15855
@jdmpapin mentioned in an offline discussion that it should be reasonable okay to disable this transformations for relocatable compiles.

I was curious as to why this was only showing up now in Java 19. @hzongaro took at the logs for Java 17 and 19 earlier and it seems like it might just be luck that we're seeing this be so prevalent in Java 19 now.

[2022-10-26 19:54] dchopra001 commented on #15855
I'm testing out a fix for this in the internal builds and will open a PR once the grinder passes.

[2022-10-26 19:59] vij-singh commented on #15855
Thank you Dhruv

[2022-10-26 20:56] fengxue-IS opened #16209 "[Discussion] Redesign StackWalker implementation on Continuation"
From discussions in #15181 and #15779
Currently VM's native stackwalker (swalk.c) uses stack allocated `J9VMThread` and `J9VMEntryLocalStorage` to hold data from `J9VMContinuation` when initializing a stackwalk. Stackwalker internally uses the vmthread and ELS to setup `J9StackWalkState` which holds all the necessary fields during walk.

In DDR, it is not possible to "stack allocate" structures so

[2022-10-26 21:31] pshipton opened #16210 "mac11-aarch64-8 offline"
I noticed https://openj9-jenkins.osuosl.org/computer/mac11%2Daarch64%2D8/ was offline due to `Disk space is too low. Only 0.925GB left on /Users/jenkins.`. There were a lot of OpenJ9 diagnostic files in /Users/jenkins, created on the 24th (likely some bug we fixed already). I deleted all the files. Not sure if an automated cleanup job should have done this, or maybe it's manual since jenkins took

[2022-10-26 21:37] pshipton opened #16211 "z/OS abbs Invalid JIT return address"
[Internal test](http://vmfarm.rtp.raleigh.ibm.com/job_output.php?id=45854881) [zOS S390] 80 Load_Level_2.abbs.5mins.Mode103 - fyrec60f
`-Xgcpolicy:optthruput -Xjit:count=0 -Xnocompressedrefs`

100x grinder running

[code]

[2022-10-26 21:50] AdamBrousseau commented on #16210
Re core files. I had noticed this morning but got distracted before I had a chance to ask about the errors. I looked at 7 but it didn't have any.
I was looking in regards to eclipse/omr#6774

[2022-10-26 22:02] mpirvu commented on #16208
The test created a 300MB SCC file. Given that the soft limit is 64MB and we have ~40MB free, the tests uses ~24MB.
We can limit the soft limit and the hard limit to 25MB by adding`-Xscmx25m`

[2022-10-26 22:08] pshipton commented on #16211
In the grinder there was [one failure](http://vmfarm.rtp.raleigh.ibm.com/job_output.php?id=45863124)
[code]

[2022-10-26 22:09] pshipton commented on #16211
@joransiu fyi

[2022-10-26 22:56] babsingh opened #16212 "[JDK19] JVMTI RedefineRunningMethods Segfaults"
This failure is related to Project Loom and will only be seen in JDK19+.

Related: https://github.com/eclipse-openj9/openj9/issues/16187.

### Issue
As per the native stack, the _segfault occurs while walking the continuation stack frames during concurrent GC_.

### Test CMD
[code]

### [GDB] Native Stack Trace
[code]

### Test Output
[code]

[2022-10-26 22:56] babsingh commented on #16212
fyi @LinHu2016 @amicic @dmitripivkine

[2022-10-26 23:12] pshipton opened #16213 "jdk20 Thread.stop(), suspend(), resume() tests failing, due to UnsupportedOperationException"
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_aarch64_mac_Nightly_testList_0/66
JCL_Test
[code]

[2022-10-26 23:16] pshipton commented on #16213
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_aarch64_mac_Nightly_testList_1/66
J9vmTest

This hangs the test suite.
[code]

[2022-10-27 00:38] pshipton commented on #16173
https://openj9-jenkins.osuosl.org/job/Build_JDK17_s390x_linux_Nightly/345 - [rh7-390-3](https://openj9-jenkins.osuosl.org/computer/rh7-390-3)
[code]

[2022-10-27 00:40] pshipton commented on #16210
Here is a termination on the same machine in the OpenJ9 builds.
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_1/167/consoleFull
[code]

[2022-10-27 00:55] pshipton commented on #16210
Seems there is something wrong with 8, I'll take it offline so it doesn't mess up more jobs than it already has.
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_aarch64_mac_Nightly/169/console
[code]

[2022-10-27 00:56] pshipton commented on #16210
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_aarch64_mac_Nightly_testList_1/166/
[code]

[2022-10-27 01:46] JavaTailor commented on #16202
The URL of the report we submitted：https://bugs.openjdk.org/browse/JDK-8294889

[2022-10-27 03:37] ChengJin01 opened #16214 "[Jtreg/FFI] Invalid struct offset returned from getArgPointer() in upcall on zLinux"
The crash occurred when running https://github.com/ibmruntimes/openj9-openjdk-jdk19/blob/openj9/test/jdk/java/foreign/TestUpcallStack.java (the corresponding native code at https://github.com/ibmruntimes/openj9-openjdk-jdk19/blob/openj9/test/jdk/java/foreign/libTestUpcallStack.c
[code]
It crashed in `copyForwardU64()` when copying from the invalid source pointer (offset) originated from `getArgPoi

[2022-10-27 03:39] ChengJin01 commented on #16214
Hi @dchopra001, could you take a look at this issue? Let me know if you need any help.

[2022-10-27 06:20] Sreekala-Gopakumar commented on #15297
@pshipton - Does this require any change in the document? If yes, then could you please let me know how I can differentiate between the 'file' and 'label' options?

[2022-10-27 07:11] mpirvu commented on #16208
Since the application is running in containers the best approach to reducing start-up time is to embed a shared class cache into the container at image build time. Semeru images already contain an SCC layer for bootstrap classes (name of SCC is `openj9_system_scc`, directory is `/opt/java/.scc`). Ideally, the application should build another layer for the same cache (this approach keeps the image

[2022-10-27 12:44] JasonFengJ9 commented on #16213
Related to https://github.com/eclipse-openj9/openj9/issues/16028

[2022-10-27 12:48] dmitripivkine commented on #16212
@babsingh  Do you have preserved system core I can look at?

[2022-10-27 12:56] babsingh commented on #16212
@dmitripivkine @LinHu2016 Core files: https://ibm.box.com/s/qxmhx0jap9x1of6zryq1a4usl59n6t7b.

[2022-10-27 13:30] babsingh opened #16215 "[JDK19] JVMTI ContYieldBreakPointTest Fails"
This test is related to Project Loom and passes with the RI.

Related: #16187.

### Issue
- `Java_ContYieldBreakPointTest_enableEvents` invokes `jvmtiGetClassMethods` and tries to find the `yield0` method in the `jdk.internal.vm.Continuation` class.
- But, `yield0` does not exist in OpenJ9's implementation of the `jdk.internal.vm.Continuation` class.
- We can either update the test or match our im

[2022-10-27 13:34] babsingh commented on #16215
RI's signature for `yield0`
[code]

@fengxue-IS Let us know how shall we proceed. Tagged this failure under the current Java 19 milestone. If this test does not need to be supported, please change the milestone.

[2022-10-27 14:39] keithc-ca commented on #15297
The document shows `label` in the defaults: I think those should instead say `file`. I don't think we need to document use of `label` (even though it is still accepted).

[2022-10-27 15:30] pshipton commented on #16173
Even the restart didn't work, on [rh7-390-2](https://openj9-jenkins.osuosl.org/computer/rh7-390-2).
https://openj9-jenkins.osuosl.org/job/Build_JDK17_s390x_linux_Nightly/346/consoleFull

[2022-10-27 17:50] pshipton commented on #16174
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_aarch64_linux_Nightly_testList_0/36
JCL_Test_none_SCC_0
[code]

[2022-10-27 17:52] pshipton commented on #15855
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_extended.functional_s390x_linux_Nightly_testList_1/29

[2022-10-27 18:09] pshipton opened #16216 "Most macOS aarch64 machines have a version mismatch"
See also [internal issue](https://github.ibm.com/runtimes/infrastructure/issues/7412).

https://openj9-jenkins.osuosl.org/label/sw.os.mac.11_5/
mac11-aarch64-1 through mac11-aarch64-8 have a sw.os.mac.11_5 label, but according to `sw_vers` only mac11-aarch64-1 is 11.5.2 and the rest are all 11.4 machines.

However if you run `defaults read loginwindow SystemVersionStampAsString` on the machines 2-

[2022-10-27 18:12] pshipton commented on #16210
Made this issue dedicated to mac11-aarch64-8 offline and created https://github.com/eclipse-openj9/openj9/issues/16216 for the other problem.

[2022-10-27 20:34] babsingh opened #16218 "JVMTI Serviceability FieldAccess/fieldacc[03|04] fail"
`FieldAccess/fieldacc03` and `FieldAccess/fieldacc04` passes with the RI.

Related: #16187

### Issue
For a platform thread, JVMTI FieldAccess event/callback is not triggered. This issue is unrelated to virtual threads (Project Loom), and will presumably also be seen with JDK8/11/17. The following check fails:
[code]

### Test CMD
[code]

### Test Output
[code]

[2022-10-27 21:06] r30shah commented on #16211
I have downloaded result files from the job in the description and inspecting the core-dump.
Also launched grinder of 50x to see if I can get the same failure again or not (`build_info.php?build_id=39374`), passes all 50x. Launched another 100x (`build_info.php?build_id=39376`).

Looking at the output of the failure from description, seems like we failed while stackwalking for thread `0x46f74000`.

[2022-10-27 21:46] LinHu2016 commented on #16212
1, I can reproduce 100% same crash locally
2, related continuation Object and J9VMContinuation structure looks normal

[2022-10-27 23:30] jdekonin commented on #16210
Upgraded to 11.7.1 as well as a `brew upgrade` for anything new that might've been problematic wrt version compatibility.

I've rebooted and its connected/active on OMR jenkins, still disabled on OpenJ9 jenkins.  I didn't want to enable and wreak nightly builds.