[2020-12-02 08:02] htreu commented on #11205
I'm checking internally if the core dump can be shared. Stay tuned.

[2020-12-02 10:45] lumpfish commented on #10638
FWIW, this is how I ran locally and added the various jvm command line options:
1. Build the openjdk-systemtest and stf repositories.
- Either build via testKitGen (https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/doc/userGuide.md) or follow https://github.com/adoptopenjdk/openjdk-systemtest
2. Make sure you can run the test.
For Windows:
[code]
For Unix
[code]
3. Add the -Xmx option to t

[2020-12-02 12:38] janvrany commented on #11136
@sxa: first few: https://github.com/eclipse/omr/pull/5698, https://github.com/eclipse/omr/pull/5699, https://github.com/eclipse/omr/pull/5700

[2020-12-02 12:42] AlexeyKhrabrov opened #11329 "Fully serialize ROMClasses sent to JITServer"
Packed ROMClasses that JIT client sends to the server do not always include UTF8 strings due to interning. In the current implementation, JITServer requests missing strings from the client and caches them in the client session. To avoid these requests, we can instead fully serialize the ROMClass with all the strings that it refers to.

All the strings (including interned ones) will be stored at th

[2020-12-02 13:17] 0xdaryl commented on #7127
Implemented in #5563.  Closing.

[2020-12-02 13:17] #7127 closed

[2020-12-02 13:54] pshipton opened #11332 "Cannot deploy artifacts from xlinux, the trustAnchors parameter must be non-empty"
Some examples

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/560
[code]

https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_xl_OMR/789
[code]

https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_OMR/778
[code]

All xlinux builds in OMR acceptance
https://ci.eclipse.org/openj9/job/Pipeline-OMR-Acceptance/2160/

[2020-12-02 13:56] pshipton commented on #11332
@jdekonin @AdamBrousseau this is blocking OMR acceptance, and I expect any future builds on xlinux, unless it's some temporary problem.

[2020-12-02 13:57] pshipton commented on #11332
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/559
[code]

[2020-12-02 13:59] pshipton commented on #10929
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_xl_Nightly/222
java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessInt.java

[2020-12-02 14:04] pshipton opened #11333 "NPEs running OpenJDK tests on zlinux"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_Nightly/253/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_xl_Nightly/232/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/250
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_xl_Nightly/228
https://ci.eclipse.org/openj9/

[2020-12-02 14:05] pshipton commented on #11333
I suspect https://github.com/eclipse/openj9/pull/11088, which is the only OpenJ9 change since the last nightly build, where the failures didn't occur.
There were OMR changes as well https://github.com/eclipse/openj9-omr/compare/1f46e75...c041fba

[2020-12-02 14:10] pshipton commented on #11333
I'm testing with #11088 reverted, https://ci.eclipse.org/openj9/job/Pipeline-Personal-Build/239/

[2020-12-02 14:15] pshipton commented on #10834
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-32_windows_OMR/783
[code]

[2020-12-02 14:53] tajila commented on #11026
Specs:
http://cr.openjdk.java.net/~gbierman/jep395/jep395-20201019/specs/records-jls.html
http://cr.openjdk.java.net/~gbierman/jep395/jep395-20201019/specs/records-jvms.html

@ChengJin01 Can you take a look at these to see if there are any VM changes required

[2020-12-02 15:08] AdamBrousseau commented on #11332
Related #10009
I assume the xlinux deault java8 got updated again. I thought we had forced this to be a static version of openj9. I will look into it.

[2020-12-02 15:19] AdamBrousseau commented on #11332
cent6-x64-3]#  /var/log/yum.log
[code]
I will look into setting OpenJ9 as default so we don't get bit again.

[2020-12-02 15:29] gita-omr commented on #11192
7 out of 100 failed (each iteration has 4 runs).

[2020-12-02 15:49] 0xdaryl opened #11334 "Remove J9VM_JIT_NEW_INSTANCE_PROTOTYPE macro"
Remove uses of the `J9VM_JIT_NEW_INSTANCE_PROTOTYPE` macro and fold associated code guarded with it assuming it is always **defined**.

Original question:

[2020-12-02 16:03] gacholio commented on #11334
This is one of the many flags that can never be changed.

[2020-12-02 16:05] 0xdaryl commented on #11334
So we can assume it is always defined, and hence remove it assuming as such.  Correct?

[2020-12-02 16:07] gacholio commented on #11334
Yes.

[2020-12-02 16:11] dnakamura commented on #7995
After running the perf benchmarks it looks like startup time is unchanged however, I'm seeing approx. a 1% increase in footprint (+/- 0.5%). I'm not sure if this is significant enough for us to care

[2020-12-02 16:13] ninja- commented on #7995
@dnakamura would you mind pushing the change somewhere? Would be great if I could make my build with adoptopenjdk scripts and already ship it on production, these symbols would be helpful

[2020-12-02 16:14] ninja- commented on #7995
did you verify the symbols are there after creating a dump? also, are they mangled or unmangled? we could add c++ unmangling to make it nicer :)

[2020-12-02 16:28] AdamBrousseau commented on #10834
That build is already cleaned up. I'm wondering if we could build a retry around the cleanWs(s) or some kind of try catch with a different kind of cleanup (like an `rm`). If you're posting here each time this happens, it seems like it doesn't happen too often. Just wondering what priority to assign to making a change here.

[2020-12-02 16:30] tajila commented on #9929
Moving this to Jan refresh release

[2020-12-02 16:31] tajila commented on #10503
@mikezhang1234567890 is there an update on this?

[2020-12-02 16:32] AdamBrousseau commented on #10834
Also, last build on that machine
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-32_windows_OMR/782/console
[code]

[2020-12-02 16:33] tajila commented on #9132
@ashbm5 Any update on this?

[2020-12-02 16:33] tajila commented on #9912
pushing this to the next release

[2020-12-02 16:37] andrew-m-leonard opened #11335 "jdk8 sanity.functional cmdLineTest_sigabrtHandlingTest_0 consumes excessive heap/disk space?"
Testcase: sanity.functional cmdLineTest_sigabrtHandlingTest_0 consumes Gb's of disk space with core dumps, typically causing AdoptOpenJDK AIX machines to run out of disk space, see: https://github.com/AdoptOpenJDK/openjdk-tests/issues/2075

This runs test https://github.com/eclipse/openj9/blob/master/test/functional/cmdline_options_testresources/src/VMBench/GPTests/GPTest.java
and on some AIX mach

[2020-12-02 16:43] tajila commented on #10707
Moving this to the next release since we are still trying to reproduce it

[2020-12-02 16:48] mikezhang1234567890 commented on #10503
Still looking into why the remote object gets GC'd early. Don't think this will be done in time for 0.24.

[2020-12-02 17:07] fjeremic commented on #11318
Thanks for pointing that out. From my internal testing on Z there are no issues with removing the code. Going to make the same change on all the platforms and test again before proceeding to open the PR if no failures occur.

[2020-12-02 17:18] 0xdaryl commented on #11318
Just as a precaution, may I suggest that such a change not be merged until after the 0.24.0 release split on Dec 6?  It will give these changes lots of time to exercise in the builds before the 0.25.0 release.

[2020-12-02 17:21] fjeremic opened #11336 "Add aviansie-ben to Jenkins whitelist"
@aviansie-ben has been delivering important work for Power support for snapshot/restore which is currently going straight into the master branch. Because he doesn't have access to some of the machines/platforms (AIX) he doesn't have a great way of debugging problems other than committers continuously launching PR builds on his behalf.

To cut down on the churn I propose we add him to the whitelist

[2020-12-02 17:43] babsingh commented on #10744
@klangman SLES has YaST as the package manager. It also supports RPM. Was the problem recreated using YaST or RPM on SLES 15?

[2020-12-02 17:50] dchopra001 commented on #11333
I've opened https://github.com/eclipse/openj9/pull/11338 to disable the change for now.

[2020-12-02 18:10] AdamBrousseau commented on #11332
Install OpenJ9 0.23 as default java/javac
[code]

Add cert to keystore. Adjust instructions from readme for new sdk
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/ARTIFACTORY.md#configure-unb-nodes-to-accept-self-signed-certificate-upload-only
[code]

Completed on cent6 1-7. This should now be resolved.

[2020-12-02 18:25] headius commented on #7699
FWIW we usually try to avoid this ThreadLocal by passing the relevant object through the call stack, but it is hit heavily when we can't use the stack to pass it. For example, Java calling into Ruby code needs to acquire this context again using the threadlocal every time, and it can't be cached since it is thread-specific.

So long story short, this should not usually affect pure-Ruby apps but ap

[2020-12-02 18:41] pshipton commented on #11335
The core dumps are not expected. The test is running with `-Xdump:system+heap+snap+jit:none` and should only be producing the javacore txt files.  When I run it on Linux no core files are produced. I'll try it on an AIX machine just in case.

Looking at https://github.com/AdoptOpenJDK/openjdk-tests/issues/2075#issuecomment-735703926 I see `Type=Bus error` in the crash output.
- these tests shouldn

[2020-12-02 18:50] pshipton commented on #11335
I can see on AIX there are core files being produced by the `-XX:-HandleSIGABRT` testing.  I guess this is the default OS behavior when abort isn't being handled by the VM. I'll see if there is some way to disable it, otherwise we can at least delete the files after they are created so only room for one at a time is required.

[2020-12-02 18:53] pshipton commented on #11335
As for the size of the core files, the default object heap size is 25% of the available RAM up to 57G. We can limit these tests with `-Xmx20m` to reduce the core file size as much as possible.

[2020-12-02 18:59] klangman commented on #10744
@babsingh  I used RPM on SLES 15 to recreate the problem.

[2020-12-02 19:42] #11333 closed

[2020-12-02 19:47] JasonFengJ9 commented on #11308
[code]
@mbarbero could you share the command line option to reproduce the `ClassNotFoundException`?

[2020-12-02 19:53] gita-omr commented on #11192
Just wanted to mention that @mnalam-p was able to reproduce on openj9 machine manually and that the failure rate with count=0 seems to be pretty high. Narrowing down the method now.

[2020-12-02 19:57] liqunl commented on #9416
I wonder if `TR_ResolvedJ9Method::definingClassFromCPFieldRef` returns different results, or it's just that we failed storing the record. We can add a version of `TR_ResolvedRelocatableJ9Method::definingClassFromCPFieldRef` that gives us the result of `TR_ResolvedJ9Method::definingClassFromCPFieldRef` during its execution. And dump the information in our assert. If the assert fires and we get `TR_

[2020-12-02 20:32] Thihup opened #11342 "--show-module-resolution: Unable to extend shared class path to index 0"
Java -version output
--------------------
openjdk version "15.0.1" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.1+9)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.23.0, JRE 15 Linux amd64-64-Bit Compressed References 20201022_81 (JIT enabled, AOT enabled)
OpenJ9   - 0394ef754
OMR      - 582366ae5
JCL      - ad583de3b5 based on jdk-15.0.1+9)

Summary of problem
-----------------

[2020-12-02 20:38] mbarbero commented on #11308
I've created git repo (https://github.com/mbarbero/openj9-sqlite-11308) with the example from my intial comment. See in the [README the command line + the output](https://github.com/mbarbero/openj9-sqlite-11308#eclipse-openj9-vm-adoptopenjdk-build-openj9-0230-jre-15-mac-os-x-amd64-64-bit-compressed-references-20201024_81-jit-enabled-aot-enabled ) resulting in a fail

[2020-12-02 20:44] Thihup commented on #11342
Looks like my shared classes cache is almost full. It may influence the --show-module-resolution.
[code]

[2020-12-02 20:54] Thihup commented on #11342
It happens with Open Liberty too.

`$ JDK_JAVA_OPTIONS="--show-module-resolution" ./server run`
[code]

[2020-12-02 20:57] #11175 closed

[2020-12-02 21:03] dmitry-ten commented on #9024
This should finally be fixed by eclipse/omr#5658.
I'll run tests in Grinder and verify that the problem is gone, then the issue can be closed.

[2020-12-02 21:07] JasonFengJ9 commented on #11308
Thanks, the failure has been reproduced with JDK15 0.23 release build, but it passes with latest nightly build [1]. It appears the issue has been resolved.

[1] https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/download/jdk15u-2020-12-02-15-06/OpenJDK15U-jdk_x64_mac_openj9_2020-12-02-15-06.tar.gz

[2020-12-02 21:09] dmitry-ten commented on #9129
Hopefully got fixed by  eclipse/omr#5658.
Running tests to verify

[2020-12-02 21:16] hangshao0 commented on #11342
So the issue goes away if you remove `--show-module-resolution` ?

[2020-12-02 21:18] Thihup commented on #11342
Yes, without the --show-module-resolution it works

[2020-12-02 21:20] mbarbero commented on #11308
Thanks. I cannot test the linked archive. System throws me a

But I trust you and the team ;) Thanks for investigating, I guess this one can be closed then.

[2020-12-02 21:23] JasonFengJ9 commented on #11308
This happens when downloading it with a browser, `wget` can workaround it.

[2020-12-02 21:28] #11312 closed

[2020-12-02 21:31] #11248 closed

[2020-12-02 21:37] pshipton commented on #11308
Closing since it's working on the latest nightly builds.

[2020-12-02 21:37] #11308 closed

[2020-12-02 21:43] #11332 closed

[2020-12-02 21:51] IBMJimmyk commented on #11040
I've been trying to use the failing build from this test:
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Personal/503/
[code]

For comparison, I got a build off the adopt website that reverted the change the was triggering the problem. I'll refer to this as the "passing build" but it likely does have the same problem but just isn't being triggered for currently unk

[2020-12-02 22:06] pshipton commented on #11040
Moving it to vm and also to the next milestone.

[2020-12-02 23:36] pshipton commented on #10834
It was happening more often earlier, but not lately. I'll be sure to document any more I find.

[2020-12-02 23:38] pshipton commented on #7995
Seems a worthwhile tradeoff. @vijaysun-omr fyi

[2020-12-02 23:47] vijaysun-omr commented on #7995
I don't have performance concerns if the overhead is indeed as small as you mentioned. If you wanted to be doubly certain, perhaps @mpirvu can run a quick test.

[2020-12-02 23:52] hangshao0 commented on #11321
Since https://github.com/eclipse/openj9/pull/11322 is merged, I think this can be closed. All the new changes here are in OpenJDK MH, which will be consumed by OpenJ9 in Java 16.

[2020-12-03 00:58] mpirvu commented on #7995
I'll run start-up tests provided I get two sdks, with and without the change.

[2020-12-03 01:37] sharon-wang commented on #11271
Using the latest sources from [CQEngine](https://github.com/npgall/cqengine) and [TypeTools](https://github.com/jhalterman/typetools) repos, I can confirm that `OpenJDK 1.8.0_275` successfully runs the simple test program from https://github.com/eclipse/openj9/issues/11271#issuecomment-734447726. The typetools jar used in https://github.com/eclipse/openj9/issues/11271#issuecomment-734447726 is an

[2020-12-03 04:35] mpirvu opened #11349 "Use a CriticalSection instead of a monitor lock/unlock pair for JITServer"
When computing the set of CHTable modifications that need to be sent to the server
we use a monitor lock/unlock pair:
[code]
This may throw bad_alloc which is caught at an outer level, but the sequencing monitor remains locked.
To avoid this scenario, it's better to use a CriticalSection.

[2020-12-03 11:01] mbarbero commented on #11308
Thanks everyone.

FYI, I just tried with latest release from Homebrew (see below, note the 20201130_124 instead of 20201024_81) and it's still failing.

[code]

However, it works with build from comment https://github.com/eclipse/openj9/issues/11308#issuecomment-737496087, when `curl`'ing the file as suggested instead of using the browser to download it.

[2020-12-03 13:04] JasonFengJ9 commented on #11308
Thanks the updates and the effort to help us troubleshooting.
Homebrew installs latest JDK15 release build, i.e., `openj9-0.23.0` which indeed fails in my test as well. Though it was built around `20201130_124`, the code splitting from main development stream happened much earlier and only selected fixes went into this release stream afterwards. It appears there is a fix or change in head stream b

[2020-12-03 13:36] 0xdaryl commented on #10256
I am reclassifying this failure as a test issue because based on our investigation the JIT is working as designed.  As mentioned above, it would seem we should either fix the test case or stop running it.

[2020-12-03 13:37] pshipton commented on #11130
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly_testList_1/177/
J9vmTest_5
variation: Mode610
JVM_OPTIONS:  -Xcompressedrefs -Xjit -Xgcpolicy:gencon
osx1011-x86-2
[code]

[2020-12-03 13:41] pshipton commented on #8173
https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_xl_OpenJDK11/48
No diagnostics
[code]

[2020-12-03 13:56] pshipton commented on #10256
Created https://github.com/AdoptOpenJDK/openjdk-tests/pull/2083 to exclude the test for jdk11, 15, 16.

[2020-12-03 13:56] #10256 closed

[2020-12-03 13:59] pshipton commented on #11308
There was a Mac rebuild to fix a JRE Homebrew installer problem which explains `20201130_124` https://github.com/AdoptOpenJDK/TSC/issues/188

[2020-12-03 14:01] pshipton commented on #11308
The milestone 1 build for the 0.24 release is expected next week.

[2020-12-03 14:02] pshipton commented on #11308
The milestone 1 build will be announced in the OpenJ9 slack #announce channel. https://openj9.slack.com/archives/C01C8PL6319

[2020-12-03 15:30] babsingh commented on #11321
**Updated refs:**
1. https://bugs.openjdk.java.net/browse/JDK-8256214
2. https://bugs.openjdk.java.net/browse/JDK-8230501

**Related commit:** https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/1e8bd60220e0d038d45f4421a5f8654dc9ac7bb5

All is Java code. No native dependencies found.
`+1` to close this issue.
But, we should relate it `project:MH` to verify functionality once OpenJDK MH is ena

[2020-12-03 15:42] keithc-ca opened #11351 "Improve cmdline_options_tester"
The [command tokenizer](https://github.com/eclipse/openj9/blob/master/test/functional/cmdline_options_tester/src/Tokenizer.java) should be improved to also handle single-quotes so they could be used to deal with arguments that should contain double-quotes.

This was noticed in #11340 where, instead of:
[code]
we would like to say:
[code]
so the double-quotes between the single-quotes (e.g. in `$EX

[2020-12-03 15:44] #11335 closed

[2020-12-03 15:51] 0xdaryl opened #11352 "hasFixedFrameC_CallingConvention semantics"
I have a question about the semantics of the J9 CodeGenerator query `hasFixedFrameC_CallingConvention()` which only returns `true` for P and Z.  Despite it being in the code for many years, I had not come across this before.

The best explanation for why this exists is here (from a very old @gacholio email):
https://github.com/eclipse/openj9/blob/9f11871a18a0dd8e518445fbd4abe14241c67146/runtime/co

[2020-12-03 15:52] #11321 closed

[2020-12-03 16:07] mpirvu opened #11353 "Add information about available memory to JITServer heartbeat"
The JITServer has a heartbeat thread that periodically prints to the verbose log information about CPU usage and number of connections:
[code]
Since the JITServer can also run low on memory, it would be useful to also displays how much memory the JITServer still has available. We compute this information anyway to backoff compilation threads in case we reach our memory limit.

[2020-12-03 16:36] dmitry-ten commented on #9846
@mpirvu 200 [tests](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/12372/) passed, this should be closed.

[2020-12-03 16:37] dmitry-ten commented on #9129
@mpirvu 200 [tests](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/12371/) passed, this can be closed.

[2020-12-03 16:39] dmitry-ten commented on #9024
@mpirvu, a run of 200 [tests](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/12370/) timed out due to each test taking too long. But out of 82 tests run, all passed, so this can probably be closed.

[2020-12-03 16:45] zl-wang commented on #11352
this is pertained to the anchoring C frame when call-in (to java).  that frame will appear as the caller frame of JNI call-out (from java).  for fixed-frame, the JNI call-out arguments are stored (or in registers) in that frame.  since that frame is pre-allocated, you need to have the max number of arguments you can take. that is the meaning of fixed frame to me (fixed number of arguments).  i do

[2020-12-03 17:07] mpirvu commented on #9846
Fixed by https://github.com/eclipse/omr/pull/5658
Closing based on the previous message.

[2020-12-03 17:07] #9846 closed

[2020-12-03 17:07] mpirvu commented on #9129
Fixed by https://github.com/eclipse/omr/pull/5658
Closing based on the previous message.

[2020-12-03 17:07] #9129 closed

[2020-12-03 17:07] mpirvu commented on #9024
Fixed by https://github.com/eclipse/omr/pull/5658
Closing based on the previous message.

[2020-12-03 17:07] #9024 closed

[2020-12-03 17:23] ChengJin01 commented on #11026
Given that JEP 359: Records (Preview) at https://openjdk.java.net/jeps/359 and JEP 384: Records (Second Preview) https://openjdk.java.net/jeps/384 were already implemented via https://github.com/eclipse/openj9/issues/7945 and https://github.com/eclipse/openj9/issues/9529,   I double-checked the content of JEP384 as compared to JEP395 in the following Specs:
https://openjdk.java.net/jeps/384
http:/

[2020-12-03 17:36] #9673 closed

[2020-12-03 17:38] liqunl commented on #9782
I can't find anything useful from crash in https://github.com/eclipse/openj9/issues/9782#issuecomment-703605885. The place we crash is too far away from the place where the flag is corrupted. And we haven't seen reproduction since then. We just have to wait for a crash in the diagnostic check.

[2020-12-03 17:43] pshipton commented on #9782
Considering this hasn't been seen in the last couple months, removing it from the milestone plans.

[2020-12-03 17:43] liqunl commented on #7699
Update: the VP change with 20% boost is still in progress, we expect to get it in soon. But the remaining gap is unlikely to be closed in next release. Given https://github.com/eclipse/openj9/issues/7699#issuecomment-737411014, we should defer it to next release, and continue investigating the remaining gap.

[2020-12-03 17:47] #11336 closed

[2020-12-03 18:45] gita-omr commented on #11040
I would say the trace that @IBMJimmyk and the original one are slightly related. Both are trying to enter some class loading related monitor..

[2020-12-03 18:53] tajila commented on #11026
Okay, thanks for the analysis @ChengJin01

[2020-12-03 19:27] pshipton opened #11356 "JDK next openj9-staging failing to compile"
The latest update to jdknext is failing to compile again.
https://ci.eclipse.org/openj9/job/Build_JDKnext_s390x_linux_Personal/105
[code]

[2020-12-03 19:28] pshipton commented on #11356
@babsingh @tajila fyi

[2020-12-03 19:29] pshipton commented on #11356
https://github.com/eclipse/openj9/pull/11354 may need to be merged, but I'll hold off until we have fixes for these problem in hand.

[2020-12-03 19:33] liqunl commented on #11179
From an offline chat with Thihup, excluding the 16 methods stop the crash.
I got trace log of the failing method.
`{com/sun/tools/javac/parser/JavacParser$SimpleEndPosTable.storeEnd}` is inlined with a profiled guard with vft test, but VP then converts into abstract guard because VP proved that the object class, which is an abstract class, has only one implementer of the method. This contradicts t

[2020-12-03 19:35] pshipton commented on #10834
This one caused OMR acceptance to fail.
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-32_windows_OMR/786
[code]

[2020-12-03 20:22] hangshao0 commented on #11342
I have re-produced this issue. It happens on Java 11 as well.

[2020-12-03 20:54] IBMJimmyk commented on #11040
I tried making my own builds one with the latest openj9 and the other with the reverted change reverted. My expectations was for the run with the first build to work and the second build to fail. That's pretty much what I got but this time the second build failed via an assert.

Passing build:
[code]
Failing build:
[code]

Failing message (run with -Xint):
[code]

The assert appears to be triggeri

[2020-12-03 21:11] dmitry-ten commented on #11296
The actual reason this segfault happens is because when we generate a call to `java/util/HashMap$Node.<init>` from `java/util/HashMap.putVal`, the constructor is still unresolved and not compiled but once it gets compiled, the code to patch the code looks for a resolved trampoline where only unresolved one exists.

In this part of  the call snippet code, we reserve a trampoline, however since `J9M

[2020-12-03 21:30] #11084 closed

[2020-12-03 22:05] dmitry-ten commented on #11296
It seems like the solution would be to modify assembly of `interpreterStaticAndSpecialGlue` to call `mcc_reservationAdjustment_unwrapper` before calling `mcc_callPointPatching_unwrapper` but I'm not sure if that's correct or how to proceed from here.

[2020-12-03 22:08] JasonFengJ9 opened #11359 "JDK16 java/lang/invoke/lambda/superProtectedMethod/InheritedProtectedMethod.java IllegalAccessError: illegally accessing "package private" member of class java/lang/invoke/MethodHandles"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_ppc64_aix_Nightly/286`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:51:29  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=ppc64_aix&TARGET=jd

[2020-12-03 22:29] JasonFengJ9 opened #11360 "JDK16 java/foreign/TestCleaner.java j9jcl.347 * ** ASSERTION FAILED ** at common/jdk_internal_misc_ScopedMemoryAccess.cpp:40: ((0 ))"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_ppc64_aix_Nightly/286`
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:51:29  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=ppc64_aix&TARGET=jdk

[2020-12-03 22:36] JasonFengJ9 opened #11361 "JDK16 : SecurityTests StringIndexOutOfBoundsException: String index out of range: 0"
Failure link
------------

From an internal build `Test_openjdkNext_j9_extended.functional_s390x_linux_Nightly/323`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
00:16:31  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=s390x_lin

[2020-12-03 22:44] pshipton commented on #11360
@tajila fyi

The assert if Assert_JCL_unimplemented();

[2020-12-03 22:48] gita-omr commented on #11040
I agree. It's on VM's side now.

[2020-12-03 22:53] pshipton commented on #11361
Looks like a test problem parsing the java.version `16-internal`. I assume it fails across all platforms? I'll fix the parsing code.

[2020-12-03 22:56] #11356 closed

[2020-12-03 23:07] tajila commented on #11360
@babsingh Might be best to exclude this test in the short term until an investigation on how to properly implement this is determined. It may not be trivial to supply an appropriate implementation here as it deals with handling race conditions when closing scopes.

[2020-12-03 23:46] #11353 closed

[2020-12-04 00:11] babsingh commented on #11360
Duplicate of https://github.com/eclipse/openj9/issues/11027#issuecomment-730849265, which reports the `ScopedMemoryAccess` failures:
[code]

This is true.

The above failing tests are not blockers. Do we need to exclude these tests to stop generation of core files? Or can they continue to fail until fixed?

[2020-12-04 00:13] pshipton commented on #11359
@tajila fyi

[2020-12-04 00:22] mpirvu opened #11363 "Inform client JVMs sooner that JITServer is running out of memory"
PR #11323 implemented a feature where the JITServer will communicate to the client JVMs when it is running low on memory, so that the clients reduce their number of compilation threads. This hint is sent when the amount of available memory at the server is lower than `(safeReserve + scratchSpaceLowerBound)` where:
`safeReserve` is an amount of memory we to keep for the runtime and
`scratchSpaceLow

[2020-12-04 00:26] mpirvu commented on #11363
@dmitry-ten In the code:
[code]
we need to add another fudge factor to alert the clients sooner. Maybe `3 * TR::Options::getScratchSpaceLowerBound()`
`scratchSpaceLowerBound` is set to 16MB currently.

[2020-12-04 00:28] pshipton commented on #11360
Up to @JasonFengJ9, excluding the failures and getting green or nearly green makes it easier to analyze the test results every day.

[2020-12-04 00:29] pshipton commented on #11360
Do you want this issue open or closed?

[2020-12-04 00:40] #10656 closed

[2020-12-04 00:45] #11361 closed

[2020-12-04 01:15] liqunl commented on #11179
Thanks to help from @Thihup, I'm able to find the problem.

The object class indeed has only one implementer
object class: `com/sun/tools/javac/parser/JavacParser$AbstractEndPosTable` (abstract class)
the call: `com/sun/tools/javac/tree/EndPosTable.storeEnd`  (interface method)

Abstract class `JavacParser$AbstractEndPosTable` implements interface class `EndPosTable` but doesn't provide implementa

[2020-12-04 01:49] JasonFengJ9 commented on #11360
There are many other failures (such as those reported via https://github.com/eclipse/openj9/issues/11135) within `sanity.openjdk`, it is a bit distance from green.
Yes, the tests should be excluded.

[2020-12-04 08:23] htreu commented on #11205
Unfortunately I'm not able to share the core dump publicly. Once the acquisition for Instana is closed with IBM (and IBM is then technically the contract partner with our client) we can share the dump internally. Postponing to early2021.

[2020-12-04 14:47] tajila commented on #11076
No action on this, moving it to the next release

[2020-12-04 14:50] tajila commented on #10945
@JasonFengJ9 Any outlook on this?

[2020-12-04 14:52] pshipton opened #11365 "PatchModuleImgTest, UpgradeModPathTest failing on Windows, jvm.dll failed to load: j9vm29"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly/557
PatchModuleImgTest_Advanced_0
UpgradeModPathTest_ExpDirImg_0
UpgradeModPathTest_JarredImg_0
PatchModuleImgTest_PlatformMod_0
PatchModuleImgTest_UnexportedType_0

They are all like the followining.
PatchModuleImgTest_Advanced_0
[code]

[2020-12-04 14:53] tajila commented on #10744
I'm going to move this to the next release as it is unlikely that it will be resolved for the code split.

@babsingh @klangman Let me know if you think otherwise.

[2020-12-04 14:54] pshipton commented on #11365
@llxia @Mesbah-Alam  I believe this is due to having longer directory paths because of the parallelism. We need to do something to shorten the paths.

[2020-12-04 14:58] JasonFengJ9 commented on #10945
@tajila I plan to pick up this after https://github.com/eclipse/openj9/issues/11274. Probably won't be in release `0.24` first milestone build, aiming for next one instead.

[2020-12-04 15:17] llxia commented on #11365
@Mesbah-Alam we can shorten the test name in the playlist to fix this for now.
However, I would like to understand why the above system test uses JVM under test_output dir. Do you happen to know?

java used in the test:
`F:/Users/jenkins/workspace/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly_testList_1/openjdk-tests/TKG/test_output_16070712767195/PatchModuleImgTest_Advanced_0/20201204-03

[2020-12-04 15:24] gita-omr commented on #10706
We are still trying to reproduce.

[2020-12-04 15:37] Mesbah-Alam commented on #11365
HI @llxia , The tests that have "Img" in their names are supposed to test the runtime image, not the main SDK. This is why they are using `~/6.XpJVM/bin/java`.

For example, PatchModuleImageTest.java [creates a runtime image](https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.test.modularity/src/com.stf/net/adoptopenjdk/test/modularity/PatchModuleImageTest.java#L96) first and t

[2020-12-04 15:40] babsingh commented on #11360
+1 to close. I am tracking https://github.com/eclipse/openj9/issues/11027#issuecomment-730849265 to address all five test failures.

[2020-12-04 15:46] llxia commented on #11365
Just be aware, once mixedref build is enabled, the path will be longer. In addition to shorten the test names, maybe shorten the image path in system tests as well.

[2020-12-04 16:03] tajila commented on #11104
@gita-omr can you please take a look at this?

see  https://github.com/eclipse/openj9/issues/11104#issuecomment-721963023

[2020-12-04 16:03] fjeremic commented on #11179
Awesome find @liqunl! May I suggest we try to come up with a unit test for this and check it in as a deterministic JIT unit test to run as part of functional sanity?

[2020-12-04 16:04] tajila commented on #11359
@sharon-wang can you please take a look at this?

[2020-12-04 16:07] dsouzai commented on #11179
Hm, it could be because we store IProfiler data into the SCC

[2020-12-04 16:08] tajila commented on #11360
I would prefer to have separate issues for seperate features, ie foreign-memAccess/varhandles, sealedtypes, MH.

[2020-12-04 16:11] tajila commented on #11360
Also makes it easier to determine what is fixed and what needs to be done. I see that some things in  #11135 are already fixed.

@JasonFengJ9 is  #11135 limited to just jdk.foreign test failures now?

[2020-12-04 16:21] JasonFengJ9 commented on #11360
@tajila Besides `jdk.foreign` test failures (excluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2085), `sanity.openjdk` (#11135) still have lots of `java/lang/invoke/MethodHandles` related failures which require OpenJDK JSR292 support (#7352) as per https://github.com/eclipse/openj9/issues/11135#issuecomment-724866324.
I am going to exclude them as well.

[2020-12-04 16:24] dsouzai commented on #11179
Might need to add some code to the relo infra to also check for this; I can help you figure out where.

[2020-12-04 16:25] gita-omr commented on #11104
If the test case was just added and seems to expose old issues which we are planning to rework anyway, maybe it should not be a blocker?

@AlenBadel fyi

[2020-12-04 16:29] sharon-wang commented on #11359
Yep! Taking a look

[2020-12-04 16:39] pshipton commented on #11360
@JasonFengJ9 pls help ensure we have an issue open for everything excluded. They need to be tagged with `test excluded`, which hopefully the committer will do, but pls double check.

[2020-12-04 16:39] AlenBadel commented on #11104
I believe this is an issue I've already addressed on my re-work branch. This does not impact performance or functionality at all, rather it's just a bug in the verbose log which the test uses to verify the correct page configuration. In any matter, I'll be more than happy to create a PR to fix this verbose bug.

[2020-12-04 16:44] liqunl commented on #11179
@dsouzai Yes, I think it's because of SCC, as this crash only happens with SCC.

Now I'm not sure if I need change 2, VP may just assert if this happens (might be risky in release). We should try to fix it at the source of the problem

[2020-12-04 16:46] a7ehuo commented on #10929
Ran in Grinder
- 20x [jdk11 x86-64_linux_xl](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/12389/tapResults/):  all passed
- 16x [jdk11 x86-64_windows_xl](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/12423/tapResults/): 1 failed due to timeout `Cancelling nested steps due to timeout`. No crash or exception is found.

[2020-12-04 16:46] liqunl commented on #11179
Off my head, I don't have any idea how to unit test this. It requires a bad iprofiler data, which rarely happen, and the origin of the bad data might be hard to find. Do you have any advice?

[2020-12-04 16:49] JasonFengJ9 opened #11366 "JDK16 : java/lang/invoke/MethodHandles/classData/ClassDataTest.java error: <T>classData(Lookup,String,Class<T>) is not public in MethodHandles; cannot be accessed from outside package"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_x86-64_linux_Nightly/363`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
22:41:17  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=s390x_linux&TARG

[2020-12-04 16:51] JasonFengJ9 commented on #11027
Note: following tests are excluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2085
[code]

[2020-12-04 16:55] liqunl commented on #11179
I should probably check the initialize status in profiler instead of its users.

[2020-12-04 17:25] sharon-wang commented on #11271
In the static block for [TypeResolver](https://github.com/jhalterman/typetools/blob/master/src/main/java/net/jodah/typetools/TypeResolver.java) in TypeTools, `java.lang.NoSuchMethodException: java.lang.Class.getConstantPool()` is being thrown when running with OpenJ9. They catch and ignore exceptions in the static block, which is why it didn't fail at that point when running with OpenJ9.

Looking

[2020-12-04 17:28] Thihup commented on #11179
Maybe sharing my SCC can help?

[2020-12-04 17:42] JasonFengJ9 commented on #11135
Excluding following tests via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2088

[code]

They are expected to be fixed by OpenJDK JSR292 support (#7352) for JDK16 as per https://github.com/eclipse/openj9/issues/11135#issuecomment-724831028 & https://github.com/eclipse/openj9/issues/11135#issuecomment-724821524.

`java/util/stream/test/org/openjdk/tests/java/util/stream/SpliteratorTest.java`

[2020-12-04 17:44] JasonFengJ9 commented on #11027
More excludes for `java/foreign` tests via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2088 before the implementation is ready.

[code]

fyi @tajila @babsingh @pshipton

[2020-12-04 17:50] JasonFengJ9 commented on #11135
Summary of other issues for JDK16 test suite `sanity.openjdk`:

* JDK16 InternalError: Compile stub invoked! at java.base/java.lang.invoke.VarHandle.withInvokeBehavior(VarHandle.java:1675)
https://github.com/eclipse/openj9/issues/11256

* JDK16 java/lang/invoke/lambda/superProtectedMethod/InheritedProtectedMethod.java IllegalAccessError: illegally accessing "package private" member of class java/l

[2020-12-04 17:51] nbhuiyan commented on #8173
Same story using the diagnostics from the [macOS build failure on 26 Nov 2020](https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_mac_OpenJDK/339/) as [comment above](https://github.com/eclipse/openj9/issues/8173#issuecomment-715604692). Furthermore, I have not been able to reproduce this failure locally on macOS. Therefore, we do not have a way to resolve this issue as part of 0.24.

[2020-12-04 17:52] babsingh commented on #11135
It is mentioned in https://github.com/eclipse/openj9/issues/11135#issuecomment-724814903: **java/util/stream/test/\*** (entire package).

[2020-12-04 17:54] nbhuiyan commented on #8972
Still no luck in reproducing this failure with the dump option set. Seems like the failures do not show up after setting up the -Xdump options.  At this time we do not have a way to investigate this further and therefore this issue can not be resolved as part of 0.24.

[2020-12-04 17:55] JasonFengJ9 commented on #11360
This test `java/foreign/TestCleaner.java` has been excluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2085.

[2020-12-04 17:57] JasonFengJ9 commented on #11256
This test `java/lang/invoke/VarHandles/VarHandleTestExact.java` has been excluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2088.

[2020-12-04 17:59] babsingh commented on #11027
Do all the tests, which are being excluded, fail? As per the log file in https://github.com/eclipse/openj9/issues/11027#issuecomment-730849265, few of these tests pass.

[2020-12-04 18:01] tajila commented on #11027
Some of these tests are related to JEP389 rather than JEP393

[2020-12-04 18:09] babsingh commented on #11027
JEP389 tests also run as part of the `jdk_foreign` test suite. I have identified the JEP389 tests below:
[code]

[2020-12-04 18:18] babsingh commented on #11366
Related: https://github.com/eclipse/openj9/issues/11321#issuecomment-738080469. For the OpenJ9 MH impl, this failure can be fixed by changing `MethodHandles.classData` to a public method in JDK16. The OpenJ9 MH impl change is being avoided since it will be obsolete. The plan is to resolve this failure automatically once OpenJDK JSR292 support (#7352) is enabled for JDK16.

[2020-12-04 18:21] tajila commented on #11271
The `getConstantPool()` code was introduced as part of the OpenJDK JCL merge for Java9. I see no reason why this cannot be enabled for Java8

@JasonFengJ9 Since you were the one to make that change, do you have any objections?

[2020-12-04 18:26] JasonFengJ9 commented on #11027
Yes, all excluded tests still fail in internal tests.

[2020-12-04 18:28] JasonFengJ9 commented on #11027
Will check and refer JEP 389 instead.

[2020-12-04 18:37] tajila commented on #11027
We need to track them differently as there is a chance that JEP393 will be ready for 0.25 and JEP389  will not

[2020-12-04 18:37] keithc-ca commented on #11135
I find if you use a recent jdk15 (e.g. from adoptopenjdk.net) for your bootjdk, the warnings about preview features do not occur.

[2020-12-04 18:52] JasonFengJ9 commented on #11195
As per https://github.com/eclipse/openj9/issues/11027#issuecomment-738935362, following are JEP389 tests:

[code]

[2020-12-04 18:59] JasonFengJ9 commented on #11195
From an internal build `Test_openjdknext_j9_sanity.openjdk_x86-64_linux_Nightly/363`:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

These tests have been excluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2088

[2020-12-04 19:08] LongyuZhang commented on #10275
Hi @pshipton, if all Java 11+ all use `-DOPENJ9_BUILD`, does it mean ibm 11+ use this setting on all platforms, not only on zos? So far Hang and I tried to change `is openj9` check to `is not ibm 8` check, and it passed ibm zos 11. Thanks.

[2020-12-04 19:12] JasonFengJ9 commented on #11027
From an internal build `Test_openjdknext_j9_sanity.openjdk_x86-64_linux_Nightly/363`:

[code]

[code]

[code]

[code]

[code]

[code]
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-12-04 19:24] mnalam-p commented on #11192
I have reduced the test cases to only the failing one (ConsCharset) and thus now can cycle test faster. Here is what I have found so far -
* Test failure is still random, but with single test case running it is faster to cycle through
* Giving any cmdline options to test vm that effects timing (e,g - traceFile, verbose, count etc) affects the reproducibility
* @gita-omr ran grinder with disableAut

[2020-12-04 19:36] JasonFengJ9 commented on #11271
The code in question was added when fixing `Java 9` build errors, hence was decorated with `Sidecar19-SE` (to avoid unnecessary code into `Java 8`). There was no particularly concern/conflict with `Java 8`.

It is interesting that `OpenJ9 Java 8` can escape without a method for this long.
@sharon-wang do you happen to have a stacktrace showing `getConstantPool()`?

[2020-12-04 19:40] #11363 closed

[2020-12-04 20:01] JasonFengJ9 commented on #11271
Okay, it is the application that didn't use public API, use reflection for the internal method https://github.com/jhalterman/typetools/blob/87240d66e8073872b39ca1cb79a74890e8941445/src/main/java/net/jodah/typetools/TypeResolver.java#L75

Since `RI` has such method in `Java 8`, `OpenJ9` should match it.

@tajila I have no objections.

[2020-12-04 20:04] fjeremic opened #11369 "Support reuse of previously built JDKs in PR testing"
I noticed when launching testing on a PR, for example:

[code]

The automation will trigger build + test pipelines as it should. However sometimes the committers do not want to waste machine resources by throwing all the tests at once, so they may come back later and trigger some more testing, perhaps:

[code]

This automation will again trigger a build + test. However the build step here should n

[2020-12-04 20:12] tajila commented on #11271
Thanks @JasonFengJ9

@sharon-wang  can you please prepare the PR

[2020-12-04 20:17] sharon-wang commented on #11271
Opened https://github.com/eclipse/openj9/pull/11370.

[2020-12-04 20:38] hangshao0 commented on #10275
I think the answer is yes.

[2020-12-04 20:48] gita-omr commented on #11104
Sorry for sounding trivial but every change takes time and we don't know how it is going to affect other Xlp tests. I would rather us finish our other blockers.

[2020-12-04 20:49] AdamBrousseau commented on #11369
One issue with this is that whenever a PR is merged, the content that was built in the PR will now be different. The question becomes do we rebuild against the new HEAD or is it sufficient that the PR in question hasn't changed. Note the actual commit of the PR is passed as a param so it's easy to check. I suppose it's more likely that a rebuild is not necessary, but we may wish to add an override

[2020-12-04 20:58] liqunl commented on #11179
Thanks for offering and all the help you've been giving, we don't need SCC now.

[2020-12-04 21:03] babsingh commented on #11027
Locally, some of the `jdk/foreign` tests pass for me because I have the following fix applied to my JDK16 extensions repo: https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/248. Related: https://github.com/eclipse/openj9/issues/11135#issuecomment-724814903. For the nightly `openjdk sanity` builds, @JasonFengJ9's failures are correctly documented.

[2020-12-04 21:24] liqunl commented on #11179
@mpirvu I have a question regarding to iprofiler data in SCC. It seems to me that we're reusing iprofiler data from last run, but how do know we can trust it? In this case, the hottest profiled class (with frequency 100%), is not even initialized, its method is never executed. Even if it's loaded and its method is executed, do we verify it's still the hottest? If not, do we allow new iprofiler dat

[2020-12-04 21:44] pshipton opened #11374 "2m supported large page size on Mac, but not listed in -verbose:sizes"
I'm trying to fix the `xlpTests` test on Mac, to run properly and pass. ATM it prints the following, doesn't test any large pages, and passes.
[code]

After adding Mac into the list of platforms, I've run into a snag. The OMR port library for Mac hard codes 3 page sizes into the supported page size table.

1) 4k
2) 0 (zero) with flags OMRPORT_VMEM_PAGE_FLAG_SUPERPAGE_ANY
3) #if defined(VM_FLAGS_SU

[2020-12-04 22:42] mpirvu commented on #11179
IProfiler data is collected and stored in the SCC so that we can turn off IProfiler collection during start-up phase in the subsequent runs to improve start-up time of applications. Note that IProfiler will be turned ON after start-up phase. This means that we may have two sources of IProfiler data: current run and SCC. When that happens, the JIT picks the entry with the most number of samples.
Th

[2020-12-04 23:07] dsouzai commented on #4850
@harryyu1994 if you comment here I can assign this to you.

[2020-12-05 00:18] dsouzai opened #11376 "AOT Support for FSD"
This issue outlines a general roadmap to enable FSD on AOT compilations.

1. - [x] Use correct API to get ROMMethods (https://github.com/eclipse/openj9/issues/6303)
2. - [ ] Add relocations for Breakpoint guards (https://github.com/eclipse/openj9/pull/11554)
3. - [x] Implement 1 & 2 in https://github.com/eclipse/openj9/issues/4849
4. - [ ] Enable FSD on AOT (but disable Field Watch) (https://githu

[2020-12-05 00:22] dsouzai opened #11377 "AOT Support for NextGenHCR"

[2020-12-05 00:35] sharon-wang commented on #8878
Just an update that all CMake mixed refs changes are now merged. The test story is in progress and can be followed here: https://github.com/eclipse/openj9/issues/9231.

[2020-12-05 02:08] harryyu1994 commented on #4850
@dsouzai Okay thanks!

[2020-12-05 03:08] pshipton commented on #10275
Correct, -DOPENJ9_BUILD should be set for all builds which aren't IBM Java 8. It's enabled via the extensions repos, and only IBM Java 8 doesn't use the OpenJDK extensions.

[2020-12-05 08:22] knn-k commented on #7129
I see nothing in the VM nor in the JIT that is platform-specific for supporting `CompactStrings`.
I can run OpenJ9 for AArch64 with `-XX:+CompactStrings`.
It is disabled by default in OpenJ9 on all the platforms.  See https://github.com/eclipse/openj9/blob/79f0cfb39698fb883eedcc1dc776d5dfc9e2c460/runtime/vm/jvminit.c#L6007

[2020-12-05 22:13] pshipton commented on #10834
Another OMR acceptance blocker.
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_OMR/786
[code]

[2020-12-06 19:45] pshipton commented on #10929
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_xl_Nightly/559
SharedClasses.SCM01.MultiThread_0

[2020-12-06 19:46] pshipton opened #11379 "DaaLoadTest ConcurrentScavenge crash vmState=0x00020002"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_1/3/ - cent7-ppcle-2
DaaLoadTest_daa2_ConcurrentScavenge_0
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64le_linux_Nightly_testList_1/3/ - ub16p8j92
DaaLoadTest_all_ConcurrentScavenge_0
[code]

Changes from previous nightly build where this crash did not occur.
https://github.co

[2020-12-06 20:31] pshipton opened #11380 "Ignore excluded tests in PR testing"
The list of excluded tests in the defaults.yml should only take affect for a nightly build. When running a custom build, personal build, or PR testing, the excluded test list should be ignored. In these cases it's up to the user to decide which tests to run.

[2020-12-06 20:31] pshipton commented on #11380
@AdamBrousseau @jdekonin

[2020-12-06 20:31] pshipton commented on #11380
@llxia fyi

[2020-12-06 20:35] pshipton commented on #11379
3x grinder on DaaLoadTest_daa2_ConcurrentScavenge_0 passed.
https://ci.eclipse.org/openj9/job/Grinder/1258/
12x grinder https://ci.eclipse.org/openj9/view/Test/job/Grinder/1259/

[2020-12-07 00:05] AdamBrousseau commented on #11380
I was thinking dup #8209 but I guess this is slightly different.

[2020-12-07 02:21] pshipton commented on #11379
@dmitripivkine can you pls take a look.

[2020-12-07 04:29] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal_testList_1/1/
LambdaLoadTest_OpenJ9_NonLinux_special_26
variation: Mode107-OSRG
JVM_OPTIONS:  -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation

Diagnostics https://140-211-16

[2020-12-07 13:31] JasonFengJ9 commented on #11274
**Update:**

`IllegalAccessError` occurred when checking the target super classes.
Here is a simplified testcase. There are three modules involved, `module.a`, `module.b` and `module.c`.

[code]

[code]

[code]

`OpenJ9` output:
[code]
This can be workaround via adding `--add-reads module.a=module.c` or changing `module.b` requires clause to `requires transitive module.c;`.
However `RI` works out-

[2020-12-07 14:15] tajila commented on #11274
According to the spec

[code]

@JasonFengJ9 Do you know where we are doing the `superClass` access check?

[2020-12-07 14:18] #11271 closed

[2020-12-07 14:23] 0xdaryl commented on #11136
FYI… Apologies for the late notice, but I need to push the start time of our discussion tomorrow out 30 minutes to 10am EST.  I have a scheduling conflict that unfortunately can’t be changed.

[2020-12-07 14:33] JasonFengJ9 commented on #11274
Thanks @tajila
The `lookupClass` is being checked here which is updated via `lookupClass = SUPERCLASS(lookupClass)` at end of the loop.
https://github.com/eclipse/openj9/blob/c144b7cf44c4615323776676762b7cb3b662de35/runtime/vm/lookupmethod.c#L700
https://github.com/eclipse/openj9/blob/c144b7cf44c4615323776676762b7cb3b662de35/runtime/vm/lookupmethod.c#L204

This issue is the case that the module of

[2020-12-07 14:39] pshipton commented on #11192
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/1854

[2020-12-07 14:47] tajila commented on #11274
Perhaps the visibility check should be performed with the `targetClass` rather than the `methodClass`

[2020-12-07 14:51] JasonFengJ9 commented on #11274
Agreed, `checkModuleAccess` just need check against `targetClass` instead of `methodClass`, other visibility check can stay intact.

[2020-12-07 14:59] 0xdaryl commented on #8972
Given the inability to reproduce this problem with any form of diagnostic aids this is not going to be resolved for 0.24, hence moving this out to JDK16.

However, if the existing diagnostic procedures are not proving to be effective we will have to brainstorm more creative and bespoke approaches for 0.25.

[2020-12-07 15:08] tajila commented on #11274
The module check may not be needed at all in methodlookup since the class/interface resolve is always done first. The module check would have already been performed on the correct class.

[2020-12-07 15:27] JasonFengJ9 commented on #11274
This seems the module access check when resolving the `class/interface`
https://github.com/eclipse/openj9/blob/c60b68ad083fb64d7936759202ce48deb52c6ed2/runtime/vm/resolvesupport.cpp#L403

[2020-12-07 15:28] dmitripivkine commented on #11379
c-stack for crash:
[code]
Looks like this is duplicate of https://github.com/eclipse/openj9/issues/10489
I am going to try to find more details in the core
@gita-omr FYI

[2020-12-07 15:40] tajila commented on #11178
@gacholio Perhaps this could be solved by just performing U_32 sized read/stores for flattened fields? This would be important for arrays especially if the flattened size is less than U_64.

[2020-12-07 15:44] tajila opened #11382 "ValueTypes: Gencon support for flattened arrays"
When running the ValueType tests with `-Xgcpolicy:gencon -Xnocompactgc -XX:ValueTypeFlatteningThreshold=99999 -XX:+EnableArrayFlattening` it fails with:

[code]

The code in question is in `MM_ScavengerDelegate::getObjectScanner`

[code]

[2020-12-07 15:44] tajila commented on #11382
@dmitripivkine

[2020-12-07 16:09] pshipton commented on #11292
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9/839
This one occurred on build-macstadium-macos1014-x64-1

[2020-12-07 16:18] tajila commented on #11292
Have we been able to capture any diagnostic files? system/java cores?

[2020-12-07 16:21] pshipton commented on #11292
There is basically no information about the `Segmentation fault: 11`, not much we can do atm. It's not even clear that Java is producing the Segmentation fault, as Java should produce different output and usually some diagnostic files. If a core file is created and that can be obtained and analyzed, we can determine what and where the Segmentation fault occurs.

The OpenJ9 project hasn't seen this

[2020-12-07 16:23] hangshao0 commented on #11342
What happens here is that `loaderURLs` is not updated because the `usingSharedClasses()` returns false here:

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/java.base/share/classes/jdk/internal/loader/URLClassPath.java#L572to#L575

`usingSharedClasses()` should return `true`. However, when reaching the above code, it is too early that the SCC support for `builtinClassLoaders`

[2020-12-07 16:30] hangshao0 commented on #11342
Pull Request: https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/369

[2020-12-07 16:31] dmitripivkine commented on #11379
This is from core https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_1/3/system_test_output.tar.gz
generated for https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_1/3/

For Tenure for list
[code]
reached object `!j9object 0x887f3f20` eventually
[code]
next object

[2020-12-07 16:35] liqunl commented on #10665
I haven't made any progress on this issue. Given the time left and other issues I'm working on, I suggest we defer this to next release

[2020-12-07 16:46] #11379 closed

[2020-12-07 16:56] rmnattas commented on #10706
One thing about this issue that it happens from different tests (we say it from CopyMemory.java, Serialization.java and IteratorDefaults.java) which could indicate that its something else happening causing this crash.
The last available artifacts that we're not old to get auto-delete were 3 all in `jdk/test/sun/misc/CopyMemory.java`[2] so I can't fully confirm what I found is the common thing in a

[2020-12-07 17:01] dmitripivkine opened #11384 "Improve gccheck for ownablesynchronizer in DDR"
Currently `GCOwnableSynchronizerObjectListIterator` is taking head the list from `_head` slot of `mm_ownablesynchronizerobjectlist`.  However if this list is under scan the `_head` slot is NULL and actual head is saved in `_priorHead`. So `gccheck` does not check list for consistency.
For example:
[code]
So would be useful if `GCOwnableSynchronizerObjectListIterator` tries `_priorHead` as a head i

[2020-12-07 17:02] dmitripivkine commented on #11384
FYI @amicic @LinHu2016

[2020-12-07 17:11] dmitripivkine commented on #11382
ok, thank you. This is missed implementation too... I guess it was not obvious how to disable Split Arrays scan for Flattened Arrays so it was not added at all

[2020-12-07 17:20] gita-omr commented on #10706
Wow! That’s great! I think we can definitely assume it’s a duplicate of #11163

[2020-12-07 17:21] dmitripivkine commented on #11374
@bragaigor Would you please take a look to this? Normally an array of available page sizes  for platform should be terminated by zero. So it should like [4k,2m,0] or [4k,0] if `VM_FLAGS_SUPERPAGE_SIZE_2MB` is not defined

FYI @amicic

[2020-12-07 17:44] bragaigor commented on #11374
As @pshipton  said in `omrvmem_startup()` we hard code the above 3 page sizes. When we set the second page size:
[code]
`PPG_vmem_pageSize[1]` will be zero but `PPG_vmem_pageFlags[1]` is non zero which leads to the behaviour described above where in one part of the code we stop when we find a 0 entry and in the other we find the 2M as a valid page size since it's using the `flags` field instead of

[2020-12-07 18:21] gacholio commented on #11178
I thought nested types which have U_64 fields are already U_64 aligned. If so, why is this a problem at all? Using U_32 copies would tear U_64 values, so I don't think that's a solution.

Can you provide and example where the problem occurs?

[2020-12-07 18:34] pshipton commented on #11374
It's not quite that simple as there are other places in the port library code which reference [1] and [2] directly. See omrvmem_default_large_page_size_ex(), omrvmem_commit_memory(), omrvmem_reserve_memory_ex(), reserveMemory(), getMemoryInRange(). I'm also wondering if there could be a behavior change for an OMR port library user if the entries are swapped. Not necessarily Java, since I don't see

[2020-12-07 18:44] bragaigor commented on #11374
Yes the appropriate `#if def` would need to accompany those usages in that case. But your suggestion to check both flags and pagesize in that loop looks to be the simplest indeed.

[2020-12-07 18:45] dmitripivkine commented on #11374
Well, I was not aware about implementation using `OMRPORT_VMEM_PAGE_FLAG_SUPERPAGE_ANY` and this implementation is terrible obviously. Technically it creates fake flag to use particular OS feature. Also I can not see any point in OpenJ9 where this feature is used (`OMRPORT_VMEM_PAGE_FLAG_SUPERPAGE_ANY` should be set explicitly, is not it?).

The rules for platform memory size / flags arrays are:
-

[2020-12-07 19:02] bragaigor commented on #11374
That looks like it. Couldn't find anywhere that `OMRPORT_VMEM_PAGE_FLAG_SUPERPAGE_ANY` is used either. This flag is used to set the file descriptor in case we want to use "superpages anywhere", which is a very particular OSX way to use large pages. There's not too much documentation involving large pages in OSX either. I've already spend some time in the past looking for those resources are they a

[2020-12-07 19:04] LinHu2016 commented on #11384
Thanks @dmitripivkine point the case, but _priorHead might only work during concurrent gc, for stop the world gc, we try to rebuild the ownablesynchronizerobjectlist list piggyback the objects scan, so during scanning, might be not able to retrieve whole list(gc-start and gc-end are fine). also there is a plan to remove whole OwnableSynchronizerObjectList in near future, so we'd better holding it

[2020-12-07 19:29] dmitry-ten opened #11386 "JITServer should know when client is in a startup phase for hint support"
`testSCCMLSoftmx_1`  [fails](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.functional_x86-64_linux_jit_Nightly/249/tapResults/) due to JIT hints not being added.
The test requires for memory and cpu expensive compilations to add hints to the SCC, however
the hints are only added during startup, to reduce the total number of them.
But since JITServer is never in a start

[2020-12-07 19:32] dmitry-ten commented on #11386
@mpirvu what do you think is the best way to handle this?
I propose we store whether client is in a startup phase in server's client session and add a front-end query that would replace `jitConfig->javaVM->phase != J9VM_PHASE_NOT_STARTUP` in the above example.
I'm not sure if there are other places where client's phase would matter but if such cases exist we could use the same query there as well.

[2020-12-07 19:35] tajila commented on #11178
Currently, types with double alignment are padded to U_64, types with object alignment are padded to `J9JAVAVM_REFERENCE_SIZE` and types with single alignment are not padded at all.

The problem shows up in this type of scenario:

[code]

The layout of `TwoInts` would be:

[code]

When writing `i` we would end up overwriting `i2`. This problem is made worse when dealing with arrays.

Perhaps we on

[2020-12-07 19:41] 0xdaryl commented on #11205
After an initial look, it doesn't seem like we'll make much progress on the 0.24 timeframe without more crash context.  From the javacore, the backtrace appears to show the point at which GC was triggered and exposed the problem, not where the problem was introduced.  I'm going to move this to 0.25.

[2020-12-07 19:44] dmitripivkine commented on #11374
I think if page size element in never used for `OMRPORT_VMEM_PAGE_FLAG_SUPERPAGE_ANY` why not to set it that way it helps logic? If we set it to 4k and keep element [1] it just will work [4k,4k*,2m,0]. Is it too ugly?

[2020-12-07 19:48] mpirvu commented on #11386
Yes, that's the right approach: store the phase in the ClientSession, update with each compilation request and use a frontend query to retrieve it.

[2020-12-07 19:50] gacholio commented on #11178
Is this problem specific to copyFields (which I assume is for clone)? Field loads and stores will always be done with the appropriately-sized type, and if we're copying the whole object, using the largest alignment should be fine (I don't see why it matters that the copy spans the nested types if the whole object is being copied).

[2020-12-07 19:50] 0xdaryl commented on #11177
Has the AArch64 problem been seen since the initial report (and whose build information is no longer available)?  @knn-k  has tried but failed to reproduce.

@pshipton : for my own edification, why is this labeled a blocker?  I'd just like to understand the criteria.

[2020-12-07 19:56] gacholio commented on #11178
If copyFields is used for array copy, then I suppose this would be an issue.

[2020-12-07 19:57] dmitripivkine commented on #11374
ok, despite it solves logical problem this is bad idea probably because also needs to be handled in `-vergose:sizes` reporting. We can use code `0xffffffff` for page size and filter it for reporting. However it means make this element "last" [4k,2m,0xffffffff,0] so it can not be hardcoded as [2] any more because number of pages might be changed in the future eventually... Probably we can keep flag

[2020-12-07 19:57] tajila commented on #11178
Yes, the problem is with `copyFields`

Copy fields also use with putfield, getfield and withfield of all qtype fields. As well as aaload/store of all value type array elements.

[2020-12-07 20:10] dmitripivkine commented on #11384
Thanks Lin. There is a failure https://github.com/eclipse/openj9/issues/10489 (and dup https://github.com/eclipse/openj9/issues/11379) where GC crashes in `MM_MarkingSchemeRootClearer::scanOwnableSynchronizerObjects()` because of list corruption (assigned to JIT). There is no gccheck support to find corrupted object pointer, it should be done manually and it is inconvenient. I agree with you that

[2020-12-07 20:33] bragaigor commented on #11374
Cool, I can take care of these changes. Just wanted to clarify, do we want to swap `[1]` and `[2]` and keep page size of `[2]` as zero or do we want to swap and update page size of `[2]` to code `0xffffffff` as the new page size?

[2020-12-07 20:36] gacholio commented on #11178
Looking at `MM_ObjectAccessBarrier::copyObjectFields` it seems it's also incorrect for compressed - it will copy longs by 32-bits which could result in tearing. This might only matter in the case of volatile fields (IIRC, non-volatile longs on 32-bit platforms will tear). Are volatile fields allowed inside value classes?

[2020-12-07 21:22] dmitripivkine commented on #11374
from me +1 to swap, fix hardcoded elements references and put explanation in the comment
@pshipton are you ok with this?

[2020-12-07 21:53] JasonFengJ9 opened #11390 "JDK16 UnsupportedOperationException: ByteBuffer not supported"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_s390x_linux_Nightly/325`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
22:52:08  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=s390x_linux&TARGE

[2020-12-07 21:56] JasonFengJ9 opened #11391 "JDK16 GCMBufferTest Exception: Wrong update return len (BYTE): rlen=0, expected output len=16"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_s390x_linux_Nightly/325`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
22:52:08  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=s390x_linux&TARGE

[2020-12-07 23:06] pshipton commented on #11177
@0xdaryl I set it as a blocker because it was blocking the functional tests from completing, potentially hiding other problems. Also consuming machine resources until the test times out, which may impact other testing. Feel free to adjust it as desired.

[2020-12-08 01:07] pshipton commented on #11374
I'm not against it. I'm not sure what side affects it might have on a OMR user, so it may be useful to figure out who originally wrote the code and check with them if possible. I'm not sure if Java supports `OMRPORT_VMEM_PAGE_FLAG_SUPERPAGE_ANY`, setting the deprecated `-Xlp` option isn't supported (`JVMJ9GC032E System configuration does not support option '-Xlp'`). omrvmem_default_large_page_size

[2020-12-08 01:12] pshipton commented on #11374
Also, once `-Xlp` is removed I'm not sure how the `-Xlp:objectheap:pagesize=` option would be used to specify OMRPORT_VMEM_PAGE_FLAG_SUPERPAGE_ANY. Not that I need it to work, this could be left for a later time.  My original goal was to resolve https://github.com/eclipse/openj9/issues/11171 but I ran into this problem. Interestingly the codecache tests pass after I added Mac to the list of platfo

[2020-12-08 01:20] pshipton commented on #11391
@JasonFengJ9
- is this an intermittent failure?
- does/did it fail only on zlinux or across platforms?

[2020-12-08 01:29] pshipton commented on #11390
@JasonFengJ9 I assume this isn't an intermittent problem and occurs across platforms?

Not sure if this is a temporary bug in OpenJDK, or a problem introduced by the openssl support. We can re-run the test with `-Djdk.nativeCrypto=false` to see if it still fails.

[2020-12-08 01:32] pshipton commented on #11390
It would be nice to know what test case is being run.

[2020-12-08 01:37] pshipton commented on #11390
Seems all of these:
com/sun/crypto/provider/Cipher/AEAD/Encrypt.java.Encrypt
com/sun/crypto/provider/Cipher/AEAD/GCMBufferTest.java.GCMBufferTest
com/sun/crypto/provider/Cipher/AEAD/OverlapByteBuffer.java.OverlapByteBuffer
com/sun/crypto/provider/Cipher/AEAD/SameBuffer.java.SameBuffer

[2020-12-08 01:44] mnalam-p commented on #11192
With the AutoSIMD fix, still I was able to generate the failure locally. It is still kind of hit and miss to generate the failure. One observation I can see from the actual vs expected output failure is that the first three values are off by one byte.
For `0xC3,0x9F,0xE2` vs `00DF` we get 65503 (FFDF) and our expected was 0x00DF
For `0x85,0x93,0xE2` vs `2153` we get 57683 (E153) and our expected w

[2020-12-08 01:53] pshipton commented on #11184
@harryyu1994 I assume this is fixed via #11388 (after it was reverted and re-added), and this can be closed now? Note you can use auto-close keywords in your PRs. i.e. `closes #11184` or `fixes #11184` instead of `issue #11184`.

[2020-12-08 01:54] pshipton commented on #11184
What I like to do is put `Issue` into the commit comment, but change this to `Fixes` or `Closes` when creating the PR.

[2020-12-08 01:55] pshipton commented on #11390
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1261 passed com/sun/crypto/provider/Cipher/AEAD/GCMBufferTest.java with `-Djdk.nativeCrypto=false`. I'll try the entire jdk11_tier1_cipher_0 suite.

[2020-12-08 01:58] JasonFengJ9 commented on #11391
This is also seen across platforms: `AIX`, `x86-64 Linux`, `mac` & `Windows`.

The failure occurred in last two nightly builds, it doesn't seem intermittent.

It appears a regression between following two builds:
Good build:
[code]

Bad build:
[code]

[2020-12-08 02:00] pshipton commented on #10706
In that case, unless somebody has an objection we can go ahead and close this since #11163 has been fixed. I'll reopen it if the problem is seen again.

[2020-12-08 02:01] pshipton commented on #10489
See additional failures in https://github.com/eclipse/openj9/issues/11379, which is closed as a dup of this.

[2020-12-08 02:04] JasonFengJ9 commented on #11390
Similarly with https://github.com/eclipse/openj9/issues/11391#issuecomment-740309497, this occurred across platform and is a regression between following two builds.
Good build:
[code]

Bad build:
[code]

[2020-12-08 02:14] sharon-wang commented on #11359
Added some custom error messages in my personal build to find out that the "package private" member being accessed here is `MethodHandles.classData`.

From https://github.com/eclipse/openj9/issues/11366#issuecomment-738940000, it seems that this issue will be alleviated by changes from the ongoing [JSR 292 Work](https://github.com/eclipse/openj9/issues/7352). Upon adding modifier `public` to the d

[2020-12-08 02:15] gacholio commented on #11178
Note the above issue does not affect normal objects, since the cloned object is not visible to any other thread until after the data copying has been done, but it will need to be fixed for putfield/array of VTs.

[2020-12-08 02:55] pshipton commented on #11390
https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/f7021059fd3...a40d4ba969a
I expect openssl support isn't compatible with `8253821: Improve ByteBuffer performance with GCM`
@ashbm5

[2020-12-08 02:56] pshipton commented on #11391
See https://github.com/eclipse/openj9/issues/11390#issuecomment-740330784

[2020-12-08 03:32] #11184 closed

[2020-12-08 03:52] pshipton commented on #11184
Actually, in order to get these changes into the 0.24.0 release, please open PRs for the OMR and OpenJ9 changes against the v0.24.0-release branches.

[2020-12-08 08:51] andrew-m-leonard opened #11397 "jdk8 sanity.functional cmdLineTest_sigabrtHandlingTest_0 ProcessKiller hang"
Looks similar to issue fixed for jdk11+: https://github.com/eclipse/openj9/commit/06624126864eb5510fe53823e835e9af4d191ab0

https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.functional_x86-32_windows/39/console
[code]

[2020-12-08 10:07] lumpfish commented on #10489
There was a failure on the adoptopenjdk 0.24.0-m1 build which looks like a dup of this: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.system_ppc64_aix/98/consoleFull.
[code]
[code]

[2020-12-08 12:16] sirinath opened #11398 "User Defined Extensions"
Can the plugin and extension mechanism be added to OMR/OpenJ9 so what user-defined optimization of code can be added without recompiling and compromising the integrity of the runtime?

This way developers can add optimisation for hardware accelerators, GPU. FPGA, etc. or application-specific optimisations.

[2020-12-08 12:38] paulcheeseman opened #11399 "String.equalsIgnoreCase() behaves differently to OpenJDK for Turkish 'i' characters"
In Turkish there are four 'i' characters:

- Dotted lowercase  - `U+0069 (i)`
- Dotless uppercase - `U+0049 (I)`
- Dotted uppercase  -  `U+0130 (İ)`
- Dotless lowercase  -  `U+0131 (ı)`

With OpenJDK, `String.equalsIgnoreCase()` returns `true` when comparing all of these characters to one another:

[code]

However, with OpenJ9, `String.equalsIgnoreCase()` returns `false` when comparing `U+0130 (İ)

[2020-12-08 12:50] pshipton opened #11400 "AIX MauveMultiThreadLoadTest_special_16 hang PrintStream.println(PrintStream.java:806(Compiled Code))"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_testList_4/5
MauveMultiThreadLoadTest_special_16
aix71-p8-8
variation: Mode555
JVM_OPTIONS:  -XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xcheck:gc:vmthreads:all:qui

[2020-12-08 12:50] pshipton commented on #11400
@gita-omr fyi, but there is no core file.

[2020-12-08 12:51] pshipton commented on #11192
FYI a hang in the same test https://github.com/eclipse/openj9/issues/11400

[2020-12-08 12:57] pshipton opened #11401 "PlatformLoggerTest.java Logger test.platformlogger.goo does not exist"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_xl_Nightly/1
jdk_util_j9_0
sun/util/logging/PlatformLoggerTest.java
[code]

[2020-12-08 13:23] pshipton opened #11402 "jdknext failing to compile, Could not find or load main class com.ibm.j9ddr.tools.ClassGenerator"
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/396/
[code]

https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/ac04db2e...0e3d888

I'm guessing the merge broke something related to building OpenJ9.

[2020-12-08 13:25] pshipton opened #11403 "Class::isRecord should check that the current class is final and not abstract"
Noticed the following change in jdk16

8255560: Class::isRecord should check that the current class is final and not abstract

[2020-12-08 13:26] pshipton commented on #11026
fyi https://github.com/eclipse/openj9/issues/11403

[2020-12-08 13:28] pshipton opened #11405 "Compiler implementation for Sealed Classes (Second Preview)"
Noticed the following change, currently in the openj9-staging branch.

8246778: Compiler implementation for Sealed Classes (Second Preview)

[2020-12-08 13:29] pshipton commented on #11273
fyi https://github.com/eclipse/openj9/issues/11405

[2020-12-08 13:37] pshipton commented on #11399
@paulcheeseman what version(s) of OpenJ9 have you testing?

[2020-12-08 13:43] pshipton commented on #11397
Dup of https://github.com/eclipse/openj9/issues/11198

[2020-12-08 13:44] pshipton commented on #11198
Another occurrence here https://github.com/eclipse/openj9/issues/11397

[2020-12-08 13:53] pshipton commented on #11401
Try 5x x 4 grinder https://ci.eclipse.org/openj9/job/Grinder/1263/

[2020-12-08 14:02] pshipton commented on #11397
I'll keep this open for the test issue, https://github.com/eclipse/openj9/pull/11199 was supposed to fix the problem of the cmdline tester waiting forever, but it seems not working.

[2020-12-08 14:09] paulcheeseman commented on #11399
OpenJ9 0.23 in both Java 8 and Java 11. Specifically these two AdoptOpenJDK builds:

- OpenJDK8U-jdk_x86-32_windows_openj9_8u275b01_openj9-0.23.0
- OpenJDK11U-jdk_x64_windows_openj9_11.0.9_11_openj9-0.23.0

I also see the same behaviour with IBM Java 8.0.6.20. This isn't a regression though - I see the same behaviour going all the way back through older 7.x and 6.x releases.

[2020-12-08 14:34] tajila commented on #11271
@gatoborrachon If you check here, https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9 for tonight's build it should have the fix for this issue.

[2020-12-08 14:38] JasonFengJ9 commented on #11402
It is related removal of `PATH_SEP`.

[2020-12-08 14:48] tajila commented on #11399
@sharon-wang Can you please take a look at this?

[2020-12-08 14:49] tajila commented on #11359
Thanks for the investigation @sharon-wang

[2020-12-08 14:54] ashbm5 commented on #11390
@samasri please have a look, looks like some updates from OpenJDK broke openssl support

[2020-12-08 14:54] tajila commented on #11402
@JasonFengJ9 Do you have a link to that PR?

[2020-12-08 14:55] gacholio commented on #11178
Perhaps the best answer would be to look ahead - when doing a primitive copy at an 8-aligned address, peek the next description bit. If it's 0, consume the bit and do a U_64 copy. Otherwise, do the U_32 copy (inside the case where referenceSize == 4).

[2020-12-08 15:25] JasonFengJ9 commented on #11402
@tajila it is https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/9bac781cde77b39e4d380d6d3ed71d8ef052805f

[2020-12-08 15:32] #11179 closed

[2020-12-08 15:44] dsouzai commented on #11179
@liqunl you'll have to open another PR for the 0.24 branch

[2020-12-08 15:50] sharon-wang commented on #11399
Sure, taking a look

[2020-12-08 16:09] JasonFengJ9 commented on #11402
Created PR https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/255

[2020-12-08 16:13] llxia commented on #11365
Close this issue as the latest windows nightly is green: https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly/561/

[2020-12-08 16:13] #11365 closed

[2020-12-08 16:16] gacholio commented on #11178
Something like this:
[code]

[2020-12-08 16:18] pshipton opened #11407 "Update Windows to openssl 1.1.1i"
1.1.1i contains security fixes.
I'll open a PR for the other platforms and update here.

[2020-12-08 16:18] pshipton commented on #11407
@jdekonin

[2020-12-08 16:18] gacholio commented on #11178
The above code assumes that the start of the described area is 8-aligned, which is probably not true for compressed, so the actual code will be slightly more complex.

[2020-12-08 16:27] pshipton commented on #11407
PR for non-Windows https://github.com/eclipse/openj9/pull/11408

[2020-12-08 16:28] paulcheeseman commented on #11399
The OpenJDK code does something which isn't described in the spec. It compares the characters after converting them to uppercase, then, crucially, it converts those uppercase characters back to lowercase and compares them again.

This means that `"İ".equalsIgnoreCase("ı")` and `"ı".equalsIgnoreCase("İ")` will return true because:

[code]

The code is here:

https://hg.openjdk.java.net/jdk8u/jdk8u/

[2020-12-08 16:28] tajila commented on #11178
Okay I think the following approach handles all cases:

1) When assigning field offsets
- if the class has double alignment
    - on 64bit: all nested fields with the `J9ClassHasReferences` flags are padded to U_64 boundaries
    // this is because instance description bits on 64bit platforms will represent a 64bit word.
    // types without the `J9ClassHasReferences` do not require the instance d

[2020-12-08 16:42] gita-omr commented on #11400
Thanks for letting know! I think we'll focus on #11192 for a bit longer and then get to this one.

[2020-12-08 16:44] gita-omr commented on #10706
I have no objections.

[2020-12-08 16:46] fjeremic commented on #10376
@mundaym is it possible to reduce test runtime? Is this still an issue?

[2020-12-08 17:49] pshipton commented on #11399
Seems like an error in the spec. compareToIgnoreCase() describes "calling Character.toLowerCase(Character.toUpperCase(character)) on each character"

[2020-12-08 17:52] dsouzai commented on #11179
@Thihup the fix for this will be in the 0.24 release.

[2020-12-08 17:55] #10706 closed

[2020-12-08 18:34] mundaym commented on #10376
On reflection I suspect this might just be caused by some non-portable usage of `sun.misc.Unsafe` in Spark. I am not in a position to reduce the test case (I am not an expert on Spark and I also no longer have access to IBM Z machines). Unless you think the stack dump is interesting and want to dig further I suggest closing the issue.

[2020-12-08 18:35] JasonFengJ9 commented on #11402
Somehow `closes eclipse/openj9#11402` didn't work for https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/255.

[2020-12-08 18:52] #11342 closed

[2020-12-08 18:56] pshipton opened #11410 "OpenJDK Windows build failed, No rule to make target jpp.jar"
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_windows_OpenJDK/357
[code]

[2020-12-08 18:57] pshipton commented on #11410
@tajila fyi this problem still blocking jdk16 acceptance.

I'm restarting the build just in case this problem is intermittent.

[2020-12-08 19:01] pshipton commented on #11410
@JasonFengJ9 fyi, maybe another place that needs fixing.

[2020-12-08 19:07] pshipton commented on #11410
The problem isn't intermittent.

[2020-12-08 19:12] JasonFengJ9 commented on #11410
Will take a look.

[2020-12-08 19:17] gacholio commented on #11178
I suspect that volatile either isn't allowed or is meaningless in a VT since they are read-only.

While the spec probably allows for tearing in non-volatile longs, in practice, this has never happened in a 64-bit VM for obvious reasons, so it would be wrong to introduce it here.

Note that the description bits are always in terms of "reference size", so I'm not sure you can have the three cases yo

[2020-12-08 19:19] 0xdaryl commented on #11136
Our next scheduled discussion will be Tuesday Jan 12 @ 7am EST.   https://ibm.webex.com/ibm/j.php?MTID=m37dc73c6c1ff8e79c39c18364d66df73   All are welcome.

[2020-12-08 19:34] #11402 closed

[2020-12-08 19:52] dmitry-ten commented on #11296
@mpirvu @0xdaryl could you take a look? You can ignore everything but the last 2 comments.

[2020-12-08 20:24] tajila commented on #11178
It will be allowed. For example

[code]

The usage of `Complex` and `ValueComplex` in terms of behaviour with respect to concurrent access is the same.

I am hoping that the layout of these types would be the same as well. For example:

[code]

In the case of `ValueA` if we want to have the following layout

[code]

This is only possible if in `copyObjectFields` we are using U_32 load/stores (on a

[2020-12-08 20:26] #11274 closed

[2020-12-08 20:41] 0xdaryl commented on #11296
There used to be a call to the trampoline adjustment code from PicBuilder in pre-open source releases, but I see it has been removed for some reason.  I'll try and find out when/why.

[2020-12-08 21:09] #10376 closed

[2020-12-08 21:49] dmitripivkine commented on #11374
GC code assumed that if `omrvmem_default_large_page_size_ex()`  (`j9vmem_default_large_page_size_ex()`) returns 0 as a page size such platform does not support Large Pages and goes straight to error message
This is old form of `-Xlp`
[code]
This is `-Xlp:objectheap:
[code]

[2020-12-08 21:49] pshipton commented on #11407
Created https://github.com/AdoptOpenJDK/openjdk-build/issues/2297 as well.

[2020-12-08 22:00] JPercival commented on #10309
Still seeing this error intermittently on Ubuntu 20.10 with 0.23.0.

when it works:
[code]
when it fails:
[code]
Steps to repro:

1. Fresh install of Ubuntu 20.10
2. Set up adoptopenjdk repo as [here](https://adoptopenjdk.net/installation.html?variant=openjdk11&jvmVariant=openj9)
3. ```sudo apt-get install adoptopenjdk-11-openj9```
4. Run ```java -version``` repeatedly. Fails maybe 1/3 of the time

[2020-12-08 22:10] dmitripivkine commented on #11374
In JIT code if `omrvmem_default_large_page_size_ex()` returns 0 it left `jitConfig->largeCodePageSize` and `jitConfig->largeCodePageFlags` uninitialized. Later on, however, if LP is requested JIT calls `j9vmem_find_valid_page_size()` which is hacked on OSX.

[2020-12-09 00:25] #11386 closed

[2020-12-09 01:46] ChengJin01 commented on #11026
I've updated the code with `J9ROMCLASS_IS_RECORD` https://github.com/ChengJin01/openj9/commit/f45d67dfd51d58985753ad557e780a37c5a12317 to deal with the check in ` Class::isRecord` given `J9ROMCLASS_IS_RECORD` is only called by `isRecord()` but also at multiple places (already verified in personal builds).

[2020-12-09 01:51] ChengJin01 commented on #11273
As for https://github.com/eclipse/openj9/issues/11405,  there is probably no change from VM perspective given it only mentioned about the compiler (javac).  Will wait & see how it goes in the latest jtreg test suites.

[2020-12-09 02:03] mpirvu opened #11415 "JITServer crash in openConnection()"
Stack trace:
[code]
Relevant code is:
[code]
The source address of the memcpy appears to be 0. This is coming from `entSer->h_addr` which is the same as `entSer->h_addr_list[0]` which should be a pointer to the network address of the host.

It is known that `gethostbyname()` is not MT safe and can return a pointer to static data. However, I don't expect the host to change its address, so I don't k

[2020-12-09 05:41] pshipton commented on #10929
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/232
java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessFloat.java

[2020-12-09 09:30] rubin55 opened #11417 "Consider changing the default javasharedresources directory directly in $HOME"
I noticed that since 0.16 the shared cache is on by default (great!) but also that the default directory for the cache has been changed from /tmp/javasharedresources to $HOME/javasharedresources, for understandable reasons.

I and possibly many other Linux desktop users using OpenJ9 don't expect to find this directory directly in their home folder and I would ask to consider moving this directory

[2020-12-09 12:50] pshipton commented on #11417
@hangshao0 fyi

[2020-12-09 12:53] 0xdaryl commented on #11296
This is a good find and good detective work to get to the bottom of it.

The original implementation of the unresolved dispatch logic had the call to adjust the reservation but when the code was rewritten almost 15 years ago that logic was missed for some reason.  I can't think of a reason why it would have been intentionally omitted.  I think it is needed--and in the spot that you identified--bec

[2020-12-09 13:00] pshipton opened #11418 "SC_Softmx_JitAot_0 crash vmState=0x00000000 InaccessibleReadAddress=FFFFFFFFFFFFFFFF"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/569
SC_Softmx_JitAot_0
[code]

4294967295 is 0xFFFFFFFF
There are diagnostic files, core, javacore, etc.
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/6/system_test_output.tar.gz

16.jvm4.stderr
[code]

[2020-12-09 13:00] pshipton commented on #11418
This looks similar to https://github.com/eclipse/openj9/issues/8213

[2020-12-09 13:09] pshipton opened #11419 "jdk next many IllegalAccessException failures, JEP 396 Strongly Encapsulate JDK Internals by Default"
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/398/

Changes:
https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/c18d297a8e1...73fc9d8
Likely related to 8256299: Implement JEP 396: Strongly Encapsulate JDK Internals by Default

Examples
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_ppc64_aix_OpenJDK/208/

[2020-12-09T11:13:41.313Z] FAILED test target

[2020-12-09 13:10] pshipton commented on #11419
@llxia @tajila fyi

[2020-12-09 13:11] JasonFengJ9 commented on #11410
This was caused by `FixPath` change introduced via https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/9bac781cde77b39e4d380d6d3ed71d8ef052805f
Before this change, `$(call FixPath,$(JPP_JAR))` is `C:/openj9-builds/jdk15-1208/openj9-openjdk-jdk15/build/windows-x86_64-server-release/support/j9tools/jpp.jar`.
With this change, `$(call FixPath,$(JPP_JAR))` is `c:\openj9-builds\jdk16-1208-staging\

[2020-12-09 13:27] 0xdaryl commented on #7699
Moving this forward another release for the reasons Liqun highlighted.

[2020-12-09 14:42] tajila commented on #11419
In the short term we can add `--illegal-access=permit` to the commandline args for these tests. Eventually we will need to address the underlying cause as that option may be deprecated in the future.

[2020-12-09 14:58] 0xdaryl commented on #9416
For 0.24, why don't we fail the compilation as we did in the 0.23 release (@Leonardo2718 to reintroduce the fix in 0.24) to "gracefully" avoid this problem.  Until we have more data on what the actual problem might be I think that is the safest way to work around this problem.

In the meantime, in the head stream, I like @liqunl's suggestion of capturing more of the API results that are producing

[2020-12-09 15:17] llxia commented on #11419
@LongyuZhang could you please help to add the `--illegal-access=permit` in the above tests? Thanks

[2020-12-09 15:23] mnalam-p commented on #11192
After reducing the test case, I still see the test failure. I am suspecting the problem is in `new String(byte [], Charset)`. Following is the test case which was able to generate the test failure -
`import java.nio.charset.Charset;
import java.nio.charset.UnsupportedCharsetException;

public class ConsCharset
  implements Testlet
{
  public void test (TestHarness h)
  {
    try
      {
        by

[2020-12-09 16:18] dmitry-ten commented on #11296
Alright, thanks for providing the original implementation.
I'll try to adapt it to the current code.

[2020-12-09 16:54] hangshao0 commented on #11417
I am fine changing the default SCC directory to be a hidden directory, probably `$HOME/.javasharedresources` (avoid adding additional sub-directories).

Another question is whether we want to do the same on Windows. I guess using `$HOME/.javasharedresources` on Windows should also be fine.

[2020-12-09 17:01] hangshao0 commented on #11417
Please ignore my Windows comment. The default SCC directory is different there.

[2020-12-09 17:22] JPercival commented on #10309
This issue appears to be related to the Linux kernel version.
5.8.0-29-generic works for OpenJ9 0.21.0 and 0.23.0
5.8.0-31-generic is broken for OpenJ9 0.21.0 and 0.23.0

Hope this is helpful. I don't know if it's an issue solely in the kernel, solely in OpenJ9, or due to some interaction between the two. I've downgraded to 5.8.0-29 for the short term.

[2020-12-09 17:58] lumpfish opened #11422 "AIX jdk-15.0.1+9openj9-0.24.0-m1 OOM failure running java/foreign/TestSegments.java"
openjdk test java/foreign/TestSegments.java failed on jdk-15.0.1+9openj9-0.24.0-m1 with an OutOfMemoryError,
Failing job: https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_sanity.openjdk_ppc64_aix/135/.
Test target jdk_foreign_0 passed on other platforms.
[code]

Output around time of failure:

[code]
github won't let me attach the test output which includes a core dump. but I have a copy locally.

[2020-12-09 18:08] harryyu1994 commented on #4850
I will tackle this task by task:

Talked to Irwin offline:
[code]
should be already handled by https://github.com/eclipse/openj9/pull/10159

[code]
the key to tackle this one is to find the location to add our AOT validation record.
@liqunl could you point to me where the "ldc bytecode patching of object" takes place?

[2020-12-09 18:17] dsouzai commented on #4850
Specifically, where does the compiler get the patched object that it puts into the KOT?

[2020-12-09 18:35] pshipton commented on #10309
@0xdaryl fyi

[2020-12-09 18:37] pshipton commented on #10309
@harryyu1994 fyi as well

[2020-12-09 18:42] pshipton commented on #11422
@lumpfish it's OOM. You should be able to attach the javacore. I wonder if the machine is insufficient for the test. I can grind it at OpenJ9, maybe try that at Adopt as well.

[2020-12-09 19:03] sharon-wang commented on #11399
Thanks for the details! Made it really easy to reproduce and verify that my fix works (opened https://github.com/eclipse/openj9/pull/11423).

I tested it with the original test program (single character strings) as well as with multi-character strings (e.g
and got true for all cases:

[code]

[2020-12-09 19:26] harryyu1994 commented on #4850
talked to liqun offline, the answer can be found in this PR: https://github.com/eclipse/openj9/pull/11092

[2020-12-09 19:31] liqunl commented on #4850
The object is from ram constant pool. The rom cp entry refers to a String which is just a placeholder that gets patched to a different object. Rom class remain the same, we patch the object in ram class cp entry. The bytecode looks no different itself, other than that the object it loads might not be the original object. Notice that the patched object can be anything, including a string object.

[2020-12-09 20:03] liqunl commented on #4850
should be already handled by #10159

I don't think #10159 handle the case where generated method is called or inlined from a JIT method. The generated method or user method denoted by a MethodHandle is obtained from MemberName object. The object encodes information of target method of invokehandle/invokedynamic bytecodes, as well as MethodHandle.invokeBasic and linker methods like linkToStatic, li

[2020-12-09 20:07] dsouzai commented on #4850
Task 4 in the description is to address this issue.

[2020-12-09 20:12] liqunl commented on #4850
We get the j9method and/or its vtable/itable index, then create a resolved method with `TR_J9VMBase::createResolvedMethod`, which calls to `TR_J9VMBase::createResolvedMethodWithSignature`. I don't see an AOT implementation of them. But we I found `TR_ResolvedRelocatableJ9Method::createResolvedMethodFromJ9Method`, I wonder if it can be used. But we may not have a valid cpIndex

[2020-12-09 20:16] pshipton commented on #11422
Ran 15 tests across 5 machines (3 x 5), with no failures, but all the OpenJ9 AIX machines are the same.
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1266/

[2020-12-09 20:22] gatoborrachon commented on #11271
@tajila ok, i will check for it, many thanks

[2020-12-09 20:50] gita-omr opened #11424 "Enable Global Lock Reservation by Default"
Currently, Global Lock Reservation can be enabled using -XX:+GlobalLockReservation and is not on by default. We would like to enable it by default on POWER.

[2020-12-09 20:51] gita-omr commented on #11424
@IBMJimmyk @vijaysun-omr @zl-wang  fyi

[2020-12-09 21:00] dsouzai commented on #4850
`TR_J9VMBase::createResolvedMethodWithSignature` checks for AOT within it. However, for inlined methods we would need to create a new inlined method relocation record; we will materialize and validate the J9Method there (see https://github.com/eclipse/openj9/pull/11396 if you're curious as to how inlined method validation/relocation  works).

[2020-12-09 21:03] dsouzai commented on #4850
We may need a relocation record for this (definitely a validation record when the SVM is enabled). The place where we actually get the J9Method from a VM API is what's important to know.

[2020-12-09 23:11] dsouzai opened #11427 "Convert serialized runtime assumption data into offsets"
When runtime assumptions are serialized, the data in each record are currently pointers. This works right now because we run with ASLR disabled. However, these should be converted into offsets from the start of the image.

[2020-12-10 01:11] knn-k commented on #11218
Possibly related to #10741 and #11177

[2020-12-10 01:38] harryyu1994 commented on #4850
I'm slowly understanding this now, may still need to look into it more but task 2 is clear to me now:
[code]
- I'm going to come back tomorrow to refine this comment but i think on the right track now..

[2020-12-10 09:36] andrew-m-leonard commented on #1796
@pshipton another occurence of this hang?
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_aarch64_linux/59/console
[code]
and again here: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_aarch64_linux/57/

[2020-12-10 13:34] pshipton commented on #1796
@knn-k

[2020-12-10 13:51] lumpfish commented on #11422
The test didn't create a javacore, but I extracted and zipped the core file which can be attached.
[core.20201207.184948.16842858.0001.dmp.zip](https://github.com/eclipse/openj9/files/5673178/core.20201207.184948.16842858.0001.dmp.zip)

[2020-12-10 14:56] pshipton commented on #11422
Seems the core file is unreadable.
[code]

[2020-12-10 15:18] pshipton opened #11430 "MacEncoding/TestFileEncoding crash vmState=0x00040000 RuntimeException: TEST FAILED: !tr.isOK()"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/234
jdk_lang_j9_0
java/lang/System/MacEncoding/TestFileEncoding.java

Diagnostics https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/234/openjdk_test_output.tar.gz
[code]

[2020-12-10 15:22] pshipton commented on #11430
Seems a __findenv problem, which we haven't seen for some time.

[2020-12-10 15:22] pshipton commented on #7247
fyi https://github.com/eclipse/openj9/issues/11430

[2020-12-10 15:23] pshipton commented on #5153
fyi https://github.com/eclipse/openj9/issues/11430

[2020-12-10 15:24] pshipton commented on #11430
Running 12x (3x x 4) grinders https://ci.eclipse.org/openj9/job/Grinder/1269/

[2020-12-10 15:25] pshipton commented on #5061
fyi https://github.com/eclipse/openj9/issues/11430

[2020-12-10 15:42] dsouzai commented on #4850
Regarding the beholder class, when the SVM is enabled you would just use the beholder class ID; when the SVM is disabled, you will have to use the inlined site index (inlined site index --> j9method --> j9class/j9constantpool).

[2020-12-10 15:46] Leonardo2718 commented on #9416
Opened #11431 to "gracefully avoid this problem" in 0.24.

[2020-12-10 15:50] jonoommen commented on #10638
From reproducing this and analyzing the data for various test scenarios, there were many findings, but here is a summary of what is most relevant.

Firstly, we are dealing with 2 problems here:
- excessive GC not kicking in while it should as both CPU overhead and reclaimed memory criteria are met
- OOM error triggered intermittently - some runs fail with OOM, while other runs are passing with ple

[2020-12-10 16:24] jdekonin commented on #10579
For future reference these changes in the adopt playbook address the fix that was required.
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/9a9a5872980943eb3fd824c6dcb9dc85aacab515/ansible/playbooks/aix.yml#L787
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/9a9a5872980943eb3fd824c6dcb9dc85aacab515/ansible/playbooks/aix.yml#L792

[2020-12-10 17:26] harryyu1994 commented on #4850
@liqunl I think I still need the answer to this question

- where in the codebase do we do this?
- i think for the AOT validation part we need to get hold of the j9class pointer of that patched object, how/where can we get it?
- in #11092, this clazz pointer won't give me the information i need right? like you mentioned it's just a placeholder.
[code]

[2020-12-10 18:48] sharon-wang commented on #9912
Thanks so much to @mreuvers for working with me to test JDKs along the way! I've opened a PR with a fix: https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/370.

[2020-12-10 19:22] pshipton commented on #11401
Also fails with -Xint https://ci.eclipse.org/openj9/job/Grinder/1270

[2020-12-10 19:30] gatoborrachon opened #11433 "IllegalAccessException: Caller-sensitive method cannot be looked up using a restricted lookup object"
Java -version output
--------------------

openjdk version "1.8.0_282-internal"
OpenJDK Runtime Environment (build 1.8.0_282-internal-202012091711-b04)
Eclipse OpenJ9 VM (build master-b5733bb66, JRE 1.8.0 Windows 8.1 amd64-64-Bit Compressed References 20201209_934 (JIT enabled, AOT enabled)
OpenJ9   - b5733bb66
OMR      - da9530688
JCL      - 06559695 based on jdk8u282-b04)

Summary of problem
---

[2020-12-10 19:57] LongyuZhang commented on #11419
These tests have several types of failures:
- JCL_Test and JCL_Test_none_SCC tests passed after adding --illegal-access=permit;
- cmdLineTester_callsitedbgddrext_openj9 does not work with --illegal-access=permit, since the failed 2 subtests are using [“$JDMPVIEW_EXE$](https://github.com/eclipse/openj9/blob/d779403041e4f03b37a617a5990f8f147d0b657c/test/functional/cmdLineTests/callsitedbgddrext/call

[2020-12-10 20:03] liqunl commented on #4850
We get the object from ram constant pool. `ldc cpIndex`, `cpIndex` points to cp entry where the object is from. `stringConst` in the following code is static address storing the object reference. Dereference `stringConst` will give you the object Reference
[code]

With the object at hand, you can get its J9Class with frontend API `getObjectClassAt`

This class pointer is the J9Class of the patched

[2020-12-10 20:11] pshipton commented on #11401
The test doesn't keep a strong reference to the loggers. The test is excluded on win, linux, mac, but not AIX, I guess because by fluke it doesn't fail on AIX compressed refs (failure is dependent on when the GC runs and collects the loggers). Opened https://github.com/AdoptOpenJDK/openjdk-tests/pull/2106 to exclude the test on AIX as well since AIX XL builds are running, and the test fails interm

[2020-12-10 20:11] #11401 closed

[2020-12-10 20:38] bragaigor opened #11438 "Track Progress of Off-Heap Technology"
Creating this issue to keep track of off-heap (know as sparse-heap internally) technology delivery course.

Technology summary:

Introduce an optimized memory management for large arrays in region-based garbage collector, more specifically a new heap scheme and large object organization (in-heap and off-heap), enhanced method for allocating large objects (proxy objects) and an optimized technique

[2020-12-10 21:13] gatoborrachon commented on #11433
The developer of the mod told me that the issue is from this line:
https://github.com/CD4017BE/CD4017BE_lib/blob/161dd614d267befd9f009d93f01febf15983847d/src/java/cd4017be/lib/network/Synchronizer.java#L386

[2020-12-10 21:22] pshipton opened #11440 "rh7-390-3 No space left on device"
Node disabled.

https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_xl_OMR/384/
https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_OMR/795/

[2020-12-10 21:22] pshipton commented on #11440
@jdekonin

[2020-12-10 21:29] harryyu1994 commented on #4850
If it is ConstString then it's not patched and if it is NonSpecificConstObject then it is patched. Is this the case?

[2020-12-10 21:36] jdekonin commented on #11440
I tracked 81G of content, mostly corefiles from the PR build triggered in this [PR 11331](https://github.com/eclipse/openj9/pull/11331).  Before I start deleting @AlexeyKhrabrov do you want any of these?

[2020-12-10 21:39] AlexeyKhrabrov commented on #11440
Go ahead, I don't need the core files.

[2020-12-10 21:41] jdekonin commented on #11440
System cleaned up and re-added to active in jenkins.  This issue can be closed.

[2020-12-10 21:46] tajila commented on #11419
When passing arguments to jdmpview you need to pre-pend with `-J`, ie. `-J--illegal-access=permit`

[2020-12-10 22:00] pshipton commented on #10708
The problem is that Reflection is filtering out the fields for the reflection classes, so they are not accessible even with command line options. Either we have to accept this test can't be run on jdk15+ (permanent exclude) or, I'm tempted to add a system property to work around the reflection filters, which can be used for test purposes. @tajila thoughts?

https://github.com/ibmruntimes/openj9-op

[2020-12-10 22:03] liqunl commented on #4850
The patched object can be any type, it can be a ConstString. The rom constant pool entry refers to a ConstString, so you probably don't need extra validation if the object is a string.

[2020-12-10 22:04] pshipton commented on #10708
Either way, I'm deferring this to the next milestone.

[2020-12-10 22:08] fengxue-IS opened #11443 "TODO for JSR 292 MethodHandleNatives APIs"
- [ ] Add impl for `Java_java_lang_invoke_MethodHandleNatives_getNamedCon` to support Java assertion
- [ ] use `registerNatives` for function export rather than uma and cmake export
- [ ] add support for HCR update for `J9JNIFieldID/J9JNIMethodID` pointers in MemberName object

[2020-12-10 22:13] dsouzai commented on #4850
I believe we still do. For example, in the first run it's a `ConstString` but in the second it gets patched to something else

[2020-12-10 22:14] tajila commented on #11419
@LongyuZhang Can you paste the stacktraces of the failures you see in this issue

[2020-12-10 22:20] harryyu1994 commented on #4850
How do we distinguish if it's for a method handle `ldc`? I was trying to use `NonSpecificConstObject` to tell whether we have a method handle `ldc`.

[2020-12-10 22:40] LongyuZhang commented on #11419
@tajila Thanks. I am testing ```-J--illegal-access=permit``` now. Stacktraces of other failures are:

JEP358NPEMessageTests-noDebugInfo [error message](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5355):
[code]

lockWordAlignment [build failure](https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_ppc64_aix_OpenJDK_testList_0/105/consoleFull):
[code]

[2020-12-10 23:14] LongyuZhang commented on #11419
cmdLineTester_callsitedbgddrext_openj9 passed with ```-J--illegal-access=permit``` (Internal_Grinder 12635), though it depends on previous [PR](https://github.com/eclipse/openj9/pull/11435) to generate ```cmdlinetester.jar```.  Since This option is not available for jdk8, I will add a make file in this test to set jdk 8 separately based on Lan's suggestion.

[2020-12-11 02:24] pshipton commented on #11419
If jdmpview is failing to work without `-J--illegal-access=permit`, perhaps we need to fix jdmpview itself and not the tests. Please provide the stack trace for the failure running cmdLineTester_callsitedbgddrext_openj9.

[2020-12-11 02:48] #11440 closed

[2020-12-11 03:11] pshipton commented on #11433
@tajila fyi

[2020-12-11 03:12] LongyuZhang commented on #11419
cmdLineTester_callsitedbgddrext_openj9 failure without ```-J--illegal-access=permit``` (Internal_grinder 12656):
[code]

[2020-12-11 04:16] pshipton commented on #9132
I assume nothing is going to happen for 0.24, or probably ever without more information. Moving this forward again.

[2020-12-11 04:17] pshipton commented on #9046
Do we need this in the milestone plan? I'll remove it.

[2020-12-11 04:18] pshipton commented on #9048
Do we need this in the milestone plan? I'll remove it.

[2020-12-11 04:18] pshipton commented on #10589
Do we need this in the milestone plan? I'll remove it.

[2020-12-11 04:19] pshipton commented on #11177
Do we need this in the milestone plan? I'll remove it.

[2020-12-11 04:25] pshipton commented on #10580
This is an IBM problem and not OpenJ9. I've opened infrastructure/issues/4797 and closing this.

[2020-12-11 04:25] #10580 closed

[2020-12-11 04:30] pshipton commented on #11068
@hangshao0 @tajila we should figure out why this doesn't work rather than just turning off caching, unless this is already known. Then fix it if possible, or document the limitation if not. As I expect it won't be resolved in 0.24, moving it forward.

[2020-12-11 04:32] pshipton commented on #11112
It's been a while since this problem was seen in the builds. I'll keep it open since Simon is asking for additional investigation, but move it to the next milestone.

[2020-12-11 04:34] pshipton commented on #7633
1.1.1i is release with security fixes. Created issues to update. https://github.com/eclipse/openj9/issues/11407

[2020-12-11 04:44] pshipton opened #11444 "ub16x64j97 No space left on device"
Disabled machine.

Many failures which I assume are all due to this machine, but I'll add more if I find them.
Example
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly_testList_0/7/console

[2020-12-11 04:44] pshipton commented on #11444
@jdekonin

[2020-12-11 04:59] pshipton commented on #10665
@liqunl I'm not sure why this is in the milestone plan at all. It's not a failure I see in the nightly builds so it can't be happening often. I suspect it was added only because https://github.com/eclipse/openj9/issues/10623 was in the milestone plan. Unless you have some reason to keep it in, I'll remove it rather than moving it forward.

[2020-12-11 05:03] pshipton opened #11445 "jdk16 jdmpview doesn't work with JEP 396 (--illegal-access=deny)"
See https://github.com/eclipse/openj9/issues/11419#issuecomment-742937439
jdmpview doesn't start with the new jdk16 default `--illegal-access=deny`
[code]

[2020-12-11 05:06] pshipton commented on #11419
This is a jdmpview problem that needs to be fixed, rather than updating the tests, I've created https://github.com/eclipse/openj9/issues/11445

[2020-12-11 05:15] pshipton opened #11446 "jdknext failing to build, Java Preprocessor No configuration or non-existant configuration specified"
I suspect this is occurring because JDK16 was split and jdknext is building jdk17 now. We need to add the jdk17 preprocessor configuration, and I think a few other changes to support jdk17 build.

[code]

[2020-12-11 05:16] pshipton commented on #11446
@JasonFengJ9 @tajila fyi

[2020-12-11 05:25] pshipton commented on #11446
https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/73fc9d848...dd80268
[8257450: Start of release updates for JDK 17](https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/e45c45c462e1b169a54cb2838490da862a827407)
[Update OPENJDK_TAG to merged level jdk-17+0](https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/dd80268427517fd4a88c2d00757de5218ecb7d63)

[2020-12-11 05:30] pshipton commented on #11445
I'll test https://github.com/pshipton/openj9/commit/d90d3ded tomorrow, and see if it's sufficient to fix the problem.

[2020-12-11 12:24] Thihup opened #11447 "Show module version in stack trace"
Currently, the default behavior using JPMS is that the stack trace doesn't show the version of the module. This is different from Hotspot, but I guess this is implementation-specific.

However, there is an option `-verbose:stacktrace`. Maybe we could show the module number using this option?

Example Stacktrace Hotspot:
[code]

Example Stacktrace OpenJ9:
[code]

[2020-12-11 12:37] Thihup commented on #11447
The StackTraceElement#toString today pass false fixed to the extended argument, maybe change to `source != null`
[code]

[code]

[2020-12-11 13:08] JasonFengJ9 commented on #11446
Will have a look.

[2020-12-11 13:12] JasonFengJ9 commented on #11410
A quick update, after updated a few directory separators, the jar files are built ok, now hit an OMR configuration error:
[code]
It seems some VS compiler environment settings lost when invoking OMR configure.

[2020-12-11 13:23] Thihup opened #11449 "NPE generating Stacktrace with -verbose:stacktrace"
Java -version output
--------------------
openjdk version "15.0.1" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.1+9-202012102041)
Eclipse OpenJ9 VM AdoptOpenJDK (build master-f2e8dfa43, JRE 15 Linux amd64-64-Bit Compressed References 20201210_133 (JIT enabled, AOT enabled)
OpenJ9   - f2e8dfa43
OMR      - 5c72bedfe
JCL      - 0e6bc58a45 based on jdk-15.0.1+9)

Summary of problem

[2020-12-11 13:41] jdekonin commented on #11444
Once again traced back to this [PR 11331](https://github.com/eclipse/openj9/pull/11331)

I've cleaned it up and put back into service.  This can be closed.

[2020-12-11 14:41] Thihup opened #11452 "Stacktrace should use the classloader name instead of "app//""
Currently generating the Stacktrace with the extended flag enabled, I guess it should show the classloader name.
However, there's a fixed string "app//"[1]. Probably this was used to get parity with the RI but is not according to the examples of the Javadoc [2].

[1] https://github.com/eclipse/openj9/blob/master/jcl/src/java.base/share/classes/com/ibm/oti/util/Util.java#L304
[2] https://docs.oracl

[2020-12-11 14:46] tajila commented on #11419
@pshipton I agree that jdmpview needs to be fixed, the same goes for all the test failures. `--illegal-access=permit` was not proposed as a solution, rather a temporary fix to unblock the builds. Debugging each failure may take some time. Staying up to date with the extensions repo is important as we have features waiting on those changes.

Could we itemize each of the failures and track them in a

[2020-12-11 14:55] pshipton commented on #11447
If OpenJ9 isn't printing module versions by default while Hotspot does, OpenJ9 should be fixed to match the behavior.

[2020-12-11 15:27] pshipton commented on #11419
@LongyuZhang can if necessary as he works through the failures. I've already created a change to fix jdmpview which I'll test and try to get working today, so I don't expect it's going to hold up the builds. Don't forget we have no solution yet for https://github.com/eclipse/openj9/issues/11410 which is also blocking acceptance. Plus we need to create a new repo for jdk16 and get the merges happen

[2020-12-11 15:33] gita-omr commented on #11192
Started here: https://ci.eclipse.org/openj9/job/Grinder/1274/

This time with -Xjit=limit={*} since we suspect that even that option can change the behaviour.

[2020-12-11 15:53] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_OpenJDK8/63
testJITServer_1
[code]

[2020-12-11 16:12] pshipton commented on #9416
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64_aix_OMR/805

Diagnostics https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK11_ppc64_aix_OMR/805/Build_JDK11_ppc64_aix_OMR-805-20201211-075646-diagnostics.tar.gz
[code]

[2020-12-11 16:15] pshipton opened #11453 "git, mv: cannot move XX to YY : Directory not empty"
Cleaning problem?

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_xl_OMR/336
[code]

[2020-12-11 16:17] #11446 closed

[2020-12-11 16:48] pshipton commented on #11445
It doesn't work to export `com.ibm.dtfj.utils` to openj9.dtfjview. The following is on the stack and comes from lib/ddr/j9ddr.jar,  which is loaded as part of the unnamed module.
`com.ibm.j9ddr.view.dtfj.image.J9DDRImageFactory.getImage(J9DDRImageFactory.java:132)`
Exporting `com.ibm.dtfj.utils` publicly works. Not the best solution, but a quick solution for this problem until we can create a bett

[2020-12-11 17:18] pshipton commented on #11445
Actually, exporting `com.ibm.dtfj.utils` doesn't work in the build, as it results in the following error. I'll try a different approach and add the export to `jdmpview` at runtime.
[code]

[2020-12-11 17:32] hangshao0 commented on #11068
Likely due to Minecraft LaunchClassLoader which extends URLClassLoader, but override URLCLassLoader.findClass().

https://github.com/Mojang/LegacyLauncher/blob/master/src/main/java/net/minecraft/launchwrapper/LaunchClassLoader.java#L95

[2020-12-11 18:28] samasri commented on #11390
The issue is happening because a new function `AESCipher.engineDoFinal` that accepts ByteBuffer input was added to override the default behaviour but there is no implementation that deals with ByteBuffer input.

The progam execution is as follows:
* [Cipher.doFinal(ByteBuffer src, ByteBuffer dst)](https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/ac04db2e39441f285acebb657aa388043a894770/src/j

[2020-12-11 18:37] liqunl commented on #4850
`ldc` is a bytecode that loads constant from constant pool, the type of the constant is encoded in rom class. But when the ram class cp entry is patched, the type from rom class might not match the actual constant type. `NonSpecificConstObject` is used for any patched object that is not a String.The patched object can be any type, not necessarily a MethodHandle. Since you have the object, you can

[2020-12-11 18:37] pshipton commented on #11445
Created https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/257 as a temporary (or permanent) workaround.

[2020-12-11 18:45] pshipton commented on #11444
@jdekonin is there anything we should be doing to clean these up automatically? The failing jobs in the nightly last night run after the sanitize jobs. https://ci.eclipse.org/openj9/view/Infrastructure/job/Sanitize-Nodes/

[2020-12-11 19:29] jdekonin commented on #11444
The cleanup would've got this automatically, but with job failures you (understandably) disabled it from taking jobs.  It currently runs daily at 7am, 11am, 3pm, 9pm EST.
https://ci.eclipse.org/openj9/view/Infrastructure/job/Cleanup-Nodes

[2020-12-11 19:46] smlambert commented on #11444
So presumably the process for re-enabling a machine into the farm can be that Cleanup-Nodes job is run with the LABEL=hostnameOfReenabledMachine immediately upon re-enablement, so the machine starts off clean/sanitized.

[2020-12-11 19:47] pshipton commented on #11444
Nightly builds start running at 9:30pm EST, staggered from then. I'd expect the cleanup job to run first before the nightly started. However many failures occurred in the nightly before I disabled it  much later in the night.

[2020-12-11 19:51] pshipton commented on #11444
I think the cleanup job indicates it did run on the machine.
https://ci.eclipse.org/openj9/view/Infrastructure/job/Cleanup-Nodes/3598
`21:52:04  Running on ub16x64j97 in /home/jenkins/workspace/Cleanup-Nodes`

[2020-12-11 21:10] babsingh opened #11458 "Test Results for OpenJ9 JDK15/JDK16 with OpenJDK MethodHandles"
### 1. Instructions to build OpenJ9 JDK16 with OpenJDK MethodHandles

Get the JDK16 extensions repo: https://github.com/ibmruntimes/openj9-openjdk-jdk16 (default `openj9` branch)

Then, revert the commit from https://github.com/ibmruntimes/openj9-openjdk-jdk16/pull/9:
[code]

Get the following OpenJ9 branch: https://github.com/babsingh/openj9/commits/ojdk_jsr292_final

Commits, from the **followin

[2020-12-11 21:21] babsingh commented on #11458
fyi @nbhuiyan @fengxue-IS @liqunl @DanHeidinga @tajila @0xdaryl @pshipton

[2020-12-11 21:24] pshipton commented on #11104
Test will be excluded via https://github.com/eclipse/openj9/pull/11460.
Moving out to the next milestone.

[2020-12-11 21:27] pshipton commented on #11021
The problem should be fixed via https://github.com/AdoptOpenJDK/stf/pull/94. I haven't seen it lately.

[2020-12-11 21:27] #11021 closed

[2020-12-11 22:34] pshipton commented on #11445
No longer a blocker since https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/257 works around the problem.

[2020-12-11 22:35] pshipton opened #11464 "Consider making j9ddr.jar a module"
See the details in https://github.com/eclipse/openj9/issues/11445

[2020-12-11 22:35] pshipton commented on #11445
Actually to avoid confusion I've created a new issue https://github.com/eclipse/openj9/issues/11464 and closing this one.

[2020-12-11 22:35] #11445 closed

[2020-12-11 22:50] babsingh commented on #11458
Thanks to @pshipton, we have a dry run for the OpenJ9 JDK15 nightly build with OpenJDK `MethodHandles` enabled:

https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-Personal/8

It uses the custom JDK15 extension and OpenJ9 branches; runs the `ppc64le_linux_ojdk292` SPEC, and `extended.functional` and `sanity.openjdk` test targets.

**Note:** Earlier, I had manually run the `_sanity.functional` t

[2020-12-12 00:55] sharon-wang commented on #9284
Has this been fixed? Seeing a similar issue for a mixed refs JDK 11 CMake build and want to see if this issue is related.

From: https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_s390x_linux_mixed_cm_Nightly/2/tapResults/
[code]

[2020-12-12 00:58] sharon-wang commented on #9284
May also be related to: https://github.com/AdoptOpenJDK/run-aqa/issues/50

[2020-12-12 01:40] pshipton commented on #11458
We won't be able to run too many of these builds. Because of all the test failures there are diagnostic files created and archived. It will eat up all the disk space if we run them nightly. Or we'll have to manually? clean up the artifacts from these builds periodically. @AdamBrousseau

[2020-12-12 02:06] pshipton commented on #11458
and actually https://ci.eclipse.org/openj9/computer/ub16p8j91/ ran out of space after running the openjdk tests and trying to zip up the results.

[2020-12-12 02:08] pshipton opened #11466 "ub16p8j91 out of space"
https://ci.eclipse.org/openj9/computer/ub16p8j91/ ran out of disk space running https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_ppc64le_linux_ojdk292_Personal/1. I'm afraid to leave it in the builds after https://github.com/eclipse/openj9/issues/11444, as it could cause everything to fail, so I'm going to disable it.

[2020-12-12 02:08] pshipton commented on #11466
@jdekonin

[2020-12-12 03:05] pshipton opened #11467 "win2012-x86-5 hanging"
Disabled the machine.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly/568/console
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_OMR_testList_1/171/console
[code]

[2020-12-12 03:06] pshipton commented on #11467
@jdekonin

[2020-12-12 03:32] pshipton commented on #9284
I expect this Issue was a different problem from https://github.com/eclipse/openj9/issues/9284#issuecomment-743546091. For this Issue DDR just wasn't enabled in the build. For https://github.com/eclipse/openj9/issues/9284#issuecomment-743546091, I believe DDR is enabled. The JVM was found in the core since `*0 : JRE 11 Linux s390x-64 (build 11.0.10-internal+0-adhoc.jenkins.BuildJDK11s390xlinuxmixe

[2020-12-12 03:33] pshipton commented on #9284
I'm going to close this obsolete issue, we should create another one for the mixed build DDR problem.

[2020-12-12 03:33] #9284 closed

[2020-12-12 03:58] pshipton commented on #9284
Interesting to note for the mixed build problem, that only BE platforms failed the DDR test, zlinux and AIX.

[2020-12-12 04:15] pshipton commented on #9284
What worked to show the problem was running jdmpview with `-verbose`, which shows a stack trace for `UnsupportedOperationException: GC policy not supported`.

java.lang.ExceptionInInitializerError
	at java.base/java.lang.J9VMInternals.ensureError(J9VMInternals.java:185)
	at java.base/java.lang.J9VMInternals.recordInitializationFailure(J9VMInternals.java:174)
	at com.ibm.j9ddr.vm29.tools.ddrinterac

[2020-12-12 04:48] sharon-wang opened #11469 "cmdLineTester_callsitedbgddrext_openj9 test failing with mixed references build"
**Failure link:** https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_s390x_linux_mixed_cm_Nightly/2/tapResults/
- BUILD_LIST: `functional`
- TARGET: `sanity.functional`
- Failed Platforms:
  - `ppc64_aix_mixed_cm` --> SPEC renamed to `ppc64_aix_mixed`
  - `s390x_linux_mixed_cm` --> SPEC renamed to `s390x_linux_mixed`
- Specific test suite failing: `cmdLineTester_callsitedbgddrex

[2020-12-12 04:58] sharon-wang commented on #9284
Opened https://github.com/eclipse/openj9/issues/11469 to track the mixed refs failure.

Thank you for digging into this! `GC policy not supported` is interesting to see. My initial hunch from looking into this error is that there might be some conflicting build flags in the mixed refs build, since it tries to use both compressed and full build flags. I'll look into this more and post updates in th

[2020-12-12 15:47] AdamBrousseau commented on #11458
I was thinking we could look at disabling the test archive for these specs temporarily. I will take a look at it.

[2020-12-12 19:02] sophia-guo commented on #11469
This is not limited to mixed references build. https://github.com/AdoptOpenJDK/run-aqa/issues/50
https://github.com/AdoptOpenJDK/openjdk-tests/issues/2100

[2020-12-12 19:12] sophia-guo opened #11470 "cmdLineTester_loadLibraryTests_0 fail with hotspot impl"
Test failed with hotspot impl as hotspot has the different UnsatisfiedLinkError message.

hotspot:

[code]

Openj9:

[code]

This is the test case issue. Will disable the test for hotspot

https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk11_hs_sanity.functional_x86-64_windows/36/console

[2020-12-12 19:12] JPercival commented on #10309
This issue appears to be fixed in kernel 5.8.0-33-generic. I see in the release notes there are some references to bug fixes in the upstream for race conditions which might explain the intermittent behavior I was seeing. This issue can be closed as far as I'm concerned. Thanks!

[2020-12-12 22:57] pshipton commented on #11469
If you take the zlinux mixed build, create a core file, and open it with jdmpview using the `-verbose` option, it shows the reason for the failure, `UnsupportedOperationException: GC policy not supported`.
[code]

[2020-12-12 22:59] pshipton commented on #11469
@sophia-guo you should open a new issue for the aqa failure, it's a different problem. This issue is specific to the mixed builds.

[2020-12-12 23:44] pshipton opened #11472 "Something is (or was) wrong with osx1011-x86-2"
I've disabled the machine. Otherwise all the testing tries to run on this machine and fails.
Example https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_mac_Release/47

[2020-12-12 23:44] pshipton commented on #11472
@jdekonin

[2020-12-12 23:51] pshipton commented on #11472
Not sure if we can do anything about this type of problem? We need some kind of sanity check the machine is working, so it can be automatically disabled. Any time we have a bad machine much of the testing fails for that platform, and it's not easy to recover from that because (a) with the parallel test jobs one child might find a good machine and the other not, the failures don't show up until muc

[2020-12-12 23:51] #11171 closed

[2020-12-13 00:03] pshipton commented on #10309
Thanks for updating us.

[2020-12-13 00:03] #10309 closed

[2020-12-13 23:16] #11449 closed

[2020-12-13 23:19] #11470 closed

[2020-12-14 03:06] mpirvu opened #11475 "JITServer build break due to definingClassFromCPFieldRef"
PR https://github.com/eclipse/openj9/pull/11454 has recently changed the prototype of ` definingClassFromCPFieldRef` which resulted in a build break for JITServer code:
[code]
Since we build JITServer code on all Linux platforms by default, I expect this to lead to massive build failures.

[2020-12-14 10:25] lumpfish commented on #11112
I was just asking @mesbah whether both changes (System.gc() and -Xmx512) were needed or whether one would suffice, but I believe the PR included both changes.  If you're not seeing the failures any more and do not need to know the answer, then by all means close this issue.

[2020-12-14 13:59] jdekonin commented on #11472
We could add a sanity check to jenkins but unless the test jobs are also running that job at the beginning of every job there is still going to be the possibility for failure between that scheduled sanity check job.

As for osx1011-x86-2, it appears to be fine now my guess is there was some sort of network blip that caused a temporary connection issue.  I've rebooted the system anyways, then enabl

[2020-12-14 14:02] 0xdaryl commented on #9046
Based on the investigations so far, the strong suspicion on this one is that it is an OpenSSL issue.  We haven't found any evidence to suggest it is an OpenJ9 problem, hence deferring is the recommended approach.

One useful datapoint would be the version of OpenSSL found on the Ubuntu 16.04 boxes at AdoptOpenJDK and the RHL 7.6 boxes.

[2020-12-14 14:05] jdekonin commented on #11467
Seems the F drive has become unmounted??  As soon as I do anything that touches the F partition the machine hangs.  I've triggered a reboot but that was 10 minutes ago and its not coming back online.  We might need to take more drastic measures.  fyi @rajdeepsingh1

[2020-12-14 14:12] #11415 closed

[2020-12-14 14:25] jdekonin commented on #11467
System is back online and F is mounted as expected.  I've enabled on jenkins as well.

[2020-12-14 14:45] pshipton opened #11477 "Update Java 8 Windows build instructions for VS2013"
When switching to VS2013 for Windows Java 8 builds, the build instructions were never updated.
https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V8.md

Building with VS2010 no longer works as the code isn't compatible, the instructions need to be updated.

[2020-12-14 14:51] pshipton commented on #11477
@jdekonin can you take a look at this please. I think the following parts need updating.
- update the list of requirements, modify to 2013, remove 2010 service pack 1 link, update freetype version?
- update to msdia100.dll section
- building freetype mentions VS2010, I see `--with-freetype-src` is used in the builds now. Probably the minimum freetype version needs to be updated, the builds are usi

[2020-12-14 15:00] 0xdaryl commented on #9048
Evidence so far suggests this is a duplicate of #9046 and is related to the installed version of OpenSSL on the test machines.  @Akira1Saitoh was able to demonstrate an incorrect hash value with an independent test outside of OpenJ9 and Java which strongly suggests this is not an OpenJ9 issue.  I'm closing this as a dup of #9046.

[2020-12-14 15:00] #9048 closed

[2020-12-14 15:43] #11475 closed

[2020-12-14 15:48] #11467 closed

[2020-12-14 15:49] 0xdaryl commented on #9416
This issue continues to be worked in the master branch to get to the root cause of the problem.  Additional asserts are being added to help provide more data points to understand this unusual situation.

In the meantime, a workaround solution was added to the 0.24 release (#11431) to gracefully fail the compilation when this incongruous state is detected.  This is the same solution employed in the

[2020-12-14 15:52] #11472 closed

[2020-12-14 15:57] pshipton commented on #11475
Yes, that happened over the weekend. All x and p linux builds failed.

[2020-12-14 16:03] 0xdaryl commented on #10665
OK, I think we can remove the milestone target.

[2020-12-14 16:47] 0xdaryl commented on #9046
The AArch64 builds use `--with-openssl=system` despite fetching the latest OpenSSL version `1.1.1i`.  I'm wondering if this failure can be reproduced if we change the build to use `--with-openssl=fetched` to ensure we're using the latest regardless of the machine we're running on and what version of OpenSSL happens to be installed there.

[2020-12-14 18:28] LongyuZhang commented on #11419
Tested more with `cmdLineTester_libpathTestRtf `, and found it is probably a machine issue.
- This test passed on internal machines `paix817 paix818 paix823 and paix825` (Grinder 12668,12669), failed on machine `pll011.rtp.raleigh.ibm.com` with error "_X11TransTRANS(ibmSHMConnect) () can't connect: errno = 68" (Grinder 12672) [1].
- For adopt machines, it passed ` test-osuosl-aix71-ppc64-1' and `t

[2020-12-14 18:34] LongyuZhang commented on #11419
Therefore, the failures related to `llegalAccessException` left now are only lockWordAlignment and JEP358NPEMessageTests-noDebugInfo:
- lockWordAlignment blocks many other tests since its failure stops `cmdlinetester.jar` generation, with [draft PR](https://github.com/eclipse/openj9/pull/11435).
- JEP358NPEMessageTests-noDebugInfo does not block other tests now, but its failure cannot be fixed wit

[2020-12-14 18:51] pshipton commented on #8214
There are 3 core files, which I'll refer to as 125, 155, 225.

125:
[code]

0x139c:
[code]

0x33d8:
[code]

225: same threads
[code]

0x139c:
[code]

0x33d8:
[code]

Running !stack on jdmpview results in:
[code]

[2020-12-14 18:54] pshipton commented on #8214
It seems it could be a decompilation endless loop.

@0xdaryl fyi. Somebody could grab the diagnostics before they expire and get deleted. This problem has been occurring for a while, we've only "recently" been able to get core files.

[2020-12-14 19:00] pshipton commented on #8214
fwiw, I'm copying the sdk, debug image, and core files to /team/triage/openj9-8214.

[2020-12-14 19:20] tajila commented on #11419
Yes, I think if you make the same changes for `lockWordAlignment` in  `JEP358NPEMessageTests` it will resolve the issue

[2020-12-14 20:17] pshipton opened #11479 "OSX jdk8 openj9: libjvm.so failed to load error: j9vm29 (Reason: image not found)"
Copied from https://github.com/AdoptOpenJDK/openjdk-support/issues/224

## Summary

After installation the java -version command fails with:
[code]

## Steps to reproduce

- OS X 10.9
- Use zsh shell
- Download and intall https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u275-b01_openj9-0.23.0/OpenJDK8U-jdk_x64_mac_openj9_8u275b01_openj9-0.23.0.pkg
- Open iTerm2.app as user
-

[2020-12-14 20:17] pshipton commented on #11479
@tajila fyi

[2020-12-14 20:21] pshipton commented on #11479
10.9 is listed as a supported environment. I don't know we have any machines to try. Perhaps we just just drop it.
https://www.eclipse.org/openj9/docs/openj9_support/

Adopt only claims to support 10.10+ https://adoptopenjdk.net/supported_platforms.html

[2020-12-14 20:47] mnalam-p commented on #11192
I was able the reproduce this issue with the oldest available nightly build from adoptopenjdk.
`openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-b09)
Eclipse OpenJ9 VM (build openj9-0.20.0, JRE 1.8.0 Linux ppc64le-64-Bit Compressed References 20200416_571 (JIT enabled, AOT enabled)
OpenJ9   - 05fa2d361
OMR      - d4365f371
JCL      - cfa47e66cd5f based on jdk8u252-b09)`

`L

[2020-12-14 20:55] pshipton commented on #8214
Also copied them to Box, pls let me know if you need access.

[2020-12-14 21:47] pshipton commented on #11479
Created https://github.com/eclipse/openj9-docs/pull/689 to remove 10.9 from the list of supported platforms.

[2020-12-14 21:47] #11479 closed

[2020-12-14 22:03] pshipton commented on #11192
While it would be nice to figure this out, obviously it doesn't need to be resolved for the 0.24 release, moving it forward.

[2020-12-14 22:04] dmitripivkine commented on #9969
Test source: https://github.com/eclipse/openj9/blob/master/test/functional/VM_Test/src/j9vm/test/arraylets/ArrayletAllocateTest.java

There is accurate bookkeeping for alive Arraylets in the object heap
Stats for regions:
[code]
So 64 regions taken by Arraylet referred from O-slot:
[code]
The reminder of 114 - 64 = 50 leaves are kept alive by `j9vm/test/arraylets/ArrayletAllocateTest
` class Stati

[2020-12-14 22:24] pshipton commented on #10929
I believe that -Xdump option changed the behavior so we just don't see the problem any more. This is good for having testing that always passes, but not so good for customers who run into these problems. I'm removing the -Xdump option to stop hiding the failures, created https://github.com/AdoptOpenJDK/openjdk-tests/pull/2114

[2020-12-14 22:27] 0xdaryl commented on #8214
@nbhuiyan : could you take an initial look at this please?  I realize you're about to vanish this week on vacation, but perhaps a quick triage from the crash dump file could be done.  Thanks.

[2020-12-14 23:00] pshipton commented on #9046
Perhaps so. The reason this option isn't used now is so the OS or user is responsible for providing openssl updates. Otherwise Adopt is on the hook in case some out of band update is required. Also, the only way to get an update for a bundled library is by getting the latest version from Adopt, or (unsupported) manually copying the latest library to an older build.

[2020-12-14 23:15] pshipton commented on #11198
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_OMR_testList_0/168
[code]

[2020-12-14 23:42] pshipton commented on #11112
@dmitripivkine do you need any further information (I suspect not)?

[2020-12-15 01:47] #6303 closed

[2020-12-15 04:50] AlenBadel commented on #11192
We've discovered a way to reliably reproduce this failure nearly 100% of the time.

Use the following simplified test:

[code]

Invoke using

[code]

`-Xshareclasses:none` Needs to added along with Mode555, because the AOT compiled method doesn't produce the failure.

The issue occurs only when `sun/nio/cs/UTF_8$Decoder.decode([BII[C)I` is compiled.

The optimization that causes this to start fail

[2020-12-15 05:03] pshipton commented on #9416
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64_aix_Nightly/595
[code]

[2020-12-15 07:54] andrew-m-leonard opened #11481 "jdk15 aarch64 ClassReader.readUTF8 crash"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-linux-aarch64-openj9/141/console
[code]

[2020-12-15 07:56] andrew-m-leonard commented on #11481
Possibly similar to https://github.com/eclipse/openj9/issues/10812   ?

[2020-12-15 13:39] dmitripivkine commented on #11112
I am not sure what I can do. This test is no guarantee to work. It was improved slightly recently but still might be unreliable

[2020-12-15 13:43] pshipton commented on #11112
As the test seems to be passed now, closing this.

[2020-12-15 13:43] #11112 closed

[2020-12-15 13:48] pshipton commented on #11481
@knn-k

[2020-12-15 15:09] LongyuZhang commented on #11419
PR for `JEP358NPEMessageTests` has been created as above. Previously it failed with asm package name change, because the test playlist does not have asm classpath.

[2020-12-15 15:53] AlenBadel commented on #11192
Specifically, this starts failing at transformation 19.
[code]

[2020-12-15 20:32] theresa-m commented on #10243
This has been addressed by #10835

[2020-12-15 21:09] non-conformances-research commented on #3475
This change fixes issues #6449, #8221, #8223, and #8224. However, it is not working for issue #8222.

[2020-12-15 21:16] non-conformances-research commented on #8222
This OutOfMemoryError still hapens for jdk8u275-b01_openj9-0.23.0 though issue #3475 has already been fixed. Similar issues #6449, #8221, #8223, and #8224 are alll fixed after #3475 implementation.

[2020-12-15 21:22] pshipton commented on #8222
It doesn't work with -Xmx8g, but it does with -Xmx9g so this isn't reporting a problem, just user error for not making the heap size big enough.

[2020-12-15 21:22] pshipton commented on #8222
@dmitripivkine fyi

[2020-12-16 02:27] JasonFengJ9 commented on #11192
Observed a different failure (`StringIndexOutOfBoundsException`) at same test suite at an internal build `Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/1749`:
[code]

[2020-12-16 09:55] Rongmario commented on #11068
Been busy past month, sorry for not updating; as @hangshao0 said, it attributes to the fails on using it on a normal Minecraft instance (1.16.4) as well when I have tried.

[2020-12-16 12:28] lumpfish commented on #10812
Still occurring on AdoptOpenJDK nightly builds: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.system_aarch64_linux/325
[code]

[2020-12-16 12:37] lumpfish commented on #10812
Also still occurring on jdk15 AdoptOpenJDK nightly builds:
https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_extended.system_aarch64_linux/113/console
https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_extended.system_aarch64_linux_xl/94/console

[2020-12-16 15:56] tretonis opened #11490 "OpenJDK 15 only, display java.lang.ClassNotFoundException: com.sun.glass.ui.Pixels"
Why OpenJ9 is showing this error, when I put the JVM Hotspot runs normal.
Details : Jdk 14 OpenJ9  work's and Jdk 15 HotSpot work normal and this error only display in Jdk 15 Open-J9.

Java Version :
openjdk version "15.0.1" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.1+9)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.23.0, JRE 15 Linux amd64-64-Bit Compressed References 20201

[2020-12-16 16:08] 0xdaryl commented on #8173
Lack of reproducibility and useful diagnostic info make this unlikely for 0.24.  I would like to see us get "creative" in attempting to collect diagnostic info for 0.25.

[2020-12-16 16:10] AdamBrousseau commented on #11453
Looks like the [previous build](https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_xl_OMR/335/console) failed because the machine went offline. This probably left the workspace in a bad state. I wonder if we should add a cleanWs at the start of the test build (cc @llxia).

335 failure
[code]

[2020-12-16 16:14] gatoborrachon commented on #11433
well, i want to say that this would be for Java 8, or that does not matter? (the labeled version)

[2020-12-16 17:59] pshipton commented on #11490
I'm wondering if this is related to NativeLibraries.load(). Some problems with this have already been fixed since the 0.23.0 release. On Slack I suggested trying the Milestone 1 build for the next OpenJ9 release (0.24), where the problems are resolved.
https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/tag/jdk-15.0.1+9_openj9-0.24.0-m1

[2020-12-16 18:11] tretonis commented on #11490
Yes, Open-J9 (0.24) this correct.
Thank's

[2020-12-16 18:31] pshipton opened #11493 "crash compiling FilterReturnHandle.invokeExact_thunkArchetype_X(I)I"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly_testList_0/13
aix71-p8-6
TestJlmRemoteMemoryNoAuth_0

Diagnostics https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly_testList_0/13/system_test_output.tar.gz
[code]
5.LT2.stderr
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_san

[2020-12-16 18:32] pshipton commented on #11493
@gita-omr fyi. I've tentatively set it as a blocker since there was a similar failure in both AIX compressed and non-compressed builds last night.

[2020-12-16 18:49] pshipton commented on #11190
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly_testList_1/10/
ClassLoadingTest_special_22
ub18-ppcle-2

This one timed out, but looking at 1.CTL.stdout, it completed. There aren't any javacore files although the output shows attempts to get some.

[code]
[code]

[2020-12-16 18:54] pshipton opened #11494 "Unable to create Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly_testList_0@script/openjdk-tests/.git/index.lock': File exists"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly_testList_0/190
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly_testList_1/190
[code]

[2020-12-16 18:55] pshipton commented on #11494
This has been happening at least the last 2 nights. Looks like something that needs to be cleaned up on master?
I only coped the output from one job, but the problem occurs in two.

@AdamBrousseau @jdekonin

[2020-12-16 19:37] #11490 closed

[2020-12-16 20:01] pshipton commented on #11419
sanity.functional is passing now. Note there are still failures in the extended.functional tests, mostly in lockWordAlignment.

https://ci.eclipse.org/openj9/job/Grinder/1298/tapResults/
[code]

[2020-12-16 20:05] pshipton commented on #11419
Seems lockWordAlignment is related to preview features. The test run is on jdk17.
`IllegalArgumentException: Unsupported class file major version 61`

The other ones are `--illegal-access` problems.

[2020-12-16 20:07] pshipton commented on #11419
Ah, the lockWordAlignment problem is ASM related. We need to be using the newer version.

[2020-12-16 21:10] LongyuZhang commented on #11419
- TestRefreshGCSpecialClassesCache_BCI_FAST_HCR_0 passed after adding `--illegal-access=permit`, Grinder 12772;
- TestFileLocking_0 has already been added `--illegal-access=permit` before, it has illegal access warning,  and the error shows `InaccessibleObjectException`:
[code]
- lockWordAlignment i-d all failed only with the 1st of 45 tests, and  has `IllegalArgumentException`
[code]
[code]

[2020-12-16 21:55] LongyuZhang opened #11500 "jdk_security3 test failed with error `Could not sign data`"
jdk_security3 failed subtest `SignatureTestPSS` and `SignatureTest2` on openj9 both 8 and 11, with the error of `Could not sign data`. These two tests passed for hotspot.
- SignatureTestPSS on openj9 failure link: [here](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5513/testReport/junit/sun_security_rsa_pss_SignatureTestPSS/java/SignatureTestPSS/)
- SignatureTest2 on openj9 failure li

[2020-12-16 22:08] pshipton commented on #11500
@LongyuZhang can you please try running the test (and any other crypto failures) with `-Djdk.nativeCrypto=false` to see if the failure is caused by the OpenSSL supported added in the extensions repos.

[2020-12-16 22:21] #11399 closed

[2020-12-16 23:01] hangshao0 commented on #10620
https://github.com/ibmruntimes/openj9-openjdk-jdk16 is created and the @valuebased annotation change has made its way to openj9 branch there. FYI @a7ehuo

[2020-12-17 04:36] gita-omr commented on #11493
As long as it’s 0.25 blocker we can look after the holidays?

[2020-12-17 04:43] pshipton commented on #11198
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_OpenJDK8_testList_0/26
[code]

[2020-12-17 05:04] knn-k commented on #7129
x and z platforms have some code for compressed string.
`CaseConversionManager` for x looks at `isCompressedString` in upper/lowerCase conversion, for example.
https://github.com/eclipse/openj9/blob/8a09d26dbd5caeda37718369e6e591c5e7302be6/runtime/compiler/x/codegen/J9TreeEvaluator.cpp#L11843

[2020-12-17 05:31] pshipton commented on #9416
https://ci.eclipse.org/openj9/job/Build_JDK15_x86-64_mac_Nightly/142
[code]

[2020-12-17 05:35] pshipton opened #11502 "Mac testing failing to run"
I think anything that tried to run on osx1011-x86-1 or osx1011-x86-2 failed like follows. Disabled these machines for now.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/241
[code]

[2020-12-17 05:35] pshipton commented on #11502
@smlambert @llxia @AdamBrousseau

[2020-12-17 10:25] gillesde opened #11504 "Segmentation error since December 12th"
Java -version output
--------------------

[code]

Summary of problem
------------------

Prior to December 12th, we have been building our images based on OpenJ9 for a while now with some success.

However, suddenly, we are getting issues and segmentation fault on a Ant task. There was a change pushed few days ago which seems to correspond to the start of our problems.

Our issue looks like the f

[2020-12-17 13:28] pshipton commented on #11504
In other words, fp16 was working, and fp20 has this problem.

@tajila fyi

[2020-12-17 14:21] 0xdaryl opened #11505 "Migrate Linter job from TravisCI"
The only remaining job on TravisCI is the JIT linter job to detect incorrect uses of extensible classes.  Since OpenJ9 agreed to deprecate TravisCI, this job either needs to move to Azure (as OMR has done eclipse/omr#5659) or we need to find another home for it.  OMR has had success running it on Azure so it would seem to be the preferred choice for symmetry.

[2020-12-17 14:21] hzongaro commented on #10869
Thanks for the reminder!  I'll have to go back to the original test, to verify that the problem is fully resolved

[2020-12-17 14:51] tajila commented on #11504
@hangshao0 Can you please take a look at this

[2020-12-17 14:59] 0xdaryl commented on #9651
Moving this forward again as there is little likelihood of making progress investigating in the 0.24 timeframe.

[2020-12-17 15:00] 0xdaryl commented on #8872
Moving this forward again as there is little likelihood of making progress investigating in the 0.24 timeframe.

[2020-12-17 15:03] 0xdaryl commented on #10929
We still don't have any artifacts to investigate further.  Moving out to 0.25.

[2020-12-17 15:04] 0xdaryl commented on #729
Closing as complete.

[2020-12-17 15:04] #729 closed

[2020-12-17 15:53] lumpfish commented on #2209
See related issue: https://github.com/eclipse/openj9/issues/2209 with analysis of the test failure.

[2020-12-17 16:06] lumpfish commented on #10597
Reoccurred on jdk11 AdoptOpenJDK nightly build: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/286/console:
[code]

[2020-12-17 16:15] hangshao0 commented on #11504
Will look at this.

[2020-12-17 16:25] a7ehuo commented on #10869
Sorry I should've updated this issue with the root cause of the crash: the crash happened because the live local info is missing in the newly split block after splitPostGRA. #11214 runs liveness analysis in post tree lowering. It should fix it. I just run `TestACMP` with the following build. I don't see crash any more.

[code]

[2020-12-17 17:58] Jeeppler opened #11508 "JVM crashes using AdoptOpenJDK 15 OpenJ9 and Gradle 6.7.1"
I tested it in a Debian 10 container with Gradle 6.7.1 and AdoptOpenJDK 15 OpenJ9. It crashed immediately with a JVM dump.

[code]

Java Version:

[code]

I did the same test with AdoptOpenJDK 15 Hotspot and everything worked out of the box in the same environment.

[2020-12-17 18:27] JasonFengJ9 commented on #11508
There was a know issue for 0.23 release, could you try a nightly build [1]? (0.24 release is coming very soon)

[1] https://adoptopenjdk.net/nightly.html?variant=openjdk15&jvmVariant=openj9

[2020-12-17 19:02] nbhuiyan commented on #11458
The following failed targets are JIT-related as far as I know:
[code]

All these failure happens due to the same reason - an illegal memory access in the VM when resolving invokedynamic. As a temporary solution around this problem while we work on fixing it, you may run the tests with this `-Xjit` option excluded from the command-line options: `rtResolve`.

[2020-12-17 19:11] nbhuiyan commented on #8214
@0xdaryl Looking at the core dumps briefly, I also suspect the hang is happening during decompilation. However, further work is needed to determine the cause and coming up with a fix. Requesting that this issue is moved to the jdk16 release. I have kept all the files needed to continue this investigation upon my return.

[2020-12-17 19:21] smlambert commented on #11502
A [openjdk-tests/2121](https://github.com/AdoptOpenJDK/openjdk-tests/pull/2121) that got merged last night, moved the checking of running processes into the Jenkinsfilebase script (similar code was previously in maketest.sh), apparently date -R is offensive on mac/osx

[2020-12-17 19:42] smlambert commented on #11502
Presume this is not seen in 10_12 and up

[code]

[2020-12-17 20:06] AdamBrousseau commented on #11458
Looks like the test script either upload to Jenkins or Artifactory
https://github.com/AdoptOpenJDK/openjdk-tests/blob/314dc7c35260354d60bf0455c54f9728be7aef12/buildenv/jenkins/JenkinsfileBase#L645-L651

Could be added but I don't think the test team wants another param. I haven't seen the OSU Art space increasing so is this needed or are we not running much yet?

[2020-12-17 21:01] hangshao0 commented on #11504
Crashed here:
[code]
This issue is already fixed by https://github.com/eclipse/openj9/pull/11487, which was merged yesterday.

[2020-12-17 21:10] tajila commented on #11504
Thanks for investigating @hangshao0

[2020-12-17 21:24] tajila commented on #11504
@gillesde The fix may have made it to last nights nightly build, but it will be in tonights for sure if you want to try the latest build. https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9

[2020-12-17 21:56] 0xdaryl commented on #8214
Moving forward for the justification above.

[2020-12-17 22:00] pshipton commented on #11508
The milestone 1 builds for the next release are also available.

https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/tag/jdk-15.0.1+9_openj9-0.24.0-m1

[2020-12-17 22:14] pshipton commented on #11505
@smlambert fyi

I believe github actions are preferred, which allows users to run the job from code in their forks.

[2020-12-17 22:16] pshipton commented on #11502
It only occurs on the two OpenJ9 10.11 machines, the 10.13+ machines are fine.

[2020-12-17 22:19] pshipton commented on #11494
We can't run these tests (xlinux_xl jdk8 sanity, extended functional) until this problem is resolved. Should I open a bugzilla at Eclipse? @AdamBrousseau

[2020-12-17 22:23] pshipton opened #11509 "TestJps_SE80_0 testComposedArguments Missing argument: foo"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly_testList_0/195
TestJps_SE80_0
win2012-x86-6
[code]

[2020-12-17 22:39] pshipton opened #11510 "OpenJDK java/util/concurrent/ScheduledThreadPoolExecutor/GCRetention.java timeout"
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_linux_Nightly/126
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/255
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_xl_Nightly/242
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/264/
java/util/concurrent/Scheduled

[2020-12-17 22:41] pshipton commented on #11510
@a7ehuo @0xdaryl is this related to https://github.com/eclipse/openj9/pull/11214 ? We need to decide asap (re running green) if there is a problem or the test needs to be excluded.

[2020-12-17 22:41] smlambert commented on #11502
A fix for this has been merged in https://github.com/AdoptOpenJDK/openjdk-tests/pull/2128 , you should be able to verify on a Grinder with LABEL=osx1011-x86-1 or equivalent.

[2020-12-17 22:48] pshipton commented on #11493
@gita-omr We can't have failures in the builds every night, the policy is to run as green as possible. Normally this means finding and backing out the change which caused the problem, or excluding the test. However his didn't fail last night, it's possible the failure rate isn't that high and we just got unlucky to have two failures in one night. We'll see over the next couple of nights.

[2020-12-17 22:59] gita-omr opened #11511 "Solve OMR issue 5717 for 0.25 release"
This is just a placeholder to make sure [1] is addressed before openj9 0.25 release

[1] https://github.com/eclipse/omr/issues/5717

@aviansie-ben @rmnattas

[2020-12-17 22:59] pshipton commented on #11504
I'll go ahead and close this.

[2020-12-17 22:59] #11504 closed

[2020-12-17 23:04] pshipton commented on #11502
I see the following. The `Cannot contact osx1011-x86-1: java.lang.InterruptedException` seems weird, but it continues on and seems to be working.
[code]

[2020-12-17 23:06] pshipton commented on #11502
I've brought the osx1011 nodes back online, closing assuming fixed, will re-open if necessary.

[2020-12-17 23:06] #11502 closed

[2020-12-17 23:08] AdamBrousseau commented on #11494
I reconfigured the 2 jobs in the description to "wipe out repository and force clone" and it seems to be working now
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly_testList_1/192/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly_testList_0/192/

[2020-12-17 23:16] AdamBrousseau commented on #11494
Did ext.func too. If there are others please let me know

[2020-12-17 23:17] gita-omr commented on #11493
Ok, let's look at it tomorrow.

[2020-12-17 23:27] a7ehuo commented on #11510
I'll take a look and see if it's related. I'll revert the change if it's the case.

[2020-12-17 23:34] pshipton opened #11512 "jdk17 sanity.functional testing cannot start, UnsatisfiedLinkError: com/ibm/oti/shared/Shared.isNonBootSharingEnabledImpl()Z"
All jdk17 sanity.functional (perhaps other suites, but didn't try them).
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/404/
[code]

[2020-12-17 23:34] pshipton commented on #11512
@tajila fyi
Perhaps something has changed in jdk17 related to loading natives?

[2020-12-17 23:35] pshipton commented on #11512
JCL changes from previous build where this didn't occur.
https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/4bdc9ef...e21ee05

[2020-12-18 01:18] #11494 closed

[2020-12-18 01:19] a7ehuo commented on #11510
There is no core dump in the test folders. I ran `jdk_util_j9_0` locally , but I'm seeing a complete different failure as below with or without #11214.
#11214 is to fix missing live local for GC related to value type. reverting it shouldn't have an impact on the existing test. To be on the safe side for now, I've created the PR  #11513 to revert the change.

[code]

[2020-12-18 03:03] tajila commented on #11512
@JasonFengJ9 can you please take a look at this

[2020-12-18 03:28] JasonFengJ9 commented on #11512
@tajila sure, will look into this.

[2020-12-18 07:51] andrew-m-leonard commented on #11397
Another hang last night: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_xl/39/console
[code]

[2020-12-18 07:59] Akira1Saitoh commented on #8037
As we discussed on private slack channel, Integer divide-by-zero is not trapped on aarch64, so implicit DIVCHKs are not possible.
https://developer.arm.com/documentation/den0024/a/The-A64-instruction-set/Data-processing-instructions/Multiply-and-divide-instructions

[2020-12-18 08:55] Jeeppler commented on #11508
I tested it again with the Nightly build:

[code]

Gradle 6.7.1 works with the above mentioned OpenJ9 version.

[2020-12-18 09:23] Jeeppler commented on #11508
My build of and running the [SecHub](https://github.com/Daimler/sechub) application worked as well without problems.

[2020-12-18 09:29] bmarwell commented on #5654
This renders JetBrains IntelliJ methods unusuable: https://youtrack.jetbrains.com/oauth?state=%2Fissue%2FIDEA-245020

[2020-12-18 12:30] #8037 closed

[2020-12-18 13:09] JasonFengJ9 commented on #11508
Good to hear that, thanks for verifying @Jeeppler

[2020-12-18 13:32] #11508 closed

[2020-12-18 14:09] pshipton opened #11515 "JDK17 no longer builds"
This seems like a mistake in OpenJDK that will be corrected.

https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/405/
[code]

[2020-12-18 14:10] pshipton commented on #11515
@tajila fyi

[2020-12-18 14:12] pshipton commented on #11512
@JasonFengJ9 fyi https://github.com/eclipse/openj9/issues/11515, if you are building you need to use an older JCL level than the latest until this is fixed.

[2020-12-18 14:16] pshipton opened #11516 "OpenJDK java/util/Collections/EmptyCollectionSerialization.java .ClassNotFoundException: java.util.Collections$EmptyList"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/241/
java/util/Collections/EmptyCollectionSerialization.java
win2012-x86-4
[code]

[2020-12-18 14:19] pshipton commented on #11493
The sanity.system tests failed last night due to a resource download problem, nothing to do with this. I've started a couple of grinders to re-run this testing.
https://ci.eclipse.org/openj9/job/Grinder/1312/
https://ci.eclipse.org/openj9/job/Grinder/1313/

[2020-12-18 14:54] pshipton commented on #11510
There are core files in the diagnostics, for example in
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/264/openjdk_test_output.tar.gz
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/255/openjdk_test_output.tar.gz

Look in .\open

[2020-12-18 14:57] pshipton commented on #11510
FYI I expect the timezone failure is due to a mismatch between the build and the tests. i.e. you are testing an older build with the latest test material. There was a recent update to the timezone data.

[2020-12-18 15:11] pshipton commented on #11510
Maybe the bigger test bucket is required to reproduce. I tried 30x (10x on 3 machines) and it didn't reproduce there either.
https://ci.eclipse.org/openj9/job/Grinder/1315

[2020-12-18 15:36] pshipton commented on #11493
The sanity testing passed, I'll remove the blocking label.

[2020-12-18 16:00] r30shah commented on #11192
I was looking into this with @AlenBadel  as he mentioned in https://github.com/eclipse/openj9/issues/11192#issuecomment-745382213 where PRE decides to profile the array length and inserts placeholder JProfiling Call. With a small hack to make further narrow down the issue, we used a driver that limits the profiling values and used binary search to find out which was the last value for which it add

[2020-12-18 16:39] pshipton commented on #2209
@lumpfish I suspect you meant to refer to a different issue in the previous comment, it just refers back to this Issue.

[2020-12-18 16:53] harpreetbamrah opened #11519 "OpenJ9 win32 build failure"
The win32 OpenJ9 build fails while using VS 2010. Changing ``BOOLEAN isInline = (1 == (*cursor & 1));`` to two separate instruction lines ``BOOLEAN isInline = FALSE;`` and ``isInline = (1 == (*cursor & 1));`` in openj9\runtime\util\romclasswalk.c fixes the problem. Not sure whether this is related to changes in #11330

[2020-12-18 16:57] smlambert commented on #2209
Could be referring to https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/379 and/or https://github.com/AdoptOpenJDK/stf/issues/90.

[2020-12-18 17:19] harpreetbamrah commented on #11477
Some input points from my side, I "build" win32 OpenJ9 on 64-bit Windows 10 recently:

- freetype-2.5.3 required and hence no need for "win32" folder in freetype\builds
- check for binary paths of clang and nasm and add in front of the PATH environment variable to override the older versions integrated in Cygwin
- regsvr32 commands for registering msdiaxxx.dll libraries to be run as administrator

[2020-12-18 17:31] a7ehuo commented on #11510
I looked at the core from https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/255. It's hard to tell based on the backtrace how it's related to #11214 yet.
I also ran [an internal grinder job](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/12796/) with `jdk_foreign_0` without #11214 (previous openj9 commit ef89ce319), I'm seeing the same timeout [2] on

[2020-12-18 18:01] LongyuZhang commented on #11500
@pshipton The test passed with adding `-Djdk.nativeCrypto=false` on xlinux with jdk11 openj9, Internal_Grinder 12787 (the other two failures are for both hotspot and openj9, in another [issue](https://github.com/AdoptOpenJDK/openjdk-tests/issues/2123)). I will test more on other platforms, and for other security tests too. Thanks a lot!

[2020-12-18 18:15] pshipton commented on #11519
VS2010 is no longer supported for building OpenJ9. Note VS2010 is out of support. Since OpenJ9 doesn't test building with VS2010, although there is only a single error now in the future I expect there will be more.

We're behind updating the docs and build instructions. https://github.com/eclipse/openj9/issues/11477 is open to fix the build instructions, and I'll open a PR to fix https://www.eclip

[2020-12-18 18:15] #11519 closed

[2020-12-18 18:25] pshipton commented on #11519
https://github.com/eclipse/openj9-docs/pull/663

[2020-12-18 18:26] pshipton commented on #11477
Note as per https://github.com/eclipse/openj9/issues/11519, using VS2010 is no longer supported.

[2020-12-18 18:41] pshipton commented on #11500
Note there are other related issues being fixed already https://github.com/eclipse/openj9/issues/11391 https://github.com/eclipse/openj9/issues/11390, not sure if that fix will resolve these failures.
@ashbm5 @samasri fyi

[2020-12-18 18:44] pshipton commented on #11500
Actually those others are jdk16 related and this is jdk11 so I expect it's a different problem.

[2020-12-18 21:49] samasri commented on #11390
I implemented the necessary functions in `NativeGaloisCounterMode`. Now the `Encrypt`, `OverlapByteBuffer`, and `SameBuffer` tests are passing. Currently, the JDK passes the same tests like the good JDK (described in [Jason's comment](https://github.com/eclipse/openj9/issues/11390#issuecomment-740311645)). However, both JDKs (the good one and the current one) are still failing these tests: `GCMBuf

[2020-12-19 04:07] JasonFengJ9 commented on #11512
Recent OpenJDK update has caused `openj9.sharedclasses/com.ibm.oti.shared.Shared` classloader changed from `systemClassLoader` to `jdk.internal.loader.ClassLoaders$AppClassLoader`, however `com/ibm/oti/shared/Shared.isNonBootSharingEnabledImpl()Z` is implemented by `runtime/jcl/common/shared.c` (`libjclse29`) and is available as the native library associated with `systemClassLoader`, hence followi

[2020-12-19 15:07] Thihup opened #11522 "--illegal-access=debug doesn't show the correct Stacktrace"
Java -version output
--------------------
openjdk version "15.0.1" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.1+9)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.23.0, JRE 15 Linux amd64-64-Bit Compressed References 20201022_81 (JIT enabled, AOT enabled)
OpenJ9   - 0394ef754
OMR      - 582366ae5
JCL      - ad583de3b5 based on jdk-15.0.1+9)

Summary of problem
-----------------

[2020-12-19 15:32] Thihup opened #11523 "Class::newInstance doesn't validate access"
Java -version output
--------------------
openjdk version "15.0.1" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.1+9)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.23.0, JRE 15 Linux amd64-64-Bit Compressed References 20201022_81 (JIT enabled, AOT enabled)
OpenJ9   - 0394ef754
OMR      - 582366ae5
JCL      - ad583de3b5 based on jdk-15.0.1+9)

Summary of problem
-----------------

[2020-12-19 23:21] pshipton commented on #8173
https://ci.eclipse.org/openj9/job/Build_JDK15_s390x_linux_xl_Release/13

[2020-12-19 23:29] pshipton opened #11525 "Tests hanging on win2012-x86-4, pls reboot"
We just had this problem with 5, which was rebooted. It's time to reboot the rest of them.

@AdamBrousseau @jdekonin

[2020-12-19 23:44] AdamBrousseau commented on #11525
The sanitize job should reboot the windows machines.

[2020-12-19 23:52] pshipton commented on #11512
openj9.sharedclasses is supposed to be a BOOT_MODULE and loaded by the boot class loader.
https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/openj9/closed/custom/common/Modules.gmk#L23

[2020-12-20 00:01] pshipton commented on #11525
It was running something like that, and couldn't seem to re-launch. I tried to disconnect it, but now it's in relaunching state.

[2020-12-20 00:02] pshipton commented on #11525
Maybe it's because I tried to take it offline. I brought it back online and it's running cleanup. Perhaps it will run sanitize afterwards.

[2020-12-20 00:13] pshipton commented on #11525
I guess sanitize doesn't run until later. Perhaps https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.functional_x86-64_windows_Release/12/console is hanging on it now, time will tell.

[2020-12-20 00:22] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Release/24

[2020-12-20 00:41] JasonFengJ9 commented on #11512
[code]
The class in question was loaded via `ServiceLoader` which seems using different classloader after this OpenJDK update.

[2020-12-20 00:54] pshipton opened #11526 "DaaLoadTest_daa2_special_22 hang"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Release_testList_4/2
DaaLoadTest_daa2_special_22
aix71-p8-3

variation: Mode614
JVM_OPTIONS:  -Xcompressedrefs -Xgcpolicy:gencon -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xmn512k -Xcheck:gc:vmthreads:all:quiet

Di

[2020-12-20 00:55] pshipton commented on #11526
@dmitripivkine fyi. Note this failed in the 0.24 release stream.

[2020-12-20 00:56] pshipton commented on #11525
Looks hung to me. Disabled the machine until the scheduled sanitize job can run on it.

[2020-12-20 03:17] pshipton commented on #11525
Brought it back online after the sanitize started, but sanitize didn't run on the machine. Seems this is intentional. I can't leave it enabled other jobs hang on it.
`20:50:03  Offline slaves: [ub18-x86-1:Disconnected by joe_dekoning@ca.ibm.com : On loan to OMR project., win2012-x86-4:Disconnected by peter_shipton@ca.ibm.com`

[2020-12-20 06:17] AdamBrousseau commented on #11525
I've issues the shutdown command that the sanitize job does. The CI isn't loading for me to verify it reconnected. Give it a try.

[2020-12-21 00:37] AdamBrousseau commented on #11525
Rebooted it from the cloud UI. Connected again running jobs.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Personal_testList_1/3/

[2020-12-21 00:38] #11525 closed

[2020-12-21 12:19] lumpfish commented on #2209
Sorry, meant to reference https://github.com/eclipse/openj9/issues/10638

[2020-12-21 15:09] dmitripivkine commented on #11526
This hang occur because GC is waiting for `JIT/GC class unload mutex lock` to be acquired on the way to System GC in thread `"load-6"`:
[code]
This `JIT/GC class unload mutex lock` supposes to be released by JIT Compilation threads by GC request but seems it was not.

@0xdaryl @gita-omr FYI

[2020-12-21 15:33] pshipton commented on #11526
Started a 60x (10x by 6 machines) grinder to see if it reproduces https://ci.eclipse.org/openj9/job/Grinder/1320/

[2020-12-21 16:00] pshipton commented on #11512
The change was `8258411: Move module set configuration from Modules.gmk to conf dir`.
The OpenJ9 boot and platform modules need to be added to the lists in `make/conf/module-loader-map.conf `

[2020-12-21 16:15] pshipton commented on #11512
Seems the hook `$(eval $(call IncludeCustomExtension, common/Modules.gmk))` is now called too early, before the lists are defined. Changing the order should fix it.

https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/openj9-staging/make/common/Modules.gmk#L30-L35

[2020-12-21 16:29] JasonFengJ9 commented on #11512
Yeah, adding `openj9.sharedclasses` to `make/conf/module-loader-map.conf` manually fixed the issue.

[2020-12-21 16:32] JasonFengJ9 commented on #11512
Does this sound an OpenJDK bug?

[2020-12-21 16:36] pshipton commented on #11512
Yes. Possibly the hook was originally added at our request. We should confirm changing the order fixes evertyhing, make the change, and then request the change be contributed to OpenJDK.

[2020-12-21 16:39] pshipton commented on #11526
The grinder passed.

[2020-12-21 17:30] babsingh opened #11528 "Account HCR for OpenJDK MethodHandles"
HCR - Hot Code Replacement

For OpenJDK `MethodHandles`, an instance of `MemberName` stores:
- `MemberName->vmtarget` (`J9Method`)
- `MemberName->vmindex` (`J9JNIMethodID`)

The above `J9Method` and `J9JNIMethodID` references can become outdated due to HCR. They need to be kept updated.

### https://github.com/eclipse/openj9/pull/11367#discussion_r545422877 [Babneet Singh]

1. Should `VM_VMHelpers

[2020-12-21 17:46] babsingh commented on #11528
The `VM_VMHelpers::currentClass` change is handled in https://github.com/eclipse/openj9/pull/11367. The bigger change will be handled in a separate PR.

[2020-12-21 17:47] babsingh commented on #11528
fyi @DanHeidinga @tajila @fengxue-IS

[2020-12-21 18:22] pshipton commented on #11515
The subsequent builds worked so I expect this was resolved.

[2020-12-21 18:22] #11515 closed

[2020-12-21 19:53] #11512 closed

[2020-12-21 22:06] JasonFengJ9 opened #11531 "JDK8 zLinux Segmentation error vmState=0x00000000 Compiled_method=java/lang/reflect/Method.getParameterAnnotations()"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_s390x_linux_xl_Nightly/575`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:03:40  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=s390x_linux_xl&TARG

[2020-12-21 22:13] JasonFengJ9 opened #11532 "JDK15 MiniMix_5min_0_FAILED Mauve[gnu.testlet.java.util.logging.SocketHandler.SocketHandler]"
Failure link
------------

From an internal build `Test_openjdk15_j9_extended.system_x86-64_linux_xl_Nightly/150`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
04:10:23  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=15&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=x86-64_linux_xl

[2020-12-22 15:02] pshipton opened #11534 "MiniMix_5min_0 HttpURLConnection.requestPropertiesTest AccessControlException: access denied"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64_aix_xl_Nightly/15
MiniMix_5min_0
[code]

[2020-12-22 15:04] pshipton commented on #11534
@Mesbah-Alam is the MiniMix test running sub-tests which were excluded in other loads? I thought we'd already excluded sub-tests that set a SecurityManager.
If the same sub-tests aren't excluded, I wonder if this is also the cause of https://github.com/eclipse/openj9/issues/11532

[2020-12-22 15:06] pshipton commented on #8021
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_xl_Nightly/362
[code]

[2020-12-22 15:18] pshipton commented on #10984
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly_testList_1/17
SC_Softmx_JitAot_Linux_0

Diagnostics, there is a core file: https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly_testList_1/17/system_test_output.tar.gz

16.jvm4.stderr
[code]

[2020-12-22 15:18] pshipton commented on #9894
Another one https://github.com/eclipse/openj9/issues/10984#issuecomment-749593181

[2020-12-22 16:22] Mesbah-Alam commented on #11534
MiniMix runs [mauve_all.xml ](https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.test.load/config/inventories/mix/mix-more.xml#L8) using more than 1 threads. However, a load that runs mauve_all.xml would only take into account the excludes in [mauve_all_exclude.xml](https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.test.load/config/inventories/mauve/mauve_a

[2020-12-22 17:14] pshipton commented on #11532
See https://github.com/eclipse/openj9/issues/11534#issuecomment-749631486. This will be resolved by https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/388 as it will exclude this subtest.

[2020-12-22 17:14] #11532 closed

[2020-12-22 17:15] #11534 closed

[2020-12-22 17:55] Thihup opened #11536 "JVM crash - Buffer overflow"
Java -version output
--------------------
openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.8+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.21.0, JRE 11 Linux amd64-64-Bit Compressed References 20200715_697 (JIT enabled, AOT enabled)
OpenJ9 - 34cf4c075
OMR - 113e54219
JCL - 95bb504fbb based on jdk-11.0.8+10)

Summary of problem
------------------
[code]

[2020-12-22 18:40] pshipton commented on #11536
Asked for jextract on the core file, but there is no access to the production machine.

I've put the dumps in Box, available by request.

Created a CentOS 7.7 system and ran `yum update` to get the latest. It's not an exact kernel match.

javacore: Linux 3.10.0-1160.6.1.el7.x86_64
My system: 3.10.0-1160.11.1.el7.x86_64

Ran gdb on the core and got the following stack.
[code]

[2020-12-23 08:12] andrew-m-leonard commented on #11397
and again: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_xl/44/console

[2020-12-23 09:50] andrew-m-leonard opened #11537 "AIX extended.functional tests producing large j9core.dmp"
The following test seemingly Passed, but produced a 18Gb j9core.dmp
https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk8_j9_sanity.functional_ppc64_aix/85/consoleFull
[code]

Also, not just this test, several producing large j9core.dmp, see: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1772#issuecomment-750040757

[2020-12-23 09:52] andrew-m-leonard commented on #11537
@pshipton the common theme from the tests with large cores seems to be DDR ?

[2020-12-23 11:50] lvitaly opened #11538 "The flag in the InnerClass table affects runtime semantics"
Issue details and reproduction steps described in https://github.com/scala/bug/issues/12291

[2020-12-23 14:32] pshipton commented on #11531
Similar crash
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_xl_Nightly/253
java/util/Spliterator/SpliteratorTraversingAndSplittingTest.java
[code]

[2020-12-23 14:37] pshipton commented on #11537
Correct, DDR testing produces a core file in order to run the DDR tests, as these need a core file to process. The tests should delete the core files afterwards. We can modify the tests to specify a smaller -Xmx value than the default (25% of available RAM), which will produce smaller core files.

[2020-12-23 14:37] pshipton commented on #11537
@llxia fyi

[2020-12-23 14:59] pshipton commented on #11538
@tajila fyi

[2020-12-23 15:56] andrew-m-leonard commented on #11537
@pshipton reducing core size would be good please, the AIX boxes are trying to produce 10-18Gb core files per test, and some of the Adopt AIX machines only have about 20Gb partitions

[2020-12-23 17:12] dmitripivkine commented on #11526
FYI: One of JIT Compilation threads is not waiting but doing something:
[code]

[2020-12-23 17:18] dmitripivkine commented on #11526
I have test results downloading (full set including system core, java core etc) in case somebody wants to look

[2020-12-23 18:47] bmarwell opened #11540 "NPE where none could ever be, not in hs."
Java -version output
--------------------

Output from `java -version`.

[code]

Summary of problem
------------------

NPE in a maven core unit test where never ever an NPE could occur – in fact it does not on HS JVMs.

### To reproduce:
[code]

### Expected result:

Build success (Hotspot)

### Actual result

Test failure:
[code]

Diagnostic files
----------------

### Dump files

No files produ

[2020-12-23 19:28] pshipton commented on #11540
Is it easily re-creatable for you? It doesn't recreate for me after 3 tries. It's most likely JIT related, and possibly AOT related. If it is easily re-creatable, it may be AOT related, and if so setting `export OPENJ9_JAVA_OPTIONS=-Xnoaot` would stop it from occurring, although with a cost to java startup time. If you can recreate it we can try to capture a system core file from the failure point

[2020-12-23 19:35] pshipton commented on #11540
You can try the following to capture a system core file.
`export OPENJ9_JAVA_OPTIONS="-Xdump:system:events=systhrow,filter=java/lang/NullPointerException,request=exclusive+prepwalk"`

[2020-12-23 20:02] bmarwell commented on #11540
Funny. I tried a dozen times before opening this issue, but now I cannot reproduce it anymore. 🤷🏼‍♂️
But well, now I at least know the env var I can use next time to track it while it is there!!

[2020-12-24 01:35] pshipton commented on #11540
If did the export in https://github.com/eclipse/openj9/issues/11540#issuecomment-750443120 and then it didn't reproduce any more, I wouldn't be surprised. I think we've seen that behavior before.

[2020-12-24 10:45] bmarwell commented on #11540
Hi,

From what I heard from the maven folks, this is a known issue even in HS starting with more recent versions. The stack trace just got cut off somehow or somewhere. So, all is good here. It's a maven test I will fix after Christmas. Thus, no bug in OpenJ9. 😉

That said, merry Christmas! And thanks a lot!

Best regards,
Ben

[2020-12-24 10:45] #11540 closed

[2020-12-24 13:56] pshipton commented on #11192
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/1868

[2020-12-24 14:11] rmnattas commented on #10744
Looking at the signal masks for the in `/proc/<PID>/status` every ~0.02 seconds I see the following changes:

<table><thead><tr><th>Timestamp</th><th colspan="3">java process (PID=7527)</th><th></th><th colspan="3">main thread (PID=7530)</th></tr></thead><tbody><tr><td></td><td>SigBlk</td><td>SigIgn</td><td>SigCgt</td><td></td><td>SigBlk</td><td>SigIgn</td><td>SigCgt</td></tr><tr><td>32.262</td><t

[2020-12-24 20:18] michael-o commented on #3370
I guess there won't be any progress unless skilled people like @battleblow or @bsdkurt step it. Very sad. As I Maven PMC I'd like like to test everything with OpenJ9 too.

[2020-12-25 23:44] pshipton commented on #9782
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly/572
perhaps related to https://github.com/eclipse/openj9/issues/11130
[code]

[2020-12-25 23:44] pshipton commented on #11130
Similar crash https://github.com/eclipse/openj9/issues/9782#issuecomment-751300446

[2020-12-25 23:50] pshipton commented on #11526
Another one
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_testList_4/22
DaaLoadTest_daa1_special_22

Diagnostics (just javacore's) https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_testList_4/22/system_test_output.tar.gz

[2020-12-26 17:44] TromboneMoose commented on #11351
Hello!  I'm looking for a good first issue and this looks promising.  I think I would like to take a shot at it.

[2020-12-26 18:14] TromboneMoose commented on #11351
Hello!  I'm looking for a good first issue and this looks promising.  I'd like to take a shot at fixing it.

[2020-12-26 18:43] keithc-ca commented on #11351
@TromboneMoose Thanks for the offer of help. I've assigned this to you.

[2020-12-26 20:01] TromboneMoose commented on #11351
I will likely need to ask for guidance along the way.  I want to make sure to follow all your guidelines and do my part as professionally as possible.  This is all new territory for me!  I'm currently reading the contributing guide and will create a WIP pull request asap.

[2020-12-27 10:07] bmarwell commented on #3370
Now, as a Apache Shiro PMC, I would like to test against a FreeBSD build of OpenJ9 as well.

[2020-12-28 06:22] gacholio commented on #9782
I can't imagine how the Object constructor would be doing arrayCopy. It is worth noting that the DF (0x400) is set the flags.

[2020-12-28 18:23] pshipton opened #11544 "MathLoadTest_all_special_12 crash vmState=0x00000000 Compiled_method=java/lang/invoke/AsTypeHandle.invokeExact_thunkArchetype_X(I)I"
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_special.system_ppc64_aix_Release/13 - 0.24.0 release branch
MathLoadTest_all_special_12
aix71-p8-8
variation: Mode351
JVM_OPTIONS:  -Xgcpolicy:metronome -Xcompressedrefs
[code]

[2020-12-28 18:32] pshipton opened #11545 "TestIBMJlmRemoteMemoryNoAuth_SE80_0 crash vmState=0x00000000 Compiled_method=java/lang/invoke/FilterReturnHandle.invokeExact_thunkArchetype_X(I)I"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly_testList_1/23/
TestIBMJlmRemoteMemoryNoAuth_SE80_0

5.LT2.stderr
[code]

[2020-12-28 18:32] pshipton commented on #11545
Perhaps related to https://github.com/eclipse/openj9/issues/11544

[2020-12-28 18:36] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_Nightly/214
testJITServer_0
[code]

[2020-12-28 18:42] pshipton commented on #11526
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_testList_2/24
MathLoadTest_bigdecimal_special_17
variation: Mode555
JVM_OPTIONS:  -XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xcheck:gc:vmthreads:all:quiet

Diagnos

[2020-12-28 18:48] pshipton commented on #11190
Like the last one.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly_testList_1/22

[2020-12-28 18:55] pshipton opened #11546 "!setvm : is larger than the max available memory address: 0xFFFFFFFF"
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_extended.functional_ppc64le_linux_Nightly_testList_0/137/
testDDRExtJunit_FindExtThread_0
[code]

[2020-12-28 19:14] bmarwell opened #11547 "jlink output cannot load openjfx apps due to java.lang.UnsatisfiedLinkError: Can't load glassgtk3"
Java -version output
--------------------
[code]

Summary of problem
------------------

If I create a jlink distribution using OpenJ9, an app using OpenJFX will not start:

[code]

However, using the same hotspot version, the app starts as expected.

The sample output from above is a simple tool which I created for the speedrun gaming community:
https://github.com/alttpj/MemeforceHunt

// Edit: B

[2020-12-28 20:09] pshipton commented on #9416
https://ci.eclipse.org/openj9/job/Build_JDKnext_ppc64_aix_OpenJDK/286
There is ~500MB of JIT output.
[code]

[2020-12-29 03:46] 1a2s3d4f1 opened #11548 "Balanced gc can not auto expansion region size"
Java -version output
--------------------

[code]

Summary of problem
------------------
Set " javaw -Xmx1G -Xgcpolicy:balanced -Xverbosegclog -verbose:gc -jar HMCL-3.3.170.jar" ,This [Launcher](https://github.com/huanghongxun/HMCL) can not show background picture.  When I set -Xmx2G or -Xgc:regionSize=2M, The Launcher can show background picture.
When user set -Xmx1G (no -Xms1G),maybe The GC do n

[2020-12-29 08:59] mschaaf opened #11549 "Unhandled exception during compilation with JDK 15.0.1.j9"
Java -version output
--------------------
[code]

Summary of problem
------------------

Error during compilation:

[code]

Diagnostic files
----------------

https://drive.google.com/file/d/1FMTOynEqaoc9ds6A3ZgZe6yMcfWvBysA/view?usp=sharing

[2020-12-29 14:01] JasonFengJ9 commented on #11549
There was some known issues invoking `NativeLibraries.load()` at `openj9-0.23.0`, would you try a `v0.24` milestone build [1]  instead?

[1] https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/tag/jdk15u-2020-12-28-10-18

[2020-12-29 14:26] dmitripivkine commented on #11548
@amicic FYI

[2020-12-29 15:35] dmitripivkine commented on #11526
There is the same problem - JIT Compilation thread is running for ~10740 seconds and keeps `GC class unload mutex lock` and prevents STW GC to start:
[code]

[2020-12-29 15:43] dmitripivkine commented on #11526
This is the same problem as well, just different stack on GC side due Balanced:
[code]
This JIT Compilation thread is a problem:
[code]

[2020-12-30 01:02] pshipton commented on #11549
Milestone 1 is https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/tag/jdk-15.0.1+9_openj9-0.24.0-m1

The link in the previous comment is just a nightly build, but both builds should work. There will be a 0.24 milestone 2 build next week.

[2020-12-30 01:26] pshipton commented on #11526
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_testList_4/26
DaaLoadTest_daa1_special_17
variation: Mode555
JVM_OPTIONS:  -XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xcheck:gc:vmthreads:all:quiet

Diagnostics: h

[2020-12-31 07:15] 1a2s3d4f1 commented on #11548
![20201231141613469](https://user-images.githubusercontent.com/40121560/103399053-37d91900-4b7a-11eb-944e-fece12c20b01.jpg)
balanced gc
![20201231142113714](https://user-images.githubusercontent.com/40121560/103399073-4cb5ac80-4b7a-11eb-932f-64821e8a51d4.jpg)
g1gc or bananced gc set"-Xgc:regionSize=16M"

Hotspot G1GC log:
[gc.zip](https://github.com/eclipse/openj9/files/5756677/gc.zip)

[2020-12-31 21:46] gatoborrachon commented on #11433
mmm, sorry for being impatient, but are there any news about this? or there still not enough info to fix this specific error?

[2021-01-01 22:13] JCodyA commented on #11334
Hello!  This might be a good one for me but I'm having one issue, I'm not really sure where to look for the mentioned macro.  Do you know the specific source file or should I find it?  I think I understand macros and the problem but this is all pretty new for me.

[2021-01-02 17:08] koppor commented on #11549
[#sdkman supports GA versions only](https://sdkman.slack.com/archives/CJTNQA94M/p1609562017198800?thread_ts=1609526273.197900&cid=CJTNQA94M). Th fix will be included in [Milestone Release 0.24 (Java 8, 11, 15) Jan refresh](https://github.com/eclipse/openj9/milestone/24), I suppose?

[2021-01-02 22:19] koppor opened #11555 "14.0.2.12-openj9 fails with module not found: jdk.internal.vm.compiler"
I am trying to use 14.0.2.12-openj9 within IntelliJ Ultimate. I get

[code]

I think, this is https://github.com/AdoptOpenJDK/openjdk-build/issues/2047, isn't it?

https://github.com/AdoptOpenJDK/openjdk-build/issues/2047#issuecomment-688309375:

[2021-01-03 13:26] JasonFengJ9 commented on #11549
That's correct assuming the issue is fixed by the build specified in https://github.com/eclipse/openj9/issues/11549#issuecomment-752085321 .

[2021-01-03 22:17] pshipton commented on #11555
`jdk.internal.vm.compiler` is specific to Hotspot and this module is not included in OpenJ9 builds.

[2021-01-03 23:50] tajila commented on #11433
@gatoborrachon The holiday season as slowed our progress, hopefully we can get to this by the end o the month.

[2021-01-04 02:14] pshipton commented on #10929
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_xl_Release/51

[2021-01-04 02:17] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Release_testList_1/19
testDDRExtJunit_MonitorsAndDeadlock3_1
osx1011-x86-2
[code]

[2021-01-04 02:21] pshipton commented on #10732
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_extended.functional_ppc64le_linux_Release_testList_0/14
testSoftMxDisclaimMemory_2
ub16-ppcle-1
[code]

[2021-01-04 10:20] koppor commented on #11555
Thank you for the information. We need that module, because of [citeproc-java](https://michel-kraemer.github.io/citeproc-java/), which [depends on the GraalVM compiler](https://github.com/michel-kraemer/citeproc-java/blob/5d119ecde0e21b53e217be33730fa3dd8901c99c/citeproc-java/build.gradle#L54), because the Java implementation is "just" a wrapper around the existing JavaScript implementation of tha

[2021-01-04 10:20] #11555 closed

[2021-01-04 10:29] lumpfish commented on #10840
Seen being seen on AdoptOpenJDK nightly builds - e.g. https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.system_aarch64_linux_xl/303/consoleFull
[code]
[code]

[2021-01-04 14:10] pshipton commented on #5450
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly_testList_0/199/
[code]

[2021-01-04 14:13] pshipton commented on #11526
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_testList_4/28

[2021-01-04 14:17] pshipton commented on #10460
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_xl_Nightly_testList_1/31
MauveMultiThrdLoad_special_1

[2021-01-04 14:27] pshipton opened #11557 "TestIBMJlm terminate() pid didn't work, manual cleanup required"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_xl_Nightly_testList_1/29
TestIBMJlmRemoteClassNoAuth_SE80_Linux_0
I don't see anything useful in the diagnostics.
[code]

[2021-01-04 14:31] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly_testList_1/30
TestJlmRemoteThreadNoAuth_0
[code]

[2021-01-04 14:36] pshipton commented on #10732
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_extended.functional_ppc64le_linux_Nightly_testList_0/141/
testSoftMxDisclaimMemory_2
ub18-ppcle-2
[code]

[2021-01-04 16:41] JasonFengJ9 commented on #11547
I will have a look this.

[2021-01-04 17:36] gita-omr commented on #11192
@pshipton we only seen it on Power? Maybe we can set the label?

[2021-01-04 17:44] gita-omr commented on #11192
Thanks a lot @AlenBadel and @r30shah for narrowing the test case down and the investigation. Just to update: since the test case fails practically every time now, we decided that @mnalam-p will try to step through it in the debugger. Whatever trees JPorifiler  is inserting they should not be affecting the user data so I am suspecting some RA issues. But @r30shah if you could take another look at t

[2021-01-04 17:57] gita-omr commented on #10744
@rmnattas is looking at it.

[2021-01-04 18:18] dmitripivkine commented on #10732
@llxia FYI:
Test has requested heap contraction and it succeeds. However seems size of heap after contraction is not enough to complete test framework run, so we got OOM at the very end of test. The solution might be setting watermark higher. Alternatively heap size can be restored to original as soon as requested contraction is detected. However an idea that test expected that released from contr

[2021-01-04 19:01] gacholio opened #11562 "Add -Xtrace option to turn assertions into crashes"
This would be useful both when running the VM under a debugger and in the field.

Probably requires some interaction with OMR.

[2021-01-04 19:06] dmitry-ten opened #11563 "JDK11: JITServer crash in cmdLineTester_fieldwatchtests_0"
The server segfaults with the following stacktrace:
[code]
The resolved method is NULL for some `TR_DataAddress` relocation.
The crash could be related to field watch functionality.

[2021-01-04 19:06] dmitry-ten commented on #11563
@mpirvu, I'm working on this rn.

[2021-01-04 19:12] tajila commented on #11523
@ChengJin01 Can you please take a look at this

[2021-01-04 19:19] ChengJin01 commented on #11523
Will investigate to see what happened in there.

[2021-01-04 20:03] pshipton commented on #11192
Sure, set any labels you like.

[2021-01-04 20:04] tajila commented on #11538
@fengxue-IS Can you please take a look at this

[2021-01-04 20:20] pshipton commented on #11562
@keithc-ca fyi

I'm not sure, perhaps this is already supported for specific asserts. You can use the `trigger` keyword to cause an `abort` or `sigsev` for specific tracepoints (`tpnid`), but not sure if an assertion qualifies.

https://www.eclipse.org/openj9/docs/xtrace/#trigger

[2021-01-04 20:40] rmnattas commented on #10744
Adding the OR condition ` || portLibrarySignalNo == OMRPORT_SIG_FLAG_SIGTRAP` to line [1] allowing SIGTRAP to get unblocked does not show the problem (finishes without crashing). For some reason when SIGTRAP is unblocked (only in the main thread) the handler does not get unset and the signals get received by the JVM not the OS.

[1]
https://github.com/rmnattas/omr/blob/d255f376f0fe037725217f9eb036

[2021-01-04 20:43] JasonFengJ9 commented on #11547
Not able to reproduce this at `Mac OSX` platform, and got following error at `Linux x86`:
[code]

@bmarwell any hints to reproduce the issue?
In addition, there were some known issue at `v0.23` release, would you try a `v0.24` early release build [1] instead?

[1] https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/tag/jdk15u-2020-12-28-10-18

[2021-01-04 21:18] gita-omr commented on #11526
I think we saw a few failures with classUnloadMutex being corrupted. One of them was happening with -Xint: https://github.com/eclipse/openj9/issues/11040  so I think it needs to be fixed first.

[2021-01-04 21:23] pshipton commented on #11526
@gita-omr note that #11040 only occurred when https://github.com/eclipse/openj9/pull/10930 was merged, however this change was reverted.

[2021-01-04 21:26] gita-omr commented on #11526
My impression was that something similar was occurring even without #10930 but less often...

[2021-01-04 21:54] pshipton commented on #11526
I'm not aware that we've seen the problem without #10930. Note this is a new problem, not seen before Dec 19th.

[2021-01-04 21:57] pshipton commented on #11526
Note this has only been seen in these modes.

VM_OPTIONS: -Xcompressedrefs -Xgcpolicy:gencon -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xmn512k -Xcheck:gc:vmthreads:all:quiet

JVM_OPTIONS: -XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 10

[2021-01-04 22:09] dmitripivkine commented on #11526
@gita-omr I am pretty sure this is different problem. We have seen similar problems in the past. It was relate with (something like) infinite loop Compilation thread going in due wrong data (sorry again, I never knew low level details on JIT side regarding this)

[2021-01-04 22:21] dmitry-ten commented on #11563
This is the relocation causing trouble:
https://github.com/eclipse/openj9/blob/2dec40f6478d2f4fe8f754c5058bd174d34513f4/runtime/compiler/codegen/J9WatchedStaticFieldSnippet.cpp#L75-L81

For some reason sometimes the node's inlined site index is not -1, but we don't have a valid inlined callsite at that index, which causes the segfault.

The problem goes away if I surround the relocation with `need

[2021-01-04 23:08] gita-omr commented on #11526
Sure, we’ll take a look. Thanks.

[2021-01-05 00:04] ChengJin01 commented on #11523
To narrow down the issue, I made a few modifications to isolate the code snippet above.

(1) changed the code by commenting out `Class.forName(provider).getConstructor().newInstance()` as follows:
[code]
[1] the output of Java 11 & 15 on Hotspot:
[code]
[2] the output of Java 11 & 15 on OpenJ9:
[code]
It shows that the Illegal access with `Class.forName(provider).newInstance()` was only captured o

[2021-01-05 02:19] #10945 closed

[2021-01-05 11:08] MelHopper commented on #11237
Hi @amicic @RSalman has this defect been put into an iteration plan yet? - I am wondering when the following changes will be actioned, so I can determine whether to keep the current log contents in the openJ9 docs for the next release, or to use the changed log content? - will the following be actioned by 15th Jan?

- <concurrent-collection-start> element name changed to <concurrent-global-final>