[2022-04-04 14:57] mpirvu commented on #14792
It at all possible I would avoid adding new fields to J9JavaVM that are not going to be used when the JIT is off. Maybe jitConfig is a better place for that, since it is accessible by both the VM and the JIT, but only initialized if JIT is enabled.
If data does not need to be accessed by VM, then compInfo is a better place.

[2022-04-04 15:10] pshipton opened #14843 "special.system test timeouts on aarch64 mac"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_aarch64_mac_Release_testList_0/6 - [mac11-aarch64-5](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-5)
DaaLoadTest_daa3_special_5m_3 `-Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:count=0 -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org

[2022-04-04 15:14] paulcheeseman opened #14844 "Xtrace sometimes generates binary trace files larger than the specified limit"
We have a customer situation where the Xtrace binary trace file size limit is not always honoured correctly. Over time, this is filling up their file system and causing outages.

The product defines custom trace points using this API:

https://www.ibm.com/docs/en/sdk-java-technology/8?topic=SSYKE2_8.0.0/com.ibm.java.api.80.doc/com.ibm.jvm.ras/com/ibm/jvm/Trace.html
https://www.ibm.com/docs/en/sdk-

[2022-04-04 15:17] pshipton commented on #14844
@tajila @keithc-ca fyi

[2022-04-04 15:48] gacholio commented on #14067
It can also be modified by decompilation, DLT transition or stack grow (not a real modification in this case, just updating moved pointers).

[2022-04-04 15:50] gacholio commented on #14067
I don't see anywhere that would be writing a 0 to the returnSP.

[2022-04-04 16:52] hangshao0 commented on #14839
So [this](https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/651655b7082f5eec499645ff76d4f145e2b7b021) openjdk next commit has changed `VarHandle` to sealed class. Jdknext does not have `VarHandleValues`, so
`VarHandleValues.Array,VarHandleValues.FieldInstanceReadOnly,VarHandleValues.FieldStaticReadOnly`
are not added to the permits class list in `VarHandle.java` by this change.

Currently O

[2022-04-04 17:06] cjjdespres commented on #14792
Sure. I thought that it might be convenient to have `jvmPhaseChange` set that time when it's called, but I'm not sure if `TR::CompilationInfo` is accessible in `vmphases.c`. If not, then the phase change time could live in a static variable in `HookedByTheJIT`, since it's only relevant there (indeed only in `jitStateLogic`).

[2022-04-04 17:20] cjjdespres commented on #14792
Oh, sorry, I didn't even notice that it was a `.c` file

[2022-04-04 19:04] pshipton commented on #14718
It's added to 0.31 https://github.com/eclipse-openj9/openj9/pull/14849 and 0.32 https://github.com/eclipse-openj9/openj9/pull/14850

[2022-04-04 19:04] #14718 closed

[2022-04-04 19:11] hangshao0 commented on #14839
@JasonFengJ9 Can you try https://github.com/hangshao0/openj9-openjdk-jdk.valuetypes/commit/d3e455f8b26818413d6306b319822394ef16f7db to see if this failure is fixed ?

[2022-04-04 19:35] JasonFengJ9 commented on #14839
Yeah, that works, pls create a PR.

[2022-04-04 19:51] hangshao0 commented on #14839
PR is here: https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes/pull/1

[2022-04-04 19:54] JasonFengJ9 commented on #14839
Merged. Closing..

[2022-04-04 19:54] #14839 closed

[2022-04-04 20:52] JasonFengJ9 commented on #14654
42/100 failed, NPE appeared quite often for this JDK18 Windows build.

[2022-04-05 05:36] knn-k commented on #14636
Reproduced in job/Test_openjdk18_j9_special.system_aarch64_mac_Personal_testList_4/1/consoleText in running DaaLoadTest_all_special_5m_9.
[code]

[2022-04-05 07:32] knn-k commented on #14841
Not reproduced in a 10x Grinder job: job/Grinder/22300

[2022-04-05 10:14] knn-k commented on #14843
I ran special.system on macaarch64rt5 in internal job/Grinder/22299, and I see no failures there.

[2022-04-05 11:46] pshipton commented on #14841
Note the failure occurred in the 0.31 build.

[2022-04-05 11:47] pshipton commented on #14843
Note the failures occurred on the 0.31 build.

[2022-04-05 11:48] pshipton commented on #14840
Note the failure occurred on the 0.31 build.

[2022-04-05 11:48] pshipton commented on #14829
Closing as the problem in STF was reverted.

[2022-04-05 11:48] #14829 closed

[2022-04-05 11:49] knn-k commented on #14841
Yes, I used a 0.31 build in my Grinder job.  I needed #14854 for building the 0.31 binary.

[2022-04-05 12:08] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_mac_Nightly_testList_0/27 - [mac11-aarch64-3](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-3)
cmdLineTester_GCRegressionTests_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.functional_aarch64_mac_Nightly_testList_0/27/functional_test_output.tar.gz
[code]

[2022-04-05 12:09] pshipton commented on #14243
@knn-k fyi the more recent failures on amac.

[2022-04-05 12:14] pshipton commented on #14713
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_2/29 - [mac11-aarch64-4](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-4)
`HeapHogLoadTest_5m_0` -Xjit -Xgcpolicy:gencon -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_2/29/system_test_ou

[2022-04-05 12:15] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_Nightly_testList_1/27

[2022-04-05 12:19] pshipton opened #14856 "jlm001 Slow count not as expected at least 5, was:4"
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_Nightly_testList_0/27 - [ub16x64j96](https://openj9-jenkins.osuosl.org/computer/ub16x64j96)
cmdLineTester_jvmtitests_5 `-Xgcpolicy:metronome -Xcompressedrefs`

[code]

[2022-04-05 13:25] pshipton opened #14857 "Unspecified error on Windows trying to run javac to compile tests"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly_testList_0/247/console
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly_testList_1/247/console
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_x86-64_windows_OpenJDK/100/console
https://openj9-jenkins.osuosl.org/job/Test_open

[2022-04-05 13:29] pshipton commented on #14857
Earlier testing worked, and this just started. Probably something STF just changed.

[2022-04-05 13:38] tajila commented on #14470
@mikezhang1234567890 Can you please take a look at this

[2022-04-05 13:39] pshipton commented on #14857
Everything Windows continues to fail.
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly/253/
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_OMR/208/
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_windows_OMR/96/

[2022-04-05 13:56] JasonFengJ9 commented on #14067
Not in recent builds (just checked x86-64_mac & x86-64_linux ), will launch grinders after infra maintenance.

[2022-04-05 14:01] dmitripivkine commented on #14601
@15838028035 The request to clarify the problem has not been responded. I am closing this request for now. If it is still be a problem please reopen the item and provide clarification.

[2022-04-05 14:01] #14601 closed

[2022-04-05 14:19] pshipton commented on #14857
https://github.com/adoptium/aqa-tests/pull/3532 is merged so I assume this is fixed. I've restarted the OMR and OpenJDK acceptance testing.

[2022-04-05 14:19] #14857 closed

[2022-04-05 14:54] #14734 closed

[2022-04-05 15:06] tajila opened #14858 "ValueTypes: Add support for reference projection arrays"
In the current model, a given primitive type can have two types, the primary type and the reference projection (AKA the box).

Using `Point` as an example:

[code]

[code]

As a result there are two types of arrays, `Point[]` (the primary type array) and `Point.ref[]` (the reference projection) they are allocated with classrefs `"QPoint;"` and `Point` respectively. Note that the first one is a sig

[2022-04-05 15:54] tajila commented on #14858
@gacholio any thoughts on how to approach this?

We need to make a distinction in the constant pool between `QPoint;` and `Point`. Which may also imply that we need to be able to `resolveClassRef` with `QPoint;` and `Point` and get a different result.

Also we need generate a two ramClass'es for the `Point[]` and `Point.ref[]` variants.

[2022-04-05 16:02] tajila commented on #14858
We could generate a companion class for primitive Objects, similar to how we have `clazz->arrayClass` created by `internalCreateArrayClass`, something like `clazz->refProjectionArray` via `internalCreateRefProjectionArrayClass`. But we still need a way to tell in the constantPool whether we are dealing `QPoint;` or `Point`.

The alternative, is to start using signatures instead of simple names int

[2022-04-05 16:25] JasonFengJ9 commented on #14067
`x86-64_mac` 50x grinder - `job/Grinder/22313/`
`x86-64_linux` 50x grinder - `job/Grinder/22311/`

[2022-04-05 16:59] pshipton opened #14859 "gcc10 warnings in the JIT"
See the nightly builds at https://openj9-jenkins.osuosl.org/job/Pipeline-Compile-gcc10-JDK17/

[code]

Also this
[code]

@0xdaryl @knn-k

[2022-04-05 18:13] 0xdaryl commented on #14859
`TR_ByteCodeInfo` is a bitfield, and we are likely running into some variant of this problem:  https://bugs.openjdk.java.net/browse/JDK-8235983

[2022-04-05 20:24] mikezhang1234567890 commented on #14470
Looking into this, but haven't been able to reproduce the issue yet.

[2022-04-05 20:42] LongyuZhang commented on #13891
I think we can close this issue. Thanks.

[2022-04-05 22:07] JasonFengJ9 commented on #14494
`job/Test_openjdk18_j9_extended.openjdk_aarch64_linux/17/`(`ub18-aarch64-5`)
[code]

[2022-04-05 22:10] JasonFengJ9 commented on #14469
`job/Test_openjdk18_j9_sanity.functional_aarch64_mac_testList_2/16/`(`macaarch64rt2`)
[code]

[2022-04-05 22:36] JasonFengJ9 commented on #14413
Appears a machine/network issue, tracked at `backlog/issues/763`.

[2022-04-05 22:36] #14413 closed

[2022-04-06 02:59] Akira1Saitoh commented on #14426
Looking at the core dump, the segfault was caused by incorrect data in the JNI callout frame, but the data in the JNI callout frame was correct, which suggests that the stackwalker thread did not see the data written by the thread calling out to JNI.
If I disable `J9VM_INTERP_ATOMIC_FREE_JNI_USES_FLUSH` flag, this test passes. I guess that `flushProcessWriteBuffers` function does not work properly

[2022-04-06 03:14] pshipton commented on #14469
@zl-wang @IBMJimmyk the problem seems to be occurring quite frequently lately. Note the latest failure is on amac and not AIX like the original ones.

[2022-04-06 03:24] #14821 closed

[2022-04-06 03:45] pshipton opened #14864 "OpenJDK Math failures and stack overflows"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/255/
    java/lang/Math/Log1pTests.java.Log1pTests
[code]

java/util/concurrent/forkjoin/Integrate.java.Integrate
[code]

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Nightly/197/
    java/lang/Math/HypotTests.java.HypotTests
    java/lang/StrictMath/HypotTests.java.HypotTe

[2022-04-06 06:53] knn-k commented on #14841
Not reproduced in a 20x Grinder job: job/Grinder/22342

[2022-04-06 08:34] quijote commented on #14526
We observe similar crashes a few times per week in tests executed by our CI servers.

Unfortunately I can't provide a core dump but I have collected the other diagnostic files:
[j9_crash_artifacts.zip](https://github.com/eclipse-openj9/openj9/files/8425112/j9_crash_artifacts.zip)

[2022-04-06 10:04] knn-k commented on #14843
Not reproduced in another special.system run on macaarch64rt6: job/Test_openjdk18_j9_special.system_aarch64_mac_Personal/2/tapResults/

[2022-04-06 10:59] 0xdaryl commented on #14864
@BradleyWood : initial AVX-512 support does seem to be the most likely candidate to cause these failures.  Can you investigate this please?

[2022-04-06 11:05] knn-k commented on #14663
Nightly tests were successful after the tactical solution was merged.
https://openj9-jenkins.osuosl.org/job/Pipeline_Build_Test_JDK8_aarch64_linux/379/

[2022-04-06 11:40] JasonFengJ9 commented on #14067
Both grinder passed, I think this can be closed, and re-open if further investigation is possible.

[2022-04-06 12:03] pshipton commented on #14067
@JasonFengJ9 can you pls try grinders on a 0.32 build. The most recent build is https://openj9-jenkins.osuosl.org/job/Pipeline-Release-0.32.0-Build17/1/ but I've also just started https://openj9-jenkins.osuosl.org/job/Pipeline-Release-0.32.0-Build17/2/ to pick up the latest fix for hidden frames.

[2022-04-06 12:13] JasonFengJ9 commented on #14067
`x86-64_mac` 50x grinder - `job/Grinder/22365/`
`x86-64_linux` 50x grinder - `job/Grinder/22365/`

[2022-04-06 12:16] pshipton commented on #14864
@0xdaryl @BradleyWood unless there is a quick fix this morning, ideally we should back out the change. There are many more failures. System tests are also failing on x86. I'm not sure yet what effect this has had on available disk space.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64_windows_Nightly/198/
MathLoadTest_all_CS_5m_0

https://openj9-jenkins.osuosl.org/j

[2022-04-06 12:19] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_ppc64_aix_Nightly_testList_1/36
TestIBMJlmRemoteClassNoAuth_1

[2022-04-06 13:25] pshipton commented on #14864
But with what test suites? Nothing was caught in vmfarm build gold testing, I don't see anything in extended either. The failures are specific to the sanity.openjdk and extended.system (MathLoadTest_all_CS_5m_0) suites.

[2022-04-06 13:39] pshipton commented on #14268
It's actually jdk17+ that should switch.

I also see that jdk19 is using 11.2 at OpenJDK
https://wiki.openjdk.java.net/display/Build/Supported+Build+Platforms

[2022-04-06 13:40] cjjdespres commented on #14538
Various test output mismatches and stack overflow errors in different math tests:

`job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_jit_Personal/233/`
- `jdk_lang_0`
- `jdk_util_0`
- `jdk_util_1`

`job/Test_openjdk17_j9_extended.system_x86-64_linux_jit_Personal/235/`
- `MathLoadTest_all_CS_5m_0`

`job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_jit_Personal/306/`
- `jdk_util_0`
- `jdk_util_1`

[2022-04-06 13:58] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Personal/918/`, failure in `shrtest_linux_SE80_1`. Console log:

[code]

Looks like a previously observed failure in `shrtest_linux_0` [here](https://github.com/eclipse-openj9/openj9/issues/14538#issuecomment-1054639672). May be some kind of system error. Haven't attempted to reproduce.

[2022-04-06 14:04] 0xdaryl commented on #14526
@jdmpapin is investigating this with the failure artifacts we have.

[2022-04-06 14:21] fzyzcjy commented on #5375
Hi, I also see `commited` being >200MB even if it only uses <10MB. Is there any updates?

![image](https://user-images.githubusercontent.com/5236035/161996607-114f1e3f-341e-44bc-a280-7c406e051fac.png)

[2022-04-06 14:37] dsouzai commented on #5375
@fzyzcjy can you run with `-Xjit:verbose={compilationPerformance},verbose={codecache},vlog=yourvlog` and attach the vlog? Also can you provide the JVM version?

[2022-04-06 14:37] pshipton opened #14865 "Java 11.0.16 AIX to move to xlc 16.1"
According to https://wiki.openjdk.java.net/display/Build/Supported+Build+Platforms 11.0.16+ will use xlc 16.1. It's likely that OpenJDK will not compile without the upgrade, there is no choice but to switch.

This is going to require users to install the C/C++ Runtime in order to run.

[2022-04-06 14:39] fzyzcjy commented on #5375
Thanks I will try it later

[2022-04-06 14:40] mpirvu commented on #5375
@fzyzcjy On all 64-bit platforms the JIT allocates a 256MB repository for the code cache. While the memory is allocated, it won't become part of the resident set (physical memory) unless pages are touched.
One easy test could be with `-Xjit:disableCodeCacheConsolidation`. If you still see a large committed value for the code cache, then we have a bug. Otherwise, the behavior is normal.

[2022-04-06 14:41] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_ppc64_aix_OpenJDK_testList_1/97

[2022-04-06 14:54] pshipton commented on #14864
The OMR change is reverted by https://github.com/eclipse/omr/pull/6462, and this is promoted to OpenJ9 builds.

[2022-04-06 16:09] gacholio commented on #14858
I don't have enough context for a useful answer. At a glance this seems like another in a long line of hacks to shoehorn this arguably unnecessary feature into a language that's clearly not designed for it.

[2022-04-06 16:40] cjjdespres commented on #14792
Just to record what we talked about on Monday: one idea is to have a new JVM phase beyond `J9VM_PHASE_NOT_STARTUP` that the JVM would temporarily enter. This would be used to prompt `j9shr_jvmPhaseChange` to call `((SH_CacheMap*)vm->sharedClassConfig->sharedClassCache)->dontNeedMetadata(currentThread)` again (after setting `_metadataReleased` to `false` in the cache map) in order to disclaim the S

[2022-04-06 17:34] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Release/21

[2022-04-06 17:57] pshipton commented on #14067
Since this can't be repeated in the head stream or the 0.32 steam, I'm ok to close this and reopen if the problem is seen again. I'll start by removing it from the milestone plan.

@0xdaryl I think there may still be some investigation into the existing core, pls close if appropriate once investigations have completed.

[2022-04-06 18:01] pshipton commented on #14067
Hmm, although the grinders were on the individual test and not on jdk_util_0. Sometimes problems only re-occur when running the larger, longer running, set of tests. @JasonFengJ9 can you please start some grinders on jdk_util_0.

[2022-04-06 18:24] #14828 closed

[2022-04-06 18:27] pshipton commented on #14470
It was hot for a few day, but I haven't seen it since. It it can't be reproduced we can close it until it's seen again.

[2022-04-06 18:28] pshipton commented on #14470
@mikezhang1234567890 do you see anything about the test that would explain why the actual could be lower than the expected?

[2022-04-06 18:33] JasonFengJ9 commented on #14067
`x86-64_mac` 50x grinder - `job/Grinder/22389/`
`x86-64_linux` 50x grinder - `job/Grinder/22390/`

[2022-04-06 18:59] llxia opened #14867 "cmdLineTester_pltest_osx failed with JDK11.0.14.1 on Mac12"
cmdLineTester_pltest_osx_0 test failed with JDK11.0.14.1 on Mac12 only
- machine: mac12x64rt15.rtp.raleigh.ibm.com
- OPENJ9_BRANCH=v0.30.1-release
- internal/Grinder/22374
[code]

[code]

[2022-04-06 19:00] llxia commented on #14867
Grinder with nightly Grinder/22392/ (waiting for machine)

[2022-04-06 20:14] jdekonin commented on #14867
[code]

But I can do this on a MacOS11 system...

`ulimit: setrlimit failed: invalid argument` is the error as an admin account

[2022-04-06 20:58] pshipton commented on #14867
I logged in and tried different values, but nothing worked. You can't set the hard limit or soft limit to bigger or smaller values.

I don't find any code in OpenJ9 that modifies the address space limit. I could just remove the OpenJ9 port library test on mac, unless somebody has other ideas. @keithc-ca ?

[2022-04-06 21:08] keithc-ca commented on #14867
I don't find any uses of `xxxsysinfo_set_limit(XXXPORT_RESOURCE_ADDRESS_SPACE)` besides in tests; perhaps we should just remove support for modifying the virtual memory limit (and the related tests)?

[2022-04-06 21:19] pshipton commented on #14867
I'll open a PR to remove the OpenJ9 test, but I won't do anything on the OMR side for now. If it comes up there, perhaps somebody else will figure something out.

[2022-04-06 21:29] keithc-ca commented on #14844
The best answer I have so far is that the paths generated by the option
[code]
allow for races between multiple processes.

When opening the (next) trace output file, the code first tries to open an existing file (with the truncate flag), If that fails (presumably because the file does not exist) it tries to create a new file (but without the truncate flag); see [1]. It's possible, if unlikely, th

[2022-04-06 21:36] pshipton commented on #14844
It seems `%p%` should be added to the file name to include the pid.

[2022-04-07 00:21] knn-k commented on #14636
I ran a 20x Grinder job for DaaLoadTest_all_special_5m_9 in job/Grinder/22364/, and got no failures.

[2022-04-07 02:38] knn-k opened #14870 "AArch64 macOS: flushProcessWriteBuffers() not working as expected"
The function `flushProcessWriteBuffers()` may not be working as expected on AArch64 macOS.
See Issue #14426.

I opened PR #14869 to disable `J9VM_INTERP_ATOMIC_FREE_JNI_USES_FLUSH` on AArch64 macOS.
This issue is for investigating the `flushProcessWriteBuffers()` behavior.

[2022-04-07 02:39] knn-k commented on #14426
I opened PR #14869 and Issue #14870.

[2022-04-07 02:46] knn-k commented on #14870
PR #8998 enabled atomic free JNI was enabled on x86_64 macOS.
The feature has been also enabled when ported to AArch64 macOS.

[2022-04-07 02:47] knn-k commented on #6613
Related issue: #14870

[2022-04-07 04:17] knn-k commented on #14732
Not reproduced in a 20x Grinder job, using the build from https://github.com/eclipse-openj9/openj9/issues/14713#issuecomment-1088629414 : job/Grinder/765

[2022-04-07 06:24] knn-k opened #14871 "macOS: "past end of file" warnings with core file"
I see warnings "past end of file" in opening core files from OpenJ9 for AArch64 macOS with `otool`.  See an example below.

[code]

I did this on AArch64 macOS Big Sur 11.6.5.
Note that the `fileoff` in `Load command 325` is the same as the size of the core file from `ls -l`, and the `vmsize` in `Load command 327` is as large as 384GB.

[2022-04-07 06:27] knn-k commented on #14871
Loading the core file using `lldb` generates similar warnings:

[code]

[2022-04-07 06:38] knn-k commented on #14871
Doing the same on x86_64 macOS shows a different error "truncated or malformed object":

[code]

[2022-04-07 06:50] Akira1Saitoh commented on #14870
`flushProcessWriteBuffers` is used to force write buffers of other processors flushed. This is basically the same as what `membarrier` system call [1] does.
The implementation of `flushProcessWriteBuffers` for Mac OS is the same as Linux [2]. It uses `mprotect` to change the memory page settings to cause TLB maintenance operations.

As far as I searched, changing the memory page settings does not

[2022-04-07 07:16] YuanWangC opened #14872 "Non-compliance with JDK specification in implementing System.loadLibrary"
##### Description:

When I use the method `System.loadLibrary` and pass it the absolute path to the file, OpenJ9 finds the file correctly, but at the same time HotSpot reports an `UnsatisfiedLinkError` for this case.

And I looked up the description of this method in the JDK Specification: `UnsatisfiedLinkError - if either the libname argument contains a file path, the native library is not static

[2022-04-07 07:55] YuanWangC opened #14873 "The Try-Catch statement seems to affect the IllegalStateException object calling the getCause method"
##### Description:

I use the try-catch statement to catch an `IllegalStateException`  object named `ise`. Then I call the `getCause` method to perform a Cause check and find that it cannot find the Cause object (Testcase1 below). However, HotSpot returned t2.
And when I define the Cause object of `ise` directly and then use `getCause` to check it, I find that it can find the Cause object (Testcas

[2022-04-07 08:06] YuanWangC opened #14874 "A question about the remainder operation"
##### Description:

When I use the following test case for the remainder operation, the result of the calculation is `0.0`, while the result of HotSpot is `2.53E-321`. I would like to know what is the reason for this situation? Is this a special handling of numerical computation boundaries by OpenJ9?

##### Environment:

[code]

##### JVM Information:

###### jdk8:

[code]

###### jdk11:

[code]

[2022-04-07 08:27] paulcheeseman commented on #14844
I did try pretty hard to reproduce the problem with multiple process writing to the same trace files but it always seemed to work correctly. Maybe there are other factors at play that make it more likely to cause a problem in the customer's environment.

Also, when I conducted these multiple-process tests I saw duplicate thread names in the resulting formatted trace, which makes sense. I **don't**

[2022-04-07 08:45] knn-k commented on #14243
Not reproduced in a 20x Grinder job with cmdLineTester_GCRegressionTests_0 on AArch64 macOS: job/Grinder/767

[2022-04-07 12:28] pshipton commented on #14874
I also tried `System.out.println(Long.toHexString(Double.doubleToLongBits(mod)));` which shows `0` as well, so it's not related to printing the value.
The same results occur with -Xint.
This is not a recent regression, the earliest version of OpenJ9 0.23 has the same behaviour.

@tajila

[2022-04-07 12:53] pshipton commented on #14873
This is just a misunderstanding of how it works. In the first test case the IllegalStateException is as follows. It doesn't have a cause, nor should it, so the NPE is expected. t2 has a cause when created, but t2 is not the caught exception.
[code]

[2022-04-07 12:53] JasonFengJ9 commented on #14379
`vmPropertiesPointToVendor` passed.
Tracking `freetypeOnlyBundledOnCertainPlatforms` failure at `backlog/issues/766`.

[2022-04-07 12:54] pshipton commented on #14873
Note when I recreated the test case I renamed it from `MyJVMTest` to `Cause`, which is why you see `Cause.main` in the stack trace in the previous comment.

[2022-04-07 12:57] pshipton commented on #14873
Sorry, right, this is a difference in behavior from Hotspot which can be corrected.

[2022-04-07 13:04] pshipton commented on #14873
Created https://github.com/eclipse-openj9/openj9/pull/14877 to fix it.

[2022-04-07 13:05] JasonFengJ9 commented on #14067
The failure wasn't reproduced in grinders above.

[2022-04-07 13:09] tajila commented on #14874
@dnakamura Can you please take a look at this

[2022-04-07 13:43] JasonFengJ9 opened #14878 "JDK11 aarch64_mac security/infra/java/security/cert/CertPathValidator/certification/AmazonCA.java TEST FAILED: unexpected revocation date"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_extended.openjdk_aarch64_mac/1/`(`macaarch64rt7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_security_infra_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_D

[2022-04-07 13:56] AdamBrousseau commented on #14878
Possibly due to https://github.com/adoptium/temurin-build/pull/2884

[2022-04-07 13:57] pshipton commented on #14878
@JasonFengJ9 is this all platforms?

[2022-04-07 14:05] pshipton commented on #14878
Although the test does hard code the value to validate, including the seconds.
[code]

[2022-04-07 14:13] JasonFengJ9 commented on #14878
15x grinder - `job/Grinder/22419/`

[2022-04-07 14:20] pshipton commented on #14067
Grinders are on the 0.32 release branch, I see Jason removed this issue from the milestone.

@0xdaryl I think there may still be some investigation into the existing core, pls close if appropriate once investigations have completed.

[2022-04-07 14:24] JasonFengJ9 commented on #14808
Observed at JDK11 0.32 milestone 2 build - `job/Test_openjdk11_j9_extended.perf_x86-64_windows/51/`(`win16x64rt-1-8`)
[code]

50x grinder - `job/Grinder/22420/`

[2022-04-07 14:34] pshipton commented on #14878
The grinder passed. @knn-k fyi, not sure if this is an issue with amac, or a test problem.

[2022-04-07 15:09] #14873 closed

[2022-04-07 15:38] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_1/31
ConcurrentLoadTest_5m_1

[code]

[2022-04-07 15:39] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_x86-64_windows_Nightly/39

[2022-04-07 16:06] keithc-ca opened #14882 "Build_JDKnext needs newer Boot JDK"
Builds are currently failing, for example, https://openj9-jenkins.osuosl.org/job/Build_JDKnext_x86-64_linux_OpenJDK/256/
[code]

[2022-04-07 17:42] #14867 closed

[2022-04-07 18:35] pshipton commented on #14115
FYI the last recreation was
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly_testList_1/247/

It doesn't happen in the builds all that often but it does still happen. I can list them for a while if it's helpful.

[2022-04-07 20:00] 0xdaryl commented on #14115
I gave Babneet access to a x86 machine that can reproduce this problem 1/50 runs.  I don't think you need to keep reporting failures here.

[2022-04-07 20:54] #14872 closed

[2022-04-07 21:34] pshipton commented on #13577
This crash happens all the time, I'm tired of reporting it. Assume it still occurs, and ask me for the latest.

[2022-04-07 22:40] JasonFengJ9 commented on #14639
Observed at JDK18 milestone 2 build - `job/Test_openjdk18_j9_sanity.openjdk_aarch64_mac_testList_0/26/`(`macaarch64rt2`)
[code]
50x grinder - `job/Grinder/22462/`

[2022-04-07 22:48] knn-k commented on #14859
I fixed AArch64-specific warnings with https://github.com/eclipse/omr/pull/6461 and #14876.

[2022-04-07 22:53] JasonFengJ9 opened #14887 "ClassLoadingTest_special_5m_19_FAILED - **POSSIBLE HANG DETECTED**"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_special.system_ppc64_aix_testList_3/30/`(`paix908 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=ClassLoadingTest_special_5m_19&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_special.system_ppc64_aix&amp;DOCKER_REQUIRED=false&amp;

[2022-04-07 22:57] JasonFengJ9 commented on #10732
Similar error observed at JDK18 milestone 2 build - `job/Test_openjdk18_j9_extended.functional_ppc64le_linux_testList_2/31/`(`p10rhel053`)
[code]

[2022-04-07 23:05] JasonFengJ9 opened #14888 "DaaLoadTest FAILED Segmentation error vmState=0x00000000 at libj9jit29.so"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_special.system_ppc64le_linux_testList_4/32/`(`p10rhel005`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=DaaLoadTest_daa2_special_5m_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_special.system_ppc64le_linux&amp;DOCKER_REQUIRED=f

[2022-04-07 23:13] JasonFengJ9 commented on #12354
Observed at JDK18 0.32 milestone 2 build - `job/Test_openjdk18_j9_extended.openjdk_s390x_linux/14/`
[code]

[2022-04-07 23:17] JasonFengJ9 commented on #13368
Observed at JDK18 0.32 milestone 2 build - `job/Test_openjdk18_j9_special.system_s390x_linux_testList_1/33/`(ub18s390xrt-1-8)
[code]

[2022-04-07 23:24] JasonFengJ9 commented on #14654
Observed at JDK18 milestone 2 build - `job/Test_openjdk18_j9_extended.openjdk_x86-64_windows/17/`
[code]

[2022-04-08 00:30] dsouzai commented on #6476
Didn't realize there was an issue tracking this. This was fixed in https://github.com/eclipse-openj9/openj9/pull/14750.

[2022-04-08 00:30] #6476 closed

[2022-04-08 02:11] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_mac_aot_Personal_testList_0/2

[2022-04-08 02:16] #13314 closed

[2022-04-08 03:57] knn-k commented on #14871
Debugging on AArch64 macOS, I see `mach_vm_read_overwrite()` fails with many segments at the following line, returning `KERN_INVALID_ADDRESS` (1) or `KERN_PROTECTION_FAILURE` (2).
https://github.com/eclipse/omr/blob/48d41b458955773afe9fc887d2f0c960d97ce966/port/osx/omrosdump.c#L206

The sizes of such segments are added to `seg_file_off`.   I wonder if it is correct or not.
https://github.com/eclip

[2022-04-08 04:52] knn-k commented on #14871
I opened https://github.com/eclipse/omr/pull/6466 for resolving the AArch64 issue.

[2022-04-08 07:37] knn-k commented on #14635
A fix for #14663 has been merged, but this is still reproducible.
I used the following binary from the latest nightly job for my local testing.
[code]

[2022-04-08 09:35] knn-k commented on #14871
I built x86_64 macOS binary with my fix above: internal job/Build_JDK17_x86-64_mac_Personal/146.
I still see the "truncated or malformed object" error, so it looks like a separate problem from the large offsets on AArch64 macOS.

[2022-04-08 12:36] JasonFengJ9 opened #14890 "jdk_util_0_FAILED java/util/Locale/Bug8154797.java ClassCastException: java.lang.InterruptedException incompatible with java.util.spi.ResourceBundleProvider"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_testList_1/93/`(`ub18-aarch64-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_util_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_sanity.openjdk_aarch64_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE

[2022-04-08 13:31] pshipton commented on #14639
Failed 2/50, adding to the backlog.

[2022-04-08 13:37] pshipton commented on #14890
@knn-k fyi

[2022-04-08 13:45] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_aarch64_mac_Nightly_testList_0/30

[2022-04-08 13:52] pshipton opened #14891 "Failure cloning git repos in testing"
[osx1014-x86-1](https://openj9-jenkins.osuosl.org/computer/osx1014-x86-1)
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly_testList_0/253
[code]
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly_testList_0/236
[code]

[mac11-aarch64-2](https://openj9-jenkins.osuosl.org/computer/mac11%2Daarch64%2D2/)
https://openj9-

[2022-04-08 13:53] pshipton commented on #14891
@llxia fyi. We have problems cloning git repos off and on, but it's been bad the last two nights. I've recorded the failures from last night. There were probably more the previous night. Maybe we could do more to retry to avoid these failures?

[2022-04-08 13:56] pshipton commented on #14713
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_extended.system_aarch64_mac_Nightly_testList_2/28 - [mac11-aarch64-2](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-2)
HeapHogLoadTest_5m_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdknext_j9_extended.system_aarch64_mac_Nightly_testList_2/28/system_tes

[2022-04-08 14:00] dmitripivkine commented on #14243
DDR on Mac is not available, so continue investigation from https://github.com/eclipse-openj9/openj9/issues/14243#issuecomment-1013429156

I noticed not only these 92 class objects are marked but correspondent Cards are dirty too:
[code]

[2022-04-08 14:11] dmitripivkine commented on #14243
Another observations for aMac (no DDR, so  snap traces only):
- this is regular Scavenger, no CS
- there was no heap contraction/expansions for long period of time (at least after previous Global GC)
- Concurrent phase (from kickoff to STW phase) has not been interrupted by Local GC

[2022-04-08 14:42] llxia commented on #14891
This is a network issue. There are several suggestions online `[1]`:
1. improve network/connection :)
2. --depth 1 and --unshallow (we are doing this already)
3. switch to SSH
4. increment buffer size

I am not sure there is much we can do with improving the network. Should we try to switch to SSH?

[code]

[2022-04-08 14:45] dnakamura commented on #14874
It looks like we explicitly return 0 when the divisor is subnormal. https://github.com/eclipse-openj9/openj9/blob/52f4f77546a8ab2b0f8aeac69f08b234e922498f/runtime/util/fltrem.c#L76-L87  I'm not entirely sure why we do. Nothing in the vm spec would indicate this behavior, and we don't do it for single precision floats. In addition it doesn't match the behavior of the jit generated code (ie running

[2022-04-08 14:59] llxia commented on #10569
@LongyuZhang could you exclude the TreeTest? Thanks

[2022-04-08 15:12] pshipton opened #14892 "aarch64 mac testing with -Xrs results in Trace/BPT trap: 5"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_aarch64_mac_OMR_testList_0/31
jit_jitt_1
[code]

jit_jitt_2
[code]

jit_jitt_openj9_none_SCC_2
[code]

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_aarch64_mac_OMR_testList_1/31
jit_jitt_openj9_none_SCC_1
[code]

cmdLineTest_sigxfszHandlingTest_0
[code]

cmdLineTest_sigabrtHandlingTest_0
[code]

[2022-04-08 15:14] pshipton commented on #14892
https://github.com/eclipse-openj9/openj9/compare/194ae71190...52f4f77546a
https://github.com/eclipse-openj9/openj9-omr/commit/48d41b45895...3bc3e7d70ef

[2022-04-08 15:16] pshipton commented on #14892
Failing on jdk17 as well https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_mac_OMR/31/

PR testing for https://github.com/eclipse-openj9/openj9/pull/14889 rules out that change.

[2022-04-08 15:18] pshipton commented on #14892
This build will confirm if the problem is introduced on the openj9 or omr side.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/129/

[2022-04-08 16:05] tajila commented on #14871
@mikezhang1234567890 Can you please take a look at this?

[2022-04-08 16:14] pshipton commented on #14892
The build passed, so the problem is caused by the OMR changes. It seems very unlikely that https://github.com/eclipse/omr/pull/6449 is the cause, I expect it's caused by https://github.com/eclipse/omr/pull/6267
@eric98zhang

Since the OMR change isn't promoted, this is FYI and I'll go ahead and close it.

[2022-04-08 16:14] #14892 closed

[2022-04-08 16:23] pshipton commented on #14891
@AdamBrousseau fyi in case you have any info.

Sure? It can't hurt to try, except the time invested in making the switch. In the end what may work best is to wait for a few minutes and then try again.

[2022-04-08 16:25] pshipton commented on #14874
Those tests should include sanity.openjdk

[2022-04-08 16:26] mikezhang1234567890 commented on #14871
The otool error  on X86_64 is because the tool doesn't seem to recognize the 64bit specific "flavors" for thread state structures (such as `x86_FLOAT_STATE64`).

May need to manually set the values to the non-specific values (e.g. `x86_FLOAT_STATE`) on x86. I think it's separate from the initial issue though.

[2022-04-08 16:58] pshipton commented on #14891
I just realized that internally we use ssh but it also fails regularly lately. Moving to SSH may be a waste of time.

For reference, see the Trigger-Product-Builds jenkins job.

[2022-04-08 17:00] pshipton commented on #14891
Although it may be a different problem.

[2022-04-08 17:37] pshipton commented on #14654
Sound have flagged this earlier. Internal grinder on the Windows 0.31 release finds 24/100 failures. This is set as a blocker and moved to the 0.31 release milestone.
/job/Grinder/22473/

[2022-04-08 18:01] sunnypatel2141 opened #14895 "Type=Segmentation error vmState=0x00000000"
[code]

[code]

[2022-04-08 18:20] #2239 closed

[2022-04-08 18:38] pshipton commented on #14895
@sunnypatel2141 what version of OpenJ9 are you running? We may have fixed this already.

@ashbm5 fyi

[2022-04-08 18:43] sunnypatel2141 commented on #14895
[code]

[2022-04-08 18:44] pshipton commented on #14895
I suspect it's https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/464 which is included in 0.30 and later.

[2022-04-08 18:46] pshipton commented on #14895
For jdk17 it's https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/51, same deal, included in 0.30 and later.

[2022-04-08 18:47] pshipton commented on #14895
I'll go ahead and close. If you find a problem in the newer version let us know.

[2022-04-08 18:47] #14895 closed

[2022-04-08 18:53] gacholio opened #14896 "Potential corruption in Thread.getStackTrace()"
https://github.com/eclipse-openj9/openj9/blob/52f4f77546a8ab2b0f8aeac69f08b234e922498f/runtime/jcl/common/getstacktrace.c#L37-L71

The above code halts the targetThread then walks the stack of that thread caching PCs. The targetThread is then resumed, and the cache is used to create a Throwable.

The main issue here is that the stack walker may use the unused portion of the target thread stack as

[2022-04-08 19:01] gacholio commented on #14896
In fact, rather than asserting, we could simply always malloc the cache in the NULL currentThread case.

[2022-04-08 19:05] sunnypatel2141 commented on #14895
Thank you.

[2022-04-08 19:09] pshipton commented on #14896
Sounds reasonable to me. I assume we check there is enough room on the stack to cache, and malloc if there isn't?

[2022-04-08 19:11] keithc-ca commented on #14796
I tried to write a test program to cause a large number of 'FlatLock' monitors to be created. Unless the objects remain locked, the monitors seem to disappear (as part of the garbage collector's behavior (?)).

This leads me to my belief that the heap is somehow corrupted such that one or more objects have zero (or negative) sizes while simultaneously being locked. The non-positive size means trav

[2022-04-08 19:13] gacholio commented on #14896
Exactly.

[2022-04-08 19:14] pshipton commented on #14890
The grinder passed.

[2022-04-08 20:43] llxia commented on #14891
yes, internal git seems very slow lately. I feel the internal problem is on the server-side as UI response is very slow as well.

@renfeiw could you look into adding the retry? It should be very similar to https://github.com/adoptium/aqa-tests/blob/master/get.sh#L265

[2022-04-09 04:30] kriegaex commented on #14654
Could this be related to https://github.com/codehaus-plexus/plexus-utils/issues/193, or should I create a separate issue for it? The stack trace looks differently, also the exact error message. I was just searching for open `CoderMalfunctionError` issues first.

[2022-04-09 16:44] BradleyWood commented on #14654
I would say it's the same issue.

[2022-04-09 16:53] kriegaex commented on #14654
I am running my builds on a matrix of different JVMs, OSS and Java versions. The problem does not occur during each build, but if so, then until now always on Windows under OpenJ9 and JDK 17. Does that correspond with this issue? Unfortunately, I cannot debug into it on GitHub.

[2022-04-09 16:56] kriegaex commented on #14654
On Linux however, in rare cases my integration tests freeze and the corresponding build is killed by GitHub after two hours or so, without me seeing any stack trace. So I don't know if that is the same or another issue, probably the latter. I just want to mention it.

[2022-04-09 17:32] BradleyWood commented on #14654
This is a JIT issue, in the meantime, the only thing that can be done is to exclude `java/nio/charset/CharsetDecoder.decode` from compilation. You can try adding the following option `-Xjit:exclude={*decode*}`

I'm not sure why, but this issue seems to favor windows machines. As for the freezing issue you mentioned, I'm not sure. I've seen tests timeout while investigating this issue, but I believ

[2022-04-09 20:35] 0xdaryl commented on #14526
Re-opening until 0.32 PR is created/merged.

[2022-04-09 22:10] BradleyWood commented on #14654
Another 0/60 Grinders failed by disabling inlining of StringLatin1.inflate().

[2022-04-09 22:25] pshipton commented on #14654
Did you confirm it does fail on the set of machines without disabling the inlining?

[2022-04-09 22:57] BradleyWood commented on #14654
Yes, I still see the failure very often, I don't think its machine-specific but I'll launch another run later on the same machines. Also, I am yet to see the failure with tracing on :(

[2022-04-10 05:55] kriegaex commented on #14654
I tried to be specific according to your recommendation and used `-Xjit:exclude={*CharsetDecoder.decode*}`, because there are man `decode*` methods in both JRE and third-party libraries. Several builds passed. But [this one](https://github.com/dev-aspectj/aspectj-maven-plugin/runs/5959366388?check_suite_focus=true#step:6:11053) now shows a slightly different stack trace:

[code]

That one I am see

[2022-04-10 13:43] kriegaex commented on #14654
Today I started [this workflow run](https://github.com/dev-aspectj/aspectj-maven-plugin/actions/runs/2143004218) 19x after the commit linked above. All runs were green, i.e. excluding both `CharsetDecoder` and `ISO_8859_1` (including its inner decoder class) from AOT/JIT seems to have done it, at least for my project. I think you have something reasonably small to debug now. Looking forward to a f

[2022-04-10 23:18] BradleyWood commented on #14654
Tracing the problematic method seems to impact the reproducability. 0/80 failed with tracing on so far. I will try to produce a core dump with -Xdump, although previous attempts were not successful.

[2022-04-11 07:02] knn-k commented on #14871
The AArch64 version of otool does not terminate because of unknown "flavor", as shown below.  I don't know if the flavor values are correct or not.

[code]

[2022-04-11 08:40] kriegaex commented on #14654
I have zero experience in C or other system-level languages, not to mention how to debug them. But if tracing implies code instrumentation of some sort and that impacts the reproducability, maybe it would be better to run the build until it fails and make the JVM dump whatever native JIT code it creates for the Java classes under suspicion, so that a person capable of reading that stuff using a di

[2022-04-11 12:39] pshipton commented on #6552
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_ppc64_aix_Release_testList_4/7 - [p8-java1-ibm03](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm03)
DaaLoadTest_all_special_5m_5 `-Xgcpolicy:gencon -Xjit:count=0,optlevel=warm,gcOnResolve,rtResolve -Xmn512k -Xnocompressedrefs`
[code]
[code]

[2022-04-11 12:44] pshipton commented on #8743
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64_aix_Release_testList_4/20 - [p8-java1-ibm08](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm08)
MiniMix_3h_0 `-XX:+UseCompressedOops -Xjit -Xgcpolicy:balanced`
[code]

[2022-04-11 12:52] 0xdaryl commented on #14654
`-Xjit` options are not additive so only the rightmost setting takes effect.

I reviewed the generated paths of the `StringLatin1.inflate` code again carefully and did not find any flaws in the logic (assuming this code is always called with arrays of sufficient size).  That's not to say that once this logic is inserted into an enclosing method that problems won't appear, but we do need to get a J

[2022-04-11 12:57] 0xdaryl commented on #14654
On second thought, a command-line option to disable this inlining might be better.  The advantage of that is that it can be applied in compilation filters, allowing us to more accurately pinpoint which caller context is causing this.

[2022-04-11 13:07] kriegaex commented on #14654
I was unaware of that. Then, unknowningly, I have isolated the one class (instead of two classes, like I thought) causing problems in my use case. I have no way of knowing if my use case really is the same as the one this issue was created for. I have to take your word for it.

With regard to everything else you said, @0xdaryl, I do hope that you were talking to someone other than me.  If in fact

[2022-04-11 13:08] 0xdaryl commented on #14654
Heh.  Yes, my comments were directed to @BradleyWood .  Sorry.

[2022-04-11 13:17] BradleyWood commented on #14654
You can try the following...
`-Xdump:system+java+jit+exit:events=uncaught,filter=java/nio/charset/CoderMalfunctionError,request=exclusive+prepwalk+serial+preempt`

[2022-04-11 13:27] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_extended.functional_ppc64le_linux_jit_Personal/317/`, failure in `cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_0`. A couple of segfaults.

Console log for the first:

[code]

Console log for the second:

[code]

Haven't attempted to reproduce.

[2022-04-11 13:38] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_jit_Personal/237/`, failure in `jdk_lang_0`. Console log:

[code]

There were 12 failures that all looked like that. Possibly a manifestation of #14654. Haven't attempted to reproduce.

[2022-04-11 13:43] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_jit_Personal/310/`, failure in `jdk_lang_0`. Time out.

Console log:

[code]

Haven't attempted to reproduce.

[2022-04-11 13:57] pshipton commented on #12696
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_s390x_linux_Release_testList_4/22 - [rh7-390-3](https://openj9-jenkins.osuosl.org/computer/rh7-390-3)
ParallelStreamsLoadTest_special_J9_15
`-XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickP

[2022-04-11 14:18] pshipton commented on #14808
@tajila can somebody look at this pls. I'll move it to the 0.32 milestone.

[2022-04-11 14:22] #6265 closed

[2022-04-11 14:45] pshipton commented on #14654
There are multiple files. There is some doc at https://www.eclipse.org/openj9/docs/xdump/#dump-output
`system` generates a `core.*` file
`java` generates a `javacore.*` file (this one is text but it may be fairly big)
` jit` generates a `jitdump.*` file

You can set the location for the dump via `-Xdump:directory=<path>`

By default the files go to the current directory. An example of the generate

[2022-04-11 15:44] pshipton commented on #13686
Ubuntu 22_04 and RHEL 9 don't come with openssl 1.1 installed but openssl 3 instead. OpenJ9 crypto performance will not be good out of the box unless openssl 3 support is present.

[2022-04-11 16:06] kriegaex commented on #14654
@BradleyWood, @pshipton: 1 GB expected file size is nothing I want to generate in and attach to a GitHub build.

Maybe you just want to clone the [_openj9-jit-exclude_ branch](https://github.com/dev-aspectj/aspectj-maven-plugin/compare/openj9-jit-exclude) of my project and then make a change similar to https://github.com/dev-aspectj/aspectj-maven-plugin/commit/5876547aaee8cd22c722a28a626c94288cac0

[2022-04-11 17:39] pshipton commented on #14654
@kriegaex thank you for the information you collected.

[2022-04-11 17:40] pshipton commented on #14654
@JasonFengJ9 I've only seen failures on jdk17+. Can you pls try a grinder on jdk11 to see if the problem reproduces there.

[2022-04-11 17:50] JasonFengJ9 commented on #14654
50x grinder against JDK11 0.32.0-m2 - `job/Grinder/22634/`

[2022-04-11 17:59] keithc-ca commented on #14874
I double-checked the expected remainder using `BigInteger`:
[code]

[2022-04-11 18:13] tajila opened #14901 "CRIU: Backport CRIUSupport to JDK8"
List of PRs that need to be backported to JDK8
- https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/494
- https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/486
- https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/498

[2022-04-11 18:15] tajila commented on #14808
@llxia Do you know where I can find the source code for renaissance-db-shootout_0

Specifilcally the classes in the  org/fusesource/leveldbjni/* package

[2022-04-11 18:17] #14813 closed

[2022-04-11 18:27] llxia commented on #14808
The renaissance source code is from
https://github.com/adoptium/aqa-tests/blob/f9255ef564716df2be39e076d488739896a783c6/perf/renaissance/build.xml#L37

https://github.com/renaissance-benchmarks/renaissance/releases/download/v0.9.0/renaissance-mit-0.9.0.jar

[2022-04-11 21:06] tajila commented on #14896
No concerns with

[2022-04-11 22:43] erichhochmuth opened #14904 "Invalid ConstantPool on JDK 17.0.2.8 when instrumenting a class with -Xshare:off JVM option"
Java -version output
--------------------
openjdk version "17.0.2" 2022-01-18
IBM Semeru Runtime Open Edition 17.0.2.0 (build 17.0.2+8)
Eclipse OpenJ9 VM 17.0.2.0 (build openj9-0.30.0, JRE 17 Linux amd64-64-Bit Compressed References 20220128_115 (JIT enabled, AOT enabled)
OpenJ9   - 9dccbe076
OMR      - dac962a28
JCL      - 64cd399ca28 based on jdk-17.0.2+8)

Stack from:
openjdk version "17.0.3-in

[2022-04-11 22:58] pshipton commented on #14904
@tajila fyi

[2022-04-11 23:00] pshipton commented on #14904
I don't understand what "Same code works when class data sharing is not disabled" means.

[2022-04-11 23:01] pshipton commented on #14904
Hm, I see `-Xshare:off` in the title now.

[2022-04-11 23:37] pshipton commented on #14654
The jdk11 grinder passed.

[2022-04-11 23:38] #14874 closed

[2022-04-11 23:49] erichhochmuth commented on #14904
Was able to reproduce the issue on 17.0.1.0, 11.0.14.1 and 11.0.12.0 on Linux x64.

[2022-04-12 03:19] 0xdaryl commented on #14654
I'll post an update now as I am away tomorrow.  @BradleyWood has disabled the StringLatin1.inflate codegen inlining in 0.31/0.32 and allowed it to be enabled under control of an environment variable.  He will grind a build this evening (at least 100 times) to see if any failures appear.  It is a speculative workaround and there isn't any clear indication yet what the problem is.  Assuming it avoid

[2022-04-12 07:00] erichhochmuth commented on #14904
The problem can not be reproduced on 8u302 / 8u322.

[2022-04-12 09:31] knn-k commented on #14387
Preparation for enabling DDR:
- https://github.com/eclipse/omr/pull/6275
- https://github.com/eclipse/omr/pull/6466
- https://github.com/eclipse/omr/pull/6471

[2022-04-12 12:53] pshipton commented on #14717
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_mac_Nightly_testList_2/32 - [mac11-aarch64-2](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-2)
DBBLoadTest_5m_1 `-XX:-UseCompressedOops`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.system_aarch64_mac_Nightly_testList_2/32/system_test_output.tar.gz
[code]

[2022-04-12 12:55] knn-k commented on #14717
Is it better to exclude the test for the time being?

[2022-04-12 12:57] pshipton commented on #14717
It's not one particular test, every failure listed here is a different suite. I think they should keep running.

[2022-04-12 12:58] pshipton commented on #14717
It's interesting the failure only seems to occur after the test load is finished and passed.

[2022-04-12 13:19] BradleyWood commented on #14654
80x grinder all passed with SL1.inflate() inlining disabled. 20 failed to launch due to a repository cloning failure.

[2022-04-12 13:46] tajila commented on #14808
Some relevant links:

NPE with hotspot
https://github.com/adoptium/aqa-tests/issues/2159

Github page for  org/fusesource/leveldbjni
https://github.com/fusesource/leveldbjni

[2022-04-12 13:50] llxia commented on #14808
renaissance-db-shootout passed with hotspot JDK8: https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.perf_x86-64_windows/60/console

[code]

We can also try to update the renaissance to the latest release.

[2022-04-12 14:12] llxia commented on #14808
The issue for upgrading the renaissance https://github.com/adoptium/aqa-tests/issues/3561

[2022-04-12 14:45] kriegaex commented on #14654
Is there any feed to subscribe to, repository to web page for me to watch in order to find out when a release with either the current workaround or a future fix will have been released? Or is someone going to mention that here? I can and shall wait, of course - it is done when it is done. I just want to know. Thank you.

[2022-04-12 15:25] kriegaex commented on #14654
Thanks, @pshipton. For Slack, I need an invitation. I guess, I am just going to watch the releases page.

[2022-04-12 15:33] kriegaex commented on #14654
Meanwhile, for anyone having the same problem, building on GitHub, an over-simplified (all platforms and JDK versions) workaround, excluding `ISO_8859_1*` for OpenJ9:

https://github.com/dev-aspectj/aspectj-maven-plugin/commit/9a52a5ac5a559cd1b8133a041cb4736f4b841370

[2022-04-12 16:01] gacholio commented on #14896
Turns out this isn't currently an issue due to this:
https://github.com/eclipse-openj9/openj9/blob/cd9f62398f91cb7b67b487ae967a7a13117828da/runtime/vm/swalk.c#L556
If the walkState in use is not the freebie one in the walkThread, then the cache is always allocated.

[2022-04-12 16:36] pshipton commented on #14472
Awesome, thanks. We can remove our patch once the official change gets merged.

[2022-04-12 17:13] pshipton commented on #14882
Created https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/424 to revert the change that bumped the minimum jdk version to 18. We can keep this open to track it until we can revert back.

[2022-04-12 17:57] pshipton commented on #14067
I assume there is nothing else going on there, closing.

[2022-04-12 17:57] #14067 closed

[2022-04-12 18:37] babsingh commented on #14115
### Update

The failure still happens with @nbhuiyan's fix for argument population on the stack.

Referencing elements from the below diagnostic info:
[1] During decompile, the J2I frame for `GeneratedConstructorAccessor224.newInstance` is created.
[2] Outgoing arg count is 0.
[3] During decompile, the `new SP` matches the NULL O-slot in the bytecode frame which is located above the J2I frame.
[4]

[2022-04-12 20:21] tajila commented on #14904
@hangshao0 Can you please take a look at this

[2022-04-12 21:09] mikezhang1234567890 commented on #14871
The `otool` issue on x86 is because of an old `objdump` version. I believe we use Xcode 11.3 to compile OpenJ9 on x86 OSX, and thus we probably used the `otool` that came with that.

At least since Xcode 13.1 the `otool` utility will recognize `x86_FLOAT_STATE` (and handle unknown flavours without quitting), so I don't think we need to change anything on the x86 side.

[2022-04-12 21:35] hangshao0 commented on #14904
Can you provide a reproducer ? @erichhochmuth

[2022-04-13 02:45] knn-k commented on #14871
I used the following version of `otool` on x86 macOS 11.6 Big Sur.
[code]

I found that `flavor` and `count` were not set correctly on AArch64, and I opened https://github.com/eclipse/omr/pull/6471 to fix it.

[2022-04-13 07:14] knn-k commented on #14871
An example of `otool` output on x86 macOS:
[code]

Actual size of the core file above is 3,373,819,128 bytes.
There are many unreadable segments like "Load command 156" in the `otool` output.

[2022-04-13 12:54] pshipton commented on #6552
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_x86-64_mac_Nightly_testList_2/194
DaaLoadTest_daa1_5m_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`
[code]

[2022-04-13 12:54] pshipton commented on #6552
@0xdaryl fyi this seems to fail more often lately.

[2022-04-13 12:56] pshipton commented on #13123
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_x86-64_windows_Nightly_testList_2/204 - [win2012-x86-1](https://openj9-jenkins.osuosl.org/computer/win2012-x86-1)
ClassLoadingTest_5m_1 `-XX:-UseCompressedOops`

[code]

[2022-04-13 12:58] pshipton commented on #14717
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.functional_aarch64_mac_Nightly_testList_1/33 - [mac11-aarch64-6](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-6)
threadMXBeanTestSuite2_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_extended.functional_aarch64_mac_Nightly_testList_1/33/fu

[2022-04-13 13:03] JasonFengJ9 opened #14907 "JDK8 Windows MauveMultiThrdLoad_special_5m_0_FAILED - **POSSIBLE HANG DETECTED**"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_special.system_x86-32_windows_testList_1/182/tapResults/`(`win16x64rt2-10`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_1&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_special.system_x86-32_windows&DOCKER_REQUIRED=f

[2022-04-13 14:08] tajila commented on #14808
The crash is caused by a null j9class in `instanceFieldOffset` when attempting to create a JNIFieldID

[2022-04-13 15:06] Niwedita-Rani opened #14908 "The loop in DsaStackFrame.findSfxm() needs to be improved."
There is a case in which user is looking for help to understand an OutofMemoryError, followed by a GPF crash. They have collected dumps, but there are some issues with opening the dumps in tools like Memory Analyzer, jdpmview and other tools that use the DTFJ API.

All the dumps requested by IEATDUMP - after the OOM occurs - ended with a return code 2, reason code 4, which means:

[code]

The sequ

[2022-04-13 18:41] pshipton commented on #14907
Likely this issue and https://github.com/eclipse-openj9/openj9/issues/14887 are a dup of https://github.com/eclipse-openj9/openj9/issues/11868

[2022-04-13 19:03] pshipton commented on #14808
Should OpenJ9 be throwing a NPE rather than crashing? It's not part of the spec, but maybe better than crashing. Or does using -Xcheck:jni help with this?

Do you think the class is null because the test is trying to use some class which is Hotspot specific, i.e. non-API?

[2022-04-13 19:05] pshipton commented on #14908
@tajila fyi

[2022-04-13 20:01] pshipton commented on #14808
Moving out of the 0.32 plan. I'll move it to 0.33 just in case, but seems we can close this as renaissance-db-shootout will be updated to a newer version that works on OpenJ9.

[2022-04-13 20:02] pshipton commented on #14654
Since the 0.31 release is cancelled, and we have https://github.com/eclipse-openj9/openj9/pull/14910 to workaround the problem in 0.32, I'll move this to 0.33.

[2022-04-13 20:07] tajila opened #14911 "MethodHandles: revisit storing LambdaForm classes in the SCC"
In https://github.com/eclipse-openj9/openj9/pull/13644 we decided to remove LmbdaForm classes from the SCC due to funcitonal issues. At the time it was determined that doing so would not result in a noticeable performance impact.

Is this still the case?

[2022-04-13 20:07] pshipton commented on #14115
It seems this will not be resolved in 0.32, moving it forward.

[2022-04-13 20:07] tajila commented on #14911
@0xdaryl @dsouzai @vijaysun-omr @babsingh @hangshao0 FYI

[2022-04-13 20:07] pshipton commented on #14803
Moving to 0.33 while the investigation continues.

[2022-04-13 20:09] vijaysun-omr commented on #14911
@mpirvu and @dsouzai fyi

[2022-04-13 21:57] erichhochmuth commented on #14904
Unfortunately it is not as easy as to create a dummy jvmti agent that replaces the class in the ClassFileLoadHook and load the class in the VMInit callback. May take me a day or two to create a reproducer.

[2022-04-13 22:58] raiyansayeed commented on #10558
@ttorpy are you still working on this? Is there any way I can help if you still are?

[2022-04-13 23:08] raiyansayeed commented on #5259
Is this issue still relevant? I would love to contribute if so.

[2022-04-13 23:48] BradleyWood commented on #14654
I am now nearly certain the problem relates to the way the residual 7 bytes are handled. I replaced it with a simple loop to copy one by one, and I am yet to see a failure in at least 50 runs.

I also tested the theory in my comment above. I can confirm that the size of MOVZXReg2Mem1 + S2MemReg has not changed by using an assertion when those instructions are encoded -- the bug was still easily re

[2022-04-14 03:13] pshipton commented on #14526
Closing since https://github.com/eclipse-openj9/openj9/pull/14898 is merged.

[2022-04-14 03:13] #14526 closed

[2022-04-14 10:08] dajc64ibm commented on #14908
If we can get a patch for this suitable for deployment with the IBM JDK it would be very useful, so we can continue diagnosis on the customer memory issue. Thanks, Dave Clarke (CICS L3)

[2022-04-14 13:08] pshipton commented on #14907
The grinder passed

[2022-04-14 16:08] llxia commented on #14808
Just for the record, we upgraded to renaissance v0.14.0 in aqa-tests repo (master): https://github.com/adoptium/aqa-tests/pull/3562

[2022-04-14 18:04] Staszek1062 commented on #10558
@ttorpy same question bud

[2022-04-14 18:46] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_extended.functional_x86-64_linux_jit_Personal/246/`, failure in

- `threadMXBeanTimedParkTest_0`
- `threadMXBeanTimedParkTest_1`

Console log for `threadMXBeanTimedParkTest_0`:

[code]

Looks like it's tracked by #14470.

[2022-04-14 19:30] JasonFengJ9 commented on #14789
**Update:**

1. [20220322-120105](https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK11_x86-64_linux_criu_Personal/5/OpenJ9-JDK11-x86-64_linux_criu-20220322-120105.tar.gz) is from a [PR build #486](https://openj9-jenkins.osuosl.org/job/Build_JDK11_x86-64_linux_criu_Personal/5/), i.e., this build already contains [CRIU support: add checkpoint/restore environment variables](https:/

[2022-04-15 02:29] knn-k commented on #11164
Need to implement stack backtracing support for AArch64 macOS: https://github.com/eclipse/omr/issues/3506

[2022-04-15 03:40] ttorpy commented on #10558
Hi, I'm sorry I am not working on this anymore. I think this was way above my skill level.

[2022-04-15 06:27] DevanshKariya commented on #13347
is this issue still open? I would like to work on it.

[2022-04-15 13:38] knn-k commented on #14871
Closing this PR as https://github.com/eclipse/omr/pull/6466 has been merged.

Summary:
There were two issues with core files generated by OpenJ9 for macOS:
- The `fileoff` and `filesize` fields of segment commands are wrong because of unreadable memory segments.  Both x86-64 and aarch64.  Fixed by https://github.com/eclipse/omr/pull/6466 .
- The `flavor` and `count` fields of thread commands are n

[2022-04-15 13:38] #14871 closed

[2022-04-16 00:41] fzyzcjy opened #14919 "*No* memory is saved from OpenJDK to OpenJ9 for spring boot app"
Java -version output
--------------------

Output from `java -version`.
If the shas are not public, include equivalent public has.

openjdk version "1.8.0_292"
OpenJDK Runtime Environment (build 1.8.0_292-b10)
Eclipse OpenJ9 VM (build openj9-0.26.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20210421_1000 (JIT enabled, AOT enabled)
OpenJ9   - b4cc246d9
OMR      - 162e6f729
JCL      - 2a5e2

[2022-04-18 11:13] pshipton opened #14920 "aarch64 timeout creating java dump"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_aarch64_linux_Nightly_testList_1/142/ - [cent8-aarch64-2](https://openj9-jenkins.osuosl.org/computer/cent8-aarch64-2)
testSCCMLTests2_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.functional_aarch64_linux_Nightly_testList_1/142/func

[2022-04-18 11:21] pshipton commented on #14590
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_aarch64_mac_Personal_testList_0/2
DaaLoadTest_all_special_5m_1 `-Xgcpolicy:optthruput -Xjit:count=0 -Xnocompressedrefs`
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_aarch64_mac_Personal_testList_2/2
DaaLoadTest_all_special_5m_3 `-Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,s

[2022-04-18 11:23] pshipton commented on #14636
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_aarch64_mac_Personal_testList_0/2
DaaLoadTest_daa2_special_5m_29 `-Xgcpolicy:gencon -Xgc:dynamicBreadthFirstScanOrdering`

[code]

[2022-04-18 11:31] pshipton commented on #14888
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_s390x_linux_Release_testList_1/7 - [rh7-390-3](https://openj9-jenkins.osuosl.org/computer/rh7-390-3)
DaaLoadTest_daa2_special_5m_1 `-Xgcpolicy:optthruput -Xjit:count=0 -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_special.system_s390x_linux_Release_testList_1/7/system_te

[2022-04-18 11:32] pshipton commented on #14888
@0xdaryl fyi

[2022-04-18 14:05] BradleyWood commented on #14654
I used a trick to dump the binary encoding of StringLatin1.inflate during binary encoding. The LEA at **a3** should point to **b7**, which is critical to the jump.

[code]

Disassembly of the Duff Device
[code]

[2022-04-18 14:23] Thihup commented on #14919
Could you try the latest version from here? https://developer.ibm.com/languages/java/semeru-runtimes/downloads/

[2022-04-18 14:35] fzyzcjy commented on #14919
@Thihup Hi thanks for the reply.

Firstly, my maven project is on java 8, so I guess maybe I cannot use java 17, or will I face some subtle bugs?

Secondly, I use `adoptopenjdk` docker image https://hub.docker.com/_/adoptopenjdk?tab=tags&page=1&name=openj9 and seems that everything is from 6 months ago. Now I see it says "This image is officially deprecated in favor of [the eclipse-temurin image](

[2022-04-18 14:37] Thihup commented on #14919
@fzyzcjy You can select Java 8 from the dropdown.
Also, you can use the Docker image from here: https://hub.docker.com/_/ibm-semeru-runtimes

[2022-04-18 15:22] hangshao0 commented on #14858
We will need 2 ramClasses for primitive value types, one for the L type and one for the Q type. They could have a pointer pointing to each other. Likely we won't need 2 rom classes. For the Q type ramClass, it can be keyed on `QClassName;`.

[2022-04-18 15:50] JasonFengJ9 commented on #14803
Just to clarify, this OpenJ9 failure is due to an unexpected hotspot behaviour being tracked at an internal RTC workitem 147318, currently awaiting for Oracle response.

[2022-04-18 16:45] dmitripivkine commented on #14636
Sorry, I missed there is assertion in GC code

This is snap traces:
[code]
I believe last two lines are in incorrect order due both have the same time stamp

There are two threads perform GC operation:
- Thread `0x14e106900` reached `ScavengerRootScanner.hpp:168` and waited for `0x14e91e900` in `MM_ParallelTask::synchronizeGCThreadsAndReleaseSingleThread()`.
- Thread `0x14e91e900` arrived, saved `

[2022-04-18 18:11] tajila commented on #14858
Currently we dont put signatures in classtables so that would be a new change.

Also note that `ACONST_INIT` for a primitive type will not use the qsignature it will just use the simple name. It is only `ANEWARRAY` that makes a distinction between the qsignature and the simple name.

[2022-04-18 18:26] tajila commented on #14858
@gacholio

The problem we are facing is that with a single definition of a class, `primitive class Point`, two runtime representations of that class are generated: (1) the primitive object, and (2) the reference projection. Given that there are two representations we need two ramClasses to make the distinction.

This problem is made worse due to the fact that there isnt a consistent way to refer t

[2022-04-18 19:11] Thihup commented on #13347
@DevanshKariya I think it is still open

[2022-04-18 19:17] hangshao0 commented on #14858
Noticed the following in the current [JEP](https://openjdk.java.net/jeps/401):

[code]

[2022-04-18 20:05] tajila commented on #14858
That wording is inconsistent with the current behaviour of the RI prototype.

In any case, if that is true, we still need to update the internal representation in constant pools and classTables.

[2022-04-18 21:04] JasonFengJ9 commented on #14878
JDK18 - `job/Test_openjdk18_j9_extended.openjdk_aarch64_linux/19/` (`ub18-aarch64-8`)
[code]

[2022-04-18 21:11] JasonFengJ9 commented on #13818
`job/Test_openjdk18_j9_extended.openjdk_x86-64_windows/18/` (`win10x64vs6`)
[code]

[2022-04-18 23:59] fzyzcjy commented on #14919
I will try that. Thank you!

[2022-04-19 00:45] knn-k commented on #14663
We have not seen side effects from the fix.  I think this issue can be closed.

[2022-04-19 01:03] fzyzcjy commented on #14919
I tried java17 + latest openj9. But still no memory saved...

[2022-04-19 01:52] knn-k commented on #14636
DDR implementation for AArch64 macOS is in progress in https://github.com/eclipse/omr/pull/6471 and #14921.

[2022-04-19 01:53] Thihup commented on #14919
@fzyzcjy That's weird, in all my tests OpenJ9 uses less memory in my Spring boot application.

All of your tests are with Docker or are you testing it locally? OpenJ9 has a few flags that you could try out. If you have a memory-specific requirement, you can set the `-Xmx` to what makes sense to your application.

You can also see this slides to know about more flags that you could use: https://www

[2022-04-19 01:57] fzyzcjy commented on #14919
@Thihup Maybe a tiny bit (10%?) less memory, but the official doc suggests at least 50% memory reduction.

In docker running in kubernetes

I will try that. Originally when I set to lower value it just keeps doing GC all the time or OOM.
Thanks for the info and links

[2022-04-19 02:20] #14663 closed

[2022-04-19 12:29] doveye commented on #13686
This will require doc updates too, to say we're supporting OpenSSL 3.0 but also some topics mention OpenSSL versions, eg:
- https://www.eclipse.org/openj9/docs/builds/
- https://www.eclipse.org/openj9/docs/introduction/
- https://www.eclipse.org/openj9/docs/jitserver/

[2022-04-19 12:33] pshipton commented on #11868
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_2/252/
ConcurrentLoadTest_5m_1

[2022-04-19 12:38] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64_aix_Nightly_testList_1/201
TestIBMJlmRemoteClassNoAuth_1

[2022-04-19 12:40] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.functional_aarch64_mac_Nightly_testList_0/36

[2022-04-19 12:45] DanHeidinga commented on #14654
What are the performance implications of  #14910 on the 0.32 release?  Do we expect this to be visible in startup #s or throughput #s?

[2022-04-19 13:45] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_special.system_x86-64_linux_jit_Personal/244/`, failure in `DaaLoadTest_daa1_special_5m_6`.

Console log:

[code]

Appears to be tracked by #6552.

[2022-04-19 13:52] BradleyWood commented on #14654
I don't think it should affect startup. I would expect a slight overall hit to performance.

[2022-04-19 15:05] JasonFengJ9 opened #14926 "CRIU enabled JVM won't start at a system w/o libcriu installed"
Delayed `j9criu` loading until `checkpointJVMImpl()`, it doesn't help at a machine w/o `libcriu` installed.
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK11_x86-64_linux_criu_Personal/24/OpenJ9-JDK11-x86-64_linux_criu-20220418-175638.tar.gz
[code]
Might be related to
https://github.com/eclipse-openj9/openj9/blob/e14e2105f9709630f92b3028ec8b5d91d427db9d/runtime/cmake/platform

[2022-04-19 15:55] gacholio commented on #14858
Given the comments above, would it make sense to add a flag to class table queries to indicate which version of the type is requested?

- current behaviour - input would be `LPoint;`
- undecorated lookup of L type - input would be `Point`
- undecorated lookup of Q type - input would be `Point`
- more if needed

My suggestion would be to leave ROM classes alone, and not put two classes in the table

[2022-04-19 18:38] hangshao0 commented on #14858
Unlike other GC policies that iterate over both class table and class segments when unloading classes, I remember balanced GC only iterate over the class table (As a result, hidden classes (keyed on rom address) are put into the class table even though class table queries won't find them). I guess we still need to add both ram classes here into the class table to avoid causing problems for balance

[2022-04-19 19:04] #10537 closed

[2022-04-19 19:16] 0xdaryl commented on #14654
From one of the crash dump files on Windows I was able to find two of the Duff's devices in the code cache and disassmble the code.  Here is the code for one of them:
[code]
Presumably, that's a spill at offset 7 which shouldn't be there.  The only thing I can think of that would cause a spill to appear there would be the hidden address virtual that appears on a 64-bit memory reference for RIP add

[2022-04-20 01:10] 0xdaryl commented on #6552
@VermaSh will investigate.  Thanks Shubham.

[2022-04-20 06:33] gacholio commented on #14858
Or, follow the `Q` pointer from classes.

[2022-04-20 08:00] krismarc opened #14938 "How to disable Java Attach API"
Dear openj9 community,

within our organization Qualys complained about files generated by the Java in our temp directory. It creates files with world-wide permissions.

Basically, I found a solution -> https://www.eclipse.org/openj9/docs/attachapi/

However, without doing an ugly hack, I've got no idea how to enable following two args by default for the java itself. I tried some java.properties e

[2022-04-20 12:16] JasonFengJ9 commented on #14938
Can't `-Dcom.ibm.tools.attach.enable=no` be specified as a command line option when running a java application? pls elaborate the usage scenario.

[2022-04-20 12:31] pshipton opened #14940 "alinux core_pattern apport failures on ub20-aarch64-1"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_aarch64_linux_OMR_testList_1/123/

[code]

@AdamBrousseau

[2022-04-20 12:42] pshipton opened #14941 "jdk8 Illegal Instruction building tests on AIX, segfault on plinux compiling tests"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR_testList_0/209
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR_testList_1/209
[code]

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_ppc64le_linux_OMR/217
[code]

https://github.com/eclipse-openj9/openj9/compare/e14e2105f...4e80e32772f
https://gith

[2022-04-20 13:13] kgibm commented on #10537
Thanks for everyone's help on this. For anyone still noticing dark matter after this change, I'll highlight a [comment in the PR discussion](https://github.com/eclipse-openj9/openj9/pull/14902#issuecomment-1098393233):

[2022-04-20 13:16] BradleyWood commented on #14654
Preserving that register seems to have done the trick, however I got 1 different looking failure in ~125 grinder runs (`job/Grinder/22887`).

I haven't seen this before...
[code]

[2022-04-20 13:33] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_sanity.system_x86-64_linux_jit_Personal/250/`, failure in `DaaLoadTest_daa2_5m_1`. Assertion failure - `sp <= endOfStack`.

Console log:

[code]

Haven't attempted to reproduce.

[2022-04-20 13:48] doveye commented on #13686
I've opened a doc issue at https://github.com/eclipse-openj9/openj9-docs/issues/924. I've said this change applies to all JDK versions and all platforms - please add a comment to the doc issue if that assumption is incorrect.

[2022-04-20 13:53] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_extended.system_ppc64le_linux_jit_Personal/321/`, failures in:

- `MiniMix_5m_1`
- `MiniMix_aot_5m_0`
- `LangLoadTest_5m_0`
- `LockingLoadTest_0`
- `SharedClasses.SCM01.MultiCL_1`
- `SharedClasses.SCM23.SingleCL_0`
- `SharedClasses.SCM23.MultiThread_0`
- `SharedClasses.SCM23.MultiThreadMultiCL_0`
- `MathLoadTest_all_5m_0`
- `MiniMix_5m_0`
- `ConcurrentLoadTest_5m_0`
- `U

[2022-04-20 13:59] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_jit_Personal/247/`, failures in

- `jdk_lang_0`
- `jdk_lang_native_0`
- `jdk_lang_VarHandleTest_j9_0`
- `jdk_math_0`
- `jdk_util_0`
- `jdk_foreign_0`
- `jdk11_tier1_cipher_0`
- `jdk11_tier1_buffer_0`
- `jdk11_tier1_iso8859_0`

All seem to be the same "Assertion failed - ((sp <= endOfStack))" error that occurred in [these tests](https://github

[2022-04-20 14:39] pshipton commented on #14941
The problem is on the OpenJ9 side.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK8/287/

[2022-04-20 14:41] dsouzai opened #14943 "AWTError: Can't connect to X11 window server using 'unix:0'"
Failure link
------------
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64_aix_Personal_testList_0/82

Optional info
-------------

- intermittent failure (yes):
- regression or new test:  N/A

Occurs periodically on AIX AOT tests; see https://github.com/eclipse-openj9/openj9/pull/14894#issuecomment-1103043451. This error has been happening for a while; opening this

[2022-04-20 14:50] JasonFengJ9 commented on #14938
Adding `-Dcom.ibm.tools.attach.enable=no` into `options.default` does prevent JVM to create `.com_ibm_tools_attach` folder.
Be aware any other OpenJ9 VM w/o this option running at background which is going to create same folder silently.

@krismarc fyi

[2022-04-20 14:51] pshipton commented on #8283
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_windows_Release_testList_1/25
cmdLineTester_vmRuntimeState_0 `NoOptions`
[code]

[2022-04-20 14:52] pshipton commented on #8283
@mpirvu fyi

[2022-04-20 15:42] pshipton commented on #14938
It's also possible to set options in an environment variable, which affects all JVMs that run in the environment.
See https://www.eclipse.org/openj9/docs/cmdline_specifying/

[2022-04-20 15:42] #14938 closed

[2022-04-20 15:53] krismarc commented on #14938
Hi @pshipton that's so cool! Even better than using the file. Will survive even if somebody would reinstall the java.

TLDR for everyone else:
`export OPENJ9_JAVA_OPTIONS="-Dcom.ibm.tools.attach.enable=no"`

[2022-04-20 16:16] pshipton commented on #14941
https://github.com/eclipse-openj9/openj9/pull/14894 is reverted by https://github.com/eclipse-openj9/openj9/pull/14945

[2022-04-20 16:16] #14941 closed

[2022-04-20 16:18] gacholio commented on #14858
Right (technically, when marking classes).

[2022-04-20 16:29] pshipton commented on #14943
@AdamBrousseau

[2022-04-20 16:32] pshipton commented on #14938
It works well for the top level, but if you have a process which creates a java process and doesn't carry forward the environment, there could be JVMs started that don't get the option.

[2022-04-20 19:13] BradleyWood commented on #14654
Another 100 Grinders, all passed. I will open a patch.

[2022-04-20 20:43] LongyuZhang commented on #14486
Just for note here, Criu test in docker has the errors and warning about `kdat cache`, which does not affect the checkpoint and restore, and can be solved by start the docker container with `--tmpfs /run` based on [this comment](https://github.com/checkpoint-restore/criu/issues/1663#issuecomment-978906223), so added this option in `criu_docker_test` playlist to avoid corresponding output.
[code]

[2022-04-20 21:28] pshipton commented on #14586
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64_aix_OpenJDK17_testList_0/21
JCL_Test_0 `NoOptions`

[2022-04-20 21:46] pshipton commented on #14626
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_OpenJDK11/32
jdk_lang_0
java/lang/ProcessBuilder/Basic.java#id0
[code]

[2022-04-21 03:18] gacholio commented on #14858
Assuming we don't change the ROM class format, and that the ROM classes are shared between the two RAM classes, we could still put both classes in the table (provided the `Q` and `L` ones have a bit somewhere that distinguishes them).

It still makes sense to me to update the API to specify the input format and desired output with a bit field where value 0 is the current behaviour. Possibly change

[2022-04-21 03:34] gacholio commented on #14858
The class table is peeked by exception backtrace decode based on the ROM class of the PC in the walkback array, so whichever solution we go with, we need to make sure the "real" class is found by that peek.

[2022-04-21 11:39] JasonFengJ9 commented on #13756
Observed at `job/Test_openjdk11_j9_extended.openjdk_aarch64_linux/42/`(`ub18-aarch64-7`)
[code]

[2022-04-21 11:44] JasonFengJ9 commented on #14505
`job/Test_openjdk11_j9_extended.openjdk_ppc64_aix/65/`(`paix905`)
[code]

[2022-04-21 12:22] JasonFengJ9 commented on #13573
Observed at `job/Test_openjdk18_j9_extended.openjdk_ppc64_aix/14/`(`pll011`)

[code]

Re-open to keep similar error history.

[2022-04-21 12:25] pshipton opened #14948 "sanity.openjdk zip (zlib?) failures on RH9 beta"
/view/Test_grinder/job/Grinder/22939

jdk_lang_0
java/lang/ClassLoader/securityManager/ClassLoaderTest.java
[code]

jdk_lang_1
java/lang/ClassLoader/securityManager/ClassLoaderTest.java
[code]

jdk_util_0, jdk_util_1
java/util/zip/ZipFile/CopyJar.java
[code]

jdk_util_0, jdk_util_1
java/util/zip/DeflateIn_InflateOut.java
[code]

jdk11_tier1_pack200_0, jdk11_tier1_pack200_1
tools/pack200/PackTestZi

[2022-04-21 13:36] pshipton commented on #14948
I tried Adoptium jdk-11.0.15+8 with java/lang/ClassLoader/securityManager/ClassLoaderTest.java and it has the same problem.
[code]
[code]

[2022-04-21 13:45] pshipton commented on #14626
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-64_mac_Nightly_testList_2/258
LambdaLoadTest_J9_5m_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`
[code]

[2022-04-21 13:48] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64_aix_Nightly_testList_2/202
TestIBMJlmRemoteClassAuth_1

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64_aix_Nightly_testList_0/202
TestIBMJlmRemoteClassNoAuth_0

[2022-04-21 14:21] pshipton commented on #14505
Test failure output shows
[code]
Exception is at
[code]
The testing is doing the following before it creates the file. I tried running this on the machine but it works. We'll have to modify the test to get more information about the failure.
[code]

[2022-04-21 15:29] #14926 closed

[2022-04-21 17:12] avermeer opened #14950 "openj9-0.32.0-m2 Linux x64 regression: No LoginModule found for com.ibm.security.auth.module.LinuxLoginModule"
Hello,

I just found that using milestone 2 build of IBM Semeru openj9-0.32.0-m2 Linux x64, I have a probe testing Hadoop connectity always failing with the following stack trace:

[code]

I made a quick search and found that similar [issue#12151](https://github.com/eclipse-openj9/openj9/issues/12151) on January 2022 release, which was closed as being an "internal build issue"

I'm afraid it's a s

[2022-04-21 17:47] DanHeidinga commented on #14950
@avermeer  Is that Java 8, 11 or 17?  Full `java -version` output would help here.

There appears to be some some Hadoop changes in 2020 that may be related:
https://issues.apache.org/jira/browse/HADOOP-16590
https://github.com/apache/hadoop/pull/1484

I'll defer to the IBMers as this appears to be in IBM-specific security providers?  fyi @pshipton @mstoodle

[2022-04-21 18:35] JasonFengJ9 commented on #14505
`AWTError ` appeared at `javax/imageio/MultiReadTest.java`.
NPE occurred at `javax/imageio/ReadAbortTest.java`.
50x grinder for `ReadAbortTest` only - `job/Grinder/22969/`

[2022-04-21 19:45] avermeer commented on #14950
@DanHeidinga here's the  java -version output for this case:

[code]

[2022-04-21 19:48] avermeer commented on #12151
Also if you mean that the issue would come that some deprecated IBM classes have been removed between OpenJ9 January 2022 version versus April 2022 version, then it means that what's considered as a security patch update of Java 11 is actually removing code, something that would be understandable if switching from Java 8 to Java 11, but not on a patch release...

[2022-04-21 20:08] JasonFengJ9 opened #14952 "Adopt_J9_FeatureTests_0_FAILED vmPropertiesPointToVendor - AssertionError: expected [https://github.com/ibmruntimes/Semeru-Runtimes/issues] but found [null]"
Failure link
------------

From an internal build `job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-openj9_SmokeTests/82/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=Adopt_J9_FeatureTests_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS

[2022-04-21 20:56] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_special.system_x86-64_linux_jit_Personal/249/`, failure in:

- `DaaLoadTest_daa1_special_5m_20`
- `DaaLoadTest_daa1_special_5m_25`
- `DaaLoadTest_daa2_special_5m_29`
- `DaaLoadTest_daa3_special_5m_26`
- `DaaLoadTest_daa3_special_5m_28`
- `DaaLoadTest_all_special_5m_27`
- `DaaLoadTest_all_special_5m_29`
- `MathLoadTest_all_special_5m_24`
- `MathLoadTest_autosimd_special_

[2022-04-21 21:21] pshipton commented on #13756
The grinder ran on 5 machines.
cent7-aarch64-3 passed
ub18-aarch64-6 3/40 failed
ub18-aarch64-4 5/40 failed
cent7-aarch64-2 3/40 failed
ub18-aarch64-8 3/40 failed

Just looking at the last one, the failures happen at different places.
[code]

[2022-04-21 21:25] pshipton commented on #13756
Trying a grinder with -Xint /job/Grinder/22987/

[2022-04-21 21:53] pshipton commented on #14950
@avermeer can you try this workaround pls.

`-javaagent:setvendor.zip`

[setvendor.zip](https://github.com/eclipse-openj9/openj9/files/8535309/setvendor.zip)

[2022-04-21 22:16] pshipton commented on #14952
I see Hotspot sets java.vendor.url.bug in jdk8 native code but OpenJ9 doesn't have any code to set it. This is nothing new.

[2022-04-21 22:28] pshipton commented on #12151
No IBM classes were removed from OpenJ9 builds, they were never there. I think what's going on is that 3rd party code looks at the java.vendor system property and when it's "IBM Corporation" they expect IBM Java 8 which does have com.ibm.security classes. When IBM started creating Semeru builds, the java.vendor should have been "IBM Corporation" but was set for Java 8 & 11 temporarily to "Internat

[2022-04-21 23:23] pshipton commented on #14505
It failed 82/100. Spread across 10 machines, they all had failures.
paix816, paix817, paix819, paix821 x 2, paix823, paix824, paix910
pll011 x 2

[2022-04-21 23:37] pshipton commented on #14505
Try a grinder with an update to the test /job/Grinder/22989/

[2022-04-21 23:42] pshipton commented on #13756
Still fails with -Xint 18/100 failures.

[2022-04-22 00:20] pshipton commented on #14505
With the modified test you can see the following
[code]

[2022-04-22 01:43] abhishek179 commented on #14361
Hi Vijay,

Will this new feature(cap_checkpoint_restore) eliminate the need of launching docker container without --privilege for the case where the criu checkpoint/restore executed inside the the docker container for a process tree.

Has anyone tested it with docker containers?

[2022-04-22 10:57] B-Nebel opened #14953 "AIX 7: rpm package zlib-1.2.12-1.ppc breaks Semeru JDK 11"
Java -version output
--------------------
java version "11.0.14.1" 2022-02-08
IBM Semeru Runtime Certified Edition 11.0.14.1 (build 11.0.14.1+1)
Eclipse OpenJ9 VM 11.0.14.1 (build openj9-0.30.1, JRE 11 AIX ppc64-64-Bit Compressed References 20220215_254 (JIT enabled, AOT enabled)
OpenJ9   - 9dccbe076
OMR      - 56c3376ba
JCL      - f0981daedc based on jdk-11.0.14.1+1)

Summary of problem
---------

[2022-04-22 10:58] JasonFengJ9 commented on #14505
Tracking w/ `runtimes/infrastructure/issues/6155`
closing..

[2022-04-22 10:58] #14505 closed

[2022-04-22 11:43] pshipton commented on #14953
A simple reproducer would be handy. Does it still fail with the Semeru 11.0.15 M2 build?
https://github.com/ibmruntimes/semeru11-binaries/releases/tag/jdk-11.0.15%2B8_openj9-0.32.0-m2

Can you pls provide details of the Adoptium JDK that works, is it also 11.0.14.1? I'm not sure why Adoptium would have different behaviour. It's the OpenJDK code that uses libz, which should be the same for Semeru a

[2022-04-22 11:49] pshipton commented on #14953
Adoptium 11.0.14.1 is the same
[code]

[2022-04-22 11:55] B-Nebel commented on #14953
Adoptium JDK that works was Adoptium_jdk-11.0.14.1+1. It also loads libz.a same way.

[2022-04-22 11:56] zheng-kai opened #14954 "When compile openj9-openjdk-jdk8, linking CXX shared library j9jit29.dll throws error."
I compile openj9-openjdk-jdk8 follow the [document](https://github.com/eclipse-openj9/openj9/blob/master/doc/build-instructions/Build_Instructions_V8.md), but I have some difficulties.
## Informations
OS: Windows10 ( 21H2 19044.1645)
Microsoft visual studio version: 2013
freetype version: 2.5.3
[code]
## My compile steps
* configure
[code]
* make all
[code]

## error
when `Linking CXX shared libra

[2022-04-22 11:58] pshipton commented on #14953
It may also be worth trying the reproducer on Semeru with the `-Xint` option, to determine if the behavior is affected by the JIT.

[2022-04-22 12:10] pshipton commented on #14954
Did you install the [Windows SDK 7 Debugging tools](https://www.microsoft.com/download/confirmation.aspx?id=8279)?

Under "Program Files" I found
./Microsoft SDKs/Windows/v7.1/Lib/IA64/WS2_32.Lib
./Microsoft SDKs/Windows/v7.1/Lib/WS2_32.Lib
./Microsoft SDKs/Windows/v7.1/Lib/x64/WS2_32.Lib

[2022-04-22 12:13] pshipton commented on #14954
Also under "Program Files (x86)"
./Microsoft SDKs/Windows/v7.1A/Lib/WS2_32.Lib
./Microsoft SDKs/Windows/v7.1A/Lib/x64/WS2_32.Lib
./Windows Kits/10/Lib/10.0.18362.0/um/x64/WS2_32.Lib
./Windows Kits/10/Lib/10.0.18362.0/um/x86/WS2_32.Lib

[2022-04-22 12:33] B-Nebel commented on #14953
Same problem with Semeru jdk-11.0.15+8, with and without -Xint. How can I pass the reproducer tar file to you?

[2022-04-22 12:43] knn-k commented on #14387
https://github.com/eclipse/omr/issues/6491 needs to be resolved for enabling DDR build.

[2022-04-22 13:31] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_extended.functional_ppc64le_linux_jit_Personal/328/`, failure in `cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_0`. A few segfaults, some of which are similar to the ones in a [previous failure](https://github.com/eclipse-openj9/openj9/issues/14538#issuecomment-1095052321). I think these may be tracked by #14115.

Console log:

[code]

[2022-04-22 13:47] #13606 closed

[2022-04-22 13:54] pshipton commented on #14953
Any file sharing service will do.

[2022-04-22 14:33] zheng-kai commented on #14954
Thank you for your reply, but I'm having trouble again. I add that path to `LIB` environment variable:
[code]
When I run the command again, a new error appears.
[code]
How can I solve this difficulty please? `msvcprt.lib(MSVCP120.dll) : fatal error LNK1112: module machine type 'X86' conflicts with target machine type 'x64'`

[2022-04-22 14:43] keithc-ca opened #14956 "jstacktrace trace action no longer works"
Internal ref 147394

Java -version output
--------------------
[code]

Summary of problem
------------------
Consider this simple class:
[code]

Running this with version 0.27.0 with `-Xtrace:'print=mt,trigger=method{*.factorial,jstacktrace}' -showversion` yields:
[code]

However, running with 0.30.0 yields empty stack traces:
[code]

[2022-04-22 15:08] pshipton commented on #14954
You shouldn't have to set environment variables including the PATH, the build should figure it out. I don't see VS or
Microsoft SDKs on the PATH on our build machines. Different versions use different VS versions, and they can all build on the same machines with multiple versions of VS installed. For jdk8 we do run configure with `--with-toolchain-version=2013` and also `--with-freetype-src=/cygdr

[2022-04-22 15:10] pshipton commented on #14954
If it helps you can look at the Windows jdk8 nightly build output
https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_windows_Nightly/257/consoleFull

[2022-04-22 15:13] pshipton commented on #14956
I think @gacholio is already be working on a fix for this.

[2022-04-22 16:13] gacholio commented on #14956
Not sure what @pshipton is referring to.

[2022-04-22 16:21] AdamBrousseau commented on #14940
[code]
[code]
`/var/log/apt/history.log.1.gz`
[code]
apt-mark hold apport
[code]

[2022-04-22 16:21] #14940 closed

[2022-04-22 16:42] pshipton commented on #14956
@tobi do you know?

[2022-04-22 16:42] pshipton commented on #14956
@tajila do you know.

[2022-04-22 16:49] pshipton commented on #14956
Ok, could be I misunderstood, or the wrong name was mentioned. I guess @keithc-ca  is expected to fix it.

[2022-04-22 16:49] manqingl commented on #14956
@keithc-ca I believe the jstackwalk parser needs to be improved so that it does not get confused by the new trace points from the call to walkstackframes().

The issue can be worked around with the following option:  "-Xtrace:none=j9vm.682-683"

[2022-04-22 16:55] pshipton commented on #14956
A test would be handy as well, not sure why existing tests didn't catch this.

[2022-04-22 16:56] manqingl commented on #14956
We have a couple of test cases here :

https://jazz103.hursley.ibm.com:9443/jazz/web/projects/JTC-JAT#action=com.ibm.team.workitem.viewWorkItem&id=147394

[2022-04-22 17:23] llxia commented on #14956
@LongyuZhang could you help to add the test to cover this case? Thanks

[2022-04-22 18:49] JasonFengJ9 commented on #13477
`job/Test_openjdk17_j9_sanity.system_aarch64_mac_testList_0/30/`(`macaarch64rt2 `)
[code]

[2022-04-22 18:58] JasonFengJ9 commented on #13981
`job/Test_openjdk17_j9_extended.openjdk_ppc64_aix/58/`(`pll011`)
[code]

[2022-04-22 19:28] JasonFengJ9 opened #14958 "jdk_nio_1_FAILED java/nio/file/Files/probeContentType/Basic.java got content type: text/plain; expected: [text/javascript, application/javascript]"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_x86-64_windows/55/`(`win16x64rt3-9`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_nio_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_A

[2022-04-22 19:33] JasonFengJ9 commented on #13123
`job/Test_openjdk17_j9_special.system_x86-64_windows_testList_3/150/`(`win16x64rt3-6`)
[code]

[2022-04-22 19:44] keithc-ca commented on #14956
The option (`-Xtrace:none=j9vm.682-683`) doesn't help.

I think the culprit is the check for `J9_PRIVATE_FLAGS2_ASYNC_GET_CALL_TRACE` which bypasses auxiliary trace points. I should have a fix shortly.

[2022-04-22 20:09] manqingl commented on #14956
Are you sure you used the option correctly?

`
root@mli1:~/t# sdk/bin/java  "-Xtrace:print=mt,trigger=method{*.fun3,jstacktrace}" calls
20:07:38.473*0x19a00              mt.0        > func.fun3()V bytecode method, this = 0xfff6e800
20:07:38.475 0x19a00       j9trc_aux.0        - jstacktrace:
Check
20:07:38.475 0x19a00              mt.6        < func.fun3()V bytecode method
20:07:38.475 0x19a00

[2022-04-22 20:17] keithc-ca commented on #14956
When try with 0.27.0 I get
[code]

[2022-04-22 20:23] keithc-ca commented on #14956
With 0.30.0 it seems to understand the option and restore `jstacktrace` behavior.
Perhaps the problem I had earlier was becase I was also using `-verbose:stackwalk`.

[2022-04-22 21:08] ehrenjulzert opened #14959 "Switch from using <init> to <new> for Value Types"
Currently JavaC compiles value classes with an `<init>` method instead of a `<new>` method. Because of this, class verification also assumes that value types will always use `<init>` and not `<new>`. When JavaC switches to using `<new>` instead of `<init>`, the verification code will have to switch as well.

#14816 has code to verify value types that have both `<init>` and `<new>` methods, but the

[2022-04-23 02:28] manqingl commented on #14956
The error message from 0.27.0 for option  "-Xtrace:none=j9vm.682-683" makes sense because those trace points are new in recent releases, and in those old releases, j9vm.682 and j9vm.683 are indeed out of range.  You would get the similar error message if you use  "-Xtrace:none=j9vm.682-683" with Java 8.0.7.0.

[2022-04-23 07:05] zheng-kai commented on #14954
### After look at that build output, I change the configure parameters, but the problem still exists.
[code]
### without set environment variable `LIB`, this error will occur:
[configure.log](https://github.com/eclipse-openj9/openj9/files/8546423/configure.log)
[code]
### After set environment variable `LIB`
[code]

I am very confused and don't know what is going wrong.

[2022-04-23 19:49] avermeer commented on #14950
Hello @pshipton

Your proposed workaround works.
Is there a way we could "patch" a IBM Semeru installation to make the agent "loaded by default", i.e., so that we wouldn't have to tweak all startup shells of Java commands that need this tweak ?

Kind regards,
Alex

[2022-04-23 20:51] pshipton commented on #14950
You can set the option via the OPENJ9_JAVA_OPTIONS environment variable, or add it to the lib/options.default file in the JVM.
https://www.eclipse.org/openj9/docs/env_var/

[2022-04-23 20:55] pshipton commented on #14954
@jdekonin do you have any ideas?

[2022-04-24 10:00] avermeer commented on #14950
@pshipton thank you very much. I tested the solution based on OPENJ9_JAVA_OPTIONS environment variable (it works well), but since my preferred one was to modify <jdk install path>/lib/options.default file it took me a a while to realize that instead of inserting -javaagent:<path>/setvendor.zip inside the existing quoted option (which failed) I had to append a line with:
 -javaagent:<path>/setvendo

[2022-04-24 10:00] #14950 closed

[2022-04-25 08:13] B-Nebel commented on #14953
I sent a gziped tar file to your Email, Peter. You need to have a Semeru JDK11, set the JAVA_EXE variable in the shell script for the same, then you can run the script right away on AIX 7.2.

[2022-04-25 10:24] yathamravali commented on #284
@keithc-ca Adding the details of the class advancing the initialisation really helps as @kgibm mentioned while opening the issue rather than showing `unowned`. Could notice that the thread doing initialization can be obtained from coredump using `jdmpview
` which I'll update in next comment.

For info: Hotspot also exhibits similar behaviour (deadlock is not detected & no owner details)

Following

[2022-04-25 10:49] knn-k commented on #14426
The test was enabled again, and have been running successfully in nightly extended. functional jobs for a while.  Closing.
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_aarch64_mac_Nightly/

[2022-04-25 10:49] #14426 closed

[2022-04-25 10:49] yathamravali commented on #284
[code]

Looking into the thread monitor details of  java/lang/Thread@0xfffc36f0 shows that the owner is `Thread-5`
[code]

Now let's look for object lock java/lang/J9VMInternals$ClassInitializationLock@0xfffc2ec0

[code]

[2022-04-25 12:24] vijaysun-omr commented on #14361
@abhishek179 we are presently exploring alternatives to using --privileged when we start a container in a kubernetes environment. See https://github.com/opencontainers/runc/pull/3451 for some more information on this front.

We have also tested using docker containers outside of kubernetes using the alternative mentioned at https://github.com/eclipse-openj9/openj9/issues/14361#user-content-fnref-2

[2022-04-25 13:17] pshipton commented on #14626
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_x86-64_mac_Nightly_testList_0/201
CLTestImg_1
[code]

[2022-04-25 13:24] pshipton opened #14964 "OpenJDK util/stream/CollectorToUnmodListTest.java javac NullPointerException"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_x86-64_linux_Nightly/46
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/stream/test/org/openjdk/tests/java/util/stream/CollectorToUnmodListTest.java

[code]

[2022-04-25 13:27] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_x86-64_mac_Nightly_testList_2/45
[code]

[2022-04-25 13:32] jdekonin commented on #14954
Can you move LLVM clang to the front of the path and retry?  Or temp remove/rename cygwin clang so its not found firsrt.  Looks like you are getting cygwin clang, which I am guessing is the problem.  `checking for clang... /usr/bin/clang` in your configure output...whereas OpenJ9 is setup to use LLVM version of clang.

[2022-04-25 15:23] gacholio commented on #14115
The J2I frame is the bytecode frame. It has some fields added on top of a normal bytecode frame and is identified by a low-tagged value in the lowest-memory field of the stack frame:

https://github.com/eclipse-openj9/openj9/blob/9b82fccf82647edbb09c28e8b9db5a6ae34b74e5/runtime/vm/BytecodeInterpreter.hpp#L6593-L6594

[2022-04-25 15:24] gacholio commented on #14115
No barriers are every required for operations on the stack.

[2022-04-25 15:27] gacholio commented on #14115
This question may be moot as there is only one frame for J2I. The outgoing arg count is generally zero unless you decompile the top at an invoke, where the arguments have been pushed but the target method has not yet been reached. This would generally occur if the decompile came during compile time method resolution.

[2022-04-25 17:29] keithc-ca commented on #284
Creating new threads in the static initializer of the main class is something neither OpenJ9 nor Hotspot support (without the deadlock you notice).

[2022-04-25 17:56] keithc-ca commented on #14956
Adding `-Xtrace:print=j9vm.682-683` results in sequences like this:
[code]
The auxiliary tracepoints fire based on the previous regular tracepoint. Because `mt.3` is printed, so is `j9trc_aux.0`, but unless `j9vm.682` is printed (or disabled), we lose the other auxiliary tracepoints. I'm exploring options to reduce such unwanted interactions.

[2022-04-25 19:27] JasonFengJ9 commented on #14958
all failed

[2022-04-25 19:41] JasonFengJ9 opened #14967 "spring_test_0_FAILED NPE at org.jetbrains.kotlin.incremental.IncrementalModuleEntry.hashCode(IncrementalModuleInfo.kt)"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_sanity.external_x86-64_linux/54/`(`ub20x64rt4-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=spring_test_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=true&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_AR

[2022-04-25 21:43] pshipton commented on #14953
I'm fairly certain the problem is with the crc32() function in libz v1.2.12. The Java code just calls through to that. I can duplicate the problem by using the bytes from STPInstallTreeMessages-ALL-Any.jar and using a CRC32 instance to calculate the checksum. If you call update() with all the bytes at the same time, it calculates the expected checksum. If the bytes passed in smaller chunks, such a

[2022-04-26 01:16] pshipton commented on #14142
Internal /job_output.php?id=32687424
[Linux PPC] 80 Load_Level_2.harmony.5mins.Mode110 - rhel7p8vm01
[code]

[2022-04-26 01:56] pshipton commented on #14958
@JasonFengJ9 did this test used to pass?

[2022-04-26 02:15] pshipton commented on #14967
The grinder failed to run properly.

[2022-04-26 03:30] zheng-kai commented on #14954
Although I executed `rm /usr/bin/clang`, this error is still exists. I have successfully compiled it on linux. Thanks for your reply.

[2022-04-26 10:27] BrijeshNekkare commented on #284
1. Are there valid cases wherein a deadlock cannot be detected?
2. To show the thread currently responsible for advancing the initialization of a class, could the methodology showcased by Ravali be used to confirm the lock owner?

[2022-04-26 11:49] JasonFengJ9 commented on #14967
All first run in 5 machines failed w/ same NPE, grinder failed afterwards probably due to the docker test framework, created `backlog/issues/785`.

[2022-04-26 12:09] JasonFengJ9 commented on #14958
it is a regression between `job/Test_openjdk17_j9_extended.openjdk_x86-64_windows/54` (April 21st) and `job/Test_openjdk17_j9_extended.openjdk_x86-64_windows/55` (April 22nd).
Note `jdk_nio_1` only passed twice, another pass was `job/Test_openjdk17_j9_extended.openjdk_x86-64_windows/53` (April 16th), before that, it usually failed w/ `SocketException: Invalid argument: no further information`.

[2022-04-26 13:13] pshipton commented on #13686
OpenSSL v3 runtime support is added for Linux only in 0.32. Build support is in progress for a future release.

[2022-04-26 13:27] B-Nebel commented on #14953
The problematic libz.a v1.2.12 is in fact located in /opt/freeware/lib and if Adoptium loads it from there, why doesn't the reproducer fail with it? You can just copy non-working/libz.a.1.12 from the reproducer to /opt/freeware/lib/libz.a to try this.

But I also can not agree with your last sentence, because I just verified that Adoptium v11.0.14 loads the zlib.a from locations specified with LIB

[2022-04-26 14:53] keithc-ca commented on #14954
Whether `INCLUDE` or `LIB` is in the environment or not should not make a difference; see [spec.gmk.in](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/common/autoconf/spec.gmk.in#L131-L133).

[2022-04-26 15:19] keithc-ca commented on #14489
In the javacore file, these seem to contradict each other:
[code]
Also, `Path` includes `C:\Program Files\openjdk-11\bin` which seems inappropriate.

[2022-04-26 16:25] pshipton commented on #14967
@llxia can somebody look at this failure. I wonder if the test supports OpenJ9, maybe it needs to be disabled.

[2022-04-26 16:31] llxia commented on #14967
We noticed the same failure in hotspot. See https://github.com/adoptium/aqa-tests/issues/3505#issuecomment-1082312052
There is an open issue for this https://github.com/adoptium/aqa-tests/issues/3540. I will close this issue as dup of https://github.com/adoptium/aqa-tests/issues/3540

We are going to exclude this test until the issue is fixed.

[2022-04-26 16:31] #14967 closed

[2022-04-26 16:52] pshipton commented on #14958
It's weird we could get a test difference between builds when none of the SHAs changed. @llxia any ideas?

Build 54 shas:
[code]
Build 55 shas:
[code]

Seems grinders don't have a SHA.txt, but Grinder/23118 shas:
[code]

[2022-04-26 17:00] pshipton commented on #14958
build 54 - win16x64rt-1-6
build 55 - win16x64rt3-9
Grinder/23118: win16x64rt-1-5, win16x64rt-1-9, win16x64rt2-8, win16x64rt3-3, win16x64rt3-10

[2022-04-26 17:19] pshipton commented on #14953
I don't think ldd is showing where the library is actually loaded. I used `genld -l` to show the libraries loaded by the running processes. Can you pls check where the running Hotspot process loaded the library.

I don't have /opt/freeware/lib updated on the machine I have access to.

If I had root access.

[2022-04-26 17:24] pshipton commented on #14953
I checked again and I see `non-working/libz.a.1.12` used now, I must have done something wrong. I'll keep looking why Semeru can't get the right crc.

[2022-04-26 17:39] abhishek179 commented on #14361
@vijaysun-omr  yeah i am interested in this feature. Below is my use case

Requirement: Checkpoint/Restore a Process Tree within the docker container namespace from within the container where the container is not launched with --privileged switch.

Based on what i understood from this thread that with this new capability "CAP_CHECKPOINT_RESTORE" in newer Kernels we should be able to take criu   ch

[2022-04-26 18:24] pshipton commented on #12579
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly_testList_1/258 - [cent7-ppcle-6](https://openj9-jenkins.osuosl.org/computer/cent7-ppcle-6)
TestJcmd_0
[code]

[2022-04-26 18:27] pshipton commented on #14626
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_mac_Nightly_testList_1/200
testDDRExtJunit_MonitorsAndDeadlock5_0
[code]

[2022-04-26 18:29] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_ppc64_aix_Nightly_testList_1/47 - [p8-java1-ibm11](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm11)
TestIBMJlmRemoteClassNoAuth_1

[2022-04-26 18:31] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_mac_aot_Personal_testList_0/7/

[2022-04-26 18:59] dsouzai commented on #14361
You would need `CAP_CHECKPOINT_RESTORE` AND https://github.com/checkpoint-restore/criu/pull/1155 in order to do an unprivileged checkpoint.  I think in our case we needed `CAP_CHECKPOINT_RESTORE` and `NET_ADMIN`. We set those caps on the `criu` binary (at image build time).

On the restore run, you have to give docker `--cap-add=CHECKPOINT_RESTORE,NET_ADMIN --security-opt seccomp=unconfined` and p

[2022-04-26 20:52] #14956 closed

[2022-04-26 21:38] pshipton commented on #14953
@zl-wang do you have any ideas about this? As far as I can tell, Semeru is calling libz crc32() with the correct values. I suspect some global setting is modified by OpenJ9 which affects how libz 1.2.12 works. Hotspot works fine with the same data, and a standalone C problem also works fine.

[2022-04-27 05:48] knn-k commented on #14387
I made sure that my local build passes all the DDR tests that will be enabled by #14961.

[2022-04-27 08:44] erichhochmuth commented on #14904
I was not able to reproduce the issue with a simple jvmti agent. Even if I initialize the ObjectName class in a static initializer I can't recreate the crash. Since we have a workaround for the issue, feel free to resolve the bug. If we run into it again we'll invest more time into a reproducer.

[2022-04-27 11:21] #14904 closed

[2022-04-27 11:31] pshipton commented on #5450
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_windows_Nightly_testList_0/212
TestJps_0
[code]

[2022-04-27 12:28] zl-wang commented on #14953
@pshipton  my thought process as follows ...

we have a fast-path implementation of CRC32.update() etc when JIT is active (42x faster than the normal).  JIT redirects these calls to the assembly routines. But I saw mentioned it can fail with -Xint too, so that I think that redirection is irrelevant in this case.

we also prefer to load the NX version of libz (this library takes advantages of hardw

[2022-04-27 12:39] pshipton commented on #14953
@zl-wang it does only fail with the new libz, but only when called from OpenJ9 JNI. If I call it from a small C program it's fine. Hotspot is also fine. That's why I'm wondering if OpenJ9 changes any settings that might affect the new libz.

[2022-04-27 12:43] pshipton commented on #14953
btw I checked the compile and line options for libzip.so (which contains the JNI natives) between Hotspot / Semeru and I don't see any differences (other than -qstackprotect, which is just in the latest version and not 11.0.14.1).

[2022-04-27 12:56] zl-wang commented on #14953
@pshipton  yeah, OpenJ9 does change the LIBPATH setting by prepending the NX-version path before any other (if it is available and enabled). When that happened, NX-libz is definitely the version to be loaded instead of any other.  That was captured in my 2nd point above.

I cannot imagine some mixed-up scenarios happening here yet.  It is more likely the new libz build being the problem (only trig

[2022-04-27 16:43] #14508 closed

[2022-04-27 22:22] tajila opened #14974 "CRIU: Intermittent failure restoring image"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_criu_Personal/10/tapResults/

[code]

[2022-04-27 22:51] pshipton commented on #14953
I don't think this is related to the NX-version path. If you run Semeru on one of our AIX machines the crc is computed correctly. If you modify the LIBPATH to put libz 1.2.12 on the path, then incorrect crc's are computed, but only from OpenJ9 JNI code. I can give you the test case if you want to try it yourself.

[2022-04-27 22:53] pshipton commented on #14953
This is my concern, I think somehow OpenJ9 is setting up the particular situation that causes the failure.

[2022-04-27 22:53] tajila commented on #14974
20 run grinder: https://openj9-jenkins.osuosl.org/job/Grinder/793/

[2022-04-27 22:56] pshipton commented on #14953
I should also mention you can run `genld -l` to see that OpenJ9 process has loaded the zlib 1.2.12, and not some NX-version.

[2022-04-28 02:51] gangadharparde commented on #5676
This issue is coming in openjdk 17-

Apr 28, 2022 8:20:51 AM org.springframework.context.annotation.AnnotationConfigApplicationContext prepareRefresh
INFO: Refreshing org.springframework.context.annotation.AnnotationConfigApplicationContext@b1a58a3: startup date [Thu Apr 28 08:20:51 IST 2022]; root of context hierarchy
Exception in thread "main" java.lang.IllegalStateException: Cannot load configu

[2022-04-28 03:16] ChengJin01 commented on #5676
Hi @gangadharparde,  there is no evidence indicating the exception above was the same as the original issue (even though it occurred in the `springframework`) in that the fix here was to resolve the `VerifyError` specific problem in the runtime verification prior to the execution, which was different from `ClassFormatError` in the static verification when loading classes

You'd better double-check

[2022-04-28 03:20] ChengJin01 commented on #5676
According to the error message above:
[code]
it looks like there was some module specific access issue from the package `opens java.lang` in the module `java.base` to unnamed module.

FYI: @JasonFengJ9

[2022-04-28 11:40] JasonFengJ9 commented on #5676
@gangadharparde pls try `--add-opens java.base/java.lang=ALL-UNNAMED`.

[2022-04-28 11:43] keithc-ca commented on #284
There are numerous ways an application can be deadlocked. Any involving resources not on the heap (e.g. the native class loader lock involved for static initializers) will not be detectable by jdmpview (which only considers synchronized objects in the heap).

[2022-04-28 12:48] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_aarch64_mac_OMR_testList_0/42

[2022-04-28 13:00] andresluuk opened #14975 "Latest openJ9 JDK11 loads a class from wrong location on modular run"
Java -version output
--------------------
openjdk version "11.0.15" 2022-04-19
IBM Semeru Runtime Open Edition 11.0.15.0 (build 11.0.15+10)
Eclipse OpenJ9 VM 11.0.15.0 (build openj9-0.32.0, JRE 11 Windows 10 amd64-64-Bit Compressed References 20220422_352 (JIT enabled, AOT enabled)
OpenJ9   - 9a84ec34e
OMR      - ab24b6666
JCL      - b7b5b42ea6 based on jdk-11.0.15+10)
Does not matter if windows o

[2022-04-28 14:12] pshipton commented on #14975
@tajila

[2022-04-28 14:36] keithc-ca commented on #14975
Tweaking the example a little (to use try-with-resources), yields a possible hint:
[code]
I don't see anything in `pom.xml` that says `-source 6`: perhaps specifying `-source 11 -target 11` (or newer) in the appropriate places would solve this?

[2022-04-28 14:44] keithc-ca commented on #14975
Adding to `pom.xml`
[code]
allows the build to succeed, but it doesn't define a module named `MyJar`; we need `module-info.java` for that, after which I see the problem: it works with 0.30.0, but not with 0.32.0 or a development build.

[2022-04-28 15:13] andresluuk commented on #14975
Great that you reproduced it.
I did't include the jdk version in pom. Because with JDK11 on path, "mvn clean package" worked.
About module-info.java I used the automatic module: java --module-path target\MyJar.jar -m MyJar/autotest.Test
just in case module-info would break something in classpath run (java -cp target\MyJar.jar autotest.Test) where no modules are present, but good that you also mana

[2022-04-28 21:04] ehrenjulzert commented on #14741
There has been some new changes to the value objects spec which I will have to implement in a future PR

[2022-04-29 13:45] pshipton commented on #14470
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_ppc64_aix_Nightly_testList_1/208
threadMXBeanTimedParkTest_1
[code]

[2022-04-29 13:56] pshipton commented on #11979
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_ppc64_aix_OpenJDK_testList_0/106
cmdLineTest_gpTest_0
[code]

[2022-04-29 15:34] hangshao0 opened #14979 "New access flag for identity classes"
In the latest [spec](http://cr.openjdk.java.net/~dlsmith/jep8277163/jep8277163-20220427/specs/value-objects-jvms.html#jvms-4.1), a new access flag `ACC_IDENTITY` is introduced for identity object and identity interface.

`
The ACC_IDENTITY flag indicates that this class or interface is an identity class or an identity interface. For such a class or interface, all instances (of a class directly or

[2022-04-29 15:36] CbcWestwolf opened #14980 "The `cause` field in `Throwable` object is set to `this` after popping method stack frames."
Java -version output
--------------------

[code]

Summary of problem
------------------

[code]

When running on other JVMs like HotSpot, the result is:
[code]

But when running on the OpenJ9, the result is:
[code]

Is the result expected?

Does OpenJ9 miss the `cause` information gained at line `var3.initCause(new NoSuchMethodException("Cause Exception"));`?

Thanks!

[2022-04-29 17:43] JasonFengJ9 commented on #14243
Observed at `job/Test_openjdk18_j9_sanity.functional_aarch64_mac_testList_0/36/`(`macaarch64rt6 `)
[code]

[2022-04-29 17:45] JasonFengJ9 commented on #14888
`job/Test_openjdk18_j9_special.system_x86-64_linux_testList_2/42/`(`ub20x64rt4-1`)
[code]

[2022-04-29 18:04] harpreetbamrah opened #14981 "Clean up the calls to memcpy"
In furtherance to the technical debt of code, this one is to change the occurences of:
`memcpy( warmMethodHeader + offsetof(OMR::CodeCacheMethodHeader, _metaData), &metaData, sizeof(metaData) );`
to something like:
`reinterpret_cast<OMR::CodeCacheMethodHeader *>(warmMethodHeader)->_metaData = metaData;`

In the on-going MicroJIT PR https://github.com/eclipse-openj9/openj9/pull/9578, this has alrea

[2022-04-29 19:03] dmitripivkine commented on #14243
I thought DDR has been enabled for Mac M1 platform but looks like not for this build. Still can not be investigated

[2022-04-29 21:45] knn-k commented on #14243
@dmitripivkine
Unfortunately, there is a toolchain problem https://github.com/eclipse/omr/issues/6491 in enabling DDR with AArch64 macOS builds.

[2022-05-02 14:15] pshipton commented on #10489
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_0/264 - [ub16p8j92](https://openj9-jenkins.osuosl.org/computer/ub16p8j92)
DaaLoadTest_daa2_CS_5m_0 `-Xgcpolicy:gencon -Xgc:concurrentScavenge`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_0/264/system_test_output.tar.

[2022-05-02 14:19] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/272/
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/EnumSet/EnumSetBash.java
[code]

[2022-05-02 14:23] pshipton commented on #14717
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_extended.functional_aarch64_mac_Nightly_testList_0/41
threadMXBeanTestSuite2_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`
[code]

[2022-05-02 14:38] #13891 closed

[2022-05-02 14:47] babsingh opened #14984 "[JDK8 OJDK-MH] IllegalAccessException not thrown"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `BUILD_LIST=functional`
    - `jsr335_interfacePrivateMethod_0`
    - `jsr335_interfacePrivateMethod_1`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK8 with OJDK MHs enabled

Refer to h

[2022-05-02 14:48] babsingh commented on #14556
This will be fixed once https://github.com/eclipse-openj9/openj9/pull/14937 is merged.

[2022-05-02 14:49] babsingh commented on #14547
This is fixed by
- https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/502.

[2022-05-02 14:49] #14547 closed

[2022-05-02 14:52] babsingh commented on #11922
Backported to JDK8 and JDK11:
- https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/560
- https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/502

[2022-05-02 14:52] #11922 closed

[2022-05-02 14:53] pshipton commented on #13919
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_s390x_linux_Personal_testList_2/6
MauveSingleInvocLoad_special_5m_2 `-Xgcpolicy:optthruput -Xjit:count=0,optlevel=hot,gcOnResolve,rtResolve -Xnocompressedrefs`
[code]

[2022-05-02 14:54] babsingh opened #14985 "[JDK8 OJDK-MH] AbstractMethodError not thrown"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `BUILD_LIST=functional`
    - `jsr335_interfacePrivateMethod_0`
    - `jsr335_interfacePrivateMethod_1`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK11 with OJDK MHs enabled

Refer to

[2022-05-02 14:55] pshipton commented on #14626
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_x86-64_mac_Personal_testList_2/18
MathLoadTest_autosimd_special_5m_22 `-XX:+UseCompressedOops -Xjit -Xgcpolicy:gencon -Xaggressive`
[code]

[2022-05-02 14:56] tajila commented on #14211
Thanks @JasonFengJ9. I think we should start by performing some tests to understand the behaviour with C/R. Some cases like `System.getCurrentTimeMillis` may just work. `java.util.Timer` may also work if they are using relative modes, but in other modes it may fail.

[2022-05-02 14:59] tajila commented on #14211
@JasonFengJ9 Ive updated the description to add more cases

[2022-05-02 15:01] babsingh opened #14986 "[JDK8 OJDK-MH] MHIllegalAccess failures"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `BUILD_LIST=openjdk`
    - [java/lang/invoke/8022701/MHIllegalAccess.java](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/jdk/test/java/lang/invoke/8022701/MHIllegalAccess.java)

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/O

[2022-05-02 15:09] babsingh commented on #14986
In the above failures, the exception is being thrown during resolution. These exceptions need to be wrapped with `BootstrapMethodError` and thrown during invoke not resolve.

In OpenJ9 MHs, we do the following to achieve the above:
https://github.com/eclipse-openj9/openj9/blob/0bb7ce2d462d2e2eef102cfeda33ebc774048ec5/jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleResolver.java#L348-L

[2022-05-02 15:37] babsingh opened #14987 "[JDK8 OJDK-MH] IAE from test_FindSpecial_Default_CrossPackage_Interface"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `BUILD_LIST=functional`
    - `jsr292Test_jdk8_0`
    - `jsr292Test_JitCount0_jdk8_0`
    - `jsr292Test_jdk8_special_0`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK8 with OJDK MHs ena

[2022-05-02 15:41] babsingh commented on #14987
I believe that the RI also throws `IllegalAccessException` for this test. When OJDK-MHs are enabled in OJ9, we automatically adopt RI's behaviour. These statements should be re-confirmed. Afterwards, it should be verified if the RI behaviour is correct. If RI behaviour is as-per spec or Java doc, then the test should be updated or disabled accordingly. Otherwise, we will have to look into updating

[2022-05-02 15:46] babsingh opened #14988 "[JDK8 OJDK-MH] ClassCastException: String incompatible with MethodHandle/Unsafe/..."
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `BUILD_LIST=functional`
    - `jsr292Test_jdk8_special_0`
    - `jsr292_InDynTest_1`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK8 with OJDK MHs enabled

Refer to https://github.com/e

[2022-05-02 15:57] babsingh opened #14989 "[JDK8 OJDK-MH] getCallerClass failures"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `BUILD_LIST=functional`
    - `cmdLineTester_getCallerClassTests_SE80_0`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK8 with OJDK MHs enabled

Refer to https://github.com/eclipse-openj

[2022-05-02 15:59] babsingh commented on #14989
**TODO:** Check RI behaviour for the failing test. The test may not be checking the correct behaviour.

[2022-05-02 16:10] babsingh opened #14990 "[JDK8 OJDK-MH] test_CallSiteNullErrorRethrown fails"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `BUILD_LIST=functional`
    - `jsr292_InDynTest_0`
    - `jsr292_InDynTest_1`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK8 with OJDK MHs enabled

Refer to https://github.com/eclipse-

[2022-05-02 16:10] babsingh commented on #14990
**TODO:** Check RI behaviour for the failing test. The test may not be checking the correct behaviour.

[2022-05-02 16:14] babsingh opened #14991 "[JDK8 OJDK-MH] test_indyn_invalid_bootstrap_method fails"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `BUILD_LIST=functional`
    - `jsr292_InDynTest_0`
    - `jsr292_InDynTest_1`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK8 with OJDK MHs enabled

Refer to https://github.com/eclipse-

[2022-05-02 16:15] babsingh commented on #14991
**TBC:** This failure looks identical to the failures reported in https://github.com/eclipse-openj9/openj9/issues/14986. If identical, the potential solution will be https://github.com/eclipse-openj9/openj9/issues/14986#issuecomment-1115016094.

[2022-05-02 16:25] babsingh opened #14992 "[JDK8 OJDK-MH] testPermuteHandleMaximumArguments fails"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `BUILD_LIST=functional`
    - `jsr292Test_jdk8_special_0`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK8 with OJDK MHs enabled

Refer to https://github.com/eclipse-openj9/openj9/issues

[2022-05-02 16:25] pshipton commented on #14988
The option is a test related to class retransformation for classes that are stored in the shared cache. We need to be able to recreate the class format from the ROM class. This didn't show up in Java 18?

[2022-05-02 16:27] babsingh commented on #14992
- This failure happens when the test is run with the following JVM options: `-Xjit -XX:RecreateClassfileOnload`.
- **TODO:** Check if the failures goes away when `-XX:RecreateClassfileOnload` is not used.
- Related: https://github.com/eclipse-openj9/openj9/issues/14988.

[2022-05-02 16:34] babsingh commented on #14988
Identical issues reported in Java 18:
- https://github.com/eclipse-openj9/openj9/issues/12544
- https://github.com/eclipse-openj9/openj9/issues/12426

The above issues were JIT related. More triage will be required on why they are happening in JDK8.

fyi @nbhuiyan @jdmpapin @0xdaryl

[2022-05-02 19:19] pshipton commented on #14980
This is already fixed recently by https://github.com/eclipse-openj9/openj9/pull/14877
The fix will be include in the July release, OpenJ9 0.33.

[2022-05-02 19:19] #14980 closed

[2022-05-02 20:19] tajila commented on #9929
We need to add testcases to validate our behaviour when using reflection to write final fields in hidden classes, Records, and static final fields in all classes and interfaces.

Testing records, classes and interfaces can be done simply by writing java source code. For hidden classes one may need to use ASM or another bytecode generator.

The test needs to define a final field in the class and at

[2022-05-03 13:28] vij-singh commented on #14654
Has this issue been resolved by #14946 ?

[2022-05-03 13:40] BradleyWood commented on #14654
Yes

[2022-05-03 14:16] pshipton commented on #13718
@AdamBrousseau We're getting frequent findEnv crashes on https://openj9-jenkins.osuosl.org/computer/osx1011-x86-1/ so I'd like to disable this machine. Before doing so we should have another machine online in the builds.

I'd like to have https://openj9-jenkins.osuosl.org/computer/mac10-x86-1/ working, and/or https://openj9-jenkins.osuosl.org/computer/osx1011-x86-2/ updated to a newer version. I'm

[2022-05-03 14:35] DanHeidinga commented on #14975
Adding a Blocker tag to this as per Keith's comment, this is a regression from 0.30 -> 0.32

[2022-05-03 14:36] keithc-ca commented on #7633
Version 1.1.1o appeared today.

[2022-05-03 14:37] #14654 closed

[2022-05-03 14:48] babsingh commented on #14115
**Observations:**
- [1,2,3,7] PC during `performDecompile` points to bytecode index 25 (`checkcast`) in method `GeneratedConstructorAccessor224.newInstance`.
- [5,8] PC in the J2I frame points to bytecode index 28 (`invokespecial`) in method `GeneratedConstructorAccessor224.newInstance`.

**Questions:**
- For [4] to be non-null, should there be an extra pending arg (`p1`) at [6] so that it gets pa

[2022-05-03 14:50] tajila commented on #14975
Ill take a look

[2022-05-03 14:51] babsingh commented on #14115
@gacholio Looking for your insights to the new questions in https://github.com/eclipse-openj9/openj9/issues/14115#issuecomment-1116189374. Primarily, trying to figure why the second O-slot in the bytecode frame is NULL?

[2022-05-03 15:12] pshipton commented on #8076
JEPs:
Java 16: https://openjdk.java.net/jeps/338
Java 17: https://openjdk.java.net/jeps/414
Java 18: https://openjdk.java.net/jeps/417
Java 19: https://openjdk.java.net/jeps/426

[2022-05-03 15:14] pshipton opened #14996 "JEP 425: Virtual Threads (Preview) - Java 19"
https://openjdk.java.net/jeps/425

[2022-05-03 15:34] pshipton opened #14998 "aarch64 mac segfault vmState=0xffffffff building tests"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_aarch64_mac_Nightly_testList_1/46 - [mac11-aarch64-1](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-1)

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.functional_aarch64_mac_Nightly_testList_1/46/functional_test_output.tar.gz
[code]

@knn-k fyi

[2022-05-03 15:41] pshipton commented on #14406
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_linux_Nightly_testList_1/155 - [cent8-aarch64-3](https://openj9-jenkins.osuosl.org/computer/cent8-aarch64-3)
SC_Softmx_UpDown_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.system_aarch64_linux_Nightly_testList_1/155/system_test_

[2022-05-03 15:44] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_ppc64_aix_Nightly_testList_1/52
TestIBMJlmRemoteClassAuth_0

[2022-05-03 16:11] ChengJin01 commented on #14741
@ehrenjulzert, as per your query on the verification constraint at `4.10 Verification of class Files` (mostly related to the runtime verification)  in http://cr.openjdk.java.net/~dlsmith/jep401/jep401-20211220/specs/primitive-classes-jvms.html#jvms-4.10,

It seems there are at least two things you might need to figure out what code should be updated to accommodate new changes in the JVM Spec:
[1]

[2022-05-03 17:04] pshipton commented on #13981
The problem seems to be the logger is getting gc'ed before the data is logged. The log level is set to ALL, and if the logger is gc'ed before this logger is used, then a new logger is created which doesn't have the log level set to ALL, and nothing is logged. The test can be fixed by keeping the original logger alive until after the data is logged.

[2022-05-03 19:36] gacholio commented on #14115
A good start would be to reproduce the failure with `-verbose:stackwalk=0` which will cause the decompiler to dump the stack at various points.

[2022-05-03 20:33] pshipton commented on #14953
Simple test case to reproduce the problem
[code]

[test.zip](https://github.com/eclipse-openj9/openj9/files/8614107/test.zip)

Put the libz 1.2.12 on the LIBPATH: `export LIBPATH=non-working:/lib:/usr/lib`

Run the test:
`jdk-11.0.15+10/bin/java -cp src CRCTest`

Non-working output:
[code]

`genld -l` can be used to show which libz is loaded (shows all running processes):
`/home/jenkins/peter/repr

[2022-05-04 02:24] pshipton commented on #14953
I figured out how to reproduce the problem. When `crc` is declared as `int` then it doesn't work. If it's `unsigned int` or `long` then it does work. This is different behaviour from the older libz.so. The JNI natives are using `jint` for the crc. I still don't understand why Adoptium works, considering it's the same JNI code, and the types should be the same.

test.c
[code]
[code]

[2022-05-04 02:44] pshipton commented on #14953
It seems Adoptium doesn't actually call the JNI native, even when running with `-Xint`.

[2022-05-04 06:11] B-Nebel commented on #14953
I've got another hint that in Adoptium the libz.a functions are linked in a different way. I created a libz from source and added some fprintf statements to its basic library functions. I verified this trace got written successfully with Semeru, but then with Adoptium the trace was not printed although I could see the correct libz path with genld in the Adoptium java process.

[2022-05-04 09:36] PhilWakelin commented on #13807
The changes for the file URLs have now been delivered in Liberty 21.0.0.12 and have shown an expected improvement in startup time benchmarks with the SCC active. Is there any further code to deliver or can we now close this @mpirvu @gjdeval

[2022-05-04 11:31] zl-wang commented on #14953
are you saying zlib.h prototyping changed in this newer version?
sign-extension vs. zero-extension when crc parameter is passed in.  i bet that must be the problem ...

[2022-05-04 12:08] mpirvu commented on #13807
There is nothing else to deliver on my side. The 3 OpenJ9 PR that I mentioned in https://github.com/eclipse-openj9/openj9/issues/13807#issuecomment-985017951 are already merged.

[2022-05-04 12:24] B-Nebel commented on #14953
No, the prototype didn't change in zlib v1.2.12 and the docu is still valid (https://zlib.net/manual.html#Basic). I'm asking, if Semeru really does follow the prototype and pass the crc parameter as an unsigned long.

[2022-05-04 13:02] knn-k commented on #14998
The location of the crash is the following instruction in `omrthread_spinlock_acquire()`.  `self->library` is a null:
[code]

[2022-05-04 13:20] zl-wang commented on #14953
i don't understand then.  if the visible prototype didn't change, i don't expect the behavior change unless the compiler used changed.  external declaration (crc data type) can change the result ... that led me to believe that internal crc32 behavior hasn't changed.

[2022-05-04 13:21] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_extended.functional_ppc64le_linux_jit_Personal/339/`, failure in `cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_0`, subtest `rc021`. Console log:

[code]

I think this is still #14115.

[2022-05-04 15:56] pshipton commented on #14953
It's not Semeru/OpenJ9 code, it's OpenJDK code that is wrong. OpenJDK/Adoptium would see the same problem if they actually called it.

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/java.base/share/native/libzip/CRC32.c
aka
https://github.com/openjdk/jdk11u/blob/master/src/java.base/share/native/libzip/CRC32.c

The code can be fixed, but atm the next release is in July, which

[2022-05-04 18:02] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64_aix_Nightly_testList_2/211
TestIBMJlmRemoteClassAuth_1

[2022-05-04 18:05] pshipton commented on #13802
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/218
jdk_lang_0
java/lang/reflect/callerCache/ReflectionCallerCacheTest.java
[code]

[2022-05-04 18:09] tajila opened #15001 "CRIU: Capture changes in available resources between checkpoint and restore"
Between a checkpoint and restore, the following resources may differ:
- CPUs
- Memory
- cgroup mem.limits
- cgroup cpus
- processor affinity (NUMA)

We need to determine if any of these characteristics are baked into JVM state. So cases to consider
- paralellism for fork/join
- MXBeans

[2022-05-04 18:26] pshipton commented on #14953
I tried it with the master zlib code from https://github.com/madler/zlib/tags
v1.2.11 works with int
v1.2.12 doesn't work with int

It's not specific to AIX, the same problem happens on x86.

[2022-05-04 18:39] tajila opened #15002 "CRIU: Support change locales between checkpoint and restore"
The JVM looks for environment variables such as `LANG`, `LC_ALL` and `LC_CTYPE` to determine locale.

Given that our policy with environment variables is: "If that can be queried before checkout then they must be immutable" this makes modifying locale impossible as things are. Locale is looked up very early by the JVM so under the current mechanism it must be immutable.

To offer more flexibility

[2022-05-04 19:21] babsingh commented on #14115
I had tried `-verbose:stackwalk=0` earlier but couldn't reproduce the failure. I got lucky this time. The JDK used, system-cores, java-cores and `-verbose:stackwalk=0` output are available below. Generally, only one system-core and one java-core are generated. There were 5 of each generated this time, suggesting that the failure occurred five times.

- `OpenJ9-JDK11-x86-64_linux-20220411-150058.ta

[2022-05-04 19:32] babsingh commented on #14115
re https://github.com/eclipse-openj9/openj9/issues/14115#issuecomment-1117727564:

### Excerpts from -verbose:stackwalk=0 output

I traced the output for thread `0x30F100`. Some stack walks had a reason associated for them. E.g. `before decompilation`, `after jitDecompileAtCurrentPC` and `after fixStackForNewDecompilation`. I could not figure the reason behind other stack walks. @gacholio What pat

[2022-05-04 19:37] tajila opened #15003 "CRIU: Fixups required between checkpoint and restore"
Initial issue: https://github.com/eclipse-openj9/openj9/issues/12484

- [ ] Time: https://github.com/eclipse-openj9/openj9/issues/14211
- [ ] Resource: https://github.com/eclipse-openj9/openj9/issues/15001
- [ ] Locale: https://github.com/eclipse-openj9/openj9/issues/15002
- [ ] SIngle thread mode: https://github.com/eclipse-openj9/openj9/issues/14584

[2022-05-04 19:37] tajila commented on #15003
@vijaysun-omr

[2022-05-04 21:05] JasonFengJ9 commented on #14211
### Summary of the approach proposed to address the time changes between Snapshot and Restore

First step is to determine the time changes between Snapshot and Restore environments,
1. Snapshot records a `long` value, which is equivalent to `System.currentTimeMillis()`;
2. Restore records a `long` value similarly;
3. The time change is to be computed based on the two `long` values from steps 1 & 2

[2022-05-04 21:09] tajila commented on #14211
Looks good. I think it can be clarified to say that we are fixing System.nanoTime() (ie. what it returns) and fixing usages of System.currentTimeMillis() (ie. places where it is called). Since these two APIs have different purposes, one being elapsed time, the other being time.

[2022-05-04 21:15] JasonFengJ9 commented on #14211
Updated https://github.com/eclipse-openj9/openj9/issues/14211#issuecomment-1117937739.

[2022-05-04 22:38] JasonFengJ9 opened #15005 "jdk_util_1_FAILED java/util/ResourceBundle/Control/MissingResourceCauseTestRun.java RuntimeException: getBundle("UnreadableRB") doesn't throw class java.io.IOException"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_testList_1/107/`(`win10x64vs6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_util_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_sanity.openjdk_x86-64_windows&amp;DOCKER_REQUIRED=false&amp;ACTIVE

[2022-05-04 22:44] JasonFengJ9 opened #15006 "jdk_lang_1_FAILED java/lang/invoke/MethodHandles/CatchExceptionTest.java Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux_testList_1/128/`(`ub18-aarch64-2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_lang_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_sanity.openjdk_aarch64_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE_

[2022-05-05 12:27] pshipton commented on #9124
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/271 - [cent6-x64-1](https://openj9-jenkins.osuosl.org/computer/cent6-x64-1)
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/logging/Logger/logrb/TestLogrbResourceBundle.java
[code]

[2022-05-05 12:41] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_x86-64_mac_Nightly_testList_2/53
ConcurrentLoadTest_5m_1
[code]

[2022-05-05 13:26] joransiu commented on #13324
A [statement of direction](https://www.ibm.com/common/ssi/ShowDoc.wss?docURL=/common/ssi/rep_ca/1/897/ENUS122-001/index.html#sodx) was given on IBM Z:

[2022-05-05 13:59] pshipton commented on #13778
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_OpenJDK8/26
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/logging/TestLoggerBundleSync.java
[code]

[2022-05-05 15:00] keithc-ca commented on #14953
I find it hard to justify the use of `uLong` in `crc32()` and `adler32()` (these are 32-bit functions), but I expect it's unlikely that zlib will be changing that anytime soon.

[2022-05-05 16:07] dsouzai opened #15008 "Discussion: Storing Class Chain in J9Class"
@JamesKingdon has been dealing with a customer problem where an AOT body loads a field that's off by 4 bytes. After digging through the coredump and our codebase, I _think_ I've found the problem.

Essentially, there are two class hierarches as follows:

1. C extends B extends A
2. C extends B extends A'

The two Cs are loaded by different class loaders, but both Cs and both Bs have the same `J9RO

[2022-05-05 16:08] dsouzai opened #15009 "Discussion: Storing Class Chain in J9Class"
@JamesKingdon has been dealing with a customer problem where an AOT body loads a field that's off by 4 bytes. After digging through the coredump and our codebase, I _think_ I've found the problem.

Essentially, there are two class hierarches as follows:

1. C extends B extends A
2. C extends B extends A'

The two Cs are loaded by different class loaders, but both Cs and both Bs have the same `J9RO

[2022-05-05 16:08] dsouzai opened #15010 "Discussion: Storing Class Chain in J9Class"
@JamesKingdon has been dealing with a customer problem where an AOT body loads a field that's off by 4 bytes. After digging through the coredump and our codebase, I _think_ I've found the problem.

Essentially, there are two class hierarches as follows:

1. C extends B extends A
2. C extends B extends A'

The two Cs are loaded by different class loaders, but both Cs and both Bs have the same `J9RO

[2022-05-05 16:38] quijote opened #15011 "StackOverflowError during class loading with IBM Semeru 17.0.3"
Java -version output
--------------------

Output from `java -version`.

Had a problem with:

[code]

Worked fine with:

[code]

Summary of problem
------------------

We observed `StackOverflowError` in tests executed by our CI. These tests ran fine with 17.0.2 but started failing with 17.0.3.

Stack trace was something like
[code]

To understand the problem I built a small reproducer:

[code]

W

[2022-05-05 16:58] pshipton commented on #15011
You can try setting the OS stack size via `-Xmso`.

@tajila fyi

[2022-05-05 16:58] pshipton commented on #15011
`-verbose:sizes` shows the defaults.

[2022-05-05 17:04] pshipton opened #15012 "Tracking java.net.UnknownHostException: openj9-artifactory.osuosl.org on zlinux"
Not sure if this is a real problem or a hiccup. Sometimes we see tests passing and then failing afterwards.

java.net.UnknownHostException: openj9-artifactory.osuosl.org - [ub20-390-2](https://openj9-jenkins.osuosl.org/computer/ub20-390-2)

[2022-05-05 17:16] dsouzai opened #15013 "Discussion: Cache Class Chain in the J9Class struct"
@JamesKingdon is working on a customer issue where an AOT body is loading a field that's off by 4 bytes. After digging through the coredump and the code, I _think_ I found what the problem is.

There are two class hierarchies:

1. B extends A
2. B extends A'

The two Bs are loaded by different classloaders, but have the same `J9ROMClass`. A and A' have the same name, but have a different number of

[2022-05-05 17:17] dsouzai commented on #15013
@DanHeidinga @tajila @babsingh @mstoodle @mpirvu I'd appreciate your thoughts on this.

[2022-05-05 17:40] mpirvu commented on #15013
The first solution, `rememberClass` always generating a class chain, may increase AOT compilation time. Does it have any effect on AOT loads?

[2022-05-05 17:40] babsingh commented on #15013
++ @hangshao0 @gacholio for insights.

[2022-05-05 17:52] dsouzai commented on #15013
I don't think so; I don't believe we have much need to generate class chains during an AOT load.

[2022-05-05 18:55] hangshao0 commented on #15013
Seems the root is 2 different class loaders, and there is no class loader info involved in the whole process. Not sure how hard it would be to add class loader info here.

[2022-05-05 19:01] gacholio commented on #15013
Classes are always uniquely identified by the combination of name and defining class loader. In days gone by, this would uniquely map to a ROM class, but that's no longer the case.

Does the chain generation/verification somehow take class loaders into account?

[2022-05-05 19:15] dsouzai commented on #15013
Class Loaders ultimately are Java Objects, and as such, are transient from an AOT point. The [class chain](https://github.com/eclipse-openj9/openj9/blob/master/doc/compiler/aot/ClassChains.md) is a JVM agnostic way of representing a class hierarchy. It is essentially an array of `J9ROMClass`es (technically offsets into the SCC) of the `J9Class`es of the class, super classes, and interface classes

[2022-05-05 19:52] gacholio commented on #14115
It also appears the arguments have not been copied properly (both are NULL).

[2022-05-05 21:51] pshipton commented on #14786
Somehow it got re-enabled, and I haven't seen any more problems.

[2022-05-05 21:51] #14786 closed

[2022-05-05 21:53] pshipton commented on #14953
The fixes are merged.

[2022-05-05 21:53] #14953 closed

[2022-05-06 02:47] gacholio commented on #15013
I'm not sure that's true. It's entirely possible that a ROM class is used in different loaders with different superclasses (and subclasses for that matter). All that has to match is the name.

[2022-05-06 04:00] AdamBrousseau commented on #13718
mac10-1 setup to use semeru 11.0.8 for running the agent. Personal build running now to test compile and sanity.openjdk
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/142/

[2022-05-06 06:16] AdamBrousseau commented on #13718
Had to add the Artifactory cert to the keystore. Compile passed.
There is also basrc PATH export which adds bash 5 form usr/local. Default bash is 3.19 which is too old for compile.
sanity.openjdk running in a grinder now
[![Build Status](https://openj9-jenkins.osuosl.org/buildStatus/icon?job=Grinder&build=797)](https://openj9-jenkins.osuosl.org/job/Grinder/797/)

[2022-05-06 06:47] AdamBrousseau commented on #13718
Build passed so I've put the build and test labels back on. Keep an eye on it.

[2022-05-06 06:48] AdamBrousseau commented on #13718
I also took 1011-1 offline

[2022-05-06 11:30] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Nightly/278
jdk_util_0
java/util/EnumSet/EnumSetBash.java
[code]

[2022-05-06 12:55] quijote opened #15017 "IBM Semeru 18.0.1 crashes in libj9gc29.so"
Java -version output
--------------------
[code]

Summary of problem
------------------

We observed crashes in some of our test applications when executed with IBM Semeru 18.0.1. Those tests are running together with our JVMTI agent.

I observed the following message twice so far:
[code]

The small diagnostic files for those 2 crashes are attached. If necessary I may be able to provide core dumps

[2022-05-06 13:03] mpirvu commented on #14142
The diagnostic code we've added shows that the JVM is in shutdown mode and all compilation threads are already stopped when this happens. This is why a suitable compilation thread is not found. I wonder why the JVM generates compilation requests after it decided to shutdown. I'll think of a solution.

[2022-05-06 13:39] SimonMcNab opened #15018 "Memory Leak when using IBM J11.0.14 Liberty L22.0.0.3 CICS 6.1 zOS 2.5"
Java -version output
--------------------

java version "11.0.14.1" 2022-02-08
IBM Semeru Runtime Certified Edition for z/OS 11.0.14.1 (build 11.0.14.1+1)
IBM J9 VM 11.0.14.1 (build z/OS-Release-11.0.14.1-b01, JRE 11 z/OS s390x-64-Bit Compressed References 20220315_174 (JIT enabled, AOT
 enabled)
OpenJ9   - 251e7679cf3
OMR      - 59845b76b8a
IBM      - 3c151c1
JCL      - 090eaebc57d based on jdk-1

[2022-05-06 14:30] dsouzai commented on #15013
Right, that's what's happening in the root issue. My point was to highlight the fact in the case where two class loaders load the same class from disk, then though we end up with two different `J9Class`es, they'll have the same class chain. Therefore, it is possible (though not guaranteed) that AOT code in the SCC generated by compiling one class' bytecodes can be used for the other (after appropr

[2022-05-06 14:35] dmitripivkine commented on #15018
I will triage this

[2022-05-06 14:35] dsouzai commented on #15013
Actually this in and of itself isn't a problem; the problem ultimately comes from the ordering issue described in this issue's Description.

[2022-05-06 14:49] SimonMcNab opened #15019 "10% increase in CPU IBM J11.0.14 Liberty L22.0.0.3 CICS 6.1 zOS 2.5 vs J1.8.0_321"
Java -version output
--------------------

java version "11.0.14.1" 2022-02-08
IBM Semeru Runtime Certified Edition for z/OS 11.0.14.1 (build 11.0.14.1+1)
IBM J9 VM 11.0.14.1 (build z/OS-Release-11.0.14.1-b01, JRE 11 z/OS s390x-64-Bit Compressed References 20220315_174 (JIT enabled, AOT
enabled)
OpenJ9 - 251e7679cf3
OMR - 59845b76b8a
IBM - 3c151c1
JCL - 090eaebc57d based on jdk-11.0.14.1+1)

Summa

[2022-05-06 15:07] dsouzai commented on #15013
Yep, with a minor correction: if there exists a chain for that isn't cached, we check if the chain could apply ; if it does then we cache it, and if it doesn't then we set the field to `-1` or something like that.

[2022-05-06 15:12] mstoodle commented on #15013
Could this also be solved by having `findChainForClass` validate any class chain it finds for the class it's currently looking at? Then you would detect that you shouldn't use the class chain for the second `B` when you're compiling the first `B`'s `foo` ? And isn't that really where you start going wrong?

[2022-05-06 15:14] mstoodle commented on #15013
oh, I guess that's the proposed solution which may increase compilation time (sorry, stopped reading too early :) ). Note that it shouldn't have to generate a chain, it can just walk the chain to validate it against the current class...

[2022-05-06 15:17] dsouzai commented on #15013
Yeah, bad choice of words on my part, I was always planning on just using `classMatchesCachedVersion`.

[2022-05-06 15:24] babsingh commented on #15013
If `generating the class chain always` is not efficient and a RAM class field is needed to cache the class chain, no subtleties are involved. One just needs to add the field in `J9Class` and set it. RAM class creation code will initialize it to 0.

[2022-05-06 15:28] SimonMcNab opened #15020 "50MB increase in 31 bit virtual storage using IBM J11.0.14 CICS 6.1 zOS 2.5 vs J1.8.0_321"
Java -version output
--------------------

java version "11.0.14.1" 2022-02-08
IBM Semeru Runtime Certified Edition for z/OS 11.0.14.1 (build 11.0.14.1+1)
IBM J9 VM 11.0.14.1 (build z/OS-Release-11.0.14.1-b01, JRE 11 z/OS s390x-64-Bit Compressed References 20220315_174 (JIT enabled, AOT
enabled)
OpenJ9 - 251e7679cf3
OMR - 59845b76b8a
IBM - 3c151c1
JCL - 090eaebc57d based on jdk-11.0.14.1+1)

Summa

[2022-05-06 15:31] dmitripivkine commented on #15018
From javacores Native memory sections there is grows for JVM (for four sequential snapshots):
[code]
With slight variations on different parts of JVM looks like the point of grows is JNI:
[code]
@pshipton @tajila Would you please take a look and advice next steps?

[2022-05-06 15:54] SimonMcNab opened #15021 "Significant Liberty Startup performance with IBM J9 VM 11.0.14.1 vs IBM J9 VM (build 2.9..)"
Java -version output
--------------------

java version "1.8.0_321"
Java(TM) SE Runtime Environment (build 8.0.7.5 - pmz6480sr7fp5-20220208_01(SR7 FP5))
IBM J9 VM (build 2.9, JRE 1.8.0 z/OS s390x-64-Bit Compressed References 20220104_19630 (JIT enabled, AOT enabled)
OpenJ9   - 2d4c7d9
OMR      - 59845b7
IBM      - 3c151c1)
JCL - 20220120_01 based on Oracle jdk8u321-b07

vs

java version "11.0.14.1

[2022-05-06 16:34] quijote commented on #15017
I sent you the core dumps by email now (`@ca.ibm.com`). Let me know if this did not work.

[2022-05-06 17:10] gacholio commented on #15013
What is in the class chain? Is it RAM or ROM classes (or something else)?

[2022-05-06 17:12] mstoodle commented on #15013
It's a list of offsets to rom classes in the shared cache. If a rom class isn't stored in the shared cache, you cannot build the class chain.

[2022-05-06 17:14] babsingh commented on #15013
A detailed description is also available in https://github.com/eclipse-openj9/openj9/blob/master/doc/compiler/aot/ClassChains.md#class-chains.

[2022-05-06 17:15] gacholio commented on #15013
Here's the scenario I was considering:
[code]
If the RAM classes are used for the walk described above, I think we'll be OK.

[2022-05-06 17:35] dsouzai commented on #15013
We can't use RAM classes because they're transient from an AOT point of view; there isn't a direct way for two JVMs to agree on whether the RAM Class B they see are the same, because a `J9Class` is a per-JVM instance.

The class chain is a way of dealing with this, by basically being one part of the validation that allow two JVMs to agree on whether they're seeing the same class.

In the scenario

[2022-05-06 17:37] gacholio commented on #15013
From Mark's comment, the walk must be performed using the RAM classes (otherwise there would be no iTables to walk). If the class chains are stored in a new RAM class field, then that disambiguates the cases doesn't it?

[2022-05-06 18:59] dmitripivkine commented on #15017
I have received two cores uploaded to my `/team/Dmitri/15017/` folder. Both of the cores have exactly the same problematic pattern - O-slot in JIT Frame for `com/dynatrace/agent/casp/thirdparty/ComponentClassifier.isIgnoredClass(Lcom/dynatrace/agent/casp/thirdparty/wrapper/ClassWrapper;)Z` points inside (the same) object in Tenure. It is possible (speculation) wrong offset is a result of disregard

[2022-05-06 19:08] dmitripivkine commented on #15017
For `core.20220504.140827.18093.0001.dmp` - there is bad O-slot in JIT frame for `com/dynatrace/agent/casp/thirdparty/ComponentClassifier.doesClassNameStartWithIgnoredPackagePrefix(Lcom/dynatrace/agent/casp/thirdparty/wrapper/ClassWrapper;)Z:
[code]

[2022-05-06 19:19] dsouzai commented on #15013
Yeah, so the way it works is you take a RAM class and use that to build a class chain, and store it into the SCC. Then in another JVM instance, you take the class chain from the SCC and compare it to the RAM class. So you're never directly comparing RAM class to RAM class (because you can't between JVM instances).

The class chain needs to be stored into the SCC, because it is the means of communi

[2022-05-06 20:03] dsouzai commented on #15010
Duplicate of https://github.com/eclipse-openj9/openj9/issues/15013 for some reason...

[2022-05-06 20:03] #15010 closed, assigned to nobody

[2022-05-06 20:03] dsouzai commented on #15008
Duplicate of https://github.com/eclipse-openj9/openj9/issues/15013 for some reason...

[2022-05-06 20:03] #15008 closed, assigned to nobody

[2022-05-06 20:04] dsouzai commented on #15009
Duplicate of https://github.com/eclipse-openj9/openj9/issues/15013 for some reason...

[2022-05-06 20:04] #15009 closed, assigned to nobody

[2022-05-06 21:32] tajila commented on #14975
I suspect this is the cause, https://github.com/eclipse-openj9/openj9/pull/14689

[2022-05-06 21:43] pshipton commented on #15018
The app can be run with `-Xcheck:memory:quick,noscan,callsite=99999`, which outputs to stderr a summary of the memory allocations every 99999 allocations. The 99999 is arbitrary and can be modified to a bigger number if there is too much output, or a smaller number if there is not enough. By comparing the memory allocation summaries we can determine what memory allocations are increasing.

There i

[2022-05-06 21:48] tajila commented on #14975
Confirmed that https://github.com/eclipse-openj9/openj9/pull/14689 causes this regression

@JasonFengJ9 Can you please take a look

[2022-05-06 22:45] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly_testList_2/268
ConcurrentLoadTest_5m_2
[code]

[2022-05-06 22:49] pshipton commented on #15021
Pls raise this with IBM.

[2022-05-06 22:49] #15021 closed

[2022-05-06 23:02] #13718 closed

[2022-05-06 23:03] pshipton commented on #15020
Pls report this problem to IBM.

[2022-05-06 23:03] #15020 closed

[2022-05-06 23:05] pshipton commented on #15019
Pls report this problem to IBM.

[2022-05-06 23:05] #15019 closed

[2022-05-07 00:56] #1254 closed

[2022-05-09 00:55] knn-k commented on #14390
JVMTI tests in SharedClassesAPI_0 have been enabled again.
See https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly/50/tapResults/

Closing this issue now.

[2022-05-09 00:55] #14390 closed

[2022-05-09 11:36] knn-k commented on #15006
The location of the crash is somewhere in `bytecodeLoopFull()`.

[code]

[2022-05-09 12:01] pshipton commented on #13764
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/276
jdk_util_0
java/util/logging/ParentLoggersTest.java
[code]

[2022-05-09 12:04] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_mac_Nightly_testList_0/50

[2022-05-09 12:08] pshipton commented on #14695
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_s390x_linux_Nightly/55
jdk_util_1
java/util/DoubleStreamSums/CompensatedSums.java
[code]

[2022-05-09 16:50] pshipton commented on #15018
jnimem.c:43 is climbing. Each line below is a different point in time. The first is the first one, the last is the last one, and the others in the middle are arbitrarily points in time.
https://github.com/eclipse-openj9/openj9/blob/master/runtime/vm/jnimem.c#L43
[code]

[2022-05-09 16:56] gacholio commented on #11868
Not sure which monitors you're referring to, but a "livelock" scenario where all threads are waiting to be notified might result in this (monitors are unowned when being waiting upon).

[2022-05-09 16:56] joransiu commented on #15018
@SimonMcNab : Is TLS enabled on this Liberty server instance?

@alon-sh, any chance this could be related to the Digest memleak?

[2022-05-09 17:04] pshipton commented on #15018
Seems we may already know what this is, but likely there is some JNI code calling a function that allocates memory, and the JNI code is not freeing it. Such as GetStringChars() (should call ReleaseStringChars()), GetStringUTFChars() (should call ReleaseStringUTFChars()), GetXArrayElements() where X is Boolean, Byte, Char, etc. (should call ReleaseXArrayElements()).

[2022-05-09 17:10] pshipton commented on #15018
`-Xcheck:jni` should trace the memory leak.

[2022-05-09 19:50] #14975 closed

[2022-05-09 22:47] joransiu opened #15032 "Improve handling when JIT Code Cache is full"
Working with an IBM product team that is compiling a very large Maven scala project, with 25+ projects being compiled against a single JVM instnace.   They observed with maven compile times of 2-10 hours of compile time, which should only take ~20 minutes.  We tracked down the issue to be the JIT code cache (256MB default) being full, which disables additional JIT compilation.

Specifically, with

[2022-05-10 01:36] knn-k opened #15034 "macOS: Use QoS classes for better task scheduling"
macOS implements Quality of Service (QoS) classes.
https://developer.apple.com/library/archive/documentation/Performance/Conceptual/power_efficiency_guidelines_osx/PrioritizeWorkAtTheTaskLevel.html

You may be able to schedule tasks more efficiently to performance cores and efficiency cores in Apple Silicon chips by using QoS classes.

[2022-05-10 10:45] SimonMcNab commented on #15018
[J11_Xcheck_jni.zip](https://github.com/eclipse-openj9/openj9/files/8660715/J11_Xcheck_jni.zip)

Looks like https://www.ibm.com/support/pages/apar/PH45122

server.xml has

 <feature>ssl-1.0</feature>
 <feature>transportSecurity-1.0</feature>

I'll test with the latest ibm internal J11 build

[2022-05-10 12:04] pshipton commented on #15018
I'll go ahead and close this then.

[2022-05-10 12:04] #15018 closed

[2022-05-10 12:12] pshipton commented on #15032
It makes sense to me to provide a warning message by default. There should be an option to turn it off. Ideally we only want to output a message if there is a big impact to the user, and not for an edge case where the user might not notice any problem.

[2022-05-10 12:35] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64_mac_Nightly_testList_2/209
ConcurrentLoadTest_5m_1
[code]

[2022-05-10 13:00] DanHeidinga commented on #15032
Writing to stderr may interfere with the application's use of stderr.  We typically don't write directly to the console and instead use tracepoints / jit logs / etc to output the info.

Rather than messaging the user, could we reclaim parts of the code cache for new compiles?  ie: revert some set of methods to interpreted, rest their counts, and reuse the code cache space for new compiles?

[2022-05-10 13:29] pshipton commented on #14865
Created doc issue and PR.

[2022-05-10 13:55] vij-singh commented on #14597
Has this one been resolved now?

[2022-05-10 14:05] mpirvu commented on #15032
The problem with this approach is to correctly identify the methods that are not going to be used in the future.

Another idea, which is applicable to applications that constantly load and download classes, is to trigger a GC cycle when code cache occupancy reaches high levels (say 80%). That would clean the JVM from stale (unloaded) classes and make more room in the code cache.

[2022-05-10 15:08] pshipton opened #15035 "JEP 424: Foreign Function & Memory API (Preview)"
See https://openjdk.java.net/jeps/424

@tajila @ChengJin01

[2022-05-10 15:18] ChengJin01 commented on #15035
@babsingh, please take a look at the new JEP to see whether anything new related to the Foreign Memory API needs to be updated/modified in OpenJ9 given the Foreign Function API is built on top of that.

[2022-05-10 15:32] ChengJin01 commented on #15035
There might be not too many changes as compared to https://openjdk.java.net/jeps/419 (Second Incubator) except the following APIs:

[code]
But we need to wait to see how these work as the new API specific changes have not yet been merged to either
https://github.com/ibmruntimes/openj9-openjdk-jdk/tree/openj9-staging/src/jdk.incubator.foreign or https://github.com/ibmruntimes/openj9-openjdk-jdk/tre

[2022-05-10 15:37] pshipton commented on #14268
The compilers are installed so I'll close this.

[2022-05-10 15:56] pshipton commented on #11557
@Mesbah-Alam is there anything that can be done to improve this, it occurs a lot on AIX.
@llxia fyi

[2022-05-10 16:28] pshipton commented on #14597
I see https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/550 for jdk8, and 11, 17, 18, head and addressed above. Closing.

[2022-05-10 16:28] #14597 closed

[2022-05-10 19:51] dsouzai commented on #15013
I ran Liberty startup with DT7, with forceAOT and a big SCC to get a decent number of methods AOT compiled. I only ran cold runs (ie, destroyed the SCC every time). There were ~7k methods AOT compiled. I didn't see a measurable increase in the compilation time, and this was with a change where I didn't cache the fact that the J9Class had already been successfully remembered.

As such, I think we c

[2022-05-10 20:49] pshipton commented on #15011
The problem also occurs with Java 8, I'll use archived builds to narrow down when the behavior changed.

[2022-05-10 20:57] mpirvu opened #15036 "Add CompilationInfo pointer into the J9JITConfig"
The purpose of this work is to improve debug-ability.
`J9JITConfig` is a data structure used by both the VM and the JIT. It is attached to `J9JavaVM` and thus readily available from many custom OpenJ9 debugging tools.
`TR::CompilationInfo` is a data structure that holds a lot of information about other data structures in the JIT. The JIT creates a single such object and stores its address into the

[2022-05-10 20:58] mpirvu commented on #15036
Attn: @Manasha-Vetrivelu

[2022-05-10 20:59] hangshao0 opened #15038 "Incorrect return value when checking for Cyclical static VT field"
Noticed the following code that uses the return value of `checkForCyclicalVerification()` to set `cycleDetected`

https://github.com/eclipse-openj9/openj9/blob/0314f51a074cb67b75b15e063274011b9d2b256a/runtime/vm/ClassInitialization.cpp#L453

However, `checkForCyclicalVerification()` uses the return value of `verifyLoadingOrLinkingStack()`, which returns `FALSE` if circularity is detected.

https:/

[2022-05-10 21:22] JasonFengJ9 commented on #14494
`job/Test_openjdk18_j9_extended.openjdk_aarch64_linux/24/testReport/`(`ub18-aarch64-3`)

Besides `exit code: 137` above, there are various other failures.
[code]

[2022-05-10 21:28] JasonFengJ9 opened #15040 "JDK18 jdk_nio_1_FAILED java/nio/channels/Channels/TransferTo.java OOM"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.openjdk_x86-64_linux/21/`(`ub18x64rt1-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_nio_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS

[2022-05-10 21:34] JasonFengJ9 commented on #14888
`job/Test_openjdk18_j9_special.system_x86-64_linux_testList_1/46/`(`ub20x64rt3-10`)
[code]
50x grinder - `job/Grinder/23698`

[2022-05-10 21:41] Mesbah-Alam commented on #11557
This error is thrown from STF [here](https://github.com/adoptium/STF/blob/master/stf.core/scripts/stf/Commands.pm#L729) after the `kill` command to clean up sub-processes fails.

All JLM tests under [aqa-systemtest](https://github.com/adoptium/aqa-systemtest/tree/master/openjdk.test.jlm/src/test.jlm/net/adoptopenjdk/test/jlm) and [openj9-systemtest](https://github.com/eclipse-openj9/openj9-systemt

[2022-05-10 21:56] JasonFengJ9 commented on #14840
`job/Test_openjdk18_j9_sanity.system_aarch64_mac_testList_2/30/` (`macaarch64rt2`)
[code]

[2022-05-10 22:16] pshipton commented on #15011
There are two issues. In the January release you could load all 400 classes using default options.
I narrowed it down using IBM Java 8 on xlinux. In each case there was only the one change between builds.
https://github.com/eclipse-openj9/openj9/pull/14282 reduced it to between 100 and 275. (Merged Jan 27)
https://github.com/eclipse-openj9/openj9/pull/14632 reduced to less than 100 classes. (Merge

[2022-05-10 22:49] pshipton commented on #15011
Ah right, setting -Xss in IBM Java does fix it.
400k is enough to load the 400 classes in the builds that could only load 100.
In the latest builds you need 440k to load 100, 720k to load 400.

[2022-05-11 00:07] pshipton commented on #15011
Interesting note here
https://github.com/eclipse-openj9/openj9/blob/master/runtime/oti/j9cfg_builder.h#L108-L109

[2022-05-11 01:19] Akira1Saitoh commented on #15006
The crash happened at `java/lang/invoke/MethodHandle.<init>`.

[code]

It seems that `this` object is at stack. Possibly, this stack allocated object somehow escaped?

[code]

[2022-05-11 10:16] quijote commented on #15011
Thank you for suggesting `-Xmso`. Increasing this indeed also fixed the problem in our Akka HTTP test application.

Small remark regarding your reproducer
[code]

Loading the classes in this order may not to produce the maximum stack depth. The first statement goes to call depth 100 (C100 loads C99, recursively loads C98, ..., recursively loads C0). The second statement goes to depth 175 (C275, ..

[2022-05-11 11:16] pshipton commented on #15011
Ok thanks. It test was however sufficient for me to find the PR that changed the behaviour, and gather a little information about the stack required to load all 400 classes. We've have to decide what to do about the regression. Perhaps by increasing the OpenJ9 default stack size to accommodate https://github.com/eclipse-openj9/openj9/pull/14632.

[2022-05-11 11:52] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/223/

[2022-05-11 11:55] pshipton commented on #14470
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.functional_ppc64_aix_Nightly_testList_1/57
[code]

[2022-05-11 16:03] dmitripivkine commented on #15040
There is scenario for failure:

- allocation of 110739480 bytes object requested
- Local GC is performed, with newspace=71591680/134217728 at the end, does not help obviously
- Global GC with Compact with memory=336218600/536870912 at the end
- Tenure is fragmented and still be no space to allocate 110739480 bytes, so we perform second Global under the same Exclusive
- Second Global does Class Unl

[2022-05-11 19:53] tajila commented on #13596
@hzongaro Any update on this?

[2022-05-11 20:39] fengxue-IS commented on #13347
@thallium please take a look at this, https://github.com/eclipse-openj9/openj9/issues/13347#issuecomment-1007459785 is a very good guide on what changes are required

[2022-05-11 21:22] pshipton commented on #11979
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly_testList_1/275
cmdLineTest_sigabrtHandlingTest_0
[code]

[2022-05-11 22:10] robert-bray opened #15049 ""\\?\D:\very long path". syntax on windows is not accepted as valid path in File.exists()"
I sometimes get paths on windows that include the "very long path" syntax from windows (\\?\)

This link has some references to that syntax.
https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd

in this test case:
import java.io.File;
public class TestReplace
{

	public static void main(String[] args)
	{
		File f = new File("\\\\?\\C:\\Users\\rob\\AppData\\Lo

[2022-05-11 22:20] pshipton commented on #15049
If I understand correctly, it works in 11.0.14 but doesn't work in 11.0.15.

Do the builds from [Adoptium ](https://adoptium.net/temurin/releases) have the same behavior? I'm not sure this has anything to do with OpenJ9.

[2022-05-11 22:25] robert-bray commented on #15049
yes,  it also fails in that build.

[2022-05-11 22:37] pshipton commented on #15049
This problem needs to be reported to the [OpenJDK ](http://openjdk.java.net/) project. Although you could try a preliminary 11.0.16 build to see if it has been resolved.

The latest OpenJ9 build:
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK11_x86-64_windows_Nightly/283/OpenJ9-JDK11-x86-64_windows-20220510-204335.tar.gz

Adoptium: https://adoptium.net/temurin/nightly

[2022-05-11 22:37] #15049 closed

[2022-05-11 22:43] robert-bray commented on #15049
It does appear to be fixed in 11.0.16

[2022-05-11 22:47] pshipton commented on #15049
I did see https://mail.openjdk.java.net/pipermail/jdk8u-dev/2022-April/014889.html not sure if it's related.

[2022-05-11 22:48] pshipton commented on #15049
Although that post was about jdk8, I don't think the regression was specific to jdk8.

[2022-05-11 22:53] robert-bray commented on #15049
I'm not so accustomed to reading these threads, did anyone decide that it was important enough to make a patch?

[2022-05-11 22:56] robert-bray commented on #15049
it also seems that adding this flag -Djdk.io.File.enableADS=true  fixes it,  but is there a downside to that?

[2022-05-11 23:04] pshipton commented on #15049
I didn't see any reply to the post.
See
https://mail.openjdk.java.net/pipermail/jdk8u-dev/2022-April/thread.html
https://mail.openjdk.java.net/pipermail/jdk8u-dev/2022-May/thread.html
https://mail.openjdk.java.net/pipermail/jdk8u-dev/

I don't know anything about this as it's in OpenJDK code. We build OpenJDK and put in OpenJ9, but don't have a full understanding of everything in OpenJDK.

The onl

[2022-05-12 00:01] #15013 closed

[2022-05-12 03:25] YuanWangC opened #15050 "Inconsistency with HotSpot when performing ensureCapacity"
##### Description:

When I use the method `ensureCapacity` and pass it `Integer.MAX_VALUE/ 2 + 1`, OpenJ9 for JDK11 catches the OOM Exception, and at the same time HotSpot for JDK11 and  OpenJ9 for JDK8 do nothing.

And I looked up the description of this method in the JDK Specification: `Ensures that the capacity is at least equal to the specified minimum. If the current capacity is less than the

[2022-05-12 12:10] #15050 closed

[2022-05-12 12:34] #15038 closed

[2022-05-12 12:54] #9929 closed

[2022-05-12 13:59] pshipton opened #15051 "Switch jdk8 Windows compilation to use VS2019"
We need to keep an eye on this. There may be a switch to Windows compilation coming.

See https://github.com/adoptium/temurin-build/issues/2922
and [8221988: add possibility to build with Visual Studio 2019](https://github.com/openjdk/jdk8u-dev/commit/51f69d9125e72adaf05fbd04a5ac17a9d2f6c6a0)

[2022-05-12 14:21] mpirvu opened #15052 "Support for encrypted performance metrics for JITServer"
JITServer can export internal performance metrics to a monitoring agent like Prometheus (#14762). At the moment these metrics are sent in plain text over the network. It would be best if we offer the user the possibility of encrypting this network traffic.
I am thinking that the options to encrypt performance metrics should be separate from the options to encrypt compilation requests and responses

[2022-05-12 14:21] mpirvu commented on #15052
Attn: @cjjdespres

[2022-05-12 15:02] pshipton opened #15055 "OpenJDK ConcurrentHashMap/ToArray.java NoClassDefFoundError: java.lang.Integer"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_windows_Nightly/267
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/concurrent/ConcurrentHashMap/ToArray.java
[code]

[2022-05-12 15:02] pshipton commented on #15055
Perhaps related to https://github.com/eclipse-openj9/openj9/issues/14777

[2022-05-12 15:14] pshipton commented on #6552
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_aarch64_mac_Nightly_testList_0/53
DaaLoadTest_daa1_5m_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`
[code]

[2022-05-12 15:25] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_ppc64_aix_Nightly_testList_1/59
TestIBMJlmRemoteClassAuth_0

[2022-05-12 15:32] cjjdespres commented on #15052
This would be optionally creating an SSL connection and communicating over that, like the JITServer does?

[2022-05-12 15:34] mpirvu commented on #15052
Yes that's the intent

[2022-05-12 18:35] pshipton opened #15056 "Getting cache line size doesn't work on plinux with gcc 10"
This is related to https://github.com/eclipse-openj9/openj9/issues/14799

OMR code is doing the following to get the cache line size on plinux. When compiled with gcc-9 + and `-O3` it doesn't work. I can fix it by adding a pragma to use `-O0` to compile the code. Looking for thoughts before I proceed with that solution.
@zl-wang @keithc-ca

The pragma is:
[code]
[code]
[code]
`objdump -drwC test`

[2022-05-12 19:05] zl-wang commented on #15056
it looks like dcbz side-effect not visible to the optimizer, such that buf array is still considered not modified.  as a result, the whole loop of counting the line size is ripped out.

I am wondering a fix: 1) the cache line size has been 128 for the past 20 years, and is not expected to change anytime soon.  Also, OpenJ9 has been assuming 64bit processor (supported) which all had/have 128-byte c

[2022-05-12 19:08] zl-wang commented on #15056
possible objection to 128 constant replacement: in case, we need to support 32-bit embedded processors with 32bit build.

[2022-05-12 19:09] pshipton commented on #15056
Yes, it seems better to continue calculating than to return a constant. If nothing else, adding the pragma will fix it.

FYI your ping to @bhavani-sn-ibm didn't work.

[2022-05-12 19:13] keithc-ca commented on #15056
Adding the 'clobbers'  parameter fixes it (otherwise the optimizer can assume buf[0] = 255).
[code]

[2022-05-12 19:15] keithc-ca commented on #15056
For the record, I tested with this:
[code]

[2022-05-12 19:20] keithc-ca commented on #15056
I'll open an OMR PR shortly.

[2022-05-12 19:21] tajila opened #15057 "Loom: Impact of large J9VMThread thread list"
Loom proposes to introduce virtual threads to the JDK. Our current implementation is going to implement Virtual threads with a J9VMthread (except this J9VMthread will not be backed by a J9Thread/native thread).

The impact of this design is that there will be many more J9VMthreads with Loom enabled in comparison to before. We can expect to have >10000s of J9VMthreads. The impact of this may be not

[2022-05-12 19:21] tajila commented on #15057
@gacholio

[2022-05-12 19:21] pshipton commented on #15056
Thanks. Note there is a second copy in j9memclr.cpp

[2022-05-12 19:21] #15056 closed

[2022-05-12 19:23] keithc-ca commented on #15056
See https://github.com/eclipse/omr/pull/6515, which I will extend with a fix for `j9memclr.cpp` as well.

[2022-05-12 19:25] tajila commented on #15057
Would it be possible to remove threads that are unmounted (AKA de-scheduled) from the vmthread list? These threads would not have VM access, they cannot be in native code or in a snchronized block. The result would be that we would only have as many virtual threads in the threadlist as there are carrier threads (typically equal to the number of CPUs). The drawback is that it make mounting/unmounti

[2022-05-12 19:26] tajila commented on #15057
FYI @fengxue-IS

[2022-05-12 19:27] tajila opened #15058 "Loom: Impact of Loom on root scanning"
Loom proposes to introduce virtual threads (AKA green threading) to the JDK. Our current implementation is going to implement Virtual threads with a J9VMthread (except this J9VMthread will not be backed by a J9Thread/native thread).

The impact of this design is that there will be many more J9VMthreads with Loom enabled in comparison to before. We can expect to have >10000s of J9VMthreads. This me

[2022-05-12 19:28] gacholio commented on #15057
Do unmounted threads have a java stack associated with them?

[2022-05-12 19:30] tajila commented on #15058
@gacholio @amicic

[2022-05-12 19:30] tajila commented on #15058
FYI @fengxue-IS

[2022-05-12 19:32] tajila commented on #15058
@dmitripivkine

[2022-05-12 19:32] tajila commented on #15057
Yes, an unmounted thread still has a java stack and it must be walkable.

[2022-05-12 19:34] gacholio commented on #15057
Then I'm not sure how we could avoid walking them. What query/operation do you think doesn't need to consider them?

[2022-05-12 19:35] gacholio commented on #15057
It would be a simple enough matter to maintain two lists and move threads between them as they are mounted/unmounted if you can come up with a scenario.

[2022-05-12 19:35] dmitripivkine commented on #15058
I am not sure we have something special flor this item, I believe general discussion is going to be in https://github.com/eclipse-openj9/openj9/issues/15057

[2022-05-12 19:36] tajila commented on #15057
I was hoping that acquiring exclusive vmacces could avoid them. I  believe thats the most common operation that walks the thread list

[2022-05-12 19:39] gacholio commented on #15057
True, but it's most commonly used by the GC which will need to walk all of the threads.

It would be relatively simple for the GC to walk two lists for roots, so we could speed up exclusive VM access portion.

[2022-05-12 19:45] tajila commented on #15057
@dmitripivkine @amicic

Okay, that sounds promising. Thoughts @dmitripivkine @amicic ?

I was also thinking there could be additional benefits for splitting the thread list.

One list would be the active threads (list 1), the other would be de-scheduled VirtualThreads (list2). List2 would be much larger than list1. We could also add a counter on threads in list2 to say how many GCs they have been

[2022-05-12 19:47] gacholio commented on #15057
The GC could only avoid scanning if it knew for instance that the java stack pointed to no new space objects, so a scavenge could ignore it. Perhaps a third list?

[2022-05-12 19:52] dmitripivkine commented on #15057
First of all Global GC must scan all threads to discover roots. Yes, in Gencon we are interesting to roots in Nursery. However I think it might be hard to maintain "thread stack does not have roots in Nursery"). And it might be really complicate for Balanced where any region might be part of collection set for Partial GC

[2022-05-12 20:31] pshipton opened #15059 "AOT jsr292Test_1 crash in 2nd iteration, vmState=0x000501ff"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_aarch64_mac_aot_Personal_testList_1/12
jsr292Test_1 `-Xshareclasses:name=test_aot -Xscmx400M -Xscmaxaot256m  -Xjit -XX:RecreateClassfileOnload `

No diagnostics captured.
[code]
@knn-k fyi

[2022-05-12 21:10] tajila commented on #15057
@dmitripivkine Do you see benefit to splitting the threadlist at all? Do you have any perf concerns with the fact that there will be many more j9vmthreads?

[2022-05-12 22:17] ehrenjulzert commented on #14741
@tajila I have gotten some of our value type tests working without `-Xverify:none`, but others are still failing. I suspect the reason the others are failing is because they're all generating VTs using `ValueTypeGenerator.generateValueClass` instead of using the new `value` or `primitive` keywords. Since `ValueTypeGenerator.generateValueClass` doesn't take the new value types spec into account, it

[2022-05-13 00:07] tonycody opened #15060 "Can you publish to SDKMan?"
Can you publish to SDKMan?
Open J9 is not included in the Sdkman Java list.

Installation is not user-friendly.

https://sdkman.io/vendors

[2022-05-13 00:10] knn-k commented on #15059
The location of the crash in the JIT:
[code]

The offset register `x8` (0x100000007) seems to be wrong, and it is due to `x20` being 0x0FFFFFFFF.

I cannot find the symbol `getReferenceFieldAtEmm` in the JIT source code, however.  Where is it?

[2022-05-13 01:31] knn-k commented on #15059
Reproduced in a Grinder job: https://openj9-jenkins.osuosl.org/job/Grinder_testList_0/110/

[2022-05-13 01:47] pshipton commented on #15060
@AdamBrousseau fyi

[2022-05-13 02:08] tonycody commented on #15060
The official Docker image doesn't seem to be available either

[2022-05-13 02:20] YuanWangC commented on #15050
Thanks a lot for your reply, I will go and try to add this VM parameter and see the effect again. By the way, since I am not familiar with OpenJ9, is there any other default VM parameter that is different between OpenJ9 and HotSpot? Or is there any documentation I can refer to?

[2022-05-13 02:21] YuanWangC commented on #15050
Thanks a lot for your reply, I will go and try to add this VM parameter and see the effect again. By the way, since I am not familiar with OpenJ9, is there any other default VM parameter that is different between OpenJ9 and HotSpot? Or is there any documentation I can refer to? @pshipton

[2022-05-13 02:21] AdamBrousseau commented on #15060
OpenJ9 is built by IBM and released under IBM Semeru Runtimes.
https://ibm.com/semeru-runtimes/
https://hub.docker.com/_/ibm-semeru-runtimes
https://sdkman.io/jdks

[2022-05-13 02:21] #15060 closed

[2022-05-13 02:22] AdamBrousseau commented on #14799
gcc10 machine rollout
- https://github.com/eclipse-openj9/openj9/issues/14268

Openj9 pipeline update
- https://github.com/eclipse-openj9/openj9/pull/14791

Semeru pipeline update
- https://github.com/adoptium/temurin-build/pull/2833
- https://github.com/ibmruntimes/temurin-build/pull/12

Blocking(?) Code changes
- https://github.com/eclipse-openj9/openj9/issues/15056
- https://github.com/eclipse/

[2022-05-13 02:57] pshipton commented on #15050
There is a "Creating compatible behavior" section near the bottom of https://www.eclipse.org/openj9/docs/cmdline_migration/, but I see it's missing the `-XX:+CompactStrings` option. I've created an issue to update the table.

[2022-05-13 03:54] knn-k commented on #15059
I cannot reproduce the problem locally using the binary from https://openj9-jenkins.osuosl.org/job/Build_JDK11_aarch64_mac_aot_Personal/13/ .

What is special about the JDK11_aarch64_mac_**aot** configuration?

[2022-05-13 09:23] knn-k commented on #15059
I reproduced the segmentation fault by running with `TEST_FLAG=AOT`.

[2022-05-13 10:03] JavaTailor opened #15061 "The JDK11 of J9 reports crashes in test cases"
## Affected versions

We found a test case with crash problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at attachment.

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

## Problem summary

We found that in a normal test case, if we executed the test case using J9-JDK11 it would report crash, but if we executed it us

[2022-05-13 10:48] pshipton commented on #14799
Once https://github.com/eclipse/omr/pull/6515 is promoted, we still need a round of internal testing before switching.

[2022-05-13 10:57] pshipton commented on #15061
Duplicated with a recent nightly xlinux build.
@hzongaro can someone take a look pls. I've added it to the 0.33 milestone plan.

[2022-05-13 11:51] tajila commented on #14974
The CRIU restore needs to restore process and thread IDs to the same values as what it was at checkpoint. If it cannot there is a failure to restore.

My suspicion is that the OS can't recycle the checkpoint IDs fast enough to be reacquired upon restore.

[2022-05-13 11:52] tajila commented on #14974
Grinder https://openj9-jenkins.osuosl.org/job/Grinder/806/tapResults/ - 15/285 failed

[2022-05-13 11:54] tajila commented on #14974
We could experiment with longer sleep times between restore to see if this reduces the likehood of this kind of failure

[2022-05-13 12:25] tajila commented on #14741
Could you fix the VTgenerator to take the new spec into account?

[2022-05-13 12:51] DanHeidinga commented on #15057
How will we GC the Virtual Threads if we keep them as roots in a thread list?  My understanding was that a virtualThread can be GC'd once it's not referenced so it's possible to have lots of these in the heap that aren't roots.

Can we find these threads by building a list of them while walking the heap and then adding their corresponding J9VMThread to the root set after discovery?  ie: not have t

[2022-05-13 13:49] dmitripivkine commented on #15057
I think it is make sense to have active and de-scheduled lists. It does help with acquiring Exclusive and possibly might help with further optimizations with GC (handling of permanent set of roots)

[2022-05-13 13:52] YuanWangC commented on #15050
Thank you for your reply, I will read this document carefully.

[2022-05-13 14:03] dmitripivkine commented on #15057
GC-ing Virtual Threads is new concept for me. I don't know how Virtual Threads management is going to be organized and can not estimate cost of this. If it supposes to be another clearable table I need to know details. Also this is not going to be pure clearable (remove from table if dead) but discovering Virtual Thread alive will require scan it. This might introduce new roots obviously. Keeping

[2022-05-13 14:30] ehrenjulzert commented on #14741
Sure, should I do that before #15053 is merged or does it not matter?

[2022-05-13 15:22] amicic commented on #15057
Every J9VMThread has a GC thread local struct (EnvironmentBase in OMR, and EnvironmentDelegate in OpenJ9). Don't know the exact sizes but OMR is not a small struct, mostly dominated by various GC stats structs. Probably couple of KBs.

If we associate J9VMThread to each virtual thread, so we will associate Env with each of them, too. Footprint could be an issue.

These structures have more things

[2022-05-13 15:46] hangshao0 commented on #14741
There are many cases in `ValueTypeTests` that does not need to use `ValueTypeGenerator.generateValueClass` to generated VTs anymore. as the latest javac is already able produce value type (with key word value) and primitive value type (with key word primitive). For example:

https://github.com/eclipse-openj9/openj9/blob/3c82c45fd6053436c6f957015b909b39f0687b38/test/functional/Valhalla/src/org/open

[2022-05-13 18:27] babsingh commented on #15035
re https://github.com/eclipse-openj9/openj9/issues/15035#issuecomment-1122534348:

I have read through JEP424 and ran the `jdk_foreign` test suite. As of now, there are no new requirements, in terms of OpenJ9 support, for the Foreign Memory API in JEP424. Referring to the below information, all current failures are due to missing `upcall` support.

### jdk_foreign test suite cmd

[code]

### jdk_f

[2022-05-13 18:46] babsingh commented on #15035
For Foreign Function API, we will need to add an implementation of `MethodHandle.linkToNative` in [BytecodeInterpreter.hpp](https://github.com/eclipse-openj9/openj9/blob/3c82c45fd6053436c6f957015b909b39f0687b38/runtime/vm/BytecodeInterpreter.hpp#L8750). It is used by `NativeMethodHandle`. I do not see its implementation in OpenJ9 yet. @ChengJin01 Do we plan to use `MethodHandle.linkToNative` in Op

[2022-05-13 19:03] tajila commented on #15035
NativeMethodHandle is an optimization. It only makes sense to use it if we have JIT support for downcalls which we currently dont have. So for the time being `linkToNative` is not needed.

[2022-05-15 01:59] hzongaro commented on #15061
It looks like the failure isn't exposed with the Java 8 build because of differences in the amount of inlining that happens.

The crash happens in [`TR_LoopVersioner::detectCanonicalizedPredictableLoops`](https://github.com/eclipse/omr/blob/c945d253d410d7a1f3b587eac46f237e0dc0104d/compiler/optimizer/LoopVersioner.cpp#L8602-L8605) because `_loopTestTree` is NULL.  The call to [`TR_LoopCanonicalizer

[2022-05-16 12:11] JasonFengJ9 opened #15063 "LambdaLoadTest_special_J9_5m_9_FAILED Segmentation error vmState=0x00020002"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_special.system_x86-64_linux_testList_2/197/`(`cent7x64-1-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=LambdaLoadTest_special_J9_5m_9&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_special.system_x86-64_linux&amp;DOCKER_REQUIRED

[2022-05-16 12:19] JasonFengJ9 opened #15064 "jdk_vector_1_FAILED Error evaluating expression: invalid boolean value: null for expression vm.gc.Z"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_ppc64_aix/61/`(`paix824`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_vector_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp

[2022-05-16 12:51] pshipton commented on #15064
@llxia can somebody add the test variable for OpenJ9 pls.

[2022-05-16 13:13] pshipton commented on #13477
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_x86-64_windows_Personal_testList_0/10
DaaLoadTest_daa1_special_5m_24

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_special.system_x86-64_windows_Personal_testList_0/10/system_test_output.tar.gz
[code]

[2022-05-16 13:46] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_jit_Personal/334/`, failure in `jdk_util_0`. Console log:

[code]

Haven't attempted to reproduce.

[2022-05-16 14:06] pshipton opened #15066 "DaaLoadTest_all_special_5m_6 crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_x86-64_windows_Personal_testList_0/5
DaaLoadTest_all_special_5m_6 `-Xgcpolicy:optavgpause -Xjit:count=0 -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_special.system_x86-64_windows_Personal_testList_0/5/system_test_output.tar.gz
[code]

[2022-05-16 14:07] pshipton commented on #15066
30x (6x x 5) grinder https://openj9-jenkins.osuosl.org/job/Grinder/811/

[2022-05-16 15:28] tajila commented on #14974
@ymanton Based on what you know about CRIU internals, does my assumption seem correct? Do you know what can be done to reduce the frequency of this failure

[2022-05-16 16:00] wlargou opened #15067 "Type=Segmentation error vmState=0x00000000 Target=2_90_20220104_19630 (AIX 7.2)"
Hi,

We witness a nearly simultaneous problem on 4 JVM instances on the same machine (LPAR) as follows :

Unhandled exception
Type=Segmentation error vmState=0x00000000
J9Generic_Signal_Number=00000018 Signal_Number=0000000b Error_Value=00000000 Signal_Code=00000033
Handler1=09001000A1C33F80 Handler2=09001000A1C09698
R0=00000100797EB97D R1=0000010032CBFEC0 R2=09001000A1D4B818 R3=0000010041CA0005
R