[2018-10-14 04:02] #1493 closed

[2018-10-14 04:27] DanHeidinga commented on #3266
Yes, mac uses .dylib for shared libraries.

[2018-10-14 04:29] DanHeidinga commented on #3266
For C code, you can use the `J9PORT_LIBRARY_SUFFIX` to get the right .so / .dylib suffix for the current platform

[2018-10-14 18:01] cdxf commented on #2391
Update to OpenJ9 Java 11 fixed this problem

[2018-10-14 18:02] #2391 closed

[2018-10-15 10:13] ben-walsh commented on #3041
Confirmed test pass using ...
[code]

[2018-10-15 10:31] ben-walsh commented on #3142
Confirmed test pass using ...
[code]

[2018-10-15 10:35] ben-walsh commented on #3161
Confirmed test pass using ...
[code]

[2018-10-15 10:37] ben-walsh commented on #3181
Confirmed test pass using ...
[code]

[2018-10-15 10:38] ben-walsh commented on #3182
Confirmed test pass using ...
[code]

[2018-10-15 10:41] ben-walsh commented on #3180
Test passes using ...
[code]
... closing accordingly.

[2018-10-15 10:46] ben-walsh commented on #3175
Test passes using ...
[code]
... closing accordingly.

[2018-10-15 11:38] pshipton opened #3270 "Test-sanity.system-JDK10-linux_x86-64 DaaLoadTest_daa2_0"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK10-linux_x86-64/97

[code]

[2018-10-15 11:42] irinarada commented on #3270
@andrewcraik can we have this looked at ASAP?

[2018-10-15 12:12] lmajewski commented on #2585
I can confirm that `-Xjit:disableFPCodeGen` when used makes the test passing.
(As observed, the performance degradation is not so huge - less than 20%)

One thing though - when we run:
`../openj9-openjdk-jdk8/build/linux-ppc-normal-zero-release/images/j2re-image/bin/java -Xjit:disableFPCodeGen -jar SPECjvm2008.jar -wt 5s -it 5s -bt 2 compress -ikv -ctf false -chf false`

We do see:
[code]
@ymanton

[2018-10-15 13:28] lumpfish commented on #3270
To run locally (assuming that's what you want to do) you should be able to build the test cases following the instructions here: https://github.com/eclipse/openj9-systemtest/blob/master/README.md, but rather than running make test (step 8) run
```make test.DaaLoadTest_daa2```
to just run the failing test (which you can find going through the output in the referenced Jenkins job).

[2018-10-15 13:39] ben-walsh opened #3271 "JTreg test fail : java/lang/invoke/8147078/Test8147078.java"
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/8147078/Test8147078.java fails with following ...
[code]
... as a result of the expected ClassCastException from performing https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/8147078/Test8147078.java#L72 not being thrown.

Test passes against Hotspot.

Log archive : [Tes

[2018-10-15 13:54] smlambert commented on #3270
To reproduce via Grinder job (on internal Jenkins server):

Rebuild [Grinder job 494](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/494/rebuild/parameterized)

It picks up the build from the failure above (which will eventually no longer be available, so you will have to replace the CUSTOMIZED_SDK_URL value, or change SDK_RESOURCE to nightly to pick up latest nightly bu

[2018-10-15 14:51] ben-walsh opened #3273 "JTreg test fail : java/lang/invoke/8177146/TestMethodHandleBind.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/8177146/TestMethodHandleBind.java has two failures ...

[code]
... both the result of expected IllegalAccessExceptions not being thrown when invoking a protected method outside a package.

Log archive : [MHBindProb.tar.gz](https://github.com/eclipse/openj9/files/2479245/MHBindProb.tar.gz)

Test passes ag

[2018-10-15 14:54] hangshao0 commented on #3264
I have seen this before.

I added a comment:
https://github.com/eclipse/openj9/blob/master/test/functional/cmdLineTests/verbosetest/verbosetests.xml#L493

But forget to remove "Loaded java/lang/Object" from the required list. May also need to figure out why this is not failing on other platforms.

[2018-10-15 14:55] ben-walsh commented on #3271
@andrewcraik Exactly the same failure presented with addition of ```-Xint```.

[2018-10-15 15:02] andrewcraik commented on #3271
@DanHeidinga looks like this needs a look from the VM in the first instance

[2018-10-15 15:03] andrewcraik commented on #3273
Does this pass with `-Xint`? Just helps determine where initial investigation should be done.

[2018-10-15 15:07] JasonFengJ9 commented on #3154
Looking at SoftmxRASTest1, SoftmxRASTest2 - [SoftmxRASTest_report.html.txt](https://github.com/eclipse/openj9/files/2448809/SoftmxRASTest_report.html.txt)

[2018-10-15 15:11] pshipton commented on #3206
@pdbain-ibm is there another issue/pr for the failure? Should we close this one?

[2018-10-15 15:12] JasonFengJ9 commented on #3154
[code]
similar with https://github.com/eclipse/openj9/issues/3206. Will test with latest build which contains https://github.com/eclipse/omr/pull/3053.

[2018-10-15 15:13] pdbain-ibm commented on #3266
AttachAPI is decorating the library name correctly.  I can do a `loadAgent` manually.

[2018-10-15 15:14] pshipton commented on #3017
@theresa-m @DanHeidinga I believe this is obsolete and can be closed?

[2018-10-15 15:18] pdbain-ibm commented on #3206
https://github.com/eclipse/openj9/issues/3266 is tracking the agentld problem. Please close this issue.

[2018-10-15 15:30] hangshao0 commented on #3264
I know what is going on, container support is enabled by default. If I add -XX:-UseContainerSupport, Linux and AIX have the same behavior on this test.

This line is false on Linux and true on AIX.
https://github.com/eclipse/openj9/blob/master/runtime/shared/shrclssup.c#L227

Should I change this line to:
`!J9_ARE_ALL_BITS_SET(omrsysinfo_cgroup_are_subsystems_enabled(OMR_CGROUP_SUBSYSTEM_ALL), OMR

[2018-10-15 15:35] pdbain-ibm commented on #3038
Fixed in jdk8 by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/120
Fixed in jdk10 by https://github.com/ibmruntimes/openj9-openjdk-jdk10/pull/63
Fixed in jdk11 by https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/38
Fixing in Java 12 and later by https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/40 (in review now).

[2018-10-15 15:45] ben-walsh opened #3274 "JTreg test fail : java/lang/invoke/MethodHandles/TestCatchException.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/MethodHandles/TestCatchException.java has two failures ...

[code]

Test passes against HotSpot.

Log archive : [CatchExceptionProb.tar.gz](https://github.com/eclipse/openj9/files/2479464/CatchExceptionProb.tar.gz)

[2018-10-15 16:19] hangshao0 commented on #3264
Ah, I found there is an API omrsysinfo_is_running_in_container().

[2018-10-15 17:01] fjeremic opened #3276 "Software based Concurrent Scavenge support on Z"
This Epic tracks the work needed to enable software based concurrent scavenge (CS) support on Z.

Currently we only support Concurrent Scavenge on z14+ processors which have Guarded Storage (GS) support on certain levels of OS. This imposes quite a restriction on the environment needed to run with CS on Z. The software based read barrier solution will enable us to run with CS on z13- hardware and

[2018-10-15 17:08] fjeremic opened #3277 "Add support for unresolved fields for software CS on Z"
Currently the solution in [1] does not handle unresolved fields correctly. This can easily be observed by running `java -Xjit:count=0 -version` as it will cause an exception to happen. The problem here is that the unresolved field patching logic assumes there is only one instruction to patch, however in the sequence from [1] there are multiple memory references which use the field offset as a disp

[2018-10-15 17:18] fjeremic opened #3278 "Move Z CS support out of OMR and into OpenJ9"
The CS support currently in OMR is very VM dependent. For example the `J9GSParamenters` struct that is reference throughout the implementation is only defined in OpenJ9 [1] [2]. Furthermore the software based implementation of CS in OMR relies on offsets in `J9VMThread` which are very VM specific and also relies on specific implementation details within OpenJ9.

As such we need to migrate our impl

[2018-10-15 17:23] fjeremic opened #3279 "Validate software based CS logic for testing `evacuateTop` and `evacuateBase`"
As part of #3075 we introduced some new fields for range testing software CS boundaries. Previous to this change our Z evaluator was doing a strictly "<" comparison when using these fields. The semantics may have changed so that we may require a "<=" test now.

We need to validate the logic imposed by the aforementioned PR and verify that we're doing the correct thing on the Z software evaluator.

[2018-10-15 17:28] fjeremic opened #3281 "Investigate additional locations that will need software CS support in Z codegen"
Aside from the read barrier evaluator which handles field loads there are some other locations in the Z codegen that will need support for software based read barriers. Current places I can think of:

- Various compare and swap evaluators
- ConcurrentLinkedQueue and ConcurrentHashMap
- Arraycopy evaluators

[2018-10-15 17:32] fjeremic opened #3282 "Disable ConcurrentLinkedQueue and ConcurrentHashMap JIT accceleration under software CS"
The current implementation of Concurrent* acceleration on Z uses constrained transactions to accelerate some operations on these classes. If we hit a software read barrier in these sequences, unlike the hardware read barrier with Guarded Storage the transaction will not be aborted. As such we will continue to execute the read barrier on the GC side which may exhaust the transaction limit imposed b

[2018-10-15 17:35] fjeremic opened #3283 "Enable software CS testing on Z"
After we have support for software based CS on Z we need to investigate what is needed to enable testing on our build far against the feature.

[2018-10-15 17:52] #3206 closed

[2018-10-15 17:54] #3038 closed

[2018-10-15 17:58] fjeremic opened #3284 "Documentation updates for software CS on Z"
Once software CS is available on Z we need to make sure documentation is update appropriately so as to inform users that we can run on z13- processors as well on any OS level. This issue is to ensure the appropriate people are pulled in to make sure the documentation is updated accordingly.

[2018-10-15 18:08] dmitry-ten opened #3285 "JITaaS: reducing the size of Persistent CH table updates"
Currently, CH table updates are the biggest messages, accounting for about a third of network traffic from client to the server. On average, updates are very big because for each dirty class, we serialize the class and pointers to all of its subclasses. But some classes have hundreds of subclasses, which results in a large message.
After looking at the code, I see that a list of subclasses is modi

[2018-10-15 19:01] hangshao0 commented on #3264
If I change to use omrsysinfo_is_running_in_container(), shared classes is enabled by default on Linux and  failed on this test as well.

[2018-10-15 19:10] pdbain-ibm commented on #3266
Problems:

1. Build may be missing `libjvmtitest.dylib` (to be confirmed)
2. Need to fix this on MacOS:
[code]

[2018-10-15 19:30] mpirvu opened #3288 "Reduce the number of `classOfStatic` messages"
Currently, one of the most frequently queries sent by the JITaaS server to the client is related to this method:
[code]
This method is very simple and it boils down to the implementation of ` jitGetClassOfFieldFromCP` which is
[code]
We could reduce the number of `classOfStatic` queries at the server by employing some caching mechanism: Add a hashtable with cpIndex-->classOfStatic mappings to Clas

[2018-10-15 19:46] dmitripivkine commented on #1470
Object heap should shrink from 512m to 256m in 5 minutes (300 seconds). GC verbose log shows heap size was reduced to 256m at 132 second of the test. So GC handles -Xsoftmx properly. However test rely on two conditions (both should be true for success):
- (ibmMemoryMBean.getHeapMemoryUsage().getCommitted() <= new_softmx_value)
- (ibmOSMBean.getFreePhysicalMemorySize() > preMemSize)
First condition

[2018-10-15 19:49] dmitripivkine commented on #1470
![screen shot 2018-10-15 at 3 47 48 pm](https://user-images.githubusercontent.com/18148831/46974352-cfcdb380-d091-11e8-85ee-0b3bb0cf64fd.png)

[2018-10-15 20:07] cathyzhyi commented on #3270
got
[code]

[2018-10-15 20:07] dmitripivkine commented on #1470
My suggestion is to remove check for return of free memory to OS. This is test for -Xsoftmx functionality and I would trust getHeapMemoryUsage().getCommitted() report. It does not lie.

[2018-10-15 20:11] pshipton commented on #1470
@smlambert ^

[2018-10-15 20:57] keithc-ca commented on #3252
#3254 wasn't needed, so this won't be needed either.

[2018-10-15 20:57] #3252 closed

[2018-10-15 21:15] pdbain commented on #3266
In re comment 1 of
https://github.com/eclipse/openj9/issues/3266#issuecomment-429977546, test agent
`libjvmtitest.dylib` is not being moved to the correct location.  The library search path is:

- /Users/pdbain/vm/openj9-openjdk-jdk11/build/macosx-x86_64-normal-server-release/images/jdk/bin/../../native-test-libs/
- /Users/pdbain/vm/openj9-openjdk-jdk11/build/macosx-x86_64-normal-server-release/im

[2018-10-15 21:18] pdbain opened #3292 "MacOS: libjvmtitest.dylib not copied to images/jdk/bin/../../native-test-libs"
This is causing failures in tests which use the jvmti test agent.
cf. https://github.com/eclipse/openj9/issues/3266.

[2018-10-16 00:09] pshipton commented on #36
@babsingh the manual way to try it, build with Xcode4 and then take OpenJ9 compiled with gcc4.9 and use it to replace the OpenJ9 compiled with gcc 4.2.1 and see how it runs.

[2018-10-16 00:14] 0dvictor commented on #3054
All pull requests listed in this Issue have been merger, closing.

[2018-10-16 00:14] #3054 closed

[2018-10-16 00:17] pshipton commented on #36
Can both gcc 4.2.1 and gcc 4.9 be installed at the same time? May be able to set environment variables for the OpenJ9 part of the build to use gcc 4.9

[2018-10-16 00:43] 0dvictor opened #3294 "Enable Concurrent Scavenge testing on X"
#3054 introduced Concurrent Scavenge support on X. Now we need to investigate what is needed to enable related testing as part of our CI process.

[2018-10-16 00:45] pshipton commented on #3294
@smlambert

[2018-10-16 00:50] smlambert commented on #3294
You can start with enabling the concurrentScavenge tests for xlinux, by updating the < platformRequirements > tag in the tests listed at the end of this [playlist.xml file](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/systemtest/playlist.xml#L2648)

[2018-10-16 09:49] ben-walsh commented on #3273
@andrewcraik Same failures presented with ```-Xint```.

[2018-10-16 10:50] lumpfish commented on #3270
I suspect the openj9-systemtest repo is not building correctly due to https://github.com/eclipse/openj9-systemtest/issues/27 which has not yet been fixed.  That would explain class not found errors when trying to run the test.
I've submitted a PR to fix that here: https://github.com/eclipse/openj9-systemtest/pull/45
In the meantime you could apply this hack:
In your local copy of https://github.co

[2018-10-16 10:55] pshipton commented on #3039
Another
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/103/

[2018-10-16 11:00] pshipton commented on #3039
The job shows:
`LIBPATH=/usr/java8_64/jre/lib/ppc64/j9vm:/usr/java8_64/jre/lib/ppc64:/usr/java8_64/jre/lib/ppc64/jli:/usr/java8_64/jre/../lib/ppc64:/usr/lib`

[2018-10-16 11:42] PTamis commented on #2585
I can confirm also that with -Xjit:disableFPCodeGen openJ9 seems to work fine on e500v2.
Also I resolved the kernel problem.

The configuration option:
CONFIG_MATH_EMULATION_FULL
has to be enabled in kernel. Otherwise the ./java -version does not return.

[2018-10-16 12:37] pdbain-ibm commented on #1306
We need `isMacOS()` (or equivalent - suggestions for a better name are welcome) for https://github.com/eclipse/openj9/issues/3266.

[2018-10-16 13:37] cathyzhyi commented on #3270
The failure doesn't reproduce locally and passed on latest builds as well.

[2018-10-16 13:42] cathyzhyi commented on #3270
@smlambert  When using this link for grinder `https://ci.eclipse.org/openj9/view/Build/job/Build-JDK10-linux_x86-64_cmprssptrs/lastSuccessfulBuild/artifact/OpenJ9-JDK10-linux_x86-64_cmprssptrs-20181016-002308.tar.gz`  It's complaining `No such file or directory` https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/498/console.

[2018-10-16 13:59] pdbain-ibm commented on #3039
The builds from
https://github.com/eclipse/openj9/issues/3039#issuecomment-429286308 and
https://github.com/eclipse/openj9/issues/3039#issuecomment-430193003
both ran on aix71-p8-1.  The logs for the older builds are missing.

[2018-10-16 14:13] DanHeidinga commented on #3154
The specs for compressed refs have been merged.  Can you validate that this builds and runs with a compressedrefs build?

[2018-10-16 14:13] lmajewski commented on #2585
After some testing - it turned out that OpenJ9 has very long startup time (up to 4x).
Is there any trick to re-use (store) some precompiled code at "cold" start of the program?

[2018-10-16 14:19] #2982 closed

[2018-10-16 14:39] ymanton commented on #2585
Try `-Xshareclasses`. It will create a cache file in `/tmp` and store class data and compiled code in it and use it in the future. The option has sub-options that you can use to change some settings and tweak the behaviour and you can find the documentation online.

Note that the first time you use it startup time will still be long since the cache will need to be created and filled, but after tha

[2018-10-16 14:49] jdekonin commented on #36
With the existing linux systems we have more than 1 gcc installed and setup the environment at job time.  JDK8 uses v4.8 whereas JDK11 uses v7.3.  Setting CC or CXX and/or some sort of an environment setup script per release would be fine.
Example build_env vars, but there is also build_env cmds (just not used atm)
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/variables/defaults.y

[2018-10-16 14:55] DanHeidinga commented on #36
@jdekonin Does that set the compiler for the whole OpenJDK build or just the OpenJ9 portion?

We're looking to use a newer compiler for just the OpenJ9 part and leave the OJDK part on the older compiler

[2018-10-16 14:55] mpirvu opened #3299 "Inliner should not call setCallCount for virtual invokes"
`realEstimateCodeSize` has this piece of code which is supposed to augment interpreter profiler information with entries for direct calls (invokeStatic, invokeSpecial) which are not tracked by IProfiler:
[code]
Instrumentation shows that `callSites[i]->isIndirectCall()` responds false to virtual invokes as well, which is wrong in my opinion.
This results in IProfiler artificially creating entries

[2018-10-16 15:04] babsingh commented on #36
@pshipton

I put the default directory from a SDK built with **Xcode7 + gcc4.9** into a SDK built with **Xcode4 + gcc4.2.1**. I could invoke `java -version` ... JIT loaded; but, got the same error as before:
[code]

yes, both are installed at the same time. we need to dynamically change env vars: `XCODE_PATH`, `CC`, `CXX` and others when building OpenJ9. restore the env var values after OpenJ9 is

[2018-10-16 15:10] pshipton commented on #36
debug on :)

[2018-10-16 15:12] ben-walsh opened #3301 "JTReg test fail : java/lang/invoke/ProtectedMemberDifferentPackage/Test.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/ProtectedMemberDifferentPackage/Test.java fails with ...

[code]

Test passes against Hotspot.

Same failure running with ```-Xint``` too.

Log archive : [ProMemDiffPackageProb.tar.gz](https://github.com/eclipse/openj9/files/2483701/ProMemDiffPackageProb.tar.gz)

[2018-10-16 15:13] pshipton commented on #3039
@pdbain-ibm you can check with @jdekonin and get access to the machine to take a look if needed.

[2018-10-16 15:20] DanHeidinga commented on #3301
Likely related to this issue: https://github.com/eclipse/openj9/issues/3047

[2018-10-16 15:32] jdekonin commented on #36
@DanHeidinga that is the entire environment.  There isn't a way to split that with the existing scripting afaik. @vsebe or @keithc-ca, if either of you believe this can be done with the existing can you please comment?

[2018-10-16 15:37] pdbain-ibm commented on #3154
I tested `make JVM_OPTIONS=-Xcompressedrefs _cmdLineTester_GCRegressionTests_0`, all passed. @smlambert could you be more specific about which variants of the test? A copy of the command line and/or console log would help.  Thanks.

[2018-10-16 15:39] DanHeidinga commented on #3301
Right now the system tests for mac osx are more important.  Please continue with that investigation

[2018-10-16 16:08] lmajewski commented on #2585
The **scimark.fft.large** took 30 minutes to "Warmup()".  And similar time to run the test.

[code]
Unfortunately, this is too long.

I would expect the penalty from lack of FP support, but on the other hand we do emulate them on this SoC anyway.

[2018-10-16 16:31] andrew-m-leonard opened #3302 "tolowercase"

[2018-10-16 16:31] #3302 closed

[2018-10-16 16:35] andrew-m-leonard opened #3303 "String.toLowerCase("alllowercasetext") should return same instance"
According to openjdk8 testcase jdk/test/java/lang/String/CaseConvertSameInstance.java

"foobar".toLowerCase()    should  return the same  "foobar" instance
ie."foobar".toLowerCase() == "foobar"

openj9 jcl java.lang.String.toLowerCase() does not seem to do that, maybe toUpperCase() too...?

[2018-10-16 16:43] fengxue-IS commented on #3273
looking into this

[2018-10-16 17:33] #3264 closed

[2018-10-16 17:38] fjeremic commented on #3303
I don't see anything in the specification that says we must return the same instance. This seems like a JVM implementation detail.

[2018-10-16 17:38] JasonFengJ9 commented on #3154
The failure wasn't due to VM configuration. The test should skip incompatible tests, i.e., skip `-Xcompressedrefs` tests for `noncompressedrefs` JVM, or skip `-Xnoncompressedrefs` tests for `compressedrefs` JVM.

Looked at same `SoftmxRASTest1` for `linux_x86-64_cmprssptrs` spec, within `functional/JLM_Tests/autoGen.mk`
[code]

But for `osx_x86-64_cmprssptrs` there was no `SoftmxRASTest1_0_INVALID

[2018-10-16 17:51] hangshao0 commented on #3265
This is a test issue. The code is in openj9-systemtest repo. I opened an issue there: https://github.com/eclipse/openj9-systemtest/issues/46

[2018-10-16 18:25] smlambert opened #3307 "Update testkitgen to support new osx_x86-64 and osx_x86-64_cmprssptrs specs"
We have been using SPEC=macos_x86-64 for testing hotspot mac builds at Adopt.  I see that the specs at openj9 are named differently, we should update to recognize both, or shift to use osx_ naming.

This should also address the fact that we now have a cmpressedrefs osx build, and need to have testkitgen skip tests that are not applicable.

[2018-10-16 18:44] pdbain-ibm commented on #3307
There is also an issue with the native libraries:
[code]

See also https://github.com/eclipse/openj9/issues/3292

[2018-10-16 19:03] JasonFengJ9 commented on #3154
Thanks @smlambert https://github.com/eclipse/openj9/issues/3307

[2018-10-16 19:40] renfeiw commented on #3307
We need to an entry to ottawa.csv and mode service about the new macos spec, in this way, the tests will be filtered based on the corresponding modes and spec.

[2018-10-16 23:43] #3266 closed

[2018-10-16 23:43] pshipton opened #3316 "ASSERTION FAILED ** at ../../../../gc_glue_java/MarkingDelegate.hpp:117: ((false && ((UDATA)0x99669966 == clazz->eyecatcher)))"
Occurred building the functional sanity tests on head.

https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/97/console
[code]

[2018-10-17 01:41] DanHeidinga commented on #3017
The original reported problem of matching the RIs behaviour of assigning all classes loaded before `java.base` is initialized to the `java.base` module has been resolved in another way.

I think this is still interesting and may be a first step towards better TI-style support for modules.

[2018-10-17 01:50] pshipton commented on #3265
Resolved by eclipse/openj9-systemtest#48

[2018-10-17 01:50] #3265 closed

[2018-10-17 01:59] DanHeidinga commented on #999
https://github.com/eclipse/openj9/pull/1831 resolves this issue

[2018-10-17 01:59] #999 closed

[2018-10-17 08:54] SueChaplain commented on #3284
@fjeremic - this sounds like a change for external documentation, which requires the label doc:externals and an issue needs opening at openj9-docs repo: https://github.com/eclipse/openj9-docs/issues/new?template=new-documentation-change.md

[2018-10-17 10:25] pshipton opened #3319 "building functional tests failing with openjdk-tests/functional/build.xml:52: java.lang.NullPointerException"
First started occurring in omr acceptance builds
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance/851/
(note some previous builds were cancelled)
OpenJ9: 3cc0d66
OMR: 4e4fa19
OpenJDK8: 1ba8f1a
OpenJDK11: 4f9e2ba
OpenJDK9: 364c38a
Only seems to occur on Java 11 linux_x86

failure 1 https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/93/cons

[2018-10-17 10:32] pshipton commented on #3319
An omr promotion at openj9 sha 34b9d4f promoted. Looking at the changes between 34b9d4f and 3cc0d66 it seems likely that https://github.com/eclipse/openj9/pull/3295 , which has the affect of enabling shared classes by default on xlinux, is causing the problem.

[2018-10-17 10:38] pshipton commented on #3316
Similar issue https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64/52/console
[code]

[2018-10-17 10:39] pshipton commented on #3316
@dmitripivkine

Unfortunately these build failures don't capture the core files.

[2018-10-17 10:48] pshipton commented on #3319
Shared classes was initially enabled by default in #2449 but the changes did not affect xlinux.

[2018-10-17 10:57] pshipton commented on #3039
Another on aix71-p8-1
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/104

[2018-10-17 11:40] pshipton commented on #1646
Reopening since #3295 has been reverted and likely #2449 will be as well.

[2018-10-17 12:22] pdbain-ibm opened #3321 "Debug cmdLineTests on MacOS"
Further to
https://github.com/eclipse/openj9/issues/3154#issue-367004249

(Sanity: TOTAL: 81 EXECUTED: 81 PASSED: 2 FAILED: 79 SKIPPED: 0)
(Extended: TOTAL: 83 EXECUTED: 83 PASSED: 0 FAILED: 83 SKIPPED: 0)
Most cmdLineTests fail with " Darwin is not a supported OS platform"
Some variants of cmdLineTester_GCRegressionTests - fail with JVMJ9VM007E Command-line option unrecognised: -Xgcpolicy:metrono

[2018-10-17 12:45] siruslan commented on #2312
I'm going to talk about [elasticity of JVM at Code One](https://oracle.rainfocus.com/widget/oracle/oow18/catalogcodeone18?search=elastic%2Bjvm) and would love to mention OpenJ9 as well. However, after reading this thread I'm still not sure if it works properly already / if the issue was fixed. Can somebody summarize the current state and the plans on it?  So I can pass this info to the audience wi

[2018-10-17 12:47] pdbain-ibm commented on #3321
Need to set `BUILD_LIST=functional/cmdLineTests,functional/cmdline_options_testresources,functional/cmdline_options_tester`.  The last item is required to build `cmdlinetester.jar`.

[code]

The shared memory tests may fail because they set `-Xscmx5M`, which is larger than the default setting setting of `kern.sysv.shmmax` to 4 MB on some MacOS systems. To fix, create `/etc/sysctl.conf` containing:

[2018-10-17 13:29] JasonFengJ9 commented on #3154
With latest https://github.com/eclipse/openj9/blob/master/test/TestConfig/resources/ottawa.csv, `SoftmxRASTest1, SoftmxRASTest2` now pass.
[code]

[2018-10-17 13:33] pshipton commented on #3316
This is possibly a duplicate of https://github.com/eclipse/openj9/issues/3319

[2018-10-17 13:48] pdbain-ibm commented on #3321
Test results:
[code]
The `cmdLineTester_GCRegressionTests` mentioned in
https://github.com/eclipse/openj9/issues/3154#issue-367004249 all passed.

[2018-10-17 13:49] DanHeidinga commented on #2312
@siruslan That's awesome to hear!

@dinogun @ashu-mehra Can you update @siruslan on the current state of the idle detection work?

[2018-10-17 13:52] pdbain-ibm commented on #3154
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurred. Program will exit.

Could not reproduce the issue: see https://github.com/eclipse/openj9/issues/3321.  Note that I ran with `JVM_OPTIONS=-Xcompressedrefs`.  Please advise if there are different modes I should try.

[2018-10-17 14:28] dmitripivkine commented on #3316
The reason of both of these failures is heap corruption most likely.
An assertion in Concurrent mark might be a reason of heap corruption or stall reference to object collected already.
An assertion in Scavenger means that indexable object has illegal size. There are two possibilities here: garbage in array size slot treated as Contiguous array size or zero there (also corruption) treated an array

[2018-10-17 14:31] renfeiw commented on #3307
ottawa.csv is updated: #3312, mode service database is also updated. This should handle the issue that tests running on inapplicable platforms.

[2018-10-17 14:37] pdbain-ibm commented on #3321
- cmdLineTester_SCURLClassLoaderNPTests_* are failing due to insufficient shared memory (try 32M instead of 8).
- cmdLineTest_sigxfszHandlingTest_0: `java" -Xcompressedrefs -cp "/Users/pdbain/macprojects/openj9test/openjdk-tests/TestConfig/scripts/testKitGen/../../../../jvmtest/functional/cmdline_options_testresources/cmdlinetestresources.jar" -XX:+HandleSIGXFSZ j9vm.test.sigxfsz.SignalXfszTest te

[2018-10-17 14:40] JasonFengJ9 commented on #3154
TAP Extended Test Results: 1 files | 7 tests, 3 ok, 4 not ok, 0 skipped, 0 ToDo, 0 Bail Out!
There wasn't enough info about those `4 not ok` tests.

with _sanity.functional test target: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/307/

`_sanity.functional` failures are due to compilation failure as well (native tests weren't built).

[2018-10-17 14:42] JasonFengJ9 commented on #3307
Does this help https://github.com/eclipse/openj9-systemtest/issues/49?

[2018-10-17 14:42] fjeremic commented on #3284
Thanks @SueChaplain this is more of a shell item for me to track the work needed. This is exactly the information I would have been looking for. Thanks for chiming in ahead of time! I'll be opening up the suggested issue closer to when I begin this work in the next week or so once I have some more details.

[2018-10-17 14:59] babsingh opened #3323 "Setup OSX Machines for JDK8"
## Setting up the machine

- Install Mac OS X 10.10 (Yosemite)

- The instructions below must be executed with `sudo` permissions.

- Install brew
[code]

- Download Xcode 4.6.3 from https://developer.apple.com/downloads.
[code]

- Drag Xcode.app for Xcode4 into /Applications/Xcode4. Alternate command line variant to mount and copy the Xcode dmg file. This will help in automating the setup process

[2018-10-17 15:00] babsingh commented on #3323
fyi - @DanHeidinga @groeges @AdamBrousseau @jdekonin

[2018-10-17 15:01] babsingh commented on #3323
related to https://github.com/eclipse/openj9/issues/36

[2018-10-17 15:36] pdbain-ibm commented on #3321
I copied the libraries from `build/macosx-x86_64-normal-server-release/vm/lib*.dylib` to  `build/macosx-x86_64-normal-server-release/images/jdk/bin//../../native-test-libs`.
Test `cmdLineTest_gpTest_0` hangs Testing: abort. It creates a process which does not respond to signals and must be `kill -9`-ed.

[2018-10-17 15:36] DanHeidinga commented on #3321
That should be fixed in the latest OMR level.

[2018-10-17 15:37] pdbain-ibm commented on #3321
How recent?

[2018-10-17 15:38] DanHeidinga commented on #3321
It's this commit - https://github.com/eclipse/openj9-omr/commit/3c0ec910da58070f0e7a9d49e7606d77fb4843e4

I think the OMR level promoted this morning.

[2018-10-17 15:39] jdekonin commented on #3323
@cwillhelm can you please setup the remaining 3 macs using these instructions.  Please provide any questions or feedback here.  Thanks.

[2018-10-17 15:43] cwillhelm commented on #3323
For these statements `Drag Xcode.app for Xcode4 into /Applications/Xcode4`

is it as simple as doing `cp Xcode.app` into `/Applications/Xcode4` Or are there other files / steps that need to be done? I ask because this configuration is being done completely from the CLI.

[2018-10-17 15:51] babsingh commented on #3323
@cwillhelm Xcode comes as a `*.dmg` file. To access `Xcode.app`, mounting and unzipping is done by the OS when you double click the `*.dmg` file. If you can convert `*.dmg` -> `Xcode.app`, then `cp` should probably work. You will have to figure out the cmds.

[2018-10-17 15:59] babsingh commented on #36
@DanHeidinga @0xdaryl **[Update]** got JDK8 to work with `JIT + compressedrefs`. creating pull requests now.

[code]

[2018-10-17 16:11] ben-walsh opened #3325 "JTReg test fail : java/nio/file/Files/CallWithInterruptSet.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/nio/file/Files/CallWithInterruptSet.java has 3 similar failures of the form ...

[code]

Test passes against Hotspot.

Compiling & executing following "snippet" on OJ9 and HS ...
[code]
... gives ...
[code]

Looks like what's written out to the file in OpenJ9 differs from what's written out to the file in Hotspot.

[2018-10-17 16:34] pdbain-ibm commented on #3321
- cmdLineTester_verbosetest_0: same issue on Linux X86.
- cmdLineTester_XcheckJNI_0: java.lang.UnsatisfiedLinkError: j9ben (Not found in java.library.path)

[2018-10-17 16:53] pdbain-ibm commented on #3321
Retested with the aforementioned version of OMR:
[code]
The abort test still hangs.  Running manually (after copying the necessary files to `build/macosx-x86_64-normal-server-release/images/native-test-libs`:
[code]
... and it hangs and ignores further signals.  The process required `kill -9` to stop it.

[2018-10-17 17:00] pdbain-ibm commented on #3321
Many of the failing MacOS cmdline tests also fail on LinuxX86.  Running the same suite on the latter:
[code]

Tests which are failing on MacOS only are:

The `SCC` test failure are likely due to shmmax being too small.

[2018-10-17 17:01] pdbain-ibm commented on #3321
The new OMR didn't fix the `HandleSIGXFSZ` issue:
[code]

[2018-10-17 17:12] ashu-mehra commented on #2312
I wouldn't say that there was any functional issue. We did make a code change in https://github.com/eclipse/omr/pull/2877 to ensure GC on every idle cycle detected by JVM rather than depending on a heuristic.
Only confusion is the amount displayed in `heap-resize` tag may not match with the reduction in RES size reported by top, which mainly arises due to incorrect interpretation of that value and

[2018-10-17 17:21] babsingh opened #3326 "OpenJ9 JDK8 OSX g++4.9 -Werror=header-guard unrecognized"
When building OpenJ9 JDK8 on OSX, the following compiler option was unrecognized: `-Werror=header-guard`.

This compiler option is used by the JIT [runtime/compiler/build/toolcfg/gnu/common.mk](https://github.com/eclipse/openj9/blob/master/runtime/compiler/build/toolcfg/gnu/common.mk#L179):
[code]

When building JDK8 on OSX, `gcc-4.9` was used. The above `ifdefs` only add the compiler option if `C

[2018-10-17 17:37] babsingh commented on #3323
fyi @sxa555

[2018-10-17 17:38] babsingh opened #3327 "OpenJ9 JDK8 OSX - no <ARCH> defined"
Linux JDK8 has the following directory: `jre/lib/amd64/compressedrefs` [**\<arch\> = amd64**]

On OSX, the extension repo [[code](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/df909af63f86dedba15a89eff08e996ceed55274/common/autoconf/platform.m4#L274)] doesn't specify \<arch\>. `amd64` directory doesn't exist in OpenJ9 JDK8 OSX.

Since `amd64` directory doesn't exist for JDK8 on OSX, the

[2018-10-17 17:39] babsingh commented on #3327
fyi - @DanHeidinga @pshipton

related to https://github.com/eclipse/openj9/issues/36

[2018-10-17 17:41] pdbain-ibm commented on #3039
@jdekonin would you please allow me to log in to aix71-p8-1, per @pshipton 's suggestion:
https://github.com/eclipse/openj9/issues/3039#issuecomment-430277362.
Thank you

[2018-10-17 17:46] pdbain-ibm commented on #2332
Is https://github.com/eclipse/openj9/issues/2834 closed? Are there other outstanding OpenJDK options which we wish to map, beside `-XX:CompileThreshold`?

[2018-10-17 17:52] cwillhelm commented on #3323
Do you specifically need MacOS 10.10, or can we use a newer version? (10.13)

[2018-10-17 17:54] pshipton commented on #2332
-XX:NewSize, -XX:MaxNewSize, and -XX:ThreadStackSize
none of these "just worked" as mappings.

[2018-10-17 18:14] pshipton commented on #3319
FWIW I ran 6+ grinders each on the latest Java 11 xlinux compressedrefs/largeheap to build the functional sanity testing without issue. Trying the Build-Test-All which runs nightly, customized to run jdk11 xlinux* functional.sanity.

[2018-10-17 18:18] DanHeidinga commented on #3326
@nbhuiyan mentioned he'll pick this up

[2018-10-17 18:35] babsingh commented on #3323
not sure. it will depend on whether Xcode4 and Xcode7 work with a newer OSX version.

[2018-10-17 19:39] pdbain-ibm commented on #3154
Problems compiling system tests: https://github.com/eclipse/openj9-systemtest/issues/52.

[2018-10-17 19:45] smlambert commented on #3154
Details for _sanity.openjdk tests are also availabe as junit results (not just TAP): https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/305/testReport/
and also more details available via .jtr files if you [unzip in the archived results](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/305/artifact/jtr_test_output.tar.gz).

[2018-10-17 19:58] pdbain-ibm commented on #3321
Bug in the JIT_Tests:
`JVMJ9VM007E Command-line option unrecognised: -Xcompressedrefs-cp`
Fixing with https://github.com/eclipse/openj9/pull/3332

[2018-10-17 19:58] pshipton opened #3333 "-Xshareclasses by default causes a number of issues"
When -Xshareclasses:bootClassesOnly was enabled by default on xlinux jdk11, a number of issues occurred which I believe are all caused by AOT code in the shared cache.

https://github.com/eclipse/omr/issues/3075 / https://github.com/eclipse/openj9/issues/3319
https://github.com/eclipse/omr/issues/3076
https://github.com/eclipse/omr/issues/3077
https://github.com/eclipse/openj9/issues/3316

[2018-10-17 20:02] pshipton commented on #3333
@dsouzai

[2018-10-17 20:11] dsouzai commented on #3333
Is there any way to run some of these with `-Xaot:disableSymbolValidationManager` or perhaps `export TR_OptionsAOT=disableSymbolValidationManager` ?

[2018-10-17 20:17] JasonFengJ9 commented on #3154
Looking at `java/lang/System/MacEncoding/MacJNUEncoding.java.MacJNUEncoding`.

[2018-10-17 20:40] pshipton commented on #3319
I'm calling this fixed by #3320. I'm also going to revert #2449 to disable shared classes by default for all platforms.

[2018-10-17 20:40] #3319 closed

[2018-10-17 20:54] pshipton commented on #3333
Note that except for eclipse/omr#3076, the problems occurred when compiling the functional tests, and not an actual test case. The best thing would be set it up on a local machine and try to recreate there manually. Then you'll have the shared cache which caused the problem, and can also try setting environment variables to try different options.

[2018-10-17 21:03] pshipton commented on #1646
Moving to the 0.12.0 milestone since its too late to fix this in 0.11.0

[2018-10-17 21:04] pshipton commented on #3316
I expect this is caused by #3333, and fixed by #3320

[2018-10-17 21:04] #3316 closed

[2018-10-17 21:28] pshipton commented on #3294
@0dvictor any progress on this?

[2018-10-17 21:36] 0dvictor commented on #3294
Sorry, I'm still working on it. More testing and debugging is needed; however, none of the changes belong to OpenJ9.

[2018-10-17 21:37] babsingh commented on #3323
Added instructions to **Build OpenJ9 JDK8** in the first post.

[2018-10-17 21:41] pshipton commented on #3294
Understood, this issue is for tracking against the milestone.

[2018-10-17 21:43] pshipton commented on #3294
@0dvictor Are there any other Issues/PRs that can be referenced here for the ongoing work?

[2018-10-17 21:58] 0dvictor commented on #3294
Just created an Issue https://github.com/AdoptOpenJDK/openjdk-tests/issues/651

[2018-10-17 22:29] pshipton commented on #3333
Note that @hangshao0 was trying to recreate #3319 and only found one internal jenkins machine where it occurred.

[2018-10-18 02:03] 0dvictor opened #3338 "Concurrent Scavenge support on X86"
#3054 has built a framework for X86 to support Concurrent Scavenge, and brought up the support on linux_x86-64_cmprssptrs.spec. This Issue is a follow-up to bring Concurrent Scavenge to all X86-64 specs.

List of works:
- [x] Optimizer to insert read barrier where necessary (for non-compressedref); #3362
- [x] CodeGen to enhance its read barrier related evaluators to support non-compressedref; #33

[2018-10-18 02:50] pshipton commented on #3294
Testing is manual for the 0.11 release. Automated testing will be enabled shortly after https://github.com/eclipse/openj9/issues/3338 is completed.

[2018-10-18 03:16] babsingh commented on #3323
A good source for build platform requirements - https://wiki.openjdk.java.net/display/Build/Supported+Build+Platforms.

### JDK 8 build platforms supported by Oracle
OS and CPU | OS Type/Vendor | OS Version | Compiler/Toolchain Type/Vendor | Compiler/Toolchain version | Notes
-- | -- | -- | -- | -- | -- |
Mac OSX x86_64 | Mac OS X | 10.7 (Lion) | Xcode / gcc | 4.6.2 |

### Other JDK 8 build platfo

[2018-10-18 05:08] #3326 closed

[2018-10-18 12:35] pshipton commented on #3039
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/106
aix71-p8-1

[2018-10-18 12:42] pshipton opened #3340 "Test-sanity.system-JDK10-linux_x86-64 DaaLoadTest_daa1_0 crash vmState=0x000507ff"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK10-linux_x86-64/100
[code]

[2018-10-18 12:43] pshipton commented on #3340
@andrewcraik

[2018-10-18 12:45] andrewcraik commented on #3340
@cathyzhyi could you take a look? probably a recent issue...

[2018-10-18 12:47] pshipton opened #3341 "Test-extended.functional-JDK10-aix_ppc-64_cmprssptrs TestAttachErrorHandling.testVmShutdownWhileAttached"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK10-aix_ppc-64_cmprssptrs/92/
aix71-p8-2

Error Message

com.sun.tools.attach.AttachNotSupportedException: acknowledgement timeout from 20316346 on port 50402

Stacktrace
[code]

[2018-10-18 12:48] pshipton commented on #3341
@pdbain-ibm

[2018-10-18 13:23] pdbain-ibm opened #3342 "MacOS: sigxfszHandlingTests fail"
[code]

[2018-10-18 14:01] pdbain-ibm opened #3343 "MacOS creates system dumps in jdk bin directory"
Core dumps should end up in $PWD, not the same directory as the java executable.

Running on Linux:
[code]

Running on Mac:
[code]

[2018-10-18 14:02] mpirvu opened #3344 "JITaaS: Free client specific data on VM shutdown"
The JITaaS server caches information pertaining to JITaaS clients in an internal hashtable maintained per client (client UUID is the key). The entry referring to a client is purged if there is no compilation request received during some defined time interval.
These data can be purged sooner if the client sends a specific message to the server when the JVM terminates.

[2018-10-18 14:02] pdbain-ibm commented on #3321
`cmdLineTests/classesdbgddrext` failing due to https://github.com/eclipse/openj9/issues/3343 (MacOS specific).

[2018-10-18 14:28] PTamis commented on #2585
During the compilation I caught some strange warnings.
`Warning: vm/compiler/../libj9jit29.so uses hard float, vm/compiler/../lib/libj9codert_vm.a(cnathelp.o) uses soft float`
`Warning: vm/compiler/../libj9jit29.so uses hard float, vm/compiler/../lib/libj9util.a(fltconv.o) uses soft float`
`Warning: vm/compiler/../libj9jit29.so uses hard float, vm/compiler/../lib/libj9util.a(bcdump.o) uses soft fl

[2018-10-18 14:37] pdbain-ibm opened #3346 "MacOS: shared classes cannot allocate memory"
JVMSHRC005I No shared class caches available
JVMSHRC659E An error has occurred while opening shared memory
JVMSHRC336E Port layer error code = -393970
JVMSHRC337E Platform error message: shmget : Cannot allocate memory
JVMSHRC029E Not enough memory left on the system
JVMSHRC663I Error recovery: destroyed semaphore set with id=12189697 associated with shared class cache.
JVMJ9VM015W Initialization

[2018-10-18 14:38] cathyzhyi commented on #3340
Can't reproduce locally.
backtrace from coredump:
#13 0x00007fcb2daf3dbc in nullchkSimplifier(TR::Node*, TR::Block*, TR::Simplifier*) ()
#14 0x00007fcb2dac4fad in OMR::Simplifier::simplify(TR::Node*, TR::Block*) ()
#15 0x00007fcb2dac504b in OMR::Simplifier::simplify(TR::TreeTop*, TR::Block*) ()
#16 0x00007fcb2dac50f6 in OMR::Simplifier::simplify(TR::Block*) () from sdk/lib/default/libj9jit29.so
#1

[2018-10-18 14:39] ben-walsh opened #3347 "JTReg test fail : java/rmi/dgc/dgcAckFailure/DGCAckFailure.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/rmi/dgc/dgcAckFailure/DGCAckFailure.java fails with ....

[code]

Test passes against Hotspot.

There is only a single line in the source code which throws such an exception - https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/java.rmi/share/classes/sun/rmi/transport/Transport.java#L177

Having impo

[2018-10-18 15:22] fjeremic commented on #3340
Seems we have a jitdump but it's empty :/ we really ought to fix the logic to reproduce these issues. Anything we can extract from the core file using TR Extract from Irwin's instructions on RT Talk?

[2018-10-18 15:45] hangshao0 commented on #3346
From http://www.spy-hill.com/myers/help/apple/SharedMemory.html
[code]

It is only 4MB

[2018-10-18 15:51] vijdotsingh commented on #3340
@pshipton @andrewcraik  Stop ship (or potential stop ship) for 0.11 ?

[2018-10-18 15:52] mpirvu opened #3349 "JITaaS: Aggressively cache information for j9classes at the server"
Currently, when the JITaaS server inquires about some field of a j9class the following pattern is used:
[code]
The proposal is to fetch all the info about a j9class (not just the desired field) when it is not cached. This transfers a lot more data, but the assumption is that future queries about j9class fields will be avoided, thus saving CPU.
We need to measure whether this technique actually sav

[2018-10-18 15:53] andrewcraik commented on #3340
@cathyzhyi is still looking - until we understand the problem it is hard to say. It is the only crash like this we have seen so far.

[2018-10-18 15:56] fjeremic commented on #3349
Do we have data on which fields we usually request info about? Is it only specific classes (recognized fields for example or JCL classes) or is it arbitrary classes?

[2018-10-18 16:03] ymanton commented on #2585
Yes you are right, the code in the PPCHWProfiler files will only run on certain POWER processors. The inline assembly should be better guarded or the files should not be built at all on platforms like yours ideally, but it's a minor issue. I'll keep it in mind.

Most of the code in libj9jit is dedicated to the compiler itself, which doesn't do a lot of floating point math, but some code is runtime

[2018-10-18 16:11] shingarov commented on #2585
Out of curiosity, how is your `gcc` configured?  I explicitly invoke the OMR configure script with `CC=powerpc-linux-gnuspe-gcc` and that gcc just comes in a Debian package and `-v` says it was compiled with `--with-cpu=8548 --enable-e500_double --target=powerpc-linux-gnuspe`.

[2018-10-18 16:12] mpirvu commented on #3349
The classes are arbitrary.
Examples of fields the optimizer wants to know can be found in https://github.com/eclipse/openj9/issues/3201

[2018-10-18 16:59] pdbain-ibm commented on #3346
I'll fix that and retest.  Unfortunately that means a reboot.

[2018-10-18 17:13] mpirvu opened #3351 "JITaaS: Override isAnonymousClass(TR_OpaqueClassBlock *j9clazz)"
This frontend method accesses j9class fields and needs to be overridden to work correctly at the JITaaS server. Probably it was missed because the definition is in the header file rather than the cpp file.

[2018-10-18 17:13] mpirvu commented on #3351
@satbir-ca Could you please implement this missing frontend query?

[2018-10-18 17:14] PTamis commented on #2585
@ymanton FP cannot be excluded.
I tested tomcat to see the load time and it took considerable time to load along with all its apps.
I believe that FP is the bottleneck and it took so much time to load. FP tests alone are getting 30x times slower indeed.

@shingarov `CC=powerpc-linux-gnuspe-gcc -m32 -mcpu=8548 -mabi=spe -mspe -mfloat-gprs=double --sysroot=/` as an environmental variable

configurat

[2018-10-18 17:19] satbir-ca commented on #3351
@mpirvu I will do that. Thanks

[2018-10-18 17:38] #1470 closed

[2018-10-18 17:47] AlenBadel commented on #2994
Main issue:
PPC ABI is not being followed on Linux and AIX when calling VM Helpers from JIT compiled code.
ABI behavior requires that the caller of a C/C++ compiled method pass the TOC of the calle's library. In this case the JIT is calling the compiled method. Under ABI, the JIT(caller) is required to load r12(PPCLE) or r2(AIX, LinuxX64BE) with the jitTOC, or the target method's address respectiv

[2018-10-18 18:27] keithc-ca commented on #36
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/147 (and equivalent PRs for jdk11 and jdk12) allow specification of distinct compilers for use in compiling OpenJ9.

[2018-10-18 18:59] pdbain-ibm commented on #3039
The problem is that attach API thinks that PID -1 is a valid process. IPC.java:
[code]
attach.c:
[code]
omrsysinfo.c:
[code]

[2018-10-18 19:31] babsingh opened #3359 "JDK8 OSX: Compiler Warnings -- JIT code"
When building OpenJ9 JDK8, the following compiler warnings were seen for the JIT code:

- `warning: cast to pointer from integer of different size [-Wint-to-pointer-cast]` **[Count = 23]**
- `warning: converting to non-pointer type 'uint32_t {aka unsigned int}' from NULL [-Wconversion-null]` **[Count = 4]**
- `J9SymbolReferenceTable.cpp:1375:42: warning: NULL used in arithmetic [-Wpointer-arith]`

[2018-10-18 19:32] babsingh commented on #3359
fyi - @DanHeidinga @0xdaryl @nbhuiyan

related to #36.

[2018-10-18 20:10] ChengJin01 commented on #2980
The work on installing Clang7 will be finished via https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/514

[2018-10-18 20:40] #3201 closed

[2018-10-18 20:50] cathyzhyi commented on #3340
Thanks to Filip's suggestion and I was able to dig out some more info with jextract. The crash was the following lines https://github.com/eclipse/omr/blob/ea548a66bf35e8638e4f0ea379f26c2f2897766b/compiler/optimizer/OMRSimplifierHandlers.cpp#L16386-L16390  in `nullchkSimplifier` didn't consider the case where the null check doesn't have a grandchild.
In this case, the child of the `nullchk` was cha

[2018-10-18 21:17] lmajewski commented on #2585
@ymanton

With `-Xjit:disableFPCodeGen` I see 30x slower performance on FP-intensive programs on large servers as well, so I think that is an unavoidable reality.

Yes, the floating point support is necessary. The observed performance regression is not acceptable.
I'm now looking into the kernel to see what exactly fails with JIT generated code.

From my understanding -> as we emulate FPU instruct

[2018-10-18 21:34] vijaysun-omr commented on #3340
I don't know what the failure rate was for this failure with 0.11 but maybe we can try the same test with 0.10 to see if it's a new problem ? I don't know of new changes specifically done to handle BigDecimal better and so it's possible it was a pre-existing intermittent bug.

[2018-10-18 21:36] andrewcraik commented on #3340
I agree with @vijaysun-omr that the source of the fold should be fixed. If we can get a log etc we should try to find the source of the folding and make sure that point fixes the treetop if necessary. Given that the compiler fell over some defensive code to handle this case in simplifier with an ASSERT stating we shouldn't have to handle the case because whoever folded the first grandchild of the

[2018-10-18 22:29] siruslan commented on #2312
@ashu-mehra, thank you for clarification! It helps. Few more comments:

I got a chance to test this build too today.

[code]
As we can notice Committed stays the same and it does not go down while Used decreases automatically, [I use MemoryMXBean for checking these values](https://github.com/jelastic/java-vertical-scaling-test/blob/master/src/com/jelastic/verticalscaling/MemoryUsage.java#L37). Is

[2018-10-18 22:44] dsouzai commented on #3333
I tried running locally, on ub16hcxrt2, with forceAOT, always using the "new" AOT code, always using the "old" AOT code, using an OpenJ9 build of a SHA right before the reverts, using the build from https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/100/console (https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/100/fingerprin

[2018-10-19 00:37] pshipton commented on #3333
@dsouzai maybe you already have, but if not please check with @hangshao0 as he was able to reproduce it on one machine.

[2018-10-19 00:48] hangshao0 commented on #3333
ub16hcxrt2 is the machine that I reproduced this failure yesterday.

[2018-10-19 00:53] smlambert opened #3366 "DDR Tests do not compile with OpenJ9 OSX builds"
From https://ci.adoptopenjdk.net/view/Test_weekly/job/openjdk11_j9_functionaltest_x86-64_macos/4/consoleFull

00:08:49     [javac] /Users/jenkins/workspace/openjdk11_j9_functionaltest_x86-64_macos/openjdk-tests/functional/DDR_Test/src/j9vm/test/ddrext/AutoRun.java:60: error: package com.ibm.j9ddr.tools.ddrinteractive does not exist
00:08:49     [javac] import com.ibm.j9ddr.tools.ddrinteractive.Con

[2018-10-19 00:54] pshipton commented on #3333
@hangshao0 thanks. Please help check what @dsouzai is doing to see if it can be repeated again.

[2018-10-19 00:55] pshipton commented on #3333
@dchopra001 note @DanHeidinga was also seeing problems on macOS.

[2018-10-19 01:08] hangshao0 commented on #3333
@dsouzai, you'd better clean up the existing shared cache on the system each time before running.

[2018-10-19 02:54] dsouzai commented on #3333
Yup I've been doing that.

The job @hangshao0 linked me used a different JVM than what I was running, so I'll try running with that tomorrow.

[2018-10-19 04:38] smlambert opened #3369 "FindDeadlockTest test hangs when native library not present (jdk11 OSX)"
Will need to provide the test natives for functional tests.  Can not get through the functional test suite due to this hang:
https://ci.adoptopenjdk.net/view/Test_weekly/job/openjdk11_j9_functionaltest_x86-64_macos/5/console

04:46:53 +++ j9vm.test.thread.FindDeadlockTest: +++
04:46:53 command: /Users/jenkins/workspace/openjdk11_j9_functionaltest_x86-64_macos/openjdkbinary/j2sdk-image/bin/java -Xc

[2018-10-19 07:15] bmhm opened #3370 "Supporting BSD builds"
Hi everyone!

I just tried on a FreeBSD platform:
`# ./makejdk-any-platform.sh --build-variant openj9 --skip-freetype jdk8u`

Result was:
[code]

As [Mac is supported](https://github.com/eclipse/openj9/issues/36) with a somewhat similar kernel, I wonder what it would take to support *BSD systems.

I know the BSD platforms have become less popular since cloud services and docker on linux have arriv

[2018-10-19 10:49] DanHeidinga commented on #36
As we've delivered mac on jdk 11 for the 0.11.0 release, moving the remaining work to 0.12.0

[2018-10-19 10:56] martinlippert opened #3371 "can't run Eclipse itself using jdk11+28 on macOS"
Tried to run Eclipse using OpenJDK 11 with J9 on macOS (jdk11+28), but it fails with a message: "Failed to create Java Virtual Machine"

Specified the J9 VM in the ini file using "-vm" option, as usual.

[2018-10-19 13:00] pdbain-ibm commented on #3346
Thanks @hangshao0 . That did the trick:

kern.sysv.shmmax=33554432
kern.sysv.shmmin=1
kern.sysv.shmmni=32
kern.sysv.shmseg=8
kern.sysv.shmall=8192
$ java -Xshareclasses:nonpersistent,controlDir=.,name=Sanity,expire=0 -Xscmx5M -cp $HOME/lib HelloWorld
JVMSHRC005I No shared class caches available
Hello, world!

[2018-10-19 13:00] #3346 closed

[2018-10-19 13:02] pdbain-ibm commented on #3321
shared classes tests fixed by setting

- kern.sysv.shmmax: 33554432
- kern.sysv.shmall: 8192

 https://github.com/eclipse/openj9/issues/3346.

[2018-10-19 13:28] mpirvu opened #3372 "JITaaS: jitConfig is common for all clients connecting to the server"
During compilation the JITaaS server may access various fields from jitConfig and privateJitConfig. Currently, these structures are global to the entire JVM and this leads to problems when multiple clients, that are configured differently, connect to the server. The desired behavior is for the server to have a separate jitConfig copy for each client that is connected.

Possible solution:
- Create

[2018-10-19 13:36] #3327 closed

[2018-10-19 13:45] pdbain-ibm commented on #3321
- URLClassLoaderTests: all passed
- jvmtitests: failed due to "Agent library jvmtitest could not be opened",
https://github.com/eclipse/openj9/issues/3321
- modularityddrtests: failed due to missing dump file: issue
https://github.com/eclipse/openj9/issues/3343
- shareClassTests/SCCMLTests: ibid
- shrcdbgddrext: fails with error `The variable "SHARECLASSESOPTION" does not exist; original string us

[2018-10-19 13:50] DanHeidinga commented on #3346
Is this something we should document for users?  I don't know what the common setting for `kern.sysv.shmall` is on mac

[2018-10-19 13:59] DanHeidinga commented on #3371
@pdbain-ibm Can you take a look at this?

[2018-10-19 14:00] pdbain-ibm commented on #3346
On my machine `smmax` was 4 meg and `shmall` was 1024 pages.  @DanHeidinga if you want to check on your machine, the command is `sysctl -a`, though I pipe it through `grep shm` to limit the output.

[2018-10-19 14:05] #3351 closed

[2018-10-19 14:17] pdbain-ibm commented on #3371
Will do.

[2018-10-19 14:35] fjeremic opened #3373 "Agent support for exception catch information"
This Epic tracks the work to enable agents to request exception catch information without the JVM going into Full Speed Debug (FSD) mode. Most of the work here is on the VM side but there are JIT portions as well to ensure we have a stack map at the start of every exception catch block and to ensure we don't enable throw to goto transformations when this mode is enabled.

Other than the obvious de

[2018-10-19 14:36] fjeremic commented on #3373
@gacholio I've opened up the Epic to track the work but I'm not too familiar with the VM portion or the high level. I've written down what I could but I encourage you to add some more detail here if possible. I'll open up the JIT issues for us to tackle against this Epic. I've also tagged it for 0.12.0 as I asumme the work will be done for the next release. @pshipton FYI.

[2018-10-19 14:39] fjeremic opened #3374 "Ensure stack maps are generated for exception catch blocks on x86"
Please see the parent Epic for further details. We need to ensure that under the new mode we generate stack maps at the start of every exception catch block and ensure that we don't enable throw to goto transformations when this mode is enabled.

[2018-10-19 14:40] fjeremic opened #3375 "Ensure stack maps are generated for exception catch blocks on Power"
Please see the parent Epic for further details. We need to ensure that under the new mode we generate stack maps at the start of every exception catch block and ensure that we don't enable throw to goto transformations when this mode is enabled.

[2018-10-19 14:40] fjeremic opened #3376 "Ensure stack maps are generated for exception catch blocks on Z"
Please see the parent Epic for further details. We need to ensure that under the new mode we generate stack maps at the start of every exception catch block and ensure that we don't enable throw to goto transformations when this mode is enabled.

[2018-10-19 14:44] ben-walsh opened #3377 "JTreg test fail : java/rmi/server/RemoteServer/AddrInUse.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/rmi/server/RemoteServer/AddrInUse.java fails with ...

[code]

Test passes against Hotspot.

Log archive : [AddrInUseProb.tar.gz](https://github.com/eclipse/openj9/files/2496274/AddrInUseProb.tar.gz)

[2018-10-19 14:46] fjeremic commented on #3131
@keithc-ca this seems to be the last item tagged for 0.11.0. What sort of work needs to be done here? Do we have an ETA or dependencies on external documentation for this or is this just internal documentation?

[2018-10-19 14:50] pdbain-ibm opened #3378 "MacOS: cmdLineTester_verbosetest_[0,3,5,6] verbose:dynload fails"
Passes on Linux.

[code]
`Required condition was not found: [Output match: Loaded java/lang/Object from]`

[code]

[2018-10-19 14:54] pdbain-ibm commented on #3321
- Issue https://github.com/eclipse/openj9/issues/3378 for `verbosetest` failures.
- `shrcdbgddrext` failed on Linux for other reasons.

[2018-10-19 14:55] pdbain-ibm opened #3379 "MacOS: cmdLineTester_shrcdbgddrext_1 fails"
Grabbing this from the log:
[code]
and running it gives:
`The variable "SHARECLASSESOPTION" does not exist; original string used to construct the variable name was "SHARECLASSESOPTION"`.  Test case bug?

[2018-10-19 15:00] #3288 closed

[2018-10-19 15:02] gacholio commented on #3373
The main issue I ran into when doing the VM side of the work  was that bytecode PC information is stored in the JIT exception handler data only in FSD mode.

- jitExceptionHandlerSearch updates userData1 with the bytecode PC if present
- getJitPCOffsetFromExceptionHandler assumes the bytecode PC data is there

Both of the above are used in the JVMTI Exception event (i.e. exception throw) to identi

[2018-10-19 15:05] pshipton commented on #3370
Basically this means that OpenJDK doesn't support bsd. Unless the check can be removed and the OpenJDK part of the build "just works", support for bsd needs to be added at the OpenJDK project.

[2018-10-19 15:07] ben-walsh commented on #3347
Consistently getting same failure with test java/rmi/server/UnicastRemoteObject/serialFilter/FilterUROTest.java

[2018-10-19 15:09] cwillhelm commented on #3323
Some additional steps to do prior to starting install:

[code]

[2018-10-19 15:13] pshipton commented on #3370
Sorry, I got that wrong. The problem is here https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/017513304aa8a65971ea5082fb479c4afd7e6f8b/jdk/make/closed/autoconf/custom-hook.m4#L204

You can try copying the settings from the linux platfom and then see what the next problem is.

[2018-10-19 15:20] pshipton commented on #3370
i.e. set
OPENJ9_PLATFORM_CODE=xa64
Then it will fail to find a [spec file](https://github.com/eclipse/openj9/tree/master/buildspecs), so copy the linux one to the correct bsd name, and see what happens.

[2018-10-19 15:53] fjeremic commented on #3373
Thank you very much for the detailed writeup @gacholio. It's great to see a design forging. @andrewcraik @gita-omr @0dvictor FYI GAC's comment above.

[2018-10-19 15:55] babsingh opened #3380 "OSX RasDump Support"
While building OpenJ9 JDK8, the following warning was seen:

[code]

For the time being, the above warning doesn't impact the OpenJ9 JDK8 build process since the feature to treat warnings as errors can be disabled. The above warning should be resolved since the end-goal is to treat warnings as errors when building OpenJ9.

The above warning showed that `defined(OSX)` is unused in the [rasdump dire

[2018-10-19 15:56] babsingh commented on #3380
fyi - @pshipton @DanHeidinga

related to #36.

[2018-10-19 15:57] DanHeidinga commented on #3346
[code]

[2018-10-19 16:04] hangshao0 commented on #3346
Yes, I think this should be documented.

[2018-10-19 16:17] hangshao0 commented on #3346
We will try an default size. We will fall back to shmmax if shmmax is less than the default size with an NLS message.

[2018-10-19 16:30] babsingh commented on #3380
@pdbain-ibm yes, it is related to [8]; `-Xdump:system:file=j9core.dmp,events=vmstop` won't get processed properly on OSX.

[2018-10-19 18:06] gacholio commented on #3242
If anything, the size restriction should be the UTF length of the target. I imagine the compiler is actually complaining because of the data[2] declaration in J9UTF8. I bet putting this in a local would elminate the warning, but the size should still be changed to be the buffer size, not the source constant size.

[2018-10-19 18:12] dsouzai commented on #3333
openjdk-tests sha:
[code]

and I used `OpenJ9-JDK11-linux_x86-64_cmprssptrs-20181017-120625` as the JDK, as well as
[code]
I ran it on `ub16hcxrt2`, basically running the same thing as https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/538/console but no luck.

[2018-10-19 18:14] dsouzai commented on #3333
I did however hit an issue on a test I was running:

[code]

From jdmpview:
[code]

`JIT-RegisterMap-O-Slot[0x00007F790F65AB68] = 0x0000000001C9A500 (jit_rbx)` is a J9Class but for some reason sits in an O-Slot. Looking at the disassembly;

[code]
`rbx` does contain an object, but then
`0x7f7977234b88 {com/.../HttpSessionContextImpl.isValid} +1408          498bdf               mov       rbx, r15`

[2018-10-19 18:18] ashu-mehra commented on #2312
I think this is expected behavior. `Used` decreases because we do a GC cycle during idle, so the heap usage goes down. But the committed heap remains the same, because when we de-commit the heap, we don't update internal GC structures at all. De-commit only involves calling `madvise(...,MADV_DONTNEED)` on the free heap pages. Physical pages backing those heap pages may be reclaimed by OS, but inte

[2018-10-19 18:46] pdbain-ibm opened #3382 "MacOS: NPE in java.lang.Class.forNameImpl(Native Method) compiling non-compressedrefs"
Following the standard recipe, but configuring for full 64-bit:
[code]
Compiling 3053 files for java.base
Exception in thread "main" java.lang.ExceptionInInitializerError
    at java.base/java.lang.J9VMInternals.ensureError(J9VMInternals.java:191)
    at java.base/java.lang.J9VMInternals.recordInitializationFailure(J9VMInternals.java:180)
    at java.desktop/java.awt.GraphicsEnvironment.getLocalGr

[2018-10-19 18:55] babsingh commented on #3244
This issue can be closed once the following pull requests are merged:
- https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/43
- https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/183
- https://github.com/ibmruntimes/openj9-openjdk-jdk10/pull/65

[2018-10-19 19:00] dsouzai commented on #3333
@jdmpapin pointed out that in

`0x7f7977234b25 {com/.../HttpSessionContextImpl.isValid} +1309          48bb000000c000000000 mov       rbx, 0x0c0000000 Obj - {java/lang/Class}`

we're not moving an object into `rbx` but rather the subtrahend. So I'm going to have to look at the disassembly further to see why `rbx` is considered a collected reference.

[2018-10-19 20:09] pdbain-ibm commented on #3371
@babsingh: @charliegracie thinks you may have some insight into this.
I am building a non-compressedrefs JDK to test his hypothesis.

[2018-10-19 20:12] 0dvictor commented on #3333
```0x7f7977234b25 {com/.../HttpSessionContextImpl.isValid} +1309 48bb000000c000000000 mov rbx, 0x0c0000000 Obj - {java/lang/Class}```

This code seems to be part of a write barrier. `0x0c0000000` should be the heap base, which contains a valid object, and hence Debugger reports the address is an object.

[2018-10-19 21:54] 0dvictor commented on #3359
I don't think JIT currently compiles with "treat warnings as errors". Same warnings are observed when building for Linux or Windows. Though it might be a good idea to cleanup the warnings.

[2018-10-19 22:14] pshipton commented on #3131
I think its documentation we can deliver to the master branch in the docs directory. We should be able to get to this next week.

[2018-10-19 23:37] gacholio commented on #3373
#3389 can be used to test the JIT changes. Once #3386 has been merged, the decomp003-NON-FSD test will fail if the JIT changes are not correct.

To run it:

[code]

[2018-10-21 11:42] bmhm commented on #3370
Thanks, I'll give you an update next week!

[2018-10-21 13:08] pshipton opened #3391 "Test-extended.system-JDK8-linux_x86-64_cmprssptrs SharedClasses.SCM23.MultiThreadMultiCL_0 NPE"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_x86-64_cmprssptrs

[code]

[2018-10-21 13:09] pshipton commented on #3391
@dsouzai

[2018-10-21 16:04] siruslan commented on #2312
Is it a safe approach? I mean, is it possible that two different processes try to reserve the same memory pages in parallel?

Ok, understood. First of all I appreciate the invested efforts into the current implementation. However from other side, most likely such approach will introduce extra complexity for understanding and tracking the real memory usage. As far as I know Shenandoah and G1 GCs ca

[2018-10-22 07:46] groeges opened #3392 "Using "../java" in system.c when looking for a shared library doesn't work on zOS"
A change went in recently: https://github.com/eclipse/openj9/pull/3176 to fix an issue with MacOS but this fix has broken the zOS builds. See issue: https://github.ibm.com/runtimes/openjdk-contribution/issues/631 for details of issue.   This needs to be resolved in order to get the zOS builds working again.

[2018-10-22 08:28] bmhm commented on #3370
* File `./jdk/make/closed/autoconf/generated-configure.sh` also needs modification, in addidion to the `custom-hook.m4` file.
* Make did complain about missing zip binary. => `pkg install zip`
* configure did complain about missing cups. => `pkg install cups`
* Boot JDK is needed, I used openjdk via pkg. Note: openjdk is version 7.161.0.1, while jdk8 is named openjdk8 (and jdk6 is named openjdk6).

[2018-10-22 12:53] TeaJayOrg opened #3393 "openj9_8u192b12: Duplicate classes in the boot class path jars"
Some classes occur at least twice - in different jars -  on the `sun.boot.class.path`:

[code]
I don't believe that this is intentional.

It makes my compiler unusable on openj9_8 as it doesn't accept duplicate class names when scanning the libraries. There are no problems with at least version 11.0.1_13  (using the jrt:/ file system). I did not have such problems with the HotSpot OpenJDK 8 (from

[2018-10-22 13:01] ben-walsh commented on #3347
Consistently getting same failure with test java/rmi/server/UnicastServerRef/serialFilter/FilterUSRTest.java.FilterUSRTest

[2018-10-22 13:34] ben-walsh opened #3394 "JTreg test fail : java/lang/invoke/lambda/LambdaStackTrace.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/lambda/LambdaStackTrace.java fails with ...

[code]

The synthetic frame (i.e. "LambdaStackTrace$$Lambda$20.000000000000D7F0.run(Unknown Source)") should not be present in the exception stack. See OpenJDK bug https://bugs.openjdk.java.net/browse/JDK-8025636.

Test passes against Hotspot.

Log archive : [

[2018-10-22 14:31] pdbain-ibm commented on #3039
from `man kill(2)`:
[code]
`IPC_processExistsImpl` should check for pid=-1.

[2018-10-22 14:58] pdbain-ibm commented on #3371
Having trouble building non-compressedrefs: https://github.com/eclipse/openj9/issues/3382.

[2018-10-22 15:02] pshipton commented on #3393
@andrew-m-leonard can you please investigate.

[2018-10-22 15:04] gacholio commented on #3376
See #3373 for latest comments.

[2018-10-22 15:04] gacholio commented on #3375
See #3373 for latest comments.

[2018-10-22 15:04] gacholio commented on #3374
See #3373 for latest comments.

[2018-10-22 15:06] gacholio opened #3397 "Ensure exception catch block stack maps are correct"
If exception catch/throw are enabled, the stack map for exception catch blocks must not be merged away - there must be a stack map with the correct bytecode PC available.

See #3373

[2018-10-22 15:11] gacholio opened #3398 "Always fill in return values in JVMTI"
GetOwnedMonitorStackDepthInfo (and quite likely others) does not always fill in the return buffer pointer (in particular, if there are no monitors, the call returns success, fills in the buffer size to 0, but does not fill in the buffer pointer with NULL.

All JVMTI calls return an error code. Any other returned information is done via pointers passed to the function. The specification states that

[2018-10-22 15:14] ben-walsh opened #3399 "JTreg test fail : java/lang/invoke/lambda/LogGeneratedClassesTest.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/lambda/LogGeneratedClassesTest.java has three failures ...

[code]

Digging deeper into these failures, compiling and executing the following example class taken from the test ...

[code]

... shows ...

When "dumpDir" is a directory which exists and is writeable ...

[code]

... the example class execut

[2018-10-22 15:33] andrew-m-leonard commented on #3393
@pshipton jtreg failure found this too, existing issue: https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/142
The problem is actually in the make file macro which we replaced with a better version of,  ListPathsSafely
Not sure if @keithc-ca know anything about why we replaced this macro?

[2018-10-22 15:34] gacholio opened #3400 "JVMTI GetOwnedMonitorStackDepthInfo does not halt target thread"
GetOwnedMonitorStackDepthInfo walks the stack of the target thread without suspending execution of the thread, resulting in crashes or inconsistent data.

[2018-10-22 15:57] dmitripivkine commented on #3382
Most likely corrupted heap. As we saw problem goes away with -Xint

[2018-10-22 16:00] babsingh commented on #3371
I saw the same error when building OpenJ9 compressedrefs; `javac` didn't run to build the JDK tools. Memory wasn't being allocated below 4GB. This issue was fixed via https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/35. `-pagezero_size 0x1000` was appended to `LDFLAGS_JDKEXE`. `-pagezero_size` is only applied when generating executables (`java`, `javac`, ...).

It may not be the same issue

[2018-10-22 16:01] JasonFengJ9 commented on #3382
Running with `-Xint` avoids the GC crash though it stopped later with following:
[code]
This is because `javax.annotation` doesn't present in `JDK11` default modules.

[2018-10-22 16:03] JasonFengJ9 commented on #3382
`OpenJDK 11 b28` has same issue, i.e., can't launch either.

[2018-10-22 16:07] JasonFengJ9 commented on #3371
@martinlippert were you able to launch `Eclipse` with an `OpenJDK JDK11` by any chance?

[2018-10-22 16:09] JasonFengJ9 commented on #3382
`Eclipse` tested was:
[code]

[2018-10-22 16:12] JasonFengJ9 commented on #3382
Probably need a newer Eclipse https://marketplace.eclipse.org/content/java-11-support-eclipse-2018-09-49.

[2018-10-22 16:13] lmajewski commented on #2585
The above behaviour puzzles me a bit.
Corresponding ASM code snippet:
[code]

It uses "ev*" ASM SPE instructions (like evdmul -> the same performance as FPU but on GPRs), so this is the fastest possible code on this SoC.
This code is _always_ compiled - even when we set 'count=0' in
`'-Xjit:disableAsyncCompilation,limit={java/lang/StrictMath.log(D)D}(count=0,breakAfterCompile)' LogTest`

Even bett

[2018-10-22 16:35] pdbain-ibm commented on #3382
I switched to a newer build JDK:
[code]
and the compilation worked fine.

[2018-10-22 16:35] #3382 closed

[2018-10-22 16:38] mpirvu opened #3401 "JITaaS: Reduce number of CompInfo_isCompiled messages"
Once JITaaS started to effectively use the code in `isLargeCompiledMethod` the number of `CompInfo_isCompiled` increased substantially. One way to reduce the number of these messages is to piggy-back on the information available in a ResolvedMethod.
The proposal is to replace the code:
[code]
with a call to
[code]
because the 'interpreted' information is already cached.

[2018-10-22 16:46] pdbain-ibm commented on #3371
Successfully built OpenJ9 Java 11 (full 64 bit). I get a splash screen, then a message: `No Java runtime present, requesting install`.

[2018-10-22 17:44] JasonFengJ9 commented on #3371
@babsingh the theory can be verified via a native application compiled and linked without `-pagezero_size 0x1000`, this app just launch an `OpenJ9 -version`. If the guess is right, `-version` won't succeed.

[2018-10-22 18:17] gacholio commented on #3373
If we want to completely remove any impact on normal production builds, the changes need only apply if the exception catch/throw events are hooked. An easy way to determine this is to check TR_DisableThrowToGoto instead of TR_FullSpeedDebug.

[2018-10-22 18:20] andrewcraik commented on #3373
@gacholio Is there an API on the VM we can query - TR_disableThrowToGoto is used to control opt and there are Xjit options to enable/disable that opt which should not change the GC Map layout in cases where throwToGoto may be turned off for debug in a non-FSD mode?

[2018-10-22 18:46] liqunl opened #3404 "Remove the workaround of UnsafeFastPath"
https://github.com/eclipse/openj9/pull/3396 is created as a workaround to a defect where we use 64-bit atomic intrinsics on IA32, which is not yet implemented. The workaround should be removed as soon as https://github.com/eclipse/omr/issues/3101 is finished.

[2018-10-22 18:48] babsingh commented on #3371
Thanks, @JasonFengJ9. I am creating a native app (with and without `-pagezero_size 0x1000`). It will invoke/wrap a call to `java` compressedrefs to verify my hypothesis.

[2018-10-22 18:53] gacholio commented on #3373
You could query the hook status (See #3389), or we could add a field in the JITConfig and set it where we disable throwToGoto. The check suggested above is a bit hacky, I agree, though I'm not sure there's any real scenario where throwToGoto would be disabled other than the hooks being active.

[2018-10-22 20:31] 0dvictor commented on #3374
On X86, the related code is part of OMR; so that an OMR pull request has been created.
https://github.com/eclipse/omr/pull/3104

[2018-10-22 21:21] gacholio commented on #3397
@andrewcraik - this is the common code change to prevent merging exception catch stack maps.

[2018-10-22 23:30] dsouzai commented on #3391
Because it's intermittent I don't have any real proof, but it's possible that this is the same root case as https://github.com/eclipse/openj9/issues/3333, namely the GC map issue described in https://github.com/eclipse/openj9/issues/3333#issuecomment-431451949

[2018-10-23 09:16] planetf1 opened #3410 "Mockito inlining appears to fail on J9/windows but work on J9/mac"
I tried building http://github.com/odpi/egeria using the JDK 8 192 J9 SDK from adoptopenjdk on Windows 10. A few of the tests use mockito inline mocking and failed (see log below)

I then tried using JDK 8 192 SDK from adoptopenjdk on MacOS Mojave and it all seemed to work just fine, as indeed does both the oracle jdk on windows, and openjdk/hotspot on windows.

So this looks like an issue with th

[2018-10-23 10:10] #3039 closed

[2018-10-23 10:31] ben-walsh opened #3411 "JTreg test fail : java/lang/invoke/modules/Driver.java"
Further to issue https://github.com/eclipse/openj9/issues/3301, test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/modules/Driver.java has these four failures where, this time, an IllegalAccessException is expected but not encountered ...

[code]

Test passes against Hotspot.

Log archive : [DriverProb.tar.gz](https://github.com/eclipse/openj9/files/2505

[2018-10-23 10:54] pshipton commented on #3410
I notice `class java.lang.Object` is in the list of classes. This is one of the classes OpenJ9 does not allow to be modified. https://github.com/eclipse/openj9/blob/7b4ace6a507a7af17b138b1de663caadcee86241/runtime/util/hshelp.c#L3226
@gacholio

[2018-10-23 11:11] pshipton opened #3412 "Test-extended.system-JDK11-linux_x86-64 SharedClassesWorkloadTest_Softmx_IncreaseDecrease_0 GPF vmState=0x000507ff"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64/57

[code]

In 5.jvm2.stderr I found the following
[code]

vmState=0x000507ff is the same as https://github.com/eclipse/openj9/issues/3340

@cathyzhyi @andrewcraik

[2018-10-23 12:47] akrus opened #3413 "OpenJ9 + JDK8 crashing with Metronome since 2018-10-19"
Hello!

Just tried to update OpenJ9 from 0.9.0 to 0.11.0 and JVM is crashing upon startup.
I tried different builds and found that OpenJDK8U-jdk_x64_linux_openj9_linuxXL_2018-10-18-11-38.tar.gz works well, but OpenJDK8U-jdk_x64_linux_openj9_linuxXL_2018-10-19-20-12.tar.gz is crashing.

[code]

[2018-10-23 13:11] andrewcraik commented on #3412
@cathyzhyi can you confirm if it is the same underlying issue? If so we should note the test in #3340 and work to get a fix for the issue in since we know the problem code if not the cause (though I think we should be close on both fronts).

[2018-10-23 13:44] pshipton commented on #3413
@akrus thanks for reporting this. While we investigate, note I expect the workaround is to run with `-Djdk.nativeCrypto=false`

https://www.eclipse.org/openj9/docs/introduction/#cryptographic-operations

@enasser @dmitripivkine

[2018-10-23 13:51] akrus commented on #3413
@pshipton, thanks, workaround works as expected.

[2018-10-23 14:52] dmitripivkine commented on #3413
Most likely Java_jdk_crypto_jniprovider_NativeCrypto_DigestUpdate has been called with jbyteArray message parameter set to NULL. It would be a reason for GetPrimitiveArrayCritical() to crash

[2018-10-23 15:20] babsingh commented on #3371
Observations for `compressedrefs`:
1) Native applications which call `java` via the `system` function work fine.
2) Native applications which invoke the JVM using JNI after linking to the shared libraries such as `libjvm.dylib` need `-pagezero_size 0x1000`. Otherwise, `Initialization error for library j9gc29(2)` will be encountered.
3) Got further by launching Eclipse using the JAR file: `java -Xs

[2018-10-23 15:37] andrewcraik commented on #3413
@alonsh I think this is an area you know about

[2018-10-23 15:38] pshipton commented on #1646
The next revision of this should enable the Platform ClassLoader by default as well.

[2018-10-23 15:39] andrewcraik commented on #3413
@ashbm5 you might know about this

[2018-10-23 16:15] tajila commented on #3392
Ill take a look at this

[2018-10-23 16:37] mbvreddy commented on #3413
@dmitripivkine Yes. all calls to ReleasePrimitiveArrayCritical() in NativeCrypto.c should be fixed. I will fix the code and create PR shortly.

[2018-10-23 17:10] gacholio commented on #3373
I'd really like to have this closed out this week. Any comments on the above strategies?

[2018-10-23 17:20] dinogun commented on #2781
Adding glibc-bin and libc-i18n packages helps to resolve this issue
[code]
However this increases the size of the image by about 27MB, looking to strip out unnecessary files to trim down the image. Should have an updated image tomorrow.

[2018-10-23 17:33] charliegracie commented on #3371
Why does OpenJDK with hotspot, which defaults to compressed references, work with the same eclipse executable?

[2018-10-23 17:53] pdbain-ibm commented on #3371
Further to
https://github.com/eclipse/openj9/issues/3371#issuecomment-432269446

Use `build/macosx-x86_64-normal-server-release/images/jdk-bundle/jdk-11.0.1.jdk/Contents/Home/bin/java`

[2018-10-23 18:17] keithc-ca commented on #3393
The recent changes to `ListPathsSafely` were so it would properly handle _source_ files whose names include the `$` character.

https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/154 should fix this.

[2018-10-23 18:17] pdbain-ibm commented on #3371
About
https://github.com/eclipse/openj9/issues/3371#issuecomment-432291933

This will be an issue with any custom Java launcher, right?

@babsingh could you try your native launcher (with the default `pagezero_size`) with Hotspot?

[2018-10-23 18:50] pdbain-ibm commented on #3371
@AdamBrousseau would it be possible to add MacOS Large Heap (alias non-compressedrefs) builds to AdoptOpenJDK so users can run Eclipse?

[2018-10-23 19:09] AdamBrousseau commented on #3371
I assume it could be easily added. I would recommend opening an issue at [AdoptOpenJDK-Build](https://github.com/AdoptOpenJDK/openjdk-build). I think Stewart is trying to get 8 working atm.

[2018-10-23 19:18] pdbain-ibm commented on #3371
As a workaround for the present issue, I have requested large heap builds on AdoptOpenJDK: https://github.com/AdoptOpenJDK/openjdk-build/issues/686.

[2018-10-23 19:46] gacholio commented on #3410
The MacOS build isn't ready for production yet (there are no official releases for JDK8) - it may not even be able to load the JIT yet, which might explain differences in behaviour from Windows (not that there are any intentional differences - all JVMTI features should work equally well on all platforms).

[2018-10-23 21:13] babsingh commented on #3371
@pdbain-ibm OpenJDK works regardless of `-pagezero_size,0x1000` being specified. OpenJ9 compressedrefs experiences `Initialization error for library j9gc29(2)` in the absence of `-pagezero_size,0x1000`.

**Compiling native app (using Java 8):**
[code]

@charliegracie not sure why Hotspot works. Guess: it may have a fail safe if memory allocation below 4GB fails. In OMR context: if `allocate_memory

[2018-10-23 21:13] pshipton opened #3420 "OMR acceptance trying to build Pipeline-Build-Test-JDK11-zos_390-64_cmprssptrs"
OMR acceptance shouldn't be gated on a z/OS build (atm).

`No item named Pipeline-Build-Test-JDK11-zos_390-64_cmprssptrs found`

https://ci.eclipse.org/openj9/blue/organizations/jenkins/Pipeline-OMR-Acceptance/detail/Pipeline-OMR-Acceptance/866/pipeline/70

[2018-10-23 21:14] pshipton commented on #3420
@vsebe

[2018-10-23 21:32] vsebe commented on #3420
Provided a list of platform to the jenkins build, zos excluded (should apply to the new builds).
[Pipeline-OMR-Acceptance](https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance/868/)

[2018-10-23 21:36] #3420 closed

[2018-10-23 22:23] gita-omr opened #3421 "Software based Concurrent Scavenge support on P"
The software based read barrier solution for pauseless GC on P

Related issue for Z: https://github.com/eclipse/openj9/issues/3276

Doc issue https://github.com/eclipse/openj9-docs/issues/134

Pull requests:
https://github.com/eclipse/openj9/pull/4159
https://github.com/eclipse/openj9/pull/4712

Dependencies:
 https://github.com/eclipse/openj9/issues/3453

[2018-10-23 22:28] gita-omr opened #3422 "Improved performance for watched fields on P"
Parent issue: https://github.com/eclipse/openj9/issues/2668
Includes design in this comment: https://github.com/eclipse/openj9/issues/2668#issuecomment-414756016

Apply  https://github.com/eclipse/openj9/issues/3153  on P

docs:
https://github.com/eclipse/openj9-docs/issues/305
test:
https://github.com/eclipse/openj9/pull/6257
PRs:
eclipse/omr#4068
#6234

[2018-10-24 08:37] ashu-mehra commented on #2312
I believe this should be taken care by the OS itself.

I think it was a conscious decision to avoid changing internal structures when de-committing the free heap, to keep the overhead of this mechanism as low as possible.
@amicic do you have any thing more to add to it?

Not exactly. I am referring to the situation when the application becomes active again after the idle cycle. It can allocate obj

[2018-10-24 09:34] lmajewski commented on #2585
@shingarov  - Have you managed to make any progress there (with e500 or RISC V)?
If yes - could you share your code (even development stage) on github?

[2018-10-24 11:57] PTamis commented on #2585
@ymanton during my tests I figure out something a bit strange.
In order to make java -version to work in my system (kernel v4) I had to enable CONFIG_MATH_EMULATION_FULL. I also enabled the traces in kernel and I can see all the FPU functions being emulated by the kernel.

Now I did the following test:
./java -Xint -version disables both JIT and AOT.

The strange thing I show in dmesg was that jvm

[2018-10-24 12:40] pdbain-ibm commented on #3371
@babsingh would you kindly attach your `main.c`?

@charliegracie @dmitripivkine does the `compressed references metadata` need to be below the 32-bit bar?

[2018-10-24 13:15] pdbain-ibm commented on #3379
The script cmdLineTests/shrcdbgddrext/shrcdbgextddrtests.xml is missing MacOS from its list of non-realtime specs.

As OpenJ9 does not support realtime, I am removing all realtime distinctions.

[2018-10-24 14:07] dmitripivkine commented on #3371
Current implementation required some VM metadata (j9classes, j9vmthreads etc) to be allocated below 4G bar.

[2018-10-24 14:21] babsingh commented on #3371
@pdbain-ibm **main.c**:
[code]

[2018-10-24 15:10] cathyzhyi commented on #3412
Yea, this is the same problem. Still trying to find the root cause.

[2018-10-24 15:28] pdbain-ibm commented on #3371
I modified the launcher to run an application, set the options to `-XX:+UseCompressedOops`, and compiled against Hotspot w/o `-pagezero_size`. I dumped the memory map from a running process:
[code]

Compiling with `-pagezero_size0x1000` gives a different map:
[code]

[2018-10-24 16:44] pdbain-ibm commented on #3378
Tested and working with the latest build:
[code]
`make -f ../functional/cmdLineTests/verbosetest/autoGen.mk JVM_OPTIONS=-Xcompressedrefs _all`
[code]

[2018-10-24 16:44] #3378 closed

[2018-10-24 16:47] pdbain-ibm commented on #3321
https://github.com/eclipse/openj9/issues/3378 is now working.

Note that the JDK configuration & GC policy generally need to be specified via `JVM_OPTIONS` .  Failing to do so will cause the test harness to run unsupported variants.

[2018-10-24 17:02] ymanton commented on #2585
There are probably a few low-level routines written in assembly that are still being called. For example https://github.com/eclipse/openj9/blob/master/runtime/util/xp32/volatile.s

[2018-10-24 17:57] pdbain-ibm commented on #3154
Looked at java/lang/StackWalker/LocalsAndOperands.java#id0.LocalsAndOperands_id0 and
java/lang/StackWalker/LocalsAndOperands.java#id1.LocalsAndOperands_id1:

[code]
This looks Hotspot-specific, right @pshipton ?

[code]
`LiveStackFrame` is not public API.

Can we exclude these tests for OpenJ9?

[2018-10-24 18:11] pdbain-ibm commented on #3369
I will investigate.

[2018-10-24 18:52] #3343 closed

[2018-10-24 18:52] #3380 closed

[2018-10-24 19:48] #2017 closed

[2018-10-24 20:04] pshipton commented on #3154
More information is required. The first failure related to vm.graal.enabled should be able to run. The property should be set to false, not invalid. Similar problem to https://github.com/eclipse/openj9/issues/3048

Although LiveStackFrame is not public API, somehow the test runs and passed on Hotspot (I assume).

[2018-10-24 21:31] JasonFengJ9 opened #3436 "JEP 331 design and implementation notes"
## Overview of JEP 331 : Low-Overhead Heap Profiling

Provide a low-overhead way to sample Java heap allocations via `JVMTI` interface.
Specifically, this feature is low-overhead enough to be enabled by default, allocation sampling interval can be set via a new `JVMTI API`, and a callback can provide heap object info being allocated.
When the event is generated and the callback is invoked, a stack

[2018-10-25 01:35] #3393 closed

[2018-10-25 07:15] planetf1 opened #3441 "JVM_EnqueueOperation() stubbed"
When trying to build github.com/odpi/egeria with 'mvn clean install' using maven 3.5.4 on windows 10, within IntelliJ IDEA, I get:

Microsoft Visual C++ Runtime Library
X Assertion failed!

Program: c:\java\jdku192-b12\bin\java.exe
File: j7vmi.c
Line: 2713

Expression: !"JVM_EnqueueOperation() stubbed!"

The JDK was downloaded from adoptopenjdk.net

I can ignore the popup, and the process does con

[2018-10-25 07:18] planetf1 opened #3442 "JVM_SocketShutdown() stubbed"
When attempting to build github.com/odpi/egeria under J9 192 b12 (from adoptopenjdk.net) on MacOPS Mojave under Intellij IDEA & using maven 3.5.4 I get an exception

Assertion failed: (!"JVM_SocketShutdown() stubbed!"), function JVM_SocketShutdown, file j7vmi.c, line 2375.
JVMDUMP039I Processing dump event "abort", detail "" at 2018/10/25 08:15:25 - please wait.
JVMDUMP032I JVM requested System du

[2018-10-25 07:35] planetf1 commented on #3410
Thanks for the update. I think a fair conclusion would be that mockito inlining is not expected to work with OpenJ9 due to the attempted class modifications that mockito does for stubbing.

[2018-10-25 12:17] pdbain-ibm commented on #3154
`LiveStackFrame` is a package private interface  in `java.lang` used in Hotspot's implementation of StackWalker.  The test is relying on an unspecified implementation detail.

[2018-10-25 12:37] andrewcraik commented on #3436
Under this mode is it permissible for the JIT to continue to attempt to perform EA to turn non-escaping objects into either a set of local variables or a stack allocated object? Stack allocated objects have a defined lifetime which ends when the method invocation frame is popped - will that work in this design or do we need to prohibit the optimizations when the capability is requested?

Care will

[2018-10-25 12:48] pdbain-ibm commented on #3369
The test creates a deadlock then tries to load a native library, causing a `UnsatisfiedLinkError`.  The ULE causes the main thread to exit but the deadlocked (non-daemon) threads block shutdown.

Fixing: https://github.com/eclipse/openj9/pull/3443.

[2018-10-25 13:06] pdbain-ibm opened #3444 "MacOS: DDR: No Image sources found for dump file"
To reproduce:
Create a dump file, e.g. `java -Xdump:system:events=vmstop HelloWorld`, then try to open it:
`jdmpview -core core.20181025.090255.99913.0001.dmp`.

[code]

[2018-10-25 13:06] pdbain-ibm commented on #3321
DDR tests failing due to https://github.com/eclipse/openj9/issues/3444.

[2018-10-25 13:12] pshipton commented on #3154
I see, I thought OpenJ9 also had a LiveStackFrame class, but I see its just an empty file. I'm ok to exclude this one.

[2018-10-25 13:14] pdbain-ibm commented on #3442
@planetf1 do you have a stack trace or javacore?

[2018-10-25 13:21] gacholio commented on #3410
I would expect it to work if Object was not modified.

[2018-10-25 13:42] pdbain-ibm commented on #3411
@tajila I will investigate.

[2018-10-25 13:56] planetf1 commented on #3442
Hi - I posted the javacore TXT file above. I have the full core too if it helps, but it is 2.6GB. I didn't even try attaching ;-) I could transfer it somewhere if it helps?

[2018-10-25 13:57] pdbain-ibm opened #3445 "MacOS signal handling: cmdLineTest_sigxfszHandlingTest_0 fails"
[code]

[2018-10-25 14:11] pdbain-ibm commented on #3321
Opened
https://github.com/eclipse/openj9/issues/3445 for signal handling issue.

[2018-10-25 14:48] tajila commented on #3394
@fengxue-IS can you please take a look at this

[2018-10-25 15:01] tajila commented on #3394
The code responsible for creating stack traces is in `/runtime/jcl/common/jclexception.c`, specifically the `getStackTraceIterator`.

If the romClass has the `J9AccClassAnonClass` bit set in the `extraModifiers` it is an anonymousClass so you can remove that frame from the exception stack trace

[2018-10-25 15:06] babsingh commented on #3445
This is a duplicate of https://github.com/eclipse/openj9/issues/3342.

Correct behavior of the above testcase: `Failed to write the file`.

fyi - @tajila

[2018-10-25 15:09] babsingh commented on #3342
- [Test source code](https://github.com/eclipse/openj9/blob/master/test/functional/cmdline_options_testresources/src/j9vm/test/sigxfsz/SignalXfszTest.java)
- [Test parameters](https://github.com/eclipse/openj9/blob/master/test/functional/cmdLineTests/sigxfszHandlingTest/sigxfszHandlingTest.xml#L45)

[2018-10-25 15:14] babsingh commented on #3444
Currently, DDR is unavailable on OSX. Mike is working on getting DDR ready for OSX. Core files on OSX won't have DDR support and `jdmpview` won't work on OSX until DDR is ported to OSX.

fyi - @tajila @mikezhang1234567890 @keithc-ca

[2018-10-25 15:17] ben-walsh opened #3447 "JTreg test fail : java/util/stream/test/org/openjdk/tests/java/util/stream/ToArrayOpTest.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/stream/test/org/openjdk/tests/java/util/stream/ToArrayOpTest.java fails a varying number of sub-tests with exceptions of the form ...

[code]

I see no difference between the expected class and actual class in any of the failures.

Log archive : [ToArrayOpProb.tar.gz](https://github.com/eclipse/openj9/files/251

[2018-10-25 15:18] JasonFengJ9 commented on #3436
@andrewcraik thanks for lots of good points, pls see my response below:

This proposal intends to disable TLH allocation when the sampling event is registered. `J9AllocateObject` and `J9AllocateIndexableObject()` are GC "slow path" to allocate objects however whenever the object is allocated it is same as those allocated via TLH. I don't expect any difference about these objects from JIT perspecti

[2018-10-25 15:32] babsingh commented on #3442
Currently, `defined(J9UNIX) || defined(OSX)` is used at a lot of places. [inconsistencies] We have missed to add `defined(OSX)` at some `defined(J9UNIX)` locations. It will be cleaner to enable `J9UNIX` for OSX instead of using `defined(J9UNIX) || defined(OSX)`. @pshipton @pdbain-ibm thoughts?

[2018-10-25 15:34] fengxue-IS commented on #3394
looking into this

[2018-10-25 15:38] pdbain-ibm commented on #3442
Since OSX is derived from BSD Unix I suggest we do so.

[2018-10-25 15:42] andrewcraik commented on #3436
@JasonFengJ9 thanks for follow-up:

The key question here - if there is a new bytecode do you _have_ to get a JVMTI notification? If the answer is yes then the JIT has to be conifugred not to optimize the new. If the answer is no then we are fine - the JIT removes the allocate and so no notification occurs

Right so a write barrier orders a write relative to other writes on the thread - it doesn't

[2018-10-25 15:47] ben-walsh commented on #3447
*** Five consecutive runs of the test with the ```-Xint``` JVM option showed no faliures whatsoever. However, the test took considerably longer to complete, as would be expected. ***

Log archive of one such successful run : [ToArrayOpXInt.tar.gz](https://github.com/eclipse/openj9/files/2515735/ToArrayOpXInt.tar.gz)

[2018-10-25 15:49] babsingh commented on #3442
At some places, `J9UNIX` code doesn't apply to `OSX`. With this revelation, it won't be straight forward to enable `J9UNIX` on `OSX`. Someone will have to look at all `J9UNIX` locations and evaluate if that piece of code is needed for `OSX`.

Example -`jvm.c::JVM_SetLength`
[code]

Another case - in `jvm.c::JVM_Available`, `stat` is used on `OSX` whereas `stat64` is used on `J9UNIX`.
[code]

[2018-10-25 16:08] sxa555 commented on #3371
I will take a look at a prototype build of something suitable on the adoptopenjdk machines ...

[2018-10-25 16:21] #3442 closed

[2018-10-25 16:36] andrewcraik commented on #3436
The reason I am asking is that non-local variable/object might be more interesting for profiling purpose though it is ideal to get them all including local allocations.

The opt applies to arrays as well when it can be proven. So if the opt kicks in there will be no new/newarray run by the JIT for the object that was optimized away. Other object allocations will not be affected.

If we are in FSD

[2018-10-25 16:50] #3369 closed

[2018-10-25 16:51] #3210 closed

[2018-10-25 16:59] pshipton commented on #3445
Closing since its a dup.

[2018-10-25 16:59] #3445 closed

[2018-10-25 17:02] #3400 closed

[2018-10-25 17:04] sxa555 commented on #3371
If anyone wants to pull a build from https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-build-macos-jdk11-LH/ and let me know if that solves anything (built with non compressed refs option) that would be appreciated

[2018-10-25 17:08] pshipton commented on #3442
Although there are only 34 places where J9UNIX is used, and fewer that don't already use OSX as well. I would be worth looking at the remaining places to see if OSX needs to be added.

[2018-10-25 17:11] gacholio commented on #3442
Should OSX just define J9UNIX?

[2018-10-25 17:17] pdbain-ibm commented on #3442
I concur with @gacholio . Personally, I would like OSX to imply J9UNIX. In cases where that is invalid, i.e. in which J9UNIX applies but need special treatment for OSX, we should handle that case explicitly.

[2018-10-25 17:53] pdbain-ibm commented on #3371
That would be this build, right?
[code]
If so, it is tested and working: Eclipse Version: 2018-09 (4.9.0) Build id: 20180917-1800 launches successfully and runs a simple program.  Many thanks @sxa555 !

[2018-10-25 17:57] pdbain-ibm commented on #3371
@martinlippert FYI ^^^

[2018-10-25 18:04] JasonFengJ9 commented on #3436
From static code eyeballing, `FSD` mode is enabled when `J9JITConfig.fsdEnabled` is `TRUE`. It appears `decomp.cpp:initializeFSD()` sets `jitConfig->fsdEnabled = TRUE`, and `cpp:initializeFSD()` is invoked only under following code snippets:
[code]
So `J9HOOK_VM_OBJECT_ALLOCATE_INSTRUMENTABLE` and `J9HOOK_VM_OBJECT_ALLOCATE` are not in this list to enable `FSD` mode.

I do notice that `J9HOOK_VM_O

[2018-10-25 18:31] pshipton opened #3450 "Resolve JTreg failures"
Epic to track resolving the JTReg failures

[2018-10-25 18:38] tajila commented on #3399
I believe the problem is caused by an issue with the `sun/util/logging/PlatformLogger`. It is not assigned to a module (module field is null in the class) which causes NPEs later on

[2018-10-25 18:41] pdbain-ibm commented on #3411
Testcase `testFromUnnamedToNamedModule()` creates a generic `Lookup` via `MethodHandles.lookup()`, then calls `privateLookupIn()` with the first `Lookup` and `p1.Type1` from the unnamed module, returning another `Lookup`.  It then invokes the `in()` method on the second `Lookup` with a class in the current (named) module to get a third `Lookup`. It then does a lookup using the final `Lookup` on `p

[2018-10-25 19:03] GerardoNevarez opened #3451 "-Xgc:concurrentScavenge not working on Windows 64bits - OpenJDK 8u192-b12"
Hi there,

I tried enabling the new `-Xgc:concurrentScavenge` flag on a Windows 64 OpenJDK 8 build,. but fails with the following error:

[code]

Wonder if this is supported on Windows x64, if not, would it be supported in a future OpenJ9 release?  Can this be a build problem? (the flag is accepted on Linux x64)

Some more details on the AdoptOpenJDK build I used:
[code]

FYI, my target is to run

[2018-10-25 19:09] pshipton commented on #3451
Seems it was only enabled for linux_x86, which doesn't match the documentation.
https://github.com/eclipse/openj9-docs/issues/99
@0dvictor @andrewcraik

[2018-10-25 19:10] babsingh opened #3452 "Enable J9UNIX locations on OSX"
Since OSX is derived from BSD Unix, it seems logical to enable `J9UNIX` on OSX.

Currently, `defined(J9UNIX) || defined(OSX)` is used at a lot of places. There are inconsistencies where we have missed to add `defined(OSX)` at some `defined(J9UNIX)` locations. It will be cleaner to enable `J9UNIX` on OSX instead of using `defined(J9UNIX) || defined(OSX)` everywhere.

At some places, `J9UNIX` code d

[2018-10-25 19:12] babsingh commented on #3442
Moving discussion about `J9UNIX` usage to a new issue: https://github.com/eclipse/openj9/issues/3452.

[2018-10-25 19:12] babsingh commented on #3452
fyi - @pshipton @pdbain-ibm @gacholio

[2018-10-25 19:26] dmitripivkine opened #3453 "ghftm001 test failed with Concurrent Scavenge"
JVMTI Test ghftm001.java initiates GC cycle and waiting (sleeping) for GC Cycle End event.
However current implementation of Concurrent Scavenger does not force final STW Scavenge to complete cycle but expect it to be triggered by next Allocation Failure. So, because there is no further allocation in the test it reached timeout and failed eventually.
Concurrent Scavenger should force final STW Sca

[2018-10-25 19:32] andrewcraik commented on #3451
Yup looks like it was missed @0dvictor can you get the makefile change sorted?

[2018-10-25 19:39] pdbain-ibm commented on #3452
+1 on Approach 1.

[2018-10-25 19:50] 0dvictor commented on #3451
I have an impression that Concurrent Scavenge is not yet supported on Windows. @amicic could you confirm?

[2018-10-25 19:54] pdbain-ibm commented on #3411
For the record, from `Lookup.in()` javadoc:

- _If the old lookup class is in an unnamed module, and the new lookup class is a different module then MODULE access is lost._

[2018-10-25 19:59] amicic commented on #3451
Correct, not enabled on Windows. I was under impression it was intentional, because during the recent development, I'm not aware of any tests being done with CS on Windows.

[2018-10-25 20:00] andrewcraik commented on #3451
Ok we should get a test build going to see what, if anything, needs fixing on windows and revise the docs. @pshipton FYI

[2018-10-25 20:03] zl-wang commented on #3436
For a "new" bytecode,  what is the proposal?
1) Generate the allocation code as it is, but the VM will make the TLH config look like it being saturated already (such that going to the mentioned GC slow routine) when the profiling trigger is active?
2) Generate the call to the helper always as if TLH didn't exist?
3) Generate an  "if (active)  call--slow;  else  fast-path TLH allocation;"?

jprof u

[2018-10-25 20:35] JasonFengJ9 commented on #3436
@zl-wang thanks for confirming about the memory consistency issue.
This proposal is to disable `TLH` such that object allocation is always in GC "slow path" which applies to bytecodes `new/newarray`. However Andrew indicated that JIT might perform optimization on local variables or stack allocated objects and remove the `JVMTI` notification even these local allocations are in "slow path".
There ar

[2018-10-25 20:47] pshipton commented on #3452
This is not an opinion on how we should proceed re changing J9UNIX, but a suggestion for improving Mac support. Clearly we've already missed at least one place that needs to be included for OSX, there may be more.

[2018-10-25 21:05] martinlippert commented on #3371
Yes, starts up now... :-)
THANKS!!!

Some strange error messages within my IDE coming up, but need to take a more detailed look at that, might be something completely unrelated.

[2018-10-26 11:11] pshipton commented on #3451
Doc issue is https://github.com/eclipse/openj9-docs/issues/126

[2018-10-26 11:54] pshipton commented on #3451
The docs have now been updated. Keeping this issue open as a reminder to enable Windows for the next release. I've added it to the 0.12.0 milestone.

[2018-10-26 13:10] pdbain-ibm commented on #3371
@martinlippert We are glad to help.  Please feel free to contact me directly on Slack at `openj9.slack.com`.

[2018-10-26 13:49] martinlippert commented on #3371
Looks like I need an invite for that slack workspace ?!? Can you send me one?

[2018-10-26 13:53] AdamBrousseau commented on #3371
https://join.slack.com/t/openj9/shared_invite/enQtNDU4MDI4Mjk0MTk2LWM2MjliMTQ4NWM5YjMwNTViOTgzMzM2ZDhlOWJmZTc1MjhmYmRjMDg2NDljNGM0YTAwOWRiZDE0YzI0NjgyOWI

(From the OpenJ9 Website)

[2018-10-26 13:55] martinlippert commented on #3371
btw, when running my Eclipse using this, I get a bunch of these exceptions:

`
java.io.FileNotFoundException
	at org.eclipse.jdt.internal.core.JavaModelManager.throwExceptionIfArchiveInvalid(JavaModelManager.java:2996)
	at org.eclipse.jdt.internal.core.JavaModelManager.getZipFile(JavaModelManager.java:2934)
	at org.eclipse.jdt.internal.core.JavaModelManager.getZipFile(JavaModelManager.java:2920)

[2018-10-26 13:56] martinlippert commented on #3371
should I file a bug for JDT for that? or would you like to take this further (since it works when running with the Oracle JDK 11)

[2018-10-26 13:57] martinlippert commented on #3371
Thanks for that, much appreciated !!!

[2018-10-26 14:09] zl-wang commented on #3436
@JasonFengJ9  Even if FSD is not enabled with this option (but always calls the slow path to allocate all objects), I highly doubted the performance impact can be contained within 1-3% (your goal).  As an example, running jbb2015 on a typical POWER socket produced ~20GB garbage per second, i.e. at least 20GB worth of objects were allocated per second, with hundreds of threads in parallel action.

[2018-10-26 14:28] pdbain-ibm commented on #3371
Further to
https://github.com/eclipse/openj9/issues/3371#issuecomment-433416066
1. Which version of Eclipse are you using?
2. Under what conditions does the exception occur?

[2018-10-26 14:47] JasonFengJ9 commented on #3436
@zl-wang Agreed that going through GC "slow path" is going to have significant performance hit if allocation contention becomes severe for the scenarios you just described. Experiments against benchmark or real word application can gain insights of workloads that might be applied with this feature.
Besides GC allocation "slow path" contention, is there any chance we lost some JIT optimization when

[2018-10-26 14:49] pdbain-ibm commented on #3411
@DanHeidinga or @tajila could you clarify the effect of the `Lookup.MODULE` bit?  The `Lookup` javadoc says

If the `MODULE` bit is cleared, does that mean there is no access to _any_ methods in any named module, even that of the lookup class?

[2018-10-26 15:08] pdbain-ibm commented on #3411
I tested with the reference implementation:
[code]
throws IAE on classes in the same module but different package; no exception on same module & package.

[2018-10-26 17:06] 0xdaryl opened #3461 "Install NASM on Windows build machines"
Issue #2841 required NASM to be installed on all x86 build machines, but this only appears to have been completed on Linux x86 (and the issue was closed).

This issue is to track completing this work on Windows as well.

@nbhuiyan @pshipton @jdekonin @DanHeidinga

[2018-10-26 17:13] jdekonin commented on #3461
https://www.nasm.us/pub/nasm/releasebuilds/2.13.03/win64/ should work for 32/64bit windows platforms.  Please correct me if I am wrong there.

[2018-10-26 17:17] nbhuiyan commented on #3461
@jdekonin AFAIK, that version will only run on 64bit Windows, but can generate objects for both 32 and 64 bit targets

[2018-10-26 19:07] 0dvictor commented on #3338
All pull requests listed in this Issue have been merged, closing.

[2018-10-26 19:07] #3338 closed

[2018-10-26 19:14] 0dvictor commented on #3373
#3462 and #3463 introduce the support of this Issue for X86 CodeGen and common infrastructure. This first draft queries `TR_disableThrowToGoto` for whether to preserve bytecode info; it will be updated once we decide the proper API.

[2018-10-26 19:16] 0dvictor commented on #3374
After rethinking the purpose of this Issue, I withdraw my proposal to implement this in OMR, and am proposing #3462 - a J9-only implementation.

[2018-10-26 21:08] liqunl opened #3466 "Add OSR bookkeeping for MethodHandle invoke call in post-execution OSR"
OSR transition is not supported during a call to MethodHandle invoke due to the fact that interpreter has completely different way of executing the call. However, with the right bookkeeping, transition is possible after the call.

[2018-10-26 21:46] 0dvictor commented on #3333
https://github.com/eclipse/omr/pull/3125 should fix the above GC map issue.

[2018-10-27 11:37] stevewallin opened #3467 "GC regression in 0.11"
Seeing a GC regression in 0.11 when running the TechEmpower Jetty benchmarks on the latest Adopt Linux nightly.

`java -version
openjdk version "1.8.0_192"
OpenJDK Runtime Environment (build 1.8.0_192-201810260329-b12)
Eclipse OpenJ9 VM (build master-1721076a, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20181026_76 (JIT enabled, AOT enabled)
OpenJ9   - 1721076a
OMR      - 2f4896a3
JCL

[2018-10-27 11:46] pshipton commented on #3467
@dmitripivkine

[2018-10-27 19:05] gacholio commented on #3467
As this is a systhrow, the core dump files would be very helpful.

[2018-10-28 22:31] lmajewski commented on #2585
@ymanton
If I may ask - have you tried/used on any of your systems the J9 with `--with-zlib=system` set during
configuration?

We do experience some slow downs when decompressing files (*.war/*.jar). After enabling the above switch the speedup was not present (but expected as this is a native lib).
The `ldd` output:
[code]
Is there any other way to speed up decompression on J9?

[2018-10-29 01:41] ymanton commented on #2585
No I've never used that option. It looks like it allows you to use your system's zlib rather than the one in https://github.com/ibmruntimes/openj9-openjdk-jdk8/tree/openj9/jdk/src/share/native/java/util/zip/zlib.

Even if you don't use that option you will be getting a native zlib implementation, the only difference is which one. It sounds like there is no performance to be gained by using your sy

[2018-10-29 02:10] yusuke opened #3468 "unable to generate thread dump / javacore on macOS"
build: OpenJDK11-jdk_x64_mac_openj9_11.0.1_13.tar.gz

Steps to reproduce:
1. run a Java application using OpenJDK11-jdk_x64_mac_openj9_11.0.1_13
2. trigger $ kill -9 PID
3. nothing happens

[2018-10-29 03:18] DanHeidinga commented on #3468
@babsingh can you take a look at this?

[2018-10-29 09:34] stevewallin commented on #3467
Had to split the dump into a 4 part zip.  Please remove the .zip extension from z01->z03 to expand.

[core.20181027.111826.9.0001.dmp.zip](https://github.com/eclipse/openj9/files/2524628/core.20181027.111826.9.0001.dmp.zip)
[core.20181027.111826.9.0001.dmp.z01.zip](https://github.com/eclipse/openj9/files/2524631/core.20181027.111826.9.0001.dmp.z01.zip)
[core.20181027.111826.9.0001.dmp.z02.zip](htt

[2018-10-29 11:49] lmajewski commented on #2585
@ymanton

This I do need to check if those files can be converted.

I've tried it and the results are promissing - when put into /tmp dir I can see the startup speedup of around 15%

[2018-10-29 12:18] pdbain-ibm commented on #3468
@yusuke

Thank you for your report.  I would like to reproduce your situation.

Would you please confirm the Java version and MacOS version?
I am running High Sierra (10.13.6) and Java version (downloaded from AdoptOpenJDK)
[code]

Have you tested with a simple application such as the one attached?
[looper.java.txt](https://github.com/eclipse/openj9/files/2525167/looper.java.txt)

Are you using an

[2018-10-29 12:19] pshipton commented on #3270
Another occurrence https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/69/
@cathyzhyi any progress on this?

[2018-10-29 12:45] pdbain-ibm commented on #3468
I tested with `kill -QUIT` and it generated a javacore, but it generates the dump in `Contents/Home/bin` due to known issue https://github.com/eclipse/openj9/issues/3343.
@babsingh Looking at the git log, I don't think the MacOS build on AdoptOpenJDK contains the fix for same, correct?
@yusuke could you please check the `bin` for javacores/system cores?

Thank you

[2018-10-29 13:55] DanHeidinga commented on #3411
Good find @pdbain-ibm!  The use of the module bit is also missing in https://github.com/eclipse/openj9/issues/3047

[2018-10-29 13:55] babsingh commented on #3468
I also saw similar results as Peter. I sent `kill -3` (generate core files), `kill -9`, `SIGINT`, `SIGTERM` and `SIGHUP`. All signals worked as expected. I am running MacOS Sierra (10.13.4).

Based upon SDK's OpenJ9 SHA (**090ff9dc**), #3381 changes are not included in the below SDK.

**Downloaded** [OpenJDK11-jdk_x64_mac_openj9_11.0.1_13](https://github.com/AdoptOpenJDK/openjdk11-binaries/release

[2018-10-29 14:22] pdbain-ibm commented on #3047
@DanHeidinga I have a sketch of this.  Would you like me to work on it further?

[2018-10-29 14:23] pdbain-ibm commented on #3411
I am running a personal build now and will open a pull request.

[2018-10-29 14:36] DanHeidinga commented on #3047
Yes please, especially if it helps resolves some of the JTREG issues we've been focused on over the past week

[2018-10-29 14:37] pdbain-ibm commented on #3047
Okay, will do.

[2018-10-29 14:51] smlambert commented on #3270
Typically I avoid using 'lastSuccessfulBuild' url's as they are often changing.  I usually point directly to the artifact with the url from the jobNumber.

For example, instead of using this: https://ci.eclipse.org/openj9/view/Build/job/Build-JDK10-linux_x86-64_cmprssptrs/lastSuccessfulBuild/artifact/OpenJ9-JDK10-linux_x86-64_cmprssptrs-20181019-002440.tar.gz

I would choose to use this:
https://c

[2018-10-29 15:05] pdbain-ibm commented on #3371
@martinlippert Would you kindly close this issue and open another issue if you encounter further problems.  Thank you for bringing this to our attention.

[2018-10-29 15:12] tajila commented on #3394
Update: There is an annotation called `java/lang/invoke/LambdaForm$Hidden` which is used to hide frames. This is the mechanism that hotspot uses to decide which frames to hide. We will have to look at this instead of the `J9AccClassAnonClass` (as previously mentioned) bit to determine whether to hide the frame or not. We can you use the existing mechanism (`ClassFileOracle::KnownAnnotation`) to de

[2018-10-29 15:14] dmitripivkine commented on #3467
Is it possible to get GC verbose log for this -Xverbosegclog:<file> ?

[2018-10-29 15:15] dmitripivkine commented on #3467
The reported reason for OOM is Excessive GC:
[code]

[2018-10-29 15:33] tajila commented on #3394
we have an existing annotiation `Ljava/lang/invoke/MethodHandle$FrameIteratorSkip;` that does something similar.

[2018-10-29 15:37] stevewallin commented on #3467
sure - will look to capture both later today.  When running with -verbose:gc I didn't get OOM but will try with -Xverbosegclog - not sure if they are different ?

[2018-10-29 15:46] dmitripivkine commented on #3467
no, it is the same

[2018-10-29 15:49] pshipton commented on #3467
@stevewallin can you please try it with the JVM option `-Djdk.nativeCrypto=false`

[2018-10-29 15:51] dmitripivkine commented on #3467
There is a top of the list of class instances it the heap:
[code]

[2018-10-29 15:55] pshipton commented on #3467
If its not easy to modify the command line, this option can be set in the IBM_JAVA_OPTIONS environment variable. If that isn't feasible either, edit the jre/lib/amd64/compressedrefs/options.default file and add the option there on the next line.

[2018-10-29 15:57] tsmaeder opened #3469 "Multiple Crashes Running Eclipse"
I recently tried running Eclipse Photon on the latest jdk 8 build from AdoptOpenJDK. Within an hour, I crashed repeatedly with the attached core dumps. Version is:

[code]

[2018-10-29 15:59] tsmaeder commented on #3469
[javacore.20181024.141603.1841.0002.txt](https://github.com/eclipse/openj9/files/2526021/javacore.20181024.141603.1841.0002.txt)
[javacore.20181024.165654.2162.0002.txt](https://github.com/eclipse/openj9/files/2526022/javacore.20181024.165654.2162.0002.txt)
[javacore.20181024.170302.24920.0002.txt](https://github.com/eclipse/openj9/files/2526025/javacore.20181024.170302.24920.0002.txt)

[2018-10-29 15:59] tsmaeder commented on #3469
[jitdump.20181024.zip](https://github.com/eclipse/openj9/files/2526033/jitdump.20181024.zip)

[2018-10-29 16:02] stevewallin commented on #3467
Can add options easily to the docker file CMD which starts the run... will run once I get home as it's setup on my machine there :)

[2018-10-29 16:12] charliegracie commented on #3469
I took a quick look at the javacore files.  All 3 of the crashes had similar stack traces:
[code]

[2018-10-29 16:43] charliegracie commented on #3469
Hi @tsmaeder as a quick check while I am trying to reproduce locally could you add the following command line options and see if it still fails? `-Xjit:exclude={java/nio/*},dontInline={java/nio/*}`

[2018-10-29 16:57] fjeremic commented on #3469
@liqunl FYI this is in your domain.

[2018-10-29 16:58] stevewallin commented on #3467
@pshipton `-Djdk.nativeCrypto=false` doesn't change the OOM behaviour - capturing gc docs

[2018-10-29 17:03] lmajewski commented on #2585
I did some detailed tests on the target production application ( with `-Xjit:disableFPCodeGen`):

The JIT log interresting parts:
[code]
And maybe the most important:

[code]
The code responsible for unzip'ing.
I do guess that *compilationRestrictedMethod* is caused by adding `-Xjit:disableFPCodeGen`

It seems like this is the main slow down factor (the 'prod' application is 3x slower and the cpu

[2018-10-29 17:08] DanHeidinga commented on #3467
`0.11.0` enabled `-XX:+ContainerSupport` by default - see #3184.  I'd like to rule out the container support changes as a cause if we can.

@stevewallin can you try running with `-XX:-UseContainerSupport`?

[2018-10-29 17:34] liqunl commented on #3469
@tsmaeder Other than the javacore, is there a system core dump? Another thing you can try is `-Xjit:{java/nio/*}(disableUnsafe)`

[2018-10-29 17:58] stevewallin commented on #3467
@DanHeidinga no change with `-XX:-UseContainerSupport`... I have just had an OOM with a previous JVM version run when collecting GC log so resetting all the containers and rebuilding/running incase something is amis... :/

[2018-10-29 18:17] stevewallin commented on #3467
sorry - looks like user error - the script didn't run the test at previous versions for as long for the old J9 so didn't hit the OOM issue - HS runs clean in all scenarios for this test, but J9 gets OOM consistently on both versions...

[2018-10-29 18:35] stevewallin commented on #3467
ok
- so Docker has 8Gb memory limit for instance
- if I assign -mx2G with J9 heap usage stabilises around the 1.4G mark and all runs ok.
with no command line options :
- HS heap usage goes up to about 2Gb
- J9 goes up to about 600Mb then OOM errors

any reason why J9 is constrained with default options and 8Gb available RAM ?

[2018-10-29 19:11] mpirvu opened #3471 "CHTable warning messages are indicative of a latent bug"
The JITaaS server sometimes emits warning messages when applying the set of CHTable modifications received from the client.
` fprintf(stderr, "CHTable WARNING: classInfo for subclass %p of %p is null, ignoring\n", flat->_subClasses[i], flat->_classId);`
This happens when a subclass in the list of subclasses for a superclass is not found in the CHTable in its own right. This should never happen and

[2018-10-29 19:31] dmitripivkine opened #3472 "Changed behaviour in DDR gccheck threadstacks"
When I worked on core provided in https://github.com/eclipse/openj9/issues/3467 I noticed change of behaviour in DDR: with latest it returns an error
[code]
This behaviour has been introduced in iBuild 400030. Previous behaviour was an exception:
[code]

[2018-10-29 19:32] dmitripivkine commented on #3472
@pshipton @dnakamura FYI

[2018-10-29 19:53] dnakamura commented on #3472
Given that the exception occurs during a stack walk, and the backtrace mentions `Caused by: java.lang.NoSuchFieldError: com/ibm/j9ddr/vm29/structure/MethodMetaDataConstants.J9TR_SHRINK_WRAP` I would hazard a guess that https://github.com/eclipse/openj9/commit/19913fe106de400428e77e15f8f8aa9facc2d5f1 is the more likely cause of the change
@fjeremic

[2018-10-29 20:09] pshipton commented on #3467
The default -Xmx is 512m for jdk8. For historical reasons really, I suppose we should consider changing it.
https://www.eclipse.org/openj9/docs/openj9_defaults/

[2018-10-29 20:22] pshipton opened #3475 "Modify -Xmx rules for jdk8 to be the same as jdk11"
The OpenJ9 -Xmx default settings for jdk8 do not match with OpenJDK. This is due to historical reasons dating back before the code was contributed to OpenJ9. We should consider changing it.

https://www.eclipse.org/openj9/docs/openj9_defaults/

The smaller limit for jdk8 has already hit one user, #3467

[2018-10-29 20:23] pshipton commented on #3467
I've created #3467 to consider changing the default -Xmx for jdk8, and closing this issue.

[2018-10-29 20:23] #3467 closed

[2018-10-29 21:04] mpirvu opened #3476 "Broken link in JITaaS documentation"
https://github.com/eclipse/openj9/blob/jitaas/doc/compiler/jitaas/Build.md#docker
contains a link to README.md which is broken

[2018-10-29 21:20] pshipton opened #3478 "Use options from environment variable OPENJ9_JAVA_OPTIONS"
The VM parses options from an environment variable IBM_JAVA_OPTIONS, which isn't really appropriate for OpenJ9. I propose also parsing options from OPENJ9_JAVA_OPTIONS.

[2018-10-29 21:35] AdamBrousseau commented on #2637
Sent an email to OSU to confirm this type of usage of their systems is permitted.

[2018-10-29 21:47] #3476 closed

[2018-10-30 00:00] lmajewski commented on #2585
It seems like the zip decompression is the bottle neck - at least from the FPU point of view.....

I took the webapp (*.war) and re-archived it with `jar`:
`usr/bin/fastjar -c0f web.war web/` -> the size increased a bit (23 MiB -> 27 MiB),

but the execution time (for this part) was reduced from **60** seconds to **2.5 seconds** !!!

[2018-10-30 01:37] DanHeidinga commented on #2781
@dinogun Is the the updated image available?

[2018-10-30 02:09] ymanton commented on #2585
That's surprising. I don't see how `disableFPCodeGen` fits into this since I don't think the default zlib compression algorithm uses floating point, but maybe I'm wrong.

Is the `perf` tool or OProfile available to you? If so can you collect some profiles?

With `perf` you should use the `-Xjit:perfTool` option, with OProfile use `-agentlib:jvmti_oprofile`.

[2018-10-30 12:05] pshipton opened #3480 "All overnight builds failed although they did succeed"
All the overnight builds last night failed
https://ci.eclipse.org/openj9/blue/organizations/jenkins/Pipeline-Build-Test-All/detail/Pipeline-Build-Test-All/262/pipeline

Looking at an individual build, it shows -version output and `Finished: SUCCESS`
https://ci.eclipse.org/openj9/job/Build-JDK11-aix_ppc-64_cmprssptrs/142

There were a couple of build changes merged yesterday, I suspect https://gith

[2018-10-30 12:05] pshipton commented on #3480
@jdekonin @vsebe

[2018-10-30 13:11] pdbain-ibm commented on #3478
Should be fairly simple:

- `vmargs.c: addEnvironmentVariables()` add another call to `addEnvironmentVariableArguments()` after `ENVVAR_IBM_JAVA_OPTIONS`
- update the VMArgumentTests
- Update the documentation

[2018-10-30 13:29] pshipton commented on #3480
On Slack @AdamBrousseau mentioned "DOWNSTREAM_JOB_TIME I think was the missing property exception I saw"

[2018-10-30 13:35] vsebe commented on #3480
@AdamBrousseau - fyi
`groovy.lang.MissingPropertyException: No such property: DOWNSTREAM_JOB_TIME for class: groovy.lang.Binding`

See pipeline-function.build_with_slack() method `DOWNSTREAM_JOB_TIME = JOB.getDurationString()`

[2018-10-30 14:37] llxia commented on #3080
The above link is not valid anymore. Do we still have the issue?

[2018-10-30 17:13] lmajewski commented on #2585
Output from the perf report (for the part performing the zlib decompression)
[code]

It is apparent that some FPU instructions have slipped in the zip "decompression code".

However, neither the `images/j2sdk-image/jre/lib/ppc/libzip.so` nor `./jdk/lib/ppc/default/libj9zlib29.so` contain the FPU ASM instructions.

I've also grep'ed the `libj9*.so` libs (in the build directory) and the `lfd, stfd,

[2018-10-30 17:38] 0dvictor commented on #3294
https://github.com/AdoptOpenJDK/openjdk-tests/pull/662 has been merged and hence CS tests on X86-64 have been enabled. Closing this Issue.

[2018-10-30 17:38] #3294 closed

[2018-10-30 17:39] mikezhang1234567890 opened #3483 "DDR support on OSX"
Work to get DDR working on OSX should be made up of the following broad tasks:

- [x] Get OMR's ddrgen working (PRs: https://github.com/eclipse/openj9/pull/3489 and https://github.com/eclipse/omr/pull/3136)
- [ ] Add a core file reader for Mach core files (#3444)
- [ ] Enable and get DDR tests working (#3366)
- [x] Enable DDR by default on OSX (ibmruntimes/openj9-openjdk-jdk8#225, ibmruntimes/open

[2018-10-30 17:40] AdamBrousseau commented on #3080
The Sha was likely unavailable for whatever reason. I think the point is the test shouldn't continue if it can't fetch the correct version of source.

[2018-10-30 18:04] mpirvu opened #3484 "Replace ClassInfoTuple with a struct"
The information about a j9class is sent by the client to the JITaaS server as a `ClassInfoTuble` which is a long enumeration of types:

 ```using ClassInfoTuple = std::tuple<std::string, J9Method *, TR_OpaqueClassBlock *, int32_t, TR_OpaqueClassBlock *, std::vector<TR_OpaqueClassBlock *>, std::vector<std::tuple<bool, bool>>, bool, uintptrj_t , bool, uint32_t, TR_OpaqueClassBlock *, void *, TR_Opaq

[2018-10-30 18:29] ymanton commented on #2585
OK thanks, `bytecodeLoop` is the Java interpreter doing a lot of work because of `disableFPCodeGen` and `program_check_exception`, `do_mathemu`, `lfd` , `stfd`, etc are FP emulation in the kernel. `do_resched`, `__do_softirq`, etc are possibly also emulation related. So it looks like 20% of your time is in the interpreter and 10% or more is in FP emulation.

I'll look into some of this when I have

[2018-10-30 18:33] #3480 closed

[2018-10-30 19:08] pshipton commented on #3294
Test build running https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All/263/

[2018-10-30 19:10] pshipton commented on #3483
Please fill in the issue/pr numbers when they are created, and I can add these to this Epic.

[2018-10-30 19:59] pshipton commented on #3294
Failures are fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/177
Started a new build https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All/264/

[2018-10-30 20:35] mpirvu commented on #3484
Interesting, so that is a limitation of protobufs.

[2018-10-30 20:57] mpirvu commented on #3484
Another (partial) solution would be to form a struct with all the fields that are "elementary". We do this for method info where simple fields are put into `TR_ResolvedJ9JITaaSServerMethodInfoStruct` and the rest (strings) are left are parts of a tuple:

`using TR_ResolvedJ9JITaaSServerMethodInfo = std::tuple<TR_ResolvedJ9JITaaSServerMethodInfoStruct, std::string, std::string, std::string>;`

[2018-10-30 21:19] mikezhang1234567890 commented on #3483
https://github.com/eclipse/openj9/issues/3444 and https://github.com/eclipse/openj9/issues/3366 belong in this epic.

[2018-10-30 21:32] fjeremic commented on #3472
I don't see a reference to `J9TR_SHRINK_WRAP` in the entire codebase. Not sure what `MethodMetaDataConstants` is either so I'm not sure how they relate. Having said that it's almost certainly related to #3291.

[2018-10-30 21:54] JasonFengJ9 opened #3490 "Warning from jvm.cfg causes test_setSecurityManager2 failure"
`https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-win_x86/171/testReport/org.openj9.test.java.lang/Test_System/test_setSecurityManager2_2/`

[code]

[2018-10-30 21:57] JasonFengJ9 commented on #3490
Never mind, fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/177

[2018-10-30 21:57] #3490 closed

[2018-10-31 03:04] pshipton opened #3491 "Test-sanity.system-JDK8-linux_x86-64_cmprssptrs LambdaLoadTest_ConcurrentScavenge_0 crash assert OOM"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/122
[code]

[2018-10-31 03:05] pshipton commented on #3294
fyi a crash in LambdaLoadTest_ConcurrentScavenge_0
https://github.com/eclipse/openj9/issues/3294

[2018-10-31 03:05] pshipton commented on #3491
@0dvictor @amicic

[2018-10-31 11:54] pshipton commented on #3491
More in the overnight builds last night
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/70
`LT  stderr JVMDUMP039I Processing dump event "abort", detail "" at 2018/10/31 06:19:37 - please wait.`
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/123
`LT  stderr 08:00:25.807 0xcbbe00    j9mm.108    *   ** ASSERTION FAILED ** at Scave

[2018-10-31 13:53] pdbain-ibm commented on #3478
What should the priority be?  I suggest:
1. JAVA_TOOL_OPTIONS
2. OPENJ9_JAVA_OPTIONS (overrides JAVA_TOOL_OPTIONS)
3. IBM_JAVA_OPTIONS (overrides the others)

[2018-10-31 13:56] babsingh commented on #3468
@yusuke we would like to replicate your issue.  the app may be hung ... making it unresponsive to signals. can you provide us the instructions to run the Java app for reproducing the issue?

[2018-10-31 14:05] dmitripivkine commented on #3475
This might change behaviour for customers never specified -Xmx explicitly (I surprised how many customers unaware about it). For platforms with limited virtual memory support (ex. ZOS) or shared Large Pages there might be a large impact for system capacity.

[2018-10-31 14:31] DanHeidinga commented on #3441
@ChengJin01 Can you look at this?

[2018-10-31 14:32] ChengJin01 commented on #3441
Will investigate to see what happened in there.

[2018-10-31 14:36] jdekonin commented on #3461
fyi nasm is already installed on the 1 mac that is in use already.

[2018-10-31 14:46] gacholio commented on #3373
@andrewcraik - can you please comment on the new field in the jitConfig? I'd like to fix this and get t he changs from @0dvictor updated and merged.

@0dvictor Did you try the test with your changes and mine?

[2018-10-31 16:05] llxia commented on #3080
what was the behavior? The script continued even it had git clone failure?

[2018-10-31 16:25] AdamBrousseau commented on #3080
Yes I believe the get.sh always continues if any of the commands fail. I've noticed this before with other commands it runs.

[2018-10-31 17:14] ChengJin01 commented on #3441
I don't think the issue here has anything to do with #3442 as JVM_SocketShutdown() was already implemented on UNIX-based system (So it just got enabled for OSX).

JVM_EnqueueOperation() was not implemented on any platform. So I need to figure out how this got invoked on Windows first.

[2018-10-31 17:57] babsingh opened #3496 "JDK8 OSX JIT - Unable to load j9jit29"
When running OpenJ9 JDK8 on OSX where `gcc49` is unavailable, the following issue is seen:

`JVMJ9VM011W Unable to load j9jit29: dlopen(/Users/sbabneet@ca.ibm.com/Desktop/j2sdk-image/jre/lib/compressedrefs/libj9jit29.dylib, 2): Symbol not found: __ZNSt8__detail15_List_node_base7_M_hookEPS0_   Referenced from: /Users/sbabneet@ca.ibm.com/Desktop/j2sdk-image/jre/lib/compressedrefs/libj9jit29.dylib

[2018-10-31 18:02] #2024 closed

[2018-10-31 18:03] 0dvictor commented on #3373
Yes, I tested the changes in the way you described at https://github.com/eclipse/openj9/issues/3373#issuecomment-431527572, which includes #3389, #3462 and #3463.

[2018-10-31 18:03] pshipton commented on #3475
@dmitripivkine I'm suggesting to make the change for OpenJ9. The rules do not need to change for IBM Java 8 builds.

[2018-10-31 18:08] babsingh commented on #3496
fyi - @nbhuiyan @0xdaryl @pshipton @DanHeidinga @sxa555

[2018-10-31 18:13] pdbain-ibm commented on #3301
I will pick this up.

[2018-10-31 18:26] babsingh opened #3497 "Is -Xjit:perfTool (OpenJ9) == -XX:+PreserveFramePointer (Hotspot)?"
**-XX:(+/-)PreserveFramePointer:**

Are JVM options `-Xjit:perfTool` in OpenJ9 and `-XX:+PreserveFramePointer` in Hotspot similar?

[2018-10-31 18:31] babsingh commented on #3497
fyi - @zl-wang @mstoodle @DanHeidinga

[2018-10-31 18:33] dmitripivkine commented on #3475
Yes, it is ok. Do we have a way to differentiate OpenJ9 from IBM J9 from code?

[2018-10-31 18:34] charliegracie commented on #3475
I tend to agree with @dmitripivkine. Users who may have already deployed OpenJ9 that they have downloaded from Adopt may have expectations about how the binary works. I would prefer to leave Java 8 without any changes.

As an aside how does IBM build and package OpenJ9? Would it be easy for a downstream consumer of OpenJ9 to change the default behaviour without having to apply hard to maintain pat

[2018-10-31 18:53] fjeremic commented on #3497
I don't think so. @ymanton recently answered this on Slack:
https://openj9.slack.com/archives/C8312LCV9/p1540929332005700

[2018-10-31 18:53] pshipton commented on #3496
@babsingh libstdc++ should be statically linked with the jit, this is how it works on other platforms.

[2018-10-31 18:54] pshipton commented on #3496
I think its a setting somewhere that needs to be enabled for the Mac builds.

[2018-10-31 18:55] pshipton commented on #3496
found https://github.com/eclipse/openj9/pull/221

[2018-10-31 19:10] DanHeidinga commented on #3497
As @fjeremic mentioned, the answer is:
[code]
(Reproduced here as I don't know how long slack links are good for)

@mstoodle / @ymanton had looked at the the equivalent of `-XX:+PreserveFramePointer` a number of years back but I'm not sure what became of that work.

[2018-10-31 19:28] pdbain-ibm commented on #3202
String.chars() calls `CharSequence.super.chars();`.  The javadoc for Spliterator says

`spliterator​(int[] array, int fromIndex, int toIndex, int additionalCharacteristics)` looks like the ticket. `additionalCharacteristics` can set `IMMUTABLE`.

[2018-10-31 19:31] gacholio opened #3500 "JVMTI GetOwnedMonitorInfo inefficient"
GetOwnedMonitorInfo is acquiring exclusive VM access before walking the target thread. This should probably be changed to use haltThreadForInspection instead.

[2018-10-31 19:33] gacholio commented on #3478
I'd flip 2 and 3 in the above list - new env var is the winner. I assume in the current VM that IBM_JAVA_OPTIONS overrides JAVA_TOOL_OPTIONS?

[2018-10-31 19:50] pdbain-ibm commented on #3478
In re
https://github.com/eclipse/openj9/issues/3478#issuecomment-434818935, yes.

I chose the order in inverse order of generality: since the IBM JDK logically builds on OpenJ9, the IBM option should override the OpenJ9 option. @DanHeidinga @pshipton your thoughts?

[2018-10-31 19:51] #3398 closed

[2018-10-31 19:59] pshipton commented on #3441
It seems something is trying to use the OpenJDK attach mechanism instead of the OpenJ9 one. i.e. it must be hard coded to use sun.tools.attach.WindowsVirtualMachine (or similar concrete class) instead of using the generic classes as it should.

[2018-10-31 20:06] babsingh commented on #3496
@pshipton

https://developer.apple.com/library/archive/qa/qa1118/_index.html

[2018-10-31 20:07] pshipton commented on #3475
There is a #define OPENJ9_BUILD which is already used in a few places.

Not for this code atm, but there could be extension points added as we have done in other places already.

[2018-10-31 20:08] pshipton commented on #3475
I expect most users will expect it to work as OpenJDK does, there are likely few OpenJ9 users at this point.

[2018-10-31 20:13] pshipton commented on #3478
makes sense to me.

[2018-10-31 20:18] ChengJin01 commented on #3441
I already noticed that at  openj9-openjdk-jdk8/jdk/src/windows/native/sun/tools/attach/WindowsVirtualMachine.c.
[code]

 If so, it looks like there are some setting to be modified so as to avoid sun.tools.attach.WindowsVirtualMachine in favor of our build.

[2018-10-31 20:22] pshipton commented on #3496
Considering the other options then, I'm not sure what 3 means, and I don't think 1 is feasible in the short term (i.e. a lot of work to rewrite the jit code). I believe this was considered earlier and rejected in favor of statically linking. I'd pursue option 2.

[2018-10-31 20:23] pdbain-ibm commented on #3202
I'll take a look at this.

[2018-10-31 20:34] pshipton commented on #3441
Note the OpenJ9 build is configured correctly, I think this problem would only occur if something is hard coded to refer to the Hotspot attach API implementation rather than the generic api classes https://docs.oracle.com/javase/8/docs/jdk/api/attach/spec/index.html

[2018-10-31 20:37] ymanton commented on #3497
I came to the conclusion that it would be very difficult (on all platforms, not just x86). Preserving the frame pointer is a minor x86 problem, our bigger problems (on all platforms) are that:

We have two separate stacks (Java and native) and execution can weave between the two. Any general tool that wants to walk the stack to show you an accurate backtrace or to construct a call graph profile is

[2018-10-31 20:39] ChengJin01 commented on #3441
That should come from the application level. But I didn't find anything related to sun_tools_attach_WindowsVirtualMachine in https://github.com/odpi/egeria.

Probably it was triggered from some loading plugins/packages.

[2018-10-31 20:55] nbhuiyan commented on #3496
@pshipton

That option already applies to mac builds [here](https://github.com/eclipse/openj9/blob/f7a784b02c70f1559995410090618ddaf27c8a11/runtime/compiler/build/toolcfg/gnu/common.mk#L423). The linker does not complain that it is an invalid option, but simply says that it was unused.

[2018-10-31 21:06] pshipton commented on #3441
For reference, here is the configuration that selects the OpenJ9 attach api implementation for the generic api.

jdk8:
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/jdk/src/share/classes/sun/tools/attach/META-INF/services/com.sun.tools.attach.spi.AttachProvider

jdk11:
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/jdk.attach/share/classes/module-info.java - m

[2018-10-31 21:06] babsingh commented on #3496
more details on point 3. things work after installing `gcc49`. thought that `gcc49` may have an option that allows compatibility with `gcc42` or older `gcc` versions. so, things built with `gcc49` could work with the dependencies in `gcc42`. rethinking, users with no `gcc` will still experience issues. so, point 3 won't work. also, i don't think it's possible to enforce compatibility between `gcc4

[2018-10-31 21:07] pshipton commented on #3441
try looking for sun.tools.attach.AttachProviderImpl instead

[2018-10-31 21:08] pshipton commented on #3441
or sun.tools.attach.WindowsAttachProvider

[2018-10-31 21:09] ChengJin01 commented on #3441
I just found WindowsVirtualMachine comes from lib/tools.jar in jdk8u192-b12

/cygdrive/c/temp_jdk8/jdk8u192-b12/lib/tools/sun/tools/attach (extracted from lib/tools.jar)
$ ls -l
total 32
-rwxrwx---+ 1 Administrators None  548 Oct 19 15:37 'HotSpotAttachProvider$HotSpotVirtualMachineDescriptor.class'
-rwxrwx---+ 1 Administrators None 3538 Oct 19 15:37  HotSpotAttachProvider.class
-rwxrwx---+ 1 Admi

[2018-10-31 22:43] pshipton commented on #3441
Right, the files are there, but not used by the api classes because of the settings in https://github.com/eclipse/openj9/issues/3441#issuecomment-434847765 . These classes would only be used if referenced directly by some code.

[2018-10-31 22:52] llxia commented on #3472
Regarding cmdLineTester_GCCheck, afaik the reason for it not being in the openj9 repo is due to caffeine.jar. The version of caffeine.jar that is used in the test is very old and the new version of caffeine.jar has a completed different structure. To add this test into openj9 repo, we may need to update exisiting test to use the new caffeine.jar.

[2018-10-31 23:32] pshipton commented on #3472
@llxia @smlambert I think we should make it a priority to get a gccheck test running on openj9. Either using the new caffeine.jar or something else. I suspect any app/benchmark would be sufficient as we likely just need something that runs for a little while so gc and jit activity can occur. Let me know if you'd like another issue opened.
@dmitripivkine fyi

[2018-10-31 23:36] ChengJin01 commented on #3441
The only way to prove that is to reproduce locally to see what happens on the backtraces; otherwise,  I suspect the setting at openj9-openjdk-jdk8 might go wrong in forwarding to the correct OpenJ9 class (/jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9VirtualMachine)

[2018-10-31 23:37] pshipton commented on #3472
The same holds true for any other DDR tests that are not yet running on openj9. IBM internal testing is not sufficient as the openj9 DDR implementation works differently. A working DDR is required to diagnose certain types of problems.

[2018-10-31 23:56] smlambert commented on #3472
Agree with all that you have said, and encourage the dev team to dig in.  :)

Lan was polite in saying the phrase "we may need to update existing test".  As I am less polite, the 'we' in that sentence is the Runtimes team.  Good to know that cmdlinetester_GCCheck is considered a great DDR test, also good to understand that DDR works differently in openj9.

Let's work together to test this 'new fea

[2018-11-01 00:01] pshipton commented on #3472
@DanHeidinga ^

[2018-11-01 02:14] mpirvu opened #3504 "Reduce the number of Recompilation_getExistingMethodInfo messages"
The JITaaS server will issue `Recompilation_getExistingMethodInfo` messages in `J9::Recompilation::setupMethodInfo()` which is executed during the constructor of `TR_X86Recompilation` object. Since any compilation that can be followed by a re-compilation has a recompilation object, it may make sense for the client to send the existing method info together with the compilation request and save one

[2018-11-01 11:09] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/71
`DLT 06:16:36.788 - First failure detected by thread: load-0. Running test: ArbitraryJava[net.openj9.test.decimals.DecimalTestRunner invokeTest]. Creating java dumps.`
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/127/
[code]

[2018-11-01 12:30] charliegracie commented on #3475
Can you explain more about the OPENJ9_BUILD flag?  The expectation is that the OpenJ9 project should use this flag to differentiate code changes from the IBM JVM? The project IS OpenJ9 so this does not make sense to me. I think we should actively remove all uses of this flag immediately. If a down stream consumer wants go modify behaviour this is not the correct mechanism.

[2018-11-01 12:55] llxia commented on #1511
DDR tests are excluded on osx until https://github.com/eclipse/openj9/issues/3483 is resolved.
- DDR_Test excluded in PR: https://github.com/eclipse/openj9/pull/3494
- DDR cmdLineTests excluded in PR: https://github.com/eclipse/openj9/pull/3505

[2018-11-01 13:00] gacholio commented on #3478
I'd essentially argue the opposite - the IBM SDK is completely agnostic of OpenJ9. OpenJ9 is the new thing, so it's env var should be most specific (and probably shouldn't even be parsed in the IBM SDK).

[2018-11-01 13:05] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/125
[code]

[2018-11-01 14:11] pdbain-ibm commented on #3321
@dmitripivkine is metronome supported on MacOS, and do we document same?

[2018-11-01 14:42] DanHeidinga commented on #3478
That I agree with.

Puts on my IBM hat, the IBM option should be deprecated and replaced by the OpenJ9 option.  The IBM SDK uses the same source and should prefer the OpenJ9-specific options

[2018-11-01 14:58] DanHeidinga commented on #3472
I hope that "we" is the OpenJ9 community

[2018-11-01 15:16] keithc-ca commented on #3472
FYI, I believe the `NoSuchFieldError` suggests that an older JDK (before `J9TR_SHRINK_WRAP` was removed) was used to examine a newer core file, which is an unsupported scenario.

[2018-11-01 15:18] smlambert commented on #3472
Corrected my statement above... yes of course openj9 team (vs. runtimes team).

[2018-11-01 15:18] dmitripivkine commented on #3321
-Xgcpolicy:metronome supported at Linux x86 and AIX only at the moment. It might be enabled on other platforms if they can support high-resolution clock.

[2018-11-01 15:29] llxia commented on #3366
Compilation and execution for DDR tests in `DDR_Test` are disabled in #3494
DDR cmdLineTests are excluded in https://github.com/eclipse/openj9/pull/3505

[2018-11-01 15:41] pdbain-ibm commented on #3478
Deprecating the IBM_JAVA_OPTIONS variable is a good idea.  FYI @SueChaplain .
Updating and re-testing.

[2018-11-01 15:51] llxia commented on #3321
In this case, we need to update the corresponding mode and osx value pairs in https://github.com/eclipse/openj9/blob/master/test/TestConfig/resources/ottawa.csv

For example, mode351 (-Xgcpolicy:metronome -Xcompressedrefs) should not run onosx_x86-64_cmprssptrs.

I will create a separate issue for this.

[2018-11-01 16:00] llxia opened #3508 "Tests need to be updated as -Xgcpolicy:metronome does not support on osx"
_Originally posted by @dmitripivkine in https://github.com/eclipse/openj9/issues/3321#issuecomment-435074705_

In this case, we need to update the corresponding mode and osx value pairs in https://github.com/eclipse/openj9/blob/master/test/TestConfig/resources/ottawa.csv

For example, mode351 (-Xgcpolicy:metronome -Xcompressedrefs) should not run on osx_x86-64_cmprssptrs.

[2018-11-01 16:04] gacholio commented on #3478
There can be no removals from the IBM SDK. It could be deprecated in OpenJ9 only, and then only if there is no intention to replace the IBM SDK with OpenJ9 in the future.

[2018-11-01 16:34] dmitripivkine commented on #3491
@DanHeidinga FYI

[2018-11-01 16:55] pshipton commented on #3472
For the record, @llxia (thanks Lan!) pointed out that the test is running internally on openj9 builds. It's passing on x86, so the test isn't sufficient to catch the problem discovered here.

[2018-11-01 17:03] smlambert commented on #3321
Yes, that's on me, as I originally instructed to copy the xLinux settings in the csv file, and we can refine from there.

[2018-11-01 18:34] DanHeidinga commented on #3478
With my OpenJ9 hat, I don't want to see us yank the rug out from under the IBM SDK but we can (and should!) move towards replacing IBMisms with OpenJ9isms.

IBM will have to adapt to this in their builds if it causes an issue.

(For the IBMers following along, I've already asked that the IBM_JAVA_OPTIONS env var be marked as deprecated in the IBM doc)

[2018-11-01 18:38] DanHeidinga opened #3513 "Deprecate IBM_JAVA_OPTIONS and replace with OPENJ9_JAVA_OPTIONS"
The IBM option should be deprecated and replaced by the OpenJ9 option.  The IBM SDK uses the same source and should prefer the OpenJ9-specific options

See discussion in https://github.com/eclipse/openj9/issues/3478

[2018-11-01 18:39] pshipton commented on #3478
@pdbain-ibm an issue needs to be opened at https://github.com/eclipse/openj9-docs for any doc changes.

[2018-11-01 18:43] DanHeidinga commented on #3513
Was hoping to use the new transfer this issue option to move to the openj9-docs repo but I guess it's not enabled yet.

[2018-11-01 18:43] #3513 closed

[2018-11-01 18:46] DanHeidinga commented on #3513
Real issue https://github.com/eclipse/openj9-docs/issues/131

[2018-11-01 18:46] DanHeidinga commented on #3478
The doc change has been created: https://github.com/eclipse/openj9-docs/issues/131

[2018-11-01 18:48] dmitripivkine commented on #3491
Failed an attempt to find object at `0xFD882C28` but it has been collected. Now this address points inside `!j9object 0xFD882C00`. The original address `0xFD882C28` has been taken from reference array
[code]
This array is a hash table:
[code]
This hash table is referenced here:
[code]

[2018-11-01 19:01] pshipton commented on #3475
Agreed, usage of the flag will be removed asap.

[2018-11-01 19:09] llxia opened #3514 "JVM_OPTIONS does not work in Grinder"
It does not work when specifying `JVM_OPTIONS` option in Grinder job. `EXTRA_OPTIONS` works as expected.

It seems the following logic is not correct:
https://github.com/eclipse/openj9/blob/4409caac7a850972790076b8a293fd7d1dc3a390/test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl#L413-L417

fyi @renfeiw

[2018-11-01 19:19] sophia-guo opened #3515 "Native tests failed while loading shared libraries: libj9prt29.so with PPCLE JDK8"
Native tests failed while loading shared libraries: libj9prt29.so with PPCLE openjdk8-openj9.
Tests expect shared libraries are located at `jre/lib/**ppc64le**/compressedrefs`, which actually are located at `jre/lib/**ppc64**/compressedrefs`.

PPCLE openjdk8-hotspot jdk has the structure like `jre/lib/**ppc64le**/compressedrefs`
FYI @pshipton

 ===============================================
12:51

[2018-11-01 19:26] sophia-guo opened #3516 "Native test shrtest failed on all platforms with jdk11"
Sharedclass testGetAllCacheStatistics,  testCorruptCache failed on all platforms with jdk11.

13:29:14 testGetAllCacheStatistics begin
13:29:14 JVMSHRC808I Compressed references shared cache "abc" is destroyed. Use option -Xnocompressedrefs if you want to destroy a non-compressed references cache.
13:29:14 JVMSHRC808I Compressed references shared cache "def" is destroyed. Use option -Xnocompressed

[2018-11-01 19:29] llxia commented on #3321
No problem. I will fix this in #3508 :)

[2018-11-01 19:33] hangshao0 commented on #3516
Do you have a link of the failures ?

[2018-11-01 20:11] dmitry-ten commented on #3471
I found the cause of the bug.
Consider the following scenario:
**Setup**:
- classes A and B are loaded and their classInfo is the PersistentCHTable. B is a subclass of A.
- 1 client, 1 server, 2 compilations on 2 threads.
**Events**:
1. *Thread 1* modifies classInfo of A.
2. *Thread 1* sends CH table commit to the server. {Commit: modified A}
3. Class B is unloaded, thus A is marked as dirty, B is

[2018-11-01 20:32] dmitry-ten commented on #3471
FYI @mpirvu

[2018-11-01 20:32] mpirvu commented on #3471
Thanks Dmitry for tracking this down!
So the problem appears due to message reordering. There is a similar issue with messages that we send for class unloading and my proposal at the time was to use sequence IDs to play the messages in order. I will copy that issue from the internal repo to the public one.

[2018-11-01 20:36] mpirvu commented on #3471
I was creating another issue the other day (but didn't have time to finish it) proposing to send CHTable updates together with compilation requests to reduce the number of messages. Doing so we could use one just one sequence number for class unloading and CHTable updates.

[2018-11-01 20:44] mpirvu opened #3520 "Synchronization hole in the presence of 'updates' from client to server"
In the current implementation the client can accumulate some changes from its runtime and send an update with all these changes to the server when the next compilation starts. A couple of examples are CHTable and the list of unloaded classes.
This model assumes that the server will receive these updates in order, but I don't thing there is a guarantee.
Let's consider the following scenario:

1. Th

[2018-11-01 20:45] mpirvu commented on #3471
Similar issue regarding class unloading updates: https://github.com/eclipse/openj9/issues/3520

[2018-11-01 21:14] AdamBrousseau commented on #2637
Response from OSU:
Lance Albertson
[code]
Jeffrey J. Scheel (IBM advocate)
[code]

[2018-11-01 21:43] #3478 closed

[2018-11-01 22:07] ChengJin01 commented on #3441
After adjusting the setting with maven, I managed to trigger the same assertion failures as follows:
[code]
[javacore.20181101.142234.25064.0002.txt](https://github.com/eclipse/openj9/files/2540220/javacore.20181101.142234.25064.0002.txt)

Looking at the code at /runtime/j9vm/j7vmi.c
[code]

It looks like it has nothing to do with AttachProvider/VirtualMachine at this point.

[2018-11-01 23:37] pshipton opened #3522 "Remove usage of OPENJ9_BUILD"

[2018-11-02 00:11] ChengJin01 commented on #3441
Looking at the command line option:
2CIUSERARG               -javaagent:C:\JetBrains\IntelliJ IDEA 183.4139.22\lib\idea_rt.jar=60529:C:\JetBrains\IntelliJ IDEA 183.4139.22\bin

I suspect JVM_DefineClassWithSourceCond was invoked via Instrumentation from IntelliJ IDEA. So I double-check the directory at IntelliJ IDEA:

Administrator@JCHTORWIN101 /cygdrive/c/JetBrains/IntelliJ IDEA 183.4139.22
$ gre

[2018-11-02 01:08] pshipton commented on #3441
I suspect the native stack is wrong in showing JVM_DefineClassWithSourceCond. There is a second process involved which is causing the JVM_EnqueueOperation in this VM. This other process is using sun.tools.attach.WindowsVirtualMachine instead of the OpenJ9 attach api.

[2018-11-02 01:10] pshipton commented on #3441
If the only JVMs involved are OpenJ9, you can use the IBM_JAVA_OPTIONS environment variable to set -Xdump options to create a javacore when the sun.tools.attach.WindowsVirtualMachine code is called.

[2018-11-02 01:17] pshipton commented on #3441
Make that an -Xdump option when the sun.tools.attach.WindowsVirtualMachine class is loaded, which is probably good enough, or an -Xtrace option when specific code is called.

[2018-11-02 01:18] pshipton commented on #3441
fyi https://www.eclipse.org/openj9/docs/tool_builder/

[2018-11-02 01:19] pshipton commented on #3441
or more specifically
https://www.eclipse.org/openj9/tools/xdump_option_builder.html
https://www.eclipse.org/openj9/tools/xtrace_option_builder.html

[2018-11-02 03:06] ChengJin01 commented on #3441
From the console in IntelliJ IDEA,  it seems there is only one JVM getting started to build egeria
[code]
I am not too sure whether  a second process exists in the background. Probably need to compile a build to halt in JVM_EnqueueOperation() to see what happens.

[2018-11-02 03:46] ChengJin01 commented on #3441
It seems IBM_JAVA_OPTIONS didn't get added to the command line (need double-check the setting in IntelliJ IDEA)

Nothing changes. The assert still got triggered after removing jre64/bin/attach.dll

[2018-11-02 05:31] dinogun commented on #2781
It turns out the actual issue was with the `glibc` package itself. Moving to a newer `glibc` (2.28-r0) and the latest `Alpine` (3.8.1) actually resolves this issue without having to add any new packages.

I tested this with the latest Alpine image `adoptopenjdk/openjdk8-openj9:x86_64-alpine-jdk8u192-b12` and it works ok. Please confirm, thanks

[2018-11-02 11:19] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/72/
[code]

https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/129/
`LT  stderr JVMDUMP039I Processing dump event "systhrow", detail "java/lang/OutOfMemoryError" at 2018/11/02 09:53:22 - please wait.`

[2018-11-02 11:48] groeges commented on #3392
@tajila Any progress on this?

[2018-11-02 12:28] andrewcraik commented on #3491
@yanluo7 and @0dvictor will have a look at the JIT aspect on x86.

[2018-11-02 13:13] jdekonin commented on #3124
While JDK8 PR builds cannot be tested due to lack of supporting hardware, this work is complete.  I suggest closing this issue and opening a new one in the future if there is a problem with the JDK8 OSX PR jobs.

[2018-11-02 13:33] DanHeidinga commented on #2781
@pdbain-ibm Can you retest with the latest alpine image?

[2018-11-02 13:39] pdbain-ibm commented on #2781
Will do...

[2018-11-02 13:53] sophia-guo commented on #3515
@pshipton which is the expected shared libraries path for ppcle jdk8 - `jre/lib/`**`ppc64le`**`/compressedrefs` or `jre/lib/`**`ppc64`**`/compressedrefs`?

[2018-11-02 14:30] pshipton commented on #3515
The solution is to use the test images that are created for jkd8, similar to how jdk11 works. We intend to delete the test libraries from the compressedrefs directory once the tests can be updated.

ppc64le is correct, created https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/190

[2018-11-02 14:31] pdbain-ibm opened #3523 "MacOS: make recompiles files unnecessarily"
Following the instructions on https://www.eclipse.org/openj9/oj9_build.html#version-11,
run `make all`, then run `make all` again.  No source files are changed, but all C/C++ files are recompiled.

[2018-11-02 14:44] pdbain-ibm commented on #2781
Thanks @dinogun .  Tested and working.
@CodingFabian would you kindly retest and close this issue if you are satisfied?

[2018-11-02 14:58] pdbain-ibm commented on #3450
- https://github.com/eclipse/openj9/issues/3411 pull request https://github.com/eclipse/openj9/pull/3487 opened.
- https://github.com/eclipse/openj9/issues/3202 fix tested, running a personal regression build now.
- https://github.com/eclipse/openj9/issues/3175 under investigation.

[2018-11-02 15:00] llxia opened #3525 "Update tests to use OPENJ9_JAVA_OPTIONS"
Due to [Deprecate IBM_JAVA_OPTIONS and replace with OPENJ9_JAVA_OPTIONS](https://github.com/eclipse/openj9-docs/issues/131), tests need to be updated.

- https://github.com/eclipse/openj9/blob/master/test/functional/Java8andUp/src/org/openj9/test/vmArguments/VmArgumentTests.java needs to be updated.
- https://github.com/eclipse/openj9/blob/master/test/TestConfig/resources/modes.xml will not break,

[2018-11-02 15:06] mpirvu opened #3526 "Allow more than 8 compilation threads at the JITaaS server"
Currently the JIT only allows a maximum of 8 compilation threads mainly because `TR_PersistentClassInfo::_shouldNotBeNewlyExtended` keeps a bit mask of compilation thread IDs and the size of this mask is 8 bits (to conserve footprint). PR #3524 eliminated that restriction, but more changes are needed.

The following #defines need to be replaced with `uint32` variables that can be changed, such tha

[2018-11-02 15:41] pdbain-ibm commented on #3525
@llxia While I have the modes file open, I will also delete some obsolete or unused modes.

[2018-11-02 16:21] andrewcraik commented on #3340
@cathyzhyi any further progress?

[2018-11-02 16:28] pdbain-ibm commented on #3525
Please not that VmArgumentsTests was already updated by
https://github.com/eclipse/openj9/pull/3495/files#diff-7f1510116e93ef7b021414c1fa329409.

[2018-11-02 16:43] fjeremic commented on #3373
I'm heavily in favor of not going the `jitConfig` route. The information is already available via the J9 hooks as was done in #3389. I don't think we should duplicate the information.

[2018-11-02 17:33] lmaisons commented on #3496
Also from the referenced page:

Is statically linking libstdc++ on macOS actually considered a statically linked binary?  I would have expected it to call into a libc equivalent rather than making kernel calls directly.

[2018-11-02 17:34] tajila commented on #3392
I have a PR https://github.com/eclipse/omr/pull/3148

[2018-11-02 17:43] #3500 closed

[2018-11-02 18:11] jdekonin commented on #3124
Yes JDK11 compiles, test jobs are triggering but failing with known issues that are already being tracked.

[2018-11-02 19:08] liqunl opened #3531 "Use potentialOSRPointHelper call as a marker of OSR point"
OSR points are places in a jitted code where transition to the interpreter is possible. Currently, OSR points are calls, asyncchecks and monitor enters. Calls can be inlined or optimized aways, which adds the difficulty in locating OSR points. Serving as a marker, `potentialOSRPointHelper` is to help locating OSR points. With more OSR points, we can do more OSR dependent optimizations.

To use pot

[2018-11-02 19:17] #3379 closed

[2018-11-02 19:34] #3124 closed

[2018-11-02 19:46] DanHeidinga commented on #3497
@ymanton Does the code to preserve the frame pointer on x86 still exist?  I would expect keeping the framepointer and saving it in the appropriate stackslot would be sufficient for perf to walk the jitted frames.

Providing only the jitted stack frames would give a great deal more info than is currently available and would cover the most interesting frames for users.

[2018-11-02 20:35] liqunl opened #3532 "Transform Unsafe.CAS to atomic intrinsic"
Current node flag `isSafeForCGToFastPathUnsafeCall` is used to optimize Unsafe.CAS calls made from VarHandle operation methods in UnsafeFastPath. When atomic intrinsic of compareAndSwap is available in OMR, Unsafe.CAS should be converted to its equivalant atomic intrinsic.

Depends on https://github.com/eclipse/omr/pull/2174

[2018-11-02 20:38] pshipton commented on #3392
Does the original change to use `../` only work because it fails to find the library at that path and falls back to search the portlib directory?

[2018-11-02 20:38] dsouzai commented on #3497
At least on x86, part of the problem was using rbp for the vmThread reg. I think @lmaisons looked into this issue at one point.

[2018-11-02 20:59] pshipton commented on #3472
Re-opening since #3518 was reverted.

[2018-11-02 21:03] tajila commented on #3392
@pshipton yes

[2018-11-02 21:33] pshipton commented on #3392
I think I'm still missing something. If "../java" always fails on Mac, and the fallback makes it work, wouldn't just using "java" have been sufficient on the Mac, as it could also fail and then use the fallback?

[2018-11-02 21:43] ChengJin01 commented on #3441
Already added it to the maven setting but no java core was generated.
I also compiled a build with printing messages in Java_sun_tools_attach_WindowsVirtualMachine_enqueue (which invokes JVM_EnqueueOperation) but nothing happened during execution.

Other interesting findings:
1) the problem only occurs by pressing the "Execute Maven Goal" button to build the maven project with the following comman

[2018-11-02 22:41] tajila commented on #3392
I'm not sure what happens on mac, I never tried it there. But on xa64 `../java` only works because of the fallback.

[2018-11-02 23:15] pshipton commented on #3441
You could try removing the OpenJDK/Hotspot attach api classes like sun.tools.attach.WindowsVirtualMachine and see if this changes the behavior. Also check if there is a log file where errors/exceptions get logged.

[2018-11-02 23:16] pshipton commented on #3441
and you can go ahead and create a PR to do https://github.com/eclipse/openj9/issues/3441#issuecomment-435362195

[2018-11-02 23:17] pshipton commented on #3392
Perhaps I misunderstood. Does the fallback still use the `../java` path, but from the portlib directory?

[2018-11-03 04:08] DanHeidinga commented on #3392
Yes. it makes the path relative to the portlib directory as libjava.so is up one level from the compressed | default directories

[2018-11-03 08:29] dpishchukhin commented on #1924
any news for the topic?

[2018-11-03 10:43] marc0der commented on #1924
@dpishchukhin please see my comment above :point_up:. As stated before, it is as simple as a pull request. I would suggest using the adoptopenjdk openj9 flavour.

[2018-11-03 18:37] gacholio commented on #3373
Agreed, since there is no need to externalize this outside of the JIT codebase, a TR_ option or equivalent seems sensible, and can be set in the hook disable code.

[2018-11-04 04:09] #3525 closed

[2018-11-05 10:28] SueChaplain commented on #2838
Please add a tag for the doc changes needed (doc:externals) and open an issue at the openj90-docs repository: https://github.com/eclipse/openj9-docs/issues/new?template=new-documentation-change.md

We will then be able to add this to our 0.12.0 release list. Thanks!

[2018-11-05 10:35] SueChaplain commented on #3421
Hi @gita-omr

Assuming we will need some documentation to support this.  Please add doc:externals label to this and  open an issue at openj9-docs repo: https://github.com/eclipse/openj9-docs/issues/new?template=new-documentation-change.md so we can plan for this in the 0.12.0 list.

[2018-11-05 10:41] SueChaplain commented on #3338
@pshipton This is referenced in the 0.12.0 Eclipse plan for XL heap. Is there another issue for that piece that is still open please?

[2018-11-05 10:43] SueChaplain commented on #3451
@pshipton - can we also have the doc:externals label added so that we have a reminder to add it back to the docs please?

[2018-11-05 12:20] pshipton commented on #3338
@0dvictor or @andrewcraik please open a issue at https://github.com/eclipse/openj9-docs to cover the documentation changes for this.

Is there a plan to enable Windows?

[2018-11-05 13:38] andrewcraik commented on #3338
I believe the windows specific parts of the change are likely to be related to the GC so we need to be guided by @amicic on when they plan to do that work. @0dvictor will provide any necessary support once we know what is needed beyond that already implemented.

[2018-11-05 13:43] zl-wang commented on #3497
perf doesn't know anything about OpenJ9/OMR frame shapes at all.  It cannot weave between java and native frames.  it possibly can deal with single-stack mixed-mode VM.  On the other hand, is there a stack-walking JVM TI service available for perf? jprof SCS (Sampled Call Stack) seemed able to do it.

[2018-11-05 14:02] DanHeidinga commented on #3497
I don't think it matters.  The user is likely to care about the currently executing frames and as much of the stack as we can give them.  Something is better than the nothing we currently display.

For x86 at least, a valid instruction pointer along with being able to chain through basepointer should be sufficient to get a good sample of the stack.

If we limit it initially to x86, is this somethi

[2018-11-05 14:22] andrewcraik commented on #3497
I don't think it is something that can be done in a reasonable amount of time for all the reasons listed by @ymanton - register conventions are not in place to match what perf expects, GC maps are not reliable outside of GC points, ABI compliance of frames is unknown and likely to need more work, handling stack swap and C code on the java stack for fast helpers is not trivial. From the point of vi

[2018-11-05 14:36] pshipton commented on #3392
#3535 was reverted
#3542 fixes the problem.

[2018-11-05 14:36] #3392 closed

[2018-11-05 14:54] ben-walsh opened #3543 "JTReg test fails : java/io/FileInputStream/UnreferencedFISClosesFd.java and java/io/FileOutputStream/UnreferencedFOSClosesFd.java"
Both https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/io/FileInputStream/UnreferencedFISClosesFd.java and https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/io/FileOutputStream/UnreferencedFOSClosesFd.java are behaving inconsistently ...

Sometimes (~60% of the time) they pass and other times they time out.

The problematic sub-test in both i

[2018-11-05 15:06] babsingh commented on #3496
Refer to Nazim's [comment](https://github.com/eclipse/openj9/issues/3496#issuecomment-434844277) above. **The linker does not complain that it is an invalid option, but simply says that it was unused.**

[2018-11-05 15:12] mpirvu opened #3544 "Changes to the JITaaS server dispatcher thread"
Currently, the dispatcher thread at the JITaaS server performs too much work which could hinder connections from other clients.
The code goes along these lines:
[code]
One problem is that the read for the compilation request is blocking, so while waiting for this request to come no new connections can be established. Another problem is that processing the unloaded classes could take some time (als

[2018-11-05 15:22] amicic commented on #3338
I'm not aware of any changes on GC side. Once JIT side is ready, we just need to turn on the build flag. If testing shows problem both sides will investigate as appropriate.

BTW, this is how forcing s/w barrier on startup looks like (nothing Linux or Windows specific)

#if defined(J9VM_ARCH_X86)
			extensions->softwareRangeCheckReadBarrier = true;

[2018-11-05 15:30] martinlippert commented on #3371
I tried today again with the latest build from the nightlies and it doesn't work (starting up Eclipse). Is the solution to this in a special branch or a special build only? Or is there anything I need to do when using the latest from nightly?

[2018-11-05 15:44] pdbain-ibm commented on #3371
You will need to use a "large heap" version of the JDK, which I don't believe is available yet as a regular build.  @sxa555 I see https://github.com/AdoptOpenJDK/openjdk-build/issues/686 is closed, but I don't see any MacOS large heap builds.

[2018-11-05 16:18] DanHeidinga commented on #3496
@babsingh Any update on the progress using this approach?

[2018-11-05 16:19] nbhuiyan commented on #3496
@lmaisons

`-static-libstdc++` is  a recognized option for gcc-4.9, but appears to do nothing. Also, gcc-4.9 does not report that the option was unused.

[2018-11-05 16:30] keithc-ca opened #3548 "Tests leave extra processes running"
Symptoms include causing the cleanup job to fail, see https://ci.eclipse.org/openj9/job/Cleanup-Nodes/531/console.

This isn't limited to Windows hosts; I've seen abandoned processes on AIX as well.

[2018-11-05 16:33] llxia commented on #3508
Following modes in ottawa.csv contain -Xgcpolicy:metronome and they should not run on osx:

variation:Mode300
variation:Mode301
variation:Mode303
variation:Mode304
variation:Mode305
variation:Mode306
variation:Mode307
variation:Mode350
variation:Mode351
variation:Mode353
variation:Mode354
variation:Mode355
variation:Mode356
variation:Mode357

[2018-11-05 16:35] keithc-ca commented on #3292
The test libraries are copied to `build/macosx-x86_64-normal-server-release/images/test/openj9` following the pattern for other platforms.

[2018-11-05 16:52] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/132
`LT  stderr JVMDUMP039I Processing dump event "systhrow", detail "java/lang/OutOfMemoryError" at 2018/11/05 07:29:32 - please wait.`

https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64/72/
`LT  stderr JVMDUMP039I Processing dump event "abort", detail "" at 2018/11/05 07:31:04 - please wait.`

https://ci

[2018-11-05 18:32] pdbain-ibm commented on #3301
`p2.T3` is trying to access method `m1` in class `T2`. `T2` is public and inherits `m1` from its non-public superclass `T1`. `T3`'s package is different from `T1` and `T2` and cannot see the former. `findVirtual` creates a handle to `T2.m1` (which is actually `T1.m1`), then does the access check, but uses `m1`'s defining class (i.e. `T1`) instead of the nominal class (`T2`) and fails.

@DanHeiding

[2018-11-05 18:36] pshipton commented on #3270
Another similar failure running DaaLoadTest_all_0
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64_cmprssptrs/74
[code]

[2018-11-05 18:45] DanHeidinga commented on #3301
This in `findVirtual` or one of the `checkAccess` methods?  A link to the relevant code would help =)

[2018-11-05 19:15] AdamBrousseau opened #3551 "Jenkins: Add Build Monitor view(s) for OpenJ9 Builds"
- Since we reuse jobs in our pipelines between different builds (Nightly, OMR Acceptance, PRs, Developer builds, etc) it is hard to monitor at a high level what is pass/fail. It would be useful to have some kind of view or dashboard to display some kind of list of jobs in a build and what their statuses are.
- Jenkins has Views which can be configured. There is the "List View" which lists jobs and

[2018-11-05 19:17] pdbain-ibm commented on #3301
[code]

[2018-11-05 19:32] AdamBrousseau commented on #3551
The embeddable badges can only display status of latest build or specific build number. I don't see how this could be used without creating extra tooling.

[2018-11-05 19:36] pdbain-ibm commented on #3301
I changed `getDefC()` to `handle.getReferenceClass()` and the test passed.

[2018-11-05 19:48] babsingh commented on #3496
Downloaded XCode 9 https://developer.apple.com. It took more than an hour. Xcode9 is `xip` file, which requires `10.11.5+` for unzipping. Currently on `10.10.5`. Found a `10.11.6` machine. Moving forward to building it. Will post results by the end of today.

[2018-11-05 19:58] olendvcook opened #3555 "Potential Hang Calling com.ibm.lang.management.internal.ExtendedGarbageCollectorMXBeanImpl.getLastGcInfo()"
https://github.com/eclipse/openj9/blob/dd27bd80eb9972480e91425193ccf09b734c81c5/jcl/src/jdk.management/share/classes/com/ibm/lang/management/internal/ExtendedGarbageCollectorMXBeanImpl.java#L79

Hello, I work on a feature in IBM's WebSphere Application Server Liberty Profile. Our feature gets an ExtendedGarbageCollectorMXBean, and then calls getLastGcInfo() on it. Rarely this call will hang, and o

[2018-11-05 20:07] olendvcook commented on #3555
I have no clue what helpful info you guys would need, I don't have a javacore dump.

[2018-11-05 20:39] #3555 closed

[2018-11-05 20:55] liqunl opened #3556 "Optimize Unsafe atomic calls for arraylets"
Unsafe atomic calls should be transformed into atomic intrinsics, which takes a memory address whose content is to be updated.

For arraylets, a spinechk tree is needed before the call to atomic intrinsics to get the actual address.

[2018-11-05 21:43] andrewcraik commented on #3497
I think the original question raised by this issue has been answered - namely the two options are not similar and are not aliasable. Since the discussion seems to have resolved I am going to close this issue. If we want to continue discussing changes to the internal linkage etc to try and support perf that is probably better done in an issue dedicated to that task since we are diverging from the o

[2018-11-05 21:43] #3497 closed

[2018-11-05 23:48] pshipton opened #3558 "zlinux/plinux is not statically linking libstdc++.so"
Unlike the xlinux builds, zlinux/plinux builds are not statically linking libstdc++.so

I checked a zlinux jdk11 build (the 0.11.0 release) downloaded from Adopt
This build uses gcc 7.3.
Also looked at a jdk8 build using gcc 4.8.5 and it is the same.

`ldd libj9jit29.so` shows
`libstdc++.so.6 => /usr/lib64/libstdc++.so.6 (0x000003fffc8e8000)`

`nm libj9jit29.so | grep GLIBCXX` shows
[code]

[2018-11-06 03:07] babsingh commented on #3323
Changes to the JDK8 build process. The following environment variables won't work anymore:
[code]
Reference: https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/147. Instead of using the above environment variables, `./configure` needs to be run differently:
[code]
**Examples:**
- <PATH_TO_XCODE4_APP>: `/Applications/Xcode4/Xcode.app`
- <PATH_TO_OPENJ9_CC>: `/Applications/Xcode7/Xcode.app/Cont

[2018-11-06 03:17] babsingh commented on #3323
^^^ fyi: @sxa555 @groeges @AdamBrousseau @jdekonin

[2018-11-06 03:30] babsingh commented on #3496
**Update:**

- Xcode9 needs minimum OSX 10.12 and Xcode4 doesn't work on OSX >= 10.12. Xcode4 needs OSX <= 10.11. So, Xcode9 and Xcode4 can't be used together.
- Xcode4 and Xcode7 can be used together. Tried building OpenJ9 using Xcode7 + clang. OpenJ9 build fine with the JIT disabled. JIT compilation instantly failed. Not sure if something was missing in the setup for the JIT. For the JIT, I chan

[2018-11-06 12:57] jdekonin commented on #3323
I also needed to install `pkg-config` and I didn't need to modify `/usr/include/dispatch/object.h` or `/bin/bash`.  The system I used was 10.11.6 (El Capitan), an update to 10.12 (Sierra) causes failures with xcode4.

[2018-11-06 12:59] pshipton opened #3560 "cmdLineTester_jep178_staticLinking_SE80_0 failing across platforms"
[code]

Not all platforms are failing the same way.

https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_390-64_cmprssptrs/142
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64_cmprssptrs/75
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-win_x86-64_cmprssptrs/64
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_ppc

[2018-11-06 13:00] pshipton commented on #3560
I'm guessing https://github.com/eclipse/openj9/pull/3550 is the cause.
@sophia-guo @llxia

[2018-11-06 13:04] pshipton opened #3561 "vmLifecyleTests_1 vmLifecyleTests_3 failing"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64/72
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs/65

[code]

[2018-11-06 13:06] pshipton commented on #3561
vmLifecyleTests_1 and vmLifecyleTests_4 failing
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_ppc-64_cmprssptrs_le/126
[code]

[2018-11-06 13:08] pshipton commented on #3561
Not sure if the lifecycle test failures are related to #3550
@sophia-guo @llxia

[2018-11-06 13:11] pshipton opened #3562 "cmdLineTester_dumpromclasstests_0 failing on AIX"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs/65
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/124

[code]

[2018-11-06 13:11] pshipton commented on #3562
@jdekonin are the machines out of space?

or perhaps related to #3550
@sophia-guo @llxia

[2018-11-06 13:13] JasonFengJ9 commented on #3561
According to previous investigation, this is due to https://github.com/eclipse/openj9/issues/2772

[2018-11-06 13:14] pshipton opened #3563 "Parse errors creating TAP Extended Test Results on Windows"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-win_x86-64_cmprssptrs/64/tapResults/
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-win_x86/62/tapResults/

[code]

[2018-11-06 13:14] pshipton commented on #3563
@llxia

[2018-11-06 13:17] pdbain-ibm commented on #3301
... but it broke jsr292Test test_GetterSetter_Protected_CrossPackage_SuperclassLookup. Investigating.

[2018-11-06 13:20] pshipton opened #3565 "ASSERTION FAILED ** at classsupport.c:1244 running Build-JDK11-win_x86-64_cmprssptrs"
https://ci.eclipse.org/openj9/job/Build-JDK11-win_x86-64_cmprssptrs/159
[code]

[2018-11-06 13:22] pshipton commented on #3565
1244:	Assert_VM_internalFindKnownClassFailure();

[2018-11-06 13:30] pshipton commented on #3491
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/76
[code]

https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64/73/
[code]

https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/133
[code]

https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/130
[code]

[2018-11-06 13:38] pshipton commented on #3561
These tests were not failing before last night.

[2018-11-06 13:51] DanHeidinga commented on #3491
@yanluo7 & @0dvictor Can you provide the current status on this?  It's hitting every nightly build right now

[2018-11-06 13:52] AdamBrousseau opened #3566 "Add ci.role.build and ci.role.test to machines and Pipeline scripts"
Ref Issue AdoptOpenJDK/openjdk-tests#671

We have a need to separate some build farm and test machines. Through discussion we have concluded and are proposing we add labels `ci.role.build` and `ci.role.test` to the appropriate machines and corresponding pipelines.

Steps to Implement:
- [x] Add labels to machines
- [x] Add labels to Pipelines #3588
- [x] ~Remove obsolete labels (if applicable)~

[2018-11-06 13:53] DanHeidinga commented on #3301
The rules for JSR292 are meant to closely approximate the behaviour of the bytecodes.  Check the code in resolvesupport.cpp & visible.c for how we handle the checks there.

[2018-11-06 14:00] jdekonin commented on #3562
The 4 AIX machines do not appear to be out of space at the moment.

[2018-11-06 14:55] JasonFengJ9 commented on #3561
It was an intermittent failure, the failure rate ~1/10 on `zLinux`.
With `-Dcom.ibm.tools.attach.enable=no`, the test passed consistently.

FYI: @pdbain-ibm

[2018-11-06 15:18] ben-walsh opened #3568 "JTreg test fail : java/net/HttpURLConnection/SetAuthenticator/HTTPSetAuthenticatorTest.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/net/HttpURLConnection/SetAuthenticator/HTTPSetAuthenticatorTest.java is behaving inconsistently ...

Sometimes (3 out of 10 consecutive test runs) the following failure is encountered ...

[code]

Example log archive from such a failure run : [HTTPSetAuthenticatorTestFailure.tar.gz](https://github.com/eclipse/openj9

[2018-11-06 15:48] pshipton commented on #3561
Just strange that hasn't appeared from quite a while, and last night there were about 6 failures.

[2018-11-06 15:51] pdbain-ibm commented on #3301
The test in question is:
Superclass CA declares protected field X.  Subclass CB in a different package inherits X.
CA tries to use a Lookup based in CA to access X in CB and fails because CA does not subclass CB and is in a different package.
This used to pass because the check formerly used the declaring class (CA) of X as the target class.

[2018-11-06 15:58] JasonFengJ9 commented on #3561
It is timing when the shutdown hook registered by `attach API` got to run.

[2018-11-06 15:58] hangshao0 commented on #3516
The failures are caused by the wrong cache directory. The default cache directory has been changed to user's home from Java 11. The test needs to be updated.

[2018-11-06 16:04] sophia-guo commented on #3561
@pshipton yes, the tests was re-enabled yesterday in #3550, which was disabled for a while as native test image issue.

[2018-11-06 16:08] sophia-guo commented on #3562
Test was re-enabled by #3550, which had been disabled ever since open source.

[2018-11-06 16:17] sophia-guo commented on #3561
It also failed with Mode351, which was disabled in https://github.com/eclipse/openj9/issues/3045

[2018-11-06 16:17] sophia-guo commented on #3045
Duplicate of #3561 , close it.

[2018-11-06 16:17] #3045 closed

[2018-11-06 16:23] sophia-guo commented on #2869
Not valid. Close it.

[2018-11-06 16:23] #2869 closed

[2018-11-06 16:29] pshipton commented on #3561
My vote is to disable it again, until it can pass reliably.

[2018-11-06 16:35] pshipton commented on #3562
Please disable it again until it can pass reliably.

[2018-11-06 17:00] gacholio commented on #3565
Likely filesystem flakiness. None of the changes in the PR would have caused this. Java ran successfully before the error.

[2018-11-06 17:20] keithc-ca commented on #3472
Fixed via https://github.com/eclipse/openj9/pull/3554.

[2018-11-06 17:20] #3472 closed

[2018-11-06 18:43] sophia-guo commented on #3560
Looks like tests are passing in -DJVMLIBPATH="$(JAVA_BIN)$(D)j9vm"

[2018-11-06 18:49] pdbain-ibm commented on #3301
For the record, from the JVM spec https://docs.oracle.com/javase/specs/jvms/se11/html/jvms-5.html#jvms-5.4.4:

[2018-11-06 18:51] AdamBrousseau opened #3573 "Investigate Compressing Jenkins build logs"
Jenkins Compress build log plugin
https://wiki.jenkins.io/display/JENKINS/Compress+Build+Log+Plugin

Issue:
[code]

What this means, The overall log is essentially duplicated/separated into each step as a separate numbered log file. The overall log which has all the output will be replaced with a `gz` compressed version but each step will not be compressed. I have tried removing the individual ste

[2018-11-06 18:54] pshipton commented on #3565
Agreed, but I wanted to record it in case it occurs again.

[2018-11-06 18:59] sophia-guo commented on #3562
will do

[2018-11-06 19:45] llxia commented on #3562
Can you also disable this test on osx?
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-osx_x86-64_cmprssptrs-OpenJ9/5/tapResults/

[code]

[2018-11-06 20:08] llxia commented on #3563
Is possible filter out the special characters in test output? @renfeiw

[2018-11-06 20:28] sophia-guo commented on #3560
Updated JVMLIBPATH and still got `Number of FAILED tests: 4 out of 6`, will disable temporarily.

[2018-11-06 20:34] dmitry-ten commented on #3504
We are already sending `TR_PersistentMethodInfo` when creating a resolved method mirror.
Since at that point we already have a resolved method for method being compiled, we should be able to just access method info from there.

[2018-11-06 20:36] dmitry-ten commented on #3504
Then it makes sense to send resolved method info for method being compiled with compilation request, this would save us another message pair.

[2018-11-06 20:58] babsingh commented on #3452
Updated the issue's description. Evaluated all J9UNIX code locations in the context of OSX. **Conclusion:** In seventeen locations, J9UNIX and OSX share the same code. In two locations, J9UNIX and OSX code slightly differs. So, J9UNIX macro should be enabled on OSX. The two outliers should be separately handled with comments stating why J9UNIX and OSX code differs.

[2018-11-06 22:02] fjeremic opened #3576 "Move randomGen architecture disabling on Z into OMR"
The randomGen code in J9CodeGenerator [1] needs to be moved out into the OMRCodeGenerator constructor. The reason for this is that when constructing the J9CodeGenerator object the OMR constructor will be invoked first and when that happens we will have already made a bunch of decisions based on the architecture level we currently support.

When we finally get to the J9CodeGenerator constructor we

[2018-11-06 22:22] fjeremic opened #3577 "Enable minimum ALS asserts as fatal and add `-Xjit:disable<arch>` testing"
Since the introduction of the `minimumALS` property for each instruction we've introduced a nice assert in OMR which asserts [1] that the instruction we're about to generated is supported on the architecture we're running on. This prevents the common bugs of forgetting to guard a particular piece of evaluator with an architecture guard. These will result as SIGILL failures in production.

Unfortun

[2018-11-07 04:38] mpirvu commented on #3504
Note that for a TR_ResolvedJ9Method representing a method undergoing compilation
there could be two PersistentJittedBodyInfos at the server
(1) One that describes the previous compilation (uses heap memory) and it is cached in the resolvedMethod. This one is NULL for first time compilations (which are the vast majority of compilations).
  We should access this through compilee->getExistingJittedBo

[2018-11-07 05:01] dhong44 commented on #3577
Number 2. seems incorrect to me. The `supportsArch` function [1] returns true if the processor architecture is greater than or equal to the architecture we are checking support for, in this case the `minimumALS` of an instruction.

If we use `TR_UnknownArchitecture` as the `minimumALS` then we will always support since `TR_UnknownArchitecture` is mapped to 0 and every architecture will be greater

[2018-11-07 11:01] takiguc opened #3580 "libj9jit29.so issue on RHEL 7.5 ppc64le"
Hello.
I started AdoptOpenJDK+OpenJ9 builds on Linux RHEL 7.5 ppc64le environment, following message was displayed on screen:
On JDK-11+28, Java was not started
$ ~/jdk-11+28/bin/java -jar SwingSet2.jar
JVMJ9VM011W Unable to load j9jit29: /lib64/ld64.so.2: version `GLIBC_2.22' not found (required by /home/jdktest/jdk-11+28/lib/compressedrefs/libj9jit29.so)
JVMJ9VM013W Initialization error in funct

[2018-11-07 12:15] takiguc opened #3581 "Console.readPassword() was failed on Linux s390x platform"
Hello.

I ran following testcase on Linux s390x platform (SLES12, Ubuntu 18.04) with AdoptOpenJDK+OpenJ9 11.0.1
openjdk version "11.0.1" 2018-10-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.1+13)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.11.0, JRE 11 Linux s390x-64-Bit Compressed References 20181020_68 (JIT enabled, AOT enabled)
OpenJ9   - 090ff9dc
OMR      - ea548a66
JCL      - f6

[2018-11-07 12:31] pshipton commented on #3580
It seems the jdk-11+28 build from AdoptOpenJDK was built on Ubuntu 16, while the later build was created on RHEL 7. I believe compilation with gcc 7.3 requires the newer GLIBCXX version. Agreed that #3588 is a factor, I'll update it to include plinux.

[2018-11-07 12:33] pshipton commented on #3558
Note the user encountered problem #3580 on plinux.

[2018-11-07 14:03] pshipton commented on #3565
Occurred again, looking like a real issue
https://ci.eclipse.org/openj9/job/Build-JDK11-win_x86-64_cmprssptrs/160

[2018-11-07 14:10] pshipton opened #3582 "Test-sanity.system-JDK8 MauveMultiThreadLoadTest_0 BigInteger"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_ppc-64_cmprssptrs_le/135
[code]

[2018-11-07 14:14] pshipton opened #3583 "Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs VmArgumentTests.testMemoryLeaks"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs/66
[code]

[2018-11-07 14:16] pshipton commented on #3582
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/134
[code]

[2018-11-07 14:18] pshipton commented on #3582
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_390-64_cmprssptrs/151
[code]

[2018-11-07 14:29] theresa-m opened #3584 "Add build version to native-test-libs"
After a test libraries folder (native-test-libs) is unzipped it is impossible to tell which build / shas it belongs to. This gets confusing when making changes to those libraries and downloading them to test manually. Perhaps adding a txt file to native-test-libs with the corresponding `java -version` output would be a good solution.

- [x] openj9-openjdk-jdk8 https://github.com/ibmruntimes/openj9

[2018-11-07 14:31] #3514 closed

[2018-11-07 14:42] mpirvu opened #3585 "Small reduction in data sent for method tracing"
When the client sends information about a j9class to the JITaaS server it packs the method tracing information into a vector of a pair of boolean values. Because the number of methods may be large for some classes, it may worthwhile to do a better packing by using 2 bits (thus just one byte) per method. Relevant code:
[code]

[2018-11-07 15:01] DanHeidinga commented on #3581
OpenJ9 uses the OpenJDK class libraries so we'll pick up JDK-8211163 when its available in OpenJDK.  If you want this in JDK11 (and it sounds like you do), you should request OpenJDK backport the fix to the 11 LTS release.

For JDK-8209637, we'll take a look at correctly converting booleans when returning from native calls.

@fengxue-IS / @tajila Can the two of you take a look at this?  Tobi, I kn

[2018-11-07 15:04] pshipton commented on #3565
Blocking omr acceptance builds as well

[2018-11-07 15:09] pshipton commented on #3565
#3542 is the suspect change

[2018-11-07 15:18] pdbain-ibm commented on #3452
Could you provide the details of the outliers?

[2018-11-07 15:19] pshipton commented on #3584
@keithc-ca fyi

[2018-11-07 15:43] mpirvu opened #3587 "Reduce number of getOSRFrameSizeInBytes messages"
Latest openj9 code introduced calls to `fej9()->getOSRFrameSizeInBytes(method)` and we are seeing about 6 getOSRFrameSizeInBytes messages per warm compilation. These messages could be eliminated because the definition of `getOSRFrameSizeInBytes()` boils down to this method in decomp.cpp
[code]

The proposal is to create another definition that takes a RomMethod as a parameter and make the original

[2018-11-07 15:48] keithc-ca commented on #3584
Good idea, Theresa.

In the extensions repos, it should be as simple as adding a new prerequisite in OpenJ9.gmk for `openj9_test_image` that creates the file with that information.

[2018-11-07 16:08] babsingh commented on #3452
[2 locations] In `jvm.c::JVM_Available` and `jvm.c::JVM_Open`, `stat/fstat` is used on OSX whereas `stat64/fstat64` is used on J9UNIX. But, `stat64/fstat64` is supported on OSX. If we use `stat64/fstat64` on OSX, then there will be no outliers.

Creating a pull request to close this issue.

[2018-11-07 16:16] tajila commented on #3581
Ill take a look at the boolean returns for JNI

[2018-11-07 16:18] gacholio opened #3590 "Don't fall back to mimicInterpreterFrameShape when data breakpoints used"
https://github.com/eclipse/openj9/blob/master/runtime/compiler/control/HookedByTheJit.cpp#L3018

When jitClassesRedefined is called with an empty list (as is the case for enable a data breakpoint), the JIT falls back to mimicInterpreterFrameShape.

I can't recall or think of any reason for this, and it will cripple the field watch optimizations.

Related: #3153

[2018-11-07 16:39] fjeremic commented on #3577
Ahhh! You're totally right. I must have confused myself with something. I do recally hitting the OMRInstruction assert though on some of these pseudo-instructions. I think it may have been `DCB` when I tried using debug counters. Perhaps they map to instructions we may not support on all architectures?

I'm not sure. However the goal is to enable the fatal asserts and introduce testing without us

[2018-11-07 16:56] gacholio commented on #3590
@fjeremic @cathyzhyi @andrewcraik @DanHeidinga

[2018-11-07 17:13] DanHeidinga commented on #3583
@pshipton Is this a new failure?  Do you have the list of changes between the passing and failing builds?

[2018-11-07 17:41] pdbain-ibm commented on #3452
Given that `man fstat64` redirects to `fsat`, could we use the non64 versions throughout?

[2018-11-07 18:09] babsingh commented on #3452
non64 versions use `stat` data structure and 64bit versions use `stat64` data structure. The `stat64` structure is similar to the `stat` structure, **except that it is capable of returning information about files that are larger than 2 gigabytes**. Using non64 versions throughout will lead to change in behavior on platforms such as Linux. On Linux, our implementation of `JVM_*` functions won't be

[2018-11-07 18:41] yanluo7 commented on #3491
Been trying to narrow down the methods w/ travis grinder. Hitting an issue where the grinder/test script unable to parse `-Xjit:"..."` option, tried with single, double, and no quotes all failed. Working w/ infra to sort this out.

[2018-11-07 18:55] pdbain-ibm commented on #3452
How does MacOS handle large files if `fstat64` is deprecated?

[2018-11-07 18:55] pshipton commented on #3583
Yes it is a new failure.

failing build:
01:39:04 Eclipse OpenJ9 VM (build master-1b4749f7b, JRE 11 AIX ppc64-64-Bit Compressed References 20181106_163 (JIT enabled, AOT enabled)
01:39:04 OpenJ9   - 1b4749f7b
01:39:04 OMR      - c7354fbf
01:39:04 JCL      - e8f20d1d1d7 based on jdk-11.0.1+13)

previous build:
01:35:54 Eclipse OpenJ9 VM (build master-87bc82873, JRE 11 AIX ppc64-64-Bit Compressed Re

[2018-11-07 19:07] pshipton opened #3595 "Some compile triggers for pull request builds not working"
In #3594 I wasn't able to start a plinux jdk8 compile or a xlinux jdk11 compile.

[2018-11-07 19:07] pshipton commented on #3595
@jdekonin

[2018-11-07 19:16] mpirvu opened #3597 "Memory leak for options allocated at the JITaaS server"
Options from the client are serialized and sent to the JITaaS server which in turn will materialize them using persistent memory. This block of persistent memory is attached to a compilation request entry. At the end of the compilation the options need to be freed when the compilation request entry is put back into the pool for recycling (`void TR::CompilationInfo::recycleCompilationEntry(TR_Metho

[2018-11-07 19:47] gacholio commented on #3374
Seems this issue is no longer useful.

[2018-11-07 20:12] babsingh commented on #3452
MacOS doesn't have a 32-bit variant. So, my guess is that everything defaults to 64-bit.

[2018-11-07 20:15] fjeremic commented on #3374
@gacholio this issue was supposed to be closed by #3462 where support is actually added.

[2018-11-07 20:45] pdbain-ibm commented on #3175
Failing on the `MH_UNREFLECT_SETTER_ACCESSIBLE` tests.
In one test case doing a lookup from `pkg.A` to the same class, the following fields should be inaccessible:

[2018-11-07 21:00] gacholio commented on #3374
Ah, got confused by the common change.

[2018-11-07 21:06] AdamBrousseau opened #3600 "Lots of files and directories left on Windows machines in User's Home dir"
Not sure if these are from compiles or tests or both. Likely multiple issues here.
I guess more accurately, this is the Jenkins RemoteFS dir. The home dir would be cygwin /home/jenkins/ since we connect to these machines using cygwin-ssh.
[code]

@acrowthe pointed out this [block](https://github.com/eclipse/openj9/blob/master/test/functional/Java8andUp/src/org/openj9/test/support/resource/Support_

[2018-11-07 21:43] llxia opened #3602 "testSCCMLSnapshot failed on osx JDK11"
[code]

[code]

https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/61/consoleFull