[2019-01-09 15:32] mpirvu commented on #4205
Looking at the results with the 'good' build the scores were 5400-5500, so the remaining regression is ~3%

[2019-01-09 15:51] fengxue-IS commented on #4166
Looking into this

[2019-01-09 16:06] gacholio commented on #3590
I can't think of any reason this should break extended HCR. The test you showed me yesterday looked like a CHTable issue (not properly detecting override and going infinitely recursive).

[2019-01-09 16:14] tajila commented on #4197
@pdbain-ibm Yes, that would be a problem. Are we doing this?

[2019-01-09 16:34] smlambert commented on #4128
Test has been re-included: https://github.com/AdoptOpenJDK/openjdk-tests/pull/787

[2019-01-09 16:36] vijaysun-omr commented on #4205
@pshipton and @DanHeidinga I would like to propose reverting the "default shared classes" change for the 0.12 release. It does'nt seem like we would be able to fix the regression being investigated here and do the necessary performance testing on the fix in time for the 0.12 release.

[2019-01-09 16:44] pdbain-ibm commented on #4197
As I understand it, a Java version _N_ VM should be able to run as a previous version.  Correct, @pshipton ?

[2019-01-09 16:46] AdamBrousseau opened #4221 "Create public record for OpenJ9 Machine configuration"
- What we would capture
   - When a playbook ran
   - What machine(s)
   - What was installed/changed on a given machine
   - Summary of config for each machine
- Where would we store this record?
   - Github
- Where would we publish this record?
   - Github
   - Slack
   - Mailing list

Currently we run commands by hand based on what the playbook would execute. We are working with Adopt (AdoptOpe

[2019-01-09 17:08] ChengJin01 commented on #3917
I went over the issue at #3274 against the debugging messages in the javascript code here:
[code]
From the test case perspective, it seems they belong to the same problem that the collection operation incorrectly occurred twice for x() during the execution (one via asVarargsCollector for x() and another in catchException via asCollector()).

Need to check the API Spec for asVarargsCollector and ca

[2019-01-09 17:11] AdamBrousseau commented on #4200
Builds are green. Will re-enable 2-6.

[2019-01-09 17:20] DanHeidinga commented on #2049
Moving the remaining work (JIT truncation in Unsafe) to 0.13.0.  All the 0.12.0 work is complete

[2019-01-09 17:41] DanHeidinga commented on #4205
I agree.  I don't want to eat the performance hit we're currently seeing due to the loss of iprofiler data.  @hangshao0 Can you put together a PR to disable SCC by default for both JDK8 & 11?

[2019-01-09 18:13] smlambert commented on #3940
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/727

[2019-01-09 18:14] smlambert commented on #3941
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/728

[2019-01-09 18:17] smlambert commented on #3568
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/672

[2019-01-09 18:18] smlambert commented on #3543
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/667

[2019-01-09 18:23] smlambert commented on #3411
Test was excluded via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/666
If this issue has been fixed, it should get re-included.

FYI @ben-walsh

[2019-01-09 18:25] smlambert commented on #3447
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/661

[2019-01-09 18:30] DanHeidinga commented on #3274
The implementation of CatchHandle is a little odd compared to the other handles as it has to be able to catch an exception:
https://github.com/eclipse/openj9/blob/4132ae378e5274c09cdc57fac2e52310e9a48d7c/jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java#L2185-L2187

The JIT implementation uses a `thunkArchetype` method:
https://github.com/eclipse/openj9/blob/4132ae378e5274c09cdc5

[2019-01-09 18:32] smlambert commented on #3399
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/658

[2019-01-09 18:33] smlambert commented on #3394
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/657

[2019-01-09 18:50] smlambert commented on #3301
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/646

[2019-01-09 18:52] smlambert commented on #3274
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/643

[2019-01-09 18:52] pshipton commented on #4197
It isn't something that is done. These days the code is compiled for a particular version. I think it is necessary now, because there is only a single jvm.so redirector created which matches the Java version being compiled. Although most everything else still uses runtime checks.

[2019-01-09 18:54] smlambert commented on #3273
Test was excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/642
If this issue is now fixed, should re-include test.

FYI @ben-walsh

[2019-01-09 18:56] smlambert commented on #3271
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/641
If fixed, should re-include test.

FYI @ben-walsh

[2019-01-09 18:58] smlambert commented on #3232
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/634

[2019-01-09 18:59] smlambert commented on #3209
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/630

[2019-01-09 19:00] smlambert commented on #3213
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/630

[2019-01-09 19:02] smlambert commented on #3205
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/628
If fixed, then needs to be re-included.

[2019-01-09 19:04] smlambert commented on #3202
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/627

[2019-01-09 19:06] smlambert commented on #3185
Test excluded via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/625

[2019-01-09 19:07] smlambert commented on #3180
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/624

[2019-01-09 19:10] smlambert commented on #3178
https://github.com/AdoptOpenJDK/openjdk-tests/pull/623

[2019-01-09 19:14] smlambert commented on #3175
https://github.com/AdoptOpenJDK/openjdk-tests/pull/622

[2019-01-09 19:15] DanHeidinga commented on #3274
Simple test cases work when run with `-Xjit:count=0` so this is going to be a bug in how the CatchHelper gets created

[2019-01-09 19:31] pshipton commented on #4205
@SueChaplain @doveye note this decision to disable shared classes by default.

[2019-01-09 19:37] #4200 closed

[2019-01-09 19:53] DanHeidinga opened #4222 "Revert SharedClasses by default for both JDK8 & JDK11"
@pshipton and @DanHeidinga I would like to propose reverting the "default shared classes" change for the 0.12 release. It does'nt seem like we would be able to fix the regression being investigated here and do the necessary performance testing on the fix in time for the 0.12 release.

_Originally posted by @vijaysun-omr in https://github.com/eclipse/openj9/issues/4205#issuecomment-452762613_

[2019-01-09 19:54] DanHeidinga commented on #4205
I've opened a new issue to track the reverting SCC by default

[2019-01-09 20:00] JasonFengJ9 commented on #3209
Looking at this (might be same as https://github.com/eclipse/openj9/issues/3205)

[2019-01-09 20:14] DanHeidinga commented on #4222
PR / issues to enable SCC by default:
https://github.com/eclipse/openj9/pull/4079
https://github.com/eclipse/openj9/issues/3854
https://github.com/eclipse/openj9/issues/1646

[2019-01-09 20:33] JasonFengJ9 commented on #3232
Looking at this.

[2019-01-09 20:53] pdbain-ibm commented on #4188
@ben-walsh I can reproduce this issue with the "latest release".  Please retest with a recent nightly build.

[2019-01-09 21:10] DanHeidinga commented on #3917
@ChengJin01 I think #4223 has a fix for this.

[2019-01-09 21:36] liqunl commented on #3466
Closed by https://github.com/eclipse/openj9/pull/3877

[2019-01-09 21:36] #3466 closed

[2019-01-09 22:23] pshipton opened #4225 "Test-sanity.system-JDK8-linux_x86-64_cmprssptrs MauveMultiThreadLoadTest_0 MessageFormat.format14: time (number 3)"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/189
ub16-x86-2
[code]

[2019-01-09 22:42] ChengJin01 commented on #3917
@DanHeidinga ,  I already compiled a build with the proposed fix at #4223 and it works good as expected.  The issue here can be closed once the fix gets merged.

[2019-01-09 23:05] pshipton commented on #4205
I wonder if the gcc 7.3 change on xlinux (~17% regressed -Xint) could be factor in the remaining  ODM regression.

[2019-01-09 23:20] takiguc commented on #4184
https://github.com/AdoptOpenJDK/openjdk-build/issues/824 was opened against AdoptOpenJDK

[2019-01-09 23:22] AdamBrousseau commented on #4225
That is an existing machine, ie. Not a new unb machine. So I suspect not a machine issue. Can we run a grinder on that machine plus another machine?

[2019-01-10 04:18] #4056 closed

[2019-01-10 04:50] #3185 closed

[2019-01-10 11:45] ben-walsh commented on #4188
@pdbain-ibm
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/768 failed with ...
[code]

From https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/System/OsVersionTest.java#L41 it looks like the behaviour is inconsistent between Mac OS X release levels. My local Mac laptop at 10.13.6 is fine but the Jenkins test machine at 10.10.5 is not.
What release level a

[2019-01-10 13:38] sxa555 opened #4228 "xLinux-LH (non-compressed-refs) JDK8 builds failing"
Ref:
- https://ci.eclipse.org/openj9/job/Build-JDK11-linux_x86-64/452/console
- https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9-linuxXL/161/console
[code]

[2019-01-10 13:43] pshipton commented on #4228
I believe this is related to omr not being promoted yet, which is now done.

[2019-01-10 13:44] sxa555 commented on #4120
FYI We already use that variable at adoptopenjdk https://github.com/AdoptOpenJDK/openjdk-build/blob/2032638c3e281cd0e13032e1b5c927b94aca86a0/build-farm/platform-specific-configurations/aix.sh#L57

[2019-01-10 13:51] jdekonin commented on #4120
I made it on the machine side, and I can see both the jenkins job and direct logon having the env var set.  I'll try add it to the job as part of the cmdln and see what happens.

[2019-01-10 14:44] mpirvu commented on #4205
I ran more SPECjbb2005 attempting to understand the cause of the remaining SCC- noSCC gap.
Assuming that the remaining gap is still due due to lower IProfiler data, I used disableIProfilerDatapersistence and scount=1000 (to collect more IP info for the AOT loads). This increased throughput somewhat, but still not enough:
145212
148240
150255
148746
151317
143087

In the same configuration as above

[2019-01-10 14:48] sxa555 commented on #4228
Now passing after the OMR promotion ... so closing

[2019-01-10 14:48] #4228 closed

[2019-01-10 14:54] pdbain-ibm commented on #4188
I am testing (using `java  -XshowSettings:properties HelloWorld 2>&1 | grep os.version`.
On my machine (High Sierra) I get `os.version = 10.13.6`  with both:
[code]
and
[code]

[2019-01-10 15:05] #3274 closed

[2019-01-10 15:05] #3917 closed

[2019-01-10 15:14] avermeer commented on #3917
Hello and Happy new year!

This is excellent news to read that this issue with Nashorn is fixed.
What would be simplest way to get AdoptOpenJDK 11 binaries (I'm in particular interest in Linux x64 & Windows x64) including this fix?

Kind regards,
Alexandre

[2019-01-10 15:32] pdbain-ibm commented on #3917
@avermeer there will be builds with this fix at https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9.  That may take a day, possibly longer.  If you want a build sooner, contact me on openj9.slack.com at @pdbain.

[2019-01-10 15:35] pdbain-ibm commented on #3209
@smlambert Please re-enable the test.
@ben-walsh would you kindly verify and close this issue?

[2019-01-10 15:39] pdbain-ibm commented on #4125
@ben-walsh would you please test with -Xint?  Thank you.

[2019-01-10 15:44] pdbain-ibm commented on #4126
@ben-walsh
Thank you for the investigation.  Would you please run a grinder with `-Xint`?
   -p

[2019-01-10 15:45] AidanHa commented on #4198
I will be addressing this issue.

[2019-01-10 15:45] pdbain-ibm commented on #4100
@ben-walsh
This smells like a JIT issue.  Would you kindly re-test with `-Xint`?
Many thanks

[2019-01-10 15:47] pdbain-ibm commented on #4054
@ben-walsh
Would you  please retest this with `-Xint`?
Thank you
         -p

[2019-01-10 15:55] ben-walsh commented on #3209
Verification job running - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/772

[2019-01-10 15:57] avermeer commented on #3917
@pdbain-ibm thank you very much, I can wait until max next Monday, and if it's still not avail on Monday then i'll get in touch with you using slack.

[2019-01-10 16:13] pdbain-ibm commented on #4188
Reproduced on MacOS 10.10.5:
[code]

[2019-01-10 16:23] pdbain-ibm commented on #4188
MacOS 10.10.5 (Yosemite) does not have the `kern.osproductversion` key.

[2019-01-10 16:32] pshipton commented on #4222
#4227 has been merged.

[2019-01-10 16:32] #4222 closed

[2019-01-10 18:06] gita-omr commented on #2049
@DanHeidinga do we have any test cases for this feature?

[2019-01-10 19:44] dmitripivkine commented on #3933
@smlambert DDR for AIX should be available now so we can investigate system core. Would you please launch grinder for this test in attempt to reproduce?

[2019-01-10 19:54] gacholio commented on #3590
As we don't have time to figure out the extended HCR behaviour, we'll just add a new call for data breakpoints to flush the compilation queue.

I'll leave this open to investigate removing mimic in the future.

[2019-01-10 19:57] gacholio commented on #4134
No more work to be done at the moment.

[2019-01-10 19:57] #4134 closed

[2019-01-10 20:30] pdbain-ibm commented on #4127
@tajila any ideas?

[2019-01-10 20:33] gita-omr opened #4241 "All JIT Power work for "Correctly truncate boolean values in the appropriate bytecodes #2049""
Power work for  https://github.com/eclipse/openj9/issues/2049

- [x] JNI methods: https://github.com/eclipse/openj9/issues/4244

[2019-01-10 20:36] DanHeidinga commented on #3491
@yanluo7 Are you able to respond to @pshipton's comments above?

[2019-01-10 20:39] gita-omr commented on #2049
https://github.com/eclipse/openj9/issues/4241 is still in progress. What about Z? @fjeremic

[2019-01-10 20:41] yanluo7 commented on #4138
Based on the `JrtPath resolve(Path other)` code Peter provided:
[code]
It thinks `sb` is somehow null, where has just been allocated and does not escape this method. Possible sb gets stack allocated and somewhere there was a bug in EA?

[2019-01-10 20:52] gita-omr commented on #2049
@cathyzhyi, with the latest source I can see that we do &1 when storing to boolean static. Should we do !=1 ?

[2019-01-10 21:12] AidanHa commented on #4198
@tajila are these 4 the only duplicate macros, or is there a list of duplicate macros I can refer to?

[2019-01-10 21:14] DanHeidinga commented on #2049
@tajila is opening a PR with his tests.  He'll add a link here.

[2019-01-10 21:16] tajila commented on #4198
There are more macros. I do not have a list but the duplicate ones will have the same name.

Take a look at j9consts.h line 260 - 308 and j9nonbuilder.h line 64 - 154

[2019-01-10 21:48] ChengJin01 commented on #4193
Will investigate to see what happens.

[2019-01-10 22:01] gita-omr opened #4242 "All JIT Power work for "Improvements for Relocatable Compilations #2921""
Power work for https://github.com/eclipse/openj9/issues/2921

[2019-01-10 22:22] pshipton commented on #1932
Is this going to make the 0.12 release, or should I move it out of plan? i.e. will it be delivered by Monday, seems unlikely.
@DanHeidinga ?

[2019-01-10 22:32] gita-omr commented on #2049
@R-santhir is looking at it on the Power side.

[2019-01-10 22:45] #4055 closed

[2019-01-10 23:17] gita-omr opened #4244 "Ensure boolean JNI methods on P produce a result of zero or one"
Part of https://github.com/eclipse/openj9/issues/4241

@R-santhir

Pull request: https://github.com/eclipse/openj9/pull/4243

[2019-01-10 23:54] smlambert opened #4245 "Problem with curl installation on AIX machines libcurl.a could not be loaded"
On aix71-p8-3, from https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/147/console:

18:50:25 curl -OLJks  https://api.adoptopenjdk.net/v2/binary/nightly/openjdk11?openjdk_impl=openj9&os=aix&arch=ppc64&release=latest&type=jdk&heap_size=normal
18:50:25 exec(): 0509-036 Cannot load program curl because of the following errors:
18:50:25 	0509-150   Dependent module /usr/lib/libcurl.a(libcurl.so

[2019-01-11 00:13] gita-omr commented on #3422
@pshipton we really want to get it done in next couple weeks. Can we change the milestone to 0.13 just so that it's on the radar?

[2019-01-11 01:01] smlambert commented on #3491
20x grinder: https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/153/

[2019-01-11 03:04] smlambert commented on #3491
20x with -Xjit appended via EXTRA_OPTIONS: https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/156/

[2019-01-11 11:14] ben-walsh commented on #3209
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/772 shows the problem is still present running against a nightly 11 build, which I assume is not expected ?

@JasonFengJ9 What was the build version you manually verified against ?

[2019-01-11 11:43] pshipton commented on #4202
Didn't see the results before the job was removed. Try again https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/157/

[2019-01-11 11:45] pshipton commented on #4201
Didn't see the results before the grinder was removed. Try again
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/158/

[2019-01-11 11:49] pshipton opened #4250 "testing on s390, ppcle Cannot run program "Xvfb""
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/157
[code]

[2019-01-11 11:50] pshipton commented on #4250
@jdekonin @AdamBrousseau @smlambert

[2019-01-11 11:57] pshipton commented on #4250
Occurred on ub16-390-2 as well.
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/160/

[2019-01-11 12:00] pshipton commented on #4250
Seems the overnight builds are also impacted
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_390-64_cmprssptrs/131
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_390-64_cmprssptrs/131/

and the functional tests
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_390-64_cmprssptrs/132/

Also other platforms
https://ci.eclipse.org/openj9/job/Te

[2019-01-11 12:07] pshipton opened #4251 "Out of space on AIX"
Occurred in the nightly builds for the last 2 nights
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-aix_ppc-64_cmprssptrs/123
[code]

[2019-01-11 12:08] pshipton commented on #4251
I know @Mesbah-Alam is working to fix some system tests to avoid creation of core files.

[2019-01-11 12:08] pshipton commented on #4251
@AdamBrousseau

[2019-01-11 12:20] pshipton commented on #3422
@gita-omr The 0.14 release should be on your radar. This is the next quarterly release in April. The 0.13 release in March is focused on Java 12 and will only deliver Java 12 builds.

[2019-01-11 12:24] pshipton commented on #4201
50x grinder passed. I think I'll close this. We can reopen if the problem is seen again.

[2019-01-11 12:33] pshipton commented on #3491
@smlambert please re-enable the test, and we can closet this issue. I believe it originally failed every time or at least very frequently.

I'd remove the the "test excluded" label from this issue once the test is enabled. Not sure if you have been doing this for other issues, but for tracking it seems better if only issues have actively have an excluded test have the label.

[2019-01-11 12:36] pshipton commented on #3743
The feature isn't enabled by default so I think we should keep this issue open, however the work is completed for the 0.12 release, in particular since the shared cache is no longer enabled by default.

[2019-01-11 12:38] pshipton commented on #3450
There are still failures to resolve, moving this umbrella item to the next release.

[2019-01-11 12:39] pshipton commented on #3636
It seems this is not going to be resolved in the 0.12 release, moving to the next one.

[2019-01-11 12:43] pshipton commented on #3771
@0dvictor Is there any chance to resolve this in the next week?
What is the severity of this issue, how likely is it to affect a customer?

[2019-01-11 12:49] pshipton commented on #3577
@fjeremic if this is not going to be completed by Jan 14 can it be moved to the next release?

[2019-01-11 12:49] pshipton commented on #3576
@fjeremic if this is not going to be completed by Jan 14 can it be moved to the next release?

[2019-01-11 13:05] pshipton commented on #4166
If these tests run javac, I wonder if it is related to https://github.com/eclipse/openj9/issues/4138

[2019-01-11 13:05] avermeer commented on #3636
Oh this is very sad that it's not going to be resolved in 0.12.0 release.
When would it resolved at best?

[2019-01-11 13:10] pshipton commented on #4166
There are other tests which fail as well. i.e.
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/384
cmdLineTester_SCURLClassLoaderNPTests_1
[code]

https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/366
cmdLineTester_SCURLHelperTests_90_0 - explicit NullPointerException JrtPath.resolve #4138
cmdLineTester_SCHelperCompatibilityTests_uni

[2019-01-11 13:20] pshipton commented on #4138
I wonder if this is related to AOT and shared classes being enabled by default. Shared classes by default was disabled yesterday, and the builds last night ran clean. I'm going to run some functional sanity testing and see if this problem still occurs.
I ran this
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/16/
also trying a grinder
https://ci.eclipse.org/openj9/view/Tes

[2019-01-11 13:30] pshipton commented on #4245
@jdekonin

[2019-01-11 13:32] pshipton commented on #3933
@smlambert I don't think the grinder worked, it just didn't run anything.

[2019-01-11 13:42] pshipton commented on #3743
@vijaysun-omr see #4168 for details
`-XXgc:heapSizeStatupHintWeightNewValue=`
`-XXgc:heapSizeStatupHintConservativeFactor=`
You also need to enable shared classes, either normally or via `-Xshareclasses:bootClassesOnly`

[2019-01-11 13:50] pshipton commented on #4225
Didn't re-occur, last night's builds ran clean (for linux_x86). Will reopen if it appears again.

[2019-01-11 13:50] #4225 closed

[2019-01-11 13:51] pdbain-ibm commented on #4130
@ben-walsh The test may pass if it is run via the makefile: I noticed the incorrect behaviour when I ran it from the command line.

[2019-01-11 14:21] smlambert commented on #3491
Yes, I have been removing the 'test excluded' label, so that we can use that as a mechanism for checking whats done... if an issue is closed and still has a test excluded label, then we need to act (with the exception of permanently excluded tests, which currently I mark with the test excluded + invalid labels).

[2019-01-11 14:43] amicic commented on #3743
@vijaysun-omr In short, just add -XXgc:heapSizeStatupHintWeightNewValue=80.

Longer story:
1) the option is to be renamed soon (https://github.com/eclipse/openj9/pull/4240)
2) we'll likely introduce another option that will be documented just to enable/disable the feature
3) Balanced GC is not covered yet
4) we need to check/test if there is a race at startup between expand due to hints vs first G

[2019-01-11 14:58] amicic commented on #3743
Note also that command line option must fully match for hints to be take into account. It also includes implicit options induced by JCL. It's been observed that ordered of these options may change (probably due to some startup race), which would silently ignore the existing hint and would update them with completely fresh values. Then it will take again a few more restarts for them to converge (as

[2019-01-11 15:13] smlambert commented on #3491
Re-included: https://github.com/AdoptOpenJDK/openjdk-tests/pull/794

[2019-01-11 15:14] #3491 closed

[2019-01-11 15:23] ashbm5 commented on #3636
Probably in the next two weeks it will be in the nightly build. I have confirmed that accelerating RSA w/ OpenSSL resolves the performance issue mentioned above using the test code posted.

[2019-01-11 15:44] smlambert commented on #3933
Ha!  I guess I need to point to a branch where the test is re-enabled...
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/163/

[2019-01-11 15:44] AdamBrousseau commented on #4250
[Looking at the playbooks](https://github.com/AdoptOpenJDK/openjdk-infrastructure/search?q=xvfb&unscoped_q=xvfb), I only see xvfb in the ubuntu yml. So I would say that infra was not ready for this change. That being said, our 390 machines at OpenJ9 are ubuntu so they _should_ have had it but I think the machines were created before it was added to the playbook and it was likely never added to the

[2019-01-11 15:53] keithc-ca commented on #520
An unintended consequence of #563 was different default. That PR will be reverted: reopening this issue.

[2019-01-11 15:56] avermeer commented on #3636
@ashbm5, that would be outstanding, thanks!

[2019-01-11 16:04] pshipton commented on #3636
The 0.12 release is scheduled to GA on Jan 23, we should try to squeeze it in if possible.

[2019-01-11 16:06] smlambert commented on #4250
Its been in the playbook in some form since at least July 3, 2017 based on this [comment](https://github.com/AdoptOpenJDK/openjdk-tests/issues/49#issuecomment-312652929), but we will add additional restrictions on which tests use it, to avoid issues at openj9 where machine config is not same as Adopt (runs fine on 390 machines there).

[2019-01-11 16:21] pshipton commented on #4250
Should we just update the OpenJ9 machines to have it?

[2019-01-11 16:23] ben-walsh commented on #4125
@pdbain-ibm I've kicked off https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/787 to cover your request in https://github.com/eclipse/openj9/issues/4125#issuecomment-453140346.

[2019-01-11 16:31] ben-walsh commented on #4054
@pdbain-ibm I've kicked off https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/790 to cover your request in https://github.com/eclipse/openj9/issues/4054#issuecomment-453143281. Given the low observed failure rate to date, I've made it a 400x rather than 100x.

[2019-01-11 16:32] JasonFengJ9 commented on #3209
@ben-walsh I did verification with a patch generated from the PR.

Looked at the grinder job, its `jvm -version` output is as following:
[code]
https://github.com/eclipse/openj9/pull/3928 was merged on Jan. 8th so not contained in this `jvm`.

Please re-run the grinder with latest nightly build (verified `build 11.0.1+13-201901101911` passes this test).

[2019-01-11 16:40] smlambert commented on #4250
Yes, I think we should update the OpenJ9 machines with the latest ansible scripts so that the machines across the projects are configured the same (to avoid strange differences in behaviour and slow downs in triage tasks).

Also think a regular practice of updating machines with latest ansible scripts should be instituted at both Adopt and OpenJ9 (and internally), on a transparent / published sche

[2019-01-11 16:45] ben-walsh commented on #3209
Rebuilding https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/772 under https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/792. AOJDK website currently shows https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2019-01-11-01-22/OpenJDK11U-jdk_x64_linux_openj9_2019-01-11-01-22.tar.gz as the latest nightly build available for the platform, which is what I'd expec

[2019-01-11 16:46] pshipton commented on #4250
@jdekonin what is the outlook for updating the machines?

FYI this also blocks omr acceptance builds.

[2019-01-11 16:53] smlambert commented on #4250
Added restrictions on which tests require display, should unblock regular (non-grinder) openj9 jobs which only run system functional: https://github.com/AdoptOpenJDK/openjdk-tests/pull/797  (eventually we will need to expand to other test groups / system and functional).

[2019-01-11 17:09] AdamBrousseau opened #4258 "Install xvfb on OpenJ9 machines and Docker agent containers"
related #4250 , https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/217

#### Machines

- [ ] aix
- [ ] osx
- [x] xlinux
- [x] plinux
- [x] zlinux
##### Note: (Windows not req'd)

#### Containers
##### x
- [x] cent6
- [x] ub16
- [x] ub18
##### p
- [x] cent7
- [x] ub16
- [x] ub18
##### z
- [x] ub16
- [x] ub18

[2019-01-11 17:10] AdamBrousseau commented on #4250
See #4221.
We don't run the playbooks on the existing OpenJ9 ci machines at the moment. So even though [this change](https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/217) was merged last feb, it wouldn't have been installed on our 390 machines as they were setup before then.

I can go ahead and install/verify on the 4 - 390 & 4 ppcle machines via #4258

[2019-01-11 17:19] AdamBrousseau commented on #4258
@samuel-rubin Can you add this to the containers for your next task?

[2019-01-11 17:31] smlambert commented on #3933
No failures in 20x Grinder/163, or in 50x [Grinder/164](https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/164).  Thought it occurred more regularly than that... will keep trying.

[2019-01-11 17:38] gita-omr opened #4261 "Adding new labels for platform specific JIT work"
I would like to add the following labels to openj9:

comp:jit:p, comp:jit:x, comp:jit:z, comp:jit:common

This will help us differentiate common and platform specific JIT work. Note that comp:jit can still be used when appropriate (e.g. implementation details are not known yet).

Please let me know what you think
@andrewcraik @fjeremic @pshipton @DanHeidinga

[2019-01-11 17:51] pshipton commented on #4261
This is fine with me.

[2019-01-11 17:53] gita-omr commented on #4261
@mstoodle

[2019-01-11 17:58] andrewcraik commented on #4261
I'm fine with it - making sure they have comp:jit as well might make sense to make searches and filtering easier, but I see the benefit of the more specific labels.

[2019-01-11 18:00] gita-omr commented on #4261
Yes, that's a good point. We will need to set both.

[2019-01-11 19:07] pshipton commented on #4138
The problem didn't re-create in my builds.

[2019-01-11 19:09] 0xdaryl commented on #4261
Don't forget about arm and soon-to-be aarch64.

[2019-01-11 19:12] pshipton commented on #3636
Set this back to the 0.12 milestone. Alon thinks jdk8 can have a PR opened on Monday, and jdk11 will follow, TBD how long it will take to port.

[2019-01-11 19:23] MarkQingGuo commented on #4196
I have completed it and submitted a pull request.

[2019-01-11 19:45] samuel-rubin commented on #4208
The current repository for gcc-7 only holds onto the latest version which is currently 7.4.0. I also looked into Installing GCC 7.3 from the source but that took too long (over an hour). Something that we can do is copy the gcc binary from the AdoptOpenJDK jenkins like in #3864.

[2019-01-11 19:46] pshipton commented on #4138
I'll keep an eye out to see if the problem occurs again now that shared classes by default has been disabled. It was occurring fairly frequently in omr acceptance builds.

[2019-01-11 19:48] pshipton commented on #4138
To state the obvious, even if disabling shared classes by default made it go away, this is not a fix. The problem still needs to be identified and fixed, as
a) it could affect something else using -Xshareclasses
b) we will re-enable shared classes by default in the future

[2019-01-11 21:42] pshipton commented on #4193
Doe it still occur with -Xint?

[2019-01-11 21:50] gita-omr commented on #3421
@pshipton : @IBMJimmyk made some cosmetic changes after another code review and we would like to run more tests. They will be done by Monday morning. Could the code split wait for that?

[2019-01-11 21:55] tajila commented on #2049
Link to boolean tests PR https://github.com/eclipse/openj9/pull/4274/

[2019-01-11 21:55] ChengJin01 commented on #4193
Yes, it ended up with pretty much the same result with JIT off.
jdk-11.0.1_13/bin/java **-Xint**  -jar  jdk-11.0.1_13/demo/jfc/SwingSet2/SwingSet2.jar

![image](https://user-images.githubusercontent.com/18036229/51061480-722e0200-15c1-11e9-9d1a-df2af555cd70.png)

[2019-01-11 22:06] fengxue-IS commented on #4166
testing with current master branch, did not see any failure.

Enabling sharedclasses to check if failure related to enabling sharedClasses by default

[2019-01-11 22:11] smlambert commented on #3209
Grinder/792 console output shows 2019-01-11-01-22 is used:

17:43:40 curl -OLJks  https://api.adoptopenjdk.net/v2/binary/nightly/openjdk11?openjdk_impl=openj9&os=linux&arch=x64&release=latest&type=jdk&heap_size=normal
$ ssh-agent
17:43:49 unzip file: OpenJDK11U-jdk_x64_linux_openj9_2019-01-11-01-22.tar.gz ...
17:43:53 Run /home/jenkins/workspace/Grinder/openjdkbinary/j2sdk-image/bin/java -version

[2019-01-11 22:13] gita-omr opened #4275 "Epic description template"
I would like to suggest that whenever we open an epic it should have the following template at the bottom of the description:

- [ ] Design:
- [ ] VM:
- [ ] JIT:
- [ ] Test cases:
- [ ] Documentation:

Each of the checkboxes would point at a placeholder issues labeled accordingly. For example, JIT will point to an issue covering JIT work and labeled comp:jit. JIT developers will split it further i

[2019-01-11 22:33] jdmpapin commented on #3771
Much of the following is recap from @0dvictor's analysis above.

The second iteration of the loop can't finish (or reach the counter update) because a `BNDCHK` will fail first.

GVP (correctly) creates an IV for the loop, with entry: 0, exit: {0, 1}, increment: 1. Then it (also correctly) folds the new loop counter value to 1.

Since the update is constant, IVA doesn't detect an IV for the loop. H

[2019-01-11 23:21] pshipton commented on #3421
Yes, since we got not much delivered today because of the Jenkins issues it seems we need to delay another day.

[2019-01-11 23:36] pshipton commented on #4275
+1

[2019-01-12 04:20] pshipton commented on #4202
New grinder https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/168/

[2019-01-12 12:46] pshipton commented on #3340
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/141
DaaLoadTest_daa1_0
[code]

[2019-01-12 12:57] pshipton commented on #4251
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-aix_ppc-64_cmprssptrs/123/
aix71-p8-1
The results file is 8.7GB. All the space is in daa1 and daa2, a single ~4GB core file in each. These tests did not fail.
@Mesbah-Alam

[2019-01-12 13:11] pshipton commented on #4139
@Mesbah-Alam another one
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_ppc-64_cmprssptrs_le/152
`Cache is 48% soft full`

[2019-01-12 13:14] pshipton opened #4277 "Test-extended.system-JDK8-win_x86-64_cmprssptrs ConcurrentLoadTest_0 ForkJoinPoolTest getActiveThreadCount() expected:<0> but was:<1>"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-win_x86-64_cmprssptrs/133
[code]

[2019-01-12 20:12] ggvJava opened #4278 "Lost my Eclipse project when doing commit and push to my repository"
I having an issue with Eclipse when I push and commit a project to GitHub.

![schermata del 2019-01-12 15-23-36](https://user-images.githubusercontent.com/46625948/51077991-be0aa500-16ae-11e9-8bd0-e03b38605d5a.png)

In the Package Explorer the code regarding that project disappears so as in the GitHub master repository!

Does that mean I lost my project?

In GitHub the project is there with just a

[2019-01-13 04:06] pshipton commented on #4202
Previous grinder passed. Another 30x passed as well https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/170/
I'll just close this, and reopen if it is seen again.

[2019-01-13 04:06] #4202 closed

[2019-01-13 04:12] pshipton commented on #3839
Attempting a 30x grinder https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/171/

[2019-01-13 04:16] pshipton commented on #3820
Attempting some 30x grinders
jdk11 - https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/172/
jkd8 - https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/173/

[2019-01-13 18:33] gacholio commented on #4278
This appears to be an issue with Eclipse, not OpenJ9. You'll need to open this elsewhere (sorry, not sure exactly where, might be bugzilla rather than a git issue).

[2019-01-13 18:33] #4278 closed

[2019-01-13 23:10] pshipton commented on #3839
Seems test resources are missing in the grinder `JVMJ9TI001E Agent library jvmtitest could not be opened (dlopen(libjvmtitest.dylib, 1): image not found)`
@smlambert @llxia is there a way to fix this?

[2019-01-13 23:14] pshipton commented on #3820
jdk11 passed
jdk8 failed
[code]

[2019-01-13 23:18] pshipton commented on #3820
The jdk8 hang still occurs in the overnight builds, i.e. https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-osx_x86-64_cmprssptrs/31

[2019-01-13 23:20] pshipton commented on #4166
Closing as a dup of #4138

[2019-01-13 23:20] #4166 closed

[2019-01-14 00:33] smlambert commented on #3839
You need to load the the native test libs in addition to the SDK under test.  You can do this by passing both URLs to CUSTOMIZED_SDK_URL parameter (I believe separated by a space, though if it doesn't work, then comma-separated).

[2019-01-14 00:44] smlambert commented on #3839
I'll try rerunning your Grinder with SDK/native-tests loaded via customized:
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/174/

[2019-01-14 02:43] pshipton commented on #3839
Thanks @smlambert !

Since the grinder passed I will assume this is fixed and close it.

[2019-01-14 02:43] #3839 closed

[2019-01-14 02:48] pshipton commented on #1932
Since this didn't make the feature complete date, I'm moving it out of the 0.12 milestone as it's not a blocker. If it does happen to make it in, we can fix the milestone afterwards.

[2019-01-14 02:53] pshipton opened #4279 "Test-extended.functional-JDK8-osx_x86-64_cmprssptrs testvmcheck_0 hang"
Note this blocks the osx jdk8 extended functional tests from completing.

https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-osx_x86-64_cmprssptrs/31
[code]

[2019-01-14 02:53] pshipton commented on #3820
I've opened #4279 for the jdk8 issue and closing this one since the jdk11 doesn't occur.

[2019-01-14 02:53] #3820 closed

[2019-01-14 03:56] pshipton commented on #4138
@yanluo7 I've got a simple reproducible case. Although it may be tricky to reproduce on another machine. The following should work to reproduce the problem, although I haven't tried it on another machine. On my machine the NPE occurs every time.

- You need to use the shared cache [cache.zip](https://github.com/eclipse/openj9/files/2753982/cache.zip). Change the "pete" part of the cache name to th

[2019-01-14 04:00] pshipton commented on #4138
btw, there is AOT in the cache for
[code]

[2019-01-14 04:15] Mesbah-Alam commented on #4139
@hangshao0 - is it a real failure?

[2019-01-14 08:18] avermeer commented on #3917
Hello @pdbain-ibm,

I have downloaded AdoptOpenJDK 11 with OpenJ9 build of the 14 January 2019 from  https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9, and I confirm that this issue is fixed.

Thank you very much to all who made this fix!

Kind regards,
Alexandre

[2019-01-14 12:45] pshipton commented on #3081
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs/125
testPrematureSocketClose
`java.lang.AssertionError: com.sun.tools.attach.AttachNotSupportedException: acknowledgement timeout from 3473510 on port 56334`
`Caused by: java.net.SocketTimeoutException: Accept timed out`

[2019-01-14 12:54] pshipton commented on #4139
The failure seems to be consistent, it is still happening.
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_ppc-64_cmprssptrs_le/154

I'm guessing the % full changed because we disabled shared classes by default.

[2019-01-14 13:14] hzongaro opened #4281 "Intermittent failure running ClassLibraryLambdaTest on Z"
We saw an intermittent failure running ClassLibraryLambdaTest on z/OS.  The failure was exposed by changes in Escape Analysis merged in pull request #2752.  Those changes were subsequently reverted in pull request #4145 to fix that failure.

This issue is being opened to track the root cause.

[2019-01-14 14:01] jdekonin commented on #4245
aix71-p8-4 was updated via #3961.  I thought I had done them all at the time, but I think I had just done the one and was waiting to determine if the update should be pushed out to them all.  They have all been updated now.

Package Updated:
`  curl.ppc 0:7.61.1-1`
Dependency Updated:
`  libssh2.ppc 0:1.8.0-3`

Noth #3961 and this one can be closed.

[2019-01-14 14:20] Mesbah-Alam commented on #4251
None of the tests are generating core file at failure anymore, including the daa tests. It looks like the tests failed because the test machine does not have adequate space.

[code]

Can we perform a clean up of core files that were may be left in the machine?

[2019-01-14 14:36] mpirvu commented on #4205
I have the list of AOT methods that appear when I set the AOT space to 100k, but do not appear when I set the AOT space to 900k. However, looking at the perf profile during steady state, all methods that get at least one tick are NOT stuck in AOT bodies (they get recompiled). Thus I cannot explain why more AOT means lower performance. Note and in these experiments I already disabled IProfiler pers

[2019-01-14 14:45] mpirvu commented on #4205
One other far fetched theory is around the heuristics that decide not to inline certain methods if they are already compiled. AOT loads could change the timing leading to less inlining being performed. I am going to test this by disabling said heuristic.

[2019-01-14 15:09] dmitry-ten commented on #4001
Isn't this because we enabled final static field folding?
If I remember correctly, we used to always return false at the beginning of `transformDirectLoad`, so `canFoldStaticFinalField` would never get called.

[2019-01-14 15:16] gacholio commented on #2049
Correct - we mask internally for java types, but use `!=0` for consistency with C for JNI.

[2019-01-14 15:41] pshipton commented on #3961
Closing as per https://github.com/eclipse/openj9/issues/4245#issuecomment-454014383

[2019-01-14 15:41] #3961 closed

[2019-01-14 15:41] #4245 closed

[2019-01-14 15:42] pshipton commented on #4251
@jdekonin @AdamBrousseau is there anything that needs to be manually cleaned up?

[2019-01-14 15:44] pshipton commented on #4251
I note the latest system testing passed on aix71-p8-2 and aix71-p8-4

[2019-01-14 15:48] pdbain-ibm commented on #4125
25% failure with -Xint:
[code]

[2019-01-14 15:50] AidanHa commented on #4198
https://github.com/eclipse/openj9/pull/4283#issuecomment-454013744

@pdbain-ibm suggested to remove the j9nonbuilder.h equivalents. Thoughts? @tajila @DanHeidinga

[2019-01-14 15:58] pdbain-ibm commented on #4100
The grinder timed out, but there were no assertion failures.

[2019-01-14 16:01] mpirvu commented on #4001
Good point. That settles the issue.

[2019-01-14 16:01] pdbain-ibm commented on #4053
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/11 is no longer available. @ben-walsh did you have a chance to look at the results?

[2019-01-14 16:03] pdbain-ibm commented on #4054
No failures so far.  @ben-walsh can you launch another large build?

[2019-01-14 16:11] pdbain-ibm commented on #3940
Cannot reproduce on MacOS or Linux X86. 100/100 runs passed on both platforms.
Given that this is an external `kill -9`, and reducing the concurrency fixes the problem, this is most likely a problem with hardware limits, e.g. real memory.

[2019-01-14 16:24] pdbain-ibm commented on #3543
I will investigate.

[2019-01-14 16:25] ben-walsh commented on #4053
Afraid not. I've kicked off an equivalent here - https://ci.adoptopenjdk.net/view/work in progress/job/SXA-BenWalsh-Grinder/15

[2019-01-14 16:30] pshipton commented on #4279
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-osx_x86-64_cmprssptrs/32/console
[code]

[2019-01-14 16:31] pshipton commented on #4279
@DanHeidinga

[2019-01-14 16:35] ben-walsh commented on #4054
@pdbain-ibm
Looks like there were 5 failures in before some infrastructure problem ended the job (search for "jdk_custom_0_FAILED" to find them).
I've kicked off a repeat of the job (this time archiving the core dump files etc ...) - https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-BenWalsh-Grinder/16

[2019-01-14 16:36] jdekonin commented on #3947
I have updated the `Cleanup-Nodes` job to perform an removal of shared memory.  All 4 machines are reporting nothing left after clean job has run.  This can be closed.

[2019-01-14 16:47] jdekonin commented on #4251
Both of these machines were reporting available space in the jenkins workspace under 10G when there was nothing in it.  There were a number of dangling java test processes though.  Killing these did not change the reporting of available space.  aix71-p8-1 and aix71-p8-3 have the same issue.

I have rebooted them all and available space is reporting accurately again.  This can be closed.

[2019-01-14 16:59] mpirvu commented on #4001
I reopened the issue because of the following piece of code
[code]
Most messages come from `canFoldStaticFinalField` folding, but the code that was changed when we enabled static final field folding in #3220 was in `J9::TransformUtil::foldStaticFinalFieldImpl(comp, node);`

[2019-01-14 17:03] dmitry-ten commented on #4001
`foldStaticFinalFieldImpl` and `canFoldStaticFinalField` got added in #3159, the code they contain used to be inside `transformDirectLoad`.

[2019-01-14 17:09] tajila commented on #4198
I think thats fine, but it means that you'll have to change the `#includes` in a bunch of places as j9nonbuilder.h contains a lot of struct def'n, flags, contants, etc.

I suggest doing this in phases, for this PR focus on removing the duplicate macros, just as you have done. In the next PR you can merge j9nonbuilder.h and j9conts.h into one file.

[2019-01-14 17:22] SueChaplain commented on #3743
If we are having -XX options, presumably this requires documentation? If so, please add the doc:externals label.

[2019-01-14 17:23] SueChaplain commented on #3781
I'm guessing this needs a small update to the user documentation? If so, please add the doc:externals label.

[2019-01-14 17:37] AidanHa commented on #4198
Hmm okay, for this PR, I will focus on removing the duplicates from j9consts.h. Eventually I will merge both files into 1 (in another PR).

[2019-01-14 17:40] fjeremic commented on #3576
We can move to the next release, this is not mission critical at all.

[2019-01-14 17:41] fjeremic commented on #3577
This is adding extra paranoid testing and does not affect functionality so it's safe to move to the next release.

[2019-01-14 17:51] gita-omr commented on #2049
Yes, I checked only putstatic and I could see VM doing !=0 and JIT IlGen doing &=1

[2019-01-14 18:46] yanluo7 commented on #4138
Using the cache,zip and the jdk from Peter I wasn't able to reproduce the NPE. So I tried to build and run the test locally, I am now running it on poisonivy in a loop. So far the reproducibility seems really low, I've only seem 1 failure in over 50 runs.

[2019-01-14 18:47] gacholio commented on #2049
Wrong - putstatic (and putfield) does `&= 1`, JNI does '!= 0`

[2019-01-14 19:56] DanHeidinga commented on #4279
@pdbain-ibm Can you take a look at this?

[2019-01-14 20:02] pshipton commented on #4120
Fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/237

[2019-01-14 20:02] #4120 closed

[2019-01-14 20:02] pdbain-ibm commented on #3543
Tested with `-Xgcpolicy:optthruput`, still fails.
Tested with `-Xint`, 200 runs, no failures.

Above tests were on MacOS.  Tested on Linux, I get either the above or:
[code]

[2019-01-14 20:06] pdbain-ibm commented on #4279
Will do.

[2019-01-14 20:08] pshipton commented on #4138
Reproducibility may be related to timing and the machine being used. It occurred more than 1/50 on the machine I was using. However once the "bad" AOT gets into the shared cache, the NPE occurs every time.

[2019-01-14 20:42] pdbain-ibm commented on #4279
This works fine on my machine (High Sierra, 10.13.6). The failure was a hang, which explains the 143 exit code (SIGTERM received). This test is new in the suite, correct @pshipton?
Does this test fail consistently?

[2019-01-14 20:56] pshipton commented on #4092
@smlambert what is the status of this? We have some pending openssl related changes, and no testing to confirm openssl is working before they are merged.

https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/227
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/90
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/236

[2019-01-14 20:58] gacholio commented on #4278
Sorry, I mean the issue is within the Eclipse IDE, possibly an issue with UI or the git plugin. You may want to start here:

https://bugs.eclipse.org/bugs/

[2019-01-14 21:13] amicic commented on #3743
Another issue that to think about is how to deal with heterogeneous multi JVM environment. Take a simple scenario of master and slave JVM.

They will certainly have different command line options, and even though they might be single anonymous shared cache, then while starting slave (after starting master)  the hints will not be used.

If both master and slave are restated at some point later (and

[2019-01-14 21:15] pshipton opened #4292 "Cannot start zlinux compile from jdk8 extensions, or win from jdk11"
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/227

[2019-01-14 21:15] pshipton commented on #4292
@jdekonin

[2019-01-14 21:18] pshipton opened #4293 "Openssl for all build machines"
The following changes enable using the system installed openssl. Is a version of openssl 1.0 or later installed on all jenkins machines?

ibmruntimes/openj9-openjdk-jdk8#227
ibmruntimes/openj9-openjdk-jdk11#90

[2019-01-14 21:18] pshipton commented on #4293
@jdekonin

[2019-01-14 21:20] pshipton commented on #4292
windows - https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/90

[2019-01-14 21:41] pshipton commented on #3421
Deferred to the next release.

[2019-01-14 21:46] gacholio opened #4295 "Allow PR builds without a specific platform"
Nearly 100% of VM changes are platform agnostic, so it would be nice to be able to launch a PR build on the next available machine, regardless of architecture.

Maybe `jenkins test sanity any jdk8` ?

[2019-01-14 21:53] #3213 closed

[2019-01-14 22:00] AdamBrousseau opened #4296 "Add Jenkins build to test DockerFile changes"
Related #3884

I have created this job
https://ci.eclipse.org/openj9/view/Sandbox/job/PullRequest-Test-Jenkins-Agent-Container

It just needs a bit of debugging. Creating this issue to keep track as I don't have bandwidth to finish it at the moment.

[2019-01-14 22:10] pshipton commented on #2921
The improvements for the 0.12 release have been delivered. This will continue in the next release.

[2019-01-14 22:20] pshipton opened #4297 "zlinux sanity testing failed to start"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-linux_390-64_cmprssptrs-OpenJDK8/21
[code]

[2019-01-14 22:21] pshipton commented on #4297
@smlambert @llxia @jdekonin

[2019-01-14 22:36] amicic commented on #3743
Hints are saved always, but not used because of command line mismatch. When master and slave are started in  this order, and slave is the last one that saved the hint and then both are restarted in the same order, then master will try to read the hints that slave saved and ignore them. Then shortly after when slave also is brought up it may not be able to read them, if master just updated them.

[2019-01-14 22:39] smlambert commented on #4297
Would indicate there were no artifacts available from this build https://ci.eclipse.org/openj9/view/Infrastructure/job/test.getDependency/ at the time the zlinux test ran or that the test job could not access them.

[2019-01-14 22:44] smlambert commented on #4092
Initial suggested fix in my branch.  I need to test it and create PR.

To clarify, this fix does not test openssl is working, it tests that the jncrypto native lib is loaded.

[2019-01-14 22:44] pshipton commented on #3743
This isn't (or shouldn't be) the way it works. Every different set of command lines has it's own hints, which can be used independently. i.e. master will use the hints for the master command line, and similarly the slave.

[2019-01-14 22:47] pshipton commented on #4092
Right, that is what I meant by "working".

[2019-01-14 23:48] gita-omr commented on #4244
jenkins test extended plinux jdk11

[2019-01-14 23:53] gita-omr commented on #4244
jenkins test sanity plinux jdk11

[2019-01-15 00:00] gita-omr commented on #4244
@R-Santhir ran personal build sanity  and everything passed. So I think we can merge.

[2019-01-15 03:59] pshipton commented on #3743
It should already work that way. Unless you have seen different behavior?

[2019-01-15 04:07] pshipton commented on #4293
xlinux, plinux, zlinux all seem to be working anyway.

[2019-01-15 04:56] #3851 closed

[2019-01-15 04:56] #3301 closed

[2019-01-15 05:43] amicic commented on #3743
On closer inspection it does seem to work. I apologize  for the confusion.

[2019-01-15 05:46] pshipton commented on #4244
@gita-omr can this be closed now that #4243 is merged?

[2019-01-15 05:55] gita-omr commented on #4244
Yes, closing.

[2019-01-15 05:55] #4244 closed

[2019-01-15 11:46] ben-walsh opened #4298 "JTReg test fail - MacOS : java/net/httpclient/websocket/BlowupOutputQueue.java and others"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/net/httpclient/websocket/BlowupOutputQueue.java (along with multiple similar tests) are failing consistently on Mac OS with the following errors ...

[code]

Also ...

**java/net/httpclient/websocket/PendingBinaryPingClose.java**

[code]

**java/net/httpclient/websocket/PendingBinaryPongClose.java**

[code]

**java/

[2019-01-15 13:22] pdbain-ibm commented on #4279
I suggest excluding the test for now.

[2019-01-15 13:43] llxia commented on #4297
Afaik, PR builds do not use test scripts from AdoptOpenJDK. PR builds run their own scripts.

In the AdoptOpenJDK test scripts, this case is handled. If any exception happens during calling test.getDependency job, the test scripts will ignore it. And the test script will try to download jars directly in the later process.

https://github.com/AdoptOpenJDK/openjdk-tests/blob/cd1a7fa3a6b69625e1d15800

[2019-01-15 13:48] pshipton commented on #4292
plinux compile from https://github.com/eclipse/openj9/pull/4291 didn't work either

[2019-01-15 13:53] pshipton commented on #4293
Seems either we don't have openssl install everywhere, or there is a version problem. plinux testing in eclipse/openj9#4291 results in
`08:42:25 configure: error: Unable to find openssl 1.1.0(and above) installed on System. Please use other options for '--with-openssl'`

[2019-01-15 13:53] llxia commented on #4297
I think we need try catch in PR builds as well:
https://github.com/eclipse/openj9/blob/4409caac7a850972790076b8a293fd7d1dc3a390/buildenv/jenkins/common/test#L62-L68

fyi @AdamBrousseau

[2019-01-15 14:07] MarkQingGuo commented on #2368
Just want to make sure if "JAVA_SPEC_VERSION" is the variable to represent the version of java? Does vm29 support JAVA12?

[2019-01-15 14:19] pshipton commented on #4139
Seems osx is also failing for the same reason, at 46%.
SharedClasses_Softmx_UpDown_0
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-osx_x86-64_cmprssptrs/49
[code]

[2019-01-15 14:20] pshipton commented on #4139
ppcle passed in the last build, not sure if anything was changed or we just got lucky.

[2019-01-15 14:24] pshipton commented on #4078
Not a blocker for the 0.12 release.

[2019-01-15 14:34] AdamBrousseau commented on #4297
I would rather convert to the Adopt test pipes (#2836) than spend time fixing these ones. Since this is the first time I've seen this reported I wouldn't say it's a blocker.

[2019-01-15 14:40] Mesbah-Alam commented on #4139
No change was delivered for this test.

[2019-01-15 14:41] AdamBrousseau commented on #4292
fixed by #4017

[2019-01-15 14:43] pdbain-ibm commented on #4144
Fixed by
https://github.com/eclipse/openj9/pull/4280

[2019-01-15 14:43] #4144 closed

[2019-01-15 14:54] mpirvu opened #4299 "Investigation into why footprint increases with number of compilation threads"
I observed that footprint during the steady state of AcmeAir increases with the number of compilation threads. This is unexpected because, once a compilation is over, we free all scratch memory. Moreover, persistent memory should not depend on the number of compilation threads. If we understand this issue we might be able to reduce footprint somewhat.
First step would be to determine what kind of

[2019-01-15 15:00] andrewcraik commented on #3771
my feeling is that we should do 3 in a form where we check the trees and the IV agree and if they don't we should get conservative with a warning message that always prints in the traceFull log and a good static debug counter. I think having GVP clean up IVs when folding the RHS of the update is also sensible. Whether IVA should remove all previous IVs is less clear - there may well be a compile-t

[2019-01-15 15:03] jdekonin commented on #4293
openssl 1.1.0g is installed on the new x86 machines only.  The Adopt playbooks only have it as a requirement for x86, and that requirement was raised via https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/493.

I don't see a requirement/issue for other platforms, is there one?  Can we just expand the existing playbook for p/z linux for the same version, 1.1.0g?

[2019-01-15 15:08] vij-singh commented on #3771
What is the severity of this issue, how likely is it to affect a customer?

[2019-01-15 15:12] vijaysun-omr commented on #3771
In terms of 2, I don't believe induction variable analysis has proven to be particularly significant from a compile time perspective. So we could remove all previous IVs when we run another pass of IVA. I personally don't think we rely on "preserving" past IVs for anything (compile time or anything else) and the mental model the optimizer has is that IVs will be rebuilt from scratch when IVA runs.

[2019-01-15 15:13] mpirvu commented on #4001
I better understand the issue now, so closing it. Satbir will work on implement some caching.

[2019-01-15 15:13] #4001 closed

[2019-01-15 15:24] vij-singh commented on #3636
@ashbm5 Alon are there any updates?

[2019-01-15 15:33] DanHeidinga commented on #4299
As you know, there's a certain fixed overhead for any thread (native stack, java stack, J9VMThread structures, etc).  Is the increase above and beyond that fixed overhead?

[2019-01-15 15:49] DanHeidinga commented on #4078
@AdamBrousseau @cwesMills any update on updating the machines to be consistent with Adopt?  In particular the LLVM version on OSX?

[2019-01-15 15:56] AdamBrousseau commented on #4078
Not from me. That would be a task for @cwillhelm but I'm not sure where it falls on his list.

[2019-01-15 16:03] jdmpapin commented on #3771
For severity, I think typically this should just result in a hang, but the consequences depend on the body of the loop. Effectively we've transformed this loop:
[code]
(where the particular loop body can only run for 1–1.5 iterations), into the following:
[code]
The code that now runs infinitely often (instead of approx. once) can be completely arbitrary, since we can do this even if the body cont

[2019-01-15 16:06] andrewcraik commented on #3771
sounds good to me - thank you both for the analysis

[2019-01-15 16:11] Mesbah-Alam commented on #4139
In all the new failed cases, the point at which the cache is expected to be above 50% full (relative to CACHESIZE_SOFTLIMIT_INTERMIEDIATE_INCREASED_MB=25mb), it is ending up being very close (e.g. 48% full) but not exactly more than 50% full.

The value for "CACHESIZE_SOFTLIMIT_INTERMIEDIATE_INCREASED_MB" was recently updated to 25mb (from 20mb)-- which unfortunately is ending up to be slightly to

[2019-01-15 16:23] pdbain-ibm commented on #3543
Test fails ~50% on Linux X86.  Ran several dozen times with `-Xint` and with `-Xjit:count=0` without failure.  I also wrapped the mainline in a loop to iterate the test in the same process.  It fails on the first iteration or not at all.

[2019-01-15 16:24] tajila commented on #2368
yes

yes

No, we will need a jvmti.h.m4 (or something similar). The `JAVA_SPEC_VERSION` will be passed to jvmti.h.m4 file and youll be able to do something like:
[code]

[2019-01-15 16:32] Mesbah-Alam commented on #4139
In all the new failed cases, the point at which the cache is expected to be above 50% full (relative to CACHESIZE_SOFTLIMIT_INTERMIEDIATE_INCREASED_MB=25mb), it is ending up being very close (e.g. 48% full) but not exactly more than 50% full.

The value for "CACHESIZE_SOFTLIMIT_INTERMIEDIATE_INCREASED_MB" was recently updated to 25mb (from 20mb)-- which unfortunately is ending up to be slightly to

[2019-01-15 17:05] Mesbah-Alam commented on #4139
5x Grinder on osx passes with above change: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/814/tapResults/

[2019-01-15 17:22] ben-walsh opened #4301 "JTReg test fails - java/util/Spliterator/SpliteratorTraversingAndSplittingTest.java and java/lang/String/Chars.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/Spliterator/SpliteratorTraversingAndSplittingTest.java consistently fails with multiple failures like this ...

[code]

See https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/812/consoleText.
The failures can be found by searching for ": failure".

The commonality of the failures is the use of <String> c

[2019-01-15 18:45] pshipton commented on #4293
@jdekonin Please consider this a formal requirement to have openssl on all build machines for all platforms. I will change the title. Instead of building/bundling openssl with the openj9 builds, we will use it from the machines.
1.1.0g is fine, it doesn't matter much since it is only used to compile against and perhaps run a few tests. Any version from 1.0 - 1.1 will be supported. Although 1.1.1 i

[2019-01-15 18:56] JasonFengJ9 commented on #3213
Note: this test can't be enabled as per decision made as per https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/63.

[2019-01-15 19:02] pdbain-ibm commented on #4279
https://github.com/eclipse/openj9/pull/4302

[2019-01-15 19:30] jdekonin commented on #4293
All x86 ci machine have been updated already.  To be consistent I was planning on using the same version for p/z.  That change and machine update is in progress.

[2019-01-15 19:33] DanHeidinga commented on #36
Mac support for jdk 8 & 11 is in `0.12.0`.  Rolling this forward for tracking the other mac defects

[2019-01-15 19:35] DanHeidinga commented on #4091
@Mesbah-Alam Have you worked with @AdamBrousseau / @jdekonin to have the locale corrected?

[2019-01-15 19:45] JasonFengJ9 commented on #2302
@suman-mitra sorry for getting back to this late (somehow fall off my radar).
Just tried again, it finished successfully. The JVM tested against was:
[code]

Could you verify?

[2019-01-15 19:49] babsingh commented on #3787
The same issue is noticed in https://github.com/eclipse/openj9/issues/4091 for the `MauveMultiThreadLoadTest`.

fyi @AdamBrousseau / @jdekonin / @Mesbah-Alam how should the locale be corrected?

[2019-01-15 19:53] JasonFengJ9 commented on #3399
Will look at this.

[2019-01-15 19:55] mpirvu commented on #4299
Some stats
1 comp thread  ==> 221080 KB
2 comp threads ==> 223417 KB
4 comp threads ==> 228234 KB
7 comp threads ==> 234520 KB

Roughly 2MB for each compilation thread. From my previous experience the native stack does not contribute that much to RSS and Java stack for a compilation thread should be negligible.

[2019-01-15 20:06] babsingh commented on #3775
I noticed that `testSCCMLTests2_1` passes in https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-osx_x86-64_cmprssptrs-OpenJ9/14/consoleFull. This CI build was run on 12 Dec 2018.

The most recent CI build failed due to `ERROR: Unable to find a build for artifact copy from: test.getDependency` - https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-osx_x86-64_cmprssptrs-OpenJ9/16/c

[2019-01-15 20:13] pdbain-ibm commented on #4279
@pshipton or @DanHeidinga This looks like an issue with the test machine https://ci.eclipse.org/openj9/computer/osx1011-x86-1/.
May I have your permission to log in directly to that machine in order to investigate?
FYI @jdekonin

[2019-01-15 20:20] pshipton commented on #4279
+1

[2019-01-15 20:39] llxia commented on #3775
Yes, it is passed in the nightly build.
https://ci.eclipse.org/openj9/view/Test/job/Test-extended.functional-JDK11-osx_x86-64_cmprssptrs/48/tapResults/

Close this issue.

[2019-01-15 20:39] #3775 closed

[2019-01-15 21:05] pshipton opened #4306 "Update zlinux build machines to gcc 7.4"
This is a request to update the zlinux build machines to use gcc 7.4 instead of 7.3

[2019-01-15 21:05] pshipton commented on #4306
@jdekonin

[2019-01-15 21:13] pshipton commented on #4293
Note we also want openssl on OSX, AIX, Windows.
For Window it is already installed, it needs to be on the path so Java can find the library
[code]

[2019-01-15 21:14] smlambert commented on #4091
Based on https://github.com/eclipse/openj9/issues/4091#issuecomment-454521908, and a fair number of other openj9 issues, I wonder if we need a comp:infra tag to help identify and report openj9 machine config issues.

[2019-01-15 21:17] ChengJin01 commented on #4193
I  tried to isolate the problem by writing two test cases to with different APIs to display the GIF.

[1] Test1:
[code]
The picture shows up correctly when loading with ImageIO.read()
![image](https://user-images.githubusercontent.com/18036229/51210140-06f57000-18e0-11e9-8150-fde8dee21152.png)

[2] Test2:
[code]
The test ends up with an interlaced picture.
![image](https://user-images.githubuserco

[2019-01-15 21:34] yanluo7 commented on #4138
Narrowed down to this AOT method: `jdk/internal/jrtfs/JrtPath.resolve(Ljava/lang/String;)Ljdk/internal/jrtfs/JrtPath;`

[code]
The NPE is thrown from :
[code]
The value `0x7fa82c142058 ` is likely not relocated. These look like some kind of inline guard, but we can't completely sure. I've been trying to get a jit log with the failing method but once I start logging the method, I wasn't able to rep

[2019-01-15 22:51] AdamBrousseau commented on #4091
External OSX 10.11 machine
[code]
Internal OSX 10.11 machine
[code]

Seems one is US and one is CA. Is this what you were expecting? Might need to ask @cwillhelm if you want to change it.

[2019-01-16 04:40] prakaashkpk commented on #3767
The issue has occurred for one of our users. @LinHu2016 Any update on the issue ?

3XHCPUARCH       Architecture   : amd64
3XHNUMCPUS       How Many       : 56

3XEHSTTYPE     05:47:28:594708000 GMT j9mm.107 - * ** ASSERTION FAILED ** at CopyForwardScheme.cpp:3376: ((false && (nodeOfThread <= _extensions->_numaManager.getMaximumNodeNumber())))

[2019-01-16 04:49] pshipton commented on #4092
#4300 was merged.

[2019-01-16 05:35] ashu-mehra commented on #3767
@bharathappali I guess you have some kind of a fix for this. Can you please open a PR for that and get it reviewed.

[2019-01-16 05:53] bharathappali commented on #3767
@ashu-mehra Sure will be raising it today.

[2019-01-16 11:21] suman-mitra commented on #2302
I'll verify and update soon

[2019-01-16 11:34] ben-walsh commented on #4301
This is a regression since the latest release ...

[code]

[2019-01-16 12:03] ben-walsh commented on #4301
Run against my local Mac laptop, demonstrating this is a cross platform issue ...

[code]

[2019-01-16 12:42] pshipton commented on #4277
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-win_x86-64_cmprssptrs/137

[2019-01-16 13:05] lumpfish opened #4312 "Implement JVM_CopySwapMemory"
With the 19_01 updates, openjdk has introduced a new JVM method JVM_CopySwapMemory which openj9 needs to implement.

[code]

The previous build had the following natives which were merged into `Java_java_nio_Bits_copySwapMemory0;`
[code]

[2019-01-16 13:14] pshipton commented on #4090
@DanHeidinga mentioned there was a proposal to fix this test to not expect the OS memory to decrease. We would also need to ensure there is a port library test to confirm madvise APIs continue to work on linux.

In the meantime, I think we should exclude this test on osx, which fails consistently, which is the only remaining failure in the jdk11 extended.functional test suite.
@babsingh @llxia

[2019-01-16 14:01] andrewcraik commented on #4301
@ben-walsh do these failures occur with -Xint?

[2019-01-16 14:31] ben-walsh commented on #4301
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/String/Chars.java also appears to be failing as a result of this problem too ...

[code]

[2019-01-16 14:34] DanHeidinga commented on #4091
FYI @smlambert I've created and added the `comp:infra` tag

[2019-01-16 14:36] cwillhelm commented on #4091
[code]

Locale has been changed to US.

[2019-01-16 14:40] pdbain-ibm commented on #4279
Tested on my High Sierra Mac with Java 8 and Java 11, all passed.
Tested on the failing machine.  When loading certain classes such as `com.apple.eawt.Application` it throws an error.  I will update the list of excluded packages.

[2019-01-16 14:41] DanHeidinga commented on #4312
We need a description of this function to be able to implement it.

[2019-01-16 14:42] smlambert commented on #4091
Thanks Dan, I think that new label will help the releng/infra team better categorize and track what needs attending to, as I know from experience if I've just been mentioned in an issue, its sometimes challenging to find it again.

[2019-01-16 14:45] ben-walsh commented on #4301
@andrewcraik My basic test, yes ...
[code]

I'll kick off runs of both with -Xint on Jenkins to confirm those.

[2019-01-16 14:46] smlambert commented on #4298
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/805

[2019-01-16 14:47] smlambert commented on #4301
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/806

[2019-01-16 14:48] ben-walsh commented on #4301
@andrewcraik
FYI - looks like first time these tests failed like this for the scheduled nightly runs was - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_linux/140. Hopefully that will narrow down what introduced the regression.

[2019-01-16 14:52] ben-walsh commented on #4301
@andrewcraik
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/840 : -Xint of java/util/Spliterator/SpliteratorTraversingAndSplittingTest.java
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/841 : -Xint of java/lang/String/Chars.java

[2019-01-16 14:52] andrew-m-leonard opened #4313 "jdk-11.0.2+7 failure: org.openj9.test.runlast.Test_JavaNetWithSideEffectsShouldRunLast"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-linux_x86-64_cmprssptrs-OpenJDK11/19/

Message: should have created URL: java.lang.Error: java.lang.IllegalAccessException: Class org/openj9/test/runlast/Test_JavaNetWithSideEffectsShouldRunLast$1(unnamed module 0x000000008358BE00) can not access class sun/net/www/protocol/jrt/Handler(module java.base) because module module java.base does

[2019-01-16 14:55] ben-walsh commented on #4301
@andrewcraik My basic test with -Xint on Mac also still shows the regression ...
[code]

[2019-01-16 14:57] DanHeidinga commented on #4313
@ChengJin01 @tajila Can you two take a look at this and see why we're throwing the exception here?

[2019-01-16 14:59] ben-walsh commented on #4301
@andrewcraik
Same results for both tests with -Xint ...
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/840
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/841

[2019-01-16 15:02] JasonFengJ9 commented on #4277
Will look at this.

[2019-01-16 15:03] DanHeidinga commented on #4301
@pdbain-ibm Can you take a look at this?

[2019-01-16 15:15] DanHeidinga commented on #4301
Possibly related to https://github.com/eclipse/openj9/pull/3528

[2019-01-16 15:18] pdbain-ibm commented on #4301
Will investigate.

[2019-01-16 15:24] dmitripivkine commented on #3767
If I understand correctly the end point is `do_get_mempolicy()` failed:
[code]
Making this system call work fir this docker image would be a work around

[2019-01-16 15:32] ChengJin01 commented on #4313
It seems the test cases failed at:
/Java8andUp/src/org/openj9/test/runlast/Test_JavaNetWithSideEffectsShouldRunLast.java
[code]
Given that the error message was generated from J9NLS_VM_ILLEGAL_ACCESS_MODULE_EXPORT (related to J9_VISIBILITY_MODULE_PACKAGE_EXPORT_ERROR),  need to check which function called checkModuleAccess() in the code.

[2019-01-16 15:45] ben-walsh opened #4315 "JTReg test fail - java/security/Signature/ResetAfterException.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/security/Signature/ResetAfterException.java failing consistently with the following ...

[code]

First occurrence of this failing - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_linux/192/testReport/junit/java_security_Signature_ResetAfterException/java/ResetAfterException

Last o

[2019-01-16 15:46] ben-walsh commented on #4315
This is a regression since the last release ...

[code]

[2019-01-16 15:52] pshipton opened #4316 "Extended-JDK8-osx_x86-64_cmprssptrs cmdLineTester_jep178_staticLinking_SE80_0 failed with error code: 6"
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK8-osx_x86-64_cmprssptrs-OpenJ9/7
[code]

[2019-01-16 15:53] ben-walsh commented on #4315
Confirmation that after the failed verification the Signature object does not correctly reset ...

[code]

[2019-01-16 15:54] pshipton commented on #4316
@babsingh fyi. A previously unseen osx failure in jdk8 extended testing. If it's not easily fixable I'd like to exclude it so we can have green tests.

[2019-01-16 16:08] pshipton commented on #4184
@lumpfish fyi

[2019-01-16 16:15] ben-walsh opened #4317 "JTReg test fail - MacOS : java/nio/channels/SocketChannel/AdaptSocket.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/nio/channels/SocketChannel/AdaptSocket.java fails consistently on Mac OS with the following ...

[code]

Successful run against Linux x86_64 - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_linux/240/testReport/java_nio_channels_SocketChannel_AdaptSocket/java/AdaptSocket

No such p

[2019-01-16 16:41] babsingh commented on #4090
This failure is intermittent. https://github.com/eclipse/openj9/pull/3304 is a potential fix:

returned to OS is not reliable. It is a source of intermittent failures.
From another side ibmMemoryMBean.getHeapMemoryUsage().getCommitted()
always returns true amount of commited memory. So the main goal of the
test to verify -Xsoftmx functionality.

https://github.com/eclipse/openj9/pull/3304 only ame

[2019-01-16 16:42] DanHeidinga commented on #3153
@andrewcraik Is this complete on x86 for 0.12?  Can it be closed?

[2019-01-16 16:43] lumpfish commented on #4312
function prototype is

JVM_CopySwapMemory(JNIEnv *env, jobject srcObj, jlong srcOffset, jobject dstObj, jlong dstOffset, jlong size, jlong elemSize)

The function needs to copy size bytes of data from the srcObj+srcOffset location to the dstObj+dstOffset location

elemSize must be 2, 4, or 8 and denotes whether the data contains short, long or double data types.

As the data is copied it is revers

[2019-01-16 16:49] keithc-ca commented on #4301
I expect that is it; and it will occur with `-Xint`.

[2019-01-16 16:51] andrewcraik commented on #3153
This is now merged. Closing.

[2019-01-16 16:51] #3153 closed

[2019-01-16 17:12] gacholio commented on #4312
I'll implement this ASAP.

[2019-01-16 17:13] gacholio commented on #4312
Assuming the function is "void JNICALL".

[2019-01-16 17:18] gacholio commented on #4312
@lumpfish - does size represent bytes or elements? If it really is bytes, what's the behaviour for leftover bytes (i.e. copying 7 bytes 4 at a time). Is it assumed that size is a multiple of elemSize?

[2019-01-16 17:28] gacholio commented on #4312
@lumpfish - are there any assumptions about atomicity? i.e. if elemSize is 8, does that mean I have to atomically read and write the 8 byte value?

[2019-01-16 17:31] lumpfish commented on #4312
size represents bytes.  It may be a good idea to make sure that bytes is a multiple of elemSize, and throw an error if there are leftover bytes.

[2019-01-16 17:36] gacholio commented on #4312
If the objects are not NULL, do they necessarily represent a primitive array type?

[2019-01-16 17:38] lumpfish commented on #4312
There are no assumptions about atomicity, but I guess that doesn't necessarily mean it shouldn't be atomic.

[2019-01-16 17:39] gacholio commented on #4312
I'll ignore the atomicity issue for now (doing 8-byte atomics on 32-bit platforms can be quite slow).

[2019-01-16 17:48] jdekonin commented on #4293
All zLinux (390) ci machine have been updated with 1.1.0g.

[2019-01-16 17:58] lumpfish commented on #4312
They are treated purely as bytes with the swap behaviour determined by the elemSize.

[2019-01-16 18:05] pdbain-ibm commented on #4279
Candidate fix https://github.com/pdbain-ibm/openj9/commit/eaf32c89b3833fa5edb3613b1c0b717cc44e93c2 verified on the failing machine; under test in a personal build.

[2019-01-16 18:20] pshipton commented on #4293
@sxa555 do the Adopt test machines have openssl installed?

[2019-01-16 18:42] pdbain-ibm commented on #4301
The code is not handling the surrogates.

[2019-01-16 18:42] pshipton commented on #4293
@jdekonin a test compile on zlinux failed. Note the xlinux compile worked fine.
https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-linux_390-64_cmprssptrs-OpenJ9/64
[code]

[2019-01-16 18:54] babsingh commented on #3791
**Update:**
- @llxia Target `cmdLineTester_GCCheck_SE80_0` is only available in internal builds. Why is it not available in external builds? Should internal and external builds be consistent?
- `Create core file` should pass if the machine is setup properly. Refer to the above comment.
- `Run gccheck` depends on `DDRInteractive`. It fails since DDR support is currently missing on OSX.

[2019-01-16 18:57] babsingh commented on #3562
**Update:**
- [**cmdLineTester_dumpromclasstests_0**] `Run !dumpallromclasslinear` depends on `DDRInteractive`. It still fails since DDR support is currently missing on OSX.

[2019-01-16 19:07] pshipton commented on #4301
@pdbain-ibm fyi https://github.com/eclipse/openj9/pull/4321

[2019-01-16 19:11] Mesbah-Alam commented on #4139
Can this now be closed?

[2019-01-16 19:12] cathyzhyi commented on #4277
@0dvictor is aware of the issue and is willing to help if this is JIT related.

[2019-01-16 19:15] jdekonin commented on #4091
On a Mac, the locale above is impacted by changing the region within the Language & Region system preferences.  The current setup is Canada, because that is where they are located; UTF-8 is also a default for Canada or US.

Looking at the a ub16-390-1 machine, it looks somewhat different.
[code]

ub16-ppcle-1
[code]
aix71-p8-1
[code]
ub16-x86-1
[code]

How are the tests expecting the machines loca

[2019-01-16 19:21] pshipton opened #4323 "Error parsing TAP Stream"
Although the testing seems passed, the final result is not green.

Internal testing job/Test-sanity.functional-JDK8-linux_x86-64_cmprssptrs/331
[code]

[2019-01-16 19:23] pshipton commented on #4323
@smlambert @llxia

[2019-01-16 19:30] pshipton commented on #4139
No failures last night, closing. Thanks @Mesbah-Alam

[2019-01-16 19:30] #4139 closed

[2019-01-16 19:31] jdekonin commented on #4293
Can I have a pointer to a passing job please?

[2019-01-16 19:32] pdbain-ibm commented on #4054
Fails with -Xint.

[2019-01-16 19:37] pshipton commented on #4293
I had a feeling you were going to ask for the link I didn't keep track of. :) But I tracked it down.
https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-linux_x86-64_cmprssptrs-OpenJ9/55/
Weirdly there is no console output. I've started a new one.
https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-linux_x86-64_cmprssptrs-OpenJ9/56/

[2019-01-16 19:39] pshipton commented on #4293
Try again https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-linux_x86-64_cmprssptrs-OpenJ9/57/

[2019-01-16 19:41] jdekonin commented on #4293
I got it.  The logs were compressed.  55 console output is readable now.

[2019-01-16 19:43] babsingh commented on #3686
#3765 is the fix for this issue. Closing this issue since the following exception is no longer seen while running the `gpTest` suite:
[code]
**make** target: `_cmdLineTest_gpTest_0`.

[2019-01-16 19:43] #3686 closed

[2019-01-16 19:50] smlambert commented on #4323
Yes it indicates that some test is producing output characters that are causing Tap parser to choke.

[2019-01-16 19:52] pdbain-ibm commented on #3347
Will investigate.

[2019-01-16 20:10] ChengJin01 commented on #4313
It is probably because we didn't export in sun.net.www.protocol.jrt in test case as follows:
`--add-exports java.base/sun.net.www.protocol.jrt=ALL-UNNAMED`
The test case passed by adding the requested package to /Java8andUp/playlist.xml

[2019-01-16 20:12] tajila commented on #4313
Tyoically sun.* classes are not exported so its likely that we need to update our test.

This test also fails on hotspot VM
[code]

[2019-01-16 20:21] jdekonin commented on #4091
Why the `WindowServer` error for OSX.  This is detailed in the description of this issue.

[2019-01-16 20:41] smlambert commented on #4315
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/808

[2019-01-16 20:42] smlambert commented on #4317
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/810

[2019-01-16 20:42] babsingh commented on #3789
**[Update]** The failures reported in this issue are still observed:
[code]

[2019-01-16 20:45] gacholio commented on #4312
Does the code need to handle overlap, i.e. providing the same array for source and dest with different offsets? Similar issue exists in native memory as well.

[2019-01-16 21:06] ChengJin01 commented on #4313
Already confirmed the test ended up with the same failure on Hotspot
[failed_Hotspot_java11.txt](https://github.com/eclipse/openj9/files/2766039/failed_Hotspot_java11.txt)

and the test passed with "--add-exports java.base/sun.net.www.protocol.jrt=ALL-UNNAMED" on both OpenJ9 and Hotspot

[ok_hotspot_java11_updated_playlist.txt](https://github.com/eclipse/openj9/files/2766042/ok_hotspot_java11_upda

[2019-01-16 21:08] pshipton commented on #4323
I expect it needs to be resolved asap. It occurs with the jdk8 u202-b08 build we need for the release. Possibly upgrading to this jdk level will cause all sanity.functional testing to not show as green.

[2019-01-16 21:11] #3232 closed

[2019-01-16 21:13] yanluo7 commented on #4138
So we are still trying to reproduce the problem while getting a trace log of the `JrtPath.resolve` method, in order to understand how the problematic instructions were generated. Logging a method while running the test seems to change the timing such that the NPE becomes even more intermittent. In addition to my local setup, Peter is also running in a loop on his machine to try to get a reproducti

[2019-01-16 21:15] smlambert commented on #4323
In my opinion, you do not need the Jenkins TAP plugin in to work and subsequently a prettified Jenkins display to show as green, in order to know the tests pass (as you can look in console output and see that they did).  The step to produce the .tap file fails.  Agree that it needs to be fixed, but feel its not a blocker.

Also, this is likely not to be looked at this week, as we have people both

[2019-01-16 21:17] smlambert commented on #4323
Also, do we know this is reproducible on the same point in the test build, choking on stringConcatOptTest_0.  We should look if that test material change recently.

[2019-01-16 21:19] pshipton commented on #4306
7.3 is not required, the package manager update sounds good.

[2019-01-16 22:14] pshipton commented on #4323
I didn't say it was a blocker, but will take more effort to check if there are real failures.

Thanks.

[2019-01-16 22:18] smlambert commented on #4323
I have not been able to reproduce it yet, either running the specific stringConcatOptTest test 100's of times or running the whole sanity suite 10's of times.  So on the up-side, its not a very frequent failure.

[2019-01-16 22:52] JasonFengJ9 commented on #4277
A few observations:
1. This is an intermittent failure, ~2/10 (in two different machines) from the test history;
2. The failure occurred at `net/adoptopenjdk/test/concurrent/jsr166y/ForkJoinPoolTest.java`
[code]
3. It is interesting to note that the [spec](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ForkJoinPool.html#getActiveThreadCount--) states following:

Attempting to repro

[2019-01-16 23:20] #4313 closed

[2019-01-16 23:40] #4316 closed

[2019-01-17 00:47] vijaysun-omr commented on #3743
Is there some limit on the number of different command lines that we can store GC hints for in a given SCC ? fyi @mpirvu because we were discussing this today.

[2019-01-17 00:49] pshipton commented on #4323
Great, let's hope it was a one-off and we don't see it again once jdk8u202-b08 is merged.

[2019-01-17 01:05] pshipton commented on #3743
@vijaysun-omr the only limit is the size of the cache. We wondered if we needed to add a limit, but not sure if it is necessary. Likely there will be something that changes the command line all the time, but otherwise there probably aren't that many variations.

[2019-01-17 01:10] pshipton commented on #3743
@amicic what options changed? Something to do with the VM that we can fix, or something to do with the application?

[2019-01-17 01:16] pshipton commented on #3789
@DanHeidinga do you think this one needs to be in a milestone plan?

[2019-01-17 01:17] vijaysun-omr commented on #3743
@pshipton we (Marius and I) were also wondering about the same thing, i.e. potential issues with storing as many distinct paths as can be fit. One case that we have seen change the path (directory where java is installed) continuously is Hadoop when the master installs workers on several machines repeatedly and uses slightly different directory names every time.

[2019-01-17 04:17] pshipton commented on #3340
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/147
[code]

[2019-01-17 04:20] DanHeidinga commented on #4315
@pdbain-ibm can you take a look?  Wild guess: possibly related to the changes to use openssl for the cypto code?

[2019-01-17 04:31] pshipton commented on #3743
In a case like that there is no benefit to storing the hints. It would be better to either disable them, or only store a subset of the command line which doesn't change.

Do you have an example Hadoop command line?

[2019-01-17 04:52] DanHeidinga commented on #3789
[code]
These are likely related to a missing call to configure the floating point exceptions on osx.  Seems to be a common problem using clang - https://stackoverflow.com/questions/37819235/how-do-you-enable-floating-point-exceptions-for-clang-in-os-x  We'll need to figure out exactly what we're missing here

[code]
There's an interesting theory in https://github.com/dart-lang/sdk/issues/35275#iss

[2019-01-17 07:22] suman-mitra commented on #2302
I'm unable to find the build mentioned by you. However, I tried with the below version

openjdk version "1.8.0_192"
OpenJDK Runtime Environment (build 1.8.0_192-201811160518-b12)
Eclipse OpenJ9 VM (build master-4d8ad6b23, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20181116_110 (JIT enabled, AOT enabled)
OpenJ9   - 4d8ad6b23
OMR      - ee38121f
JCL      - a98b32fb3b based on jdk8u192-b12)

[2019-01-17 12:58] pshipton opened #4334 "Test-extended.system-JDK8-aix_ppc-64_cmprssptrs SharedClasses.SCM23.MultiThread_0 crash Compiled_method fastIdentityHashCode"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-aix_ppc-64_cmprssptrs/125
[code]

[2019-01-17 13:01] pshipton commented on #4334
20x grinder https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/196/

[2019-01-17 13:04] #4292 closed

[2019-01-17 13:43] JasonFengJ9 commented on #4277
**Update:**
Not able to reproduce the failure in a 50x grinder at internal jenkins machines.

Next step is to try the Eclipse machines where this PR was reported, hence requesting machine access to `win2012r2-x86-2` or `win2012r2-x86-3`.

Reviewer: @DanHeidinga @pshipton
FYI: @jdekonin

[2019-01-17 13:59] pdbain-ibm commented on #4315
@DanHeidinga I will investigate.

[2019-01-17 14:06] smithwil opened #4335 "Documentation - default OS stack size on z/OS"
The documentation at: https://www.eclipse.org/openj9/docs/openj9_defaults/

shows default OS thread stack size (Xmso) on z/OS as 256KB. But when I run java -verbose:sizes -version for the IBM Java 8.0.5.15 SDK on z/OS it shows: -Xmso384K. So, perhaps the documentation needs updating if 384K is the accurate default size.

[2019-01-17 14:06] #4122 closed

[2019-01-17 14:09] pshipton commented on #4277
+1

[2019-01-17 14:09] DanHeidinga commented on #4277
+1

[2019-01-17 14:12] DanHeidinga commented on #4334
FYI @gita-omr Can you have someone take a look at this?

[2019-01-17 14:14] pshipton commented on #4335
@SueChaplain

[2019-01-17 14:23] DanHeidinga commented on #4312
Reopening till the overlap case is handled

[2019-01-17 14:54] mpirvu commented on #3743
I didn't keep the Hadoop command line but the pattern is that the master sends the jar files through the network to the slaves, and the slaves create a temporary directory and copy the jar files there (example: `/data6_p2/bi18/mapred/local/taskTracker/biadmin18/jobcache/job_201403251225_0001/jars`)
Hadoop was the reason we added the `-Xshareclasses:restrictClassPaths` option.

[2019-01-17 15:22] smithwil commented on #4335
According to j9cfg_builder.h,
The default is 384KB on z/OS 64-bit with compressed references, otherwise it is 256KB.

[2019-01-17 16:11] babsingh commented on #3789
fyi @DanHeidinga

The hang happens with **0 or unlimited** (`ulimit -c`). The hang happens during **javacore** generation. Before the hang, the **javacore** has the following contents:
[code]
The above **javacore** contents are printed from this code:
https://github.com/eclipse/openj9/blob/6b6c2c8a506e0266e8b2b45a81a88153939e0e9d/runtime/rasdump/javadump.cpp#L1813-L1824

[2019-01-17 16:21] SueChaplain commented on #4335
Opened https://github.com/eclipse/openj9-docs/issues/194. Closing this issue here to clear it from the list.

[2019-01-17 16:21] #4335 closed

[2019-01-17 16:30] IBMJimmyk opened #4337 "NULL loop parent causes segfault in SPMDParallelizer"
The GPU transformation might make the block we are trying to vectorize unreachable due to creating and using a new GPU path. This occurs if the Xjit option enableGPU={enforce} is set since it forces the GPU path to always be taken. If vectorization is attempted anyways, it will segfault due to the loop block now having a parent of NULL.

SPMDParallelizer should be updated to check for this case an

[2019-01-17 16:33] DanHeidinga commented on #3789
@babsingh Looking a little further into that JavaCoreDumpWriter method and I see a lot of `j9sig_protect` calls doing some very interesting things like attempting to walk the native stacks.

https://github.com/eclipse/openj9/blob/6b6c2c8a506e0266e8b2b45a81a88153939e0e9d/runtime/rasdump/javadump.cpp#L1854-L1857

Can you look into those calls?  Maybe disable them and see if the hang still occurs as

[2019-01-17 17:04] ben-walsh commented on #4317
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/854/consoleText - 10x with timeout reduced from 10 to 1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/855/consoleText - 10x with timeout reduced from 10 to 1 and -Xint

Notable and suspicious difference in behaviour for the 4th repetition in both these runs (search for "timeout: 1" in the output) - there is a SocketTimeoutExcept

[2019-01-17 18:14] pdbain-ibm commented on #4315
The first `sig.verify(signature)` after a failure also fails, though it should pass; the second `sig.verify(signature)` passes correctly.

[2019-01-17 18:18] smlambert commented on #1433
I will close this issue as its jdk9, and as individual issues are being opened against jdk11.

[2019-01-17 18:18] #1433 closed

[2019-01-17 18:21] smlambert commented on #4188
Test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/813

[2019-01-17 19:02] pshipton commented on #3743
For this specific case, we could store a subset of the command line when -Xshareclasses:restrictClassPaths is specified, and ignore the -cp option.

[2019-01-17 19:19] pdbain-ibm commented on #4315
Rebuilt the JVM with `bash ./get_source.sh --openssl-version=1.1.1` and the test passes.

[2019-01-17 19:51] pshipton commented on #4315
From a discussion with Peter, the previous comment means it works with 1.1.1 but not 1.1.1a

[2019-01-17 20:06] #4301 closed

[2019-01-17 20:17] R-Santhir commented on #4334
Is it possible to get access to the test source? Running this locally would speed up investigation @DanHeidinga @pshipton

[2019-01-17 20:38] pdbain-ibm commented on #4315
Fails with `-Djdk.nativeCrypto=true`, passes with `-Djdk.nativeCrypto=false`.

[2019-01-17 20:40] pshipton commented on #4334
If only they were opened sourced ... oh wait.
The tests live here https://github.com/eclipse/openj9-systemtest
Clone the open j9 repo (i.e. `git clone git@github.com:eclipse/openj9.git`) and then follow the quick start instructions. You would run `SharedClasses.SCM23.MultiThread_0`.
https://github.com/eclipse/openj9/blob/master/test/README.md
Note you need a machine with the test prerequisite tool

[2019-01-17 20:43] pshipton commented on #4334
I'm wondering if there is some non-obvious step that needs to be added since this is system step.
@smlambert

[2019-01-17 20:48] babsingh commented on #3789
fyi - @DanHeidinga

The hang happens while reading the native thread stacks: [omrintrospect.c::setupNativeThread](https://github.com/eclipse/omr/blob/master/port/osx/omrintrospect.c#L200-L275) -> [omrintrospect.c::getThreadContext](https://github.com/eclipse/omr/blob/master/port/osx/omrintrospect.c#L303). `getThreadContext` makes a call to `read` in order to wait for the signal handler to complete

[2019-01-17 20:51] pdbain-ibm commented on #4315
May be a build problem. JDK downloaded from https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9 fails. A personal build on Linux X86 from the head of OpenJ9:
[code]

[2019-01-17 20:52] jdekonin commented on #4293
The Adopt playbook role OpenSSL does not cover the requirement for this request.  We need to install openssl via the package manager.

zLinux and plinux instances have
[code]
xlinux instance have
[code]

ub16-390-1, ub16-390-2, ub16-390-3, ub16-390-4
ub16-ppcle-1, ub16-ppcle-2, ub16-ppcle-3, ub16-ppcle-4
ub16-x86-1, ub16-x86-2, ub16-x86-3, ub16-x86-4, ub16-x86-5, ub16-x86-6

[2019-01-17 21:06] JasonFengJ9 commented on #4277
Thanks @jdekonin help launching grinders.
2/50 (same command line options) failed at https://ci.eclipse.org/openj9/job/Test-Grinder/199/console.
Another 50x grinder with `-Xjit:exclude={java/util/concurrent/ForkJoinPool.*}` all passed at https://ci.eclipse.org/openj9/job/Test-Grinder/200/consoleFull.

Could JIT team continue the investigation?
fyi: @0dvictor

[2019-01-17 21:20] jdekonin commented on #4277
https://ci.eclipse.org/openj9/job/Test-Grinder/202/console
with `-Xjit:limit={java/util/concurrent/ForkJoinPool.*}` as request for you @0dvictor

[2019-01-17 22:13] pshipton commented on #4334
Ah, systemtest has it's own quickstart guide https://github.com/eclipse/openj9-systemtest#unix

[2019-01-17 22:21] R-Santhir commented on #4334
Awesome thanks @pshipton

[2019-01-17 22:48] smlambert commented on #4334
I should add that if you do not want to get into the down'n'dirty details of all the different tests we run, I created this guide to rerunning the different types locally:
https://github.com/eclipse/openj9/wiki/Reproducing-Test-Failures-Locally  which contains examples from each set, including a system test example:
https://github.com/eclipse/openj9/wiki/Reproducing-Test-Failures-Locally#run-sanit

[2019-01-17 22:54] smlambert commented on #4334
You can also run a test Grinder on the internal Jenkins instance to run this test, see Test_Grinder tab to find the job (instructions: https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins).  Cores from internal Grinder jobs get zipped up in the test artifacts and stored in artifactory (available for download via a link from the Grinder job).

[2019-01-17 23:46] pshipton commented on #4334
Since 40 grinders passed, I'm remove this from the 0.12 milestone.

[2019-01-17 23:53] pshipton commented on #4210
Since no regressions can be found running with the JIT, and switching from gcc 4 to 7 (for Adopt builds) is not a change that occurred in the 0.12 release cycle, removing this from the 0.12 milestone.

[2019-01-17 23:55] pshipton commented on #4138
Removing the prio:high label since this problem occurred regularly when shared classes was enabled by default, but shared classes by default has been disabled.

[2019-01-18 01:46] #4188 closed

[2019-01-18 03:37] pshipton opened #4348 "Liberty testing showing a memory leak in OpenSSL code"
Although the code is in the OpenJDK extensions repos, this affects the OpenJ9 builds. Creating this issue so the problem can be added to the milestone plan.

Still gathering information, but preliminary results indicate a memory leak running TLSv1.3 when OpenSSL is enabled.

[2019-01-18 12:06] ben-walsh commented on #4315
@pdbain-ibm Build from http://pokgsa.ibm.com/gsa/pokgsa/home/p/d/pdbain/public/issue4315.tar.zip looks good ...

[code]

I also tried utilising that build with Jenkins to run the test but unfortunately I have not been able to get the file in a format the job accepts as valid ...
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/863/consoleText
https://ci.adoptopenjdk.net/view/Test_grinder/

[2019-01-18 12:20] ben-walsh commented on #4317
Interesting set of results from https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/856/consoleText ...

99 runs failed - search for "jdk_custom_0_FAILED"

Of those 5 runs where the correct exception is thrown, then read works, as reported in https://github.com/eclipse/openj9/issues/4317#issuecomment-455249735 - search for "Read timed out, as expected".

Remaining 94 failed runs as reported

[2019-01-18 13:05] pshipton commented on #3340
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/149
DaaLoadTest_daa2_0
[code]

DaaLoadTest_daa2_ConcurrentScavenge_0
[code]

[2019-01-18 13:06] pshipton commented on #3340
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64_cmprssptrs/149

[2019-01-18 13:47] pshipton opened #4351 "Test-extended.system win SharedClassesAPI_0 assert The softmx limit for shared cache usage is smaller than the minimum feasible value"
[code]

in stderr output
[code]

in javacore
[code]

[2019-01-18 13:47] pshipton commented on #4351
@Mesbah-Alam @hangshao0

[2019-01-18 13:48] pshipton commented on #4351
Mesbah said in https://github.com/eclipse/openj9-systemtest/pull/74

The Workload that crashes, WL3 runs the following command:
[code]

[2019-01-18 13:52] pshipton commented on #4351
@Mesbah-Alam I was thinking more along the lines of, what is the test doing that causes the assert.

It seems to be related to the cache contents. The assert checks the softmx value is between the amount of data which is in the cache, but not bigger than the total size of the cache.
`(getTotalSize() >= softMaxBytes) && (softMaxBytes >= getUsedBytes())`

[2019-01-18 14:20] #4279 closed

[2019-01-18 14:32] jdmpapin commented on #3771
eclipse/omr#3462 has been merged. Here is the [repro](https://github.com/eclipse/openj9/files/2773280/Repro.java.txt) for posterity.
[code]

[2019-01-18 14:36] andrewcraik commented on #3340
@cathyzhyi where did this get to in terms of the fix?

[2019-01-18 14:37] pdbain-ibm commented on #3347
Pausing this...

[2019-01-18 14:40] fjeremic commented on #3771
@jdmpapin are you able to package that up as a unit test and add it to our test bucket so no one else gets hit by this problem in the future?

[2019-01-18 14:54] ben-walsh commented on #4317
Another set of interesting results from https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/869/consoleText ...

Again 99 runs failed - search for "jdk_custom_0_FAILED"

Of those 8 runs where the correct exception is thrown once, then read wrongly works - search for "loop: 0 STDERR:"

1 runs where the correct exception is thrown twice, then read wrongly works - search for "loop: 1 STDERR:"

[2019-01-18 14:58] pdbain-ibm commented on #4315
I downloaded the [dockerfile](
https://github.com/eclipse/openj9/blob/master/buildenv/docker/jdk11/x86_64/ubuntu16/Dockerfile) and ran the build instructions verbatim.  That passes too.

Tested on LinuxPPC with the latest AdoptOpenJDK build.  It failed.
[code]

[2019-01-18 15:02] AdamBrousseau commented on #4315
From an OpenJ9 CI build
https://ci.eclipse.org/openj9/view/Build/job/Build-JDK11-linux_x86-64_cmprssptrs/457
[code]
The extra options can also been seen in the [variables file](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/variables/defaults.yml#L248)

[2019-01-18 15:52] AidanHa commented on #2977
Hello, I will be working on this issue.

For now, I will implement the new option, where -XX:-IgnoreUnrecognizedVMOptions reports all unrecognized options, and -XX:+IgnoreUnrecognizedVMOptions ignores them.

I'm still a bit confused on how the current options work, but I will figure it out...

[2019-01-18 15:56] pdbain-ibm commented on #4315
Building on Linux X86 and PPC with `--openssl-version=1.1.1a` and ` --with-openssl=fetched --enable-openssl-bundling` causes the test to fail.

[2019-01-18 16:16] ashbm5 commented on #4315
can you try running with the option -Djdk.nativeDigest=false and see if it passes

[2019-01-18 16:16] pshipton commented on #4315
and does the openssl version matter? In your build which works, what does `-Djdk.nativeCryptoTrace=true` indicate?

[2019-01-18 16:17] pshipton commented on #4315
@ashbm5

Fails with `-Djdk.nativeCrypto=true`, passes with `-Djdk.nativeCrypto=false`.
https://github.com/eclipse/openj9/issues/4315#issuecomment-455323458

[2019-01-18 16:23] ashbm5 commented on #4315
@pshipton  -Djdk.nativeDigest=false will disable only the MessageDigest OpenSSL support - will help narrow down the problem

Also might want to take a look at the test InitAgain.java - it is also failing in our tests and might be related

[2019-01-18 16:49] cathyzhyi commented on #3340
Wasn't able to reproduce. I will take a look again soon since the failure rate seems to be higher now.

[2019-01-18 19:11] AdamBrousseau commented on #4258
xvfb added to Dockerfiles via #4329
All containers have been rebuilt.

cc @jdekonin @smlambert
Does this need to be added to AIX and Mac?

[2019-01-18 20:39] ChengJin01 commented on #4193
Investigation shows the interlaceflag in Test2 (the original code in SwingSet2) was set to false during reading the image via readImage() at src/java.desktop/share/classes/sun/awt/image/ImageDecoder.java (OpenJDK11)
[code]
The debugging messages are as follows:
[code]

However, the value of the passed-in interlace flag was messed up when calling the native code GifImageDecoder.parseImage()
[code]

[2019-01-18 20:46] babsingh commented on #3789
Tried alternate approaches using Java code. With **QuickTest** +  `SIGABRT`/`SIGQUIT`, javacores generate fine on OSX. With **CheckSIGFPE**, `SIGFPE` is caught and `java.lang.ArithmeticException: divide by zero` is thrown. The two issues are only observed in native code.

**QuickTest:**
[code]

**CheckSIGFPE:**
[code]

[2019-01-18 20:56] smlambert commented on #4258
Short answer is its a 'nice to have' on those platforms for the openj9 machines (we have no builds at openj9 that run the tests that require it).

Longer answer is yes, though not urgent, we need it on internal machines for those platforms as we will eventually need to run the tests that require it on those platforms (subset of jck & openjdk tests need it).  We have restricted the tests that requi

[2019-01-18 21:13] yanluo7 commented on #4138
So I asked Devin to take a look at the failing `cmp` instruction, we discovered that the cmp instruction and the mov immediately before it seem to be loading a static from String -- java/lang/String.COMPACT_STRINGS. But so far we haven't found what could have caused the missed relocation -- hard to imagine it could happen to a common static load.

[2019-01-18 21:36] 0dvictor commented on #4277
As mentioned earlier, https://github.com/eclipse/openj9/issues/4277#issuecomment-454974922:

How does the test guarantee that the number of active threads is not overestimated in the assertion?

[2019-01-18 22:53] jdekonin commented on #4306
Done.  All 4 machines updated.

[2019-01-18 23:00] #4306 closed

[2019-01-18 23:16] pshipton commented on #2977
Note https://github.com/eclipse/openj9/issues/2977#issuecomment-423578791, we want to introduce a new option here, rather than changing the behavior of IgnoreUnrecognizedVMOptions.

[2019-01-18 23:22] pshipton commented on #3771
@llxia can you re-include the test please since the fix has promoted.

[2019-01-21 05:55] gacholio commented on #4312
@lumpfish The working native has been merged into OpenJ9 and has been published internally, so you should be able to import the new JDK8 level.

[2019-01-21 12:34] pshipton commented on #3636
No, the code is not yet delivered.

[2019-01-21 14:42] llxia commented on #442
fyi @Yuehan-Lin

[2019-01-21 14:57] dmitry-ten commented on #3620
This commit 534f7485b06dadd2e5ba31341eb96548a792af2c is causing a regression in JITaaS throughput, but, somehow, mainline is unaffected. Investigating.

[2019-01-21 15:25] JasonFengJ9 commented on #4277
The spec is kind of confusing. On the other hand, do we understand why excluding the method `java/util/concurrent/ForkJoinPool.*` from `JIT` makes the `ForkJoinPool.getActiveThreadCount()` result consistent and passes the test?

[2019-01-21 15:40] pshipton commented on #3340
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_ppc-64_cmprssptrs_le/148
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_390-64_cmprssptrs/143
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_390-64_cmprssptrs/143

[2019-01-21 15:43] pshipton opened #4362 "https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64/147 DaaLoadTest_daa2_ConcurrentScavenge_0"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64/147
[code]

[2019-01-21 15:46] NigelYiboYu opened #4363 "VM `resolveClassRef()` helper crashes when resolving a resolved method"
This issue is only reproducible using certain OpenJ9 builds in AOT mode.

Using Java 8 SR5 FP27 (Jan 07, 2019 build) in AOT mode, the JIT may generate a `J9UnresolvedCallSnippet` on a resolved static method. The reason is that the AOT currently is unable to relocate direct funtion calls, ie. relocating BRASL instruction on Z means patching the instruction's binary. As a result, a call snippet is r

[2019-01-21 15:47] AdamBrousseau commented on #4258
Will close this for now. Will open another issue for AIX once we are ready to test there and we can coordinate how to set it up. Will wait for the Mac issue to resolve before installing it on the rest of them.

[2019-01-21 15:47] #4258 closed

[2019-01-21 15:49] pshipton commented on #4362
20x grinder https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/203/

[2019-01-21 15:51] pshipton commented on #4362
Not sure why the tests failed. I wonder if this is related to https://github.com/eclipse/openj9/issues/3340

[2019-01-21 15:55] fjeremic commented on #4363
@gacholio / @DanHeidinga who is most knowledgeable in this area who can help @NigelYiboYu with this crash in VM resolve code? I'm not 100% convinced there is an issue on the VM side as the JIT could be passing in bad arguments, however we do have a unit test which reproduces this 100% so it should be easy to debug if we can get some help around this code.

[2019-01-21 15:56] pshipton commented on #4092
The current test is not sufficient. With the latest changes (below), the load of jncyrpto may succeed but this doesn't indicate if the openssl support can work. We need to check via `-Djdk.nativeCryptoTrace=true`

https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/227
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/90

[2019-01-21 15:59] Mesbah-Alam commented on #4351
From https://github.com/eclipse/openj9-systemtest/blob/master/openj9.test.sharedClasses.jvmti/src/test.sharedClasses.jvmti/net/openj9/stf/SharedClassesAPI.java:

The comment describes what the test is doing.

[code]

[2019-01-21 16:01] Mesbah-Alam commented on #4351
Here are the tests that get run:

[code]

[2019-01-21 16:02] samuel-rubin commented on #4208
I am going to copy to copy the 7.3 binaries (and links so they work) to the ub16 machines on x86 and ppc64le. On ub18 for x86 and ppc64le, I am thinking of using the ubuntu repo and restricting the version to 7.3. On s390 containers and x86 centos7 container, I'm thinking of keeping the same method, but requiring the version the be 7.4. If the package updates, the docker build will fail.

[2019-01-21 16:03] gacholio commented on #4363
First step would be to debug compile the VM - if the cpIndex is way off, it'll be immediately obvious,

[2019-01-21 16:03] DanHeidinga commented on #4363
@NigelYiboYu @fjeremic Does this fail on other platforms as well?

[2019-01-21 16:04] gacholio commented on #4363
I suspect the cpIndex is wild, so the resolve code fetches nonsense for the class (which is not NULL so it's considered resolved).

[2019-01-21 16:07] pshipton commented on #4092
Looking again at the current test, it contains `expectedExceptions = UnsatisfiedLinkError.class` so I'm not sure that it tests anything.

[2019-01-21 16:10] DanHeidinga commented on #4363
https://github.com/eclipse/openj9/blob/bdffa781b114e32780a0c73e645b35e87a4e5b41/runtime/vm/resolvesupport.cpp#L256

Try running with `-Xtrace:print=j9vm.142` or formatting the tracefile from the crash to see the cpIndex

[2019-01-21 16:20] fjeremic commented on #4363
This is a Z specific issue, because the DAA optimization in question only runs on Z. Yes, @NigelYiboYu please see suggestions from Dan and GAC and let's get some more tracing posted here. Appreciate the help guys!

[2019-01-21 16:25] llxia opened #4364 "ottawa.csv cannot be parsed properly on zos"
When running tests on zos, we noticed that tests failed due to invalid jvm option:

[code]

In above case, Mode110 (-Xjit -Xgcpolicy:gencon -Xnocompressedrefs)
should not run against JDK `zos_390-64_cmprssptrs`. ottawa.csv file is correct, but we have parsing issue on zos:

[code]

[2019-01-21 16:33] Mesbah-Alam commented on #4351
There was a `,` missing in the code , added here: https://github.com/eclipse/openj9-systemtest/pull/76

Not sure if it is the root cause of the crash though.

Running a 5x Grinder in internal Jenkins on Windows with the above pull request atm.

[2019-01-21 16:38] pdbain-ibm commented on #4315
@ashbm5 any news on this issue?  Is there an issue with OpenSSL?

[2019-01-21 16:42] groeges commented on #4184
@pshipton Have done some preliminary testing on this issue and it works with HotSpot but not OpenJ9. Both JDKs were built using XLC 13.1.3, so I don't think XLC is related.
Why did you think this wasn't an OpenJ9 issue?

[2019-01-21 16:55] pdbain-ibm commented on #3940
@ben-walsh is this still occurring?

[2019-01-21 16:58] pdbain-ibm commented on #4188
@smlambert I think this can be re-enabled.

[2019-01-21 17:22] samuel-rubin commented on #4208
Jenkins Docker files:

|           | x86                   | s390x            | ppc64le               |
|-----------|-----------------------|------------------|-----------------------|
| Ubuntu16  | AdoptOpenJDK Binaries | Ubuntu toolchain | AdoptOpenJDK Binaries |
| Ubuntu18  | Ubuntu default        | Ubuntu toolchain | Ubuntu Default        |
| Centos6.9 | Centos devtoolset     | Not Available

[2019-01-21 18:00] NigelYiboYu commented on #4363
Sure. I can re-run with the suggested trace option.

I remember that the CPIndex being 70 (0x46) at AOT-Compile time and the relocation didn't touch that. It remained 70 in the vm helper:
`#2  resolveStaticMethodRef (vmStruct=0xbeb2200, ramCP=0xbff3a90, cpIndex=70, resolveFlags=32) at resolvesupport.cpp:588`

I saw the same in GDB live debug.

[2019-01-21 18:03] smlambert commented on #4092
When I initially ran this test, since the framework loads the library, this test throws ULE with message already loaded.  But as we had discussed earlier, a cmdlinetester tests that looks for correct trace msgs is better.

It sounds like the implementation has changed somewhat also, loading one thing, then later loading other stuff, so more testing is good.  I intentionally created a separate clas

[2019-01-21 18:07] gacholio commented on #4363
Perhaps index 70 doesn't represent a class.

If you have a core, use DDR to examine the ROM class.

!j9constantpool 0xbff3a90
find the ramClass field
!j9clas that
find the romClass field
!dumpromclass that

[2019-01-21 18:14] gacholio commented on #4363
You can also look at the refs directly. If this is 31 bit, RAM CP entries are 8 bytes each, as are ROM CP entries.

!j9constantpool 0xbff3a90
find the romConstantPool field
add 70*8 to the value
!j9romclassref that

For RAM, add 70*8 to 0xbff3a90 and

!j9ramclassref that

[2019-01-21 18:34] pshipton commented on #4184
@groeges Based on the user's suggested fix in the description. Plus the native (`sun/print/CUPSPrinter.initIDs()Z`)  is implemented in the extensions code.

[2019-01-21 18:46] ashbm5 commented on #4315
we found the issue, it's not an OpenSSL issue but rather our implementation was incorrect - the Message Digest object was not being reset correctly when there is a sequence of update calls to MD but no final request to generate the digest, under such conditions the object is not reset and would give incorrect results when next used.

We're working on a PR to resolve this issue for both jdk8 and jd

[2019-01-21 21:11] pdbain-ibm commented on #3789
The FP test failure is likely an artifact of compiler optimization.  I have a small test case:

[2019-01-21 21:50] NigelYiboYu commented on #4363
@gacholio Thanks for the debugging suggestions. I used DDR and found something fishy about the AOT patched CP address. Now I think I've found the problem and can fix the JIT to pass my unit test. I'll do more tests to verify my JIT fix later, and will close this issue once things are verified.

The problem is caused by the DAA optimization not setting `inlinedIndex` on BCDCHK nodes. Without correc

[2019-01-21 21:57] AidanHa commented on #2977
Hello, if I were to remove line 184, I get the following error while building the jdk:

![image](https://user-images.githubusercontent.com/33072072/51499933-29810080-1d9a-11e9-9507-da0e4e7e3045.png)

where -XX:ThreadStackSize is not recognized (and it is now not ignored by default). What action should I take from here? Should I be modifying the make file and remove -XXThreadStackSize?

[2019-01-21 22:02] pshipton commented on #4092
@llxia The jdk.nativeCryptoTrace output is as follows. We expect "using Native crypto library" for success and "Native crypto library load failed" for failure.

https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/2bf413128ab7cbe9d565cc16ffb1a1052b7bbcb2/jdk/src/share/classes/com/sun/crypto/provider/CipherCore.java#L1329

https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/2bf413128ab7cbe9d

[2019-01-21 22:08] pshipton commented on #4092
`KeyFactory.getInstance("RSA");` is sufficient to cause the pass / fail output in CipherCore. Since both cases use NativeCrypto and load a single native library, it should be sufficient to test this.

[2019-01-21 23:00] pshipton commented on #2977
Since ignoring -XX: options should be enabled by default, the build using -XX:ThreadStackSize shouldn't be a problem.

[2019-01-22 04:13] pshipton commented on #4362
The 20x grinder passed.

[2019-01-22 04:48] pshipton commented on #4323
This didn't re-occur in jdk8u202-b08 sanity.functional testing across platforms. Removing from the 0.12 milestone.

[2019-01-22 05:10] pshipton commented on #4348
Confirmed the leak is in the openssl code. Will be fixed by:
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/242
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/96

[2019-01-22 08:04] Siarhei-Yarkavy commented on #3636
I think it makes sense to wait with the release but deliver those important fixes.

[2019-01-22 08:50] avermeer commented on #3636
Hello @Siarhei-Yarkavy,

If you mean delay the 0.12.0 release until this issue is fixed, then I agree.
As soon as there is something which I can test on nightly builds, I will happily test & provide feedbacks.

Kind regards,
Alexandre

[2019-01-22 13:06] pshipton opened #4375 "Test-extended.system-JDK8-osx_x86-64_cmprssptrs SharedClassesAPI_0 Failed to set group access permission"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-osx_x86-64_cmprssptrs/40
[code]

[2019-01-22 13:06] pshipton commented on #4375
@jdekonin is there a umask on the osx machines which prevents setting group access?

[2019-01-22 13:08] pshipton commented on #4375
Also, what is the current setting for sysv shared memory?
We are still getting the following in this same test. Maybe it need to be dumped up again.
[code]

[2019-01-22 13:08] pshipton commented on #4375
@Mesbah-Alam

[2019-01-22 13:51] pshipton commented on #3340
The crashing continues, I'm not going to keep updating with new links.

[2019-01-22 14:30] Mesbah-Alam commented on #4078
Is there any update on this?

[2019-01-22 14:35] DanHeidinga commented on #3789
Good find @pdbain-ibm!  Interesting conversation on why LLVM constant folds away the (undefined behaviour) of 1/0: http://llvm.1065342.n5.nabble.com/Integer-divide-by-zero-tt56495.html

Can you find a way to preserve the meaning of the test?  Maybe change to inline assembly for clang?

[2019-01-22 14:43] DanHeidinga commented on #3789
When checking the generated assembly https://godbolt.org is a great tool for testing multiple compilers

[2019-01-22 15:02] pdbain-ibm commented on #3789
@DanHeidinga As mentioned above, dividing `10/0` forces a normal division using `idivl`.  I am testing an update to the test code now.

[2019-01-22 15:05] piyush286 opened #4377 "Liberty Startup Regressions ~2-8% All Platforms"
This issue was discovered internally at IBM and is currently being investigated. This issue is created so the problem can be exposed to the Release 0.12.0 milestone plan.

Comparing the weekend runs, startup regressions have been introduced between 20190111 and 20190118 builds.

[2019-01-22 15:35] pdbain-ibm commented on #3789
For a dividend of 1, [-1, 0, 1] get mapped to [0, 1, 2], so if `ecx` is less than 2   (unsigned comparison, so -2 and less are treated as large positive), return `divisor` as the quotient, since 1/1 = 1, 1/-1=-1. Behaviour of `1/0` is undefined, so the compiler just returns zero.

[2019-01-22 16:08] pdbain-ibm commented on #3789
Fix for missing exception: https://github.com/eclipse/openj9/pull/4380.

[2019-01-22 16:20] samuel-rubin commented on #4208
We have 2 types of Dockerfiles, Build & test and test only. For the build & test files, the default gcc is currently 4.8.5 and 7.3 is also available but it must be called explicitly. For the test only files we need to know what to install.
a) no gcc needed (all natives are compiled with the SDK)
b) exact same versions as the Build containers
c) something close is good enough (i.e. we can install 7

[2019-01-22 18:02] groeges commented on #4184
@takiguc Thanks for reporting this issue. I have done some investigation and found the problem that is causing the exception you are seeing above. As you stated this is related to the -qvisibility=hidden option that was included in the make files in OpenJDK 11 which breaks when using XLC 13.1.

The fix described in https://bugs.openjdk.java.net/browse/JDK-8214063 does resolve the issue but has onl

[2019-01-22 18:14] dmitry-ten opened #4382 "Crash when running JITaaS with SSL"
The crash happens on the server, in `SSLInputStream::Read`, inside `BIO_read(_ssl, buffer, size)`. The latter is a SSL library method.
Stacktrace below:
[code]
The crash is intermittent.
At the moment I don't know the reason for this crash. I suspected, that it could be related to not properly freeing `SSL` struct at the end of each compilation, but when I tried freeing it, I got some new crashes,

[2019-01-22 18:17] dmitry-ten commented on #4382
@mpirvu fyi

[2019-01-22 18:40] pshipton commented on #4377
Set as a blocker for the 0.12 release

[2019-01-22 18:41] dsouzai commented on #4377
https://github.com/eclipse/openj9/pull/4383 should fix this.

[2019-01-22 18:42] fjeremic opened #4384 "Improve BNDCHK evaluator on Z"
Using the following command line on Linux on Z:

[code]

We can generate a trace file with the following trees:

[code]

This sequence is suboptimal. We can combine the compare and branch into a `CLRB` instruction. Taking a look at the `BNDCHKEvaluator` on Z it also seems to be a mess. We should take this time to clean it up a  bit. A lot of the code inside looks like duplicate code which is alrea

[2019-01-22 18:43] liqunl opened #4385 "Enable Unsafe illegal write notification"
Notification is turned off in #4383. Current implementation of Unsafe illegal write notification has caused a significant regression on start up. The initial investigation shows that splitting the block and creating temps seem to have large impact on compilation time. More study is needed to understand the regression. We also need to come up with a better design to enable the notification without

[2019-01-22 18:53] jdekonin commented on #4375
[code]

Doesn't seem to be a problem.  There doesn't appear to be shared memory left by previous jobs, but the cleanup jobs delete that content every few hours now.

[2019-01-22 18:59] Mesbah-Alam commented on #4375
I believe the original reason why this issue was opened is resolved by : https://github.com/eclipse/openj9-systemtest/pull/76

There was  comma missing in front of the groupAccess option that the test was setting.

[2019-01-22 19:06] pshipton commented on #4375
@Mesbah-Alam note the tests still failed last night, which included eclipse/openj9-systemtest#76

The sysv numbers seem very exact, to allow 4 caches of 300MB each.
@Mesbah-Alam do the tests set a cache size?

[2019-01-22 19:09] Mesbah-Alam commented on #4375
@pshipton - the test does not set any cache size.

[2019-01-22 19:13] NigelYiboYu commented on #4363
Pull request to fix this bug: https://github.com/eclipse/openj9/pull/4386

[2019-01-22 19:33] hangshao0 commented on #4375
We the warning JVMSHRC756W is due to the umask 0022.
umask
0022
umask -S
u=rwx,g=rx,o=rx

Group user is not able to write to the shared cache.
However, this warning might not cause the test to fail.

I have an impression on OSX, you cannot have shared memory equal to kern.sysv.shmmax/kern.sysv.shmall, it must be less than kern.sysv.shmmax/kern.sysv.shmall. So technically this setting (1200MB) only

[2019-01-22 19:46] hangshao0 commented on #4375
I suspect SharedClassesCacheChecker.delete() failed to delete the nonpersistent cache either in default directory (user home) or under /tmp/ when "groupAccess" is used.

[2019-01-22 19:49] Mesbah-Alam commented on #4375
The non-default directory is actually somewhere under the build's workspace directory(not /tmp).

[2019-01-22 21:30] r30shah opened #4391 "Add AOT relocation support for Immediate instructions on Z"
As per discussion in https://github.com/eclipse/openj9/pull/4310, Currently on Z, whenever we are loading a constant address, we use snippet in case we are generating relocatable code. We should add relocation support in instructions which can be used to load constant address (J9Class or J9Method) from immediate field so we can have better AOT compiled body.

[2019-01-22 22:01] #4315 closed

[2019-01-22 22:02] pshipton commented on #4348
The fixes have been merged.

[2019-01-22 22:02] #4348 closed

[2019-01-22 22:18] andrewcraik commented on #4377
Fixed by #4383 we just missed the close marker in the commit/PR.

[2019-01-22 22:44] #4363 closed

[2019-01-22 22:46] hangshao0 commented on #4375
There are 2 default shared cache directories:
1. When "groupAccess" is used, the default directory is under /tmp/.
2. When "groupAccess" is not used, the default directory is under user's home.

[2019-01-22 22:49] JasonFengJ9 commented on #2302
Yeah, the test didn't pass with `OpenJ9`. (I misread the test result)

**Summary of investigation:**
1. Those `AccessControlException` are legitimate, i.e., the code within the call stack doesn't have the permission required and `OpenJ9` correctly rejected the resource access requests;
2. Adding required permissions to [test-framework.policy.txt](https://github.com/eclipse/openj9/files/2784867/tes

[2019-01-23 02:59] pshipton commented on #4375
@jdekonin can you please fix the umask and kern.sysv.shmmax/kern.sysv.shmall as per https://github.com/eclipse/openj9/issues/4375#issuecomment-456532618

[2019-01-23 03:52] pshipton commented on #4377
Reopening as the comment in #4393 indicate #4393 is also required to fix this regression.

[2019-01-23 03:54] Mesbah-Alam commented on #4375
@hangshao0,

Looking at the test code:

When non-default location is used, the cacheDir is being set to `test.env().getResultsDir().childDirectory("caches");` (which should point to a folder inside the test's execution directory, under build's workspace) - https://github.com/eclipse/openj9-systemtest/blob/6cf9420140df3a982a7af8f91153b7dc71ceefe5/openj9.test.sharedClasses.jvmti/src/test.sharedClass

[2019-01-23 05:16] ChengJin01 commented on #4193
The root cause of the issue is due to the inconsistency of the argument type between the declaration in java code and the corresponding implementation in the native code in OpenJDK11 as follows:

src/java.desktop/share/classes/sun/awt/image/GifImageDecoder.java
[code]
src/java.desktop/share/native/libawt/awt/image/gif/gifdecoder.c
[code]
Technically, this issue has nothing to do with VM (from cJNI

[2019-01-23 05:31] takiguc commented on #4184
I think AdoptOpenJDK only provides JDK11 for AIX built binary which may compiled by XLC++ 13.1.
They will provide JDK11u built binary.

[2019-01-23 05:32] DanHeidinga commented on #4193
@andrew-m-leonard can you propose a patch at OpenJDK addressing the mismatch between the java & native signatures?  Bonus points if it can be backported to JDK11

[2019-01-23 05:44] takiguc commented on #4193
@ChengJin01 , could you explain why Linux ppc64le, s390x and AIX build don't have this issue ?
I assume the situation is same as Linux amd64 build.

[2019-01-23 05:54] ChengJin01 commented on #4193
@takiguc, this entirely depends on how the target platform extends or casts from boolean (1byte) to int (e.g. 4bytes) on the native stack. Technically the argument type should be identical on both java and native from JNI perspective. Relying on the automatic cast/conversion on platforms is dangerous in such case.

[2019-01-23 06:31] bharathappali commented on #2838
@DanHeidinga As the [OpenJ9 PR #3348](https://github.com/eclipse/openj9/pull/3348#issue-223983221) makes changes to add CPU Governors to javacore with a representation [Governor - CPU's]. I would like to know your views on that representation format. Thanks

[2019-01-23 08:39] suman-mitra commented on #2302
@JasonFengJ9  Thanks !!
Do you  think we should raise a bug/issue there ?

[2019-01-23 09:21] groeges commented on #4184
@takiguc AdoptOpenJDK does provide JDK11u builds. The lastest AIX build is jdk-11.0.1+13 which is from the  JDK11u branch. There should be a new release being  made available soon, but as Oracle have not backported the fix that has gone into JDK12 this code will still not resolve your issue.

Unless the issues is a critical security issue Oracle are very reluctant to backport fixes, but rather the

[2019-01-23 13:56] andrewcraik opened #4397 "Failures running Javac for DDR_Test"
PR builds are failing regularly trying to run the DDR_Tests. Failures report a compile step failed related to javac with cryptic messages similar to:
[code]

see https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-aix_ppc-64_cmprssptrs-OpenJ9/85/console

[2019-01-23 13:58] andrewcraik commented on #4397
@DanHeidinga @pshipton FYI. @keithc-ca could this be related to any of the recent DDR changes? Not trying to place blame just trying to figure out if this is a problem with javac or a problem with DDR - any thoughts?

[2019-01-23 13:58] andrewcraik commented on #4397
FYI @0xdaryl and @liqunl due to interest on the OpenJ9 triage slack channel

[2019-01-23 14:00] DanHeidinga commented on #4397
I think I've seen it on non-DDR builds as well - looking for a link now.

[2019-01-23 15:08] keithc-ca opened #4398 "Remove unused or obsolete UMA flags"
In https://github.com/eclipse/openj9/pull/4350, I questioned setting `module_codegen_ia32` to `true` in an ARM spec. It turns out that flag and many others are unused: those should simply be removed.

[2019-01-23 15:55] mpirvu opened #4401 "Generate AOT code at JITaaS server"
This issue proposes to allow the JITaaS server to perform AOT compilations, but the AOT code is going to be stored at the client where the shared class cache resides.

A few infrastructure changes need to be implemented:
1) Extend `TR_J9ServerVM` with `TR_J9SharedCacheServerVM` and teach the new frontend how to find the relevant pieces of information remotely. This means that we have to reimplemen

[2019-01-23 16:24] cathyzhyi commented on #3340
Still can't reproduce locally but managed to reproduce on grinder with help from test team and the failure rate is quite high.
I still can't manage to pass jit option to grinder to get a tracing log though. Tried to add `-Xjit:{net/openj9/test/arithmetics/TestArithmeticOperations.testMultiplyPackedDecimal()V}(log=log,tracefull)` to grinder with both double quote and single quote but neither worked

[2019-01-23 16:26] JasonFengJ9 commented on #2302
@suman-mitra it would be nice to let dev/user know that the `Elasticsearch` can run with `OpenJ9` with workaround mentioned https://github.com/eclipse/openj9/issues/2302#issuecomment-456593803, and adding check for `OpenJ9 JVM` are recommended.

[2019-01-23 16:38] DanHeidinga commented on #4277
@0dvictor What's the current status of this item?  Its one of the few remaining 0.12.0 items

[2019-01-23 16:39] DanHeidinga commented on #3340
@cathyzhyi Can you pass that option using the `OPENJ9_JAVA_OPTIONS` env variable?

[2019-01-23 16:44] cathyzhyi commented on #3340
@DanHeidinga which field in the grinder page can I pass the env variable? I am using the internal grinder page.

[2019-01-23 16:51] pdbain-ibm commented on #4084
Running liberty* with OpenJDK needs 275-280 simultaneous file handles (determined via `ulimit -n <limit>` and parsing the output of `strace -f -e trace=file -e trace=desc`.  OpenJ9 needs ~290.
Note that OpenJDK (but not OpenJ9) overrides the soft limit:
[code]
so `ulimit -Sn` has no effect.

At steady state, both processes had roughly the same number of files (~148) open. The majority of the files

[2019-01-23 16:52] 0dvictor commented on #4277
I believe @hzongaro is working on this issue. It is still under investigation.

[2019-01-23 17:20] Mesbah-Alam commented on #4375
Hi @jdekonin,

We ran a grinder with the SharedClassesAPI test at Adopt: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/896/tapResults/

It ran on ` macos1010-x64-1: {ip: 74.80.250.151, user: admin}` , and failed with following:

[code]

Checking inside the machine, we found that it does not contain ` /etc/sysctl.conf` file.

Is it because the osx test machines at Adopt are not configur

[2019-01-23 17:24] ashu-mehra commented on #4084
These two:
[code]
should go away after https://github.com/eclipse/omr/pull/3497 is merged.

[2019-01-23 17:48] pdbain-ibm opened #4407 "Override soft file limit to match reference implementation"
OpenJDK calls `setrlimit` to increase the limit on open files.
Update OpenJ9 initialization code to match.  This resolves issues with applications
which hold many files open simultaneously.  See
https://github.com/eclipse/openj9/issues/4084#issuecomment-456878553

On Linux, AIX, z/OS, and MacOS, the system calls are `getrlimit` and `setrlimit`.
Windows TBD.

[2019-01-23 18:06] pdbain-ibm commented on #3180
Boiled it down to a simple test case:
[code]

[2019-01-23 18:11] kwsutter commented on #4084
FYI...  Setting a larger Soft limit actually helped with the sample that @pdbain-ibm posted above.  At least in my environment, it did...  By default, my macbook pro has a Soft limit of 256.  But, when I set the limit to 1024 via ```ulimit -Sn 1024```, the example started to work just fine.  All of that was with OpenJ9.  If I used Hotspot, I had no issues even when the Soft limit was set at the de

[2019-01-23 18:20] pdbain-ibm commented on #4407
Use `omrsysinfo_get_limit` and `omrsysinfo_set_limit`.  This issue is not applicable to Windows.

[2019-01-23 19:37] mpirvu commented on #4205
Summary of SPECjbb2005 experiments so far:

[code]

The biggest impact is from IprofilerPersistence. After disabled that, the methods that get AOTed do not have enough IProfiler info because of the low invocation count (scount=20 for AOT loads). Increasing scount to 1000 makes the throughput improve by ~5%. Everything else I tried after this point had a negligible effect on throughput (Note that t

[2019-01-23 19:43] keithc-ca commented on #4397
Yes, I think the test code is being compiled with the brand new JDK. I agree it's serious if javac in that JDK doesn't work.

[2019-01-23 19:47] breun opened #4410 "libjncrypto.dylib references /usr/local/lib/libcrypto.1.1.dylib"
I'm the package maintainer for AdoptOpenJDK packages in MacPorts and I'm trying to package AdoptOpenJDK 8u202 with OpenJ9 for Mac from https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=openj9#x64_mac. Upon package installation MacPorts checks all libraries and gives me this error:

[code]

It indeed seems `Contents/Home/jre/lib/libjncrypto.dylib` is referencing `/usr/local/lib/lib

[2019-01-23 20:23] pshipton commented on #4410
This is a duplicate of https://github.com/ibmruntimes/openj9-openjdk-jdk11/issues/98

[2019-01-23 20:37] pshipton opened #4413 "Can't start jdk11 windows compile"
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/100

[2019-01-23 20:37] pshipton commented on #4413
@jdekonin @AdamBrousseau

[2019-01-23 20:37] mpirvu commented on #4401
Will need to look into `classChain = fej9->sharedCache()->rememberClass(definingClass);`

[2019-01-23 21:40] yanluo7 commented on #4138
I have been trying a number of different options to try and coax a trace log from the run. What makes it difficult is the testcase tries to run javac on a number of very small Java source file, so the javac finishes very quickly, and the chance of generating the bad method before the javac finishes is really low. So far a few different options have been tried.
 `-Xaot:forceAOT,initialOptLevel=warm

[2019-01-23 21:42] smlambert commented on #4092
Fixed by #4376 added test excluded label to find this issue later and enable for win/osx/aix

[2019-01-23 21:42] #4092 closed

[2019-01-23 22:06] cathyzhyi commented on #3340
Managed to pass jit tracing option to grinder but test stops failing with tracefull. Need to look at passing log but I don't know where do we keep test results for passing runs. @Mesbah-Alam @llxia Do you have any idea?

[2019-01-23 22:23] pshipton commented on #4323
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le/437
[code]

[2019-01-23 22:31] AdamBrousseau commented on #4413
Should be resolved

[2019-01-23 22:37] pshipton commented on #4413
thanks

[2019-01-23 22:37] #4413 closed

[2019-01-23 22:42] pshipton commented on #4377
#4393 and #4405 are merged.

[2019-01-23 22:42] #4377 closed

[2019-01-23 23:06] ChengJin01 commented on #4193
I am double-checking the related FFI code on X86 (UNIX-based) to see whether we can figure out a way around the issue against the VM Spec.

[2019-01-24 00:53] babsingh opened #4419 "Re-enable protectedWriteThreadsWithNativeStacks on OSX"
`protectedWriteThreadsWithNativeStacks` should be re-enabled on OSX once the **omrintrospect** library is properly supported on OSX. In https://github.com/eclipse/omr/issues/3507, **Task 1** (https://github.com/eclipse/omr/pull/3478) and **Task 2** (https://github.com/eclipse/omr/issues/3505) should be finished before re-enabling `protectedWriteThreadsWithNativeStacks` on OSX.

`protectedWriteThre

[2019-01-24 00:54] babsingh commented on #4419
fyi @DanHeidinga @pshipton

[2019-01-24 03:07] #3789 closed

[2019-01-24 09:40] groeges commented on #4184
Backport to jdk11u has been approved have been pushed to the jdk11u branch.
https://bugs.openjdk.java.net/browse/JDK-8217711
http://hg.openjdk.java.net/jdk-updates/jdk11u/rev/e746d3e28aae
This should resolve the issue when the latest merge has been done.

[2019-01-24 12:15] pshipton opened #4425 "Test-extended.functional-JDK8-linux_ppc-64_cmprssptrs_le testSCCMLTests6_1 cache not full"
Looks like a test problem and we are just getting unlucky.

https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_ppc-64_cmprssptrs_le/203
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_ppc-64_cmprssptrs_le/204
[code]

[2019-01-24 12:15] pshipton commented on #4425
@hangshao0

[2019-01-24 12:16] SueChaplain commented on #3636
I've added the doc:externals label as the addition of RSA support needs to be included in the user documentation. @vij-singh - please have someone open an issue at openj9-docs with the content we need: https://github.com/eclipse/openj9-docs/issues/new?template=new-documentation-change.md

I'll need to know whether it is enabled by default as per the other algorithms, and whether there will be a ne

[2019-01-24 12:17] pshipton opened #4426 "Test-extended.functional-JDK11-linux_390-64_cmprssptrs VmArgumentTests_0 testMemoryLeaks"
This occurred testing the 0.12 release branch.

https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_390-64_cmprssptrs/147
[code]

[2019-01-24 12:22] pshipton commented on #4426
5x grinder https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/240/

[2019-01-24 12:43] pshipton commented on #4397
I think we found the culprit
https://github.com/eclipse/openj9/pull/4017

[2019-01-24 12:59] pshipton commented on #4426
Grinder passed, removing from 0.12 milestone plan.

[2019-01-24 13:10] pshipton commented on #3636
Thanks @SueChaplain. I've created https://github.com/eclipse/openj9-docs/issues/201

[2019-01-24 13:31] pdbain-ibm commented on #4315
@ben-walsh would you kindly retest?
I ran successfully with the latest nightly build:
[code]

[2019-01-24 13:43] llxia commented on #3340
We only archive test results if the test fails. I updated my personal branch to archive test results regardless. For now, please use my personal branch for debugging.
https://github.com/llxia/openjdk-tests/tree/test6

If this feature is important for debugging, maybe we should add it.

[2019-01-24 13:57] pshipton commented on #3340
Seems a grinder option to enable it would be useful.

[2019-01-24 14:16] hzongaro commented on #4277
I am able to reproduce this failure reliably on a Windows VM running with this option:
[code]

If I remove `awaitJoin` from the list of methods, it runs successfully.  The optimization referenced by `lastOptIndex=3` is `recognizedCallTransformer` in this case.

Interestingly enough, `awaitJoin` does not appear to be compiled successfully.  From a verbose log, we see this:

[code]

From the `traceF

[2019-01-24 14:32] llxia commented on #3340
Issue created: https://github.com/AdoptOpenJDK/openjdk-tests/issues/829

[2019-01-24 14:53] ben-walsh commented on #4315
Sure, no problem. I've kicked off this job - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/904.

[2019-01-24 14:55] ben-walsh commented on #4315
Sure, no problem. I've kicked off this job - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/905.

[2019-01-24 15:23] DanHeidinga commented on #4410
@breun Thanks for reporting this.

[2019-01-24 15:59] dsouzai commented on #4401
It might almost be worth extending the shared cache object to make a network call.

[2019-01-24 17:05] DanHeidinga commented on #4397
@pshipton Is this fixed now that #4017 has been merged?  If so we should close it out.

[2019-01-24 17:08] AdamBrousseau commented on #4397
No, 4017 is what caused this issue. I am still determining why though. I would like to figure it out so we can get in a fix rather than simply reverting the change.

[2019-01-24 17:14] DanHeidinga commented on #4397
@AdamBrousseau What's the downside of reverting now and re-introducing the change later?  Currently PR builds are broken which affects all PRs.

[2019-01-24 18:14] pshipton opened #4433 "Add Pipeline support to include ADOPTOPENJDK_REPO and ADOPTOPENJDK_BRANCH"
@llxia suggested it needs to be done here
https://github.com/eclipse/openj9/blob/0b5606dbd2c3a4119530e6182173d09b86d4d51c/buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All#L188

I expect we might need this fairly soon, as the AdoptOpenJDK test material might change and become incompatible with the 0.12 release builds.

[2019-01-24 18:15] pshipton commented on #4433
@jdekonin something for your next iteration plan
@AdamBrousseau

[2019-01-24 19:00] #4337 closed

[2019-01-24 19:17] pshipton opened #4436 "Cannot create shared cache in home directory"
Julian said:

I am trying to test jan-04 openj9 java8 build.  but i ran into:
[code]
that `/home//` indicated the error, but i have:
[code]

[2019-01-24 19:17] pshipton commented on #4436
@hangshao0

[2019-01-24 19:36] hangshao0 commented on #4436
Might be worth running with -Xtrace:print={j9prt.1636,j9prt.1637}

[2019-01-24 19:44] #4397 closed

[2019-01-24 19:56] hangshao0 commented on #4436
@zl-wang

[2019-01-24 20:23] jdekonin opened #4441 "Eclipse OpenJ9 AWX server install"
@samuel-rubin, can you please install the latest AWX?  Machine details to be provided directly.

Related #4221

[2019-01-24 20:46] samuel-rubin commented on #4441
I installed AWX on the machine. I am now investigating how to authenticate users.

[2019-01-24 20:48] ChengJin01 commented on #4193
Further investigation on the FFI code (X86) shows the problem was caused by the aligned memory without initialization before copying arguments the native stack as follows:
/runtime/libffi/x86/ffi64.c
[code]
So it means all arguments on the stack are aligned at 8 bytes  (already verify the address of argp)

e.g. if the current stack pointer **argp** stores the boolean value (1 byte) at  0x28117640,

[2019-01-24 20:54] ChengJin01 commented on #4193
Technically there are two solutions to the issue:
[1] initialize the stack memory before copying the arguments
[code]
The idea is to ensure there is no garbage data introduced in casting short-size types to long-size types (e.g. from boolean to int)

[2019-01-24 21:01] pdbain-ibm commented on #4315
Great.  All passed.
@smlambert Please re-enable the test.
Thank you.

[2019-01-24 21:06] ChengJin01 commented on #4193
[2] replace the FFI type of boolean (1 byte) to with the FFI type of int (4 bytes)

The idea is based on the VM Spec which says:
[code]
From VM Spec perspective, the int type for boolean in the native is acceptable.
If so, we can change the FFI type of boolean as follows to ensure it can be safely & correctly casted to both jint (4types) and jboolean (1byte), whatever the target platform is.

[cod

[2019-01-24 21:11] ChengJin01 commented on #4193
The only difference is that solution [1] only focuses on X86 on which the issue was originally detected and has no impact on other platform, while solution [2] affects all platforms.

So we can choose one from these solutions above to fix the issue on our side if Oracle insists on the jint type.

@DanHeidinga,  any preference on the solutions above?

[2019-01-24 21:26] pshipton commented on #3636
Fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/100 and https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/103.

I won't close this until the jdk8 changes are delivered as well.

[2019-01-24 23:47] AdamBrousseau opened #4443 "Determine how to test pipeline code changes in a PR build using "pipeline of jobs" flow"
related #2728

[2019-01-25 00:00] jdekonin commented on #4375
umask has been set to 0002 and sysctl.conf, with @hangshao0 suggestion, to
kern.sysv.shmmax=125839605760
kern.sysv.shmall=30722560

These changes have been applied to all openj9 ci osx systems.  fyi @sxa555 settings required to existing adopt osx machines.  I have updated https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/212 with updated requirement to the playbook.

[2019-01-25 00:10] AdamBrousseau commented on #2728
Summarizing here since the PR is pretty messy at this point. I have booked a meeting next week to discuss this. Hopefully we can get this resolved soon.

#### Advantages
- Use Adopt Test Pipelines
   - No longer maintain our own test pipeline scripts
- Align with the same build & test story as our nightly, omr and personal builds.
- Allows for SVT and other testing in PRs (JitaaS etc)
- Reduced ma

[2019-01-25 02:10] #4425 closed

[2019-01-25 02:21] mpirvu opened #4445 "JITaaS stream failure when compiling at hot"
I attempted to run AcmeAir with JITaaS and -Xjit:initialOptLevel=hot. The benchmarks fails to run and the vlogs show the following:
Client:
[code]
Server:
[code]
After this the client stops sending and new compilation requests and the application throws exceptions. Ideally the server should have closed the socket so that the client can interrupt its waiting and retry

[2019-01-25 04:40] dsouzai commented on #4401
It might be worth updating the jitaas branch before doing a bunch of work implementing the sharedvm queries. For example:

[code]
(https://github.com/eclipse/openj9/pull/4406/files#diff-770fc7473e17fd36db57f82532b90d82R1510)

has been changed to
https://github.com/eclipse/openj9/blob/fc206904ce524f8575628a8d9a217bf6c1548066/runtime/compiler/env/VMJ9.cpp#L8597-L8601

[2019-01-25 04:43] dsouzai commented on #4401
Given the remaining PRs in https://github.com/eclipse/openj9/issues/3752 there might be additional changes to the frontend queries (though @jdmpapin can confirm that).

[2019-01-25 05:34] pshipton opened #4446 "Test-extended.system-JDK11-linux_x86-64 SharedClasses.SCM01.MultiThreadMultiCL_0 crash"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64/150
[code]

[2019-01-25 05:37] pshipton commented on #4446
15x grinder https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/246/

[2019-01-25 11:34] ben-walsh commented on #4128
Occurred again ...
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_macos/154/testReport/junit/java_nio_channels_DatagramChannel_Promiscuous/java/Promiscuous
[code]

[2019-01-25 12:35] pshipton commented on #4375
Now we are getting a different error.

https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/88
osx1011-x86-2
[code]

[2019-01-25 12:42] pshipton opened #4448 "Test-extended.system-JDK8-linux_390-64_cmprssptrs SharedClassesWorkload_0 Misaligned object"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/171
[code]

[2019-01-25 13:07] pshipton commented on #4446
Another 15x grinder https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/248/

[2019-01-25 13:20] pdbain-ibm commented on #3180
Simpler test case suggested by @DanHeidinga
[code]
With Hotspot:
[code]
With OpenJ9:
[code]

[2019-01-25 13:43] pdbain-ibm commented on #4084
Now OpenJ9 opens _fewer_ files.
Tested with:
_openjdk version "11.0.2-internal" 2018-10-16
OpenJDK Runtime Environment (build 11.0.2-internal+0-adhoc.pdbain.openj9-openjdk-jdk11)
Eclipse OpenJ9 VM (build cleanup-ab9bc1883, JRE 11 Mac OS X amd64-64-Bit Compressed References 20190124_000000 (JIT enabled, AOT enabled)
OpenJ9   - ab9bc1883
OMR      - 7e6db886
JCL      - 007fb48620 based on jdk-11.0.2+

[2019-01-25 13:46] DanHeidinga commented on #4448
fyi @fjeremic

[2019-01-25 13:48] DanHeidinga commented on #4446
fyi @andrewcraik - note this occurred on the 0.12.0 release branch

[2019-01-25 13:54] DanHeidinga commented on #3180
Likely fixable by passing the name to the VarHandleInvoker constructor: https://github.com/eclipse/openj9/blob/fc206904ce524f8575628a8d9a217bf6c1548066/jcl/src/java.base/share/classes/java/lang/invoke/VarHandleInvokeHandle.java#L40

[2019-01-25 14:44] DanHeidinga commented on #4398
Given the plan to migrate to cmake, I don't think it's worth spending time cleaning up the UMA flags.  The unused ones will naturally die off in the migration.

[2019-01-25 14:45] DanHeidinga commented on #4398
Link to the cmake migration plan: https://github.com/eclipse/openj9/issues/90

[2019-01-25 14:45] #4398 closed

[2019-01-25 15:40] andrewcraik commented on #4446
@jdmpapin can you take a look please?

[2019-01-25 15:46] jdekonin commented on #2728
Additional follow up improvements
- I discussed with @charliegracie a request for increasing the throughput at UNB.  its believed we have a 100MB line
- log improvements within the test pipelines; maybe not keep any logs from a passing run with an option to control

[2019-01-25 15:56] hangshao0 commented on #4375
It still complains about SHMMAX @jdekonin

[2019-01-25 16:02] takiguc commented on #4184
@groeges Thanks.
I tested the latest jdk11u code for 11.0.3 (maybe).
I mean the fix is not integrated into 11.0.2.

[2019-01-25 16:34] andrewcraik opened #4453 "Clean-up compressed refs generation in the JIT IL Generator"
Currently the JIT IL generator generates compressedRefs anchors when running a 64bit JVM in a configuration that uses compressed references to store heap pointers in 32bits rather than 64bit in heap objects. The anchor nodes were originally needed during il generation and optimization to support non-zero heap bases - eg having to add a constant offset to heap pointers. Support for this mode was re

[2019-01-25 16:36] andrewcraik commented on #4453
The first part of this item will be to look in the ilgen directory of OpenJ9 and identify the code that generates compressedRef anchors - primarily Walker.cpp. The anchor will need to be cleaned up and, where necessary, treetop anchors added to preserve the order of evaluation if necessary. Once the generation has been cleaned up we will need to run functional and performance testing to ensure the

[2019-01-25 16:37] andrewcraik commented on #4453
@vesuppi you mentioned on the OpenJ9 slack that you were interested in this one so I'm mentioning you here

[2019-01-25 16:37] pshipton commented on #4446
As this didn't re-occur in the 30x grinders, removing from the 0.12 milestone.

[2019-01-25 16:39] vesuppi commented on #4453
Hi Andrew, thanks for the mentioning. Yes I am looking at it.

[2019-01-25 16:39] andrewcraik commented on #4453
FYI @liqunl and @cathyzhyi

[2019-01-25 16:52] tajila commented on #4127
I ran the test manually on ppcle and it passed, so my guess right now is that it might be a config or setup issue

[2019-01-25 18:57] DanHeidinga commented on #3611
@fengxue-IS Any update on this?

[2019-01-25 19:01] pdbain-ibm opened #4459 "Test for Provide method name when constructing VarHandleInvokeHandle"
Add test case for https://github.com/eclipse/openj9/pull/4458 and https://github.com/eclipse/openj9/issues/3180.

Add MethodHandleInfo tests for all the VarHandle APIs  similar to https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/test/functional/Java8andUp/src/org/openj9/test/java/lang/invoke/Test_MethodHandleInfo.java but applicable to Java 11+.

[2019-01-25 19:01] dmitry-ten commented on #4445
I'll look into it

[2019-01-25 19:11] pshipton commented on #4375
@jdekonin it seems the shmmax/shmall changes to the machines https://github.com/eclipse/openj9/issues/4375#issuecomment-457404539 are also blocking OMR acceptance builds.
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/90/
[code]

[2019-01-25 19:15] pdbain-ibm commented on #3180
This needs a test case: https://github.com/eclipse/openj9/issues/4459.

[2019-01-25 19:41] AdamBrousseau commented on #4375
Typo in config file. Rebooting now

[2019-01-25 20:33] ChengJin01 commented on #4193
I've created a simple test to verify the assumption above to see whether how it goes with a passed-in int value in the case of the boolean argument in the native (the .class file was generated via ASM as javac refuses to convert int to boolean in the code level)
[jnibooltest.zip](https://github.com/eclipse/openj9/files/2797763/jnibooltest.zip)
snippet of JniBoolArgTest.class
[code]
JniBoolArgTest.

[2019-01-25 20:52] DanHeidinga commented on #4193
https://github.com/eclipse/openj9/blob/c6fc7baec315198dd5f31501c6c9a0de453aa3a9/runtime/include/jni.h#L71

indicates that JNI code processing booleans should only ever read a char's worth of data so uint8 is correct.

Given this bug though, I'm leaning towards the solution in https://github.com/eclipse/openj9/issues/4193#issuecomment-457356547 but using `ffi_type_uint32`rather than a signed one.

[2019-01-25 21:10] JasonFengJ9 opened #4462 "Test-sanity.functional-JDK8-linux_390-64_cmprssptrs Floating point error at Compiled_method=sun/reflect/generics/parser/SignatureParser.current()C"
OMR acceptance build
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-linux_390-64_cmprssptrs/653/tapResults/

[code]

A few more in the job output, could JIT team investigate?

[2019-01-25 21:20] pshipton commented on #4462
@fjeremic

[2019-01-25 21:40] JasonFengJ9 opened #4464 "Test-sanity.system-JDK8-osx_x86-64_cmprssptrs MauveSingleThreadLoadTest_0 **POSSIBLE HANG DETECTED**"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-osx_x86-64_cmprssptrs/44/tapResults/

[code]

Similar failure reported before:
https://github.com/eclipse/openj9/issues/4064 (Dec. 14, 2018) - LambdaLoadTest
https://github.com/eclipse/openj9/issues/4091 (Dec. 18, 2018) - MauveMultiThreadLoadTest_0

[2019-01-25 21:53] pshipton commented on #4064
Haven't seen this lately, closing and can reopen if it is seen again.

[2019-01-25 21:53] #4064 closed

[2019-01-25 22:00] ChengJin01 commented on #4193
Already confirm **ffi_type_uint32** fixes the issue with  GIF images
../jdk/bin/java -jar SwingSet2.jar
![image](https://user-images.githubusercontent.com/18036229/51775021-526b0380-20c2-11e9-8fb7-8c6bdde1e068.png)

But it still failed at the JniBoolArgTest as follows:
[code]
The result above is correct as the issue with GIF image and the byte conversion are two different cases which need to be ad

[2019-01-26 03:27] iver3on opened #4465 "windows10&openj9-jdk8??JVM_EnqueueOperation() stubbed"
![image](https://user-images.githubusercontent.com/12184988/51782060-4da75d80-215d-11e9-9449-0e424c3c5d07.png)
what's wrong???!!!

[2019-01-26 13:53] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/211
5.LT2.stderr
[code]

[2019-01-26 17:42] mipastgt opened #4466 "Files with umlauts don't exist for J9"
I just stumbled over an issue with J9 on my Mac (10.13.4 HighSierra). I used the download OpenJDK11U-jdk_x64_mac_openj9_jdk-11.0.1_13_openj9-0.11.0_11.0.1_13.tar.gz from AdoptOpenJDK.
When testing one of my programs I realized that with J9 I could not open any files which contain german umlauts, e.g., a file named "tüst.txt" whereas a file named "test.txt" opens without problem. I have attached a

[2019-01-27 03:12] mpirvu opened #4467 "Implement a versioning scheme for JITaaS"
The JITaaS client should not be allowed to connect to an incompatible JITaaS server, thus we need to keep some version information: major.minor.patch.
For compatibility, the 'major' and 'minor' number should be the same, while the 'patch' number can be different.
Every time when we deliver some changes that break the compatibility, the 'minor' number should be incremented.

[2019-01-27 22:44] pshipton opened #4469 "Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le testSCCMLTests1_openj9_1 Character data ended prematurely"
Noticed this in the 0.12 release testing.

https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le/450
[code]

[2019-01-27 22:46] pshipton opened #4470 "Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le UnsafeTests_0 crash Compiled_method=org/openj9/test/unsafe/UnsafeTestBase.testGetInt"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le/450
[code]

[2019-01-27 22:48] pshipton commented on #4470
@gita-omr @andrewcraik

[2019-01-27 22:48] pshipton commented on #4470
10x grinder on same JVM https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/249/

[2019-01-27 23:02] pshipton commented on #4470
50x grinder https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/250/

[2019-01-27 23:56] pshipton commented on #4470
60x grinders passed, removing from 0.12 milestone

[2019-01-28 00:11] pshipton commented on #4410
Fixed in the head stream by ibmruntimes/openj9-openjdk-jdk8#244 and ibmruntimes/openj9-openjdk-jdk11#102.

In the 0.12 release branch jdk8 still pending, and ibmruntimes/openj9-openjdk-jdk11#105.

[2019-01-28 04:07] harryyu1994 commented on #4401
After added some initial setup code for `TR_J9SharedCacheServerVM`, the first issue I hit is due to wrong `TR_RelocationRuntime` at the server side. Going to create a `TR_SharedCacheJITaaSRelocationRuntime` class next and add dummy definitions with assert.

[2019-01-28 04:13] harryyu1994 commented on #4401
Do we want to have shared class cache stored at both client and server side or just the client side?

[2019-01-28 04:38] #4410 closed

[2019-01-28 12:11] AidanHa commented on #2837
Hello, will be looking into this Issue.

[2019-01-28 14:04] pdbain-ibm commented on #3789
@llxia would you please re-enable this test?
Thank you.

[2019-01-28 14:10] andrewcraik commented on #3340
@cathyzhyi any update - this is still a 0.12 release blocker so we need to try and figure out the impact and if it is truly release blocking and what we might do about it.

[2019-01-28 14:18] mpirvu commented on #4050
@ashu-mehra Ashutosh, are you planning to add LXC support in the near future? If so, could you please provide a rough estimate of the timeline? Thanks

[2019-01-28 14:59] pshipton commented on #4465
This error means that an OpenJDK+Hotspot / Oracle JVM is attempting to use Attach API to connect to an OpenJ9 VM. This is not supported.

[2019-01-28 15:01] pshipton commented on #4465
We could update the assertion error message with a description of the problem, rather than "JVM_EnqueueOperation() stubbed!".

[2019-01-28 15:03] pshipton commented on #4462
Note the blocker status indicates this problem is blocking OMR acceptance.

[2019-01-28 15:17] #4250 closed

[2019-01-28 15:26] samuel-rubin commented on #4441
The machine is set up and I sent you the login credentials privately.

[2019-01-28 15:27] ben-walsh opened #4473 "JTReg test fail - Windows : java/nio/Buffer/DirectBufferAllocTest.java"
Regression observed with the 11.0.2 RC1 build ...

Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/nio/Buffer/DirectBufferAllocTest.java is failing intermittently with the following ...

[code]

A 100x run showed a 20% failure rate - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/915.

A 100x run with -Xint showed a 23% failure rate - https://ci.adopto

[2019-01-28 15:36] cathyzhyi commented on #3340
The false transformation is done by inliner which somehow didn't put the call in the slow path block. I still need to add more tracing to figure out the problem.

[2019-01-28 15:37] llxia commented on #3789
The test is re-enabled in PR https://github.com/eclipse/openj9/pull/4402 and it is running https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/96/tapResults/

I am going to remove `test excluded` tag.

[2019-01-28 16:06] samuel-rubin commented on #4208
I can compile system tests in my test only docker image without gcc.

[2019-01-28 16:32] pshipton commented on #4473
Not sure this is a release blocker, but I have added it to the 0.12 milestone for now.
@ben-walsh does this test pass reliably on the 0.11 release build? i.e. is it really a regression?

@DanHeidinga

@pdbain-ibm can you please take a look.

[2019-01-28 16:43] fjeremic commented on #4462
Taking a look at [1] we can see the SHA difference between the first failing (build 1120) builds and the last passing builds (build 1119) is [2]. The diff shows only a single change in OMR, and taking a look at the corresponding PR eclipse/omr#3509 we can clearly see this is an S390 only change which modified the behavior of OMR functions.

Taking a look at the latest failure in [3] and the errors

[2019-01-28 16:53] AdamBrousseau commented on #4433
Is there some background here?
I'm wondering if we can simply add the params and generally always/usually pull master or if we need to "lock" to a version/branch (like we do for OMR).

[2019-01-28 16:53] fengxue-IS commented on #3611
Read through the documentation for `madvise` with `MADV_HUGEPAGE`. Looking into GC code for locations to implement the call so only large memory mappings will be considered for promotion.

Discussed with @LinHu2016 on how GC manages heap initialization.

Continuing to investigate/test impact of adding madvise call

[2019-01-28 16:53] pdbain-ibm commented on #4473
Will do.

[2019-01-28 16:54] ben-walsh commented on #4473
@pshipton

I meant regression compared to the nightly builds. I have kicked off https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/927 to get a data point to compare against previous release.

Having looked with Andrew L at what added the relevant code to Bits.java (https://bugs.openjdk.java.net/browse/JDK-6857566), the slower the test machine, the more likely the OOM will get triggered dur

[2019-01-28 16:54] gacholio commented on #4470
Possibly recent Unsafe changes from @liqunl

[2019-01-28 16:54] hangshao0 commented on #4375
Test-extended.system-JDK8-osx_x86-64_cmprssptrs SharedClassesAPI_0 is now passing:
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-osx_x86-64_cmprssptrs/

[2019-01-28 16:54] keithc-ca commented on #4462
@fjeremic Please explain what you believe is wrong with the change in https://github.com/eclipse/omr/pull/3509 to support your suggestion to revert it.

[2019-01-28 17:03] dmitripivkine opened #4475 "SoftmxAdvanceTest and Disclaim Memory"
Currently we have intermittent failures with test https://github.com/eclipse/openj9/blob/master/test/functional/JLM_Tests/src/j9vm/test/softmx/SoftmxAdvanceTest.java
The reason for them that test assumes that if application release some memory it can be seen in OS free  eventually. Unfortunately it is not true in general case.

The original test idea was to check GC reaction to -Xsoftmx command se

[2019-01-28 17:09] jdmpapin commented on #4446
The crash is in `dispatchDirectMethod` (which is used for nestmates private `invokevirtual` and `invokeinterface`):

    2XHREGISTER      RIP: 00007F4559F52905

    (gdb) info symbol 0x00007F4559F52905
    dispatchDirectMethod + 5 in section .text of [...]/default/libj9jit29.so

    (gdb) disas dispatchDirectMethod
    Dump of assembler code for function dispatchDirectMethod:
       0x00007f4559f5

[2019-01-28 17:11] keithc-ca commented on #4462
Where does the JIT use the OMR API that was modified? I'd like to understand the data flow.

[2019-01-28 17:16] fjeremic commented on #4462
Yeah trying to understand that as well.

[2019-01-28 17:19] mpirvu opened #4476 "Allow multiple hot compilations in parallel in JITaaS mode"
The heuristics in the JIT don't allow multiple expensive compilation to be performed in parallel to avoid increasing the peak footprint too much. This is controlled by an option which defines what an expensive compilation is: `-Xjit:expensiveCompWeight=`
The default value is set such that hot, scorching and JSR292 compilations are considered expensive.
However, in JITaaS world such compilation are

[2019-01-28 17:21] keithc-ca commented on #4462
I think the problem is in `openj9/runtime/compiler/runtime/SignalHandler.c` which expects `FPC` to be `J9PORT_SIG_VALUE_ADDRESS`:
[code]
I'm working on a fix.

[2019-01-28 17:23] fjeremic commented on #4462
Got it. So here is what happens. OpenJ9 calls the OMR API `omrsig_info` via a table:

https://github.com/eclipse/openj9/blob/b0028d77d5073571cf2e843c392ead5169fb6bfa/runtime/oti/j9port_generated.h#L790

Then the JIT calls it here in the S390 signal handler:

https://github.com/eclipse/openj9/blob/b0028d77d5073571cf2e843c392ead5169fb6bfa/runtime/compiler/runtime/SignalHandler.c#L937-L939

Which use

[2019-01-28 17:31] pdbain-ibm commented on #4473
@ben-walsh could you please also test with `-Xgcpolicy:optthruput` -`-verbose:gc`?

@dmitripivkine would you kindly review this?

Looking at the log file, we see: `run main/othervm -XX:MaxDirectMemorySize=128m DirectBufferAllocTest`, `Allocating direct ByteBuffers with capacity 1048576 bytes, using 8 threads for 5 seconds`.  We will exhaust the pool after 128 allocations, or 16 allocations per thr

[2019-01-28 17:43] fjeremic commented on #4448
@r30shah FYI another AOT issue. Seems to happen at teardown. Can you take a look at this one as well?

[2019-01-28 17:53] dmitripivkine commented on #4473
DBB uses object Finalization to release memory (needs to run sun.misc.Cleaner). If Finalizer thread(s) can not be executed fast/often enough the Native OOM possible

[2019-01-28 17:58] ben-walsh commented on #4473
Kicked off https://ci.adoptopenjdk.net/view/work in progress/job/SXA-BenWalsh-Grinder/18 with the requested `-Xgcpolicy:optthruput --verbose:gc`

[2019-01-28 18:22] liqunl commented on #4470
I can take a look. @pshipton @smlambert How can I get the JDK and core file from this job?

[2019-01-28 19:42] pshipton commented on #4470
@liqunl there are no test results (core file), as the test did not finish but "hung" and was shut down by a timeout.

The build is here, linked from the parent job https://ci.eclipse.org/openj9/job/Build-JDK11-linux_ppc-64_cmprssptrs_le/486/artifact/OpenJ9-JDK11-linux_ppc-64_cmprssptrs_le-20190127-011027.tar.gz
As the build was created on Ubuntu 16, it will only run on Ubuntu 16 or 18.

You can tr

[2019-01-28 20:07] jdmpapin commented on #4446
The AMD64 manual volume 2 section 7.3.2 (Access Atomicity) guarantees the atomicity of 64-bit accesses only when they are naturally aligned (with smaller unaligned accesses remaining atomic as long as they don't cross an 8-byte boundary). According to @andrewcraik, in order to meet this requirement the x86 code generator always prevents patchable regions of code from crossing an 8-byte boundary, e

[2019-01-28 20:32] #4375 closed

[2019-01-28 20:36] pshipton commented on #4433
We may need to pull a specific version (branch, tag, sha) of the AdoptOpenJDK test material for an OpenJ9 release branch. This would occur when the test material changes in some way incompatible with the release. Apparently such a thing is going to occur soon, @llxia can provide more details, although hopefully not before the 0.12 release ships, or until we can accommodate specifying a particular

[2019-01-28 20:37] pshipton commented on #4433
From from Lan told me, the short answer is we just need to add the params so they can be modified if needed.

[2019-01-28 20:39] #1193 closed

[2019-01-28 20:40] yanluo7 commented on #4138
With the following option I was able to get a trace log of the failing method.
```"-Xaot:disableAsyncCompilation,forceAOT,initialOptLevel=warm,verbose={compilePerformance},vlog=./vlog,tryToInline={java/lang/StringUTF16.newString*},dontInline={jdk/internal/jrtfs/JrtPath.resolve(Ljava/lang/String;)Ljdk/internal/jrtfs/JrtPath;},{jdk/internal/jrtfs/JrtPath.resolve(Ljava/lang/String;)Ljdk/internal/jrtf

[2019-01-28 20:48] llxia commented on #4433
Another option is we can delay the [incompatible PR](https://github.com/AdoptOpenJDK/openjdk-tests/pull/832) until we are done testing 0.12

Or we can port [this PR](https://github.com/eclipse/openj9/pull/4262) into 0.12.

I guess the question is which solution is more beneficial to us. If the incompatible change does not happen too often, maybe we can just delay the change in Adopt. As far as I k

[2019-01-28 21:38] pshipton commented on #4433
In the future, I suppose we may not always have control over changes at Adopt.

[2019-01-28 21:59] smlambert commented on #4433
That future would only be if absolutely none of us showed up to help at Adopt, which is not a future that I can currently envision.

But if we were somehow pressed to the wall in the future, branching at Adopt, or forking are 2 ways to mitigate.

[2019-01-28 22:00] smlambert commented on #4433
For this issue, I vote for the solution that requires the least work to do the right thing.

[2019-01-28 22:02] pshipton commented on #4473
As this is not a new failure, I've removed it from the 0.12 milestone plan.

[2019-01-28 23:46] ChengJin01 commented on #4193
Some JNI native tests (detected in personal build) with boolean return type shows changing to **ffi_type_uint32** affects the return value for boolean.  Need to check what happened in such case.

[2019-01-28 23:50] pshipton commented on #4433
Which is ... ?

[2019-01-28 23:50] pshipton commented on #4433
delay the incompatible PR until we are done testing 0.12, seems the least amount of work.

[2019-01-28 23:53] smlambert commented on #4433
Yes, I assumed it was obvious so did not say it.  :)
I am assuming we are within days of delivering 0.12.

[2019-01-29 06:03] knn-k opened #4486 "AArch64: Compile error in trclog.c with strncpy()"
I got the following error while I was compiling for linux_aarch64.  It is similar to Issue #3242.
[code]

It compiles without the error when I remove `-D_FORTIFY_SOURCE=1` from the command-line option.

[2019-01-29 11:07] deesebas commented on #4050
Hi @huntc can you provide the data that you had mentioned regarding your need to use  OpenJ9 within LXC instead of Docker containers?

[2019-01-29 11:12] huntc commented on #4050
Yes, I shall try this again. Sorry that I’ve been a bit busy. I owe you the data.

[2019-01-29 11:21] adamfarley opened #4488 "OpenJ9 JLink produces a bigger JRE than Hotspot"
Problem: When jlinking, I noticed the resulting directories have distinctly different sizes.

This is a footprint bug, as one of jlinking's primary advantages is disk size, and this negates part of that advantage.

Details: Dinakar discovered that the main difference (on Linux at least) is in the properties and dat files.

Example:

```jlink --add-modules java.base --output C:\output_folder```

Ho

[2019-01-29 13:48] pdbain commented on #4130
@smlambert or @llxia would you please re-enable this test when the OpenJDK fix mentioned in https://github.ibm.com/runtimes/openjdk-contribution/issues/717#issuecomment-9694458 is available.
Thank you.

[2019-01-29 14:13] pshipton commented on #3636
The RSA acceleration work is completed.

[2019-01-29 14:13] #3636 closed

[2019-01-29 15:50] hangshao0 commented on #4351
This test is now passing:

Windows JDK8:
[code]
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-win_x86-64_cmprssptrs/152/consoleFull

Window JDK11:
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-win_x86-64_cmprssptrs/152/

[2019-01-29 15:57] hangshao0 commented on #4351
Linking the systemtest repo PR here: https://github.com/eclipse/openj9-systemtest/pull/80

[2019-01-29 16:21] llxia commented on #4130
@pdbain-ibm PR https://github.com/AdoptOpenJDK/openjdk-tests/pull/840 is created to re-enable the test.

We are using [ProblemList* ](https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/openjdk_regression) to exclude openjdk regression tests. Please feel free to modify them as needed. Thanks :)

[2019-01-29 16:34] DanHeidinga commented on #2728
**Rough notes from the meeting:**

Questions:
* History:
  * Can we use different jobs to launch the same pipeline so that we maintain ~5 nights worth of nightly build history?
  * Rationale: nightly build issues may not be noticed as quickly as PR failures.
  * Provides separate history for nightly, omr, and prs.
  * Makes it easier to find the nightlies vs other build types

* Disk usage
  * Can

[2019-01-29 17:17] ben-walsh commented on #4473
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/927/consoleText - 100x -Xint against last release build shows a  37% failure rate.

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/924/consoleText - 100x -Xint against RC1 build on Linux shows a 0% failure rate.

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/928/consoleText - 100x -Xint against latest nightly - 30% fa

[2019-01-29 17:23] ben-walsh commented on #4473
Kicked off https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/933 to force 100x -Xint test against latest nightly.

[2019-01-29 17:37] daliasheasha commented on #2659
Is there a status update on this issue? We're still seeing the NPE with the latest OpenJ9

[2019-01-29 17:52] DanHeidinga commented on #2659
@daliasheasha Are you able to install fontconfig on your machine?  [1] indicates that solves the problem.

My understanding is this behaviour is the same for an OpenJDK build.  The Oracle JDK includes additional things for fonts that aren't part of OpenJDK.

[1] https://github.com/eclipse/openj9/issues/2659#issuecomment-414416298

[2019-01-29 18:47] fjeremic opened #4495 "Windows compilation issues in NativeCrypto.c"
There seems to be a ton of Windows compilation issues in NativeCrypto.c:

[code]

These are seen in PR builds when Jenkins Windows builds are launched.

[1] https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-win_x86-OpenJ9/209/console

[2019-01-29 18:47] fjeremic commented on #4495
@pshipton FYI seems related to RSA support. I coundn't find a duplicate of this issue so I opened a new one.

[2019-01-29 19:11] llxia commented on #4433
fyi @vsebe

[2019-01-29 19:23] AdamBrousseau commented on #4433
Is the passed values expected to be used in the SCM configuration section or will that always point to `master`?

[2019-01-29 19:32] #2005 closed

[2019-01-29 19:56] AidanHa commented on #2837
Any suggestions of what the name of this new option will be? I was thinking “-Xdump:printToStdOut”

[2019-01-29 20:33] pshipton commented on #4138
There is no fix yet, but this is not a blocker for the 0.12 release. Moving to the next milestone.

[2019-01-29 20:33] pshipton commented on #4277
There is no fix yet, but this is not a blocker for the 0.12 release. Moving to the next milestone.

[2019-01-29 20:41] AidanHa commented on #2837
I think -Xdump:java:file=STDOUT/ERR is probably the best option. I will be adding support to this option

[2019-01-29 21:07] ChengJin01 commented on #4193
The failing JNI native test can be simplified as follows:
[code]
The failing native test in printBoolMethod2() should ended up with the same result (false) as printBoolMethod1() but unexpected return true.

Looking at the corresponding assembly code generated by objdump as follows:
[code]
According to the assembly code above, the high 3 bytes of EAX didn't get initialized on return and came with r

[2019-01-29 21:19] DanHeidinga commented on #4193
@ChengJin01 As part of https://github.com/eclipse/openj9/issues/2049 , it was determined that boolean returns from JNI should check for ` != 0` to determine true or false to match the C conventions.

[2019-01-29 21:21] DanHeidinga commented on #3340
This is being deferred from `0.12.0` as the failure has only been seen in DAA testing.  The code in question is quite general and is exercised by many of the tests.  As there is something specific in the DAA case triggering the failure, and the issue has existed since the `0.11.0` release, we believe that shipping with this issue won't affect non-DAA users.

[2019-01-29 21:28] babsingh opened #4503 "Implement or refactor j9sock API for OSX"
The existing Unix implementation of the `j9sock` API doesn't work on OSX. OSX supports functions as per the BSD implementation whereas the Unix implementation of `j9sock` API uses functions as per the GNU implementation. BSD and GNU definitions vary quite a bit. For some GNU functions, there is no BSD alternative. Plus, IPv4 and IPv6 categorization varies between the BSD and GNU implementation.

T

[2019-01-29 21:31] DanHeidinga commented on #4503
@mstoodle @mpirvu Does JITaaS use j9sock?

I'm not aware of any other remaining users so this code might be a good candidate for removal

[2019-01-29 21:44] pshipton commented on #4495
This was fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/252 and https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/253

[2019-01-29 21:44] #4495 closed

[2019-01-29 21:52] pdbain commented on #4503
@pshipton My understanding is that only Harmony JDWP uses the port library's socket functions. Is that correct?

[2019-01-29 22:00] pshipton commented on #4503
IBM Java 8 (not OpenJ9) currently uses Harmony JDWP which uses j9sock.
See also https://github.com/eclipse/openj9/issues/4503#issuecomment-458714963

[2019-01-29 22:02] pdbain commented on #4503
IBM Java 8 is not supported on MacOS, though: correct?

[2019-01-29 22:03] pshipton commented on #4351
@hangshao0 do you know what condition caused the VM to assert? A user shouldn't be able to cause the VM to assert via command line arguments, the underlying problem should still be fixed.

[2019-01-29 22:09] ChengJin01 commented on #4193
@DanHeidinga ,  `!= 0` is correct only when there is only 1 byte for boolean on return.
To matches the RI's behaviour, we can change to the code to
[code]
given that only the lowest byte is used after extending to 4 bytes.

In addition,  Initializing returnStorage with 0 before calling native doesn't work (already verified) because it is always overwritten by EAX on return.

[2019-01-29 22:18] samuel-rubin commented on #4208
Here is my PR related to removing GCC from the test containers: #4474

[2019-01-29 22:32] mpirvu commented on #4503
JITaaS does not use j9sock.

[2019-01-29 22:36] yanluo7 commented on #4138
Adding `tryToInline` did not make the inlining of `java/lang/StringUTF16.newString` happen, so I added some inliner trace options to find out why. However, after I added `traceInlining,debugInliner`, the inlining gets even less - the top level method inlined even less methods. This is very peculiar and discouraging.

[2019-01-29 22:46] hangshao0 commented on #4351
[code]

We are not able to open the cache file, so cache file size _actualCacheSize is 0. When setting the softmx, we assert than the sotfmx < _actualCacheSize.

[2019-01-29 22:48] hangshao0 commented on #4351
I will create a Pull Request to ensure that the cache file path is not longer than the OS limit before starting up the shared cache.

[2019-01-29 22:53] pshipton commented on #4503
correct, for your purposes

[2019-01-29 22:57] pshipton commented on #2837
@keithc-ca

[2019-01-29 23:00] pshipton commented on #4433
@llxia ^

[2019-01-29 23:07] ChengJin01 commented on #4193
If keep the code in inconvertJNIReturnValue() unchanged to match the RI's behaviour, the only way around is to ensure it returns the correct value at the assembly level in FFI code.
e.g. on X86
change the code for uint32 in /runtime/libffi/x86/unix64.S
[code]
to
[code]
Under such circumstances, we have to address the similar assembly code on all platforms to accommodate the requirement.

[2019-01-29 23:11] pshipton commented on #2728
Stated early, but also note that PR build times can be faster when only targeted testing is required. i.e. in the future a PR build could run only the CryptoTest instead of all sanity testing, for a change that only affects this test

[2019-01-29 23:47] #4196 closed

[2019-01-30 03:20] llxia commented on #4433
The SCM configuration section in job configure points to master. If the repo and branch are provided, we will checkout again using provided repo and branch.

[2019-01-30 03:46] DanHeidinga commented on #4193
https://github.com/eclipse/openj9/blob/bc8d9335f390dd635b20d4212310241b099b44a7/runtime/oti/VMHelpers.hpp#L1360

@ChengJin01 I like your solution.  Is it more clear to read that as a `U_8*` rather than `& 0xFF`?

ie: ```(UDATA)(0 != (*(U_8 *)returnAddress));```

[2019-01-30 04:06] DanHeidinga commented on #4503
It doesn't sound like we need j9sock on OSX.  Let's not do this work and give IBM some time to migrate off j9sock or take a copy of the code.  We can then remove j9sock from openj9 in the future.

[2019-01-30 09:17] SueChaplain commented on #2837
@AidanHa This looks like it needs a change to the user documentation to capture the new suboption. Please add a doc:externals label to this issue for tracking purposes and open an issue at the docs repo for getting the doc updated: https://github.com/eclipse/openj9-docs/issues/new?template=new-documentation-change.md

[2019-01-30 09:44] SueChaplain commented on #3743
Please open an issue at the docs repo when you have agreed on the externals for this item: https://github.com/eclipse/openj9-docs/issues/new?template=new-documentation-change.md

[2019-01-30 09:59] SueChaplain commented on #3577
Do you want the `-Xjit:disable<arch>` option documented in the user docs, or are you keeping this out just for testing please?

[2019-01-30 10:01] paulcheeseman commented on #2837
We should ensure that uppercase or lowercase is accepted.

[2019-01-30 13:14] pdbain commented on #4503
Related issue:
https://github.com/eclipse/openj9/issues/1123
`Remove unnecessary socket functions from OpenJ9 builds`.

[2019-01-30 14:32] keithc-ca commented on #2837
I was going to suggest this capability is already available (at least on Linux), but the VM refuses to overwrite an existing file:
[code]

[2019-01-30 14:39] DanHeidinga commented on #2837
Another option is to use `1` and `2` as special cases for stdout and stderr as commandline users are used to piping output to / from those special file descriptors.

[2019-01-30 14:42] keithc-ca commented on #2837
A common convention is that `'-'` means stdin/stdout depending on whether it will be read or written. I'm not aware of a convention for stderr.

[2019-01-30 14:50] pshipton commented on #4201
Another occurrence https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-win_x86/149
[code]

[2019-01-30 14:51] llxia opened #4511 "Update playlist.xml for non sequential subset with jdkVersion+"
@Yuehan-Lin Thanks for PR https://github.com/eclipse/openj9/pull/4480.

We also need to update following playlist.xml:
https://github.com/eclipse/openj9/blob/05558fac7d18586a63130f20a92adc12a380eeef/test/functional/NativeTest/playlist.xml#L38-L42

to
[code]

[2019-01-30 15:04] andrewcraik commented on #4201
FYI @jdmpapin and @dsouzai the mention of sharedclasses makes me wonder if the new SVM will solve this?

[2019-01-30 15:04] pshipton opened #4512 "aix71-p8-1 out of disk space"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-aix_ppc-64_cmprssptrs/149/

[2019-01-30 15:05] pshipton commented on #4512
Not sure if the cleanup scripts will take care of it.

@jdekonin

[2019-01-30 15:08] fjeremic commented on #3577
This is just for testing. We would prefer to leave these undocumented as we use them for debugging mostly.

[2019-01-30 15:10] AdamBrousseau commented on #4512
Looks fine now, 73% free (37G). The test job itself likely used all the space and then cleaned up after its run.

[2019-01-30 15:26] dsouzai commented on #4201
It's possible; however if the issue is a missing relocation, then the SVM wouldn't really help since it's main purpose is validation. Given that this is windows, it's possible that the SVM _is_ enabled for this compile (if it happened after startup).

[2019-01-30 15:30] dmitripivkine opened #4513 "Improvements for Hooks report section in javacore"
Hooks section in javacore contains statistical information of usage of each hook. Currently it looks like:
[code]
There are a few improvements we can do:
- Add name of hook in verbose form (currently it is a number `EVENTID     66`)
This name might be used for Snap traces as well

- Currently we are providing stats for last/longest callbacks. It would be very valuable to add average time spent in

[2019-01-30 15:33] pshipton commented on #4512
Perhaps not related, but same machine.
https://ci.eclipse.org/openj9/job/Build-JDK11-aix_ppc-64_cmprssptrs/487/
https://ci.eclipse.org/openj9/job/Build-JDK8-aix_ppc-64_cmprssptrs/1028/
[code]

[2019-01-30 15:35] pshipton commented on #4512
The above is from an omr acceptance build started at 10:16am today.

[2019-01-30 15:44] AdamBrousseau commented on #4512
rebooting

[2019-01-30 15:45] DanHeidinga opened #4516 "Investigate perf delta on tlaplus"
Issue raised on twitter: https://twitter.com/lemmster/status/1089658388038836229 shows that OpenJ9 has lower throughput on this workload.

Details on how to reproduce the issue: https://twitter.com/lemmster/status/1089913646577119232

[2019-01-30 15:47] andrewcraik commented on #4201
@dsouzai so is this something that should be looked at as part of the SVM migration then?

[2019-01-30 16:13] mpirvu commented on #4299
I collected smaps, javacores and coredumps for 2 configurations:
1) one compilation thread
2) seven compilation threads

The javacore data shows 6 MB of more virtual memory being used by the 7-compThread config and that difference comes from the native stack. This is correct because compilation threads have 1MB of stack and we have 6 extra compilation threads.

[code]
[code]

However, what we care

[2019-01-30 16:15] JasonFengJ9 commented on #3399
This test failure was caused by couple of `Lamda` expression added within `jdk.internal.loader.BuiltinClassLoader` for `OpenJ9 shared classes`.
`jdk.internal.lambda.dumpProxyClasses` triggered `Module` related method calls at VM bootstrap stage before `java.base` creation, `sun/util/logging/PlatformLogger.class.getModule()` returns `null` and `NPE` eventually.
This will be fixed by https://github.

[2019-01-30 16:18] lemmy commented on #4516
Twitter user "lemmster" here, I'm happy to provide more details if needed.

[2019-01-30 16:20] dsouzai commented on #4201
Well there's three options here:

1. Existing AOT bug that happens without the SVM
2. Existing AOT bug that is now exposed by the SVM
3. Bug caused by the SVM

Of the AOT bugs we've run into thus far, they've almost always been an existing bug that we just never ran into before, or existing bug now exposed because of the new code paths under AOT that are now being exercised thanks to the SVM.

So

[2019-01-30 16:23] mpirvu commented on #4299
With DDR we can print the allocations from the callsites sorted by total allocation size:

1-compThread
[code]
7-compThreads
[code]
I wrote a script to compare the allocations, but I am way short of the 13MB I am looking for. As seen below, the biggest difference comes from `vmthread.c:1378` but that accounts for only 122360 bytes.
[code]

[2019-01-30 16:23] andrewcraik commented on #4516
@lemmy super thanks - I'm just getting this setup on a performance machine with all my analysis tools so I can take a look at what is going on. I will be in touch if I need any extra info. Thanks for finding the problem and I'll post an update once I've had a chance to understand what is going on in the system.

[2019-01-30 17:04] pshipton commented on #3399
Rather than changing the code not to use a lambda, can we do something to cause langReflectAccess to be initialized earlier in bootstrap? i.e. call `Modifier.isPublic(Modifier.PUBLIC);` in OpenJ9 bootstrap?

[2019-01-30 17:51] ashu-mehra commented on #4050
I identified couple of issues from code walkthrough when OpenJ9 is running in lxc container, but I am not sure they can cause JIT to use memory beyond container limit.

1) [isRunningInContainer]( https://github.com/eclipse/omr/blob/a733f7fc302de366bdc87bca57fdb6d4a8537f4b/port/unix/omrsysinfo.c#L4261) is specific to Docker containers and the mechanism used won't work for identifying an lxc contain

[2019-01-30 17:57] amicic commented on #3611
Looking from the perspective what is potentially bad about always enabled THP (specifically for object heap)....

When we tenure objects (during Scavenge), and we touch area of Tenure for the first time, it may cause long pauses (sometimes several seconds) to commit a few large pages (because kernel underneath may do de-fragmentation of used physical small pages to create unused large pages). Thes

[2019-01-30 18:10] dmitripivkine commented on #3611
There is no other way to investigate this as to do a lot of performance testing using different benchmarks on various HW platforms and Linux Distributions (and be sure that usage of THP is set to madvise). In our experience we know that using of THP is beneficial for many customers but might create unwanted side effects as @amicic mentioned.

[2019-01-30 18:23] amicic commented on #3611
Just to clarify 'if application (customer)...'

By default all newer distros are configured with ALWAYS. I don't imagine system being 'randomly' configured with MADVISE global settings.

So, if customer observes long Scavenge pauses due to THP enabled, it would have a choice of configuring the system with THP MADVISE (and do nothing else, like provide another VM option). Our VM would (for example)

[2019-01-30 19:07] babsingh opened #4520 "Test framework crashes while running pltest on OSX"
A new test target is introduced to run `pltest` on OSX in https://github.com/eclipse/openj9/pull/4504: `make _cmdLineTester_pltest_osx_0`. `pltest` runs properly. But, the test framework crashes while running `pltest`. `pltest` generates `SIGQUIT` in `j9process_testNewProcessGroupByTriggeringSignal` (`pltest` testcase), which gets propagated to the test framework. [GUESS] I think the test framewor

[2019-01-30 19:08] JasonFengJ9 commented on #3399
@pshipton Removal of `lambda` expression from `jdk.internal.loader.BuiltinClassLoader` OpenJ9 shared classes code is to avoid `null Module` object returned from `sun/util/logging/PlatformLogger.class.getModule()` as per https://github.com/eclipse/openj9/issues/3399#issuecomment-459004840.

 `null langReflectAccess` issue only shows up when the issue above has been fixed.

[2019-01-30 19:23] babsingh commented on #4520
fyi - @llxia

[2019-01-30 19:49] DanHeidinga commented on #4520
@babsingh Why would this be different on OSX than on other platforms?  Shouldn't the `j9process_testNewProcessGroupByTriggeringSignal` test catch the SIGQUIT and handle it appropriately if it's an intended part of the test?

[2019-01-30 20:14] babsingh commented on #4520
@DanHeidinga `j9process_testNewProcessGroupByTriggeringSignal` works properly when run standalone, outside of the test framework.

When `pltest` is run with other processes, ex. `pltest 2>&1 | tee -a <LOG_FILE>`, `tee` would also receive the `SIGQUIT`, which is generated by `j9process_testNewProcessGroupByTriggeringSignal`, and crash. In case of `make _cmdLineTester_pltest_osx_0`, `make` would als

[2019-01-30 21:12] theresa-m opened #4522 "Java 12 OpenJ9 test compile failures"
Now that Java 12 jcl compile failures are fixed (pending merge https://github.com/eclipse/openj9/pull/3980) there are some compile failures in test code related to internal packages that have been renamed in java.base (SharedSecrets / JavaLangRefAccess)

I'll be working on getting those fixed.

[2019-01-30 21:24] pshipton commented on #3399
Is there a stack trace for the PlatformLogger.class.getModule() NPE?

[2019-01-30 21:32] JasonFengJ9 commented on #3399
Here it is (from this PR description):
[code]

[2019-01-30 22:38] pshipton commented on #2837
The code actually checks for `'-'` explicitly.

[2019-01-30 23:06] ChengJin01 commented on #4193
Just detected a bunch of failing test cases (without direct connection with my changes) on Linux PPC/390 and zOS in the internal personal build (Java 8) with the latest fix.  Need to narrow down the code to figure out whether which part of the fix caused these issues.

[2019-01-31 01:14] fjeremic commented on #4467
So effectively we'll be following semantic versioning [1]?

[1] https://semver.org/

[2019-01-31 04:12] #4217 closed

[2019-01-31 04:32] huntc commented on #4050
I have something of a reproducer, although it isn't exactly the same. I'm using the [Spring Pet Clinic app](https://github.com/spring-projects/spring-petclinic) as it is widely available, unlike our app which I cannot share.

Here are the steps that I take:

0. Disabled swap on my Linux host as my lxc setup on a VM runs privileged containers (unprivileged containers will require an additional `mem

[2019-01-31 12:46] keithc-ca commented on #4462
Closing: fixed via #4477 and #4500.

[2019-01-31 12:46] #4462 closed

[2019-01-31 12:49] keithc-ca commented on #2837
Instead of considering that illegal, we could interpret it as stdout. Do we _need_ stderr as well?

[2019-01-31 14:09] pshipton opened #4526 "Test-extended.system-JDK8-linux_390-64_cmprssptrs SharedClassesAPI_0 Assertion OMRMachine.cpp:128"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/181/
SharedClassesAPI_0
7.WL3.stderr
[code]

[2019-01-31 14:11] DanHeidinga commented on #2837
The request for this comes from `kubectl` users who wanted to use the default logging drivers that intercept stdout / stderr.  From some quick googling I can't tell whether kube can differentiate between them - there's a github issue for it but it seems to have gone stale.

Considering we typically output JVM diagnostics to stderr it makes sense to support both, though we can merge support for std

[2019-01-31 14:14] DanHeidinga commented on #4526
FYI @fjeremic

[2019-01-31 14:42] fjeremic commented on #4526
This is a safety guard added as part of eclipse/omr#3488 which we just recently merged. It is almost certainly avoiding a runtime error. I'll have a look shortly.

[2019-01-31 15:17] pshipton commented on #4512
aix71-p8-1 is still having troubles with out of space.
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/186/

[2019-01-31 16:07] JasonFengJ9 commented on #4466
Looking at this.

[2019-01-31 16:31] JasonFengJ9 commented on #3846
Taking this one then.

[2019-01-31 16:34] JasonFengJ9 commented on #3850
@theresa-m does your `Java 12` PR cover the methods specified here?

[2019-01-31 16:34] AdamBrousseau commented on #4512
Looks like the volume for the workspace became unmounted. Not sure how. Rebooting didn't help. Marked node offline for now.

[2019-01-31 16:42] JasonFengJ9 commented on #3850
There are couple of new additions:
[code]

[2019-01-31 17:00] theresa-m commented on #3850
I have not covered the align/indent/transform methods. describeConstable and resolveConstantDesc are part of jep334. the pr for them is https://github.com/eclipse/openj9/pull/4105

[2019-01-31 17:42] avermeer commented on #3636
Hello,

We have verified on our side, and the performance issue related to this ticket is indeed fixed, this is outstanding => thank you very much for having kept this for the 11.0.2 OpenJ9 release, just in time !!

Kind regards,
Alexandre

[2019-01-31 17:53] fjeremic commented on #4526
Here is the backtrace looking at the core:

[code]

I'll need to capture a JIT trace log of the compilation with `traceRA` to have any hope of solving this one. Going to attempt to reproduce locally now so I can grab a log. I'll likely require the exact line numbers too so 🤞 that I can reproduce.

[2019-01-31 18:35] pshipton opened #4530 "Crash in NativeCrypto.DigestUpdate (openssl native)"
[code]

[2019-01-31 19:10] llxia commented on #3221
Test is re-enabled in PR https://github.com/eclipse/openj9/pull/4517

[2019-01-31 19:34] mpirvu opened #4534 "Reduce number of calls to getResolvedMethods()"
`getResolvedMethods(TR_Memory *, TR_OpaqueClassBlock *, List<TR_ResolvedMethod> *)` constructs a list of resolved methods from all the j9methods existent in a given j9class. Most of the time the purpose of using this function is to search for a method by name. E.g.
[code]
This is wasteful because creating a resolved method is quite expensive in terms of CPU. It's better to use `getResolvedMethodFo

[2019-01-31 19:56] JasonFengJ9 commented on #3850
It appears `align()` & `align(int)` have been removed.

[2019-01-31 19:58] pdbain opened #4535 "Delete legacy Lookup.checkClassModuleVisibility() for legacy Java 9"
Reverts https://github.com/eclipse/openj9/pull/3910.
Method no longer required now that Java 9 Build 148 is dead.

[2019-01-31 21:03] pshipton commented on #4503
Actually there is a bit of j9sock used by default.

https://github.com/eclipse/openj9/blob/add481c0f4de449e1e0ed96d705494ccd99470f6/runtime/vm/rasdump.c#L573

[2019-01-31 21:07] pdbain commented on #4503
j7vmi.c implements `JVM_GetHostName()`.

[2019-01-31 23:03] jdekonin commented on #4078
Instructions as per #3323 were to install xcode4 and xcode7, setting the default to xcode7.  I had missed that for the JDK8 machine installs so hadn't passed that on to @cwillhelm for the initial machine installs.  However, it seems that something extra happened on osx1011vm2 so I dug deeper.

[code]

And on osx1011vm2 it appears that `xcode-select --install` was performed because v8 is installed

[2019-01-31 23:10] pshipton commented on #3399
All the changes are merged, can this be closed now?

[2019-02-01 00:15] JasonFengJ9 commented on #3399
Yes, I believe so.

@ben-walsh, could you give the test another spin?

[2019-02-01 00:40] gita-omr commented on #4241
@DanHeidinga is this all that is required from JIT for https://github.com/eclipse/openj9/issues/2049 ?

[2019-02-01 02:32] pshipton commented on #4530
The workaround for this is to disable the openssl digest support.
`-Djdk.nativeDigest=false`

[2019-02-01 02:41] pshipton commented on #3399
I'll close it, and we can reopen or create a new issue if a problem still exists.

[2019-02-01 02:41] #3399 closed

[2019-02-01 09:56] mpirvu commented on #4152
Implemented in #4539

[2019-02-01 09:56] #4152 closed

[2019-02-01 11:18] ashu-mehra commented on #4050
@huntc I am not able to reproduce the issue with Sprint Pet Clinic app. Followed same steps as you described in your last comment.

I used OpenJ9 binary from Adopt: https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u202-b08/OpenJDK8U-jdk_x64_linux_openj9_linuxXL_8u202b08-openj9-0.12.0.tar.gz
java version is:
[code]

Initially I ran the application inside the container which h