[2022-02-28 08:07] knn-k commented on #14609
From Apple's documentation https://developer.apple.com/documentation/apple-silicon/addressing-architectural-differences-in-your-macos-code:

[2022-02-28 09:12] c-koell commented on #14037
Status Update ... We have tried to obtain a dump in our production system last week but we were unable to get one :-(
So its really strange .. i hope we can produce one this week.

[2022-02-28 12:58] JasonFengJ9 commented on #13985
Sure, closing..

[2022-02-28 12:58] #13985 closed

[2022-02-28 14:17] pshipton commented on #14570
@tajila fyi. Seems Windows will crash running jdk8 when both jdk8 and jdk17 are on the path.

[2022-02-28 14:19] pshipton commented on #14609
@tajila @gacholio fyi

[2022-02-28 14:20] pshipton commented on #14500
Rather than try to remember to close it, I'll just close it now and we can reopen if the problem is seen again.

[2022-02-28 14:20] #14500 closed

[2022-02-28 14:48] pshipton commented on #14604
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_0/210
testOpenJ9DiagnosticsMXBean_0
[code]

The javadoc for listFiles() states "If this abstract pathname does not denote a directory, then this method returns null." so it seems one of the expected directories doesn't exist.

Earlier in the output the following is seen.
[code]

[2022-02-28 14:50] pshipton commented on #13875
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/218

[2022-02-28 14:52] pshipton commented on #13803
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_0/222/ - [win2012-x86-4](https://openj9-jenkins.osuosl.org/computer/win2012-x86-4)
SharedClassesAPI_0

[2022-02-28 16:32] cjjdespres commented on #14412
@babsingh Out of curiosity, did the failures in [your comment](https://github.com/eclipse-openj9/openj9/issues/14412#issuecomment-1027354827) all look like

[code]

as you mentioned? There were a lot of recent JITServer test failures with substantial overlap with that list, and I wanted to confirm whether or not that was coincidence. (None of the JITServer test failures looked like that, of course

[2022-02-28 16:42] cjjdespres commented on #14538
I've noticed that there's a large overlap between the failing tests and the ones in [this comment](https://github.com/eclipse-openj9/openj9/issues/14412#issuecomment-1027354827), but that may just be coincidence?

[2022-02-28 16:42] cjjdespres commented on #14538
Two jobs had tests that all failed in the same way - the processes could not connect to a VM, as `Monitored VM not ready`, then eventually gave up and failed. These failures occurred in:

`job/Test_openjdk8_j9_sanity.system_x86-64_linux_jit_Personal/276/`
- `TestJlmRemoteClassAuth_1`
- `TestJlmRemoteThreadAuth_1`
- `TestIBMJlmRemoteMemoryAuth_SE80_Linux_0`
- `TestIBMJlmRemoteMemoryNoAuth_SE80_Linu

[2022-02-28 16:55] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_sanity.system_ppc64le_linux_jit_Personal/191/`, failures in

- `TestJlmRemoteMemoryNoAuth_0`
- `TestJlmRemoteNotifierProxyAuth_0`
- `TestJlmRemoteThreadNoAuth_0`
- `TestJlmRemoteThreadNoAuth_1`
- `TestIBMJlmRemoteClassAuth_0`
- `TestIBMJlmRemoteClassAuth_1`
- `TestJlmRemoteClassAuth_1`

These all fail in similar ways - the tests attempt to connect to a particular `Serve

[2022-02-28 16:59] babsingh commented on #14412
@cjjdespres Yes, all failures had `UnsupportedOperationException` when `System.setSecurityManager` was invoked with the security manager disabled. None of the failures in https://github.com/eclipse-openj9/openj9/issues/14538 are related to the security manager.

[2022-02-28 17:06] pshipton commented on #14538
If running Java 18+ you need the following set `-Djava.security.manager=allow`. We do that for the regular tests by setting the  JAVA_TOOL_OPTIONS environment variable to prepend the option https://github.com/adoptium/aqa-tests/pull/3352

[2022-02-28 17:19] gacholio commented on #14609
So the issue is not the declaration of the type, but rather how we implement the extensions. Changing the implementations to exactly match the prototype seems reasonable.

[2022-02-28 17:43] cjjdespres commented on #14538
The next jobs all fail due to a segfault. They also have some tests that seem to fail for other reasons, so I'll post those separately. The two running the `functional` tests all have identical stack backtraces

[code]

aside from what I assume are the memory addresses. The one running the `system` tests has more varied stack backtraces. The jobs and tests are:

`job/Test_openjdk17_j9_extended.fun

[2022-02-28 18:10] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_extended.functional_x86-64_linux_jit_Personal/201/` (also discussed above), failures in

- `SecurityTests_0`
- `cmdLineTester_dumpromclasstests_0`
- `cmdLineTester_locales_0`
- `cmdLineTester_lockWordAlignment_Object_i_0`
- `testDDRExtJunit_MonitorsAndDeadlock2_1`
- `testDDRExtJunit_MonitorsAndDeadlock3_1`
- `testDDRExtJunit_MonitorsAndDeadlock6_1`
- `TestAttachAPI_0`
-

[2022-02-28 18:13] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_extended.functional_x86-64_linux_jit_Personal/201/`, also discussed above, failure in

- `StackWalkerTest_1`

Console log:

[code]

Haven't attempted to reproduce.

[2022-02-28 18:17] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_extended.system_ppc64le_linux_jit_Personal/193/`, also discussed above, failure in:

- `MathLoadTest_all_5m_0`

Excerpt from console log:

[code]

This seems more like a misconfigured system or a failure in the test itself, since the test can't find some component of `log4j`.

Haven't attempted to reproduce.

[2022-02-28 18:19] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_extended.functional_x86-64_linux_jit_Personal/278/`, also discussed above, failure in:

- `cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_2`

Excerpt from console log:

[code]

This also seems like a failure in the test itself.

Haven't attempted to reproduce.

[2022-02-28 20:24] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_extended.system_ppc64le_linux_jit_Personal/274/`, failure in:

- `MiniMix_aot_5m_0`

Console log excerpt:

[code]

Haven't attempted to reproduce.

[2022-02-28 20:34] hangshao0 opened #14612 "ClassNotFoundException in Valhalla_j9_extended.functional"
Failure link
------------

First failing build, Feb 25:
`/job/Test_openjdkValhalla_j9_extended.functional_x86-64_linux_valhalla_Nightly_testList_0/468/`

[code]

Last passing build, Feb 24:
`/job/Test_openjdkValhalla_j9_extended.functional_x86-64_linux_valhalla_Nightly_testList_0/467/`

[code]

Failure output (captured from console output)
---------------------------------------------
[code]

[2022-02-28 20:35] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_sanity.functional_x86-64_linux_jit_Personal/894/`, failures in:

- `cmdLineTester_getPid_0` (tracked elsewhere)
- `shrtest_linux_0`
- `J9vmTest_4`

The `shrtest_linux_0` test fails with output:

[code]

which looks like a system error.

The `J9vmTest_4` fails with output

[code]

which also looks like a system error.

Haven't attempted to reproduce.

[2022-02-28 20:37] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_special.system_x86-64_linux_jit_Personal/195/`, failure in:

- `LambdaLoadTest_special_J9_5m_9`

Console log excerpt:

[code]

Haven't attempted to reproduce.

[2022-02-28 20:39] hangshao0 commented on #14612
OpenJ9 change:
https://github.com/eclipse-openj9/openj9/compare/016ce8a1e28...f4b469e1391
OMR change:
https://github.com/eclipse/omr/compare/2784a1f1bb6...311e9c77589
JCL change:
https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes/compare/99f198857a1...8cd4de24c25

[2022-02-28 21:09] gacholio commented on #14609
I'll hammer out a fix for this.

[2022-02-28 22:29] llxia commented on #14612
With DYNAMIC_COMPILE, we only compile the related tests. In this case, cmdLineTester_flattenedvaluetypeddrtests is under cmdLineTests, so we only compile cmdLineTests. However,  this test needs DDRValueTypeTest, which is under Valhalla.

For now, I will disable DYNAMIC_COMPILE for Valhalla.

[2022-03-01 00:52] knn-k commented on #14390
The failures with `cmdLineTester_jvmtitests_1` are also caused by #14609.

[2022-03-01 01:16] nbhuiyan commented on #14395
Even with every optimization disabled, inlining `invokeImpl()` results in the test failure. I could not identify any functional issues so far during IL generation, codegen or runtime for the problematic method so far, and may likely require more time to identify the underlying cause. However, I do have a temporary workaround in place where we skip inlining `invokeImpl()`. This workaround does not

[2022-03-01 08:56] knn-k commented on #14609
I did a quick hack with jvmtiExtensionMechanism.c, rewriting some of the JVMTI extension functions in it in the `va_list()` style.
The hack seems to work as expected on AArch64 macOS with SharedClassesAPI tests in extended.system.

[2022-03-01 11:29] knn-k commented on #14390
I can pass `testSCCacheManagement_0` with my change for #14609, too.

[2022-03-01 14:51] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_special.system_ppc64le_linux_jit_Personal/269/`, various failures. I've broken them down by cause:

# Segfaults

- `DaaLoadTest_daa1_special_5m_17`
- `DaaLoadTest_daa3_special_5m_16`
- `LambdaLoadTest_special_J9_5m_16`
- `MathLoadTest_all_special_5m_16`
- `MathLoadTest_all_special_5m_21`
- `MathLoadTest_autosimd_special_5m_16`
- `ClassLoadingTest_special_5m_15`
- `Class

[2022-03-01 14:58] llxia opened #14616 "SDK_RESOURCE needs to be set in the pipeline"
Currently, we do not set SDK_RESOURCE in the upstream pipeline and we depend on the test pipeline default values. This default value may not be correct. We should set SDK_RESOURCE explicitly in the pipeline.

- Set SDK_RESOURCE=customized
https://github.com/eclipse-openj9/openj9/blob/68f2d9d26b7918a718f160b9d60ac39bdbd80b38/buildenv/jenkins/common/pipeline-functions.groovy#L248
- Set SDK_RESOURCE=

[2022-03-01 16:17] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_special.system_ppc64le_linux_jit_Personal/192/` , failure in `DaaLoadTest_daa1_special_5m_21`. A segfault.

Console log:

[code]

Haven't attempted to reproduce.

[2022-03-01 16:20] tajila commented on #14503
The memory limit is determined by `j9gc_get_maximum_heap_size`. The new requested amount is 48bytes over the the limit

[code]

[2022-03-01 16:21] tajila commented on #14503
The test is run with Xmx4g, @dmitripivkine how is the max heap sized determined based on Xmx?

[2022-03-01 16:22] tajila commented on #14503
Also, has this changed recently?

[2022-03-01 16:26] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_sanity.functional_ppc64le_linux_jit_Personal/840/`, failure in `testSCCMLTests1_openj9_1` and `cmdLineTester_SCHelperCompatTests_unix_0`. Both fail in a number of sub-tests, all due to success and failure conditions not being found.

Console log excerpt for `testSCCMLTests1_openj9_1`.

[code]

Haven't attempted to reproduce.

[2022-03-01 16:29] dmitripivkine commented on #14503
`j9gc_get_maximum_heap_size()` returns back the exact value specified by `-Xmx` (use the same variable). I believe there were no changes recently in this area.

[2022-03-01 16:31] gacholio commented on #14609
OK, please go ahead with your solution. If I get mine working (and we feel it's worth doing), I can commit it later.

[2022-03-01 16:32] pshipton commented on #14616
@AdamBrousseau fyi
@llxia are you fixing this yourself or looking for a fix?

[2022-03-01 16:37] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_sanity.system_ppc64le_linux_jit_Personal/276`, failure in:

- `DaaLoadTest_daa1_5m_1`
- `DaaLoadTest_daa2_CS_5m_0`
- `DaaLoadTest_daa3_CS_5m_0`
- `TestJlmRemoteClassNoAuth_0`
- `TestJlmRemoteNotifierProxyAuth_0`
- `TestJlmRemoteThreadAuth_0`
- `TestJlmRemoteThreadNoAuth_0`
- `TestIBMJlmRemoteMemoryNoAuth_1`
- `LambdaLoadTest_J9_5m_1`
- `ParallelStreamsLoadTest_CS_0`
- `

[2022-03-01 16:41] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_ppc64_aix_Nightly_testList_0/7
TestIBMJlmRemoteClassNoAuth_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

[code]

[2022-03-01 16:41] mpirvu commented on #14538
Those JLM test failures are happening for quite a while. I don't think they are JITServer related. They should receive lower priority anyway.

[2022-03-01 16:48] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_extended.system_x86-64_linux_jit_Personal/200/`, various failures. I've sorted them below. Haven't attempted to reproduce.

# Unexpected crash (no other detail in the log)
- `SC_Softmx_UpDown_1`
- `SC_Softmx_Increase_1`

# Segfault
- `MiniMix_5m_0`
- `MiniMix_aot_5m_0`
- `DBBLoadTest_5m_0`
- `ObjectTreeLoadTest_5m_1`
- `SC_Softmx_JitAot_Linux_1`
- `ConcurrentLoadTest_5m

[2022-03-01 16:57] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_extended.functional_ppc64le_linux_jit_Personal/278/`, failure in `cmdLineTester_jvmtitests_hcr_OSRG_nongold_4`, I think. The TAP results couldn't be parsed because that failure seems to have been corrupted enough to contain embedded NULLs. There were a couple of lines in the parse error that seemed intact:

[code]

but most of the location information has been destroyed

[2022-03-01 16:59] cjjdespres commented on #14538
I think that's the backlog all sorted, so I'll start looking at some of these in more detail.

[2022-03-01 17:28] nbhuiyan commented on #14395
`invokeImpl` throws an NPE while trying to call [`target.invokeExact`](https://github.com/ibmruntimes/openj9-openjdk-jdk18/blob/8e606274586875f7750bf23f614af601794ca95e/src/java.base/share/classes/jdk/internal/reflect/DirectMethodHandleAccessor.java#L154) (case 0) , which is then caught and re-thrown as IAE later. Yes, our focus needs to be only on invokeImpl, and determining why it throws the NPE

[2022-03-01 19:10] llxia commented on #14616
Currently, this does not break anything. I am hoping to get some help from the CANOSP students. If not, I will fix it myself.

[2022-03-01 19:23] smlambert commented on #14616
Does not break anything so is not _urgent_, but does block us from merging a fix for https://github.com/adoptium/aqa-tests/issues/2097 (we had to revert https://github.com/adoptium/aqa-tests/pull/3266).

[2022-03-01 19:29] tajila commented on #14503
On xlinux

with Xmx4g
[code]

on windows

[code]

The cause is that the `sun.nio.MaxDirectMemorySize` property is set to 3.7g on windows but it doesnt appear to be set on xlinux

[2022-03-01 19:30] tajila commented on #14503
The tests above were done with openj9-jdk18

[2022-03-01 19:52] hangshao0 commented on #14566
@hzongaro Is there a reason why you are testing with `-XX:-EnableValhalla` ? Our VT JDK is now built on our internal fork of the OpenJDK Valhalla repo, where there are bootstrap classes with VT features. The JVM won't be able to start up if VT is disabled with `-XX:-EnableValhalla`

[2022-03-01 19:56] pshipton commented on #14503
There is code to set it at 7/8 of the heap size https://github.com/eclipse-openj9/openj9/blob/master/runtime/jcl/common/system.c#L476

On xlinux 18 I see the system property is set (with -Xmx4g) `sun.nio.MaxDirectMemorySize = 3758096384`

[2022-03-01 19:58] pshipton commented on #14503
With OpenJDK (8 - 18) I don't see any setting for MaxDirectMemorySize

[2022-03-01 20:01] pshipton commented on #14503
The OpenJ9 code comes from https://github.com/eclipse-openj9/openj9/pull/2629

[2022-03-01 20:05] pshipton commented on #14503
I don't see why OpenJ9 needs to set the limit at 7/8, seems it should just not set MaxDirectMemorySize at all.

[2022-03-01 20:13] pshipton commented on #14503
This is weird because from the code it appears it's set the same on every platform, and I can see the property set on xlinux.

[2022-03-01 20:30] #14612 closed

[2022-03-01 20:44] #14574 closed

[2022-03-01 20:55] tajila commented on #14503
May mistake, I was using the RI JDK18. On j9 xlinux it is set as well

[2022-03-01 21:08] jaridk opened #14618 "Serviceability Request: Add context class loader to Thread details in javacore.txt"
This issue is a serviceability request, that a thread's context class loader (the `Thread.contextClassLoader` field) be included in the summary of thread information in the Thread Details section of a javacore. In some support scenarios, it's useful to know the context class loader of a thread at the time an issue occurs, but under current circumstances that information is only available by either

[2022-03-01 21:18] pshipton commented on #14503
We should validate that OpenJDK uses Runtime.getRuntime().totalMemory() as the default maxDirectMemory() for all versions, and if that is confirmed then remove setting sun.nio.MaxDirectMemorySize to be 7/8 of the max heap size, and just use the default. This doesn't need to occur for the Java 18 release, we can defer to 0.32.

[2022-03-01 21:25] pshipton commented on #14618
@tajila @keithc-ca fyi

[2022-03-01 22:55] keithc-ca commented on #14618
This is relatively straight-forward to do. I'd like opinions on how to present the information.

My first version adds the `3XMJAVALTHRCCL` line:
[code]

Alternatively, the new information can be added to the `3XMJAVALTHREAD` line:
[code]

Preferences anyone?

[2022-03-01 23:15] dsouzai opened #14620 "Documentation for CRIU Project"
This issue is to track the creation of various topics around which documentation in the form of markdown in the project or blogs over at https://blog.openj9.org/.

The following is a list, separated into high level categories, of some of the work that probably deserves mention in one or more blogs.

### Basic Implementation
- https://github.com/eclipse-openj9/openj9/pull/12950
- https://github.com

[2022-03-01 23:15] dsouzai commented on #14620
fyi @vijaysun-omr @tajila

[2022-03-01 23:37] pshipton commented on #14618
The first option seems easier to read, but I don't have a strong preference.

[2022-03-01 23:46] knn-k opened #14621 "AArch64 macOS JDK 11: Failures in SharedClasses.SCM23.MultiThread* tests"
Failure link
------------
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_mac_Nightly_testList_0/1/
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_mac_Nightly_testList_1/1/

- SharedClasses.SCM23.MultiThread_0
- SharedClasses.SCM23.MultiThreadMultiCL_0

Failure output (captured from console output)
-----------------------------------

[2022-03-02 00:17] knn-k commented on #14609
I opened #14622 as a straightforward fix for the variadic functions.

[2022-03-02 00:35] knn-k commented on #14621
I opened https://github.com/adoptium/aqa-tests/pull/3391 for disabling SharedClasses.SCM23.MultiThread* tests on AArch64 macOS for the time being.

[2022-03-02 01:11] knn-k commented on #14621
These tests did not fail with JDK 18 v.0.31.0 branch last week: https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Release/1/

[2022-03-02 12:22] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/217/

[2022-03-02 12:24] pshipton opened #14625 "OpenJDK util/stream/IterateTest IncompatibleClassChangeError"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/217
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/stream/test/org/openjdk/tests/java/util/stream/IterateTest.java

[code]

[2022-03-02 12:28] pshipton commented on #13803
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64_windows_Nightly_testList_1/170 - [win2012-x86-4](https://openj9-jenkins.osuosl.org/computer/win2012-x86-4)
SharedClassesAPI_1

[2022-03-02 12:31] pshipton commented on #14067
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_x86-64_linux_Nightly/8 - [ub18-x86-1](https://openj9-jenkins.osuosl.org/computer/ub18-x86-1)
jdk_util_0 - `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/ResourceBundle/UTF8Properties/CodePointTest.java

https://openj9-artifactory.osuosl.org/artifact

[2022-03-02 13:02] jaridk commented on #14618
I agree with Peter on both counts. The (small) disadvantage of the second approach is that depending on how you're reading it and what the value is, you might have to scroll right a bit to read the whole thing.

[2022-03-02 13:09] pshipton opened #14626 "Crash in JIT with Symbol=__findenv on osx1011-x86-1"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_mac_OMR_testList_0/65 - [osx1011-x86-1](https://openj9-jenkins.osuosl.org/computer/osx1011-x86-1)
testSCCMLTests1_openj9_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.functional_x86-64_mac_OMR_testList_0/65/functional_test_output

[2022-03-02 13:41] keithc-ca commented on #14618
Ok, we'll go with the first format (although I may adjust the tag `3XMJAVALTHRCCL`).

[2022-03-02 13:52] vijaysun-omr commented on #14620
If you guys feel this sort of a flow would be good to have, then we may be able to divide up the work such that we focus on the main flow that works with the "why", "what" and the running example, and in parallel ask some of the folks who implemented the different features/hooks/fixups/prerequisites to describe their own problem/solution via standalone articles.

[2022-03-02 14:51] tajila opened #14627 "J9 CRIU Support"
In an effort to achieve improved startup performance on J9, checkpoint/restore capabilities will be introduced. Checkpoint/restore is the mechanism of capturing an applications state and serializing it (checkpoint), then deserializing and resuming the application at a later time or on a different environment (restore).

The underlying mechanism to checkpoint/restore will be the linux CRIU feature.

[2022-03-02 15:59] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_jit_Personal/267/`, failure in `jdk_lang_1`. A segfault.

Console log:

[code]

I think this may already be tracked in #14182, though in that issue the failure is in `jdk_lang_0` and not `jdk_lang_1`.

[2022-03-02 16:17] BradleyWood commented on #13004
@dnakamura I would say MXCSR register does not need to be preserved.

[2022-03-02 17:43] BradleyWood commented on #14489
@c-koell I tried the following but couldn't reproduce like that. Here are the steps I tried, correct me if I missed something.

- Created an example maven project with lombok dependency -> org.projectlombok:lombok:1.18.22
  - Used annotations `@Data`, `@Builder`, `@EqualsAndHashCode`, `@SneakyThrows`, `@Synchronized`
- Opened eclipse
   - Maven -> Update Project
- Also tried building from command

[2022-03-02 17:56] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_special.system_ppc64le_linux_jit_Personal/193/`, failures in

- `DaaLoadTest_daa1_special_5m_21`
- `DaaLoadTest_daa3_special_5m_13`
- `DaaLoadTest_daa3_special_5m_17`
- `DaaLoadTest_all_special_5m_16`
- `DaaLoadTest_all_special_5m_21`
- `DaaLoadTest_all_special_5m_29`
- `ParallelStreamsLoadTest_special_J9_12`
- `ParallelStreamsLoadTest_special_J9_13`

A mix of segfaults

[2022-03-02 19:15] hzongaro commented on #14566
I did not realize that there were now bootstrap classes with VT features that would prevent the JVM from starting.  Annabelle and I have been doing our performance comparisons of non-value-type benchmarks by running the same benchmark using the same JVM once with `-XX:+EnableValhalla` and once with `-XX:-EnableValhalla`.  Perhaps the `-XX:-EnableValhalla` option should now result in an error for a

[2022-03-02 19:49] hangshao0 commented on #14566
OK, I see. JIT code is still checking this option (or flag) for optimization decisions.

The only place I see in the VM code that is affected by `-XX:-EnableValhalla` is where we decide accept or reject classes with VT features:

https://github.com/eclipse-openj9/openj9/blob/113ff54c4815772c1f981288cd26774d3212c24c/runtime/bcutil/cfreader.c#L2897-L2902

If it helps, VM can be changed to always acc

[2022-03-02 19:51] gacholio commented on #14566
The option serves no purpose at this point. If it is removed, it will be silently ignored on the command line.

[2022-03-02 20:15] hzongaro commented on #14566
The JIT needs to know whether value types might exist for both functional correctness and optimization decisions, so allowing `-XX:-EnableValhalla` when value type classes can exist would likely result in the JIT generating incorrect code.

I think we can go ahead with creating distinct JDK builds to do these performance comparisons from now on.

[2022-03-02 20:24] dsouzai commented on #14620
I think the sort of standard layout of writing about the motivation (why) followed by description of the capability (what) followed by a simple example is probably a good first entry to have, especially as a landing point. This entry would be quite broadly consumable by all levels of the software stack. Possibly can also talk about when we expect to have this available for people to try out.

Afte

[2022-03-02 20:36] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_sanity.system_ppc64le_linux_jit_Personal/277/`, various failures.

- `DaaLoadTest_daa3_CS_5m_0` (segfault, has failed earlier in the thread)
- `TestJlmLocal_0` (segfault)
- `TestJlmRemoteClassAuth_0` (segfault)
- `TestIBMJlmRemoteMemoryNoAuth_1` (segfault)
- `LambdaLoadTest_CS_5m_0` (segfault)
- `ParallelStreamsLoadTest_J9_1` (invalid path exception: nul character nut a

[2022-03-02 21:06] cjjdespres opened #14633 "cmdLineTester_fieldwatchtests_0: unexpected number of fields"
Failure link
------------

From internal build `job/Test_openjdk8_j9_extended.functional_ppc64le_linux_jit_Personal/271/`. [Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.functional&TEST_FLAG=JITAAS&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&TKG_OWNER_

[2022-03-02 21:14] vijaysun-omr commented on #14620
Okay, that sounds like a practical approach. We need to get the broad articles done before the beta and then the rest roll in afterwards. @tajila there may be some text from disclosure documents and such that we have written internally that perhaps could be used to serve as a starting point for these broad articles ?

[2022-03-02 23:16] knn-k commented on #14609
Who can review PR #14622?
It passes sanity.functional on all the platforms except Windows.  I didn't run the test on Windows due to limited machine resource.

[2022-03-02 23:56] knn-k commented on #14621
This happened also in JDK next: https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_extended.system_aarch64_mac_Nightly/1/

[2022-03-03 00:12] knn-k opened #14635 "AArch64 macOS: Intermittent failure in SC_Softmx_JitAot_0 test"
Failure link
------------
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Release/1/
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_mac_Nightly/2/

Failure output (captured from console output)
---------------------------------------------

Workload process jvm1 terminates unexpectedly at Step 6 in SC_Softmx_JitAot_0.

[code]

[2022-03-03 00:27] pshipton commented on #14609
This can be tested on Window, just run it now before the nightly builds, or late in your day so it doesn't expire before the nightly builds finish. I temporarily reduced the nightly build test load for Windows yesterday so the machines are less busy now.

[2022-03-03 00:28] pshipton commented on #14609
Also I see we have more Windows machines back online now.

[2022-03-03 00:38] pshipton commented on #14635
Note the actual failure is in https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_mac_Nightly_testList_2/2/

There is an artifact https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.system_aarch64_mac_Nightly_testList_2/2/system_test_output.tar.gz

4.jvm1.stderr shows
[code]

[2022-03-03 01:16] pshipton commented on #14618
@jaridk what JVM are you looking for this in?

[2022-03-03 01:26] knn-k opened #14636 "AArch64 macOS: Failure in JDK 11 java/lang/invoke/VarHandles/VarHandleTestByteArrayAsInt"
Failure link
------------
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_mac_Nightly/2/

Optional info
-------------

- intermittent failure: yes
- regression or new test: regression

Failure output (captured from console output)
---------------------------------------------
No output available: Only `Unexpected exit from test [exit code: 255]`
https://openj9-jenkin

[2022-03-03 01:30] pshipton commented on #14503
I'll keep this open until we decide if we are going to backport the fix.

[2022-03-03 01:36] pshipton commented on #14636
May be related to https://github.com/eclipse-openj9/openj9/issues/13368

[2022-03-03 01:37] pshipton commented on #14636
Ignore the previous comment, there is additional output

[code]

[2022-03-03 01:38] pshipton commented on #14636
Also artifacts https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.openjdk_aarch64_mac_Nightly/2/openjdk_test_output.tar.gz

[2022-03-03 03:50] knn-k commented on #14636
I ran Grinder jobs below, and they were successful.
- https://openj9-jenkins.osuosl.org/job/Grinder/689/
- https://openj9-jenkins.osuosl.org/job/Grinder/690/

[2022-03-03 12:49] pshipton commented on #947
All the pieces are merged, I expect this can be closed.

[2022-03-03 12:55] #947 closed

[2022-03-03 12:59] jaridk commented on #14618
I'm a WebSphere Application Server support guy, so IBM/J9 Java 8+ would be ideal. No time/fixpack requests, although the fact that it looks like it's already scheduled to show up in a refresh is surpassing my wildest expectations on that front already.

[2022-03-03 13:02] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly_testList_2/216 - [cent6-x64-1](https://openj9-jenkins.osuosl.org/computer/cent6-x64-1)
ConcurrentLoadTest_5m_0
[code]

[2022-03-03 13:09] pshipton commented on #14626
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/221 - [osx1011-x86-1](https://openj9-jenkins.osuosl.org/computer/osx1011-x86-1)
cmdLineTester_lockWordAlignment_Object_ii_0 `NoOptions`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/221/functional_test_output

[2022-03-03 13:10] pshipton commented on #14626
There was an earlier crash reported at https://github.com/eclipse-openj9/openj9/issues/7247#issuecomment-1055488811

[2022-03-03 13:18] pshipton commented on #14626
@0xdaryl fyi. Not sure if it means anything, but starting 2 days ago there is a crash with `Symbol=__findenv` every day. Previously looking at https://github.com/eclipse-openj9/openj9/issues/7247 it was more like 1 a month.

What changed 2 days ago is
https://github.com/eclipse-openj9/openj9/compare/f4b469e1391c22c144...84e6f5ffa88
https://github.com/eclipse-openj9/openj9-omr/compare/311e9c77589d7

[2022-03-03 13:22] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly_testList_2/224 - [mac10-x86-2](https://openj9-jenkins.osuosl.org/computer/mac10-x86-2)
MiniMix_aot_5m_0 `NoOptions`

[code]

[2022-03-03 14:05] pshipton opened #14639 "OpenJDK util/stream/WhileOpStatefulTest testCountTakeWithCount RuntimeException"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/224
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/stream/test/org/openjdk/tests/java/util/stream/WhileOpStatefulTest.java

[code]

[2022-03-03 14:14] pshipton commented on #14142
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64le_linux_OpenJDK17_testList_0/20 - ub16p8j91
J9vmTest_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.functional_ppc64le_linux_OpenJDK17_testList_0/20/functional_test_output.tar.gz
[code]

[2022-03-03 14:15] pshipton commented on #14142
@0xdaryl @tajila fyi. Not sure if this is related to https://github.com/eclipse-openj9/openj9/pull/14561, hot for service, which fixes an unknown regression.

[2022-03-03 14:25] #14473 closed

[2022-03-03 14:28] pshipton commented on #14473
Merging to 0.31 and 0.32 releases via
https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/27
https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/28

[2022-03-03 15:53] pshipton commented on #14142
Another one in an internal build (22_02u1) /job_output.php?id=28465084
SE80_GIT J9vmTest_3
j9vm.test.xlp.XlpOptionsTest

[2022-03-03 16:27] cjjdespres commented on #14551
I've been trying to run the tests to confirm that my commits actually work, and I don't think I've been configuring them correctly. E.g. in [this build](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/21517/) I get

[code]

which I think is because openj9 f06af2d55 is too old. But in that build I set the openj9 SHA to 93fef02044fc74ac4ca13f19f597f668963256f0, so I must be doing something w

[2022-03-03 16:44] pshipton commented on #14503
Fix is merged in head, 0.31, 0.32

[2022-03-03 16:44] #14503 closed

[2022-03-03 16:52] tajila opened #14642 "CRIU: Address isCheckpointAllowed bootstrapping issues"
Current, if one calls `isCheckpointAllowed` before `isCRIUSupportEnabled` this may result in a linkage error.

To fix this we should rename the native to add `impl` and create a new wrapper `isCheckpointAllowed` that calls `isCRIUSupportEnabled` before calling the native.

Also, in `checkpointJVM` we should use `isCheckpointAllowed` instead of `isCRIUSupportEnabled`

[2022-03-03 16:52] tajila commented on #14642
@JasonFengJ9 can you take a look at this? Not a big change

[2022-03-03 17:02] JasonFengJ9 commented on #14642
sure, will look into it.

[2022-03-03 19:40] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_linux_aot_Personal_testList_0/10

[2022-03-03 20:38] #14551 closed

[2022-03-03 21:03] ashbm5 commented on #14597
code fix merged for jdk19

[2022-03-04 13:40] pshipton commented on #13803
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/227/ - [win2012-x86-7](https://openj9-jenkins.osuosl.org/computer/win2012-x86-7)
SharedClassesAPI_1

[code]
[code]

[2022-03-04 13:44] pshipton commented on #14626
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_mac_Nightly_testList_1/210/

[2022-03-04 13:45] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/222 - [osx1013-x86-4](https://openj9-jenkins.osuosl.org/computer/osx1013-x86-4)
jdk_util_0
java/util/EnumSet/EnumSetBash.java

[2022-03-04 13:50] pshipton opened #14649 "OpenJDK util/stream/CollectAndSummaryStatisticsTest error: incompatible types: cannot infer type-variable(s)"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/228
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/stream/test/org/openjdk/tests/java/util/stream/CollectAndSummaryStatisticsTest.java
[code]

[2022-03-04 13:51] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/173/

[2022-03-04 13:55] pshipton commented on #13803
Machine problems on win2012-x86-5. There were similar issues yesterday as well. This machine needs a reboot.

https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_x86-64_windows_Nightly/11/
    java/lang/ProcessHandle/TreeTest.java.TreeTest
    java/lang/ProcessHandle/TreeTest.java.TreeTest
    java/lang/StringBuffer/HugeCapacity.java.HugeCapacity
    java/lang/StringBuffer/HugeC

[2022-03-04 14:02] pshipton opened #14650 "jdk19 failing to start, something in constant pool has been removed"
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/252/
All platforms failing to run.
[code]

https://github.com/eclipse-openj9/openj9/blob/master/runtime/jcl/common/jclcinit.c#L328

Something in the constant pool has been removed.

Changes:
https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/05bd71c2e61a79a...218a7229e7067aeca8f774

@JasonFengJ9

[2022-03-04 14:44] tajila commented on #14142
@JasonFengJ9 Have we only seen this on PPC?

[2022-03-04 15:00] JasonFengJ9 commented on #14142
Initial assertion reported was on JDK8 MacOS `job/Test_openjdk8_j9_extended.openjdk_x86-64_mac/29`/(`mac11x64rt02`).

[2022-03-04 15:11] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_sanity.functional_x86-64_linux_jit_Personal/898/`, failures in:

- `cmdLineTester_jvmtitests_debug_10`
- `cmdLineTester_jvmtitests_debug_11`
- `cmdLineTester_jvmtitests_debug_openj9_none_SCC_3`
- `cmdLineTester_jvmtitests_debug_openj9_none_SCC_5`
- `cmdLineTester_jvmtitests_debug_openj9_none_SCC_7`
- `cmdLineTester_jvmtitests_debug_openj9_none_SCC_8`
- `cmdLineTester_jv

[2022-03-04 15:39] JasonFengJ9 commented on #14650
Assigning to @keithc-ca since he is working on https://github.com/eclipse-openj9/openj9/pull/14652

[2022-03-04 16:15] #14566 closed

[2022-03-04 16:31] #14609 closed

[2022-03-04 17:57] JasonFengJ9 commented on #14505
Also observed at JDK17 - `job/Test_openjdk17_j9_extended.openjdk_ppc64_aix/47/` (`paix907`)

[2022-03-04 18:37] JasonFengJ9 opened #14654 "java.nio.charset.CoderMalfunctionError: IllegalArgumentException: newPosition > limit: (2 > 1) & NPE Cannot invoke "java.nio.Buffer.arrayOffset()" because "dst" is null"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_x86-64_mac/44/`(`mac11x64rt06 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_nio_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=

[2022-03-04 20:51] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_extended.functional_ppc64le_linux_jit_Personal/199/`, failure in `testSCCacheManagement_0`. "Invalid number of cache found".

Console log:

[code]

Haven't attempted to reproduce.

[2022-03-04 20:57] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_extended.functional_x86-64_linux_jit_Personal/281/`, failures in

- `testDefaultDisclaimMemory_2`
- `TestFileLocking_SE80_0`

Both segmentation faults with similar stack traces. Console log for `testDefaultDisclaimMemory_2`

[code]

Console log for `TestFileLocking_SE80_0`

[code]

Haven't attempted to reproduce.

[2022-03-04 21:10] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_sanity.functional_x86-64_linux_jit_Personal/899/`, various failures, all segfaults. The following have been observed and reproduced in https://github.com/eclipse-openj9/openj9/issues/14538#issuecomment-1059247150

- `cmdLineTester_jvmtitests_debug_10`
- `cmdLineTester_jvmtitests_debug_11`
- `cmdLineTester_jvmtitests_debug_openj9_none_SCC_3`
- `cmdLineTester_jvmtitests_d

[2022-03-04 22:39] JasonFengJ9 commented on #6552
`job/Test_openjdk18_j9_special.system_aarch64_linux_testList_1/21/`(`ub18-aarch64-2`)
[code]

[2022-03-04 23:12] knn-k opened #14656 "Improve JIT memory protection on AArch64 macOS"
You need to call `pthread_jit_write_protect_np()` before and after writing to JIT code cache on AArch64 macOS.
JIT compiler currently calls the API in various places, and it is not easy to understand.

[2022-03-05 01:26] #14650 closed

[2022-03-07 00:11] knn-k commented on #14390
PR #14622 resolved the failures related to JVMTI extension functions in the master branch.  Functional tests are enabled back again.
SharedClassesAPI_0 is not enabled yet.

[2022-03-07 01:04] JasonFengJ9 opened #14660 "JDK17.0.2.0 CE java/lang/StackWalker/DumpStackTest.java RuntimeException: StackTraceElements mismatch at index 3"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_testList_0/81/consoleFull`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_sanity.openjdk_ppc64_aix&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&

[2022-03-07 01:47] knn-k commented on #14502
This failure is still reproducible after #14622 is merged.

[2022-03-07 02:26] Mesbah-Alam commented on #14349
The issue seems to have reappeared here: https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_testList_1/84/testReport/junit/java_lang_ClassLoader_nativeLibrary_NativeLibraryTest/java/NativeLibraryTest/

[code]

JDK version:

[code]

[2022-03-07 05:01] knn-k commented on #14455
Locals compaction has been implemented and enabled on AArch64 by https://github.com/eclipse/omr/pull/6387 and related PRs.
Thanks to @Akira1Saitoh

[2022-03-07 05:04] knn-k commented on #5910
@Akira1Saitoh has implemented and enabled locals compaction on AArch64 by https://github.com/eclipse/omr/pull/6387 and related PRs.

[2022-03-07 05:33] knn-k commented on #14590
It seems I need to add `pthread_jit_write_protect_np()` calls somewhere.
Related Issue: #14656

[2022-03-07 05:39] gita-omr commented on #14595
I think I found the problem. It's not an issue of `VectorAPIExpansion` handling `prepareForOSR` but the fact we now have some VSR registers live across a call. Code in [1] adds 32 VSR registers to the dependencies. However code in [2] only allocates space for 20.  I have not seen the failure since I changed it to 32.

@zl-wang do you think it would be the right fix? I would also consider making AS

[2022-03-07 08:57] knn-k commented on #14502
The code generated by `generateFillInDataBlockSequenceForUnresolvedField()` tries to write to data snippet in the code cache.

[2022-03-07 12:57] pshipton commented on #14660
This is a test mismatch then, the fix https://github.com/eclipse-openj9/openj9/pull/3627 is only merged in 0.31 and later so the test is expected to fail on 17.0.2 / 0.30

[2022-03-07 12:57] #14660 closed

[2022-03-07 13:58] zl-wang commented on #14595
@gita-omr  that looks like not the right fix.  the right fix should follow what we did for FPRs and GPRs, i.e. besides accounting for the number of vector argument registers used in that instance, then putting the rest of **volatile**  (in SystemLinkage, that is) vector registers on dependency (i.e.  to prepare for the possibility that they are trashed by the callee).  For preserved vector registe

[2022-03-07 14:26] ashbm5 opened #14662 "Security Model for CRIU"
CRIU checkpoint/restore jdk feature requires specialized security models to mitigate possible security vulnerabilities due to the persistent storage of unknown cryptographic/security related state.

[2022-03-07 15:28] pshipton opened #14663 "SC_Softmx_JitAot crash"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_aarch64_linux_Nightly_testList_2/109
SC_Softmx_JitAot_Linux_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_aarch64_linux_Nightly_testList_2/109/system_test_output.tar.gz
[code]

16.jvm4.stderr
[code]

Changes from previous build
htt

[2022-03-07 15:31] pshipton commented on #13803
Maybe related? Test on [win2012-x86-6](https://openj9-jenkins.osuosl.org/computer/win2012-x86-6) `Terminating on signal SIGTERM(15)`

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/228
SharedClasses.SCM23.MultiThread_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

[2022-03-07 15:38] pshipton commented on #10489
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-64_mac_Nightly_testList_1/225 - [osx1014-x86-3](https://openj9-jenkins.osuosl.org/computer/osx1014-x86-3)
DaaLoadTest_daa2_CS_5m_0 `-Xgcpolicy:gencon -Xgc:concurrentScavenge`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.system_x86-64_mac_Nightly_testList_1/225/system_test_output.ta

[2022-03-07 15:42] pshipton commented on #13803
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/229/ - [win2012-x86-7](https://openj9-jenkins.osuosl.org/computer/win2012-x86-7)
SharedClassesAPI_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/229/system_test_output.tar.gz

67.WL3.stderr
[code]

[2022-03-07 15:44] pshipton commented on #5450
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly_testList_1/225
TestJps_SE80_0

[code]

[2022-03-07 15:46] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly_testList_2/226
ConcurrentLoadTest_5m_2 Mode1000

[code]

[2022-03-07 15:56] pshipton commented on #14636
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_aarch64_mac_Nightly_testList_0/3 - [mac11-aarch64-8](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-8)
LambdaLoadTest_J9_5m_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.system_aarch64_mac_Nightly_testList_0/3/system_test_output

[2022-03-07 16:01] pshipton opened #14664 "OpenJDK crash in gethostbyaddr_r"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/229 - [ub16-ppcle-1](https://openj9-jenkins.osuosl.org/computer/ub16-ppcle-1)
jdk11_tier1_buffer_1 `-XX:-UseCompressedOops`

[code]

[2022-03-07 16:28] pshipton opened #14665 "OpenJDK ProcessHandle/OnExitTest crash vmState=0xffffffff"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/230 - [win2012-x86-5](https://openj9-jenkins.osuosl.org/computer/win2012-x86-5)
jdk_lang_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops`
java/lang/ProcessHandle/OnExitTest.java

[code]

[2022-03-07 16:29] pshipton commented on #14665
@dmitripivkine we're having some issues on Windows because the machines haven't been restarted in a while. There may be processes left running, or low swap space. However crashing the GC and `vmState=0xffffffff` seems weird.

[2022-03-07 16:31] pshipton commented on #13803
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64_windows_Nightly_testList_0/173/ - [win2012-x86-7](https://openj9-jenkins.osuosl.org/computer/win2012-x86-7)
SharedClassesAPI_0

[2022-03-07 16:33] pshipton commented on #14067
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_Nightly/173/ - [cent7-x64-1](https://openj9-jenkins.osuosl.org/computer/cent7-x64-1)
jdk_util_0
java/util/ResourceBundle/UTF8Properties/CodePointTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_Nightly/173/openjdk_test_output.tar.gz
[code]

[2022-03-07 16:34] pshipton commented on #13803
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/175/ - [win2012-x86-2](https://openj9-jenkins.osuosl.org/computer/win2012-x86-2)
java/lang/StringBuffer/HugeCapacity.java

[2022-03-07 16:37] pshipton commented on #14635
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_2/3 - [mac11-aarch64-2](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-2)
SC_Softmx_JitAot_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_2/3/system_test_output.tar.gz

[2022-03-07 16:40] pshipton opened #14666 "OpenJDK util/concurrent/locks/Lock/FlakyMutex timeout"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_aarch64_linux_Nightly/12/
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/concurrent/locks/Lock/FlakyMutex.java

[code]

[2022-03-07 16:44] pshipton commented on #13803
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_x86-64_windows_Release/3/ - [win2012-x86-5](https://openj9-jenkins.osuosl.org/computer/win2012-x86-5)
    java/lang/ProcessBuilder/Basic.java#id0.Basic_id0
    java/lang/ProcessHandle/TreeTest.java.TreeTest
    java/lang/ProcessHandle/TreeTest.java.TreeTest
    java/lang/StringBuffer/HugeCapacity.java.HugeCapacity
    java/lang

[2022-03-07 16:47] gita-omr commented on #14595
@zl-wang , thanks, yes that makes sense. I'll just add `!properties.getPreserved((TR::RealRegister::RegNum)i)`  around [1]

[1] https://github.com/eclipse/omr/blob/d222e053682e681302eeaeed393256ae2d9fbefd/compiler/p/codegen/PPCSystemLinkage.cpp#L1374

[2022-03-07 17:03] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_extended.functional_x86-64_linux_jit_Personal/290/`, failures in

- `testOSMXBeanRemote_1`
- `TestManagementAgent_0`

Both fail because the tests fail to connect to the remote server that was created. Console log for `testOSMXBeanRemote_1`:

[code]

Haven't attempted to reproduce.

[2022-03-07 17:11] pshipton commented on #14349
It doesn't "reappear", the older code stream doesn't contain the fix https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/65.

[2022-03-07 20:16] #14251 closed

[2022-03-07 20:31] tajila commented on #13545
@JasonFengJ9

1) We need to add the concept of an immutable env var list `Set<String>`. This is a list of env vars that cannot be modified between checkpoint and restore. The immutable list will start with `LANG, LC_ALL and LC_CTYPE`.

2) A property `-Dorg.eclipse.openj9.criu.ImmutableEnvVars=[env_var_name1, ...env_var_nameN]` will be added to append env vars to the immutable list

3) If the JVM i

[2022-03-07 20:36] cjjdespres commented on #14538
Regarding the `cmdLineTester_jvmtitests` failures, I noticed that in https://github.com/eclipse-openj9/openj9/issues/13421 largely the same tests were failing. (Those were resolved by https://github.com/eclipse-openj9/openj9/pull/13425). Were those failures ultimately unrelated to JITServer?

They first started failing in `job/Test_openjdk11_j9_sanity.functional_x86-64_linux_jit_Personal/898/`, wh

[2022-03-07 20:56] dmitripivkine commented on #14665
At the moment of crash `MM_GlobalCollector` and it's child `MM_GlobalCollectorDelegate` are NULL (teared down already).
[code]
An `MM_GlobalCollectorDelegate::_extensions` field is NULL, so this leads to crash
Windbg does not show rest of the stack, `MM_ParallelGlobalGC::tearDown()` is called from  `MM_ConcurrentGC::tearDown()` from `MM_ConcurrentGCIncrementalUpdate::tearDown()` from _extensions->

[2022-03-07 21:45] mpirvu commented on #14538
No, those failure were actually caused by JITServer.

[2022-03-07 23:33] anuragagarwal561994 commented on #12754
Hello, not sure if the issue is related but I am reading wrong tenured-LOA value after upgrading to java-11 in GC Notification.

This is java-8 same code:

<img width="1138" alt="Screenshot 2022-03-08 at 4 44 26 AM" src="https://user-images.githubusercontent.com/6075379/157135572-62ea5c0a-46d6-42dd-9231-d34cff72bc99.png">

This is java-11 same code:

<img width="1138" alt="Screenshot 2022-03-08 at

[2022-03-08 01:04] 0xdaryl commented on #14142
@mpirvu : could you (or a delegate) triage this failure please?

[2022-03-08 01:28] gita-omr commented on #14595
Fix is here: https://github.com/eclipse/omr/pull/6398

[2022-03-08 04:14] nbhuiyan commented on #14395
I have continued my investigation of this issue over the past week. My investigation over the last week involved trying to run the test in a debugger, with a break inserted at at the start of `DirectMethodHandleAccessor.invoke` in an attempt to land there right before the NPE is thrown. However, the problem was not reproducible in a debugger.

@jdmpapin , and I investigated cores obtained via `-Xd

[2022-03-08 04:40] 1a2s3d4f1 commented on #12754
@anuragagarwal561994 It a relate issue. @LinHu2016 Could you see that isssue?

[2022-03-08 04:46] mpirvu commented on #14142
The assert comes from this code:
[code]
In `shouldActivateNewCompThread()` we can return YES if there is none of the threads is active:
[code]
If `getNumUsableCompilationThreads() <=  getNumCompThreadsActive()`, we return NO, because all threads are active, so there is nothing else to activate.
I see the possibility of drawing the wrong conclusion during shutdown. An active thread can have any of

[2022-03-08 05:12] knn-k commented on #14663
I tried reproducing the failure locally.  One timeout in 10x run.

[2022-03-08 08:22] Akira1Saitoh commented on #14663
I was able to reproduce the problem with internal Grinder  (`/job/Grinder/21613/`).
I used the personal build with following SHAs.

[code]

[2022-03-08 08:56] knn-k commented on #14663
The result above means the AArch64 change https://github.com/eclipse/omr/pull/6379 (merged last Friday) has nothing to do with the test failure.

[2022-03-08 12:41] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_ppc64_aix_Nightly/13

[2022-03-08 12:58] pshipton opened #14674 "OpenJDK java/lang/String/StringRepeat.java#id1 OutOfMemoryError: Java heap space"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_x86-64_windows_Nightly/14/ - [win2012-x86-2](https://openj9-jenkins.osuosl.org/computer/win2012-x86-2)
jdk_lang_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops`
java/lang/String/StringRepeat.java#id1

https://openj9-artifactor

[2022-03-08 13:01] pshipton commented on #14635
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_2/5
SC_Softmx_JitAot_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_2/5/system_test_output.tar.gz

[2022-03-08 13:14] pshipton commented on #14674
With the default parameters there is no system dump created.

[2022-03-08 13:21] pshipton commented on #14674
javacore info
[code]
[code]

[2022-03-08 13:23] pshipton commented on #14674
I see `Failed to commit memory`, looks like a machine problem. Closing as a dup of https://github.com/eclipse-openj9/openj9/issues/13803

[2022-03-08 13:23] #14674 closed

[2022-03-08 13:23] pshipton commented on #13803
https://github.com/eclipse-openj9/openj9/issues/14674 - [win2012-x86-2](https://openj9-jenkins.osuosl.org/computer/win2012-x86-2)

[2022-03-08 13:50] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly_testList_1/223
TestIBMJlmRemoteClassAuth_0
[code]

[2022-03-08 14:39] tajila opened #14676 "CRIU: address bootstraping issue"
Some CRIU operations are needed very early

[code]

The fact that these are all in the criu module means we need to resort to alternative means to access them.

These essential APIs should be moved to java.base under `jdk.internal.criu` and we can export this package to openj9.criu

[2022-03-08 14:40] tajila commented on #14676
FYI @jason-hall This will simplify what we are doing for the env vars as well as th security changes

[2022-03-08 14:48] LinHu2016 commented on #12754
Thanks @anuragagarwal561994 @1a2s3d4f1 , I will double check the difference, BTW Do you mean that promoted bytes = (tenured-soa + tenured-loa) [**after gc - before gc**] for scavenge?

[2022-03-08 14:48] JasonFengJ9 commented on #14676
How about `openj9.internal.criu` since CRIU is an OpenJ9 specific feature?

[2022-03-08 15:22] 0xdaryl commented on #14395
@vij-singh : the workaround proposed above just treats the symptom of the problem and not the cause.  Unfortunately, we don't know the cause yet despite some heroic efforts to diagnose this.  I'm not comfortable applying a workaround until we understand why it causes the problem to not occur.

[2022-03-08 15:31] dmitripivkine commented on #14665
Also there is no evidence Gagbage Collector initialization fails - `gcextensions->heapInitializationFailureReason` is still be set to zero (no error)

[2022-03-08 16:59] hangshao0 commented on #14593
Updated the description with more restrictions regarding `ACC_PERMITS_VALUE`.

[2022-03-08 18:24] tajila commented on #14676
Thats fine as well

[2022-03-08 20:00] cjjdespres commented on #14142
I ran a 150x grinder of the original failure `jdk_io_1` for both JDK8 (`job/Grinder/21637/`) and JDK11 (`job/Grinder/21636/`) on `ppc64le_linux` with a recent SDK and didn't observe any failures. Did you want me to look at any of the other tests, or try something else with that particular test?

[2022-03-08 20:06] mpirvu commented on #14142
I was afraid it was hard to reproduce. Let's do this: deliver a PR which  adds more diagnostic info to that fatal assert and get a crack at loading the available coredump into gdb to see if we are in shutdown mode.

[2022-03-08 20:15] pshipton commented on #13803
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_0/229/ - [win2012-x86-6](https://openj9-jenkins.osuosl.org/computer/win2012-x86-6)
SharedClassesAPI_0

[2022-03-08 21:50] nbhuiyan commented on #14395
@babsingh, @JasonFengJ9, since you were involved in the JEP 416 work, I was wondering if you could share some insight into the problem we are seeing here. In the JIT-ed code, the NPE is thrown in the inner-most frame in the stack trace in the Java core above, `com/ibm/dataaccess/ByteArrayMarshaller.writeShort`. In the outer call frames leading up to `jdk/internal/reflect/DirectMethodHandleAccessor

[2022-03-08 22:13] gacholio commented on #13192
@vijaysun-omr Will it remain true that SA objects will only ever appear in compiled frames, or will the peeking allow potential escape into interpreted frames?

[2022-03-08 22:42] JasonFengJ9 commented on #12490
This was addressed via https://github.com/eclipse-openj9/openj9/pull/14365 & https://github.com/eclipse-openj9/openj9/pull/14573

[2022-03-08 22:42] #12490 closed

[2022-03-08 22:42] knn-k commented on #14663
20x Grinder job https://openj9-jenkins.osuosl.org/job/Grinder/694/ was successful, using the following nightly build of March 2:
[code]

[2022-03-08 22:53] vijaysun-omr commented on #13192
References to stack allocated objects can escape to peeked methods (that may be interpreted), so parm/local variables in the callee method frame (interpreted) could point to stack allocated objects living in the caller method frame (compiled).

[2022-03-08 23:21] gacholio commented on #13192
OK, I'll update the code to allow for this. Presumably you won't do this if any interesting capabilities are hooked (putstatic/putfield/inspect locals).

[2022-03-08 23:59] babsingh commented on #14395
The reflection API has not changed. The behaviour should be the same with JEP416 enabled.

The `LambdaForm` frames need to be hidden for `AccessorUtils.isIllegalArgument` to function correctly. #3627 hides those frames.

In https://github.com/eclipse-openj9/openj9/issues/14395#issuecomment-1061388037, I still see the frames which should have been hidden by #3627.  In this case, the methods in the

[2022-03-09 00:03] babsingh commented on #14395
@nbhuiyan Would know the location of the test source code: `TestShort2ByteArrayNumBytes.testNullByteArray`?

[2022-03-09 00:04] vijaysun-omr commented on #13192
What would the effect of hooking those capabilities be on the JIT ? Would the JIT be put into FSD mode ?

[2022-03-09 00:06] knn-k commented on #14663
20x Grinder job https://openj9-jenkins.osuosl.org/job/Grinder/697/ was successful, using the following nightly build of March 4:

[code]

[2022-03-09 00:10] babsingh commented on #14395
https://github.com/eclipse-openj9/openj9/pull/3627 only does the changes in `runtime/vm/swalk.c::walkFrame`. We will need to do identical changes in `runtime/codert_vm/jswalk.c`. @gacholio Is this true? Are there any other locations where similar JIT support is needed?

[2022-03-09 00:17] gacholio commented on #13192
Yes, all of the ones I mentioned will force FSD.

https://github.com/eclipse-openj9/openj9/blob/e21b7d855ea019f967e444db35a06a75137cb723/runtime/compiler/control/J9Options.cpp#L2542-L2559

[2022-03-09 00:27] gacholio commented on #14395
No more changes are needed - hopefully I would have caught that when I reviewed the code.

Do you have something specific in mind that I may have overlooked?

[2022-03-09 00:33] babsingh commented on #14395
I assumed more changes are needed just by observation. In https://github.com/eclipse-openj9/openj9/issues/14395#issuecomment-1061388037, I still see the following hidden frames which should have been skipped by https://github.com/eclipse-openj9/openj9/pull/3627:
[code]

[2022-03-09 00:43] nbhuiyan commented on #14395
@babsingh

It is located in the openj9-systemtest repo: [`TestShort2ByteArrayNumBytes.testNullByteArray`](https://github.com/eclipse-openj9/openj9-systemtest/blob/8424866c657ed126aa87181f7970700b4fc5ad07/openj9.test.daa/src/test.daa/net/openj9/test/binaryData/TestByteArray2ShortNumBytes.java#L525)

There are many other `testNullByteArray`s in other classes in that directory where the failure can b

[2022-03-09 00:44] gacholio commented on #14395
All of the reporting goes via `walkFrame`, including inlined JIT frames, so I don't know why those would not be skipped if they're marked correctly.

[2022-03-09 00:52] gacholio commented on #14395
I think there needs to be a similar change made to the exception backtrace decoder. The changes made only affect the walk of the stack - exception backtraces contain only a single PC for a compiled frame, which may contain any number of inlined frames.

The code as it stands would eliminate all of the frames if the outer method was marked, which would result in incorrectly missing frames if the in

[2022-03-09 00:55] knn-k commented on #14636
20x Grinder job for LambdaLoadTest_J9_5m_0 did not fail: internal job/Grinder/21639/

[2022-03-09 00:55] fengxue-IS commented on #14395
#3627 added a new stackwalk flag `J9_STACKWALK_SKIP_HIDDEN_FRAMES` which need to be specified to skip the hiddenframes, I have only added this flag for Java API's used to get exception stacktrace. if we expect the javacore info to also skip hiddenframes, then this flags should be added at the caller generating the dump

[2022-03-09 00:56] gacholio commented on #14395
I would recommend against removing any frames from javacores - they need to be a detailed and correct as possible.

[2022-03-09 01:02] babsingh commented on #14395
@gacholio Can you point us to the code for `backtrace decode logic`?

[2022-03-09 01:04] nbhuiyan commented on #14395
@babsingh

Looking at the implementation of `isIllegalArgument`, I am not sure I understand how the presence of LamdaForm frames is causing the test failures. It returns true or false and depending on that the exception that was caught in `DirectMethodHandleAccessor.invoke` would be rethrown as `IllegalArgumentException` or `InvocationTargetException`.

[2022-03-09 01:07] gacholio commented on #14395
Remove the changes in `BytecodeInterperer.hpp` and add an option to check hidden here:
https://github.com/eclipse-openj9/openj9/blob/e21b7d855ea019f967e444db35a06a75137cb723/runtime/vm/exceptiondescribe.c#L222-L236
The other option is to leave the decode logic alone and add the check in the appropriate callers, but it seems cleaner to add the option here.

[2022-03-09 02:55] fengxue-IS commented on #14395
@nbhuiyan If you look at the impl of Junit's `ReflectiveCallable.run` [here](https://github.com/junit-team/junit4/blob/main/src%2Fmain%2Fjava%2Forg%2Fjunit%2Finternal%2Frunners%2Fmodel%2FReflectiveCallable.java#L13), the test code will unwrap the `InvocationTargetException` so the issue seem to be still `isIllegalArgument` returning `true` causing IAE. The correct stacktrace should return `false`

[2022-03-09 03:24] Akira1Saitoh commented on #14663
I could reproduce the problem with the following build, which is the same one as above comment. (`job/Grinder/21642/`)

[code]

[2022-03-09 03:41] #14567 closed

[2022-03-09 04:19] hzongaro commented on #13192
@gacholio As an aside, I just wanted to let you know that I'll be starting on the JIT portion of the work in the next couple of days.

[2022-03-09 05:25] knn-k commented on #14636
Possible causes:
- `MM_ParallelTask::synchronizeGCThreadsAndReleaseSingleThread()` finishes too early
- Values returned from `omrtime_hires_clock()` wrong or imprecise
- `_syncCriticalSectionDuration` has unexpected value

[2022-03-09 05:53] gacholio commented on #13192
I expect to have my current code committed by end of week. Note that the new functionality is gated by a command line option `-XX:+DynamicHeapification`. The test for the feature will be `J9_ARE_ANY_BITS_SET(vm->runtimeFlags, J9_RUNTIME_DYNAMIC_HEAPIFICATION)`.

[2022-03-09 06:01] gacholio commented on #13192
Also, I'm not sure there's any value (to the JVMTI code) in marking metadata as having peeked. Since the SA objects are allowed to appear in other frames, I don't think I would be able to compute the minimal set of heapified objects without multiple passes over the stack. As a result, I think heapifying all SA objects at HCR is the approach we should take.

The only performance impact of moving SA

[2022-03-09 06:05] gacholio commented on #14395
The way `iterateStackTrace` is implemented (passing a NULL callback to get the count), I think the hidden test has to reside in the iterator and not the callers (or else the callback would have to be change to return whether or not the frame "counts" or not).

[2022-03-09 07:49] knn-k commented on #14635
Reproduced in 20x Grinder job: https://openj9-jenkins.osuosl.org/job/Grinder/699/ (JDK 18)
I also reproduced the failure locally: 2/50.

[2022-03-09 08:53] Akira1Saitoh commented on #14663
I took a look at core file of` job/Grinder/21642/`.
It crashed in `omrthread_monitor_enter`. There is `cancelLockReservation` in stacktrace, but we do not have lock reservation implemented on aarch64.

[code]

The method calling out to `jitMonitorEntry` was `net/adoptopenjdk/test/nio/NioBuffersTest$Buffers$BufferThread.run()V`.

[code]

It seems the object passed to `jitMonitorEntry` (which was in

[2022-03-09 13:56] pshipton opened #14681 "DBBLoadTest_5m_0 OutOfMemoryError: Direct buffer memory"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_ppc64_aix_Nightly_testList_0/223 - [p8-java1-ibm06](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm06)
DBBLoadTest_5m_0 `-XX:+UseCompressedOops `

[code]

[2022-03-09 14:00] pshipton commented on #14635
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_2/7/

Due to the high failure rate we should exclude this test if it can't be fixed soon.

[2022-03-09 14:01] pshipton commented on #14487
@ChengJin01 can you please exclude the test for aarch64_mac until it can be resolved.

[2022-03-09 14:26] vijaysun-omr commented on #13192
Yes I am fine with heapifying all SA objects at HCR, certainly at this stage. In the unlikely event that we need to do something better, we can re-visit that enhancement later but as you point out, it does'nt really feel like there would be a need since it only affects a few objects and invocations already in progress on the various threads.

Regarding not allowing any change to the existing limit

[2022-03-09 16:42] babsingh commented on #14395
re https://github.com/eclipse-openj9/openj9/issues/14395#issuecomment-1062337717:

I did few experiments. With `-Xint -Xshareclasses:none,noaot`, I was able to stop the failure.
[code]
Afterwards, I was unable to reproduce the failure just with `-Xint`.

**Other observations:**
- After reverting 18375ddb91fd2d9b3b59cccdb5bf466571b29bea (https://github.com/eclipse-openj9/openj9/pull/3627), the fail

[2022-03-09 16:51] pshipton commented on #14455
- Does locals compaction resolve this issue?
- Are all the changes merged in the head stream? The OMR change is promoted, not sure what the other PRs are.
- Are the changes being considered for 0.32?

[2022-03-09 17:02] jdmpapin commented on #14395
If the failure is caused by a bad interaction between hidden methods and JIT frames, -Xint should prevent the failure regardless of -Xshareclasses options, shouldn't it? With -Xint the JIT library isn't even loaded, so we should never have JIT frames

[2022-03-09 17:23] #14281 closed

[2022-03-09 17:36] ChengJin01 commented on #14487
@pshipton, the PR at https://github.com/adoptium/aqa-tests/pull/3442 has been created to exclude the test suite as it fails on macOS (including x86 and Aarch64)

[2022-03-09 17:38] jdmpapin commented on #14395
`-Xjit:... -Xint` does disable the JIT. Before writing my last comment, I confirmed that with -Xint we won't load the JIT library. The way that I confirmed that was by taking an existing Java command I had been running with an -Xjit option, and adding `-Xint -Xdump:system:events=vmstop` to the end. The loaded libraries in the core did not include libj9jit29.so

[2022-03-09 17:45] babsingh commented on #6811
### Related
- https://github.com/eclipse/omr/issues/1281
- https://github.com/eclipse-openj9/openj9/issues/14190

### References
- Control Group (cgroup) v2 documentation: https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html
- cgroup's man page: https://man7.org/linux/man-pages/man7/cgroups.7.html

[2022-03-09 17:46] #14618 closed

[2022-03-09 17:57] babsingh commented on #6811
### Port library API for `cgroup`

The below 13 functions are involved:

[code]

[2022-03-09 18:36] babsingh commented on #6811
### Next steps

1. We need to derive logic to distinguish between cgroup v1 and cgroup v2 entities using the references specified in https://github.com/eclipse-openj9/openj9/issues/6811#issuecomment-1063192011.
2. Evaluate if existing data structures, such as `OMRCgroupEntry`, `OMRCgroupMetricElement` and `OMRCgroupMetricIteratorState`, need to be updated in order to support cgroup v2.
3. Evaluate

[2022-03-09 19:27] nbhuiyan commented on #14395
I realized that the way I set up my options did not disable the JIT as the `-Xint` appeared before `-Xjit:...`, so my [comment](https://github.com/eclipse-openj9/openj9/issues/14395#issuecomment-1062337717) above can be disregarded.

[2022-03-09 19:31] pshipton opened #14685 "ThreadRegressionTests_3 WaitForAfterInterruptInSleep invalid received InterruptedException, assuming pass"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64_aix_Nightly_testList_0/226
ThreadRegressionTests_3
[code]

[2022-03-09 19:36] babsingh commented on #14395
I also mixed my test runs with `IBM_JAVA_OPTIONS`  which led to the `-Xint` failures because `IBM_JAVA_OPTIONS` are processed as the leftmost options. With `-Xint` as the rightmost option, I also confirm that the failures don't happen. https://github.com/eclipse-openj9/openj9/issues/14395#issuecomment-1063174752 can be ignored.

[2022-03-09 19:44] pshipton opened #14686 "OpenJDK util/ResourceBundle/Bug4168625Test SocketTimeoutException: Read timed out"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/232 - [ub18-390-1](https://openj9-jenkins.osuosl.org/computer/ub18-390-1)
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/ResourceBundle/Bug4168625Test.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/T

[2022-03-09 19:50] 0xdaryl opened #14687 "JIT RAS improvement ideas"
This epic tracks ideas to improve the RAS capabilities in the JIT.  In particular, new means of problem determination, diagnostics gathering, or modifications or extensions to existing features (e.g., limitfiles) to make problem determination easier.

There is already a parallel effort underway to improve the performance and reduce the memory footprint of the existing tracing and logging features

[2022-03-09 19:57] fengxue-IS commented on #14395
Given comments above, then the only case which fails is due to issue Gac has pointed out in https://github.com/eclipse-openj9/openj9/issues/14395#issuecomment-1062440373.
I will create a PR to address this.

[2022-03-09 20:26] fengxue-IS commented on #14395
@gacholio should I also remove the changes to all `fillInStackTrace` in #3627? Do other paths face the same issue with JIT inlined methods

[2022-03-09 20:45] anuragagarwal561994 commented on #12754
So from https://github.com/micrometer-metrics/micrometer/blob/main/micrometer-binders%2Fsrc%2Fmain%2Fjava%2Fio%2Fmicrometer%2Fbinder%2Fjvm%2FJvmGcMetrics.java

promotedBytes is a counter which is incremented as `final long delta = longLivedAfter - longLivedBefore`

longLivedAfter & longLivedBefore is calculated as `tenured-soa (used) + tenured-loa (used)`

[2022-03-09 21:03] 0xdaryl commented on #14455
I'd like this change to soak in master for a while.  Bugs here can be kind of subtle.  I think it can wait for 0.33.

[2022-03-09 21:03] fengxue-IS commented on #14395
I've also noticed that `iterateStackTrace` could be called during java core dump at https://github.com/eclipse-openj9/openj9/blob/2375a9769912d284ce141156754fe997cf277f6c/runtime/rasdump/javadump.cpp#L4443 , as per https://github.com/eclipse-openj9/openj9/issues/14395#issuecomment-1062442498, should the skip hidden frame flag be defined by caller of `iterateStackTrace` or does this case not affect

[2022-03-09 21:06] gacholio commented on #14395
My feeling is that we should not skip hidden frames in the javacore, but others may have a different opinion. @tajila @keithc-ca

[2022-03-09 21:08] gacholio commented on #14395
Yes, all `fillInStackTrace` changes must be removed.

[2022-03-09 21:19] keithc-ca commented on #14395
For clarity, I agree with [GAC's earlier comment](https://github.com/eclipse-openj9/openj9/issues/14395#issuecomment-1062442498) that all stack frames should be included in javacore files.

[2022-03-09 21:35] jdmpapin commented on #14395
I just want to mention that I think this also explains why -Xdump was triggered when `ByteArrayMarshaller.writeShort` threw NPE even though the filter was looking for `DirectMethodHandleAccessor.invokeImpl`. The `writeShort` and `testNullByteArray` frames aren't supposed to be hidden, but they were inlined into a JIT frame for a `LambdaForm`-generated `invoke`. The next frame out was also `LambdaF

[2022-03-09 22:10] nadeensami commented on #14616
I'd like to be assigned to this

[2022-03-09 23:21] #14642 closed

[2022-03-09 23:21] #14676 closed

[2022-03-10 00:02] knn-k commented on #14635
I opened https://github.com/adoptium/aqa-tests/pull/3446 for excluding this test.

[2022-03-10 00:17] knn-k commented on #14663
I reproduced the failure in https://openj9-jenkins.osuosl.org/job/Grinder/700/, using the following nightly binary of February 26.  It is not caused by a recent change.

[code]

[2022-03-10 00:43] Akira1Saitoh commented on #14663
Looks like there have been possibly related issues.
https://github.com/eclipse-openj9/openj9/issues/10984
https://github.com/eclipse-openj9/openj9/issues/9816

https://github.com/eclipse-openj9/openj9/issues?q=is%3Aissue+NioBuffersTest+

[2022-03-10 04:53] pshipton commented on #13764
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_mac_Nightly/7
java/util/logging/ParentLoggersTest.java
[code]

[2022-03-10 13:04] knn-k commented on #14390
I am going to open a PR for re-enabling JVMTI tests in SharedClassesAPI_0 after the release of v0.31.0.
I keep this issue open until then.

[2022-03-10 13:11] knn-k commented on #14636
Grinder jobs for jdk_lang_1 did not fail: job/Grinder/21661/, job/Grinder/21665/

[2022-03-10 13:17] pshipton opened #14692 "OpenJDK util/concurrent/ScheduledThreadPoolExecutor/GCRetention timeout 1/100 unqueued references remaining"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Nightly/176 - [osx1013-x86-4](https://openj9-jenkins.osuosl.org/computer/osx1013-x86-4)
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/concurrent/ScheduledThreadPoolExecutor/GCRetention.java

https://openj9-artifactory.osuosl.o

[2022-03-10 13:22] pshipton opened #14695 "OpenJDK util/DoubleStreamSums/CompensatedSums expected [true] but found [false]"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_ppc64_aix_Nightly/15 - [p8-java1-ibm11](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm11)
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/DoubleStreamSums/CompensatedSums.java
[code]

[2022-03-10 13:26] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_x86-64_mac_Nightly_testList_2/14
ConcurrentLoadTest_5m_1 `-XX:-UseCompressedOops`

[code]

[2022-03-10 14:07] cjjdespres commented on #14142
What sort of diagnostic information were you thinking about? Just printing the current mode to the log or stderr before crashing, or is there other relevant information to add?

[2022-03-10 14:46] mpirvu commented on #14142
Let's add  a shutdown flag in `CompilationInfo` and set it when `CompilationInfo::stopCompilationThreads()` is called (after we acquire CompMonitor). Then, in that fatal assert we would like to know:
- whether we are in shutdown mode
- The value of `getNumCompThreadsActive()`
- The value of `getNumUsableCompilationThreads()`

Ideally, we would also print the state of all compilation threads
[code]

[2022-03-10 15:42] tajila commented on #14067
The core above shows we are getting a corrupt ELS when returning from a JIT frame.

[code]

When we attempt to copy the args back on to the stack we crash with NULL as the `dest` arg to `memmove`

[2022-03-10 18:25] gacholio commented on #13192
One more thing we (or at least I) haven't considered until now is barriers on SA objects. Today the JIT can presumably ignore barriers on objects known to be stack-allocated. With the new code, you can't know if an object is SA or not, so barriers will need to be used.

@amicic brought this up as a possible concern in my code, but we'll have to consider it in general here.

[2022-03-10 19:28] gacholio commented on #13192
Two more assumptions I'm making on my side:

- No stack-allocated arrays of any kind
- No locked stack-allocated objects

Both of these can be addressed if need be - the array case is just some more clone code, so that's easy enough, and the locking case must necessarily only be possible for objects with an embedded lockword that does not exceed the flatlock boundary.

Another thing I'd like to ad

[2022-03-10 22:22] ehrenjulzert opened #14698 "Segfault in GC_VMThreadStackSlotIterator::scanSlots with vmState=0x0002000f"
Core dump: https://ibm.box.com/s/c5vptm6affrby6hcw1dym2jh9vks5mmz

This seems to be a JIT issue because when I run with `-Xint` the crash no longer happens

[code]

## Stack trace
[code]

## Reproducing

### Branches used:
- openj9 master 4b916e1d9e3064e0e10a8305b576420a7116fae0
- openj9-openjdk-jdk.valuetypes master ccabf53dc48df9d49fc9597938402f51a730d4fe
- omr master d095ceb789936dc48e35bcb8817

[2022-03-10 23:07] hangshao0 commented on #14698
I see a slightly different stack trace:

[code]

It happens in the slow path of `getFlattenedFieldAtOffset()`:
https://github.com/eclipse-openj9/openj9/blob/e1e0401e2fc38f0ef2b0307e91318907add666e9/runtime/vm/BytecodeInterpreter.hpp#L4027-L4036

The J9Method looks incorrect:

[code]

And `J9VMThread ->literals` is `0x8`
[code]

[2022-03-10 23:34] hangshao0 commented on #14698
So the code built a special frame and update the vm thread, then calls `getFlattenedFieldAtOffset()` in the slow path

https://github.com/eclipse-openj9/openj9/blob/e1e0401e2fc38f0ef2b0307e91318907add666e9/runtime/vm/BytecodeInterpreter.hpp#L4027-L4036

and then push object in the the special frame before calling `J9AllocateObject()`.
https://github.com/eclipse-openj9/openj9/blob/245cd10a22729c572

[2022-03-10 23:44] hangshao0 commented on #14698
Noticed `currentThread->jitStackFrameFlags = 0x0000000040000000 (J9_SSF_JIT_NATIVE_TRANSITION_FRAME)`

[2022-03-11 03:59] knn-k commented on #14621
Loading the core file from the job above indo lldb generates the following warnings, and I cannot get much information from it:
[code]

[2022-03-11 15:09] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_extended.functional_x86-64_linux_jit_Personal/289/`, failure in `testSoftMxDisclaimMemory_2`. A segfault. Console log:

[code]

Haven't attempted to reproduce.

[2022-03-11 17:34] hangshao0 commented on #14698
The incorrect j9method `0x00007FEDD1C74C69` is from:
https://github.com/eclipse-openj9/openj9/blob/95981b1352fba3d7eb8787987acf4e9ad1424f34/runtime/vm/BytecodeInterpreter.hpp#L576

The method there is `Unsafe.getValue()`, which we don't have JIT implementation yet: https://github.com/eclipse-openj9/openj9/issues/13696

[2022-03-11 17:36] hangshao0 commented on #14698
@ehrenjulzert I think you should just test with `-Xint` currently.

[2022-03-11 17:36] #14698 closed

[2022-03-11 21:33] gacholio commented on #13192
https://github.com/eclipse-openj9/openj9/pull/14670 has been merged, providing everything we've talked about so far.

[2022-03-12 07:04] 1a2s3d4f1 commented on #12754
@LinHu2016 I find other heap size problem in [anuragagarwal561994](https://github.com/anuragagarwal561994)`s reply.  There are examples.

- class storage instead of expected tenured-SOA

- JIT data cache instead of expected miscellaneous non-heap storage

Spark get wrong memory pool size on java11 or high java version. This heap "JIT code cache" show size of heap "nursery-allocate".  GC Notificati

[2022-03-14 01:53] Akira1Saitoh commented on #14455
All the changes have been merged in the head stream.
- https://github.com/eclipse/omr/pull/6387
- https://github.com/eclipse-openj9/openj9/pull/14624
- https://github.com/eclipse/omr/pull/6379

50x Grinder run passed with the personal build of the head stream. (`/job/Grinder/21693/`)

[2022-03-14 13:05] JasonFengJ9 opened #14703 "80 VM_Promotion.external_jtregTests_general.NoOptions Exception: Failed 10 tests at WithParameters.main(WithParameters.java:229)"
Failure link
------------

From an internal build `job_output.php?id=29167528`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]
3/10 failed at a grinder - `build_info.php?build_id=24584`

[2022-03-14 13:15] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_sanity.functional_x86-64_linux_jit_Personal/907/` and `job/Test_openjdk11_j9_sanity.functional_x86-64_linux_jit_Personal/908/`, failures in various `cmdLineTester_jvmitests` tests. All segfaults, similar to the ones already seen.

[2022-03-14 13:32] tajila commented on #14698
@hangshao0 @hzongaro
We should find out if the JIT will implement `get/putValue` themselves or if they would want a fastJNI version. I imagine there are some cases (small fields) where the JIT would be able to do something very optimal, but it might be expensive to cover all cases, so there might be a need for a "fallback" implementation without transitioning to the interpreter.

[2022-03-14 13:51] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_OpenJDK11/27

[2022-03-14 14:00] cjjdespres opened #14704 "A cluster of segfaults in internal functional_x86-64 tests with JITServer"
A list of the tests that have been failing with JITServer enabled:

- `cmdLineTester_jvmtitests_debug_10`
- `cmdLineTester_jvmtitests_debug_11`
- `cmdLineTester_jvmtitests_debug_3`
- `cmdLineTester_jvmtitests_debug_5`
- `cmdLineTester_jvmtitests_debug_7`
- `cmdLineTester_jvmtitests_debug_8`
- `cmdLineTester_jvmtitests_debug_openj9_none_SCC_10`
- `cmdLineTester_jvmtitests_debug_openj9_none_SCC_11`

[2022-03-14 14:05] pshipton opened #14705 "ub18-390-1, ub18-390-2 core not found, core_pattern set to apport"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_s390x_linux_Nightly_testList_1/235 - [ub18-390-2](https://openj9-jenkins.osuosl.org/computer/ub18-390-2)
[code]

@AdamBrousseau

[2022-03-14 14:13] pshipton opened #14706 "JITserver can't bind server address: Address already in use"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_Nightly/234
testJITServer_0
[code]

@mpirvu

[2022-03-14 14:29] cjjdespres commented on #14706
That is odd. Maybe the method I used to detect whether or not the port is in use is insufficiently robust? I can look at it on ppc64le to see if it's a platform issue.

[2022-03-14 14:32] cjjdespres commented on #14706
It's either that or a process managed to grab that port in the time between the check that it was free and the jitserver trying to claim it, which seems unlikely.

[2022-03-14 14:47] pshipton commented on #14705
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_1/233/

[2022-03-14 14:51] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_ppc64_aix_Nightly_testList_1/16/
TestIBMJlmRemoteClassNoAuth_1
[code]

[2022-03-14 15:10] pshipton commented on #14595
@gita-omr did you want to create PRs to deliver the fix to the 0.31 and 0.32 branches?

[2022-03-14 15:17] pshipton opened #14707 "MathLoadTest_autosimd_special_5m_18 ASSERTION FAILED gc_vlhgc/ReclaimDelegate.cpp:413: ((false && (avgCopyForwardRate > 0.0)))"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_special.system_ppc64le_linux_Personal_testList_1/30 - [cent7-ppcle-5](https://openj9-jenkins.osuosl.org/computer/cent7-ppcle-5)
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_special.system_ppc64le_linux_Personal_testList_4/29 - [cent7-ppcle-3](https://openj9-jenkins.osuosl.org/computer/cent7-ppcle-3)
MathLoadTest_autosimd_special_5m

[2022-03-14 15:49] pshipton commented on #14703
First failure I see in history is /job_output.php?id=28530797 from March 3.

[2022-03-14 15:51] pshipton commented on #14703
It appears all the failures are on prhel* machines.

[2022-03-14 16:04] pshipton commented on #14455
Closing since the problem is resolved.

[2022-03-14 16:04] #14455 closed

[2022-03-14 16:20] hangshao0 commented on #14698
We can revisit this later, as it currently depends on decisions on the JIT side.

[2022-03-14 16:58] dmitripivkine commented on #14707
Passed. Another one https://openj9-jenkins.osuosl.org/job/Grinder/702/

[2022-03-14 17:42] #14438 closed

[2022-03-14 18:19] gacholio commented on #13004
The current work has been merged - closing.

[2022-03-14 18:30] gacholio commented on #13192
https://github.com/eclipse-openj9/openj9/pull/14700 allows arrays and flatlocked objects to be stack-allocated.

[2022-03-14 19:45] hzongaro commented on #12234
This was addressed in pull request #13403

[2022-03-14 19:45] #12234 closed

[2022-03-14 19:48] hzongaro commented on #14698
Thanks for the reminder.  We will take a look at this

[2022-03-14 20:17] #14395 closed

[2022-03-14 20:58] dmitripivkine commented on #14707
There are 4 of 50 reproduction rate. Actually all failures occur at the same machine https://openj9-jenkins.osuosl.org/computer/cent7-ppcle-4 (4 of 10) build https://openj9-jenkins.osuosl.org/job/Grinder_iteration_3/32/

Unfortunately none of failures produce system core - every time process has been cancelled before generation is complete (5 min or so). I looked to source code and there is nothin

[2022-03-14 21:06] dmitripivkine commented on #14707
looks like failure seen at cent7-ppcle machines only

[2022-03-14 21:48] pshipton commented on #14703
Tested non-cr with builds 16084 (Nov 4), 16203 (Nov 6), which had previous passes, they fail now on all 35, 36, 37. Seems the failure isn't caused by a JVM code change. Failures seem related to the machines themselves. Checked the tests haven't changed since Nov 2020.

[2022-03-14 21:57] mpirvu opened #14712 "Add diagnostic info about the compressedrefs shift value"
Recently I stumbled upon the fact that Semeru container images contain incompatible AOT code due to the compressedrefs shift value.
When run in containers, OpenJ9 JVM generates "portable" AOT code which uses a compressedrefs shift value of 3. However, the current Semeru container images contain AOT code with a compressedrefs shift value of 0.
Determining the compressedref shift value for an existi

[2022-03-14 21:57] mpirvu commented on #14712
@cjjdespres The second idea from this issue is very easy. Could you please implement it? Thanks

[2022-03-14 22:04] JasonFengJ9 opened #14713 "HeapHogLoadTest_5m_0_FAILED Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.system_ppc64_aix_testList_2/7/`(`pll011 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=HeapHogLoadTest_5m_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_extended.system_ppc64_aix&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NOD

[2022-03-14 22:23] pshipton commented on #14703
This seems an internal problem, I've created runtimes/backlog/issues/753

[2022-03-14 22:23] #14703 closed

[2022-03-14 22:28] JasonFengJ9 opened #14714 "JDK18 jdk_vector_0_FAILED Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.openjdk_ppc64le_linux/12/`(`rhel7lert-1-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_vector_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER

[2022-03-14 22:28] pshipton commented on #14499
@mikezhang1234567890 now that https://github.com/eclipse-openj9/openj9/pull/14688 is merged, does it help with the problems?

[2022-03-14 23:07] JasonFengJ9 commented on #10489
`job/Test_openjdk8_j9_sanity.system_aarch64_linux_testList_0/137/`(`cent7-aarch64-2`)
[code]
[code]

[2022-03-15 01:08] knn-k commented on #12556
No, the AArch64 crash above is different from that in #14663.
The crash above occurred in the following line in jswalk.c when trying to access `romClass`:
https://github.com/eclipse-openj9/openj9/blob/ec37a756277c9279dba536989c2b8384418d1377/runtime/codert_vm/jswalk.c#L1154

Either `constantPool` (in `x23`) or `J9_CLASS_FROM_CP(constantPool)` (in `x1`) is broken.

[2022-03-15 01:36] knn-k opened #14715 "OpenJDK jdk/internal/loader/ClassLoaderValue/ClassLoaderValueTest.java segfault vmState=0x0002000f"
Opening a new issue from https://github.com/eclipse-openj9/openj9/issues/12556#issuecomment-1066882748

Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_Nightly/121/ - [cent8-aarch64-1](https://openj9-jenkins.osuosl.org/computer/cent8-aarch64-1)
jdk_lang_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+

[2022-03-15 01:37] knn-k commented on #12556
I opened a new separate issue for AArch64 Linux as #14715.

[2022-03-15 01:38] knn-k commented on #14715
The crash occurred in the following line in jswalk.c when trying to access romClass:

https://github.com/eclipse-openj9/openj9/blob/ec37a756277c9279dba536989c2b8384418d1377/runtime/codert_vm/jswalk.c#L1154

Either `constantPool` (in x23) or `J9_CLASS_FROM_CP(constantPool)` (in x1) is broken.

[2022-03-15 02:18] knn-k commented on #14715
10x Grinder job did not fail. https://openj9-jenkins.osuosl.org/job/Grinder/706/

[2022-03-15 03:58] JavaTailor opened #14716 "Cast operation failed after a complex loop"
## Affected versions

We found a test case with execution problems. To facilitate analysis, we simplified the test case and the simplified class file can be found at [attachment](##Attachment).

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

[code]

## Problem summary

The decompiled code of the test case is shown below, it started by building an ArrayList object var5.

[2022-03-15 13:15] pshipton opened #14717 "aarch64 mac any test, "Invalid JIT return address" after completing test"
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.system_aarch64_mac_Nightly_testList_2/9
NioLoadTest_5m_1 `-XX:-UseCompressedOops`

No diagnostics.
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdknext_j9_sanity.system_aarch64_mac_Nightly_testList_2/9/system_test_output.tar.gz

[code]

@knn-k
Similar to https://github.com/eclipse-openj9/openj9/issues/146

[2022-03-15 13:20] dmitripivkine commented on #14712
just FYI: please keep in mind that shifts 1 and 2 are supported (only) on ZOS and zLinux platforms

[2022-03-15 13:26] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Personal/895/`, failure in `TestArrayCopy_3`. A segfault. Console log:

[code]

It's identical to the `jvmti` segfaults that we've seen, so I'll add it to that issue as well, I think.

[2022-03-15 13:28] pshipton opened #14718 "TestJlmRemoteThreadAuth_1 ArrayIndexOutOfBoundsException ThreadMXBeanImpl.getThreadInfoCommon"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_Nightly_testList_0/231 - [cent7-ppcle-5](https://openj9-jenkins.osuosl.org/computer/cent7-ppcle-5)
TestJlmRemoteThreadAuth_1 `-XX:-UseCompressedOops`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.system_ppc64le_linux_Nightly_testList_0/231/system_test_output.tar.gz

[cod

[2022-03-15 13:31] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_1/11
ConcurrentLoadTest_5m_1
[code]

[2022-03-15 13:31] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/175/

[2022-03-15 13:36] pshipton commented on #14626
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_x86-64_mac_Nightly_testList_2/172 - [osx1011-x86-1](https://openj9-jenkins.osuosl.org/computer/osx1011-x86-1)
AutoMod_Impl2_0 `-XX:+UseCompressedOops`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.system_x86-64_mac_Nightly_testList_2/172/system_test_output.tar.gz

[code]

[2022-03-15 13:47] pshipton commented on #14716
Passes with `-Xint` and `-Xjit:optlevel=cold`, fails with `-Xjit:optlevel=warm`. Added to 0.32 milestone for evaluation by JIT.

[2022-03-15 14:50] hangshao0 commented on #14712
For the first solution to include the CR shift value into `-Xshareclasses:name=...,printstats`

[2022-03-15 15:35] fengxue-IS commented on #13951
Closing as #3627 and #14688 has been merged

[2022-03-15 15:35] #13951 closed

[2022-03-15 16:29] 0xdaryl commented on #14716
Possibly a DLT issue.  Only fails in the DLT compile.

[2022-03-15 16:47] mpirvu commented on #6811
I discovered that published Semeru container images do not load the embedded AOT code because of various AOT incompatibility issues. This happens because the AOT code is not in "portable" format. This is most likely due to the fact that Semeru images were built in an environment with cgroups v2 and OpenJ9 is not able to detect that is running in containers.
I used a machine with cgroups v2 and gen

[2022-03-15 16:54] pshipton commented on #6811
I think this can be closed as a dup of https://github.com/eclipse-openj9/openj9/issues/14190 ?

[2022-03-15 16:59] babsingh commented on #6811
I thought this was an OMR issue. Yes, it can be closed as a dup of https://github.com/eclipse-openj9/openj9/issues/14190. @EricYangIBM Can you move the important details into a new OMR Github issue (== global tracker for the OMR implementation)? After doing this, please close this issue.

[2022-03-15 17:01] mpirvu commented on #6811
The problem is that we don't control the process of building the Semeru images. Once those images have been produced, they contain non-portable AOT.

[2022-03-15 17:07] EricYangIBM commented on #6811
Doesn't https://github.com/eclipse/omr/issues/1281 already track this? I can update that PR with additional information

[2022-03-15 18:05] #6811 closed

[2022-03-15 18:14] keithc-ca commented on #7633
The tag for 1.1.1n appeared today: I'll open a PR to update accordingly.

[2022-03-15 20:32] babsingh commented on #14190
From @mpirvu:

I discovered that published Semeru container images do not load the embedded AOT code because of various AOT incompatibility issues. This happens because the AOT code is not in "portable" format. This is most likely due to the fact that Semeru images were built in an environment with cgroups v2 and OpenJ9 is not able to detect that is running in containers.
I used a machine with cgr

[2022-03-15 20:35] babsingh commented on #14190
@mpirvu This work is being given high priority. We should have minimal support by April. This should address customer issues.

### Global tracker for the OMR implementation

https://github.com/eclipse/omr/issues/1281

[2022-03-15 23:14] knn-k commented on #14715
No failure in another 20x Grinder job: https://openj9-jenkins.osuosl.org/job/Grinder/708/

[2022-03-16 01:41] knn-k commented on #14717
No failures in 20x Grinder job: https://openj9-jenkins.osuosl.org/job/Grinder/712/

[2022-03-16 03:47] JavaTailor opened #14726 "J9 seems failed to detect VerifyError in reflection"
## Affected versions

We found a test case with verification problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at [attachment](https://github.com/eclipse-openj9/openj9/issues/new?assignees=&labels=userRaised&template=user-problem.md##Attachment).

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

[code]

## Problem s

[2022-03-16 03:54] pshipton commented on #14726
@tajila

[2022-03-16 03:54] pshipton commented on #14726
Assigned to milestone 0.32 for evaluation.

[2022-03-16 06:43] knn-k commented on #14717
Another successful Grinder job (20x): https://openj9-jenkins.osuosl.org/job/Grinder/713/

[2022-03-16 07:50] Akira1Saitoh commented on #14663
I reproduced the problem with internal Grinder again. (`/job/Grinder/21717/`)
Many application threads crashed at `objectMonitorEnterNonBlocking`.
[code]

[code]

[code]

The object passed to jitMonitorEntry (`0xfff2d2d8`) seems to be wrong.
[code]

According to jdmpview, `0x0000ffff79adf6bc` is in jitted code of `net/adoptopenjdk/test/nio/NioBuffersTest$Buffers$BufferThread::run()V`

`0x0000ffff7

[2022-03-16 12:04] pshipton commented on #14718
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_Nightly_testList_2/232/
TestJlmRemoteThreadNoAuth_0
[code]

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_Nightly_testList_1/232/
TestJlmRemoteThreadAuth_0
[code]

[2022-03-16 12:04] pshipton commented on #14718
@tajila this seems like a regression, somebody should take a look asap.

[2022-03-16 12:06] pshipton commented on #14718
Changes in the first build where this was seen.
https://github.com/eclipse-openj9/openj9/compare/0575fb08d33...ec37a756277

It's probably caused by https://github.com/eclipse-openj9/openj9/pull/14701

[2022-03-16 12:06] pshipton commented on #14718
@ChengJin01

[2022-03-16 12:13] pshipton opened #14728 "threadMXBeanTimedParkTest_3 testTimedParkTest expected [PASS] but found [FAIL]"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_ppc64_aix_Nightly_testList_0/176
threadMXBeanTimedParkTest_3 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon -Xthr:minimizeUserCPU`
[code]

[2022-03-16 14:01] tajila commented on #14726
@ChengJin01 Can you please take a look at this

[2022-03-16 14:19] c-koell commented on #14489
I had today another crash. Unfortionally without trace enabled but maybe the trace helps you.

I have attached the new trace (crash-16.03.zip) under [this](https://tbox.tirol.gv.at/index.php/s/9cpPSjxLpx2Gfxt) fileshare url. Please use "jwgngGsgNs" as password.

[2022-03-16 15:25] ChengJin01 commented on #14718
will revert the changes at https://github.com/eclipse-openj9/openj9/pull/14701 to see how it goes in this test.

[2022-03-16 19:36] JasonFengJ9 opened #14731 "JDK17 java/nio/MappedByteBuffer/ZeroMap.java - IllegalArgumentException: bound must be positive"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_aarch64_linux/49/`(`ub18-aarch64-8`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_nio_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_A

[2022-03-16 19:48] dmitripivkine commented on #14707
another grinder with `-Xtrace:print=j9mm.568` aimed to get `Trc_MM_SchedulingDelegate_copyForwardCompleted_efficiency` output  https://openj9-jenkins.osuosl.org/job/Grinder/716/

[2022-03-16 19:50] JasonFengJ9 opened #14732 "JDK17 HeapHogLoadTest_5m_1_FAILED testFailure: test(net.adoptopenjdk.test.math.MathAPITest): Method "test" not found"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.system_aarch64_linux_testList_0/44/`(`ub18-aarch64-2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=HeapHogLoadTest_5m_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_extended.system_aarch64_linux&amp;DOCKER_REQUIRED=fals

[2022-03-16 20:28] JasonFengJ9 commented on #14130
A similar segmentation error at JDK17 0.32.0 m1a build - `job/Test_openjdk17_j9_sanity.system_x86-64_windows_testList_2/135/` (`win16x64rt2-3`)
[code]
50x grinder - `job/Grinder/21756/`

[2022-03-16 20:42] ChengJin01 commented on #14718
I've tried with both the reverted build and the master build without any changes (including JDK8, 11, 17, 18 and `nextJDK`) and `TestJlmRemoteThreadAuth` (including `TestJlmRemoteThreadAuth_0` and `TestJlmRemoteThreadAuth_1`) passed on JDK8, 11, 17, 18 and `nextJDK` without any issue, which means the exception occurs intermittently and there is no strong evidence indicating that it was directly re

[2022-03-16 20:59] dmitripivkine commented on #14707
There is distinct pattern in Extended Tap Results https://openj9-jenkins.osuosl.org/job/Grinder/716/tapResults/
Looks like PGC stops do Copy Forward (performing Mark Sweep only) and average copy rate drops to 0 eventually

[2022-03-16 21:02] JasonFengJ9 opened #14734 "JDK18 java/lang/invoke/MethodHandles/CatchExceptionTest.java WrongMethodTypeException: cannot convert"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_sanity.openjdk_aarch64_linux_testList_1/25/`(`ub18-aarch64-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_lang_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_sanity.openjdk_aarch64_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE

[2022-03-16 21:16] ChengJin01 commented on #14726
Considering the verifier specific code is independent of platform & JDK versions,  I tried OpenJDK16/Hotspot and OpenJDK16/OpenJ9 on macOS/x64 as follows (also verified on Java 17 & 18)

**[1] TestCase2_2:**
[code]

**[2] TestCase2_1:**
[code]
Based on the initial triage above,
1) the expected `verifyError` for `TestCase2_2` can be captured in OpenJ9 correctly with pretty much the same result as c

[2022-03-16 21:56] babsingh commented on #14726
JDK16 still uses OpenJ9 MethodHandles (MHs). OpenJDK MHs are only enabled for JDK17+. If OpenJ9 behaves similarly across JDK16, JDK17 and JDK18, then the `TestCase2_1` problem has persisted in both implementations.

@ChengJin01 Can you re-confirm that OpenJ9 JDK17+ does not throw a `VerifyError` similar to RI?

For OpenJDK MHs, OpenJ9's implementation of `MethodHandleNatives.resolve` should match

[2022-03-16 22:25] ChengJin01 commented on #14726
Yes, the result is the same on Java 17 as I mentioned previously:
[code]

[2022-03-16 23:34] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/229/

[2022-03-16 23:37] pshipton commented on #12579
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly_testList_1/230
TestJcmd_0 `NoOptions`
[code]

[2022-03-16 23:51] fengxue-IS commented on #14726
The error is not from MethodHandle but rather incorrect bytecode in the classfile which should be caught during verification of the static initializer bytecode.
We are seeing this failure in `MethodHandles.findStatic` is due to difference in how the VM choose to initialize a class. In OpenJ9, we ensure class is initialized during the MethodHandle invocation. As with RI, I believe they attempt to i

[2022-03-17 00:32] ChengJin01 commented on #14726
As we discussed offline, this behaviour is specific to OpenJ9 in terms of when to initialize the specified class, which means
OpenJ9 chooses to do that in `mh.invoke()` while RI does that via `MethodHandles$Lookup.findStatic`.

In addition, I tried the fix on MethodHandleNatives.resolve (native method) offered by @fengxue-IS at https://github.com/fengxue-IS/openj9/commit/7e88ef8fae1a2c06ec42ea12fc

[2022-03-17 02:03] Akira1Saitoh commented on #14663
@dmitripivkine Could you shed some light on this?
Application threads crash at `objectMonitorEnterNonBlocking` and  the passed object pointer seems to be wrong.
The value in the object pointer seems to be a forwarded pointer to the actual object.
Application threads did not release VM access yet, so I think we should not see a forwarded pointer.

[2022-03-17 03:04] 0xdaryl commented on #14716
A quick update on this.  This seems to be tangentially related to 12819, but a different problem.  The parameter slot (declared a `java/lang/String`) is indeed shared with an `ArrayList` in the bytecode.  This slot is updated early in the method upon allocating a new `ArrayList`.  However, when the method is DLT'd, the DLT entry point to the method occurs after that point and the IL prior to the D

[2022-03-17 03:06] ChengJin01 commented on #14726
Looking at the calling path from the method `MethodHandles.lookup.findStatic()` at https://github.com/eclipse-openj9/openj9/blob/master/jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java to `/runtime/vm/lookupmethod.c`
[code]
If we follow the behaviour of RI from Java 8 to Java 16, the fix is to initialize the lookup class in `/runtime/vm/lookupmethod.c` as follows:
[code]
With th

[2022-03-17 04:28] ChengJin01 commented on #14726
To minimize the impact on the existing code in native given `lookupImpl` is invoked at multiple places, another alternative is to initialize the lookup class prior to `lookupMethod` in `finishMethodInitialization` at `/jcl/src/java.base/share/classes/java/lang/invoke/PrimitiveHandle.java` as follows:
[code]
with the expected `VerifyError` plus the correct stacktraces:
[code]

[2022-03-17 07:35] knn-k commented on #14734
- 2 failures in job/Grinder_iteration_1/868/
- 2 failures in job/Grinder_iteration_3/734/
- 3 failures in job/Grinder_iteration_4/702/

[2022-03-17 07:37] knn-k commented on #14731
No failures in the grinder job above.

[2022-03-17 07:37] knn-k commented on #14732
No failures in the grinder job above.

[2022-03-17 07:56] JavaTailor opened #14737 "J9 crashes on a correct test case"
## Affected versions

We found a test case with crash problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at attachment.

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

[code]

## Problem summary

Given the simplified test case, Hotspot executes fine, but J9 crashes along with three crash log file. Since the crash l

[2022-03-17 12:00] pshipton opened #14738 "Internal regression 147224"
https://github.com/eclipse-openj9/openj9/pull/14688 has apparently caused internal regression 147224. Although the regression is initially found on jdk17, the change is included in the 0.31 release so this is assigned to the 0.31 release assuming the change affects this release as well.

[2022-03-17 13:06] pshipton commented on #14734
Tentatively adding to 0.31 milestone until we determine if this affect this release.

[2022-03-17 13:09] c-koell commented on #14489
Sorry the above link has expired. New new link is https://tbox.tirol.gv.at/index.php/s/C9LoR6S3ntxQSja with "JKoRmPZQ3t" as password

[2022-03-17 13:15] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_jit_Personal/213/`, failure in `jdk_util_0`. A segfault. Console log:

[code]

Looks like #14704.

[2022-03-17 13:17] pshipton commented on #14737
The crash doesn't occur with -Xint, assigned to JIT. @0xdaryl @mstoodle fyi

Seems to be cross platform. I tried xlinux, zlinux.

I note this affects Java 18 as well, but I've assigned it to the 0.32 milestone.

[2022-03-17 13:22] hindessm commented on #14526
I'm seeing this issue too (exactly the same libj9*.so offsets in the stack trace). Would be good to know ETA if possible. Thanks.

[2022-03-17 13:29] pshipton commented on #14526
Tentatively assigned to 0.32 until we get an outlook.

[2022-03-17 13:54] pshipton commented on #14734
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/717/

[2022-03-17 13:57] pshipton commented on #14718
Actually this is more likely caused by https://github.com/eclipse-openj9/openj9/pull/14688, there is another known problem https://github.com/eclipse-openj9/openj9/issues/14738 with this change.

[2022-03-17 13:59] pshipton commented on #14718
@fengxue-IS @babsingh fyi

[2022-03-17 14:06] tajila commented on #14738
@fengxue-IS Please take a look

[2022-03-17 14:23] pshipton commented on #13123
Internal z/OS job /job/Test_openjdk11_ibm_special.system_s390x_zos_Nightly_testList_1/276
ClassLoadingTest_special_5m_12 `-Xjit -Xgcpolicy:balanced -Xnocompressedrefs`
[code]

[2022-03-17 14:24] pshipton commented on #14732
Maybe related to https://github.com/eclipse-openj9/openj9/issues/14713

[2022-03-17 14:29] pshipton commented on #14718
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly_testList_2/231
TestJlmRemoteThreadNoAuth_0 `-XX:+UseCompressedOops`
[code]

[2022-03-17 14:31] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/230

[2022-03-17 14:34] pshipton commented on #14718
@ChengJin01 we got one on Mac so that definitely rules out the ffi change.

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly_testList_2/226
TestJlmRemoteThreadNoAuth_0

[2022-03-17 14:59] fengxue-IS commented on #14738
looking into this

[2022-03-17 15:04] ChengJin01 commented on #14726
I'll create a PR with my fix in `finishMethodInitialization` for Java8~16 plus the fix offered by @fengxue-IS in `MethodHandleNatives.resolve` for Java17+ in  to verify in personal builds.

[2022-03-17 18:34] BradleyWood commented on #14489
I will take a look

[2022-03-17 18:46] fengxue-IS commented on #14738
updated internal issue.

[2022-03-17 18:47] hangshao0 opened #14741 "Class verification for Value Types"
The same as normal classes, we need to perform verification on Value Types. There was a Pull Request #12858 previously merged to make static and runtime verifiers work on Value Types.  There might be cases that are not covered by #12858.

Currently all the value type tests are running with class verification turned off (by `-Xverify:none` in the command line). Eventually we want to remove `-Xverif

[2022-03-17 19:06] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_linux_aot_Personal_testList_0/14

[2022-03-17 20:40] pshipton commented on #14734
1/100 failed in https://openj9-jenkins.osuosl.org/job/Grinder_iteration_0/47/

[2022-03-17 22:58] JasonFengJ9 opened #14743 "JDK17 0.32.0 jdk_nio_0_FAILED NullPointerException: Cannot load from byte/boolean array because "ba" is null"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_x86-64_mac/50/consoleFull`(`[mac11x64rt06.rtp.raleigh.ibm.com](mac11x64rt06`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_

[2022-03-18 00:12] JasonFengJ9 opened #14744 "JDK8 x86-32_windows SharedClassesAPI_0_FAILED java/lang/OutOfMemoryError"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_extended.system_x86-32_windows_testList_0/44/`(`win16x64rt3-2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_extended.system_x86-32_windows&DOCKER_REQUIRED=false&ACTIVE

[2022-03-18 00:18] JasonFengJ9 opened #14745 "JDK8 LambdaLoadTest_special_J9_5m_5_FAILED testFailure: testStaticLambda(net.adoptopenjdk.test.lambda.TestLambdaContexts): null"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_special.system_x86-32_windows_testList_3/156/`(`win16x64rt2-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=LambdaLoadTest_special_J9_5m_5&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_special.system_x86-32_windows&amp;DOCKER_REQUI

[2022-03-18 00:50] LongyuZhang commented on #14486
Tested docker criu testing on `ub20x64rt1-3 with criu 3.12`, using [open-liberty-criu-docker](https://github.ibm.com/tjwatson/open-liberty-criu-docker) repo, and criu sdk. The SCC got generated successfully, but running test got the error:
[code]
Tried `ciur -V` also got the same error `bash: /usr/sbin/criu: Operation not permitted`
In docker, running as `root root`, and the criu permission is -rw

[2022-03-18 03:40] knn-k commented on #14715
No failure in yet another 20x Grinder job: https://openj9-jenkins.osuosl.org/job/Grinder/724/

[2022-03-18 03:42] anlong465 opened #14747 "gpf crash with InaccessibleAddress"
Java -version output
--------------------

Output from `java -version`.
openjdk version "1.8.0_322"
IBM Semeru Runtime Open Edition (build 1.8.0_322-b06)
Eclipse OpenJ9 VM (build openj9-0.30.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20220128_306 (JIT enabled, AOT enabled)
OpenJ9   - 9dccbe076
OMR      - dac962a28
JCL      - c1d9a7af7c based on jdk8u322-b06)

We could re-produce such is

[2022-03-18 08:22] Akira1Saitoh commented on #14663
Thank you for your comment. I will investigate if the GC maps are correctly added.
However, I would like you to take a look at the core file as I think you can find more information from GC perspective. I shared the folder of the core file. If you cannot get the file, please let me know.

[2022-03-18 13:29] DanHeidinga commented on #14726
Based on the discussion there, Hotspot is linking (preparing) the class early but only initializing when the MH is invoked.

The equivalent for J9 would be to call:
[code]
in `MethodHandleNatives.resolve` for JDK 17+ as we've already made a massive change in MH implementation there.

I'm more hesitant about changing JDK8 & 11 as they've been stable on the OJ9 MH impl and our current behaviour is w

[2022-03-18 13:35] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_jit_Personal/280/`, failure in `jdk_lang_1`. Some sort of thrown exception during the test. Console log:

[code]

Haven't attempted to reproduce.

[2022-03-18 15:06] ChengJin01 commented on #14726
@DanHeidinga,

There is no problem with throwing `VerifyError` for the `TestCase2_2` via `prepareClass` on Java 8  & 11:
[code]
with the output
[code]
The problem on Java 8  & 11 is they fail to throw `VerifyError` when invoking the static method handle in the `main()` of `TestCase2_1`
[code]
The debugging above shows `verifyError` was captured in verification but the exception was not thrown in t

[2022-03-18 15:18] DanHeidinga commented on #14726
You're right - the MHInterpreter is broken here.  Similarly `J9_METHOD_HANDLE_KIND_GET_STATIC_FIELD` & `J9_METHOD_HANDLE_KIND_PUT_STATIC_FIELD` are also broken.  As is `J9_METHOD_HANDLE_KIND_CONSTRUCTOR`.

Basically, all callers of `initializeClassIfNeeded` need to be investigated.

[2022-03-18 15:31] hangshao0 commented on #14741
@ehrenjulzert, can you look at this ?

[2022-03-18 15:35] hangshao0 commented on #14741
FYI @ChengJin01 @tajila

[2022-03-18 16:59] pshipton commented on #14747
We can't diagnose anything without the core file. First please try the latest JVM if possible. We don't yet have a Semeru milestone build available for the next release (0.32), but I've created an OpenJ9 project build of the latest 0.32 content (see below). It's possible the problem is already fixed in the newer build, and if not this version should give us a proper stack trace in the crash output

[2022-03-18 17:00] gacholio commented on #13192
Note that #14700 also disables the new code in FSD mode (regardless of the command line option) on the assumption that FSD never stack allocates.

[2022-03-18 17:27] tajila commented on #14486
@LongyuZhang can you describe how you ran the docker test?

[2022-03-18 17:31] gacholio commented on #13192
@vijaysun-omr Will SA objects ever be identity hashed? I assume no, since being the receiver of `Object.hashCode()` or `System.identityHashCode()` would be considered an escape.

There are also pre-hashed objects to be considered - hopefully those are simply never stack-allocated.

[2022-03-18 17:43] pshipton commented on #13868
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly_testList_1/237/ - [win2012-x86-5](https://openj9-jenkins.osuosl.org/computer/win2012-x86-5)
testDDRExtJunit_FindExtThread_0 `NoOptions`
[code]
[code]

@keithc-ca fyi the `U64 contains value larger than Long.MAX_VALUE`

[2022-03-18 17:48] pshipton commented on #14586
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_ppc64_aix_OpenJDK_testList_0/82 - [p8-java1-ibm04](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm04)
JCL_Test_1 `-XX:RecreateClassfileOnload`
[code]

[2022-03-18 18:01] gacholio commented on #14737
Crash is due to bad virtual call from:
[code]
The value loaded into RDI is a J9Class pointer not an object:
[code]

[2022-03-18 18:04] gacholio commented on #14737
Reproducible with `-Xjit:verbose,limit={TestCase3_1.main*}`. Looks like it might be a DLT issue:
[code]

[2022-03-18 18:37] LongyuZhang commented on #14486
The steps I tried with docker criu testing are:
- transfer `jdk` and repo `open-liberty-criu-docker` to machine `ub20x64rt1-3`
- run `/openj9-build.sh -b ~/deleteMe/jdk` get the result `SCC generation phase completed`
- use docker container to run this image, and then inside the container, create [`Demo.java`](https://github.ibm.com/runtimes/infrastructure/issues/6547#issuecomment-40648002)
- use

[2022-03-18 18:57] tajila commented on #14486
if you are using a docker container you can install any version of criu in the image. Can you try something newer? We only experimented with 3.15+

[2022-03-18 19:18] zongaro commented on #13192
Hi there!

Just replying to let you know I think I’m receiving these emails in error!

Zoe

On Fri, Mar 18, 2022 at 13:31 Graham Chapman ***@***.***>
wrote:

[2022-03-18 20:05] pshipton commented on #13192
@zongaro you can unsubscribe yourself, I don't think we can do it for you. I assume somebody made a typo at some point to accidentally include you.

[2022-03-20 23:20] 0xdaryl commented on #14716
Proposed fix in eclipse/omr#6423.

[2022-03-20 23:22] 0xdaryl commented on #14737
This is almost certainly a dup of #14716.  The crash in this issue is resolved when the proposed fix for #14716 is applied.

[2022-03-21 09:21] Akira1Saitoh commented on #14663
I got the stackslots of this thread using the JIT PC and SP. The JIT PC of the thread `0x532700` is `0x0000FFFF79ADF6BC` which is saved in x30.

It seems the problematic object reference was in O-slot.
[code]

The 0xffff79adf6bc is in the OOL section as I wrote in the previous comment
[code]

The mainline code before branching to the OOL section is as follows.

[code]

The most recent write to the

[2022-03-21 10:57] ttorpy commented on #10558
Hi, I'm completely new to open source and would like to try this. How do I start and what should I do to solve this?

[2022-03-21 12:03] JasonFengJ9 commented on #10558
@ttorpy welcome to OpenJ9, a start point is [openj9/tools/attach/diagnostics/tools/Jstat.java](https://github.com/eclipse-openj9/openj9/blob/master/jcl/src/jdk.jcmd/share/classes/openj9/tools/attach/diagnostics/tools/Jstat.java)

OpenJ9 build instructions - https://github.com/eclipse-openj9/openj9/tree/master/doc/build-instructions

[2022-03-21 12:31] pshipton commented on #10489
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly_testList_0/237 - [p8-java1-ibm07](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm07)
DaaLoadTest_daa2_CS_5m_0 `-Xgcpolicy:gencon -Xgc:concurrentScavenge`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly_testList_0/237/system_test_output.ta

[2022-03-21 12:35] pshipton commented on #14626
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly_testList_1/238
HCRLateAttachWorkload_0

[2022-03-21 12:36] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Nightly/245
jdk_util_1
java/util/EnumSet/EnumSetBash.java

[2022-03-21 12:40] pshipton commented on #14626
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_x86-64_mac_Nightly_testList_1/224
Jlink_AddMLimitM_1

[2022-03-21 12:42] pshipton commented on #14140
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/242 - [ub16p8j93](https://openj9-jenkins.osuosl.org/computer/ub16p8j93)
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/concurrent/tck/JSR166TestCase.java
[code]

[2022-03-21 12:45] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/179

[2022-03-21 12:49] pshipton commented on #10732
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_aarch64_linux_Nightly_testList_0/152 - [cent8-aarch64-2](https://openj9-jenkins.osuosl.org/computer/cent8-aarch64-2)
testSoftMxDisclaimMemory_1 `-Xgcpolicy:optavgpause -Xjit -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.functional_aarch64_linux_Nightly_test

[2022-03-21 12:52] pshipton opened #14752 "OpenJDK util/concurrent/locks/LockSupport/ParkLoops timeout"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/152/ - [cent8-aarch64-3](https://openj9-jenkins.osuosl.org/computer/cent8-aarch64-3)
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/concurrent/locks/LockSupport/ParkLoops.java

https://openj9-artifactory.osuosl.org/a

[2022-03-21 12:54] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64_aix_Nightly_testList_2/180
TestIBMJlmRemoteClassAuth_1

[2022-03-21 13:04] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.functional_x86-64_linux_Nightly_testList_1/30/

[2022-03-21 13:09] pshipton opened #14753 "MauveSingleInvocLoad crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_s390x_linux_Personal_testList_0/1 - [rh7-390-1](https://openj9-jenkins.osuosl.org/computer/rh7-390-1)
MauveSingleInvocLoad_special_5m_21 `-XX:+UseCompressedOops -Xjit -Xgcpolicy:gencon -Xaggressive`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_special.system_s390x_linux_Personal_testList_0/1

[2022-03-21 13:15] pshipton commented on #10489
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_x86-64_linux_Personal_testList_4/14 - [ub18-x86-2](https://openj9-jenkins.osuosl.org/computer/ub18-x86-2)
DaaLoadTest_daa3_special_5m_12 `-Xjit -Xgcpolicy:balanced -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_special.system_x86-64_linux_Personal_testList_4/14/system_tes

[2022-03-21 13:23] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_ppc64_aix_Release/5

[2022-03-21 13:30] tajila opened #14754 "ValueTypes: Use named type for unsafe.inlineTypesLock"
Instead of defining Unsafe.inlineTypesLock with an anonymous type define with a named type. This will make it easier to identify in core files, etc.

[2022-03-21 13:31] tajila commented on #14754
@ehrenjulzert

[2022-03-21 13:35] tajila commented on #14718
@fengxue-IS can you see if reverting your change fixes this?

[2022-03-21 13:55] cjjdespres opened #14755 "Internal test failures in MathLoadTest_autosimd"
Observed in the JITAAS pipeline tests:

`MathLoadTest_autosimd_CS_5m_0`
- `job/Test_openjdk8_j9_sanity.system_x86-64_linux_jit_Personal/292/`

`MathLoadTest_autosimd_special_5m_29`
- `job/Test_openjdk17_j9_special.system_x86-64_linux_jit_Personal/213/`
- `job/Test_openjdk8_j9_special.system_x86-64_linux_jit_Personal/291/`
- `job/Test_openjdk17_j9_special.system_x86-64_linux_jit_Personal/217/`

Con

[2022-03-21 14:47] vijaysun-omr commented on #13192
I don't believe we special case identity hashing in any way in escape analysis. So I would expect those methods to appear as escape points for stack allocation. I'm unsure if pre-hashed objects are excluded from stack allocation but @hzongaro should probably check into this.

[2022-03-21 15:28] hzongaro commented on #13192
That's right, it looks like there's no special recognition of the methods related to identity hashing today, so the JIT will consider objects that are identity hashed to escape.

I must admit that I've never encountered the notion of "pre-hashed" objects before.  Can anyone direct me to some background information?

[2022-03-21 15:34] gacholio commented on #13192
Prehash: https://github.com/eclipse-openj9/openj9/pull/13338

To detect prehashed classes, use `J9CLASS_IS_ENSUREHASHED(j9clazz)`. I suggest excluding any such objects from stack allocation, in any mode.

[2022-03-21 15:41] fengxue-IS commented on #14718
launched personal build to verify if reverting fixes this change

[2022-03-21 15:47] gacholio commented on #13192
@dmitripivkine Regarding my previous comment, would there be any issue with not prehashing instances of "ensure hashed" classes? I don't think there should be, in which case they could continue to be stack-allocated and unhashed.

[2022-03-21 15:52] hangshao0 commented on #13614
The only APIs left are

[code]

All others have been implemented.

[2022-03-21 15:55] gacholio commented on #13192
It looks like the JIT is completely unaware of prehashing - heap objects allocated inline or out-of-line by compiled code do not do the prehashing, which means that what I say above must be true, so there's no need to exclude these classes from stack allocation.

[2022-03-21 16:07] gacholio commented on #13192
The GC OOL allocators respect the class flag which means the JIT OOL allocator does as well. The JIT inline allocator appears not to, so there's an inconsistency here (that may not matter in any practical situation).

[2022-03-21 17:59] dmitripivkine commented on #13192
I think there is no problem at the moment. However I am not sure about scenarios this code might be used in the future.

[2022-03-21 18:02] gacholio commented on #13192
The code as it stands allows prehashing on a per-instance basis (as evidenced by the JIT inconsistency). If we started to insist on honouring the class flag, the JIT inline allocator would need to be modified to work like the GC allocators, or stop allocating those classes inline.

[2022-03-21 18:54] EricYangIBM commented on #14190
For the linked docker issue, is the `Max. Heap Size (Estimated): 512.00M` being calculated from `j9gc_get_maximum_heap_size`? Where `memoryMax` is calculated at https://github.com/eclipse/omr/blob/644b9078b90a441a73da0ab9da66dc60d283033a/gc/base/GCExtensionsBase.cpp#L305-L324
and is assigned a maximum of 512M, then in `MM_GCExtensions::computeDefaultMaxHeapForJava` gets expanded if cgroup is enabl

[2022-03-21 19:22] pshipton opened #14758 "Resolve internal issue runtimes/openj9/issues/464"

[2022-03-21 19:46] fengxue-IS commented on #14718
Test `TestJlmRemoteThreadNoAuth_0` 20/20 passed on linux after reverting #14688, the failure rate I got while trying to reproduce this issue is about 1/10 so likely failure due to the change

[2022-03-21 19:57] #14499 closed

[2022-03-21 20:23] dmitripivkine commented on #14190
As you pointed correctly in `MM_GCExtensions::computeDefaultMaxHeapForJava()` we set `memoryMax` for cgroup and adjust it later to 25% of available RAM if it is larger (for Java 11 and up only, Java 8 has hardcoded 512m limit). I guess you should not touch this logic but make `omrsysinfo_cgroup_are_subsystems_enabled()` and `omrsysinfo_cgroup_is_memlimit_set()` work for cgroup v2

[2022-03-21 22:00] pshipton commented on #14734
Ran 400 iterations (200 in each mode 0, 1) on head stream xlinux, plinux, zlinux and they all passed.

[2022-03-21 22:31] fengxue-IS commented on #14718
after some hacking into the place that can generate an `ArrayIndexOutOfBoundsException` with https://github.com/eclipse-openj9/openj9/commit/39ffd098fe1987e4654a3adba568ad9268413360

The source of the AIOB seem to come from `getObjectArrayElement` which is used by `createLockedMonitors` in the following callstack:
[code]
The stack index used is:
[code]
which comes from:
[code]

This issue is rathe

[2022-03-21 22:33] fengxue-IS commented on #14718
@tajila @gacholio do you see any other options to fix this issue?

[2022-03-22 00:00] pshipton commented on #14734
On alinux:
Ran 100x jdk17 no failures (job/Grinder/21894).
Ran 100x jdk18 16/200 failures (job/Grinder/21895).

[2022-03-22 00:34] fengxue-IS commented on #14718
Adding `-XX:+ShowHiddenFrames` passed 10/10 on xlinux

[2022-03-22 01:05] pshipton commented on #14142
I haven't seen a repeat of this failure since https://github.com/eclipse-openj9/openj9/issues/14142#issuecomment-1058083560
@JasonFengJ9 have you seen anything?
If not I expect we can remove it from the 0.32 milestone plan.

[2022-03-22 01:09] pshipton commented on #14737
I'm closing it as a dup.

[2022-03-22 01:09] #14737 closed

[2022-03-22 01:13] knn-k commented on #14734
Reproducible by running with `-Xjit:exclude=asTypeUncached` or `-Xjit:exclude=isConvertibleTo`. (job/Grinder/21896, job/Grinder/21897)

[2022-03-22 01:49] #14758 closed

[2022-03-22 01:54] gacholio commented on #14718
Is the problem perhaps that there's a monitor locked in a hidden frame?

[2022-03-22 02:04] 0xdaryl commented on #14067
Sorry, missed the tag.  @a7ehuo, could you look into this one please?

[2022-03-22 03:21] fengxue-IS commented on #14718
Is when creating the Java `MonitorInfo` object in `createLockedMonitors` API, it tries to get the matching `StackTraceElement` from the stacktrace array for each monitor via depth field (index into `Throwable.walkback`, which included the hidden frames in the count)

[2022-03-22 03:33] gacholio commented on #14718
Would using the `SKIP_HIDDEN` stackwalk flag in the `getOwnedObjectMonitors` fix this? The stackwalk flag should be equivalent to the `iterateStackTrace` logic.

[2022-03-22 03:48] gacholio commented on #14718
No, I suppose not since it's already skipping inlines. We may need to add the hidden frame logic to `jitGetOwnedObjectMonitors` and `walkFrameMonitorEnterRecords`.

[2022-03-22 04:39] #14754 closed

[2022-03-22 06:51] knn-k commented on #14734
100x Grinder was successful with `-Xjit:exclude=getCatcher`: (job/Grinder/21902)

This testcase uses random data as shown below, and that must be one of the reasons of its intermittent behavior.
https://github.com/ibmruntimes/openj9-openjdk-jdk18/blob/openj9/test/jdk/java/lang/invoke/MethodHandles/CatchExceptionTest.java#L66-L67

[2022-03-22 09:22] knn-k commented on #14734
Another 100x Grinder job with `-Xjit:exclude=getCatcher`: finished successfully: job/Grinder/21914
It is a method in the test code: `test.java.lang.invoke.MethodHandles.TestCase.getCatcher()`

[2022-03-22 11:46] JasonFengJ9 commented on #14142
Not in recent builds.
Removing it from 0.32.

[2022-03-22 12:37] #14616 closed

[2022-03-22 12:40] JasonFengJ9 commented on #14243
`aarch64_mac` - `job/Test_openjdk18_j9_sanity.functional_aarch64_mac_testList_0/19/`(`macaarch64rt3`)
[code]

[code]

[2022-03-22 12:47] JasonFengJ9 commented on #14743
JDK18 - `job/Test_openjdk18_j9_extended.openjdk_x86-64_windows/12/`
[code]

[code]

[2022-03-22 13:05] c-koell commented on #14489
@BradleyWood any news here ? It's really annoying when eclipse crashes really often :-(

[2022-03-22 13:15] knn-k commented on #14734
Compiling the `getCatcher()` method at cold and warm levels (job/Grinder/21914 - 15): Both of them failed.

[2022-03-22 13:57] pshipton commented on #14743
Looking at the grinder (job/Grinder/21860/), it failed 11/50, which is enough for a blocker label.

[2022-03-22 14:02] pshipton commented on #14743
@dchopra001 could this be related to https://github.com/eclipse-openj9/openj9/pull/14679 aka https://github.com/eclipse-openj9/openj9/pull/14671 ?

[2022-03-22 14:27] tajila commented on #13614
Do you know if the buffer is thread local?
Or can the buffer escape before `finishPrivateBuffer` is called?

[2022-03-22 14:50] dchopra001 commented on #14743
Taking a look at this now.

[2022-03-22 15:01] klangman commented on #14526
Haven't had the time take a deep dive into this one yet.

[2022-03-22 15:11] pshipton commented on #14753
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly_testList_0/243 - [rh7-390-1](https://openj9-jenkins.osuosl.org/computer/rh7-390-1)
MauveSingleInvocLoad_J9_5m_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly_testList_0/243/system_test_output.tar.g

[2022-03-22 15:18] pshipton commented on #14728
This is a dup of https://github.com/eclipse-openj9/openj9/issues/14470

[2022-03-22 15:18] #14728 closed

[2022-03-22 15:20] pshipton commented on #14470
There was an occurrence Mar 16 https://github.com/eclipse-openj9/openj9/issues/14728#issue-1170941745

[2022-03-22 15:25] pshipton commented on #14470
@tajila could there be an actual problem here? This only started occurring recently, and I was assuming a machine problem, but the actual times are lower not higher. All the failures are on AIX with `-Xthr:minimizeUserCPU`.

[2022-03-22 15:27] hangshao0 commented on #13614
I found a draft JEP ([JEP 169: Larval State for Value Objects](https://openjdk.java.net/jeps/169)) for this. It says:

[2022-03-22 15:41] pshipton commented on #14489
I'm tentatively putting this into the 0.33 milestone plan.

[2022-03-22 17:26] gacholio commented on #14718
For the record, is there any Oracle documentation about the interaction of hidden frames, the command-line option and this API? Have you tried this test with Oracle with the option in both states?

[2022-03-22 17:35] llxia commented on #14322
I will close this issue as the [new issue](https://github.com/adoptium/TKG/issues/301) is opened in TKG repo.

[2022-03-22 17:35] #14322 closed

[2022-03-22 17:49] pshipton commented on #14753
https://openj9-jenkins.osuosl.org/job/Grinder/727/

[2022-03-22 17:54] dchopra001 commented on #14743
The issue in https://github.com/eclipse-openj9/openj9/issues/14743#issuecomment-1075133481 looks to be the same one as here https://github.com/eclipse-openj9/openj9/issues/14654. This doesn't look related to my changes as #14671 wasn't merged at the time that this issue was reported.

[2022-03-22 18:01] tajila commented on #14753
DebugInterpreter run - https://openj9-jenkins.osuosl.org/job/Grinder/728/

[2022-03-22 18:23] fengxue-IS commented on #14718
Documentation on ThreadInfo Object returned by API doesn't specify any requirements on hidden frames, only mentioned that JVM implementation is allowed to omit some/all frames.

Have not tried running this test against RI, will try that in a grinder

[2022-03-22 19:27] EricYangIBM commented on #14190
In `omrsysinfo_cgroup_is_memlimit_set`:  https://github.com/eclipse/omr/blob/644b9078b90a441a73da0ab9da66dc60d283033a/port/unix/omrsysinfo.c#L5967-L5974
My cgroups v1 machine had a `memory.limit_in_bytes` as 9223372036854771712 for a simple java test process which would trigger this error. So basically if the cgroup memlimit is not set we don't expand the heap size (the `usablePhysicalMemory` was

[2022-03-22 19:29] hangshao0 commented on #14518
FYI @hzongaro @a7ehuo

With #14763, now the VM code distinguishes between value classes and primitive value classes. As mentioned in https://github.com/eclipse-openj9/openj9/issues/14518#issuecomment-1040770318, yesterdays value type is todays primitive value type.
JIT code currently using `J9_IS_J9CLASS_VALUETYPE(clazz)` might need to split into:
`J9_IS_J9CLASS_VALUETYPE(clazz)` for value classes

[2022-03-22 19:37] pshipton commented on #14753
Started a new DebugInterpreter run with more iterations https://openj9-jenkins.osuosl.org/job/Grinder/729/

[2022-03-22 19:38] pshipton commented on #14753
Based on the 1/30 failure rate I got, it's not as hot as I thought it might be.

[2022-03-22 19:38] 0xdaryl commented on #14716
The upstream PR eclipse/omr#6423 has been merged.

[2022-03-22 19:47] babsingh commented on #14190
@EricYangIBM Study the behaviour reported in https://github.com/ibmruntimes/ci.docker/issues/124#issue-1084626215.

@dmitripivkine In https://github.com/ibmruntimes/ci.docker/issues/124#issue-1084626215, `Max. Heap Size (Estimated): 3.00G` is shown for J9 Java8. The hardcoded 512m limit is not being enforced.

[2022-03-22 20:02] EricYangIBM commented on #14190
Maybe that container has a cgroup limit enforced? That would explain the heap extended by https://github.com/eclipse-openj9/openj9/blob/cc586f03bd5359157f99fb342015f24f4e064755/runtime/gc_base/GCExtensions.cpp#L254-L255

[2022-03-22 20:04] babsingh commented on #14190
Yes, I think it is enforced via `docker run -m 4GB`.

[2022-03-22 20:37] pshipton commented on #14743
I took a closer look at the grinder results. Some of the results are gone already, and in the remaining results the failure isn't the original one shown here.

[2022-03-22 20:53] pshipton commented on #14743
Both this issue and https://github.com/eclipse-openj9/openj9/issues/14654 cover multiple different failures, which may or may not be the same. The original issue here is also reported in https://github.com/eclipse-openj9/openj9/issues/14654 so I'm going to close this as a dup.

[2022-03-22 20:53] #14743 closed

[2022-03-22 20:59] pshipton commented on #14654
https://github.com/eclipse-openj9/openj9/issues/14743 was closed as a dup of this. It seems there is enough to add this to a milestone plan, given that failures can be recreated when running a grinder on jdk_nio_0, at least on xmac.

[2022-03-22 21:00] pshipton commented on #14654
Tentatively added to 0.32 although I expect we'll likely slip it to 0.33 given the failures are not new.

[2022-03-22 21:07] pshipton commented on #14654
Basically it seems https://github.com/eclipse-openj9/openj9/issues/13983 was not fixed and the problem still occurs.

[2022-03-22 21:14] pshipton commented on #14753
@tajila One failure with the DebugIntpreter https://openj9-jenkins.osuosl.org/job/Grinder_iteration_4/32/

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Grinder_iteration_4/32/system_test_output.tar.gz

[2022-03-22 21:42] tajila commented on #14753
We are crashing upon entry to jitted method `sun/util/locale/provider/LocaleProviderAdapter.getAdapter`

I dont have a native stack trace yet as the s390x machines seem to be inaccessible right now

[2022-03-22 22:55] PascalSchumacher opened #14764 "Start-up for Spring Boot Applications using Apache Camel much slower than Hotspot"
Java -version output
--------------------
[code]
Java 17, Linux and older Java 11 versions are also affected.

Summary of problem
------------------

We noticed that Spring Boot Applications using Apache Camel (especially those using [EndpointRouteBuilder](https://github.com/apache/camel/blob/camel-3.15.x/dsl/camel-endpointdsl/src/main/java/org/apache/camel/builder/endpoint/EndpointRouteBuilder.ja

[2022-03-22 22:58] pshipton commented on #14764
@vijaysun-omr fyi

[2022-03-23 12:54] Thihup commented on #14764
@PascalSchumacher Could you try running with the `-Xshareclasses:name=myspringapp -Xscmx500m` command line flag twice? Probably it should improve the startup time after the first run

[2022-03-23 14:47] LinHu2016 commented on #12754
Hi @anuragagarwal561994 @1a2s3d4f1, I have updated the code, but there is still puzzle why it would happen, I also could not reproduce the issue in my local, I have built a personal debug build, which would like you to try on, please let me know which platform you are using(I guess it is windows), Thanks

[2022-03-23 15:44] PascalSchumacher commented on #14764
@Thihup Thanks!

I tried it with a "real" application:

OpenJ9 plain:
[code]
OpenJ9 `-Xshareclasses:name=myspringapp -Xscmx500m`:
[code]

Hotspot:
[code]

OpenJ9 `java -version` output:

[code]

I should have mentioned that I already with different class data sharing options (and or aot options) and quickstart but saw only minimal differences.

[2022-03-23 18:08] tajila commented on #14067
It looks like we are returning from

[code]

in `sun/nio/cs/StreamDecoder.read` BC 180

[2022-03-23 18:24] pshipton commented on #947
Re-opening due to https://github.com/eclipse-openj9/openj9/pull/14766

[2022-03-23 19:06] anuragagarwal561994 commented on #12754
Hi @LinHu2016 I am using MacBook M1, do let me know how can I check the same.

[2022-03-23 19:37] hzongaro commented on #13192
Vijay @vijaysun-omr, does the JIT have awareness (at least during EA) of which objects will be flatlocked?  If not, I'll just be pessimistic and prevent stack allocation of all locked objects.

[2022-03-23 19:45] gacholio commented on #13192
You need to know two things for locked SA objects:

- object has an inline lockword slot (easy to know)
- lock recursion count is provably bounded to the maximum flatlock count

[2022-03-23 19:53] tajila commented on #14753
Native stack trace

[code]

[2022-03-23 21:03] tajila commented on #14753
So it looks like we successfully call the JIT method, but then transistion to the interpreter for a subsequent call and fail the invoke virtual because the receiver is NULL.

[2022-03-23 21:04] tajila commented on #14753
@0xdaryl Can the JIT team continue this investigation

[2022-03-23 21:14] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_mac_OMR_testList_0/14/ - [mac11-aarch64-4](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-4)
cmdLineTester_GCRegressionTests_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.functional_aarch64_mac_OMR_testList_0/14/functional_test_output.tar.gz
[code]

[2022-03-23 22:35] vijaysun-omr commented on #13192
No we cannot tell at compile time whether an object will be flat locked or not in general. As @gacholio says, if we do not have an inline lock word, then we cannot flat lock (and this is easy to know at compile time if we have the type of the object being locked as we have a decent chance of knowing in VP). But if we have a lock word, then we have no idea and we also do not track the recursion cou

[2022-03-23 23:34] knn-k commented on #14734
Grinder job with `disableInlining` finished successfully: job/Grinder/21957

[2022-03-24 02:39] Akira1Saitoh commented on #14734
The WrongMethodTypeException says that the 2 method types are not compatible.
Actually, the numbers of parameters of the types are different when the test fails.

The exception is thrown here, `type` is not compatible with `newType`.
https://github.com/ibmruntimes/openj9-openjdk-jdk18/blob/155d7b8e1c2ec9dce917479c390318bed375b544/src/java.base/share/classes/java/lang/invoke/MethodHandle.java#L901

[2022-03-24 04:58] knn-k commented on #14734
100x Grinder job with `disableStaticFinalFieldFolding` finished successfully: job/Grinder/21993

[2022-03-24 05:02] Akira1Saitoh commented on #14734
I took a look at `java.lang.invoke.MethodHandleImpl$AsVarargsCollector.asTypeUncached` which appeared in the stacktrace of the exception. The method checks if the parameter count of the type of the cached method handle (`asCollectorCache `) is the same as that of the new type. If the both counts are the same, it calls `asType` on the cached type.
https://github.com/ibmruntimes/openj9-openjdk-jdk18

[2022-03-24 05:20] Akira1Saitoh commented on #14734
Here is the corresponding IL tress in jitdump.
[code]

In `n1459n`, `arraylength` (`n1867n`) of `acc.type.ptypes` is compared with `newArity`. However, `n1867n` is turned into constant value in globalValuePropagation.
In this jitdump, the constant value is 96 (0x60), but I suspect the arraylength was turned into the incorrect value when the test failed.

[code]

[2022-03-24 05:38] knn-k commented on #14734
The question here: Why do other platforms (x, p, z) pass the test, if it is a problem at the IL level?

[2022-03-24 06:42] knn-k commented on #14734
No failures in Grinder jobs on AArch64 macOS: job/Grinder/21999, job/Grinder/22001

[2022-03-24 07:42] knn-k commented on #14734
Attached is a JIT trace of the `getCatcher()` method taken from a jitdump file.  It contains the change of a child node of `n1459n` into a constant that @Akira1Saitoh describes above.
[getCatcher.txt.gz](https://github.com/eclipse-openj9/openj9/files/8339345/getCatcher.txt.gz)

[2022-03-24 08:18] hindessm commented on #14526
I'm curious. Why even have a fatal assert there? Naively, it would seem safer just to return without inlining rather than crash. That is, do something like:
[code]

[2022-03-24 08:48] Akira1Saitoh commented on #14734
I was able to get compilation log of `test/java/lang/invoke/MethodHandles/TestCase.getCatcher(Ljava/util/List;)Ljava/lang/invoke/MethodHandle;` when the test fails. (`job/Grinder/22002/`)

From `javacore.20220324.030842.28386.0002.txt`, the failing thread is `0x190D00`.
[code]

From core.20220324.030842.28386.0001.dmp, the stacktrace of the thread `0x190D00` is:
[code]

At `java/lang/invoke/Method

[2022-03-24 08:52] Akira1Saitoh commented on #14734
The instructions around `0x0000FFFFA01C9AFC` in `java/lang/invoke/MethodHandleImpl$AsVarargsCollector.asTypeUncached(Ljava/lang/invoke/MethodType;)Ljava/lang/invoke/MethodHandle;` are:
[code]

As x28 is copied to x1 just before calling `acc.asType(newType)`, x28 is the `newType` (first argument). The value loaded into x8 at `0xffffa01c9ac4` is the number of parameters of `newType`.
Then it is comp

[2022-03-24 10:57] knn-k commented on #14734
**Short summary**:

- This looks like an IL optimization problem as explained above.  A non-constant node (arraylength) is replaced by a integer constant.
- This is related to MethodHandle implementation.  Not reproduced with JDK 17.
- It is not clear why this happens intermittently and only on AArch64 Linux.  Grinder jobs on xlinux, plinux, zlinux, and aarch64 mac did not fail.

[2022-03-24 12:34] pshipton commented on #13860
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux_Nightly/128
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/logging/FileHandlerAccessTest.java

[code]

[2022-03-24 12:36] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly_testList_0/241/ - [p8-java1-ibm10](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm10)
TestIBMJlmRemoteClassAuth_SE80_1

[2022-03-24 12:41] pshipton commented on #13778
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/245
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/logging/TestLoggerBundleSync.java
[code]

[2022-03-24 12:44] pshipton commented on #14705
This was fixed.

[2022-03-24 12:44] #14705 closed

[2022-03-24 12:46] pshipton opened #14770 "ub18-x86 and ub20-x86 core_pattern problems"
i.e. https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly_testList_1/232/
[code]

@AdamBrousseau @vsebe

[2022-03-24 12:48] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/245

[2022-03-24 12:55] pshipton commented on #14470
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.functional_ppc64_aix_Nightly_testList_1/26/ - [p8-java1-ibm07](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm07)
threadMXBeanTimedParkTest_2 `-Xgcpolicy:metronome -Xcompressedrefs -Xthr:minimizeUserCPU`
[code]

[2022-03-24 12:57] pshipton commented on #14770
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_extended.functional_x86-64_linux_Nightly_testList_1/19/

[2022-03-24 13:02] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_OpenJDK17/17/ - [rh7-390-3](https://openj9-jenkins.osuosl.org/computer/rh7-390-3)
jdk_util_1
java/util/EnumSet/EnumSetBash.java
[code]

[2022-03-24 13:49] a7ehuo commented on #14067
Ran jdk_util_0 in [Grinder (21986)](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/21986/) 15x: all passed
Ran jdk_util_0 CodePointTest.java test locally 150x: all passed

[2022-03-24 13:59] dmitripivkine commented on #14243
I can not `jdmpview` work on this core, so there is not so much I can do

[2022-03-24 15:54] 0xdaryl commented on #14734
@nbhuiyan : could you swap in the context of this problem and see if you can provide any insights based on Konno-san's analysis please?

[2022-03-24 16:44] #14568 closed

[2022-03-24 16:49] #13751 closed

[2022-03-24 16:50] #13908 closed

[2022-03-24 16:54] tajila commented on #13633
This is captured in https://github.com/eclipse-openj9/openj9/issues/14662

[2022-03-24 16:54] #13633 closed

[2022-03-24 16:56] 0xdaryl commented on #14654
@BradleyWood : could you have a look at this one please?  As Pete suggests above, there is a way of grinding this to make it more reproducible.  Ultimately you'll want to add -Xdump options to produce a core file from the NPE so you have something  tangible to work with.

[2022-03-24 18:04] gacholio commented on #13192
@amicic Further to our barrier discussions elsewhere, this work is going to allow stack-allocated objects to appear in any stack slot in both compiled and interpreted frames. This means that all of the barriers in use today in the bytecodes and JIT-compiled code need to handle stack-allocated objects as both the object being stored and the object being stored into.

[2022-03-24 18:16] LinHu2016 commented on #12754
Hi @anuragagarwal561994, here is the link for the debug build for Java 11, https://na.artifactory.swg-devops.com/artifactory/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com/Build_JDK11_aarch64_mac_Personal/7/OpenJ9-JDK11-aarch64_mac-20220324-093610.tar.gz, please check output on server side, there would be error messages if any mix order issue happens. Thanks

[2022-03-24 18:25] pshipton commented on #12754
Note that aarch64 mac is new and in early access with known limitations. See the limitations in the release notes for the upcoming release https://github.com/eclipse-openj9/openj9/blob/master/doc/release-notes/0.32/0.32.md

[2022-03-24 18:27] pshipton commented on #12754
@LinHu2016 I believe you have provided an internal IBM link.

[2022-03-24 19:15] vijaysun-omr commented on #13192
I don't think we even check the volatile flag on temporary sym refs. So that won't work to achieve the desired outcome.

I believe any access of the form `<loadaddr of stack allocated object>.f` can be evaluated in one of two ways in the codegen:
1. Evaluate the `loadaddr` node value into a collected register and then use that register to access the field `f` via a memory reference (using its offs

[2022-03-24 19:26] gacholio commented on #13192
To be clear, we require that the derivation of SA objects from the stack pointer be treated like a heap allocation in that it is done exactly once. My code only detects SA objects that are currently referenced by an object pointer (and all such pointers are replaced by the heap equivalents) - I do not use the JIT SA metadata to find them.

[2022-03-24 20:00] fengxue-IS commented on #14718
Discussed with Gac offline, working on adding skip hidden frame logic to `jitGetOwnedObjectMonitors` and `walkFrameMonitorEnterRecords`

[2022-03-24 20:26] gacholio commented on #14718
Definitely time to move the hidden frame logic into a macro. We already have too many copies in the source.

[2022-03-24 21:45] pshipton opened #14774 "cmdLineTester_lockWordAlignment_Object_d_0 crash vmState=0x00000000 walkStackFrames+0x3c6"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_aot_Personal_testList_1/49 - [rh7-390-4](https://openj9-jenkins.osuosl.org/computer/rh7-390-4)
cmdLineTester_lockWordAlignment_Object_d_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.functional_s390x_linux_aot_Personal_testList_1/49/functional_test_output.tar.gz
[

[2022-03-24 21:55] nbhuiyan commented on #14734
From my initial analysis, it seems that the reason why Value Propagation folds `arraylength` into a constant is because of the `@Stable` annotation for the member declaration [`private final @Stable Class<?>[] ptypes;`](https://github.com/ibmruntimes/openj9-openjdk-jdk18/blob/155d7b8e1c2ec9dce917479c390318bed375b544/src/java.base/share/classes/java/lang/invoke/MethodType.java#L145). The `@Stable`

[2022-03-24 22:10] LinHu2016 commented on #12754
Hi @anuragagarwal561994, I have shared the debug builds with you via https://ibm.box.com/s/gtbgs9ut9dzkex0dlx9torz6hyhcl4f1, there are one for JDK8 x86-64, one for JDK11 x86-64 and one for JDK 11 aarch64, as @pshipton mentioned in [comment 4](https://github.com/eclipse-openj9/openj9/issues/12754#issuecomment-1077919840), JDK 11 aarch64 is early access with known limitations and all of builds are u

[2022-03-24 22:51] Spencer-Comin opened #14775 "genLoadAddressConstantInSnippet Z API for profiled addresses"
Snippets generated by `genLoadAddressConstantInSnippet` are only patched on class unloading if they are created with an `aloadi` or `aconst` node, and profiled address constants aren't restricted to only `aloadi` and `aconst` nodes. Example: this issue came up in [profile directed guarded devirtualization](https://github.com/eclipse-openj9/openj9/pull/14272), where the node in question was a virtu

[2022-03-25 00:45] knn-k commented on #14734
@nbhuiyan Thank you for your analysis.
`asCollectorCache` in `MethodHandleImpl$AsVarargsCollector` is marked as `@Stable`, but apparently it can be overwritten after it was first assigned.
So this is a bug in the MethodHandle implementation if I understand it correctly?

[2022-03-25 02:56] 0xdaryl commented on #14115
TL;DR

The NPE is thrown because of a null `sun/reflect/annotation/AnnotationInvocationHandler` object during a `java/lang/reflect/Constructor.newInstance` call.  We have a valid AnnotationInvocationHandler object early in this dispatch sequence, but this object appears to have been "lost" passing through two generated reflection methods which are both interpreted, leading to the NPE.

I would lik

[2022-03-25 03:57] #9167 closed

[2022-03-25 04:22] knn-k commented on #14734
I opened https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/34 and https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/35 (v.0.31.0) for removing the `@Stable` annotation for `asCollectorCache`.

Grinder jobs (50x each) with the change finished successfully: job/Grinder/22014, job/Grinder/22015

[2022-03-25 12:18] JasonFengJ9 commented on #14243
`job/Test_openjdk18_j9_sanity.functional_aarch64_mac_testList_0/21/`(`macaarch64rt7`)
[code]

[2022-03-25 13:17] cjjdespres commented on #14538
Segfaults in: `TestHashTablePerformance_2`, `job/Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Personal/905/`; `threadMXBeanTimedParkTest_2`, `job/Test_openjdk8_j9_extended.functional_x86-64_linux_jit_Personal/302/`. Both look like #14704.

[2022-03-25 13:44] a7ehuo commented on #14067
Another 20x runs in [Grinder (22003)](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/22003/) passed
Locally ran CodePointTest.java test 500x: all passed

[2022-03-25 13:45] dmitripivkine commented on #14707
should be fixed in https://github.com/eclipse-openj9/openj9/pull/14771

[2022-03-25 13:45] #14707 closed

[2022-03-25 14:13] a7ehuo commented on #14067
@tajila All other fields in `entryLocalStorage->i2jState` look valid except for `returnSP` after the execution returns from `sun/nio/cs/StreamDecoder.implRead([CII)I`(JIT'd) back to `sun/nio/cs/StreamDecoder.read([CII)I` (interpreted).  Is `entryLocalStorage->i2jState` [set up in jitTransition](https://github.com/eclipse-openj9/openj9/blob/bc954034d14b265bf2be8dacbc5bf57f0bfa97ba/runtime/vm/Byteco

[2022-03-25 14:30] pshipton commented on #11868
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_mac_Nightly_testList_0/227 - [osx1014-x86-3](https://openj9-jenkins.osuosl.org/computer/osx1014-x86-3)
ConcurrentLoadTest_5m_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.system_x86-64_mac_Nightly_testList_0/227/system_test_output.tar.gz

[2022-03-25 14:31] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64_aix_Nightly/184 - [p8-java1-ibm09](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm09)
TestIBMJlmRemoteClassAuth_0

[2022-03-25 14:37] pshipton opened #14777 "OpenJDK util/Map/BasicSerialization BasicSerialization.testSerialization("Collections.synchronizedMap(HashMap)" NoClassDefFoundError: java.io.ObjectOutputStream"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_x86-64_windows_Nightly/30 - [win2012-x86-3](https://openj9-jenkins.osuosl.org/computer/win2012-x86-3)
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/Map/BasicSerialization.java

[code]

[2022-03-25 16:14] kgibm opened #14781 "DTFJ returns stack frame local whose class does not exist"
Java -version output
--------------------

Java version of core dump: `JRE 1.8.0 Linux amd64-64 (build 1.8.0_302-b08)`

Java version of DTFJ reading core dump:

[code]

Summary of problem
------------------

`info thread` shows a stack with a method `StaticMemoryLeak.addNums` that has a stack frame local `0xb60003a0` but `x/j` on this object shows the error, "no object found at address:"

[code]

[2022-03-25 17:12] gacholio commented on #14774
Both of the provided cores have this java stack trace, but I don't think it's reliable:
[code]

[2022-03-25 17:21] gacholio commented on #14774
Or maybe it is - there is an active stack walk state:
[code]
Flags indicate this is a fillInStackTrace walk:
[code]

[2022-03-25 17:23] gacholio commented on #14774
BP indicates that we are crashing on the same frame where DDR goes off the rails, so the stack is clearly corrupt (BP is lower than the SP from the frame. which is impossible).

[2022-03-25 17:28] gacholio commented on #14774
Stack frame from getBytes looks reasonable:
[code]
The bytecodes indicate we've called the wrong virtual method:
[code]

[2022-03-25 17:35] keithc-ca commented on #14781
Can you share the source for `StaticMemoryLeak.java` (and anything required to reproduce this)?

[2022-03-25 17:43] gacholio commented on #14774
Locals look like trash:
[code]
Stack frame for checkClassModuleVisibility is also bad:
[code]
The method (savedCP) is garbage, but the PC points to what looks correct:
[code]

[2022-03-25 18:00] kgibm commented on #14781
@yathamravali Please share `StaticMemoryLeak.java` and the version of OpenJ9 you used to produce the dump.

[2022-03-25 18:26] AdamBrousseau commented on #14770
/proc/sys/kernel/core_pattern
/etc/sysctl.conf
disable apport

- [ ] ub18-390-1
- [ ] ub18-390-2
- [ ] ub18-ppcle-1
- [ ] ub18-ppcle-2
- [ ] ub18-x86-1
- [ ] ub18-x86-2
- [ ] ub20-390-1
- [ ] ub20-390-2
- [ ] ub20-aarch64-1
- [ ] ub20-aarch64-2
- [ ] ub20-x86-1

[2022-03-25 18:45] fengxue-IS commented on #14738
opened #14782 #14783

[2022-03-25 19:00] #14770 closed

[2022-03-26 11:12] zheng-kai opened #14785 "GB18030 is absent in openjdk9-openj9 and openjdk10-openj9 on windows 10"
When I test openjdk9-openj9 and openjdk10-openj9 on windows 10, the locale is zh_CN, i got the error bellow:

[code]
[code]
and I download the jdk from [AdoptOpenJdk](https://adoptopenjdk.net/releases.html?variant=openjdk9&jvmVariant=openj9)

[2022-03-26 11:30] anuragagarwal561994 commented on #12754
@LinHu2016 I am not able to access the same, I am not part of the IBM box and in my personal account I am not able to use it.

[2022-03-26 22:40] pshipton commented on #14785
These versions are very old and out of support. Does the latest jdk11 work? Download are now available from https://developer.ibm.com/languages/java/semeru-runtimes/downloads

[2022-03-26 22:42] pshipton commented on #12754
If the sharing permissions are set correctly you should be able to access the files. I can't access the folder either.

[2022-03-27 01:26] zheng-kai commented on #14785
Thanks.  jdk11 is ok.

[2022-03-27 08:20] yathamravali commented on #14781
StaticMemoryLeak.java
[code]

[2022-03-27 08:21] yathamravali commented on #14781
I tried with both IBM java and our Semeru builds

[2022-03-27 08:22] yathamravali commented on #14781
[code]
[code]

[2022-03-27 09:12] zheng-kai commented on #14785
But, do the old version of them have GB18030 charset? If I want to use the old version of jdk9 or jdk10 to test something, where can I download them.

[2022-03-27 11:27] pshipton opened #14786 "ub20-x86-1 No space left on device"
https://openj9-jenkins.osuosl.org/computer/ub20-x86-1
https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_linux_Personal/190/console
Disabled it.

[code]

Deleted deleteME, created Feb 15, which contained openj9-openjdk-jdk11. Still only 8.7G available.

There are a bunch of cores (4.5G) in /var/lib/apport/coredump which need to be deleted, by root. I expect many other ub18 and ub20 machines a

[2022-03-27 12:37] pshipton opened #14787 "No space trying to start release build"
https://openj9-jenkins.osuosl.org/job/Pipeline-Release-0.32.0-Build11/4/console

It started aarch64, and one test job on mac, then the job died.

On worker4, not sure if this is part of the problem, but:

Found a /home/jenkins/cores directory 5.4G, from Jan 17. Deleted it.

There was 13G of old/current build stuff in workspace, including obsolete directories for mixed, cm, jdk14, jdk15, jdk16, etc

[2022-03-27 12:38] pshipton commented on #14787
Attempting another build https://openj9-jenkins.osuosl.org/job/Pipeline-Release-0.32.0-Build11/5/

[2022-03-27 13:23] pshipton commented on #14787
New build also ran out of space.

[2022-03-27 13:27] pshipton commented on #14787
I think jenkins is dead. Tried to start another release build with a subset of platforms but the build doesn't show up.

[2022-03-27 21:34] pshipton commented on #14785
The latest versions of jdk9 and jdk10 are available from adoptopenjdk.net

[2022-03-27 21:34] #14785 closed

[2022-03-28 03:45] AdamBrousseau commented on #14786
5x900Mb each. Still only 14G available.

[2022-03-28 04:13] knn-k commented on #14734
I tried to reproduce the failure and generate trace files for `getCatcher()` on x86-64 Linux, but my attempts didn't go well even with `tryToInline={*AsVarargsCollector.asTypeUncached*}`.

[2022-03-28 04:31] knn-k commented on #14734
Attached is a JIT trace file for `getCatcher()` on x86-64 with `-Xjit:tryToInline={*AsVarargsCollector.asTypeUncached*}` specified.  The method does not appear in "List of Call Graphs To Be Inlined".
[getCatcher-x86-64-linux.txt.gz](https://github.com/eclipse-openj9/openj9/files/8359641/getCatcher-x86-64-linux.txt.gz)

[2022-03-28 10:27] knn-k commented on #14734
Attached JIT trace file found the method `AsVarargsCollector.asTypeUncached()`, but it was not inlined after all.
[getCatcher-x86-64-linux-2.txt.gz](https://github.com/eclipse-openj9/openj9/files/8361831/getCatcher-x86-64-linux-2.txt.gz)
[code]

[2022-03-28 12:50] AdamBrousseau commented on #14787
Removed all the workspaces on the Controller to get this unblocked. Nothing out of the ordinary in there.
I'll keep digging to see if there's other folders that are growing.
I have an email in to OSU to get us a larger disk. Will arrange for that as soon as possible.

[2022-03-28 12:57] pshipton commented on #14586
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64_aix_OMR_testList_1/85 - [p8-java1-ibm06](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm06)
JCL_Test_2 `-XX:+CompactStrings`

[2022-03-28 13:02] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/238

[2022-03-28 13:08] pshipton commented on #14786
Builds still failed on [ub20-x86-1](https://openj9-jenkins.osuosl.org/computer/ub20-x86-1) due to the core_pattern on Friday night although it was supposed to be fix according to https://github.com/eclipse-openj9/openj9/issues/14770#issuecomment-1079290393.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_linux_Nightly_testList_1/177
Mar. 25, 2022, 10:31:17 p.m

[2022-03-28 13:17] pshipton commented on #14706
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.functional_x86-64_linux_Release_testList_1/7 - [cent7-x64-5](https://openj9-jenkins.osuosl.org/computer/cent7-x64-5)

[2022-03-28 13:27] cjjdespres commented on #14538
Segfaults in: `threadMXBeanTimedParkTest_3`, `job/Test_openjdk8_j9_extended.functional_x86-64_linux_jit_Personal/303/`; `testSoftMxNotDisclaimMemory_2`, `job/Test_openjdk8_j9_extended.functional_x86-64_linux_jit_Personal/304/`. Both look like #14704.

[2022-03-28 13:31] pshipton commented on #13477
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_x86-64_windows_Personal_testList_0/2 - [win2012-x86-6](https://openj9-jenkins.osuosl.org/computer/win2012-x86-6)
DaaLoadTest_daa1_special_5m_24 - `-Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilatio

[2022-03-28 14:03] tajila opened #14789 "CRIU: Performance regression"
There seems to be a perf regression between these two builds

Before:
[https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK11_x86-64_linux_criu_P[…]/OpenJ9-JDK11-x86-64_linux_criu-20220322-120105.tar.gz](https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK11_x86-64_linux_criu_Personal/5/OpenJ9-JDK11-x86-64_linux_criu-20220322-120105.tar.gz)
[code]
After:
[https://

[2022-03-28 14:03] tajila commented on #14789
@JasonFengJ9 Can you please investigate

[2022-03-28 14:11] LinHu2016 commented on #12754
Hi @anuragagarwal561994,

please try the below the links

https://ibm.box.com/s/cnrh00pltdg3i1h17xie9jdsedr6u6ns
https://ibm.box.com/s/6rs8rvtavlvqd70fj6hju3sx18gdxe3h
https://ibm.box.com/s/zex40jj3xc4nehrlfc90lcqn9i9jigcv

[2022-03-28 15:18] cjjdespres opened #14792 "Reducing memory footprint by disclaiming AOT memory after load"
During a warm run, once the JIT detects that it has exited start-up it will disclaim the AOT region of the shared class cache to reduce memory footprint, since the methods of that region will already have been loaded into the code cache of the JVM. It is possible to reduce the footprint after load, possibly by issuing another disclaim a few minutes after load.

[2022-03-28 15:24] cjjdespres commented on #14792
Attn @mpirvu.

[2022-03-28 16:09] pshipton commented on #14716
Fixed in the 0.32 branch.

[2022-03-28 16:09] #14716 closed

[2022-03-28 16:14] cjjdespres commented on #14792
Is the entire AOT region loaded and then disclaimed at start-up? If so then I assume the later disclaim will be for other portions of the SCC that have been loaded subsequently.

[2022-03-28 16:15] AdamBrousseau commented on #14786
https://openj9-jenkins.osuosl.org/job/all-nodes-matching-labels/15/console
ub18x-2
ub18x-1
The rest were either non-existent or empty.
I've cleaned up those 2 now.

ub20-x-1 pattern wrong again, apport enabled again.
Disabled apport and corrected core pattern, rebooted. Seems ok right now.

Machine is small though, other x boxes have 75G or 200G root partition. I'll see if there's more disk availa

[2022-03-28 16:40] pshipton commented on #14786
Do you think it's ok to re-enable it, or is something still consuming space that we need?

[2022-03-28 16:41] pshipton commented on #14786
i.e. even though it's small, I assume it's been working up to now.

[2022-03-28 17:47] IBMJimmyk opened #14794 "Fix and improve handling of calls to java/lang/StringUTF16.putChar"
Currently `java/lang/StringUTF16.putChar` is explicitly excluded from being inlined. The reason for this is so the call node would be recognized by the `unsafeFastPath` optimization and optimized into something more efficient. The problem is that the `unsafeFastPath` optimization does not support any transformations related to `StringUTF16.putChar`. So right now, the call can not be inlined and ca

[2022-03-28 17:51] #14738 closed

[2022-03-28 17:56] kgibm opened #14796 "jdmpview's info thread * on an AIX core dump shows potentially excessive ObjectMonitor_V2 memory usage/OOM"
Java -version output
--------------------

Output from `java -version`:

* core dump: `JRE 1.8.0 AIX ppc64-64 (build 8.0.6.35 - pap6480sr6fp35-20210714_01(SR6 FP35))`
* jdmpview:
[code]

Summary of problem
------------------

In the following example, `jdmpview` is started with `-Xmx5G` and the resulting OOM heapdump shows 4.4GB retained by `com.ibm.j9ddr.vm29.j9.walkers.HeapWalker`:

[code]

The

[2022-03-28 18:11] georgejxu commented on #14796
also, when first open, the pid was not found.

[2022-03-28 19:03] hangshao0 commented on #14792
The AOT are stored together (in mix) with class metadata. They are disclaimed together once the start-up phase is over. The class metadata is used when the class is loaded, but we expect most loading happen in the start-up phase.

Is there any statistics on how much memory an additional disclaim could save ?

[2022-03-28 19:21] AdamBrousseau commented on #14786
Can try ren-enabling. There could be more stuff to cleanup but I don't know where to look without spending alot of time. I opened an issue to have the disk increased but no eta on that or if it's even possible. If you want to try it go ahead.

[2022-03-28 20:03] tajila commented on #14067
@gacholio Is `i2jState` only modified by the interpreter?

[2022-03-28 20:32] pshipton opened #14799 "Change jdk17 linux compilers to gcc 10.3"
To match Adoptium and OpenJDK, once https://github.com/eclipse-openj9/openj9/issues/14268 updates the linux compilers to 10.3 for jdk18 and any problems are resolved, then jdk17 should follow.

[2022-03-28 21:38] kgibm commented on #14796
Same OutOfMemoryError after doubling the heap with `jdmpview -J-Xmx10g` and the resulting heapdump shows additional growth in the same places:

[code]

[2022-03-28 21:40] nbhuiyan commented on #14734
@knn-k Looking at the second log you shared, the reason `asTypeUnchached` did not inline was because the receiver class had a profiled frequency below the inlining threshold so that method was skipped, and the pattern provided did not match and force inlining of that method. However, I do see that `tryToInline` pattern matched a few methods from the `-Xjit:tryToInline={*.asTypeCached*}` you provid

[2022-03-28 22:06] JasonFengJ9 commented on #14695
`job/Test_openjdk18_j9_sanity.openjdk_aarch64_mac_testList_0/21/`(`macaarch64rt7`)
[code]

[2022-03-28 22:09] pshipton commented on #14695
@JasonFengJ9 is it repeatable in a grinder, either the test alone or the entire jdk_util_0 or jdk_util_1?

[2022-03-28 22:32] JasonFengJ9 commented on #14695
50x grinder - `job/Grinder/22085/`

[2022-03-28 22:44] JasonFengJ9 opened #14803 "JDK18 jdk_security4_0_FAILED sun/security/krb5/auto/BasicProc.java Exception: Proc abnormal end"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.openjdk_x86-64_linux/13/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_security4_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG_

[2022-03-28 23:02] JasonFengJ9 opened #14804 "jdk_nio_0_FAILED java/nio/channels/DatagramChannel/Promiscuous.java RuntimeException: Expected message not received"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_extended.openjdk_s390x_linux/61/`(`rhel7s390x-3-10`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_nio_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_AR

[2022-03-28 23:20] pshipton commented on #14803
@JasonFengJ9 the grinder failed consistently. I assume the test used to pass. Does it still pass on the older build, can we find a good/bad build?

[2022-03-28 23:21] anuragagarwal561994 commented on #12754
I am not able to build this on my local, mac doesn't allow saying that it is not from a verified source

[2022-03-29 00:41] knn-k commented on #14734
@nbhuiyan
I used the following `-Xjit` option to generate the trace file, specifying both `asTypeUncached` and `asTypeCached` as `tryToInline`:
[code]

I also tried `asTypeUncached`-only and `asTypeCached`-only to see if they make any differences.  I was not able to get `AsVarargsCollector.asTypeUncached()` inlined, however.

[2022-03-29 00:53] nbhuiyan commented on #14734
I will spend some time working on this on x86-64 Linux and will provide an update. If for some reason the inlinining of `AsVarargsCollector.asTypeUncached()` normally occurs only on aarch64, this may be the reason why we see this issue only on aarch64 and may be a potential issue on other platforms as well.

[2022-03-29 01:24] knn-k commented on #14734
I don't think it is something specific to AArch64.
I tried to reproduce the failure on AArch64 macOS last week, but I couldn't make it fail at all.

[2022-03-29 01:41] JasonFengJ9 commented on #14803
It has been failed since earliest test history Feb. 1st `job/Test_openjdk18_j9_extended.openjdk_x86-64_linux/4/consoleFull`, was just marked by [JDK18 jdk_security4_FAILED Server returned HTTP response code: 401 for URL - RuntimeException: Failed to login as subject ](https://github.com/eclipse-openj9/openj9/issues/14499)
I think JDK18 probably never passed it.

[2022-03-29 02:01] pshipton commented on #14803
Java 11, 17 have a test with the same name, what is the status on those versions?

[2022-03-29 02:09] JasonFengJ9 commented on #14803
JDK 11/17 `jdk_security4` passed, and there is no test exclusion for `sun/security/krb5/auto/BasicProc.java`.

[2022-03-29 02:15] pshipton commented on #14803
@tajila this needs investigation. I've added it to the 0.31 milestone plan.

[2022-03-29 02:18] pshipton commented on #14804
The grinders all failed, but is this a machine setup problem?

[2022-03-29 11:50] JasonFengJ9 commented on #14804
From test history, it appears machine specific (some passed), launched 60x grinder - `view/Test_grinder/job/Grinder/22096/` (distributed to 20 machines)

[2022-03-29 12:00] JasonFengJ9 opened #14808 "JDK8 renaissance-db-shootout_0_FAILED - Segmentation error vmState=0x00040000"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_extended.perf_x86-64_windows/47/`(`win16x64rt2-10`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=renaissance-db-shootout_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;

[2022-03-29 12:21] JasonFengJ9 commented on #14803
15x grinder w/ RI - `job/Grinder/22098/`

[2022-03-29 13:56] tajila commented on #14803
@JasonFengJ9 is this related to `domainCombiner` ?

[2022-03-29 14:21] JasonFengJ9 commented on #14803
This failure wasn't seen in pre-JDK18 like [jdk_security4 test failed with credential exception because server returned HTTP response code 401](https://github.com/eclipse-openj9/openj9/issues/11268) which was due to a `null` `domainCombiner`.
I think this one is not related to that.

This is to test interop between Java GSS and native GSS, and `native.kdc.path` with a native KDC, maybe something m

[2022-03-29 14:58] keithc-ca opened #14810 "Reduce or eliminated modifications to zlib source code"
Minimizing changes relative to [madler/zlib](https://github.com/madler/zlib.git) will make the process of updating zlib easier.
For example, in `deflate.h` and `inflate.h`, these lines could be moved to `zconf.h`:
[code]

[2022-03-29 14:59] tajila commented on #14803
So far Ive been able to narrow it down to https://github.com/ibmruntimes/openj9-openjdk-jdk18/blob/742164f41ccbae087b64a8f282ff98d610ab3f14/src/java.base/unix/native/libnio/ch/DatagramChannelImpl.c#L101

It is failing with `EINTR`

[2022-03-29 15:04] tajila commented on #14803
Docs:

[code]

[2022-03-29 15:05] tajila commented on #14803
Not sure what would be sending a signal, and why it occurs consistently.

@JasonFengJ9 any ideas?

[2022-03-29 15:11] JasonFengJ9 commented on #14803
It is unlikely due to random machine issue considering this error is consistent and across platforms.
My guess is from test itself when a failure occurred earlier and it is going to exit.

[2022-03-29 18:35] hangshao0 opened #14813 "Class.getDeclaredConstructors should search for unnamed factory methods on value classes"
A new kind of special method, unnamed factory methods are introduced to create the instances of a value class. Unnamed factory methods are named `<new>` and are static. They return an instance of the value class.

From the [Value Objects JEP](https://openjdk.java.net/jeps/8277163):
`The method Class.getDeclaredConstructors, and related methods, search for unnamed factory methods rather than instan

[2022-03-29 22:04] tajila commented on #14115
@babsingh can you take a look at Daryl's comment above

[2022-03-29 22:05] JasonFengJ9 commented on #14803
This is a `SecurityManager` related test failure, one of `checkPermission` failure occurred at [1]. Commenting out that line can run test further however still failed probably at another `checkPermission` (to be determined).
Setting current `SecurityManager` to null (disable all permission check) can make `jdk_security4` pass.

Next step is to investigate why the code (bootstrap w/ all permissions

[2022-03-29 22:27] pshipton commented on #14804
All the tests in the grinder failed.

[2022-03-29 22:32] pshipton commented on #14804
@JasonFengJ9 is there any machine information available for where the test has previously passed?
These are all the machines where the grinder ran, everything is rhel7, machines are repeated in the 20x distribution.
rhel7s390x-3-3
rhel7s390x-3-7
rhel7s390x-3-8
rhel7s390x-4-2
rhel7s390x-4-5
rhel7s390x-4-10

[2022-03-29 22:36] pshipton commented on #14808
3/50 failed, all crashes like above. The crash is in the VM.
@tobi this could some investigation.

[2022-03-29 22:42] pshipton commented on #14803
Although it's deprecated for removal, it's still supported and usable in jdk18.

[2022-03-29 22:44] JasonFengJ9 commented on #14804
It appears all passed machine are `ub18`
[code]

[2022-03-29 22:52] pshipton commented on #14804
I think this should be opened internally, as it seems a machine issue.

[2022-03-29 22:52] #14804 closed

[2022-03-29 23:11] pshipton commented on #14695
@JasonFengJ9 pls try jdk_util_0 or jdk_util_1

[2022-03-29 23:59] pshipton commented on #14469
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_Nightly_testList_1/241 - [p8-java1-ibm05](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm05)
jit_tr_0 `-Xjit:noJitUntilMain -Xdump:java`

[code]

[2022-03-30 00:06] pshipton commented on #14717
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_aarch64_mac_Nightly_testList_0/22
LambdaLoadTest_CS_5m_0 '-Xgcpolicy:gencon -Xgc:concurrentScavenge'

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.system_aarch64_mac_Nightly_testList_0/22/ - no diagnostics

[code]

[2022-03-30 00:07] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64le_linux_Nightly_testList_1/180

[2022-03-30 00:12] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.functional_aarch64_mac_Nightly_testList_0/22 - [mac11-aarch64-8](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-8)
cmdLineTester_GCRegressionTests_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

No DDR support on aarch64 mac.
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_sanity.functional_

[2022-03-30 00:16] pshipton opened #14818 "LambdaLoadTest_J9_5m_1 crash vmState=0x00020002"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_x86-64_linux_Nightly_testList_1/30 - [ub18-x86-2](https://openj9-jenkins.osuosl.org/computer/ub18-x86-2)
LambdaLoadTest_J9_5m_1 - `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_sanity.system_x86-64_linux_Nightly_testList_1/30/system_test_output.tar.g

[2022-03-30 00:45] pshipton commented on #14734
https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/34 has been merged to the head stream.
https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/35 has been merged to the 0.31 stream.
https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/38 will merge the head stream change to the 0.32 branch.

I won't close this since there is other investigation ongoing, but I'll move it to the 0.32 m

[2022-03-30 00:54] Akira1Saitoh commented on #14663
I believe the problem is that the register map was incorrect for load instruction for unresolved fields.

[code]

In this case, we generate a branch instruction to resolution helper for the instruction `0xffff93879ff0`. Because the virtual register GPR_0755 is not a collected reference register (it does not have a `&` prefix), the real register for GPR_0755 is not added to the register map.
The re

[2022-03-30 02:28] nbhuiyan commented on #14734
I have not been able to able to reproduce this failure on x86-64. In all my runs `AsVarargsCollector.asTypeUncached()` did not get inlined, and will require some changes to the inliner code to force inlining of that method. Based on the discussion around this issue in today's OpenJ9 community call, where we agreed that the use of `@Stable` annotation for `asCollectorCache` was incorrect and result

[2022-03-30 02:48] knn-k commented on #14734
I opened https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/81 for JDK 17.

[2022-03-30 03:24] BradleyWood commented on #14654
I haven't observed this failure yet. I had seen probably 20-30 passed grinder runs, recently, the jobs have been failing because the test is timing out...

[2022-03-30 11:01] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_x86-64_windows_Nightly/33

[2022-03-30 11:02] pshipton commented on #14734
We should fix it in the head stream for jdk19 as well.

[2022-03-30 11:14] knn-k commented on #14734
I opened https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/417 for JDK.next.

[2022-03-30 11:16] pshipton commented on #14734
Is somebody going to post the problem to the OpenJDK mailing list to see about getting it fixed there, or is the problem OpenJ9 specific?

[2022-03-30 11:33] 0xdaryl commented on #14734
@DanHeidinga mentioned on the Community Call that he would bring it up with the OpenJDK community.

[2022-03-30 11:36] pshipton commented on #14734
Seems this can be closed now, but I'll leave that to somebody else.

[2022-03-30 11:44] JasonFengJ9 commented on #14695
This failure is not reproduced at 50x grinder w/ `jdk_util` - `job/Grinder/22145`.
There is a unrelated failure `Invalid JIT return address` after all tests passed, which seems https://github.com/eclipse-openj9/openj9/issues/14717

[2022-03-30 11:45] pshipton commented on #14695
Ok, we'll continue to monitor how often this occurs in the builds.

[2022-03-30 11:55] #14794 closed

[2022-03-30 13:33] dmitripivkine commented on #14818
Adding JIT label right away, the crash occur in the walk of JIT frame in java thread stack. I will triage and add more details later on.

[2022-03-30 16:29] dmitripivkine commented on #14818
GC Check shows the problem:
[code]
It is corresponds with register content `R8=00007F58E8395270`
There is bogus O-slot in the JIT frame points to zeroes (mid-object):
[code]
Bogus address `0x0x68773AE00` points inside object `!j9object 0x68773ADC8` `java/lang/Class`

[2022-03-30 16:33] dmitripivkine commented on #14818
Bogus pointer `0x68773AE60` is mid object `!j9object 0x68773AE50`
[code]

[2022-03-30 16:39] dmitripivkine commented on #14818
@0xdaryl FYI. Please let me know if you need more help from GC side

[2022-03-30 18:19] tajila opened #14821 "CRIU: assertion when running with jdmpview"
When running a CRIU capable JDK without `-XX:+EnableCRIUSupport` an assertion occurs as we attempt to load the CRIU Exception classes

[code]

`17:36:23.925 0x1aa00  j9criu.2      *   ** ASSERTION FAILED ** at /home/jenkins/workspace/Build_JDK11_x86-64_linux_criu_Personal/openj9/runtime/criusupport/criusupport.cpp:52: ((criuJVMCheckpointExceptionClass) != NULL)`

[2022-03-30 18:36] kgibm opened #14822 "Variable set but not used compile errors on macOS 12.2.1 and XCode 13.3"
Received the following errors when following the [JDK 11 compilation steps on macOS](https://github.com/eclipse-openj9/openj9/blob/master/doc/build-instructions/Build_Instructions_V11.md#macOS):

[code]

macOS and XCode versions:

[code]

[2022-03-30 19:18] cjjdespres commented on #14706
I can confirm locally (by modifying the random port range to be a single value and having a separate JITServer instance use that port) that the port use detection works, at least in that scenario.

It's probably significant that the only part of the test that ever fails like this is `testServerComesUpAfterClientAndGoesDownAgain` - I would expect another sub-test to fail at some point if the issue

[2022-03-30 22:31] kgibm commented on #14822
Worth highlighting that @keithc-ca discovered while reviewing that the method `defineClass` in `runtime/vm/jnicsup.cpp` is not working as designed to UTF-compress the class name. The compiler complained about `check` being set but not used and thus I just removed it; however, the check on whether to compress or not below the loop was based erroneously on `c` which will always be `0` at the end of

[2022-03-30 22:39] JasonFengJ9 opened #14827 "JDK11 cmdLineTester_pltest_osx_0_FAILED : j9sysinfo_set_limit set ADDRESS_SPACE soft max FAILED"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_sanity.functional_x86-64_mac_testList_1/166/`(`mac12x64rt15`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=cmdLineTester_pltest_osx_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_sanity.functional_x86-64_mac&amp;DOCKER_REQUIRED=f

[2022-03-31 03:32] knn-k commented on #14635
I am not sure, but this is possibly related to #14663.

[2022-03-31 08:38] knn-k commented on #11164
JDK 8 build for macOS depends on the "JavaNativeFoundation" framework, which targets x86_64 only.

[2022-03-31 11:55] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/241

[2022-03-31 12:05] pshipton opened #14828 "OpenJDK java/foreign/TestUnsupportedPlatform failing on jdk17, jdk18 aix, plinux, zlinux"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_s390x_linux_Nightly/31/
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_ppc64le_linux_Nightly/32/
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_ppc64_aix_Nightly/32/
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Nightly/193
https://openj9-jenki

[2022-03-31 13:37] keithc-ca commented on #14822
For anyone watching, this is why we need to pay attention to compiler warnings.

[2022-03-31 14:17] tajila commented on #14803
This still fails with `-XX:+ShowHiddenFrames` turned on so Im not sure its related to the stack walker code

[2022-03-31 15:01] ChengJin01 commented on #14828
Please note the test is only supported on 32-bit platforms, which should be disabled on all 64-bit platforms.

https://github.com/ibmruntimes/openj9-openjdk-jdk18/blob/openj9/test/jdk/java/foreign/TestUnsupportedPlatform.java
https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/openj9/test/jdk/java/foreign/TestUnsupportedPlatform.java
[code]
Given the `requires` condition in the test already e

[2022-03-31 15:34] pshipton opened #14829 "win2012-x86-2 and win2012-x86-7 are out of space"
@AdamBrousseau

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_0/237/
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/237/
[code]

[2022-03-31 15:53] hzongaro commented on #14402
Updates:

- Pull request #14411 needed to be reverted, and the changes were subsequently reapplied under pull request #14729.
- I neglected to include a commit that addressed a code review comment from pull request #14411 in the branch for that pull request.  It was subsequently merged under pull request #14784

Those changes complete the work needed for this issue.

[2022-03-31 15:53] #14402 closed

[2022-03-31 16:07] DanHeidinga commented on #14734
I've opened an upstream bug for this https://bugs.openjdk.java.net/browse/JDK-8284103

[2022-03-31 17:50] AdamBrousseau commented on #14829
2,3,7 look fine now.
All online that should be.
Please reopen if there's still a problem.

[2022-03-31 19:42] #14822 closed

[2022-03-31 20:40] 0xdaryl commented on #14526
@lmgray : Could you make the crash artifacts for this issue available for investigation (system core file, javacore, snapfile) as reported in the crash output?  Using IBM Box or Google Drive should be fine.

[2022-03-31 20:58] 0xdaryl commented on #14526
@hindessm : Thanks for the suggestion, but the solution is not likely as simple as failing to inline this target.  The assert fired because the compilation is in a state inconsistent from what the inliner is expecting.  The problem could have been introduced prior to inlining, so it would not be prudent to continue compiling this body knowing it may still be incorrect even without inlining.  We ne

[2022-03-31 22:50] JasonFengJ9 commented on #14803
I verified that as well (`-XX:+ShowHiddenFrames` has no impact). Just to clarify, I was referring if stackwalking has stopped at the caller of `doPrivileged` correctly.
After some digging, it appears a similar problem at `AccessController.doPrivilegedWithCombiner` though this is a different manifestation w/ `SecurityManager.checkPermission`. I have a change to fix this test failure but failed anot

[2022-04-01 05:25] Akira1Saitoh commented on #14663
As discussed in slack channel, I will implement a tactical solution in the memory reference.
A long term solution would be a new opcode or flag for compressed refs node. It would be discussed in the future OMR architecture meeting.

[2022-04-01 12:55] DanHeidinga commented on #14734
The upstream bug has been merged into the mainline JDK.

If we choose to support the openjdk MHs in JDK8 & 11, we'll need to backport this change to those repos - at least in the ibm extensions - as well

[2022-04-01 13:31] pshipton commented on #14639
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/248
jdk_util_0
java/util/stream/test/org/openjdk/tests/java/util/stream/WhileOpStatefulTest.java

[code]

[2022-04-01 13:32] pshipton commented on #14639
6x by 5 grinder https://openj9-jenkins.osuosl.org/job/Grinder/748/

[2022-04-01 13:34] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/189/

[2022-04-01 13:37] pshipton opened #14832 "cmdLineTester_vmRuntimeState Test triggering of J9HOOK_VM_RUNTIME_STATE_CHANGED event Expected J9HOOK_VM_RUNTIME_STATE_CHANGED"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_windows_Nightly_testList_1/195/ - [win2012-x86-3](https://openj9-jenkins.osuosl.org/computer/win2012-x86-3)
cmdLineTester_vmRuntimeState_0 `NoOptions`

[code]

[2022-04-01 13:38] pshipton commented on #8283
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_windows_Nightly_testList_1/195/ - [win2012-x86-3](https://openj9-jenkins.osuosl.org/computer/win2012-x86-3)
cmdLineTester_vmRuntimeState_0 `NoOptions`

[code]

[2022-04-01 13:38] pshipton commented on #14832
Closing as dup of https://github.com/eclipse-openj9/openj9/issues/8283

[2022-04-01 13:38] #14832 closed

[2022-04-01 14:01] pshipton commented on #14829
I think it's https://github.com/adoptium/STF/pull/125#issuecomment-1085929989

[2022-04-01 15:27] cjjdespres commented on #14792
@mpirvu Was the layering of the shared class cache you referred to the "supercache list" in the cache map that is dealt with in the current

https://github.com/eclipse-openj9/openj9/blob/4d7ae0972804b296f1613d2472451949b62e0fbd/runtime/shared_common/CacheMap.cpp#L231-L246

I suppose I could use that (or something like it) in `jitStateLogic` to perform a second disclaim without invoking the full ph

[2022-04-01 15:44] hangshao0 commented on #14792
`SH_CacheMap:: _ccHead` is the top layer shared cache, which is readable and writable to the current JVM. `ccToUse->getNext()` gives you a lower layer shared cache. which is read only.

[2022-04-01 16:14] mpirvu commented on #14792
Yes,  probably the trigger should stay in the jitStateLogic. IIRC for the trigger after startup we have a VM callback.
I'll have to revisit the code.
I don't have a good idea for when we should trigger the second reclaim. Time alone is not good because the JVM could stay idle for a long time. Maybe time spent in rampup, steady state and deep-steady state.

[2022-04-01 16:25] mpirvu commented on #14792
`void jvmPhaseChange(J9JavaVM* vm, UDATA phase)` is the callback used when JVM exits start-up.
This calls
[code]

[2022-04-01 19:36] #14518 closed

[2022-04-04 12:38] pshipton commented on #14803
Moving to 0.32 while the investigation continues.

[2022-04-04 13:15] JasonFengJ9 opened #14839 "VarHandleValues.java:40: error: class is not allowed to extend sealed class: VarHandle (as it is not listed in its permits clause)"
Latest `valhalla/lworld` update caused following build failure:
[code]

fyi @tajila @hangshao0

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes/commit/1f85f232df6b823eba3d3dda4c814ca7fe836d5b

[2022-04-04 13:26] pshipton commented on #14718
I'll reopen this until the fix is in the release stream(s).

[2022-04-04 13:28] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_sanity.system_x86-64_linux_jit_Personal/232/`, failure in `NioLoadTest_5m_0`. Looks like #14704.

[2022-04-04 13:45] cjjdespres commented on #14792
If time in individual phases is important, perhaps the time at which phase changes occur could be tracked in `J9JavaVM` and updated in the `jvmPhaseChange` functions, to be used by `jitStateLogic`.

[2022-04-04 14:08] babsingh commented on #14115
@0xdaryl The above link does not work: `This shared file or folder link has been removed or is unavailable to you.` Is there a newer one?

[2022-04-04 14:11] 0xdaryl commented on #14115
Please try this:  https://ibm.box.com/s/ggb0m0tfoygb559gu66irqulhnnyew68

[2022-04-04 14:12] babsingh commented on #14115
Works; can download it.

[2022-04-04 14:46] pshipton opened #14840 "TestJlmRemoteThreadNoAuth_1 CL2 hang? on aarch64 mac"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_aarch64_mac_Release_testList_0/7 - [mac11-aarch64-6](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-6)
TestJlmRemoteThreadNoAuth_1 `-XX:-UseCompressedOops`

Core and javacores's collected:
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_sanity.system_aarch64_mac_Release_testList_0/7/s

[2022-04-04 14:50] pshipton commented on #11868
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Release_testList_1/6/ - [mac11-aarch64-2](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-2)
ConcurrentLoadTest_5m_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_extended.system_aarch64_mac_Release_testList_1/6/system_test_output.tar.gz
[code]

@knn-k fyi. This may be

[2022-04-04 14:56] pshipton opened #14841 "OpenJDK zip/ZipFile/ManyEntries zip/TestExtraTime unexpected times"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_aarch64_mac_Release/7 - [mac11-aarch64-1](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-1)
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/zip/ZipFile/ManyEntries.java
[code]

java/util/zip/TestExtraTime.java
[code]

@knn-k