[2020-05-22 20:11] pshipton commented on #9657
@JasonFengJ9 fyi

[2020-05-22 20:23] pshipton commented on #9657
Seems `MethodHandles.lookup().defineHiddenClass(bytes, true).lookupClass();` is expected to declare IllegalAccessException, so this is related to https://github.com/eclipse/openj9/issues/9328

[2020-05-22 20:30] JasonFengJ9 commented on #9657
Will have a look.

[2020-05-22 20:42] rpshukla commented on #9381
The root cause of this issue seems to be in IL gen.

Immediately after IL gen the trees look like this:
[code]

Node `n20n` corresponds with `if (var1 == 0)` from the decompiled code. The value of `var1` is stored in `<auto slot 0>`. The problem here is that node `n16n` (which loads slot 0) has the `nodeIsNonZero` flag set. This is shown as the `(X!=0 )` annotation. Since the value in slot 0 is be

[2020-05-22 21:03] dnakamura opened #9658 "openj9_version_info.h causing ccache misses"
Because `openj9_version_info.h` is includes git SHAs, and is included widely, it causes a significant number of cache misses when using ccache, even though the updated SHAs are only used in a hand full of source files. We may want to switch over to a system where the SHAs are stored in a variable defined in an `openj9_version_info.c` or something similar.

[2020-05-22 23:32] andrewcraik commented on #9627
Is there a reason we have to use the class and cp index for these helpers since they are for the resolved case? Could we use a pointer so a J9 struct for the field to reduce the parameter count? eg could we pass a pointer to the field ref perhaps?

What about getstatic and putstatic runtime helpers since you getField and putField are listed for instance objects?

We likely will eventually need a r

[2020-05-23 06:52] KsRyY commented on #9594
# My Testing Result
Prior Statment: All three tests below are the results after a 30s warmup, captured when standing still.

My Computer:
[code]

## OpenJ9 r0.20.0 (Java8)
`java -version` output:
[code]

JVM Option: `-Xjit:disableGuardedStaticFinalFieldFolding`

Screenshot:
![8u262_OpenJ9-r0.20.png](https://i.loli.net/2020/05/23/TZflGBmIANJonF5.png)

## OpenJ9 Nightly (about a week or so ago)
`jav

[2020-05-23 07:41] zelix0 commented on #8838
Just to be sure, have re-run the test case using the OpenJ9 VM **with the -Xint option** and then using the **HotSpot version** of the AdoptOpenJDK.  The test case ran to completion with no problems in both scenarios.  Problems only occur if the OpenJ9 VM is used **without** the -Xint option.

[2020-05-23 10:24] 1a2s3d4f1 commented on #9594
now  I can't reproduce this problem

[2020-05-23 10:24] #9594 closed

[2020-05-23 20:34] jkuipers opened #9663 "null returned by java.lang.J9VMInternals#getStackTrace, causing NPE"
Java -version output
--------------------

openjdk version "14.0.1" 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.1+7)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.20.0, JRE 14 Windows 10 amd64-64-Bit Compressed References 20200422_50 (JIT enabled, AOT enabled)
OpenJ9   - 05fa2d361
OMR      - d4365f371
JCL      - 5757187cae based on jdk-14.0.1+7)

Summary of problem
-----------

[2020-05-24 09:42] jkuipers commented on #9663
Per Jason Feng's request i ran the test again with an additional `-Xjit:exclude={java/lang/Throwable.getStackTrace*}` argument, butI could still reproduce the error.

[2020-05-24 13:44] jkuipers commented on #9663
I managed to reproduce the problem with a small sample app:
[j9-npe.zip](https://github.com/eclipse/openj9/files/4673609/j9-npe.zip)

I can run the test from IntelliJ or from Gradle on the command line, and in both cases it will often trigger the NPE to be thrown. Hope this helps in reproducing the issue on your side as well.

[2020-05-25 07:38] jkuipers commented on #9663
Also tried to run the sample app with `-Xjit:exclude={java/lang/Throwable.get*StackTrace*}`, but am still able to reproduce the error (both from IntelliJ and using Gradle).
Beware that using `gradlew test` won't actually run the test again if it succeeded and nothing changed, which might cause you to believe that the error can't be reproduced. You can use `gradlew --info clean test` to recompile f

[2020-05-25 12:44] DanHeidinga commented on #9656
@andrew-m-leonard Can you ask about this on the OpenJDK mailing lists?  I'm surprised to see a lookup() object created for a privileged package and would have expected JDK15 to contain a check, like (based on our code) this:
[code]

[2020-05-25 13:22] pshipton commented on #9382
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly_daaLoadTest/17

Captured a jextact'ed core. I put it into /team/triage/openj9-9382, but if you want it somewhere else, like Box, let me know.

[2020-05-25 13:24] pshipton commented on #9382
[code]

[2020-05-25 13:33] pshipton commented on #9126
Just a reminder this problem still occurs, although I don't report all the failures.
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_OMR/600

[2020-05-25 13:35] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_Nightly/12
[code]

[2020-05-25 13:43] pshipton opened #9668 "testSCCMLSoftmx_1 Test stale entry is shown in printStats failure"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly/384
testSCCMLSoftmx_1
Test 9-b: Test stale entry is shown in printStats=stale
[code]

[2020-05-25 13:54] keithc-ca commented on #9620
This was fixed via eclipse/omr#5199.
See https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_cm_Nightly/16.

[2020-05-25 13:54] #9620 closed

[2020-05-25 14:00] JasonFengJ9 commented on #9663
Followed @jkuipers instruction `gradlew --info clean test`, I am able to reproduce the NPE reported:
https://github.com/eclipse/openj9/blob/1c2b61fa5ddb7945963919a93e8cc517455c2ba9/jcl/src/java.base/share/classes/java/lang/Throwable.java#L219
in which it calls
https://github.com/eclipse/openj9/blob/1c2b61fa5ddb7945963919a93e8cc517455c2ba9/jcl/src/java.base/share/classes/java/lang/Throwable.java#L2

[2020-05-25 14:44] dnakamura commented on #9126
@pshipton  have you noticed any obvious patterns? Based on a quick look, it appears to be more common on the jdk 8 builds.

[2020-05-25 14:51] harryyu1994 commented on #7966
We now have the infrastructure to specify processor types on the fly for each compilation. It's time to decide on the actual set of portable AOT processor defaults for each platform.
@dsouzai @vijaysun-omr @mpirvu @andrewcraik . Could you guys please have some discussion to get this going? Thanks!

Also Marius suggested that we should be able to specify processor via command line options.

[2020-05-25 15:00] pshipton commented on #9126
This seems true, but since I haven't collected all the failures it's hard to say for sure.

[2020-05-25 15:04] harryyu1994 commented on #7966
Here's the list of processors:

[code]

Refer to omr/include_core/omrport.h for the feature flags.

[2020-05-25 15:38] JasonFengJ9 commented on #9657
Did a quick try to throw `IllegalAccessException` when the caller `hasFullPrivilegeAccess()` returns false. The compilation finished but the test failed afterwards like other JEP 371 Hidden Classes tests https://github.com/eclipse/openj9/issues/9328.

Am going to exclude them after consulting with @hangshao0 .

[2020-05-25 15:43] a7ehuo commented on #9482
I will look at this one next.

[2020-05-25 16:09] #9354 closed

[2020-05-25 16:39] pshipton commented on #9445
Closing as a dup of https://github.com/eclipse/openj9/issues/9354 which is now fixed via https://github.com/eclipse/openj9/pull/9662

[2020-05-25 16:39] #9445 closed

[2020-05-25 17:14] keithc-ca opened #9673 "Cannot build windows with cmake"
Attempting to build jdk11 on Windows with cmake:
[code]
fails:
[code]
This is at least in part due to changes such as ibmruntimes/openj9-openjdk-jdk11#161 which added
`-DCMAKE_TOOLCHAIN_FILE=$(OUTPUTDIR)/toolchain-win.cmake` to the cmake command line. A consequence is that `CMAKE_CXX_COMPILER` no longer refers to the native `cl` compiler but is instead `$(OUTPUTDIR)/tools/cl` rendering the hint `$

[2020-05-25 17:22] pshipton commented on #9673
@dnakamura

[2020-05-25 17:44] keithc-ca commented on #9126
I don't see how #9670 can 'fix' this: reopening.

[2020-05-25 17:49] dnakamura commented on #9126
My bad. github saw the keyword "resolve" next to an issue number, so merging the pr causes it to mark the issue as resolved

[2020-05-25 18:16] fengxue-IS commented on #9356
[code]

From the gdb trace, the source of the `_literals` value comes from `icallVMprJavaSendPatchupVirtual`
could the JIT team help to point where this value come from.

FYI @andrewcraik

[2020-05-25 18:30] michaelsbradleyjr opened #9676 "JavaFx WebView reports "Incompatible library version" when using OpenJ9"
Java -version output
--------------------

openjdk version "14.0.1" 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.1+7)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.20.0, JRE 14 Mac OS X amd64-64-Bit Compressed References 20200427_53 (JIT enabled, AOT enabled)
OpenJ9   - 05fa2d361
OMR      - d4365f371
JCL      - 5757187cae based on jdk-14.0.1+7)

Summary of problem
-------------

[2020-05-25 18:47] Samantha-Rempel commented on #6826
Currently working on this issue

[2020-05-25 19:05] JasonFengJ9 opened #9677 "Re-enable JDK15 JEP 371 Hidden Classes tests"
This issue serves a reminder that JDK15 JEP 371 Hidden Classes tests are required to be enabled when the JEP implementation is ready.

Related https://github.com/AdoptOpenJDK/openjdk-tests/pull/1796

fyi @hangshao0

[2020-05-25 19:26] LinHu2016 commented on #9501
In https://github.com/eclipse/omr/pull/4812, we replaced log() pow() with logf() powf(), due to the issue on OpenEmbedded(for risc-v), which log(double) in line 1100 0f LargeObjectAllocateStats.cpp returned wrong value for the specific argument. I am afraid that using log(double) might cause the problem on  OpenEmbedded(for risc-v) in future.

[2020-05-25 19:38] mpirvu commented on #7966
I am thinking that being able to select the features for AOT through command line options is still important. In some instances, the IT people may know that the JVM is not going to run on machines older than X (pick your architecture) and may want to target that architecture as the baseline.
Therefore I am in favor of supporting the logical grouping @DanHeidinga mentioned.
To get this going off th

[2020-05-25 19:50] dmitripivkine commented on #9501
Well, please try built in versions of functions first, like `__builtin_logf()`, and check does it check dynamic link problem.

[2020-05-25 21:05] a7ehuo commented on #9482
I experimented adding the trace points for JITServe (Draft PR #9681), which uses the existing trace component `j9jit`. @mpirvu Is a new trace component needed? Since JITServer is part of the JIT, it seems to make sense to just add JITServer trace points to the `j9jit` component. Below is an example of what the traces look like from JITServer. Next I'll go through the critical paths in debugging JI

[2020-05-25 21:31] #9323 closed

[2020-05-25 21:32] #9357 closed

[2020-05-25 21:32] #9336 closed

[2020-05-25 22:26] 0xdaryl opened #9682 "create playlists on OpenJ9 YouTube channel"
Right now all the videos uploaded to the OpenJ9 channel are in one long stream.  Can we create at least two playlists to better organize the content?  I suggest:
* OpenJ9 Community Calls
* Technical Vitality (for longer internals presentations and lightning talks)

Once created, please classify all existing recordings accordingly.

[2020-05-25 23:47] PushkarBettadpur opened #9683 "Incorrect Array Size Offset for Inline Allocated Zero Sized Arrays (x86)"
## Background
In certain Garbage Collection policies, like Balanced GC for instance, there exist the notion of contiguous and discontiguous arrays. Typically 'large' arrays are allocated discontiguously, while small arrays are allocated contiguously[1], except in one case---a zero sized array, which is also allocated discontiguously.

The object structure of the two types of arrays can be seen bel

[2020-05-26 01:41] #9616 closed

[2020-05-26 01:46] mpirvu commented on #9482
Yes, I think we can reuse the j9jit component for tracing.
We may need to debug the handshake between the client and the server: when connections are established, when messages are sent/received, when corner cases are encountered, etc.

[2020-05-26 03:52] pshipton opened #9684 "jdk15 compilation failures"
The latest jdknext openj9-staging is causing compilation failures.
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/252/

https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/5b6c388...a9fef4a
https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/9128e1e8cad046fc979f95a2609d4282ef2e14cc

[code]

[2020-05-26 03:53] pshipton commented on #9684
@DanHeidinga fyi

[2020-05-26 04:19] pshipton commented on #9684
@babsingh fyi

[2020-05-26 12:20] pshipton commented on #8767
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_linux_Nightly_testList_1/4
testDDRExt_SharedClasses_openj9_0
[code]

[2020-05-26 12:36] pshipton opened #9686 "osx Port Library failed to initialize: -1"
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.system_x86-64_mac_Nightly/99
osx1014-x86-3
SharedClasses.SCM23.SingleCL_0
[code]
[code]

[2020-05-26 15:12] tajila commented on #9627
FieldRef wont work because there is no way (well, no easy way) for us to know which ramClass the fieldref refers to. Theres not enough info in the fieldRef itself to do the flattened load/stores.

No reason why we cant add those, however, static fields are not flattened so it will always just be dealing with the reference case.

do you mean something like this? `jitAastore(j9object_t *pointerToEle

[2020-05-26 15:22] a7ehuo opened #9692 "Intermittent JITServer crash in CS2::heap_allocator (Java 11)"
Saw an intermittent JITServer crash while running `DaaLoadTest_daa1_special_14` with `Java11`. I suspect `StreamMessageTypeMismatch` might happen after the crash. Another similar crash mentioned in https://github.com/eclipse/openj9/pull/9233#issuecomment-613702721.

[code]

[code]

[2020-05-26 15:27] a7ehuo opened #9694 "Intermittent JITServer crash in JITServerPersistentCHTable::commitModifications (Java 11)"
Raw an Intermittent JITServer crash as below when running `jdk_lang_j9_0` with `Java 11`.

[code]

[code]

[2020-05-26 15:30] DanHeidinga commented on #9684
This is likely related to https://openjdk.java.net/jeps/383 - 2nd preview of foreign memory access

[2020-05-26 15:31] keithc-ca commented on #9658
This is a reasonable idea, but I think it overstates the problem: in both UMA and cmake builds there are only 8 compilation units that include `openj9_version_info.h':
[code]

[code]

[2020-05-26 15:54] ChengJin01 commented on #5058
I just created a PR at https://github.com/riscv/riscv-software-list/pull/31 to ensure everybody in the RISC-V Software Ecosystem is aware of the progress of OpenJ9 on RISC-V.

[2020-05-26 15:58] DanHeidinga commented on #9658
And a bunch of those - cfdump, vmcheck, jnicheck - are likely due to printing  & `J9JVM_VERSION_STRING` & `J9_COPYRIGHT_STRING`

[2020-05-26 16:01] dnakamura commented on #9658
Interesting. When I had tested the issue before it was a much large set of compile objects, as openj9_version_info.h was getting included in some fairly common header. Will do a bit more digging to see if this is still the case

[2020-05-26 16:04] babsingh commented on #9684
https://github.com/eclipse/openj9/pull/9697 should fix the compilation failures reported here.

[2020-05-26 16:15] aviansie-ben opened #9698 "Fix incorrect tests for mtvsr* instruction support"
As discovered while refactoring the `TR::CPU` class in https://github.com/eclipse/openj9/pull/9571#discussion_r430475049, it seems that there exist several locations in the code that were performing `== TR_PPCp8` tests instead of `>= TR_PPCp8` tests when trying to detect support for the POWER8 `mtvsrd` and `mtvsrwz` instructions. This results in these instructions being detected as unavailable on

[2020-05-26 16:41] vijaysun-omr commented on #7966
@harryyu1994 just so I'm clear on what you are expecting when you said `It's time to decide on the actual set of portable AOT processor defaults for each platform.`... did you mean we should pick the default processor for each platform from the lists that you pasted in your last comment ?

One approach could be to pick some processor that reasonably old such that a large proportion of users can re

[2020-05-26 16:52] tajila commented on #9627
On second thought, I think there might be a simple way to tie a FieldRef back to the ramClass. It may require another flag though. Ill need to rework how we currently resolve flattened fields to make it possible.

[2020-05-26 16:53] harryyu1994 commented on #7966
Yes, we should pick default processor for each platform from the list I pasted as well as default features (for x86).

Yes, I'm looking for processor suggestions from people.

[2020-05-26 17:43] mpirvu commented on #7966
For x86 I am proposing OMR_PROCESSOR_X86_INTELSANDYBRIDGE, to be the baseline for relocatable code. It's a 9-year old architecture that has AVX and AES instructions. If at all possible I would like this baseline to work on both Intel and AMD processors as we start to see more and more AMD EPYC instances in the cloud.

[2020-05-26 17:49] vijaysun-omr commented on #7966
Sounds reasonable to me, though I guess the true test will be a performance run to see how much we lose by assuming this older level of architecture on a current machine, e.g. Skylake.

[2020-05-26 17:49] ChengJin01 commented on #9501
Currently the crash of the agent can not be reproduced on stage4 even with the failing cross-build previously compiled for some reason. @sxa will check with William tomorrow to see whether there is any change in the test environment.

[2020-05-26 17:50] harryyu1994 commented on #7966
For Z and Power, just a single processor type would be sufficient.
For x86, we need the set of feature flags as well. (The processor type may not matter that much)

We need to come up with a mapping of processor type to feature flags for x86

[2020-05-26 18:02] mpirvu commented on #7966
These are the flags listed for my machine which uses ivybridge CPUs:

Flags:                 fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts acpi mmx fxsr sse sse2 ss ht tm pbe syscall nx rdtscp lm constant_tsc arch_perfmon pebs bts rep_good nopl xtopology nonstop_tsc aperfmperf eagerfpu pni pclmulqdq dtes64 monitor ds_cpl vmx est tm2 ssse3 cx16 xtpr pdcm pcid s

[2020-05-26 18:08] pshipton commented on #4005
Seems the update to log4j to 2.3 has occurred. I haven't seen this failure since, I think this is resolved.

[2020-05-26 18:14] harryyu1994 commented on #7966
Had some offline discussion with Marius and here's some notes

1. Check user command line options for the default processor they want
2. If AOT is already available in the SCC, we want to use the processor in the SCC instead of what user specifies. Output a warning message to inform user that their processor wasn't used
3. We can potentially produce AOT code with a newer processor than host. (In t

[2020-05-26 18:19] mpirvu commented on #7966
These are the features present in `enabledFeatures [] ` that a sandybridge architecture does not have:
[code]

[2020-05-26 18:29] pshipton commented on #9676
Using the JavaFx 14.0.1 jmods, I was able to successfully load the jfwebkit library on Linux using jdk11 and jdk14. First I jlinked a new runtime from the javafx.web module, then I ran a simple problem to load jfwebkit. I'll try the same on a Mac.

[2020-05-26 18:42] pshipton commented on #9676
I can duplicate the problem on a Mac.

[2020-05-26 18:49] vijaysun-omr commented on #7966
@harryyu1994 for your 3rd "note" did you mean that

a) the default processor level is newer than the host, i.e. it is some really old machine
or
b) the user can specify an option to produce AOT code for a newer processor than the host

And does "disabling" mean silently not generating AOT code in that scenario OR something like reporting a usage error of some sort ?

[2020-05-26 18:52] pshipton opened #9699 "Add ability and use reference repo for OpenJ9 and OMR"
When running a build, the openjdk repo clone uses a reference repo, but I don't see any reference repos used when cloning OpenJ9 and OMR. Cloning these takes considerably longer time than cloning openjdk with the reference repo. I didn't measure it, but on osx the openjdk clone seemed less than 20 sec, while the get_source printed 246 sec.

We could add support to specify references repos to the g

[2020-05-26 18:52] pshipton commented on #9699
@AdamBrousseau @jdekonin

[2020-05-26 18:55] DanHeidinga commented on #7966
I'm reading this to mean there is 1 processor defined for the SCC.  Does it make sense to allow different layers of a multi-layer SCC to define a different, more restrictive (ie: newer), processor level?

We should agree on whether this is a desirable principle rather than worry about the details now.

[2020-05-26 19:02] gacholio commented on #9627
If the helpers are only for the resolved case, a pointer to the RAM field ref should work - we don't need the RAM class of the current class, just the declaring class, which is already part of the ref.

[2020-05-26 19:09] pshipton commented on #9402
@keithc-ca https://github.com/AdoptOpenJDK/openjdk-build/issues/1720 is closed. Can the necessary changes be added to the extensions now?

[2020-05-26 19:18] AdamBrousseau commented on #9699
#6744

[2020-05-26 19:37] harryyu1994 commented on #7966
@vijaysun-omr I meant b). I was thinking about reporting a usage error to user.

@DanHeidinga

My understanding of the multi-layer cache is that it's for storing SCCs in docker images. Basically each layer of the docker image will want to have its own SCC. So for multi-layers I was thinking something like this:
The base layer will have the least restrictive processor and the outermost layer will h

[2020-05-26 19:41] tajila commented on #9627
Only static ramfield refs have the declaring ramClass in the ramCP entry slot.

[2020-05-26 19:50] pshipton commented on #9699
Closing this, added the infra tag to the existing Issue.

[2020-05-26 19:50] #9699 closed

[2020-05-26 19:50] DanHeidinga commented on #7966
Another approach would be to associate the AOT code with the Processor it requires.  This would allow mixing AOT with different Processor requirements in the same cache.  Not terribly useful when running on a host system but possibly more useful when a cache is being shipped around in Docker or other ways

[2020-05-26 19:50] pshipton commented on #6744
@jdekonin please add this onto the todo list.

[2020-05-26 19:55] keithc-ca commented on #9402
It doesn't look like the changes from openjdk have been absorbed into our repos (at least not for jdk11). Do we need to manually trigger a job to do that?

[2020-05-26 20:01] pshipton commented on #9402
No. Every time there is a new level we merge it and run the acceptance build. Last promotion of 11.0.8+4 was on May 22. We could wait a couple weeks for the next level and look again.

[2020-05-26 20:02] pshipton commented on #9402
Forgot to mention that 11.0.8+4 is the latest atm.

[2020-05-26 20:09] pshipton commented on #9676
This is a Mac dynlib versioning problem. You can see versions and requirements using `otool -L`. As is shown, libjfxwebkit.dylib requires libjvm.dylib 1.0.0 but the OpenJ9 libjvm.dylib shows `(compatibility version 0.0.0, current version 0.0.0)`.

[2020-05-26 22:03] pshipton commented on #9676
@michaelsbradleyjr I've created https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK14_x86-64_mac_Personal/53/OpenJ9-JDK14-x86-64_mac-20200526-211803.tar.gz containing the fix, if you want to try it out. Otherwise, once it's merged the change will be in the Nightly builds at AdoptOpenJDK.net

[2020-05-26 23:02] dsouzai opened #9702 "Class Chain Sharing Design"
This issue is the design for https://github.com/eclipse/openj9/issues/4847.

## Motivation

This feature is motivated by changes in validation that will likely be required when Project Valhalla lands. With flattened types, the class chains will likely need to be modified. Additionally the time required to validate flattened types will likely be much higher. This is, in that regard, a continuation

[2020-05-27 00:21] hzongaro commented on #9195
Andrew @andrewcraik, FYI:  I tried out Devin's instructions from pull request #9376 without any difficulty.

[2020-05-27 01:03] gacholio commented on #9627
I'd forgotten that - I wonder if we could encode the class in the flags field for RAM (we have 8 bits at the bottom). This might complicate the resolve check.

[2020-05-27 05:07] xigua6868 commented on #8911
While investigating an issue [1] I was running with just -Xjit:verbose and a certain compilation was failing, https://1680380.com/view/xingyft/pk10kai.html  however I don't know what compilation level was attempted when the compilation failed. It would be nice if we printed that as well by default without having to add extra verbose={...} noise

[2020-05-27 11:41] vijaysun-omr commented on #7966
https://github.com/eclipse/openj9/issues/7966#issuecomment-634234270

I feel it is okay to report a usage error in the case when a user can specify an option to produce AOT code for a newer processor than the host. If this functionality is deemed important in the future, it can be added at that time but I don't see the need to do this work now.

[2020-05-27 13:35] vijaysun-omr commented on #7966
I do see merit in @harryyu1994 comment "The base layer will have the least restrictive processor and the outermost layer will have the most restrictive processor. When we add another layer, as long as it's equivalent or more restrictive than the layer below it we are going to allow it. ", i.e. philosophically this may be something to allow.

In practical/implementation terms, I wonder if this is a

[2020-05-27 13:39] keithc-ca commented on #8173
It finally happened for me locally on xlinux (with cmake, not that that likely matters), but I didn't have the environment variable set to get dumps. I guess all that says is that the problem is not yet fixed.

[2020-05-27 13:43] #9684 closed

[2020-05-27 13:48] pshipton opened #9707 "cmdLineTester_SCHelperCompatibilityTests_win NoClassDefFoundError CustomPartitioningURLClassLoader$FoundAtIndex"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly_testList_0/1 - win2012r2-x86-1
cmdLineTester_SCHelperCompatibilityTests_win_0

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_Nightly_testList_0/1 - win2012r2-x86-1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly_testList_0/1

[2020-05-27 13:49] DanHeidinga commented on #7966
How usable is this feature without this?

My mental model is that the docker image may be built up by different parts of the CI at different times on different machines  (lots of variability in that process)!

A user may pull an Adopt created docker image with a default cache in it and then in their own CI build a common framework layer with a new cache layer.  Finally, each app may reuse that ima

[2020-05-27 13:49] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/46

[2020-05-27 13:51] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_Nightly_testList_1/1
[code]

[2020-05-27 13:57] vijaysun-omr commented on #7966
I thought the proposal was still to settle on some reasonably old hardware level (e.g. ivybridge on X86) such that "by default" the risk of adding AOT code that would not run is fairly low.

This default arch level only changes if/when a user explicitly starts upgrading the arch version by specifying an option because they know something about the servers being targetted, but this was'nt expected

[2020-05-27 14:00] pshipton commented on #9686
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_mac_Nightly_testList_0/1
osx1014-x86-3
cmdLineTester_verbosetest_6

@AdamBrousseau can you pls take a look at the machine first for any problems, and reboot it afterwards.

[2020-05-27 14:07] pshipton commented on #9197
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_OMR_testList_1/1
[code]

[2020-05-27 14:38] pshipton commented on #9707
Although it appears to fail every time in the nightly, win32 failed in the OpenJDK8 acceptance build, but not win64. In the last OMR acceptance build, neither failed.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_OpenJDK8_testList_0/1 - win2012r2-x86-4
https://ci.eclipse.org/openj9/job/Pipeline-OMR-Acceptance/1967

Changes between the nightly build and the pre

[2020-05-27 14:44] mpirvu opened #9708 "Collect stats about message sizes in JITServer"
The goal is to determine which messages are larger and whether such messages can be reduced in size. For instance, the message that sends the compilation request is probably on the large side because it sends the entire ROMClass to the JITServer. If we find it worthwhile, we may be able to keep some cache at the client that memorizes which ROMClasses have already been sent to the server so that we

[2020-05-27 14:56] dnakamura opened #9709 "Switch to default to CMake builds for JDK 11 on OSX"
Issue for tracking imminent switch, to default to cmake on osx for jdk 11

Parent issue: #9195

PRs which perform the switch:
#9304
#9713
ibmruntimes/openj9-openjdk-jdk11#308

[2020-05-27 15:00] mpirvu commented on #9708
I am thinking that the best place for collecting message sizes is:
[code]
Here we have access to the total message size and the type of the message can be obtained with `msg.type()`

[2020-05-27 15:07] andrewcraik commented on #9663
@rpshukla could you have a look?

[2020-05-27 15:11] andrewcraik commented on #9639
@cathyzhyi can you have a sniff.

[2020-05-27 15:14] andrewcraik commented on #9453
What's next on this? @liqunl or @dsouzai ? we need to get this one resolved or deferred... would be best to resolve...

[2020-05-27 15:17] andrewcraik commented on #9356
@Leonardo2718 can you have a look? FYI @cathyzhyi

[2020-05-27 15:22] tajila commented on #9627
I was thinking in the case of flattened fields we could re-purpose the `offset` slot to be a pointer in the `flattenedClassCache` rather than an index. This way we would not need the ramClass at all. We can use the flags to decode what the `offset` slot really means.

[2020-05-27 15:24] mstoodle commented on #9316
Without any further feedback, let's aim for a monthly build, perhaps in August as our first one, and if necessary, we can choose to not do a September monthly release (since we'll be focused on the JDK15 release then) if the first one is found to be extra painful. Then we can get back to it in November.

[2020-05-27 15:25] hangshao0 commented on #9702
[code]

For `offset of ClassChainNode for A`, is it an offset to the cache head or a SRP ?

I am asking because of https://github.com/eclipse/openj9/issues/7494. The cache layout is something like:
`| romclasses | free space | aot/jit/metadata |`

The free space can be resized, so the offset to cache head will only remain the same for ROMClasses.

[2020-05-27 15:25] gacholio commented on #9627
Yeah, that could work, but this seems like a lot of effort to avoid a tiny amount of data in the cache. We've already done something similar for the inline field watches (which, granted, are not expected to be used very often).

[2020-05-27 15:25] edrevo opened #9710 "Segmentation fault, vmState=0x00000000 in OpenJ9 0.20.0 when conflicting class versions are found in cache"
Java -version output
--------------------

openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.20.0, JRE 11 Linux amd64-64-Bit Compressed References 20200416_574 (JIT enabled, AOT enabled)
OpenJ9   - 05fa2d361
OMR      - d4365f371
JCL      - 838028fc9d based on jdk-11.0.7+10)

Summary of problem
-------------

[2020-05-27 15:28] mpirvu opened #9711 "Reduce number of system calls when reading a JITServer message"
For every read operation JITServer performs two system calls:
1) Read the first integer in the message, which represents the message size
2) Read the remaining of the message

Since system calls are rather expensive it may be worthwhile to evaluate reading the entire message with one system call.
1) Read N bytes from the message. The read operation may return fewer than N bytes.
2) If we read at l

[2020-05-27 15:31] andrewcraik commented on #9582
In general resolution in compiled code doesn't make a lot of sense to me - it would make more sense to jump to the interpreter and potentially recompile the method (even with the template compiler). TR has gone to great lengths to support unresolved code, but those have in general been big time syncs, defect prone, and unlikely to yield a lot of performance. Just giving up and recompiling greatly

[2020-05-27 15:33] andrewcraik commented on #9582
The compiled code would need to support generating the required metadata, populating the transition buffer etc. Doing this should be easier for the template compiler than for TR but it will need some work to support. I think this kind of support could allow the template compiler to give up if things get too complicated on a given code path which might make handling of unresolved or uninitialized s

[2020-05-27 15:34] dsouzai commented on #9702
This will break AOT validation. The class chains are stored as an array of ROMClass offsets; it is stored with the following flags:
[code]
If the offset can change, then AOT breaks.

[2020-05-27 15:41] cathyzhyi commented on #9639
@vishals9 Could you try to reproduce and get a tracing log with Java option `'-Xjit:{com/ibm/ws/security/jaspi/JaspiServletFilter.doFilter(Ljavax/servlet/ServletRequest;Ljavax/servlet/ServletResponse;Ljavax/servlet/FilterChain;)V}(log=log,tracefull,traceinlining,debuginliner)'` ?

[2020-05-27 15:43] dsouzai commented on #7494
Debug Counter data is stored into the SCC using
[code]
AOT Class chains are stored into the SCC using
[code]
The relocation record then holds the offset into the SCC. We use the offset to get hold of the Debug Counter data or Class Chain. If the offset from the start of the SCC can change, then this will break existing AOT.

[2020-05-27 15:56] hangshao0 commented on #9702
They will remain the same as I think they are offsets the cache head. (Correct me if I am wrong here)

For any data stored by JIT and AOT, they are after the free space. If you use offset to cache head to locate them, you won't find them after cache is resized. If you change to use offset to cache end or SRP, then they won't be affected by the resizing.

[2020-05-27 15:56] r30shah opened #9712 "Investigate and Fix issues with RegDepCopyRemoval Optimization with SplitPostGRA"
For the ValueTypes, certain transformations done in Lowering trees uses SplitPostGRA to split the block with Global Register Dependencies. RegDepCopyRemoval optimization which works in minimizing the register shuffling for GlRegDeps was generating trees which was not expected by SplitPostGRA and it was throwing Fatal Assert. I took a crack at fixing the issue by making changes in both optimization

[2020-05-27 15:57] r30shah commented on #9712
FYI @andrewcraik  @Leonardo2718

[2020-05-27 16:01] lumpfish commented on #9316
Do you propose to fix a date in the month - e.g. the 'middle' Tuesday of the month which is the (quarterly / half-yearly) date for openjdk releases?

[2020-05-27 16:05] hangshao0 commented on #7494
The romclass offsets will remain the same as they are offset to cache head. See:
https://github.com/eclipse/openj9/issues/7494#issuecomment-543327139

But if you are using offsets to cache head to locate data stored by AOT/JIT in SCC. Then it will be broken as they are stored after the free space. Instead, you can use offset to cache end or SRP.

[2020-05-27 16:07] pshipton commented on #9710
Access to the (jextract'ed) core file would help progress this, but I see there was an error creating it. Running `java -Xcheck:dump` may help determine why.

AOT is mentioned, does the problem still occur when `-Xnoaot` is specified?

[2020-05-27 16:08] liqunl commented on #9453
Sorry, was sidetracked by other work. @dsouzai In this crash, we're calling `loadFromPersistentCopy` from `profilingSample`. `profilingSample` doesn't check `TR::Options::sharedClassCache()` before calling to `loadFromPersistentCopy`. Maybe we should check `TR::Options::sharedClassCache()`?

[2020-05-27 16:12] Scott-Young-6746 commented on #9582
I'm only familiar with OSR in a theoretical sense. What kind of meta-data does it require?

I believe our current exception for failed compilation with MicroJIT causes the `extra2` field to be set with a "do not compile" flag. I'll have to look into creating another failed compilation that allows re-attempts.

[2020-05-27 16:30] mpirvu commented on #9708
Attn: @EmanElsaban

[2020-05-27 16:36] liqunl commented on #9356
The method name in VarHandleTransformer doesn't match. Working on the fix

[2020-05-27 16:37] pshipton commented on #9709
As discussed on the OpenJ9 call today, we'd also like to introduce changes to the default.yml and the jenkins code to have another type of osx build that doesn't use cmake. We'd leave the default "osx" build as-is to switch to cmake via https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/308, but add another build like "osxncm" that disables cmake.

[2020-05-27 17:04] edrevo commented on #9710
It does not. `-Xnoaot` fixes the problem, as well as specifying a different SCC name to avoid the class conflicts.

[2020-05-27 17:05] DanHeidinga commented on #9316
That makes the most sense.  We should pick the a date, like the 15th and aim to ship monthly releases on that day.  This would line up nicely with the existing release dates of the quarterly releases

[2020-05-27 17:09] DanHeidinga commented on #7494
It sounds like we need to add some test cases that validate the structures in the cache are still valid after a resize operation.  Not sure what those tests would look like but something that ensures we have all the appropriate meta data, romclasses, aot code, class chains, etc and that they are well formed before and after the operation would make it easier to evolve this code.

[2020-05-27 17:11] pshipton commented on #9707
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_windows_OpenJDK_testList_0/1
win2012r2-x86-1

[2020-05-27 17:24] llxia commented on #9707
I cannot reproduce this using parallel: https://ci.eclipse.org/openj9/job/Grinder/884/

@renfeiw can you take a look as well?

[2020-05-27 17:33] dnakamura commented on #9709
@pshipton  Implemented via #9713. ALthough the build is `osxuma` to avoid visual similarity to `osxcm`

[2020-05-27 17:33] pshipton commented on #8173
Perhaps it's made a comeback, we just caught one here https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_Personal/509
@DanHeidinga someone should take a look while the diagnostics are still available.

[2020-05-27 17:34] llxia commented on #9707
reran the build mentioned in https://github.com/eclipse/openj9/issues/9707#issuecomment-634810174
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_windows_OpenJDK_testList_0/2/

[2020-05-27 17:37] Scott-Young-6746 opened #9714 "Feature Request: Support for OSR in Templated JIT compiler."
This issue is in reference to the currently open Feature Request #9582 and PR #9578

The MicroJIT compiler need to support the On-Stack Replacement (OSR) feature currently available in TR.

OSR has a number or uses, including support for JITed debugging with the Full-Speed Debugging feature.

MicroJIT needs to recognize if OSR has been enabled and ensure that it supplies the required Meta-Data inf

[2020-05-27 17:44] pshipton commented on #9316
I like Simon's proposal, the 'middle' Tuesday of the month, rather than the 15th. I propose we start the final builds at Adopt on this date, similarly to the quarterly releases.
- seems this is what OpenJDK does, it keeps things consistent
- it avoids rescheduling due to Monday or Friday holidays
- it gives Tues - Thursday/Friday to complete and triage the builds, without spanning a weekend

[2020-05-27 17:48] pshipton commented on #9710
@hangshao0 @dsouzai pls take a look.

[2020-05-27 18:01] dsouzai commented on #9710
@edrevo could you run with

`-Xaot:traceRelocatableDataDetailsRT,traceRelocatableDataRT,log=log,aotrtDebugLevel=30,rtLog=rtLog`

on both runs (ie populate SCC run and load SCC run)? Btw, you'll have to merge all your AOT options into one `-Xaot` string as the compiler only looks at the rightmost one.

Also, providing the corefile is probably essential.

[2020-05-27 18:33] dsouzai commented on #9453
I talked to @liqunl offline, and I guess there is no guard for loading from the SCC in the call here https://github.com/eclipse/openj9/blob/05fa2d3611f757a1ca7bd45d7312f99dd60403cc/runtime/compiler/runtime/IProfiler.cpp#L1514

We think the solution might be to add the following in this if statement https://github.com/eclipse/openj9/blob/05fa2d3611f757a1ca7bd45d7312f99dd60403cc/runtime/compiler/con

[2020-05-27 18:49] dsouzai commented on #7966
I think there are many ways we can improve the usability of the SCC in the Docker situation. However, it is going to be a non-trivial amount of work. Therefore, I think the approach we should take is:

1. Limit AOT to some "old"-ish arch level. This will make AOT very consumable right now.
2. Add an option to have the AOT target be the same as the JIT target
3. Introduce the ability for the user t

[2020-05-27 18:59] DanHeidinga commented on #7966
That sounds like a reasonable approach.

[2020-05-27 19:02] renfeiw commented on #9707
One possible reason that triggers the issue is the character limit issue, since the parallel build introduces longer build names than the regular one.

Here is difference in commands for the test case HelperCompatibilityTest 12.

passed case:
[code]

failed case:
[code]

[2020-05-27 20:37] sharon-wang commented on #9323
Hi @fuzzy000!

The fix for this issue, as well as https://github.com/eclipse/openj9/issues/9336 and https://github.com/eclipse/openj9/issues/9357 has been merged. If you'd like to test out the changes, grab a nightly build with date `27 May 2020` or later at https://adoptopenjdk.net/nightly.html?jvmVariant=openj9.

[2020-05-27 21:06] mstoodle commented on #7764
Sadly, I am still seeing this problem even with the fix for #9567 in place, at least with the binary distribution of elasticsearch. I'm rebuilding version 7.7 to debug it, but it's clear this issue should be reopened  :( .

[2020-05-27 21:14] #9676 closed

[2020-05-27 21:39] michaelsbradleyjr commented on #9676
Awesome work, very happy to see this get fixed so quickly, thanks!

[2020-05-27 21:41] liqunl commented on #9453
Will open a PR once my build/test passes.

[2020-05-27 22:02] mpirvu commented on #7966
To make sure we agree on what is going to be implemented as a first step I am detailing the workflow for (1) and (2):
1. Define a default processor architecture for AOT, let's call it P2
2. Implement option to override P2 and use the architecture for the host processor (to be able to revert to today's behavior)
3. If user generates AOT on a P2 arch or newer (P3, P4, ...), the AOT code will target

[2020-05-27 22:08] a7ehuo commented on #9694
Some more details from the core file. `TR_PersistentClassInfo` is bad. `persist->_classId = 0x7fa2c691e790 `!=` flat->_classId = 0x485a00`. The classId from the  `FlatPersistentClassInfo` is the same as the `classId` stored in the `infoMap` `it.first = 0x485a00`. It's odd to see `persist` is bad since it should have been updated/overwritten with the content from `FlatPersistentClassInfo` when the

[2020-05-27 22:16] pshipton commented on #9707
Not sure. The class `CustomClassloaders/CustomPartitioningURLClassLoader$FoundAtIndex.class` is actually slightly shorter than the test name `PartitioningURLClassPathHelperURLHelperStaleEntryCompatibilityTest.class`. If the test can be found, then FoundAtIndex should also work. The class file is there in the artifact.

However it does make sense this is the problem. The entire path is longer than

[2020-05-27 22:26] dsouzai commented on #7966
4.1 is the only point that concerns me, but I can see an argument for either direction, so I'm ok with whichever choice we take.

[2020-05-27 22:29] ChengJin01 commented on #5058
I got started to run the whole OpenJ9 test suites on Debian_riscv/U540 but a bunch of I/O errors was triggered when running a ShareClasses specific test suite as follows:
[code]
I suspect the issue is related to the Debian_riscv & the SD-card (not sure whether it is suitable to run SCC tests directly on the SD-card). So I will temporarily exclude the test suite and re-compile the whole OpenJ9 test

[2020-05-27 22:56] pshipton commented on #9707
My grinder worked, so I've started https://ci.eclipse.org/openj9/job/Pipeline-Release-Build/207 which should appear as a Nightly build.

[2020-05-28 01:11] pshipton commented on #9707
The build passed so I've created the PR https://github.com/eclipse/openj9/pull/9721

[2020-05-28 02:04] #9707 closed

[2020-05-28 03:15] pshipton opened #9722 "jdk15 build failure java/lang/Access missing stringConcatMix()"
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/254/
[code]

[2020-05-28 04:31] DanHeidinga commented on #7966
Writing this out explicitly as I had to think about it for a while before coming to the conclusion that Marius's workflow is the right one.

With AOT in the SCC, there are two distinct use cases:
* SCC on the local machine. Shared by processes on that machine but will never be portable.
* SCC in a container, expected to be portable.  System used to build the SCC may be different than deployment ta

[2020-05-28 04:44] AdamBrousseau commented on #4433
This was delivered on Feb 5 (2019) via #4523, although after reading this issue, I don't think it was implemented correctly to address the origin of this issue. It's seemingly implemented as a means to pass the test repo as a param during a personal build. Although, it could work if we were to fork the Adopt test repo and create release branches for ourselves and then change the values of the repo

[2020-05-28 05:33] AdamBrousseau commented on #9686
Nightly build running on the same machine again
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.system_x86-64_mac_Nightly/101
Same test looks like it passed fine.

[2020-05-28 07:16] mstoodle commented on #7764
The problem is the output stream. When Elasticsearch runs the JVM with `-XX:+PrintFlagsFinal`, all the output seems to be produced in the error stream (read via `ProcessBuilder.getErrorStream()` ) rather than on the standard output stream (read via `ProcessBuilder.getInputStream()` ).

In #9567, I used `j9tty_printf()` to output the print flags final output, which I would have thought would go to

[2020-05-28 07:31] mstoodle commented on #7764
I also saw the -Xlog:gc error, though it seems to power through it.

Finally, I hit this problem, which is the first time I've seen it:
[code]

[2020-05-28 09:16] lumpfish commented on #9316
As far as I can tell, openjdk quarterlies are released on a Tuesday, no earlier than 14th (so a range of 14th to 20th).  That would give us the dates (through to the end of 2021) of:
Date | openjdk release
-- | --
14 July 2020 | <-- openjdk   quarterly
18 August 2020 |   |  
15 September 2020 | <-- jdk15 (tbc)
20 October 2020 | <-- openjdk quarterly
17 November 2020 |   |  
15 December 2020 |   |

[2020-05-28 11:45] vijaysun-omr commented on #7966
Is'nt step 4.1 when running SCC on a local machine (i.e. not for packaging into docker) turning something that used to be legal into an error condition ?

[2020-05-28 11:51] kimminger opened #9724 "JVM randomly crashes VMState: 0x000501ff"
Java -version output
--------------------

openjdk version "13.0.2" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 13.0.2+8)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.0, JRE 13 Linux amd64-64-Bit Compressed References 20200117_151 (JIT enabled, AOT enabled)
OpenJ9   - 6968c18d7
OMR      - 7a1b0239a
JCL      - 9c5a41bd5f based on jdk-13.0.2+8)

Summary of problem
---------------

[2020-05-28 12:14] mpirvu commented on #7966
Yes, which is why this point is contentious. The scenario it tries to avoid is the following:
- User generates SCC/AOT for container. Unknowingly, he runs on very old hardware, so AOT is generated for P1 (very old processor)
- Other users create additional SCC layers for their apps. They run on modern hardware, but despite our commitment to generate AOT at least for P2 level, they only get AOT for

[2020-05-28 12:45] vijaysun-omr commented on #7966
I'll mention this since we are still designing the solution here and see what you think.

Rather than break existing users who are building an SCC on a local machine that is very old, should we consider an option (say -Xshareclasses:portable) that when specified would enable the portable SCC logic ?

The advantage of this would be that we do not break existing users in the local machine scenario a

[2020-05-28 13:05] DanHeidinga commented on #9724
Based on the assertion text:

This has been fixed in https://github.com/eclipse/openj9/pull/8598

Can you test with the 0.20.0 release?  The fix is in the latest release binaries from AdoptOpenJDK for JDK8, 11, & 14.

[2020-05-28 13:25] llxia commented on #4433
This is not related to smart parallelization or internal zos ssh issue. The original problem was some PRs that we deliver into Adopt may be incompatible with OpenJ9 release branch during its testing period. The fix was to set Adopt repo and branch so that we can avoid incompatible PRs in the release branch. But as mentioned above, incompatible PRs may be a very rare occurrence, so we did not reall

[2020-05-28 13:29] pshipton commented on #9686
@AdamBrousseau is that with or without a reboot?

[2020-05-28 13:34] AdamBrousseau commented on #9686
Without, but I assume the sanitize would have run which would have liked any Jenkins owned processes.

[2020-05-28 13:37] DanHeidinga commented on #7966
It depends on how old the default processor we pick will be.  How many users (rough estimate) will be affected by this change?

I started to write out an argument about why needing a sub-option is a worse user experience and then had to catch myself because the SCC already require a lot of sub-options: usually cache name, cachedir, sizes, and in the case of the MultiLayer cache, createLayer.

Addi

[2020-05-28 13:50] mpirvu commented on #7966
@ashu-mehra Do you know the answer to this question? If not could you please tell @harryyu1994 the API to detect container presence so that Harry could do a small experiment?

The user could also be generating the SCC/AOT on the side and simply copying the SCC file into the container. I've done that in past in my small experiments, but I don't know whether that is common practice.

[2020-05-28 14:01] pshipton commented on #9382
The OMR change https://github.com/eclipse/omr/pull/5221 is in the jdk11 build last night, and this problem wasn't seen. I'll go ahead and close this, will reopen if it's seen again.

[2020-05-28 14:03] #9621 closed

[2020-05-28 14:04] mpirvu commented on #9339
Implemented in #9671.

[2020-05-28 14:04] #9339 closed

[2020-05-28 14:05] mpirvu commented on #9482
Implemented in #9681

[2020-05-28 14:05] #9482 closed

[2020-05-28 14:20] ashu-mehra commented on #7966
I believe so. For every RUN command a new temporary container is spawned.

Port library API to detect container presence is `omrsysinfo_is_running_in_container` [1], although it just returns the flag which actually gets set during port library startup [2].

---

[1] https://github.com/eclipse/omr/blob/cbc988cc7e82cd80a608492bc13e4ced64c744e1/port/unix/omrsysinfo.c#L5637
[2] https://github.com/ecli

[2020-05-28 14:32] keithc-ca commented on #9709
All the linked PRs have been merged: closing.

[2020-05-28 14:32] #9709 closed

[2020-05-28 14:38] ashu-mehra commented on #7966
I am wondering should the `portable` be a sub-option for `-Xaot` instead of `-Xshareclasses`, because portability is the characteristic of AOT code, not SCC as such and SCC can be used without AOT as well.

[2020-05-28 14:44] DanHeidinga commented on #7966
Users are already specifying `-Xshareclasses` for the kinds of portable docker environments we're discussing here so I would prefer to keep this as a sub-option of the `-Xshareclasses` rather than introducing them to a new, also complicated, `-Xaot` option.

I'm open to supporting a `-XX:[+-]PortableSCC` option in addition to `-Xshareclasses:portable` given the better experience with `-XX` options

[2020-05-28 14:48] dsouzai commented on #7966
Part of portability might also involve restricting the compressedrefs shift value (see https://github.com/eclipse/openj9/issues/7965), or other points in https://github.com/eclipse/openj9/issues/7710. Therefore, while it's mainly the JIT that's affected by it other JVM components need to be aware of a portable SCC.

[2020-05-28 14:49] mstoodle opened #9726 "Elasticsearch "failed to load SSL configuration""
After resolving #7764 (via PR #9725), running elasticsearch encounters a new problem:

[code]

Steps to reproduce (basically follow steps 1&2 from https://www.elastic.co/downloads/elasticsearch-no-jdk)
1. Download appropriate elasticsearch platform binary from "Downloads" section here: https://www.elastic.co/downloads/elasticsearch-no-jdk
2. Install/build OpenJDK with OpenJ9 (I used a recent JDK14

[2020-05-28 14:55] mstoodle commented on #9726
Possibly influenced by an earlier error (waarning?):
`JVMJ9VM085W Malformed option: '-Xlog:gc*'`

[2020-05-28 14:59] vijaysun-omr commented on #7966
Agreeing with where this discussion is going now, especially the part about being able to detect the case when we are in the build step for a container (if that ends up being feasible).

[2020-05-28 15:10] 0xdaryl opened #9729 "Remove PUBLIC_BUILD macros in JIT"
As far as I can tell, `PUBLIC_BUILD` is not defined anywhere in JIT builds (it is a historical macro that predates open-sourcing this code).  This macro should be removed from the code base and code folded assuming it is **NOT** defined.

[2020-05-28 15:21] mstoodle commented on #9726
The fundamental problem is thrown from line 302 here:
https://github.com/elastic/elasticsearch/blob/7.7/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ssl/CertParsingUtils.java#L293-L302

[2020-05-28 15:25] kimminger commented on #9724
Thanks for the fast response @DanHeidinga,
Issue is resolved with 0.20.0
Tested with adoptopenjdk/openjdk14-openj9:alpine-jre, Ran full regression, Issue didnt occur again.

Thanks :)

java -version output:
[code]

[2020-05-28 15:25] #9724 closed

[2020-05-28 16:24] mstoodle commented on #9726
When Hotspot runs, there is a trust manager found `sun.security.ssl.X509TrustManagerImpl`. When OpenJ9 runs, there is only a null trust manager.

[2020-05-28 17:25] 0xdaryl opened #9730 "Implement patchable GCR guards on all architectures"
Patchable GCR guards are only implemented on x86, and are believed to realize a non-negligible performance improvement when enabled.

The performance impact should be measured, and they should be implemented on
- [ ] Power
- [ ] Z
- [ ] AArch64
- [ ] ARM

if they are beneficial.

[2020-05-28 17:25] #9722 closed

[2020-05-28 17:26] 0xdaryl commented on #5455
Patchable GCR guards: Epic: #9730

[2020-05-28 17:53] a7ehuo commented on #9692
Ran into this crash one more time [3] and found more details.

It's crashed in `~heap_allocator()` on the path of calling `OMR::Compilation::~Compilation()`. One of the `Segment` pointers (`0x74`) in  `segments[8]` is bad.

The crash happened after the server successfully compiled the method `"java/util/HashMap.computeIfAbsent(Ljava/lang/Object;Ljava/util/function/Function;)Ljava/lang/Object;"` at

[2020-05-28 18:29] pshipton opened #9733 "jdk8 ProcessorMXBean is not a properly installed MXBean"
As we are getting closer to publishing javadoc (https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/414) which will include it, we should consider what to do about com.ibm.lang.management.ProcessorMXBean. Probably just delete the code.

This is not a properly installed MXBean, it's not included in com.ibm.java.lang.management.internal.ManagementUtils. This class is available in jdk8 only, excl

[2020-05-28 18:30] pshipton commented on #9733
@DanHeidinga fyi

[2020-05-28 18:41] mstoodle commented on #7764
I opened #9725 to change the output stream, which resolves the specific problem referenced in this issue (and marked #9725 as fixing this issue).

I opened #9726 for the new issue and will document progress on this issue there.

[2020-05-28 19:01] DanHeidinga commented on #9733
I'm OK with deleting it.  Those are interesting apis but we need to add them in a way that's tested and supported.  The current ProcessorMXBean isn't the right way

[2020-05-28 19:27] gacholio commented on #9516
@quijote Can you please try this with a current nightly build? I'm hoping this has been fixed by #9630

If it doesn't, can you please provide a link to download the `start.jar` (assuming this issue has anything to do with what application is running).

[2020-05-28 19:31] ChengJin01 commented on #5058
I just spotted a test failure in pltest specific to `j9sysinfo_get_cache_info()` which was skipped on QEMU as `/sys/devices/system/cpu/cpu<N>/cache/` only exists on the hardware.
[code]
Given that the `j9sysinfo_get_cache_info()` specific test was never verified on the hardware,  I need to check what happened to the test & fix it up if any issue before moving forward with other tests.

[2020-05-28 19:39] sharon-wang commented on #7247
I'm looking into locking `getenv` calls and swapping `environ` with `_NSGetEnviron`.

[2020-05-28 20:15] dsouzai commented on #7494
The problem is that we use the same APIs to convert between pointers and offsets for both ROMClasses and AOT/JIT data. I can't just switch the APIs to calculate from the end of the cache because then the offsets of the ROMClasses will be incorrect.

I'll have to create a second set of APIs for the AOT/JIT data, and then go through the code and make sure we use the right APIs in the right places. T

[2020-05-28 20:46] fjeremic commented on #9730
Could we get a description of what patchable **G**uarded **C**ounting **R**ecompilations are and what types of workload they benefit?

[2020-05-28 21:25] ChengJin01 commented on #9501
@sxa,    given that the agent on stage4 (after rebooting) is quite stable in downloading the required jdk from the remote site,  I will consider to close the issue for now as nothing can be determined out there due to these incomplete information.  We should keep an eye on this issue and reopen if the crash reoccurs next time. Or we can leave this open for a while if any.

[2020-05-28 22:18] JasonFengJ9 commented on #9726
It seems work with my `Mac OS X 10.15.3` JDK14 built with https://github.com/eclipse/openj9/pull/9725. The package `elasticsearch-7.7.0-no-jdk-darwin-x86_64.tar.gz` is downloaded from https://www.elastic.co/downloads/elasticsearch-no-jdk.

`curl -X GET http://localhost:9200/` returns following:
[code]

I noticed the console output has `[2020-05-28T18:05:15,297][INFO ][o.e.x.s.s.SecurityStatusChang

[2020-05-28 22:43] 0xdaryl commented on #9730
Seems like a reasonable request.  @mpirvu , would you mind providing a short summary of the purpose and benefit of GCR?

I will summarize the info you provided in our Slack discussion on when this is enabled:

[2020-05-29 01:09] JasonFengJ9 opened #9738 "JDK8_x86-64_mac_cm compilation failure: [openj9.ddr-jar] Error 2"
Failure link
------------

From an internal build `Build_JDK8_x86-64_mac_cm_Nightly/29`:

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-05-29 02:48] 0xdaryl opened #9741 "change default OMR MethodSymbol linkage to TR_System"
OMR MethodSymbols and ResolvedMethodSymbols default to private linkage for their calling convention.  For example:

https://github.com/eclipse/omr/blob/42b29d116f4a65f74b34eb54957f4a9b10172b70/compiler/il/OMRMethodSymbol.hpp#L56

https://github.com/eclipse/omr/blob/42b29d116f4a65f74b34eb54957f4a9b10172b70/compiler/il/OMRResolvedMethodSymbol.cpp#L110

Because this is set in OMR, this is surprising

[2020-05-29 02:56] pshipton commented on #9126
Another occurrence https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_Nightly/399
which should have the extra diagnostics @dnakamura enabled. @keithc-ca fyi

[2020-05-29 03:01] pshipton commented on #9738
fyi https://github.com/eclipse/openj9/pull/9701#issuecomment-634369096

[2020-05-29 03:51] pshipton opened #9743 "TestIBMJlmRemoteMemoryNoAuth_SE80_0 failed in teardown"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-32_windows_Nightly/383
TestIBMJlmRemoteMemoryNoAuth_SE80_0
[code]

I don't spot any diagnostics in the artifacts.

[2020-05-29 03:51] pshipton commented on #9743
@Mesbah-Alam fyi

[2020-05-29 10:19] sxa commented on #9501
Based on https://ci.adoptopenjdk.net/job/will-riscv-openj9-test/46/console the JVM is looking quite stable now, so I'm happy to close (I don't seem to have permissions to close it myself) :-)

[2020-05-29 11:48] quijote commented on #9516
I tried this build:
https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2020-05-29-10-23/OpenJDK11U-jdk_x64_windows_openj9_2020-05-29-10-23.zip

It did not crash.

I also need to correct myself. Crash occurred not with Ctrl-C but when shutting down Jetty with a shutdown command. Sorry, I did not notice this made a difference when creating the ticket.

So here are the full s

[2020-05-29 11:51] quijote commented on #9516
I assume Jetty stop command does something similar as described here: https://github.com/eclipse/openj9/issues/9558

In a daemon thread, first end all non-daemon threads, then call System.exit.

[2020-05-29 11:55] gacholio commented on #9516
Calling System.exit from a daemon thread is exactly what was fixed.

If you're satisfied that the issue is fixed, please close this ite,.

[2020-05-29 13:02] #9356 closed

[2020-05-29 13:05] #9381 closed

[2020-05-29 13:36] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly_testList_1/3
[code]

[2020-05-29 13:41] dmitripivkine commented on #9501
Thank you

[2020-05-29 13:41] #9501 closed

[2020-05-29 13:57] JasonFengJ9 commented on #9656
Discussed with @DanHeidinga , excluding these tests while the investigation is pending.

[2020-05-29 13:59] #7764 closed

[2020-05-29 14:14] mpirvu commented on #9708
Stats could be collected with utilities from `omr/compiler/infra/Statistics.hpp`
`class TR_Stats`
or `class TR_StatsHisto` when the spread is large

[2020-05-29 14:44] DanHeidinga commented on #9682
Created Lightning talks playlist: https://www.youtube.com/playlist?list=PLAiQY0q9fHHH4LFC4_Ex-teuEDM-9MlqO

Created Technical Vitality playlist: https://www.youtube.com/playlist?list=PLAiQY0q9fHHE0o1sSVNJppiPR4GJGVWhI

These two playlists seemed like the set to pull out specially

[2020-05-29 14:57] mstoodle commented on #9726
Thanks for trying it @JasonFengJ9 . Given all the weird issues I was having yesterday (even hitting a bug in gmake 4.3), I'll try again fresh to see if maybe I was just unlucky yesterday (fingers crossed?).

[2020-05-29 17:18] #9733 closed

[2020-05-29 18:47] mstoodle commented on #9726
Jason ended up sending me the JDK he built and, after fighting through the macOS security exceptions, I verified that it works on my system too. Much thanks for your help @JasonFengJ !

Examining his jdk and my jdk led to the source of the problem: I had been specifying JAVA_HOME based on `build/macosx-x86_64-server-release/jdk` and NOT the proper `build/macosx-x86_64-server-release/images/jdk` (n

[2020-05-29 18:47] #9726 closed

[2020-05-29 18:48] pshipton commented on #9506
Something went wrong in retrieveTotalProcessorUsage(), and the following check failed creating a ProcessorUsage(). There isn't enough diagnostic information to tell any more.
[code]

Haven't seen this failure occur since the original. I'll close it, and re-open if it occurs again. To diagnose it we'll have to reproduce it and capture more diagnostics.

[2020-05-29 18:48] #9506 closed

[2020-05-29 18:53] pshipton commented on #9506
There was a previous occurrence here https://github.com/eclipse/openj9/issues/8709.

[2020-05-29 18:57] JasonFengJ9 commented on #9726
@mstoodle it is nice to hear that elasticsearch is now able to start with OpenJ9 out of the box after https://github.com/eclipse/openj9/pull/9567 & https://github.com/eclipse/openj9/pull/9725.

[2020-05-29 19:10] pshipton commented on #8709
See also https://github.com/eclipse/openj9/issues/9506#issuecomment-636130163

[2020-05-29 19:33] pshipton commented on #8515
This test is no longer part of sanity.openjdk, moving it to the backlog.

[2020-05-29 19:37] pshipton commented on #8732
@keithc-ca can this be closed, or do you want to wait for the upstream change to occur?

[2020-05-29 20:35] pshipton commented on #8709
Ok, I'll try an internal grinder using https://github.com/eclipse/openj9/pull/9746

[2020-05-29 21:22] pshipton opened #9750 "testSCCMLTests1_openj9_0 lambda found in shared cache"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_s390x_linux_xl_OMR_testList_0/4
testSCCMLTests1_openj9_0
[code]

[2020-05-29 22:23] a7ehuo commented on #9694
Discovered a race condition that could contribute to this crash around the CHTable update at the server.

When  `compThreadID=10` was trying to do CHTable update. the CHTable has been cleared by `compThreadID=11` because `compThreadID=11` timed out on waiting for `compThreadID=10` and at the time  `clientSession->getNumActiveThreads() == 0`. `compThreadID=11` thinks there is no active threads and

[2020-05-30 01:01] AlenBadel commented on #9519
Closing since the fix was merged.

@DanHeidinga Feel free to re-open this if you would like to see an experimental proof of any speed-up.

[2020-05-30 01:16] DanHeidinga commented on #9519
It would be good to quantify the speed-up as class unloading pauses are one of the issues that periodically show up as service issues.

@dmitripivkine are there any existing tests that stress class unloading that Alen can use to benchmark this change?

[2020-05-30 01:24] AlenBadel commented on #9519
Getting class unloading pause times is quite simple. We have a test that heavily causes class unloading.
https://github.com/eclipse/openj9/blob/266e5b614ee2dd7110db81c1d2ea310ef5b95399/test/functional/cmdLineTests/gcRegressionTests/src/com/ibm/tests/garbagecollector/TestClassLoaderMain.java#L27

The only issue is the commit addresses speed-up during heavily DLT compiled workloads, something I don'

[2020-06-01 00:41] knn-k opened #9753 "Crash in fast_jitNewObject on x86-64 Linux"
Java -version output
--------------------
[code]

Summary of problem
------------------
A colleague of mine encountered a JVM crash with OpenJ9 0.20.0 Java 11 x86-64 Linux.  It happened only once, and has not been reproducible.

[code]

It is in the following location in `fast_jitNewObject()` in cnathelp.c, trying to access RAX + 0x18:
[code]

Diagnostic files
----------------
The core file is ava

[2020-06-01 00:44] JasonFengJ9 opened #9754 "MauveMultiThreadLoadTest_special_19_FAILED : NPE at java.beans.PropertyDescriptor.<init>(PropertyDescriptor.java:106)"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_ppc64le_linux_Nightly_mauveLoadTest/29`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links

[2020-06-01 12:48] andrew-m-leonard commented on #9656
@DanHeidinga @JasonFengJ9 I was trying to understand the problem, so ran these tests on latest, and the tests all pass now, so I think they have resolved the issue.

[2020-06-01 13:05] DanHeidinga commented on #9656
@andrew-m-leonard can you confirm that the equivalent of the check above that the Lookup isn't the `java.lang.invoke` package is still occurring for all Lookup constructors?

A question about it should be raised on the core-dev openjdk mailing list as it's a surprising change from previous releases that may have slipped thru.

[2020-06-01 13:30] andrew-m-leonard commented on #9656
Can you explain what this means, I don't understand where to look...?! the above stacktrace line numbers do not correlate to lines in MethodHandles.java
What method in MethodHandles do I need to look at?

[2020-06-01 13:30] dmitripivkine commented on #9519
The test we have (mentioned above) does stressed class unloading but it never helps with performance investigation/verification for issue like this. I believe it is because JIT tables have small size and it is hard to measure walk time difference.

[2020-06-01 14:20] pshipton commented on #9651
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_cm_Nightly/19

[2020-06-01 14:21] DanHeidinga commented on #9656
MethodHandles.lookup() should call a MethodHandles$Lookup constructor that used to check and throw an if the lookupClass was in the `java.lang.invoke` package.  We need to know if that check has deliberately or accidentally removed.

[2020-06-01 14:23] pshipton commented on #4005
Another one https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_mac_uma_Nightly/2/

In the console output I see the following:
[code]

[2020-06-01 14:24] pshipton commented on #4005
I misread the requirement, the fix is in Log4J 2.13.1

[2020-06-01 14:52] pshipton opened #9758 "zlinlux cmdLineTester_SCHelperCompatTests_unix_1 Cache does not exist"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_s390x_linux_Nightly_testList_1/4
cmdLineTester_SCHelperCompatTests_unix_1
ub16-390-1
[code]

[2020-06-01 14:56] pshipton commented on #9197
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly_testList_1/6
[code]

[2020-06-01 14:58] pshipton opened #9759 "All AIX machines offline in jenkins"

[2020-06-01 14:59] pshipton commented on #9759
@jdekonin @AdamBrousseau

[2020-06-01 15:00] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_uma_Nightly/3

[2020-06-01 15:03] pshipton commented on #9754
Some on Java 11 as well, although not until Sunday night. The others started on Friday night.

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_Nightly/387
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_xl_Nightly/176

[2020-06-01 15:04] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_cm_Nightly_testList_0/6
[code]

[2020-06-01 15:05] #9457 closed

[2020-06-01 15:07] pshipton commented on #9754
[code]

[2020-06-01 15:12] ashu-mehra opened #9760 "Crash in JITServer when enabling JProfiling"
When I enable JProfiling in JITServer by using the patch [1], I encountered couple of crashes on the server side when compiling methods.

First is an assertion failure in `J9::KnownObjectTable::updateKnownObjectTableAtServer()` when compiling a method at `warm` level:

[code]

This one can be avoided by using `-Xjit:disableKnownObjectTable`.

Second crash occurs when compiling a method at `profile

[2020-06-01 15:13] #8360 closed

[2020-06-01 15:20] fjeremic opened #9761 "Use evalute API to evaluate children of BNDCHKwithSpineCHKEvaluator under arraylets mode"
In #9614 we fixed an issue related to sign/zero extension problems when evaluating the children underneath a `TR::BNDCHKwithSpineCHK`. The problem has been band-aid fixed to avoid the issue, however the root cause is still there.

The problem with doing this sort of evaluation of loads/stores is that it is incomplete. The load and store evaluators are non-trivial and take care of things like load

[2020-06-01 16:01] ashu-mehra commented on #9760
fyi - @mpirvu
and @a7ehuo  as one of the crash is related to KnownObjectTable.

[2020-06-01 16:04] fjeremic commented on #9009
Grinder on the latest nightly to see if this problem is still reproducible:
https://ci.eclipse.org/openj9/job/Grinder/897

[2020-06-01 16:11] pshipton commented on #9656
The test failures no longer occur.

[2020-06-01 16:12] a7ehuo commented on #9760
@ashu-mehra Thanks Ashu. I'll take a look at the assert "`objectReferenceLocationClient should not be NULL`".

[2020-06-01 16:22] dnakamura commented on #9126
It looks like a combination of hitting a timeout in a command and not properly detecting the timeout as an error condition. Given the fact that this seems isolated to jdk8 (or at least much more frequent there), I'm suspecting its just some combination of our messing with the jobserver mechanics and ddrgen being called in a different location in the makefiles.

[2020-06-01 16:22] JasonFengJ9 commented on #9656
Note that the tests in question have been excluded. To run a grinder against these tests, a personal repo re-enabling them is required.

[2020-06-01 16:26] ashu-mehra commented on #9760
Test case that I used: [unitTestJProf.zip](https://github.com/eclipse/openj9/files/4712301/unitTestJProf.zip)

Client Command:
`~/data/ashu-mehra/openj9-openjdk-jdk11/./build/linux-x86_64-normal-server-slowdebug/images/jdk/bin/java -Xshareclasses:none -XcompilationThreads1 "-Xjit:verbose={compilePerformance},vlog=jitclient,{SimpleSortObject.simpleSort*}(traceOptTrees,traceJProfilingBlock,log=simpl

[2020-06-01 16:29] JasonFengJ9 commented on #9656
@andrew-m-leonard could you verify latest JCL against https://github.com/JasonFengJ9/openjdk-tests/tree/enablestringconcat?

[2020-06-01 16:32] jdekonin commented on #9759
I think the VPN was okay, but the machines are not reachable.

I've sent an email to our contact; waiting reply.  We do not have a method for rebooting these ourselves atm.

[2020-06-01 16:56] jdekonin commented on #9759
There was a power failure; teams are working to restore it.  @AdamBrousseau, @rajdeepsingh1 and I are on the email chain.  When we have been advised one of us will verify they have come back online, which should happen automatically.

[2020-06-01 17:34] a7ehuo opened #9762 "Race conditions around the CHTable update/initialization at the server"
I'm seeing some issues with the CHTable update/initialization at the server that could cause intermittent crashes. It's mainly due to the number of active threads of a client session data not being updated in time.

1.  A race condition between a thread that clears the client session cache while another thread is still updating or accessing the CHTable [1].

2.  the `_expectedSeqNo` is not updated

[2020-06-01 17:54] mikezhang1234567890 commented on #9168
It seems this issue is caused by malformed strings in the constant pool used by the `deserializeLambda` method.

for example, a snippet of a z/OS classfile:
[code]

vs OSX classfile:
[code]

Using a class file generated on a working platform on z/OS works. Still investigating why javac is outputting gibberish strings on z/OS.

[2020-06-01 18:34] rpshukla commented on #9663
I was able to reproduce a failure with the following options: `-Xshareclasses:none -Xjit:tracefull,log=log,limit={java/util/ImmutableCollections\$SetN\$SetNIterator.next()Ljava/lang/Object;}`.

I'm looking into what goes wrong when that method is compiled.

[2020-06-01 18:47] nbhuiyan commented on #9644
I have been unable to reproduce this failure myself. Are there any coredumps from this crash available for download?s

[2020-06-01 19:02] pshipton commented on #9656
There are a number of new failures now https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.openjdk_s390x_linux_Personal/2/
[code]

java/foreign/TestAdaptVarHandles.java.TestAdaptVarHandles
java/foreign/TestAddressHandle.java.TestAddressHandle
java/foreign/TestMemoryAccess.java.TestMemoryAccess
java/foreign/TestMemoryAlignment.java.TestMemoryAlignment
java/foreign/TestMemoryCopy.java.TestM

[2020-06-01 19:27] DanHeidinga commented on #9168
Are they gibberish or are they encoded in EBCDIC rather than ascii?  There may be a path in the file IO that's accidentally doing the ASCII->EBCDIC conversion

[2020-06-01 19:41] pshipton commented on #9754
Tried to reproduce with some grinders, but no success. These run on plinux using the same Friday night JVM as reported in https://github.com/eclipse/openj9/issues/9754#issuecomment-636859678
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_ppc64le_linux_Nightly/406/OpenJ9-JDK8-ppc64le_linux-20200530-014508.tar.gz
https://ci.eclipse.org/openj9/view/Test/job/Grin

[2020-06-01 20:00] pshipton commented on #9656
OpenJ9 implements some of the classes like MethodHandles.
https://github.com/eclipse/openj9/tree/master/jcl/src/java.base/share/classes/java/lang/invoke

The code in github contains java preprocessor directives, the files need to run through the preprocessor before the line numbers match up. It's easiest to look in the src.zip for files included there, otherwise
- there is an Eclipse plugin that r

[2020-06-01 20:05] pshipton commented on #9656
The OpenJ9 code doing the check is here,
https://github.com/eclipse/openj9/blob/master/jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java#L197

[2020-06-01 20:08] pshipton commented on #9759
They are back online now.

[2020-06-01 20:15] pshipton commented on #9644
@nbhuiyan see the artifacts of the failed job i.e. https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/373/system_test_output.tar.gz
and look in openjdk-tests\TKG\test_output_159003240245\HCRLateAttachWorkload_0\20200521-013050-HCRLateAttachWorkload\results\

[2020-06-01 20:23] keithc-ca commented on #8732
As we don't expect any more changes will be required specifically for openj9, I think it's reasonable to close this.

[2020-06-01 20:23] #8732 closed

[2020-06-01 20:24] andrew-m-leonard commented on #9656
MethodHandles.lookup() from java.lang.invoke priviledged class "bug" reported: https://bugs.openjdk.java.net/browse/JDK-8246281

[2020-06-01 22:20] mikezhang1234567890 commented on #9168
The bytes aren't in ebcdic, however the malformed strings are similar in a way that suggests encoding gone wrong.

[2020-06-02 00:32] pshipton commented on #9759
Now the machines are failing to download the JDKs.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/541
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_OMR/546
[code]

[2020-06-02 01:07] cathyzhyi commented on #8838
Yes, we've noticed that as well. The test passes with -Xint which means all methods are interpreted. However, I've also noticed the failure seems to be timing sensitive so the problem might not necessarily in the compiler.

[2020-06-02 02:12] AdamBrousseau commented on #9759
Network is horribly slow. 12KB/s download from OSU Artifactory. I can download from Adopt (AWS) fast (25MB/s). Other machines pull from Artifactory fine. Tried a reboot on `#1`, didn't help. I will email back the site support.

[2020-06-02 02:33] zelix0 commented on #8838
If the problem was some kind of application problem then wouldn't you expect to also have a least occasional crashes in the HotSpot version of the AdoptOpenJDK and the Oracle JVM? None has ever been reported.

Looking at it from another direction, have you ever had the test case complete without a crash when using the OpenJ9 VM without using the -Xint option?

For what it is worth, I have a sneaki

[2020-06-02 10:47] knn-k commented on #6607
Related PRs:
- #9756, #9765

[2020-06-02 12:35] andrew-m-leonard commented on #9656
Response from Mandy Chung (Oracle) :
This change is intentional. java.lang.invoke.* classes are growing beyond the method handle machinery. Without the capability of creating Lookup object on java.lang.invoke, the only way is to use the all-power trusted lookup (IMPL_LOOKUP). Besides StringConcatFactory, j.l.invoke.InvokerBytecodeGenerator and MemoryAccessVarHandleGenerator classes create the look

[2020-06-02 13:40] jdekonin commented on #9759
Email from our contact states that service has not been 100% restored as of yet, so what we have is what we have for the time being.

[2020-06-02 13:40] rpshukla commented on #9754
I have been able to reproduce failures on zlinux for MauveSingleThreadLoadTest_OpenJ9_0 and MauveMultiThreadLoadTest_special_13. I will try running the same tests with cfg simplification disabled to see if that is causing the problem.

[2020-06-02 13:58] DanHeidinga commented on #9656
Thanks for following up on that.  I'll have to dig into the old internal issues to validate why it's OK to allow this access.

[2020-06-02 14:00] keithc-ca opened #9766 "Implementation required for MethodHandle.rebind()"
OpenJDK acceptance failure (e.g. https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_linux_OpenJDK/218):
[code]

[2020-06-02 14:31] cathyzhyi commented on #8838
@zelix0 sry, I didn't make myself clear. I didn't mean the problem is in the application. I meant the problem might not be in `Just-In-Time compiler` but in the Runtime. My point was, even the test pass with `-Xint` when all the methods are interpreted doesn't mean the problem is in the compiler it might still be problem in the interpreter. Like you said it might be related to how OpenJ9 processes

[2020-06-02 14:33] AlenBadel commented on #8671
@pshipton @dmitripivkine
The official docs for -Xlp does not specify precedence rules. Within the objectheap implementation, and tests we assume that if -Xlp is passed with any other arrangement of -Xlp* options it is always ignored. This happens even if it is the right-most option. The only time it is a valid option is if it is passed without any other -Xlp* option.

Was this intended? If so then

[2020-06-02 14:47] rpshukla commented on #9754
Update: the same grinders pass with `-Xjit:disableCFGSimplification` so this seems to be a problem with CFG simplification.

[2020-06-02 14:55] rpshukla commented on #9754
I suspect that the problem is related to this CFG simplification pattern: https://github.com/eclipse/omr/blob/7d9ec945ed0a87e5898c2e92912db18cac01d7a8/compiler/optimizer/OMRCFGSimplifier.cpp#L645

I'm going to run those grinders again with CFG simplification enabled and the environment variable `TR_disableSimplifyNullToException` set to see if the problem goes away.

[2020-06-02 15:00] andrewcraik commented on #9754
Given OMR has a commit pending for a similar pattern please post your explanation of why the pattern fails once you have it.

[2020-06-02 15:14] DanHeidinga commented on #8671
I wrote up a proposal on how to handle these options looking at what we'd do today if they were completely new options being added.  We obviously don't have a blank slate so we need to figure out how to handle both the new and old options.

I've spent a lot of time thinking about this since you slacked me about it and I had an insight over the weekend.  We'd never add the `-Xlp:...` option forms t

[2020-06-02 15:28] JosafatZero opened #9769 "Issue in image with openssl"
Hi everyone, our team started to use the image: `adoptopenjdk/openjdk8-openj9:jdk8u252-b09_openj9-0.20.0-alpine-slim` we already was using some in the past but in this case, in one of our components for some reason fail a rest call to https, not 100% but like 10% depending on some parameters that are sent to the api, this is the trace error:
[code]

our team investigates about this and we found th

[2020-06-02 15:32] keithc-ca commented on #9769
Can you provide more details about how one might reproduce this problem?

[2020-06-02 16:16] pshipton commented on #9686
Another one https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.functional_x86-64_mac_Nightly_testList_1/7
osx1014-x86-3

@AdamBrousseau @jdekonin  I think we should try the reboot.

[2020-06-02 16:24] cathyzhyi commented on #8838
The failure still happens with all the methods are compiled at `noopt` level. The fact that it happens when all the `AsTypeHandle` thunks are compiled at `warm` and other methods at `noopt`  is actually a red herring. The failure seems to be very sensitive to timing. @liqunl @DanHeidinga Do you have some suggestions on what to look for next?  I think it's more likely something wrong with JSR292 in

[2020-06-02 16:30] pshipton opened #9770 "JIT Mode113 Mode122 -Xnocompressedrefs zlinux crash vmState=0x0005ff06"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_xl_Nightly_otherLoadTest/26
ClassLoadingTest_special_6
variation: Mode113
JVM_OPTIONS:  -Xgcpolicy:gencon -Xjit:count=0,optlevel=warm,gcOnResolve,rtResolve -Xmn512k -Xnocompressedrefs
ClassLoadingTest_special_8
variation: Mode122
JVM_OPTIONS:  -Xgcpolicy:optavgpause -Xjit:count=0,optlevel=warm,gcOnResolve,rtResolve -Xnoc

[2020-06-02 16:30] pshipton commented on #9770
@fjeremic

[2020-06-02 16:38] pshipton commented on #9770
First seen in the 4pm OMR acceptance yestday, which might help narrow down the list of changes.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_s390x_linux_xl_OMR_testList_0/6

https://github.com/eclipse/openj9/compare/9feab0a...7fcc41a

[2020-06-02 16:45] pshipton opened #9771 "jdk15 MethodHandle.rebind() stubbed but used"
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/258/
[code]

Blocking compilation of jdk15.

[2020-06-02 16:46] pshipton commented on #9771
@DanHeidinga pls take a look.

[2020-06-02 16:59] jdekonin commented on #9686
osx1014-x86-3 rebooted.

[2020-06-02 17:09] pshipton commented on #9686
Closing until it's seen again.

[2020-06-02 17:09] #9686 closed

[2020-06-02 17:16] fjeremic commented on #9770
@r30shah @harryyu1994 this is a crash in RA:

[code]

There are only three possible changes in the above diff which are Z related and could affect this area. My change affects things during argument mapping which happens right before binary encoding. That leaves the other two changes as the possible culprits. Given this is a blocker on Z we'll need to investigate rather quickly.

@r30shah could yo

[2020-06-02 17:18] fjeremic commented on #9770
The method always seems to be the same across all the jobs I've looked at:

[code]

[2020-06-02 17:27] pshipton commented on #9770
@fjeremic the crashes in the functional tests are different.

[2020-06-02 17:29] rpshukla commented on #9754
The grinders pass when `TR_disableSimplifyNullToException` is set. I'm looking into what's going wrong with `OMR::CFGSimplifier::simplifyNullToException`.

[2020-06-02 17:37] fjeremic commented on #9770
@r30shah I looked into a jitdump from one of the failures [1] and here is what I see of the instructions dumped from the failing state:

[code]

This looks related to the instanceof changes.

[1] https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_special.system_s390x_linux_xl_Nightly_mathLoadTest/26/

[2020-06-02 17:43] pshipton commented on #9769
@ashbm5 fyi

[2020-06-02 17:46] pshipton commented on #9753
@andrewcraik fyi, if the core file is useful to diagnose this.

[2020-06-02 17:47] r30shah commented on #9770
@fjeremic  Thanks a lot for limiting down to this. I still have access to machine used for open build. Trying out to see if I can reproduce the issue and see what is wrong there. I think something odd/incorrect I am doing with register pairs used for STPQ instructions.

[2020-06-02 17:55] fjeremic commented on #9770
I looked into why jitdump recompilations were not reproducing the issue and it seems it is likely because of #9137. I see OSR trees getting generated on the recompilation but not on the initial compilation. I have a hack test fix for this which I will attempt to see if we can get a proper jitdump recompilation crash.

[2020-06-02 17:58] fjeremic commented on #9386
@andrewcraik @cathyzhyi @vijaysun-omr any thoughts on this?

[2020-06-02 18:00] DanHeidinga commented on #9771
@andrew-m-leonard Can we get a high level description of what `rebind` is doing?  I don't see any javadoc for it

[2020-06-02 18:03] ashbm5 commented on #9769
@samasri please take a look

[2020-06-02 18:19] andrewcraik commented on #9386
It seems a reasonable thing to do from my perspective.

[2020-06-02 18:23] r30shah commented on #9770
@fjeremic  I have reproduced this manually. Looking into the instruction it is failing on, it is the Outlined label for instanceOf. Looking into core-dump to see what is wrong.

[2020-06-02 18:26] DanHeidinga commented on #8641
Moving this to the next milestone but we should do this (and should have already done it).

OpenJ9 should accept both options unconditionally.  I don't see an migration concerns raised so far and so we'll do the simple thing to make this work

[2020-06-02 18:27] DanHeidinga commented on #4005
@Mesbah-Alam I think we need to have system test pick up a newer version of log4j.  Can you address this?

[2020-06-02 18:38] DanHeidinga commented on #8983
This is still open until truncation messages are added for other platforms.

[2020-06-02 18:41] DanHeidinga commented on #9710
@edrevo do you have a reproducible test case we can use?  it would help to get this resolved.

[2020-06-02 18:42] DanHeidinga commented on #9640
@andrew-m-leonard is this something you can fix?  It would be good to get the test passing for v0.20.0

[2020-06-02 18:44] DanHeidinga commented on #9535
We're coming up on the v0.20.0 code split on June 7.  Will this be ready and merged before then?

[2020-06-02 18:46] DanHeidinga commented on #9446
@r30shah we're coming up on the v0.20.0 code split on June 7th.  Will this make the release?

[2020-06-02 18:47] DanHeidinga commented on #9416
@Leonardo2718 any update on this?  We're coming up on the v0.20.0 code split on June 7

[2020-06-02 18:49] DanHeidinga commented on #7562
Has this occurred recently?  @JasonFengJ9

If it doesn't occur anymore, we can close it for now

[2020-06-02 18:51] cathyzhyi commented on #9386
Sounds reasonable to me as well.

[2020-06-02 18:55] andrew-m-leonard commented on #9640
@DanHeidinga presume you mean for v0.21.0?

[2020-06-02 18:59] vijaysun-omr commented on #9386
Yes, seems like a valid place for paranoidOptCheck to run...it does run the risk of "getting in the way" of the original crash but surely we would'nt have two independent bugs in the same compile and so using the option to catch it as early as possible seems right.

[2020-06-02 18:59] DanHeidinga commented on #7699
Moving this forward based on the info here.  @andrewcraik if you think this is addressed (has jprofile shipped now?) then please retarget / close

[2020-06-02 19:00] DanHeidinga commented on #9640
Yes, typo on my part

[2020-06-02 19:00] pshipton commented on #8809
@keithc-ca I assume this won't be ready soon and I can move it forward again?

[2020-06-02 19:00] JasonFengJ9 commented on #7562
@DanHeidinga I haven't seen this for a while, closing.

[2020-06-02 19:00] #7562 closed

[2020-06-02 19:06] pshipton commented on #8748
@keithc-ca this is still open in order to look at adding improvements in logging or otherwise to see what native libraries are missing. If this won't be addressed in the next couple of weeks, we can move this forward to the next milestone.

[2020-06-02 19:12] keithc-ca commented on #8809
That's right: This is on the back burner while I work on #9549.

[2020-06-02 19:14] keithc-ca commented on #8748
It isn't likely I'll get to this in the next couple of weeks.

[2020-06-02 19:20] pshipton commented on #8749
@mikezhang1234567890 is there any outlook on a fix for this? Otherwise I'll move it forward to the next milestone.

[2020-06-02 19:21] pshipton commented on #8735
@babsingh can this be closed now?

[2020-06-02 19:41] andrewcraik commented on #7699
JProfiling is now on by default - not all the issues I identified have been fully explored yet, but we haven't had more time to work on this yet. I'll leave it open for now.

[2020-06-02 19:42] pshipton commented on #9766
I'll close this as a dup of https://github.com/eclipse/openj9/issues/9771 even though this was created first.

[2020-06-02 19:42] #9766 closed

[2020-06-02 19:46] Leonardo2718 commented on #9416
So, I wasn't able to get very far because I couldn't get the build that the assert was triggered in. There's really not a lot that can be done with the available information, so the best thing to do is to try to capture more information the next time this failure is seen. I've been trying to think of a way of improving the assert message but haven't found one yet.

[2020-06-02 19:51] ashbm5 commented on #9535
@DanHeidinga @keithc-ca We actually have the change ready for review. However, the implementation problem pointed out by Keith - that the input data is stored in a buffer and not processed immediately, which can cause out of memory problems, is also shared with OpenJDK java (non-OpenSSL) implementation.
https://github.com/openjdk/jdk/blob/master/src/java.base/share/classes/com/sun/crypto/provider/

[2020-06-02 19:54] pshipton commented on #9759
The subsequent nightly builds and omr acceptance ran fine, I'll go ahead and close until another problem surfaces.

[2020-06-02 19:54] #9759 closed

[2020-06-02 20:00] babsingh commented on #8735
@pshipton Yes, this can be closed.
@imkabir @smudigon The fix is `-XX:-HandleSIGABRT`. This option will disable J9's abort handler and prevent J9 to overwrite a native user signal handler for `SIGABRT`. Thus, matching the reference implementation. It should be available in the upcoming 0.21 release.

[2020-06-02 20:00] #8735 closed

[2020-06-02 20:06] r30shah commented on #9770
I have figured out the issue and also checked the fix with the test locally. Testing the fix with broader test cases again, opening up PR once they are finished.

[2020-06-02 20:09] pshipton opened #9773 "JDK 14 & JDK 8 cannot coexist, segmentation fault"
Duplicated from https://github.com/AdoptOpenJDK/openjdk-support/issues/114

- Platform and architecture (e.g. Linux/x64:
Windows
- Java version (from "java --version") e.g. 1.8.0_181, 11.0.4+11 etc.:
8.0.252.09 and 14.0.1.7
- Variant e.g. HotSpot or OpenJ9:
OpenJ9
- Have you tested it with other vendors' java:
Could not reproduce with an old IBM Java 8.0 (build 8.0.5.20 - pwa6480sr5fp20-20180802_0

[2020-06-02 20:13] pshipton opened #9774 "Windows 32 bit version is not built Large address aware"
Duplicated from https://github.com/AdoptOpenJDK/openjdk-support/issues/115

- Platform and architecture (e.g. Linux/x64:
Windows W32

- Java version (from "java --version") e.g. 1.8.0_181, 11.0.4+11 etc.:
Both jdk8u252-b09 jdk8u232-b09

- Variant e.g. HotSpot or OpenJ9:
OpenJ9

- Have you tested it with other vendors' java:
Yes IBM version is Large address aware

- Steps to reproduce:
dumpbin /hea

[2020-06-02 20:15] AlenBadel commented on #8671
One possible change of legacy I see happening is related to a decision we've made in the last design of `-XX:+UseLargePages` on z/OS. Using `-Xlp` will always request 1M fixed large pages instead of pageable. We've made the decision that pageable large pages being more performant and should be used within `-XX:+UseLargePages`. We have a number of users that depend on the legacy behaviour of -Xlp s

[2020-06-02 20:30] manqingl commented on #8735
@babsingh Do we have an APAR for this?

[2020-06-02 20:31] AlenBadel commented on #8671
From your description it looks like we need the following options.

[code]

[code]

I suspect we're missing an option, or sub-option that allows us to specify [non]pageable on z/OS.
Looking back at `-Xlp`, if we had an option to toggle page type we could easily map `-Xlp` to:
`-XX:+UseLargePagesObjectHeap -XX:LargePageType=nonpageable`

[2020-06-02 20:34] DanHeidinga commented on #8671
I'd prefer to avoid suboptions when possible, so `-XX:LargePageType=nonpageable` would be `-XX:[+-]UseNonpageableLargePages`.

And that seems like a reasonable way to handle `-Xlp` on zOS

[2020-06-02 20:36] DanHeidinga commented on #8671
Are all three sizes needed?  Do we have any evidence of users specifying different large page sizes for the object heap vs code cache?

[2020-06-02 20:41] AlenBadel commented on #8671
I'm not sure. @pshipton Could you chime in?
From the research I've done there doesn't seem to be such a thing on Hotspot - perhaps for good reason?

[2020-06-02 20:43] pshipton commented on #9774
References

https://docs.microsoft.com/en-us/cpp/build/reference/largeaddressaware-handle-large-addresses?view=vs-2017

https://github.com/eclipse/openj9/blob/master/runtime/makelib/targets.mk.win.inc.ftl#L119

I don't find any occurrences of `/LARGEADDRESSAWARE` in the openjdk8 repo.

[2020-06-02 20:48] babsingh commented on #8735
@manqingl No APAR was created because I don't think an IBM J9 Jazz workitem exists for this issue. Please send me a direct-message if an APAR is needed.

[2020-06-02 21:05] ChengJin01 commented on #5058
The problem with `j9sysinfo_get_cache_info` on Debian_riscv/U540 is the `index1`directory doesn't start from `/sys/devices/system/cpu/cpu0/cache` but from `/sys/devices/system/cpu/cpu1/cache` as follows.
[code]
Meanwhile, Debugging shows the existing code only checks the index directory on specified cpu<N> folder (it is cpu0 in such case). To work around this on Debian_riscv, I created a fix which

[2020-06-02 21:10] pshipton commented on #8671
I don't know what options are used by customers. I suspect some customers set large pages for one or the other but not both, but not sure how I know this.

We already support options to set the objectheap and codecache sizes separately. We could get away with not adding `-XX:LargePageSizeInBytes=<Size>` since this is just a shortcut for setting both the other options, except its needed for compati

[2020-06-02 22:00] keithc-ca commented on #9549
In the troublesome core files, it seems the section table of the executable has not been loaded or has been over-written: We need to find another source for that information.

[2020-06-02 22:07] JosafatZero commented on #9769
@keithc-ca for some reason I cannot reproduce now the problem, while I tried to create a project with fewer things to pass you I made the test and now is working without the flag, I tried directly with the original project and now is not happening :S as I mentioned this not happened with all calls, I don't know if some info from bluepages was weird or something and now was changed, but right now i

[2020-06-02 22:18] JasonFengJ9 commented on #8450
Updated the section "Computing NPE message 2nd part" to reflect that current approach moves further away from verifier.

fyi @DanHeidinga

[2020-06-02 22:35] rpshukla commented on #9754
Still trying to figure out what's going wrong with simplifyNullToException. If this needs to be fixed quickly, I have opened a PR to disable this simplification: https://github.com/eclipse/omr/pull/5273

[2020-06-02 22:43] a7ehuo commented on #9760
I reproduced the assert ` "objectReferenceLocationClient should not be NULL"` with `jdk_lang_j9_0` test (Java11). For now, we could rule out that this assert is related to JProfiling.

 `objectReferenceLocationClient` is `NULL` in the received message `KnownObjectTable_dereferenceKnownObjectField` at the server. What happened here is that `fieldAddress` [1] is `0` at the client and it's automatica

[2020-06-02 23:42] mikezhang1234567890 commented on #8749
Yes, should have a fix ready soon.

[2020-06-02 23:51] DanHeidinga commented on #9774
@pshipton does this apply to Hotspot as well?  If so we should talk to @andrew-m-leonard about trying to get the change upstreamed.

[2020-06-03 00:06] DanHeidinga commented on #8671
The options should either start with the 'ObjectHeap|CodeCache` or end with that.  Current proposal changes form:
[code]

Better to be consistent and always prepend or append it so:
[code]

or
[code]

[2020-06-03 01:22] DanHeidinga commented on #9535
So both OpenJDK's implementation and our implementation have the same limitation of needing to buffer the input until it's complete?  Sounds like something we shouldn't be changing unless there's a compelling reason to, unless I've missed something

[2020-06-03 01:25] DanHeidinga commented on #9416
https://github.com/eclipse/openj9/issues/9291 seems very similar.  Is that easier to reproduce to debug?

[2020-06-03 01:25] pshipton commented on #9774
Yes I will, after I confirm it's working.

[2020-06-03 01:26] pshipton commented on #8709
@JasonFengJ9 #9746 is merged, if you see this failure again pls let me know.

[2020-06-03 01:28] pshipton commented on #9535
Or we should make the change in OpenJDK and contribute it first.

[2020-06-03 01:43] DanHeidinga commented on #8838
Does that static field contain the invalid object?  Or is it being corrupted by the `StaticFieldGetterHandle` ?

If it's invalid in the static field, we need to find where the object came from - ie: who wrote it into the field - to narrow down what needs to be looked at

[2020-06-03 03:46] smudigon commented on #8735
@babsingh, Will this be made available as part of JDK / JRE 1.8 ? If so, could you please confirm the fixpack in which it would be included.

[2020-06-03 05:05] knn-k commented on #9003
This test passes now as in https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_aarch64_linux_Personal_testList_0/2/tapResults/ .
PR #5159 changed the default JIT option, and AOT is enabled by default as the result.

[2020-06-03 05:05] #9003 closed

[2020-06-03 13:15] Leonardo2718 commented on #9416
No, #9291 has the same problem, unfortunately.

[2020-06-03 13:19] DanHeidinga commented on #9416
The same problem = can't get the build?

Are you able to run the test locally or on a cloud machine to reproduce the issue?  We have the nightly builds and debug images that can be downloaded from Adopt, especially for recent builds so reproducing this - locally or on a build farm - seems like the next step to me.

[2020-06-03 13:33] Leonardo2718 commented on #9416
So, the problem is that the failure is happening _during_ the build, which makes reproducing the issue and extracting useful information very time-consuming. I'm going to try requesting access to the machine at Adopt to see if I have better luck reproducing the failure. It's probably still going to take a lot of time to figure this out, though.

[2020-06-03 13:48] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_OpenJDK8_testList_0/2
[code]

@mpirvu I'm not going to report these failures any more. Doesn't mean they don't still occur. Tests should pass or be excluded.

[2020-06-03 13:52] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_mac_Nightly/376
PatchModuleImgTest_PlatformMod_0

[2020-06-03 13:54] pshipton opened #9782 "TestArrayCopy_3 crash"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_uma_Nightly_testList_0/5
TestArrayCopy_3
osx1011-x86-2
[code]

[2020-06-03 13:54] pshipton commented on #9782
@DanHeidinga fyi

[2020-06-03 13:56] mpirvu commented on #8770
Understood. We are still working through the existing defects. A fix for one bad scenario will come soon, but I cannot tell how many of these issues will be fixed.

[2020-06-03 14:29] pshipton commented on #9770
This one is also different.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_s390x_linux_xl_Nightly/180/
SC_Softmx_Increase_0
[code]

[2020-06-03 14:43] AlenBadel commented on #9519
@andrewcraik Would you have an idea of how to increase the frequency of DLT Compilations?

[2020-06-03 14:53] pshipton commented on #8735
@smudigon the change will be in the OpenJ9 0.21.0 release, delivering in July. It sounds like you are asking about an IBM release, which we try to avoid discussing in this open source project. I expect if you ask this question inside IBM you can get an answer.

[2020-06-03 14:54] andrewcraik commented on #9519
I don't think that it is easy to do because the loop needs to be long running to start with - @mprivu might have some ideas, but it will be hard to get loads of methods DLT'd

[2020-06-03 15:12] rpshukla commented on #9754
I've opened PR #9783 to disable CFG simplification in openj9 while I continue to investigate this issue.

[2020-06-03 15:43] r30shah commented on #9446
@DanHeidinga I have not actively looked into this issue as I got caught up with other issues for 0.21 release. The trees in question was generated by `SPMDKernelParallelization` optimization. I am currently looking into the method log with tracing that optimization, till now it seems like we just missed to convert one of the tree to vectorized node, leaving us with ill formed tree. As I am done wi

[2020-06-03 18:01] babsingh commented on #9654
https://github.com/eclipse/omr/pull/5269 is supposed to fix this issue. It was merged in OMR yesterday. It still needs to promote to [openj9-omr's openj9 branch](https://github.com/eclipse/openj9-omr/commits/openj9) before it becomes available in the Adopt builds. I will notify again when the fix is available in the Adopt builds. At that point, I will request @smithwil to validate the fix and clos

[2020-06-03 18:06] DanHeidinga commented on #9782
@gacholio can you take a look at this?

[2020-06-03 18:32] smudigon commented on #8735
@pshipton , Thank you. Did not realize I was posting this question Open forum.

[2020-06-03 20:05] Leonardo2718 commented on #8823
Alright, I think I've wrapped my head around the problem.

Essentially, the bytecodes of the method result in Trees that look like:

[code]

When the inliner tries to inline the indirect call at `n699n`, it tries to figure out the receiving class by looking at the symref of the receiving object `n655n` (https://github.com/eclipse/omr/blob/ef64925e9da9feb322b70a1a18061ef005cd0e08/compiler/optimizer

[2020-06-03 20:40] DanHeidinga opened #9788 "Sort out the extension for AIX on JDK15 in `System.mapLibraryName(userLibName)`"
For existing OpenJ9 `System.mapLibraryName(userLibName)` returning `.so`, I tested `ClassLoaderHelper.mapAlternativeName()` patch as following at https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/204:
1. rename `libnio.so` to `libnio.a`;
2. `-version` failed with `UnsatisfiedLinkError`;
3. `-version` succeeds with the patch `ClassLoaderHelper.mapAlternativeName()` which returns `.a`.

Buildin

[2020-06-03 20:40] DanHeidinga commented on #9788
@JasonFengJ9 Can you comment on this so I can assign it to you?  It's the follow on item for figuring out the sharedlib extension for AIX in jdk15

[2020-06-03 20:45] JasonFengJ9 commented on #9788
@DanHeidinga yes, I will follow up this issue.

[2020-06-03 20:50] ChengJin01 commented on #5058
I previously directly add `NoOptions` next to the `110` mode (the most popular mode coming with gencon gc & JIT in OpenJ9 tests) to ensure we were able to cover as many tests as we can on RISC-V but it ended up with a bunch of test failures in internal Java 8 tests due to the wrong libraries being loaded with `NoOptions` specified in tests. The reason for this is `NoOptions` originally meant to be

[2020-06-03 20:52] Mesbah-Alam commented on #4005
Log4J libraries have been [upgraded](https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/347) to the latest - 2.13.3. All system test builds will now use this for STF.

[2020-06-03 22:16] pshipton commented on #4005
Thanks @Mesbah-Alam. I'll go ahead and close this, will reopen if the problem is seen again.

[2020-06-03 22:16] #4005 closed

[2020-06-04 00:28] pshipton opened #9792 "testJITServer failures"
These failures occurred on linux_xl in the OMR acceptance build. Not sure if we just got unlucky or there are new problems. I'm going to promote OMR acceptance anyway, I don't believe the failures are caused by OMR changes.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_OMR_testList_1/9
ub16x64j97
testJITServer_0 - //// can't bind server address: Address alre

[2020-06-04 00:28] pshipton commented on #9792
@mpirvu

[2020-06-04 00:29] pshipton commented on #9654
The omr change has promoted.

[2020-06-04 00:32] mpirvu commented on #9792
Since a good chunk of the JITServer failures happen with XL builds I am strongly considering disabling JITServer for XL until we figure out the problem.

[2020-06-04 02:38] pshipton opened #9794 "openjdk CheckedSetBash descendingSet() Element not present after addition"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_xl_Nightly/56
ub18-390-2
java/util/Collections/CheckedSetBash.java
[code]

[2020-06-04 02:39] pshipton commented on #9794
@fjeremic fyi

[2020-06-04 03:22] #9762 closed

[2020-06-04 03:25] mpirvu commented on #9694
Fixed by #9763

[2020-06-04 03:25] #9694 closed

[2020-06-04 07:43] andrew-m-leonard opened #9796 "jdk11 aarch64 build failure: Immediate value is out of range for subsimm"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/353/console

[code]

[2020-06-04 08:08] andrew-m-leonard opened #9797 "ConcurrentLoadTest_0: testAPI(net.adoptopenjdk.test.concurrent.jsr166y.ForkJoinPoolTest): 5 : getActiveThreadCount() expected:<0> but was:<1>"
Test_openjdk8_j9_extended.system_x86-64_mac_xl:
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.system_x86-64_mac_xl/216/tapResults/
[code]

[code]

[2020-06-04 11:18] 0xdaryl commented on #9796
@knn-k

[2020-06-04 11:22] knn-k commented on #9796
This is already fixed.
This happened because #9751 was merged before eclipse/omr#5263 got promoted.

[2020-06-04 12:42] pshipton commented on #9794
5x grinder on the same machine https://ci.eclipse.org/openj9/job/Grinder/901

[2020-06-04 12:46] pshipton opened #9798 "System test failures on AIX"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly/394
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64_aix_Nightly/394
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/892/

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly/382/
https://ci.eclipse.org/openj9/job/Test_openjd

[2020-06-04 12:53] pshipton commented on #9798
@Mesbah-Alam can you please take a look.

[2020-06-04 12:58] pshipton opened #9799 "openjdk ProcessHandle/TreeTest timed out"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/74
java/lang/ProcessHandle/TreeTest.java
[code]

[2020-06-04 13:00] #9754 closed

[2020-06-04 13:03] pshipton commented on #9021
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_s390x_linux_Nightly_testList_0/9
ub16-390-1

[2020-06-04 13:13] dchopra001 opened #9800 "JITServer client crashes when trying to collect performance metrics"
I am investigating a crash that I encountered while trying to generate performance metrics using an internal performance tool.

To summarize briefly, the C stack looks like below:
[code]

Based on the stack trace it looks like we were interpreting a method and ended up at  `jitReportMethodEnter`. I wanted to figure out what java method we were interpreting. So looking at the java stacktrace in the

[2020-06-04 13:41] pshipton commented on #9792
This one isn't XL
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly_testList_1/9

[2020-06-04 13:43] pshipton commented on #9796
If it's already fixed, I'll go ahead and close it. Pls reopen or comment if it's still a problem.

[2020-06-04 13:43] #9796 closed

[2020-06-04 13:46] pshipton commented on #9797
Closing as won't fix, see also https://github.com/eclipse/openj9/issues/4277.
If it happens more often, pls comment.

[2020-06-04 13:46] #9797 closed

[2020-06-04 14:03] r30shah commented on #9446
After digging into the failure found the issue with the trees generated by SIMD optimization.
Consider the following trees,
[code]
In the above trees (which is loop) , we vectorize the loop and redefine `n48n` to vector type (VectorInt32) which is also used as loop induction variable, so ended up with the trees which causes the Assert to be thrown. Another issue I observed in the log file is when

[2020-06-04 14:46] #9774 closed

[2020-06-04 15:13] fjeremic commented on #9794
Let's monitor this one to see if it reproduces. so far 0/55. If we start seeing this again I'll ask someone to take a look.

[2020-06-04 15:14] fjeremic commented on #9446
Excellent job @r30shah. Whoever ends up fixing the actual issue here, as part of the fix I'd like to see a variation of the above unit test added to our testing bucket to ensure such problems never arise again.

[2020-06-04 15:46] a7ehuo commented on #9792
A quick glance at the [console log](https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly_testList_1/9/consoleText), I found something interesting regarding to the failure of `can't bind server address: Address already in use` with `testJITServer_0`.  There is no `Stopping server..` in between two server start [1]. I guess that's why the second and the subsequen

[2020-06-04 15:50] pshipton commented on #9773
Doesn't seem an OpenJ9 problem, see the updates in https://github.com/AdoptOpenJDK/openjdk-support/issues/114

[2020-06-04 16:29] #8749 closed

[2020-06-04 18:21] Mesbah-Alam commented on #9798
This is due to not running the systemtest.getDependency build manually in openj9 Jenkins after https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/347 was resolved. I ran them on the other 3 Jenkins instances but the openj9 one was missed - my bad.

The actual failure is :

[code]

The job is getting prereqs from https://ci.eclipse.org/openj9/job/systemtest.getDependency/185/ - which doesn't

[2020-06-04 18:32] pshipton commented on #9798
Ok thanks, I did run systemtest.getDependency this morning, so this should be resolved.

[2020-06-04 18:32] #9798 closed

[2020-06-04 18:37] pshipton commented on #9758
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_s390x_linux_OMR_testList_1/10

[2020-06-04 19:13] gacholio commented on #9782
Crash is here:
[code]
Assuming we just recently entered the interpreter, the reason is:
[code]
So it seems likely a bad object was returned from a JIT call.

[2020-06-04 19:24] fjeremic commented on #5910
IMO if any work is done, this feature needs to sink down into OMR and be made cross platform. Nothing about local compaction is really codegen specific (may be some corner cases?). See eclipse/omr#5284 for details.

[2020-06-04 19:26] gacholio commented on #9782
The stack is not useful (vmThread roots have not been updated). Looking through the registers, R9 maps to a bytecode PC:
[code]

[2020-06-04 19:33] gacholio commented on #9782
My best guess at the stack (from the registers and hand-examining the memory) is:
[code]

[2020-06-04 19:35] gacholio commented on #9782
[code]
So the String argument is fine, but the StringBuilder appears to be trash.

[2020-06-04 19:39] gacholio commented on #9782
I suspect jitted `AbstractStringBuilder.init(I)V` returned the bad object:
[code]

[2020-06-04 19:41] gacholio commented on #9782
@andrewcraik

[2020-06-04 20:07] pshipton opened #9805 "Install VS2019 for Java 15 Windows builds"
The default compiler for Java 15 is VS2019. It needs to be installed on at least one machine so we can test OpenJ9 with it, and then once confirmed working, rolled out to them all. Since it's the default for Java 15, if it doesn't just work with OpenJ9 we'll need to configure Java 15 (next) to build with an older version until it's working.

[2020-06-04 20:07] pshipton commented on #9805
@jdekonin

[2020-06-04 20:11] pshipton opened #9806 "Move OSX JDK8 builds to a newer OS"
I believe Adopt is building OSX on an OS newer than 10.11 now, which jdk8 has been modified to support. @sxa can you please confirm which one.

The OpenJ9 build should be moved to match. The JDK8 build instructions are already updated. https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V8.md

[2020-06-04 20:11] pshipton commented on #9806
@jdekonin

[2020-06-04 20:24] andrewcraik commented on #9782
@gacholio / @DanHeidinga do you have any failure rate information for this or any history of when it might have started. I agree we should look at it, but I'm not sure if 0.21 is an appropriate target.

@cathyzhyi could you help find someone to look at this? Note the 0.21 tag.

[2020-06-04 20:56] 0xdaryl commented on #5910
I agree, as much as possible.  There are some language-specific interference issues that may need to be abstracted away (e.g., can a reference and an integer share the same slot?  Some languages might say yes, others disallow it).

[2020-06-04 21:14] a7ehuo commented on #9792
Thanks @ymanton for pointing out more details about this test as below.
The sequence of failures is
- `testServer()` starts
    - Tries to kill the Client thread at the end of the test case `testServer()`.
    - `IllegalThreadStateException` is thrown by `exitValue()` when the client thread is not terminated yet in `destroyAndCheckProcess(client, clientBuilder)` [1].
    - Because of the exception

[2020-06-04 21:19] #7740 closed

[2020-06-04 21:37] theresa-m commented on #8552
@andrewcraik can I have some assistance from the JIT team to diagnose the `stopCompilationThreads` hang described?

[2020-06-04 23:21] JasonFengJ9 commented on #8972
Occurred in an internal acceptance build `448411`:
[code]

[2020-06-05 04:15] DanHeidinga commented on #9782
It appears to be a new failure we haven't seen before.  The first instance I can find is the one in the opening description.

I added the 0.21 tag to ensure there would be a conversation about whether this is stop-ship or not given it appears to be a newly introduced (exposed?) issue

[2020-06-05 07:01] imkabir commented on #284
I got the same issue again, and because owner of java/lang/J9VMInternals$ClassInitializationLock is not showing up, I need to look at the stacks of all the threads and guess the owner of it. This instance was particularly difficult because there were multiple java/lang/J9VMInternals$ClassInitializationLock.

[2020-06-05 11:40] andrew-m-leonard commented on #9640
@DanHeidinga

MALLOCOPTIONS issue fixed: https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/310

..however, the test still fails due to a different issue: https://github.com/eclipse/openj9/issues/8504
This is the last failure.. as Simon mentioned if the openj9 code can simply check if /usr/lib is already in the LIBPATH it would fix the problem.

[2020-06-05 12:46] andrewcraik commented on #8552
@mpirvu I missed this one originally - this seems like something you might be better to look at initially?

[2020-06-05 13:29] fjeremic commented on #9120
Just a quick update on where things stand. I currently have several PRs up which I'm waiting to get merged before forging on. I think the most important issue to work on following this bulk of PRs getting merged is #9136.

[2020-06-05 13:32] mpirvu commented on #8552
Thread 9 is the one that executes the shutdown sequence. It will signal all compilation threads to stop what they are doing and then it waits for them to terminate nicely.
Thread 4 is a compilation thread that tries to acquire VM access because it wants to call some VM helper. However, it is stuck waiting for VM access. Some other thread is likely holding exclusive VM access and it could be thread

[2020-06-05 13:45] andrewcraik commented on #9782
@liqunl could you have a sniff?

[2020-06-05 13:53] andrewcraik commented on #9753
Have followed up offline with @knn-k - not sure if we can solve it from the core but I will have a look. Given it hasn't reproduced I don't think this has to be a release blocker. Will reconfirm once I have the core, but I'd like to move this out of 0.21 unless someone feels strongly otherwise...

[2020-06-05 14:00] pshipton opened #9808 "samplingObjectAllocation.soae001 failed, expected 1+ but got: 0"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_OpenJDK11_testList_0/3
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly_testList_0/10
cmdLineTester_jvmtitests_soae_3
[code]

https://github.com/eclipse/openj9/compare/589eaa5...5f0390e
I expect this is caused by https://github.com/eclipse/openj9/pull/9745

[2020-06-05 14:14] pshipton opened #9809 "testDDRExt_SharedClasses_openj9_0 no success for JITHINT for jdk/internal class"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_Nightly_testList_0/10
testDDRExt_SharedClasses_openj9_0
[code]

Looking at the test code, it's looking for `"<init>\\(.*\\),JITHINT data !j9x,(java|sun)/.*"`. I expect this test needs to be updated for Java 11. In Java 11, some classes that used to be in the sun package are moved to jdk/internal.

[2020-06-05 14:15] DanHeidinga commented on #9808
@LinHu2016 Is this related to your recent changes?

[2020-06-05 14:15] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_uma_Nightly/8

[2020-06-05 14:19] pshipton commented on #9808
@dmitripivkine fyi

[2020-06-05 15:19] keithc-ca opened #9810 "gccheck fails on older core file"
Java -version output
--------------------
[code]

Summary of problem
------------------
A core file created by an older JVM cannot be read by current builds.
To demonstrate, create a core file from a 0.20 build:
[code]
Then try to examine that core file with a current build (notice the exception in `gccheck`):
[code]
I expect this is due to the change in #9745.

[2020-06-05 15:35] pshipton commented on #9810
@dmitripivkine @LinHu2016

[2020-06-05 16:37] AlenBadel commented on #8671
I've went ahead and posted the design doc of the current paging options, as well as the proposed additions we've discussed.

@dmitripivkine @DanHeidinga @pshipton Feel free to review the behaviour and let me know if anything is unclear or inaccurate.

[2020-06-05 17:02] PushkarBettadpur commented on #9683
In testing a potential fix for this issue internally, I ran into a few failures. I'm investigating these failures and will follow up once I learn more.

[2020-06-05 17:28] pshipton commented on #8671
lgtm

[2020-06-05 17:35] pshipton commented on #6564
Blue Ocean is no longer used.

[2020-06-05 17:35] #6564 closed

[2020-06-05 17:36] pshipton commented on #6982
Since we have a working solution, I'll close this.

[2020-06-05 17:36] #6982 closed

[2020-06-05 17:40] AlenBadel commented on #8671
@pshipton  Is it right to assume that the irregularity described in https://github.com/eclipse/openj9/issues/8671#issuecomment-637582166 is a bug and that the option precedence for `-Xlp `should follow all other `-Xlp*` options?

[2020-06-05 18:00] sharon-wang commented on #7247
@pshipton Has this crash been seen recently (since April 26th)?

I've run 400+ grinder iterations, but I haven't had luck reproducing.
- macOS versions tested: 10.10, 10.11
- jdk_custom tests run:
   - test/jdk/java/lang/ClassLoader/Assert.java
   - test/jdk/java/util/zip/EntryCount64k.java
   - test/jdk/java/lang/ProcessBuilder/Basic.java

[2020-06-05 18:10] rhaley-starfish commented on #1159
Bummer. We have a wandboard  (NXP iMX6 armv7) based system that could really use this.

[2020-06-05 18:32] DanHeidinga commented on #8671
Thanks for pulling this together @AlenBadel.

A couple of comments:
* Deprecation after 8
  * I would prefer we deprecate in 8 so it's very clear that users should adopt the new `-XX:` options instead.  Deprecating doesn't mean we remove them immediately.
* Row 5 (`-Xlp`) has two different mappings depending on whether the OS is zOS or not.
  * I would prefer to keep the base mapping the same on a

[2020-06-05 18:52] AlenBadel commented on #8671
Thanks for the review and clarification @DanHeidinga. I've made the changes.

[2020-06-05 20:21] pshipton commented on #8671
Certainly that makes things much easier than trying to replicate the current behavior once we start mapping -Xlp options to -XX: options. However it could mean a change in behavior for a customer when updating, so we should make sure we document this in the release notes.

[2020-06-05 20:26] pshipton commented on #7247
No. There is a second Issue for this problem (for no good reason) htps://github.com/eclipse/openj9/issues/5153 but the last reported occurrence in there is April 17.

[2020-06-05 20:55] dmitripivkine commented on #8671
I believe this is intentional. `-Xlp` supposed to be ignored if `-Xlp<size>` is provided. It is like "I want large pages and size of large page should be `<size>`". I believe this is kind of "translation" of `-XX:+UseLargePages -XX:LargePageSizeInBytes=<Size>`

[2020-06-05 21:05] gita-omr commented on #8671
What should happen if ` -XX:LargePageSizeInBytes=<Size> -XX:+UseLargePages` is specified?

[2020-06-05 21:44] AlenBadel commented on #8671
Logically, `-XX:LargePageSizeInBytes=<Size>` should be ignored. It doesn't make sense that an argument be passed before the feature is enabled. I assume there's a global OpenJ9 option convention rule to address this.

If was intentional, it wasn't documented. Let's agree to treat all options equally, and not have -Xlp overwritten. As Peter mentioned, it should a reasonable action as long as it's p

[2020-06-05 22:02] dmitripivkine commented on #8671
I believe different options should be context independent (order irrelevant). My point was in this context `-Xlp` (enable LP) and `-Xlp<size>` (specify size for LP) should be treated at two different options (not a two forms of the same option). if somebody specifies (on AIX) `-Xlp64k -Xlp` LP size selected should be 64k, not 16m default and order does not matter: `-Xlp -Xlp64k` should be equivale

[2020-06-05 22:15] pshipton commented on #8671
I agree with Dmitri.
`-XX:LargePageSizeInBytes=<Size> -XX:+UseLargePages` should use `<Size>`, not ignore the size because it comes first.

[2020-06-06 02:06] AlenBadel commented on #8671
Agreed, options will be proceed no matter of the order, unless they are overwritten, or disabled by an option at a later index.

I certainly misspoke. We wouldn't need any special cases or precedence for `-Xlp`. Ultimately it will be mapped to `-XX:+UseLargePages`, and any option bearing a size argument (`-Xlp<size>`, `-Xlp:[codecache/objectheap]`) will effectively dictate the page size used. All

[2020-06-06 02:09] liqunl commented on #9782
I looked at the disassembly of `java/lang/AbstractStringBuilder.<init>(I)V`, haven't found anything suspicious.
I have also tried to reproduce the failure on my laptop, but haven't seen one in 50 runs. I'll try if I can reproduce it with grinders.

[2020-06-06 02:17] DanHeidinga commented on #9640
I pulled together a PR to address this https://github.com/eclipse/openj9/pull/9814

[2020-06-06 13:57] 1a2s3d4f1 opened #9815 "Another performance problem of modded Minecraft"
Java -version output
--------------------
[code]

Summary of problem
------------------

Sometimes running (fabric modded) modpack on openj9 may lead to longer [tick time](https://minecraft.gamepedia.com/Tick) lower performance compare to hotspot.
Here are screenshots of F3 GUI
(-Xjit:disableGuardedStaticFinalFieldFolding options is not useful)
openj9:
![2020-06-06_21.28.23.png](https://i.loli.net

[2020-06-07 22:02] pshipton opened #9816 "SC_Softmx_JitAot_0 crash vmState=0x00020002"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly/389
SC_Softmx_JitAot_0
[code]

[2020-06-07 22:02] pshipton commented on #9816
@dmitripivkine

[2020-06-07 22:05] pshipton commented on #9651
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.openjdk_x86-64_linux_Nightly/9

[2020-06-07 22:05] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.openjdk_ppc64le_linux_Nightly/9

[2020-06-07 22:12] pshipton commented on #9126
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_Nightly/408

[2020-06-07 22:34] pshipton commented on #8204
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_xl_Personal_mauveLoadTest/4
MauveMultiThreadLoadTest_special_3

[2020-06-07 23:28] #8762 closed

[2020-06-08 00:34] JasonFengJ9 commented on #8709
@pshipton a similar occurrence at an internal build `Test_openjdk8_j9_extended.functional_x86-64_mac_xl_Nightly_testList_1/6`:
[code]

[2020-06-08 12:10] JasonFengJ9 opened #9817 "SE80_GIT cmdLineTester_jvmtitests testReflectMethodIDRedefineExtended Type=Illegal instruction vmState=0x00040000"
Failure link
------------

From an internal build `ibuild 448591`
[code]

Optional info
-------------

- intermittent failure (yes): not reproduced in a 100x grinder

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-06-08 12:14] JasonFengJ9 opened #9818 "SE80_GIT jit_hw_0 Unhandled exception Type=Illegal instruction vmState=0x00000000"
Failure link
------------

From an internal build `ibuild 448591`
[code]

Optional info
-------------

- intermittent failure (yes): not reproduced in a 30x grinder

Failure output (captured from console output)
---------------------------------------------

[code]

Note this failure output shows `*** Invalid JIT return address 2F6A39766D2F6173 in 000003FFD91E7F98` which is similar with https://gi

[2020-06-08 12:41] pshipton commented on #9818
@fjeremic fyi

[2020-06-08 13:32] DanHeidinga commented on #9817
Crashing in compiled method:
[code]
with `vmState=0x00040000` (JNI?)
and also:
[code]

[2020-06-08 13:41] mstoodle commented on #7764
Just to fully close the loop here: I just verified this problem has gone away and elasticsearch starts with the latest 2020-06-08 nightly build from AdoptOpenJDK.

[2020-06-08 14:07] LinHu2016 commented on #9810
@keithc-ca Could you please pass your old core file to me for testing? not every old core file can reproduce the problem. Thanks

[2020-06-08 14:13] keithc-ca commented on #9810
It's not special: in the description, see the command I used to create it (from the 0.20 adopt build for xlinux).

[2020-06-08 14:24] keithc-ca commented on #9769
If you encounter the problem again in the future, we can re-open this.

[2020-06-08 14:24] #9769 closed

[2020-06-08 14:40] fjeremic commented on #9817
These are 31-bit Linux builds. I thought we stopped building these more than a year ago?

[2020-06-08 14:42] fjeremic commented on #9818
Will keep monitoring this as the reproduction appears to be too low.

[2020-06-08 14:42] babsingh commented on #9654
@smithwil The fix is available in [OpenJ9 nightly builds](https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9) (7 June 2020 ++). Can you please verify the fix and close this issue?

[2020-06-08 15:06] dchopra001 commented on #9800
In the JIT frame above for the stack slots output, we see the following:
[code]

Kevin suggested looking at bytecode index 14 for inlineDepth = 0.

From the inlining table:
[code]
The method at inlining depth = 0 is `com/ibm/ws/kernel/internal/classloader/JarResourceEntry.getResourceHandler()Lcom/ibm/ws/kernel/internal/classloader/ResourceHandler;`

Opening the same core in KCA, I see the followin

[2020-06-08 15:08] keithc-ca commented on #9126
In that build, `build/linux-x86_64-normal-server-release/vm/runtime/omr/omrddr/omrddr/__/build/linux-x86_64-normal-server-release/vm/runtime/omr/omrcfg.annt.h` is empty. It should contain:
[code]

[2020-06-08 15:12] pshipton commented on #8204
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly_mauveLoadTest/28
MauveMultiThreadLoadTest_special_25

[2020-06-08 15:16] dchopra001 commented on #9800
Taking another look at this problem, I noticed that when I run with `-Xjit:exclude={com/ibm/ws/kernel/internal/classloader/JarFileClassLoader.findClass(Ljava/lang/String;Z)Ljava/lang/Class;}`, the problem still occurs. This means that the problem is common and can happen in several situations.

So I generated a verbose log where the only method that can cause this crash is `{com/ibm/ws/kernel/inte

[2020-06-08 15:19] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_uma_Nightly/11
timeout

[2020-06-08 15:21] dchopra001 commented on #9800
There is a significant difference in the trees, and I'm looking at them right now. I'll post an update once I have one.

[2020-06-08 15:22] dnakamura opened #9820 "No inlining for C on z/OS"
Currently, for C files on z/OS, we don't actually mark any functions as `inline`. I suspect this is due to the fact that the `inline` keyword is not available in c89. However, given that we now compile with `-Wc,langlvl(extc99)` we should be able to use the `inline` keyword. I have a PR (eclipse/omr#5292) which compiles and passes testing, but I want to do a bit more testing to make sure that ther

[2020-06-08 15:24] JasonFengJ9 commented on #9817
IBM Java SDK8 last update (8.0.6.10 – 05 May 2020) still has Linux on z Systems 31-bit though [1].

[1] https://developer.ibm.com/javasdk/downloads/sdk8/

[2020-06-08 15:54] andrewcraik commented on #9815
This isn't clearly a JIT issue yet - @amicic could you check the verbose gc logs and see if there is a GC issue here before we dig into profiles and code? Once we have that we have a better idea where we need to look.

[2020-06-08 15:56] andrewcraik commented on #9815
@BeverlyXu can you monitor and help make sure we move this forward like the last one?

[2020-06-08 16:05] dchopra001 commented on #9800
Something I noticed:
The inlined report inlining `com/ibm/ws/kernel/internal/classloader/JarResourceHandler.getManifest()Ljava/util/jar/Manifest;`.

However, I don't see this method being in the trees for the passing and failing logs.

The inlining table shows an entry for this method:

[code]

The first difference is that the passing log has the following :
[code]

The signature here looks almost

[2020-06-08 16:09] pshipton opened #9821 "osx1014-x86-2 bus error for shared classes"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly/391
SC_Softmx_UpDown_0
osx1014-x86-2
[code]
[code]
vmState=0x00080002 is shared class cache

[2020-06-08 16:13] pshipton commented on #9821
Bus error in relation to shared classes usually indicate a disk space problem, but it seems fine now. Will monitor for future problems.

[2020-06-08 16:24] EmanElsaban commented on #9708
`JITServer Message Type Statistics:
Type# #called           Max             Min             Mean            StdDev          Sum             TypeName
#0000    4713   65204.000000    684.000000      3948.217271     4515.226255     18607948.000000         compilationCode
#0001      20   24.000000       24.000000       24.000000       0.000000        480.000000              compilationFailure
#0002

[2020-06-08 16:33] EmanElsaban commented on #9708
[AcmeAir Message Statistics.xlsx](https://github.com/eclipse/openj9/files/4747286/AcmeAir.Message.Statistics.xlsx)

[2020-06-08 16:57] dmitripivkine commented on #9816
GC Check shows bogus O-slots for java stack thread 0xd502300:
[code]
There is no object 0x 7ffc9fc30
[code]
this link goes to the middle of array
[code]
Problematics frames are
[code]

[2020-06-08 16:59] mpirvu commented on #9708
Thanks.
These are the messages sent by the server and received by the client. It appears that the message with the compiled code can be pretty big, 1K-65K, but the rest are typically less than 100 bytes.

@EmanElsaban could you please generate the same stats from the server point of view (messages received by the server)? In this case you may need to add the print routine to another place.

[2020-06-08 17:45] pshipton opened #9822 "Windows install of VS2013 not working on build machines"
There is a file modified in jdk8 which doesn't compile on Windows, due to using VS2010.
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/417

It's possible OpenJ9 builds will have to switch to use VS2013. I tried to configure using `--with-toolchain-version=2013` on win2012r2-x86-3, but this resulted in the following errors.

[code]

[2020-06-08 17:46] pshipton commented on #9822
This doesn't need to be fixed yet, recording the details in case it's needed in the future.

[2020-06-08 17:49] pshipton commented on #9822
Confirmed Adopt is also using `Microsoft Visual Studio 2010` and needs to be notified if a change to VS2013 is required.

[2020-06-08 18:10] a7ehuo opened #9824 "Disable building JITServer for XL build"
There are a few `testJITServer` test failures with XL bulids [1]. There is not much value using `JITServer` in large heap builds. It's preferred to disable building JITServer for `ppc64le_linux_xl` and `x86-64_linux_xl`.  Currently  `ppc64le_linux_xl` and `x86-64_linux_xl` build config extend from  `ppc64le_linux` and `x86-64_linux`. To exclude `--enable-jitserver` flag, XL builds might need not t

[2020-06-08 18:11] a7ehuo commented on #9824
@AdamBrousseau @mpirvu FYI

[2020-06-08 18:27] fjeremic opened #9825 "Investigate whether we still need s390m4check.pl"
Merging of [1] caused a build break at OpenJ9 due to `s390m4check.pl` not liking a particular line added in Helpers.inc file:

[code]

`s390m4check.pl` was introduced to ensure line length does not exceed 71 characters to ensure when the file is fed into the assembler it doesn't choke. I'm not sure if we still have this restriction today with the compiler toolchains we use. We should validate the

[2020-06-08 18:38] mpirvu commented on #9824
Somehow I would prefer to disable just the testing and not the building. I know that in theory we shouldn't build what we don't test, but I hope this to be a temporary solution until we get JITServer defects under control at which point we will re-enable XL testing.

[2020-06-08 19:06] a7ehuo commented on #9824
I'll look at the possibility of disabling the test for XL build.

[2020-06-08 19:14] AdamBrousseau commented on #9824
You can disable all the testing in the variable file. There are examples elsewhere in the file you just have to list all the targets. I can put in a PR tonight if there isn't one by then.

[2020-06-08 19:35] cathyzhyi commented on #8838
I searched all the `StaticFieldSetterHandle` s and bytecodes and can't find any writes to that static field. I do notice that many of the other static fields in that class are invalid as well:
[code]

[2020-06-08 20:01] cathyzhyi commented on #8838
@zelix0 Hey, could you share some information on at the high level how does the application work? Also, how are the static fields of `com/zelix/_2` might be written? Could it be possible they are written by native code or by Unsafe APIs?

[2020-06-08 20:05] DanHeidinga commented on #8838
@cathyzhyi Can you dump the `J9Class` in `jdmpview`?  It makes me wonder if the class has been initialized correctly or if it's been replaced (redefined)

[2020-06-08 20:17] amicic commented on #9815
So, we are comparing 36ms (OpenJ9) vs 26ms (Hotspot) tick time, right?. Is the problem that average is higher or average is mostly equal, but there is stuttering where tick can sharply jump considerably above 50ms threshold? The former is more likely to be JIT issue, while the latter is more likely to be GC issue (or some other low level issue)

We indeed had a couple of long GCs. Worst one is 1.3

[2020-06-08 20:20] amicic commented on #9815
Verbose GC logs from HotSpot would be valuable, to so see if they suffer from those sudden long GCs.

[2020-06-08 20:31] cathyzhyi commented on #8838
I think the class seems to be fine.

J9Class at 0x5a8200 {
  Fields for J9Class:
        0x0: UDATA eyecatcher = 0x0000000099669966 (2573637990)
        0x8: struct J9ROMClass* romClass = !j9romclass 0x00007F0A2C034AC8
        0x10: void** superclasses = !j9x 0x00000000005A8038
        0x18: UDATA classDepthAndFlags = 0x00000000000E0004 (917508)
        0x20: U32 classDepthWithFlags = 0x00000000 (

[2020-06-08 20:41] dmitripivkine commented on #9815
Also `usertimems` (actually utilized by GC) is very close for both GC cycles in example - `"78.001"` vs `"62.400"`. Looks like resources are taken externally

[2020-06-08 21:37] a7ehuo commented on #9824
Thanks @AdamBrousseau . #9828 is created to skip this test for XL builds. No need to disable building JITServer for XL builds. Close this issue.

[2020-06-08 21:37] #9824 closed

[2020-06-08 21:53] gacholio commented on #9516
The fix has caused some other problems, so it has been reverted. Reopening this until a proper fix can be developed.

[2020-06-08 23:09] theresa-m commented on #8552
Sorry for the delay. I just verified the exclusive access flags for this error.

It looks like its not the thread calling `stopCompilationThreads` thats blocking VM access, but another xdump thread thats waiting to run.

I think this issue is also along the lines of Keith's comment https://github.com/eclipse/openj9/pull/9012#discussion_r401132321

[code]

[2020-06-09 01:33] DanHeidinga commented on #8838
[code]
shows the class was correctly initialized.

And no evidence the class has been redefined (`arrayClass` points to the right array class, `replacedClass` is null).

That negates my theories

[2020-06-09 03:32] mpirvu commented on #8552
This is a different run than the one in comment https://github.com/eclipse/openj9/issues/8552#issuecomment-605086584 because the stack traces are different.
While I don't see the stacks for the compilation threads I am going to assume we are hitting a similar scenario where one compilation thread wants to acquire VM access, but is blocked waiting.
As long as there is one thread holding exclusive V

[2020-06-09 05:23] 1a2s3d4f1 commented on #9815
''' -XX:+PrintGCDetails -XX:+PrintHeapAtGC -XX:+PrintGCDateStamps -Xloggc:gc.log '''  get hotspot gc log
[hotspot-gc-log.zip](https://github.com/eclipse/openj9/files/4750104/hotspot-gc-log.zip)
New openj9 gc and jit log:
screenshots(spark mod can show gc time):

openj9:
![2020-06-09_12.42.44.png](https://i.loli.net/2020/06/09/VzsY2HpqEnR5WZL.png)
hotspot:
![2020-06-09_13.11.20.png](https://i.loli.

[2020-06-09 05:51] zelix0 commented on #8838
There is no native code or use of any unsafe APIs.

At a high level, the static field java.util.Comparator j in com.zelix._2 is set by the method java.util.Comparator c(long, int).  That method c(long, int) first tests whether the Comparator field is null.  If it is null then it constructs a Comparator object (com.zelix.ja) and sets the field before returning the com.zelix.ja instance. Its the Sin

[2020-06-09 10:04] smithwil commented on #9654
Verified with OpenJDK8U-jre_x64_linux_openj9_2020-06-09-04-56.tar.gz nightly build.

This build successfully produced a javacore triggered by `kill -3 <pid>` when running the testcase attached to this issue.

[2020-06-09 10:04] #9654 closed

[2020-06-09 10:09] dnwe commented on #9654
@babsingh / @smithwil is it feasible to have the testcase included in the openj9 regression suite so this is asserted each release going forward?

[2020-06-09 12:46] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/59
timeout

[2020-06-09 12:48] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_cm_Nightly_testList_1/1
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-06-09 12:50] pshipton opened #9832 "xlinux jdk11 cmake Unknown option: concurrentScavenge"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_cm_Nightly/1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_cm_Nightly/1
`JVMJ9GC040E Unknown option: concurrentScavenge`

[2020-06-09 12:50] pshipton commented on #9832
@dnakamura

[2020-06-09 12:54] pshipton commented on #8204
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.system_ppc64_aix_Nightly/96
MauveMultiThreadLoadTest_0

[2020-06-09 13:00] mpirvu opened #9833 "Assert failure " old api and new api did not match, feature 107""
I encountered the following assert while running on an Amazon t3.micro instance:

[code]

Processor info as given by `lscpu`:
[code]

OpenJ9 version info:
[code]

Attn: @harryyu1994

[2020-06-09 13:39] pshipton commented on #9535
This is an enhancement. Since it's not delivered before the 0.21 branch, deferring to the next release.

[2020-06-09 13:41] pshipton commented on #9810
Since this breaks DDR compatibility, setting as a blocker.

[2020-06-09 13:44] pshipton commented on #9640
The PR addresses #8504. Since this issue has been fixed, closing it.

[2020-06-09 13:44] #9640 closed

[2020-06-09 13:47] pshipton commented on #8204
Tentatively assigning to jit given the intermittent nature of the failure.

[2020-06-09 13:48] pshipton commented on #8318
@cathyzhyi is there any expectation this will be fixed for the 0.21 release? Otherwise we can move it to the next release or the backlog.

[2020-06-09 13:49] pshipton commented on #4930
As this wasn't resolved before branching for the 0.21 release, moving to the next.

[2020-06-09 13:50] pshipton commented on #8872
I don't expect this is going to be resolved for 0.21, moving to the next release.

[2020-06-09 14:08] VermaSh commented on #9009
I am having some trouble reproducing the failure with any additional options, `TR_Options: count=0`, `Xjit:count=0,disableasynccompilation`, or when running with reduced test bucket.

I have tried running the tests via the TKG test infrastructure, running them manually using the cmd grinder uses and through `jdk_custom`

Bellow are the commands that I have used to try to reproduce the failure

[co

[2020-06-09 14:09] DanHeidinga commented on #9833
@mpirvu Is this a blocker for the `0.21.0` release?  If so, please add it to the 0.21 milestone and add the blocker label

[2020-06-09 14:14] harryyu1994 commented on #9833
`#define OMR_FEATURE_X86_RTM                 96 + 11 /* Restricted Transactional Memory */`
Feature 107 is OMR_FEATURE_X86_RTM

There is only one instance in the codebase. I think I have an idea why the assertion triggered.

[code]

Coming up with a fix now.

[2020-06-09 14:25] harryyu1994 commented on #9833
@mpirvu is this running with JITServer? and does it happen consistently?

[2020-06-09 14:37] harryyu1994 commented on #9833
Okay some explanations for the failure and I can fix this by the end of today:

My assertions are testing the newly implemented processor detection api's against the old processor detection api's. And when they are different, the assert gets triggered.

I'm guessing the assert failure will only be trigged in JITServer mode.
The old api's are using JITClient's processor information and the new api

[2020-06-09 14:46] cathyzhyi commented on #8318
@andrewcraik Hey Andrew, do you think we can move it to the backlog for now?

[2020-06-09 14:54] lumpfish opened #9835 "JIT crash running HeapHogLoadTest_0"
Occurred running jdk14 m1 build testing:
[code]

Failure link: https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_extended.system_x86-64_windows/95/consoleFull

Test output around point of failure:
[code]

[2020-06-09 15:10] mpirvu commented on #9833
Yes, I saw it on the JITServer and it happens every single time.
It shows if the processors at the client and server are different.

[2020-06-09 15:18] dnakamura commented on #9832
See #9836

[2020-06-09 15:26] DanHeidinga commented on #9835
Crash in compiled method:
[code]

Adding this to the 0.21.0 milestone as it occurs in the Milestone 1 build

[2020-06-09 15:27] DanHeidinga commented on #9835
fyi @andrewcraik

[2020-06-09 15:32] liqunl commented on #9782
I've tried another 50 runs on my laptop, no reproduce. I'm trying to run grinders on internal jenkins, but I can't find a Mac uma build. @pshipton What is a Mac uma build? How is it different from Mac build?

[2020-06-09 15:38] andrewcraik commented on #8318
I think this goes to the backlog for now, but we should come back to it when we have a bit more scope to address it

[2020-06-09 15:51] pshipton commented on #9782
A Mac uma build is using the old (uma) makefile system, any build before May 28th used this. Since https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/308 was merged, the jdk11 Mac builds use the cmake build system, which is supposed to generate the same binaries. We continue to run a nightly build using the old uma makefile system in case any problems occur, we can compare between the two bu

[2020-06-09 16:29] pshipton commented on #9832
Closing as a dup of #8667

[2020-06-09 16:29] #9832 closed

[2020-06-09 17:30] gacholio commented on #8878
So where do we go from here? @rwy0717 suggested that an interpreter-style solution (the compressed override define) might work better than templates. Any thoughts on that?

Another obvious option is to simply multiply-compile the majority of the GC and fill in the MM function table appropriately. This would obviously perform, but may be prohibitively large, and it would also need to address the OD

[2020-06-09 19:12] EmanElsaban commented on #9708
I included both on the client and server side in this excel sheet, Thank you.
[AcmeAir MsgStats on client and server side.xlsx](https://github.com/eclipse/openj9/files/4754314/AcmeAir.MsgStats.on.client.and.server.side.xlsx)

[2020-06-09 19:24] keithc-ca opened #9838 "Race condition in SH_OSCache::generateCacheUniqueID"
Java -version output
--------------------
[code]

Summary of problem
------------------
[code]

`SH_OSCache::generateCacheUniqueID()` is called twice: the first time with a `NULL` buffer (to determine the amount of space required) and a second time with a buffer which is of a size determined by the first call. Part of the computation involves the length of a file (see [line 1399](https://github.co

[2020-06-09 19:25] harryyu1994 commented on #9833
If it's convenient for you, I have the fixes here https://github.com/eclipse/openj9/pull/9837 and https://github.com/eclipse/omr/pull/5298 that you can cherry-pick in and verify.

[2020-06-09 19:25] keithc-ca commented on #9838
FYI @hangshao0

[2020-06-09 19:35] EmanElsaban commented on #9708
I included the client and server side in this excel sheet, Thank you.
[AcmeAir MsgStats on client and server side.xlsx](https://github.com/eclipse/openj9/files/4754407/AcmeAir.MsgStats.on.client.and.server.side.xlsx)

[2020-06-09 19:55] EmanElsaban commented on #9708
I ran it a second trial on Acmeair to print out the total number of messages on server side:
[AcmeAir MsgStats on client and server side.xlsx](https://github.com/eclipse/openj9/files/4754494/AcmeAir.MsgStats.on.client.and.server.side.xlsx)

[2020-06-09 19:58] smlambert commented on #8872
This test should get disabled so it won't make noise during the release.

https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/ProblemList_openjdk11-openj9.txt

[2020-06-09 20:04] mpirvu commented on #9708
The compilation request is the largest contributor: it has the largest messages (115KB), the latest average message size (17.5 KB) and the largest number of bytes being received (95 MB). This represents 55% of the total bytes transferred from client to server.
Given this, it may be worthwhile to look into reducing the size of this message as mentioned in the first comment of this issue

[2020-06-09 20:28] cathyzhyi commented on #8838
@zelix0 Thanks a lot for the detailed explanation! It's very helpful.

[2020-06-09 20:48] sharon-wang commented on #8878
Here's a template example from a discussion with @rwy0717.

In this example:
1. We declare a class template `PointerModePrinter` parameterized on the `PointerMode` enum
2. Create a class template specialization of `PointerModePrinter` for `COMPRESSED` mode and another for `FULL` mode
3. The templated function `print_pointer_mode()` is also parameterized on the `PointerMode` enum, so that it can be

[2020-06-09 22:10] dchopra001 commented on #9800
This problem happens during tree lowering.

We take a tree like the following:
[code]
and reduce it to the trees below:
[code]

This happens inside the optimized path here `TR_J9VMBase::lowerMethodHook`:
https://github.com/eclipse/openj9/blob/959fabc89cb2ea6c9f2292a04bb6f4071ad99129/runtime/compiler/env/VMJ9.cpp#L3360-L3456

Once the JITServer finishes compilation, the code generated will trigger

[2020-06-09 22:53] pshipton commented on #8709
I didn't understand this failure isn't intermittent at all. It always fails on the osx xl build. The test only runs on xl builds since the test mode includes -Xnoncompressedrefs.

https://github.com/eclipse/omr/pull/5299 fixes it.
https://ci.eclipse.org/openj9/view/Test/job/Grinder/905

[2020-06-09 23:45] ChengJin01 commented on #5058
I am nearly close to the end of the OpenJ9 test suites (sanity & extended) with the cross-build on `Debian_riscv/U540` and there is no noticeable error/exception/failure detected except the I/O issue on the SD-card if there are too many JVM processes (due to the lack of JIT) running to commit I/O operations (e.g. SCC related commands).  All failing tests with I/O issue passes if running individual

[2020-06-10 00:54] theresa-m commented on #8552
@mpirvu I'm actually trying my runs and not finding similar scenarios to that stack trace in recent builds. It was from the end of March so perhaps it has been resolved elsewhere. Thanks for your input.

I have a new vm fix that seems to address all the issues: https://github.com/eclipse/openj9/pull/9840

[2020-06-10 15:24] BeverlyXu opened #9843 "-XX:+UseLargePages option does not have an effect on performance"
I was investigating a performance issue on Java 11 and found the option `-XX:+UseLargePages` doesn't have any impact on the Liberty performance.

I've conducted the following experiments.

- Experiment 1 OpenJ9 `no largepage options`
  `throughput score: 5598`
    However /proc/meminfo shows hugepages being rsvd and used.

- Experiment 2 OpenJ9 `-XX:-UseLargePages` or `-XX:+UseLargePages`
    `thr

[2020-06-10 17:50] DanHeidinga opened #9844 "Enable Extended NPE messages for JDK 8 and 11"
Since we have a single code base for all versions, it makes sense to enable the extended NPE messages for all releases.  It appears we'll need a class library patch to enable this in older releases but it should be straightforward with minimal conflicts.

https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/3a9789908591a6025ad3547187cdaceb53b458b8/src/java.base/share/classes/java/lang/NullPoin

[2020-06-10 23:14] andrewcraik commented on #8671
I'm fine with maximum compatibility. A warning would be nice but I do see the point @mstoodle is making. If there is an option to warn about ignored parameters (which I think we already have) then that would satisfy me since I can just make sure to always run with that to validate any configurations I build with options.

[2020-06-10 23:56] pshipton commented on #9651
It's working.
`-timeoutHandler:openj9.jtreg.CoreDumpTimeoutHandler -timeoutHandlerDir:/home/peter/oj9coredumpth.jar`
[code]

[2020-06-11 00:00] JasonFengJ9 opened #9846 "JDK11 JIT Server : NPE at jdk/internal/misc/InnocuousThread.<clinit> (java.base@9/InnocuousThread.java:178)"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.functional_x86-64_linux_jit_Nightly_testList_1/11`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following l

[2020-06-11 00:02] pshipton commented on #9651
If I can get a few pointers for where to put the code and build.xml, we can modify the OpenJ9 sanity.openjdk to use it.

[2020-06-11 00:40] pshipton commented on #9846
@mpirvu

[2020-06-11 00:42] pshipton commented on #8671
https://www.eclipse.org/openj9/docs/xxignoreunrecognizedxxcolonoptions/

[2020-06-11 01:21] DanHeidinga commented on #9843
Closing as suggested in https://github.com/eclipse/openj9/issues/9843#issuecomment-642239012

[2020-06-11 01:21] #9843 closed

[2020-06-11 01:29] pshipton commented on #8429
@JasonFengJ9 ^

[2020-06-11 01:35] JasonFengJ9 commented on #8429
Sure, closing.

[2020-06-11 01:35] #8429 closed

[2020-06-11 01:35] pshipton commented on #9453
Moved to 0.22

[2020-06-11 01:47] #8667 closed

[2020-06-11 01:49] pshipton commented on #2831
Curious, do we have the ability to do this?

[2020-06-11 01:50] #7077 closed

[2020-06-11 01:50] #8425 closed

[2020-06-11 01:57] smlambert commented on #2831
Yes, you can use the [test pipeline script](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/JenkinsfileBase) directly to do this (setting SDK_RESOURCE=nightly to retrieve the latest published nightly build).  Its the same script that backends the Grinders and all testing at OpenJ9 and AdoptOpenJDK which use the Jenkins API to pull nightly or release builds (SDK_RESOURCE=

[2020-06-11 02:03] AdamBrousseau commented on #2831
Per platform, last successful would be simple pipeline code. Might need a few script approvals. If you wanted last fully green build or some other higher quality bar it could get a bit more tricky, maybe. If we wanted to move ahead with test-only builds (#

[2020-06-11 02:05] pshipton commented on #2831
I was asking about getting OpenJ9 builds, not Adopt builds.

[2020-06-11 02:07] pshipton commented on #2831
We have some OpenJ9 builds which should be test-only, although they are set up to re-build the JVMs since that seemed to be the only supported way.

[2020-06-11 02:09] AdamBrousseau commented on #2831
Which builds should be test only?

[2020-06-11 02:11] pshipton commented on #2831
The Pipeline-Special-System jobs that run on the weekend.

[2020-06-11 02:12] #2831 closed

[2020-06-11 02:19] pshipton commented on #2831
I suppose there is nothing wrong with rebuilding the JVMs to run the special.system tests, it means we're testing the latest changes rather than the last nightly. I think we'd just keep it the way it is. I recall wanting to get the last nightly build in the past, so I was curious if it could be done now. I'm not sure what we'd use it for.

[2020-06-11 02:21] smlambert commented on #9651
Look at internal server, Test_openjdk11_j9_sanity.openjdk_s390x_zos_Personal/32/consoleFull
as an example

If you set an environment variable JTREG_URL to a URL where your custom jtreg build is, it will get used instead of the default location where we pick it up from (at AdoptOpenJDK).
JTREG_URL=someArtifactoryLinkToYourURL

JTREG_URL=https://na.artifactory.swg-devops.com/artifactory/sys-rt-gener

[2020-06-11 02:22] pshipton commented on #2831
It could be used to run grinders using the last nightly build from OpenJ9 (instead of Adopt), without having to look up the link manually. Although usually I run grinders from a failure, and there is a grinder link now (thanks!) that populates the build URL automatically.

[2020-06-11 02:46] pshipton commented on #9651
I don't have a custom jtreg build. The timeout handler works with the existing jtreg.jar, and is a separate jar file. I'd like to deliver the code somewhere (Oracle copyright and GPL license, with my modifications) and build the new jar, and have it available when running openjdk tests, so we can add command line arguments to use it (permanently).

[2020-06-11 02:49] smlambert commented on #9651
I get it now...  so I guess you need to figure out where you are going to land your code first.  I will stop replying in git issues now, as I am clearly too tired to read them clearly.  :)

[2020-06-11 02:51] pshipton commented on #9651
I was hoping you would have a spot for it, but if not I could put it into https://github.com/ibmruntimes/openj9-openjdk-jdk, or at least start a discussion about doing that.

[oj9coredumpth.zip](https://github.com/eclipse/openj9/files/4762299/oj9coredumpth.zip)

[2020-06-11 03:07] pshipton commented on #9651
Does this look good?

https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/openj9...pshipton:tohandler?expand=1

[2020-06-11 04:13] gita-omr commented on #9641
@AlenBadel if there is anything that is already covered in the design here https://github.com/eclipse/openj9/issues/8671  could we remove it from this issue to avoid any duplication?

Perhaps this issue will cover the implementation of the above design?

[2020-06-11 08:59] andrew-m-leonard opened #9849 "jdk15+26: MethodHandles.collectReturnValue and others.. methods missing"
jdk-15+26 merge fails to build:
[code]

[2020-06-11 12:35] pshipton commented on #9849
@DanHeidinga

[2020-06-11 12:48] DanHeidinga commented on #9849
@babsingh Can you confirm if these are related to the Foreign memory JEP updates (preview 2) you were looking at?

If they are, can we get them stubbed to throw an exception so we can import the next jdk15 version?

[2020-06-11 12:57] pshipton commented on #9849
Note the jdk15 acceptance build is disabled, blocked by https://github.com/eclipse/openj9/issues/9771, so even with stubs that allow the openj9-staging code to compile, we won't be "import[ing] the next jdk15 version".

[2020-06-11 13:13] 1a2s3d4f1 commented on #9815
Hotspot can use 3000MB physical memory but when openj9 lag ,It was only use 1454MB physical memory

[2020-06-11 13:40] mpirvu commented on #9800
@dchopra001 Thee problem you are describing seems generic enough that would happen with default options and for all platforms.
`getStaticHookAddress(event)` is overridden and gets the right address from the client, and so is `fetchMethodExtendedFlagsPointer()`

[2020-06-11 14:19] dmitripivkine commented on #5615
Closing this issue due inactivity. If problem still exist please reopen or create new one

[2020-06-11 14:19] #5615 closed

[2020-06-11 14:26] pshipton opened #9851 "java/util/EnumSet/EnumSetBash.java"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Nightly/81
java/util/EnumSet/EnumSetBash.java
[code]

[2020-06-11 14:29] pshipton commented on #9851
30x grinder https://ci.eclipse.org/openj9/job/Grinder/910

[2020-06-11 14:31] akrus commented on #5615
I believe the problem is still there, just we stopped using OpenJ9 there.

[2020-06-11 14:31] pshipton commented on #8767
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_0/20
testDDRExt_SharedClasses_openj9_0
[code]

[2020-06-11 14:33] pshipton commented on #8204
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly_mauveLoadTest/31
MauveMultiThreadLoadTest_special_26
variation: Mode612-OSRG
JVM_OPTIONS:  -Xcompressedrefs -Xgcpolicy:gencon -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation

[2020-06-11 14:35] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_cm_Nightly_testList_1/3
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-06-11 15:01] fjeremic commented on #9446
Sure! @r30shah would you be able to get in touch with @mnalam-p once he has a fix and you can give it a spin on a Z machine?

[2020-06-11 15:10] babsingh commented on #9849
Yes, these are related to the `Foreign memory JEP updates (preview 2)`. They were introduced last week in the below commit. I will prepare stubs for them.

[code]

[2020-06-11 15:12] pshipton commented on #5615
@akrus was the switch due to any failings of OpenJ9? Anything we can do to improve?

[2020-06-11 15:18] keithc-ca commented on #9806
10.14 should be fine, but I think it make sense to use the latest version of Xcode available for Mohave, which according to the site you referenced, is 11.2.1.

[2020-06-11 15:19] a7ehuo opened #9852 "Enable testJITServer tests for ppc64le_linux_jit builds"
This is a placeholder to track the work item to enable `testJITServer` tests for `ppc64le_linux_jit` builds.

As mentioned in https://github.com/eclipse/openj9/pull/9828#issuecomment-642254063, `testJITServer_0/1` are disabled for both `ppc64le_linux_jit` and `ppc64le_linux` builds. Preferably they should be enabled in `ppc64le_linux_jit` but not `ppc64le_linux` next.  Maybe we could add `arch.ppc

[2020-06-11 15:24] andrewcraik commented on #9835
fyi @cathyzhyi - see if there is someone to have a look at this and decide if it is something for 0.21

[2020-06-11 15:47] gacholio commented on #8878
The templated code should remain fairly readable - almost every class has it's own `compressObjetReferences` function, which is the only thing that would need to change for the templating.

[2020-06-11 15:56] DanHeidinga commented on #9806
Does moving to a new xcode release require changes to the Extensions repo?  We should aim to match the OpenJDK build compilers when possible to minimize Extension patches

[2020-06-11 16:11] keithc-ca commented on #9838
Here's the trace history from a javacore:
[code]

[2020-06-11 16:47] keithc-ca commented on #9806
I don't expect any changes will be required to extension repos. They all build with 10.3 (on 10.14 Mohave) now and they all build as-is with 11.4 (on 10.15 Catalina) for me.

[2020-06-11 16:59] fjeremic commented on #9851
Let's keep an eye on a reproduction. Gut feeling says its JIT given it is unreproducible, but we'll need a reasonable reproduction rate to be able to investigate.

[2020-06-11 17:03] AlenBadel commented on #8671
Great, if `-XX:LargePageSizeInBytes`, or any of it's variants are specified but the respective component's large page functionality has not, and `-XX:-IgnoreUnrecognizedXXColonOptions` is used we'll simply provide an error.

[2020-06-11 17:05] dchopra001 commented on #9800
I'll look into why I'm not seeing this problem with default options.

[2020-06-11 17:19] pshipton opened #9855 "Compile xlinux jdk15+ on CentOS 7"
jdk15 xlinux should compile on CentOS 7.
Older versions may change as well, but this is not yet decided.
fyi https://github.com/AdoptOpenJDK/openjdk-build/issues/1819

[2020-06-11 17:20] pshipton commented on #9855
@jdekonin

[2020-06-11 17:23] pshipton commented on #8671
No, they are recognized options. They should not cause any error, but be consume without having any effect.

[2020-06-11 17:26] amicic commented on #9815
I did not realize right away that bottom right corner is showing the timeline of TPS (or delay expressed in ms). Now that I understand it, here are the observations:

In both set of screen shorts it can be seen that average delays are higher for OpenJ9 (32ms vs 24ms for Hotspot), what is far more likely a JIT problem that GC.

Worst case, which is more likely to be GC problem, in the first set of

[2020-06-11 17:28] pshipton commented on #8671
To have warnings about invalid large page configurations we should add another option like `-XX:+LargePageWarnings`. Note the existing `-Xlp:objectheap` options support `[,strict|warn]` options, and these should also have `-XX:` equivalents before deprecating `-Xlp:objectheap`.
https://www.eclipse.org/openj9/docs/xlpobjectheap/

[2020-06-11 17:36] Leonardo2718 opened #9856 "Optimize cases were acmp result is used by an if branch in the JIT"
As discussed in https://github.com/eclipse/openj9/pull/8922#pullrequestreview-385932410, the JIT's implementation of acmp needs to be enhanced so it can optimizes cases were the result of the comparision is fed directly to an if branch.

[2020-06-11 17:44] Leonardo2718 opened #9857 "Improve block ordering and frequencies in JIT acmp implementation"
Following from the discussion in https://github.com/eclipse/openj9/pull/8922#pullrequestreview-385933891, the performance of the acmp implementation in the JIT will likely benefit from setting proper block frequencies (instead of just reusing the ones from existing blocks) and potentially moving cold blocks to the bottom of the method body.

[2020-06-11 18:38] AlenBadel commented on #8671
To support strict, and warn we would need an additional two options. `-XX:[+/-]LargePageWarnings`(warn), and `-XX:[+/-]LargePageErrors`(strict) keeping precedence rules as [If both strict and warn are specified, strict takes precedence.](https://www.eclipse.org/openj9/docs/xlpobjectheap/#strict-warn/)

Since these options will only impact the objectheap, would we want to name them `-XX:[+/-]LargeP

[2020-06-11 18:47] DanHeidinga commented on #8671
Yes.

[2020-06-11 19:01] AlenBadel commented on #8671
Great. I've updated the design to include:

- Descriptions for `-XX:[+/-]LargePageWarningsObjectHeap`, and `-XX:[+/-]LargePageErrorsObjectHeap`.
- How the existing `-Xlp:objectheap:pagesize=<size>,[warn/strict]` will be mapped to these options.
- Precedence Rules for both these options.

[2020-06-11 20:16] jdekonin commented on #9822
vs2013 was removed from all the machine to make more space after the vs2017 install as it wasn't in use.

[2020-06-11 20:21] pshipton commented on #9822
OpenJDK fixed the compile problem so I'll close this.

[2020-06-11 20:21] #9822 closed

[2020-06-11 20:30] AlenBadel commented on #8671
`-XX:[+/-]LargePageWarnings,` and `-XX:[+/-]LargePageErrors` are better naming options because we ultimately need options that enable warnings, and errors for both the codecache and objectheap.

`-XX:[+/-]LargePageWarnings`

(ObjectHeap)
Causes a warning message to be generated if large pages are requested but cannot be obtained. Also, this option will also cause a warning message if the user has

[2020-06-11 20:57] pshipton commented on #9651
@smlambert if the previous commit looks ok to you, I'll go ahead and create the PR and ask for a review. Would we then create a jenkins build to create the jar file?

[2020-06-11 21:02] mstoodle commented on #9446
Sadness. Presumably that's a gap in the code generators rather than the architectures. So maybe filling that gap is the missing issue: to implement the `vsetelem` evaluators (maybe even a "beginner" issue) ? Or do we already have an issue for that?

[2020-06-11 21:04] mstoodle commented on #9446
Sort of related to #3898 .

[2020-06-11 21:20] a7ehuo commented on #9846
50x [grinder 8314](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/8341/tapResults/) - passed.
30x local runs of JDK11 `cmdLineTester_jvmtitests_5/7/8` - passed.

Likely this is a very intermittent issue.  The test failed with `emex001` which is executed in `cmdLineTester_jvmtitests_5`, `cmdLineTester_jvmtitests_7` and `cmdLineTester_jvmtitests_8`.
- passed in`cmdLineTester_jvmtitests_5` a

[2020-06-11 22:09] pshipton commented on #433
I don't see the benefit from adding NON-NLS tags to test code, since we don't NLS these strings. As the "other cleanup" isn't specified, I'm just going to close this.

[2020-06-11 22:09] #433 closed

[2020-06-11 22:10] liqunl commented on #9782
The StringBuilder object seems to be corrupted by array zero initialization instruction in the jitted code. The zero initialization is accomplished by `rep stosb` and it seems to be doing backward store in this case.

The bad StringBuilder object has everything right except the header. The header is zero. However, the header can’t be zero when passed to the jitted code, as the jitted code read a f

[2020-06-12 01:20] gita-omr commented on #8671
It's a good point. But mapping is really an implementation issue, is not it? We don't have to map, just set a flag "warn about objectheap" when we see `-XX:objectheap:pagesize=<size>,warn `and  set "warn about objectheap" flag as well as "warn about codecache" when we see `XX:+LargePageWarnings`

[2020-06-12 03:06] smlambert commented on #9651
Yes, that looks good, we can create a Jenkins job at ci.eclipse.org/openj9 then can fetch the jar in a target in the openjdk-tests/openjdk/build.xml file.

[2020-06-12 06:05] akrus commented on #5615
@pshipton,
we still use OpenJ9 with Metronome GC for another project where latency requirements are not that strict, the load and heaps are much smaller, it works well there so far.
Regarding main app, as it's described here, the pause times were unpredictable and depending on load they could easily reach 10+ ms (which is our target that we can never exceed), although that was just part of the iss

[2020-06-12 06:39] knn-k opened #9860 "Inconsistency with OtherRecompilationTrigger"
`j9jit_testarossa_err()` can send an `OtherRecompilationTrigger` event, and it is handled in `TR::DefaultCompilationStrategy::processEvent()`.
When `TR::Recompilation::getJittedBodyInfoFromPC()` returns a NULL, `processEvent()` crashes immediately as it tries to access `bodyInfo->getMethodInfo()`.  On the other hand, `j9jit_testarossa_err()` allows `getJittedBodyInfoFromPC()` to return a NULL when

[2020-06-12 06:43] knn-k commented on #9860
The crash in `processEvent()` happens with AArch64 runtime without support for recompilation as reported in #9574.
I don't know why it tries to send the `OtherRecompilationTrigger` event when recompilation is not supported.

[2020-06-12 08:16] zelix0 commented on #8838
By way of background, the utility that we distribute is used by our users to modify the bytecode of their Java applications.  Depending upon the setting that the user specifies, this can result in the user's application consistently triggering this J9 problem in a fashion similar to the testcase.

For what it is worth, many thousands of users have downloaded our utility but there is no way of know

[2020-06-12 08:28] knn-k commented on #9041
The 0.21.0 m1 build takes 880 seconds on cent7-aarch64-1 to run this test.  Timeout value is 960 seconds.

[2020-06-12 08:29] knn-k commented on #9083
The 0.21.0 m1 build takes 785 seconds on cent7-aarch64-1 to run this test.  Timeout value is 960 seconds.

[2020-06-12 09:13] knn-k commented on #9860
I opened PR #9862 as a fix for this.

[2020-06-12 10:38] gacholio commented on #9782
I was under the impression that DF is supposed to remain clear at all times (in C at least). It would be a simple matter to clear it on transition to JIT code (and maybe you would need to do it on return from JNI calls).

[2020-06-12 12:39] 0xdaryl commented on #9860
@mpirvu : FYI for any opinion you have on the best way to fix this.

[2020-06-12 12:45] 0xdaryl commented on #9083
We should find out how long this test takes to run on x86 for relative comparison.  If there is a wide difference then there might be something pathologically wrong with AArch64 (e.g., methods are being interpreted) rather than just device slowness.

[2020-06-12 14:01] JamesKingdon commented on #9782
@liqunl Great find! It certainly sounds possible. Given GAC's comments I need to check how DF can be set, but I'm leaning towards a conservative fix of making sure it has the correct value before executing the rep sto. @andrewcraik ?

[2020-06-12 14:21] andrewcraik commented on #9782
Looking at the Agner Fog instruction tables https://www.agner.org/optimize/instruction_tables.pdf it seems that CLD/STD are not cheap - latency 4 on skylake/skylakeX and latency 3 on ryzen. I think we need to be a bit careful about spraying CLD etc everywhere.

Now there is some curious looking code in https://github.com/eclipse/openj9/blob/71bf16037a88e1116afdcc7516db040aa5365ab1/runtime/compiler

[2020-06-12 14:25] JamesKingdon commented on #9782
oh, you mean potentially we set STD for a backward array copy and then never clear it? I'm still very nervous about the idea of relying on it having the right value over long periods of time.

[2020-06-12 14:33] gacholio commented on #9782
The rationale is that backwards copy is vastly less likely than forwards, so keeping the DF clear when not doing backwards copy will be a noticeable performance win.

[2020-06-12 16:47] mpirvu commented on #9860
In theory, for a recompilation to take place we must have a jittedBodyInfo for the existing method body. This is the reason why `TR::DefaultCompilationStrategy::processEvent()` does not have a check on  NULL. In fact, in several places in CompilationThread.cpp there are comments like this "// because this is a recompilation, the persistentJittedBodyInfo must exist".

I would like to understand mor

[2020-06-12 17:00] gacholio commented on #9782
From what I can see, backwards copy always emits STD/REP/CLD, so it's still a mystery why it would ever be set (assuming I'm right about the C linkage keeping it clear).

[2020-06-12 17:10] JamesKingdon commented on #9782
DF can also be set via popf which makes it a little harder to narrow down possible changes. Potentially DF might have been set as an accidental side effect of some other flag manipulation. A very cursory grep of the codebase shows some hits for popf*

[2020-06-12 17:13] gacholio commented on #9782
Assuming pushf/pop are matched, that shouldn't be an issue. If there are places using popf on other stacked values, that could certainly cause this (this seems exceedingly unlikely).

[2020-06-12 17:20] JamesKingdon commented on #9782
util/sse2enabled.s is doing a flag manipulation, but it looks ok. Other popf instances seem to be simple restore of saved flags, we would have to have mismatched the stacks to get those wrong.

[2020-06-12 17:43] tajila commented on #9200
@DanHeidinga There are some technical challenges to adding a tracepoint in `inlineAllocateIndexableObject` and `inlineAllocateIndexableValueTypeObject`. Those helpers live in ObjectAllocationAPI.hpp and are only used in VMHelpers.hpp (with the changes in #9804).

None of the existing VMHelper have tracepoints. Attempting to inlcude the vm tracespoints causes issues when the inline functions are us

[2020-06-12 17:46] mnalam-p commented on #9446
I ran a custom build containing my changes with sanity, regression and promotion tests and they all passed. I have encountered some test failures with openj9 build and suspect they are not related to my changes. I am trying to get some suggestion from @r30shah on them.
Meanwhile, I am discussing with @gita-omr to make the fix more generic

[2020-06-12 18:06] babsingh commented on #9771
I don't think we can support `MethodHandle.rebind` in OpenJ9 until we adopt the OpenJDK MethodHandles. `rebind` returns a `BoundMethodHandle`, and the OpenJ9 MethodHandle implementation doesn't support it. Created https://github.com/ibmruntimes/openj9-openjdk-jdk15/pull/1 **[WIP]** to temporarily address this issue.

[2020-06-12 18:24] 0xdaryl commented on #9860
Async compilation is not disabled on AArch64.

[2020-06-12 19:41] rpshukla commented on #9663
It seems that the native method `getStackTrace` may be returning `null`.

I modified `Throwable.getStackTrace` as follows so that the result of `getInternalStackTrace` is stored to a temporary variable.
[code]

Using DDR, the top of the stack looks like this when the NPE is thrown. Note that `t1` is null:
[code]

@JasonFengJ9 it looks like this might not be a jit issue. Although I'm not sure why i

[2020-06-12 20:08] DanHeidinga commented on #9663
The native method should only be able to return NULL when there is a pending exception (OOM or ClassNotFoundError) which should be thrown on return from the native.

Has the native been compiled for directToJNI?

[2020-06-12 20:16] liqunl commented on #9782
@JamesKingdon  suggested offline, that this problem should be detectable if we check DF flag frequently enough. I'll try adding the check to the jit method entry to see if we can detect it.

[2020-06-12 20:27] pshipton opened #9869 "xlinux cmake build Failed to merge PDAT files"
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_OMR/624/
cent6-x64-5
[code]

[2020-06-12 20:28] pshipton commented on #9869
@jdmpapin fyi.
Never seen this before, I restarted the build to see if it occurs again.

[2020-06-12 20:57] rpshukla commented on #9663
I limited the compile to only `java/util/ImmutableCollections$SetN$SetNIterator.next()Ljava/lang/Object;` and looking at the verbose log this was the only method compiled.

[2020-06-12 22:35] JasonFengJ9 commented on #9663
As per experiment I did at https://github.com/eclipse/openj9/issues/9663#issuecomment-633586616, the instrumental log within native https://github.com/eclipse/openj9/blob/1c2b61fa5ddb7945963919a93e8cc517455c2ba9/runtime/jcl/common/jclexception.c#L311
shows that the native doesn't return `null` when the NPE was thrown.

@rpshukla did you see something different?

[2020-06-12 23:13] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR_testList_1/20
cmdLineTester_CryptoTest_0

[2020-06-12 23:16] 0xdaryl commented on #8671
Can someone explain the reason why there isn't currently a strict or warning option for large code pages?

[2020-06-12 23:17] pshipton opened #9871 "OpenJ9 cannot build android project"
See the details in https://github.com/AdoptOpenJDK/openjdk-support/issues/127

Instead of building the user's app, I tried building the default app. While I didn't duplicate the same error, I did get some NullPointerExceptions. I tried again with `-Xshareclasses:none` and got a different NPE. I tried again with `-Xint` and it built successfully.

[2020-06-13 00:11] pshipton commented on #9871
There are also problems when using 0.21.0-m1 (with JIT). I saw a NullPointerException and then UnsupportedOperationException when I re-tried the build.

[2020-06-13 00:42] pshipton commented on #8671
Unless somebody else has an explanation, I'd say nobody asked for it.

[2020-06-13 01:15] DanHeidinga commented on #9871
There's another Android issue being investigated as well that may be related: https://github.com/eclipse/openj9/issues/8823

[2020-06-13 18:01] cathyzhyi commented on #8838
I tried to break on  `java/lang/invoke/StaticFieldSetterHandle.invokeExact_thunkArchetype_V(Ljava/lang/Object;)V`whenever detecting the setter is writing to `com/zelix/_2.j`. The static field is always set with a valid `{com/zelix/ja}` object.  However, the object address, more specifically the last valid address written to the field, becomes invalid at the time of crashing. The invalid address al

[2020-06-14 08:55] MeirShpilraien opened #9873 "Override vm allocator"
Following a discussion on slack:
https://openj9.slack.com/archives/C8312LCV9/p1591547152254200

I would like to suggest an enhancement to allow overriding the JVM allocator so programs that embed the JVM will be able to give their own memory allocator and follow memory allocations of the JVM. I know for example that a program that embeds the C python is able to specify the memory allocator and the

[2020-06-14 14:19] pshipton commented on #8204
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly_mauveLoadTest/32
MauveMultiThreadLoadTest_special_26

[2020-06-14 14:20] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly_testList_0/22
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-06-14 14:40] pshipton opened #9874 "Windows SC_Softmx_JitAot_0 Unable to create shared memory of size 314572800 bytes as requested"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly/391
win2012r2-x86-1
SC_Softmx_JitAot_0
[code]

Found the following in 4.jvm1.stdout and 5.jvm2.stdout
[code]

[2020-06-14 14:42] pshipton commented on #9651
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_xl_Nightly/60
23:55:45  	at app//FinalizeOverride.test(FinalizeOverride.java:75)
23:55:45  	at app//FinalizeOverride.main(FinalizeOverride.java:53)

[2020-06-14 14:44] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/63
timeout

[2020-06-14 14:48] pshipton commented on #9808
I didn't report all the failures, but this still occurs intermittently. @LinHu2016 are you looking at this?
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly_testList_0/19

[2020-06-14 14:52] pshipton opened #9875 "ub16x64j95 No display name received from Xvfb"
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.openjdk_x86-64_linux_Nightly/14
ub16x64j95
`Xvfb -displayfd 2 -screen 0 1024x768x24 -fbdir /home/jenkins/xvfb-14-..fbdir7408207601216309862`
[code]

[2020-06-14 14:54] pshipton commented on #9875
@jdekonin @AdamBrousseau any ideas? I've only seen the one occurrence so far, will monitor for more.

[2020-06-14 14:57] pshipton commented on #6777
@amicic is there any value in running runningSyntheticGCWorkload_concurrentSlackAuto_10k_J9_0, it fails fairly often. Can we exclude it?

[2020-06-14 15:03] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Release_lambdaLoadTest/1
LambdaLoadTest_OpenJ9_NonLinux_special_24

[2020-06-14 18:50] jdekonin commented on #9875
Wasn't a problem on this machine on June 2nd or 4th for the same test, not to say it cannot be something new.

There have been no planned or unplanned changes to this machine in the past 2-4 weeks.

[2020-06-14 21:30] JasonFengJ9 opened #9876 "[linux_390] SE80_GIT decompileAtMethodResolve_0 Illegal instruction at Compiled_method=com/ibm/jvmti/tests/decompileAtMethodResolve/ResolveTest1Super.test()V"
Failure link
------------

From an internal build `acceptance build 449148`:
[code]

Optional info
-------------

- intermittent failure (yes):

Failure output (captured from console output)
---------------------------------------------

[code]

Only one occurrence in a 100x grinder.

[2020-06-14 23:21] knn-k opened #9877 "Use x16 and x17 in ARM64PrivateLinkage"
AArch64 registers x16 and x17 are marked as ARM64_Reserved, and not used in ARM64PrivateLinkage.
They are intra-procedure-call scratch registers, IP0 and IP1, and they don't need to be preserved across calls.

Consider using these registers in ARM64PrivateLinkage.

[2020-06-15 00:23] knn-k commented on #9083
@0xdaryl It seems java/net tests are not executed in sanity.openjdk now, and I don't have numbers.
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux/256/testReport/
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux/260/testReport/

My local AArch64 build with recompilation runs this test in 420 seconds on cent7-aarch64-1, 85% improvement fro

[2020-06-15 01:54] pshipton commented on #8866
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Personal_mauveLoadTest/5
MauveSingleInvocationLoadTest_special_22
[code]

[2020-06-15 01:58] pshipton commented on #9876
@fjeremic

[2020-06-15 01:59] pshipton commented on #9875
Probably just a weird network thing.

[2020-06-15 01:59] #9875 closed

[2020-06-15 04:23] knn-k commented on #9860
I tried to recreate the crash in the debugger to see where `TR::DefaultCompilationStrategy::processEvent()` is called from, but my attempts been unsuccessful.

[2020-06-15 04:41] DanHeidinga commented on #8838
That's unlikely as the Class has been found (ie: the class object has been found).

If you switch to the optthruput gc policy which is a simpler policy with no barriers, does the issue still occur?  I'm wondering if we're missing a barrier in this code path?

[2020-06-15 06:02] 1a2s3d4f1 commented on #9815
Use  `-Xshareclasses:none` turn off share class

TICK Time:
avg delays 32->29
min delays 28->26

[2020-06-15 07:43] knn-k opened #9879 "Assertion failure in getFirstChild()"
I get the following assertion failure with my local build:
[code]

It dissappears by setting an environment variable `TR_DisableEAEscapeHelperDefiningMap`.

[2020-06-15 07:51] knn-k commented on #9879
I originally found this failure with my local debug build for AArch64 today.  It shows the following stack trace in the debugger:
[code]

Then I built a runtime for x86-64 Linux, and got the same assertion failure in `getFirstChild()` as shown above.  I used the following version:
[code]
The only difference I made locally is changing the `TR_ASSERT()` in `OMR::Node::getFirstChild()` to `TR_ASSERT_

[2020-06-15 07:59] knn-k commented on #9879
In fact, you fail to build the runtime on x86-64 Linux with the assertion when I replaced the `TR_ASSERT()` in `OMR::Node::getFirstChild()` by `TR_ASSERT_FATAL()`.  I had to set the environment variable `TR_DisableEAEscapeHelperDefiningMap` to complete the build.

[code]

[2020-06-15 08:10] knn-k commented on #9879
To reproduce:
- Make the change from `TR_ASSERT()` to `TR_ASSERT_FATAL()` in `OMR::Node::getFirstChild()` as shown above
- Build the runtime on x86-64 Linux -> Build fails with the assertion
- Set `TR_DisableEAEscapeHelperDefiningMap`, and build the runtime again -> Build completes successfully

[2020-06-15 11:41] tajila opened #9880 "Openj9 incorrectly permits duplicate fields"
Given the following class

[code]

The RI will fail class loading with the following message:
[code]

However, openj9 will not throw any errors

[2020-06-15 12:03] knn-k opened #9881 "AArch64: Support profiling recompilation"
Recompilation is enabled on AArch64 without profiling.
Add support for profiling.

[2020-06-15 12:28] pshipton commented on #8204
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly/406
MauveMultiThreadLoadTest_0

[2020-06-15 13:11] DanHeidinga commented on #9880
@tajila Does this get detected when running with `-Xfuture`?  This duplicates check may be one of the more expensive ones that are only done under `-Xfuture`

[2020-06-15 13:15] LinHu2016 commented on #9808
I am investigating it, the test allocates one byte array(512K elements) and verify if it triggers the sampling hook(sampling threshold is 512KB), I am creating debug build for testing it.

[2020-06-15 13:24] 0xdaryl commented on #8671
If that's the only reason then for symmetry I suggest that support be added going forward.

[2020-06-15 13:30] amicic commented on #6777
We'll revisit the whole test case in a couple of months when a resource becomes available to investigate in more detail (and possibly remove the test altogether if it's so unreliable). For the time being let's exclude it.

[2020-06-15 13:44] cathyzhyi commented on #8838
Thanks @DanHeidinga! I think that's the problem!

[2020-06-15 13:52] aviansie-ben opened #9884 "Misuses of addConstantToInteger for address-sized values"
It seems that there are a couple of places in the Power codegen that misuse the `addConstantToInteger` helper function to add a constant to an address-sized value. This helper is only meant to work for 32-bit inputs (both for the constant and in terms of the size of the value in the register), so this is incorrect on 64-bit machines. Specifically, the miuses occur at [1] and [2]. These locations n

[2020-06-15 13:57] gita-omr commented on #9884
We need to fix that for 0.21.

[2020-06-15 14:04] aviansie-ben commented on #9884
I don't see any reason why a fix for this needs to be double-delivered. The helper mentioned will only cause observable failures under a corner case (namely when the constant is `>= 0x7fff8000`) and it doesn't look like that corner case is possible to trigger at these locations. The first location is using the object header size, which can definitely never exceed this value. The second location is

[2020-06-15 14:11] AlenBadel commented on #8671
We've been able to exactly map each -Xlp option, and sub-option to a newly created -XX: option. It would be great to continue doing so without adding a specialty parsing rule. This would prevent us from needing special parsing rules when someone decides to use -Xlp, and large page -XX options together.

Extending the question I asked earlier, would it sound clear to everyone that enabling [strict/

[2020-06-15 14:20] dnakamura commented on #9869
Is this also popping up in the jdk 11 builds?

[2020-06-15 14:38] pshipton commented on #9869
The reported failure is the first and only time I've seen this so far.

[2020-06-15 15:00] fjeremic commented on #9876
@PushkarBettadpur could you please help take a look at this one? I suspect it is another instance of VICOM emulation not being properly represented in the JIT. We can check with Joe whether this machine was added recently. First step I'd say is to hop on and try and get a reproduction, or run a grinder.

[2020-06-15 15:01] dmitripivkine commented on #8671
As I remember strict/warning sub options were added as a response to controversial requests:
Some people uses the same java command line across multi platform environment so option value might be not applicable sometimes but they want execute it regardless and some people wants immediate stop. For details see RTC Jazz 93937

[2020-06-15 15:10] dmitripivkine commented on #8671
In general I believe there is no need to move existing complexity (sometimes bogus and confusing) to new options world. We should try to keep new options set to be clean and transparent

[2020-06-15 15:20] AlenBadel commented on #8671
@dmitripivkine The original request to enable warnings with new options. https://github.com/eclipse/openj9/issues/8671#issuecomment-642314807

Adding of XX:[+/-]LargePageWarnings is a requirement. Are you suggesting we keep this as the only publicly documented warnings option? While we parse the -Xlp strict/warn without directly mapping it to any new option.

[2020-06-15 15:21] rpshukla commented on #9663
I used printf to print the return value of the native getStackTrace and I also saw that it doesn't return null. So that native method itself doesn't seem to be causing the problem.

[2020-06-15 15:45] DanHeidinga commented on #8671
We need both the Warning and the Error forms as they are different sets of behaviour - one is identify an LP problem and one is fail to start if an LP problem occurs.

The proposal is to make those apply equally to codecache and object heap rather than adding variants for both.  This gives us fewer new options and leaves room to do something different in the future if required.

[2020-06-15 15:54] dmitripivkine commented on #8671
I believe XX:[+/-]LargePageWarnings controls output only (print warning or not) and has no impact to JVM logic (continue or terminate). This is easy to understand clean behaviour.
If we need to support JVM termination on incompatible settings (strict equivalent) we should use another option to do it (like XX:[+/-]LargePageErrors suggested by you).

[2020-06-15 15:58] gacholio commented on #9200
@DanHeidinga Recommend closing this with no action.

[2020-06-15 16:01] AlenBadel commented on #8671
Agreed. To decouple the complexity:
- `-XX:[+/-]LargePageWarnings` Enable/Disable LP Warnings on CodeCache and ObjectHeap
- `-XX:[+/-]LargePageErrors` Enable/Disable LP Errors on CodeCache and ObjectHeap
- -Xlp:[codecache/objectheap]:pagesize=<size>,[strict/warn]. Will be parsed individually, and not mapped to any -XX option.

Precedence Rules: Errors will always take precedence over Warnings if b

[2020-06-15 16:02] cathyzhyi commented on #8838
Using `-Xgcpolicy:optthruput` makes the failure stop but seems adding write barrier for the `Unsafe.putObject` doesn't work. Continue investigating.

[2020-06-15 16:54] sharon-wang commented on #7247
Still not able to reproduce in grinder. I've started running grinders with some additional options, i.e. `-Xjit:count=0,optlevel=scorching -XcompilationThreads7` in hopes of increasing the chance of seeing the error. I'll be varying the `optlevel` as well.

Alongside testing, I'm adding locking around the `j9sysinfo_get_env()` calls in the JIT. Hopefully I can successfully reproduce the crash so t

[2020-06-15 17:08] DanHeidinga commented on #8838
Is this a write a final field?  Is the `reportFinalFieldModified` being called in this case?  Is the object refetched after the final write hook is executed?

[2020-06-15 17:09] rpshukla commented on #9663
I added some print statements in `getInternalStackTrace` like so:
[code]

When I ran the test I saw some lines in the output like this:
[code]

So it looks like `J9VMInternals.getStackTrace` is returning null even though when we add `printf`s in the C code we do not see the C function returning null.

[2020-06-15 17:10] DanHeidinga commented on #8671
Yes

Yes

No.  These should be mapped and warnings / errors apply to both CodeCache and ObjectHeap.  (And yes that's a change in behaviour but it's a pretty unlikely to occur case)

[2020-06-15 17:19] AlenBadel commented on #8671
Great. Updated the design to reflect this. I think we're on all the same page - no pun intended.

[2020-06-15 17:32] DanHeidinga commented on #9663
There's something very strange here as reading the code, I don't see any path through that returns null without having a pending exception.

Can you try disabling the directToJNI path for this native?  Just trying to simplify the flow on return.

[2020-06-15 17:43] DanHeidinga commented on #9200
Agreed.  I still have a concern about how to add tracepoints to these header files but that's a separate issue

[2020-06-15 17:43] #9200 closed

[2020-06-15 17:45] DanHeidinga opened #9886 "Enable tracepoints in our inlined headers"
There are some technical challenges to adding a tracepoint in `inlineAllocateIndexableObject` and `inlineAllocateIndexableValueTypeObject` - basically in any API that lives in one of the helper header files like: ObjectAllocationAPI.hpp and are only used in VMHelpers.hpp.

None of the existing VMHelper have tracepoints. Attempting to inlcude the vm tracespoints causes issues when the inline functi

[2020-06-15 18:01] ChengJin01 commented on #5058
All OpenJ9 specific test suite (sanity & extendded at https://github.com/eclipse/openj9/tree/master/test) are finished with the cross-build on Debian_riscv/U540 and no issue specific to the cross-build was detected.

Currently I am running the minimal openjdk tests at first as compared to the results from X86_64 before exposing downloading link at Adopt to the public
[code]
Will get back to check

[2020-06-15 18:23] #8504 closed

[2020-06-15 18:31] rpshukla commented on #9663
I ran the test with `-Xjit:disableDirectToJNI` and still saw the failure.

[2020-06-15 18:51] #8552 closed

[2020-06-15 19:04] dnakamura commented on #9869
Looking at the tracemerge code, it looks like if it ever fails to `stat` a file while walking a directory tree it will fail. Given:
[code]
It would appear that a temporary file was created in `vm/runtime`, but deleted between listing the directory and actually getting around to stat the file.

[2020-06-15 19:22] AlenBadel commented on #8671
I welcome anyone with questions or suggestions to come forth. I'm willing to provide further clarifications if anyone has outstanding questions or concerns before moving forward.

[2020-06-15 19:56] theresa-m commented on #8552
Thanks @psoohoo-turbonomic and @Herr-Sepp for bringing this up. The fix should show up in the nightly AdoptOpenJDK builds and OpenJ9 0.21 release. Please let us know if you come across other issues with this command line option.