[2019-02-01 11:43] huntc commented on #4050
Hi @ashu-mehra. That’s a large number of available memory bytes. Do you swapping enabled? If so then either disable it or set the memsw setting as well.

Otherwise, lessen the limit further.

[2019-02-01 13:39] DanHeidinga commented on #4241
My understanding was the conversions for `bastore`, `putfield`, `putstatic` & and truncated return bytecodes were complete in `0.11.0`.   Can you confirm this is the case?

For JIT behaviour, `0.12.0` added checking jni boolean returns using ` != 0`.

The Interpreter has also added similar checks for Unsafe access which the JIT will need to match in 0.13.0

[2019-02-01 14:56] gita-omr commented on #4241
@andrewcraik could you confirm comment above? I added 'JIT common work' bullet to the parent issue.

[2019-02-01 15:01] gita-omr commented on #4122
@smlambert just wanted to mention that we need to re-enable the test case since this ended up being a legitimate problem.

[2019-02-01 15:04] andrewcraik commented on #4241
yes bastore, putfield, putstatic and truncated return were done in `0.11.0`. The codegen change needed was the truncation of the jni Boolean returns where direct invocation was performed (the VM truncates already due to another change included in `0.12.0`). The work in `0.11.0` was done at the trees level and did not require specific codegen changes - we just added the appropriate iand operations.

[2019-02-01 15:16] BillOgden opened #4540 "RESOLVER dependency"
(For z/OS) java apparently goes to the RESOLVER (if it is active) to obtain the local system name. I assume this is to allow the name to be included in diagnostic information. If the RESOLVER is active and has name server address(es) specified but cannot contact any of the name servers (for whatever reasons) then java startup hangs until the RESOLVER times out waiting for a name server. Using comm

[2019-02-01 15:28] theresa-m opened #4542 "Indy work for jep334"
This is my current understanding of the problem and what needs to happen:

m is the original MethodHandle
mDesc is a nominal descriptor of MethodHandle of type MethodHandleDesc
m' is the MethodHandle resolved mDesc

m and m' are equivalent.

If indy is called on m and then m' the current expected behaviour is that the bsm will be called and MethodHandle will need to be resolved each time. This is

[2019-02-01 15:52] DanHeidinga commented on #4542
This isn't quite what I was thinking when we talked so apologies for the unclear presentation.

The background:
JVMTI allows classes to be redefined / retransformed - basically modifying method bodies to contain different bytecodes.

Now, not every retransformation modifies every method.  Many methods are unchanged and are viewed as `equivalent` between the original and the redefined class.  Equiv

[2019-02-01 16:25] fjeremic commented on #4526
Here is where I'm at. I have been able to reproduce the problem internally via Grinders. Without logging the failure rate is 6 / 50, with logging the failure rate is 0 / 50. Given that I cannot reproduce with logging I set out to reproduce locally. I've been able to do so, however I still cannot get a log of the compilation.

I suppose even knowing the line numbers of the backtrace would help as w

[2019-02-01 18:30] fjeremic commented on #4526
I see the following from the core dump with no symbols:

[code]

At +816 we can take a look at the static address and see:

[code]

This must mean we are here in the code:
https://github.com/eclipse/omr/blob/30799a52bf1cf41e2f13f09b40b7f41ffc92d9ae/compiler/z/codegen/OMRMachine.cpp#L4293

Which then also means given the two branches between the call to the tracing and the `registerCopy` call and t

[2019-02-01 18:48] pshipton commented on #4526
Given the failure rate, I've added it to the next release plan.

[2019-02-01 18:54] llxia opened #4545 "cmdLineTest_J9tests cleanup"
Currently cmdLineTest_J9tests contains two files:

[j9tests_Java8.xml](https://github.com/eclipse/openj9/blob/master/test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java8.xml)
[j9tests_Java9.xml](https://github.com/eclipse/openj9/blob/master/test/functional/cmdLineTests/cmdLineTest_J9tests/j9tests_Java9.xml)

Most content is duplicated with only a few different tests. We should maintain o

[2019-02-01 20:53] fjeremic opened #4548 "Feedback on test reproduction quirks for the test team"
While attempting to launch Grinders and reproduce #4526 locally I kept notes of some of the quirks I encountered or issues I stumbled upon. Some of these have been detailed in the various documentation, others are unspecified. I hope this feedback can be used to improve our documentation and/or processes for debugging:

---

Pain Points:

- It is not clear from a failed test what JVM command line

[2019-02-01 20:54] dmitry-ten opened #4549 "Crash in StringBuilder.lengthInternal()I at hot due to PRE"
When running AcmeAir on lara with these options:
[code]
I get the following crash:
[code]

However, when I change `initialOptLevel=hot` to `optLevel=hot`, the crash goes away, so this is probably caused by a recompilation issue.
Although verbose log only shows one compilation, enabling `traceFull` produces two logs, to further lend support to this idea.

[2019-02-01 20:54] fjeremic commented on #4548
@smlambert @llxia FYI. I'm more than happy to help with any of the above.

[2019-02-01 21:03] fjeremic commented on #4549
Can you please specify which architecture you're running on? This is a very tiny method [1] so it will be very obvious if we screwed something up in there.

[1] https://github.com/eclipse/openj9/blob/81aab6007489b5a1d3e9858a8540ba1292146db4/jcl/src/java.base/share/classes/java/lang/String.java#L2260-L2266

[2019-02-01 21:04] dmitry-ten commented on #4549
It's on x86-64

[2019-02-01 21:05] fjeremic commented on #4549
@andrewcraik FYI. @dmitry-ten can you please provide a trace log of the method?

[2019-02-01 21:20] dmitry-ten commented on #4549
[lengthInternal.1.txt](https://github.com/eclipse/openj9/files/2823388/lengthInternal.1.txt)
[lengthInternal.2.txt](https://github.com/eclipse/openj9/files/2823389/lengthInternal.2.txt)

[2019-02-01 21:50] andrewcraik commented on #4549
Which log is which?

[2019-02-01 21:53] andrewcraik commented on #4549
The only difference between these two is that lengthInternal.1.txt is a hot compile with GCR while lengthInternal.2.txt is a hot compile. lengthInternal.2.txt is trivial load indirect from the parameter register and return. lengthInternal.1.txt is the same, but there is the complexity of GCR trees to trip a recompile. If lengthInternal.1.txt is causing the problem try running a disableGuardedCount

[2019-02-01 22:00] pshipton commented on #4548
It is in the link i.e. https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/181/
`extended.system` indicates system testing.

You need to look at the parent job(s) of the test failure, find the build job for the platform, and the jvm is an artifact of the job. It is only available for a short time, depending on how many other builds are run, as we have limited space.

[2019-02-01 22:02] llxia commented on #4548
I will try to clarify some of the questions.

Example: https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/181/

TKG does print info at beginning of the tests with `JVM_OPTIONS`:

[code]

It is documented in:
https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins
https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUser

[2019-02-01 22:04] fjeremic commented on #4526
Ran another 400 jobs grinders. None of them can reproduce the issue with a log unfortunately. I don't think I can do much here without a trace log. I've spent 2 days on the issue and am stopping now. If it is a general problem it should pop up in other places where hopefully we will be able to get a log.

I've also been actively trying to reproduce locally. Rebuilding the JVM for some reason cause

[2019-02-01 22:13] fjeremic commented on #4548
Right, this is also obvious from the test name. So where do I find this test? Is "extended.system" == "systemtest"? That part is confusing, at least to me.

Using your example:
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/181/

I navigate to "build number 850", then to "build number 383", then I seem to be at the top level for this nightly build:
https://ci.e

[2019-02-01 22:31] fjeremic commented on #4548
There are quirks. For example it is non-obvious how to input the following command:

[code]

Through experimentation and help from others it seems you have to double quote the full command and escape the quotes, so the actual thing you have to input is:

[code]

---

Neither of these seem to work for the test failure example at hand from #4526:

- I open up the test link from #4526:
  - https://ci

[2019-02-01 22:58] llxia commented on #4548
You do not need to get to `build number 383`. The infomation is in "build number 850"

Hopefully, this comment lists the steps clearly https://github.com/eclipse/openj9/issues/3697#issuecomment-439166452

[2019-02-01 23:11] llxia commented on #4548
JDK build 1178 passed but not having JDK archived. I do see `tar` comment in the console.
https://ci.eclipse.org/openj9/view/Build/job/Build-JDK8-linux_390-64_cmprssptrs/1178/console

And the next nightly build have JDK archived https://ci.eclipse.org/openj9/view/Build/job/Build-JDK8-linux_390-64_cmprssptrs/1184/

@AdamBrousseau Is there a limitaton on how long the artifacts are kept?

[2019-02-01 23:34] pshipton commented on #4548
We should be able to pass in the build number and have it appear in the -version output, fairly certain there is a configure parameter to allow this. In this part below I think we could change the `+0` to be the build number.
`(build 11.0.2-internal+0-adhoc.jenkins.Build-JDK11-linuxx86-64cmprssptrs)`

[2019-02-02 12:41] pshipton opened #4556 "Test-sanity.system-JDK8-linux_x86-64 failed MauveMultiThreadLoadTest_0 gnu.testlet.java.text.DateFormat.hashCode"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/222
[code]

[2019-02-02 12:46] pshipton commented on #4556
@smlambert @Mesbah-Alam
We need more information about the failure in the output. There is nothing to go on here.
Also, we turned off dump generation for suites that runs a load, like shared classes testing, where failures running the load don't cause the suite to fail. This test is not the same case. The testlet failure did cause a suite failure, and the dumps should not be disabled here.

[2019-02-02 17:13] kirill-zhukov opened #4557 "Netbeans 10 crashes during loading modules macos JDK11"
Netbeans 10 incubater so release version crashes during startup on loading modules. Netbeans 8.2 has the same problems though expected that it should not work with JDK11. Used JDK11.02 from https://adoptopenjdk.net. Netbeans throws class loader exception. So there's I guess definitely a compatibility issue.

[2019-02-03 00:42] DanHeidinga commented on #4557
Thanks @kirill-zhukov for opening this issue.  Can you provide the `java -version` output from the Adopt build and the stacktrace from the exception?

[2019-02-03 11:52] rubin55 commented on #3371
I just downloaded OpenJDK 8 OpenJ9 variant, release 202-b08 from here: https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=openj9

$ java -version
[code]

[2019-02-03 13:48] JasonFengJ9 commented on #3371
@rubin55 could you try [MacOS x64 Large](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2019-01-30-04-38/OpenJDK11U-jdk_x64_mac_openj9_macosXL_2019-01-30-04-38.tar.gz)?

[2019-02-03 13:50] JasonFengJ9 commented on #4557
Will have a look.

[2019-02-03 15:35] JasonFengJ9 commented on #4557
Somehow I can't reproduce it. Downloaded [Apache NetBeans 10.0](https://www-eu.apache.org/dist/incubator/netbeans/incubating-netbeans/incubating-10.0/incubating-netbeans-10.0-bin.zip), and [OpenJ9 JDK11](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.2%2B9/OpenJDK11U-jdk_x64_mac_openj9_11.0.2_9_openj9-0.12.0.tar.gz), and run `./bin/netbeans --jdkhome /path/to/jdk`. N

[2019-02-03 16:37] rubin55 commented on #3371
I cannot run this particular instance of Eclipse with JDK 11; is there a JDK 8 version with large heap option?

[2019-02-03 17:54] JasonFengJ9 commented on #3371
Not able to find **JDK 8** `MacOS x64 Large Heap` either.

@sxa555 any insights about availability of this particular build?

[2019-02-04 02:56] pshipton opened #4559 "ub16x64j91 problems creating core files"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64/165/
[code]

[code]

[2019-02-04 02:56] pshipton commented on #4559
@jdekonin @AdamBrousseau

[2019-02-04 06:42] huntc commented on #4050
Howdy! We are stuck with LXC as our target is Cisco’s hardware. If you’re deploying software to anything of Cisco then LXC is the only choice.

[2019-02-04 06:52] deesebas commented on #4050
Good to know this, thanks @huntc

[2019-02-04 09:50] ben-walsh commented on #4473
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/933/consoleText - 100x -Xint against latest nightly - 25% failure rate.

[2019-02-04 10:40] ben-walsh commented on #4122
PR to re-enable relevant test - https://github.com/AdoptOpenJDK/openjdk-tests/pull/846

[2019-02-04 10:49] ashu-mehra commented on #4050
@huntc you are right. For some reason, memory controller didn't have swap related files, but still the swap was on. Once I disabled it on my ubuntu VM, I can see the java process getting killed when I reduce the memory to 128MB.
I am debugging to see what is going wrong.
Once again, thanks for those steps.

[2019-02-04 11:39] ben-walsh opened #4560 "JTReg test fail - Linux & Windows : java/net/Socket/asyncClose/AsyncClose.java"
Intermittent failure(s) ...

[code]

[code]

... of test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/net/Socket/asyncClose/AsyncClose.java observed on both Linux and Windows ...

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_linux/266/testReport/junit/java_net_Socket_asyncClose_AsyncClose/java/AsyncClose
https://ci.adoptopenjdk.

[2019-02-04 11:55] ben-walsh opened #4561 "JTReg test fail - Linux & Windows : java/util/logging/LogManager/TestLoggerNames.java"
Intermittent failure ...

[code]

... of test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/logging/LogManager/TestLoggerNames.java observed on Windows and Linux ...

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_windows/118/testReport/junit/java_util_logging_LogManager_TestLoggerNames/java/TestLoggerNames/
https://ci.adoptop

[2019-02-04 12:03] pshipton opened #4562 "osx1013-x86-4 Remote call on osx1013-x86-4 failed"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-osx_x86-64_cmprssptrs/59
https://ci.eclipse.org/openj9/job/Build-JDK11-osx_x86-64_cmprssptrs/150
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-osx_x86-64_cmprssptrs/57

Something is wrong with this machine. There might be a few more of these if we look back further.

[code]

[2019-02-04 12:04] pshipton commented on #4562
@jdekonin

[2019-02-04 12:10] pshipton commented on #4559
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_x86-64/223/

[2019-02-04 12:13] pshipton commented on #3081
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-aix_ppc-64_cmprssptrs/148/

[2019-02-04 12:15] pshipton commented on #4334
Another one https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-aix_ppc-64_cmprssptrs/148

[2019-02-04 13:38] jdekonin commented on #4562
I believe this is a standard message from jenkins when it loses connection with the machine.
`Remote call on osx1013-x86-4 failed`.

Regardless I rebooted the machine.

[2019-02-04 13:45] pshipton commented on #4562
If it happened once I would ignore it, but seems to be consistently happening since about Thursday or Friday.

[2019-02-04 13:45] #4562 closed

[2019-02-04 14:21] ben-walsh opened #4564 "JTReg test fail - Linux : java/net/Inet6Address/B6206527.java and java/net/ipv6tests/B6521014.java"
Intermittent failures ...

[code]

[code]

... observed in tests https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/net/Inet6Address/B6206527.java and https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/net/ipv6tests/B6521014.java.

Latest failures available here - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64

[2019-02-04 14:44] andrewcraik commented on #4516
So a quick update on my findings so far. I first compared the performance of the latest Java 8 builds for OpenJDK and OpenJDK with OpenJ9 - there is a performance delta, but it doesn't look to be as big as the delta reported for Java 11. OpenJ9 configures itself with a much smaller heap than OpenJDK - OpenJ9 sets the maximum heap memory to 50% of the system RAM capped at 512MB while OpenJDK seems

[2019-02-04 15:02] ben-walsh commented on #4560
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/946 - showed a 17% failure rate.

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/947 - showed a 34% failure rate.

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/949 - showed a 8% failure rate.

[2019-02-04 15:05] JasonFengJ9 commented on #4561
Will have a look this.

[2019-02-04 15:09] JasonFengJ9 commented on #4560
@ben-walsh does `RI` pass this test without failures?

[2019-02-04 15:11] #4564 closed

[2019-02-04 15:16] ben-walsh commented on #4564
Latest failure observed on test machine test-scaleway-ubuntu1604-x64-1.
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/954/consoleText has yet to show a success while running on test machine test-scaleway-ubuntu1604-x64-1.
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/955/consoleText has yet to show a failure while running on test machine test-packet-ubuntu1604-x64-2.
Implic

[2019-02-04 15:20] dmitry-ten commented on #4549
Running with `disableGuardedCountingRecompilation` made the crash disappear.

[2019-02-04 15:37] theresa-m commented on #3850
@sharon-wang

[2019-02-04 15:44] ben-walsh commented on #4564
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/960
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/961

[2019-02-04 15:47] samuel-rubin commented on #4208
I realized that my tests were flawed and that I did have gcc installed. The build-essentials package installs the default version of gcc on the system. Should I keep it like that or should we specify the version of GCC. I did not see any specification for the version of gcc in the testing repos.

[2019-02-04 15:59] theresa-m commented on #4542
Okay that makes sense. So I'm assuming one of the ways retransformation can be simulated is when a MH's nominal descriptor is resolved? Does retransformation also happen when something like MethodHandles.lookup().findStatic() is called?

[2019-02-04 16:11] #4281 closed

[2019-02-04 16:12] ben-walsh commented on #4560
@JasonFengJ9 This oldest test run against Hotspot - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_x86-64_linux/150/testReport/java_net_Socket_asyncClose_AsyncClose/java/AsyncClose passes without such problems, as does each of the subsequent runs.

[2019-02-04 16:16] ben-walsh commented on #4560
@JasonFengJ9 As that could be luck given the lowish failure rates observed against OpenJ9, to raise confidence, I have kicked off a 100x run against Hotspot latest nightly - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/963

[2019-02-04 17:17] SueChaplain commented on #2834
To tie up with docs change https://github.com/eclipse/openj9-docs/issues/199, -XX option now removed.

[2019-02-04 17:19] jdekonin commented on #4559
There appears to be 2 issues here; corefile not present and error to generate.

I took last nights build (JDK8 and JDK11) and there doesn't seem to be a specific problem with the machine.  I can generate a corefile 10 times (with both releases) concurrently without issue, although I did notice that some of the times to generate a core on vmstart were taking between 8-10 seconds, 2 of the 20 as a s

[2019-02-04 18:07] theresa-m opened #4571 "Test edge cases for new Java12 MethodHandles changes"
see https://github.com/eclipse/openj9/pull/3980

depends on VM and test compilation prs https://github.com/eclipse/openj9/pull/3980 and https://github.com/eclipse/openj9/pull/4531

- MethodHandles.filterArgumentsWithCombiner tests

- MethodHandles.foldArgumentsWithCombiner tests

[2019-02-04 18:34] llxia commented on #4559
When we talked this morning, I thought it was a Java DDR tests where we generate code, then run java test to validate DDR commands.

However, this is a command line test, which means we just run command and just valid the output from the command. In this case, we get error message `Error in System dump` when running the command. I do not think we need to add check to valid if core is completed.

[

[2019-02-04 18:44] AdamBrousseau opened #4572 "Enable AWX (Ansible Tower) Schedule"
Parent #4221
Related #4441

- [ ] Schedule
- [ ] All machines or subset?
   - [ ] xlinux
   - [ ] plinux
   - [ ] zlinux
   - [ ] aix
   - [ ] osx
   - [ ] windows
- [ ] Testing
- [ ] Doc
- [ ] Logs

cc @jdekonin

[2019-02-04 18:47] dmitry-ten commented on #4549
So, I asked @mpirvu, and he said that we shoudn't even have GCR trees in a hot compilation.
Not sure if this is related to the problem.

[2019-02-04 18:48] AdamBrousseau commented on #4221
cc @smlambert

[2019-02-04 18:52] AdamBrousseau opened #4573 "Document machine inventory"
Parent #4221

- Need to determine what all we can/should capture
- [ ] Jenkins machine name
- [ ] hostname
- [ ] ip
- [ ] geography & provider
- [ ] cpu
- [ ] memory
- [ ] disk(s)
- [ ] arch & os
- [ ] firewalled (y/n)
- [ ] Default (Jenkins) java version

[2019-02-04 19:00] pshipton commented on #4573
For the future:
- large pages enabled? if so, large page size
- running under a hypervisor? if so, which one

[2019-02-04 19:20] mpirvu commented on #4549
The GCR trees are inserted because of this code
[code]
that attempts to do cheaper compilations during start-up. This is not a common scenario because the JIT refrains as much as possible from doing hot compilation during start-up. However, it is a possible scenario. GCR is not much tested in the context of hot compilations, but there is no reason for why it shouldn't work.

[2019-02-04 19:32] JasonFengJ9 commented on #3209
@ben-walsh this can be closed now, thanks.

[2019-02-04 19:40] JasonFengJ9 commented on #4127
@ben-walsh could you run a grinder against `RI` to determine if this is an infrastructure issue as per https://github.com/eclipse/openj9/issues/4127#issuecomment-457638681? Maybe another grinder for `OpenJ9` to confirm the issue still presents.

[2019-02-04 19:42] fengxue-IS commented on #4124
Looking into this

[2019-02-04 21:09] fjeremic commented on #4526
Ran another 100 jobs (50 with tracing 50 without). I'm not able to reproduce the second test failure. The first one is the same as the one this defect was opened for. Both test failures are caused by the same method.

[2019-02-04 22:48] AdamBrousseau commented on #2637
Summarizing options

#### Artifactory
- Free OSS (https://jfrog.com/open-source/ https://jfrog.com/artifactory/saas-gcp/)
- Paid on cloud $
- Self hosted
   - Softlayer (x) $
   - OSU (p)
   - UNB (x)

#### Github
- Github

#### Eclipse
- Jenkins master (current)
- download.eclipse.org
- Nexus Repo

#### Dropbox
- Dropbox $

#### HTTP Server
- OSU (p)

@samuel-rubin is going to investigate the HTT

[2019-02-05 02:10] hzongaro commented on #4277
Here's where I am in investigating this problem.

When I run locally with the option `-Xjit:limit={java/util/concurrent/ForkJoinPool.awaitJoin*\|java/util/concurrent/ForkJoinPool.getActiveThreadCount*\|java/util/concurrent/ForkJoinPool.scan*\|java/util/concurrent/ForkJoinPool.signalWork*},count=0,optLevel=cold,lastOptIndex=3,disableInlining`, I find that between test runs `java.util.concurrent.awa

[2019-02-05 11:09] ben-walsh commented on #4560
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/963 shows a 100/100 pass rate, so we can be confident that Hotspot does not have this problem.

[2019-02-05 11:12] ben-walsh commented on #4473
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/948 - showed a 0% failure rate.
Running a 400x - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/970.

[2019-02-05 11:18] ben-walsh commented on #4561
Both https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/952 and https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/951 showed a 0% failure rate.

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/950 showed a 2% failure rate.

Rebuilding https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/951 as 400x - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/971.

[2019-02-05 11:55] pshipton commented on #3081
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/191

[2019-02-05 11:58] pshipton commented on #4526
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/186
SharedClassesAPI_0
72.WL1.stderr

[2019-02-05 12:02] ben-walsh commented on #4127
@JasonFengJ9
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/967 shows a 100% failure rate, so the problem definitely still persists.
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/968 shows a 0% failure rate.

I don't think this is an infrastructure problem.

[2019-02-05 15:39] ben-walsh opened #4593 "JTReg test fail - Windows & MacOS : java/net/httpclient/UnknownBodyLengthTest.java"
Intermittent failures ...

[code]

... of test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/net/httpclient/UnknownBodyLengthTest.java observed on both Windows and Mac.

Latest failure on Windows and Mac ...

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_windows/122/testReport/java_net_httpclient_UnknownBodyLengthTest/java/Unknown

[2019-02-05 15:40] ben-walsh commented on #4593
I've kicked off a 400x with -Xint run - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/975

[2019-02-05 15:47] dmitripivkine commented on #3611
@charliegracie FYI

[2019-02-05 15:57] pshipton commented on #4466
Try `javac -encoding UTF8 DotDirDemo.java`

[2019-02-05 16:02] pshipton commented on #4466
What is the output from `java -XshowSettings:properties` on the Mac?

[2019-02-05 16:05] dmitripivkine commented on #4090
https://github.com/eclipse/openj9/issues/4475

[2019-02-05 16:16] AidanHa commented on #4466
root@5ccc2c132fd6:~/openj9-openjdk-jdk11/build/linux-x86_64-normal-server-release/images/jdk/bin# java -XshowSettings:properties -version
Property settings:
    awt.toolkit = sun.awt.X11.XToolkit
    com.ibm.cpu.endian = little
    com.ibm.jcl.checkClassPath =
    com.ibm.oti.configuration = scar
    com.ibm.oti.shared.enabled = false
    com.ibm.oti.vm.bootstrap.library.path = /root/bootjdk10/lib

[2019-02-05 16:27] ben-walsh opened #4597 "JTReg test fail - Linux s390 : java/lang/String/UnicodeCasingTest.java"
Consistent multiple failures of test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/String/UnicodeCasingTest.java are observed on Linux s390 of the form ...

[code]

See https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_s390x_linux/140/testReport/junit/java_lang_String_UnicodeCasingTest/java/UnicodeCasingTest

No such failures are observ

[2019-02-05 16:59] pshipton commented on #4466
I'm not sure how you got the error in the picture. I got the following when I compiled on Linux, for which `-encoding UTF8` fixed it. Seems UTF8 is the default encoding on Mac according to the file.encoding property. You could always compile it on another platform.
[code]

[2019-02-05 17:09] vijaysun-omr commented on #4516
@andrewcraik could you please give the delta you are seeing with

a) your original Java8 builds,
b) the heap size tuning you did,
c) the heap size tuning you did and the upgrade to 0.12 release of OpenJ9 ?

[2019-02-05 17:15] AidanHa commented on #4466
I was able to compile the example on MacOS. However I am not able to reproduce the error as both test.txt and tüst.txt are recognized.
![image](https://user-images.githubusercontent.com/33072072/52291125-aa65fd80-293f-11e9-8f84-7d63261e35d8.png)
I am using the same jdk that was used in this issue...

[2019-02-05 17:20] andrewcraik commented on #4516
The heap size tuning for Java 8 was to set -Xmx25G -Xms2G to approximately mirror the heap configuration used by default by OpenJDK - this lowers the stress on the GC. This is the only heap tuning done regardless of release and is only needed for Java 8 - for Java 11 this configuration is roughly what the GC defaults to. I don't have access to the environment where my perf data is stored right now

[2019-02-05 19:13] gacholio commented on #4486
I suspect a cast of the dest to `void*` in the caller would fix this.

[2019-02-05 19:13] dmitry-ten commented on #4549
Still haven't figured out the problem, but, apparently, all GCR compilations will always be recompiled at warm, according to this code in `control/CompilationController.cpp`:

[code]
So it doesn't make sense to have GCR enabled at levels above cold.

[2019-02-05 19:17] JasonFengJ9 commented on #4466
I wasn't able to reproduce this issue either.

@mipastgt do you mind to provide testcase `.class` file as well to rule out compilation difference?

[2019-02-05 19:44] jdmpapin commented on #4446
#4604

[2019-02-05 21:49] ChengJin01 commented on #4560
The problem can be reproduced locally with JIT on/off as follows:
[code]
Need to figure out how this test works and how it related to VM.

[2019-02-05 21:58] mipastgt commented on #4466
I have attached the output of the above mentioned command on my Mac as a text file.
[output.txt](https://github.com/eclipse/openj9/files/2834048/output.txt)

[2019-02-05 21:59] fjeremic opened #4609 "Investigate effect of HPRs on throughput performance and compile time"
With the merge of #4378 I've set upon the quest to further understand how HPRs behave on the Z codegen and if having them is actually valuable. HPR support has historically been the source of quite a lot of defects and register allocator type issues. #4378 addressed part of them but the code is still not in the best shape. If HPRs are not providing any value we should think about their fate.

HPR

[2019-02-05 22:06] fjeremic commented on #4609
To collect statistics I've measured three benchmarks with different characteristics to capture a wide range of data. I've placed custom code in certain places to be able to disable each piece of HPR exploitation outlined above. I've also added static debug counters all over both GRA and local RA to keep track of various quantities which are explained as follows:

- hpr
- hpr/shuffle
  - Number of

[2019-02-05 22:11] mipastgt commented on #4466
And here is the requested class file.
[DotDirDemo.class.zip](https://github.com/eclipse/openj9/files/2834065/DotDirDemo.class.zip)

[2019-02-05 22:12] mipastgt commented on #4466
And here is the requested class file. It was compiled with Eclipse against the J9 runtime.
[DotDirDemo.class.zip](https://github.com/eclipse/openj9/files/2834086/DotDirDemo.class.zip)

[2019-02-05 22:17] mipastgt commented on #4466
And just for completeness, here are the test files too.
I just ran the test again. As soon as I switch the runtime to OpenJDK (from Oracle) everything
works, even with the same classfile without recompiling. With the J9 it doesn't.
[test_files.zip](https://github.com/eclipse/openj9/files/2834092/test_files.zip)

[2019-02-05 22:21] pshipton commented on #4597
@fjeremic

[2019-02-05 22:34] fjeremic commented on #4609
## DayTrader 7

### Throughput

![image](https://user-images.githubusercontent.com/16259104/52307421-94206780-2968-11e9-9d95-1e685c5358da.png)

The throughput results indicate that disabling each individual piece or some of them combined, or even disabling all HPR support in the JIT does not affect throughput at all. The standard deviation on my machines is roughly 0.3%. It seems that local RA spi

[2019-02-05 22:40] fjeremic commented on #4609
## ILOG

### Throughput

![image](https://user-images.githubusercontent.com/16259104/52308817-532a5200-296c-11e9-88f2-cc25106231d1.png)

ILOG throughput is more interesting than DayTrader 7 as we actually see noticeable improvements from disabling pieces of HPR support! In fact disabling GRA HPR support nets us 3.25% in throughput on this benchmark. This is likely because of the linkage register i

[2019-02-05 22:44] fjeremic commented on #4609
## SPECjvm2008

### Throughput

![image](https://user-images.githubusercontent.com/16259104/52309140-35a9b800-296d-11e9-87c9-9d49cc92c33e.png)

There were too many sub-benchmarks to run and it takes a long time. Since we had 7 different configurations I didn't have the compute time for 10 samples so I only did 3. Never the less the story here is similar to ILOG. Improvements across the board, and

[2019-02-05 22:47] fjeremic commented on #4609
Subscribing @vijaysun-omr and @joransiu if you ever get a chance to read the data. With all of the above I've heavily inclined to do one of the following:

1. Disable GRA HPR support
2. Disable GRA HPR support and local RA HPR upgrading
3. Disable all HPR support

At the end of the day the reality is that HPRs are not giving us anything in terms of throughput, and are sometimes costing us throughp

[2019-02-05 23:09] pshipton commented on #4466
@mipastgt did you mean to close this issue?

[2019-02-05 23:47] mipastgt commented on #4466
No, sorry. I must have hit a wrong button.

[2019-02-06 01:02] knn-k commented on #4486
No, casting the destination to `void *` does not change the error.
I will use `--disable-warnings-as-errors-openj9` in `configure` for the time being.

[2019-02-06 09:33] kgrechishchev commented on #3441
@ChengJin01 @DanHeidinga
Thanks for fixing the error message, it looks much better now and provides a better user experience.

I have tested it with the latest versions of powerkmock and J9.

I have logged an issue on https://github.com/powermock/powermock/issues/970 You can see how it looks now, it basically prints ``java.lang.IllegalStateException: Native library for Attach API not available in

[2019-02-06 10:09] mipastgt commented on #4466
Sorry, I missed that piece of code which just prints some version numbers to be sure that I am really running on the right platform. I've now packed everything in a separate Eclipse project and zipped it. See attachement. It also contains a file with the test results with two other VMs. The first of these is the AdoptJDK hotspot variant and the other one is the Oracle OpenJDK. The project JDK was

[2019-02-06 11:22] ben-walsh commented on #4473
Also observed on Nightly Linux PPC - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_ppc64le_linux/131/testReport/junit/java_nio_Buffer_DirectBufferAllocTest/java/DirectBufferAllocTest

[2019-02-06 11:23] ben-walsh commented on #4473
Adjusting title to reflect platform breadth.

[2019-02-06 14:32] ben-walsh opened #4612 "JTReg test fail - Windows : java/nio/channels/AsynchronousFileChannel/Basic.java"
Intermittent failure ...

[code]

... observed on Windows of test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/nio/channels/AsynchronousFileChannel/Basic.java.

See https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_windows/124/testReport/junit/java_nio_channels_AsynchronousFileChannel_Basic/java/Basic.

I have kicked off a 100x run t

[2019-02-06 14:35] ben-walsh commented on #4612
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/989 showed a 0% failure rate.
400x run - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/995.

[2019-02-06 14:37] ben-walsh opened #4613 "JTReg test fail - MacOS : java/util/SplittableRandomTest.java"
Multiple intermittent failures of the form ...

[code]

... observed on MacOS of test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/stream/test/org/openjdk/tests/java/util/SplittableRandomTest.java.

See https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_macos/172/consoleText.

I have kicked off a 100x run to determine failure rat

[2019-02-06 14:39] yanluo7 commented on #4138
After some exhaustive investigation work with Irwin, we are pretty sure what the issue was. The instruction that caused the NPE was from loading the static String.COMPACT_STRINGS under AOT. We found the relocation record was generated for this static load, but there are a number of methods that were inlined that did not have a guard (`Unloaded Method!` below). Because there's no guard for these me

[2019-02-06 14:49] gita-omr commented on #4334
@R-Santhir could you provide an update please?

[2019-02-06 14:56] gita-omr commented on #4334
Maybe since it's SharedClasses @dsouzai has some suggestions how to reproduce?

[2019-02-06 14:59] gita-omr commented on #3340
Marked as comp:jit:x since it's common team who is looking at it.

[2019-02-06 15:02] gita-omr commented on #954
Anything still needs to be done on JIT side?

[2019-02-06 15:06] gita-omr commented on #3577
@fjeremic this is all Z specific work, right? Could you mark as comp:jit:z then? Thanks.

[2019-02-06 15:13] keithc-ca commented on #2837
Reopening; https://github.com/eclipse/openj9/pull/4521/files#r254310704 will need to be addressed

[2019-02-06 15:14] yanluo7 commented on #954
@gita-omr AFAIK nothing outstanding on the jit side.

[2019-02-06 15:15] pshipton opened #4614 "Windows shared classes system tests failing, shared cache file path should be less than 249"
The tests were passing, but have started failing with the merge of #4532. Since they were passing previously, perhaps the length check is too restrictive.

`JVMSHRC828E The length of shared cache file path should be less than 249.`

https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-win_x86-64_cmprssptrs/162/
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-win_x86-64_cmprsspt

[2019-02-06 15:15] pshipton commented on #4614
@hangshao0

[2019-02-06 15:22] gita-omr commented on #4241
Ok, so closing then.

[2019-02-06 15:22] #4241 closed

[2019-02-06 15:43] hangshao0 commented on #4614
@Mesbah-Alam has shorten the cacheDir to make this test pass in this PR: https://github.com/eclipse/openj9-systemtest/pull/80. It is the cache file path is less than 260, but the mutex name is greater than 260. Will look into why the test passed when mutex name is > 260 character.

[2019-02-06 15:44] fjeremic commented on #3577
Yes, feel free to add the tags yourself if it is obvious in the PR that i's x/z/p specific. Thanks!

[2019-02-06 15:44] R-Santhir commented on #4334
I've managed to see a crash locally and get it to fail semi consistently with the following options:
`disableAsyncCompilation,count=1,optlevel=hot`

However in the original failure the compiled method was:
```Compiled_method=java/lang/J9VMInternals.fastIdentityHashCode(Ljava/lang/Object;)I ```

**but I am seeing:**
```Method_being_compiled=sun/util/locale/StringTokenIterator.nextDelimiter(I)I```

[2019-02-06 15:44] dsouzai commented on #4334
I don't have any suggestions in terms of reproducing the failure; in the past (eg the osx issue), I've had to recreate the test setup locally by more or less invoking the git/make commands done in the Jenkins job, and manually grinding it (because I'm not sure if the grinder job on Jenkins will save cores...). Once you can reproduce the crash, make a copy of the SCC file, since we can then use tha

[2019-02-06 15:48] dsouzai commented on #4334
@R-Santhir why `optlevel=hot`? Was the failing method's opt level hot? If that's the case, then it wouldn't have been an AOT'd body.

[2019-02-06 15:50] gita-omr commented on #4261
Should we add comp:jit:opt or comp:jit:common ? Otherwise it's unclear if comp:jit belongs to common or simply was not identified yet.

[2019-02-06 15:54] R-Santhir commented on #4334
Only because I was able to get a failure with `optlevel=hot` and it wasn't even the original failing method. I am not sure what the optlevel for the original failure was.

 I'll try to reproduce a failure with the failing method from the original, so I can proceed with the SCC analysis you mentioned. Thanks @dsouzai

[2019-02-06 15:54] gita-omr commented on #4334
Should not KCA tell us opt level for the failing method?

[2019-02-06 16:10] pshipton commented on #4488
We could consider adding jlink options to further strip the OpenJ9 artifacts, like java.properties files.

[2019-02-06 16:17] vsebe opened #4620 "Jenkins builds dashboard"

[2019-02-06 16:20] #4620 closed

[2019-02-06 16:36] hangshao0 commented on #4614
I printed out strlen(cacheFilePath) + J9SH_WIN_MUTEX_EXTRA_LEN in the following lines, we hit the edge case, it equals 260.

https://github.com/eclipse/openj9/blob/076070658cd79745aca4d6631d1a513856492698/runtime/shared_common/shrinit.cpp#L5208-L5209

[2019-02-06 16:51] yanluo7 commented on #4334
For my issue, it was pretty intermittent to get a failure, so just need to keep at it; but once I had a failure make sure you save the SC somewhere.
Refer to https://github.com/eclipse/openj9/issues/4138#issuecomment-458292650 for some options I used.

[2019-02-06 16:59] JasonFengJ9 commented on #3371
Thanks quick actions at https://github.com/AdoptOpenJDK/openjdk-build/issues/892, [JDK 8 MacOS x64 Large Heap](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u202-b08_openj9-0.12.1/OpenJDK8U-jdk_x64_mac_openj9_macosXL_8u202b08-openj9-0.12.1.tar.gz) is available now.

fyi @rubin55

[2019-02-06 17:02] andrewcraik commented on #3611
I just wanted to say I did run into this running a performance benchmark on SLES12sp3 (released late 2017) - the system default is madvise and for this benchmark the use of THP significantly reduced TLB misses allowing higher throughput. So newer release may default to ALWAYS, but I expect a non-trivial number of users may have madvise as the default still.

[2019-02-06 17:04] andrewcraik commented on #3611
FYI @vijaysun-omr since we were talking about this at one point.

[2019-02-06 17:07] dsouzai opened #4621 "Decouple relocation of the metadata's inlined table from relocation for guards"
Currently, the way the compiler relocates the inlined table in the metadata of an AOT'd body loaded from the SCC is by requiring that all of the inlined sites have a guard associated with them. It uses the guard to generate a relocation that will both relocate the inlined table in the metadata as well as either patch the site or add the appropriate runtime assumptions.

However, the compiler may n

[2019-02-06 17:19] fjeremic opened #4622 "Assert when JIT is compiled under DEBUG in OMR::CFG::addExceptionEdge"
When the JIT is built under `DEBUG` mode by specifying `BUILD_CONFIG=DEBUG` during the make process the following assertion was seen on Linux on Z compressedrefs running the DayTrader 7 benchmark:

[code]

It is easily reproducible and seems to happen on all architectures.

[2019-02-06 17:19] fjeremic opened #4623 "Assert when JIT is compiled under DEBUG in TR::MonitorElimination::findRedundantMonitors"
When the JIT is built under `DEBUG` mode by specifying `BUILD_CONFIG=DEBUG` during the make process the following assertion was seen on Linux on Z compressedrefs running the DayTrader 7 benchmark:

[code]

Unfortunately I accidentally deleted the core file so I did not get a proper backtrace but the assertion is one of a kind in the codebase and I'm certain I can reproduce it. I suspect we'll need

[2019-02-06 17:19] fjeremic opened #4624 "Assert when JIT is compiled under DEBUG in TR::MonitorElimination::findRedundantMonitors"
When the JIT is built under `DEBUG` mode by specifying `BUILD_CONFIG=DEBUG` during the make process the following assertion was seen on Linux on Z compressedrefs running the DayTrader 7 benchmark:

[code]

For this one I have the core file saved as well as a JIT dump which I will attach to this issue. The core file is unfortunately too large to attach, but I can provide it. This issue is intermitt

[2019-02-06 17:46] andrewcraik commented on #4623
@cathyzhyi can you take a look at this one please?

[2019-02-06 17:47] andrewcraik commented on #4624
@liqunl can you take a look

[2019-02-06 17:47] andrewcraik commented on #4622
@jdmpapin could you have a look when you get a moment?

[2019-02-06 17:50] hangshao0 commented on #4614
In the trace points:

I see
[code]

The length of mutex name "D__Users_jenkins_workspace_Test-extended.system-JDK8-win_x86-64_cmprssptrs_openjdk-tests_TestConfig_test_output_15494381348655_SharedClassesAPI_0_20190206-014007-SharedClassesAPI_results_javasharedresources__C290M4F1A64_DefinedLocGrpAccessJavaWL3_G35_mutex_set2" is already 261. There are two "\\"s after "javasharedresources" in the name

[2019-02-06 18:26] fjeremic commented on #4597
Can we get some machine information? Which processor did this test run and fail on? Going to try to reproduce manually if I can find the documentation on how to do so.

[2019-02-06 18:33] fjeremic commented on #4597
I cannot reproduce UnicodeCasingTest on my z13 using the latest nightly build of JDK11. We'll need more information on the machine this ran on. It is likely a JIT issue given the test runs fine on my machine.

[2019-02-06 18:44] keithc-ca commented on #4614
Why don't we choose shorter names in general? Perhaps based on the hex of a sha1 hash code of something we expect to be unique?

[2019-02-06 18:51] dmitry-ten commented on #4549
I found the reason for this crash.
It's in the \<gcr-patch-point\>, caused by Partial Redundancy Elimination.

This is original IL:
[code]

After PRE:
[code]

So the constant 2 ends up written to the wrong address.
I verified that with `disablePRE` the crash goes away.
Maybe someone who knows more about this optimization can help figure out why it does this transformation.

[2019-02-06 19:36] hangshao0 commented on #4614
The cache file path is unique. It could be shorter if we use hash code of the cache file path to be part of the mutex name.

If we decide to allow cache file path to be > MAX_PATH, another thing to do is to fix the APIs in j9shmem.c. j9shsem.c and j9shsem_deprecated.c to prepend `\\?\ `when necessary.

[2019-02-06 19:52] JasonFengJ9 commented on #4466
fyi @AidanHa

[2019-02-06 19:56] fjeremic commented on #4597
I can reproduce on an internal grinder. Going to try using the test infrastructure to reproduce locally too if I can. If not I can try to debug via grinders.

[2019-02-06 20:08] keithc-ca opened #4632 "Simplify support of new Java versions"
The work leading up to and including https://github.com/eclipse/openj9/pull/3714 eliminated the various complexities of managing several redirector variants: we should apply the same thinking to the JVM and JCL shared libraries. As the VM is built, `JAVA_SPEC_VERSION` identifies the version requirements.

Removing the extra JVM variants should be relatively straight-forward: we can use UMA directi

[2019-02-06 20:17] AidanHa commented on #4466
Sorry, some issues came up with previous PRs that I have been working on. I will try to replicate the issue as soon as I can. Have you tried replicating it @JasonFengJ9 ?

[2019-02-06 20:37] dsouzai commented on #4138
This issue is an instance of the general problem described by https://github.com/eclipse/openj9/issues/4621 . Once https://github.com/eclipse/openj9/issues/3752 is completed and the SVM is enabled even during startup, this particular test failure will go away.

[2019-02-06 20:49] gita-omr commented on #4242
Discussed with @aviansie-ben, @zl-wang and @vijaysun-omr : code is functionally stable, no known issues, but still more testing and performance tuning needs to be done.

[2019-02-06 20:53] gita-omr commented on #3421
@pshipton we are ready to deliver it to 0.13.

[2019-02-06 21:03] pshipton commented on #3421
@gita-omr when do you expect the merges to occur?

[2019-02-06 21:15] gita-omr commented on #2668
@pshipton somehow this is not part of any milestone... We are targeting Power part for 0.14. I will open(find) a Power sub-issue for this.

[2019-02-06 21:34] hzongaro commented on #4277
I've rerun in Grinder in AdoptOpenJDK with a recent nightly build with some extra debugging output captured in methods in `ForkJoinPool`.  I was able to confirm that we're hitting a situation where a thread is being parked, and that if no work comes into the `ForkJoinPool` by the time the parked thread wakes up again (2 seconds, or a multiple of 2s), the work thread might be killed.  That can caus

[2019-02-06 21:45] pshipton commented on #4614
We shouldn't be restricting to shorter path names than worked before. The goal was to fix the asserts, we don't want to add undue restrictions and cause a regression for a user who is using a longer path name.

[2019-02-06 21:47] sophia-guo commented on #4612
This is reported in https://bugs.openjdk.java.net/browse/JDK-8210968 and duplicate of https://bugs.openjdk.java.net/browse/JDK-7052549, which shouldn't be related with openj9. Will update the problemlist and close this one.

[2019-02-06 21:49] pshipton commented on #4632
@DanHeidinga @JasonFengJ9

[2019-02-06 21:51] keithc-ca commented on #4614
My suggestion would remove the length restriction by using names whose length does not depend on the input path length.

[2019-02-06 21:55] samuel-rubin commented on #2637
I'm investigating the free Artifactory oss on a ppc64le machine. I was able to install it on that system. I am now looking into adding https to the server instead of regular http.

[2019-02-06 21:57] hangshao0 commented on #4614
One thing I realize is that if we change the mutex name, we might cause issues for users who are running with an existing cache.

[2019-02-06 22:00] pshipton opened #4634 "Compile Java 8 with VS2017"
Now that OpenJDK supports it, change OpenJ9 builds of Java 8 to use VS2017 instead of VS2010. After the switch, VS2017 will become the minimum supported level for OpenJ9.

[2019-02-06 22:00] pshipton commented on #4634
@jdekonin

[2019-02-06 22:00] pshipton commented on #4634
Currently there are problem in the configure step (#4582).
64-bit
[code]

32-bit
[code]

[2019-02-06 22:07] keithc-ca commented on #4614
Doesn't the name of the cache depend on the version (git SHA) of openj9? If so, this wouldn't affect whether an existing cache is used.

[2019-02-06 22:24] pshipton commented on #4614
The name of the cache doesn't depend on the SHA, but the VM does use the SHA to check if the JVM is different from the JVM which created the cache, and if so try to recreate it. On Windows the cache can only be deleted if is is not in use, otherwise the cache created by the older JVM continues to be used.

[2019-02-06 22:25] hangshao0 commented on #4614
There is a CML option that user can disable the check for OpenJ9 sha. Even if the option is not set, we will try destroying the cache once if we detect the openj9 sha is different. However, if the deletion failed (which is possible on Windows), we will startup the shared cache ignoring the different sha.

Also when we detect the openj9 sha is different, we will acquire the mutex first then destroy

[2019-02-06 22:38] hangshao0 commented on #4614
If we are fixing the assert only, #4532 can be reverted.

[2019-02-06 22:40] hangshao0 commented on #4614
I will create another PR to fix the assert. OMR change might required.

[2019-02-06 22:55] pshipton commented on #4351
Reopened since #4532 was reverted.

[2019-02-06 22:55] pshipton commented on #4614
I'll assume this issue is fixed and close it. #4351 is reopened.

[2019-02-06 22:55] #4614 closed

[2019-02-06 23:22] JasonFengJ9 commented on #4632
Agreed this is the right way. Just throw couple of corner cases for consideration,
1. A `class/field` removed or renamed at a later version;
2. A `class/field` removed or renamed within same version during development;

In first case, need some range definitions like `[7, 9)` or `[9, 12]` besides `9-` or `11+`.
For second case, it refers a scenario that one `VM` need accommodate two incompatible `

[2019-02-06 23:23] pshipton commented on #3846
Note the changes done via #4568 should also be done for the jdk12 docker files.

[2019-02-06 23:46] JasonFengJ9 commented on #4466
Just tried, unfortunately the issue reported wasn't reproduced.

@AidanHa if you can't reproduce this issue either, the next step would be to identify the environment difference, or provide @mipastgt an instrumental patch or `JVM` to understand the problem, please reach out to @tajila or myself for help if needed.

[2019-02-07 00:03] pshipton commented on #4520
Is there something the VM should be doing on OSX to separate itself from the other processes?

[2019-02-07 00:05] pshipton commented on #4520
I notice the test is also excluded on Linux, with the following comment. Perhaps the test needs to be changed to avoid using getpgrp().
`Linux: in certain linux distros the /bin/sh command receives the SIGQUIT, see PR 56109`

[2019-02-07 00:10] pshipton commented on #4503
Added to the milestone plan. While we don't need the entire j9sock API, populateRASNetData() should be able to get the host name and IP address for diagnostic purposes. Either via j9sock or other means.

[2019-02-07 00:53] keithc-ca commented on #4632
See [1] for an example of how the elimination of the field `exception` from `java.lang.ExceptionInInitializerError` in Java 12 is handled.

Case 2 is no different. Whenever the change occurs, a matching change to openj9 must be made (even with the current tools).

[1] https://github.com/keithc-ca/openj9/blob/abc9e3d3855426b2b01a93a4802939bb0054d7bd/runtime/oti/vmconstantpool.xml#L193

[2019-02-07 00:58] babsingh commented on #4520
@pshipton I think that the use of `getpgrp()` and `killpg()` is the correct approach. The test creates a child process using `j9process_create`. In the first phase, `j9process_create` is invoked without the `J9PORT_PROCESS_CREATE_NEW_PROCESS_GROUP` flag. In the second phase, `j9process_create` is invoked with the above flag. In the first phase, the child process should receive the `SIGQUIT` signal

[2019-02-07 04:10] pshipton opened #4638 "Running Java 12 pipelines"
Tried to run Java 12 functional.sanity testing with the changes from #3980 and #4531
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/30/

Seems like a setting is missing because the testing is looking for the jdk8 directory `j2sdk-image`.

`19:48:18 /home/jenkins/workspace/Test-sanity.functional-JDK12-linux_x86-64_cmprssptrs/openjdk-tests/functional/DDR_Test/build.xml:59: E

[2019-02-07 04:10] pshipton commented on #4638
@jdekonin @AdamBrousseau @llxia

[2019-02-07 05:16] AdamBrousseau commented on #4638
I think the j2sdk is expected. The double ../ is concerning. The jdk11 build doesn't have these.

[2019-02-07 09:05] sxa555 commented on #3371
Yep all LH builds are now up - at the moment it needs a small about of manual tweaking to get it to show up properly after publishing.

[2019-02-07 09:23] SueChaplain commented on #4634
@pshipton I'm guessing we need to update https://eclipse.github.io/openj9-docs/openj9_support/#openjdk-8_1?

If so, please add a docs:external label.

[2019-02-07 12:22] #3148 closed

[2019-02-07 12:49] mipastgt commented on #4466
Concerning the environment:
I use Eclipse 2018-12 (4.10.0) which itself is running on Oracles OpenJDK 11.0.2.
My Mac is set to have german as its default locale and the default file encoding is UTF-8.

[2019-02-07 13:34] ben-walsh commented on #4597
From the top of this page - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_s390x_linux/140 ... the test was executed on test-marist-ubuntu1604-s390x-1. The details for this test machine can be found at https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1604-s390x-1.
I will discuss with @sxa555 to obtain access sufficient to gain the information you require on the ma

[2019-02-07 13:37] mipastgt commented on #4466
I did some further tests and I consistently get the reported error when I run the program from within Eclipse. But I have now also tried to run it from the command line and there it works as it should. This must be a very strange interaction with Eclipse for which I do not have any explanation. I leave it up to you whether you think it is worth further investigation. I do not normally use the J9 s

[2019-02-07 13:43] AidanHa commented on #4466
Thanks for the follow up @mipastgt. As you mentioned above, I was unsuccessful in reproducing the issue on the command line, but I will try to pinpoint the issue with the information you just gave.

[2019-02-07 13:47] andrewcraik commented on #4624
I'm pretty sure this is a development assert warning we haven't produced more specific type information - the worst this could do is cause a perf bug due to incorrect inlining.

[2019-02-07 13:48] andrewcraik commented on #4622
So I think at the point of failure we are looking at the dummy CFG built by the inliner for frequency propagation during estimation. This assert is not on the real CFG - the estimate CFG will be thrown away so I don't think this indicates a functional bug. We should fix it but it is not a lurking functional issue.

[2019-02-07 13:55] ben-walsh commented on #4597
I've got this ...
[code]
[code]

[2019-02-07 14:15] pshipton commented on #4466
@mipastgt can you please check the command line that Eclipse is using to launch the OpenJ9 test. Likely the answer is there, perhaps Eclipse is changing the default file encoding.

[2019-02-07 14:41] mipastgt commented on #4466
This is the command line indicated by Eclipse:
`/Library/Java/JavaVirtualMachines/jdk-11.0.1-adopt-j9/Contents/Home/bin/java -Dfile.encoding=UTF-8 -classpath <my home dir>/Projects/LocalEval/J9Eval/bin jdks.DotDirDemo`

[2019-02-07 14:54] ben-walsh commented on #4613
Also observed on Linux s390 - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_s390x_linux/141/testReport/junit/java_util_stream_test_org_openjdk_tests_java_util_SplittableRandomTest/java/SplittableRandomTest
Title updated accordingly.

[2019-02-07 15:12] ben-walsh opened #4640 "JTReg test fail - Linux s390 : java/lang/invoke/VarHandles/VarHandleTestAccessString.java"
Consistent failures ...

[code]

... of test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/VarHandles/VarHandleTestAccessString.java on Linux s390.

Latest failure - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_s390x_linux/141/testReport/junit/java_lang_invoke_VarHandles_VarHandleTestAccessString/java/VarHandleTestAccessStri

[2019-02-07 15:16] AdamBrousseau commented on #4572
Stewart and co. have been working on and testing the playbooks but are currently not ready to run them regularly on production machines. SeeAdoptOpenJDK/openjdk-infrastructure#695. I think we should soft-block this task on their work and keep reevaluating the status.

[2019-02-07 15:21] llxia commented on #4638
The problem is that we set `-DJDK_VERSION=8` when running ant.

[code]

In case you want to know more detail:
`JAVA_VERSION` will be replaced by `JDK_VERSION`. Currently, we are supporting both of them. The covertion code from `JAVA_VERSION` to `JDK_VERSION` is not updated to support Java12. It does not understand `SE120`, so default value `8` is used.

I will have a PR to fix this soon.

[2019-02-07 15:27] fjeremic commented on #4597
Thanks that's what I needed. Odd that I cannot reproduce on my z13. Though I've just taken the test and compiled as is. Perhaps some of the options make a difference. Looking into it now and trying to reproduce via the testing makefiles.

[2019-02-07 15:31] JasonFengJ9 commented on #4613
Both grinder w/o Xint passed, maybe need larger grinders?

[2019-02-07 15:32] pdbain-ibm commented on #4503
I am poking at thins in my spare time. I took a quick run at using the `j7vmi.c` function but getting the header files and linking right may be tricky. The code is so simple it looks easier (after discussion with GAC) to copy the code to `util` and just call it directly.

[2019-02-07 15:35] #3685 closed

[2019-02-07 15:40] smlambert commented on #4572
Agree, though you could enable each platform as they stabilize, to get a feel for how it is working.

I also would encourage scheduled AWX tower jobs from a Jenkins job, because then we have a single point of contact and viewing, for tools / automation (if we want to know if machines changed overnight, simply look at the tower job in Jenkins).

[2019-02-07 15:50] pdbain-ibm commented on #4640
Maybe a duplicate of
https://github.com/eclipse/openj9/issues/3180.
@DanHeidinga or @pshipton what's the prognosis for https://github.com/eclipse/openj9/pull/4458?

[2019-02-07 15:55] ben-walsh commented on #4613
@JasonFengJ9
I've kicked off 200x rebuilds of both those (this time on Linux s390) ...
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1016
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1017

I'll also redo MacOS as 200x as well shortly.

[2019-02-07 15:59] pshipton opened #4642 "Test-extended.system-JDK8-linux_390-64_cmprssptrs SharedClasses_Softmx_UpDown_0 crash vmState=0x0005ffff"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/188
4.jvm1.stderr
[code]

[2019-02-07 15:59] pshipton commented on #4642
@fjeremic

[2019-02-07 16:00] pshipton commented on #4642
@r30shah
Likely related to #4575

[2019-02-07 16:00] pshipton commented on #4642
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_390-64_cmprssptrs/165

[2019-02-07 16:02] smlambert commented on #4613
btw, if you are doing larger grinders, I would prefer you use internal Jenkins when possible.  For every grinder run on the test macs we have at Adopt (we only have 2), it takes those machines out of circulation for any regularly scheduled jobs.

[2019-02-07 16:03] pshipton commented on #4201
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-win_x86/156/

[2019-02-07 16:09] pshipton opened #4643 "Test-sanity.functional-JDK8-aix_ppc-64_cmprssptrs jsigjnitest_0 Cannot load module jre/lib/ppc64//libjvm.so"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-aix_ppc-64_cmprssptrs/536
[code]

[2019-02-07 16:10] smlambert commented on #4640
Excluded via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/865

[2019-02-07 16:11] smlambert commented on #4613
https://github.com/AdoptOpenJDK/openjdk-tests/pull/864

[2019-02-07 16:12] sophia-guo opened #4644 "JTReg test fail - Windows32 JDK8: sun/nio/cs/TestStringCoding.java"
Test sun/nio/cs/TestStringCoding.java.TestStringCoding failed on Win32 JDK8.

[code]

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-32_windows/131/

Grinder failed with different msg:

[code]
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1014/console

[2019-02-07 16:12] ben-walsh commented on #4613
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1018
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1019

@smlambert Okey dokey. I'll keep in mind. Problem is I was chastised for linking to internal test results in public issues previously. Probably best for all if we get the additional machine resources (/budget) over to AdoptOJDK asap.

[2019-02-07 16:16] hangshao0 commented on #4351
OMR PR (https://github.com/eclipse/omr/pull/3553) to export file_get_unicode_path() which prepend `\\?\` when path is > MAX_PATH.

[2019-02-07 16:18] smlambert commented on #4613
Yes, for sure some more test machines are coming to Adopt which is going to help us (though unfortunately no macs on the way at the moment)...  and I recognize test macs are scarce everywhere :)

committers can also launch public Grinders at the openj9 Jenkins instance, which I am happy to do for folks (https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/)

[2019-02-07 16:20] pshipton commented on #4643
I expect this failing is intermittent. I saw it in an omr promotion build that didn't promote yesterday, but the subsequent build passed.

There seems to be a missing directory in the path, as the path should be `ppc64/compressedrefs/libjvm.so`. I'm going to guess this is a test problem.

[2019-02-07 16:31] liqunl commented on #4624
[code]
Class from argInfo and class from call site are not compatible, very likely we're looking at dead path. In this case, we'd better not propagate.

[2019-02-07 16:32] ben-walsh commented on #4612
Closed per above comment.

[2019-02-07 16:32] #4612 closed

[2019-02-07 16:35] AidanHa commented on #4466
I am still unable to replicate this issue even WITH the Eclipse IDE:

Command Line:
/Users/Aidan.Ha@ibm.com/Downloads/jdk-11.0.2+9_openj9-0.12.1 2/Contents/Home/bin/java -Dfile.encoding=UTF-8 -classpath /Users/Aidan.Ha@ibm.com/Downloads/J9Eval/bin jdks.DotDirDemo

![image](https://user-images.githubusercontent.com/33072072/52426521-22f9c500-2acc-11e9-95d3-8b53b530f08b.png)

I carefully made sure t

[2019-02-07 16:48] mipastgt commented on #4466
But your output clearly shows that you are using the most recent 11.0.2+9 build whereas I am still using the older 11.0.1+13 release because the newer one was not yet available at the time when I made my initial tests. Before you invest any more time let me try it with the new version.

[2019-02-07 16:55] AidanHa commented on #4466
@mipastgt My fault, I must've accidentally grabbed the wrong one from the website. I've ran it with JDK 11.0.1+13, and I have successfully replicated the Issue. So perhaps this was fixed in the most recent version?

Sorry about that.

[2019-02-07 17:00] mipastgt commented on #4466
Success!!! I just installed the new version and  voila, it works.
I am glad we got that sorted out now. The previous version must have been broken somehow.

<img width="959" alt="bildschirmfoto 2019-02-07 um 17 56 19" src="https://user-images.githubusercontent.com/16735714/52428294-f3fe4600-2b01-11e9-8d3d-a60e3eb66283.png">

[2019-02-07 17:03] #4638 closed

[2019-02-07 17:09] ymanton commented on #4622
I came across this frequently last week while working on the jitaas branch so I looked into it to make sure it wasn't caused by something we did in that branch. It wasn't, but a patch to fix it is in https://github.com/eclipse/openj9/pull/4648.

[2019-02-07 17:09] ChengJin01 commented on #4560
Looking at the test code:
[code]
The expected result is to throw out SocketException as Socket.getInputStream().read() gets blocked
[code]
However, the test failed because Socket.getInputStream().read() still kept working till reached the end of inputstream during Thread.sleep(5000), which means sometimes Thread.sleep() didn't work correctly to block the read operation.
[code]

@babsingh

[2019-02-07 17:26] fjeremic commented on #4622
Awesome! I've added a fixes tag to your PR and set review requests.

[2019-02-07 17:47] apete opened #4649 "JMH with OpenJ9"
I get these warnings:

Running the benchmark seems to work, but can I trust the numbers?

I'm running benchmarks to compare HotSpot and OpenJ9.

[2019-02-07 18:11] r30shah commented on #4642
Problem occurs because of this
https://github.com/eclipse/openj9/blob/a66c432399f0837d2b85efc3646fbeb2a80849a1/runtime/compiler/runtime/RelocationRecord.cpp#L3628
where we load unsigned 32 Bit from given pointer and cast it to unsigned 16 bit integer.
On x86 which is little endian when it loads 32-Bit from the address, it has `_virtualCallOffsetAndIgnoreRtResolve` in lower half of the value and wh

[2019-02-07 18:31] dsouzai commented on #4649
I asked our test team, and they said that the JMH Framework can be used. However, the microbenchmark tests that come with the framework may be specific to Hotspot; you'd have to take a look at each one individually to see what they measure.

Another alternative framework you could use to compare HotSpot and OpenJ9 is BumbleBench https://github.com/AdoptOpenJDK/bumblebench .

[2019-02-07 18:57] AidanHa commented on #4466
Great! Should this issue be closed now?

[2019-02-07 18:59] FireBurn opened #4653 "RHEL7 nasm isn't new enough"
The default nasm installed on RHEL7.6 is nasm-2.10.07-7.el7.x86_64 which fails with the following errors:

Compile_OpenJ9/openj9-openjdk-jdk8/build/linux-x86_64-normal-server-release/vm/compiler/../compiler/x/runtime/X86Codert.nasm:784: error: mismatch in operand sizes
Compile_OpenJ9/openj9-openjdk-jdk8/build/linux-x86_64-normal-server-release/vm/compiler/../compiler/x/runtime/X86Codert.nasm:785:

[2019-02-07 19:00] mipastgt commented on #4466
As far as I am concerned it can be closed.

[2019-02-07 19:27] 0xdaryl commented on #4653
I believe @nbhuiyan is already working on the configure check as we speak.  Thanks for raising the issue.

[2019-02-07 19:32] #4385 closed

[2019-02-07 19:35] #4466 closed

[2019-02-07 19:45] babsingh commented on #4560
@ChengJin01
1) did you verify using a micro-test that `Thread.sleep()` malfunctions?
2) did you verify that `in.read()` blocks before `s.close()` is invoked?
3) does `s.close()` consistently generate a `SocketException` for the blocked `in.read()`?
4) `closed()` is only invoked if `latch.getCount()` returns 0. did you verify that the `CountDownLatch` works properly: `getCount`, `countDown()` and `

[2019-02-07 20:22] sophia-guo opened #4654 "JTReg test fail - JDK8 intermittent failures"
java/rmi/server/RemoteServer/AddrInUse.java failed with all platforms, same behavior with JDK11
https://github.com/eclipse/openj9/issues/3377

java/io/File/DeleteOnExitNPE.java failed intermittently with ' No output should have been received from the process' on win64 with openj9 java8
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-64_windows/177/testReport/junit/jav

[2019-02-07 20:25] pdbain-ibm opened #4655 "Implement Java diagnostic utilities"
Implement OpenJ9 equivalents of `jps`, `jstack`, `jstat`, et al.

[2019-02-07 20:29] pdbain-ibm commented on #4655
Related issues:

- OpenJ9 Attach API Diagnostic extension #2621
- OpenJ9 Attach API Diagnostic extension #2621
- Implement jps: java process status #4650

[2019-02-07 21:17] pshipton commented on #4655
It may be useful to create check boxes in the initial description for each of the utilities or sub-commands that are planned, and then they can be checked off when done (by changing `[ ]` to `[x]`. I've updated the description with an example.

[2019-02-07 21:20] ChengJin01 commented on #4560
@babsingh

1. The interesting thing I found is:
1) in the passed test, Thread.sleep() happened before NET_Read (in.read())
2) in the failing test,  NET_Read (in.read()) already finished before calling Thread.sleep(), which means there is no way to block it in such case.

2. in passed case, s.close() should be invoked first when in.read() is blocked
3.   SocketException is generated by in.read() du

[2019-02-07 21:25] apete commented on #4649
Thanks!

In that case maybe your interested in the results: https://ojalgo.blogspot.com/2019/02/quick-test-to-compare-hotspot-and-openj9.html

I have some existing JMH benchmarks that I've used to compare pure java linear algebra libraries. Now I'm interested in using those to compare JVM:s instead.

[2019-02-07 21:50] pshipton opened #4657 "Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs UnsafeTests_0 testArrayGetAndOpLong"
Spotted in OMR Acceptance testing, but I don't think it is related to the OMR changes being tested.
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/505
[code]

[2019-02-07 22:18] pshipton opened #4658 "Java 12 functional sanity failure TestFlushReflectionCache_0"
I ran a Java 12 functional sanity test using the changes from #3980 and #4531.

https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK12-linux_390-64_cmprssptrs/3
TestFlushReflectionCache_0
[code]

[2019-02-07 22:20] pshipton opened #4659 "Java 12 functional sanity failure JCL_Test test_toLowerCase_lithuanian"
I ran a Java 12 functional sanity test using the changes from #3980 and #4531.

https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK12-linux_390-64_cmprssptrs/3
JCL_Test_0 JCL_Test_1
[code]

[2019-02-07 22:21] pshipton commented on #4659
@fjeremic

[2019-02-07 22:23] pshipton opened #4660 "Java 12 functional sanity failure JCL_Test test_setSecurityManager2"
I ran a Java 12 functional sanity test using the changes from #3980 and #4531.

https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK12-linux_390-64_cmprssptrs/3
JCL_Test_0 JCL_Test_1
[code]

[2019-02-07 22:25] pshipton opened #4661 "Java 12 functional sanity failure openj9_jsr292Test test_defineClass_ClassBytes_CorruptedArray"
I ran a Java 12 functional sanity test using the changes from #3980 and #4531.

https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK12-linux_390-64_cmprssptrs/3
openj9_jsr292Test_0
openj9_jsr292Test_JitCount0_0
[code]

[2019-02-07 22:28] pshipton commented on #4658
@theresa-m @DanHeidinga @JasonFengJ9

[2019-02-07 22:28] pshipton commented on #4659
@theresa-m @DanHeidinga @JasonFengJ9

[2019-02-07 22:29] pshipton commented on #4660
@theresa-m @DanHeidinga @JasonFengJ9

[2019-02-07 22:29] pshipton commented on #4661
@theresa-m @DanHeidinga @JasonFengJ9

[2019-02-07 22:41] babsingh commented on #4560
@ChengJin01

there is going to be a race condition between Thread.sleep() and in.read() since they are going to be invoked simultaneously. sleeping for 5 seconds should be sufficient in order to invoke in.read() before s.close().

in.read() should always block since no input data is available. So, in.read() shouldn't finish before Thread.sleep(). it should block until s.close() is invoked.

if in.

[2019-02-07 23:40] theresa-m commented on #4660
I looked into this one a bit earlier - java.vendor seemed to not be set causing the NPE

[2019-02-07 23:43] theresa-m commented on #4660
NPE caused in this method https://github.com/eclipse/openj9/blob/master/test/functional/Java8andUp/src/org/openj9/test/support/Support_Exec.java#L143

[2019-02-07 23:49] theresa-m commented on #4660
running `java -XshowSettings` in Java 11:
`java.vendor = Eclipse OpenJ9`

running `java -XshowSettings` in my local Java 12 build:
`java.vendor = N/A`

[2019-02-08 00:50] pshipton opened #4662 "Java 12 functional sanity failure cmdLineTester_jvmtitests_hcr"
I ran a Java 12 functional sanity test using the changes from #3980 and #4531.

https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK12-linux_ppc-64_cmprssptrs_le/2
cmdLineTester_jvmtitests_hcr_4
cmdLineTester_jvmtitests_hcr_8
cmdLineTester_jvmtitests_hcr_10
[code]

[2019-02-08 00:51] pshipton commented on #4662
@theresa-m @DanHeidinga @JasonFengJ9

[2019-02-08 00:51] ChengJin01 commented on #4560
@babsingh ,

The race condition might exist but I doubt they should share the same lock with Thread.sleep() as follows:

/openj9-openjdk-jdk11/src/java.base/linux/native/libnet/linux_close.c
[code]

In addition,  I already confirmed in.read() was executed before Thread.sleep() and s.close() according the printing messages.

[2019-02-08 01:20] pshipton opened #4663 "Java 12 functional extended failure This feature requires ASM7"
I ran a Java 12 functional extended test using the changes from #3980 and #4531.

https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK12-linux_390-64_cmprssptrs/1
TestRefreshGCSpecialClassesCache_BCI_FAST_HCR_0
TestGCClassWithStaticRetransformInBalanced_0
[code]

[2019-02-08 01:21] pshipton commented on #4663
@theresa-m @DanHeidinga @JasonFengJ9

[2019-02-08 10:17] apete commented on #4649
The variability of OpenJ9 is consistent... I've executed other benchmarks as well. Comparing the results with what I'm used to see, performance is fluctuating.

I updated that blog post with results for the latest available community edition of Graal included as well. (Unfortunately it was based on OpenJDK 8.)

I also added links to the raw benchmark results if anyone want to verify what's shown i

[2019-02-08 10:17] #4649 closed

[2019-02-08 13:40] andrewcraik commented on #4657
@0dvictor do we have a bad sign extension or something happening?

[2019-02-08 14:08] hzongaro commented on #4277
@pshipton Peter, may I ask you to remove the `comp:jit` label from this issue?  See https://github.com/eclipse/openj9/issues/4277#issuecomment-460487874 and https://github.com/eclipse/openj9/issues/4277#issuecomment-461196371 above for more information

[2019-02-08 14:24] fjeremic commented on #4597
Short update is that this is definitely a Z codegen bug in our vector uppercase/lowercase intrinsic. We do have unit tests for this so I'm not sure how it has escaped this far. Will be fixing shortly and looking into why our unit tests did not catch this.

[2019-02-08 14:29] pshipton commented on #4277
Moved to comp:test.

[2019-02-08 14:33] fjeremic commented on #4659
@pshipton given it's Lithuanian the JIT won't do any intrinsics here so this will likely fail with `-Xint` as well. The likely cause here is same as in #2895. Does Java 12 use an updated Unicode standard? In which case we'll need to update the combining above and below arrays similarly to what was done in #2895.

On another thought it seems that we already have coverage for `toUpperCase` and `toLo

[2019-02-08 14:41] fjeremic commented on #3752
FYI if you use ZenHub you don't need the graph of dependencies since it supports issue dependency chains out of the box.

[2019-02-08 14:53] pshipton commented on #3846
This is completed, closing.

[2019-02-08 14:53] #3846 closed

[2019-02-08 15:20] vijaysun-omr commented on #4609
I'm interested in @joransiu thoughts here as well since I'm not that familiar with how the HPR support is implemented in the z codegen, especially wrt when HPRs are considered vs when GPRs are considered for allocation.

From a GRA perspective, apart from the one bug you mentioned, I'm not sure if we think we can improve anything to make it perform better for HPRs than before. There seems to be so

[2019-02-08 15:20] llxia commented on #442
- Based on the provided `JAVA_BIN`, we should be able to auto-detect the following using java program:
JDK_VERSION
JDK_IMPL
SPEC

A makefile will be generated with the above value and it will be incorporated into the TKG framework.

From a user point of view, the above three variables are not required. If provided by user, our famework should honor it. TKG can display a warning message if needed.

[2019-02-08 15:24] pshipton commented on #4659
Java 12 moved to Unicode 11.0.0 from 10.0.0.

@fjeremic are you ok with not having any PR testing for toUpper/LowerCase? Does the JIT affect these results? I'm thinking we should just remove the Lithuanian sub-test for now.

I'm concerned about the timing of anybody noticing one of these failing tests at Adopt. Getting these tests into an "always green" state is WIP. Until we reach that goal I'm n

[2019-02-08 15:38] pshipton commented on #4559
Still core file related problems on this machine.
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/507

[code]

[code]

[2019-02-08 15:40] pshipton commented on #4201
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64_cmprssptrs/176

[2019-02-08 15:42] vijaysun-omr commented on #4609
Another thought is to try and find the application that HPR support showed benefit for originally when it was done and run that to see how things look today. e.g. maybe it was envisioned in scenarios when we spill, e.g. across a native call maybe ?

[2019-02-08 16:17] pshipton commented on #4201
Note that last one is an assert an not a crash.

[2019-02-08 16:20] dsouzai commented on #4201
Well, more reason to believe a missed relocation :). I didn't have time to look at this issue this week, but I'm definitely going to next week. Also I'm really glad this isn't a Windows only issue; I can try and reproduce this using at linux job.

[2019-02-08 16:30] pshipton opened #4667 "Support for JVMTI 11.0 spec"
Java 11 and later should support the JVMTI 11.0 specification.

https://docs.oracle.com/en/java/javase/11/docs/specs/jvmti.html

jvmti.h contains JVMTI_VERSION_9_0 but not 11_0

[2019-02-08 16:34] andrewcraik commented on #4516
| Configuration         | Options | score (states/min) |
|----------------------|----------|-------|
| OpenJ9 Java 8 0.10 | -            | 3,764,963 |
| OpenJ9 Java 8 0.12 | -            | 4,116,733 |
| OpenJ9 Java 8 0.12 | -Xmx25G -Xmx2G | 4,765,976 |
| OpenJ9 Java 11 0.10 | - | 4,801,398 |
| OpenJ9 Java 11 0.12 | - | 4,681,333 |
| OpenJDK Java 8 | - | 6,736,911 |
| OpenJDK Java 11 | - | 7,707,58

[2019-02-08 16:39] JasonFengJ9 commented on #4667
This will be addressed by https://github.com/eclipse/openj9/pull/3754 or https://github.com/eclipse/openj9/pull/4461.

[2019-02-08 16:50] vijaysun-omr commented on #4516
Is the time spent in the JVM (as opposed to compiled code) comparable in the "best" OpenJ9 config vs what you see in OpenJDK ?

[2019-02-08 17:11] lemmy commented on #4516
@andrewcraik Let me know if - for profiling - you want me to change the client code. I can easily create a new tla2tools.jar.  Also the source is at https://github.com/tlaplus/tlaplus

[2019-02-08 17:16] andrewcraik commented on #4516
@lemmy thanks for the offer - I have already been reading the source on the repo which is how I found out what that sequence of dependent mov instructions was doing. I don't think any source changes are needed - we need to look at the code generation to try and optimize the entry sequence of these methods since the recursive nature of some of this code means it will be hammered in a performance ru

[2019-02-08 17:19] smlambert commented on #4659
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_linux/277/testReport/java_lang_Character_UnicodeCasingTest/java/UnicodeCasingTest/ is passing for jdk11, and we have not turned on jdk12 builds yet at Adopt so have not seen the UnicodeCasingTest fail yet.

At the moment, all sanity.openjdk tests (3,262 tests, which include the UnicodeCasingTest) are passing.  If we

[2019-02-08 17:27] pdbain-ibm commented on #4364
Typo (`porperly`)in the title.

[2019-02-08 17:34] fjeremic commented on #4659
@pshipton we already added unit tests for the JIT intrinsics as part of #2098. See [1] for the tests that were added. The tests in Test_String.java are more so for the `-Xint` implementation. I agree we should remove the Lithuanian sub-tests as those are the special ones we're having to maintain, unnecessarily so.

[1] https://github.com/eclipse/openj9/blob/9b955472ce5516212faff92f9d40d8232ce9dbbd

[2019-02-08 17:54] andrewcraik commented on #4649
Just an additional comment on JMH - if your benchmarks use the CompilerOptions to change how HotSpot compiles then those configurations won't apply to OpenJ9 which could lead to different results. The ACM version of the bench is clearly not working as well as it might given the perf. I am looking at it and will create an issue here on the OpenJ9 project where we can make notes about how to make it

[2019-02-08 17:59] andrewcraik opened #4670 "Poor an inconsistent performance on some Matric Math Benchmarks"
@apete provided some results for running OpenJ9 and HotSpot on some MatrixMultiplicationBenchmarks. We did well on one, poorly on one and inconsistently on one. See the results at [https://ojalgo.blogspot.com/2019/02/quick-test-to-compare-hotspot-and-openj9.html](https://ojalgo.blogspot.com/2019/02/quick-test-to-compare-hotspot-and-openj9.html). The benchmark can be built from the repo linked on t

[2019-02-08 17:59] llxia commented on #4364
The title is fixed. Thanks.

[2019-02-08 18:06] andrewcraik commented on #4670
I did a few runs of ACM dim=100 and there is a large gap between OpenJ9 and HotSpot:
| Configuration | score (ops/s) |
|----------------|-------|
| OpenJ9 Java 8 | 362.1 |
| OpenJDK Java 8 | 959.9 |

Adding -XX:-EnableHCR to Openj9 boosted the score to 578.5 ops/s.

I have not profiled yet, but clearly the HCR infrastructure is getting in the way of some loop opts of some kind which should be look

[2019-02-08 18:12] fjeremic commented on #4609
I think we'll need @joransiu's input on this one. HPR support predates my time.

[2019-02-08 18:50] theresa-m commented on #4662
It looks like this failure and https://github.com/eclipse/openj9/issues/4658 are related

[2019-02-08 18:54] jdekonin commented on #4559
This would appear to be the `corefile not present` issue I highlighted in my previous comment.  The time between `Testing: Create core file` and `Testing: Run !printallcallsites` is only 1 second.  I'm not sure how reasonable it is to have the o/s generate a corefile in 1 second consistently.  The only error in the syslog is error to find.  There doesn't appear to be any error generated from trigg

[2019-02-08 19:00] #4659 closed

[2019-02-08 19:11] pshipton commented on #4559
@jdekonin it is the VM/OMR that waits for the core file [1]. The test waits for the VM process to complete, and also checks the output for `System dump written`, which is a message output by the VM that should not be output until the renamed core is available. The core file is generated by the OS, which produces a file like core.123, and then the VM renames it to something else.

[1] https://githu

[2019-02-08 19:13] pshipton commented on #4559
I've disabled ub16x64j91 for a while to see if these failures occur on another machine. I don't think they were occurring on the Softlayer machines.

[2019-02-08 19:15] JasonFengJ9 commented on #4658
The `NoSuchFieldException: annotations` was at `methodAnnotationsField = Method.class.getDeclaredField("annotations");`.

This is due to `JDK12` tights the access to more sensitive fields.
https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/caa80184d0d8e75fd982c43af78cc2a26259d8b5/src/java.base/share/classes/jdk/internal/reflect/Reflection.java#L41-L63

Here is `JDK11` and earlier versions:
h

[2019-02-08 19:17] JasonFengJ9 commented on #4662
@theresa-m is right, this is due to same cause as per https://github.com/eclipse/openj9/issues/4658#issuecomment-461913909

[2019-02-08 19:17] aguibert commented on #4084
FYI I've seen 2 other people hit this issue on MacOS

[2019-02-08 19:24] aguibert commented on #4084
WORKAROUND: Set the open file limit to a higher value, such as 1024:

[code]

[2019-02-08 19:30] evelinec commented on #4084
You can use the Open Liberty guides, ie, https://openliberty.io/guides/microprofile-jwt.html to reproduce this problem on MacOS with AdoptedOpenJDK11 OpenJ9 JVM. The `ulimit -Sn 1024` workaround fixes the problem. Is there any programmatical workaround we can use?

[2019-02-08 19:34] pshipton opened #4674 "Improved reporting in JMX MemoryPool MBean"
The JMX MemoryPool MBean should return the value of the max storage limits for the JIT Data Cache, Code Cache. These values default to 128 or 256M and can be set using -Xcodecachetotal.
 
Without this data users are not able to understand if they have sufficient (or too much) storage allocated for the JIT, and have to be aware of what the default maximum sizes are set as. In addition if the storag

[2019-02-08 19:36] 0dvictor commented on #4657
I'm still working on it. I could not reproduce it locally, and hence am trying grinders now.

[2019-02-08 19:36] JasonFengJ9 commented on #4663
https://github.com/eclipse/openj9/blob/c35378a352036c09b9ca02d4185ed4259d46ea8d/test/functional/JavaAgentTest/src/org/openj9/test/javaagenttest/util/CustomClassVisitor.java#L33-L34

The test need to be updated to `ASM7`.

[2019-02-08 19:38] pshipton opened #4675 "Improved storage reporting in javacore dumps"
The javacore MEMINFO section should include more detailed summary information about usage of storage to help more quickly determine which JVM components are using 32-bit vs. 64-bit storage.

**Proposed Solutions**

1. Update the NATIVEMEMINFO summary to split out the storage for the loaded classes into RAM and ROM classes, as these can be stored either below or above 4G depending on usage of compr

[2019-02-08 19:58] keithc-ca commented on #4559
The OMR code waits at most 5 seconds (see [1] for example); apparently that's not sufficient.

[1] https://github.com/eclipse/omr/blob/f8fc704032f95cbc0f337eb6be54f2b06e58a773/port/linux/omrosdump_helpers.c#L560

[2019-02-08 20:05] pshipton commented on #4674
@joransiu @DanHeidinga

[2019-02-08 20:05] pshipton commented on #4675
@joransiu @DanHeidinga

[2019-02-08 21:03] smlambert commented on #4659
Yes, I understand, thanks.  I was just reporting that we have no jdk12 builds yet and that the tests will run nightly (as they are part of sanity.openjdk) when we do.

[2019-02-08 21:14] JasonFengJ9 commented on #4660
`JDK12` sets system properties `java.vendor`, `java.vendor.url` and `java.vendor.url.bug` within `VersionProps.init` which overrides the values set by `OpenJ9` natives.
https://github.com/eclipse/openj9/blob/7d38977f3948ea26f3268982c689269440779dc5/jcl/src/java.base/share/classes/java/lang/System.java#L385-L399

This can be fixed by adding `--with-vendor-name`, `--with-vendor-url` and `--with-vend

[2019-02-08 21:26] pshipton commented on #4559
Apparently these machines are old and slow. Joe mentioned in https://github.com/eclipse/openj9/issues/4559#issuecomment-460333695 "I did notice that some of the times to generate a core on vmstart were taking between 8-10 seconds, 2 of the 20 as a sample size."

In https://github.com/eclipse/openj9/issues/4559#issuecomment-461843149 the output shows 11 seconds between "Create core file" and the ne

[2019-02-08 21:34] pshipton commented on #4660
jdk8 still needs them. jdk8 doesn't support --with-vendor-name etc.

[2019-02-08 21:46] JasonFengJ9 commented on #4660
To clarify, those native will be decorated with `#if JAVA_SPEC_VERSION < 12`, i.e., only compiled & executed when it is pre-JDK12 version.

[2019-02-08 22:00] dmitry-ten opened #4676 "Move AOT stats from privateJITConfig to a per-client cache in JITaaS"
Currently, these stats reside in privateJITConfig, which is global. Ideally, we want to store AOT stats on the server per-client.
This can be achieved  by either moving AOT stats out of privateJITConfig into its own cache,
or by making privateJITConfig itself per-client.
The latter is probably better, as jit config contains other fields that should be stored per-client.

Related to #3372

[2019-02-08 22:03] pshipton commented on #4660
I think jdk11 also supports --with-vendor-name so it could be modified as well.

[2019-02-08 22:18] JasonFengJ9 commented on #4660
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/afa710e1295efc46b0284835a7a1643f9cebc702/src/java.base/share/classes/java/lang/VersionProps.java.template#L76-L83

`JDK11 VersionProps.init()` doesn't set `java.vendor` & `java.vendor.url` though.

[2019-02-08 22:20] harryyu1994 commented on #4401
Should there be a task for "storing the AOT to SCC"?
It happens in `compilationEnd` for non-jitaas, I'm proposing JITaaS to handle this task in `remoteCompile`.

[2019-02-09 00:23] #4198 closed

[2019-02-10 03:16] jdekonin commented on #4634
Removing the freetype configure options for 64 bit get you to the next failure point.

[code]

[2019-02-10 19:44] jdekonin commented on #4634
VS2010 sets up rebase on the path from here; `/cygdrive/c/Program Files (x86)/Microsoft SDKs/Windows/v7.0A/bin/x64/rebase`, whereas VS2017 doesn't at all.  rebase being found is from cygwin tooling, which doesn't support the `-R`.

It also appears that rebase was replaced with editbin.
https://docs.microsoft.com/en-us/cpp/build/reference/editbin-reference?view=vs-2017

[2019-02-11 06:02] bharathappali commented on #3767
closing this issue as [#3474 PR](https://github.com/eclipse/omr/pull/3474) is merged

[2019-02-11 06:02] #3767 closed

[2019-02-11 09:52] SueChaplain commented on #4675
@pshipton - early days, but please can you add the doc:externals label for tracking purposes. Thanks!

[2019-02-11 12:03] PhilWakelin commented on #4675
Can we also perhaps make the MEMINFO Native Stack storage section take into account the fact that 64-bit memory objects are are min of 1M and come in nM increments. At the moment the VM seems to track its actual stack storage based on Xmso, but this does not reflect the underlying memory object usage in the 64-bit world, which is going to be significantly larger, (especially once LE then adds in i

[2019-02-11 14:47] ben-walsh opened #4679 "JTReg test fail - Linux XL and MacOS XL :"
Consistent failures ...

[code]

... observed for test jdk/nio/zipfs/ZipFSTester.java against Linux XL and MacOS XL builds. See https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1025/consoleText and https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1028/consoleText.

There are no such failures observed for Linux non-XL and MacOS non-XL builds. See https://ci.adoptopenjdk.net/view/T

[2019-02-11 14:52] #4407 closed

[2019-02-11 15:20] ashu-mehra commented on #4050
I added few debug statements in the code path where JIT is checking for available memory in the container, and it all seems to be working fine.
Portlibrary API `omrsysinfo_get_memory_info()` is returning memory stats of the container and the JIT is correctly calculating the available memory.

I ran the application again with 256MB of container memory to figure out native memory requirement of the

[2019-02-11 15:26] pshipton opened #4681 "Test-sanity.system-JDK8-linux_ppc-64_cmprssptrs_le MauveMultiThreadLoadTest_0 java.security.AccessControlException: access denied"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_ppc-64_cmprssptrs_le/234
[code]

[2019-02-11 15:46] ben-walsh commented on #3399
Job submitted - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1040

[2019-02-11 15:51] pshipton commented on #4201
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-win_x86/159
4.jvm1.stderr
[code]

[2019-02-11 15:51] pshipton commented on #4201
Yes, the jobs do save the core.

[2019-02-11 15:56] pshipton commented on #4526
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/191
SharedClassesAPI_0
29.WL3.stderr
[code]

[2019-02-11 16:17] pshipton commented on #4526
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/192

[2019-02-11 16:27] #3180 closed

[2019-02-11 16:29] pshipton commented on #4526
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/192

[2019-02-11 16:35] harryyu1994 commented on #2728
Hi, the JITaaS team is wondering when this work will be finished. The JITaaS PR testing feature is blocked by this. We are in no rush to have this feature now and just asking about the timeline. Thanks!

[2019-02-11 17:11] gita-omr commented on #3421
@pshipton @amicic I updated Dependencies in the description -- JVMTI fixes for CS.

[2019-02-11 17:14] gita-omr commented on #3453
We would like to enable https://github.com/eclipse/openj9/issues/3421 in 0.13. Do we need to fix this one by then? @pshipton

[2019-02-11 17:33] amicic commented on #3453
This is (I believe) an IBM cooked test that checks if an already started GC cycle finishes with (probably arbitrarily chosen) 30 sec even if there is no application activity. It's just a nice to have feature not imposed by specs.

There are more important ones to fix in CS world than this one, so I'm guessing, this won't be fixed for at least next few months.

Besides, it's affecting all platforms

[2019-02-11 18:55] huntc commented on #4050
Thanks for the investigations. As stated, I hadn’t managed to reproduce the exact issue I had before, and wondered if the one I provided here would be sufficient. It isn’t though and what you write makes sense to me.

I’ve got the target device available to me again so I can try to get more info for you. Thanks for hanging in there.

[2019-02-11 19:30] DanHeidinga commented on #4084
With the fix to set the soft limit to the hard limit in #4442, I'm going to close this as fixed

[2019-02-11 19:30] #4084 closed

[2019-02-11 19:33] sophia-guo commented on #4679
Test failed differently with HS:

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_x86-64_macos/122/testReport/junit/jdk_nio_zipfs_ZipFSTester/java/ZipFSTester/

[2019-02-11 19:44] sophia-guo opened #4684 "JTReg test failure - Mac JDK8: sun/nio/cs/TestStringCodingUTF8.java"
Test sun/nio/cs/TestStringCodingUTF8.java intermittently failed with MAC JDK8
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-64_macos/104/

[code]

[2019-02-11 19:57] 0xdaryl commented on #4609
Kudos on a very complete and thorough analysis of these registers!

In deciding their fate, perhaps one other thing to consider is the tradeoff between the performance benefit of using these registers versus the maintenance cost of keeping them around.  An analog that comes to mind from the x86 world is the reclaiming the VMThread register in certain contexts to use as a GPR in high-register press

[2019-02-11 20:02] sophia-guo opened #4685 "JTReg test failure - PPCLE JDK8: java/rmi/server/RMISocketFactory/useSocketFactory/activatable/UseCustomSocketFactory.java"
Test java/rmi/server/RMISocketFactory/useSocketFactory/activatable/UseCustomSocketFactory.java intermittently failed with message 'Execution failed: `main' threw exception: TestFailedException: TEST FAILED: start rmid failed... giving up'

[code]

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_ppc64le_linux/316/testReport/junit/java_rmi_server_RMISocketFactory_useSocketF

[2019-02-11 20:04] fjeremic commented on #4609
I don't have hard data but I've fixed many bugs related to HPRs in the last 5 years. HPRs have been the source of some of the more gruesome Z codegen bugs due to their non-deteriministic nature. I agree. We should definitely take into account the maintenance cost of this rather poorly implemented feature, if one can even call it such as in most cases shown above the feature shows a net negative be

[2019-02-11 20:32] jerrylui803 opened #4686 "Suggestion: New edge test case for Native Digest"
Here is a test that reproduces the crash in https://github.com/eclipse/openj9/issues/4530 and https://github.com/ibmruntimes/openj9-openjdk-jdk11/issues/125

The following code attempts to perform different digest operations at the same time to the same digest object.
This causes segfault when nativeDigest is enabled.
(When nativeDigest is disabled, the code would throw exceptions as expected due

[2019-02-11 21:07] ashu-mehra commented on #4050
So the JVM's internal memory requirements (like memory used by JIT, memory for threads, classes etc) is around 115 MB.

I stand corrected here. Committed java heap of 72 MB contributes to the RES size of the process, not the used heap. So the JVM's internal memory requirements are around 90 MB.
Having said this, final conclusion remains the same, only the figures changed a bit.

[2019-02-11 21:39] fjeremic commented on #4597
@ben-walsh FYI the first link in the description is very misleading. It points to the java/lang/Character testing while the test that failed is in the java/lang/String testing (your second link). This is why my manual attempt at locally reproducing was not working. I was testing the wrong thing!

[2019-02-11 21:40] pshipton commented on #4686
@llxia @smlambert Please help @jerrylui803 add the new test.

[2019-02-11 21:51] pshipton commented on #4559
@jdekonin I haven't seen this problem occur since ub16x64j91 was disabled. Can this machine be replaced/retired?

[2019-02-11 22:21] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/514

[2019-02-11 22:33] smlambert commented on #4686
This test class can be added into
https://github.com/eclipse/openj9/tree/master/test/functional/Java8andUp/src/org/openj9/test/java/security

And included as part of the  existing JCL_TEST_Java-Security target https://github.com/eclipse/openj9/blob/master/test/functional/Java8andUp/testng.xml#L214
unless it requires special command line options or inputs.

[2019-02-11 23:36] fjeremic commented on #3742
@liqunl FYI as this is your area of expertise.

[2019-02-12 11:33] ben-walsh commented on #4597
@fjeremic Apologies. My mistake.

[2019-02-12 11:45] ben-walsh commented on #4597
Title and links in description corrected accordingly.

[2019-02-12 15:22] jdekonin commented on #4559
@cwillhelm, I am pretty sure ub16x64j91 is likely the image 2-6 were generated from, correct?  Either way, can we get ub16x64j91 deleted and recreated please?

[2019-02-12 15:23] pshipton commented on #4686
@jerrylui803 just to be clear, the expectation is that you will add the test

[2019-02-12 15:23] StephanieMeakins commented on #4640
I've also now seen this issue on AIX and attached the console out. I have also excluded the test on AIX.

[4640.txt](https://github.com/eclipse/openj9/files/2856413/4640.txt)

[2019-02-12 15:26] pshipton commented on #4686
Ha, actually it appears Shelley has done it in #4693

[2019-02-12 15:29] jerrylui803 commented on #4686
No special options or inputs

[2019-02-12 15:37] ben-walsh commented on #3399
[consoleText.txt](https://github.com/eclipse/openj9/files/2856458/consoleText.txt) from job shows 100% pass rate. De-excluding test accordingly.

[2019-02-12 15:38] JasonFengJ9 commented on #4681
The test code snippet in question is as following
[code]
This appears a problem to set the value of `grantLogging`. However it is not immediate clear from the stacktrace how this variable is controlled.
Also it is interesting to note that this was a sole failure in past ten runs.

Can we launch a grinder to determine the failure rate?

[2019-02-12 15:42] pshipton commented on #4559
@jdekonin @cwesMills do we have the resources at UNB to add more xlinux machines? xlinux is a backlogged platform, and we could use more machines if possible.

[2019-02-12 15:46] StephanieMeakins opened #4698 "JTReg Test Failure: java/io/FileOutputStream/ManyFiles.java only on AIX"
I think that the TEST: java/io/FileOutputStream/ManyFiles.java failure on AIX is due to infrastructure issues with the build/test machine. I've seen this on the repeatably on grinder jobs I've run.

I'll attach the console output for more info.

[2019-02-12 15:46] StephanieMeakins commented on #4698
[4698.txt](https://github.com/eclipse/openj9/files/2856502/4698.txt)

[2019-02-12 15:47] pshipton commented on #4681
@JasonFengJ9 please try an internal grinder first and if it can't be recreated I will try externally.

[2019-02-12 16:35] jdekonin commented on #4559
I think new machines should be a new issue.  We do have cpu for more, the current concern is tracking bandwidth wrt UNB hosted machines to make sure the recent increase hasn't made too big of an impact.

[2019-02-12 16:38] dsouzai opened #4702 "recipe for target 'java.base-copy' failed"
[code]
eg https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-linux_390-64_cmprssptrs-OpenJ9/199/consoleText

I've only seen this issue occur on zlinux builds.

[2019-02-12 16:41] yanluo7 opened #4703 "Introduce JIT infrastructure that uses symbol reference flags to track foldable fields to facilitate early optimization"
Currently JIT attached to a shadow symbol a property called Recognized Field that indicates the symbol is specially recognized by various JIT code. This is done at ILGen via pattern matching of the field and owning field names of the underlying reference field load.

PR https://github.com/eclipse/omr/pull/3433 optimizes a pattern `Field1 f1 = o.field1; if (f1==null) initialize_f1; Field2 f2 = f1.f

[2019-02-12 16:47] samuel-rubin commented on #2637
I noticed that the properties and builds feature of an artifact is not allowed on the OSS version.

[2019-02-12 17:02] ben-walsh opened #4704 "JTReg test fail - java/lang/invoke/ArrayLengthTest.java"
Intermittent failures ...

[code]

... observed with test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/ArrayLengthTest.java.

See [consoleText.txt](https://github.com/eclipse/openj9/files/2856752/consoleText.txt).

100x run - see [consoleText.txt](https://github.com/eclipse/openj9/files/2856762/consoleText.txt) - showing 1% failure rate.

100x with -Xin

[2019-02-12 17:04] gita-omr commented on #3421
Just merged #4159

[2019-02-12 17:11] fjeremic commented on #3421
@gita-omr left some extra review comments on that PR. There are some changes required.

[2019-02-12 17:20] sophia-guo commented on #4698
Same failure reported in JBS https://bugs.openjdk.java.net/browse/JDK-5019303 as closed. Need to reopen it and we can close this one.

[2019-02-12 17:30] smlambert commented on #3399
re-included: https://github.com/AdoptOpenJDK/openjdk-tests/pull/886

[2019-02-12 18:24] 0xdaryl commented on #4609
With the data you have collected on current applications of interest, the expected work needed to get it into a stable state, and the limited expected performance benefit, I'm inclined to suggest you retire this technical debt.

Although I am curious what the original use case or compilation scenario for this feature was.  That was probably 15 years ago so it may no longer be relevant.

[2019-02-12 18:48] DanHeidinga commented on #4609
Less than 15 years but getting close to that now as I wrote the original Builder code to handle saving / restoring them when calling into the interpreter or helpers.  If I recall correctly, the motivation was to get some additional registers as more registers usually meant faster code :)

[2019-02-12 19:01] DanHeidinga commented on #4704
Relevant code in OpenJ9 for creating the MH used in the test:
https://github.com/eclipse/openj9/blob/065a85358286844b8637b7177f09092860ef24ea/jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java#L3422-L3427

Note, we create an MH of type `(Object[])I` and then convert the type to the required type - the `cloneWithNewType` call

[2019-02-12 19:05] DanHeidinga commented on #4704
Actually, the interesting line in the test case is:
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/c24201865ace5db74af90d861686d6576cec33b9/test/jdk/java/lang/invoke/ArrayLengthTest.java#L61

which maps to
https://github.com/eclipse/openj9/blob/065a85358286844b8637b7177f09092860ef24ea/jcl/src/java.base/share/classes/java/lang/invoke/MethodHandles.java#L3352-L3355
and the helper method:
h

[2019-02-12 19:11] DanHeidinga commented on #4704
We'll have to use https://github.com/eclipse/openj9/blob/87f128a0e7e924befcb2841eafbc8c951e915527/jcl/src/java.base/share/classes/java/lang/reflect/Array.java#L367 instead

[2019-02-12 19:27] DanHeidinga opened #4707 "Should -XX:+ContainerSupport be the default outside containers?"
In https://github.com/eclipse/openj9/issues/2263, it was decided to enable container support by default based on the belief that this only modified things in a container:

_Originally posted by @DanHeidinga in https://github.com/eclipse/openj9/issues/2263#issuecomment-427224689_

When reviewing #2954, I was surprised to see that `omrsysinfo_cgroup_get_enabled_subsystems` includes some cgroup syste

[2019-02-12 20:11] pshipton commented on #4702
Likely the same problem as https://github.com/ibmruntimes/openj9-openjdk-jdk11/issues/131

[2019-02-12 20:16] pshipton opened #4710 "Create more xlinux machines"
Please create more xlinux machines. As per https://github.com/eclipse/openj9/issues/4559#issuecomment-462832715 we have the CPUs at UNB to create more xlinux machines. I've often seen this platform backlogged due to the large heap builds and cmake builds that occur on xlinux.

[2019-02-12 20:16] pshipton commented on #4559
@jdekonin I think we have had enough time with the new machines active to track the bandwidth. Are there any concerns so far?

Created https://github.com/eclipse/openj9/issues/4710

[2019-02-12 20:16] pshipton commented on #4710
@jdekonin @cwillhelm

[2019-02-13 02:41] ashu-mehra commented on #4707
I think this is intentional because JVM can be running in cgroups on the host as well, in which case it should honor the restrictions imposed by the cgroup on memory and CPU.
So whether the JVM is running in container, or directly on host in cgroups, it would use the cgroup limits.

On another note `-XX:+UseContainerSupport` is actually a misnomer. A better name would have been `-XX:+UseCgroupSupp

[2019-02-13 04:57] headius opened #4717 "Too many open files error running Maven build of JRuby"
The JRuby maven build does touch a lot of files, but under HotSpot JDK8, the build completes fine.

When run on OpenJ9 JDK8 I get the following result:

[code]

With verbose maven logging on (`-X`) the following exceptions are at the root end of the exception chain:

[code]

[2019-02-13 04:58] headius commented on #4717
Oh to run the JRuby maven build, just clone it from https://github.com/jruby/jruby and run `mvn package` or `./mvnw package` if you don't have Maven 3.1 or higher in PATH.

[2019-02-13 05:25] pshipton commented on #4717
What OpenJ9 build are you using? This sounds like a problem that was fixed after the 0.12 release of OpenJ9, and if you try a nightly build from adoptopenjdk.net it might work.

[2019-02-13 05:27] pshipton commented on #4717
The fix I'm thinking of is #4442

[2019-02-13 11:08] vogella commented on #1924
Any progress here?

[2019-02-13 11:46] dpishchukhin commented on #1924
It's already there.

<img width="383" alt="screenshot 2019-02-13 at 12 45 54" src="https://user-images.githubusercontent.com/311588/52709552-5be2df80-2f8d-11e9-9460-d1fde6bfa275.png">

[2019-02-13 12:28] #4660 closed

[2019-02-13 14:01] #4686 closed

[2019-02-13 14:19] JasonFengJ9 commented on #4681
Not able to reproduce in a 30x grinder, so please try in an eclipse grinder instead.

[2019-02-13 14:20] akrus commented on #3750
Looks OK with 0.11, closing.

[2019-02-13 14:20] #3750 closed

[2019-02-13 14:41] avermeer opened #4718 "C++ code using AdoptOpenJDK 11.0.2 with Eclipse J9's libjsig.so hangs if it is using signal() method"
Hello,

We have a blocking issue specific to AdoptOpenJDK 11.0.2 with Eclipse J9 on Linux with our way to use signal handling native libraries to ignore ^C interrupt.

The same code is working fine with:
- AdoptOpenJDK 8 update 202 with HotSpot on Linux
- AdoptOpenJDK 8 update 202 with OpenJ9 on Linux
- AdoptOpenJDK 11.0.2 with OpenJ9 on Linux

I have a simple test case reproducing the issue, see

[2019-02-13 14:53] DanHeidinga commented on #4718
@babsingh Can you take a look at this?

[2019-02-13 15:10] DanHeidinga commented on #3750
Thanks for confirming @akrus and for all you help with reproducing this issue!  I'm glad we were able to get it resolved.

[2019-02-13 15:28] pshipton commented on #4681
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/270/

[2019-02-13 15:35] pdbain commented on #4640
Issue #4458 is nominally resolved as of 11 February.  The test log shows the JVM is older:
[code]
@StephanieMeakins or @ben-walsh would you kindly retest with a current build?
Thank you.
    -p

[2019-02-13 15:47] DanHeidinga commented on #1924
Awesome!  Many thanks for getting the Adopt builds - both OpenJ9 and Hotspot - on SDKMAN

[2019-02-13 15:47] #1924 closed

[2019-02-13 15:52] vogella commented on #1924
Thanks also from my side.

On Wed, Feb 13, 2019 at 4:47 PM Dan Heidinga <notifications@github.com>
wrote:

--
Eclipse Platform project co-lead
CEO vogella GmbH

Haindaalwisch 17a, 22395 Hamburg
Amtsgericht Hamburg: HRB 127058
Geschäftsführer: Lars Vogel, Jennifer Nerlich de Vogel
USt-IdNr.: DE284122352
Fax (040) 5247 6322, Email: lars.vogel@vogella.com, Web:
http://www.vogella.com

[2019-02-13 15:53] jdekonin commented on #4559
Its been a 6-10 days and over 2 weekends so not the best sample size, but I haven't been looking at numbers/times at all.  @AdamBrousseau have you been monitoring?

[2019-02-13 16:14] jdekonin commented on #4710
We can look into this at some point next week.  There was discussion on moving xlinux to cent6 as its the lowest supported glibc platform.  So this might be a good opportunity to do this cutover.

[2019-02-13 16:26] tajila opened #4719 "Add PR build capability for ValueTypes"
# Description
 - Add a PR build to test a ValueTypes enabled JDK. The valueTypes changes are not enabled by default and require to be compiled with specific flags turned on. For this reason, it cannot be tested with the existing PR builds.

# Reason for issue
- Valhalla is a multi-release project that contains many features. Some of these have already been released such as nestmates and varhandles

[2019-02-13 16:48] PhilWakelin commented on #4674
It would also be good to know if the storage reported from the MemoryPool MBean is in 31 or 64-bit as both the Class storage, and the JIT code cache can be above or below the bar, depending on compressedrefs or RMODE64.

[2019-02-13 16:55] ben-walsh opened #4720 "JTReg test fail : Linux s390 - java/util/BitSet/stream/BitSetStreamTest.java"
Intermittent failure ...

[code]

... observed with test on zLinux. See [consoleText.txt](https://github.com/eclipse/openj9/files/2861309/consoleText.txt).

200x run show 0.5% failure rate - see [consoleText.txt](https://github.com/eclipse/openj9/files/2861315/consoleText.txt). Suspicious that it's the first of the runs that failed.

200x with -Xint run in progress, as it smells like JIT.

[2019-02-13 17:12] ben-walsh commented on #4704
200x run on Linux shows 0.5% failure rate - see [consoleText.txt](https://github.com/eclipse/openj9/files/2861362/consoleText.txt). I'm adjusting the title and platform exclusion accordingly.

[2019-02-13 17:30] cwillhelm commented on #4559
`ub16x64j91` has been re-created.

[2019-02-13 17:37] JasonFengJ9 commented on #4681
Reproduced once at `gnu.testlet.java.util.logging.Logger.TestSecurityManager` (initial failure was `gnu.testlet.java.util.logging.Handler.TestSecurityManager`).
[code]

The code in question is similar.
[code]

[2019-02-13 17:56] jdekonin commented on #4634
Once I removed rebase activity I have a new problem.
[code]
https://github.com/eclipse/openj9/blob/99e024af1e763969da4a3030ec72543dd3d4ea88/runtime/compiler/build/rules/win-msvc/common.mk#L57
`$(SOLINK_CMD) -DLL -subsystem:windows $(SOLINK_FLAGS) $(patsubst %,-libpath:%,$(call FIXPATH,$(SOLINK_LIBPATH))) -OUT:$(call FIXPATH,$@) -MAP:$(call FIXPATH,$@.map) -BASE:$(SOLINK_ORG) -DEF:$(call FIXPATH,$(

[2019-02-13 18:25] fjeremic commented on #3577
@dhong44 will we get to this by the 0.13.0 milestone or should we push it to 0.14.0?

[2019-02-13 18:26] fjeremic commented on #4162
@NigelYiboYu this is slated for 0.13.0, could you prioritize it accordingly?

[2019-02-13 18:27] NigelYiboYu commented on #4162
OK. Making it my first priority now.

[2019-02-13 18:34] jdekonin commented on #4559
Machine has been added back into use on jenkins.  Please advise if there are problems with it.

[2019-02-13 19:40] pshipton commented on #4719
@jdekonin

[2019-02-13 20:40] dsouzai commented on #4201
This is the output from the assert:
[code]
From GDB:
[code]
Looking at the stackslots:
[code]
The bad O-slot comes from rbx, which got its value from
[code]
This looks very similar to https://github.com/eclipse/openj9/issues/4138#issuecomment-454560069; this is also a warm AOT'd body:
[code]
I believe that this bug is caused by the problem described in https://github.com/eclipse/openj9/issues/4621

[2019-02-13 20:45] NigelYiboYu commented on #4162
Pull request: https://github.com/eclipse/openj9/pull/4724
I'm currently running tests.

[2019-02-13 20:52] AdamBrousseau commented on #2637
Running some tests to collect data on transfer times of SDKs to/from Artifacotry to all sites.

Test case:
   - Grab machine at SITE
   - Copy SDK from Build job (Jenkins master)
   - Upload SDK to Artifactory
   - Grab new machine at SITE (possibly the same machine)
   - Download SDK from Artifactory
   - Run java -version

I will schedule this build to run every 3 hours so I can collect data thr

[2019-02-13 20:55] AdamBrousseau commented on #4559
I had not been monitoring but a quick glance at the compile and test jobs show normal times for transferring to/from unb/jenkins master.

[2019-02-13 21:17] pshipton commented on #3584
Fixed in all versions, closing.

[2019-02-13 21:17] #3584 closed

[2019-02-13 21:28] aviansie-ben commented on #4242
I've started opening PRs to get this functionality merged. The PRs that need to be merged before this can be considered complete are:

- [ ] OpenJ9: Add support for SVM relocations to Power AheadOfTimeCompile
- [ ] OpenJ9: Fix improper J9Class materialization during IL generation (#4729)
- [ ] OpenJ9: Disable callerClassLoader optimization under AOT (#4727)
- [ ] OMR: Fix check for whether wide re

[2019-02-13 21:46] sophia-guo commented on #4613
See the same failure with linux java8

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-64_linux/454/consoleFull

[2019-02-13 22:03] sophia-guo opened #4732 "JTReg test fail - JAVA8 windows : java/nio/channels/AsyncCloseAndInterrupt.java"
java/nio/channels/AsyncCloseAndInterrupt.java.AsyncCloseAndInterrupt failed on java8 windows with 'Execution failed: `main' threw exception: java.lang.Exception: Pipe.SourceChannel/readv/close threw an exception    '

[code]
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_hs_openjdktest_x86-64_windows/203/testReport/junit/java_nio_channels_AsyncCloseAndInterrupt/java/AsyncCloseAndInterr

[2019-02-13 22:06] pshipton commented on #3850
@JasonFengJ9 @theresa-m is somebody looking at transform?

[2019-02-13 22:07] pshipton opened #4733 "New methods in Class for jdk12"
arrayType()
componentType()
descriptorString()

http://cr.openjdk.java.net/~iris/se/12/build/latest/api/java.base/java/lang/Class.html

[2019-02-13 22:08] pshipton commented on #4733
@theresa-m @JasonFengJ9 @DanHeidinga

[2019-02-13 22:12] fjeremic commented on #3850
In addition I'd like to add to please take a look at the corresponding StringLatin1 and StringUTF16 classes to see if OpenJDK has already added helpers for these APIs which we can reuse. IIRC that was th ecase for some of the previous Java 12 methods.

[2019-02-13 22:18] pshipton opened #4734 "java.security.manager=disallow in jdk12"
See setSecurityManager() in http://cr.openjdk.java.net/~iris/se/12/build/latest/api/java.base/java/lang/System.html

[code]

[2019-02-13 22:18] pshipton commented on #4734
@JasonFengJ9 @DanHeidinga

[2019-02-13 22:22] JasonFengJ9 commented on #3850
Not that I am aware of.

[2019-02-13 22:24] pshipton commented on #4733
Handled by #4157

[2019-02-13 22:24] #4733 closed

[2019-02-13 22:29] JasonFengJ9 commented on #4734
Will take this.

[2019-02-13 22:57] pshipton commented on #4734
Also see the table in the description for http://cr.openjdk.java.net/~iris/se/12/build/latest/api/java.base/java/lang/SecurityManager.html

"allow" is also permitted.

[2019-02-13 22:59] pshipton commented on #4734
Might check with a test case to see if jdk8 should support "disallow" and "allow".

[2019-02-13 23:13] pshipton commented on #3850
@DanHeidinga we need an implementation for `String.transform​(Function<? super String,? extends R> f)`

@theresa-m @sharon-wang any outlook for indent(int)? The feature complete date is Feb 25.
There is no StringLatin1, StringUTF16 helper.

[2019-02-14 01:44] #3768 closed

[2019-02-14 01:44] #4158 closed

[2019-02-14 01:50] pshipton commented on #4661
@DanHeidinga this is the only jdk12 sanity failure not yet understood.

[2019-02-14 01:52] JasonFengJ9 commented on #3850
Will take `String.transform​(Function<? super String,? extends R> f)`.

[2019-02-14 02:52] DanHeidinga commented on #4661
@fengxue-IS can you take a look at this?

[2019-02-14 03:22] DanHeidinga commented on #4704
I'm not sure how this ever passes given the array created will always be the wrong type for any Object subclass.  It should fail 100%.

[2019-02-14 12:53] #4138 closed

[2019-02-14 13:03] pshipton commented on #4559
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_x86-64_cmprssptrs/230/
[code]

[2019-02-14 13:08] pshipton commented on #4201
Running the testing here https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All/401/

[2019-02-14 13:12] pshipton commented on #3340
@andrewcraik since testing regularly fails due to this problem, is there something we can do to the test code in order to avoid causing the problem?

[2019-02-14 13:55] ben-walsh opened #4737 "JTReg test fail - Windows : com/sun/net/httpserver/Test13.java"
Intermittent coredump ...

[code]

... observed with test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/com/sun/net/httpserver/Test13.java on Windows.

See [consoleText.txt](https://github.com/eclipse/openj9/files/2864841/consoleText.txt)

Unfortunately an internal 100x run didn't produce a failure.

Attempting an internal 300x run now.

[2019-02-14 14:10] andrewcraik commented on #3340
@pshipton the fix is open at OMR - we should just try to get that moved along because it will make all of this go away. There isn't a simple work around.

[2019-02-14 14:12] andrewcraik commented on #3340
The OMR fix is fully approved so I've @'d a few committers in the hope someone can merge for us and we can pick-up the fix today (assuming acceptance is flowing)

[2019-02-14 14:16] pshipton commented on #3340
@andrewcraik what is the fix PR please.

[2019-02-14 14:17] pshipton commented on #3340
https://github.com/eclipse/omr/pull/3540 I assume?

[2019-02-14 14:24] andrewcraik commented on #3340
It is mentioned above eclipse/omr#3540

[2019-02-14 14:25] theresa-m commented on #3850
We're on it. @sharon-wang is working on some tests for the method.

[2019-02-14 14:26] cwillhelm commented on #4559
These machines are configured with DHCP, so whenever they are re-deployed they get a new IP. The new address for that host is  `192.168.10.182`

[2019-02-14 15:25] jdmpapin commented on #3752
#4723 has been merged

[2019-02-14 15:25] #3752 closed

[2019-02-14 15:37] pshipton commented on #4559
The test doesn't have any IP address hard coded. It must have retrieved 192.168.10.154 from the machine somehow.

[2019-02-14 16:06] #4446 closed

[2019-02-14 16:11] LinHu2016 commented on #4674
currently JMX MemoryPoolMXBean retrieves nonHeap Memory usage via memory segment (used and committed only), need a guideline for retrieving max size from JIT. Thanks

[2019-02-14 16:23] joransiu commented on #4674
@mpirvu

[2019-02-14 16:26] cwillhelm commented on #4559
@pshipton indeed, it appears `virt-sysprep` didn't modify `/etc/hosts` on startup. Updated the file to the proper IP.

[2019-02-14 16:37] fengxue-IS commented on #4661
I will look into this

[2019-02-14 16:41] fjeremic opened #4741 "Improve handling of endianness in the VM and JIT"
As part of #4688 we made a slight change in some test cases to make use of the `java.nio.ByteOrder` utilities provided in the standard library. Namely the `nativeOrder()` static function which returns endianness of the execution environment. This value is actually a compile time constant which should enable the JIT to fold away quite some code.

Grepping the codebase there are several uses of this

[2019-02-14 16:43] fjeremic commented on #4597
Fix is in #4688 and is waiting for a committer to pick it up. Thanks for letting us know about this bug!

[2019-02-14 17:19] AdamBrousseau commented on #2637
If we are to go ahead with Artifactory, these are the remaining actions I can think of. Not sure if any of them need to be a blocker other than the approvals and PRs. Let's see how many we can get completed before we are ready to turn it on @samuel-rubin. FYI @jdekonin @smlambert

- [ ] Approvals of acceptable transfer times
   - [ ] @pshipton
   - [ ] @DanHeidinga
- [ ] https/certificate
- [ ] Di

[2019-02-14 18:02] pshipton commented on #2637
Transfer times all seem reasonable except for AIX. Strange that download is considerably slower than upload. We should look into it and see if it can be improved. Is the disk really slow?

[2019-02-14 18:13] AidanHa commented on #2974
Hello, I will be working on this issue.

At the moment, my understanding is that we want a way to distinguish arguments created by the user and arguments generated by the VM. I was thinking of simply making a new flag for J9VMInitArgs that is set if the argument is user raised.

I checked the options file for OpenJ9 and it seems like the only option present is:
'Xlockword:mode=default,noLockword=j

[2019-02-14 18:35] theresa-m commented on #2974
Hey @AidanHa the "TestProgram" that was used to get the example output was actually just calling the Java method `jdk.internal.misc.VM.getRuntimeArguments()` and printing the output. `-Xint` and the user @option file were just examples of user arguments but they could be any vm options. Right now the `getRuntimeArguments` method is returning more information than needed in our implementation becau

[2019-02-14 18:46] AidanHa commented on #2974
Thank you for the clarification! Would it be possible to send me the "TestProgram" just so I can accurately reproduce the issue?

So to clarify I will initially be making changes to `getRuntimeArguments` so that it ONLY returns user arguments.

[2019-02-14 18:53] pdbain-ibm commented on #2974
@AidanHa Please include me in this discussion, as this was my implementation.
`vmargs` constructs the argument list from a number of sources, some provided by the user and some generated automatically, such as the bootstrap classpath extensions directory, etc.

There are other arguments such as `-Xoptionsfile` which are expanded to the contents of said file: we should include the latter and discar

[2019-02-14 18:55] pdbain-ibm commented on #2974
You can look at the changes for jps:
https://github.com/eclipse/openj9/pull/4650/files#diff-e1b525f5e520f5d1caa62b5fd1205925

[2019-02-14 19:07] theresa-m commented on #2974
It doesn't look like I kept my TestProgram but let me know if you need any help making one of your own when you get to that point.

Start first with your solution to distinguish between user and vm arguments. The resources Peter linked will be a good place to start looking.

[2019-02-14 19:21] #4351 closed

[2019-02-14 19:25] pshipton commented on #4201
Test passed. Doing a 5x grinder as well https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/271/

[2019-02-14 19:28] headius commented on #4717
This is a release of 8 from AdoptOpenJDK:

[code]

[2019-02-14 19:37] DanHeidinga commented on #4717
The fix for #4442 didn't make it into the release.  Can you test with a nightly build from Adopt?

[2019-02-14 19:37] headius commented on #4717
I just tried the latest 8 nightly and it still gives me the same error.

[code]

This also does *not* appear to break for @enebo on Linux, even with the release build.

[2019-02-14 19:38] AdamBrousseau commented on #2728
Artifactory work https://github.com/eclipse/openj9/issues/2637#issuecomment-463713111

[2019-02-14 20:04] #4522 closed

[2019-02-14 20:14] headius commented on #4717
Latest release on Linux succeeds building JRuby: https://travis-ci.org/jruby/jruby/builds/493418833

[2019-02-14 20:18] pdbain-ibm commented on #4717
Could you please send the outputs of `ulimit -Sn` and `ulimit -Hn`?

[2019-02-14 20:39] headius commented on #4717
[code]

[2019-02-14 21:02] pshipton commented on #4201
5x grinder passed.

[2019-02-14 21:08] DanHeidinga commented on #2637
@AdamBrousseau How many builds are uploading / downloading from artifactory at once vs Jenkins?

The current transfer times look fine to be the same or less than the Jenkins times which is a plus provided they stay at that level when there's as many concurrent accesses as Jenkins has

[2019-02-14 21:13] pshipton commented on #4663
@JasonFengJ9 can we exclude this test, at least temporarily, to get green test results for jdk12.

[2019-02-14 21:14] pshipton commented on #4662
@JasonFengJ9 can we exclude this test, at least temporarily, to get green test results for jdk12.

[2019-02-14 21:14] pshipton commented on #4658
@JasonFengJ9 can we exclude this test, at least temporarily, to get green test results for jdk12.

[2019-02-14 21:20] AdamBrousseau commented on #2637
I think the AIX issue is pipe. Joe tested pulling onto an Adopt AIX machine which is hosted at OSU (same site as Artifactory) and the times were around 5s. I don't think we would be able to do anything about that other than get machines somewhere else.

[2019-02-14 21:30] AdamBrousseau commented on #2637
My test is 6 at once (1 per SPEC). Each run would be staggered by how long it takes to first get a machine, then get the SDK from Jenkins to test with. I can add more but I didn't want to hog machine time from real builds. We could theoretically have as many upload/download requests at a single point in time as we have number of machines. Keep in mind that these transfer times only contribute to ~

[2019-02-14 21:42] JasonFengJ9 commented on #4658
@pshipton the test in question depends on reflection of field `annotations` to verify the test results:
https://github.com/eclipse/openj9/blob/6ae06288ecc080788394732958aae3748321109f/test/functional/JavaAgentTest/src/org/openj9/test/javaagenttest/Cmvc196982.java#L137-L140
I didn't see a diagnosis switch to workaround this restriction however the field in question can be retrieved via package acce

[2019-02-14 21:42] pshipton opened #4747 "Test-sanity.functional-JDK11 crash Compiled_method=org/openj9/test/unsafe/UnsafeTestBase.testGetLong"
In OMR acceptance build
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_390-64_cmprssptrs/498/
[code]

[2019-02-14 21:46] fjeremic commented on #4747
@dchopra001 can you help take a look at this one?

[2019-02-14 21:58] AdamBrousseau commented on #2637
First run with 3 pulls in parallel per spec
zlinux: 32s, 36s, 31s
xlinux: 2m3s, 2m5s, 2m15s
plinux: 1m32s, 1m40s, 1m31s
osx: 1m11s, 1m42s, 1m33s
win: 9s, 11s, 10s
(aix machines busy)
Another point, x/p/osx all at UNB so that's 9 pulls "at the same time" from Artifactory to UNB.

[2019-02-14 22:02] pshipton commented on #4658
If the test can be changed to use getAnnotationBytes(), that is preferred. It will be a couple of days before all the failures are addressed, so excluding it quickly doesn't really provide any benefit over fixing it.

[2019-02-14 22:03] #4734 closed

[2019-02-14 22:06] pshipton commented on #3641
@keithc-ca what is the next step to remove the workaround?

[2019-02-14 23:01] babsingh commented on #4560
While reading a `SocketInputStream`, `in.read()` should block since no input data is available.
[code]

While **Thread 1** is blocked by `in.read()`, **Thread 2** closes the socket `s.close()`, which should generate `SocketException` in **Thread 1** `in.read()`. The test passes when **Thread 1** successfully catches `SocketException`.
[code]

`SocketInputStream` `in.read()` doesn't block, and **Th

[2019-02-14 23:23] dchopra001 commented on #4747
Looking at the core file, we can see the JITTed code that leads to the crash:

[code]

We crash at the last `lg` instruction at offset 3634. Looking at the register states:

[code]

The sum of $r10 and $r12 is `0x000003ff0c981430`. So when we try to do a load using `lg        gpr1,0(gpr12,gpr10)`, we result in a crash. Either the constant `0x2EFDA8` used by `LLILF` is incorrect, or we somehow corr

[2019-02-15 04:06] pshipton commented on #4702
Should be fixed now.

[2019-02-15 04:06] #4702 closed

[2019-02-15 04:25] pshipton commented on #3340
eclipse/omr#3540 is merged and promoted so in theory this is fixed. I'll close it now and re-open if the problem is seen again.

[2019-02-15 04:25] #3340 closed

[2019-02-15 05:34] babsingh commented on #4718
fyi @avermeer.
Append the directory that contains `libomrsig.so` to `LD_LIBRARY_PATH`.

1. Modified command for OpenJ9 JDK11:
[code]

2. Modified command for OpenJ9 JDK8 (if the latest Adopt OpenJ9 JDK8 nightly builds are used):
[code]

The following functions are being invoked recursively:
1. `signal`: https://github.com/eclipse/openj9/blob/master/runtime/jsigWrapper/jsig.c#L100
2. `getFunction`:

[2019-02-15 10:25] ben-walsh commented on #4737
300x run showed 3 core dump events - 2 of those look to be a result of access problems to temporary files and the remaining one does not. See [consoleText.txt](https://github.com/eclipse/openj9/files/2868831/consoleText.txt).

[2019-02-15 12:23] ben-walsh commented on #4720
Also observed on Linux x86-64. Updating exclusion and title accordingly.

[2019-02-15 13:51] pdbain-ibm commented on #4717
Thanks.  Working on this now.  For the record, could you add your OS version?

[2019-02-15 14:44] ben-walsh commented on #4737
Coredump files obtained from 100x run archiving workspace - https://ibm.box.com/s/mvc6uh5sap70lek86rx3iisqoqayjfrd - see [consoleText.txt](https://github.com/eclipse/openj9/files/2869617/consoleText.txt). This run had 2 core dump events, neither of which seem to be related to temporary file access.

Looks like there are a couple of different core dumping triggers this test is identifying.

[2019-02-15 15:17] pshipton opened #4751 "Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs cmdLineTester_jvmtitests_hcr_4 crash vmState=0x00050080"
omr acceptance build, but unrelated to the omr changes.
Note the test didn't fail, but I don't think it is supposed to crash.
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/478
cmdLineTester_jvmtitests_hcr_4
[code]

[2019-02-15 16:01] JasonFengJ9 commented on #4658
This test `org.openj9.test.javaagenttest.Cmvc196982` requires reflection access to following `class/field`:
https://github.com/eclipse/openj9/blob/8095d8078c473a3815e31a16c69b9590d6b062d0/test/functional/JavaAgentTest/src/org/openj9/test/javaagenttest/Cmvc196982.java#L85-L86

`Method.class.getDeclaredField("annotations")` can be workaround via `Method.java:byte[] getAnnotationBytes()`, however the

[2019-02-15 16:23] dsouzai commented on #3032
Addressed by https://github.com/eclipse/openj9/issues/3752

[2019-02-15 16:23] #3032 closed

[2019-02-15 16:24] dsouzai commented on #3029
Addressed in the original PR https://github.com/eclipse/openj9/pull/2919

[2019-02-15 16:24] #3029 closed

[2019-02-15 16:36] keithc-ca commented on #4718
@babsingh I think the simple solution to this is to use `j9sl_open_shared_library` rather than `dlopen` directly which will find omrsig in the same folder where the port library was loaded.

[2019-02-15 16:47] AdamBrousseau commented on #4573
See also Adopt machine lists
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/71b620b1ca7e2e1153200ef20e7a75afef99ee3a/infrastructure.md
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/inventory.yml

[2019-02-15 17:17] babsingh commented on #4718
@keithc-ca I think `jsig` and `omsig` libraries are standalone. Currently, these libraries don't depend on the port library. To use `{j9|omr}sl_open_shared_library` in `jsig` or `omrsig`, it will require linking the port library to `jsig|omrsig`. It will also require the initialization of the port library before `*sl_open_shared_library` can be invoked in `jsig|omrsig`. The overhead for the `jsig|

[2019-02-15 17:49] keithc-ca commented on #4718
`jsig` is apparently *not* standalone - it depends on `omrsig`.

[2019-02-15 18:29] pdbain-ibm commented on #4717
Hmmm.  Setting the soft limit == hard limit fails if the hard limit is -1, since it exceeds the OS limit.
On MacOS the limit is `kern.maxfilesperproc: 24576` from `sysctlbyname()`, or possibly a property list on earlier versions. On Linux, it is `/proc/sys/fs/file-max`.

[2019-02-15 19:14] JasonFengJ9 commented on #4681
**Update**

This a `MauveMultiThreadLoadTest` which involves **multiple** threads:
[code]
The test code snippet [LoadTestRunner.java](https://github.com/AdoptOpenJDK/stf/blob/7327579a6c29ca76211c1a3750db81e8476b14cf/stf.load/src/stf.load/net/adoptopenjdk/loadTest/LoadTestRunner.java#L142-L155) in question:
[code]

**The test scenario caused `AccessControlException: access denied`:**
1. One thread

[2019-02-15 19:20] dsouzai commented on #3033
Addressed in https://github.com/eclipse/openj9/pull/2919

[2019-02-15 19:20] #3033 closed

[2019-02-15 19:30] keithc-ca opened #4757 "jdmpview: NoSuchFieldError accessing older core file"
The fix for https://github.com/eclipse/openj9/issues/3062 introduced a new constant (`J9_EXTENDED_RUNTIME_POSITIVE_HASHCODE`) that won't be present in older core files: its value must be acquired via reflection.

[2019-02-15 19:45] smlambert commented on #4681
We could give it a try.  @Mesbah-Alam is away until March, not sure if @lumpfish has any spare cycles for this work?

[2019-02-15 22:12] JasonFengJ9 opened #4764 "Windows IA32 NPE at java.util.Vector.size(Vector.java:329)"
From an internal test (job link is not accessible externally)
Load_Level_2.abbs.5mins.Mode187
[code]

The code snippet [Vector.java](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/4d2b0d68a3fbb3c0fc3d0ab5821e0908e2b077bd/jdk/src/share/classes/java/util/Vector.java#L329) in question:
[code]

Could JIT team offer some insights?

The result is available at https://ibm.box.com/s/cbaa7kpoohi8n

[2019-02-15 22:46] dsouzai opened #4765 "Add a validation record for isClassVisible"
`TR_J9SharedCacheVM::isClassVisible` currently only checks if `sourceClass` and `destClass` have been validated before calling the runtime frontend query `TR_J9VMBase::isClassVisible`. However, the class chains being valid in multiple runs doesn't necessarily imply visibility. Therefore, for AOT w/ SVM, a new validation record should be generated for this front end query.

This work is a good exer

[2019-02-15 22:50] jdekonin commented on #4634
Seems there is a environment variable expected to be set within the code.
https://github.com/eclipse/openj9/blob/2f4bf3bc2c2c20124019e3a13cf5ae1c3e2ea97b/runtime/compiler/build/toolcfg/win-msvc/common.mk#L217
[code]

Problem resolved if I set MSVC_VERSION as expected, at least on 64bit.  The next challenge to tackle is the 32bit `Could not find msvcp100.dll.` which can be bypassed with `--with-msv

[2019-02-15 22:53] ChengJin01 commented on #4098
I already reproduced the same crash with the Windows build with jlink but it works good on the Linux build. Initial investigation shows the problem is only related to  **--compress=2** (compression level: zip).   "test_jre/bin/java -version" (test_jre was generated by jlink) works good with --compress=0 and --compress=1

Looking at the explanation of this option:
[code]
That means the problem happ

[2019-02-15 23:42] dsouzai opened #4766 "Windows jdk11 build failure: No indication of failed target found"
jdk11 win build failure (eg https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-win_x86-64_cmprssptrs-OpenJ9/313/consoleText) with the following error:

[code]

[2019-02-15 23:58] #4757 closed

[2019-02-16 04:55] pshipton commented on #4766
This is the reason
[code]
and the problem has already been fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/138

[2019-02-16 04:55] #4766 closed

[2019-02-16 05:12] pshipton commented on #4764
Probably related
[linux_x86] SE80_GIT jsr335tests_SE80_2
[code]

[2019-02-16 14:46] gacholio commented on #4741
` Teach the JIT to fold away a call to java.nio.ByteOrder.nativeOrder() to a load of the respective static field at IL generation time`

This is a compile-time constant, there's no need to load anything.

[2019-02-16 17:45] avermeer commented on #4718
Hello @babsingh ,

Your work around based on LD_LIBRARY_PATH extra content works like a charm, not only with our sample case, but also with our actual application.

Thank you very much for your outstanding answer, the details are impressive, and thanks also for the warning that we would also hit the issue with latest AdoptOpenJDK 8 with OpenJ9 builds.

Just in case somebody else reads this thread

[2019-02-16 17:57] avermeer opened #4768 "How about an AdoptOpenJDK Server JRE binary distribution?"
Hello,

To run our Java server-side applications, we have been using for many years the ORACLE Server JRE binaries.

AdoptOpenJDK distributions come as JDK or JRE, but no Server JRE distribution is currently available.

The notion of Server JRE is roughly defined here: https://blogs.oracle.com/java-platform-group/understanding-the-server-jre

The neat idea is that a JDK is kind of overkill on a pr

[2019-02-18 07:41] akrus opened #4769 "Metronome GC - pause times increase with uptime"
Hello!

I noticed strange behavior when OpenJ9 is running when application is running as a daemon.

![image](https://user-images.githubusercontent.com/36325/52934824-40e2e780-3360-11e9-9486-455a3e962d2a.png)
As you can see, 'GC quantum time maximum' usually is at 5 msec when the application is just started, increasing to 8-10 msec after ~40 hours of runtime (this varies and can be in the range 20-

[2019-02-18 08:36] apete commented on #4649
FYI

I did a follow-up comparison with HotSpot, Graal CE and Graal EE. While HotSpot is a natural benchmark now. Going forward Graal EE is the one to beat.

https://ojalgo.blogspot.com/2019/02/oracles-jvms-hotspot-graal-ce-graal-ee.html

[2019-02-18 09:19] andrew-m-leonard opened #4770 "JVM_INTERFACE_VERSION changed to 6 in JDK11,12,13"
OpenJDK have just incremented the JVM_INTERFACE_VERSION to 6 with bug:
  https://bugs.openjdk.java.net/browse/JDK-8216302
This has been pushed to JDK11,12,13 and has already auto-merged into our jdk11, 12&head to follow..

[2019-02-18 14:11] pdbain-ibm commented on #4717
Opened OMR issue https://github.com/eclipse/omr/issues/3579.

[2019-02-18 16:29] ben-walsh opened #4771 "JTReg Test Fail - Linux Large Heap : java/lang/invoke/lambda/LogGeneratedClassesTest.java"
Consistent failures ...

[code]

... observed with test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/lambda/LogGeneratedClassesTest.java.

See [consoleText.txt](https://github.com/eclipse/openj9/files/2876547/consoleText.txt).

No such failure with non large heap linux - see https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-

[2019-02-18 16:55] ben-walsh opened #4772 "JTReg Test Fail - Windows : java/rmi/activation/Activatable/checkRegisterInLog/CheckRegisterInLog.java"
Intermittent failures ...

[code]

... observed with test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/rmi/activation/Activatable/checkRegisterInLog/CheckRegisterInLog.java.

See [consoleText.txt](https://github.com/eclipse/openj9/files/2876673/consoleText.txt).

Coredump files available here - https://ibm.box.com/s/m4o9qhg26sqfh4btlm9w4s3ki2mw4dp6

[2019-02-18 17:28] pdbain-ibm commented on #4770
It is breaking the builds: https://ci.eclipse.org/openj9/job/Build-JDK11-linux_x86-64/615/console
What's the plan to fix it?

[2019-02-19 03:12] siruslan commented on #2312
Guys, I'm talking about vertical scaling with Java  at Geneva DevOps event this week and would like to mention OpenJ9 in this context as well.

What is the best or recommended way to quickly test vertical scaling with OpenJ9 and make sure that it works properly?

Please also let me know if you want to highlight anything specifics, for example recent updated related to this feature if any.

@DanHei

[2019-02-19 10:08] gaolibj opened #4774 "cmdLineTester_jep178_staticLinking_0 failed"
Detailed command:

Running command: /QopenSys/pkgs/jdk11/bin/../../native-test-libs//testjep178_static -jvmpath:/QopenSys/pkgs/jdk11/bin/../lib/j9vm -classpath:/home/niannian/jdk11test/openjdk-tests/TestConfig/scripts/testKitGen/../../../../jvmtest/functional/cmdLineTests/jep178staticLinkingTest/jep178staticLinkingTest.jar  -Xcompressedrefs  com/ibm/j9/tests/jeptests/StaticLinking
Time spent start

[2019-02-19 13:24] DanHeidinga commented on #4770
@andrew-m-leonard What other changes are required from the VM to support the new interface level?  Where JVM_ functions added or removed?

[2019-02-19 13:37] DanHeidinga commented on #2312
FYI @vijaysun-omr @mpirvu

[2019-02-19 13:55] jdekonin commented on #4065
OpenJ9 pull requests for JDK12 created and verified functional.

[2019-02-19 13:59] alexbde opened #4776 "OpenJDK8-OpenJ9 throws UnsatisfiedLinkError: sun/management/FileSystemImpl.isSecuritySupported0 when starting TomEE via IntelliJ IDEA"
Trying to deploy ear file on TomEE 1.7.5/7.1.0 via IntelliJ IDEA 2018.3.4 (TomEE run configuration) on Windows 7 x64 throws following exception:

[code]

It is working with Oracle OpenJDK and OpenJDK Hotspot (from AdoptOpenJDK).

This exception might be connected to #3909 (not quite sure).

[2019-02-19 14:48] DanHeidinga commented on #4776
@keithc-ca Any thoughts on this?

[2019-02-19 15:00] DanHeidinga commented on #4772
[code]
This suggests that someone is treating a J9Class as a java.lang.Class and reading a small offset from the eyecatcher.

FYI @andrewcraik as this is often a symptom of either a JIT or JNI native issues

[2019-02-19 15:05] andrewcraik commented on #4772
@DanHeidinga agreed - FYI @0dvictor though you are away for a couple of weeks. I'll see if we can get any additional help, but there are a few people away today with the Family Day holiday here in Ontario.

[2019-02-19 15:16] keithc-ca commented on #4776
The version of `FileSystemImpl` for Windows expects two additional native methods which openj9 does not provide.

[2019-02-19 15:58] amicic commented on #4769
The logs indicate that scanning finalization queue (of ready to be finalized, but unfinalized yet) of objects is a problem.

Here is a sample log:

<scan timestamp="Feb 15 07:37:55 2019">
	<thread id="0" ownablesynchronizerobjects="0.001" phantomrefscomplete="0.125" unfinalizedobjectscomplete="0.192" maxincrementtime="0.125" maxincremententity="unfinalizedobjectscomplete"/>
	<thread id="1" ownable

[2019-02-19 16:11] ben-walsh opened #4778 "JTReg Test Fail - Windows : java/rmi/activation/CommandEnvironment/SetChildEnv.java"
Intermittent core dumping when running this test.

[code]

See [consoleText.txt](https://github.com/eclipse/openj9/files/2880832/consoleText.txt)

Core dump files : https://ibm.box.com/s/6a7b89459gvzmqfetcbwem5p873balj1

[2019-02-19 16:32] fjeremic commented on #4741
@gacholio unfortunately this is only the case for JDK11, not JDK8. I checked the source code for this anomaly [1] [2].

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/4d2b0d68a3fbb3c0fc3d0ab5821e0908e2b077bd/jdk/src/share/classes/java/nio/ByteOrder.java#L71-L73
[2] https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/455c2c304c24257edff886e543cf18f95c4bb785/src/java.base/share/cla

[2019-02-19 16:34] fjeremic commented on #4741
I'm also not sure if the JIT will even fold it away in JDK11, part of this work item should be to verify what exactly the JIT does in JDK11 and JDK8.

[2019-02-19 16:35] pshipton commented on #4774
@pdbain-ibm I think you looked at this test before, any suggestions? I except the failure is on IBM i, which is based on the AIX code.

[2019-02-19 16:35] keithc-ca commented on #4776
While reviewing mgminit.c, I noticed `pathUTF` was freed even though it wasn't allocated on non-Windows platforms: I'll fix that too.

[2019-02-19 17:57] davehobbs opened #4780 "JDK 8 build errors e.g. 'package com.ibm.oti.shared does not exist'"
Trying to build DK 8 with Open J9 on a local ubuntu 16 04 machine. The builds are logging a number of error messages which are also present on the AdoptOpenJDK job output e.g:

https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9/227/consoleFull

`data/home/jenkins/workspace/build-scripts/jobs/jdk8u/jdk8u-linux-x64-openj9/workspace/build/src/jdk/src/share/cla

[2019-02-19 18:10] vij-singh commented on #3577
@dhong44 how are we looking for the 0.13.0 milestone?

[2019-02-19 18:12] vij-singh commented on #3421
@gita-omr are we still ok for 0.13.0 ?

[2019-02-19 18:15] vij-singh commented on #4334
Any new news on this one?

[2019-02-19 18:24] gita-omr commented on #4334
We have couple of ideas, hopefully something will come up. Basically, I suspect java/lang/J9VMInternals.fastIdentityHashCode(Ljava/lang/Object;)I is rarely compiled on its own, usually inlined. I hope if we enforce compilation of that method (eg disable inlining of it) we will see the failure.

@jdmpapin, we meant to ask: do you know anything special about that method?

[2019-02-19 18:34] smlambert commented on #214
We should first verify this is still an issue, as test annotation seems removed from tstSwitch

tstSwitch only called from testSwitchTest2, does not appear to be a standalone test case itself.
If that is the case, it can likely be switched to private.

[2019-02-19 18:56] smlambert commented on #1430
I am going to close this, as there are individual issues opened for the failures in LTS versions (jdk8,jdk11), and jdk9 is now retired.

[2019-02-19 18:56] #1430 closed

[2019-02-19 19:11] gacholio commented on #4741
Then let's get it fixed properly in the java code - it is clearly a constant for the entire run the of the VM.

Better yet, let's just ignore it - you already recognize all sorts of methods. Any change to this method to make it incorrect would clearly bring down the VM, so there's no danger.

[2019-02-19 19:20] dhong44 commented on #3577
I tried adding these asserts and have a passing build but I've been having some failures when using the `-Xjit:disable<arch>` options. It seems these are issues with the options themselves and not that we are generating instructions unsupported by the architecture level.

With `-Xjit:disable<arch>` testing on `java -version` I now have passing tests except 31 bit zOS where no output is printed to

[2019-02-19 19:27] DanHeidinga commented on #4661
@fengxue-IS This is targeted to the `0.13.0` release and needs to be delivered by Feb 25th to make the release.  Can you provide an update on where the investigation is at and whether there'll be a fix by then?

[2019-02-19 19:30] DanHeidinga commented on #4516
@andrewcraik This is targeted to the `0.13.0` milestone which needs to be completed by the Feb 25 split date.  Will this complete before then or does it need to move to the `0.14.0` milestone?

[2019-02-19 19:37] samuel-rubin opened #4782 "Create jenkins jobs via script and template"
The basic idea is to generate the existing set of pipelines jobs we use based on a template. If the jobs exist, the script should just update/modify to include new additions and revert any changes such that the job matches template/variable defined in code.

[2019-02-19 19:38] andrewcraik commented on #4516
It needs to move out - I am continuing to look at this while doing other things, but I'm not going to have a fix for 0.13.

[2019-02-19 19:40] AdamBrousseau commented on #2637
For the Artifactory server, these are our options for access
- Leave it open (anonymous read), which is what we have now with Jenkins.
- Lock it down (turn off anon-read), create a "dev" account which will be read-only. This account would be shared with anyone who needed access to download an sdk or test result file.

Unfortunately the free version does not allow configuring for LDAP or GH Teams a

[2019-02-19 19:40] samuel-rubin commented on #4782
I have modified the existing pipeline scripts to create the downstream job using the [Job DSL](https://github.com/jenkinsci/job-dsl-plugin) plugin on jenkins.

[2019-02-19 19:52] jdekonin commented on #4065
OpenJDK12 extensions pull request job created and verified functional.  Triggers tested via https://github.com/ibmruntimes/openj9-openjdk-jdk12/pull/17

Copyright, LineEndingsCheck and SignedOffByCheck for JDK12 were created under a different issue.

I believe this can be closed.

[2019-02-19 19:52] JasonFengJ9 commented on #4778
Looks like https://github.com/eclipse/openj9/issues/4772.

[2019-02-19 19:57] fjeremic commented on #4741
Can we even do this? We can easily fix it by just copying the JDK11 implementation into JDK8. Are we allowed to do this "backport" effectively? Not sure what the legalities are since it's OpenJDK code.

[2019-02-19 20:00] gacholio commented on #4741
Sorry, my point is you already recognize things that could be meaningfully modified (and presumably ignore the mods), so this is clear candidate for translation to compile-time constant.

[2019-02-19 20:01] mpirvu opened #4784 "Not all SVM queries can be executed at the JITaaS server"
Many of the SymboldValidationManager queries use constructs that cannot be executed safely at the JITaaS server. For example:
`J9_CP_FROM_CLASS(beholder)`
`J9_CLASS_FROM_METHOD(method)`
`TR_ResolvedJ9Method::getClassFromCP(_fej9, beholderCP, _comp, cpIndex))`
`TR_ResolvedJ9Method::getClassOfStaticFromCP(_fej9, beholderCP, cpIndex)`
`TR_ResolvedJ9Method::getInterfaceITableIndexFromCP(_fej9, beholde

[2019-02-19 20:07] fjeremic commented on #3577
Given the current state of this issue, the progress, and the fact that this is a non-functional improvement to the ecosystem I'm ok to move this to 0.14.0.

[2019-02-19 20:08] pshipton commented on #2637
I'm fine with leave it open, which is what we have now with Jenkins

[2019-02-19 20:17] JasonFengJ9 commented on #4770
@andrew-m-leonard please push this `JVM_INTERFACE_VERSION` to `JDK12` & HEAD. Current `JDK12` PR build failed with `Fatal error: JVM interface version mismatch: expecting 5, got 6.`.

[2019-02-19 20:26] a7ehuo opened #4786 "Save AOT Compilation Failure Information in Shared Class Cache"
If an AOT compilation fails for reasons that we know it will fail again, such as the type of methods is not supported by AOT compilation, we can mark it in SCC after the first time we fail to AOT compile it. In the subsequent runs, this information in SCC will prevent us from trying to AOT compile the same method and fail again, instead we choose to JIT compile the method directly.

[2019-02-19 20:34] mpirvu commented on #4784
Apparently, all "validate" queries are executed during the AOT load (thus at the client) so we don't have to worry about them.
"add" queries are executed during compilation and we have to scan them for correctness at the server.  I spotted one instance of `J9_CLASS_FROM_METHOD(reinterpret_cast<J9Method *>(method))` which needs to be replaced with `getClassFromMethodBlock` frontend query, but also

[2019-02-19 20:36] AdamBrousseau commented on #2728
Remaining concerns

- [ ] Separate builds by build identifier. Can be done now (ahead of time). Will allow for granular tuning of amount of history for each job.
   - [ ] Autogen jobs #4782 will alleviate concerns over job creation
   - [ ] Update variable file build_discarder with values for each build
   - [ ] Email dev mailing list

- [ ] Enable Artifactory #2637. Moves all the artifacts off of

[2019-02-19 20:40] pshipton opened #4787 "Test-extended.functional-JDK12 zlinux, aix testSCCMLAotMethodOperation_1 missing AOT Object.hashcode"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK12-aix_ppc-64_cmprssptrs/1
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK12-linux_390-64_cmprssptrs/2
[code]

[2019-02-19 20:40] llxia commented on #1409
systemtests are added. Close this issue.

[2019-02-19 20:40] #1409 closed

[2019-02-19 20:40] pshipton commented on #4787
@hangshao0 @JasonFengJ9

[2019-02-19 20:43] llxia commented on #1313
This issue is fixed by #579.

[2019-02-19 20:43] #1313 closed

[2019-02-19 20:44] DanHeidinga commented on #2728
@AdamBrousseau If a problem is discovered after making the switch, is it easy to backout of the change?  What would be involved?

[2019-02-19 20:49] mpirvu commented on #4674
The limits are present in `jitConfig->codeCacheTotalKB` and `jitConfig->dataCacheTotalKB`

[2019-02-19 20:49] pshipton commented on #4662
Similar failure in the following tests: rtc001
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK12-linux_390-64_cmprssptrs/2
cmdLineTester_jvmtitests_hcr_nongold_4
cmdLineTester_jvmtitests_hcr_nongold_8
cmdLineTester_jvmtitests_hcr_nongold_10
cmdLineTester_jvmtitests_hcr_OSRG_nongold_2
cmdLineTester_jvmtitests_hcr_OSRG_nongold_3
cmdLineTester_jvmtitests_hcr_OSRG_nongold_4

https://ci.

[2019-02-19 20:52] pshipton commented on #4663
Also failing

https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK12-linux_x86-64/1
TestRefreshGCSpecialClassesCache_BCI_EXTENDED_HCR_0
TestRefreshGCSpecialClassesCache_BCI_EXTENDED_HCR_1
TestGCClassWithStaticRetransformInGencon_0

[2019-02-19 20:54] AdamBrousseau commented on #2728
Yes, it would simply be the reverse of that list.

[2019-02-19 20:56] pshipton commented on #4526
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/197

[2019-02-19 20:56] DanHeidinga commented on #2637
+ 1 to leave it open

[2019-02-19 20:59] JasonFengJ9 commented on #4662
This test might be able to use the package access method to get the restricted field `Method.methodAccessor`.

[2019-02-19 20:59] pshipton commented on #4334
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-aix_ppc-64_cmprssptrs/160/

[2019-02-19 21:00] hangshao0 commented on #4787
We could change the test case to check for another method

[2019-02-19 21:01] pshipton commented on #4747
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le/5
[code]

[2019-02-19 21:04] fjeremic commented on #4747
Looks like the same failure. @dchopra001 are you able to actively reproduce this? Let me know if you need help in the investigation. Note that Peter has tagged this for the 0.13.0 release given the failure rate and severity of the issue.

[2019-02-19 21:04] pshipton commented on #4526
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/198

[2019-02-19 21:06] fjeremic commented on #4526
I haven't seen this issue yet anywhere else except this test. I still cannot reproduce the issue while collecting a trace log. I'm going to try again tomorrow and see what I can do here.

[2019-02-19 21:07] DanHeidinga commented on #2728
Is it essential to revert #2836 or is toggling the enable / disable of the jobs sufficient?

[2019-02-19 21:15] pshipton commented on #4780
I expect it is a build problem on the extensions side of things, not with OpenJ9 itself. Something is missing from the path in order to find the OpenJ9 classes.

Seems something to do with awt. The following is what comes before.
[code]

[2019-02-19 21:20] pshipton commented on #4334
The above failure is a little different `Compiled_method=java/lang/Object.hashCode()I

[code]

[2019-02-19 21:26] #4065 closed

[2019-02-19 21:44] pshipton commented on #4770
This is the change which modified the version
`8216302: StackTraceElement::fill_in can use cached Class.name`
JVM_GetClassName was changed to JVM_InitClassName
OpenJ9 does have an implementation, but I suspect it was added for a project to use more OpenJDK classes as-is, and the OpenJ9 implementation is not used.

I don't see the same change in OpenJDK jdk12, but I do for jdk. The jdk12 project is

[2019-02-19 21:56] pshipton commented on #4787
@hangshao0 agreed

[2019-02-19 21:57] pshipton commented on #4662
@JasonFengJ9 please try that. We'll need to find better solutions than exclusion to get all these tests passing on jdk12.

[2019-02-19 21:59] gacholio opened #4792 "Correctly handle modifications to Object"
Handle or disallow load-time and HCR-time modifications to java/lang/Object.

Examples:

- finalize becoming non-empty
- hard-coding of the known final methods
- assumptions on hashCode
- assumptions on clone

Related: #4714

[2019-02-19 22:08] AdamBrousseau commented on #2728
Last time I tested it, the changes in 2836 did not work for both worlds. I didn't determine why at the time. I can re-look at this and retest it.

[2019-02-19 22:22] ChengJin01 commented on #4704
I confirms the sub-test called testArrayLength() does fails every time only for `StringBuffer[].class`.  The reason for intermittent failure in JTReg test is because the input parameter was randomly picked up from **arrayClasses()**, which means `StringBuffer[].class` won't be chosen every time in test.

[code]
Actually our test cases at /test/functional/Jsr292/src/com/ibm/j9/jsr292/api/MethodHand

[2019-02-20 00:00] gacholio commented on #4792
Initial thoughts on finalize:

- Disallow Object becoming finalizeable
I like this since there's no way we're going to add finalization to arrays.

- Allow it, propagate the finalize bits down the hierarchy
-- New instances are finalizeable
-- New and existing instances are finalizeable

[2019-02-20 00:00] gacholio commented on #4792
For clone and hashCode, the fix would seem to be to recognize the J9VMInternals calls instead, and ensure the inliner can see through the trivial forwarders.

[2019-02-20 02:11] gaolibj commented on #4774
Yes, the failure is on IBM i.

[2019-02-20 03:39] DanHeidinga commented on #4774
@gaolibj Are you able to reproduce the issue on AIX or another OS supported by OpenJ9?

Note, these tests have been disabled on JDK11 according to https://github.com/eclipse/openj9/issues/3560

[2019-02-20 05:31] fengxue-IS commented on #4661
@DanHeidinga I've traced the test code and I believe this failure is caused by the use of `unsafe.defineClass()` introduced in #3638 (see #3641)

[2019-02-20 07:28] R-Santhir commented on #4334
Having talked to Devin, I think I've located the spot in the JCL source where the failure occurs:

[code]

`
long ptr = (com.ibm.oti.vm.VM.FJ9OBJECT_SIZE == 4) ? Integer.toUnsignedLong(h.getIntFromObject(anObject, 0L)) : h.getLongFromObject(anObject, 0L);
`

It looks like the above source corresponds to the comparison that occurs in the assembly. So the problem looks like it lies in the call to `I

[2019-02-20 09:20] andrew-m-leonard commented on #4770
As Peter refers to it looks like jdk12 is on ramp-down at OpenJDK, so this change will probably be in 12.0.1.
I have kicked off a jdk13 merge-job again, it failed the last few times due to jenkins issues...

[2019-02-20 11:35] martinlippert opened #4799 "VirtualMachine.list() doesn't work across JVM variants"
We are using VirtualMachine.list() to identify running Java processes in the local machine to connect to them via JMX later on.

But it looks like when running this on an OpenJ9 variant of the JDK the call can only identify running JVMs that are based on OpenJ9, not others - and vice versa.

You can reproduce this easily by starting `jconsole` from an Oracle JDK, it doesn't list any processes that

[2019-02-20 13:54] pdbain-ibm opened #4800 "Clean up JPP configurations"
`jpp_configuration.xml` contains a number of configurations which are unused or now invalid.
To prevent spurious errors when regression testing, suggest deleting the following:

- `SIDECAR19-SE-B148` (Java 9 is dead)
- `SIDECAR19-SE-B136`
- `SIDECAR19-SE-OPENJ9`
- `SIDECAR19-SE_RAWPLUSJ9`
- `SIDECAR18-TOOLS-OPENJ9`  (won't build)

Do we still need these?

- `SIDECAR18-DAA`
- `SIDECAR18-DTFJ`
- `SI

[2019-02-20 14:04] pshipton commented on #4800
* `SIDECAR18-DAA` - yes
    * `SIDECAR18-DTFJ` - yes
    * `SIDECAR18-DTFJVIEW` - yes
    * `SIDECAR18-TRACEFORMAT` - yes
    * `SIDECAR18-TOOLS-OPENJ9` - no

[2019-02-20 14:06] pdbain-ibm commented on #4799
@martinlippert
Thank you for your comment.  The restriction to attaching to a JVM's own kind is a known limitation of both the HotSpot and OpenJ9 implementations of Attach API.  While the Attach API specifies the interface to application code, it does not specify the discovery or communication protocols.  As the HotSpot implementation is proprietary and undocumented, OpenJ9 does not claim or provi

[2019-02-20 14:12] AdamBrousseau commented on #4559
Can this be closed?

[2019-02-20 14:13] AdamBrousseau commented on #4710
Related #4063

[2019-02-20 14:23] smlambert commented on #4778
Excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/910

[2019-02-20 14:38] ashu-mehra commented on #2312
@siruslan can you please elaborate on what exactly are you expecting when you mention vertical scaling with Java? Is it the ability to adjust heap size, cpus and other resources at runtime?

[2019-02-20 15:04] fjeremic commented on #4800
@pshipton I thought we bundle DAA in rt.jar in OpenJ9? Is the `SIDECAR18-DAA` for generating dataaccess.jar for internal builds?

[2019-02-20 15:17] fjeremic commented on #4747
Removing the `comp:jit:z` label as the failure from Peter is on Power and the original one was on Z. So this issue is cross platform. @andrewcraik / @liqunl did we make any changes to Unsafe paths in the optimizer recently? IIRC there was a missed NULL check or something that went in right around the time we first saw this failure.

[2019-02-20 15:26] andrewcraik commented on #4747
There was a NULLCHK added, but how that would lead to the crash in the deref is a bit of a mystery.... Thoughts @liqunl ?

[2019-02-20 15:26] SueChaplain commented on #2377
@pshipton This one is still in 0.13.0 but we have no issue for it in the docs repo. Not sure who is assigned to work on it, but please can you ask them to open an issue.

[2019-02-20 15:28] pshipton commented on #4768
jlink can be used to create what you want for jdk11. It isn't required to have a module-based application.
i.e.
`bin/jlink --output server-jre --module-path jmods --add-modules java.base,java.compiler,java.datatransfer,java.desktop,java.instrument,java.logging,java.management,java.management.rmi,java.naming,java.net.http,java.prefs,java.rmi,java.scripting,java.se,java.security.jgss,java.security.s

[2019-02-20 15:28] liqunl commented on #4747
Unsafe get/put called from unknown sources are optimized by inliner. The change to add the missing null check is already in. Need to look at the core file or a trace log to see where and why we crash.

[2019-02-20 15:29] fjeremic commented on #4747
Yeah I'm puzzled too, however it is very suspect that the same test starts failing on two platforms who have not made any changes in the area of Unsafe, so my bet is on a common issue. @gita-omr can someone from Power side take a look at the failure from Peter above and touch base with @dchopra001 to confirm whether it is the same symptom? See @dchopra001's investigation notes above.

[2019-02-20 15:37] pdbain-ibm commented on #2377
It is included in https://github.com/eclipse/openj9/pull/4650

[2019-02-20 15:47] pdbain-ibm commented on #2377
Documentation issue: https://github.com/eclipse/openj9-docs/issues/216.

[2019-02-20 15:52] pshipton commented on #4800
Correct. All of DAA, DTFJ, DTFJVIEW, TRACEFORMAT are for internal builds.

[2019-02-20 16:43] AdamBrousseau commented on #2728
Seems to work now with my changes for the old and the new world. So we could merge this ahead of time and use the builds to flip back/forth as needed.

[2019-02-20 17:01] dsouzai opened #4803 "Consolidate writing of relocation record header"
This issue is a bit of a mini-epic in that it involves re-architecting the code surrounding the AOT infrastructure. The recent addition of the Symbol Validation Manager (SVM), while a good thing, both exposed and worsened problems in the current infrastructure.

This is the general plan as discussed with @mstoodle and @jdmpapin :

1. Move the platform specific (but mostly common) code out from the

[2019-02-20 17:03] SueChaplain commented on #4655
@pshipton
Is `jinfo` in plan please?

[2019-02-20 17:08] doveye commented on #4655
I've just read that newer utility `jcmd` can (should?) be used instead of `jstack`, `jinfo`, and `jmap`.

[2019-02-20 17:08] gita-omr commented on #4747
@R-Santhir is looking at  https://github.com/eclipse/openj9/issues/4334 which sounds looks very familiar.
In his case, looks like instead of adding offset to the object and loading from there, we added helper address to the object and loaded from the resulting garbage address. @dchopra001 do you think something like this happens in your case? Were you able to produce failing tracefile?  How often

[2019-02-20 17:34] smlambert commented on #4433
I believe this can be closed as won't fix, since it is expected to be very rare occurrence that an incompatible test change would be introduced during the period of time that a release branch is alive and being tested in tandem with the main stream.

Rare, as in we have only ever made 1 of these types of changes in the last 2 years and do not have an need for any other major changes in the foresee

[2019-02-20 17:34] #4433 closed

[2019-02-20 18:02] gita-omr commented on #4334
A brief update: @R-Santhir was able to generate a tracefile for this method, but at that time it did not fail and the tracefile looks very different from the core. In particular, the load from the object looks normal (no adding helper address to it).  @liqunl maybe you know what could cause getIntFromObject to add helper address to the object?

@fjeremic @dchopra001

[2019-02-20 18:10] DanHeidinga commented on #4655
This item is about ease of migration - users who are already using jstack / jinfo / jmap / etc will have an easier time migrating if we provide the equivalent commands rather than telling them to first migrate to jcmd.

[2019-02-20 18:45] DanHeidinga commented on #4465
@sharon-wang is looking at updating the message

[2019-02-20 18:56] dnakamura commented on #90
DDR has proven to be a bigger issue than anticipated. Have WIP pr open at omr. Plan to get finishing touches done today and move on (although I suspect the PR will spend considerable time in review)

[2019-02-20 19:45] liqunl commented on #4334
Looking at the disassembly of the failing method, we're trying to load from `(anObject + jitHelpers)` and pass it to `Integer.toUnsignedLong`. The load maps to `h.getIntFromObject(anObject, 0L)` which should be transformed to a iloadi from `anObject`. The other `h.getIntFromObject(anObject, 0L)` was transformed to the correct load. `+96(r14)` is the `anObject` on the stack.

[code]

In my unit tes

[2019-02-20 20:12] hangshao0 commented on #4787
There are only 8 methods being AOT'ed. Instead of checking for another method, I changed the CML to use count=0 so that more methods are AOT'ed. It is a more robust solution. (java/lang/Object.hashCode() is AOT'ed using count=0).

[2019-02-20 20:12] dchopra001 commented on #4747
@gita-omr

I haven't been able to reproduce yet. There are infrastructure issues on Z, preventing us from being able to launch grinders. I'm trying to reproduce on x86 right now.

[2019-02-20 20:17] pdbain-ibm commented on #4800
Working on this in the background...
Pausing until 0.13 is released.

[2019-02-20 20:45] avermeer commented on #4768
Hello @pshipton ,

Thank you very much for your answer, I wasn't aware of this jlink possibility to generate a smaller Java setup without the need of already modularized apps.

I am going to evaluate this proposal and I will feedback on this tread.

Kind regards,
Alexandre

[2019-02-20 20:46] JasonFengJ9 commented on #4658
Attempted to reflect the fields in question via package access methods or skip the field without such method, and at last hit same issue as https://github.com/eclipse/openj9/issues/4663 due to following code snippet:
https://github.com/eclipse/openj9/blob/4577abf9392aecd6574ca4a5a84c6761894123d2/test/functional/JavaAgentTest/src/org/openj9/test/javaagenttest/Cmvc196982.java#L210

These tests need

[2019-02-20 21:07] pshipton opened #4809 "xlinux build machines don't have the minimum cmake level"
What cmake version do the xlinux machines use?

Ubuntu 16 comes with cmake ~4.5.1~ 3.5.1, but apparently code was merged that doesn't work on this version, yet the problem was not found in the OpenJ9 builds.

[2019-02-20 21:07] pshipton commented on #4809
@jdekonin @keithc-ca

[2019-02-20 21:15] pshipton commented on #4809
The cmake builds shows `Starting with CMake version 3.11.4`

- @jdekonin do you know why we have this much newer version of cmake?

- If we are going to support the default cmake that comes with Ubuntu 16, and get included in the OpenJ9 docker images, we should downgrade the build machines.

@dnakamura fyi

[2019-02-20 21:16] pshipton commented on #4809
@DanHeidinga

[2019-02-20 21:20] mpirvu commented on #4786
This could be done with an AOT hint, though we may need to enlarge the size of the 'word' for it. I remember that all bits are used at the moment.

[2019-02-20 21:35] jdekonin commented on #4809
The playbooks explicitly install v3.11.4, which was newer than the initial v3.7.4 requirement set by @dnakamura on first being added to the playbooks.

I can check why, but my guess is that v4.5.1 must have been installed via a package manager dependency and overwrote the playbooks install.

Either way, v3.11.4 is what is wanted correct?  Not v4.5.1.  Do I need to wait/coordinate that change?

[2019-02-20 21:54] keithc-ca commented on #4809
The top level cmake file says:
[code]
The version that you get via `apt install cmake` on Ubuntu 16.04 is 3.5.1.

[2019-02-20 22:01] pshipton commented on #4809
@jdekonin note I had a typo which is fixed now. I meant 3.5.1 and not 4.5.1

As Keith pointed out, 3.5.1 is what you get by default on Ubuntu 16 vai `apt install cmake`
As this is what the example docker files do, they also get 3.5.1 installed.

If we need a newer version as the minimum (3.7.4 or whatever), we'll have to update the docker files and the build instructions when switching to cmake. O

[2019-02-20 22:09] jdekonin commented on #4809
Can you please change the summary accordingly?

I didn't realize the cmake version had changed to v3.11.4.  It appears the playbooks were updated to accommodate a JFX build requirement.  If this isn't a good version for OpenJ9 I can make the addition/change.

fyi @AdamBrousseau, docker file changes to the version of cmake are required.

[2019-02-20 22:31] pshipton commented on #4787
I wonder if `count=0` will fill up the cache and cause other issues. Maybe add a max AOT limit.

[2019-02-20 22:39] pshipton commented on #4787
`count=0` will also take extra time to run, but I tried it on xlinux for a time of ~3sec, so doesn't seem too bad.

[2019-02-20 22:40] hangshao0 commented on #4787
I am seeing cache is 13% soft full on AIX and 12% soft full on zLinux. So it should be fine.

[2019-02-20 22:42] dsouzai commented on #4786
`TR_HintInline` isn't used anywhere; it could be reused I think.

[2019-02-20 22:44] pshipton opened #4811 "osx1011-x86-1 not connecting to Jenkins"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-osx_x86-64_cmprssptrs-OpenJ9/94
https://ci.eclipse.org/openj9/job/Build-JDK8-osx_x86-64_cmprssptrs/192/

[code]

[2019-02-20 22:44] pshipton commented on #4811
@jdekonin @AdamBrousseau

[2019-02-20 22:44] pshipton commented on #4811
Disabled the machine for now.

[2019-02-20 22:47] AdamBrousseau commented on #4811
I disconnected and reconnected the machine. Please update if it happens again

[2019-02-21 00:19] #4662 closed

[2019-02-21 01:25] #4787 closed

[2019-02-21 01:29] #4811 closed

[2019-02-21 01:31] pshipton opened #4813 "omr acceptance builds launching with the same omr sha"
A number of omr acceptance builds launched with the same omr sha.
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance/

Look at 1194 - 1199

[2019-02-21 01:31] pshipton commented on #4813
@jdekonin @AdamBrousseau

[2019-02-21 01:34] pshipton commented on #4813
Also 1186 - 1190 and 1191 - 1192. Disabled the build for now.

[2019-02-21 03:42] mpirvu commented on #2312
As explained here https://github.com/eclipse/openj9/issues/2312#issuecomment-431453020, OpenJ9 does not change the shape of the Java heap when idling (it does not de-commit memory); instead, OpenJ9 provides a hint to the OS that the freed pages from the heap are not going to be needed anytime soon and therefore they should be evicted from physical memory.

To test vertical scaling with respect to

[2019-02-21 04:22] pshipton commented on #4776
Reopening as the fix was reverted temporarily. I expect it will be fixed tomorrow.

[2019-02-21 04:29] pshipton commented on #4813
Disabled the Mirror-OMR-to-OpenJ9-OMR Pipeline as well since it runs and fails every 15 min, posting the failure to jenkins.

[2019-02-21 04:46] AdamBrousseau commented on #4813
No idea, added some debug output to the script and now it seems to be working as expected. I'll let you re-enable when the cmake compile is resolved.

[2019-02-21 07:36] gaolibj commented on #4774
I haven't try it on AIX or other OS.  If  the tests has been disabled on JDK11,  we can exclude it on IBM i also.

FYI.  after updating JVMLIBPATH from  -DJVMLIBPATH="$(JAVA_BIN)$(D)j9vm" to  -DJVMLIBPATH="$(JAVA_BIN)$(D)..$(D)lib$(D)j9vm"and still got "Number of FAILED tests: 5 out of 6".
Seems only the dynamically link test passed.

[2019-02-21 08:28] akrus commented on #4769
@amicic, is there anything else I can collect from my side?

[2019-02-21 08:42] pverkest commented on #4050
Hi, I seem to have a similar problem.

I'm using OpenJ9 from https://hub.docker.com/r/adoptopenjdk/openjdk8-openj9 version jdk8u202-b08.

My java version:
[code]

I'm running on Kubernetes and give my container 384 MiB of memory and these are the relevant options I'm passing as arguments: `-Xjit:verbose={compilePerformance} -Xaot:verbose={compilePerformance} -Xtune:virtualized -verbose:init -verbo

[2019-02-21 10:56] pverkest commented on #4050
Or is the JIT compiler allowed to use the Port Library and is that one too big in my case?

[2019-02-21 11:00] ashu-mehra commented on #4050
`NATIVEMEMINFO` section in javacore only shows virtual memory break up which does not necessarily reflect physical memory usage.

It does appear from the log that you are running a bit low on physical memory. It is possible that memory requirement of the JVM for running your application are more than 384MB that you have assigned to the container. Have you tried running with higher container limit,

[2019-02-21 11:23] siruslan commented on #2312
Guys, thank you for your assistance! It's helpful. I believe I got enough details now and are able to explain people how it works behind the scene as well as how to track the real usage.

[2019-02-21 12:05] R-Santhir commented on #4747
I can't seem to access the test from @pshipton 's comment regarding the PPC LE failure. Is there a way to retrieve the core?

[2019-02-21 12:21] pshipton commented on #4747
@R-Santhir I accidentally truncated the build number in that link. Unfortunately we only keep 10 builds due to space issues, and there was something wrong yesterday with the omr acceptance build. A number of unnecessary builds were created, which has purged the failure from the history. I will update with a proper link if the failure happens again. You can try a grinder to recreate it. If that doe

[2019-02-21 12:26] R-Santhir commented on #4747
Thanks @pshipton, could you launch a grinder for me? I'm unsure of what to launch without the the test info, due to the truncated link.

[2019-02-21 12:27] pshipton opened #4817 "Grinder results in FileNotFoundException"
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/279/console
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/280/console
[code]

[2019-02-21 12:27] pshipton commented on #4817
@llxia @smlambert @AdamBrousseau @jdekonin

[2019-02-21 12:30] pshipton commented on #4747
The test is UnsafeTests_0 in the functionality suite, and here is a link to a passing run
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le/539/

I tried a grinder but there is a problem atm
https://github.com/eclipse/openj9/issues/4817

[2019-02-21 12:32] pshipton commented on #4813
Unfortunately so many builds were created that some nightly test failure results got purged from the history (which is only 10 builds).

[2019-02-21 12:34] pshipton commented on #4813
The Pipeline-OMR-Acceptance was already enabled, and I've enabled Mirror-OMR-to-OpenJ9-OMR as well. We can monitor any new builds started.

[2019-02-21 12:37] pshipton opened #4818 "Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs crash cmdLineTester_jvmtitests_hcr_4 rc017 Method_being_compiled=java/lang/ProcessHandleImpl.completion(JZ)Ljava/util/concurrent/CompletableFuture"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/492
[code]

[2019-02-21 12:38] pshipton commented on #4751
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/492
[code]

[2019-02-21 12:39] pshipton commented on #4818
Dup of #4751

[2019-02-21 12:39] #4818 closed

[2019-02-21 13:29] pshipton commented on #4813
@AdamBrousseau it is still happening, see 1202 - 1203.

Disabling Mirror-OMR-to-OpenJ9-OMR again.

[2019-02-21 13:44] DanHeidinga commented on #4751
FYI @gita-omr - crash while compiling a method on PPC

[2019-02-21 14:10] smlambert commented on #4774
Curious how current you keep your copy of test material?

For your reference, we will try to be using the 'test excluded' tag to indicate new exclusions (https://github.com/eclipse/openj9/labels/test%20excluded).

[2019-02-21 14:13] jdekonin commented on #4813
I think for the last one its a matter of sha length. omr_sha=1537cc08 was generated from 1202 via 47742 (Mirror job), omr_sha=1537cc0 was generated from 1203 via 47743 (Mirror job).

The acceptance build launch is determined on exact match determine within the OMR mirror script, so I think the last one work as expected, or rather how the code is written.
https://github.com/eclipse/openj9/blob/1660

[2019-02-21 14:16] jdekonin commented on #4813
I also re-enabled the `Mirror-OMR-to-OpenJ9-OMR` job.  Once this PR is merged or changed if you don't agree with my analysis, `ub16-ppcle-4` can readded into service as a worker.

[2019-02-21 14:16] smlambert commented on #4817
Usage error, you need to select one of the files listed below the Jenkinsfile field, you have used a URL:

<img width="919" alt="screen shot 2019-02-21 at 9 15 10 am" src="https://user-images.githubusercontent.com/2836948/53175084-48e99400-35b9-11e9-822a-7506e2ae85a0.png">

[2019-02-21 14:17] mpirvu commented on #4050
@pverkest

'Port library' memory should be taken into account. Could you please let me know what made you think otherwise? If there is some misleading information somewhere we need to correct it.

In the first vlog snippet the JVM sees a reasonable amount of free physical memory (`freePhysicalMemory=144 MB`), but those ForkJoinPool compilations appear to take a lot of memory. I think there is a bu

[2019-02-21 14:18] smlambert commented on #4817
I've rebuilt your job here: https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/281/
with openjdk_ppc64le_linux in that field.

[2019-02-21 14:25] pshipton commented on #4817
Thanks. Sorry about that.

[2019-02-21 14:25] #4817 closed

[2019-02-21 14:26] pshipton commented on #4747
Grinder is https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/281/

[2019-02-21 14:35] smlambert commented on #4817
No worries, there are many different ways to launch testing (high flexibility means its difficult to keep it simple).  ;)

[2019-02-21 14:54] liqunl commented on #4747
Looking at the bytecodes and disassembly, it seems we crashed when trying to load an element from an array. i.e. when we're doing `modelLong[i]` in the [test](https://github.com/eclipse/openj9/blob/master/test/functional/UnsafeTest/src_90/org/openj9/test/unsafe/UnsafeTestBase.java#L1669)

There is a call to `Unsafe.getAndSetLong` at bytecode -1:340 before we crash. This call has been transformed t

[2019-02-21 15:35] fjeremic commented on #4747
I don't think `RISBGNZ` is the problem here. I've annotated the instruction here:

[code]

The log file you gathered almost certainly has the same binary encoding as the core file. It seems in the log we don't print Z bit which is the first bit in the 4th operand which determines what happens to the unslected bits. If it's 1 then unselected bits are zeroed, and if it's 0 nothing happens. If you co

[2019-02-21 15:46] #4813 closed

[2019-02-21 15:48] pshipton commented on #4747
Previous grinder passed. Started
50x grinder https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/283/

[2019-02-21 16:15] pshipton commented on #4747
Previous grinders passed. Started 100x grinders
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/287/
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/288/
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/289/
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/290/

[2019-02-21 16:23] gita-omr commented on #4242
@aviansie-ben is pretty much on track for enabling this in 0.13 so moving back to 0.13.

[2019-02-21 16:28] DanHeidinga commented on #3410
@remmeier We've merged #4714 which allows redefinition of Object.  Would you be able to test an AdoptOpenJDK nightly build later this week to validate this fixes the issue?

[2019-02-21 16:38] #4162 closed

[2019-02-21 16:45] gita-omr commented on #4751
@andrewcraik vmState seems to indicate ILGeneration, in case somebody can take a look. Otherwise I will try to check the core later today.

[2019-02-21 16:53] LinHu2016 commented on #4674
Do ClassMemory and MiscMemory have limitation? currently the maxSize for both of them are -1.

[2019-02-21 16:56] fjeremic commented on #4747
@pshipton your Grinders are not actually running any tests. You've been fooled by the test infrastructure. If you dig into the full console log you will see:

[code]

This is because your Grinders are launched against TARGET=UnsafeTests_0, but the "_0" is a variation. The actual test playlist is "UnsafeTests" [1]. Also note your Grinders are against JDK8, however the original failure was seen on J

[2019-02-21 16:58] jdekonin commented on #4710
DIscussed in more detail with @pshipton.  He would like to add 4 ub16 images right away as that can be done quickly.  Once we have a cent6 image setup and functional we can visit converting ub16 -> cent6.  We'll track that work under #4063.

[2019-02-21 17:01] LinHu2016 commented on #4674
Hi @mpirvu, could you please confirm if seg->heapAlloc and seg->size has been updated in runtime(for both jitConfig->dataCacheList and jitConfig->codeCacheList), someone reports commit size and used size of JIT Data Cache and Code Cache have never been changed.

[2019-02-21 17:06] pshipton commented on #4747
Thanks @fjeremic, I should have checked.

[2019-02-21 18:18] #4776 closed

[2019-02-21 18:41] planetf1 commented on #3410
I should be able to test within a couple of days. Let me know when there is a jdk you'd like me to try with. Thanks

[2019-02-21 20:06] fjeremic commented on #4747
So the grinders from https://github.com/eclipse/openj9/issues/4747#issuecomment-466045058 have all passed. The First grinder had 0 / 100 failures. The second grinder had 0 / 289 failures. The second grinder is marked as failed because of the following:

[code]

It seems like a connection was lost at some point. However searching for the following in the plantext:

``
Total tests run: 433, Failures

[2019-02-21 20:17] gita-omr commented on #4334
So we are back to square one. Even though we know what is wrong with the generated code nobody knows why it was generated. So we need to reproduce the original failure with original options and then with a tracefile.

[2019-02-21 20:59] liqunl commented on #4470
Since it's found only on power, can the power team look at first @gita-omr It may be related to other unsafe test failure on power.

[2019-02-21 21:07] pdbain-ibm commented on #2593
Add this to `com.ibm.lang.management.RuntimeMXBean`.  This will remove the reflection code (and associated command-line arguments to export packages) from `TargetManager` and its client tests.

[2019-02-21 21:08] cwillhelm commented on #4710
[code]

Have been created, IPs / login info is on GHE / Slack.

[2019-02-21 21:37] pshipton commented on #4091
@smlambert @llxia The following sanity.system tests are consistently failing in osx jdk8 testing. Can we please exclude them until they can be fixed. (I would create a PR but not sure where to do this).

https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-osx_x86-64_cmprssptrs/73
MauveSingleThreadLoadTest_0
MauveSingleInvocationLoadTest_0
MauveMultiThreadLoadTest_0

[2019-02-21 22:29] pshipton commented on #4747
Removing from the milestone for now.

[2019-02-21 22:42] dsouzai opened #4827 "Enable SVM on x86_32"
Issue to track enabling AOT w/ SVM on 32-bit x86. As I find and fix problems, I'll update it here so that others working on 32-bit enablement on other platforms can save themselves the pain of figuring out these issues on their own.

Progress:
- Compile run seems OK.
- Load run is still failing, probably because of another missed relocation.

Known issues:
1. 32-bit section of `J9::X86::AheadOfTim

[2019-02-21 23:03] fjeremic commented on #4526
Launched a bunch of grinders on the two different tests from Peter's previous two comments to see if reproduction rate here is better:

https://ci.eclipse.org/openj9/view/all/job/Test-Grinder/302/
https://ci.eclipse.org/openj9/view/all/job/Test-Grinder/303/
https://ci.eclipse.org/openj9/view/all/job/Test-Grinder/304/
https://ci.eclipse.org/openj9/view/all/job/Test-Grinder/305/

[2019-02-21 23:06] AdamBrousseau commented on #4710
Added to Jenkins
Builds running
https://ci.eclipse.org/openj9/view/Build/job/Build-JDK11-linux_x86-64/640/
https://ci.eclipse.org/openj9/view/Build/job/Build-JDK11-linux_x86-64/641/
https://ci.eclipse.org/openj9/view/Build/job/Build-JDK11-linux_x86-64/642/
https://ci.eclipse.org/openj9/view/Build/job/Build-JDK11-linux_x86-64/643/
Tests running
https://ci.eclipse.org/openj9/view/Test/job/Test-sanit

[2019-02-21 23:08] gita-omr commented on #4470
Very similar problem was found on Z https://github.com/eclipse/openj9/issues/4747
It's just not reproducible anymore.

[2019-02-21 23:17] fjeremic commented on #4526
I've been able to catch the SharedClasses.SCM01.MultiThreadMultiCL_0 failure locally. I got lucky and it seem to have failed in the jitdump as well. Here was the output:

[code]

So it looks like we were trying to do a register copy with the target likely not being assigned. Still need to generate a trace log unfortunately. At least it seems the problem can be reproduced in a jitdump. If all else

[2019-02-21 23:39] pverkest commented on #4050
Yes indeed, I'm running low on physical memory, but that's the goal, since we want to have 100 of those instances. Running them with 512MB is what we now intend to do, but with a heap of (only) 128 MB, I'd hoped that the 'overhead' wouldn't be 3 times as big. Another possibility would be to disable JIT/AOT.

[2019-02-21 23:42] huntc commented on #4050
I think the goal should be to witness `java.lang.OutOfMemoryError` when the JVM heap is exhausted... not have the Linux OOM kill the process.

[2019-02-21 23:55] pverkest commented on #4050
The 'unused' together with the fact that I only gave it 384MB. I didn't know the NATIVEMEMINFO shows virtual memory.

Despite having 144MB of free physical memory here, the Kubelet OOM killed the container because the JIT used more than those 144 MB.

Is there any way of limiting the amount of memory taken by the JIT/AOT? I'd like to have it as deterministic as possible, so that I know my containe

[2019-02-21 23:58] pverkest commented on #4050
Well, in my case it's not the JVM heap that's exhausted, so I don't expect a `java.lang.OutOfMemoryError` (and it's not the Linux OOM killing the process, but the kubelet).

[2019-02-22 05:37] pshipton opened #4830 "extended.functional testing failed to run on ppcle - Can't locate XML/Parser.pm"
PR testing started from #4628
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-linux_ppc-64_cmprssptrs_le-OpenJ9/26]
ub16-ppcle-3
[code]

[2019-02-22 05:39] pshipton commented on #4830
@smlambert @jdekonin

In case it is a machine issue, I've disabled the machine.

[2019-02-22 05:52] smlambert commented on #4830
Machine needs [test prereqs](https://github.com/eclipse/openj9/blob/master/test/docs/Prerequisites.md) installed.

[2019-02-22 08:49] zhuohual commented on #4774
@smlambert
We clone the test cases from github  repository.

[2019-02-22 11:26] pshipton commented on #4830
Re-run on ub16p8j92 worked.

Nightly builds failed on ub16-ppcle-2 - disabled it.
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_ppc-64_cmprssptrs_le/182/
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_ppc-64_cmprssptrs_le/198/

[2019-02-22 11:27] pshipton commented on #4830
Did the test prereqs change, or did the machines change?

[2019-02-22 11:34] pshipton commented on #4830
Seems zos testing has the same issue.
`Can't locate XML/Parser.pm in @INC`

[2019-02-22 14:17] #1932 closed

[2019-02-22 14:27] smlambert commented on #4830
Related:
internal infra issue (infrastructure/issues/1071) - this referenced updates on external openj9 machines, so perhaps should have an open / openj9 issue related to it
<img width="575" alt="screen shot 2019-02-22 at 9 26 34 am" src="https://user-images.githubusercontent.com/2836948/53248572-017c0a00-3684-11e9-95e1-75239173af77.png">

also:
https://github.com/AdoptOpenJDK/openjdk-infrastructu

[2019-02-22 14:32] jdekonin commented on #4830
Same test passed on the 12th on ub16-ppcle-2 and 14th on ub16-ppcle-3.  I don't believe there have been machine changes, although when I try install XML:Parser because it wasn't installed for some reason it fails.  Trying to figure out why now.

ub16-ppcle-4 also doesn't, but its a worker machine now, so irrelevant to this discussion.  ub16-ppcle-1 is fine though as it is installed.  I find this o

[2019-02-22 14:43] smlambert commented on #4830
Agree, the test doc update is in PR #499 I referenced, which is WIP / not yet been merged.

[2019-02-22 14:48] #2837 closed

[2019-02-22 14:57] amicic commented on #4769
@akrus, I analyzed the TGC logs more deeply. Unfortunately, they did not point to a real problem in root scanning. It's possible that there is no problem in root scanning at all, but I also noticed some weaknesses in the tool.

I improved the log reporting tool further: https://github.com/eclipse/openj9/pull/4829 and https://github.com/eclipse/openj9/pull/4478. So you'll either wait for 0.13 relea

[2019-02-22 14:58] a7ehuo opened #4833 "Add AOT Stats When validateWellKnownClasses Fails"
`TR_RelocationRecordGroup::applyRelocations()` returns `compilationAotClassReloFailure` without adding the stats in aotStats.

[2019-02-22 15:07] a7ehuo commented on #4786
@mpirvu @dsouzai I tested the change of adding hints when compilation fails due to `compilationAotHasInvokehandle` or `compilationAotHasInvokeVarHandle`. The change has to be enabled by `Xaot:enableSCHint=2` which is `TR_HintInline`. As Marius predicated, there is no performance gain.

1. With this test result, should we still add this change?
2. If so, should `TR_HintInline` be changed into `TR_H

[2019-02-22 15:19] akrus commented on #4769
@amicic, OK, I'll try to reproduce this with a nightly build. Thanks!

[2019-02-22 15:40] pshipton opened #4834 "Grinder passes if no tests are run"
I think it would be a good idea to have a grinder fail (not be green) if no tests are run. A couple of times I have incorrectly configured a grinder, it ran no tests, but looks like it passed. Unless the results are checked to ensure a test was run, the green result may be interpreted incorrectly.

[2019-02-22 15:45] mpirvu commented on #4786
Note that using `Xaot:enableSCHint=2` will enable your new hint but disable all the other hints that are set by default.

Increasing the number of hints we support requires changes in the VM. It's better not to spend too much on an item that doesn't provide an advantage.

[2019-02-22 15:52] amicic commented on #4769
ok I believe you can watch builds here: https://ci.eclipse.org/openj9/view/Build/job/Build-JDK8-linux_x86-64/
look for 'Tgc root scan for Metronome' in Nightly type of builds (not OMR-Acceptance type)

[2019-02-22 15:54] a7ehuo commented on #4786
@mpirvu Yes, setting `Xaot:enableSCHint=2` overrides the default hints. It's a quick way to test this theory. Agreed. Let's leave this item as it is now.

[2019-02-22 15:56] dsouzai commented on #4786
Let's close this issue then; it can be reopened when this is worth pursuing.

[2019-02-22 15:56] #4786 closed

[2019-02-22 15:57] JasonFengJ9 commented on #4561
**Update:**
Here is the test code snippet from [TestLoggerNames.java](https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/870ff16b4f082540baa23bf825e18ea589513195/test/jdk/java/util/logging/LogManager/TestLoggerNames.java#L136-L147):
[code]

As per Java doc [java.util.logging.LogManager.addLogger()](https://docs.oracle.com/javase/8/docs/api/java/util/logging/LogManager.html#addLogger-java.uti

[2019-02-22 16:01] jdekonin commented on #4830
cpan wasn't allowing me to overwrite CC for some reason and its using the version perl sees.

[code]

After installing the default gcc package, which we didn't have installed as we had a specific version compiled from source (first 4.8 and then 7), XML::Parser installs fine on ub16-ppcle-[2-4].

[code]

[2019-02-22 16:05] pshipton commented on #4769
Note the 0.13 release will only include Java 12 builds.

[2019-02-22 16:09] pshipton commented on #4769
Preferably nightly builds from AdoptOpenJDK.net should be used. The builds we do at the OpenJ9 project for test purposes may not contain everything you get in a build from Adopt.

https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9

[2019-02-22 16:10] AdamBrousseau commented on #4710
All passes. Machines enabled in farm.

[2019-02-22 16:35] cathyzhyi opened #4837 "jsr292 performance investigation"
OpenJ9 does not perform very well with programs heavily rely on jsr292. This issue is for tracking investigation into the performance issue.

1.  Swapping targeted inlining with normal inlining
       Targeted inlining was done before normal inlining and won't do any thing if the jsr292 methdos were called from a inlined callee. Swapping to do normal inlining first so that jsr292 methods called fr

[2019-02-22 16:38] gacholio commented on #4792
We already prevent changes to the finalizeable status of redefined classes, so enforcing the rule on Object seems reasonable.

[2019-02-22 17:26] DanHeidinga commented on #3641
@keithc-ca Can you point to examples of why the work around was required?  We're running out of time to have this sorted for 0.13.0

[2019-02-22 17:38] headius commented on #4717
Sorry for my absence. I'm on OS X 10.14.3. Sounds like you're on the right track though!

[2019-02-22 18:19] pshipton opened #4838 "jdk12 osx test sanity PR build doesn't run sanity tests"
i.e. https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK12-osx_x86-64_cmprssptrs-OpenJ9/3

It built the JVM but didn't run any testing.

[2019-02-22 18:19] pshipton commented on #4838
@jdekonin @AdamBrousseau
I'd like to get this one fixed asap please.

[2019-02-22 18:31] AdamBrousseau commented on #4838
Try now. There may be others

[2019-02-22 18:35] #4838 closed

[2019-02-22 18:41] pshipton opened #4839 "omr acceptance build promotion job failed"
I promoted the build manually.

https://ci.eclipse.org/openj9/job/Promote-OpenJ9-OMR-master-to-openj9/659/
[code]