[2018-09-18 18:07] llxia commented on #2893
For test part, if this is urgent, please feel free to modify [maketest.sh](https://github.com/AdoptOpenJDK/openjdk-tests/blob/f887cbaeaecfecc2dcf8f8b644c41b58cff9328a/maketest.sh) as needed.

[2018-09-18 18:49] #2704 closed

[2018-09-18 19:02] pdbain-ibm commented on #2927
I will investigate.

[2018-09-18 19:03] #2909 closed

[2018-09-18 19:08] pshipton commented on #2897
and also https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/34

[2018-09-18 19:09] pshipton commented on #2269
fyi https://github.com/eclipse/openj9/issues/2897 which reverts to target 11. I don't believe we need this issue open any more, the remaining work is covered by other issues and PRs.

[2018-09-18 19:09] #2269 closed

[2018-09-18 20:05] pshipton commented on #1697
Closing, since Java 11 Windows is now compiling with MSVC 2017.

[2018-09-18 20:05] #1697 closed

[2018-09-18 20:31] keithc-ca opened #2928 "Wide registers truncated by jdmpview"
https://github.com/eclipse/openj9/pull/2926 enables parsing of javacore files from z/OS with wide (>64 bit) registers, but jdmpview only prints the bottom 64-bits in commands like 'info thread'.

[2018-09-18 20:33] pshipton commented on #2834
Also -XX:NewSize= to -Xmn
and -XX:InitialHeapSize= to -Xms

[2018-09-18 20:48] IBMJimmyk commented on #2821
I was able to reproduce the crash in my personal workspace. Failure rate seems to be around 1 in 20 but the test is fairly quick to run. However, I am having problem with my test environment that prevents the generation of a corefile so I still need to get that sorted out.

[2018-09-18 21:37] aguibert commented on #2922
to add some additional info, it's not necessary to set up OpenLiberty just to reproduce the issue.  A simple JavaSE test case that dumps a stack trace should suffice.

According to the javadoc for `StackTraceElement.toString()` it seems that Hotspot has the correct interpretation:
https://docs.oracle.com/javase/10/docs/api/java/lang/StackTraceElement.html#toString()

[2018-09-19 04:33] DanHeidinga commented on #1053
Yes, this can be closed.  Our javadoc is sparse but I don't see an obvious point that needs to be addressed.

[2018-09-19 04:33] #1053 closed

[2018-09-19 04:44] navyxliu opened #2932 "sha1 checksum is fragile"
openj9/test/TestConfig/scripts/tools/getDependencies.pl
my %asmtools = (
	url => 'https://ci.adoptopenjdk.net/view/Dependencies/job/asmtools/lastSuccessfulBuild/artifact/asmtools.jar',
	fname => 'asmtools.jar',
	sha1 => '04cf07c584121c2e5a3d1dad2839fc8ab4828b6d'
);
use lastSuccessfulBuild is very fragile.  Actually, I found a new built succeeded. sha1 checksum changed then.

I think you need to sp

[2018-09-19 06:02] gunan commented on #2908
If you add `-s` flag bazel should print every single subcommand executed, including the environment and path they are used to execute.

[2018-09-19 10:30] andrew-m-leonard commented on #2927
javacore sent to Peter

[2018-09-19 11:29] pshipton commented on #2916
Seems resolved now.

[2018-09-19 11:29] #2916 closed

[2018-09-19 11:30] bharathappali commented on #2838
@pshipton @DanHeidinga Can i get your views on it please ?

[2018-09-19 11:36] pshipton commented on #2927
[code]

[2018-09-19 11:38] pshipton commented on #2927
@theresa-m is implementing the missing native I believe.

[2018-09-19 12:21] LakshmiSwethaG commented on #284
I am having a similar issue where the customer is having a hang and its difficult to get the details of the lock. Threads are waiting on ClassInitializationLock which is <unowned> : Waiting on: java/lang/J9VMInternals$ClassInitializationLock@0x0000000611EEA3C8 Owned by: <unowned>
So I tried this in ddr.

J9ObjectMonitor at 0x611eea3c8 {
 Fields for J9ObjectMonitor:
       0x0: omrthread_monitor_t

[2018-09-19 12:30] DanHeidinga commented on #2838
@bharathappali I can see how having this info would be useful.  Here's a couple of questions to help me understand the scope of the this change and the broader implications:

* How expensive is this information to collect?  Is it collected once and stored for the duration of the run?

* How much info is being added to the javacore?  1 line per cpu?  This may be unwieldy when there are large number

[2018-09-19 12:31] pdbain-ibm commented on #2871
Bracketed it to the GCC-7.3 changes:
[code]

Those changes should affect only PPCLE:

[code]

[2018-09-19 12:33] sophia-guo commented on #2932
The fixed build number should be stable. The only concern is the specified build could be discarded when more new builds come up. Ideally we should get the jar from more stable resources.

[2018-09-19 13:34] pshipton commented on #2871
The gcc 7.3 changes only occurred for Java 11 builds, yet the test is failing on older versions.

[2018-09-19 13:41] pshipton opened #2934 "Test-extended.functional-JDK11-linux_ppc-64_cmprssptrs_le assertion running jit_hw_0"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_ppc-64_cmprssptrs_le/21/tapResults/

[code]

[2018-09-19 13:45] pshipton opened #2935 "Test-extended.functional-JDK11-linux_x86-64 TestJava9AttachAPI_0 FAILED: testAllowAttachSelfBareEnable"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64/20/tapResults/

[code]

[2018-09-19 13:45] pshipton commented on #2935
@pdbain-ibm fyi

[2018-09-19 13:50] NigelYiboYu commented on #2908
I'm looking at this.

[2018-09-19 13:53] pdbain-ibm commented on #2935
`wrong exit status expected [13] but found [141]`: Possible duplicate of issue #2871

[2018-09-19 14:11] sophia-guo commented on #2932
I'm not sure which is a better solution.

[2018-09-19 14:43] irinarada commented on #2934
@IBMJimmyk - would you please have a look as soon as possible, I expected 2882 to fix it, I think this was committed when tried... Thanks!

[2018-09-19 14:45] irinarada commented on #2917
@IBMJimmyk - would you please have a look, another possible Power nestamates issue? Thanks!

[2018-09-19 14:48] pshipton commented on #2934
In the same set of results, there is also a crash in cmdLineTester_jvmtitests_hcr_OSRG_nongold running rc018
[code]

[2018-09-19 14:50] pshipton commented on #2917
Latest results for last night https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le/20/tapResults/

Note one of the crashes is in the CondyPrimitive_1 testing.

[2018-09-19 14:54] kgibm commented on #284
@LakshmiSwethaG Memory faults are often caused by either 1) truncated core dumps, or 2) core dumps taken during a GC without requesting exclusive access. For 1, check that core and file ulimits are unlimited and there's enough disk space (and that the size of the resulting core is the size of VSZ from ps). For 2, the best way I've found to ensure exclusive access when taking core is to set `-Xdump

[2018-09-19 14:56] irinarada commented on #2673
@jdmpapin - is this finished?

[2018-09-19 14:59] pdbain-ibm opened #2938 "Remove dependency on com.ibm.tools.attach.target.AttachHandler in TestUtilities"
TargetVM and TargetManager use internal attach API API such as `AttachHandler.getVmId()`. This makes life difficult for tests which don't have these classes.
Use reflection access these methods.

@llxia @pshipton FYI.

[2018-09-19 15:16] jdmpapin commented on #2673
This is now done! The following have all been merged.

General implementation on each platform, without handling for AOT:
- x86: #2851
- power: #2809
- z: #2665

Relocation to allow this to work in AOT-compiled callers:
- common: #2874
- x86: #2875
- power: #2882
- z: #2892

[2018-09-19 15:16] #2673 closed

[2018-09-19 15:16] IBMJimmyk commented on #2821
I got a corefile. It looks like this one was crashing inside growSlotIterator.

0x000072120e08cfe8 {libj9vm29.so}{growSlotIterator} [0x7211d3fab000]
0x000072120d5ae7f0 {libj9jit29.so}{jitWalkStackFrames} [0x7211d3fab110]
0x000072120e0d2918 {libj9vm29.so}{walkStackFrames} [0x7211d3fab190]
0x000072120e08d6e4 {libj9vm29.so}{internalGrowJavaStack} [0x7211d3fab260]
0x000072120e08e168 {libj9vm29.so}{gro

[2018-09-19 15:28] llxia commented on #2907
I encountered the similar issue on windows where if a build is cancelled, it seems the process on the machine is still running. Hence, the next build cannot delete workspace.

[2018-09-19 15:30] llxia commented on #2907
Found this: https://issues.jenkins-ci.org/browse/JENKINS-48485

[2018-09-19 15:36] irinarada commented on #2917
Condy issue @aviansie-ben would you please have a look?

[2018-09-19 15:37] IBMJimmyk commented on #2917
I was able to reproduce this crash on a local machine.

0x0000772ed802b814 {libj9vrb29.so}{jitWalkFrame} [0x772eda4bcb10]
0x0000772ed802d7b0 {libj9vrb29.so}{jitWalkStackFramesVerbose} [0x772eda4bcc20]
0x0000772ed8031cc4 {libj9vrb29.so}{walkStackFramesVerbose} [0x772eda4bcd20]
0x0000772ed8fc25dc {libj9jit29.so}{jitCheckScavengeOnResolve} [0x772eda4bcec0]
0x0000772ed8fc9148 {libj9jit29.so}{old_slow_

[2018-09-19 16:01] pshipton commented on #1274
Can this be closed, or is there more to do?
@DanHeidinga @smlambert @llxia

[2018-09-19 16:01] IBMJimmyk commented on #2934
I was able to reproduce the jit_hw_0 failure locally. I will look further into this when I get the chance.

[2018-09-19 16:18] llxia commented on #2938
Thanks, Peter :)

[2018-09-19 16:53] ashu-mehra commented on #1932
I stand corrected - in addition to Java 11, it should also be available in Java 8 builds.

[2018-09-19 17:18] tajila commented on #1859
@keithc-ca @pshipton I've updated the proposal for modularity DDR commands

[2018-09-19 17:38] irinarada commented on #2934
@zl-wang FYI

[2018-09-19 17:42] #2801 closed

[2018-09-19 17:44] gacholio commented on #2911
So far unable to reproduce locally - hopefully we'll get some cores later today.

[2018-09-19 18:13] keithc-ca commented on #1859
I assume the options each start with a `-`, so for `!dumpmodule` they would be `-all`, `-requires`, `-exports`, etc.

It might make sense for `!dumpmodule` to support the `-packages` option which would show all packages in the module, highlighting which are exported.

At some point we might want `-uses` and `-provides` options for `!dumpmodules` and `!findmodules`.

On the whole, I like the new pr

[2018-09-19 18:34] aguibert commented on #2742
I am also noticing this issue with the following OpenJ9 JDK 11 build:
[code]

This is effecting the Liberty Maven and Liberty Arquillian plugins:
https://github.com/OpenLiberty/liberty-arquillian/blob/master/liberty-managed/src/main/java/io/openliberty/arquillian/managed/WLPManagedContainer.java#L321

[2018-09-19 18:47] pshipton commented on #1859
I also like the new proposal, and that its extensible.

Starting the commands with `-` isn't consistent with many other jdmpview commands, except for a couple with single letter options. I suppose the commands could be supported with or without the `-`.

i.e. snapformat supports -f -d -t -s
but otherwise command words don't use `-`

[code]

[2018-09-19 18:56] liqunl commented on #2915
Closed because of https://github.com/eclipse/openj9/pull/2940

[2018-09-19 18:56] #2915 closed

[2018-09-19 19:09] keithc-ca commented on #1859
I suppose the leading `-` isn't necessary given what is anticipated at this point; one parameter is the 'param' and if there are two they are 'option' and 'param'. That might change if the syntax grows complicated.

[2018-09-19 19:31] JasonFengJ9 opened #2943 "Add automated for custom classloader defined via java.system.class.loader"
Need implement a custom classloader which is going to be defined via a system property `java.system.class.loader`, in addition, a class can only be loaded by this custom classloader, for JVM without PR #2941, a `ClassNotFoundException` should be thrown.

This test is to support #2941 and prevent a regression.

[2018-09-19 19:40] JasonFengJ9 commented on #2922
@aguibert does `OpenJ9` cause any specific test failure while `RI` makes them pass?

[2018-09-19 20:17] aguibert commented on #2911
Sent @gacholio a core earlier today (not uploading it here because it's >750MB).

I did determine that the class in question had an unused field which our trace injection was colliding with:

[code]

For now, I'm going to try and work around this issue by removing the unused trace field, but I've sent Graham all of the info needed for him to reproduce the problem locally.

[2018-09-19 20:23] llxia opened #2944 "Support JDK_IMPL and JDK_VERSION in Openj9 Jenkins jobs"
We are replacing JAVA_VERSION and JAVA_IMPL with JDK_IMPL and JDK_VERSION. #2930 #2786 To support JDK_IMPL and JDK_VERSION in Jenkins jobs:

- [x] Update test Jenkins file in AdoptOpenJDK ( related: https://github.com/AdoptOpenJDK/openjdk-tests/issues/563)

- [x] Update upstream script to pass in correct parameters

- [x] Update test job configure

[2018-09-19 20:27] gacholio commented on #2911
This appears to be a problem with class redefinition (we're identity comparing classes which may no longer be identical if they get replaced).

[2018-09-19 20:44] pshipton commented on #2108
I believe this is now complete, possibly excluding a bug or two. All the items in the project are completed.
@DanHeidinga if you agree, perhaps you'd like the honor of closing this issue and the project.

[2018-09-19 20:57] sophia-guo opened #2946 "cmdline_fetchRedirectorDllDir() is hard coding bin/j9vm, causing test failure"
A couple of native tests have the code:

[code]
Using `J9_VM_DLL_NAME` create incorrect message.

[2018-09-19 20:58] sophia-guo commented on #2946
FYI @pshipton

[2018-09-19 21:00] aviansie-ben commented on #2917
Was finally able to reproduce this problem myself locally. Seems that this problematic behaviour was exposed by (but not caused by) ibmruntimes/openj9-openjdk-jdk11#21. I can't get any segfaults without that commit. As such, this is looking to be unrelated to constant dynamic at all, since javac does not yet use that feature AFAIK.

[2018-09-19 21:10] fengxue-IS opened #2948 "Nestmates visibility exception handling"
https://github.com/eclipse/openj9/blob/685530b8f8fe667e0651ed60c750b6c52921f827/runtime/vm/lookupmethod.c#L204-L209

`checkVisibility` could have set non `illegalAccessError` during validation of class nesthost, this exception might be overwritten by the caller of `processMethod` and result in a different exception type being thrown.

We should reconsider how to handle the exception propagation of

[2018-09-19 21:11] JasonFengJ9 opened #2949 "Investigation of pairing of internalEnterVMFromJNI/internalReleaseVMAccess"
There are quite a few places with this pairing:

[code]

Will let these code intact until further investigation.

[2018-09-19 21:31] pshipton commented on #2917
although javac with target 11 does enable nestmates use in the class library code.

[2018-09-19 21:33] IBMJimmyk commented on #2917
Yes, I'm currently taking a look at it from the angle of a potential problem with the nestmates changes.

[2018-09-19 21:35] gacholio commented on #2911
Looks like the class has been redefined before we get to the field resolve, so it either happened in the clinit, or before (in which case, why are we running the obsolete clinit?). There's a lot of HCR pitfalls in this code, so I'm not going to have a detailed look rather than banging out a quick fix.

[2018-09-19 21:41] keithc-ca commented on #2946
I see j9vm on Linux and Windows in my openj9 builds: I must misunderstand what you're saying.
Got a link to a failing test?

[2018-09-19 21:46] keithc-ca commented on #2946
Is it failing to find some test-specific shared library? If so, it shouldn't be expecting them to be in the same places as JVM shared libraries.

[2018-09-19 23:39] IBMJimmyk commented on #2917
I think I found the problem.

For the invokevirtual nestmate work on Power I did there was one part that I wasn't 100% confident in. It was a part related to GCmaps. Fortunately, it was part of an optimized later revision of the feature so I tried using an older version I had wrote. The older version seems to work. jit_jitt_0 had a near 100% failure rate before but now I got 5 passes in a row.

[2018-09-19 23:41] IBMJimmyk commented on #2934
This is likely a duplicate. See this comment:
https://github.com/eclipse/openj9/issues/2917#issuecomment-422992665

I tried running jit_hw_0. It used to fail 100% of the time. I was able to see 5 successes in a row.

[2018-09-19 23:41] IBMJimmyk commented on #2821
This is likely a duplicate. See this comment:
https://github.com/eclipse/openj9/issues/2917#issuecomment-422992665

This test has a low failure rate (maybe around 1 in 20). I'll need to run it a bunch of times to make sure I fixed the problem.

[2018-09-20 01:19] pshipton commented on #2946
@sophia-guo can provide more details about what is failing if necessary. Anything that calls cmdline_fetchRedirectorDllDir(), such as shrtest, thrstatetest, vmLifecyleTests.

Its looking for libj9vm.so in bin/j9vm (as hardcoded in cmdline_fetchRedirectorDllDir()) . When you see j9vm on Linux is it under bin?

and when it fails, the error message is wrong as it says it can't find libj9vm29.so when

[2018-09-20 03:43] gacholio commented on #2911
Class does not appear to be obsolete when clinit is invoked.

[2018-09-20 03:44] gacholio commented on #2911
I'll further instrument the VM to determine exactly when this class is replaced.

[2018-09-20 03:48] gacholio commented on #2948
This is a much larger issue - prior to nestmates, checkVisibility was not an HCR point, now it is. Also, it appears the flags being passed/used in this code are wildly incompatible (call assumes J9_LOOK_ flags, but is getting J9_RESOLVE_ flags in many cases - there is no compatibility between the two).

[2018-09-20 08:43] bharathappali commented on #2838
@DanHeidinga Thank you for posting those questions. Which are quite helpful and important.

Its a moderately expensive operation as its processed every time the javacore dump is generated. We read and write to javacore directly when its processed will not be storing it.

Initially i thought to add 1 line per cpu. But what you said was right it doesn't look good in a case where we have many CPU's.

[2018-09-20 11:05] pshipton opened #2955 "Test-sanity.functional-JDK11-win_x86-64_cmprssptrs StringPeepholeTest_0 NPE"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-win_x86-64_cmprssptrs/19/tapResults/

This isn't the first occurrence of the failure.

[code]

[2018-09-20 11:06] pshipton commented on #2955
@JasonFengJ9 for triage please.

[2018-09-20 11:09] pshipton opened #2957 "Test-sanity.functional-JDK11-linux_x86-64 jsr335_interfacePrivateMethod_mode100_0 Should have thrown an IncompatibleClassChangeError"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/21/tapResults/

[code]

[2018-09-20 11:10] pshipton commented on #2957
@fengxue-IS

[2018-09-20 11:13] pshipton opened #2958 "Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs CondyPrimitive_1"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/18/tapResults/

[code]

all testing stops

Similar failure on ppc le also mentioned in #2917

[2018-09-20 11:15] pshipton commented on #2958
@irinarada

[2018-09-20 11:51] pshipton commented on #2871
@pdbain-ibm Please exclude TestAttachErrorHandling_SE80_0 (Java 8 ) and TestAttachErrorHandling_0 (later versions) from the OpenJ9 extended testing so all the extended tests stop failing nightly.

[2018-09-20 12:05] JasonFengJ9 commented on #2955
It is JIT.
[code]

[2018-09-20 12:16] irinarada commented on #2955
@cathyzhyi - Can we look at this with urgency, it's holding the 0.10.0 delivery. Would you please assess the mustfix nature... Thanks!

[2018-09-20 12:39] pdbain-ibm commented on #2871
@pshipton Will do.  I am getting close to the root cause.

[2018-09-20 13:20] aviansie-ben commented on #2958
Looking at the full plaintext log of the run (https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/18/consoleText) seems to indicate that testing continues as normal after the following failure in CondyPrimitive_1:

[code]

Not sure why the test results don't reflect this, but the test failure itself seems like a duplicate of #2934.

[2018-09-20 13:35] keithc-ca commented on #2946
Ok, I think I understand now. On Windows, I see
[code]
and on Linux I see
[code]
so it might be as simple as swapping "lib" for "bin" on non-Windows platforms.

[2018-09-20 13:38] pshipton commented on #2769
I ran "jenkins test extended zlinux jdk11" which also started sanity
https://github.com/eclipse/openj9/pull/2959

@AdamBrousseau fyi

[2018-09-20 13:42] pshipton commented on #2946
swapping "lib" for "bin" on non-Windows platforms won't fix jdk8, but will for jdk9 and above

[2018-09-20 13:51] pshipton opened #2960 "TAP results are truncated after test failure"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/18

The console shows the complete run, but the TAP results are truncated at the test failure

[code]

[2018-09-20 13:52] pshipton commented on #2960
@llxia fyi

[2018-09-20 13:57] IBMJimmyk commented on #2917
I also tried out the CondyPrimitive_1. Similar to jit_jitt_0 it used to have a 100% failure rate but I was able to get 5 passes in a row using the older version of the invokevirtual nestmates change.

[2018-09-20 14:00] llxia commented on #2893
I saw the PR in https://github.com/AdoptOpenJDK/openjdk-tests/pull/534. Do we plan to run tests both in docker and directly on machines?

[2018-09-20 14:03] pdbain-ibm commented on #2871
Reverting these `omrsig` commits fixes the problem:

- 45135e8f9bd1e532ec20892d06ffef78801cacef https://github.com/eclipse/openj9/commit/45135e8
- 11c7267c52707a2cac55be38e04528651b1d4599 https://github.com/eclipse/openj9/commit/11c7267
- cfe191c045943a997d7cdf9ca39c9e015567e9ed  https://github.com/eclipse/openj9/commit/cfe191c

To test, unpack attached archive, add the Java under test, and runt t

[2018-09-20 14:09] pshipton commented on #2935
Seems to be intermittent as it didn't occur in the next build
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64/21/tapResults

[2018-09-20 14:31] gacholio commented on #2911
The class (WSJdbc43DataSource) is being redefined during the Tr.register call (called from the clinit).

[2018-09-20 14:32] gacholio commented on #2911
The simple fix is the correct one for this case (use most current class when doing the final field check).

[2018-09-20 14:35] pshipton commented on #2871
Not sure Peter's ping worked, since its quoted.

@babsingh

[2018-09-20 14:36] pshipton commented on #2871
@babsingh See https://github.com/eclipse/openj9/issues/2871#issuecomment-421472432

[2018-09-20 14:36] theresa-m commented on #2927
I'm testing out my changes now. working on getting this out asap

[2018-09-20 15:01] AdamBrousseau commented on #2769
^ That one is now resolved. This should all go away once #2728 is resolved.

[2018-09-20 15:10] tajila commented on #1859
yes that should be package name

[2018-09-20 15:15] harryyu1994 commented on #2893
Running tests directly on machines are more important to us. Testing in docker is a nice-to-have.

[2018-09-20 15:17] gacholio commented on #2948
I've found at least one other place not doing it. I'm working on a large fix.

[2018-09-20 16:03] fengxue-IS commented on #2957
looking into this

[2018-09-20 16:07] babsingh commented on #2871
Fix - https://github.com/eclipse/openj9/pull/2965

[2018-09-20 16:29] llxia commented on #2960
This is a known issue. When test output some special characters, TAP plugin cannot handle it. We checked TAP file that we generated, it looks fine.

@renfeiw

[2018-09-20 16:57] pdbain-ibm commented on #2872
I chatted with @zl-wang about this.  Adding `-fno-strict-aliasing` will probably degrade performance due to more conservative code generation. I suggest we investigate removing this option where possible.

[2018-09-20 17:00] #2911 closed

[2018-09-20 17:09] llxia commented on #2960
Please see attached TAP file
[TestTargetResult.txt](https://github.com/eclipse/openj9/files/2402334/TestTargetResult.txt)

[2018-09-20 18:30] babsingh opened #2967 "Verify signal handler registration for SIG_RI_INTERRUPT"
Signal handler for `SIG_RI_INTERRUPT` is registered in `linuxs390/j9ri.c`.

1) [j9ri_enableRISupport](https://github.com/eclipse/openj9/blob/master/runtime/port/linuxs390/j9ri.c#L111)

2) [j9ri_disableRISupport](https://github.com/eclipse/openj9/blob/master/runtime/port/linuxs390/j9ri.c#L155)

[code]

The above code is used in `j9ri_enableRISupport` and `j9ri_disableRISupport`. The above code tran

[2018-09-20 18:35] pshipton opened #2968 "linuxs390/j9ri.c calling noop OMRSIG_SIGACTION(SIG_RI_INTERRUPT, NULL, NULL)"
https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/runtime/port/linuxs390/j9ri.c#L159

OMRSIG_SIGACTION(SIG_RI_INTERRUPT, NULL, NULL) is a noop, this code seems wrong. The intention appears to be to uninstall the signal handler. There are two other places in this file as well.

[2018-09-20 18:39] babsingh commented on #2967
JIT on `z` platform does use `j9ri_enableRISupport` in **runtime/compiler/z/env/J9CPU.cpp::initializeS390zLinuxProcessorFeatures**. But, it doesn't use `j9ri_disableRISupport` during shutdown. Since JIT doesn't rely on `j9ri_disableRISupport` and execute the error cases during `j9ri_enableRISupport`, no issues are seen w.r.t the above code. The code to unregister the signal handler should be fixed

[2018-09-20 18:39] babsingh commented on #2967
fyi - @fjeremic @pshipton

[2018-09-20 18:52] pshipton commented on #2968
Babneed opened #2967 so I'll close this one.

[2018-09-20 18:52] #2968 closed

[2018-09-20 18:55] JasonFengJ9 commented on #2922
Current direction is to match `RI JDK11 11-ea+24` output format.

[2018-09-20 19:08] navyxliu commented on #2932
that's okay. I also use built 107.

[2018-09-20 19:12] #2871 closed

[2018-09-20 19:34] pdbain-ibm commented on #2781
@dinogun Any progress on this?

[2018-09-20 19:39] DanHeidinga commented on #2872
I would strongly prefer to see benchmark results with and without.  Compilers are relying more and more on strict aliasing for performance and our current code doesn't obey the strict aliasing requirements.

I would rather add the option and avoid the long bug tail than try to find every place we've violated strict aliasing.

[2018-09-20 19:41] andrewcraik commented on #2955
actually I think @liqunl is the best person to have a quick look here

[2018-09-20 19:45] llxia commented on #2932
The problem is that Jenkins does not keep the build history forever. Based on the history, built 107 will only be there for another 3 months.

I would like to keep this issue open as we need to find a more stable solution.

[2018-09-20 19:50] pdbain-ibm commented on #2593
Fixed by https://github.com/eclipse/openj9/pull/2962 .

[2018-09-20 19:52] pdbain-ibm commented on #2141
@pshipton would you kindly close this issue?

[2018-09-20 19:52] pshipton commented on #2922
Note the current format is used by OpenJDK since Java 9 GA.

[2018-09-20 20:00] navyxliu commented on #2932
sure. no problem.

[2018-09-20 20:10] pshipton commented on #2141
I'll wait until tomorrow, after the overnight builds with #2965, when we can verify the test is running and passing.

[2018-09-20 20:36] liqunl commented on #2955
I got a crash in compiled method `java/lang/StringCoding.encode(B[B)[B` running the test on my laptop. Looking at the crash.

[2018-09-20 20:37] irinarada commented on #2955
Thanks @andrewcraik and @liqunl

[2018-09-20 20:54] IBMJimmyk commented on #2917
I've hopefully fixed the problem with the GC map. I just made the PR with the fix ihere:
https://github.com/eclipse/openj9/pull/2972

[2018-09-20 21:03] smlambert commented on #2932
We could look at having these tools published to the AdoptOpenJDK website (like the binaries) so that we can pull them from there (and get latest published tools from website)

[2018-09-20 22:37] liqunl commented on #2955
The crash is not reproducible on java9 and jdk10, it only happens on jdk11.

The crash is an Illegal instruction
[code]

In trace log
[code]
In the core dump
[code]
The first 4 bytes have been patched to `cc cc`, which is odd. But we couldn't have come from `0x000007FFEB9219D8` otherwise we would have crashed there. Apparently, we came straight to `0x000007FFEB9219E2` which is not a valid address

[2018-09-20 22:46] #2922 closed

[2018-09-21 03:10] DanHeidinga commented on #2108
Agreed.  Many thanks to everyone involved in implementing NestMates!

[2018-09-21 03:10] #2108 closed

[2018-09-21 03:11] theresa-m opened #2974 "Distinguish user arguments from generated arguments"
Currently it cannot be distinguished whether arguments in J9VMInitArgs are created by the vm or by the user. `JVM_GetVmArguments` is expected to return only the user generated arguments. `JVM_GetVmArguments` should be updated to reflect this when the information distinguishing user args or generated args is available. @pdbain-ibm is working on making this information available.

[2018-09-21 03:26] DanHeidinga commented on #2838
Can the frequency governor change at runtime?  Or is it a static assignment?  I'd rather cache the info than read it over and over.... depending on how expensive it is to read.

Is there a reason to only record the two kinds (performance / powersave) when there are 4 other kinds?

I think we need to figure out what data we want before we pick the format.

[2018-09-21 05:03] aguibert commented on #2922
Thanks for taking care of this @JasonFengJ9! The revised stack trace output looks much better

[2018-09-21 05:05] aguibert commented on #2911
Thanks for taking care of this @gacholio!

[2018-09-21 08:13] andrew-m-leonard commented on #2871
@pshipton Interesting some of our TLS 1.3 SSL test failures fail with "Java exited with status 141", I will see if this PR has fixed that...

[2018-09-21 12:07] DanHeidinga commented on #1274
I think there are more corner cases to cover:
* Recursive use of Condy
* More error cases
* Condy as a BSM arg to another Condy and/or Indy
* Tests for jdk.internal.reflect.ConstantPool access to Condy
and possibly other cases I've missed.

This should stay open until we've added more testing or identified relevant tests for these cases in OpenJDK that can be run on OpenJ9.

[2018-09-21 12:13] #2821 closed

[2018-09-21 12:13] #2917 closed

[2018-09-21 12:13] #2934 closed

[2018-09-21 12:13] #2958 closed

[2018-09-21 12:28] pdbain-ibm commented on #2974
This is also related to https://github.com/eclipse/openj9/issues/2377 and https://github.com/eclipse/openj9/issues/2378.
Currently the list of VM arguments reported by the VM may be problematic if they are used to launch another VM since they contain JVM and process-specific information.
@theresa-m could you please provide examples of the arguments provided by OpenJ9 and the reference implementati

[2018-09-21 12:58] pdbain-ibm commented on #2935
[code]
The VM received a SIGPIPE (signal 13) and exited with status code 128 + 13 = 141.

[2018-09-21 13:11] pdbain-ibm commented on #2872
@DanHeidinga I will see about benchmarking the VM with  `-fno-strict-aliasing`.

Given that jnicsup.cpp currently uses strict aliasing and we haven't seen any bugs since I fixed the aliasing errors, are you suggesting disabling strict aliasing in this file as prophylaxis?

@gacholio your thoughts?

[2018-09-21 14:51] pshipton commented on #2935
Closing as fixed by #2965

[2018-09-21 14:51] #2935 closed

[2018-09-21 14:59] pshipton commented on #2141
I see the test in TestAttachErrorHandling is running and passing now in extended testing
`PASSED: test_startupShutdownRobustness`

[2018-09-21 14:59] #2141 closed

[2018-09-21 15:01] renfeiw commented on #2960
We tried to reproduce this error by using the TAP plugin to parse this TAP file, but the result looks fine.  Not sure what caused the result to be truncated.

[2018-09-21 15:19] pshipton opened #2977 "Options starting with -XX: should not be ignored"
OpenJ9 ignores any options starting with -XX: that it doesn't understand. While this may be useful if trying to use an OpenJDK command line containing options that don't apply to OpenJ9, it makes it hard to tell when an option starting with -XX: is valid for OpenJ9 or not. OpenJDK does not have this behavior.

https://github.com/eclipse/openj9/blob/a65785ba6a75ca53bdb15921808bb339479440c4/runtime/

[2018-09-21 15:27] pshipton opened #2978 "security provider testing gets an unexpected AccessControlException"
make jtreg_tests TESTDIRS=jdk/sun/security/provider

FAILED: sun/security/provider/PolicyFile/Modules.java
[code]

[2018-09-21 15:36] pshipton commented on #2978
It seems `ImageReaderFactory.<clinit>` is being run after the SecurityManager is installed, but it should be run before.

@JasonFengJ9

[2018-09-21 15:41] DanHeidinga commented on #2977
This has been requested previously: https://github.com/eclipse/openj9/issues/526

OpenJ9's current behaviour makes migration easier but is less explicit for users that want to be notified about the mismatch.

I think the new option is the right path forward as it allows existing users to maintain the behaviour they've come to know and love(?) without requiring them to modify their existing command

[2018-09-21 15:42] DanHeidinga commented on #526
This has come up in discussion again.  Closing this as a duplicate of https://github.com/eclipse/openj9/issues/2977

[2018-09-21 15:42] #526 closed

[2018-09-21 15:44] JasonFengJ9 commented on #2978
Attempting to reproduce the failure.

[2018-09-21 15:47] DanHeidinga commented on #2872
My preference is to enable `-fno-strict-aliasing` globally to match other platforms and to pinch off the potential bug tail.

[2018-09-21 15:51] pdbain-ibm commented on #2977
I was palnning to do some argument hacking.  Would you like me to work on this?

[2018-09-21 17:12] theresa-m commented on #2974
My command line:
`java --add-exports=java.base/jdk.internal.misc=ALL-UNNAMED -Xint TestProgram`

Hotspot output from getVmArguments:
[code]

Current OpenJ9 output:
[code]

[2018-09-21 17:52] zl-wang commented on #2872
globally as applying to all OMR and OpenJ9 files?
I am not sure if it is a good idea.  Certainly, that option alone will not provide extra assurance of correctness (since only some relevant optimizations are disabled). In any case, let's wait and see the performance comparison with/without.

[2018-09-21 18:13] DanHeidinga commented on #2872
We should match what's been done on other platforms (notable x) as the code base has not been written with strict aliasing in mind.  I was surprised to find we didn't already have it option set.

[2018-09-21 18:18] DanHeidinga commented on #2974
Does Hotspot have options files?  Can we confirm whether the options in those files (assuming they exist) are also reported by this api?

[2018-09-21 18:20] #2088 closed

[2018-09-21 18:31] pshipton opened #2980 "Install clang on all Windows openj9 builds machines"
clang ~6.0.1~ 7

[2018-09-21 18:57] pshipton commented on #2332
-XX:CompileThreshold is another one, I think it maps to -Xjit:count=

[2018-09-21 19:31] hangshao0 commented on #1646
@mpirvu , Do you think there is a need to set a maxAOT limit for the default shared cache ?

[2018-09-21 19:34] mpirvu commented on #1646
No, I think we should not set any limit on AOT.

[2018-09-21 20:11] theresa-m commented on #2974
confirmed arguments in option files (hotspot argument files) are also reported
`$ oracle-build/jdk-11/bin/java @options -Xint TestProgram`

options file content:
`--add-exports=java.base/jdk.internal.misc=ALL-UNNAMED`

output from program calling getRuntimeArguments():
[code]

[2018-09-21 20:31] LinHu2016 opened #2982 "issue about notification for exceeding CollectionUsageThresold of tenure MemoryPool"
Base on documentation of MemoryNotificationInfo.MEMORY_COLLECTION_THRESHOLD_EXCEEDED

So we should only check the tenure memory pool if MEMORY_COLLECTION_THRESHOLD_EXCEEDED after global GC because scavenge GC does not recycle tenure memory pool.
 Currently we check and fire notification for tenure pool after every GC(both global and scavenge).

[2018-09-21 23:15] babsingh commented on #36
**Update:**

1) Recent fixes:  #2858, #2929, #2985 and eclipse/omr#2966. This should fix majority of the issues mentioned above. The final remaining task is to fix how dylib libraries are named and linked.

2) I am using the following Clang compiler to compile OpenJ9 on OSX:
[code]
With the above Clang compiler, warnings are interpreted as errors for openj9-openjdk-jdk9 native source code: [warnin

[2018-09-22 22:44] JasonFengJ9 opened #2986 "j.l.i.MethodHandle.resolveConstantDynamic should not in Java 8"
`j.l.i.MethodHandle.resolveConstantDynamic()` is for `Java 11` and should be decorated with `JPP Java11`.

[2018-09-23 17:10] DanHeidinga commented on #2974
As a first cut of the API, I would suggest to return all the options and see if that is sufficient to unblock the test issues.

We can look at refining the support and limiting the options returned once we've got the initial implementation in place

[2018-09-24 03:54] #2957 closed

[2018-09-24 13:19] irinarada commented on #2917
Is this fixed by Jimmy's 2972?

[2018-09-24 15:02] ben-walsh opened #2990 "JTreg security test fails due to unexpected 401 return code from test server"
Test test8077155 of test/jdk/sun/security/krb5/auto/HttpNegotiateServer.java fails with the following exception stack when run against OpenJ9. No such error occurs when run against Hotspot ...

[code]

The unexpected 401 response code is returned from the test server despite using the correct username and password to authenticate.

This is a regression test added alongisde the fix that went in for

[2018-09-24 15:20] hangshao0 commented on #2990
Will take a look at it

[2018-09-24 15:26] pshipton opened #2991 "AIX builds are failing to run on aix71-p8-3 due to out of space"
https://ci.eclipse.org/openj9/job/Build-JDK11-aix_ppc-64_cmprssptrs/27/console
https://ci.eclipse.org/openj9/job/Build-JDK10-aix_ppc-64_cmprssptrs/517/console

[code]

[2018-09-24 15:37] #2927 closed

[2018-09-24 16:11] AlenBadel opened #2994 "Segmentation Error When compiling with debug enabled on PPC"
This only occurs when building on PPCLE, and with java versions 10,11. Java 8 builds perfectly.

This occurs during the DDR stage, when it uses the built jdk.

Passes with -Xint.

To reproduce,

I checked out the OpenJDK 11 with OpenJ9 project per
https://www.eclipse.org/openj9/oj9_build.html

Enabled debugging per https://blog.openj9.org/2018/06/05/debugging-openj9-in-docker-with-gdb/

[code]

To

[2018-09-24 16:26] AdamBrousseau commented on #2991
I cleaned up the 4 aix nodes this morning and restarted them all since the space didn't appear to be getting "recovered". All seems well now.

[2018-09-24 16:38] pshipton commented on #2980
When all the work is completed, yes.

[2018-09-24 16:38] #2991 closed

[2018-09-24 16:53] llxia opened #2995 "test.getDependency jobs failed to download asm-7.0-beta-20180911.182645-11.jar"
https://ci.eclipse.org/openj9/job/test.getDependency/ failed to download asm-7.0-beta-20180911.182645-11.jar as it does not exist any more.

[code]

This blocks personal build as personal build downloads dependencies during each build. Regular test builds uses pre-stages test.getDependency Jenkins job, so they are not affected. Once we switch personal build to use same script as regular build, we

[2018-09-24 17:20] hangshao0 commented on #2990
Do you know if OpenJ9 ever pass this test ? @ben-walsh

[2018-09-24 17:30] r30shah commented on #2995
@llxia  I checked out snapshot page for ASM, I do not see stable snapshots. Only release page contains stable asm. I am looking for alternative but in snapshot they do have [maven-metadata.xml](https://repository.ow2.org/nexus/content/repositories/snapshots/org/ow2/asm/asm/7.0-beta-SNAPSHOT/maven-metadata.xml) which can be used to grab latest snapshot. (This will need mvn - So trying to find a way

[2018-09-24 17:39] jdmpapin commented on #2955
I have what I believe should be a fix, and I'm trying to reproduce the 8-byte call so that I can verify the behaviour in that case

[2018-09-24 17:49] pshipton commented on #2990
Probably not, this is the first attempt at Java 11 testing. You could try other versions of Java.

[2018-09-24 18:14] ymanton commented on #2585
@PTamis I've pushed a fix for that JIT crash to https://github.com/eclipse/openj9/pull/2764. The bug would only be seen on true 32-bit systems, not 64-bit capable machines, so that explains why I only saw it on QEMU and not on a ppc64 server. With that fix I can run some small programs on a G4 QEMU setup without any issue.

[2018-09-24 18:19] hangshao0 commented on #2990
This test failed due to the falling call returning null

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/jdk.security.auth/share/classes/com/sun/security/auth/module/Krb5LoginModule.java#L893toL894

[2018-09-24 18:32] #2946 closed

[2018-09-24 18:36] harryyu1994 commented on #2893
@llxia Hi Lan, jitaas is open-sourcing soon, there is going to be a jitaas branch in OpenJ9 and a jitaas branch in OpenJ9-OMR. Once it's open-sourced, we are expecting it to have PR testing. For example: a committer should be able to request a build+test via comments like this `Jenkins test sanity xlinux jdk8 depends eclipse/openj9-omr#jitaas`. As I explained earlier, jitaas needs an extra JIT ser

[2018-09-24 18:44] hangshao0 commented on #2990
Also failed on OpenJ9 Java 8.

[2018-09-24 18:59] harryyu1994 commented on #2893
When we do `Jenkins test sanity xlinux jdk8 depends eclipse/openj9-omr#jitaas`, does it pick up the openj9/test directory from the branch that the PR is opened against? If so, we could possibly add in the necessary changes in jitaas branch's openj9/test directory and nothing needs to be changed for OpenJ9.

[2018-09-24 19:12] llxia commented on #2893
- Test build uses scripts that are in AdoptOpenJDK, not in openj9/test.
- We can help to add parameters/script for running jitaas tests. @renfeiw Could you help on this? Thanks
- For jitaas PR build, have you talk with @AdamBrousseau and @jdekonin ?

[2018-09-24 19:16] harryyu1994 commented on #2893
I've talked with Adam, he said we likely need conversations with the test folks so I reached out to you.

[2018-09-24 19:19] AdamBrousseau commented on #2893
The PR builds will build the OpenJ9 test material from your PR. Ie. The merge of your PR branch with the target (jitaas) branch. This will not change when we alter the PR builds in #2728 .

[2018-09-24 19:33] pshipton commented on #2834
I attempted to map -XX:NewSize and -XX:MaxNewSize but then using these options results in a error that both -Xmns and -Xmn cannot both be specified at the same time.

[2018-09-24 19:36] harryyu1994 commented on #2893
So could the jitaas PR testing be worked on first, that's the most important/urgent thing right now as we are planing to open source today. And please let me know if there's anything I can help with. Thanks!

[2018-09-24 19:46] AdamBrousseau commented on #2893
You should already be able to launch PR builds from any PR (no matter the source/target branch). The hard part will be determining how to coordinate with the test jobs to indicate you want extra commands run before testing and also make sure it will be cleaned up after the tests are finished. I will talk to @llxia and see if we can figure something out.

[2018-09-24 20:11] pdbain-ibm commented on #2974
I suspect the `@options` files are processed by the launcher.  In that case, OpenJ9 builds should support that as well.  @theresa-m could you please test?  I suggest also running with `-verbose:init` to see what we get from the launcher.

[2018-09-24 20:17] llxia commented on #2893
On the second thought, we can have maketest_jitaas.sh similar as maketest.sh, but with jit specific cmds added. The test build can run maketest_jitaas.sh or maketest.sh based on the flag.

[2018-09-24 21:01] fengxue-IS opened #3001 "Update InvokeDynamic Error wrapping"
JVMS JDK11 Section 5.4.3.6 'Dynamically-Computed Constant and Call Site Resolution' have updated the requirement of resolution exception/error should be handled.

`resolveInvokeDynamic(...)` method need to be updated to match the specification

[2018-09-24 21:32] Mesbah-Alam opened #3002 "SIGPIPE received consistently with JDK11 Linux x64 sdk"
For `TestJlmRemoteMemoryAuth` and `TestIBMJlmRemoteClassAuth` tests, the server process that runs a mini-mix load receives a `SIGPIPE` and ends unexpectedly (server process ends with `exit code 141` triggering failure of the test).

**JDK11 version where the issue is seen:**
[code]
**Build link:**
https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.system-JDK11-linux_x86-64/18/tapResults/

**R

[2018-09-24 21:41] fjeremic commented on #3002
Very likely related to #2965 and the fix for #2871. @babsingh @pdbain-ibm @pshipton FYI.

[2018-09-25 00:27] #2978 closed

[2018-09-25 04:52] AlenBadel commented on #2994
There a number of methods that this is reproducible with.

To name a few:
[code]

This fails with the following options:
[code]

Running through this in gdb, during the transition from runtime within the jit compiled method, and `fast_jitInstanceOf` the TOC is attempted to be populated by register r12.
`0x7ffff64376e4 <fast_jitInstanceOf(J9VMThread*, J9Class*, j9object_t)>          addis   r2,r12,

[2018-09-25 09:35] ben-walsh commented on #2990
@hangshao0 Potentially not. Reason this group of tests is being run is because a couple of them were adapted for TLS 1.3 support for Java 11 and it was a small additional effort to run the entire group under the Java 11 testing.

[2018-09-25 10:11] pshipton opened #3006 "Test-extended.system-JDK11-linux_ppc-64_cmprssptrs_le SharedClasses.SCM23.MultiThread crash"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_ppc-64_cmprssptrs_le/26/

There is a core file in systemtest_test_output.tar.gz
`.\openjdk-tests\TestConfig\test_output_15378579504933\SharedClasses.SCM23.MultiThread_0\20180925-071823-SharedClasses\results\`

[code]

[2018-09-25 11:07] pshipton opened #3007 "Cleanup required on ub16-390-3?"
https://ci.eclipse.org/openj9/job/Build-JDK11-linux_390-64_cmprssptrs/29/ failed.
[code]

@AdamBrousseau

[2018-09-25 11:28] groeges opened #3008 "JTReg test: sun/security/util/FilePermCompat/CompatImpact.java fails with OpenJ9"
The `./jdk/sun/security/util/FilePermCompat/CompatImpact.java` test fails when running with the latest OpenJ9/OpenJDK 11 build. This same test passes when using Hotspot/OpenJDK11 build.

The issue seems to be related to the java option `-Djdk.security.filePermCompat=true`

The main error that is generated is:
[code]
The full JTReg output for the failure is:
[code]

[2018-09-25 11:30] groeges commented on #3008
Peter stated: `-Djdk.security.filePermCompat` is related to the Limited doPrivileged method, I could believe OpenJ9 might have a bug related to that, hence me raising this issue.

To recreate the issue you need to run the JTReg test:
[code]

[2018-09-25 11:33] JasonFengJ9 commented on #3008
Will have a look.

[2018-09-25 11:37] irinarada commented on #3006
@zl-wang - Power platform failure. Wondering if it has anything to do with @jdmpapin 's or @dsouzai 's recent work. @vijaysun-omr

[2018-09-25 11:53] pshipton opened #3009 "Machines sitting idle, but job waiting to run"
https://ci.eclipse.org/openj9/blue/organizations/jenkins/Pipeline-Build-Test-JDK8-win_x86/detail/Pipeline-Build-Test-JDK8-win_x86/252/pipeline/57/

waiting for Test-sanity.functional-JDK8-win_x86 to run

Part of https://ci.eclipse.org/openj9/blue/organizations/jenkins/Pipeline-Build-Test-All/detail/Pipeline-Build-Test-All/219/pipeline

@AdamBrousseau

[2018-09-25 12:34] vijaysun-omr commented on #3006
New AOT changes have not been merged yet; the PRs are currently being reviewed. So I doubt if it's anything related to work being done by @dsouzai

[2018-09-25 12:42] AdamBrousseau commented on #3009
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-win_x86/65/console
Hung on master for some reason

[2018-09-25 12:50] DanHeidinga commented on #2726
I've created a "JIT as a Service" project to help track the jitaas work: https://github.com/eclipse/openj9/projects/5

[2018-09-25 13:36] mstoodle commented on #2726
Thanks @DanHeidinga . Good idea!

[2018-09-25 13:41] AdamBrousseau commented on #3007
That is odd. Last build to run on that machine ([#23](https://ci.eclipse.org/openj9/job/Build-JDK11-linux_390-64_cmprssptrs/23)) finished fine (including deleting the workspace).

[2018-09-25 13:44] theresa-m commented on #2974
OpenJ9 includes options arguments as well.
`bin/java @options -Xint -verbose:init TestProgram`
Output:
[code]

`-verbose:init` output adds the same argument list:
[code]

[2018-09-25 14:07] dsouzai opened #3011 "Add Symbol Validation Manager"
In AOT, the compiler can only konw about classes that can be remembered
(ie, stored in the Shared Class Cache (SCC)). However, for functional
correctness, before loading an AOT compiled body, the code needs to be
validated in order to guarantee that the assumptions made about the java
environment during the compile run are still valid in the load run.

Currently, there are two types of validations

[2018-09-25 14:36] dsouzai opened #3012 "Exploit Symbol Validation Manager"
This issue represents new uses of the new Symbol Validation Manager infrastructure
to do AOT validations (under an option). It also tracks the following two changes:

1. Use resolved interpreter dispatch for AOT

Previously, because almost everything was "unresolved" under AOT, all
calls would use the unresolved dispatch. However, with the new
validations, very few unresolved pointers are only unr

[2018-09-25 14:39] dsouzai opened #3013 "Enable String Peepholes under AOT"
Enable String Peepholes using the Symbol Validation Manager

[2018-09-25 14:40] dsouzai opened #3014 "Enable Check Cast Inlining under AOT"
Enable Check Cast Inlining using the Symbol Validation Manager

[2018-09-25 14:45] dsouzai opened #3015 "Misc AOT Improvements"
* Improve String Builder Transformer
* Improve IL Gen
* Add isInterpretedForHeuristics for code that wants to know about whether a method is interpreted for heuristic decisions
* Generate fewer validation records
* Disable Symbol Validation Manager during Startup or for cold compilations

[2018-09-25 14:50] JasonFengJ9 commented on #3002
The PR fix has been merged, @Mesbah-Alam please re-run the test to check if the failure still presents.

[2018-09-25 15:08] theresa-m opened #3017 "JVMTI extensions event com.openj9.PatchToJavaBase"
I'm implementing a JVMTI extensions event with behavior similar to `--patch-module` but available at `Agent_OnLoad` so classes can be defined into java.base early in startup. When the event is triggered it will run a callback function with the class name giving the user the option to respond whether or not this class should be loaded into java.base or the unnamed module. Something along the lines

[2018-09-25 15:30] fengxue-IS commented on #3001
@DanHeidinga does this change also apply to JDK8 or is a runtime check need?

[2018-09-25 15:34] zl-wang commented on #3006
I doubted it is p specific.  @IBMJimmyk is investigating.

[2018-09-25 15:50] liqunl opened #3018 "Guarded static final field folding"
Static final fields can't be folded without any protection because Java provides several ways to modify their values. With the support of reporting the write to a static final field after initialization in the VM, plus a flag on J9Class telling us whether the class has one or more illegal writes to its static final fields, the JIT can constant fold static final fields with OSR guards. When an ille

[2018-09-25 15:54] liqunl commented on #3018
Changes already merged include https://github.com/eclipse/openj9/pull/2580. Related bug fixes are https://github.com/eclipse/openj9/pull/2616 and https://github.com/eclipse/openj9/pull/2479

[2018-09-25 15:56] liqunl opened #3019 "VarHandle Performance"
VarHandle has been added as a feature of Java9, to replace Unsafe.

In openj9, VarHandle is implemented using MethodHandle. In the JIT, we recognize and transform a VarHandle call into an invokeGeneric on a MethodHandle object which is an element of `Varhandle.handleTable`. The invokeGeneric becomes a invokeExact on a MethodHandle after conversion in the trees.

In simplified trees, the call is tr

[2018-09-25 15:57] liqunl commented on #3019
FYI @andrewcraik

[2018-09-25 16:03] DanHeidinga commented on #3001
I think this can be handled with the java preprocessor so no runtime check is required, but yes to JPP ifdefs.

[2018-09-25 16:07] irinarada commented on #3006
FYI @IBMJimmyk is working on this. Thanks @gita-omr and @zl-wang .
@IBMJimmyk - thanks for looking into this, as previously, frequent updates are very appreciated, this is blocking RC1.

[2018-09-25 16:11] fjeremic commented on #3002
Which PR fixed this issue? Can you reference it here?

[2018-09-25 16:35] JasonFengJ9 commented on #3002
The PR specified has been merged.

Just additional notes:
1. The initial failure and grinder were around Sept. 18th;
2. There was no `SIGPIPE` in result file;
3. `SIGPIPE` was seen on originator local run;
4. @Mesbah-Alam is checking if same `SIGPIPE` occurs on `RI`.

[2018-09-25 16:45] babsingh commented on #3002
PR which fixes this issue - https://github.com/eclipse/openj9/pull/2965.

[2018-09-25 16:50] tajila opened #3021 "Link for asm-7.0 dependency is borken"
[code]

[2018-09-25 16:52] tajila commented on #3021
the `https://repository.ow2.org/nexus/content/repositories/snapshots/org/ow2/asm/asm/7.0-beta-SNAPSHOT/` directory doesn't seem to many versions of the older revisions

[2018-09-25 16:52] Mesbah-Alam commented on #3002
Some points to note:

1) `SIGPIPE` can only be seen when I ran the server process locally with`gdb`.
2) Running locally without gdb will result in the server exiting with an exit code `exit code 141` ("Broken pipe: write to pipe with no readers").
3) "The initial failure and grinder were around Sept. 18th" - correct, but the local run where `SIGPIPE` is seen consistently is from a much later build

[2018-09-25 16:57] tajila commented on #3021
`http://central.maven.org/maven2/org/ow2/asm/asm/6.2.1/asm-6.2.1.jar` contains all the functionality required for Constant dynamic and nestmates. The link also seems to be more stable

[2018-09-25 17:10] AdamBrousseau commented on #3009
Possibly something like this
[Pipelines hang on master before running anythin](https://issues.jenkins-ci.org/browse/JENKINS-45644)
This was from July '17 but the situation was similar and the response was `Without steps to reproduce from scratch this cannot be analyzed.`

Another one hanging here
https://ci.eclipse.org/openj9/job/Check_AIX_PDP_VPN/5288/console
[code]

[2018-09-25 18:00] Mesbah-Alam commented on #3002
"I also tried running the above testcase locally. I couldn't reproduce the issue." - Could you please share how you tried to run it locally? Did you run the server and client command lines provided in the PR description? Which JDK11 version did you use?

[2018-09-25 18:12] fjeremic commented on #3002
@Mesbah-Alam FYI if you select some text in GitHub and press the `R` hotkey it will quote the selected text in the comment box. Alternatively you can copy and paste the text and prepend it with a `>` to insert a quote. It looks like this:

Could you please share how you tried to run it locally? Did you run t...

[2018-09-25 18:14] babsingh commented on #3002
I started the server and the client simultaneously on the same machine. I used the following JDK version:
[code]

[2018-09-25 18:16] #2955 closed

[2018-09-25 18:28] hangshao0 commented on #2990
Compared the passing and failing outputs, didn't find any clue,

[2018-09-25 18:29] sophia-guo commented on #2100
I tried some native test. And most of them got the message:
` error while loading shared libraries: libj9prt29.so: cannot open shared object file: No such file or directory`
with export LD_LIBRARY_PATH=""/home/j9build/workspace/Grinder_Sandbox/openjdkbinary/j2sdk-image/bin/../../native-test-libs/:/home/j9build/workspace/Grinder_Sandbox/openjdkbinary/j2sdk-image**/bin/../lib/compressedrefs**:/home/

[2018-09-25 18:42] sophia-guo commented on #3021
Duplicate of https://github.com/eclipse/openj9/issues/2995 and this is a temporary PR https://github.com/eclipse/openj9/pull/2999

[2018-09-25 19:03] keithc-ca commented on #2100
There's some cleanup with quotes that might help: Notice the double `""` at the beginning of `LD_LIBRARY_PATH` and the `":"` at the end, but I'm not convinced that causes your problems.

Assuming everything is where you expect it to be, it should work as it does for me:
[code]

[2018-09-25 19:11] llxia opened #3026 "StringPeepholeTest_0 failed with java/lang/NullPointerException on windows in JDK11"
StringPeepholeTest_0 failed on windows in JDK11. It seems to be intermittent.

https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK11-win_x86-64_cmprssptrs/24/tapResults/

[code]

[2018-09-25 19:12] tajila commented on #3021
Thanks @sophia-guo

[2018-09-25 19:12] #3021 closed

[2018-09-25 19:16] llxia commented on #3026
This should be fixed with PR #3005

[2018-09-25 19:16] #3026 closed

[2018-09-25 20:07] IBMJimmyk commented on #3006
From the Javacore file: $r26 = 0xFFF0A478

0x3fff624ef2d0 {java/.../FoldNonvoidHandle.invokeExact_thunkArchetype_X} +26           ||   809a002c lwz      r4,+44(r26)
0x3fff624ef2d4 {java/.../FoldNonvoidHandle.invokeExact_thunkArchetype_X} +27           ||   80ba0028 lwz      r5,+40(r26)
0x3fff624ef2d8 {java/.../FoldNonvoidHandle.invokeExact_thunkArchetype_X} +28           ||   63430000 ori      r3,

[2018-09-25 20:20] Mesbah-Alam commented on #3002
@babsingh - I was unable to locally reproduce the defect using the latest SDK (https://ci.eclipse.org/openj9/view/Build/job/Build-JDK11-linux_x86-64/lastSuccessfulBuild/artifact/OpenJ9-JDK11-linux_x86-64-201825090023.tar.gz).

Grinder is back, so I have launched a new test there as well - if that goes well, I'll close this PR and include back the failing tests.
Grinder:
https://ci.adoptopenjdk.net

[2018-09-25 20:25] dsouzai opened #3028 "Enable Symbol Validation Manager on all platforms"
- [x] x86_64: https://github.com/eclipse/openj9/issues/2919
- [x] Power_64: https://github.com/eclipse/openj9/issues/4242
- [x] Z_64: https://github.com/eclipse/openj9/pull/4575
- [ ] Aarch64

Not supprting (32 bit):
- x86_32: https://github.com/eclipse/openj9/issues/4827
- Power_32
- Z_32
- Arm32

[2018-09-25 20:30] dsouzai opened #3029 "Use Symbol Validation Manager for Method Symbols"
Currently under AOT, the Symbol Validation Manager isn't used for Method Pointer relocations; this issue is to track enabling this ability.

[2018-09-25 20:31] dsouzai opened #3030 "Revisit canDevirtualizeDispatch query under AOT"
Ensure code guarded by `canDevirtualizeDispatch` does not impact trivial devirtualization opportunities under AOT

[2018-09-25 20:32] dsouzai opened #3031 "Clean up AOT infrastructure"
The AOT compile run code in the codegen is repeated multiple times for each codegen, even though the code to dump relocation data and the AOT Load infrastructure is common across all platforms. This issue is to track cleaning up this code.

[2018-09-25 20:33] dsouzai opened #3032 "Clean up the logic in `TR::SymbolValidationManager::storeValidationRecordIfNecessary`"
`TR::SymbolValidationManager::storeValidationRecordIfNecessary` is overly convoluted because of time constraints. However, this should really be simplified. @jdmpapin has some ideas on how to do so. This issue is to track this cleanup.

[2018-09-25 20:34] dsouzai opened #3033 "Don't retry an AOT compilation if it fails for certain reasons"
If an AOT compilation fails because of some inconsistency in the Symbol Validation Manager, perhaps it is better to not retry the compilation as an AOT compilation, but rather as a JIT Compilation.

[2018-09-25 20:36] IBMJimmyk commented on #3006
Unfortunately the call does change it.

//I can read from +44 from $r26 and see that $r3 = 0x80B0F210.
0x3fff624ef2ec {java/.../FoldNonvoidHandle.invokeExact_thunkArchetype_X} +33           |||| 807a002c lwz      r3,+44(r26)

//$r3 should get stored to 0(r14)
0x00003fff80ce2910:  std     r3,0(r14)

//This call is in between the store and the load
0x00003fff80ce2944:  bctrl

//There's a different v

[2018-09-25 20:53] zl-wang commented on #3006
For the call at 0x00003fff80ce2944, that is a strange convention to say the least:  you set up all the arguments in registers, but return value at stack-top.  The called function is one from a table recorded in J9VMThread --- 0x00003fff80ce2930: ld r4,-32248(r3)  which comes from 0x00003fff80ce292c: ld r3,432(r15).

That strange convention is suspicious to me.  Let's see what that table is, and cl

[2018-09-25 21:50] #2742 closed

[2018-09-25 22:29] Mesbah-Alam commented on #3002
The issue seems to have gone away with the latest SDK. I am cancelling this defect https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder/184/console

[2018-09-25 22:29] #3002 closed

[2018-09-25 22:42] hangshao0 commented on #2990
The call stack that overwrites the initial password to null is:
[code]

[2018-09-26 00:35] babsingh commented on #36
**[Update] Fix RPATH and dylib install_name on OSX:** https://github.com/eclipse/openj9/pull/3034, https://github.com/eclipse/omr/pull/2998.

[2018-09-26 00:54] babsingh commented on #36
There is another issue while loading dependent dylibs. For example,
[code]

`libj9vm29` depends on `libj9prt`. The dylib file for `libj9prt` is named `libj9prt29.dylib` but the `-install_name` is `@rpath/libj9prt`. The dynamic linker tries to search for `libj9prt.dylib` in the `compressedrefs` directory. But, `libj9prt.dylib` doesn't exist. After renaming `libj9prt29.dylib` to `libj9prt.dylib`, th

[2018-09-26 01:50] JasonFengJ9 commented on #2990
[code]

[2018-09-26 03:01] pshipton commented on #2990
Try using the java debugger to step through the code and see why the password gets set to null,

[2018-09-26 11:03] pshipton opened #3037 "Test-extended.functional-JDK10 JDK11 jsr292 failures across platforms"
com.ibm.j9.jsr292.LookupAPITests_AccessClass.test_AccessNestedClass_ProtectedAccess_InterfaceLookup_DiffPackage
com.ibm.j9.jsr292.LookupAPITests_AccessClass.test_AccessNestedClass_ProtectedAccess_InterfaceLookup_DiffPackage
com.ibm.j9.jsr292.LookupAPITests_AccessClass.test_AccessNestedClass_ProtectedAccess_InterfaceLookup_DiffPackage

Error Message
The protected class shouldn't be accessible to th

[2018-09-26 11:03] pshipton commented on #3037
@DanHeidinga

[2018-09-26 11:09] pshipton opened #3038 "Test-extended.system-JDK8-aix_ppc-64_cmprssptrs SharedClassesWorkload_0 Package already defined"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-aix_ppc-64_cmprssptrs/45/

See also #3037

STF 04:11:31.613 - Monitoring processes: SCL2
STF 04:11:38.436 - **FAILED** Process SCL2 ended with exit code (1) and not the expected exit code/s (0)
[code]

[2018-09-26 11:09] pshipton commented on #3038
@DanHeidinga

[2018-09-26 12:08] pshipton opened #3039 "Test-extended.functional aix_ppc-64_cmprssptrs attachAPI staleDirectory failures"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/86/

org.openj9.test.attachAPI.TestAttachErrorHandling.testInitializationDeletesStaleDirectoryWithTextId

`stale target directory not removed /tmp/.com_ibm_tools_attach/foo`

org.openj9.test.attachAPI.TestAttachErrorHandling.testInitializationDeletesStaleDirectoryWithNumericId

`stale target directory not removed

[2018-09-26 12:08] pshipton commented on #3039
@pdbain-ibm

[2018-09-26 12:33] sophia-guo commented on #2100
Thanks @keithc-ca , looks like I've got a wrong jdk. Will double check it.

[2018-09-26 12:34] pshipton commented on #2019
I don't see any re-occurrences of the failure. The test is still running nightly.

[2018-09-26 12:34] #2019 closed

[2018-09-26 12:35] sirinath commented on #59
As people start using mixed language development on Truffle* languages with Java the need to support this will become more. Before things go too far it might be an idea to collaborate with OpenJDK / Oracle so that JVMCI / JEP 243 evolves to something that can be implemented on top of OpenJ9 as well.

[2018-09-26 12:41] pshipton commented on #1814
@hangshao0 @llxia Is there still a problem on Windows? I find https://github.com/eclipse/openj9/blob/5839468bd3fe2217b7590eb27368c2c246157f04/test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/playlist.xml#L26

[2018-09-26 12:48] pshipton commented on #2114
No re-occurrences, assuming fixed.

[2018-09-26 12:48] #2114 closed

[2018-09-26 12:49] pdbain-ibm commented on #3037
Will investigate.  @DanHeidinga FYI.

[2018-09-26 12:51] DanHeidinga commented on #3037
See previous investigations into this: https://github.com/eclipse/openj9/issues/636

[2018-09-26 12:57] pshipton commented on #2227
No re-occurrences, assuming fixed.

[2018-09-26 12:57] #2227 closed

[2018-09-26 13:03] DanHeidinga commented on #3037
And the recently merged change which broke this test: https://github.com/eclipse/openj9/pull/2964

[2018-09-26 13:03] DanHeidinga commented on #3037
Ok, let's check the spec on this again.  JVMS "5.4.4 Access Control" states:

• C is public, and a member of the same run-time module as D (§5.3.6).
• C is public, and a member of a different run-time module than D, and C's run- time module is read by D's run-time module, and C's run-time module exports C's run-time package to D's run-time module.
• C is not public, and C and D are members of the

[2018-09-26 13:06] pshipton commented on #2385
No re-occurrences, assuming fixed.

[2018-09-26 13:06] #2385 closed

[2018-09-26 13:08] pshipton commented on #2528
No re-occurrences, assuming fixed.

[2018-09-26 13:08] #2528 closed

[2018-09-26 13:10] DanHeidinga commented on #3037
Based on that, our implementation is incorrect.  There should be two cases in that code:
1) When the targetClass is public, do the larger module related check
2) When targetClass is not public - check they are the same package and the lookup has package access

[2018-09-26 13:11] pdbain-ibm commented on #3037
Working on that now.

[2018-09-26 13:12] ben-walsh opened #3040 "JTReg test: jdk/java/lang/Class/GetModuleTest.java triggers coredump with OpenJ9"
JTReg test jdk/java/lang/Class/GetModuleTest.java triggers a coredump to be produced when run against OpenJ9 ...

[code]

Log archive (including coredump) :
[GetModuleTestFailure.tar.gz](https://github.com/eclipse/openj9/files/2419807/GetModuleTestFailure.tar.gz)

OpenJ9 build run against ...
[code]

This test passes against Hotspot. Build used ...
[code]

[2018-09-26 13:31] DanHeidinga commented on #3040
The test is invalid on OpenJ9 as it relies on `sun.misc.Unsafe.defineAnonymousClass()`'s ability to patch live objects into the constantpool.  We don't support that behaviour and don't intend to.

There are proposals under discussion in various Expert Groups about alternatives to cp patching.  We expect to implement those features when they are targeted to a java release.

Please exclude this test

[2018-09-26 13:38] ben-walsh commented on #3040
Will do @DanHeidinga. Thanks.

[2018-09-26 13:38] ben-walsh commented on #3040
Closing accordingly.

[2018-09-26 13:38] #3040 closed

[2018-09-26 13:47] DanHeidinga commented on #3038
This is an odd one.  Documenting the changes in this build for when the jenkins build is gone from history:
[code]

[2018-09-26 13:48] DanHeidinga commented on #3038
@pdbain-ibm Can you test this as well when you have the fix in hand for
https://github.com/eclipse/openj9/issues/3037 ?

[2018-09-26 14:10] ben-walsh opened #3041 "JTReg test: jdk/java/lang/Class/GenericStringTest.java fails against OpenJ9"
JTReg test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/Class/GenericStringTest.java is failing against OpenJ9.

The following output is generated ...
[code]

From the JavaDoc on `<Class>.toGenericString()` (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#toGenericString--) the strings are not correct.

OpenJ9 build run against ...
[code]

This

[2018-09-26 14:20] pshipton commented on #3041
The toGenericString spec changed, or at least was clarified, in Java 9. Need to double check the output on Java 8.

[2018-09-26 14:30] pdbain-ibm commented on #3039
Will investigate.

[2018-09-26 14:34] pshipton commented on #3041
Java 8 appears unchanged, this only affects Java 9 and later.

[2018-09-26 15:15] sophia-guo opened #3043 "Dump ROM method and check for type annotations failed"
Dump ROM method and check for type annotations failed with jdk11. Haven't tried other jdk version.
Testing: Dump ROM method and check for type annotations
Test start time: 2018/09/26 14:38:21 Coordinated Universal Time
Running command: /home/j9build/workspace/Grinder_Sandbox/openjdkbinary/j2sdk-image/bin/../bin/jdmpview -core j9core.dmp
Time spent starting: 2 milliseconds
Time spent executing: 433

[2018-09-26 16:01] llxia commented on #2995
PR is merged. Close this issue.

[2018-09-26 16:01] #2995 closed

[2018-09-26 17:29] pshipton commented on #2523
No re-occurrences, assuming fixed.

[2018-09-26 17:35] gita-omr commented on #2994
@AlenBadel will add an update shortly, so I am jumping slightly ahead. I wanted to ask @gacholio : what is the convention between JITted code and the helpers in cnathelp.cpp in terms of setting the TOC?

[2018-09-26 17:35] pdbain-ibm commented on #3037
Looks like a test bug: the same Jsr292 tests fail on OpenJDK Java 10:

[code]

[code]

[2018-09-26 17:44] hangshao0 commented on #2990
Tested on RI, Password will only be set once (to the correct value).

I have compared the parameters passed to javax.security.auth.Subject.doAs(), they are essentially the same. The difference is that OpenJ9 calls into PasswordCallback.setPassword() from  javax.security.auth.Subject.doAs() and RI does not.

[2018-09-26 17:50] pshipton commented on #3041
Note that String.getName() remains unchanged.

[2018-09-26 17:59] gacholio commented on #2994
The C code follows the C calling convention of the platform - there are no exceptions. The wrapper helpers handle this. If the C code is called directly from the compiled code, you will need to follow the appropriate convention there.

[2018-09-26 18:07] pshipton commented on #2990
Where does the null password come from? i.e. does the PasswordAuthentication instance come back as null in the NegotiateCallbackHandler.handle() call? How does the valid password get set? Basically where does OpenJ9 start to differ in the code being run from what the RI is doing?

[2018-09-26 18:35] #2948 closed

[2018-09-26 18:37] hangshao0 commented on #2990
From the trace points, I don't see the call to getPassword() after requestPasswordAuthenticationInstance(), so PasswordAuthentication instance  in null.

[code]

It is set by:
[code]

Still trying to figure it out.

[2018-09-26 18:49] sophia-guo opened #3045 "Native test vmLifecyleTests with option -Xgcpolicy:metronome failed"
Native test vmLifecyleTests with option -Xgcpolicy:metronome failed with jdk11. Haven't tried with jdk10.

Test command is defined in  https://github.com/eclipse/openj9/blob/master/test/functional/NativeTest/playlist.xml#L374

error msg:
[code]

[2018-09-26 19:38] hangshao0 commented on #2990
The null PasswordAuthentication instance is from HttpNegotiateServer.java:

[code]

[2018-09-26 19:41] gacholio commented on #2994
See:

https://github.com/eclipse/openj9/blob/master/runtime/oti/phelpers.m4#L269

[2018-09-26 19:54] pshipton commented on #2990
I'm guessing the problem is in the following area, my assumption being that it should find the existing ticket from the original login, but doesn't.
[code]

[2018-09-26 20:13] pdbain-ibm commented on #3038
Tested and working with the current Java 11.  I'll test with Java 8 tomorrow.

[2018-09-26 20:14] pdbain-ibm commented on #3038
Note that the test for #3037 is on the test, not the VM.

[2018-09-26 21:06] hangshao0 commented on #2990
[code]

Subject.getSubject(acc) returns null on OpenJ9, it returns a valid subject on RI

[2018-09-26 21:06] gita-omr commented on #2994
@gacholio @zl-wang, apparently with -O0 (@AlenBadel is verifying) gcc++ creates this at the beginning of external methods:

   │0x7ffff64376e8 <fast_jitInstanceOf(J9VMThread*, J9Class*, j9object_t)+4>        addi    r2,r2,-19940

JIT definitely does not set R12 to be the entry point. How should the methods in cnathelp.cpp get the right TOC then?

[2018-09-26 21:07] gita-omr commented on #2994
My feeling is we are the first ones who are trying to build DEBUG VM on PPC LE :)

[2018-09-26 21:17] zl-wang commented on #2994
No mystery here.  JIT-ed code call-able helpers:  the TOC should be gotten by loading from J9VMThread->jitTOC.  That has been the case for: AIX32/64, BE Linux64, and LE Linux.  Suppose there is such a load ... I don't see why the global-entry pre-prologue (addis/addi based off r12) can be harmful, i.e. even if r2 is set to garbage by the pre-prologue, it will be corrected by the load mentioned abo

[2018-09-26 21:33] hangshao0 commented on #2990
OpenJ9 and RI starts to differ from here in Subject.getSubject():

[code]

[2018-09-26 21:35] zl-wang commented on #2994
So, is this issue due to:  in non-debug build,  JIT-ed code calls the wrapper containing the load;  in debug build, JIT-ed code calls the C routine directly?  JIT-ed code doesn't set up either r12 or r2 definitely.  I just cannot see how this comes by.

[2018-09-26 21:58] gita-omr commented on #2994
https://github.com/eclipse/openj9/blob/master/runtime/oti/phelpers.m4#L269

Sorry, I missed where that CALL_INDIRECT macro is used. From the earlier GAC's comment it sounded like it's JIT responsibility to set R2 if calling directly from JITtecd code. But then global entry would override that.

[2018-09-26 22:03] zl-wang commented on #2994
GAC comment to me:  JIT-ed code should call the wrapper as we did always.  If you call the C code directly, you need to set up r12.

[2018-09-26 22:08] zl-wang commented on #2994
So, it is not an issue of production build vs.  debug build.  It is an issue which helper target you call.
As it is, JIT-ed code doesn't set up either r12 or r2 (for helper calls...  we do set up r12 or r2 for JNI calls). If the target is wrong, it will not work for both production and debug builds.

[2018-09-26 22:14] IBMJimmyk commented on #3006
The section of code starting at 0x00003fff80ce290c looks to be _initialInvokeExactThunkGlue.
The bctrl at 0x00003fff80ce2944 looks to call out to jitCallCFunction.

   0x00003fff80ce2934:  ld      r3,-32216(r3) //$r3 = 0x3fff80cb54f4 = start of initialInvokeExactThunk_unwrapper
   0x00003fff80ce2938:  mtctr   r4
   0x00003fff80ce293c:  mr      r4,r14
   0x00003fff80ce2940:  mr      r5,r14
   0x000

[2018-09-27 01:15] gita-omr commented on #2994
Of course, it's just that I can see how it can work in the opt build, but I can't see how it could ever work in the debug build. In the opt build, we don't set r2 or r12 and they never seem to be used. In the debug build we both have the 'global' entry and we also use r2 later inside fast_jitInstanceOf, where we crash.

[2018-09-27 02:15] gita-omr commented on #2994
Sure, debug build just exposed some confusion in the calling conventions. We just need to  figure out what they actually should be and what is the correct target.

[2018-09-27 02:41] JasonFengJ9 commented on #2990
The problem is during enumerating `AccessControlContext` and `ProtectionDomain` objects when limited privilege has been specified in current thread access context within `j.s.AccessController.getContextHelper()`.
In this failed testcase, there are two frames of access control objects returned from `AccessController.getAccSnapshot()`, first frame contains an `AccessControlContext` object with `null

[2018-09-27 02:50] DanHeidinga opened #3047 "Rewrite MethodHandles.Lookup.checkClassAccess to match spec"
• C is public, and a member of the same run-time module as D (§5.3.6).
• C is public, and a member of a different run-time module than D, and C's run- time module is read by D's run-time module, and C's run-time module exports C's run-time package to D's run-time module.
• C is not public, and C and D are members of the same run-time package.

http://cr.openjdk.java.net/~iris/se/11/latestSpec/java

[2018-09-27 02:51] DanHeidinga commented on #3047
Based on that, our implementation is incorrect. There should be two cases in that code:

When the targetClass is public, do the larger module related check
When targetClass is not public - check they are the same package and the lookup has package access

[2018-09-27 02:55] DanHeidinga commented on #3047
`checkClassModuleVisibility()` is missing the `MODULE` lookupMode as well.

[2018-09-27 04:15] AlenBadel commented on #2994
I can verify that the inclusion of the -O0 option directly causes this issue. Either when
export `UMA_DO_NOT_OPTIMIZE_CCODE="1"` is set
or -O0 is included in VMDEBUG.

Given that UMA_DO_NOT_OPTIMIZE_CCODE expands to
[code]

Earlier I thought that this was only seen in Java10, and Java11 builds however I can confirm in spans to all debug builds on Linux PPCLE including Java 8. With Java8 it's not o

[2018-09-27 10:07] archanaNogriya opened #3048 "JTReg test: java/lang/Class/forName/NonJavaNames.sh.NonJavaNames fails in openj9"
JTReg Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/Class/forName/NonJavaNames.sh is failing in openj9

Error evaluating expression: invalid boolean value: `null' for expression `vm.graal.enabled'
java/lang/Class/GetPackageBootLoaderChildLayer.java: Exercise Class.getPackage on a class defined to the boot loader but in a module that is in a child layer rat

[2018-09-27 10:29] archanaNogriya opened #3049 "JTReg Test : jdk/java/lang/Class/forName/arrayClass/ExceedMaxDim.java.ExceedMaxDim fails against openj9"
Jtreg test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/Class/forName/arrayClass/ExceedMaxDim.java fails in openj9.

Exception is causing in here beause it is not able to create an array
 public class ExceedMaxDim {
                             //0123456789012345678901234567890123456789
    private String brackets = "[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[" +

[2018-09-27 10:52] pshipton opened #3050 "Test-extended.system-JDK10-linux_x86-64_cmprssptrs SharedClasses.SCM01.MultiThread_0 assertion CallSnippet.cpp:143: j2iThunk != NULL"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK10-linux_x86-64_cmprssptrs/48

[code]

[2018-09-27 10:54] ben-walsh commented on #2990
This test fails in same way on OpenJDK8+OpenJ9 ...
[code]

[2018-09-27 10:57] ben-walsh commented on #2990
Fails to compile on latest IBM Java 8 SDK ...
[code]

[2018-09-27 11:01] pshipton commented on #3038
Another one https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_ppc-64_cmprssptrs_le/48

[2018-09-27 11:04] ben-walsh commented on #2990
When the "sub-test" test8077155 is removed from execution, the test passes against OpenJDK11+OpenJ9.

For clarity - test/jdk/sun/security/krb5/auto/HttpNegotiateServer.java was only run this time as a check for any regressions resulting from adding the TLS 1.3 support - it is not explicitly testing TLS 1.3 support.

Considering this and the other evidence above, I DO NOT consider that this issue s

[2018-09-27 11:04] pshipton commented on #3039
Another one https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs/23

org.openj9.test.attachAPI.TestAttachErrorHandling.testInitializationDeletesStaleDirectoryWithTextId

`stale target directory not removed /tmp/.com_ibm_tools_attach/foo`

[2018-09-27 11:33] pshipton commented on #3048
The failure seems related to the following in the test class. I'm not sure what is being tested for this. There is no system property vm.graal.enabled in an OpenJDK build.

` * @requires !vm.graal.enabled`

[2018-09-27 11:39] pshipton commented on #3039
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK10-aix_ppc-64_cmprssptrs/73

org.openj9.test.attachAPI.TestAttachErrorHandling.testInitializationDeletesStaleDirectoryWithTextId

`stale target directory not removed /tmp/.com_ibm_tools_attach/foo`

[2018-09-27 11:45] pshipton commented on #2990
I'll just note this issue in particular is not delaying the release, there are other issues in the release plan https://github.com/eclipse/openj9/milestone/3

[2018-09-27 11:48] pshipton commented on #3049
This looks related to #802

[2018-09-27 12:43] gacholio commented on #2994
Is the compiled code loading r2 before calling the helper? The regular helpers load it before every call to the C code (INIT_GOT macro).

[2018-09-27 12:51] gita-omr commented on #2994
Last night Alen stepped through all the way from JITted code to fast_jitInstanceIOff in cnathelpers.cpp and he did not see r2 set anywhere.

When we call other helpers via PicBuilder.m4 we do set r2.

Nobody seems to ever set r12.

[2018-09-27 12:55] gacholio commented on #2994
So perhaps the fast path from the compiled code is always incorrect, and we get lucky in production builds. r2 is set in pnathelp.m4 for the normal helpers.

[2018-09-27 13:03] pdbain-ibm commented on #3038
Tested and working with the latest Eclipse CI build:
openjdk version "1.8.0_192-internal"
OpenJDK Runtime Environment (build 1.8.0_192-internal-jenkins_2018_09_27_04_24-b00)
Eclipse OpenJ9 VM (build master-a9a160d2, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20180927_481 (JIT enabled, AOT enabled)
OpenJ9   - a9a160d2
OMR      - 71c0c919
JCL      - 84cb836f680 based on jdk8u192-b03)

[2018-09-27 13:29] pshipton commented on #3038
Not sure what this means. You've tested on Linux X. The test failed again in the overnight testing last night, using the same OpenJ9 sha. Likely the problem is intermittent or more likely to occur on AIX/PPC as this is where we've seen the failures.

[code]

[2018-09-27 13:33] #3037 closed

[2018-09-27 13:33] gacholio commented on #2994
In the macros, r12 is used as the function pointer for indirect calls, nothing else. I don't recall if that was necessary, or simply conveinient.

[code]

This assumes that r2 is already loaded with the jitTOC.

[2018-09-27 13:34] zl-wang commented on #2994
The other way around, GAC.   as long as it is the right target of helper for JIT-ed code, it is the helper's responsibility to restore the TOC if it is needed.  That has been the reason we initialized vm->jitTOC (and consequentially J9VMThread->jitTOC).

[2018-09-27 13:35] gacholio commented on #2994
@zl-wang I think you're missing the point. We're talking about calling the C code directly from the compiled code, not going via the helper (which does all the TOC work).

[2018-09-27 13:38] gacholio commented on #2994
In general, the helpers don't use the indirect call - on LE the functions are called directly.

[code]

BRANCH_SYMBOL does no decoration. I don't recall why the call is surrounded by the NOPs.

[2018-09-27 13:39] zl-wang commented on #2994
For LE, that (r12 setting) is the requirement of the ABI definition.  (outside module) caller sets r12 to the callee global entry ... (shared lib) loader relocates TOC base out of it.

[2018-09-27 13:41] zl-wang commented on #2994
If JIT-ed code calls C code directly (JNI code in essence), we do set r12 (on LE) to the global entry.

[2018-09-27 13:44] zl-wang commented on #2994
where does JIT-ed code call C code directly except JNI targets?  that is the question to be answered.

[2018-09-27 13:54] zl-wang commented on #2994
no matter the actual call is made through bl or bctrl, the ABI definition needs to be fulfilled (AIX glink or LE plink or something code for bl, for example).  i guessed we are mixing up the meaning of direct/indirect call here.  I referred to call-directly as meaning JIT-ed code seeing it as a target (instead of meaning it through bl).

[2018-09-27 14:03] zl-wang commented on #2994
i can at least see why you have the second nop:  to restore TOC after return.  maybe the first nop as well:  to save the TOC before call.  Typically, the save is done in the glink code (AIX or BE Linux64) or plt_link code (LE).

[2018-09-27 14:06] zl-wang commented on #2994
for example, you call read() in your code.  the compiler generates bl to read()'s glink or plt_link inside your module.

[2018-09-27 14:13] pdbain-ibm commented on #3038
I am in the process of setting up testing on LinuxPPC.

[2018-09-27 14:38] gacholio commented on #2994
Sounds like the JIT will not need to load r12 for helper calls, if r2 is loaded - we're not using the linker/loader, so the target C code will simply expect r2 to be loaded. If you're going to generate a bctrl instead of a bl, r12 may as well be used to load CTR for complete safety.

[2018-09-27 14:44] DanHeidinga commented on #2825
@ildar The AdoptOpenJDK community has put together a video showing how to use IcedTea-Web with a JDK - https://youtu.be/wRRS0LejZuM  Hope that helps!

[2018-09-27 14:53] pdbain-ibm commented on #2872
Sent test builds for performance testing.  The test machines have an earlier version of glibc:
[code]
I am rebuilding with what I hope is the correct version of glibc.so.

[2018-09-27 15:02] DanHeidinga commented on #3041
@mikezhang1234567890 Can you take a look at this?

[2018-09-27 15:07] mikezhang1234567890 commented on #3041
Taking a look.

[2018-09-27 15:07] gita-omr commented on #2994
Well, looks like if compiled with -O0 target code expects r12 to be set, from which it derives r2. Copying form above:

   │0x7ffff64376e8 <fast_jitInstanceOf(J9VMThread*, J9Class*, j9object_t)+4>        addi    r2,r2,-199

[2018-09-27 15:09] zl-wang commented on #2994
I guessed this issue existed on AIX and BE Linux64 as well (TOC requirement).  We have been just lucky so far switching to call the C target(s) directly (instead of the helper wrapper target(s)).  Need to identify the set of C helpers called directly.

[2018-09-27 15:12] zl-wang commented on #2994
Yes, for LE:  ABI requires r12 to point at the callee global entry.  At the global entry, two instructions are used to calculate the TOC-base off r12.  60/-199 above are filled in resulting from loader relocations.

[2018-09-27 15:31] pshipton commented on #3048
I found https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/e4b4f667a1a863204b9531bdd3ab15d5155c8fe2/test/jtreg-ext/requires/VMProps.java#L94

@archanaNogriya can you please debug the test harness and see why the requires property isn't getting set.

[2018-09-27 15:32] pshipton commented on #3048
Also note https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/e4b4f667a1a863204b9531bdd3ab15d5155c8fe2/test/jdk/TEST.ROOT#L47

[2018-09-27 15:43] IBMJimmyk commented on #3006
From the corefile this is where we are leading up to the crash. I've highlighted important locations where a register or memory value changes

$r3 starts at 0x80b0f210 and is an object of type java/lang/invoke/DirectHandle
$r15 starts at 0x2b9800 and is the J9VMThread
$r14 starts at 0x63c2f0 but immediately gets changes to 0x63c2c0

   0x00003fff80ce290c <startproc._initialInvokeExactThunkGlue+0>:

[2018-09-27 15:45] 0dvictor commented on #813
I guess I missed this Issue when I worked on String.hashCode() improvement. The works on X86 has finished.
https://github.com/eclipse/openj9/pull/1647

[2018-09-27 15:47] hangshao0 commented on #1646
I have built an OpenJ9 Java 8 SDK with -Xshareclasses:bootClassesOnly and tried on Eclipse. I see very time I startup Eclipse, the number of the romclasses in the shared cache remain the same after the cold run. But there are about 10 to 20 more methods being AOT'ed and stored into the shared cache every time after the cold run. This means the default cache could be gradually filled with AOT. Is t

[2018-09-27 15:57] 0dvictor opened #3054 "Concurrent Scavenge support on X86"
Concurrent Scavenge has proved a success on Z and hence X86 will follow. https://github.com/eclipse/omr/issues/2812 provides a good place naturally insert Concurrent Scavenge related read barriers. X86's implementation will take advantage of this new infrastructure and follow the overall principles from Z.

List of works:

- [x] GC to enable Concurrent Scavenge on X86 when `-Xgc:concurrentScavenge

[2018-09-27 16:01] pdbain-ibm commented on #3038
Tested with:
 openjdk version "1.8.0_192-internal"
OpenJDK Runtime Environment (build 1.8.0_192-internal-jenkins_2018_09_27_04_33-b00)
Eclipse OpenJ9 VM (build master-a9a160d, JRE 1.8.0 Linux ppc64le-64-Bit Compressed References 20180927_668 (JIT enabled, AOT enabled)
OpenJ9   - a9a160d
OMR      - 71c0c91
JCL      - 84cb836 based on jdk8u192-b03)

2 successful runs so far, trying 10 runs.

@pshipt

[2018-09-27 16:10] mpirvu commented on #1646
Does that AOT number slowly decrease over time?
It is possible that some methods that haven't been compiled in the first run will be compiled in the additional runs, but that trend should gradually go down to 0.

Note that in some liberty workloads I have seen new classes being added to the SCC with additional run which I find weird.

[2018-09-27 16:27] pshipton commented on #3038
It failed the last 2 nights, first on aix and then on ppc le last night. Afaik we've never seen this failure before.

[2018-09-27 16:28] ben-walsh opened #3055 "JTReg test: jdk/java/lang/ClassLoader/EndorsedDirs.java fails against OpenJ9"
When executed against OpenJ9 build ...
[code]
... the JTReg test jdk/java/lang/ClassLoader/EndorsedDirs.java fails ...
[code]

This is confirmed outside of the JTReg test ...

[code]

This test passes without issue when executed against Hotspot.

[2018-09-27 16:38] irinarada commented on #3050
@andrewcraik - can we look at this?

[2018-09-27 16:40] pdbain-ibm commented on #3038
I ran over a dozen times on PPC LE.  One failure.

[2018-09-27 16:48] gacholio commented on #2994
I've actually been thinking for a while that I'd like to switch the direct calls in the helper wrappers to indirect calls, which would have the side-effect of loading r12. I expect that means I can stop loading r2, and we could likely eliminate the jitTOC entirely.

[2018-09-27 16:51] zl-wang commented on #2994
there are many uses of jitTOC in JIT runtime assembly (picBuilder, Crypto, arrayCopy, and recompilation etc etc).

[2018-09-27 16:56] irinarada commented on #3050
Thanks @liqunl for looking at this!

[2018-09-27 17:03] andrewcraik commented on #3050
FYI @jdmpapin

[2018-09-27 17:11] liqunl commented on #3050
@pshipton Where can I download the test?

[2018-09-27 17:27] babsingh commented on #36
**Update:**
1) Fix for the above the issue (-install_name ... should match match the dylib file name): https://github.com/eclipse/openj9/pull/3056.
2) Unmerged PR - https://github.com/eclipse/openj9/pull/2985.

Once the above PRs are merged, OpenJ9-JDK9 can be built without a JIT.

**Setup/Build Notes:**
1) [Changes to disable JIT in openj9-openjdk-jdk9 extensions repo.](https://github.com/babsing

[2018-09-27 17:28] pshipton commented on #3038
Fairly sure this is a a timing issue, the number of cpus and other things running on the machine likely affects it. Hopefully being able to repeat the failure is sufficient to determine what the problem is.

[2018-09-27 17:29] liqunl commented on #3050
Found the test in https://github.com/eclipse/openj9-systemtest/tree/master/openj9.test.sharedClasses

[2018-09-27 17:34] #2990 closed

[2018-09-27 17:35] zl-wang commented on #2994
AIX and BE Linux64 ABI(s):  they did require caller set up r2 before call.  But we didn't do that for general helper calls. GAC/You set up r2 instead in helper with loading from jitTOC.

LE Linux ABI:  it requires caller to set up r12 for callee global-entry address.  r2 is calculated from r12.  We didn't do that either.  It is assumed you set up r2 in helper with loading from jitTOC as well, if T

[2018-09-27 17:54] JamesKingdon commented on #813
Thanks Filip, hooking in @0xdaryl  for completeness

[2018-09-27 17:58] pshipton commented on #3006
@DanHeidinga - @zl-wang mentioned to me - this "looks like a problem in VM code.  JIT-ed code (Thunk_archetype for JSR292) calls jitCallCFunction with valid arguments (J9VMThread, and MethodHandle object).  That C function is VM code.  It returns bad address on stack top."

[2018-09-27 18:08] keithc-ca commented on #2888
My work in #2956 should take us a step closer to resolving this.
All variants of `libjvmXXX.so` will have the same content; then the extension repos can refer to the one with the right soname; and finally we can stop producing more than one jvm or more than one redirector.

[2018-09-27 18:16] LinHu2016 opened #3057 "Potential deadlock for calling GarbageCollectorMXBean.getLastGcInfo()"
native method getLastGcInfoImp() hold managementDataLock(for read) for retrieving GC Information,
during constructing memory pool name(Java String), it could trigger GC due to allocation failure.
GCStartEvent would require managementDataLock (for write) to update memory usage Data in vm structures. it would cause a deadlock.

[2018-09-27 18:34] dmitripivkine commented on #3057
FYI @DanHeidinga

[2018-09-27 19:33] DanHeidinga commented on #3006
@gacholio can you take a look?

[2018-09-27 19:41] ymanton commented on #2994
Now that I think about it this is going to end up being slightly inefficient because later on in the compilation process we'll be able to decide if the helper is reachable via a direct call or not, and if not we'll redirect the call through a trampoline which will correctly load `r12`. By also loading `r12` during argument setup we'll end up doing it twice if we end up going through a trampoline.

[2018-09-27 19:44] gacholio commented on #3006
I don't understand the comment from @zl-wang - there's nothing wrong with jitCallCFunction (it's so trivial, there pretty much couldn't be):

[code]

So if there's some kind of mismatch in arguments, it's a mismatch between the generate code which calls the helper and the argument array use in the target function.

[2018-09-27 19:49] IBMJimmyk commented on #3006
I think the problem is with what old_slow_jitCallCFunction calls. old_slow_jitCallCFunction calls out to initialInvokeExactThunk_unwrapper.

void initialInvokeExactThunk_unwrapper(void **argsPtr, void **resPtr)
   {
   J9VMThread  *vmThread     = (J9VMThread*)argsPtr[1];
   j9object_t   methodHandle = (j9object_t)argsPtr[0];
   *resPtr = initialInvokeExactThunk(methodHandle, vmThread);
   }

What

[2018-09-27 19:51] zl-wang commented on #3006
right, I referred the C function to initialInvokeExactThunk, rather than jitCallCFunction helper.

[2018-09-27 19:56] #2543 closed

[2018-09-27 20:02] mstoodle commented on #2921
Request: Documentation to help developers understand when they need to add a new validation record.

[2018-09-27 20:09] zl-wang commented on #2994
How about r2 on AIX and BE Linux64 for TR_CHelper?

[2018-09-27 20:14] DanHeidinga commented on #3006
`initialInvokeExactThunk` is JIT code:
https://github.com/eclipse/openj9/blob/450399bbd37af823f4360f033ac0e48dbdcd1d6c/runtime/compiler/env/VMJ9.cpp#L9101-L9111

[2018-09-27 20:29] ymanton commented on #2994
You are right, `r2` is not set up either and needs to be.

Maybe we can remove r2/r12 setup from the trampolines for C helpers and assume jitted code will always do it, that way we don't pay the penalty twice.

[2018-09-27 20:38] zl-wang commented on #2994
No, we didn't do anything about r2 in trampoline.
If it is decided to use bctrl for the call, then it will not go through trampoline anymore.

[2018-09-27 20:49] pshipton commented on #1646
It might help to list the methods being AOTed for the first 5 or 10 iterations.

[2018-09-27 20:51] zl-wang commented on #2994
The drawback of course is target address prediction.  bctrl is predicted by the countCache; while bl doesn't need prediction.

[2018-09-27 21:00] pshipton commented on #3006
For the record, as I understand it this failure occurs 1/20 1/30

[2018-09-27 21:02] hangshao0 commented on #1646
[AOT Stats.txt](https://github.com/eclipse/openj9/files/2425902/AOT.Stats.txt)

[2018-09-27 21:02] hangshao0 commented on #1646
AOT methods are listed in AOT stats.txt.

[2018-09-27 21:05] gita-omr commented on #3006
And it fails in FoldHandle. Is it something that is rarely used?

[2018-09-27 21:56] pshipton commented on #3006
Hard to say, it depends on the code being run, and if it uses MethodHandles. Nashorn uses it.

[2018-09-27 22:03] mpirvu commented on #1646
Actually what is more interesting is the set of methods that get AOTed in iteration 5, 6, 7 etc. Then we could look for patterns.

[2018-09-27 22:14] pshipton commented on #1646
They are there in the attached file. The number at the start of each line is the iteration number. Do you need more iterations?

[2018-09-27 23:08] mpirvu commented on #1646
Oh, I didn't realize the meaning of that number.
In the file I see I see 1,2,3,6,8. I wonder if the absence of 4,5,7 is meaningful in some way.

I cannot find any patterns from that file. Methods compiled late belong to different classes including java/lang and java/util. If the runs were not executed with -Xaot:forceaot (as I guess) then the JIT heuristics that decide what to AOT may play a role

[2018-09-27 23:16] pshipton commented on #3007
Not sure there is any point in keeping this open, things are working now.

[2018-09-27 23:16] #3007 closed

[2018-09-28 02:27] DanHeidinga commented on #3006
@gita-omr I don't think there's anything special about FoldHandle.  We could hit this same issue in any of the MH subclasses

[2018-09-28 02:42] gita-omr commented on #3006
Jimmy will add an update soon. But yes, looks like a general (albeit very intermittent) MH problem.

[2018-09-28 05:54] DanHeidinga opened #3062 "Investigate limiting System.identityHashcode() to positive numbers"
OpenJ9 allows both positive and negative identity hashcodes.  This is problematic for programs that incorrectly assume hashcodes can only be positive.

Investigate adding an option to limit hashcode to be positive and determine the performance overhead of this.

Note, any such option would limit the range of hashcodes and may lead to more collisions.

[2018-09-28 11:17] pshipton opened #3063 "All testing failed to start Pipeline-Build-Test-All"
https://ci.eclipse.org/openj9/blue/organizations/jenkins/Pipeline-Build-Test-All/detail/Pipeline-Build-Test-All/222/pipeline

Example https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-linux_x86-64_cmprssptrs/166/console

[code]

[2018-09-28 11:26] pshipton commented on #3063
Seems PR testing isn't affected.

@llxia @AdamBrousseau

Is this caused by https://github.com/eclipse/openj9/pull/3042 ?

[2018-09-28 11:38] smlambert commented on #3063
This should be fixed by https://github.com/AdoptOpenJDK/openjdk-tests/pull/600
We merged our two Jenkinsfile test scripts last night (tested in 4 places, but managed to miss this case).

[2018-09-28 12:15] pshipton commented on #3063
Thanks. Will close this. @llxia thanks for starting a new build https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All/223/

[2018-09-28 12:15] #3063 closed

[2018-09-28 12:15] pdbain-ibm commented on #3038
Ran 50x on LinuxPPCLE Java 8, got one failure.  Ran 200x on Java 11, _no failures_.

Note that Java 8 and Java 11 have different implementatiobns of `definePackage()`:
[code]

[2018-09-28 12:32] ben-walsh commented on #3055
That's correct. Okey dokey. I'll perm fail it and reference this issue. Thanks.

[2018-09-28 13:10] IBMJimmyk commented on #3006
I ran the test 120 more times since yesterday. 60 runs under the original options and 60 runs with -Xjit:verbose={j2iThunks}. With the original options all 60 runs passed. With the verbose option, 59 out of 60 passed. A grinder yesterday showed 1 failure in 30 tries. There were previous failures even before yesterday but I'm not sure how many runs were done to produce them. Based on these results,

[2018-09-28 13:15] ben-walsh commented on #3055
Same problem with jdk/java/lang/ClassLoader/ExtDirs.java - perm failing also.

[2018-09-28 14:16] pshipton commented on #3038
Thanks Peter, I'll re-target to the 0.11.0 release milestone.

[2018-09-28 15:34] dsouzai commented on #3054
If X86 has any TM related instructions, you'll likely have to deal with those too.

[2018-09-28 15:59] dsouzai commented on #2921
@mstoodle @vijaysun-omr @mpirvu @jdmpapin I've updated this issue to reflect the fact that there is only one OMR and OpenJ9 PR each (so that guys know which is the canonical PR for review purposes)

[2018-09-28 16:04] Mesbah-Alam opened #3065 "DirectByteBufferLoadTest fails on Linux aarch64 JDK11 hotspot"
**Test failure output**
[code]
**Test source Link:**
https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/27eedf98c37b5c950ef3d0810aa01076284318df/openjdk.test.nio/src/test.nio/net/adoptopenjdk/test/nio2/util/RandomByteArrays.java#L95

**Test repo:**
https://github.com/AdoptOpenJDK/openjdk-systemtest

**Build link**
https://ci.adoptopenjdk.net/job/openjdk11_hs_systemtest_aarch64_linux/1/tapResu

[2018-09-28 16:05] Mesbah-Alam commented on #3065
Note, `NioLoadTest_0` fails due to the same isue too, https://ci.adoptopenjdk.net/job/openjdk11_hs_systemtest_aarch64_linux/1/tapResults/

[2018-09-28 16:18] hangshao0 commented on #1646
50th run:
[code]
100th run:
[code]
Both NumMethodsFoundInSharedCache and NumMethodsTakenFromSharedCache gradually increase. The only Java options I'm using is -Xshareclasses:name=BootClasses,BootClassesOnly,CacheDir=dir -Xscmx64m.

[2018-09-28 16:25] Mesbah-Alam opened #3066 "LockingLoadTest fails fails on Linux aarch64 JDK11 hotspot"
**Test failure output**
[code]

[code]

**Test repo:**
https://github.com/AdoptOpenJDK/openjdk-systemtest

**Build link**
https://ci.adoptopenjdk.net/job/openjdk11_hs_systemtest_aarch64_linux/1/tapResults/

* Note, the same test passes on other platforms (e.g. Linux x64: https://ci.adoptopenjdk.net/view/Test_system/job/openjdk11_hs_systemtest_x86-64_linux/16/tapResults/)

[2018-09-28 16:34] charliegracie commented on #3062
Are there open/closed issues where consumers of OpenJ9 were having this issue?

[2018-09-28 16:36] mpirvu commented on #1646
So the number of AOTed methods stored increased by 224 and the number of methods loaded increased by 213. This is good: the additional methods are actually used and not wasted, so startup time could improve over time. I do not think this is a problem.

[2018-09-28 16:38] Mesbah-Alam commented on #3065
Grinder link: https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder/200/console

[2018-09-28 17:37] Mesbah-Alam commented on #3066
@DanHeidinga - the failure happens on the following jdk11 sdk:

[code]

Should I open this issue at https://github.com/AdoptOpenJDK/openjdk-jdk11 instead?

[2018-09-28 17:48] DanHeidinga commented on #3066
Given it's a Hotspot test failure, it doesn't apply here at the OpenJ9 project.  I can't speak to whether the particular Adopt repo is the right home or not.

[2018-09-28 17:49] DanHeidinga commented on #3066
Closing as this is not an OpenJ9 issue

[2018-09-28 17:49] #3066 closed

[2018-09-28 17:50] Mesbah-Alam commented on #3065
Closing as it's not an OpenJ9 issue. Will re-open in appropriate repository.

[2018-09-28 17:50] #3065 closed

[2018-09-28 17:51] pdbain-ibm commented on #3038
There is a bunch of unused code in the classloading classes which is confusing the issue. Opened
https://github.com/eclipse/openj9/pull/3067 to remove same.

[2018-09-28 18:03] Mesbah-Alam commented on #3066
Equivalent issue opened at https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/179

[2018-09-28 18:30] Mesbah-Alam commented on #3065
Equivalent issues opened at https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/180

[2018-09-28 19:30] IBMJimmyk commented on #3006
From the end of findThunkFromTerseSignature inside runtime/compiler/env/J2IThunk.cpp:

   else
      {
      OMR::CriticalSection critialSection(_monitor);
      match = root()->get(terseSignature, _nodes, false);
      }

   return match? match->_thunk : NULL;

After the code exits the critical section the Node object pointed to by match can move. If that happens before we read match->_thunk and

[2018-09-28 19:38] DanHeidinga commented on #3062
The likely place to hack for this is https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/runtime/oti/ObjectHash.hpp#L177

Changing it here will ensure the option + mask is only rechecked until the object is moved.  All the fast paths that read the hashcode from moved objects shouldn't require any modification.

Will attempt to add an -XX option and investigate the perfo

[2018-09-28 20:02] pshipton commented on #1646
One concern is that the shared cache default size is 64MB, and it may gradually fill up over time to consume this entire space on disk.

@hangshao0 another concern I don't think we raised earlier, there is only a single cache used even if multiple JVM builds (different shas) are being used. Every time a JVM with a different sha starts, it will destroy the cache and recreate it.

[2018-09-28 21:10] 0dvictor commented on #3054
@vijaysun-omr FYI.

[2018-09-28 22:53] pshipton opened #3076 "Change OMR acceptance to test JDK8 and JDK11"
The OMR acceptance build is testing jdk8 and jdk10. Since jdk11 is ready and jdk10 is out of service, we should switch to test jdk11.

[2018-09-28 22:55] IBMJimmyk commented on #3006
I created a special build where I added a 10us delay just after the critical section but before the code reads from match->_thunk. I got 5/6 failures and they failed in a similar way. Furthermore I added debugging code and checked that reading from match->_thunk just before leaving the critical section never gave the bad result. I am now fairly certain I have found the problem.

[2018-09-28 22:59] pshipton commented on #3076
I've made the change to the configuration.

[2018-09-28 22:59] #3076 closed

[2018-09-28 23:27] pshipton commented on #3050
Given the failure rate, it seems this can be deferred to the next release.

[2018-09-29 00:11] #3041 closed

[2018-09-29 03:04] pshipton opened #3077 "Test-extended.system-JDK8-linux_ppc-64_cmprssptrs_le SharedClasses.SCM23.SingleCL_0 NPE"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_ppc-64_cmprssptrs_le/51

[code]

[2018-09-29 11:32] vijaysun-omr commented on #3062
Maybe if the result of the -XX option is stored in a private static final boolean variable and if that variable is checked in the identityHashCode at the spot @DanHeidinga pointed out, then the JIT should be able to fold away the extra test at compile time via it's usual static final optimizations.

[2018-09-29 12:05] irinarada commented on #3006
Nice @IBMJimmyk ! This should also help speed up the proof that the test passes (no need to wait 60 times for a reproduction). Doing the same experiment above with the fix might do it.

[2018-09-29 12:07] vijaysun-omr commented on #3062
I assume you were thinking of an -XX option to work around this particular migration issue in terms of different JCL behavior. One question is whether you prefer different -XX options for different JCL issues such as this one (assuming there are more of them we will find down the line) or have one option that changes all the JCL behaviours needed to make migration easier.

[2018-09-29 12:59] #1759 closed

[2018-09-29 13:11] pshipton opened #3079 "Default PR testing should test jdk11 and not jdk10"
"Jenkins test sanity" tests jdk8 and jdk10, but should test jdk11 now instead of jdk10. Or have no defaults at all.
fyi #3076

[2018-09-29 13:11] pshipton commented on #3079
@AdamBrousseau

[2018-09-29 13:13] AdamBrousseau commented on #3079
Will be resolved in #2836

[2018-09-29 13:18] pshipton commented on #3079
I'm concerned about the timeframe of resolving #2836. Time is short to get all features into the 0.11.0 release, and it would be better to test jdk11 by default.

[2018-09-29 14:48] pshipton opened #3080 "Build-Test-All should use the same shas for both testing and JVM builds"
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All/224/

While it was the intention to use the same sha for both testing and JVM builds, its not working. I found the following in the output, which may indicate the problem.

`fatal: reference is not a tree: 2f4d3bf98b737e7741bf4ca2ebdff4b2edcec502`

[2018-09-29 14:56] DanHeidinga commented on #3062
@vijaysun-omr I've looked for how to push the option as low in the code as possible - down to the native hash operation -  to ensure there is only 1 place that needs to be modified and that there's never a chance of an inconsistent hashcode being returned.

That's an interesting idea.  I think we should start with a single option. If we end up with multiple migration related options, they can be g

[2018-09-29 16:52] #3006 closed

[2018-09-30 11:58] pshipton opened #3081 "Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs TestAttachErrorHandling.testPrematureSocketClose acknowledgement timeout"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/91

org.openj9.test.attachAPI.TestAttachErrorHandling.testPrematureSocketClose

[code]

[2018-09-30 20:14] gita-omr commented on #3006
The fix was such a right thing to do that I wanted to get in ASAP :) Thanks a lot!

[2018-09-30 22:37] gacholio commented on #2994
The reason the C calls from the helper wrappers work without loading r12 today is that the linker is assuming that r2 is already loaded for calls within the same shared library (note the +8 which the linker added below, skipping the r2 load from r12):

[code]

In pure C code, the compiler also seems to be assuming that any calls using `bl` (i.e. within the same shared library) will return with r2

[2018-10-01 01:26] pshipton opened #3082 "Test-sanity.functional-JDK11-linux_390-64_cmprssptrs CondyPrimitive_2 Invalid JIT return address"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_390-64_cmprssptrs/34

===============================================
Running test CondyPrimitive_2 ...
===============================================
CondyPrimitive_2 Start Time: Sun Sep 30 15:35:51 2018 Epoch Time (ms): 1538336151328
test with '-Xjit:count=0,disableAsyncCompilation'
[IncludeExcludeTestAnnotationTransformer] [I

[2018-10-01 01:39] irinarada commented on #3082
@fjeremic @NigelYiboYu we need an assessment if this is mustfix ASAP

[2018-10-01 01:59] fjeremic commented on #3082
@r30shah can you please take a look with high priority? @pshipton is the core file saved anywhere?

[2018-10-01 02:04] fjeremic commented on #3082
@r30shah @NigelYiboYu I'm really wondering about the comment in https://github.com/eclipse/openj9/pull/2972#issuecomment-423513741. It seems we set this on Power and x86. As far as I can see we don't on Z. You may be more familiar with the details but I assume we cannot reach back to the snippet from our helper calls? We retrun to the mainline in all cases? i.e. we set R14 to return back to the ma

[2018-10-01 02:16] gacholio commented on #2994
@zl-wang While investigating all this,  I came across:

https://github.com/eclipse/omr/blob/master/util/omrutil/unix/linux/ppc/64le/gettoc.s#L31

Should that not be `addi` rather than `addis`?

I'm basing this on what I see in the compiled code, and the doc here:

https://www.ibm.com/developerworks/library/l-improve-performance-openpower-abi/index.html

[2018-10-01 02:18] pshipton commented on #3082
@fjeremic the core file is part of the functional_test_output.tar.gz file which is an artifact of the build. Its found from the link to the build in the first comment, but here is the directly link https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_390-64_cmprssptrs/34/artifact/functional_test_output.tar.gz

[2018-10-01 02:18] pshipton commented on #3082
Sorry, this is functional testing, not system. There is no core file saved.

[2018-10-01 02:27] fjeremic commented on #3082
So what are the options here? Try to reproduce in a grinder? Will the core file be saved then?

[2018-10-01 03:01] pshipton commented on #3082
@smlambert ^

[2018-10-01 05:19] gacholio commented on #2994
As part of the TOC optimization work I'm doing in the VM, the jitTOC will be stored in the TOC slot in the current C stack frame, so the JIT will have the option of encoding the r2 load as either potentially multiple instructions to load the compile-time constant, or a single instruction to fetch it from r1. (the offset will be `offsetof(J9CInterpreterStackFrame, currentTOC)`).

[2018-10-01 05:28] gacholio commented on #2994
Ah, seems this is unnecessary as the jitTOC is already propagated into a slot in the J9VMThread which is also a single instruction fetch.

[2018-10-01 08:59] archanaNogriya commented on #3048
@pshipton I will get back to you once I get through debugging.

[2018-10-01 11:47] pshipton commented on #3050
Another occurrence https://ci.eclipse.org/openj9/job/Test-extended.system-JDK10-linux_x86-64_cmprssptrs/53

[2018-10-01 11:49] pshipton commented on #3082
Another occurrence https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_390-64_cmprssptrs/36

[2018-10-01 12:16] zl-wang commented on #2994
@gacholio   Yes, that should be an addi.

[2018-10-01 14:42] renfeiw commented on #2893
We have added setup and teardown in the framework (#3059) If environment variable TEST_FLAG is JITAAS, the framework will startup and kill jitaasserver server before and after test execution.

[2018-10-01 14:51] harryyu1994 commented on #2893
So when we invoke the PR testing like this `Jenkins test sanity xlinux jdk11 depends eclipse/openj9-omr#jitaas`, how are we passing in the TEST_FLAG? will it just be an extra argument at the end?

[2018-10-01 14:54] irinarada commented on #3082
@jdekonin we need access to the machines.
@fjeremic - please confirm.

[2018-10-01 15:03] fjeremic commented on #3082
I confirm. Can we also get @r30shah access as well? I'm assuming we're talking about the Jenkins Shelley posted about since the Eclipse CI Jenkins does not save core files as per Peter's comment.

[2018-10-01 15:05] renfeiw commented on #2893
For the PR build story, you will need help from @AdamBrousseau.

[2018-10-01 15:18] jdekonin commented on #3082
Contacted @fjeremic direct.  There is nothing left on the machines as the grinder jobs cleanup after themselves.

[2018-10-01 17:06] mamatha-jv commented on #2872
**Please find performance testing results below(no regressions seen):-**

LibertyStartupDT-9dev-4way-0-256-qs_Footprint in kb
99.77%

LibertyStartupDT-9dev-4way-0-256-qs_Startup time in ms
98.59%

LibertyStartup-9dev-4way-0-256-qs_Footprint in kb
99.92%

LibertyStartup-9dev-4way-0-256-qs_Startup time in ms
99.42%

LibertyDayTrader3-9dev-4way-LargeThreadPool_Adjusted Single Server Memory
100.18%

L

[2018-10-01 17:30] gacholio commented on #2872
Sounds like this should probably be enabled on all gcc compiles.

[2018-10-01 19:29] #3001 closed

[2018-10-01 21:19] r30shah commented on #3082
Opened up PR https://github.com/eclipse/openj9/pull/3089 to fix the issue.

[2018-10-01 21:32] irinarada commented on #3077
@AlenBadel @dchopra001 @harryyu1994 - let's triage this please.

[2018-10-01 21:33] #3057 closed

[2018-10-01 21:41] harryyu1994 commented on #3077
Okay, starting a grinder to determine failure rate.

[2018-10-01 22:31] gacholio commented on #3081
@pdbain-ibm

[2018-10-01 22:32] gacholio commented on #3077
That's a generic error from the launcher if it encounters an exception during startup.

[2018-10-01 22:44] AdamBrousseau commented on #2893
To have this option via PR build #2728 needs to be resolved.

[2018-10-01 23:24] #3082 closed, assigned to nobody

[2018-10-01 23:56] pshipton opened #3092 "java/lang/StackOverflowError at com/ibm/jit/JITHelpers.isArray running fastIdentityHashCode"
I spotted this problem in a travis build that was started on Sept 24th.
https://travis-ci.org/eclipse/openj9/builds/432612153?utm_source=github_status&utm_medium=notification

Triggered from https://github.com/eclipse/openj9/pull/2996 but I don't believe the changes in this PR caused this.

Creating support/modules_cmds/openj9.dtfjview/jdmpview from 1 file(s)
Creating support/modules_cmds/openj9.t

[2018-10-02 00:01] pshipton commented on #3057
#3090 was also required as part of this fix.

[2018-10-02 00:10] vijaysun-omr commented on #3062
Thanks @DanHeidinga I am in agreement with your approach to wait for the "second" migration related option before considering grouping under one option.

Is there a PR for the change to the native hash ?

[2018-10-02 00:34] smlambert commented on #2893
BTW, what is the expectation for a user that wants to use jitaas.  They have instructions to launch a server?  Is there initial doc for how a user would set it up?

[2018-10-02 01:11] AdamBrousseau commented on #2893
I _think_, based on #3059, if the user exports `TEST_FLAG=JITAAS`, they will get the setup and teardown for "free".

[2018-10-02 01:16] smlambert commented on #2893
Yes, I know what we have done from the test side in order to set up for testing.  What I am asking is how we expect a user to use this in the field.

[2018-10-02 01:29] gacholio commented on #3092
A pile of methods in the stack trace don't have a method:

at sun/nio/cs/StreamEncoder. (java.base@9/StreamEncoder.java:187)

[2018-10-02 01:46] pshipton commented on #3092
@gacholio any idea what could be wrong? I restarted the travis build.

[2018-10-02 01:48] pshipton commented on #3055
As I don't think this is worth fixed, closing the issue.

[2018-10-02 01:48] #3055 closed

[2018-10-02 01:52] pshipton commented on #3077
@smlambert @Mesbah-Alam have you seen this type of failure before?

[2018-10-02 01:56] harryyu1994 commented on #3077
Grinder so far: 150/150 passed

[2018-10-02 02:19] gacholio commented on #3092
Not a clue - this clearly isn't an actual stack overflow.

[2018-10-02 02:54] smlambert commented on #3077
I do not recall seeing this particular error before.

[2018-10-02 02:55] pshipton commented on #3092
It is a repeatable problem, as it occurred again. Maybe I need to rebase #2996. I started a jenkins xlinux jdk9 compile to see if it occurs there.

[2018-10-02 03:34] sophia-guo commented on #2995
It's broken again as the link only kept for around 10 days. Using pre-staged jars can unblock personal and production build. However docker story will fail. We should re-open this issue and see if there is a way to grab a  stable one to @r30shah .

[2018-10-02 04:11] smlambert commented on #2995
Link was updated as part of #3089, earlier this evening.  My understanding was there is no stable one yet available from open/public location for the version we require.  I would be happy to hear otherwise.

[2018-10-02 11:14] pshipton commented on #3077
Will close as some kind of not understood machine/test setup issue, and can re-open if it shows up again later.

[2018-10-02 11:14] #3077 closed

[2018-10-02 12:36] pdbain-ibm commented on #3038
Progress so far: I  instrumented the package methods in `ClassLoader`.  The exception is coming from `definePackage()`:
[code]
This is the only method that adds entries to `packages`, a final private `Hashtable`.
In the failing case, `getPackage()` returns a value fro the local `packages`.
The instrumentation prints when `ProjectCoin` is added to `packages`.  This occurs only once, and `ProjectCoi

[2018-10-02 12:50] sophia-guo commented on #2995
In that case, the link will need to update every 10 days manually otherwise docker test story will fail.

[2018-10-02 13:07] Mesbah-Alam commented on #3077
I have not seen this error before.

[2018-10-02 15:32] smlambert commented on #2995
yes, that is the unfortunate assessment Lan arrived at also in her comment above: https://github.com/eclipse/openj9/issues/2995#issuecomment-424129062

[2018-10-02 15:39] r30shah commented on #2995
This should be fixed by this https://github.com/eclipse/openj9/pull/3095. They have released 7.0 Beta.

[2018-10-02 16:02] andrew-m-leonard opened #3097 "JDK11 win64 Jenkins jobs fail due to git fetch timeout"
buildenv/jenkins/common/build:get_sources() times out after 30mins:
https://hyc-runtimes-jenkins.swg-devops.com/view/OpenJ9%20-%20Build/job/Build-JDK11-win_x86-64_cmprssptrs/76/

[2018-10-02 16:13] PTamis commented on #2585
Hello @ymanton and thanks a lot for your patch. Your patch worked but java crashed a bit later with illegal instructions again.
`0x95fbd554: li r3,8`
`0x95fbd558: msync`
`=> 0x95fbd55c: .long 0x7c0418a8`
`0x95fbd560: .long 0x78e8000e`
`0x95fbd564: .long 0x78a6000e`
`0x95fbd568: cmp cr0,1,r0,r8`

I am using the same HW (e500v2) as @lmajewski so I was wandering why it did not work.
After a lot of tr

[2018-10-02 16:37] JamesKingdon commented on #2585
I'm not familiar with e500 so this may be irrelevant, but on ARM some older instructions are emulated by the kernel when running on processors (or in modes) where those instructions are not available or work differently. The emulation is configurable in the kernel so it is possible to go from one machine to another and suddenly run into unexpected crashes. Perhaps something similar is done on e500

[2018-10-02 16:54] ymanton commented on #2585
The first one is `ldarx`, which is the same instruction we fixed in `J9CAS8Helper`. The JIT compiler is generating a CAS8 sequence without checking if the CPU is 64-bit capable -- basically the same but as before. I'll try to fix it shortly.

@JamesKingdon is right about kernel emulation, it's done on PPC as well, but not for `ldarx`. You are probably seeing this bug due to chance, but both I and

[2018-10-02 17:14] tajila opened #3100 "There is no documentation for '!' jdmpview commands"
The existing documentation for jdmpview is here: https://www.eclipse.org/openj9/docs/tool_jdmpview/

This document only contains a subset of the commands exist in jdmpview.

The following is a list of commands are without documentation:
[code]

[2018-10-02 17:26] tajila opened #3102 "Add documentation for jdmpview modularity commands"
Three new commands are being added:
!findmodules
!dumpmodule
!dumppackage

This issue is part of a larger effort to add documentation for the existing jdmpview commands https://github.com/eclipse/openj9/issues/3100

[2018-10-02 17:33] pshipton commented on #3097
@andrew-m-leonard the link you provided is internal, should this be an internal IBM issue?

[2018-10-02 17:35] pshipton commented on #3100
I think !j9help is the documentation :)

[2018-10-02 17:36] pshipton commented on #3100
I think this needs to be opened at https://github.com/eclipse/openj9-docs

[2018-10-02 17:52] acrowthe commented on #3102
!findmodules
[code]
Find a module or set of modules that are loaded by the runtime.
Output will be zero or more lines of the following forma!dumpmodule

!dumppackage

[2018-10-02 19:03] pdbain-ibm commented on #3038
I was using `System.err.println()`, which wasn't active early enough and I lost ~50 calls to `definePackage()`.  Trying again with `VM.dumpString()`.

[2018-10-02 19:08] DanHeidinga commented on #2994
FYi @AlenBadel @gita-omr I've tagged this for the 0.11.0 release as we're not calling the c code correctly and that may result in issues.

[2018-10-02 19:49] pdbain-ibm commented on #3081
Will investigate...

[2018-10-02 20:52] hangshao0 commented on #2824
Might be something wrong here:

https://github.com/eclipse/openj9/blob/master/runtime/jcl/win32/syshelp.c#L219to#L223

[2018-10-02 20:56] jdekonin commented on #2352
I believe this is working as expected.  Looking at 804 there is a spec failure and the entire job is red/failed as expected.  I think this can be closed.

[2018-10-02 21:03] pshipton commented on #2352
Closing. I haven't seen the problem in a while.

[2018-10-02 21:03] #2352 closed

[2018-10-02 21:06] ymanton commented on #2585
@PTamis I was able to recreate your latest crash. I've pushed a commit to https://github.com/eclipse/openj9/pull/2764 to fix it. We can do better than this fix performance-wise, but it's OK for the moment.

[2018-10-02 21:12] 0xdaryl commented on #2418
As answered earlier, this is an x86-only solution.

If the only consideration was consistency with the rest of the project then this decision would be straightforward.  However, in this case I think the experience of developers who have to create, maintain, and debug the thousands of lines of existing x86 JIT assembly code and exploit new hardware instructions bears at least equal (and likely more

[2018-10-02 22:11] pshipton commented on #3092
Its repeatable. Will rebase and try again. Closing this until such time as it seems a real problem.

[2018-10-02 22:11] #3092 closed

[2018-10-02 22:16] pshipton commented on #2368
@tajila is this likely to be completed for the 0.11.0 release, in the next week or so?

[2018-10-02 23:59] 0dvictor opened #3110 "Adopt IL OpCode TR::[fd]sqrt for inlining floating point square root."
Currently OpenJ9 optimized intrinsic related to floating point square root via each platform's CodeGen's own "inlineXXXPrecisionSQRT" helper; however, OMR has IL OpCodes TR::[fd]sqrt for floating point square root. The OpCodes are supported on P and Z, and X86 will introduce the support soon. (https://github.com/eclipse/omr/pull/2575)
https://github.com/eclipse/omr/pull/2575 also introduces Optimi

[2018-10-03 03:27] pshipton commented on #2921
It doesn't seem like it, but is any update to the user guide required for this change? New command line options or diagnostics or ?
https://www.eclipse.org/openj9/docs/aot/

[2018-10-03 09:59] pshipton commented on #3039
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs/33

org.openj9.test.attachAPI.TestAttachErrorHandling.testInitializationDeletesStaleDirectoryWithTextId

`stale target directory not removed /tmp/.com_ibm_tools_attach/foo`

[2018-10-03 10:13] SueChaplain commented on #54
@pshipton The OMR change eclipse/omr#2908 is merged. Presumably there is something else that needs merging to prevents us declaring that signal handling is fixed in 0.10.0? Think it was just Windows that was remaining? Thanks

[2018-10-03 12:33] babsingh commented on #54
@SueChaplain @pshipton Peter is correct. Windows has fewer signals. Current implementation supports all signals on Windows. Updated doc:

[code]

[2018-10-03 12:39] vijaysun-omr commented on #2070
I do not, there is outstanding test work for those 2 OMR PRs that I don't consider likely for 0.11. So you can defer them to 0.12.

[2018-10-03 12:49] andrewcraik commented on #3054
created https://github.com/eclipse/openj9-docs/issues/99 as the docs issue.

[2018-10-03 12:52] SueChaplain commented on #54
@babsingh Thanks. I've updated the release notes for 0.10.0 accordingly.

[2018-10-03 15:05] andrew-m-leonard commented on #3097
yes... where do I raise that?, the code in error is possibly in this repo...?

[2018-10-03 15:12] dsouzai commented on #2921
No new updates; there are a couple of JIT options to control the new infrastructure, but I don't know if that should be explicitly documented (considering that the goal is to have the new infrastructure eventually be the default).

[2018-10-03 15:49] pshipton opened #3118 "Enable and bundle an openssl library with OpenJ9 builds"
The OpenJ9 0.11.0 release is coming in Oct, with final builds created for Oct 19.

One of the features [1] of the release is using the openssl 1.1.x library, which we'd like to bundle with the OpenJ9 Java 8 build for the time being.
[1] ibmruntimes/openj9-openjdk-jdk8#112

There is a choice to use a pre-built openssl library installed on the build machines (including header files), however this me

[2018-10-03 15:49] pshipton commented on #3118
@jdekonin

[2018-10-03 15:51] pshipton commented on #3118
I expect openssl 1.1.1 should be used since it is the latest stable version and the LTS version.
https://www.openssl.org/source/

[2018-10-03 15:52] pshipton commented on #3118
Issue at Adopt https://github.com/AdoptOpenJDK/openjdk-build/issues/604

[2018-10-03 16:00] DanHeidinga commented on #36
Working through these instructions to get an jdk8 env setup for mac builds:
https://github.com/manasthakur/jdk-tips/wiki/Building-OpenJDK-8-on-Mac-OS-X-Yosemite

[2018-10-03 16:00] pshipton commented on #3097
This is the error I see before the timeout. The sha specified doesn't seem to exist.
[code]

[2018-10-03 16:03] mpirvu commented on #2263
@dinogun @ashu-mehra @DanHeidinga @pshipton Since docker images for OpenJ9 already use `-XX+UseContainerSupport` and outside a container this option becomes a no-op, should we enable this option by default?
This would provide container support to people that create their own Docker images and don't build on top of the images at AdoptOpenJDK.

[2018-10-03 16:38] hangshao0 commented on #2824
The issue is that when my codepage is 936 (GBK), Openj9 incorrectly returns GB18030 (codepage 54936) as the platform the encoding, while RI returns GBK.

From https://docs.microsoft.com/en-us/windows/desktop/intl/code-page-identifiers
On Window XP and later Code Page Identifiers is 54396 for GB18030. I guess the code in the above comment that returns GB18030 for 936 is for window 2000 only where i

[2018-10-03 16:53] PTamis commented on #2585
@ymanton your patch worked again :) . At kernel v4 ./java -version does not crashes anymore.
Thought as I wrote some comments above the call does not return at all.

I will try to understand why is this happening. I will recompile again from scratch because I just deleted vm and images folders.

From gdb the ./java -version seems to stop at:
bt
`#0  0x0fd98248 in pthread_join () from /lib/libpthre

[2018-10-03 17:07] ymanton commented on #2585
[code]

Are you using older versions of https://github.com/eclipse/omr/pull/2930/commits/0b769dc5c0f406ff41adc0f353c23d1070b2bb80 and https://github.com/eclipse/openj9/pull/2764/commits/7c0253f2974f8aa2a0573f3a30946960f450b8b3? If so apply the current versions instead and rebuild from scratch because it looks like a problem that I fixed. Perhaps apply the latest version of all of the patches you'r

[2018-10-03 17:10] pshipton commented on #2824
What is the solution?

[2018-10-03 17:16] pshipton commented on #2072
@vijaysun-omr I'm going to assume this should be deferred.

[2018-10-03 17:45] pdbain-ibm commented on #3038
Here is the problem: we are loading `net.adoptopenjdk.test.lang.java7.ProjectCoin.SwitchOnString` and `net.adoptopenjdk.test.lang.java7.ProjectCoin.TryWithResources` concurrently. The `AppClassLoader` is parallel capable and uses different lock objects for the two classes since they are different classes and can be loaded concurrently.  During the classloading, both threads try to update the packa

[2018-10-03 17:53] DanHeidinga commented on #36
Hit the first road block on building with xcode 4.6.3: It's not supported on High Sierra.

[2018-10-03 17:57] hangshao0 commented on #2824
We can probably keep the current behavior that returns GB18030 for codepage 936 on Java 8 only. Will create Pull Request if it works.

[2018-10-03 17:59] jdekonin commented on #3079
After #2836 there will be no default.  Release will need to be explicit.

[2018-10-03 18:01] vijaysun-omr commented on #2072
This is mostly ready but I'd like to avoid adding risk to 0.11 at this point since there are some other higher priority features that we'd like to include in 0.11.

[2018-10-03 18:01] jdekonin opened #3124 "Add PR build capability for OSX"
@DanHeidinga, is this wanted for compressrefs and and largeheap?

[2018-10-03 18:14] jdekonin commented on #3124
Which releases do you want this to cover?  JDK8,9,11,Next?

[2018-10-03 18:33] pdbain-ibm commented on #3038
In both threads, `URLClassLoader.defineClass()` calls `getPackage(net.adoptopenjdk.test.lang.java7.ProjectCoin)`.  Both calls return null, which causes both threads to call `definePackage()`.

[2018-10-03 18:48] pshipton commented on #3079
That isn't the point. When will #2836 be ready?

[2018-10-03 19:14] AdamBrousseau commented on #3079
last week :stuck_out_tongue:
`Jenkins test sanity all jdk8,jdk11`
It depends on how the reviews and approvals go. Its "ready" as is but the requirements might change.

[2018-10-03 19:18] DanHeidinga commented on #3124
compressedrefs only

JDK 8, 11+

[2018-10-03 19:29] pdbain-ibm commented on #54
Typo above: "using sun.misc.Signal or **dk**.internal.misc.Signal."  should be **jdk**?

[2018-10-03 19:48] keithc-ca opened #3131 "Provide migration advice for DDR debug extensions"
https://github.com/eclipse/openj9/pull/3099 changes the signature of generated methods that might be used in third-party DDR debug extensions: documentation is needed to explain how to adapt.

[2018-10-03 20:20] hangshao0 commented on #2824
It works:
[code]

[2018-10-03 20:38] pshipton commented on #54
@pdbain-ibm that line was removed so the typo is gone.
https://github.com/eclipse/openj9/pull/2766

[2018-10-04 02:16] DanHeidinga commented on #2263
I think this makes sense.  Can someone gather some startup measurements outside of a container with  and without `-XX+UseContainerSupport` to validate that there's no cost to making this the default?

[2018-10-04 02:55] #2824 closed

[2018-10-04 07:40] lmajewski commented on #2585
The build system could be more "friendly".
It turned out that simple make clean did not wipe the openj9-openjdk-jdk8 completly.
The "only" solution was to cd ./build/linux-ppc-normal-zero-release/ && rm -rf *

[2018-10-04 09:44] ben-walsh opened #3136 "JTReg test fail : java/lang/Class/getResource/ResourcesTest.java"
Following relevant error message from output ...

[code]

Looking at https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/Class/getResource/Main.java#L95
it seems that instead of returning the m2 resource, our ClassLoader impl wrongly returns the m1 resource.

At the completion of line 95 ...

url = file:/home/walshbp/jtreg_testing/JTwork/scratch/mods/m2/myresource wi

[2018-10-04 09:56] lmajewski commented on #2585
@ymanton If I may have a little request for you:

Could you check if we are missing some code? With @PTamis we do have following state of the source code repositories:

https://github.com/lmajewski/ppc32_j9_openj9
https://github.com/lmajewski/ppc32_j9_omr
https://github.com/lmajewski/ppc32_j9_openj9-openjdk-jdk8

When build:
export VMDEBUG="-DOMR_NO_64BIT_LCE"
make BUILD_HEADLESS_ONLY=true BUILD_H

[2018-10-04 12:36] ben-walsh opened #3137 "JTReg test fail : java/lang/invoke/VarHandles/VarHandleTestAccessBoolean.java"
Executing this test consistently triggers a coredump either at this point ...

[code]

... or this point ...

[code]

Full archive from example of each form of failure :
[booleanCoredump.tar.gz](https://github.com/eclipse/openj9/files/2446317/booleanCoredump.tar.gz)
[booleanCoredump.2.tar.gz](https://github.com/eclipse/openj9/files/2446316/booleanCoredump.2.tar.gz)

This test passes on Hotspot.

[2018-10-04 12:49] DanHeidinga commented on #3137
FYI @andrewcraik - Can someone on your team take a look at this?  It's crashing while compiling
` Method_being_compiled=VarHandleTestAccessBoolean.testStaticField(Ljava/lang/invoke/VarHandle;)V
Target=2_90_20181001_32 (Linux 4.4.0-64-generic)`

The first crash doesn't have a clear vmstate to tag a component.
@hangshao0 Can you take a look at the the first crash in to determine if that's an interpr

[2018-10-04 13:03] mpirvu commented on #2263
I evaluated Liberty start-up with no application on top on the assumption that the code for `XX:+UseContainerSupport` support has a fixed cost during bootstrap and therefore very short applications are going to be affected more.  Experiments were not done in a container.
From the results the presence of `-XX:+UseContainerSupport` on the command line produces a 0.3% regression which is the same as

[2018-10-04 13:05] ben-walsh commented on #3137
Same two forms of failure with coredump consistently observed with each of the following tests too ...
java/lang/invoke/VarHandles/VarHandleTestAccessByte.java
java/lang/invoke/VarHandles/VarHandleTestAccessChar.java
java/lang/invoke/VarHandles/VarHandleTestAccessInt.java

[2018-10-04 13:34] DanHeidinga commented on #3137
One area to check is the offsets being used in the Unsafe code as OpenJ9 treats all types smaller than `int` as though they were padded to the size of `int`.  This means the stack and heap representations are the same.  I believe there's a behaviour difference here that Bjorn had done some work in the Unsafe / Varhandle code to deal with these smaller offsets.  Might be worth rechecking that

[2018-10-04 13:47] andrewcraik commented on #3137
@liqunl this one is in your department - please assess.

[2018-10-04 13:55] ben-walsh commented on #3137
Also, same two forms of failure with coredump consistently observed with both of the following tests too ...
java/lang/invoke/VarHandles/VarHandleTestAccessLong.java
java/lang/invoke/VarHandles/VarHandleTestAccessShort.java

[2018-10-04 14:40] ymanton commented on #2585
@lmajewski I think if you replace https://github.com/lmajewski/ppc32_j9_omr/commit/e3972b55a2235a3e04b90083523e2242ff38e4aa with https://github.com/eclipse/omr/commit/0b769dc5c0f406ff41adc0f353c23d1070b2bb80 and rebuild everything you will be OK. You will also no longer need `export VMDEBUG="-DOMR_NO_64BIT_LCE"` because it doesn't actually work with the OMR part of the code. That was my mistake ea

[2018-10-04 14:40] pdbain-ibm commented on #3081
Cannot reproduce locally: ran the test 75x without failure.

[2018-10-04 14:42] pdbain-ibm commented on #3038
Normally, the URLClassLoader catches and ignores the `IllegalArgumentException`.  However, the shared classes version of `defineClass()` is missing this try/catch block.

[2018-10-04 14:48] lmajewski commented on #2585
I've noticed that the problem was with GC, which with the https://github.com/lmajewski/ppc32_j9_omr/commit/e3972b55a2235a3e04b90083523e2242ff38e4aa was still calling OMRCAS8Helper directly.
 (MM_Scavenger::scavengeRememberedSetList -> OMRCAS8Helper)  but according to the code it shall use the higher level implementation.

I've removed the #ifdefs and now recompiling the code.

[2018-10-04 15:11] ben-walsh opened #3142 "JTReg test fail : java/lang/invoke/VarHandles/VarHandleTestByteArrayAsChar.java"
Fails with following exception ...

[code]

... from what's been discussed, I suspect this may well just be a further symptom of the problem identified in https://github.com/eclipse/openj9/issues/3137 and might aid in resolving it.

Full logs : [byteArrayAsCharProblem.tar.gz](https://github.com/eclipse/openj9/files/2446923/byteArrayAsCharProblem.tar.gz)

Passes against Hotspot.

[2018-10-04 15:13] hangshao0 commented on #3137
It is JIT related, crash at:
`final long invokeExactTargetAddress() { return thunks.invokeExactThunk; }`

[2018-10-04 15:55] pdbain-ibm commented on #3038
Added the try/catch block and tested manually: 50/50 passed.  Running a personal build on linux ppcle and x86, sanity and extended tests.

[2018-10-04 16:44] keithc-ca commented on #2100
Yes, on Windows, shared libraries are within the `bin` directory while on other platforms they're located within the `lib` directory. Windows has always been special that way.

[2018-10-04 16:54] DanHeidinga commented on #3136
FYI @pdbain-ibm

[2018-10-04 18:39] AdamBrousseau commented on #3079
JDK 10 no longer included in `all` or unspecified. You must explicitly request jdk10

[2018-10-04 18:46] mpirvu commented on #2263
A new batch of experiments show a 0.5% regression with a confidence interval of 0.3%
[code]

And yet another batch comparing  `-XX:-UseContainerSupport`  and `-XX:+UseContainerSupport` shows a 0.4% regression.
[code]
With some many experiments I am inclined to say that there could be a tiny startup regression worth 10-15ms
attn: @vijaysun-omr

[2018-10-04 19:06] vijaysun-omr commented on #2263
I can accept a 0.4% to startup in this most lightweight of scenarios to have container support on all the time.

[2018-10-04 20:16] mstoodle commented on #2921
Some duplication with what's here, but an issue to collect the OMR pieces of ongoing work is here: https://github.com/eclipse/omr/#3029 .

[2018-10-04 21:14] AdamBrousseau commented on #3079
Well you still won't get 11 if you `Jenkins test sanity`. As per Joe's original email, we intended to drop support for `all` except when used for platforms

[2018-10-04 21:28] pshipton opened #3147 "Jenkins java.lang.OutOfMemoryError: Java heap space"
Numerous examples in different PRs. Running sanity testing results in `java.lang.OutOfMemoryError: Java heap space` after `TEST AUTO GEN SUCCESSFUL`

https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-linux_x86-64_cmprssptrs-OpenJDK8/3/console
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-linux_390-64_cmprssptrs-OpenJDK8/7/console

[code]

[2018-10-04 21:29] pshipton commented on #3147
@jdekonin @AdamBrousseau @smlambert

[2018-10-04 21:32] nbhuiyan opened #3148 "Use NASM Assembler across all x86 operating systems"
During the effort to port the OpenJ9 JIT on macOS, it became necessary to re-write the x86 assembly files in NASM format. Discussions around this topic occurred in #2418

One of the main advantages of using NASM is that it is supported on all x86 platforms, meaning a unified assembler solution can be used throughout x86, consuming the same source files without requiring intermediate conversions. W

[2018-10-04 21:35] pshipton opened #3149 "PR testing, unable to checkout PR branch"
This occurred in other PR testing as well.

https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK11-linux_x86-64_cmprssptrs-OpenJ9/14/console

[code]

[2018-10-04 21:36] pshipton commented on #3149
@jdekonin @AdamBrousseau

[2018-10-04 21:37] AdamBrousseau commented on #3147
Hopefully this
https://bugs.eclipse.org/bugs/show_bug.cgi?id=539800

[2018-10-04 21:40] AdamBrousseau commented on #3147
And the omr mirror job

[2018-10-04 21:41] pshipton commented on #3079
Will `jenkins test sanity` test jdk8 only, or will it do nothing? If nothing then I think this work is completed.

[2018-10-04 21:43] AdamBrousseau commented on #3079
8

[2018-10-04 21:46] pshipton commented on #3149
@AdamBrousseau reports this is the same problem as #3147. The OOM is caught and results in the `Unable to checkout` failure.

[2018-10-04 21:46] #3149 closed

[2018-10-04 22:43] pshipton commented on #3079
Is it hard to remove 8 when nothing is specified?

[2018-10-04 22:44] fjeremic opened #3151 "Project Valhalla"

[2018-10-04 22:51] fjeremic opened #3153 "Field watch performance on x86"
Managed via ZenHub. Install the plugin to see the associated Issues and PRs.

As things stand currently under full speed debug, when an agent requests a field to be watched we cannot JIT compile the method because we cannot respect the hooks for reporting accesses of the respective field. This limitation will be lifted by using the rdbar / rdbari/ wrbar/ wrbari opcodes to represent reads/writes wh

[2018-10-04 23:09] lmajewski commented on #2585
I've updated the omr 'devel' branch to test @ymanton changes (the correct one for OMRCAS8Helper) as mentioned above:
https://github.com/lmajewski/ppc32_j9_omr/commits/devel

Now, I'm re-building J9 on my HW.

[2018-10-04 23:14] smlambert opened #3154 "Initial functional test results against openj9 osx build (jdk9)"
Will start recording initial findings in this issue.

Some tests hang, so the set of tests have to be run is small groups, not sanity.functional or extended.functional as those large targets both contain tests that hang.

**Testing with: java -version**
openjdk version "9.0.4-internal"
OpenJDK Runtime Environment (build 9.0.4-internal+0-adhoc.nazim.nasm-osx-pr-build)
Eclipse OpenJ9 VM (build nasm-

[2018-10-04 23:28] 0xdaryl commented on #3154
Thanks @smlambert.  In my own private testing, any JIT test run without `-Xrs` appears to hang on NPEs or arithmetic exceptions (these could be programmatic exceptions).  We'll have to triage the JIT mode hangs with that option to be sure.

[2018-10-04 23:32] smlambert commented on #3154
This will take a while, I will keep updating this single issue, and leave it to others to divide and conquer from this initial list (creating other issues for items being worked).

[2018-10-05 01:42] DanHeidinga commented on #3154
@pdbain-ibm Can you take a look at these tests?

[2018-10-05 02:07] DanHeidinga commented on #2263
Given:
* it's already enabled in Adopt's docker images,
* the start up effect is minimal outside a container, and
* it's a no-op outside a container,

I'm onboard with enabling this by default.

[2018-10-05 02:35] harryyu1994 commented on #2893
We have instructions on how to launch a server and use jitaas here https://github.com/eclipse/openj9/blob/jitaas/doc/compiler/jitaas/Usage.md,
Also have instructions on how to run testing locally and in docker
https://github.com/eclipse/openj9/blob/jitaas/doc/compiler/jitaas/Testing.md,
^they are just rough draft

So our expectation was for users to manually start their own server and do testings

[2018-10-05 03:18] smlambert commented on #2893
I am not suggesting that users should make use of PR testing setup.  I wanted to understand how users invoke it, to keep our testing story as close to the user story as possible.

Thanks for the doc links!

[2018-10-05 10:10] groeges commented on #3008
Reviewing the test output again I can see that the test that was initially failing now passes. Closing this issue.

[2018-10-05 10:10] #3008 closed

[2018-10-05 13:49] pdbain-ibm commented on #3136
The test calls a method in a class in p1 which calls a method in a class in p2 which calls `Class.getResource()`.  The implementation of same is:
[code]
`thisModule` is m1 and  `System.getCallerClass().getModule()` returns m2.  This causes us to drop to classical `getResource()` which picks up the first matching resource on the classpath.

The specification for `Class.getResource()` says:

The cha

[2018-10-05 14:44] fjeremic commented on #954
@pshipton is this JEP targeted for 0.11.0 or a future release?

[2018-10-05 15:10] ben-walsh opened #3161 "JTReg tests fail : java/lang/invoke/VarHandles/VarHandleTestByteArrayAs..."
Further to issue https://github.com/eclipse/openj9/issues/3142 ...

Both java/lang/invoke/VarHandles/VarHandleTestByteArrayAs[Long|Int] have far more common sub-test failures resulting from NPEs in certain situations.

Log archive of runs of both, including also Char and the passing Float, Double and Short versions :
[VarHandleTestByteArrayAsXProblems.tar.gz](https://github.com/eclipse/openj9/file

[2018-10-05 15:31] pshipton commented on #954
@fjeremic It was to be completed for 0.10.0 but I see there is some work remaining. I've added it to the 0.11.0 milestone.

[2018-10-05 15:32] pshipton commented on #3147
Seems ok now after restarting Jenkins.

[2018-10-05 15:32] #3147 closed

[2018-10-05 16:22] PTamis commented on #2585
I also run the same test with -Xint, Xnojit, Xnoaot.
With Xint it took some time but the test passed OK.
With Xnojit the same think. The test was OK.
With Xnoaot the failed.

So the problem it is definitely with the JIT compiler.
It reports wrongs results:
log(0.7) evaluated to: 0.7, expected: -0.356675

[2018-10-05 17:17] JamesKingdon commented on #2585
Excellent! That fits with the test working in the debugger which likely also pushed execution into the interpreter instead of running JIT compiled code. You could use -Xjit:verbose={compile*} to get a list of methods that are compiled during the run and see if we can identify the method that is being mis-compiled. If we can figure out which one is causing problems we can get a compilation log and

[2018-10-05 17:42] DanHeidinga opened #3164 "Support OpenJ9 in MAT without IBM downloads"
Currently, MAT requires the "IBM Diagnostic Tool Framework for Java" to read OpenJ9 cores.  We should ensure that all the relevant parts are available from OpenJ9 and not rely on IBM downloads.

Opened here to track the discussion in https://github.com/eclipse/openj9-docs/pull/101

[2018-10-05 19:31] pshipton commented on #3038
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/120 fixes this problem for Java 8. Need to check if Java 9 and up need a similar change.

[2018-10-05 19:38] pshipton commented on #3118
Note the Windows restriction still applies. You must run configure with --with-openssl=/path/to/pre-built/openssl

[2018-10-05 20:16] AdamBrousseau commented on #3080
I think the test scripts need to fail if they cannot checkout the correct ref.
@llxia @renfeiw

[2018-10-05 21:28] pshipton commented on #3118
Enabled for xlinux and plinux via #3169
aix and zlinux are failing to build
https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/123
https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/122

[2018-10-05 21:42] babsingh commented on #36
**Update: Java 8 OSX builds**

a) Completed setup: installed 10.10 Yosemite and Xcode4 dev tools on an OSX machine.

b) Followed other setup instructions in https://github.com/manasthakur/jdk-tips/wiki/Building-OpenJDK-8-on-Mac-OS-X-Yosemite.

c) **Got assembler errors:**
- When using **XCode4 assembler** (Apple Inc version cctools-839, GNU assembler version 1.38)
**i)** Assembler uses old syntax;

[2018-10-05 22:00] babsingh commented on #36
**Update: Java 9 compressedrefs**

**Updated make and spec files:**
a) openj9 repo - https://github.com/eclipse/openj9/pull/3144
b) JDK9 extensions repo - https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/179

**Followed the below instructions for memory map support below 4GB on OSX:**
a) https://github.com/eclipse/omr/issues/15
b) https://stackoverflow.com/questions/46916112/osx-ld-why-does

[2018-10-05 23:55] pshipton commented on #2469
MSVC2017 is installed and in use for Java 11 builds.

[2018-10-05 23:55] #2469 closed

[2018-10-06 00:05] pshipton opened #3174 "Jenkins Cleanup-Nodes fails regularly"
The following seems to occur on a regular basis. Seem it should either be fixed or stop spamming the #jenkins channel.

Jenkins APP [2:50 PM]
Failed: Cleanup-Nodes #413 (Open)

Jenkins APP [5:49 PM]
Failed: Cleanup-Nodes #414 (Open)

Jenkins APP [7:42 PM]
Failed: Cleanup-Nodes #415 (Open)

[2018-10-06 00:18] pshipton commented on #2507
I don't think this should have been closed yet since the changes in the extensions repo haven't been merged yet.

[2018-10-07 09:13] lmajewski commented on #2585
@ymanton There are two issues here:

1. Lack of FPU on e500 core:
`root@qoriq:/mnt/SPECjvm2008# ../openj9-openjdk-jdk8/build/linux-ppc-normal-zero-release/images/j2sdk-image/bin/java -Xjit:disableInlining,verbose -jar SPECjvm2008.jar -wt 5s -it 5s -bt
  2 compress -ikv -ctf false -chf false`

[code]
2. The test above also crashes with: `-Xjit:optLevel=noOpt`
Which points to JIT generating the math

[2018-10-07 21:10] lmajewski commented on #2585
We do use `CONFIG_MATH_EMULATION_FULL=y`

It turns out that 3.12.13 is missing following (important IMHO) patches for SPE emulation on e500:
[code]

After applying (porting) them to 3.12.13 the error is the same.

Could you share how you examined (and get) the JIT generated assembly? Is there any link to documentation of how to do it?

[code]

The result is the same as in the SPECjvm2008 test. I w

[2018-10-08 12:29] ben-walsh opened #3175 "JTReg test fail : java/lang/invoke/VarHandles/accessibility/TestFieldLookupAccessibility.java"
Multiple sub-test failures due to accessibility differences for MethodHandles when using MH_UNREFLECT_SETTER_ACCESSIBLE lookup method ...
[code]

Log archive : [methodHandlesAccessProb.tar.gz](https://github.com/eclipse/openj9/files/2455861/methodHandlesAccessProb.tar.gz)

Test passes against Hotspot.

[2018-10-08 13:20] ymanton commented on #2585
Here are some useful `-Xjit` options.

* `disableAsyncCompilation` - Disables background/asynchronous JIT compilation and instead does compilation in application threads by pausing the threads between method calls. This is useful to get more deterministic behaviour and make debugging easier.
* `verbose`, `vlog=/path/to/file` - Prints JIT compiler activity log to `stderr` or to a file if `vlog=` is

[2018-10-08 15:18] ben-walsh opened #3178 "JTReg test fail : java/lang/ClassLoader/RecursiveSystemLoader.java"
Fails because no IllegalStateException is triggered when calling ClassLoader.getSystemClassLoader() before the VM is booted.
Unclear whether this is something that should happen with the OpenJ9 impl of ClassLoader and associated objects or only applicable to Hotspot impl.

Log archive : [RecursiveSLProb.tar.gz](https://github.com/eclipse/openj9/files/2456514/RecursiveSLProb.tar.gz)

This test pass

[2018-10-09 00:13] JasonFengJ9 commented on #3178
Will look at this.

[2018-10-09 10:20] ben-walsh opened #3180 "JTReg test fail : java/lang/invoke/VarHandles/VarHandleMethodReferenceTest.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/VarHandles/VarHandleMethodReferenceTest.java#L58 fails with following due to NPE ...

[code]

Log archive : [VMMethRefProblem.tar.gz](https://github.com/eclipse/openj9/files/2459935/VMMethRefProblem.tar.gz)

Test passes on Hotspot.

[2018-10-09 10:38] ben-walsh opened #3181 "JTReg test fail : java/lang/invoke/VarHandles/VarHandleTestAccessModeMethodNames.java"
Multiple sub-test failures all a result of following (https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/VarHandles/VarHandleTestAccessModeMethodNames.java#L75) ...

[code]

Log archive : [AccModeMethNamesProblem.tar.gz](https://github.com/eclipse/openj9/files/2460002/AccModeMethNamesProblem.tar.gz)

Test passes on Hotspot.

[2018-10-09 12:04] SueChaplain commented on #3100
@tajila I'm in the process of adding the !j9help expert parameter to the jdmpview topic in the user docs. There is a lot of work to do here if we are to document all of them. If I look at the list you have provided, I also see that the descriptions are very brief and we'll need a lot more input from development if we are to describe them in any more detail.

[2018-10-09 12:51] liqunl commented on #3137
@ben-walsh Where can I find the test case?

[2018-10-09 12:56] ben-walsh opened #3182 "JTReg test fail : java/lang/invoke/condy/CondyBSMInvocation.java"
The following failure occurs at https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/condy/CondyBSMInvocation.java#L119 ...

[code]

Digging deeper, it seems the following shapes of BootstrapMethod trigger a BootstrapMethodError as expected ...

[code]

... while the following unexpectedly do not trigger a BootstrapMethodError ...

[code]

Log archive : [CondyB

[2018-10-09 12:59] liqunl opened #3183 "Correctly set node flags for internal pointer in VP"
Internal pointers - aiadd/aladd nodes pointing to the middle of an object should have `isInternalPointer` flag set. Not setting it and its pinning array will result in the evaluator go to a wrong path.

[2018-10-09 13:02] DanHeidinga commented on #3182
@fengxue-IS Can you take a look at this?

[2018-10-09 13:07] DanHeidinga commented on #3100
The commands listed by `!j9help` are generally for debugging issues in the JVM and not particularly well suited for end users.  The commands often grew out of the need to automate debugging operations and may have sharp edges.

I would prefer that we not attempt to document each of the sub options as they aren't intended to be a supported interface.  Documenting `!j9help` as a way for experts to d

[2018-10-09 13:10] ben-walsh commented on #3137
@liqunl There's a copy of each of the referenced tests here - https://github.com/ibmruntimes/openj9-openjdk-jdk11/tree/openj9/test/jdk/java/lang/invoke/VarHandles

[2018-10-09 13:12] DanHeidinga commented on #3181
@tajila Can you take a look at this?

[2018-10-09 13:37] liqunl commented on #3183
Wrong place.

[2018-10-09 13:37] #3183 closed

[2018-10-09 13:41] DanHeidinga commented on #2841
issue #36

[2018-10-09 13:43] DanHeidinga commented on #36
NASM version 2.13.03 required as per:
https://github.com/eclipse/openj9/issues/2841#issuecomment-421044064

[2018-10-09 13:47] liqunl commented on #3137
@ben-walsh Thanks, can you also provide instructions on reproducing the failure?

[2018-10-09 13:54] mpirvu commented on #2726
Closing this issue as the initial contribution was done.

[2018-10-09 13:55] #2726 closed

[2018-10-09 13:56] ben-walsh commented on #3137
Obtain JTReg by following "Download jtreg" here - http://openjdk.java.net/jtreg/index.html.
Then details for running here - http://openjdk.java.net/jtreg/runtests.html.

I set the two environment variables (PRODUCT_HOME and JAVA_HOME) and then execute using ...
[code]
... after placing the downloaded jtreg binaries in the ../jtreg directory.

[2018-10-09 14:27] ben-walsh opened #3185 "JTReg test fail : java/lang/invoke/condy/CondyWrongType.java"
Sub-test failure at https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/condy/CondyWrongType.java#L123 ...

[code]
Looks to be the only testPrimitive sub-test with an issue.

Digging deeper, I get ...
[code]
... executing ...
[code]
... which seems wrong to me.

Log archive : [CondyWrongTypProblem.tar.gz](https://github.com/eclipse/openj9/files/2460808/CondyWr

[2018-10-09 14:50] tajila commented on #3181
Taking a look

[2018-10-09 15:08] fengxue-IS commented on #3182
looking into this

[2018-10-09 15:28] smlambert commented on #3137
If you are already setup to run functional/system or other types of tests as covered in the test workshop (see internal Box docs), you can use the same instructions to run this category of tests (openjdk tests), to reproduce locally (on linux x86-64 machine or docker image):
1. Unpack openj9 x64_linux SDK to /jdkLocation
2. git clone https://github.com/AdoptOpenJDK/openjdk-tests.git (to /testLocat

[2018-10-09 15:33] fengxue-IS commented on #3182
This is testing the Constant_Dynamic parameter type passed to bsm, should be fixed once #3025 is merged

[2018-10-09 15:55] lmajewski commented on #2585
@ymanton  Thanks for very exhausting explanation :-)

To set off:
1. One "strange" thing:
`run '-Xjit:disableAsyncCompilation,limit={java/lang/StrictMath.log(D)D}(count=0,breakAfterCompile)' LogTest`

we do specify `count=0`, but at least on my J9:
The "pure SW" implementation of log is executed from:

`__j__ieee754_log @ /mnt/openj9-openjdk-jdk8/jdk/src/share/native/java/lang/fdlibm/src/e_log.c:1

[2018-10-09 16:49] DanHeidinga commented on #3151
Valhalla L-World project: https://github.com/eclipse/openj9/projects/6

[2018-10-09 17:33] smlambert commented on #3137
jtr file from internal Grinder run (Test_grinder/job/Grinder/472/): [VarHandleTestAccessBoolean.jtr.txt](https://github.com/eclipse/openj9/files/2461536/VarHandleTestAccessBoolean.jtr.txt)

You can rebuild that Grinder job, pointing to your openj9 branch, should you need.

[2018-10-09 18:17] DanHeidinga commented on #2986
@JasonFengJ9 Can you add the preprocessor tags for this?

[2018-10-09 18:20] DanHeidinga commented on #3038
@pdbain-ibm Can you confirm whether this applies to JDK11?

[2018-10-09 18:21] DanHeidinga commented on #2994
@AlenBadel @gita-omr Is this still an open issue?  Will it close in time for the 0.11.0 release?

[2018-10-09 18:31] gita-omr commented on #2994
@AlenBadel is actively working on it. There are a few places that need to be checked. We are hoping for 0.11.0 release.

[2018-10-09 18:56] liqunl commented on #3137
There are at least two problems.
1. A crash in walker `TR_J9ByteCodeIlGenerator::storeAuto(TR::DataType, int, bool)`
2. A crash in VM bytecode interpreter loop caused by null MethodHandle receiver on the stack when executing `java/lang/invoke/MethodHandle.invokeExactTargetAddress()J`. The call is made from jitted code.

[2018-10-09 19:20] harryyu1994 opened #3193 "JITaaS hangs when doing java -Xjit:count=0 -version"
Discovered during JITaaSClient AOT experiment.
The hang is there even if no jitaas options are specified.

@mpirvu @ymanton @dmitry-ten

[2018-10-09 19:40] mpirvu commented on #3193
Are you using a debug build or a prod?

[2018-10-09 19:41] mpirvu commented on #3193
Also, what exactly is in your build (which commits)?

[2018-10-09 19:59] harryyu1994 commented on #3193
latest jitaas branches, debug build, and used sdk from 2018/10/03. Only jit dll was built.

[2018-10-09 21:39] pshipton commented on #3118
AIX #3189 and Windows #3191 are enabled now.

[2018-10-10 00:34] pshipton commented on #3153
As per @andrewcraik this won't be ready in 0.11.0, deferring.

[2018-10-10 00:37] pshipton commented on #3019
According to @andrewcraik the work targeted to 0.11.0 is completed. Moving to 0.12.0 for any remaining work.

[2018-10-10 00:40] pshipton commented on #3050
Fixed by #3135

[2018-10-10 00:40] #3050 closed

[2018-10-10 01:20] irinarada commented on #2921
@dsouzai - any update?

[2018-10-10 01:27] irinarada commented on #2994
@AlenBadel any news, we need to close off the release.

[2018-10-10 01:31] mpirvu commented on #3193
I have an older SDK (20180921_397495) and it works for me. I also build only the JIT dll.
Does yours work with -Xint? How about -Xjit:initialOptLevel=noOpt,count=0 ?

[2018-10-10 01:42] vijaysun-omr commented on #2921
Code was delivered yesterday to OpenJ9. So this is now done for v0.11 of OpenJ9.

[2018-10-10 01:49] ymanton commented on #2585
`d=3.1226928498684416e-313` looks wrong indeed and should be what you expected. The result `-719.57043838465881` is actually correct for `3.1226928498684416e-313`, so `Java_java_lang_StrictMath_log` is working, but somehow the argument is not what we wanted.

Can you set the following breakpoints and print some data?

[code]

[2018-10-10 01:59] pshipton commented on #3161
This doesn't need to be tracked against the 0.11.0 release as the release will not hold on this. Either the fix makes it in, or it doesn't and goes into the next release.

[2018-10-10 01:59] harryyu1994 commented on #3193
works with -Xint, does not work with -Xjit:initialOptLevel=noOpt,count=0. As long as there is -Xjit:count=0, it hangs with "#JITSTATE:  t=  2537 VM changed state to NOT_STARTUP" in the verbose log.

[2018-10-10 01:59] pshipton commented on #3142
This doesn't need to be tracked against the 0.11.0 release as the release will not hold on this. Either the fix makes it in, or it doesn't and goes into the next release.

[2018-10-10 02:00] pshipton commented on #3137
This doesn't need to be tracked against the 0.11.0 release as the release will not hold on this. Either the fix makes it in, or it doesn't and goes into the next release.

[2018-10-10 02:00] pshipton commented on #3136
This doesn't need to be tracked against the 0.11.0 release as the release will not hold on this. Either the fix makes it in, or it doesn't and goes into the next release.

[2018-10-10 02:02] pshipton commented on #3038
Yes it does apply, jdk11 also needs the fix.

[2018-10-10 02:03] pshipton commented on #3038
This doesn't need to be tracked against the 0.11.0 release as the release will not hold on this. Either the fix makes it in, or it doesn't and goes into the next release.

[2018-10-10 02:04] harryyu1994 commented on #3193
I tried building the whole sdk and the problem seems to go away.

[2018-10-10 02:16] mpirvu opened #3200 "Reduce JIT CPU consumption at the JITaaS client"
Ideally, the JIT CPU consumption at the JITaaS client should be very small because compilations are performed in another process. The reality is that **the communication overhead is very high in terms of CPU cycles**.
Here's a perf profile of the lone compilation thread during an AcmeAir benchmark run obtained with:
`perf record -e cycles -c 200000  -o profile_client.txt --tid 4823 -- sleep 120`

[2018-10-10 02:39] mpirvu opened #3201 "Reduce messages for fields specific to a J9Class"
The server may ask for values of different fields belonging to a J9Class.
A few examples of such queries are:
[code]
The server could cache these fields in its own j9class cache and then return answers from there instead of sending messages to the client. We must make sure that the cached fields cannot change at runtime.

[2018-10-10 07:12] mpirvu commented on #3193
I had a couple of these weird behaviors a while back. Recompilation made them go away.

[2018-10-10 07:12] #3193 closed

[2018-10-10 07:39] ddoliver commented on #2049
@pshipton is this complete?

[2018-10-10 09:47] #2263 closed

[2018-10-10 10:28] ben-walsh opened #3202 "JTReg test fail : java/util/Spliterator/SpliteratorCharacteristics.java"
Test failure at https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/Spliterator/SpliteratorCharacteristics.java#L93 ...

[code]

This test passes against Hotspot.

Digging deeper, execution of this ...

[code]
... yields ...

[code]

Is it intentional that a CharSequence is MUTABLE in OpenJ9 while it is IMMUTABLE in Hotspot ?

Log archive : [SplitCharProb.tar.gz](htt

[2018-10-10 11:03] pshipton commented on #2049
@ddoliver it is not complete, otherwise it would be closed. If you view it with ZenHub you can see the three related unmerged pull requests.

[2018-10-10 12:20] sxa555 opened #3204 "buildbreak: package com.ibm.oti.shared does not exist"
Something that went in yesterday has destabilised the builds seemingly across all platforms. Seen at adoptopenjdk CI but also visible in the OpenJ9 CI
[code]

[2018-10-10 12:47] pdbain-ibm commented on #3136
I am working on a fix.  I hope to get it ready for review this week.

[2018-10-10 12:56] pshipton commented on #3204
Trying to figure out what caused this.

[2018-10-10 13:00] pdbain-ibm commented on #3038
IN RE
https://github.com/eclipse/openj9/issues/3038#issuecomment-428297015, yes, but it's a narrow timing window and an unusual situation which is why we haven't seen it.

[2018-10-10 13:13] ben-walsh opened #3205 "JTReg test fail : java/util/concurrent/LinkedTransferQueue/WhiteBox.java"
Test failure at https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/concurrent/LinkedTransferQueue/WhiteBox.java#L390 ...

[code]

Digging deeper, execution of this ...

[code]
... yields ...
[code]

I don't see anything in the source code to explain why the SWEEP_THRESHOLD value set in the JCL LinkedTransferQueue impl is changed from 32 to 0 when executing against O

[2018-10-10 13:14] pdbain-ibm commented on #3154
In re: https://github.com/eclipse/openj9/issues/3154#issuecomment-427220987
the problem is with `java.lang.ProcessBuilder`:
[code]
Note that the attach API tests by necessity launch child processes. This issue will probably also kill the VmArgument tests.

[2018-10-10 13:29] DanHeidinga commented on #3062
Thanks @gacholio for coding this up.  For those following along, the next step is to check a microbench for any regressions and then we'll proceed with the merge provided the results are ok

[2018-10-10 13:37] DanHeidinga opened #3206 "Attach tests don't run on mac osx"
Test targets that fail:
AttachAPISanity_0

the problem is with `java.lang.ProcessBuilder`:
[code]
Note that the attach API tests by necessity launch child processes. This issue will probably also kill the VmArgument tests.

_Originally posted by @pdbain-ibm in https://github.com/eclipse/openj9/issues/3154#issuecomment-428566457_

[2018-10-10 13:39] DanHeidinga commented on #3206
@pdbain-ibm Can you dig into this further?  Is this a limitation in the extension code or in OpenJ9?

[2018-10-10 13:48] mpirvu commented on #3201
Another opportunity: we should cache `componentType`
[code]

[2018-10-10 13:55] pshipton commented on #3204
I believe this is fixed by https://github.com/eclipse/openj9/pull/3207

[2018-10-10 13:57] AlenBadel commented on #2994
I'm currently finalising testing the solution. I will have an update later today.

[2018-10-10 13:58] mpirvu commented on #3201
Another opportunity, but here we don't need any extra caching: if we have the j9class info cached, then we have the answer to `J9ROMCLASS_IS_ARRAY(j9class->romClass)` and then we can use `componentType` from previous comment followed by another query on the romClass `J9ROMCLASS_IS_PRIMITIVE_TYPE(j9class->romClass)`
[code]

[2018-10-10 14:04] pdbain-ibm commented on #3206
@DanHeidinga will do.  I think this is a broader issue than attach API, so the title is misleading.

[2018-10-10 14:04] #3204 closed

[2018-10-10 14:17] ben-walsh opened #3209 "JTReg test fail : java/util/concurrent/forkjoin/FJExceptionTableLeak.java"
Test failure at https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/concurrent/forkjoin/FJExceptionTableLeak.java#L103 ...

[code]

Digging deeper, execution of this ...

[code]
... yields ...
[code]

I don't see anything in the source code to explain why the exceptionTableLock variable set in the JCL ForkJoinTask impl is nullified ...

[code]

Log archive : [FJExTab

[2018-10-10 14:27] hangshao0 opened #3210 "Obsolete class RcLinkedListImpl can be removed"
We do not use field RcLinkedListImpl::_isOrphan to check for orphan classes in the shared cache anymore. (see https://github.com/eclipse/openj9/pull/3199). Thus the class RcLinkedListImpl can be removed.

[2018-10-10 14:36] #3011 closed

[2018-10-10 14:36] #3012 closed

[2018-10-10 14:36] #3013 closed

[2018-10-10 14:36] #3014 closed

[2018-10-10 14:36] #3015 closed

[2018-10-10 14:47] dsouzai commented on #3015
Closed by https://github.com/eclipse/openj9/pull/2919

[2018-10-10 14:47] dsouzai commented on #3014
Closed by https://github.com/eclipse/openj9/pull/2919

[2018-10-10 14:47] dsouzai commented on #3013
Closed by https://github.com/eclipse/openj9/pull/2919

[2018-10-10 14:47] dsouzai commented on #3012
Closed by https://github.com/eclipse/openj9/pull/2919

[2018-10-10 14:48] dsouzai commented on #3011
Closed by https://github.com/eclipse/openj9/pull/2919

[2018-10-10 15:02] mpirvu commented on #3201
Another opportunity is
[code]
Here we need to cache j9class->totalInstanceSize.
However, for more flexibility we need the information for sizeof(Object) and J9_GC_MINIMUM_OBJECT_SIZE as globals for this client (otherwise the server must be configured exactly the same as the client)

[2018-10-10 15:14] lmajewski commented on #2585
**The breakpoint results:**
[code]
The 'f0' is not read as expected - e500 doesn't have FPU at all. We only read it through emulation (by serving proper exception).
Value passed to the kernel:
[code]
Which is correct (as expected)

After 'fmr' instruction:
[code]

And the last break:
[code]

It seems to me like some operations for FPU were either generated not executed ....

**Side question:**
- F

[2018-10-10 15:31] sophia-guo opened #3212 "pltest, jsigjnitest failed on windows"
pltest, jsigjnitest failed on windows. Suspect the passing in `path` is a mix of window and cygwin path as specified executable or dll are in the path.

jsiginitest result:
[code]

[2018-10-10 15:31] mpirvu commented on #3201
Another opportunity is
[code]
which can be easily done because we already cache clazz->classDepthAndFlags and this particular flag cannot change.
However, there is some strangeness because in the VM code I see J9AccClassCloneable being aplied to the ROMClass not to the RamClass. Is this a bug?

[2018-10-10 15:34] mpirvu commented on #3201
Another opportunity: we could cache j9class->arrayClass
[code]

[2018-10-10 15:44] mpirvu commented on #3201
This could easily be done because we already cache the classloader of a j9class
[code]

[2018-10-10 15:51] ben-walsh opened #3213 "JTReg test fail : java/util/concurrent/tck/JSR166TestCase.java"
Multiple sub-test failures of https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/concurrent/tck/JSR166TestCase.java with similar exception stack ...

[code]

All the failures occur consistently.

I haven't been able to reproduce the any such failures with Arrays.sort(...) calls in non-concurrent environments. Are there any additional / different security permissions

[2018-10-10 16:05] pshipton commented on #3204
Although the builds were broken (failed to run java -version), I don't believe the symptom described here was related.

[2018-10-10 16:07] mpirvu commented on #3201
Another opportunity:
[code]
We already have j9class->classloader and systemClassLoader cached.
isAnonymousClass() is already implemented (looks at j9class->romClass->extraModifiers_).
sameClassLoaders() could be implemented as in the comment above.

[2018-10-10 16:10] mpirvu commented on #3201
Another opportunity based on the fact that we already cache the flags of a j9class
[code]

[2018-10-10 16:13] mpirvu commented on #3201
Another opportunity based on the fact that we already cache the flags of a j9class
[code]

[2018-10-10 16:18] mpirvu commented on #3201
This one is very tricky because some flags can change at runtime, so answering the cached version may wrong
[code]

[2018-10-10 16:28] mpirvu commented on #3201
Another opportunity relates to caching the depth of class which we already have
[code]

where
`#define J9CLASS_DEPTH(clazz) (((UDATA)(clazz)->classDepthAndFlags) & J9_JAVA_CLASS_DEPTH_MASK)`

[2018-10-10 16:49] smlambert commented on #3154
Put passing tests report here (to declutter description above), but still track which directories of tests have been run:

**Test targets that pass:**
JCL_Test_0 (GeneralTest suite)
- JCL_TEST_Test-Annotation-Package
- JCL_TEST_Test-Annotation-Identity
- JCL_TEST_Test-Annotation-ClassLoader
- JCL_TEST_Test-TypeAnnotation
- JCL_TEST_Test-Annotation

SharedCPEntryInvokerTests_1
regressionFastresolve

[2018-10-10 16:52] mpirvu commented on #3201
Another opportunity
[code]
totalInstanceSize was proposed to be cached for getAllocationSize() in a comment above

[2018-10-10 18:01] pshipton commented on #2507
The jdk11 part is merged https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/28

[2018-10-10 18:04] jdekonin commented on #3124
Compile, sanity and extended pull request jobs have been created for JDK8 and JDK11.  For OpenJ9,  openj9-openjdk-jdk8 and  openj9-openjdk-jdk11 repos.

Triggers for JDK8 all tested and functional.  JDK11 compile is problematic atm, not sure if its jenkins or the job.  sanity and extended work fine for JDK11.

[2018-10-10 18:31] pshipton opened #3217 "Crashes or assertions in the GC on x86"
Creating this issue to track merging an OMR change for the 0.11.0 milestone.

https://github.com/eclipse/omr/pull/3046

[2018-10-10 18:31] pshipton commented on #3217
Some various possiblities

[code]

[code]

[2018-10-10 19:07] gacholio commented on #3062
Doc issue: https://github.com/eclipse/openj9-docs/issues/109

[2018-10-10 19:10] #3062 closed

[2018-10-10 19:27] nbhuiyan commented on #3154
I have been trying to reproduce the hanging targets, and investigating whether that happens with using -Xrs.

### jit_jitt_0

Using `-Xrs` option, I have been able to get past the hang in target `jit_jitt_0`.

As the script continued past that previously hanging point, I encountered another hang at `jit_jitt_3` at `cfgTest` subset. Again, using `-Xrs` allowed me to get past that point all the way

[2018-10-10 19:34] sophia-guo opened #3221 "j9sl_AixDLLMissingDependency failed with jdk11"
j9sl_AixDLLMissingDependency failed with jdk11.

[code]

[2018-10-10 19:34] smlambert commented on #3154
Thanks @nbhuiyan!

[2018-10-10 20:06] pshipton commented on #3047
Not sure if this will make it into the 0.11.0 release. As the release will not wait on this, I'm going to move it to the 0.12.0 milestone. If it does get resolved we can move it back.

[2018-10-10 20:09] 0xdaryl commented on #3154
@smlambert reports above that "openj9_jsr292Test_JitCount0" passes, yet @nbhuiyan observes a failure with "jsr292Test_JitCount0".  Are these the same test?

[2018-10-10 20:19] nbhuiyan commented on #3154
Further info regarding jsr292Test_JitCount0_0: fails despite trying with `optLevel=noOpt` and `-Xint` mode.

[2018-10-10 20:25] babsingh opened #3223 "OSX 64-bit compressedrefs build JIT crash"
When building **OpenJ9 JDK9 64-bit compressedrefs** on OSX with JIT enabled, multiple segfaults were seen:

[code]

All segfaults were related to: **Module_base_address=0000000010D4C000 Symbol=old_fast_jitLookupInterfaceMethod**. The segfaults didn't occur with `-Xint` ... `export IBM_JAVA_OPTIONS=-Xint`.

**Reproducing the issue:**
1) Make sure the following pull requests are applied:
- OMR pull

[2018-10-10 20:29] #3181 closed

[2018-10-10 20:53] babsingh commented on #3223
fyi - @0xdaryl @DanHeidinga @nbhuiyan

[2018-10-10 20:53] babsingh commented on #3223
related to #36

[2018-10-10 20:54] babsingh commented on #36
Reference - **OSX 64-bit compressedrefs build JIT crash segfault** - https://github.com/eclipse/openj9/issues/3223

[2018-10-10 22:07] lmajewski commented on #2585
I've also removed `-mcpu=8548 -mabi=spe -mspe`, but the gcc is tuned for e500 and I cannot pass
`-mfloat-gprs=no` to it. It is though logical as e500 doesn't have FPU at all, so it looks like only feasible option is to pass double values via GPRs.

**Questions:**

1. For the first log() run we use pure SW implementation of log().  Would it be possible to force J9 via JIT to optimize this source co

[2018-10-10 22:27] fengxue-IS commented on #3154
@nbhuiyan for jsr292Test_JitCount0_0, I believe that is the same issue as jsr292Test_0, see my comment above ^^^

[2018-10-11 02:46] luchsh commented on #2977
From a user's perspective, the current behavior is too confusing.
HotSpot has got an option '-XX:+IgnoreUnrecognizedVMOptions', can OpenJ9 work in the same way?
or maybe you can create a whitelist of valid '-XX' options for compatibility, and report errors when cannot find a match in the whitelist.

[2018-10-11 04:10] ymanton commented on #2585
No, the JIT compiler will only compile Java code, it cannot do anything for C code or the interpreter.

The code for that is mostly here:

https://github.com/eclipse/openj9/blob/master/runtime/compiler/p/codegen/PPCJNILinkage.cpp

[2018-10-11 07:09] ashu-mehra opened #3226 "Enable idle tuning options by default when running in container"
OpenJ9 docker images produced at AdoptOpenJDK already enable `-XX:+IdleTuningGcOnIdle` and `-XX:+IdleTuningCompactOnIdle`. See https://github.com/AdoptOpenJDK/openjdk-docker/blob/master/8/jdk/ubuntu/Dockerfile.openj9.releases.full.
It would be beneficial if we enable these options at runtime when OpenJ9 is running in container so that any product that uses OpenJ9 but does not use the docker images

[2018-10-11 09:09] lmajewski commented on #2585
@ymanton Do you have maybe some hints regarding the code?

Maybe you remember any other J9 supported arch which doesn't use FPU and hence use emulated code from the outset?

[2018-10-11 09:45] #2986 closed

[2018-10-11 10:19] pshipton opened #3227 "aix jdk11 fails to build"
https://ci.eclipse.org/openj9/job/Build-JDK11-aix_ppc-64_cmprssptrs/68/console

Likely caused by https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/28

[2018-10-11 10:20] pshipton commented on #3227
@keithc-ca

[2018-10-11 12:30] JamesKingdon commented on #2585
In principle the ARM code supports software floating point, but I've never tried to build it or looked into the code. But searching the arm codegen for SOFTFP might give some clues for how that platform handled it.

[2018-10-11 12:36] ashu-mehra commented on #3226
Doc issue: https://github.com/eclipse/openj9-docs/issues/112

[2018-10-11 12:38] pshipton commented on #3227
ibmruntimes/openj9-openjdk-jdk11#28 has been reverted until it can be fixed.

[2018-10-11 12:39] pshipton commented on #3227
Copied the console from the failure [aix-console.txt](https://github.com/eclipse/openj9/files/2468902/aix-console.txt)

[2018-10-11 12:41] pshipton commented on #2507
The jdk11 part has to be reverted https://github.com/eclipse/openj9/issues/3227

Moving this to the 0.12.0 milestone as its becoming too late up make further updates to 0.11.0

[2018-10-11 13:31] DanHeidinga commented on #3226
@ashu-mehra Can you expand on:
* the rationale for this,
* the differences users might see,
* whether these options are supported on all platforms or not,
* any limitations
* any performance impacts to either startup or throughput when this is enabled

[2018-10-11 13:45] keithc-ca commented on #3227
This is the problem:
[code]

[2018-10-11 13:48] pdbain-ibm commented on #3136
Testing the fix now.  It passes this test case; I am testing it on the regression and compliance suites now.

The test in question exercises the visibility of resources at the root of a module, i.e. no package.  I can't find any documentation specifically for this case but I infer from the reference implementation that resources in the default package are implicitly open to other modules.  FYI @Da

[2018-10-11 14:19] DanHeidinga commented on #3154
That's somewhat surprising if the tests pass on other platforms.  Why is mac more sensitive to the `checkClassAccess` call?

[2018-10-11 14:36] ben-walsh opened #3232 "JTReg test fail : java/util/prefs/PrefsSpi.sh"
Following failure is presented ...

[code]

The sub-test ...

[code]

... is the one which is failing.

Inside PrefsSpi.jar (which is added to the classpath in this sub-test) is a file
META-INF/services/java.util.prefs.PreferencesFactory which has the content "StubPreferencesFactory".

This should result in the overriding of the default java.util.prefs.PreferencesFactory value of "java.util.prefs.

[2018-10-11 14:39] PTamis commented on #2585
@ymanton from your comment I understand that the JIT is responsible for emitting those
 .long instructions eg `.long 0xc80e0000` which as it is said above is `lfd f0,0(r14)`

At this [issue](https://github.com/ibmruntimes/v8ppc/issues/119) another effort has been done before to change some of those unsupported ppc instructions to ones that are supported.

eg `lfd` should be replaced with `evldd`

[2018-10-11 14:48] AlenBadel commented on #2994
I've ran into additional conditions on AIX that need to be investigated and addressed.

@irinarada @DanHeidinga
In regards to release 0.11.0, I would like to request that this issue is dropped off the required list. This issue has never been reported on any sanity, or by any user of OpenJ9. It is only exposed when building with debug mode using the precise instructions above.

[2018-10-11 14:49] 0xdaryl commented on #3223
The JIT crash is a consequence of the fact that NASM doesn't treat the equates in `jilconsts.inc` as macros and hence the `%ifdef`s are not the right preprocessor directive to use.  We're investigating using `%define`s in `jilconsts.inc` rather than equates for NASM targets.

[2018-10-11 14:52] JasonFengJ9 commented on #3178
Looked at the testcase code,
[code]
This tests RI internal specific behaviour.
As per spec https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/ClassLoader.html#getSystemClassLoader()

`OpenJ9` doesn't suffer a circular initialization hence no need to throw `IllegalStateException`.
This issue can be closed.

[2018-10-11 15:08] ktbriggs opened #3234 "linux x86-64 fails to build"
Following https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V9.md with dependencies updated per https://github.com/eclipse/openj9/blob/master/buildenv/docker/jdk9/x86_64/ubuntu16/Dockerfile.

Then

`rm -fR ./build`
`bash configure --disable-ddr --with-freemarker-jar=/root/freemarker.jar`
`make clean`
`make all`

fails with

[code]

I am building clones of ecli

[2018-10-11 15:09] gacholio commented on #2994
What are these additional things on AIX? Will the helper wrappers need to be updated?

[2018-10-11 15:18] pdbain-ibm opened #3236 "AttachAPI: option to restrict file permissions"
Currently Attach API uses world-writable files for certain operations such synchronization.  The files in question contain no content but must be writable for locking to succeed.  World-writable files associated with an application may be prohibited by certain standards such as https://www.niap-ccevs.org/Documents_and_Guidance/view_td.cfm?td_id=333.

To conform, the attach API can use a specific c

[2018-10-11 15:21] DanHeidinga commented on #2994
@AlenBadel I agree this isn't a user-focused issue so I'm fine with moving it out of 0.11.0.

I've moved it to the 0.12.0 release for now.

[2018-10-11 15:37] ashu-mehra commented on #3226
I added my understanding of why we want to do this in the first comment i.e. `It would be beneficial if we enable these options at runtime when OpenJ9 is running in container so that any product that uses OpenJ9 but does not use the docker images from Adopt, also gets the benefits of these options without the need to explicitly add these options in their Dockerfile.`
Generally when someone include

[2018-10-11 15:44] pdbain-ibm commented on #3081
This test has run clean for the past several builds and is not reproducible.
Please close for now; reopen if the failure crops up again.

[2018-10-11 15:53] 0xdaryl commented on #3223
With that fixed, jitt, SPECjvm98, and SPECjbb2005 all pass with JIT + compressedrefs at various counts and rtresolve.  Woot!

[2018-10-11 15:57] DanHeidinga commented on #3234
@ktbriggs Is there any other info in the build log?  Scrolling back through it may highlight more context as there's not enough info here to offer any suggestions.

[2018-10-11 15:59] ymanton commented on #2585
Yes it's possible, let's call this option A. It would be the best way to support your hardware, but it's also by far the most work and requires changing the JIT compiler and a few other parts of the VM as well. This would probably be weeks or months of work by someone who had a good understanding of the VM, JIT, and PPC code generator. If you want to undertake this you can start by adding the SPE

[2018-10-11 16:20] ktbriggs commented on #3234
@DanHeidinga I agree that the build log does not provide enough info but I think that should be considered part of the issue. There is no other info relating to the failure before the posted snippet above and nothing after that is not redundant. I'm running the build again to be doubly sure and will post full build log here when it completes.

[2018-10-11 16:21] liqunl commented on #3142
Fixed by #3218

[2018-10-11 16:43] ymanton commented on #2585
This is the part of the compiler that first reads the Java bytecode for the method and starts generating the compiler's intermediate representation: https://github.com/eclipse/openj9/blob/f031ac4012794306c16a6ba8fcc9907ca6fbcf90/runtime/compiler/ilgen/Walker.cpp#L1184

You will see a giant switch in that function that processes each bytecode. Find all of the FP related bytecodes and call `comp()->

[2018-10-11 17:15] ktbriggs commented on #3234
With `export HAS_AUTOCONF=1` set the build failed again as before. Attached is the build log. I see many warnings but no way to tell which if any are relevant.

[build.log](https://github.com/eclipse/openj9/files/2469935/build.log)

[2018-10-11 17:42] pdbain-ibm opened #3242 "OSX: Java 11 compile error in cphelp.c with Apple LLVM version 8.1.0 (clang-802.0.41)"
[code]

[2018-10-11 18:20] JasonFengJ9 commented on #3242
With following steps I was able to build `OpenJ9` on mac:
[code]

[2018-10-11 18:47] #3178 closed

[2018-10-11 18:58] pshipton commented on #3142
@liqunl fyi https://help.github.com/articles/closing-issues-using-keywords/

[2018-10-11 18:58] #3142 closed

[2018-10-11 18:59] #3137 closed

[2018-10-11 18:59] #3161 closed

[2018-10-11 19:39] babsingh opened #3244 "OpenJ9 OSX JDK doesn't work on older MacOS versions"
OpenJ9 OSX JDK11 was built on MacOS version `10.13.4`. The JDK worked fine on the machine where it was built:

[code]

On an older MacOS version `10.12.6`, the above JDK didn't work. The following error was seen:
[code]

`openj9-openjdk-jdk*` extension repos specify the following option: `-mmacosx-version-min=10.9.0`.

Based upon the above error, `-mmacosx-version-min=10.9.0` doesn't get applied w

[2018-10-11 19:40] babsingh commented on #3244
fyi - @DanHeidinga @pshipton

[2018-10-11 19:41] babsingh commented on #3244
Related to https://github.com/eclipse/openj9/issues/36

fyi - @pdbain-ibm

[2018-10-11 19:42] DanHeidinga commented on #3242
The openjdk supported build environment requires at least clang 9.4

[2018-10-11 19:42] gita-omr commented on #2994
@gacholio I think @AlenBadel meant some specifics within JIT, e.g. AIX linkage code is taking different path, extra testing etc. The register convention we agreed on stays the same.

[2018-10-11 19:44] babsingh commented on #36
Another issue - **OpenJ9 OSX JDK doesn't work on older MacOS versions** - https://github.com/eclipse/openj9/issues/3244

[2018-10-11 19:50] babsingh commented on #3244
[code]

[2018-10-11 19:54] JasonFengJ9 commented on #3154
Looking at failure: JLM_Tests_interface - JLM_Tests-report.html.txt.

[2018-10-12 00:10] pshipton opened #3248 "AIX performance is affected by -g option added to support DDR"
https://github.com/eclipse/openj9/pull/2309 added the -g compile option on AIX. This affected performance and needs to be removed.

The following will be reverted and then -g can be removed.
ibmruntimes/openj9-openjdk-jdk8#116
ibmruntimes/openj9-openjdk-jdk9#178
ibmruntimes/openj9-openjdk-jdk10#59
ibmruntimes/openj9-openjdk-jdk11#23
ibmruntimes/openj9-openjdk-jdk#35
eclipse/openj9#2939

[2018-10-12 00:31] pshipton commented on #1769
Reverting DDR on AIX due to https://github.com/eclipse/openj9/issues/3248. Reopening this issue and assigning to the next milestone.

[2018-10-12 01:16] pshipton commented on #3118
@vsebe @jdekonin we can use this issue. Since zlinux cannot automatically build 1.1.1 from source atm, we can use a pre-built binary on this platform.
[code]

[2018-10-12 01:45] #3223 closed

[2018-10-12 02:02] DanHeidinga commented on #3234
I don't see anything there.  Try rebuilding with `make LOG=debug,cmdlines images`

[2018-10-12 09:37] ktbriggs commented on #3234
I think this is happening because I am building omr/openj9 master branches in a Java 9 build environment. I have been maintaining this environment for evacuator development (https://github.com/eclipse/omr/issues/2664) to stabilize performance metrics between builds.

I'll try retooling for Java 11 and close this if evacuator (tracking omr/openj9 master) builds work out.

[2018-10-12 10:02] stevewallin commented on #3206
A number of the test failures for Mac are due to os.name being set to "Darwin" throughout the J9 implementation and "Mac OS X" in hotspot.

OSInfo.java does explicit testing for "OS X" in the osName System Property and fails a number of the test due to returning an unknown platform from os.name

[2018-10-12 10:40] bharathappali commented on #2838
@DanHeidinga I'm sorry for delayed reply. I haven't gone through it for a while.

Yeah there is a possibility to change it in runtime.

its just for a one time use when javacore is generated. As there is no other mechanism/service using this info I'm thinking that caching it would not be that useful from a memory allocation perspective. I might be wrong, I'm sorry if i was.

My system (RHEL 7.5) c

[2018-10-12 10:52] pshipton commented on #3039
Another one in PR testing
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-aix_ppc-64_cmprssptrs-OpenJ9/6/

[2018-10-12 10:57] pshipton commented on #3217
@vijaysun-omr are you going to look at merging eclipse/omr#3035 soon?

[2018-10-12 11:11] ktbriggs commented on #3234
Build works fine after upgrading environment to Java 11. Closing this.

[2018-10-12 11:11] #3234 closed

[2018-10-12 12:33] pdbain-ibm commented on #3242
That also means the OS must be 10.13 (High Sierra) or later because clang 9.4 won't run on MacOS 10.12.

[2018-10-12 12:45] pdbain-ibm commented on #3242
Comment from @babsingh:

we build with the following `-mmacosx-version-min=10.9.0` linker option
for some reason the linker option isn't used while generating `libj9prt29.dylib` port library (edited)

[2018-10-12 13:17] DanHeidinga commented on #3206
Thanks @stevewallin!  We'll look at getting that fixed asap

[2018-10-12 13:34] DanHeidinga commented on #3206
Change needs to be made to `omrsysinfo_get_OS_type ` in https://github.com/eclipse/omr/blob/2897f28e7ef6184f557c93798b5cdc6b720d59cd/port/unix/omrsysinfo.c

[2018-10-12 13:35] pdbain-ibm commented on #3206
The issue is `omrsysinfo_get_OS_type()` calls `uname()`, which returns "Darwin".
`vmprops.c:initializeSystemProperties()` calls `j9sysinfo_get_OS_type()` (which is an alias for the OMR function of the same name) and sets the "os.name" system property.

[2018-10-12 13:50] DanHeidinga commented on #3206
Discussed with Charlie.  Let's change it in OMR.  We'll need to validate this doesn't break any of the OMR tests as well

[2018-10-12 14:13] ktbriggs commented on #3234
@DanHeidinga I didn't run `make LOG=debug,cmdlines images` in my V9 environment as you suggest but I would suggest that any `debug` log messages relating to events that will break make should be promoted to `error` log messages so that the root cause may be identified.

I'll leave it to you to decide whether to raise this as an issue. If you do, the problem can be reproduced by setting up for V9 b

[2018-10-12 14:30] pdbain-ibm commented on #3206
Okay. I am testing a patch now and will run a personal build.

[2018-10-12 14:48] pshipton commented on #3217
@andrewcraik doesn't believe eclipse/omr#3035 is required, I've removed this prereq.

As eclipse/omr#3046 is now merged, we just need an omr promotion before this can be closed.

[2018-10-12 14:48] DanHeidinga commented on #3206
@pdbain-ibm Can you get the PR for this opened as well?  We can try and review in parallel then

[2018-10-12 14:48] pdbain-ibm commented on #3206
Your wish is my command: https://github.com/eclipse/omr/pull/3052

[2018-10-12 15:19] stevewallin commented on #3206
J9 also uses os.arch: amd64 and HS as os.arch: x86_64 - if users are testing these then there might be app/framework failures

[2018-10-12 15:20] pdbain-ibm commented on #3206
New pull request per comments on the old one: https://github.com/eclipse/omr/pull/3053

[2018-10-12 15:20] jdekonin commented on #3118
Setup on the 4 zLinux 390 machines in `/home/jenkins/openssl-1.1.1`.

[2018-10-12 15:31] pshipton commented on #3118
@jdekonin thanks. The next step it to update defaults.yml to pass `--with-openssl=/home/jenkins/openssl-1.1.1 --enable-openssl-bundling`

[2018-10-12 15:33] #3136 closed

[2018-10-12 16:12] DanHeidinga opened #3252 "Revert mac osx default to -Xrs when signal handler support fixed"
Temporarily default mac osx to use `-Xrs` while the signal handler issues are being investigated.  This allows most things to run but with reduced use of signals by the VM.

This item needs to stay open until this change has been reverted.

related to issue: #36

[2018-10-12 17:16] pdbain-ibm commented on #3154
Looking at `Some variants of cmdLineTester_GCRegressionTests - fail with JVMJ9VM007E Command-line option unrecognised: -Xgcpolicy:metronome`

[2018-10-12 17:45] pdbain-ibm commented on #2938
Completed via issue #2962.

[2018-10-12 17:45] #2938 closed

[2018-10-12 19:00] JasonFengJ9 commented on #3154
There are three `AssertionError` within JLM_Tests_interface - [JLM_Tests-report.html.txt.](https://github.com/eclipse/openj9/files/2448714/JLM_Tests-report.html.txt)

Two of them, `testGetCurrentThreadUserTime` and `testGetThreadUserTime` are due to `OSX` is not supported within [thrprof.c:omrthread_get_user_time](https://github.com/eclipse/openj9-omr/blob/master/thread/common/thrprof.c#L385-L440)

[2018-10-12 19:30] fengxue-IS commented on #3154
Re tested with latest build/test material, the test failure is fixed, looks like a miss match between test/vm changes

[2018-10-12 19:53] #3118 closed

[2018-10-12 20:06] pshipton commented on #3217
The omr promotion has occurred.

[2018-10-12 20:06] #3217 closed

[2018-10-12 20:07] gacholio commented on #3242
This is a pointless use of strncpy. Use strcpy instead - strncpy provides no added safety on constant values.

[2018-10-12 22:19] #3248 closed

[2018-10-12 22:38] babsingh commented on #36
- **OpenJ9 JDK11 default/compressedrefs + JIT enabled works on OSX.**

- **Update: OpenJ9 JDK8 on OSX**
a) Machine setup: https://github.com/manasthakur/jdk-tips/wiki/Building-OpenJDK-8-on-Mac-OS-X-Yosemite
b) Unmerged fixes: https://github.com/eclipse/openj9/pull/3259, https://github.com/eclipse/omr/pull/3055.
c) Manual hack for `xnathelp.s` errors --- remove `.extern` statements --- then, contin

[2018-10-13 04:43] sirinath opened #3263 "Graal API Support"
Since Graal is an easy way to [embed other languages in Java](https://www.graalvm.org/docs/graalvm-as-a-platform/embed/) it will be great if you  can support Graal API. Otherwise portability to code between OpenJDK and OpenJ9 is hampered.

Also might be a good time to perhaps have Graal/Truffle APIs revised to support both platforms.

[2018-10-13 11:13] pshipton opened #3264 "Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs Testing: -verbose:dynload,sizes,stack,debug"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs/40/consoleFull
[code]
[code]
[code]

[2018-10-13 11:14] pshipton commented on #3264
@hangshao0 can you please take a look

[2018-10-13 11:20] pshipton opened #3265 "Test-extended.system-JDK11-aix_ppc-64_cmprssptrs SharedClassesAPI_0"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-aix_ppc-64_cmprssptrs/40/tapResults/
[code]

[2018-10-13 11:28] pshipton commented on #1470
Another one on JDK10-linux_x86-64
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK10-linux_x86-64/94/testReport/junit/j9vm.test.softmx/SoftmxAdvanceTest_GC_Only/testDisclaimMemoryEffects_GC_Test/

looks like gc log is available https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK10-linux_x86-64/94/artifact/functional_test_output.tar.gz

@dmitripivkine

[2018-10-13 14:16] ashu-mehra commented on #3226
I created two builds, one without https://github.com/eclipse/openj9/pull/3228 (baseline) and another with https://github.com/eclipse/openj9/pull/3228 which has idle tuning enabled by default if running in container.
I measured startup of liberty on bare metal and in container on my system.

**Results on bare metal:**

**Baseline**
[code]

**IdleTuning enabled**
[code]
On bare metal startup differe

[2018-10-13 14:27] mpirvu commented on #3226
@ashu-mehra This issue discusses the enabling of idle_tuning in containers only. Are you proposing to enable idle_tuning outside containers too?

[2018-10-13 14:34] ashu-mehra commented on #3226
No, the reason I measured on bare metal as well (in addition to containers) is because the [code](https://github.com/ashu-mehra/openj9/blob/432c0da668d909613e965fe143ff53e2ad306fb8/runtime/vm/jvminit.c#L1825) to check if the JVM is running in containers gets executed in either case. Basically that's the only piece that can impact startup, if at all. So I just wanted to measure its impact when not

[2018-10-13 22:43] pdbain commented on #3206
It's working now:
[code]
`org.openj9.test.attachAPI.TestAttachAPI.test_agntld01` is failing, but everything else seems to work.

[2018-10-13 22:47] pdbain opened #3266 "Attach API agent loading tests fail on MacOS"
[code]

[2018-10-13 22:53] pdbain commented on #3266
[code]
There is no `libjvmtitst.so`:
[code]

@DanHeidinga
Do I need to decorate the library with `.dylib` instead of `.so`?

[2018-10-14 04:02] DanHeidinga commented on #1493
We've seen similar issues on centos as well.  The solution appears to be to upgrade `make` to use version 4.1.

See changes at Adopt - https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/499
And the current ansible scripts which pull gmake and build from source: https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/500/files