[2019-07-11 03:24] clienthax commented on #6366
Note that the server will only run on Java8.

[2019-07-11 08:47] BoykaZhu opened #6425 "Run Jenkins SCM plugin gets out of memory issue"
Hi,
When I running some SCM plugin on Jenkins (debug Jenkins instance which started with JDK8.212 OpenJ9), like subversion.
I always get "out of memory" issue when the Jenkins job almost is done, dumped when killing the process. Error below:

FATAL: Java heap space
java.lang.OutOfMemoryError: Java heap space
	at java.lang.String.<init>(String.java:831)
	at java.lang.String.substring(String.java:26

[2019-07-11 11:51] DanHeidinga commented on #6425
In Java 8, the heap size defaults to the smaller sizes as you've seen.  This is mostly for historical reasons.

In later releases, OpenJ9 will use a 1/4 of the available memory for the heap.

fyi @dmitripivkine @charliegracie

[2019-07-11 12:43] pshipton commented on #6361
Another one running memoryMXBeanShutdownTest_0
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/90
[code]

[2019-07-11 12:45] pshipton commented on #6393
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_x86-64_windows_Nightly/88
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_windows_Nightly/86

[2019-07-11 13:10] pshipton commented on #6425
See also https://github.com/eclipse/openj9/issues/3475

[2019-07-11 13:12] pshipton commented on #6391
@andrew-m-leonard can you please take a look.

[2019-07-11 13:21] #5373 closed

[2019-07-11 14:08] tajila commented on #1269
This is complete

[2019-07-11 14:08] #1269 closed

[2019-07-11 14:09] tajila commented on #954
@pshipton this Issue is complete and can be closed

[2019-07-11 14:15] pshipton commented on #954
@tajila there are still open issues in https://github.com/eclipse/openj9/projects/2

[2019-07-11 14:48] andrew-m-leonard commented on #6391
The key here is the exception cause:
    no security manager: RMI class loader disabled
which indicates no security manager is setup. Having looked at your TestRMIRegistry it does not set one.
See doc reference: https://docs.oracle.com/javase/tutorial/rmi/implementing.html
essentially quote:
"If an RMI program does not install a security manager, RMI will not download classes (other than from the

[2019-07-11 15:14] harryyu1994 commented on #6360
Working on
[code]

[2019-07-11 15:15] JamesKingdon opened #6428 "Performance regression of StringBuilder.append on amd64"
This problem is being investigated in the context of the IBM SDK, so I apologize for the use of Java specific examples and version info that relates to that particular consumer of OMR.

The performance of StringBuilder.append() when appending small strings in the range of 1 to 20 characters is significantly worse than it was in earlier versions. Limited testing so far shows that performance was go

[2019-07-11 15:32] fjeremic commented on #6428
Although the original post is comparing the IBM JDK the regression can be seen with Adopt builds when comparing against HotSpot:

https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u212-b04/OpenJDK8U-jdk_x64_linux_hotspot_8u212b04.tar.gz

[code]

https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u212-b04_openj9-0.14.2/OpenJDK8U-jdk_x64_linux_openj9_8u212b

[2019-07-11 15:35] DanySK commented on #6370
@DanHeidinga can this behaviour get changed somehow, e.g. by switching GC implementation? I'd like to test if this is the origin of the issue, that would restrict the investigation space consistently.

[2019-07-11 15:48] fjeremic commented on #6428
I also tested Java 11 for completeness given we transitioned to using OpenJDK StringBuilder / StringBuffer as part of #1786. However the regression is still seen there as well. This means for the same Java code we're generating a subperformant instruction sequence compared to HotSpot. Tagging this as a JIT issue given this observation.

https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/d

[2019-07-11 15:56] pshipton commented on #6370
I thought maybe `-Xgcpolicy:optthruput`, which doesn't have new space / tenure space, but I tried a simple test case and it doesn't work. `s.intern()` still returns a different String.

[2019-07-11 15:59] pshipton commented on #6370
@amicic any ideas? Is there a scenario when String.intern() wouldn't copy the String?

[2019-07-11 16:00] RSalman commented on #6393
Spoke to Alek, we'll go with disabling the optimization for now instead of pulling it out completely.

[2019-07-11 16:19] ChengJin01 commented on #5058
Currently refactoring some code in byte verifier to address the issue with class name. Will get back to this once it is finished.

[2019-07-11 18:02] smlambert opened #6435 "sanity.external: thorntail_microprofile_tck fails with openj9 jdk8"
This microprofile tck is failing with jdk8 openj9 (and passes with hotspot).

Note: While the output at the failure link contains a bunch of additional failures, those refer to failing to upload artifacts and are not relevant (as they also appear in the successful hotspot run).  Also see: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1161

Failure link
------------
https://ci.adoptopenjdk.n

[2019-07-11 18:35] harryyu1994 commented on #6360
Working on
[code]

[2019-07-11 18:51] dmitry-ten opened #6437 "Implement `TR_ResolvedJ9Method::varHandleMethodTypeTableEntryAddress` for JITaaS"
This method needs to access attributes of a RAM class and other client-side info.
It's called in Java 11 but not Java 8 (I think because Java 8 doesn't have var handles).
Need to override this method for `TR_ResolvedJ9JITaaSServerMethod` and create a new remote call to fetch all of the client-side info.

[2019-07-11 19:38] #6393 closed

[2019-07-11 20:31] 0xdaryl opened #6438 "Support and enable arraycopy transformations for AArch64"
This issue tracks the work to enable the arraycopy transformations in value propagation.  It will require AArch64 backend support for the `TR::arraycopy` and `TR::ArrayCHK` opcodes.

[2019-07-11 20:42] 0xdaryl commented on #5455
Arraycopy transformations from value propagation (`TR::arraycopy` and `TR::ArrayCHK` node support).  Disabled via `TR_DisableArrayCopyOpts`.

[2019-07-11 23:06] hi5san commented on #6391
@andrew-m-leonard Yes I noticed the error.  However, the intended setup is local class path only, and as noted, using the rmiregistry command works.  Could you please help me understand the difference?

[2019-07-12 01:07] hi5san commented on #6391
@andrew-m-leonard Thanks - by setting SecurityManager with AllPermission policy (as it required "*", "access" SocketPermission and "read" FilePermission to RMI server app's CWD for some reason), it worked as expected.  I can image `rmiregistry` command does something similar.

The reason I was running w/o SecurityManager was because I have a long running implementation on a Java ME based VM, which

[2019-07-12 01:17] 0xdaryl opened #6441 "Power, Z, ARM requires support for dynamicANewArray?"
There is a feature in VP guarded by a code generator flag `SupportsDynamicANewArray`.  The comment in VP claims support is not yet implemented on platforms other than x86, hence this transformation will not occur:

https://github.com/eclipse/openj9/blob/582921ee5d7d99a01cdf1b98f0dfa92cad3a72cd/runtime/compiler/optimizer/J9ValuePropagation.cpp#L1419

This comment pre-dates open sourcing.  Does anyo

[2019-07-12 01:28] 0xdaryl opened #6442 "Enable RefinedAliasSets on Z and ARM?"
Only x86 and Power enable refined alias sets (via the CodeGenerator flag `setEnableRefinedAliasSets`).  Is this by design, or an oversight?  What does a CodeGenerator need to do to support refined alias sets?

@vijaysun-omr @andrewcraik @fjeremic @gita-omr @knn-k

[2019-07-12 03:00] 0xdaryl opened #6443 "Support and enable arrayset opts for AArch64"
This issue tracks the work to enable arrayset optimizations in the AArch64 backend (enabled by clearing the option flag `TR_DisableArraySetOpts`).

[2019-07-12 03:04] 0xdaryl commented on #6443
@knn-k

[2019-07-12 03:05] 0xdaryl opened #6444 "Support and enable Quad optimizations for AArch64"
Support and enable opcodes needed for Quad recognized method support (e.g., `TR::computeCC`) on AArch64.

[2019-07-12 03:05] 0xdaryl commented on #6444
@knn-k

[2019-07-12 04:36] #6425 closed

[2019-07-12 12:12] Ealrann opened #6446 "How to use -Xshareclasses with JLink?"
Hello,

I'd like to test the `-Xshareclasses` capability of OpenJ9 with my JLink build. Unfortunately, when I use this option, I got this error message:
[code]

Is there something specific to enable Xshareclasses with JLink?

I use this jlink options:
[code]

[2019-07-12 13:06] andrewcraik commented on #6441
@0xdaryl Yes there was an opt done by @yanluo7 in OMR VP and OpenJ9 to accelerate array cloning:
https://github.com/eclipse/omr/pull/3421
https://github.com/eclipse/openj9/pull/4179

The evaluator for `anewarray` needs to support an array type that is a non-constant `loadaddr`. It isn't a big change, but that is needed for the acceleration done in those pull requests. I was sure an issue was opene

[2019-07-12 13:35] 0xdaryl commented on #5455
Inline dynamic cast class evaluation for checkcast : #5291

[2019-07-12 13:37] 0xdaryl commented on #5455
Inlining support of MultiANewArray for 2 dimensional arrays:  #2424

[2019-07-12 14:19] fjeremic commented on #6441
I looked on my personal tracking repository for issues that need to be addressed on Z and I can't find the relevant issue either.

[2019-07-12 14:21] fjeremic commented on #6442
Can someone also explain what this optimization is for? If we can get some context on what it's trying to improve I'll be able to tell why/why not this may be needed on Z, or if it was just something we missed implementing.

[2019-07-12 14:27] fjeremic commented on #6444
Is this related to BigDecimal Quad uses? Are these relevant to OpenJ9?

[2019-07-12 14:55] 0xdaryl commented on #6444
Yeah, it's the BigInteger division quads acceleration.  You're right, not relevant for OpenJ9.

[2019-07-12 14:55] #6444 closed

[2019-07-12 15:23] pshipton commented on #6362
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.functional_x86-64_mac_OpenJDK13/14
cmdLineTester_jvmtitests_hcr_8
[code]

[2019-07-12 15:30] fjeremic commented on #6362
These seem like duplicates of #5046 and #5153.

[2019-07-12 15:33] #6391 closed

[2019-07-12 15:34] pshipton commented on #6446
@Ealrann please include the openj9.sharedclasses module when jlink'ing.

[2019-07-12 16:43] fjeremic commented on #6428
I took a profile of this using `perf` (latest version) with the JIT support and I see the following:

[code]

Correlating this to a log, it seems to correspond to a very-hot profiling compile:

[code]

The binary encoding of the hottest instruction here at offset 0x228 comes from an arraycopy tree:

[code]

[2019-07-12 16:48] fjeremic commented on #6428
Interestingly enough, looking at a verbose log I don't see us ever coming out of a very-hot profiling compile. We seem to be stuck using the profiled compile body throughout the run of the benchamark:

[code]

That seems highly unusual, though the profile seems to indicate this is unlikely to be the cause. However we should still take a look from the control perspective. @dsouzai / @mpirvu what co

[2019-07-12 17:11] mpirvu commented on #6428
The transition from profile very-hot to scorching is based solely on the number of profiling samples being accumulated. So, maybe those samples are rarely happening.
I remember there is an option called -Xjit:quickProfile to lower the number samples needed.

[2019-07-12 19:49] non-conformances-research opened #6449 "ArrayList.ensureCapacity crashes the JVM"
ArrayList.ensureCapacity throws OutOfMemoryError when executing the following program:

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u

[2019-07-12 21:10] raphw commented on #5533
@pdbain-ibm Hey Peter, I just reimplemented the attach API of OpenJ9 for a library when no JDK is available. In the process, I realized that by adding the global namespace, it is no longer possible to attach to a JVM of an older version. That is really unfortunate since the attach API was always backwards compatible.

Was this breakage an oversight or is this an implicit behavior?

[2019-07-12 21:47] urisimchoni opened #6450 "Native method prefixing undone by JIT for library methods"
This has been observed for at least sun.misc.unsafe.compareAndSwapInt, as used by AtomicInteger, in OpenJ9 .

We've implemented wrapping of sun.misc.unsafe.compareAndSwapInt() using native method prefixing technique (cf. https://docs.oracle.com/javase/8/docs/platform/jvmti/jvmti.html#SetNativeMethodPrefix). The purpose is to instrument this function, so the result is to call an agent whenever comp

[2019-07-12 22:15] fjeremic commented on #6449
This does not seem surprising given the default heap size (`-Xmx` value) for Java 8 is 512 MB [1]. The problem should go away if you explicitly give the JVM more heap memory. Curious do you know what the default is for Oracle?

[1] https://www.eclipse.org/openj9/docs/openj9_defaults/

[2019-07-12 22:29] fjeremic commented on #6450
Are you able to provide us with a minimal reproduction of the issue? Judging from the description we should be reporting the call to the wrapper, even if we inline the CAS intrinsic (which will always be done if we see such a call during compilation).

[2019-07-12 23:38] 0xdaryl opened #6451 "Support profiled inlining on AArch64"
The AArch64 JIT needs to enable the CodeGenerator feature `SupportsProfiledInlining`.  This issue will track the work to figure out what the requirements are and to complete the work on AArch64.

[2019-07-12 23:39] 0xdaryl commented on #6451
@knn-k fyi

[2019-07-12 23:40] 0xdaryl opened #6452 "Support profiled inlining on ARM32"
The ARM32 JIT needs to enable the CodeGenerator feature `SupportsProfiledInlining`.  This issue will track the work to figure out what the requirements are and to complete the work on ARM32.

[2019-07-12 23:41] 0xdaryl commented on #5455
CodeGenerator `SupportsProfiledInlining`.  Currently enabled for X,P,Z.  AArch64 (#6451) and ARM32 (#6452).

[2019-07-12 23:41] 0xdaryl commented on #6452
@knn-k fyi

[2019-07-12 23:44] 0xdaryl opened #6453 "Support AutoSIMD on AArch64"
The AArch64 JIT needs to enable the CodeGenerator feature `SupportsAutoSIMD`. This issue will track the work to ensure what the requirements are and to complete any work on AArch64.

[2019-07-12 23:44] 0xdaryl opened #6454 "Support AutoSIMD on ARM32"
The ARM32 JIT needs to enable the CodeGenerator feature `AutoSIMD`. This issue will track the work to ensure what the requirements are and to complete any work on ARM32.

[2019-07-12 23:45] 0xdaryl commented on #6454
@knn-k fyi

[2019-07-12 23:46] 0xdaryl commented on #5455
CodeGenerator `SupportsAutoSIMD`.  Currently enabled on X,P,Z.  AArch64 (#6453) and ARM32 (#6454).

[2019-07-13 00:15] gita-omr commented on #5455
Please note that autoSIMD is supported only to the degree vector opcodes implemented in a particular codegen. Optimizer attempts to vectorize a loop and then asks codegen if particular opcode has vector version (there is a codegen method for that, takes opcode as a parameter). I am pretty sure only x,z,p have some number of opcodes that are supported.

[2019-07-13 08:34] Ealrann commented on #6446
Thank you very much 👍 !

[2019-07-13 08:34] #6446 closed

[2019-07-13 11:55] non-conformances-research commented on #6449
It is dynamically allocated: _"The default value is chosen at runtime based on system configuration"_ (https://docs.oracle.com/javase/8/docs/technotes/tools/unix/java.html).

[2019-07-13 17:33] urisimchoni commented on #6450
[wrapdemo.tar.gz](https://github.com/eclipse/openj9/files/3389043/wrapdemo.tar.gz)

To reproduce (native agent is x86-64 Linux):
Download and untar wrapdemo.tar.gz - it contains two .java files and a native agent binary.
From within the directory containing the files:
`
javac Hello.java Callbacks.java
java -Xbootclasspath/p:./ -agentpath:./libNativeAgent.so Hello
`
The expected result is for two n

[2019-07-13 18:32] DanHeidinga opened #6455 "AttachAPI backwards compatibility broken?"
@pdbain-ibm Hey Peter, I just reimplemented the attach API of OpenJ9 for a library when no JDK is available. In the process, I realized that by adding the global namespace, it is no longer possible to attach to a JVM of an older version. That is really unfortunate since the attach API was always backwards compatible.

Was this breakage an oversight or is this an implicit behavior?

_Originally pos

[2019-07-13 18:36] DanHeidinga commented on #6455
FYI @pshipton @pdbain-ibm @JasonFengJ9

Can someone point me at the fallback code for this?  I can't find it now but remember discussing that there should either be an option to fallback to local semaphore or the VM should check the advertisement file to figure out which version of semaphore to use so that new VMs could still talk to old.

Hopefully, I've overlooked the code for that.  Any help wo

[2019-07-13 18:46] DanHeidinga commented on #5526
Closing as this has been dormant for a while

[2019-07-13 18:46] #5526 closed

[2019-07-13 18:54] DanHeidinga commented on #6449
For Java 11+, OpenJ9 behaves more like Hotspot in how it picks default heap sizes.  The Java 8 size is due to history

[2019-07-13 18:59] DanHeidinga commented on #6455
Here's a link to the PR that made the change and the comment that indicates:

https://github.com/eclipse/openj9/pull/5613#issuecomment-493475328

[2019-07-14 13:39] apaj commented on #5058
Hello @ChengJin01 ,

thank you so much for responding and being willing to share. My current work on this topic is for testing, but I am working for a company, so I guess it qualifies as commercial work. However, we don't do changes to this level of software, so no proprietary IP would come of this, i.e. everything would remain open source - if that helps. If it does, address is aleksandar [dot] p

[2019-07-15 13:33] vijaysun-omr commented on #6442
I'm not sure the flag does in fact need to reside in the code generator object. If you look at the logic for the feature in question, the "refining" of alias sets happens by walking the final trees in the method. As a result the code to perform this walk might have been done as part of (or close to when) the lowerTrees pass. lowerTrees was a routine in the code generator and so the rationale for p

[2019-07-15 13:49] 0xdaryl commented on #6442
@vijaysun-omr, if refined aliases happens late in the optimizer (or even lower trees), who consumes the aliasing information?  Perhaps this is getting more to @fjeremic's question above.

[2019-07-15 13:54] vijaysun-omr commented on #6442
I believe refining of alias information done at that last stage is persisted past the end of the compilation. i.e. a later compilation that sees a call to a method M whose IL trees were peeked when M was being compiled would have access to the refined aliases.

For what it's worth we also used to consume aliasing in the instruction scheduler in the days when that pass was still used in the code ge

[2019-07-15 13:58] 0xdaryl commented on #6442
I wonder if there is even a need for a Code Generator flag to control this then.  Sounds like the `TR_DisableRefinedAliases` option setting should be all we need to control this.  If some architecture, for some reason, chooses not to support this then it would disable that option flag as we do in so many other places.

[2019-07-15 14:26] vijaysun-omr commented on #6442
I would agree with that direction since I don't actually believe there is any specific code generation capability that this depends on.

[2019-07-15 15:30] pdbain-ibm commented on #5533
@raphw The API should be backward compatible.  Note that there is a property the the target's advertisement file to indicate if it is using the local or global semaphore.  The attacher consults this property to determine if it should use the local or global semaphore.  I can point you at  the code if you want to update your implementation.

[2019-07-15 16:34] ChengJin01 commented on #5058
@apaj ,  the compilation steps were sent to your e-mail (please confirm once you receive that) as requested.  Let me know if anything confusing.

[2019-07-15 17:06] andrew-m-leonard opened #6462 "jtreg: BasicLayerTest.testPackageAlreadyInUnnamedModule fails"
Failure link
------------

Public link to the failing test.
If the link is not public, instead include
- test category (functionality, system, etc): openjdk
- test suite name: BasicLayerTest.testPackageAlreadyInUnnamedModule
- OS/architecture (i.e. Ubuntu 16.04 x64): Ubuntu16.04, but probably any
- OpenJDK version (i.e. 8u202-b08): jdk-11.0.4
- public build SHAs (i.e. -version output): level I tes

[2019-07-15 17:24] apaj commented on #5058
Hi @ChengJin01 ,
I confirm I received the email.
Thanks a lot, I'll dive right in and let you know how it goes.

[2019-07-15 17:41] raphw commented on #5533
You are right, I missed this. This is where the advertisement file is queried: https://github.com/eclipse/openj9/blob/8c21754c14de8020281b01cb4ee7e7a0bd57a09e/jcl/src/java.base/share/classes/com/ibm/tools/attach/target/Advertisement.java#L281

[2019-07-15 17:41] raphw commented on #6455
False alarm, here is the relevant line: https://github.com/eclipse/openj9/blob/8c21754c14de8020281b01cb4ee7e7a0bd57a09e/jcl/src/java.base/share/classes/com/ibm/tools/attach/target/Advertisement.java#L281

[2019-07-15 17:47] harryyu1994 commented on #6437
Looking into this.

[2019-07-15 20:28] janvrany commented on #5058
@apaj
Yeah, building suitable Debian RISC-V images is a painful and frustrating exercise.
You may want to have a look at https://github.com/janvrany/riscv-debian - pain and frustration forged into a set of nice scripts to prepare a working environment.

[2019-07-15 21:19] ChengJin01 commented on #5058
The investigation on the latest version of cross-toolchain shows it includes linux-headers-5.0, gcc-8.3 and glibc-2.28/2.29, which requires the target OS to support glibc-2.28/2.29 so as to run the compiled build; otherwise, it will end up with failure to find the glibc library as follows:
[code]

Given that Fedora/RISCV (stage4 image) only supports glibc_2.27 for now,  we still stick to use the b

[2019-07-15 21:27] apaj commented on #5058
Thanks @janvrany for sharing!

However, just before I set out on that adventure, @ChengJin01 was kind enough to provide some how-to for cross-compilation and... it worked:

[code]

This is only to confirm that I've managed to built it and roll it in my Fedora RISCV. I will try some more applications in the following days.

Thanks @ChengJin01 , thanks @janvrany and everyone else.

[2019-07-16 02:51] smlambert opened #6466 "sanity.openjdk: java/net/URL/JarHandlerPkgPrefix/JarHandlerPkgPrefix.java failure"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac/6/testReport/java_net_URL_JarHandlerPkgPrefix_JarHandlerPkgPrefix/java/JarHandlerPkgPrefix/

Public link to the failing test.
If the link is not public, instead include
- test category (functionality, system, etc): openjdk
- test suite name: jdk_net
- OS/architecture (i.e. Ubuntu

[2019-07-16 03:37] smlambert opened #6467 "sanity.openjdk: 3 new java/lang/String/CompactString timeout failures"
3 tests timeout:
java/lang/String/CompactString/Numbers.java
java/lang/String/CompactString/RegionMatches.java
java/lang/String/CompactString/SubString.java

Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux/7/testReport/

Public link to the failing test.
If the link is not public, instead include
- test category (functionalit

[2019-07-16 03:40] smlambert opened #6468 "sanity.openjdk: java_math_BigInteger_BigIntegerTest/java/BigIntegerTest fails"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows/6/testReport/java_math_BigInteger_BigIntegerTest/java/BigIntegerTest/

Different failure output than https://github.com/eclipse/openj9/issues/6139

Public link to the failing test.
If the link is not public, instead include
- test category (functionality, system, etc): openjd

[2019-07-16 10:42] SueChaplain commented on #4488
Although this is showing as closed in the 0.16 milestone, the docs were updated for 0.15.0. Issue still applied to that release, nothing more to do here for docs.

[2019-07-16 13:00] AdamBrousseau commented on #5276
Note: Adopt has Dockerfiles for OpenJ9 as well (which are out of date) for JDK8-10
https://github.com/AdoptOpenJDK/openjdk-build/blob/master/docker/jdk8/x86_64/ubuntu/Dockerfile-openj9

[2019-07-16 13:45] JamesKingdon commented on #6428
Pretty sure when I was testing the ticks accumulated in the scorching compile. I only logged the scorching compiles.

[2019-07-16 14:38] pshipton opened #6472 "Test_openjdk11_j9_sanity.functional_x86-64_linux TestMemoryMXBean crash vmState=0x00040000"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly/92
No artifacts captured.
[code]

[2019-07-16 14:44] mpirvu opened #6473 "Update Dockerfiles for building JITServer to statically link protobuf"
Recently we started to statically link the protobuf library, so we should update the corresponding Dockerfiles. This should result in smaller image sizes because we don't have to copy the large protobuf dynamic library inside the container.

[2019-07-16 14:48] pshipton opened #6474 "Test_openjdk8_j9_sanity.system_x86-64_linux MathLoadTest_bigdecimal_0 crash libj9vm29.so vmState=0x00000000"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/97
[code]

[2019-07-16 14:53] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly/97
cmdLineTester_loopReduction_0
[code]

[2019-07-16 14:54] pshipton commented on #6361
@andrewcraik @dsouzai Can somebody look at this failure please.

[2019-07-16 14:58] pshipton opened #6475 "Test_openjdk8_j9_sanity.system_x86-64_linux_xl LambdaLoadTest_ConcurrentScavenge_0 OOM"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_xl_Nightly/98
[code]

[2019-07-16 15:01] smlambert commented on #6361
I see another problem in the output of that run:

00:40:53  	at com.ibm.oti.jvmtests.GetNanoTimeAdjustment.test_LowerBound(GetNanoTimeAdjustment.java:139)
00:40:53  	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
00:40:53  	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
00:40:53  	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodA

[2019-07-16 15:27] pshipton commented on #6455
I assume this can be closed, now the relevant code has been found.

[2019-07-16 15:27] #6455 closed

[2019-07-16 15:29] pshipton commented on #6475
`1TISIGINFO     Dump Event "systhrow" (00040000) Detail "java/lang/OutOfMemoryError" "Java heap space" received `

@amicic can somebody take a look at this please.

[2019-07-16 15:31] dsouzai commented on #6361
[code]
Why is this flagged as a JIT issue? Is there a good and bad build wherein there are only JIT changes? https://github.com/eclipse/openj9/issues/6361#issuecomment-508929509 has two different ranges, both of which only affect aarch64.

[2019-07-16 15:44] dchopra001 opened #6476 "Relocation record printing error"
While printing relocation records during tracing, we dump some records incorrectly. For example, in the printout below:
[code]

Notice that the offsets on line 1021 and 1023 are incorrect. Instead of printing the offsets, we end up printing the entire relocation record. Here is a snippet of the code that prints this:
https://github.com/eclipse/openj9/blob/dbc3c1755e38a8e828ab7bfefaabc5fe946ee5e9/r

[2019-07-16 15:45] dchopra001 commented on #6476
@dsouzai FYI

[2019-07-16 15:47] gacholio commented on #6474
Looking at the contents of RSP, it appears there's a JIT return address there:

(gdb) x/20gx 0x0000000000C3B878
0xc3b878:	0x00007f5ae029b281	0x00000000e05ea1b8
(gdb) x/20i 0x00007f5ae029b281-5
   0x7f5ae029b27c:	callq  0x7f5ae02c3c1b
   0x7f5ae029b281:	jmp    0x7f5ae029b289

J9JITExceptionTable at 0x00007F5ADCBE2578 {
    struct J9UTF8* className = !j9utf8 0x00007F5AA5670B80   // java/util/regex/P

[2019-07-16 15:49] mpirvu opened #6477 "Allow IPv6 connections in JITServer"
Current communication code for JITServer supports only IPv4.
While IBM Cloud Private does not support IPv6 either, RedHat openshift supports IPv6 and therefore we should add support for it as well.

[2019-07-16 15:50] gacholio commented on #6474
The crashing address is suspiciously similar to the called address:

0x00007F5ADF2C3C1B (crash)
0x00007F5AE02C3C1B (call)

Wondering if this is a patching issue (the call takes place before the instruction has been fully patched).

[2019-07-16 15:54] gacholio commented on #6474
0x7f5ae029b27c:	0xe8	0x9a	0x89	0x02	0x00

That's the call instruction.

[2019-07-16 15:55] ymanton commented on #6476
It looks like for both the cases you pointed out and some others we're passing the wrong pointer to the function that prints the offsets:

[code]

Looks like `cursor` points to the start of the record, where as we should be passing `startOfOffsets`.

[2019-07-16 16:11] llxia opened #6478 "Enable special.system on ppcle"
We would like to enable `special.system` test build on ppcle only in [openj9 nightly build](https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All/)

Once ppcle is green, we can enable other platforms.

[2019-07-16 16:14] dchopra001 opened #6479 "TR_MethodObject is relocated incorrectly"
While emitting a `J9CallSnippet`, it is possible that we end up in this corner case and add a `TR_MethodObject` relocation record:
https://github.com/eclipse/openj9/blob/efe832a24443e98ce83632bee671884a949f5e1c/runtime/compiler/z/codegen/S390J9CallSnippet.cpp#L377-L378

This situation can occur if we are doing an AOT or remote compile and we are emitting code for a direct call. During relocation,

[2019-07-16 16:15] dchopra001 commented on #6479
@dsouzai @ymanton FYI

[2019-07-16 16:59] gacholio commented on #6474
@andrewcraik Not sure who works on X these days.

[2019-07-16 17:35] pshipton commented on #6361
@dsouzai it is an intermittent problem, the first occurrence of the failure probably didn't line up with the change that caused the problem. Given the problem is intermittent, I'm guessing the problem is JIT/AOT related.

[2019-07-16 17:39] dsouzai commented on #6361
There's nothing to suggest this is JIT/AOT though. If anything, this seems like a `comp:build` or `comp:test` issue given

[code]

[2019-07-16 17:41] pdbain-ibm opened #6482 "getDependencies.pl has hard-coded build number for asmtools.jar"
TestConfig/scripts/tools/getDependencies.pl:
[code]
Build 107 no longer exists.

Note that this affects designer testing.

Please update to a newer version and adjust the SHA accordingly.
As this issue is likely to recur, can we use a more durable reference to `asmtools.jar`?

[2019-07-16 17:48] pdbain-ibm commented on #6462
Will investigate.

[2019-07-16 17:49] pshipton commented on #6482
See also https://github.com/eclipse/openj9/pull/6469

[2019-07-16 17:50] pshipton commented on #6361
Intermittent problems like this are almost always the JIT.

[2019-07-16 17:55] pshipton commented on #6467
@fjeremic fyi

[2019-07-16 18:02] smlambert commented on #6361
Am assuming that despite the success and failure conditions being met, the test is marked as Failed because of the Errors:
14:40:31   [ERR] MessageDigest load - Native crypto library disabled.
14:40:31   [ERR] CipherCore Load - using native crypto library.

which I believe that is the behaviour one should expect from the cmdlinetester framework

[2019-07-16 18:10] dsouzai commented on #6361
I don't see how this is a valid criteria for saying something is a JIT problem. It removes any sense of shared responsibility of the code base and puts all the onus on the JIT to always prove that it isn't at fault. That said, given, as you say, the tendency of JIT bugs to cause intermittent failures, I'd be more sympathetic if this problem occurred during the execution of the JVM. But to suggest

[2019-07-16 18:11] pshipton commented on #6361
Note `[ERR]` in this case means the output was written to stderr. There are no "errors", just messages being printed and then interpreted by the cmdlinetester.

[2019-07-16 18:12] pdbain-ibm commented on #2226
@JasonFengJ9 I think we can close this thanks to your work, right?
FYI @pshipton

[2019-07-16 18:12] pshipton commented on #6361
The problem occurs when running the cmdlinetester Java application, using the JVM. I'm not sure what you mean.

[2019-07-16 18:18] dsouzai commented on #6361
[code]

It runs the command `/Users/jenkins/workspace/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR/openjdkbinary/j2sdk-image/jre/bin/java -Xcompressedrefs  -Djdk.nativeCryptoTrace=true -cp "/Users/jenkins/workspace/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR/openjdk-tests/TestConfig/scripts/testKitGen/../../../../jvmtest/functional/cmdLineTests/openssl/"openssltest.jar org.openj9.test.o

[2019-07-16 18:23] pshipton commented on #2226
@pdbain-ibm the problem was fixed via https://github.com/eclipse/openj9/pull/6263, but no automated test cases were added.

[2019-07-16 18:41] pshipton commented on #6361
There is still some Java code involved here. https://github.com/eclipse/openj9/blob/1c80abff8e9b63a6d8ad6ef224d3bb893e33a842/test/functional/cmdline_options_tester/src/MainTester.java#L111

Anyway I've started some grinders and we'll see what we can figure out from that before proceeding.
3x on a 0.15 release build: https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/448
3x on the last nightl

[2019-07-16 19:09] vsebe opened #6486 "Unsupported legacy AIX XL #pragma mc_func and #pragma reg_killed_by by xlclang/xlclang++"
[code]

[2019-07-16 19:10] vsebe commented on #6486
@gita-omr @pshipton @DanHeidinga fyi

[2019-07-16 19:34] pshipton commented on #6486
@gita-omr this is high priority to get resolved for the Java 13 / 0.16 release in Sept.

[2019-07-16 19:36] amicic commented on #6475
I was eventually able to reproduce in local environment. It's due to excessive GC. Will investigate further.

[2019-07-16 19:49] smlambert opened #6488 "Port testkitgen to Java"
Previous discussions and a [draft PR from @fjeremic](https://github.com/eclipse/openj9/pull/6065) have prompted this issue to be expedited.

We will port the features and functionality of testkitgen (currently written in Perl) to Java.  This work will be delivered in phases, the first phase focussing on the following:
- remove dependency on 2 non-core Perl modules used by testkitgen to simplify pr

[2019-07-16 19:49] smlambert commented on #6488
FYI @renfeiw

[2019-07-16 19:55] pshipton commented on #6449
See also https://github.com/eclipse/openj9/issues/3475

[2019-07-16 20:20] gita-omr commented on #6486
@pshipton ok, we'll start talking to xlclang people then...

[2019-07-16 20:26] gita-omr commented on #6486
On the second thought, probably we will need to try whatever we do for gcc...

[2019-07-16 21:21] pshipton commented on #6361
@smlambert for some reason the grinder isn't passing all the sanity.functionality testing, there are 4 failures, not sure why.

[2019-07-16 21:51] smlambert commented on #6361
I do not see any failures in the 3x grinder links you shared (450/451), can you share a link to the grinders that reported problems?

[2019-07-16 22:31] pshipton commented on #6361
@smlambert ok sorry, I must have been looking at old links by accident, please ignore.

[2019-07-16 22:40] smlambert commented on #6361
happy to ignore for now ;)

[2019-07-16 22:46] pshipton commented on #6361
Actually the failures are there in the 450 grinder, but the problem is that I used the test material from master in order to test the 0.15 branch. I thought the failures were in both runs.

[2019-07-17 03:15] XiaojuanChen opened #6496 "Miss a "# END NON-TRANSLATABLE" comment in ..\runtime\nls\cfre\cfrerr.nls"
PII information:
..\runtime\nls\cfre\cfrerr.nls
J9NLS_CFR_ERR_PREVIEW_VERSION=Class file is a preview version but has the wrong major version or preview is not enabled.

The above string need be translated. It missed a "# END NON-TRANSLATABLE" comment before J9NLS_CFR_ERR_PREVIEW_VERSION key. Please help to check this English source file and update it.

[2019-07-17 03:17] XiaojuanChen commented on #6496
@Peter_Shipton@ca.ibm.com Could you help to fix this issue? Thanks!

[2019-07-17 12:05] #6496 closed

[2019-07-17 12:30] pshipton opened #6498 "Test_openjdk11_j9_extended.functional_x86-64_linux (+xl) threadMXBeanTestSuite1 SAXParseException"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/94
[code]

[2019-07-17 12:35] pshipton commented on #6361
6x grinders, on the same JVMs as above:
0.15 release: https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/452
day old head stream build: https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/453 - 1 failure

[2019-07-17 12:38] pshipton commented on #5153
See also the failures in https://github.com/eclipse/openj9/issues/6362

[2019-07-17 12:38] pshipton commented on #6362
Ya, I'll close this.

[2019-07-17 12:38] #6362 closed

[2019-07-17 12:38] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_mac_Nightly/92
cmdLineTester_jvmtitests_8
[code]

[2019-07-17 12:57] smithwil opened #6499 "Metronome gc policy does not start up on AIX"
Metronome gc policy does not start up on AIX.

[code]

[2019-07-17 13:59] pdbain-ibm commented on #5164
We plan to do this in several steps:
1. create `jcmd` which adds the basic capabilities of the tool such as help and listing VMs, plus supporting the capabilities of `jstack` and `jmap` (which were designed to be jcmd-compatible).  Omit certain features of `jcmd`, such as handling vmid=0, selecting VMs by main class, or reading commands from a file
2. Add high-priority new features, especially var

[2019-07-17 14:07] renfeiw commented on #6488
I will work on it.

[2019-07-17 14:56] pshipton commented on #6449
I don't think this needs to remain open. The problem has been identified and #3475 remains open to consider changing the defaults in the future.

[2019-07-17 14:56] #6449 closed

[2019-07-17 15:02] amicic commented on #6499
@LinHu2016 Please, investigate

[2019-07-17 15:43] pshipton commented on #6499
There is information below about changing "the user account to allow access to high-resolution timers", and "Set the AIXTHREAD_HRT environment variable to true". @smithwil have these instructions been followed?

https://www.ibm.com/support/knowledgecenter/SSYKE2_8.0.0/com.ibm.java.vm.80.doc/docs/mm_gc_mgc_config_aix.html

[2019-07-17 16:22] smithwil commented on #6499
Thanks, @pshipton that explains it. The user account setup will not have been done on the system where I was testing.

[2019-07-17 16:27] LinHu2016 commented on #6499
I have tried to test it on a few of AIX machines locally (2 AIX 7.2s, 1 AIX 7.1 and 2 AIX 6.1s), I can not reproduce the issue, also I did try to unset AIXTHREAD_HRT or set AIXTHREAD_HRT to false, it did not affect the results.

[2019-07-17 17:58] gita-omr commented on #6486
@zl-wang FYI

[2019-07-17 18:18] #6499 closed

[2019-07-17 18:25] keithc-ca commented on #6231
This turned out to be a problem with `ddrgen`: see eclipse/omr#4142.

[2019-07-17 18:27] fjeremic commented on #6467
Grinder links are dead already. Do we recall what the result was? Was this only reproducible on the original failing machine?

[2019-07-17 18:42] fjeremic commented on #6226
@mpirvu now that JITServer is a thing shall we deprecate `jitaas` and rename to `comp:jitserver` to stay consistent?

[2019-07-17 19:10] pdbain-ibm commented on #6462
The test fails if we add a redundant package to a named module, but not the unnamed module.

[2019-07-17 19:27] harryyu1994 opened #6507 "Improve JITServer varHandleMethodTypeTableEntryAddress remote calls"
Currently `varHandleMethodTypeTableEntryAddress` is made into a remote call to the client, and client sends back the final result to the server. We could potentially have the server do all the calculations and eliminate the remote call.

Also we could make `varHandleMethodTypeTableEntryAddress` and `isUnresolvedVarHandleMethodTypeTableEntry` into one remote call instead of two.
May also apply to o

[2019-07-17 19:31] mpirvu commented on #6226
yeah, `comp:jitserver` sounds like a a good idea

[2019-07-17 20:51] pshipton commented on #6361
I'll run more grinders when the 0.15 release is done.

[2019-07-17 20:54] pshipton commented on #6498
This occurrence happened before the one above.
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_OpenJDK13/15
threadMXBeanTestSuite1_6
[code]

[2019-07-17 20:59] pshipton commented on #6472
Analysis was done on a similar failure that occurred internally, where a core file was captured. @hangshao0 determined the following:

So the racing condition is
Thread 1: Cache is soft full, we set readOnly to true at https://github.com/eclipse/openj9/blob/master/runtime/shared_common/SCImplementedAPI.cpp#L92. ReadWrite area is not unprotected
Thread 2: Increase soft max and unset J9AVLTREE_DISAB

[2019-07-17 21:03] #6411 closed

[2019-07-17 21:04] #5918 closed

[2019-07-17 21:35] ChengJin01 commented on #5058
As mentioned previously, the main issue with the native `awt `library is that the java code there loads the `awt `library (doesn't exist in the cross-build) so as to call the native method `initIDs`(), which is irrelevant to AWT GUI operation.

To simplify the work in native compilation, I will first explore to only add/modify a small piece of related code & script (e.g.  `initIDs`() in `src/java.

[2019-07-17 21:37] pshipton opened #6509 "New Java 13 String methods"
The following new Java 13 String methods need implementations.

String formatted(java.lang.Object...)
String stripIndent()
String translateEscapes()

http://cr.openjdk.java.net/~iris/se/13/build/latest/api/java.base/java/lang/String.html

[2019-07-18 00:18] smlambert commented on #6467
I vaguely recall it was not reproducible.  I can relaunch grinder after release finishes this week.

[2019-07-18 02:15] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Personal/55
[code]

[2019-07-18 02:22] pshipton commented on #6238
[code]

[2019-07-18 02:23] pshipton commented on #6238
Seems like a dup of #4005

[2019-07-18 02:25] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_Release/5
This is a 0.15 build.

[2019-07-18 05:27] DanHeidinga commented on #6509
Note, these methods need to be marked as `@Deprecated` for removal as they relate to a preview feature.

[2019-07-18 11:11] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_xl_OpenJDK13/17
threadMXBeanTestSuite1_5

[2019-07-18 11:14] pshipton opened #6511 "extended.system HCRLateAttachWorkload_0 crash vmState=0x000535ff"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_xl_Nightly/94
[code]

[2019-07-18 11:15] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/95
threadMXBeanTestSuite1_5

[2019-07-18 11:17] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/100
threadMXBeanTestSuite1_6

[2019-07-18 11:20] pshipton opened #6512 "win2012r2-x86-4 / ub16p8j95 disabled"
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.system_x86-64_windows_Nightly/96
[code]

[2019-07-18 11:20] pshipton commented on #6512
@jdekonin @AdamBrousseau

[2019-07-18 11:59] AdamBrousseau commented on #6512
`java.lang.NoClassDefFoundError: org.kohsuke.stapler.Stapler (initialization failure)`
Same as #6167 . Rebooted resolved last time.

[2019-07-18 12:35] JamesKingdon commented on #6511
Crash during compilation should have produced a meaningful jitdump but all we have is

[code]

[2019-07-18 12:41] JamesKingdon commented on #6511
Crash happened in getOriginalROMMethodUnchecked during StringPeepholes:

[code]

[2019-07-18 12:44] JamesKingdon commented on #6511
Crashed dereferencing null passed in rdi

[2019-07-18 13:24] youurayy commented on #4655
Big fan of AdoptOpenJdk+Open9 but not being able to take ad-hoc local heap dumps (w/o firewall piercing etc.) on live/uat systems is a massive wall hit.

[2019-07-18 13:36] pdbain-ibm commented on #4655
We're working on it.  Part 1 (basic jcmd framework, but no dump support yet) just went in for review.  As soon as that is merged, I'll get on the dump support.

[2019-07-18 14:01] fjeremic commented on #6509
Also a note to whoever picks this issue up to take a look at StringUTF16 and StringLatin1 to see if there are helpers already implemented there which we can make use of.

[2019-07-18 14:19] #6473 closed

[2019-07-18 14:20] #6437 closed

[2019-07-18 14:35] mpirvu opened #6515 "Increased number of ResolvedMethod_getDeclaringClassFromFieldOrStatic messages"
After master has been merged into jitaas branch I observed that the number of `ResolvedMethod_getDeclaringClassFromFieldOrStatic` has increased 10 times which has led to an increase of the CPU consumption at the client. This is probably due to some new code path that was introduced in the mainline and we need to investigate ways of reducing the number of these extra messages.

[2019-07-18 14:55] pshipton commented on #6512
Same problem with https://ci.eclipse.org/openj9/computer/ub16p8j95/

[2019-07-18 14:59] dsouzai commented on #6511
Thanks for the stack trace @JamesKingdon , super helpful :).

My guess is, in `OMR::SymbolReferenceTable::methodSymRefFromName`:
[code]
`fe()->getMethodFromName` returns NULL; it's possible for this to happen in AOT.

I might be able to provide a bandaid fix for this, namely, before performing the String Peepholes opt, we ensure we can remember the three classes the opt cares about (java/lang/Stri

[2019-07-18 15:12] pshipton commented on #6361
6x, same JVMs
0.15: https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/457

[2019-07-18 16:04] pshipton commented on #6512
I'm wondering if there is anything we can do to automatically detect these types of problems and disable the machine. What happens is that one machine goes bad, all the pending jobs try to run on it, and everything fails. Then it's up to somebody to disable the bad machine and manually restart all the failed jobs. If the problem isn't seen until the morning, all the overnight testing time has been

[2019-07-18 18:17] pshipton commented on #4655
@youurayy note you can create ad-hoc heap dumps already.

- run with `-Xdump:heap:events=user`
- `kill -QUIT <pid>` will cause the heap dump to be created. As well as a javacore dump since this is the default, unless another option is used to turn it off

[2019-07-18 18:29] tajila commented on #6509
@fengxue-IS Can you please take a look at this.

[2019-07-18 18:30] tajila commented on #6509
Both `StringUTF16` and `StringLatin1` implement `stripIndent()`.

[2019-07-18 18:36] youurayy commented on #4655
Good to know, thanks. Also I think programmatically thru `OpenJ9DiagnosticsMXBean`. Still, nice to have the current tooling working w/o changes. Thanks for your work on this.

[2019-07-18 19:10] pdbain-ibm opened #6521 "Add missing jcmd options"
Add:
- `-f`: read commands from a file
- select VMs by main class instead of VMID
- select all VMs if VMID==0

This is part of https://github.com/eclipse/openj9/issues/5164

[2019-07-18 19:10] tajila commented on #6509
For `String::formatted(java.lang.Object...)` you can use `String::format` as a helper

[2019-07-18 19:17] bjhargrave opened #6522 "NullPointerException in com.ibm.oti.vm.BootstrapClassLoader.getPackages running tests under Gradle"
Java -version output
--------------------

[code]

Summary of problem
------------------

Test execution under gradle fails with

[code]

See the `Build` step of the`OpenJ9` job at https://dev.azure.com/bndtools/bnd/_build/results?buildId=1418&view=logs.

[2019-07-18 19:21] fengxue-IS commented on #6509
looking into this

[2019-07-18 19:54] gacholio opened #6525 "Improve error message for illegal final field writes"
See #6517 for details.

[2019-07-18 19:56] gacholio commented on #6525
I suggest that in the final field case for IllegalAccessError in resolvesupport.cpp, pass the "final" modifier in to the error message creation code instead of "private". This will allow us to distinguish the particular case and output a better message.

[2019-07-18 23:32] jkjsjsjsjy commented on #6080
good

[2019-07-18 23:48] pshipton opened #6531 "Java 14 ant failing to compile test material"
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/52/
Example https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.functional_s390x_linux_OpenJDK/20
[code]

[2019-07-18 23:50] pshipton commented on #6531
@smlambert @llxia fyi
The build has been disabled since June 27 since the tests didn't pass. Obviously something has changed been then and now to cause this.

[2019-07-19 01:57] Byronze commented on #5875
I have tried your way to build the jdk with Ubuntu 16.04, titan V ,nvidia-430 and cuda-9.1, the Math.sortArray is worked as you do, but the JIT GPU cannot work。
my example is gemm:
IntStream.range(0, N * N).parallel().forEach(idx -> {
                        int i = idx / N, j = idx % N;
                        int s = 0;
                        for (int k = 0; k < N; k++) {

[2019-07-19 03:26] pshipton commented on #5875
@gita-omr

[2019-07-19 03:48] gita-omr commented on #5875
JIT-based GPU support is not enabled in openj9 yet. Interestingly, we are working on it right at this moment and hoping to open a PR very soon.

[2019-07-19 05:31] Byronze commented on #5875
emmmm...thanks

[2019-07-19 11:34] pshipton commented on #6239
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_mac_OpenJDK13/19
osx1011-x86-1

[2019-07-19 11:39] pshipton opened #6535 "Test_openjdk8_j9_sanity.functional_ppc64_aix jsigjnitest_0 Failed to initialize redirector"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_Nightly/93
aix71-p8-4
[code]

[2019-07-19 11:40] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/101
threadMXBeanTestSuite1_6

[2019-07-19 11:58] gita-omr commented on #5875
It’s actually there, we just need to provide instructions how to build it. Similar to arraySort support, AdoptOpenJDK does not build with GPU enabled. We will provide build instructions and documentation soon.

[2019-07-19 12:52] M-Davies commented on #5274
After running a few test jobs, I've found this issue to be fixed for openjdk_x86-64_osx and openjdk_x86-64_linux but it appears that openjdk_x86-64_windows is still causing problems

https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder_Advanced/348/consoleText

The error is also different to the last issue, now throwing a | AttachNotSupportedException |

[2019-07-19 13:09] smlambert commented on #5274
@M-Davies - thanks for looking at this!  Can I ask that you paste the relevant piece of consoleText into issues, as the Grinder jobs are transient (history is not kept long on Jenkins) and the hyc-runtimes server is internal (not accessible to developers outside of Runtimes).

[2019-07-19 13:29] M-Davies commented on #5274
Of course. My apologies
[code]

[2019-07-19 15:34] gita-omr commented on #5875
@Byronze You can also try IBM JDK from https://developer.ibm.com/javasdk/downloads/

All GPU support is enabled there.

[2019-07-20 18:23] oneturkmen opened #6537 "`make test` getdependency target fails"
Trying to compile and run all the tests via `make test`, the process fails:

makefile:76: recipe for target 'getdependency' failed
make: *** [getdependency] Error 8

The file does not seem to exist anymore on the URL link above. Any way to resolve this?

OS: Ubuntu 18.04
JDK version: 8

Thanks!

[2019-07-21 19:43] 0xdaryl opened #6538 "Enable EDO for AArch64"
Implement EDO support in catch blocks for AArch64.  See #6426 for placeholder.

[2019-07-21 19:53] 0xdaryl commented on #5455
Exception Directed Optimization (EDO).  AArch64 (#6538 )

[2019-07-21 20:21] 0xdaryl opened #6540 "Enable EDO for ARM"
Implement EDO support in catch blocks for ARM 32.

[2019-07-22 02:15] Byronze commented on #5875
@gita-omr I think tornado's GPU support for users is better..I'd like to see your build instructions and documentation

[2019-07-22 11:43] DanHeidinga commented on #6537
fyi @llxia  @smlambert

[2019-07-22 13:26] smlambert commented on #6537
https://github.com/eclipse/openj9/pull/6469

[2019-07-22 13:29] smlambert commented on #6537
To work around this problem, you can apply the 2 line change proposed in #6469 PR to getdependencies.pl, while that will not be the final solution, it will work for your immediate needs (until asmtools is built again).

[2019-07-22 15:21] pdbain-ibm commented on #6462
When creating a named module, we add & check package names in `classLoader->packageHashTable`. Classes loaded from the classpath, i.e. in the unnamed module, are not added to this hash table.  They are, however, added to `classLoader->classHashTable`.  Augmenting `java11vmi::isPackageDefined()` to call `isAnyClassLoadedFromPackage()` (which checks `classHashTable`) if the `packageHashTable` check

[2019-07-22 16:03] llxia commented on #6531
Ran a [grinder](https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/465/) using latest test material with JDK14 from https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDKnext_s390x_linux_OpenJDK/43/OpenJ9-JDKnext-s390x_linux-20190628-023808.tar.gz

[code]

The test can be built successfully with this JDK14 (OpenJ9-JDKnext-s390x_linux-20190628-023808.tar.gz). Abo

[2019-07-22 16:32] amicic commented on #6475
Reproducibility is about 1/20.

It does not seem to Concurrent Scavenger related. I could reproduce this even with STW Scavenger  and in fact with Optthruput GC policy.

It will probably occur only in Java 8 and only with XL JVM, because heap is set to 512M and there is more stress with XL JVM.

This is not even a recent regression. It would occur even in Release 0.11 .

I suspect that the test it

[2019-07-22 16:51] gita-omr commented on #6486
@midronij @AlenBadel FYI. Let's investigate how gcc inline asm can be used instead of those pragmas.

[2019-07-22 17:05] keithc-ca commented on #5875
If accepted, AdoptOpenJDK/openjdk-build#1187 should enable CUDA for AdoptOpenJDK builds.

[2019-07-22 17:12] gita-omr commented on #5875
@ahayashi fyi

[2019-07-22 17:36] ChengJin01 commented on #5058
I managed to generated the native `awt_init `library which includes` initIDs()` of Toolkit.java & Disposer.java as follows:
[code]
The later native compilation seems working with the native library but it still fails with loading `awt `library from other java code.  Need to analyze the failures case by case.

[2019-07-22 17:37] pdbain-ibm commented on #6462
... but it breaks other tests.

[2019-07-22 18:25] oneturkmen commented on #6537
Resolved (as suggested in the comments). Thanks!

[2019-07-22 18:28] smlambert commented on #6537
Thanks @oneturkmen, glad to hear the work around helps you - I will reopen this issue until we deliver the proper solution to the master branch.

[2019-07-22 19:06] gita-omr commented on #6284
@IBMJimmyk fyi.

[2019-07-22 19:47] #6421 closed

[2019-07-22 20:40] fjeremic opened #6547 "Unknown bytecode to JIT 254 fatal assertion when attempting to inline a JNI method with a large number of arguments"
When attempting to inline a JNI method with a large number of arguments the JIT fatally asserts thinking it encountered an unknown bytecode. This is 100% deterministically reproducible on all platforms with the latest nightly builds at Adopt:

Sample.java
[code]

Sample.c
[code]

Commands to reproduce:
[code]

The demangled backtrace is:

[code]

@cathyzhyi FYI this is blocking the enablement of J

[2019-07-23 05:31] LukeButters opened #6549 "Memory corruption detected when loading a class in groovy and Xshareclasses is enabled."
Java -version output
--------------------

[code]

Summary of problem
------------------

Memory corruption when loading a class in groovy.

I am receiving this error:
[code]

The error seems to be triggered when `loadClass` is called on the groovy class loader when running: (as root if that matters)
[code]
The code run is:
[code]

The dependencies from maven are:
[code]
Output is:
[code]
Diagnost

[2019-07-23 09:21] jschmied commented on #6549
I have the same error when building anything with maven:
----------
1XECTHTYPE     Current thread history (J9VMThread:0x0000000000019A00)
3XEHSTTYPE     09:18:58:459667033 GMT omrport.359 - * ** ASSERTION FAILED ** at ../../omr/port/common/omrmemtag.c:145: ((memoryCorruptionDetected))
3XEHSTTYPE     09:18:58:459665933 GMT j9jcl.102 -  >JCL: SharedClassURLClasspathHelperImpl notifyClasspathChange:

[2019-07-23 10:00] ildar commented on #2825
Seems that the issue was finally resolved, see
https://adoptopenjdk.net/icedtea-web.html
Thanks guys!

[2019-07-23 10:06] ildar commented on #2825
Thanks, @DanHeidinga !

[2019-07-23 11:46] DanHeidinga commented on #6549
fyi @hangshao0

[2019-07-23 14:48] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly/98

[2019-07-23 14:49] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/97

[2019-07-23 14:51] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/97

[2019-07-23 14:56] pshipton opened #6552 "DaaLoadTest TestShiftsAndConvert testShiftRightNoRounding Invalid Precisions or shift amount"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-32_windows_Release/11
[code]

[2019-07-23 14:59] pshipton commented on #4747
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_Release/11
[code]

[2019-07-23 15:10] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR/194
[code]

[2019-07-23 15:15] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_Nightly/2

[2019-07-23 15:20] hangshao0 commented on #6549
The corruption is classloader->classPathEntries at this line:
https://github.com/eclipse/openj9/blob/8e63ec532c2539fdaa00207266045a7c24a8908c/runtime/jcl/common/shared.c#L1928

[2019-07-23 15:32] pshipton commented on #5764
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/98
[code]

[2019-07-23 15:35] pshipton opened #6555 "Test_openjdk13_j9_sanity.system_ppc64le_linux TestIBMJlmRemoteMemoryAuth_0 crash MethodHandle.undoCustomizationLogic"
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_ppc64le_linux_Nightly/3
[code]

[2019-07-23 15:39] gita-omr commented on #4275
@andrewcraik @fjeremic @0xdaryl : fyi

[2019-07-23 15:44] harryyu1994 commented on #6351
1. Java8 client and Java11 server, Java8 client crashes in jitted code
2. Java8 server and Java11 client, Java8 server crashes, for this particular instance, it crashed when server tries to get `declName` from `romCPBase()`.
[code]

[2019-07-23 15:48] dmitripivkine commented on #6228
Thank you @cedrichansen
So the reason for this problem is preload of libasan on centOS occupate virtual address range `8fff7000-2008fff7000` and left a very limited memory for heap allocation for Compressed Refs OpenJ9.
An attempt to allocate more memory then available moves JVM to failure path. And this takes a lot of time unfortunately until it realizes default heap size is not available and try

[2019-07-23 15:57] pshipton commented on #6511
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_Nightly/100

[2019-07-23 15:59] pshipton commented on #6239
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/99
osx1011-x86-1

@AdamBrousseau seems osx1011-x86-1 could use a reboot.

[2019-07-23 16:00] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_Nightly/101
CpMpTest_MP_0
[code]

[2019-07-23 16:01] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_xl_OpenJDK13/19

[2019-07-23 16:02] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/103

[2019-07-23 17:57] harryyu1994 commented on #6351
Java8 client and Java11 server:
[code]
Looks like we have an incorrect offset (-32), when tried with a java8 server, the offset is (-40)
[code]

[2019-07-23 18:20] pshipton commented on #5764
Not sure if this one is the same
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/104
SC_Softmx_JitAot_Linux_0
[code]

[2019-07-23 18:23] lostiniceland commented on #6140
/reopen

Unfortunately the issue is not resolved by the latest release. Still getting the same error when using preview-features

[code]

[2019-07-23 18:49] gacholio commented on #6547
There are no bytecodes for a native method. For the record, bytecode 254 is impdep1 which will never occur in a bytecode stream (though it could occur in nativeMethod->bytecodes as that represents an argument type list, not actual bytecodes).

[2019-07-23 19:21] DanHeidinga commented on #6140
Interesting. I just pulled the latest docker file and got:
[code]

Can you confirm that `docker run --rm -it adoptopenjdk/openjdk12-openj9 java -XX:-IgnoreUnrecognizedVMOptions -version` shows `build openj9-0.15.1` in the version output?

[2019-07-23 19:24] hangshao0 commented on #6549
The corrupted memory is 0x7fc02c18d300

J9MemTag at 0x7fc02c18d300 {
  Fields for J9MemTag:
        0x0: U32 eyeCatcher = 0xB7654321 (3076866849)
        0x4: U32 sumCheck = 0x834A2E02 (2202676738)
        0x8: U64 allocSize = 0x00007FC02C1FDCC0 (140463350734016)
        0x10: const U8* callSite = !j9x 0x00007FC029617B83
        0x18: struct OMRMemCategory* category = !omrmemcategory 0x00007FC0315

[2019-07-23 19:33] cathyzhyi commented on #6547
It's a bug in inliner where we should remove targets that are not inlineable (in this case the native method) before calling estimiate code size to iterate through the bytecodes.  Part of this change will fix it https://github.com/eclipse/omr/pull/4146.

[2019-07-23 19:55] pshipton commented on #5274
@pdbain-ibm @JasonFengJ9

[2019-07-23 20:13] pshipton commented on #6475
@Mesbah-Alam can you please help Aleks run the test with Hotspot.
@llxia @smlambert fyi

[2019-07-23 20:21] pshipton commented on #6531
@llxia I know it used to work
i.e. https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OpenJDK-Acceptance/50/
but it doesn't work with the latest Java 14 JVM. Now we need to figure out why.

[2019-07-23 20:32] pshipton commented on #6531
Might be related to http://hg.openjdk.java.net/jdk/jdk/rev/978350939943 - "Enforce null check for underlying I/O streams"

[2019-07-23 20:34] pshipton commented on #6531
There was at least one subsequent fix. Maybe it was just bad timing, I'll try another build.
http://hg.openjdk.java.net/jdk/jdk/rev/68deaa66130c - "Fix for JDK-8067801 breaks java/io/NegativeInitSize.java"

[2019-07-23 20:35] pshipton commented on #6531
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OpenJDK-Acceptance/53/

[2019-07-23 20:46] ChengJin01 commented on #5058
I notice that the `X11` related headers (used for `AWT`) are already excluded if `HEADLESS `is defined during compilation. So I will try to recreate the cross-build by specifying `--enable-headless-only=yes`  to avoid generating a separate native library (still keep using the original `awt ` library) intended for `initIDs()` to see whether it works to compile a native build on Fedora/RISCV.  If no

[2019-07-23 22:03] #6472 closed

[2019-07-24 03:30] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR/199

[2019-07-24 03:37] pshipton opened #6561 "Pipeline_Build_Test_JDK11_x86-64_linux Pipeline-Build-Test-Any-Platform.groovy not found"
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK11_x86-64_linux/519/
OpenJ9: 8300d8b
[code]

Last working OpenJ9: aaab6f5

[2019-07-24 03:39] pshipton commented on #6561
Also failing in OMR acceptance builds since https://ci.eclipse.org/openj9/job/Pipeline-OMR-Acceptance/1522/
OpenJ9: e3ec8ba

[2019-07-24 03:41] pshipton commented on #6561
https://github.com/eclipse/openj9/compare/aaab6f5...e3ec8ba

[2019-07-24 03:42] pshipton commented on #6561
@jdekonin @AdamBrousseau

[2019-07-24 05:29] lostiniceland commented on #6140
The version from yesterday still showed 0.14.1 so I did another pull and to suprise there was a new image. The new image 0.15.1 works.

Bad timing.

[2019-07-24 10:43] DanHeidinga commented on #6140
I'm glad it works for you now.  Thanks for trying again.

[2019-07-24 12:33] pshipton commented on #6531
It's working now, I think it was just bad timing.

[2019-07-24 12:33] #6531 closed

[2019-07-24 12:40] Mesbah-Alam commented on #6475
@amicic , What GC policy should be used while running the test on HotSpot? Or do you predict that the same issue will be reproduced on HotSpot irrespective of any GC policy used?

This test was only tagged to run on OpenJ9 only https://github.com/AdoptOpenJDK/openjdk-tests/blob/865ba275482fe6076a51730ad1451b16ea5f3314/systemtest/lambdaLoadTest/playlist.xml#L116

It uses the following GC options :

[2019-07-24 12:42] jdekonin commented on #6561
I believe this is the issue that #6343 resolves.  @vsebe can you confirm?

[2019-07-24 12:50] pshipton commented on #6561
Merged #6343, and testing in https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance/1525/

[2019-07-24 12:53] pshipton opened #6562 "openjdk11_j9_sanity.system_ppc64_aix JlinkTest_RequiredMod_0 Process T3 has timed out"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly/98
[code]

There is a `core` file in the artifacts, no other diagnostics. The core seems quite small at 1.7MB.

[2019-07-24 12:55] pshipton commented on #6555
@gita-omr fyi

[2019-07-24 12:58] pdbain-ibm commented on #5274
Two potential problems in https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/Class/GetPackageBootLoaderChildLayer.java:
1. Line 44: ` String vmid = "" + ProcessHandle.current().pid();`; The vmid is usually, but not necessarily the pid.
2. Line 45: `VirtualMachine vm = VirtualMachine.attach(vmid);`; VMs cannot attach to themselves without setting the system property

[2019-07-24 13:07] pshipton commented on #6561
The builds has progressed further so I'll tentatively close this.

[2019-07-24 13:07] #6561 closed

[2019-07-24 13:11] pshipton commented on #6552
Not sure what the BlockedExitException is about, but assigning to JIT due to the testShiftRightNoRounding failure. @andrewcraik

[2019-07-24 13:19] andrewcraik commented on #6552
@pshipton do you have a failure rate or any other background to help give this a priority?

[2019-07-24 13:27] pshipton opened #6563 "Blue Ocean doesn't work for Pipeline-OpenJDK-Acceptance"
Looking at the Blue Ocean view for https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OpenJDK-Acceptance/54/ it shows `Waiting for run to start` but looking at console output the build has progressed well beyond that.

[2019-07-24 13:27] pshipton commented on #6563
@jdekonin @AdamBrousseau

[2019-07-24 13:31] pshipton opened #6564 "Blue Ocean does give Triggered Build links for Pipeline-Build-Test-All"
When looking at the Blue Ocean view for an active https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All/ build, it shows the running platforms, but clicking on a platform doesn't show any Triggered Builds link. However the Triggered Builds link works in other builds like OMR acceptance.

[2019-07-24 13:31] pshipton commented on #6564
@jdekonin @AdamBrousseau

[2019-07-24 13:43] pdbain-ibm commented on #5164
@SueChaplain documentation issue is https://github.com/eclipse/openj9-docs/issues/333.

[2019-07-24 13:45] pdbain-ibm commented on #6126
@15838028035 do you have a reply to https://github.com/eclipse/openj9/issues/6126#issuecomment-508307250?

[2019-07-24 15:56] AdamBrousseau commented on #6239
Done

[2019-07-24 16:04] amicic commented on #6475
GC policy is irrelevant for either OpenJ9 or Hotspot, Defaults are OK.

If we see messages like (which occur approximately 1 in 4 runs)

  LT 08:42:06.503 - Completed 3.0%. Number of tests started=6

with HotSpot, that would indicate that test is somewhat broken/inconstant.

Once it occurs, and lasts for some time (10s of seconds), in OpenJ9 it may lead to OOM (due to excessive GC).  Not necessari

[2019-07-24 16:25] Mesbah-Alam commented on #6475
@amicic - thanks for the clarification.

There is no HotSpot Large Heap Linux x64 JDK8 at Adopt : https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=hotspot

Would testing with regular HotSpot Linux x64 JDK8 suffice?

[2019-07-24 16:27] amicic commented on #6475
Does not have to be Large Heap variant (which I believe could be enabled by an option, from the same VM). although Large Heap variant is more likely to cause OOM (for OpenJ9, anyway). But again, since we do not look for OOM, but for the log messages, XL or not is irrelevant.

[2019-07-24 17:02] keithc-ca commented on #6231
Closing: eclipse/omr#4142 is now merged into the openj9 branch of https://github.com/eclipse/openj9-omr.

[2019-07-24 17:02] #6231 closed

[2019-07-24 17:45] llxia commented on #6482
Please see #6567 for the immediate fix.
Close this issue. We are going to keep https://github.com/eclipse/openj9/issues/6537 open until we deliver the proper solution.

[2019-07-24 17:45] #6482 closed

[2019-07-24 18:22] harryyu1994 commented on #6351
[code]
on Java8, `J9JIT_INTERP_VTABLE_OFFSET == 352`
on Java11, `J9JIT_INTERP_VTABLE_OFFSET == 360`

[2019-07-24 18:47] pshipton commented on #6552
@andrewcraik so far it has failed once. You can grind it, or if it's seen often enough in the builds it may get assigned to a milestone plan.

[2019-07-24 18:59] #6331 closed

[2019-07-24 19:14] harryyu1994 commented on #6351
[code]

[2019-07-24 19:43] keithc-ca commented on #6254
I like your suggestion of using `%UID` and `%uid`, but changing the interpretation of `%uid` has the potential to break existing use-cases. We could add support for `%USERID` and `%userid` which would map to the user's name mapped to upper-case and lower-case, respectively. So, for a user named 'JohnDoe', we would have the following mappings:

Token | Result
:-- | :--
%uid | JohnDoe
%USERID | JOHN

[2019-07-24 20:06] Mesbah-Alam commented on #6475
Hi @amicic,

20x Grinder on Hotspot does not reproduce the issue: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder-systemtest/179/tapResults/

40x Grinder on HotSpot also does not reproduce the issue: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder-systemtest/180/tapResults/

Ran with JDK 8 with "NoOptions" mode. Is thhere any other option we could try to reproduce the issue?

[2019-07-24 20:30] pshipton opened #6573 "Promotion job failed but the failure report not posted to Slack"
https://ci.eclipse.org/openj9/job/Promote_OpenJDK/46 failed due to `error: index-pack died of signal 15` but I didn't see the failure reported to Slack. This means that promotion jobs could fail to promote, but nobody would notice.

[2019-07-24 20:30] pshipton commented on #6573
@jdekonin @AdamBrousseau

[2019-07-24 20:50] ChengJin01 commented on #5058
The awt library was generated in the cross-build with a few code/script modification as `--enable-headless-only=yes `doesn't cover all native code with `X11 `headers included.
[code]
Now go forward to the native compilation on Fedora/RISCV with this cross-build to see whether it really works this way.

[2019-07-24 21:14] AdamBrousseau commented on #6573
Interesting.
The promote is using the `build_with_slack` function but the message isn't being sent.
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy#L303
So `SLACK_CHANNEL` must not be set at that point for some reason
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/pipeline-functions.groovy#L321
[code]
I'll dig more

[2019-07-24 21:52] #6239 closed

[2019-07-24 21:52] pshipton commented on #6239
@AdamBrousseau @jdekonin is there any way to automatically reboot the machines every weekend?

[2019-07-25 00:28] amicic commented on #6475
Indeed, none of these 60 runs had that intermediate 'Completed...' message.

One difference was that OpenJ9 runs were with 6 threads and these were with only 2.

[2019-07-25 00:36] amicic commented on #6475
For clarification, I'm again showing the problematic output, but with test actually passed (occurs 1 in 4 runs with OpenJ9):

[code]

This is normal output:
[code]

Besides the extra message, one can see that it took extra 25 sec for 'bad' test (for one of six threads) to complete, which normally takes only about 1 sec.

[2019-07-25 01:01] #6130 closed

[2019-07-25 01:01] AdamBrousseau commented on #6239
The cleanup/sanitize script already reboots Windows machines. So I assume it could be extended relatively easily. Although I don't like the idea as this script is already a band-aid solution.

[2019-07-25 01:03] #6515 closed

[2019-07-25 01:23] pshipton commented on #6239
Not sure what else to do if the machines need to be rebooted periodically in order for non-truncated core files to get created. We can continue to monitor and see how often the problem occurs.

[2019-07-25 02:44] LukeButters commented on #6549
Would this be something that can be fixed in the LTS java 11?

[2019-07-25 02:57] Mesbah-Alam commented on #6475
Hi @amicic,

Here's how the test sets the number of threads it will use:

[code]
Where, cpuCount = Runtime.getRuntime().availableProcessors()

Could you please share the name of the machine on which you were able to produce the error? May be I should use the same machine for HotSpot runs too.

[2019-07-25 03:34] pshipton commented on #6549
Yes, once the fix is determined it will be fixed for Java 8, 11, 13 and later.

[2019-07-25 10:05] IvanHargreaves commented on #6254
Yes, that sounds reasonable and would work for us.

[2019-07-25 12:31] pdbain-ibm commented on #5164
FYI @pdbain

[2019-07-25 12:38] mpirvu commented on #6351
I am favoring replacing the J9JIT_INTERP_VTABLE_OFFSET macro with a `J9::VMEnv::getInterpreterVTableOffset()` query that does
[code]
This way, we are protected against future uses of `J9JIT_INTERP_VTABLE_OFFSET` in the code.

[2019-07-25 13:29] amicic commented on #6475
I was using my personal cloud (Fyre) instance, that had 8 threads.

[2019-07-25 13:51] jschmied commented on #6549
I this it's a regression in jdk-11.0.4+11_openj9-0.15.1 it was working before.

[2019-07-25 13:55] dmitry-ten opened #6579 "openjdk8_j9_sanity.functional_x86-64_linux JLM_Tests_interface_SE80_0 intermittent segfaults"
Failure link
------------
[hyc-jenkins link](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/2884/)

Optional info
-------------

- intermittent failure (yes|no): yes, failed 3/200 times.

Failure output
[code]

[2019-07-25 14:21] AdamBrousseau commented on #6512
Rebooted the windows machine to get it back in the pool. Left the ub-p machine for now in case we want to investigate.

[2019-07-25 14:38] pdbain-ibm commented on #6126
@DanHeidinga or @pshipton I suggest closing this issue.

[2019-07-25 15:12] hangshao0 commented on #6579
Do you have the latest change ? Might be the same issue as https://github.com/eclipse/openj9/issues/6472

[2019-07-25 15:24] dmitry-ten commented on #6579
I used a nightly build from yesterday. So it should have a commit that fixes #6472.
Though this does look like a similar issue, because I got it to crash locally once, and it also crashed inside string intern table.

[2019-07-25 15:37] hangshao0 commented on #6579
I see the OpenJ9 sha is 6404b5bdf from https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/2884/consoleFull.

[2019-07-25 15:48] harryyu1994 commented on #6351
Above issue resolved by #6580 .
New issue has come up:
[code]

[2019-07-25 16:39] hangshao0 commented on #6549
The overwrite happens at:
https://github.com/eclipse/openj9/blob/master/runtime/jcl/common/shared.c#L283

wrapBlockAndSetTags::headerTag is 000000001071D7A0, its size is 0, footerTag is 000000001071D7C0, its size is 0, call site: common/shared.c:244
newCacheItem is **278112000**
unwrapBlockAndCheckTags::headerTag is 000000001071D7A0 and its size is 0, footerTag is 000000001071D7C0 and its size is

[2019-07-25 17:41] zl-wang opened #6586 "Making isAssignableFrom fast-JNI"
isAssignableFrom is a significant performance factor in Hadoop/Spark/PySpark, and it is typically the case that the Class argument is check-cast before it is called. As such, the potential NPE is typically not present.  It should be made into a fast-JNI.

[2019-07-25 17:47] gacholio commented on #6586
I doubt this will be much of a win, since the native can throw NPE, so there's very little optimization to be had.

Doing this inline in the JIT as a mildly special case of checkcast would make a lot more sense.

[2019-07-25 17:50] dmitry-ten commented on #6579
Hm, I see. Then it's most likely the same bug and is fixed now.
I'll run the test with the latest build, and if it passes will close the issue.

[2019-07-25 17:54] #6126 closed

[2019-07-25 18:00] dmitry-ten commented on #6579
Oh, I see. I had an old build because the latest nightly build on adoptopenjdk was today, and before that, on July 16, for some reason. Using today's nightly build now.

[2019-07-25 18:05] gacholio commented on #6586
I'd be tempted to float the null check out into a new method so that the native never needs a stack frame. This may slow down the interpreter a bit, though from inside Class itself, we could just call the native that does not NULL check.

[2019-07-25 18:10] zl-wang commented on #6586
That is a reasonable plan forward ...

[2019-07-25 18:49] gita-omr commented on #5875
@Byronze ,re your IntStream test case above. After more careful investigation, it looks like JIT-GPU support is enabled in your build. [IBM GPU JIT] is an indication of that. Did you use **--enable-cuda --with-cuda** options?

In any case, GPU could  not happen because there is reduction statement s +=...  there. We currently do not support reductions on GPU. Please try some simple test case first

[2019-07-25 18:52] gita-omr commented on #5875
Here is also a script to run it:

#!/bin/bash -x

export LD_LIBRARY_PATH=/usr/local/cuda/nvvm/lib64:/usr/local/cuda/lib64

JAVAC="${JAVA_HOME}/bin/javac"
JFLAGS="-J-Xcompressedrefs -J-Xnojit -g"
J9_EXEC="${JAVA_HOME}/jre/bin/java"
JITFLAG="{*.runGPULambda*}(traceFull),enableGPU={details|verbose|enforce},disableAsyncCompilation,dontInline={*.runGPULambda*}"
J9_FLAGS="-Xcompressedrefs -XX:-EnableHCR

[2019-07-25 20:00] #6478 closed

[2019-07-25 21:07] dmitry-ten commented on #6579
The new build passed all 200 times, so the issue is fixed. Closing.

[2019-07-25 21:07] #6579 closed

[2019-07-26 08:19] stefan-reich opened #6593 "HotSpotDiagnosticMXBean.dumpHeap"
Hi,

I'm experimenting with OpenJ9 as a replacement for the regular JDK.

One feature I love about the normal JDK is the function HotSpotDiagnosticMXBean.dumpHeap() which allows me to inspect the Java heap programmatically and look for memory leaks.

However, OpenJ9 does not provide this method.

Any plans to add this method - or any other way to get a heap dump?

Thank you in advance.

[2019-07-26 08:36] ashu-mehra commented on #6593
I think you can achieve the same by using `OpenJ9DiagnosticsMXBean.triggerDump`. There are other similar APIs in the class which you may find useful.
Relevant links: [OpenJ9DiagnosticsMXBean javadoc](https://www.ibm.com/support/knowledgecenter/en/SSYKE2_8.0.0/com.ibm.java.api.80.doc/com.ibm.lang.management/openj9/lang/management/OpenJ9DiagnosticsMXBean.html)
Blog post on OpenJ9DiagnosticsMXBean: h

[2019-07-26 08:38] stefan-reich commented on #6593
Great! I'll test if that works.

[2019-07-26 12:01] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/106

[2019-07-26 12:01] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_xl_OpenJDK13/21

[2019-07-26 12:03] pshipton commented on #5450
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.functional_x86-64_windows_OpenJDK/21

[2019-07-26 15:08] #6593 closed

[2019-07-26 15:45] stefan-reich commented on #6593
I do have a follow-up question... I made an OpenJ9 "heap" dump, but it's not compatible with VisualVM et al. Any way to bridge this gap? Many greetings

[2019-07-26 16:07] pshipton commented on #6593
You can use https://www.eclipse.org/mat/, note you need to instal the IBM DTFJ plugin, which is a menu entry, see instructions here https://www.eclipse.org/openj9/docs/dump_heapdump/

Otherwise, you can try using the hprof agent to create the dump, as I'm guessing VisualVM reads the hprof format. https://docs.oracle.com/javase/8/docs/technotes/samples/hprof.html
OpenJ9 doesn't have built in suppor

[2019-07-26 18:06] non-conformances-research opened #6595 "ConcurrentSkipListMap.put presents nondeterministic results"
The following sample program presents different results when executed multiple times.

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u1

[2019-07-26 18:07] non-conformances-research opened #6596 "ConcurrentSkipListMap.putIfAbsent presents nondeterministic results"
The following sample program presents different results when executed multiple times.

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u1

[2019-07-26 18:08] non-conformances-research opened #6597 "ConcurrentSkipListSet.add presents nondeterministic results"
The following sample program presents different results when executed multiple times.

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u1

[2019-07-27 04:23] hzongaro commented on #6450
There is a work-in-progress pull request #6598 submitted that addresses part of this issue.  In particular, that pull request identifies methods in the Java class library that the JIT compiler ordinarily would recognize that are expected to be native.  If such a method is not actually native, the JIT compiler will not recognize the method.

However, there are also methods that are not native that

[2019-07-27 09:24] stefan-reich commented on #6593
Hmm. Is there even a chance the hprof agent would work with OpenJ9? Isn't it made for Oracle JDKs?

Yes, VisualVM reads the hprof format.

I actually have two requirements: a visual heap dump analyzer, which I'm guessing Eclipse MAT will provide.

The other requirement is a programmatic library to analyze heap dumps. I'm currently using [this tool](https://github.com/aragozin/jvm-tools/tree/master

[2019-07-27 14:34] pshipton commented on #6593
The hprof agent is a standard JVMTI agent, and should work with any JVM that supports JVMTI, including OpenJ9. The OpenJ9 Java 8 build includes the hprof agent.
It was removed in versions after Java 8, although I expect the Java 8 copy will still work with later versions.
https://openjdk.java.net/jeps/240

The DTFJ API can be used to programmatically read OpenJ9 dumps. All the code is open source,

[2019-07-27 14:53] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_ppc64le_linux_Nightly/4
SharedClasses.SCM23.MultiCL_0

[2019-07-27 14:54] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/103

[2019-07-27 14:55] pshipton commented on #6319
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/107

[2019-07-27 14:59] pshipton opened #6599 "openjdk8_j9_special.system_x86-64_windows Cannot delete workspace"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/1
[code]

[2019-07-27 14:59] pshipton commented on #6599
@AdamBrousseau @llxia

[2019-07-27 15:03] pshipton opened #6600 "openjdk11_j9_special.system_ppc64le_linux Process DLT ended with exit code (143) no diagnostics"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64le_linux_Nightly/2
DaaLoadTest_all_special_19
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xint -Xgcpolicy:balanced
[code]

[2019-07-27 15:04] pshipton commented on #6600
Seems the test timed out, but there are no diagnostics captured in the build.
@Mesbah-Alam @llxia

[2019-07-27 15:05] pshipton commented on #6599
Restarted but same problem
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/2/

[2019-07-27 15:12] pshipton commented on #6600
I suspect this is a build problem, the timeout isn't long enough. Possibly we need to turn off special.system for jdk11 pLinux because in addition to jdk8 testing it takes too long to complete.

[2019-07-27 15:17] pshipton commented on #6600
Created https://github.com/eclipse/openj9/pull/6601

[2019-07-27 15:20] #6600 closed

[2019-07-28 10:14] stefan-reich commented on #6593
Thanks, you guys are very helpful.

[2019-07-28 17:45] kusumachalasani opened #6602 "9-10% Throughput Regression with AcmeAir monolithic benchmark"
Throughput  regression is observed with AcmeAir when running with containers with OpenJ9 when compared against OpenJDK. This behaviour is observed in both JDK8 and JDK11.

Did different set of runs with different options. But still see the regression with OpenJ9.

Below are the % scores of OpenJDK8-OpenJ9 vs OpenJDK8

**OpenJDK8-OpenJ9 Vs OpenJ9**

Instances | % Throughput | %jMEM_max | %jMEM_last

[2019-07-28 18:29] kusumachalasani opened #6603 "Intermittent OOM while running AcmeAir monolithic benchmark with containers"
OOM errors occurs intermittently when running the AcmeAir bench with containers and using memlimit.
It uses no swap by using :
 -m '${memorylimit}'  --memory-swap='${memorylimit}' --memory-swappiness=0

This behaviour is observed in both JDK8 and JDK11 on different set of machines.

From the experiments on a VM I used

OpenJDK8OpenJ9-0.11 shows no OOM with 300mb.
OpenJDK8OpenJ9-0.14 shows OOM with

[2019-07-29 12:25] 0xdaryl commented on #5455
CodeGenerator support for GlRegDeps:
[code]

[2019-07-29 16:55] 0xdaryl opened #6606 "Enable GRA for AArch64"
Enable support for GRA on AArch64.   This is mainly ensuring support for glRegDeps in the backend in all the places they could appear.  Also, private linkage support for shuffling incoming linkage registers to GRA registers.  Some of this work has already been completed, but a thorough review of required support is needed before this is switched on.

[2019-07-29 17:52] #6214 closed

[2019-07-29 18:15] Mesbah-Alam commented on #6475
Running the test in an internal machine with 8 cpu's produce results where we do see similar unusual behaviour where 1 or 2 threads take extra 20sec:

[code]

[2019-07-29 18:16] Mesbah-Alam commented on #6475
Here's the main class that drives the "lambda" load:  https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.test.load/src/test.load/net/adoptopenjdk/stf/LambdaLoadTest.java

Lists of tests that are run in the load are here: https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.test.load/config/inventories/lambdasAndStreams/lambda.xml

[2019-07-29 18:18] Mesbah-Alam commented on #6475
Copying @amicic's comments from Slack:

[2019-07-29 18:22] Mesbah-Alam commented on #6475
Hi @pshipton, could you please share your comments as to whether or not it is worthwhile pursuing this investigation further? (or should we end this issue by setting -Xmx1G to avoid OOMs?)

[2019-07-29 18:35] gacholio commented on #6586
This is already a recognized method, so this work item is seeming less and less useful...

[2019-07-29 19:04] 0xdaryl commented on #6606
@knn-k fyi

[2019-07-29 19:06] 0xdaryl opened #6607 "Enable recompilation for AArch64"
Enable recompilation and patching support for AArch64.  For now, recompilation is disabled by returning `NULL` from `CodeGenerator::allocateRecompilationInfo()`.

[2019-07-29 19:06] 0xdaryl commented on #6607
@knn-k fyi

[2019-07-29 19:15] 0xdaryl commented on #5455
Enable method recompilation.  For AArch64 (#6607).

[2019-07-29 19:16] gacholio commented on #6586
This is already a fast JNI native. Closing as a complete waste of time.

[2019-07-29 19:20] 0xdaryl opened #6608 "Enable atomic free JNI for AArch64"
Implement support for AArch64.  See #2576.

[2019-07-29 19:21] 0xdaryl opened #6609 "Enable atomic free JNI for ARM32"
Enable atomic free JNI for ARM32.  See #2576.

[2019-07-29 19:24] 0xdaryl commented on #5455
Support atomic free JNI.  #2576, AArch64 (#6608), ARM32 (#6609)

[2019-07-29 19:32] zl-wang commented on #6586
Are we talking across each other, when referring to fast JNI?  At least, I saw we still built JNI call-out frame, releaseVMAccess/reacquireVMAccess, and checking pending exception etc, when calling this helper.  That is not fast JNI.  It could be due to incorrect properties returned on native method query.

[2019-07-29 19:38] gacholio commented on #6586
It very much is fast JNI, just not optimal, since it has the NULL check.

[2019-07-29 19:43] 0xdaryl opened #6611 "Enable directToJNI for AArch64"
This requires the fast callout linkage sequence, as well as support for atomic free JNI (#6608).

[2019-07-29 19:55] 0xdaryl commented on #5455
Enable directToJNI.  AArch64 (#6611)

[2019-07-29 19:58] zl-wang commented on #6586
can we make it optimal and how?  that is the original ask anyway.  plus, the observation that the class arg is typically check-cast already.

[2019-07-29 19:59] gacholio commented on #6586
We can move the NULL check out, with possible startup performance issues in the interpreter. I can prototype the work, but I'm not going to benchmark it.

[2019-07-29 20:02] zl-wang commented on #6586
no worry about benchmarking.  i already hack it by -XjniAcc and measure it (worth of 12% for PySpark SQL#1).

[2019-07-29 20:03] gacholio commented on #6586
You miss the point - I'm interested in regressions caused by the wrapper method. Everything we care about needs to be measured.

[2019-07-29 20:07] zl-wang commented on #6586
fair enough.  PMA can do this.

[2019-07-29 20:18] gacholio commented on #6586
So, why is it not being recognized? Maybe fix instead.

[2019-07-29 20:22] 0xdaryl opened #6613 "Enable atomic free JNI for macOS builds"
Support does not appear to be there on macOS builds yet.   #2576

[2019-07-29 20:23] 0xdaryl commented on #6613
@gacholio : can you briefly comment on what would be required to support this on macOS?  e.g., implement all 20-30 of those PRs mentioned in 2576?

[2019-07-29 20:24] ChengJin01 commented on #5058
There is no issue/exception detected for now when compiling awt-related libraries in native compilation on Fedora/RISCV (still in the progress of native compilation). Will see how it goes till the end of the compilation.

[2019-07-29 20:32] gacholio commented on #6613
This is 5 minutes effort if:

- mprotect works
- mlock works (which may or may not be necessary)
- JIT is using the same code for direct JNI as AMD64

Really just a matter of enabling the flags, and adding the right OSX defines the flush code.

[2019-07-29 20:52] zl-wang commented on #6586
That method is recognized already for some simple fast-pathing (as far as I can see ... likely only class equal comparison), but obviously not for fast JNI.  Once you make it qualified as fast JNI, you can return its proper properties through javaVM->internalVMFunctions->jniNativeMethodProperties  compile-time call.

[2019-07-29 21:22] #6547 closed

[2019-07-29 21:27] 0xdaryl commented on #6613
OK.  I just happened to discover this while looking at AArch64 so it isn't high on my priority list at the moment, but I might take a shot at doing what you suggest sometime soon.  This issue is opened as a reminder to complete the work.

[2019-07-29 21:30] gacholio commented on #6613
If ARMx2 and OSX could enable the feature, we could delete the old code paths entirely.

[2019-07-29 21:42] dsouzai commented on #6602
I'm guessing you mean https://github.com/blueperf/acmeair-monolithic-java? Or do you mean https://github.com/sabkrish/acmeair.git?

How does one run this benchmark?

Perhaps to make things easier, could you generate the two images and put it up somewhere, say Docker Hub, so that whoever takes a look at this issue doesn't have to get bogged down in the build step (which looks non-trivial).

[2019-07-29 22:00] gacholio commented on #6586
For the record, the old flags were

J9_FAST_JNI_RETAIN_VM_ACCESS | J9_FAST_JNI_DO_NOT_WRAP_OBJECTS)

so you should never have been dropping VM access.

The new one is fully-optimized.

[2019-07-29 22:05] gacholio commented on #6611
Looks like a dup of #6608

[2019-07-29 23:14] gacholio commented on #6586
The change above causes crashes in JIT compilation all over the place - probably loads of assumptions about isAssignableFrom which are now being broken by having the wrapper.

I will not be looking into this.

[2019-07-30 04:18] gacholio commented on #6586
In the one core I looked at:
[code]

[2019-07-30 09:07] M-Davies commented on #5274
This was run within Jenkins as I don't have a Windows VM to test and/or examine the logs on

[2019-07-30 11:16] kusumachalasani commented on #6602
I pushed the two images i have used. Both Openj9 and hotspot for JDK8.

OpenJ9 : docker pull kusumach/acmeairopenj9-18002-11-nolt-liberty1
OpenJDK-Hotspot:  docker pull kusumach/acmeairopenjdk-18002-latestsdk-nolt-liberty1

These images can be used to run the AcmeAir application.

[2019-07-30 13:36] vijaysun-omr commented on #6156
This is an important issue to resolve I feel since @mpirvu found that running on Ubuntu (where the default OS setting is "madvise") led to 10% loss in throughput that was regained either when the OS setting was changed to "always" or when this VM feature that was disabled due to footprint regression was in use. If we can find a way of reducing the footprint regression in this issue, we can re-enab

[2019-07-30 14:05] 0xdaryl commented on #6608
DirectToJNI is disabled for AArch64 here:
https://github.com/eclipse/openj9/blob/84db769ba38ffc9db90691fa80fd47c98115a04c/runtime/compiler/control/J9Options.cpp#L2119

[2019-07-30 14:06] 0xdaryl commented on #6611
Dup of #6608.

[2019-07-30 14:06] #6611 closed

[2019-07-30 14:28] mpirvu commented on #6602
If the experiments were done on Ubuntu, changing the transparent huge pages setting from [madvise] to [always] may provide a throughput boost to OpenJ9. I have seen a 10% improvement from such a change.

[2019-07-30 15:08] 0xdaryl commented on #5455
A code generator must set `setSupportsDivCheck()` if it provides an implementation for the `DIVCHK` IL Opcode.  This is needed before Walker will create trees for integer type division and remainder operations.  Otherwise, the compilation will fail with an unimplemented opcode for any division or remainder operations.

[2019-07-30 15:29] paulcheeseman opened #6623 "ExceptionInInitializerError thrown when class specified in javax.management.builder.initial cannot be found"
The following testcase simulates the situation where the class specified in the `javax.management.builder.initial` system property cannot be found:

[code]

On Hotspot it throws a `JMRuntimeException`, which wraps a `ClassNotFoundException`:

[code]

However, on OpenJ9 the `JMRuntimeException` is thrown from a static initializer so it gets wrapped in an `ExceptionInInitializerError` :

[code]

App

[2019-07-30 15:33] keithc-ca commented on #6623
The initialization of the server will need to be reworked to use `synchronized` instead of relying on the class loading lock.

[2019-07-30 15:33] AdamBrousseau commented on #6599
I don't think this is a machine issue @llxia .

[2019-07-30 15:38] tajila commented on #6522
Hi @bjhargrave, I am trying to reproduce this issue on my machine. I have followed the commands used in the checkout stage of "https://dev.azure.com/bndtools/bnd/_build/results?buildId=1418&view=logs". However I fail at this command

[code]
Do you know why this is happening? Is there an easier way to reproduce this issue?

[2019-07-30 15:47] bjhargrave commented on #6522
Sorry, that commit was disconnected from a branch when I abandoned that commit from a PR. I repushed it to https://github.com/bjhargrave/bnd as branch openj9-test. It is rebuilding now as https://dev.azure.com/bndtools/bnd/_build/results?buildId=1472.

[2019-07-30 16:36] fengxue-IS commented on #6156
I am suspecting the footprint regression that was noticed on plinux platform is likely due to how THP is set up on the machine, quick check showed that the `max_ptes_none` value is set to 255 (how many empty/unused page allowed to during transparent hugepage allocation) combined with the 64kb default page size, this likely will cause kernel to create 16MB THP on the machine (cannot confirm as the

[2019-07-30 16:56] vijaysun-omr commented on #6156
FYI, @zl-wang and @gita-omr see the last comment on potentially different tradeoff/behaviour on Power and express an opinion if you have a preference.

[2019-07-30 17:03] mpirvu commented on #6156
Both Daytrader7 and AcmeAir throughput runs were improved substantially when the JVM could take advantage of the transparent huge pages.

[2019-07-30 17:05] fengxue-IS commented on #6156
Is this only on xlinux or does it also apply to plinux as well?

[2019-07-30 17:14] mpirvu commented on #6156
I have only measured on xlinux Ubuntu 16.04

[2019-07-30 17:17] zl-wang commented on #6586
That is bizarre ... indicating compiler calling this helper with NULL Class arg(?).  I presumed that is all you changed.

[2019-07-30 17:20] andrewcraik commented on #6156
Significant performance gains were seen on Skylake when we added the madvise support. Before saying we should only enable on x a throughput study on the other platofrms (including p) would be warranted - if it is worth 10% throughput for 5% footprint that is likely a tradeoff that is acceptable given how hard it is to get 10% on some of these benchmarks.

In general I would prefer that we keep con

[2019-07-30 18:17] zl-wang commented on #6156
Interested in seeing an evaluation on pLinux, although I expected the performance benefit is less (compared to xLinux), since the default page size on pLinux is 64KB already.

HugePage on p will be either 16MB (pre-POWER9 or POWER9 Hashed Page table based)  or   2MB (POWER9 radix page-table based).

[2019-07-30 18:25] zl-wang commented on #6156
you can tell  if it is hash based or  radix page table  by looking at the bottom of /proc/cpuinfo:
timebase        : 512000000
platform        : pSeries
model           : IBM pSeries (emulated by qemu)
machine         : CHRP IBM pSeries (emulated by qemu)
MMU             : Hash                                                  <=== Hashed page table (16MB hugepage)

or

timebase	: 512000000
platfor

[2019-07-30 21:35] ChengJin01 commented on #5058
With approx 1 to 2 day on the native compilation (due to the lack of JIT support), the final JDK (native build) has been created with the cross-build (in headless AWT mode) and the native `awt `library was successfully generated as expected:
[code]
Now need to figure out whether it is possible to set up the test environment on Fedora/Riscv to run part of OpenJ9 sanity test with the natively built

[2019-07-30 22:44] knn-k opened #6636 "AArch64: Complete ARM64RelocationTarget"
Complete the unimplemented functions of ARM64RelocationTarget.

[2019-07-30 22:48] knn-k opened #6637 "Detect AArch64 processor type"
Currently there is only one processor type (TR_DefaultARM64Processor) for AArch64.
When other processor types are added, portLibCall_getARM64ProcessorType() in compiler/env/ProcessorDetection.cpp has to be implemented.

[2019-07-31 05:47] knn-k commented on #6607
Related PR:  #6165

[2019-07-31 15:01] kgibm opened #6642 "JAXP-intensive workload on OpenJ9 seems to be about 5% slower than HotSpot"
Java -version output
--------------------

OpenJ9 -version:

[code]

HotSpot -version:

[code]

Summary of problem
------------------

A customer observes about a 5% performance difference between J9 and HotSpot (particularly for IBM Java, but the same is seen with OpenJ9). The workload is JAXP-heavy (especially XPath and XSLT) and we may have recreated the problem with the attached standalone Jav

[2019-07-31 15:15] andrewcraik commented on #6642
What is the setting for transparent huge pages on the machine in question? Testing with transparent huge pages set to always may help performance.

[2019-07-31 15:25] kgibm commented on #6642
[code]

I'll try `always` and report back...

[2019-07-31 15:44] kgibm commented on #6642
@andrewcraik Re-ran test 9 with `transparent_hugepage=always` and the relative difference is still about 5%:

|#  |Test                       |OpenJ9 1  (s)|HotSpot 1  (s)|OpenJ9 2  (s)|HotSpot 2  (s)|OpenJ9 3  (s)|HotSpot 3  (s)|OpenJ9 Average (s)|HotSpot Average (s)|OpenJ9 Relative Increase|
|---|---------------------------|-------------|--------------|-------------|--------------|-------------|

[2019-07-31 15:46] andrewcraik commented on #6642
@kgibm that is still a 5% improvement if I am reading this correctly - eg comparing 12 to 1 which is the effect of the change?

[2019-07-31 15:51] andrewcraik commented on #6642
note that OpenJ9 plans to better support madvise once we have investigated https://github.com/eclipse/openj9/issues/6156 which is targeted to OpenJ9 0.16 at the present time.

[2019-07-31 15:51] kgibm commented on #6642
@andrewcraik The last column is the relative difference. So OpenJ9 is 5% slower than HotSpot.

I haven't been comparing tests to each other - I'm just comparing the J9 experimental change to HotSpot baseline. (Since the HotSpot baseline test is always the same, we could compare all the tests together, but I avoid that because I'd rather compare tests run at approximately the same time to each othe

[2019-07-31 15:54] andrewcraik commented on #6642
@kgibm right what I am saying is that taking the baseline configuration the delta was 10% (eg configuration 1). Changing the transparent huge page setting to always narrowed that gap to 5% - eg OpenJ9 is still slower, but less so than in configuration 1. That performance improvement is expected to be delivered in OpenJ9 for 0.16. There is a 5% delta to still be investigated. I am interested to see

[2019-07-31 16:01] andrewcraik commented on #6642
FYI @mpirvu due to the AOT numbers above which seem 'interesting'

[2019-07-31 16:02] kgibm commented on #6642
@andrewcraik Oh I see what you mean. This `transparent_hugepage=always` test 12 was based on test 9, so I ran it with `-Xtrace:none -Xverify:none` as well. Test 9 was 7% faster than test 1, but test 12 was only 5% faster than test 1, so it doesn't seem that `transparent_hugepage=always` had any improvement (although of course sample sizes here are small and variability may be high, so I'd put it i

[2019-07-31 16:03] kgibm commented on #6642
BTW, test ideas 2-9 were just random ideas I grabbed from the air :) Just trying to be thorough before opening the issue.

[2019-07-31 16:09] ChengJin01 commented on #5058
The compilation on the DDR related test shows it failed to locate `j9ddr` related  package as follows:
[code]
which means` j9ddr.jar` was missing in the JDK (not generated during compilation) as `DDR `was disabled previously by default.

I need to update the setting scripts involved and install `libdwarf-devel `on Fedora/Riscv so as to create a new build via the native compilation to see how it go

[2019-07-31 16:25] kgibm commented on #6642
@andrewcraik I ran test 1 with `transparent_hugepage=always` and it didn't seem to give any benefit (J9 about 10% slower). It seems the major benefit is from `-Xtrace:none -Xverify:none`.

I also re-did the whole spreadsheet to make it clear which test each run is based on. I also added a t-test column (two-tailed, heteroscedastic) and it seems the variability isn't as high as I thought because mo

[2019-07-31 16:32] llxia commented on #6599
@LongyuZhang could you investigate this? This only happens on windows. I suspect the subdir is not released, so the workspace cannot be deleted on wins.
https://github.com/AdoptOpenJDK/openjdk-tests/blob/d95bab62f5c542bfc182d20db5bf99738f2c419f/buildenv/jenkins/JenkinsfileBase#L116

[2019-07-31 16:37] llxia commented on #969
@dutingda Could you take a look? Thanks.

[2019-07-31 16:38] mpirvu opened #6644 "Improper handling of connection interruptions"
While doing an AcmeAir run with JITServer I observed that at some point no remote compilation is succeeding. An excerpt from verbose log obtained at the server is pasted below.
[code]

Attn: @harryyu1994

[2019-07-31 16:56] andrewcraik commented on #6642
@kgibm thanks for the clarification - I am surprised about the overheads seemingly caused by -Xtrace:none -Xverify:none. Would it be possible to get a perf record of configs 1 and 9 during iteration 3 on your setup with -Xjit:perfTool specified? This will show how time is distributed between the various JVM components etc.

[2019-07-31 16:57] andrewcraik commented on #6642
FYI @vijaysun-omr due to general interest in perf deltas.

[2019-07-31 17:00] kgibm commented on #6642
@andrewcraik I was worried somebody would ask for perf :) Unfortunately, Docker (at least on Mac) doesn't support perf. I tried running the container with `--privileged` and it didn't help. I do have a Thinkpad with RHEL on it so I'll see if I can dust that off today.

Note also that I'm traveling to another customer tomorrow for a week so I'll be mostly unavailable, but I've attached the standalo

[2019-07-31 17:01] kgibm commented on #6642
Also, you already mentioned this, but just for others that might miss this, it would certainly be interesting to understand why `-Xtrace:none -Xverify:none` are helping so much (btw, that was a suggestion from Gary DeVal to try), but the bigger issue for the customer is the remaining ~5% difference.

[2019-07-31 17:13] mpirvu commented on #6642
AOT is supposed to help only when many methods need to be compiled in a short period of time. This benchmark runs for 50+ seconds and I don't think that the JAXP benchmark has that many methods to compile.
I am also surprised by the improvement brought in by `-Xtrace:none -Xverify:none`. These two are useful for short running apps which is not the case here.

[2019-07-31 17:15] andrewcraik commented on #6642
I think understanding the -Xtrace:none and -Xverify:none issues will help inform where the rest of the delta is coming from. If you are looking for support for an IBM customer or similar you need to go through the appropriate IBM support processes - OpenJ9 is an Eclipse opensource project. OpenJ9 as an opensource project will investigate performance problems as the members of community have time t

[2019-07-31 17:17] kgibm commented on #6642
The actual customer is running in production on IBM Java 8 and we've supported them through the normal processes (working with Vijay last year to backport OpenJDK's JAXP implementation into jre/lib/endorsed for a ~20% improvement). I presumed it would be best to explore the remaining difference on the latest and greatest code, but if you think it's better to investigate on IBM Java, I can ask them

[2019-07-31 17:26] andrewcraik commented on #6642
Eclipse OpenJ9 does not support / investigate / handle the IBM Java offering - that is IBM's project. It is interesting that you have been able to reproduce the issue using OpenJ9 and the OpenJ9 community is certainly interested in looking at the problem from the OpenJ9 perspective (as you have seen from our engagement). However, we will explore and fix the problem from and OpenJ9 perspective as c

[2019-07-31 17:28] kgibm commented on #6642
Recent versions of WAS Liberty bundle support for OpenJ9 now, and I will see if that includes OpenJ9 V8 and what version of Liberty, and we'll look to open a formal support case.

[2019-07-31 17:37] andrewcraik commented on #6642
Cool - IBM support is the place to go for IBM offerings. I will leave this issue open since you have a test case and results for OpenJ9. This kind of performance issue is the kind of thing we, as a community, like to investigate to make sure OpenJ9 users have a great experience running their programs.

[2019-07-31 18:02] tajila commented on #6522
@bjhargrave  All the test seem to pass on that run. Is it an intermittent issue? or were you seeing consistent failures before?

[2019-07-31 19:21] llxia commented on #6599
Thanks for Longyu's help.

We noticed that `special.system` runs fine on windows internally `Test-special.system-JDK8-win_x86-64_cmprssptrs`.

@AdamBrousseau do the windows machines configured differently?

[2019-07-31 19:44] bjhargrave commented on #6522
Perhaps it is intermittent. It happened the first time I tried to add an OpenJ9 job to the CI build. I tried rebuilding several times today without an issue. I will note that the failing build occurred on Jul 18 which is the date of the release: https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u222-b10_openj9-0.15.1. So perhaps there was some thing about the downloaded file that

[2019-07-31 19:54] andrewcraik commented on #6642
@kgibm To continue the discussion of the OpenJ9 problem - I have access to a linux perf setup so I'll see if I can get the test case running on there. I'll see if I can reproduce the same kind of gaps as you see in your container and see if a profile shows anything useful. If you manage to get any profiling data or find out anything else do let me know since there are some strange things in play s

[2019-07-31 20:06] harryyu1994 commented on #6644
Investigating:

Side Note:
Noticed one issue, might or might not be the cause of the above problem but need some attention as well:
in `processException` routine:
[code]
All 3 kind of `JITServer::StreamCancel` goes into here and gets its compErrCode set to `compilationInterrupted`.

I think we should have a new StreamFailure called `StreamTerminate` or something just to deal with connection/client

[2019-07-31 20:51] llxia commented on #6599
Talked with @jdekonin and @vsebe , we are going to try `cleanWs notFailBuild: true, disableDeferredWipeout: true, deleteDirs: true` instead of `cleanWs()`

[2019-07-31 21:03] harryyu1994 commented on #6644
One possible cause:

JITClient interrupts the compilation and send JITServer an `CompilationAbort` message. JITClient proceeds to compile another method with the same stream. JITServer receives the `CompilationAbort` message, triggers `StreamCancel`, then it proceeds to send back the `CompilationInterrupted` err code to the JITClient. When JITClient receives the message it will already have sent a

[2019-07-31 21:06] llxia commented on #6599
Above cmd worked https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/12/console

[2019-07-31 21:31] harryyu1994 commented on #6644
I couldn't reproduce this issue on my own machine.
How often does this occur for you?

[2019-07-31 22:36] mikezhang1234567890 commented on #6366
We get the class simple name from the inner_name_index of the InnerClass attribute in a class file.  The JVM spec says that it "represents the original simple name of C, as given in the source code from which this class file was compiled", however this inner name can actually be different than a suffix of the full class name when looking at the class file.

If you add the options `-Dlegacy.debugCl

[2019-07-31 23:21] mpirvu commented on #6644
I am seeing this in AcmeAir, client and server on the same machine. It happens quite often. Another example
[code]

[2019-08-01 02:34] harryyu1994 commented on #6644
I have managed to reproduce the problem.

[2019-08-01 15:09] hangshao0 opened #6652 "Remove obsolete shared classes code"
From https://github.com/eclipse/openj9/pull/6536#issuecomment-514395452

J9SHR_CACHELET_SUPPORT is not defined.
All the code inside `#if defined(J9SHR_CACHELET_SUPPORT)` are obsolete. They can be removed.

[2019-08-01 17:02] andrewcraik commented on #6642
So I have the test running on my setup and I can see a delta between HotSpot and OpenJ9 even on bare metal (I removed the container support option etc so I'm just looking at the native machine performance to simplify things a bit). I can also see that -Xverify:none and -Xtrace:none are able to save about 2/3 of the gap I see. The profile does show hot and scorching compilations. The hotest methods

[2019-08-01 17:13] kgibm commented on #6642
Great to hear that it's reproducible, thanks Andrew!

[2019-08-01 18:49] pdbain-ibm commented on #6597
`ClassCastException` is the correct response: from the API:
[code]

I ran > 100 times, with default options, `-Xint`, and `-Xjit:count=0` on the latest Java 11:
[code]
 and consistently got the exception.  Note that OpenJDK Java 11 has the same behaviour.

Java 8:
[code]
does show a mixture of behaviours with `-Xint` as described above.

I tested with OpenJDK Java 8 with HotSpot:
[code]
and it als

[2019-08-01 18:50] pdbain-ibm commented on #6595
Problem in the class library: see https://github.com/eclipse/openj9/issues/6597#issuecomment-517412424

[2019-08-01 18:50] pdbain-ibm commented on #6596
Problem in the class library: see https://github.com/eclipse/openj9/issues/6597#issuecomment-517412424

[2019-08-01 18:57] pdbain-ibm commented on #6399
The change in question is https://github.com/eclipse/openj9/pull/6589.

[2019-08-01 19:17] harryyu1994 commented on #6644
I have some ideas on what the problem is:

[code]
catch (const JITServer::StreamCancel &e)
      {
      if (TR::Options::getVerboseOption(TR_VerboseJITaaS))
         TR_VerboseLog::writeLineLocked(TR_Vlog_JITaaS, "In TR::CompilationInfoPerThreadBase::processException, JITaaS StreamCancel: %s", e.what());
      _methodBeingCompiled->_compErrCode = compilationInterrupted;
      }
[code]

[2019-08-01 19:32] headius opened #6655 "Peculiar error folding arguments at position 0"
I am working on some updates to global variable indy logic in JRuby (jruby/jruby#5536), and J9 appears to be failing something that passes on Hotspot.

https://travis-ci.org/jruby/jruby/jobs/566628023

The error in question looks like this:

[code]

This is happening simply booting JRuby, and I can reproduce locally as well:

[code]

It should be trivial to reproduce: build JRuby (see BUILDING.md

[2019-08-01 19:53] ChengJin01 commented on #5058
The compilation on DDR failed to generate j9ddr related class at:
[code]
Investigation shows `MM_SegregatedGCPointer.class` had not yet been generated at `./build/linux-x86_64-normal-server-release/support/ddr/classes/com/ibm/j9ddr/vm29/pointer/generated ` when compiling` GCHeapMap.java` as the compilation of DDR `pointer `classes was still under way at an pretty slow speed (most of them were gene

[2019-08-01 20:36] headius commented on #6655
Confirmed still broken on 8-u222-b10.

[2019-08-02 02:28] 0xdaryl opened #6657 "Enable linkage register allocation"
Allow linkage registers to participate in global register allocation, and provide the means to shuffle linkage registers to GRA registers.

[2019-08-02 02:28] 0xdaryl commented on #5455
Enable linkage register allocation.  Reverse `TR_DisableLinkageRegisterAllocation`.  AArch64 (#6657).

[2019-08-02 08:26] M-Davies opened #6659 "JTReg Test failure: java/lang/StackTraceElement/PublicConstructor.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/StackTraceElement/PublicConstructor.java

Consistent test failure for JDK11-openj9 for x86_linux, windows and osx (test pass fine on hotspot for all platforms). Cause is due to an `assertEqual failure` when testing the constructor with a module attached.

Optional info
-------------
Investi

[2019-08-02 10:23] M-Davies opened #6660 "JTReg Test Failure: java/lang/Enum/ConstantDirectoryOptimalCapacity.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/b44d19c4cbca42541aef5132f21870c1b924a68c/test/jdk/java/lang/Enum/ConstantDirectoryOptimalCapacity.java

Consistent Failure on JDK11-openj9 for x86_linux, windows and osx (test passes on hotspot). Failure is due to a `NoSuchFieldException` when searching for a fieldname within a class

Optional info
-------------
Tes

[2019-08-02 10:32] M-Davies commented on #6660
^^ added test title

[2019-08-02 10:47] adam-thorpe opened #6661 "JTReg Test Failure: java/lang/SecurityManager/modules/CustomSecurityManager.sh"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/SecurityManager/modules/CustomSecurityManager.sh

Optional info
-------------
Test is failing with openj9 builds of jdk11. After further investigation, it would seem that the following line is causing the issue:
[code]

Failure output
--------------
[code]

[2019-08-02 15:47] dmitry-ten commented on #6395
Ran `DaaLoadTest_daa2_ConcurrentScavenge`  with yesterday's build 200 times in Grinder today, no [failures](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/2942/).
Maybe the issue went away.

[2019-08-03 14:25] dmitry-ten commented on #6395
`MathLoadTest_bigdecimal_0` with the same build also [passed](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/2946/) after 200 iterations.
Seems like that problem is also gone.

[2019-08-05 03:40] dengyun19900722 opened #6663 "arm-linux-aarch64/Dockerfile not working"
![image](https://user-images.githubusercontent.com/7497587/62437321-42b92f80-b775-11e9-8152-27f415386b78.png)

I use the arm-linux-aarch64/Dockerfile to build a arm64 base image， then use it to build app image. When I start an container using the app image, I got an error， as shown in FIG

[2019-08-05 12:20] adam-thorpe opened #6665 "JTReg Test Failure: java/lang/String/CaseInsensitiveComparator.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/String/CaseInsensitiveComparator.java

Optional info
-------------
Test fails on jdk11 with openj9, passes with hotspot. Problem seems to be with `String.CaseInsensitiveComparator` class.

Failure output
--------------
[code]

[2019-08-05 12:28] adam-thorpe opened #6666 "JTReg Test Failure: java/lang/String/EqualsIgnoreCase.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/String/EqualsIgnoreCase.java

Optional info
-------------
Test fails on jdk11 with openj9, passes on hotspot. Issue with `String.equalsIgnoreCase()` method where the string "?" is not equal to itself.

Failure output
--------------
[code]

[2019-08-05 12:33] adam-thorpe opened #6667 "JTReg Test Failure: java/lang/String/StringRepeat.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/String/StringRepeat.java
Test Category: openjdk
Test Suite Name: jdk_lang
OS/Architecture: x86-64-windows, x86-64-linux, x86-64-osx, ...
OpenJDK Version: 11.0.4+11
Public Build SHAs:
  OpenJ9   - `1fcc869f3`
  OMR        - `ee5b41ac`
  JCL          - `965d0c0df3`

Optional info
------------

[2019-08-05 13:22] smlambert commented on #6667
@adam-thorpe - for test failure issues, the failure link would be the link to the job where the test fails (though it is also good that you include the link to the test case itself) (which will tell us which JDK_VERSION, OS/arch, test suite name, OpenJDK version).

Ideally, as per the [issue template ](https://github.com/eclipse/openj9/blob/master/.github/ISSUE_TEMPLATE/test-suite-failure.md), we

[2019-08-05 13:38] adamfarley opened #6668 "JTReg Test Failure: ClassLoader/Assert.java"
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac/10/testReport/java_lang_ClassLoader_Assert/java/Assert/

Optional info
-------------

- intermittent failure: no, seems to happen 2/3rds of the time.
- regression or new test:  regression
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) :
Unknown, old test

[2019-08-05 13:44] adam-thorpe commented on #6667
For some of these tests, I did locally so there is no jenkins link. Would you like me to create a jenkins build and then run that or just manually input the information here that you would use to create the job?

[2019-08-05 14:36] smlambert commented on #6667
You do not necessarily need to create a Jenkins job recreating the issue (though it might be interesting to note if there are other platforms that it fails on besides your laptop, which is likely either osx or windows).

The issue template says,

"If the link is not public, instead include

test category (functionality, system, etc):
test suite name:
OS/architecture (i.e. Ubuntu 16.04 x64):
OpenJD

[2019-08-05 14:43] adamfarley opened #6669 "JTreg test fail - MacOS : java/nio/channels/DatagramChannel/Promiscuous.java"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac/10/consoleFull

Only seems to occur on mac. Not seen on Hotspot. However, OpenJDK has a bug that looks like this one: https://bugs.openjdk.java.net/browse/JDK-8144003

This bug contains class library code, and implies that it was closed as a non-issue, as per the last two comments in the issue.

[2019-08-05 14:58] adamfarley opened #6670 "Extended system test failure: SharedClassesAPI_0"
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.system_x86-64_mac/7

Failing thread reference can be found in the results tar.gz, here:
openjdk-tests\TestConfig\test_output_15648593132736\SharedClassesAPI_0\20190803-205835-SharedClassesAPI\execute\execute.stdout

and the error message itself can be found in the output for that thread, here:
C:\Users\ADAMFarley\

[2019-08-05 15:19] adamfarley opened #6671 "JTReg Test Failure: CompactStringBuffer.testCompactStringBufferForLatinA"
Failure link
------------

https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux/13/consoleText

Optional info
-------------

- intermittent failure: no
- regression or new test:  regression
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) :
Unknown

Notes: Only seen on zLinux, and occurs on this line of the test, se

[2019-08-05 15:20] adam-thorpe opened #6672 "JTReg Test Failure: java/lang/String/CaseConvertSameInstance.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/String/CaseConvertSameInstance.java
Test Category: openjdk
Test Suite Name: jdk_lang
OS/Architecture: x86-64-windows, x86-64-linux, x86-64-osx, ...
OpenJDK Version: 11.0.4+11
Public Build SHAs:
OpenJ9 - `b09716014`
OMR - `6e99760b`
JCL - `965d0c0df3`

Optional info
-------------
Not an inte

[2019-08-05 15:26] adam-thorpe opened #6673 "JTReg Failure: java/lang/String/CompactString/IndexOf.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/String/CompactString/IndexOf.java
Test Category: openjdk
Test Suite Name: jdk_lang
OS/Architecture: x86-64-windows, x86-64-linux, x86-64-osx, ...
OpenJDK Version: 11.0.4+11
Public Build SHAs:
OpenJ9 - `b09716014`
OMR - `6e99760b`
JCL - `965d0c0df3`

Optional info
-------------
All of the fa

[2019-08-05 15:42] smlambert commented on #6672
I do not see this test failing in Jenkins in the nightly runs at AdoptOpenJDK on any of the platforms you mentioned:

osx:
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac/14/testReport/

xlinux:
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux/20/testReport/

windows:
https://ci.adoptopenjdk.net/view/Test_

[2019-08-05 15:52] smlambert commented on #6672
I have created a Grinder to reproduce the failure:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1842/testReport/

since its not failing in nightlies, it must not be running as part of the jdk_lang target
we will have to look at why

[2019-08-06 03:43] DanHeidinga commented on #6670
@adamfarley have you checked the SHMMAX / SHMMIN settings for the machine?  I recall we had to modify the default osx settings for shared memory - @jdekonin or @babsingh may remember the details.

[2019-08-06 08:29] adam-thorpe commented on #6672
These tests were excluded from the JTReg suite, so am I right in saying they would not appear when you run a test suite? Which is why they do not appear unless specified?
Issue tracking this: https://github.com/AdoptOpenJDK/openjdk-tests/issues/585

[2019-08-06 12:09] jdekonin commented on #6670
Looks like a dup of https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/840

Details as to the fix are documented in that issue.

[2019-08-06 12:23] adam-thorpe opened #6674 "JTReg Failure: java/lang/System/Logger/custom/CustomLoggerTest.java and java/lang/System/Logger/default/DefaultLoggerTest.java"
Failure link
------------
CustomLoggerTest: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1846/
DefaultLoggerTest: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1848/
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/System/Logger/custom/CustomLoggerTest.java
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/

[2019-08-06 12:24] adamfarley commented on #6670
Thanks Dan and Joe. Will implement the fix as detailed, and re-run the test.

[2019-08-06 12:44] adamfarley commented on #6670
Confirmed that this is a dup of https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/840

Closing because dup.

[2019-08-06 12:44] #6670 closed

[2019-08-06 13:14] adam-thorpe commented on #6674
The following tests also are affected by the same problem:
`java/lang/System/LoggerFinder/internal/BaseDefaultLoggerFinderTest/BaseDefaultLoggerFinderTest.java`
`java/lang/System/LoggerFinder/internal/BaseLoggerBridgeTest/BaseLoggerBridgeTest.java`
`java/lang/System/LoggerFinder/internal/LoggerBridgeTest/LoggerBridgeTest.java`
`java/lang/System/LoggerFinder/internal/LoggerFinderLoaderTest/LoggerFi

[2019-08-06 13:59] adam-thorpe opened #6675 "JTReg Failure: java/lang/System/LoggerFinder/internal/backend/LoggerFinderBackendTest.java"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1850/
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/System/LoggerFinder/internal/backend/LoggerFinderBackendTest.java
Test Category: openjdk
Test Suite Name: jdk_lang
OS/Architecture: x86-64-windows, x86-64-linux, x86-64-osx, ...
OpenJDK Version: 11.0.4+11
Public Build SHAs:
Ope

[2019-08-06 14:17] mpirvu opened #6677 "Increased number of compilationCodeCacheError in JITServer mode"
While running Daytrader7 with JITServer I observed a large number of compilation failures with this error code: `compilationCodeCacheError`.
As a result the throughput rather low.
I believe this is due to #6436 so I am hoping the new thunk work will make this disappear./

[2019-08-06 14:21] #6599 closed

[2019-08-06 14:55] andrew-m-leonard commented on #6667
just had a quick look at the openj9 String.repeat(count) method and it looks as though the method is getting a NegativeArraySizeException when using a calculated total repeated string length and creating an array using it. Due to the large count value the int repeat length overflows to a negative value which is used in the array... hence exception...

[2019-08-06 15:22] hangshao0 commented on #6663
FYI @knn-k

[2019-08-06 15:46] M-Davies opened #6680 "JTReg Test Failure: java/lang/StackWalker/DumpStackTest.java"
# Failure link
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/StackWalker/DumpStackTest.java

Consistent failure with jdk11-openj9 (all generic operating systems). Test passes on hotspot for all platforms
# Java Version (when running locally)
[code]
# Summary
The issue is a failed `assertEquals()` caused by an unexpected call frame in the `consumeLambda()` test.

[2019-08-06 16:31] smlambert commented on #6668
Excluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/1248

[2019-08-06 16:31] smlambert commented on #6671
Excluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/1248

[2019-08-06 16:32] smlambert commented on #6669
Excluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/1248

[2019-08-06 18:04] smlambert commented on #6672
That would explain it, and also explain what your mission appears to be (rerunning all the excluded tests in the list that were excluded under that generic issue 585, [exclusion for this test](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/ProblemList_openjdk11-openj9.txt#L53)), thanks @adam-thorpe

[2019-08-06 18:25] ChengJin01 commented on #5058
Temporarily investigating a bytecode verifier related issue. Will get back to this once it gets resolved.

[2019-08-06 18:41] non-conformances-research opened #6682 "Arrays.copyOfRange method crashes the JVM"
Arrays.copyOfRange specification defines that a NullPointerException should be throw if ```original``` parameter is ```null``` (https://docs.oracle.com/javase/8/docs/api/java/util/Arrays.html#copyOfRange-byte:A-int-int-). However, it throws OutOfMemoryError when executing the following program:

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_16

[2019-08-06 18:43] mikezhang1234567890 opened #6683 "finalFieldSetAllowed doing validation on class file with version less than 53"
In `resolvesupport.cpp` the brief for the `finalFieldSetAllowed` states:
[code]
which implies that the check should not happen in class files with version 52 or less.

In https://github.com/eclipse/openj9/commit/315ed967602b64215195d8ab2d2aad78250c66ed, the check to do the validation is changed:
https://github.com/eclipse/openj9/commit/315ed967602b64215195d8ab2d2aad78250c66ed#diff-b8265e29caabd4bc

[2019-08-06 18:48] DanHeidinga commented on #6683
@mikezhang1234567890 The check moved and morphed somewhat.  The new code sets the `J9AccMethodAllowFinalFieldWrites` method modifier for classfiles older than v53 in
https://github.com/eclipse/openj9/blob/315ed967602b64215195d8ab2d2aad78250c66ed/runtime/bcutil/ROMClassWriter.cpp#L1213-L1215

Are you seeing unexpected failures or a behaviour change?

[2019-08-06 18:58] DanHeidinga commented on #6682
@non-conformances-research testing this on the RI and I see the same behaviour.  OpenJ9 and OpenJDK share the implementation of Arrays.copyOfRange.

Can you raise this issue in the OpenJDK community as it would be better to have the it fixed upstream.

[2019-08-06 19:01] mikezhang1234567890 commented on #6366
Fixing the issue above gives a new error when trying to run the server on OpenJ9:
[code]
so looking into that.

[2019-08-06 19:14] gacholio commented on #6586
Assigning to you while the JIT issue is resolved.

[2019-08-06 19:26] #6644 closed

[2019-08-06 19:29] hangshao0 commented on #6549
When a URLClassLoader is initialized with an empty url array. It calls into notifyClasspathChange3() through SharedClassURLClasspathHelperImpl(). There is no need to allocate memory and create class path entries for the empty array in this case.

[2019-08-06 19:34] mikezhang1234567890 commented on #6683
There is a behaviour change since the macro `J9ROMMETHOD_ALLOW_FINAL_FIELD_WRITES` for actually checking if we can write to final fields is
[code]
and enforces that the field and method must both have the same staticness.

From the `javap` output of the class causing the error (minus the constant pool and unnecessary methods):
[code]
The static final field `MODULE$` is set through the constructor

[2019-08-06 19:47] gacholio commented on #6683
A simple testcase demonstrating the failure would be helpful.

[2019-08-06 20:02] MrTrader8 commented on #6260
Link to the PR: https://github.com/eclipse/openj9/pull/6640

[2019-08-06 20:15] gita-omr commented on #6486
xlC team recommended using inline asm, so we are testing it now.

[2019-08-06 23:07] gacholio commented on #6655
[code]

This code will fail 100% of the time if handleTypeParamCount is 0

[2019-08-07 01:28] knn-k commented on #6663
Which Dockerfile are you talking about?
If it is `buildenv/docker/jdk11/aarch64_CC/arm-linux-aarch64/Dockerfile`, that one is used only for cross-building the OpenJ9 runtime for AArch64 Linux in the x86-64 Linux environment.
Not intended for running any AArch64 binary in the Docker image built from the Dockerfile.

[2019-08-07 03:31] harryyu1994 opened #6687 "JITServer clientSessionData nullptr segfault"
The intermittent crash happened in `ClientSessionData::getSequencingMonitor`
[code]

[code]

[2019-08-07 03:31] harryyu1994 commented on #6687
@mpirvu FYI

[2019-08-07 04:08] mpirvu commented on #6687
Another type of bug that I get relatively frequently with Daytrader is `Expected 1 args to unpack but got 9-tuple`
Example:
**At the client:**
[code]
**At the server**
[code]

[2019-08-07 04:18] mpirvu opened #6688 "compilationAotStaticFieldReloFailure seen with JITServer"
Daytrader7 experiments with JITServer showed quite a few compilation failures with an error code of `compilationAotStaticFieldReloFailure`. These experiments do not use any AOT.

E.g.:
[code]

[2019-08-07 06:46] kusumachalasani commented on #6602
@mpirvu
As the experiments I'm using are on Ubuntu, I enabled THP using
```echo always >/sys/kernel/mm/transparent_hugepage/enabled```
Even after enabling THP, I still see a drop in Throughput with OpenJ9.
With 1 instance alone, I see there is ~9% drop ; and for multi instances it is ~1.7-5.7% drop.

OpenJ9 vs OpenJDK | Instances | %Throughput | %jMEM_max | %jMEM_avg | %jMEM_last5min
-- | -- | --

[2019-08-07 08:40] adam-thorpe commented on #6665
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/ProblemList_openjdk11-openj9.txt#L54

[2019-08-07 08:41] adam-thorpe commented on #6666
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/ProblemList_openjdk11-openj9.txt#L56

[2019-08-07 08:42] adam-thorpe commented on #6667
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/ProblemList_openjdk11-openj9.txt#L57

[2019-08-07 08:43] adam-thorpe commented on #6673
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/ProblemList_openjdk11-openj9.txt#L55

[2019-08-07 08:47] adam-thorpe commented on #6674
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/ProblemList_openjdk11-openj9.txt
Lines 61-64, 66-69, 71

[2019-08-07 08:48] adam-thorpe commented on #6675
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/ProblemList_openjdk11-openj9.txt#L70

[2019-08-07 12:33] mpirvu commented on #6602
The initial data showed a gap of 98.79% with 1 instance. After enabling THP the gap widened to 91.90%. Was the absolute performance lower for OpenJ9 when THP was enabled?

[2019-08-07 14:03] adam-thorpe opened #6690 "JTReg Test Failure: java/lang/Thread/UncaughtExceptions.sh"
Failure link
------------
Test: https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/Thread/UncaughtExceptions.sh
Build: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1855/
Test Category: openjdk
Test Suite Name: jdk_lang
OS/Architecture: x86-64-windows, x86-64-linux, x86-64-osx, ...
OpenJDK Version: 11.0.4+11
Public Build SHAs:
OpenJ9 - `85b0693e8`
OMR -

[2019-08-07 14:12] adam-thorpe opened #6691 "JTReg Test Failure: java/lang/ThreadGroup/SetMaxPriority.java"
Failure link
------------
- Test: https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/ThreadGroup/SetMaxPriority.java
- Build: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1856/
- Test Category: openjdk
- Test Suite Name: jdk_lang
- OS/Architecture: x86-64-windows, x86-64-linux, x86-64-osx, ...
- OpenJDK Version: 11.0.4+11
- Public Build SHAs:
- OpenJ9 -

[2019-08-07 14:33] theresa-m commented on #6466
This error goes away when I locally revert https://github.com/eclipse/openj9/pull/6271 (enable scc by default).

@hangshao0 any ideas for what could cause this?

[2019-08-07 15:02] pdbain-ibm commented on #6680
This test is relying on unspecified details of the lambda implementation.  I believe the OpenJ9 stack frame is correct, unless `DumpStackTest$$Lambda$3.000000009FE08CD0.accept` should be a hidden frame.
@DanHeidinga do you concur?

[2019-08-07 15:07] DanHeidinga commented on #6682
FYI @andrew-m-leonard

[2019-08-07 15:14] adam-thorpe opened #6692 "JTReg Test Failure: java/lang/Throwable/SuppressedExceptions.java"
Failure link
------------
- Test: https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/Throwable/SuppressedExceptions.java
- Build:
- Test Category: openjdk
- Test Suite Name: jdk_lang
- OS/Architecture: x86-64-windows, x86-64-linux, x86-64-osx, ...
- OpenJDK Version: 11.0.4+11
- Public Build SHAs:
- OpenJ9 - `85b0693`
- OMR - `6e99760b`
- JCL - `965d0c0df3`

Optional

[2019-08-07 15:18] hangshao0 commented on #6466
Just from the error message, it is not clear to me why SCC would cause this issue. The class loaded from the SCC should not be different from the class loaded from the disk.

You can trying using `-Xshareclasses:bootClassesOnly,verboseIO,verbose` which is equivalent to enabling default SCC but with some verbose output telling you what is loaded from the SCC.

[2019-08-07 15:26] gacholio commented on #6683
My test show this code to be working.

VM used to test:

openjdk version "11.0.4" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11-201908061830)
Eclipse OpenJ9 VM AdoptOpenJDK (build master-85b0693e8, JRE 11 Linux amd64-64-Bit Compressed References 20190806_300 (JIT enabled, AOT enabled)
OpenJ9   - 85b0693e8
OMR      - 6e99760b
JCL      - 965d0c0df3 based on jdk-11.0.4+11)

The

[2019-08-07 16:16] mikezhang1234567890 commented on #6683
[fftest.zip](https://github.com/eclipse/openj9/files/3477940/fftest.zip)
Here is a small test similar to what the minecraft mod above is doing.

OpenJ9 VM used to test:
[code]
Error:
[code]

Hotspot VM that passed:
[code]

[2019-08-07 16:53] gita-omr commented on #6486
@midronij opened a PR with a fix for openj9/compiler/p/runtime/PPCHWProfiler.cpp. Looks like it's the only file in openj9 that uses mc_func.

However, there is a number of OMR files that have mc_func as well. Some belong to the compiler and some not:

./include_core/AtomicSupport.hpp :#pragma mc_func __ppc_yield  {"7F7BDB78"}
./include_core/AtomicSupport.hpp :#pragma mc_func __ppc_dropSMT  {"7C210

[2019-08-07 16:56] gita-omr commented on #6486
@DanHeidinga we will fix CallStack.cpp but hoping somebody familiar with the code will fix the rest.

[2019-08-07 19:03] harryyu1994 commented on #6687
[code]
while running `cmdLineTester_GCRegressionTests_2`

[2019-08-07 22:02] hangshao0 commented on #6549
The workaround for 0.15.1 builds is to use sub-option `checkURLTimestamps` after `-Xshareclasses:`. e.g. `-Xshareclasses:checkURLTimestamps`

[2019-08-07 23:31] gacholio commented on #6683
Based on the stack trace, I'm not surprised - we are not allowing setting of final fields from the "wrong" initializer - instance fields only from <init> and static fields only from <clinit>.

[2019-08-07 23:32] gacholio commented on #6683
What is the result of running this on a HotSpot JDK11 VM (I'll try it myself eventually!)?

[2019-08-08 00:33] LukeButters commented on #6549
is that workaround needed with the change you made in #6686 ?
How do I get a compiled version of openj9 with your change @hangshao0?

[2019-08-08 01:18] 15838028035 opened #6697 "java.util.concurrent.ConcurrentHashMap memory problem"
Hi,
when i use java , run spring boot application,  run commnad like this:
jps -l

jmap -histo:live pid

console log like this:

   1:         57214        5670408  [C
   2:          4663        2260616  [B
   3:         42466        1358912  java.util.concurrent.ConcurrentHashMap$Node
   4:         56208        1348992  java.lang.String
   5:         11259        1245808  java.lang.Class
   6:

[2019-08-08 06:21] ashu-mehra commented on #6697
Are you using OpenJ9? If yes, do you see any difference in behavior when using Hotspot JVM?

[2019-08-08 06:32] 15838028035 commented on #6697
no , i am use hotspot jvm ,

[2019-08-08 06:55] ashu-mehra commented on #6697
Actually this project does not look into problems related to Hotspot JVM.
For Hotspot specific issues, you can use their mailing list or use stackoverflow.com

And coming to your specific concern, the jmap histogram does not give any evidence that the problem is related to JVM. It can be that your application needs that many `java.util.concurrent.ConcurrentHashMap` objects. If you are looking for

[2019-08-08 07:00] 15838028035 commented on #6697
okay , thanks

[2019-08-08 08:19] M-Davies opened #6698 "JTReg Test Failure: java/lang/StackWalker/Basic.java"
Failure link
------------

- Test: https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/965d0c0df359f3da224b865701bbcc044b7104c2/test/jdk/java/lang/StackWalker/Basic.java#L1
- Build: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1868/
- Test Catergory: openjdk
- Fails on x86-64-windows, x86-64-linux, x86-64-osx (passes on hotspot)
Build SHA's
- Version: 11.0.4+11
- OpenJ9: 85b0693e

[2019-08-08 10:18] adam-thorpe opened #6700 "JTReg Test Failure: java/lang/annotation/AnnotationsInheritanceOrderRedefinitionTest.java"
Failure link
------------
- Test: https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/annotation/AnnotationsInheritanceOrderRedefinitionTest.java
- Build: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1869
- Test Category: openjdk
- Test Suite Name: jdk_lang
- OS/Architecture: x86-64-windows, x86-64-linux, x86-64-osx, ...
- OpenJDK Version: 11.0.4+11
- Pu

[2019-08-08 10:19] adam-thorpe opened #6701 "JTReg Test Failure: java/lang/annotation/loaderLeak/Main.java"
Failure link
------------
- Test: https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/annotation/loaderLeak/Main.java
- Build: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1870
- Test Category: openjdk
- Test Suite Name: jdk_lang
- OS/Architecture: x86-64-windows, x86-64-linux, x86-64-osx, ...
- OpenJDK Version: 11.0.4+11
- Public Build SHAs:
- OpenJ9 -

[2019-08-08 11:10] M-Davies commented on #6659
Testing of `ToString` and `printStackTraceElement` with `extended` boolean's attached fails. This could be a building block for a potential fix however.

[2019-08-08 12:56] #6697 closed

[2019-08-08 13:03] pdbain-ibm commented on #5164
Pull request for jcmd Dump.[heap, java, snap, system] opened: https://github.com/eclipse/openj9/pull/6702. FYI @avermeer .

[2019-08-08 14:15] M-Davies opened #6704 "JTReg Failure: java/lang/StackWalker/LocalsAndOperands.java"
Failure link
------------

- Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/965d0c0df359f3da224b865701bbcc044b7104c2/test/jdk/java/lang/StackWalker/LocalsAndOperands.java#L1 is consistantly failing on openj9 (hotspot is fine)
- Build: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/83/
- Category: openjdk
- Target: jdk_custom
- OS/architecture: openjdk_x86-64_linu

[2019-08-08 14:48] hangshao0 commented on #6549
No. It is only needed for builds with out my fix.

Once the change is merged and go through all our builds, it will be available at https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9

[2019-08-08 15:12] gacholio commented on #6683
The issue appears to be that we're now enforcing that static fields be set only from static methods and instance fields only from instance methods, which is not the previous permissive behaviour.

[2019-08-08 15:47] mikezhang1234567890 commented on #6683
Hotspot JDK11 VM runs the test normally.
[code]

[2019-08-08 16:15] lumpfish commented on #898
The current openj9 build creates javadoc for the com.sun.management package in docs/jre/api/management/extension.

@pshipton - are you expecting the javadoc for com.ibm.lang.management to replace the com.sun.management javadoc in docs/jre/api/management/extension or that it be added as a package under docs/platform/management as specified in https://github.com/ibmruntimes/openj9-openjdk-jdk8/issue

[2019-08-08 16:31] sogutbera commented on #4985
In JDK8 proxy classes are defined using defineClass0, however in JDK11 they are defined using UNSAFE.defineClass

https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/46e5e62038e4ad1f3b3d7debebaf5d5d594f9934/jdk/src/share/classes/java/lang/reflect/Proxy.java#L642

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/965d0c0df359f3da224b865701bbcc044b7104c2/src/java.base/share/classes/java/l

[2019-08-08 17:22] andrewcraik commented on #6642
Has it been 7 days already? We had a couple of days off here in Canada so I guess it has...

Anyway I have still been looking at this to try and figure out what is going on. I've been doing some experiments with:
[code]

So some configurations and some notes - all runs are averages of 3 on a skylake linux perf box. I'm pinning to 4 cores.

config | time | notes
-------|------|-------
baseline | 48

[2019-08-08 17:38] DanHeidinga commented on #6642
@andrewcraik Can you also do a run with `-verbose:class` to see if there is significant classloading that continues to occur throughout?  Does JAXP generate classes at runtime?  Is there something we're doing that Hotspot isn't that causes them to be continually regenerated?

[2019-08-08 18:55] hangshao0 commented on #6466
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/java.base/share/classes/jdk/internal/loader/BuiltinClassLoader.java#L241toL255
The comment says return whether -Xshareclasses is used in the CML.

So this line should also check if J9SHR_RUNTIMEFLAG_ENABLE_CACHE_NON_BOOT_CLASSES is set at javaVM->sharedClassConfig->runtimeFlags
https://github.com/eclipse/openj9/blob/master/runtime

[2019-08-08 18:59] avermeer commented on #5164
@pdbain-ibm thank you very much for this notification, couple of people in my organization got in touch with me asking for this, so it's good to see progress here.

When do you think OpenJ9 nightly build at https://adoptopenjdk.net/ could include this pull request?

Kind regards,
Alexandre Vermeerbergen

[2019-08-08 19:13] theresa-m commented on #6466
thanks I'll give it a try

[2019-08-08 19:22] dmitry-ten commented on #6687
The original issue raised should be fixed by #6582. The bug was that `runFEMacro_targetTypeL` was sending incorrect type back tho the server - `uintptrj_t` instead of `TR_OpaqueClassBlock*`.
The other 2 issues seem to be unrelated to that and caused by some weird compilation failure handling.

[2019-08-08 19:46] harryyu1994 commented on #6687
I'm seeing a crash on JITServer inside `remote::processEntry` with my set of connections changes during sanity runs, however, the failure is intermittent. I'm trying to reproduce it with my debug build so that I know exactly where we crashed in `remote::processEntry`.

[2019-08-08 19:49] pdbain-ibm commented on #5164
That depends on how long it takes to have it reviewed.  @keithc-ca could you take a look?

If you want a build sooner, I can brew one up for you on MacOS or Linux X86 and deliver it privately.

[2019-08-08 20:32] ChengJin01 commented on #5058
I suspect the problem with DDR pointer & structure classes came from the make jobs in parallel specified with `--with-jobs=4` to speed up the compilation.  Will try to set up `--with-jobs=1` in configuration  to see how it goes by running jobs serially.

[2019-08-08 20:54] keithc-ca commented on #5164
Our jenkins is migrating to new infrastructure and not all the kinks have been worked out yet.
Until then, PR builds are not available and very little is likely to be merged.

[2019-08-09 00:29] pdbain commented on #5164
Thanks, Keith.  FYI, I ran an all-platform extended functional tes build on the internal Jenkins farm.  I look forward to your review comments.

[2019-08-09 01:04] dmitry-ten commented on #6677
Fixed by #6582

[2019-08-09 03:50] harryyu1994 commented on #6687
[code]

[2019-08-09 08:48] #6677 closed

[2019-08-09 13:23] JasonFengJ9 opened #6710 "Provide OS identity helper methods in java.base"
There are ~10 place in current code base to determine an OS type via `com.ibm.oti.vm.VM.getVMLangAccess().internalGetProperties().getProperty("os.name")`.

Those can be consolidated to helper methods within `java.base` such as `VM.isZOS()`, `VM.isWindows()`, etc.

A thought from https://github.com/eclipse/openj9/pull/6702#discussion_r312309785

[2019-08-09 14:20] theresa-m commented on #6466
thanks @hangshao0 adding that check has fixed it. just going to run some more tests before opening a pr..

[2019-08-09 14:49] pquiring opened #6711 "Add option to allow JNI function getArrayElements to return isCopy = FALSE"
Add some sort of -XX: flag so that the JNI function getArrayElements() always returns a non-copy of the array.  I've tried to use -XX:+AlwaysUseJNICritical but then the app crashes quickly.
The new option should force the GC to avoid moving memory (compacting) or fragmenting arrays.
Of course there would be memory inflation issues but that is a reasonable trade off for needed performance.
I have s

[2019-08-09 15:00] harryyu1994 commented on #6687
The intermittent crash happened in `ClientSessionData::getSequencingMonitor`
[code]

[2019-08-09 15:03] mpirvu commented on #6687
`(this=0x0)` means that there is no valid clientSessionData

[2019-08-09 15:06] mpirvu commented on #6687
@dmitry-ten Comment https://github.com/eclipse/openj9/issues/6687#issuecomment-519766874 indicates an assert with `static attributes from client and cache do not match`
Didn't we fix those asserts?

[2019-08-09 15:10] harryyu1994 commented on #6687
most likely due to `StreamInterrupted` being thrown before clientSessionData got assigned/created in `remote::processEntry`

[2019-08-09 15:12] a7ehuo opened #6714 "JITServer intermittent failure in _cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_2"
While merging master into the jitaas branch, observed intermittent failures with the extended.functional test `_cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_2`.

FR: 5/51 (before merge)
[code]

FR: 3/70 (after merge)
[code]

[code]

Baseline:
[code]

[2019-08-09 15:19] pdbain-ibm opened #6715 "Failure in SyntheticGCWorkload_concurrentSlackAuto_1k_J9_0"
Ran the test locally on Ubuntu Linux. Also fails on personal builds on local Jenkins farm.

To reproduce:
- Installed JDK:
[code]
- follow the instructions in https://github.com/eclipse/openj9/wiki/Reproducing-Test-Failures-Locally.
- run the test using `make -f ../functional/SyntheticGCWorkload/autoGen.mk _SyntheticGCWorkload_concurrentSlackAuto_1k_J9_0`.

Optional info
-------------

- intermitt

[2019-08-09 15:20] a7ehuo opened #6716 "JITServer intermittent failure in _ jsr335tests_SE80_5"
While merging master into the jitaas branch, observed intermittent failures with the sanity.functional test `_jsr335tests_SE80_5`.

FR: 11/100 (before merge)
[code]

FR: 9/100 (after merge)
[code]

[code]

[2019-08-09 15:26] smlambert commented on #6715
This is a newly-added test that needs to be 'tuned'.  Requesting some assistance from @LinHu2016 to ensure we are using the correct settings/inputs for this test.

[2019-08-09 15:39] DanHeidinga commented on #6655
The following `jshell` script demonstrates the issue:
[code]

Expected output:
[code]

[2019-08-09 15:53] LinHu2016 commented on #6715
this issue had been seen once before, the test is designed to run twice with the config-ed data model, first run should generate big fragmentation to cause 10-20 abort case and some percolate cases, but in some special systems, it does not generate fragmentation, so it could cause second run the worse result, we need to update the test to handle the case,
but if it failed all of platforms or all t

[2019-08-09 17:37] pdbain-ibm commented on #6710
Note that there are OS detection functions in OMR, see `/omr/compiler/env/OMREnvironment.hpp`.

[2019-08-09 17:37] pdbain-ibm commented on #6715
Failed 3/3 runs on my Linux system, and fails in my personal builds.

[2019-08-09 17:48] pdbain-ibm commented on #6675
`accessProvider` is not part of the defined API for `System.LoggerFinder`. This test is relying on an unspecified implementation detail.

[2019-08-09 19:09] JasonFengJ9 commented on #6674
The AccessControlException was thrown by https://github.com/eclipse/openj9/blob/5dd23af8483d4671fe6ad2ff372bcf0e6fd74891/jcl/src/java.base/share/classes/java/lang/System.java#L1368.

[2019-08-09 19:15] JasonFengJ9 commented on #6674
@adam-thorpe can you clarify if this is a regression (there is no recent change in this area)?

[2019-08-09 19:41] JasonFengJ9 commented on #6661
Does `RI` pass this testcase? does the module `m` export the package `p`?

[2019-08-09 20:17] JasonFengJ9 commented on #6674
`RI` does throw `AccessControlException` for `LoggerFinder.getLoggerFinder()`. As per [1], `System.getLogger​(name, bundle)` should not throw `AccessControlException`.
It appears an `AccessController.doPrivileged()` is missing here.

[1] https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/System.html#getLogger(java.lang.String,java.util.ResourceBundle)

[2019-08-09 20:21] LinHu2016 commented on #6715
Just reviewed the test result, which @pdbain-ibm posted in issue description, realize global gcs in second run almost 4 times more than in first run.  it looks like the concurrent gc kick off issue, it might be related with recent new gc change(https://github.com/eclipse/openj9-omr/commit/aec40ce26d54d434f39de2f8cb93fe0cf60a082b), I am not familiar with this new change, will investigate the detail

[2019-08-09 20:41] gyuuu opened #6720 "-Xshareclasses causes crash on Google Cloud Run"
The **-Xshareclasses** option causes a jvm crash when runing on[ Google Cloud Run](
https://cloud.google.com/run/)

The error message tells that there is **no free space available**.

As Stated on the Filesystem Access section of [this](https://cloud.google.com/run/docs/reference/container-contract) page, **Cloud Run uses some kind of In memory file system**

I tried this with Micronaut and Spring

[2019-08-09 21:05] andrewcraik commented on #6642
So I have done a few more experiments. Enabling nextGenHCR during startup doesn't seem to make much of a difference to the performance. Using the new JProfiling implementation for high optimization compiles that @r30shah seems to cut the time to around 44.5 seconds which helps, but there is still more on the table. More investigation to come.

@DanHeidinga Looks like there is a lot of class loadin

[2019-08-10 17:32] Nsiso opened #6722 "Chinese path in JavaAgent have some encoding problem"
Hello
I'm using openj9 to launch the minecraft (funny...)
when I'm using the JavaAgent to create a jvm, the problem appear:
the command line is like this:
javaw.exe -javaagent :"E:\MC\^桌面\华拥\华拥客户端\xxxxxxxx\xxxxxx.jar"=xxxxxxxx ...(and many other args)
you will see the path is including chinese characters
After the launch, the jvm will return the error message:
![TIM图片20190811012159](https://user-i

[2019-08-10 17:44] Nsiso commented on #6722
Error message I didn't intercept complete, In front of the error is:
Error opening zip file or JAR manifest missing : [the messy path]

[2019-08-12 01:35] hangshao0 commented on #6720
The shared cache directory can be changed by setting environment variable `HOME` or use sub-option `cacheDir=<Dir>` after `-Xshareclasses:`

Is the file system tmpfs or ramfs ?

I'm also interested in what happens if you use `nonpersistent` sub-option. (e.g. `-Xshareclasses:nonpersistent`).

[2019-08-12 02:57] hzongaro commented on #6642
FYI.  The default class name XSLTC uses for the class it generates for an XSLT stylesheet is *GregorSamsa*.  That was the case both with the XSLTC native API that Andrew mentions and also under the covers when using XSLTC as part of a JAXP implementation.

If the customer's code is recompiling the XSLT stylesheet each time it's used, it will generate a new set of classes each time - those classes

[2019-08-12 08:08] adam-thorpe commented on #6674
As far as I am aware, these are all regression tests, which have been excluded from the test suites since at least September 2018, if not longer, which may be why there haven't been any recent changes.

[2019-08-12 08:24] adam-thorpe commented on #6661
What is `RI`? I'm sorry but I don't really know what this test is doing and am not sure what m and p relate to in this code.

[2019-08-12 08:36] adamfarley commented on #5399
Re: https://github.com/eclipse/openj9/issues/5399#issuecomment-481720386

Hey @dmitripivkine, looks like a user in the OpenJ9 slack is seeing a problem that looks like this. Especially this bit:
[code]

[2019-08-12 08:37] adamfarley commented on #5399
Could this be related to this issue's original cause, or should I open a new issue to cover it?

[2019-08-12 10:29] JasonFengJ9 commented on #6661
Reference Implementation (RI) is OpenJDK with hotspot JVM. OpenJ9 is an independent implementation with its own JVM and a thin layer of Java glue code integrating with OpenJDK Java Class Library (JCL).
If a test fails RI as well, it usually suggests a test issue or a problem required to be addressed within OpenJDK community.

`m` is a `module` and `p` is a `package`. The error message is self-expl

[2019-08-12 10:30] JasonFengJ9 commented on #6674
I see the problem now, will submit a fix later.

[2019-08-12 12:23] smlambert commented on #5399
FYI, Dmitri is away for the week.

[2019-08-12 12:41] M-Davies opened #6724 "JTReg Failure: java/lang/StackWalker/ReflectionFrames.java"
Failure link
------------
- Link: https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/965d0c0df359f3da224b865701bbcc044b7104c2/test/jdk/java/lang/StackWalker/ReflectionFrames.java#L1 (2 tests out of 7 are failing)
- Category: openjdk
- Target: _jdk_custom (jave/lang/StackWalker/ReflectionFrames.java) NOTE: `StackWalker` appears to be causing a lot of problems for JDK11
- Architecture: Consist

[2019-08-12 12:43] andrewcraik commented on #6642
So looking at the benchmark as attached previously the `static void run` method is doing `TransformerFactory.newInstance()` is done once. Inside the `static void benchmark` layer there is a new template being on each iteration of the core loop. I am going to experiment by moving this logic out of the loop and allowing the same transformer to be reused. This would simulate the code transform being

[2019-08-12 12:49] M-Davies commented on #6724
This test is potentially not appropriate for openj9 since `invoke()` is linked to a HotSpot implementation of `Method.class`. I would appreciate a 2nd opinion on the matter.

[2019-08-12 12:53] andrewcraik commented on #6642
So I can confirm that moving the lines:
[code]
out of the `benchmark` function's loop stops the huge amount of class loading. The removal makes the difference between `-Xverify:none` and default hard to measure.

[2019-08-12 13:06] DanHeidinga commented on #6642
@andrewcraik Do you have profiles of the application?  I'd like to see both which java calls are hot and which VM calls are hot to see if there's an obvious bottleneck in the classload path.

[2019-08-12 13:15] andrewcraik commented on #6642
With the modified benchmark the total runtime has dropped below 12s - we are now dealing with quite a short running benchmark if run in the same configuration which puts the benchmark into a domain where startup performance is important.

If I double the work to keep the execution time over 10s to minimize the start-up/ramp-up artifacts then I see the following:

config | runtime
-------|---------

[2019-08-12 13:19] andrewcraik commented on #6642
Part of the problem may just be that we have a lot of code running in the interpreter if each of the stylesheets is created and a lot of the code is only run once.

[2019-08-12 13:27] kgibm commented on #6642
Interesting finds.

It's quite possible that this benchmark is not representative. I wrote this code from scratch based on HealthCenter profiling of the actual workload and then mimicking some of the XML document structure and XPaths used, but it's quite possible that the application/stack product that runs the actual workload does not call newTemplates/newTransformer; I will ask to run some trace

[2019-08-12 13:33] andrewcraik commented on #6642
@kgibm an `-Xverbose:class` will show how much class loading is going on though there may be a better -Xtrace option for that - @DanHeidinga thoughts? A perf record of steady state `-Xjit:perfTool` would show where time is really going in the system - an -Xtrace for method entry would be a poor mans approximation of that I think. @DanHeidinga again any additional thoughts on trace to see if the be

[2019-08-12 13:51] DanHeidinga commented on #6642
If the source is available, I'd start by greping the code base for `TransformerFactory.newTemplates()` calls as that's the context that will determine if the XLST stylesheet is allowed to change or not.  If that shows the style sheet doesn't change (or mostly doesn't change), it provides the opportunity to cache the `Templates.newTransformer()` objects.

Otherwise, I'd go with @andrewcraik's `-Xve

[2019-08-12 13:57] dmitry-ten commented on #6687
@mpirvu yeah, I thought we fixed those. Should take a look at it again.

[2019-08-12 13:58] adam-thorpe commented on #6661
Oh I see sorry, yes I have tested this with hotspot builds of openjdk11 and it passes. And no it does not explicitly export the package to java.base

[2019-08-12 14:18] mpirvu commented on #6602
I had some runs outside docker with a single instance of AcmeAir using "-Xms1G -Xmx1G" and adding -Xshareclasses:none for OpenJ9. The throughput gap is about 5% in this configuration. THP was enabled on the machine and the JVM process was pinned to 4 HW threads (2 cores with their hyperthreding counterpart).

[code]

Attn: @andrewcraik

[2019-08-12 14:21] JasonFengJ9 commented on #6661
That sounds a problem with OpenJ9.
@adam-thorpe could you attach that testcase in this issue?

[2019-08-12 14:24] mpirvu commented on #6603
@kusumachalasani Could you please post all the details about the experiment:
- The exact docker run command line
- Any heap settings that were used
- How many jmeter clients are simulated and the way load is applied to the system.
- Version of liberty and how the thread pool was configured

Thanks

[2019-08-12 14:26] andrewcraik commented on #6602
Has anyone tried this with head - eg the nightly? Further is this a regression compared to a previous OpenJ9 build or just a gap we should be addressing? perf records for both VMs would be helpful in trying to find the cause of the gap or the opportunity to improve...

[2019-08-12 14:30] mpirvu commented on #6602
As far as I know a throughput gap for AcmeAir existed for a long time. I don't think this is a new regression.

[2019-08-12 14:46] andrewcraik commented on #6602
ok - this is an enhancement more than a defect then - eg we have an opportunity to improve. I just affects the relative priority of the issue compared to regressions. Thanks!

[2019-08-12 14:55] kgibm commented on #6642
Thanks all, I'll ask for that tracing (first `-verbose:class` + `-Xtrace`, and if that doesn't show heavy classloading after warmup, then `perf`) and report back (a huge stack product is involved on top of WAS, so a `grep` won't be easy).

[2019-08-12 15:13] adam-thorpe commented on #6661
here: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/93/

[2019-08-12 15:14] kgibm commented on #6642
For reference, I will propose:

[code]

[2019-08-12 18:00] LinHu2016 commented on #6715
Try to isolate and narrow done the issue, @pdbain-ibm could you please rerun the test with "export EXTRA_OPTIONS=-Xgc:tenureBytesDeviationBoost=0" on your local? see if still can reproduce the failure. Thanks

[2019-08-12 18:20] ChengJin01 commented on #5058
The native compilation result shows  `--with-jobs=1` doesn't help to generate `MM_SegregatedGCPointer.class`. Given that `MM_SegregatedGCPointer.java` was already created at `openj9/debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/pointer/generated`,  need to check what happened to the java code generation in all code/scripts involved.

[2019-08-12 18:25] pdbain-ibm commented on #6701
Reproduced locally.  Investigating...

[2019-08-12 18:48] a7ehuo commented on #6716
Looks like `  what():  JITServer I/O error: flushing stream` occurs at the end of processing the compilation entries and the client tries to send `JITServer::MessageType::connectionTerminate` to the server.

https://github.com/eclipse/openj9/blob/683d018c1d46a430fad7ed0f4379321f66a1ac4d/runtime/compiler/control/CompilationThread.cpp#L3999
[code]
[code]
[code]

[2019-08-12 19:32] pdbain-ibm commented on #6715
I ran:
[code]
The test still failed.

[2019-08-12 19:37] pdbain-ibm commented on #6701
This test is invalid.
[code]

Line 49 creates a weak reference to the `Class` object for `C`.  It then runs two GCs, which clear the weak reference to the `Class` object because there are no strong references to the object, as designed.

[2019-08-12 19:39] LinHu2016 commented on #6715
@pdbain-ibm Could you please share failure output? Thanks

[2019-08-12 19:42] gyuuu commented on #6720
I already used the **cacheDir** sub-option, but I forgot to include that example here. **It makes no difference.**

The **nonpersistent** option **makes it work**, however it **defeats the purpose**. My goal is to make the container start fast while keeping it stateless.

My original setup looked like this: **-Xquickstart -Xtune:virtualized -Xshareclasses:cacheDir=classCache,name=appname,readonly*

[2019-08-12 19:49] kgibm opened #6727 "unlimitCoreFileSize doesn't check errno for getrlimit/setrlimit"
While investigating a reported issue of core files not being produced even though supposedly the core hard ulimit was unlimited (waiting on javacore for confirmation), I noticed that [`unlimitCoreFileSize`](https://github.com/eclipse/openj9-omr/blob/v0.15.0-release/port/unix/omrosdump.c#L307) doesn't check the return result (`errno`) for the `getrlimit` and `setrlimit` calls. It would be nice if i

[2019-08-12 19:59] andrewcraik commented on #6727
FYI @DanHeidinga

[2019-08-12 20:26] gyuuu commented on #6720
The [Official documentation](https://www.ibm.com/support/knowledgecenter/en/SSFPJS_8.6.0/com.ibm.wbpm.admin.doc/topics/rins_trbl_profile_create.html) states that **there should be at least 20MB in the /tmp** directory for profile creation.

I checked the free space with a simple Docker image

FROM ubuntu
WORKDIR /app
ENTRYPOINT echo "free -h" && free -h && echo "COMMAND: df -k /app" && df -k /app

[2019-08-12 21:29] a7ehuo opened #6729 "JITServer exception/assert: Arity mismatch: Expected 1 args to unpack but got 9-tuple"
It looks to me if this exception or assert is generated at the end of the compilation, it could be false positive.

Two issues here:
1. The error message might not be accurate. The code checks the received message size against the number of args to be expected. It'd be more accurate to say `"Received " + std::to_string(message->data_size()) + " args to unpack but expect " + std::to_string(sizeof..

[2019-08-12 21:56] hangshao0 commented on #6720
The default shared cache directory was /tmp and the default shared cache size was 16MB.
But it is now user's home and 300MB on OpenJ9. You can use `-Xscmx<size>` to change the shared cache size.

Eclipse OpenJ9 uses this API from Eclipse OMR to determine the free space bytes:
https://github.com/eclipse/omr/blob/master/port/unix/omrfile.c#L1224

Not all file system define every field of struct stat

[2019-08-12 22:17] gyuuu commented on #6720
I tried it a custom **cacheDir** and created the cache with -**Xscmx32m**, and added that one to the Docker Image.

I found the 20MB requirement for /tmp in the [documentation of the error message I got](https://www.ibm.com/support/knowledgecenter/en/SSFPJS_8.6.0/com.ibm.wbpm.admin.doc/topics/rins_trbl_profile_create.html)

This is the **output of the mount command** on Cloud Run

none on / type o

[2019-08-12 22:32] hangshao0 commented on #6720
OK... it returns `none` for all mounts. I don't know why google cloud run hide the file system type.....
The JVM needs to know the file system type so that we can skip the free space size check.

Probably need to write a simple program to get statfs.f_type programmatically.
http://man7.org/linux/man-pages/man2/statfs.2.html

[2019-08-12 23:39] hangshao0 commented on #6720
Ahh I see. The filesystem type is overlayfs.

Please ignore https://github.com/eclipse/openj9/issues/6720#issuecomment-520619554

So the issue here is that the JVM fails to start when you use `-Xshareclasses:cacheDir=/tmp -Xscmx32m`. And it works fine if you create a non-empty file under /tmp. @gyuuu Can you please confirm ?

[2019-08-13 02:53] mpirvu commented on #6729
So the error message is wrong: it expect 9 arguments, but it only got one. Nice find!
There are two possible fixes:
1) Always send 9 arguments, even in case of error. The arguments that are not needed could be empty
2) Create a different type of message that is sent when the compilation fails at the server. The client will only try to read the error code in this case.

I feel that solution 2 is cl

[2019-08-13 04:18] harryyu1994 commented on #6716
I think I forgot to have a try & catch block for that `writeError()` message.

[2019-08-13 04:28] harryyu1994 commented on #6716
The problem could be due to writing to an already closed connection.

[2019-08-13 06:32] gyuuu commented on #6720
No, not really.

**It fails with any cacheDir setting I tried so far**.
These are the ones I tried:

- no cacheDir specified
- using /opt as cacheDir
- adding a cacheDir to the image created on my PC, and setting that one as cacheDir (even the readonly sub-option don't make any difference)
The last option is the one I want to use.

The only sub-option that makes it **work** is the **nonpersistent*

[2019-08-13 07:44] kusumachalasani commented on #6602
Apologies for the late response. All the machines went down to collect the results.
I did some re-runs with 1 instance, and I see with THP enabled, the gap didn't increase.
With THP and no THP OpenJ9 is ~4-5% lower than OpenJDK.

The main  description results are with  config, using all 4 processors in a machine for all instances in a 4C-4GB machine.

Sharing new set of results, with following con

[2019-08-13 12:01] JasonFengJ9 commented on #6722
could you provide a simplified command line showing that Oracle Java works but OpenJ9 doesn't?

I think there was a known issue about Windows wide character encoding support in Java launcher which is common to both JVM though.

[2019-08-13 15:19] harryyu1994 commented on #6729
solution 1 is much easier to implement, but solution 2 is probably easier for people to understand.

[2019-08-13 15:31] harryyu1994 commented on #6687
`Expected 1 args to unpack but got 9-tuple` Issue ----> https://github.com/eclipse/openj9/issues/6729

[2019-08-13 15:31] hangshao0 commented on #6720
Might need an option to skip the file system free space check. FYI @pshipton

[2019-08-13 15:35] a7ehuo commented on #6729
I'll implement solution 2.

[2019-08-13 15:43] harryyu1994 opened #6731 "JITServer exception: JITServer expected message type 4 received 1"
[code]

[code]
while running `cmdLineTester_GCRegressionTests_2`

[code]

[code]

[2019-08-13 15:47] harryyu1994 commented on #6731
JITServer is expecting a compilationRequest (readCompileRequest()) but received a mirrorResolvedJ9Method.

[2019-08-13 18:46] harryyu1994 commented on #6731
[code]

[2019-08-13 19:20] harryyu1994 commented on #6729
FYI, apparently this fixed a whole bunch of asserts I was getting. I made a patch (solution 1) for my own code it looks like this fixed the asserts I was getting in #6687.

[2019-08-13 19:26] pshipton commented on #898
@lumpfish the non-applicable to OpenJ9 com.sun.management javadoc must be removed. The Openj9 com.ibm.lang.management interfaces should be added as this package. Some of the OpenJ9 implementation (specifically GarbageCollectorMXBean, OperatingSystemMXBean, UnixOperatingSystemMXBean) implement the com.sun.management interfaces, and this needs to be reflected in the javadoc.

[2019-08-13 19:28] pshipton commented on #898
I expect these OpenJDK interface classes can just remain as part of the javadoc generation.

[2019-08-13 19:33] ymanton commented on #5480
What are the prospects of getting this into the 0.16 release? Can we aim for that?

[2019-08-13 21:00] pshipton commented on #6475
@Mesbah-Alam it seems worth more investigation in order to have a robust test. Were you able to reproduce the problem with Hotspot using 8 cpus? Your comment doesn't say.

Hard coding a bigger heap size doesn't seem like a fix, but a hack which may not always work. That said, it does make sense that more threads can run more concurrent testing, which will have a bigger memory requirement. Perhaps

[2019-08-13 21:01] pshipton commented on #6475
and btw, when testing with Hotspot to see if the issue can be reproduced, -Xmx512m should be used.

[2019-08-13 21:35] ChengJin01 commented on #5058
Investigation shows that superset.dat was not correctly generated on RISCV (MM_GlobalCollector was missing) as compared to that on Linux/x86.
As a result, the generated pointer classes was wrong in java code.
e.g.
[code]
Also checked the corresponding libj9ddr_misc29.so.dbg (used to output MM_SegregatedGC in  superset.dat) and it seems the DW_TAG_inheritance entry doesn't exist in there as compare

[2019-08-13 22:25] harryyu1994 commented on #6731
Potential problematic spots to be investigated:
1. JITServer calls `TR_ResolvedJ9JITaaSServerMethod::getResolvedPossiblyPrivateVirtualMethod`
- This API could send JITClient a message of either type `ResolvedMethod_getResolvedPossibilyPrivateVirtualMethodAndMirror` or a whole bunch of other types involving resolvedmethod.
2.
[code]
3.
[code]

[2019-08-13 23:31] a7ehuo commented on #6716
Looks like the fix from #6733 won't fix `jsr335tests_SE80_*` test failures. Ran local sanity and got `jsr335tests_SE80_3_FAILED`.
[code]
```what():  JITServer I/O error: flushing stream: GetErrno 32```
```#define EPIPE           32      /* Broken pipe */```

[2019-08-14 09:07] adam-thorpe opened #6735 "JDK13 JTReg Failure: java/util/stream/test/org/openjdk/tests/java/util/SplittableRandomTest.java"
Failure link
------------
- Test: https://github.com/ibmruntimes/openj9-openjdk-jdk13/blob/openj9/test/jdk/java/util/stream/test/org/openjdk/tests/java/util/SplittableRandomTest.java
- Build: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/96/
- Test Category: openjdk
- Test Suite Name: jdk_util
- OS/Architecture: x64_windows and x64_linux
- OpenJDK Version: 13+30
- Public Build

[2019-08-14 11:34] JasonFengJ9 commented on #5274
@M-Davies any chance to try `-Dcom.ibm.tools.attach.logging=yes`?

[2019-08-14 12:38] pdbain-ibm commented on #6715
[code]

[2019-08-14 12:40] pdbain-ibm commented on #6715
You can reproduce the failure by following the instructions in https://github.com/eclipse/openj9/wiki/Reproducing-Test-Failures-Locally
The command to run the test in question is `make -f ../functional/SyntheticGCWorkload/autoGen.mk _SyntheticGCWorkload_concurrentSlackAuto_1k_J9_0`.

[2019-08-14 12:47] M-Davies commented on #5274
Just got them this morning
[PassingLinux.log](https://github.com/eclipse/openj9/files/3501389/PassingLinux.log)
[FailingWindows.log](https://github.com/eclipse/openj9/files/3501390/FailingWindows.log)

[2019-08-14 14:32] M-Davies commented on #5274
Test failed with the same error as above. Running two more internal tests (one which should pass and one with `-Dcom.ibm.tools.attach.enable=no`, both with logs enabled)

[2019-08-14 14:52] M-Davies commented on #6659
https://github.com/M-Davies/openj9-openjdk-jdk11/commit/09fe4255fbe9bfed4e043d71bad85f05efbd21d7
https://github.com/M-Davies/openj9/commit/14dcac2b8fc71cdbcd588c2945a7fd099b5403be
https://github.com/M-Davies/openj9/commit/41c1ab496201641ffc610b56ea599aaa9341c7c3

Undergoing testing for the above commits that should fix the problem

[2019-08-14 15:22] JasonFengJ9 commented on #5274
Thanks @M-Davies, pls collect following info:
1. does this test fail only in Windows?
2. is the failure intermittent?
3. ensure `-Djdk.attach.allowAttachSelf=true` in the command line;
4. start the test in an empty folder with `-Dcom.ibm.tools.attach.logging=yes`, after the test, zip all files and subdirectories without modifying the file names;
5. specifically, is there any sub-folder in current

[2019-08-14 15:27] pdbain-ibm commented on #5558
FYI @JasonFengJ9

[2019-08-14 18:33] gacholio commented on #6711
`-XX:+AlwaysUseJNICritical` does exactly this.

[2019-08-14 19:01] sogutbera commented on #4985
We removed the Unsafe.defineClass in Java 11 and used defineClass0 as in Java 8 and it seems like it is working. I am able to see the $Proxy0 class in the SCC as an orphan.

[2019-08-14 19:53] pdbain-ibm commented on #6486
@gita-omr and @ymanton Linux PPC uses the same pragmata.  Would you like me to replace them too?

[2019-08-14 20:26] LinHu2016 commented on #6715
Base on the output of the run, looks like java options did not pass in the command, so workload was running under the default mode, which data model doesn't match heap env, then generate unpredictable test case.

pass to Test team for detail fixing

[2019-08-14 20:26] LinHu2016 commented on #6715
@renfeiw

[2019-08-14 20:32] #6549 closed

[2019-08-14 20:57] a7ehuo opened #6740 "JITServer crash while running _SharedCPEntryInvokerTests_0 test"
While testing changes from #6733 with sanity `_SharedCPEntryInvokerTests_0`, running into JITServer crash because `clientSession` is NULL. Meanwhile the client complains StreamMessageTypeMismatch.

=== Server ===
[code]

=== Client ===
[code]

[2019-08-14 21:28] olendvcook opened #6741 "Unhandled Exception: Segmentation Error"
Java -version output
--------------------

[code]

[2019-08-14 21:29] olendvcook commented on #6741
[javacore.20190811.205155.6240.0002.txt](https://github.com/eclipse/openj9/files/3503422/javacore.20190811.205155.6240.0002.txt)

[stderr.txt](https://github.com/eclipse/openj9/files/3503423/stderr.txt)

[2019-08-14 21:35] olendvcook commented on #6741
javacore and snap in IBM only box link: https://ibm.box.com/s/ojr623lpqmo188ff3smx2v05gxtsxi4n

[2019-08-14 21:57] mpirvu commented on #6740
Maybe related to https://github.com/eclipse/openj9/issues/6687

[2019-08-14 22:00] mpirvu commented on #6740
And solution awaiting PR testing to become functional: https://github.com/eclipse/openj9/pull/6719

[2019-08-14 22:17] gacholio commented on #6724
@pdbain-ibm

[2019-08-14 22:20] kgibm commented on #6741
Proximate crash in `jdk/crypto/jniprovider/NativeCrypto.DigestUpdate(Native Method)` while closing a socket during finalization:

[code]

[2019-08-14 22:47] ymanton commented on #6486
@pdbain-ibm Yes, I don't see why not.

[2019-08-15 01:04] keithc-ca commented on #6741
This may be the same issue as #4530; the workaround suggested there is to disable the openssl digest support by using `-Djdk.nativeDigest=false`.

[2019-08-15 03:53] harryyu1994 commented on #6740
Should be resolved with #6719

[2019-08-15 08:31] M-Davies commented on #5274
1. Only on Windows, specifically to the `openjdk_x86-64_windows` hyc-runtimes Jenkins build:
[code]
Which produces:
[code]
I couldn't replicate the error locally on Windows 10 so I'm leaning towards this being an infrastructure issue at this point.
2. Intermittent. On the Adopt Jenkins:
[code]
The test also fails but with a different error:
[code]
3. I ran a 2nd test with that which failed with th

[2019-08-15 08:53] pmhayward commented on #6412
Pleas add doc:externals label if this is to be implemented

[2019-08-15 10:07] M-Davies commented on #6659
A potential fix could be to add `extended` as above and rejig `printStackTraceElement` to output the expected result, since the underlying `get()` functions work as intended

[2019-08-15 11:08] pshipton commented on #6741
@ashbm5

[2019-08-15 11:13] JasonFengJ9 opened #6742 "MauveSingleInvocationLoadTest_OpenJ9_0: ub16x64j97: Name or service not known"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly/110/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-08-15 11:15] pshipton commented on #6742
@AdamBrousseau @jdekonin

[2019-08-15 11:16] JasonFengJ9 opened #6743 "testDDRExt_Callsites_openj9_0 : Error parsing findallcallsites output for jvminit.c"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/111/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-08-15 11:16] pdbain-ibm commented on #6724
I'll takes a look.  FYI @pdbain.

[2019-08-15 11:24] pshipton commented on #6743
Expect this is the same as https://github.com/eclipse/openj9/issues/6239 and osx1013-x86-3 needs a reboot.
@AdamBrousseau @jdekonin

[2019-08-15 11:26] pdbain-ibm commented on #6486
@ymanton Thanks.  I have the changes partly complete and tested on AIX and LinuxPPC.  Would you kindly review the work in https://github.com/pdbain-ibm/omr/commit/e920bb1de4f5b0a779773ae832ae87a25639c6d0.  FYI I will squash and clean up the commit comments before opening the pull request.

[2019-08-15 12:03] JasonFengJ9 commented on #5274
Did the failure occur in a specific Jenkins machine?
Can those Windows machine be rebooted?

[2019-08-15 12:44] pdbain-ibm commented on #6724
@M-Davies I concur.

Dumping the actual vs expected for `testConstructor()`:
[code]

Similarly for `testNewInstance()`:
[code]

[2019-08-15 13:26] M-Davies commented on #6724
@pdbain-ibm Thanks for looking into this! I'm happy to put a lid on this issue if you are?

[2019-08-15 13:35] pdbain-ibm commented on #6724
Could you open an issue against the original test?  If possible we should get this test fixed and included in the OpenJ9 testing.

[2019-08-15 13:39] AdamBrousseau opened #6744 "get_sources.sh add ability to clone using reference repository"
This will be work in extensions but opening here to track overall.

For build purposes it would be more efficient if the get_sources.sh script had the option to pass a reference repository (repo cache) in order to make the clones of OpenJ9, OMR etc faster.

More info about git clone using a reference repo
https://git-scm.com/docs/git-clone#Documentation/git-clone.txt---reference-if-ableltrepositor

[2019-08-15 14:11] pdbain-ibm commented on #6704
`java.lang.ClassNotFoundException: java.lang.LiveStackFrame`

Note that `LiveStackFrame` is a proprietary class for OpenJDK and is not part of the documented JCL. Please close this issue and raise an issue against the original test.

[2019-08-15 14:12] M-Davies commented on #5274
It seems to be a general problem. I ran the test 5 times, each on a different machine, all failing with the `AttachNotSupportedException`

[2019-08-15 14:16] pdbain-ibm commented on #6659
I'll take a look. FYI @pdbain.

[2019-08-15 14:44] #6704 closed

[2019-08-15 15:11] ymanton commented on #6486
@pdbain-ibm It looks OK to me.

[2019-08-15 15:20] dredwardhyde opened #6745 "OpenJ9 performance in SPECjvm2008 is lower than GraalVM/Hotspot"
**I've tested the following JVM implementations in [SPECjvm2008](https://t.co/Ssw3vHqZ2i?amp=1):**
- GraalVM CE 25.222-b08-jvmci-19.1-b01
- GraalVM EE 19.1.1 25.221-b11-jvmci-19.1-b01
- Openj9-0.15.1 build 1.8.0_222-b10
- OpenJDK Zulu 8.40.0.25-CA-macosx 1.8.0_222-b10

**Environment:**
- Mac mini 2018 i7-8700b 3.2 GHz/32 Gb DDR4 2666MHz
- Clean installation of macOS Mojave 10.14.6
- Disabled SIP (

[2019-08-15 15:21] ashbm5 commented on #6741
looks like the same issue as #4530 and `-Djdk.nativeDigest=false` should disable the function.

The actual fix was delivered for Java11 and Java8 but not yet for Java12. If possible, you could try using latest nightly build of Java11 and see if that fixes the problem.

[2019-08-15 15:26] DanHeidinga commented on #6745
FYI @mstoodle @vijaysun-omr @andrewcraik

[2019-08-15 17:12] ashbm5 commented on #6741
https://github.com/ibmruntimes/openj9-openjdk-jdk12/pull/69 created to enable Message Digest and fix issue.

[2019-08-15 18:52] renfeiw commented on #6715
PR to fix the issue: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1283

[2019-08-15 18:54] JasonFengJ9 commented on #5274
Can we have machine access to grab the log files generated via `-Dcom.ibm.tools.attach.logging=yes`?

[2019-08-15 20:02] jdekonin commented on #6742
WIthout rights I cannot actual respin this failure on this machine to confirm the problem/resolution, so this will have to sit open until the test lands on this machine again, or we get access rights restored.

I updated the `/etc/hosts/` file which was not the same as the hostname.  I know that has caused issues in the past.

[2019-08-15 21:02] andrewcraik commented on #6745
Thanks - I'm going to see if we can recreate the result on one of our systems so we can take a look.

[2019-08-15 22:17] smlambert commented on #6742
or committer runs a Grinder:
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/474

@AdamBrousseau - is the ticket still open to work out the kinks of the migration?  I see we hit some other UnsupportedOperationException when running the Grinder job

java.lang.UnsupportedOperationException: no known implementation of class jenkins.tasks.SimpleBuildWrapper is named BuildUser

[2019-08-16 00:25] AdamBrousseau commented on #6742
We've been opening issues or pull requests (eclipse-cbi/jiro) as we find them. I think we're missing the BuildUser plugin in this case. I can open a PR shortly unless someone beats me to it.

[2019-08-16 01:02] AdamBrousseau commented on #6742
https://github.com/eclipse-cbi/jiro/pull/37

[2019-08-16 08:00] #6724 closed

[2019-08-16 08:12] M-Davies commented on #5274
I'll look into that

[2019-08-16 08:34] M-Davies commented on #5274
Log file for failing [AdoptOpenJDK Jenkins build] (https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/130/)
[openjdk_test_output (1).tar.gz](https://github.com/eclipse/openj9/files/3508755/openjdk_test_output.1.tar.gz)

[2019-08-16 08:39] andrew-m-leonard opened #6748 "jdk-11.0.5+3 failure: undefined reference to `JVM_InitializeFromArchive'"
04:51:32  /home/jenkins/workspace/Build_JDK11_x86-64_linux_Personal/build/linux-x86_64-normal-server-release/support/native/java.base/libjava/VM.o: In function `Java_jdk_internal_misc_VM_initializeFromArchive':
04:51:32  /home/jenkins/workspace/Build_JDK11_x86-64_linux_Personal/src/java.base/share/native/libjava/VM.c:67: undefined reference to `JVM_InitializeFromArchive'
04:51:32  collect2: error:

[2019-08-16 09:23] adam-thorpe opened #6749 "JDK13 JTReg Test Failure: java/rmi/activation/Activatable/checkAnnotations/CheckAnnotations"
Failure link
------------
- Test: https://github.com/ibmruntimes/openj9-openjdk-jdk13/blob/openj9/test/jdk/java/rmi/activation/Activatable/checkAnnotations/CheckAnnotations.java
- Build: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk13_j9_sanity.openjdk_x86-64_windows/19/
- Test Category: openjdk
- Test Suite Name: jdk_rmi
- OS/Architecture: x64_windows
- OpenJDK Version: 13+30
- P

[2019-08-16 10:23] adam-thorpe opened #6750 "JDK13 Test Failure: java/net/Socket/asyncClose/AsyncClose.java"
Failure link
------------
- Build: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk13_j9_sanity.openjdk_x86-64_mac_xl/21/
- Test: https://github.com/ibmruntimes/openj9-openjdk-jdk13/blob/openj9/test/jdk/java/net/Socket/asyncClose/AsyncClose.java
- Test Category: openjdk
- Test Suite Name: jdk_net
- OS/Architecture: x64_macos_xl
- OpenJDK Version: 13+30
- Public Build SHAs:
- OpenJ9 -

[2019-08-16 10:40] adam-thorpe commented on #6750
Same failing test: https://github.com/eclipse/openj9/issues/4560

[2019-08-16 10:59] JasonFengJ9 commented on #6748
It was defined for `JDK12` only.
https://github.com/eclipse/openj9/blob/41360de87a5edfb83d478e8bc27f246fd1a73521/runtime/j9vm/javanextvmi.c#L26-L32

[2019-08-16 11:25] JasonFengJ9 commented on #5274
Apparently the attacher thread started teardown before the target (itself) thread finishes the initialization hence it can't find the target at all.

[2019-08-16 12:09] mpirvu opened #6753 "Investigate cmdLineTester_gcsuballoctests_0 test failure with jitaas branch"
PR testing with jitaas branch shows `cmdLineTester_gcsuballoctests_0` test failing.
Interestingly, the failure is seen even if JITServer mode is not used. I don't think this failure is seen with the master branch, so we need to understand this mystery.

[2019-08-16 12:45] pdbain-ibm commented on #5274
This is normal behaviour: the attach API shuts down when the JVM terminates, i.e. all non-daemon threads exited.  In the case of short-running applications, the initializer and teardown run concurrently.

According to the log, the test passed:
[code]
but failed for other reasons:
[code]
Try running with shared classes disabled.

[2019-08-16 12:46] pdbain-ibm commented on #6486
Commits tested and squashed.  Pull request opened: https://github.com/eclipse/omr/pull/4206

[2019-08-16 13:28] mpirvu commented on #6753
@harryyu1994 Harry, could you please look into this one? Thanks

[2019-08-16 13:28] M-Davies commented on #5274
Results in similar error
[code]
[openjdk_test_output (2).tar.gz](https://github.com/eclipse/openj9/files/3509784/openjdk_test_output.2.tar.gz)

[2019-08-16 13:59] ChengJin01 commented on #5058
The compilation result shows the missing DDR pointer class was already correctly generated by specifying `-femit-class-debug-always` for CFLAGS & CXXFLAGS on Linux-based platform.
[code]

Results are as follows:
[code]

Will double-check to see whether anything suspicious left to be addressed during the compilation on Fedora/RISCV; otherwise, will get started to set up the test environment on Fedo

[2019-08-16 14:05] JasonFengJ9 commented on #5274
@pdbain-ibm what's your view on following stacktrace?
[code]
This clearly indicated that the `target not found` at `VirtualMachine vm = VirtualMachine.attach(vmid);` https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/965d0c0df359f3da224b865701bbcc044b7104c2/test/jdk/java/lang/Class/GetPackageBootLoaderChildLayer.java#L45

It appears https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_A

[2019-08-16 14:16] JasonFengJ9 commented on #5274
@M-Davies did the test run with `-Xshareclasses:none`?

[2019-08-16 14:47] M-Davies commented on #5274
Yes it did. The [above](https://github.com/eclipse/openj9/issues/5274#issuecomment-522008776) is from ci.adoptopenjdk.net. The original `AttachNotSupportedException` is from hyc-runtimes, the internal Test_Grinder

[2019-08-16 15:00] JasonFengJ9 commented on #5274
Just to clarify, `AttachNotSupportedException` only occurred within internal jenkins build [hyc-runtimes](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder_Advanced/), is that correct?
If so, pls provide the link (or ping me in the slack).

I suggest open another issue to track the shareclass issue.

[2019-08-16 15:38] renfeiw commented on #6715
The pr is merged, this issue should be fixed now.

[2019-08-16 15:45] harryyu1994 commented on #6753
[code]

[code]

[2019-08-16 17:29] pdbain-ibm commented on #6659
Found a couple of things:
- HotSpot now adds the module version information in all cases.
- toString() is not adding the classloader name.

Fixed and tested.

[2019-08-16 17:47] M-Davies commented on #5274
@JasonFengJ9 Pinged

[2019-08-16 18:15] mpirvu commented on #6753
Does the test pass with a build from master branch that has no JITServer code in it?

[2019-08-16 19:46] #6683 closed

[2019-08-16 20:04] cwesMills opened #6756 "x86 compile failure within docker container"
Various errors encountered:
[code]
[code]
First encountered these errors Aug 7 9:14pm, but don't have much history before that. Errors have been intermittent. Docker container used can be found [here](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile)

[2019-08-16 20:36] theresa-m commented on #6466
after talking more with @hangshao0 this is not the right answer to the problem so the investigation is back on. The issue is that the test fails whenever there is a JAR included in the classpath, javatest.jar in this case. It is not related to that particular jar file, I can put in a dummy name of a nonexistent *.jar file and the same behavior occurs.

What I know so far..

The test command includ

[2019-08-16 20:55] JasonFengJ9 opened #6757 "JDK 13 ppc64_aix build failures"
[code]

There is no `failure-logs` at `diagnostics.tar.gz`.

Last successful `JDK12` build was on July 16, there is no successful build in `JDK13` history.

[2019-08-16 21:15] JasonFengJ9 commented on #6330
Another similar one at https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_cm_OMR/229/console

[code]

Diagnostics file is at https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK11_x86-64_linux_cm_OMR/229/Build_JDK11_x86-64_linux_cm_OMR-229-20190816-112707-diagnostics.tar.gz

[2019-08-16 21:23] JasonFengJ9 opened #6758 "ub16x64j97 : Connection refused to host: 192.168.10.182"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly/111/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-08-16 21:26] JasonFengJ9 opened #6759 "Test_openjdk8_j9_extended.system_x86-64_windows_Nightly : Cannot run program "/usr/bin/git""
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/111/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-08-16 21:45] hangshao0 commented on #6330
There is no JRE in the core.

[2019-08-16 22:40] hangshao0 commented on #6330
By looking at the code, there is one case the metadata page protection is changed outside the write mutex:
`SH_CompositeCacheImpl::notifyPagesRead().`

Might be a racing condition, where thread 1 has the write mutex and it is doing stale marking:
Thread 1: unprotect the metadata page
Thread 2: calling notifyPagesRead() that protect the same page.
Thread 1: set stale bit and seg fault.

[2019-08-17 02:25] #6687 closed

[2019-08-18 01:35] headius opened #6760 "Document a way to determined java install is OpenJ9"
For JRuby we would like to be able to have JVM-specific flags as part of our default launcher. These flags are used to improve startup or tweak other settings to tune the target JVM for performance.

We would like to be able to do this without first launching the discovered `java` command. We want a reliable way to determine, from simple files in the OpenJ9 JAVA_HOME, that we will eventually launc

[2019-08-18 02:04] #6748 closed

[2019-08-18 02:04] #6623 closed

[2019-08-18 15:26] Nsiso commented on #6722
just simple javaagent with Chinese characters path.
For example, create a folder named "测试文件夹", just make sure Chinese characters included, and put a jar in it (or just change the jar into Chinese name like "测试.jar"?)
and load the jar in javaagent
and you will see the error

I make sure that just Openj9 have this problem, no oracle.
we test it with friends and it is true.

[2019-08-18 20:50] mstoodle commented on #6760
@headius You can solve part of the problem via environment variables without having to identify the JVM.

There is an environment variable `OPENJ9_JAVA_OPTIONS` that can be set to OpenJ9-specific (or any) options that will be processed in addition to the command-line options (with rightmost command-line option overriding any conflicts).

e.g. (i didn't have the most recent JDK8 build handy, so for

[2019-08-19 01:51] smlambert commented on #6760
You could query system property, java.vm.name

example in Java:
https://github.com/eclipse/openj9/blob/master/test/TestConfig/src/org/openj9/envInfo/JavaInfo.java#L101

example from command-line:
java -XshowSettings:properties -version  (and find the java.vm.name property in the output)

[2019-08-19 10:14] andrew-m-leonard commented on #6757
from logs:
[code]

[2019-08-19 11:24] JasonFengJ9 commented on #6722
Okay, will give a try then.

[2019-08-19 12:05] manqingl opened #6762 "Missing signal information if masterSynchSignalHandler() does not recognize the signal."
When masterSynchSignalHandler() receives a signal, in normal case it will record the signal information and it can be retrieved using DDR command !gpinfo.

It happened multiple times recently in zOS (or maybe in other platforms too).  When masterSynchSignalHandler() could not recognize the signal, it will simply call abort().  If this happens, then it would be hard for us to find out the parameter

[2019-08-19 12:19] M-Davies commented on #6659
Tests pass on my end too

[2019-08-19 12:56] pdbain-ibm opened #6763 "Github pull request view loses CI build information when commit pushed"
For example: https://github.com/eclipse/openj9/pull/6702 had a failing CI build started by https://github.com/eclipse/openj9/pull/6702#issuecomment-522360298.  The link to that and other builds disappeared when I rebased and re-pushed the branch.