[2021-10-12 21:02] pshipton opened #13684 "CriticalRegionTest testAcquireAndSleep_Threads1: not all threads completed before the timeout (0/1)"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Release_testList_1/11/ - cent6-x64-7
J9vmTest_3 -Xjit -Xgcpolicy:balanced -Xnocompressedrefs
[code]

[2021-10-12 21:16] JasonFengJ9 opened #13685 "JDK17 head JIT_Test suite AllocationTest - OOM at java.base/java.util.Vector.<init>(Vector.java:146)"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.functional_ppc64_aix_testList_2/55/consoleFull` (`paix823`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_2&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_extended.functional_ppc64_aix&DOCKER_REQUIRED=false&

[2021-10-12 21:28] keithc-ca commented on #13467
This is likely specific to Windows, where the compiler erases the distinction between `UDATA` and `U64`.
Generating a dump on Windows for `events=vmstart` exhibits the problem described here.

[2021-10-12 21:32] #13685 closed, assigned to nobody

[2021-10-12 23:57] pshipton opened #13686 "Add support for OpenSSL 3.0"
Now that OpenSSL 3.0 is released, there should be support for it. OpenSSL 1.1.1 goes out of support 2023-09-11.

Note the license for v3 is different.
https://www.openssl.org/source/license.html

@ashbm5

[2021-10-13 01:23] pshipton commented on #13669
Yup. All the open jdk17 testing is on the 0.29.0 branch atm, and https://github.com/eclipse-openj9/openj9/pull/13676 isn't merged yet. Just recording the failures for future reference.

[2021-10-13 01:53] knn-k commented on #13669
I ran ParallelStreamsLoadTest_CS_0 with JDK 17 + PR #13676 100 times locally, and got no failures.

[2021-10-13 05:51] mpirvu commented on #13548
I took the time and installed AcmeAir MS to reproduce the problem. From the logs I captured I think that the recompilation warm-->hot is triggered by the EDO (exception directed optimizations): the JIT profiles the execution to determine whether exceptions are frequently thrown, and if they do, it recompiles the body attempting to transform the throw-catch into a goto.

@jdmcclur could you please

[2021-10-13 11:50] JasonFengJ9 commented on #13617
An occurrence at an internal JDK17 `0.29` release build `job/Test_openjdk17_j9_special.system_x86-64_linux_Personal/61/tapResults/` (`ub20x64rt1-8`).
[code]

[2021-10-13 12:49] dmitripivkine commented on #13584
I noticed I never commented on this. We have a theory and working.

[2021-10-13 12:51] tajila commented on #13679
The openJDK version GA'ed, but I don't think they support AIX. The Openj9 version hasnt GA'ed yet.

This issue is specific to Foreign linker, it wont be noticeable unless you run the incubator feature.

[2021-10-13 16:10] douglaspalmer commented on #13581
I managed to get an s390x box and reproduce the error. I then installed java from the PR test build and ran the test repeatedly for 18 hours without error.

[2021-10-13 16:11] levivic commented on #13581
Thanks @jdmpapin for the PR and @douglaspalmer for the tests.

@pshipton @jdmpapin Do you think the #13671 would get merged soon and make it way to next release of OpenJ9 (0.29.0, coming soon based on https://projects.eclipse.org/projects/technology.openj9/releases/0.29.0)?

[2021-10-13 17:03] #13657 closed, assigned to nobody

[2021-10-13 19:12] JasonFengJ9 opened #13694 "Valhalla Class.isValueType() implementation is required"
This NCDF was due to a verification failure `staticverify.c:j9bcv_verifyClassStructure` --> `chverify.c:bcvCheckClassName/checkNameImpl` at https://github.com/eclipse-openj9/openj9/blob/ba5e5b4f6d6cb07c0360ec883931ab6c1e41c2ad/runtime/verutil/chverify.c#L84-L92

The `info->bytes` (`Ljava/lang/String;`) is a `Class` ended with `;` but not an array or `valuetypes` hence `-1` is returned.

Current `C

[2021-10-13 19:14] tajila opened #13695 "ValueTypes: add new java.lang.Class API methods JIT implementation"
[code]

See https://github.com/eclipse-openj9/openj9/issues/13615

[2021-10-13 19:16] tajila opened #13696 "ValueTypes: add new unsafe methods JIT implementation"
[code]

See https://github.com/eclipse-openj9/openj9/issues/13614

[2021-10-13 19:17] #13396 closed

[2021-10-13 19:30] tajila opened #13697 "ValueTypes: Recognize reference types"
http://cr.openjdk.java.net/~dlsmith/jep401/jep401-20210702/specs/primitive-objects-jvms.html#jvms-4.3.2

Constant_class descriptors will now recognize the following
LClassName;
QClassName;
[LorQClassName;

[2021-10-13 20:33] tajila commented on #13697
Yes

[2021-10-13 21:30] #13519 closed

[2021-10-13 21:37] pshipton commented on #12656
Haven't seen this in a while, closing assuming fixed.

[2021-10-13 21:49] pshipton commented on #10812
Not seen for some time, closing assuming fixed.

[2021-10-13 21:49] #10812 closed

[2021-10-13 22:00] #11644 closed

[2021-10-13 22:04] #13669 closed

[2021-10-13 22:09] #13485 closed

[2021-10-14 00:05] knn-k opened #13699 "PointerGenerator failure with unsigned __int128[]"
I see the following failure with `PointerGenerator` for the type `unsigned __int128[]` in porting OpenJ9-JDK17 to a new platform.

[code]

I tried adding `__int128` and `unsigned __int128` to the file runtime/ddr/excludes, but it didn't work -- I saw the same failure.

[2021-10-14 10:50] #13226 closed

[2021-10-14 11:07] pshipton opened #13701 "MauveMultiThrdLoad_5m_1 IncompatibleClassChangeError AcuniaAbstractMapTest.test_equals"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_Nightly_testList_1/122
MauveMultiThrdLoad_5m_1 -XX:-UseCompressedOops
[code]

Possibly exposed by https://github.com/eclipse-openj9/openj9/issues/13561

[2021-10-14 17:38] AntonKatilin opened #13708 "JVMTI VMStart callback is not called?"
We started experiencing strange exceptions or even JVM crashes while testing the OpenJ9 Java 17 milestone 2 with YourKit Java Profiler agent (we're working on adding official support of OpenJ9 Java 17).

The JVM is:

openjdk version "17" 2021-09-14
IBM Semeru Runtime Open Edition 17.0.0.0-m1 (build 17+35)
Eclipse OpenJ9 VM 17.0.0.0-m1 (build openj9-0.28.0-m2, JRE 17 Windows 10 amd64-64-Bit Compres

[2021-10-14 17:50] AntonKatilin commented on #13708
Update: the situation is even more interesting.

Java 8 (0.27.0) does issue VMStart, but Java 11 (same) and newer do not.

However, it seems that Java 11 and Java 16 are able to implicitly bind natives even when jni->RegisterNatives(...) is not performed, but since Java 17 the implicit binding no longer works for some reason.

So we have 2 questions:

1. Why Java 11+ does not call VMStart?
2. Why

[2021-10-14 18:33] tajila commented on #13708
@JasonFengJ9 Can you please take a look at this

[2021-10-14 20:12] #13699 closed

[2021-10-14 21:06] gacholio commented on #13708
Do you get the event on hotspot if you don't specify can_generate_early_vmstart?

[2021-10-14 21:40] pshipton commented on #13708
Does the implicit binding work on Java 17 Hotspot? I don't expect we should be looking at that aspect unless it does.

[2021-10-15 01:38] pshipton commented on #13453
Another one, job_output.php?id=17203556 - ub20lertp1-8
Linux PPC LE 64bit Compressed Pointers] 80 Load_Level_2.abbs.5mins.Mode610
-Xcompressedrefs -Xjit -Xgcpolicy:gencon

Result store failed so there are no diagnostics.
[code]

[2021-10-15 04:08] jdmpapin commented on #13167
Based on analysis of log files produced using @nbhuiyan's repro setup, we traced the cause of this to an intersection bug in VP. The code reads the `rtype` field of a `MethodType`, which gets a global `{JavaLangClassObject}` constraint, and then stores the reference into an auto named `counterType`. It then compares the value against `int.class`, creating a local (path-dependent) known object cons

[2021-10-15 10:47] pshipton commented on #13472
Re-opening as the fix was temporarily reverted, see https://github.com/eclipse-openj9/openj9/pull/13578#issuecomment-944199950

[2021-10-15 11:35] AntonKatilin commented on #13708
Maybe I'm doing something wrong, but the download does not work for me. I tried both a web browser and wget in console.

[code]

Is it expected to work without a login?

[2021-10-15 11:47] pshipton commented on #13708
No login is required. It's been working for months, but we started experiencing a problem with the artifactory server last night, the machine is no longer responding. I hope it will be fixed later today. https://openj9.slack.com/archives/CDS7QE9HB/p1634265828025100

[2021-10-15 12:36] JasonFengJ9 commented on #9124
Observed at `job/Test_openjdk11_j9_sanity.openjdk_s390x_linux/134/testReport/`
[code]

[2021-10-15 12:39] JasonFengJ9 commented on #11509
Observed at `job/Test_openjdk11_j9_extended.functional_x86-64_windows_testList_0/84/testReport/`
[code]

[2021-10-15 17:57] AntonKatilin commented on #13708
The latest build

OpenJDK Runtime Environment (build 17-internal+0-adhoc.jenkins.buildjdk17x86-64windowsnightly)
Eclipse OpenJ9 VM (build v0.29.0-release-f884985e101, JRE 17 Windows 10 amd64-64-Bit Compressed References 20211013_52 (JIT enabled, AOT enabled)
OpenJ9   - f884985e101
OMR      - 299b6a2
JCL      - 23999d8072a based on jdk-17+35)

crashes:

[YourKit Java Profiler 2021.3-b233] Log file:

[2021-10-15 21:06] ChengJin01 commented on #13708
Given verifier specific code is platform independent, I tried to the following command on Linux with the build generated locally (the YourKit Java Profiler agent was downloaded from https://download.yourkit.com/yjp/2020.9/YourKit-JavaProfiler-2020.9-b424.zip)
[code]
which crashed as follows but it has nothing to do with verifier but something else in binding the native method:
[code]
with the foll

[2021-10-15 21:40] #13584 closed

[2021-10-15 23:51] pshipton commented on #13472
Merged the fix again via https://github.com/eclipse-openj9/openj9/pull/13716

[2021-10-15 23:51] #13472 closed

[2021-10-16 00:41] JasonFengJ9 commented on #13708
Same observation as https://github.com/eclipse-openj9/openj9/issues/13708#issuecomment-944659635.

[2021-10-16 07:39] 1a2s3d4f1 opened #13717 "Another Performance problem of Minecraft when using balanced gc"
Java -version output
--------------------
[code]
Summary of problem
------------------
I use [Sodium](https://github.com/HyperCubeMC/sodium-fabric) to boost fps in modded minecraft. Use balanced gc causing FPS lower than gencon. The FPS drop from 60 to 30. I used visualvm and spark mod to get performance information. When enable balanced gc,"Chunk Render Task Executor" thread use more resource
Vis

[2021-10-16 15:03] pshipton opened #13718 "Testing times out on mac10-x86-1"
Disabled it.

Many examples but here is one https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/123/console
[code]

@AdamBrousseau

[2021-10-16 15:35] AdamBrousseau commented on #13718
These are the 2 mac's we just moved to unb. I've removed the labels for now till we can properly test them.

[2021-10-18 01:26] pshipton commented on #13717
@amicic @dmitripivkine

[2021-10-18 11:56] JasonFengJ9 commented on #13368
Observed at `0.29.1` release build `job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Personal/50/consoleFull` (`ub18-aarch64-2`)
[code]

[2021-10-18 12:21] pshipton opened #13720 "testSCCacheManagement_0 testDestroyCache Process killed, was taking longer than 120 seconds to generate expected output"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/124 - osx1014-x86-1
testSCCacheManagement_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/124/functional_test_output.tar.gz
[code]

[2021-10-18 12:30] pshipton opened #13721 "OpenJDK ImplicitStringConcatManyLongs StackOverflowError BruteArgumentMoverHandle.invokeExact_thunkArchetype_X"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Release/11 - aix71-p8-4
jdk_lang_0 -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage
java/lang/String/concat/ImplicitStringConcatManyLongs.java
[code]

[2021-10-18 12:40] pshipton commented on #13368
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Release/9 - cent7-ppcle-5
java/lang/invoke/VarHandles/VarHandleTestByteArrayAsChar.java
java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessString.java

[2021-10-18 12:46] pshipton commented on #13477
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64_aix_Release_testList_2/8 - aix71-p8-6
DaaLoadTest_daa1_special_5m_20
-Xcompressedrefs -Xgcpolicy:gencon -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xmn512k -Xcheck:gc:vmthreads:all:quiet

https://openj9-artifactory

[2021-10-18 12:57] pshipton opened #13722 "-XX:+ExitOnOutOfMemoryError timeout"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_mac_Nightly_testList_1/53 - osx1013-x86-3
cmdLineTest_J9test_extended_0 NoOptions
[code]

[2021-10-18 15:00] pshipton commented on #13472
We can keep this open until the fix is delivered to the 0.29.1 branch.

[2021-10-18 15:46] JasonFengJ9 opened #13723 "JDK17 head javax/xml/crypto/dsig/LogParameters.java - RuntimeException: Unexpected log output:"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_x86-64_linux/22/consoleFull` (`ub18x64rt1-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWN

[2021-10-18 20:49] dmitry-ten opened #13726 "DaaLoadTest_daa1_special_5m_4 hangs in LocalFlushElimination"
I've seen this test and similar tests (like DaaLoadTest_daa1_special_5m_1) fail in JITServer nightly `special.system` runs.
But I was able to reproduce this issue locally without JITServer so it's a general OpenJ9 problem.

JVM Options: `JVM_OPTIONS:  -Xgcpolicy:gencon -Xjit:count=0 -Xnocompressedrefs`.
Output of the failing test:
[code]

I obtained the log for the hanging test:
[vlog.20211018.131

[2021-10-18 20:53] dmitry-ten commented on #13726
@mpirvu fyi this is the same failure as [in the nightly JITServer builds](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_special.system_ppc64le_linux_jit_Personal/143/tapResults/) . I determined that this is actually unrelated to JITServer. Good for us in this particular case, but it means that the issues with `jdk_util_1` and hangs in #13566 are caused by some other problem.

[2021-10-19 13:22] AdamBrousseau commented on #13718
san.func running on
mac10-2
[![Build Status](https://openj9-jenkins.osuosl.org/buildStatus/icon?job=Test_openjdk11_j9_sanity.functional_x86-64_mac_Personal&build=100)](https://openj9-jenkins.osuosl.org/view/Test_Functional_Personal/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Personal/100/)

mac10-1 I rebooted. Still hung doing cleanWs()
https://openj9-jenkins.osuosl.org/view/Test_Functional

[2021-10-19 14:06] pshipton opened #13727 "win2012-x86-9 is offline"
https://openj9-jenkins.osuosl.org/computer/win2012-x86-9/

@AdamBrousseau

[2021-10-19 15:05] keithc-ca opened #13728 "JVM_ReportFinalizationComplete() function needed for jdk18"
In https://openj9-jenkins.osuosl.org/job/Build_JDKnext_x86-64_linux_OpenJDK/126/
[code]

[2021-10-19 15:33] #13727 closed, assigned to nobody

[2021-10-19 15:51] keithc-ca commented on #13728
The only beneficiary seems to be JFR which openj9 does not (currently) support, so I think a stub will be sufficient.

[2021-10-19 16:04] 1a2s3d4f1 commented on #13558
Thank you, is not happen any issue with this this thread.

[2021-10-19 16:35] vijaysun-omr commented on #13192
I think that the limitations imposed due to HCR were affecting what we stack allocated quite significantly in some evaluations they were trying to do with the DaCapo benchmark suite, i.e. my memory was that -XX:-EnableHCR was stack allocating several times more objects compared with the default when HCR was enabled. @Swapnilr1 and/or @manasthakur do you have that data ?

[2021-10-19 18:58] #13728 closed, assigned to keithc-ca

[2021-10-19 22:37] pshipton commented on #13128
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_OMR_testList_1/105
[code]

@tajila @gacholio any idea why the stack trace contains `<unknown class>`? Liberty also recently saw this running testing on jdk17.

[2021-10-20 04:13] pshipton opened #13742 "mac10-x86-2 missing the sw.os.osx label"
mac10-x86-2 isn't being used because it has the label sw.os.mac instead of sw.os.osx

@AdamBrousseau

[2021-10-20 12:01] pshipton commented on #13721
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Release/12
jdk_lang_0 -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage
java/lang/String/concat/ImplicitStringConcatManyLongs.java
[code]

[2021-10-20 12:07] pshipton commented on #13721
Changes from the previous build where it didn't fail, although if it's intermittent this means nothing.

https://github.com/eclipse-openj9/openj9/compare/0aad37c0775...6169ba555b2
https://github.com/eclipse-openj9/openj9-omr/compare/9ebb79cec4b...299b6a2d28c

@0xdaryl @zl-wang @tajila fyi this failure in 0.29.0 release testing first seen this past weekend, and also occurred in the release testing

[2021-10-20 12:08] JasonFengJ9 opened #13744 "JDK17 head ClassLoadingTest_special_5m_0_FAILED : Segmentation error vmState=0x00000000 - Compiled_method=java/lang/Access.decodeASCII([BI[CII)I"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_special.system_s390x_linux_testList_3/75/` (`rhel7s390x-3-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_3&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_special.system_s390x_linux&DOCKER_REQUIRED=false&ACTIVE_NOD

[2021-10-20 12:52] pshipton commented on #13744
@0xdaryl fyi, "Compiled_method=java/lang/Access.decodeASCII([BI[CII)I" caught my eye.

[2021-10-20 15:08] pshipton opened #13745 "Build-Doc-Push_to_ghpages failing due to index-pack failed"
Since publishing https://github.com/eclipse-openj9/openj9-docs/blob/master/downloads/openj9-docs-0.29.0.zip the https://openj9-jenkins.osuosl.org/job/Build-Doc-Push_to_ghpages jobs are failing due to index-pack failed. Which perhaps is a timeout? Maybe we can run this job on another (faster) platform than xlinux.

https://openj9-jenkins.osuosl.org/job/Build-Doc-Push_to_ghpages/37
https://openj9-je

[2021-10-20 16:42] vij-singh commented on #13494
@mpirvu  How has this been progressing? Given we are trying to get Java 17 released, is this something we want to do for 0,29.1 or 0,30.0?

[2021-10-20 16:53] pshipton commented on #13721
Note I did run a grinder in https://github.com/eclipse-openj9/openj9/issues/13721#issuecomment-945717255 without reproducing it, you may need to run all `java_lang_0` rather than the specific test. Also, I haven't seen this problem reported from internal testing yet, maybe something to do with timing on the open machines, which seem very slow lately.

[2021-10-20 18:22] dmitry-ten opened #13746 "jdk_util_1 failing due to timeout with JITServer"
Ever since #13681 fixed the `-XX:[+|-]UseCompressedOops` command-line option, the test `jdk_util_1` is frequently failing in JITServer nightly runs.

JVM_OPTIONS:  `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops  -XX:+UseJITServer`.

The test uses non-compressed references, so a client cannot use JITServer in this test (since the

[2021-10-21 05:15] Akira1Saitoh opened #13749 "Monitor cache is never hit in JIT generated code"
For monitorenter/monitorexit, JIT generates the code for searching a monitor from the cache in J9VMThread if the object does not have a lockword.
Monitors are cached in `objectMonitorLookupCache` field, which is an array of `j9objectmonitor_t`.
When running in compressed refs mode in mixed refs build, all existing platform seem to generate incorrect code to access to the entry of this array. I thi

[2021-10-21 12:31] pshipton opened #13750 "jdk18 failing to compile MethodHandleResolver.linkDynamicConstant linkCallSite"
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/133/
[code]
@tajila fyi

[2021-10-21 13:13] keithc-ca commented on #13750
This seems to be a consequence of
* 8272614: Unused parameters in MethodHandleNatives linking methods

Perhaps it's as simple as removing the second formal parameter from each of `linkCallSite` and `linkDynamicConstant`. I'll give that a try.

[2021-10-21 13:27] tajila opened #13751 "Checkpoint - investigate suspending threads before prepare and resuming after restore"
Investigate if it is possible to suspend running Liberty threads before doing a prepare operation for checkpoint and then resume the threads after running the restore hooks when restoring the process.

This is to protect threads from resuming "too early" before any restore hooks have successfully restored their state to acceptable levels.

[code]

On checkpoint:

    Call checkpoint API
    JVM su

[2021-10-21 14:08] JasonFengJ9 commented on #6552
Observed at `0.29.1` release build `job/Test_openjdk17_j9_special.system_x86-64_mac_Personal/65/tapResults/`
[code]

[2021-10-21 14:17] llxia commented on #13660
PR https://github.com/eclipse-openj9/openj9/pull/13724 is delivered. Close this issue.

[2021-10-21 14:17] #13660 closed

[2021-10-21 14:37] #13750 closed, assigned to keithc-ca

[2021-10-21 15:32] #13645 closed, assigned to nobody

[2021-10-21 16:02] pshipton opened #13755 "Recognize Windows 11 and Windows Server 2022"
Running on Windows 11 still identifies as Windows 10. This is the same as Hotspot builds for the builds available from Adoptium now, but need to check the latest release builds, in particular 17.0.1, when it becomes available.
[code]

[2021-10-21 16:09] llxia opened #13756 "JDK11 jdk_security4 java.lang.Exception"
jdk_security4 failure happened on plinux p10. This test passed other plinux.

sun/security/krb5/auto/ReplayCacheTestProc.java.ReplayCacheTestProc
sun/security/krb5/auto/ReplayCacheTestProc.java.ReplayCacheTestProc
sun/security/krb5/auto/rcache_usemd5.sh.rcache_usemd5
sun/security/krb5/auto/rcache_usemd5.sh.rcache_usemd5

[code]

[code]

[Grinder link (failed) ](https://hyc-runtimes-jenkins.swg-dev

[2021-10-21 17:16] pshipton commented on #13721
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/120/ - aix71-p8-4
jdk_lang_0 -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage
java/lang/String/concat/ImplicitStringConcatManyLongs.java
[code]

[2021-10-21 17:39] pshipton commented on #13708
@AntonKatilin can you pls confirm a build containing the fix resolves your issues?
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK17/59/

[2021-10-21 18:20] pshipton commented on #13577
@0xdaryl fyi this issue which isn't in the milestone plan but as per https://github.com/eclipse-openj9/openj9/pull/13700 is still occasionally occurring. This seems quite a basic test to be crashing, what do you think about making it a blocker for the release.

[2021-10-21 18:34] pshipton commented on #13336
Closing as a dup of https://github.com/eclipse-openj9/openj9/issues/13577

[2021-10-21 19:10] #13745 closed, assigned to nobody

[2021-10-21 19:34] Hello71 opened #13758 "-DOMR_WARNINGS_AS_ERRORS=OFF ignored for compiler"
see https://github.com/ibmruntimes/openj9-openjdk-jdk/issues/354#issuecomment-948063904, https://github.com/eclipse-openj9/openj9/blob/d079376e9dc63a009e79c13768fc964b3c9c0216/runtime/compiler/CMakeLists.txt#L323

@fjeremic

[2021-10-21 19:55] pshipton commented on #13758
@0xdaryl fyi

[2021-10-21 19:56] #13708 closed, assigned to JasonFengJ9

[2021-10-21 21:01] pshipton opened #13759 "<unknown class> seen in stack traces"
In the 0.29 release. This can be seen in some existing issues, but wasn't noticed earlier. It appears to affect all versions, not just Java 17. The same issue may be causing other problems as well.

https://github.com/eclipse-openj9/openj9/issues/13128
https://github.com/eclipse-openj9/openj9/issues/13167
https://github.com/eclipse-openj9/openj9/issues/13162

It seems to have been caused by https:

[2021-10-22 03:55] knn-k commented on #11164
I opened #13760 for the compilation error with `isGCPolicyMetronome`.

[2021-10-22 20:06] pshipton opened #13764 "openjdk java/util/logging/ParentLoggersTest.java failed"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Nightly/56 - osx1014-x86-1
jdk_util_0 -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops
java/util/logging/ParentLoggersTest.java
[code]

[2021-10-22 22:03] #13414 closed, assigned to hangshao0

[2021-10-25 01:50] knn-k opened #13767 "Compressed refs mode on AArch64 macOS"
You cannot build and run OpenJ9 in the compressed refs mode on AArch64 macOS.

OpenJ9 for x86-64 macOS is built with `-pagezero_size 0x1000` for mapping some memory in the first 32-bit address space.
On the other hand, AArch64 macOS does not allow executables with small page zero.  Running such binary causes a "Malformed Mach-o file" error.

[2021-10-25 20:30] keithc-ca opened #13773 "Enhance StructureStubGenerator to allow for comments to appear in superset-constants.dat"
Every change to `superset-constants.dat` (e.g. #13772) leads to a copyright check failure; perhaps it's worth updating `StructureStubGenerator` to allow for comments in that file.

[2021-10-26 12:00] JasonFengJ9 opened #13778 "JDK17 head ppc64le_linux java/util/logging/TestLoggerBundleSync.java - RuntimeException: Found 3 deadlocked threads"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux/73/` (`rhel8le-rt1-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=Ado

[2021-10-26 14:24] pshipton opened #13781 "ub20-390-2 failing testing related to core file creation"
https://openj9-jenkins.osuosl.org/computer/ub20-390-2/
Disabled it.

The core files are not being found. I think we had an issue related to the core file pattern before. @AdamBrousseau

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_0/129/
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_s390x_linux_OMR_testList_0/10

[2021-10-26 14:26] pshipton opened #13782 "AIX machines running very slow"
In the past week or more the AIX machines seem to be running quite slow, causing the occasional timeout, but also dragging out testing and promotion, as it's waiting for the AIX testing to finish.

@AdamBrousseau

[2021-10-26 14:39] #13746 closed, assigned to nobody

[2021-10-26 17:10] tajila opened #13788 "ValueTypes: IAE in WithFieldNoAccessTest test"
Test in ~/openj9-openjdk-jdk.valuetypes/test/hotspot/jtreg/runtime/valhalla/inlinetypes/WithFieldAccessorTest.java

[code]

[2021-10-26 17:13] tajila opened #13789 "ValueTypes: crash in ObjectMethods jtreg test"
Test in ~/openj9-openjdk-jdk.valuetypes/test/hotspot/jtreg/runtime/valhalla/inlinetypes/ObjectMethods.java

[code]

[2021-10-26 17:16] tajila opened #13790 "Assertion in WithFieldAccessorTest"
Test in ~/openj9-openjdk-jdk.valuetypes/test/hotspot/jtreg/runtime/valhalla/inlinetypes/WithFieldAccessorTest.java

[code]

[2021-10-26 17:18] tajila opened #13791 "ValueTypes: CFE in VWithFieldTest"
~/openj9-openjdk-jdk.valuetypes/test/hotspot/jtreg/runtime/valhalla/inlinetypes/WithFieldAccessorTest.java

[code]

[2021-10-26 17:20] tajila opened #13792 "ValueTypes: CFE in VarArgsArray test"
test runtime.valhalla.inlinetypes.VarArgsArray

[code]

[2021-10-26 17:22] tajila opened #13793 "ValueTypes: crash in UninitializedInlineFieldsTest"
TEST: runtime/valhalla/inlinetypes/UninitializedInlineFieldsTest.java

[code]

[2021-10-26 17:29] tajila opened #13794 "ValueTypes: NPE in TestInheritedInlineTypeFields test"
TEST: runtime/valhalla/inlinetypes/TestInheritedInlineTypeFields.java

[code]

[2021-10-26 17:31] tajila opened #13795 "ValueTypes: test failure in TestFieldTypeMismatch"
TEST: runtime/valhalla/inlinetypes/TestFieldTypeMismatch.java

[code]

[2021-10-26 17:32] tajila opened #13796 "ValueTypes: CFE in TestBytecodeLib"
TEST: runtime/valhalla/inlinetypes/TestBytecodeLib.java

[code]

[2021-10-26 17:34] tajila opened #13797 "ValueTypes: CFE in StaticFieldsTest"
TEST: runtime/valhalla/inlinetypes/StaticFieldsTest.java

[code]

[2021-10-27 00:15] #13773 closed, assigned to nobody

[2021-10-27 12:01] JasonFengJ9 opened #13801 "JDK17 0.29.1 release testJITServer_0_FAILED - testServerComesUpAfterClientAndGoesDownAgain"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.functional_x86-64_linux_Personal/165/tapResults/` (`ub18x64rt1-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA

[2021-10-27 12:11] JasonFengJ9 opened #13802 "JDK17 jdk_lang_1_FAILED : java/lang/reflect/callerCache/ReflectionCallerCacheTest.java - RuntimeException: Class AccessTest$NewInstance not unloaded!"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Personal/76/consoleFull` (`win16x64rt2-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOC

[2021-10-27 14:22] pshipton opened #13803 "SharedClassesAPI_1 win2012-x86-6 There is not enough space on the disk"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_1/131/ - win2012-x86-6
SharedClassesAPI_1 -Xcompressedrefs -Xjit -Xgcpolicy:gencon

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_1/131/system_test_output.tar.gz
[code]

68.WL4.stderr
[code]

https://openj9-jenk

[2021-10-27 14:50] #13781 closed, assigned to nobody

[2021-10-27 18:00] pshipton opened #13804 "jmap man page included but not suitable for OpenJ9"
The jmap man page is included in the man directory in builds, but this man page is for the OpenJDK tool and doesn't match exactly the OpenJ9 tool. We removed a number of other non-matching man pages, jmap should be removed as well.

https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/271

[2021-10-28 03:00] pshipton opened #13805 "Create debug image on z/OS"
On z/OS the libraries contain debug. Like other platforms (in particular AIX) we should make a copy to a debug image and strip the production libraries if possible.

[2021-10-28 03:08] pshipton opened #13806 "Stop building demo directory"
AdoptOpenJDK decided to remove the demo directory, see https://github.com/adoptium/temurin-build/issues/980. This is done in the Adopt pipelines script, but OpenJ9 builds and z/OS builds don't use the Adopt pipelines scripts. We should modify the extensions repos, in particular for z/OS, to stop building the demo directory by default so OpenJ9 builds don't contain the demo directory and match the

[2021-10-28 09:36] PhilWakelin opened #13807 "Java shared class cache degrades startup performance for high numbers of deployed Spring Boot apps"
Java -version output
--------------------

java version "1.8.0_281"
Java(TM) SE Runtime Environment (build 8.0.6.26 - pmz6480sr6fp26-20210226_01(SR6 FP26))
IBM J9 VM (build 2.9, JRE 1.8.0 z/OS s390x-64-Bit Compressed References 20210216_465732 (JIT enabled, AOT enabled)
OpenJ9   - e5f4f96
OMR      - 999051a
IBM      - 358762e)
JCL - 20210108_01 based on Oracle jdk8u281-b09
z/OS V2.4

Summary of pr

[2021-10-28 11:14] knn-k opened #13808 "JIT tossCode option does not work as expected"
`OMR::Compilation::compile()` is never called when you use the JIT compiler option `tossCode`.

[2021-10-28 12:07] pshipton opened #13809 "DaaLoadTest_daa2_CS_5m_0 crash vmState=0x00020002"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-64_mac_Nightly_testList_2/133 - osx1014-x86-3
DaaLoadTest_daa2_CS_5m_0 - -Xgcpolicy:gencon -Xgc:concurrentScavenge

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.system_x86-64_mac_Nightly_testList_2/133/system_test_output.tar.gz
[code]

@dmitripivkine

[2021-10-28 12:11] pshipton opened #13810 "Mac timeout running cmdLineTester_pltest_osx_0"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly_testList_0/125/ - osx1013-x86-4
cmdLineTester_pltest_osx_0

[code]

[2021-10-28 12:27] pshipton opened #13811 "Core file issue on Mac - error getting thread command data"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly_testList_0/126 - osx1013-x86-3
testSCCMLTests4_0 -Xjit -Xgcpolicy:gencon -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly_testList_0/126/functional_test_output.tar.gz
[code]

@mikezhang1234567890

[2021-10-28 13:12] JellyBrick opened #13812 "Crash in `NativeCrypto.ChaCha20Init` (openssl native)"
# Crash log

[code]

# Version

## OpenJ9

[code]

## OS

Ubuntu 20.04.3 LTS, `5.11.0-36-generic #40~20.04.1-Ubuntu`

# GC

Gencon

[2021-10-28 13:26] #13809 closed, assigned to nobody

[2021-10-28 13:49] JasonFengJ9 opened #13813 "TestIBMJlmRemoteMemoryAuth & a few similar failures - jdk.internal.agent.AgentConfigurationError: java.rmi.server.ExportException: Port already in use: 1234"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.system_aarch64_linux_testList_1/50/tapResults/`:
[code]
[Rerun in Grinder]() - Change TARGET to run only the failed test targets.

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
`aqa-tests/TKG/output_1635361702117/TestIBMJlmRemoteMemoryAuth_0/202

[2021-10-28 13:58] JasonFengJ9 opened #13814 "jdk_net_0_FAILED - IllegalArgumentException: IPv6 socket cannot join IPv4 multicast group"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_ppc64_aix/24/testReport/`(`paix819`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH

[2021-10-28 14:06] JasonFengJ9 opened #13815 "jdk_net_0_FAILED java/net/MulticastSocket/Promiscuous.java - RuntimeException: 0.0.0.0/0.0.0.0:36641: Expected message not received, Receive timed out"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_ppc64_aix/24/testReport/` (`paix819`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANC

[2021-10-28 14:21] JasonFengJ9 opened #13816 "jdk_nio_0_FAILED java/nio/channels/DatagramChannel/SendReceiveMaxSize.java: Error. Program `java' timed out (timeout set to 960000ms, elapsed time including timeout handling was 961837ms)."
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_ppc64_aix/24/console` (`paix819`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=Ad

[2021-10-28 14:48] JasonFengJ9 opened #13817 "jdk_io_FAILED : java/io/FileDescriptor/Sharing.java - RuntimeException: OpenClose thread tests failed"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_x86-64_windows/21/testReport/`(`win16x64cudart1 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TK

[2021-10-28 14:56] JasonFengJ9 opened #13818 "jdk_other_0_FAILED : com/sun/jndi/dns/ConfigTests/PortUnreachable.java - RuntimeException: Failed: call took 8084 ms, expected less than 3000 ms"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_x86-64_windows/21/console`(`win16x64cudart1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWN

[2021-10-29 02:37] #13806 closed, assigned to keithc-ca

[2021-10-29 12:46] pshipton opened #13823 "OpenJDK TestLogConfigurationDeadLockWithConf Found 2 deadlocked threads"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Nightly/136
jdk_util_1 -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops
java/util/logging/TestLogConfigurationDeadLockWithConf.java
[code]

[2021-10-29 12:51] pshipton opened #13824 "MauveSingleInvocLoad_J9_5m_1 crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly_testList_1/134
MauveSingleInvocLoad_J9_5m_1 -Xcompressedrefs -Xjit -Xgcpolicy:gencon

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly_testList_1/134/system_test_output.tar.gz
[code]

@tajila

[2021-10-29 12:52] pshipton opened #13825 "cmdLineTester_jvmtitests_hcr_OSRG_nongold Redefine failed"
No failures on jdk17.

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly_testList_1/133
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_1/133
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_0/127
https://openj9-jenkins.osuosl.org/job/Test_o

[2021-10-29 13:13] pshipton opened #13827 "jdk18 failing to compile, missing ClassLoaderHelper.loadLibraryOnlyIfPresent()"
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/142/
[code]

[2021-10-29 14:08] JasonFengJ9 opened #13828 "JDK18 compilation failure - bootstrap error, system property access before init"
https://openj9-jenkins.osuosl.org/job/Build_JDKnext_x86-64_mac_OpenJDK/139/consoleFull
[code]

[2021-10-29 14:40] tjwatson opened #13829 "Using CRIUSupport with no env file set causes an NPE on restore"
The following NPE happens on restore if `org.eclipse.openj9.criu.CRIUSupport.registerRestoreEnvFile(Path)` is not called with a non-null path:

[code]

I suggest that `org.eclipse.openj9.criu.CRIUSupport.registerRestoreEnvVariables()` checks for null on `this.envFile` before registering the env restore hook.

[2021-10-29 18:23] pshipton commented on #13825
https://github.com/eclipse-openj9/openj9/pull/13785 "Add classNameToSignature to ClassEnv"

https://github.com/eclipse-openj9/openj9/pull/13741 "Fix methods visibility in SwitchTest"
- test only, not related

https://github.com/eclipse-openj9/openj9/pull/13638 "CRIU: Add env variables support"

https://github.com/eclipse-openj9/openj9/pull/13780 "Add VMStart event & can_generate_early_vmstart test

[2021-10-29 18:29] gacholio commented on #13242
Do the same rules apply to verification/preparation or can they just be done for all supers?

[2021-10-29 18:58] tajila commented on #12219
@mikezhang1234567890 Please take a look at this.

[2021-10-29 19:00] tajila commented on #12219
May be related to https://github.com/eclipse-openj9/openj9/issues/12785 if the stackoverflow is occuring on the main thread

[2021-10-29 19:01] tajila commented on #12785
Any updates on this @mikezhang1234567890

[2021-10-29 19:51] pshipton commented on #10026
Reopening as the fix was reverted.

[2021-10-29 19:51] mikezhang1234567890 commented on #13811
Looks intermittent as https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly_testList_0/127/ passed on the same machine. Have also not been able to reproduce the error locally.

Failure occurs in https://github.com/eclipse/omr/blob/master/port/osx/omrosdump.c#L252 or the 2 calls below, either because the thread returned by `task_threads` is invalid or the th

[2021-10-29 19:56] pshipton commented on #13825
Closing since https://github.com/eclipse-openj9/openj9/pull/13424 is reverted via https://github.com/eclipse-openj9/openj9/pull/13835

[2021-10-29 19:57] #13825 closed

[2021-10-29 20:57] #13280 closed

[2021-10-29 22:23] pshipton commented on #13811
Right, it's intermittent. We've been running the new core file creation code for a while, and haven't seen this until now. Also that isn't the only core created by the same test run.

[2021-10-30 15:37] pshipton opened #13837 "SharedClasses.SCM23.MultiThreadMultiCL_1 Attempt to set readerCount to -1"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_0/135
SharedClasses.SCM23.MultiThreadMultiCL_1 -Xcompressedrefs -Xjit -Xgcpolicy:gencon

No interesting diagnostics, no shared cache, no cores, no crash report.

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_0/135

[2021-10-30 15:44] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/134
    com/sun/crypto/provider/Cipher/DES/PaddingTest.java.PaddingTest
    com/sun/crypto/provider/Cipher/DES/TestCipherDESede.java.TestCipherDESede
    com/sun/crypto/provider/Cipher/KeyWrap/TestCipherKeyWrapperTest.java.TestCipherKeyWrapperTest
    com/sun/crypto/provider/Cipher/PBE/PBEInvalidParamsTes

[2021-10-30 20:10] urisimchoni opened #13838 "Crash or OutOfMemoryError when using AsyncGetCallTrace()"
Java -version output
--------------------
openjdk version "1.8.0_312"
IBM Semeru Runtime Open Edition (build 1.8.0_312-b07)
Eclipse OpenJ9 VM (build openj9-0.29.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20211022_234 (JIT enabled, AOT enabled)
OpenJ9   - e1e72c497
OMR      - 299b6a2d2
JCL      - 8860d39588 based on jdk8u312-b07)

Summary of problem
------------------
We use a proprietar

[2021-10-30 21:02] #13801 closed

[2021-10-30 21:47] mpirvu opened #13839 "Add more info to compilation-fail lines in verbose logs"
The JIT verbose log can contain information about compilation-start, compilation-end and compilation-fail events.
E.g.
[code]
As seen above, compilation-fail lines (the ones that start with `!`) have less information than compilation-start or compilation-end lines. In particular, they are missing the `j9m` field which is the `j9method` subject to compilation. This makes it harder to pair compilati

[2021-10-31 02:40] mpirvu commented on #13807
@PhilWakelin Could you please try a build after 2021/09/11? There is a change in there https://github.com/eclipse-openj9/openj9/pull/13489 that may help.
Also, in the vlogs I see many AOT load failures due to compilationAotClassReloFailure. These may subside with additional runs, so we need to try 2-3 warm runs in succession.
Finally, zOS uses AOT compression which adds a bit of overhead. Since th

[2021-11-01 09:48] PhilWakelin commented on #13807
Thanks @mpirvu
I will try out a later build to see how this impacts startup and will also try -Xaot:forceaot,disableAOTBytesCompression
All the mean startup figures are the averages from 50 startup iterations, with a clean Java SCC and Liberty cache. The first 2 runs were discarded from the figures, so I don't think running more runs will help the figures. However, the data in the JITlogs I provid

[2021-11-01 12:04] mpirvu commented on #13807
Yes please. I expect to see a reduction in the number of AOT load failures.

[2021-11-01 13:07] mpirvu commented on #13807
Another interesting experiment would be to run with SCC but without AOT (-Xnoaot). This will allow sharing of the ROMClasses and, in theory, should be faster than no SCC. If that's not the case, then we should start looking at lock contention for the SCC.

[2021-11-01 13:10] pshipton commented on #13838
@urisimchoni can you pls run `jpackcore -x <core>` on the first core file and make that available as well. It collects the OS libraries into a zip file so we can look at the core on other machines and we don't need to use the same OS where the crash occurred.

https://www.eclipse.org/openj9/docs/tool_jextract/

[2021-11-01 13:12] pshipton commented on #13838
@tajila @gacholio

[2021-11-01 13:14] pshipton commented on #13801
@mpirvu you might put the change in the 0.29.1 branch as well to avoid future test failures in this stream.

[2021-11-01 13:17] JasonFengJ9 opened #13841 "ShareClassesCML_0_FAILED - Success condition was not found: [Output match: j9shr.1514\s+ - CM commitROMClass : Data was stored in the cache for J9ROMClass]"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.functional_x86-64_windows_testList_0/60/tapResults/` (`win16x64cudart1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_sanity.functional_x86-64_windows&DOCKER_R

[2021-11-01 13:20] pshipton opened #13842 "regressionBucketDefault_1 crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_aarch64_linux_Nightly_testList_1/31 - ub20-aarch64-2
regressionBucketDefault_1 -XX:+UseCompressedOops

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.functional_aarch64_linux_Nightly_testList_1/31/functional_test_output.tar.gz
[code]

[2021-11-01 13:21] pshipton commented on #13842
10x x 3 grinder https://openj9-jenkins.osuosl.org/job/Grinder/332/

[2021-11-01 13:26] pshipton commented on #13368
@llxia there is another one here https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/65/
With jdk_lang_1 running java/lang/invoke/VarHandles/VarHandleTestAccessBoolean.java

[2021-11-01 13:33] pshipton commented on #13368
I'll create a PR to exclude this test as well.

[2021-11-01 13:39] pshipton commented on #13368
https://github.com/adoptium/aqa-tests/pull/3111

[2021-11-01 13:49] pshipton commented on #13123
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_special.system_x86-64_windows_Personal_testList_3/47
ClassLoadingTest_special_5m_0 -Xjit -Xgcpolicy:optthruput -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_special.system_x86-64_windows_Personal_testList_3/47/system_test_output.tar.gz
[code]

[2021-11-01 13:50] gjdeval commented on #13807
I've run some measurements in a distributed (LinTel) environment to see if Phil's zOS findings are reproducible on other platforms, and see something similar ... as the number of apps in the configuration grows, along with the number of classes loaded at startup, the benefit of using the SCC drops, and SCC use becomes a disadvantage when the class count gets very large.
![many-cics-app-lintel-star

[2021-11-01 13:52] pshipton commented on #11900
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64le_linux_Release_testList_3/11
LambdaLoadTest_special_J9_5m_23 `-Xcompressedrefs -Xjit:count=0 -Xgcpolicy:gencon -Xaggressive -Xconcurrentlevel0`
[code]

[2021-11-01 13:55] pshipton commented on #13588
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64le_linux_Release_testList_3/11 - ub18-ppcle-2
MathLoadTest_bigdecimal_special_5m_16
`-XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xcheck:gc:vmthreads:all:quiet`

https://ope

[2021-11-01 13:59] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/68
jdk_util_0
java/util/logging/CheckZombieLockTest.java
[code]

[2021-11-01 14:01] pshipton commented on #13802
@dmitripivkine can you take a look pls.

[2021-11-01 14:14] dmitripivkine commented on #13802
This is just note we use to have problems with this test in the past https://github.com/eclipse-openj9/openj9/issues/9260

[2021-11-01 14:16] tajila commented on #9186
@mikezhang1234567890 Can you please take a look at this

[2021-11-01 14:25] mpirvu commented on #13807
My focus was on reducing time/CPU spent jitting, but I started to think that the bulk of the overhead is elsewhere:
The no SCC case finishes in 167 sec and uses 95 sec of CPU for compilation. When using SCC, the elapsed time doubles (300-320 sec), but the CPU spent for compilation is less than half (44 sec).
A profile would be helpful in determining what to study next. If there is a lot of CPU spe

[2021-11-01 14:37] gjdeval commented on #13807
Based on Marius' suggestion above, I'm currently running the 100-app startup with -Xnoaot and watching it in perf top.
There is heavy locking at the top of the list.

[code]

[2021-11-01 14:43] mikezhang1234567890 commented on #9186
Looking into it.

[2021-11-01 14:48] 0xdaryl commented on #13588
The only two failures like this so far have been on Power.  Requesting @zl-wang to assign for triage please.

[2021-11-01 14:58] #421 closed

[2021-11-01 15:11] hangshao0 commented on #13841
I guess it is caused by the default shared cache cannot be started up and we silently continue without using the shared cache.

[2021-11-01 15:20] keithc-ca opened #13844 "Update signature of JVM_LoadLibrary() for jdk18+"
A second parameter was added (`jboolean throwException`) by
* 8275703: System.loadLibrary fails on Big Sur for libraries hidden from filesystem

[2021-11-01 15:30] hangshao0 commented on #13837
We may have to exit the read mutex before taking the segment mutex in `SH_CompositeCacheImpl::updateMetadataSegment()`, then enter the read mutex again after the metadata segment is updated.

[2021-11-01 15:35] hangshao0 commented on #13841
The test name is `Test that only bootstrap class sharing is enabled by default`.
I am not aware of any change on this recently.

[2021-11-01 15:41] pshipton commented on #13841
It would be nice to run the test with `verbose` so we get more information, but I don't know how to enable that without changing the default options. One idea is to add a new option like `-XX:[+/-]SharedCacheVerbose`.

Shared cache by default has been enabled for quite a while without seeing this failure. I feel that unless it starts occurring more often we don't need to take any action atm.

[2021-11-01 15:45] JasonFengJ9 commented on #13844
Just note this is required after fixing https://github.com/eclipse-openj9/openj9/issues/13828.

[2021-11-01 15:47] amicic commented on #13349
Those are abort scavenges that cause global GCs with compaction to recover. Aborted scavenge occur when there is no room to move objects neither in Nursery (for example due to overly optimistic tilting) nor in Tenure (too late concurrent kickoff)
Without going into details they occur because of high variability in application (from GC perspective, like allocation and survival rate), so that tiltin

[2021-11-01 15:56] hangshao0 commented on #13841
Another possibility is to run this sub-test twice, with the second time running with `-Xshareclasses:bootClassesOnly,verbose`, which gives us more debugging output once it fails.

[2021-11-01 16:29] #13827 closed

[2021-11-01 16:32] pshipton commented on #13841
Good idea.

[2021-11-01 18:12] #13694 closed

[2021-11-01 18:26] amicic commented on #13659
The motivation is clear: in case that the target object (passed as argument to refersTo) is not equal to the referent, if in a middle of a cycle, with old behavior we would needlessly mark the referent (while potentially the reference object could have been cleared, and referent collected). Removing the part of the logic that marks the objects is correct.

There is a bit of non-trivial aspect of _

[2021-11-01 18:33] urisimchoni commented on #13838
Here's a link for core1 with jpackcore -x:
https://drive.google.com/file/d/1g5oDs5zuxeqV7LFYu9nGnixPc0WjswkF/view?usp=sharing

[2021-11-01 18:39] keithc-ca commented on #13659
Thanks, @amicic.

[2021-11-01 19:27] dmitripivkine commented on #13802
test source: https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/1ba14ee631d40b08f851abe8f6e9c8bf86c44f4b/test/jdk/java/lang/reflect/callerCache/ReflectionCallerCacheTest.java#L113

[2021-11-01 19:37] tajila commented on #13838
Core1

Native stack
[code]

Java Stack
[code]

[2021-11-01 19:41] dmitripivkine commented on #13802
Grinder 2*5 iterations to check reproducibility rate https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/19191/

One problem I can spot right now - if test expects class unloading it should be run with `-Xalwaysclassgc`

[2021-11-01 19:44] tajila commented on #13838
Core 2

Native stack
[code]

[2021-11-01 19:48] mpirvu commented on #13807
@gjdeval collected a JLM from a run with SCC enabled but AOT disabled. Here's an excerpt for the system monitors:
[code]
The hottest monitors are `&(tempConfig->jclCacheMutex)` and `VM class table`.
Searching the code base, `jclCacheMutex` appears in JavaVM struct, but also in `J9SharedClassConfig`. In this case it's probably the latter, so we are hitting some SCC locking and class related locking

[2021-11-01 19:50] mpirvu commented on #13807
@hangshao0 Any comment on the `&(tempConfig->jclCacheMutex)` monitor shows in the JLM above?

[2021-11-01 19:51] pshipton opened #13846 "OpenJ9 uses `/` in Class names sometimes in stack traces"
Noticed in OpenLiberty testing, OpenJ9 uses `/` in Class names sometimes in stack traces while Hotspot does not. The testing was done with Java 17 but the problem may not be specific to 17, we may get more information on this later. This is not referring to the frames that show `java.base/` as this is the same in both.

OpenJ9 stacktrace
[code]

Hotspot stacktrace
[code]

@tajila

[2021-11-01 20:28] pshipton commented on #13838
The first javacore shows `Dump Event "systhrow" (00040000) Detail "java/lang/OutOfMemoryError" "Failed to create stack trace (most likely due to lack of OS memory)" received`

[2021-11-01 20:35] dmitripivkine commented on #13802
May be not. ForceGC() calls 10 System GCs in a row, and every second run should be aggressive and include class unloading.

[2021-11-01 20:44] hangshao0 commented on #13807
I believe most of the SCC calls to enter the `jclCacheMutex` is on the finder path for classes that are stored using:
 1. a URL
 2. a URL class path

I've see cases that classes are stored using the actual URL of each class file (`URL:path/packageName/ClassName.class`). If that is the case here, each class file will have a unique URL, and the benefit of caching the URL is lost. Every time we will

[2021-11-01 20:56] hangshao0 commented on #13837
I miss read the code. It is memory segment mutex inside `updateMetadataSegment()`, not class segment mutex.

[2021-11-01 21:01] pshipton commented on #13838
There was an attempt to allocate a ridiculous amount of memory, the trace history shows
[code]

[2021-11-01 21:27] dmitripivkine commented on #13802
all jobs passed, there is another grinder https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/19194/

[2021-11-01 21:55] #13839 closed

[2021-11-01 22:06] babsingh commented on #13504
### Grinders

[Personal grinder 1](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/19145/): JIT enabled. 37 failures out of 1950 tests. [**Link to core files**](https://na.artifactory.swg-devops.com/artifactory/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com/Grinder_iteration_9/291/system_test_output.tar.gz).

[Personal grinder 2](https://hyc-runtimes-jenkins.swg-devops.com/job/Gr

[2021-11-01 22:44] pshipton commented on #12942
Somehow this was fixed as sanity.functional tests were passing.

[2021-11-01 22:44] #12942 closed

[2021-11-01 22:49] a7ehuo opened #13848 "Crash with value type array element flattening enabled with -Xint"
I ran into a crash in `GC_ArrayletObjectModel::getDataSizeInBytes` [1] with the following code [2] when value type array element flattening is enabled (JDK18). It looks `clazzPtr` is not a legit `J9Class`. Attached the test code [3].

* Using `new SingleFieldPrimitive(j)` to create value type arrays is fine but using `new SingleFieldPrimitive()` causes the crash
* Only happens when array element f

[2021-11-01 22:50] a7ehuo commented on #13848
@tajila @hangshao0 fyi

[2021-11-02 01:07] pshipton commented on #8972
Internal job_output.php?id=18664554 [Win64 Hammer] 80 JIT_Sanity.abbs.5mins.Mode140
[code]

[2021-11-02 03:41] babsingh commented on #13504
@llxia I ran a grinder ([Link to Grinder #19186](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/19186/)) for `HCRLateAttachWorkload_previewEnabled_1` with `EXTRA_OPTIONS = -Xint` (JIT disabled). But, the test didn't run with `-Xint`. The core files (from the failures) show that the JIT is still enabled. How can I pass `-Xint` to `HCRLateAttachWorkload_previewEnabled_1` in the grinder?

@f

[2021-11-02 11:59] JasonFengJ9 commented on #13180
Observed at an internal build `job/Test_openjdk17_j9_extended.openjdk_aarch64_linux/24` (`ub18-aarch64-5`)
[code]

This occurred at JDK17 head w/ a production mode `JVM_OPTIONS:  -XX:+UseCompressedOops`.

[2021-11-02 12:13] JasonFengJ9 commented on #13647
Observed in an internal build `job/Test_openjdk17_j9_special.system_s390x_linux_testList_3/81/` (`rhel7s390x-3-4`)
[code]

[2021-11-02 12:17] JasonFengJ9 commented on #12083
Just note this failure occurred regularly, a recent one at `job/Test_openjdk17_j9_extended.openjdk_x86-64_windows/23/`
[code]

[2021-11-02 12:20] pshipton commented on #13647
@joransiu fyi

[2021-11-02 12:24] pshipton commented on #12083
I believe this is a machine configuration problem.

[2021-11-02 13:00] JasonFengJ9 commented on #13828
There were lots of OpenJDK update such as [8271820: Implementation of JEP 416: Reimplement Core Reflection with Method Handle](https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/ed8f09d38f1f29b69a17a3778325143d40d76d11)

https://github.com/eclipse-openj9/openj9/pull/13849 addresses `bootstrap error, system property access before init: os.version`, afterwards the build hits `StackOverflowErro

[2021-11-02 13:19] mpirvu commented on #13807
Judging based on the number of URLs in the javacore, I think that we are hitting the case described by Hang above:
[code]

[2021-11-02 13:26] vijaysun-omr commented on #13548
Any update on this ?

[2021-11-02 13:52] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/67
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/EnumSet/EnumSetBash.java
[code]

[2021-11-02 14:01] ymanton commented on #13588
Looks like the crash happens while we are executing code for an inlined method that has been unloaded. Unloaded method calls `jitCheckCast` with a class pointer that we pulled from the PTOC, but that class pointer is `-1` because the PTOC slot was presumably clobbered once the class was unloaded. Control seems to fall through to the unloaded inlined method without passing through any sort of guard

[2021-11-02 14:14] llxia commented on #13504
`-Xint` is passed into STF via `-java-args=' -XX:-UseCompressedOops -Xint'`. But it looks like  `-java-args` is set twice in the following command. I think the original value is overridden.

[code]

The issue is opened https://github.com/adoptium/aqa-tests/issues/3114

[2021-11-02 14:27] zl-wang commented on #13588
that -1 is not a clobbering value.   it really confirmed that class has been unloaded.   on class unloading, we intentionally did:

`setTOCSlot(hash[idx]._tocIndex * sizeof(uintptr_t), -1);`

this means inlined guard is missing.  @0xdaryl

[2021-11-02 14:37] fengxue-IS commented on #13162
Tried with `-Xjit:exclude={java/lang/invoke/BoundMethodHandle.<init*|java/lang/invoke/SimpleMethodHandle.make*|java/lang/invoke/SimpleMethodHandle.<init*}`
still failed with same error

[2021-11-02 14:51] gacholio commented on #13838
One scenario that might cause this is if the thread is interrupted during a malloc/free, and the ASGCT call uses malloc/free, resulting in corruption of the malloc heap.

ASGCT is careful not to allocate anything, but I will take another pass over the code to be sure.

[2021-11-02 14:54] tajila commented on #13828
Use `-Djdk.reflect.useDirectMethodHandle=false` to disable MH support

[2021-11-02 14:57] hangshao0 commented on #13848
We may want to add the test here into the build once the issue is fixed.

[2021-11-02 14:58] JasonFengJ9 commented on #13828
This fixed `InternalError: java.lang.reflect.Method::parameterTypes cannot be accessed reflectively before java.lang.invoke is initialized`.

[2021-11-02 15:49] pshipton opened #13852 "JEP 416: Reimplement Core Reflection with Method Handles"
See https://openjdk.java.net/jeps/416

@tajila @0xdaryl fyi

[2021-11-02 16:09] tellison commented on #13581
Can you provide a bit more clarity please @jdmpapin ?

Should or will?

Is that an example, or are those the actual affected methods in this bug?

If this workaround is put into production I'd like some reassurance that it is sufficient and will be a proper workaround.

[2021-11-02 16:17] PhilWakelin commented on #13807
@mpirvu here is a log of printstats URLs from one of the performance runs with 80 apps https://ibm.box.com/s/po2o2sjxio02l015x3q5y4ik0wh8ryn1

[2021-11-02 17:09] mpirvu commented on #13807
The logs show the problem reported by Hang above. I understand that Liberty team is looking into a solution.

[2021-11-02 18:00] ymanton commented on #13588
I can't manually reproduce this, but I ran it and collected a trace file anyway since whether or not it crashes seems to depend on timing. In the core file, KCA has the inlining table as:

[code]

In the trace log the inlining table is:

[code]

Unloaded method has index 1, class name `0x000000002803d7e0`.

From the trace log it seems we don't generate any kind of guard for this method during inli

[2021-11-02 18:08] jdmpapin commented on #13581
It *will* work, if I must make the distinction. It prevents the bug in the repro that I posted above. Furthermore, this bug only affects the "custom thunk" of `VirtualHandle`, and since `VirtualHandle` is a leaf handle it doesn't undergo customization on its own, so the custom thunk is only generated when `VirtualHandle` is inlined. I said *should* only because there is always a possibility that I

[2021-11-02 19:21] EricYangIBM commented on #11580
I am unsure what to do for https://github.com/eclipse-openj9/openj9/blob/master/runtime/compiler/optimizer/VarHandleTransformer.cpp#L295. That method is accessing the varhandlemethodtypelookuptable so I think some changes are necessary when ojdk method handles are enabled.

[2021-11-02 20:39] gjdeval commented on #13807
Jared has provided to me a quick-and-dirty patch of the Liberty AppClassloader which trims the URLs stored in the SCC as per Hang's guidance. The patch is not complete, it was provided just to see how much benefit we could get from improving handling of the URLs.

The patch reduces the number of URLs stored for my largest config (100 apps) by about two orders of magnitude.

before patch:
[code]
af

[2021-11-02 21:34] JasonFengJ9 commented on #13852
Copied from https://github.com/eclipse-openj9/openj9/issues/13828#issuecomment-957515683

https://github.com/eclipse-openj9/openj9/pull/13849 addresses `bootstrap error, system property access before init: os.version`, afterwards the build hits `StackOverflowError`
[code]

Workaround the `StackOverflowError` temporally, an `InternalError` occurred.
[code]

W/ `-Djdk.reflect.useDirectMethodHandle=f

[2021-11-02 23:39] pshipton commented on #13852
How did you apply `-Djdk.reflect.useDirectMethodHandle=false`, does it affect every run?

[2021-11-03 00:10] JasonFengJ9 commented on #13852
It is hardcoded via `System.ensureProperties()` [1].

[1]https://github.com/JasonFengJ9/openj9/blob/10ed060fea589ac880801ec7ebcaf9cff2ff906a/jcl/src/java.base/share/classes/java/lang/System.java#L606

[2021-11-03 00:23] fengxue-IS commented on #11580
The first link code should be never used with ojdk MH enabled, so you should be able to ifdef the code block with `J9VM_OPT_METHOD_HANDLE`.
@nbhuiyan can you confirm that `VarHandleTransformer` functions are not used with ojdk MH, and if it is possible to ifdef them out when ojdk mh is enabled

for second link, you don't need to do anything as the code is already ifdef with `J9VM_OPT_OPENJDK_METHO

[2021-11-03 12:33] 0xdaryl commented on #13588
@jdmpapin : please investigate this.

@ymanton : are you able to attach the log you last generated to this issue?

[2021-11-03 12:43] #13829 closed

[2021-11-03 13:05] ymanton commented on #13588
[trace.log.1.1087321.72339.20211102.095859.1087321.txt](https://github.com/eclipse-openj9/openj9/files/7467682/trace.log.1.1087321.72339.20211102.095859.1087321.txt)

[2021-11-03 13:07] dchopra001 commented on #13647
Here are the instructions leading up to the crash:
[code]

This instructions comes from when we inline `StringLatin1.inflate` here: https://github.com/eclipse-openj9/openj9/blob/1318614438dc5d5a459deca443321a32ec46c657/runtime/compiler/z/codegen/J9TreeEvaluator.cpp#L187

We inline StringLatin1.inflate in `String.decodeASCII` here: https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/2a96bee144

[2021-11-03 13:28] tajila commented on #13824
Ran a 50 job grinder, all passed. https://openj9-jenkins.osuosl.org/job/Grinder/338/tapResults/

[2021-11-03 13:58] jdmcclur commented on #13548
I have no updates - @mpirvu, let me know if you want something from me.

[2021-11-03 14:06] #13742 closed

[2021-11-03 14:14] mpirvu commented on #13548
I didn't have time to work on this. I could try your last version of JMeter though.

[2021-11-03 14:32] #11548 closed

[2021-11-03 15:16] tjwatson opened #13856 "CRIUSupport: restoring env values when value exists or value contains equals "=""
If values in the env file contain `=` themselves then an error occurs.  For example:

mykey=my value with=contained in it.

Then an IllegalArgumentException with a message "Env File entry is not in the correct format: [envVarName]=[envVarVal]:" is thrown.

Instead a `String entrySplit[] = entry.split("=", 2);` should be done to only pay attention to the first `=`.

Also, if the env file contains e

[2021-11-03 15:50] hangshao0 commented on #13837
The timeout might be caused by reader waiting for the write mutex in `updateRuntimeFullFlags()` after `readerCount` is incremented.

[2021-11-03 16:58] gacholio commented on #13838
The huge memory allocation attempt is the stack walker cache used by `fillInStackTrace`. Generally, huge cache sizes indicate a corrupt stack. `(sp - stack start) < 0` results in a huge positive value.

In the core, the stack is completely walkable, which makes it look like the `sp` value was incorrect at the time the cache computation took place. ASGCT does modify the `sp` temporarily in the case

[2021-11-03 17:21] nbhuiyan commented on #11580
Yes, this is not used with ojdk MHs. We can safely ifdef out the entire body of `TR_VarHandleTransformer::perform()` (except return 0) in ojdk MH builds.

[2021-11-03 17:36] JasonFengJ9 commented on #13852
### Failure 1 - StackOverflowError

* Extension repo - https://github.com/ibmruntimes/openj9-openjdk-jdk/tree/openj9-staging
* OpenJ9 repo - https://github.com/JasonFengJ9/openj9/tree/jdk18stackof

[code]

### Failure 2 - AssertionError & Segmentation error vmState=0x00000000

* Extension repo - https://github.com/JasonFengJ9/openj9/tree/jdk18assertioncrash
* OpenJ9 repo - https://github.com/Jason

[2021-11-03 18:00] urisimchoni commented on #13838
ASGCT is invoked from a signal handler, and the signal is blocked while the signal handler is executing (default POSIX behavior), so no - an ASGCT cannot be interrupted by agent code that calls ASGCT.

[2021-11-03 19:16] vijaysun-omr commented on #13192
I saw some of the data from a few months back for HCR enabled vs HCR disabled and we stack allocated approximately 9-10X more in most runs with HCR disabled vs when HCR was enabled. This was true both from a static (compile time) count as well as a dynamic (run time) count of stack allocations done in the two modes.

However, this result was only on one of the Dacapo benchmarks and run with count=

[2021-11-03 19:57] mpirvu commented on #13807
A summary of experiments I performed using Jared's patch and `-XX:+ClassRelationshipVerifier` (tests were done on a skylake machine with 8 HWthreads and loaded 100 apps in Liberty).

(1) No SCC ==> 128 sec
(2) -Xnoaot ==> cold=148 sec, warm=110 sec
(3) default ==> cold=236 sec, warm=114 sec

Since perf profiles showed a relatively large number of ticks in `requestExistsInCompilationQueue()` I inve

[2021-11-03 20:00] dmitripivkine commented on #13802
I launched number of grinders with hundreds of repetitions of the test and can not reproduce this problem

[2021-11-03 20:53] JasonFengJ9 commented on #12556
Observed at an internal build `job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_testList_1/4/`(`ub18s390xrt-1-2`)
[code]

[2021-11-03 21:41] pshipton commented on #13852
I started an acceptance build, we can see what happen there.
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/146/

[2021-11-03 22:41] pshipton commented on #13852
The builds are failing like the following, but I can't find any console output that shows what went wrong.
[code]

We can't merge Jason's signature changes as it would break Java 18 builds using the `openj9` branch, the currently promoted version.

[2021-11-03 23:22] keithc-ca commented on #13852
Apparently, Jason independently noticed the signature change of `NativeLibraries.load()` and adjusted accordingly. Even together with my changes to adapt to the signature change of `JVM_LoadLibrary()`, I see the recursive behavior that leads to stack overflow. The next step is to identify the place where we can break the infinite recursion.

[2021-11-03 23:34] pshipton commented on #13721
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/130 - aix71-p8-3
jdk_lang_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops `
java/lang/String/concat/ImplicitStringConcatManyLongs.java
[code]

[2021-11-03 23:37] pshipton commented on #13756
@llxia can you get a reproduction rate pls. Does this occur every time or is it intermittent, and if so how intermittent?

[2021-11-03 23:43] pshipton opened #13860 "OpenJDK java/util/logging/FileHandlerAccessTest.java timeout"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Nightly/69 - ub20-390-2
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/logging/FileHandlerAccessTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Nightly/6

[2021-11-04 00:35] JasonFengJ9 commented on #13852
It failed at finding static method `jdk.internal.loader.NativeLibraries.load()`  which now has new signature `(Ljdk/internal/loader/NativeLibraries$NativeLibraryImpl;Ljava/lang/String;ZZZ)Z`. The failure occurred at vm early booting stage, and there was no error message. (there was complaint about this behaviour before, will create an issue, or just fix it)
I think the code hasn't hit `JVM_LoadLib

[2021-11-04 01:58] mpirvu commented on #13807
I implemented the change the limits the compilation queue size to a certain value by  postponing any compilation requests once the limit is reached. Postponing is done by adding to the invocation count of the methods 3000 (so methods become again eligible for compilation after 3000 more invocations).  This change however, did not improve start-up time any further. I can see that the compilation qu

[2021-11-04 03:35] srbala opened #13861 "JDK 17 semeru17-binaries JRE packages"
JDK 17 semeru17-binaries releases missing JRE packages.

https://github.com/ibmruntimes/semeru17-binaries/tree/jdk-17.0.1%2B12_openj9-0.29.1-m1

[2021-11-04 03:42] srbala opened #13862 "Download API URL"
Working on a CI/CD build automation which downlods file and its SHA for packaing purposes. Is there any API available similar to `adoptium` below available for `OpenJ9`?

[code]

[code]

[2021-11-04 04:40] srbala commented on #13862
Ok, I was able to find some answer from IBM page https://www.ibm.com/support/pages/semeru-runtimes-getting-started/

Needed to adjust my script as below to get Java 11 JDK and JRE as below

[code]

This good enough, closing issue.

[2021-11-04 04:40] #13862 closed

[2021-11-04 12:39] JasonFengJ9 opened #13863 "RISC-V support added VAR_CPU_ARCH=riscv"
**JDK-8199138: Add RISC-V support to Zero [1]**

[code]

There was an JCL patch adding `VAR_CPU_ARCH=riscv64` [2], note the OpenJDK changing it to `riscv`.
Though this is a change at the extension repo, I think `OpenJ9` might have to adopt it.

fyi @ChengJin01

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk11/commit/7017510e02b1531c611c38a8b0b4d64c8d296626
[2] https://github.com/ibmruntimes

[2021-11-04 12:46] pshipton commented on #13861
Better to comment in https://github.com/adoptium/temurin-build/issues/2683, or create an issue in https://github.com/ibmruntimes/Semeru-Runtimes/issues. Semeru uses Adoptium pipelines to produce the builds, which don't support creation of JREs for Java 17. This is not an OpenJ9 problem.

[2021-11-04 12:46] #13861 closed

[2021-11-04 12:50] pshipton commented on #13861
Note that it's possible to create a JRE by running the `jlink` tool, and providing the list of modules to be in the JRE.

[2021-11-04 12:52] JasonFengJ9 commented on #13577
Observed at an internal build `job/Test_openjdk17_j9_sanity.functional_x86-64_linux_testList_1/78/`
[code]

[2021-11-04 13:01] pshipton commented on #13862
Note the best place for these types of questions is https://github.com/ibmruntimes/Semeru-Runtimes/issues

[2021-11-04 13:14] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Nightly/141/ - ub16p8j92
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/EnumSet/EnumSetBash.java
[code]

[2021-11-04 13:15] llxia commented on #13756
Launching [Grinder with 100 ITERATIONS](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/19267). Will update the result once it is done.

[2021-11-04 13:47] mpirvu commented on #13807
I implemented another change where AOT loads don't need to acquire the CHTable mutex when they finish, but there is no improvement out of it. However, if I compile AOT bodies with `-Xaot:disableCHOpts` I see a small improvement where performance is more or less on par with -Xnoaot case. I guess, during AOT relocations we need to acquire CHTable mutex briefly, but when `disableCHOpts` is used, that

[2021-11-04 14:03] keithc-ca commented on #13863
I don't see any uses of `*_CPU_ARCH` that should need to be updated for RISC-V, and so don't expect any changes will be required.

[2021-11-04 14:10] JasonFengJ9 commented on #13863
Closing then.

[2021-11-04 14:10] #13863 closed

[2021-11-04 14:20] #13659 closed

[2021-11-04 14:58] pshipton commented on #13846
It was noted the problem has only been seen in longer stack traces. It doesn't seem to occur in shorter stack traces, although that may be just due to the types of testing that produce the shorter traces.

[2021-11-04 15:10] tajila commented on #13846
Im suspectinf that it depends on which classLoader the class belongs to.

[2021-11-04 15:23] tajila commented on #13824
100/100 passed in https://openj9-jenkins.osuosl.org/job/Grinder/339/tapResults/

[2021-11-04 15:39] mpirvu commented on #13807
I achieve the best start-up time results with `-Xaot:disableCHOpts -Xjit:disableCHOpts` which minimizes the pressure on the 'VM class table' lock from the JIT.
(6) -Xaot:disableCHOpts -Xjit:disableCHOpts ==> 103 sec

Lock statistics become:
[code]

[2021-11-04 15:41] vijaysun-omr commented on #13807
Okay these options may affect throughput and so I wanted to point out that tradeoff exists.

[2021-11-04 16:49] sxa commented on #13861
See https://blog.adoptium.net/2021/10/jlink-to-produce-own-runtime/ if you want a guide to doing that.

To anyone reading this, see https://blog.adoptium.net/2021/10/jlink-to-produce-own-runtime/ if you want a guide to doing that :-)

[2021-11-04 17:25] JasonFengJ9 commented on #13828
This issue is addressed via [JDK18+ returns os.version before System.systemProperties is initialized](https://github.com/eclipse-openj9/openj9/pull/13849).

Other `JDK18` build issues are being tracked via https://github.com/eclipse-openj9/openj9/issues/13852 &  https://github.com/eclipse-openj9/openj9/issues/13844.

[2021-11-04 17:25] #13828 closed

[2021-11-04 19:02] #13856 closed

[2021-11-04 21:26] pshipton opened #13865 "OpenJDK java/lang/ProcessBuilder/Basic.java failures blocking OpenJDK11 promotion"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_OpenJDK11/13/
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_OpenJDK11/13/

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_OpenJDK11/13
    java/lang/ProcessBuilder/Basic.java#id0.Basic_id0
    java/lang/ProcessBuilder/Basic.java#id0.Basic_id0

[2021-11-05 00:42] pshipton commented on #13865
Created https://github.com/eclipse-openj9/openj9/pull/13866 to fix `-Xlog:all=warning`, but it doesn't fix the failures.

[2021-11-05 12:10] pshipton commented on #11979
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_OMR_testList_1/117/
cmdLineTest_sigabrtHandlingTest_0 `NoOptions`
[code]

[2021-11-05 13:54] pshipton opened #13868 "testDDRExtJunit_FindExtThread_0 [ERROR] '!findstackvalue 0x<value>' output is null or empty"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_aarch64_linux_Nightly_testList_1/36 - cent8-aarch64-3
testDDRExtJunit_FindExtThread_0 `NoOptions`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.functional_aarch64_linux_Nightly_testList_1/36/functional_test_output.tar.gz

See also https://github.com/eclipse-openj9/openj9/issue

[2021-11-05 14:04] pshipton commented on #13721
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/132

[2021-11-05 15:25] AdamBrousseau commented on #13862
Copy/paste from the support page here for everyone.

[2021-11-05 15:27] JasonFengJ9 commented on #13852
`VMCPTool` has a bug using static method alias which is being addressed via https://github.com/eclipse-openj9/openj9/pull/13869
Updated two personal branch [1] [2] to include the change.

Note: the two failures (https://github.com/eclipse-openj9/openj9/issues/13852#issuecomment-959765941) are still persistent. (VM hasn't hit the static method in question yet)

[1] https://github.com/JasonFengJ9/op

[2021-11-05 16:30] gacholio commented on #13838
I've taken a look at the code and I don't see any allocations. The signal handler code does some stuff which might not stack well, but I can't blame it yet.

@urisimchoni Can you provide something I can run to reproduce the problem? I need to be able to strip pieces out of ASGCT to see what's causing the issue.

[2021-11-05 16:52] urisimchoni commented on #13838
Sure, I'll make a stripped-down version of the agent.
Thanks for looking into this!

[2021-11-05 16:57] gacholio commented on #13192
First off, we'll need a new MMD query to see if a compiled method needs to be force OSRed (for now, I'll just pass the metadata - in the future we can get fancier).

Note that OSR does not occur during the HCR - the frame is marked for decompilation which takes place when the frame is returned to. The heapification will need to occur here as we can't allocate heap objects during HCR (exclusive VM

[2021-11-05 17:50] hzongaro commented on #13726
I think I've figured out what's going wrong.  In [`getCandidate`](https://github.com/eclipse-openj9/openj9/blob/6bd31a902b1e42c419068347b6d249ec19a47022/runtime/compiler/optimizer/EscapeAnalysis.cpp#L8166-L8181), if the `FlushCandidate` has a known allocation candidate associated with it, that can be retrieved using `FlushCandidate::getCandidate`.  However, if the `FlushCandidate` does not have an

[2021-11-05 17:56] gacholio commented on #13192
@vijaysun-omr Does OSR do any heapification today, or are stack allocated objects only allowed to exist between OSR points?

[2021-11-05 18:48] mpirvu commented on #13548
I will be using the new JMeter script/build shortly.
Before doing that I had one more run with the old JMeter and looked at the output from the auth service. There is this exception being thrown:
[code]

[2021-11-05 19:07] jdmcclur commented on #13548
@mpirvu - tldr: This warning is expected, all the services will have it. You can ignore it.

This is coming out of the open-tracing implementation (Jaeger). It's warning you that it can't connect to a Jaeger Service, so the open-tracing traces are not being sent anywhere (which is fine). It is an ugly warning though.

You can go the server.env in src/main/liberty/config and set this, if you want i

[2021-11-05 20:08] JasonFengJ9 opened #13871 "j9constantpool doesn't check versions properly"
### Summary of problem
------------------

`j9constantpool` [1] doesn't check versions properly for `classref`, `fieldref`, and maybe others.

JDK8 doesn't have the class `java.lang.invoke.FilterArgumentsWithCombinerHandle`
https://github.com/eclipse-openj9/openj9/blob/bad687ee7ae3ff98cf547882ba4abb77e19f1b69/runtime/oti/vmconstantpool.xml#L103
However `j9vmconstantpool.h` generated for JDK8 has f

[2021-11-05 20:56] vijaysun-omr commented on #13192
No heapification is done by OSR code today.

[2021-11-05 21:27] gacholio commented on #13192
Then I think dynamic is the only practical way to go (which will introduce some overhead in the interpreter, but probably not much). In the case above, each use of `t` will attempt the heapficiation until one succeeds or the OOM propagates out.

If this proves problematic, we may be able to use some trickery - acquire exclusive, mark all mutator threads as "halted for heapification", release exclu

[2021-11-05 21:38] vijaysun-omr commented on #13192
Yes I think the plan was to look at SA->SA heapification later (since this would require nested object heapification support). It is possible that @Swapnilr1 has this implemented but plans to pull request it later, or that some other student who will continue the work that he started under @manasthakur will add support for that kind of heapification as part of the project around more optimistic st

[2021-11-05 21:40] pshipton commented on #13871
Is there a user visible problem? Not sure the userRaised label is appropriate.

[2021-11-06 01:45] mpirvu commented on #13548
I no longer see those exceptions with the new JMeter. Unfortunately I am now hitting another problem: if I run long enough, the flight service starts consuming all the the CPU on the machine 9even after JMeter terminates). All the executor threads seemed to be stuck in this stack trace:
[code]
This is happening for both release 0.29.0 and 0.24.0, so it's not a new problem introduced by 0.29.0

[2021-11-06 02:30] mpirvu commented on #13548
Looking at methods that are compiled very late (since the problem happens after 20-25 minutes of load) I found this HashMap method:
[code]

[2021-11-06 03:45] mpirvu commented on #13548
Disabling scorching or even hot compilations, does not make the problem go away.

[2021-11-06 15:09] mpirvu commented on #13548
I run the flight service with just cold compilations. Just before my third batch of JMeter load finished, it started to show errors. The flight service was active another 20-30 seconds after JMeter finished, consuming 150-200% CPU. After that everything went back to normal and I started the 4-th JMeter batch. Midway through the 10 minutes run, the booking service started to misbehave, being the on

[2021-11-08 09:40] mpirvu commented on #13548
I profiled the flight service when it consumes the CPU on the entire machine. The only methods that are executed are these two:
[code]

[2021-11-08 12:17] paulcheeseman opened #13874 "OpenJ9 adds -javaagent JAR to the classpath twice"
When running with a javaagent command line option like this:

`-javaagent:agenttest.jar`

The agent JAR will be added to the system class loader's class path so the JVM can find it. With Temurin/Hotspot, the JAR only appears on the class path once, but with a Semeru/OpenJ9 the JAR is added twice.

To reproduce, run the attached testcase like this:

`java -javaagent:agenttest.jar PrintClassPath`

W

[2021-11-08 12:51] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_2/141
ConcurrentLoadTest_5m_0 `-XX:+UseCompressedOops `
[code]

[2021-11-08 12:55] pshipton opened #13875 "OpenJDK LoggerInterfaceTest Bad e.callStack[1].getMethodName() <unknown method>"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/137
jdk_lang_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops`
java/lang/System/Logger/interface/LoggerInterfaceTest.java
[code]

[2021-11-08 12:55] pshipton commented on #13875
@tajila fyi

[2021-11-08 12:58] pshipton commented on #13233
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_mac_Nightly_testList_0/73 - osx1013-x86-3
testvmcheck_6 `-XX:+UseCompressedOops -Xjit -Xgcpolicy:balanced`
[code]

[2021-11-08 13:01] pshipton commented on #13162
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Nightly/73
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/Map/InPlaceOpsCollisions.java
[code]

[2021-11-08 13:04] JasonFengJ9 commented on #13871
There are unanticipated code generated for earlier Java levels but no visible user application problem.

[2021-11-08 14:10] DanHeidinga commented on #13162
@fengxue-IS Can you provide an update on the current approach / next steps?  It's hard to follow the investigation (and chime in with help!) without more detail here.

[2021-11-08 14:18] jdmcclur commented on #13548
Interesting, so the original problem seems to go away with the new jmeter script which is good, but there are new problems.

Here is where the Liberty code does the put in the stack above.
https://github.com/OpenLiberty/open-liberty/blob/5c946ad0ee55c8adfbf54cb56bfa1558e6c28a96/dev/com.ibm.ws.jaxrs.2.0.cdi/src/com/ibm/ws/jaxrs20/cdi/component/JaxRsFactoryImplicitBeanCDICustomizer.java#L245

[2021-11-08 14:23] tajila commented on #13162
The latest experiments seem to indicate that when we prevent transitions to the JIT after we have entered `makeIntrinsic` the failure goes away. So far it has passed 80/80 with this change.

The next step will be to determine which compiled methods are called after entry to  `makeIntrinsic` and exclude them individually to determine which one may be causing the issue.

Simultaneously, there are ef

[2021-11-08 14:23] JasonFengJ9 opened #13876 "JDK8 Linux AMD64 MauveSingleInvocLoad_special_5m_22_FAILED - Segmentation error vmState=0x00000000 at jre/lib/amd64/default/libj9jit29.so"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_special.system_x86-64_linux_testList_0/123/` (`ubu20le-rt1-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_special.system_x86-64_linux&DOCKER_REQUIRED=false&ACTIVE_NOD

[2021-11-08 14:41] babsingh commented on #13504
The O-slot corruption also happens with `-Xint`. The corruption happens at a different location.

Even with the JIT enabled, I have seen the `O-slot` corruption happen differently: in a different method or different O-slot. With the JIT enabled, the corruption mostly happens in the first method of the thread stack which is always interpreted.

I could not find a way where the interpreter would cor

[2021-11-08 15:03] fengxue-IS commented on #13162
I have modified `countAndCompile` function to always return false once VM enter `makeIntrinsic` call. and with this change, 80/80 passed on plinux (`job/Grinder/19323/` & `job/Grinder/19325/`) and
100/100 passed on xlinux (`job/Grinder/19327/`) when JIT compiled methods are disabled during `makeIntrinsic` call.

I am working on setting up grinder to accept a jitlog file in order to limit the metho

[2021-11-08 15:55] dmitripivkine commented on #13504
from `./optthruput/core.20211105.074034.11623.0001.dmp`
Assertion is triggered by O-slot value `0x3fee80b8770` points to the same java thread stack (assuming this is stack allocated object), but is it pointed **outside of used space of the stack** (current `walkSP = 0x000003FEE80B8788`) ?
[code]
[code]

[2021-11-08 16:05] babsingh commented on #13504
Information for one of the scenarios is available in https://github.com/eclipse-openj9/openj9/issues/13504#issuecomment-956714413.

It is not consistent. It can be a different O-slot. With `-Xint`, it is a different method.

[2021-11-08 16:27] dmitripivkine commented on #13504
Ah, I see, O-slot itself has bogus value, not a location it points at

[2021-11-08 16:51] tajila commented on #13875
Grinder passed 10/10 https://openj9-jenkins.osuosl.org/job/Grinder/350/tapResults/ meaning that it is an intermittent isssue.

I'm inclined to think that this is unrelated to the `<unkownclass>` issues we were seeing earlier

[2021-11-08 17:17] babsingh opened #13877 "Update MethodHandleNatives_getMemberVMInfo to work with MemberName.vminfoIsConsistent"
Refer to https://github.com/eclipse-openj9/openj9/issues/13852#issuecomment-959765941. Reproducing the `AssertionError` in the comment highlights the incompatibility between `MethodHandleNatives_getMemberVMInfo` and `MemberName.vminfoIsConsistent`.

This error is seen while building jdk-next (JDK18).

Related: https://github.com/eclipse-openj9/openj9/issues/13852

### MethodHandleNatives_getMember

[2021-11-08 17:36] dmitripivkine commented on #13504
I wondering can it be just uninitialized O-slot accidentally exposed to GC? I think you can verify this by zeroing entire frame in the stack as soon as space is reserved

[2021-11-08 17:39] babsingh opened #13878 "[JDK18] NoClassDefFoundError: InjectedInvoker"
### Error

The below error is seen with JDK18.

A similar failure was reported in https://github.com/eclipse-openj9/openj9/issues/11926 for JDK17. The associated pull requests show the fix.

Related: https://github.com/eclipse-openj9/openj9/issues/13852 (JEP-416 support)

[code]

### Micro-test

[code]

[2021-11-08 17:43] babsingh commented on #13852
@JasonFengJ9 I was able to reproduce both the `StackOverflowError` and `AssertionError`, which are mentioned in https://github.com/eclipse-openj9/openj9/issues/13852#issuecomment-959765941.

### StackOverflowError

We will need to update how reflection is used in `java.lang.Class` methods such as `getParameterTypes` which rely on reflection and reflection cache (`-Dreflect.cache=<true|false>`). Th

[2021-11-08 17:46] georgejxu opened #13879 "dtfj to interpret a call stack from a throwable object"
a throwable object contains a walkback objects which represents a call sack as shown in the attached image.

We need a way to get the corresponding call stacks.

![image](https://user-images.githubusercontent.com/83080836/140791757-cef13ab9-8450-463b-bdc9-45410cdf30d2.png)

MAT can take the advance to find the responsible thread stack even when the original live thread is gone.

[2021-11-08 18:07] JasonFengJ9 opened #13880 "JDK18 reflection & cache need accommodate JEP416 MH change"
### StackOverflowError

We will need to update how reflection and reflection cache (`-Dreflect.cache=<true|false>`) is used in `java.lang.Class` methods such as `getParameterTypes`. This will also apply to other classes where reflection is used. An investigation will be required to determine how to update these methods.

We will also need to make sure that the MethodHandle API (`java.lang.invoke`

[2021-11-08 18:08] keithc-ca commented on #13871
I think the notion of 'aliases' has out-lived its usefulness. For example, instead of writing
[code]
we could say
[code]

[2021-11-08 18:11] JasonFengJ9 commented on #13852
Created [JDK18 reflection & cache need accommodate JEP416 MH change](https://github.com/eclipse-openj9/openj9/issues/13880) to track the `StackOverflowError`.

[2021-11-08 18:17] JasonFengJ9 commented on #13871
That will be true if the `versions` checking in this issue is fixed.

[2021-11-08 19:01] dmitripivkine commented on #13504
If you have suspicion O-slot is corrupted by GC it is not a case. The only scenario GC writes to O-slots is object has been moved. In optthruput the only object mover is Compact. So to corrupt O-slot previous Global GC should execute Compact (to be detected this GC cycle). And Compact has not been performed.

[2021-11-08 19:51] AdamBrousseau commented on #13782
Compile jdk11
![image](https://user-images.githubusercontent.com/6430052/140808258-8f079c69-61bc-4e81-80aa-56e875df4986.png)
Sanity functional bucket 1 of 2
![image](https://user-images.githubusercontent.com/6430052/140808336-4eb03751-3872-40b8-8a76-8da30ef06f11.png)

[2021-11-08 20:19] babsingh commented on #13504
@dmitripivkine Can you point me to the code where I can zero the stack?

[2021-11-08 20:31] dmitripivkine commented on #13504
No, unfortunately I am not an expert in this code. @tajila Would you please help (interpreter case only obviously)?

[2021-11-08 20:33] singh264 commented on #11791
I think the caller method of the classesOnHeap method in the omr repository could be relevant https://github.com/singh264/omr/blob/refactor_classesOnHeap/compiler/compile/OMRSymbolReferenceTable.cpp#L1345.

[2021-11-08 20:40] pshipton commented on #11979
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_OMR_testList_1/115
cmdLineTest_sigabrtHandlingTest_0 `NoOptions`
[code]

[2021-11-08 21:00] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_linux_OMR_testList_0/6
cmdLineTest_J9test_common_0 `NoOptions`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.functional_x86-64_linux_OMR_testList_0/6/functional_test_output.tar.gz
[code]

[2021-11-08 21:44] pshipton commented on #13876
@JasonFengJ9 can you try a grinder pls. Unless this is repeatable I don't think it belongs in the milestone plan.

[2021-11-08 22:24] #13759 closed

[2021-11-08 22:47] #13846 closed

[2021-11-09 00:26] hzongaro commented on #13726
Duplicate of issue #13477

[2021-11-09 00:26] #13726 closed

[2021-11-09 00:33] hzongaro commented on #13477
As [described in issue #13726](https://github.com/eclipse-openj9/openj9/issues/13726#issuecomment-962096127), in [`getCandidate`](https://github.com/eclipse-openj9/openj9/blob/6bd31a902b1e42c419068347b6d249ec19a47022/runtime/compiler/optimizer/EscapeAnalysis.cpp#L8166-L8181), if the `FlushCandidate` has a known allocation candidate associated with it, that can be retrieved using `FlushCandidate::g

[2021-11-09 02:40] #13837 closed

[2021-11-09 03:22] mpirvu commented on #13548
The most conservative setup that still reproduces this livelock scenario is:
- `initialOptlevel=noOpt,inhibitRecompilation` for booking and customer services
- `initialOptLevel=cold,disableInlining,inhibitRecompilation` for flight service

If I use noOpt level for the flight service, then I cannot reproduce the livelock, but JMeter still throws errors after a while (the system is mostly idle and t

[2021-11-09 04:45] gacholio commented on #13879
Using the same underlying techonology, please also add a DDR command to print the same, perhaps with added details for each decoded element like:

- PC address
- PC offset
- is the frame jitted (include inline depth if so)
- j9method pointer

[2021-11-09 12:15] pshipton commented on #11900
/job_output.php?id=19570094 [Linux PPC 64bit Compressed Pointers] 80 Load_Level_2.abbs.5mins.Mode553
`-XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:count=0`

/etc/cores/j9vm/16340/19570094/19570094-results0.jar
[code]

[2021-11-09 12:39] JasonFengJ9 commented on #13876
It is highly intermittent, the failure was reproduced in two separated grinders.
`1/50` at `view/Test_grinder/job/Grinder/19372/`(`fyrecloud-rhel84x86-7335-su9a`)
`1/300` at `view/Test_grinder/job/Grinder/19373/`(`fyrecloud-rhel84x86-7335-o4a7`)

[2021-11-09 12:52] vijaysun-omr commented on #13548
I looked at the attached log and the only non-trivial optimization done seems to be from local CSE. Can you please try adding `disableLocalCSE` to the (most conservative) options for the flight service and see if the livelock is avoided at least ?

[2021-11-09 14:32] #13812 closed

[2021-11-09 14:51] dmitripivkine commented on #13504
I noticed `jdmpview` fail to run `!stackslots` on problematic threads even I used latest DDR from head (is there different version I should use?). If something unexpected for code but legitimate added to stack slots I wondering can original problem be a stack walker issue?

[2021-11-09 16:28] mstoodle commented on #9316
Sorry for no update here in a long time. I think this proposal can be mothballed for the time being, since Eclipse Adoptium is no longer releasing OpenJ9 binaries.

I am going to close this issue unless and until the IBM Semeru Runtimes find a need to do monthly releases, at which point we can re-evaluate whether the OpenJ9 project will support that effort.

[2021-11-09 16:28] #9316 closed

[2021-11-09 17:12] mpirvu commented on #13548
I reproduced the issue with OpenJ9 for the flight service and HotSpot for auth/booking/customer services.
The flight service had the following options:
`"-Xjit:verbose={compilePerformance},vlog=/tmp/vlog.txt,initialOptLevel=cold,inhibitRecompilation,disableInlining,{*TreeNode.putTreeVal*}(disableLocalCSE,traceFull,log=/tmp/log.txt)"`
Here's the compilation log: [log.txt.6.1.71914.20211109.153154.1

[2021-11-09 18:27] vijaysun-omr commented on #13548
How about `lastOptIndex=0` for that method in question while still keeping the opt level at cold, i.e. the rest of your command line unchanged ?

[2021-11-09 19:35] mpirvu commented on #13548
I managed to reproduce the problem even at noOpt. Options used:
`-Xjit:verbose={compilePerformance},vlog=/tmp/vlog.txt,initialOptLevel=noOpt,inhibitRecompilation,disableInlining,{*TreeNode.putTreeVal*}(traceFull,log=/tmp/log.txt)`
Compilation log:
[log.txt.3.1.82666.20211109.183106.1.zip](https://github.com/eclipse-openj9/openj9/files/7507495/log.txt.3.1.82666.20211109.183106.1.zip)

[2021-11-09 20:34] hangshao0 commented on #13529
I've added some printf around https://github.com/eclipse-openj9/openj9/blob/48cba43acd80cb831e81264788520f6c045b6b16/runtime/vm/classsupport.c#L387
It seems that the issue is not caused by the `/` vs `.` in the class name.

One difference between unsafe anon classes and hidden classes is verification. We will verify hidden classes, but not unsafe anon classes. In java 17 and up, an exception is se

[2021-11-09 20:36] vijaysun-omr commented on #13548
And you are 100% sure that not compiling `putTreeVal` will not have this issue ?

[2021-11-09 21:31] tajila commented on #13529
Can you please post the cause of the verification failure? What is wrong with the class file that is causing it to fail.

[2021-11-09 21:45] hangshao0 commented on #13529
Here it is:

[code]

[2021-11-09 22:15] llxia opened #13891 "Tests for GC rotating verbose log"
The test was originally added in PR https://github.com/eclipse-openj9/openj9/pull/12794/, but we still hit some internal vmfram failures (see Peter's comment https://github.com/eclipse-openj9/openj9/pull/12794#issuecomment-876819790). Currently, the test is excluded (https://github.com/eclipse-openj9/openj9/pull/13152). We need to investigate and reinclude this test.

FYI @RSalman

[2021-11-09 22:38] hzongaro commented on #13477
Fixed in pull request #13885

[2021-11-09 23:21] mpirvu commented on #13548
Ran again, excluding `java/util/HashMap$TreeNode.putTreeVal` and the problem still reproduces.
Methods compiled around the time the CPU jumps to 800%:
[code]

[2021-11-09 23:34] vijaysun-omr commented on #13548
`java/util/concurrent/atomic/AtomicLong.addAndGet` is the sort of method that could lead to a livelock in theory I believe, since the method will keep attempting to do the update as long as it takes (inside a loop presumably) until it successfully updates the value atomically. i.e. if there is either a bug or some sort of race condition where the `lock cmpxchg` keeps failing then it has no option

[2021-11-10 00:02] mpirvu commented on #13548
The experiment above was done with initialOptLevel=noOpt (disableInlining also remained on the command line).
I'll run without compiling that method.

[2021-11-10 01:40] pshipton commented on #11979
Not exactly the same, there was no timeout but the javacore creation didn't occur.

/job_output.php?id=19605169
[linux_390-64_cmprssptrs] SE80_GIT cmdLineTest_sigabrtHandlingTest_0
[code]

[2021-11-10 03:52] mpirvu commented on #13548
The livelock happened even after excluding all `{*TreeNode.*}` methods.

The real kicker is that after excluding `{java/util/concurrent/atomic*}` I still see a livelock, but on the customer service which is running a HotSpot JVM.

[2021-11-10 12:37] vijaysun-omr commented on #13548
Sorry are you saying that after excluding `{java/util/concurrent/atomic*}` the flight service no longer showed a livelock on that service ? Are you planning to specifically try excluding `java/util/concurrent/atomic/AtomicLong.addAndGet` as well since that was the method seen before the livelock happened ?
If this method is at issue, it would also be good to check which atomic long we are updating

[2021-11-10 12:55] pshipton opened #13892 "OAuthTest_0 ConnectException: Connection refused (Connection refused)"
OAuthTest_0 which is a new test

Looks like every platform for jdk17 failed, although differently than on jdk8 and 11.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK17/79/

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_s390x_linux_Nightly_testList_1/144
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_mac_Nightly_testList_2/137

[2021-11-10 12:55] pshipton commented on #13892
@Mesbah-Alam @llxia can we exclude this new test pls until it works.

[2021-11-10 14:22] llxia commented on #13892
This test is added via
https://github.com/adoptium/aqa-tests/pull/2970
https://github.com/adoptium/aqa-systemtest/pull/457

@joeyleeeeeee97 do we need special machine configuration for this test?

[2021-11-10 14:27] #13558 closed

[2021-11-10 14:45] keithc-ca commented on #11293
I saw another instance of this failure in https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_s390x_linux_Personal/44/ - I think the problem is with the test. It's possible that
[code]
happen before and after the minutes change.

[2021-11-10 15:34] dchopra001 commented on #13647
The reason for the crash are these `AFI` instructions here: https://github.com/eclipse-openj9/openj9/blob/1318614438dc5d5a459deca443321a32ec46c657/runtime/compiler/z/codegen/J9TreeEvaluator.cpp#L192-L193

(i.e. we perform a 32-bit add on a 64-bit address)

`TR::InstOpCode::AFI` needs to be replaced with `cg()->comp->target().is64Bit()? TR::InstOpCode::AGFI : TR::InstOpCode::AFI`

[2021-11-10 15:48] keithc-ca commented on #11293
To confirm my theory, I used this code:
[code]
You don't need to wait long for failures:
[code]

[2021-11-10 16:28] JasonFengJ9 opened #13893 "JDK17 AIX 0.29.1 LambdaLoadTest_special_J9_5m_20_FAILED Segmentation error vmState=0x00000000 w/ native stack old_slow_jitResolveField"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_special.system_ppc64_aix_Personal/72/tapResults/` (`paix907`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=special.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&T

[2021-11-10 16:39] JasonFengJ9 opened #13894 "JDK11 cmdLineTester_xlogTests_0_FAILED: Failure condition was found: [Output match: verbosegc]"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_extended.functional_aarch64_linux_testList_2/45/tapResults/` (`ub18-aarch64-10`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_2&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_extended.functional_aarch64_linux&DOCKER

[2021-11-10 16:50] JasonFengJ9 opened #13895 "JDK11 java.lang.ClassCastException: java.util.Collections$SynchronizedMap incompatible with java.lang.invoke.MethodHandle"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_testList_1/7/` (`win16x64rt3-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_1&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_sanity.openjdk_x86-64_windows&DOCKER_REQUIRED=false&ACTIVE

[2021-11-10 17:12] mpirvu commented on #13548
I excluded just `java/util/concurrent/atomic/AtomicLong.addAndGet` and I can still reproduce the issue:
[code]
There are 16 Executor Threads and all are burning CPU with the same stack trace:
[code]
I use my entire machine (4 cores/ 8 HW threads) for these experiments and there are no CPU limits set for docker containers.

Given that I saw a livelock scenario for HotSpot as well (on the customer s

[2021-11-10 17:21] pshipton commented on #13894
It's related to https://github.com/eclipse-openj9/openj9/pull/13866, but it's a test mismatch, running the latest tests on older JVMs. I think just a timing problem. The OpenJ9 SHA indicates it's a level before the PR was merged (Nov 8 at 5:46pm). The change was merged Nov 8 at 9:12pm. It didn't occur in the open testing. I'll go ahead and close since it shouldn't happen in the next test runs.

[2021-11-10 17:21] #13894 closed

[2021-11-10 17:24] vijaysun-omr commented on #13548
I agree with you that this is unlikely to be an OpenJ9 issue but I am wondering if there is still an indication of a Liberty issue.

The thread/CPU counts you mentioned seem all that extreme. The stack trace that you showed also does not seem exceptional in any way, so I am wondering why this code path consumes so much CPU after N minutes whereas that was not the case previously. @jdmcclur any tho

[2021-11-10 17:32] pshipton commented on #13895
Is it repeatable in a grinder?

[2021-11-10 17:36] jdmcclur commented on #13548
From what I can tell, it is populating a Hashmap with CreationalContexts on every request that get released/removed later. Maybe the Hashmap is getting too big?

[code]

[code]

[code]

[2021-11-10 17:51] gacholio commented on #13875
This may be a class unloading issue - Throwable stack traces are not GC roots, so they do not prevent unloading.

[2021-11-10 19:16] mpirvu commented on #13548
It's possible that the hashtable gets big because the issue happens after some time. We the latest configuration I have to wait for more than an hour to reproduce it. However, based on the memory used by the container (193 MiB), I wouldn't say it's something we shouldn't be able to manage.

[2021-11-10 19:46] llxia commented on #969
This issue is resolved.

[2021-11-10 19:46] #969 closed

[2021-11-10 19:48] llxia commented on #7522
I think this issue is resolved and we are running OpenJDK on windows.

[2021-11-10 19:48] #7522 closed

[2021-11-10 19:50] llxia commented on #8974
Close this issue. Please reopen, if the problem occurs.

[2021-11-10 19:50] #8974 closed

[2021-11-10 19:52] llxia commented on #5115
Close this issue. Please reopen if the problem occurs.

[2021-11-10 19:52] #5115 closed

[2021-11-10 21:34] JasonFengJ9 commented on #13895
Not reproduced in a 100x grinder at `view/Test_grinder/job/Grinder/19397/`.
Moving out of `0.30.0`.

[2021-11-10 21:36] pshipton commented on #12526
With the above changes the message is now `Port Library failed to initialize: -77`, which is OMRPORT_ERROR_STARTUP_SIGNAL_TOOLS from omrsig_startup(). Created https://github.com/eclipse/omr/pull/6239 to track it further.

[2021-11-10 21:41] gacholio commented on #13192
As briefly discussed today, this approach will not be able to support scalarized objects (object fields simply assigned to locals without obeying the object layout) as there is no sensible way to reconstruct the object. This should only apply to methods which did the peeking.

I assume that if the SA object is passed to another method, it cannot be scalarized at all.

Another problem I see is this

[2021-11-10 21:41] gacholio commented on #13192
Is the case above already considered "peeking"?

[2021-11-10 21:48] llxia commented on #13154
Close this issue as it is fixed.

[2021-11-10 21:48] #13154 closed

[2021-11-10 21:49] llxia commented on #12755
I think this issue is fixed.

[2021-11-10 21:49] #12755 closed

[2021-11-10 21:50] gita-omr opened #13897 "Fix crash in the port library"
Looks like some unknown failure during PR test:

https://openj9-jenkins.osuosl.org/job/Build_JDK17_ppc64le_linux_Personal/68/console

[2021-11-10 21:59] #13877 closed

[2021-11-10 21:59] #13878 closed

[2021-11-10 22:00] #13865 closed

[2021-11-10 22:04] pshipton commented on #13844
Fixed via https://github.com/eclipse-openj9/openj9/pull/13890

[2021-11-10 22:24] pshipton commented on #13897
The crash is not in the port library, it's in the JIT. Also the link will quickly expire, making this Issue useless.

If it's failing in PR testing, and we haven't seen this crash before, how do we know the PR being tested isn't causing the crash?

[2021-11-10 22:30] vijaysun-omr commented on #13192
I think this is fine. The escape analysis infrastructure allows us to track which objects were stack allocated reliant on peeking some call, and disallow those objects from being considered for scalarization (i.e. discontiguous stack allocation).

Correct.

I believe this was a problem that @Swapnilr1 encountered in his implementation and we may have disabled the code in the JIT to access the stac

[2021-11-10 22:38] vijaysun-omr commented on #13192
I'll define what we mean on the JIT side when we refer to "peeking". Peeking refers to the act of looking into the bytecodes of some call that was still present (i.e. not inlined) in the compiled method in order to learn something relevant for the analysis in question, e.g. in the case of escape analysis it involves tracking what happens to the argument values passed in.

Peeking is done recursive

[2021-11-10 22:48] vijaysun-omr commented on #13192
I believe there is also the effect that the OSR helper call themselves have on escape analysis' effectiveness since they have all the locals/parms used by the method as arguments in the IL trees. There are many "voluntary" OSR transition points chosen by the JIT's analyses for inserting OSR transition points to account for the possibility of HCR happening, and these points all appear to be escapes

[2021-11-10 22:50] keithc-ca commented on #13844
No, #13890 did not address this, but #13898 will.

[2021-11-10 22:53] gacholio commented on #13192
OK, I assumed you would need to look at the called method to determine if the SA object could be safely passed as an argument - this restriction goes away with dynamic heapification.

With this strategy, every GC point (other than allocations) in every compiled method that peeks must be an OSR point, since we can't control when HCR occurs. Allocation is excluded due to the OSR safe point work we d

[2021-11-10 22:57] gita-omr commented on #13897
The change in the PR can only affect methods that use Vector API. I think the method being compiled does not use Vector API.

[2021-11-10 22:59] JasonFengJ9 opened #13901 "JDK18 NPE message generation need accommodate JEP416 MH change"
`jdk.reflect.useDirectMethodHandle` re-enabled w/ https://github.com/eclipse-openj9/openj9/pull/13899,
[code]

NPE message generation has to adopt JEP 416 MH stackframes.

[2021-11-10 23:01] tajila commented on #13545
@DanHeidinga

We are starting to see limitations with the existing `ADD_NEW` policy. When restoring the JVM in a different container some env variables, such as HOST_NAME, may change. With the current API correcting the env variables to reflect the current environment is disallowed.

Leaving the env vars as they are in some cases is not an option as the app server requires up-to-date information i

[2021-11-10 23:42] vijaysun-omr commented on #13192
There are three separate cases in which dynamic heapification can help with wrt peeking limitations.
1. We peeked a method but it changed at run time due to HCR
2. We reached some threshold that did not allow us to complete peeking all the bytecodes in the call graph
3. We peeked the method implementations that we saw at compile time but a new implementation was loaded due to dynamic class loading

[2021-11-11 00:07] #13844 closed

[2021-11-11 00:27] gita-omr commented on #13897
I added some more context into the description in case the link expires before we can get to investigate this failure, which most likely is very intermittent.

[2021-11-11 00:39] jdmpapin opened #13902 "JIT compiler I/O: benefit of J9 I/O?"
OMR gives us `TR::FILE` with a [default definition of (stdio) `::FILE`](https://github.com/eclipse/omr/blob/af0be75cb5e9f0ebe250509de1b96aaf8544ee73/compiler/env/FilePointerDecl.hpp#L29) and a few operations that [by default simply call stdio functions](https://github.com/eclipse/omr/blob/af0be75cb5e9f0ebe250509de1b96aaf8544ee73/compiler/env/OMRIO.cpp), but OpenJ9 overrides both [the type definiti

[2021-11-11 01:39] #13880 closed

[2021-11-11 01:40] pshipton commented on #11293
Reopen since https://github.com/eclipse-openj9/openj9/pull/13896 was reverted.

[2021-11-11 12:42] JasonFengJ9 commented on #13802
Observed in `0.29.1` release build `job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Personal/86/consoleFull` (`win16x64rt3-7`)
[code]

[2021-11-11 12:49] pshipton opened #13904 "osx1013-x86-3 SSL_ERROR_SYSCALL in connection to github.com"
Disabled [osx1013-x86-3](https://openj9-jenkins.osuosl.org/computer/osx1013-x86-3/)

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_x86-64_mac_Nightly/76/console
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly_testList_1/146/console
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly_testList_2/1

[2021-11-11 12:53] JasonFengJ9 opened #13905 "JDK8 [zOS S390] 80 Load_Level_2.abbs.5mins.Mode103.5 - j9mm.141 * ** ASSERTION FAILED ** at ./MarkingScheme.hpp:71: ((false)) & j9mm.107 * ** ASSERTION FAILED **"
Failure link
------------

From an internal build `job_output.php?id=19746935` (`fyrec517`):
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

fyi @dmitripivkine

[2021-11-11 12:54] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_linux_Nightly_testList_0/42 - ub20-aarch64-2
cmdLineTest_J9test_common_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.functional_aarch64_linux_Nightly_testList_0/42/functional_test_output.tar.gz
[code]

[2021-11-11 12:56] pshipton commented on #5450
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_windows_Nightly_testList_0/78
TestJps_0
[code]

[2021-11-11 13:02] keithc-ca commented on #11293
The failure on zlinux suggests a VM problem:
[code]
nanoseconds are 1.5 milliseconds ahead.

[2021-11-11 13:05] pshipton opened #13906 "Crash plinux running javac vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_ppc64le_linux_OpenJDK_testList_1/5 - cent7-ppcle-3

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdknext_j9_sanity.functional_ppc64le_linux_OpenJDK_testList_1/5/functional_test_output.tar.gz
[code]

[2021-11-11 13:07] pshipton commented on #13906
@llxia the test output shows a number of diagnostic files are created, however the diagnostics file only contains the core in the directory `aqa-tests\TKG\output_compilation\`

[code]

[2021-11-11 13:08] pshipton commented on #13897
Another crash on plinux https://github.com/eclipse-openj9/openj9/issues/13906

[2021-11-11 13:17] pshipton commented on #13904
The 3 failures all occurred around 9:50pm and I didn't find any other failures. Presumably the machine was used to run other jobs through the night. I've reconnected the machine and will assume it was a temporary network problem which was resolved.

[2021-11-11 13:17] #13904 closed

[2021-11-11 13:21] pshipton commented on #13905
Another failure, same machine as last time.

/job_output.php?id=19746935 [zOS S390] 80 Load_Level_2.abbs.5mins.Mode103.5 fyrec517
[code]

[2021-11-11 13:30] 0xdaryl commented on #13897
@zl-wang : there have been some Power Linux crashes appearing in the builds over the past couple of days.  Could you have someone triage please?

[2021-11-11 13:36] zl-wang commented on #13897
@IBMJimmyk please take a look

[2021-11-11 13:56] llxia commented on #13906
`core.20211111.040536.27595.0001.dmp` is in `output_compilation` folder.
 In TKG, if crash happens during compilation, we move the dmp under the `output_compilation ` folder.

[2021-11-11 13:56] pshipton commented on #11293
We might need some synchronization or memory barrier in the test to ensure the processor can't reorder the operations.

[2021-11-11 14:07] pshipton commented on #13906
@llxia Can we pls move all the diagnostics and not just the core, so they are all captured.

[2021-11-11 14:17] llxia commented on #13906
Yes, we need to update the TKG for this https://github.com/adoptium/TKG/issues/136

FYI @renfeiw

[2021-11-11 14:24] pshipton commented on #13905
Note this is also the internal issue 140133

[2021-11-11 14:37] pshipton commented on #13897
The crash is with the boot JVM, as follows. There have been issues fixed since this build, if necessary we can update the boot JVM being used.
[code]

[2021-11-11 14:38] gita-omr commented on #13897
Yes, DDR is built with boot JDK. To add debug options, use DDR_TOOLS_OPTIONS in DDR.gmk.

[2021-11-11 14:40] pshipton commented on #13897
@AdamBrousseau can we update the JDK17 boot JVM to the 0.29.1 M1 pls.

[2021-11-11 14:45] keithc-ca commented on #13902
I suggest JIT should be using I/O functionality provided by OMR instead of duplicating the work of managing platform differences.

[2021-11-11 14:48] jdmpapin commented on #13902
What are the platform differences need to be managed? I'm not aware of any platform-specific code related to the current uses of `TR::FilePointer` as a stdio wrapper

[2021-11-11 15:08] keithc-ca commented on #13902
For example, different platforms have differing support for various `%` format and specifiers for `fprintf()` and `printf()`. It's true that we have `OMR_PRIxxx` defined in `omrformatconsts.h`, but they're not being used consistently. On the other hand, `omrfile_printf()` supports a consistent set for format specifiers independent of the platform.

[2021-11-11 15:26] dmitripivkine commented on #13905
There is object at `0x21E528D0` size 0x18 expected j9class to be at `49156100`
[code]
 but there is no valid data (corrupted?):
[code]

[2021-11-11 15:29] DanHeidinga opened #13908 "Environment variables that are changed on container restore"
* #13545

Tracks our current position on env vars at restore - only reflect new env vars into Java and don't change existing.

This issue is to track the list of env vars that we see changing in containers and to help to quantify the blast radius of each of the changes.

Feel free to add a new comment for each env var and we can expand in the comment on the issues related to it.

[2021-11-11 15:29] DanHeidinga commented on #13908
Env Var:  HOST_NAME

Blast Radius:
*
*

[2021-11-11 15:34] dmitripivkine commented on #13905
There is class at `!j9class 0x49156000` `sun/nio/ch/IOStatus`  so it is possible header of the object 0x21E528D0 has extra bit added somehow. But in this case `totalInstanceSize` should be 0x18 or 0x14 but this class has `totalInstanceSize = 0x00000004`
At least we can tell the class pointer `0x49156100` is invalid

[2021-11-11 15:40] DanHeidinga commented on #13545
It would be really good to start to compile a list of env vars that are being changed.  This will help to establish the "blast radius" of each of them.  There will be some that don't matter / aren't used from Java and there will be others that do matter - ie: HOST_NAME seems like it could be exposed everywhere.

I've opened https://github.com/eclipse-openj9/openj9/issues/13908 to start to collect

[2021-11-11 16:07] hangshao0 commented on #13848
@a7ehuo
Seems that I cannot reproduce the crash using the latest Valhalla build here: https://openj9-jenkins.osuosl.org/job/Pipeline_Build_Test_JDKnext_x86-64_linux_valhalla/21/,

[code]

[2021-11-11 16:12] fengxue-IS commented on #13162
With @tajila's suggestion of logging verbose output to trace buffer, the trace log showed that the bytecode frame in DDR of `makeIntrinsic` is actually a decompiled frame from JIT.
[code]
after the decompiled finished, VM detected the invalid receiverSlot during first method dispatch via `inlineSendTarget`
VM debug output
[code]

This suggest that either the OSRBuffer data used to reconstruct the

[2021-11-11 17:50] pshipton opened #13910 "TreeMapKeyComparator.compare ClassCastException OutOfMemoryError Failed to create stack trace"
/job_output.php?id=19775338
[zOS S390] 80 Load_Level_2.abbs.5mins.Mode121.5 `-Xgcpolicy:optavgpause -Xjit:count=0 -Xnocompressedrefs1`
fyrec51c

`1TISIGINFO     Dump Event "systhrow" (00040000) Detail "java/lang/OutOfMemoryError" "Failed to create stack trace (most likely due to lack of OS memory)" received`

`3XEHSTTYPE     16:20:48:149639133 GMT omrport.368 - * memory allocate returned null poin

[2021-11-11 17:52] pshipton commented on #13838
Similar corrupt stack failure without AsyncGetCallTrace() https://github.com/eclipse-openj9/openj9/issues/13910

[2021-11-11 17:57] gacholio commented on #13910
As expected, the allocate is the stack walk cache.

[2021-11-11 18:04] pshipton commented on #13721
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/137

[2021-11-11 18:51] jdmpapin commented on #13902
OK, access to a consistent set of supported format specifiers and such is definitely a plus

I was wondering about `size_t`, `uintptr_t`, etc., but it looks like the `z` modifier should cover those (e.g. `%zx`)

When using OMR's `printf`, we can't make use of format string checking in the build compiler, but I suppose the JIT has mostly been going without that anyway

My main concern in this issue

[2021-11-11 19:05] jdmpapin commented on #13902
It looks like switching to port library I/O would require eclipse/omr#1644 to be resolved first, whereas stdio is just always there

[2021-11-11 19:44] a7ehuo commented on #13848
I could still reproduce the crash with [the build mentioned above](https://openj9-jenkins.osuosl.org/job/Pipeline_Build_Test_JDKnext_x86-64_linux_valhalla/21) and also the latest JDKNext build. Attached the class file [Archive2.tar.gz](https://github.com/eclipse-openj9/openj9/files/7522796/Archive2.tar.gz).

[code]

[2021-11-11 21:22] dmitripivkine commented on #13905
GC Check also sees problems in near by addresses for classes:
[code]

[2021-11-11 21:25] dmitripivkine commented on #13905
I believe VM guys should take a look what is going on with this class(es)
Test results are downloaded to `/team/Dmitri/13905`, core location `./results/home/j9build/tmp/bld_16455_zos_390-31/bld_16455/abbs.5mins/19746935/JLTF-jgrinder-abbs-mode103-20211111-0325/J9BUILD.JVM.TDUMP.J9BUILD6.D211111.T033115`

[2021-11-11 22:07] JasonFengJ9 commented on #13905
@dchopra001 does this latest occurrence seem same as the internal workitem 140133?

[2021-11-11 23:58] vijaysun-omr commented on #13545
I had a similar thought and mentioned it on a call where this was being discussed yesterday.

[2021-11-12 04:59] mpirvu commented on #13548
I don't see the livelock problem anymore with the new `com.ibm.ws.jaxrs.2.0.cdi_1.0.57.jar` provided by @jdmcclur

[2021-11-12 05:15] fengxue-IS commented on #13162
latest grinder (`Grinder_iteration_8/325/`) confirmed that the null receiver on stack comes from OSR frame during decompile.
trace output:
[code]
Stack slots:
[code]
test output:
[code]
I've uploaded the core file to box so JIT members can help with investigating from JIT side

[2021-11-12 14:51] #11293 closed

[2021-11-12 16:09] vijaysun-omr commented on #13545
Although I don't know if the problem with the HOST_NAME env var would be helped by the above mode being discussed...

[2021-11-12 16:17] gacholio commented on #13910
Cache size computation is here: https://github.com/eclipse-openj9/openj9/blob/d13611eb2648febf73e4fb25ed3e31e900a497a9/runtime/vm/swalk.c#L503-L540

The most likely way to get the ridiculous allocation size is for the `sp` to be larger than `endOfStack`, which should cause crashes executing anything in the interpreter.

[2021-11-12 16:19] gacholio commented on #13910
The `fillInStackTrace` code is here: https://github.com/eclipse-openj9/openj9/blob/d13611eb2648febf73e4fb25ed3e31e900a497a9/runtime/vm/BytecodeInterpreter.hpp#L3004-L3019

The walker is called to cache a single element (PC) and skip inlines, so the `maxInlineDepth` does not factor into the computation.

[2021-11-12 16:23] gacholio commented on #13910
I have no explanation for how this is happening - the stack is clearly walkable in the core, which implies that the values used in the computation were temporarily invalid, which is essentially impossible - no one should be modifying another thread's `sp` or `stackObject` values.

ASGCT does temporarily point the `sp` to native stack memory, but restores it before returning (it's assumed to be cal

[2021-11-12 16:24] uhazhor opened #13914 "Oracle Weblogic and OpenJ9"
Hello.

Could you please tell me does it possible to migrate Oracle Weblogic Server from HotSpot JVM to OpenJ9 JVM?

[2021-11-12 16:32] DanHeidinga commented on #13545
It would start to quantify the problem for us in that we'd know if it's leaked out to the rest of the system or not.

[2021-11-12 16:36] hangshao0 commented on #13848
Looking at the info from the description:

[code]

[code]

The arrayref is `0xfffaa020`, seems the object has been forwarded. I guess `GC_ArrayletObjectModel` should not treat `0xffe17400` as pointer to `J9Class`, it is the object pointer.  @dmitripivkine

[2021-11-12 16:49] LongyuZhang commented on #12463
Run 50x grinder on multiple machines, but all passed:
- on p10 machine `p10rhel005`: hyc-jenkins/job/Grinder/19354
- plinux machine `ub20lert-1-7` hyc-jenkins/job/Grinder/19435
- plinux machine `ub20lert-1-1` hyc-jenkins/job/Grinder/19434

[2021-11-12 17:05] dmitripivkine commented on #13905
Sorry, I was not clear before - the fact GC Check discovering bogus class `0x49156100` means class heap structure (GC Check is walking) assumes class should be there. But it is not there and can not be due existing class at `0x49156000`
So looks like there is some confusion in a class heap.

[2021-11-12 17:44] dmitripivkine commented on #13848
Most likely there is stall pointer to `0xfffaa020` has not been fixed up to `0xffe17400`. And (I assume this is not Concurrent Scavenger case) this is pointer to wrong (reserved) side of the Nursery.
GC fixes all known roots so we need to investigate where we get this stall pointer. For example scenario unexpected GC occur due missed (or dropped and re-aquired) VM Access

[2021-11-12 18:47] gacholio commented on #13192
Assuming that any compilation that allows an SA object to escape via argument passing will maintain a strong link to that object (i.e. SA object pointer stored in a live object local in the caller), I don't think we need any special tagging of those frames.

When dynamic heapification occurs for a given SA object, the stack will be walked to:

- update all live references to the SA object with the

[2021-11-12 19:41] gacholio commented on #13910
https://github.com/eclipse-openj9/openj9/pull/13915 adds some assertions that should catch the out of range SP issue if that's somehow the cause.

[2021-11-12 22:03] hangshao0 commented on #13848
Annabelle didn't save the core for the crash https://github.com/eclipse-openj9/openj9/issues/13848#issue-1041709222, she reproduced the crash on her machine and gave me a new core. It is still crashing at the same palce, just with a different stall object pointer value `0xfffb5030`
[code]
The stall object pointer (arrayRef) is 0xfffb5030, the forward address 0xffe17400 is the valid object pointer.

[2021-11-12 22:09] pshipton commented on #12526
With the above the error is now `Error: Port Library failed to initialize: -83` or OMRPORT_ERROR_STARTUP_SIGNAL_TOOLS7

https://github.com/eclipse/omr/blob/master/port/unix/omrsignal.c#L1599

[2021-11-12 22:16] babsingh commented on #13504
@tajila @fengxue-IS Any advice on the next steps to pin-point the source of this failure?

@0xdaryl @jdmpapin @nbhuiyan Any advice from the JIT perspective?

Multiple core files are generated for a failure. The first core file may be generated by the JIT or VM. The following core files are generated by the GC when it detects bad objects in the O-slots. In some cases, the core files generated by th

[2021-11-12 22:22] hangshao0 commented on #13848
So at line `BytecodeInterpreter.hpp:6154`, the `arrayref` read from the stack is `0xfffb5030` (stall pointer), when crash inside `BytecodeInterpreter.hpp:6175`. the value on the stack becomes `0xffe17400`, which is the forward address.

Concurrent Scavenge seems to be off:
` 0x5c41: bool concurrentScavenger = false`

It worth mentioning we entered `loadFlattenableArrayElement()` twice, first time

[2021-11-15 04:00] a7ehuo opened #13916 "AArch64: JDKnext build failure with value type enabled (--enable-inline-types)"
I ran into the follow build failure with value type enabled build (`--enable-inline-types`) on **Aarch64**  with **JDKNext**: [Pipeline_Build_Test_JDKnext_aarch64_linux_vt_standard](https://hyc-runtimes-jenkins.swg-devops.com/job/Build_JDKnext_aarch64_linux_vt_standard_Personal/3/). It's 100% reproducible.

`vmState [0x40000]: {J9VMSTATE_JNI}
`
[code]

[2021-11-15 04:13] a7ehuo commented on #13916
@knn-k @0xdaryl fyi
The value type enabled build on [other platforms](https://hyc-runtimes-jenkins.swg-devops.com/view/OpenJ9%20-%20Personal/job/Pipeline-Build-Test-Personal/11135/) seem fine.

[2021-11-15 04:21] knn-k commented on #13916
I implemented monitor enter/exit for value types for AArch64 in #10494.
What else do I need for supporting value types?

[2021-11-15 08:38] knn-k commented on #13916
I reproduced the segmentation error in `ConcurrentHashMap.putVal()` in building with `--enable-inline-types` locally.
The method seems to try to access the address 0x99669924 (= R5 + 0x24).

[2021-11-15 09:17] knn-k commented on #11164
omrosdump.c needs to be changed for AArch64 macOS.

[2021-11-15 13:24] JasonFengJ9 opened #13917 "JDK18 (w/ JEP 416) J9vmTest_0_FAILED : cannot be accessed reflectively before java.lang.invoke is initialized"
[code]

Related to https://github.com/eclipse-openj9/openj9/issues/13852

[2021-11-15 13:27] vijaysun-omr commented on #13192
I agree that we would need to force OSR any JIT frame that had stack allocated an object in its frame with the "I peeked" flag.

I am wondering if we do in fact need to additionally force OSR any JIT frame that was updated in the dynamic heapification process, i.e. it is not immediately apparent what we are safeguarding against by forcing OSR of callees where the object was passed as an argument.

[2021-11-15 15:04] a7ehuo commented on #13916
Monitor enter/exit  check on value type is the only place I'm aware of that needs to be implemented at the platform specific tree evaluators.

[2021-11-15 15:36] dmitripivkine commented on #13848
Allocate APIs should return valid at the moment object address. The problem should occur after object pointer is received and stored somewhere where next GC can not fix it up (not a root) and invalidate it.

[2021-11-15 15:53] dmitripivkine commented on #13848
So if understand this code correctly another GC occur between point `arrayref` is read and point where it is used (second call of `loadFlattenableArrayElement()`, is not it? It means VM Access is dropped or object allocation requested between these two points.
[code]
If this is correct refreshing `arrayref` before second call of `loadFlattenableArrayElement()` should help.

[2021-11-15 16:54] 0xdaryl commented on #13162
Do we know what the current failure rate of this problem is without any debug or diagnostic options?

[2021-11-15 17:01] dmitripivkine commented on #13848
Please note that `j9object_t receiverObject` passed to `loadFlattenableArrayElement()` might be invalidated after object allocation call (for example GC occurred and object moved by Scavenger or Compact). It might be safer to pass stack slot location (fixed up by GC) as `j9object_t *` directly. Otherwise the another way of refreshing this object should be added

[2021-11-15 17:16] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/142
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache Mode650`
java/util/EnumSet/EnumSetBash.java
[code]

[2021-11-15 17:43] pshipton opened #13919 "MauveSingleThrdLoad_J9_5m InetSocketAddress.InetSocketAddressTest Resolveable hostname got not resolved"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_2/147 - ub16p8j91
MauveSingleThrdLoad_J9_5m_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs `
[code]

[2021-11-15 17:52] pshipton opened #13920 "OpenJDK InfoTest.test3 Input/output error"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/142 - osx1014-x86-3
jdk_lang_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops`
java/lang/ProcessHandle/InfoTest.java
[code]

[2021-11-15 17:55] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly_testList_0/147 - ub20-390-2
TestJlmRemoteThreadNoAuth_0 `-XX:+UseCompressedOops`
[code]

[2021-11-15 18:01] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64le_linux_Nightly_testList_0/79 - cent7-ppcle-1
[code]

[2021-11-15 18:04] pshipton commented on #13162
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/47
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/stream/boottest/java.base/java/util/stream/SpinedBufferTest.java
[code]

[2021-11-15 18:09] dmitripivkine commented on #11151
I think this issue is fixed now (I believe we just forgot to close it)

[2021-11-15 18:09] #11151 closed

[2021-11-15 18:09] pshipton opened #13921 "Mac Create core file test hang after core creation"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_mac_Nightly_testList_1/82 - osx1013-x86-3
cmdLineTester_GCCheck_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.functional_x86-64_mac_Nightly_testList_1/82/functional_test_output.tar.gz
[code]

[2021-11-15 18:19] pshipton commented on #7247
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_mac_Release_testList_0/12 - osx1011-x86-1
testDDRExtJunit_FindExtThread_0 `NoOptions`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.functional_x86-64_mac_Release_testList_0/12/functional_test_output.tar.gz
[code]

[2021-11-15 18:21] pshipton commented on #11151
@dmitripivkine what fixed it, is it fixed in the last release, or the next release?

[2021-11-15 18:44] dmitripivkine commented on #11151
General tracking https://github.com/eclipse-openj9/openj9/pull/11579

For Standard collectors:
 - https://github.com/eclipse/omr/pull/6141

For Balanced:
- https://github.com/eclipse-openj9/openj9/pull/13308
- https://github.com/eclipse-openj9/openj9/pull/13481

[2021-11-15 18:47] dmitripivkine commented on #11151
I think it is in 0.29.0 - would you please double check?

[2021-11-15 18:56] fengxue-IS commented on #13162
I have looked into cores generated where `makeIntrinsic` method isn't compiled. In such cases the failure likely is still from OSR frame as the decompile log generated before detecting NPE has outerframe of `MethodHandles.makeIdentity` and `makeIntrinsic` is inlined in the call and decompiled.

iirc, last time I run with the OpenJ9 nightly build against `jdk_util_1` and I got 2/100 failures.

[2021-11-15 19:01] pshipton commented on #11151
Yes, all 3 changes are in the 0.29.0 release.

[2021-11-15 20:07] dchopra001 commented on #13905
@JasonFengJ9 I can't say for sure but it does look like it. There are similarities such as a low failure rate, the same assertion being hit, both issues reported failures on 31-bit platforms, and the same test. So I think we can focus on just the external one going forward and mark the internal one as a duplicate for now. (The only thing I'm not sure about is how common this triggered VM assertion

[2021-11-15 23:29] #13917 closed

[2021-11-16 08:19] Akira1Saitoh commented on #13916
Hmm.. I think we need to use `tst` instruction instead of `and`.
https://github.com/eclipse-openj9/openj9/blob/7ce2fd866910cb44eee94d00c72ea06c835dd12a/runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp#L925-L934

[2021-11-16 08:20] Akira1Saitoh commented on #13916
I think we also need to add some guard in `VMnewEvaluator`.
https://github.com/eclipse-openj9/openj9/pull/8520

[2021-11-16 12:36] JasonFengJ9 commented on #13905
The internal workitem 140133 has been closed as dup of this issue.

[2021-11-16 14:33] JasonFengJ9 commented on #13921
Similar `Error: Could not find or load main class org.openj9.test.nogc.Main` observed at internal build different Java level/platform.
`job/Test_openjdk17_j9_sanity.functional_x86-64_linux_testList_0/87/tapResults/`
[code]

`job/Test_openjdk11_j9_sanity.functional_s390x_linux_testList_2/122/tapResults/`
[code]

`job/Test_openjdk8_j9_sanity.functional_x86-64_linux_testList_2/119/tapResults/`
[code]

[2021-11-16 16:13] a7ehuo opened #13932 "ValueTypes: intermittent crash in extended.functional cmdLineTester_flattenedvaluetypeddrtests_0"
Intermittent crash in extended.functional test `cmdLineTester_flattenedvaluetypeddrtests_0`.

FR: 3/153. There is no symbol from the backtrace. [logs.zip](https://github.com/eclipse-openj9/openj9/files/7548065/logs.zip)
[code]

[code]

[code]

[code]

[2021-11-16 17:05] nbhuiyan commented on #13162
Yesterday I set up the test framework to run with the smallest subset of test cases to reproduce that failure. With that, reproducing this failure was a lot easier, going from each test iteration taking over 25 minutes to taking less than a minute. I wanted to be able to obtain some compilation logs from a failing run, and this helps with that. I am now able to reliably reproduce the crash in unde

[2021-11-16 19:16] a7ehuo commented on #13932
The core generated from the crash is broken. The same broken core file also happened in the same crash in a PR build
- Build: https://openj9-jenkins.osuosl.org/job/Build_JDKnext_x86-64_linux_valhalla_Personal/22/
- Test Artifacts: https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdkValhalla_j9_extended.functional_x86-64_linux_valhalla_Personal_testList_0/11/
- Test Console

[2021-11-16 19:43] hangshao0 commented on #13848
@a7ehuo, as it is only reproducible on your machine, can you try with https://github.com/eclipse-openj9/openj9/pull/13935 to see if the crash goes away ?

[2021-11-16 20:31] dmitripivkine commented on #13905
There is a class heap corruption exposed in `!allclasses` output:
[code]
So
- there is no `j9class` at `0x49156100`, there is class at `0x49156000` (`sun/nio/ch/IOStatus`)
- `!j9class 0x49156100` (`com/ibm/jtc/svt/streams/TestParallelStreamOperations$$Lambda$288/0x19949920`) expected to by Anonymous, so it is exceptionally allocated one per RAM segment and tracked from dedicated Anonymous classloa

[2021-11-16 20:45] IBMJimmyk commented on #11900
I think this is failing due to an issue with the test.

This is the failing test:
https://github.com/adoptium/aqa-systemtest/blob/dd3103ff9e7af19241b094ad8ca9012ef4cc29da/openjdk.test.lambdasAndStreams/src/test.lambda/net/adoptopenjdk/test/lambda/TestLambdaMethodReferences.java#L251-L260

`testConstructorReference` creates two objects of type `Person`. It checks that they are different objects and

[2021-11-16 20:48] dmitripivkine commented on #13905
there is class we got link to 0x49156100:
[code]
Looks like there was some problem at the time of `!j9class 0x49156100` creation

[2021-11-16 21:23] a7ehuo commented on #13848
I ran the change from #13935. I no longer see the crash with `TestSingleFieldPrimitive`. Thanks for the fix Hang!

==== #13935  ====
[code]

==== master branch ====
[code]

[2021-11-16 21:34] JasonFengJ9 opened #13936 "JDK17 head cmdLineTester_lockWordAlignment_Object_d_0_FAILED : java.lang.InternalError at java.base/sun.invoke.util.Wrapper.forPrimitiveType(Wrapper.java:274)"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_ppc64_aix_Nightly/81/tapResults/ (`aix71-p8-3`)
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&T

[2021-11-16 21:38] JasonFengJ9 commented on #13721
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/141/consoleFull
[code]

[2021-11-16 22:10] JasonFengJ9 commented on #12526
Another occurrence at https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/149/console (`osx1014-x86-1`)
[code]

[2021-11-17 12:28] JasonFengJ9 opened #13939 "jvm.29.openj9.abuild zOS failures - Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `jobs_by_status.php?build_id=16499&status=FAILED&categories=17`, a few sample links: `job_output.php?id=19839960`, `job_output.php?id=19840033`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2021-11-17 14:06] knn-k commented on #13916
Build_JDKnext_aarch64_linux_vt_standard_Personal went successful in #13928.

[2021-11-17 14:50] #13939 closed

[2021-11-17 14:50] tajila commented on #13939
@EricYangIBM Please take a look

[2021-11-17 14:51] pshipton commented on #13029
Reopening since https://github.com/eclipse-openj9/openj9/pull/13338 was temporarily reverted.

[2021-11-17 15:19] JasonFengJ9 opened #13941 "NullPointerException thrown in StackTraceElement.hashCode with IBM Semeru runtime 11.0.13"
Copied from https://github.com/ibmruntimes/Semeru-Runtimes/issues/9#issue-1056233722

StackTraceElement.hashCode throws an unexpected NullPointerException in my application.

I created a simple reproducer app (https://github.com/dynatrace-peterlang/exception-stacktraceelement-npe).
If I run it with IBM Semeru Runtime Open Edition 11.0.13.0 (build 11.0.13+8) my app fails with a NullPointerException

[2021-11-17 15:31] dynatrace-peterlang commented on #13941
The exception is created within a lambda function. This produces a StackTraceElement with `<unknown class>.get(Unknown Source)` or more specifically `e.declaringClass==null` and `e.methodName==get`. Finally a NullPointer is thrown in https://github.com/eclipse-openj9/openj9/blob/e1e72c497688c765183573526f7418a6fe891e93/jcl/src/java.base/share/classes/java/lang/StackTraceElement.java#L290 as `decla

[2021-11-17 15:37] JasonFengJ9 commented on #13941
Is the NPE intermittent? Can it be reproduced w/ `-Xint`?

[2021-11-17 16:18] hangshao0 commented on #13848
I am wondering if the issue here will cause problem to the JIT, that is `old_slow_jitLoadFlattenableArrayElement()` could trigger GC so that the array reference may become stale after JIT calls `old_slow_jitLoadFlattenableArrayElement()`. @a7ehuo @hzongaro

[2021-11-17 16:39] pshipton commented on #13921
@JasonFengJ9 `Error: Could not find or load main class org.openj9.test.nogc.Main` is a known issue and doesn't block the test from passing. These seem like internal machine setup problems, with the core_pattern, as we've seen previously on ub20 machines. Pls report these internally to get the machines updated.

[2021-11-17 16:41] pshipton commented on #13921
I think we should delete the comment https://github.com/eclipse-openj9/openj9/issues/13921#issuecomment-970332173 from this issue, or edit it and remove the content, to prevent confusion with the original hang issue on Mac.

[2021-11-17 16:50] pshipton commented on #12463
@LongyuZhang the problem is not a test failure. The problem is that `Error: Could not find or load main class org.openj9.test.nogc.Main` always occurs, but it doesn't cause the test to fail. It does cause the test to be less useful (perhaps useless), as it's not testing what is intended.

1) fix the test so it can locate this class and run as intended
2) fix the test so it fails when the class is

[2021-11-17 16:51] mpirvu commented on #13310
Implemented in
https://github.com/eclipse-openj9/openj9/pull/13317
https://github.com/eclipse-openj9/openj9/pull/13240
https://github.com/eclipse-openj9/openj9/pull/13147

[2021-11-17 16:51] #13310 closed

[2021-11-17 16:56] mpirvu commented on #3620
Throughput has been stable for a long time now, so closing this issue

[2021-11-17 16:56] #3620 closed

[2021-11-17 16:57] JasonFengJ9 commented on #13921
Updated the comments. `Error: Could not find or load main class org.openj9.test.nogc.Main` is added at `runtimes/infrastructure/issues/6145`.

[2021-11-17 18:05] pshipton opened #13943 "OpenJDK acceptance failing to promote"
I'm not sure why the OpenJDK acceptance build is failing to automatically promote. It's been happening for a little while now.

https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/156/console
[code]

@AdamBrousseau

[2021-11-17 18:07] pshipton commented on #13943
Last build that promoted automatically https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/141/

[2021-11-17 18:16] AdamBrousseau commented on #13943
Guessing head is now at 19? I'll take a look.

[2021-11-17 18:18] dmitripivkine commented on #13643
Answered, closing. Please be free to reopen if more help needed

[2021-11-17 18:18] #13643 closed

[2021-11-17 18:23] pshipton commented on #13943
Guessing head is now at 19?

No, the code split for Java 18 doesn't occur until Dec 9

[2021-11-17 18:28] pshipton commented on #13941
I expect this is fixed already in the latest by https://github.com/eclipse-openj9/openj9/issues/13759, but we should fix the hashCode impl so it doesn't throw NPE.

[2021-11-17 19:39] pshipton opened #13946 "JDK18 OpenJDK test failures"
All platforms https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/157/

https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_OpenJDK/1/#showFailuresLink
    java/foreign/SafeFunctionAccessTest.java.SafeFunctionAccessTest
    java/foreign/SafeFunctionAccessTest.java.SafeFunctionAccessTest
    java/foreign/StdLibTest.java.StdLibTest
    java/foreign/St

[2021-11-17 19:52] a7ehuo commented on #13848
When we create LoadFlattenableArrayElementSymbolRef, `canGCandReturn` and `canGCandExcept` are set to `true`. I guess JIT should be okay. @hzongaro could you confirm?

https://github.com/eclipse-openj9/openj9/blob/257950298eab89cb05a624af471c1909c1baaafe/runtime/compiler/compile/J9SymbolReferenceTable.cpp#L292-L294

[2021-11-17 20:01] DanHeidinga commented on #13767
If we had to use a `base + offset` or `base + shifted(offset)` model, would that affect our ability to stack allocate objects?  Scalarization would be unaffected but cases were we create an honest-to-goodness on stack object might be.

My current assumption is stack allocation **would** be affected even though java stacks would continue to be allocated from the suballocator as the user of the obje

[2021-11-17 20:02] tajila commented on #13946
@ChengJin01 Can please add jdk18 excludes for all the tests that are known to not work

@babsingh Please do the same for MH related tests

[2021-11-17 20:19] tajila commented on #13908
The environment variables that may be an issue in addition to `HOST_NAME` are:

[code]

[2021-11-17 20:44] DanHeidinga commented on #13908
`SHLVL` - shell level.  Is this being used by the class library or java applications?  I think this can move to the unlikely to be an issue list.

`_` - path of the current command.  Again, unlikely to be used by the class libraries or java apps.

[2021-11-17 21:26] babsingh commented on #13946
@tajila Do we analyze the issues which need to be fixed, and create a standalone issue for each unique failure?

[2021-11-17 21:34] pshipton commented on #13943
Adam said: the issue is OPENJ9_REPO doesn't have the .git suffix so some parsing in the promote fails.

[2021-11-17 21:34] #13943 closed

[2021-11-17 22:22] pshipton opened #13947 "Load_Level_2.abbs.5mins.Mode121 crash vmState=0x000501ff"
/job_output.php?id=19931694 [zOS S390] 80 Load_Level_2.abbs.5mins.Mode121 fyrec51b
`-Xgcpolicy:optavgpause -Xjit:count=0 -Xnocompressedrefs`

vmState [0x501ff]: {J9VMSTATE_JIT_CODEGEN} {inlining}

[code]

30x grinder /build_info.php?build_id=16577 ...running...

@0xdaryl fyi

[2021-11-18 00:14] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/82

[2021-11-18 00:21] pshipton commented on #13936
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_ppc64_aix_Nightly_testList_1/82

@tajila I just switched to test the head stream instead of the 17.0.1 stream and this problem has occurred in the first/last two builds. After running all the cmdline tests, this occurs at the end, an uncaughtException which results in the InternalError. Can somebody take a look?

[2021-11-18 01:09] pshipton commented on #13936
Grinder https://openj9-jenkins.osuosl.org/job/Grinder/403/ - aix71-p8-5

[2021-11-18 02:31] AdamBrousseau commented on #13943
This line if we ever want to fix it to be more robust
https://github.com/eclipse-openj9/openj9/blob/4a7c1cd0b6d8b47f21287d993da7742367a52c73/buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy#L485

[2021-11-18 13:28] pshipton commented on #13097
@AdamBrousseau there is another one on win2012-x86-3. I'm not sure if you did anything to clear space last time?
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_0/151

[2021-11-18 13:32] pshipton commented on #12526
The new debug is showing `initializeSignalTools() SIGSEM_INIT: File exists`. FYI Keith's suggestion https://github.com/eclipse/omr/pull/6240#pullrequestreview-806158951

[2021-11-18 13:37] JasonFengJ9 commented on #13123
From an internal build `job/Test_openjdk17_j9_special.system_x86-64_windows_testList_2/74/tapResults/` (`win16x64rt2-2`)
[code]

[2021-11-18 13:45] JasonFengJ9 commented on #9794
Observed at an internal build `job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_testList_0/14/` (`cent7x64-1-7`)
[code]

[2021-11-18 14:11] pshipton opened #13949 "Doc-Cleanup-Staging failing Could not find credentials"
https://openj9-jenkins.osuosl.org/job/Doc-Cleanup-Staging/27/console
[code]

@AdamBrousseau

[2021-11-18 14:21] #13195 closed

[2021-11-18 14:22] pshipton opened #13950 "JDK18 builds failing on Linux platforms with no particular error"
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/159/

Only the Linux platforms are failing (alinux, plinux, zlinux, xlinux).

Changes https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/d0a9f59b6...26b0e63f4a9
Guessing the problem is related to
https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/2c3cce4f63cd658aeb8ff41654440d1e56c2eb56
and/or
https://github.com/ibmrunt

[2021-11-18 15:34] keithc-ca commented on #13950
I noticed this locally as well (at first I thought it was due to local changes).

What's weird, though, is that the exact command that fails in the build (recorded in `make-support/failure-logs/jdk__optimize_image_exec.cmdline`) succeeds when run from the same shell where `make` was launched.

[2021-11-18 15:44] JasonFengJ9 opened #13951 "OpenJ9 supports -XX:[+|-]ShowHiddenFrames?"
## OpenJDK (RI) behaviours

RI has a command line option `-XX:+UnlockDiagnosticVMOptions -XX:+ShowHiddenFrames` to hide hidden frames (by default) and show those frames when requested.

For a test code snippet using `Lambda`:
[code]

By default, RI hides the `Lambda` frames:
[code]
W/ `-XX:+UnlockDiagnosticVMOptions -XX:+ShowHiddenFrames`:
[code]

For a test code snippet using `JEP416` `MH`:
[code

[2021-11-18 15:44] a7ehuo commented on #13932
With help from @keithc-ca, we found the issue with my gdb setup. Now the backtrace shows it hits `Assert_hashTable_unreachable()` at [hashtable.c:870](https://github.com/eclipse/omr/blob/f76321aa3ba1e85e71bd57c8c22b5d6cf427b4f5/util/hashtable/hashtable.c#L870).

[code]

[2021-11-18 15:46] hzongaro commented on #13848
To the best of my knowledge that is correctt

[2021-11-18 16:31] EricYangIBM commented on #13939
I rebuilt Peter's build with the cherry-picked changes plus assertions to ensure that my code wasn't called and all tests passed (build_info.php?build_id=16575).
I then removed the assertions and the tests failed as described in this issue (build_info.php?build_id=16640).
Why would a few assertions change the behaviour? My code isn't supposed to be executed in the first place without supplying the

[2021-11-18 16:35] EricYangIBM commented on #13939
The backtraces at the time of the segfaults mostly look like this:
[code]
Sometimes only the last three lines would be present, sometimes only the last line (primitiveClone).

[2021-11-18 16:36] pshipton commented on #13950
The changes are related to character encoding, so maybe the encoding is different from inside make and the shell.

[2021-11-18 16:37] keithc-ca commented on #13950
I think it is `8275007: Java fails to start with null charset if LC_ALL is set to certain locales`:
[code]

[2021-11-18 16:46] JasonFengJ9 commented on #13950
Related to [JEP 400 UTF-8 by Default](https://github.com/eclipse-openj9/openj9/issues/13470).

[2021-11-18 17:29] keithc-ca commented on #13950
It seems that `String.helpers` is not initialized early enough.
[code]
Why aren't all the methods in `JITHelpers` `static`?

[2021-11-18 17:30] pshipton commented on #13939
I don't know that the tracepoint engine is enabled when options are being parsed. What happens if you remove the parsing code so the feature can't be enabled? Or add some printf's.

[2021-11-18 17:38] tajila commented on #13946
Yes please

[2021-11-18 17:49] gacholio commented on #13950
For the same reason as Unsafe - the security is restricting access to the singleton.

[2021-11-18 17:51] gacholio commented on #13951
This isn't as simple as setting the skip bit or not - the bit is still required for security checks, etc.

[2021-11-18 17:54] pshipton commented on #13939
BTW, the likely scenario here is that the new code is sharing a bit that is using for something else on z/OS. If would be good to double check for that.

[2021-11-18 17:59] tajila commented on #13908
`LANG`, `LC_ALL` and `LC_CTYPE` are used by jdk.internal.util.SystemProps.Raw via `platformProperties()`

[2021-11-18 18:06] mpirvu opened #13954 "FATAL_ASSERT in inliner when running AcmeAir with JITServer"
While running AcmeAir with JITServer I observed a fatal assert being triggered in inliner:
[code]
This was observed on x86-64 using a recent nightly SDK.
I narrowed down the issue:
OpenJ9-JDK11-x86-64_linux-20211109-024605   Good SDK
[code]

OpenJ9-JDK11-x86-64_linux-20211110-024529   Bad SDK
[code]

[2021-11-18 18:06] mpirvu commented on #13954
OpenJ9 changes: https://github.com/eclipse-openj9/openj9/compare/1481aed..b466f9f

[2021-11-18 18:09] mpirvu commented on #13954
The fatal assert was introduced in https://github.com/eclipse-openj9/openj9/commit/a3ab880f144860d15c5f5635baa42b2c12012efe

[2021-11-18 18:16] mpirvu commented on #13954
The affected method can change from one run to the next:
[code]

[2021-11-18 18:30] babsingh commented on #13504
I also ran a 500x grinder with `-Xint -XX:+DebugInterpreter`: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/19385. The failure reported in this issue was not seen.

I also ran a grinder with `-verbose:stackwalk=0 -XX:+DebugInterpreter` to output stack frame debug info. The intent was to trace the source of corruption in stack frames. The debug output was very large (600MB+ per test run).

[2021-11-18 19:44] pshipton commented on #13941
Actually I think the code is good as-is. There was a bug, but it's fixed now. Closing as a dup of https://github.com/eclipse-openj9/openj9/issues/13759

https://github.com/eclipse-openj9/openj9/blob/master/jcl/src/java.base/share/classes/java/lang/StackTraceElement.java#L288-L290

[2021-11-18 19:44] #13941 closed

[2021-11-18 19:55] mpirvu commented on #13954
I see one potential problem:
[code]
needs to be overridden at the server. This method is used in the newly added code in inliner.

[2021-11-18 19:56] pshipton commented on #12438
I think we can close this as the new core creation is delivered in https://github.com/eclipse/omr/pull/6133 plus some fixes in the 0.29.0 release.

[2021-11-18 19:56] #12438 closed

[2021-11-18 21:21] #13848 closed

[2021-11-18 21:33] hangshao0 opened #13957 "Jep334Tests_0 failed in x86-64_linux_vt_standard"
Failure link
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_vt_standard_Personal_testList_0/17/tapResults/

Failure output (captured from console output)
---------------------------------------------
There are 2 types of failures.
1. IllegalAccessException
[code]

2 AssertionError:
[code]

[2021-11-18 21:40] hangshao0 commented on #13957
`Test_Class.java:83` is https://github.com/eclipse-openj9/openj9/blob/master/test/functional/Java12andUp/src/org/openj9/test/java_lang/Test_Class.java#L83, which means
[code]
I did a simple test on the latest Valhalla build, I get the flowing message from javac:
[code]
`objectTest.descriptorString()` becomes `Ljava/util/Objects$1;`

So the test needs to be updated for Valhalla.

[2021-11-18 21:44] EricYangIBM commented on #13939
I tried removing pieces of the code and have narrowed it down to the inline allocator changes:
[code]

These changes cause the zos segfault. I ran a build without them (build_info.php?build_id=16657) and none of the failures were observed. Not sure how they could cause a segfault though.
Commit: https://github.ibm.com/Eric-Yang/openj9/commit/a705cf37e4b6bca59a7b6edcec168c84de319244#diff-a9cfcec4d7

[2021-11-18 21:46] hangshao0 commented on #13957
The `IllegalAccessException` looks related to MH. @babsingh @fengxue-IS

[2021-11-18 22:03] hangshao0 commented on #13957
Never mind. `objectTest` has a different package name now. So still test issue.

[2021-11-18 22:16] pshipton commented on #13939
@dmitripivkine @gacholio any ideas? Are there flags used by the z/OS GC which aren't included in j9nonbuilder.h ?

[2021-11-18 22:23] pshipton commented on #13939
Is it possible J9ClassEnsureHashed is being set in the classFlags? i.e. was the following removed but it still crashed?
[code]

[2021-11-18 22:26] ChengJin01 commented on #13946
It seems there are mainly two type of failures for these FFI related test suites:
1) Only the code in phase 1 (primitive support) was merged to the repo as specified at https://github.com/eclipse-openj9/openj9/issues/12412, while the code in phase 2 & 3 (`struct` support) is still waiting for review, in which case all `struct` related test suites should be excluded for the moment on JDK18.

2) The

[2021-11-18 22:31] nbhuiyan commented on #13162
Since my last update I have worked on collecting some verbose and compilation logs with `traceOSR` for `MethodHandleImpl.makeIntrinsic`. However, using the options that we need for diagnosing the problem, the failure was a lot less reproducible. Furthermore, there was no trace of `MethodHandleImpl.makeIntrinsic`in any of the log files. Later I realized they were being deleted by the test itself in

[2021-11-19 01:01] #13804 closed

[2021-11-19 12:43] #13949 closed

[2021-11-19 15:07] EricYangIBM commented on #13939
It still crashes when only those changes are removed.

[2021-11-19 15:33] pshipton commented on #13939
You can try the following:
- does it still crash using J9_ARE_ALL_BITS_SET instead of J9_ARE_ANY_BITS_SET?
- does using `(uint32_t)J9ClassEnsureHashed` make a difference?

[code]

[2021-11-19 15:53] #11580 closed

[2021-11-19 16:01] dmitripivkine commented on #13939
you can try different bit for `J9ClassEnsureHashed` as well

[2021-11-19 16:23] dmitripivkine commented on #13939
... or even simpler - `J9ClassEnsureHashed` supposed to be not set without option. Is it correct?
 You can print info and/or kill JVM at the moment it is detected:
[code]

[2021-11-19 16:28] dmitripivkine commented on #13939
Just for the record heap corruption we crashed at looks like zeroed slots (core from `job_output.php?id=19839922`):
[code]

[2021-11-19 16:49] gacholio commented on #13939
Does it crash if the new option is not specified (delete/modify the options file)?

[2021-11-19 17:47] EricYangIBM commented on #13939
I have tried removing only the jvminit.c changes but it still crashes.

I just had two builds that didn't segfault:
- Changing `J9_ARE_ANY_BITS_SET` to `J9_ARE_ALL_BITS_SET` **and** casting the flag `(uint32_t)J9ClassEnsureHashed`
- Changing `J9_ARE_ANY_BITS_SET` to `J9_ARE_ALL_BITS_SET` **and** changing the flag to `J9ClassHasIdentity` (without cast)
These two have the `J9_ARE_ALL_BITS_SET` chang

[2021-11-19 17:53] gacholio commented on #13939
The any or all thing is either a red herring or a really dumb compiler bug - I doubt it has anything to do with the issue.

[2021-11-19 18:08] EricYangIBM commented on #13939
One more note: for the runs that "passed" (i.e. removing the inline allocator changes or modifying them), they did not crash, but they always had one failed test (four builds with one failure in each). The test that failed was different each time and had different causes

1. job_output.php?id=20014457 - Null pointer (which then caused a dump)
2. job_output.php?id=20022200 - ** ASSERTION FAILED **

[2021-11-19 19:23] EricYangIBM commented on #13939
The build with only the `J9_ARE_ALL_BITS_SET` change passed all tests (build_info.php?build_id=16719), which doesn't make sense but neither does assertion changes preventing the crashes

[2021-11-19 19:29] gacholio commented on #13939
Random stuff like this usually indicates an uninitialized variable/memory, maybe look for that.

[2021-11-19 19:34] gacholio commented on #13838
@urisimchoni Any update? The similar issue mentioned above is not repeatable, so this is still my best chance to find the underlying problem (I'm hoping there's only one!).

[2021-11-19 19:45] gacholio commented on #13192
For now (since we don't have fine-grained peeking data), I would force the OSRs before doing the HCR to better be able to handle out of memory situations. This works because OSRing a frame is never "incorrect" - it's just a waste of performance if the HCR fails.

So, I would:

- acquire exclusive VM access
- walk all stacks in all threads marking any peeking frames for OSR
- perform the normal HCR

[2021-11-19 19:47] gacholio commented on #13192
When replacing SA objects from dynamic heapification, we will need to be careful to also update any OSR buffers that contain the SA object as well. I believe this will occur naturally using the O-slot walk in the stack walker, but will need to make sure.

[2021-11-19 19:51] gacholio commented on #13192
Is peeking only done for stack allocation? Seems to me a compilation that's made any assumptions about methods not in its inline map needs to be decompiled on HCR, regardless of whether it did any stack allocation.

[2021-11-19 21:27] pshipton commented on #13939
There are known problems that occur.

1. not sure we've seen this before, but appears a JIT bug likely unrelated to your changes
2. known z/OS machine problem, ignore
3. looks like a temporary machine/network problem, ignore
4. "Could not find or load main class org.openj9.test.nogc.Main" is not why it failed, this is a known test issue but it doesn't cause the test to fail. There is a problem wit

[2021-11-19 21:39] pshipton commented on #13939
Seems like some kind of compiler bug quirkiness to me. We can see what @keithc-ca thinks.

Did you try J9_ARE_ANY_BITS_SET  with `(uint32_t)J9ClassEnsureHashed`?

[2021-11-19 21:42] #12992 closed

[2021-11-20 01:28] #13950 closed

[2021-11-20 01:43] #13954 closed

[2021-11-20 04:39] urisimchoni commented on #13838
Sorry of not sending a timely update. I've tried creating a stripped-down version of the agent along with a sample application and that hasn't reproduced the issue. I then got myself busy with other pressing issues. Hopefully I'll be able to get back to this within a week or so.
Sorry for dropping the ball on this.

[2021-11-22 12:44] JasonFengJ9 opened #13964 "JDK18 cmdLineTester_callsitedbgddrext_openj9_0_FAILED : Run !printallcallsites - Segmentation error vmState=0x00000000 at Module=/lib/default/libj9jit29.so"
Failure link
------------

From an internal build `/view/Test_grinder/job/Grinder/19571/tapResults/` (`cent7x64-1-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=cmdLineTester_callsitedbgddrext_openj9_0&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=15&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK

[2021-11-22 12:45] JasonFengJ9 opened #13965 "JDK18 cmdLineTester_modularityddrtests_1_FAILED : Run !dumpmodule exports --illegal-access=permit - Required condition was not found: [Output match: to ALL-UNNAMED]"
Failure link
------------

From an internal build `job/Grinder_iteration_1/639/tapResults/` (`win16x64rt3-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=cmdLineTester_modularityddrtests&SDK_RESOURCE=customized&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Grinder&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=15&EXTRA_DOCKER_ARGS=-v+%24%7BTEST_JDK_HOME%7D%

[2021-11-22 13:25] pshipton opened #13966 "Something wrong with UNB machines"
See the failures
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK8/173/
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK11/155/
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK17/92/
https://openj9-jenkins.osuosl.org/job/Build_JDKnext_ppc64le_linux_OpenJDK/155/console

There are timeouts and failures to contact machines.

@AdamBrousseau

[2021-11-22 13:39] pshipton opened #13967 "testJITServer Assertion failed JITServerHelpers.cpp:322 VMState: 0x0005ffff"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_ppc64le_linux_Nightly_testList_0/152
testJITServer_1
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.functional_ppc64le_linux_Nightly_testList_0/152/functional_test_output.tar.gz

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_ppc64le_linux_Nightly_testList_1/

[2021-11-22 13:40] pshipton commented on #13721
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/146/

@0xdaryl can somebody look at this one?

[2021-11-22 13:41] pshipton commented on #13721
@zl-wang fyi as well. This is not failing all the time, but it is failing regularly.

[2021-11-22 15:36] dmitripivkine commented on #13939
I believe we still create/store assembly files for ZOS when compile. So in theory we can go to machine instructions level if we know where to look at.

[2021-11-22 16:22] singh264 commented on #5972
https://github.com/eclipse/omr/issues/6248

[2021-11-22 16:28] #11791 closed

[2021-11-22 16:39] AlexeyKhrabrov commented on #13967
This is likely due to #13199 which introduced new UTF8 strings in ROMClasses without visiting them in the ROMClass walk. Any changes to the ROMClass format need to go through JITServer tests to make sure they don't break ROMClass serialization.

[2021-11-22 17:45] gacholio commented on #13192
Actually, I don't think this will be an issue, assuming that SA objects are exactly the same shape as heap objects (which is a hard requirement for allowing them to escape). Bascially, the stack walker will report each O slot in the object to the GC, rather than reporting the object itself. This is possibly trivially less performant, but will be correct.

[2021-11-22 19:38] mpirvu commented on #13967
@ChengJin01 would you be able to implement the suggestion from @AlexeyKhrabrov to fix this issue? Thanks

[2021-11-22 19:43] ChengJin01 commented on #13967
I already created changes at https://github.com/ChengJin01/openj9/commit/0310aeea5aabc78baf26eb41f3ba60a57854ac83 and need to launch personal builds to see how it goes with the JITServer tests.

[2021-11-22 19:54] AlexeyKhrabrov commented on #13967
https://github.com/ChengJin01/openj9/commit/0310aeea5aabc78baf26eb41f3ba60a57854ac83 looks correct and should fix the issue.

[2021-11-22 21:57] hzongaro commented on #13721
@pshipton I will take a look again

[2021-11-22 22:58] vijaysun-omr commented on #13192
There is a separate "stackAllocMap" in the GC stack atlas that should be describing the stack slots that mark the "beginning" of stack allocated objects (i.e. where the header class pointer slot is). These are not slots corresponding to variables pointing at stack allocated objects, but the stack allocated objects themselves.

As far as I know, there is no notion of stack slots pointing at stack a

[2021-11-22 23:03] vijaysun-omr commented on #13192
The routine that does the IL gen for peeking in the JIT is designed to report a failure when HCR is enabled. This in turn makes all optimizations that want to peek get conservative since they detect that there was some problem in generating IL that was essential to some analysis that they might otherwise have done.

The dynamic heapification addresses a specific issue that would be caused by a spe

[2021-11-22 23:17] gacholio commented on #13838
I strongly suspect this will fix the memory corruption issues: https://github.com/eclipse-openj9/openj9/pull/13972

[2021-11-22 23:21] gacholio commented on #13192
If we are adding the restriction that all SA objects must have a slot in the stack frame pointing to them, I think we can get rid of stackAllocMap completely (at the very least you'll have to set it to all 0s for this feature).

[2021-11-23 10:16] urisimchoni commented on #13838
This doesn't seem to fix the issue, I applied the PR patch to master, built a jdk from clean, and it still happens (it's not the same stack I reported but is similar to other stacks I've seen with this issue all related to memory allocation going haywire)

#0  __pthread_kill_implementation (threadid=<optimized out>, signo=11, no_tid=<optimized out>) at pthread_kill.c:44
#1  0x00007f7a7434dccd in o

[2021-11-23 14:18] #12157 closed

[2021-11-23 14:22] tajila commented on #12429
@babsingh Can you take a look at this. If its just doc changes we should be able to do this fairly quickly

[2021-11-23 14:30] tajila commented on #13457
@babsingh does this still fail?

[2021-11-23 15:01] pshipton commented on #13901
@JasonFengJ9 is this still an issue or resolved by https://github.com/eclipse-openj9/openj9/pull/13952 ?

[2021-11-23 15:37] vijaysun-omr commented on #13192
I don't know that we are adding such a restriction as part of the work underway for the heapification feature specifically, i.e. we are not affecting what other stack slots or registers point at the stack allocated object I believe.

You may be right that we don't need to scan the stackAllocMap but this may be a statement that is true independent of the heapification feature. It depends on what al

[2021-11-23 15:51] JasonFengJ9 commented on #13901
Closing via https://github.com/eclipse-openj9/openj9/pull/13952

[2021-11-23 15:51] #13901 closed

[2021-11-23 16:35] gacholio commented on #13192
Scanning the stackAllocMap after heapification will keep objects alive that are potentially dead (the stack slots are no long relevant once we've replaced the object pointer). This is non-fatal but could lead to mysterious leaks that might be difficult to track down.

The only way heapfication can work is if all SA objects are referred to by object pointer - we won't be heapifying objects during t

[2021-11-23 16:44] gacholio commented on #13838
That's unfortunate - I guess I'll have to wait for the test case.

[2021-11-23 17:35] nbhuiyan commented on #13162
I have since been able to collect runtime OSR logs for a failing run. It became clear that the failure was only seen in runs where OSR was induced from `MethodHandleImpl.makeIntrinsic`. Passing runs normally did not undergo OSR from that method. Vijay pointed out that we skipped creating HCR guards in `java/lang/invoke/*`  inlined methods, and to check if that could somehow be responsible for sett

[2021-11-23 17:47] gacholio commented on #13123
With the change in #13969 this failure will now manifest as a print to the console followed by the "unreachable" assertion instead.

[2021-11-23 18:46] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/147

[2021-11-23 19:56] gacholio commented on #13838
This PR is related to ASGCT but doesn't immediately appear to have anything to do with memory corruption: https://github.com/eclipse-openj9/openj9/pull/13979

[2021-11-23 20:38] babsingh commented on #13457
**Segfault:** https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-921897687 and https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-921916925
**Perf regression:** https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-928162544
**Perf regression fix:** https://github.com/eclipse-openj9/openj9/pull/13644

**Ran a 100x grinder:** https://hyc-runtimes-jenkins

[2021-11-23 20:38] #13457 closed

[2021-11-23 21:48] JasonFengJ9 commented on #9851
Observed at an internal build `job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_testList_0/15/testReport/java_util_EnumSet_EnumSetBash/java/EnumSetBash/`
[code]

[2021-11-23 21:53] JasonFengJ9 commented on #13180
Observed at an internal build `job/Test_openjdk17_j9_extended.openjdk_aarch64_linux/27/` (`cent7-aarch64-6`)
[code]

[2021-11-23 21:57] JasonFengJ9 opened #13980 "JDK17 Head : java/net/httpclient/LineBodyHandlerTest.java - Segmentation error vmState=0x00000000 Compiled_method=java/lang/ClassLoader.getClassLoadingLock(Ljava/lang/String;)Ljava/lang/Object;"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_aarch64_linux/27/` (`cent7-aarch64-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_net_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER

[2021-11-23 22:02] JasonFengJ9 opened #13981 "JDK17 Head : javax/xml/crypto/dsig/LogParameters.java - RuntimeException: Unexpected log output:"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_ppc64_aix/30/` (`paix824 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_security2_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS

[2021-11-23 22:07] JasonFengJ9 commented on #13368
Observed at an internal build `job/Test_openjdk17_j9_special.system_s390x_linux_testList_4/93/tapResults/`(`ub18s390xrt-1-1`)

[code]

[2021-11-23 22:43] JasonFengJ9 opened #13982 "testJITServer_0_FAILED : Assertion failed at openj9/runtime/compiler/control/JITServerHelpers.cpp:325: end == classEnd"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.functional_x86-64_linux_testList_1/91/` (`cent7x64-1-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=testJITServer_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_sanity.functional_x86-64_linux&amp;DOCKER_REQUIRED=false&am

[2021-11-23 22:48] JasonFengJ9 opened #13983 "JDK17 0.30.0-m1 jdk_nio FAILED : java.nio.charset.CoderMalfunctionError: java.lang.IllegalArgumentException: newPosition > limit: (1 > 0) followed by segmentation error"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_x86-64_linux/29/` (`cent7x64-1-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_nio_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARG

[2021-11-23 22:53] JasonFengJ9 opened #13984 "JDK17 Head jdk_net_1_FAILED : test ServerPushWithDiffTypes.test(): failure"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_x86-64_linux/29/` (`cent7x64-1-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_net_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARG

[2021-11-23 23:02] JasonFengJ9 opened #13985 "JDK17 Head cmdLineTester_ValueBasedClassTest_0_FAILED : Test 2-b Test error message when calling syncOnObject() - Segmentation error vmState=0x00040000"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.functional_aarch64_linux_testList_0/50/` (`ub18-aarch64-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=cmdLineTester_ValueBasedClassTest_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_sanity.functional_aarch64_linux&amp;

[2021-11-23 23:12] #13967 closed

[2021-11-23 23:14] JasonFengJ9 opened #13986 "MBCS_Tests_CLDR_11 failures : Failed test 'diff TimeZoneTestB-ja-JP-DEFAULT.log expected_TimeZoneTestB-ja-JP-DEFAULT.log'"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_special.functional_s390x_linux/41/` (`rhel7s390x-3-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=MBCS_Tests_CLDR_11_ja_JP_linux_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_

[2021-11-23 23:34] pshipton commented on #13986
Is this a new test, regression, highly intermittent, or what?

[2021-11-23 23:36] pshipton commented on #13983
Is this a new test, regression, highly intermittent, or what?

[2021-11-23 23:40] pshipton commented on #13982
Looks like a dup of https://github.com/eclipse-openj9/openj9/issues/13967 which was just resolved.

[2021-11-23 23:40] #13982 closed

[2021-11-23 23:42] pshipton commented on #13980
Is this a new test, regression, highly intermittent, or what?

[2021-11-23 23:44] pshipton commented on #13984
Is this a new test, regression, highly intermittent, or what?

[2021-11-23 23:45] pshipton commented on #13981
Is this a new test, regression, highly intermittent, or what?

[2021-11-24 00:42] gacholio commented on #13838
Working with Andrei from async-profiler, we've identified some hidden malloc calls in the JIT metadata processing which I'm looking into.

[2021-11-24 03:36] mpirvu opened #13988 "Eliminate VM_isString1 messages from JITServer code"
A `VM_isString1` message is sent from the implementation of
[code]
The non-jitserver implementation is:
[code]
We can avoid sending a message if we cache the value for  `J9VMJAVALANGSTRING(jitConfig->javaVM)` in `ClientSessionData::VMInfo`
This cached value can change only in HCR extended mode when a class redefinition occurs. Thus, we may want to use NULL as an indication that the value is not av

[2021-11-24 14:45] JasonFengJ9 opened #13990 "Request a new label - triage required"
## Label proposed

triage required

## Target issues

The `test failures` not assigned a component yet.
`userRaised` or any other issues requiring triage to determine the component(s) they belong to (and for further investigation).

This label is needed to separate the issue raising and triage process. It is not alway practical to perform these two tasks together. The triage should be prioritized

[2021-11-24 14:54] hzongaro commented on #13721
I still haven't been able to reproduce this failure in Grinder runs.  I've tried runs with make target `sanity.openjdk`, `jdk_lang_0` and `jdk_custom` with `CUSTOM_TARGET=java/lang/String/concat/ImplicitStringConcatManyLongs.java` - no luck so far.

[2021-11-24 15:34] llxia commented on #13891
@LongyuZhang could you help with this? Thanks

[2021-11-24 15:51] vijaysun-omr commented on #13192
Is one option to null out any non-null reference fields that point to other objects after heapification is done and all referring slots have been updated to point at the heapified object ?

[2021-11-24 16:30] ChengJin01 commented on #13946
The majority of FFI related to test suites ended up with an assertion as follows in `MemberName.vminfoIsConsistent()`:
[code]
against the code at https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/openj9/src/java.base/share/classes/java/lang/invoke/MemberName.java
[code]
The issue was likely introduced by the changes at  https://github.com/eclipse-openj9/openj9/pull/13890 in native at /runtime

[2021-11-24 16:52] hangshao0 commented on #13985
There is an issue for monitor enter/exit for value types https://github.com/eclipse-openj9/openj9/issues/13916. This issue might be the same/related. @knn-k

[2021-11-24 17:15] ChengJin01 commented on #13946
By disabling the assertion in code above,  the actually results of the FFI specific test suites are as follows with the missing code/exception updated in code (phase 2 & 3 / struct support) at https://github.com/eclipse-openj9/openj9/pull/13315

**[1]** test suites mixed with primitive & struct in downcall (should be excluded for the moment till the code at phase 2 & 3 is merged)
(1)  java/foreign

[2021-11-24 17:28] #12429 closed

[2021-11-24 17:31] babsingh opened #13993 "[JDK18] Unsupported tests in TestAsyncStackWalk and TestStackWalk"
### OpenJDK Tests

The following JDK18 tests are not supported by OpenJ9 because OpenJ9 does support the `sun.hotspot.WhiteBox` dependency:
[code]

The above tests will be excluded.

### Error

[code]

Related: https://github.com/eclipse-openj9/openj9/issues/13946

[2021-11-24 17:35] babsingh commented on #13946
@ChengJin01 Please provide https://github.com/eclipse-openj9/openj9/issues/13993 as the associated issue while disabling the `*StackWalk` tests, which are dependent on `sun.hotspot.WhiteBox`. https://github.com/eclipse-openj9/openj9/issues/13993 contains the reason for disabling these tests.

[2021-11-24 17:38] babsingh commented on #13946
re https://github.com/eclipse-openj9/openj9/issues/13946#issuecomment-978037496:

Does the assertion error go away after reverting https://github.com/eclipse-openj9/openj9/pull/13890/commits/305ee169b621b3a2017bb518f5c415ee6c039ae9?

[2021-11-24 17:43] ChengJin01 commented on #13946
I didn't try reverting but disable the assertion as it is irrelevant to the foreign specific code.

[2021-11-24 18:07] ChengJin01 opened #13994 "[JDK8] Failing test suites mixed with primitive & struct in downcall in jtreg test"
The issue is created to keep track of the failing jtreg test suited detected in https://github.com/eclipse-openj9/openj9/issues/13946 which are mixed with primitive & struct in downcall and should be excluded for the moment till the code at phase 2 & 3 (struct support) at https://github.com/eclipse-openj9/openj9/pull/13315 is merged to the repo.

(1) java/foreign/SafeFunctionAccessTest.java.SafeFu

[2021-11-24 18:11] babsingh opened #13995 "[JDK18] AssertionError in MemberName.vminfoIsConsistent"
### OpenJDK Tests

[code]

### Error

A negative `vmindex` value is expected but different positive `vmindex` values are seen at `MemberName.vminfoIsConsistent(MemberName.java:352)`:
[code]

Related: https://github.com/eclipse-openj9/openj9/issues/13946

[2021-11-24 18:14] babsingh opened #13996 "[JDK18] AssertionError in MemberName.referenceKindIsConsistent"
### OpenJDK Tests

[code]

### Error

[code]

Related: https://github.com/eclipse-openj9/openj9/issues/13946

[2021-11-24 18:17] babsingh opened #13997 "[JDK18] AssertionError in MemberName.referenceKindIsConsistentWith"
### OpenJDK Tests
[code]

### Error

[code]

Related: https://github.com/eclipse-openj9/openj9/issues/13946

[2021-11-24 18:22] babsingh opened #13998 "[JDK18] InternalError: Caller is not annotated as @CallerSensitive"
### OpenJDK Tests

[code]

### Error

[code]

Related: https://github.com/eclipse-openj9/openj9/issues/13946

[2021-11-24 18:24] ChengJin01 opened #13999 "[JDK18] Failing test suites in upcall in jtreg test"
The issue is created to keep track of the failing jtreg test suites detected in #13946 which are related to upall in JEP389 and should be excluded as the development of upall is still underway.

(1) java/foreign/StdLibTest.java.StdLibTest
(2) java/foreign/TestUpcall.java.TestUpcall
(3) java/foreign/TestUpcallException.java.TestUpcallException
(4) java/foreign/TestUpcallHighArity.java.TestUpcallHig

[2021-11-24 18:28] babsingh opened #14000 "[JDK18] IllegalArgumentException in ProgrammableInvoker.checkIfValidLayoutAndType"
### Tests

[code]

### Error

[code]

Related: https://github.com/eclipse-openj9/openj9/issues/13946

[2021-11-24 18:31] babsingh opened #14001 "[JDK18] UnsatisfiedLinkError in ProgrammableUpcallHandler.registerNatives"
### Tests

[code]

### Error

[code]

Related: https://github.com/eclipse-openj9/openj9/issues/13946

[2021-11-24 18:32] nbhuiyan commented on #13983
I have seen this failure recently in `jdk_util_1` running `CodePointTest`. Occurrence is about 1/15.

[code]

[2021-11-24 18:35] babsingh opened #14002 "[JDK18] AssertionError in TestIllegalLink.testTypeMismatch"
### OpenJDK Test

[code]

### Error
[code]
Multiple failures with different type mismatches.

Related: https://github.com/eclipse-openj9/openj9/issues/13946

[2021-11-24 18:37] ChengJin01 commented on #14000
@babsingh,  You don't have to created the FFI related issues related to downcall (already created at https://github.com/eclipse-openj9/openj9/issues/13994)  as these failures were addressed in code at https://github.com/eclipse-openj9/openj9/pull/13315 and associated with https://github.com/eclipse-openj9/openj9/issues/13994 in https://github.com/adoptium/aqa-tests/pull/3150.

[2021-11-24 18:40] ChengJin01 commented on #14001
Please close the issue as the issue with all upcall test suites is created at https://github.com/eclipse-openj9/openj9/issues/13999 given we are still working on the implementation.

[2021-11-24 18:40] babsingh commented on #13946
@ChengJin01 I have opened the following issues:
- #13993
- #13995
- #13996
- #13997
- #13998
- #14001
- #14002

There are more failures to be analyzed. Will open a Github issue for them later.

[2021-11-24 18:44] #14000 closed

[2021-11-24 18:44] #14001 closed

[2021-11-24 18:45] ChengJin01 commented on #14002
We don't need to this test suite as the error messages specific to Hotspot and we already have the expected exception addressed in our code.

[2021-11-24 18:45] JasonFengJ9 commented on #6777
From an internal build `job_output.php?id=20517328` (`rhel7x64rtp1-10`)
[code]

[2021-11-24 18:53] gacholio commented on #13192
Yes, we could do that, though it seems like unnecessary work. The stackMapTable will be completely pointless when SA objects are referred to by pointer, which I believe is absolutely required for this feature.

[2021-11-24 19:50] jjohnst-us opened #14004 "Timing issue exposed in HookedByTheJit.cpp"
We are seeing a random but rare GPF in HookedByTheJit.cpp.
Specifically I believe the issue is here:
https://github.ibm.com/runtimes/openj9/blob/4480d81bba0e0e55d90b017ab8944ca7fceae0af/runtime/compiler/control/HookedByTheJit.cpp#L455

More specifically, during JVM shutdown, there is a timing hole where
TR_J9VMBase::get(jitConfig, vmThread, TR_J9VMBase::AOT_VM)->sharedCache()
can resolve to zero c

[2021-11-24 19:53] babsingh commented on #13946
re #13946 (comment):

I reverted https://github.com/eclipse-openj9/openj9/commit/305ee169b621b3a2017bb518f5c415ee6c039ae9 and reran one of the failing tests which cause an `AssertionError` at `MemberName.vminfoIsConsistent(MemberName.java:352)`. The `AssertionError` happens even after reverting https://github.com/eclipse-openj9/openj9/commit/305ee169b621b3a2017bb518f5c415ee6c039ae9 from #13890. Ne

[2021-11-24 21:10] jonoommen opened #14005 "Introduce Off-Heap Technology for Large Arrays in Region-Based Garbage Collector"
Introduce an optimized memory management for large arrays in the balanced region-based garbage collector. More specifically, this is a new heap scheme and large object organization (in-heap and off-heap), an enhanced method for allocating large objects (proxy objects), and an optimized technique of accessing large array during runtime (JIT optimizations).

This organization not only unburdens larg

[2021-11-24 22:43] gacholio commented on #13838
https://github.com/eclipse-openj9/openj9/pull/14007 might address the remaining malloc issues.

[2021-11-24 22:48] nbhuiyan commented on #13162
eclipse/omr#6255 is a better temporary workaround than #13978. In that workaround, we prevent the problem simply by skipping creating an OSR path to take from `java/lang/invoke` inlined callee methods, instead of unnecessarily adding HCR guards and also skipping creating the alternate OSR path like in #13978.

Grinder test results with only eclipse/omr#6255: 200/200 iterations of ` java/util/strea

[2021-11-24 23:07] JasonFengJ9 opened #14008 "java/nio/channels/FileChannel/TempDirectBuffersReclamation.java - AssertionError: Direct BufferPool not same before thread activity and after thread exit."
Failure link
------------

From an internal build `job/Test_openjdk8_j9_extended.openjdk_aarch64_linux/31/` (`ub18-aarch64-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH

[2021-11-24 23:13] JasonFengJ9 opened #14009 "java/net/MulticastSocket/JoinLeave.java - UncheckedIOException: java.net.SocketException: The socket name is not available on this system. (Error setting socket option)"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_extended.openjdk_ppc64_aix/35/` (`paix905 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_net_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;T

[2021-11-24 23:21] JasonFengJ9 commented on #10460
From an internal build `job/Test_openjdk8_j9_special.system_s390x_linux_testList_2/132/`
[code]

[2021-11-24 23:38] JasonFengJ9 opened #14010 "java/lang/Throwable/ChainedExceptions.java : RuntimeException: Low depth"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_sanity.openjdk_x86-64_windows_testList_0/16/` (`win16x64rt3-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_lang_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_sanity.openjdk_x86-64_windows&amp;DOCKER_REQUIRED=false&amp;ACTIVE

[2021-11-24 23:44] JasonFengJ9 opened #14011 "cmdLineTester_bootStrapStaticVerify_0_FAILED : [ERR] JVMSHRC023E Cache does not exist"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_extended.functional_ppc64le_linux_testList_2/128/` (`rhel7lert-1-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=cmdLineTester_bootStrapStaticVerify_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_extended.functional_ppc64le_linux&

[2021-11-25 00:53] knn-k commented on #13985
No failures in 30x Grinder.  job/Grinder/19664/
I cannot reproduce the failure locally.

[2021-11-25 01:07] RSalman commented on #13891
triage slack thread @ `archives/C5TUEK814/p1625794386109700` might be helpful

[2021-11-25 02:12] #13916 closed

[2021-11-25 03:25] knn-k commented on #13985
The fix for #13916 has been merged as #13928, but I don't have any evidence the fix is related to this issue.

[2021-11-25 06:57] jackin853 opened #14012 "The JVM process enters a dead state, the heap memory is exhausted, no report OOM Error, why?"
Java -version output
--------------------
openjdk version "1.8.0_275"
OpenJDK Runtime Environment (build 1.8.0_275-b01)
Eclipse OpenJ9 VM (build openj9-0.23.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20201110_845 (JIT enabled, AOT enabled)
OpenJ9   - 0394ef754
OMR      - 582366ae5
JCL      - b52d2ff7ee based on jdk8u275-b01)

Summary of problem
------------------
The JVM process enters

[2021-11-25 14:06] JasonFengJ9 opened #14013 "JDK18 build breakage due to JDK-8275063: Implementation of Foreign Function & Memory API (Second incubator)"
https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/f95d3e58d021bfe23848aac5747ad0c30354c5bd removed `jdk.incubator.foreign.CLinker.TypeKind` which is referenced by OpenJ9 https://github.com/eclipse-openj9/openj9/blob/bf11aca8a436c53cd22df7e19c2614f6f442e6b2/jcl/src/jdk.incubator.foreign/share/classes/jdk/internal/foreign/abi/ProgrammableInvoker.java#L42-L43

This breaks JDK18 build.
[code]

[2021-11-25 14:54] dmitripivkine commented on #14012
Would you please provide full javacore file. Also it might help to generate Verbose GC log too.

From this small fragment it is obvious that application is way out of heap space.
Here you can see Local GC (Scavenge) failed to complete and switched to Scavenger Blackout mode with percolation to followed Global GC. And most likely this cycle repeats. In theory situation like this should be handled b

[2021-11-25 15:12] pshipton commented on #13990
`triageRequired` label added.

[2021-11-25 15:12] #13990 closed

[2021-11-25 15:44] EricYangIBM opened #14014 "Segfault at checkCast on Java 17 when running multiple `RedefineClasses` threads"
Crash happens during MemberName.clone().
Sample failure link: https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_ppc64le_linux_Personal/11/tapResults/
[code]
To reproduce, run `RedefineClasses` threads (e.g. in rc021.java) in a loop, adding and removing a static field from a class. The threads must not be `join`ed one by one otherwise the crash will not happen. See https:/

[2021-11-25 15:59] 1a2s3d4f1 commented on #11886
https://mega.nz/folder/jAsDBK4Y#V2Oq4-BGF2PEyjrinElSpQ
I Uploaded new dump files(jit dump and core dump).

Java version:
[code]

[2021-11-25 16:23] hangshao0 commented on #13985
OK, we can wait and see if this failure appears again.

[2021-11-25 16:26] hangshao0 commented on #14011
It might be caused by another process running at that time on the machine that deleted the shared cache.

[2021-11-25 16:30] ChengJin01 commented on #14013
These are the latest API changes in JDK18 without any document  (not yet updated). I will grab the temp branch from @JasonFengJ9 to investigate what really happened to our implementation and need to need to figure out how to fit with JDK17 and JDK18 in such case.

[2021-11-25 17:03] hangshao0 commented on #13932
This crash is also seen in non-valhalla build https://github.com/eclipse-openj9/openj9/issues/13964

[2021-11-25 18:04] keithc-ca commented on #14013
I think the effects are limited to the implementation of `ProgrammableInvoker.validateValueLayoutKind()`.