[2021-12-20 21:20] dmitripivkine commented on #14186
... and this is not a corrupted size of array, it lasts till `0xE5301FD0` where next object is. Looks like it is intentional somehow. But object heap is not large enough.

[2021-12-20 22:05] JasonFengJ9 commented on #14165
Observed at `job/Test_openjdk8_j9_extended.system_x86-32_windows_testList_1/34/`(`win16x64rt3-10`)
[code]

[2021-12-20 22:16] pshipton commented on #14165
@Mesbah-Alam have there been any recent changes to the MiniMix_aot_5m test?

[2021-12-20 23:03] kgibm opened #14192 "jcmd Dump.system fails on macOS: pwrite() error writing segment data:: Bad address"
Java -version output
--------------------

Output from `java -version`:

[code]

Summary of problem
------------------

As a follow-on to [Issue 12438 (jcmd Dump.system hangs on macOS)](https://github.com/eclipse-openj9/openj9/issues/12438), `jcmd Dump.system` no longer hangs but it fails with:

[code]

An additional problem is that `jcmd` returns success even though the dump creation failed:

[co

[2021-12-20 23:44] a7ehuo commented on #13983
I narrowed the exception to `lastOptIndex=85` (GRA) and `lastOptSubIndex=52`. The exception also goes away if I set `disableGRA`.  `lastOptSubIndex=52` just assigns register `ecx` to store the value of `sl` (sym ref `#498`) which is`soff + src.limit()`. I haven't found anything abnormal about this transformation.

[code]

[code]

[2021-12-20 23:54] pshipton commented on #14192
@tajila @mikezhang1234567890

[2021-12-21 04:10] Mesbah-Alam commented on #14165
MiniMix_aot_5m is a new test, [added last week](https://github.com/adoptium/aqa-tests/pull/3178).

FYI @llxia.

[2021-12-21 05:33] RSalman commented on #14118
I've confirmed that this has been around before any of the recent refactoring/changes to metronome code. June build with the the test change shows the same issue.

[2021-12-21 13:50] pshipton commented on #14165
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly_testList_0/174/

[2021-12-21 13:52] pshipton commented on #14118
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly_testList_0/170

[2021-12-21 13:58] pshipton opened #14193 "testRASAPI_0 failing on AIX"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64_aix_Nightly_testList_0/172/
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly_testList_0/170/

[code]

[2021-12-21 14:06] pshipton commented on #13721
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/171

[2021-12-21 16:56] Mesbah-Alam commented on #14165
[code]

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly/178/tapResults/

The problem seems to occur only on JDK 8 x86-32 bit Windows. The test works fine on x64 on [8](https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/179/tapResults/), [11](https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.syst

[2021-12-21 17:01] AdamBrousseau commented on #14185
Restarted from cloud UI. Seems to be working now
https://openj9-jenkins.osuosl.org/job/Grinder/480

[2021-12-21 17:01] #14185 closed

[2021-12-21 18:03] tajila commented on #14166
I wasnt able to view the native stack (gdb kept crashing), we don't have a ub20-aarch machine internally. I looked at the java stack and it looks like we are in a JIT resolve frame.

[2021-12-21 18:04] tajila commented on #14166
30 job grinder - https://openj9-jenkins.osuosl.org/job/Grinder/481/

[2021-12-21 18:06] tajila commented on #14191
@ninja- do you have a sample application that we can try to reproduce the problem?

[2021-12-21 18:39] RSalman commented on #14118
I think this test (for metronome mode) should be disabled, we're not catching anything here.

[2021-12-21 18:51] kgibm commented on #3497
@babsingh Yes, that is useful for JIT compiled methods but my point was that the JVM itself seems to be compiled with frame pointer omission, so call stack walking using the frame pointer doesn't work if the stack happens to be in the JVM itself.

This can be demonstrated on both Semeru Runtime Open Edition 17 and IBM Java 8 as shown below. This demonstration searches for JIT Compilation thread st

[2021-12-21 19:09] kgibm commented on #14192
FYI, here are software and hardward information for my mac. I'm glad to run any additional tracing or custom builds.

[code]

[2021-12-21 20:08] pshipton commented on #14166
You can use the external machine, just open an infra issue and ask Adam to set you up.

[2021-12-21 20:12] pshipton commented on #14118
I'd like to understand what is wrong. If the heap is in good shape then gccheck should be able to walk it, and we should fix DDR is that is where the problem is.

[2021-12-21 20:30] tajila commented on #14129
No failures in the 100 job grinder.

[2021-12-21 20:31] pshipton commented on #14192
Trying to run the testcase over ssh results in `Exception in thread "main" java.awt.AWTError: WindowServer is not available`.

[2021-12-21 20:45] kgibm commented on #14192
@pshipton Apologies. That test case is Swing-based and requires a GUI. The following simple program also reproduces the issue:

[code]

Compile and run and then:

[code]

Same result:

[code]

[2021-12-21 21:10] pshipton commented on #14192
We have tests that are working on the machines we have, but we don't have any macOS 12 machines in the pool. We might need to take you up on the offer to debug using your machine in the new year, depending on what the devs have for personal machines.

[2021-12-22 12:53] smlambert commented on #14028
Java15andUp is once again broken for use by non-J9 implementations, failing to compile for hs (https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.functional_aarch64_linux/111/console) likely due to https://github.com/eclipse-openj9/openj9/pull/14189.

[2021-12-22 13:33] dmitripivkine commented on #14118
Unfortunately DDR's `!gccheck objectheap` is not aware about GC context but does general checks for artifacts discovered by sequential walk of the heap. It has no knowledge to recognize "abandoned" artifacts like "dark matter", unused remainders of link lists etc. might be left by GC in the heap. GC cares about heap walkability only but leftovers might be not cleared to save time. As a result DDR'

[2021-12-22 15:27] #14169 closed

[2021-12-22 15:57] tajila commented on #14166
Native stack frame

[code]

[2021-12-22 15:58] tajila commented on #14166
We are crashing because of a NULL methodHandle being passed to `VM_VMHelpers::methodHandleCompiledEntryPoint`

Given that are JIT resolve frame is on the Java stack, my guess is that this was called from a J2I transition

[2021-12-22 16:00] tajila commented on #14166
lll need more runs to confirm, this seems to be failry reproduceable though, it failed 2/30

[2021-12-22 23:30] pshipton commented on #14028
If it's related to https://github.com/eclipse-openj9/openj9/pull/14189 then it's because the TestUtilities were pulled in to get the `VersionCheck.classFile()`, and the TestUtilities must be OpenJ9 specific.

[2021-12-22 23:41] smlambert commented on #14028
Yes, see https://github.com/eclipse-openj9/openj9/issues/14028#issuecomment-988225623, I will split TestUtilities into 2 parts to make more functional tests available for use by all.

[2021-12-23 00:00] tajila commented on #14166
another grinder with debug asserts https://openj9-jenkins.osuosl.org/job/Grinder/485/

[2021-12-23 10:03] TueDissingWork opened #14198 "Can't run execute unit test with `surefire` and IBM Semeru Runtime Open Edition 11.0.13.0 (build 11.0.13+8)"
Java -version output
--------------------

Output from `java -version`.
[code]

Summary of problem
------------------

Trying to execute, otherwise perfectly fine, `JUnit` tests using the `maven-surefire-plugin`. When `maven` tries to fork a couple of JVMs they simply crash. See the below files for additional details.
Here's the output of the build:

[code]

Diagnostic files
----------------
I hav

[2021-12-23 13:02] pshipton commented on #14198
@hangshao0 fyi

You can work around it by disabling the shared cache. Either via `-Xshareclasses:none` on the java command line, or set the environment variable `OPENJ9_JAVA_OPTIONS=-Xshareclasses:none`.

[2021-12-23 14:00] pshipton opened #14199 "Core settings wrong on aarch64 ub20"
We're now seeing this problem on aarch64 machines.
[code]

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_aarch64_linux_Nightly_testList_1/60/

@AdamBrousseau

[2021-12-23 14:08] pshipton commented on #14118
If the GC team doesn't find the test valuable, there is no point in running it as-is. I assume the point of the test is to ensure that gccheck continues to work as expected and doesn't regress due to changes in the code. We do need to do something to reduce the number of failures, since the failures occur often enough to have a small impact on nightly build triage.

Atm I don't think it's necessar

[2021-12-23 14:16] TueDissingWork commented on #14198
Seems to work great. Thank!

[2021-12-23 14:22] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/179
just like the previous comment.

[2021-12-23 14:25] pshipton commented on #13811
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_mac_Nightly_testList_0/110/
cmdLineTester_GCCheck_3 `-Xjit -Xgcpolicy:balanced -Xnocompressedrefs`
[code]

[2021-12-23 14:29] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_Nightly/64
jdk_lang_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops`

    java/lang/String/Supplementary.java.Supplementary
    java/lang/String/ToLowerCase.java.ToLowerCase
    java/lang/String/ToUpperCase.java.

[2021-12-23 14:30] pshipton commented on #14193
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly_testList_0/172/

[2021-12-23 14:31] pshipton commented on #14115
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly_testList_1/166/

[2021-12-23 14:32] pshipton commented on #13875
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/175

[2021-12-23 14:36] pshipton commented on #14193
Builds also fail on this machine, I'm disabling it for now.
https://openj9-jenkins.osuosl.org/job/Build_JDK17_ppc64_aix_Nightly/123/
[code]

[2021-12-23 14:37] pshipton commented on #14193
@jdekonin

[2021-12-23 14:40] pshipton commented on #14199
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_aarch64_linux_Nightly_testList_0/88

[2021-12-23 14:40] pshipton commented on #13983
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_Nightly/122/

[2021-12-23 14:47] #14118 closed

[2021-12-24 15:38] pshipton opened #14202 "HCRLateAttachWorkload_0 testGlobalTreeMap OutOfMemoryError: Array capacity exceeded"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_s390x_linux_Nightly_testList_1/182 - rh7-390-2
HCRLateAttachWorkload_0 `-XX:+UseCompressedOops`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_s390x_linux_Nightly_testList_1/182/system_test_output.tar.gz
[code]

[2021-12-24 15:38] pshipton commented on #14202
@dmitripivkine fyi

[2021-12-24 15:39] pshipton commented on #14202
This seems familiar but I don't find any issue which duplicates this.

[2021-12-24 15:40] pshipton commented on #14202
Seems it has nothing to do with GC.

[2021-12-24 15:41] pshipton commented on #14165
The MiniMix_aot_5m_0 failure occurs all the time so I'm not going to keep reporting the individual failures.

[2021-12-24 15:49] pshipton commented on #14115
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_0/180/

[2021-12-24 15:51] pshipton opened #14203 "aqa-tests failing to clone on aix71-p8-1"
Disabled the machine.

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_ppc64_aix_Nightly_testList_0/178/
[code]

@AdamBrousseau @jdekonin

[2021-12-24 15:52] pshipton commented on #14203
This happened many many times in the builds last night, although I just showed one example.

[2021-12-24 15:54] dmitripivkine commented on #14202
Also there is this error:
[code]

[2021-12-24 15:55] pshipton commented on #14203
Builds fail as well as tests.

https://openj9-jenkins.osuosl.org/job/Build_JDK17_ppc64_aix_Nightly/124
[code]

[2021-12-24 16:05] jdekonin commented on #14193
This is 2 problems.  For the compile problem....I manually tried compiling openssl on p8-java1-ibm03 without any apparent problems.  I am not surprised by that though since the same version of openssl compiles fine when in the [JDK8 build job](https://openj9-jenkins.osuosl.org/job/Build_JDK8_ppc64_aix_Nightly/182/consoleFull).

And as discussed via slack with @pshipton there is now the presents of

[2021-12-24 16:12] 1a2s3d4f1 opened #14204 "A problem about survivor space(Balanced gc)"
Java -version output
--------------------

[code]

Summary of problem
------------------
In this situation,balanced gc may happen long pause.
Program allocate long-live objects in launch or load stage, these objects are keeped in survivor space untill gc ran 24times.

My analysis(May include wrong):
G1GC or gencon have a logic to avoid survivor space too big. But balanced gc not limit on survivor

[2021-12-24 16:31] Mesbah-Alam commented on #14165
The failure is not seen on x64 bit Windows builds :

1) 8 : https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/182
2) 11 : https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly/181
3) 17 : https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64_windows_Nightly/124

The only place it is occurr

[2021-12-24 18:50] jdekonin commented on #14203
I sort of fixed the git issue, but then other packages updated via yum start being a problem.  This is likely because the latest yum packages are verified against the latest AIX oslevels.  I've removed the labels from the machine in the event jenkins restarts and it re-enables magically.  I don't see getting this system updated since we are suppose to be replacing with OSU AIX systems.

I think re

[2021-12-25 10:21] knn-k commented on #11164
PRs for JNILinkage:
- https://github.com/eclipse/omr/pull/6278
- #14194

[2021-12-27 01:53] knn-k commented on #14199
The same problem on cent8-aarch64-2:
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_aarch64_linux_Personal/66/

[2021-12-28 13:51] Thihup opened #14205 "JDK 18 - Crash using the Panama FFI API"
Java -version output
--------------------
openjdk 18-internal 2022-03-22
OpenJDK Runtime Environment (build 18-internal+0-adhoc.jenkins.BuildJDK18x86-64linuxNightly)
Eclipse OpenJ9 VM (build master-202f718b04f, JRE 18 Linux amd64-64-Bit Compressed References 20211223_8 (JIT enabled, AOT enabled)
OpenJ9   - 202f718b04f
OMR      - 7589ce4381b
JCL      - 4f958c12587 based on jdk-18+28)

Summary of pr

[2021-12-29 12:47] ninja- commented on #14191
Hi

Sorry the classpath is pretty complex and the main jar that triggers the bug is 3rd party obfuscated component - but without any natives inside to my knowledge.

Coredump was not captured sadly because the app is running in docker container so it's gone after crash.
I plan to update the tooling to capture coredumps and continue investigating this next week.

In the meantime, maybe it's worth d

[2021-12-29 12:53] ninja- commented on #14191
#14125

[2021-12-30 12:51] PhilWakelin opened #14206 "JVM CPU reported in the Java core is too high"
Java -version output
--------------------
java version "1.8.0_281"
Java(TM) SE Runtime Environment (build 8.0.6.26 - pmz6480sr6fp26-20210226_01(SR6 FP26))
IBM J9 VM (build 2.9, JRE 1.8.0 z/OS s390x-64-Bit Compressed References 20210216_465732 (JIT enabled, AOT enabled)
OpenJ9   - e5f4f96
OMR      - 999051a
IBM      - 358762e)
JCL - 20210108_01 based on Oracle jdk8u281-b09

Summary of problem
-----

[2021-12-30 15:31] PhilWakelin commented on #14206
@keithc-ca can you let us know if you need anymore diagnostics.

[2022-01-04 12:08] mdshadabin commented on #2797
I have downloaded kafka 3.0 source code then build binaries ,  when i run unit test i see same issue.

My env:
Gradle  7.1.1
scala 2.13
Java 1.8 ( even with 11)
[testreport.zip](https://github.com/eclipse-openj9/openj9/files/7807444/testreport.zip)

Failed tests

    SaslAuthenticatorTest. testAuthenticateCallbackHandlerMechanisms()
    SaslAuthenticatorTest. testCannotReauthenticateWithDifferentM

[2022-01-04 16:21] pshipton commented on #13347
Yes the issue is still relevant.

[2022-01-04 16:24] pshipton commented on #14206
@tajila

[2022-01-04 16:33] pshipton commented on #14205
@ChengJin01 @tajila

[2022-01-04 16:37] pshipton commented on #14165
It indicates a problem with the test. The test is trying to use a bigger object heap than is available on the 32-bit systems.

[2022-01-04 16:56] keithc-ca opened #14208 "Update to openssl 1.1.1m"
Even though 1.1.1m does not appear to include security fixes, we should probably adopt this release.

[2022-01-04 16:58] keithc-ca commented on #7633
Version 1.1.1m was released on December 14, 2021: created #14208.

[2022-01-04 17:04] keithc-ca commented on #14208
I see #14155 addressed non-Windows platforms.

[2022-01-04 17:07] pshipton commented on #14208
@AdamBrousseau

[2022-01-04 18:48] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Release_testList_0/15/
ConcurrentLoadTest_5m_0
[code]

[2022-01-04 18:49] pshipton commented on #13983
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Release/18/

[2022-01-04 19:10] pshipton commented on #14171
This was done, see https://eclipse-openj9.github.io/openj9-docs/version0.30/

[2022-01-04 19:10] #14171 closed

[2022-01-04 19:16] pshipton commented on #12190
Is this still relevant?

[2022-01-04 19:19] dsouzai commented on #12503
fyi, latest example of users confused that only the latest -Xjit option takes into effect: https://github.com/eclipse-openj9/openj9-docs/issues/873

[2022-01-04 19:20] pshipton commented on #12144
I'll close assuming fixed, and we can reopen if the problem is still seen.

[2022-01-04 19:20] #12144 closed

[2022-01-04 19:22] pshipton commented on #10597
Since we're not seeing problem in the nightly builds I'm going to assume this is fixed and close it.

[2022-01-04 19:22] #10597 closed

[2022-01-04 19:26] pshipton commented on #13756
@zl-wang fyi there may be a problem here, since the test consistently fails on a P10 machine.

@llxia can you try one of the failing tests with -Xint pls. I'm wondering if this is a just a setup issue.

[2022-01-04 19:28] ChengJin01 commented on #14205
@Thihup,

1) Please advise how to reproduce the issue you encountered with your program as it ended up with a bunch of compilation errors on my side even with OpenJDK18/Hotspot
[code]

2) The existing implementation only support primitive types.  So please don't verify any struct specific FFI APIs as we have not yet merged the code into the repo (I notice the related code in your program at https:

[2022-01-04 19:42] Thihup commented on #14205
Hi @ChengJin01!

About 1: Could you try using Maven 3.8.3? I think this error happens when using Maven 3.6.x.

About 2: Could you give me some examples of how to use only primitives? 😅

[2022-01-04 20:03] ChengJin01 commented on #14205
@Thihup,

1) Thanks for reminder. I can reproduce the crash with the latest version of Maven (3.8.4)
2) we have many test code at https://github.com/eclipse-openj9/openj9/tree/master/test/functional/Java18andUp/src/org/openj9/test/jep419/downcall for primitive types.

[2022-01-04 20:33] ChengJin01 commented on #14205
Our FFI implementation (including the downcall symbol which is allocated in native and released on our own) doesn't rely on `ResourceScope` to release the memory in `cleanup()` but the java trace above indicates the crash occurred via `cleanup()`, which has nothing to do with FFI but the code within Foreign Memory APIs.

The memories to be released via `cleanup()` were allocated in the try block o

[2022-01-04 20:37] ChengJin01 commented on #14205
@Thihup,

Please help to simplify your program for us to easily isolate the failing part if possible (e.g. only a single downcall) given it includes too many downcalls in SDL.

[2022-01-04 20:39] Thihup commented on #14205
@ChengJin01 Sure, I'll try to simplify it. Sorry about the confusion with FFI and Foreign Memory API

[2022-01-04 20:58] Thihup commented on #14205
@ChengJin01 Tried my best to simplify it, but it still requires some SDL calls.

https://github.com/Thihup/super-thiagout/tree/openj9-bug

One thing I noticed is that the error doesn't happen when I change from
[code]
to
[code]

I actually don't know the difference between them, I used the first one and it worked in Hotspot so I kept that, but maybe I have used the wrong one.

[2022-01-04 21:30] ChengJin01 commented on #14205
@Thihup,  it is hard to tell as it depends on how many code was modified/re-implemented in native by our guys working on the Foreign Memory APIs, in which case they might need to further investigate to see what happened to the the differences.

[2022-01-04 23:19] pshipton commented on #12784
@PhilWakelin is this sufficient or is MXBean support also required?

[2022-01-05 00:57] Annette0127 opened #14209 "Questions concerned with Java Modules"
Hi! I am Yirui, a student from Southern University of Science and Technology, and I'm working with professor Joshua Garcia at the University of California, Irvine. We are now doing research related to Java modules from the Java Platform Module System. While looking for existing modularized projects on GitHub, we noticed that, in your project “eclipse-openj9/openj9”, code is partially modularized,

[2022-01-05 03:07] pshipton commented on #14209
The project supports both Java 8 without modules, and also Java 11+ with modules. Basically we had all the legacy code in `debugtools` and couldn't be bothered to move it all around. It does end up in the openj9.dtfj module in Java 11+ builds. Not sure why you say the code in `java.base` is not modularized. `java.base` is one of the modules. The classes in there replace and augment classes in the

[2022-01-05 03:11] pshipton commented on #14209
In case you don't know, OpenJ9 is an alternative to Hotspot, i.e. instead of OpenJDK with Hotspot, you can have a build of OpenJDK without Hotspot but with OpenJ9 instead. https://www.eclipse.org/openj9/

[2022-01-05 04:34] Annette0127 commented on #14209
Thank you very much for your answer, it is really helpful! 😊
I am sorry about the confusion since I did not realize classes in the `java.base` folder are replacements or augmentations for `java.base` in OpenJDK.

[2022-01-05 12:33] pshipton commented on #13983
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Nightly/123/

[2022-01-05 12:40] #14209 closed

[2022-01-05 13:46] tajila commented on #8493
50 job grinder of cunccurent load test, https://openj9-jenkins.osuosl.org/job/Grinder/493/

[2022-01-05 13:46] tajila commented on #14206
@keithc-ca can you please take a look at this

[2022-01-05 14:00] tajila commented on #14115
The tempslot is NULL (`((_currentThread->tempSlot != 0))` ) in `invokevarhandle`. This is openj9 implementation.

[2022-01-05 15:11] tajila commented on #14166
The tempslot is NULL (((_currentThread->tempSlot != 0)) ) in invokevarhandle. This is openj9 implementation.

[2022-01-05 15:12] tajila commented on #14166
@babsingh can you please take a look at this

[2022-01-05 15:31] babsingh commented on #14166
Yes. I have a few existing tasks from last year. So, I will take a look at this sometime next week.

[2022-01-05 15:40] babsingh commented on #3497
@kgibm Thanks for the clarification.

The OpenJ9 build framework has evolved since the **Inspecting-Openj9-Performance-with-Perf-on-Linux** blog was written. I will revisit the blog, and update it accordingly.

[2022-01-05 15:51] tajila commented on #14115
My mistake @babsingh I didnt mean this one, I meant https://github.com/eclipse-openj9/openj9/issues/14166

[2022-01-05 15:52] tajila commented on #14190
@babsingh Can you take a look at this one

[2022-01-05 16:17] gacholio commented on #13192
@vijaysun-omr If you believe the voluntary OSR solution will perform better, then that sounds like a lot less work for the VM (most of the work will be the heapification portion). Am I correct that the VM will essentially need to do nothing new for HCR? We already report the set of changed classes/methods to the JIT, which would seem to be the place to do the invalidation of the guards. Which meth

[2022-01-05 17:28] mpirvu commented on #9961
This is the line that needs to be removed: https://github.com/eclipse-openj9/openj9/blob/master/runtime/compiler/env/J9SharedCache.cpp#L890
Attn @despresc

[2022-01-05 19:06] vijaysun-omr commented on #13192
When an HCR occurs, you would need to do one additional task that is not being done today, namely walk all the thread stacks and heapify stack allocated objects allocated in frames marked with the "I peeked and stack allocated an object" flag in the MMD. Of course these heapifications could require updating of stack slots pointing at this stack allocated object from other frames on the same thread

[2022-01-05 19:17] gacholio commented on #13192
Heapification occurs in the interpreter after decompilation, not during HCR itself.

[2022-01-05 19:23] gacholio commented on #13838
If I comment out the entire ASGCT function, the VM still crashes, so I'm a little lost.

[2022-01-05 19:31] vijaysun-omr commented on #13192
I don't think heapification in the interpreter would work in the following example (in a solution where we also don't want involuntary OSR) :
[code]
If we did not heapify before we allowed the new `goo2` to execute then `some_static_field` would point at a stack allocated object. Nothing that is done in the interpreter alone is sufficient to safeguard against this since `goo2` may get compiled at

[2022-01-05 19:37] vijaysun-omr commented on #13192
In the solution I was thinking, the object would get heapified before `goo2` implementation is replaced. This would also be the point where `foo` is invalidated and a guard that we would add after the call to `bar` is patched leading to an OSR being induced when we get back to `foo` after we return from `bar`. The patching of the guard makes it possible to optimize the uses of `obj` in `foo` after

[2022-01-05 19:55] gacholio commented on #13838
It appears the C stack is being randomly corrupted.

[2022-01-05 20:48] gacholio commented on #13192
Heapifying beforehand will involve halting all of the threads in a new exclusive VM access section due to the fact that object allocation can not take place under exclusive.

I think we'll need to do something like:
[code]
Is this what you had in mind?

In the above code, I'm adding all SA objects discovered in an O slot in a peeking frame. I think it would be easy enough to narrow that check so t

[2022-01-05 21:21] tajila opened #14211 "Deal with time changes between Snapshot and Restore environments"
Any mechanism that relies on elapsed time could potentially cause issues with Snapshot/Restore.

Using j.u.Timers or even System.getCurrentTimeMillis to compute elapsed time could be error prone with snapshot/restore as an indeterminate amount of time may elapse between snapshot and the restore environment. Also, it is possible that one may observe negative elapsed time.

1) We need to determine a

[2022-01-05 21:21] vijaysun-omr commented on #13192
Yes that is what I was thinking where `existing HCR operations` gets augmented on the JIT side to do those invalidations I mentioned in my prior comment. But your flow above captured what I had in mind from the VM perspective.

Attn : @hzongaro and @0xdaryl   Please think through this design and the examples to make sure we are not missing anything (since we appear to be converging in this discuss

[2022-01-05 21:24] tajila commented on #12487
@dmitripivkine

Is there any harm in calling `j9gc_modron_global_collect` right before a snapshot? The assumption is that this will perform a full global + compact

[2022-01-05 21:26] #14183 closed

[2022-01-05 21:28] mikezhang1234567890 commented on #14192
I upgraded my Mac to macOS 12.1 and have managed to reproduce the issue. Trying to create a system dump using any method (including simply `java -Xdump:system:events=vmstart -version` will run into the same error.

The error doesn't occur with Semeru binaries on the macOS 11.3 machines I've tried. It also does not occur when using one of the nightly builds to create a system core file.

The error

[2022-01-05 21:38] vijaysun-omr commented on #13192
Yes, I think it may be preferable to narrow that check so that only objects allocated in the frame itself are noted.

In theory it is also possible to distinguish between different stack allocated objects if they were stack allocated based on peeking different calls, i.e. redefining a particular peeked method need not result in heapification of all objects in a given frame that did the peeking. Bu

[2022-01-05 21:41] pshipton commented on #12784
You can expect the changes you previewed in 8.0.7.6 (if one is created), and later builds.

[2022-01-05 21:47] dmitripivkine commented on #12487
In one hand double call of SystemGC() guarantee addressee GC with Compaction. Also we can reuse "Idle" logic to decommit unused heap pages. From another hand I believe heap contraction and recommit operations don't reduce snapshot file size (at least at the moment)

[2022-01-06 14:02] PhilWakelin commented on #12784
I chatted with Paul Cooper, and he agreed the current API was sufficient, although the MXBean would be a neater solution but not something we require.

[2022-01-06 14:16] JasonFengJ9 opened #14215 "jdk_vector_0_FAILED jdk/incubator/vector/Long64VectorLoadStoreTests.java - Segmentation error vmState=0x00000000 - Object neither in heap nor stack-allocated in thread MainThread"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_ppc64le_linux/37/`(`ubu20le-rt1-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_vector_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER

[2022-01-06 14:29] JasonFengJ9 commented on #13981
Observed at `job/Test_openjdk17_j9_extended.openjdk_x86-64_linux/38/`(`ub20x64rt3-7`)
[code]

[2022-01-06 14:43] JasonFengJ9 commented on #13239
Observed at `job/Test_openjdk17_j9_extended.system_x86-64_mac_testList_2/43/` (`mac11x64rt02`)
[code]

[2022-01-06 18:37] pshipton commented on #14215
It seems strange to be testing a build which is released and done. We'd only care about this problem if it still occurs on the latest.

[2022-01-06 18:37] pshipton commented on #12784
I'll go ahead and close this then.

[2022-01-06 18:37] #12784 closed

[2022-01-06 19:06] pshipton opened #14218 "testSCCacheManagement_win_0 testExpiringCaches Did not get expected message about successful cache destroy"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_windows_Nightly_testList_0/126/
testSCCacheManagement_win_0
[code]
[code]

The following was merged since the last successful build, which is the likely cause. https://github.com/eclipse-openj9/openj9/pull/13925

[2022-01-06 19:28] pshipton opened #14219 "Compiling with gcc 10.3 hangs/crashes with JIT when running -version"
It's under discussion to move compilation of jdk17+ to use gcc 10.3
https://github.com/adoptium/temurin-build/issues/2787

@keithc-ca tried a manual build with 10.3 and found that the build hangs in the `Optimizing the exploded image` step. The problem can also be seen running `java -version`. However running `java -Xint -version` completes without hanging.

@AdamBrousseau @0xdaryl fyi

[2022-01-06 19:52] gacholio commented on #13192
Doing the fancier version would be significantly more complex and would provide no benefit. This work will allow more stack allocation when HCR is a possibility - if HCR is used, there's no real savings for not heapifying objects.

[2022-01-06 20:20] keithc-ca commented on #14219
Adding `-Xint` in these definitions in `spec.gmk` allows `make images` to complete.
[code]

[2022-01-06 22:29] #14218 closed

[2022-01-07 00:39] AlexeyKhrabrov commented on #9961
This line is for relocation tracing, not the JIT verbose log. The actual vlog line that this issue is about was removed a long time ago in #10971, and another similar line was removed recently in #13956.

[2022-01-07 02:11] mpirvu commented on #9961
My bad. It seems that we had two issues for the same problem and one remained open. I guess we can close this issue and the PR created for it.

[2022-01-07 02:11] #9961 closed

[2022-01-07 02:28] mpirvu commented on #13563
Attn: @cjjdespres

This is the sequence of code that prints StartTime in vlog: https://github.com/eclipse-openj9/openj9/blob/master/runtime/compiler/control/HookedByTheJit.cpp#L5859-L5866

Something similar needs to be done in https://github.com/eclipse-openj9/openj9/blob/master/runtime/compiler/runtime/Listener.cpp either in `int32_t J9THREAD_PROC listenerThreadProc(void * entryarg)` or at the be

[2022-01-07 13:34] pshipton commented on #13223
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/177
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/logging/FileHandlerAccessTest.java
[code]

[2022-01-07 13:37] JasonFengJ9 commented on #14084
Observed at an internal build `/job/Test_openjdk18_j9_sanity.openjdk_aarch64_linux_Personal/1/consoleFull`
[code]

[2022-01-07 13:45] JasonFengJ9 opened #14226 "JDK18 java/util/Properties/PropertiesStoreTest.java & StoreReproducibilityTest.java failures"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_sanity.openjdk_aarch64_linux_Personal/1/consoleFull`(`ub18-aarch64-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKE

[2022-01-07 13:47] bhonsleaditya1 commented on #13347
@pshipton Could you guide me on how to proceed?

[2022-01-07 13:52] JasonFengJ9 opened #14227 "JDK18 cmdLineTester_SystemPropertiesTest_aix FAILED"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.functional_ppc64_aix_Personal/1/tapResults/`(`paix827`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER

[2022-01-07 13:57] pshipton commented on #13983
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_Nightly/125/
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/127/

[2022-01-07 13:59] JasonFengJ9 opened #14228 "JDK18 Segmentation error vmState=0x00000000 & Illegal instruction across platforms"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.functional_ppc64_aix_Personal/1/tapResults/`(`paix827`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER

[2022-01-07 13:59] pshipton commented on #13921
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_mac_Nightly_testList_1/115
cmdLineTester_GCCheck_3

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.functional_x86-64_mac_Nightly_testList_1/115/functional_test_output.tar.gz
[code]

[2022-01-07 14:12] JasonFengJ9 commented on #14228
More segmentation error & Illegal instruction at `jdk_util_1`
[code]

[code]

[code]

[code]

[code]

[2022-01-07 14:20] JasonFengJ9 opened #14229 "JDK18 AIX jdk_foreign_1_FAILED java/foreign/channels/TestSocketChannels.java - Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.functional_ppc64_aix_Personal/1/tapResults/`(`paix827`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER

[2022-01-07 14:26] JasonFengJ9 opened #14230 "JDK18 DaaLoadTest_daa1_special_5m_FAILED Segmentation error vmState=0x00000000 - Invalid JIT return address 0000000000000010 in 0000010029ACE480"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_special.system_ppc64_aix_Personal/1/tapResults/`(`paix821`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=special.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&TKG

[2022-01-07 14:31] JasonFengJ9 commented on #14228
Also seen at JDK18 PPC64LE `job/Test_openjdk18_j9_sanity.openjdk_ppc64le_linux_Personal/1/consoleFull`
[code]

[2022-01-07 14:35] JasonFengJ9 commented on #14230
Also seen at JDK18 PPC64LE `job/Test_openjdk18_j9_sanity.openjdk_ppc64le_linux_Personal/1/consoleFull`
[code]

[code]

[2022-01-07 14:40] JasonFengJ9 opened #14231 "JDK18 LambdaLoadTest_special_J9_5m_1_FAILED Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_special.system_ppc64le_linux_Personal/1/tapResults/`(`ubu20le-rt1-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=special.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER

[2022-01-07 14:42] pshipton commented on #13347
The error is thrown from https://github.com/eclipse-openj9/openj9/blob/master/runtime/bcutil/cfreader.c#L2555

buildError() is https://github.com/eclipse-openj9/openj9/blob/master/runtime/verutil/cfrerr.c#L139

As you can see it initializes the J9CfrError struct with the error values. You can extend the J9CfrError struct to include the major/minor/max classfile version info, and create a new helpe

[2022-01-07 14:51] pshipton commented on #14229
@tajila

[2022-01-07 14:52] pshipton commented on #14228
@0xdaryl @zl-wang

[2022-01-07 14:54] pshipton commented on #14230
@0xdaryl @zl-wang

[2022-01-07 14:54] JasonFengJ9 commented on #14228
Also seen at `MauveMultiThrdLoad_5m_1_FAILED`/`MauveSingleInvocLoad_J9_5m_0_FAILED`/`TestIBMJlmRemoteMemoryAuth_1_FAILED` -`Test_openjdk18_j9_sanity.system_ppc64le_linux_Personal/1/tapResults/`
[code]

[2022-01-07 14:56] pshipton commented on #14231
@0xdaryl @zl-wang

[2022-01-07 15:02] JasonFengJ9 commented on #14229
I think this issue might be same underneath cause of https://github.com/eclipse-openj9/openj9/issues/14228.

[2022-01-07 15:02] JasonFengJ9 commented on #14230
I think this issue might be same underneath cause of #14228.

[2022-01-07 15:11] JasonFengJ9 opened #14232 "JDK18 sun/util/logging/PlatformLoggerTest.java - RuntimeException: Retrieved backing PlatformLogger level null is not the expected FINE"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_sanity.openjdk_s390x_linux_Personal/1/consoleFull`(`ub18s390xrt-1-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER

[2022-01-07 15:12] tajila commented on #14229
@JasonFengJ9 is `job/Test_openjdk18_j9_extended.functional_ppc64_aix_Personal/1/tapResults/` the correct link? I dont see any diagnostic data

[2022-01-07 15:26] JasonFengJ9 commented on #14229
My apology, it is `job/Test_openjdk18_j9_sanity.openjdk_ppc64_aix_Personal/1/consoleFull`.

[2022-01-07 15:27] JasonFengJ9 opened #14233 "JDK18 MacOS java/lang/System/MacEncoding/MacJNUEncoding.java - RuntimeException: Expected to get exit value of [0]"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_sanity.openjdk_x86-64_mac_Personal/1/consoleFull`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRA

[2022-01-07 15:31] pshipton commented on #14232
Closing as a dup of https://github.com/eclipse-openj9/openj9/issues/10759

[2022-01-07 15:31] #14232 closed

[2022-01-07 18:26] bhonsleaditya1 commented on #13347
#14236 Added PR for this

[2022-01-07 20:50] tajila opened #14237 "CRIU: Debugging restored images"
Users will need to be able to debug restored images using CRIU. There are two ways of handlign this:

Dynamic enablement of debug capabilities:
With this approach we will dynamically enable debugging capabilities for a restored image upon user request. This approach has the following challenges:
- we will need to fixup a bunch of method (all non-large stack) send targets to use `J9_BCLOOP_SEND_TAR

[2022-01-07 20:51] tajila commented on #14237
@gacholio @DanHeidinga any other thoughts on this?

[2022-01-07 22:55] JasonFengJ9 commented on #2797
Not able to reproduce the failure.

@mdshadabin is there any stacktrace or a standalone testcase available?

[2022-01-08 11:00] siyy123 opened #14239 "[Minecraft 1.12.2/ForgeModLoader] -Xshareclasses may sometimes cause the minecraft server hang when executing a stop command"
Java -version output
--------------------

IBM Semeru Runtime Open Edition (build 1.8.0_312-b07)
Eclipse OpenJ9 VM (build openj9-0.29.0, JRE 1.8.0 Windows 10 amd64-64-Bit Compressed References 20211022_236 (JIT enabled, AOT enabled)
OpenJ9   - e1e72c497
OMR      - 299b6a2d2
JCL      - 8860d39588 based on jdk8u312-b07)

Summary of problem
------------------

Running a minecraft server of version 1.

[2022-01-08 17:55] urisimchoni commented on #13838
@gacholio Can you clarify what is it exactly that you comment out? Is it something in OpenJ9 or in the sample agent? (maybe by commenting-out AGCT in openj9 you return something the agent didn't expect, or even violate the contract, and that causes stack corruption....)

[2022-01-10 11:07] janvrany opened #14240 "Enable linkage register allocation for RISC-V"
Allow linkage registers to participate in global register allocation, and provide the means to shuffle linkage registers to GRA registers.
Basically, repeat the excercise from AArch64 (#6657)

[2022-01-10 12:12] sharanpatil123 commented on #14190
@babsingh I have got an internal sev1 case with the same issue.can you please have a look at it?

[2022-01-10 12:49] pshipton commented on #14239
Does the problem still occur with the latest milestone build for the 0.30 release?

https://github.com/ibmruntimes/semeru8-binaries/releases/tag/jdk8u322-b04_openj9-0.30.0-m2

[2022-01-10 13:40] babsingh commented on #14190
Yes, I will take a look.

[2022-01-10 14:09] DanHeidinga commented on #14237
@tajila This looks like a good starting point on the different approaches.  To really flesh out all the details though, we'll need to make a table that shows the different actions taken in the debug scenario vs the non-debug scenarios so we can figure out what the differences are.

If we can also add the jvmti capabilities supported by each of the different rows in the table, that would be an idea

[2022-01-10 14:39] zl-wang commented on #13756
@midronij  please take a look

[2022-01-10 15:44] pshipton commented on #14219
vmState [0x5ff06]: {J9VMSTATE_JIT} {RegisterAssigning}

[2022-01-10 15:47] #1859 closed

[2022-01-10 16:02] babsingh commented on #14190
As per https://github.com/eclipse/omr/issues/1281, we only added support for cgroup v1 in OMR: https://github.com/eclipse/omr/pull/1310. Support for cgroup v2 is still pending. @ashu-mehra Can you point us to any resources (design docs, unmerged code, etc.) which can be used to support cgroup v2 in OMR?

[2022-01-10 16:57] pshipton commented on #14115
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Release/18

[2022-01-10 16:59] pshipton commented on #13721
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Release/17/

[2022-01-10 17:01] llxia commented on #14016
Thanks @tajila and @renfeiw for the discussion. Here are the ToDos:

- [ ] label the CRIU machine with the correct label (label name TBD - sw.tool.criu?)
- [ ] add new linux platforms (i.e., x86-64_linux_criu) in [openjdk_tests](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/openjdk_tests) (Related: https://github.com/eclipse-openj9/openj9/pull/14241)
- [ ] add new system prope

[2022-01-10 17:04] pshipton opened #14243 "ASSERTION FAILED ClassLoaderManager.cpp:396: ((false && (!markMap->isBitSet(classObject))))"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_s390x_linux_Release_testList_0/17 - ub20-390-1
ClassLoadingTest_CS_5m_0 `-Xgcpolicy:gencon -Xgc:concurrentScavenge`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.system_s390x_linux_Release_testList_0/17/system_test_output.tar.gz
[code]

FYI https://github.com/eclipse-openj9/openj9/iss

[2022-01-10 17:07] pshipton commented on #13588
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64le_linux_Release_testList_4/18
MathLoadTest_bigdecimal_special_5m_16
`-XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xcheck:gc:vmthreads:all:quiet `

https://openj9-artifactor

[2022-01-10 17:09] zl-wang commented on #14230
younes helps might-be-common issue from p side.

[2022-01-10 17:10] zl-wang commented on #14231
@IBMJimmyk please take a look

[2022-01-10 17:10] pshipton commented on #8743
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_special.system_ppc64_aix_Personal_testList_4/30
MiniMix_3h_0

[code]

[2022-01-10 17:12] #11562 closed

[2022-01-10 17:19] gacholio commented on #14237
I doubt this will work without significant effort. Also, any JIT code will need to be discarded because debug mode (FSD) code generation is completely different from the normal.

[2022-01-10 17:22] gacholio commented on #13192
If there are no worries about this design, I'll start working on the VM side.

@vijaysun-omr To test my work, I will need the JIT to obey the assertion that SA objects are only accessed via pointer with no direct access to the individual object slots. Can you either assert that this is already true, or give me a patch to make it so?

[2022-01-10 17:47] keithc-ca commented on #14206
@PhilWakelin The JVM uses `BPXnGTH` to query thread times. The results should include time running on any processor for profiling to be effective. Perhaps the queries via CICS or SDSF only include general processor time, which could explain the difference you observe.

Can you share the breakdown of CPU times for general, zAAP and zIIP processors for your test case?

[2022-01-10 17:49] pshipton commented on #10489
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_0/177 - ub18-ppcle-2
DaaLoadTest_daa2_CS_5m_0 `-Xgcpolicy:gencon -Xgc:concurrentScavenge`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_0/177/system_test_output.tar.gz
[code]

[2022-01-10 17:54] pshipton commented on #13921
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly_testList_0/167
cmdLineTester_GCCheck_3

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly_testList_0/167/functional_test_output.tar.gz
[code]

[2022-01-10 18:04] gita-omr commented on #14215
Yeah, I was wondering about the priority of this defect too.

[2022-01-10 18:26] pshipton commented on #13860
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Nightly/128 - ub20-390-1
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/logging/FileHandlerAccessTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Nightly/

[2022-01-10 18:28] pshipton commented on #14215
It's a failure in an incubator feature. I'm just going to close it as obsolete, it should be reopened if the problem is seen on a current build.

[2022-01-10 18:29] #14215 closed

[2022-01-10 18:32] JasonFengJ9 commented on #14215
The failure was observed in JDK17 CE release build which hasn't been published yet.
Agreed this is a failure in an incubator feature, not affect release exit criteria.

[2022-01-10 18:41] urisimchoni commented on #13838
Well if AGCT just returns, then the only suspicious part there is `getJNI()` which is (from a signal handler context):

[code]

[2022-01-10 18:49] ashu-mehra commented on #14190
@babsingh I didn't get any chance to explore cgroup v2 mechanism. I did create an [issue](https://github.com/eclipse-openj9/openj9/issues/6811) for it but due to time constraint it never got worked on. The best resource I can refer to would be the [man page for cgroups](https://man7.org/linux/man-pages/man7/cgroups.7.html) which has description for both versions and take it from there.

[2022-01-10 19:03] gacholio commented on #13838
That may be it (and it's unnecessary as AGCT tells you the JNI context if there is one). I would suggest removing it.

[2022-01-10 19:16] keithc-ca opened #14244 "Simplify Thread.getAllStackTraces()"
The initial capacity of the `HashMap` created by `Thread.getAllStackTraces()` should just be `count` instead of `count * 4 / 3` (which has the potential to overflow).

[2022-01-10 19:17] keithc-ca commented on #14244
See the discussion here: https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/387#discussion_r781379829

[2022-01-10 20:09] gacholio commented on #13838
I don't see any obvious reason why this would cause corruption, but in general it's not safe to use these APIs from signal handlers.

[2022-01-10 20:33] dmitripivkine commented on #14243
The reason for assertion is: `!j9classloader 0x000003FEDC13DE98` has classloader `!j9object 0x0000000023A019D8` not been marked:
[code]
however both it's classes have class objects marked:
[code]
It means `!j9classloader 0x000003FEDC13DE98` has not been discovered during live classliaders search in Marking phase

[2022-01-10 20:38] keithc-ca commented on #14206
I'll also note that OpenJ9 computes the sum of the `PgthJTTime` values for all threads known to the JVM. Those values are in millisecond units so it's possible that truncation or rounding errors affect that sum which is expressed in nanoseconds, but I would not expect those errors to accumulate to anything close to a 15% overstatement.

[2022-01-10 20:39] vijaysun-omr commented on #13192
I believe @0xdaryl had a patch at one point to prevent direct access to individual slots within the object. So he will try to locate that.

@hzongaro and @0xdaryl may not have internalized the discussion but I expect they will, likely by later this week. I doubt we would change course dramatically though, so I personally feel you can start on the VM side but keep an eye on the design from comments

[2022-01-10 21:13] mpirvu opened #14246 "Create -Xtune:throughput option to favor throughput improvements"
This option would give users an easy way to tune the OpenJ9 JVM towards better throughput scores, possibly at the expense of other performance metrics like footprint, start-up time or ramp-up time.

Some of the changes that could be done under the covers include:
1. Set the initial Java heap size (-Xms) to the maximum value (-Xmx)
2. Make inliner more aggressive with -`Xjit:enableAggressiveInlinin

[2022-01-10 21:15] mpirvu commented on #14246
@vijaysun-omr  if you have other ideas on how throughput can be improved through tuning.

[2022-01-10 22:09] vijaysun-omr commented on #14246
I do feel that some way to "encourage" recompilations may need to be built into this option, i.e. if not `-Xjit:scorchingSampleThreshold=3000` then we still need something else, e.g. maybe some reduction in the `sampleInterval` ?
Note that sometimes throughput depends on how quickly we ramp up for short running applications and so we cannot go overboard with recompilations either.

[2022-01-10 22:27] ymanton commented on #14230
Looking at a core from one of the jobs, I see the trail ends here where we've taken an indirect branch to `0x10000` and crashed.

[code]

This looks like a virtual call to an unresolved method (not sure why the bytecode is `invokeinterface`), but the `crmove` and `lwa` instructions look wrong because we certainly don't generate those for this sequence. The above code is generated from here: https:

[2022-01-10 22:44] vijaysun-omr commented on #14246
You may know the history of the -Xnoquickstart logic and whether there is anything from it to be borrowed for -Xtune:throughput. Having said that, I am interested in getting something delivered soon with the excellent list you had to start with as the basis for it. So I don't really want to hold up that initial and likely most impactful delivery to pick up every oiece of logic we want to include.

[2022-01-10 22:47] JasonFengJ9 commented on #13817
Observed at JDK17 head build - `job/Test_openjdk17_j9_extended.openjdk_aarch64_linux/39/`(`fuji`)
[code]

[2022-01-10 23:26] #14244 closed

[2022-01-10 23:28] JasonFengJ9 commented on #13756
Observed at JDK11 x86-64 `job/Test_openjdk11_j9_extended.openjdk_x86-64_linux/48/`(`ub20x64rt4-8`)
[code]

[2022-01-11 00:14] mpirvu commented on #14246
`-Xnoquickstart` is no longer used and it had a different motivation: since Testarossa didn't have DLT at that time, it was a hack to boost performance for benchmarks that have the most important method called just once. Under the hood, `-Xnoquickstart` enabled `count=0` for loopy methods.

[2022-01-11 00:23] pshipton commented on #14199
Apparently this was fixed, and I didn't see any failures in the past weekend builds.

[2022-01-11 00:23] #14199 closed

[2022-01-11 05:09] AdamBrousseau commented on #14199
infrastructure/issues/6365

[2022-01-11 07:16] mdshadabin commented on #2797
Hi @JasonFengJ9

 I have downloaded kafka 3.0 source code (from https://kafka.apache.org/downloads ) and build binaries (following https://github.com/apache/kafka) and run unit test.

I always get 99% success and 1% failure.

Below is link to access : build log, unit test log and unit test report.
https://drive.google.com/drive/folders/1lMUgETBNUS6ncEkfD5SU4E3JbqR8wHD4?usp=sharing

Note: please do

[2022-01-11 09:30] siyy123 commented on #14239
No, it seems that the problem is solved in 0.30.0.

[2022-01-11 13:18] pshipton commented on #14115
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_aarch64_linux_Nightly_testList_1/66

[2022-01-11 13:22] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly_testList_1/172
TestJlmRemoteClassNoAuth_0

[code]

[2022-01-11 13:26] pshipton commented on #13983
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Nightly/128/

[2022-01-11 13:27] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_mac_OMR_testList_1/31

[2022-01-11 13:37] pshipton commented on #14239
Thanks, I'll go ahead and close as resolved in the next release.

[2022-01-11 13:37] #14239 closed

[2022-01-11 14:17] pshipton commented on #9990
@keithc-ca does anything need to be done for the jdk18 release or can we move this forward?

[2022-01-11 14:24] pshipton commented on #7352
@fengxue-IS @babsingh @tajila since we shipped jdk17 with OpenJDK MH enbabled, it seems this should be closed. Is this still tracking anything we need to track, are we keeping it open until all versions have OpenJDK MH enabled? I'd like to at least move it forward to 0.32 unless there is something here that has to be completed for jdk18. If there is, perhaps a more specific issue is better.

[2022-01-11 14:41] tajila commented on #7352
We can make separate issues to track JDK11 and 8

[2022-01-11 14:41] #7352 closed

[2022-01-11 14:43] keithc-ca commented on #9990
`ASM8` is still the latest version in jdknext: this can be moved forward.

[2022-01-11 14:58] dmitripivkine commented on #14243
I have a theory, I think the Write Barrier is missed somewhere (most likely in native VM C code) where class object is updated with reference to classloader object:
- class objects are created with NULL at classloader reference (we know it is possible, GC does NULL check for 'classLoader` field)
- class objects are discovered by Concurrent Mark (and marked)
- classloader object is created
- class

[2022-01-11 15:19] midronij commented on #13756
@pshipton the failing tests seem to fail in the same way when run with `-Xint` (https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/20156/console). Could be a setup issue?

[2022-01-11 15:39] DanHeidinga commented on #13477
@0xdaryl are you ok with moving this out of 0.30 given the issue still occurs post fix?

[2022-01-11 15:42] DanHeidinga commented on #14115
@0xdaryl can you update this with the current state for the 0.30 release?  We have about a week till the release date

[2022-01-11 15:43] DanHeidinga commented on #13504
@0xdaryl can you update this with the current state for the 0.30 release?  We have about a week till the release date

[2022-01-11 15:46] DanHeidinga commented on #13983
@a7ehuo is there an update on this issue?  It's currently a blocker for the 0.30 release in about a week

[2022-01-11 15:47] DanHeidinga commented on #14037
@tajila can you follow up on getting the core for this?  Without it, we can't address this for 0.30

[2022-01-11 15:48] DanHeidinga commented on #14054
@0xdaryl can you update this for the 0.30 release?

[2022-01-11 15:50] DanHeidinga commented on #14191
@ninja- are you able to provide a core file?  Unless we have more info, we won't be able to address this for the next release

[2022-01-11 15:52] DanHeidinga commented on #14192
@mikezhang1234567890 can you provide an update on this for the 0.30 release?

[2022-01-11 15:56] DanHeidinga commented on #14190
@babsingh can you make a clear statement about the workaround?

[2022-01-11 15:59] DanHeidinga commented on #13921
@tajila to get this assigned out

[2022-01-11 16:03] tajila commented on #13921
@mikezhang1234567890 can you take a look at this as well, related to the core file generation on mac

[2022-01-11 16:05] tajila commented on #14037
@c-koell Any luck getting the system core?

[2022-01-11 16:14] mikezhang1234567890 commented on #14192
I'm still investigating why this issue only occurs with a signed application on macOS 12.

[2022-01-11 16:14] babsingh commented on #14190
- cgroup v2 is enabled in Docker engine 20.10; previously, cgroup v1 was used: https://docs.docker.com/engine/release-notes/:
- Workaround to temporarily switch Docker back to cgroup v1: https://github.com/docker/for-mac/issues/6118#issuecomment-1006651769.
- The desirable solution is to add cgroup v2 support in OpenJ9/OMR. Work on this has begun. I will provide more details soon.

[2022-01-11 16:15] mikezhang1234567890 commented on #13921
Yes, also looking into this.

[2022-01-11 16:18] a7ehuo commented on #13983
Sorry for the delay. I was off last week. I'll update as soon as I find out more

[2022-01-11 17:58] pshipton commented on #13965
Guessing this is a test problem.

[2022-01-11 18:01] tajila opened #14248 "CRIU: Fix compilation failures on JDK8"
--enable-criu-support on JDK8 does not compile

[2022-01-11 18:04] ymanton commented on #14230
@zlwang let me know that the `crmove` is fine, it's a form of no-op, but the `lwa` still isn't. The opcode for `lwa` is fairly close to the expected `ld` instruction, only differing by one bit in the least significant two bits (`ld -> 0b...00` vs `lwa -> 0b...10`). The `-0x54c` that we see is out of range, the class vtable is only 800 bytes long, so it looks like the resolving process went wrong s

[2022-01-11 18:31] hzongaro commented on #13477
I'm just rerunning in grinder to understand whether it's still hanging in the same place or elsewhere now.

[2022-01-11 18:32] ymanton commented on #14230
Just noticed that the method being executed is an AOT method, which complicates matters.

[2022-01-11 19:02] zl-wang commented on #14230
your instruction bytes are shown in BE order ... confusing me for a little while.
yes, crmov nop is indeed the patched value for unresolved virtual call, if the offset is with 16-bit.  so, that looks fine and from the right path in the past.
the lwa is an intended ld.  only because the offset is wrong and unaligned (not divisible by 8 in this case), it becomes lwa.
wondering if the wrong offset is

[2022-01-11 19:20] 0xdaryl commented on #14115
On x86 Linux I'm seeing a failure rate of 1/50 (2 NPEs out of 100 runs).  I'm trying to get failure artifacts now, and also verifying whether the fix is somehow being subverted or whether this is a different problem altogether.

The AArch64 failures referenced above is actually a crash during GVP, albeit in the same test.  It isn't clear whether (or how) this is related to the original problem.

[2022-01-11 20:29] dmitripivkine commented on #14243
There is an example of class object - there are a few slots updated after this object has been marked and scanned by GC (`classLoader`, `module`, `protectionDomain`, `initializationLock`):
[code]

So I see two possibilities here:
- class object was introduced to Concurrent Mark GC (marked and scanned) and these slots were updated without Write Barrier call (VM seems uses `J9VMJAVALANGCLASS_SET_CLA

[2022-01-11 22:39] tajila commented on #12490
@JasonFengJ9 Can you look at this next?

We need to reseed all the j.u.Random instances. Random has a `AtomicLong` "seed" which contains the seed value, `random->seed->value`.

The new seed value needs to be based on something on something unique about the process, that way if we restore N JVMs they will all have different seeds. Perhaps you can reseed them based on the CPU nanosecond clock.

Befo

[2022-01-11 22:41] tajila opened #14251 "CRIU: Implement internal hooks mechanism"
We will need an internal hooking mechanism, similar to the Java one `J9InternalCheckpointHookAPI`.
You dont need to worry about priority for this, we will just use explicit ordering.

Here is the kind of API we need
[code]

The hooks will be run in criuhelpers.cpp. Internal checkpoint hooks should be run last (after java hooks), restore hooks first
 (before java hooks).

The object instances can b

[2022-01-11 22:41] tajila commented on #12490
This issue depends on https://github.com/eclipse-openj9/openj9/issues/14251

[2022-01-11 22:58] tajila opened #14253 "CRIU portability with different versions of glibc"
CRIU image may not be portable due to glibc using newer features even if the jvm restricts itself to an older set of features.

Creating an image  with an older glibc might help if it doesn't have updated versions for those features (ie: avx) but there are techniques which allows intercepting the cpuid instruction to control the selected feature set which should more broadly cover x86 software, ht

[2022-01-12 00:33] hzongaro commented on #13477
I haven't reproduced the suspected hang, but I'm guessing that it likely involves compilation of `net/openj9/test/decimals/TestDecimalData2.testConvertBigDecimalNormals()V` again.  It's a very large method that grows extremely bloated with inlining lots of `BigDecimal` operations.

Here's some verbose log output.  Note the compilation time of 132980487us.

[code]

I'll try to see whether the probl

[2022-01-12 08:36] knn-k commented on #14115
The SEGV on AArch64 in https://github.com/eclipse-openj9/openj9/issues/14115#issuecomment-1009956805 seems to have occurred in the following location, where `javaLangClass` in x21 is 0x100000, and the result of `offsetOfObjectVftField()` in x0 is 0:
https://github.com/eclipse-openj9/openj9/blob/684717766630da76ef64c0fedb269e3965900ede/runtime/compiler/env/VMJ9.cpp#L8391

[2022-01-12 12:13] snehaljos commented on #13347
Hi, am interested in this issue, @bhonsleaditya1  do you need any help? or can I try?

[2022-01-12 12:15] snehaljos commented on #6525
Hi am interested in this issue can I work on it?

[2022-01-12 12:56] 0xdaryl commented on #14115
I ran the failing test overnight with -Xdump options and saw two failures that produced NPEs.  Unfortunately, there is an issue with core file generation such that cores weren't produced, but javacores were.  I'm looking into how to fix the core file generation.

[2022-01-12 14:42] #5972 closed

[2022-01-12 14:43] cjjdespres commented on #13563
It looks like the start time is only set after the listener thread spawns, I think when the statistics thread starts?

https://github.com/eclipse-openj9/openj9/blob/master/runtime/compiler/runtime/JITServerStatisticsThread.cpp#L83

I could move that so it gets set in `startJITServer`, or in `listenerThreadProc`, which seems like a reasonable place to record the start time of the server.

----

Can

[2022-01-12 15:07] pshipton commented on #6525
I'm not sure how much help is available to get you started, but you are free to take a shot and we will review.

[2022-01-12 15:22] tajila commented on #14243
This only happens if the classloader of the class is the bootstrapclassloader

[2022-01-12 15:22] tajila commented on #14243
Ill see if this is reproduceable to verify the comment above.

https://openj9-jenkins.osuosl.org/job/Grinder/508/

[2022-01-12 15:32] #14248 closed

[2022-01-12 15:41] dmitripivkine commented on #14243
I am not sure it is reproducible easily, previous failure occur July 27, 2020 (on ARM). I still have core file from the first failure. Please let me know if you need it.
The pattern as I imagine it now is class object has been marked concurrently (it might happen very early in Concurrent Mark as fas as thread paying tax starts with scan of it's own stack and class object is pushed there) but after

[2022-01-12 15:47] mpirvu commented on #14246
@vijaysun-omr I wonder about the interaction between `-Xaggressive` and `-Xtune:throughput`. We could alias them, but based on the public description of `-Xaggressive` ("Enables performance optimizations and new platform exploitation that are expected to be the default in future releases."), I would keep the two options independent. For now, they don't clash with each other.

On the other hand, `-

[2022-01-12 16:13] PhilWakelin commented on #14206
@keithc-ca on this system I have configured 10 CPs and 0 speciality processors, so results should not be affected by any speciality processors. You can see this in the attached cores:

I could run some further tests with zIIPs enabled to see how this affects the outcome, let me know if this would be useful.

[2022-01-12 16:20] gacholio commented on #13838
Actually, GetEnv can result in records being put in the trace buffer, so calling it definitely has the potential for corruption. AGCT already performs the attached thread check and returns the current JNIEnv in the output buffer.

[2022-01-12 16:24] PhilWakelin commented on #14206
The CICS dispatcher stats report the MVS CPU time using ASCBEJST see https://www.ibm.com/docs/en/cics-ts/5.6?topic=statistics-dispatcher-domain-mvs-tcb and afaik is the same method as used by SDSF and RMF see https://www.ibm.com/docs/en/zos/2.3.0?topic=jobs-cpu-usage-information

[2022-01-12 16:40] mpirvu commented on #13563
The listener thread is started very early during JITServer initialization and immediately goes to execute `listenerThreadProc`. Thus, it doesn't matter much where exactly you read the start time (a millisecond less or more doesn't make much of a difference)

[2022-01-12 16:43] vijaysun-omr commented on #14246
I agree with respect to keeping -Xaggressive and -Xtune:throughput different since the latter is really more about changing the heuristics that we have internally to advantage one metric (throughput) over others, whereas the former is what you mentioned about new features expected to become default in the future.

Regarding your question about conflicting behavior between -Xquickstart and -Xtune:t

[2022-01-12 16:43] mpirvu commented on #13563
I haven't looked in detail, but the indicated code looks more than just a few lines. In this case, rather than copying it, it would be better to create a portlib function that is called in both places.

[2022-01-12 16:57] mpirvu commented on #13563
Factoring out the code for the time zone may take a bit of time. Hence, you can split the implementation in 3 parts: first deliver one PR with just the date/time; then, create a routine (in OMR) which computes the timezone; Finally, use the new routine in javadump.cpp and in JITServer code.

[2022-01-12 17:11] vijaysun-omr commented on #14246
Okay, but where would this stop ? Will we also do conflict resolution between -Xtune:virtualized and -Xtune:throughput ? What about sub-options ? I mean, what if a user specified dontDowngradeToCold and -Xquickstart at the same time ?

One position is that we will process the command line left to right and set whatever internal flags are implied by the options being processed in that order (if the

[2022-01-12 17:36] keithc-ca opened #14260 "Problems with error handling in Thread.start()"
As discussed in https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/387, some errors can leave a thread included in its thread group when it should not be.

[2022-01-12 17:47] tajila opened #14261 "ValueTypes: Weak references behaviour for value classes"
The proposed behaviour for weak references on Value/Primitive (indentity-less) classes is the following:

[code]

[2022-01-12 17:49] tajila opened #14262 "ValueTypes: Rename defaultValue to aconst_init"
Rename defaultValue bytecode to aconst_init

[2022-01-12 18:15] midronij commented on #13756
@pshipton with `-Xint` the same tests fail, but the error message is different:
[code]
(full console output here: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/20163/consoleFull)

[2022-01-12 18:22] keithc-ca opened #14264 "Use YAML issue templates"
Expressing issue templates in YAML instead of markdown can provide a better experience for our users.

[2022-01-12 19:12] bhonsleaditya1 commented on #13347
Hi @snehaljos I am planning to take this again on this weekend. Will update after that.

[2022-01-12 19:14] dmitripivkine commented on #14261
I am trying to understand what it means...
- If `WeakReference->referent` points to value object that contain no references should never be cleared (regardless is this value object strongly reachable or not)
- I assume if `value object that contain references to identity objects` is strongly referenced itself it's children are strongly referenced too - no need for extra check and Weak Reference sh

[2022-01-12 19:30] pshipton commented on #13756
I don't know anything about these tests, but if they are passing on the regular plinux machines, failing on the P10 machine, and they still fail with -Xint, it seems likely to be a machine setup issue.

[2022-01-12 19:35] cjjdespres commented on #13563
The original time zone code seems to output the text to a stream as it goes. Could the new function live in `port/common/omrstr.c` in OMR and instead write the text it currently outputs to a supplied buffer like the other functions in that file?

[2022-01-12 19:39] 0xdaryl commented on #13477
@DanHeidinga @pshipton : The original problem reported by this issue was investigated and a fix for that issue produced in #13885.  It seems this is a second problem related to that pathologically large method.  More than 2 minutes for a compilation is already highly abnormal, whether it causes the process to appear to hang or not, and this needs further study.      We are not sure which phase(s)

[2022-01-12 19:46] pshipton commented on #13477
Thanks, moving to 0.32.

[2022-01-12 20:54] keithc-ca commented on #14219
I think a root cause is the definition of `RegisterDependencyGroup`. It defines an array of 1 `RegisterDependency`, but allocates space for more in the `new` operator.

The optimizer in gcc-10 seems to prioritize the declared array size over `numberOfRegisters` provided in several methods. In particular, it appears that the `for` loops in places like `unblockRegisters()` it doesn't even increment

[2022-01-12 20:55] llxia commented on #14079
adoptium/temurin-build#248 is about lacking openjdk test image for JDK11+. This test image issue was closed in Sep 2019, so ideally all exclusions that are due to adoptium/temurin-build#248 should be reenabled. I guess we forget to reenable them? @sophia-guo could you please confirm?

[2022-01-12 21:05] mpirvu commented on #13563
Yes, that's exactly what I was thinking of.

[2022-01-12 21:05] tajila opened #14265 "CRIU: rootless checkpoint and restore"
Requirements:
- Install rootless criu patch
- Criu dump in unprivileged mode
This is only possible via commandline option

So we need to patch criu to enable it via the API
- add a function to do the same to the criu C api and add a line to J9 to call it
- make another change to the criu to set the dumpable process control flag on itself when called via the C api

[2022-01-12 21:06] tajila commented on #14265
@ymanton can you please provide a link to your CRIU and J9 commits

[2022-01-12 21:30] #13965 closed

[2022-01-12 21:37] mpirvu commented on #14246
In my current prototype I choose between `-Xtune:virtualized` and `-Xtune:throughput` based on which option appears last on the command line. This is going to be documented since it's a public/supported option. I have to choose between the two because they have antagonistic effects: `-Xtune:virtualized` uses less memory and less CPU than the default config, at the expense of a small throughput los

[2022-01-12 21:41] tajila commented on #14253
@ashu-mehra Can you please describe the sample application you ran to demonstrate this issue?

[2022-01-12 21:56] 0xdaryl commented on #14054
JIT hasn't had a chance to look at the failure yet.  Thanks @Sidong-Wei for your thorough investigation upon opening the PR.  Given the apparent Z-specific nature of the problem, I'll ask @joransiu to assign for JIT investigation based on @ChengJin01's helpful analysis so far.

This seems unlikely to be resolved for 0.30.

[2022-01-12 22:22] sophia-guo commented on #14079
Yes, tests excluded by issue https://github.com/adoptium/temurin-build/issues/248 should be re-enabled as testImage is available and corresponding option -nativepath has also been added.

@babsingh Originally `java/lang/reflect/exeCallerAccessTest/CallerAccessTest.java` was excluded because testImage was not created and -nativepath option couldn't be added . The error `java.lang.Error: TESTBUG: un

[2022-01-12 22:22] a7ehuo commented on #13983
Still under investigation. No new findings yet.

[2022-01-12 23:06] vijaysun-omr commented on #14246
Restricting conflict resolution to publicly supported options makes sense to me. I am fine with obeying the "last one wins" rule rather than get fancier.

In terms of `-Xquickstart` though, if it gets mapped to `-Xtune:startup` won't we then have a separate rule for `-Xtune:startup` compared to all the other `-Xtune` options ? Is it possible to drop the special rule for `-Xquickstart` and `-Xtune:

[2022-01-12 23:17] MichaelNesterenko opened #14266 "JVM does not detect that it runs in container and does not use container resource quotas"
For some reason jvm does not detect container context and uses host resource quotas

Test command:

[code]
Excerpt from the output:
[code]
Full log output:
[jvm-log.txt](https://github.com/eclipse-openj9/openj9/files/7858553/jvm-log.txt)

[2022-01-12 23:34] keithc-ca commented on #14219
With the changes in https://github.com/keithc-ca/omr/tree/gcc10, jdk17 builds with gcc-10 on P, X and Z.

[2022-01-13 00:30] pshipton commented on #14266
Perhaps related to https://github.com/eclipse-openj9/openj9/issues/14190#issuecomment-1010122701

[2022-01-13 00:37] pshipton commented on #14054
I'll move it out.

[2022-01-13 04:04] snehaljos commented on #13347
oh okk

[2022-01-13 05:57] c-koell commented on #14037
Hi @tajila

As we had the problems only in our production state it is not so easy to get a system core.
We will try to get one next week ...

[2022-01-13 07:38] mayurstwt commented on #13347
Hey maintainer i would like to work on this issue will you please provide me some resources

[2022-01-13 12:30] 0xdaryl commented on #14115
It took several hundred runs overnight, but I have a corefile produced on the NPE.  Hopefully it will be useable.

[2022-01-13 13:59] pshipton opened #14268 "Install gcc 10.3 on all Linux build machines for jdk18+"
As per https://github.com/adoptium/temurin-build/pull/2824, jdk18+ will use gcc 10.3 to compile. We need gcc 10.3 available on all the build machines, in addition to 7.5, so we can switch in the near future once https://github.com/eclipse-openj9/openj9/issues/14219 is resolved.

@AdamBrousseau

[2022-01-13 14:06] pshipton commented on #14037
Moving out to the next release.

[2022-01-13 14:17] tajila opened #14269 "Crash compiling jdk18 tests"
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_s390x_linux_vt_standard_Personal_testList_1/5/consoleFull

[code]

The crash happens with the VT tests, but I dont think its related to VT code

[2022-01-13 14:37] pshipton commented on #14268
Yes, but we still want to move when the problems are fixed, and remove the exception.

[2022-01-13 15:52] pshipton commented on #14115
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly_testList_0/179/
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_0/173/

[2022-01-13 15:56] pshipton opened #14271 "SyntheticGCWorkload_concurrentSlackAuto_100k_J9_0 Java heap space: allocation failed"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly_testList_1/173 - cent6-x64-2
SyntheticGCWorkload_concurrentSlackAuto_100k_J9_0 `-Xmx1g -Xms1g -Xdump:none -Xgcpolicy:gencon -Xnocompactgc -Xgcthreads16 -Xgc:tenureBytesDeviationBoost=0 -Xgc:concurrentKickoffTenuringHeadroom=0`

[code]

@dmitripivkine

[2022-01-13 16:14] tajila commented on #12785
@mikezhang1234567890 An alternative approach is to create a new JVM_getDefaultNativeStackSize() in jvm.c. Then update the launcher code (in java.c) to call this function when creating the main java thread.

`JVM_getDefaultNativeStackSize` will simply return `J9_OS_STACK_SIZE`

[2022-01-13 17:07] #13588 closed

[2022-01-13 17:31] 0xdaryl commented on #13504
I've been trying to unpack this issue as there seem to be multiple problems woven together in the discussion above.

It seems the latter part of the analysis focuses on the HCRLateAttachWorkload_previewEnabled_1_FAILED where the crash does not originate from the JIT runtime as that is covered in issues elsewhere.

After that point, however, there seem to be at least two failures discussed: one wit

[2022-01-13 18:03] dmitripivkine commented on #14271
<img width="875" alt="Screen Shot 2022-01-13 at 12 56 52 PM" src="https://user-images.githubusercontent.com/18148831/149384629-276161f8-d774-453e-bfc4-217887afee69.png">

[2022-01-13 19:04] pshipton commented on #13504
The failure is not occurring with a blocking failure rate, this is not a new problem, moving forward.

[2022-01-13 19:05] pshipton commented on #13504
@babsingh can you pls answer about the -Xint failure, and create another issue if necessary.

[2022-01-13 19:16] babsingh commented on #13504
During that time, we had identified an issue with the test framework where the JVM options specified in the Grinder were being ignored. In https://github.com/eclipse-openj9/openj9/issues/13504#issuecomment-963226937, I cannot guarantee if `-Xint` was correctly applied while running the test. In later Grinder runs https://github.com/eclipse-openj9/openj9/issues/13504#issuecomment-973144057, where `

[2022-01-13 19:34] #14091 closed

[2022-01-13 20:43] ymanton commented on #14230
Instruction bytes in BE order is a KCA bug that I mentioned to @klangman, it confused me for a while too.

The bad virtual call has the following snippet:

[code]

The address of the CP entry is `0x00003fff848f39e0` and the contents are:

[code]

The value in the method field is not a J9Method, instead it's a J9Class.

[code]

Not sure if that's OK or not, but the class is `j/l/Appendable` which i

[2022-01-13 21:09] klangman commented on #14230
This was done on purpose to follow the example set of others when disassembling for PPC LE. I would be happy to change it to show BE style on LE if that is what people are expecting to see.

[2022-01-13 22:02] 0xdaryl commented on #13504
OK.  The reason I asked about -Xint was because the comment about -Xint referenced above was made about a week after the discovery of the problems with -Xint being passed through the test harness.  I assumed (and it wasn't made clear unless I missed it) that by that time we would not still be analyzing data collected with the mistakenly interpreted runs and still referring to it as "-Xint" data.

[2022-01-13 22:44] pshipton commented on #14079
@babsingh are you able to remove labels? The "test excluded" label should be removed now that it's not excluded any more.

[2022-01-13 23:21] a7ehuo commented on #13983
Doing binary search on the commits, continuing to narrow it down:

**FAIL**
[code]

**PASS**
[code]

OpenJ9: https://github.com/eclipse-openj9/openj9/compare/1c72aaf50233aa16ca61248359d74d996b356f4b...b16777a85c8769a650d341f218f8e72fa96d9a76
OMR: https://github.com/eclipse-openj9/openj9-omr/compare/f76321aa3ba1e85e71bd57c8c22b5d6cf427b4f5...83214375c039f93b7801f367c34e085d6b2f35ea

[2022-01-14 05:12] babsingh commented on #14079
Yes. The `test excluded` label has been removed.

[2022-01-14 12:26] a7ehuo commented on #13983
I narrowed the failure down to https://github.com/eclipse-openj9/openj9/pull/12657. The failure also goes away by commenting out the following line that enables the support for inlining StringLatin1.inflate in codegen:
https://github.com/eclipse-openj9/openj9/blob/3f123a16aa4b9444adb0a7e36661fcb0f1488b1a/runtime/compiler/x/codegen/J9CodeGenerator.cpp#L78

`java/lang/StringLatin1.inflate` is called

[2022-01-14 13:40] mpirvu commented on #14246
I looked at the throughput of DT7 when -Xtune:throughput is specified and it doesn't look good. The problem is excruciating large rampup due to extremely high CPU overhead (caused by compilation of course). After a full hour, the throughput is still half what it needs to be and the amount of CPU spent compiling is 1.8 hours (4P run, so we can compile on several threads).

I added options one by on

[2022-01-14 13:51] vijaysun-omr commented on #14246
Interesting, but can we detect "a large app" as we have tried to do in the past and dial down aspects that we don't believe are appropriate ?

Are you able to reason about why we seem to have cold compilations despite setting initial opt level to warm ?

[2022-01-14 13:58] mpirvu commented on #14246
We already have a knob for "largeApp" based on the number of classes loaded, so I'll exploit that.
The cold compilations are compilations that failed at warm.

[2022-01-14 14:01] mpirvu commented on #14246
One problem with the large app detection is that's a binary decision. I remember that a while ago we had a SOABench regression which was caused (indirectly) by a new of version of WAS that was loading a few extra classes, just enough to make the transition from a small app to a large app.

[2022-01-14 15:45] tajila opened #14280 "Question: Array shape constants are confusing?"
The usuage of Long and Double in array shape differs from the normal usage in the JVM.

[code]

Should these be renamed to be more consistent?

[2022-01-14 15:46] tajila commented on #14280
@gacholio thoughts?

[2022-01-14 16:01] vijaysun-omr commented on #14246
How would the DT7 run perform without enableAggressiveInlining ? If it is largely down to that one option, we know that option itself maps to several sub options underneath and we can add it to -Xtune:throughput later once we have tuned it better but go ahead with the rest of your PR for now if the performance looks reasonable.

[2022-01-14 16:08] tajila opened #14281 "CRIU: Failure restoring JVM with nonportable mode"
When running with `-XX:+CRIURestoreNonPortableMode` the JVM fails to restore the image.

[code]

[2022-01-14 16:08] tajila commented on #14281
@dsouzai can you please take a look?

[2022-01-14 16:31] ymanton commented on #14230
Because we've gone down the virtual call path the CP entry is expected to have the shape

[code]

however since the original bytecode is an `invokeinterface` it's possible that the entry is

[code]

which would explain why we have the `Appendable` J9Class where a J9Method should be, but it still doesn't explain the bad VFT offset. I'm leaning towards this being caused by a stale or incompatible cl

[2022-01-14 16:45] ymanton commented on #14230
Actually maybe I spoke too soon. The CP entry is wrong if we call `jitResolveVirtualMethod` but it might be OK if we call `jitResolveInterfaceMethod` because it looks like the `methodIndexAndArgCount` field is treated differently there. The method being called is `Appendable.toString`, where `Appendable` is an interface class, but `toString` is not an interface method. I'm not really clear on how

[2022-01-14 16:45] dsouzai commented on #14281
I'm guessing that `-XX:+CRIURestoreNonPortableMode` wasn't specified on the checkpoint run right? If so then the problem is probably that we're not initializing the old mechanism for detecting the cpu; the old mechanism isn't used (in Openj9) but I guess there's still all these asserts in place to ensure the old mechanism and the portlib are consistent.

Could you try:
[code]
and see if that helps

[2022-01-14 16:52] babsingh commented on #13504
It actually took a few iterations with different approaches to correctly pass the JVM arguments to the test through the Grinder. I realized after https://github.com/eclipse-openj9/openj9/issues/13504#issuecomment-963226937 was posted that the JVM options were not passed correctly to those Grinders. One of the reasons why the `-Xint` grinder was rerun: https://github.com/eclipse-openj9/openj9/issue

[2022-01-14 16:56] zl-wang commented on #14230
since toString() is not an interface method, the intention looks like being a virtual call to the interface implementer class. the virtual call resolver should handle this scenario gracefully.

[2022-01-14 17:06] mikezhang1234567890 commented on #12785
Created https://github.com/eclipse-openj9/openj9/pull/14282 and https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/57

[2022-01-14 17:12] mpirvu commented on #14246
Without `enableAggressiveInlining` performance of DT7 looks reasonable.
I am determining which option under enableAggressiveInlining produces the most damage and it appears to be `enableInliningDuringVPAtWarm`. Without it, the throughput is sort of OK, though obviously there is an increase in CPU (more than 2X) from the other inliner changes. For some reason, If I reduce `maxSizeForVPInliningAtWar

[2022-01-14 17:16] ymanton commented on #14230
OK, does the following explain the mystery? The compiled method is `String.format()`, but due to inlining the caller is actually `Formatter.toString()`. The `Formatter` class file in JDK18 and JDK17 has the following bytecode:

[code]

However in JDK8 it looks like:

[code]

So the bytecode and constant pool entry has changed between Java versions. Perhaps we're not handling this correctly anymore

[2022-01-14 17:16] gacholio commented on #14280
The "long" name came from the olden days when int was 16 and long was 32. If we were to do anything, I'd be tempted to use:
[code]
This may be slightly confusing in that the meaning of `Long` changes, but it should be easier to understand for anyone new.

[2022-01-14 17:23] babsingh commented on #14091
Excluding `StringBuilder/HugeCapacity` sub-tests does not work. The original exclude was kept and duplicate exclude was removed.

**Related:**
- https://github.com/adoptium/aqa-tests/pull/3211
- https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/5#issuecomment-1012651763
- https://github.com/adoptium/aqa-tests/pull/3220

[2022-01-14 17:29] gacholio commented on #13838
@urisimchoni As the documentation for this feature came from the back of a napkin somewhere, it's not clear to me if the call requires that the env_id be filled in, or whether it's returned by the call.

The OpenJ9 implementation is assuming it's an out parameter, which means we are unable to get the trace for anything but the current thread (which makes sense to me in the context of a signal hand

[2022-01-14 17:51] ymanton commented on #14230
Just for reference, JDK11 looks like JDK17/JDK18, so if this is indeed part of the problem it's not a new change.

[2022-01-14 19:00] gacholio commented on #13838
`async_profiler` appears to follow the same pattern as the provided example.

[2022-01-14 19:04] gacholio commented on #14280
Alternately, we could use `J9ArrayShape8Bit` etc to avoid any naming confusion.

[2022-01-14 19:09] gacholio commented on #14280
Another consideration is that DDR knows about these flags. Perhaps the new constant mechanism will make this less onerous than it has been in the past.

[2022-01-14 19:49] dmitripivkine commented on #14243
I discovered strange pattern.
[code]
Each bit 1 in this range points to alive object. And each of them (92 total) are Class objects, marked but not scanned

[2022-01-14 19:56] pshipton commented on #14230
btw the shared cache is in the core file, and you can use the !shrc DDR command to look at it.

[2022-01-14 20:05] IBMJimmyk commented on #14231
I think this might be a dup of:
https://github.com/eclipse-openj9/openj9/issues/14230

I was able to reproduce the problem in a grinder here:
job/Grinder/20197/tapResults/

There are three `Unhandled exception`. Two in the first failing test and one in the second failing test.

For the first exception, the NIP is `0x10000` which is bad. The LR is `0x7FFF0A49DE74`.

The instructions just before `0x

[2022-01-14 20:07] pshipton commented on #14230
You can't have data written by JVMs with different build IDs, which is the OpenJ9 SHA, to the same shared cache on Linux/AIX/Mac.

[2022-01-14 20:10] gacholio commented on #13192
Work is taking place here: https://github.com/gacholio/openj9/tree/sa

[2022-01-14 20:14] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_linux_OMR_testList_0/38/

[2022-01-14 20:15] pshipton commented on #13721
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/181/

[2022-01-14 20:19] pshipton commented on #14124
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_s390x_linux_OpenJDK_testList_0/40
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_s390x_linux_OpenJDK_testList_1/40
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_x86-64_mac_OpenJDK_testList_0/36
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functi

[2022-01-14 21:23] urisimchoni commented on #13838
Re-GetEnv, I think it's possible to make the agent behavior dependent on JVM type. For example we use the presence of "com.ibm.GetOSThreadID" extension to determine the JVM is J9. I don't know what other profilers would think of it but for me it's not an issue.

However, commenting-out GetEnv doesn't solve the issue for me. The If I plant a "return" statement at the beginning of the signal handler

[2022-01-14 21:44] MichaelNesterenko commented on #14266
@pshipton, looks like it, there is another host which uses cgroups v1 and jvm correctly sizes heap there.

[2022-01-14 22:11] pshipton commented on #14266
Thanks. I'm going to close this as a dup then.

[2022-01-14 22:11] #14266 closed

[2022-01-14 22:26] pshipton commented on #14124
@0xdaryl this problem is affecting promotion of new jdk18 and jdknext levels. It's currently the only issue marked blocker in the jdk18 0.31 milestone. Today so far I can't get any test runs on zlinux that don't crash, and I've restarted 5 times already.

https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/205/

[2022-01-14 22:42] a7ehuo commented on #13983
Many thanks to @jdmpapin for helping look at the log files! The issue is rooted in `block_70` that inlines `java/lang/StringLatin1.inflate` in codegen. He found when `rdx` (`dst`) is spilled to the stack before `block_70`, it is not restored properly at the end of the internal control flow. The issue happens because `srcBufferReg` and `destBufferReg` are not added on the register dependency list a

[2022-01-14 23:05] mpirvu opened #14286 "jit_jitt_array_compress_3 test failure with JITServer"
Recently, `jit_jitt_array_compress_3` started to fail on all platforms when JITServer is used
Example of a failure: https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Personal/838/tapResults/

[code]
Optional info
-------------

[2022-01-14 23:06] mpirvu commented on #14286
I have reproduced the crash locally and determined that the crash is due to the `-XXgc:forcedShiftingCompressionAmount=4` presence on the command line at the client. If this option is removed, the test passes.

[2022-01-15 19:40] gacholio commented on #14280
Is the stride for VT arrays stored in the RAM array class? If so, it might make more sense to get rid of these values entirely and piggyback on the stride.

[2022-01-15 20:32] gacholio commented on #13838
10K doesn't sound like very much, but your investigation would suggest it's the issue (even though calling ASGCT will use a bunch of stack as well). The TLS solution sounds safe regardless of which VM you're targetting.

Looks like the VM defaults to a native stack size of 256k. If the native stack is the issue, then adding `-Xmso1M` to the command line should also fix it.

I'm not sure how signal

[2022-01-15 20:35] gacholio commented on #13838
Any chance you can confirm whether the `JNIEnv` is an input or output parameter? If it is needed as input, it would also be simple to stash this in TLS during thread startup to avoid the `GetEnv` call in the handler.

[2022-01-16 02:41] mpirvu commented on #14246
SPECjbb2005 seems to degrade from `enableAggressiveInlining` but also from `acceptHugeMethods`.
xalan (from dacapo suite) regresses if `scratchSpaceLimit=524288` is used.

The only options that are consistently helping are: Xms=Xmx and -Xjit:dontDowngradeToCold,disableSelectiveNoServer

[2022-01-16 12:46] 0xdaryl commented on #14124
@nbhuiyan : can you have a look at this please?  Note this is JDK 18+.

[2022-01-16 15:06] urisimchoni commented on #13838
@gacholio it's pretty clear from the HotSpot sources (https://github.com/openjdk/jdk/blob/master/src/hotspot/share/prims/forte.cpp#L564) that this is an input parameter, at least for HotSpot.

By default a signal runs on the stack of the thread that receives it, and probably the stack in X86 is identified by RSP. In any case it's not difficult to move the AGCT buffer to a dynamically-allocated buf

[2022-01-16 23:42] tajila commented on #14280
Yes it is.

We tried that a while ago but it introduce a startup perf regression as it meant that the GC can't use the `shape << arraysize` optimization when allocating arrays. As a result we split the allocation path between VT arrays nad non-VT arrays.

[2022-01-17 14:41] JasonFengJ9 commented on #14093
Closing as dup of https://github.com/eclipse-openj9/openj9/issues/14233 which specified two failures:
[code]
Their share same underneath cause.

[2022-01-17 14:41] #14093 closed

[2022-01-17 14:46] JasonFengJ9 commented on #14233
`java/lang/System/FileEncodingTest.java` need to be re-included after https://github.com/eclipse-openj9/openj9/pull/14285 merging.

[2022-01-17 14:54] jdekonin commented on #14193
p8-java1-ibm04 also has the same failure mode.  I not really sure where to go with this and need assistance in identifying the problem.  @llxia @pshipton

Existing IBM Garage systems expire at end of this month.  So if this cannot be resolved by then, the test will need to be disabled as to no block existing pipeline testing.

[2022-01-17 15:16] tajila commented on #14281
No, the checkpoint run included `-XX:+CRIURestoreNonPortableMode` and restore uses the same args.

I tried your patch bu the results are the same.

[2022-01-17 16:24] dsouzai commented on #14281
Oh...that's odd. Ok I'll check it out.

[2022-01-17 17:15] 0xdaryl commented on #14115
The current problem is a different problem than the one originally uncovered by this issue and fixed in 14163.  The NPE has still been seen after disabling all native inlining, newInstanceImpl opt, and method inlining.  It can also be reproduced with noopt (but not with -Xint).  Reproduction rate is about 1/50.

This problem does tend to go into remission when diagnostic options are applied, but I

[2022-01-17 17:55] pshipton commented on #14115
This fails often in the nightly builds and should be fixed with high priority. Given the previous information, plus the test is new and the failure is not a regression, I agree this problem should not block the release. I'm moving it forward.

[2022-01-17 17:56] pshipton commented on #14191
We can't diagnose this problem with the available information, moving it forward.

[2022-01-17 19:17] llxia opened #14289 "Allow users to auto-generate all test jobs"
Currently, users can set `AUTOMATIC_GENERATION` at the top-level job to auto-generate the first-level test jobs. The second-level test jobs (in parallel cases) will not be auto-generated. This will cause an in-sync of test jobs. For example, `USE_TESTENV_PROPERTIES ` was introduced recently. And it is only available at the first-level test jobs, but not the second-level test jobs (i.e., xxx_testLi

[2022-01-17 19:20] mpirvu commented on #14286
I have limited the problem to just one method. I can reproduce the issue with
`"-Xshareclasses:none -Xjit:disableAsyncCompilation,limit={sun/net/www/ParseUtil.encodePath*},initialOptLevel=cold,disableInlining,traceFull,log=log.txt -XXgc:forcedShiftingCompressionAmount=4 -Xmx512m -XX:+UseJITServer"`

[2022-01-17 20:55] pshipton opened #14290 "[zOS S390] 80 JIT_Sanity.abbs.5mins.Mode140 Segmentation vmState=0x00000000 Compiled_method=java/lang/Class$CacheKey"
Internal build /job_output.php?id=25029184 - fyrec511
Core available in the result store
50x grinder all passed, 2nd 50x grinder in progress

[code]

@0xdaryl @joransiu

[2022-01-17 21:03] mpirvu commented on #14138
Implemented in PR https://github.com/eclipse-openj9/openj9/pull/14207

[2022-01-17 21:03] #14138 closed

[2022-01-17 21:47] #13983 closed

[2022-01-17 21:47] joransiu commented on #14290
@VermaSh , can you take a look? Thanks!

[2022-01-17 22:03] babsingh opened #14292 "HCRLateAttachWorkload segfaults with -Xint"
### Summary

HCRLateAttachWorkload segfaults with `-Xint`: https://github.com/eclipse-openj9/openj9/issues/13504#issuecomment-963226937.

Another 500x grinder with -Xint: https://github.com/eclipse-openj9/openj9/issues/13504#issuecomment-973144057. Here, the failure was not encountered.

Corrupt data is encountered while iterating the O-slots.

Failure rate is greater than 1/500.

In https://ibm.e

[2022-01-17 22:07] keithc-ca commented on #12785
@tajila Is this now complete?

[2022-01-17 22:14] babsingh commented on #13504
**Revising my response to the above question:** After reviewing the [core files](https://ibm.box.com/s/m14u2lv2vir0p9xl935xldnx9ftfqg3q) for [#13504 (comment)](https://github.com/eclipse-openj9/openj9/issues/13504#issuecomment-963226937), I have determined that it is a valid/different failure which occurs with `-Xint`. https://github.com/eclipse-openj9/openj9/issues/14292 has been opened to track

[2022-01-17 22:35] dmitripivkine commented on #14292
@babsingh If you need help to triage crashes in GC please let me know

[2022-01-17 22:37] dmitripivkine commented on #14292
Provided data for core 2 and core 3 looks identical. Is it a technical mistake?

[2022-01-17 22:40] mpirvu commented on #14286
I used compilation logs and `enableJITServerFollowRemoteCompileWithLocalCompile` option to perform two back to back compilations with logs, one remote and one local. I compared the two logs and post optimizations tress looks the same.
I see a difference in newarray allocation inlining:
local:
[code]
remote:
[code]

I traced this code to `static void genHeapAlloc2()` from J9TreeEvaluator.cpp. It ap

[2022-01-17 23:46] #14022 closed

[2022-01-18 00:08] nbhuiyan commented on #14124
Here's an update based on my initial investigation of this issue:

I have been unable to reproduce the failure locally on macOS, but was able to reproduce it on zLinux. If the functional test compilation job completes successfully, no failure running the tests themselves are observed. The failure is only observed when re-running `make compile` the second or third time. As I do not yet know how to

[2022-01-18 01:01] pshipton commented on #14124
The easiest might be to set the OPENJ9_JAVA_OPTIONS environment variable before running `make compile`.

[2022-01-18 03:59] mpirvu commented on #14286
It turns out that the codegen uses `TR::Compiler->om.getObjectAlignmentInBytes()` which is a new implementation from https://github.com/eclipse-openj9/openj9/pull/14110 and is not overridden for JITServer. Thus, the server gets the wrong value of the object alignment.

[2022-01-18 04:11] mpirvu commented on #14286
The correct implementation for getObjectAlignmentInBytes() would include a test for JITServer, something along the lines:
[code]

[2022-01-18 04:13] mpirvu commented on #14286
@cjjdespres Could you please provide a fix for this issue? Thanks

[2022-01-18 11:59] mpirvu opened #14297 "Mark deserialized remote compilations in the method MetaData"
`J9JITExceptionTable` includes several flags and one of them, `JIT_METADATA_IS_REMOTE_COMP`, indicates that the method was compiled remotely. For debugging purposes we would also want to know if this remotely compiled method comes from the JITServer AOT cache (thus being deserialized and relocated at the client).
Thus, we need to add another flag, say `JIT_METADATA_IS_DESERIALIZED_COMP` to indicat

[2022-01-18 12:04] mpirvu commented on #14297
J9JITExceptiontale is defined here: https://github.com/eclipse-openj9/openj9/blob/master/runtime/oti/j9nonbuilder.h#L517-L550
At the client, the information that a method is deserialized is available in `compiler->isDeserializedAOTMethod()`

[2022-01-18 13:27] pshipton opened #14298 "MultiReleaseJarHttpProperties ClassNotFoundException: version.Main"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/191
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/jar/JarFile/mrjar/MultiReleaseJarHttpProperties.java

[code]

[2022-01-18 13:39] JasonFengJ9 commented on #14251
Proposing following internal hooks implementation:

* Added a `J9InternalFunctions` - `addInternalHook`
[code]
* The `hookFunc` to be added is as following
[code]

* A new field `struct J9Pool* hookRecords` is to be added within `J9CRIUCheckpointState`, which has following defines:
[code]

* The `hookRecords` is initialized at `Java_org_eclipse_openj9_criu_CRIUSupport_isCRIUSupportEnabledImpl()`
[

[2022-01-18 13:59] mpirvu opened #14299 "Make JIT compilation more conservative when code cache space is low"
Some applications generate many classes (and thus methods) dynamically and after some brief usage, these classes get unloaded.
If the Java heap is relatively large, the GC may not attempt to unload classes that are no longer used. In such a case, the code cache could become full and the JIT may stop compiling because there is no room to store these newly compiled bodies.
Ideally, the GC would trig

[2022-01-18 14:41] tajila commented on #12785
Yes, this is done now. Thanks for you work on this @mikezhang1234567890

[2022-01-18 14:41] #12785 closed

[2022-01-18 14:42] tajila commented on #12219
We have fixed the stack size issue, I believe this should be fixed now. @JasonFengJ9 did we exclude any tests for this?

[2022-01-18 14:55] pshipton commented on #14115
From the weekend:
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly_testList_0/184
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly_testList_0/182

From last night:
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_aarch64_linux_Nightly_testList_1/72
https://openj9-jenkins.osuos

[2022-01-18 15:02] siyy123 opened #14300 "Core dumped when launching a modded minecraft version 1.12.2 with openj9-0.30.0-m1/m2 and -Xshareclasses -Xquickstart/-Xaot:count=0"
Java -version output
--------------------

openjdk version "1.8.0_322"
IBM Semeru Runtime Open Edition (build 1.8.0_322-b04)
Eclipse OpenJ9 VM (build openj9-0.30.0-m1, JRE 1.8.0 Windows 10 amd64-64-Bit Compressed References 20211130_265 (JIT enabled, AOT enabled)
OpenJ9   - ea06f7479
OMR      - eb9cf8525
JCL      - a3346d8d7a based on jdk8u322-b04)

Summary of problem
------------------

I'm tryin

[2022-01-18 15:04] JasonFengJ9 commented on #12219
Not that I recall. A few latest sample job links [1] [2].
Closing.. (will re-open if the `StackOverflowError` occurs again)

[1] `job/Test_openjdk11_j9_extended.perf_ppc64_aix/49/`
[2] `job/Test_openjdk8_j9_extended.perf_aarch64_linux/41/`

[2022-01-18 15:04] #12219 closed

[2022-01-18 15:24] amicic commented on #14204
Survivor space is not something is externally even visible in Balanced GC. It does internally exist, but merely as an estimate of amount of  free space (subset of free regions) that will be needed during Partial GCs (based on historical survival rate etc). No specific regions are tagged as survivor.

That estimate is later indirectly used for some other heuristics like kickoff of GMP cycles and ot

[2022-01-18 15:25] DanHeidinga commented on #14080
Is there a spec reference for this change?

[2022-01-18 15:45] JasonFengJ9 opened #14301 "Proposal - rename ISO8859_1 to ISO-8859-1"
`ISO8859_1` is an alias for the charset `ISO-8859-1`.
https://github.com/eclipse-openj9/openj9/pull/14285#discussion_r786315416 proposed to remove the alias.

[2022-01-18 15:45] DanHeidinga commented on #14192
Plan - document with an release notes for 0.30 and move forward

[2022-01-18 15:50] babsingh commented on #14292
@dmitripivkine Your help and insights into the GC crash will be very helpful. `Core 2` and `core 3` are actually identical. The same GC worker thread generates two core files. I only have the `jdmpview` (DDR) data. I could not get the native stack data from `gdb`. Most likely, the two cores are generated by the same native method (`Module_base_address=000003FFA9700000`).

**Current hypothesis:** I

[2022-01-18 15:52] keithc-ca opened #14302 "Build OpenSSL along with the JVM on all platforms"
Currently, I believe it is only Windows that requires manual work to update the version of OpenSSL used by OpenJ9: we should investigate and fix any problems with using configure option `--with-openssl=fetched` (currently being rejected in custom-hook.m4 (e.g. [jdk11](https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/closed/autoconf/custom-hook.m4#L631))).

This would reduce the ongo

[2022-01-18 16:03] VermaSh commented on #14290
Launched a few grinders internally to replicate the failure
build_info.php?build_id=20568
build_info.php?build_id=20567
build_info.php?build_id=20561
build_info.php?build_id=20559

[2022-01-18 16:08] dmitripivkine commented on #14292
Would you please share system core? You can upload it to `/team` for example

[2022-01-18 16:08] babsingh commented on #14080
Test [classInitialization/ExExceptionInClassInitialization](https://github.com/ibmruntimes/openj9-openjdk-jdk18/blob/openj9/test/jdk/java/lang/reflect/classInitialization/ExceptionInClassInitialization.java) was added to verify JEP416 support which re-implements core reflection with MethodHandles. If the test passes by disabling JEP416, then there may be no spec change. Instead, we may be missing

[2022-01-18 16:11] dmitripivkine commented on #14292
Never mind, I missed link to the box you provided already

[2022-01-18 16:20] 1a2s3d4f1 commented on #14204
Thank your answer. The main problem is pause time. Balanced gc suffer long-pause time while game load many chunks. Default options may have another preformance problem. Sometime,GC contract eden to a small size(50mb). Eden space too small cause partial gc running GMC cycle. Set -Xmns option can solve "eden size too small" problem.
G1GC can get lower pause time. I found a big survivor space may bri

[2022-01-18 16:20] babsingh commented on #14080
**Another perspective:** This issue may be identical to https://bugs.openjdk.java.net/browse/JDK-8048190 (**NoClassDefFoundError omits original ExceptionInInitializerError**). 45 older comments are hidden, which should be expanded to read more about the issue.

[2022-01-18 16:21] keithc-ca commented on #14301
We should be using the canonical name for all charsets; ISO8859_1 is just one example of an alias being used.

[2022-01-18 16:26] EricYangIBM commented on #14080
The test still fails

[2022-01-18 16:51] pshipton opened #14304 "jdk18 crashes running sanity.openjdk"
Noticed in PR testing, sanity.openjdk on jdk18 started crashing yesterday. Below is the last good / first bad build, and the changes. These original builds were on Windows, but crashes are seen on Mac as well. Likely on other platforms but (open) builds haven't been run.

https://openj9-jenkins.osuosl.org/view/Pull%20Requests/job/PullRequest-OpenJ9/1396/
OpenJ9: 8e5a4fb7f7a
OMR: d406b054407
OpenJD

[2022-01-18 16:57] pshipton commented on #14304
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/94/

[2022-01-18 17:04] gacholio commented on #13838
I will update GetEnv to avoid using tracepoints, which should make it async-safe for fetching the JNIEnv. I will also update ASGCT to accept the JNIEnv as an incoming parameter, though I may restrict actual use of the call to the current thread while I consider what extra effects inspecting other threads might have.

For additional safety, if you're caching the buffers in TLS during the JVMTI thre

[2022-01-18 17:30] pshipton commented on #14300
@0xdaryl fyi

[2022-01-18 17:32] 0xdaryl commented on #14300
@dsouzai : would you mind triaging this crash please?

[2022-01-18 17:40] EricYangIBM commented on #14080
https://bugs.openjdk.java.net/browse/JDK-8048190 looks like it is identical to this issue. The solution to it sets the cause of the `NoClassDefFoundError` to be the original `ExceptionInInitializerError`, but I don't think it is based on any spec. Not sure why this test was created as part of JEP416 but this [other test](https://github.com/openjdk/jdk/blob/master/test/hotspot/jtreg/runtime/ClassIn

[2022-01-18 17:46] gacholio commented on #13838
Looks like GetEnv is already async safe.

[2022-01-18 17:47] urisimchoni commented on #13838
From the hotspot code (see my previous link) it appears that hotspot too requires that the JNIEnv is that of the interrupted thread.

[2022-01-18 18:15] JasonFengJ9 commented on #14304
JDK18 has segmentation error issues for a while such as https://github.com/eclipse-openj9/openj9/issues/14228 https://github.com/eclipse-openj9/openj9/issues/14230 https://github.com/eclipse-openj9/openj9/issues/14231
These were seen regularly in my personal JDK18 builds (nightly builds were not launched as per `runtimes/infrastructure/issues/6277`).

[2022-01-18 18:22] dsouzai commented on #14300
@siyy123 could you upload the coredump somewhere? Also could you add `-XcompilationThreads1 -Xjit:verbose={compilePerformance},vlog=vlog -Xaot:aotrtDebugLevel=30,rtLog=rtLog` (in the run where you have `-Xaot:count=0`, do `-Xaot:count=0,aotrtDebugLevel=30,rtLog=rtLog` because if you add multiple `-Xaot`/`-Xjit` only the last of each is considered). If you can upload the coredump,vlog, and rtLog fr

[2022-01-18 18:28] gacholio commented on #13838
Which makes the parameter rather pointless, but I am updating the call to check it and return failure. All changes should be committed later today.

[2022-01-18 18:35] pshipton commented on #14304
Ah ok, seems like this is a dup of https://github.com/eclipse-openj9/openj9/issues/14228 then. I guess sometimes you get lucky and there are no seg faults. If the problem is related to the shared cache / AOT, that could explain why some runs are successful and others crash in a random group of tests. I'm setting https://github.com/eclipse-openj9/openj9/issues/14228 a blocker.

[2022-01-18 18:37] #14304 closed

[2022-01-18 18:41] gacholio commented on #13838
https://github.com/eclipse-openj9/openj9/pull/14308

[2022-01-18 18:46] gacholio commented on #14280
In that case, I vote to either do nothing, or rename the constants to the explicit bit sizing.

[2022-01-18 19:22] JasonFengJ9 commented on #14131
There are two different failures here, one is addressed by a test change https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/7.
The other requires code change https://github.com/eclipse-openj9/openj9/pull/14307
Re-open, to be closed by that PR.

[2022-01-18 19:30] EricYangIBM commented on #14080
I looked at the language spec 12.4.2: https://cr.openjdk.java.net/~iris/se/18/latestSpec/java-se-18-jls-pr-diffs.pdf#page=448&zoom=100,96,678
Step 5 specifies to throw `NoClassDefFoundError` but nothing about its cause.

If this test isn't based on spec changes then is it necessary? It seems like this behaviour was only implemented by OpenJDK as an enhancement

[2022-01-18 19:34] pshipton commented on #14304
For the record, the build without https://github.com/eclipse-openj9/openj9/pull/14282 didn't have any segfaults.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/95/

[2022-01-18 19:36] gacholio commented on #13192
@dmitripivkine Is there an easy way to identify GC threads (workers, alarm, whatever we call the metronome driver thread these days)? I'm getting hangs because I'm halting all threads during exclusive then releasing, so if a GC needs to run it hangs. Seems to me the simple fix is to identify threads that are attached but can never run java code and not halt those.

[2022-01-18 19:40] pshipton commented on #14080
It's good to match the behaviour of the reference so that user's don't experience different behaviour, that might cause problems, when moving to OpenJ9.

[2022-01-18 20:21] SajinaKandy commented on #13123
I have a customer reporting the same assert on JRE 1.8.0 z/OS s390x-64 (build 8.0.6.0 - pmz6480sr6-20191107_01(SR6)) .. The assert text is:
05:25:04.251924703  0x123A3100 j9vm.225             Assert     * ** ASSERTION FAILED ** at ./KeyHashTable.c:288: (!((0 != ((((UDATA)clazz)) & ((0x100 - 1))))))

with crashing stack:
{libj9trc29.so}{logTracePoint}
{libj9trc29.so}{doTracePoint}
{libj9trc29.so}{j

[2022-01-18 20:26] pshipton commented on #14304
A re-run of the test on the same JVM produced many seg faults.
https://openj9-jenkins.osuosl.org/job/Grinder/515

[2022-01-18 20:34] #14233 closed

[2022-01-18 20:37] pshipton commented on #14193
@jdekonin the testRASAPI problem is fixed by https://github.com/eclipse-openj9/openj9/pull/14310

[2022-01-18 21:04] tajila commented on #13192
[code]

[2022-01-18 21:06] tajila commented on #13192
Or you can do a NO_BITS test with `J9THREAD_CATEGORY_SYSTEM_GC_THREAD`

[2022-01-18 21:30] babsingh commented on #13993
Closing this issue ... OpenJ9 does not support `sun/hotspot/WhiteBox`. So, the above tests should be permanently excluded since they cannot be run with OpenJ9. These tests were excluded by https://github.com/adoptium/aqa-tests/pull/3150.

fyi @pshipton

[2022-01-18 21:30] #13993 closed

[2022-01-18 22:05] babsingh commented on #14084
### Failing Tests
[code]

The above tests depend on iterating the stack trace to throw the correct exception: [AccessorUtils.isIllegalArgument](https://github.com/ibmruntimes/openj9-openjdk-jdk18/blob/01d7ff50ac8827ce3b750826daf494e6a9f7d7e1/src/java.base/share/classes/jdk/internal/reflect/AccessorUtils.java#L54).

@fengxue-IS
- Do you think this failure is due to generated MH frames in stacktrace

[2022-01-18 22:10] babsingh commented on #13993
@pshipton Should the `test excluded` label be retained since the tests are permanently excluded?

[2022-01-18 22:25] pshipton commented on #13993
No, a closed issue with a `test excluded` label means the problem is resolved and the test can be re-included. I'll create a `perm excluded` label and use it here.

[2022-01-18 22:28] pshipton commented on #13993
There was talk about automated that at some point.

[2022-01-18 23:33] 0xdaryl commented on #14228
@hzongaro : could you triage this JDK18 problem please?

[2022-01-19 00:19] #14208 closed

[2022-01-19 03:18] siyy123 commented on #14300
for -Xaot:count=0: https://1drv.ms/u/s!AotJ8siZ9lZhij2YHSfNJWqUQxZG?e=pfA7si

[2022-01-19 03:26] siyy123 commented on #14300
and for -Xquickstart: https://1drv.ms/u/s!AotJ8siZ9lZhij7YTYQ8qgnmCie1?e=TOpNG2

[2022-01-19 04:37] pshipton opened #14318 "OpenJDK test mismatch with USE_TESTENV_PROPERTIES enabled"
This is failing in the [0.30 release build](https://openj9-jenkins.osuosl.org/job/Pipeline-Release-0.30.0-Build11/6), but not in the [head stream (acceptance)](https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK11-Acceptance/25/) build.

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_Release/9
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.o

[2022-01-19 04:47] pshipton commented on #14318
@llxia this is a test mismatch, the SHA.txt shows the openj9 branch of jdk11 is being used (SHA fcd00b3e47 - https://github.com/ibmruntimes/openj9-openjdk-jdk11). However the build is configured to use the v0.8.0-release branch with USE_TESTENV_PROPERTIES enabled.
https://openj9-jenkins.osuosl.org/job/Pipeline-Release-0.30.0-Build11/6/rebuild/parameterized

[2022-01-19 04:48] pshipton commented on #14318
@smlambert fyi

[2022-01-19 04:56] pshipton commented on #14318
If the [acceptance build](https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK11-Acceptance/25/) promotes later tonight, the openj9 branch of the jdk11 repo is going to be modified to https://github.com/ibmruntimes/openj9-openjdk-jdk11/commit/52406d9b.
At the moment it's https://github.com/ibmruntimes/openj9-openjdk-jdk11/commit/fcd00b3e47

[2022-01-19 11:21] pshipton commented on #14318
The [build](https://openj9-jenkins.osuosl.org/job/Pipeline-Release-0.30.0-Build11/6/rebuild/parameterized) configures:
ADOPTOPENJDK_REPO = `https://github.com/adoptium/aqa-tests.git`
ADOPTOPENJDK_BRANCH = `v0.8.0-release`

but the SHA.txt shows 2faf2dc8e0abee which is the master branch and not the `v0.8.0-release` branch.

[2022-01-19 11:24] pshipton commented on #14318
I think I know what is wrong, it's because I was using an out of date VENDOR_REPO and BRANCH. I'll try a new build to confirm.

[2022-01-19 11:41] pshipton commented on #13803
Out of space problem on https://openj9-jenkins.osuosl.org/computer/win2012-x86-8
Disabled the machine until it can be fixed. @AdamBrousseau

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/193/
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Release_testList_1/17/
[code]

[2022-01-19 12:56] pshipton commented on #14318
New build https://openj9-jenkins.osuosl.org/job/Pipeline-Release-0.30.0-Build11/7/

[2022-01-19 13:48] JasonFengJ9 opened #14321 "JDK18 cmdLineTest_J9test_console failures"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.functional_x86-64_linux_Personal/13/tapResults/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&

[2022-01-19 13:57] pshipton commented on #14318
Actually it's still not working

[2022-01-19 13:58] JasonFengJ9 opened #14322 "Jenkins test job shows false pass status"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.functional_ppc64_aix_Personal_testList_0/6/console` (`paix825`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_extended.functional_ppc64_aix_Personal&DOCKER_RE

[2022-01-19 15:16] #14133 closed

[2022-01-19 15:40] dmitripivkine commented on #14292
Looks likes data inside core 2 is inconsistent. I think core 1 data is trustable only.

There is indirect evidence this is a case. Unfortunately traces and some data segments in the core are frozen at the time of generation of core 1. However I can see Remembered Set walked but not pruned. Next step in Scavenge is walk java thread stacks.

[2022-01-19 16:10] tajila commented on #14251
Perhaps rename `addInternalHook` to `addInternalJVMCheckpointHook` so it can be distinguished from the existing J9HookAPI

I noticed your `J9InternalHookRecord` doesnt include instances, are you planning to track those elsewhere?

[2022-01-19 16:35] llxia commented on #14318
Re https://openj9-jenkins.osuosl.org/job/Pipeline-Release-0.30.0-Build11/8/ , test build https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_Release/11/console worked as expected.

[code]

[2022-01-19 16:45] llxia commented on #14318
Note:
- With `LIGHT_WEIGHT_CHECKOUT=false`, we may need to watch out for Jenkins master space consumption.
- `AUTOMATIC_GENERATION=true` only needs to be used if we want to force regenerate all test jobs (i.e., job parameter added/removed, job configuration update, etc). If regen is not needed, we can set it to false to save the build execution time.
- Internal test jobs may also need to be regene

[2022-01-19 16:46] JasonFengJ9 commented on #14251
Sure.

`J9InternalHookRecord` includes `instanceType`, `includeSubClass`, `isRestoreHook`, and `hookFunc`, my understanding is that each `addInternalJVMCheckpointHook()` adds a `J9InternalHookRecord`.
When `j9mm_iterate_all_objects` invokes `objectIteratorCallback` for each `objectDesc`, the `hookRecords` is to be iterated and checked against its `instanceType`, `includeSubClass`, `isRestoreHook`

[2022-01-19 16:47] JasonFengJ9 commented on #14131
The tests have been re-included.
Closing..

[2022-01-19 16:47] #14131 closed

[2022-01-19 18:33] mpirvu opened #14323 "Reduce the number of ClassEnv_flattenedArrayElementSize messages in JITServer"
PR #13975 introduced a new message type called `ClassEnv_flattenedArrayElementSize`. This message is sent by the server every time the JIT calls `J9::ClassEnv::flattenedArrayElementSize(TR::Compilation *comp, TR_OpaqueClassBlock *arrayClass)`.
The actual information we want to get to is the element size for a given array class and this is obtained at the client with
`vm->internalVMFunctions->array

[2022-01-19 18:34] mpirvu commented on #14323
Attn: @cjjdespres

[2022-01-19 19:20] #14286 closed

[2022-01-19 20:01] llxia commented on #14322
[Generated TAP file](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk18_j9_extended.functional_ppc64_aix_Personal_testList_0/6/artifact/aqa-tests/TKG/output_16425301841041/Test_openjdk18_j9_extended.functional_ppc64_aix_Personal_testList_0.tap/*view*/) contains failure and the total test number is 141.

[code]

However, it looks like[ TAP plugin](https://hyc-runtimes-jenkins.swg-devops

[2022-01-19 20:37] fengxue-IS commented on #14084
@babsingh
I've tested with my local build that with #3627 the following tests passed:
[code]
as with id1, I got the follow output, I think we would need to look at the test failure more closely.

[2022-01-19 20:40] llxia commented on #14322
I suspect that a special character in failed test output caused the issue in TAP Extended Test Results. However, there are no error messages to investigate further.

@renfeiw we may need to discuss how to avoid this in the future. I may have a couple of ideas.

[2022-01-19 21:40] tajila commented on #14251
The hookRecords is iterated via following code snippet:

 `j9mm_iterate_all_objects` is called once pre-checkpoint but the hooks can be run either at checkpoint or at restore. So for the restore hook instances you'd need a way to save them to avoid doing another heap walk after restore.

[2022-01-19 21:42] dsouzai commented on #14281
Figure I'll provide an update on this. I've been putting a bunch of instrumentation in the code (as I can't really use gdb here). This is the output I've seen so far:
[code]

When we do a compilation we copy the appropriate target env into the comp object. This is needed in order to be able to have compilations with different cpu features (for example the JIT compilations vs Portable AOT compilati

[2022-01-19 21:52] EricYangIBM commented on #14097
Crash occurs in https://github.com/eclipse-openj9/openj9/blob/master/jcl/src/java.base/share/classes/java/lang/StackWalker.java#L210 at `function.apply(frameStream)` at `invokevirtualLogic`
[code]
The `function` is
[code]
I have tried variations e.g.
[code]
but it fails at the same place.

[2022-01-19 22:02] keithc-ca commented on #14302
I have this working for jdk11; hopefully porting to other jdk versions will be straight-forward.

[2022-01-19 22:37] pshipton commented on #14321
The test is no longer valid for jdk18. I checked the jdk18 RI, setting the file.encoding doesn't affect the console encoding. I'll have to fix the tests for jdk18.

[2022-01-19 23:51] pshipton commented on #14318
Since we have a working solution, I'll go ahead and close this.

[2022-01-19 23:51] #14318 closed

[2022-01-19 23:52] pshipton commented on #14192
Moving to Milestone 0.32 since it's not jdk18 specific, but it's still high priority to fix this asap.

[2022-01-20 04:54] VermaSh commented on #14290
All grinders ran without failures. So far the failure rate is 0/318 jobs. I have launched another grinder build_info.php?build_id=20694. If that doesn't show any failures I'll try running the test locally on the machine next.

[2022-01-20 05:04] pshipton opened #14326 "jdk17.0.2 failing to compile"
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK17-Acceptance/19/
https://openj9-jenkins.osuosl.org/job/Build_JDK17_x86-64_linux_OpenJDK17/20
[code]

@JasonFengJ9

[2022-01-20 06:20] knn-k commented on #11164
PRs for loading function pointers from memory (already merged):
- https://github.com/eclipse/omr/pull/6311
- https://github.com/eclipse-openj9/openj9/pull/14296

[2022-01-20 13:46] JasonFengJ9 commented on #14251
Added `struct J9Pool *instanceObjects` into `J9InternalHookRecord`, and save the objects matching `instanceType` into it for retrieving at restore. Updated https://github.com/eclipse-openj9/openj9/issues/14251#issuecomment-1015421680 and https://github.com/JasonFengJ9/openj9/tree/criuhooks

[2022-01-20 15:48] mpirvu commented on #14246
I ran Dacapo suite with Java8 and the code delivered in PR #14277 and OMR https://github.com/eclipse/omr/pull/6294
Each benchmark used 20 iterations (19 for warmup and 1 for measurement) and each experiment was repeated 10 times to compute the mean.  For the benchmarks that ran successfully I see the following improvements (negative delta means an improvement) with -Xtune:throughput

Benchmark | D

[2022-01-20 15:59] thimo-seitz opened #14328 "Performance issue. Runtime with openj9 188 seconds hotspot 5 seconds"
Java -version output
--------------------

OpenJ9:
openjdk version "11.0.13" 2021-10-19
IBM Semeru Runtime Open Edition 11.0.13.0 (build 11.0.13+8)
Eclipse OpenJ9 VM 11.0.13.0 (build openj9-0.29.0, JRE 11 Windows 10 amd64-64-Bit Compressed References 20211022_218 (JIT enabled, AOT enabled)
OpenJ9   - e1e72c497
OMR      - 299b6a2d2
JCL      - 2d83aa3b76 based on jdk-11.0.13+8)

Hotspot:
openjdk ver

[2022-01-20 16:20] 1a2s3d4f1 opened #14330 "Core dumped when launching a modded minecraft version 1.16 with OpenJ9 Nightly Build"
Java -version output
--------------------

[code]

Summary of problem
------------------

I try to launch minecraft with openj9 nightly build,But JVM crash when game finished loading resources.

Diagnostic files
----------------
https://mega.nz/file/SMdGBD6K#_xuBWjc-WUS6FuVpIwLZHSeFyYP0_AjLb4z2r4RctIk

[2022-01-20 16:25] mpirvu commented on #14246
I reran jython and this time I got only a 1% regression due to `-Xtune:throughput`. I also computed the 95% confidence interval which turned out to be 0.94%, thus, statistically speaking,  the two configurations behave the same.

[2022-01-20 16:27] vijaysun-omr commented on #14246
Those are very good results, and I am not worried about any of the minor regressions we see. How much of these gains come from the -Xmx == -Xms setting and how much from everything else ? I am curious, since it is probably easy to run these apps and get that.

[2022-01-20 17:02] #13563 closed

[2022-01-20 17:07] pshipton commented on #14328
Start with JIT to narrow it down further.
@vijaysun-omr @0xdaryl fyi

[2022-01-20 17:20] pshipton commented on #14330
It crashed in the `OpenGL(R) Driver for Intel(R) Graphics Accelerator` library when called from the opengl JNI code. You could try updating the driver. There is also `-Xcheck:jni` which may help identify problems with JNI code, but not sure if this would be helpful in this case. I wonder if something has been garbage collected which the native code didn't expect to be garbage collected. You could

[2022-01-20 17:43] babsingh commented on #14084
### re https://github.com/eclipse-openj9/openj9/issues/14084#issuecomment-1016848165

`java/lang/reflect/MethodHandleAccessorsTest.java#id1` failure happens because OpenJ9 does have the same exception message. OpenJ9 throws the correct exception: `IllegalArgumentException`. No exception message is expected by the test but OpenJ9 throws the following message: `argument type mismatch`. If there is a

[2022-01-20 18:17] tajila commented on #14097
@EricYangIBM How reproduceable is this failure?

[2022-01-20 18:18] tajila commented on #14097
I wasnt able to reproduce it, although I wasnt running with the test harness

[2022-01-20 18:21] EricYangIBM commented on #14097
I have been able to reproduce it in every run (with jtreg)

[2022-01-20 18:57] #14321 closed

[2022-01-20 19:08] fengxue-IS commented on #14084
TODO: remove https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/66c9122d0faa1473c464087bfde75949b070c10e/test/jdk/java/lang/reflect/MethodHandleAccessorsTest.java#L334-L336 from test so actual exception message is ignored when testing

[2022-01-20 19:09] tajila commented on #14097
I was able to reproduce the problem

[2022-01-20 19:10] tajila commented on #14097
The crash is caused by an issue where we put the wrong object in the `StackFrameImpl::frameModule` field

[code]

[2022-01-20 19:23] dsouzai commented on #14281
Edit to the previous issue: The PR opened does not interrupt existing compilations; it allows them to continue until they're done. It was just less complex to go down this path. If we want the compilations interrupted in the future we can always look into adding that in.

[2022-01-20 20:36] #14219 closed

[2022-01-21 00:45] #14326 closed

[2022-01-21 00:52] knn-k opened #14335 "Build failure on AArch64 Linux with ROUNDED_FOOTER_OFFSET()"
I see build failures on AArch64 Linux today.

https://openj9-jenkins.osuosl.org/job/Build_JDK11_aarch64_linux_Personal/216/console
[code]

I am seeing the same error in my local environment.

[2022-01-21 01:01] 0xdaryl commented on #14335
I think the problematic PR has been reverted:  #14334

[2022-01-21 01:22] a7ehuo commented on #14328
@thimo-seitz Could you share the commands you used to build the sample project and to run the test? Thank you! I got the following exception when I try to run the package I built.  I just did `mvn compiler:compile` and `mvn package` under `openj9-defect`.

[code]

[2022-01-21 01:31] knn-k commented on #14335
I can build locally now.

[2022-01-21 01:31] #14335 closed

[2022-01-21 01:50] pshipton commented on #13964
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.functional_x86-64_linux_OpenJDK18_testList_0/6/

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_sanity.functional_x86-64_linux_OpenJDK18_testList_0/6/functional_test_output.tar.gz
[code]

[2022-01-21 02:56] knn-k commented on #14335
Successful build in the internal Jenkins: job/Build_JDK11_aarch64_linux_Personal/238/

[2022-01-21 03:56] 1a2s3d4f1 commented on #14330
Core dump when using -Xshareclasses:none and -Xcheck:jni:warn
https://mega.nz/file/OdF0UJTb#ycEM0hNiDRLKpRFCQMH7cQuYdWJxzdPKSUkCDy5aGwU
The game crash when I add -Xcheak:jni This is crash report:https://pastebin.com/nkA016JP

[2022-01-21 04:17] pshipton commented on #14330
The crash report shows
[code]
The crash, this time in the vm, shows the same stack.
[code]
@tajila

[2022-01-21 08:23] thimo-seitz commented on #14328
Hello @a7ehuo

Theres no configuration of a `fat`-jar. I should have put more emphasis on that aspect. I import the Maven projects into eclipse myself, so i miss that frequently.
You can run that by `mvn clean compile exec:java -Dexec.mainClass=de.seitz.thimo.Main`

Beste Regards
Thimo Seitz

[2022-01-21 14:45] pshipton commented on #12696
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_s390x_linux_Release_testList_3/21 - rh7-390-2
MathLoadTest_bigdecimal_special_5m_16
`-XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xcheck:gc:vmthreads:all:quiet`

https://openj9-a

[2022-01-21 15:15] a7ehuo commented on #14328
Thanks @thimo-seitz! Now I'm able to reproduce the large gap on linux.

HotSpot
[code]

OpenJ9
[code]

[2022-01-21 15:34] siyy123 commented on #14300
I'm thinking this is a problem related to BCI, where a class bytecode is modified (or in other words patched by another class) without using JVMTI. Trying to disable BCI in SCC can help prevent it to crash.

[2022-01-21 15:45] ashu-mehra commented on #14253
An update on this issue:
I have been able to use a glibc tunable `glibc.cpu.hwcaps`[0] to disable certain cpu features when starting the application for checkpointing. This has worked well to overcome the issue with glibc/ld as mentioned above.

My tests were done on Fedora 30 system which has glibc 2.29. `GLIBC_TUNABLES` were set as:

`export GLIBC_TUNABLES=glibc.cpu.hwcaps=-XSAVEC_Usable,-XSAVE_

[2022-01-21 15:58] cjjdespres commented on #14299
It looks like the initial invocation count is determined by `getInitialCountForMethod` in `j9method.cpp`. Is that right?

[2022-01-21 16:03] pshipton commented on #14115
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_aarch64_linux_Nightly_testList_1/77/

[2022-01-21 17:28] mpirvu commented on #14246
![image](https://user-images.githubusercontent.com/22594880/150572563-517db172-bc08-4a67-af7e-9631fe6b2c9b.png)

[2022-01-21 17:33] mpirvu commented on #14299
It's more complicated than that. The routine that sets initial invocation counts to methods is `jitHookInitializeSendTarget` https://github.com/eclipse-openj9/openj9/blob/master/runtime/compiler/control/HookedByTheJit.cpp#L374

[2022-01-21 17:49] mpirvu commented on #14299
This is an example of how we increase counts after we exited startup mode: https://github.com/eclipse-openj9/openj9/blob/master/runtime/compiler/control/HookedByTheJit.cpp#L4894-L4928

Maybe we can do something similar.
JITStateLogic is executed every 0.5 sec, so a couple of `if` statements are not going to add a lot of overhead.
Note that the code may suffer some changes due to https://github.com

[2022-01-21 18:01] mpirvu commented on #14299
Since the new code does not depend on the JIT state, it should probably not be integrated into JITStateLogic, but rather put in the caller of JITStateLogic (samplerThreadProc), in the same loop that is executed every 0.5 sec.

[2022-01-21 18:22] cjjdespres commented on #14299
So after the `jitStateLogic` is run, we can just test for high cache occupancy and set the various initial invocation counts in `TR::Options::getCmdLineOptions()` and `getAOTCmdLineOptions()` directly. What do the various counts (`Count`, `BCount`, `MILCount`) correspond to?

[2022-01-21 18:38] joransiu opened #14342 "Apache Ignite crash during compilation on decRefCount()"
@rwrose2ibm was running Apache Ignite on z/OS and ran into the following crash during JIT compilation.

Java -version output
--------------------
[code]

Output from `java -version`.
If the shas are not public, include equivalent public shas.

Summary of problem
------------------

When starting up an Apache Ignite server and driving load, the server will crash with the following error detailed be

[2022-01-21 18:41] mpirvu commented on #14299
Yes. I believe we don't have to worry about synchronization issues as long as various threads read/write an integer because with all modern processors integer load/store is atomic as long as it is aligned on a natural boundary.
`count` is used for loopless methods
`bcount` is used for method with loops (b stands for backward branches which is what the interpreter checks)
`milcount` was used for "m

[2022-01-21 18:44] joransiu commented on #14342
From the JIT compilation log ([trace.zip](https://github.com/eclipse-openj9/openj9/files/7915917/trace.zip)), we crash due to the global reg deps child `n1168n` has an incorrect ref count.
[code]

The evaluation of `lor` is from the following IL tree, in which we generated ROSBG followed by RISBG.

[code]

Something is very fishy here too -- why is the LGR to GPR_0195 generated?
[code]

Next time

[2022-01-21 18:44] joransiu commented on #14342
I suspect this is another manifestation of: https://github.com/eclipse/omr/pull/6182  @dchopra001 , can you review the trace log above, and confirm?

[2022-01-21 18:51] joransiu commented on #14342
I've asked @rwrose2ibm to give our latest nightly build a try, which includes the fix mentioned above.

[2022-01-21 19:08] dchopra001 commented on #14342
@joransiu Yeah, this looks very similar to what we saw in https://github.com/eclipse-openj9/openj9/issues/13519 so a more recent build will most likely fix this problem.

[2022-01-21 21:08] #14323 closed

[2022-01-21 21:11] dsouzai commented on #14300
Sorry, wasn't able to get to this this week; will try to take a look on Monday.

[2022-01-21 21:14] tajila commented on #13633
The biggest challenge with this is determining how the SecureRandom instance was created. There are a few constructors

[code]

Depending on how the instance was created the restore behaviour will be different. The naive solution is to simply instrument all constructors and tag the resulting instance, so we know how it was created and how to restore it. This can work if there aren't many instances

[2022-01-21 21:16] tajila commented on #14253
@ashu-mehra thanks for the update. Just so I'm `export GLIBC_TUNABLES=...` needs to be set before the application starts? And there is no way to do this after the application has started (but before checkpoint) ?

[2022-01-21 21:19] ashu-mehra commented on #14253
Right, it needs to be set before launching the application.

[2022-01-21 21:20] tajila commented on #14253
https://www.gnu.org/software/libc/manual/html_node/Tunables.html suggests that there may be other ways to enable this:

[code]

I asked the question above because the JVM already has a notion of Portable/non-Portable restore mode, but the JVM needs to be lauched before it know which mode it is in. Without this info we need to be pessimistic.

[2022-01-21 21:23] tajila commented on #14253
Just for completeness, Ill post the solution I was thinking of exploring:

Reload glibc on restore:
- ensure that when the checkpoint is taken no thread is currently in a glibc routine
- upon restore (if desired) relead glibc so that it is using the version currently availble in the restore environment
    - this is done by dlclose() potentially multiple times to make sure the ref count goes to ze

[2022-01-21 21:31] keithc-ca commented on #14302
All versions undergoing PR build testing in #14343.

[2022-01-21 22:33] vijaysun-omr commented on #14246
I wonder what would happen to throughput if we avoided doing the logic enabled by `enableAggressiveInlining` even the opt levels higher than warm. i.e. I wonder if we can just put our faith in the frequencies as we do at warm and keep inlining within reasonable bounds for higher opt levels. Since they already use higher absolute thresholds for inlining budget etc. I feel we would get more inlining

[2022-01-21 22:53] joransiu commented on #14342
@rwrose2ibm  confirms the issue appears to have been resolved with our latest nightly.  Thanks for the quick review @dchopra001!

[2022-01-22 20:17] #14289 closed

[2022-01-22 22:31] a7ehuo commented on #14328
I’m seeing similar perf gap with Java17 [1].  The profile from Java 11 show most ticks from walk stack frames [2].

[1]
[code]

[2]
[code]

[2022-01-23 17:06] Mesbah-Alam opened #14349 "JDK17 : jdk_lang_0 fails at NativeLibraryTest with invalid boolean value: 'null' for expression 'vm.musl' on OpenJ9"
NativeLibraryTest fails with invalid boolean value: `null' for expression `vm.musl' on OpenJ9 JDK 17 while it passes on HotSpot JDK 17.

Output excerpt from [OpenJ9 run](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3231/consoleText ):

[code]

Java version:

[code]

Output excerpt from [HotSpot run](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3219/console):

[code]

Java

[2022-01-24 00:50] pshipton opened #14351 "ClassLoader/nativeLibrary/NativeLibraryTest.java re-enabled failing: should fail to load the native library by another class loader"
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK11/197/
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_Nightly/78/
all platforms
jdk_lang
java/lang/ClassLoader/nativeLibrary/NativeLibraryTest.java

Test was re-enable by https://github.com/adoptium/aqa-tests/pull/3255 so it's now running an failing on all platforms.

[code]

@JasonFengJ9 can you pl

[2022-01-24 00:57] pshipton commented on #14349
Isn't this a test setup issue?

[2022-01-24 01:27] knn-k commented on #14115
I see some NullPointerExceptions in rc021 in https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_aarch64_linux_Nightly_testList_1/77/ above.
No failures in the next nightly run: https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_aarch64_linux_Nightly/78/

[2022-01-24 02:11] smlambert commented on #14349
Do not think so, this test expects a system property vm.musl to have a value of true or false.  That property is null for openj9.

[2022-01-24 03:59] knn-k commented on #14115
10x Grinder on AArch64 Linux: No failures https://openj9-jenkins.osuosl.org/job/Grinder/542/

[2022-01-24 13:20] pshipton commented on #14349
It's not a system property, I don't see this property set in Hotspot, and it doesn't follow the usual conventions for system property names. It looks like a test harness property to me, we've had a number of similar problems in the past where OpenJ9 testing isn't setting a test harness property that is needed.

[2022-01-24 14:43] tajila commented on #14330
The exception doesnt make sense

[code]

The receiver

[code]

[2022-01-24 14:43] tajila commented on #14330
@1a2s3d4f1 does it fail when you run with -Xint?

[2022-01-24 15:51] 1a2s3d4f1 commented on #14330
@tajila It fall with -Xint

[2022-01-24 16:54] pshipton commented on #14115
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_aarch64_linux_Nightly_testList_0/75/
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_aarch64_linux_Nightly_testList_0/76/

[2022-01-24 16:54] pshipton commented on #14193
testRASAPI_0 is still intermittently (or not so intermittently) failing after changing the -Xmx settings.
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly_testList_0/185
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly_testList_0/186
[code]

@keithc-ca I wonder if there is actually something wrong with the co

[2022-01-24 16:57] gacholio commented on #13192
I can use that as a stopgap, but it's not correct - the finalizer worker threads are marked as GC but run java code. I suspect I'll need to add a new bit to the categories to describe this explicitly.

@dmitripivkine Is is true that the finalizer is never required to run in order for a GC (on allocation fail) to complete?

[2022-01-24 16:59] pshipton opened #14353 "win2012-x86-1 CreateProcess error=1455, The paging file is too small for this operation to complete"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/139

We had this problem before but the machines were fixed. Not sure if there are processes stuck on the machine or we somehow lost the correct settings.
https://github.com/eclipse-openj9/openj9/issues/10650
https://github.com/eclipse-openj9/openj9/issues/12664

@AdamBrousseau

[2022-01-24 17:09] JasonFengJ9 commented on #14351
As per the test comment [1], this is a GC specific test.
[code]
I think it should be excluded until further triage finds otherwise.

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/52406d9b07bdae60d9b622ff8d80067ecdee5764/test/jdk/java/lang/ClassLoader/nativeLibrary/NativeLibraryTest.java#L71-L78

[2022-01-24 17:19] pshipton commented on #14351
I don't have a problem excluding it (today so we can get green builds again). However I notice the test calls System.gc() only once, this may not be sufficient. I'll try updating the test to call System.gc() more times and see if that is a quick fix for the problem.
@dmitripivkine fyi

[2022-01-24 17:32] pshipton commented on #14351
Tried the following but it didn't help https://github.com/pshipton/openj9-openjdk-jdk11/commit/ae706604

https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/543/

[2022-01-24 17:34] pshipton commented on #14351
Not sure this is a GC issue, the error `should fail to load the native library by another class loader` seems to indicate a VM issue.

[2022-01-24 17:39] pshipton commented on #14351
Created exclude https://github.com/adoptium/aqa-tests/pull/3280

[2022-01-24 17:43] hangshao0 commented on #14198
Does it happen frequently ? I want to know how reproducible it is (I don't recall we fail at this assertion before).

[2022-01-24 18:35] dmitripivkine commented on #13192
I think answer is yes in general. I am not sure about case java code executed from Finalizer thread does object allocation - it might be a reason to trigger GC and Finalizer thread (as any other Mutator thread) might become GC Main thread and be involved in GC.

[2022-01-24 18:52] JasonFengJ9 commented on #14351
Didn't think it a gc problem, probably a test issue (to be triaged).

[2022-01-24 19:05] tajila commented on #14330
@1a2s3d4f1 No not necessary. Can you give me instructions on how to reproduce this? I have a linux x86-64 env, can it work there?

[2022-01-24 19:18] babsingh opened #14354 "[JDK18] IsRecordTest Segfaults Intermittently"
### OpenJDK Test
[code]

This failure is intermittent, and it was noticed with **JDK18**.

### Errors
https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk18_j9_sanity.openjdk_x86-64_linux_Personal/15/console

[code]

Related: #13946

[2022-01-24 19:37] ashu-mehra commented on #14253
@tajila I am not sure I understand how reloading of glibc would solve this problem. Once the `GOT` entry for a library function is patched with an implementation, then the `ld` would not attempt to resolve it again. So loading glibc again may not help here. It may require editing the checkpoint image to "unresolve" the GOT entries.
This can actually be achieved using env variable `LD_BIND_NOT`[1]

[2022-01-24 20:55] keithc-ca commented on #14302
Done; closing.

[2022-01-24 20:55] #14302 closed

[2022-01-24 21:17] EricYangIBM commented on #14354
Java stack:
[code]
Failing thread:
[code]
Stackslots:
[code]

[2022-01-24 21:22] keithc-ca commented on #14193
Can we arrange to capture a problematic (or at least representative) core file?

Perhaps the heap limits were applied too widely: we want to limit the size of an expected core file, but we may not want to limit the heap of the JVM that is _examining_ a core file.

It might also be sensible to limit the length of symbols to reasonable lengths.

[2022-01-24 21:43] EricYangIBM commented on #14354
Core files:
https://ibm.box.com/s/clrv65sy73enmdkn2615micln7rlm5yr

[2022-01-24 21:54] pshipton commented on #14193
The JVM creating the dump and the JVM examining the dump are the same in this case. I suspect it was unnecessary to change the original `-Xmx128M` to `-Xmx512M`, it just seemed necessary because the failure was intermittent or dependent on the machine.

I've started some grinders with https://github.com/eclipse-openj9/openj9/compare/master...pshipton:ras to try and capture the core. Otherwise we c

[2022-01-24 22:32] a7ehuo commented on #14328
I collected `-verbose:stackwalk` closer to the following line.
[code]

I see lots of "`BEGIN STACK WALK`" are from `java/lang/ClassCastException` thrown from method `de/seitz/thimo/Main$$Lambda$375/0x0000000000000000.matches(Lspoon/reflect/declaration/CtElement;)Z` as below.
[code]

I extracted out a list of the exceptions to the attached log:
[14328_exception_list_2022_01_24.txt](https://github.c

[2022-01-24 23:20] pshipton commented on #14193
Still trying to capture a core. I think the reason it didn't fail in previous grinders was because I didn't overlay the debug image.
I tried 1G but it didn't work, I'll give 2G a shot. Hard coding such a large size is problematic, we might start failing on other machines that have limited memory.

Is there a way to turn off reading all the symbols? The test is doing the following when OOM occurs.

[2022-01-24 23:29] knn-k commented on #14115
AArch64 Linux JDK 8 tests above:
- 75: NPEs at `Objects.requireNonNull()` (same as JDK 11 failure above)
- 76: `***[TEST INFO 2022/01/24 01:09:24] ProcessKiller detected a timeout after 240000 milliseconds!***`

[2022-01-25 00:12] dsouzai commented on #14300
Not really sure what's going on as this is quite deep in the codegen. There does seem to be something off though. I've been looking at the `-Xquickstart` run.

The java stack at the time of the crash looks like this:
[code]
From the stackslots:
[code]
The top frame is a JIT JNI call-out frame. The native stack looks like this:
[code]
There is a helper call to acquire vmaccess in `org/lwjgl/openal/

[2022-01-25 02:01] 1a2s3d4f1 commented on #14330
@tajila Running vanilla minecraft with openj9 nightly build can reproduce this issue. It happend on vanilla minecraft 1.16.5 or 1.18.1. I use [HMCL](https://github.com/huanghongxun/HMCL/releases) to launch game.

[2022-01-25 02:23] knn-k commented on #14115
1 failure during GC in 20x Grinder jobs on AArch64 Linux JDK 8: https://openj9-jenkins.osuosl.org/job/Grinder/555/

[2022-01-25 09:37] TueDissingWork commented on #14198
It seems to happen for every tests. So as soon as the JVM is forked (or at least tried to) this happens.

[2022-01-25 12:56] thimo-seitz commented on #14328
@a7ehuo Not really. Little mistake in the sample code. The cast should be to `CtType`. In the original project the model consists purely of CtClass. I've updated the sample project:
[openj9-defect-v2.zip](https://github.com/eclipse-openj9/openj9/files/7933698/openj9-defect-v2.zip)
.

[2022-01-25 13:10] 0xdaryl commented on #14124
Ping for status on this investigation please.

[2022-01-25 14:08] pshipton commented on #14193
Using -Xmx1500M worked (in 1 try), but resulted in a timeout on a new AIX machine (p8-java1-ibm04).

[2022-01-25 14:12] 0xdaryl commented on #14228
Ping for a status update on this blocking issue please.

[2022-01-25 14:31] hzongaro commented on #14228
Sorry!  I missed the @ mention.  Taking a look.

[2022-01-25 16:10] 0xdaryl commented on #13314
Adding this to the JDK18 milestone (@pshipton).  Fix testing is underway.

[2022-01-25 16:38] ymanton opened #14361 "CRIU: Checkpoint/Restore Feature Status"
# CRIU-based Checkpoint/Restore Feature Status

## Dependencies

### Running as root or as user with root capabilities

#### Native

* criu >= 3.14 (Older versions are untested.)

#### Containers

##### Docker

* All of the above.
* Container with `--privileged`

##### Podman

* Unknown

##### OCP

* Unknown

### Running as user with only `CAP_CHECKPOINT_RESTORE`

#### Native

* kernel with `CAP_C

[2022-01-25 20:19] tajila commented on #14226
This passes with the changes here, https://github.com/eclipse-openj9/openj9/pull/14357. Not sure if that PR actually fixes it, or if it was fixed before

[2022-01-25 20:20] tajila commented on #14227
@JasonFengJ9 does this still fail?

[2022-01-25 20:42] JasonFengJ9 commented on #14227
It failed on a Jan. 21st build.
https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk18_j9_extended.functional_x86-64_windows_Personal_testList_1/8/consoleFull
[code]
I think it hasn't been fixed.

[2022-01-25 20:56] EricYangIBM commented on #14354
Native stack:
[code]

[2022-01-25 21:14] EricYangIBM commented on #14354
Maybe this is related to https://github.com/eclipse-openj9/openj9/issues/14124? (`java/lang/String.formatted(String.java:4960)`)

[2022-01-25 23:04] nbhuiyan commented on #14124
Last week I ran into the issue of having many verbose logs generated when trying to reproduce the crash, which made it difficult to narrow down to the method(s) that have to be JIT compiled (or AOT loaded) to cause the failure. Eventually, I  have been able to single out just one method that is AOT compiled and loaded for the failure to occur:

[code]

The failure does not happen with AOT disabled

[2022-01-25 23:57] pshipton commented on #14227
The test needs to be fixed. It's making assumptions that are no longer true with UTF8 as default. We needed to fix other things related to UTF8 as default before this test could be fixed, but they are fixed now.

[2022-01-26 01:19] pshipton commented on #14193
With Lan's help I captured the core files. The one it's reading to cause the OOM, and the core from the OOM.

https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/573/
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Grinder/573/functional_test_output.tar.gz

[2022-01-26 01:55] hzongaro commented on #14228
Trying grinder runs on that particular failure, I am able to reproduce the failure on 100% of runs.  Running with `-Xnoaot` the test passes.  Continuing to investigate.

[2022-01-26 04:04] pshipton commented on #14228
Possibly the same problem as https://github.com/eclipse-openj9/openj9/issues/14124 ?

[2022-01-26 11:00] thimo-seitz commented on #14328
Hello @a7ehuo.
Strange. Why apears that ClassCastException nowhere? Nor in stdout or stderr?
I've modified the sample so that there shouldn't be any ClassCastException and now both runs are in the same area of consumed time: 7 seconds vs. 10 seconds.
Since the interface of Filter of getElements is a GenericType is that case is not handled properly by openj9, if theres used a subtype? Trying to for

[2022-01-26 13:09] JasonFengJ9 commented on #14227
Agreed

[2022-01-26 14:01] pshipton commented on #14124
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_x86-64_mac_OpenJDK_testList_0/45

[2022-01-26 14:02] hzongaro commented on #14228
Thanks, Peter!  I will test out that possibility.

[2022-01-26 14:30] llxia opened #14364 "Diagnostic files in RasapiTest are not captured"
Ideally, all tests should output into `aqa-tests/TKG/output_<timestamp>/<testTargetName>` and the test pipeline will archive it after the test execution in the case of failure. However, diagnostic files in RasapiTest are outputted into test resource dir (i.e., `/home/jenkins/workspace/Grinder/jvmtest/functional/RasapiTest/`) , not `aqa-tests/TKG/output_<timestamp>/RasapiTest`.

https://openj9-jenk

[2022-01-26 14:32] pshipton commented on #14078
Haven't seen this again.

[2022-01-26 14:32] #14078 closed

[2022-01-26 14:38] JasonFengJ9 commented on #10489
Appeared at `0.30.0` release build `job/Test_openjdk8_j9_sanity.system_x86-64_mac_testList_2/142/` (`mac10x64rt04`)
[code]

[code]

[2022-01-26 14:52] tajila commented on #14265
@AdamBrousseau FYI

[2022-01-26 16:00] pshipton commented on #14349
Example of fixing another test property for OpenJ9 @llxia
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/300

[2022-01-26 16:17] pshipton commented on #14364
Unless there is a better solution, I plan to fix testRAPAPI itself via https://github.com/eclipse-openj9/openj9/compare/master...pshipton:ras
There is no PR created yet, as we're still working on the solution to testRASPI failures https://github.com/eclipse-openj9/openj9/issues/14193. Until we have a solution to failures, I don't want to collect core files every day when the test fails.

[2022-01-26 16:46] keithc-ca commented on #14193
I have a copy of the test output and will have a closer look at the core files.

[2022-01-26 17:13] dblinn opened #14366 "Slow application performance when -Xaggressive and/or -Xtune:virtualized JVM options are enabled"
Java -version output
--------------------

[code]

Summary of problem
------------------

Our application, running on OpenJ9, is experiencing intermittent performance problems. We execute a series of computations on a single thread, that performs no network or disk I/O and acquires no locks that takes about 50 seconds on a particular dataset running on our performance testing hardware. However, we

[2022-01-26 18:04] keithc-ca commented on #14193
According to MAT, these are the top consumers of heap space in `heapdump.20220125.190208.17367130.0027.phd`:
[code]

[2022-01-26 18:24] babsingh commented on #14354
The above diagnostic information is not sufficient to indicate that this issue is the same as #14124. In the native stack trace, debug symbols for key functions are missing. Also, the segfault happens in `libj9jit29.so` but the `stackslots` do not have JIT frames. Not sure if it is a VM or JIT issue; thus, added `comp:vm` + `triageRequired` labels.

In #14124, the key symptom is `<unknown>+0x0` in

[2022-01-26 18:33] keithc-ca commented on #14193
The above suggests that the core file is not being interpreted properly, or has an unreasonable number of symbols (> 14M).

[2022-01-26 18:34] llxia commented on #14349
@LongyuZhang could you help with this? Thanks

[2022-01-26 18:39] llxia commented on #14364
Thanks @pshipton . Please go ahead with the `-Dbasedir=$(REPORTDIR)` change.

[2022-01-26 18:57] pshipton commented on #14366
@vijaysun-omr @mpirvu @0xdaryl fyi

[2022-01-26 19:35] keithc-ca commented on #14193
The core file itself seems not to be the problem; it's reading (a large number of) symbols from the executable or some shared library.

[2022-01-26 19:39] #3394 closed

[2022-01-26 19:39] #14132 closed

[2022-01-26 20:43] dsouzai commented on #14300
Well I figured out what's wrong; I don't know how we didn't hit this sooner...

As can be seen in the disassembly, the address of the `mov` instruction is `00007ff988a9d9f0`. As acquired from the reloLog, the value of `reloLocation` is `00007ff988a9d9f2` which is the immediate field of the `mov` instruction. Now, as part of relocation, we register a runtime assumption for this JNI call site:
https

[2022-01-26 20:57] dsouzai commented on #14300
@siyy123 in the meantime, I suppose you could run with `-Xaot:disableDirectToJNIInline` (after destroying any current SCC). If that doesn't work, then you'll have to do `-Xaot:disableDirectToJNI` (after destroying the SCC).

[2022-01-26 21:45] keithc-ca commented on #14193
I suspect a leak somewhere. I have a test program that loads the core file repeatedly, eventually running out of memory.

[2022-01-26 21:49] dblinn commented on #14366
Here is some additional data after running some more experiments. The .zip files below each experiment description are the GC verbose logs and JVM trace logs captured for each run.

When I remove the `-Xtune:virtualized` flag, but leave `-Xaggressive`, the garbage collector appears well-behaved but I still get the slow performance (although not quite as slow as having both flags together).
[code]

[2022-01-26 21:52] dblinn commented on #14366
Also, while this is somewhat unscientific it may be helpful in diagnosing the issue - in order to get the "slow" performance with any set of flags, I have noticed that I have to let the application idle for about 30+ minutes at startup before loading the data that triggering the expensive computation. From what I have seen, if I trigger the computation sooner after startup, I seem to get the "fast

[2022-01-26 22:02] tajila commented on #14016
@llxia Is it possible to create a test that requires usage of two machines?

Here is a scenario that I'm thinking about. Create a checkpoint on HostA, restore it on Host B.

[2022-01-26 22:08] tajila commented on #14226
@JasonFengJ9 These tests pass with the latest changes, can you please close

[2022-01-26 22:08] tajila commented on #14226
Also, if tests were excluded please unexclude

[2022-01-26 22:14] vijaysun-omr commented on #14366
`-Xtune:virtualized` does have differences in what happens wrt JVM's idle state detection/handling. @mpirvu are there options to disable that aspect of `-Xtune:virtualized` or any other suggestions on how to advance this issue ?

[2022-01-26 22:18] JasonFengJ9 commented on #14226
Thanks for triage & fix, these tests weren't excluded.

Closing..

[2022-01-26 23:57] mpirvu commented on #14366
`-Xtune:virtualized` has many changes under the hood, changed geared biased towards small footprint and low CPU consumed by JIT compilation (possibly at the expense of a small throughput loss).
From the GC point of view, `-Xtune:virtualized` implements this change:
[code]
and also instructs the GC to trigger a collection when the JVM idles for more than ~4 minutes. This last behavior can be disabl

[2022-01-27 00:01] pshipton opened #14370 "AIX cmdLineTester_pltest testOnlineProcessorCount Permission denied"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Personal_testList_1/107 - p8-java1-ibm03
cmdLineTester_pltest_aix_0

[code]

This is on one of the new AIX machines, I expect something isn't setup correctly in order for the JVM to get the processor count.

[2022-01-27 01:23] mpirvu commented on #14246
enableAggressiveInlining does this:
[code]
`TR_RestrictInlinerDuringStartup` is only enabled during -Xquickstart and applies to trivial inliner. There is no need to disable it in -Xtune:throughput because it is already disabled (besides, -Xtune:throughput does not perform cold compilations).
`TR_DisableInliningDuringVPAtWarm`: as the name suggests, this does not apply to hot compilations. Experime

[2022-01-27 01:33] Akira1Saitoh opened #14374 "AArch64: Preserve vector registers in JNILinkage"
Update `J9::ARM64::JNILinkage::buildJNIArgs` to preserve vector registers because vector registers are caller saved registers as described in https://github.com/eclipse/omr/issues/6318.

[2022-01-27 01:35] Akira1Saitoh commented on #14374
FYI @knn-k @0xdaryl @gita-omr

[2022-01-27 01:44] dblinn commented on #14366
Thanks very much @mpirvu for the details that is very helpful. Given your explanation, I am a bit puzzled why I was still able to see slow performance with only the `-Xaggressive` option enabled.

I will try adding `-XX:-IdleTuningGcOnIdle` and see if the performance improves as you suggested.

[2022-01-27 03:48] knn-k commented on #11164
Changes for the JIT compiler (already merged):
- https://github.com/eclipse/omr/pull/6270
- https://github.com/eclipse-openj9/openj9/pull/14213
- https://github.com/eclipse-openj9/openj9/pull/14359
- https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/2

[2022-01-27 03:52] knn-k commented on #11164
An OMR PR related to macOS:
- https://github.com/eclipse/omr/pull/6267

[2022-01-27 04:09] mpirvu commented on #14366
My guess is that the extra profiling enabled by -Xaggressive adds transient overhead which causes the performance to fluctuate. Could you please generate some compilation verbose logs by adding `-Xjit:verbose={compilePerformance},vlog=vlog.txt` to the JVM command options and run with and without `-Xaggressive` to compare the two?

[2022-01-27 06:08] siyy123 commented on #14300
-Xaot:disableDirectToJNIInline seems to work for me. It would not core dump anymore for both -Xquickstart and -Xaot:count=0 options.

[2022-01-27 12:19] sej-jackson commented on #14370
Hi @pshipton - `si.c` is no longer present for me to look at, so could you give me the command that you're using to check the processors please?

It should be 5 virtual processors on ibm03 (and also ibm01 & 02), while the rest currently have 4.

[2022-01-27 13:54] pshipton commented on #14370
The test source is easy, this is the line mentioned in the failure.
https://github.com/eclipse-openj9/openj9/blob/master/runtime/tests/port/si.c#L1331

The error code seems unlikely to have originated from `j9sysinfo_get_number_CPUs_by_type(J9PORT_CPU_ONLINE)`, as it's not making an API call (https://github.com/eclipse/omr/blob/master/port/unix/omrsysinfo.c#L2705). The error code isn't necessarily

[2022-01-27 14:31] dblinn commented on #14366
I tried `-XX:-IdleTuningGcOnIdle` and did not see any performance improvement. I will try collecting the verbose JIT compilation logs next.

[2022-01-27 14:48] JasonFengJ9 commented on #12219
Appeared at a `0.30.0` release build `job/Test_openjdk8_j9_extended.perf_aarch64_linux/42/` (`cent7-aarch64-6`)
[code]

[code]

It seems not ported to the release branch.

[2022-01-27 15:26] tajila commented on #14097
We have a difference in the original reflection implementation which means we can not re-enable all the tests. This difference exists as far back as JDK11. However, the segfaults have been fixed.

[2022-01-27 15:44] sej-jackson commented on #14370
Ah, code..... are you able to put together a small sample to try and reproduce it with?

I did try a few different commands earlier and everything that worked as root also seemed to be perfectly fine when run as the jenkins account.

[2022-01-27 15:56] aixtools commented on #14370
I think this will explain it. `Common` in DLPAR environment.
- the VP were 6, shortly, then got brought down to 5.
- The system shows 5 processors, but you would expect them to be numbered _sequential_ numbers of 8: 0,8,16,24,32 - but what we see is:
[code]

[2022-01-27 16:01] dblinn commented on #14366
@mpirvu how long would you expect the "transient overhead" from `-Xaggressive` to last? I had a test run going that ran all night (usually we do not run our performance tests this long because we are just running the same computation over and over in a loop and don't expect the results to change very much by letting them run longer than a few hours) and performance was "slow" from `2022-01-27 02:2

[2022-01-27 16:32] pshipton commented on #14370
Putting together a "small" standalone sample is a lot of work, but I can give you instructions to run the test we have on p8-java1-ibm03. I can also modify it as necessary to debug.
[code]

I've modified it already to print the two values which don't match, and it's showing `Invalid online processor count found 20 24`. The first is the `_system_configuration.ncpus` and the second is the number fou

[2022-01-27 16:54] pshipton commented on #14370
I tried to add another print to show the online cpu numbers. but it didn't work. Anyway you can see in the j9sysinfo_testProcessorInfo test is lists all the cpu numbers, which are sequential from 0 - 23.

[2022-01-27 16:56] JasonFengJ9 opened #14379 "Adopt_J9_FeatureTests_0_FAILED - vmPropertiesPointToVendor & freetypeOnlyBundledOnCertainPlatforms"
Failure link
------------

From an internal build `job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-openj9_SmokeTests/29/console`(`mac11x64rt12`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=%2Ftest%

[2022-01-27 17:00] pshipton commented on #14370
Maybe the machine just needs a reboot?

[2022-01-27 17:11] pshipton commented on #14370
The cpus are detected via perfstat_cpu(), which apparently is returning performance stats for the processor which is no longer online. Since there are performance stats, the code is assuming the cpus are online.

https://github.com/eclipse/omr/blob/master/port/unix/omrsysinfo.c#L4896
https://github.com/eclipse/omr/blob/master/port/unix/omrsysinfo.c#L4926
https://github.com/eclipse/omr/blob/master/

[2022-01-27 17:19] pshipton commented on #12219
Correct, the change came in too late and didn't make the 0.30 release.

[2022-01-27 17:31] pshipton commented on #14370
Rebooting did resolve the test failure.

[2022-01-27 17:46] vijaysun-omr commented on #14361
We may need to mention `dumb-init` and any other pre-requisites like that (if any) here too, so that it is all captured in one place.

As we discussed yesterday, the docker command line options to avoid privileged should also be mentioned here in a separate section of the above summary (am sure Younes/Irwin will do that when time permits, no rush). This is also related to actually trying out those

[2022-01-27 17:51] vijaysun-omr commented on #14361
@ymanton since you are in touch with the CRIU folks, are you able to find out more about the outlook for https://github.com/checkpoint-restore/criu/pull/1155 ? I ask, since this would make it easier for us to consume CRIU for our purposes and would also allow you to merge the commits that you created that rely on that PR as a prereq.

[2022-01-27 17:55] llxia commented on #14379
For 0.30.0, the smoke tests for JDK11 and JDK17 are fine. We only see the issue with JDK8. For example:
job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-openj9_SmokeTests/31/
job/build-scripts/job/jobs/job/jdk17u/job/jdk17u-aix-ppc64-openj9_SmokeTests/31/

internal issue for the overview: infrastructure/issues/6431

[2022-01-27 17:56] #14080 closed

[2022-01-27 18:06] gacholio commented on #13192
@0xdaryl I'm approaching the point where I'll need the patch @vijaysun-omr mentioned to prevent direct access to SA object slots in the stack.

[2022-01-27 18:06] pshipton commented on #14115
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_aarch64_linux_Nightly_testList_1/79/

[2022-01-27 18:08] pshipton commented on #13875
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/192

[2022-01-27 18:11] mikezhang1234567890 commented on #14192
I'm still not sure why memory allocated by the system function `mach_vm_read` becomes invalid in a signed app, but using stack allocated memory gets around the issue so I created https://github.com/eclipse/omr/pull/6319

[2022-01-27 18:17] tajila commented on #14354
@EricYangIBM can you reproduce this with -Xint?

[2022-01-27 18:17] babsingh commented on #14178
@EricYangIBM The above native stack matches the one posted in https://github.com/eclipse-openj9/openj9/issues/14354#issuecomment-1021600946. Was `debug-image.tar.gz` unzipped into the JDK while viewing the native stack?

How often does the segfault happen?

[2022-01-27 18:19] JasonFengJ9 opened #14380 "testRASAPI_0_FAILED OutOfMemoryError: Java heap space at java.lang.StringCoding.decodeUTF8_0(StringCoding.java:733)"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_extended.functional_ppc64_aix_testList_0/164/`(`paix820 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_extended.functional_ppc64_aix&DOCKER_REQUIRED=false&ACTIVE_NOD

[2022-01-27 18:21] pshipton commented on #11868
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64_aix_Nightly_testList_0/137 - p8-java1-ibm05
MiniMix_5m_1 `-XX:-UseCompressedOops`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_ppc64_aix_Nightly_testList_0/137/system_test_output.tar.gz

[2022-01-27 18:23] tajila commented on #14049
Can this be closed @JasonFengJ9

[2022-01-27 18:25] pshipton opened #14382 "testSoftMxDisclaimMemory crash vmState=0x00020002"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_linux_Nightly_testList_0/128 - ub16x64j98
testSoftMxDisclaimMemory_3 `-Xjit -Xgcpolicy:balanced -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.functional_x86-64_linux_Nightly_testList_0/128/functional_test_output.tar.gz
[code]

@dmitripivkine

[2022-01-27 18:26] EricYangIBM commented on #14178
Yes I loaded the symbols from the debug image, before that I couldn't get any text. Isn't the reason for the stack matching because the signal handling is the same? Also I believe I ran `jdk_util` 13 times with the test enabled and it failed on the 12th. I couldn't reproduce it by running the test individually (although only ran 20 times)

[2022-01-27 18:27] pshipton commented on #14124
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_s390x_linux_OpenJDK_testList_0/55/
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_s390x_linux_OpenJDK_testList_1/55/

[2022-01-27 18:29] tajila commented on #14178
@EricYangIBM Are you able to reproduce with -Xint?

[2022-01-27 18:33] JasonFengJ9 commented on #13756
Observed at an internal build `job/Test_openjdk11_j9_extended.openjdk_s390x_linux/52/` (``)
[code]

[code]

[2022-01-27 18:33] JasonFengJ9 commented on #14153
Dup of https://github.com/eclipse-openj9/openj9/issues/13756

[2022-01-27 18:33] #14153 closed

[2022-01-27 18:37] pshipton commented on #14380
This is a dup of https://github.com/eclipse-openj9/openj9/issues/14193 which fails every day on jdk11 and is under active investigation. Feel free to ignore the failures.

[2022-01-27 18:37] #14380 closed

[2022-01-27 18:46] babsingh commented on #14178
Yes. Also, the existence of `j9_void_void` in both stacks.

[2022-01-27 18:57] JasonFengJ9 commented on #14193
This failure is not machine specific, the issue title can be more specific.

[2022-01-27 18:57] aixtools commented on #14370
Please see if `perfstat_reset()`, or maybe better, `perfstat_reset_partial()` (to selectively clear configuration from cache helps.

[2022-01-27 19:07] JasonFengJ9 commented on #14115
`cmdLineTester_jvmtitests_hcr_OSRG_nongold_2_FAILED` at `job/Test_openjdk11_j9_extended.functional_x86-64_windows_testList_2/137/`(`win16x64rt2-10`)
[code]

[2022-01-27 19:15] zl-wang commented on #14370
in AIX world, you should look for the number of logical CPUs (equivalent to virtual CPUs on Linux).  CPU or virtual CPU on AIX means/corresponds to core or virtualized core (which each could have multiple threads or logical CPUs). since many years ago, AIX stopped running on bare-metal machines.  **perfstat_partition_config** is a safe API to get the number of logical CPUs online, or **system_conf

[2022-01-27 19:15] JasonFengJ9 commented on #14049
I am not aware any outstanding task required by this JEP.

Closing..

[2022-01-27 19:15] #14049 closed

[2022-01-27 19:39] dblinn commented on #14366
@mpirvu I've collected the JIT logs although it looks like they contain some application data that I would prefer not to share in a public forum in case any of it is sensitive so I will send them to you via another channel if that is ok. I collected logs for two runs, once with `-Xaggressive` (and also `-Xtune:virtualized` and `-XX:-IdleTuningGcOnIdle`) that was "slow" (mean time of 81.34s), and a

[2022-01-27 19:42] JasonFengJ9 commented on #12479
dup of https://github.com/eclipse-openj9/openj9/issues/12151

[2022-01-27 19:42] #12479 closed

[2022-01-27 20:09] mstoodle commented on #14299
did you consider including in this heuristic some notion of how much time and how many GC cycles have passed since class unloading was performed? i.e. if GCs are happening regularly and dead classes are being unloaded, is it really necessary to raise the thresholds?

[2022-01-27 20:14] babsingh commented on #14354
https://github.com/eclipse-openj9/openj9/issues/14354#issuecomment-1020555710: `String.formatted` is being run in the top frame. The `extra` field in this `J9Method` is set which indicates the method was compiled at one point. During the segfault, it has a bytecode frame. Potentially, a sign of OSR transition, which may have caused the O-slot corruption.
[code]

[2022-01-27 20:17] JasonFengJ9 commented on #13368
Appeared in a `0.30.0` release build `job/Test_openjdk17_j9_special.system_s390x_linux_testList_2/139/tapResults/`(`ub18s390xrt-1-7`)
[code]

[2022-01-27 20:30] #14280 closed

[2022-01-27 20:58] gacholio commented on #13838
All of the OpenJ9 issues have been resolved, so closing.

[2022-01-27 20:58] #13838 closed

[2022-01-27 21:01] keithc-ca opened #14385 "StackOverflowError trying to analyze a core dump"
Java -version output
--------------------

[code]

Summary of problem
------------------
While trying to explore a possible leak (see #14193) using the `!strongrootpathfind` command from `jdmpview`, I encountered a `StackOverflowError`:
[code]
After increasing the stack size with `-J-Xssi16M -J-Xss512M`, when the error occurs, there's more than a million stack frames. It would seem the recursive i

[2022-01-27 21:11] hangshao0 commented on #14198
There is only one place changing `_commonCCInfo->oldWriterCount`, that is `SH_CompositeCacheImpl::enterWriteMutex()`.
`_theca->writerCount` can only be changed inside `SH_CompositeCacheImpl::enterWriteMutex()` and `SH_CompositeCacheImpl::exitWriteMutex()`. Those changes are all protected by the write lock. It is still not clear to me how this could happen.

I had no lock reproducing this locally.

[2022-01-27 21:19] dmitripivkine commented on #14382
The problem is GC crashed an attempt to scan object `0x00007f52ef312f38` taken from Work Packet but actually the is Linked From Header at this address:
[code]
Current Work Packet:
[code]
This data in work packet is very likely taken from object `!j9indexableobject 0x00007F52EF312328 0 340` (from the end in backward order). There are many elements in WP were copied from this array.

The real proble

[2022-01-27 21:21] nbhuiyan commented on #14124
I was able to obtain the AOT compilation log for `Formatter.toString` that resulted in a crash. Here are the relevant parts of the AOT log responsible for running into the crash:

[code]

`BRASL   GPR14, 0x000003FF03203440` is a call to the virtual unresolved call snippet, which attempts to patch the two succeeding instructions with the vtable entry address (`GPR14`) and its index (`GPR0`). Upon r

[2022-01-27 22:02] gjdeval opened #14386 "IBM Java enforces default max heap size on startup, when larger -Xms is specified"
If the user specifies an -Xms value that is larger than the default max heap size, and does not specify -Xmx, the JVM fails to start, because it enforces the default -Xmx. Note also that the error message IBM Java gives in this scenario is somewhat cryptic:
	JVMJ9GC020E -Xms too large for heap
            This does not tell the user what the real problem is (default -Xmx), or how to fix it.

In th

[2022-01-27 22:12] mpirvu commented on #14299
No, and I wouldn't know how to come with sensible defaults for these. I do believe that the GC should take into consideration the code cache occupancy when deciding whether or not to unload classes. I already raised this issue with GC team.
Even if classes/methods are not unloaded, if we start to run out of code cache, we should become more selective with respect to what gets compiled, hence the i

[2022-01-27 22:29] llxia commented on #14016
ah, we were just talking about this - see issue https://github.com/adoptium/aqa-tests/issues/2841
This issue title is about server and client, but the solution will be generic. How the machine is used will depend on the test itself. We can discuss if you have any specific requirements.

FYI @smlambert

[2022-01-27 23:12] mpirvu commented on #14246
I tested the effect of `acceptHugeOptions` plus the 3 options mentioned above that can affect hot/scorching compilation and I can say that none of them have a definite influence on DaCapo or SPECjbb2005.
`acceptHugeMethods` may improve `h2` by 2.4% and `SPECjbb2005` by 2.4%
`inlineVeryLargeCompiledMethods` may improve `jython` by 2.3% and regress `avrora` by 0/9% and regress `SPECjbb2005` by 1.8%

[2022-01-28 01:31] knn-k opened #14387 "DDR support on AArch64 macOS"
There are a couple of problems with DDR support on AArch64 macOS:

- Build failures under certain condition
- Error message ""DDR is not enabled for this core file" in jdmpview

[2022-01-28 01:38] knn-k commented on #14387
Error in building DDR:
[code]

I cannot reproduce this in my local environment.

[2022-01-28 03:33] mpirvu commented on #14366
Looking at the verbose logs I see that
1. There is a lot of processing power in terms of CPU cores and memory available to the JVM
2. The JVM consumes less than the number of CPU cores available (does not run at saturation)
3. Compilation queue size is quite small compared to other applications that I am used to

Based on the above there is no need to use `-Xtune:virtualized`. This option is a goo

[2022-01-28 03:52] pshipton commented on #14386
@dmitripivkine

[2022-01-28 06:48] knn-k opened #14390 "JVMTI test failures on AArch64 macOS"
I see segmentation faults in `cmdLineTester_jvmtitests_1` and other jvmtitests on AArch64 macOS.
Here is an example.

[code]

Other segmentation faults include:
- `Symbol=jvmtiGetHeapFreeMemory` in ghftm001
- `Symbol=jvmtiGetMethodAndClassNames` in gmcpn001
- `Symbol=jvmtiGetJ9method` in gj9m001

Summary output from `cmdLineTester_jvmtitests_1`:
[code]

[2022-01-28 08:43] knn-k commented on #14390
`stack_info_ptr` is broken (x28=0000000000000003) in the gaste001 case above.

[2022-01-28 14:11] tajila commented on #14097
The tests have been re-included

[2022-01-28 14:43] pshipton commented on #14097
Removed the test excluded label and added perm excluded for the remaining tests that won't be fixed.

[2022-01-28 14:43] pshipton commented on #14097
@tajila this can be closed now?

[2022-01-28 15:03] pshipton commented on #14124
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.functional_x86-64_mac_OpenJDK_testList_0/47/

[2022-01-28 15:07] pshipton commented on #14115
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_1/185/

[2022-01-28 15:09] dblinn commented on #14366
@mpirvu Thanks for taking the time to look at the logs. With respect to your thoughts on the environment, to give you a little background, we are running these experiments in our performance testing environment with very powerful hardware and in fairly isolated conditions to ensure that any performance issues we see are unlikely to be due to resource constraints or contention. This particular envi

[2022-01-28 15:11] tajila commented on #14097
Yes we can close it

[2022-01-28 15:11] #14097 closed

[2022-01-28 15:27] llxia commented on #13891
@LongyuZhang any update on this issue? Could we re-enable this test in Jenkins and exclude it on vmfarm for now? That means excluding it for JDK8 and ibm.

[2022-01-28 15:30] llxia commented on #10757
jdk_net is unstable as it is network heavy test suite. The failures are often due to machine/network issues.
internal issue: backlog/issues/726

[2022-01-28 15:36] babsingh commented on #14178
Similar to the observation in https://github.com/eclipse-openj9/openj9/issues/14354#issuecomment-1023601278: `TestNGRunner$RegressionListener.formatParam` is being run in the top frame. The `extra` field in this `J9Method` is set which indicates the method was compiled at one point. During the segfault, it has a bytecode frame. Potentially, a sign of OSR transition, which may have caused the O-slo

[2022-01-28 15:43] LongyuZhang commented on #13891
@llxia Sure, I can exclude it for JDK8 and ibm for now, and work on figuring out vmfarm machines. Thanks.

[2022-01-28 16:01] gacholio commented on #13192
Keeping track of things that need thinking about:

# Object allocation can trigger JVMTI events

This means that the stack might grow during the heapification process, which will mess up all the SA object pointers. Probably best to store thread/offset for the SA object instead of the direct stack pointer so the pointer can be reconstituted easily.

# Different handling for value types

Current cod

[2022-01-28 17:10] VermaSh commented on #14290
### Update Summary
From the core dump we were able to track the failure to the base register, GPR3, being null in `VLLEZ` instruction `0x3d086dd6`.[1] The crash happens in a loop and looking at the bea register last branch was taken on `0x3D086DEC` so we probably used GPR3 at least once before crashing. Moreover, it doesn't look like we entered `java/lang/Class$CacheKey.<init>` with incorrect valu

[2022-01-28 18:02] mstoodle commented on #14299
ok, fair enough. I just worry (perhaps overmuch) about heuristics that don't have a competing heuristic in the other direction to provide some balance. But I suppose you could argue that this *is* the competing heuristic against the default counts selecting methods to be compiled into the code cache.

[2022-01-28 18:28] dblinn commented on #14366
Another point I would like to share is that we deploy a number of different services at my company, all running on OpenJ9 with the same set of JVM options (including `-Xaggressive` and `-Xtune:virtualized`). We have only been looking at one service so far in this issue, but they all seem to be suffering this intermittent slow performance. Here is a screenshot of grafana graphs for timings of impor

[2022-01-28 18:49] keithc-ca commented on #14193
I published the test code at https://github.com/keithc-ca/issue-14193.

It doesn't appear that there is a leak, but the gencon GC policy doesn't seem to be able to effectively deal with all the garbage created.

[2022-01-28 19:04] hzongaro commented on #14228
I think this is likely the same issue as #14124 and #14230, or at least closely related.  Looking at two failures that occurred on PPC64LE, one occurred in a helper `startproc._interfaceSlotsUnavailable` from JITted code in `java/util/Collections$SynchronizedCollection.toString` and the other in a helper `startproc._interfaceCallHelper` from JITted code in `java/util/Collections$CheckedMap.toStrin

[2022-01-28 19:04] #14192 closed

[2022-01-28 20:01] EricYangIBM commented on #14354
It doesn't seem to crash with -Xint: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/20490/
Without -Xint this failure happens fairly frequently, maybe half of all iterations.

[2022-01-28 20:03] mpirvu commented on #14366
The verbose logs show a large number of profiling compilations with `-Xaggressive`. I wrote a script to compute how much time (elapsed time) is spent profiling and it turns out it's a lot. For instance,  `java/util/concurrent/ConcurrentHashMap$KeySetView.forEach(Ljava/util/function/Consumer;)V` stays for more than 500 seconds in profiling. It's possible that the application wasn't doing much at th

[2022-01-28 20:07] EricYangIBM commented on #14178
Without -Xint the segfault happens 3/5 on ppc linux (https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/20497/) and 5/5 on windows (https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/20499/)
It doesn't seem to fail with -Xint:
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/20498/
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/20500/

[2022-01-28 20:29] dblinn commented on #14366
Do you  need this only with the `-Xaggressive` option enabled? Or do you need it both enabled and disabled?

[2022-01-28 20:50] hangshao0 commented on #13615
Notice that `isValueType()` is renamed to `isPrimitiveValueType()`.

Also another API `public boolean isValue()` is added for value class.

[2022-01-28 21:01] nbhuiyan commented on #14107
This is still reproducible in Grinder. I am currently looking at the core dumps.

[2022-01-28 21:47] tajila commented on #14178
Okay thanks. Were you able to get a native stack trace with more info?

[2022-01-28 22:12] fengxue-IS commented on #13094
Closing as all test mentioned in this issue has been fixed.
Based on comments from #13305
[code]
has been fixed for OJDK MH, PR to re-enable these test open:
https://github.com/adoptium/aqa-tests/pull/3303

[2022-01-28 22:12] #13094 closed

[2022-01-28 22:21] fengxue-IS commented on #6680
**Update**:
The NullPointer exception I believe came from the frames which was hidden by previous impl for #3627, as it filters the frame that is written into the result array but have no control over the array size during creation leaving null elements trailing.
The new impl for #3627 that have been merged avoids this issue by running the filter during swalk call which updates stackframe count.

[2022-01-28 22:29] mpirvu commented on #14366
Let's change one thing at a time, thus please keep both -Xaggressive and -Xtune:virtualized

[2022-01-28 22:34] JasonFengJ9 commented on #14226
The failures are seen in an internal build `job/Test_openjdk18_j9_sanity.openjdk_aarch64_linux_testList_1/4/`(`ub18-aarch64-8`)
[code]

[code]

`OpenJ9 -5e9bd4ea0` seems contain https://github.com/eclipse-openj9/openj9/pull/14357 specified at https://github.com/eclipse-openj9/openj9/issues/14226#issuecomment-1021573266

Re-open for further investigation.

[2022-01-28 22:46] JasonFengJ9 opened #14395 "JDK18 DaaLoadTest FAILED - Cannot invoke "jdk.internal.reflect.DirectMethodHandleAccessor.invokeImpl"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_special.system_aarch64_linux_testList_0/6/`(`ub18-aarch64-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_special.system_aarch64_linux&DOCKER_REQUIRED=false&ACTIVE_N

[2022-01-28 22:56] JasonFengJ9 opened #14396 "testSoftMxDisclaimMemory_GC_3_FAILED : Segmentation error vmState=0x0002000f"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.functional_x86-64_linux_testList_0/3/`(`ub20x64rt3-8`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_extended.functional_x86-64_linux&DOCKER_REQUIRED=false&AC

[2022-01-28 23:00] JasonFengJ9 opened #14397 "JDK18 java/lang/reflect/exeCallerAccessTest/CallerAccessTest.java - RuntimeException: Expected to get exit value of [0]"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_sanity.openjdk_x86-64_mac_testList_1/1/`(`osxrt8`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_lang_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_sanity.openjdk_x86-64_mac&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0

[2022-01-28 23:48] nbhuiyan commented on #14107
The crash originates from `java/lang/Integer.toString`, which is AOT compiled. Disabling AOT prevents the problem from occurring. It is very likely that it's the same problem as one seen in #14124, where a fix is being worked on. I will test if this is still reproducible after the fix has been merged.

[2022-01-29 00:05] dblinn commented on #14366
@mpirvu makes sense. I have collected the logs and uploaded them to you through a separate channel again. The timings for this run were pretty all over the fast with performance sometimes fairly fast (51 seconds) and sometimes quite slow (115 seconds).

[2022-01-29 00:45] Maldivia opened #14398 "Assertions with -Xtrace:print=module for unnamed modules"
Given the following premain class (and `Premain-Class: com.test.PreMain` in the manifest):
[code]

Running with `java -Xtrace:print=module -javaagent:test.jar` crashes the JVM.

GDB `where` output:
[code]

Slightly different trace happens if the unnamed module != ALL_UNNAMED, in which case `j9ToMod` is not null, but `j9ToMod->moduleName` is null, thus crashing inside `copyStringToUTF8WithMemAlloc`

[2022-01-29 12:32] pshipton commented on #14398
@tajila

[2022-01-29 23:19] mpirvu commented on #14366
I looked at the new verbose logs and I don't see any improvement: there are quite a few methods that spend a large amount of time (500-600 sec) in profiling mode. One of them spends half an hour  and that's a lot.

I have found an option to reduce the number of methods that perform profiling: `bigAppThreshold=1`. This says that, if the JVM loads more than 1 class, the application will be considere

[2022-01-31 09:02] TueDissingWork commented on #14198
I only have the cache file.
[C290M11F1A64P_sharedcc_tue_G41L00.zip](https://github.com/eclipse-openj9/openj9/files/7969192/C290M11F1A64P_sharedcc_tue_G41L00.zip).

It still happens when I execute a simple unit test execution from Maven.
Here's the latest dumps:
[jvm dump files.zip](https://github.com/eclipse-openj9/openj9/files/7969408/jvm.dump.files.zip).

 Running `java -Xshareclasses:destroyAll

[2022-01-31 14:12] dmitripivkine commented on #14396
This issue looks like a duplicate of https://github.com/eclipse-openj9/openj9/issues/14382
I will double check in the core and close if confirmed

[2022-01-31 16:23] dmitripivkine commented on #14396
The crash occur an attempt to scan mixed object, one of slots points to the "hole":
[code]

[2022-01-31 16:25] dmitripivkine commented on #14396
Also I noticed pointer to `jdk/internal/math/FDBigInteger` object type was in registers for https://github.com/eclipse-openj9/openj9/issues/14382

[2022-01-31 16:48] pshipton commented on #13123
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly_testList_0/197

[2022-01-31 16:50] pshipton commented on #14115
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly_testList_1/192/
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_1/187/
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly_testList_1/193/
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extend

[2022-01-31 16:55] pshipton opened #14399 "Invalid class in objectPtr ASSERTION FAILED gc_vlhgc/CopyForwardScheme.cpp:1258"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_mac_Nightly/143
testSoftMxLocal_LP4k_3 `-Xjit -Xgcpolicy:balanced -Xnocompressedrefs`
[code]

@dmitripivkine

[2022-01-31 18:04] dmitripivkine commented on #14399
This is exact duplicate of https://github.com/eclipse-openj9/openj9/issues/14396 (and probably https://github.com/eclipse-openj9/openj9/issues/14382)
[code]

[2022-01-31 18:04] #14399 closed

[2022-01-31 18:47] gacholio opened #14401 "Possible issue with clone()"
Noticed while implementing #13192

The order of operations for a clone is:

- allocate new object zeroed
- copy object contents (including lockword) a reference-sized slot at a time
- zero lockword
- GC barrier
- finalize/synchronizer check

The extremely unlikely but possible issue here is that the object allocation will report the JVMTI `VMObjectAlloc` event if it has been requested. This allows

[2022-01-31 18:47] gacholio commented on #14401
@tajila @dmitripivkine @amicic

[2022-01-31 19:06] 0xdaryl commented on #13192
The patch @vijaysun-omr refers to above (that purportedly prevents direct access to individual slots within the object) just ensures that the base address of the object access is what was computed with the "loadaddr" of the local object into a register, rather than using the stack pointer to find the address.  It has been merged to the code base already (eclipse/omr#5865).

If something more than

[2022-01-31 19:09] RSalman commented on #13891
I took a look at the failure job that you posted again and realized it's running with metronome policy. It won't generate rotating logs that we're testing for,  so it should be disabled for metronome `(cmdLineTester_GCRegressionTests_Mode301_0, JVM_OPTIONS:  -Xgcpolicy:metronome -Xnocompressedrefs)`

[2022-01-31 19:13] RSalman commented on #13891
In `test/functional/cmdLineTests/gcRegressionTests/gcRegressionTests_excludes.xml` we have

[code]

[2022-01-31 19:24] gacholio commented on #13192
The requirement is that there be a pointer to the SA object in the stack frame somewhere that can be replaced with the heap copy.

This means no direct access to the internal fields of the object via the stack pointer and also that there be exactly one access to the start of the object and that it be computed before any HCR point in the method.

If an HCR occurs, the `lea reg,[rsp+const]` to get t

[2022-01-31 20:42] dblinn commented on #14366
@mpirvu Sending you the logs separately once again. The timings for this run were all over the place. The first 1hour 40min seem more in line with the "slow" behavior and then the next hour or so I let it run after that it looks "fast".