[2019-08-19 12:59] keithc-ca commented on #6763
This is expected: the previous builds relate to different commits and aren't necessarily relevant to the current change.

[2019-08-19 12:59] #6763 closed

[2019-08-19 13:53] adam-thorpe opened #6765 "Failing JDK13 Extended System Test: SharedClasses.SCM23.MultiThread"
Failure link
------------
- https://ci.adoptopenjdk.net/view/Test_system/job/Test_openjdk13_j9_extended.system_x86-64_mac_xl/21/tapResults/
- Test Category: extended system
- OS/Architecture: x64_macosx_xl
- OpenJDK Version: 13+30
- Public Build SHAs:
- OpenJ9 - `81195db9c`
- OMR - `6e99760b `
- JCL - `2337332cb3`

Optional info
-------------
- Intermittent failure: No
- Regression or new test: Re

[2019-08-19 14:00] adam-thorpe commented on #6765
JTReg Test: java/lang/System/LoggerFinder/modules/JDKLoggerForImageTest.java produces a very similar output on mac, JDK13.
Link: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk13_j9_sanity.openjdk_x86-64_mac/13/consoleFull

[2019-08-19 14:20] pshipton commented on #6765
In the artifacts, the 5.MT2.stdout file shows
[code]
I don't see any useful diagnostics. There are a number of 5.MT2.kill* files, but they are all zero size.

[2019-08-19 14:21] pshipton commented on #6765
@Mesbah-Alam

[2019-08-19 14:51] lumpfish opened #6767 "jdk11 docker build fails with missing X11 headers"
I am attempting to build jdk11 following the instructions at https://www.eclipse.org/openj9/oj9_build.html#version-11

The configure command
[code]
fails with the message
[code]
Running the suggested command gives:
[code]
Excluding the libxrandr-dev package completes OK but the configure then fails in the same way.

[2019-08-19 14:57] DanHeidinga commented on #6767
Have you run `apt-get update` prior to running the `apt-get install` command?

[2019-08-19 15:08] M-Davies opened #6768 "JTReg Test Failure: java/lang/invoke/CallerSensitiveAccess.java"
Failure link
------------
- Test: 6 tests failing out of 272 https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/965d0c0df359f3da224b865701bbcc044b7104c2/test/jdk/java/lang/invoke/CallerSensitiveAccess.java#L1
- test category: openjdk
- OS/architecture: openjdk_x86-64_linux, openjdk_x86-64_windows, openjdk_x86-64_osx (JDK11)
[code]

Optional info
-------------
- Part of the Excluded jdk11 ope

[2019-08-19 15:13] M-Davies commented on #6768
All the failing methods are attempting to use `inaccessibleField()`. While the fields it tries to call should be inaccessible, a better error message could be implemented here

[2019-08-19 15:27] lumpfish commented on #6767
[code]
followed by
[code]
fixed the issue.  Thank you.

Does this mean that the Dockerfile which the instructions ask the user to download and run should be updated?  Or at least that the instructions should be updated to add this step?

[2019-08-19 15:36] a7ehuo commented on #6729
This issue is addressed in #6733 which has been merged. Close

[2019-08-19 15:36] #6729 closed

[2019-08-19 15:38] 0xdaryl commented on #6657
This will require a more optimal `ARM64PrivateLinkage::copyRegistersToHomeLocation()` to minimize register shuffling and copies.  Consider commoning this logic with similar implementations on other architectures, but that work clearly exceeds the scope of this requirement and should probably be handled separately.

[2019-08-19 15:52] pshipton commented on #6757
@JasonFengJ9 What builds are you looking at? The JDK 13 AIX failure is expected since xlc 16 supported isn't completed yet. #6584

JDK 12 AIX completed successfully here on Aug 15 https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OpenJDK12-Acceptance/18/ after we got the OpenJDK harfbuzz fix. Since JDK 12 is done, there shouldn't be any further builds, except to deliver the AIX build for t

[2019-08-19 15:55] pshipton commented on #6758
I assume 192.168.10.182 is ub16x64j97. May be related to #6742

@AdamBrousseau @jdekonin

[2019-08-19 16:01] pshipton commented on #6759
https://bugs.eclipse.org/bugs/show_bug.cgi?id=550075

[2019-08-19 16:07] AdamBrousseau commented on #6758
182 is ub16x64j91
ub16x64j97 is 195

[2019-08-19 16:10] AdamBrousseau commented on #6758
`/etc/hosts` on `#7` had ip from `#1`
Updated.

[2019-08-19 16:39] mpirvu commented on #5644
Some strangeness seen when the client is running in docker and is limited to a small amount of memory:
[code]
According to the diagnostic output the memory limit at the client is 256M, yet the compilation failed with `compilationHeapLimitExceeded` after using only 128KB. Note that we operate in a region where there is very little free physical memory (`freePhysicalMemory=0`). Typically the segment

[2019-08-19 16:47] pshipton commented on #6760
FYI that OpenJ9 ignores unrecognized options starting with `-XX:` by default, controlled by https://www.eclipse.org/openj9/docs/xxignoreunrecognizedxxcolonoptions/

Without running java, there are a number of files in the build which are unique to OpenJ9. `openj9-notices.html` is one such, found in the root directory for jdk8 and the lib directory for jdk11 and later. `lib\options.default` is anot

[2019-08-19 16:52] a7ehuo commented on #6740
No longer observe this crash after running 50 times of `_SharedCPEntryInvokerTests_0 ` with the latest JITSever code SHA `5f0c43e571`. Close.

[2019-08-19 16:52] #6740 closed

[2019-08-19 18:30] harryyu1994 commented on #6753
The issue magically disappeared.

[2019-08-19 18:39] JasonFengJ9 opened #6770 "tnameserv is not in JDK11+"
It is in `JDK8` but not `JDK11+`.

It is required by some internal tests.

[2019-08-19 18:49] mpirvu commented on #6753
Hmm, did the machine for the experiments change?

[2019-08-19 19:33] JasonFengJ9 commented on #6757
Those are internal `AIX` builds for `JDK 12/13`.

[2019-08-19 19:39] llxia commented on #6715
Tests are running fine in the nightly build. https://ci.eclipse.org/openj9/view/Test_Functional_Nightly/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/112/tapResults/

Close this issue.

[2019-08-19 19:39] #6715 closed

[2019-08-19 20:12] harryyu1994 commented on #6753
The issue didn't occur on one machine but I was able to reproduce it on another machine:
[code]
[code]

[2019-08-19 20:29] pshipton commented on #6757
Although https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OpenJDK12-Acceptance/18/ passed, it didn't do the promotion (not sure why). I've promoted it manually so any downstream builds should be good now.

[2019-08-19 20:32] ChengJin01 commented on #5058
The test environment was already set up on Fedora/RISC-V and the compilation of test cases is still in progress (definitely slow without JIT support). Will see how it goes once the compilation is completed.

[2019-08-19 20:41] pshipton commented on #6759
This is resolved now.

[2019-08-19 20:41] #6759 closed

[2019-08-19 20:43] pshipton commented on #6770
It is a CORBA tool, removed by http://openjdk.java.net/jeps/320

[2019-08-19 20:43] #6770 closed

[2019-08-19 20:45] #6758 closed

[2019-08-19 20:46] #6742 closed

[2019-08-19 21:05] theresa-m commented on #6466
Providers should not be being initialized in https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/java.base/share/classes/jdk/internal/loader/BuiltinClassLoader.java#L205 but currently are because BuiltinClassLoader:isSharedClassesEnabled is wrongly returning true when application shared classes are not enabled.

[2019-08-19 21:12] pshipton opened #6773 "Test_openjdk8_j9_special.system_x86-64_linux MauveMultiThreadLoadTest_special_13"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/78
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/87
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/96

Mode351
JVM_OPTIONS: -Xcompressedrefs -Xgcpolicy:metronome -Xcompressedrefs

[code]

[2019-08-19 21:13] pshipton commented on #6773
@dmitripivkine not sure if this is a GC problem or JIT problem, starting with GC.

[2019-08-19 21:17] pshipton opened #6774 "aix71-p8-1 is out of disk space"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly/110/
`JVMSHRC561E Failed to initialize the shared classes cache, there is not enough space in the file system. Available free disk space bytes = 0, requested bytes = 16777216.`

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_OMR/212/
`JVMSHRC561E Failed to initialize the shared

[2019-08-19 21:17] pshipton commented on #6774
@AdamBrousseau @jdekonin

[2019-08-19 21:32] dmitripivkine commented on #6773
Well we did not merge any Metronome related code since Jason's refactoring two months ago. I just don't know where to look at for this failure

[2019-08-19 21:36] pshipton commented on #6773
Also note this test was recently enabled. It only fails in Mode351, the other modes are passing.

[2019-08-19 22:14] pshipton commented on #6659
Doesn't appear the fix is merged. Is there a PR being opened with the fix?

[2019-08-19 23:05] pdbain commented on #6659
It failed the JCL regression tests.  I'm working on it.

[2019-08-20 07:59] knn-k opened #6775 "Enable HCR for AArch64"
Implement HCR support for AArch64.

[2019-08-20 08:36] M-Davies commented on #5274
^^ Issue for the Adopt error

[2019-08-20 09:21] adam-thorpe opened #6776 "JTReg Test Failure: java/util/concurrent/ArrayBlockingQueue/WhiteBox.java"
Failure link
------------
- Build: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/197
- Test Category: openjdk
- Test Suite: jdk_util
- OS/Architecture: x64_macosx and x64_macosx_xl
- OpenJDK Version: 13+30
- Public Build SHAs:
- OpenJ9 - `81195db9c`
- OMR - `6e99760b`
- JCL - `2337332cb3`

Optional info
-------------
- Intermittent failure: No
- Regression or new test: Regress

[2019-08-20 10:50] #6466 closed

[2019-08-20 12:15] jdekonin commented on #6774
Cleanup has it looking fine.

[code]

[2019-08-20 12:30] pshipton commented on #6776
@DanHeidinga fyi, a regression

[2019-08-20 12:32] keithc-ca commented on #6767
I will make sure this problem is addressed by the work I'm doing for #5781.

[2019-08-20 12:37] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.functional_x86-64_mac_Nightly/15
[code]

[2019-08-20 12:42] pshipton opened #6777 "extended.functional_x86-64 SyntheticGCWorkload_concurrentSlackAuto_1M_J9_0"
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_mac_OpenJDK13/27
SyntheticGCWorkload_concurrentSlackAuto_1M_J9_0
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_xl_OpenJDK13/26/
[code]

[2019-08-20 12:42] pshipton commented on #6777
@smlambert @llxia still failing on jdk13

[2019-08-20 12:44] pshipton commented on #6777
Note it's failing in the acceptance build, although since this is the only problem I will likely go ahead and promote it.

[2019-08-20 12:45] DanHeidinga commented on #6776
@ChengJin01 Can you take a look at this?

[2019-08-20 12:46] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/116
Spoke too soon, still intermittently failing on mac as well.
[code]

[2019-08-20 12:47] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/115
[code]

[2019-08-20 12:50] pshipton commented on #6773
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/105

@dmitripivkine one thing to try is a grinder on this mode but add `-Xint`

[2019-08-20 12:51] pshipton commented on #6498
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_xl_Nightly/14

@andrewcraik this has been failing a lot, can somebody take a look.

[2019-08-20 12:54] DanHeidinga commented on #6776
It's not clear this is a regression so much as an intermittent issue - see the history in #5988

I'm going to close this as a duplicate of #5988.  FYI @theresa-m

[2019-08-20 12:54] #6776 closed

[2019-08-20 12:55] DanHeidinga commented on #5988
@theresa-m Can you update this with how the investigation is going?

[2019-08-20 12:56] adam-thorpe opened #6778 "JTReg Test Failure: java/lang/StringBuffer/CompactStringBuffer.java and CompactStringBuilder.java"
Failure link
------------
- Build: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk13_j9_sanity.openjdk_s390x_linux/18/
- Test Category: openjdk
- Test Suite: jdk_lang
- OS/Architecture: s390x_linux
- OpenJDK Version: 13+30
- Public Build SHAs:
- OpenJ9 - `1625c27d4`
- OMR - `6e99760b`
- JCL - `2337332cb3`

Optional info
-------------
- Intermittent failure: No
- Regression or new te

[2019-08-20 13:03] M-Davies opened #6779 "JTReg Test Failure: java/lang/invoke/ClassSpecializerTest.java"
Failure link
------------
- Test https://github.com/M-Davies/openj9-openjdk-jdk11/blob/dcaed50202aba11658bb827c255ef3c393d4b1ea/test/jdk/java/lang/invoke/ClassSpecializerTest.java#L1 is consistantly failing for JDK11
- test category: openjdk
- OS/architecture: openjdk_x86-64_linux, openjdk_x86-64_windows, openjdk_x86-64_osx
[code]
- Current SHA: https://ci.adoptopenjdk.net/view/Test_grinder/job/Gr

[2019-08-20 13:06] pshipton opened #6780 "jcmd help output is not sufficient"
[code]

- It's not obvious that `jcmd <vmid> help` prints the available commands.
- How do you get help on the individual commands? i.e. `help Dump.heap` works
- When you run `jcmd <vmid>` without any command it results in an error. It may be useful to have this print the available commands.

[2019-08-20 13:06] pshipton commented on #6780
@pdbain-ibm @JasonFengJ9

[2019-08-20 13:12] pshipton opened #6781 "jcmd GC.class_histogram takes any parameter without error"
`jcmd <vmid> GC.class_histogram` can take a parameter according to the help output, but any parameter is accepted and there is no indication if the parameter is having any affect on  the output.

[code]

[2019-08-20 13:12] pshipton commented on #6781
@pdbain-ibm @JasonFengJ9

[2019-08-20 13:13] adam-thorpe commented on #6778
Same issue with stringbuffer on jdk11: https://github.com/eclipse/openj9/issues/6671

[2019-08-20 13:15] pshipton commented on #6781
Note `Thread.print` does not have the same problem.

[2019-08-20 13:20] pshipton commented on #6781
jmap kind of has the same problem, it takes any parameter starting with `-histo` such as `-histo:bogus` or `-histo-bogus`

[2019-08-20 13:24] DanHeidinga commented on #6522
@bjhargrave Has this re-occurred for you?

[2019-08-20 13:42] andrewcraik commented on #6498
@liqunl can you please have a look?

[2019-08-20 13:43] pshipton opened #6782 "MauveMultiThreadLoadTest_special_28 and 29 timeout on Windows"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/57
MauveMultiThreadLoadTest_special_28 (Mode610-OSRG)
29 (Mode612-OSRG_28)
[code]

I expect this is a configuration problem, these sub-tests need more time to complete.
This problem is not intermittent, the timeout occurs in every run although I've only linked to the latest failure.

[2019-08-20 13:43] pshipton commented on #6782
@Mesbah-Alam @llxia

[2019-08-20 13:51] pshipton commented on #6779
@DanHeidinga fyi, regression indicated

[2019-08-20 13:52] pshipton commented on #6778
@DanHeidinga @fjeremic fyi, regression indicated

[2019-08-20 13:52] pshipton commented on #6671
@DanHeidinga @fjeremic fyi, regression indicated

[2019-08-20 14:00] DanHeidinga commented on #6779
I'm not clear on how this would ever have passed given it fails to compile with references to:
[code]
which we've never implemented.

@M-Davies  Has the test changed recently?

[2019-08-20 14:10] llxia commented on #6777
From the internal history, this test only runs on linux compressed ref. Is this test ready to run on other platforms? (i.e., mac, large heap, etc)

fyi @LinHu2016

[2019-08-20 14:19] JasonFengJ9 commented on #6781
Will have a look.

[2019-08-20 14:19] JasonFengJ9 commented on #6780
Will have a look.

[2019-08-20 14:28] M-Davies commented on #6779
@DanHeidinga Not in the past [2 years](https://github.com/ibmruntimes/openj9-openjdk-jdk11/commits/openj9/test/jdk/java/lang/invoke/ClassSpecializerTest.java)

[2019-08-20 14:40] DanHeidinga commented on #6779
When I look at that build, I see the same compile errors:
[code]

Is there a different link to the passing build?  Without a previous pass result, we can't call this a regression.

My expectation is this is a test that doesn't apply in the current form to OpenJ9.

[2019-08-20 14:48] JasonFengJ9 commented on #6780
`jcmd help` has following output:
[code]

`    -help: print the list of diagnostic commands .` could be changed to `    -help: print the list of available diagnostic commands .`, does this make it clearer or any suggestions?

`RI jcmd help` gives following output:
[code]

`jcmd 33758 help` gives:
[code]

[2019-08-20 14:56] dmitripivkine commented on #6773
@LinHu2016 Would you please take a look to this? I hope you can localize the problem a little bit... For beginning you can try to run with -Xint like Pete suggested.

[2019-08-20 14:59] pshipton commented on #6780
We need to document that `jcmd <vmid> help` prints the list of available commands, and that `jcmd <vmid> help <command>` prints help on the individual command.

[2019-08-20 15:00] pshipton commented on #6780
I don't have any issue with the `jcmd -help` command and what it already prints, but we need to include more information.

[2019-08-20 15:00] Mesbah-Alam commented on #6782
@pshipton - just making sure, have the tests been excluded already?

[2019-08-20 15:02] M-Davies commented on #6779
My apologies. I meant to specify it as non-regression with the top link being the currently running SHA.

[2019-08-20 15:02] pshipton commented on #6780
I guess part of the problem is that `jcmd <vmid> -help` gives an error as the proper format is `jcmd <vmid> help`

[2019-08-20 15:07] pshipton commented on #6780
The detail under `Arguments:` is confusing, is this supposed to mean the values for `<arguments>`? Some are and some are not. `-J` is not a valid `<arguments>` and neither is `<vmid>` .

[2019-08-20 15:24] pshipton commented on #5781
@keithc-ca is there any outlook (which Milestone) for when this work might be completed?

[2019-08-20 15:24] pshipton commented on #6774
Didn't see this failure last night, will close for now and see how it goes.

[2019-08-20 15:24] #6774 closed

[2019-08-20 15:27] JasonFengJ9 commented on #6780
Are you suggesting that `-help` should be allowed or the error message need a better description than `Error parsing properties: java.io.IOException: key openj9_diagnostics.errortype not found`?

[2019-08-20 15:30] pshipton commented on #6782
@Mesbah-Alam The tests are not excluded, they still ran last night as per the link the description. I was thinking to exclude them because I thought they were taking too long for the machines we have available, but then realized the time reported included the time waiting for the test to be restarted or aborted.

[2019-08-20 15:31] LinHu2016 commented on #6777
@llxia SyntheticGCWorkload_concurrentSlackAuto group tests are designed for proving concept and monitor the regression, the tests need to be run under dedicate hardware and special env, so we intend to only run them under linux_x86 env, above the failure looks around margin accepted cases, I will loose the percolate checking for the tests later.

[2019-08-20 15:34] Mesbah-Alam commented on #6782
@pshipton - the test configuration has been updated; timeout increased :  https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/283

[2019-08-20 15:40] pshipton commented on #6780
I don't expect `-help` to be supported, unless OpenJDK supports this format as well.

[2019-08-20 15:56] harryyu1994 commented on #6753
[code]

[code]

[2019-08-20 15:57] pshipton commented on #6782
Thanks. I'll go ahead and close this assuming the problem is fixed.

[2019-08-20 15:57] #6782 closed

[2019-08-20 17:16] liqunl commented on #6498
This is a bug in TestNG which has been fixed in https://github.com/cbeust/testng/issues/1810. We need to upgrade our TestNG.

[2019-08-20 17:38] liqunl commented on #6498
Tried the latest testng, the test still fail, but there's no NPE this time. The real failure is
[code]

[2019-08-20 17:46] JasonFengJ9 commented on #6780
How about change the `help` output to something like following:
[code]

[2019-08-20 17:58] pshipton commented on #6498
@llxia can you please take a look. I've set it as prio:high since it fails fairly often.

[2019-08-20 18:01] pshipton commented on #6780
It's better. Not sure we need the `generalOption:` header since the other utilities don't use this. Similarly for `-h --help`, the other utilities don't list these. I think any option which isn't understood results in help.

The part which is still missing is `help <command>`, which prints help for the specific command.

[2019-08-20 18:02] liqunl commented on #6498
Also found this failure occurs with -Xint
[code]

[2019-08-20 18:21] DanHeidinga commented on #5911
@gita-omr Can you or someone on your team take a look at this?  Peter captured the cores locally on /team/triage/openj9-5911

[2019-08-20 18:25] DanHeidinga commented on #4657
@kobinau Were you able to track this further after you identified the problematic method?

[2019-08-20 18:29] JasonFengJ9 commented on #6780
`RI jstat` uses it [1]. Other OpenJ9 utilities could add it later.

`RI jcmd` has these options. Other utilities could add it as well.

Yes, this is an existing behaviour.

[1] https://docs.oracle.com/javase/7/docs/technotes/tools/share/jstat.html

Added `help <command>`.
[code]

[2019-08-20 18:30] #5665 closed

[2019-08-20 18:32] DanHeidinga commented on #6156
Keeping this open to track any decision on whether to enable on power / zlinux again

[2019-08-20 18:33] gita-omr commented on #5911
@pshipton  sure.

[2019-08-20 18:34] DanHeidinga commented on #5785
Moving to `0.18.0` as still waiting on OpenJDK to determine the specified behaviour for this case

[2019-08-20 18:38] gita-omr commented on #5911
Oh, one second, it's quite old. I think we fixed it.

[2019-08-20 19:16] pshipton commented on #6780
Please remove `generalOption:` and just list them before `arguments:`. Otherwise looks good. I don't think the `-h --help` is needed, but if you really want to add it I guess it doesn't hurt. Technically help is printed when any invalid option is used. I'd only use a single dash for `-help`.

[2019-08-20 19:18] pshipton commented on #6780
Or leave out `-help` and just use `-h`

[2019-08-20 19:20] pshipton commented on #6498
@liqunl does this mean the SAXParseException is a JIT issue?

[2019-08-20 19:29] JasonFengJ9 commented on #6780
Modified as per comments:

[code]

[2019-08-20 19:45] #6080 closed

[2019-08-20 19:56] harryyu1994 commented on #6753
Pretty sure it's not related to JITServer code. It's a build issue, some component may be out-of-date. I updated to the latest openj9-openjdk-jdk8 and built the entire sdk (on the same machine that we reproduced the failure) and the above issue disappeared.

The only remaining issue is:
[code]

correct output should be:
[code]
we are missing the `error: could not create the java virtual machine` m

[2019-08-20 20:03] pshipton commented on #6780
I think the `<vmid>` line should be indented to line up with the -h option, otherwise looks good.

[2019-08-20 20:04] pshipton commented on #6780
The following ends with a period `Attach API VM ID as shown in jps or other Attach API-based tools.` but no other option description does.

[2019-08-20 20:05] pshipton commented on #6780
There is an extra space after the colon in `l :  list JVM processes on the local machine`

[2019-08-20 20:07] pshipton commented on #6780
` list JVM processes on the local machine. Default behavior when no options are specified.`

[2019-08-20 20:07] JasonFengJ9 commented on #6780
Thanks @pshipton, will submit a PR and fix format there.

[2019-08-20 20:08] pshipton commented on #6780
`help command` should be `help <command>`

[2019-08-20 20:08] pshipton commented on #6780
and `command [command arguments]` should be `<command> [command arguments]`

[2019-08-20 20:12] liqunl commented on #6498
@pshipton I'm still testing. It seems like we may have a bad xml. But since this error is intermittent, I can't tell if it's JIT issue or test issue.

[2019-08-20 20:18] llxia commented on #6498
Ran the test 50 times with different jvm options:
- `​threadMXBeanTestSuite1_1` passed 50/50 (ran with `-Xnocompressedrefs -Xgcpolicy:metronome -Xnocompressedrefs -Xint`)
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/3016/
- `threadMXBeanTestSuite1_5` is still running but it failed 16 so far (ran with `-Xnocompressedrefs -Xgcpolicy:metronome -Xnocompressedrefs -Xjit:noJ

[2019-08-20 20:42] Mesbah-Alam commented on #6765
Those output are coming from: https://github.com/Mesbah-Alam/openj9-systemtest/blob/728736451a116cec202ce4ae08757e0db5dbccf4/openj9.test.sharedClasses/src/test.sharedClasses/net/openj9/test/sc/LoaderSlaveMultiThread.java#L92

I agree that they are not very useful as in they don't provide any clue as to why the test was taking "longer" than usual - which triggered the eventual failure due to timeou

[2019-08-20 21:17] JasonFengJ9 commented on #6780
Submit https://github.com/eclipse/openj9/pull/6789 for format changing.

Will address this in another PR.

[2019-08-20 21:19] pshipton commented on #6765
eclipse/openj9-systemtest#91 is merged so I'll close this. @adam-thorpe Let us know if there is still any problem.

[2019-08-20 21:19] #6765 closed

[2019-08-20 21:42] liqunl commented on #6498
@llxia Thanks for the runs, I'll continue my investigation.

[2019-08-21 01:31] theresa-m commented on #5988
The investigation is ongoing. Still don't have a fix in mind.

[2019-08-21 01:43] mpirvu commented on #5644
I used some instrumentation and it appears that we run out of memory while doing the CHTable commit after the compiled body was received from the server:
[code]
It's not clear to me why the retrials are not sent to the server as well.
Interestingly, the next compilation is sent remotely and it succeeds.

I am thinking that the client should hold on to a segment of 128K and never release that.

[2019-08-21 02:59] keithc-ca commented on #6777
This failure is also seen in jdknext on Linux x86: https://ci.eclipse.org/openj9/job/Test_openjdkNext_j9_extended.functional_x86-64_linux_Personal/2/tapResults/

[2019-08-21 12:15] pdbain-ibm opened #6796 "jcmd help doesn't indicate how to use -l, -h, or -J"
The reference implementation shows:
[code]

Suggested changes to OpenJ9 `jcmd`:
[code]

[2019-08-21 12:47] pshipton opened #6797 "Failed to prepare cleanWs step"
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_xl_OpenJDK8/16/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OpenJDK8/14
[code]

[2019-08-21 12:48] pshipton commented on #6797
@AdamBrousseau @jdekonin

[2019-08-21 13:08] #4622 closed

[2019-08-21 13:09] cathyzhyi commented on #4657
Kobi and I having been working on this and it seems that register allocation spilled the register holding the index at a wrong instruction. The test failure is because the expected value is read with a wrong array index. Still digging through the code around register allocation.

[2019-08-21 13:14] pdbain-ibm commented on #6659
Fixed the JCL test, re-running a personal build.

[2019-08-21 13:25] M-Davies opened #6800 "JTReg Test Failure: java/lang/invoke/DefineClassTest.java"
Failure link
------------

- Test: https://github.com/M-Davies/openj9-openjdk-jdk11/blob/dcaed50202aba11658bb827c255ef3c393d4b1ea/test/jdk/java/lang/invoke/DefineClassTest.java#L1 is consistantly failing for JDK11-openj9 (Hotspot unaffected)
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux, openjdk_x86-64_windows
- openjdk version "11.0.4" 2019-07-16
- OpenJDK Runtime Environment A

[2019-08-21 13:34] M-Davies commented on #6800
Recently failing job https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/224/

[2019-08-21 13:35] pshipton commented on #6796
@JasonFengJ9

[2019-08-21 13:36] pshipton commented on #6780
Fixed by #6789

[2019-08-21 13:36] #6780 closed

[2019-08-21 13:47] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/117
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/121
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/116
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/120
https://ci.

[2019-08-21 13:50] pshipton opened #6801 "Test_openjdk8_j9_sanity.functional_x86-32_windows testSCCMLTests1_openj9_0 lambda failures"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly/115
[code]

[2019-08-21 13:56] pshipton commented on #6801
The problem was introduced by #6541

[2019-08-21 13:57] Azquelt commented on #5581
I had this reoccur with the `-Xjit` option enabled, but both of the log files just say
[code]
I've uploaded the mostly empty trace files and the jitdump in case there's something I'm missing there.
[traceAndJitdump.zip](https://github.com/eclipse/openj9/files/3525656/traceAndJitdump.zip)

This is occurring on openj9-0.12.1 - I can't easily reproduce on a newer version because this happens very occ

[2019-08-21 14:23] M-Davies commented on #6800
^^ Trimmed down unrelated test results in Archive.zip

[2019-08-21 14:39] M-Davies opened #6802 "JTReg Test Failure: java/lang/invoke/DropLookupModeTest.java"
Failure link
------------
- Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/4d41e016d25f4fd55a044c9e6556dba844f164a3/test/jdk/java/lang/invoke/DropLookupModeTest.java#L1 is consistantly failing for JDK13-openj9 (Hotspot unaffected)
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux, openjdk_x86-64_windows
[code]

Optional info
-------------

- intermittent failure (no):

[2019-08-21 14:40] pshipton opened #6803 "Test_openjdk8_j9_special.system_s390x_linux MauveMultiThreadLoadTest_special_29"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_Nightly/123
MauveMultiThreadLoadTest_special_29
variation: Mode612-OSRG
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:gencon -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation
[code]

[2019-08-21 14:40] pshipton commented on #6803
@fjeremic

[2019-08-21 14:42] JasonFengJ9 commented on #6780
Created PR https://github.com/eclipse/openj9/pull/6804

[2019-08-21 14:54] pdbain-ibm commented on #6399
`OpenJ9DiagnosticsMXBeanImpl` calls a number of `Dump`'s non-native methods too.

[2019-08-21 14:57] pshipton commented on #6399
@keithc-ca shouldn't openj9.jvm just be a prereq of jdk.managment?

[2019-08-21 14:57] JasonFengJ9 commented on #6796
@pdbain-ibm `jcmd` argument `-J` works with `<vmid> <target arguments>`, how about
[code]

This format appears closer to `java command line option` [1].

[1] https://docs.oracle.com/en/java/javase/12/tools/java.html#GUID-3B1CE181-CD30-4178-9602-230B800D4FAE

[2019-08-21 15:15] JasonFengJ9 commented on #6399
https://github.com/eclipse/openj9/blob/4df4d440243b69e46db1109575f2bc20e7de9fd5/jcl/src/jdk.management/share/classes/openj9/lang/management/internal/OpenJ9DiagnosticsMXBeanImpl.java#L27-L37

`com.ibm.jvm.Dump` is referenced only in `Java 8` which has not modules.

[2019-08-21 15:19] pshipton commented on #6399
@JasonFengJ9 https://github.com/eclipse/openj9/blob/4df4d440243b69e46db1109575f2bc20e7de9fd5/jcl/src/jdk.management/share/classes/openj9/lang/management/internal/OpenJ9DiagnosticsMXBeanImpl.java#L317-L329

[2019-08-21 15:20] pdbain-ibm commented on #6399
The Dump methods are used in Java 9 and up via Method objects.

[2019-08-21 15:24] pdbain-ibm commented on #6399
Could not `jdk.management` require `openj9.jvm` and call those methods directly, since they are public?

[2019-08-21 15:32] llxia commented on #6777
Both 1k and 1M are excluded.

[2019-08-21 15:39] pdbain-ibm commented on #6735
Ran this ~6 times on my Mac without failure. 3 runs were with `JVM_OPTIONS=-Xjit:count=0`.
[code]

[2019-08-21 15:43] pdbain-ibm commented on #5387
@sharon-wang is this fixed now?

[2019-08-21 15:44] keithc-ca commented on #6399
`module-info.java.extra` cannot add extra `requires` clauses.

[2019-08-21 15:48] sharon-wang commented on #5387
@pdbain-ibm I'm not sure if someone has picked up this work yet

[2019-08-21 16:07] pdbain-ibm commented on #4535
Fixed.

[2019-08-21 16:07] pdbain-ibm commented on #4535
@pshipton Please close this issue.

[2019-08-21 16:16] #6486 closed

[2019-08-21 16:51] #4535 closed

[2019-08-21 16:54] mstoodle opened #6806 "Check calls to TR_PersistentCHTable::findClassInfoAfterLocking"
There are two implementations of `TR_PersistentCHTable::findClassInfoAfterLocking()` calls, one which is based on a compilation object and another that takes a `TR_FrontEnd`. The `TR_FrontEnd` version doesn't check anything related to AOT and ignores its `returnClassInfoForAOT` parameter. That means a `classInfo` will be returned in AOT compilations if there is one even if that parameter is set to

[2019-08-21 17:18] pdbain-ibm commented on #5164
@avermeer the dump commands have been added and should be available in the nightly builds shortly.  Note that the availability of the various `jcmd` commands depends on the version of the  _target_ JVM, not of  `jcmd`, so if the application is running an older JVM it may not support the `Dump` commands.

FYI, my preferred Github user ID will be @pdbain .

[2019-08-21 17:19] liqunl commented on #6498
@llxia I'm running the test locally and want to experiment with some options. Is there a way to feed the test customized options? Options that may be conflict with the hard coded ones. I'm using the following command to run the test
[code]

[2019-08-21 17:22] avermeer commented on #5164
Hello @pdbain-ibm,

Thank you very much for this update.I'll check the upcoming nightly builds.
Regarding the "age of the JVM", are you referring to the age of OpenJ9 build, or say Java 8 vs Java 11 ?

Kind regards,
Alexandre Vermeerbergen

[2019-08-21 17:26] pdbain-ibm commented on #5164
I refer to the vintage of the OpenJ9 source.  The tool will work equally on any Java specification level.

[2019-08-21 17:36] smlambert commented on #6498
If you wish to append extra JVM options, export EXTRA_OPTIONS environment variable.  If you wish to fully replace the JVM options used in the test, export JVM_OPTIONS.  If you wish to do anything else, make changes in the command in the [playlist.xml file](https://github.com/eclipse/openj9/blob/master/test/functional/Java8andUp/playlist.xml#L1387) in your branch and run tests from your branch.

Se

[2019-08-21 17:51] dmitripivkine commented on #6773
Well, seems this test does not fail with `-Xint` https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder_Advanced/661/

[2019-08-21 17:54] harryyu1994 commented on #6753
New occurrence:
looking into the TAP file:
[code]

[code]

A passing one looks like this:
[code]

[2019-08-21 17:56] pshipton commented on #6773
Ok, we'll try JIT next. @andrewcraik
This failure isn't intermittent, seems to fail every night.

[2019-08-21 17:58] dmitripivkine commented on #6773
Yes, this test failed 100%. You can rebuild this grinder to reproduce https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder_Advanced/660/

[2019-08-21 18:15] pshipton opened #6808 "Retry communication with Artifactory"
I'm seen multiple occurrences of the following or similar recently. It would be nice if it retried more after waiting for a bit, rather than having to restart the build.
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_Personal/198
[code]

[2019-08-21 18:16] pshipton commented on #6808
@jdekonin @AdamBrousseau

[2019-08-21 18:17] pshipton commented on #6808
We should also check the Artifactory logs, or reboot the server, or something.

[2019-08-21 18:53] harryyu1994 commented on #6753
Works fine without the `-XX:+UseJITServer` option, meaning we will get these messages:
[code]
When we have `-XX:+UseJITServer`, we get an `Aborted`

[code]

[code]

[2019-08-21 18:56] andrewcraik commented on #6773
@hzongaro could you have a look - could be a bad barrier or something like that... Happy to discuss details when you need context.

[2019-08-21 19:28] mstoodle commented on #6806
Attn @dsouzai since it was your PR #6575 that led me to the observation :) .

[2019-08-21 19:33] dsouzai commented on #6806
Thanks for opening the issue :)

[2019-08-21 20:17] ChengJin01 commented on #5058
The failing sanity tests are as follows for now (the test got stuck in IllegalMonitorStateException / not yet completed),
[failing_tests_riscv.TXT](https://github.com/eclipse/openj9/files/3527113/failing_tests_riscv.TXT)
[code]
Except for the JIT specific tests which should be excluded,  need to analyze the failures case by case.

[2019-08-21 20:39] pshipton opened #6810 "Compile only PR build failed overall, although compiles worked"
https://ci.eclipse.org/openj9/job/PullRequest-OpenJ9/971
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_ppc64le_linux/658
[code]

[2019-08-21 20:40] pshipton commented on #6810
@AdamBrousseau @jdekonin

[2019-08-22 02:09] #6655 closed

[2019-08-22 06:58] ashu-mehra opened #6811 "Support for cgroup v2"
Fedora 31 to be GA-ed on 22 Oct, 2019 (as per the schedule https://fedoraproject.org/wiki/Releases/31/Schedule) would enable cgroup v2 by default: https://fedoraproject.org/wiki/Releases/31/ChangeSet#Modify_Fedora_31_to_use_CgroupsV2_by_default
Currently OpenJ9 only recognizes cgroup v1. It would be good if it can provide support for cgroup v2 as well, by the time Fedora 31 is released.
RHEL 8 rel

[2019-08-22 10:29] M-Davies commented on #6800
Potentially an unsuitable test for openj9

[2019-08-22 11:53] takiguc opened #6814 "macOS: Inputting Japanese to Passive components cause crash"
Java -version output
--------------------
openjdk version "11.0.4" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.15.1, JRE 11 Mac OS X amd64-64-Bit Compressed References 20190806_306 (JIT enabled, AOT enabled)
OpenJ9   - 0f66c6431
OMR      - ec782f26
JCL      - fa49279450 based on jdk-11.0.4+11)

Summary of problem
------------

[2019-08-22 12:26] doveye commented on #6521
Hi @pdbain-ibm. Can you please add a doc:externals label and create an openj9-docs issue for this, as it looks like it will be done in a different release from https://github.com/eclipse/openj9/issues/5164. Thanks :)

[2019-08-22 12:42] pdbain-ibm commented on #6521
@pshipton could you do the labelling?

@doveye https://github.com/eclipse/openj9-docs/issues/343

[2019-08-22 12:59] pdbain-ibm commented on #6399
`jdk.management` requires `java.management`, which contains package `com.ibm.java.lang.management.internal`.  I suggest making `openj9.jvm` require `java.management` and moving the implementations of the `com.ibm.jvm.Dump` methods into com.ibm.java.lang.management.internal.  That removes the disparity between Java 8 and modular Java in `OpenJ9DiagnosticsMXBeanImpl`.

[2019-08-22 13:41] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_mac_Nightly/17
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2019-08-22 13:42] DanHeidinga commented on #6811
@ashu-mehra There is an release coming up in October which would be the likely candidate if cgroupv2 is to be available before the Fedora 31 GAs.

Can you write out what's required to support cgroup v2 and what the benefits / tradeoffs would be?

[2019-08-22 13:44] M-Davies commented on #6704
^^ Currently unsuitable for OpenJ9

[2019-08-22 13:46] pshipton opened #6816 "TestJcmd_0"
All extended testing.
[code]

[2019-08-22 13:46] pshipton commented on #6816
Will be fixed by https://github.com/eclipse/openj9/pull/6790

[2019-08-22 14:00] doveye commented on #6796
I think the options should be in angle brackets, otherwise the syntax is suggesting you use the actual text "options". Hence I went with `jcmd [<options>] [<vmid> <arguments>]` for the first draft of the docs. It's not completely accurate, but I think it's clear enough once you understand the options (ie, you wouldn't try running `jcmd -h 12345 <command>`)

I actually played around a bit with this

[2019-08-22 14:06] M-Davies commented on #6660
@pdbain-ibm would you agree?

[2019-08-22 14:07] smlambert commented on #6777
As a note, I spoke with @amicic and there is no reason these are not run on other platforms besides xLinux, but agree that we need to make sure we understand what machine and test configuration is needed.  Will check with Aleks on his return.

[2019-08-22 14:23] JasonFengJ9 commented on #6796
@doveye is there a guideline or convention about command line syntax, particularly for OpenJ9?

Following doc seem not consistent:

[1] https://eclipse.github.io/openj9-docs-staging/341/tool_jcmd/
[code]

[2] https://eclipse.github.io/openj9-docs-staging/341/tool_jstack/
[code]

[3] https://eclipse.github.io/openj9-docs-staging/341/tool_jdmpview/
[code]

[2019-08-22 14:25] mpirvu commented on #6716
I think that the problem remains even after delivering #6785

[2019-08-22 14:25] tajila opened #6817 "Implement isModuleNameGood"
[code]

Ensure that `.` is not the first character. Ensure that `.` is not preceeded by another `.`

[2019-08-22 14:33] DanHeidinga commented on #6814
@keithc-ca Can you take a look at this?

[2019-08-22 14:36] LinHu2016 commented on #6777
As @smlambert mentioned in previous comment, the SyntheticGCWorkload_concurrentSlackAuto tests should only run on xLinux machines, because the test use precise payload rate and keep predicable live set data in Heap memory in order to generate the fragmentation, ideally the tests require physical dedicate machines to run, tests run on the cloud machines, virtual machines and containers might genera

[2019-08-22 15:00] #5767 closed

[2019-08-22 15:01] #4875 closed

[2019-08-22 15:14] M-Davies commented on #6680
[openjdk_test_output (3).tar.gz](https://github.com/eclipse/openj9/files/3530768/openjdk_test_output.3.tar.gz) Log file attached

[2019-08-22 15:16] #6781 closed

[2019-08-22 15:16] #6816 closed

[2019-08-22 15:19] dsouzai opened #6818 "testSCCMLTests1_openj9_0 failures on win32"
On windows 32, the test harness fails a bunch of tests within `testSCCMLTests1_openj9_0` because, as far as I can tell, the test harness is looking for an output with 16 `0`s, but since this is a 32-bit platform, the JVM prints out 8 `0`s. The failures weren't seen on any of the 64-bit platforms.

Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-3

[2019-08-22 15:25] dsouzai commented on #6818
Dup of https://github.com/eclipse/openj9/issues/6801, closing

[2019-08-22 15:25] #6818 closed

[2019-08-22 15:37] dmitry-ten opened #6819 "Protobuf on jenkins build machines needs to be compiled with different fPIC options"
Protobuf was previously recompiled with C|CXXFLAGS=-fPIC for x86 build nodes.

However, @mpirvu discovered that compiling it that way replaces compiler options -O2 -g,
which results in a less optimized code, and leads to increase in CPU consumption for JITServer client.
These options do not get replaced when running configure step with
`./configure --disable-shared --with-pic`, instead of `./confi

[2019-08-22 15:37] pshipton commented on #6660
OpenJ9 doesn't have a field called enumConstantDirectory, the implementation is different.

[2019-08-22 15:53] a7ehuo commented on #6716
The reason that `_ jsr335tests_SE80_5` happens in #6643 Jenkins PR build is that the side branch `a7ehuo:replaceJITaaSVerbose` doesn't contain the fix from #6785
 https://github.com/eclipse/openj9/pull/6643#issuecomment-523635576

Also ran `100` times of `_ jsr335tests_SE80_5` locally. The same failure hasn't been observed. Close.

[2019-08-22 15:53] #6716 closed

[2019-08-22 16:06] doveye commented on #6796
@JasonFengJ9  There's no OpenJ9-specific convention, we just try to use what appears to be the universal standard (probably originated with POSIX - https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html, and probably what the IBM standards are based on), though I think we've departed from it a bit with these j-commands!

I can't see what's inconsistent about the jdmpview syntax,

[2019-08-22 17:30] JasonFengJ9 commented on #6796
I was referring the `(` & `)` instead of `[` & `]`.
[code]

[2019-08-22 17:40] #6819 closed

[2019-08-22 19:09] ChengJin01 commented on #5058
As for `[1] pltest failed with "No such file or directory"`, the error occurred in `j9file_test27()` at /runtime/tests/port/j9fileTest.c:
[code]
The location of failure indicates the problem error occurred when opening the read-only file `j9file_test27.tst` after setting 0 to the permission of this file via chmod.
Given that the file-related operations might affect the dump generation, need to scr

[2019-08-22 19:22] AlenBadel opened #6824 "Jit compile methods with watched fields by default on Power and S390"
Currently on Power and Z, to enable JIT compilation on methods that contains watched fields -XX:JITInlineWatches must be passed in as an option.

This should happen by default, without the extra option.

See:
https://github.com/eclipse/openj9/blob/327186078fc64f3ab12d56a18fc9524833fd4cd7/runtime/vm/jvminit.c#L2977

The usage of -XX:JITInlineWatches likely needs to be changed in the docs as well.

[2019-08-22 19:29] AlenBadel commented on #6824
Looking into making the change.

FYI @gacholio

[2019-08-22 19:40] gita-omr commented on #6824
I think this should be in 0.16.

[2019-08-22 20:15] #6801 closed

[2019-08-22 20:19] theresa-m commented on #5988
Hey @dmitripivkine ran into this going through one of the possible traces for this issue. This slot is being treated as J9Object in the code but clearly contains UTF8 string data. Is that normal behavior?
[code]

[2019-08-22 21:03] JasonFengJ9 opened #6825 "ap6480 : JVMTI-fieldwatch fw001-1 Segmentation error vmState=0x00040000"
Failure link
------------

Optional info
-------------

- intermittent failure (yes|no): yes
- regression or new test:  n/a
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) :

Failure output (captured from console output)
---------------------------------------------

[code]

Result file is at `/team/triage/issue6825`.

[2019-08-22 21:37] dchopra001 commented on #6825
@gita-omr @AlenBadel FYI.. fieldwatch failure on AIX.

[2019-08-22 21:38] dsouzai opened #6826 "Create query to determine if SCC is the Default SCC"
It would be useful to have a query to determine whether the SCC being used is an SCC created via the `-Xshareclasses` option, or the default SCC. One use case would be making heuristic decisions based on this information (eg https://github.com/eclipse/openj9/pull/6734).

[2019-08-22 21:45] dsouzai commented on #6826
From what I've been told, the query would just be a wrapper around
[code]

[2019-08-22 21:55] dchopra001 commented on #6824
The release notes from 0.14 imply that this option is enabled by default on Z and X:
https://eclipse.github.io/openj9-docs/version0.15/#performance-improvements-for-jvmti-watched-fields
https://eclipse.github.io/openj9-docs/xxjitinlinewatches/

Looks like we forgot to actually enable it 😅.

[2019-08-22 21:57] gita-omr commented on #6824
We will need to modify the tests not to use it...

[2019-08-22 22:03] dmitripivkine commented on #5988
`slotPtr` is pointer to slot where pointer to J9Object is located (`J9Object** slotPtr`). An address of `J9Object` should be in the object heap range. Obviously it should not point to UTF8 data.
In general there are two possible locations of the objects - object heap (heap allocated) or java stack of thread (stack allocated). String Table should not contain stack allocated objects.

If you check c

[2019-08-22 22:26] dchopra001 commented on #6824
Based on how we consume the arguments here, the tests should still work with JIT support enabled even with the option specified.
https://github.com/eclipse/openj9/blob/327186078fc64f3ab12d56a18fc9524833fd4cd7/runtime/vm/jvminit.c#L3189-L3195

Considering that support still isn't available on ARM, do you think it'd be better to leave the option in the tests right now? That way when support is imple

[2019-08-22 23:57] gita-omr commented on #6824
I think we first need to decide whether the default in  https://github.com/eclipse/openj9/blob/327186078fc64f3ab12d56a18fc9524833fd4cd7/runtime/vm/jvminit.c#L2977
should be the same for all platforms (including say ARM where it's not supported yet) eg. removing the #if above or not. I thought there was some other check somewhere that would prevent JIT compilations for platforms that don't support

[2019-08-23 01:37] gacholio commented on #6824
My interest here is in getting rid of the old (and not entirely working) code from the VM, so until all platforms support the watch callbacks, I think this will have to wait.

While we continue to have the option of disabling the feature, the old code paths in the JIT need to remain.

It's possible we could disallow the disable feature on certain architectures, but that doesn't seem very sensible.

[2019-08-23 04:11] ChengJin01 commented on #5058
It turns out the problem with `j9file_test27`() came from the `root `account initially granted on Fedora/RISC-V in which case opening a read-only file is allowed. So the issue was solved with a newly created normal user account.

Now keep investigating the following issues detected in pltest:
[code]

[2019-08-23 11:16] kusumachalasani commented on #6602
@mpirvu
Collected the profiles using 'perf' tool as tprof was not supported on that machine.
Below are the text format output files (by doing perf report) collected using perf record.
[txtfiles.zip](https://github.com/eclipse/openj9/files/3534191/txtfiles.zip)

The data files are also available, but they are of large size ~1GB. If you need them, please let me know at what location I can place.

[2019-08-23 11:23] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/118
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2019-08-23 11:45] kusumachalasani commented on #6603
1. **Docker command Used:**
docker run  -d -p 80:80 -v log1:/output --cpus=2 -e MONGO_HOST='${dbhost1}' -e JVM_ARGS='${JVM_OPTIONS}' -m '${memorylimit}' --memory-swap='${memorylimit}' --memory-swappiness=0 '${acmeair_image}'
** JVM_OPTIONS="-Xshareclasses:none"  ; memorylimit=300mb
2. No heap settings are used.
3. jmeter clients=200 , warmupruns=4 , measurement runs=2, warmuptime=300secs ; measure

[2019-08-23 12:15] hsoontie opened #6830 "Implement AArch64's genCAS() function in J9TreeEvaluator.cpp"
The body of AArch64's `genCAS()` function, located in J9TreeEvaluator.cpp, needs to be implemented. This can be done once CAS instruction kinds and binaries are added to AArch64 in OMR. (See issue 4224 in OMR. For information on related functions, also see #6752 in OpenJ9.)

[2019-08-23 12:42] andrew-m-leonard opened #6831 "Implement JEP 352 - Non-Volatile Mapped Byte Buffers"
jdk-14+11 has introduced JEP 352, along with some new Unsafe methods, hence build fails:

openj9-staging is at jdk-14+11 level:
https://github.com/ibmruntimes/openj9-openjdk-jdk/tree/openj9-staging

[code]

[2019-08-23 12:55] DanHeidinga commented on #6831
@andrew-m-leonard Can you provide a description of the Unsafe methods behaviour and their prototypes?  We need that information to be able to implement them.

[2019-08-23 13:33] andrew-m-leonard commented on #6831
public void writebackMemory(long addr, long len);
==> Make sure that the virtual memory at address "addr" for length "len" has been flushed to physical memory. Throw RuntimeException if cache flushing not enabled on the runtime OS.
public static boolean isWritebackEnabled();
==> return true if cache flushing is possible on the runtime OS.

[2019-08-23 13:38] pshipton commented on #5611
The MessageDigest support has been updated and re-enabled.
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/324
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/191
https://github.com/ibmruntimes/openj9-openjdk-jdk12/pull/69
https://github.com/ibmruntimes/openj9-openjdk-jdk13/pull/9
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/129

[2019-08-23 13:38] #5611 closed

[2019-08-23 14:25] pshipton commented on #6831
Disabled the Pipeline-OpenJDK-Acceptance job until this can be resolved.

[2019-08-23 15:31] liqunl commented on #6498
I think the problem is the instructions generated for `BNDCHKwithSpineCHK` when the array length is folded.
Evaluator is taking advantage of the fact that array+4 will be 0 for discontiguous array and merges the two checks together into one compare instruction, which is the compare between the element offset and value at array+4. If the array is discontiguous, we'll always fail the check and go to

[2019-08-23 15:37] AlenBadel commented on #6825
Looks familiar. Merging this should fix it.
https://github.com/eclipse/openj9/pull/6553

[2019-08-23 15:46] gita-omr commented on #6825
@AlenBadel thanks a lot for looking into this. No idea how I missed the merge.

[2019-08-23 15:47] #6825 closed

[2019-08-23 15:47] gita-omr commented on #6825
I think we can close since it's a duplicate.

[2019-08-23 15:54] dsouzai commented on #5480
How does this feature behave when a Default SCC already exists? Does it recognize the existence of a Default SCC and place it in the chain?

[2019-08-23 16:00] gita-omr commented on #6824
My main concern is for the default to match (1) the documentation (2) the blog that we are about to post

The example in the blog makes JIT inlining detectable since the test case becomes much faster.

[2019-08-23 16:02] gita-omr commented on #6824
I am ok with leaving the option in the test case since the effect of it is not detectable there.

[2019-08-23 16:04] AlenBadel commented on #6824
There is such a check.
If J9_EXTENDED_RUNTIME_JIT_INLINE_WATCHES is set then it will trigger this assert on any unsupported arch.
https://github.com/eclipse/openj9/blob/master/runtime/compiler/control/J9Options.cpp#L2531

@gacholio I think it's fair to open issues to track any post implementation work.
Unless we want to broaden the scope of https://github.com/eclipse/openj9/issues/2668 to include

[2019-08-23 16:13] gita-omr commented on #6824
I agree. Sorry for any confusion above. The #if is needed because this  is the flag that VM uses to prevent all JIT compilations on platforms where FW is not supported. This is the one I was looking for.

[2019-08-23 16:14] harryyu1994 commented on #6753
The rebase fixed the issue. https://github.com/eclipse/openj9/pull/6828 @mpirvu FYI.

[2019-08-23 16:18] hangshao0 commented on #5480
Yes

[2019-08-23 17:07] keithc-ca commented on #6814
I was able to reproduce this with a local build of jdk11 created today.

[2019-08-23 18:11] liqunl commented on #6498
Also, since the array is known object, there is an optimization opportunity to get rid of spine check if the array is contiguous.

[2019-08-23 18:16] liqunl opened #6833 "Remove spine check on known contiguous array"
An optimization opportunity is found during the investigation of #6498. If an array is a known object, we can look at its header and figure out if it is contiguous. If it is contiguous, we can remove the spine check on its array shadow.

[2019-08-23 19:12] dsouzai opened #6834 "Runtime Assumptions added with NULL key"
It has been observed that sometimes runtime assumptions are added to the RAT with a NULL key, for example
[code]
This is a problem as they will never get compensated; the infrastructure will either compensate assumptions for a given key, or under some circumstances, for a key of `-1`.

[2019-08-23 19:12] dsouzai commented on #6834
FYI @andrewcraik

[2019-08-23 19:32] andrewcraik commented on #6834
@dsouzai showed me this previously and it results from merging an HCR guard into a guard with no class key - we need to limit the merging logic to ensure we have the correct class key before we merge. The code is in the inliner. FYI @liqunl

[2019-08-23 20:58] liqunl commented on #6833
Found that we're already doing it in https://github.com/eclipse/omr/blob/master/compiler/optimizer/VPHandlers.cpp#L11933

[2019-08-23 20:58] #6833 closed

[2019-08-23 21:06] dsouzai opened #6836 "Keep track of Processor Vendor in AOT Validation"
Opening this PR based on the following conversation in https://github.com/eclipse/omr/pull/4183

It may be functionally necessary to distinguish between processor vendors when validation AOT code. Because a SCC can be embedded in a container, it is possible for the SCC to have been generated on one processor and run on a different one.

[2019-08-23 21:40] liqunl commented on #6834
@andrewcraik Will look

[2019-08-24 03:00] mpirvu commented on #6603
I still cannot reproduce this issue.
With no `Xms` set the container is using about 200-220MB at steady state and 300MB is enough to handle compilations.
Trying to put more pressure on the container I used `-Xms150M -Xmx150M` and in this case the RSS at steady state is about 260-280MB. It comes close to exceeding the 300MB memory threshold, but the JIT backs-off and the JVM survives. For instance:

[2019-08-24 06:46] 15838028035 opened #6837 "how can i test openj9 foreach performance ？"
HI,
i want to test performance ,

for（int i=0; i<100;i++）{

}

for(Object1 obj:objectList) {

}

how can i test openj9 foreach performance ？ which framework show i use ?

cloud you help me ?

[2019-08-24 08:41] M-Davies commented on #6660
That was my thought too. I could only find reference to a `Map` property of `Class.java`
https://github.com/eclipse/openj9/blob/af939eef6337d1c420bf558735f67939ccb87854/jcl/src/java.base/share/classes/java/lang/Class.java#L3087

[2019-08-25 02:43] mpirvu commented on #6603
The existing code already does what what I suggested above. When the JIT wants to activate a new compilation thread it will read the free physical memory and it will not activate another thread if the free physical memory is lower than `safeReserveValue + scratchSpaceLowerBound`, where `scratchSpaceLowerBound` is the minimum amount of memory we think a compilation thread is going to need (32MB) an

[2019-08-25 03:52] mpirvu commented on #6603
The benchmark still runs with a 275M limit, but hits the OOM case with 250M. This is expected as at steady state I see the JVM consuming 260-280M (when Xms==Xmx=150M).

[2019-08-25 22:25] JasonFengJ9 commented on #6722
**Update:**

Built a simple java agent jar and a hello world application (attached), it works with ascii path/file names. `java -showversion -javaagent:c:\ive\jars\javaagent\agent.jar -jar c:\ive\jars\javaagent\HelloWorld.jar` has following output:
[code]

However HotSpot JVM doesn't work with Chinese character in the path such as
[code]
In addition, renaming `agent.jar` to `代理.jar` doesn't work w

[2019-08-26 01:31] JasonFengJ9 opened #6839 "MachineInfo_0 Error: Could not find or load main class org.openj9.envInfo.EnvDetector"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_x86-64_linux_xl_Nightly/19/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-08-26 01:41] JasonFengJ9 opened #6840 "SC_Softmx_Increase_0 net.adoptopenjdk.test.nio2.filesystem.FileSystemsTest failures"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_x86-64_linux_xl_Nightly/19/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-08-26 03:56] Ashkimo commented on #6525
Good

[2019-08-26 04:11] takiguc commented on #6814
Thanks.
Please let me know if additional testing is required.

[2019-08-26 04:23] Nsiso commented on #6722
OS is using windows 10 pro. with Chinese set and same java8.
chcp output is 936 (GBK)

[2019-08-26 05:04] to360 opened #6842 "MacOS"
Failure link
------------

Public link to the failing test
and ideally extracting relevant info from the failed run (just enough info to [run a Grinder](https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins)), include:
- test category, in Grinder equates to BUILD_LIST (functional, systemtest, openjdk, etc):
- test target name, in Grinder equates to TARGET (testCa

[2019-08-26 05:06] to360 commented on #6842
Open the Terminal app
Paste this into a terminal session: ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
Follow the instructions, and wait for installation to finish
Paste this into a Terminal: brew install sdl2 libzip

[2019-08-26 05:07] to360 commented on #6842
Thanks

[2019-08-26 05:08] to360 commented on #6842
Install Open the Terminal app
Paste this into a terminal session: ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
Follow the instructions, and wait for installation to finish
Paste this into a Terminal: brew install sdl2 libzip

[2019-08-26 05:10] to360 commented on #6842
MacOS

[2019-08-26 05:10] to360 commented on #6842
To360

[2019-08-26 05:11] to360 commented on #6842
Howebrew

[2019-08-26 05:12] to360 commented on #6842
https://raw.githubusercontent.com/Homebrew/install/master/install

[2019-08-26 05:14] to360 commented on #6842
def chown?(path)
  !File.owned?(path)
end

def chgrp?(path)
  !File.grpowned?(path)
end

# USER isn't always set so provide a fall back for the installer and subprocesses.
ENV["USER"] ||= `id -un`.chomp

# Invalidate sudo timestamp before exiting (if it wasn't active before).
Kernel.system "/usr/bin/sudo -n -v 2>/dev/null"
at_exit { Kernel.system "/usr/bin/sudo", "-k" } unless $CHILD_STATUS.succes

[2019-08-26 05:17] to360 commented on #6842
#!/bin/sh

set -e
umask 022

# The main Homebrew installer requires at least Ruby 2.3, so this script will
# install a vendor Ruby if any of the following are true:
# 1. HOMEBREW_FORCE_VENDOR_RUBY is provided
# 2. Ruby is not present at all
# 3. Ruby is present but too old
if test -n "$HOMEBREW_FORCE_VENDOR_RUBY" || \
   ! command -v ruby >/dev/null || \
   (command -v ruby >/dev/null && ruby -e '

[2019-08-26 06:46] c780 opened #6843 "Hello World"

[2019-08-26 06:49] c780 commented on #6843
- [ ]

[2019-08-26 11:35] toshiona opened #6844 "AdoptOpenJDK 11.0.4 OpenJ9 for zLinux is slow to start"
AdoptOpenJDK 11.0.4 OpenJ9 for zLinux is slow to start.
Average time of "java -version" with 10 trials is 14.3975 second on RHEL7 (real 14.3975, user 0.1841, sys 14.2488)
11.0.2 and 11.0.3 also have the problem.

11GA and 11.0.1 don't have the problem.
1.8.0_222 doesn't have the problem.
Hotspot doesn't have the problem.

This problem is not solid. It can recreate about 90%.

strace shows too many

[2019-08-26 12:55] hzongaro commented on #6773
This might be caused by the same underlying problem as reported in issue #6498.   Still investigating.

[2019-08-26 13:04] DanHeidinga commented on #6843
Closing as there is no content here.

[2019-08-26 13:04] #6843 closed

[2019-08-26 13:11] DanHeidinga commented on #6842
Hi @to360, what issue are you reporting with the Eclipse OpenJ9 JVM?  I'm having a hard time figuring it out from the info so far.

I'm going to close this issue and suggest you clarify the problem in a new issue.

Thanks.

[2019-08-26 13:11] #6842 closed

[2019-08-26 13:22] DanHeidinga commented on #6844
@dnakamura Can you take a look at this?

[2019-08-26 15:12] dsouzai opened #6846 "ptr_t vs ptrj_t"
[code]

The compiler code base seems to have mixed uses of the `ptr_t` and `ptrj_t` types. From the ifdef, it looks like the original intent was for cross compilation. However, given that it looks like the two types have more or less been treated as equal throughout the codebase, is it even worth continuing to pretend there's a distinction? Wouldn't it just be better to use the (standard) `ptr_t`

[2019-08-26 16:20] AlenBadel opened #6849 "Assertion reading fieldID during Watched Fields"
Java -version output
--------------------
openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-b10)
Eclipse OpenJ9 VM (build openj9-0.15.1, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20190717_368 (JIT enabled, AOT enabled)
OpenJ9   - 0f66c6431
OMR      - ec782f26
JCL      - f147086df1e based on jdk8u222-b10)

Summary of problem
------------------
Running the attached te

[2019-08-27 04:41] Nsiso commented on #6722
Yeah, the test is passed and running smoothly.
![TIM截图20190827123033](https://user-images.githubusercontent.com/27906817/63741385-76e0c580-c8c7-11e9-9826-061c55b3e026.png)
using jre1.8.0_171.
I am wondering is that the default encoding makes the error?
Win10 in china is using GBK default encoding.

[2019-08-27 08:41] adam-thorpe commented on #6735
This test only seems to be failing on windows and linux, as stated above.

[2019-08-27 09:23] andrew-m-leonard commented on #6671
Affects StringBuilder as well:
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux/40/testReport/junit/java_lang_StringBuilder_CompactStringBuilder/java/CompactStringBuilder/
21:03:20  test CompactStringBuilder.testCompactStringBuilderForLatinA(): failure
21:03:20  java.lang.AssertionError: expected [0] but found [-1]
21:03:20  	at org.testng.Assert.fail(

[2019-08-27 09:23] doveye commented on #6796
Ok. The `()` are just there to clarify what the pipe applies to. The `[]` indicate an optional parameter.

[2019-08-27 09:24] SueChaplain commented on #6824
@gita-omr @dchopra001

If there are any changes required to the draft docs for 0.16.0, please can you raise an issue in the docs repo.

Current statements in doc here: https://eclipse.github.io/openj9-docs/version0.16/#performance-improvements-for-jvmti-watched-fields-on-power-systems

[2019-08-27 09:27] andrew-m-leonard commented on #6671
Exclude PR: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1300

[2019-08-27 09:52] PTamis commented on #5058
Hello @ChengJin01,

I read the whole content of your work which is really impressive!
What I am trying to do is to write a yocto recipe in order to (cross-)compile openj9.
Actually I am trying to (cross-)compile in x86-64 host for x86-64 target.

I have passed the configure step and now I am on the compilation.
The problem I am facing now is the problem you also faced with the host tools (tracemer

[2019-08-27 11:52] sxa555 opened #6855 "SecurityException thrown by OpenJ9 builds but not HotSpot on AIX"
Reported at https://github.com/AdoptOpenJDK/openjdk-build/issues/1243 by @don-vip:

**Platform:**
AdoptOpenJDK 12.0.2+10 (OpenJ9)

**Architecture:**
Windows x64

This is an upstream bug for https://josm.openstreetmap.de/ticket/18081.

[JOSM jar](https://josm.openstreetmap.de/josm-tested.jar) is signed for WebStart deployment.

When running "java -jar josm-tested.jar" with AdoptOpenJDK 12.0.2+10 (H

[2019-08-27 12:24] adam-thorpe commented on #6735
Ignore above, found an old issue: https://github.com/eclipse/openj9/issues/4613
Test seems to fail across multiple systems but intermittently. Not sure why your mac passed perfectly though.

[2019-08-27 12:42] M-Davies opened #6856 "JTReg Test Failure: java/lang/invoke/ExplicitCastArgumentsTest.java"
Failure link
------------
- Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/ExplicitCastArgumentsTest.java is consistantly failing for JDK8 and JDK11 OpenJ9 (hotspot is unaffected).
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux, openjdk_x86-64_windows
[code]

Optional info
-------------

- intermittent failure (no)
- Part of https:/

[2019-08-27 13:03] adam-thorpe opened #6857 "JTReg Test Failure: java/lang/Class/getSimpleName/GetSimpleNameTest.java"
Failure link
------------
- Build: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk13_j9_sanity.openjdk_x86-64_linux/34/
- Test Category: openjdk
- Test Suite: jdk_lang
- OS/Architecture: all
- OpenJDK Version: 13+33
- Public Build SHAs:
- OpenJ9 - `6fed5d311`
- OMR - `63348379`
- JCL - `9beb413b36`

Optional info
-------------
- Intermittent failure: No
- Regression or new test: Reg

[2019-08-27 15:15] Akira1Saitoh opened #6859 "AArch64: Implement debug print functions for snippets"
The debug print functions for following snippet classes need implementation:

- [ ] `TR::ARM64CallSnippet`
- [ ] `TR::ARM64UnresolvedCallSnippet`
- [ ] `TR::ARM64VirtualUnresolvedSnippet`
- [ ] `TR::ARM64InterfaceCallSnippet`
- [ ] `TR::ARM64ForceRecompilationSnippet`
- [ ] `J9::ARM64::UnresolvedDataSnippet`
- [x] `TR::ARM64StackCheckFailureSnippet`

[2019-08-27 16:43] #6019 closed, assigned to nobody

[2019-08-27 19:41] JasonFengJ9 opened #6862 "s390x/compressedrefs/libj9jit29.so: undefined symbol: _Z39generateS390CompareAndBranchInstructionIjEPN2TR11InstructionEPNS0"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_s390x_linux_OMR/229/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-08-28 06:52] PTamis commented on #5058
Hello @ChengJin01,

Yeah I know, this is what I also meant with my previous post. The trace/hook tools require the local / native compiler.
Yes this email is fine, you can send me to that one.

[2019-08-28 08:45] adamfarley commented on #6671
@fjeremic - Thanks for clarifying. Is there a way to determine which versions of Java a J9 jcl class applies to without reading the source code for that class? Reading j9 jcl classes is discouraged for OpenJDK jcl contributors due to the risk of contamination, you see.

[2019-08-28 09:26] adam-thorpe commented on #6840
Worth pointing out this is consistent across all versions and platforms using openj9

[2019-08-28 10:25] M-Davies opened #6868 "JTReg Test Failure: java/lang/invoke/FindAccessTest.java"
Failure link
------------
Consistently failing test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/FindAccessTest.java on JDK11-openj9 (hotspot unaffected)
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux, openjdk_x86-64_windows
[code]

Optional info
-------------

- intermittent failure (no):
- new test:
- Potentially related to #6802 and

[2019-08-28 18:38] fengxue-IS opened #6870 "Consume all -XX arguments during VM startup"
With #4435 changes merged, all -XX options need to be consumed during initialization in order for `-XX:-IgnoreUnrecognizedXXColonOptions` to correctly function.

Currently, there are still some XX options not consumed when it have been checked (with `FIND_ARG_IN_VMARGS`) which should be fixed.

[2019-08-28 18:53] DanHeidinga opened #6871 "[0.16.0] Release"
Milestone: https://github.com/eclipse/openj9/milestone/10

Branching from build https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All/625/ :
[code]

[2019-08-28 20:36] wraschke opened #6875 "Segmentation error when running a test using 11.0.4+11"
Java version information from core file:

[code]

Summary of problem:

`[junit] Unhandled exception
    [junit] Type=Segmentation error vmState=0x00000000` when running a WebSphere Liberty unit test; the problem did not occur until trying to upgrade to 11.0.4+11.

Java core file is at https://gist.github.com/wraschke/88cf3b243e640b3b1591f7ce002bd1c8

[2019-08-28 22:23] gacholio commented on #6711
There are only two options - copy so the GC is not affected, or don't copy and impact the GC. We've minimized the impact to the GC for critical regions, but this is affected by which GC policy is chosen.

Holding critical regions for an unbounded amount of time will certainly degrade the VM/GC performance over time, likely leading to OOM eventually.

[2019-08-29 00:34] DanHeidinga commented on #6875
Abort is occurring on the IProfiler thread:
https://gist.github.com/wraschke/88cf3b243e640b3b1591f7ce002bd1c8#file-javacore-L1842-L1886

FYI @andrewcraik @hzongaro

[2019-08-29 02:20] #6509 closed

[2019-08-29 08:35] adam-thorpe opened #6878 "Problem with new java/lang/String/StripIndent.java JTReg Test on JDK13"
Failure link
------------
- https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk13_j9_sanity.openjdk_ppc64le_linux/36/console
- Version: 13+33
- Platforms: all
- Caused due to pull request from last night: https://github.com/eclipse/openj9/pull/6624

Optional info
-------------
- Intermittent failure: No
- Regression or new test: New Test

Failure output (captured from console output)
--

[2019-08-29 13:00] DanHeidinga commented on #6878
fyi @fengxue-IS

[2019-08-29 14:10] hzongaro commented on #6875
I've annotated the call stack on the `IProfiler` thread with the methods I believe are on the call stack when the segmentation error happens:

[code]

This is the code for [`TR_IProfiler::findOrCreateMethodEntry`](https://github.com/eclipse/openj9/blob/fe0a74aa80c4e6e911ff675b83848f36db3dbb5a/runtime/compiler/runtime/IProfiler.cpp#L1387-L1399).  I'm just trying to work out precisely which of the p

[2019-08-29 14:10] r30shah commented on #6862
@JasonFengJ9  This should not fail with OpenJ9 Master. I checked the OpenJ9 SHA from the failure which is https://github.com/eclipse/openj9/commit/f55f1f8ac31f33f37e97333738f854946c86cbfa. Changes in OpenJ9 that uses templated function delivered in https://github.com/eclipse/omr/pull/4200 is merged to OpenJ9 and here is the commit.
https://github.com/eclipse/openj9/commit/b645c0c97117f8ce4f7e3f5c6

[2019-08-29 14:14] fengxue-IS commented on #6878
looking into this

[2019-08-29 14:44] JasonFengJ9 commented on #6862
It was fixed by https://github.com/eclipse/openj9/pull/6725 and latest build is good.

[2019-08-29 14:44] #6862 closed

[2019-08-29 15:54] gjdeval opened #6884 "OpenJ9 Java11 failure when starting Jenkins app"
Java -version output
--------------------

openjdk version "11.0.4" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.15.1, JRE 11 Linux amd64-64-Bit Compressed References 20190717_286 (JIT enabled, AOT enabled)
OpenJ9   - 0f66c6431
OMR      - ec782f26
JCL      - fa49279450 based on jdk-11.0.4+11)

Summary of problem
--------------

[2019-08-29 16:03] gjdeval commented on #6884
Javacore, Snap, and core files (jextracted) uploaded to box
https://ibm.ent.box.com/folder/85928679740

[2019-08-29 16:42] #6857 closed

[2019-08-29 17:14] fengxue-IS commented on #6878
This is one of testcases that the Java13 API doc is not clear on the right behavior.
I have asked @andrew-m-leonard to confirm with openjdk on details of the method behavior.

In the mean while, I suggest we exclude this test until we received response from openjdk

[2019-08-29 17:18] smlambert commented on #6735
If this is a dup of #4613, we should close this and add any additional detail in the first reporting of the problem

[2019-08-29 17:19] manqingl opened #6887 "Command !J9ConstantPool does not work for Java 8 SR 5 FP 40"
I am using the jdmpview from Java 8 SR 5 FP 40 to debug a system core file from the same Java version:

J9Method at 0x22f8490 {
  Fields for J9Method:
        0x0: U8 * bytecodes = !j9x 0x00007FDA18137B38
        0x8: struct J9ConstantPool * constantPool = !j9constantpool 0x00000000022F7894
        0x10: void * methodRunAddress = !j9x 0x0000000000000005
        0x18: void * extra = !j9x 0x00000000

[2019-08-29 17:21] manqingl commented on #6887
@keithc-ca : please have a look

[2019-08-29 17:42] JasonFengJ9 commented on #5274
Reproduce the `AttachNotSupportedException` at an internal jenkins machine, it appears `Attach API initializer` thread attempted to create `common directory` in `C:\Windows` and failed.
`printenv` shows no defines for `TMP`, `TEMP` or `USERPROFILE` hence `GetTempPathW` falls back to the Windows directory.
This seems a machine configuration issue.

[2019-08-29 17:46] gacholio commented on #5966
We will want the initial decompilation stack as an extra parameter as well.

[2019-08-29 17:50] gacholio opened #6888 "Add DDR memory remap facility"
For certain debugging situations, structures may be copied into malloc'ed memory. It would be nice to be able to use DDR generically in these cases by allowing the user to remap blocks of memory. Something like:

Any bytes read from memory between address and address+size-1 should be read from a base of newAddress instead.

Ideally, we should allow an arbitrary number of remaps, and there should b

[2019-08-29 17:51] gacholio commented on #6888
This will be extremely infrequently used, so care should be taken not to slow down the core reader excessively when no remaps are in use.

[2019-08-29 18:57] keithc-ca commented on #6887
The bottom four bits of the `constantPool` field are used as flags and should be masked before printing the suggested `!j9constantpool` command.

[2019-08-29 18:59] wraschke commented on #6875
@hzongaro I'm not completely understanding your question.

Are you asking if I can recreate the segmentation error and get another javacore generated?

If so, I can.

[2019-08-29 19:25] gjdeval commented on #6884
FYI, the same type of failure is seen with the latest OpenJ9-12 release build

openjdk version "12.0.2" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 12.0.2+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.15.1, JRE 12 Linux amd64-64-Bit
OpenJ9   - 0f66c6431
OMR      - ec782f26
JCL      - 06c2cc3322 based on jdk-12.0.2+10)

[2019-08-29 19:37] DanHeidinga commented on #6875
I think @hzongaro is asking for a system core he core work in a debugger.

[2019-08-29 19:43] gjdeval commented on #6884
FYI the traceassert error does not appear with the latest OpenHS-11 build

openjdk version "11.0.4" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.4+11, mixed mode)

A similar warning appears in the console.log
[code]
but it is not followed by the memory corruption assert error.

[2019-08-29 20:03] sogutbera commented on #4985
Spring Pet-Clinic has ~130 non-lambda unsafe classes, 0 non-lambda anonymous classes, ~740 lambda classes and a total number of ~12280 ROMClasses

Liberty has ~116 non-lambda unsafe classes, and a total number of ~13607 ROMClasses

I ran Jruby both on Mac with Java 11 and Linux with Java8.
On Mac with Java 11, there are ~28 non-anonymous unsafe classes, ~35 anonymous classes, and a total number of

[2019-08-29 20:14] hzongaro commented on #6875
That's right.  Thanks for clarifying, Dan @DanHeidinga

[2019-08-29 20:45] wraschke commented on #6875
I'm totally showing my ignorance. :sweat_smile:

From previous segmentation error, I have files

`Snap.20190823.204140.9905.0005.trc
core.20190823.204140.9905.0001.dmp
core.20190823.204142.9905.0004.dmp`

Any of those you're after?

[2019-08-30 03:10] DanHeidinga commented on #6875
These are the system cores:
[code]
Can you upload them somewhere (ie: Box) and provide a link?  Or send the details on where to download the cores directly to @hzongaro

[2019-08-30 08:41] adam-thorpe commented on #6878
Okay, I'll exclude this then

[2019-08-30 08:45] adam-thorpe commented on #4613
Any updates on this? Test seems to be consistent across all platforms as per above linked issue, which is being closed due to being a duplicate.

[2019-08-30 08:45] adam-thorpe commented on #6735
Done.

[2019-08-30 08:45] #6735 closed

[2019-08-30 11:35] wraschke commented on #6875
I shared a zip of these files with Henry at https://ibm.ent.box.com/file/516304039514.

[2019-08-30 13:35] dchopra001 opened #6914 "Port JITServer to Z"
I have a collection of fixes that will add JITServer support on the Z platform. This issue is to track the progress of getting all the fixes merged.

In order to get the changes merged, I have separated the patches into small commits. I will be opening Pull Requests to get these patches merged. In order to keep the discussions/concerns around every fix separate, I will open separate pull requests

[2019-08-30 13:50] fjeremic commented on #6671
Just a short update:

I have a fix for this issue and I've written a semi-exhaustive set of tests to make sure it is caught much earlier in the development process. This is a JIT Z codegen bug. Unfortunately we're dealing with a miscellaneous hang issue in the Runtime Assumption Table (RAT) that is exposed via these tests. We cannot deliver the tests and the fix until this issue is resolved.

I'm

[2019-08-30 13:50] fjeremic commented on #6671
Also noteworthy that I've verified #6778 is a duplicate of this issue and will be fixed at the same time.

[2019-08-30 14:51] nbhuiyan opened #6919 "Install Python 3 on all OpenJ9 build machines"
eclipse/omr#3675 introduces a new options processing framework for the compiler. It includes the `options-gen` script run at build time to generate files that are then used to populate various data structures.

**The script requires at minimum Python 3.2**.

After eclipse/omr#3675 is merged, an OpenJ9 PR will be opened to use the new options processing framework in the OpenJ9 JIT. This would add P

[2019-08-30 14:51] nbhuiyan commented on #6919
@jdekonin fyi

[2019-08-30 14:57] DanHeidinga commented on #6919
I would strongly prefer not to grow the set of tools required to build OpenJ9 as it creates a barrier to entry and makes it more difficult to port OpenJ9 to new platforms.

There's recently been a lot of work to remove dependencies on particular perl modules by rewriting the functionality of testkitgen in Java (thanks @fjeremic & @renfeiw & others) as requiring more / varied tools makes it harder

[2019-08-30 15:12] DanHeidinga commented on #4985
Thanks @sogutbera I think those numbers paint a clear enough picture of the risk to adding this option - low compared to the anonymous classes change.

[2019-08-30 15:12] smlambert commented on #6919
Presume this also implies that all AdoptOpenJDK build machines need this prereq too?  if so, that is less than optimal...

[2019-08-30 15:22] babsingh opened #6920 "Jython NullPointerException in PythonInterpreter with OpenJ9-JDK12+"
In **Jython (versions 2.5.3 and 2.7.1)**, NullPointerException (**NPE**) is seen with the latest OpenJ9-JDK12 nightly build when executing [PythonInterpreter.exec(String s)](https://github.com/jythontools/jython/blob/df6350d63370f566a768dd02ec3cc69a606025fa/src/org/python/util/PythonInterpreter.java#L261-L268). The NPE is not seen in either OpenJ9-JDK11 or OpenJDK-JDK12.

### Testcase (SimpleTest.

[2019-08-30 15:23] babsingh commented on #6920
Attn: @TiborBeres @DanHeidinga

[2019-08-30 15:52] JasonFengJ9 commented on #5274
Setting environment variable `TMP` or `TEMP` fixes `AttachNotSupportedException`. Infra team is working on a proper script change.

[2019-08-30 16:21] dchopra001 commented on #6914
@mpirvu FYI. I'll need reviews from you for all the PRs above. I'm tagging you here so you are able see all the PRs in a single place.

[2019-08-30 18:05] hzongaro commented on #6875
Thanks, Wendy @wraschke!  I was able to download them.  I'll continue investigating.

[2019-08-30 18:07] gacholio commented on #6887
For consistency, don't assume 4 bits, but use the badly-named constant from here:

`#define J9_CP_FROM_METHOD(method) ((J9ConstantPool *) ((UDATA)((method)->constantPool) & ~J9_STARTPC_STATUS))
`

[2019-08-30 19:23] #6498 closed

[2019-08-30 19:23] #6773 closed

[2019-08-30 19:42] #6855 closed

[2019-08-31 14:46] sudhirtumati opened #6933 "GPF when lombok is used"
Java -version output
--------------------

openjdk version "12.0.2" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 12.0.2+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.15.1, JRE 12 Windows 10 amd64-64-Bit Compressed References 20190718_139 (JIT enabled, AOT enabled)
OpenJ9   - 0f66c6431
OMR      - ec782f26
JCL      - 06c2cc3322 based on jdk-12.0.2+10)

Summary of problem
---------

[2019-09-01 03:43] DanHeidinga commented on #6884
Debug log:
[code]

[2019-09-02 08:52] lumpfish commented on #5315
The test currently looks to be excluded on s390x from the adoptopenjdk test runs pending the resolution of this issue, so no failures will be being seen at the moment.

In file https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/ProblemList_openjdk8-openj9.txt:
[code]

[2019-09-02 10:55] knn-k commented on #6607
Additional related PR: #6937

[2019-09-02 14:07] fjeremic commented on #5315
@lumpfish do we need to tag it with `test excluded` label so we don't forget to re-include?

[2019-09-02 15:17] mpirvu opened #6939 "Increase timeout value for JITServer"
When using `-Xjit:enableJITServerHeuristics` cheap compilations (at no-opt and cold opt level) are performed locally to improve latency. However, if there is a long sequence of local compilations, the server, which waits for a compilation request on an existing connection, may close the connection thinking there is something wrong at the client side. At some point the client may decide to do a rem

[2019-09-02 16:05] lumpfish commented on #5315
@fjeremic - yes,  @smlambert - thanks!

[2019-09-03 03:10] eed3si9n opened #6940 "Segmentation error while jiting WrappedString.apply from Scala 2.10.7"
This was originally reported as https://github.com/sbt/sbt/issues/4985, and was worked around by changing the code in https://github.com/sbt/launcher/pull/74.

Java -version output
--------------------

[code]

Summary of problem
------------------

Segmentation error while JITing `scala/collection/immutable/WrappedString.apply(I)Ljava/lang/Object;` used by sbt-launch 1.3.0-RC4.

[code]

Diagnosti

[2019-09-03 03:26] DanHeidinga commented on #6940
FYI @andrewcraik

[2019-09-03 08:27] doveye commented on #6796
No, I don't see `()` in the POSIX doc either. That doc says (in point 8) that you can use multiple synopsis lines instead. The use of `()` in jdmpview is just the basic one (eg in maths or text) of using brackets to separate items from what's outside the brackets.

[2019-09-03 09:17] Akira1Saitoh commented on #6859
Added implementation of `TR::ARM64StackCheckFailureSnippet` in https://github.com/eclipse/openj9/pull/6941

[2019-09-03 12:57] JamesKingdon commented on #6940
Looks like there was a problem writing the system core file:

`JVMPORT048E Failed to create system dump because a non-regular file "/home/hugovr/workspace/stryker4s/core" exists with the same name as the expected system dump file
`

[2019-09-03 13:34] andrewcraik commented on #6940
@liqunl could you have a look?

[2019-09-03 14:18] DanHeidinga commented on #1621
Closing this as a dup of https://github.com/eclipse/openj9/issues/4655 Note, several of the tools have already been implemented

[2019-09-03 14:19] #1621 closed

[2019-09-03 14:20] pshipton commented on #6870
@fengxue-IS do you more information about the `-XX:` options which aren't consumed, or an example option which is not consumed?

[2019-09-03 14:28] DanHeidinga commented on #6919
FYI @0xdaryl @mstoodle @pshipton

It would be good to have a discussion on this item and see if we can make a plan for how to move it forward that addresses the benefits of the OMR PR without adding the new tooling dependencies.

Is there a time this week we can get on a call together?  Offering my webex if that helps.

[2019-09-03 14:29] M-Davies opened #6943 "JTReg Test Failure: java/lang/invoke/InvokeMethodHandleWithBadArgument.java"
Failure link
------------
- https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/InvokeMethodHandleWithBadArgument.java is consistantly failing for JDK13-openj9 (hotspot unaffected, fixed for JDK11-openj9)
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux/osx, openjdk_x86-64_windows
[code]

Optional info
-------------

- intermittent failure (no)

[2019-09-03 14:31] DanHeidinga commented on #263
Closing as this is ancient and the code has evolved in different ways

[2019-09-03 14:31] #263 closed

[2019-09-03 14:32] DanHeidinga commented on #375
@andrewcraik @fjeremic Is this still relevant?

[2019-09-03 14:34] DanHeidinga commented on #4205
@mpirvu Is this still relevant?  Default SCC has already been enabled at this point so I assume not.

[2019-09-03 14:36] DanHeidinga commented on #6586
@zl-wang Are you still pursing this? If not, please close the item

[2019-09-03 14:43] mpirvu commented on #4205
The only remaining regression was one of the ILOG benchmarks, only on zLinux, only on Java11, only on one machine (Filip couldn't reproduce it) and even that regression seems to have gone away in the latest round of testing. All in all we should be good.

[2019-09-03 14:45] mstoodle commented on #6919
Happy to discuss. I'm off today (comment timing notwithstanding), but Thursday afternoon looks pretty clear at the moment with only a few taken slots, if that works for others.

imo, we need to make it easier for this kind of thing to go forward. In this modern age, pushing back on a *Python* build-time dependency feels a bit arbitrary when we just went through the process to add a much less widel

[2019-09-03 15:02] #4205 closed

[2019-09-03 15:13] DanHeidinga commented on #6919
@mstoodle I think there's a clear difference between an *optional* build dependency that is used if available and a *required* tool.

I don't know if you were aware of the recent pain related to perl modules that was blocking testing on zOS but a lot of effort went into removing dependencies on perl modules that don't work on non-X86 architectures.  It's why `testkitgen` has been ported to Java.

[2019-09-03 15:15] pshipton commented on #6920
Does the same problem occur with JDK13 builds?

[2019-09-03 15:18] DanHeidinga commented on #6919
I've sent a meeting invite to @mstoodle @nbhuiyan @smlambert @pshipton & @0xdaryl.  If there are others that want or should be included, please let me know

[2019-09-03 15:21] andrewcraik commented on #375
Yes - we haven't continued to do perf investigation on this so there may still be a perf opportunity to look at here. Focus has been on other areas.

[2019-09-03 15:31] fengxue-IS commented on #6870
[code]

This list is what I was able to find that JVM checks for during startup and fail when running with `jdk/bin/java -XX:-IgnoreUnrecognizedXXColonOptions [-XX option] -version`

[2019-09-03 15:41] pshipton opened #6945 "openjdk8_j9_special.system -Xgcpolicy:gencon -Xquickstart gpf"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/236

10:21:42  FAILED test targets:
10:21:42  	DaaLoadTest_daa1_special_27
10:21:42  	DaaLoadTest_all_special_27

03:24:08  variation: Mode615
03:24:08  JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:gencon -Xquickstart -Xjit

[code]

[2019-09-03 15:42] hangshao0 commented on #6884
Yes, it looks like #6549 to me. Allocating at the same place (shared.c:244) with size zero.

J9MemTag at 0x7ff10c03e450 {
  Fields for J9MemTag:
	0x0: U32 eyeCatcher = 0xB1234567 (2971878759)
	0x4: U32 sumCheck = 0x8ADA6F25 (2329571109)
	**0x8: U64 allocSize = 0x0000000000000000 (0)**
	0x10: const U8* callSite = !j9x 0x00007FF25D134B83
	0x18: struct OMRMemCategory* category = !omrmemcategory 0x000

[2019-09-03 15:42] pshipton commented on #6945
@andrewcraik

[2019-09-03 15:45] babsingh commented on #6920
Yes, it happens with OpenJ9 JDK13 and doesn't happen with Hotspot JDK13. NPE is an aftereffect of other exceptions: `ClassCastException -> Method.invoke (InvocationTargetException) ->  NPE`. I will post more details in the context of Jython later.

[2019-09-03 15:46] pshipton commented on #6945
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/239

03:41:16  FAILED test targets:
03:41:16  	MathLoadTest_all_special_26
03:41:16  	MathLoadTest_bigdecimal_special_27

03:16:27  variation: Mode615
03:16:27  JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:gencon -Xquickstart -Xjit

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x

[2019-09-03 15:50] pshipton commented on #6945
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/236
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/238
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/240
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/242
https://ci.eclipse.org/openj9/jo

[2019-09-03 15:52] pshipton commented on #6945
Seems to fail on all platforms, at least all which are running these tests.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/169
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_Nightly/235

[2019-09-03 15:58] pshipton commented on #6945
First failures in nightly build https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All/628/  Aug 30, 2019 10:11:00 PM

OpenJ9: 347c34b
OMR: 5628a97
OpenJDK8: efd7298 - openj9-openjdk-jdk8
OpenJDK11: 259a016 - openj9-openjdk-jdk11

previous nightly build shas

OpenJ9: c49db01
OMR: 59bcb31
OpenJDK8: efd7298 - openj9-openjdk-jdk8
OpenJDK11: 259a016 - openj9-openjdk-jdk11

https://gi

[2019-09-03 16:10] hzongaro commented on #6875
Here's where I am with `core.20190823.204142.9905.0004.dmp`.  On entry to  `TR_IProfiler::searchForMethodSample`, `omb` is in `$rsi` which has the value `0x00000000013c9960`.  That refers to `J9Method` `org/objectweb/asm/util/CheckClassAdapter.visitEnd`, and `bucket` is in `$rdx` and has the value `0x220`:

[code]

The `IProfiler` instance is in `$rdi` with the value `0x00007f62153d9290`.  The `_m

[2019-09-03 16:29] mstoodle commented on #6919
...except for the fact that Python is the precise question we are considering here.

I know there's been pain with other dependencies, and your concerns are certainly valid ones in general, but there is a specific request being asked and (imo) we should consider that request on *its* merits which may not (or may) have all the same characteristics as other similar requests.

[2019-09-03 16:34] andrewcraik commented on #6945
@ymanton you had a number of merges to master - cross platform fails would not have been caused by Henry's change so your changes are next most likely. Could you take a look?

[2019-09-03 16:47] ymanton commented on #6945
Looking.

[2019-09-03 17:32] DanHeidinga commented on #6919
With all due respect, that ignores the larger problems each new dependency adds.  So yes, let's look at the merits of adding python, a new dependency, in light of both the benefits the project gets and in the costs it pays.

No dependency is free and we must be mindful that the cost of supporting all the dependencies required to build the project is certainly greater than the sum the parts.

[2019-09-03 17:49] manqingl opened #6947 "Private static final field java/net/HttpURLConnection.methods corrupted."
Static fields in java/net/HttpURLConnection:
       0x00000000022F85D8 DEFAULT_CHUNK_SIZE I (!j9romstaticfieldshape 0x00007FDA18137480) = 0x00001000 (4096)
       0x00000000022F85E0 followRedirects Z (!j9romstaticfieldshape 0x00007FDA181374A8) = 0x00000001 (1)
       0x00000000022F85D0 methods [Ljava/lang/String; (!j9romstaticfieldshape 0x00007FDA181374C0) = !j9object 0x0066002F006F0070 <-- BOGUS

[2019-09-03 17:51] DanHeidinga commented on #6947
If the fix isn't too risky, we should consider it for the Java 13 (0.16.0) release as well

[2019-09-03 18:21] harryyu1994 opened #6948 "Refactor JITServerHelper::romMethodOfRamMethod"
If `JITServerHelpers::romMethodOfRamMethod` does the right thing, then we don't need to override `archetypeArgPlaceholderSlot` inside `TR_ResolvedJ9JITaaSServerMethod`. Instead we could just fix `TR_ResolvedJ9Method` to use `JITServerHelpers::romMethodOfRamMethod`.
In that case it is not ideal to have `TR_ResolvedJ9Method` calling something that looks specific for JITServer. Instead we could have

[2019-09-03 18:22] harryyu1994 commented on #6948
#6828 leftover changes that need to be addressed

[2019-09-03 18:23] harryyu1994 commented on #6948
@mpirvu FYI.

[2019-09-03 18:25] gjdeval commented on #6884
Confirmed that this error no longer appears in the latest nightly openJ9-11 build
[code]

[2019-09-03 18:28] harryyu1994 commented on #6948
Another concern that potentially needs to be addressed in the future:

[code]

[2019-09-03 18:41] gacholio commented on #6887
One thing we don't want is to display the CP value with the tag bits removed, so the output would have to be different than normal structures.

`0x8: struct J9ConstantPool * constantPool = 0x00000000022F7894 (!j9constantpool 0x00000000022F7890)`

or make !j9constantpool special, and do the masking for you.

[2019-09-03 18:42] gacholio commented on #6887
Better yet, make it work like !j9object, so it does print the masked value in the command, but also show the flag bits as a separate fake field.

[2019-09-03 18:57] pshipton commented on #6884
The next release for Java 11 will contain the fix, which is the 0.17 release.

[2019-09-03 18:57] #6884 closed

[2019-09-03 19:16] pshipton opened #6951 "OpenJ9 modules have no javadoc"
javadoc treats the comment immediately preceding the module definition in module-info.java as the doc for the module - see https://docs.oracle.com/en/java/javase/11/docs/specs/doc-comment-spec.html. For the openj9.xxxx modules (most of them anyway), the only comment ahead of the module definition is the EPLv2 license, which therefore becomes the module description.

[2019-09-03 19:25] liqunl commented on #6940
The problem is we create a virtual call site with invalid vftslot. vftslot is used to get method from a class. The code is https://github.com/eclipse/openj9/blob/master/runtime/compiler/optimizer/J9EstimateCodeSize.cpp#L1577

[2019-09-03 19:52] keithc-ca commented on #6887
@gacholio I'm not sure I understand your suggestion. Is this what you'd like to see?
[code]

[2019-09-03 20:19] AlenBadel commented on #4930
`XX:+UseLargePages` can be easily mapped to `-xlp`.
However that changes in Java 9+, where -xlp is deprecated in exchange we need to enable both `-Xlp:codecache` and `-Xlp:objectheap`.

Here I'm assuming that -Xlp:codecache and -Xlp:objectheap will use OS defined large page sizes by default if no value is passed. That's what XX:+UseLargePages does.

`-XX:LargePageSizeInBytes=<size>` similarly can

[2019-09-03 21:00] gacholio commented on #6887
Yes, that's actually less confusing than the j9object output (which makes flags appear to be another field in the struct).

[2019-09-03 21:01] #6814 closed

[2019-09-03 21:42] ymanton commented on #6945
Reproduced, fixing, PR soon.

[2019-09-03 21:55] dmitripivkine commented on #4930
Just note that -Xlp format for object heap is `-Xlp:objectheap:pagesize=<size>[,[non]pageble]]`
where `[non]pageble]` is applicable for ZOS only.
Default behaviour might depend on platform. xLinux for instance would use 2M (large page) by default however pLinux default is 64k (small page) not 1g (large page)

[2019-09-03 22:41] ChengJin01 commented on #5058
Investigation shows the core was generated but relocated to `/var/lib/systemd/coredump` as explained in http://man7.org/linux/man-pages/man5/coredump.conf.5.html:
[code]
against the configuration Fedora/RISC-V as follows:
[code]
To relocate the core dump to the current/working directory, the following settings should be modified in our case:
1) enable the dumpable attribute with 1 or 2 (enabling c

[2019-09-03 22:44] ChengJin01 commented on #5058
In addition, there might be still issues with the generated core dump as the jdmpview was unable to open the core as follows:
[code]
Given that this is something related to DDR (suspiciously something missing in the core generation), I will get back to investigate the problem after solving the rest of test failures.

[2019-09-03 22:47] ChengJin01 commented on #5058
I will start on vacation from Sept. 4th (tomorrow) to Sept. 22th and get back to keep working on the remaining issues here.

[2019-09-04 03:20] #6947 closed

[2019-09-04 12:27] archanaNogriya opened #6959 "We need to have copyrightschecker job running for JDK13."
We need to have copyrightschecker job running  for JDK13
Currently, we have for 8, 11 and 12 but not for 13.

https://ci.eclipse.org/openj9/view/Infrastructure/

[2019-09-04 13:03] mstoodle commented on #6919
I'm not suggesting we ignore anything in reaching a conclusion. I only want to make a specific decision (based on all the available and applicable information).

I was worried, given the original framing of the response, that part of the decision seemed to have been already made based on recent experience with `perl`, and it wasn't clear to me that the earlier experience was necessarily verbatim t

[2019-09-04 13:11] DanHeidinga commented on #6959
@AdamBrousseau Can you help set this up?

[2019-09-04 13:27] AlenBadel commented on #4930
@dmitripivkine

Does the JVM pull this from the OS defined large pages? Eg On Linux this is called hugepages which is set to 2M by default.
[code]

If the user doubles Hugepagesize will the default value used by -Xlp (both objectheap and codecache) use that new value, or is the default value statically defined.

[2019-09-04 13:28] AdamBrousseau commented on #6959
Unfortunately I do not have access to the CI anymore. Should be a copy paste of the 12 job.
From the [Infrastructure view](https://ci.eclipse.org/openj9/view/Infrastructure/), `New Item`
Name = CopyrightCheck-OpenJDK13
Copy From = CopyrightCheck-OpenJDK12
`OK`
Change default value of `ghprbGhRepository` param to `ibmruntimes/openj9-openjdk-jdk13`
`Save`

[2019-09-04 13:31] smlambert commented on #6959
Done.

[2019-09-04 13:32] DanHeidinga commented on #6959
Do we need a PR against the eclipse jenkins as code repo for this change to prevent it from being reverted the next time jenkins is redeployed?

[2019-09-04 13:34] DanHeidinga commented on #4930
@AlenBadel Do you know whether the `-XX:LargePageSizeInBytes=<size>` effects both the heap and the code cache for Hotspot VMs?  What about the failure cases where the sizes don't match?

We need to be careful that mapped options do the "right" thing on OpenJ9 that maps as closely as possible to the expected behaviour.

[2019-09-04 13:37] AdamBrousseau commented on #6959
No, jobs are not part of Configuration as Code (CasC). CasC handles basically everything under "Manage Jenkins" , ie. global settings.

[2019-09-04 13:38] #6959 closed

[2019-09-04 13:41] DanHeidinga commented on #5203
@andrewcraik Any update on this?  It's in the 0.16 milestone which we're trying to close out

[2019-09-04 13:43] DanHeidinga commented on #4005
@hangshao0  Can you take a look at this?

[2019-09-04 13:44] DanHeidinga commented on #5911
@gita-omr Can you confirm it's been fixed?  A link to a PR would be great!

[2019-09-04 13:46] DanHeidinga commented on #6330
@hangshao0 This is tagged against 0.16 which we're trying to close out.  Do you think it will be fixed for the release (shipping ~Sept 17)?

[2019-09-04 14:05] andrewcraik commented on #5203
Have spoken to @kobinau who was looking at this. Seems the issue was occurring only on a subset of machines in the OpenJ9 Jenkins farm. He did investigate it with grinders (per above), but at some point the machine he was using ub16x64j97 died and had to be recreated. When he started running grinders and trying to setup on another machine, the newer nightly did not exhibit the problem. Given all t

[2019-09-04 14:05] #5203 closed

[2019-09-04 14:15] AlenBadel commented on #4930
Yes, on Hotspot VMs `-XX:LargePageSizeInBytes=<size>` effects both the heap and the code cache.

See

https://www.oracle.com/technetwork/java/tuning-139912.html

[2019-09-04 14:19] harryyu1994 commented on #6948
The explanation I got for why it's necessary to use `getOriginalROMMethod` in `archetypeArgPlaceholderSlot`.
a thunk archetype's original signature has an integer argument as the place holder for arguments expansion. The _signature field holds the signature after the expansion but what we are interested here is the original signature without expansion. getOriginalROMMethod() is necessary.

[2019-09-04 15:01] hangshao0 commented on #6330
Yes.

[2019-09-04 15:07] mstoodle commented on #6760
@headius any comment on the above suggestions? Are any of them workable for what you're trying to do?

[2019-09-04 15:09] LinHu2016 commented on #4930
Hi @AlenBadel, here is document link for -Xconcurrentbackground (https://www.eclipse.org/openj9/docs/xconcurrentbackground/), I still think -Xconcurrentbackground option is the most close to -XX:ConcGCThreads=N on hotspot(-XconcurrentlevelN is Allocation “tax” rate,  in OpenJ9 we do have different implementation, which ask mutator threads to pay “tax” during concurrent mark)

[2019-09-04 15:18] M-Davies opened #6963 "JTReg Test Failure: java/lang/invoke/LFCaching/LFMultiThreadCachingTest.java"
Failure link
------------

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/259a016054953a431bbcb198848372c7830116ad/test/jdk/java/lang/invoke/LFCaching/LFMultiThreadCachingTest.java#L1 (JDK11)
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/c85b84056711e44d349a1d967eca1e7ace723566/jdk/test/java/lang/invoke/LFCaching/LFMultiThreadCachingTest.java#L1 (JDK8)
are both consistently fai

[2019-09-04 15:32] pshipton commented on #4005
Note I don't believe this failure is related to shared classes, it just happened that last few failures occurred in some shared classes testing. I expect any testing using Stf could see this problem.

[2019-09-04 15:43] M-Davies opened #6964 "JTReg Test Failure: java/lang/invoke/InvokeWithArgumentsTest.java"
Failure link
------------

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/259a016054953a431bbcb198848372c7830116ad/test/jdk/java/lang/invoke/InvokeWithArgumentsTest.java#L1 consistantly fails for JDK11-openj9 (hotspot unaffected)
- test category, openjdk
- OS/architecture, all platforms
[code]
- NOTE: A lot of `java.lang.invoke` seems to be unsuitable for openj9

Failure output (captured

[2019-09-04 15:43] hangshao0 commented on #4005
The exception is from Apache logging-log4j2, and we do not own the code. I don't know what version of logging-log4j2 does system test framework use. Do you know the version ? @Mesbah-Alam

[2019-09-04 15:44] dmitripivkine commented on #4930
No. Preferred page sizes for `objectheap` are hardcoded https://github.com/eclipse/omr/blob/master/gc/base/GCExtensionsBase.cpp#L133
If preferred page size is not provisioned (known) in OS a smallest page size available would be selected (in case if there is no -Xlp request).
Preferred page sizes in many cases are selected because of support in OS/HW and could provide best performance like 64k on

[2019-09-04 15:46] hzongaro commented on #6875
Wendy @wraschke, does the problem recur 100% of the time or is it intermittent?  Also, may I ask you to try running that test with the Java option `-Xshare:off` to check whether the problem can be reproduced with that option?  I'm just trying to pin down where things are going wrong.

[2019-09-04 15:52] Mesbah-Alam commented on #4005
@hangshao0 System test uses log4j-2.3 : https://github.com/AdoptOpenJDK/stf/blob/f4bb075895a7e23105c07bb2b6993c505b5f2d7b/stf.build/include/top.xml#L236

[2019-09-04 15:58] #6878 closed

[2019-09-04 15:59] fengxue-IS commented on #6878
@adam-thorpe the test failure have been fix by #6952, please re-enable this test, thanks

[2019-09-04 16:09] hzongaro commented on #6875
Actually, rather than `-Xshare:off` would it be possible to check whether the problem can be reproduced with the `-Xjit:dontUsePersistentIprofiler` option?  Sorry for the churn, Wendy @wraschke!

[2019-09-04 16:29] pshipton commented on #6963
I expect this test is using internals that don't apply to OpenJ9
[code]

[2019-09-04 16:37] hangshao0 commented on #4005
[code]
Caller:
[code]

So selector.getContext(fqcn, loader, currentContext, configLocation) returns NULL (parameter loader is NULL and configLocation is NULL).

I don't see anything to do with OpenJ9 here.

[2019-09-04 16:47] pshipton commented on #4005
The NPE is intermittent, my theory is that it's a JIT problem. Possibly already fixed. Not sure how well the builds have been monitored in the past week+, I'll be keeping an eye out to see if this failure still occurs.

[2019-09-04 17:04] pshipton commented on #6959
Note there is a failure```
[code]

[2019-09-04 18:07] AlenBadel commented on #4930
I agree. `-Xconcurrentbackground` should be used for both.

The objectheap then won't use the OS defined "Huge Pages"(Linux) unless we specify it using -Xlp:objectheap=< size of huge pages >.
To effectively map X:+UseLargePages we would need to immediately extract the size of the OS defined Huge Pages, or AIX, ZOS equivalent and pass it to xlp:objectheap.

[2019-09-04 18:30] dmitripivkine commented on #4930
except it is hardcoded 2m for xLinux or 1m for zLinux

[2019-09-04 18:34] AlenBadel commented on #4930
Even if we specify the size of the maximum page using -Xlp:objectheap=< size > ? I thought it was hard coded only the case that no size is specified.

[2019-09-04 18:39] dmitripivkine commented on #4930
Default value would be overwritten by option if requested

[2019-09-04 18:41] AlenBadel commented on #4930
That was what I meant. My apologies if that wasn't clear.

[2019-09-04 20:02] babsingh commented on #6920
### Summary

@TiborBeres The issue is in the Jython source code. [jython-standalone-2.7.2a1+.jar](https://ibm.box.com/s/b40rysm2j4bk4x21sgnyxps7p71h9bub) is built using the latest Jython source code, which contains the fix. Can you verify if the fix works for you?

### Details: Issue & Fix

- The `NullPointerException` happens because of the following exceptions: `ClassCastException` -> `Invocatio

[2019-09-04 22:37] babsingh opened #6967 "Platform specific signals supported by Hotspot but not by OpenJ9"
### Summary

`TestSignalSupport` was run on Linux, AIX, MacOS and Windows. Comparing the test output between Hotspot and OpenJ9, it was found that the following platform specific signals are supported by Hotspot but not by OpenJ9:

- **Linux:** `SIGCLD`, `SIGPWR`, `SIGSTKFLT`.
- **AIX:** `SIGCLD`, `SIGCPUFAIL`, `SIGDANGER`, `SIGEMT`, `SIGGRANT`, `SIGLOST`, `SIGMIGRATE`, `SIGMSG`, `SIGPRE`, `SIGPWR

[2019-09-04 22:39] babsingh commented on #6967
fyi - @pshipton

[2019-09-04 22:42] mpirvu opened #6968 "Missing entries in relocationTargetTypeToHeaderSizeMap"
The table `J9::X86::AheadOfTimeCompile::_relocationTargetTypeToHeaderSizeMap[TR_NumExternalRelocationKinds] ` should have exactly `TR_NumExternalRelocationKinds` entries on all platforms, but on 32-bit X and Z there are many missing entries.
Example on X:
[code]

[2019-09-04 23:00] pshipton commented on #6967
How many of these can be supported without re-writing the OMR implementation?

[2019-09-04 23:01] pshipton commented on #6967
Note SIGCLD is a synonym for SIGCHLD

[2019-09-04 23:04] babsingh commented on #6967
Two.

[2019-09-05 01:20] a7ehuo commented on #6948
FYI: `JITServerHelper` is moved out of  `JITServerCompilationThread.hpp/cpp`  in PR #6882.

[2019-09-05 01:26] mpirvu opened #6969 "Make all/most fields/methods in TR_J9SharedCache static"
All fields in `TR_J9SharedCache` with the exception of `_fe` are identical and thus it make sense to make them static (together with the methods that access them). This would save some allocations because there is one `TR_J9SharedCache` object per frontend object (thus per vmthread). On the surface only compilation threads need to look at the `TR_J9SharedCache` objects, but, as discovered in #6965

[2019-09-05 02:48] pshipton opened #6971 "32-bit doesn't compile SharedClassesMetaDataHelper.java"
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-32_windows_OMR/264
[code]

Caused by https://github.com/eclipse/openj9/pull/6883

[2019-09-05 03:27] hangshao0 commented on #6971
Will fix. I should use reflection.

[2019-09-05 03:50] headius commented on #6760
Hey folks, thanks for the suggestions!

@mstoodle The environment variable is a great workaround for now! It will mean setting additional noise into the environment even when not on OpenJ9, but at least I can update our launcher to properly enable quickstart+shareclasses in dev mode!

It's unfortunate there's not a similar environment for Hotspot-only options, but [the ones I'm passing](https://gi

[2019-09-05 08:46] archanaNogriya commented on #6959
Thanks, let me check those failures, seems to be a new one.

[2019-09-05 08:48] M-Davies commented on #6963
I also suspected this was the case based on similar issues (https://github.com/eclipse/openj9/issues/6700, https://github.com/eclipse/openj9/issues/6660). I'll close this and add it to the permanent exclusions list

[2019-09-05 08:48] #6963 closed

[2019-09-05 09:01] PascalSchumacher commented on #137
It would be nice if this was implemented, as it seems that currently the number of compiler threads is not based on CPU limits.

Details:

We are using `openjdk11-openj9:jre-11.0.4_11_openj9-0.15.1-alpine` and start the JVM with `-Xtune:virtualized`.

We limit the number of CPUs of the container via kubernetes configuration:

[code]

The limit seems to be working:

But the number of compilation th

[2019-09-05 09:04] #6660 closed

[2019-09-05 09:06] M-Davies commented on #6700
Added to permanent exclusions list. This can be safely closed for now

[2019-09-05 09:11] #6700 closed

[2019-09-05 09:26] M-Davies commented on #6963
java/lang/invoke/LFCaching/LFSingleThreadCachingTest.java also fails in the same way. Will exclude this too

[2019-09-05 12:25] DanHeidinga commented on #6760
Yes, OpenJ9 supports the @arguments files.  We also support options files in JDK8 using `-Xoptionsfile` (https://www.eclipse.org/openj9/docs/xoptionsfile/#xoptionsfile)

[2019-09-05 12:27] DanHeidinga commented on #137
@mpirvu Can you comment on the number of JIT threads here?

[2019-09-05 12:36] pshipton commented on #6840
@Mesbah-Alam
Not sure if this is the right issue, but AIX is failing SharedClassesAPI_0 testing, related to
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64_aix_Nightly/130/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_ppc64_aix_Nightly/130

[2019-09-05 13:02] pshipton opened #6975 "OpenJ9 ub16-390-2 went offline"
ub16-390-2 went offline while running system testing, around 4am. It needs to be brought back online.
https://ci.eclipse.org/openj9/view/all/job/Test_openjdk8_j9_special.system_s390x_linux_Nightly/260
https://ci.eclipse.org/openj9/computer/ub16-390-2/

[2019-09-05 13:05] ashu-mehra commented on #137
If I remember correctly we always start fixed number of Compilation Threads (I think it is 7), but not all of them are active. I think number of active compilation threads do depend on number of CPUs, among many other factors, which takes into account CPUs allocated to the container.
In the above output it can be seen only one thread `JIT Compilation Thread-0` is active, rest all are suspended eg

[2019-09-05 13:27] mpirvu commented on #137
On Linux the JIT always starts 7 compilation threads to be able to deal with starvation issues. Because a non root user cannot set raise priority of threads, an application with very many threads can starve the few existing compilation threads.  Compilation threads are activated based on load (compilation queue size/weight). Typically the JIT will activate up to numProc-1 threads (1 if numProc==1)

[2019-09-05 13:29] mpirvu commented on #137
If the user really wants to prevent the activation of additional compilation threads in case of starvation, he/she can use -XcompilationThreads<N> option.

[2019-09-05 13:31] AlenBadel commented on #6284
@fjeremic
CS Tests have all been enabled, and are passing on Power.

See
https://github.com/AdoptOpenJDK/openjdk-tests/pull/1324
https://github.com/AdoptOpenJDK/openjdk-tests/pull/1302

[2019-09-05 13:31] keithc-ca commented on #6971
Why is `J9VM_OPT_MULTI_LAYER_SHARED_CLASS_CACHE` not defined for win32?

[2019-09-05 13:31] #6945 closed

[2019-09-05 13:43] M-Davies commented on #6779
Closing for noted reason

[2019-09-05 13:43] #6779 closed

[2019-09-05 13:49] M-Davies commented on #6680
Is it ok for me to close this @DanHeidinga if you're in agreement with Peter's comment?

[2019-09-05 14:45] PascalSchumacher commented on #137
Thank you very much for the detailed information! 👍

[2019-09-05 15:01] hangshao0 commented on #6971
We don't support multi-layer cache on 32 bit platforms.

[2019-09-05 15:02] Mesbah-Alam commented on #6840
The test passes, but it seems one of the umask command is failing,

[code]

Logged onto an internal AIX machine and tested out the umask commands used in the test manually. It seems to be working fine, couldn't reproduce the error

[code]

The only umask command in which a umask flag is used in the test is `umask -p` - to print out the umask value after it has been set / unset. However, I am not 1

[2019-09-05 15:05] pshipton commented on #6971
Which was a design decision. Multi-layer increases the size of the cache slightly, and user's of 32-bit may not have extra space to spare. Given the limited space, multi-layer is less useful for 32-bit.

[2019-09-05 15:13] TiborBeres commented on #6920
@babsingh the new jython.jar did fix the issue. Thanks!

[2019-09-05 15:22] babsingh commented on #6920
Closing the issue since a fix exists in the latest Jython source code.
- [Fixed PyJavaType.handleMroError](https://github.com/jythontools/jython/blob/38a80c032234889ce0dcad013e4505ba82af5615/src/org/python/core/PyJavaType.java#L226-L250) is part of jythontools/jython@057a2c6.
- Related Jython bug: https://bugs.jython.org/issue2445.

[2019-09-05 15:22] #6920 closed

[2019-09-05 15:31] DanHeidinga commented on #6680
What criteria is OpenJDK using to determine if the frame should be visible or not?

If it's that the class is loaded by Unsafe.defineAnonymousClass then OpenJ9 should mark those frames as invisible as well.

[2019-09-05 15:31] DanHeidinga commented on #6680
I think more investigation is needed here

[2019-09-05 15:32] fjeremic commented on #6284
Excellent. We can conclude this issue as fixed. Thanks for the work here!

[2019-09-05 15:32] #6284 closed

[2019-09-05 17:03] 0xdaryl opened #6979 "AArch64 pipeline builds fail w/ DDR"
The AArch64 pipeline builds fail while building the Java classes for DDR, presumably because DDR isn't available yet on AArch64 (#5221).

Attached is the failing console output lest the CI link vanishes ->  [cf2.txt](https://github.com/eclipse/openj9/files/3580392/cf2.txt)

I believe the remedy is to configure with `--disable-ddr`.  @keithc-ca, can you confirm if that will fix this problem?

[2019-09-05 17:03] 0xdaryl commented on #6979
FYI : @knn-k @Akira1Saitoh

[2019-09-05 17:32] pshipton commented on #6840
On AIX 7.1
[code]

[2019-09-05 17:35] Mesbah-Alam commented on #6840
@pshipton - thanks for finding out. I'll have a PR where `-p` is removed.

[2019-09-05 17:37] AlenBadel commented on #4930
I've updated the changes and mapping required https://github.com/eclipse/openj9/issues/4930#issuecomment-527623042.

[2019-09-05 17:41] keithc-ca commented on #6979
No, DDR should already be disabled in that build (it is still the default for aarch64). The problem is that tests don't recognize that the JDK being tested doesn't support DDR.

[2019-09-05 18:02] #6711 closed

[2019-09-05 18:03] 0xdaryl commented on #6979
@smlambert @llxia : can I provide an `excluded_tests:` in the YAML file for AArch64 to have it skip the DDR_Test ?  If so, what is the syntax I should use?

[2019-09-05 18:13] pshipton opened #6982 "Run special.system testing on the weekends"
special.system testing, which runs the system testing in many different "modes"`*` takes considerable machine time to run. OpenJ9 nightly builds run special.system for JDK8 on all the platforms which have enough machines to support it. There is spare machine time on the weekends, when committers are not typically running PR testing or causing OMR acceptance builds. We can use this spare machine ti

[2019-09-05 18:16] pshipton commented on #6982
The currently blocker for setting this up is that special.system tests which don't run nightly are excluded in the defaults.yml file. I'm hoping we can find a way to keep the nightly builds the same while having a weekend build with more coverage.

[2019-09-05 18:16] pshipton commented on #6982
@llxia @smlambert @DanHeidinga

[2019-09-05 18:18] pshipton commented on #6982
The special.system tests run in parallel. Some of the parallel jobs run much quicker than others. We should also investigate splitting the longest running jobs to get more parallelization.

[2019-09-05 18:38] pshipton opened #6983 "cent6-x64-3 running really slow"
There is a compile running on  cent6-x64-3 since 9am this morning, proceeding very slowly. There must be other stuff left running on the machine and it needs to be cleaned up.

https://ci.eclipse.org/openj9/job/Build_JDK13_x86-64_linux_xl_Release/1

[2019-09-05 18:39] pshipton commented on #6983
@AdamBrousseau @jdekonin

[2019-09-05 19:00] AdamBrousseau commented on #6983
[code]
I believe this _should_ have been killed in the test tear down. cc @llxia
It would have also been killed by the sanity job but it's currently disabled.

[2019-09-05 19:07] AdamBrousseau commented on #6983
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Personal/230/console
[code]

[2019-09-05 19:10] AdamBrousseau commented on #6983
Is it odd that there's a few `/` missing from that pkill command path
[code]

[2019-09-05 19:23] llxia commented on #6537
PR https://github.com/eclipse/openj9/pull/6574 is delivered. Close this issue

[2019-09-05 19:23] #6537 closed

[2019-09-05 20:02] llxia commented on #6979
To exclude, two changes are needed:
- in build.xml, skip test compilation if it is aarch64
https://github.com/eclipse/openj9/blob/77b3ec8449d1bbb4c6eecb53e73f56d64441054c/test/functional/DDR_Test/build.xml#L111
- in playlist.xml, add `^arch.aarch64` in `platformRequirements`
https://github.com/eclipse/openj9/blob/77b3ec8449d1bbb4c6eecb53e73f56d64441054c/test/functional/DDR_Test/playlist.xml#L49

[2019-09-05 20:10] #3973 closed

[2019-09-05 20:20] keithc-ca commented on #6979
A better solution might be to look for `j9ddr.jar` in the JDK being tested.

[2019-09-05 20:33] simonameng opened #6988 "Clean up option `TR_OptimizeForSpace `"
When I was working on the issue #6190, we found out the option `TR_OptimizeForSpace` not being used anywhere[1]. We might need to clean up the option.

[1] https://github.com/eclipse/openj9/pull/6985#discussion_r321460862

[2019-09-05 21:00] llxia commented on #6982
- `defaults.yml` is used and controlled in the upstream build/pipeline to trigger downstream builds. Test builds do not use it. @AdamBrousseau should have more inside on this.

- I think a better solution is to set artifactory properly so we can get nightly SDK. Similar to https://api.adoptopenjdk.net/ In this way, we can configure to run any test build at any time.

[2019-09-05 21:31] smlambert commented on #6982
I would very much like to see more ways into accessing sdk builds on artifactory (leveraging the features of artifactory more whole-heartedly).

This may nicely address the need stated above of 'give me the latest nightly build' (artifactoryserver/spec/nightlyTimeStamp or ?lastModified), but also to allow for easier triaging and reproduction of issues by devs (artifactoryserver/prNumber to get bui

[2019-09-05 21:34] smlambert commented on #6982
Also a note on the defaults.yml, I have noticed that some jobs that will never get used are being generated nightly on the internal repo.  This makes it more difficult to see the jobs that are in use (and one can not simply delete them, as each night they are spawned again).  It may be good to revisit how we define which jobs are auto-generated so that it is more flexible, but as Lan mentioned, we

[2019-09-05 22:43] dchopra001 opened #6991 "Port JITServer to Power"
This issue will be used to track all the PRs I will be opening to implement JITServer support on Power. See #6914 for a similar issue for Z.

Below is the list of PRs:

**JITServer Branch**
- [x] JITServer Compilation Fixes for Power: #6990
- [x] Direct call fixes for JITServer on Power: #7384
- [x] Disable use of TR_VMField on JITServer: #7385
- [x] Use JITServer check to create a relocation reco

[2019-09-05 22:44] dchopra001 commented on #6991
@mpirvu FYI

[2019-09-05 22:52] knn-k commented on #6979
AArch64 runtime does not have j9ddr.jar nor the lib/ddr directory now.

[2019-09-06 08:44] adam-thorpe commented on #6878
Unexcluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1331

[2019-09-06 12:01] keithc-ca commented on #6979
That's my point, if the test only tried to build if j9ddr.jar can be found, it would adapt properly.

[2019-09-06 12:27] pshipton commented on #6236
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/267
MauveMultiThreadLoadTest_special_26
variation: Mode107-OSRG
JVM_OPTIONS: -Xcompressedrefs -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation

[code]

[2019-09-06 12:40] pshipton opened #6992 "Please check osx1014-x86-2 for running processes"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/6 appears to be running quite slowly, all the testing failed due to timeouts. Please check for running processes on the machine. Possible dup of https://github.com/eclipse/openj9/issues/6983

[2019-09-06 12:40] pshipton commented on #6992
@AdamBrousseau @jdekonin

[2019-09-06 12:43] adam-thorpe commented on #6840
Seems to be stable: https://ci.adoptopenjdk.net/view/Test_system/job/Test_openjdk13_j9_extended.system_x86-64_linux/45/

[2019-09-06 13:26] jdekonin commented on #6992
[code]

I've cleaned them up.

[2019-09-06 13:38] Mesbah-Alam commented on #6840
Test passing on the failing machine after https://github.com/AdoptOpenJDK/openjdk-tests/pull/1329 is merged:  https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/483/console

[2019-09-06 13:38] AdamBrousseau commented on #6992
We should revisit the [sanitize script](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/jobs/infrastructure/Cleanup-Nodes.groovy) / [job](https://ci.eclipse.org/openj9/job/Sanitize-Nodes/). I think Adopt has their own version now as well. We should compare notes and see if we can improve ours. Reminder that ours was disabled because it appeared that the process of taking nodes offli

[2019-09-06 14:24] M-Davies commented on #6680
I dig some digging using -Xdump:
`Unsafe` loads `MethodHandle` but not the `.accept` frame. Neither `Lambda` or `DumpStackTest` are loaded using `Unsafe`

- Lambda is loaded using its own metafactory
- **DumpStack:**
[code]
**And later...**
[code]

[2019-09-06 14:28] DanHeidinga commented on #6919
Notes from yesterdays discussion:
* Python for command line options is the first step in a bigger plan to generate content at OMR.
* JITBuilder also has a python dependency.
* Python is already installed on most machines but is at the 2.7 level.
* Infrastructure / releng support for managing these tools is a significant concern as there are fewer infra / releng members across the projects than the

[2019-09-06 16:46] fjeremic opened #6995 "Linux S390x Dockerfile for JDK11 cannot build the JDK due to missing X11 headers"
When attempting to build the Dockerfile referenced using the step-by-step build instructions from the website [1] we run into an issue with X11 headers during the configure step:

[code]

Looking into `config.log` we can see the following:

[code]

As suggested by the build output the problem can be fixed by installing `libxrandr-dev`. This issue is not present on JDK12 builds because the package

[2019-09-06 16:49] JamesKingdon commented on #6428
Andrew suggested checking the behaviour with TR_OptimizeForConstantLengthArrayCopy=1. It doesn't help with the test case as attached to this issue because it uses variable length strings. However, for a version of the test case that appends a fixed String of length 1 using the environment variable produces a roughly 6X improvement.

[2019-09-06 17:16] #6995 closed

[2019-09-06 17:28] fjeremic opened #6998 "DDR not supported by exploded-image"
Using the JDK11 Dockerfile and adding the test dependencies needed to build and execute tests by running the following commands:

[code]

Then trying to build the tests:

[code]

The test compilation fails at this point:

[code]

It seems like the same errors encountered in #3366. Removing the `DDR_Test` directory and running `make compile` works around the problem.

[2019-09-06 17:39] pshipton commented on #6998
@keithc-ca

[2019-09-06 17:48] keithc-ca commented on #6998
See also #6994.

[2019-09-06 18:05] JasonFengJ9 commented on #6722
A quick update:

Not able to make `RI` work even when the encoding is set to `GBK` just like `OpenJ9` so can't reproduce the behaviour difference reported. There are some environment difference between mine and the originator's which need to be identified.

[2019-09-06 18:07] pshipton commented on #6720
Looking at the history for why a space check was added back in 2011, it appears the fail behavior is less than ideal - `when a shared cache is created and loaded through mmap, the file stays empty until it is actually written to. Therefore, we do not get an error when we create the shared classes cache if the file system is full. However, when we do write to the file and the disk is full a SIGBUS

[2019-09-06 18:46] #6887 closed

[2019-09-06 18:52] pshipton commented on #6998
Since DDR is supported and enabled for zLinux, it seems strange the DDR tests cannot compile.

[2019-09-06 19:17] keithc-ca commented on #6998
It appears `TEST_JDK_HOME` was improperly specified as
[code]
when it should have been
[code]
The former does not support DDR while the latter should (if it was enabled at configuration time).

[2019-09-06 19:23] DanHeidinga commented on #6998
Why doesn't DDR work for the build in `/jdk`?

[2019-09-06 19:30] DanHeidinga commented on #6680
There may be a fix for this actually.  It would be worthwhile building with this PR https://github.com/eclipse/openj9/pull/3627 and then retesting.

[2019-09-06 19:35] fjeremic commented on #6998
I've just tested with:

[code]

And everything is working as expected. Interesting caveat. I'd also like to understand why `/jdk` does not work.

[2019-09-06 19:45] AdamBrousseau commented on #6975
I pinged @vivkong. She says there's a planned outage this weekend so she will follow up on Monday.
That tells me it may come back after the outage (possibility). I will follow up with her then.

[2019-09-06 19:45] pshipton commented on #6720
@gyuuu In #7001 I've created a new `-Xshareclasses:` option `noPersistentDiskSpaceCheck` which you can try.
These links to JVMs containing the change will be available for a short time

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_x86-64_linux_Personal/293/OpenJ9-JDK8-x86-64_linux-20190906-184840.tar.gz
https://140-211-168-230-openstack.osuosl.org/artifacto

[2019-09-06 19:50] llxia commented on #6983
It looks like `$(D)` does not work.
https://github.com/eclipse/openj9/blob/96702a0bb3fbd71b64dd3a45b38693f5db4978d1/test/TestConfig/testEnv.mk#L33

We will fix it.

[2019-09-06 20:02] JamesKingdon opened #7002 "Crash while throwing ClassCastException"
The crash is specific to the x86 platform running 64 bit with compressed references. The crash occurs in internalSendExceptionConstructor and analysis will find that one of the two class pointers has been sign extended. The incorrect value can be found in J9VMThread.floatTemp1 which is the storage location used to pass the value from jitThrowClassCastException to impl_jitClassCastException. The tw

[2019-09-06 20:22] keithc-ca commented on #6998
I was under the impression that `/jdk` (as opposed to `/images/jdk`) was not _expected_ to be a full JDK - it only needed to be capable enough to build `/images/jdk`, etc. Given that belief, I never arranged for DDR artifacts to be present in `/jdk`. The comment [1] suggests otherwise. Let's repurpose this issue to fix that.

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/make

[2019-09-06 20:34] #6971 closed

[2019-09-06 21:32] fengxue-IS commented on #6870
[code]
Can be fixed by changing lookup macro from `FIND_ARG_IN_VMARGS` to `FIND_AND_CONSUME_ARG`

[code]
is parsed when sharedclasses dll is loaded, so it only gets consumed if `-Xshareclasses` have been set (after the above mentioned change). Maybe we should change error message from
`Command-line option unrecognised:` to something more informative like
`-XX:ShareClassesEnableBCI should only be u

[2019-09-06 21:51] shahriarsust opened #7005 "Openj9 seems not to shrink enough memory after a gc"
Hello,

I have been using openj9 replacing hotspot, and the services we are running have significantly improved both in terms of memory usage and responsiveness.  Currently, I am facing an issue.
I am running an application with openj9 using following flags.

"-Xminf0.2",
"-Xmaxf0.4",

[According to doc](https://www.ibm.com/support/knowledgecenter/en/SSYKE2_8.0.0/openj9/xminf/index.html) these fla

[2019-09-06 22:29] fjeremic commented on #7005
Looking at the OpenJ9 documentation [1] it seems these values are 0 - 100 based, not 0.0 - 1.0 based. So I think the options you want are `-Xminf20 -Xmaxf40` instead. Tagging @amicic and @dmitripivkine for further assistance if needed.

[1] https://www.eclipse.org/openj9/docs/xminf/

[2019-09-06 22:38] shahriarsust commented on #7005
I tried with 20 40, the service crashes. actually its 0.0-1.0 based

[https://www.ibm.com/support/knowledgecenter/en/SSYKE2_7.1.0/com.ibm.java.lnx.71.doc/diag/appendixes/cmdline/xmaxf.html](https://www.ibm.com/support/knowledgecenter/en/SSYKE2_7.1.0/com.ibm.java.lnx.71.doc/diag/appendixes/cmdline/xmaxf.html)

[2019-09-07 11:48] pshipton commented on #6511
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/137
[code]

[2019-09-07 13:12] pshipton commented on #6992
Now there is a problem on osx1011-x86-2
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/15
The tests aren't completing, I expect something else is running on the machine.
[code]

[2019-09-07 13:37] pshipton opened #7006 "special.system tests not running on 0.16 release build"
The special.system tests aren't excluded in the 0.16 release branch [1], and `special.system` is included in the TESTS_TARGETS for the 0.16 release build [2], but the tests did not run.

[1] https://github.com/eclipse/openj9/blob/v0.16.0-release/buildenv/jenkins/variables/defaults.yml
[2] https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-0.16.0-Build/build

[2019-09-07 13:37] pshipton commented on #7006
@AdamBrousseau @llxia

[2019-09-07 13:44] AdamBrousseau commented on #7006
I think it's because the pipelines (including the variable file) are pulled from master. If you specify the variable file parameters it should work. Can refer to the internal personal build for the params. Either that or modify the job config to pull the pipelines from the release branch. I would recommend the former.

[2019-09-07 13:51] pshipton commented on #7006
ok, I've set VARIABLE_FILE and trying it here https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-0.16.0-Build/3/

[2019-09-07 13:57] pshipton commented on #7006
Seems I need to set more, like VENDOR_REPO, VENDOR_BRANCH. Trying more builds.

[2019-09-07 14:02] pshipton commented on #7006
Thanks, that seemed to fix it
[code]

[2019-09-07 14:02] #7006 closed

[2019-09-07 14:27] pshipton commented on #6982
While we ponder a better way, I've set up a build using a copy of the defaults.yml file with the excludes removed. https://ci.eclipse.org/openj9/job/Pipeline-Special-System-JDK11/

[2019-09-07 19:06] amicic commented on #7005
It's 0.0-1.0 based.

@SueChaplain, OpenJ9 docs should be explicit about it. It should also state that these options control
1) in case of Gencon, only Tenure part of heap and only at Global GC points
2) in case of Optthruput and Optavgpause whole heap at every GC.

I however don't understand the graph (for example, what points are global GCs?). @shahriarsust, could you attach verbose GC logs?

BTW

[2019-09-07 22:09] pshipton commented on #6992
I suspect ub16-ppcle-1 has running processes, as it's running very slow.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64le_linux_Personal/31

[2019-09-07 22:13] AdamBrousseau commented on #6992
If you want you can kick off the [Sanitize job] (https://ci.eclipse.org/openj9/view/Infrastructure/job/Sanitize-Nodes/). I have it on my list to revisit the code but it should work in the short term.

[2019-09-08 03:28] pshipton commented on #6992
https://ci.eclipse.org/openj9/view/Infrastructure/job/Sanitize-Nodes/114/

[2019-09-08 17:41] gita-omr commented on #4930
Would it be possible to summarize the default HotSpot and OpenJ9 behaviour for the pages sizes? For example:
1) How are the page sizes chosen when no XX:+UseLargePages or -Xlp is specified on the command line for HS and OpenJ9 correspondingly?
2) How are the page sizes selected when those options are specified in each VM correspondingly?
3) Are we going to change anything in terms of the default s

[2019-09-08 20:49] gyuuu commented on #6720
@pshipton

Thanks for the builds, however I had some trouble with the builds you provided. I **created a Docker Image** using the **jdk8** version and I **can't get the application run with it**.
The JVM **fails** with the following log messages **both with and without the `noPersistentDiskSpaceCheck` flag**
`JVMSHRC226E Error opening shared class cache file
JVMSHRC336E Port layer error code = -10

[2019-09-08 21:50] pshipton commented on #5911
Fixed via https://github.com/eclipse/openj9/pull/6501

[2019-09-08 21:50] #5911 closed

[2019-09-09 00:49] hangshao0 commented on #6720
Are you using `readonly` sub-option ?  `readonly` should be used when the shared cache already exists on the system. The JVM is unable to create a new shared class cache file with `readonly`

[2019-09-09 03:09] AlenBadel commented on #4930
On Hotspot I don't have enough knowledge on how page sizes are chosen without specifying an option.
On OpenJ9 these values are hard coded and differ based on architecture.

As Dmitri commented:

As I've noted

Xlp does exactly the same.

No, we're simply mapping XX:+UseLargePages to (Xlp: Java8) (Xlp:objectheap and Xlp:codecache Java 9+)

-XX:LargePageSizeInBytes=<size> overrides any hardcoded val

[2019-09-09 09:15] gyuuu commented on #6720
**Yes I do, I added the shared class cache and set a name for it.** This config **works with the adoptopenjdk image**, without the `noPersistentDiskSpaceCheck` flag
I **will check these settings** tonight and try it **without the readonly flag** aswell.

[2019-09-09 10:54] M-Davies opened #7009 "JTReg Test Failure: java/lang/invoke/LoopCombinatorTest.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/3c31c8cb4eb3eaed4de1a1438fa4f83e550fa51e/test/jdk/java/lang/invoke/LoopCombinatorTest.java#L1 consistantly fails for JDK11-openj9 (hotspot unaffected)
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux, openjdk_x86-64_windows, openjdk_x86-64_mac
[code]
Optional info
-------------

- intermittent failur

[2019-09-09 12:18] JasonFengJ9 opened #7010 "extended.functional_x86-64_mac TestAttachErrorHandling_0 FAILED: test_startupShutdownRobustness"
Failure link
------------

Public link to the failing test

https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_mac_Nightly/34/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

At `AIX` as well https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64_aix_Night

[2019-09-09 13:33] smlambert commented on #7010
Now that we add some extra info at the bottom of the console output to aide reproduction of the failed test, its good to add it to the issues (especially as the Jenkins job and console output only stay around for a short time):

Grinder reproduction link:
<JenkinsServer>/job/Grinder/parambuild/?JDK_VERSION=13&JDK_IMPL=openj9&BUILD_LIST=functional&Jenkinsfile=openjdk_x86-64_mac&TARGET=TestAttachErr

[2019-09-09 14:01] DanHeidinga commented on #7009
@M-Davies It looks like there are a mix of issues in this.  Some are due to different exception messages but others look more "real".  Can you separate out the ones that are more than just exception message differences?

[2019-09-09 14:11] andrew-m-leonard opened #7011 "JDK13: java/util/concurrent/tck/JSR166TestCase.java.JSR166TestCase fails on pLinux"
This looks like a JIT bug, as if I run the test grinder with "-Xint" the test passes.

Failure link
------------
Failing grinder job:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/407/console

- openjdk
- jdk_custom
- java/util/concurrent/tck/JSR166TestCase.java
- openjdk_ppc64le_linux only
- public build SHAs (i.e. java -version output), in Grinder provides JDK_VERSION/JDK_IM

[2019-09-09 14:12] andrew-m-leonard commented on #7011
Note, this failure has only just been found as the testcase JSR166TestCase was un-excluded a few days ago...

[2019-09-09 14:23] dmitripivkine commented on #4930
Why you need to do something for Java 8 differently? Java 8 and higher should have identical implementation

[2019-09-09 14:35] AlenBadel commented on #4930
This was a consideration due to the deprecation of `-Xlp` in Java9+.
https://www.eclipse.org/openj9/docs/xlp/

It would depend on the availability of `-Xlp:codecache` and `-Xlp:objectheap`. If they are available in Java 8, and the behaviour is the same then these options will be mapped instead of `-Xlp`.

[2019-09-09 15:00] akrus commented on #5615
Just noticed on another server:
[code]
Average was ~3-5 ms before and it spiked for some reason after 1 day of uptime.

[2019-09-09 15:32] M-Davies commented on #7009
[code]

Trimmed it down for you @DanHeidinga. Left `OMITTED` placeholders in the results

[2019-09-09 15:53] 0xdaryl opened #7012 "AArch64 pipeline failure creating java.base.jmod"
AArch64 CI pipeline builds are failing with the following exceptions (sample build https://ci.eclipse.org/openj9/job/Build_JDK11_aarch64_linux_xl_Personal/21/)
[code]

[2019-09-09 16:10] AlenBadel commented on #4930
From my understanding `-Xlp` is deprecated, but is still accepted and is functionally sane in Java9+. Could anyone confirm this?

To avoid making changes to the mapping infrastructure, and implementing one to many mapping we could do one of two things.

If using `-Xlp` is functionally sane, then we can map `-XX:+UseLargePages` and `-XX:LargePageSizeInBytes=<size>` to `-Xlp` instead of both `-Xlp:c

[2019-09-09 18:03] keithc-ca commented on #6330
I have seen this as well, but it happened earlier in my build - as it was creating multiple jmods.

[2019-09-09 18:18] JasonFengJ9 commented on #7010
Update:

Not able to reproduce the error in a 100x internal jenkins build.

[2019-09-09 18:26] ymanton opened #7015 "The compileFirstClassLocation member of TR_AOTMethodHeader is unused and should be removed"
The `compileFirstClassLocation` member of `TR_AOTMethodHeader` appears unused and should be removed if possible. I've removed all references to it in the compiler's code base, changed the member name to `unused`, and initialized it to `0xdeadc0de` (32-bit) / `0xdeadc0dedeadc0de` (64-bit) in https://github.com/eclipse/openj9/pull/6723, but otherwise left it be to maintain the size of the header in

[2019-09-09 19:31] wraschke commented on #6875
Hi, Henry, sorry for the delay. I will try to get to this later today.

[2019-09-09 19:36] 0xdaryl commented on #7012
Issue seems to be intermittent as other CI builds pass.  Perhaps storage availability related?  @knn-k

[2019-09-09 20:20] dmitripivkine commented on #4930
I believe this is movement to wrong direction. `-Xlp` functionality is not exactly the same as `-Xlp:objectheap:* -Xlp:codecache:*`  for obsolete backwards compatibility issues. Also an implementation should not limit required functionality. So you can not say we would set `-Xlp:objectheap:` but not codecache because of limitations of implementation.

[2019-09-09 20:50] shahriarsust commented on #7005
Thanks for the info. Please find attached the log
[gclog.zip](https://github.com/eclipse/openj9/files/3592577/gclog.zip)

[2019-09-09 21:11] pshipton commented on #6236
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/294
MauveMultiThreadLoadTest_special_20
00:51:38  variation: Mode557
00:51:38  JVM_OPTIONS: -Xcompressedrefs -XX:+UseCompressedOops -Xgcpolicy:balanced -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:count=0
[code]

[2019-09-09 21:16] pshipton opened #7020 "openjdk8_j9_special.system_x86-64_windows MauveMultiThreadLoadTest InputStreamReader.utf8"
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/220
MauveMultiThreadLoadTest_special_20
05:20:41  variation: Mode557
05:20:41  JVM_OPTIONS: -Xcompressedrefs -XX:+UseCompressedOops -Xgcpolicy:balanced -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:count=0
[code]

[2019-09-09 21:21] pshipton commented on #6992
osx1013-x86-3
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/33

[2019-09-09 21:21] pshipton commented on #6992
@AdamBrousseau should we re-enable the sanitize job? It's currently disabled.

[2019-09-09 21:55] pshipton commented on #6992
I've enabled the sanitize job until told otherwise or we spot a problem.

[2019-09-09 21:55] gacholio opened #7022 "Jprofiling calls on x86-32 are using the wrong linkage"
The issue is a stack misalignment when storing an XMM in C code which has been called directly from the code cache:

[code]

I've verified that both of the C functions are maintaining correct stack alignment.

The issue appears to be that the incorrect linkage is being used to call the helpers, so the stack is not being aligned/restored to the native stack.

[2019-09-09 21:57] gacholio commented on #7022
@liqunl @r30shah

[2019-09-09 22:25] pshipton commented on #7011
@gita-omr @zl-wang can someone please take a look.

[2019-09-09 22:29] pshipton commented on #6330
@hangshao0 any update on when a fix is expected?

[2019-09-09 22:30] liqunl commented on #7022
@gacholio The linkage is good, the problem is that we don't align the stack for c helper linkage.

[2019-09-10 00:30] smlambert commented on #7010
Not all tests that are run produce additional information in the tap results (system tests do, because they do not produce junit format output).  I think it is more about triagers knowing what info to grab off of a Jenkins job to attach to the issue, and developers knowing where to look in the information attached to an issue.

I will plan to do a "triage and issue handling" best practices session

[2019-09-10 01:09] knn-k opened #7023 "AArch64: Enable computed calls"
AArch64 JIT has to support computed calls.

[2019-09-10 01:28] knn-k commented on #7012
I think so, because `/usr/bin/cp` fails to copy a file as follows.  It looks more like a storage problem than a java runtime problem to me.

[2019-09-10 01:43] andrewcraik commented on #7022
thanks @liqunl - good catch.

[2019-09-10 03:29] #6983 closed

[2019-09-10 06:53] gyuuu commented on #6720
Ignore my complaints, **this was my fault**,  the **new flag** do **fix the issue**.
**Thank you all!**
The problem was I added shared classes cache built on another version of openj9.

According to caveats commented by @pshipton, Is it possible to resrve the required space beforehand?

[2019-09-10 06:55] gyuuu commented on #6720
Please not that I did my tests with the jdk8 version, I will test the jdk11 version asap.

[2019-09-10 10:39] M-Davies commented on #6680
That seems to have fixed it. There is now a `NullPointerError` exception later in the code. The prefix that is attached is statically typed so it's possible the class name has changed in that time and the prefix is now incorrect. Will try running with `contains()` instead to see if that helps the test find the class name.

Error Output:
[code]

[2019-09-10 12:55] archanaNogriya commented on #6959
after investigation, it seems src/java.smartcardio/unix/native/libj2pcsc/MUSCLE/COPYING is only a legal file which is causing this failure and as this file explain the files which is under GPL V2 but does not have classpath exception does not exist in the path system and does not includes into JDK build. hence we decided to keep this file in to exclude list for our copyrighstChecker.

[2019-09-10 13:20] pshipton commented on #6239
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/136
osx1011-x86-1
@AdamBrousseau @jdekonin pls reboot the machine.

[2019-09-10 13:23] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly/132/

[2019-09-10 13:31] llxia opened #7026 "Jenkinsfile param is not set in the Grinder link"
`Jenkinsfile` param is not set in the Grinder link for AIX.

https://ci.eclipse.org/openj9/view/Test_Functional_Nightly/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly/132/console

[code]

fyi @renfeiw

[2019-09-10 13:31] pshipton commented on #6236
MauveMultiThreadLoadTest_special_20
[code]

[2019-09-10 13:32] pshipton commented on #6236
@gita-omr fyi, this seems to happen fairly often recently, it would be good to take a look.

[2019-09-10 13:35] llxia commented on #7026
The map is not correct:
https://github.com/eclipse/openj9/blob/d499be65b85512b4d9f6961adf65c1832c2ccbcb/test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl#L44

[2019-09-10 14:03] jdekonin commented on #6239
Rebooted and its reconnected to jenkins again.

/cores contained 300gb of corefiles (523 artifacts) dating back to Feb.  There was still ~600G free on the device so I don't think that was the problem.

[2019-09-10 14:22] liqunl commented on #7022
@gacholio There is a problem of stack alignment on 32-bit in general, it is in https://github.com/eclipse/openj9/blob/master/runtime/compiler/x/codegen/X86PrivateLinkage.cpp#L90. Like you siad, the test still fails after changing 4 to 16. I'm still investigating.

[2019-09-10 14:32] gacholio commented on #7022
I'm pretty sure Victor got this working for the VM-provided helpers (like fast_jitNewObject). Maybe start looking there.

[2019-09-10 15:17] AdamBrousseau commented on #6975
All 390 back online now.

[2019-09-10 15:20] hangshao0 commented on #6330
Will looking at fixing this shortly, hopefully this week.

[2019-09-10 16:07] DanHeidinga commented on #6330
That's going to be very tight to make the release.  We want to ship on Sept 17 so the code needs to be ready, reviewed, merged and tested asap

[2019-09-10 16:08] liqunl commented on #7022
I think the problem is that the c++ function's stack is not aligned. The following instruction push 16 bytes on to the stack, then make the call. The stack was 16bytes aligned before calling `TR_EmbeddedHashTable<unsigned int, 2u>::addKey(unsigned int)`, after the call at `0x01066beb` the stack is not aligned. @gacholio Could it be related to the c compiler and the compiler flags we're using?
[cod

[2019-09-10 17:43] simonameng opened #7030 "`ifInstanceOfEvaluator` in Power doesn't use common API to generate tests"
`ifInstanceOfEvaluator` in Power is not currently using the common API `calculateInstanceOfOrCheckCastSequences` to generate the tests, while the `instanceofEvaluator` is using. It lead to some duplicate codes and these evaluators needs refactoring.

In Z, both `VMifInstanceOfEvaluator`[1] and `instanceofEvaluator`[2] will eventually call the common API to generate the tests. It might be an exampl

[2019-09-10 17:43] simonameng commented on #7030
@gita-omr

[2019-09-10 18:13] AlenBadel commented on #7011
Taking a look at this.

[2019-09-10 18:39] a7ehuo opened #7035 "JITServer CHTable WARNING: classInfo for subclass 0x207e500 of 0x1f32c00 is null"
Observed the following warning from `CHTable` (`JITServerPersistentCHTable.cpp`) while running sanity test.
[code]

It'd be observed in multiple tests, one of which is `cmdLineTester_GCRegressionTests_2`. Narrowed it down to the following sub-command:
[code]

[2019-09-10 19:07] hangshao0 commented on #4985
This is the issue you are going to pick up. @doomerxe

[2019-09-10 19:09] pshipton commented on #6720
Is this really required? My understanding is that you will create a shared cache and then pre-populate it in the docker image. Creating the shared cache will consume the space it needs, and there won't be any problems when using the cache as long as readonly is used. If the creation process runs out of space, it will result in a SIGBUS or SIGSEGV, but you'll understand this means more space is req

[2019-09-10 19:28] gyuuu opened #7036 "Dockerfile for buildenv jdk11 x86_64 image uses jdk10"
[Dockerfile for **jdk11** x86_64](https://raw.githubusercontent.com/eclipse/openj9/master/buildenv/docker/jdk11/x86_64/ubuntu16/Dockerfile) installs **jdk 10** to this folder: **/root/bootjdk10**

The relevant section of the dockerfile:
[code]

Runing **java -version** in the image built with this file outputs this:
[code]

[2019-09-10 19:31] gyuuu commented on #6720
Sounds legit, ignore my comment.

[2019-09-10 19:39] #6975 closed

[2019-09-10 19:50] pshipton commented on #7036
jdk10 is used to build jdk11. Is there a problem?

[2019-09-10 19:52] pshipton commented on #7036
Try running `./java -version` instead

[2019-09-10 20:13] gyuuu commented on #7036
I did, please check to output in my first comment.

And the **arm version** of this file **uses this download link** [https://api.adoptopenjdk.net/v2/binary/releases/openjdk11?openjdk_impl=openj9&os=linux&arch=x64&release=latest&heap_size=normal&type=jdk](https://api.adoptopenjdk.net/v2/binary/releases/openjdk11?openjdk_impl=openj9&os=linux&arch=x64&release=latest&heap_size=normal&type=jdk)

**Upd

[2019-09-10 20:17] gyuuu commented on #7036
Oh, I see why you replied with this. I did run java -version in the docker image with **docker run {imagehash} java -version**

[2019-09-10 20:28] #7026 closed

[2019-09-10 20:29] gyuuu commented on #6720
I tested the jdk11 version too, problem solved with that one aswell.

[2019-09-10 20:43] pshipton commented on #6720
ok thanks. I'll see about getting the new option into the next release.

[2019-09-10 20:48] pshipton commented on #7036
We could build jdk11 using jdk11, as is done for arm, but jdk11 isn't available at all or for download when we first start building it so the previous java version is used. The docker file puts the previous version on the path, but that doesn't mean it isn't building jdk11. You can run jdk11 from the build/<platform>/images/jdk directory after it is built.

[2019-09-10 21:03] liqunl commented on #7022
Sorry, my understanding of c stack alignment is wrong, I thought it is the same as what we're doing in prologue to the java stack, where the stack is N-aligned on entry of jitted code on x86 64. Currently N is 4 bytes for 32 bit and 16 bytes for 64 bits on x86. But this java stack alignment is also wrong, the correct alignment should be 16-byte aligned before the call on X.

I was under an impress

[2019-09-10 22:24] gacholio commented on #7022
Note the stack is currently not 16-byte aligned on x86-32 (it's 8). If you really want to call on the java stack, the interpreter/stackwalker/DDR will have to be fixed as well.

[2019-09-10 22:28] gacholio commented on #7022
Probably also worth verifying that I'm not lying about the misalignment - compile a few methods with breakOnEntry and see if the ESP is 8-aligned or not when it breaks.

[2019-09-10 23:20] gacholio commented on #7022
Actually, looking at the code, I think the stackwalker will accept any alignment, so it's just the transition code in the interpreter that would need to be changed (about 5 minutes work if I'm right).

[2019-09-10 23:27] #6330 closed

[2019-09-11 03:18] a7ehuo commented on #7035
Narrowed the  `CHTable WARNING` to the commit 16fb704.
16fb704 ==> `CHTable WARNING` happens.
312391c ==>  No warnings.

https://github.com/eclipse/openj9/compare/312391c...16fb704

Before the `CHTable WARNING` occurs, there is a message type mismatch. May or may not be related. Will investigate further.

`#JITaaS: Stream message type mismatch: JITServer expected mesasge type 5 received 2`
[code]

[2019-09-11 08:20] gyuuu commented on #7036
Seems like I **misunderstood the purpose of those files**, despite the fact that the folder name **buildenv** is quite obvious.
I thought these are used to build docker images for running applications with openj9, sorry for that

[2019-09-11 08:20] #7036 closed

[2019-09-11 08:22] gyuuu commented on #6720
**Thank you!**
I'm not familiar the process you work with, can we close this issue now or should we wait for the release?

[2019-09-11 13:36] DanHeidinga commented on #6720
We'll keep it open until the code for the option lands in `master`.  At that point, we know it will be in the next release.

[2019-09-11 13:38] M-Davies opened #7043 "JTReg Failure java/lang/invoke/MethodHandlesGeneralTest.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/3c31c8cb4eb3eaed4de1a1438fa4f83e550fa51e/test/jdk/java/lang/invoke/MethodHandlesGeneralTest.java#L1 is failing consistantly for JDK11-openj9 (hotspot unaffected)
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux, openjdk_x86-64_windows,  openjdk_x86-64_mac
[code]

Optional info
-------------

- interm

[2019-09-11 13:57] wraschke commented on #6875
@hzongaro finally! Please see https://ibm.ent.box.com/file/521929023954, which I shared with you.

[2019-09-11 14:25] gacholio commented on #7022
Also found some alignment code when allocating/growing the stack (if the stack gets copied, the alignment of each frame must be maintained) and DLT (a slightly different JIT transition).

These are all of the places I believe would need changing (and I'd rather do this bit myself):

https://github.com/eclipse/openj9/blob/f4b39c5bb479decd612954b9d7a6055d73e13660/runtime/vm/BytecodeInterpreter.hpp#L

[2019-09-11 14:46] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly/132
TestIBMJlmRemoteMemoryAuth_0

[2019-09-11 14:50] pshipton commented on #6236
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/312
MauveMultiThreadLoadTest_special_20
variation: Mode612-OSRG
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:gencon -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation
[code]

[2019-09-11 14:50] pshipton commented on #6236
fyi it did occur on zLinux as well https://github.com/eclipse/openj9/issues/6803, but happens on pLinux much more often.

[2019-09-11 14:57] pshipton opened #7045 "openjdk11_j9_extended.functional_ppc64_aix testSCCMLSoftmx_1 not found Stored JITHINT attached data"
[code]
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly/132
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly/133
testSCCMLSoftmx_1
[code]

Last pass
OpenJ9: 92ad03e
OMR: 7e9584e
OpenJDK8: efd7298 - openj9-openjdk-jdk8
OpenJDK11: 3c31c8c - openj9-openjdk-jdk11

First failure
OpenJ9: b2e5ef8
OMR: 7e9584e
OpenJDK8: e448

[2019-09-11 15:01] pshipton commented on #7020
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/312
MauveMultiThreadLoadTest_special_20

@andrewcraik @liqunl

[2019-09-11 15:11] pshipton commented on #6239
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_mac_Nightly/36/
@jdekonin @AdamBrousseau pls reboot osx1013-x86-4

[2019-09-11 15:17] DanHeidinga commented on #5988
TODO: determine if this issue has previously shipped or not

[2019-09-11 15:21] DanHeidinga commented on #5074
We're likely at the "go / no-go" point for AIX to make JDK 13.

Build is broken so testing hasn't been run yet.
Let's limit the PRs for this going into 0.16 until we're sure we're going to ship it.

[2019-09-11 15:34] gita-omr commented on #7011
Wow, was able to assign to @AlenBadel due to the comment! @AlenBadel please update with the latest progress.

[2019-09-11 15:37] gita-omr commented on #6236
@aviansie-ben if you make a comment here I will be able to assign this issue to you.

[2019-09-11 16:39] amicic commented on #7005
Hi @shahriarsust,

I had a look at the logs, and here are a few observations/comments:

1) I identified global GC points (which are of interest when looking when Tenure space is contracted, which is to my understanding your concern). All (or almost all) of them are explicit GCs (which are global) and they are occurring frequently (before we exhaust Tenure), and we do seem to contract, but rather g

[2019-09-11 17:16] fjeremic opened #7049 "Why does Z use `splitWarmAndColdBlocks` and other codegens do not?"
According to [1] and [2] the Z codegen will end up executing the `splitWarmAndColdBlocks` function in [3] which seems to traverse the treetops looking for the first cold block that is not followed by any warm blocks. It then inserts a `TR::GoTo` between this first cold block and the next block.

I assume this is historic code from when we used to split warm and cold blocks into different code cach

[2019-09-11 17:17] fjeremic commented on #7049
Tagging a few people (@joransiu @0xdaryl @dsouzai @mpirvu) who many be knowledgeable in the area .

[2019-09-11 17:38] mpirvu commented on #7049
I don't know either and I can only guess it was done on Z because of some experiments that showed some improvements. In theory the idea sounds good: keep all the hot code together to improve cache and tlb locality.

[2019-09-11 18:01] joransiu commented on #7049
Yeah, that was the theory.  I vaguely recall we had measured 1-2% from Tiered Code Caches support over a decade ago: (separate code caches for hot/scorchinng methods + splitting warm/code blocks within a method).  I believe more "recent" measurements when we got rid of TCC showed performance benefits were a wash?

[2019-09-11 18:08] pshipton opened #7050 "mauve system tests hanging on osx"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/51
All mauve testing failed
System dumps are created, but there is no archive attached to the job. A grinder of a single sub-test might include diagnostics
[code]

[code]

[2019-09-11 18:13] pshipton commented on #7050
Trying a grinder on MauveMultiThreadLoadTest_special_15
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/498/

[2019-09-11 18:18] pshipton commented on #7050
@Mesbah-Alam @smlambert @DanHeidinga

[2019-09-11 18:28] gacholio commented on #7022
Before we commit to this solution, I'd like some comments from @andrewcraik. Running C code on the java stack is not a great idea - if the code is complex, it could blow the stack (and there will be no checking). If stack checking (gcc stack protect) is enabled in the compiler, I suspect running on the non-C stack will explode on any function call.

As this is already a cold path (I sure hope you'

[2019-09-11 18:32] DanHeidinga commented on #7050
00:35:49  LT  stderr 2019-09-11 00:35:46.622 java[39481:24524635] +[NSXPCSharedListener endpointForReply:withListenerName:]: an error occurred while attempting to obtain endpoint for listener 'ClientCallsAuxiliary': Connection interrupted

Looks like this stackoverflow question: https://stackoverflow.com/a/15202453/5029186

[2019-09-11 18:33] pshipton commented on #6253
The JVM calls csnap(NULL) to create a CEEDUMP. I don't see anything in the JVM that would affect where the dump is written, it's up to what csnap() does.

https://github.com/eclipse/omr/blob/f87fc0a44cc73a2ed505a8921b84347ab8064d28/port/zos390/omrosdump.c#L83
https://github.com/eclipse/omr/blob/f87fc0a44cc73a2ed505a8921b84347ab8064d28/port/zos390/omrosdump.c#L395

[2019-09-11 18:36] pshipton commented on #7050
@AdamBrousseau

[2019-09-11 19:16] AdamBrousseau commented on #7050
[code]
Any idea how big the test tarball is?
Looking at the grinder you linked the one there is 400M and takes 1 minute to zip. This one appears to take 1/2 hour just to zip. Then fails to upload after 2 hours.

[2019-09-11 20:02] pshipton commented on #7050
@AdamBrousseau I don't care about the artifact, more concerned about the root problem https://github.com/eclipse/openj9/issues/7050#issuecomment-530508632

[2019-09-11 20:39] a7ehuo opened #7051 "JITServer refactor CompilationInfo after merging to the master branch"
Use this issue to track a list of refactoring work items created during merging the code into the `master` branch.

#6986
- https://github.com/eclipse/openj9/pull/6986#discussion_r321779924
`TR::CompilationInfo::storeAOTInSharedCache()` is created in PR #4788

- https://github.com/eclipse/openj9/pull/6986#discussion_r321780877
`TR::CompilationInfo::replenishInvocationCount()` is created in PR #514

[2019-09-11 21:25] fjeremic commented on #7049
The function seems to have eroded though. It doesn't perform any "split". It simply seems to insert a `TR::GoTo`. According to calls to `allocateCodeMemory` no one ever seems to allocate any cold code caches either. I'm thinking this phase is dead, or so it appears at least.

[2019-09-12 00:47] andrewcraik commented on #7022
@r30shah/@liqunl we will need to prototype doing the stackswap. If the swap is too costly we should do a two version fast/slower helper we constraint he fast version like we do other helpers and then stack swap if we need to do a re-arrange or similar. Since there are other more urgent issues this one may have to wait a day or so, but we should check the perf impact of always stack swapping. If it

[2019-09-12 01:54] sadaaithal opened #7053 "has support for "ibm.cl.verbose=*ClassName" been dropped?"
Hi

ibm.cl.verbose feature was convinient for troubleshooting classloader problems.

This used to work in most of IBM J9 VM's..
Example:

[code]

This no longer works in 1.8 Open J9.
I have one on Linux with the following version this doesnt work

openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-b03)
Eclipse OpenJ9 VM (build openj9-0.14.0, JRE 1.8.0 Linux amd64-64-Bit 20190

[2019-09-12 02:00] 0xdaryl commented on #6919
See https://github.com/eclipse/omr/pull/3675#issuecomment-530630546 for more context around the decision to leverage Python to facilitate integrating the OMR compiler with downstream projects.

[2019-09-12 03:57] pshipton commented on #7053
The feature is still part of IBM Java, but it wasn't ported to the OpenJDK extensions for OpenJ9.

[2019-09-12 08:26] M-Davies opened #7055 "JTReg Test Failure: java/lang/invoke/LambdaFormTest.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/3c31c8cb4eb3eaed4de1a1438fa4f83e550fa51e/test/jdk/java/lang/invoke/LambdaFormTest.java#L1 is consistantly failing for JDK11-openj9 (Hotspot unaffected).
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux, openjdk_x86-64_windows, openjdk_x86-64_mac
[code]

Optional info
-------------

- intermittent fai

[2019-09-12 08:52] adam-thorpe opened #7056 "JTReg Test Failure: java/lang/constant/CondyDescTest.java"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk13_j9_sanity.openjdk_x86-64_mac/26/
Platform: mac
Version: 13
OpenJ9   - `39f1a4a52`
OMR      - `7e9584ea`
JCL      - `7f80b6bf6b`

Optional info
-------------
- intermittent failure: no
- regression or new test: regression

Failure output (captured from console output)
-----------------------------------------

[2019-09-12 09:44] M-Davies opened #7057 "JTReg Test Failure: java/lang/invoke/MethodHandlesInsertArgumentsTest.java"
Failure link
------------

https://github.com/M-Davies/openj9-openjdk-jdk11/blob/f15db2cb7caa81034edd3a32e39b4b693ea0355c/test/jdk/java/lang/invoke/MethodHandlesInsertArgumentsTest.java#L1 consistantly fails for JDK11-openj9 (hotspot unaffected)
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux, openjdk_x86-64_windows
[code]

Failure output (captured from console output)
-----------

[2019-09-12 11:52] M-Davies opened #7058 "JTReg Test failure: java/lang/invoke/PrivateInterfaceCall.java"
Failure link
------------

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/6716544a3e1aab5520e36418b4378172e358fd2f/test/jdk/java/lang/invoke/PrivateInterfaceCall.java#L1 is consistantly failing for JDK11/13-openj9 (hotspot unaffected)
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux, openjdk_x86-64_windows, openjdk_x86-64_mac
[code]

Optional info
-------------
- intermit

[2019-09-13 10:05] M-Davies opened #7071 "JTReg Test Failure: java/lang/invoke/PrivateInvokeTest.java"
Failure link
------------

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/6716544a3e1aab5520e36418b4378172e358fd2f/test/jdk/java/lang/invoke/PrivateInterfaceCall.java#L1 fails for JDK11 and JDK8 openj9 implementations (hotspot unaffected).
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux, openjdk_x86-64_windows
[code]

Optional info
-------------

- intermittent failure (

[2019-09-13 10:08] M-Davies commented on #7055
Added to perm excludes

[2019-09-13 10:08] #7055 closed

[2019-09-13 10:49] M-Davies commented on #7058
EDIT: Updated version, it was incorrect

[2019-09-13 15:23] dmitry-ten opened #7072 "Increase in number of messages in JITServer AOT mode"
Messages `VM_isSameOrSuperClass` and `ClassEnv_getROMClassRefName` are now the 2 most frequent messages when running AcmeAir in AOT mode.
The first one is a new message and deals with determining if two classes are identical or one is a superclass of another. I wonder if we can just use `TR_J9ServerVM::isInstanceOf` here.
The second one seems to be an old message but the frequency increased after

[2019-09-13 15:23] dmitry-ten commented on #7072
@mpirvu FYI.

[2019-09-13 18:40] JasonFengJ9 commented on #6185
I believe this is a setup issue.

It works fine in a MacBook machine
[code]

However I do see the `SocketException: Permission denied` in a VM however `RI` has same issue.
As per [1], _If you do not specify the name server port, then port 900 is used by default. you must become the root user to start a process on a port below 1024. For this reason, it is recommended that you use a port number grea

[2019-09-13 19:54] pshipton commented on #5988
Given this was discovered Jun 3, the problem is in the 0.15 release which occurred in July. Moving to the next milestone.

[2019-09-13 19:55] pshipton commented on #5074
Too late for the 0.16 release now, moving to the next release.

[2019-09-13 19:57] pshipton commented on #6871
openj9-0.16.0-m2: Eclipse OpenJ9 v0.16.0 Milestone 2

Repo SHAs
OpenJ9: c577be8
OMR: d49eff1

[2019-09-13 20:11] pshipton commented on #7011
@AlenBadel @gita-omr @zl-wang
Given the previous comment indicates this is a regression, it should be fixed before we release pLinux. We don't want to hold up the 0.16 release for other platforms, so we'll plan to tag the final release on the weekend (Sep 14) and not include plinux in the 0.16 release which is scheduled to go live Tues Sep 17. Once we can fix this, we have the option to create a n

[2019-09-13 20:15] hzongaro commented on #6875
Sounds good, Wendy @wraschke.  I've uploaded a [zip file](https://ibm.ent.box.com/file/523389949477) that contains a debug version of the JIT compiler.

Unzip the file in `/somedirectory`.  Then export the environment variable

[code]

and run the test with the option `-XXjitdirectory=/somedirectory/traceIProfilingHashJIT.r1`.

The debug output will be directed to `stderr`.  If that's inconvenient

[2019-09-13 20:22] gita-omr commented on #7011
I was actually suspecting it's a test case problem. Multiple threads are accumulating double values into the same DoubleAccumulator which causes reassociation and therefore shows different result in last few digits.

[2019-09-13 20:57] pshipton opened #7077 "Jenkins build failures after deploying artifacts"
We need to do something about this so the entire build doesn't need to be restarted in order to complete the testing.

https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64_aix_OMR/281
https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64_aix_OMR/279
[code]

[2019-09-13 20:57] pshipton commented on #7077
@jdekonin @AdamBrousseau

[2019-09-14 06:02] knn-k opened #7079 "Build break in IProfiler.cpp"
Compilation of IProfiler.cpp fails as shown below, when `TR_ASSERT()` is enabled:
[code]

Passing `methodStart`, whose type is `uintptrj_t`, to isPointerInSharedCache() requires a cast to `void *`.

[2019-09-15 00:49] mpirvu commented on #7072
For `VM_isSameOrSuperClass` I think you can use something similar to the implementation of `TR_J9ServerVM::instanceOfOrCheckCast(J9Class *instanceClass, J9Class* castClass)`
The difference is that you don't have to check for interfaces. I am unsure about arrays; the VM code doesn't seem to care about arrays.
Another filter that can be done is to check whether the two classes have the same classloa

[2019-09-15 01:04] mpirvu commented on #7072
For `ClassEnv_getROMClassRefName` the key lines are
[code]
If the `romConstantPool` resides completely in the RomClass associated with the j9clazz given as parameter, then we cam compute the offset of `romConstantPool' from the beginning of the RomClass and cache that value for each j9class.

[2019-09-15 12:03] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_xl_Nightly/141/
TestJlmRemoteMemoryAuth_0

[2019-09-15 12:14] pshipton commented on #7050
The mauve tests passed when running on osx1013-x86-3. Not sure why as the earlier grinder https://github.com/eclipse/openj9/issues/7050#event-2626671895 failed on this machine.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/77/

[2019-09-15 16:58] M-Davies opened #7080 "Failing JTReg Test: java/lang/invoke/CustomizedLambdaFormTest.java"
JDK11's https://github.com/M-Davies/openj9-openjdk-jdk11/blob/dcaed50202aba11658bb827c255ef3c393d4b1ea/test/jdk/java/lang/invoke/CustomizedLambdaFormTest.java#L1 and JDK8's https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/c85b84056711e44d349a1d967eca1e7ace723566/jdk/test/java/lang/invoke/CustomizedLambdaFormTest.java#L1 are consistantly failing for x86-64_linux, windows and osx.

- Part of

[2019-09-15 17:33] M-Davies opened #7081 "JTReg Test Failure: java/lang/invoke/AccessControlTest.java"
- Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/965d0c0df359f3da224b865701bbcc044b7104c2/test/jdk/java/lang/invoke/AccessControlTest.java#L1 is consistantly failing on openj9 builds of JDK11 (JDK8 and hotspot unaffected).
- Category: openjdk
- OS/Architecture: x86-64_linux, x86-64_osx, x86-64_windows
- Jenkins build:
[code]
Optional info
-------------
- Part of the excluded jdk11 o

[2019-09-15 17:33] M-Davies commented on #7081
https://bugs.openjdk.java.net/browse/JDK-8144509 could be related

[2019-09-15 17:36] headius commented on #6760
In order for me to use arguments files the J9 way I'd need a way to determine I'm on J9 first, which is still the crux of this issue. However I have introduced the environment variable into our laucher's "dev" mode here:

https://github.com/jruby/jruby/pull/5826/commits/01a6e07db6d1b88920b612d04ad749f6590ac675

[2019-09-15 17:50] M-Davies opened #7082 "Failing JTReg Test: java/lang/StackWalker/VerifyStackTrace.java"
Failing JTReg test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/965d0c0df359f3da224b865701bbcc044b7104c2/test/jdk/java/lang/StackWalker/VerifyStackTrace.java#L1 for JDK11 and JDK12 on x86_linux and _windows (hotspot unaffected).
- category, openjdk

Output (JDK11)
-------
[code]
Summary
---------
Test is failing at [#272](https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/965d0c0

[2019-09-15 17:50] M-Davies commented on #7082
JDK12 Output
--------------
[code]

[2019-09-15 20:22] 0xdaryl opened #7083 "AArch64 pipeline builds failing because ‘cent7-aarch64-1’ is offline"
This appears to have been the case for a couple of days now.  Here's an example build:
https://ci.eclipse.org/openj9/job/Build_JDK11_aarch64_linux_xl_Personal/27/

@AdamBrousseau : would you mind having a look please?

@knn-k FYI

[2019-09-16 09:43] adam-thorpe opened #7086 "JTReg Test Failure: java/util/Arrays/TimSortStackSize2.java"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/472/
- test category: openjdk
- OS/architecture: all
- version: jdk11, 13
- JVM: openj9

Optional info
-------------
- intermittent failure: no
- regression or new test: regression

Failure output (captured from console output)
---------------------------------------------
run main/othervm -Xbootclasspath/

[2019-09-16 10:30] andrew-m-leonard commented on #7011
I've had a look at the testcase and the underlying DoubleAccumulator code, and the intention of the testcase seems good to me, ie.utilising the "atomic" DoubleAccumulator across a bunch of threads to add up a set of double numbers....
I've delved into the DoubleAccumulator class library code, and it is complicated beyond belief, I suspect you need a top PHD in Mathematics to understand what it is

[2019-09-16 10:41] andrew-m-leonard commented on #7011
One addition, the DoubleAccumulator implementation does make use of @jdk.internal.vm.annotation.Contended

[2019-09-16 10:59] adam-thorpe commented on #7086
May be solved via https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/208

[2019-09-16 11:48] pshipton opened #7087 "openjdk8_j9_sanity.system_x86-64_linux_xl MauveMultiThreadLoadTest_OpenJ9_0 DateFormat.equals"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_xl_Nightly/147
[code]
[code]

[2019-09-16 11:52] pshipton opened #7088 "openjdk8_j9_special.system_x86-64 Integer.Tests15"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/348
MauveMultiThreadLoadTest_special_26
variation: Mode612-OSRG
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:gencon -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation
[code]
[code]

[2019-09-16 11:57] gita-omr commented on #7011
This test was un-excluded only recently. Does it mean we never seen it passing?

[2019-09-16 12:42] pshipton commented on #7011
My concern is this comment

[2019-09-16 13:10] gita-omr commented on #7011
Me too. We will post an update soon.

[2019-09-16 13:46] adam-thorpe opened #7090 "JTReg Test Failure: java/util/Spliterator/SpliteratorCollisions.java"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/477/
- test category: openjdk
- OS/architecture: mac, linux (large heap only)
- version: jdk11, 13
- JVM: openj9 only

Optional info
-------------
- intermittent failure: no
- regression or new test: regression

Failure output (captured from console output)
---------------------------------------------
[co

[2019-09-16 13:52] JasonFengJ9 commented on #4426
One more in `mac` at https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_mac_Nightly/40/tapResults/
[code]

[2019-09-16 13:57] pshipton commented on #7090
Does this fail with `-Xint`?

[2019-09-16 13:59] pshipton commented on #4426
This failure happens intermittently, I don't bother reporting it every time.

[2019-09-16 14:17] adam-thorpe commented on #7090
Yes, assuming I did this correctly https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/493

[2019-09-16 14:26] JasonFengJ9 commented on #7071
This is a `RI` implementation specific test.

Added following empty method:
[code]
The test hits another `java.lang.NoSuchMethodError`
[code]

Added an empty method as following:
[code]
This test still failed `JUnit Failure`:
[code]

Apparently it tests `RI` internal implementation which `OpenJ9` doesn't match.
I am going to exclude it.

[2019-09-16 14:32] JasonFengJ9 commented on #7071
Aha, it has been excluded a while ago under https://github.com/AdoptOpenJDK/openjdk-tests/issues/585.

@M-Davies if you agree, please close this issue.

[2019-09-16 14:45] kobinau commented on #7020
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/3189/
The Grinder was aborted. But from the output we had 43 successful runs.
I tried testing from parallel runs, but it also didn't generate any similar failures.

[2019-09-16 14:46] AlenBadel commented on #7011
The test case itself `JSR166TestCase.java` runs `testAccumulateAndGetMT` multiple times, using different "suites".
The failure itself is intermittent, but since `testAccumulateAndGetMT()` fails with multiple "suites" we almost always see it. Nevertheless, the failure is almost always the same.

I've been running it manually elusively running JSR166TestCase with `ForkJoinTaskTest.suite());`

I was

[2019-09-16 15:03] ymanton commented on #7045
This is caused by a compiler bug. The stack location containing the hint we fetch from the SCC is read and tested for `!=0` before it is written to, so we intermittently take the wrong path and try to update a non-existent hint, which fails.

[2019-09-16 15:28] paulcheeseman opened #7091 "DTFJ: Finalized objects incorrectly tagged with HEAP_ROOT_FINALIZABLE_OBJ"
Consider the following testcase:

[code]

This program creates and discards 1000 objects with finalizers, then forces a GC to induce finalization, and finally triggers a dump so we can examine the state of these objects.

If you run the test and open the resulting dump in Eclipse MAT you will find 1000 FinalizerTest objects of root type `Finalizable`. If you run the "Finalizer Overview" query you

[2019-09-16 15:46] pshipton commented on #7091
@keithc-ca @dmitripivkine

[2019-09-16 15:47] mpirvu commented on #7045
@ymanton, while waiting for a compiler fix, is it possible to circumvent the bug by changing the code slightly?

[2019-09-16 15:50] mpirvu commented on #7045
What if we change
[code]
into
[code]

[2019-09-16 16:03] ymanton commented on #7045
Yes I can give that a try.

[2019-09-16 16:11] dmitripivkine commented on #7091
@amicic FYI

[2019-09-16 16:34] mpirvu opened #7094 "Avoid ResolvedMethod_isBigDecimalMethod messages by caching"
The implementation of `isBigDecimalMethod` is presented below

[code]
The JITServer can use the caches around j9classes and j9methods to completely eliminate `ResolvedMethod_isBigDecimalMethod` messages.
The same goes for `ResolvedMethod_isBigDecimalConvertersMethod` messages

[2019-09-16 18:02] keithc-ca commented on #7091
@paulcheeseman Can you please share the the output of `java -version` that you used to run your test program?

[2019-09-16 18:50] #7080 closed

[2019-09-16 19:08] andrew-m-leonard commented on #7011
Interesting the same test case JSR166TestCase has just failed on zLinux, but it looks a different issue, a timeout....
https://ci.adoptopenjdk.net/job/Test_openjdk13_j9_sanity.openjdk_s390x_linux/41/consoleFull
@pshipton @AlenBadel

[2019-09-16 20:05] mpirvu opened #7099 "Add Protobuf 3.7.1 to plinux,zlinux,xlinux"
Protobuf 3.7.1 needs to be installed to plinux,zlinux,xlinux build-machines / docker-containers because it is needed to build JITServer (JITaaS) code.
Attn: @cwesMills @AdamBrousseau

[2019-09-16 20:39] pshipton commented on #6552
https://ci.adoptopenjdk.net/job/Test_openjdk13_j9_extended.system_x86-64_mac/27
[code]

[2019-09-16 21:29] #6720 closed

[2019-09-16 21:32] pshipton commented on #6150
@PhilWakelin should the stack size always be rounded up to the next 1MB increment?

[2019-09-16 21:41] pshipton commented on #6871
Eclipse OpenJ9 v0.16.0

Repo SHAs
OpenJ9: 867dab4
OMR: d4c85c3

[2019-09-16 21:41] #6871 closed

[2019-09-16 21:51] JasonFengJ9 commented on #6661
Reproduced the failure, investigating.

[2019-09-16 22:11] gita-omr commented on #7011
@AlenBadel will provide more detailed update. I just wanted to mention that we don't think it's incorrect test case anymore. After a more careful look, the test case just trying to stress out the DoubleAccumulator (which is supposed to be thread safe) under multiple threads as much as possible.

This leaves us with two possibilities: (1) atomicity issue (eg JIT or VM made the class thread unsafe)

[2019-09-17 08:29] M-Davies commented on #7071
@JasonFengJ9 I'm satisfied with that. I'll add it to the permanent excludes list

[2019-09-17 08:29] #7071 closed

[2019-09-17 09:25] paulcheeseman commented on #7091
@keithc-ca

I was testing with IBM Java 8.0.5.37 on Windows:

[code]

I just tried to reproduce the issue with a recent Adopt binary but I can't open the resulting dump at all in MAT due to the Error below when parsing - there seems to be some other problem.

[code]

[2019-09-17 09:35] andrew-m-leonard commented on #7056
More debug for jdk-13+33_openj9-0.16.0 build:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1986/console
[code]
[code]
[code]
[code]

[2019-09-17 09:37] Azquelt commented on #6875
Hi @hzongaro I'm working on this with @wraschke as she's a bit busy. I can't download the zip file you posted, could you share it with me as well please?

[2019-09-17 12:57] pshipton commented on #6236
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/366

[2019-09-17 13:02] pshipton commented on #7087
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/292
MauveMultiThreadLoadTest_special_15
variation: Mode554
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:balanced -XXgc:tarokEnableExpensiveAssertions,fvtest_tarokPGCRotateCollectors -Xjit:count=0,optlevel=hot,gcOnResolve,rtResolve
[code]

[2019-09-17 13:07] hzongaro commented on #6875
Hi, Andrew @Azquelt - OK - you should now have access.

[2019-09-17 13:25] smlambert commented on #7056
[Artifacts.zip](https://github.com/eclipse/openj9/files/3621498/Artifacts.zip)

[2019-09-17 13:34] AdamBrousseau commented on #6808
Artifactory step appears to have a built in retry. The above build failed over a 20 minute time frame.  We can add a retry with delay around the upload step. @pshipton how about retry-3 with 5 minute delays?

cc @JennyChenyj

[2019-09-17 13:43] pshipton commented on #6808
Sounds good.

[2019-09-17 14:07] kgibm commented on #7091
One minor note on this:

The more fundamental issue is that the objects whose finalizer has already been run are still returned when MAT calls `dtfjInfo.getJavaRuntime().getHeapRoots();`. The `HEAP_ROOT_FINALIZABLE_OBJ` tag is incidental - MAT uses that to mark that object as being on the finalizer queue, but even if the object wasn't tagged in this way, if it was still returned in `getHeapRoots()

[2019-09-17 14:11] keithc-ca commented on #6998
Fixed via the three PRs linked above; closing.

[2019-09-17 14:11] #6998 closed

[2019-09-17 14:15] paulcheeseman commented on #7091
Agreed. I wasn't really sure of the mechanics inside DTFJ and MAT, but they shouldn't be described as roots at all once they've been finalized.

[2019-09-17 14:19] keithc-ca commented on #7091
IBM builds use different technology than OpenJ9 to capture the information that becomes the blob in core file: this means you can't expect to use an IBM VM to examine a core file produced from an OpenJ9 VM nor vice-versa.

[2019-09-17 14:19] M-Davies commented on #7080
Problem list updated https://github.com/AdoptOpenJDK/openjdk-tests/pull/1343

[2019-09-17 14:20] PhilWakelin commented on #6150
@pshipton yes I think this is the best behavior, as z/OS will allocate 64-bit storage in megabyte increments. It could be possible to have the LE THREADSTACK64 set to a larger minimum size or increment size than 1M but the default is THREADSTACK64(OFF,1M,1M,128M) meaning 1M initial and 1M increments, so rounding Xmso to the next 1MB increment would match this.

[2019-09-17 14:22] paulcheeseman commented on #7091
Does this mean there are two different DTFJ plugins for MAT? One for IBM Java and one for OpenJ9?

[2019-09-17 14:25] keithc-ca commented on #7091
When I use `jdmpview` to examine a core file produced from the example above, there are no instances of `FinalizerTest`. Using that class as the target, `!rootpathfindall` finds no instances.

I think @kgibm is on the right track with the comment that
[code]
returns objects it shouldn't.

[2019-09-17 14:26] keithc-ca commented on #7091
I don't know how MAT connects to DTFJ or how its plugin is constructed.

[2019-09-17 15:06] aviansie-ben commented on #6236
I've been trying to look into this on and off for the last week or so, but I unfortunately haven't had any luck so far. Since this is a test failure rather than a crash, there's no corefile for me to examine. The failing test also doesn't seem to be logging the actual value it's getting, so I can't get any leads from that. I've tried reproducing the problem in a controlled environment, but I haven

[2019-09-17 17:36] kgibm commented on #7091
There's a MAT DTFJ plugin which packages a copy of DTFJ JAR files, so if there is a non-backwards compatible update to DTFJ, then those dumps cannot be parsed. Unfortunately, the build machine that built the MAT DTFJ plugin was sunset so service is difficult. If necessary, I have manually updated the MAT DTFJ plugin like so:

[code]

However, this drives some sort of strange issue that I haven't h

[2019-09-17 19:01] pshipton opened #7112 "ConcurrentModificationException launching build"
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance/1613
[code]

[2019-09-17 19:01] pshipton commented on #7112
@jdekonin @AdamBrousseau

[2019-09-17 19:32] AdamBrousseau commented on #7112
Could wrap https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/variables-functions.groovy#L1048
Can likely remove `create =` as well since we don't need whatever it is that is returned.

[2019-09-17 19:42] AdamBrousseau commented on #7112
cc @JennyChenyj

[2019-09-17 20:13] pshipton commented on #7091
Using the DTFJ plugin available from http://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/runtimes/tools/dtfj/ I'm able to open and read the latest OpenJ9 core files. There was a time period where this didn't work, fixed via #6317 and #6321 for the 0.15 release. If necessary, let's take these concerns to a separate issue if needed, and keep this one about the Finalized object roots.

[2019-09-17 20:31] dmitripivkine opened #7115 "Java Launcher is loaded at 0x80000000 on zLinux"
I noticed that Java Launcher is loaded at address 0x80000000 on zLinux:
[code]

This splits virtual memory below 4GB bar to two halves ~1.8GB and ~1GB. The lack of contiguous memory prevents to run Compressed References JVM with heap larger then 1.8GB with most performant 0-bit shift.

The IBM Java 8 for instance is free from this problem and Java Launcher is loaded at 0x 00060000:
[code]
and can

[2019-09-17 20:44] JennyChenyj commented on #7112
Hi @AdamBrousseau! Do you mean I would wrap them in a retry clause? Thanks!

[2019-09-17 21:01] jdekonin commented on #7083
I had opened a ticket with Packet which is now resolved.  Machine is back online and taking jobs.  This issue can close.

[2019-09-17 21:07] DanHeidinga commented on #6150
Is there an (inexpensive) zOS call to get the THREADSTACK64 size from LE?  We'd rather use the correct min value than hardcode 1M as the usual case.

[2019-09-17 21:34] 0xdaryl commented on #7083
Thanks @jdekonin !

[2019-09-18 00:17] 0xdaryl commented on #7083
I think something else needs to happen on this machine.  It is now stuck at:
[code]

[2019-09-18 08:47] adam-thorpe opened #7122 "JTReg Test Failure: java/lang/ClassLoader/forNameLeak/ClassForNameLeak.java"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux/50/
- test category: openjdk
- test target name: jdk_lang
- OS/architecture: all
- version: jdk8
- JVM: openj9
- public build SHAs:
[code]

Optional info
-------------
- intermittent failure: no
- regression or new test: regression

Failure output (captured from console output)

[2019-09-18 09:19] M-Davies opened #7123 "JTReg Test Failure: java/lang/invoke/SpreadCollectTest.java"
Failure link
------------
https://github.com/M-Davies/openj9-openjdk-jdk11/blob/3c31c8cb4eb3eaed4de1a1438fa4f83e550fa51e/test/jdk/java/lang/invoke/SpreadCollectTest.java#L1 fails on JDK11-openj9 (hotspot is fine)
- test category, openjdk
- OS/architecture, openjdk_x86-64_linux, openjdk_x86-64_windows, openjdk_x86-64_mac
[code]

Optional info
-------------

- intermittent failure (no):
- New test:

[2019-09-18 10:17] Azquelt commented on #6875
Thanks @hzongaro, that seems to have worked, I can see a bunch of trace in the log.

The log and dumps are here: https://ibm.ent.box.com/folder/87487164511

[2019-09-18 10:23] M-Davies opened #7124 "test/jdk/java/lang/StackWalker/ReflectionFrames.java contribution"
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/4041598f624e2222be156557efbe508b2b682ae9/test/jdk/java/lang/StackWalker/ReflectionFrames.java#L1 is failing for openj9 (see https://github.com/eclipse/openj9/issues/6724).

- [x] Identify implementation frames to ignore https://github.com/eclipse/openj9/issues/6724#issuecomment-521627809
- [ ] Fix test case to ignore the frames specific to e

[2019-09-18 10:25] M-Davies commented on #6724
@pdbain-ibm please see https://github.com/eclipse/openj9/issues/7124. Apologies for the delay

[2019-09-18 10:26] adam-thorpe opened #7125 "JTReg Test Failure: java/util/concurrent/locks/Lock/TimedAcquireLeak.java"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/505/
- test category: openjdk
- test target name: java_util
- OS/architecture: linux and mac
- version: 11 and 13
- JVM: openj9 only
- public build SHAs:
[code]

Optional info
-------------
- intermittent failure: no
- regression or new test: regression

Failure output (captured from console output)
------

[2019-09-18 11:33] knn-k opened #7126 "AArch64: Change JIT register usage"
Currently x19 is used as J9VMTHREAD and x20 is used as J9SP in AArch64.
On the other hand, x18 and x21-28 are used as preserved registers in the private linkage.
Change the register assignment for J9SP from x20 to x18, so that there is no gap in the preserved register range (x20-x28 after the change).

[2019-09-18 11:44] joransiu commented on #6150
From LE team regarding how to query the THREADSTACK64 values:

[2019-09-18 12:01] 0xdaryl opened #7127 "AArch64: Implement fast byte reversal Java methods"
Map the following recognized methods to byte reversal instructions (the `REV` family) on AArch64:
[code]

[2019-09-18 12:06] 0xdaryl opened #7128 "ARM: Implement fast byte reversal methods"
Investigate and implement the following recognized Java methods to byte reversal instructions on AArch32:
[code]

[2019-09-18 12:06] 0xdaryl commented on #5455
Byte reversal recognized methods.  AArch64 (#7127), AArch32 (#7128)

[2019-09-18 12:11] 0xdaryl opened #7129 "AArch64: Implement string compression"
A placeholder to figure out the work needed to implement String compression on AArch64 and then implement it.

[2019-09-18 12:12] 0xdaryl opened #7130 "AArch32: Implement String compression"
A placeholder to figure out the work needed to implement String compression on AArch32 and then implement it.  Likely coupled with #7129.

[2019-09-18 12:12] 0xdaryl commented on #5455
String compression.  AArch64 (#7129), AArch32 (#7130)

[2019-09-18 12:19] 0xdaryl opened #7131 "Implement fast sun_nio_ch_NativeThread_current"
At present, only x86 specializes this method.  Research the semantics of `sun_nio_ch_NativeThread_current` and consider implementing a fast version on Power, Z, AArch64, and AArch32.

[2019-09-18 12:20] 0xdaryl commented on #5455
Implement fast sun_nio_ch_NativeThread_current  (#7131)

[2019-09-18 12:28] 0xdaryl opened #7132 "AArch64: Implement fast versions of Unsafe compareAndSwap recognized methods"
Provide a fast, inlined version of the following recognized Unsafe methods:
[code]

[2019-09-18 12:28] 0xdaryl opened #7133 "AArch32: Implement fast versions of Unsafe compareAndSwap recognized methods"
Provide a fast, inlined version of the following recognized Unsafe methods:
[code]

[2019-09-18 12:29] 0xdaryl commented on #5455
Implement fast Unsafe compareAndSwap recognized methods:  AArch64 (#7132), AArch32 (#7133)

[2019-09-18 12:33] 0xdaryl opened #7134 "AArch64: Implement fast versions of java_util_concurrent_atomic_Fences methods"
Implement fast, inlined versions of these recognized methods as needed on AArch64:
[code]

[2019-09-18 12:34] 0xdaryl opened #7135 "AArch32: Implement fast versions of java_util_concurrent_atomic_Fences methods"
Implement fast, inlined versions of these recognized methods as needed on AArch32:
[code]

[2019-09-18 12:35] 0xdaryl commented on #5455
Implement fast versions of java_util_concurrent_atomic_Fences methods:  AArch64 (#7134), AArch32 (#7135)

[2019-09-18 12:36] jdekonin commented on #7083
I rebooted and its reconnected again.

[2019-09-18 12:38] 0xdaryl opened #7136 "Implement inlined version of sun_misc_Unsafe_copyMemory"
x86 and Power provide inlined implementations of `sun_misc_Unsafe_copyMemory`.  Investigate the semantics of this method, its current relevance, and implement on Z, AArch64, and AArch32 as appropriate.

[2019-09-18 12:39] 0xdaryl commented on #5455
Implement inlined version of sun_misc_Unsafe_copyMemory.  #7136

[2019-09-18 12:39] 0xdaryl commented on #7136
FYI @fjeremic

[2019-09-18 12:42] 0xdaryl commented on #7131
FYI: @gita-omr @fjeremic

[2019-09-18 12:48] 0xdaryl opened #7137 "AArch64: Implement recognized java_nio_Bits_keepAlive and java_lang_ref_Reference_reachabilityFence"
Provide an inlined version of the recognized methods:
[code]
Consult the semantics on other architectures to understand what needs to be done.

[2019-09-18 12:50] 0xdaryl opened #7138 "AArch32: Implement recognized java_nio_Bits_keepAlive and java_lang_ref_Reference_reachabilityFence"
Provide an inlined version of the recognized methods:
[code]
Consult the semantics on other architectures to understand what needs to be done.

[2019-09-18 12:51] 0xdaryl commented on #5455
Implement recognized java_nio_Bits_keepAlive and java_lang_ref_Reference_reachabilityFence.  AArch64 (#7137), AArch32 (#7138)

[2019-09-18 13:01] 0xdaryl opened #7139 "Provide inlined versions of recognized rotate methods"
Enable inlining of the following rotate methods:
[code]
Some investigation will be needed to determine the best way to do this.  x86 and Z do higher-level inlining (see [1]), whereas Power does its own inlining at the backend.  I'm not sure why Power does it differently.  My preference would be for the higher-level inlining unless there's a good reason otherwise.

[1] https://github.com/eclipse/op