[2019-11-09 01:03] slide commented on #7725
Are there any extended tests that would be good to run?

[2019-11-09 04:41] pshipton commented on #7725
There is a tutorial here for running some testing, but there are additional prereqs required.
https://github.com/eclipse/openj9/blob/master/test/README.md

[2019-11-09 04:42] pshipton commented on #7725
It assumes you've already done `git clone https://github.com/eclipse/openj9.git`

[2019-11-09 15:08] apete commented on #4670
https://www.ojalgo.org/2019/11/adoptopenjdk-hotspot-vs-openj9/

With OpenJDK 13 and OpenJ9 0.17.0 the pattern is still essentially the same.

[2019-11-09 15:59] avermeer commented on #7427
Hello,

Just to give some news about my attempt to contribute this fix:
* I successfully built a Java8u232 OpenJ9 using build instructions (based on Docker) on my CentOS Linux x64 box
* I would like to begin by extending the unit tests to add the 'T' unit, and make sure it fails until I implement support for 'T' unit.

However, it is not very clear how to run tests:
1. I tried typing:
    `make te

[2019-11-10 03:41] pshipton commented on #7427
1) The quick start quick for buildingand running tests is https://github.com/eclipse/openj9/blob/master/test/README.md but see (2).

2) For this particular change, which is not tested in the typical way, the correct way to test it is to uncomment the line by modifying `jvminit.c` as you mentioned, and then build the JVM. Run the testing by running `java` with any arguments (or none).

3) There isn

[2019-11-10 10:25] avermeer commented on #7427
Too bad ability to test is not part of the Docker image for building OpenJ9.
Anyway, I tried it, I found that:
* The quick start fails to mention that one needs to download an OpenJ9-based JDK8 (not Large heap, at least this is what I deduced from the cryptic mention to `JDK8 Linux x86-64 cmprssptrs OpenJ9 SDK` and then extract it so its path is `/my/openj9/jdk` directory.
* The quick start also f

[2019-11-10 11:50] planetf1 commented on #7684
[code]
Though note that reference to core only happened when I 'broke' the jvm in another way (I experimented with class cache & had run out of disk space). - so it proves  the jvm can dump, but in this case it was unrelated to the xslt issue.

[2019-11-10 14:53] JasonFengJ9 commented on #4091
Another occurrence.
[code]

[2019-11-10 14:57] JasonFengJ9 opened #7735 "Test_openjdk13_j9_extended.functional_x86-64_linux_xl_Nightly: SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0_FAILED"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-11-10 15:04] JasonFengJ9 commented on #7088
[code]

[2019-11-10 15:06] JasonFengJ9 commented on #7020
[code]

[2019-11-10 15:48] avermeer commented on #7516
Okay, created https://github.com/AdoptOpenJDK/openjdk-build/issues/1375, since it's an AdoptOpenJDK issue, not an OpenJ9 one, to request alternative licensing of AdoptOpenJDK with OpenJ9 binaries distributions.

[2019-11-10 17:07] keithc-ca commented on #7432
Here's another suggestion which doesn't require using safe mode. Create Multi-String registry entry `HKLM\SYSTEM\CurrentControlSet\Control\Session Manager\PendingFileRenameOperations` with the value:
[code]
At boot time, `Program Files` is first renamed to `PROGRAMS` which should remove the short name (it would be the same as the long name). Then `PROGRAMS` is renamed to `Program Files` which shou

[2019-11-10 18:21] avermeer commented on #7427
Forget about previous comment:I have read the instructions too quickly (more details on prerequisites are provided after the Quick Start first lines, however I'm still concerned that default OpenJ9 Docker build image does not contain prerequisites for tests, maybe I'll contribute to improve this later).

[2019-11-10 21:21] avermeer commented on #7516
My issue on AdoptOpenJDK side was closed with an [answer telling that as a downstream provider, they cannot change the license](https://github.com/AdoptOpenJDK/openjdk-build/issues/1375#issuecomment-552231579).

Looks like an egg-and-chicken problem: you (OpenJ9) seem to say that it's not an OpenJ9 issue but seem to imply that the organization in charge of turning OpenJ9 into a full Java distribut

[2019-11-10 21:47] pshipton commented on #7427
Note there is another set of Docker files which include what is needed for test.
https://github.com/eclipse/openj9/tree/master/buildenv/jenkins/docker-slaves/x86

We are slowly working towards auto-generating these Docker files, and replacing the ones in https://github.com/eclipse/openj9/tree/master/buildenv/docker, but nobody has any time to work on it.

[2019-11-10 22:26] pshipton commented on #7516
The GPLv2 LICENSE file in the build comes from OpenJDK project and build process. Do I understand correctly the concern is that the LICENSE file doesn't mention the OpenJ9 parts?

The LICENSE for OpenJ9 is https://github.com/eclipse/openj9/blob/master/LICENSE but I agree this file doesn't get included in the binary. What does get included is the openj9-notices.html file. Is this insufficient?

[2019-11-10 22:42] avermeer commented on #7516
@pshipton my understanding is that OpenJDK with OpenJ9 binaries only use the Java Class libraries from OpenJDK (and these later have "CLASSPATH" EXCEPTION TO THE GPL), and that OpenJ9 completely replaces the GPLv2-licensed HotSpot.

So, why do we end with a GPLv2 to license the result of OpenJ9 + the Java standard libraries?

I have the feeling that this is not making justice to the very clean Ope

[2019-11-10 23:11] avermeer commented on #7427
@pshipton  thanks a lot, I used the steps found in Docker file at: https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile to install Apache Ant 1.10.5 (instead of 1.7.1 documented in Prerequisites, sounds like [Prerequisites page](https://github.com/eclipse/openj9/blob/master/test/docs/Prerequisites.md) is not at all up to date, right?)

results: test

[2019-11-10 23:43] pshipton commented on #7427
There are binaries created in the test image, what you created before running `make test`, that are required for some of the tests. An example, the test binaries from the last nightly build are https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK11_x86-64_linux_Nightly/200/native-test-libs.tar.gz

Here is an example test run https://ci.eclipse.org/openj9/job/Test_op

[2019-11-10 23:47] pshipton commented on #7427
Also note I can run Pull Request testing from the Pull Request to ensure the change doesn't break existing tests. I'll do that after you address my 64-bit comment.

[2019-11-10 23:52] pshipton commented on #7516
Agreed, we should have a GPLv2 with "CLASSPATH" EXCEPTION + OpenJ9 licensed binary.
The LICENSE file contains a `"CLASSPATH" EXCEPTION TO THE GPL` section.

[2019-11-11 09:23] avermeer commented on #7427
@pshipton I do not see your 64-bit comment, neither in current incident page, nor in my pull request's page, am I looking at the wrong place?

Trying to guess what this 64-bit comment might be: do you mean that 't' / 'T' suffix should not be added for 32-bits versions of OpenJ9, because 1T is larger than the memory that a 32-bit version can address?

If this is your concern, then I can change `vma

[2019-11-11 09:27] avermeer opened #7739 "Document 't' and 'T' suffixes for -X options that take a size parameter"
There is a need to update [Using -X command-line options documentation](https://www.eclipse.org/openj9/docs/x_jvm_commands/) page in order to reflect the added support for 't' and 'T' suffixes for -X options that take a `<size>` parameter through the pull requested associated to #7427.

The documentation change should take into account the limitation that 't' and 'T' suffixes are only supported on

[2019-11-11 09:40] avermeer commented on #7739
Also, [Using -XX command-line options](https://www.eclipse.org/openj9/docs/xx_jvm_commands/) page will have to be updated in the same way, since the original issue was about Apache Fink usage of -XX:MaxDirectMemorySize=8388607T (to mean "no limit").

[2019-11-11 11:00] avermeer commented on #7739
Oops opened this issue at wrong place, opened https://github.com/eclipse/openj9-docs/issues/429 instead and closing this one (yet another newbie mistake).

[2019-11-11 11:00] #7739 closed

[2019-11-11 12:19] PhilippLengauer opened #7740 "Low-overhead Heap Profiling (JEP331) reports wrong allocation ratios"
Experimenting with the implementation of JEP331 that was introduced in the Java 12 variant of J9, we found the results are off by quite a lot. Since there seems to be a system to these values, a statistical anomaly can be ruled out. To reproduce I'm attaching a minimal JVMTI agent and a sample that shows the problem. We have also verified that the problem still persists in the most recent build.

[2019-11-11 13:58] DanHeidinga commented on #7740
@JasonFengJ9 you were involved in the original implementation of this with @charliegracie.

fyi @dmitripivkine

[2019-11-11 13:59] DanHeidinga commented on #7740
Targeting to the 0.19 release for now as I'm uncertain how large the work required to address this would be.

[2019-11-11 14:05] pshipton commented on #7427
My bad, I created the comment but left it in pending state. I see you've fixed it already so I won't bother adding it now.

[2019-11-11 14:10] pshipton commented on #7427
Not at all, thanks for going through this exercise and following up to improve the project.

[2019-11-11 14:52] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_Nightly/671
DaaLoadTest_daa1_special_22
[code]

[2019-11-11 14:57] pshipton commented on #3081
I assume the attach API problems on AIX also caused this.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64_aix_Nightly/192
TestJmap_SE80_0
[code]

[2019-11-11 15:00] pshipton commented on #7020
@Mesbah-Alam are you going to exclude this test?

[2019-11-11 15:05] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_mac_Nightly/92
CpMpTest_MP_0

[2019-11-11 15:11] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_xl_Nightly/91
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0
[code]

[2019-11-11 15:12] pshipton commented on #7735
Closing as a dup of https://github.com/eclipse/openj9/issues/6777

[2019-11-11 15:12] #7735 closed

[2019-11-11 15:31] pshipton commented on #7696
Friday night:
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/195
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly/195
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/193

Saturday night:
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_l

[2019-11-11 15:36] DanHeidinga commented on #7696
Once https://github.com/eclipse/openj9/pull/7719 is merged, it will be easier to debug the failures

[2019-11-11 16:01] DanHeidinga commented on #7516
Was going to respond to this but @mstoodle already said it better in https://github.com/AdoptOpenJDK/openjdk-build/issues/1375#issuecomment-552300730.

I think we can close this issue.

[2019-11-11 16:01] #7516 closed

[2019-11-11 16:02] JasonFengJ9 commented on #7740
It appears due to same cause of https://github.com/eclipse/openj9/issues/6024

[2019-11-11 16:16] DanHeidinga commented on #6024
@charliegracie Is this still something you plan to work on?

[2019-11-11 16:28] Mesbah-Alam commented on #7020
The test has been excluded. This PR can be closed now.

[2019-11-11 16:32] M-Davies opened #7741 "JTReg Test Failure: java/lang/reflect/Proxy/ProxyForMethodHandle.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/5961cb4f17facbc7824e7550ca475916ebe93f38/test/jdk/java/lang/reflect/Proxy/ProxyForMethodHandle.java#L1 and https://github.com/ibmruntimes/openj9-openjdk-jdk13/blob/5555cfa6ef8926f0c30ea9fe14aa41c9e7b3cd96/test/jdk/java/lang/reflect/Proxy/ProxyForMethodHandle.java#L1 consistantly fail for JDK11/13-openj9
- test categ

[2019-11-11 16:33] #7020 closed

[2019-11-11 16:42] M-Davies commented on #7172
@mikezhang1234567890 Is it a problem that branch of code doesn't get run? If it isn't, could we potentially specify in the test that it needs to be run with `-othervm` rather than the Adopt default of `-agentvm`?

[2019-11-11 16:46] andrewcraik commented on #7699
Thanks @JamesKingdon for the builds you shared. So there are some interesting things happening here:
- in the scorching compile of the doTest method there are some paths in the ThreadLocal logic that appear to be unlikely to execute based on profiling (so we don't inline a number calls related to the map and a few other bits). Forcing the inlining cuts the gap by a bit more than half on my system

[2019-11-11 17:22] vijaysun-omr commented on #7699
@andrewcraik does the new JProfiling implementation get used in the very-hot profiled compilation before scorching compilation by default in the OpenJ9 build you are running ? If not, is that what "use new JProfiling implementation" did in your run ?

Do you still need the tryToInline if you are using the JProfiling implementation ? i.e. does using a different profiler affect the inlining on the p

[2019-11-11 17:26] andrewcraik commented on #7699
@vijaysun-omr My build does not have the new JProfiling implementation on by default (it is a bit older than head) so I was enabling it in my build to test the performance. The tryToInline is still important for performance even with the new JProfiling enabled.

[2019-11-11 17:26] mikezhang1234567890 commented on #7172
@M-Davies It's a problem with our MethodHandle code. Will have a fix soon hopefully.

[2019-11-11 18:03] avermeer commented on #7516
Wait... are you meaning that it's okay for OpenJDK OpenJ9 distribution to have a GPLv2 while it does not include HotSpot?

Why leaving a copyleft license if binaries don't need it ?

[2019-11-11 18:59] DanHeidinga commented on #7516
My understanding is the OpenJDK code we connect with carries a GPLv2+Classpath license.  We replace the pure GPLv2 Hotspot engine with a compatibly licensed (EPLv2+secondary licenses clause) OpenJ9 engine.

Doing this doesn't change the license of the rest of the OpenJDK code we work with.  The final binary still needs to respect the GPLv2+Classpath license of the OpenJDK code.

[2019-11-11 19:34] pshipton commented on #7716
[code]
`bin/java -Xtrace:print=omrport.585-590 Test`
[code]
`omrport.589 1 1 1 N Trc_PRT_sysinfo_get_memory_info_dataQueryFailed "* omrsysinfo_get_memory_info: Error: Failed collecting data."`
https://github.com/eclipse/omr/blob/a960b4f24a3c9372d654579109a6b32954e182a2/port/win32/omrsysinfo.c#L777-L782

The error code -358 comes from the OMR port library, so isn't helpful.
Looking at https://docs.

[2019-11-11 20:21] ymanton commented on #7459
Confirmed that increasing the hint counts we emit for failed validations closes the remaining start-up performance delta that I was measuring.

It seems that in `-Xquickstart` mode (which is what the particular IBM measurements are using) we use lower SCounts than default and could increase the failed validation counts to compensate in order to be able to load more AOT methods.

However as it stan

[2019-11-11 20:37] harryyu1994 commented on #7361
Current issues with _cmdLineTester_fieldwatchtests_0:

[code]

[code]

[code]
triggers, `allegedClassPointer == 0x8000000000000008` instead of `j9classEyecatcher`

[2019-11-11 20:48] BeverlyXu commented on #7692
We have looked at the perf profiles and the verbose logs, and we have a theory of where the problem might be -- we see a lot more methods being compiled at "hot" level in the slower run, and that's problematic if there is not enough re-use of these hot compiles. Our next todo is to sample the callstack and hopefully it will give us a clear caller-callee picture, so we can find out where the proble

[2019-11-11 22:01] hzongaro commented on #7593
Still working on narrowing down what's going on.  Here's an update.

I haven't been able to reproduce the failure when I tried to gather core and javacore files using `-Xdump:java+system:events=throw,filter=java/lang/InternalError,range=1..3`, so I've been a bit slowed trying to pinpoint the problematic code.

I can reproduce the problem on Windows with builds beginning going back to https://ci.ec

[2019-11-12 00:21] AlenBadel opened #7746 "Remove assignments of FIND_ARG_IN_VMARGS inside if condition"
Per https://github.com/eclipse/openj9/issues/7667

Removing assignments inside if condition when FIND_ARG_IN_VMARGS is called.

Eg
https://github.com/eclipse/openj9/blob/64087aac0b0836c32ac35d503187912206a98104/runtime/shared/shrclssup.c#L60

@pshipton Suggests that assignments inside conditional braces is against the "unoffical" coding guidelines. Should this be promoted to some sort of official

[2019-11-12 01:05] ChengJin01 commented on #5058
With the newly added DDR code, the basic jdmpview & DDR specific commands work good as follows:

[1]  jdmpview specific commands:
[code]

[2] DDR specific commands:
[code]

The failing commands (e.g. `!stack/stackslots`, `info thread` ) are mostly related to the stackframes:
[code]
Need to figure out what happened to `StackWalkerUtils.java` and what else is missing in other code involved.

[2019-11-12 01:18] AlenBadel commented on #4930
As an update.

There has been a number of work items that have come out of me looking at this issue.

(Unrelated) - Looking closely on the codecache, there was really no reason for ZOS required an extra pageable/nonpageable arguemnt since the codecache only supports pageable. So a change to address that behaviour was created.
See https://github.com/eclipse/openj9/pull/7585

I've moved mapping of `

[2019-11-12 01:40] pshipton commented on #7746
It's part of the OMR coding standards, for if statements.
https://github.com/eclipse/omr/blob/master/doc/CodingStandard.md
`Never combine an assignment and a test, except in a while condition. In a while loop, always use an explicit test.`

OpenJ9 doesn't have official coding standards, but I've seen references to the OMR ones.

[2019-11-12 01:51] pshipton commented on #7746
There are a couple in shrclssup.c , one in jvminit.c , and more (8) in the JIT J9Options.cpp

[2019-11-12 02:00] pshipton commented on #7746
The different groups of developers can't agree on a standard, I think we gave up trying to define one. We welcome anyone who wants to volunteer to try and create some standards.

[2019-11-12 02:50] AlenBadel commented on #4930
Taking into account @dmitripivkine comments https://github.com/eclipse/openj9/issues/4930#issuecomment-544753867

**Parsing of `-XX:+UseLargePages` and `-XX:LargePageSizeInBytes=<size>`**
As was mentioned. Parsing of the -XX options should be done in the same place. To date the parsing of the Hotspot related -XX mappable options has been implemented in _jvminit.c_. Particularly the parsing for the

[2019-11-12 13:00] toshiona opened #7748 "Windows Print throws ArrayIndexOutOfBoundsException intermittently with JIT"
Java -version output
--------------------
openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.5+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.17.0, JRE 11 Windows Server 2016 amd64-64-Bit Compressed References 20191016_357 (JIT enabled, AOT enabled)
OpenJ9   - 77c1cf708
OMR      - 20db4fbc
JCL      - 2a7af5674b based on jdk-11.0.5+10)

Summary of problem
-

[2019-11-12 14:31] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly/199
DaaLoadTest_daa1_0 - NumberFormatException

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_s390x_linux_Nightly/86
DaaLoadTest_daa2_special_22
[code]

[2019-11-12 14:33] babsingh opened #7749 "OpenJ9 JVM shouldn't unblock a signal by default"
### Issue
Currently, all supported signals are unblocked during startup. A signal
is unblocked even when a signal handler is not installed for it. This
conflicts with an OpenJ9 consumer (e.g. a native app that embeds OpenJ9),
which wants to block a set of signals. The OpenJ9 consumer blocks a
set of signals but the OMR signal library unblocks those signals at startup.
A signal should not be unbloc

[2019-11-12 14:41] pshipton commented on #7696
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/196
`09:47:56.510778957 *0x226ae800 j9jit.48            Exception  * Unrecognized bytecode (pc=0x26017b84, bc=144) cursor 0x226bff7a in buffer 0x1 of size 1022`
@DanHeidinga

[2019-11-12 16:08] ashu-mehra commented on #7543
Analysis so far:

Running websphere-liberty docker image with -Xjit:verobse={compilePerformance}, I see lot of methods with bytecode size of 2 with memory consumption reported as `mem=[region=704 system=16384]KB`.
Picked up one such method `java/util/Collections$EmptyList.size()I` for further analysis. Its bytecodes are:
[code]

In the jit verbose logs the value reported as `region` corresponds to

[2019-11-12 16:48] pshipton commented on #7748
@andrewcraik can you please take a look.

[2019-11-12 17:14] jdekonin commented on #7099
This issue can be closed as pr has been delivered.  @mpirvu, I don't see a specific issue raised for zlinux requirement.  I've attached the 390 change and x86 update from 3.5.1 to 3.7.1 to this issue as well.  Can you modify the issue abstract accordingly or a new issue as you see fit.  I am good either way.

[2019-11-12 17:45] mpirvu commented on #7543
What is `comp/opt`? I am guessing it's the optimizer and then my next question is what is the proper ordering of the 3 snapshots above: `before comp/opt`, `comp/opt` and `comp/ilgen`

[2019-11-12 18:31] ashu-mehra commented on #7543
Yes

Order of these phases is as I listed above.

[2019-11-12 18:34] ashu-mehra commented on #7543
aah! there is a typo in that comment. `comp/opt` should be `comp/ilgen`. Let me correct it.

[2019-11-12 18:45] avermeer opened #7752 "OpenJ9 crash when calling connecting to unknow host with Native Hadoop Library"
Hello,

While porting an application from HotSpot to OpenJ9, we noticed a crash taking place on Linux and reproducible with latest AdoptOpenJDK8 with OpenJ9 nightly build of the 2019112.

We took time to provide an easy-to-reproduce and self-contained scenario.

The sample application consists in a Java program that calls a native library which just calls [Native Hadoop Library](https://hadoop.apa

[2019-11-12 19:07] fjeremic commented on #7602
Issue has been fixed in #7664. @dnakamura let's make sure to add a "Fixes: #7664" tag in the PR next time so we properly associate the issue with the PR that fixes it. Thanks!

[2019-11-12 19:07] #7602 closed

[2019-11-12 20:34] pshipton commented on #7752
@avermeer reproducing this is somewhat problematic as it involves running the untrusted binary you've provided. While I'm sure it's fine, the company I work for has policies against this. I expect I could find a way, but it would be easier to start with the diagnostic files you already have.

If I understand correctly, this problem occurs with the latest OpenJ9 nightly builds, but not the 0.17 rel

[2019-11-12 20:35] pshipton commented on #7752
In particular I'd like to see the javacore file first.

[2019-11-12 20:47] avermeer commented on #7752
@pshipton the crash is reproducible with 0.17.0 and older OpenJ9 releases, and with the latestet x64 Linux OpenJ9 nightly build.

Regarding the "untrusted binaries", the .zip includes sources so the binaries can be rebuilt, I provided pre-built ones for convenience, but you can rebuild them.

Regarding the javacore:
* Here's the one with latest OpenJ9 x64 Linux (2019112) nightly build: [javacore.2

[2019-11-12 21:03] pshipton commented on #7752
Somewhat. If you open the core in gdb can you get a stack trace?

[2019-11-12 21:08] avermeer commented on #7752
I'm not too familiar with this, but here's a try (with core associated with latest nightly build):

[code]
Again, does it help? I can run other commands if you tell me what...

[2019-11-12 21:13] pshipton commented on #7752
`cd /root/OpenJ9HadoopCrash/testj9/lib/compressedrefs`
`gdb -c /root/OpenJ9HadoopCrash/core.20191112.181044.7708.0001.dmp /root/OpenJ9HadoopCrash/testj9/bin/java`
`where`

[2019-11-12 21:37] avermeer commented on #7752
@pshipton : `/root/OpenJ9HadoopCrash/testj9/lib/compressedrefs` directory does not exist.
Did you mean that I should run this:
[code]

If that's it, then here's the output:
[code]

[2019-11-12 21:44] pshipton commented on #7752
ok, but run `where` in gdb.

[2019-11-12 21:45] avermeer commented on #7692
Okay, but unless I am mistaking, current comments do not quite hint about why same OpenJ9 0.17.0 VM has so different behavior between java 8 vs java 11 with regard to submitted Nashorn sample.

Any idea of what might explain such difference?

[2019-11-12 21:46] avermeer commented on #7752
Here we go:
[code]

[2019-11-12 22:07] BeverlyXu commented on #7692
We provided the update to let the interested parties know that we are making progress. Once our theory is confirmed, we can put in more details. We don't want to write anything prematurely, only to find it untrue later.

[2019-11-12 22:08] pshipton commented on #7752
@babsingh do you know if there is an easy way to find out what the signal was? Or do you have any guess why this is occurring.

[2019-11-12 22:53] gita-omr commented on #4930
@pshipton @DanHeidinga @dmitripivkine please review Alen's design above.

[2019-11-13 00:03] gita-omr commented on #7459
Noted the issue with qalias=noansi. Thanks.

[2019-11-13 00:14] babsingh commented on #7752
In https://github.com/eclipse/openj9/issues/7752#issuecomment-553126947,
[code]
**SIGSEGV** (signal).

From https://github.com/eclipse/openj9/issues/7752#issuecomment-553130629, the source of the segmentation fault is **[thread_local_storage.c:43 (hadoop-2.9.1-src)](https://github.com/apache/hadoop/blob/e30710aea4e6e55e69372929106cf119af06fd0e/hadoop-hdfs-project/hadoop-hdfs-native-client/src/main

[2019-11-13 00:19] babsingh commented on #7752
Debug symbols and source code will be needed for `libhdfs.so` in order to investigate this crash on `gdb`.

[2019-11-13 01:11] a7ehuo commented on #7724
I will take a look at this one.

[2019-11-13 01:12] a7ehuo commented on #7423
I'll make the change.

[2019-11-13 04:14] pshipton commented on #7752
@babsingh I thought the SIGSEGV was a result of calling abort(). Why would the masterSynchSignalHandler() be calling abort() for a SIGSEGV?

[2019-11-13 07:04] inatatsu commented on #7694
@gacholio Thank you very much for your suggestion. It turned out that excluding the corresponding method from JIT compilation resolves the issue. Also, the following compiation error has been observed:
[code]
How can I dump the offending catch block into a log file?

[2019-11-13 11:56] siruslan commented on #7679
Some updates from my side - I tested OpenJ9 with different options:

- common: `-Xmx3g -Xms32m -XX:+UseCompressedOops`

- option 1: `-XX:+IdleTuningCompactOnIdle -XX:+IdleTuningGcOnIdle -XX:IdleTuningMinIdleWaitTime=1 -Xjit:waitTimeToEnterDeepIdleMode=1000`

- option 2: `-XX:+IdleTuningCompactOnIdle -XX:+IdleTuningGcOnIdle -XX:IdleTuningMinIdleWaitTime=10 -Xjit:waitTimeToEnterDeepIdleMode=1000`

-

[2019-11-13 12:02] htreu commented on #7712
We have one containerized JVM which shows the described behaviour. Following is the attach log:

[code]

It goes on like this since the attach is retried every 10min.

We also looked into each file in `/tmp/.com_ibm_tools_attach/1/` and additionally touched a file in this folder to see if writing the reply file would fail from a filesystem pov:

[code]

[2019-11-13 12:46] babsingh commented on #7752
I reproduced the issue locally. First, the segmentation fault (`SIGSEGV`) happens at `thread_local_storage.c:43` in `Thread-3`. Next, `masterSynchSignalHandler` is invoked in response to `SIGSEGV`. Few threads (except `Thread-3`) employ `omrsig_protect` which installs `masterSynchSignalHandler` for `SIGSEGV`. Then, `masterSynchSignalHandler` invokes `abort` from [omr/port/unix/omrsignal.c:1196](ht

[2019-11-13 13:10] avermeer commented on #7752
@babsingh , I am confused:
* `thread_local_storage.c` which you mention is part of Hadoop source code
* the sample which I provided does not lead to Java crash when running with AdopOpenJDK8u232 on Linux x64

It is not clear to me what is your proposal: do you mean I should open a JIRA to Hadoop community for them to fix a crash specific to OpenJ9, while the bulk of people using Hadoop probably us

[2019-11-13 13:12] pshipton commented on #7752
@DanHeidinga

[2019-11-13 13:49] babsingh commented on #7752
@avermeer Although **thread_local_storage.c:43** [`ret = (*env)->GetJavaVM(env, &vm)`] is part of the Hadoop source code, the code being executed is JNI code, which is supported by the JVM. So, the issue can originate either from Hadoop or OpenJ9. Currently, your sample test only crashes with OpenJ9 and doesn't crash with Hotspot. This implies that the fault is more likely related to OpenJ9. More

[2019-11-13 14:41] DanHeidinga commented on #7752
There is a similar looking issue opened in the Hadoop community already - https://issues.apache.org/jira/browse/HDFS-14488

The issue seems to be related to when the thread is shutting down and the TLS keys are being destroyed.

@gacholio We've had to add workarounds in this area before - something to do with adding our key back so many times to allow it be found by later destructors.  Do you reme

[2019-11-13 14:41] M-Davies commented on #7115
One thing that has puzzled me, when running `java -verbose:gc -Xmx2040m  looper` to check `compressedRefsShift` the value is 0x0, indicating that compressed refs is still able to run, even though the base memory address remains at 0x80000000

[2019-11-13 14:45] M-Davies commented on #7458
I found this
[code]
via Work item https://jazz103.hursley.ibm.com:9443/jazz/web/projects/JTC-JAT#action=com.ibm.team.workitem.viewWorkItem&id=100052

[2019-11-13 14:49] AdamBrousseau commented on #7717
Added `-Xmx1024m` to all the windows slaves. to at least mitigate failures until we have a better look at the heap.

[2019-11-13 14:51] DanHeidinga commented on #7694
@andrewcraik This looks to be moving into more your area...

[2019-11-13 15:32] ashu-mehra commented on #7679
@siruslan thanks for running the tests and confirming the behaviour.

[2019-11-13 15:35] gacholio commented on #7752
It's in the thread library:

https://github.com/eclipse/omr/blob/e74d024550f3ae4472f23a984faa5c76c7e109b9/thread/common/omrthread.c#L211-L220

[2019-11-13 15:53] pshipton commented on #7115
0x80000000 is the base address of the java executable, which doesn't need much memory (i.e. I guess less than 8m (2048m - 2040m). Seems 2040m still fits in the available space. Try running `java -verbose:gc -Xmx2040m -Xdump:java:events=vmstop` and look at the "Object memory" data in the "MEMINFO subcomponent dump routine" section to see the object heap addresses. Although when I try it I get a "co

[2019-11-13 16:03] mpirvu commented on #7099
I have changed the title and abstract to refer to all linux platforms

[2019-11-13 16:15] andrewcraik commented on #7694
Ok - will wait for the rest of the analysis - it sounds familiar. Does it occur with head OpenJ9 (eg the latest nightly)? I ask because we had some weird problems like this due to some bad OSR metadata which was fixed by https://github.com/eclipse/openj9/pull/7531 and this symptom looks a lot like some of the weird things we were seeing due to that...

[2019-11-13 16:28] DanHeidinga commented on #7710
Notes from OpenJ9 community call:

* Required for the JIT.
* gcc mtune / march style options?
* Global to SCC or per-compilation?  Only validate the env once so maybe better to do it globally?
* Per-method would possibly be easier for multi-layer SCC.  Would also allow creating new AOT for current processor config if the previous AOT body wasn't valid for this processor.

* Discussion on tomorrow'

[2019-11-13 16:31] dsouzai commented on #7710
@andrewcraik @mstoodle @vijaysun-omr @fjeremic could you guys take a look at https://github.com/eclipse/openj9/issues/7710#issuecomment-553480522 ; what are your thoughts?

[2019-11-13 16:37] fjeremic commented on #7710
Can you please elaborate on what this means? What does forcing compressed shift amount mean?

[2019-11-13 16:40] M-Davies commented on #7115
<img width="1319" alt="zlinuxMemory" src="https://user-images.githubusercontent.com/25231953/68783781-6ffa6100-0633-11ea-9914-d3dad298c8ca.png">
The heap size is identical to an x86_linux machine that loads the JDK at 0x40000000 (below)
<img width="1319" alt="x64linuxMemory" src="https://user-images.githubusercontent.com/25231953/68784364-5574b780-0634-11ea-8001-9116bd23c4a1.png">

[2019-11-13 16:41] andrewcraik commented on #7710
that is going to be really bad for performance - variable width shifts on x86 are massively slower than fixed shifts. Worse still, most of the fixed shifts are folded into memrefs / leas which wouldn't be possible with the variable variant. Fixing the shift would make a lot more sense - could force 3 shift or 4 shift. Could just tell the GC to use the shift amount from the SCC instead.

Would resu

[2019-11-13 16:42] dsouzai commented on #7710
The idea is that regardless of the heap size, we set the shift to be a certain value (if in compressedrefs mode)

[2019-11-13 16:50] andrewcraik commented on #7710
There are also the other "big" JIT mode decisions like HCR support that will have to be decided. They can be enabled, but they will have a big impact on performance (esp since OSR isn't support with AOT yet). Similarly, field watch, FSD, etc.

We may also want to make different choices in the virtual guards on methods to reduce the likelihood of guard patching? Something to think about anyway...

[2019-11-13 16:53] JasonFengJ9 commented on #7712
Is this a self attachment? if so, was `-Djdk.attach.allowAttachSelf=true` passed to the command line?

[2019-11-13 16:57] pshipton commented on #7696
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/197

[2019-11-13 16:58] fjeremic commented on #7710
Ok I suppose the question is under the portable SCC mode what do we care about more:

- AOT code performance
- JIT code performance after AOT bodies have been recompiled

If we fix the compressedrefs shift under the portable SCC mode then AOT code performance will be good (in comparison) however JIT code performance will not be as good since we have an artificially large shift value. I'm also not

[2019-11-13 17:46] dmitripivkine commented on #7115
So what is your concern? you requested `-Xmx2040m` (2139095040 bytes) and got allocation [0x80030000, 0xff830000] (2139095040 bytes). It fits to one of halves of memory below 4G bar

[2019-11-13 18:31] fjeremic opened #7761 "What are the reasons for having a separate Java stack?"
While working on miscellaneous performance investigations I have stumbled on an article on Java flame graphs from the team over at Netflix [1] in which they generated `perf` reports on Linux and then transformed them into flame graphs to understand a full picture of where time is being spent in the JVM process.

I gave the same thing a try on OpenJ9 and it did not work, presumably because `perf` w

[2019-11-13 18:44] DanHeidinga commented on #7761
Related previous discussion: https://github.com/eclipse/openj9/issues/3497

There are pluses and minuses to having separate stacks as you've noted.  I'll call out some of the benefits as you've already noted the major disadvantage (harder to work with native tools like flamegraphs) that I'm aware of.

Benefits:
* java stacks can grow as required and different threads can use different sized stacks

[2019-11-13 19:03] fjeremic commented on #7761
Thanks for linking to the relevant #3497 discussion and for your explanation. From the points above is the benefit largely classified as footprint savings or throughput improvements? Have we always had separate stacks? I'm wondering if any experiments have been performed on a unified stack in the past?

For context it may be a reasonable (ambitious) research experiment, perhaps as an academic rese

[2019-11-13 19:15] DanHeidinga commented on #7761
We've had separate stacks as long as I've been involved in the code base and I suspect the heritage goes all the way back to the green-threaded Envy Smalltalk VM.

What would you expect to get out of such an experiment?  What would signify success?

We've done some experiments in the past around supporting Flamegraphs which I'd be more inclined to resurrect and see if get the java stack to be walk

[2019-11-13 19:19] #7486 closed

[2019-11-13 19:25] fjeremic commented on #7761
Getting call graphs working using system tools such as `perf`, `bpf`, `oprofile`, `gperf`, etc. out of the box, or any other tool which was built to work with HotSpot would definitely be a goal. Another one which comes across frequently is debugging using system tools such as `gdb`, `lldb`, `windbg`, etc. which all understand native stack frames quite well and have a plethora of tools built around

[2019-11-13 20:46] theresa-m commented on #5061
Assuming that https://github.com/eclipse/openj9/issues/5153 is the same issue, which it appears to be, the issue has shown up in both osx1011-x86-1 and osx1011-x86-2 so likely not machine specific.

[2019-11-13 21:10] ChengJin01 commented on #5058
I've fixed the issue with stackframes in DDR and verified the result with a X86_64 build (compiled with the same source plus the fix).

The simple test code as follows:
[code]
The core dump below was generated by a RISC-V build compiled on Fedora/QEMU (without the fix)
[code]

Given that the RISC-V build generating the system dump above didn't include the fix, I need to compile another build with

[2019-11-13 21:23] dsouzai opened #7764 "NPE when launching Elasticsearch"
Java -version output
--------------------

[code]

Summary of problem
------------------

When trying to start up Elasticsearch (downloaded from [1]), a NPE is thrown. I narrowed it down to the java command that's called in `elasticsearch-7.4.2/bin/elasticsearch-env`; I added `-Xint` and it still fails:

[code]
The relevant java code can be found at [2].

If I run with Hotspot, there's no NPE that

[2019-11-13 21:33] fjeremic commented on #7764
This looks to be looking for a very specific JVM option. The method right below in [2] seems to look for `MaxDirectMemorySize` which is present on the HotSpot run. This seems like an Elastic problem to me, at first glance since they should be querying an API to extract the maximum heap size rather than looking for it in an option.

[2019-11-13 21:34] dsouzai commented on #7710
If we don't go down the path described by [1] then what I'm envisioning we could do is what I described in [2]. Until features like OSR, FSD, etc. are enabled in AOT, then I think we should maintain the current approach of not loading AOT in those modes.

[1] https://github.com/eclipse/omr/issues/4518
[2] https://github.com/eclipse/openj9/issues/7635#issuecomment-548056432

[2019-11-13 21:35] pshipton commented on #7764
It's using `-XX:+PrintFlagsFinal` which OpenJ9 doesn't support at this time.

[2019-11-13 21:37] pshipton commented on #7764
I've stuck this into the 0.19 milestone, but no guarantees when we'll have time to implement the `-XX:+PrintFlagsFinal` option.

[2019-11-13 21:37] dsouzai commented on #7764
Sure, but the failing code is checking for `MaxHeapSize` which isn't present in the java options. So at the very least we shouldn't be NPEing.

[2019-11-13 21:41] dsouzai commented on #7764
@pshipton where did you see that option; I'm not finding it in the jvm.options file.

[2019-11-13 21:53] pshipton commented on #7764
Looking through the code to see what it does.

https://github.com/elastic/elasticsearch/blob/b8d85cf6a8db848a0ec2a9680c02a95fb0d9b25a/distribution/tools/launchers/src/main/java/org/elasticsearch/tools/launchers/JvmErgonomics.java#L86

[2019-11-13 22:11] pshipton commented on #4930
Yes it is the expected behavior for the right most option to control the behavior. The only time this wouldn't be strictly true is if the top level option supports combination of suboptions from multiple options. i.e. Say `-Xjit:abc -Xjit:def` was combined to `-Xjit:abc,def`.

While I don't think `Parsing of the -XX options should be done in the same place.` is strictly true, I don't have any obje

[2019-11-13 22:13] pshipton commented on #4930
I assume `Assuming the above is the not correct behaviour.` should be `Assuming the above is the correct behaviour.` (with `not` removed).

[2019-11-13 23:17] fjeremic commented on #7764
Right because `finalJvmOptions.get("MaxHeapSize")` returns `null` because the option does not exist in OpenJ9 and we call `.get()` on the result which ends up being an NPE. Elastic is assuming the JVM will always have that option available which does not appear to be a valid option as I cannot find it in the docs.

[2019-11-14 00:17] AlenBadel commented on #4930
Just to be clear, I was trying to point out a mismatch of behaviour between the codecache and the objectheap.

The codecache as it currently is implemented will NOT choose the right most option, while the objectheap is setup to

I.e when running
`java -Xlp:codecache:pagesize=16M -Xlp64K`
codecache will use 16M rather than 64K. Hence will ignore the right-most option, and will always prioritize -Xl

[2019-11-14 01:43] pshipton commented on #4930
This is correct.

[2019-11-14 09:32] M-Davies commented on #7115
My concern was the `compressedRefsShift` was not producing an accurate value. However, running `java -verbose:gc -Xmx2040m -Xdump:java:events=vmstop` shows that it is. The screenshots were to confirm this point

[2019-11-14 10:34] M-Davies commented on #7115
@pshipton @dmitripivkine https://github.com/M-Davies/openj9-openjdk-jdk11/commit/27d5060571a8905d1267664f4ac62537b9debd9c
[code]
Fix for JDK8, please see the test output above. I currently have a build running for JDK11 that should achieve the same result

[2019-11-14 11:51] M-Davies commented on #7115
JDK8 fix. https://github.com/M-Davies/openj9-openjdk-jdk8/commit/1fee500193b02437cfa5f35aa8bb3f84b421add4
[code]

[2019-11-14 12:36] CodingFabian commented on #7712
@JasonFengJ9 no it is using the same java binary, but it is an attach from a separate process (e.g. docker exec -it  invoked)

[2019-11-14 13:52] pshipton commented on #7115
I added a number of comments to the commit.

[2019-11-14 14:38] pshipton commented on #7696
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/198

[2019-11-14 14:41] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_s390x_linux_Nightly/98
DaaLoadTest_daa2_special_22
[code]

[2019-11-14 16:14] M-Davies commented on #7115
@pshipton https://github.com/M-Davies/openj9-openjdk-jdk8/commit/14cfb367e5cfd3c0a2655cecdc3761e7ee999c22

[2019-11-14 16:17] fjeremic opened #7766 "Experiment adding J9_STR_ASCII flag during startup"
As noted in [1] there is a potential for further throughput improvement in the area taking advantage of the `J9_STR_ASCII` flag by attempting to add the flag during class loading/startup. There is a startup vs. throughput performance tradeoff here which will need to be evaluated once such a change is prototyped.

The task here is to avoid examining the UTF8 characters to determine whether the inpu

[2019-11-14 16:29] htreu commented on #7712
I will also add `-Dcom.ibm.tools.attach.logging=yes` to the attacher, just saw in the j9 code it will also log its progress.

[2019-11-14 16:46] AlenBadel commented on #4930
Great. Looks like we're in agreement. I'll go ahead and bring up a separate PR to correct this.

[2019-11-14 17:05] DanHeidinga commented on #7623
@theresa-m Can you take a look at this?

[2019-11-14 17:33] ashu-mehra commented on #7679
@amicic I also mentioned in my first comment: `there is an expansion happening because of insufficient free space following gc which should not happen during 'vm idle' cycle.`. Would this also be taken care of by https://github.com/eclipse/omr/pull/4564, or is it a separate issue?

[2019-11-14 17:41] amicic commented on #7679
It's a sperate issue. However, this expansion will not increase resident size - the area will be uncommited. Hence, I see it as a minor issue, not worthy of extra complications in the code.

[2019-11-14 17:56] RSalman commented on #7679
This will actually be taken care of as a result of this change

[2019-11-14 17:58] RSalman commented on #7679
The expansion was a result of the same issue since we weren't freeing any memory

[2019-11-14 18:40] amicic commented on #7679
Right, in this specific scenario, since GC freed enough memory to conform with minf critera, it will not expand.

But in general, this change will not prevent further expansions, if not enough memory is freed. Not ideal, but still relatively benign, as I already explained.

[2019-11-14 18:43] theresa-m commented on #7623
Yes I'll take a look.

[2019-11-14 19:17] #7172 closed

[2019-11-14 22:11] simonameng commented on #7528
I encountered the same problem when I tried to build JDK11 under debug mode in docker on Z platform.

The `Assertion failed` occurs when I executed `make all` following the instruction in [1]. I had a few tries on different commands:
- follow the instructions step by step.
- set the environment variables followed by the instruction, and run
[code]
- set the environment variables followed by the in

[2019-11-14 23:22] harryyu1994 commented on #7674
Debug story:
1. An assertion is triggered inside `wantToPatchClassPointer`. It was determined that the class pointer was not valid. Which means JITServer generated some bad code.
[code]

2. JITServer codegen:
We create the snippet inside J9CodeGenerator:
[code]
And that fieldClass comes from:
[code]
- which means the fieldClass pointer is already a client class pointer (obtained through the JITSer

[2019-11-15 00:10] babsingh commented on #7426
Unable to reproduce the issue. `SC_Softmx_JitAot_0` has passed in the last 30 mac nightly builds: https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly/. Both the Mac and Linux test variants use `-Xaot:forceAot,disableAsyncCompilation,count=0`.

[2019-11-15 04:20] JasonFengJ9 commented on #7712
Does this attacher process run as root and have PID `1`?

Please provide log for the attacher as well.

In addition, could you run `jps` in that separate `docker -exec it`  and report its output? It should show the target process VMID (it appears `1` as https://github.com/eclipse/openj9/issues/7712#issuecomment-553374195), run `jcmd 1 Thread.print` and please provide its output.

[2019-11-15 10:23] M-Davies commented on #7115
@smlambert Same question as above ^^

[2019-11-15 12:53] pshipton commented on #7115
Please open the PR, we can continue the review there.

[2019-11-15 12:54] pshipton commented on #7115
Note I had created a number of new comments on that later commit M-Davies/openj9-openjdk-jdk8@14cfb36

[2019-11-15 13:00] pshipton commented on #7696
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/199

[2019-11-15 13:04] pshipton opened #7773 "functional tests don't compile on jdknext"
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.functional_s390x_linux_OpenJDK/64
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_s390x_linux_OpenJDK/77
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_windows_OpenJDK/63
etc. for all platforms.
[code]

[2019-11-15 13:08] pshipton commented on #7773
previous working build:
OpenJ9: 64087aa
OMR: b372b24
OpenJDKnext: 3657615 - openj9-openjdk-jdk

failing build:
OpenJ9: 881cb8e
OMR: b372b24
OpenJDKnext: 83ad409 - openj9-openjdk-jdk

https://github.com/eclipse/openj9/compare/64087aa...881cb8e

The test didn't change, I believe the problem is that javac changed.

[2019-11-15 13:19] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_windows_Nightly/98
LambdaLoadTest_ConcurrentScavenge_0

[2019-11-15 13:29] dmitripivkine commented on #4930
You can do this. The beneficial part of this approach you would not change existing `-Xlp` behaviour. However it means you will need to add for new options check for availability of the requested page size in OS, choose "default large page" if size is not requested, choose missed value for [non]pageable for ZOS and proper error/warning reporting/handling

[2019-11-15 14:35] M-Davies opened #7775 "Failing JTReg: java/lang/reflect/Proxy/ProxyLayerTest.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/3cc03bc6fbbab6bbd54eecb860e007f44e14656e/test/jdk/java/lang/reflect/Proxy/ProxyLayerTest.java#L1 and https://github.com/ibmruntimes/openj9-openjdk-jdk13/blob/5555cfa6ef8926f0c30ea9fe14aa41c9e7b3cd96/test/jdk/java/lang/reflect/Proxy/ProxyLayerTest.java#L1 fail for JDK11/13-openj9.

- test category, openjdk
- OS/archi

[2019-11-15 15:16] #7773 closed

[2019-11-15 15:22] dmitripivkine commented on #7115
I see. This is wrong indeed. The decision of Compressed Refs Shift is made based on position of most significant bit for heap top address. However I can not reproduce this problem.

[2019-11-15 15:57] DanHeidinga commented on #7761
Sounds like we're on the same page with respect to the end goal.  We're suggesting different paths to get there - one is move entirely to the native stack or try to make the existing java stack walkable by the system tools.

What do you propose is the next step for this issue?  Is it close as the question's been answered or is there some value to keeping it open at this point?

[2019-11-15 16:13] DanHeidinga opened #7776 "Optimize StackTraceElement generation"
We've been doing some work to optimize stacktraces.  OpenJ9 currently generates stacktraces using two passes:
* Pass 1 walks the stack and collects the PCs of the methods being executed storing them in the Thread
* Pass 2 walks the array of PCs and converts them into StackTraceElements

The current focus is on optimizing the Pass 2 part.

Work so far:

* https://github.com/eclipse/openj9/pull/7673

[2019-11-15 16:23] DanHeidinga commented on #7776
@fjeremic If this is missing anything, feel free to edit & add any links / descriptions / etc

[2019-11-15 16:30] fjeremic commented on #7776
Excellent summary this far. Thank you for putting this together. I've added another future area for a caching prototype I have which I suspect will be subject to debate on the PR once it is opened. I expect to have something in PR form by early next week I hope. My current focus is on cleaning up #7765 to get that in a deliverable state.

[2019-11-15 16:37] pshipton commented on #7115
@dmitripivkine why is a shift of zero wrong for a heap 0x80030000 to 0xFF830000 ?

[2019-11-15 16:48] fjeremic commented on #7761
I think the question has been answered and is now searchable for future reference. Thanks!

[2019-11-15 16:48] #7761 closed

[2019-11-15 16:55] dmitripivkine commented on #7115
According https://github.com/eclipse/openj9/issues/7115#issuecomment-553464888 shift was set to 1, was not it?

[2019-11-15 17:12] 0xdaryl commented on #7761
First off, thanks for documenting some of the design reasons for the separate stacks.  This question has come up a few times.  I usually fall back on my historical recollection of J9 when it was an embedded product and where the separate stacks facilitated growing the stack and made it easier to start with much smaller Java stacks.  I'm glad to know some of the other benefits as well.

While I agr

[2019-11-15 18:32] ChengJin01 commented on #5058
The build with the fix  (compiled on on Fedora/QEMU) works good in running stackframe-related DDR commands in jdmpview as follows:
[code]
and also double-checked the shareclasses specific commands as follows:
[code]

To verify whether `!gpinfo` & `backtrace `works in gdb/debugging (related to signal handler), I need to compile another build on Fedora/QEMU with a piece of code in OpenJ9 to trigger

[2019-11-15 18:35] pshipton commented on #7115
Yes, but that is because the memory was allocated differently by the OS, from 0x82DC0000 to 0x1025C0000. I can duplicate it on my fyre machine, but it doesn't indicate a bug.

[2019-11-15 18:59] zl-wang commented on #7776
A wild secondary idea (for general string interning) to consider alleviating the StringTable lock:  two staged StringTable  --- one table is read-only accumulating newly interned strings only during GC (for example); another table needing lock to accumulate during mutators running.  The stable state doesn't need lock. One table structure overhead ...

[2019-11-15 19:40] harryyu1994 commented on #7361
original crash for this issue is fixed, this can be closed. The new issue is tracked here https://github.com/eclipse/openj9/issues/7674.

[2019-11-15 20:22] dmitripivkine commented on #7115
Ok, thank you. I misunderstood obviously

[2019-11-15 20:44] #7361 closed

[2019-11-15 21:45] #7669 closed

[2019-11-16 04:58] AlenBadel commented on #4930
Right, which still can be done effectively since a lot of these checks which are common to both Xlp options and our new mapped options. I can throw the common code into a function that is called in both cases which means these codes wouldn't need to be redundantly implemented.

[2019-11-16 05:03] AlenBadel commented on #4930
I must also note that it's a requirement to add tests for both `-XX:+UseLargePages` and `-XX:LargePageSizeInBytes=<size>`. As well as implement tests for Xlp:codecache:pagesize=<size>.

[2019-11-17 17:45] #7711 closed

[2019-11-18 03:16] hzongaro commented on #7593
A little more information.  The error reported states

[code]

The string concatenation that's involved in [`JUnitAdaptor$1.addResult`](https://github.com/AdoptOpenJDK/stf/blob/f7d33b5261489635dee9b7df24600dd10f7229d4/stf.load/src/stf.load/net/adoptopenjdk/loadTest/adaptors/JUnitAdaptor.java#L114-L124) looks like this:

[code]

The only one of those strings whose is length is four is the value of

[2019-11-18 03:42] smlambert commented on #7775
Excluded by https://github.com/AdoptOpenJDK/openjdk-tests/pull/1444 (previously by 585)

[2019-11-18 10:01] planetf1 commented on #7684
My intent is to avoid this problem until 11.0.6 is released (skip rat), then I will retest and report back - since we don't seem to have been able to capture further debugging info.

[2019-11-18 14:42] AdamBrousseau commented on #7717
This works on our Fyre machines but not our vSphere machines. Struggling to find the right setting to change or what is different about the 2 sets of machines.

[2019-11-18 15:02] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly/205
DaaLoadTest_daa1_0 - NumberFormatException

[2019-11-18 15:16] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_ppc64_aix_Nightly/21
UtilLoadTest_0
[code]

[2019-11-18 15:16] pshipton commented on #7696
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/200
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/201

[2019-11-18 15:17] #7275 closed

[2019-11-18 15:17] #7299 closed

[2019-11-18 15:58] M-Davies commented on #7115
@pshipton can you look at the other two requests on JDK11 and 13 too please? :)

[2019-11-18 16:02] #7427 closed

[2019-11-18 16:08] pshipton commented on #7115
@M-Davies yes, they are on the list. Please create a PR for https://github.com/ibmruntimes/openj9-openjdk-jdk as well.

[2019-11-18 16:35] mpirvu opened #7782 "Implement PR testing for JITServer with the master branch"
Currently we can do PR testing for the JITServer with the jittas branch with a comment like:
`Jenkins test sanity.functional+jitaas xlinux jdk8,jdk11 depends eclipse/openj9-omr#jitaas`
We would like to have the same functionality for the master branch as well, but in the master branch the JITServer code is protected by `#ifdef JITSERVER_SUPPORT`.
One possibility is to set the following env var: `J

[2019-11-18 17:13] ChengJin01 commented on #5058
Already ran DDR specific test suites `modularityddrtests `&  `dumpromclasstests` (failed previously due to missing DDR code) and all tests passed as follows:
[code]
Will add all DDR changes to the corresponding PR soon.

[2019-11-18 18:34] theresa-m commented on #7623
There's a couple of issues here:

- [ ] Java 8 testGetMethod/testGetMethods failures
These test actually pass if I remove this check for Java 8 as well. Checking to see what other testing implications that may have. https://github.com/eclipse/openj9/pull/311

- [ ] Java 11+ testGetMethod failure:
If the calling interface does not implement the specified method, OpenJ9 checks only the first impleme

[2019-11-18 19:43] pshipton opened #7786 "Update AIX machines to 7.1 TL5 SP5"
In order to build Java 13 and later, we need a new version of the AIX `dump` utility, which is included in 7.1 TL5 SP5 (SP5 being the new part). All the AIX machines at OpenJ9 used for build need to be upgraded.

[2019-11-18 19:44] pshipton commented on #7786
@jdekonin

[2019-11-18 20:35] AdamBrousseau commented on #7717
- Accounts on both sets of machines appear to be local (as opposed to domain).
- Can run the cmd when rdp'd as the jenkins user in both cmd line and cygwin. Only fails via cygwin-ssh. Looking into remote access perms now.

[2019-11-18 21:51] #7115 closed

[2019-11-19 00:54] DanHeidinga commented on #7776
We should be applying the same optimizations to the JDK11 StackWalker api as well - see https://github.com/eclipse/openj9/blob/1dd14da6ca1351c8ab42f40b0c7e324c39ab102e/runtime/jcl/common/java_lang_StackWalker.cpp#L139

[2019-11-19 01:27] DanHeidinga commented on #7776
Links to the interning of method names in other areas:
  * Note, that reflect method names are already interned: https://github.com/eclipse/openj9/blob/4c32de596d1bb498b44d5e0b944035c63e7175cf/runtime/jcl/common/reflecthelp.c#L676
  * Note, JDK11 StackWalker api also interns method names: https://github.com/eclipse/openj9/blob/1dd14da6ca1351c8ab42f40b0c7e324c39ab102e/runtime/jcl/common/java_lang_S

[2019-11-19 01:59] daneshforouhari commented on #5472
Hello. I am  running into the same problem, i.e. git index-pack dying (via signal 15). This happens at random when running 'git clone ...' on the same repo (without repo's content getting any bigger).
Any idea what could be causing this behavior. BTW, we are using Ubuntu 18.04 (not CentOS).
Thanks

[2019-11-19 13:40] pshipton commented on #5472
@AdamBrousseau do you know why the `index-pack died of signal 15` occurs?

[2019-11-19 14:00] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_Nightly/731
DaaLoadTest_daa1_special_22
[code]

[2019-11-19 14:01] pshipton commented on #7696
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/203

[2019-11-19 14:32] AdamBrousseau commented on #5472
I don't think we ever found root cause as it wasn't easy to reproduce. Could be a number of things. Try adding `GIT_TRACE=1` to your env to get more verbose output. Not sure what your setup is like but we also use [reference repositories](https://git-scm.com/docs/git-clone#Documentation/git-clone.txt---reference-if-ableltrepositorygt) to help with our clones.

[2019-11-19 15:09] fjeremic commented on #7275
Looking forward to that OMR change propagating! Hopefully the UNB issues are resolved soon and we can get OMR-Acceptance builds running.

[2019-11-19 15:31] vij-singh commented on #7459
@gita-omr @ymanton  What is the lastest summary for this issue?

[2019-11-19 15:46] piyush286 commented on #7459
With https://github.com/eclipse/openj9/pull/7637, the startup regressions disappeared in our regression runs.

[2019-11-19 16:21] DanHeidinga commented on #5654
To make jit stack frames walkable, ie as we do in the current signalhandler, we call `jitPushResolveFrame` - https://github.com/eclipse/openj9/blob/master/runtime/compiler/runtime/SignalHandler.c#L398
- which is implemented  in https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/runtime/util/jitresolveframe.c#L39

This is a generic resolve frame so we can use the stackw

[2019-11-19 16:51] dmitripivkine opened #7790 "Sequential search of ROM class in Anonymous classes unloading"
Anonymous classes unloading procedure uses sequential walk to find ROM class segment for each RAM class to be unloaded. It can be reason for performance degradation if number of Anonymous classes is large. Also with adding Anonymous classes support to SC searched ROM class can not be in the Anonymous classloader list at all, so it is worst case scenario

[2019-11-19 16:58] dmitripivkine commented on #7790
We can use `findMemorySegment()` to search in `classMemorySegments` list. It would be a win for relatively large number of Anonymous classes in dedicated Anonymous Classloader. It would prevents n**2 search time obviously. However it might be slower for small number of Anonymous classes.
@tajila @DanHeidinga

[2019-11-19 16:58] ymanton commented on #7459
As far as the behaviour of our code goes, the regression that was introduced by the hints API work is fixed and AIX is now consistent with the other platforms. @piyush286's measurements confirm that the delta he reported is gone. The potential further improvements I came across are best addressed as a new development item so I suggest this issue should be considered resolved and can be closed.

[2019-11-19 17:08] dmitripivkine commented on #7790
An alternative suggestion is to keep pointer to ROM class segment from RAM class segment or J9Class itself. This will allow us to keep unloading procedure linear

[2019-11-19 17:14] dmitripivkine commented on #7790
@hangshao0 If ROM class for Anonymous class came from SC, would it be added to classMemorySegments list? Is there a simple way to recognize such ROM class?

[2019-11-19 17:46] kgibm commented on #7684
On Linux, the JVMJ9VM135W message means that the system has a core redirection configured into the `/usr/share/apport/apport` program, which may be deleting, renaming, and/or truncating the core from my experience. Try `sudo systemctl stop apport.service` and restart Java and see if JVMJ9VM135W is gone and then reproduce.

[2019-11-19 17:58] pshipton commented on #4210
This should be fixed by upgrading to gcc 7.5 (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=88751), which according to https://gcc.gnu.org/gcc-7 was released on Nov 14.

[2019-11-19 19:01] AdamBrousseau commented on #7717
Pretty sure this issue and #7716 are same root cause. Permissions issues when running via cygwin-ssh. Haven't been able to find the cause yet but getting closer. Both issues are resolved by rdp-ing into the machine and running the command by hand using the same jenkins user.

[2019-11-19 19:14] DanHeidinga commented on #7790
This would work for anonymous classes as they are 1-1 with their ram to rom segments.  We'd need to add the mapping in a way that doesn't add a cost to non-anon segments as they are not strictly 1-1

[2019-11-19 19:15] DanHeidinga commented on #7459
@ymanton Can you add a link to the new development item tracking the further improvements?

[2019-11-19 19:39] DanHeidinga opened #7791 "Move P & Z linux machines to cent 7 or RHEL 7"
Currently, OpenJ9 build machines on p & z linux are running Ubuntu.  This is different than the OSes we're using for build at Adopt and requires running the binaries on Ubuntu or newer OS levels due to glibc requirements.

Let's migrate the OpenJ9 build machines to use Cent 7 or RHEL 7 to match Adopt and ensure the binaries work across most distros.

This also allows perf testing on existing perf

[2019-11-19 19:39] DanHeidinga commented on #7791
FYI @jdekonin @AdamBrousseau @pshipton

[2019-11-19 19:44] AdamBrousseau commented on #7786
Machine 1-4 are 7.1 TL4 SP3
`

[2019-11-19 19:48] vij-singh commented on #6428
@JamesKingdon @andrewcraik Curious about TR_OptimizeForConstantLengthArrayCopy=1... any reason this is under an option and not the default?

[2019-11-19 19:50] AdamBrousseau commented on #7791
Note that our zlinux offering from Marist only supports the following OS levels

[code]
"Continued" means that they will be unsupported "soon"
From Cindy
[code]

[2019-11-19 20:58] andrewcraik commented on #6428
@vij-singh The option can add some path length and increased code cache usage - a complete performance evaluation was not completed whent he code was delivered and so it is not enabled by default at this time.

[2019-11-19 21:58] harryyu1994 commented on #7674
Now looking into
[code]

Merge point 1:
on August 13, 2019
https://github.com/eclipse/openj9/pull/6696

OpenJ9 SHA: 401414ac55c3de88aadb364c984dabb5aead2888
OMR SHA: 6e99760bcded06f8f85c6753e0c2f4370298703b
OPENJDK8 SHA: 9c5a52ee84fe1f74a8494a9bc2b05cb0fd6e5419

[code]
Observed same failure.

Merge Point 2:
on Jul 18, 2019
https://github.com/eclipse/openj9/pull/6503
OpenJ9 SHA: 9e3480e093040c90493

[2019-11-19 22:37] rajdeepsingh1 commented on #7432
[code]
All of the systems above now have the shortnames set to `PROGRA~1` and `PROGRA~2`

`win2012r2-1` is currently being rebuilt, playbook is running - the shortnames were successfully applied to this machine aswell.

[2019-11-19 23:42] harryyu1994 commented on #7674
Reduced down to compiling a single method
[code]

[2019-11-19 23:44] mpirvu commented on #7674
Nice! A no-opt method cannot be very hard to track I assume.
Maybe comparing to code generated by non-jitserver will surface something

[2019-11-20 04:03] mpirvu commented on #4467
Closing this issue as functionality has been delivered.

[2019-11-20 04:03] #4467 closed

[2019-11-20 04:07] mpirvu commented on #5585
@ymanton Was there a fix delivered for this issue?
I do not recall to have seen this backtrace or this test failing lately.

[2019-11-20 04:49] pshipton commented on #7791
RHEL 7 is fine, we just assumed CentOS 7 would be the available OS. Can you find out how long it will be available. I found "End of Maintenance Support 1" is Aug 2020, and "End of Maintenance Support or Maintenance Support 2 (Product retirement)" is June 2024. Atm RHEL/CentOS 7 is the lowest available glibc version. When it's no longer available we'll have to move to the next OS with the lowest le

[2019-11-20 04:56] ymanton commented on #5585
Yes it was fixed by https://github.com/eclipse/openj9/pull/5937, I'll close this now.

[2019-11-20 04:56] #5585 closed

[2019-11-20 10:45] mpirvu commented on #5645
Running 10 acmeair experiments in succession (thus 20 JVM clients in total) the RSS at the server grew from 44596 KB  to 570556 KB. Virtual size grew at a smaller rate 5.6G-->6G
`30421 mpirvu    20   0 5615996  44596  18684 S   0.4  0.3   0:02.73 java`
to
`30421 mpirvu    20   0 6008420 570556  26428 S   0.3  3.5   8:12.60 java`
I have yet to determine if this is a true memory leak.

[2019-11-20 10:55] mpirvu commented on #7704
These were caused by a desynchronization between omr and openj9 which has been solved, hence closing this issue.

[2019-11-20 10:55] #7704 closed

[2019-11-20 11:08] mpirvu commented on #5645
After one more acmeair run the memory stats are:
`30421 mpirvu    20   0 6011504 617876  26428 S   0.3  3.8   9:02.62 java`
so virtual and physical memory grew again by 3M and 47MB respectively.
The vlog for the server shows that client disconnects nicely and its session data should have been deleted:
[code]

[2019-11-20 13:38] mpirvu commented on #5645
After yet another run there is a 67MB increase in virtual memory and 45MB in RSS:
`30421 mpirvu    20   0 6079096 663172  26428 S   0.3  4.1  10:11.41 java`

This deserves an investigation

[2019-11-20 14:07] mpirvu commented on #5645
Javacore at the server shows 61MB of persistent memory, 14KB of code cache (I wonder why not 0) and 0MB of data cache. We must be consuming heap memory allocated with malloc.

[2019-11-20 15:10] pshipton opened #7798 "aix71-p8-5 to 10 needs libc++ installed"
AIX Java 13 requires libc++ on the machines. 1-4 have been fine, I expect it needs to be installed on 5-10.
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.functional_ppc64_aix_Nightly/23
[code]

[2019-11-20 15:10] pshipton commented on #7798
@jdekonin

[2019-11-20 15:24] pshipton commented on #7798
I've set 5, 6, 8, 10 offline. 7 and 9 are still running jobs, I'll take them offline when they are done.

[2019-11-20 15:28] pshipton opened #7799 "ssh: Could not resolve hostname ub16x64j91: Name or service not known"
ub16x64j91 didn't come online after https://github.com/eclipse-cbi/jiro/pull/68
[code]

[2019-11-20 15:28] pshipton commented on #7799
@jdekonin

[2019-11-20 15:39] pshipton commented on #7696
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/204

[2019-11-20 16:09] hzongaro commented on #7593
I managed to produce a core and javacore by adding calls to `com.ibm.jvm.Dump.SystemDump` and `com.ibm.jvm.Dump.JavaDump` into `StringConcatHelper.newString` at the point where it throws an `InternalError`.  From that I was able to work backwards through the paths in the CFG, and found that on one path a call to `java.lang.String.lengthInternal` is folded to an `iconst 4` (or `iconst 26`, in the m

[2019-11-20 16:12] hangshao0 commented on #7790
Yes, it will be in the classMemorySegments list. You can use j9shr_Query_IsAddressInCache() to tell if a romClass is from shared cache or not.

[2019-11-20 16:33] AdamBrousseau commented on #7791
From Cindy
[code]

[2019-11-20 17:22] jdekonin commented on #7798
libc++ isn't installed on 1-4

[2019-11-20 17:33] gacholio commented on #7696
Looked at the buffer for this one:

5c c3 df 24 01 ifnull
87 c3 df 24 00 20 ef 25 08 0b ef 25 ec 2d 79 71 invokevirtual
8e c3 df 24 00 20 ef 25 08 0b ef 25 ec 2d 79 71 invokevirtual
94 c3 df 24 00 f1 ee 25 08 0b ef 25 ec 2d 79 71 invokevirtual
ba 75 df 24 4c ea ee 25 invokespecial
c4 75 df 24 00 f3 ee 25 4c ea ee 25 ec 2d 79 71 invokevirtual
ea 91 df 24 01 ifcmplt
07 92 df 24 01 ifcmple
19 92 df 2

[2019-11-20 18:27] jdekonin commented on #7799
This vm has suffered some sort of networking malfunction.  @rajdeepsingh1 is resolving.

[2019-11-20 18:30] mpirvu opened #7800 "Create a launcher for the JITServer process"
Currently, JITServer is launched with a java command like this: `java -XX:StartAsJITServer  extra_JVM_args`
It may be better to create a specific launcher, called, say `jitserver`, that under the covers will invoke java with the appropriate arguments. Of course, the launcher could be invoked with any other options that openj9 recognizes.
An example of a generic launcher can be found here: https://

[2019-11-20 18:30] mpirvu commented on #7800
Attn: @ashu-mehra

[2019-11-20 18:45] keithc-ca commented on #7432
Build on win2012r2-x86-3 for #7430 passed:
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_windows_Personal/390/

[2019-11-20 18:48] pshipton commented on #7798
@jdekonin the jobs have been passing on the 1-4 machines. The build from the 18th was fine. I don't believe any code related to this changed.
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-JDK13/121/

[2019-11-20 18:49] pshipton commented on #7798
There is an issue about needing libc++ https://github.com/eclipse/openj9/issues/7579
Dan said: "While looking into this, I ran across this IBM APAR for AIX that provides details on how to install libc++: https://www-01.ibm.com/support/docview.wss?uid=swg1IJ12155"

[2019-11-20 18:50] dchopra001 commented on #6991
A few of the PRs above need to be double delivered. I'm making a list of the new PRs here:

- [ ] Direct call fixes for JITServer on Power: #7801
- [ ] Disable use of TR_VMField on JITServer: #7802
- [ ] Use JITServer check to create a relocation record for interface calls on Power: #7803
- [ ] Disable JNI specialCasing of java_util_zip_CRC32_updateBytes: #7804

[2019-11-20 19:03] rajdeepsingh1 commented on #7799
working on cloning `ub16x64j95` in order to rebuild `ub16x64j91`

[2019-11-20 19:03] ashu-mehra commented on #7543
Summarising the issue here:

During compilation there are places where we end up using cs2 `heap_allocator` which in turn uses `TR::Region` as the base allocator. The `heap_allocator` works by creating multiple list of segments where each list is used to satisfy request for memory within a range. Eg first list can satisfy memory requests upto 8 bytes. Next list for memory requests form 8 to 16 byt

[2019-11-20 19:04] mpirvu commented on #7782
FYI: @pshipton @jdekonin

[2019-11-20 19:23] jdekonin commented on #7798
Confirmed (not that it was needed) on 1-4
[code]

Thanks for the link and pointer to the requirement.  I'll make sure this gets added to the Adopt playbooks too.

[2019-11-20 20:12] gacholio commented on #7696
This looks like confusion between invokevirtual and invokespecial - it looks like someone overwrote the bytecode after it had been profiled.

260056b8 PC
26050100 Class
26017B84 Calling method
71792DEC Target method

Searching for PC=0x260056B8 in VM=0x00F51A00...
!j9method 0x260179B4 sun/reflect/GeneratedMethodAccessor6.invoke(Ljava/lang/Object;[Ljava/lang/Object;)Ljava/lang/Object;
Bytecode PC o

[2019-11-20 20:12] gacholio commented on #7696
When the profile was emitted, the bytecode was invokevirtual. By the time the profiler sees the method, the bytecode has been rewritten to invokespecial.

[2019-11-20 20:23] rajdeepsingh1 commented on #7799
@pshipton this should now be resolved.

`ub16x64j91` has been rebuilt successfully

[2019-11-20 20:32] fjeremic commented on #7275
Looks like OMR finally promoted. Let's see if any similar issues pop up now with the fix in place. Hoping not! 🤞

[2019-11-20 20:49] tajila commented on #7734
@JasonFengJ9 you are correct, `lookupJava8Package()` is not needed. I wasn't aware of `jdk8_packages.dat` at that time that native was implemented.

[2019-11-20 20:50] tajila commented on #7734
The corresponding /runtime/oti/j9java8packages.* can also be removed

[2019-11-20 21:04] JasonFengJ9 commented on #7734
Thanks @tajila , will submit the PR for the removal.

[2019-11-20 21:07] fjeremic opened #7807 "s390x Dockerfile cannot complete the configure step"
Following the change from #7465 the s390x Ubuntu18 Dockerfile [1] cannot complete the configure step. There are two issues:

[code]

This one can be fixed by installing the package via:

[code]

And the subsequent issue:

[code]

This one can be fixed by introducing a symlink:

[code]

I have not checked whether Ubuntu16 is broken, and I have not checked other platforms either. @babsingh did we ve

[2019-11-20 21:31] gacholio commented on #7696
@tajila said we're not doing the translation anymore, but we still appear to do it for HCR classes (for no good reason). I'm sure removing that will fix the problem.

[2019-11-20 21:31] babsingh commented on #7807
The changes were taken from the Dockerfile(s) used in the Jenkins builds: https://github.com/eclipse/openj9/tree/master/buildenv/jenkins/docker-slaves. I verified the generation of the Docker containers but I didn't built the full JDK in those containers. I assumed those changes should be good since they are used daily in our Jenkins builds. Referring to https://github.com/eclipse/openj9/pull/4568

[2019-11-20 21:41] gacholio commented on #7696
I suspect the iprofiler is running without VM access (so does not get blocked during HCR).

@mpirvu This seems like it might be an issue in the future.

[2019-11-20 21:51] pshipton commented on #7782
We should be using the `—enable-jitserver` configure option (https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/346), and adding the support for that, similarly to how the cmake build works. If that is what `create new platform/spec` means, then I agree.

[2019-11-20 21:53] fjeremic commented on #7807
Shameless plug at #5781 again. We really need to deprecate one set of these Dockerfiles and just use a single set which we actually test that it is working. Here is a recent list of issues/PRs encountered every several months when something breaks:

[1] https://github.com/eclipse/openj9/issues/6995
[2] https://github.com/eclipse/openj9/issues/4208
[3] https://github.com/eclipse/openj9/pull/7159
[4

[2019-11-20 21:54] jdekonin commented on #7798
This gets installed via xlc16 which are installed on 1-4; 5 is also now good if you wish to test to confirm.  The others are in progress.

[2019-11-20 21:54] tajila commented on #7734
@JasonFengJ9 There are tests in ` test/Java9andUp/src/org/openj9/test/access/staticAccessChecks/*` that ensure we have the correct behaviour regarding jdk8 packages. You can use these to verify that the `lookupJava8Package()` is no longer needed.

[2019-11-20 21:56] pshipton commented on #7807
@fjeremic it is still in plan to have one set of Dockerfiles, there just are no resources to work on it atm.

[2019-11-20 21:56] #7799 closed

[2019-11-20 21:58] JasonFengJ9 commented on #7734
@tajila yes, I verified that #7808 still passes those tests.

[2019-11-20 21:59] pshipton commented on #7798
Jenkins was restarted, all the AIX were re-enabled. I've disabled 6-10 again and left 5 enabled. If it doesn't work we'll know soon enough.

[2019-11-20 22:01] fjeremic commented on #7807
Is this work tracked in #5781 still?

[2019-11-20 22:10] gacholio commented on #7696
Part of the problem here is that the fix was applied to all affected classes, not just the ones that were explicitly redefined, so bytecodes that were not replaced were being modified.

[2019-11-20 22:13] #7807 closed

[2019-11-20 22:14] pshipton commented on #7807
Yes, but Keith hasn't had time to look at it recently due to higher priority issues.

[2019-11-20 22:24] #7432 closed

[2019-11-20 22:39] jdekonin commented on #7798
6-10 now have xlc16 and libc++.rte installed.  This issue can be closed once confirmed and/or machines are enabled. (which I need a committer to do...thanks)

[2019-11-21 02:25] #7798 closed

[2019-11-21 04:33] #7696 closed

[2019-11-21 04:39] ChengJin01 commented on #5058
Currently I've been investigating  [1] whether the native code can be debugged in gdb and
[2] whether `backtrace` in gdb works for a generated system core dump on RISC-V (which should be helpful in troubleshooting in the future)

[1] whether it is feasible to debug native code on RISC-V:
Given that there is no gdb support on `Fedora rawhide 2.8_stage4` (no package available for downloading from `h

[2019-11-21 08:21] janvrany commented on #5058
@ChengJin01
GDB's riscv64 native target (kind of) works these days, I use it regularly when debugging stuff on RISC-V. However, it is not *only* GDB that is involved, there was a bug in kernel's PTRACE implementation as well as some missing support in GLIBC. This being said, you need a matching combination of these. I can dig out details if you want.

At the very least,(my) GDB does work on my [De

[2019-11-21 09:12] PascalSchumacher commented on #7639
I looks like we are also affected by this bug.

After adding `-XX:+CompactStrings` Strings containing the euro sign are corrupted.

We are using:

[code]

The test from @patric42 passes.

Sadly I have not been able to create a simple test case to reproduce the isse (it occurs in XML created with https://github.com/jOOQ/jOOX) yet.

[2019-11-21 10:27] M-Davies commented on #7458
I adapted the above work item for our needs, changing the parameter name to the more appropriate `$1_LDFLAGS_SUFFIX`

[code]

**Unfixed Binary - MEMINFO Dump**
<img width="1328" alt="unfixed" src="https://user-images.githubusercontent.com/25231953/69329464-11437180-0c49-11ea-92bf-cda3f45e7ece.png">

**Fixed Binary - MEMINFO Dump**
<img width="1328" alt="fixed" src="https://user-images.githubuserco

[2019-11-21 13:33] hzongaro commented on #7593
Going a bit further, the problem appears to be related to the inliner's reuse of the temporary variable that holds the string `"pass"` (or `"abcdefghijklmnopqrstuvwxyz"` in the modified version).  In the following nodes after inlining, `#1256` is marked as containing known object `obj2`, but is reused by the inliner to hold the value of `exceptionText`:

[code]

[2019-11-21 13:37] zl-wang commented on #7458
javacore only captures memory allocations known to the JVM.  not all memory info at all.

procmap -X <java's pid>

checking the address range where object "java" is mapped,  to see the difference.

[2019-11-21 13:44] zl-wang commented on #7458
For example:
milan:[9306292] procmap -X 9306292
9306292 : /usr/bin/bash

Start-ADD         End-ADD               SIZE MODE  PSIZ  TYPE       VSID             MAPPED OBJECT
0                 10000000           262144K r--   m     KERTXT     20002
100000000         1001439ef            1294K r-x   s     MAINTEXT   a801e8           bash                    <<<. executable binary located
1100008b8

[2019-11-21 14:41] ChengJin01 commented on #5058
@janvrany
But for a generated core dump from a simple test, GDB 8.3 works good:
e.g.
[code]
So, it is hard to tell whether GDB 8.3 overall works on Fedora_Riscv 2.8_stage4 (there might be issue as to the compatibility with glibc used on the target platform or missing patches).  Need to double-check to see whether a lower version of GDB work around this.

[2019-11-21 14:51] fjeremic commented on #7639
I'll be taking a look at this today/tomorrow. Will post updates as I progress.

[2019-11-21 15:10] pshipton opened #7817 "Thread.suspend()/resume() deprecated for removal in Java 14"
Java 14 is deprecating Thread/ThreadGroup.suspend()/resume() for removal. OpenJ9 needs to add the deprecated flag to these methods for Java 14.

In the future, tests which use these methods will need to be re-written or removed once the methods are removed.

    Thread.suspend()
    Thread.resume()
    ThreadGroup.suspend()
    ThreadGroup.resume()
    ThreadGroup.allowThreadSuspension(boolean)

T

[2019-11-21 15:12] pshipton opened #7818 "Thread.countStackFrames() should throw UnsupportedOperationException"
Java 14 has changed Thread.countStackFrames() to throw UnsupportedOperationException, OpenJ9 should do the same.

[2019-11-21 15:17] JasonFengJ9 commented on #7818
Will have a look.

[2019-11-21 15:24] pshipton opened #7819 "MethodType::fromMethodDescriptorString requires "getClassLoader" permission"
Release notes for Java 14 contains the following
"
MethodType::fromMethodDescriptorString requires "getClassLoader" permission

MethodType::fromMethodDescriptorString is changed in this release that when security manager is present and loader parameter is null, it will perform RuntimePermission("getClassLoader") security permission check. This is to ensure that access to the system class loader is

[2019-11-21 15:25] DanHeidinga commented on #7817
This will affect some of the DDR extensions as well, likely the timeout command

[2019-11-21 15:29] DanHeidinga commented on #7800
As part of this, I would like to see the `-XX:StartAsJITServer` option removed.  The custom launcher can make calls to start the server rather than passing this option to the jvm launcher apis.

[2019-11-21 15:30] janvrany commented on #5058
@ChengJin01
It looks to me that GDB 8.3.1 itself is okish:
[code]
[code]

[2019-11-21 15:47] M-Davies commented on #7458
Thanks @zl-wang

**Before Above Fix:**
[code]

**After Above Fix:**
[code]
Text/data is now loaded at 0x100,0000,0000 (1tb) as opposed to 0x1,0000,0000 (4gb). Will make the relevant PR's now

[2019-11-21 15:53] pshipton opened #7820 "UNB xlinux/plinux NoRouteToHostException: No route to host"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_xl_Nightly/198/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/203/
[code]

[2019-11-21 15:54] pshipton commented on #7820
@jdekonin I'll disable ub16x64j99 for now.

[2019-11-21 15:59] pshipton opened #7821 "SharedCPEntryInvokerTests_1 unable to allocate file descriptor table - out of memory"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/356 - aix71-p8-10
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_Nightly/203/ - aix71-p8-8
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/357/ - aix71-p8-10
[code]

[2019-11-21 16:00] pshipton commented on #7821
@jdekonin I suspect this is a problem with the new AIX machines. I'm going to disable the failing ones for now.

[2019-11-21 16:02] pshipton opened #7822 "Cannot load module /opt/java8_64/jre/lib/ppc64//libjvm.so"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/357
aix71-p8-10
[code]

[2019-11-21 16:02] pshipton commented on #7822
@jdekonin
aix71-p8-10 is already disabled due to https://github.com/eclipse/openj9/issues/7821

[2019-11-21 16:05] pshipton commented on #7820
Similar problem on cent6-x64-1. Disabling this machine as well
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/202
[code]

[2019-11-21 16:07] pshipton commented on #7820
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_Nightly/96/
ub16x64j99
TestManagementAgent_0

[2019-11-21 16:29] mpirvu commented on #5645
A started a more systematic set of experiments where I start/stop liberty repeatedly (no load applied)
[code]
Looking at the javacores I see that the only component that increases is persistent memory at about 1M per run. After 105 runs I have 128MB of persistent memory being utilized

[2019-11-21 16:39] mpirvu commented on #5645
Another observation is that the code cache grows, though very little ==> 14K after 105 runs. Could it be that we do some cold allocations that are not cleaned up?

[2019-11-21 17:31] jdekonin commented on #7821
Same settings as 1-4, and 5-9 for that matter.  This is output from 10.  Cleanup jobs are running too so I don't think its failed job accumulation.  If this is a problem with machine configuration then more details are required to know what needs to be changed.

[code]

[2019-11-21 18:46] pshipton opened #7826 "Jenkins build "Failed in branch""
The latest OMR acceptance didn't launch build/test on all platforms. Not sure what is going on, there are no details.
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance/1729

Update. Failure details can be seen via the chicklets now.

[code]

[2019-11-21 18:47] pshipton commented on #7826
@AdamBrousseau @jdekonin

[2019-11-21 18:49] pshipton commented on #7826
Actually, looking at AIX, it's probably this unlabelled job.
Seems there may have been network problems and we should just restart. There is no restart option for the running build.

https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline_Build_Test_JDK8_ppc64_aix/1004
[code]

[2019-11-21 18:54] pshipton commented on #7826
This seems like something that should be restartable, rather than having to restart the entire build.

[2019-11-21 18:59] pshipton opened #7827 "shrtest_win_SE80_0 ASSERTION FAILED ** at CacheMap.cpp:7807"
Failing in OMR acceptance build.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_OMR/350
shrtest_win_SE80_0
[code]

[2019-11-21 19:00] pshipton commented on #7827
@hangshao0 can you pls take a look.

[2019-11-21 19:06] pshipton opened #7829 "J9vmTest_0 Expected to read shared ROMClass before j9bcu.205"
Failing in OMR acceptance build.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_OMR/350
J9vmTest_0
+++ j9vm.test.romclasscreation.NewROMCreationAfterModifyingExistingClassTest: +++
[j9vmtest.txt](https://github.com/eclipse/openj9/files/3876289/j9vmtest.txt)

[2019-11-21 19:07] harryyu1994 commented on #7674
Though I don't have any major breakthroughs, from reading the test case, I think we can narrow it down to JITServer mishandling something related to "JSR292(Dynamic methods)", and I'll be going through the set of functions responsible for JSR292 that JITServer overrides.

[2019-11-21 19:07] pshipton commented on #7829
@hangshao0 can you pls take a look. Note this failure is in the same test run as https://github.com/eclipse/openj9/issues/7827

[2019-11-21 19:15] hangshao0 commented on #7827
Will look at this

[2019-11-21 19:34] JasonFengJ9 commented on #7817
Will have a look.

[2019-11-21 19:34] pshipton commented on #7826
This is happening again in the new OMR acceptance build I launched.
https://ci.eclipse.org/openj9/job/Pipeline-OMR-Acceptance/1730

[2019-11-21 20:15] vsebe commented on #7716
Add user to `Performance Log Users` group.

[2019-11-21 20:18] AdamBrousseau commented on #7826
Opened https://bugs.eclipse.org/bugs/show_bug.cgi?id=553326

Our builds usually don't fail at the "pipeline-build-test-version/spec" level which is why the restart functionality isn't being used here. Note there is a built-in retry for the scm clone which is being exercised. We have the ability to increase the count on this retry. If we were to wrap it with the restart function we'd be restarting

[2019-11-21 20:31] harryyu1994 commented on #7674
Looking into this commit, https://github.com/eclipse/openj9/pull/6305, the corresponding regular JIT change might have not gotten mirrored to JITServer.

[2019-11-21 21:09] ChengJin01 opened #7833 "Compilation errors with strncpy when compiling with GCC 9+"
The compilation warning `stringop-truncation` and `stringop-overflow ` were introduced since GCC 8.0.
As a result, there are a bunch of code failures with these warnings (turned into error), mostly specific to `strncpy` on Open 9 & OMR when compiling with GCC > 8.0
e.g.
[code]
To avoid these warnings, we need to figure out how to minimize the code change as it will impact all platforms regardless

[2019-11-21 21:17] hangshao0 commented on #7827
[code]

[code]

The class name 0x07FA54D6 is pointing to free pace in the shared cache. We have seen this once before, that's is why we added this assertion.

[2019-11-21 21:21] ChengJin01 opened #7834 "Cmake support for OpenJ9 on RISC-V 64bit"
All the script changes included at https://github.com/eclipse/openj9/issues/5058 are based on UMA for the moment. With the changes being merged, we also consider to enable the compilation with `cmake` in the future after JIT is totally implemented on both OpenJ9 and OMR side.

FYI:  @keithc-ca , @DanHeidinga , @pshipton

[2019-11-21 21:27] DanHeidinga commented on #7833
@ChengJin01 how many of these errors are there?

[2019-11-21 21:34] hangshao0 commented on #7827
I can find the uft8 (java/lang/Object) in the shared intern table:
`
27.     Shared Table Entry < !J9SharedInternSRPHashTableEntry 0x05DF4E00 Flags: 0x0004 IWeight: 65535 IsUTF8Shared: true>       UTF8 <Add: 0x05E0C4C6 Data: "java/lang/Object">`

[2019-11-21 21:40] AdamBrousseau commented on #7782
Yes. When I originally said new spec with extra env variable I didn't know about the work to add the new configure option. It would be a dup spec with one more config option. I would prefer to add this after #7809 is merged but I'm not sure if that will land in time for this work.

[2019-11-21 21:47] ChengJin01 commented on #7833
@DanHeidinga,  the compilation will stop there once one or two errors like this get captured, so it is hard to tell whether the latest version of GCC treats all code with `strncpy` as errors.  Given that `strncpy` is invoked over 190 times in OpenJ9 and over 130 times in OMR,  all of them need to be checked one by one during compilation to ensure the code invoking `strncpy` complies with these new

[2019-11-21 22:00] keithc-ca commented on #7833
It won't be _all_ uses of `strncpy` that elicit warnings from the compiler - just those that it _believes_ write beyond the end of the target buffer.

[2019-11-21 22:15] ChengJin01 commented on #7833
Yes, but I believe there are still quite a few out there to be fixed from the compiler perspective.

[2019-11-21 22:31] jdekonin commented on #7822
This makes no sense.  `/opt/java8_64` is the SDK that jenkins is using to connect to the machine!?  Something must be killing or causing processes to terminate on the machine(s).

[2019-11-21 22:52] ChengJin01 commented on #5058
@janvrany
One thing confused me  is the messages coming from your gdb on Debian as follows:
[code]

Given that the first release of GLIBC on RISC-V is `2.27` at https://sourceware.org/ml/libc-announce/2018/msg00000.html, I am wondering why it is locating `glibc-2.26` (which has no RISC-V support) instead of `2.27`.  Did you compile everything including `glibc` from scratch on Debian?

The build to

[2019-11-21 23:21] janvrany commented on #5058
@ChengJin01

Yes, that's confusing. Ignore that. This is because I have in my `~/.gdbinit` something like:

[code]
My `/home` is shared over NFS among all hosts in my build farm (this make things convenient for me) If I remove this line from `~/.gdbinit` these warnings go away.

[2019-11-21 23:35] ChengJin01 commented on #5058
I just found the mailing-list of discussion about the issue with gdb on Fedora_riscv images at
https://groups.google.com/a/groups.riscv.org/forum/#!topic/sw-dev/CSkwpmjQLqc and the corresponding gdb port at https://github.com/jim-wilson/riscv-linux-native-gdb.

According to the discussion, there does exist the matching issue between gdb, kernel/ptrace and glibc that requires a couple of patches to

[2019-11-21 23:44] edmathew234 commented on #5058
hello

[2019-11-22 00:52] ChengJin01 commented on #5058
@edmathew234,   is there anything you'd like to bring up to us?

[2019-11-22 01:06] keithc-ca commented on #7833
For what it's worth, I compiled jdk11 with gcc 8.3.0 on Linux x86 using configure arguments:
[code]

[code]

[code]

[code]
The configuration option `--disable-warnings-as-errors` is needed to ignore warnings in openjdk code on Ubuntu 18.04, but no warnings occur in OMR nor OpenJ9 code.

[2019-11-22 01:21] edmathew234 commented on #5058
Not really, just confuse about your pages

[2019-11-22 02:46] ChengJin01 commented on #7833
I double-checked the cross-compilation by removing `stringop-truncation` and `stringop-overflow` in the script and ended up with failures as expected:
[code]
[code]
[code]

the following failures came from the build.log:
[code]

[2019-11-22 03:07] ChengJin01 commented on #7833
The consice explanation of -Wstringop-truncation introduced since GCC 8:
https://developers.redhat.com/blog/2018/05/24/detecting-string-truncation-with-gcc-8/
[code]

[2019-11-22 03:24] ymanton commented on #7459
I discussed the potential improvements with @mpirvu and he suggested that the existing hint mechanism can cope with this without any further changes.

The potential improvement here is that in `-Xquickstart` mode we can write failed validation hints with higher SCounts in order to allow for more classes to be loaded and reduce the number of AOT failures. The failed validation hints however are re-

[2019-11-22 11:01] #7749 closed

[2019-11-22 14:04] pshipton commented on #7821
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/358
aix71-p8-9 - disabled.

[2019-11-22 14:07] pshipton opened #7839 "AIX /bin/sh[4]: 4391146 Trace/BPT trap(coredump)"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_OMR/361
JCL_TEST_Java-Security_0
aix71-p8-7 - disabled
Not sure if the failure has anything to do with the test.
[code]

[2019-11-22 14:08] pshipton commented on #7839
@jdekonin

[2019-11-22 14:14] JasonFengJ9 opened #7840 "openjdknext_j9_sanity.functional_ppc64_aix omrport.359 * ** ASSERTION FAILED ** at ../../omr/port/common/omrmemtag.c:145: ((memoryCorruptionDetected))"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_ppc64_aix_OpenJDK/13/consoleFull

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-11-22 14:24] pshipton commented on #7840
Closing as dup of https://github.com/eclipse/openj9/issues/7821

[2019-11-22 14:24] #7840 closed

[2019-11-22 14:33] pshipton commented on #7821
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/359/
aix71-p8-9 - already disabled.

[2019-11-22 14:45] keithc-ca commented on #7833
If I use gcc version 9.2.1, I also see these warnings on xLinux (title updated).

[2019-11-22 15:10] adam-thorpe commented on #7715
This test is still failing after the merge, on the next subtest:
`getNestMembers(singleton);   // Singleton nest`
It would appear that the issue is identical to the one above, so I would assume the problem was only partially fixed. Can we re-open this please

[2019-11-22 15:17] JasonFengJ9 commented on #7715
Looking into it.

[2019-11-22 15:53] M-Davies commented on #7715
@adam-thorpe I don't have the authority to do so apparently. @pshipton could you reopen this please?

[2019-11-22 15:53] mpirvu opened #7841 "JITServer roadmap and status"
Currently, the JITServer code in the master branch is protected by `#ifdef JITSERVER_SUPPORT` and thus it is not present by default in the compiled openj9 package. In order to allow liberty (and others) to easily use JITServer technology we would like to have this code compiled-in and enabled at runtime by a command line option. Ideally, this would happen in time for the 0.18 release.

Status of p

[2019-11-22 15:54] mpirvu commented on #7841
Attn: @DanHeidinga @pshipton @mstoodle

[2019-11-22 16:42] hangshao0 commented on #7827
One thing I notice is that after I download the SDK from:
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_x86-32_windows_OMR/397/OpenJ9-JDK8-x86-32_windows-20191121-165156.tar.gz.

There is no .pdb files in the SDK, so I cannot see the debug symbols from windbg. Is there a reason why we don't inlcude the .pdb files in the SDK ? @pshipton @DanHeidinga

[2019-11-22 18:18] pshipton opened #7844 "aix71-p8-5 offline Disk space is too low. Only 1.002GB left on /home/u0020236"
I noticed that aix71-p8-5 took itself offline.
https://ci.eclipse.org/openj9/computer/aix71-p8-5/
`Disk space is too low. Only 1.002GB left on /home/u0020236`

[2019-11-22 18:19] pshipton commented on #7844
@jdekonin

[2019-11-22 18:20] pshipton commented on #7715
Reopened.

[2019-11-22 18:23] #7715 closed

[2019-11-22 18:24] #7734 closed

[2019-11-22 18:24] #6722 closed

[2019-11-22 18:26] pshipton commented on #7827
I believe this is the default for an OpenJDK build. It would make sense to include debugging info in the builds done at OpenJ9 so we can more easily diagnose problems.

[2019-11-22 18:43] #7818 closed

[2019-11-22 18:44] harryyu1994 commented on #7674
More information on the testcase: added on June 19, which means it's relatively new test and most likely not a regression.
https://github.com/eclipse/openj9/pull/5029
The test was expected to fail without this change, https://github.com/eclipse/openj9/pull/5402
The issue explains the change and the test: https://github.com/eclipse/openj9/pull/5402
There are no JIT related changes in there.

[2019-11-22 19:14] DanHeidinga commented on #7791
@AdamBrousseau That covers zLinux.  Are we able to switch the pLinux machines to cent 7 / rhel 7?

[2019-11-22 19:42] AdamBrousseau commented on #7791
Yes, sorry, I was going to comment but then I thought no news was good news :)

Via OpenStack at OSU we can build Cent 7.3+, Debian 9.3+, Fedora 26+ or Ubuntu 14+. The P at UNB we own so I assume we can put whatever we want there. If we want RHEL instead of Cent we would just need to figure out the licencing.

[2019-11-22 19:45] DanHeidinga commented on #7791
Cent is fine and avoids dealing with the licensing.  Once the builds have all stabilized after the UNB outage, I'd like to start migrating the compile machines to cent 7 / rhel 7

[2019-11-22 20:04] AdamBrousseau commented on #7716
Should this be documented in the OpenJ9 functional test requirements?
cc @smlambert

[2019-11-22 20:24] pshipton commented on #7821
@jdekonin the second failure in https://github.com/eclipse/openj9/issues/7821#issuecomment-557543710 is first a native OOM error. All the other failures are memory allocation failures too. This corresponds to your theory that these machines don't have enough memory, or not enough configured swap space. How does the amount of memory on these new machines (5-10) compare to the memory on the older ma

[2019-11-22 20:33] AdamBrousseau commented on #7782
Few things to confirm.
1. This will be similar to cmake jobs. Ie. separate compile jobs, same test jobs. Since test doesn't have reason to support dup specs, JITServer is passed to test via `TEST_FLAG`. This will mean mixed history on a test job between JITServer tests and regular tests.
1. How does this affect the `TEST_FLAG` `+jitaas`. I'm wondering if I can remove this hackish check and explici

[2019-11-22 20:51] smlambert commented on #7782
Do not believe there is any reason to having separate test job names, because these test jobs would be related to a parent pipelines that is jitserver specific (and so can be found & queried in jenkins & trss from parent jitserver build, fyi @llxia).

If you did want that, do not override JDK_IMPL or any of the core parameters that have a specific meaning and usage in underlying scripts (as it wou

[2019-11-22 21:00] avermeer commented on #7427
Finally, today a new nightly build is available at AdoptOpenJDK with this fix, and indeed:

[code]

and:

[code]

which is definitely much better than the JVMJ9VM013W Initialization error which we got before this fix.

Apache Flink users choosing OpenJ9 will soon have a better experience (once 0.18.0 will be officially released).

I am too lazy to try non-LTS versions such as Java 12 & Java 13...

[2019-11-22 21:58] hangshao0 commented on #7827
The shrtest is started up with a normal cache and read the shared intern table in the normal cache.
Inside AttachedDataTest::openTestCache(),
https://github.com/eclipse/openj9/blob/master/runtime/tests/shared/AttachedDataTest.cpp#L175
it replaced sharedClassConfig->sharedClassCache with a heap allocated test cache. Then it stored java/lang/Object into the test cache. However, the shared string int

[2019-11-22 22:02] hangshao0 commented on #7827
Found the cache header of the normal cache:

j9sharedcacheheader 0x5df00f0
J9SharedCacheHeader at 0x5df00f0 {
  Fields for J9SharedCacheHeader:
        0x0: U32 totalBytes = 0x00FFFF10 (16776976)
        0x4: U32 readWriteBytes = 0x0001BF10 (114448)
        0x8: U32 updateSRP = 0x00645858 (6576216)
        0xc: U32 readWriteSRP = 0x000000D4 (212)
        0x10: U32 segmentSRP = 0x00645458 (6575192)

[2019-11-22 22:59] jdekonin commented on #7821
There all the same for physical memory; 8G

[code]

But 1-4 have more swap configured.
[code]
5-10 have 4096MB configured.

[2019-11-22 23:35] harryyu1994 commented on #7674
The first test "testIndyRedefinition (basic test)" didn't fail. The second test "testIndyRedefinition (basic test, bsm args)" failed. There aren't much difference between the two. Going to try to change their order to see what happens.

[code]

[2019-11-23 02:44] smlambert commented on #7716
Seems like it is something to be captured in ansible playbooks for x32 win machines and if I understand it correctly it would be a problem for any user who calls getTotalSwapSpaceSize() on a x32 windows 2012 machine?

[2019-11-23 03:42] hzongaro commented on #7593
*Latest updates*  I think the problem might be associated with reuse of `TR_CallTarget` instances for multiple calls.  Looking at a log file that is attempting to inline three calls to `DirectHandle.invokeExact_thunkArchetype_L`, each call has the same `TR_CallTarget` instance.  The call target instance has an associated `TR_PrexArgInfo` instance that carries some information that's specific to a

[2019-11-23 14:53] pshipton commented on #7820
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_xl_Nightly/200
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_linux_xl_Nightly/97
ub16x64j97

[2019-11-23 14:55] pshipton commented on #7593
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_mac_Nightly/97
DaaLoadTest_daa3_0

[2019-11-23 14:57] pshipton commented on #7820
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.functional_x86-64_linux_OpenJDK/64
ub16x64j95

[2019-11-23 15:02] pshipton opened #7848 "xlinux test terminated"
This is the nightly build last night. At 9:12am in the morning, it's too early for the test to have timed out. The console shows `Terminated`.

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/199
ub16x64j92
[code]

[2019-11-23 15:02] pshipton commented on #7848
@jdekonin

[2019-11-23 15:04] pshipton commented on #7848
I also note testJCMMXBeanRemote_0 failed with `Unable to connect to Remote Server.`, which is similar to #7820

[2019-11-23 15:08] pshipton opened #7849 "Cannot contact UNB machine, perhaps out of space"
I've seen more than a few of these since the UNB machines came back online, but I should start reporting them.

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/196
osx1014-x86-3

There are test failure messages `Platform error message: No space left on device`, which is probably related.

[2019-11-23 15:08] pshipton commented on #7849
@jdekonin

[2019-11-23 22:26] mpirvu commented on #5645
In theory, tracking persistent memory can be done by enabling this env var: `TR_PrintPersistentMem`
[code]
Then, at shutdown the JVM will print a long table of allocations for each data type that is tracked. The tracking is done in this piece of code:
[code]
This approach has three problems:
1) Only allocations are tracked, deallocations are not. This is not useful if a particular data type is all

[2019-11-24 02:21] mpirvu commented on #5645
Using the technique described above I discovered a few inefficiencies in the code related to for loops of the form:
`for (auto it : collection)`
The iterator over the collection is actually a copy of an element from the collection. If the element is simple (like a pointer) then there is no problem, but if the element is a complex data structure like `ClassInfo` then the constructor of that element

[2019-11-24 02:25] mpirvu commented on #5645
I also observed that some runtime assumptions that are created during compilation are created at the server using persistent memory. We need to collect and pass these runtime assumptions to the client and then deallocate the memory used for them. A few relevant stack traces related to leaked allocations:

We leak something in OMR:compilation constructor: It's the sentinel for the runtimeAsumptions

[2019-11-24 02:26] mpirvu commented on #5645
We also leak memory in whatever the idiom recognition allocates with persistent memory:
[code]
[code]
[code]
TR_MemoryBase::jitPersistentAlloc(unsigned long, TR_MemoryBase::ObjectType)
TR_PCISCNode::addParent(TR_CISCNode*)
createIdiomIOP2VarInLoop(TR_PCISCGraph*, int, int, TR_PCISCNode*, int, TR_PCISCNode*, TR_PCISCNode*, TR_PCISCNode*)
createIdiomDecVarInLoop(TR_PCISCGraph*, int, int, TR_PCISCNod

[2019-11-24 16:23] PascalSchumacher opened #7850 "Add classes loaded for reflection to -verbose:class output?"
I am using:

[code]

I am wondering if `-verbose:class` should report classes loaded for reflection.

When running an application using reflection `jconsole` reports classes loaded for every request processed, but `-verbose:class` does not log these classes.

By comparision `hotspot` JVM (version: `11.0.2`) logs these when `-verbose:class` is used, e.g.:

[code]

What do you think?

Is there anoth

[2019-11-24 21:46] pshipton commented on #7010
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/197
TestAttachErrorHandling_0
[code]

[2019-11-25 02:03] JasonFengJ9 commented on #7010
Will pick up this.

[2019-11-25 11:58] annopnod opened #7853 "Feature:merged openj9 and java fx and other"
Feature:merged openj9 and  java fx and other(JMF,JOGL)
for easy development

[2019-11-25 13:23] pshipton commented on #7820
The UNB plinux machines are online now, and it's happening on these machines as well.
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_ppc64le_linux_Nightly/108
ub16p8j91

[2019-11-25 13:24] DanHeidinga commented on #7853
@annopnod Do you have definitions for the acronyms and links to the projects(?) for JMF & JOGL?

We need more context to be able to evaluation this request

[2019-11-25 13:25] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/198
osx1011-x86-2
[code]

[2019-11-25 13:32] jdekonin commented on #7848
Seems online and working now.

[2019-11-25 13:37] jdekonin commented on #7849
There is currently 78G free.  The machine currently looks okay, but cleanup scripts might have got to it and purged some junk.

[2019-11-25 14:06] DanHeidinga commented on #3837
What is the state of this?

[2019-11-25 14:29] andrewcraik commented on #7593
@hzongaro could you try a build with https://github.com/eclipse/omr/pull/4566 included? One way we know this information leak can happen is through the parm symbols which is something @liqunl has been working to fix.

[2019-11-25 14:40] pshipton commented on #7849
I'll close it until it is seen again.

[2019-11-25 14:40] #7849 closed

[2019-11-25 14:41] pshipton commented on #7848
More unexplained problems. Closing until it's seen again.

[2019-11-25 14:41] #7848 closed

[2019-11-25 14:46] keithc-ca commented on #3837
I'm not aware of any changes that would significantly affect my previous comment. @dnakamura ?

[2019-11-25 14:55] pshipton commented on #7839
Closing until this is seen again.

[2019-11-25 14:57] pshipton commented on #7822
Closing until this is seen again.

[2019-11-25 14:59] pshipton commented on #7820
@jdekonin I've set this high priority as it occurs in every nightly build. I didn't record all the recent xlinux failures that occurred over the weekend, but they occurred on the same machines recorded in previous comments.

[2019-11-25 15:03] pshipton commented on #7827
I notice the following "Failed to remove" messages in some test output, although they didn't cause any test failures.
[code]

[2019-11-25 15:13] pshipton commented on #7844
Joe cleaned up a core file from the /home directory.

[2019-11-25 15:13] #7844 closed

[2019-11-25 15:26] pshipton opened #7854 "Setup automatic trigger for Pipeline-OMR-Acceptance-11"
Due to https://bugs.eclipse.org/bugs/show_bug.cgi?id=553326, I've temporarily split OMR acceptance into 2 jobs, Pipeline-OMR-Acceptance-8 (the original) and Pipeline-OMR-Acceptance-11 (a new job). It seems this reduction in jobs starting at the same time is enough to allow git checkout on master to succeed. It worked well enough to get OMR promoted (manually) over the weekend.

Pipeline-OMR-Accept

[2019-11-25 15:26] pshipton commented on #7854
@jdekonin @AdamBrousseau

[2019-11-25 15:39] AdamBrousseau commented on #7716
Sorry, was getting this crossed with #7717 ignore my [comment](https://github.com/eclipse/openj9/issues/7716#issuecomment-557674910).

[2019-11-25 15:53] AdamBrousseau commented on #7854
It's the [mirror job](https://ci.eclipse.org/openj9/view/Infrastructure/job/Mirror-OMR-to-OpenJ9-OMR/) that fires the ABuild via this [pipeline script](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/jobs/infrastructure/omrMirror.groovy#L63). I would very much prefer not to add a hack on our side as a (temp) workaround. To do it properly you'd need to coordinate them to fire sequent

[2019-11-25 15:59] pshipton commented on #7854
I've put the delay into Pipeline-OMR-Acceptance-11 using the Quiet period. For the promote, I'll just do it manually for now. I'm hoping we can go back to the original OMR-Acceptance build once Eclipse has a chance to look at the problem, meanwhile I don't want all the OMR changes to queue up.

[2019-11-25 16:08] #7854 closed

[2019-11-25 16:12] dnakamura commented on #3837
- I believe we are building `blob_reader`
- I don't believe the differing constants relating to libdwarf are important (they should still exist just under different names under cmake)
- I believe many of the the OMR config flags should be resolved with #7827
- I believe the remaining discrepencies are really issues with differing configuration on the cmake builds and not with cmakes ddr support

[2019-11-25 16:15] DanHeidinga opened #7856 "Add Linux s390 & pLinux large heap builds to the nightly build"
There has been a user request for the Linux s390 large heap build.  We should start building and testing that package here and request Adopt does the same.

Currently, build&test is ~10 hours on Linux s390 including system_special for both 8 & 11.  One option is to drop the system_special for 11 and add in large heap package.

We should add pLinux at the same time so all the major platforms have l

[2019-11-25 16:18] hangshao0 commented on #7827
Yes, the test is doing the memory copy
https://github.com/eclipse/openj9/blob/master/runtime/tests/shared/AttachedDataTest.cpp#L163
	`memcpy(newromclass,romclass,romclassSize);`

This is a test issue.

[2019-11-25 16:19] dnakamura opened #7857 "Misconfigured compiler"
The toolchains we grab from adopt appear to be configured with  `--disable-multiarch`. However the docker images are based on ubuntu which does use the multiarch method for organizing its libraries. (this is why we have to the hack of ` ln -s /usr/lib/x86_64-linux-gnu /usr/lib64` etc). This causes an issue with cmake as it no longer detects the proper folder to find libraries. I've worked around t

[2019-11-25 17:21] keithc-ca commented on #3837
* Yes, `blob_reader` is in a different place.
* I don't see how #7827 relates to OMR configuration flags; did you mean to reference a different issue?
* I don't think we can claim full DDR support with cmake if it yields a blob with inaccurate constants or offsets.

[2019-11-25 17:39] dnakamura commented on #3837
Oops yes I mean #7828

I believe the constants are accurate (as in the reflect the settings that the vm was built with), however we are not configuring the vm the same as the UMA builds. ie it's still an issue, just not technically a DDR issue

[2019-11-25 17:59] keithc-ca commented on #3837
At least one constant is inaccurate:

The build I configured *did* have CUDA support.

[2019-11-25 20:09] hangshao0 commented on #7829
[code]

Looking that the testing code, it expects to see j9shr.150 (Trc_SHR_RMI_storeNew_Event2) before j9bcu.205 for the same class. If not, it fails.

This test is using a shared cache with default name, which is "sharedcc_LOCAL SERVICE".
As I mentioned here: https://github.com/eclipse/openj9/issues/7827#issuecomment-557711083, the cache "sharedcc_LOCAL SERVICE" is left behind by a previous buil

[2019-11-25 20:13] hangshao0 commented on #7829
It is more robust to use `-Xshareclasses:name=<testName>` rather than using the default name to start up this test.

[2019-11-25 20:38] mpirvu commented on #5645
Another memory leak happens due to this code:
[code]
The error is that we allocate an entry with persistent memory but then attach it to the per compilation cache which is not destroyed explicitly.

[2019-11-25 22:10] pshipton commented on #7822
Another one on the same machine.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/364/
aix71-p8-10
[code]

[2019-11-25 22:27] pshipton commented on #7829
I can't tell from your comment if you are fixing it, can you please create a PR to make this change.

[2019-11-25 23:18] ChengJin01 commented on #5058
I will re-compile & run all sanity & extended test suite (without JIT involed) with the latest code changes to see what else left needs to be addressed except the gdb issue (which technically has nothing to do with our changes), which needs a couple of days to finish.  If nothing new was detected, everything here should be ready for review and get merged to the code base after that.

Anything weir

[2019-11-26 01:08] keithc-ca commented on #7833
I have a pair of branches (one each for OMR and OpenJ9) that address the warnings (and the underlying bugs) - I hope to open pull requests tomorrow.

[2019-11-26 01:10] hzongaro commented on #7593
Thanks, Andrew @andrewcraik.  A grinder run of `MathLoadTest_all_0` with the changes for [OMR pull request #4566](https://github.com/eclipse/omr/pull/4566) passed 100/100, so that likely will resolve this problem.  Liqun @liqunl, FYI.

[2019-11-26 02:14] annopnod commented on #7853
JOGL
https://jogamp.org/

JMF not sure oracle  licence. can use java vlc
https://caprica.github.io/vlcj/

[2019-11-26 03:58] DanHeidinga commented on #7853
@annopnod Is there something that doesn't work when running these libraries on OpenJ9?

[2019-11-26 06:11] scikirbypoke commented on #7578
I encountered a same problem in a 1.12.2 Minecraft modpack. To this pack, all openj9 with version further than u212(0.14.2) will cause the game freeze at launch. Since jcmd didn't work, I managed to get a core dump by parameter method:
https://drive.google.com/open?id=1qlqnXXcmpIi1So3bVIsPG0yVqJW572dz

[2019-11-26 12:51] JasonFengJ9 opened #7864 "SE80_GIT cmdLineTester_SCURLHelperTests_80: APITests.NullPointerAndEmptyArrayTest Required condition was not found: [Output match: Entering with url 0000000000000000]"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-11-26 13:19] pshipton commented on #7627
The test was failing in some cases, I've reverted it while we figure it out.
`>> Required condition was not found: [Output match: Entering with url 0000000000000000]`

[2019-11-26 13:20] DanHeidinga commented on #7864
fyi @doomerxe @hangshao0

[2019-11-26 14:45] headius commented on #7699
Is it possible for me to build this "JProfiling" implementation and give it a try?

[2019-11-26 14:46] pshipton commented on #7820
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_ppc64le_linux_Nightly/108/
ub16p8j91

https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.functional_ppc64le_linux_OpenJDK/76/
ub16p8j92

[2019-11-26 14:48] pshipton commented on #2364
Another one
https://ci.eclipse.org/openj9/job/Build_JDKnext_s390x_linux_Nightly/213
[code]

[2019-11-26 14:50] pshipton commented on #7821
This problem still happens regularly. Set high priority.

[2019-11-26 15:15] vij-singh commented on #7459
Agreed... lets close this

[2019-11-26 15:16] pshipton commented on #7820
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_xl_Nightly/99/
ub16x64j97
This one just hung and was killed.
``
03:59:20  [JvmCpuMonitorMXBeanTest] [INFO]  Starting JvmCpuMonitorMXBean API tests....
03:59:20  [JvmCpuMonitorMXBeanTest] [INFO]  ------------------------------------------
03:59:20  [JvmCpuMonitorMXBeanTest] [INFO] Starting Remote Server to Monitor!

[2019-11-26 15:28] hangshao0 commented on #7829
I will fix it

[2019-11-26 15:29] andrewcraik commented on #7539
@planetf1 have you had a chance to see if the newer build containing the change from @liqunl has fixed the problem? It would be nice to close this issue if the problem has indeed been fixed... Thanks again for the report and help with the investigation.

[2019-11-26 15:31] andrewcraik commented on #7694
@cathyzhyi could you take a look at this when you get a moment?

[2019-11-26 15:32] keithc-ca commented on #2364
Maybe updating the boot JDKs to versions that include [1] (or equivalent) will help?

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/232

[2019-11-26 15:33] fjeremic commented on #5315
Reassigning this to @r30shah since he's been spearheading the JProfiling issues lately. I would imagine this issue is now fixed with the latest batch of fixes as we are no longer seeing any JProfiling related issues.

[2019-11-26 15:34] fjeremic commented on #7300
@r30shah I would imagine this one is fixed via the JProfiling fixes right?

[2019-11-26 15:34] andrewcraik commented on #7459
@piyush286 if you agree with the above analysis can you please close the issue? if you have additional concerns please raise them so they can be discussed and a plan for resolution identified?

[2019-11-26 15:35] andrewcraik commented on #7276
@r30shah any updates?

[2019-11-26 15:37] andrewcraik commented on #7178
Additional perf improvement is open as https://github.com/eclipse/openj9/pull/7785

[2019-11-26 15:38] andrewcraik commented on #7156
if there have been no further reproductions and no further progress has been made by @liqunl I think we should either move this out or close it. Any update @liqunl ?

[2019-11-26 15:39] pshipton commented on #2364
Not sure we should update the boot JDK to a nightly build, better to wait until the next release, unless this problem starts to occur often.

[2019-11-26 15:40] andrewcraik commented on #6428
This is going to need more dev work than can be reasonably be contained in the 0.18 timeframe - we need to redo the perf work and implementation of the arraycopy. The env var can help in some cases, but we can't do a simple fix for this - it is a full retuning. I think we need to move this one out again FYI @JamesKingdon @pshipton

[2019-11-26 15:41] andrewcraik commented on #5153
I still have no idea what is going wrong inside `__findenv` as far as I can tell we aren't doing anything bad in our call to it...

[2019-11-26 15:42] andrewcraik commented on #4516
Still not had any time to look at this - I'm moving it forward again since we do need to look at it, but no one has had time to do so...

[2019-11-26 15:44] andrewcraik commented on #7748
@Charlmzz could you verify if this still happens with the latest OpenJ9 and OMR? If so can you please try to find a failing method and opt so we can investigate further?

[2019-11-26 15:44] r30shah commented on #7276
I have been trying to reproduce this on local build farm, but do not have success in reproducing. I have not tried macOS yet, may be fairly reproducible there.

[2019-11-26 15:45] keithc-ca commented on #2364
I wasn't thinking of using nightlies: as you say, unless this occurs frequently, waiting for the next release should be fine. Perhaps we should re-open this as a reminder to update those boot JDKs?

[2019-11-26 15:45] r30shah commented on #7300
Yeah this one should be fixed by https://github.com/eclipse/omr/commit/7eb746e4983a5bc9b6ca54dc1307b036c345910d

[2019-11-26 15:50] DanHeidinga commented on #5153
@andrewcraik I can't see anything wrong in our use of findenv either.  Given it crashes as frequently as it does, would it be possible to change the way the JIT uses envvars?

This would require a larger discussion of course and the idea would be to centralize the envvar calls into one place and then reuse the result, rather then hitting findenv repeatedly.

I assume the JIT doesn't expect the env

[2019-11-26 15:55] piyush286 commented on #7459
No concerns! Since we've recovered the whole regression, I'll close this issue. Thanks!

[2019-11-26 15:55] #7459 closed

[2019-11-26 16:01] andrewcraik commented on #5153
Well the JIT uses env vars as an easy way to add internal debug controls to optimizations that do not warrant full Xjit options since they make no sense to document and probably only mean something if you trying to debug etc. Centralization would make this more complex so we would need to discuss how we might try to manage this. It would also affect OMR so it would actually need to be an OMR level

[2019-11-26 16:04] DanHeidinga commented on #5153
If something else is modifying the env when we're accessing it, I could see that resulting in a crash.  Centralizing it - and checking once - would decrease the chances of concurrent modification

[2019-11-26 16:07] andrewcraik commented on #5153
Ok I see your thought process. The centeralization would have to be lazy to avoid a startup hit so won't be simple. We haven't had any mention of this from users - could it be the test harness? Given we are talking about changing timing it doesn't seem an ideal fix. I do appreciate where you are coming from and am not ruling it out for sure...

[2019-11-26 16:08] 0xdaryl opened #7870 "OpenJ9 JIT should finally concede that the value of NULL == 0"
I discovered that there are still places in the JIT that either assert or check that the value of NULL expected by the JIT is zero.  You can find these by grepping for `NULLVALUE`.

These are remnants of some of the earliest amoeba-like code in Testarossa when, strangely enough, the "NULL" value in J9 at the time wasn't zero.  Given that nearly 20 years has passed when the value was fixed at zero

[2019-11-26 16:10] 0xdaryl commented on #7870
Editor's note: `NULL` in this context is the value of Java's NULL as represented in the JVM, not the C++ `NULL`.

[2019-11-26 16:13] AdamBrousseau commented on #7791
Also note the zlinux are due to be "migrated" (recreated from scratch) by the end of the year. Marist is moving all images to a new z15.

[2019-11-26 16:18] andrewcraik commented on #5153
This is a total mac noob question - is there any tool like strace/dtrace where it might be possible to trace all the calls to setenv in one of these runs so we could at least scrutinize the callers of setenv for possibly creating a data race?

If someone could run a trace like that and point at all the setenv callers on one of these runs I'd be more than happy to go and start checking the code to

[2019-11-26 16:20] andrewcraik commented on #5153
given the BSD origins of OSX Google suggests that dtruss might be the way to go ... https://www.freebsd.org/cgi/man.cgi?query=dtruss&sektion=1&manpath=FreeBSD+8.2-RELEASE.

Anyone have a mac and willing to try and see if we can get a set of traces?

[2019-11-26 16:26] cathyzhyi commented on #7694
Hi @inatatsu, does the crash happens when `another caller method` inline the offending method successfully? If it is such a case, is it possible that you share the tracing log of the caller method by adding -Xjit:{SignatureOfTheCallerMethod}(tracefull,traceinlining,log=log)?

Also, could you post here more frames from output of `!stackslots 0x22fde00`?

[2019-11-26 16:48] AdamBrousseau commented on #7717
I'll copy this entire comment into #7716

Root cause:
Newer version of OpenSSH (7.9->8.0 see changelog [1], Portability section), which is installed during machine & Cygwin setup, has changes to the setup which further restrict the configuration and resulting default permissions. Specifically, the process now runs as `SYSTEM` user instead of an added `cyg_server` user (see now outdated setup instr

[2019-11-26 16:49] AdamBrousseau commented on #7716
Copied from https://github.com/eclipse/openj9/issues/7717#issuecomment-558718727

Root cause:
Newer version of OpenSSH (7.9->8.0 see changelog [1], Portability section), which is installed during machine & Cygwin setup, has changes to the setup which further restrict the configuration and resulting default permissions. Specifically, the process now runs as `SYSTEM` user instead of an added `cyg_se

[2019-11-26 17:11] hangshao0 commented on #7864
@doomerxe is now working on this.

[2019-11-26 17:22] AdamBrousseau commented on #7716
My follow up question, is this something that should be documented at OMR since OMR [testing](https://github.com/eclipse/omr/blob/6eea70732bef0f9816ba902698cdf356b7502f32/fvtest/porttest/si.cpp#L1191) will fail if these settings aren't applied? Also, if a thirdparty app tries to use the omrsysinfo_get_memory_info function on win32 it will fail if they are running via Cygwin-ssh without adding thes

[2019-11-26 17:34] fjeremic commented on #4741
I believe @simonameng is working on this at the moment, but it is a nice to have thing addressed. I don't think this should block the 0.18.0 release.

[2019-11-26 18:29] AdamBrousseau commented on #7717
Since this wmi tool is being used by test we should probably add Doc to the requirements about this use case
cc @smlambert
- https://github.com/AdoptOpenJDK/openjdk-tests/blob/542fc0239323c9ce4667f65ce3d3983ec5f728cb/perf/liberty/scripts/bin/common_utils.sh#L1618
- https://github.com/AdoptOpenJDK/openjdk-tests/blob/ed05747148e27e2f0c7828ef33234ba83fd644a0/openjdk/openjdk.mk#L37
- https://github.co

[2019-11-26 18:32] DanHeidinga opened #7871 "Remove `getVMThreadStatus_DEPRECATED` function"
Remove the `getVMThreadStatus_DEPRECATED()` which is only called as part of the thrstate tests.  The calls are only related to checking the "old answer".

I suspect the check old answer and deprecated call can be deleted.

https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/runtime/tests/thread/thrstate/testsetup.c#L321-L330

[2019-11-26 18:37] ashu-mehra commented on #7800
@DanHeidinga it is not clear what exactly the custom laucher needs to do here. Are you suggesting the custom launcher should not use the option `-XX:StartAsJITServer` when invoking `JNI_CreateJavaVM`. In that case how would the JIT start in `server` mode?

[2019-11-26 18:55] sophia-guo commented on #7521
I believe this is fixed and can be closed?

[2019-11-26 19:03] DanHeidinga commented on #7800
Correct.  The `-XX:StartAsJITServer` option is an attractive nuisance as it will encourage users to add extra options that don't make sense if calling `java` in jit server mode.

By not supporting the option, and only providing an executable, we have a better user story that clearly differentiates the server from the client.

Once `JNI_CreateJavaVM` has been called, the `jitserver` executable can

[2019-11-26 19:40] harryyu1994 commented on #7674
`count=1` fails => means that the first time it was interpreted and the second time it was a remote compile and failed.
`count=0` passes => means that both first and second time were remote compiles and they were fine.

Things are unresolved with count=0 and are resolved with count=1. For example we may not know the address of a class with count=0 because no one has called that class (unresolved).

[2019-11-26 19:55] mpirvu commented on #7800
When we get back from `JNI_CreateJavaVM` has any Java code been executed?
In the current implemention the JITServer is not allowed to run any Java code. Basically the JITServer stops the VM initialization process when jitHookVMInitialized() is called.
We need to know that this is a JITServer instance very early on because we allocate our JITServer data structures differently in onLoadInternal() an

[2019-11-26 20:01] pshipton commented on #7521
Should be.

[2019-11-26 20:01] #7521 closed

[2019-11-26 20:03] dchopra001 opened #7873 "Inline java_lang_String_hashCodeImplDecompressed for relocatable compiles on Power"
As part of https://github.com/eclipse/openj9/pull/7387, we noticed that the Power codegen's behaviour w.r.t inlining `java_lang_String_hashCodeImplDecompressed` differs from the other codegens. The reason for this is explained by @ymanton here: https://github.com/eclipse/openj9/pull/7387#issuecomment-545606441. For convenience, I am pasting his comment here:

[code]

We should remove this limitati

[2019-11-26 20:11] pshipton opened #7874 "Update zlinux boot JDKs"
See https://github.com/eclipse/openj9/issues/2364#issuecomment-558663267 and the following comments.

[2019-11-26 20:12] pshipton commented on #2364
It doesn't seem appropriate to re-open this for updating boot JDKs. I've created https://github.com/eclipse/openj9/issues/7874 and assigned it to the next milestone.

[2019-11-26 20:38] jdekonin commented on #7821
I bumped 5-10 to 8G swap, see if that helps any.

[2019-11-26 20:56] planetf1 commented on #7539
I don't have a new build yet... I had been awaiting the adoptopenjdk update? (11.0.6?). At the time there were no nightly builds available, though I see these have restarted. If 11.0.6 is soon it would be more efficient for me to wait, but if it's going to be > week or two I'll try and find a slot to test with the nightly?

[2019-11-26 21:00] ashu-mehra commented on #7800
@DanHeidinga we do run Java code and methods get compiled during VM initialisation. In that case having a launcher that starts the JITServer after calling `JNI_CreateJavaVM` does not look feasible without passing a flag to indicate JIT not to compile the methods during startup, which is no different than passing `-XX:StartAsJITServer`.

[2019-11-26 22:13] harryyu1994 commented on #7674
There is a high chance it's related to HCR not being handled properly on the JITServer, as the test uses JVMTI agents to redefine Java method implementations.

[2019-11-26 22:29] keithc-ca commented on #7833
See https://github.com/eclipse/omr/pull/4603 and https://github.com/eclipse/openj9/pull/7879.

[2019-11-26 23:48] #7423 closed

[2019-11-27 04:28] pshipton commented on #7539
@planetf1 11.0.6 is not until about Jan 20.

[2019-11-27 04:30] pshipton commented on #7539
We'll also have a milestone build for 11.0.6 around Dec 18, although it won't contain any of the security fixes which will be include in the final build.

[2019-11-27 04:33] pshipton commented on #7300
Closing, we can reopen if it's seen again.

[2019-11-27 04:33] #7300 closed

[2019-11-27 04:56] pshipton commented on #7821
@jdekonin seems it didn't help
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/366
aix71-p8-10

[2019-11-27 05:00] pshipton commented on #7839
[2019-11-27T01:41:59.126Z] ===============================================
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_OMR/368
aix71-p8-6
[code]

[2019-11-27 07:53] planetf1 commented on #7539
Ok - in that case, do the nightlies at https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9 contain the fix?

[2019-11-27 12:57] pshipton commented on #7820
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_ppc64le_linux_Nightly/110/
ub16p8j95
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly/200/
ub16x64j92
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_ppc64le_linux_Nightly/109/
ub16p8j91
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.functional_ppc64le_lin

[2019-11-27 13:05] #7627 closed

[2019-11-27 13:05] #7864 closed

[2019-11-27 13:08] pshipton commented on #7539
They do.

[2019-11-27 15:46] pshipton commented on #7578
[code]

[2019-11-27 16:01] pshipton commented on #7578
@scikirbypoke sorry, could you please get another core with `-Xdump:system:events=user,request=exclusive`. Also, if a `javacore.*` file was produced, could you include that as well.

[2019-11-27 16:20] liqunl commented on #7156
@andrewcraik I haven't been able to reproduce the failure, no progress has been made so far.

[2019-11-27 16:21] pshipton commented on #7578
@scikirbypoke also, for a hang issue, we'd like to see at least 2 core files, taken about 1 minute apart, so we can see if any code is running.

[2019-11-27 16:34] pshipton commented on #7156
Closing until the problem is seen again.

[2019-11-27 16:34] #7156 closed

[2019-11-27 16:51] cathyzhyi commented on #6204
https://github.com/eclipse/omr/pull/4606/ for adding the jit option

[2019-11-27 16:55] vsebe commented on #7050
The mauveLoadTest tests always fail (on internal, external openj9 and adopt machines):
- [Test_openjdk8_j9_special.system_x86-64_mac_Nightly](https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/455/console) (external OpenJ9 machine: [osx1013-x86-3](https://ci.eclipse.org/openj9/computer/osx1013-x86-3/) )
Note: the Build History view is misleading; to identify the m

[2019-11-27 17:14] pshipton commented on #7050
@vsebe note they pass on a single machine, osx1014-x86-3

[2019-11-27 17:29] hangshao0 commented on #7827
Issue opened here https://github.com/ibmruntimes/openj9-openjdk-jdk/issues/155

[2019-11-27 17:33] pshipton commented on #7839
@ashbm5 this is a crash related to libjncrypto.so
Although in theory the tests have finished and passed, there are NativeCrypto threads still active.

I've removed a number of threads from this output, like GC and JIT threads.
[code]

[code]

[2019-11-27 17:57] pshipton commented on #7821
@jdekonin is it possible aix71-p8-10 didn't get updated properly?
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/367
aix71-p8-10

[2019-11-27 19:08] ashbm5 commented on #7839
@samasri please have a look

[2019-11-27 19:27] Charlmzz commented on #7748
@toshiona Could you please clarify what does `set file output` mean here?

Also, by saying `"-Xcheck:jit"`, did you mean the `-Xcheck:jni:nonfatal` option you mentioned below?

[2019-11-27 19:35] AdamBrousseau opened #7890 "JDK8 Win64 java -version crash VMState: 0x000503ff Shared cache offset out of bounds"
Happens only on JDK8 64bit (internal nightly build). Seems to be 100% reproducible. I have a set of diagnostic files saved. Last passed build was Nov 10 58d490796d0276f5c3f3b45a6cf21513ecf7bde1
[code]

[2019-11-27 19:37] AdamBrousseau commented on #7890
cc @vsebe @dsouzai @r30shah

[2019-11-27 19:38] vsebe commented on #7050
Running a [Grinder](https://ci.eclipse.org/openj9/job/Grinder/561/console) on [osx1014-x86-3](https://ci.eclipse.org/openj9/computer/osx1014-x86-3/)
[code]

[2019-11-27 19:52] babsingh commented on #4210
I ran the startup-footprint benchmark on Ubuntu x86 with different **gcc** versions. Here are the results:

With **gcc-4.8.0**,
[code]
With **gcc-7.4.0**,
[code]

With **gcc-7.5.0** (had to be compiled from source code),
[code]

The startup `-Xint` regression reported in this issue is resolved in **gcc-7.5.0**. The fix impacts register allocation in gcc, which functions similarly across the differ

[2019-11-27 21:02] pshipton commented on #7890
@AdamBrousseau pls put the diagnostic files in /team/triage/openj9-7890

[2019-11-27 21:30] #7819 closed

[2019-11-27 22:23] harryyu1994 commented on #7674
Final reduced testcase:
[code]

[code]

[2019-11-27 22:35] dsouzai commented on #7890
This also needs https://github.com/ibmruntimes/openj9-openjdk-jdk/issues/155

[2019-11-27 22:38] dsouzai commented on #7890
This is very likely a similar issue as https://github.com/eclipse/openj9/pull/7379 and https://github.com/eclipse/omr/pull/4418; once a stack trace is available it should be pretty trivial to fix. However, I've had no luck with my attempts to build on windows to try and get the .pdb files.

[2019-11-28 01:21] scikirbypoke commented on #7578
@pshipton request=exclusive option cause java halt at JVMDUMP039I line and seems do nothing. Should I dump without it?

[2019-11-28 04:17] pshipton commented on #7578
@scikirbypoke that is a good hint about what the problem is, telling us something is holding exclusive access so the dump routine can't get it. Perhaps we can do more with the core file we already have. Please run the `jre/bin/jextract <core>` utility (part of the OpenJ9 JDK) on the core file you already collected, https://www.eclipse.org/openj9/docs/tool_jextract/. After it zips up all the system

[2019-11-28 05:14] scikirbypoke commented on #7578
System libraries:
https://drive.google.com/file/d/1j_iKUWGUt9woZ2LJcgsdP8qkiFg0A1bJ/view?usp=sharing

[2019-11-28 09:16] planetf1 commented on #7539
Thanks. I've gone with 27 Nov (macOS) and 26 Nov (linux x64) . An initial build was successful. I'll run with this through today.

[2019-11-28 10:00] M-Davies opened #7897 "JTReg Test Failure: java/lang/reflect/PublicMethods/PublicMethodsTest.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/e34da885d49e5ac71b82d013e1335b260431fad6/test/jdk/java/lang/reflect/PublicMethods/PublicMethodsTest.java#L1 and https://github.com/ibmruntimes/openj9-openjdk-jdk13/blob/90dbac740d239d3d47ed2277fcd8418ae024b1dd/test/jdk/java/lang/reflect/PublicMethods/PublicMethodsTest.java#L1 consistantly fail for JDK11/13-openj9 (h

[2019-11-28 12:54] toshiona commented on #7748
@Charlmzz Sorry for unclear descriptions.
This problem could be recreated by creating a file, like "C:\temp\a.xps", instead of real printing papers.
Yes. "-Xcheck:jni:nofatal" is better I think.

[2019-11-28 13:08] JasonFengJ9 commented on #5450
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/203/tapResults/

[2019-11-28 13:12] pshipton opened #7899 "No space left on device osx1014-x86-3"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/203
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly/200
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_mac_Nightly/198/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_mac_Nightly/198/
https://ci.eclipse.org/openj9/j

[2019-11-28 13:14] pshipton commented on #7899
@jdekonin

[2019-11-28 13:17] pshipton opened #7900 "xlinux network errors downloading JDK"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_xl_Nightly/202/
cent6-x64-4
[code]
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly/200/
ub16x64j910
[code]

[2019-11-28 13:18] pshipton commented on #7900
@jdekonin fyi

[2019-11-28 13:20] pshipton commented on #7821
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_Nightly/208/
aix71-p8-7

[2019-11-28 13:22] pshipton commented on #5450
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/203
ub16x64j91

[2019-11-28 13:29] pshipton commented on #7820
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_Nightly/213/
ub16p8j91
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly/201/
ub16x64j95
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_Nightly/214/
ub16p8j95
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_

[2019-11-28 15:03] M-Davies commented on #7503
@pshipton Looking into rt-patch for `setrlimit()` and why/where it was implemented in IBM Java

[2019-11-28 15:17] pshipton opened #7902 "Turn off OMR promote_merge tags"
We should turn off the promote_merge tagging for OMR promotion. They just create a lot of noise, I don't believe we've ever needed to use these tags. Some promotes I do manually, all of them lately, and these don't get any tags.

[2019-11-28 15:17] pshipton commented on #7902
@AdamBrousseau @jdekonin

[2019-11-28 15:17] DanHeidinga commented on #7902
Agreed.  They aren't used and generate a lot of noise in the tags of the repo.

[2019-11-28 15:33] M-Davies commented on #7503
`setrlimit()` was implemented in IBM Java as a merge from Oracle. Still looking through jazz to see if there is a reason on why this was ported over.
[code]

[2019-11-28 15:33] fjeremic opened #7903 "hudson.remoting.ChannelClosedException: Channel "unknown": Remote call on ub16x64j91 failed"
The following infrastructure failure is seen when consecutively running builds in #7810:

[code]

Seems like a connection issue to ub16x64j91.

[2019-11-28 15:52] manqingl commented on #6888
Very often in debugging, we have to patch some memory in the heap so that the gccheck utility can pass a corrupted object and continue to check the remaining of the heap.  The mechanism to patch some memory can be used here.

[2019-11-28 16:06] AdamBrousseau commented on #7890
Done

[2019-11-28 16:10] ashu-mehra commented on #7800
@DanHeidinga @mpirvu any comments/suggestions on how to take it further?

[2019-11-28 16:34] mpirvu commented on #7800
Personally I don't view the existence of -XX:StartAsJITServer as a nuisance. Users don't have to know about it because it will be used under the covers by the launcher (which is a binary) and we don't have to document it.

[2019-11-28 16:37] mpirvu commented on #7800
One more thing: the launcher needs to accept options to be able to specify the JITServer port, timeout and ssl. We could filter out and reject any other options, though problem determination will be hindered.

[2019-11-28 17:33] mpirvu commented on #5645
By instrumenting the code I found another memory leak, this time when using system heap memory not persistent memory. The stack trace associated with it is something like this:
[code]
I have many examples, but they all have `TR::CompilationInfoPerThreadRemote::cacheResolvedMethod` in common.
I looked at the implementation and it looks fine. I think that the problem is related to how memory is allo

[2019-11-28 17:51] andrewcraik commented on #7699
JProfiling is already in the builds. Adding -Xjit:enableJProfilingInProfilingCompilations will cause the JProfiler to be used for profiling compilations rather than the current default JITProfiler.

[2019-11-28 18:28] ashbm5 opened #7908 "Add MALLOCOPTIONS=multiheap,buckets to AIX Java Launcher"
Investigations into performance problems in cryptographic operations that use OpenSSL indicate that AIX performs poorly for multi-threaded crypto operations due to malloc behavior. This issue can be mitigated by setting `export MALLOCOPTIONS=multiheap,buckets` in the command line.

Would like to have that option set by the Java Launcher at start up so that the customer doesn't have to set it manua

[2019-11-28 18:40] imrahul361 commented on #382
can i work on it?

[2019-11-28 18:59] DanHeidinga commented on #382
Sure! @imrahul361 we'd be glad to have the help here.

fyi @dnakamura in case this affects the cmake migration

[2019-11-28 18:59] keithc-ca commented on #382
Yes, of course! You will need to familiarize yourself with [1], in particular the agreements you'll be asked to sign.

[1] https://github.com/eclipse/openj9/blob/master/CONTRIBUTING.md

[2019-11-28 19:39] jdekonin commented on #7899
Combination of 2 things, TimeMachine backups were consuming ~350G and /cores ~100G.

I disabled TImeMachine as in the time we've used these we have never used this as a backup restore.  For `/cores`, it looks like build and test pipelines need to be modified to clean up after themselves correctly.

fyi @AdamBrousseau @llxia

[2019-11-28 20:45] harryyu1994 commented on #7674
RuntimeAssumptions + Hooks trace
1. nonJITServer
[code]

[2019-11-28 20:48] harryyu1994 commented on #7674
By comparing the two verbose logs, I noticed that JITServer is missing a
[code]

[2019-11-28 21:01] ChengJin01 commented on #5058
Still on compiling the whole test suite (got messed up previously due to incorrect modification in one of test scripts) and will see how it goes after that.

[2019-11-28 21:03] mpirvu commented on #7674
Could you apply my proposed fix to runtime assumptions in #7907 ?
This will be a good to test to verify that I didn't do any mistakes in that PR.

[2019-11-28 21:16] pshipton commented on #7822
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/368
aix71-p8-10

[2019-11-28 21:24] mpirvu commented on #7782
I don't have a preference for the options above.
`Jenkins test sanity.functional xlinuxjit jdk8,11` is more compact while
`Jenkins test sanity.functional+jitaas xlinuxjit jdk8,11` looks more like the AOT case.
Testing the xlinuxjit build in non-jitserver mode has little value now and in the future when jitserver code will be compiled-in by default will have no value.

[2019-11-28 21:39] pshipton commented on #7908
This seems the appropriate place.
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/680fa0e62db685d579f625bc2369be784983922e/jdk/src/solaris/bin/java_md_solinux.c#L353

We will of course have to create JVMs with and without the environment variable set and do a performance comparison to see what else is affected.

[2019-11-28 21:44] pshipton commented on #7908
Actually, this seems a better place
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/680fa0e62db685d579f625bc2369be784983922e/jdk/src/share/bin/java.c#L650

[2019-11-28 22:03] keithc-ca commented on #6888
In discussion with @manqingl, I suggested that patching would modify the list of `IMemorySource` objects in the `MemorySourceTable`. A specific memory source can be removed and replaced with a set of alternate sources that can redirect a range to an alternate address range or to some other source (like the recently added `BufferedMemorySource` which can be backed by a file or computed by any other

[2019-11-28 22:17] #7902 closed

[2019-11-28 22:17] manqingl commented on #6888
@keithc-ca Thanks Keith.  I will load the recent codes to my DDR workspace tomorrow and do more investigation.  Unfortunately my service work takes priority and I have no idea when I will be able to do the new way.

[2019-11-28 23:02] harryyu1994 commented on #7674
Reduced testcase available here: https://github.com/harryyu1994/openj9/commit/01ef0f74ead1be9e1ea3065792c563c290b33cf5

[code]

[2019-11-28 23:20] AdamBrousseau commented on #7822
Seeing this on internal nightly as well (aix72p7rt1)
jdk8_j9_sanity.functional_ppc64_aix
[code]

[2019-11-28 23:29] AdamBrousseau commented on #7821
Observed on internal nightly as well
jdk8_j9_sanity.functional_ppc64_aix
aix72p7rt1

[2019-11-28 23:32] AdamBrousseau opened #7912 "jdk8_j9_sanity.functional_ppc64_aix J9vmTest_2 failed Unable to initialize alarm thread for time-based GC scheduling"
Internal Nightly JDK8 Sanity.Functional AIX
Machine: aix72p7rt1
[code]
[code]

[2019-11-28 23:37] AdamBrousseau opened #7913 "jdk8_j9_sanity.functional_ppc64_aix cmdLineTester_callsitedbgddrext_openj9_0 failed Unrecognised command: !printallcallsites !findallcallsites"
Internal nightly JDK8 AIX Sanity.Functional
Machine: aix72p7rt1
[code]
[code]

[2019-11-28 23:39] AdamBrousseau commented on #7912
Also failed for same reason
cmdLineTester_jvmtitests_5
cmdLineTester_jvmtitests_hcr_SE80_7
cmdLineTester_jvmtitests_debug_5

[2019-11-28 23:41] AdamBrousseau opened #7914 "jdk8_j9_sanity.functional_ppc64_aix cmdLineTester_pltest_numcpus_bound_aix_0 failed [ERR] 1480-318 The requested operation is not permitted"
Internal Nightly JDK8 Sanity.Functional AIX
Machine: aix72p7rt1
[code]
[code]

[2019-11-29 00:00] AdamBrousseau opened #7915 "jdk11_j9_extended.functional_ppc64_aix TestAttachErrorHandling_0 failed java.lang.AssertionError: target 8257778: wait loop not terminated"
Internal nightly AIX JDK11
Machine: aix71p7rt5
[code]
[code]

[2019-11-29 00:04] AdamBrousseau commented on #7890
Got the same crash trying to do a compile on win64 jdk8
[code]

[2019-11-29 01:40] JasonFengJ9 commented on #7915
This is dup of #7010

[2019-11-29 03:30] #7856 closed

[2019-11-29 05:07] mpirvu commented on #7674
After correcting a bug in my Runtime Assumption leak PR the test passes. I am running locally the extended suite to see if the other tests pass as well.

[2019-11-29 05:31] pshipton commented on #7913
@AdamBrousseau this means there is something wrong with the core file.

[2019-11-29 05:32] pshipton commented on #7912
I note the message `Most likely cause is non-supported version of OS` in the output.

[2019-11-29 05:34] pshipton commented on #7914
This isn't an OpenJ9 problem. The test is trying to run `execrset`, and this is causing `[ERR] 1480-318 The requested operation is not permitted`

[2019-11-29 05:34] #7914 closed

[2019-11-29 05:35] #7915 closed

[2019-11-29 05:44] pshipton commented on #7912
@dmitripivkine any hints on how to figure out what is wrong?

[2019-11-29 06:03] AdamBrousseau commented on #7914
Machine config or test issue?

[2019-11-29 12:09] dmitripivkine commented on #7912
I believe the High Resolution Clock support is missed in OS and must to be configured. In the past we had manual how to do it for AIX

[2019-11-29 12:11] AdamBrousseau commented on #7912
This is on the new 7.2 machine
Cc @jdekonin

[2019-11-29 12:14] dmitripivkine commented on #7912
https://w3-connections.ibm.com/wikis/home?lang=en-us#!/wiki/j9/page/Real%20Time%20Configuration%20for%20AIX

[2019-11-29 12:39] JasonFengJ9 opened #7917 "J9 Java [Linux ARM] 80 Compile error: cannot declare member function 'static TR::Register* J9::ARM::TreeEvaluator::evaluateNULLCHKWithPossibleResolve(TR::Node*, bool, TR::CodeGenerator*)' to have static linkage [-fpermissive]"
Failure link
------------

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-11-29 13:34] jdekonin commented on #7822
It seems the latest updates to the machines add to the LIBPATH where LIBPATH use to be blank.

LIBPATH = /opt/java8_64/jre/lib/ppc64/j9vm:/opt/java8_64/jre/lib/ppc64:/opt/java8_64/jre/lib/ppc64/jli:/opt/java8_64/jre/../lib/ppc64:/usr/lib

I can (re)set LIBPATH to just `/usr/lib` within the jenkins node configuration if that is believed to be the correct action.

[2019-11-29 13:46] pshipton commented on #7822
@jdekonin There might be a problem with the test, but we don't want these JVM internal directories on the LIBPATH so I vote to remove them.

[2019-11-29 13:49] pshipton commented on #7914
@AdamBrousseau machine config. Obviously the test is passing on other machines where `execrset` can run.

[2019-11-29 14:09] #7917 closed

[2019-11-29 14:36] AdamBrousseau commented on #7912
Closing this as it's an internal machine config issue.

[2019-11-29 14:36] #7912 closed

[2019-11-29 15:11] jdekonin commented on #7912
`chuser capabilities=CAP_NUMA_ATTACH,CAP_BYPASS_RAC_VMM,CAP_PROPAGATE`, `chgroup adms=root staff` and `export AIXTHREAD_HRT=true` settings are in the playbook but I noticed that these are setup for different userids on the various external and internal machines.

I think I have them all updated correctly.

[2019-11-29 15:46] pshipton commented on #7820
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_ppc64le_linux_Nightly/110
ub16p8j91
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_xl_Nightly/205
ub16x64j97
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_Nightly/215/
ub16p8j94
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le

[2019-11-29 15:49] pshipton commented on #7820
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.functional_x86-64_linux_xl_OpenJDK/68
ub16x64j95
[code]

[2019-11-29 15:53] pshipton commented on #7821
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_Nightly/209
aix71-p8-6
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.functional_ppc64_aix_Nightly/31/
aix71-p8-8

[2019-11-29 15:54] pshipton commented on #7822
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/370
aix71-p8-9

[2019-11-29 16:10] pshipton commented on #7822
@llxia @smlambert Joe mentioned to me that the existing LIBPATH seems to be a side affect of Jenkins, since the tests are running inside an environment created by Java. Something that the (OpenJDK) java launch is going in the latest OpenJ9 build that didn't occur in an older build.
I see the test is doing
`		<command>$(ADD_JVM_LIB_DIR_TO_LIBPATH) \`
but it would probably work better if we prepende

[2019-11-29 16:38] pshipton commented on #7578
With those libraries, I got the following stack from the core, which isn't particularly helpful.
[code]

[2019-11-29 16:53] pshipton commented on #7578
@gacholio will take a look at the core.

[2019-11-29 16:54] dsouzai commented on #7890
Thanks @AdamBrousseau, that helps a lot.

So, this is easy enough to fix (just check whether the pointer is in the SCC before trying to load from it), but I don't understand why the problem is happening in the first place.

The assert fires because in
https://github.com/eclipse/openj9/blob/7f2b25241458f5beeae53881201ed0b4342b60a7/runtime/compiler/runtime/IProfiler.cpp#L3140-L3148
`store->_csInfo.g

[2019-11-29 16:57] jdekonin commented on #7820
None of the machine in the last 2 comments have changed ip addresses and they all have `uptime`s of greater than 1 day.  I can try convert a number of the machines to ip based connections to bypass any dns resolution.

[2019-11-29 18:26] AdamBrousseau commented on #3081
Saw this internally on a nightly
jdk11_j9_extended.functional_ppc64_aix
machine: aix71p7rt12
Passed in grinder on same & another machine
[code]

[2019-11-29 18:56] JasonFengJ9 commented on #3081
It appears caused by shaking network connection.

[2019-11-29 19:25] #7829 closed

[2019-11-29 19:26] pshipton commented on #7827
@hangshao0 I think we can close this as it's resolved by #7904, do you agree?

[2019-11-29 19:28] ymanton commented on #7890
Yes, I actually added those asserts when I made the multi-layer changes.

Rather than increase the offset size in the `TR_IPBCData...` family of classes from 4 to 8 bytes I left them as-is since it is extremely unlikely that we will have SCCs bigger than 4GiB. These asserts will catch those cases if we ever do hit them.

[2019-11-29 19:39] hangshao0 commented on #7827
#7904 does not fix this issue. I think we need to skip the UTF8 SRP checks for AttachedDataTest.

[2019-11-30 05:14] harryyu1994 commented on #7674
Looking into `cmdLineTester_jvmtitests_debug_3`, as this is a jvmtitests redefine class related tests as well, there's a chance that it will be fixed by #7907 as well.

Some notes:
- nonJITServer mode passed the test
- JITServer mode (without #7907) failed, the failure rate is about 1/20
- JITServer mode (with #7907) passed, don't see the failure(I did 80 runs)
Looks like #7907 has fixed it.

[2019-12-01 23:30] planetf1 commented on #7539
I have not seen this error now on either macOS, WIndows or Linux - using the 11.0.6 nightlies. But I am also not seeing on 11.0.5 now. I think all we can do at this point is close.

[2019-12-01 23:32] planetf1 commented on #7684
Note - I was able to use nightly builds from 28 Nov onwards on windows, mac, linux & no longer see this issue. I had been disabling this plugin (-Drat.skip=true) but am now back at default configuration. I intent to continue using the nightly some of the time now, and suggest closing, and I'll reopen if it resurfaces.

[2019-12-02 01:26] #7539 closed

[2019-12-02 07:25] anuraagkb opened #7929 "Heap space issue when running any job in Jenkins server on OpenJ9 VM"
Running any job on Jenkins server using OpenJ9 VM throws the "java.lang.OutOfMemoryError: Java heap space" error once the job execution is completed. Below is the version of the openJDK and steps to replicate the issue.

OpenJDK version:
openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-b10)
Eclipse OpenJ9 VM (build openj9-0.15.1, JRE 1.8.0 Windows 10 amd64-64-Bit Compressed

[2019-12-02 14:06] pshipton commented on #7929
Likely a larger max object heap size needs to be specified. OpenJ9 Java 8 has a max heap size of 512MB by default. This is different from Hotspot, which uses 25% of the available memory up to some limit.

Try using `-XX:MaxRAMPercentage=25` https://www.eclipse.org/openj9/docs/xxinitialrampercentage/ or specify a `-XX:MaxHeapSize<size>` https://www.eclipse.org/openj9/docs/xxinitialheapsize/

[2019-12-02 14:57] gacholio commented on #7578
This does not appear to be an issue with exclusive:

[code]

[2019-12-02 15:13] gacholio commented on #7578
Only the "client thread" seems active:

[code]

[2019-12-02 15:16] gacholio commented on #7578
The test for instance field resolvedness is `flags > valueOffset` so that entry appears resolved.

[2019-12-02 15:18] gacholio commented on #7578
To make any progress, I'll need to see the native stack of the client thread.

If the issue can be reproduced, please produce a core using `gcore <pid>` rather than the `kill` command.

[2019-12-02 15:36] M-Davies commented on #7503
My suspicion is that the full details on why this was included in OpenJDK in the first place are behind Oracle's closed doors. There is no record of this being implemented in jazz and I could not see any definitive reference to this being fixed in jdk8u20-b08.

@pshipton Other than jazz and the reviews at http://cr.openjdk.java.net/~amurillo/8u20/hs25.20-b08-jdk8u20-b08.webrev/ are there any other

[2019-12-02 15:42] dnakamura opened #7932 "Path length issue on windows when using CMake"
For source files which are not under the source directory of the current project (ie referencing openj9 source files from omr, or vice versa).  CMake encodes the full path in the object name. This is an issue on windows as we currently use the openjdk `fixpath`  program to launch the compiler. Fixpath indiscriminately replaces `/cygdrive/X/` with `X:/`, even if it appears in the middle of a string

[2019-12-02 15:47] dnakamura opened #7933 "CMake does not properly find NASM on osx"
For whatever reason, when searching for the NASM executable, CMake ignores `PATH` and only searches a fixed set of directories. This means that if you have an alternate version of NASM on the path, it will be ignored, and the system NASM will be used.  To make matters worse, the system nasm appears to be incompatible with cmake, as it does not recognize  'macho64` as a valid output format (it only

[2019-12-02 15:52] gacholio commented on #7578
From the JIT code, the thing being called is:
[code]

[2019-12-02 15:57] gacholio commented on #7578
I think the bytecode index is incorrect for the JITted method - it's clearly performing the write, which is at 50:
[code]

[2019-12-02 15:58] gacholio commented on #7578
@andrewcraik - see previous comment.

[2019-12-02 15:59] jdekonin opened #7934 "Test_openjdk13_j9_special.system_ppc64_aix_Nightly false passes"
Attempting to get a clean run on special.system tests before turning on at OpenJ9 nightly builds I came across this failure.

Testing completes but there is a hang in collecting failures data due to lack of hd space to create a tar.gz containing diagnostic files.  The part that I find interesting here is it isn't the failed tests diagnostic files that are filling the system.  Its some of the passe

[2019-12-02 16:06] andrewcraik commented on #7578
I believe this is already fixed in https://github.com/eclipse/openj9/pull/7606. Can work around with -Xjit:disableStaticFinalFieldFolding until you pick up a build with support

[2019-12-02 16:07] gacholio commented on #7578
The accessor is for the field `field_190931_a` in class `net/minecraft/init/Items`. The class has been marked as having illegal final field modifications:
[code]

[2019-12-02 16:07] AlenBadel commented on #4930
I've went ahead and added more tests to our xlp codecache test cases. These tests target the behaviour of what large page file size is selected under multiple different combinations of xlp user augments. The same tests already exist for the objectheap.

See:
https://github.com/AlenBadel/openj9/commit/0f0e5658358fce0c7b347ba65f3d1994614d0705

It's yet to be tested but requires https://github.com/ec

[2019-12-02 16:09] gacholio commented on #7578
#7606 would totally explain what we're seeing here.

[2019-12-02 16:51] cathyzhyi opened #7936 "Decouple debugging TR_PrexArgInfo from TR_InlinerTracer"
Currently,  `TR_PrexArgInfo`'s tracing message is tightly coupled with `TR_InlinerTracer` for at least 2 purposes I noticed
1. to call `dumpPrexArgInfo` which is defined in TR_InlinerTracer https://github.com/eclipse/openj9/blob/010379777a34ec6a49260689b76a063e268d5cf0/runtime/compiler/optimizer/InlinerTempForJ9.cpp#L5357 This debug method should be defined on TR_PrexArgInfo itself
2. to get `comp

[2019-12-02 16:56] cathyzhyi commented on #7936
@andrewcraik could you help to label this item as `beginner`? thanks!

[2019-12-02 17:18] harryyu1994 commented on #6714
May be fixed by https://github.com/eclipse/openj9/pull/7907

[2019-12-02 17:31] ChengJin01 commented on #5058
@janvrany already helped to confirm that backtrace works fine on Debian_riscv with all our RISC-V specific changes, which means there is nothing we can do from OpenJ9 perspective to deal with the gdb issue on Fedora_riscv.
[code]
So, we might need to contact Fedora_riscv guys (from Redhat) to see whether there is easier way to work around this in the near future.

[2019-12-02 17:33] ChengJin01 commented on #5058
Already finished running the functional test suites (sanity & extended) with the cross-builds as follows:
[TestTargetResult_functional_12_02_2019_cross_build.tap.txt](https://github.com/eclipse/openj9/files/3912380/TestTargetResult_functional_12_02_2019_cross_build.tap.txt)
[code]
As mentioned at https://github.com/eclipse/openj9/issues/5058#issuecomment-546555872, `TestManagementAgent_0` should b

[2019-12-02 17:44] #7827 closed

[2019-12-02 17:47] pshipton commented on #7578
@scikirbypoke can you please try a recent nightly build from AdoptOpenJDK.net and see if the problem is resolved. Any recent build contains the fix for #7606.

[2019-12-02 18:44] keithc-ca commented on #7242
With #7429, #7430 and #7595, I believe this is complete.

[2019-12-02 18:44] #7242 closed

[2019-12-02 18:56] ChengJin01 commented on #7897
I'll look at the issue to see what happened to OpenJ9.

[2019-12-02 19:07] mpirvu commented on #7674
Currently, there are no more sanity or extended failures with JITServer code. This issue can be closed.

[2019-12-02 19:07] #7674 closed

[2019-12-02 19:17] mpirvu commented on #5644
@harryyu1994 Could you please look again at this one?
From time to time I am seeing compilations failing at the server with scratchMemoryLimit failures. I was proposing to double the limit when in client mode. This increased limit will be passed to the server which may have a better chance of succeeding.

[2019-12-02 20:43] JamesKingdon commented on #6940
Hi, I see this is tagged as arch:x86, but the changes in https://github.com/eclipse/openj9/pull/6993 look platform agnostic. Is this problem specific to x86?

[2019-12-02 20:48] liqunl commented on #6940
No, it is a common issue. I guess that tag was added when the cause of the issue was not known.

[2019-12-02 21:23] harryyu1994 commented on #5644
Correct me if I'm wrong, I think "static size_t _scratchSpaceLimit;" is static and static options aren't passed from client to the server. So i think we just need to handle the limit change on the server side. Is there a need to have it passed from client to server?

[2019-12-02 21:27] harryyu1994 commented on #5644
I think the limit that each compilation used is a non-static variable stored in the TR::Compilation object and that one is set depending on 1. the static _scratchSpaceLimit 2. current available memory and other factors like whether it's a JSR292 method. I think we just need to "2x" it if it's a JITServer compilation there.

[2019-12-02 21:29] mpirvu commented on #5644
`Is there a need to have it passed from client to server?`
Not necessarily. I thought that this option is passed like any other option.

[2019-12-02 22:02] mpirvu commented on #5645
Fix for this latest problem will be provided in #7937

[2019-12-02 22:07] mpirvu commented on #5645
After all the fixes, I repeated the experiment from https://github.com/eclipse/openj9/issues/5645#issuecomment-557164118
After 3 Liberty start-ups the memory stats were:
RSS=78,356 KB  VSZ=1,313,804 KB
After another 100 Liberty start-ups the memory stats were:
RSS=82,164 KB  VSZ=1,316,888 KB.
The extra memory is due to 3 persistent memory segments which could very well be due to fragmentation (the

[2019-12-02 23:03] ChengJin01 commented on #7897
I created a simple test based on the failing test output as follows:
[getMethodTest.java.txt](https://github.com/eclipse/openj9/files/3913670/getMethodTest.java.txt)
[code]
And reproduced the issue with the latest build from AdoptOpenJDK:
[code]
Given that `Class.java` is implemented independently on OpenJ9, need to check whether there is something incorrect in `Class.getMethod()` against the Spec

[2019-12-03 00:34] scikirbypoke commented on #7578
Pretty sure it was resolved. With the latest u242 build from adoptopenjdk, two minecraft modpacks I created to reproduce this problem now can be launched multiple times without halting.

[2019-12-03 03:15] #7578 closed

[2019-12-03 03:31] pshipton commented on #7934
@Mesbah-Alam can you pls take a look.

[2019-12-03 04:04] pshipton commented on #7932
@keithc-ca

[2019-12-03 04:05] pshipton commented on #7933
@keithc-ca

[2019-12-03 05:15] Mesbah-Alam commented on #7934
@jdekonin Could you please share the zip file ? And could you please share the link to the job so I could see the output? Likely the tests are creating dumps as part of their run? I am not sure.

[2019-12-03 10:41] M-Davies commented on #7897
@ChengJin01 I couldn't see any difference between the Hotspot and OpenJ9 implementations for `Class.getMethod()` and `Class.getMethodHelper()`. It's possible they still differ from each other underneath the hood however as they call a lot of smaller functions.

[2019-12-03 12:13] theresa-m opened #7945 "JEP 359: Records preview"
This JEP includes OpenJ9 support for the `record` class attribute and JCL methods that will access this information. See links for more information:
https://openjdk.java.net/jeps/359
http://cr.openjdk.java.net/~gbierman/jep359/jep359-20191125/specs/records-jvms.html
http://cr.openjdk.java.net/~iris/se/14/build/latest/api/java.base/java/lang/Class.html#getRecordComponents()

---

**Related pull req

[2019-12-03 13:24] #5645 closed

[2019-12-03 13:47] M-Davies commented on #7897
I did find some small difference in the child functions but am doubtful that these would make any difference to the test.

- `Class.getMethod() -> getMethodHelper() -> getDeclaredMethodImpl() -> filterMethods()`in the test checks if the current method name == classname (if it is, it removes it from the returned array). `filterMethods()` does not appear to exist in OpenJ9

- `Class.getMethod() -> g

[2019-12-03 13:51] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_mac_Nightly/207
DaaLoadTest_daa3_0
[code]

[2019-12-03 13:55] pshipton commented on #7822
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_Nightly/211

[2019-12-03 14:05] pshipton commented on #7820
Friday night
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_Nightly/215
ub16p8j95
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/200
ub16x64j95
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_linux_Nightly/103
ub16x64j92
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.functional_p

[2019-12-03 14:13] pshipton commented on #7593
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_x86-64_windows_Nightly/114
MathLoadTest_all_0
[code]

[2019-12-03 14:18] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/482
DaaLoadTest_all_special_17
01:30:48  variation: Mode556
01:30:48  JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:balanced -Xquickstart -Xjit
[code]

[2019-12-03 14:25] pshipton opened #7947 "OpenJDK next build failing to compile java code on one platform"
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_linux_xl_OpenJDK/111
[code]

[2019-12-03 14:29] AdamBrousseau commented on #7890
FWIW, This isn't happening in the XL or 32bit build. It is specific to win64 compressed jdk8.

[2019-12-03 15:04] dmitripivkine commented on #6228
Hello @avermeer,

I believe this problem is fixed. Would you please try again in your convenience? You can get JMV to test latest from https://adoptopenjdk.net/nightly.html?variant=openjdk8-openj9

Thank you.

[2019-12-03 15:06] dmitripivkine commented on #6844
Hello @toshiona,

I believe this problem is fixed. Would you please try again in your convenience? You can get JMV to test latest from https://adoptopenjdk.net/nightly.html?variant=openjdk8-openj9

Thank you.

[2019-12-03 15:29] jdekonin commented on #7934
Because of the short history duration kept on the pipeline and the fact that the subtests use the same pipeline job history from yesterdays jobs are already gone.  This is a pointer to my internal build ( https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk13_j9_special.system_ppc64_aix_Nightly/93/console) for last nights build.  It hasn't gotten far yet, but I expect the same result as ab

[2019-12-03 15:57] mpirvu commented on #7890
I don't have an idea on how the assert could trigger; the safeguards are in place.
I could try harder to see whether there is a very narrow synchronization issue, but given that the problem is 100% reproducible I doubt it's a race condition.

[2019-12-03 17:40] dmitripivkine commented on #7091
If I am reading code correctly it assumes that any instance in the heap of class contain "finalize()" method is treated as alive root. Obviously main concern of developer was "do not miss any potential candidate". So there is no differentiation between "alive" and "dead" objects - no surprise.

[2019-12-03 17:41] cathyzhyi opened #7950 "Allocate CalllSites on stack memory to save foot print"
Callsites in ECS are allocated on heap memory which is not ideal as they only exist in inliner. For exmaple:
https://github.com/eclipse/openj9/blob/b6ef15011c739cb15e48fa435780ddaeebf7222e/runtime/compiler/optimizer/J9EstimateCodeSize.cpp#L1396

Should be changed to be allocated on stack region for inliner.

[2019-12-03 17:50] dmitripivkine commented on #7091
I am not sure how to make correct decision JVM-agnostic. In theory each finalized object has a state:
[code]

[2019-12-03 17:54] kgibm commented on #7091
@dmitripivkine An alternative to changing the result of `getHeapRoots` would be to add another flag to [JavaReference](https://www.ibm.com/support/knowledgecenter/SSYKE2_8.0.0/com.ibm.java.api.80.doc/com.ibm.dtfj/com/ibm/dtfj/java/JavaReference.html) like `HEAP_ROOT_FINALIZABLE_OBJ_FINALIZED` if the object has been finalized and is just waiting to be cleaned by the next GC.

[2019-12-03 18:22] ChengJin01 commented on #7897
@M-Davies , the code logic changed in `getMethodHelper()` last year to deal with specific methods after removing `j.l.Class.getClassDepth()`. Now the thing we need to figure out is whether or not it covered all aspects against the Java Spec.

[2019-12-03 18:36] pshipton commented on #7503
There should be history in OpenJDK for the addition, did you track that down?

[2019-12-03 18:38] pshipton commented on #7503
i.e. if you figure which of the changes in http://cr.openjdk.java.net/~amurillo/8u20/hs25.20-b08-jdk8u20-b08.webrev/ added the code, you can look at the individual change. Like https://bugs.openjdk.java.net/browse/JDK-8037915

[2019-12-03 18:49] pshipton commented on #7503
@M-Davies are you sure the setrlimit came from OpenJDK? It seems unlikely, because it's not in OpenJDK now. The IBM Java code is tagged `IBM-aix-bringup`. I think this can be traced back in the IBM Java 8 code stream.

[2019-12-03 18:58] DanHeidinga commented on #7800
After thinking further on this, and discussing with @gacholio, the right way to approach this is to avoid using `JNI_CreateJavaVM` as the `jitserver` isn't a Java VM - it, is after all, a jit server.

A better approach is to add a new exported function to the JVM named `JITServer_StartServer()` that starts the jitserver.  This can continue to be implemented in the background with the equivalent of

[2019-12-03 19:14] gacholio commented on #7800
I'd be tempted to call the new function "create server" rather than "start" and let the start happen via an indirect function call from the server object (presumably it'll be like a JavaVM or JNIEnv).

[2019-12-03 19:53] pshipton commented on #7947
Rebuild worked fine. https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_linux_xl_OpenJDK/113/

I'll close this until it occurs again.

[2019-12-03 19:58] Mesbah-Alam commented on #7934
The test is set to NOT generate core dumps at test failures as it uses the following option: `-dumpRequested false`. Yet, apparently the test is generating core dumps even during the passing case.

[2019-12-03 20:31] DanHeidinga commented on #7800
Thanks @gacholio - update my comment to use `JITServer_CreateServer`

[2019-12-03 20:47] ashu-mehra commented on #7800
If the intention is to avoid JVM startup, then why not export `JITServer_CreateServer()` from the JIT library rather than adding it to VM, but that would imply completely decoupling JITServer from the VM.

[2019-12-03 20:48] DanHeidinga opened #7953 "> Can it be moved out of util and the c api be provided by calling the new impl in VMHelpers?"
I don't think so. There are several uses of the C API from within C contexts:

https://github.com/eclipse/openj9/blob/58a679f1fe4e1b7eaa97d2b01b1d9452df4edac0/runtime/shared_util/classpathcache.c#L267
https://github.com/eclipse/openj9/blob/58a679f1fe4e1b7eaa97d2b01b1d9452df4edac0/runtime/vm/classsupport.c#L1289
https://github.com/eclipse/openj9/blob/58a679f1fe4e1b7eaa97d2b01b1d9452df4edac0/runtime

[2019-12-03 20:51] DanHeidinga commented on #7953
Also from that issue:
https://github.com/eclipse/openj9/pull/7765/files#r346974754

I've tried to address this in 66bd2a5, however it seems there are several problems:

There is now duplication between VMHelpers.hpp and utf8hash.c
It does not seem possible to call the VMHelpers version of the API from within utf8hash.c because the former is a C++ file and the latter is a C file
There are many uses

[2019-12-03 20:58] DanHeidinga commented on #7800
My understanding, and please correct me if I'm wrong, is that the jitserver depends on VM data structures such as J9VMThread, J9JavaVM, etc so it makes sense to keep the function in the JVM library.

Longer term, I'd like to see our existing set of dlls collapsed in a much smaller set (ideally 1).

[2019-12-03 21:04] ashu-mehra commented on #7800
ok, so for now I will just add `JITServer_CreateServer()` to VM which would just be a wrapper around `JNI_CreateJavaVM` and then we can continue evolving the API to have its own course of startup.
Is that ok?

[2019-12-03 21:09] DanHeidinga commented on #7800
That sounds like the right starting point.  I'd like to see the implementation of `JNI_CreateJavaVM` be moved to a new `JNI_CreateJavaVM_impl` function that takes an additional boolean to indicate jitserver or not.  The existing code will be a passthru that passes false, the new `JITServer_CreateServer` will pass true.

[2019-12-03 21:24] keithc-ca commented on #7932
If the argument did reference a path (e.g. `-I/cygdrive/c/...`) that mapping (to `-IC:/...`) is correct. We don't have any files or directories named 'cygdrive' and can think of no good reason to change that. I don't see a problem.

I assume you meant to say 'valid' instead of 'invalid'.

@dnakamura Can you share an example of a path using its 'string hash'?

[2019-12-03 21:54] fjeremic commented on #7953
Just leaving a note to whoever picks up this issue there were some whitespace problems [1] in #7765 which we should address as part of the PR which closes this issue.

[1] https://github.com/eclipse/openj9/pull/7765#pullrequestreview-326438807

[2019-12-03 22:44] ChengJin01 commented on #7897
I created 3 test cases separately based on the simple test above:
[code]
Against the API Spec:
[code]
For test case (1) and (2), the most specific method was chosen according to the order of interfaces in the declaration as both methods are declared in interfaces, which is correct as both `I.m` and `J.m` are equal in terms of signature and return type.

For test case (3), apparently Hotspot chose

[2019-12-03 23:08] jdekonin commented on #7820
Many of these failures, I stopped confirming after 5, are referencing the ip addresses that the machine use to have.  Each of the machine above had an entry in the /etc/hosts with the old address.  I am not 100% sure if this is required configuration, because on a few of the machines not reported above there was no ip and hostname in the /etc/hosts, so I commented it out on the remaining systems.

[2019-12-04 03:13] toshiona commented on #6844
Thank you for the information.
Yes, the problem has been fixed. I checked this with

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+4-201912021941)
Eclipse OpenJ9 VM AdoptOpenJDK (build master-b25f8b08b, JRE 11 Linux s390x-64-Bit Compressed References 20191202_406 (JIT enabled, AOT enabled)
OpenJ9   - b25f8b08b
OMR      - 97da8ad70
JCL      - 682588fef2

[2019-12-04 03:13] #6844 closed

[2019-12-04 03:21] knn-k opened #7960 "Build break caused by GC_ObjectModel::SCAN_FLATTENED_ARRAY_OBJECT"
Please add `case GC_ObjectModel::SCAN_FLATTENED_ARRAY_OBJECT:` to the `switch (_type)` statements in `restore()` and `save()` in `gc_glue_java/ObjectIterator.hpp`.

I am seeing the following compiler errors:
[code]

`SCAN_FLATTENED_ARRAY_OBJECT` was introduced by #7916.

[2019-12-04 06:48] knn-k commented on #7960
I am using GCC 7.3.1 for AArch64, with `-Werror` explicitly specified in the command line.

[2019-12-04 11:57] M-Davies commented on #7503
I looked through those changes already and couldn't see it. Looking into hotspot's source, they also don't seem to use `setrlimit` either. I believe you're right in that it is a IBM Java addition.

@andrew-m-leonard is looking into getting me access to the IBM Java 8 source over IBM Java 9 at the moment so I can track this change back

[2019-12-04 12:52] avermeer commented on #6228
Hello @dmitripivkine ,

I have tested your fix with 2019-12-03 nightly build of AdoptOpenJDK11 with OpenJ9 for Linux x64, and I get results as good as HotSpot variant with same build date.

From my perspective, I confirm that this issue is closed.

Thank you very much for the good work.

Alexandre Vermeerbergen

[2019-12-04 12:52] #6228 closed

[2019-12-04 13:01] avermeer commented on #7692
Hello @BeverlyXu,

Do you have any update on this topic to share?
Any hope of improvement for 0.18.0 release?

Kind regards,
Alexandre

[2019-12-04 13:16] deleisha commented on #4153
We have a similar issue where OpenJ9 JVM on zLinux crashes with following BT while porting spark.
@gacholio , is there any remediation steps that you are working on?
4XESTACKTRACE                at sun/misc/Unsafe.getLong(Native Method)
4XESTACKTRACE                at org/apache/spark/unsafe/Platform.getLong(Platform.java:111)
4XESTACKTRACE                at org/apache/spark/unsafe/bitset/BitSetMe

[2019-12-04 14:17] pshipton commented on #7960
The fix is https://github.com/eclipse/openj9/pull/7956

[2019-12-04 14:19] pshipton commented on #7960
Note you might follow the #triage channel in OpenJ9 slack for ongoing comments about build problems and test failures. https://openj9.slack.com/archives/CDS7QE9HB

[2019-12-04 14:40] #7960 closed

[2019-12-04 15:41] pshipton commented on #7821
This is still happening, but I haven't reported all the failures. The latest is
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_Nightly/214
aix71-p8-6

[2019-12-04 16:49] pshipton opened #7961 "Failing to run special.system testing - No such property: TKG_SHA"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/205
special.system testing failing to run due to
[code]

[2019-12-04 16:49] pshipton commented on #7961
@llxia @smlambert

[2019-12-04 17:06] gacholio commented on #4153
Nothing yet - if this is the same access pattern as the original issue, there really isn't a fix - you can not know the layout of an object. Unaligned access is only allowed in arrays and native memory.

Do you know the details of the object/offset?

[2019-12-04 17:21] M-Davies commented on #7503
Src code itself doesn't reveal much, only that the changes in Java 9 are identical to the ones in Java 8 so it's possible they were introduced to both versions at the same time. I'll have a look through the changelogs at https://developer.ibm.com/javasdk/downloads/sdk8/, see if I can find any references to OutOfMemory errors or setting rlimits

[2019-12-04 17:31] dnakamura commented on #7932
We don't however under some circumstances cmake will use the full path to the source file as part of the output object path.
Object files for a target get generated into `<CMAKE_CURRENT_BINARY_DIR>/CMakeFiles/<TARGET_NAME>.dir`.  Object files are given paths that reflect the relative path between the source file and the source dir.
eg `foo.c` will be `<OBJECT_DIR>/foo.c.o` `bar/baz.c` -> `<OBJECT_

[2019-12-04 18:20] #7204 closed

[2019-12-04 18:23] pshipton commented on #7458
Fixed by the merges above.

[2019-12-04 18:23] #7458 closed

[2019-12-04 18:24] pshipton commented on #5751
Assuming this is fixed.

[2019-12-04 18:24] #5751 closed

[2019-12-04 18:25] pshipton commented on #7591
@mikezhang1234567890 any updates?

[2019-12-04 18:26] pshipton commented on #7639
@fjeremic any updates?

[2019-12-04 18:26] M-Davies commented on #7503
@pshipton Ref https://jazz103.hursley.ibm.com:9443/jazz/web/projects/JTC-JAT#action=com.ibm.team.workitem.viewWorkItem&id=70929

- The 2nd attachment `Jazz-70929_oracle_to_ibm.diff` appears to be where `setrlimit` was implemented in Java 8 (Line 1383)

- The jazz work item lists
[code]
as the changes made but the diff also includes extra changes not listed here. Note, these are both from IBM (not

[2019-12-04 18:28] pshipton commented on #7679
Can this issue be closed? Otherwise, what is left to do, and when will it be done?

[2019-12-04 18:30] llxia commented on #7961
https://github.com/AdoptOpenJDK/openjdk-tests/pull/1483 is merged. Please reopen if the issue still exists

[2019-12-04 18:30] #7961 closed

[2019-12-04 18:32] pshipton commented on #7714
Pls retry with a newer version of Java 11. 11.0.5 is released already, and 11.06 will be released in Jan.

[2019-12-04 18:56] ashu-mehra commented on #7679
Yes, it can be closed.

[2019-12-04 18:56] #7679 closed

[2019-12-04 19:09] harryyu1994 commented on #4445
It seems like for the setup I have on my own vm don't see this problem. Going to try this on Lara.

[2019-12-04 19:54] #7782 closed

[2019-12-04 19:56] a7ehuo commented on #7567
Tried again with `_JCL_Test_0` and the following build. Observed a different crash on the server side.

OpenJ9 build: The `master` branch f12324a + the runtime assumption fix #7948
[code]

[code]

[2019-12-04 20:55] a7ehuo commented on #6714
Tried again with `cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_2` and the following build.
Observed intermittent failure with `rc011` so far `FR: 1/6`.

OpenJ9 build: The master branch f12324a + the runtime assumption fix #7948

[code]

[code]

[2019-12-04 20:59] mikezhang1234567890 commented on #7591
When Intellij tries to create the breakpoint it needs to create a ClassWriter at some point, which needs to get the constant pool. On OpenJ9, when trying to get a `CONSTANT_MethodHandle_info` entry, the `reference_index` value refers to an invalid index.

Still trying to figure out what why the value is wrong.

[2019-12-04 21:08] harryyu1994 commented on #6714
Do we see this without JITServer?

[2019-12-04 21:47] a7ehuo commented on #6714
Good point. Will try the test without JITServer later.

[2019-12-04 21:57] pshipton commented on #7503
@M-Davies the title of 70929 is "basic class library bringup changes" which means these changes have been forward ported from an older version of Java. You need to look back further at the version of Java where the change was first introduced.

[2019-12-04 22:04] gacholio commented on #7953
It would make a lot more sense to me to just rewrite the callers in C++ - this is where we should be heading anyway.

[2019-12-04 22:14] dsouzai opened #7965 "Portable SCC: Compressed Refs"
There are two approaches that were brought up in the Portable SCC discussion regarding how to deal with the potential for the compressed refs shift changing with the heap size.

1. Have the JIT assume that the compressed shift might be 4. The generated code then loads the shift value into a register. This load can then be relocated.
2. Fix the shift value to 3 if the JVM is going to use AOT code.

[2019-12-04 22:14] dsouzai opened #7966 "Portable SCC: Define Default Processor Features"
This issue is to discuss whether or not it makes sense to define a set of processor features the compiler should target when generating AOT code. The three general ideas were

1. The compiler has a set of processor features defined for an AOT compile.
2. The compiler targets whatever features are available on the machine it is running on (while turning off certain features such as TM).
3. The comp

[2019-12-04 22:14] dsouzai commented on #7710
We had the first portable SCC workgroup meeting today (as decided in [1]). I've updated this PR's description with links to sub issues based on the points brought up where relevant discussions can happen.

[1] https://openj9.slack.com/archives/C8312LCV9/p1574881291118000

[2019-12-04 22:15] dsouzai commented on #7635
Closing this in favour of the discussion in https://github.com/eclipse/openj9/issues/7966

[2019-12-04 22:15] #7635 closed

[2019-12-04 22:16] dsouzai commented on #7966
fyi @fjeremic @andrewcraik @gita-omr

[2019-12-04 22:39] dsouzai commented on #7966
My personal preference is 1. Targeting the processing the SCC is generated is currently what happens but that puts the burden on the user to find an old enough machine. I also do not prefer having a mapping between CPU version and some set of CPU features because it doesn't reflect the reality of which CPU features are available on which CPU version, and is a non-standard mapping that has be maint

[2019-12-04 22:46] harryyu1994 commented on #4445
"initialOptLevel=warm" works fine while "initialOptLevel=hot" failed. I'll look into it.

[2019-12-04 23:23] pshipton commented on #7822
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/373

[2019-12-04 23:40] pshipton commented on #7820
Looking good now.

[2019-12-04 23:40] #7820 closed

[2019-12-04 23:42] pshipton commented on #7725
@dmitripivkine this is the issue I was referring to. According to https://github.com/eclipse/openj9/issues/7725#issuecomment-551859297, it's blocking adoption of OpenJ9 by Jenkins. The problem is https://github.com/eclipse/openj9/issues/7725#issuecomment-551918937

[2019-12-05 02:59] knn-k commented on #7960
I searched for existing Issue for SCAN_FLATTENED_ARRAY_OBJECT before I opened this Issue.
I will check the Slack channel when I find any build failures next time.

[2019-12-05 04:01] a7ehuo commented on #6714
Ran `50` times of `_cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_2` with the baseline code and so far no failure is observed.
With `JITServer`, it's reproducible `FR: 1/6`.

[2019-12-05 04:02] ChengJin01 commented on #7897
I made a fix for this issue on Java 11 & 13 which proved to work good on the failing tests above:
[code]
Will launch personal builds to see whether everything goes well before creating a PR.

[2019-12-05 08:37] deleisha commented on #4153
Aah, got it, for our case, currently, it kinda looks like it is offset issue, It suddenly got changed baseOffset = 402653192.
Kindly ignore our case, apology for the noise

[2019-12-05 09:17] PhilippLengauer commented on #7740
I wanted to ask if there are any plans of addressing this problem?

[2019-12-05 12:41] JasonFengJ9 opened #7967 "Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR Segmentation error vmState=0x00000000 when compiling the test"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/374/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-05 12:46] JasonFengJ9 opened #7968 "Test_openjdk8_j9_sanity.functional_ppc64le_linux_OMR NoSuchFieldError: java/lang/String. when compiling the test"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64le_linux_xl_OMR/5/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

This probably was caused by new JCL level. Will have a look.

[2019-12-05 12:49] JasonFengJ9 commented on #7967
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64_aix_OMR/421/console

[code]

[2019-12-05 13:12] JasonFengJ9 opened #7969 "SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0 Error: -Xverbosegclog number of cycles must be greater than 0"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/214/tapResults/
ub16x64j95

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

Similarly SyntheticGCWorkload_concurrentSlackAuto_10M_J9_0

[2019-12-05 13:31] james-crowley commented on #7725
@pshipton @slide Glad to see this issue is going well. Hopefully the extended tests run without issue!

[2019-12-05 13:37] pshipton commented on #7969
@llxia @smlambert a TKG related issue? It didn't find the config file.

[2019-12-05 13:44] pshipton opened #7970 "openjdk11 acceptance can't find test jobs for new platforms"
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK11_ppc64le_linux_xl/31
`ERROR: No item named Test_openjdk11_j9_sanity.functional_ppc64le_linux_xl_OpenJDK11 found`

https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK11_s390x_linux_xl/29
`ERROR: No item named Test_openjdk11_j9_sanity.functional_s390x_linux_xl_OpenJDK11 found`

[2019-12-05 13:45] pshipton commented on #7970
@llxia @AdamBrousseau

[2019-12-05 14:19] AdamBrousseau commented on #7970
The test jobs are autogenerated so that would indicate the test autogen job has been failing.
Likely due to script approvals which Shelley mentioned yesterday.
https://ci.eclipse.org/openj9/job/Test_Job_Auto_Gen/
Appears the last one passed so it's probably resolved now if you relaunch.

[2019-12-05 14:19] pshipton commented on #7947
Here is another one, although not yet sure it only affects one platform.
https://ci.eclipse.org/openj9/job/Build_JDKnext_s390x_linux_OpenJDK/112
[code]

[2019-12-05 14:21] #7947 closed

[2019-12-05 14:22] DanHeidinga commented on #7740
@PhilippLengauer Yes, there's plans to fix it.  It's targeted it to the 0.19 milestone which is for the Java 14 release in March of 2020 so it may take a bit but it's definitely on our radar.

@JasonFengJ9 Can you connect with @dmitripivkine and flesh out the plan for how to address this?

[2019-12-05 14:26] pshipton opened #7973 "Can't compile jdknext without record support (JEP 359) or stubs"
We need https://github.com/eclipse/openj9/issues/7945 or at least some stubs in order to compile jdknext.

https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/128/
[code]

[2019-12-05 14:26] pshipton commented on #7973
@theresa-m @DanHeidinga

[2019-12-05 14:26] pshipton commented on #7973
Disabled jdknext acceptance build for now.

[2019-12-05 14:28] smlambert commented on #7969
Not sure that is the biggest problem in that output...

does this happen in healthy runs?

JVMJ9VM015W Initialization error for library j9vrb29(3): Failed to initialize
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurred. Program will exit.

[2019-12-05 14:29] pshipton commented on #7967
@fjeremic @dchopra001
https://openj9.slack.com/archives/CDS7QE9HB/p1575508443088500

[2019-12-05 14:32] DanHeidinga commented on #7966
I'm fine starting with a system that specifies all the features to target so we have something working.

From a usability perspective, it won't take long for us (and end users!) to need a way to compactly specify groups of features.  If this is a quasi-mapping to process type as proposed in [3], great.  Some other logical way to group features together is fine by me as well.

[2019-12-05 14:34] DanHeidinga commented on #7965
fyi @dmitripivkine @amicic

Can one of you comment on what would be affected in the GC (and rest of the runtime) by forcing the CR shift to always be 3?  How would this affect the heap size?  Occupancy?  More wasted space?  etc

[2019-12-05 14:34] theresa-m commented on #7973
looking at this

[2019-12-05 14:49] DanHeidinga commented on #7710
The other issue that was mentioned during the workgroup discussion was that the SCC does timestamp checking for the JARs / modules file on first access.

In Docker, we expect those checks to continue to pass (file timestamps aren't changed on image run) but are more likely to fail if the cache is manually copied.

There are existing options to disable timestamp checking to work around the manual c

[2019-12-05 15:17] theresa-m commented on #7973
Adding stubs fixed the compile errors. pr here: https://github.com/eclipse/openj9/pull/7974

[2019-12-05 15:20] dsouzai commented on #7965
also fyi @fjeremic @andrewcraik @gita-omr @knn-k to give a codegen perspective.

[2019-12-05 15:20] amicic commented on #7965
For a large part GC would not be affected (roots and metastructures like rembembered set does not use CR). The biggest performance impact, I geuess, would come from jitted code, which is more in JIT folks to comment,like how an unncessari shift for <4GB heap would affect performance.

[2019-12-05 15:20] llxia commented on #7970
yes, we updated the script yesterday. It looks like the auto gen job was triggered before the script got approved. As mentioned above, please try again.

[2019-12-05 15:25] amicic commented on #7965
I don't see obvious footprint implications.

[2019-12-05 15:32] amicic commented on #7965
Don't remember if this was discussed already, but what I struggle more is, jitted code (non)portability in unified CR/nonCR VM.

[2019-12-05 15:37] dsouzai commented on #7965
This was brought up in the discussion; running in CR / non-CR results in a different SCC; I suppose theoretically the same SCC could be used to store both CR and non-CR version of a compiled method, but that's better discussed in another issue (which I can open if we feel it's a discussion worth having).

[2019-12-05 15:39] a7ehuo commented on #7035
Tried the local sanity test with the `master` branch and no longer observe the `CHTable WARNING:`.

OpenJ9 build: The` master` branch f12324a + the runtime assumption fix #7948.
[code]

[2019-12-05 15:39] #7035 closed

[2019-12-05 16:15] JasonFengJ9 commented on #7969
Last passing build [1] doesn't have such messages, `No such file or directory` or `j9vrb29(3): Failed to initialize`.

[1] https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/213/consoleFull

[2019-12-05 16:19] DanHeidinga commented on #7965
The CR-ness is encoded in the cache name today so that they are forced to be separate caches.  I expect the initial unified CR/nonCR VM will still use separate caches for the initial approach.

[2019-12-05 16:23] fjeremic commented on #7639
Just checked on JDK11 things are passing, but JDK8 seems to have an issue. Digging into it deeper now.

[2019-12-05 16:37] DanHeidinga commented on #7871
closed by #7952

[2019-12-05 16:37] #7871 closed

[2019-12-05 16:48] dnakamura opened #7980 "Install CMake on OSX machines"

[2019-12-05 16:48] dnakamura commented on #7980
@jdekonin

[2019-12-05 17:02] #7338 closed

[2019-12-05 17:40] dmitripivkine commented on #7965
- As Aleks mentioned before lost of performance for cases heap can be allocated below 4g bar and can run 0-bit shift
- also lost support for heaps up to 64g using 4-bit shift