[2018-08-02 19:36] pshipton commented on #2543
Seems fine so far.
@pdbain-ibm fyi, and any concerns?

[2018-08-02 19:37] Ailloviee opened #2544 "Create J9ModuleIterator and J9PackageIterator"
Related: https://github.com/eclipse/openj9/pull/2192

This is a discussion on whether or not I should make a new `J9ModuleIterator` and new `J9PackageIterator` to iterate through all modules & packages in jvm.

The iterator would go through all class loaders and the module/package hash tables in the them. The pattern would look like:
[code]

Currently the pattern appeared three times in https://gi

[2018-08-02 19:38] Ailloviee commented on #2544
fyi @keithc-ca @tajila

[2018-08-02 22:12] pshipton opened #2547 "Fix handling of path list in dbgsysBuildLibName"
Addressed by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/107 for Windows jdk8, but should be fixed for other platforms and other jdk versions.

[2018-08-02 22:13] pshipton commented on #2129
The immediate problem is fixed (for Windows) by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/107. Opened #2547 to handle remaining platforms and other jdk versions.

[2018-08-02 22:14] #2129 closed

[2018-08-03 12:53] sxa555 commented on #1684
I'm getting an issue with OMR compilation using GCC7.3 unless `--disable-warnings-as-errors` is specified:

[code]

[2018-08-03 15:50] sxa555 commented on #1684
The warnings appears on (at least) zlinux and xlinux with both JDK8 and JDK11 source with GCC 7.3.0 - it's a new check that the compiler warns on that was introduced in either gcc 5 or 6.

[2018-08-03 17:31] babsingh commented on #1684
`HeapRegionManager.cpp:118:132: error: self-comparison always evaluates to true [-Werror=tautological-compare]`.

After some investigation, I found that the above error only occurs with `ccache` enabled. If `ccache` is disabled, then the above error is not seen.

**HeapRegionManager.cpp:118**:
[code]

**J9_LINEAR_LINKED_LIST_ADD**:
[code]

**J9_LINEAR_LINKED_LIST_ADD_BEFORE(linkNext, linkPrevious,

[2018-08-04 05:43] 0dvictor commented on #2540
The defect is because inlined version jitCheckAssignable skipped class equality test when cast class is abstract. This was because it reuses the evaluator instanceof, which is optimized based on the fact that an Object's class can never be an abstract class. However, this is not the case for jitCheckAssignable. #2551 fixes it.
In case if interested, equality test can still be safely skipped becaus

[2018-08-04 18:08] jluehe commented on #2071
@pshipton, do you know of any artifact that exports javax.activity, which used to be made available by java.corba module?

[2018-08-06 23:25] atawre opened #2552 "openj9 build fails on ubuntu VM when compiling with debug enabled"
I followed steps mentioned at - https://blog.openj9.org/2018/06/05/debugging-openj9-in-docker-with-gdb/ to compile debug build.
I am using ubuntu VM and not the docker instance.

Machine details as follow -
$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.5 LTS"

$ uname -a
Linux DataTemperature 3.13.0-129-generic #178-Ubuntu

[2018-08-07 01:03] fjeremic commented on #2552
@babsingh any pointers regarding this?

[2018-08-07 12:44] ashu-mehra commented on #2312
I am not aware of the background for `gcOnIdleRatio` but I guess it is to ensure we do a GC only if there is substantial amount of heap allocation since last GC cycle.
@amicic do you remember the details for `gcOnIdleRatio` [check](https://github.com/eclipse/omr/blob/fa0f9feb347c5d29a7bc232adcac2ba07a97de74/gc/base/MemorySubSpace.cpp#L939).
I am fine with doing GC unconditionally, given that we ar

[2018-08-07 14:11] dmitripivkine commented on #2312
The test I mentioned about is testSoftMxDisclaimMemory. The source for it:
https://github.com/eclipse/openj9/blob/master/test/functional/JLM_Tests/src/j9vm/test/softmx/SoftmxAdvanceTest.java
I don't remember is there any platform where it failed more often.

[2018-08-07 14:31] AlenBadel opened #2555 "Neo4J Fails to build with openjdk8-openj9"
Using OpenJ9 Version:

`openjdk version "1.8.0-adoptopenjdk"
OpenJDK Runtime Environment (build 1.8.0-adoptopenjdk-jenkins_2018_08_06_16_09-b00)
OpenJDK 64-Bit Server VM (build 25.71-b00, mixed mode)`

Steps to reproduce

1) git clone https://github.com/neo4j/neo4j.git

2) apt install debhelper devscripts dos2unix dpkg make xmlstarlet

3) Set JAVA_HOME & PATH

4) mvn clean install

The issue looks

[2018-08-07 14:45] vsebe commented on #2527
No groovy script available for testing linux x86 large heap, e.g. openjdk_x86-64_linux_largeHeap (see openjdk-test repository).

[2018-08-07 15:09] vsebe commented on #2527
@smlambert @llxia fyi

[2018-08-07 15:26] JasonFengJ9 commented on #1430
Somehow missed Shelley's question here, I recall there was a setup issue and can't reproduce. Will have another look.

[2018-08-07 15:30] DanHeidinga commented on #2555
[code]

The message looks correct - the no-args constructor is missing from `CoalescedLicense` & the class isn't Serializable (both of which `PureJavaReflectionProvider`) checks.

Have you been able to build this successfully with other JDKs?  I'm trying to understand what would be different about OpenJ9 to cause the issue or if this needs to be fixed in `CoalescedLicense`

[2018-08-07 15:30] JasonFengJ9 commented on #1694
**Update**:
Tried the `JVM_ARGS`, wasn't able to reproduce the issue reported.
@chandrams, can you re-run the test with latest JVM from https://adoptopenjdk.net/nightly.html?

[2018-08-07 15:31] JasonFengJ9 commented on #2302
Reproduced the issue reported. Will investigate.

[2018-08-07 15:33] DanHeidinga commented on #2555
What version of the Maven license plugin is being used?  Is it up to date?

[2018-08-07 15:45] DanHeidinga commented on #2539
Any update on this @jdekonin ?

[2018-08-07 17:00] AlenBadel commented on #2555
@DanHeidinga

Neo4J built perfectly with openjdk8-hotspot

Looks like 1.7.7 was used
[code]

[2018-08-07 17:08] #2410 closed

[2018-08-07 17:25] jdekonin commented on #2539
The JDK11 jobs were updated to stop doing this the morning after the ticket was opened.  But there were some modifications to triggers suggested and requested that @vsebe, @AdamBrousseau and I have been investigating with this as the reference issue.

I posted in the #committers-public channel last week with some details.

[2018-08-07 18:09] llxia commented on #2527
Issue is created in AdoptOprnJDK https://github.com/AdoptOpenJDK/openjdk-tests/issues/504 to add missing generic Jenkins file.

fyi, please use generic Jenkins file (not java version specific ones). For example, openjdk11_xxx will not be created.

[2018-08-07 21:35] andrewcraik commented on #2424
@fjeremic @gita-omr FYI

[2018-08-08 12:15] andrewcraik opened #2559 "Add a comment to explain why the equality test can be skipped for non-abstract classes"
Add a comment to explain why, on line 4718 of J9TreeEvalutor.cpp for the x codegen, the equality test can be skipped for non-abstract classes but is required for TR_checkAssignable? Having the explanation in the code would make it clear to future readers. The need for this was identified by @DanHeidinga. The code change in the PR fixes a major functional issue so I (@andrewcraik) will merge the ch

[2018-08-08 12:17] #2540 closed

[2018-08-08 13:56] #2047 closed

[2018-08-08 13:58] pdbain-ibm commented on #2141
@pshipton Would you kindly verify and close this issue?

[2018-08-08 15:03] keithc-ca commented on #2364
Could this be just another consequence of slow startup on zLinux?
Perhaps if the boot JDK is updated to one that includes https://github.com/eclipse/omr/pull/2796 this problem will go away?
See also https://github.com/AdoptOpenJDK/openjdk-build/issues/429 and https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/416.

[2018-08-08 15:17] JasonFengJ9 opened #2561 "javacore captures environment variable ghprbPullLongDescription containing exception description"
`OpenJ9 javacore` captures environment variables however `ghprbPullLongDescription` set by PR builds might contain stacktrace and exception descriptions, hence fail tests which incorrectly assume the exception was generated by current test.

This is discovered from PR test https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK10-linux_ppc-64_cmprssptrs_le-OpenJ9/64/consoleFull
[code]

The test

[2018-08-08 15:33] JasonFengJ9 commented on #2561
This issue was reported earlier at https://github.com/eclipse/openj9/issues/1885

[2018-08-08 15:37] #2561 closed

[2018-08-08 15:40] DanHeidinga commented on #1165
All 3 PRs have been merged.  Closing.

[2018-08-08 15:40] #1165 closed

[2018-08-08 15:44] DanHeidinga opened #2562 "[Condy] Allow invokeWithArguments of varargs methods to absorb extra args into trailing array"
[code]

BSM invocation may need to be updated as well if there is an explicit check.  Currently it uses invokeWithArguments().

[2018-08-08 16:08] sxa555 commented on #2468
Seen this in the adoptopenjdk CI as well ... Commenting here so I get any updates on this issue ;-)

[2018-08-08 17:59] pdbain-ibm opened #2567 "VM fails to launch with large number of -Xdump options"
Specifying 115 `-Dump` options causes the VM to fail to launch:
[code]
I tried with a long file of `-Dname=value` options and it worked fine:
[code]
[opts.txt](https://github.com/eclipse/openj9/files/2271339/opts.txt)
[xdump.txt](https://github.com/eclipse/openj9/files/2271340/xdump.txt)

Note that there are multiple places in the rasdump code where `agentNum` (index into fixed size `agentOpts`) i

[2018-08-08 18:20] vsebe commented on #2527
Tested PRs triggers - see https://github.com/eclipse/openj9/pull/2557

[2018-08-09 15:47] babsingh commented on #2552
This issue looks similar to https://github.com/eclipse/openj9/issues/2364 (`Sjavac server failed to initialize: No port file values materialized`).

In #2364, Keith suggests that the issue may be related to the boot JDK.

Possible workaround: run configure with `--disable-sjavac` - `bash ./configure --with-freemarker-jar=/root/freemarker.jar --disable-sjavac`. Configure output should have `checkin

[2018-08-09 15:48] babsingh commented on #2364
Possible workaround: run configure with --disable-sjavac - bash ./configure --with-freemarker-jar=/root/freemarker.jar --disable-sjavac. Configure output should have **checking whether to use sjavac... no**.

[2018-08-09 16:00] keithc-ca commented on #2364
That is the default: the most recent build [1] confirms this.
[code]
I see the same configuration messages in my local builds which **don't** suffer from this, but I **do** use a boot JDK which includes the OMR fix.

[1] https://ci.eclipse.org/openj9/job/Build-JDK9-linux_390-64_cmprssptrs/315/

[2018-08-09 16:19] babsingh commented on #2364
with `--disable-sjavac`, `sjavac` server shouldn't be initialized.

if `sjavac` server is being initialized after the `configure` stage has disabled it, then there may be an issue in setup.

may be ... we also need to disable **javac server** to completely disable `sjavac`: `--disable-javac-server  disable javac server`.

[2018-08-09 16:46] thjaeckle opened #2571 "SIGINT/SIGTERM doesn't run shutdown hooks in 0.9.0-rc2"
Hi OpenJ9 team.

Today I tried out the 0.9.0-rc2 on Java 8 (built from AdoptOpenJDK):
https://github.com/AdoptOpenJDK/openjdk8-openj9-nightly/releases/download/jdk8u181-b13-201808010217/OpenJDK8-OPENJ9_x64_Linux_201808010217.tar.gz

My problem now is that for my application (an [Akka](https://akka.io) clustered application) which adds shutdownHooks by itself those are not run and as a consequence

[2018-08-09 16:58] DanHeidinga commented on #2571
@babsingh Can you take a look at this?

[2018-08-09 17:35] #890 closed

[2018-08-09 17:35] fjeremic commented on #890
Fixed in https://github.com/eclipse/omr/pull/2800.

[2018-08-09 18:05] #2472 closed

[2018-08-09 18:10] thjaeckle commented on #2571
Still can't reproduce with a simple Akka starter.
Our code in which that doesn't work is here:
https://github.com/eclipse/ditto/

For example, start the following class (e.g. in IntelliJ, running this without any config is possible):
https://github.com/eclipse/ditto/blob/master/services/policies/starter/src/main/java/org/eclipse/ditto/services/policies/starter/PoliciesService.java

Killing the pro

[2018-08-09 18:53] dchopra001 commented on #890
For reference, I'm putting an explanation here on the performance of the API on Z after the changes introduced by #2800.

Results for OpenJ9 on x86 vs. Z:
x86 (Haswell) - 47.499s
z13 - 50.684s

There's a gap of ~6.7% on Z observed here. The reason for this is that this API's specifications (https://docs.oracle.com/javase/8/docs/api/java/lang/Float.html#floatToIntBits-float-) require values such as

[2018-08-09 19:04] gacholio opened #2576 "Atomic-free JNI"
Prior to this work, all synchronization of entering and exitting the VM was performed by using atomic compare-and-swap operations, which are extremely heavyweight. A single machine word contained the state of each thread (in or out of the VM) and any requests from other threads (e.g. exit the VM to allow the GC to run).

This feature replaces the VM entry/exit for JNI natives with a modified Dekke

[2018-08-09 19:38] DanHeidinga commented on #2555
Can you generate a java+system core when the exception is generated?

The -Xdump option can do this.  Something like
`-Xdump:java+system:events=throw,filter=com/thoughtworks/xstream/converters/reflection/ObjectAccessException
`

It'll then be possible to look at the core in `jdmpview` and see the VM's state.  Hopefully that will allow us to figure what's going sideways.

[2018-08-09 21:08] jdmpapin opened #2577 "Java 11 interpreter sometimes skips type test for super invokespecial in interface method"
Super `invokespecial` requires that the receiver be an instance of the current class (i.e. the class containing the `invokespecial` bytecode instruction). When the current class is an interface, this is not guaranteed by bytecode verification. Instead, the `invokespecial` instruction dynamically checks that the receiver implements the current interface, and if not, it throws `IllegalAccessError`.

[2018-08-09 21:16] gacholio commented on #2577
@fengxue-IS Can you please take a look at this?  Suggest removing bits and pieces of the change to see what's causing the issue.

[2018-08-09 21:28] jdmpapin commented on #2577
Yes, for a non-null receiver we need `(receiver instanceof CurrentClass)`, which includes instances of subclasses.

[2018-08-09 22:11] fengxue-IS commented on #2577
I ll take a look into this, @jdmpapin thanks for providing the test class

[2018-08-10 06:38] thjaeckle commented on #2571
It appears that four our services, `sun.misc.Signal#dispatch` is not even invoked when the process receives a `SIGTERM`

[2018-08-10 07:56] thjaeckle commented on #2571
I finally have something.

This is a minimal reproducer with only one dependency:
[code]

code:
[code]

In out code we don't block the `main()` Thread until termination of the Akka ActorSystem.
In that case, OpenJ9 does not invoke the shutdown hooks.
Only when we block the `main()` Thread, the shutdown hooks are invoked as expected.

I must admit that I don't know the "best practice" to handle the

[2018-08-10 13:33] DanHeidinga opened #2579 "[0.9.0] Release"
Testing for the 0.9.0 release has completed at AdoptOpenJDK.

Retagging the `-rc2` tags as the final build for the 0.9.0 release using the following commands:
[code]

The RC2 levels are:
* openj9 24e53631

[code]
* openj9-omr fad6bf6
[code]

Message for the tag:
[code]

[2018-08-10 13:34] DanHeidinga commented on #2579
Final tags for the 0.9.0 release have been pushed to the v9 branches for both openj9 and the omr clone.

[2018-08-10 14:16] DanHeidinga commented on #2579
Extensions repo updates:
* JDK8: https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/108
* JDK9: https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/173
* JDK10: https://github.com/ibmruntimes/openj9-openjdk-jdk10/pull/53

[2018-08-10 18:07] DanHeidinga commented on #1166
@Ali-Ni Is this work complete?

[2018-08-10 18:27] Ali-Ni commented on #1166
Cgroup cpu quota checking and `-XX:ActiveProcessorCount` has been merged.  I think other future container awareness improvements can be delegated to other issues.

[2018-08-10 23:09] fengxue-IS commented on #2577
Iooking through the code changes made in #2434, this behavior should be due to we are now forcing shared ConstantPool entries between `invokeSpecial` and `invokeVirtual` to be split.

The patched bytecode `JBinvokespecialspilt` in interpreter is executing the method without the access check on the receiver class.

[2018-08-10 23:36] gacholio commented on #2577
Good catch - sounds like this was already a problem in some circumstances, and just made more frequent by your change.

[2018-08-11 02:54] gacholio commented on #2577
If possible, please try and common as much of the code as you can between invokespecial and invokespecialsplit. At a glance, once _sendMethod has been fetched, it should be very similar code.

[2018-08-12 20:16] lmajewski opened #2585 "Building OpenJ9 for e500v2 core equipped SoC"
Dear All,

I'm trying to build OpenJ9 on the PPC SoC equipped with e500v2 core. This core doesn't have the AltiVec IP block (Instead it uses the SPE extension for floating point calculation).

The problem seems to be with the OpenJ9 assumption that all supported cores support AltiVec instructions. One of the assembly tuned files:
./openj9/runtime/compiler/p/runtime/J9PPCCRC32.spp

This is the __cr

[2018-08-12 20:50] fjeremic commented on #2585
@gita-omr @ymanton this seems like your area of expertise. Could you help answer OP's questions?

[2018-08-13 01:46] ymanton commented on #2585
We only use AltiVec if we detect the processor at runtime and know that it supports AltiVec. The same applies to VSX and various other hardware features. The `__crc32_vpmsum` routine for example will only be called if we detected that the processor is an IBM POWER8 or later, otherwise we will not use it.

We don't detect the e500 so we will assume we are running on a basic PPC chip that has no sup

[2018-08-13 07:48] lmajewski commented on #2585
Does it mean that the OpenJ9 shall be compiled on very basic PPC ISA if no supported architecture is detected?

Why I do ask?
The guess-platform.sh script checks the system on which we do run. On Linux it seems like the
x86_64, ppc64 and ppc64le are supported.
The ppc (32 bit as e500_v2) is not supported out of the box.

[2018-08-13 09:53] adamfarley commented on #2579
@DanHeidinga - FYI: All three of these have been merged.

[2018-08-13 12:49] andrew-m-leonard opened #2587 "JDK12 module-info.java.extra GenModuleInfoSource compatibility error"
JDK12 has updated the GenModuleInfoSource build tool, and it is more stringent on the format of the module-info.java.extra files, we now get this error:
[code]

[2018-08-13 14:36] fjeremic commented on #2585
This script just attempts to guess the platform you're compiling OpenJ9 on. The compiler options (gcc or xlC) used when compiling OpenJ9 will target the minimum supported architecture level. I'm not sure what that is on Power, but presumably it is a very old processor.

What @ymanton is talking about is what happens at runtime. At runtime OpenJ9 will detect what processor you are running under and

[2018-08-13 14:47] pdbain-ibm commented on #2391
I downloaded ideaIC-2018.2.tar.gz for Linux X86. It runs simple operations (create and run HelloWorld) fine with the JRE embedded in the package.  I used the `Switch JDK` feature to select a recent builds of OpenJDK Java 10, with HotSpot and OpenJ9.  It failed to launch in both cases:
[code]

I suspect this is an incompatibility with the Java 10 packaging.
Note that the IntelliJ documentation http

[2018-08-13 14:47] hangshao0 commented on #1646
I will first enabling the bootstrap class sharing by default (which is WIP). Then looking at the multi-SCC scenario. In the multi-SCC scenario, I guess user does not need to tune the default bootstrap classes SCC and the the current -Xshareclasses option can be applied to the non-bootstrap classes SCC. Once I have more info, I will post them here.

[2018-08-13 14:52] hangshao0 commented on #1646
Also since Java 9 is obsolete, the bootstrap class sharing will be enabled in Java 10+ in my WIP pull request.

[2018-08-13 14:59] pdbain-ibm commented on #2391
@cdxf
I tested with the OpenJ9 and Hotspot Java 8 builds and both seem fine on Linux.  Would you kindly test with a Java 8 OpenJ9 build, such as https://github.com/AdoptOpenJDK/openjdk8-openj9-nightly/releases/download/jdk8u172-b11-201813080730/OpenJDK8-OPENJ9_x64_Windows_201813080730.zip.

Thank you
    -p

[2018-08-13 15:12] atawre commented on #2552
I got the debug build working for ubuntu 16 docker instance (host : ubuntu 14.04) .
thanks for quick help from babneet.

[2018-08-13 15:13] #2552 closed

[2018-08-13 15:17] keithc-ca commented on #2587
Fixed via #2586.

[2018-08-13 15:17] #2587 closed

[2018-08-13 15:44] ymanton commented on #2585
As @fjeremic said, `guess-platform.sh` is checking at build-time, not run-time. Since we don't compile OpenJ9 in 32-bit environments there is currently no support for it in the code, but feel free to add it.

If you want to port OpenJ9 to the e500 then most of your work will be in making changes to the build system to work in a 32-bit ppc environment. Once you have a successful build you shouldn't

[2018-08-13 15:51] lmajewski commented on #2585
No, it is not. This is quite powerful embedded system; 2 cores , 1.5GHz, 1 GiB RAM.
It just doesn't support altivec and has SPE instead.

I will look into the pointed thread. Thanks for reply.

[2018-08-13 16:15] cdxf commented on #2391
It works fine both with OpenJ9/Hotspot Java8 and Hotspot Java 10 (which I am using without problems),
I only have problems with OpenJ9 Java 10. The UI is very laggy, menubar sometimes unclickable, indexing is very buggy and I can't run the app or build it

[2018-08-13 16:51] cdxf commented on #2391
The latest time I tried with OpenJ9 Java 8 it fallback into the bundled JRE.
For some reason, Intellij can't recogize the OpenJ9 Java 8 (but can recognize Hotspot Java 8 and works fine):

`The enviroment variable JAVA_HOME (with the value of C:\Program Files\Java\jdk8u181-b13) does not point to a valid JVM installation.
`

I tried with different paths like jdk8u181-b13, jdk8u181-b13\bin, jdk8u181-

[2018-08-13 17:01] pdbain-ibm opened #2593 "Add utility method to get Attach API information"
Create a public static methods to:

- get the current process's VM ID
- check if the attach API is initialized or terminated
- check if another process is running.

This makes life easier for org.openj9.test.attachAPI.TargetManager

[2018-08-13 17:58] sehirst commented on #969
Note that for core dumps on z/OS, an extra step is needed. The dump is initially written to the MVS file system. It needs to be copied to the unix filesystem by the test framework in order to be included in the archive which gets uploaded.

[2018-08-13 20:55] #2577 closed

[2018-08-13 20:57] JasonFengJ9 opened #2596 "Java 11: j.l.i.MethodHandleNatives.mapLookupExceptionToError need an implementation"
[code]

[2018-08-13 21:01] JasonFengJ9 opened #2597 "Java 11: j.l.i.MethodHandle.internalMemberName need an implementation"
[code]

[2018-08-14 02:21] gacholio opened #2602 "invokespecial updates"
See #1730

invokespecial checks for NULL receiver before resolution. It needs a resolution check in the NPE case similar the invokevirtual/invokeinterface.

invokespecialsplit needs a similar change. It's also missing the profiling call in the case where the method is already resolved. Ideally, the code should be almost identical to invokespecial, which is made difficult by the fact that the unres

[2018-08-14 02:29] gacholio opened #2603 "Add FV mode to stress split bytecodes"
Invoke bytecode splitting (different invoke bytecodes targetting the same method ref) doesn't happen very often in the real world.

Add a command-line option to force all possible splits to occur in order to stress the unused codepaths.

[2018-08-14 02:30] gacholio commented on #2507
This should not be true. Should be fixed rather than documented.

[2018-08-14 03:46] babsingh commented on #2571
@thjaeckle I studied the issue in more detail. In the below micro-test, the Java main thread terminates while another Java thread is waiting to receive a SIGINT (Ctrl + C). In such a scenario, the JVM doesn't process shutdown signals (SIGINT/SIGTERM/SIGHUP). JVM processes shutdown signals only when the Java main thread is alive. There is a bug in OpenJ9; JVM should receive and process signals from

[2018-08-14 13:11] lmajewski commented on #2585
I've started the porting.

Why: OpenJ9 claims to be much faster than other JVMs.
Goal: To have OpenJ9 build on PPC (e500_v2 core).

For sake of simplicity I've decided to use zero variant (to avoid altivec issues) and build it native environment.

I've followed: https://www.eclipse.org/openj9/oj9_build.html
Side question: Why gcc 4.8 is used (recommended) ? I'm using gcc 6.4.0
After having the sou

[2018-08-14 13:43] fjeremic commented on #2585
There was work needed to get higher levels working. The JIT specifically made use of a slightly modified CRTP which work on gcc 4.8 but not on 5+ due to spec conformance. We should be able to build now with gcc 7.3 through and will be moving to that compiler level soon. See #1684.

[2018-08-14 13:59] pdbain-ibm commented on #2391
I installed a fresh copy of IDEA community edition on a Windows 10 system and set the boot SDK to the latest Windows download of OpenJ9 Java 10: https://github.com/AdoptOpenJDK/openjdk10-openj9-nightly/releases/download/jdk-10.0.2%2B13-201808131307/OpenJDK10-OPENJ9_x64_Windows_201808131307.zip.  I'm not intimately familiar with the expected behaviour of IDEA, the performance was similar to the def

[2018-08-14 14:09] dswierc opened #2604 "Eclipse OpenJ9 VM: Java OutOfMemoryError encountered when more than roughly 67M of Direct Byte Buffers are allocated."
Per J9 documentation (https://www.ibm.com/support/knowledgecenter/en/SSYKE2_8.0.0/com.ibm.java.vm.80.doc/docs/xxmaxdirectmemorysize.html), we were under the impression that the amount of memory reserved for Direct Byte Buffers is dynamically expanded from a "soft" limit of 64MB. We are not finding this in practice. When our application has allocated roughly 67M of direct memory we see the followin

[2018-08-14 14:11] fjeremic commented on #2604
@pdbain-ibm FYI, not sure if you are the best person or not to take a look at this.

[2018-08-14 15:15] ymanton commented on #2585
I don't know how the zero parts of OpenJDK are built for OpenJ9, but OpenJ9 itself doesn't have a "zero" VM so unfortunately it will be the same as building a non-zero VM and various assembly files and the JIT will have to be built.

Another strange thing - why AWT is build/needed at all? I've asked ./configure to build headless and without X VM.

I don't know if it is a bug in the OpenJDK build s

[2018-08-14 15:44] lmajewski commented on #2585
Ok, So this is a dead option.

I assume that you use PPC64? Have you ever tried to cross compile the OpenJ9?

Is there any way to improve the debug output?  I do have a hard time to find places where the files (like _the.BUILD_TOOLS_batch) are generated.

Also please correct me if I'm wrong, but it seems to me like the ./configure is already created in the repository (and downloaded). Maybe I do n

[2018-08-14 15:46] pdbain-ibm commented on #2604
I will take a look.

[2018-08-14 15:58] andrewcraik commented on #1637
@cathyzhyi any update on this?

[2018-08-14 16:06] ymanton commented on #2585
No, OpenJ9 only builds on ppc64le, not ppc64 or ppc (the IBM JDK builds on ppc64 in both 32- and 64-bit modes). I have not tried to cross-compile OpenJ9 myself, but I think we may support that for ARM targets, but I'm not sure.

Unfortunately not that I know of, OpenJ9 had to make changes to the OpenJDK build system in order to integrate, but some things are still less than perfect. The only thing

[2018-08-14 18:02] pdbain-ibm commented on #2604
Hmmm.  This works with IBM Java 7 Java 8, but not OpenJ9 Java 8.

[2018-08-14 19:34] pdbain-ibm commented on #2604
IBM (J9) uses a different implementation of `java.nio.Bits.reserveMemory()` from OpenJDK and OpenJ9. The J9 implementation will allocate arbitrarily large amounts of memory, per the documentation above. OpenJ9 and OpenJDK use the same implementation which has hard limits.  OpenJ9's limit is 3749183488 bytes, while OpenJ9's is 67108864.  I am looking to see where these are set...

[2018-08-15 13:01] pdbain-ibm commented on #2332
Functional code merged.  Verifying the changes to the test code now.

[2018-08-15 14:28] sxa555 commented on #2529
Not sure what caused this, but I was successfully able to build AO9/J9 using the 0.9.0 release branch on the adoptopenjdk CI and release it

[2018-08-15 14:33] machonerddude commented on #2604
That does not seem to be consistent with what I am seeing.  I am running with the option -Xmx1g which sets my max heap size to 1g.  I am seeing the OutOfMemory error at roughly 67M direct buffer memory utilization.

[2018-08-15 14:54] JervenBolleman opened #2617 "[0.9.0] Release notes missing"
I was expecting to see release notes in /doc/release-notes/0.9 as it was done for 0.8.
This currently does not exist but some marketing materials do point to it e.g. https://blog.openj9.org/2018/08/15/release-0-9-0-is-now-available/

[2018-08-15 15:41] smlambert commented on #2617
The notes, https://github.com/eclipse/openj9/blob/master/doc/release-notes/0.9/0.9.md, are mentioned in that blog post "You can check out the 0.9.0 release plan and [0.9.0 release notes](https://github.com/eclipse/openj9/blob/master/doc/release-notes/0.9/0.9.md) for details"...

[2018-08-15 15:51] smlambert commented on #2617
Apologies @JervenBolleman I misread your issue.  Where are you asking to have the notes linked from?

[2018-08-15 15:55] smlambert commented on #2617
Aha, a PR #1996 is still to be merged...  thanks for the heads up.

[2018-08-15 15:59] pdbain-ibm commented on #2604
Clarification: the **OpenJDK** VM is setting the maximum direct buffer memory, but **OpenJ9** doesn't (yet).  I'm working on it now...

[2018-08-15 16:08] smlambert commented on #2617
I have removed the reference from the blog post until it is merged.

[2018-08-15 18:05] vijaysun-omr commented on #1646
@mstoodle had an interesting question about this feature : should we consider enabling it in Java8 specifically in the OpenJ9 release (that is still a relatively new offering) ?

I suppose a similar question could be asked wrt changing the shared classes cache default size that was done some time back.

[2018-08-15 18:19] hangshao0 commented on #1646
I am fine with enabling bootstrap class sharing by default on OpenJ9 Java 8. Probably we can enable it on Java 10+ first and see how it goes. If everything is fine, we can backport onto OpenJ9 Java 8.

There is an open issue (#1938) about increasing the default shared cache size on Java 8.

[2018-08-15 19:33] JasonFengJ9 commented on #2597
Returning `null` for `j.l.i.MethodHandle.internalMemberName()` caused NPE within `java.lang.invoke.ConstantBootstraps.getStaticFinal(java.base@11-internal/ConstantBootstraps.java:168)`.
Returning a `MemberName` object requires its APIs to be implemented such as `isFinal()` which requires further implementation of class `MemberName`. Not sure if that's the direction to go.
Another option would be t

[2018-08-16 01:26] #2603 closed

[2018-08-16 01:57] DanHeidinga commented on #2597
Is `java.lang.invoke.ConstantBootstraps.getStaticFinal()` the only method that requires a MemberName?

Looking for some idea of how much of MemberName we'd need to implement and how many other places require it.

[2018-08-16 02:38] #2596 closed

[2018-08-16 02:48] JasonFengJ9 commented on #2597
@DanHeidinga so far `java.lang.invoke.ConstantBootstraps.getStaticFinal()` is the only method requiring `MemberName`. The tests expect either `true` (`Final`) or `false` (not `Final`) in different scenarios.
Will investigate how to set `MemberName` flag `Final` within a `MethodHandle`.
Agreed to avoid re-implementing `j.l.i.ConstantBootstraps`.

[2018-08-16 02:53] DanHeidinga commented on #2332
FYI @vijaysun-omr - the two HeapDump related options we discussed have been merged.

[2018-08-16 03:07] JaredMacCleary opened #2628 "Core dump results when trying to run "hello, world" program in NetBeans 9"
Following a clean install of Apache NetBeans 9.0 and setting the jdk_home setting in etc/netbeans.conf to Eclipse OpenJ9 10 jdk, attempting to run a simple "hello, world" program results in a core dump and crash of NetBeans.

I think all the relevant info is in the output from running ./netbeans pasted below.  Please let me know if you need anything else.  If it's helpful, I'm running CentOS with

[2018-08-16 04:54] d0k1 commented on #2543
To implement command line diagnostic utilities like jstack / jmap / etc I decided to use Attact API just as jstack does. Attach API extension contains 8 new commands. Among them, there are commands to get javadump/systemdump/heapdump/snapdump and to get Information about memory, about loaded/unloaded classes about JIT compilation time. There is one command to get a thread dump through com.ibm.lang

[2018-08-16 08:04] lmajewski commented on #2585
Do you have maybe the build system adjustments to cross-compile the OpenJ9 on ARM? I mean the arm is also not supported (at all), so I could reuse some of its code on ppc port.

[2018-08-16 08:46] pmhayward commented on #2617
PR #1996 is now merged, so release notes are available at https://github.com/eclipse/openj9/blob/master/doc/release-notes/0.9/0.9.md

[2018-08-16 09:31] JervenBolleman commented on #2617
Thank you, I think this issue can be closed then. Maybe open a process improvement issue is so that release notes are merged before the release.

[2018-08-16 10:01] andrew-m-leonard commented on #2468
@sxa555 Has anyone found reports of this on AIX in the openjdk maillist or bug reports at all? if it fails with Hotspot at Adopt presumably they would hit the issue too?

[2018-08-16 12:36] pdbain-ibm commented on #2628
This looks suspicious:
[code]
@JaredMacCleary would you kindly attach the javacore, snap, and, if possible, core dump files.

[2018-08-16 12:57] pdbain-ibm commented on #2604
@SueChaplain FYI.  We will need to update the Knowledge Center documentation to draw attention to the distinction between classic J9 and OpenJ9.

[2018-08-16 14:12] AlenBadel commented on #2555
Building -Xdump you provided failed to produce a core file

[2018-08-16 14:38] #1519 closed

[2018-08-16 14:40] pdbain-ibm commented on #2604
Pull request opened: https://github.com/eclipse/openj9/pull/2629

[2018-08-16 15:43] JasonFengJ9 opened #2630 "Java 11 nest member and host must be loaded by same classloader?"
`OpenJ9 vm/visible.c:loadAndVerifyNestHost()` assumes that nest host and members must be loaded by same classloader as following comments:
[code]
Is it possible there are two custom class loaders (one is another's ancestor) such that one loads nest host and anther loads nest members?

Specification states:
[code]
`SecurityException` - If the returned class is not the current class, and if a securi

[2018-08-16 16:03] keithc-ca opened #2632 "jar: protocol should not treat \ specially"
In https://github.com/eclipse/openj9/pull/2589 changes were made to treat `"!\"` the same as `"!/"`: I don't think this is appropriate. The code is dealing with a URL, which consistently uses forward slashes `/`, even on Windows. Perhaps changes are required elsewhere to map pathnames (that might use backslashes `\`) to `jar:` URLs.

[2018-08-16 16:33] llxia commented on #2037
Created jobs for wins:
https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK8-win_x86-64_cmprssptrs/
https://ci.eclipse.org/openj9/view/Test/job/Test-extended.functional-JDK8-win_x86-64_cmprssptrs/
https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.system-JDK8-win_x86-64_cmprssptrs/
https://ci.eclipse.org/openj9/view/Test/job/Test-extended.system-JDK8-win_x86-64_cmprssptrs/

[2018-08-16 16:33] llxia commented on #2037
System test has issue running on wins https://github.com/AdoptOpenJDK/openjdk-tests/issues/513

[2018-08-16 18:34] tajila commented on #2630
This is being addressed by the following PR, https://github.com/eclipse/openj9/pull/1531

[2018-08-16 19:55] #2630 closed

[2018-08-16 20:21] AdamBrousseau opened #2637 "Investigate Options for Jenkins artifact Storage"
Related #1017
Our space is limited on our Jenkins master. Eclipse has asked us to target 100G and we are currently using almost double of that [[1]](https://ci.eclipse.org/openj9/view/Infrastructure/job/Check-Master-Disk-Usage/). [Artifactory](https://jfrog.com/artifactory/) is an artifact repository manager and could allow us to stash (temporarily) our SDKs somewhere other than master. They offer

[2018-08-16 20:31] AdamBrousseau commented on #2637
I went ahead and created a 1T volume in the OpenStack Dashboard and attached it to proxy_worker (/dev/vdb). I needed to format etc the drive and mount it on the machine.
ref: https://askubuntu.com/questions/154180/how-to-mount-a-new-drive-on-startup

[code]
Press o and press Enter (creates a new table)
Press n and press Enter (creates a new partition)
Press p and press Enter (makes a primary parti

[2018-08-16 20:50] #2559 closed

[2018-08-16 20:59] 0xdaryl commented on #2418
As discussion on this topic has petered out and in the interests of moving it toward a resolution, I am recommending that we proceed with a solution to compile the JIT assembly files with the Netwide Assembler (NASM).  Justification follows:

* There is a consistent solution available on all x86 operating systems (Windows, Linux, and macOS).  The same source file can be consumed on each platform w

[2018-08-16 21:38] #2632 closed

[2018-08-16 22:26] ymanton commented on #2585
Unfortunately I don't, I haven't spent any time on ARM. @JamesKingdon might have some info on how to get OpenJ9 to cross compile and/or some patches for that on ARM.

[2018-08-16 22:37] charliegracie commented on #2418
I have given the lastcomment from Daryl both a thumbs up and a thumbs down.  I love the idea of getting rid of current files but I would much rather switch to M4 to be consistent with the rest of the codebase.

[2018-08-17 03:35] DanHeidinga commented on #2418
I have to second @charliegracie's concerns with not pursuing a consistent project wide approach.

Has any investigation been done in porting the existing JIT asm files to M4?  Being able to compare the two approaches would make a stronger case for picking one over the other.

Earlier in this thread I asked how the NASM approach applied to other architectures.

If NASM a preferred solution for the

[2018-08-17 04:00] DanHeidinga commented on #2555
Can you attach the javacore that was created?

Odd that the system core creation failed.  Can you tell me more about the environment? Do the `ulimits` allow cores to be created?  Which version of linux are you using?  Is this in a docker image?

[2018-08-17 06:56] miri-aarch64 opened #2640 "Wrong aarch64 build result for openj9-openjdk-jdk10 and openj9-openjdk-jdk9"
**Expected behavior**
Running the build script for openj9-openjdk-jdk10 or openj9-openjdk-jdk9 for target platform aarch64 results into the binary for aarch64 platform to ensure openj9-openjdk support for aarch64.

**Actual behavoir**
Running the build script from https://github.com/eclipse/openj9/tree/master/buildenv/docker/jdk10/aarch64_CC/arm-linux-aarch64 based on the instructions from https:/

[2018-08-17 11:26] stmaute opened #2641 "Unexpected JVM behaviour (ASSERTION FAILED ** at MemorySubSpace)"
Hi OpenJ9 guys.
I currently encountered an unexpected behaviour of your JVM. I am using openjdk8-openj9 with the new released version [jdk8u181-b13_openj9-0.9.0](https://github.com/AdoptOpenJDK/openjdk8-openj9-releases/releases/tag/jdk8u181-b13_openj9-0.9.0) (from AdoptOpenJDK).

The dockerized application running inside the JVM stopped working and the following lines were logged (Docker container

[2018-08-17 11:33] pdbain-ibm commented on #2641
@dmitripivkine or @amicic could you take a look?
[code]

[2018-08-17 12:01] pdbain-ibm opened #2642 "IOException deleting files in VmArgumentTests_0 on windows"
[code]

[2018-08-17 12:14] ashu-mehra commented on #2641
Crash in GC with current thread as `VM Runtime State Listener` indicates we are trying to do something (probably doing GC or de-committing free pages) during idle phase.
I believe we don't support this feature for `balanced` gc policy. It is only supported for `gencon`.
I guess we are missing check for gc policy when turning on idle tuning.

[2018-08-17 12:30] ashu-mehra commented on #2641
This should be a problem only if docker image is used since it enables idle tuning by default.

[2018-08-17 12:33] stmaute commented on #2641
I had a look in the logs and saw that these two parameters were set:
-XX:+IdleTuningCompactOnIdle, -XX:+IdleTuningGcOnIdle

Will disabling these parameter fix the problem?

[2018-08-17 12:40] ashu-mehra commented on #2641
@stmaute yes, those two options are for enabling idle tuning. So disabling them should also work.

[2018-08-17 12:43] keithc-ca commented on #1736
I think this is fixed by https://github.com/eclipse/openj9/pull/2454. @sophia-guo please close if you agree.

[2018-08-17 13:02] pdbain-ibm opened #2643 "threadMXBeanTestSuite2_1 hangs"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK10-linux_x86-64/48/console:

[code]

Looks like a regression as of https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK10-linux_x86-64/45/console Tue Aug 14.
Changes listed for https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All/182/

- Test Cases for Modularity DDR Commands (detail / githubweb)
- Use vector size method

[2018-08-17 13:18] pdbain-ibm opened #2644 "Java 8 generalExtendedTest_0: no tests found"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_ppc-64_cmprssptrs_le/55/tapResults/

[code]

[2018-08-17 13:36] stmaute commented on #2641
@ashu-mehra I will test it with both parameters disabled (-XX:-IdleTuningCompactOnIdle and -XX:-IdleTuningGcOnIdle).
Thx for the quick help!

[2018-08-17 13:38] DanHeidinga commented on #2604
@pdbain-ibm Please open an issue for the doc update at the https://github.com/eclipse/openj9-docs repo

[2018-08-17 13:53] sophia-guo commented on #1736
This is still issue on windows without cygwin as default cmd. https://github.com/AdoptOpenJDK/openjdk-tests/issues/499. We do have a correctly configured windows machine test-azure-win2012r2-x64-1 now in AdoptOpenJDK and temporarily disabled problematic machine test-packet-x64-windows-2012r2-1.

As Windows with cygwin is a prerequisite for openj9 and AdopetOpenJDK test project this should not be a

[2018-08-17 13:53] #1736 closed

[2018-08-17 13:57] pdbain-ibm commented on #2604
Done: https://github.com/eclipse/openj9-docs/issues/67

[2018-08-17 15:43] llxia commented on #2037
Windows label issue AdoptOpenJDK/openjdk-tests#517

[2018-08-17 17:38] AdamBrousseau commented on #1787
Eclipse has installed version 2.19.0 for us on the master at /usr/bin/git
Default git is still 1.9.0 located at /usr/local/sbin/git
Jenkins master has a global tool config where the default git is set to `git`. I tried changing this to /usr/bin/git but that has the side effect of trying to run that git on all the slaves. The Windows machines can't execute /usr/bin/git properly (even though that is

[2018-08-17 19:50] babsingh commented on #2571
#2650 will fix this issue. I have verified that the above micro-test (**QuickTestThread**) works properly with the fix. I have also verified that **eclipse/ditto::PoliciesService.main** gracefully terminates with the fix.

[code]

[2018-08-18 02:26] #2567 closed

[2018-08-18 13:39] JaredMacCleary commented on #2628
[javacore.20180815.222448.25324.0002.txt](https://github.com/eclipse/openj9/files/2299554/javacore.20180815.222448.25324.0002.txt)

[Snap.20180815.222448.25324.0003.trc.zip](https://github.com/eclipse/openj9/files/2299555/Snap.20180815.222448.25324.0003.trc.zip)

I'm sorry for the slow reply.  Attached are the javacore and Snap files.  The core dump is over a gig, which I assume is too large to up

[2018-08-18 15:17] charliegracie commented on #2628
It looks like this might be the same problem as Issue #1203

[2018-08-19 00:23] JasonFengJ9 opened #2653 "FindStore.FindClassfile java.lang.ClassNotFoundException: jnurlcldr.shared.findstore.N_Dummy"
Test-sanity.functional-JDK10-win_x86-64_cmprssptrs

Testing: FindStore.FindClassfile
Test start time: 2018/08/17 14:58:53 Greenwich Mean Time
Running command: "C:/Users/j9build/jenkins/workspace/Test-sanity.functional-JDK10-win_x86-64_cmprssptrs/openjdkbinary/j2sdk-image/bin\\java"  -Xcompressedrefs -Xcompressedrefs -Xjit -Xgcpolicy:gencon    -Xshareclasses:nonpersistent,controlDir=.,name=FindStor

[2018-08-19 00:28] JasonFengJ9 commented on #2653
Test-sanity.functional-JDK8-win_x86-64_cmprssptrs

Testing: FindStore.FindClassfile
Test start time: 2018/08/16 20:04:58 Greenwich Mean Time
Running command: C:/Users/j9build/jenkins/workspace/Test-sanity.functional-JDK8-win_x86-64_cmprssptrs/openjdkbinary/j2sdk-image/jre/bin\\..\\..\jre\bin\java.exe  -Xcompressedrefs -Xcompressedrefs -Xjit -Xgcpolicy:gencon    -Xshareclasses:persistent,controlDir

[2018-08-19 00:31] JasonFengJ9 opened #2654 "Test-extended.functional-JDK8-linux_390-64_cmprssptrs generalExtendedTest_0 [TestNG] No tests found. Nothing was run"
[code]

[2018-08-19 03:07] #2571 closed

[2018-08-20 02:56] DanHeidinga commented on #2571
I had to revert the fix for this due to new test failures - see https://github.com/eclipse/openj9/pull/2658 for details

[2018-08-20 03:00] DanHeidinga commented on #2571
@babsingh Can you take another look at your patch in light of the `threadMXBeanTestSuite2_2` hang?  See the #2658 revert PR for details.

[2018-08-20 03:09] jsonyu opened #2659 "Graphics2D NullPointerException: sun.awt.FontConfiguration.getVersion(FontConfiguration.java:1264)"
Hi,

We're seeing a NPE while using the Graphics2D api.. this code works in Hotspot but generates the NPE in Openj9:

[code]

[2018-08-20 05:54] stmaute commented on #2641
Disabling IdleTuning solved the problem for me.

[2018-08-20 05:54] #2641 closed

[2018-08-20 09:11] lmajewski commented on #2585
If I may ask about OMR's tools - namely tracemerge, hookgen, etc.

What is their purpose? In my native build - for example the tracemerge is used during build:
./tracemerge -majorversion 5 -minorversion 1 -root .

Why do we need to merge trace information during build?
Moreover, this means that it shall be cross-compiled on the HOST (x86_64| PPC64).
Why OpenJ9 needs it?

I've also noticed the OMR_

[2018-08-20 13:38] lmajewski commented on #2585
Ok, so those are components, which will be used by running JVM instance and hence shall be either cross-compiled of build natively.

[2018-08-20 13:47] DanHeidinga commented on #2585
They're only needed as part of the build and not at runtime.

[2018-08-20 14:04] JasonFengJ9 commented on #2659
Looking at it.

[2018-08-20 15:29] DanHeidinga commented on #2585
Sorry I wasn't clear.  Most of the tools - like hookgen & tracemerge -  are only used when OpenJ9 is compiled and can be compiled as x86_64.

There is one that depends on right architecture: `constgen`

If you support DDR (used for debugging jvm crashes), it will also need to run on the right architecture.

[2018-08-20 15:31] #2602 closed

[2018-08-20 16:01] hangshao0 commented on #2653
I will investigate.

[2018-08-20 16:45] nbhuiyan commented on #2418
@DanHeidinga

I personally have not spent much time investigating the possibility of porting the existing JIT x86 asm files into M4. Besides the significant differences in the way M4 works vs. MASM, there are certain limitations in M4 that @0dvictor already mentioned (i.e, lack of local macro/variable/label support and difficulty with debugging in M4) that may make it more difficult to perform and

[2018-08-20 17:07] llxia commented on #2654
Close this issue as it is a dup for #2644.

[2018-08-20 17:07] #2654 closed

[2018-08-20 17:36] llxia commented on #2644
This also happens on JDK10.
https://ci.eclipse.org/openj9/view/Test/job/Test-extended.functional-JDK10-linux_x86-64_cmprssptrs/

History jobs show `generalExtendedTest_0` runs `SortTest ` (test/gpu/SortTest.java)
[code]

It seems after https://github.com/eclipse/openj9/pull/2624, TestNG cannot find the test any more.

[2018-08-20 18:27] d0k1 commented on #2659
@jsonyu @JasonFengJ9 I faced with that problem today and solution was to install fontconfig (Ubuntu based OS `sudo apt install fontconfig` ) in order to avoid NullPointerException in sun.awt.FontConfiguration / sun.font.FontManagerFactory#getInstance.

[2018-08-20 18:45] fjeremic commented on #2659
We should probably document this somewhere. @SueChaplain FYI.

[2018-08-20 20:17] AlenBadel commented on #2555
You were absolutely right, I was able to capture results after enabling core file generation via ulimit.

Attached are the results.

This was generated by using the follow jdk - on powerpc but was reproduced on X86.

openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-b13)
Eclipse OpenJ9 VM (build master-60bc16b9, JRE 1.8.0 Linux ppc64le-64-Bit Compressed References 20180806_2

[2018-08-20 21:12] fengxue-IS opened #2662 "Refactor MH.resolveConstantDynamic/InvokeDynamic"
There are duplicate code between `MethodHandle.resolveConstantDynamic and resolveInvokeDynamic` that could be merged into a common helper method

From #1533

[2018-08-20 23:27] jsonyu commented on #2659
@JasonFengJ9  here it is:

[code]

[2018-08-20 23:28] jsonyu commented on #2659
@JasonFengJ9 here it is:

[code]

[2018-08-20 23:38] jsonyu commented on #2659
@d0k1 thanks, we dont have the same problem using hotspot on the same machine (centos 7), but will check your reco.. just a background, we've moved a couple of our production app servers to use openj9 and going through the logs looking for possible incompatibilities.. so far this is it for me.

[2018-08-21 00:00] jsonyu commented on #2659
Also looks like both the jdk and jre's are missing the lib/fonts directory:

`INFO: ParseFontDir /mnt/pol-apps/jdk8u181-b13-openj9/jre/lib/fonts`

copying hotspot's own fonts dir doesnt work either (can't blame me for trying)..looks like a different format or implementation.

[2018-08-21 00:56] JasonFengJ9 commented on #2659
@jsonyu can you check if hotspot has following files under `jre/lib`?
[code]

[2018-08-21 02:05] babsingh commented on #2571
@DanHeidinga `threadMXBeanTestSuite2_2` hang happens even without my changes (https://github.com/eclipse/openj9/pull/2650). the hang occurs intermittently. the first occurrence of the hang was 3-4 months ago. due to the intermittent nature of the hang, it has been ignored and it has stayed unnoticed. I have added more details about the hang in #2658. It's related to exclusive VM access. `threadMXB

[2018-08-21 02:18] DanHeidinga commented on #2571
Thanks for digging into this @babsingh.  If you open a new PR for the change, I'll review and merge it.

[2018-08-21 10:36] jsonyu commented on #2659
@d0k1 could be because it was using hotspot VM as per your version output above?

@JasonFengJ9 good point, I just did the same test ie copy the entire fonts directory to lib/fonts in openj9 jre and the fontconfig.* from the hotspot lib to the openj9 lib directory.  This time I did not get the NPE, I did get an image output.. however, it doesnt seem to be rendering any fonts ie empty image.  Here's

[2018-08-21 12:50] keithc-ca commented on #2644
It seems SortTest *was* found, we even see its output:
[code]

[2018-08-21 12:54] babsingh commented on #2643
Referring to https://github.com/eclipse/openj9/pull/2658, `threadMXBeanTestSuite2_2` also hangs. The hang is intermittent, and it seems to be an exclusive VM access issue. More details for hang are available [here](https://github.com/eclipse/openj9/pull/2658#issuecomment-414474905).

@DanHeidinga does the `threadMXBeanTestSuite*` failures block the Eclipse CI builds? do we need to disable `threadM

[2018-08-21 13:09] DanHeidinga commented on #2643
It's an intermittent failure so definitely a candidate for exclusion.  The only time it will block anything is if it fails in a PR build where committer will have to either rerun the build or recognize this as a known issue.

[2018-08-21 14:15] lmajewski commented on #2585
With current version of openJ9 build system (scripts) the successful configure gives following output:

* ccache status:  installed, but disabled (version older than 3.1.4)

Build performance tip: ccache gives a tremendous speedup for C++ recompilations.
You have ccache installed, but it is a version prior to 3.1.4. Try upgrading.

The problems is that on my system:
/openj9-openjdk-jdk8# ccache -V

[2018-08-21 14:29] hangshao0 commented on #2653
I re-ran these tests on Java 8 and Java 10, it passed. Might be a machine issue. I will try re-producing on the failed machines.

[2018-08-21 14:46] DanHeidinga commented on #2585
@dnakamura Any thoughts on the ccache question?

[2018-08-21 14:54] sxa555 commented on #2468
I would expect so, yes (unless it's toolchain specific) although I don't follow whichever list you're referring to closely and I don't see an easy way to search it ...

[2018-08-21 15:10] dnakamura commented on #2585
I believe the openjdk code assumes that the version < 3.1.4 if it fails to parse the version. IT's been a while since I looked at the relevant code, but I think they fail to parse when they seee anything other than digits or a decimal points. Will look into it

[2018-08-21 17:25] cathyzhyi opened #2668 "Implement compiled method field watch support via read barrier and write barrier (JIT part)"
As things stand currently under full speed debug, when an agent requests a field to be watched we cannot JIT compile the method because we cannot respect the hooks for reporting accesses of the respective field. This limitation will be lifted by using the rdbar / rdbari/ wrbar/ wrbari opcodes to represent reads/writes which have requested fields of certain types to be watched.

The JIT will genera

[2018-08-21 17:28] cathyzhyi commented on #2668
For each read and write barrier node, JIT needs to test J9ClassHasWatchedFields bit for the J9Class and if set call the appropriate vmhelper to report the event. All event reporting should take place before the read or write. During the event handler for a read, the value being read may be changed, so you should not cache the value across the report call.
VM provides JIT codegen with 4 helpers to

[2018-08-21 20:03] hangshao0 commented on #2640
OpenJ9 does not support aarch64 yet. OpenJ9 builds on top of OMR. There are some on-going effort porting OMR onto aarch64 (https://github.com/eclipse/omr/issues/2327).

[2018-08-21 20:07] DanHeidinga commented on #2555
Sorry, might be slow today but I don't see a core file attached or linked from here.  Can you point me at the core?

[2018-08-21 20:19] babsingh opened #2669 "Build_Instructions_V11.md points to JDK10 build instructions"
[Build_Instructions_V11.md](https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V11.md) was copied from [Build_Instructions_V10.md](https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V10.md).

[Build_Instructions_V11.md](https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V11.md) should talk about building JDK11. But, it talks abou

[2018-08-21 21:38] jdmpapin opened #2673 "[Nestmates] Handle private invoke for jitted unresolved invokevirtual/interface"
With nestmates, when the JIT compiler encounters an `invokevirtual` or `invokeinterface` bytecode instruction with an unresolved constant pool entry, it's not possible to tell whether or not it's calling a private method. As such, the code generated for unresolved virtual and interface calls must deal with the possibility that after run-time resolution, the method turns out to be private.

These c

[2018-08-21 22:28] ChengJin01 commented on #2669
@babsingh,  only Windows section was updated in Build_Instructions_V11.md (the remaining part comes from JDK10) as I only worked on Windows. Please get people working on other platforms to update the rest of document or directly delete all of them.

[2018-08-21 22:30] keithc-ca commented on #2468
In JDK11 and JDK12, source files are compiled with `-qvisibility=hidden` when using xlc version other than 12.1. That doesn't seem to play well with link option `-bexpall`.

I'm investigating whether alternate definitions of `JNIEXPORT` and `JNIIMPORT` will fix this.

See also this open issue: https://bugs.openjdk.java.net/browse/JDK-8204541.

[2018-08-22 00:39] gacholio commented on #2643
I know what the problem is.

Each thread handing off (the hander) expects not to have the "not counted" bit set, so that the thread will eventually report in and allow the thread which was handed off to (the handee) to obtain exclusive and proceed. In normal exclusive, this is guaranteed by the fact that the thread which first acquires exclusive never sets "not counted" on itself, and when handoff

[2018-08-22 01:35] DanHeidinga commented on #2673
@gita-omr As a committer, you're able to add issues to projects.  I'll do this one but please add them yourself in the future.

[2018-08-22 02:02] gacholio commented on #2643
The reason this is so intermittent is that it requires a very precise set of circumstances.

When exclusive begins, all threads are hammered with "halt for exclusive" and "not counted". Any thread which checks in before the exclusive acquirer starts counting will end up with the "not counted" bit still being set, since releaseVMAccess does not clear it.

This would be the case if multiple threads

[2018-08-22 03:37] gita-omr commented on #2673
@DanHeidinga that's what I thought too, but clicking on 'Projects' gave me empty menu. Probably some other way?

[2018-08-22 13:35] llxia commented on #2644
@keithc-ca the output in my comment was from a history run before #2624 was committed. It is to show `SortTest` was executed fine before. But `SortTest` is not executed now. Please see Peter description for current behavior.

I am not exactly sure why this is happening. Need more investigation.

[2018-08-22 13:43] cathyzhyi commented on #1637
In mimicInterpreterFrame shape the method monitor slot is treated as an extra auto slot and there is no real used in the java bytecode of this auto slot and therefore OSRLiveRangeAnalysis conclude this auto slot is dead and zeroed that slot out. Disable OSRLiveRangeAnalysis for interpreter frame shape since it's not really needed. The fix is in https://github.com/eclipse/omr/pull/2881.

[2018-08-22 14:17] babsingh commented on #2669
I will update the documentation; it's pretty straightforward.

But, it's bad practice to pollute user documentation with invalid information. `Build_Instructions_V11.md` should only contain information specific to building JDK11. If I was only going to provide Windows specific information for building JDK11, then I would have avoided/excluded invalid information for other platforms in the first pl

[2018-08-22 14:18] pdbain-ibm commented on #2332
@vijaysun-omr and @DanHeidinga
I believe this is complete.  May we close it?
Thank you
    -p

[2018-08-22 14:27] hangshao0 commented on #2653
These tests passed on previously failed machines. I am closing this issue.

[2018-08-22 14:30] babsingh commented on #2152
Releases for **openjdk9-openj9** are available at AdoptOpenJDK: https://adoptopenjdk.net/archive.html?variant=openjdk9&jvmVariant=openj9.

Now, the following bootJDK links in JDK10 Dockerfiles work:
1) **openjdk9-openj9 x64_linux**: https://api.adoptopenjdk.net/openjdk9-openj9/releases/x64_linux/latest/binary
2) **openjdk9-openj9 ppc64le_linux**: https://api.adoptopenjdk.net/openjdk9-openj9/releas

[2018-08-22 14:30] #2152 closed

[2018-08-22 14:50] vijaysun-omr commented on #2332
Thanks for your work in getting these mappings done @pdbain-ibm
I am unsure if this issue was meant to be a place to track Hotspot to OpenJ9 mappings on an ongoing basis or just for capturing the mappings that were mentioned above.
If it's the latter then I have no issues closing it.

[2018-08-22 14:59] smlambert commented on #2152
FYI, you may wish to update those bootJDK links to use the v2 version of the API at AdoptOpenJDK
(described here: https://api.adoptopenjdk.net/README).  While those v1 links still work, I assume the use of the v1 api is deprecated now.

[2018-08-22 15:28] AdamBrousseau commented on #1787
Haven't seen this issue reappear yet. Will close this issue. Can reopen if it resurfaces.

[2018-08-22 17:54] DanHeidinga opened #2679 "JEP 331: Low-Overhead Heap Profiling"
Determine if / how OpenJ9 should implement JEP 331:  http://openjdk.java.net/jeps/331

[2018-08-22 17:56] #2190 closed

[2018-08-22 18:00] DanHeidinga commented on #2332
That's my intention for this issue.  A common place to track options that need to be mapped

[2018-08-22 18:28] AlenBadel commented on #2332
While running neo4j I noticed the following options used however they were not mapped to anything on openj9.

-XX:+UseG1GC - Use the Garbage First (G1) Collector.
-XX:+PrintGCDetails - Prints all GC collections
-XX:+PrintGCDateStamps -  (Exists in Java 8 but removed in Java 9)
-XX:+PrintGCApplicationStoppedTime - Prints GC stop the world time, (safepoint time rather than gc)
-XX:+PrintPromotionFai

[2018-08-22 18:45] yanluo7 commented on #2307
For Constant Dynamic (condy for short), a new CP entry is defined as:
[code]
The value field stores the result of the resolution helper as such:
- For primitive condy type, a corresponding autobox'd object (e.g. `j/l/Integer` for `int` type) will be stored in value field.
- For object condy type, the actual object will be stored in value field.

If the condy is already resolved:
- for primitive ty

[2018-08-22 18:46] yanluo7 commented on #2307
OMR commit: https://github.com/yanluo7/omr/commit/222044b3f545ef8d52b6ae0f63edcb527535fefe
openj9 commit: https://github.com/yanluo7/openj9/commit/b68469ffff3aa1fe8738c662467af1e46281b318

Commit depend on VM helper APIs currently not yet merged.

[2018-08-22 20:32] #2643 closed

[2018-08-22 20:34] gacholio commented on #2643
Please unexclude any tests.

[2018-08-22 21:04] #2366 closed

[2018-08-23 00:33] JasonFengJ9 opened #2683 "Test-extended.functional-JDK10-linux_390-64_cmprssptrs failures"
===============================================
Running test JCL_FVTest_Internal_0 ...
===============================================

FAILED: testGerman
java.lang.AssertionError: Test German failed expected:<53> but was:<1>
	at org.testng.AssertJUnit.fail(AssertJUnit.java:59)
	at org.testng.AssertJUnit.failNotEquals(AssertJUnit.java:364)
	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:8

[2018-08-23 00:39] JasonFengJ9 opened #2684 "Test-extended.functional-JDK8-linux_390-64_cmprssptrs TestFileLocking failures"
`===============================================`
Running test TestFileLocking_SE80_0 ...
`===============================================`
TestFileLocking_SE80_0 Start Time: Wed Aug 22 00:48:05 2018 Epoch Time (ms): 1534913285181
test with NoOptions
[IncludeExcludeTestAnnotationTransformer] [INFO] exclude file is /home/j9build/workspace/Test-extended.functional-JDK8-linux_390-64_cmprssptrs/openjd

[2018-08-23 00:45] JasonFengJ9 commented on #2653
See it again at `Test-sanity.functional-JDK10-win_x86-64_cmprssptrs/100`
Testing: FindStore.FindClassfile
Test start time: 2018/08/22 21:37:09 Greenwich Mean Time
Running command: "C:/Users/j9build/jenkins/workspace/Test-sanity.functional-JDK10-win_x86-64_cmprssptrs/openjdkbinary/j2sdk-image/bin\\java"  -Xcompressedrefs -Xcompressedrefs -Xjit -Xgcpolicy:gencon    -Xshareclasses:nonpersistent,contr

[2018-08-23 13:33] zl-wang commented on #2673
Maybe I am wrong (I only read this very briefly this morning), but the InvokeVirtual handling looks very sub-optimal.

It appeared, if it were resolved to with J9_VTABLE_INDEX_DIRECT_METHOD_FLAG,  that call site would not be polymorphic anymore (similar to a static method).  It can be patched into like a static call (for better performance).  CodeGen needs to prepare for a potential trampoline res

[2018-08-23 13:46] zl-wang commented on #2673
P.S.
For InvokeInterface, if it is resolved to be J9Method *,   it is single target?   i.e.  not polymorphic anymore? I guessed we could do better in this case.

[2018-08-23 13:51] jdmpapin commented on #2673
Yes, all of the `DIRECT` calls are monomorphic. However, any such calls that are important will generally be resolved by the time we compile, and for those we will generate a direct call without involving PicBuilder.

The unresolved case has intentionally suboptimal performance in order to reduce complexity. There is room for future improvement if/when this case becomes important.

[2018-08-23 13:57] zl-wang commented on #2673
Watch out for InvokeInterface then.  It is always unresolved from JIT perspective.

[2018-08-23 13:58] zl-wang commented on #2673
I guessed you meant ILGen can turn InvokeInterface into InvokeSpecial or InvokeStatic in the normal cases for this.

[2018-08-23 14:04] jdmpapin commented on #2673
Right, we detect when the constant pool entry is resolved to anything other than a "normal" interface method, and generate IL for either a direct call (as though for `invokespecial`) or a virtual call (as though for `invokevirtual`). The logic is in #2648

[2018-08-23 14:15] llxia commented on #2644
I will exclude the test for now.

[2018-08-23 14:35] andrewcraik commented on #2307
@yanluo7 two points:
- the unresolved aload will need to be under a ResolveCHK treetop to ensure the side-effects of resolution and potential exception are captured
- we need to consider what aliasing these constand dynamic symbols need - the unresolved ones will need to be conservative because the method handle run to resolve the constant dynamic could have arbitrary side-effects including modify

[2018-08-23 14:50] hangshao0 commented on #2653
There is another failure on Java 8. Both the Java 8 failure and the failure in the above comment (Java 10) are running on the same machine. I will re-try on that machine.

[2018-08-23 15:44] DanHeidinga commented on #2659
That doesn't sound right.  I think there's more to do here.

@JasonFengJ9 Have you been able to reproduce the issue and the empty image?

[2018-08-23 15:50] JasonFengJ9 commented on #2659
Will attempt to reproduce the issue.

[2018-08-23 16:28] JasonFengJ9 commented on #2659
Not able to reproduce the problem reported. OpenJ9 (adoptopenjdk build 20180808_280) is able to create the image, and the image can be written to a file and viewed with text specified.

@jsonyu  does "empty image" mean `outStream.size()` is zero, or the image is empty without the text specified? Please provide results for hotspot JVM, and/or after `sudo apt install fontconfig` if possible.

[2018-08-23 16:41] gacholio commented on #1637
OMR change has been merged,

[2018-08-23 16:41] #1637 closed

[2018-08-23 17:49] #2669 closed

[2018-08-23 18:52] sophia-guo opened #2688 "Class.getMethods test is missing"
Class.getMethods are not invoked by sanity tests. org.openj9.test.reflect.GetMethodsTests has been implemented. Looks like just a missing line ` <class name="org.openj9.test.reflect.GetMethodsTests" /> ` in file test/functional/Java8andUp/testng.xml

[2018-08-23 18:54] sophia-guo commented on #2688
@felipepontes-research could you confirm that?  Related with https://github.com/eclipse/openj9/pull/1792

[2018-08-23 19:05] felipepontes-research commented on #2688
@sophia-guo yes. It is missing.

[2018-08-23 20:45] hangshao0 commented on #2653
It is a test/timing issue. I will fix this.

[2018-08-23 23:50] keithf22 opened #2696 "Request for root Certification Authority (CA) certificates in the JDK"
The OpenJ9 jdk8u181-b13\jre\lib\security\cacerts file is empty. This is causing the below exception. (Setting javax.net.ssl.trustStore system property to a valid cacerts file works around the problem.)

_java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty at java.security.cert.PKIXParameters.setTrustAnchors(PKIXParameters.java:200)_

Per http://openjdk.ja

[2018-08-24 03:38] #2579 closed

[2018-08-24 09:50] andrew-m-leonard commented on #2659
OpenJDK  does not provide fontconfig for Linux, you need to install OS dependent libararies. OpenJDK does provide some for the following OS's:
[code]
The RedHat, SuSe,... ones you mention above were ones we used to create/install in "old world" IBMJava, we don't use those any more.

See: https://docs.oracle.com/javase/7/docs/technotes/guides/2d/enhancements70.html#linuxfonts

So if specific fonts

[2018-08-24 14:42] chandrams commented on #1694
It still fails  with the latest nightly build too, but the issue is intermittent.

Launching defaultServer (Open Liberty 17.0.0.4/wlp-1.0.19.201712061531) on Eclipse OpenJ9 VM, version 1.8.0_181-b13 (en_US)
[AUDIT   ] CWWKE0001I: The server defaultServer has been launched.
[AUDIT   ] CWWKG0093A: Processing configuration drop-ins resource: /opt/ol/wlp/usr/servers/defaultServer/configDropins/default

[2018-08-24 15:05] chandrams commented on #1694
Able to recreate the issue outside docker container too, but as mentioned issue is intermittent

java -version
openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-b13)
Eclipse OpenJ9 VM (build master-6bed9018, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20180823_298 (JIT enabled, AOT enabled)
OpenJ9   - 6bed9018
OMR      - 5d1ca9d4
JCL      - 2b004fdb based on jdk8u181-

[2018-08-24 16:18] d0k1 opened #2699 "JIT crashed during compilation"
Got OpenJ9 crash during a webapp startup.
OpenJ9 created some disgnostic info: snapdump, javadump, jitdump, coredump
Javadump
[code]

gdb backtrace
[code]

[2018-08-24 16:39] fjeremic commented on #2699
How reproducible is the failure? Is there a way for us to reproduce the issue? @cathyzhyi FYI crash during IL gen. which we may need to look at.

If the issue is reproducible and it occurs in the same method (you can find the name in the above javacore by searching for "Compiling method:") then please grab a trace log of the failure by adding the following to your commandline:

[code]

It will gen

[2018-08-24 16:51] HusainYusufali commented on #2364
The following machines have been updated with the newest adoptopenjdk 0.9.0

[2018-08-24 17:07] HusainYusufali commented on #2364
The following machines have been updated with the newest adoptopenjdk 0.9.0.

LXEOJ901
LXEOJ902
LXEOJ903
LXEOJ904

This is the java version information for `LXEOJ901`

`` linux1@LXEOJ901:/usr/lib/jvm$ adoptojdk-java-10/bin/java -version ``
`` openjdk version "10.0.2-adoptopenjdk" 2018-07-17 ``
`` OpenJDK Runtime Environment (build 10.0.2-adoptopenjdk+13)  ``
`` Eclipse OpenJ9 VM (build openj9-0.9.

[2018-08-24 17:25] #2653 closed

[2018-08-24 18:03] jdekonin opened #2701 "Update bootjdks for all platforms to the Adopt OpenJ9 0.9 release"

[2018-08-24 18:03] jdekonin commented on #2701
zLinux machines will be tracked/performed under #2364.

[2018-08-25 03:43] #2617 closed

[2018-08-25 03:53] DanHeidinga commented on #2072
@vijaysun-omr Any update on this?

[2018-08-26 12:34] lmajewski commented on #2585
If I may ask again the question regarding the gcc 4.8 (which is recommended for this VM native build):

I've backported the gcc 4.8.2 to my setup. Unfortunately during the ./configure execution, it wants to check if gcc is working:

configure:22215: /usr/bin/powerpc-poky-linux-gnuspe-gcc  -O2 -pipe -g -feliminate-unused-debug-types -Wno-error=deprecated-declarations -fno-lifetime-dse -fno-delete-n

[2018-08-26 14:25] JasonFengJ9 opened #2703 "JCL_FVTest_Internal_0_FAILED at Test-extended.functional-JDK10-linux_390-64_cmprssptrs"
FAILED: testGerman
java.lang.AssertionError: Test German failed expected:<53> but was:<1>
	at org.testng.AssertJUnit.fail(AssertJUnit.java:59)
	at org.testng.AssertJUnit.failNotEquals(AssertJUnit.java:364)
	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:80)
	at org.testng.AssertJUnit.assertEquals(AssertJUnit.java:245)
	at tests.com.ibm.jtc.utils.jse8229.testWeek.testGerman(testWeek.java:2

[2018-08-26 14:39] JasonFengJ9 opened #2704 "Test-extended.functional-JDK11-linux_x86-64_cmprssptrs TestAttachAPI failures"
`===============================================`
Running test TestAttachAPI_0 ...
`===============================================`
TestAttachAPI_0 Start Time: Thu Aug 23 16:22:17 2018 Epoch Time (ms): 1535041337228
test with NoOptions
[IncludeExcludeTestAnnotationTransformer] [INFO] exclude file is /home/jenkins/workspace/Test-extended.functional-JDK11-linux_x86-64_cmprssptrs/openjdk-tests/TestC

[2018-08-26 14:43] JasonFengJ9 opened #2705 "Test-extended.functional-JDK11-linux_x86-64_cmprssptrs java.lang.UnsatisfiedLinkError"
`===============================================`
Running test ContendedFieldsTests_90_0 ...
`=====================================================`

FAILED CONFIGURATION: @BeforeMethod setUp(public void org.openj9.test.contendedfields.ContendedFieldsTests.testBigContendedClass())
java.lang.UnsatisfiedLinkError: org/openj9/test/contendedfields/FieldUtilities.getObjectAlignmentInBytes()I

`========

[2018-08-26 14:51] JasonFengJ9 opened #2706 "Test-extended.functional-JDK11-linux_x86-64_cmprssptrs test natives not found"
FAILED CONFIGURATION: @BeforeMethod setUp
java.lang.AssertionError: j9ben (Not found in java.library.path)
library path = /home/jenkins/workspace/Test-extended.functional-JDK11-linux_x86-64_cmprssptrs/openjdkbinary/j2sdk-image/lib/compressedrefs:/home/jenkins/workspace/Test-extended.functional-JDK11-linux_x86-64_cmprssptrs/openjdkbinary/j2sdk-image/lib:/usr/lib64:/usr/lib

`=======================

[2018-08-26 14:53] JasonFengJ9 opened #2707 "Test-extended.functional-JDK11-linux_x86-64_cmprssptrs testMethodHandleCachingVisibilityForStaticPrivate AssertionError"
FAILED: testMethodHandleCachingVisibilityForStaticPrivate
java.lang.AssertionError:
	at org.testng.AssertJUnit.fail(AssertJUnit.java:59)
	at org.testng.AssertJUnit.assertTrue(AssertJUnit.java:24)
	at org.testng.AssertJUnit.assertTrue(AssertJUnit.java:33)
	at com.ibm.j9.jsr292.AdaptorTests.testMethodHandleCachingVisibilityForStaticPrivate(AdaptorTests.java:157)
	at jdk.internal.reflect.NativeMethod

[2018-08-26 14:54] JasonFengJ9 opened #2708 "Test-extended.functional-JDK11-linux_x86-64_cmprssptrs JVMCFRE145 Nest host must be a constant class"
Exception in thread "main" java.lang.ClassFormatError: JVMCFRE145 Nest host must be a constant class; class=com/ibm/j9/jsr292/AdaptorTests$PackageExamplesCrossPackageSubClass, offset=521
	at java.lang.ClassLoader.defineClassImpl(java.base@11-internal/Native Method)
	at java.lang.ClassLoader.defineClass(java.base@11-internal/ClassLoader.java:459)
	at java.security.SecureClassLoader.defineClass(java

[2018-08-27 12:35] #2597 closed

[2018-08-27 13:05] DanHeidinga commented on #1787
[code]
Occurred again: https://ci.eclipse.org/openj9/job/Build-JDK8-linux_x86-64/333/console

[2018-08-27 13:59] ymanton commented on #2585
Looks like that issue comes from OpenJDK code, not OpenJ9. If you look here

https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/2b004fdb6829f287eaa464a57a8680377886ca75/common/autoconf/toolchain.m4#L1425-L1440

you'll see that they're trying to disable that opt under GCC 6, so it should not be used when you build using GCC 4.8. Is your default host compiler GCC 6 or later? Perhaps the configu

[2018-08-27 14:34] DanHeidinga opened #2710 "JSR 292 AdaptorTests tests fail with JDK11 due to nestmates"
https://github.com/eclipse/openj9/blob/6ce77a0657a28a7ad7b1021d7cf2ac556a39a32a/test/functional/Jsr292/src/com/ibm/j9/jsr292/AdaptorTests.java#L149-L171

This test is no longer valid if compiled with a JDK11 build as the `PrivateMethod` class will be marked as a nest mate of the `AdapterTest` case which allows the private access.

[2018-08-27 14:50] hangshao0 commented on #1814
cmdLineTester_SCURLClassLoaderNPTests has been re-included by https://github.com/eclipse/openj9/pull/2694

[2018-08-27 15:11] dnakamura commented on #2585
You should also note there is a runtime check you need to disable to work on 32 bit ( see #2399 ).
Note: in the issue they also discuss issues with 32 bit power missing for certain instructions, however I dont think thats an issue for the e500 cores. However you may run into other issues where bits of our code assume we are running on a 64bit chip

[2018-08-27 17:05] #1272 closed

[2018-08-27 18:48] #2604 closed

[2018-08-28 08:31] andresluuk opened #2720 "OpenJ9 picks the wrong method from interfaces"
The following code fails on openJ9 (I tried with 9 and 10), but passes on with the default java:
package pkg;

[code]

Seems like openJ9 picks the wrong method from the implemented interfaces.

[2018-08-28 11:45] keithc-ca commented on #2468
This should be fixed via https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/15.

[2018-08-28 12:06] sophia-guo commented on #2644
No-arg constructor was removed in #2624 . TestNG won't call constructor with parameters. So no test will be found and run.

[2018-08-28 13:02] keithc-ca commented on #2644
There still is a constructor that can (from source) be called with no arguments, but I see how TestNG can't see that. I'll put together a PR to fix that.

[2018-08-28 13:59] fjeremic commented on #2720
@pdbain-ibm @DanHeidinga FYI seems like your area of expertise.

[2018-08-28 15:54] hangshao0 opened #2724 "Shared classes cache softmx bytes missing in Javacore file"
Here is an example from shared cache statistics in javacore file:

[code]

The softmx bytes is set be 67108864, but it does not show up in the javacore.

[2018-08-28 16:01] theresa-m commented on #2720
Hi Andres, which versions of Java 9/10 are you using? I believe this was fixed with #2670

[2018-08-28 16:25] mpirvu opened #2726 "Integrating the code for out-of-process JIT compilation (aka JITaaS)"
We have a prototype implementation for out-of-process JIT compilation in OpenJ9 (codename JITaaS).
Current code is stable enough to successfully run some enterprise workloads (e.g. AcmeAir, DayTrader)
and to pass all sanity tests and most Java SVT tests; therefore, we think the code is ready
to be brought into the OpenJ9 project.
However, in order to avoid impacting the release quality it's better

[2018-08-28 16:38] ashu-mehra commented on #1646
fyi - openjdk will soon have default CDS archive in th JDK as per https://bugs.openjdk.java.net/browse/JDK-8204247.
Does this issue also aim at providing similar feature, i.e. having a default shared class cache as part of the builds?

[2018-08-28 16:43] mleipe commented on #2726
@AdamBrousseau @jdekonin there may be build work here.

[2018-08-28 16:47] smlambert commented on #2726
From test perspective, a couple of mechanisms to test using Dockerfiles.

Approach 1)
One pattern we could follow is that used by the external tests that run at AdoptOpenJDK.  In this case, we would create a sub-directory in https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/thirdparty_containers called jitaas (or some such name), and follow the instructions: https://github.com/AdoptOpenJDK

[2018-08-28 17:34] AdamBrousseau opened #2728 "Convert PullRequest builds to be "pipeline of jobs""
Related #1450

Currently our PR builds execute in a single job. We use our OpenJ9 build AND test pipeline scripts in order to complete the build. This is inefficient because it is a different process than how all our other builds are now working. In order to complete #1450 and remove our test pipeline code, we need to convert the PR builds to use the [Pipeline-Build-Test-Any-Platform](https://gith

[2018-08-28 17:34] hangshao0 commented on #1646
I don't see such request in the description of this issue.
If we want to do something similar, we can pre-populate a shared cache with all the bootstrap classes and put it into JDK. All the bootstrap classes takes about 40MB (Java 8).

[2018-08-28 18:51] sophia-guo opened #2734 "testBasic and testPowersOf2 are in sanity and extended group"
org.openj9.test.gpu.SortTest: testBasic and testPowersOf2 are setting as sanity and extended group. That is in jenkins they will run in sanity and extended test jobs, which is kind of unnecessary.

@keithc-ca FYI, We're planning to remove these tests from extended group.

[2018-08-28 18:53] mstoodle commented on #2726
fyi @pshipton as well .

[2018-08-28 19:15] harryyu1994 commented on #2726
@smlambert Thanks for the suggestions, I'm going to give Approach 1 a try.

[2018-08-28 19:36] smlambert commented on #2726
@harryyu1994 - sounds good, if you have questions, you can ask @Mesbah-Alam for assistance.

[2018-08-28 20:06] AdamBrousseau commented on #2726
Merge it!!! :)

I think I'm fine with having a separate branch in OpenJ9. It is preferable to merge into master and maybe use a configure option to enable it but I assume it isn't that simple from your side. Our builds are flexible enough we could setup a schedule to run with your branch. The PR builds should already work if the JITaaS PRs are pointed at the right branch.

Easy to automate on any

[2018-08-28 20:07] keithc-ca commented on #2734
That makes sense. Thanks.

[2018-08-28 21:58] #1277 closed

[2018-08-29 03:46] DanHeidinga commented on #1646
Let's keep this issue for enabling SCC by default.  We can discuss prepopulating the cache at build time in a separate issue.

For JDK11+, my preference would be to take another look at jlink and jimage to determine how to better take advantage of those tools.

[2018-08-29 05:33] andresluuk commented on #2720
I downloaded my openJ9-s a few weeks ago. Definitely older then one week.
I now tried the latest nightly build of JDK10. My test did not fail there. So it was probably fixed in #2670

[2018-08-29 08:42] SueChaplain commented on #2174
@pshipton @hangshao0 Which OpenJ9 release did this target. Doc is not yet updated as it was not targeted for 0.9.0 but it looks like all the work is merged. Please confirm.

[2018-08-29 09:04] ashu-mehra opened #2742 "Not able to get connector address for management-agent.jar"
It looks like loading `management-agent.jar` (which is provided by OpenJDK and is present in the builds at `$JAVA_HOME/lib`) in OpenJ9 JVM using Attach API is not working as expected.

I tried it using following OpenJ9 level:
[code]

Here is a client code that attaches to JVM using Attach API, loads `management-agent.jar`, gets connector address using property `com.sun.management.jmxremote.localCo

[2018-08-29 09:06] ashu-mehra commented on #2742
Note that in `ThreadList.java` if I replace `vm.loadAgent(agent);` with `vm.startLocalManagementAgent()`, then it is able to get the `connectorAddr`.

[2018-08-29 11:04] ashu-mehra commented on #2742
I looked at `sun.management.Agent` which is the agent class in `management-agent.jar`.
When the agent is loaded via `vm.loadAgent()` it sets property `com.sun.management.jmxremote.localConnectorAddress` at https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/2b004fdb6829f287eaa464a57a8680377886ca75/jdk/src/share/classes/sun/management/Agent.java#L140 but it never gets added to `java.lang.System

[2018-08-29 14:26] hangshao0 commented on #2174
The code change is in v0.9.0.

[2018-08-29 14:44] AdamBrousseau commented on #969
Would be good to archive these to Artifactory (if available). Please see #2637, #2272.

[2018-08-29 14:53] #2734 closed

[2018-08-29 15:43] #2468 closed

[2018-08-29 15:47] sophia-guo commented on #2688
Test org.openj9.test.reflect.GetMethodsTests is actually in a different testcase
[code]

Will put all reflect tests together.

[2018-08-29 16:49] SueChaplain commented on #2174
I've been basing 0.9.0 content on items that target the 0.9.0 milestone: https://github.com/eclipse/openj9/milestone/2?closed=1

This wasn't in it, so has missed the what's new and release notes. Please confirm where it landed and we'll have to retrospectively update the OpenJ9 user docs, OpenJ9 release notes and downstream documentation (IBM).

@pshipton - let's discuss how we can avoid this goin

[2018-08-29 17:35] yanluo7 commented on #2307
@andrewcraik

- Looks like the ResolveCHK is already generated -- in `laodSymbol`, if the symbol is unresolved `genResolveCheck` is called to generate the ResolveCHK node.

- Made additional changes in `Aliases.cpp getUseDefAliasesBV` and `sharesSymbol` so that if the symbol is unresolved and condy type, we returned the conservative `defaultMethodDefAliases`.

[2018-08-29 19:33] #2688 closed

[2018-08-29 20:35] hangshao0 commented on #2174
This change is in OpenJ9 v0.9.0. This change applies to Java 9 and up. But I think IBM SDK does not have a Java 9+ release yet.

[2018-08-29 21:02] milgner commented on #2659
I seem to be encountering the same issue. Backtrace

[code]

Version information:
[code]

OS: Arch Linux
Fontconfig package installed: `fontconfig 1:2.13.0+15+gc60ed9e-1 [installed]`

Just like the OP, the `jre/lib/fonts` directory does not exist and debug output reports a failure to get info from fontconfig:

[code]

Running `fc-list : file` correctly shows a bunch of fonts from a number of locat

[2018-08-29 22:09] jdekonin opened #2748 "Option to not pass `disable-warnings-as-errors` to OpenJ9 & OMR"
UB16/18 PPCLE compiles are fine with gcc 7.3, but fail on on redhat7 with gcc 7.3.  As an example...
[code]

Running with `--disable-warnings-as-errors` at time of configure works around this issue, but that disables warning for OpenJ9, OMR and Openjdk sources, which I don't believe is ideal.

It would be nice to have the option to disable for openjdk (existing option), but also not force that dow

[2018-08-30 00:50] JasonFengJ9 commented on #2659
@milgner another workaround you might try is to copy following property files to the folder `jre/lib` from a hotspot java 8 jvm:
[code]

BTW, does hotspot Java 8 work in same machine?

[2018-08-30 02:47] #1203 closed

[2018-08-30 03:37] AdamBrousseau commented on #1450
#2728 should resolve this

[2018-08-30 03:50] DanHeidinga commented on #2720
Closing based on previous comment.  Please reopen if this is still an issue.

[2018-08-30 03:50] #2720 closed

[2018-08-30 07:31] andrew-m-leonard commented on #2659
Have you tried installing "fontconfig" ?

[2018-08-30 14:32] theresa-m commented on #2705
looking at this.

[2018-08-30 14:36] SueChaplain commented on #2659
@fjeremic  This isn't something we should put in the OpenJ9 documentation. It seems to be a difference in the OpenJDK classes and I'm not sure where that information could go for it to be consumable.

[2018-08-30 14:40] SueChaplain commented on #1932
@bharathappali Hi - are you finished with your changes yet please. I'm waiting on the javacore to update the documentation. Thanks!

[2018-08-30 14:41] andresluuk opened #2751 "Getting JRebel to work with -agentpath on openJ9"
We are having some issues to get JRebel to work with openJ9 as with a native agent bootstrap (-agentpath)

The current main question is: Is there some way to define a class into the 'java.base' module very early on; by early I mean so it can be used as a super-type to String.

Potentially something equivalent of '--patch-module', but accessible at 'Agent_OnLoad' time. I know the equivalent system

[2018-08-30 14:46] DanHeidinga commented on #2751
Reference to the JVMTI spec's VMStart event: https://docs.oracle.com/javase/10/docs/specs/jvmti.html#VMStart

[code]

We'll need to check when OpenJ9 sends the event and check the RI's behaviour to see if all classes loaded before this event are loaded into `java.base` or not.

[2018-08-30 15:12] harryyu1994 commented on #2726
For Approach 1 (adding jitaas to external tests that run at AdoptOpenJDK), I've created a PR for it ( https://github.com/AdoptOpenJDK/openjdk-tests/pull/534) and left a few questions there. @smlambert @Mesbah-Alam

[2018-08-31 04:03] sophia-guo opened #2755 "JVM_VERSION setting logic is wrong"
When JVM_VERSION is not exported, it should be generated by JAVA_IMPL and JAVA_VERSION. Now when JAVA_IMPL is hotspot, JVM_VERSION is generated as sap one.

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/723/console

JAVA_IMPL=hotspot,
JAVA_VERSION=SE80
JVM_VERSION=openjdk8-sap
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/723/console

[2018-08-31 13:26] andresluuk commented on #2751
I played around some more:
First I tried to set some system property to be checked in createramclass.cpp but (*jvmti)->SetSystemProperty does not work that early on.
By using the C command putenv(...) in Agent_OnLoad I was able to pass the parameter and it was seen in createramclass.cpp, but I was not able to change the parameter in our event ClassFileLoadHook. And adding a complex parameter with

[2018-08-31 21:26] shingarov commented on #2585
I recently followed James' instructions and successfully cross-compiled from Ubuntu/AMD64 to the RPi and the resulting VM works fine.  Caveat: you may want to read the recent conversation on Slack about back-contributing directly to the master repo, not via James' fork.

I am also actively trying to cross-compile to the e500.  I am approaching it differently though, I am trying to start from (piec

[2018-09-01 12:50] lmajewski commented on #2585
Thanks Boris for your input.

I've looked on your Github repositories and I couldn't find the ARM port for J9. Would it be possible to upload it somewhere?

Do you have any reference/logs to those conversations?

Could you share the steps (or repository), which were needed on ARM to get it working?

Thanks.

[2018-09-03 10:44] ashu-mehra commented on #1704
I recently tried OpenJDK build for Java 11 and it seems you can connect to a JVM running inside a container from the host using attach api.
There are couple of issue related to that in openjdk:
https://bugs.openjdk.java.net/browse/JDK-8179498
https://bugs.openjdk.java.net/browse/JDK-8193710

I think it would be good to have this kind of support in OpenJ9 as well, as it would help in JVM monitoring

[2018-09-04 14:42] llxia commented on #2037
Thanks for help from @AdamBrousseau and @jdekonin. Functional tests and system tests builds are created and enabled in nightly build.

System test builds on wins are excluded in OpenJ9 Jenkins nightly runs due to https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/165

[2018-09-04 14:42] #2037 closed

[2018-09-04 15:03] pshipton commented on #1938
@hangshao0 this is targeted for the 0.10.0 milestone, which is scheduled for the end of the month. Have you tried changing the default for OpenJ9 Java 8 yet? Not sure if making the change will need any test updates.

[2018-09-04 15:05] mpirvu commented on #1646
We will need performance evaluation of benchmarks that don't use Xshareclasses by default (anything that doesn't use Liberty and WAS). This is because AOT is going to be enabled by default and this triggers JIT changes that may favor start-up time over peak throughput. For instance, the default method invocation counts will change from 3000,3000 to 1000,250 resulting in fewer interpreter profiler

[2018-09-04 15:07] hangshao0 commented on #1938
I will work on this.

[2018-09-04 15:17] pshipton commented on #2070
@vijaysun-omr @DanHeidinga this issue is currently in the Release 0.10.0 milestone, will there be any fixes ready in this time frame (in the next couple of weeks)? If not, where should this be targeted? The 0.11.0 release will be for end of Oct, and 0.12.0 for Jan.

[2018-09-04 15:29] fjeremic commented on #2049
I believe @cathyzhyi is working on this. @cathyzhyi do we have an outlook for this work?

[2018-09-04 15:54] pshipton commented on #2507
It will be fixed, but should be documented until the fix is ready.

I don't think the fix is going to be ready for the 0.10.0 release, deferring.

[2018-09-04 15:56] pshipton commented on #378
I don't think AIX support is going to be ready for the 0.10.0 release, deferring.

[2018-09-04 15:59] vijaysun-omr commented on #2072
https://github.com/eclipse/openj9/pull/2752

is opened to address this.

[2018-09-04 17:27] pshipton commented on #1697
I don't think this is going to be ready for the 0.10.0 release, deferring.

[2018-09-04 17:29] pshipton commented on #2175
@gacholio are there still some changes you want to make for this? If so can they be completed in the next couple of weeks?

[2018-09-04 17:32] pshipton commented on #2368
@tajila is this likely to be completed for the 0.10.0 release, in the next couple of weeks? If not, where should this be targeted? The 0.11.0 release will be for end of Oct, and 0.12.0 for Jan.

[2018-09-04 17:33] pshipton commented on #2576
@gacholio are we keeping this issue open until ARM and OSX are addressed?

[2018-09-04 17:47] gacholio commented on #2576
Ask @DanHeidinga - he made me open it.

[2018-09-04 17:48] gacholio commented on #2175
This has nothing to do with me.

[2018-09-04 17:48] pshipton commented on #2696
You can get a non-empty cacerts by downloading one of the builds at https://adoptopenjdk.net/?variant=openjdk8&jvmVariant=openj9

[2018-09-04 17:49] DanHeidinga commented on #1697
@pshipton We should be trying to contain this in the 0.10.0 release to match the compiler levels used by OpenJDK.

Is there a critical blocker preventing this from making the 0.10.0 release?  If so, let's identify it and try to solve it.

[2018-09-04 17:52] DanHeidinga commented on #2576
This should stay open until all the PRs for the Atomic Free JNI work have been listed in this item so that there's a way to find the implementation.

ARM / OSX support can be added under separate issues when those platforms get added to the build system.

[2018-09-04 18:11] keithc-ca commented on #1697
I have been working on https://github.com/eclipse/omr/issues/2885 which would be a prerequisite of DDR support with that compiler.

[2018-09-04 19:07] cathyzhyi commented on #2049
for JIT part, the putfield and putstatic is done. bastore needs more work. I am tied up with field watch stuff at this moment. Would start working on this in the next 2 weeks. The 0.11.0 release should work.

[2018-09-04 19:50] llxia opened #2761 "Native tests for JDK11 and forward"
Thanks for @keithc-ca 's help. In `openj9_test_image` target, native test libraries are built under `images/test/openj9`. To ensure JDK11 test running properly, we need:

- [x] archive(/upload to artifactory) `images/test/openj9` in Jenkins SDK build job (@jdekonin )

- [x] update test pipeline to take the native libs and unzip it (@llxia) https://github.com/AdoptOpenJDK/openjdk-tests/pull/542

-

[2018-09-04 19:52] llxia commented on #2761
fyi @jdekonin @AdamBrousseau

[2018-09-04 20:04] theresa-m commented on #2705
failure related to https://github.com/eclipse/openj9/issues/2761

[2018-09-04 20:13] llxia commented on #2761
Related: https://github.com/eclipse/openj9/issues/2100

[2018-09-04 23:41] ymanton commented on #2585
That's the 64-bit version of `cmpl` you're crashing on. You can change it to `cmpl cr0,0,r9,r10` for the 32-bit instruction to go along with your changes for `ldarx` and `stdcx.`, however it's incorrect and will probably give you bad results and even more mysterious crashes. We really need to exchange a full 64-bit value atomically here.

https://github.com/eclipse/omr/pull/2930 and https://github

[2018-09-05 09:30] ashu-mehra commented on #1704
I did code review of attach api and tried to see the problems that can arise in connecting to a JVM running in container from the host. @kubaseai already covered many of these in the comments above. Summarizing the issues here:
1) Current discovery mechanism relies on common directory (by default it is `/tmp/.com_ibm_tools_attach`) accessible to both target JVM and client JVM.
During startup targe

[2018-09-05 10:58] SueChaplain opened #2765 "Create release notes for 0.10.0"
Create notes at https://github.com/eclipse/openj9/tree/master/doc/release-notes to support 0.10.0.

[2018-09-05 13:19] wyatt8740 commented on #2585
@ymanton This is great; thanks for sharing it. By the way, what's the copyright check problem with #2764? (I'm not used to Jenkins.) Is it missing a copyright header in one of the files?

I'll try it on my PowerBook sometime later today, time allowing.

[2018-09-05 13:48] shingarov commented on #2585
That's the "arm" branch in JamesKingdon's repo, and he also has nice instructions [here](https://github.com/JamesKingdon/openj9/blob/arm/buildenv/Build_Instructions_V9.md)

It's in the #general channel on Aug 9th.

The JVM works as-is out of James' branch.  What doesn't work are the simple tests in `testcompiler` and `tril`.  I care about those because the goal of these exercises for me is a riscv

[2018-09-05 14:12] ymanton commented on #2585
@wyatt8740 there are only patches to get rid of the 64-bit CAS in that tree unfortunately. You still need to make changes to the build files in OMR, OpenJ9, and OpenJDK to get a VM built, but since @lmajewski and/or @shingarov are making progress on that I decided to tackle other things and built/ran the IBM JDK to test them. I'll see if I can find the `lwsync`s @lmajewski mentioned above as well

[2018-09-05 14:26] hangshao0 commented on #1646
I don't see the 0.10.0 milestone in this issue.

Yes, I will point Marius to the build once is ready.

[2018-09-05 15:07] ashu-mehra commented on #1646
I think this can be addressed by checking if the JVM is running in a container or not. If in container, we can resort to current behavior.

[2018-09-05 15:43] DanHeidinga commented on #1646
Assigning this to milestone 0.11.0 based on discussions with @hangshao0

[2018-09-05 16:09] pshipton commented on #54
I don't think this is going to be ready for the 0.10.0 release, deferring.

[2018-09-05 16:12] pshipton commented on #2175
@gacholio see https://github.com/eclipse/openj9/issues/2175#issuecomment-397068794 and https://github.com/eclipse/openj9/issues/2175#issuecomment-397069745 where you suggested some changes. Are these still changes that should be made? If so I think we should create a new issue and close this one.

[2018-09-05 16:12] pshipton commented on #2049
Moving to the 0.11.0 milestone.

[2018-09-05 16:15] pshipton commented on #2070
Given we'd like to branch for 0.10.0 around Sep 14 I'm going to guess this won't be ready and defer to the 0.11.0 milestone.

[2018-09-05 16:15] pshipton commented on #2072
Given we'd like to branch for 0.10.0 around Sep 14 I'm going to guess this won't be ready and defer to the 0.11.0 milestone.

[2018-09-05 16:30] pshipton commented on #2071
javax.activity is removed from Java 11. The tests need to stop using it.

[2018-09-05 16:35] fjeremic opened #2767 "Determine the source of an odd tree sequence generated by the JIT"
As part of  a review comment by @vijaysun-omr in [1] we seem to generate an odd tree sequence duing ILGen:

[code]

This is a result of the following command:

[code]

And a quote from @vijaysun-omr himself:

The task here is to determine why the Walker chose to generate the above tree sequence and could we have done something better?

[1] https://github.com/eclipse/omr/pull/2920#issuecomment-4187

[2018-09-05 16:35] fjeremic commented on #2767
Subscribing @jdmpapin @andrewcraik @cathyzhyi for this one.

[2018-09-05 16:50] babsingh commented on #54
@pshipton what's the deadline for OpenJ9 0.10.0 release?

signal handling works on win32 and win64amd. these platforms will be fully supported once https://github.com/eclipse/omr/pull/2908 (signal chaining changes) are merged.

Unix variants (Linux, zOS and AIX) support all signals that are currently used by the JVM. `J9*AsyncHandlerRecord->flags` has 32-bits. Currently, 8-bits are unused. So, we

[2018-09-05 17:09] gacholio commented on #2175
It seems sensible to prevent instrumentation (and we can probably come up with more classes that it would be disastrous to instrument).

[2018-09-05 17:45] pshipton commented on #54
The deadline is about Sep 14.

[2018-09-05 17:48] pshipton opened #2768 "Prevent instrumentation of com.ibm.jit.JITHelpers"
As per https://github.com/eclipse/openj9/issues/2175#issuecomment-397068794, https://github.com/eclipse/openj9/issues/2175#issuecomment-397069745 and https://github.com/eclipse/openj9/issues/2175#issuecomment-418807896 @gacholio wrote.

"JITHelpers should probably be in the list of non-instrumentable classes.

jvmtiHook.c : canClassBeInstrumented to prevent load-time modification.

hshelp.c : clas

[2018-09-05 17:49] pshipton commented on #2175
Created https://github.com/eclipse/openj9/issues/2768, closing this one.

[2018-09-05 17:49] #2175 closed

[2018-09-05 17:49] pshipton commented on #2768
@gacholio would you like to volunteer to make the changes, or leave this for somebody else?

[2018-09-05 17:51] pshipton commented on #2576
@gacholio as per https://github.com/eclipse/openj9/issues/2576#issuecomment-418459690 can you please add the list of PRs so we can close this.

[2018-09-05 17:52] pshipton commented on #2576
I assume its something like https://github.com/eclipse/openj9/pulls?utf8=%E2%9C%93&q=is%3Apr+atomic+author%3Agacholio

[2018-09-05 17:55] gacholio commented on #2576
Close enough

[2018-09-05 17:55] #2576 closed

[2018-09-05 18:08] DanHeidinga commented on #2710
Test is passing now

[2018-09-05 18:08] #2710 closed

[2018-09-05 18:17] #2755 closed

[2018-09-05 18:37] pshipton opened #2769 "Launching sanity jdk11 testing also run extended testing"
In https://github.com/eclipse/openj9/pull/2718 I ran "jenkins test sanity xlinux,plinux,zlinux,xlinuxlargeheap jdk11" which started both sanity and extended testing, although the plinux extended testing didn't run.

@jdekonin

[2018-09-05 18:42] #1457 closed

[2018-09-05 18:43] pshipton commented on #1938
Since the 0.10.0 release will only create builds for Java 11, moving this to the 0.11.0 milestone. Please have the changes merged before Oct 8.

[2018-09-05 18:46] fengxue-IS opened #2771 "[Condy] Add support for writing Constant Dynamic into classfile"
`ClassFileWriter.hpp/.cpp` need to be updated to support parsing Constant Dynamic entries in the ROMClass into classfiles. `ClassFileWriter::analyzeConstantPool()` and `ClassFileWriter::writeConstantPool()` have to be changed to properly handle Condy entries.

[2018-09-05 18:47] pdbain-ibm opened #2772 "Update vmLifecycle tests to run in OpenJ9"
The test runtime/tests/vm_lifecycle/main.c uses the invocation API to launch and terminate VMs.
 It appears to depend on the structure of the IBM SDK and fails in OpenJ9; with a moderate amount of work it could be made to work with OpenJ9.

[2018-09-05 18:48] pshipton commented on #2576
#1109
#1535
#1559
#1567
#1605
#1651
#1680
#1687
#1726
#1762
#1793
#1798
#1810
#1823
#1857
#1869
#1895
#1923
#1964
#2039
#2077
#2333
#2353
#2575
#2663

[2018-09-05 18:55] pshipton commented on #1370
@LinHu2016 where are we for the testing? I'd like to assign this to a milestone and close it off. The 0.11.0 milestone closes Oct 8, which I'm guessing is too early. I'll tentatively assign this to the 0.12.0 milestone which closes in Jan.

[2018-09-05 19:16] fjeremic opened #2773 "Redundant BRC generated in ArrayStoreCHK evaluator"
Was just debugging a miscellaneous issue and found the following in a trace file:

[code]

The `BRC` instruction at `0x3ff6f59cb70` is redundant as there is another `BRC` preceding it. The related code which generates this seems to be the following:

https://github.com/eclipse/openj9/blob/e29591191c31de19076ab85cf635667f87bd19e9/runtime/compiler/z/codegen/J9TreeEvaluator.cpp#L3695-L3708

We can im

[2018-09-05 19:52] gacholio commented on #2768
This isn't critical, so let's gather the data before making any changes.

[2018-09-05 20:49] gacholio commented on #2768
@andrewcraik @vijaysun-omr Are there other classes that will be an issue if instrumented? Not concerned about loss of performance, just with incorrectness/crash. Bear in mind the granularity of the decision is at the class level, not method. I was wondering in particular about MethodHandle implementation classes - I suspect instrumenting the thunk implementation methods would lead to badness.

[2018-09-05 21:02] LinHu2016 commented on #1370
@pshipton original plan for testing is that trying to reuse openjdk test/hotspot/jtreg/gc/epsilon.
There are 12 of15 tests can be reuse without major code change, but some of tests have dependence on new JAVA 9 APIs, which would not work for Java 829, so I am going to write new pack tests for gcpolicy:nogc.

[2018-09-05 21:02] cathyzhyi commented on #2668
It turns out in the current world, we can't call the resolving helper directly from jitted code without using picBuilder because the data resolving helpers expect different stack shape than normal helpers. Now there are 2 ways to solve this. One is adding a new picBuilder which doesn't do any patching but just return the result. The other approach is VM providing JIT with directly callable version

[2018-09-05 21:09] pshipton commented on #1370
@LinHu2016 do you have a timeline for completing the work? Can it be completed by early January?

[2018-09-05 22:07] jdekonin commented on #2761
@llxia, here is the content...
[code]

[2018-09-05 22:08] gacholio commented on #2668
If (as I expect), we go forward with this then I see no reason that the static field resolves need to tag the result (they low-tag the result if the field class is currently being initialized) - save one instruction in each unresolved. I'm not sure the picbuilder ones do anything with the tag either (other than remove it).

[2018-09-05 22:41] pshipton commented on #2628
https://github.com/eclipse/openj9/pull/1683 was merged to implement copySwapMemory0, the fix will be in the nightly builds https://adoptopenjdk.net/nightly.html?variant=openjdk10&jvmVariant=openj9

[2018-09-05 22:44] lmajewski commented on #2585
@ymanton After applying your patches I do see following error:

unix/linux/ppc/32/cas8help.s: Assembler messages:
unix/linux/ppc/32/cas8help.s:74: Error: unrecognized opcode: `rldimi'
unix/linux/ppc/32/cas8help.s:75: Error: unrecognized opcode: `rldimi'
unix/linux/ppc/32/cas8help.s:77: Error: unrecognized opcode: `ldarx'
unix/linux/ppc/32/cas8help.s:78: Error: unrecognized opcode: `cmpld'
unix/lin

[2018-09-05 23:35] lmajewski commented on #2585
I've uploaded my branches for PPC32 e500 to github:
https://github.com/lmajewski/ppc32_j9_omr
https://github.com/lmajewski/ppc32_j9_openj9
https://github.com/lmajewski/ppc32_j9_openj9-openjdk-jdk8

There are lukma_* files to configure it and execute - those were the same as zero variant of OpenJDK8 (which seems to work on the platform).

For those who want to build it natively - there is a qemu-sy

[2018-09-05 23:39] AdamBrousseau commented on #2020
I think this can be closed

[2018-09-05 23:42] AdamBrousseau commented on #2352
Is this still an issue?
I thought this may have been caused by https://github.com/eclipse/openj9/commit/43a69e33e979a23638b25f99099f19b2431145b5#diff-20461a6c80089cdd81dc68619d2c1a0f
which was resolved by https://github.com/eclipse/openj9/commit/005017e39f0020634cec39dff336e0f0f91fb24e#diff-20461a6c80089cdd81dc68619d2c1a0f
But that was delivered after this issue was created.

[2018-09-06 00:44] AdamBrousseau opened #2778 "Convert OMR Acceptance build to use Pipeline-Build-Test-All"
Related #2728 #1897 #2272 #2160

The [OMR-Acceptance build](https://ci.eclipse.org/openj9/job/Pipeline-OMR-Acceptance) currently uses its own top level [pipeline file](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/jobs/pipelines/Pipeline-OMR-Acceptance) that calls Build and Test jobs directly ([workflow function](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/commo

[2018-09-06 02:51] llxia commented on #2761
Thanks @jdekonin

Could you archive the libs into a folder start with `native-test-libs` and tar it with the same name (similar as SDK)? In the script, we unzip in `.`

https://github.com/AdoptOpenJDK/openjdk-tests/blob/22cf59223de7b602d48a93e0a2e916aa8f25422f/get.sh#L165

[2018-09-06 10:26] ymanton commented on #2585
Thanks for testing. It makes sense that your assembler doesn't want to deal with unsupported instructions. I was on ppc64 so I didn't see these errors. I'll fix it shortly.

[2018-09-06 10:55] lmajewski commented on #2585
@ymanton As side question - is there any way to test only OMR (or other separate J9 component)?

I mean it is very time consuming to build it. The J9 makefile has make <component>, but the smallest instance is "jvm".

[2018-09-06 12:29] CodingFabian opened #2781 "Attach dir auto detection broken?"
When starting a process without any attach configuration it seems to try to write to a strange directly.
I was unable to find it until I enabled attach logging:

1536236641952 1869: 29 [Attach API initializer]: IPC Directory=f/.com_ibm_tools_attach
1536236641952 1869: 29 [Attach API initializer]: createDirectoryAndSemaphore /root/f/.com_ibm_tools_attach

The build is

[code]

running the adoptopen

[2018-09-06 12:31] CodingFabian commented on #2781
https://github.com/eclipse/openj9/blob/6849cd19d029fadd26f2fb164d54ecc00da6ec75/jcl/src/java.base/share/classes/com/ibm/tools/attach/target/CommonDirectory.java#L93

I assume this code is the one responsible. so the system temp dir is f?

[2018-09-06 12:59] pshipton opened #2782 "Performance questions for low-latency app"
akrus wrote on the openj9-dev mailing list.

I think I collected enough test results for now, so I'd like to share them here and ask for any ideas/suggestions.
- with almost default settings, I saw the app being 'paused' for ~20 msec on almost every GC
- with hugepages enabled it improved a bit, but still about 90% of 'pauses' were seen during GC
- with isolcpus/CPUAffinity configured on Java proc

[2018-09-06 12:59] pshipton commented on #2782
@amicic @dmitripivkine

[2018-09-06 13:38] DanHeidinga commented on #2781
@pdbain-ibm Any insight on this?

[2018-09-06 13:40] shingarov commented on #2585
any way to test only OMR
That's what the discussion on yesterday's call was about.  Basically, the set of native makefiles is screwed up, they are wrong, duplicated in several places, and some of them have been neglected for a while.  In the call Mark made the point that they aren't worth fixing because they will be deprecated in favour of CMake which isn't quite there yet on any platform.  So in

[2018-09-06 14:06] CodingFabian commented on #2781
BTW: creating /root/f or changing -Dcom.ibm.tools.attach.directory on attacher and attachee (those are words, right?) both makes it work.
So it seems to be "only" an issue in finding /tmp and mistakenly choosing /root/f.

I tried to search for "f" in the codebase, of course with so many hits that I consider the search unsuccessful. :)

[2018-09-06 14:12] pdbain-ibm commented on #2781
@CodingFabian Thank you for your inquiry.  I will investigate.

syshelp.c:getTmpDir() looks for a directory specified by the "TMPDIR" environment variable.  If that is not specified, or it doesn't point to a directory with the correct permissions, it checks "/tmp".  If that isn't a directory with the correct permissions, it uses $PWD.

Questions:
- are you running as root?
- what are the permissio

[2018-09-06 14:27] #2020 closed

[2018-09-06 14:42] amicic commented on #2782
Extracting logs for GC activity for all 4 points. Note that the second one shows no GC activity.

[code]

[2018-09-06 14:45] pdbain-ibm commented on #2781
Close enough.  The proper terminology is 'attacher' and 'target'.

[2018-09-06 14:45] LinHu2016 commented on #1370
plan to complete it in October.

[2018-09-06 14:46] CodingFabian commented on #2781
Yes. As root. Just directly in the mentioned docker image.

[2018-09-06 15:17] pdbain-ibm commented on #2781
- Does attach API work if you specify `TMPDIR` as `/tmp`
- What is the value of "java.io.tmpdir"?  You can get it by running with `-XshowSettings:properties`
- Tracepoints would tell us if the attribute check is failing.  You can enable them via `-Xtrace:maximal=omrport,output=traces`.
Could you also send me the result of `ls -laR /tmp`.

[2018-09-06 15:31] gacholio commented on #2768
@DanHeidinga - any classes you can think of that we should not instrument?

[2018-09-06 15:31] AdamBrousseau commented on #2778
My test build works with the changes from PR #2780
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance-New/3/

[2018-09-06 15:46] lmajewski commented on #2585
@shingarov Yes, I also think that the _goal_ is to make the OMR (and the whole J9) working correctly first and only then cleanup things.

[2018-09-06 15:47] DanHeidinga commented on #2768
VarHandleInternal for one.

[2018-09-06 16:17] fjeremic commented on #2668
Just spoke to @cathyzhyi about this.

I totally agree. Having a new VM helper with helper call linkage (preserves all registers) would be easiest for everyone IMO. In pseudo-code the resolved and unresolved cases look like this in pseudo-code:

[code]

The only thing we're missing is `Call field report VM helper passing field report data snippet in the literal pool as argument` from the VM side.

[2018-09-06 16:40] CodingFabian commented on #2781
Permissions on temp
[code]

setting TMPDIR has no effect, same as setting `java.io.tmpdir`
[code]

properties:
[code]
`ls -laR /tmp` is empty in any case

`-Xtrace:maximal=omrport,output=traces` has an effect!
The directory is now named p0 not f
[code]

I am attaching the traces file

[2018-09-06 16:49] cathyzhyi commented on #2668
we have those field report VM helpers already. did you mean `Call new VM field resolve helper returning offset X` ?

[2018-09-06 16:56] CodingFabian commented on #2781
you should be able to do all these experiments youself:
[code]

[2018-09-06 16:56] CodingFabian commented on #2781
My very scientific EndlessApp looks like this:
[code]

[2018-09-06 17:05] pdbain-ibm commented on #2781
Yup.  Confirmed.  I'm on the case...

[2018-09-06 17:26] gacholio commented on #2668
OK, based on 2 votes, I'll go ahead and implement the new helpers.

[2018-09-06 17:50] keithc-ca commented on #2748
My plan is to introduce two new configure options:
[code]
When either option is absent (neither explicitly enabled nor disabled) it will default to the current behavior of tracking `--(disable|enable)-warnings-as-errors`.

Where openjdk requires use of `--disable-warnings-as-errors` we will be able to add `--enable-warnings-as-errors-omr` and `--enable-warnings-as-errors-openj9` to avoid relaxing

[2018-09-06 18:01] pshipton opened #2788 "jdk11 plinux compiled with gcc 7.3 doesn't work with NativeImageBuffer"
As per #2718, jdk11 plinux compiled with gcc 7.3 cannot load classes from the jimage file, unless -Djdk.image.use.jvm.map=false is specified.

[code]

[2018-09-06 18:12] gacholio commented on #2668
I see a problem with this solution - the `<clinit>` case is being ignored, and since you're not calling the resolve every time (you are effectively patching, it's just data rather than code), the static field will be accessible to other threads too early.

From what I've seen, this may already be an error in the normal PicBuilder, at least on X. I'm constructing a test case to see if this is true.

[2018-09-06 18:26] pshipton commented on #2788
Notes from an old investigation of a similar problem that ended up being a compiler mis-match.

[code]

[2018-09-06 18:40] gacholio commented on #2668
OK, looks like I'm wrong about the `<clinit>` case being incorrect in general. Not completely sure how to handle this in this case

Also occurs that two fields need to be patched for static - the address and the declaring class (which is not necessarily the referenced class in the constant pool).

In case I'm being vague - the `<clinit>` case is this:

Thread 1

Refer to class X
`<clinit>` for X
d

[2018-09-06 18:46] gacholio commented on #2668
Summing up the rant, I think we need these things:

- extra field in static data snippet for resolution
- direct resolve helper does return the `<clinit>` tag in the address
- return both address and declaring class for static fields (how does this work in the normal unresolved case?)

[2018-09-06 18:48] pshipton commented on #2748
Having -(disable|enable)-warnings-as-errors affect all 3 components seems too complicated. It would be much simpler only have --(disable|enable)-warnings-as-errors affect openjdk and have -omr and -openj9 affect the corresponding component.

Instead of having to use
`-disable-warnings-as-errors --enable-warnings-as-errors-omr --enable-warnings-as-errors-openj9`
only `-disable-warnings-as-errors` w

[2018-09-06 18:51] keithc-ca commented on #2748
I was trying not to change the behavior of existing configure options, but, I agree it's more complicated that way. I'm updating my branch to make the new options independent of `--disable-warnings-as-errors` so they'll all be independent.

[2018-09-06 19:00] DanHeidinga commented on #2668
Do you need the extra data or can you use the Class's initialized status to block in the reporting helper if the current thread is different than the initializing thread?

[2018-09-06 19:10] gacholio commented on #2668
That sounds good to me - it's a quick check for the expected case (or cases).

I am still wondering where the JIT gets the declaring class from in the unresolved `<clinit>` case - the VM resolution will not patch the RAM CP with the information.

[2018-09-06 19:17] amicic commented on #2782
-Xgc:regionSize=262144 was meant to help reducing  GC overhead on application throughput (by reducing the duration of GC cycle, due to less overhead on meta-structure processing, by having fewer/larger regions), but if the worst case GC pause time is bigger concern, than the default should be better (smaller work unit), specifically during sweep phase (which indeed exhibits some 3-5ms pauses relat

[2018-09-06 19:35] hangshao0 commented on #1938
Doc change request created here: https://github.com/eclipse/openj9-docs/issues/80

[2018-09-06 19:46] gacholio commented on #2668
There's 4 (static/instance, setter/getter).

Is `jitResolveClassFromStaticField` always called after successfully resolving the field? It performs a full resolve, regardless of `<clinit>` status. Calling this from a thread which is initializing the declaring class would resolve the interpreter CP entry, opening us up to the multithread issue.

As far as I know, writes of objects to static fields r

[2018-09-06 20:26] gacholio commented on #2668
I will add a direct-call helper for jitResolveClassFromStaticField as well.

[2018-09-06 20:36] pdbain-ibm commented on #2781
omrstr_convert() is mangling the path: it takes `/tmp` and turns it into bytes `c0 60 8 8c d3 7f`.
`locale` is not installed on the docker image.  Will investigate further tomorrow.

[2018-09-06 20:48] gacholio commented on #2668
Turns out my feeling that something was amiss here was justified:

[code]

[code]
[code]

[2018-09-06 20:52] gacholio commented on #2668
`jitResolveClassFromStaticField` is resolving the RAM CP entry, which is allowing the other threads in early. I believe this is a simple enough fix - I'll look into it.

According to @cathyzhyi, we don't need a direct version of this helper.

[2018-09-06 21:09] vsebe commented on #2469
Installed MingWG-W64 8.1 and VS2017 on [windows machines](https://ci.eclipse.org/openj9/label/sw.os.windows/):
 - win2012r2-x86-1
 - win2012r2-x86-2
 - win2012r2-x86-3
 - win2012r2-x86-4

[2018-09-06 21:29] vsebe commented on #2469
[JDK11 build](https://ci.eclipse.org/openj9/view/Sandbox/job/wip_Build-Any_Platform/32/console)
Failure: ` make[5]: *** [run_omrddrgen.mk:73: ../j9ddr.dat] Segmentation fault` - know issue: #2885

[2018-09-06 22:28] gacholio commented on #2668
If we want this test in, I'd want to firm it up a bit, in particular, synchronizing threads with a monitor rather than sleeps. Also, only one forked thread is required.

[2018-09-06 23:03] gita-omr opened #2793 "Investigate and improve debug build"
Based on experience of at least several developers, building debug JVM and JIT is quite non-trivial. See https://blog.openj9.org/2018/06/05/debugging-openj9-in-docker-with-gdb/ as an example.

We need to make sure there is a simple way to get symbols, line number info, and non-optimized code for both VM and JIT.

This should help all the platforms. Please share your experience and ideas.

[2018-09-06 23:16] ChengJin01 commented on #2469
For the temporary solution, the crash can be avoided by specifying **--enable-ddr=no** to disable DDR-related code as DDR doesn't affect the operation of VM.
e.g.
bash configure --with-freemarker-jar=/cygdrive/c/openjdk/freemarker.jar --with-boot-jdk=/cygdrive/c/openjdk/jdk10 --with-toolchain-version=2017 **--enable-ddr=no**  --disable-ccache`

[2018-09-06 23:29] vijaysun-omr commented on #2768
@gacholio I think you are right about the thunk archetypes that they should not be modifiable since they are really "convenience" methods to make the job of ILgen of thunks easier. Arbitrary changes in those methods would break functionality.

I wonder if all the classes in com.ibm.jit package (such as com_ibm_jit_DecimalFormatHelper_formatAsDouble or the DAA/crypto classes) should not be allowed

[2018-09-06 23:30] vijaysun-omr commented on #2768
@jdmpapin could you please give your opinion too ?

[2018-09-06 23:50] vijaysun-omr commented on #2768
com.ibm.Compiler.Internal.Quad might be another class that cannot be instrumented.

[2018-09-07 02:30] gacholio commented on #2668
New helpers: https://github.com/eclipse/openj9/pull/2795

[2018-09-07 06:30] akrus commented on #2782
@amicic, thanks for your comments. I've returned regionSize back to normal and changed targetUtilization to 85%.

gcthreads is 12 because of CPU affinity, yes, JVM can only use 12 cores there, so should be OK.

I'll collect some more metrics and report here.

[2018-09-07 10:10] suman-mitra opened #2796 "Kafka tests fail with java.lang.AssertionError"
We see Kafka tests failing with java.lang.AssertionError when ran with latest OpenJDK-OpenJ9 80 builds.

Build used
openjdk version "1.8.0-adoptopenjdk"
OpenJDK Runtime Environment (build 1.8.0-adoptopenjdk-jenkins_2018_09_04_11_02-b00)
OpenJDK 64-Bit Server VM (build 25.71-b00, mixed mode)

 "<testcase name="classMethod" classname="kafka.api.SaslMultiMechanismConsumerTest" time="0.0">"
    "<fail

[2018-09-07 10:12] suman-mitra commented on #2796
Steps to reproduce
1. set the PATH for java and Gradle
2. set JAVA_HOME
3. git clone https://github.com/apache/kafka.git
4. cd kafka
5. gradle
6. ./gradlew jar
7. ./gradlew testAll

[2018-09-07 10:13] suman-mitra commented on #2796
We are running with OpenJDK Hotspot and Oracle JDK to verify if the same failures are seen with them

[2018-09-07 10:18] sshamaia opened #2797 "Kafka SaslAuthenticatorTest failing with OPEN J9"
Steps to follow:
---------------
git clone https://github.com/apache/kafka.git
cd kafka/
gradle
./gradlew jar

Now Run the unittests as
./gradlew unitTest

There are 3 test cases that fails
testMultipleServerMechanisms, testMechanismPluggability and testAuthenticateCallbackHandlerMechanisms

[code]

Open J9 level used
openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Ec

[2018-09-07 10:19] suman-mitra commented on #2796
<testcase name="classMethod" classname="kafka.api.SaslMultiMechanismConsumerTest" time="0.0">
    <failure message="java.lang.AssertionError: Found unexpected threads during @BeforeClass, allThreads=Set(Test worker, kafka-admin-client-thread | adminclient-58, metrics-meter-tick-thread-2, main, Signal Dispatcher, /127.0.0.1:35416 to /127.0.0.1:34985 workers Thread 2, Reference Handler, /127.0.0.1:3

[2018-09-07 10:20] suman-mitra commented on #2796
We found a link which has a similar issue
https://lists.apache.org/thread.html/ad7bc9e3b7571dde49a2f7fb0d0b65209f933e9a290b9e3c2b8710f5@%3Cdev.kafka.apache.org%3E

[2018-09-07 11:11] sshamaia commented on #2797
Same tests fails with openJDK build too
openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-jenkins_2017_10_17_16_02-b00)
OpenJDK 64-Bit Server VM (build 25.71-b00, mixed mode)

[2018-09-07 11:51] #2628 closed

[2018-09-07 11:53] #2536 closed

[2018-09-07 12:12] charliegracie commented on #2793
The main issue here is that there are technically 5 different build frameworks used to create an OpenJDK with OpenJ9 build.
1. OpenJDK
2. OpenJ9 (except the JIT)
3. OpenJ9 JIT
4. OMR (except the Compiler)
5. OMR Compiler

The first question that comes to mind is do the developers know when they configure the JVM (ie invoke configure from the OpenJDK build system) that they want a "debug" build? I

[2018-09-07 13:47] llxia opened #2798 "cmdLineTester_callsitedbgddrext_openj9_0 failed on linux_x86-64_cmprssptrs in JDK11"
cmdLineTester_callsitedbgddrext_openj9_0 failed on linux_x86-64_cmprssptrs in JDK11. Same test passed in JDK10.

Java Version:
[code]

Output:
[code]

Link to passed run in JDK10: https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK10-linux_x86-64_cmprssptrs/101/tapResults/

[2018-09-07 13:48] llxia commented on #2798
fyi @renfeiw

[2018-09-07 13:53] JasonFengJ9 commented on #2796
Note: there is a similar Kafka AssertionError reported #2797 which failed with RI as well.

[2018-09-07 13:54] llxia commented on #2708
`JCL_Test_OutOfMemoryError_1` and `JCL_Test_1` also failed with the same error `Exception in thread "main" java.lang.ClassFormatError: JVMCFRE145 Nest host must be a constant class;`

[2018-09-07 13:56] JasonFengJ9 commented on #2797
@sshamaia could you re-run the test with more recent `OpenJDK` and `OpenJ9`? (The OpenJDK version specified is almost one year old, OpenJ9 is a version 6 month ago).

[2018-09-07 13:57] llxia opened #2800 "NestAttributeTest_0 failed with FileNotFoundException in JDK11"
Java Version:

[code]

Output:
[code]

[2018-09-07 14:18] cathyzhyi commented on #2668
@gacholio For the new helpers we still need to pass in the return address right?

[2018-09-07 14:18] #2562 closed

[2018-09-07 14:31] gacholio commented on #2668
As they're written right now, yes, but I could remove the 3rd parameter and peek the calling address (like most other runtime helpers do).

[2018-09-07 14:32] llxia opened #2801 "CloneWeakReferenceTest failed with CloneNotSupportedException on linux_x86-64_cmprssptrs in JDK11"
CloneWeakReferenceTest failed with CloneNotSupportedException on linux_x86-64_cmprssptrs in JDK11

Java Version:

[code]

Output:
[code]

[2018-09-07 14:36] fjeremic commented on #2793
IMHO we should not be puring resources into any non-CMake solution at this point. Having played around in OMR and even x86 OpenJ9 the CMake build system is so much easier and more consistent to use. Building a debug build with CMake is trivial as is the addition of extra flags.

@charliegracie do we have a tracking item for all the issues in the CMake domain which need be tackled? I have always be

[2018-09-07 14:57] hangshao0 commented on #1646
@mpirvu , I have created a build and shared that to you.

[2018-09-07 15:07] cathyzhyi commented on #2668
@gacholio removing the third argument would be great if there aren't too much work. Passing return address from jit code is a little bit awkward.

[2018-09-07 15:18] pdbain-ibm commented on #2793
Corollary to this: `make all` does not pick up changes to the port library: a one-line change requires `make clean; make all`.

[2018-09-07 15:30] pshipton commented on #2748
@keithc-ca Did you warn AdoptOpenJDK of these pending changes?

[2018-09-07 15:37] pshipton commented on #2748
fyi @jdekonin @sxa555

[2018-09-07 15:40] pshipton opened #2802 "PR testing from jdk11 extensions not working"
i.e. https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/19

https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK11-aix_ppc-64_cmprssptrs-OpenJDK11/3/console

[code]

[2018-09-07 15:40] pshipton commented on #2802
@jdekonin

[2018-09-07 15:51] pshipton commented on #1370
ok. I'll leave it in the Jan 0.12.0 milestone for now, since the Oct 0.11.0 milestone work needs to be completed by Oct 8. If it happens to be finished in time we can change the milestone.

[2018-09-07 15:58] keithc-ca commented on #2748
No, I hadn't warned them. I don't expect the change to the meaning of `--disable-warnings-as-errors` to cause any problems because OMR and OpenJ9 compile without warning up to gcc 8.

In fact, I'm not sure that that option should be applied universally:
https://github.com/keithc-ca/openjdk-build/blob/213e1dfc07dbf9f18aafc720edd405a7886c3f9b/makejdk-any-platform.sh#L75

[2018-09-07 17:01] DanHeidinga commented on #2699
@d0k1 Have you been able to reproduce this with the logging suggested by @fjeremic?

[2018-09-07 17:08] pdbain-ibm commented on #2781
Following up on problem 1 with the maintainer. Testing a fix for problem 2 now.

[2018-09-07 17:10] #1276 closed

[2018-09-07 17:34] pdbain-ibm commented on #2781
@dinogun
would you please investigate
https://github.com/eclipse/openj9/issues/2781#issuecomment-419491792?

[2018-09-07 17:36] d0k1 commented on #2699
@DanHeidinga I couldn't reproduce it, sorry. But now I know what debug info is needed to investigate a problem.

[2018-09-07 17:36] #2699 closed

[2018-09-07 18:26] pshipton commented on #2802
@jdekonin please check https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK11-linux_390-64_cmprssptrs-OpenJDK11/5/ as well. Its a different error. I can't view it at the moment because of proxy errors.

[2018-09-07 18:29] #2748 closed

[2018-09-07 18:56] jdekonin commented on #2761
https://github.com/AdoptOpenJDK/openjdk-tests/pull/541
https://github.com/eclipse/openj9/pull/2805

[2018-09-07 18:57] gacholio commented on #2668
#2795 updated.

[2018-09-07 19:30] pdbain-ibm commented on #2801
From the Javadoc:
[code]

[2018-09-07 19:39] pdbain-ibm commented on #2801
@llxia
This test is not mentioned in any playlists.  How is it being run?
If and when it is added to a playlist it should be run only on Java 10 and earlier.

@DanHeidinga @dmitripivkine
Is this test still valuable?  If not, I propose to delete it.

[2018-09-08 01:11] llxia commented on #2801
[CloneWeakReferenceTest ](https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/test/functional/VM_Test/src/j9vm/test/clone/CloneWeakReferenceTest.java) is part of `J9vmTest` test.

[2018-09-08 20:35] komolema opened #2810 "FreeBSD support?"
Is there a planned support for FreeBSD, in the future. Is it possible to compile the project for FreeBSD, and if possible, how would one go about it?

[2018-09-09 14:33] llxia opened #2811 "test_bindTo_interfaceMethodImplementation_* tests failed in JDK11"
test_bindTo_interfaceMethodImplementation_* tests failed in JDK11.

Java Version:
[code]

[code]

Link to the build: https://ci.adoptopenjdk.net/view/work%20in%20progress/job/TestBuild_Sandbox/495/

[2018-09-09 22:41] lmajewski commented on #2585
@ymanton I've poked a bit into e500 Reference manual: https://www.nxp.com/docs/en/reference-manual/E500CORERM.pdf

In the point "A.1.1.6 Compare and Swap" it is stated that for this core lwarx and stwcx. only work on word size data (32bits).
To me It seems that "simple" replacement of instructions will not provide proper atomic operation of
"compare and swap of a 64-bit value on a 32-bit system" J

[2018-09-10 07:15] dinogun commented on #2781
@pdbain-ibm Thanks for letting me know, looking into this.

[2018-09-10 11:28] prakaashkpk opened #2813 "OpenJ9 does not recognize new CPUs added by CPU Hotplug or via LPAR in Linux PPC during runtime"
JVM during its runtime, doesn't recognize the new CPUs that are added dynamically when `NUMA` is ON. New CPUs are added dynamically via CPU Hotplug or LPAR(in Linux PPC). Because of this, the new threads are started after adding CPUs that was added during JVM run-time, doesn't get scheduled on the new CPUs, this leads to under utilization on available cores.

JVM while starting up, reads the `defa

[2018-09-10 12:55] DanHeidinga commented on #2813
@dnakamura Can you take a look at this?

[2018-09-10 13:02] DanHeidinga commented on #2811
@gacholio Can you take a look a this as you've update a lot of the methodhandle code for nestmates / private invocation?

[2018-09-10 13:02] pdbain-ibm commented on #2642
This appears to have been a problem with internal builds. I will reopen it if it recurs in public builds.
@llxia FYI.

[2018-09-10 13:02] #2642 closed

[2018-09-10 14:32] llxia commented on #2800
Above change will not disable Valhalla tests. In fact, it will include Valhalla tests as part of regular tests for JDK11, so we do not have test material cannot be found error when running functional tests.

In addition, I also proposed to remove the check for `JAVA_VERSION=Valhalla`. This was initially created to run Valhalla as a separate build. This is unnecessary imo, as Valhalla tests are par

[2018-09-10 14:40] pdbain-ibm commented on #2788
Investigating.  Downloaded and built Java 11 and looked at the compilation log per the previous investigation:
`/usr/bin/g++ -DOPENJ9_BUILD -O3 -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -fno-exceptions -fno-rtti -fno-threadsafe-statics -g -DLINUX -D_REENTRANT -D_FILE_OFFSET_BITS=64 -fpic -DIPv6_FUNCTION_SUPPORT -DLINUXPPC -m64 -DLINUXPPC64 -DPPC64 -Wreturn-type -Werror  -I. -I../include -I../oti -I../

[2018-09-10 14:42] smlambert commented on #2800
Thanks Lan, I think that will simplify and is a good approach forward.

[2018-09-10 15:54] ymanton commented on #2585
Yes you are correct, simply replacing `ldarx/stdcx` with `lwarx/stwcx` will not work. IBM's original implementation is the one you see currently, we really use `J9CAS8Helper` and `ldarx/stdcx`. :grin: The IBM JDK only supports 64-bit CPUs, even in 32-bit mode, since 64-bit instructions and registers can still be used in 32-bit mode.* The IBM JDK is mostly used on IBM POWER systems (we support POWE

[2018-09-10 18:00] #1938 closed

[2018-09-10 18:17] gacholio commented on #2811
Looks like a test issue - it's testing the JDK8 behaviour.

Likely broken by: #2770

[2018-09-10 18:40] gacholio commented on #2811
@llxia - do these tests pass on an OpenJDK build (JDK9+)? I personally only tested the new behaviour of private, not of default or protected.

[2018-09-10 18:42] jdekonin commented on #2802
The 390 failure isn't due to a trigger issue.  There were some zombie processes on the machine though.  I am not convinced those were related to the issue, but I have cleaned them up.  This was the actual failure on that pull request.

[code]

[2018-09-10 19:12] DanHeidinga commented on #2751
This is a great idea!  Much better than trying to match undocumented behaviour of the RI.

[2018-09-10 19:12] llxia commented on #2811
yes, the these tests passed in jdk10: https://ci.eclipse.org/openj9/view/Test/job/Test-extended.functional-JDK10-linux_x86-64_cmprssptrs/63/consoleFull

[code]

[2018-09-10 19:40] gacholio commented on #2811
I think you misunderstood - I'm asking about Oracle behaviour for the protected/default cases. Can this test run against OpenJDK?

[2018-09-10 20:06] llxia opened #2819 "JCL_Test failed with UncaughtException in JDK11"
Java Version:
[code]

Output:
[code]

[2018-09-10 20:27] pshipton commented on #2539
I assume (and expect) `jenkins test sanity all` won't do anything, as the jdk levels will need to be specified?

[2018-09-10 20:37] llxia commented on #2811
ah, sorry.
yes, these tests passed in OpenJDK10:

[code]

Java Version:
[code]

Do we expect all jsr292 tests passed in OpenJDK10? I noticed some other test failure.

[2018-09-10 21:05] llxia commented on #2800
Change delivered.

[2018-09-10 21:05] #2800 closed

[2018-09-10 21:08] llxia commented on #2819
JCL_Test_1 failed with `JVMCFRE145 Nest host must be a constant class`. The issue is tracked in https://github.com/eclipse/openj9/issues/2708

[code]

[2018-09-10 21:14] llxia opened #2821 "threadMXBeanTimersTest_3 crashed in JDK11"
Java Version:
[code]

Output:
[code]

Link: https://ci.adoptopenjdk.net/view/work%20in%20progress/job/TestBuild_Sandbox/492/

[2018-09-10 21:37] jdekonin commented on #2539
Correct.

[2018-09-10 21:45] lmajewski commented on #2585
It seems like I wrongly defined OMR_ARCH_POWER in my build so the OMRCAS8Helper() (or J9CAS8Helper) is called.

From the code: https://github.com/eclipse/omr/blob/e3972b55a2235a3e04b90083523e2242ff38e4aa/include_core/AtomicSupport.hpp#L414-L430

This solution seems to be reusing the already available 32 bit functions. I will give it a try.

However, on the line 436:
`return __sync_val_compare_and_

[2018-09-10 21:56] tajila opened #2822 "Migrate all Java11 Valhalla tests to Java11andUp"
The are some tests in Valhalla which were original created for testing experimental VM features. As of Java11 some of these have been released. Now we can migrate these tests to the Java11andUp project.

[2018-09-10 21:56] pshipton commented on #2802
Assuming cleaning up the zombie processes will fix this, if not we'll find out later and open a new issue.

[2018-09-10 21:56] #2802 closed

[2018-09-10 22:45] pshipton commented on #2810
@komolema There isn't any planned support for FreeBSD. Is it possible to compile, I'm not sure, somebody would have to try it. Is seems OpenJDK can run so there is some hope.

I'd start by looking at the docker files [1] to see the prerequisites required on Linux, figure out the  equivalent prerequisites for FreeBSD and install them. Install the source code and try to build as per [2], and see wha

[2018-09-10 22:52] pshipton commented on #2352
Not sure, I've been on vacation for a while so I haven't been looking at builds.

[2018-09-11 02:43] #1278 closed

[2018-09-11 09:24] JaynLau opened #2824 "GB18030 is absent in openjdk9-openj9 and openjdk10-openj9 on windows 10"
When I test openjdk9-openj9 and openjdk10-openj9 on windows 10, the locale is zh_CN, i got the error bellow:
[code]

[2018-09-11 09:32] ildar opened #2825 "[FR] javaws / Web start"
is currently missing but still demanded for some legacy apps. Please add.
see this issue discussed before: https://github.com/AdoptOpenJDK/openjdk9-openj9-releases/issues/2

[2018-09-11 13:02] pdbain-ibm commented on #2824
@JaynLau Have you tested OpenJDK with Hotspot
(
https://github.com/AdoptOpenJDK/openjdk10-releases/releases/download/jdk-10.0.2%2B13/OpenJDK10_x64_Windows_jdk-10.0.2.13.zip) with your locale?

[2018-09-11 13:04] JaynLau commented on #2824
@pdbain-ibm Yes, OpenJDK with Hotspot is OK.

[2018-09-11 13:08] JaynLau commented on #2824
@pdbain-ibm And OpenJDK8 with OpenJ9 works well.
[code]

[2018-09-11 16:02] gita-omr commented on #2088
@andrewcraik, unfortunately the Assert in  J9TransformUtil.cpp:374 prevents us from doing DEBUG build. Could somebody take a look at it?

[2018-09-11 16:16] llxia commented on #2761
Tasks are completed.
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-win_x86-64_cmprssptrs/10/console

[2018-09-11 16:16] #2761 closed

[2018-09-11 17:51] DanHeidinga commented on #2825
@ildar Thanks for opening the request.  Historically, webstart was provided by Oracle and I'm not aware of any plans to land the code in OpenJDK.

Do you (or anyone) know of alternative implementations of webstart/javaws?

Implementing this from scratch would be cool to do but also a large amount of work.  We'd be interested in investigating existing alternatives if anyone is aware of one.

[2018-09-11 18:44] AdamBrousseau opened #2831 "Add jobs to archive nightly builds"
Helps #2316
Depends #2728
- Per spec
- Per platform

In order to have test-only PR builds, we need to pull a "good" sdk. Since the Build* jobs which compile/archive the sdks are reusable across many build types, we need a way to identify which one is a nightly and which one is "good". The proposal is to add a job that would copy the sdk artifact from the build job to a new job. the test jobs would

[2018-09-11 18:45] AdamBrousseau commented on #2316
Opened #2831 to support this work.
Also depends on #2728

[2018-09-11 18:46] AdamBrousseau commented on #2778
resolved via #2780

[2018-09-11 18:46] #2778 closed

[2018-09-11 18:48] babsingh commented on #36
**Update:** I tried compiling OpenJ9 Java 9 with **clang/clang++** version 9.1.0.

1) **warnings treated as errors:** [warnings_are_errors.log](https://github.com/eclipse/openj9/files/2371643/warnings_are_errors.log). Ran configure with `--disable-warnings-as-errors` so that warnings aren't treated as errors. OpenJ9 warnings interpreted as errors would need to be fixed since we don't want to build

[2018-09-11 19:09] andrewcraik commented on #2088
@liqunl do you have a fix for this as part of other work you are doing? If not could you get a fix for this since you are looking in this area.

[2018-09-11 19:27] DanHeidinga commented on #36
awesome work @babsingh!

No, we don't want to link the c++ library if we can avoid it as user JNI code may require a different version of the c++ lib.  For other platforms and components (jit), the c++ stdlib has been statically linked but we don't want to do that either as we don't want to statically link it more than once.

I had been investigating using `-lc++abi` but hadn't looked at the licen

[2018-09-11 19:31] charliegracie commented on #36
For #2 which component has these compilation issues? The GC defines a few functions like `___cxa_pure_virtual` so that we do not have to link with the c++ library I believe... maybe we just need to make this a more common thing? Or is it the GC and for some reason this is not working on OS X?

[2018-09-11 19:35] pshipton opened #2832 "JEP 342: Limit Speculative Execution"
https://bugs.openjdk.java.net/browse/JDK-8207206

This is an "Epic" for supporting this JEP on OpenJ9.

[2018-09-11 19:38] fjeremic commented on #2088
I think it's 100% reproducible following the instructions in the OP.

[2018-09-11 19:46] pshipton commented on #2824
GB18030 appears to be missing from OpenJDK with Hotspot on Windows as well. What does `-XshowSettings:properties` show the encoding properties are set to?

[2018-09-11 19:54] pshipton commented on #1938
@SueChaplain I was hoping to coordinate and time the changes so they went into the 0.11.0 release but unfortunately the code was merged already. You can add it for 0.10.0, I'll fix the tagged milestone.

[2018-09-11 20:12] babsingh commented on #36
`___cxa_pure_virtual` issues were seen while building `runtime/cfdumper`, `runtime/bcutil/test/dyntest` and `runtime/tests/shared`. In the below cases, `___cxa_pure_virtual` was used outside the scope of GC. I think we need to make `___cxa_pure_virtual` a more common thing.

**cfdumper** and **bcutil/test/dyntest**:
[code]

**runtime/tests/shared**:
[code]

I will build on Linux to find difference

[2018-09-11 20:14] andrewcraik opened #2833 "Improve handling of primitive typed comparison"
java/lang/Integer has a static compare function which takes two ints and does something like
if (x < y)
  return -1;
if (x == y)
  return 0;
return 1;
We should recognize this method and just compare x and y once and use the condition codes to compute the result (0, 1, -1). I believe there are similar methods for the other primitive integer types. This would probably be a recognized method, a dont

[2018-09-11 20:14] andrewcraik commented on #2833
FYI @0dvictor since you work in this area a lot

[2018-09-11 20:20] 0dvictor commented on #2833
Good idea. I actually thought about this a while ago and had some experiments. Let me make polish my prototype and create a pull request.

[2018-09-11 20:24] pshipton opened #2834 "Support -XX:MaxHeapSize, -XX:ThreadStackSize, for OpenJDK compatibility"
As per https://github.com/eclipse/openj9-docs/pull/74#discussion_r216712038, OpenJ9 can implement support for -XX:MaxHeapSize= as an equivalent to -Xmx.

[2018-09-11 20:26] pshipton commented on #2834
Might as well add -XX:ThreadStackSize as an equivalent to -Xss as well.

[2018-09-11 20:27] pdbain-ibm commented on #2088
@liqunl Sorry, the dumps are long gone.  I suggest you follows the instructions to reproduce in
https://github.com/eclipse/openj9/issues/2088#issue-329879207.

[2018-09-11 20:33] DanHeidinga commented on #2332
More options to map in https://github.com/eclipse/openj9/issues/2834

[2018-09-12 01:31] JaynLau commented on #2824
@pdbain-ibm I think I have got the problem.

 When I do "java -XshowSettings:properties -version" with OpenJDK10-OpenJ9, the error also occurred. So, I do this with OpenJDK8-OpenJ9, I get the properites. "`ibm.system.encoding`", "`file.encoding`",  "`sun.jnu.encoding`" are `GB18030`, but they are `GBK` in OpenJDK8-Hotspot and OpenJDK10-Hotspot.

After that, I do "java -Dsun.jnu.encoding=GBK -versi

[2018-09-12 08:11] SueChaplain commented on #1646
I assume this work will require doc?

[2018-09-12 08:59] paulcheeseman opened #2837 "Provide option to print javacore output to stdout/stderr instead of to a file"
When sent a SIGQUIT, HotSpot prints a thread dump on stdout. In response to the same signal, OpenJ9 writes a javacore dump to a file, and prints the filename and dump event details on stderr.

Writing the data to a file is a better approach in most scenarios, but under certain circumstances it would be preferable to write the output to stdout/stderr instead, so it would be useful to have to the op

[2018-09-12 11:42] bharathappali opened #2838 "Display CPU Governor information in javacore"
When running in containers with CPU quota set, performance of the application may be adversely affected if CPU frequency governor is set to "powersave".

As an example, compare application running on 4 CPUs with 100% quota vs running it on 8 CPUs with 50% quota. If the CPU frequency governor is set to "powersave", performance in latter case is very poor even though the application has 4 "effective

[2018-09-12 12:33] pshipton commented on #1646
Yup, done.

[2018-09-12 12:33] pdbain-ibm commented on #2704
Looks like a GC issue:
[code]
Is the failure reproducible?

[2018-09-12 13:29] andresluuk opened #2839 "Are lambdas for java.base defined in the unnamed module?"
I built openJ9 myself on my local machine and added the following log line in createramclass.cpp~2810 after
module = javaVM->unamedModuleForSystemLoader;
printf("creatramclass.internalCreateRAMClassFromROMClass.unamed %s\n", J9UTF8_DATA(className));

Now in the log i see the following line:
creatramclass.internalCreateRAMClassFromROMClass.unamed jdk/internal/loader/BuiltinClassLoader$$Lambda$1/000

[2018-09-12 13:30] DanHeidinga commented on #2837
For more background:
What's the best way for the JVM to communicate logs to things like `kubectl logs`?  Especially given that many ELK stacks are configured to monitor stdout/stderr.

[2018-09-12 13:44] DanHeidinga commented on #2839
@hangshao0 Can you take a look at this?

[2018-09-12 14:30] JasonFengJ9 commented on #2704
It still fails though the error is not identical.
[code]

[2018-09-12 14:32] lmajewski commented on #2585
It took me some time, but I've managed to compile natively the J9 for e500_v2:

root@qoriq:/mnt/openj9-openjdk-jdk8# ./build/linux-ppc-normal-zero-release/images/j2re-image/bin/java -version
openjdk version "1.8.0_181-internal"
OpenJDK Runtime Environment (build 1.8.0_181-internal-b14)
Eclipse OpenJ9 VM (build openj9-ppc32-fixes-c5a6251, JRE 1.8.0 Linux ppc-32-Bit 20180912_000000 (JIT enabled, AOT

[2018-09-12 14:34] JasonFengJ9 opened #2840 "Test-extended.functional-JDK11-linux_x86-64_cmprssptrs cmdLineTester_vmRuntimeState_0_FAILED"
[code]

Similarly
[code]
Note: JVMJ9TI001E Agent library jvmtitest could not be opened (libjvmtitest.so: cannot open shared object file: No such file or directory)

@llxia is this related to recent native test library changes?

[2018-09-12 14:38] JamesKingdon commented on #2585
There are a couple of 32 shift out of range warnings that happen during 32 bit builds, which I'm assured are on a code path that doesn't execute on 32 bit platforms. I'd be happier if we cleaned those up :)

[2018-09-12 14:38] hangshao0 commented on #2839
Yes, I will take a look.

[2018-09-12 14:51] pshipton commented on #2824
I suspect the problem is here https://github.com/eclipse/openj9/blob/c8b8f0f9bbca9c199ffe0f1d83e59f596767978d/jcl/src/java.base/share/classes/java/lang/System.java#L382
OpenJ9 is detecting a different platform encoding (GB18030) than OpenJDK (GBK).

[2018-09-12 15:16] pdbain-ibm commented on #2788
Bug in gcc version 7.3.0.

 I instrumented `openj9/runtime/vm/jnicsup.cpp`:
[code]
Running with the `printf` disabled (as above):
[code]

Running with the `printf` **enabled** (change to `if(1)`) makes it pass
[issue_2788.zip](https://github.com/eclipse/openj9/files/2375768/issue_2788.zip)
:
[code]

Relevant files attached.

[2018-09-12 15:50] pdbain-ibm commented on #2788
Opened a Gnu bug: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=87289

[2018-09-12 17:46] jdekonin opened #2841 "Install nasm on x86 compile machines"
This is specific to feature work surrounding eclipse/openj9#2418

@nbhuiyan, can you please advise as to which version of nasm OpenJ9 requires?

[2018-09-12 18:17] pshipton commented on #1684
gcc 7.3 is supported now. #2718 enables it for xLinux, zLinux in pull request and nightly builds.
pLinux will come later once #2788 is resolved, I believe this issue is resolved.

[2018-09-12 18:17] #1684 closed

[2018-09-12 18:18] pshipton commented on #2235
Seems this is complete. #2718 enables gcc 7.3 for xLinux, zLinux in pull request and nightly builds.
pLinux will come later once #2788 is resolved.

[2018-09-12 18:18] #2235 closed

[2018-09-12 18:35] pshipton commented on #2469
Heads up that we are investigating using clang instead of mingw on Windows. If performance testing looks good we'll have to install clang on the builds machines as well.

[2018-09-12 18:52] pdbain-ibm commented on #2788
The compiler tripped over a `goto` from one arm of a `switch` statement to another in `pushArguments()`:
[code]

Replaced the `goto` with a copy of the "gone to" code and it works fine.

This code is dubious too, though I don't plan to fix it in this changeset:
[code]

[2018-09-12 19:11] pdbain-ibm commented on #2234
These methods are alive an well in OpenJDK Java 10:
[code]
I will remove the misleading comments and attributes from these methods.

[2018-09-12 20:05] hangshao0 commented on #2839
The default loadLocationType for Java.base is LOAD_LOCATION_UNKNOWN. If I change that to LOAD_LOCATION_MODULE, this issue goes away.

[2018-09-12 20:08] DanHeidinga commented on #2825
My understanding is that webstart is deprecated and will be removed from Oracle JDK at some future point.  As a deprecated technology, it's not really an area of pursuit on our roadmap.

There are alternative webstart providers, such as https://icedtea.classpath.org/wiki/IcedTea-Web

We'd be interested in helping to resolve JVM problems encountered with running IceTea-Web with OpenJ9 but are unlik

[2018-09-12 20:08] #2825 closed

[2018-09-12 20:12] DanHeidinga commented on #2839
Lambda's are defined with `jdk.internal.misc.Unsafe.defineAnonymousClass()`.  The module for the anonymous class should be the same as the hostclass.

Does keeping that relationship require changing the default LOAD Location?

[2018-09-12 21:01] hangshao0 commented on #2839
In createramclass.cpp, we assign modules based on the load location when J9_RUNTIME_JAVA_BASE_MODULE_CREATED is not set.

[code]
Directly assign hostClass->module to module also works. I have updated the change to set module to host class module.

[2018-09-12 21:30] JasonFengJ9 commented on #2840
The tests in question now pass (at `Test-extended.functional-JDK11-linux_390-64_cmprssptrs`, there was an infra issue at `functional-JDK11-linux_x86-64_cmprssptrs`).
Closing.

[2018-09-12 21:30] #2840 closed

[2018-09-12 21:35] JasonFengJ9 commented on #2684
Still seen in latest `Test-extended.functional-JDK11-linux_390-64_cmprssptrs`
[code]
Smells like a setup issue.

[2018-09-12 21:46] JasonFengJ9 opened #2846 "Test-extended.functional-JDK8-linux_x86-64_cmprssptrs testIsReachableint4 failure"
[code]

[2018-09-12 21:53] JasonFengJ9 opened #2847 "functional-JDK10-win_x86-64_cmprssptrs FindStore.BuildVerify failures"
[code]

[2018-09-12 21:56] JasonFengJ9 opened #2848 "Test-sanity.functional-JDK8-linux_x86-64_cmprssptrs missing class: vich/bench/JNICallIn$JNIFailure"
[code]

[2018-09-12 22:02] JasonFengJ9 opened #2849 "Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs j9vm.test.clone.CloneWeakReferenceTest failure"
[code]

[2018-09-12 22:04] JasonFengJ9 opened #2850 "Test-sanity.functional-JDK10-win_x86-64_cmprssptrs 9vm.test.romclasscreation.NewROMCreationAfterModifyingExistingClassTest failure"
[code]

[2018-09-12 22:09] JasonFengJ9 commented on #2703
Dup of #2683

[2018-09-12 22:09] #2703 closed

[2018-09-12 23:11] lmajewski commented on #2585
@ymanton Any hint on built J9 validation process?

[2018-09-13 00:00] babsingh commented on #36
**Update:**
1) Fixed the `abort` that happens at **statistics.c:44**.
2) **libj9dmp29.dylib** and **libjclse9_29.dylib** couldn't locate **libj9zlib.dylib**. Used **install_name_tool** to hack the path to **libj9zlib.dylib** within **libj9dmp29.dylib** and **libjclse9_29.dylib**.

3) I was able to get `java -version` to run on macos. OpenJ9 was build without JIT so `-Xint` had to be specified; oth

[2018-09-13 02:56] DanHeidinga commented on #2849
Dup of https://github.com/eclipse/openj9/issues/2801

[2018-09-13 02:56] #2849 closed

[2018-09-13 04:58] gacholio commented on #2841
AFAIK, this is still an open issue - it has not been decided to use nasm.

[2018-09-13 11:15] SueChaplain opened #2852 "Move build instructions to the /doc folder"
From the OpenJ9 community call (see minutes), we agreed to move the build instructions from the /buildenv folder to the /doc folder as they have proved difficult to find.

To avoid breaking links we will leave stubs behind with follow on links.
Existing links need updating at the website, and in the OpenJ9 blog site to the new location.

[2018-09-13 12:08] pdbain-ibm commented on #2788
Comment on bug:
`I was able to create a small reproducer program and it shows you have a -fstrict-aliasing bug in your source code.  You take the address of the double var "dbl" and cast its address to a UDATA * pointer and then use it.  That violates aliasing rules.  I was able to get my small reproducer program to work using the -fno-strict-aliasing option as well as using -O0 and -O1 where -fst

[2018-09-13 12:36] pdbain-ibm commented on #2801
@DanHeidinga @dmitripivkine @llxia what's the plan for this test?

[2018-09-13 13:03] DanHeidinga commented on #2801
The test should be updated to run on Java 10 and earlier as you suggested above.  We should also ensure that we have a test for the behaviour change in 11+.

Can you take a look at making this happen?

[2018-09-13 13:06] DanHeidinga commented on #2788
Pretty sure we build with that option on other platforms.  Can you confirm that and then update the makefiles to include the option?

We'll need to do some perf testing on JDK8 (as it has the best perf test coverage) to validate that the adding the option doesn't negatively effect startup, footprint, throughput.

[2018-09-13 13:32] DanHeidinga commented on #2841
@gacholio the work has been done to proceed with nasm as it enables the mac osx build with is currently the #1 request to this project.

View this as a stepping stone to get mac support.  The larger conversation on how to handle assembly files, sharing between architectures, etc is still ongoing.

[2018-09-13 13:32] pdbain-ibm commented on #2801
Will do.

[2018-09-13 14:14] DanHeidinga commented on #2839
Thanks for updating this.

Looking through the code, I wonder what happens to anonymous classes that are defined before java.base has been created?

I wonder if the behaviour difference JRebel has seen with classes that are defined "early" being in the unnamed module on OpenJ9 and the java.base in the RI could be due to the same kind of issue. (https://github.com/eclipse/openj9/issues/2751)

What

[2018-09-13 14:59] hangshao0 commented on #2839
loadLocationType is set in dynload.c, for anonymous classes, because the className is empty and classNameLength is 0, searchClassInCPEntry() is not able to find the resource in Jimage, it returns a non-zero value, so we never set load location type to LOAD_LOCATION_MODULE. The default load location type is LOAD_LOCATION_UNKNOWN, which leads us to assign unamed module to anonymous classes.

I think

[2018-09-13 14:59] #2852 closed

[2018-09-13 15:01] hangshao0 commented on #2850
Something might be wrong with username setting on the failed machine.

[2018-09-13 15:04] hangshao0 commented on #2847
This test is supposed to copy class files to a new location. Copy failed.

[2018-09-13 15:05] DanHeidinga commented on #2839
Let's give that a try then.  Maybe @andresluuk would be willing to test JRebel on a build with that change to confirm it makes OpenJ9 behave the same as the RI.

[2018-09-13 15:08] DanHeidinga opened #2856 "Add tests for "Reject illegal entries in the bootstrap argument array""
With the changes in https://github.com/eclipse/openj9/pull/2700, openj9 correctly handles condy's in the bsm list.  We should add some tests that validate that other cp items are rejected.

[2018-09-13 15:10] DanHeidinga commented on #2856
@ChengJin01 Can you take a look at this?

[2018-09-13 15:11] hangshao0 commented on #2839
OK. Then I will mark PR https://github.com/eclipse/openj9/pull/2845 as "WIP" for now, until we get confirmation from @andresluuk

[2018-09-13 15:15] nbhuiyan commented on #2841
@jdekonin OpenJ9 requires nasm version 2.13.03

[2018-09-13 15:35] DanHeidinga commented on #2679
Anton Katilin mentioned on Slack:

https://openj9.slack.com/archives/C8312LCV9/p1536839030000100?thread_ts=1536682312.000100&cid=C8312LCV9

[2018-09-13 16:03] ChengJin01 commented on #2856
Will figure out how to write these tests (might need  asm tools to get this work at the bytecode level)

[2018-09-13 16:09] sophia-guo commented on #2100
I believe current separate test image collect all test related shared libraries. Could we do same for native tests related executables, which are already created as part of the Openj9 build. Could just copy them to test images too? So we can re-enable those native tests?

My lists of executables are:
algotest
cfdump
ctest
pltest
shrtest
gc_rwlocktest
glaunch
dyntest
vmtest
vmLifecyleTests
thrstate

[2018-09-13 17:02] andresluuk commented on #2839
Yes, I would like to try the fix. When I get a link to branch with a fix, I can try to build it as soon as tomorrow morning.

[2018-09-13 17:05] keithc-ca commented on #2100
That seems reasonable; I'll put some PRs together.

[2018-09-13 17:08] AdamBrousseau opened #2859 "Add "Any Target" test job(s) to PR builds"
Helps #2316
Depends #2728

Sometimes it would be useful to only run a smaller set of testing for PR builds. We should be able to add a set of jobs that would accept any test target. Very similar to the [Grinder job](https://ci.eclipse.org/openj9/job/Test-Grinder/). We likely need them per spec and per platform because our pipelines call the existing test jobs without passing that information. We a

[2018-09-13 18:35] gacholio commented on #2668
#2795 is now merged.

[2018-09-13 20:17] theresa-m commented on #2751
working on this.

[2018-09-13 20:48] JasonFengJ9 commented on #2751
Note: https://github.com/eclipse/openj9/issues/2839#issuecomment-421022531

Please check with @hangshao0 if his WIP PR is going to cover this issue as well.

[2018-09-13 20:56] keithc-ca commented on #2100
The PRs also include `bcvunit` in the list of test executables.

[2018-09-13 21:08] pdbain-ibm commented on #2788
LinuxX86 does have `-fno-strict-aliasing`.  Will check other platforms.

I have a pull request
https://github.com/eclipse/openj9/pull/2844 to address the aliasing errors in pushArguments(). Those changes fix the issue.

[2018-09-13 21:14] pshipton commented on #2788
It might fix this particular issue, which doesn't mean we won't find more issues afterwards. How much testing have you done on a JVM, compiled with gcc 7.3, with the fix applied?

[2018-09-13 21:28] pshipton commented on #2788
ppc le is the platform which isn't working with gcc 7.3. There may be more aliasing problems lurking before its working. "Running a build" needs to be done with gcc 7.3 enabled in order to test this.

[2018-09-13 21:33] pshipton commented on #2751
JRebel needs to add additional classes, #2839 won't fix this.

[2018-09-13 21:36] JasonFengJ9 opened #2865 "Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs Nestmate_virtual_private_0_FAILED"
[code]

Another `Segmentation error ` at `libj9jit29.so`.

[code]

[2018-09-13 21:37] JasonFengJ9 opened #2866 "Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs ** ASSERTION FAILED ** at cnathelp.cpp:91"
[code]

[2018-09-13 21:46] 0dvictor commented on #2833
I got a prototype working and tested. However, during this process I got a question that I would like to clarify before creating a pull request.

Quote from Java 8 Specification:

The specification does not require returning -1, 0, or 1; although the JCL implementation may do.

So I got two questions:
1. Should the CodeGen generate equivalent code to the JCL implementation, or it can generate any

[2018-09-13 21:48] pshipton commented on #2100
@sophia-guo I've merged the changes for Java 11/12. I've also asked Keith to backport this to Java 8 so the executables (and test libraries) will be available there as well.

[2018-09-13 21:53] #2788 closed

[2018-09-13 22:40] pshipton commented on #2798
@keithc-ca can you please take a look

[2018-09-14 01:06] gacholio commented on #2811
In JDK11, the test should be expecting AbstractMethodError for private implementation.

#2770 was a bit too aggressive - it threw AbstractMethodError for all illegal implementations, where it should only be doing so for private implementations.

[2018-09-14 01:44] #1889 closed

[2018-09-14 03:48] #2048 closed

[2018-09-14 04:39] DanHeidinga commented on #2865
@jdmpapin This looks like a `-Xjit:count0,rtResolve` failure with nestmates code.  Can you or someone on the jit team take a look?

FYI @andrewcraik

[2018-09-14 04:41] prakaashkpk commented on #2813
Adding some more information.

Every time a new thread is created, JVM sets the thread affinity Mask so that it adheres to NUMA settings. But unfortunately, when new CPUs are added affinity mask value gets changed and JVM doesn't reflect the thread's affinityMask, so it gets scheduled on the core originally available when JVM is started.

In  `omr/thread/linux/omrthreadnuma.c`
Method [`omrthread_n

[2018-09-14 05:11] DanHeidinga commented on #2866
FYI @jdmpapin @andrewcraik

[2018-09-14 09:57] andresluuk commented on #2839
Good news everyone!
Defining everything before java.base is defined into java.base works for us.
With that small change I managed to get jrebel working.

There is also the additional benefit of avoiding the JVM crashes.
Before the change, when I defined a class that went to the unnamed module, I would get a JVM crash with a access check error and a core dump.
Now I didn't get it, but got a few Jav

[2018-09-14 10:10] andresluuk commented on #2751
The proposed fix to #2839 fixed our issues described in here.
We have a class transform hook that defines some extra classes. Now if we wait for a specific java.base class that is defined before the J9_RUNTIME_JAVA_BASE_MODULE_CREATED bit is set, then all the classes we define at that point will now go to java.base witch solves our problem in here.

[2018-09-14 12:41] sophia-guo opened #2869 "cmdLineTester_dumpromclasstests is using wrong jar to create core file"
cmdLineTester_dumpromclasstests for different java version is using hardcoded java8 jar, which won't be generated when running for other java version.

`-DGENERAL_TEST_DIR=$(Q)$(JVM_TEST_ROOT)$(D)functional$(D)Java8andUp$(D)SE80$(Q)`

[2018-09-14 12:56] pdbain-ibm opened #2871 "Writing to closed socket connection kills the JVM"
Recent regression.  Looks like a blocker.  FYI @gacholio .  I am investigating.

[code]

[2018-09-14 12:56] DanHeidinga commented on #2839
The change is fairly straightforward and therefore easy to review.  I'm confident we'll get this into nightly builds very soon (maybe even tonight!).

Depending on when we get it merged, it may make the OpenJ9 0.10.0 release which will be the initial JDK11 release scheduled for the end of Sept.  It will certainly be in for the 0.11.0 release scheduled for the end of Oct which will target JDK 8, 10

[2018-09-14 13:13] pshipton commented on #2850
@JasonFengJ9 when creating these test failure Issues please provide the link to the Jenkins job so we can determine what machine it ran on (for the limited time the history exists).

[2018-09-14 13:44] pdbain-ibm commented on #2871
None of the error handling tests are reporting failure.  AttachAPI sanity test passes.

[2018-09-14 13:51] dnakamura commented on #2813
Based on brief look at the code it looks like it saves the affinity mask of the main process into `defaultAffinityMask` to honor restrictions emplaced by the calling environment. (ie user may have set an affinity mask to only allow us to run on a subset of cpus)  from source:
[code]

I'm not sure how we can keep this behavior, while at the same time allowing hot cpu adds

[2018-09-14 13:56] pdbain-ibm commented on #2871
The TestNG harness is not printing the list of passing and failing tests.  the exit status of 141 is suspicious: a normal test failure causes an exit status of 1.

[2018-09-14 13:57] DanHeidinga opened #2872 "investigate adding `-fno-strict-aliasing` to ppcle builds"
Pretty sure we build with that option on other platforms.  Can you confirm that and then update the makefiles to include the option?

We'll need to do some perf testing on JDK8 (as it has the best perf test coverage) to validate that the adding the option doesn't negatively effect startup, footprint, throughput.

_Originally posted by @DanHeidinga in https://github.com/eclipse/openj9/issues/2788#i

[2018-09-14 13:58] DanHeidinga commented on #2872
@pdbain-ibm Since the original issue got closed when the jimage failure was fixed, I've opened this to track the investigation into no-strict-aliasing on p

[2018-09-14 14:36] pshipton commented on #2872
PPC LE Builds already use the option.

`/usr/bin/g++ -O3 -fno-strict-aliasing -fno-rtti -fno-threadsafe-statics -fno-exceptions -g -DLINUX -D_REENTRANT -D_FILE_OFFSET_BITS=64 -fPIC -DIPv6_FUNCTION_SUPPORT -DLINUXPPC -DLINUXPPC64 -DPPC64 -m64 -Wreturn-type -Werror -Wall -Wno-non-virtual-dtor -I. -I../include -I../oti -I../util -I../gc_include -I../omr/gc/include -I../shared_common/include -I../gc_g

[2018-09-14 14:44] pshipton commented on #2872
Not sure why the option is only used for the bytecodeinterpreter, but it should be used everywhere.

[2018-09-14 14:57] theresa-m commented on #2705
this test is passing now in the daily builds. this issue can be closed

[2018-09-14 15:01] pdbain-ibm commented on #2872
Not used for jnicsup.cpp:

[2018-09-14 15:02] llxia commented on #2798
The issue was opened when I tested with my own build (regular JDK11 test build was not ready at that time). Since the test is passing in [regular build](https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/18/tapResults/), close this issue.

[2018-09-14 15:02] #2798 closed

[2018-09-14 15:15] #2705 closed

[2018-09-14 15:57] DanHeidinga opened #2876 "Add test for Constant Dynamic entry in classfile writer"
Develop a test case that roundtrips a classfile with condy (and nestmates) through romclass->classfile conversion.

There may be a test case that already forces this for all classes being loaded (a -XX option maybe?) and we might be able to build on that

_Originally posted by @fengxue-IS in https://github.com/eclipse/openj9/pull/2775#issuecomment-421402206_

[2018-09-14 15:58] DanHeidinga commented on #2876
@fengxue-IS can you look at this?

[2018-09-14 15:58] fengxue-IS commented on #2876
looking into this

[2018-09-14 15:59] pshipton commented on #2726
Eclipse CQ https://dev.eclipse.org/ipzilla/show_bug.cgi?id=17554

[2018-09-14 17:27] jdekonin commented on #2841
v2.13.03 installed on ub16-x86-1 -> ub16-x86-6

[2018-09-14 17:27] #2841 closed

[2018-09-14 18:01] #2811 closed

[2018-09-14 18:45] ymanton commented on #2585
@lmajewski If you want to run the OpenJ9 regression tests you can try these instructions:

[code]

Building `DDR_Test` failed for me so I just disabled it via:

[code]

Documentation on testing is here if you want to know more: https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

I've managed to get a ppc32 JVM built with `-m32 -mcpu=G4` on a ppc64 server and tested in Q

[2018-09-14 18:52] fjeremic commented on #1274
A part of this is being taken care of in #2870.

[2018-09-14 19:33] #2771 closed

[2018-09-14 19:34] #2839 closed

[2018-09-14 19:54] pdbain-ibm commented on #2871
Test is failing in `testVmShutdownWhileAttached`:
[code]
Console log:
[code]
attach API log:
[code]
at which point the attacher dies.

[code]
I instrumented the test to catch Throwable: no exception or other throwable is thrown.

[2018-09-14 20:15] pdbain-ibm commented on #2871
The test connects to a target Java process, opening a socket in the process.  It then causes the target to stop (closing the socket) and tries to write to the socket.

I wrote an ad-hoc test (attached):
[code]

This previously worked (i.e. threw an exception) on OpenJ9:
[code]

... and OpenJDK:
[code]

But not with the latest OpenJ9:
[code]

The first call to `write()` returns silently and the sec

[2018-09-14 20:50] pdbain-ibm commented on #2871
[2871.zip](https://github.com/eclipse/openj9/files/2384850/2871.zip)

[2018-09-14 20:52] pshipton commented on #2493
I believe these failures are resolved now. For anything not resolved there are other Issues open.

[2018-09-14 20:52] #2493 closed

[2018-09-14 21:26] pshipton commented on #2706
This is resolved now.

[2018-09-14 21:26] #2706 closed

[2018-09-14 23:36] smlambert commented on #2726
@harryyu1994 - Perhaps you can take a look, I ran from your openjdk-tests/jitaas branch in an internal Grinder job (build number 300) and hit a build failure:
17:34:39      [exec] Step 18/31 : COPY ./dockerfile/key /root/.ssh/
17:34:39      [exec] COPY failed: stat /var/lib/docker/tmp/docker-builder001549607/dockerfile/key: no such file or directory

[2018-09-15 00:09] AlenBadel commented on #2088
@liqunl
See the attacked jdk. You can reproduce the problem by running java -version

https://ibm.box.com/s/pt2vpgrmbxts7okp7y0857z99g52adtr

[2018-09-15 15:03] PTamis commented on #2585
I compiled also on a native e500v2 core the openj9 with the instructions given. The compile finished OK.
But when I am trying to run java -version I have the following crash at JIT library.

`
bt
#0  0x0f1a0d60 in OMR::CodeGenerator::addAllocatedRegisterPair(TR::RegisterPair*) () from /mnt/persistent/tamis-openj9/openj9-openjdk-jdk8-lucasz/build/linux-ppc-normal-zero-fastdebug/images/j2re-image/li

[2018-09-15 15:58] ymanton commented on #2585
Yes that looks like the same crash. Try `-Xint`, it behaves differently than `-Xnojit` and worked for me.

[2018-09-15 20:52] #2307 closed

[2018-09-16 10:56] lmajewski commented on #2585
I'm now wondering why I don't experience such error........?

[2018-09-17 04:58] prakaashkpk commented on #2813
1. When JVM is not bound to any node or CPUs, we can simply update the affinityMask(defaultAffinityMask) by calling `sched_getaffinity()` API passing the defaultAffinityMask as argument

2. When JVM is bound to certain node/CPUs, we can use `numa_num_task_cpus()` API to get the CPUs that are allowed

[2018-09-17 09:01] andrew-m-leonard opened #2886 "JDK12 String.lines(..) changed"
JDK12 builds are failing with latest auto-merge:
[code]

the lines() method has been changed to the following signature:
[code]

[2018-09-17 09:46] akrus commented on #2782
OK, posting results here.

Applied all the changes and also did a few optimizations on OS level, now everything is perfect. Thanks everyone for assistance!

@amicic, for metronome pause times are you using GCMV? I can see there is 'Exclusive access time' and 'GC quantum time' - are those showing the actual pause?

[2018-09-17 11:29] pshipton commented on #2708
@tajila this is still failing in sanity tests
i.e. https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/22/tapResults/

[2018-09-17 11:58] JasonFengJ9 commented on #2850
Chatted with Pete, we don't provide internal test job links which are not accessible to everyone. On the other hand, the job output contains some info to identify the potential problem, hence it might help any similar investigation if this failure occurs in `OpenJ9 Eclipse build/test jobs` at `https://ci.eclipse.org/openj9/`.

@hangshao0 please use `Test-sanity.functional-JDK10-win_x86-64_cmprsspt

[2018-09-17 12:05] DanHeidinga commented on #2708
FYI @fengxue-IS - This is be a case that already covers https://github.com/eclipse/openj9/issues/2876 as it appears to be running with ` -XX:RecreateClassfileOnload`.

Can you take a look?  There may be cases that #2775 didn't handle

[2018-09-17 12:25] enasser opened #2887 "SIGFPE not consumed by the JVM when trap is enabled"
As per the JVM specification https://docs.oracle.com/javase/specs/jvms/se10/html/jvms-2.html#jvms-2.8.1, SIGFPE should be consumed by the JVM even if trap is enabled. Hotspot handles SIGFPE and provides Infinity for a divide-by-zero where as OpenJ9 crash.

Please find below the test case to recreate the issue:
[test_case.zip](https://github.com/eclipse/openj9/files/2388493/test_case.zip)

### **Re

[2018-09-17 12:33] pshipton commented on #992
@llxia is all the testing work for this completed?

[2018-09-17 12:42] pshipton commented on #1875
@andrewcraik is there anything further from JIT required for this change?

I note there was a test failure still outstanding related to the change to Unicode 10.
It should be visible in https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_390-64_cmprssptrs/17/ although jenkins isn't responding atm so I can't double check. Will open an Issue for this failure when jenkins returns.

[2018-09-17 12:50] pdbain-ibm commented on #2871
This looks like a class library change. @andrew-m-leonard Has the socket code changed recently?
@pshipton would you please remove the "test failure" label?

[2018-09-17 12:57] andrew-m-leonard commented on #2871
Nothing has changed in jdk10u for 2 months... extensions haven't changed from about a month either

[2018-09-17 13:04] AlenBadel commented on #2555
@DanHeidinga Please see https://ibm.box.com/s/6vxdi3kolbc7qfbcwu7faujm80p98q69

[2018-09-17 13:13] enasser opened #2888 "Invoke JVM using JNI_CreateJavaVM with linkage path JAVA_HOME/lib/server failed"
When we tried to invoke JVM using JNI_CreateJavaVM from a native code by providing the linkage path as JAVA_HOME/lib/j9vm or JAVA_HOME/lib/server, we are getting the following error where as it works fine when use the path JAVA_HOME/lib/compressedrefs.

`./invoke: error while loading shared libraries: libjvm_b156.so: cannot open shared object file: No such file or directory`

I could find an issue

[2018-09-17 13:19] pdbain-ibm commented on #2871
Fails with Java 8:

[2018-09-17 13:26] pshipton opened #2890 "Test-sanity.functional-JDK11-linux_390-64_cmprssptrs JCL_Test_0 test_toLowerCase_lithuanian"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_390-64_cmprssptrs/17
[code]

[2018-09-17 13:28] pshipton commented on #2890
Appears to be a test issue related to #1875.

There are new combining characters in the Unicode 10 spec, since Unicode 8 (Java 9).
[code]
There may be more.

References
https://www.unicode.org/Public/8.0.0/ucd/UnicodeData.txt
https://www.unicode.org/Public/10.0.0/ucd/UnicodeData.txt

[2018-09-17 13:29] pshipton commented on #2890
@fjeremic

[2018-09-17 13:29] andrew-m-leonard commented on #2871
Java8 extensions were updated to jdk8u192-b03 recently

[2018-09-17 13:32] llxia commented on #2819
There is no crash, but I still see `org.openj9.test.java.lang.Test_ThreadGroup$1UncaughtException`

[code]

https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le/18/tapResults/

[2018-09-17 13:55] pshipton commented on #1875
Opened #2890

[2018-09-17 13:58] fjeremic commented on #1875
I don't think so. We only accelerate "en" locale which is effectively the ASCII subset of UTF16:

https://github.com/eclipse/openj9/blob/298cfabf56acfce0cf1ba14e3f8f98debb6e601e/jcl/src/java.base/share/classes/java/lang/String.java#L2807-L2826

Any changes to Unicode standard will not affect the JIT intrinsics.

[2018-09-17 14:12] JasonFengJ9 commented on #2888
This appears due to the basename (`libjvm.so`) doesn't match soname (`libjvm_b156.so`) as per following:
[code]
When the build script copies `redirector/libjvm_b156.so` to `j9vm/libjvm.so`, the soname need to be changed as well.
Tried following command:
[code]
Now it finds correct library, and see Unhandled exception Floating point error as per #2887.

Note: all platform supported by `OpenJ9` have

[2018-09-17 14:12] JasonFengJ9 commented on #2886
Will have a look at this.

[2018-09-17 14:15] llxia commented on #992
yes, openj9 testing work for this is completed.

[2018-09-17 14:31] amicic commented on #2782
There is no link to results.

I do use GCMV for first pass analysis. You can spot outliers etc. But deeper analysis I also look into the logs, do some parsing that GCMV does not. Especially true for non-metronome GC policies where verbose GC is much more verbose.

Yes, exclusive access time and quantum times are the actual pauses.

Exclusive access is time to stop application threads so that a GC

[2018-09-17 14:35] JasonFengJ9 commented on #2886
It appears @keithc-ca has been working on this already https://github.com/eclipse/openj9/pull/2891

[2018-09-17 14:38] akrus commented on #2782
Sorry, here is the link:
http://nya.im/jvm_20180915.log

[2018-09-17 14:59] harryyu1994 opened #2893 "Testing for out-of-process JIT compilation (aka JITaaS)"
While it’s true that JITaaS can run the same set of tests that OpenJ9 runs, we are going to need two “java” instances running instead of one. (One act as the server and one act as the client)

For example:
We need to first launch the server like this:
./java -XX:JITaaSServer &

Then runs the OpenJ9 tests with this extra option.
make _sanity EXTRA_OPTIONS=” -XX:JITaaSClient ”

Could this setup be d

[2018-09-17 15:06] harryyu1994 commented on #2726
Ah I will get the dockerfile fixed

[2018-09-17 15:10] fengxue-IS commented on #2708
@DanHeidinga thanks for pointing at this, I ll look into the test failure and update #2876

[2018-09-17 15:27] llxia commented on #2893
I think we can have a variable, say `PRE_TEST_CMD` set in https://github.com/AdoptOpenJDK/openjdk-tests/blob/f887cbaeaecfecc2dcf8f8b644c41b58cff9328a/maketest.sh#L19

By default, `PRE_TEST_CMD` is empty. If JITaaS build, Jenkins build/local run can pass in the cmd it needs run before running any test.

fyi @renfeiw

[2018-09-17 15:27] fjeremic commented on #2141
Actually I still see this happening in on of @mpirvu's builds from #2546:

https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK8-linux_390-64_cmprssptrs-OpenJ9/70/consoleFull

[code]

[2018-09-17 15:31] gacholio commented on #2866
#2851 is merged. @JasonFengJ9 Please retest.

[2018-09-17 15:31] gacholio commented on #2865
@JasonFengJ9 Please retest.

[2018-09-17 15:38] harryyu1994 commented on #2893
Also I think we need to somehow kill/clean up the server after the test run is over.

[2018-09-17 15:43] pdbain-ibm commented on #2141
That's a recent regression in the socket code, cause unknown, unrelated to attach API:
https://github.com/eclipse/openj9/issues/2871

[2018-09-17 15:49] fjeremic commented on #2890
Taking a look at this now. This indeed does seem like a test issue, specifically related to the following code:

https://github.com/eclipse/openj9/blob/9c4322085b15f0227e188818cda4e289f46b2189/test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_String.java#L1272-L1282

It looks like we need to update these strings for Java 11 with the proper mappings according to the Unicode 10 standard

[2018-09-17 15:52] pshipton commented on #1971
@DanHeidinga is this now completed?

[2018-09-17 16:01] pshipton commented on #1875
Closing since nothing is required other than fixing the test #2890

[2018-09-17 16:01] #1875 closed

[2018-09-17 16:02] #992 closed

[2018-09-17 16:07] irinarada commented on #2890
@fjeremic "we need to update" - will you be updating them?

[2018-09-17 16:08] fjeremic commented on #2890
Yes, working on this now.

[2018-09-17 16:09] irinarada commented on #2821
@fjeremic - can someone look at this as soon as possible? https://github.com/eclipse/openj9/issues/2821

[2018-09-17 16:11] fjeremic commented on #2821
@dchopra001 can you please take a look at this one?

[2018-09-17 16:12] irinarada commented on #2673
@jdmpapin - do we have an ETA for this one?

[2018-09-17 16:16] JasonFengJ9 commented on #2866
A build is in progress.

[2018-09-17 17:36] JasonFengJ9 commented on #2866
[code]

[2018-09-17 17:36] #2866 closed

[2018-09-17 17:37] JasonFengJ9 commented on #2865
[code]

[2018-09-17 17:37] #2865 closed

[2018-09-17 17:39] pdbain-ibm commented on #2704
This is a known issue: the test requires a native JVMTI agent which was missing in the builds.
The associated tests were previously excluded.
The native agent is likely either missing or in the wrong location.
Please re-exclude the tests.

[2018-09-17 17:44] pshipton opened #2897 "Compile Java 11 with Java 11 bytecodes"
As per https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/3, Java 11 is being compiled with source=10 target=10 instead of 11. When nestmates work is completed (https://github.com/eclipse/openj9/projects/3), the workaround needs to be reverted.

[2018-09-17 17:52] pshipton commented on #2704
Note the JVMTI agent should be available in the Java 11 builds now. @llxia

[2018-09-17 18:38] llxia commented on #2704
I will look into this. Likely new location needed to be added into lib path.

[2018-09-17 18:45] fengxue-IS commented on #2708
This error is due to class writer linking the nest host attribute to wrong CP entry, (Class name UTF8 instead of Constant_Class_info)

[2018-09-17 18:55] dchopra001 commented on #2821
This issue is no longer reproducible.

1. I discussed with Lan, and he did not see this failure in recent builds:
https://ci.eclipse.org/openj9/view/Test/job/Test-extended.functional-JDK11-linux_390-64_cmprssptrs/18/tapResults/

2. Just to be sure, I launched grinders on this test to try and reproduce the issue. After 160 runs, I have 0 reproductions of this issue:
10x:
https://hyc-runtimes-jenkin

[2018-09-17 19:27] pdbain-ibm commented on #2871
Failing with

Passing with

[2018-09-17 19:36] dchopra001 commented on #2821
This failure looks different from the original reported failure. The first looked to be in jitted code, while this one looks to have crashed in the VM module. It's hard to say for sure if it's the same issue (though I wouldn't rule it out). If we still think this is the same issue, then it looks like this could be a common problem across all platforms.

[2018-09-17 19:37] llxia commented on #2704
yes, $(ADD_JVM_LIB_DIR_TO_LIBPATH) needs to be added. I will create a PR for this.

[2018-09-17 20:19] pdbain-ibm commented on #2871
Passing with the latest nightly build from
https://github.com/AdoptOpenJDK/openjdk10-binaries/releases/download/jdk10u-2018-09-17-09-19/OpenJDK10U-jre_x64_linux_openj9_2018-09-17-09-19.tar.gz

openjdk version "10.0.2-adoptopenjdk" 2018-07-17
OpenJDK Runtime Environment (build 10.0.2-adoptopenjdk+13)
Eclipse OpenJ9 VM (build master-669607af, JRE 10 Linux amd64-64-Bit Compressed References 20180916_

[2018-09-17 20:24] pshipton opened #2902 "PullRequest-Sanity-JDK11 JCL_Test_OutOfMemoryError_1 ASSERTION FAILED ** at vmthread.c:1432: ((fatalRecursiveStackOverflowDetected))"
This problem occurred in Pull Request testing on a change to use Java 11 bytecodes (javac target 11) when doing the Java 11 builds. https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/21

https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-linux_390-64_cmprssptrs-OpenJDK11/3/tapResults/

[code]

[2018-09-17 20:45] irinarada commented on #2821
@andrewcraik , @zl-wang - either ppc or common issue... can we have someone look at it.

[2018-09-17 20:51] irinarada commented on #2821
@IBMJimmyk - would you please look at this.

[2018-09-17 21:18] #2708 closed

[2018-09-17 21:51] pshipton commented on #2782
Just in case, attaching the file
[jvm_20180915.log](https://github.com/eclipse/openj9/files/2390407/jvm_20180915.log)

[2018-09-17 22:03] pshipton commented on #2819
@JasonFengJ9 another failure for triage.

[2018-09-17 22:10] JasonFengJ9 commented on #2850
It was determined that the failure was due to `JDK10` tests were running on a unsupported platform.
Closing.

[2018-09-17 22:10] #2850 closed

[2018-09-17 22:30] jdmpapin opened #2903 "Clean up TR_Thunks and TR_J2IVirtualThunkPointer relocations"
As per [this comment](https://github.com/eclipse/openj9/pull/2874#issuecomment-421489788), the current design of `TR_Thunks` and the new and somewhat rushed `TR_J2IVirtualThunkPointer` has them doing too much. Each of these two relocates a constant pool address, after which the code is expected to contain a constant pool index that identifies the method whose J2I thunk must be created.

We should

[2018-09-17 22:34] pshipton commented on #2819
Yes, seems printing a stack trace to the console is a side affect of causing an uncaughtException

[2018-09-17 22:34] #2819 closed

[2018-09-17 23:08] JasonFengJ9 commented on #2902
Note: @fengxue-IS is on this.

[2018-09-18 00:55] #2886 closed

[2018-09-18 01:36] DanHeidinga commented on #2902
Possibly another occurrence of https://github.com/eclipse/openj9/issues/2708

[2018-09-18 02:09] DanHeidinga commented on #1971
I believe so

[2018-09-18 02:09] #1971 closed

[2018-09-18 02:35] DanHeidinga commented on #2825
@ildar Webstart has been deprecated for a while now and based on this article[1], it is also removed from Oracle Java 11.

[1] https://dzone.com/articles/what-the-future-java-releases-will-mean-for-legacy

As far as I know, webstart has never been part of OpenJDK and was only available in commercial JDKs.  The peculiarity is with the parts of the JDK that have never been open sourced, and not with

[2018-09-18 02:43] DanHeidinga commented on #2902
The build in ibmruntimes/openj9-openjdk-jdk11#21 passes with the fix from #2708.  Closing this.

[2018-09-18 02:43] #2902 closed

[2018-09-18 02:46] pshipton commented on #2897
Fixed for Java 11 via https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/21.
Will also fix the https://github.com/ibmruntimes/openj9-openjdk-jdk stream.

[2018-09-18 02:52] pshipton commented on #2751
Closing since #2845 resolves this.

[2018-09-18 02:52] #2751 closed

[2018-09-18 03:07] pshipton commented on #2897
Created https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/33

[2018-09-18 03:13] JasonFengJ9 commented on #2887
Additional experiment results as per @DanHeidinga suggestion:

A JNI native (not customer launcher) invoking `feenableexcept()` before Java performing divided-by-zero produces following result against RI JDK8 (and JDK11):
[code]
It looks like RI signal handlers catch the error and map it to an exception.

Java code snippets:
[code]

Native code snippets:
[code]

[2018-09-18 05:49] enasser commented on #2887
@JasonFengJ9 That is an interesting observation. So with RI JDK, there is difference in behavior when the SIGFPE is enabled before and after create JVM. If the trap is enabled before create JVM, it just catch the exception and continue where as if the trap is  enabled after create JVM, then it result in the ArithmeticException.

[2018-09-18 11:06] pshipton commented on #2897
The changes are merged.

[2018-09-18 11:06] #2897 closed

[2018-09-18 11:28] pshipton opened #2907 "Test-sanity.functional-JDK10-win_x86-64 Unable to delete JIT_Test"
Occurred in an OMR acceptance build
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK10-win_x86-64_cmprssptrs/72

[code]

[2018-09-18 11:28] pshipton commented on #2907
@AdamBrousseau @llxia

[2018-09-18 11:35] JasonFengJ9 commented on #2887
@enasser that's correct.

[2018-09-18 12:45] namrata-ibm opened #2908 "OpenJ9 s390x - Build failure seen with block overrun error"
While building TensorFlow from source on s390x Ubuntu 16.04 with AdoptJDK facing below error:

[code]
It seems this is related to AdoptOpenJDK on s390x. I have verified that the build with OpenJDK 8 works.
Further, verified the nasm file is valid. More discussion can be found here:
https://issues.apache.org/jira/browse/COMPRESS-453
tensorflow/tensorflow#16862 (comment)

Tried with `jdk8u162-b12_op

[2018-09-18 12:56] pshipton opened #2909 "Missing java.lang.ref.Reference.waitForReferenceProcessing() for openjdk regression tests for TLS 1.3"
< sun/security/provider/FileInputStreamPool/FileInputStreamPoolTest.java                                                  Failed. Execution failed: `main' threw exception: java.lang.Error: java.lang.NoSuchMethodException: java.lang.ref.Reference.waitForReferenceProcessing()

It appears a private method java.lang.ref.Reference.waitForReferenceProcessing() is required.

[2018-09-18 12:56] pdbain-ibm commented on #2801
I have made no progress on this and am focussed on issue #2871.  I would be obliged if someone on Shelley's team (who know the tools better) would resolve this.

[2018-09-18 13:14] pshipton commented on #2801
@llxia please help to resolve this.

[2018-09-18 13:28] irinarada commented on #2908
@fjeremic - another 390, would you please have someone look at it?

[2018-09-18 13:48] pdbain-ibm commented on #2871
Also passing with the latest ci.eclipse build:
OpenJDK10U_x64_linux_openj9_2018-09-16-14-04.tar.gz

This is starting to look like a tool or environment issue.

[2018-09-18 13:55] pshipton commented on #1280
@tajila @DanHeidinga as per the previous comment, can we close this?

[2018-09-18 13:57] pshipton commented on #1279
@dmitripivkine is there still work to do here?
@DanHeidinga @tajila

[2018-09-18 13:59] pshipton commented on #1357
@DanHeidinga @fengxue-IS can this be closed now?

[2018-09-18 14:00] pshipton commented on #1053
@DanHeidinga can this be closed now?

[2018-09-18 14:01] fjeremic commented on #2908
@NigelYiboYu can you give the reproduction steps a shot? See corresponding AdoptOpenJDK issue for more information as to why we think this is a JIT issue. I couldn't find the method they were talking about but if it's reproducible we can just binary search with a vlog.

@namrata-ibm are we able to extract just the `java` command which causes the issue? It looks like the last step is this:

[code]

[2018-09-18 14:13] tajila commented on #1280
This can be closed

[2018-09-18 14:14] tajila commented on #1279
This can be closed

[2018-09-18 14:14] tajila commented on #1279
This can be closed

[2018-09-18 14:14] dmitripivkine commented on #1279
Fixed missed place #2873

[2018-09-18 14:15] dmitripivkine commented on #1279
I believe it is complete

[2018-09-18 14:31] aguibert opened #2911 "IllegalAccessError setting final fields in <clinit> on JDK 11"
In the OpenLiberty project we use trace points injected at runtime (using the newest version of ASM).  This works fine with OpenJDK 11, but fails when using OpenJ9:

[code]

[2018-09-18 14:40] aguibert opened #2912 "java.lang.NoClassDefFoundError: com.sun.xml.internal.txw2.IllegalAnnotationException on JDK 11"
In OpenLiberty we have an injection processing component which calls `Class.getDeclaredFields` to scan for annotations at runtime.  This works fine with HotSpot JDK 11 but fails on OpenJ9 JDK 11 with the following error:

[code]

[2018-09-18 14:41] JasonFengJ9 commented on #2909
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/b44d19c4cbca42541aef5132f21870c1b924a68c/test/jdk/sun/security/provider/FileInputStreamPool/FileInputStreamPoolTest.java#L152-L154
[code]
@LinHu2016 is on this.

[2018-09-18 14:45] LinHu2016 commented on #2909
I can add new private static method waitForReferenceProcessing() in Reference.java to avoid the issue, but apparently test code (FileInputStreamPoolTest.java) uses unusual reflection way to access private method.

[2018-09-18 14:50] liqunl opened #2915 "Optimize Unsafe.getAndSet to atomicCompareAndSwapReturnValue in J9RecognizedCallTransformer"
Current optimization on `Unsafe.getAndSet` uses atomicCompareAndSwap which returns a boolean. This is incorrect and is to be removed in https://github.com/eclipse/openj9/pull/2913. The right transformation should use atomicCompareAndSwapReturnValue to return the old value in the given memory location.

The atomicCompareAndSwapReturnValue is to be implemented in https://github.com/eclipse/omr/pull/

[2018-09-18 14:54] hangshao0 commented on #1646
I will open an issue at the openj9-docs repo once we have decided on the details and finalized the implementation.

[2018-09-18 14:54] vsebe commented on #2893
Depends on https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/493

[2018-09-18 14:54] LinHu2016 commented on #2909
currently plan to add private static method waitForReferenceProcessing() for Java 9 or above, but we can also add it in Java 8 openJ9

[2018-09-18 14:57] DanHeidinga commented on #2911
@gacholio Can you take a look at this?

[2018-09-18 14:59] pshipton opened #2916 "Crashes with -Xshareclasses enabled testing on x"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-win_x86-64_cmprssptrs/17/tapResults/
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/23/tapResults/

example
[code]

[2018-09-18 14:59] DanHeidinga commented on #2912
@JasonFengJ9 FYI

[2018-09-18 15:03] pshipton opened #2917 "Crashes in jitt and other testing on ppc le"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le/19/tapResults/

example
[code]

[2018-09-18 15:04] pshipton commented on #2912
I expect this class is removed as part of http://openjdk.java.net/jeps/320. It exists in openjdk 8, 9, 10 but not 11 or the head stream.
@aguibert

[2018-09-18 15:06] pshipton commented on #2912
What hotspot build did you try?

[2018-09-18 15:06] JasonFengJ9 commented on #2909
It appears this test is against RI specific internal behaviour (a private static method). If there is no usage I would suggest to add it for `JDK11` and onwards.

[2018-09-18 15:07] dsouzai opened #2921 "Improvements for Relocatable Compilations"
Issue to track the multiple PRs opened for this task.

Part 1:
OMR: https://github.com/eclipse/omr/pull/2977
OpenJ9: https://github.com/eclipse/openj9/pull/2918

Part 2:
OMR: https://github.com/eclipse/omr/pull/2978
OpenJ9: https://github.com/eclipse/openj9/pull/2919

Part 3:
OMR: https://github.com/eclipse/omr/pull/2979
OpenJ9: https://github.com/eclipse/openj9/pull/2920

[2018-09-18 15:08] aguibert opened #2922 "Stack trace elements from JDK classes should include module name on JDK 9+"
We have a test in OpenLiberty that verifies stack traces in logs.  On Java 9+, stack trace elements should include what module they are from (if they are from a named module).  This works with Hotspot JDK 11 but not OpenJ9 JDK 11.

Example stack trace:
[code]

Stack trace elements should look like this:
`	at java.base/java.util.HashMap.hash(java.base@11-adoptopenjdk/HashMap.java:339)`

The easiest

[2018-09-18 15:08] dsouzai commented on #2921
@mstoodle @vijaysun-omr @mpirvu @jdmpapin

[2018-09-18 15:08] JasonFengJ9 commented on #2912
The issue description states "HotSpot JDK 11".

[2018-09-18 15:09] hangshao0 commented on #2916
vmState=0x00040000 is JNI

[2018-09-18 15:09] aguibert commented on #2912
hi @pshipton, yes I am painfully aware of JEP 320 =)

I am using the OpenJDK 11 release candidate build:
[code]

[2018-09-18 15:09] JasonFengJ9 commented on #2912
@aguibert any chance we can reproduce the failure?

[2018-09-18 15:10] pshipton commented on #2912
I have a build created from openjdk and it doesn't contain the class.
What does "bin/javap com.sun.xml.internal.txw2.IllegalAnnotationException" produce on your hotspot build?

[2018-09-18 15:12] pshipton commented on #2912
Could the problem be Liberty failing to detect the OpenJ9 build is Java 11?

[2018-09-18 15:12] lmajewski commented on #2585
@ymanton  Which CONF do you use for your build?
I do use the "release" configuration ->  CONF=linux-ppc-normal-zero-release

[2018-09-18 15:14] fjeremic commented on #2917
I'm wondering if this failure is the same one as seen in https://github.com/eclipse/openj9/issues/2821#issuecomment-422138973. Looks sort of similar.

[2018-09-18 15:20] fengxue-IS commented on #1357
I think so, https://github.com/eclipse/openj9/pull/2434 should be the replacement for #1960

[2018-09-18 15:20] aguibert commented on #2912
@JasonFengJ9 I am currently working on a way to reproduce this issue with a publicly available test.  I will post back when I have something.

@pshipton running the javap command results in a class not found error (which makes sense because this class isn't in my Hotspot build).  We do include the non-internal version of this class in OpenLiberty: `com.sun.xml.bind.v2.runtime.IllegalAnnotationExce

[2018-09-18 15:22] pshipton commented on #2916
@hangshao0 I suspect its jit/aot related, likely due to nestmates being enabled in the jvm build yesterday.

[2018-09-18 15:29] pshipton commented on #2912
Does -Xverify:none fix the problem?

[2018-09-18 15:34] #2890 closed

[2018-09-18 15:36] ymanton commented on #2585
@lmajewski I use the release conf as well. JIT compiler problems are sometimes intermittent or hard to recreate in different environments so it would not be surprising that you have not experienced it. I'll have some time later in the week to look into it.

[2018-09-18 15:49] aguibert commented on #2911
The easiest way to reproduce this issue is to [build OpenLiberty](https://github.com/OpenLiberty/open-liberty/tree/master#contribute-to-open-liberty) and then run the com.ibm.ws.logging_fat test project with ./gradlew :com.ibm.ws.logging_fat:buildandrun

[2018-09-18 15:54] #1279 closed

[2018-09-18 15:55] #1280 closed

[2018-09-18 15:57] #1357 closed

[2018-09-18 15:58] pshipton commented on #2922
@JasonFengJ9

[2018-09-18 16:28] andrew-m-leonard opened #2927 "JDK11: TLS 1.3 test failure running jtreg_tests TESTDIRS=jdk/sun/security"
make jtreg_tests TESTDIRS=jdk/sun/security failure caused by:
java: ../j9vm/java11vmi.c:1458: JVM_GetVmArguments: Assertion `!"JVM_GetVmArguments unimplemented"' failed.

https://hyc-rt-openjdk-jenkins.swg-devops.com/job/build_and_JTReg/24/console

[2018-09-18 17:31] pshipton commented on #2927
As called by jdk_internal_misc_VM_getRuntimeArguments() I'm guessing.
@andrew-m-leonard is the resulting javacore file available?

[2018-09-18 17:37] harryyu1994 commented on #2893
Hi, I'm wondering roughly when this will be completed. Thanks!