[2019-04-11 16:09] smlambert commented on #5454
Thanks @JasonFengJ9 - yes, we have learned we need to use the [--retain command line option](https://openjdk.java.net/jtreg/faq.html) with the underlying openjdk/jtreg framework in order to not have the framework quickly delete these files from the scratch folder.  We are updating the WIP PR that will capture contents of scratch folder to accommodate this.

[2019-04-11 16:50] fjeremic commented on #5458
@NigelYiboYu can you please handle this as part of your open PRs?

[2019-04-11 16:50] fjeremic commented on #5458
@NigelYiboYu can you please handle this as part of your open PRs?

[2019-04-11 16:50] fjeremic commented on #5458
@NigelYiboYu can you please handle this as part of your open PRs?

[2019-04-11 17:01] keithc-ca commented on #5373
The map of converters is only used internally by tests (that don't need it): the plan is simply to remove all this unnecessary overhead in `ManagementUtils`.

[2019-04-11 17:07] DanHeidinga commented on #3742
This issue showed up in a recent JDK12 PR build for #4918

[2019-04-11 17:20] DanHeidinga commented on #5455
This should be handled by the VM's resolve helpers.  I'm not aware of any JIT surface to this feature.

New in Java 9, similar to JSR 292's MethodHandles but for field access under different modes.

In additional to DirectToJNI, there's also the recentish work on atomic free vmaccess.

[2019-04-11 17:21] DanHeidinga commented on #5449
@theresa-m Can you take a look at this?

[2019-04-11 17:58] andrewcraik commented on #5373
@vijaysun-omr FYI

[2019-04-11 18:19] andrewcraik commented on #5455
VarHandles are just like MethodHandles by the time you get to codegen. Nestmates are only seen as part of the resolve paths and not really for perf.

[2019-04-11 18:20] andrewcraik commented on #5455
No special support needed for JProfiling - it is all done in trees.

[2019-04-11 18:21] pshipton opened #5462 "Test-sanity.system PatchModuleImageTest failing"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK12-aix_ppc-64_cmprssptrs/47
aix71-p8-1
PatchModuleImageTest_AppModPatchModule_0
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly/1/
win2012r2-x86-6
PatchModuleImageTest_PlatformModPatchModule_0
[code]
3221226505 == C0000409
no more useful diagnostics

PatchModuleImageTest_UnexportedTypePatchModu

[2019-04-11 18:24] RSalman commented on #5388
These changes shouldn't have anything to do with these failures. Changes are related to GC verbose logging which doesn't seem to be enabled for these tests.

[2019-04-11 18:26] andrewcraik commented on #5455
Constant dynamic is transparent in codegen

[2019-04-11 18:28] pshipton commented on #5462
Results file from the first AIX failure
[systemtest_test_output.tar-1.gz](https://github.com/eclipse/openj9/files/3070057/systemtest_test_output.tar-1.gz)

[2019-04-11 18:28] pshipton commented on #5462
javacores show it's stuck here
[code]

[2019-04-11 18:32] llxia commented on #5454
@smlambert and @JasonFengJ9 you are both correct.

From my local testing, the files got moved out of `scratch` folder even with `-retain:fail,error,*.dmp,javacore.*,*.trc,*.phd`.

Output:
[code]

system core, snap trace and javacore is actually located at
[code]

I will create a PR soon to point workDir to TKG reportDir and update `-retain` cmd, so that diagnostic files will be archived.

Referenc

[2019-04-11 18:44] pshipton commented on #5462
The first Windows failures doesn't have any useful diagnostics.
The second has the following in OT3.stderr
[code]

[2019-04-11 19:14] mpirvu opened #5464 "Increased number of client-server messages in JITaaS when using AOT cold runs"
While running AcmeAir with JITaaS and AOT I observed that the frequency of some messages has increased substantially. Examples:
[code]
Without AOT, no message exceeds 100K.

[2019-04-11 19:14] mpirvu commented on #5464
@satbir-ca  Satbir, as discussed, please look into this issue.

[2019-04-11 19:26] babsingh commented on #5061
@andrewcraik I copied the core files to /team:
- Old core file (renamed): /team/triage/openj9-5046/corefiles_15Mar19.tar.gz
- New core file: /team/triage/openj9-5046/corefiles_11Apr19.tar.gz

**Machine where the failure occurred:** [osx1011-x86-2](https://ci.eclipse.org/openj9/computer/osx1011-x86-2/) (setup for building Java 8; has XCode 4 and 7)

**Stack (similar but different starting point):**

[2019-04-11 19:57] harryyu1994 commented on #3724
With the way the class `TR_PersistentMemory` is defined (in omr), I don't think we have a clean solution to extend `PersistentMemory` & `PersistentInfo`.
[code]
- the goal of extending TR_PersistentMemory is so that we can have a specialized version of `TR::PersistentInfo` (`TR::JITaaSPersistentInfo`) that overrides `getPersistentCHTable()` to give us the correct CHTable.
- However, instead of a p

[2019-04-11 20:15] #5389 closed

[2019-04-11 21:11] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_OMR/2
[code]

[2019-04-11 21:14] babsingh commented on #5359
@pshipton @DanHeidinga Sincere apologies for the delayed response. for some reason, i didn't receive email notifications for this issue. `SIGALRM` support needs to be added in OMR to fix the above issue. I have created the following OMR issue to add `SIGALRM` support in OMR: https://github.com/eclipse/omr/pull/3737.

[2019-04-11 21:20] babsingh commented on #5359
@babsingh (test email notification)

[2019-04-11 21:42] babsingh commented on #5359
@babsingh (test email notification)

[2019-04-11 22:20] babsingh commented on #5359
Still not receiving email notifications; found no mail in junk; and verified that notification settings (https://github.com/settings/notifications) are properly set. Contacted Github (https://github.com/contact) regarding this issue. Will try to manually track this issue in the meanwhile.

[2019-04-12 02:01] pshipton opened #5471 "zlinux jdk8 PR testing ERROR: Must specify SDK_VERSION"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-linux_390-64_cmprssptrs-OpenJ9/691/console
[code]

[2019-04-12 02:01] pshipton commented on #5471
@AdamBrousseau @llxia

[2019-04-12 02:04] #5447 closed

[2019-04-12 03:23] AdamBrousseau commented on #5471
Fixed

[2019-04-12 03:41] #5471 closed

[2019-04-12 03:46] pshipton opened #5472 "cent6-x64-1 and 7 Error fetching remote repo error: index-pack died of signal 15"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly/3/console
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/3/console
[code]

Suspect a machine issue, disabling cent6-x64-1

[2019-04-12 03:46] pshipton commented on #5472
@jdekonin @vsebe

[2019-04-12 03:48] pshipton commented on #5472
Many more of these occurred last night as well, checked a number and they all occurred on cent6-x64-1

[2019-04-12 03:53] pshipton commented on #5462
@Mesbah-Alam

[2019-04-12 03:55] pshipton commented on #5462
@Mesbah-Alam I wonder if the paths are too long on Windows. They got slightly longer when we added "_Nightly" to the end of the test job name.

[2019-04-12 03:56] pshipton commented on #5462
We has a similar problem with https://github.com/eclipse/openj9/issues/5448

[2019-04-12 03:57] #5448 closed

[2019-04-12 11:38] pshipton commented on #5462
SharedClasses_Softmx_UpDown_0 is also failing on Windows, which I suspect is also path length related.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly/2
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/2

[2019-04-12 12:22] #2368 closed

[2019-04-12 13:23] Mesbah-Alam commented on #5462
Did anything change to cause path names to suddenly become longer than what they used to ?

[2019-04-12 13:28] smlambert commented on #5462
Yes, the name of the Jenkins job is now longer (additional suffix _Nightly), therefore the full path name of the workspace directory in which everything is run is longer...

[2019-04-12 13:44] vsebe commented on #5472
[code]
Rebooted and cleaned up jenkin's workspace:

[code]
Grinder: https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/392/

[2019-04-12 14:02] vsebe commented on #5472
Enabled machine.

[2019-04-12 14:26] #3441 closed

[2019-04-12 14:28] pshipton commented on #3743
@amicic we'd like to ensure this gets delivered for the 0.15 milestone. Do you have an outlook for completion?

[2019-04-12 14:39] babsingh commented on #5359
I created an OpenJ9 JDK11 Linux x64 SDK with eclipse/omr#3737 (`SIGALRM` support), which can be downloaded [here](https://ibm.box.com/s/1q2a4ucpyz91dl2btf2k6p9qtt4t7ev4). I ran Jython with this SDK, executed `import signal` and no error was seen.

@TiborBeres Can you verify if the above SDK fixes the issue at your end?

[2019-04-12 14:41] Mesbah-Alam commented on #5462
That explains it. I suspect all the Windows errors reported above are related to some paths exceeding max length on WIndows. https://github.com/AdoptOpenJDK/openjdk-tests/pull/1070 shortens the names of the tests in the playlist, which should fix this.

[2019-04-12 14:52] adamfarley commented on #5401
Defect still occurs on the latest build.

Right now, it looks like a timeout. Running the unit test locally on the relevant machine sees a timeout, and since the error code in the grinder indicates the process was killed (137 - 128 = 9) this seems to line up with the idea of a killed process post-timeout.

Here's a thread trace from the timeout:

"MainThread" Id=20 RUNNABLE
        at java.math.Bi

[2019-04-12 14:52] #5401 closed

[2019-04-12 15:38] adamfarley commented on #5401
Addendum: The issue does not occur anymore. Reintroducing the test.

[2019-04-12 15:39] TiborBeres commented on #5359
@babsingh - your fix is working, thanks for the quick fix

[2019-04-12 15:41] TiborBeres commented on #5359
Please make the fix available in an official build.

[2019-04-12 16:13] Mesbah-Alam commented on #5462
The failure in AIX is more interesting.

Last change made to this test was 5 months ago-- so, nothing recent. The sub-process that "times out" is a custom runtime image on which some patch testing is done.

The timeout set in these sub-processes is quite short however (may be not long enough for AIX?). I've increased them from `1m` to `5m` and ran a 4x grinder in internal Jenkins, and the tests ar

[2019-04-12 16:19] hangshao0 opened #5480 "Support multiple shared classes caches in single JVM"
Currently, one JVM instance can only startup one shared classes cache. Inside docker container where there are mutiple layers, if any write operation happened on a shared cache that is in a lower read-only layer, docker will do a "copy-on-write" that adds the whole shared cache to the top writable layer. We will end up having multiple copies of the shared cache in the docker image, which is undesi

[2019-04-12 16:22] gita-omr commented on #3742
Was it on Intel?

[2019-04-12 16:26] hangshao0 commented on #5480
I opened this issue as a place to have discussions and receive feedback/suggestions in the open.

FYI: @DanHeidinga , @pshipton , @mpirvu , @vijaysun-omr

[2019-04-12 17:35] pshipton commented on #5462
We'll assume this is resolved and close it. Can reopen later or open a new issue if there is still a problem.

[2019-04-12 17:39] babsingh commented on #5359
The next release (0.14) will happen in April 2019. Hoping to include the above fix in this release. I will update this issue once the release builds with the fix are published.

Nightly builds (https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9) should have the fix as soon as eclipse/omr#3737 is merged.

[2019-04-12 18:02] pshipton commented on #5462
Started a system test build on Windows to confirm. Since this is a "Personal" build instead of a "Nightly" build, the directory names will be even slightly longer.

[2019-04-12 18:02] pshipton commented on #5462
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All/477/

[2019-04-12 20:00] pshipton commented on #5462
The build was terminated by a jenkins restart. We'll see how the nightly build behaves.

[2019-04-12 20:28] mpirvu opened #5486 "Large number of IProfiler_persistIprofileInfo messages"
Doing some JITaaS runs with a warmed shared class cache the most frequent message sent by the server to the client is by far IProfiler_persistIprofileInfo.
Looking at the code I see that for each AOT load we try to store IProfiler info not only for the method we are loading, but also every inlined method. However, the server should not do any AOT loads (they should be performed at the client).
The

[2019-04-12 20:39] dsouzai commented on #5455
Validation (SVM): common code

Codegen: This is where the majority of the work would need to be done. The `addMetaDataForCode*` method of the various instructions would handle adding the external relocations necessary. However, those are't the only locations; the various snippets are going to have to make sure they add the necessarily external relocations. I'm sure there are lots of other places a

[2019-04-12 20:45] hangshao0 commented on #5480
So when building the read-write cache, there are two kinds of information that needs to be recorded.

1. All the names (ids) of read-only caches that the read-write cache is build on.
2. The state of each readOnly cache when building the read-write cache. (This information should help us detect if the readOnly cache has been destroyed and recreated. The readOnly cache might be still valid if there

[2019-04-12 22:08] pshipton commented on #5359
@babsingh the fix didn't get merged today. It will be very tight timing to get it into the release, I wouldn't count on it getting in.

[2019-04-13 03:31] pshipton commented on #5462
@Mesbah-Alam the PatchModuleImageTests are still failing on Windows
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly/3
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_x86-64_windows_Nightly/3/

[2019-04-13 08:16] kuttyb commented on #5452
Thanks everybody for all the responses. I am in the process of rewriting my benchmark using BumbleBench and jmh. The former crashes with hotspot and the latter complains OpenJ9 is not a supported VM, compiler hints are disabled and that the results maybe completely unreliable.

Is there a good Cross-VM way of writing these microbenchmarks?

[2019-04-13 09:21] kuttyb commented on #5452
Here is output from JMH. For Hotspot the numbers are fairly close to my own microbenchmark up to the 99th percentile . OpenJ9 numbers seemed to have gotten way worse with JMH.

Given both VMs have similar numbers when I use quickProfile with OpenJ9, I  would imagine there is a profile and reach steady state problem with OpenJ9. Thoughts?

--------------------
Hotspot
  Percentiles, us/op:
      p(

[2019-04-13 10:59] pshipton opened #5489 "Test_openjdk8_j9_extended.functional_x86-64_linux_xl testDDRExt_JITExt_openj9_0 CorruptDataException thrown walking stack NullPointerDereference"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/4/
[code]

[2019-04-13 10:59] pshipton commented on #5489
Similar to https://github.com/eclipse/openj9/issues/5449
Not sure if it's the same issue.
@theresa-m

[2019-04-13 11:06] kuttyb commented on #5452
Here are results with -Xjit:enableJProfilingInProfilingCompilations. Almost 2x better.

Short summary: With JMH OpenJ9 in this case is 1/3~1/4th Hotspot performance.

 Percentiles, us/op:
      p(0.0000) =   8847.360 us/op
     p(50.0000) =   8978.432 us/op
     p(90.0000) =   9879.552 us/op
     p(95.0000) =  10305.536 us/op
     p(99.0000) =  11564.810 us/op
     p(99.9000) =  15253.504 us/op

[2019-04-14 11:09] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_mac_Nightly/4
41.WL4.stderr
[code]

[2019-04-14 16:35] Mesbah-Alam commented on #5462
PatchModuleImageTests failures are likely due to path being too long on windows as well. I'll have a PR for this.

[2019-04-14 18:24] a7ehuo commented on #5486
I will take a look at this one.

[2019-04-14 21:08] JasonFengJ9 commented on #4778
**Updates:**

Narrowed down to following code snippet:
https://github.com/eclipse/openj9/blob/f38d52946ffd77a4d910142d9a25377d1ecd696b/runtime/vm/BytecodeInterpreter.hpp#L6632
`methodIndexAndArgCount` is `0x2`, hence `methodIndex = methodIndexAndArgCount >> 8;` is `0x0`, `receiver` is not `NULL`, then following code is executed:
https://github.com/eclipse/openj9/blob/f38d52946ffd77a4d910142d9a2537

[2019-04-15 01:51] a7ehuo commented on #5486
AOT load `performAOTLoad()` is not triggered at the server, but only at the client.  Tried sanity test case `jit_jitt_0` with `forceAOT` with 2x runs and the second run is warm run.
When `TR_JITaaSIProfiler::persistIprofileInfo()` is trigged at the server, the backtrace shows only from `OMR::ResolvedMethodSymbol::genIL()`. None from `performAOTLoad`.

Looks like there are two paths that could trig

[2019-04-15 02:00] mpirvu commented on #5486
ok, so every time the inliner generates IL for a method it tries to inline it will also store IProfiling information.
We could use an optimization where the client is supposed to do all the store operations when the compilation result arrives. Much like what happens when an AOT load is performed.

[2019-04-15 02:03] mpirvu commented on #5486
I am betting that many of those store requests are duplicates which result in no actions. For instance, if we have methods A and B that both call C, then we would have
1) Store A
2) Store C
3) Store B
4) Store C  ==> this will be rejected when seeing that profile information for method C is already stored

[2019-04-15 02:59] kiszk opened #5493 "Different result presented in os.arch between openjdk and openj9 on Mac"
I realized that `os.arch` is different between openjdk and openj9 on Mac. On Linux, they return the same `os.arch`.

[code]

This difference causes [an JNI link error](https://github.com/apache/spark/pull/24308#pullrequestreview-223611574) in Spark. This is because `zstd-jni` determines [dll path](https://github.com/luben/zstd-jni/blob/master/src/main/java/com/github/luben/zstd/util/Native.java#L4

[2019-04-15 03:01] DanHeidinga commented on #4778
It's set in `internalRunPreInitInstructions()`:
https://github.com/eclipse/openj9/blob/f38d52946ffd77a4d910142d9a25377d1ecd696b/runtime/vm/classsupport.c#L350-L356

[2019-04-15 14:19] JasonFengJ9 commented on #4778
Thanks @DanHeidinga
Added `issueWriteBarrier();` after following
https://github.com/eclipse/openj9/blob/cd2f112b3b9960e5c60fe2bb8957120a570bf6df/runtime/vm/classsupport.c#L365-L366
It appears the failure rate dropped from `~1/100` to `~1/200`.

Looking at other code paths involving `ramMethodRef->methodIndexAndArgCount`.

[2019-04-15 14:22] #5375 closed

[2019-04-15 14:22] pshipton commented on #5380
@DanHeidinga the cache generation changes are delivered. Did you want to keep this open or can it be closed?

[2019-04-15 14:23] pshipton commented on #5140
@DanHeidinga are there any results from looking at the cores?

[2019-04-15 14:26] pshipton commented on #4657
@0dvictor @andrewcraik any chance of getting this resolved before we finalize the 0.14 release, scheduled for tomorrow (April 16th). Otherwise we'll have to move it out.

[2019-04-15 14:57] keithc-ca commented on #5493
This seems to be platform specific: on a Linux x86 system:
[code]
It's surprising to me that hotspot would use a different name on MacOSX for the same CPU architecture.

[2019-04-15 15:02] #4476 closed

[2019-04-15 15:22] satbir-ca commented on #5464
All of these call are increased after enabling the SVM

VM_getClassFromSignature —> caching is missing
Solution : enabling the caching.

VM_getClassFromMethodBlock —> call to this has increased due to being called inside the J9SharedCacheServerVM also. In non AOT the this was getting called only from outside the J9ServerVm class.

Solution: putting the cache for this or combining this message with

[2019-04-15 15:59] sxa555 commented on #4486
@dnakamura What are the implications of modifying `_FORTIFY_SOURCE`?

[2019-04-15 16:15] DanHeidinga commented on #4778
That's a 1 time operation when the J9Class's ram constantpool is being initialized.  I wouldn't expect a memory barrier to help here (though if you wanted to test one, put it at the end of the loop to cover all updates to the CP as it hasn't escaped at this point).

You mentioned this was related to nestmate private method invocation.  If that's the case, check the implementation of invoke private

[2019-04-15 16:16] DanHeidinga commented on #5140
@fengxue-IS has been looking at them.  Jack, can you provide an update?

[2019-04-15 16:22] DanHeidinga commented on #5380
I had been keeping it open to try to address

but after discussing various options, I haven't been able to come up with a reliable way to test this as it would require validating a cache is always shareable between the current and previous builds and we don't typically have both on a filesystem to test with.  It would also require hitting the particular case that causes the problem.... and that ca

[2019-04-15 16:22] #5380 closed

[2019-04-15 16:28] dmitripivkine commented on #5399
I looked to one of crashes. It crashed in Global GC an attempt to scan slot of String Table in `Symbol=_ZN27MM_MarkingSchemeRootClearer17doStringTableSlotEPP8J9ObjectP20GC_HashTableIterator` at `InaccessibleAddress=0000000100000110`

There are eight hash tables in this String Table array. It crashed an attempt to scan very first slot for table
[code]
because of bad pointer (or memory corrupted con

[2019-04-15 16:29] mpirvu commented on #5464
VM_getClassFromSignature: agreed. I think that the existing cache should work, but you have to remember to perform the validation.

VM_getClassFromMethodBlock: maybe we can extend  `PersistentUnorderedMap<J9Method*, J9MethodInfo> _J9MethodMap;`  to hold the j9class as well
Note that this looks identical to ::getClassOfMethod

VM_getClassFromCP: we could add a CP->j9class cache, but we need to inva

[2019-04-15 16:49] amicic commented on #2782
An excerpt from trace point logs:

06:16:11.027736000  0x00007f4690003c00 j9mm.467            Event       Cycle Start: type 1 approximateFreeMemorySize 93952224376
06:16:11.027773000  0x00007f4690003c00 j9mm.474            Event       GlobalGC start: globalcount=554
06:16:11.036980000  0x00007f4690003c00 j9mm.190            Entry      >MM_GlobalCollector_isTimeForClassUnloading. dynamicClassUnload

[2019-04-15 16:50] amicic commented on #4769
An excerpt from trace point logs:

06:16:11.027736000 0x00007f4690003c00 j9mm.467 Event Cycle Start: type 1 approximateFreeMemorySize 93952224376
06:16:11.027773000 0x00007f4690003c00 j9mm.474 Event GlobalGC start: globalcount=554
06:16:11.036980000 0x00007f4690003c00 j9mm.190 Entry >MM_GlobalCollector_isTimeForClassUnloading. dynamicClassUnloading:1 classLoaderBlocks:381 dynamicClassUnloadingThre

[2019-04-15 16:50] amicic commented on #2782
I guess, this should be closed. https://github.com/eclipse/openj9/issues/4769 is more up to date.

[2019-04-15 16:51] amicic commented on #4769
Introducing new trace points to narrow down the root cause: https://github.com/eclipse/omr/pull/3746

[2019-04-15 17:30] kiszk commented on #5493
Yes, this problem occurs only on Mac.

[2019-04-15 17:51] pshipton opened #5499 "ub16-390-1 and ub16-390-3 need a reboot"
https://ci.eclipse.org/openj9/computer/ub16-390-1
https://ci.eclipse.org/openj9/computer/ub16-390-3
`This node is being launched.`

They didn't come back from one from one of the jenkins restarts.

[2019-04-15 17:52] pshipton commented on #5499
@jdekonin @AdamBrousseau

[2019-04-15 18:04] theresa-m commented on #5449
On further inspection of a core dump `!stackslots` works properly but `!jitstackslots` for the same thread throws this CorruptDataException. The failure is intermittent.

These tests were enabled and run for the first time in OpenJ9 only recently https://github.com/eclipse/openj9/pull/5137 so there aren't any obvious changes to the stackwalker that I can find that might have caused this. @pshipton

[2019-04-15 18:21] pshipton commented on #5480
I'm fine with storing the prereq cache info directly into the cache. Agree that adding extra artifacts could cause extra problems to resolve, and perhaps allow things to get out of sync. It means searching for all the "Lx" names (x = 0 - N), but they all need to be opened anyway.

[2019-04-15 18:24] pshipton commented on #5480
Actually, in a docker scenario I'd expect only the caches that need to be opened to be present. Outside of docker, there could be a number of independent paths of caches, so not all caches would necessarily be opened.

i.e. you could have the following dependencies
SCC_L5 -> SCC_L2 -> SCC_L0
SCC_L4 -> SCC_L1 -> SCC_L0

[2019-04-15 18:28] pshipton commented on #5480
Maybe the above would never happen, although theoretically possible, assuming we always open the highest Lx cache as read-only when creating a new cache.

[2019-04-15 18:37] pshipton commented on #5449
It's only failed once so far, I think we should keep the test running unless the failure starts to occur more often.

[2019-04-15 18:38] jdekonin commented on #5499
Machines are reconnected.  Neither one rebooted, so it looks like just a failure to launch the slave process.

[2019-04-15 18:47] dnakamura commented on #4486
It adds extra checks to c string manipulation functions.

http://man7.org/linux/man-pages/man7/feature_test_macros.7.html :

## _FORTIFY_SOURCE (since glibc 2.3.4)
Defining this macro causes some lightweight checks to be per formed to detect some buffer overflow errors when employing various string and memory manipulation functions (for example, memcpy(3),memset(3), stpcpy(3), strcpy(3), strncpy(3

[2019-04-15 19:44] ChengJin01 commented on #5058
Already finished most of the changes (including all kinds of settings, makefile related scripts, stub code, etc) in OpenJ9 & OMR and currently working on the issue with tools (tracegen/tracemerge/hookgen that are used to generated a bunch of header files) when trying to cross-compile a build.

Need to figure out a way in setting to ensure these tools are only compiled with local compiler rather th

[2019-04-15 20:01] mpirvu opened #5503 "JITaaS client performance should not drop when server crashes"
If the JITaaS server happens to crash, the client still has the option to perform JIT compilations locally and (provided there is enough memory) there should be no observable drop in throughput.

[2019-04-15 20:33] pshipton commented on #4657
Moving to 0.15

[2019-04-15 21:49] AdamBrousseau commented on #3551
c/o @vsebe
Nightly Build Monitor:

https://ci.eclipse.org/openj9/view/Nightly Build Monitor
This view lists all nightly builds and tests pipeline builds.
Nightly Dashboard View:

https://ci.eclipse.org/openj9/view/Nightly/
Both views shows nightly builds and tests pipelines status.
The Nightly Dashboard View also shows also the unstable and failed builds on top of the page. It uses the same icons

[2019-04-15 21:49] #3551 closed

[2019-04-15 22:52] #5499 closed

[2019-04-16 02:43] fengxue-IS commented on #5140
I reproduced the error in Jenkins grinder, but wasn’t able to reproduce it locally on a Windows7 machine (50+ runs) to get a core with full debug info, trying to reproduce this on Windows 10 farm machine currently.

[2019-04-16 04:58] knn-k commented on #4486
Is it possible to add or change compiler options only for `trclog.c`?

[2019-04-16 09:18] adamfarley commented on #5140
@fengxue-IS - Is this the lack of information a general problem with system cores produced by the jtreg tests? Is there is a fixed set of options that could make systemcores more useful?

Also, we can reproduce the defect with extra options if you could supply them.

[2019-04-16 10:57] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_xl_Nightly/7

[2019-04-16 11:16] pshipton opened #5509 "ub16x64j93 needs a poke"
https://ci.eclipse.org/openj9/computer/ub16x64j93/log
[code]

[2019-04-16 11:17] pshipton commented on #5509
@jdekonin

[2019-04-16 13:40] DanHeidinga commented on #5140
Moving this to milestone 0.15.0 as we're running into the 0.14.0 release date and don't have a fix for this.  Also, Jack's testing has indicated that the failure isn't very reproducible.

[2019-04-16 14:08] pshipton commented on #5153
We haven't been able to track this down yet, but it's not a regression. Moving to 0.15

[2019-04-16 14:08] pshipton commented on #5046
We haven't been able to track this down yet, but it's not a regression. Moving to 0.15

[2019-04-16 14:18] dnakamura commented on #4486
@knn-k

I think so, yes. I think this should work (although I haven't tested)
[code]

[2019-04-16 15:19] mpirvu opened #5512 "Rip out grpc code from codebase"
Raw sockets are significantly faster and cheaper than the grpc solution. The only downside of raw sockets was the absence of encryption, but currently we have that covered as well. Thus, it's better to remove this code and the dependency it creates.

[2019-04-16 16:34] mstoodle commented on #5452
@kuttyb would you be wiling to share the benchmark code that uses JMH?

I tried out your original code but am seeing much lower numbers than you (even with Hotspot) despite using a more powerful Macbook than the one you listed. Mind you, I was just trying it out so there's a bazillion other things alive on my laptop atm so that could be affecting my results :) .

[2019-04-16 17:11] kuttyb commented on #5452
[int.tar.gz](https://github.com/eclipse/openj9/files/3086076/int.tar.gz)
[jmh.tar.gz](https://github.com/eclipse/openj9/files/3086077/jmh.tar.gz)

@mstoodle  Attached jmh.tar.gz which contains the benchmark and int.tar.gz that contains the code that it is profiling (ESProfile.java)

[2019-04-16 17:11] fengxue-IS commented on #5140
@adamfarley The lack of information is due to builds from AdoptOpenJDK not including the debug symbols (ie .pdb files)

[2019-04-16 17:23] smlambert opened #5520 "Include libj9ben.so native test lib in native test image"
Some new vmTests will be added by @tajila that require this native test library to be included with the other native test libraries.  It is currently being built, but not copied/included in native test image.

[2019-04-16 18:24] tajila commented on #5520
Some background info:

I am currently running the tests with these env variables after building openj9 locally.

[code]

After running the test I got unsatisfied link errors because libj9ben.so is not in a dir listed in the `-Djava.library.path`

I manually copy over `..build/linux-x86_64-normal-server-release/vm/libj9ben.so` to the `..build/linux-x86_64-normal-server-release/images/jdk/lib/compre

[2019-04-16 18:28] tajila commented on #5520
@smlambert  It looks like `/test/functional/Java8andUp/src/j9vm/test/jni/PthreadTest.java` and `/test/functional/Java8andUp/src/org/openj9/test/osthread/ReattachAfterExit.java` both make use of `j9ben`

[2019-04-16 18:48] DanHeidinga commented on #5493
Property is set in https://github.com/eclipse/openj9/blob/f0820b5ca51197ee3e58925920cdfc9fe5dc5220/runtime/vm/vmprops.c#L778-L782

[2019-04-16 18:52] DanHeidinga commented on #5493
Which is set in OMR:
https://github.com/eclipse/omr/blob/5edfbe1a6e36d6b462283b2aaee16147cb570c52/port/unix/omrsysinfo.c#L524-L525

and we define `J9HAMMER` for OSX:
https://github.com/eclipse/omr/blob/5edfbe1a6e36d6b462283b2aaee16147cb570c52/omrmakefiles/rules.osx.mk#L27

[2019-04-16 18:59] DanHeidinga commented on #5493
To fix this we either need to
1) update `j9sysinfo_get_CPU_architecture` / `omrsysinfo_get_CPU_architecture` to return `x86_64` and check all the callers are ready to deal with this string, or
2) change vmprops.c to map from `amd64` to `x86_64` on osx.

[2019-04-16 19:01] pshipton opened #5522 "Add support for new signals"
Tracking for https://github.com/eclipse/omr/pull/3737

[2019-04-16 19:02] #5522 closed

[2019-04-16 19:04] pshipton commented on #5359
The fix isn't going to be in the 0.14 release. I've tagged this issue for a potential future update that would occur before the 0.15 release. There is no firm date for this, and this is not a commitment that we will create an interim release.

[2019-04-16 19:06] pshipton commented on #5140
I've tagged this issue for a potential future release that would occur before the 0.15 release. There is no firm date for this, and this is not a commitment that we will create an interim release.

[2019-04-16 19:07] pshipton commented on #5046
I've tagged this issue for a potential future release that would occur before the 0.15 release. There is no firm date for this, and this is not a commitment that we will create an interim release.

[2019-04-16 19:09] pshipton opened #5523 "Support for openssl 1.0.1"
Tracking for https://github.com/ibmruntimes/openj9-openjdk-jdk11/issues/159

Tagged this issue for a potential future release that would occur before the 0.15 release. There is no firm date for this, and this is not a commitment that we will create an interim release.

[2019-04-16 19:30] pshipton commented on #4927
@avermeer https://openj9.slack.com/archives/C8312LCV9/p1555442998007800

[2019-04-16 21:06] llxia commented on #5520
local runs need to set `NATIVE_TEST_LIBS=<path to native test libraries> (default to native-test-libs folder at same level as JDK_HOME)`

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md#1-configure-environment

[2019-04-16 21:07] llxia commented on #5520
I have an issue opened to change the default location for `NATIVE_TEST_LIBS`

https://github.com/eclipse/openj9/issues/3701

[2019-04-16 21:14] dmitry-ten commented on #5457
Duplicate of #5464.

[2019-04-16 21:14] #5457 closed

[2019-04-16 21:26] jdekonin opened #5525 "Test_openjdk12_j9_extended.functional_x86-64_linux_Nightly SoftmxUserScenarioTest failure"
Failure encountered while running the test within a docker container
[code]

https://github.com/eclipse/openj9/blob/5b07f4d539f3e142d6449af471de9c22bd04a048/test/functional/JLM_Tests/src/org/openj9/test/softmx/SoftmxUserScenarioTest.java#L52

The host the docker container starts up is 120cpu ~256g ram; the container is not being limited.

[2019-04-16 22:14] pshipton commented on #5520
j9ben is included in the image. Perhaps the title of this Issue needs to be changed?

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/5c13382d6b3c1a1e2ef5dd48128957adef7a60bc/closed/OpenJ9.gmk#L296

[2019-04-16 22:17] smlambert commented on #5520
Yes, I misunderstood @tajila 's original request.  I believe the original request should be covered by #3701.  I would like to confirm this with Tobi and @llxia - if it is the case, then I will close this issue.

[2019-04-16 23:41] kthaya opened #5526 "java.lang.OutOfMemoryError: native memory exhausted"
I could run an application that includes derby database in hotspot without any issue, but it fails in openj9 with following error, we have -XX:MaxMetaspaceSize=1024m and -XX:MetaspaceSize=256m. Does these options support by openj9?

_java.lang.OutOfMemoryError: native memory exhausted
        at java.lang.ClassLoader.defineClassImpl(Native Method)
        at java.lang.ClassLoader.defineClass(Class

[2019-04-16 23:45] DanHeidinga commented on #4778
Can you try to reproduce this with the `-XX:+AlwaysSplitBytecodes` option?
https://github.com/eclipse/openj9/blob/99c731add37069749e2d5a5e4162e0221f634e7e/runtime/oti/jvminit.h#L372

This will ensure that CP entries are not shared between virtual / special / static invokes and will rule out inconsistent resolution as a possible cause

[2019-04-16 23:57] DanHeidinga commented on #5526
OpenJ9 doesn't have MetaSpace so those options are ignored.

When the NativeOOM is triggered, a system core & javacore should be generated.  Are you able to share those files?  It'll help us to understand where the memory is being used.

[2019-04-17 00:02] tajila commented on #5520
Yes #3701 addresses my concerns. This issue can be closed

[2019-04-17 01:06] smlambert commented on #5520
Very good, thanks for clarifying.  :)

[2019-04-17 01:06] #5520 closed

[2019-04-17 01:40] kthaya commented on #5526
Thank you, .dmp and .phd file size is huge even after zip.

[2019-04-17 02:34] pshipton commented on #5526
I assume this is Java 8? The OpenJ9 heap size default for Java 8 is -Xmx512m, while for Hotspot it is based on your physical RAM. Try a bigger heap size value like `-Xmx1g` or base it on physical RAM like `-XX:MaxRAMPercentage=25`.

[2019-04-17 02:47] kthaya commented on #5526
yes, It is Java 8 (Adopt OpenJDK), I have explicitly set the values already (-Xms512m, -Xmx2048m). VM memory 4G.
I wonder why is it failing when start derby? Is derby consume more native memory?

[2019-04-17 02:49] kthaya commented on #5526
forgot to mention, it fails in AIX (power 8) environment only. Windows and Mac looks good

[2019-04-17 03:32] pshipton commented on #5526
Ah, native memory, somehow I missed that. Try setting a bigger -Xmcrs such as `-Xmcrs400m`.

The NATIVEMEMINFO section of the javacore might be helpful, if you could attach that, or the entire javacore zipped.

[2019-04-17 03:45] JasonFengJ9 commented on #4778
Not able to reproduce the `Segmentation error` with `-XX:+AlwaysSplitBytecodes` yet (`~60` runs). Also launched two 200x jenkins grinder with same option against nightly build. Will post result when the builds finish.

[2019-04-17 04:24] mvdobrinin opened #5530 "Native crash when using ImageIO#read on AIX AdoptOpenJDK J9"
Java -version output
--------------------

[code]

OS version output
--------------------
[code]

Summary of problem
------------------

There is a native crash occurring in the JVM when attempting to read an image. I can reproduce the issue with a fairly simple Java app, though it does require me to load some native libraries. I am still working to identify it there is a specific native library t

[2019-04-17 05:12] knn-k commented on #4486
@dnakamura Thank you, it works.  I apply it to #5508.

[2019-04-17 10:40] AntonKatilin opened #5533 "OpenJ9 attach from SSH session fails on Windows"
A Windows 10 machine is running an OpenJ9 JVM process started under a regular user.

OpenSSH server is running on the machine:
https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_install_firstuse

We connect to the machine via ssh, under the same user as of the said JVM process. The Windows session is different: for ssh the session ID is 0 ("services"), the target JVM pr

[2019-04-17 10:43] AntonKatilin commented on #5533
The problem was initially reported as https://openj9.slack.com/messages/C8312LCV9/
The attach log files can be found there.

[2019-04-17 11:22] pdbain-ibm commented on #5533
Thanks Anton.  I will investigate.

[2019-04-17 12:16] pshipton commented on #5449
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly/7

[2019-04-17 12:19] pshipton opened #5534 "ub16-ppcle-3 The core file created by child process was not found"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64le_linux_Nightly/7
[code]

[2019-04-17 12:19] pshipton commented on #5534
@jdekonin @AdamBrousseau

[2019-04-17 12:27] pshipton opened #5535 "win2012r2-x86-1 Unable to create shared memory of size 314572800 bytes"
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.system_x86-64_windows_Nightly/7/
[code]

4.jvm1.stdout
5.jvm2.stdout
[code]

[2019-04-17 12:27] pshipton commented on #5535
@jdekonin @AdamBrousseau seems like a machine issue

[2019-04-17 12:42] pdbain-ibm commented on #5533
Connection between JVMs launched from SSH tested and working.  JVMs launched from SSH can see JVMs launched from the console and vice-versa, but cannot attach.  The working hypothesis is that the SSH and console JVMs are using different semaphores.

I dumped the handle information using sysinternals `handle63.exe -p <id> -a` for JVMs launched from SSH and the console:

3464 (SSH):
  5E0: Semaphore

[2019-04-17 12:53] adamfarley commented on #5140
Ah, so adding options at test-time won't help. Do let me know if you need a hand reproducing the issue on a debug build.

[2019-04-17 12:58] pshipton commented on #5533
By default, shared classes doesn't use a semaphore, it uses omrfile_blockingasync_lock_bytes(). Only if a -Xshareclassese:nonpersistent cache is created would it use a semaphore.

[2019-04-17 13:14] pdbain-ibm commented on #5533
I grabbed the tracepoints from a console  and SSH JVM respectively:
Console:

 j9prt.62            Debug       j9shsem_open: baseFile=CUsersADMINI1AppDataLocalTempcom_ibm_tools_attach__notifier_semaphore
 j9prt.261           Event       j9shsem_open WaitForSingleObject for global mutex successful, rc = 0, windows last error = 0
 j9prt.63            Event       j9shsem_open sempahore file CUsersADM

[2019-04-17 13:33] fjeremic commented on #5530
@gita-omr FYI in case this is a JIT issue.

[2019-04-17 13:37] #4486 closed

[2019-04-17 13:43] AdamBrousseau commented on #2769
This can likely be closed now?

[2019-04-17 13:47] DanHeidinga commented on #4778
We need to look at the crashing class more closely using `!dumpromclass` to try to find where splitting or not might affect this.

[2019-04-17 13:50] #2769 closed

[2019-04-17 14:19] keithc-ca commented on #5530
Could it be that `p` is `NULL` here (there's no `'/'` in buf)?
[code]

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/java.desktop/unix/native/libawt/awt/awt_LoadLibrary.c#L126

[2019-04-17 14:33] pdbain-ibm commented on #5164
To do:
-  [ ] extract common code to get a list of VMIDs from stdin
-  [ ] put jstack, GC methods in the command table
-  [ ] add `help` to get a list of `jcmd` operations
-  [ ] Fix comments in jstack

[2019-04-17 14:49] DanHeidinga commented on #5480
SCC_L4 -> SCC_L1 -> SCC_L0

Is the list of cache dependencies always a linear list?  Can it be a DAG?

[code]

The way we encode the data will be effected by the limitations we build in.

[2019-04-17 15:03] hangshao0 commented on #5480
It might not always be linear list, it can be DAG. If we want to support DAG, storing the dependency as metadata looks like the correct way to go.

[2019-04-17 15:24] gita-omr commented on #5530
Does not look like a JIT problem yet.

[2019-04-17 16:06] ChengJin01 commented on #5058
Just resolved the issue with trace/hook tools in OMR by overwriting the cross compiler with the local compiler only when compiling the source of these tools.  And keep investigating the similar issue with constgen tool in OpenJ9 (which also must be created via the local compiler).

[2019-04-17 17:07] ChengJin01 commented on #5058
It turns out the constgen tool (only used to generate JIT related constants) should be skipped to avoid compiling JIT. Now get back to address the issue with signal handling (need to fill up part of basic code against the Spec of RISCV instruction set to get it through the compilation).

[2019-04-17 17:15] smlambert opened #5542 "jtreg: java/nio/channels/Selector/LotsOfChannels.java fails on jdk8 / s390x"
Failure link: https://ci.adoptopenjdk.net/job/openjdk8_j9_openjdktest_s390x_linux/270/

------------

To reproduce via Grinder:

BUILD_LIST=openjdk_regression
TARGET=jdk_custom
CUSTOM_TARGET=java/nio/channels/Selector/LotsOfChannels.java
Jenkinsfile=openjdk_s390x_linux
SDK_RESOURCE=nightly
JDK_VERSION=8
JDK_IMPL=openj9

Appears to be regression, passing on April 6th, **consistently** failing on Ap

[2019-04-17 17:28] tajila commented on #5359
@babsingh ^^^^

[2019-04-17 17:52] DanHeidinga commented on #5480
A linear list is simple: each layer overrides the child layer and I'd expect a ROMClass from a later layer to be used instead of one from a lower layer.  How will conflicting data be handled in a DAG?

[2019-04-17 18:04] pshipton commented on #5542
@smlambert note the test has been failing since jstack was delivered. "Implement jstack" is one of the changes between the two SHAs 69c95fe...581f9de

@pdbain-ibm

[2019-04-17 18:22] kiszk commented on #5493
Thank you for your investigation and comments.
IMHO, 2. is preferable to me.

[2019-04-17 18:24] pdbain-ibm commented on #5542
... and someone is apparently using `jstack`, since the target portion thereof is running:

[2019-04-17 18:46] pdbain-ibm commented on #5542
The same test passes on Linux x86: https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-64_linux/515/tapTestReport/

Possibly `dumpAllThreadsImpl` is deadlocking.

[2019-04-17 20:35] hangshao0 commented on #5480
Whether it is a linear list or DAG, the prerequisite caches have to be started up first.
e.g. linear case:

`SCC_L5 -> SCC_L2 -> SCC_L0   (SCC_L5 depends SCC_L2 and SCC_L0, SCC_L2 depends on SCC_L0)`

The cache startup order is:  SCC_L0, SCC_L2, SCC_L5.

DAG case:

[code]

A legal cache start up order can be SCC_L0, SCC_L2, SCC_L1, SCC_L4, SCC_L5

For conflicting data, we can always let the one in

[2019-04-17 20:42] mpirvu opened #5546 "SharedCache_addHint message should only be sent when JITaaS client uses SCC"
While running AcmeAir with -Xshareclasses:none I observed a few `SharedCache_addHint` messages which should be sent at all.

[2019-04-17 20:55] a7ehuo commented on #5546
I will work on it. Similar to #5297.

[2019-04-17 23:15] 0xdaryl commented on #5455
eclipse/omr#3759

[2019-04-18 02:26] annopnod opened #5550 "i improve printerjob can print preview"
PrinterJob.java

public void printpreview(ImagePrinter f) throws PrinterException, IOException {
        int index = 0;
        boolean haspage = true;
        int w = (int) this.job.defaultPage().getWidth();
        int h = (int) this.job.defaultPage().getHeight();

        while (haspage) {

            BufferedImage image = new BufferedImage(w, h, BufferedImage.TYPE_INT_ARGB);
            Graph

[2019-04-18 02:40] DanHeidinga commented on #5550
HI @annopnod I'm not clear on what the issue being reported is.  Can you add more detail on what the problem is?  Thanks.

[2019-04-18 02:51] DanHeidinga commented on #5480
Right, and `SCC_L1, SCC_L4, SCC_L0, SCC_L2, SCC_L5` is another legal order.  How do we pick a consistent order from run to run?

[2019-04-18 03:21] JasonFengJ9 commented on #4778
**Update:**
Looked at the core with `!dumpromclass`, the classes in question didn't have `Static Split Table` section which suggests there was no same `cpEntry` shared between `bytecodes`.

Tested another workaround to spin on the field `methodIndexAndArgCount` as following:
[code]
https://github.com/JasonFengJ9/openj9/blob/cfb01e9c5428e38ec044e1b6a2f27eaac7a75fec/runtime/vm/BytecodeInterpreter.hp

[2019-04-18 04:30] annopnod commented on #5550
PrinterJob.java oracle can not print preview to BufferedImage
i improve printerjob can  print preview to BufferedImage
i improve ImagePrinter.java is virtual printer export  to BufferedImage
can drawimage using  jlabel imageicon on jscrollpane

[2019-04-18 04:31] annopnod commented on #5550
PrinterJob.java oracle can not print preview to BufferedImage
i improve PrinterJob.java can print preview to BufferedImage
i create class ImagePrinter.java is virtual printer export to BufferedImage
can drawimage using jlabel imageicon on jscrollpane

[2019-04-18 11:04] andrew-m-leonard opened #5553 "JDK12.0.1 should be JVM_INTERFACE_VERSION = 5"
The jdk-12.0.1+12 GA build pushed to openjdk by Oracle is based off of jdk-12+33, and does not include the change for:
    https://bugs.openjdk.java.net/browse/JDK-8216302
which updated it to 6, but only for releases: 11.0.3, 12.0.2 and 13,
so not 12.0.1
We unfortunately did change:
   https://github.com/eclipse/openj9/pull/5235/files
based on building jdk12 from the latest jdk12u head code. We ne

[2019-04-18 11:47] pshipton commented on #5553
@JasonFengJ9 can you make the change in the 0.14 branch please.

[2019-04-18 12:09] pdbain-ibm commented on #5550
@annopnod This appears to be a change to OpenJDK, specifically java.desktop/share/classes/java/awt/print/PrinterJob.java.  Am I correct?

[2019-04-18 12:10] pdbain-ibm commented on #5542
I will investigate.

[2019-04-18 12:49] pdbain-ibm commented on #5533
The `TEMP` and `TMP` environment variables differ depending on whether I log on via SSH (in which case I get `Administrator`) or console (`ADMIN` respectively).  Resetting the TMP and TEMP for the console session doesn't fix the problem: we still get `\Sessions\2` with the console JVM.

[2019-04-18 14:40] pdbain-ibm commented on #5542
I ran this on another Linux 390 system with Java 11:

and Java 8:

and it passed fine:
`java/nio/channels/Selector/LotsOfChannels.java                                                                     Passed. Execution successful`

This appears to be a machine issue.

For the record, the system limits on my test machine are:

[2019-04-18 14:45] pdbain-ibm commented on #5542
Could you please re-test with JVM option `-Dcom.ibm.tools.attach.enable=no`? That should take `jstack` out of the equation (sort of).  Note that Attach API uses a number of file channels during initialization and during the connection process, though not while _waiting_ for a connection.

[2019-04-18 14:57] #5553 closed

[2019-04-18 15:15] amicic commented on #4769
From the latest logs, the pause appear to come between these two trace points:

06:19:38.596243000  0x00007ef7f4003c00 j9mm.707            ERROR     This tracepoint's format string was not available in dat file.
06:19:38.605757000  0x00007ef7f4003c00 j9mm.709            ERROR     This tracepoint's format string was not available in dat file.

For some reason, the formatter did not recognize the ne

[2019-04-18 15:23] pdbain-ibm commented on #5533
I am experimenting with setting the namespace directly.  See https://docs.microsoft.com/en-ca/windows/desktop/api/synchapi/nf-synchapi-createsemaphoreexw.

[2019-04-18 15:27] amicic commented on #4769
While we have an option to disable excessive GC logic, it will not help here, because the stats are gathered regardless. Possibly another thing we could change.

[2019-04-18 16:36] hangshao0 commented on #5480
[code]

In cold run of SCC_L5, e.g. user creates SCC_L5 using:

-XX:readCache:name=SCC_L0 -XX:readCache:name=SCC_L2 -XX:readCache:name=SCC_L1 -XX:readCache:name=SCC_L4 -Xshareclasses:name=SCC_L5.

We will store the info of the prerequisite caches (in the order they appear in the CML) as the first 4 metadata in SCC_L5. So SCC_L5 knows what its prerequisite caches are and the order.

In warm run of

[2019-04-18 17:42] DanHeidinga commented on #5480
Aha.  That's what I was missing.  My model had been that the user would only need to specify the "current" cache and it would know its dependents.

ie: `java -Xshareclasses:name=SCC_L5 ....` and the SCC_L5 cache would have recorded that it depends on `_L2` & `_L4`

[2019-04-18 17:55] #5289 closed

[2019-04-18 18:00] hangshao0 commented on #5480
I prefer to always have "-XX:readCache" in the CML so that users know what they are going to open. It is more obvious (for them and for us) to debug. Hopefully this can prevent them from forgetting the prerequisite caches and deleting them by mistake.

[2019-04-18 18:07] pshipton commented on #5480
It needs to be easier to use. The user should only have to specify the cache name, and the rest is automatic. IMO the readCache option is for prototyping, or advanced/testing use, and shouldn't be needed in the final solution. The list of prereqs can be shown in printStats, javacore and DDR extensions, it doesn't need to be explicit on the command line.

I don't think we should be so concerned wit

[2019-04-18 18:07] DanHeidinga commented on #5480
What about the usability of that approach?  If we ship a docker image with a default cache, anyone building ontop of that image will need to know about (and specify!) that cache to use it.  And if they (say an appserver) added their own cache, their end users would need to know about both caches.

[2019-04-18 18:19] pdbain-ibm opened #5558 "Implement jstat"
Syntax:
`jstat [ <jstat options> | <target option>+ <vmid> [  <period> [ iterations]] ] `

jstat options:
-help, -J<VM option> : generic options as with other j* commands
-options: list the available commands

options are:
-gc : GC statistics: sizes of various heap areas, used & free, cumulative collection count & time, total number of compacts

-class: report classloading statistics: classes curr

[2019-04-18 18:37] hangshao0 commented on #5480
In warm runs, we can startup the current cache to fetch the prerequisite caches and then start them all up in correct order.

In cold run, shouldn't user tell us what are the caches they want to build ontop of ? Or we use all the caches we found in the cache directory as prerequisite caches and build a new one ?

[2019-04-18 18:41] samuel-rubin commented on #5459
I'll go and make a change to the variable file to exclude the tests from running. The only way for the test to run after the change will be if someone would change the variable file that is being used.

[2019-04-18 18:52] pshipton commented on #5480
Something like that. I do think we need a new option in order to determine if a new cache should be created or not. As you mentioned earlier, we need to figure out the case where two JVMs are started to use a new layer. Something like createLayer=<level> would work, but I'd prefer if the layer # didn't need to be specified.

[2019-04-18 19:14] a7ehuo commented on #5373
As per discussion with @vijaysun-omr, I ran the test code with `openj9-0.14.0` for Java 8. getMbean is improved ~50% after #5477 from @keithc-ca.
[code]
Looking at the call stack.  inside `I:com/ibm/lang/management/internal/ExtendedRuntimeMXBeanImpl.<clinit>()V`, most time is spent in
```20.00           0           6    I:javax/management/NotificationBroadcasterSupport.<clinit>()V```

Wondering if

[2019-04-18 19:35] pdbain-ibm commented on #5533
Prepending `Global\` to the semaphore IDs causes SSH and console JVMs to use the same semaphore namespace.  SSH JVMs cannot attach to console JVMs, but console JVMs cannot initiate an attachment: it appears they cannot post to the semaphore.

[2019-04-18 19:41] mpirvu opened #5559 "Reduce number of ResolvedMethod_getResolvedVirtualMethod messages"
In a JITaaS setting `ResolvedMethod_getResolvedVirtualMethod` is by far the most frequent message for hot compilations (~ 450 such messages per compilation).
The implementation takes a class and a virtualCallOffset and return a j9method.
I think we can try to cache it globally. For each j9class we can keep another hash where the key is the virtualCallOffset. We have to be careful at the parameter

[2019-04-18 20:26] hangshao0 commented on #5480
Then dependency is a linear list.

Another problem in cold run is that we don't know the dependencies between these existing caches. We need something that tells us the dependencies so that we know the correct order to start them up.
One possibility is to automatically append sth like _L0, _L1 to the cache name. Or we start them up in the order of their creation time.

[2019-04-18 20:26] fengxue-IS commented on #5140
Analyzed core generated by debug info, failure occurred during `invokeVirtual` bytecode,
With help from @JasonFengJ9, confirmed this is caused by the same error as #4778

[2019-04-18 21:08] pshipton commented on #5480
Yes, I was thinking there would be "_Lx" added into the cache name. Then the logic is to open the largest x, and from there, each cache knows either the next or all prereqs.

[2019-04-18 21:17] jdekonin opened #5563 "x86 operating system coverage for OpenJ9 jenkins"
Currently we have :
- 7 cent6 instances for build/test
- 9 ubuntu16 instances for test (or build for 0.14 and older releases)

In shifting to cent6 for build, the initial plan was to add another 3 cent6 and keep 6 ub16.  But there are other options; cent7, ub18, debian9..

What os coverage would be desired moving forward?

[2019-04-18 21:47] pshipton commented on #5563
There are very rarely JVM problems related to OSes. The most interesting would be the very latest, i.e. cent8 if/when it exists, ub18, etc.

[2019-04-18 21:52] hangshao0 commented on #5480
I was thinking about the opposite. Starting from L0 to the largest Lx. Each cache is started up after its prerequisite cache. (We need the address of all prerequsite caches when reading metadata of Lx). The largest Lx is started up in readwrite mode and the rest in readonly mode. This brings me back to the previous comment:

To play it safe, I assume Lx always depends on L0, L1, ... , Lx-1. We don

[2019-04-19 01:19] annopnod commented on #5550
yes

[2019-04-19 01:25] AntonKatilin opened #5565 "JVMTI agent is unable to get Java version in native code on OpenJ9 JDK 12"
We use JVMTI's GetSystemProperty function to get Java version as a number like 8, 9, 10, 11, 12 etc. in native code, in an early phase when no Java code has loaded yet. Since OpenJ9 Java 12 this approach no longer works.

Property "java.vm.version" on HotSpot returns something like "12.0.1+12" which we can parse to get the version. OpenJ9 returns "openj9-0.14.0" which is useless for our purpose be

[2019-04-19 06:56] akrus commented on #4769
@amicic, sorry, indeed used an older build to generate formatted trace, sent you an updated one (though you likely do not need it anyway now). I've changed region size to 524288, so probably beginning of next week I'll have new logs.

Although probably it's worth mentioning that I noticed the same behaviour on smaller heaps as well (~20G), but it's less noticeable. Also it was much more easier to

[2019-04-19 15:09] pshipton opened #5569 "Test_openjdk8_j9_extended.functional_x86-32_windows TestJps_SE80_0 testJpsIdOnly"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/9
[code]

[2019-04-19 15:09] pshipton commented on #5569
@pdbain-ibm

[2019-04-19 17:15] mvdobrinin commented on #5530
What @keithc-ca mentioned looks like a valid possibility.

[2019-04-19 17:32] mvdobrinin commented on #5530
Could it be something along these lines - https://bugs.openjdk.java.net/browse/JDK-8173828?

[2019-04-19 18:32] #5546 closed

[2019-04-21 06:53] NekoCaffeine opened #5571 "Different result presented by Instrumentation.retransformClasses"
OpenJ9 does not support removing the native modifier.

got an exception:
`java.lang.UnsupportedOperationException: class redefinition failed: attempted to change method modifiers`

This works fine on OpenJDK.

[2019-04-21 23:06] JasonFengJ9 commented on #4778
**Update:**

Did a few more experiments (need long hour run to confirm the results), adding `issueReadWriteBarrier();` within `BytecodeInterpreter.hpp:invokevirtualLogic()` passes the test in `300x` grinder (the failure rate was ~`1/100`). Note: such barrier is performance killer, we intended to avoid it to achieve the result via other means.

It is interesting to note that adding trace points aro

[2019-04-22 04:09] DanHeidinga commented on #5563
I'd like the OpenJ9 build farm to optimize for getting the maximum number of PR builds through at the same time.  That suggests we should target more cent6 and worry less about having broad linux version coverage.

[2019-04-22 04:55] DanHeidinga commented on #5565
This was changed in https://github.com/eclipse/openj9/commit/7e3036dc1b7203aaabe07305516766596a73d591

Likely due to VersionProps.init not setting `java.vm.specification.version`.

Looks like we need to reorganize the property setting code a bit

[2019-04-22 05:03] #5493 closed

[2019-04-22 05:23] DanHeidinga commented on #5571
@NekoCaffeine Do you have a minimal test case that you can share demonstrating the behaviour difference?

[2019-04-22 09:16] Barteks2x opened #5573 "Confusing VerifyError when trying to load class that inherits from final class"
When trying to load a class that extends a final class, for example with `X extends Y`, the VerifyError points to Y (the final class) being wrong instead of to X, and there is no information as to what is wrong.

OpenJDK and oracle JVM point to the class that attempts to inherit from final class, with message "Cannot inherit from final class".

[2019-04-22 11:53] jdekonin commented on #5535
Being that the machine successfully completes job, both compile and test, it would be more accurate to say that something left the machine in a bad state.

Seems to be performing fine (for 5 days of jobs) after a reboot.
https://ci.eclipse.org/openj9/view/Infrastructure/job/Node-Build-History/2/console

[2019-04-22 12:27] jdekonin commented on #5534
That test runs fine after a "cleanup".

[2019-04-22 12:27] jdekonin commented on #5534
That test runs fine after a "cleanup".
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64le_linux_Nightly/11/console

[2019-04-22 12:33] pdbain-ibm commented on #5533
Did some more digging:
1. Windows treats the handles from different login sessions as separate namespaces and doesn't allow then to be shared.
2. OpenJDK with HotSpot does not allow Attach API attachment s between JVMs running in different sessions, e.g. console and SSH.
3.  OpenJDK's `jps` displays "process information unavailable" for foreign processes.

As OpenJ9's behaviour is consistent with

[2019-04-22 12:59] DanHeidinga commented on #5573
@ChengJin01 Can you take a look at this?

[2019-04-22 13:03] AntonKatilin commented on #5533
I don't agree that OpenJ9 behavior matches HotSpot behavior: in fact, we successfully attach the agent from "services" session to a HotSpot JVM running in user session. That was the reason why we filed this request: we found that OpenJ9 missed a capability available with HotSpot.

Yes. Interestingly, jstack and jmap seem to work just fine. Our attacher also works.

Nevertheless, if OpenJ9 attach m

[2019-04-22 13:10] JasonFengJ9 commented on #5565
Will have a look this.

[2019-04-22 13:31] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_xl_Nightly/11
[code]

[2019-04-22 13:33] pshipton commented on #5449
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly/10

[2019-04-22 13:34] pdbain-ibm commented on #5533
Anton
Thanks for the update.  Curiously, the HotSpot AttachProvider.listVirtualMachines() API running on SSH does not see the console JVM at all, and `jps` reports "information unavailable", but actual attachments work fine.  I will continue the investigation...

[2019-04-22 13:51] DanHeidinga commented on #5550
@annopnod This change is to base OpenJDK class library code.  The best place to get this change made is upstream at the OpenJDK project.

OpenJ9 works to consume the OpenJDK class libraries with as few changes as possible.  We prefer to see non-vm specific changes be made in OpenJDK directly and we'll consume them after that.

Have you suggested this change at the OpenJDK project? A link to the ma

[2019-04-22 14:01] dmitry-ten commented on #5512
I'll work on this, if no one else is already doing it.

[2019-04-22 14:08] mpirvu commented on #5512
Thanks. No one is yet working on it.

[2019-04-22 14:33] #5454 closed

[2019-04-22 14:34] DanHeidinga commented on #509
Closing as our focus (and OpenJDK's) is on 64 bit systems in future releases.

[2019-04-22 14:34] #509 closed

[2019-04-22 14:36] DanHeidinga commented on #549
Archiving this issue as there hasn't been any recent discussions here

[2019-04-22 14:36] #549 closed

[2019-04-22 14:39] DanHeidinga commented on #1166
This has gone stale.  Closing

[2019-04-22 14:39] #1166 closed

[2019-04-22 14:41] DanHeidinga commented on #1236
Closing as this has gone stale

[2019-04-22 14:41] #1236 closed

[2019-04-22 14:44] DanHeidinga commented on #1448
This has gone stale.  Closing

[2019-04-22 14:44] #1448 closed

[2019-04-22 14:47] #2260 closed

[2019-04-22 14:51] DanHeidinga commented on #2302
@suman-mitra Yes, that would be a big help.

Closing this here as no further openj9 work is required.

[2019-04-22 14:51] #2302 closed

[2019-04-22 14:53] DanHeidinga commented on #2529
Closing as this has gone stale

[2019-04-22 14:53] #2529 closed

[2019-04-22 14:59] DanHeidinga commented on #2555
Closing as this has gone stale (and the link to the similar problem indicates that issue has been fixed)

[2019-04-22 14:59] #2555 closed

[2019-04-22 15:03] ChengJin01 commented on #5573
Will check to see what happened to this issue.

[2019-04-22 15:06] DanHeidinga commented on #204
@amicic @dmitripivkine Any further to be done for this item?

[2019-04-22 15:11] DanHeidinga commented on #4718
@babsingh @keithc-ca What needs to happen here to resolve the issue without requiring user workarounds?

[2019-04-22 15:14] #5534 closed

[2019-04-22 15:15] DanHeidinga commented on #4184
This has been resolved in OpenJDK as per the discussion above

[2019-04-22 15:15] #4184 closed

[2019-04-22 15:15] #5535 closed

[2019-04-22 15:19] DanHeidinga commented on #3263
Graal's api is not a focus for the project at this time.  Closing.

[2019-04-22 15:19] #3263 closed

[2019-04-22 15:34] DanHeidinga commented on #4557
Closing this as we haven't been able to reproduce it.  @kirill-zhukov If it occurs again with a recent OpenJ9 build please let us know.

[2019-04-22 15:34] #4557 closed

[2019-04-22 15:41] DanHeidinga commented on #1633
Closing this now.  We can reopen it if a test case demonstrating the issue is provided

[2019-04-22 15:41] #1633 closed

[2019-04-22 15:43] pshipton commented on #5480
Seems a little backwards. If the prereq metadata is needed before loading all the other metadata, the header can point to the prereq metadata so it can be read first and the prereq caches loaded before the full metadata read.

[2019-04-22 15:50] babsingh commented on #4718
We can fix this issue with the following two approaches.

**Approach 1:** mentioned in https://github.com/eclipse/openj9/issues/4718#issuecomment-463913189; refer to the **Proper code fix** section.

**Approach 2:** mentioned in https://github.com/eclipse/openj9/issues/4718#issuecomment-464114821, https://github.com/eclipse/openj9/issues/4718#issuecomment-464128667 and  https://github.com/eclipse/

[2019-04-22 16:09] DanHeidinga commented on #4718
Do we need to keep omrsig and jsig separate or can we combine them into a single library?

[2019-04-22 17:53] babsingh commented on #4718
`By combining into a single library`: do we want to get rid of omrsig or statically link omrsig to jsig and call the omrsig functions directly?

omrsig and jsig were separated since we didn't want to associate jsig function names (taken from the JDK) with our implementation. so, the base implementation was moved into OMR. also, we wanted the base implementation to be usable by the other consumers

[2019-04-22 17:54] ChengJin01 commented on #5573
I managed to reproduce the problem via ASM code (as such problem will be captured as error during compilation) as follows:

the test case:
[code]
The output on Hotspot  & OpenJ9
[code]
As compared to the Hotspot, the verification check for this error on OpenJ9 is correct but the error message offered in such case is pretty simple which leads to confusion.  I will double-check the code related to t

[2019-04-22 18:00] DanHeidinga commented on #3581
This is working now:
[code]

[2019-04-22 18:00] #3581 closed

[2019-04-22 18:12] pshipton commented on #4718
We want to statically link omrsig into jsig (which means we no longer need omrsig at runtime), or otherwise include the omrsig implementation into jsig. We don't actually need to create an omrsig to statically link against if we can just include the omrsig object files directly into jsig.

[2019-04-22 18:14] gacholio commented on #5571
The specification explicitly disallows this:

```The redefinition may change method bodies, the constant pool and attributes. The redefinition must not add, remove or rename fields or methods, change the signatures of methods, change modifiers, or change inheritance. ```

[2019-04-22 18:15] gacholio commented on #5571
Having said that, there's no technical reason OpenJ9 could not support this

[2019-04-22 19:28] #5459 closed

[2019-04-22 20:56] ChengJin01 commented on #5058
Currently working on a verification related issue raised by an external user. Will get back to this after fixing it up.

[2019-04-22 21:04] clienthax opened #5577 "Modifying enums at runtime - IllegalArgumentException"
Modifying a Enum via reflection at runtime and then attempting to access the modified enum will result in a IllegalArgumentException, the same code works correctly on OpenJDK standard / Oracle

It also seems that this only applies to the second inserted enum, the first one goes through fine with no error.
It seems that the enumConstantDirectory/enumConstants were moved into enumvars which can be w

[2019-04-22 21:42] a7ehuo opened #5578 "JITaaS assert in JITaaS::J9ServerStream::read()"
Ran into the assert "`Arity mismatch: Expected 13 args to unpack but got 2-tuple`" with debug JITaaS when running some sanity test, such as `_JCL_Test_OutOfMemoryError_SE80_0` or `_TestFlushReflectionCache_SE80_0`.

Although `J9ServerStream` complains about expecting to read 13 arguments which is a comp request,  the upper layer`CompilationInfoPerThreadRemote::processEntry()` is not actually tryin

[2019-04-22 21:43] a7ehuo commented on #5578
@harryyu1994 Could you help take a look? Thanks.

[2019-04-22 22:01] #5512 closed

[2019-04-22 22:04] babsingh commented on #4718
I will pursue and explore the static linking approach.

[2019-04-22 22:55] ChengJin01 commented on #5573
The error message came from loadSuperClassAndInterfaces() at /runtime/vm/createramclass.cpp as follows:
[code]
It seems the existing implementation in our code only includes the class name in the error message when checking the loaded classes. Given setCurrentExceptionForBadClass is shared among various types of errors, it means only a bad class name shows up in the error message when any one of t

[2019-04-23 04:17] NekoCaffeine commented on #5571
src/main/java/test/TestRemoveNative.java
[code]
build.gradle
[code]

[2019-04-23 04:19] NekoCaffeine commented on #5571
OpenJDK
[code]
OpenJ9
[code]

[2019-04-23 04:22] NekoCaffeine commented on #5571
My framework encountered this problem when trying to roll back an unsupported native method.

[2019-04-23 12:26] pdbain-ibm commented on #5569
Thanks.  Will investigate.

[2019-04-23 12:47] pdbain-ibm commented on #5569
Found the problem: `search()` does a substring search and matched `14732` which occurred earlier than the desired needle.  I will have a solution shortly.

[2019-04-23 13:36] keithc-ca commented on #4718
I suggest it *is* worth the effort to create a static version of omrsig to avoid explicitly managing the set of OMR object files that would be linked with jsig (which likely varies by platform).

[2019-04-23 13:48] #4954 closed

[2019-04-23 14:16] charliegracie commented on #4718
As long as OpenJ9 is using the OMR autotools build system you will not be able to get a list of the object files. Using CMake it is trivial as the omrsig could easily provide the object library which could be consumed by OpenJ9.

The reason there is a shared library is related to zOS and xLC. To create a shared library (jsig) you *need* to list all of the object files and can not link against a `.

[2019-04-23 14:51] Azquelt opened #5581 "Segmentation error on openj9-0.13.0, JRE 12 Windows 10 amd64"
Java -version output
--------------------

openjdk version "12" 2019-03-19
OpenJDK Runtime Environment AdoptOpenJDK (build 12+33)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.13.0, JRE 12 Windows 10 amd64-64-Bit Compressed References 20190320_32 (JIT enabled, AOT enabled)
OpenJ9   - caeb51f87
OMR      - 33a33ff2
JCL      - 419f571019 based on jdk-12+33)

Summary of problem
------------------

Wh

[2019-04-23 14:55] fjeremic commented on #5581
This is a JIT problem. @andrewcraik @cathyzhyi @0xdaryl FYI, we'll likely need some help to take a look. For starters @Azquelt are you able to reproduce the problem?

The issue seems to be during the compilation of the:

[code]

method. Are you able to open up the core file with WinDbg or any other post-mortem disassembler on Windows and get us the backtrace of the crashing thread? This will give

[2019-04-23 15:03] harryyu1994 commented on #5578
Looking into it

[2019-04-23 15:42] dmitry-ten opened #5582 "Cache resolved methods from TR_ResolvedJ9JITaaSServerMethod::getResolvedImproperInterfaceMethod"
**Problem:**
JITaaS server creates resolved methods, as described [here](https://github.com/eclipse/openj9/blob/jitaas/doc/compiler/jitaas/ResolvedMethod.md).
Creating a resolved method without any caching strategies requires server to make a remote call to the client. During compilation, lots of resolved methods are usually created. For example, inliner creates tons of resolved methods to determi

[2019-04-23 15:44] dmitry-ten commented on #5582
This could be a beginner issue for new interns.
@mpirvu could you add `jitaas` tag to this? I'll update the description, once any proposed changes to resolved methods caching are done.

[2019-04-23 15:45] Azquelt commented on #5581
I'm not familiar with debugging on windows. Does this contain what you need?

[backtraces.txt](https://github.com/eclipse/openj9/files/3108359/backtraces.txt)

Otherwise, some pointers on how to gather what you need would be helpful.

I was seeing the problem occur reliably on one of our build machines, I haven't tried to reproduce it on my workstation.

[2019-04-23 16:35] fjeremic commented on #5581
Unfortunately no, the thread in question does not appear to be there. It seems we can get the info we need from the VM state:

[code]

Judging by the backtrace we have there from the stdout it could be some JSR 292 related issue. I suggest we try to reproduce using the following JIT option on the JVM command-line:

[code]

The trace file will be generated in the `$PWD`, or you can modify the above

[2019-04-23 16:40] Azquelt commented on #5581
Here's the jitdump:
[jitdump.20190418.060754.5164.0004.dmp.txt](https://github.com/eclipse/openj9/files/3108677/jitdump.20190418.060754.5164.0004.dmp.txt)

I can see if I can reproduce the problem with that argument tomorrow.

[2019-04-23 16:58] fjeremic commented on #5581
Thanks. The jitdump did not reproduce the issue but gives us insight into what was going on in the method. This may be an OSR problem. @andrewcraik @cathyzhyi FYI!

[2019-04-23 17:39] dmitry-ten opened #5584 "Cache RAM class flags on the server"
**Problem**
`J9::ClassEnv::classFlagsValue` returns flags of a RAM class.
Class flags contain some metadata about its RAM class.
Since RAM classes are loaded on the client, when JITaaS server calls this method, it
needs to make a remote call to the client, and fetch flags from there.
We could reduce message count by a few percent by caching the return values of this method on the server.

**Releva

[2019-04-23 17:43] dmitry-ten commented on #5584
@mpirvu this could be another beginner issue.

[2019-04-23 18:17] ymanton opened #5585 "jit_jitt_0 functional tests fail in JITaaS mode"
Running `make _jit_jitt_0` will cause a crash on the client with the following BT:

[code]

The test runs with the following command line: `-Xcompressedrefs -Xjit:noJitUntilMain,count=0,assumeStrictFP,optlevel=warm,gcOnResolve,rtResol
ve -verbose:stackwalk=0 -Xdump -XX:JITaaSClient`

[2019-04-23 18:19] ymanton commented on #5585
The problem seems to be that we are trying to create a ResolvedMethod mirror on the client for a special method that should not have a ResolvedMethod at all (i.e. in normal JIT mode we return `NULL` when the caller tries to create a ResolvedMethod for this particular method).

Working on a fix.

[2019-04-23 18:22] ChengJin01 commented on #5573
I already modified the code to cover all errors with detailed messages when calling setCurrentExceptionForBadClass in loading classes, including the verification error as follows, which should satisfy our needs.
[code]

[2019-04-23 19:14] 0xdaryl opened #5590 "AArch64 BigInteger failures"
There are 3 BigInteger test failures at AdoptOpenJDK with the AArch64 OpenJ9 build.  I suspect they are all related, so I don't want to create separate issues for them until proven otherwise.

They all appear to be timeouts, but since this is interpreter-only they may just be slow and not completing within the timeout window.

https://ci.adoptopenjdk.net/view/all/job/openjdk11_j9_openjdktest_aarch

[2019-04-23 20:03] harryyu1994 commented on #5578
This issue happens when a client compilation request is sent, right after it's sent, the client aborts the compilation. However, the server does not know that the compilation has been aborted. So it continues to query more information. And it ends up receiving information on the next compilation. This issue did not get exposed before because we did not share connections across different compilatio

[2019-04-23 20:10] DanHeidinga commented on #5577
OpenJ9 replaces a small number of VM-specific classes such as java.lang.Class, Thread, String, etc.  These are classes that the VM knows a lot about to enable the VM to operate.

Code that uses reflection to both access internal, implementation-specific fields and then removes the final modifier is operating pretty far outside the lines of expected behaviour.

Just as your example code had to know

[2019-04-23 20:10] #5577 closed

[2019-04-23 20:18] smlambert commented on #5590
Someone could create a branch of the openjdk-tests repo, increase the timeout factor, set the job (or a Grinder) to run out of that branch and run the tests to see if they would complete with success in a bigger time range.

Also to note, that test job appears to just run the jdk_math target at the moment.  We should update it to run the entire sanity.openjdk target eventually.

[2019-04-24 06:18] bharathappali opened #5599 "Add support for specifying new area limit (in gencon policy) in terms of percentage of total memory"
As [#1428](https://github.com/eclipse/openj9/issues/1428) refers to the support for -Xmx,-Xms in terms of percentages, It might be a good step to take in specifying the new area limits -Xmn/-Xmnx/-Xmns in terms of percentages.

The support can be of two ways like enhancing the current options to work with percentages or a respective -XX option for each of them which can be used to specify the limi

[2019-04-24 06:34] ShishirH commented on #5374
@DanHeidinga FYI

[2019-04-24 12:53] #5565 closed

[2019-04-24 12:55] cathyzhyi commented on #5581
The stacktrace are likely to be bogus. The method `Java_java_lang_invoke_MutableCallSite_invalidate` is a JNI call and shouldn't appear in stacktrace from a compilation thread.
[code]

can't really tell what's wrong here. tracelog as suggested in  https://github.com/eclipse/openj9/issues/5581#issuecomment-485879836 would be helpful.

[2019-04-24 13:11] dmitripivkine commented on #5374
IMO it is overcomplicated. GC should always try to do compact before idle. I believe time for compact operation is much less then expected idle time but allows to release memory significantly more effective.

[2019-04-24 13:19] TiborBeres commented on #5359
Do you have an approximate date of release for 0.15?

[2019-04-24 13:20] smlambert commented on #5542
Hmm, I thought I updated this issue already (so perhaps I have mistakenly updated the wrong one).

Here is the update:
Rerunning with that JVM option makes no difference to the result on test-marist-sles12-s390x-1 https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1561/rebuild/parameterized (still failing).

The test does pass on other machines, like build-marist-s390x-sles-12 (https://ci.a

[2019-04-24 13:29] #3634 closed

[2019-04-24 14:34] 0xdaryl opened #5600 "Windows PR build failures: Unable to delete workspace"
Some Windows PR builds have been failing lately (I've observed the past 1.5 weeks) with an error similar to:
[code]
For example, here is a failure from a PR build today:   https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-win_x86-64_cmprssptrs-OpenJ9/652/console

[2019-04-24 15:16] DanHeidinga commented on #5359
0.15 will be released in July.  The exact date isn't clear at this point as the release will track the OpenJDK quarterly update.

[2019-04-24 15:33] pdbain-ibm commented on #5533
Prepending `Global\` to the semaphore name allows attachment between sessions.
Working on a proper fix.

[2019-04-24 16:03] harryyu1994 commented on #5578
[code]

- when compilation is interrupted, client does a `client->writeError()`, however, client immediately goes to another compilation once client sends the message and issues another compilation request on the same connection.
- we hit issue when the next compilation request arrives at the server before the writeError message.
- I originally thought after client sends a `writeError()`, client c

[2019-04-24 16:25] keithc-ca commented on #5530
@mvdobrinin With the core file you have, can you look at the locals of the stack frame for `AWT_OnLoad`, specifically the values of `dlinfo.dli_fname` and `buf` and share them here?

[2019-04-24 17:17] mpirvu commented on #5578
Let's break the connection for now, until we can send message type to the server.

[2019-04-24 17:57] harryyu1994 commented on #5578
@mpirvu a fix is ready here: https://github.com/eclipse/openj9/pull/5593

[2019-04-24 18:16] keithc-ca opened #5605 "CMake: jit links dynamically with stdc++"
A build using cmake on Ubuntu 16.04 isn't able to load the JIT library on Ubuntu 14.04:
[code]

[code]

[2019-04-24 18:31] keithc-ca commented on #5605
Building without cmake works fine with the same SHAs:
[code]

[2019-04-24 19:00] cathyzhyi commented on #4837
As found in https://github.com/eclipse/openj9/issues/4837#issuecomment-472105631, swapping inlining and targeted inlining causes regression on some JRuby benchmarks because of leaf java method at the end of methodhandle chain not inlined by targeted inlining. After changing inliner to inline leaf method the performance is improved a little bit.  The regression caused by swapping inlining in **red_

[2019-04-24 19:04] #3242 closed

[2019-04-24 19:12] DanHeidinga commented on #5605
fyi @dnakamura

[2019-04-24 19:13] AdamBrousseau commented on #5600
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/12/console
[code]
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-win_x86-64_cmprssptrs-OpenJ9/647/console
[code]
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-win_x86-64_cmprssptrs-OpenJ9/652/console
[code]

Clearly there's an issue with windows cleanup. Should revisit the c

[2019-04-24 19:19] vijaysun-omr commented on #4837
Thanks, these results show inlineLeaf (which I think is your new inliner config) doing better than other OpenJ9 configs you show in multiple cases with the odd case that is regressed but on the whole inlineLeaf seems like a step in the right direction.

I would like to know if you feel there is some other major issue (apart from aborted compilation because of too much memory) that is responsible f

[2019-04-24 19:47] pshipton commented on #5605
fyi https://github.com/eclipse/openj9/pull/3645
Note libgcc also needs to be statically linked https://github.com/eclipse/openj9/pull/3594

[2019-04-24 19:55] pshipton commented on #5605
For comparison, this is the ldd output for libj9jit29.so for a non-cmake build.
[code]

[2019-04-24 20:50] harryyu1994 commented on #5503
Taking this work on the side

[2019-04-24 20:57] pshipton commented on #5530
@andrew-m-leonard @adamfarley fyi a possible JCL bug here.

[2019-04-25 05:28] mvdobrinin commented on #5530
Unable to see any local variables on the two methods that would provide the most info. Looks like symbols are missing around these two areas.
[code]

[2019-04-25 07:42] knn-k commented on #5590
I confirmed that these BigInteger tests pass in my local environment.  So they are the problem of timeout factor until the JIT compiler is available.

[2019-04-25 08:44] akrus commented on #4769
@amicic, I've tried changing region size to 524288 and it looks better now, I see an average decrease of 0.5 ms on max quantum size and generally looks like GC is running less frequently. Should I try changing region size further? Considering huge pages are on and page size is 2M, is it worth trying to set region size to 2M as well? Or it's not going to be aligned properly anyway?

[2019-04-25 10:03] MNeuling opened #5611 "Segmentation error on openj9-0.14.0 / JRE 1.8.0_212-b03 (x32) / Windows 7 - openssl MessageDigest"
Java -version output
--------------------
openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-b03)
Eclipse OpenJ9 VM (build openj9-0.14.0, JRE 1.8.0 Windows 7 x86-32-Bit 20190417_206 (JIT enabled, AOT enabled)
OpenJ9   - bad1d4d06
OMR      - 4a4278e6
JCL      - 5590c4f818 based on jdk8u212-b03)

[javacore.20190424.151032.13012.0002.txt](https://github.com/eclipse/openj9/files/

[2019-04-25 10:07] lumpfish opened #5612 "PR copyright check fails for openj9-systemtest .project files"
I'm trying to submit PR https://github.com/eclipse/openj9-systemtest/pull/89 which fails the copyright check: https://ci.eclipse.org/openj9/job/PullRequest-CopyrightCheck-Systemtest/68/console

The eclipse/openj9-systemtest repository includes Eclipse .project files, enabling users to check out the repository directly into an Eclipse IDE and exploit the IDE features such as dynamic compilation and

[2019-04-25 11:30] pshipton commented on #5612
@lumpfish the current process is to have the committer look at any copyright failure and determine the correct action. The committer can merge if the file failing the check is updated but uses a different copyright format, or isn't supposed to have any copyright at all.

@AdamBrousseau @jdekonin fyi
We could add an exclude mechanism for the copyright check, but I don't think there is any priority

[2019-04-25 11:30] #5612 closed

[2019-04-25 12:44] pshipton commented on #5449
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly/13

This failure continues to occur, but I'm not going to keep reporting them.

[2019-04-25 12:46] AdamBrousseau commented on #5612
FYI, there was work prototyped in #1879 to allow a `.copyrightignore` file.
See https://github.com/eclipse/openj9/pull/1879#issuecomment-486657340

[2019-04-25 12:56] hzongaro commented on #5199
As this problem has moved back to [OMR issue #3682](https://github.com/eclipse/omr/issues/3682), may I ask a committer to close this issue?

[2019-04-25 13:39] amicic commented on #4769
Here is a sample cycle before:
[code]
and after large region size tuning:
[code]

[2019-04-25 13:55] amicic commented on #4769
Clearly, the long pause time in the first quanta is gone. This specific problem was investigated in this issue, and seems to be resolved by tuning. As I mentioned before, we could possibly come up with a fix too (too busy with other stuff, so I'll probably delegate someone to work on a fix).

Another possible (positive) side effect is shorter GC cycle, in particular sweep phase (5 vs 3 quantas). I

[2019-04-25 13:56] apete commented on #4670
@andrewcraik Has there been any updates that could affect the performance in this case? I plan to run some more benchmarks.

[2019-04-25 13:58] #2782 closed

[2019-04-25 13:59] amicic commented on #4769
Actually, you don't need to rename this one. 'increase with uptime' makes this one fairly distinguishable.

[2019-04-25 14:03] cathyzhyi commented on #4837
We see quite a lot of small issues resulting in the code to be suboptimal, like known object info not propagated correctly, vp didn't fold some obvious cases, some unnecessary indirect load. Some benchmarks like `mandelbrot` still have inliner issues. Overall, I think inlining the right things should improve the performance by a lot but is not enough to close the gap.  Haven't found other major is

[2019-04-25 14:04] DanHeidinga commented on #4670
@vijaysun-omr for awareness

[2019-04-25 14:09] akrus commented on #4769
@amicic, but for larger heaps of 500G+ is it better to increase the region size? Or 512k should be OK there also?

[2019-04-25 14:26] akrus opened #5615 "Metronome GC - long pause in sweep phase"
As discussed in #4769, creating a new issue for too long pauses (~5 ms) when the targetPauseTime is set to 1 ms.

[2019-04-25 14:46] amicic commented on #4769
Hard to say, it's possibly you'll need to increase even further, probably double. You'll just have to try. Sorry, but I can't be more specific - we don't have experience with that large heaps using Metronome, hence we are seeing all these problems.

Again, I'm afraid of negative side effects. If I remember correctly granularity of work in sweep phase is a region. With too larger region, sweep incr

[2019-04-25 14:49] amicic commented on #5615
copy-pasting a sample cycle from the 'parent' issue:

[code]

We appear to have two longish pauses, one (about 5ms) at the very beginning of sweep phase (max timestamp is always 0, which indicates it's the first increment in the quanta, and it's always the first sweep quanta in the cycle) and another one (about 3ms) toward the end of (quite possibly the very end) of sweep phase.

[2019-04-25 15:01] pshipton commented on #5611
@jerrylui803 @ashbm5

[2019-04-25 15:59] ChengJin01 commented on #5058
Already finished the code in signal handling from the compilation perspective (might be still errors but it temporarily passed in compilation /need to get back to address if anything happens later in execution) and currently dealing with the libffi part for riscv64 to get it compatible with the existing libffi settings in OpenJ9.

[2019-04-25 16:11] DanHeidinga commented on #5058
Have you checked the libffi project?  They may have already done the a port to riscv64.

[2019-04-25 16:18] alistair23 commented on #5058
libffi is ported to RISC-V. You need to make sure you use the release candidate (or master).

[2019-04-25 16:24] ChengJin01 commented on #5058
I already moved the riscv64 part from the libffi project to our code but need to check the compatibility issue detected in compilation as  the libffi code in OpenJ9 is based on an old version. Given that there is no need update the whole libffi in OpenJ9 to keep up-to-date with the latest libffi, just need to make a few modification to get it pass.

[2019-04-25 18:18] pdbain-ibm opened #5619 "Please update test instructions for Windows"
The [Reproducing Test Failures Locally](https://github.com/eclipse/openj9/wiki/Reproducing-Test-Failures-Locally) page indicates that JAVA_BIN must be set to ```/someLocation/jre/bin``` (same without ```jre``` for post Java 8).  On Windows,
it seems that the scripts require the JAVA_BIN path to be in Windows format, e.g.
```JAVA_BIN=C:\Users\foobar\Test_openjdk8_j9_extended.functional_x86-32_windo

[2019-04-25 19:30] tajila commented on #5178
@MarkQingGuo can you confirm that all new objects you introduced in the VT tests can be viewed with your DDR changes

[2019-04-25 19:57] NigelYiboYu opened #5620 "Consider consolidating SW and HW concurrent scavenge code into a single module on z"
Expanding from pull request https://github.com/eclipse/openj9/pull/5183

The HW CS implementation scatters across VM, port lib and the SW CS implementation is in the JIT module. We should consider if the HW CS code is organized properly. If not, move them to where they should belong.

For example,  the `handleHardwareReadBarrier` routine can be moved from the VM `zcinterp.m4` to JIT `znathelp.m4`.

[2019-04-25 19:58] NigelYiboYu commented on #5620
@fjeremic FYI

[2019-04-25 20:14] fjeremic commented on #5620
This https://github.com/eclipse/openj9/pull/5183#discussion_r272264949 is relevant for reference.

[2019-04-26 00:26] fjeremic commented on #643
@gacholio do we have JIT resources lined up to help with this effort? Do you need help on the JIT side?

[2019-04-26 02:21] mvdobrinin commented on #5530
I ran it through truss since I wasn't getting anything useful from the core.

[code]

[2019-04-26 08:38] ashu-mehra commented on #5374
@dmitripivkine If we always want to do compaction, then we won't need CompactOnIdle option. Are you suggesting that we should have only one option `IdleTuningGcOnIdle` that controls all the three operations - global gc + compaction + decommit?

[2019-04-26 09:42] planetf1 commented on #3441
I can confirm that when using IntelliJ (latest EAP) with the latest J9 Java 8 JVM, I no longer see this issue and build/compile works normally. Thanks!

[2019-04-26 09:44] planetf1 commented on #3410
I can confirm I am no longer seeing this either. thanks!

[2019-04-26 11:05] ShishirH commented on #4197
@tajila `J9_ARE_MODULES_ENABLED` is only used a single code in the codebase. Do you still want it to be removed?

Also, is there a reason why it is checking for versions >= 11, when modularity was introduced in 9?

[2019-04-26 11:14] NekoCaffeine commented on #5571
Ok, I can only give up OpenJ9 for the time being.

[2019-04-26 11:37] dmitripivkine commented on #5374
yes

[2019-04-26 11:46] ashu-mehra commented on #5374
@dinogun @DanHeidinga @pshipton any concerns if we use only one option `IdleTuningGcOnIdle` as suggested above. If we want to remove `CompactOnIdle`, can we just remove it or do we need to first deprecate it?

[2019-04-26 12:12] keithc-ca commented on #5530
Unfortunately, truss doesn't share the information that would be helpful.

Did you get a `javacore` file that you would be willing to share?

Alternatively, we could create a test build that prints some relevant information near the failure point. Would you be willing to test with that?

[2019-04-26 12:39] gjdeval commented on #5374
From a user perspective, having a single option to turn on/off the "reduce
memory footprint when idle" function sounds like a good idea, mostly users
do not understand the underlying GC sub-operations (and do not want
to ... ;-)

If it seemed useful, we might keep finer-grained controls available for
diagnosis or triage, "unofficially" ... though of course everything will be
visible to those who c

[2019-04-26 12:42] 0xdaryl opened #5626 "testXXXGetAndOpLong failures on x86-64 Linux JDK11"
There appear to be 3 failures in PR builds on x86 Linux JDK11.  JDK8 seems fine.   I don't see these failures on any other architecture or OS.

These were seen in two different PRs based on a rebase of OpenJ9 from last night and OMR master.  The PRs being tested are independent, one of which contained code that could not execute on this platform.

Latest OpenJ9 SHA:  0e1dbb160be298b72e9b6c13b35ddc

[2019-04-26 12:46] DanHeidinga commented on #5626
This appears to be a dup of a known problem: https://github.com/eclipse/openj9/issues/4657 which has been difficult to track down as it hasn't been sufficiently reproducible in grinders.

Conversation can continue in #4657 so I'll close this now

[2019-04-26 12:46] #5626 closed

[2019-04-26 13:16] DanHeidinga commented on #4657
This was reported in multiple PR builds in #5626.  It would be good to get some attention on resolving this.

fyi @0dvictor @andrewcraik @0xdaryl

[2019-04-26 14:00] pshipton opened #5627 "Test_openjdk11_j9_extended.system_x86-64_windows SharedClasses.SCM01.MultiThreadMultiCL_0 crash vmState=0x00000000 j9vm29.dll"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly/13
[code]
Crash report above is found in 6.MTM4.stderr

[2019-04-26 14:01] pshipton commented on #5627
Copied diagnostics to /team/triage/openj9-5627

[2019-04-26 14:05] pshipton commented on #5627
@DanHeidinga

[2019-04-26 14:08] JasonFengJ9 commented on #5627
Considering this is `JDK11 Windows Segmentation error` at `InaccessibleReadAddress=0000000099669976`, this is same problem as https://github.com/eclipse/openj9/issues/4778, https://github.com/eclipse/openj9/issues/5140, etc.

[2019-04-26 14:31] DanHeidinga commented on #5627
Agreed - closing as dup of #4778

[2019-04-26 14:31] #5627 closed

[2019-04-26 14:34] DanHeidinga commented on #4778
Note there are more diagnostic files in #5627 which may help with investigations.

[2019-04-26 15:06] gacholio commented on #643
@fjeremic No, I expect to do the JIT work myself.

[2019-04-26 15:49] tajila commented on #4197
@ShishirH The macro is only used once but we do the equivalent `J2SE_VERSION(vm) >= J2SE_V11` check in many other places. My plan was to update this macro to be a compile time check so we can replace all the places where we manually check if modularity is enabled.

I am not sure why this change was made. @JasonFengJ9 can you explain ?

[2019-04-26 16:32] ChengJin01 commented on #5058
Already fixed the compatibility issue with libffi/riscv in OpenJ9 and the compilation failed at:
[code]
As explained by the cross toolchain developer at http://rodrigo.ebrmx.com/github_/riscv/riscv-gcc/issues/140, this is a versioning problem from the glibc (2.26). To be specific,  the cross compiler (gcc 8.3.0) requires `__riscv_flush_icache `that was defined/implemented since glibc 2.27 (https:/

[2019-04-26 16:41] mvdobrinin commented on #5530
I would be happy to run a test build if you can provide a package for AIX,

I will also share the javacore privately to keithc@ca.ibm.com.

[2019-04-26 17:14] DanHeidinga commented on #5374
@dinogun @ashu-mehra Do you recall from the original designs for this feature why compact was split out separately?  Did users request the ability to treat the operations separately?

The single option is a clear story for users to understand though I'm loathe to remove the ability to differentiate if it was driven by real user requests.

[2019-04-26 17:22] smlambert commented on #4778
And also FYI, core files should now be present in the archived test_output_xxxxx.tar.gz file, that is archived from the Jenkins test job (related https://github.com/AdoptOpenJDK/openjdk-tests/pull/1073), so, in future, if/when you see dumps occurring in jtreg/openjdk regression tests, please check the archived file for dump files.

[2019-04-26 17:58] keithc-ca commented on #5530
I'd like to have a look at that javacore in case it suggests any adjustments to my anticipated instrumentation.

[2019-04-26 19:00] a7ehuo commented on #5578
The fix #5593 is merged.

[2019-04-26 19:00] #5578 closed

[2019-04-26 19:03] pshipton commented on #4197
Java 9 is out of service and no longer supported.

[2019-04-26 20:23] JasonFengJ9 commented on #4197
@tajila just as Pete stated above, `J2SE_19` and `J2SE_V10` have been removed, and all references to `9/10` were changed to `11`.
Further more, we might use `JAVA_SPEC_VERSION` to replace `J2SE_VERSION(vm)` (https://github.com/eclipse/openj9/pull/5370).

[2019-04-26 21:05] llxia commented on #5619
[Reproducing Test Failures Locally](https://github.com/eclipse/openj9/wiki/Reproducing-Test-Failures-Locally) is updated:
-  set `TEST_JDK_HOME` (instead of `JAVA_BIN`)
- remove unnecessary `-p` instruction for running `get.sh` (`-p` is needed if we use `get.sh` to download nightly SDK)

[2019-04-26 21:36] tajila commented on #4197
Okay, then #5370 fixes this issue

[2019-04-26 21:52] JasonFengJ9 commented on #4197
#5370 can simplify the runtime check via replacing the macro `J9_ARE_MODULES_ENABLED` with checking of `JAVA_SPEC_VERSION`.
It could become a compile time check if that's the direction to go.

[2019-04-26 22:14] #4945 closed

[2019-04-27 09:15] apete commented on #4670
I ran the same tests again but with everything updated to their latest versions.

https://www.ojalgo.org/2019/04/adoptopenjdk-v12/

[2019-04-27 12:56] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_xl_Nightly/16/

[2019-04-28 10:26] avermeer commented on #4837
Hello,

Even if improvements previously quoted are not yet as good as expected to beat HotSpot's, would it be possible to have an OpenJ9 version (nightly build or other way to get binaries) including these improvements so that I could get my real applications the performance benefit?

Kind regards,
Alexandre Vermeerbergen

[2019-04-29 02:09] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_Nightly/17

[2019-04-29 02:11] pshipton commented on #5489
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/17

[2019-04-29 05:19] ashu-mehra commented on #5374
@DanHeidinga digging up previous discussion, I figured that it was a conscious decision to keep `compact` and `free pages` independent so that `compact` can be set without requiring freeing the pages. This could be useful when running in a dedicated box (non-cloud) where freeing the pages wouldn't be beneficial.
I will mail you the link where we discussed this. As that link is internal to IBM, so

[2019-04-29 07:03] bharathappali commented on #5599
HotSpot has Options `-XX:NewSize` and `-XX:MaxNewSize` equivalents for `-Xmn` and `-Xmnx`.

Link : https://docs.oracle.com/javase/8/docs/technotes/guides/vm/gctuning/sizing.html

Will it be a good idea to have those opts in OpenJ9 and make them support to take both static size and percentages as well to have HotSpot compatibility with an enhancement of support for expressing in percentages ?

@dmi

[2019-04-29 10:44] ibm-rtvs commented on #4530
I'm seeing this as a regression in:
openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-b03)
Eclipse OpenJ9 VM (build openj9-0.14.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20190417_286 (JIT enabled, AOT enabled)
OpenJ9   - bad1d4d06
OMR      - 4a4278e6
JCL      - 5590c4f818 based on jdk8u212-b03)

using the docker image: adoptopenjdk/openjdk8-openj9

[2019-04-29 12:32] andrewcraik commented on #4670
@apete I have not managed to do something specific for this scenario, but it is still on my radar. There have been startup improvements which may help a bit. I plan to investigate how our new profiling framework - JProfiling - affects performance and then study the problem again in that context. FYI @r30shah

[2019-04-29 12:39] rubin55 opened #5629 "Is there a difference between openj9 and hotspot's interpretation of order in https.protocols"
I noticed today, when running MuleSoft Anypoint Studio 7.3.2 with AdoptOpenJDK 8 /w OpenJ9 r212 that order matters in the system-wide https.protocols setting.

This is a potentially dangerous difference in behaviour compared to hotspot, which will select the highest protocol in the list regardless of ordering first.

I noticed this while adding an update site (in this case for markdown, here: http

[2019-04-29 12:50] rubin55 commented on #5629
By the way, before I forget, at lease [in one place](https://www-01.ibm.com/support/docview.wss?uid=nas8N1022279) IBM seems to be communicating an arbitrary and/or weak-to-strong list of protocols in its documentation.

[2019-04-29 13:01] rubin55 commented on #5629
I just tested to confirm, When I run with the hotspot variant of AdoptOpenJDK 8, it selects the highest protocol in the list instead of the first.

[2019-04-29 13:04] #5569 closed

[2019-04-29 13:13] DanHeidinga commented on #5629
@theresa-m Can you take a look at this?

[2019-04-29 13:16] pshipton opened #5630 "cent6-x64-1 git fetch index-pack died of signal 15"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_Nightly/18
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_xl_Nightly/17
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/20
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/18
https://ci.eclipse.org/openj9/

[2019-04-29 13:16] pshipton commented on #5630
@AdamBrousseau @jdekonin

[2019-04-29 13:20] apete commented on #4670
@andrewcraik The issue here must be if vectorisation happens or not – don't you think so?

[2019-04-29 13:34] rubin55 commented on #5629
I've created a quick tryout reproducer. I cannot reproduce, see here: https://github.com/rubin55/https-protocol-order-reproducer

Both select TLSv1.2:
[code]

Proof that https.protocols affect this code, won't work, throws exception:
[code]

So OpenJ9 seems to do the right thing, but in combination with at least this version of Eclipse (4.7.2) the observed behaviour `-Dhttps.protocols=TLSv1,TLSv1.

[2019-04-29 13:41] rubin55 commented on #5629
I collected the backtrace from Eclipse:

[code]

[2019-04-29 14:07] amicic commented on #5374
The value of compact is to squeeze extra free memory (pages).

Normally, compact triggers are rather passive (we don't wont to introduce long pauses for small gains in free memory with actively running applications).

Doing always compact is another opposite extreme.

A compromise would be to introduce additional, more aggressive compact triggers, that would be (by default) used only for this scen

[2019-04-29 14:31] andrewcraik commented on #4670
Vectorization is likely part of it but the differences I reported previously are not a result of vectorization, but a result of other differences in the internal operation of the compiler and its intermediate representation. Further study is required and is on my todo list - just not at the top sadly.

[2019-04-29 14:32] pshipton commented on #5630
I've restarted jenkins, not sure if that would have fixed this.

[2019-04-29 14:36] rubin55 commented on #5629
I've collected the ssl debug information with -Djavax.net.debug=ssl:

[code]

This seems to be Eclipse specific, although I'm not sure yet what's going on. I've updated my reproducer to also use Apache HTTP Components' HTTP Client 4.5.2; It seems HTTP Client 4.5.2 does not use https.protocols setting at all (setting it to an invalid value or low protocol version does not prohibit the client from a

[2019-04-29 14:46] mpirvu opened #5631 "Remove asserts that prevent testing with a JITaaS debug build"
A bunch of asserts that try to asertain the quality of the cached IProfiler data are firing, which prevents us from doing testing with debug builds.
We should comment out those asserts to allow proper testing and re-visit them later on (they *might* have performance implications).

[2019-04-29 14:47] fjeremic commented on #3277
Fixed as part of #5183.

[2019-04-29 14:47] #3277 closed

[2019-04-29 14:48] fjeremic commented on #3278
Fixed as part of #5183.

[2019-04-29 14:48] #3278 closed

[2019-04-29 14:48] fjeremic commented on #3279
Fixed as part of #5183.

[2019-04-29 14:48] #3279 closed

[2019-04-29 14:50] fjeremic commented on #3282
Fixed in #3881.

[2019-04-29 14:50] #3282 closed

[2019-04-29 14:50] fjeremic commented on #3281
Fixed in #5183.

[2019-04-29 14:50] #3281 closed

[2019-04-29 14:51] fjeremic commented on #3284
@NigelYiboYu can you take care of opening up the documentation issue so we can close off this item?

[2019-04-29 14:52] fjeremic commented on #3283
@NigelYiboYu has the software testing been enabled? If not let's enable it so we can close this off.

[2019-04-29 14:56] #5600 closed

[2019-04-29 15:01] pshipton commented on #4530
@ashbm5 can you please investigate https://github.com/eclipse/openj9/issues/4530#issuecomment-487534024

@ibm-rtvs can you please open a new issue. Until we have one, I'll reopen this one as a reminder.

[2019-04-29 15:08] NigelYiboYu commented on #3283
Not yet. Let me look into this now.

[2019-04-29 15:18] pshipton commented on #5599
Re adding `-XX:NewSize` and `-XX:MaxNewSize` note https://github.com/eclipse/openj9/issues/2834#issuecomment-424097324

[2019-04-29 15:23] pshipton commented on #5630
Still occurring, disabled cent6-x64-1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_OMR/30/

[2019-04-29 15:23] NigelYiboYu commented on #3284
Documentation issue here: https://github.com/eclipse/openj9-docs/issues/261

Closing this one.

[2019-04-29 15:28] AdamBrousseau commented on #5563
When the PR builds change to pipeline of jobs (hopefully this week). You will no longer be limited to cent6 for the PR builds. I think we need to consider build times for compile vs test and also amount of CPU needed for test-only machines. If we only need 2cpu test machines we could create 4 test machines for the cost of a 8cpu compile machine.

[2019-04-29 15:31] pshipton commented on #4530
@vij-singh fyi

[2019-04-29 15:34] #3284 closed

[2019-04-29 15:49] ashbm5 commented on #4530
@pshipton are there instructions how can this issue be reproduced? stacktrace? the test put in place to check for this issue is passing

[2019-04-29 15:55] sharon-wang commented on #5332
@avermeer The fix is now available in the AdoptOpenJDK nightly builds:
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u212-b01_openj9-0.14.0-m1
https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.3+2_openj9-0.14.0-m1

[2019-04-29 16:52] pshipton commented on #5332
Better to use the release builds please.
https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=openj9
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u212-b03_openj9-0.14.0
https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=openj9
https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.3%2B7_openj9-0.14.0

[2019-04-29 16:59] rubin55 commented on #5629
Update from my side: I think i've isolated this issue to [Eclipse ECF's httpclient4 filetransfer component](https://github.com/eclipse/ecf/tree/master/providers/bundles/org.eclipse.ecf.provider.filetransfer.httpclient4). This component is the default HTTP client for for p2/Eclipse update. The Eclipse Wiki documents that you can [turn off httpclient4](https://wiki.eclipse.org/Disabling_Apache_Httpc

[2019-04-29 17:11] rubin55 commented on #5629
Just a quick glance at Eclipse ECF's httpclient4 filetransfer component, I think I'm seeing a typo on line 56 (sslContext.init(..) instead of rtvContext.init(..)):

https://github.com/eclipse/ecf/blob/e2f3919166add4a8184b21ac9f358c9f4cf45756/providers/bundles/org.eclipse.ecf.provider.filetransfer.httpclient4/src/org/eclipse/ecf/provider/filetransfer/httpclient4/HttpClientDefaultSSLSocketFactoryMod

[2019-04-29 17:50] ymanton opened #5633 "Infinite loop in JIT compiler's fear point analysis debug code"
Compilation threads can get stuck in a recursive loop in this bit of code of debug code:

https://github.com/eclipse/openj9/blob/9c033bd4311a1d2bccad1a5250330ada13f9c550/runtime/compiler/optimizer/FearPointAnalysis.cpp#L178-L197

I see this most often when running the `jit_jitt_0` sanity test. Note that the JIT needs to be built in debug or prod_with_assumes defined for the problematic code to hav

[2019-04-29 18:50] andrewcraik commented on #5633
Isn't this just a case of an exponential node walk not an infinite loop? Once for each treetop we call from `computeFearFromBitVector` to `confirmFearFromBitVector`. Looks to me like the `confirmFearFromBitVector` should have a node checklist...

[2019-04-29 18:57] ymanton commented on #5633
When you let it run overnight and it's still going the next morning it's hard to distinguish between the two. :grin: I didn't look into it much more than attaching GDB and seeing a very long backtrace full of those two methods, so it may be making incredibly slow forward progress.

[2019-04-29 19:02] andrewcraik commented on #4837
@avermeer we can certainly try to make a branch available - obvious caveats that it won't have gone through full testing etc and we know the new scheme can cause regressions in some extreme circumstances (which will be fixed before the code is delivered). @cathyzhyi @liqunl and I are all looking at the method handle performance to continue the performance improvements.

[2019-04-29 19:25] a7ehuo commented on #5633
Running into the same loop in https://github.com/eclipse/openj9/blob/9c033bd4311a1d2bccad1a5250330ada13f9c550/runtime/compiler/optimizer/FearPointAnalysis.cpp#L152

Same as what @ymanton experienced, it's stuck at the end of `jit_jitt_0`, leaving it as it is, it could run hours.

[code]

[code]
[code]
[code]

[2019-04-29 20:18] pshipton opened #5637 "Acceptance builds for OpenJDK extensions"
OpenJDK extensions are going to have OpenJDK changes merged into a openj9-staging branch. We want to run an acceptance build (similar to OMR) on the openj9-staging branch, and merge openj9-staging into the openj9 banch when the acceptance testing passes.

jdknext is ready to go now, the older versions will follow.
Note the test builds for jdknext aren't working yet, so until they do the acceptance

[2019-04-29 20:19] pshipton commented on #5637
@AdamBrousseau @andrew-m-leonard

[2019-04-29 20:22] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_OMR/32

[2019-04-29 21:25] AdamBrousseau commented on #5637
All platforms? xlinux, xlinux_xl, xlinux_cm?

[2019-04-29 21:51] ChengJin01 commented on #5058
The cross-compiler works good now after recompiling with `__riscv_flush_icache `disabled.  So keep working on a bunch of warn-as-errors detected during compilation except the code issue with cinterp.m4.

Given that cinterp.m4 is related to the assembly code invoking interpreter (in callin) which needs to be written manually against the riscv instruction set, I temporarily leave these stub files (`

[2019-04-30 03:53] bharathappali commented on #5599
The error is only if we specify -Xmn and -Xmnx / -Xmns. I'm thinking if we could map -XX:NewSize to -Xmns and -XX:MaxNewSize to -Xmnx.

In a view that the minimum new area size ( -XX:NewSize of hotspot ) is the initial new area size ( -XX:NewSize of OpenJ9 equivalent to -Xmns ).

Please correct me if the view i had was wrong.

[2019-04-30 10:48] ashu-mehra commented on #5374
I agree with @amicic . If we can use some heuristics to decide on compaction, then we don't really need any option to control it, which also spares the users from understanding another technicality.
@amicic can you please provide more details about the fragmentation metrics that you mentioned in the previous comment?

However, this would only address one part of the problem. The other part is free

[2019-04-30 11:35] pshipton commented on #4426
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/18
[code]

[2019-04-30 12:52] jdekonin commented on #5630
I rebooted this machine yesterday, just re-enabled now.

[2019-04-30 13:02] #5630 closed

[2019-04-30 13:31] theresa-m commented on #5629
thanks for all your investigation work @rubin55 ! I'm attempting to reproduce the issue with AnypointStudio and find the cause

[2019-04-30 13:47] keithc-ca commented on #5530
I shared a test build privately with @mvdobrinin.

[2019-04-30 13:56] rubin55 commented on #5629
Hi @theresa-m :-) Cool, Note that you could most probably also reproduce the issue with a bog-standard Eclipse 4.7.2, maybe a bit easier (seeing as Anypoint Studio is a proprietary beast that requires access to a private download area afaik).

[2019-04-30 14:09] pshipton commented on #5599
The concept is correct. The reality is that I tried to do these mappings and something weird happened. It needs further investigation, and nobody has looked at it yet.

[2019-04-30 14:15] charliegracie commented on #5599
@bharathappali I think is the correct change (for NewSize and MaxNewSize) and was on my list of options to add. I think the mapping you suggested is correct and should work. Feel free to suggest a PR if you want to pursue this work.

[2019-04-30 16:05] amicic commented on #5374
Here is a proposal for compact trigger. I put it on OMR side, since most of the logic would be there, but we can move it on OpenJ9 side if it makes more sense.

https://github.com/eclipse/omr/issues/3797

[2019-04-30 16:14] amicic commented on #5374
Introduction of this compact trigger is relatively small work item. While someone from IBM Cloud team could work on this, IBM Core VM team will soon have a junior person that could work on it.

[2019-04-30 17:26] pshipton commented on #5637
The same platforms as OMR acceptance. i.e. all

[2019-04-30 17:44] pshipton commented on #5563
The functional tests should be ok, but some of the system tests benefit from having 8 cpus.

[2019-04-30 19:49] mstoodle commented on #2793
I have a patch for OpenJDK11 that mostly implements "slowdebug" / "fastdebug" JVM variants by passing in the smorgasborg of options needed to build VM and JIT with debug information. It doesn't quite work yet but I've had little time to dig into the reasons. If anyone wants the patch so they can play with it to get this going, I'd be happy to hand it over as a starting point.

[2019-04-30 20:35] mpirvu opened #5644 "Increase scratchSpaceLimit for JITaaS server"
Remote compilations should be allowed to use more memory for compilation.
This way, in theory, we could improve the performance of applications over what a non-jitaas solution can provide.
Note that the scratchSpaceLimit comes from TR::Options and it's going to be passed from client to server. Maybe we could double the value at the server making sure we don't exceed 2GB, maximum an int could hold.

[2019-04-30 20:39] harryyu1994 opened #5645 "Memory leak at the JITServer"
Test setup:
- 4 Acmeair JITaaS Client and 1 JITaaS server:

JITaaS server footprint:
- starts with 12MB
- during rampup, gets up to 900MB
- at steady state, drops down to 180MB

After I shut down the 4 Acmeair JITaaS clients, JITaaS server's footprint stays at 180MB.
The server most likely did not clean up the cached items associated with the clients.

[2019-04-30 20:52] AdamBrousseau commented on #2637
Nightly builds seems to be slower than original testing numbers listed above. Pulling a nightly and an OMR (daytime) build for comparison. Adding to the original table above

| SPEC/SITE      | Original: Upload to Artifactory | Original: Download from Artifacotry | Upload to Jenkins master | Download from Jenkins master | Updated: Upload to Artifactory | Updated: Download from Artifacotry |
|-----

[2019-04-30 21:05] ChengJin01 commented on #5058
Already solved all warn-as-errors on JDK11 & OpenJ9 & OMR and currently adding DDR changes (previously disabled in compilation) to see how it goes in compilation.

[2019-04-30 21:44] pshipton commented on #2637
What I don't like are
- the xlinux machine errors we get downloading from artifactory in the nightly builds. Lan has added a 3min x5 retry, and will increase that to 5m. This could impact PR builds. I think we should cache JVMs internal to UNB for the machines that are hosted at UNB.
- how long it takes to download to my desktop, not just for JVMs, but for test artifacts in order to investigate fa

[2019-04-30 22:15] ChengJin01 commented on #5058
Just checked /runtime/ddr/module.xml and realized that j9ddrgen either should be created on the target platform (the Linux/QEMU in our case) or has to be disabled as there is no way to generate the tool via the local compiler when compiling with the cross-compiler (this is different from the trace/hook tools in which case the cross-compiler can be overridden for the benefit of the cross-compilatio

[2019-04-30 22:24] ChengJin01 commented on #5058
Now the other thing to be addressed immediately is still the issue with glibc.
I compiled a simple test with the cross-compiler locally and uploaded it to the Fedora-riscv/QEMU.
[code]
and it ended up with:
[code]
It means the program compiled with glibc 2.26 must be executed with the same version of glibc installed on the target platform.

Given that the Fedora/riscv comes with glibc 2.27 at http

[2019-04-30 22:47] AdamBrousseau commented on #2637
Agree it's slow (at the office) 7mins when I tried.

Looking at one of the failed curls
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_Nightly/18/
**27-Apr-2019 23:09:07**
[code]
Catalina.out has nothing at that timestamp
[code]
Nothing in request.log
[code]
Nothing in artifactory.log
[code]
Its like the request never reached the server. I see that there were 3

[2019-05-01 04:56] mpirvu opened #5648 "Estimate JITaaS performance with Daytrader7"
So far we've estimated the performance of the JITaaS prototype using AcmeAir and SPECjbb2005. We need to expand the set of benchmarks and the first target should be Daytrader7

[2019-05-01 06:04] mpirvu opened #5649 "Reduce number of ResolvedMethod_isUnresolvedString messages"
Most of the `ResolvedMethod_isUnresolvedString` messages come from the following piece of code
[code]
As seen above, before calling `isUnresolvedString` we call `stringConstant` which requires another message. We could create a combined frontend function that returns the answer to both queries, so that we need one message instead of two.

[2019-05-01 06:22] mpirvu opened #5650 "Reduce number of VM_classHasBeenReplaced messages"
`VM_classHasBeenReplaced` messages are issued by the implementation of `TR_J9ServerVM::classHasBeenReplaced(TR_OpaqueClassBlock *clazz)`.
The implementation of `TR_J9VM::classHasBeenReplaced` is
[code]
We already cache the value of `clazz->classDepthAndFlags` and therefore we have the value of `J9AccClassHotSwappedOut` flag. The question is whether this flag can change. I would argue that when thi

[2019-05-01 06:56] guekho64 opened #5651 "[Performance] Is OpenJ9 slower than Hotspot in this specific case?"
While trying to find the fastest way to copy content from one array to another, I found this case where, at first glance, Hotspot seems to outperform OpenJ9:

- Hotspot: ~ 1.193 secs
- _**OpenJ9: ~ 1.46 secs**_

Both of them are average values.

I repeated the process 10 times each, so Hotspot and OpenJ9 had time to optimize their compiled bytecode after each run.

Here's the code I'm using to per

[2019-05-01 13:30] DanHeidinga commented on #5651
Thanks for reporting this @guekho64.

Can you provide the commandline options being used for both Hotspot and OpenJ9?

The benchmark looks to be very allocation heavy so different initial heap sizes may result in very different behaviour.

[2019-05-01 13:42] DanHeidinga commented on #2793
@mstoodle Can you attach the patch or point to the branch with the patch?

[2019-05-01 13:47] mstoodle commented on #2793
@DanHeidinga the patch is primarily for the extensions project rather than for OpenJ9: mostly it just sets up the appropriate environment variables I extracted from, I believe, OpenJ9 slack channel content and maybe an article someone wrote about it?

Unfortunately, that means someone from IBM would need to contribute it. I would prefer not to publish what would be a GPLv2 licensed patch here :) b

[2019-05-01 13:49] fjeremic commented on #2793
I've had these bookmarked for a while:

[code]

[2019-05-01 13:56] DanHeidinga commented on #2793
@fjeremic re: cmake - give it a try on jdk11.  I believe (and @dnakamura please correct me) that the linux platforms should be mostly working

[2019-05-01 14:00] a7ehuo commented on #5649
I'll work on this one next.

[2019-05-01 14:16] AdamBrousseau commented on #2637
Looking at the Artifactory and Tomcat settings

server.xml
[code]
https://jfrog.com/blog/monitoring-and-optimizing-artifactory-performance/

Might be worthwhile setting up java melody to monitory the Artifactory server
https://jfrog.com/knowledge-base/how-to-configure-javamelody-in-artifactory-for-monitoring/

[2019-05-01 15:09] pshipton commented on #5611
@vij-singh fyi

[2019-05-01 15:19] ashbm5 commented on #5611
@MNeuling try running your program with command line option -Djdk.nativeDigest=false does it still crash?

[2019-05-01 15:28] theresa-m commented on #5629
Okay the reason I was not able to reproduce in Eclipse before is because Anypoint has `-Dhttps.protocols=TLSv1,TLSv1.1,TLSv1.2` in its .ini file but Eclipse does not. After this was added the failure was occuring in both applications as expected.

However when I swap between using hotspot and openj9 I'm actually getting the same protocol_version failure for both vms. Can you confirm if thats the c

[2019-05-01 15:31] DanHeidinga commented on #5581
@Azquelt Have you been able to reproduce the problem using the -Xjit option Fillip suggested?

[2019-05-01 15:32] DanHeidinga commented on #5550
I'll close this now as we've noted it should be raised to OpenJDK.

[2019-05-01 15:32] #5550 closed

[2019-05-01 15:39] bharathappali commented on #5599
@pshipton @charliegracie I would like to take it up. To start off with i'll try to make these options accept static sizes. Later on, will it be fine to implement the ability for these options to take percentages as well (along with static sizes) ?

[2019-05-01 15:53] dmitry-ten commented on #5650
Possibly a beginner issue?

[2019-05-01 15:57] dmitry-ten commented on #5645
I'll investigate.

[2019-05-01 16:04] pshipton commented on #5599
Given the precedent of https://www.eclipse.org/openj9/docs/xxinitialrampercentage/, we probably want new options to set the values as percentages.

[2019-05-01 16:17] Azquelt commented on #5581
Not yet. I've run several more test runs with the `-Xjit` option but have not been able to reproduce the option since.

Today I did come across a defect where we saw a saw a similar problem in a build using linux 11.0.2+9_openj9-0.12.1. I'll see if I can get a backtrace from that core dump.

Otherwise, I'm still trying to reproduce the issue. I will report back if I manage to see it happen again.

[2019-05-01 17:27] rubin55 commented on #5629
Hi @theresa-m,

Just tested with OpenJDK 1.8.0 r212 from AdoptOpenJDK, for macOS x64. You are right, the error happens in hotspot also, but at another moment: In OpenJ9, it happens as soon as I want to enumerate the updates site; in hotspot, it lets me enumerate the site, select the to-be-installed package and press finish, then finally I do get an error when it would actually start downloading.

[2019-05-01 17:38] pshipton commented on #5581
In theory, problems with the 0.12 or 0.13 release could be fixed in the 0.14 release. Ideally this release should be used now that it is released.

[2019-05-01 19:20] AdamBrousseau commented on #2023
Bandaided via #4759

[2019-05-01 19:23] AdamBrousseau commented on #2023
Take that back. Somehow this got missed in that PR.

[2019-05-01 19:26] gacholio opened #5654 "Support AsyncGetCallTrace in OpenJ9"
Structures we need to mirror from OpenJDK:

[code]

Error codes (presumable returned in `num_frames` above):

[code]

And the API function:

[code]

[2019-05-01 19:37] pshipton commented on #5599
Here is the problem.

The change: https://github.com/pshipton/openj9/commit/15366359b6cbe73b5b0a06f99cc8bf0664efae63

This is what happens:
[code]

[2019-05-01 20:01] theresa-m commented on #5629
makes sense! Initially I was seeing that behavior as well. Now I'm seeing that the more times I restart eclipse the behavior is inconsistent. I've been seeing hotspot fail right away a few times and openj9 fail after markdown was selected as well as the other way around. Based on that I think we can safely hand over the issue to the eclipse side. thanks for all of your sleuthing :)

[2019-05-01 20:05] pshipton commented on #5629
Seems like the problem may be due to iteration order that changes due to hashcodes generation.

[2019-05-01 20:05] #5629 closed

[2019-05-01 21:03] mvdobrinin commented on #5530
Running against https://github.com/keithc-ca/openj9-openjdk11/tree/aix, I don't see the issue anymore!

[2019-05-01 21:13] keithc-ca commented on #5530
Did any of the diagnostics I added fire? In particular, did you see output from this?
[code]

[2019-05-01 21:28] mvdobrinin commented on #5530
No, I don't see any new output on stdout or stderr.

[2019-05-01 21:52] keithc-ca commented on #5530
The implementation of `dladdr()` on AIX changed since openj9-0.12.1: you should find that current builds [1] are free from this issue.

[1] https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=openj9#ppc64_aix

[2019-05-01 22:09] ChengJin01 commented on #5058
Still working on the issue with glibc 2.27 on the cross toolchain. There seems to be a versioning problem with linux headers plus code issues with flush-icache.c (not used in libffi/riscv). So I need to hack the code/makefile to remove these stuff to see whether it works.

In addition,  it seems there is no gdb support for now on Fedora/riscv according to explanation at https://github.com/riscv/ri

[2019-05-01 23:36] guekho64 commented on #5651
Sorry for not posting them too. Initially I didn't use any VM arguments, but once I saw the results, I ran the final tests with these:

`-Xmx1G -Xms1G`

[2019-05-02 00:48] mvdobrinin commented on #5530
Thanks. I can confirm that the current builds fix this as well.
[code]

However, there is strange message logged on the new build. Beyond that my application seems to run fine.
[code]

[2019-05-02 04:33] bharathappali commented on #5599
Yeah sure will add new options for percentages. Will `-XX:NewSizePercentage` and `-XX:MaxNewSizePercentage` be the apt names for the options for percentages values ?

[2019-05-02 04:40] pshipton commented on #5530
Seems the buffer size needs to be increased.

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/84d2599490f3e723429d70013b35ab72cec67495/src/java.desktop/aix/native/libawt/porting_aix.c#L38

[2019-05-02 04:43] pshipton commented on #5599
Works for me.

[2019-05-02 12:31] hzongaro commented on #5199
@andrewcraik Andrew, may I ask you to close this issue, as the problem was fixed under [OMR issue #3682](https://github.com/eclipse/omr/issues/3682)?

[2019-05-02 12:52] andrewcraik commented on #5199
agreed - this was fixed

[2019-05-02 12:52] #5199 closed

[2019-05-02 13:41] keithc-ca commented on #5530
There's a second copy at [1].  If [2] is a guide, we should perhaps triple that buffer size.

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/java.base/aix/native/libjli/java_md_aix.c#L30
[2] https://github.com/openssl/openssl/blob/master/crypto/dso/dso_dlfcn.c#L330

[2019-05-02 14:19] DanHeidinga commented on #5599
Is this issue to add new percentage based options (`-XX:NewSizePercentage and -XX:MaxNewSizePercentage`) or to support Hotspot's (`-XX:NewSize and -XX:MaxNewSize`) options?

Or maybe do both?

[2019-05-02 15:00] #2023 closed

[2019-05-02 15:03] dcendents commented on #4904
Hi,

I just want to confirm I tested again using the official 0.14.0 build (OpenJDK8U-jdk_x64_windows_openj9_8u212b03_openj9-0.14.0) and as expected I did not have any problem.

Thanks again

[2019-05-02 15:18] dmitry-ten commented on #5645
Apparently, this leak has been present for a very long time. Tried out a build from November 11, and it still shows up, even after running `java -Xjit:count=0 -version` once.
However, I don't think it's because the server doesn't clean up cached items. When the client terminates normally, it cleans them up. And even if it didn't, it wouldn't account for even 50% of the delta between the starting a

[2019-05-02 15:44] gacholio commented on #5654
Several things need to be sorted out:

- Where to find the VM? AGCT does not accept any java-related parameters

I suspect we'll have to maintain a global for the VM (horrible, but we already restrict to one VM per process).

- How to find the current thread

Given the VM, currentVMThread(vm) will return the current thread or NULL.

- How to walk the stack

For now, consider only stack which have

[2019-05-02 16:52] MNeuling commented on #5611
@ashbm5 Yes it works if the program runs with the command line option.

On JRE 1.8.0_202-b08 (x32) the command line option is not needed.

[2019-05-02 16:53] ChengJin01 commented on #5058
I just figured that the branch at https://github.com/riscv/riscv-gnu-toolchain/tree/linux-headers-4.15-rc3 already comes with the latest linux headers file plus glibc2.27. Instead of hacking the existing code/makefile on glibc2.26 (which also works but some issues might be introduced in compilation), I will try to compile this branch to see how it goes.

[2019-05-02 18:27] harryyu1994 commented on #5645
I thought the server has a timer on each client and if it doesn't hear back from the client in a period of time it will clean up the data associated with that client.

What we have now is 1 connection per compilation thread and not per client. So we probably can't clear caches immediately after the connections close down.

[2019-05-02 18:50] shingarov commented on #5058
Jan and I spent many months going through similar torture before we got to a point where we could make any progress on the OMR JIT side.  Especially gdb: even though it's been claimed by some writers that gdb has been "working" for a while, it took Jan (who is one of the gdb maintainers) a significant amount of effort to get it to be actually *useful* for real-life debugging.

IMHO the shortest /

[2019-05-02 19:14] dmitry-ten commented on #5645
There is a timeout parameter passed to the stream, but it's never used.
I guess we need to implement timeout handling on both server and client.
I think I'll do that first, because that will solve one potential memory leak, while I still don't know where the original leak comes from.

[2019-05-02 19:26] ChengJin01 commented on #5058
@shingarov, many thanks for your suggestion. But our main effort now is to generate the first JDK which must be built via cross-compilation rather than native compilation inside a functioning Linux-RV64 dev system (there is no way to create it inside the Linux/QEMU as tools/java files have to be compiled via local compiler first), in which case linux headers/glibc offered by the cross-toolchain mu

[2019-05-02 20:15] pshipton commented on #5530
@andrew-m-leonard @adamfarley please find somebody to pick up this JCL issue.

[2019-05-02 20:43] theresa-m commented on #5449
So far I've seen that a failing `!jistacktrace` run prints out the complete same trace as a passing run, however instead of terminating as it should in [StackWalker:404 ](https://github.com/eclipse/openj9/blob/master/debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/j9/stackwalker/StackWalker.java#L404), an incorrect run does not have its pc set to zero where it should and as a result walkBytecodeFrame (li

[2019-05-03 06:37] bharathappali commented on #5599
@DanHeidinga this issue is primarily for adding percentage based options, Idea is that we can have these options along with hotspot compatible options.

[2019-05-03 09:45] bharathappali opened #5658 "Add support for musl libc"
As OpenJ9 is built on top of OMR technology, I'm raising this issue to have OpenJ9 to work with musl libc as OMR also started to implement [musl support](https://github.com/eclipse/omr/issues/3774)

FYI - @dinogun @ashu-mehra @charliegracie

[2019-05-03 10:14] zernolo opened #5660 "Build JDK 11 fails on Mac Os X 10.14.4 (18E226)"
I've done as follows
- get sources from https://github.com/ibmruntimes/openj9-openjdk-jdk11.git
- installed with brew freetype gnu-tar gnu-sed nasm pkg-config wget
- wget https://sourceforge.net/projects/freemarker/files/freemarker/2.3.8/freemarker-2.3.8.tar.gz/download
- run bash ./get_source.sh
- run bash configure --with-freemarker......
everything up get done well.
make all fails with this mes

[2019-05-03 12:24] andrew-m-leonard commented on #5530
If I read above correctly it implies the latest openjdk code the issue is fixed...?
"The implementation of dladdr() on AIX changed since openj9-0.12.1: you should find that current builds [1] are free from this issue."

[2019-05-03 12:38] andrew-m-leonard commented on #5637
Note: jdk12 MUST not be included in auto-accepting openj9-staging into openj9, as it is Oracle managed and currently openj9-staging is based on jdk12u "head" which may or may not have the correct commits for jdk-12.0.2...

jdk: Auto-merges HEAD into openj9-staging. Good for auto-acceptance.
jdk12: Auto-merges HEAD into openj9-staging. NOT good for auto-acceptance.
jdk11 : Auto-merges latest tagged

[2019-05-03 12:42] pshipton commented on #5530
@andrew-m-leonard there is still a problem with the buffer size causing `loadquery failed (12 Not enough space)`. See https://github.com/eclipse/openj9/issues/5530#issuecomment-488522511 and later comments.

[2019-05-03 12:43] DanHeidinga commented on #5654
From a recent slack discussion, this api is required to support Intellij's built-in profiler.

[2019-05-03 13:08] DanHeidinga commented on #5449
Connect with @gacholio to get details on how to walk jit stackframes

[2019-05-03 13:18] jdekonin opened #5661 "Failure to build on zOS V2.3"
z/OS V2.3 XL C/C++

Appears to be right at the end of the build process; creating the jdk images.  I no longer have the output files for debugging, but I can easily generate or possibly supply access to a machine where this can be reproduced.

fyi @fjeremic @pshipton , I had the version on the failing machine incorrect.  As I understand this might be an expected error on v2.3 atm.

[code]

<detail

[2019-05-03 13:21] planetf1 commented on #5654
It was almost a remark in passing on slack ..
On our open source project we were looking at what java profiling tool to use. Whilst a proprietary tool had been mentioned, it was async-profiler that matched the open requirement. We found this was the tool used within intellij, but that it was dependent on hotspot APIs. All our devs currently AFAIK are using hotspot, but it would be good to support

[2019-05-03 13:24] DanHeidinga commented on #5660
@mikezhang1234567890 / @keithc-ca Can you comment on the version of Dwarf required on OSX?

[2019-05-03 13:38] keithc-ca commented on #5660
If I recall correctly, these are the symptoms that motivated https://github.com/eclipse/omr/issues/3708; https://github.com/eclipse/omr/pull/3751 aims to fix the situation.

My temporary workaround was to create a symbolic link
[code]
in a directory which is listed early in my `PATH`.

[2019-05-03 14:05] llxia opened #5663 "Invalid test job is generated"
Noticed invalid test job is generated `Test_openjdk8_j9_._x86-64_linux_cm_OMR` by https://ci.eclipse.org/openj9/view/Test/job/Test_Job_Auto_Gen/368/

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_._x86-64_linux_cm_OMR/

`GROUPS` and `LEVELS` are set to empty by the upstream job.

Please make sure the upstream job set correct values when triggering `Test_Job_Auto_Gen`

[2019-05-03 14:06] llxia commented on #5663
fyi @AdamBrousseau

[2019-05-03 14:44] pshipton commented on #4530
In the absence of a test case, or contact with @ibm-rtvs to get more information, there isn't much we can do.

[2019-05-03 14:47] pshipton commented on #4530
Perhaps not the same, but we do have https://github.com/eclipse/openj9/issues/5611 opened.

[2019-05-03 15:09] hangshao0 opened #5665 "Store anonymous classes to shared cache"
This issue is to look at storing anonymous classes to the shared cache.

Anonymous class is defined directly through Unsafe.defineAnonymousClass(), it does not use loadClass()/findClass().
Discussed with Dan, the current plan is to store the anonymous class in the shared cache as orphan. (I guess we are doing the same for proxy classes in Java 8).
After loading the anonymous class, we compare it a

[2019-05-03 15:11] hangshao0 commented on #5665
FYI: @DanHeidinga  @pshipton

[2019-05-03 15:12] DanHeidinga commented on #5665
I'm not sure this will matter as we don't call the `anonClassLoader`'s defineClass method.  There is code that checks for the anonClassLoader and skips the SCC calls which will need to be updated as part of this work

[2019-05-03 15:22] pshipton commented on #5665
Related to item 3, https://github.com/eclipse/openj9/issues/4985 - Proxy ROMClasses are not stored in the Java 11 shared cache

[2019-05-03 15:31] hangshao0 commented on #5665
Yes. I will update to say "trigger the SCC call for anonymous classes." Currently if J9CLASSLOADER_SHARED_CLASSES_ENABLED in not there, the SCC call is skipped. There may be other conditions that needs to be changed to trigger the SCC call. We will know more when we get into the details.

[2019-05-03 15:37] hangshao0 commented on #5665
This will be changed by the item. If the proxy classes are defined through Unsafe.defineAnonymousClass(), this item might also solve #4985

[2019-05-03 15:47] ashbm5 commented on #5611
@MNeuling is there anything printed to the screen saying OpenSSL error? can you re-run your application with the tracing flag -Djavax.net.debug=all and pipe it to a file and attach here.

[2019-05-03 17:39] andrew-m-leonard commented on #5637
Also added jdk8u auto-merge of latest tagged builds:
jdk8 : Auto-merges latest tagged build into openj9-staging. Good for auto-acceptance.

[2019-05-03 17:56] #5663 closed

[2019-05-03 17:57] MNeuling commented on #5611
@ashbm5 I ran the program again with option -Djavax.net.debug=all and without option-Djdk.nativeDigest=false.

Here are two files. The first one has only net traffic dumps and the second one includes logging messages.

[log.txt](https://github.com/eclipse/openj9/files/3143031/log.txt)
[cli_log.txt](https://github.com/eclipse/openj9/files/3143032/cli_log.txt)

[2019-05-03 18:07] MNeuling commented on #5611
@ashbm5 these are the logs of another run.

[second_run_log.txt](https://github.com/eclipse/openj9/files/3143078/second_run_log.txt)
[second_run_cli_log.txt](https://github.com/eclipse/openj9/files/3143081/second_run_cli_log.txt)

[2019-05-03 18:13] MNeuling commented on #5611
@ashbm5 the TLS version is 1.2 and the cipher suite is TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384.

[2019-05-03 18:52] ChengJin01 commented on #5058
Already fix the issue with glibc on the toolchain after replacing the older linux header files and riscv-glibc with the latest ones from https://github.com/riscv/riscv-gnu-toolchain/tree/linux-headers-4.15-rc3 and keep going with the cross-compilation on OpenJDK11/OpenJ9/OMR.

[2019-05-03 19:16] amicic commented on #204
I doubt we'll be able to do much if anything.

[2019-05-03 20:07] harryyu1994 commented on #5644
Taking this one on the side.

[2019-05-03 21:47] harryyu1994 commented on #5503
First plan I had was to put the client-server connection establish process inside `preCompilationTask` since that is where the decision of whether to do remote compilation or local compilation is done. If the decision is to do a remote compilation but the connection was failed due to server not available, we can change the decision to do a local compilation. We would do this check for every single

[2019-05-03 21:48] harryyu1994 commented on #5503
Second plan is to use this check instead of relying on the `open_connection()` call to throw/catch `StreamFailure` exceptions.

[2019-05-04 00:17] #5230 closed

[2019-05-04 04:32] #5573 closed

[2019-05-04 04:34] DanHeidinga commented on #5526
@kthaya did @pshipton's suggestion to increase the `-Xmcrs` using the option `-Xmcrs400m` work?  Are you able to share the javacore from the OOM?

[2019-05-04 04:38] DanHeidinga commented on #5359
@babsingh eclipse/omr#3737 has been merged.  Is the fix for this complete?

[2019-05-04 04:39] DanHeidinga commented on #5251
Is this still occurring on Jenkins?  If not, let's close it

[2019-05-04 04:43] DanHeidinga commented on #4908
Closing as this appears stale.

[2019-05-04 04:43] #4908 closed

[2019-05-04 11:11] Ealrann commented on #4488
Hello,
I'm switching to OpenJ9 too, and encounter the same issue. Not a big deal, but well, if something can be done about that, I'll take it!

If you need, here two build of my app, one with hotspot, and one with openJ9:
https://www.dropbox.com/s/rg3unwvj228j8aj/VSand_v1.2.0_windows.zip?dl=0

[2019-05-04 12:33] babsingh commented on #5359
@DanHeidinga yes, the fix is complete. the changes are in https://github.com/eclipse/openj9-omr/commit/8279ea7088daadf65d475da72d31c478c269605b so it should get incorporated in the 0.15 release.

[2019-05-04 12:45] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_Nightly/24

[2019-05-04 12:49] pshipton commented on #4747
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_Nightly/22
[code]

[2019-05-04 12:56] #5251 closed

[2019-05-04 15:33] pshirshov opened #5675 "OpenJ9 AOT and SBT startup time"
I've tried to check if OpenJ9 and/or its' AOT may benefit a scala developer.

So, I've tried to check how would it affect sbt startup time.
I've tried to run sbt under each jvm in an empty directory and in a project and taken 5th outputs.

Results are kinda strange.

Hotspot version:
[code]

OpenJ9 version:
[code]

sbt options  (I'm using sbt 1.2.8):

[code]

For an empty directory OpenJ9 shows so

[2019-05-06 02:23] DanHeidinga commented on #5359
Thanks for confirming @babsingh

[2019-05-06 02:23] #5359 closed

[2019-05-06 02:30] DanHeidinga commented on #4488
@Ealrann Can you share your jlink commandline as well?

[2019-05-06 05:45] guekho64 commented on #5651
@DanHeidinga Any updates on this?

[2019-05-06 06:05] Ealrann commented on #4488
Yes, no problems:
[code]

The build is in this location: `org.sheepy.vsand/build/image/`

[2019-05-06 09:45] FSichinger commented on #5651
Just saying your testcase is very poorly done, this is not how you write micro benchmarks in Java.
Rewrite your benchmark to JMH, then post results again.

[2019-05-06 10:35] AntonKatilin opened #5676 "Spring app fails on OpenJ9 with a profiler with "java.lang.VerifyError: JVMVRFY012 stack shape inconsistent""
A Spring application fails with  "java.lang.VerifyError: JVMVRFY012 stack shape inconsistent" on latest OpenJ9 Java 8 and Java 12 when started with YourKit Java Profiler agent's default instrumentation.

There is no issue with HotSpot in the same configuration, therefore we suppose there might be a JVM bug. Could you please check whether it's a JVM bug or, if the bytecode is indeed invalid, share

[2019-05-06 12:50] DanHeidinga commented on #5676
@ChengJin01 Can you take a look at this?

[2019-05-06 13:45] ChengJin01 commented on #5676
Will investigate to see what happened to the app.

[2019-05-06 18:01] fjeremic commented on #5661
Pasting a more readable backtrace:

[code]

@andrewcraik @cathyzhyi looks like a crash in the inliner. @jdekonin are you able to provide us with the machine login so I can try and hop on to reproduce and see if this is indeed a compiler issue or a JIT issue.

[2019-05-06 19:28] pshipton commented on #5661
I've let Filip know the machine name and login.

[2019-05-06 20:53] ChengJin01 commented on #5676
I already reproduced the issue locally on OpenJ9:
[code]
and it works fine with OpenJDK:
[code]

@AntonKatilin,  please help to check whether this is the verification error detected on your side.

[2019-05-06 20:54] babsingh opened #5681 "OpenJ9 Locking Revamp: A Scalable Design"
Below, I have listed the five different approaches/solutions, which will improve OpenJ9's locking performance. Each approach listed below will incrementally improve OpenJ9's locking performance.

## Transition to a Scalable Lock

**Unfavourable envrionment**: OpenJ9 performance regressions are seen on large machines (24+ CPUs) with high lock contention where many threads attempt to acquire a lock

[2019-05-06 20:58] ChengJin01 commented on #5676
The snaptrace shows it fails at an <init> method of a generated class `Target$$EnhancerBySpringCGLIB$$fdc9b9d7` at runtime:
[code]

Given that the DDR crashed when decoding some of the methods (including <init>) on this class,  I need to add debugging information in code to see how it goes.

[2019-05-06 20:59] ChengJin01 commented on #5058
Currently working on a verifier related issue and will get back to this after fixing it up.

[2019-05-06 21:01] babsingh commented on #5681
@DanHeidinga This is a rough draft; hoping to improve and reach a final state with discussion and feedback. fyi - @pshipton @vijaysun-omr. Who else needs to be kept informed about this work?

[2019-05-06 21:24] AntonKatilin commented on #5676
I confirm this is exactly the issue we've experienced.

[2019-05-06 21:30] AntonKatilin commented on #5676
If it helps, we've found that specifying -Xverify:none eliminates the exception, and the application seems to work normally with that option specified. So it may be a too-strict-check issue.

[2019-05-06 22:03] ChengJin01 commented on #5676
Specifying -Xverify:none disables the verifier at runtime.  But we still need to figure out why failed in such case.

[2019-05-06 22:10] AntonKatilin commented on #5676
Yes, sure. We understand what -Xverify:none does. Just wanted to let you know.

[2019-05-07 12:36] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_Nightly/28
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_xl_Nightly/26

[2019-05-07 13:33] fjeremic commented on #5661
@dchopra001 will help take a look at this.

[2019-05-07 14:14] DanHeidinga commented on #5681
@babsingh how do queue based locks compare for low contention scenarios?

[2019-05-07 14:17] DanHeidinga commented on #5651
@guekho64 Apologies it's going to take me a bit to get back to this.  Currently working on a couple of other things related to startup improvements

[2019-05-07 15:47] babsingh commented on #5681
Figure 10 (throughput vs cores) in [1] shows a slight drop in MCS performance w.r.t. TATAS in the 2-core scenario. But, MCS outperforms TATAS in cases with 4+cores. Figure 3 (throughput vs. users) in [2] shows very comparable performance between MCS and TATAS in the low contention cases. `Threads = Cores = Users`.

Note: The [object monitors](https://blog.openj9.org/2019/04/02/object-monitor-imple

[2019-05-07 17:59] hangshao0 commented on #5480
While looking at the code, I noticed _minimumAccessedShrCacheMetadata/_maximumAccessedShrCacheMetadata are in the SH_CacheMap level. They need to go into SH_CompositeCacheImpl level in the multi-cache case. Even in the current scenario there is only one cache, SH_CompositeCacheImpl is a more proper place to put _minimumAccessedShrCacheMetadata/_maximumAccessedShrCacheMetadata. I will create a PR t

[2019-05-07 18:32] AdamBrousseau commented on #5637
PR is ready to be merged. Just need to determine how to trigger the builds. I can look at setting up a hook on the repos that will fire the job when content is pushed to the staging branch.

[2019-05-07 19:14] babsingh commented on #5681
The benchmarking suite named Renaissance evaluates a range of programming paradigms, including concurrent, parallel, functional and object-oriented programming:
1) **[Paper]** [Renaissance: Benchmarking Suite for Parallel Applications on the JVM](https://renaissance.dev/resources/docs/renaissance-suite.pdf)
2) [Renaissance Documentation](https://renaissance.dev/docs)
3) **[Code]** [renaissance-ben

[2019-05-07 19:36] pshipton commented on #5637
@AdamBrousseau please confirm that JDK12 will not promote to openj9. We can run the acceptance build to see if anything is failing, but the build should not promote anything.

[2019-05-07 19:39] AdamBrousseau commented on #5637
correct. The `PROMOTE` param in the jenkins job is not set
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK12-Acceptance/build?delay=0sec
vs jdk11
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK11-Acceptance/build?delay=0sec

[2019-05-07 19:50] pshipton commented on #5637
Thanks @AdamBrousseau. I notice the jdk11 build has TESTS_TARGETS `none`. We shouldn't be promoting anything that hasn't passed the testing.

[2019-05-07 20:00] AdamBrousseau commented on #5637
fixed (and jdk8)

[2019-05-07 20:00] AdamBrousseau commented on #5637
Until I sort out the trigger, feel free to launch on demand.

[2019-05-07 20:08] pshipton commented on #5637
Started a jdk11 acceptance. Which should promote, considering the material being staged is the 11.0.3+7 level we already shipped with OpenJ9 0.14

[2019-05-07 20:45] vijaysun-omr commented on #5681
fyi @zl-wang

[2019-05-07 21:27] avermeer commented on #4837
@andrewcraik thanks for your answer, I am still interested in even WIP (Work In Progress) version of this issues' fix, if that can help.
Also interested if you have any update information to share here...

Kind regards,
Alexandre Vermeerbergen

[2019-05-07 22:44] guekho64 commented on #5651
@DanHeidinga Ok, I undestand there are more important issues to solve before this one.

With some luck, maybe this issue will be solved without even noticing it...

[2019-05-07 22:48] ChengJin01 commented on #5676
Looking at the bytecode of the failing method `Target$$EnhancerBySpringCGLIB$$fdc9b9d7.<init>()V`:
[code]
against the detailed snaptrace:
[code]
It shows it failed in matchStack() at:
[code]

Given that the stackmap of the constructor method was built via `simulateStack` (already shown in the snaptrace),  it is most likely there is problem with BCV_SPECIAL_INIT (used to set up the `uninitializedTh

[2019-05-07 23:09] ChengJin01 commented on #5676
Specifically, the failure occurred at:
[code]

[2019-05-07 23:58] jdekonin opened #5687 "travis build failure on nasm version check"
Failure :
`checking whether nasm version requirement is met... configure: error: nasm version detected: 2.11.08; required version 2.13+`

.travis.yml installs the default package that is too low a version.  I believe 2.11.08 is default on ubuntu16.

[2019-05-08 03:14] pshipton commented on #5687
@keithc-ca

[2019-05-08 14:25] pshipton commented on #5637
The builds are available and working, but not yet automatically triggered, so I won't close this issue yet.

[2019-05-08 14:46] pshipton commented on #5637
The builds are available and working when manually launched, but since they aren't automatically triggered yet I won't close this.

[2019-05-08 15:17] pshipton commented on #4530
Note the crash occurred from the "Finalizer thread".

[2019-05-08 15:52] pshipton commented on #5637
The builds are available, working, and can be started manually. Since they aren't automatically triggered yet, I won't close this issue.

[2019-05-08 15:53] pshipton commented on #5637
The builds are available, working, and can be started manually. Since they aren't automatically triggered yet, I won't close this issue.

[2019-05-08 17:06] vijaysun-omr commented on #5675
How many cpus are you running on ?

[2019-05-08 18:05] pshirshov commented on #5675
It's a mac with 6 cores, 12 threads.

Though it looks almost the same on linux with 8 cores/16 threads.

[2019-05-08 19:18] vijaysun-omr commented on #5675
Is it possible to try on fewer cores/threads (at least as an experiment to get more explainable results) ? I have a feeling that might explain the lack of expected difference in startup time. The Hotspot overhead in doing compilations could be getting "hidden" to an extent because there are enough threads to churn through the work.

[2019-05-08 19:29] zl-wang commented on #5681
On the surface, MCS is more expensive than TATAS (test-and-test-and-set) when the lock is not contended (majority of java
monitors in well above 90% range). It requires cost amounting to two effective  CompareAndSwap (one atomic exchange and one CAS).
That might be ok for inflated lock (since it was contended at least in the past to inflate).

[2019-05-08 20:37] avermeer commented on #5381
Hello,

I haven't read any feedback on this suggestion aimed at making transition from HotSpot to OpenJ9 smoother.

How about it?

Kind regards,
Alexandre Vermeerbergen

[2019-05-08 20:56] avermeer commented on #4837
Hello @andrewcraik

Thank you very much for this detailed answer.

I used to build the complete AdoptOpenJDK with OpenJ9 distribution from its source once, but here I need to figure out how to take advantage of the  OpenJ9 (https://github.com/liqunl/openj9/tree/bestsofar) and OMR (https://github.com/liqunl/openj9-omr/tree/bestsofar) repositories you mentionned.

I cloned https://github.com/liqunl/

[2019-05-08 21:02] andrewcraik commented on #4837
@fjeremic could you see if you can help with the build question?

@avermeer a further update that @cathyzhyi and @liqunl have push some additional changes to the best-so-far branches to with the Nashorn problems. We are still in the process of verifying the performance but think it should be better. I'll post again when we have the data, but just to let you know that there are fresh changes landed

[2019-05-08 21:10] pshipton commented on #4837
Referring to the OpenJ9 build instructions https://www.eclipse.org/openj9/oj9_build.html

After the `bash ./get_source.sh` step there will be openj9 and omr git clone directories. These directories need to be updated, using git commands, to the bestsofar branches. Basically with git you add a remote to liqunl's fork, and checkout those branches.

Then continue with the build instructions.

[2019-05-08 21:14] pshipton commented on #4837
or just modify the `bash ./get_source.sh` step to clone the bestsofar branches directly.

[2019-05-08 21:17] pshipton commented on #4837
[code]

[2019-05-08 22:22] keithc-ca commented on #5660
This problem appears to have been fixed by eclipse/omr#3751 - my workaround is no longer needed.

[2019-05-08 22:22] #5660 closed

[2019-05-08 22:28] JasonFengJ9 commented on #4778
**Update:**

First a recap of previous investigations:
1. This is a highly intermittent failure at `JDK 11` Windows platform, usually it takes `2 - 5` hour  running to reproduce the segmentation error;
2. Though this error has been observed in `~10` issues such as https://github.com/eclipse/openj9/issues/5088#issuecomment-473294088, it occurred at inaccessibleReadAddress around `0x0000000099669966

[2019-05-08 23:07] ChengJin01 commented on #5676
Debugging message in code shows it failed on ` java/lang/RuntimeException`
[code]

According to the logic in setInitializedThisStatus (against the Spec), the `uninitializedThis `flag is set to be true if any slot element (including the data in both locals and stacks) in the stackframe contains BCV_SPECIAL_INIT (0x4) after generating the request stackmap via `simulateStack `.

However, the debuggin

[2019-05-09 06:51] ashu-mehra commented on #4488
@ShishirH can you please take a look at this.

[2019-05-09 09:03] 15838028035 opened #5695 "which jdk should i used"
Hi,
i use docker , there are openjkd8,  oraclejdk8, oepnj9
which jdk should i use ?

[2019-05-09 10:03] StefanSchmaltz opened #5696 "Crash with com4j"
memory corruption detected
openj9 64bit jdk8u212-b03

Just calling the tutorial from
https://com4j.kohsuke.org/tutorial.html

java -jar tlbimp.jar -o wsh -p test.wsh %WINDIR%\system32\wshom.ocx

09:54:37.499 0x2e18500 omrport.359    *   ** ASSERTION FAILED ** at ../../omr/port/common/omrmemtag.c:145: ((memoryCorruptionDetected))
JVMDUMP039I Speicherauszugsereignis "traceassert", Detail "" um 2019/

[2019-05-09 10:16] ShishirH commented on #4488
Yeah, the difference is the presence of the properties files and dat files.
While the dat files can be safely removed, we do need the properties files for any messages being printed, otherwise we only get the tags. The properties files themselves are around 150KB, but due to there being so many files for different languages and regions, they end up being around 4.2MB in total.

One way of solving

[2019-05-09 10:37] annopnod opened #5697 "printerjob get font height not work"
i test printerjob to get font height  not work (output is 0 )
test at debian 9 and win7
OpenJDK 7  and 8

![01](https://user-images.githubusercontent.com/6957642/57447358-1b8bb880-7281-11e9-9fd2-c07572120d91.png)

![02](https://user-images.githubusercontent.com/6957642/57447359-1b8bb880-7281-11e9-8200-04c3e672cadd.png)

![03](https://user-images.githubusercontent.com/6957642/57447360-1b8bb880-7281

[2019-05-09 11:41] pshipton commented on #5696
@StefanSchmaltz can you please share the (system) core file [1] so we can investigate the cause of the corruption. It should compress quite a bit, you can use the file sharing service of your choice and share the link privately via email if you like.

[1] D:\Projekte\david\core.20190509.115437.118336.0001.dmp

[2019-05-09 11:53] pshipton commented on #5695
Oracle java, and OpenJDK + Hotspot or OpenJDK + OpenJ9 have different licenses.

Oracle: https://www.java.com/en/download/faq/distribution.xml
For OpenJDK, see https://adoptopenjdk.net/about.html

OpenJDK + Hotspot is most compatible with Oracle, but OpenJ9 has some performance advantages. There is some migration information https://adoptopenjdk.net/migration.html

OpenJ9 advantages: https://www.e

[2019-05-09 12:41] AdamBrousseau commented on #5472
related #5630
Still having issues cloning on this slave

[2019-05-09 12:43] pshipton opened #5698 "Hang creating system core file on win2012r2-x86-4"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/28/
[code]

[2019-05-09 12:43] pshipton commented on #5698
@AdamBrousseau

[2019-05-09 12:47] StefanSchmaltz commented on #5696
Here it is:
https://nextcloud.kometmetall.de/index.php/s/jF6byqcK243GAzb

[2019-05-09 13:28] AdamBrousseau commented on #5698
Machine would have been rebooted last night at 11:30
https://ci.eclipse.org/openj9/job/Sanitize-Nodes/28/consoleFull
This test started at 12:30
There was only 1 job that ran in between the last restart and the current build
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.functional_x86-64_windows_Nightly/27/

[2019-05-09 13:42] AdamBrousseau commented on #5698
I think we need the test team to debug. I don't see anything obviously wrong with the machine. There is plenty of disk available and I am able to create a file in the dir where the core is trying to be created.

[2019-05-09 14:42] raguks opened #5701 "Test master build for build breaks on all platforms before jitaas merge"
We have to validate mac support for jitaas if we decide not to support as yet we need to make sure our master build on all platform build properly when jitaas goes in. @mpirvu @ymanton

[2019-05-09 14:56] fjeremic opened #5702 "Fix java/lang/Math.sqrt handling on Z"
While working on eclipse/omr#3811 I made a mistake where I accidentally removed the `getSupportsHardwareSQRT` function. We then ended up defaulting down to the base implementation which returns `false` [1]. This was a performance mistake and there should have been no functional side-effects, however there were. We ended up crashing in OpenJ9 running trivial tests.

I took a quick look at the trace

[2019-05-09 15:45] pshipton commented on #4530
Native stack is
[code]
@ashbm5

[2019-05-09 16:16] rubin55 opened #5705 "Locale.getDefault differs between hotspot and openj9, suspect openj9's output is malformed, *breaks ojdbc*"
I am running OpenJ9 faithfully and the other day I "randomly" ran into issues when in relation to Locale settings on macOS. I didn't have these issues with Hotspot. To illustrate:
[code]

Compiled the above and ran with both hotspot and openj9:
[code]

It seems to me that utf_US is not a valid Locale setting. Things like the Oracle JDBC driver cry foul and refuse to operate at least. I'm not sure

[2019-05-09 16:19] ashbm5 commented on #4530
@pshipton looks like the same issue as #5611

[2019-05-09 16:22] ashbm5 commented on #5611
@MNeuling I'm trying to create a test case that reproduces this problem, would you be able to create one for me that shows this issue? or perhaps describe the behavior of the testcase. Looks like the problem is induced by the TLS/SSL code - perhaps you have multple threads creating TLS connections?

[2019-05-09 16:25] DanHeidinga commented on #4488
@ShishirH which dat files are you referring to?  I see the following ones in a local build:
[code]
I'm iffy on removing the trace / ddr related files as it will be difficult to debug issues with jlinked builds.

Deleting the non-english properties files in the default build seems reasonable, especially with an option to add them back.

[2019-05-09 16:27] gacholio commented on #4778
Excellent work tracking this down @JasonFengJ9

[2019-05-09 16:36] vijaysun-omr commented on #5681
Where does TLE fit in the proposed new scheme ? Using TM on the contended paths to distinguish between false contention and real contention (i.e. the same data location is being accessed concurrently) might be useful but I wonder if MCS has other benefits that don't really require use of TM.

[2019-05-09 16:36] vijaysun-omr commented on #5681
@0xdaryl fyi this work item since we have talked about using TM to improve OpenJ9 locking in the past.

[2019-05-09 16:52] rubin55 opened #5707 "OpenJ9 cannot load/find/link .jnilib files on macOS; when renamed to .dylib, it works"
When running some applications with OpenJ9 that depend on some Java Native Interface stuff on macOS, OpenJ9 seems to not be able to load those dependencies when they're called `<something>.jnilib`. It will load them when one renames or links to the files with a `<something>.dylib` name.

Here's some error output from Tanuki wrapper as used within Anypoint Studio (an Eclipse based IDE):

[code]

Wh

[2019-05-09 16:56] Ealrann commented on #4488
In my case, on Windows x64, I also have few more .dll with openj9 :
[code]

[2019-05-09 17:28] pshipton opened #5710 "Constrain the VFT when the object node is unknown"
Tracking an OMR commit for the 0.14.2 release.

https://github.com/eclipse/omr/pull/3795

[2019-05-09 17:44] DanHeidinga commented on #4488
@keithc-ca Were you working on something to limit the number of `jsig.dll`'s we shipped?

The jncrypto and libcrypto are related to the openssl-optimized JCE provider openj9 uses.

[2019-05-09 17:45] fjeremic commented on #4837
@avermeer I've build a personal build for you [1]:

[code]

It has the same SHAs as the two referenced branches. You can find the direct Linux x86-64 download link at the top of the page (`OpenJ9-JDK8-x86-64_linux-20190509-152642.tar.gz`). Alternatively you can build the thing yourself using instructions outlined by Peter above.

[1] https://ci.eclipse.org/openj9/view/all/job/Build_JDK8_x86-64_lin

[2019-05-09 17:59] babsingh commented on #5681
Figure 1 in [1] shows the place of TLE in a conventional locking scheme such as the one used in OpenJ9. Instead of using the software lock (acquire/release) for synchronization, we initiate a hardware transaction before executing the critical section, and then commit the hardware transaction after the critical section has been executed. It's a lock-free approach where we let the hardware execute t

[2019-05-09 18:17] keithc-ca commented on #4488
I see three copies of `jsig.dll` in a build from adopt; even if we were to remove two of them, it won't help much because they're small (only 12kB each).

[2019-05-09 18:25] DanHeidinga commented on #5707
After a bit of digging, it sounds like the order is:
- attempt to load library with `.dylib` suffix
- if failed, attempt to load with `.jnilib` suffix.

Likely something we need to change in ClassLoader `loadLibraryWithPath` or maybe `loadLibraryWithClassLoader`

[2019-05-09 18:35] pshipton commented on #5359
@babneed please cherry pick the commit and create a PR for it against the v0.14.2-release branch of https://github.com/eclipse/openj9-omr

[2019-05-09 18:35] cathyzhyi commented on #4837
@avermeer when running with the new build most of the changes kicks in by default but there is one that needs -Xjit:PropagateWithOutPeeking to enable.

[2019-05-09 18:35] pshipton commented on #5359
@babsingh please cherry pick the commit and create a PR for it against the v0.14.2-release branch of https://github.com/eclipse/openj9-omr

[2019-05-09 18:53] DanHeidinga commented on #5707
@fengxue-IS Can you take a look at this?

[2019-05-09 18:55] babsingh commented on #5359
https://github.com/eclipse/openj9-omr/pull/24 was re-opened; the target branch was changed to `v0.14.2-release`; and the code changes look good.

[2019-05-09 19:00] #1043 closed

[2019-05-09 19:35] hangshao0 commented on #5480
https://github.com/eclipse/openj9/pull/5713

[2019-05-09 19:58] DanHeidinga commented on #5074
related OMR issue: https://github.com/eclipse/omr/issues/3775

[2019-05-09 20:16] fengxue-IS commented on #5707
Looking into this

[2019-05-09 20:24] ymanton opened #5720 "Build JITaaS with the same OpenSSL as the rest of OpenJ9"
OpenJ9 can now be built with OpenSSL support. When running `configure` you can specify `--with-openssl=...` to choose which set of OpenSSL headers and libraries to build against. The options are system, fetched, and a path to an OpenSSL source tree. See here for details: https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/6186c40a2eb7bf12dc0139e349229f703e5f4194/jdk/make/closed/autoconf/custom

[2019-05-09 20:34] jdekonin commented on #5472
Leave it disabled or delete.  Its easier to to recreate than troubleshoot what might be wrong with the setup.

[2019-05-09 20:40] avermeer commented on #4837
@fjeremic thank you very much, I have downloaded the "personal build" of OpenJDK with OpenJ9.

I see it is a based on Java 8 update 202, so not exactly latest update 212 but I guess that this won't make a big difference for the JSR292 performances.

I am going to use this binary to check if not only the benchmark submitted in #5371 but also our various apps' performance take benefit of this WIP Op

[2019-05-09 21:26] a7ehuo commented on #5720
I will look at this one.

[2019-05-09 22:33] ChengJin01 commented on #5676
It seems there is no issue with simulateStack / mergeStacks. I need to get back to check where it failed as the existing code there was modified for the flag specific to the case of invokespecial and exception handlers.

[2019-05-09 22:51] fengxue-IS commented on #5707
We are using port library api `j9sl_open_shared_library` for loading libraries, the file extension is defined in OMR
https://github.com/eclipse/omr/blob/cfeaf3a68032d9cf352d53c07abce500b4fa98cf/port/unix/omrsl.c#L76-L80
I'll update the api to check for `.jnilib` suffix if it failed to locate library using `.dylib`

@DanHeidinga JVM also uses this suffix during the `preloadLibrary` method,
https://

[2019-05-09 23:28] 15838028035 commented on #5695
Okay! Thanks for replay!   I use docker, I want to  know which jdk use memory lower and speed is good , how to test my idea?

发自我的 iPhone

[2019-05-10 00:36] ChengJin01 commented on #5676
The check on the `uninitializedThis `flag in our code  only applied to the class file with stackmaps (since Java 7 /class version = 51). In this case, the check should be ignored  for class file without stackmaps (the class version is 46 < 51) ,
[code]
That's explains why the test program above passes on Hotspot as the check gets used since Java 7.
It also works for our code after disabling the ch

[2019-05-10 03:03] DanHeidinga commented on #5695
Start by pulling the OpenJ9 docker images using a command like:
[code]
or basing your docker file off it:
[code]
and then testing your application to determine the footprint / performance meets your needs.

The easiest way to test the footprint is to use a command like monitor the containers memory usage

[2019-05-10 03:12] 15838028035 commented on #5695
Okay! Thanks!

发自我的 iPhone

[2019-05-10 03:14] 15838028035 commented on #5695
Okay! Thanks, I find alpine-slim  image, is it can used for production

发自我的 iPhone

[2019-05-10 03:34] 15838028035 opened #5724 "which linxu do you used ?"
HI, which linxu do you used ?

there are centos, debian  linux system.

[2019-05-10 07:22] 15838028035 opened #5725 "docker use openj9 problem"
Hi, there'are some old docker images containers use openjkd , not openj9 ,

how should i replace it ?

i want to use docker  not like docker file way , is there othere way ?

[2019-05-10 08:22] ShishirH commented on #4488
@adamfarley Is the difference in the sizes in Windows too because of the properties and dat files?

[2019-05-10 08:37] ashu-mehra commented on #5725
I am not sure if I understood your question correctly.
If you are asking about replacing openjdk with openj9 in an existing docker image, I don't think it is possible to do. But you can always [bind mount](https://docs.docker.com/storage/bind-mounts/) openj9 from the host into docker container, and probably update entry point of the image to use openj9.

[2019-05-10 10:27] ShishirH opened #5726 "NullPointerExceptions for tests on Renaissance Suite"
In the Renaissance Suite, some tests which work as expected on Hotspot and Graal fail on OpenJ9 with a NullPointerException.

The tests that fail are the ones with no results in [this image](https://raw.githubusercontent.com/renaissance-benchmarks/measurements/4e7b9373b78111c2a7837440c03d4375fe9fc1d7/stripe.png), that is:
1. als
2. chi-square
3. gauss-mix
4. log-regression
5. movie-lens
6. naive-b

[2019-05-10 11:33] ShishirH commented on #5726
Generated dumps using `"-Xdump:system+java:events=throw+systhrow,filter=*NullPointerException"`.

Looked at the corefile view using jdmpview for the thread that threw the exception using `!stackslots`.

The constructor of ClassLoaderAwareObjectInputStream, `SerializationUtils$ClassLoaderAwareObjectInputStream.<init>(Ljava/io/InputStream;Ljava/lang/ClassLoader;)V` throws the exception.

Called `!j9

[2019-05-10 11:48] ShishirH commented on #5726
The renaissance release uses an earlier version of Apache Commons-Lang. Looking at the class in question, [SerializatioUtils.java](https://github.com/apache/commons-lang/blob/0223a4d4cd127a1e209a04d8e1eff3296c0ed8c1/src/main/java/org/apache/commons/lang3/SerializationUtils.java):

Class `SerializationUtils` has a a static method `clone`, which makes a new object of the inner class `ClassLoaderAwar

[2019-05-10 11:49] ShishirH commented on #5726
@ashu-mehra

[2019-05-10 12:30] pshipton commented on #5724
Both should work. Adopt runs tests on a number of systems. The platform support is https://adoptopenjdk.net/supported_platforms.html
Debian isn't mentioned, but I believe it works. `Any other Linux distributions that have a minimum glibc version 2.12 on x86 or version glibc version 2.17 on other architectures are expected to function without problems.`

[2019-05-10 12:32] 15838028035 commented on #5724
Okay! Thanks!

发自我的 iPhone

[2019-05-10 12:33] pshipton commented on #5695
yes

[2019-05-10 12:34] 15838028035 commented on #5725
okay! Which docker command  should I used? Is there a demo ?

发自我的 iPhone

[2019-05-10 13:12] DanHeidinga commented on #5725
The AdoptOpenJDK project makes OpenJ9 docker images available: https://hub.docker.com/r/adoptopenjdk/openjdk8-openj9  In addition to the ones for Java 8, there are also docker files for Java 11 & 12.  These come various sizes (jdk, jre, alpine, etc)

For example, the Java 8 image can be pulled using this command:
[code]

You can also base your docker file on the on the OpenJ9 version by setting th

[2019-05-10 13:27] DanHeidinga commented on #5724
Closing as an answer has been provided

[2019-05-10 13:27] #5724 closed

[2019-05-10 13:38] llxia commented on #5066
fyi @dutingda

[2019-05-10 13:39] DanHeidinga commented on #4488
We can look at shrinking the ddr.dat file but either
*  using gzip (or similar) to compress it and then teaching the tools that read it to handle compressed blobs, or
* changing the format to be more similar to the dwarf format, and having each byte have 7 bits of data and 1 bit to indicate if there is more data.

This would only address ~670k though.

[2019-05-10 13:53] DanHeidinga opened #5727 "Determine how to restore "Enhance the handling of indexOf in ValuePropagation #5444""
The original PR:

was reverted in this PR:

We need to determine if / how this should be restored.

[2019-05-10 14:01] andrewcraik commented on #5727
This does need to be restored at some point - it is a perf enhancement. I'm trying to figure out what went wrong because this went through a lot of testing (albeit on x86) before it went in. I did do builds on the other platforms, but given the intermittent nature of the failure perhaps it just didn't create for me. Current suspect is either a bug in the propagation logic or some kind of endian-ne

[2019-05-10 14:17] DanHeidinga commented on #5707
No, we don't need to update the internal preloadLibrary calls

[2019-05-10 14:55] #4053 closed

[2019-05-10 14:55] #4054 closed

[2019-05-10 14:55] #4125 closed

[2019-05-10 14:55] #4126 closed

[2019-05-10 14:55] #4737 closed

[2019-05-10 14:55] #4772 closed

[2019-05-10 14:55] #4778 closed

[2019-05-10 14:55] #5088 closed

[2019-05-10 14:55] #5140 closed

[2019-05-10 15:37] DanHeidinga commented on #5697
If the issue occurs with OpenJDK7 then it should be reported to the OpenJDK community and fixed upstream.

Please clarify whether the problem is OpenJ9-specific or not.

[2019-05-10 15:41] AdamBrousseau commented on #5637
I have setup the repo triggers on all repos (8,11,12,next). The builds should launch when content is pushed to the `openj9-staging` branch. @andrew-m-leonard if you could confirm the next time the merge jobs run and content is pushed that the corresponding Acceptance build fires that would be great.

[2019-05-10 17:34] MNeuling commented on #5611
@ashbm5 Yes the program uses multiple threads createing TLS connections to download files. It works as long as you only start a single vm instance of the program and multithreading also works fine.

The problem occurs if you start another vm instance running the program. In that vm instance and every new vm instance the problem occurs.

[2019-05-10 17:44] JasonFengJ9 commented on #5140
Re-enabled the test at https://github.com/AdoptOpenJDK/openjdk-tests/pull/1126.

[2019-05-10 17:44] JasonFengJ9 commented on #4053
Re-enabled the test at https://github.com/AdoptOpenJDK/openjdk-tests/pull/1126.

[2019-05-10 17:45] JasonFengJ9 commented on #4054
Re-enabled the test at https://github.com/AdoptOpenJDK/openjdk-tests/pull/1126.

[2019-05-10 17:45] JasonFengJ9 commented on #4126
Re-enabled the test at https://github.com/AdoptOpenJDK/openjdk-tests/pull/1126.

[2019-05-10 17:46] JasonFengJ9 commented on #4772
Re-enabled the test at https://github.com/AdoptOpenJDK/openjdk-tests/pull/1126.

[2019-05-10 17:46] JasonFengJ9 commented on #4778
Re-enabled the test at https://github.com/AdoptOpenJDK/openjdk-tests/pull/1126.

[2019-05-10 17:46] JasonFengJ9 commented on #4125
Re-enabled the test at https://github.com/AdoptOpenJDK/openjdk-tests/pull/1126.

[2019-05-10 18:00] MNeuling commented on #5611
@ashbm5 It is not realy easy to reproduce the problem. The program launcher for client application. It downloads applications and start them. There are different applications to download.
Most of them work if you launch multiple application instances. It is only a single application that where the problem occurs.
Allways you launch a second instance of the application and the launcher has always a

[2019-05-10 18:08] hangshao0 commented on #5665
FYI: @berasogut

[2019-05-10 18:40] amicic opened #5731 "Split free/available regions for Metronome"
Align the logic for splitAvailableListSplitAmount in Metronome (currently equals to GC thread count what is likely too much and hurting fragmentation) with   splitFreeListSplitAmount in Standard group of GCs (which currently uses formula gcThreadCount / 8)

Investigate a crash in joinBucketListsForSplitIndex, when splitAvailableListSplitAmount  < gcThreadCount: a quick theory is this will lead to

[2019-05-10 18:43] gacholio commented on #5696
I'll take a glance at this,

[2019-05-10 18:45] amicic commented on #5731
Also investigate in Sweep Scheme, is it correct to base the occupancy of small pages  on getMarkCount(), as opposed to numCells - getFreeCount().

The difference is the dark matter. As it stands now, we seem like we'll add a full page that has some dark matter to the list of available pages.

[2019-05-10 18:47] RSalman opened #5732 "Investigate GC object allocation/initialization and exclusiveVMaccess"
I do not think that we should change the allocation part as I believe that should happen before other threads are allowed to allocate again but maybe the initialization of the object should be moved outside of the exclusiveVMaccess

Example of a verbose stanza
[code]

[2019-05-10 18:51] gacholio commented on #5696
Java stack of the failing thread:

3XMTHREADINFO3           Java callstack:
4XESTACKTRACE                at sun/misc/Unsafe.freeDBBMemory(Native Method)
4XESTACKTRACE                at java/nio/DirectByteBuffer$Deallocator.run(DirectByteBuffer.java:99)
4XESTACKTRACE                at sun/misc/Cleaner.clean(Cleaner.java:143)
4XESTACKTRACE                at java/lang/ref/ReferenceQueue.enqueue(Refer

[2019-05-10 20:06] andrewcraik commented on #4653
@nbhuiyan is this done?

[2019-05-10 20:08] nbhuiyan commented on #4653
@andrewcraik Yes it is. This issue can be closed.

[2019-05-10 20:11] pshipton commented on #5381
@DanHeidinga and I discussed a few options, but didn't write it down here obviously, and now I don't remember exactly. I think one idea was to create a new dump format which is a subset of the javacore containing thread stacks and the gc heaps, and enable that to stdout by default, perhaps also dumping the full javacore to a file.

[2019-05-10 20:13] andrewcraik commented on #4653
Closing as complete

[2019-05-10 20:13] #4653 closed

[2019-05-10 20:32] avermeer commented on #5381
Would your idea make OpenJ9's dump equivalent (or better) than HotSpot?

In case of people are using tools to process javacores, would it be feasible to have OpenJ9's javacore to be as compatible as HotSpot's (and keep whatever make OpenJ9 javacores "better", if applicable) ?

[2019-05-10 20:57] pshipton commented on #5381
I'm having trouble understanding what this means. I'm not proposing to change the javacore content, but to dump a subset of it to stdout by default. Thread stacks and gc heaps is what HotSpot seems to dump to the console. It would all be configurable via the -Xdump options, so a full javacore could still be dumped to the console if desired.

For example:
- there is already a dump type "stack" whic

[2019-05-10 21:04] JasonFengJ9 commented on #5726
Will have a look.

[2019-05-10 21:07] avermeer commented on #5381
Okay, after all I have opened this incident to ask OpenJ9 to send a javacore to STDOUT by default, just like HotSpot, so that people using Tomcat and used to find such stack traces in catalina.out won't be surprised (understatement to say: "won't blame") by OpenJ9 behavior !

Would such "by default STDOUT" output be feasible for next OpenJ9 release for Java 8 & Java 11 ?

[2019-05-10 21:15] pshipton commented on #5381
It depends on resources so I'll let @DanHeidinga answer this question, but also add this issue to the 0.15 plan so we don't forget about it. This isn't a commitment that we will be able to complete it for the 0.15 release.

[2019-05-10 22:31] andrewcraik commented on #5727
So looking at https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly/29/tapResults/ there is a failure of the form:
[code]

I took that test string and fed it into a BumbleBench. On x86 the BumbleBench runs fine - the string parses and we get good performance. I then tried the same string on zLinux and we get the exception shown above.

The change I made uses the `icm

[2019-05-10 22:37] andrewcraik commented on #5727
I'm told the above seems reasonable for z so I'm going to check the rest of the VP transforms to see if there is anything suspect there...

[2019-05-11 00:25] fjeremic commented on #5727
The above instruction sequence for the trees looks correct to me.

[2019-05-11 11:02] 15838028035 opened #5738 "docker openjdk8-openj9:apline-slim bind mount memory problem"
Hi,  i have a docker image named sonartype/nexus3, i want to use openjdk8-openj9 replace docker container openjdk, i use commnad like this:

docker run --name nexus3  \
                  --mount bype ="bind" source=$PWD/oepndjk8-openj8 target="/usr/lib/jvm/openjdk8" \
-p 8081:8081 \

sonatype/nexus \

nexus i run    docker ps -a  -s

i see nexus3 memory use about 500M,  not lower, this is the same

[2019-05-11 11:07] 15838028035 commented on #5725
hi, i  have use docker bind command ,but docker status memory not lower

[2019-05-11 11:08] #5695 closed

[2019-05-11 12:21] pshipton commented on #5637
Two builds for each version (8, 11, 12, next) were started at 10:13 and 10:24pm. Jenkins could not handle this load. I've disabled all the acceptance builds.

[2019-05-11 17:18] fvasco opened #5739 "IntelliJ Idea java.lang.OutOfMemoryError at startup"
Java -version output
--------------------

openjdk version "12.0.1" 2019-04-16
OpenJDK Runtime Environment AdoptOpenJDK (build 12.0.1+12)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.14.1, JRE 12 Linux amd64-64-Bit Compressed References 20190418_66 (JIT enabled, AOT enabled)
OpenJ9   - 412258978
OMR      - 4a4278e6
JCL      - 9fad1c64af based on jdk-12.0.1+12)

Summary of problem
---------------

[2019-05-11 17:32] charliegracie commented on #5739
From the verbose:gc log: `<af-start id="3" threadId="0000000001284788" totalBytesRequested="2147483656" timestamp="2019-05-11T19:16:11.121" intervalms="727.578" type="nursery" />`.  Something is trying to allocate an object of size ~2GB and the heap is limited to 750MB. In the zip file there is a javacore where I found the -Xmx750M.

[2019-05-11 17:38] charliegracie commented on #5739
Would you be able to do another run with the following command line option added to the set used in the previous run?
`-Xdump:stack:events=allocation,filter=#750m`.

This will print the stack information for all allocations over 750m to stderr.

[2019-05-12 04:41] DanHeidinga commented on #5738
fyi @ashu-mehra

[2019-05-12 07:10] fvasco commented on #5739
That's all, however Idea CE is free.

[log.zip](https://github.com/eclipse/openj9/files/3169814/log.zip)

[2019-05-12 09:09] fvasco commented on #5739
Filed the issue https://intellij-support.jetbrains.com/hc/requests/2098185

[2019-05-12 17:21] soumyabanerjee commented on #5739
Issue also seen with AdoptOpenJDK 11.0.3
Interesting, does not happen with bundled JBR.

[2019-05-12 17:56] soumyabanerjee commented on #5739
So downgraded to 11.0.2 and issue still persist with IntelliJ 2019.1.2. Neither IntelliJ 2017/2018 have this issue with OpenJ9 11.0.2. So chances are the regression is from JetBrains team.

[2019-05-12 19:37] gita-omr commented on #5291
When do we need to get it done? For 0.15?

[2019-05-12 19:48] #5676 closed

[2019-05-12 20:25] fvasco commented on #5739
Issue does happen with Adopt HotSpot

[2019-05-13 08:21] andrew-m-leonard commented on #5637
@AdamBrousseau jdk11 openj9-staging is now at jdk-11.0.4+2
jdkNext is quite busy and is merging new changes every night

[2019-05-13 12:00] pshipton commented on #5637
@andrew-m-leonard the linux compile problems are blocking merging new levels, not automated kickoff of acceptance builds. If you've seen a fix get merged, we can try a new build.

https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_OpenJDK11/3/console
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64le_linux_OpenJDK11/5/console

[2019-05-13 13:28] AdamBrousseau commented on #5637
Made a change to the job trigger configs to hopefully resolve the issue of them all launching. Kicked off a merge job now to test.

[2019-05-13 14:28] pshipton commented on #5710
@andrewcraik indicated eclipse/omr#3795 should go into the 0.14.2 release. @jdmpapin please create a PR for this change against the `v0.14.2-release` branch in the https://github.com/eclipse/openj9-omr repo.

[2019-05-13 14:39] pshipton opened #5741 "extended.functional testDDRExt_SharedClasses_openj9_0 output does not contain success key : java/util/HashMap"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/29/tapResults/
[code]

[2019-05-13 14:40] pshipton commented on #5741
I expect this is a test problem, related to timing for adding AOT to the cache.
@hangshao0

[2019-05-13 15:48] hangshao0 commented on #5741
Yes, this is a test issue.

[2019-05-13 16:41] pshipton commented on #5741
@llxia

[2019-05-13 16:47] ashu-mehra commented on #5738
@15838028035  Did you use `docker ps -a -s` to monitor memory usage? I am afraid that is not the right way.
You can use `docker stats <container id>` and monitor `MEM USAGE` to determine physical memory usage of the container.

I ran `sonatype/nexus3` image from https://hub.docker.com/r/sonatype/nexus3/.
With OpenJDK8 (with Hotspot JVM), I see `docker stats` reports around 1.6G usage.
With OpenJDK

[2019-05-13 17:04] gacholio commented on #5696
Here's one bad memory block:

Header (valid):

00000000`10cf7d90  a3255057`b1234567 00000000`00000020
00000000`10cf7da0  000007fe`f1d1e598 000007fe`f3188d18

User area:

00000000`10cf7db0  00000000`10cfc990 00000000`002d65c0
00000000`10cf7dc0  baadf00d`baad0000 baadf00d`baadf00d

Footer (mostly valid):

00000000`10cf7dd0  baadf00d`baadf00d 00000000`00000020
00000000`10cf7de0  000007fe`f1d1e598 000

[2019-05-13 17:11] gacholio commented on #5696
Looks like this is some kind of linked list structure - following the first pointer:
[code]

We find another corrupted footer.

[2019-05-13 17:14] gacholio commented on #5696
My best guess right now is that there's some bad JNI code in `com4j_amd64.dll`. It may be bad on the Oracle VM as well, but they don't have the overrun protection that OpenJ9 has.

[2019-05-13 17:26] gacholio commented on #5696
Test fails identically with `-Xint` and the debug local mapper (`-Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo`) so this does not appear to be the eager collection issue we sometimes see around finalization of DBBs.

[2019-05-13 17:49] gacholio commented on #5696
Ah. DBB memory has an extra structure wrapped around it:
[code]

So those first two pointers are a linked list, leaving 16 bytes of actual data space.

Hacking the unsafe allocator to overallocate everything by 1K makes the problem go away, so I'm more convinced than error that this is an overrun issue.

[2019-05-13 18:37] gacholio commented on #5696
Corruption occurs here:
[code]

[2019-05-13 18:39] gacholio commented on #5696
[code]

This instruction is writing at offset 16, which is beyond the allocated range.

[2019-05-13 18:51] gacholio commented on #5696
The entire disassembly of the offending function:
[code]
This clearly writes 3 8-byte fields into the pointer returned from `com4j_amd64!Java_com4j_Native_createBuffer+0xf0`

[2019-05-13 19:50] gacholio commented on #5696
Java stack when the bad DBB is created:
[code]

[2019-05-13 19:50] gacholio commented on #5696
Problem is here:

https://github.com/kohsuke/com4j/blob/1e690b805fb0e4e9ef61560e20a56335aecb0b24/runtime/src/main/java/com4j/Variant.java#L362

[2019-05-13 19:52] gacholio commented on #5696
@StefanSchmaltz I suggest you open an issue at com4j.

[2019-05-13 19:52] #5696 closed

[2019-05-13 20:23] harryyu1994 opened #5746 "JITaaS compilation failures in JITaaS PR testing"
[code]
[code]

[2019-05-13 20:27] harryyu1994 commented on #5746
On it

[2019-05-13 21:59] ChengJin01 commented on #5058
After grabbing the latest changes on OpenJDK11/OpenJ9/OMR,  the compilation failed as follows:
[code]
History shows the changes above was introduced by GC at #5684 & #5714  last week and the compiation passed locally with gcc v5.4 and v7.3.

Given that the cross-compiler version in the toolchain is v8.3, I will
1) first try recompiling the toolchain by replacing v8.3 with v7.3 at https://github.co

[2019-05-13 22:07] rubin55 commented on #5705
I have two example outputs from  Locale.getDefault that might be helpful.

When started from app icon:
[code]

When started from command line:
[code]

[2019-05-13 22:24] rubin55 commented on #5705
More notes: I notice that on macOS, the `env` of a command started from the dock contains:
[code]

When I start Apple Terminal, my env only contains:
[code]

That LC_CTYPE variable only gets set when you turn on `Preferences -> Advanced Tab -> Set locale environment variables on startup`. It's also the only one that gets set, no other LC_* or LANG. When you turn that option off, LC_CTYPE is not se

[2019-05-14 00:38] 15838028035 commented on #5738
Okay! Thanks! If I only use java, how can I see the memory on Linux ? Top ?

发自我的 iPhone

[2019-05-14 06:30] ashu-mehra commented on #5738
Yes, on Linux you can monitor using `top` or `ps`. In the `top` output `RES` field indicates physical memory size.

[2019-05-14 06:45] 15838028035 commented on #5738
Okay ! Thanks

发自我的 iPhone

[2019-05-14 09:39] 15838028035 opened #5749 "have you used sonar checked your code ?"
Hi, have you use sonare checked your code ?

i use docker , run docker jenkins containers,  sonaqube containers

i want do use sonarqube memory more lower

have you use used it  ?

[2019-05-14 09:43] 15838028035 opened #5750 "is there a eclipse.ini file used openjkd8-openj9"
HI,
is there a eclipse.ini file used openjkd8-openj9   ?

on windows10, i config openjkd8-openj9 as JAVA_HOME,

config eclipse.ini file add vm args

but start failure ,
is there a eclipse.ini file used openjkd8-openj9   ?

[2019-05-14 10:28] vhotspur commented on #5726
Hello from Renaissance team: if we can somehow help with debugging and testing, please, let us know (for completeness we track this here: renaissance-benchmarks/renaissance#131). Thanks!

[2019-05-14 12:22] ashu-mehra commented on #5750
As to my knowledge, Eclipse works fine with OpenJ9.
Which version of Eclipse did you try with?
Can you tell us more about the error message? Is it an exception or core dump or something else?

[2019-05-14 12:26] 15838028035 commented on #5750
Only a alert msg box , I don’t remember it !

Thanks

发自我的 iPhone

[2019-05-14 12:28] ashu-mehra commented on #5749
I don't think we have analyzed OpenJ9 code base with sonarqube if that is what you are asking, nor we have run sonarqube using OpenJ9 (as per my knowledge).

[2019-05-14 12:32] 15838028035 commented on #5749
Yes! Run sonarqube with openj9

发自我的 iPhone

[2019-05-14 12:33] 15838028035 commented on #5749
Yes! Use sonarqube !

发自我的 iPhone

[2019-05-14 13:10] adamfarley commented on #4488
@ShishirH - Half of it, yes. The difference on windows is just over 10mb, and the properties and dat files on J9 add up to 5.9mb, while on hs they add up to 339kb.

Another 3.196mb can be found in a file called libcrypto-1_1-x64.dll, which doesn't seem to exist in the hs jlinked jre (as Ealrann noticed). More space is taken up by j9 files in /bin/compressedrefs.

Also, the windows size in the late

[2019-05-14 13:37] DanHeidinga opened #5751 "OpenJ9 - "Could not create the Java Virtual Machine" when some special characters are on the command line"
Reported at Adopt: https://github.com/AdoptOpenJDK/openjdk-build/issues/1080

[2019-05-14 13:40] DanHeidinga commented on #5751
@pdbain-ibm can you take a look at this?

[2019-05-14 13:41] DanHeidinga commented on #5751
FYI @bobswift

[2019-05-14 13:46] pdbain-ibm commented on #5751
Will do.

[2019-05-14 13:55] #5710 closed

[2019-05-14 13:55] DanHeidinga commented on #5749
I haven't tried running sonarqube on OpenJ9 and I don't expect there to be any issues doing so.  If that's something you're going to be doing, we'd love to hear some feedback on how well it works for you.

[2019-05-14 14:05] a7ehuo commented on #5746
Likely the build still searches the default `/usr/include/` path instead of `/usr/local/include` which is where openssl-1.1.1 is installed, or search where the openssl is fetched and installed.
```16:08:36  In file included from /usr/include/openssl/err.h:124:0```

This issue is related to issue #5720

Looks like the header versions that are picked up are prior to 1.0.2
[code]

[2019-05-14 14:06] pshipton opened #5752 "win2012r2-x86-5 not a git repository"
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_windows_Release/5
win2012r2-x86-5 disabled
[code]

[2019-05-14 14:06] pshipton commented on #5752
@AdamBrousseau @jdekonin

[2019-05-14 14:14] pshipton commented on #5750
I can confirm the eclipse.ini file is used when running with OpenJ9. This is a feature of Eclipse and unrelated to which JVM is used. Likely there is something wrong with the arguments specified in the eclipse.ini file. Please provide the arguments specified to get feedback about their compatibility with OpenJ9.

[2019-05-14 14:18] AdamBrousseau commented on #5752
Issue is the previous [build](https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_windows_Release/4/console) left the WS in a bad state. We don't use the `git clean` logic anymore so we should change it to something like `if workspace is not empty { cleanWs() }`

The workspace was cleaned up properly by the build you linked so I will re-enable the machine. I also don't see any issue with the work

[2019-05-14 14:55] dmitry-ten commented on #5582
Edited description to be more detailed.

[2019-05-14 15:16] #5752 closed

[2019-05-14 15:18] harryyu1994 commented on #5746
Since SSL_CTX_set_ecdh_auto is deprecated, we should remove it. The rest of the issue should be fixed by #5720

[2019-05-14 15:32] JasonFengJ9 commented on #5726
This problem is due to `classCache = (isClassCachingEnabled ? new ClassCache() : null);` within https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/b08f3812627640b336684db431fee56e28d77f1e/src/java.base/share/classes/java/io/ObjectInputStream.java#L335.
Since `com.ibm.enableClassCaching` is `true` by default, `new ClassCache()` is invoked, triggered another call to `SerializationUtils.clone()

[2019-05-14 16:32] ShishirH commented on #5726
@JasonFengJ9 Isn't ObjectInputStream.java the same for both Hotspot and OpenJ9? Is there a reason why there's an issue with OpenJ9, but not Hotspot?

[2019-05-14 17:48] JasonFengJ9 commented on #5726
Not always, that's what `github.com/ibmruntimes` is for. The difference can be observed via comparison of `master` and `openj9` branches.

[2019-05-14 18:06] DanHeidinga commented on #5696
I opened a fix for this as it's two lines - https://github.com/kohsuke/com4j/pull/80

[2019-05-14 18:10] a7ehuo commented on #5631
One of the asserts is
https://github.com/eclipse/openj9/blob/67de68a8802efc98132772914b6d2853e65dd235/runtime/compiler/runtime/JITaaSIProfiler.cpp#L665

[2019-05-14 18:56] ChengJin01 commented on #5058
Already fixed the issue with GC changes (it turns out the latest changes somehow didn't get synchronized in  my OpenJ9 branch which led to mismatch on the changes between OpenJ9 and OMR) and keep compiling to see whether there is anything wrong or minor issue left in building the JDK.

[2019-05-14 19:23] dmitry-ten commented on #5631
That's actually the only assert I've ever seen happening in IProfiler.

[2019-05-14 19:31] harryyu1994 commented on #5644
[code]
- Looks like it's an unsigned int and can be capped to 4GB

[2019-05-14 19:36] fengxue-IS commented on #5707
PR WIP: https://github.com/eclipse/omr/pull/3850

[2019-05-14 19:40] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_OMR/59

[2019-05-14 19:42] dmitry-ten opened #5759 "Allow caching of resolved methods inside heuristic regions"
Initially, caching of resolved methods inside heuristic regions was disabled, because we were not recreating validation record when retrieving method from cache.
Thus, if the method was cached inside heuristic region but accessed from outside, it would not have a validation record.
But since #5604 validation record is recreated every time resolved method is accessed from cache, so we can cache ins

[2019-05-14 19:42] dmitry-ten commented on #5759
@ymanton could you give it a beginner tag?

[2019-05-14 20:18] caohaley commented on #5631
I will work on this one with the help of Annabelle.

[2019-05-14 20:53] harryyu1994 commented on #5644
The default value is already 2GB when we don't specify anything