[2020-02-10 14:52] dmitripivkine commented on #8537
GC can not recognize object type based on class flags. Most likely pointer to mid object or garbage

[2020-02-10 15:10] #8478 closed

[2020-02-10 15:14] pshipton commented on #8521
@jdekonin it went offline again during testing last night.

[2020-02-10 15:14] #7608 closed

[2020-02-10 15:31] mpirvu commented on #8534
The work to remove protobuf is underway, but it's not simple and I expect to take a few weeks.

[2020-02-10 15:41] jdekonin commented on #8521
Rebooted and back online.

[2020-02-10 15:53] #8521 closed

[2020-02-10 15:55] mpirvu commented on #8530
Currently, the type of Iprofiler information is inferred from the bytecode it refers to. This is possible because for a particular bytecode the interpreter only collects a single type of profiling info.

[2020-02-10 16:49] ocafebabe commented on #8532
@DanHeidinga it's already the full stack trace! I'll try to create a simple test case to reproduce the problem...

[2020-02-10 17:34] andrewcraik opened #8543 "Prevent malformed blocks missing return nodes"
The IL generator should make sure that the last block generated ends in a control-flow statement - eg we won't falloff the end. Currently it is possible for the last block to not end a control-flow statement for some malformed Java bytecode sequences which can result in undefined behviour - the method will not exit properly.

[2020-02-10 18:07] ocafebabe commented on #8532
@DanHeidinga here are the steps to reproduce the issue:

**Download Wildfly 8.2.1 here:** https://download.jboss.org/wildfly/8.2.1.Final/wildfly-8.2.1.Final.tar.gz

1. unpack the archive to a temporary directory (that we'll call _<WILDFLY_DIR>_)
2. edit this file: _<WILDFLY_DIR>_/bin/standalone.conf and uncomment the **JAVA_HOME** variable
3. set **JAVA_HOME** to the OpenJ9 installation directory

[2020-02-10 18:16] AlenBadel commented on #4930
**XX:LargePageSizeInBytes=**

Z/OS has the following available page sizes that could be configured.
**[2G Fixed, 1M Pageable, 1M Fixed, 4K Fixed]**

If the specified page size is not available, then the greatest available page size below that value will be used.

Let's consider the following scenario. The user wants to specify`-XX:LargePageSizeInBytes=2G`, and the following pages are configured [1

[2020-02-10 19:25] #8506 closed

[2020-02-10 19:26] #8346 closed

[2020-02-10 19:29] mpirvu commented on #8170
This was seen again in the nightly tests:
[code]

[2020-02-10 19:31] mpirvu commented on #8109
Fix was delivered in #8293

[2020-02-10 19:31] #8109 closed

[2020-02-10 20:42] jdekonin commented on #8508
I had upgraded the compile to 16.01.0000.0004.  OMR no longer compiles with this version.

[code]

`-qlanglvl=extended0x ` mapping to -std sub-option `c++0x | gnu++11 | gnu++0x`
https://www.ibm.com/support/knowledgecenter/SSGH3R_16.1.0/com.ibm.xlcpp161.aix.doc/compiler_ref/opt_langlvl_clang.html

But that can be resolved in a different issue (and within the Eclipse OMR project).

[2020-02-10 20:56] #8514 closed

[2020-02-10 21:07] mpirvu opened #8544 "Reduce number of VM_stackWalkerMaySkipFrames messages"
These messages comes from `stackWalkerMaySkipFrames(TR_OpaqueMethodBlock *method, TR_OpaqueClassBlock *methodClass)` and the TR_J9VM implementation is:
[code]

We can do some optimizations to reduce the number of VM_stackWalkerMaySkipFrames messages:

1) If `method == false` we can return `false without a message
2) If we have `javaVM->jlrMethodInvoke` we can do more tests (and hopefully return ea

[2020-02-10 21:07] mpirvu commented on #8544
@chrisc66 could you please look into this issue? Thanks

[2020-02-10 21:17] VermaSh opened #8545 "Clean up and add comments to inlineVectorizedStringIndexOf"
- Replace temporary registers with scratch registers
- Re-name registers to be more descriptive
- Add log file comments around the instruction
- Add comments to facilitate easier understanding of the logic

[2020-02-10 21:20] chrisc66 commented on #8544
Looking into this issue, thanks.

[2020-02-10 21:35] klangman opened #8546 "THP can cause a severe performance issue on Linux (x86) Cloud Foundry environment"
A OpenJ9 consumer has encountered a severe performance issue after Transparent Huge Pages was enabled by default on Linux X86. #6713

A profile from the effected system showed that the kernel routine "list_lru_count_one" was taking 95% of the CPU time. With a bit of google'ing I found the following kernel fix that I suspect addresses the performance issue.

https://lore.kernel.org/lkml/15306305251

[2020-02-10 21:39] dnakamura commented on #8183
Zlinux startup and footprint is now within the noise, however throughtput is taking a 16% hit on cold runs, and 4% on warm runs. Looking into differences in the jit and interpreter components.

I have a windows runs, however I realized that optimizations are disabled, and the interpreter is still built with msvc. Currently have a prototype with the interpreter building with clang, and working on g

[2020-02-10 21:42] mpirvu opened #8547 "Override `transformJlrMethodInvoke()` at JITServer"
The implementation of `TR_J9VM::transformJlrMethodInvoke()` accesses `javaVM->jlrMethodInvoke` which is not safe to do at the server side. We must get the value from the client. Once we get a non-null value we can cache it to avoid future messages.

[2020-02-10 21:42] liqunl commented on #7528
The crash should have been fixed by #8083

[2020-02-10 22:25] gita-omr commented on #4930
@AlenBadel please update the table in the design to be more specific.

[2020-02-10 22:59] JasonFengJ9 commented on #8532
Reproduced the `IncompatibleClassChangeError`, `AccessController.doPrivileged()` expects an `java.security.PrivilegedAction` object but received an `org.jboss.weld.security.GetDeclaredMethodAction` which doesn't implement  the interface `PrivilegedAction()`.

Since `doPrivileged(PrivilegedAction)` is a public API in the specification,  it seems `GetDeclaredMethodAction` instantiation somehow was t

[2020-02-10 23:08] ChengJin01 commented on #7684
Already collected the trace logs as required above and send them all to @fjeremic.

[2020-02-11 02:30] #7528 closed

[2020-02-11 08:22] avermeer opened #8548 "openj9-0.18.1 regression vs openj9-0.17.0: GPF Assertion failed at ... compiler/optimizer/InterpreterEmulator.cpp:208"
Hello,

Quick feedback on a regression we found when switching from AdoptOpenJDK OpenJ9 11.0.5 (openj9-0.17.0)   to AdoptOpenJDK J9 11.0.6 (openj9-0.18.1) : one of our test consistently fails on both Linux x64 and Windows 64 with the following GPF:

* On Linux x64:
[code]

* On Windows x64, the output seems to include more details:

[code]

I wanted to check if the problem can be reproduced with a

[2020-02-11 13:27] DanHeidinga commented on #8548
[code]

This looks very similar to https://github.com/eclipse/openj9/pull/8512 which was merged into master a couple of days ago.

We'll follow up on the Adopt JDK11 builds as they should be happening

[2020-02-11 13:27] DanHeidinga commented on #8548
fyi @cathyzhyi

[2020-02-11 13:41] JasonFengJ9 opened #8549 "JDK14 IllegalArgumentException at org.objectweb.asm.ClassReader.<init>"
Failure link
------------

From internal builds.
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
10:19:24  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=14&JDK_IMPL=openj9&BUILD_LIS

[2020-02-11 13:46] avermeer commented on #8548
Thanks! if confirmed that a fix is already available, then how about a 0.18.2 ?
Impact is rather large on our side, and staying on 0.17.0 prevents us from getting Jan 2020 security fixes...

[2020-02-11 13:56] JasonFengJ9 opened #8550 "openjdk8_j9_sanity.functional_x86-64_linux libj9jit29.so: undefined symbol: _ZNK6google8protobuf7Message11GetTypeNameB5cxx11Ev"
Failure link
------------

From an internal build:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

This could be a machine issue, `-version` runs ok in another build.

[2020-02-11 14:04] jdekonin commented on #8257
Thank you @llxia for launching a grinder for me to verify this is fixed.
https://ci.eclipse.org/openj9/job/Grinder/643/consoleFull
This sanity functional testing is using last nights JDK11 build with `--enable-jitserver` in use.
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64le_linux_Nightly/295/consoleFull

[2020-02-11 14:07] DanHeidinga commented on #8548
This would be something we'd have to discuss on the OpenJ9 community call.  The call runs on Wednesdays @ 11 am ET with details are posted to the #planning channel in Slack or in the agendas in https://drive.google.com/drive/folders/15FN_IVizGzDVurOqkgHI68F-kTF9ssoG

[2020-02-11 14:10] DanHeidinga commented on #8548
@cathyzhyi is there any way to disable the InterpreterEmulator to work around this issue?

[2020-02-11 14:11] DanHeidinga commented on #8550
fyi @mpirvu as this is a protobuf issue.

[2020-02-11 14:11] DanHeidinga commented on #8550
`_ZNK6google8protobuf7Message11GetTypeNameB5cxx11Ev`

Looks like a dup of https://github.com/eclipse/openj9/issues/8257 on xLinux

[2020-02-11 14:12] DanHeidinga commented on #8257
@JasonFengJ9 is seeing this issue on xLinux https://github.com/eclipse/openj9/issues/8550

[2020-02-11 14:13] pshipton commented on #8257
@jdekonin the problem occurs when the JVM is built on ub16-ppcle-2. If the JVM is built on a working machine, it can run anywhere.

[2020-02-11 14:15] DanHeidinga commented on #8532
@JasonFengJ9 Do you have the type hierarchy for `GetDeclaredMethodAction`?

[2020-02-11 14:16] pshipton commented on #8550
Yes, let's close it as a dup.

[2020-02-11 14:16] #8550 closed

[2020-02-11 14:24] DanHeidinga commented on #8546
@klangman Do you have the range of kernels that are affected / not affected by this issue?

[2020-02-11 14:36] DanHeidinga commented on #8532
[1] GetDeclaredMethodAction - https://github.com/weld/core/blob/master/impl/src/main/java/org/jboss/weld/security/GetDeclaredMethodAction.java

[2] AbstractReflectionAction - https://github.com/weld/core/blob/master/impl/src/main/java/org/jboss/weld/security/AbstractReflectionAction.java

There's code in [1] to wrap the GetDeclaredMethodAction in a PrivilegedAction.

We should look at the code to

[2020-02-11 14:53] JasonFengJ9 commented on #8532
Yeah, this is the code I was looking at as well though the actual code in the package is probably from a branch.
I suspect the behaviour difference might come from `AbstractReflectionAction.javaClass`. An instance returning from `GetDeclaredMethodAction. wrapException` has proper interface. https://github.com/weld/core/blob/master/impl/src/main/java/org/jboss/weld/security/GetDeclaredMethodAction.

[2020-02-11 15:39] pshipton opened #8551 "jdknext (jdk15) functional tests failing to build"
Fails for all platforms.
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_s390x_linux_OpenJDK/124
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/167
[code]

[2020-02-11 15:40] pshipton commented on #8551
@llxia @smlambert

[2020-02-11 15:41] AlenBadel commented on #4930
The design above has been updated to include the specifics I've noted yesterday.

[2020-02-11 15:59] llxia commented on #8551
based on the msg above, we need to remove `--enable-preview`  :

https://github.com/eclipse/openj9/blob/6a356f99b267a850c1c62f0dff89875a8456680f/test/functional/Java14andUp/build.xml#L54

https://github.com/eclipse/openj9/blob/6a356f99b267a850c1c62f0dff89875a8456680f/test/functional/Java14andUp/playlist.xml#L32

@LongyuZhang  could you help with this issue? Thanks

[2020-02-11 16:15] klangman commented on #8546
@DanHeidinga According to the documentation that I found, the issues was fixed in 4.19. When it was introduced, I have no idea other to say that the issue is attached to cgroups in some say.  Maybe we should just disable THP on small footprint builds when using a kernel older then 4.19 or maybe there is a way to know when cgroups are being used?

[2020-02-11 16:31] dmitripivkine commented on #8546
GC code has this check to make special settings for run in container: https://github.com/eclipse/openj9/blob/041daeec2e693cc6ac6107f2b3c9f71db319b0eb/runtime/gc_base/GCExtensions.cpp#L244

[2020-02-11 17:04] AlenBadel commented on #4930
@dmitripivkine @gita-omr Please let me know if you have any further concerns.

@joransiu Could you kindly review the Z/OS behaviour in https://github.com/eclipse/openj9/issues/4930#issuecomment-584258889 and just give me a simple approval if you have no further questions. The Z/OS relevant change can be seen https://github.com/eclipse/omr/pull/4762.

[2020-02-11 17:07] DanHeidinga commented on #8546
Reading Kevin's link, the issue manifests on systems with many cgroups which would imply that it can happen whether or no the VM is running in a cgroup.

We'd need to better understand the conditions that cause the issue before we enable / disable this.  One data point is hard to generalize from =)

[2020-02-11 17:24] keithc-ca commented on #7908
Where are the malloc calls? Can we arrange to reuse allocated blocks more effectively avoiding the performance problem?

[2020-02-11 17:42] dmitripivkine commented on #8546
Ok, thank you. I misunderstood this. This means there is not so much we can do about this runtime - well may be an option to disable usage of THP in Java as workaround (but would it more correct to disable THP on OS level by changing `transparent_hugepage=never`):
[code]
Most likely slow handling of THP relates with general memory fragmentation when OS needs to reallocate a lot of data to get cont

[2020-02-11 17:54] gita-omr commented on #4930
Design at https://github.com/eclipse/openj9/issues/4930#issuecomment-527623042 looks good to me.

[2020-02-11 18:03] zl-wang commented on #7908
relevant to this PR,  malloc/free calls are inside OpenSSL code.  How to reuse? thread-private memory is a potential solution.  Even with that, you probably need to prepare for bigger re-allocations if they were needed. All nitty gritty loose ends to tie up, associated with that. The ultimate question is:  who can do it and is willing to do it?  And, eventually whether the (platform specific and u

[2020-02-11 18:18] keithc-ca commented on #7908
I was thinking along the lines of the reuse that happens in [1] which would benefit all platforms.

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/closed/adds/jdk/src/share/classes/sun/security/provider/NativeDigest.java

[2020-02-11 18:25] theresa-m opened #8552 "-XX:+ExitOnOutOfMemoryError not exiting"
Java -version output
--------------------

OpenJ9 release 0.18

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.0, JRE 11 Linux amd64-64-Bit Compressed References 20200116_433 (JIT enabled, AOT enabled)
OpenJ9   - 6968c18d7
OMR      - 7a1b0239a
JCL      - 104cab2452 based on jdk-11.0.6+10)

Edit: can b

[2020-02-11 18:31] theresa-m commented on #8552
So far I haven't been able to reproduce this issue.

Things I have tried:
- test program (java & system ooms) in Ubuntu-16 vm with arguments `-XX:+ExitOnOutOfMemoryError -Xdump:java:file=/STDOUT/ -XX:-HeapDumpOnOutOfMemoryError -Xdump:java:events=throw,filter=java/lang/OutOfMemoryError,file=/STDOUT/`
- test program (java & system ooms) in a docker image with arguments `-XX:+ExitOnOutOfMemoryError

[2020-02-11 18:35] pshipton commented on #7908
Note https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/366 is opened to address adding MALLOCOPTIONS

[2020-02-11 18:48] zl-wang commented on #7908
That doesn't look like reuse to me. Maybe you can have multiple objects of that type.  In any case, it is irksome to see that many synchronized methods.

[2020-02-11 18:56] zl-wang commented on #7908
@pshipton  I supposed this trickles into both JDK build, but I heard OpenJ9 build didn't have LDR_CNTRL set (to use 64KB pages everywhere on AIX).  I assumed it is set in the same place.

[2020-02-11 19:29] DanHeidinga opened #8553 "InterpreterEmulator must implement all bytecodes"
Unfortunately, that can be any legal bytecode.  Users bytcode agents can modify classes in the ClassFileLoadHook (basically, before we've loaded them) and insert arbitrary code into these methods, or into methods that get inlined into them.

We can't know a priori which bytecodes will be in the thunks.

_Originally posted by @DanHeidinga in https://github.com/eclipse/openj9/pull/8512#issuecomment-

[2020-02-11 19:30] DanHeidinga commented on #8553
@cathyzhyi The above still needs to be addressed.  I've opened a new issue to ensure it's handled.

fyi @andrewcraik

[2020-02-11 19:34] DanHeidinga commented on #7890
@dsouzai Any update on this?  It's currently tagged against 0.19.0 and we're seeing more and more instances of this failure in the wild

[2020-02-11 19:42] andrewcraik commented on #8553
@DanHeidinga I believe we are talking about the bytecodes in the thunk archetypes which are not from users and are constrained and do not support redefinition etc at present. With changes to the 292 implementation we will look at which ones we need to support when we see that implementation in more detail.

[2020-02-11 19:44] dsouzai commented on #7890
Haven't really had time to look at this yet; I managed to get to a point where I can build Windows on some of the internal build machines, so now it'll just be a matter of reproducing and iterating.

[2020-02-11 19:46] DanHeidinga commented on #8553
Users are able to modify classes prior to load using the ClassFileLoadHook.  We are also able to modify them when changing the java code.  Today's hardcoded subset is brittle and easy to break.

Given the user pain, it would be better to add support for all bytecodes - even if it was just to abort the compilation for unexpected bytecodes

[2020-02-11 20:03] pshipton commented on #7908
We were setting LDR_CNTRL, but it was removed https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/237 as it seemed to be causing problems on the OpenJ9 AIX machines.

We are setting the base text/data load address https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/349

[2020-02-11 20:15] zl-wang commented on #7908
I didn't mean the build process, but JDK runtime to use 64KB pages, similar to this PR's MALLOCOPTIONS.  e.g.

setenv("LDR_CNTRL", "TEXTPSIZE=64K@DATAPSIZE=64K@STACKPSIZE=64K", ..);

Something like that.

[2020-02-11 20:22] pshipton commented on #7908
Can you get somebody to open a PR with this change please.

[2020-02-11 20:37] andrewcraik commented on #8553
Sure I'm fine with an abort of ilgen - @cathyzhyi could you sort that with some good diagnostics so we know about them. Custom bytecode in thunk archetypes is not likely to work too well in general so a compile abort makes sense.

[2020-02-11 20:46] DanHeidinga commented on #7890
+1 to iterating to solve this.

There is discussion that will be occurring during tomorrow's OpenJ9 community call about whether we should do a 0.18.2 release and this would be an issue we'd want resolved in any point release we do.

[2020-02-11 20:47] zl-wang commented on #7908
yes sure, but I need some clarifications.  I am somewhat confused as earlier indicated.
that 64KB page thing (LDR_CNTRL) was done since java6 sr5 on AIX.  if this MALLOCOPTIONS stuff were meant to be in both JDK builds (assuming it is done in the same place as LDR_CNTRL), it should be already there.  that is the point I tried getting at. However, I heard OpenJ9 build didn't use 64KB pages at runti

[2020-02-11 21:27] fjeremic commented on #7684
@andrewcraik here is the latest log where the exception occurred. I believe this was collected with `lastOptIndex=0`. The log seems to be truncated as we never seemed to have reached binary encoding. The last tree during instruction selection we see is:

[code]

I suspect we can't functionally run with `lastOptIndex=0`. Is this correct?

[jitlog_withCFR.zip](https://github.com/eclipse/openj9/files

[2020-02-11 21:53] dsouzai commented on #7890
Spoke too soon, still can't build 🎉

Yeah makes sense. The tiny silver lining is that the issue can be mitigated by either running with `-Xshareclasses:none` or by running with `-Xjit:dontUsePersistentIprofiler -Xaot:dontUsePersistentIprofiler`

[2020-02-11 22:04] JasonFengJ9 commented on #8532
Summary of the investigation so far:

1. The object passing to `AccessController.doPrivileged(PrivilegedAction<T> action)` is `org.jboss.weld.security.GetDeclaredMethodAction` which actually is an `PrivilegedExceptionAction`. This indicates that `GetDeclaredMethodAction.of()` was invoked [1];
2. There was a PR (~5 years ago) "WELD-1828 Weld doesn't work on IBM JDK" [2] which appears to invoke `Get

[2020-02-11 22:17] andrewcraik commented on #7684
+1 last opt index 0 is not supported. Under nextgenHCR we need to run OSRguardInsertion / HCRGuard removal for the program to be valid - there is no implementation for that helper and never will be.

[2020-02-11 22:18] andrewcraik commented on #7684
I suspect the failure mode changed when the opt index was reduced and so we have a spurious problem here (unless the helper was not removed before codegen in the full run).

[2020-02-11 22:38] ocafebabe commented on #8532
@JasonFengJ9 sorry, not at all except that it's the JBoss reference implementation for CDI (context dependency injection) and that it's used by many different application servers (Wildfly, GlassFish/Payara, WebLogic, etc.)!

I don't know if it can help you, but I did another test with another Wildfly version, released right after the one I'm using (9.0.0-Final) and this time it worked! No errors d

[2020-02-11 22:54] pshipton commented on #7908
The OpenJ9 builds use the source at https://github.com/ibmruntimes/openj9-openjdk-jdk8. There is no mention of LDR_CNTRL or MALLOCOPTIONS in this source. It's a copy of the OpenJDK code, with a small number of patches to support OpenJ9 and some performance enhancements.

This is different from IBM Java builds which use private source. I'm not sure what this source does, it could very well set LDR_

[2020-02-11 23:02] JasonFengJ9 commented on #8532
@ocafebabe thanks for the updates! Good to know that `9.0.0-Final` works with `OpenJ9`.

The class `org.jboss.weld.logging.ReflectionLogger` in `weld-core-impl-2.2.14.Final.jar` does have the method `noSuchMethodWrapper`. I think this made the difference.
It appears `weld-core-impl-2.2.6.Final.jar` just missed one part of the PR https://github.com/weld/core/commit/ddb62bf69d8b038b70846da5e3b6cfc67

[2020-02-11 23:04] ocafebabe commented on #8532
I've found more details about WELD-1828 here: https://issues.redhat.com/browse/WELD-1828

But there's something I don't understand: the issue was initially detected on the **IBM JDK 7**, how come this issue is still present on OpenJ9 (which is built on top of the **OpenJDK**)?

[2020-02-11 23:14] JasonFengJ9 commented on #8532
Right, that was fixed by https://github.com/weld/core/commit/ddb62bf69d8b038b70846da5e3b6cfc67fca3774
But `weld-core-impl-2.2.6.Final.jar` doesn't include the complete changeset.

If you agree that the `IncompatibleClassChangeError` doesn't present in `Weld 2.2.14.Final` and beyond, can this issue be closed?

[2020-02-11 23:37] ocafebabe commented on #8532
Well, it doesn't really solve my problem as I can't use the new Weld version without upgrading the whole application server (which is not an option)!

[2020-02-12 02:00] JasonFengJ9 commented on #8532
Sorry to hear that. I see two options:
1. Rebuild `weld-core-impl-2.2.6.Final.jar` from source with https://github.com/weld/core/commit/ddb62bf69d8b038b70846da5e3b6cfc67fca3774;
2. Check the history of the file affected, if there is no other dependency changes, replace the classes within `weld-core-impl-2.2.6.Final.jar` with those in `weld-core-impl-2.2.14.Final.jar`.

If you experience any JVM re

[2020-02-12 02:19] pshipton opened #8554 "Xlp test failures on osx"
Caused by https://github.com/eclipse/openj9/pull/8298 which I have reverted.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR/437
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_OMR/430
J9vmTest_4
J9vmTest_5
j9vm.test.xlpcodecache.XlpCodeCacheOptionsTest
[code]

[2020-02-12 02:21] pshipton commented on #8554
@AlenBadel

[2020-02-12 02:43] VermaSh opened #8556 "C compiler cannot create executables on s390x using jdk8 u16 Dockerfile"
I am getting a failure when running `bash configure --with-freemarker-jar=/root/freemarker.jar`

[code]
Creating a symlink as mentioned here https://github.com/eclipse/openj9/issues/7807 does not seem to solve the issue. It seems to be missing `libmpc3`

[2020-02-12 09:56] adam-thorpe commented on #7945
Excluded a bunch of `java/io/Serializable/records` until this is fully implemented

[2020-02-12 12:23] knn-k opened #8558 "Cannot run Eclipse with OpenJ9 0.18.1 for macOS"
Java 11 OpenJ9 0.18.1 for macOS fails to start Eclipse with a dialog "Failed to create the Java Virtual Machine." on macOS 10.15.3 Catalina.
[code]

0.17.0 works fine in the same environment.
[code]

Is this related to Issue #3371, or a different new problem?

[2020-02-12 13:18] knn-k commented on #8558
0.18.1 large heap does not work, either.

[2020-02-12 13:28] pshipton commented on #8558
This might be better raised at AdoptOpenJDK. I suspect it's related to notarization of the builds, in which case Adopt would have to create a new build of 0.18.1 which is notarized.

[2020-02-12 13:30] smlambert commented on #8558
https://github.com/AdoptOpenJDK/openjdk-support/issues/52

[2020-02-12 13:43] knn-k commented on #8558
Ah, I didn't check the issues at AdoptOpenJDK.  Thanks.

[2020-02-12 13:46] DanHeidinga commented on #8532
@JasonFengJ9 Any idea why this works on HotSpot and not OpenJ9?  If we understand the difference there may be something we can do to paper over the difference...

[2020-02-12 13:58] theresa-m commented on #7945
Thanks @adam-thorpe I've confirmed that those tests should be passing when https://github.com/eclipse/openj9/pull/8351 is merged

[2020-02-12 14:29] keithc-ca commented on #8556
You would think that if `libmpc3` were required for gcc to create executables that it would be a prerequisite of the gcc package, but apparently it isn't.

[2020-02-12 14:29] #8556 closed

[2020-02-12 14:35] zl-wang commented on #7908
Thanks for the clarification.  MALLOCOPTIONS has never been set in either.
It looks like:
1) we need another PR to get MALLOCOPTIONS into IBM java;
2) yet another PR to get LDR_CNTRL to be added here for OpenJDK;

[2020-02-12 14:50] tajila commented on #1390
default value full implementation (interpreter): https://github.com/eclipse/openj9/pull/3575/
tests: https://github.com/eclipse/openj9/pull/3682

[2020-02-12 14:52] fjeremic commented on #8183
What benchmark are you using? It would be hard to imagine the JIT causing a throughput regression for this type of work. Even if the compilation is slower we should still be generating the same code at the end.

[2020-02-12 14:52] tajila commented on #1390
With field support:
https://github.com/eclipse/openj9/pull/3760
https://github.com/eclipse/openj9/pull/3802
https://github.com/eclipse/openj9/pull/3925

[2020-02-12 14:53] tajila commented on #1390
Latest SPEC is here, http://cr.openjdk.java.net/~dlsmith/lw2/lw2-20190628/specs/inline-classes-jvms.html

[2020-02-12 14:59] #8558 closed

[2020-02-12 15:02] jdekonin commented on #8257
Test manually and I believe this machine is functional now.  I reenabled in jenkins.

[2020-02-12 15:09] pshipton commented on #8257
Ok, will reopen if a problem is seen again.

[2020-02-12 15:09] #8257 closed

[2020-02-12 15:31] JasonFengJ9 commented on #8532
The `GetDeclaredMethodAction` in question was implemented with `PrivilegedExceptionAction` interface, the `JBoss CDI` code intends to invoke `AccessController.doPrivileged(PrivilegedExceptionAction<T> action)` but it finds `OpenJ9 AccessController.doPrivileged(PrivilegedAction<T> action)` instead.

The bytecode in question is:
[code]
An `IncompatibleClassChangeError` was thrown at `Bytecode index

[2020-02-12 16:22] zl-wang opened #8562 "LDR_CNTRL setting on AIX java launcher in order to use 64KB pages by default"
Do it in a similar way as:  https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/366
LDR_CNTRL=TEXTPSIZE=64K@DATAPSIZE=64K@STACKPSIZE=64K
64KB pages will be used for data/text/stack.  you can append @SHMPSIZE=64K as well for shared memory pagesize.

This is for performance.

[2020-02-12 16:28] pshipton commented on #8558
@knn-k can you please try the latest nightly build from Adopt and see if it works.

[2020-02-12 16:28] adam-thorpe opened #8563 "JTReg Test Failure: java/lang/String/TranslateEscapes.java"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_j9_sanity.openjdk_x86-64_linux/1/
- test category: sanity.openjdk
- OS/architecture: jdk14 all

Optional info
-------------
- intermittent failure (yes|no): no
- regression or new test: regression
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) :
Failing since first

[2020-02-12 16:44] adam-thorpe opened #8565 "Arm64 linux nightly builds fail to compile BUILD_JIGSAW_TOOLS"
Nightly builds of arm64 linux (XL) on jdk11 have been failing for a few days now, couldn't see another issue on this but may be known as this is a WIP item.

Most recent build: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9-linuxXL/77/console

Last passing build:
[code]
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-l

[2020-02-12 16:56] 0xdaryl commented on #8565
@knn-k FYI

[2020-02-12 18:16] #8534 closed

[2020-02-12 18:25] AlenBadel commented on #4930
As I've noted above, this issue is waiting closing feedback from @dmitripivkine and @joransiu.

[2020-02-12 18:46] dmitripivkine commented on #4930
This statement is not correct. "Largest available large page size" on ZOS might be 2G and on AIX 16G.
This sizes are not going to be used

[2020-02-12 18:55] dmitripivkine commented on #4930
-Xlp:objectheap:pagesize=<size>,[non]pageable
It is the only platform to have this requirement. Nonpageable large pages is currently not supported within the codecache. Pageable large pages are also desired over NonPageable large pages within the ObjectHeap.

We are NOT going to do this

[2020-02-12 18:57] dmitripivkine commented on #4930
We have special behaviour on AIX as well (similar as on ZOS). Did you look to it?

[2020-02-12 19:32] psoohoo-turbonomic commented on #8552
Hi @theresa-m, thanks so much for investigating this.

I was trying to reproduce the issue in one of our environments to try to get more information to add to this issue. I modified the application to trigger an `OutOfMemoryError` on demand. I noticed something unusual:

- If I manually triggered the OOME (and the exception came from one of our application threads), then the JVM would both handle

[2020-02-12 19:51] pshipton commented on #8403
@gacholio any response to the previous comment?

[2020-02-12 19:55] pshipton commented on #7354
@DanHeidinga is there a particular target you want for this? I'll move it to the next milestone for now, and if deferred again then into the backlog.

[2020-02-12 20:39] sharon-wang commented on #8563
`\s` is a new escape sequence for "space" introduced in JDK 14, however we don't have support for this. http://cr.openjdk.java.net/~iris/se/14/build/latest/api/java.base/java/lang/String.html#translateEscapes()

I'll work on adding support for this

[2020-02-12 20:43] gacholio commented on #8403
The comment does not indicate that -Xint was used.

[2020-02-12 20:50] llxia commented on #8551
PR #8564 is merged. Please try jdknext build again.

[2020-02-12 21:16] pshipton commented on #8551
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OpenJDK-Acceptance/169/

[2020-02-12 21:47] gita-omr commented on #4930
PR: #7585

We are NOT going to do this

I think it would be fine to keep this text but say it will be discussed further in PR: 7585

[2020-02-12 21:50] gita-omr commented on #4930
@dmitripivkine do you think it will affect the mapping of the XX options? I think we only need to discuss the aspects that affect the mapping.

[2020-02-12 21:51] harryyu1994 commented on #8064
Tried to reproduce the failure with a recent build:
[code]
Seems like the NPE is now blocked by an assertion. Again, the assertion showed up in `-Xshareclasses:none -Xjit:initialOptLevel=hot` and not `-Xshareclasses:none -Xjit:initialOptLevel=noopt`

[code]

[2020-02-12 23:15] JasonFengJ9 commented on #8532
This problem can be reproduced via a standalone testcase built from a `jasm` file and a normal java file (not included):
[code]
Throwing `IncompatibleClassChangeError` is correct when invoking `AccessController.doPrivileged(PrivilegedAction<T> action)` with an `PrivilegedExceptionAction` object.

@DanHeidinga indicates that `Hotspot JVM` allows such invocation because its `native method AccessCont

[2020-02-12 23:22] ocafebabe commented on #8532
@JasonFengJ9 ok no worries, thanks a lot for your time and investigations!

[2020-02-12 23:22] #8532 closed

[2020-02-12 23:40] knn-k commented on #8558
@pshipton The latest nightly builds I can see in https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9 are dated February 7.
I tried the following, and it failed in the same way as the latest release 0.18.1.
OpenJDK11U-jdk_x64_mac_openj9_2020-02-07-02-19.pkg

[2020-02-13 01:19] knn-k commented on #8565
No aarch64-specific changes have been applied to OpenJ9 and OMR repositories recently.  I wonder what causes the crash.

[2020-02-13 03:42] pshipton commented on #8558
Ok, the nightly build problem was supposed to have been fixed, but apparently not yet.

[2020-02-13 04:00] AlenBadel commented on #4930
Well the whole sentence states

I'll change it to The Objectheap and Codecache will use the largest available large page size configured up to a defined ceiling. Each platform has certain upper limits to what large page size can be used, and for these specs please take a look at the limits specified in the xlp docs.

[2020-02-13 04:05] AlenBadel commented on #4930
I have looked into this. The size determination algorithm inside the port library which determines which page sizes should be used will stay unchanged for these options. We're respecting and expecting the same behaviour as seen using `-Xlp` on AIX. The only difference is that with -XX:+UseLargePages both the codecache and objectheap will use large pages, compared to `Xlp` where codecache ignored s

[2020-02-13 04:08] AlenBadel commented on #4930
Right. I'll spawn a related issue for this.

[2020-02-13 06:39] AdamBrousseau commented on #6274
This seems to be a problem again. At least for my pr build. Nightly looks fine. I will have to look into why this tends to get slower over time. We could ask Eclipse for some executors on master so we can run it there instead (We had to move it back to the worker agents when we moved to the new infra).

[2020-02-13 11:50] adam-thorpe opened #8570 "JTReg Test Failure: java/lang/invoke/DropLookupModeTest.java and java/lang/invoke/lookup/LookupClassTest.java"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_j9_sanity.openjdk_x86-64_mac/3/consoleFull
- test category: sanity.openjdk
- OS/architecture: jdk14 - all

Optional info
-------------
- intermittent failure (yes|no): no
- regression or new test: new test

Failure output (captured from console output)
---------------------------------------------
- DropLook

[2020-02-13 12:54] c-koell commented on #1538
Hi.

I have tried it as described ...
I am using a following JDK
[code]

I have copied the jars and dll's from following ibm jdk
[code]

If i run java -Xhealthcenter -Xbootclasspath/a:lib/healthcenter.jar -version
i get follwing output
[code]

Did I forget something?

[2020-02-13 13:20] pshipton commented on #8482
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/840
MauveMultiThreadLoadTest_special_22

[2020-02-13 13:25] pshipton opened #8571 "Java 14 MethodHandles::privateLookupIn may not produce a Lookup with full privilege access"
From the Java 14 release notes
"
The Lookup object produced by MethodHandles::privateLookupIn in this release may not have full privilege access. A lookup which possesses both PRIVATE and MODULE access modes is said to possess full privilege access that can be tested with Lookup::hasFullPrivilegeAccess method. Previously a Lookup returned from MethodHandles::privateLookupIn can be used to look up

[2020-02-13 13:26] pshipton commented on #8571
@DanHeidinga pls take a look.

[2020-02-13 13:38] Herr-Sepp commented on #8552
I can confirm that behavior.
My log output:

[code]
The process does not exit and the container is running.

[2020-02-13 13:38] adam-thorpe commented on #8571
Test for this: https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/openj9/test/jdk/java/lang/invoke/MethodHandles/privateLookupIn/test/p/PrivateLookupInTests.java
Which is run under `java/lang/invoke/MethodHandles/privateLookupIn/Driver.java`

[2020-02-13 13:43] adam-thorpe commented on #8571
Above test is looking for a currently unimplemented method `LookUp::hasFullPrivilegeAccess()`
java/lang/invoke/modules/Driver.java and Driver1.java are looking for `LookUp::previousLookupClass()`

[2020-02-13 13:46] cathyzhyi commented on #8548
@DanHeidinga yes, there is -Xjit:disableMethodHandleInlineWithoutPeeking

[2020-02-13 14:10] DanHeidinga commented on #8548
@avermeer Are you able to test with `-Xjit:disableMethodHandleInlineWithoutPeeking` to confirm that the problem no longer occurs with that option?

[2020-02-13 14:14] theresa-m commented on #8552
Thanks both of you! I was finally able to reproduce what you are seeing. I'll continue working on a solution.

[2020-02-13 14:32] knn-k commented on #8565
I cannot reproduce the crash in my build environments, neither native aarch64 Linux nor cross-build on x86-64 Linux.

[2020-02-13 15:05] adam-thorpe commented on #8565
@sxa555 could this be related to the gcc 7.5 changes? All of those have been sorted as far as I'm aware but this cropped up around then

[2020-02-13 15:20] dnakamura commented on #8183
@fjeremic I'm using the liberty throughput benchmark. IIRC I had similar numbers on xlinux when the jit was built with `-O0`

- Determined cause of windows issue. Problem is in omrsig. There is a bug in the logic we use to determine the name of the standard library, causing it to fail when you build in release /w debug symbols. Have a functioning build now and working on packaging up to get perf n

[2020-02-13 15:59] dmitripivkine commented on #4930
AIX implementation for -Xlp has own exceptions. For example -Xlp would push to use 16m pages.
If it is the behaviour we want to have for `XX:+UseLargePages` as well so no problem.
Another exception default large page size for executable is selected (as comment in the code state) "same page size as used by JIT code cache when allocated using omrmem_allocate_memory()" - just FYI

[2020-02-13 17:11] BeverlyXu commented on #8353
We originally planned to reproduce the problem and debug in our own environment. But we are having difficulty recreating the problem. Now we want to make a few suggestions to see if they help the problem.

Based on your description, the problem appeared **after** the initial loading, and started **after** a few activities. So it's most likely not a "startup" problem, but a problem during "throughp

[2020-02-13 17:27] JasonFengJ9 commented on #8548
A similar failure at `Java_java_lang_invoke_MutableCallSite_invalidate+0xf0832 (0x00000000716A5F12 [j9jit29+0x185f12])` from https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/840/tapResults/
[code]
To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
04:08:54  https://ci.adoptopenjdk.net/job/Grinder/pa

[2020-02-13 18:33] DanHeidinga commented on #8571
@ChengJin01 Can you take a look at this?  Its need for the JDK14 release and so is a priority

[2020-02-13 18:40] Leonardo2718 opened #8574 "Semantics of TR::allocationFence opcode"
I'm trying to understand the semantics of the`TR::allocationFence` IL opcode in the JIT. I think it's emitted right after allocations and code generators that don't need the memory fence can ignore it but I don't quite understand what it does.

Can someone shed some light on this? :slightly_smiling_face:
@andrewcraik @cathyzhyi @fjeremic @0xdaryl

[2020-02-13 18:40] ChengJin01 commented on #8571
Will check out to see how to deal with this situation.

[2020-02-13 19:36] AlenBadel commented on #4930
By default, the OpenJ9 launcher sets AIX to use 64K pages. When the user passes in -XX:+UseLargePages this will set the codecache to use 64K pages and this should always return 64K. AIX does not effectively use 16M pages, so to avoid adverse performance effects we'll stay to always using 64K unless the user specifies using 16M explicitly.

If the user specifies 16M explicitly, it will end up using

[2020-02-13 19:52] zl-wang commented on #4930
Please try your best to avoid misinformation:

Is this confirmed?

Binary size reality is the reason that 16M pages might not provide as big a benefit as expected. Plus, IERAT on some hardware(s) doesn't support 16MB pages.  Further reducing its effect. But it is not AIX's reason.

[2020-02-13 20:05] AlenBadel commented on #4930
Not yet, as designed that's the intention. I'll link the issue you've created https://github.com/eclipse/openj9/issues/8562. If that's broken, and that it's the case that 64K pages are not being used by default then it'll be fixed to make sure that 64K pages are used by default.

[2020-02-13 20:28] DanHeidinga commented on #8508
@mikezhang1234567890 Can you take a look at this once JEP 352 is complete?

[2020-02-13 21:26] pshipton commented on #8548
@JasonFengJ9 there is no indication this is the same problem. The vmstate isn't the same, there is no Method_being_compiled, and the offset from MutableCallSite_invalidate is much different. The only reason Java_java_lang_invoke_MutableCallSite_invalidate is in these stack traces is because there are no debug symbols available. I expect your failure report belongs in https://github.com/eclipse/ope

[2020-02-13 21:51] JasonFengJ9 commented on #8548
Agreed. I was eager to locate a testcase for this segmentation error .

[2020-02-13 21:54] ChengJin01 opened #8578 "J9VM_INTERP_NATIVE_SUPPORT and the corresponding flag in the Spec is outdated"
`J9VM_INTERP_NATIVE_SUPPORT` & the corresponding flag `interp_nativeSupport` in the existing implementation of OpenJ9 is outdated for a quite long time and doesn't work to disable JIT. Given that the flag is never used properly over years, it should be totally removed in our code to avoid any misunderstanding & misuse on this flag in the future.

FYI: @keithc-ca , @DanHeidinga, @pshipton, @gacholi

[2020-02-13 23:22] gita-omr commented on #4930
I think this discussion is moving in a wrong direction again. I don't think the purpose of this issue is to fix/document everything about the current -Xlp behavior. I think all the design at https://github.com/eclipse/openj9/issues/4930#issuecomment-527623042 should say is that -XX:UseLargePages will select page size and type in exactly the same way as -Xlp, except for zOS. Then, describe the zOS

[2020-02-14 00:20] Herr-Sepp commented on #4050
Hello, I am also afraid that my rather aggressive memory limit of the docker container will be exceeded by the JIT compilations.

I cannot find these options in the documentation
`Xjit:scratchSpaceLimit=`
`Xjit:enableSelfTuningScratchMemoryUsageBeforeCompile`
has it been replaced by [-Xcodecachetotal](https://www.eclipse.org/openj9/docs/xcodecachetotal/)?

Why is it possible to reduce the cache so

[2020-02-14 02:13] knn-k commented on #8565
This build at ci.eclipse.org went successful.
https://ci.eclipse.org/openj9/job/Build_JDK11_aarch64_linux_xl_Personal/115/

[2020-02-14 02:31] mpirvu commented on #4050
`Xjit:scratchSpaceLimit=`
`Xjit:enableSelfTuningScratchMemoryUsageBeforeCompile`

Options under `-Xjit:` heading are not supported and therefore they are not documented. They are mostly used for diagnostic or as workarounds for problems in the field.

While those two options refer to the transient memory used by the JIT during compilation, `-Xcodecachetotal` serves a totally different purpose and

[2020-02-14 03:53] pshipton commented on #8565
I don't know what compiler aarch64 uses, we didn't try to move it to gcc 7.5

[2020-02-14 04:08] #8563 closed

[2020-02-14 04:39] scikirbypoke commented on #8353
I read the jvm tuning guide and launched minecraft on openj9 with
`-Xms4096M -Xmx4096M -Xmns2048M -Xmnx3276M -Xgc:concurrentScavenge -Xgc:dnssExpectedTimeRatioMaximum=3 -Xgc:scvNoAdaptiveTenure -Xdisableexplicitgc`
The tick time was much better than last test, but just barely sustained around 30ms. Once I try to look around, it raise beyond 50ms and FPS drop from 40 to 0. After that, I used `-Xms4

[2020-02-14 06:11] scikirbypoke commented on #8353
Got GC log from minecraft with tuned arguments.
[verbosegc.20200214.132941.10603.txt](https://github.com/eclipse/openj9/files/4202992/verbosegc.20200214.132941.10603.txt)

[2020-02-14 12:36] pshipton commented on #8493
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly/280

[2020-02-14 12:40] pshipton commented on #8162
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/846
MauveMultiThreadLoadTest_special_18
variation: Mode607
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:count=0

[2020-02-14 12:44] pshipton opened #8582 "Java 14 Jep359Tests_0 records segfault"
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.functional_x86-64_mac_Nightly/4
Jep359Tests_0
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.functional_ppc64le_linux_Nightly/4
[code]

[2020-02-14 12:45] pshipton commented on #8582
@theresa-m @DanHeidinga

[2020-02-14 13:52] Herr-Sepp commented on #4050
Many thanks for the helpful explanations.

Hope that you find a way to implement a swap check, to make sure no one else gets OOM because of the JIT compilation anymore, when using K8s or similar container orchestrators.

[2020-02-14 14:10] dmitripivkine commented on #8353
@amicic Would you please take a look too?

[2020-02-14 14:41] theresa-m commented on #8582
investigating.

[2020-02-14 14:47] amicic commented on #8353
Pressure on the Tenure heap in the second half of the run is rather high causing frequent and long Global GCs. Just from Verbose GC it's not possible if these are real live data or there is potentially a leak somewhere - we need a couple of heap dumps at roughly 15 and 20 mins into the run. And of course we always need Verbose GC logs.

I'd recommend to simplify things and run next experiments wit

[2020-02-14 15:23] AlenBadel commented on #4930
@dmitripivkine Does https://github.com/eclipse/openj9/issues/4930#issuecomment-585935235 answer your remaining concerns?

@joransiu Just a reminder that I need your OK on Z/OS relevant proposals here.

[2020-02-14 15:31] LinHu2016 opened #8584 "Use 25% RAM as default maximum heap size for Java 8"
Issue or pull request number:
https://github.com/eclipse/openj9/pull/8498

Overview:
Modify default -Xmx rules for Java8 to be the same as Java11+, Add new -XX:[+-]OriginalJDK8HeapSizeCompatibilityMode option for back compatibility.

Release target:
Eclipse OpenJ9 0.19.0

Applies to the following JDK versions:
All JDK versions.

Applies to the following platforms:
All platforms.

For new command l

[2020-02-14 15:33] #8584 closed

[2020-02-14 17:24] fjeremic commented on #8574
I believe it has to do with the memory model of the target architecture. IIRC the only platform where we emit something would be Power. @zl-wang or @ymanton may be most knowledgeable in that area.

[2020-02-14 17:33] #8274 closed

[2020-02-14 17:47] zl-wang commented on #8574
yes, it has to do with POWER's weakly-consistent memory concerning object header's safety (otherwise, JVM can crash).  Java Memory Model even didn't talk about this explicitly, but it obviously assumed that JVM is safe to run.  As an example,

There are at least two groups of memory stores here (new object header initialization vs. the store to obj1.field).  Without the allocationFence, POWER hard

[2020-02-14 18:30] AdamBrousseau commented on #7826
Can this be closed?

[2020-02-14 18:31] AdamBrousseau commented on #8434
Can this be closed?

[2020-02-14 18:32] AdamBrousseau commented on #7179
related #2637 #8425

[2020-02-14 18:32] AdamBrousseau commented on #3154
Can this be closed?

[2020-02-14 19:09] ChengJin01 commented on #8571
I created a temp fix for the APIs involved but I am struggling to establish a test environment to reproduce the problem locally and verify my fix (it also doesn't work in the internal jenkins as confirmed by @llxia )

@adam-thorpe , @sophia-guo,  any idea how to set the test suite ups to run it locally?

[2020-02-14 19:31] pshipton commented on #8434
If I close it then it will probably happen again.

[2020-02-14 19:31] #8434 closed

[2020-02-14 19:32] #7826 closed

[2020-02-14 21:08] ChengJin01 commented on #8571
With the help of @sophia-guo and @llxia, I manged to reproduce the failure locally:
[code]
I will create a build with my changes to see how it goes next.

[2020-02-14 21:14] gacholio commented on #8578
This is also true of every flag in core.feature, and likely a bunch more that never got promoted into the feature.

[2020-02-14 22:47] dsouzai commented on #7890
I'm able to reproduce this on one of the internal windows machines. What's hilarious (sarcasm) is that the reason things like `-version` fail is because it's loading from the SCC that was created by the openj9 instance the Jenkins slave instance is running on. I've been running with https://github.com/dsouzai/openj9/commit/41e104372f2d188cd943e329fe6ef51f554c3360 , but that's kind of useless becau

[2020-02-14 22:54] mikezhang1234567890 commented on #8508
Will take a look.

[2020-02-14 23:27] smlambert commented on #3154
Yes, closing.

[2020-02-14 23:27] #3154 closed

[2020-02-15 01:35] AlenBadel commented on #7746
@pshipton Found the last of these calls. Once this PR is in we can close this issue. https://github.com/eclipse/openj9/pull/8589

[2020-02-15 02:19] scikirbypoke commented on #8353
Got two heap dumps, this time I could look around without encountering lags, but FPS always lesser than 25.
[Heap dump link](https://drive.google.com/file/d/1JCwNKgn2vMK0j5LJM-htg5eEjhs1eLql/view?usp=sharing)

[2020-02-15 02:24] DanHeidinga commented on #8578
As GAC indicates, this is one of many flags that can no longer validly be turned off.  At some point, we'll need to do a cleanup pass to remove some of these flags.

My preference is to use a tool like sunifdef to address them across the whole code base but doing so tends to introduce merge conflicts for all existing PRs so it hasn't risen to be a priority yet

[2020-02-15 02:48] #7945 closed

[2020-02-15 09:37] theresa-m commented on #8582
sorry for the delay. perhaps there is an uninitialized variable from https://github.com/eclipse/openj9/pull/8061 or https://github.com/eclipse/openj9/pull/8351 to cause only mac and ppc to fail though I'm not finding anything obvious so far.

[2020-02-15 09:55] theresa-m commented on #8582
Stack trace fails in cfreader while searching

[code]

https://github.com/eclipse/openj9/blob/master/runtime/bcutil/cfreader.c#L1985

[2020-02-15 12:51] pshipton opened #8590 "Jep359Tests_0 jdknext Class file is a preview version but has the wrong major version or preview is not enabled"
Failing all platforms in jdknext testing.
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_s390x_linux_OpenJDK/128
Jep359Tests_0
[code]

[2020-02-15 12:51] pshipton commented on #8590
@llxia @theresa-m

[2020-02-15 13:06] pshipton commented on #7746
You can use https://help.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords
I've updated the PR to do so.

[2020-02-15 18:01] theresa-m commented on #8582
@pshipton I think excluding these failing platforms makes sense for now so the records preview can continue to be tested on other platforms. I will get this fixed when I return to work after next week https://github.com/eclipse/openj9/pull/8591

[2020-02-15 21:25] avermeer commented on #8548
@DanHeidinga sorry for delayed answer, I was away for the past 3 days.

I ran our application with `-Xjit:disableMethodHandleInlineWithoutPeeking` and I confirm that it is working fine with this.

Now what is the next step? spreading `-Xjit:disableMethodHandleInlineWithoutPeeking` on our side is inconvenient, since we have many different involved shells, and even more test cases of various forms t

[2020-02-15 22:38] AdamBrousseau commented on #7890
I can confirm if I run a slave with `-Xshareclasses:none` the tests run fine. This reiterates an initial concern I had of migrating to Jenkins since the slaves themselves have a java process running on them. Do we need to think more about this in general? How can we avoid these types of situations? Or maybe it is desirable to have this environment as it has exposed this corner case?

[2020-02-16 15:12] #8554 closed

[2020-02-16 15:13] #7746 closed

[2020-02-16 15:27] pshipton commented on #7088
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/858
MauveMultiThreadLoadTest_special_25

[2020-02-17 08:26] RuiBaiXYZ opened #8593 "AdoptOpenJDK (build 11.0.6+10) is too slow to response"
cat /etc/redhat-release
--------------------
CentOS Linux release 8.1.1911 (Core)

uname -r
--------------------
4.18.0-147.5.1.el8_1.x86_64

java -version
--------------------
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled,

[2020-02-17 22:45] knn-k opened #8594 "Assertion failure in OMR::Block::createEmptyBlock()"
I see the following assertion failure in `OMR::Block::createEmptyBlock()` in OMR compiler/il/OMRBlock.cpp with my debug build, Java 11 for AArch64 Linux.  It disappears when I use `optlevel=cold`.

[code]

It looks like a platform-independent problem.  It is a `TR_ASSERT()` and you can reproduce it with debug builds only.

[code]
The Java method is related to the module system, so I don't think it

[2020-02-18 03:40] knn-k commented on #8565
Builds #80 and #83 went successful.
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9-linuxXL/83/console
#81 failed at "Compiling 4 files for BUILD_JIGSAW_TOOLS".

[2020-02-18 08:01] knn-k commented on #8594
I built x86-64 Linux runtimes to try this.  Neither the compressed refs build nor the large heap build reproduced the assertion failure.

[2020-02-18 09:44] M-Davies opened #8596 "JTReg Test Failure: java/net/Socket/asyncClose/Race.java timeout"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2243/

- test category, sanity.openjdk
- OS/architecture, aix
- public build SHAs (i.e. java -version output), in Grinder provides JDK_VERSION/JDK_IMPL info and helps identify point at which regression introduced:
[code]

Optional info
-------------
- New test:
- Part of the JDK14 Openj9 Milestone 1 Triage https://

[2020-02-18 09:47] M-Davies opened #8597 "JTReg Test Failure: java/nio/channels/DatagramChannel/AfterDisconnect.java"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2243/

- test category, sanity.openjdk
- OS/architecture, aix
- public build SHAs (i.e. java -version output), in Grinder provides JDK_VERSION/JDK_IMPL info and helps identify point at which regression introduced:
[code]

Optional info
-------------
- New test:
- Part of the JDK14 Openj9 Milestone 1 Triage https://

[2020-02-18 13:33] DanHeidinga commented on #8571
See also the javadoc:
http://cr.openjdk.java.net/~iris/se/14/latestSpec/api/java.base/java/lang/invoke/MethodHandles.Lookup.html#hasPrivateAccess()

and for a discussion of the modes:
http://cr.openjdk.java.net/~iris/se/14/latestSpec/api/java.base/java/lang/invoke/MethodHandles.Lookup.html#privacc

We'll also need to review how we handle removing access bits in apis like `dropLookupMode(int)`

[2020-02-18 13:43] pshipton commented on #8593
@RuiBaiXYZ what happens if you try the Large Heap (XL) variation?
https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=openj9
I suspect the slow startup time with the compressed refs variation is related to troubles searching for memory for the object heap.

With the slow JVM, please run `java -Xdump:java:events=vmstart -version` which will create a text file starting with `javacore

[2020-02-18 13:56] pshipton commented on #8548
@avermeer In the JVM installation there is a file `lib/options.default` where you can add the `-Xjit:disableMethodHandleInlineWithoutPeeking` option. You can add it on a new line in the file. Since this work around is available, we're unlikely to create a 0.18.2 release.

[2020-02-18 14:06] knn-k commented on #8558
I can run Eclipse IDE with the latest build for macOS at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9/477/artifact/workspace/target/OpenJDK11U-jdk_x64_mac_openj9_2020-02-17-19-07.pkg .

[2020-02-18 15:20] dsouzai commented on #8517
@jcompagner I had a question regarding this issue; Did you ever run the product with 0.17 on the same machine before trying out 0.18? I'm asking because I'm curious as to whether there's an existing default SCC that was created by the previous JVM version.

[2020-02-18 15:41] jcompagner commented on #8517
yes i did, and i now just reverted the whole update to that .18 release and it just works in the same machine..
Exactly the same product of us (eclipse based) and running that by just toggling in the eclipse.ini file between the .17 and .18 will make it run in the first and crash in the second.

[2020-02-18 15:42] sxa555 commented on #8508
For reference we are building on AIX `7100-04-01` at AdoptOpenJDK with xlc `16.01.0000.0000` (We did briefly run the builds on 7.1TL05SP05 but moved back for compatibility and because the OpenJ9 requirement from TL05SP05 went away for now.

[2020-02-18 15:42] jcompagner commented on #8517
But you are saying if i would just delete the shared cache it would work?
(not that that is something i can tell all our clients todo...)

[2020-02-18 15:49] avermeer commented on #8548
Hello @pshipton, thank you very much for this by-pass : worked like charm!

Any hope for a fix in 0.19.0 ?
Anything in nightly builds which I could test against our scenario?

Kind regards,
Alexandre

[2020-02-18 16:02] pshipton commented on #8548
Yes, the problem is resolved in the Milestone 1 builds, and also in the regular nightly builds.
https://github.com/AdoptOpenJDK/openjdk14-binaries/releases/tag/jdk-14%2B34_openj9-0.19.0-m1

[2020-02-18 16:06] dsouzai commented on #8517
Because I don't know what the root cause is I can't say that with any certainty. However, in our internal tests, the crash we were seeing was caused by the JVM loading from a cache that was created from a different java process (the one running the Jenkins slave) which I believe was running a different OpenJ9 version. I wanted to see if you were in a similar situation, which seems to be the case.

[2020-02-18 16:07] pshipton commented on #8508
It's not exactly gone away. TL05SP05 has a properly working `dump` utility and the older AIX versions do not. However we're not aware of any problems atm caused by the old `dump`.

[2020-02-18 16:12] pshipton commented on #8517
Note that this occurs automatically, when possible. On Windows it's not possible when a JVM is holding the cache open, as this prevents the cache file from being deleted.

[2020-02-18 16:40] jcompagner commented on #8517
that should go automatically and if it can't delete it for some reasons it should not start using the old cache! it should then just don't use anything at all..
i have on purpose: -Xshareclasses:nonfatal
so if something is not correct always start but then without the shared class cache.

To me it looks weird if something goes wrong in reuse (let it be delete, or what ever) that then the vm starts

[2020-02-18 16:44] pshipton commented on #8517
Yes, there is a bug, it shouldn't be crashing. Once we track it down it will be resolved to no longer crash.

[2020-02-18 16:54] dnakamura commented on #8183
Zlinux:
Found what I believe is the issue for zlinux. Turns out that compiler configuration on the build machines had changed, but I had my changes based on old tooling scripts. This meant that the builds were getting reconfigured and used different versions of the compiler (due to slight differences in the fallback behavior of the uma and cmake builds. I have new benchmark runs to confirm this wa

[2020-02-18 17:24] avermeer commented on #8548
Sounds good, but I should have asked more precisely : is there a Java 11 preview with the fix which I can test on Linux x64 and Windows x64?

On AdoptOpenJDK site, the nightly builds are still missing these 2 operating systems:
https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9
and "latest" nightly build is old (7th of February...)

[2020-02-18 17:58] llxia commented on #8590
From the job history, it seems that `Jep359Tests` failure was introduced by https://github.com/eclipse/openj9/pull/8351
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_s390x_linux_OpenJDK/

@LongyuZhang Could you please exclude this test for JDK15 for now? Thanks

[2020-02-18 18:04] kgibm commented on #6642
Thanks for everyone's time on this but we finally re-created the full customer environment internally, ran the above trace, and there is only a single call to `TransformerFactory.newTemplates` so this standalone reproduction was a false positive.

[2020-02-18 18:04] #6642 closed

[2020-02-18 18:40] pshipton commented on #8548
I see https://github.com/AdoptOpenJDK/openjdk-build/issues/1544 is open for the missing xLinux builds, can you please update it or open a new Issue for the missing Windows builds.

[2020-02-18 18:41] pshipton commented on #8548
While they aren't recommended for use, there are nightly builds at the OpenJ9 project. Last night's build is https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All-11/78/
If you click on the build link for the platform, the JVM used for testing is attached as an artifact.

[2020-02-18 18:49] 0xdaryl commented on #5455
Live registers: eclipse/omr#4843

[2020-02-18 19:07] dchopra001 opened #8605 "JITServer crashes during AcmeAir startup during ILGen"
While running AcmeAir on Z, the JITServer crashes while the client (Liberty) is starting.

Here is the backtrace:

[code]

Here's the code surrounding the crashing line:
https://github.com/eclipse/openj9/blob/95b4591a0f0471bc5848ea69b1257c77fb062406/runtime/compiler/env/j9method.cpp#L7103-L7112

I'm not sure how we haven't encountered this on other platforms yet. I don't see anything platform spec

[2020-02-18 19:15] amicic commented on #8353
This run looked much better from GC point of view.

The biggest difference was larger Tenure size. The previous 'tuned' experiment had only 2G Tenure and 2G Nursery. With default heap ratio Tenure is 3G and Nursery is 1G. The Tenure pressure problem was completely gone.

There were only a few Global GCs, and most of them were explicit.  -Xdisableexplicitgc tuning might be valuable, but it's still

[2020-02-18 19:26] mpirvu commented on #8605
Likely caused by https://github.com/eclipse/openj9/pull/7991

[2020-02-18 20:14] dettmoney opened #8607 "Slight performance degradation in time to first request between 232-b09 and 242-b08"
Java -version output
--------------------
openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-b08)
Eclipse OpenJ9 VM (build openj9-0.18.1, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20200122_511 (JIT enabled, AOT enabled)
OpenJ9   - 51a5857d2
OMR      - 7a1b0239a
JCL      - 8cf8a30581 based on jdk8u242-b08)

Summary of problem
------------------
I have a test that I ru

[2020-02-18 20:27] dchopra001 commented on #8605
It looks like `definingClassFromCPFieldRef` was introduced to replace `getClassFromCP`. Both implementations look similar. `definingClassFromCPFieldRef` replaces all calls to `getClassFromCP` except in one place:

https://github.com/eclipse/openj9/blob/802e6b90849424fcb672373a2222bd8e79cc1c77/runtime/compiler/compile/J9SymbolReferenceTable.cpp#L798-L816

This looks like new code added as part of t

[2020-02-18 20:33] ChengJin01 commented on #8571
According to the Java 14 Spec, there are two new APIs added to the Spec:
[code]
and the content of 3 APIs are updated with the new APIs above.
[code]
I need to double-check one by once as my code changes don't cover all the situations:
[code]

[2020-02-18 20:33] avermeer commented on #8548
I have updated  AdoptOpenJDK/openjdk-build#1544 and I will wait for the nightly images to be available at AdoptOpenJDK site.

[2020-02-18 20:45] DanHeidinga commented on #8607
@dettmoney Can you provide the `java -version` output for the 232-b09 version as well?  It makes it easier for us to look at the changes between the two versions as the output includes the OpenJ9 git SHAs

[2020-02-18 20:47] ChengJin01 commented on #8571
@DanHeidinga ,

Given that `previousLookupClass()` and `in()` are not covered in this test suite, should we address these two APIs in this issue or just wait till they are detected by https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/openj9/test/jdk/java/lang/invoke/AccessControlTest.java?

[2020-02-18 20:49] DanHeidinga commented on #8571
Let's address them here as we're aware they will be an issue.  Easier if all the changes are together

[2020-02-18 20:51] dettmoney commented on #8607
openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-b09)
Eclipse OpenJ9 VM (build openj9-0.17.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20191017_442 (JIT enabled, AOT enabled)
OpenJ9   - 77c1cf708
OMR      - 20db4fbc
JCL      - 97b5ec8f383 based on jdk8u232-b09)

[2020-02-18 21:16] DanHeidinga commented on #8607
Thanks @dettmoney.

That's 4 months worth of changes so there's a lot to look at.  Can you share the application?  Having access to run it will help to track down the regression.

fyi @andrewcraik @vijaysun-omr

[2020-02-18 21:30] dchopra001 commented on #8605
FYI Changing `if (resolved)` to `if (resolved && !comp()->isOutOfProcessCompilation())` temporarily avoids the problem. I'm not sure if this has any impact on performance.

[2020-02-18 21:51] mpirvu commented on #8605
I am working for a real fix to this issue, though it may generate many messages. In a second PR I will add some caching.

[2020-02-18 23:11] dsouzai commented on #7890
With 0.17, this is what I see with `-Xshareclasses:verbose`:
[code]

with 0.18 (and an SCC created by a 0.17 JVM, which can't be deleted because the process is still running):
[code]

It's an open question as to why when I run with 0.17 I don't see a crash at all. However, @pshipton @hangshao0 in the 0.18 case, if we fail to delete the SCC, why do we continue to use it the one created by a differe

[2020-02-19 02:11] RuiBaiXYZ commented on #8593
@pshipton Thanks for your reply.
Please refer to the attachment to confirm the detail of the command `java -Xdump:java:events=vmstart -version`.

[javacore.20200219.100124.17634.0001.txt](https://github.com/eclipse/openj9/files/4222756/javacore.20200219.100124.17634.0001.txt)

And below is the console output.

JVMDUMP039I Processing dump event "vmstart", detail "" at 2020/02/19 10:01:24 - please w

[2020-02-19 03:45] pshipton commented on #7890
That's not the way it was designed. If there is a cache incompatibility then we can change the cache generation number. Otherwise it's supposed to be safe to continue to use the existing cache, although not optimal. Many of the classes in the cache could be unchanged from the previous JVM version, and if not, it's handled properly.

[2020-02-19 04:11] pshipton commented on #8593
The javacore indicates the object heap was placed at 0x417CA0000, which isn't ideal, but suggests a work around. You can try running the JVM you have with the option `-Xgc:preferredHeapBase=0x418000000`.

I created a `CentOS Linux release 8.1.1911 (Core)` machine (uname -r is different 4.18.0-147.3.1.el8_1.x86_64), and wasn't able to reproduce the problem. I got a heap base of 0xE0000000).

It wou

[2020-02-19 04:18] pshipton commented on #8593
I updated my machine to 4.18.0-147.5.1.el8_1.x86_64 and still can't reproduce the problem.

[2020-02-19 04:24] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/279
building the test material
[code]

[2020-02-19 06:11] RuiBaiXYZ commented on #8593
Here is the output of `cat /proc/<pid>/maps`.

$ `java "-Xdump:tool:events=vmstart,exec=sleep 100" -version &`
[1] 26384
$ `cat /proc/26384/maps > javamaps-26384.txt`

[javamaps-26384.txt](https://github.com/eclipse/openj9/files/4223380/javamaps-26384.txt)

$ JVMDUMP039I Processing dump event "vmstart", detail "" at 2020/02/19 14:01:51 - please wait.
JVMDUMP007I JVM Requesting Tool dump using 'sle

[2020-02-19 14:37] pshipton commented on #8343
This hasn't re-occurred so I'll close it.

[2020-02-19 14:37] #8343 closed

[2020-02-19 15:03] pshipton commented on #8593
There is nothing in the proc/maps which indicates why such a high memory allocation was required. @dmitripivkine do you have any suggestions? We may need to enable some debugging output in the code.

@RuiBaiXYZ Does `-Xgc:preferredHeapBase=0x418000000` fix the slow startup problem?

[2020-02-19 16:08] hangshao0 commented on #7890
We always try deleting the existing cache if it is from a different build. There are cases that we may not be able to delete it. In such cases, if the cache generation number is the same, it is compatible and safe to use.  The generation number is part of the cache file name. We increment the cache generation number when there are in-compatible changes.

[2020-02-19 16:11] dsouzai commented on #7890
How is incompatibility determined? Is it something where a dev has to explicitly know when some change to the sharedcache lib causes an incompatibility?

[2020-02-19 16:20] hangshao0 commented on #7890
Yes. It is the developer who is changing the code needs to consider whether the change breaks compatibility.

[2020-02-19 16:40] DanHeidinga commented on #8607
Had an offline conversation with @dettmoney and connected him to Piyush to help narrow the window for when the regression was introduced

[2020-02-19 16:40] JasonFengJ9 commented on #8086
@Mesbah-Alam this test need to be excluded for `JDKnext` as well.

[2020-02-19 16:40] dmitripivkine commented on #8593
Object heap memory has been allocated with top address at 32 GB (0x0000000800000000):
[code]
This is optimum behaviour and it means the memory for Object Heap has been allocated **at first request**. However I noticed that requested maximum Object heap size is 16780754944 bytes (slightly under 16GB). This is Java 11 so default  `-Xmx` value is selected as 25% of RAM available on machine (so I gues

[2020-02-19 16:47] dmitripivkine commented on #8593
Looks like is normal. We do have the same behaviour on our test machine

[2020-02-19 16:49] fjeremic commented on #8594
@knn-k how did you build this? This is a `TR_ASSERT` which is not active during release builds. Are you building a debug build?

[2020-02-19 17:20] dmitripivkine commented on #8593
The line in the middle represents uncommitted part of Tenure (Old Space). This is normal

[2020-02-19 20:15] dmitripivkine opened #8616 "Inconsistent minimum Object heap Tenure/Nursery split"
Currently minimum Object heap settings are defined as:
[code]
where:
* `MINIMUM_VM_SIZE` (minimum accepted by `-Xms`) is minimum size of Object heap;
* `MINIMUM_OLD_SPACE_SIZE` is minimum size of Tenure;
* `MINIMUM_NEW_SPACE_SIZE` is minimum size of **half** of Nursery.

So the heap geometry assumed here is `MINIMUM_OLD_SPACE_SIZE + 2 *  MINIMUM_NEW_SPACE_SIZE` (Tenure/Nursery split 50%/50%)

Howe

[2020-02-19 20:33] simonameng commented on #7136
@andrewcraik We compared the VP code and the cases in X86 and Power. I believe VP code has already covered what X86 and Power are doing. And we are now thinking of:
1. Migrate the potion of the VP code that reduces a call to sun_misc_Unsafe_copyMemory to a TR::arraycopy node to J9RecognizedCallTransformer
2. Implement a VP pass over TR::arraycopy nodes which looks at the children and their constra

[2020-02-19 20:42] dmitripivkine commented on #8616
However proposed change would invalidate `-Xmso512k` and seems there are ZOS customers uses it.

[2020-02-19 20:44] amicic commented on #8616
In more general case, any user that has -Xmso between 512K and 768K will regress (fail to start), while the current behavior is to silently increase it to 768K

[2020-02-19 21:10] #8385 closed

[2020-02-19 22:20] ChengJin01 commented on #8571
Expect the changes with the fully private access in `hasPrivateAccess()` and `hasFullPrivilegeAccess()`,
a new concept called `previous lookup class` has been introduced since Java 14, which affects most of lookup specific operations, specifically including
[code]

Currently already finished the changes in (not yet verified)
[code]
and now looking at accessClass() against the Spec at
http://cr.ope

[2020-02-20 01:07] knn-k commented on #8594
Yes, I am building debug builds locally.
@0xdaryl says he was able to reproduce the failure on aarch64 with a product build by changing the `TR_ASSERT()` to `TR_ASSERT_FATAL()`.

I am wondering why I see this failure in IL only on aarch64 Linux but not on x86_64 Linux.

[2020-02-20 01:24] RuiBaiXYZ commented on #8593
@pshipton After add jvm argument `-Xgc:preferredHeapBase=0x418000000`, this phenomenon still exists I think.

`$time java -version -Xgc:preferredHeapBase=0x418000000`
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enable

[2020-02-20 03:00] pshipton commented on #8593
Pls try Dmitri's suggestion as well, `java -Xmx8g -version` to see if that makes any difference. If not, you can try smaller sizes.

If that doesn't help, what about `java -Xshareclasses:none -version`.

[2020-02-20 03:39] RuiBaiXYZ commented on #8593
`$ time java -Xmx8g -version`
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9   - 51a5857d2
OMR      - 7a1b0239a
JCL      - da35e0c380 based on jdk-11.0.6+10)

real	0m5.697s
user	0m0.068s
sys	0m0.042s

`$t

[2020-02-20 03:58] RuiBaiXYZ commented on #8593
I created a virtual machine via VM Player with parameters:

- Memory 8GB
- Processors 2

Sadly, virtual machine has the same phenomenon.

`# cat /etc/redhat-release`
CentOS Linux release 8.1.1911 (Core)
`# uname -r`
4.18.0-147.5.1.el8_1.x86_64
`# time java -version`
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build

[2020-02-20 08:42] avermeer opened #8618 "Java Crypto APIs fails on Windows machines without the "Microsoft Visual C++ 2013 Redistributable""
Hello,

When installing AdoptOpenJDK 11 with OpenJ9 on a Windows machine having no "Microsoft Visual C++ 2013 Redistributable" installed, Java applications relying on Java Cryptographic API fail to run.

We traced the issue and found that the root cause of it is that in OpenJ9 0.16.0, `libcrypto-1_1-x64.dll` is linked with old visual studio runtime, and that this runtime is not part of the AdoptOp

[2020-02-20 09:06] jcompagner commented on #8517
ok deleting the cache myself does start it up.
The first time i tested this again it was still locked because i use the same stuff also for my own Eclipse.
So i couldn't delete it myself also, but even when i released the lock and i started it again it still crashes didn't update the file.

If i then manually delete the file and then start 0.18 it worked.
If i then switched back to 0.17 i did see

[2020-02-20 09:29] jcompagner commented on #8517
ah can reproduce it if i restore my original file (the cache that was created 18-11-2019)
then if i make sure that file is locked the 0.18 crashes.
But if i let my 0.16 generated a new file then it works so it is something with my old file from last year
i zipped that:

http://download.servoy.com/C290M13F1A64P_sharedcc_jcomp_G41L00.7z

Wouldn't it be better if that name of the shared cache would h

[2020-02-20 10:11] RuiBaiXYZ commented on #8593
I guess the reason is memory.
My workstation's memory is 64GB, the  phenomenon occured.

While I created another virtual machine, via VM Player, allocated 4GB memory, every thing goes well.

And now, reinstalled my workstation with following steps:

1. Install from CentOS-8.1.1911-x86_64-dvd1.iso
2. `dnf -y update`
3. `dnf -y group install "Development Tools"`
4. reboot
5. `mkdir -p /usr/java`
6.

[2020-02-20 12:50] pshipton opened #8619 "jdk8u242-b08 crashes on AIX 7.1 : Type=Segmentation error vmState=0x00020011"
Copied from https://github.com/AdoptOpenJDK/openjdk-support/issues/61

AIX 7.1 (7100-05-04-1913) PPC64 (BE)

openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-b08)
Eclipse OpenJ9 VM (build openj9-0.18.1, JRE 1.8.0 AIX ppc64-64-Bit Compressed References 20200122_533 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b023
JCL - 8cf8a30 based on jdk8u242-b08)

- Steps to repr

[2020-02-20 12:51] pshipton commented on #8619
@trex58

@dmitripivkine can you pls take a look.

[2020-02-20 13:01] pshipton commented on #7088
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/882
MauveMultiThreadLoadTest_special_25

[2020-02-20 13:23] pshipton commented on #8618
Created https://github.com/AdoptOpenJDK/openjdk-build/issues/1556 and I'll close this one.

[2020-02-20 13:23] #8618 closed

[2020-02-20 13:27] pshipton commented on #8593
Pls try the Large Heap build.

[2020-02-20 13:50] avermeer commented on #8618
Thank you very much, this wasn't clear to me on which list this had to be opened

[2020-02-20 13:51] RuiBaiXYZ commented on #8593
I am so sorry.
Tried with `OpenJDK11U-jdk_x64_linux_openj9_linuxXL_11.0.6_10_openj9-0.18.1.tar.gz`, still need 40 seconds.

`# time java -Xdump:java:events=vmstart -version`
JVMDUMP039I Processing dump event "vmstart", detail "" at 2020/02/20 21:44:37 - please wait.
JVMDUMP032I JVM requested Java dump using '/home/coder/javacore.20200220.214437.6784.0001.txt' in response to an event
JVMDUMP010I Ja

[2020-02-20 14:20] JasonFengJ9 opened #8620 "JDKnext : Mauve[gnu.testlet.java.text.DecimalFormat.setGroupingSize] IllegalArgumentException: newValue is out of valid range. value: -1"
Failure link
------------

From internal builds:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

This is a similar failure as https://github.com/eclipse/openj9/issues/8086.

fyi @Mesbah-Alam

[2020-02-20 14:30] JasonFengJ9 opened #8621 "openjdk14_j9_extended.functional_s390x_linux SyntheticGCWorkload_DoubleMap_J9_0 bus error vmState=0x00020019"
Failure link
------------

From an internal build:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

Note: this is a `Type=Bus error vmState=0x00020019` so it might be a machine issue.

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
01:01:28  https

[2020-02-20 14:55] pshipton commented on #8621
@amicic @bragaigor

[2020-02-20 15:16] bragaigor commented on #8621
I' have just used the link above to rerun the test and it passed here:
https://ci.adoptopenjdk.net/job/Grinder/2280/

[2020-02-20 15:18] #5904 closed

[2020-02-20 16:22] mpirvu opened #8623 "J9VM_J9CLASS_TO_HEAPCLASS should not be used by JITServer"
`J9VM_J9CLASS_TO_HEAPCLASS` is a macro defined as:
[code]
Because it accesses a j9class directly, it is not safe to be used by the optimizer at JITServer. Instead we need a frontend query that will fetch the correct value from the client.

`J9VM_J9CLASS_TO_HEAPCLASS` is currently used in `compiler/optimizer/J9TransformUtil.cpp`

[2020-02-20 18:12] pshipton commented on #8593
Pls run `java -verbose:init -version` which might help identify where the time is being spent.

[2020-02-20 18:19] dmitripivkine commented on #8619
@trex58
Sorry, I can't reproduce the failure. I guess something is missed in my machine setup.
There is an output I got so far:
[code]
Please provide instructions.
Another way to handle this problem would be provide us system core dump file from crash (`core.*.dmp`).

In general this failure looks like as known problem (fixing in progress) related with not adequate reaction of JVM to Class Verific

[2020-02-20 18:47] JasonFengJ9 opened #8625 "Build_JDK14_ppc64_aix Sjavac server failed to initialize: Deadlock condition if locked"
Failure link
------------

From an internal build:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

@AdamBrousseau observed this kind of failure before.

[2020-02-20 18:49] pshipton commented on #8619
To provide the core file, you can first compress it, and then make it available via some file sharing service.

[2020-02-20 19:01] pshipton commented on #8593
Guessing again at where the problem might be, there is something else you can try to onfirm.

Using the Large Heap JVM:
- `bin/java -Xdump:system:events=vmstart` to produce a core* file
- `bin/jdmpview -core <core file>`
- copy and paste the output from `!findvm` and add ` | grep RAS` to end. For example, `!findvm` might show `!j9javavm 0x00007F97AC00DC50` so I want to see the output from `!j9java

[2020-02-20 19:06] Mesbah-Alam commented on #8620
https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/327 excludes the sub-test on jdk14+. Please verify and close the issue.

[2020-02-20 19:40] pshipton commented on #8621
@bragaigor pls connect with @JasonFengJ9 and try to recreate it internally on the same machine where it originally occurred.

[2020-02-20 19:47] JasonFengJ9 commented on #8621
@pshipton the internal build info has been passed to @bragaigor and @dmitripivkine .

[2020-02-20 20:52] dmitripivkine commented on #8621
unfortunately test results were not stored (this is not implemented by Test team yet)
So I expect the grinder would not store results too. Seems we need to try to reproduce manually on machine

[2020-02-20 20:53] pshipton commented on #8593
One other idea, pls try `java -Xint -version`

[2020-02-20 22:28] RuiBaiXYZ commented on #8593
Attachement is the console output of large heap verion.

[java-verbose-init-version.txt](https://github.com/eclipse/openj9/files/4233301/java-verbose-init-version.txt)

[2020-02-20 22:40] pshipton commented on #8593
This looks like the culprit.
[code]

Does running with `-XX:-ReadIPInfoForRAS` fix it? Seems your network isn't setup properly.

[2020-02-20 22:51] RuiBaiXYZ commented on #8593
@pshipton  Great, solved with `-XX:-ReadIPInfoForRAS`.

I think this is due to network restriction of china.
But can you tell to me that why need to determine network for RAS, and what is the host name/IP , or the pursose of this mechanism.

Thank you very much.

[2020-02-20 23:14] RuiBaiXYZ commented on #8593
Additional question.
Suppose because of the network.
Yesterday, the virtual machine(4GB Memory) was created on workstation, they had the same network and the same jdk version. Virtual machine was normal to response, but workstation was slow. I think there may be some reasons, sadly, but I do not know how do investigate.

[2020-02-21 00:46] RuiBaiXYZ commented on #8593
I found this link [-XX:[+|-]ReadIPInfoForRAS](https://www.eclipse.org/openj9/docs/xxreadipinfoforras/
)

[2020-02-21 00:46] #8593 closed

[2020-02-21 02:50] pshipton commented on #8593
Yes, the JVM just stores the information so it's available in a system core file. It can be useful for diagnosing some types of problems.

[2020-02-21 03:20] #8605 closed

[2020-02-21 06:10] RuiBaiXYZ commented on #8593
Is there any solution to close globally.  As  `-XX:-ReadIPInfoForRAS`.
I tried with JAVA_OPTS but no effect.

[2020-02-21 08:13] trex58 commented on #8619
Hummm I think that the "-mindepth" error you faced is related to the RPM packages that are installed on my AIX system, providing GNU "find" command able to handle more options than the AIX "find" command, plus other RPMs.
So, that would take you some time, installing RPMs like "find", in order to have the required environment I have.

About the core, the trace of Bazel bootstrap says:
JVMDUMP032I

[2020-02-21 12:56] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/282
testSCCacheManagement_0
[code]

[2020-02-21 12:59] pshipton opened #8628 "ASSERTION FAILED ** at CompositeCache.cpp:5438: (((softMaxValue - usedBytes) >= 2048))"
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_OpenJDK/126
JLM_Tests_interface_0
[code]

[2020-02-21 12:59] pshipton commented on #8628
@hangshao0 pls take a look

[2020-02-21 13:00] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_linux_Nightly/11
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-02-21 13:07] JasonFengJ9 commented on #8593
`OPENJ9_JAVA_OPTIONS` can set the command line option environment variables.

[2020-02-21 13:23] JasonFengJ9 commented on #8620
The failure is not seen in latest build, thanks for quick action.
Closing.

[2020-02-21 13:23] #8620 closed

[2020-02-21 13:30] JasonFengJ9 commented on #7562
From an internal build `openjdk11_j9_extended.system_ppc64_aix SharedClasses.SCM01.MultiThread_0`
[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
03:00:53  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=ppc64_aix&TARGET=SharedClasses.SCM01.MultiThread_0

[2020-02-21 14:09] JasonFengJ9 opened #8629 "openjdk8_j9_sanity.functional_x86-64_linux_xl j9vm.test.nestedJar.NestedJarFileTest"
Failure link
------------

From an internal build:

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

Rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links: https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=functiona

[2020-02-21 14:16] JasonFengJ9 commented on #8629
Also failed in this build (all shared class related)

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links: https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=x86-64_linux_xl&TARGET=cmdLineTester_SCCommandLineOptionTests_0

[2020-02-21 15:50] pshipton commented on #8629
@hangshao0

[2020-02-21 16:01] hangshao0 commented on #8629
[code]

nameOption.sh will compile HelloWorld.java and SimpleGrep.java. Those files are missing. Seems like a test set-up issue.

[2020-02-21 16:03] pshipton commented on #8619
IBM Java and OpenJDK+OpenJ9 don't support JAVA_OPTS, so if you see a change in behavior from setting it, there must be another VM being used. A simple test is to set -Xmx via JAVA_OPTS and then run `java -verbose:gc` which prints `<attribute name="maxHeapSize" value="0x20000000" />`, 0x20000000 being 512MB.

[2020-02-21 16:09] hangshao0 commented on #8628
I am looking at this failure.

[2020-02-21 16:15] hangshao0 commented on #8629
5x grinder here: https://ci.adoptopenjdk.net/job/Grinder/2295/

[2020-02-21 16:35] trex58 commented on #8619
Yes. Only IBM_JAVA_OPTIONS works.

+ ulimit -s unlimited
+ ulimit -m unlimited
+ ulimit -d unlimited
+ export IBM_JAVA_OPTIONS=-Xmx8000m
+ export JAVA_HOME=/usr/jdk8u242-b08-openj9-0.18.1
+ /usr/jdk8u242-b08-openj9-0.18.1/bin/java -verbose:gc
...
  <attribute name="maxHeapSize" value="0x1f4000000" />
....
+ /usr/jdk8u242-b08-openj9-0.18.1/bin/java -version
openjdk version "1.8.0_242"
OpenJDK Runti

[2020-02-21 17:42] AdamBrousseau commented on #8257
Wondering if we should change the compile jobs to run `java -Xjit -version` instead? This would cause the compile to fail RED rather than passing and continuing onto test.
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/build.groovy#L276

[2020-02-21 17:44] ChengJin01 commented on #8571
Already finished all Lookup specific code changes in the APIs listed above and working on solve the compilation errors as these APIs are not backward-compatible to the existing hehaivour.
e.g.
[code]
against the code at MethodHandle.java
[code]

[2020-02-21 18:20] JasonFengJ9 commented on #8257
Internal builds need this check, a bunch of test buckets are still failing due to the same bad build.

[2020-02-21 18:38] pshipton commented on #8257
Why does `java -Xjit -version` cause a failure? -Xjit is the default and `java -version` already prints a message about the missing symbol, but it doesn't cause failure.

[2020-02-21 18:40] pshipton commented on #8619
Note ` OPENJ9_JAVA_OPTIONS` is preferred over `IBM_JAVA_OPTIONS`. It works for both IBM Java 8 current builds, and OpenJDK+OpenJ9 builds. `IBM_JAVA_OPTIONS` is deprecated.

[2020-02-21 18:59] AdamBrousseau commented on #8257
IIUC, when java -version fails to load the jit it defaults back to running without it and exits 0. If you use the option, when it fails it fails hard.
[code]

[2020-02-21 19:11] hangshao0 commented on #8628
[code]

There is a race condition that one thread (0x0000000002377300) is setting the cache full flags and runtime full flags, while another thread (0x0000000002373700) has read the obsolete cache full flag value (0) and unsets the runtime full flags. There is a very small time window.

[2020-02-21 19:35] hangshao0 commented on #8629
j9vm.test.nestedJar.NestedJarFileTest passed here:
https://ci.adoptopenjdk.net/job/Grinder/2295/tapResults/ (a few other tests failed because native test lib is not passed in when launching the grinder)

cmdLineTester_SCCommandLineOptionTests_0 passed here:
5x grinder https://ci.adoptopenjdk.net/job/Grinder/2296/tapResults/

I guess some files (like HelloWorld.java, SimpleGrep.java) required by th

[2020-02-21 20:09] pshipton commented on #8257
Ok, pls make it so.

[2020-02-21 21:09] jdekonin commented on #8508
So it appears that setting the data seg size to 1572864 gets this working.  I had noticed that `export LDR_CNTRL=MAXDATA=0x80000000` was not actually being set with a manual logon but that apparently has no impact on this particular failure.

aix-openj9-1 differs from the documented instructions for `data seg size` and `stack size`.
data seg size           (kbytes, -d) unlimited
stack size

[2020-02-21 23:10] pshipton commented on #8508
I know we recently made this change to set the data soft limit to the hard limit.
https://github.com/eclipse/openj9/pull/8367
If the data limit is too low you can get OutOfMemoryError trying to create a new Thread.

[2020-02-22 01:09] RuiBaiXYZ commented on #8593
@JasonFengJ9 Great, successfully set environment variables with `OPENJ9_JAVA_OPTIONS`.
Thanks.

[2020-02-22 05:02] pshipton opened #8634 "jdknext configure failing - syntax error near unexpected token `M4,'"
Failing across all platforms.
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/179/
[code]
Changes since last working build.
https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/8ce7845...d063b9f
Guessing the following change introduced the problem.
https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/94e3a77a78503b08b029cd21de2f0b937d431fe3

@keithc-ca

[2020-02-23 04:02] scikirbypoke commented on #8353
More tests on lowest video setting Omnifactory shows same initial memory allocation with maximum memory allocation has positive effect on both hotspot and openj9, but even after that openj9's tick time  is two times of hotspot's, and opej9's FPS is more unstable.
https://imgur.com/a/pIl46HD

[2020-02-23 21:41] pshipton opened #8635 "MathLoadTest_autosimd NullPointerException AutoSIMDTestDouble.testSimpleBinary"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/893
MathLoadTest_autosimd_special_27
variation: Mode612-OSRG
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:gencon -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation
[code]

[2020-02-23 21:47] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal/69
LambdaLoadTest_OpenJ9_NonLinux_special_24

[2020-02-23 21:52] #8634 closed

[2020-02-24 05:25] yangzhang-ibm-au opened #8636 "JVM crashed with our application inside docker containers"
Hi,
We are an IBM internal team, we have been seeing a JVM crash issue and we were able to reproduce it with the following 2 Java versions:

Java -version output - 1
--------------------
openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-b09)
Eclipse OpenJ9 VM (build openj9-0.17.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20191017_442 (JIT enabled, AOT enabled)
Open

[2020-02-24 12:40] JasonFengJ9 commented on #8636
@yangzhang-ibm-au can you provide the diagnosis file in a box file (https://www.box.com) or another public accessible location?
Or you could send it to me directly via slack ID `U88PN76TY`.

In addition, is there a way to reproduce it in a standalone testcase?

[2020-02-24 12:41] M-Davies opened #8637 "Multiple JTReg JVM Failures on large heap builds"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/2baf17d18e36af5750446aff79407efdc3eb97be/test/jdk/java/nio/channels/SocketChannel/CloseDuringConnect.java#L1 fails on JDK14-j9

- test category, openjdk
- OS/architecture, multiple

Optional info
-------------

- intermittent failure (yes): https://github.com/AdoptOpenJDK/openjdk-tests/issues/1596#issuecomment-58961

[2020-02-24 13:26] jdekonin commented on #8508
Problems creating a new thread would be related to `max user processes` no?

The hard limit for `data seg size` on the systems I have access to default to unlimited.  I'm not certain we want to be doing that.  @gita-omr @zl-wang would either of you have suggestions as to ulimit settings to use for our AIX machines; specifically `data seg size`.

[2020-02-24 13:46] DanHeidinga commented on #8636
@JasonFengJ9 assigning to you initially as you volunteered to get access to the crash data.

[2020-02-24 14:29] manqingl commented on #8636
The system core file is truncated and not workable. This is what I found from the javacore file.

NULL
1XMTHDINFO     Thread Details
NULL
3XMTHREADINFO      "Finalizer thread" J9VMThread:0x0000000002302000, omrthread_t:0x00007F2A63586AB0, java/lang/Thread:0x0000000500057DB0, state:R, prio=5
3XMJAVALTHREAD            (java/lang/Thread getId:0x18, isDaemon:true)
3XMTHREADINFO1            (native thr

[2020-02-24 14:54] JasonFengJ9 commented on #8636
@yangzhang-ibm-au can you give a try with `-Djdk.nativeCBC=false`?

[2020-02-24 15:42] dnakamura commented on #8183
Zlinux:
With the compiler change we are now seeing an improvement of troughput vs the uma build.

Windows:
Issue with the perf site turned out to be a database error. Database  was rolled back to last backup which means I lost my most recent perf runs. However after re-running on the same build results in segfaults. Trying to investigate, but the problem is proving difficult to reproduce locally

[2020-02-24 16:00] pshipton commented on #8636
Looks like a repeat of https://github.com/eclipse/openj9/issues/8181
@ashbm5

[2020-02-24 16:11] pshipton commented on #8087
@JasonFengJ9 does this problem still occur? Is this the sanity.openjdk tests?

[2020-02-24 16:11] JasonFengJ9 commented on #8636
It appears `openj9-0.18.1` doesn't have https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/356.

@yangzhang-ibm-au please verify if the problem can be reproduced with latest night builds [1].

[1] https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2020-02-24-12-06/OpenJDK8U-jdk_x64_linux_openj9_2020-02-24-12-06.tar.gz

[2020-02-24 16:16] andrewcraik commented on #8637
@r30shah this is an assert out of `OMR::Block::splitPostGRA` could you take a look? Note the 0.19 target for a fix.

[2020-02-24 16:19] pshipton commented on #7817
@DanHeidinga I don't find any use of suspend/resume in OpenJ9 code. Is there anything further to do for this Issue, besides possibly warning creators of DDR extensions to avoid these deprecated APIs?

[2020-02-24 16:20] pshipton commented on #7752
@DanHeidinga do you know what the next step is for this?

[2020-02-24 16:23] adamfarley commented on #7053
@sadaaithal - Here is the resolution for this issue. Please review and let me know your thoughts.

*Summary*
- The command line option will not be accepted by the OpenJDK community upstream.
- This code makes CL option work (as jdk.cl.verbose) on jdk11, and can be used to create custom debug builds:
http://cr.openjdk.java.net/~afarley/8232773/webrev/
- Some of the information formerly provided by

[2020-02-24 16:23] pshipton commented on #6933
@DanHeidinga is there somebody who can take a look at this one?

[2020-02-24 16:29] pshipton commented on #8549
@JasonFengJ9 have there been more occurrences of this failure?
BTW, it would be nice to know which test suite the failures come from.

[2020-02-24 16:48] JasonFengJ9 commented on #8087
It was excluded as per https://github.com/eclipse/openj9/issues/7945#issuecomment-585124633

@adam-thorpe can you re-enable the tests?

fyi @theresa-m

[2020-02-24 16:56] sadaaithal commented on #7053
@adamfarley
thanks for the details adam. i will try this one out on a local setup soon.
for now, this issue can be closed given that we have other ways of getting the same info as "ibm.cl.verbose"

[2020-02-24 16:58] adam-thorpe commented on #8087
Whats the full name of this test?

[2020-02-24 17:09] JasonFengJ9 commented on #8549
BTW, it would be nice to know which test suite the failures come from (i.e. sanity or extended).

It passed in latest builds.
[code]

The rebuild link only shows it is `functional` and the TARGET is `cmdLineTester_jvmtitests_hcr_OSRG_nongold_2`.
It is an `extended` level test.1

[2020-02-24 17:09] #8549 closed

[2020-02-24 17:10] DanHeidinga commented on #7817
Turns out we removed that extension prior to open sourcing as it wasn't used.  Nothing further required here

[2020-02-24 17:10] #7817 closed

[2020-02-24 17:11] JasonFengJ9 commented on #8087
This individual test was excluded as `java/io/Serializable/records/AbsentStreamValuesTest.java    https://github.com/eclipse/openj9/issues/7945 generic-all`
I think `java/io/Serializable/records` need to be enabled as a whole as well.

[2020-02-24 17:50] mpirvu opened #8639 "Reduce number of ResolvedMethod_definingClassFromCPFieldRef messages"
`ResolvedMethod_definingClassFromCPFieldRef` is a new message that appeared as a consequence of #8610. Performance experiments show that it has become the most frequent message of all, so we need to employ some caching to reduce its frequency. We can use a technique similar to `ResolvedMethod_getDeclaringClassFromFieldOrStatic`.

[2020-02-24 17:58] #7053 closed

[2020-02-24 18:05] ashu-mehra commented on #8229
Currently the flag propagation for enabling JITServer support in JIT and VM works as follows:

**JIT side:**
When user specifies `--enable-jitserver` option at the configure step (when building OpenJ9 with Adopt makefiles), then the makefile [closed/OpenJ9.mk](https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/75dba088c45e515fbfe4c7afa6671b77e68d000f/closed/OpenJ9.gmk#L426) sets an env varia

[2020-02-24 18:43] keithc-ca commented on #8229
The most straight-forward strategy that occurs to me is to just use `J9VM_BUILD_JITSERVER` throughout (that is remove all occurrences of `JITSERVER_SUPPORT`).

[2020-02-24 19:12] DanHeidinga commented on #8229
I agree with Keith - using the option defined in the `j9.flags` is the right approach.  If I had my pick, I probably would have used an `opt_` flag rather than a `build_` flag but either would work

[2020-02-24 19:19] ashu-mehra commented on #8229
thanks @keithc-ca @DanHeidinga I will change `JITSERVER_SUPPORT` macro to `J9VM_BUILD_JITSERVER`. As we are changing the macro, I can also update it to `opt_` instead of `build_`.

Just to be clear, I don't think we need to change the env variable set by Adopt makefiles as it is required by JIT to select files for compilation, as in https://github.com/eclipse/openj9/blob/79aa8cfe4ae439efbe6b933a23

[2020-02-24 19:37] keithc-ca commented on #8229
I think the makefiles and cmake files should be changed as well for consistency.

[2020-02-24 19:38] smlambert opened #8641 "Using OPENJ9_JAVA_OPTIONS versus JAVA_OPTS causes confusion"
This issue is to discuss whether OpenJ9 should support (not ignore JAVA_OPTS), as recently there have been 3 separate users that have tried to use JAVA_OPTS and have hit difficulties.  (https://github.com/eclipse/openj9/issues/8619 is one example).

JAVA_OPTS="-Xmx8000m" option is not recognized by OpenJ9, so you have to use OPENJ9_JAVA_OPTIONS="-Xmx8000m".

Is this something that we can or should

[2020-02-24 19:43] DanHeidinga commented on #7752
The last comment in https://issues.apache.org/jira/browse/HDFS-14488 is:

@avermeer Does this still happen in your environment?  Have you tried recompiling libhdfs?

[2020-02-24 19:48] DanHeidinga commented on #8641
Historically, I believe we've avoided supporting `JAVA_OPTS` to allow frameworks & scripts to set Hotspot-specific options there and J9-specific ones in `OPENJ9_JAVA_OPTIONS`.

It may be time to revisit that decision.

The caveat here being what to do with environments that used the flexibility to specify options separately.  We may want a graceful fallback to ignore unrecognized options in `JAVA_

[2020-02-24 19:50] ashu-mehra commented on #8229
okay

[2020-02-24 19:50] DanHeidinga commented on #8641
Assigning to Milestone 20 as we should make a decision on this before that release

[2020-02-24 19:52] DanHeidinga commented on #6933
@fengxue-IS Can you take a look at this?

[2020-02-24 19:57] fengxue-IS commented on #6933
looking into this

[2020-02-24 20:03] pshipton commented on #8507
The Adopt issue has been closed, caused by anti-virus software.

[2020-02-24 20:03] #8507 closed

[2020-02-24 20:03] ashu-mehra commented on #8229
@mpirvu fyi

[2020-02-24 20:10] mstoodle commented on #8641
Another possibility might be to by default ignore unrecognized options specifically during `JAVA_OPTS` processing (is that easy to do?) . Then `-XX:-IgnoreUnrecognizedVMOptions` could override this behaviour if the user really wants to know when they're using a bad option.

Backwards compatibility requires an option to *not* process `JAVA_OPTS` entirely, doesn't it? There could be different (perfe

[2020-02-24 20:46] samasri commented on #7839
Looking more into this bug, I've noted the following so far:
* Adding an `fflush(stdout)` makes the test passes (even though this cannot be the solution, but thought it's worth noting).
* The failure is happening due to a seg fault in `DigestCreateContext` function in [_NativeCrypto.c_](https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/closed/src/java.base/share/native/libjncrypto/Na

[2020-02-24 21:10] pshipton commented on #8178
Related to https://github.com/eclipse/openj9/issues/8085
@Mesbah-Alam can you pls take a look.

[2020-02-24 21:17] pshipton commented on #4210
The update to gcc 7.5 is completed.
https://github.com/eclipse/openj9/pull/8443
https://github.com/eclipse/openj9/pull/8559
https://github.com/AdoptOpenJDK/openjdk-build/issues/1508

[2020-02-24 21:17] #4210 closed

[2020-02-24 21:28] mpirvu commented on #8639
My cache prototype reduces the number of `ResolvedMethod_definingClassFromCPFieldRef` messages in AcmeAir from about 67K to 4.6K, so 93% of messages are eliminated.

[2020-02-24 21:34] pshipton commented on #3475
#8498 is merged and a docs PR https://github.com/eclipse/openj9-docs/pull/509 is open, I believe this is completed.

[2020-02-24 21:34] #3475 closed

[2020-02-24 21:34] theresa-m commented on #8590
Since this is testing a preview feature for Java 14 I think it should always be excluded from future versions.

Updated the comment to reflect that: https://github.com/eclipse/openj9/pull/8643

[2020-02-24 21:55] ashu-mehra commented on #8228
@DanHeidinga can you please provide your inputs on this.

[2020-02-24 22:00] theresa-m commented on #8582
found the problem: https://github.com/eclipse/openj9/pull/8644

[2020-02-24 22:28] pshipton commented on #8590
As a reminder to revisit this for Java 15, in case JEP 359 remains a preview feature, I'm going to reopen and put it into the Java 15 milestone plan.

[2020-02-24 23:17] ChengJin01 commented on #8571
Fixed all compilation issues in code changes and now working on the test failure in https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/openj9/test/jdk/java/lang/invoke/DropLookupModeTest.java.

[2020-02-25 00:10] yangzhang-ibm-au commented on #8636
Thanks for the kindly help from everyone!

@JasonFengJ9 Thanks for the help! I have invited you to a Box folder which contains the core dump, java core, snap trace files, etc.
Do you want me to try the latest nightly build with`-Djdk.nativeCBC=false`? And is it a general practice to use that option for all our applications regardless of this issue?

[2020-02-25 00:25] pshipton commented on #8636
`-Djdk.nativeCBC=false` turns off the feature which is causing this problem. The problem should already fixed in the nightly builds, and for the next OpenJ9 Java 8 release (0.20.0 in April), but the fix isn't in the 0.18 release which you have tested.

[2020-02-25 00:28] yangzhang-ibm-au commented on #8636
@pshipton  Thanks for the info! Glad to know that it's already fixed. I've started the testing with `-Djdk.nativeCBC=false`. And we will try the latest nightly build if necessary.

[2020-02-25 00:54] fjeremic opened #8647 "Add static qualifier to applicable methods in ExtendedOperatingSystemMXBeanImpl"
As part of a PR review [1] we have identified that many of the APIs within the `ExtendedOperatingSystemMXBeanImpl` class [2] can be made `static`. The goal should be to identify all APIs within the class that can be made `static` and to bulk-transform them by adding the `static` qualifier and updating the corresponding backing native implementations.

[1] https://github.com/eclipse/openj9/pull/826

[2020-02-25 01:11] pshipton commented on #8636
Note that if you are using cryptography, `-Djdk.nativeCBC=false` may have an affect on performance.
https://www.eclipse.org/openj9/docs/djdknativecbc/

[2020-02-25 02:38] #8582 closed

[2020-02-25 03:26] #8628 closed

[2020-02-25 07:51] knn-k commented on #8594
The assertion failure occurs during the loopVersioner optimization.  It disappears by adding `disableLoopVersioner` to the `-Xjit:` option.
[code]

[2020-02-25 08:53] knn-k commented on #7462
#8651 implements the invokeinterface case.

[2020-02-25 09:28] adam-thorpe commented on #8087
Done

[2020-02-25 10:43] M-Davies opened #8652 "JTReg VM Failure: java/nio/charset/coders/BashStreams.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/f4e1e81163ae8ead82ac546d7f8d2e7a3ed24871/test/jdk/java/nio/charset/coders/BashStreams.java#L1 fails on JDK11-openj9 AIX
- test category, openjdk
- OS/architecture, ppc64_aix
[code]

Optional info
-------------
- New test

Failure output (captured from console output)
---------------------------------------------
[co

[2020-02-25 11:33] M-Davies commented on #8637
Also fails on s390x_linux_xl for `java/nio/file/WatchService/UpdateInterference.java`
[code]
Dumps: https://ibm.box.com/s/fwhhfnacqphjcv9aq1g4opnwzcxzf37y

[2020-02-25 12:01] pshipton commented on #8652
@M-Davies how often does it fail?

[2020-02-25 12:02] yangzhang-ibm-au commented on #8636
@pshipton Thanks for the reminder!
We did some tests with the `-Djdk.nativeCBC=false` option and haven't seen any JVM crash yet. We will do more tests to see if there is any significant impact on performance.

[2020-02-25 12:58] pshipton commented on #8403
@cathyzhyi are you still looking at this?

[2020-02-25 13:14] pshipton commented on #7500
I'll go ahead and close this, replaced by #8450

[2020-02-25 13:14] #7500 closed

[2020-02-25 13:20] pshipton commented on #8652
Does it fail on jdk14 as well?

[2020-02-25 13:26] keithc-ca commented on #8647
I think this is a more general issue: many natives in many classes could be static that are not.

[2020-02-25 14:12] pshipton opened #8653 "testJITServer_1 testServerGoesDown AssertionError"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/290
testJITServer_1
[code]
[code]

[2020-02-25 14:13] pshipton commented on #8653
@mpirvu

[2020-02-25 14:18] r30shah commented on #8637
Code where this failure occurs is working on finding register to use for common node across spit point to uncommon it. When it gather the information about available registers to use, it scans all the exit edges in the Extended Basic Block and see if it can use any information. It throws an Assert when it sees a node under `PassThrough` under `GlRegDeps` and can not find a `regStore` node for whic

[2020-02-25 14:22] pshipton commented on #8637
Note jdk14 build from Adopt are available, just not from the website.
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk14/

[2020-02-25 14:24] mpirvu commented on #8653
@ymanton since you added this new test, could you please look into it? Thanks

[2020-02-25 14:38] M-Davies commented on #8637
@r30shah

`Hangup.java`-> https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_j9_sanity.openjdk_x86-64_mac_xl/13/
`CloseDuringConnect.java` -> https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_j9_sanity.openjdk_x86-64_mac_xl/10/
`UpdateInterference.java` -> https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_j9_sanity.openjdk_s390x_linux_xl/11/

[2020-02-25 14:48] fjeremic commented on #8594
@knn-k can you reduce down to the last subindex:

[code]

replacing _x_ with a transformation number (start at something like 64) and binary searching all the way down to 0 to find which sub-index is causing the problem. Once we find the subindex, let's generate a passing log by using _x_ - 1 and a failing log using _x_ and upload it to this issue. We can then take a look to see if the transformat

[2020-02-25 14:57] lumpfish commented on #8652
It failed on two of the last four jdk11 nightlies, hasn't been seen on jdk14 (the jdk_nio test fails in other ways though).  @M-Davies is running a grinder to confirm.

[2020-02-25 15:17] cathyzhyi commented on #8403
@liqunl is continuing the investigation.

[2020-02-25 15:59] ymanton commented on #8653
The client JVM, which is also running TestNG, hit the following exception after completing most of the test and moving on to generating some HTML log:

[code]

This looks to be either a bug in TestNG or a legitimate bug against the JVM or specifically the code generated by the JIT or JITServer. The test itself seems to be working as designed. I'll look a bit deeper.

[2020-02-25 16:04] M-Davies commented on #8652
I don't believe this affects JDK14. I've ran 2 10 iteration grinders on two seperate aix machines and couldn't reproduce the error.

I'm running another at https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2333/console that is trying to recreate the exact conditions the test was conducted under. If that passes, I'm going to make a judgement that this was a very intermittent failure.

[2020-02-25 17:02] AlenBadel opened #8655 "Supporting GC Hotspot Options"
To allow ease of migration from OpenJDK + Hotspot to OpenJDK + OpenJ9. This activity will focus on mapping Hotspot GC options to existing equivalent OpenJ9 GC options.

**Design**

| Hotspot Option | Mapped OpenJ9 Option|
| ------------- | ------------- |
| `-XX:ParallelCMSThreads=N`  | `-Xconcurrentbackground`  |
| `-XX:ConcGCThreads=N`  | `-Xconcurrentbackground` |
| `-XX:ParallelGCThreads=N` |

[2020-02-25 17:03] AlenBadel commented on #8655
All related PRs have been merged.

[2020-02-25 17:03] #8655 closed

[2020-02-25 18:13] dmitripivkine commented on #8652
At class unloading time, cleaning classloaders time GC trying to unload classloader `0x100230b2a38`. As a part of operation it calls `cleanUpClassLoader()` in VM in `jvmfree.c`.
This function triggers `J9HOOK_VM_CLASS_LOADER_UNLOAD` hook. There is only one subscriber to this hook in JIT code `jitHookClassLoaderUnload()` in `HookedByTheJit.cpp` and it is where crash occur

[2020-02-25 18:45] simonameng commented on #7136
@andrewcraik Could you please help take a look at the actions mentioned above and see if they are doable?

[2020-02-25 18:59] DanHeidinga commented on #8571
Is there a draft PR with the changes so far?  It would be good to get early reviews going on the changes

[2020-02-25 19:22] #8393 closed

[2020-02-25 19:26] DanHeidinga commented on #7684
@andrewcraik @fjeremic What's the next step here?

[2020-02-25 19:27] DanHeidinga commented on #7752
Moving this forward to 0.20 as we don't have a handle on what the VM would need to do differently yet

[2020-02-25 19:28] DanHeidinga commented on #7748
@cathyzhyi What's the current status on this?

[2020-02-25 19:29] DanHeidinga commented on #7890
@dsouzai Can you provide an update on this?  We're getting close to the Milestone 2 date and need to try to get the Milestone issues resolved

[2020-02-25 19:31] DanHeidinga commented on #8382
@smlambert has this occurred again?  If it's not reproducible we should close this

[2020-02-25 19:33] DanHeidinga commented on #8570
fyi @ChengJin01 - this is related to the PR you're working on

[2020-02-25 19:38] ChengJin01 commented on #8570
@DanHeidinga, this issue has been addressed in #8657, which will cover all the Jtreg tests related to lookup as follows:
[code]

[2020-02-25 19:44] dsouzai commented on #7890
No updates on my end yet; as far as I can tell, this issue seems to only occur when you have an SCC that's created by a 0.17 JVM, and used by a 0.18 JVM. What I have to do to reproduce it is run a 0.17 JVM to populate the SCC, keep it running to lock the SCC file, and then run a 0.18 JVM to load from that SCC. I'll also have to use two custom builds to add instrumentation to both. I haven't had th

[2020-02-25 20:06] andrewcraik commented on #7684
We need a log where the failure mode is not the codegen choking on a node which would be cleaned up without the debug options set, but rather the failure mode remains the same as the original problem report. Ideally this would have the lastOpt index set at the point where the failure mode changes but a log is a good start.

[2020-02-25 20:06] dmitripivkine commented on #8652
This is table of Classloaders in the system. "Object is not marked" means this classloader is about to be unloaded:
[code]

[2020-02-25 20:09] dmitripivkine commented on #8652
I do see an address of one of classloaders to be unloaded in the register $r30:0x00000100103fde30:
[code]

[2020-02-25 20:10] fjeremic commented on #7684
I've been working with @ChengJin01 offline on this one in the background. I still cannot readily reproduce the issue. With the limitfile or without. I kicked off a large batch of 7 runs over the weekend to try and reproduce it with the limitfile using @ChengJin01's setup and it failed 0/7 times.

Each run took about ~7 hours or so:

[code]

I've also ran it dozens of times with other non-limiting

[2020-02-25 20:12] dmitripivkine commented on #8652
The crash occur in `J9Method_HT::onClassUnloading(J9ClassLoader*)()`

This is c-stack (with preserved registers):
[code]

[2020-02-25 20:16] dmitripivkine commented on #8652
Please let me know if you need more help. I do have core dumps/JVM downloaded.

[2020-02-25 20:46] dmitripivkine commented on #8652
Actually there is another classloader address in the registers of crashed method `$r29:0x00000100103fdf18`:
[code]

[2020-02-25 20:51] cathyzhyi commented on #7748
Working on a fix. Will paste the PR here soon.

[2020-02-25 21:34] cathyzhyi commented on #7748
https://github.com/eclipse/omr/pull/4866

[2020-02-25 21:40] avermeer commented on #7752
Hello,

Comment in  https://issues.apache.org/jira/browse/HDFS-14488  is really not helpful.

Anyway, we recompiled the native Hadoop library on Redhat 7, and we still have same issue with OpenJ9 (and not with HotSpot).

I am afraid that https://issues.apache.org/jira/browse/HDFS-14488 wasn't specific to OpenJ9, hence its closure for lack of context.

Anyway since with the sample I provided it can

[2020-02-25 21:44] avermeer commented on #8548
Ahem... latest available nightly build of  AdoptOpenJDK OpenJ9 is still the one of Feb 7th, and still no Linux x64 nor Windows x64 image is available, see https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9

Is that a sign that AdoptOpenJDK support for OpenJ9 is fading away? (hope not)

[2020-02-25 22:00] andrewcraik commented on #8652
@gita-omr could someone with AIX skills have an initial look at this to find the right place to send it?

[2020-02-25 22:18] andrewcraik commented on #7136
So doing the transform in the recognized call transformer is likely doable. A general opt in VP to set the forward/backward flag is much more dangerous - arraycopy nodes come from a lot of places so while we should be able to set the flags in VP based on constraints there is a real risk of bugs being exposed and having to back off because of specialized use of the arraycopy (main ones in this cate

[2020-02-25 22:39] pshipton commented on #8548
OpenJ9 is not fading away. Adopt is having build problems. The builds seem to be available directly from jenkins, just not from the website. https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9/

[2020-02-25 22:40] pshipton commented on #8548
and https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-openj9/

[2020-02-25 22:42] gita-omr commented on #8652
I think it's more of debugging skills that is needed :) We will try to take a look next week.

[2020-02-25 22:54] wraschke commented on #7684
I am also running into the TransformationConfigurationException/ClassFormatError and working with Cheng (you were mentioned: see work item 142716). I'm trying with latest release jdk-11.0.6+10_openj9-0.18.1 from https://adoptopenjdk.net/archive.html?variant=openjdk11&jvmVariant=openj9 , also with the flags Cheng has requested.

Please don't close this yet.

[2020-02-26 02:44] JasonFengJ9 commented on #8636
It appears I didn't get any email notification.
Since the workaround has been identified, the diagnostics files might not be required.

@yangzhang-ibm-au did you have chance to check if latest nightly build works with your application?

[2020-02-26 04:05] yangzhang-ibm-au commented on #8636
@JasonFengJ9 Are you using this email fengj@ca.ibm.com? I added that email to the Box folder, I can email you the diagnostics files directly.
We haven't tried the latest nightly build as we thought there might be some potential risk of using a non-stable release.

[2020-02-26 04:07] yangzhang-ibm-au commented on #8636
@JasonFengJ9 We wanted to use the `-Djdk.nativeCBC=false` option until next stable release in Apr unless that option causes some significant impact to performance or any other issue. Do you think the performance impact of that option can be very obvious?

[2020-02-26 04:41] pshipton commented on #8636
@ashbm5 can you make a statement about the performance impact of using `-Djdk.nativeCBC=false`

[2020-02-26 08:56] mpirvu opened #8660 "Startup time regression from 0.17 to 0.18.1 openj9 release"
Startup time of Liberty application server has increased some 5-8% from release 0.17 to release 0.18.1. Looking at the verbose logs I see fewer AOT compilations with 0.18.1.
In release 0.17 a change was delivered to lower the invocation counts for a SCC (shared-class-cache) cold run in order to generate more AOT bodies. This change improved start-up time.
Subsequently, PR #7703 enabled this reduct

[2020-02-26 10:04] knn-k commented on #8594
Today I recreated the crash on x86_64 Linux, and generated the attached trace files by running with the following command.  The boundary of the subindex is between 422 and 423.
[code]
[issue8594.zip](https://github.com/eclipse/openj9/files/4254837/issue8594.zip)

[2020-02-26 10:22] adam-thorpe opened #8661 "JTReg Test Failure : java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessXXX.java (2)"
Failure link
------------
Follow on from: https://github.com/eclipse/openj9/issues/3940
https://ci.adoptopenjdk.net/user/adam-thorpe/my-views/view/OpenJ9%20sanity%20openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac/151/console
- test category: sanity.openjdk
- OS/architecture: jdk11+ all platforms

Optional info
-------------
- intermittent failure (yes|no): no
- regression or new test: regr

[2020-02-26 12:18] JasonFengJ9 commented on #8636
@yangzhang-ibm-au that's the right email address. Please send me the box link directly instead.

The reason I asked about the latest nightly build is that passing without `-Djdk.nativeCBC=false` can confirm this issue has been fixed in current release. I would appreciate your time to run the test and determine whether latest builds pass your tests.

[2020-02-26 12:50] pshipton opened #8662 "aix71-p8-3 cannot open shared cache in home directory"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly/294/
aix71-p8-3
[code]

[2020-02-26 12:50] pshipton commented on #8662
@jdekonin

[2020-02-26 12:56] pshipton commented on #8662
Also
[code]

[code]

[2020-02-26 13:35] pshipton commented on #8660
It's defined when compiling the VM here
https://github.com/eclipse/openj9/blob/5f64d16f35681782bcda4c81f236eadc354e2d68/runtime/makelib/targets.mk.ftl#L97
but I don't think that includes the JIT.

[2020-02-26 14:48] JasonFengJ9 commented on #8087
Passed in latest internal build.
[code]

[2020-02-26 14:48] #8087 closed

[2020-02-26 15:11] JasonFengJ9 commented on #7562
Another occurrence at an internal build `openjdk11_j9_extended.system_ppc64_aix`
[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
03:29:46  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=ppc64_aix&TARGET=HCRLateAttachWorkload_previewEnabled_0
03:29:46  https://ci.ado

[2020-02-26 15:32] JasonFengJ9 commented on #8548
A latest internal build `openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly` has a similar failure with same  `vmState=0x000501ff`.
[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
01:53:15  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=ppc64le_linux&TARGET=jdk_lang

[2020-02-26 15:40] JasonFengJ9 commented on #8621
One more occurrence at `Test_openjdk14_j9_extended.functional_s390x_linux_Nightly/37`.
[code]

[2020-02-26 15:55] JasonFengJ9 opened #8663 "JDK8 cmake : testDDRExt_JITExt_openj9_0_FAILED InternalError: missing flag"
Failure link
------------

From an internal cmake build:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
04:37:16  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BU

[2020-02-26 15:59] vijaysun-omr commented on #8660
@dsouzai fyi

[2020-02-26 16:00] cathyzhyi opened #8664 "Cleaning up magic numbers in returnCleanup method in estimate code size"
the `returnCleanup` method ECS has magic numbers as its argument used to identify the location of error return. It's better to clean this up and replace the number with enum or find a cleaner way to represent the location info.
See https://github.com/eclipse/openj9/pull/8598#discussion_r382764052

[2020-02-26 16:04] JasonFengJ9 opened #8665 "JDK8 cmake : testSCCMLSnapshot_1_FAILED"
Failure link
------------

From an internal cmake build:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

 To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
04:37:16  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&B

[2020-02-26 16:05] dnakamura commented on #8183
Windows:
identified missing defines in the jit, and a misconfiguration of the port library. With fixes applied segfaults are gone. Throughput shows ~ -3% on cold runs, +1.4% on warm runs. However on some of the cold runs the script failed to extract throughput measurements, investigating the issue.

Zlinux:
Startup test on new zlinux builds still show 0% regression

[2020-02-26 16:09] JasonFengJ9 opened #8666 "JDK8 cmake : cmdLineTester_fieldwatchtests_0_FAILED due to UnsatisfiedLinkError"
Failure link
------------

From an internal cmake build:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
04:37:16  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BU

[2020-02-26 16:15] JasonFengJ9 opened #8667 "JDK8 cmake : DaaLoadTest_all_ConcurrentScavenge_0_FAILED JVMJ9GC040E Unknown option: concurrentScavenge"
Failure link
------------

From an internal cmake build:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
02:01:35  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BU

[2020-02-26 16:22] DanHeidinga commented on #8064
@harryyu1994 Can you update this with the current status?  We're nearing the milestone 2 date for the 0.19 release and will need to make a stop ship decision on this issue

[2020-02-26 16:23] dmitripivkine commented on #8621
This kind of crash can occur in case if application is attempting to use more shared memory then Linux limit specify. Problem is understood, fixing in progress.

[2020-02-26 16:28] fjeremic commented on #8594
I don't see any negative frequencies when we enter loop versioner, so we must have calculated something incorrectly during the optimization. @knn-k is the test which reproduces this issue self-contained? Is it something we can upload to the issue here. @andrewcraik can suggest an expert in the area to help investigate. We'll likely need to add more tracing into the code to figure out which block w

[2020-02-26 16:28] hangshao0 commented on #8665
Does it fail in the non-cmake build ?

[2020-02-26 16:36] JasonFengJ9 commented on #8665
Not observed in other builds.

[2020-02-26 16:41] andrewcraik commented on #8594
Can we just get a backtrace (preferably with file and line numbers) when the failure occurs? That will make it easy to see what is wrong in the code. I don't see obviously suspect math so knowing the source will help.

[2020-02-26 16:47] liqunl commented on #8403
By disabling all optimizations on `main` and limiting jit compile to `main`, the test failed with OOM in the char array allocation when  `sz` becomes `Integer.MAX_VALUE - 8`, which is 2147483639
[code]

With -Xint, we're getting `ArrayIndexOutOfBoundsException` which is thrown from StringBuffer.append when `sz = Integer.MAX_VALUE - 8`

I tried `debugOnEntry` on `main` and verified that after we tr

[2020-02-26 16:49] hangshao0 commented on #8665
[code]

These tests check the OpenJ9 SHA. However, OpenJ9 SHA of this build is `unknown`. Something is wrong in the build process.

[2020-02-26 16:51] dsouzai commented on #8660
Essentially all we want is to only lower the counts if both of the following are true:

1. The JVM is OpenJDK+OpenJ9 (and not some other JVM like the IBM SDK)
2. The SCC the JVM is using is not the default SCC

@pshipton what is the best way of querying for that?

[2020-02-26 17:05] r30shah commented on #8637
@M-Davies  I have been trying to reproduce this failure locally on both Linux on Z (I am running on Ubuntu 18 , z13) and macOS - 10.15. I do not have any success yet. I do not know if I have access to launch a grinder, Would it be possible for you to launch a grinder (30 runs are sufficient if you are seeing 1/4 failures) and collect a log file of the method we are compiling and failed.
For macOS

[2020-02-26 17:18] hangshao0 commented on #8660
If OPENJ9_BUILD is defined, it is OpenJDK+OpenJ9

Check J9SHR_RUNTIMEFLAG_ENABLE_CACHE_NON_BOOT_CLASSES in javaVM->sharedClassConfig->runtimeFlags. If it is set, it is not the default SCC.

[2020-02-26 17:32] mpirvu commented on #8660
Current JIT code has the following tests:
[code]
and the problem is that `OPENJ9_BUILD` does not appear to be defined to the JIT code.
In PR #8668 I am changing the JIT makefiles to add that definition.

[2020-02-26 18:21] harryyu1994 commented on #8064
Forwarding this to @cathyzhyi @Charlmzz.

[2020-02-26 18:56] pshipton commented on #8665
@dnakamura see https://github.com/eclipse/openj9/issues/8665#issuecomment-591527532

[2020-02-26 19:03] pshipton commented on #8665
fyi I created a project to hold test failures which are likely specific to the cmake build.
https://github.com/eclipse/openj9/projects/15

[2020-02-26 19:04] pshipton commented on #8662
I'm disconnecting this machine until it's fixed.

[2020-02-26 19:06] gacholio commented on #8403
I think I can see the problem - on entry to the DLT compile on main, the first things the compiled code does is fetch local3 from the DLT block temp buffer:
[code]

The crash is later on:
[code]

Looks like it's fetching the class of the object in `r13` which is 0 so the next instruction crashes (trying to fetch lockOffset).

The bytecodes for the method are:
[code]
The DLT occurs at bytecode 33 (

[2020-02-26 19:09] pshipton commented on #8548
@JasonFengJ9 looks like a dup of https://github.com/eclipse/openj9/issues/8661

[2020-02-26 19:24] gacholio commented on #8403
I have verified that the StringBuffer object was good on entry to the DLT code, so this is looking like maybe a bad GC map somewhere, so the buffer is sometimes getting lost.

[2020-02-26 19:52] #8639 closed

[2020-02-26 19:58] M-Davies commented on #8637
@r30shah
s390x_xl -> https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2354/
mac_xl -> https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2355/

[2020-02-26 20:17] jdekonin commented on #8662
javasharedresources was owned by root, so I must've run java as root at some point.  should be resolved.

[2020-02-26 20:20] mpirvu commented on #8607
There is a good chance this is a dup of #8660

[2020-02-26 20:26] #8663 closed

[2020-02-26 21:19] AlenBadel opened #8671 "Supporting Hotspot Large Page Options"
To allow ease of migration from OpenJDK + Hotspot to OpenJDK + OpenJ9, this activity will focus implementing support for Hotspot large page options on OpenJ9.

Parent Issue: https://github.com/eclipse/openj9/issues/4930

### **Design**

| Option | New Behaviour | Implementation | Tests |  Docs |
| ------------- | ------------- | ------------- | ------------- | ------------- |
| -XX:+UseLargePages

[2020-02-26 21:23] AlenBadel commented on #4930
I've went ahead and cleaned this issue up a bit. There was a lot going on.

I've created two children issues to address the options in two different groups. They're separated as general GC options, and large page related options.
The table of contents can be seen here: https://github.com/eclipse/openj9/issues/4930#issuecomment-527623042

[2020-02-26 21:34] AlenBadel commented on #8671
@dmitripivkine Would you have any remaining concerns?

@joransiu I would appreciate if you could give a quick approval on the Z/OS related content.

[2020-02-26 22:42] ChengJin01 commented on #8571
Currently working on the test failures in https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/openj9/test/jdk/java/lang/invoke/AccessControlTest.java. It looks like there is still code issue with the method `in()` when dealing with the case of `UNCONDITIONAL`.

[2020-02-26 22:49] r30shah commented on #8637
@M-Davies  Thanks a lot for launching the grinder. Mac one failed, and I downloaded the files, seems like the launcher didn't like the options. I am seeing following in the javacore.

[code]
So signature of the method is messed up. Can I request you to launch another one, with following option on macOS again?
`-Xjit:{java/util/concurrent/locks/AbstractQueuedSynchronizer*}{very-hot}(traceFull,trace

[2020-02-26 22:56] #8660 closed

[2020-02-26 23:20] yangzhang-ibm-au commented on #8636
@JasonFengJ9  Glad to know that the Box folder is now accessible to you via the link I shared in email.
Yes, it makes sense to confirm the issue is fixed in latest nightly build. We will try to verify it once our environment is ready do that.

[2020-02-27 00:16] knn-k commented on #8594
@fjeremic I just run `java -Xjit:optlevel=warm,count=0,limit=boot` specifying no class to run as I wrote in the original post.  I get the message starting with "Usage: java [options] <mainclass> [args...]" when I change the optlevel to cold.

@andrewcraik Please find the backtrace below (line numbers unavailable).  I modified `TR_ASSERT()` in `createEmptyBlock()` to `TR_ASSERT_FATAL()` in this x86

[2020-02-27 00:28] knn-k commented on #8594
Backtrace on aarch64 with debug information:
[code]

[2020-02-27 03:42] #8662 closed

[2020-02-27 03:45] gacholio commented on #8403
I wonder if this is a problem because bytecode 33 can be reached from both a normal execution path (bytecode 23) and the exception path (bytecode 28).

[2020-02-27 03:46] #8666 closed

[2020-02-27 05:08] ashu-mehra commented on #8228
Nope, I don't think we have port library apis for that.

It works in Linux [1]. Windows also has named pipes [2] but they differ from Linux in some respects.
Fortunately AIX [3] and z/OS [4] seem to have these APIs as well.

[1] http://man7.org/linux/man-pages/man3/mkfifo.3.html
[2] https://docs.microsoft.com/en-us/windows/win32/ipc/named-pipes
[3] https://www.ibm.com/support/knowledgecenter/ssw_a

[2020-02-27 05:21] ashu-mehra commented on #8228
I should also mention following section from man page [1] for pipe:
[code]
This implies, unlike sockets, we would need pair of pipes for two-way communication.

[1] http://man7.org/linux/man-pages/man7/pipe.7.html

[2020-02-27 05:41] ChengJin01 commented on #8571
@DanHeidinga,

The part of test at https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/openj9/test/jdk/java/lang/invoke/DropLookupModeTest.java is inconsistent with the Java 14 Spec in the case of `UNCONDITIONAL`  as follows:
[code]
This assertion is wrong as it follows the Java 11 spec at http://cr.openjdk.java.net/~iris/se/11/build/latest/api/java.base/java/lang/invoke/MethodHandles.Lookup.

[2020-02-27 06:26] ChengJin01 commented on #8571
Other weird test case at https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/openj9/test/jdk/java/lang/invoke/DropLookupModeTest.java such as:
[code]
According to the Java 14 & Java 11 Spec:
[code]
which means the resulting lookup mode should be `NO_ACCESS `rather than `UNCONDITIONAL `as long as `PUBLIC `is dropped.

It surprised me that the test above passed on the RI (Hotspot) JDK14. It loo

[2020-02-27 10:12] M-Davies commented on #8637
@r30shah https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2360/

[2020-02-27 11:26] lumpfish commented on #8382
jdk8 nightly builds are currently passing: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.external_x86-64_linux_openliberty-mp-tck/

[2020-02-27 14:17] pshipton opened #8674 "NullPointerException's running testJITServer_0 on x86-64_linux_xl"
testJITServer_0

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_OpenJDK11/38
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_OMR/434
[code]

[2020-02-27 14:17] pshipton commented on #8674
@mpirvu

[2020-02-27 14:17] pshipton commented on #8674
@mpirvu

[2020-02-27 14:55] DanHeidinga commented on #8382
I'll close this and we can reopen it if it reoccurs

[2020-02-27 14:55] #8382 closed

[2020-02-27 15:34] DanHeidinga commented on #8571
@andrew-m-leonard Can you bring these issues to the OpenJDK mailing list?  Cheng has identified two JTREG tests that the RI passes which appear to contradict the spec

[2020-02-27 15:35] DanHeidinga commented on #8571
@ChengJin01 the review has been delayed due to github soft outage issues - I can't currently comment on the review

[2020-02-27 16:01] ymanton commented on #8653
I haven't been able to recreate this at all after many iterations. The JIT logs from the one failure above show that the method that throws the exception was compiled on the server:

[code]

The server log shows the corresponding activity:

[code]

The only notable thing is the **OSR** bit. I seem to recall that OSR was not working and therefore disabled under JITServer so I wouldn't expect this.

[2020-02-27 16:03] ChengJin01 commented on #8571
@DanHeidinga,  no worries on the review as the code changes is still being updated.

[2020-02-27 16:15] mpirvu commented on #8653
JITServer can do OSR compilations. OSR was enabled quite a while ago.

[2020-02-27 16:21] simonameng commented on #7136
@andrewcraik We tried to add an assertion fail in https://github.com/eclipse/omr/blob/ffb0d9866e44551d22553be84adada6e546f0a19/compiler/optimizer/ValuePropagationCommon.cpp#L1024-L1025
And then we launched a personal build on all platforms. The result is that no job failed. We think it will have no impact on performance if we delete the code as we ran a huge amount of coverage testing and not once

[2020-02-27 16:45] andrewcraik commented on #7136
I don't think the fact it isn't seen in a personal build is a reason to drop the support of setting the direction flag. If the constraint handling for arraycopy can handle this then we should be good. If not that enhancement is needed.

[2020-02-27 17:09] r30shah commented on #8637
@M-Davies  Sorry to bother you again, seems like the grinder did not work, seeing following failure,
[code]

[2020-02-27 17:20] fjeremic commented on #7136
The code in VP would be dead if we migrate the transformation to J9RecognizedCallTransformer as VP will never see a call to a recognized method `TR::sun_misc_Unsafe_copyMemory` during VP. As outlined previously, the risk of doing the constraint analysis on all `TR::arraycopy` nodes is too risky, so we can't do that either. How do you suggest we proceed?

IMO if the constraint piece of code setting

[2020-02-27 17:27] joransiu commented on #8671
The z/OS proposal for handling -XX:+UseLargePages and -XX:LargePageSizeInBytes=<size> looks good to me.  Thanks!

[2020-02-27 18:11] mstoodle commented on #7890
Seems somewhat brittle to rely on every developer knowing when they've changed something that might make the contents of the shared cache incompatible. Given we're now enabling shared cache use by default which may expose us to more bugs of this nature, maybe now is the time to only use the cache if it was built by the current build?

Is it more common for caches to be compatible or to be incompat

[2020-02-27 18:19] ChengJin01 commented on #8571
Also the same issue was detected at https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/openj9/test/jdk/java/lang/invoke/AccessControlTest.java
[code]

[2020-02-27 18:29] 0xdaryl opened #8675 "breakOnThrow JIT option on non-x86 platforms"
Many years ago the x86 JIT introduced a "breakOnThrow" option which inserts a user breakpoint in JITed code just prior to the point of throwing an exception that matches some regex.  Presumably this is useful for halting at the precise point in compiled code where a particular exception is thrown.  This feature does not exist on any other platform.  If it is useful then it should be.

I haven't ke

[2020-02-27 19:02] pshipton commented on #7890
This introduces a different issue, where no shared cache is used although use of one is expected. Since only the classes are used and not the AOT, I expect this doesn't much matter. Long ago there was a startup advantage to using ROM classes from the cache, but today it's essentially as fast to read the classes from disk and convert them. Would new AOT get created in a cache that already contains

[2020-02-27 19:52] ymanton commented on #8653
OK, not much else to go on. I'll let this issue sit for a while until it can be reproduced.

[2020-02-27 20:00] dmitripivkine commented on #8671
As top level description item its looks reasonable for me.

[2020-02-27 20:21] fjeremic commented on #8675
Never knew about this. Definitely interested in knowing whether other people have used it and if it has been useful. I don't recall ever needing something like this.

[2020-02-27 20:58] ashu-mehra commented on #8228
@DanHeidinga do you see any other issues in using named pipes for this work? Are there any other options or suggestions?

[2020-02-27 21:53] #8229 closed

[2020-02-27 22:25] dsouzai commented on #7890
No, if a cache is deemed incompatible, we run as if there is no SCC. ...well except for the IProfiler, so I'm looking to have the IProfiler also reject info from a cache deemed incompatible.

[2020-02-27 22:53] JasonFengJ9 opened #8678 "Build_JDK8_x86-32_windows_Nightly failed : encoded value was less than 0: encode(-8.326673E-17, 5.0, 11.0, 16.0)"
Failure link
------------

From an internal build `Build_JDK8_x86-32_windows_Nightly/336`

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-02-27 23:38] chrisc66 commented on #8544
A PR has been created for this issue.
https://github.com/eclipse/openj9/pull/8680

[2020-02-28 00:02] ashu-mehra commented on #8219
I did a build locally and I noticed that the `jitserver` executable in the jdk is stripped off the debug info, both with uma and cmake.
@keithc-ca are you aware of any change to strip debug info from the executables?

[2020-02-28 05:21] pshipton opened #8681 "fatal error: net/gen/compile.pb.h: No such file or directory"
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64le_linux_xl_OpenJDK11/14
[code]

[2020-02-28 05:22] pshipton commented on #8681
https://ci.eclipse.org/openj9/job/Build_JDK14_x86-64_linux_Nightly/22/

[2020-02-28 06:48] knn-k commented on #8675
I usually don't debug the JIT on x86, and I didn't know the feature.

[2020-02-28 12:14] JasonFengJ9 commented on #8678
Passed in last nightly build in a different machine. So it might be an infra issue.
Will close this if no more failure is observed in next a few builds.

[2020-02-28 12:36] JasonFengJ9 commented on #8636
@yangzhang-ibm-au The system core attached seems truncated, it is only ~3M size while javacore shows `JRE: 13,859,984,648 bytes / 24235 allocations`. The stacktrace does look very close to the know issue https://github.com/eclipse/openj9/issues/8181 which was the base of early investigation.

It is expected that this issue is already fixed in current nightly builds.

[2020-02-28 12:41] JasonFengJ9 opened #8682 "JDK8 cmake : UnsatisfiedLinkError: com/ibm/jvmti/tests/redefineClasses/rc020.redefineClass(Ljava/lang/Class;I[B)Z"
Failure link
------------

From an internal cmake build:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-02-28 12:57] andrew-m-leonard commented on #8571
maillist discussion: https://mail.openjdk.java.net/pipermail/jdk-dev/2020-February/003973.html

[2020-02-28 13:20] smlambert commented on #8661
excluded via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1655

[2020-02-28 13:26] DanHeidinga commented on #8682
fyi @dnakamura

[2020-02-28 14:12] pshipton commented on #8681
Since it's intermittent, no guarantee the change which introduced the problem is here, but fwiw:

First failing
OpenJ9: 687ff96
OMR: a67e389

Last passing
OpenJ9: 79aa8cf
OMR: 00c57af

https://github.com/eclipse/openj9/compare/79aa8cf...687ff96
https://github.com/eclipse/openj9-omr/compare/00c57af...a67e389

[2020-02-28 14:35] pshipton commented on #8681
Seems to be occurring often (always?) in jdk14 builds now.

[2020-02-28 14:36] JasonFengJ9 opened #8683 "JDK8 JITServer : testSCCMLSnapshot_1 failure JVMSHRC718E Shared cache snapshot does not exist"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.functional_x86-64_linux_jit_Nightly/3/`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
03:18:29  https://ci.adoptopenjdk

[2020-02-28 14:41] andrew-m-leonard commented on #8571
see response from Chris Hegarty... @ChengJin01 @DanHeidinga

[2020-02-28 14:50] JasonFengJ9 opened #8684 "j9_sanity.openjdk getJtreg : [exec] gzip: jtreg-4.2.0-tip.tar.gz: not in gzip format"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/297`.
This also happened in a few other platform builds.

Optional info
-------------

Intermittent failure

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-02-28 14:56] pshipton commented on #8683
@mpirvu

[2020-02-28 14:57] pshipton commented on #8684
@jdekonin @AdamBrousseau @llxia @smlambert

[2020-02-28 14:58] pshipton commented on #8684
I didn't see this in the OpenJ9 builds last night. Since this only occurs in internal builds I wonder if it needs to be an OpenJ9 issue.

[2020-02-28 15:14] AdamBrousseau commented on #8684
Yea I see lots of these today, yesterday it was
[code]
It's about 50% failure rate on last night's build.

[2020-02-28 15:16] AdamBrousseau commented on #8684
https://github.com/AdoptOpenJDK/openjdk-tests/blob/39b183dfea8842e443aa8da9b2c3d3425486897e/openjdk/build.xml#L36
I can curl and untar the file fine so possibly some overnight networking issues? Odd to see so many over 2 nights though.

[2020-02-28 15:20] AdamBrousseau commented on #8684
Opened failure-cause-management/0017a981-435f-4e74-b155-8c35e5e631b0/ to track internally.

[2020-02-28 15:25] mpirvu commented on #8683
@JasonFengJ9 Do you have the output from Test 14. I am asking because Test 15 complains that the snapshot it tries to restore from does not exist. I am assuming that Test 14 is creating the snapshot.

[2020-02-28 15:28] keithc-ca commented on #8681
https://github.com/ibmruntimes/openj9-openjdk-jdk14/pull/18 should fix this.

[2020-02-28 15:34] dnakamura commented on #8183
Still looking at  the footprint issues on windows. Took a while to get the tests to reproduce on my local machine, but I have it now and am looking at doing a more detailed analysis of the footprint.

Also spent some time cleaning up code in preparation for opening PRs with the various performance related changes

[2020-02-28 15:41] JasonFengJ9 commented on #8683
[code]

It doesn't appear the setup for Test 15. Following are some other tests creating SSC:
[code]

[2020-02-28 15:47] AdamBrousseau commented on #8684
I also see at least 5 different clone/curl failures over the past 2 nights in various stages of the test builds. Seems more so on zlinux but not restricted, also see some on Windows.

[2020-02-28 16:03] hangshao0 commented on #8683
The test is using the output of option `printSnapshotFilename` to find the snapshot file name. However, this message gets printed out before the file name:

`JITServer is currently a technology preview. Its use is not yet supported`

It should pass if this message is turned off. Is there an option to turn off this message ? @mpirvu
Otherwise, we can exclude this sub-test from JIT server build.

[2020-02-28 16:13] pshipton commented on #8681
It won't fix the original failure that occurred on jdk11, but that only occurred once and passed on restart.

Re-running jdk14 testing here https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK14/27/

[2020-02-28 16:14] gacholio commented on #8682
Looks like someone (perhaps me) forgot to add this native to the cmake exports.

[2020-02-28 16:24] keithc-ca commented on #8219
It's still not stripped in my build:
[code]

[2020-02-28 16:29] ChengJin01 commented on #8571
Just posted the response from Chris (copied from https://mail.openjdk.java.net/pipermail/jdk-dev/2020-February/003974.html)
[code]
@DanHeidinga,  if Chris's clarification is logically reasonable, then our existing implementation in `dropLookupMode()` (excluding Java 14) was totally wrong from very beginning as it chooses to all modes involved whether nor not the mode (to be dropped) exists in the

[2020-02-28 16:32] mpirvu commented on #8683
@hangshao0  No, there is no option to disable the printing of that message (`JITServer is currently a technology preview. Its use is not yet supported`)

[2020-02-28 16:50] ashu-mehra commented on #8219
@keithc-ca
But it shows there is no `debug info` in there. If debug info is there, it shows up `with debug_info` string in the output, like this:

`file jitserver
jitserver: ELF 64-bit LSB shared object, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/l, for GNU/Linux 3.2.0, BuildID[sha1]=36588a46d1a02733103795e72f4412741606bc23, with debug_info, not stripped`

The `not stripped`

[2020-02-28 16:53] ChengJin01 commented on #8571
https://docs.oracle.com/javase/9/docs/api/java/lang/invoke/MethodHandles.Lookup.html#dropLookupMode-int-
[code]
http://cr.openjdk.java.net/~iris/se/11/build/latest/api/java.base/java/lang/invoke/MethodHandles.Lookup.html#dropLookupMode(int)
[code]
http://cr.openjdk.java.net/~iris/se/14/build/latest/api/java.base/java/lang/invoke/MethodHandles.Lookup.html#accessClass(java.lang.Class)
[code]
The des

[2020-02-28 16:59] keithc-ca commented on #8219
The key information is the part of `file` output that says `not stripped`;
if you say `strip images/j2sdk-image/bin/jitserver` it will get smaller.

[2020-02-28 17:27] cathyzhyi commented on #7748
I am able to reproduce this problem with a microtest case: [Test copy.java.txt](https://github.com/eclipse/openj9/files/4268225/Test.copy.java.txt)
expected output is `a = 5, a0 = 6, x = 0, y = 0` and the one we get is `a = 5, a0 = 0, x = 0, y = 0` I am uploading the log and testcase here to document what I found before we go down to the road fixing the problem. [fail_log.txt](https://github.com/e

[2020-02-28 18:12] pshipton commented on #8681
jdk14 is working so removing the blocker label. We'll see if this pops up again intermittently in other builds.

[2020-02-28 18:38] smlambert commented on #8661
Artifacts from Test run 148 (~38.7Mb) and 153 (80.7Mb) copied here: https://ibm.ent.box.com/folder/105135247420

FIrst occurrence seems to be on Feb 22, not seen in runs prior to Feb 21

Feb 22 (Run 148)
java -version
19:20:00  openjdk version "11.0.7" 2020-04-14
19:20:00  OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7+3-202002222335)
19:20:00  Eclipse OpenJ9 VM AdoptOpenJDK (build master-

[2020-02-28 18:49] DanHeidinga commented on #8661
@babsingh Is this related to the VarHandle refactoring as part of JEP370?

[2020-02-28 19:07] babsingh commented on #8661
@smlambert which specific test targets will reproduce the issue? the above test job link is no longer accessible.

[2020-02-28 19:10] ashu-mehra commented on #8219
One solution to strip libraries and executables of debug info in cmake is to add following code in `openj9/runtime/CMakeLists.txt` similar to what we have in [OMR](https://github.com/eclipse/omr/blob/250665b8ad62de18b019bb29cb5531fa097227a6/cmake/modules/platform/toolcfg/gnu.cmake#L99-L104):

[code]

and then update `CMakeLists.txt` in each module to call this function, eg in `jitserver_launcher/C

[2020-02-28 19:18] smlambert commented on #8661
It is NOT a specific test or test target that causes this, it appears to be crashing during various times in the test run.  You can unzip one of the artifacts and search for the dmp files.

[2020-02-28 19:24] smlambert commented on #8661
On an xLinux artifact I looked at there are the following:

./jdk_math_0/work/java/math/BigInteger/DivisionOverflow/core.20200223.003919.14969.0001.dmp
./jdk_util_0/work/java/util/ResourceBundle/Bug4168625Test/core.20200223.020059.3267.0001.dmp
./jdk_lang_0/work/java/lang/ref/SoftReference/Pin/core.20200223.002833.17157.0001.dmp
./jdk_lang_0/work/java/lang/ProcessBuilder/Basic_id1/core.20200223.00

[2020-02-28 19:33] smlambert commented on #8661
In the windows artifact:
./jdk_math_0/work/java/math/BigInteger/DivisionOverflow/core.20200226.183920.16492.0001.dmp
./jdk_util_0/work/java/util/ResourceBundle/Bug4168625Test/core.20200226.193858.17740.0001.dmp
./jdk_lang_0/work/java/lang/ref/SoftReference/Pin/core.20200226.182907.23688.0001.dmp
./jdk_lang_0/work/java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessChar/jitdump.20200226.1824

[2020-02-28 19:34] ChengJin01 commented on #8571
I already modified the code in dropLookupMode() to deal with the situation and passed all tests in https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/openj9/test/jdk/java/lang/invoke/DropLookupModeTest.java.

Now keep working on the failing tests captured in https://github.com/ibmruntimes/openj9-openjdk-jdk14/blob/openj9/test/jdk/java/lang/invoke/AccessControlTest.java.

[2020-02-28 19:42] #8682 closed

[2020-02-28 19:56] DanHeidinga opened #8690 "Have the right 3 J9ClassLoaders pointers in J9JavaVM"
We’ve defined 4 `J9ClassLoader` fields in `J9JavaVM`:
[code]
and I believe there should only be 3 with `platformClassLoader` and `extensionClassLoader` always pointing at the same loader.

we can remove platformClassLoader and replace the usage with extensionClassLoader. It's only used in JVM_DefineModule()

[2020-02-28 20:09] smlambert commented on #8684
ci.adoptopenjdk.net has been experiencing issues lately and we pull jtreg from a job on that server

(related to https://openj9.slack.com/archives/CDS7QE9HB/p1582915253009400 - mucho crashes in openjdk j9 runs that then fill up Jenkins master and take out the server, see related: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1659 and of course fixing this recent openj9 issue that is causing

[2020-02-28 20:13] keithc-ca commented on #8219
We will want the debug information for all shared libraries; it may make sense to do the same for all executables as well, not just jitserver.

[2020-02-28 20:21] ashu-mehra commented on #8219
@keithc-ca yes, that's the intention. I showed the `jitserver_launcher` change as an example.
We would have to do similar change for all modules that generate shared library/executable.

[2020-02-28 20:22] ashu-mehra commented on #8219
@keithc-ca Is that change okay with you?

[2020-02-28 20:30] keithc-ca commented on #8219
I would hope that the changes will be in a small number of locations (ideally, one) that will do the right thing for executables and shared libraries. The cmake solution should respect `OMR_SEPARATE_DEBUG_INFO`.

[2020-02-28 20:48] pshipton commented on #8661
The "good" and "bad" JVMs in https://github.com/eclipse/openj9/issues/8661#issuecomment-592667113 have exactly the same SHAs.

[2020-02-28 20:54] babsingh commented on #8661
The failure happens during method compilation in all core dumps. Stacktrace mostly consists of JIT frames. ++ @andrewcraik @cathyzhyi.
[code]

[2020-02-28 21:02] babsingh commented on #8661
The VarHandle changes are only Java changes, and they only impact Java 14+. I don't think they are responsible for these failures, which are also seen on Java 11.

**Delivered VarHandle changes:** https://github.com/eclipse/openj9/pull/8330 **(Part 1)** and https://github.com/eclipse/openj9/pull/8414 **(Part 2)**.

[2020-02-28 21:37] smlambert opened #8694 "Crashes in jdk11+ jdk_lang / sanity.openjdk tests"
Failure link
------------

There were multiple failing links, but I have deleted many of the test runs, to make space on ci.adoptopenjdk.net Jenkins server.  This was originally reported in https://github.com/eclipse/openj9/issues/8661#issuecomment-592667113 but it seems bigger than that.

Copying test artifacts into this folder: https://ibm.ent.box.com/folder/105135247420

Public link to the fail

[2020-02-28 21:37] smlambert commented on #8661
re: https://github.com/eclipse/openj9/issues/8661#issuecomment-592721396 yes, apologies that report on the mac failures is a red herring.  I have created https://github.com/eclipse/openj9/issues/8694 and will update it more thoroughly.

[2020-02-28 21:43] smlambert commented on #8694
Because crashes are there even when all tests pass, have to look back to see where first case of this is seen.  Will update with new information after further triage.

[2020-02-28 21:56] #8166 closed

[2020-02-28 22:01] ashu-mehra commented on #8219
I can't seem to find any way to do this at a single location. Do you have any ideas?

I am not sure what role `OMR_SEPARATE_DEBUG_INFO` is playing here. Its [default value](https://github.com/eclipse/omr/blob/37e6cd9e63dff9a984fe81423f6570678fd5ebe7/cmake/modules/OmrDDRSupport.cmake#L38) is `OFF` and is never set to `ON`. Only place it is used is [`omr/cmake/modules/OmrDDRSupport.cmake`](https://g

[2020-02-28 22:33] keithc-ca commented on #8219
Setting `OMR_SEPARATE_DEBUG_INFO=ON` doesn't break DDR as far as I'm aware.
My suggestion is that for better integration with openjdk, openj9 would like `OMR_SEPARATE_DEBUG_INFO` to apply to all executables and shared libraries - not _just_ those examined by `ddrgen`. It was my plan to make that change as a follow on to https://github.com/eclipse/openj9/pull/8693 and for consistency with the makef

[2020-02-28 22:57] pshipton opened #8696 "RH zlinux build machines are very slow building jdk8"
It seems the builds on the new RH zlinux machines are taking 2 hours. The old machines took about 20min usually.

https://ci.eclipse.org/openj9/job/Build_JDK8_s390x_linux_Nightly/303/ - UB16 - 18min
https://ci.eclipse.org/openj9/job/Build_JDK8_s390x_linux_Nightly/304/ - UB16 - 17min
https://ci.eclipse.org/openj9/job/Build_JDK8_s390x_linux_Nightly/305/ - UB16 - 17min
https://ci.eclipse.org/openj9/j

[2020-02-28 22:57] pshipton commented on #8696
@jdekonin @AdamBrousseau

[2020-02-28 23:01] pshipton commented on #8696
UB16
[code]

RH7
[code]

[2020-02-28 23:19] ashu-mehra commented on #8219
Would your plan then fix this issue as well?

[2020-02-28 23:26] smlambert commented on #8694
Using search output feature of trss to look for text:

"Method_being_compiled=java/lang/invoke/BruteArgumentMoverHandle.invokeExact_thunkArchetype_X"

[Pipeline 771 search](http://testci1.fyre.ibm.com/searchResult?buildId=5e5853c07425e10df188a39a&searchText=Method_being_compiled%3Djava%2Flang%2Finvoke%2FBruteArgumentMoverHandle.invokeExact_thunkArchetype_X) results

[Pipeline 770 search](http://te

[2020-02-28 23:28] smlambert commented on #8694
From @babsingh comment https://github.com/eclipse/openj9/issues/8661#issuecomment-592723705

[2020-02-28 23:38] pshipton commented on #8694
https://github.com/eclipse/openj9/compare/3f7fe5e...687ff96
https://github.com/eclipse/openj9-omr/compare/00c57af16...d74c6364b

[2020-02-28 23:39] pshipton commented on #8694
This is blocking creation of the 0.19 Milestone 2 build.

[2020-02-29 00:12] smlambert commented on #8694
Found also in jdk14, sample [search results from recent jdk14](http://testci1.fyre.ibm.com/searchResult?buildId=5e58294e7425e10df188a0f5&searchText=Method_being_compiled%3Djava%2Flang%2Finvoke%2FBruteArgumentMoverHandle.invokeExact_thunkArchetype_X) pipeline:

Not seen in jdk8 pipelines

[2020-02-29 05:36] gacholio opened #8698 "ARM64 array copy must copy by words"
In file:

https://github.com/eclipse/openj9/blob/fa929cce09d104e526e898f86aa9d6e9cd8a8f62/runtime/compiler/aarch64/runtime/ARM64ArrayCopy.spp

There's a comment about "optimizing" with wider data types - this is not an optimization, it's a requirement. All array accesses must be atomic wrt the element size. This is particularly important for object arrays, where non-slot copies will result in pote

[2020-02-29 07:43] yangzhang-ibm-au commented on #8636
@JasonFengJ9 Thanks for the update! I did the changes to our docker image to use the nightly build you provided (OpenJDK8U-jdk_x64_linux_openj9_2020-02-24-12-06.tar.gz) and it's currently pending approval. Hopefully I can get it tested on Monday or Tuesday, will let you know how it goes.

[2020-02-29 12:23] 0xdaryl commented on #8698
@knn-k

[2020-02-29 20:01] mpirvu opened #8699 "Increased CPU utilization with JITServer since 0.18.1"
Comparing SDKs from February 2020 to 0.18.1 SDK I observed a 10% increase in CPU consumed by the client. This is typically caused by an increase in the number of messages exchanged between client and server, but in this cause I don't see a clear increase (344K vs 341K).
Looking at the categories that have increased in recent SDKs I see 4.7K messages of type `ResolvedMethod_definingClassFromCPField

[2020-02-29 20:17] mpirvu commented on #8699
I instrumented the code to see where `ResolvedMethod_getRemoteROMClassAndMethods` messages come from and found this piece of code which could be optimized:
[code]
The routine in question takes a list of subclasses for a particular class and for each subclass tests whether that subclass is an interface or an abstract class. The JITServer is forced to fetch each such subclass in order to perform the

[2020-03-01 19:50] #8292 closed

[2020-03-01 20:12] DanHeidinga commented on #8690
Closed by #8695

[2020-03-01 20:12] #8690 closed

[2020-03-01 23:45] knn-k commented on #8698
The arraycopy code is not enabled yet.  I will work on it when I enable arraycopy (primitive and reference) on aarch64.

[2020-03-01 23:58] JasonFengJ9 opened #8706 "JDK8 JITServer : LambdaLoadTest_OpenJ9_Linux_CompressedRefs_special_12_FAILED"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_x86-64_linux_jit_Nightly/21`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
00:24:27  https://ci.adoptopenjdk.net/j

[2020-03-02 00:03] JasonFengJ9 opened #8707 "JDK8 JITServer : ClassLoadingTest_special_12_FAILED"
Failure link
------------

From an internal build `Test_openjdk11_j9_special.system_x86-64_linux_jit_Nightly/24`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
00:47:49  https://ci.adoptopenjdk.net

[2020-03-02 00:14] JasonFengJ9 opened #8708 "testJITServer_0 Failed to start client"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_Nightly/288`
[code]

(**Edited**) Also at https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/296/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the

[2020-03-02 00:33] JasonFengJ9 opened #8709 "j9_extended.functional_x86-64_mac_xl testOSMXBeanRemote_0_FAILED Caused by: java.lang.IllegalArgumentException"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.functional_x86-64_mac_xl_Nightly/6/`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
02:24:14  https://ci.adoptopenjdk.n

[2020-03-02 10:11] andrew-m-leonard commented on #8571
copy of post by Mandy Chung (Oracle):
I see the confusion and we should improve the documentation.  I have created JDK-8240242 to improve the javadoc.

I also recommend to check out the Access modes section added in 14 that gives detail examples on the lookup object resulting from Lookup::in and dropLookupModes.

https://download.java.net/java/early_access/jdk15/docs/api/java.base/java/lang/invoke

[2020-03-02 12:30] JasonFengJ9 commented on #8681
Occurred at https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64le_linux_Nightly/313/console
[code]

[2020-03-02 12:34] M-Davies commented on #8637
Apologies for the delay. It was using a binary that had already been deleted and I couldn't create new grinder on Friday with Jenkins down. Have a rerun going at https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2366/

[2020-03-02 12:41] JasonFengJ9 commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_linux_xl_Release/3/tapResults/
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0_FAILED

[2020-03-02 15:49] pshipton commented on #8708
@mpirvu

[2020-03-02 15:50] pshipton commented on #8707
@mpirvu

[2020-03-02 15:50] pshipton commented on #8706
@mpirvu

[2020-03-02 15:59] AdamBrousseau commented on #8696
Note the Java11+ builds are fast. I see the same behaviour internally. Something about JDK8?

[2020-03-02 16:57] dnakamura commented on #8183
So the windows footprint issues are traceable back to  extra data in the shared classes cache. For whatever reason the cmake runs are ending with with more methods in the shared classes. Not sure exactly what our heuristics are for adding methods to the cache, or how I could have affected that. Moving on to aix until I get some answers in that department

[2020-03-02 17:13] r30shah commented on #8637
Grinder in previous comment didn't fail. I have tried reproduced this on internal machines with no success. @AdamBrousseau  @pshipton Is it possible to get access to one of the macOS machine where this fails fairly, the machine @M-Davies  have seen this failure on.  Given that fix is targeted at 0.19 release, this will help speed up the investigation and create fix.

[2020-03-02 17:47] ChengJin01 commented on #8571
@andrew-m-leonard,

Many thanks for posting the response from Mandy Chung (Oracle).

I went over the Access modes section added in https://download.java.net/java/early_access/jdk14/docs/api/java.base/java/lang/invoke/MethodHandles.Lookup.html#access-modes and https://download.java.net/java/early_access/jdk15/docs/api/java.base/java/lang/invoke/MethodHandles.Lookup.html#access-modes but neither of

[2020-03-02 18:09] pshipton commented on #8637
These are machines at AdoptOpenJDK.net, @smlambert can you help with the request in the previous comment.

[2020-03-02 19:16] gacholio commented on #8675
I often use `breakOnEntry` once I've narrowed a problem down to a small number of compiled methods (and I imagine this one can be used with a regex as well).

x86 has a break instruction, which the debugger will allow you to step past. Is this true on any other platform? If not, you'd need to insert a call to a dummy function and break there in the debugger - certainly less convenient, but better

[2020-03-02 19:23] DanHeidinga commented on #8183
@mpirvu @hangshao0 Can you weigh in on why we'd be seeing more methods in the SCC with a cmake-based build?

@dnakamura Can you share details on the differences you're seeing?  Is this a couple of methods or a large num?  Detailed output from `-Xshareclasses:printStats` may help track this down

[2020-03-02 19:24] 0xdaryl commented on #8675
I believe all architectures support some variant of `breakOnEntry`.  That option has proven its worth time and again and is not going anywhere.

The `breakOnThrow` option appears to have been introduced when someone checked in their diagnostic code that they used to investigate a bug.  From the responses here (and lack of responses) it is clear it isn't well known at all even in x86 circles.  I'm

[2020-03-02 19:30] pshipton commented on #8681
@mpirvu fyi. I believe @keithc-ca has discovered the problem with the makefile.

[2020-03-02 19:33] pshipton commented on #8696
@AdamBrousseau What jdk8 boot jdk is being used?

[2020-03-02 19:36] pshipton commented on #8696
i.e. I suspect the boot jdk is a Hotspot version that doesn't have a JIT, pls update it to an OpenJ9 version.

[2020-03-02 19:38] pshipton commented on #8696
To answer my own question:

`openjdk version "1.8.0_242" OpenJDK Runtime Environment (build 1.8.0_242-b08) OpenJDK 64-Bit Zero VM (build 25.242-b08, interpreted mode)  (at /usr/lib/jvm/adoptojdk-java-s390x-80)`

[2020-03-02 19:40] hangshao0 commented on #8183
I will let Marius comment on the AOT part, but cmake should have no impact on the romclasses. Make sure to run `-Xshareclasses:destroy` before the test to clear the possible shared cache left behind by another JVM.

[2020-03-02 19:57] keithc-ca opened #8716 "jvmnativestest_0 passes despite errors"
Failure link
------------
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly/297

Optional info
-------------
- intermittent failure (yes|no):

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-03-02 20:00] a7ehuo opened #8717 "Re-evaluate JITServer known object table bypassed operations at the server"
A few `KOT` related optimizations/operations will be bypassed at the server [1][2] due to various reasons. They would require an re-evaluation in the near future in case if there is any potential performance impact.

1. Currently there is no implementation/infrastructure in OMR code to send messages from the server to the client when VM access is required.
* `int32_t TR_InvariantArgumentPreexisten

[2020-03-02 20:03] pshipton commented on #8716
@llxia A problem with junit?
We'll need to fix the test before fixing the junit problem, otherwise sanity.functional will fail across all platforms.

[2020-03-02 20:07] AdamBrousseau commented on #8696
I will update with OpenJ9 JDK8 0.18.1

[2020-03-02 20:08] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Personal/295/
cmdLineTester_loopReduction_0

[code]

[2020-03-02 20:09] mpirvu commented on #8183
Same for AOT: there should not be any differences in the number of AOT methods based on whether cmake is used or not.

[2020-03-02 20:13] mpirvu commented on #8681
Cool! Thanks @keithc-ca

[2020-03-02 20:28] DanHeidinga commented on #8228
I'd like to see more details on deployment scenarios here as they'll drive the way users interact with (and how they want to shut down) the jitserver.

The first use case is the user running `jitserver --port=... --address=....` in a terminal.
Shutdown options:
* same terminal: ctrl-c
* terminal on same machine: `jitserver --port=... --address=.... --shutdown`?

For Cloud (Kube?) deployments, woul

[2020-03-02 20:36] pshipton commented on #8716
https://github.com/eclipse/openj9/pull/8720 should fix the test, it shouldn't be running on jdk8.

[2020-03-02 20:43] llxia commented on #8716
It looks like the test exits normally when there is a failure:
https://github.com/eclipse/openj9/blob/ebec356635a35ff2acbd4e3958752c309b9bcdc4/test/functional/VM_Test/src/com/ibm/oti/jvmtests/AutoRun.java#L33-L39

@LongyuZhang Could you add `System.exit(-2)` when there is failure? Thanks

[2020-03-02 21:06] pshipton commented on #6831
@DanHeidinga can this be closed now?

[2020-03-02 21:09] AdamBrousseau commented on #8696
Updated symlink to point to OpenJ9 jdk8 0.18.1

[2020-03-02 22:15] #8696 closed

[2020-03-02 22:56] #8553 closed

[2020-03-02 22:56] #8694 closed

[2020-03-02 23:02] kgibm opened #8721 "Feature request: Allow default javacore file name for jcmd Dump.java"
Using jcmd with Dump.java without a filename gives an error and its help shows that a file name is required:
[code]
It would be nice if Dump.java allowed using the default (or `-Xdump`-configured) javacore name format and directory. This would be valuable because the user wouldn't have to worry about creating a unique file name (if the command is executed multiple times), allows tools that expect

[2020-03-02 23:07] pshipton commented on #8696
Much better now
[code]

[2020-03-02 23:18] pshipton commented on #8661
I think this is fixed now by #8598

[2020-03-02 23:40] knn-k opened #8723 "Support cache levels and types in j9sysinfo_get_cache_info()"
j9sysinfo_get_cache_info() in runtime/port/unix/j9sysinfo_get_cache_info() supports queries for J9PORT_CACHEINFO_QUERY_TYPES, J9PORT_CACHEINFO_QUERY_LEVELS, and J9PORT_CACHEINFO_QUERY_CACHESIZE on the following platforms only: J9X86, J9HAMMER, AIXPPC.

Support those queries in j9sysinfo_get_cache_info() on other platforms, and enable the test j9sysinfo_test_get_levels_and_types() in runtime/tests/

[2020-03-02 23:52] ChengJin01 commented on #8571
@andrew-m-leonard,

There is another case I'd like to confirm with Oracle is `testDropLookupMode()` at test/jdk/java/lang/invoke/modules/m3/jdk/test/ModuleAccessTest.java
[code]
Based on the expected result above, does it mean PRIVATE, PACKAGE should be dropped whether or not MODULE exists in the access mode? (PROTECTED is dropped by default)

[2020-03-03 01:54] zjingjbj opened #8724 "Java core dump with openj9"
Java -version output
--------------------

openjdk version "11.0.4" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.15.1, JRE 11 Linux amd64-64-Bit Compressed References 20190717_286 (JIT enabled, AOT enabled)
OpenJ9   - 0f66c6431
OMR      - ec782f26
JCL      - fa49279450 based on jdk-11.0.4+11)

Summary of problem
--------------

[2020-03-03 02:20] JasonFengJ9 commented on #8721
It does make sense to allow `Dump.java` using the default settings like `-Xdump` with default settings.
Similarly this can apply to `Dump.snap` and `Dump.system` as well.

[2020-03-03 02:31] DanHeidinga commented on #6831
yes

[2020-03-03 02:31] #6831 closed

[2020-03-03 03:02] smlambert commented on #8637
Process to request access to a machine at AdoptOpenJDK used to be to raise a request in the [openjdk-infrastructure repo](https://github.com/AdoptOpenJDK/openjdk-infrastructure), assume that still holds (@sxa555 can correct me if that has changed).

[Search for "should have a regStore pre split point" in TRSS](http://testci1.fyre.ibm.com/searchResult?buildId=5e58294e7425e10df188a0f5&searchText=sho

[2020-03-03 03:28] smlambert commented on #8637
I searched the last several jdk14 pipelines and see it occur intermittently in ppc64le_linux_xl, x86-64_mac_xl and s390x_linux_xl test runs, and seen once in a (Passing) windows_xl run.

<img width="1113" alt="Screen Shot 2020-03-02 at 10 20 07 PM" src="https://user-images.githubusercontent.com/2836948/75739866-15fdd400-5cd4-11ea-9ffb-68621a630cbd.png">

Noting I have not found it occurring in com

[2020-03-03 09:36] M-Davies commented on #8637
Thanks @smlambert !
Have reran 3 grinders for the machines specified, see if we can't narrow down which ones are affected
- https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2402/ (Running CloseDuringConnect.java on x86-64_mac_xl machine `test-macincloud-macos1010-x64-2`)
- https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2403/ (Running UpdateInterference.java on s390x_linux_xl ma

[2020-03-03 10:22] M-Davies opened #8725 "OpenJ9 build failure: sun_misc_Unsafe.cpp No Such Instruction"
OpenJ9 is failing to build on linux_x64 and linux_x64_XL machines with the following error.
[code]
Currently fails on all jdk11 and 14 linux and linux_xl builds and on jdk8 linux_xl builds (jdk8 linux is failing for the known  `#include "net/gen/compile.pb.h"` failure)

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9/497/console

[2020-03-03 12:46] pshipton commented on #8725
@DanHeidinga

[2020-03-03 12:56] pshipton opened #8726 "testJITServer NullPointerException StringBuilder.ensureCapacityImpl"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/296
testJITServer_1
[code]

[2020-03-03 12:56] pshipton commented on #8726
@mpirvu

[2020-03-03 13:13] pshipton commented on #8681
This is hitting builds at Adopt and needs to be resolved asap.
https://github.com/eclipse/openj9/issues/8725#issue-574562121

[2020-03-03 13:22] DanHeidinga commented on #8725
@mikezhang1234567890 Can you look into this?  I suspect it's related to the Unsafe changes for Nonvolatile memory

[2020-03-03 13:33] DanHeidinga commented on #8724
@zjingjbj Can you try with the most recent JDK11 release?

The `java -version` output shows the issue occurs with the `openj9-0.15.1` release and the latest is the `jdk-11.0.6+10` build with openj9 version `openj9-0.18.1`.

The latest build can be downloaded from https://adoptopenjdk.net/?variant=openjdk11&jvmVariant=openj9

[2020-03-03 13:36] adam-thorpe commented on #8661
Yep seems to be resolved. Tests will be unexcluded

[2020-03-03 13:36] #8661 closed

[2020-03-03 13:50] lumpfish opened #8728 "JTReg failure: java/math/BigInteger/largeMemory/SymmetricRangeTests.java"
Failure has been reported at AdoptOpenJDK as intermittent on Windows, Windows XL and AIX jdk14, though the isolated test case below also fails locally on jdk11.0.6+10_openj9-0.18.1 on linux_x86-64.
The test is annotated with
[code]
so it may be that it is not the failure which is intermittent, but the execution of the test itself.  Certainly there are 'passed' test runs where this particular test

[2020-03-03 14:10] pshipton opened #8729 "Corrupt shared cache on zlinux"
I think it occurs after we get unexpectedly disconnected from the machine. It seems the corruptcache diagnostics interfere with getting the JVM version so the build fails.

Diagnostic files are in the artifacts attached to the build job.

https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_OMR/496
  the previous job was https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_OMR/495/ which

[2020-03-03 14:11] pshipton commented on #8729
@hangshao0 fyi

[2020-03-03 14:19] keithc-ca commented on #8725
On the surface, this seems likely to be a compiler version or machine issue.
The compiler path in the log suggests the build is using gcc-7.5: Does anyone know if the build host has to support those instructions for the assembler to accept them?
What version of `as` is in use?

[2020-03-03 14:22] wraschke commented on #7684
I haven't seen the ClassFormatError using the 0.18.0 JDK release. I think you can close this now. _But_ it would really good to know exactly why this problem was happening and what exactly fixed it.

[2020-03-03 14:33] AdamBrousseau commented on #8725
@M-Davies can you include the git SHAs that were used to build please? I can't find them from the console output. I don't see any failures on internal builds or at the OpenJ9 farm.

[2020-03-03 14:34] pshipton commented on #8728
@lumpfish what -Xmx value are you using to run the small testcase? Does it work with a bigger -Xmx value? If you aren't setting any -Xmx, pls run with `-verbose:gc` to see the default setting on your test machine.

[2020-03-03 14:43] pshipton commented on #8725
We know the problem is introduced by https://github.com/eclipse/openj9/pull/7258 which was recently merged. What we don't yet understand is why it builds on the OpenJ9 machines but not on the Adopt machines (https://github.com/eclipse/openj9/issues/8725#issuecomment-593974047).

[2020-03-03 14:45] pshipton commented on #8725
and for the record, the `#include "net/gen/compile.pb.h"` problem is https://github.com/eclipse/openj9/issues/8681 which has a PR under review to fix it, https://github.com/eclipse/openj9/pull/8730.

[2020-03-03 16:09] lumpfish commented on #8728
The real test is run with -Xmx8g.
The small test case fails on a Windows 32Gb laptop with no -Xmx, -Xmx8g or -Xmx16g.

There is a difference in output running with -Xmx8g vs. -Xmx1g:

-Xmx8g:
[code]

-Xmx1g
[code]

[2020-03-03 16:10] M-Davies commented on #8637
@r30shah https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2402/ (CloseDuringConnect.java) failed 5 times. You should be able to see any javacore files that it created by downloading the openjdk_test_output.tar.gz (IIRC, they're at `TKG/test_output/jdk_nio_0/work/java/nio/channels/SocketChannel/CloseDuringConnect/`).

I've kicked off two more grinders with the test targets swapped over to

[2020-03-03 16:23] #8681 closed

[2020-03-03 16:27] M-Davies commented on #8725
@AdamBrousseau I could only see the following SHA from the output
[code]

Have raised a query in the adopt infrastructure channel about the version of `as` we're using https://adoptopenjdk.slack.com/archives/C53GHCXL4/p1583252454023800

[2020-03-03 16:38] M-Davies commented on #8725
@keithc-ca We have as versions 2.20, 2.23 and 2.28 installed on the machine however it's not clear which one we use in the build scripts.

[2020-03-03 16:50] sxa555 commented on #8725
It may be 2.20 which I believe is older than the one used on the OpenJ9 machines

[2020-03-03 17:00] keithc-ca opened #8732 "OpenJ9 should not include man pages for non-existent tools"
A user was concerned [1] about warnings when installing OpenJ9 on Ubuntu 18.04 via a PPA [2], for example:
[code]
OpenJ9 images should not include man pages for commands that are not provided.

[1] https://stackoverflow.com/questions/56678788/i-got-missing-executeable-files-after-installing-openjdk-openj9-in-ubuntu-18-04
[2] https://launchpad.net/~rpardini/+archive/ubuntu/adoptopenjdk

[2020-03-03 17:00] sxa555 commented on #8725
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9/552/consoleFull /should/ have been run with `as` 2.28 but still failed

[2020-03-03 17:14] keithc-ca commented on #8725
In a CentOS:6.9 docker container, `as` reports:
[code]
and `gcc-7.5` complains the similarly:
[code]
We need to find another way to express those instructions in our code or upgrade the assembler on build machines.

[2020-03-03 17:16] lumpfish commented on #8652
This has now occurred on jdk14 aix too running test java/nio/channels/FileChannel/TransferToChannel.java: https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_ppc64_aix/12/console
[code]

[2020-03-03 17:16] sxa555 commented on #8637
Nope that's generally the right way to do it (although I don't think I have full access to all of the mac machines so I'd need to engage someone - probably at MSFT - who can grant it)

[2020-03-03 17:19] planetf1 commented on #7684
As the originator of all of this work (reported on egeria wrt apache rat), I just wanted to confirm that I've not seen the issue recently, since updating to later jdk. I will of course report if I do.

[2020-03-03 17:19] mikezhang1234567890 commented on #8725
`as` version 2.25 seems to be the earliest version with clwb/clflushopt.

[2020-03-03 17:20] lumpfish commented on #8637
Occurred on last night's nightly build on  test-osuosl-ubuntu1604-ppc64le-4: https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_ppc64le_linux_xl/16/console

[2020-03-03 17:30] dmitripivkine commented on #8652
I stored results locally, so if somebody needs core files for previous or this one ask me

[2020-03-03 17:36] hangshao0 commented on #8729
The cache segment area is zero'ed out from page boundary 0x000003ff5dd6a000

[code]

Also the metadata region is zero'ed out from page boundary: 0x000003ff6e01f000
[code]

These corruption addresses (0x000003ff5dd6a000, 0x000003ff6e01f000) do not look like random to me. The last readable metedata 0x000003FF6E01F084 is correctly pointing a romclass (0x000003FF5DD69CC0), which is right before segmen

[2020-03-03 17:37] llxia commented on #8716
Both #8720 and #8727 are merged.
Close this issue. Please reopen if the problem still occurs.

[2020-03-03 17:37] #8716 closed

[2020-03-03 17:52] sxa555 commented on #8725
Hmmm so my test with replacing the `/usr/bin/as` symlink should have worked. May try that again tomorrow ...

[2020-03-03 18:20] keithc-ca commented on #8219
No, removing debug information doesn't strip an executable completely. I think this should focus on arranging that `jitserver` is stripped (completely) by the time it makes its way into a jdk image.

[2020-03-03 18:58] pshipton opened #8733 "protobuf license missing from LICENSE and longabout.html"
protobuf is not listed in
- https://github.com/eclipse/openj9/blob/master/LICENSE
- https://github.com/eclipse/openj9/blob/master/longabout.html

The fix also needs to be delivered to the v0.19.0-release branch.

[2020-03-03 19:00] pshipton commented on #8733
@mpirvu can you create a PR to fix this please.

[2020-03-03 19:30] amicic opened #8734 "Optimize scanFinalizableObjects"
This is a list of objects that are enqueued for finalization, but are not finalized yet.

If (a new) GC occurs before they are finalized, they have to be kept alive. Hence this list is treated as hard root.

Currently we scan this list single threaded, but in theory it could be parallel (we need to split the list in multiple sublists).

Additionally, a couple of collectors (like Scavenger and Copy

[2020-03-03 20:01] mpirvu commented on #8733
@pshipton
Current version of `LICENSE` file includes the description for:
[code]
but this is not listed in the beggining:
[code]
Either I'll have to add `musl` at position 7, or remove the license blurb for musl at the end. Please advise.

[2020-03-03 20:11] babsingh opened #8735 "OpenJ9 behaves differently when SIGABRT is received by a native app"
## Test source code

[openj9_sigabrt_issue.zip](https://github.com/eclipse/openj9/files/4283310/openj9_sigabrt_issue.zip) [provided by @imkabir]

## Test behavior

There are two files in the testcase:

1) **test_sigabrt.c** (native app): Registers an application signal handler for `SIGABRT`. Then, it executes the Java code and sleeps.
[code]
2) **javasample.java**: Contains the Java code.

When `S

[2020-03-03 20:12] pshipton commented on #8733
Pls add `musl` at position 7.

[2020-03-03 20:21] babsingh commented on #8735
fyi @imkabir, The above issue covers the incorrect `SIGABRT` behavior reported by you. I will ping you once the issue is resolved.

[2020-03-03 20:27] pshipton opened #8738 "rh7-390-3 seems to be flaky"
I've seen rh7-390-3 become unavailable before. Perhaps other machines as well, but I didn't keep track. Opening this to track if it's always the rh7-390-3 machine.

https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_OMR/495
https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_Personal/466
'Cannot contact rh7-390-3: java.lang.InterruptedException'

[2020-03-03 20:28] pshipton commented on #8738
Disabling rh7-390-3 for now.

[2020-03-03 20:36] AdamBrousseau commented on #8738
Possibly same as what Adopt is seeing.
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1154

[2020-03-03 20:37] ChengJin01 commented on #8571
All jtreg test failures with Lookup have been fixed and all tests passed with the latest code in #8657 as follows:
[1]export JDK_CUSTOM_TARGET=test/jdk/java/lang/invoke/MethodHandles/privateLookupIn/Driver.java
[jtreg_privateLookupIn_log.txt](https://github.com/eclipse/openj9/files/4283447/jtreg_privateLookupIn_log.txt)
[code]

[2]export JDK_CUSTOM_TARGET=test/jdk/java/lang/invoke/lookup/LookupCla

[2020-03-03 20:39] AdamBrousseau commented on #8738
[code]

[2020-03-03 20:42] DanHeidinga commented on #8735
@babsingh Does this behaviour change on the RI in later versions?  Do JDK 11 & 14 have similar results?

[2020-03-03 20:42] pshipton commented on #8738
When it falls over, it also causes https://github.com/eclipse/openj9/issues/8729

[2020-03-03 20:46] keithc-ca commented on #8725
Why three versions?

[2020-03-03 20:49] ChengJin01 commented on #8570
All jtreg test failures here with Lookup have been fixed (see https://github.com/eclipse/openj9/issues/8571#issuecomment-594156246)
and all tests here passed with the latest code in #8657 as follows:

[1]export JDK_CUSTOM_TARGET=test/jdk/java/lang/invoke/lookup/LookupClassTest.java
[jtreg_LookupClassTest_log.txt](https://github.com/eclipse/openj9/files/4283526/jtreg_LookupClassTest_log.txt)
[code]

[2020-03-03 20:54] babsingh commented on #8735
OpenJ9-JDK11+ (tested JDK11 and JDK13) behave similar to OpenJ9-JDK8.

[2020-03-03 21:06] AdamBrousseau commented on #8738
from `/var/log/messages`
Matching the time the 466 build fell over
[code]
Looks like machine has restarted? I'm not an expert on these messages. I can grab the file.

[2020-03-03 21:09] pshipton commented on #8729
@manqingl fyi

[2020-03-03 21:11] DanHeidinga commented on #8735
What about the RI's JDK11 & JDK13?

[2020-03-03 21:22] #8733 closed

[2020-03-03 21:28] pshipton commented on #8738
Restarting is consistent with the behavior we are seeing. The machine becomes available in jenkins again with a recent date/time for starting the agent `[03/03/20 15:30:11] Launching agent`

[2020-03-03 21:30] pshipton commented on #8738
Even though I disconnected it, it's active in the builds again. Perhaps I need to take it offline and disconnect it.

[2020-03-03 21:32] pshipton commented on #8732
@lumpfish @andrew-m-leonard can you pls take a look.

[2020-03-03 21:48] r30shah commented on #8637
Thanks @smlambert  @M-Davies  for all the pointers. I have been able to make progress in investigating the failures by analyzing the log file from the https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2402/.

So failure happens because of following trees.
[code]
To add a profiling trees while lowering trees for call, `n4257n` we split the block using post GRA Block splitter [1].
Now in the

[2020-03-04 01:17] ashu-mehra commented on #8219
In my Java 11 build on Linux x86, I don't see the executables or shared libraries completely stripped in the jdk image, only the debug info is stripped.

[code]

If we want to strip completely, then I guess we should do it for all the artifacts, not just `jitserver` executable.

[2020-03-04 01:24] ChengJin01 commented on #8571
I double-checked the test cases with `Lookup::in()` previously mentioned at https://github.com/eclipse/openj9/issues/8571#issuecomment-593527947 against the Java 14 Spec at http://cr.openjdk.java.net/~iris/se/14/build/latest/api/java.base/java/lang/invoke/MethodHandles.Lookup.html#in(java.lang.Class)
and https://download.java.net/java/early_access/jdk14/docs/api/java.base/java/lang/invoke/MethodHa

[2020-03-04 01:41] zjingjbj commented on #8724
@DanHeidinga I've tried JDK11 but the same error happened in java core dump:

java -version
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9   - 51a5857d2
OMR      - 7a1b0239a
JCL      - da35e0c380 based on

[2020-03-04 02:11] babsingh commented on #8735
What does **RI** stand for?

[2020-03-04 02:23] JasonFengJ9 commented on #8735
`RI` = Reference Implementation which is `OpenJDK Hotspot`.

[2020-03-04 03:28] pshipton commented on #8724
Do you have the crash output from the console? Also, please zip up and attach the entire diagnostic files.

[2020-03-04 03:29] babsingh commented on #8735
**Summary:**
- OpenJ9-JDK11+ (tested JDK11 and JDK13) behave similar to OpenJ9-JDK8, which yields the WRONG behavior.
- RI-JDK11+ (tested JDK11 and JDK13) behave similar to RI-JDK8, which yields the CORRECT behavior.
- Also tried the oldest OpenJ9-JDK8 archived release (v0.11.0) from [here](https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=openj9). It also yields the WRONG behavior

[2020-03-04 03:44] pshipton commented on #8738
Here's one on rh7-390-2
https://ci.eclipse.org/openj9/job/Build_JDK11_s390x_linux_xl_Nightly/93

[2020-03-04 03:54] zjingjbj commented on #8724
@pshipton Thanks for the feedback! Can I send the log your private mail box?

[2020-03-04 03:54] pshipton commented on #8678
I think the `encoded value was less than 0` messages are normal. If the `bad source file` occurs again, pls reopen. Although it seems an internal problem so perhaps better opened internally.

[2020-03-04 03:54] #8678 closed

[2020-03-04 04:35] pshipton opened #8740 "Reboot Windows machines"
Might be time to reboot all the Windows machines.

win2012r2-x86-4 disabled.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly/298
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.system_x86-64_windows_Nightly/25
[code]

[2020-03-04 04:35] pshipton commented on #8740
@jdekonin @AdamBrousseau

[2020-03-04 09:17] M-Davies commented on #8637
@r30shah Grinder at https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2411/ 😄

[2020-03-04 12:11] AdamBrousseau commented on #8740
https://ci.eclipse.org/openj9/view/Infrastructure/job/Sanitize-Nodes/291/
The sanitize job runs at 9pm and reboots the windows machines. Looks like it failed last night. I can take a look later this morning if Joe hasn't beat me to it by then.

[2020-03-04 12:35] pshipton commented on #8738
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_s390x_linux_xl_Nightly/93
rh7-390-4

[2020-03-04 12:39] pshipton opened #8743 "AIX NioLoadTest_0 testFutureSequentialReadWriteMultiple java.nio.channels.ClosedChannelException"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly/299
NioLoadTest_0
[code]

[2020-03-04 13:09] sxa555 commented on #8725
OS Default, devtoolset-2 and devtoolset-7 which have all been required at one time or another and haven't been removed

[2020-03-04 13:53] lumpfish commented on #8732
@keithc-ca   - please can you confirm that for the current openj9 version the executables which are not provided (and therefore the man pages which should be removed from the openjdk-openj9 build) are jinfo, jstat and jstatd.

[2020-03-04 14:39] jdekonin commented on #8740
win2012r2-x86-4 rebooted and back online.

[2020-03-04 14:56] #8740 closed

[2020-03-04 15:01] pshipton commented on #8732
Note OpenJ9 has an independent impl of these utilities so the docs may not match.
jcmd
jps
jstack
jstat

[2020-03-04 15:18] pshipton commented on #8724
Thanks, I have received the javacore/jitdump/Snap and put them into triage/openj9-8724.

Are you able to reproduce the problem with the following build?
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK11_x86-64_linux_Nightly/307/OpenJ9-JDK11-x86-64_linux-20200304-030700.tar.gz
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_Nightly/307/

If so, pls co

[2020-03-04 15:26] a7ehuo commented on #8706
I'll take a look at this one.

[2020-03-04 15:35] pshipton commented on #8728
The following occurs on OpenJ9 because `-XX:-CompactStrings` is the default, unlike Hotspot where the default is `-XX:+CompactStrings`. When running OpenJ9 with `-XX:+CompactStrings` the behavior should be the same as Hotspot (or vice versa).
[code]

[2020-03-04 15:37] pshipton commented on #8728
Note OpenJ9 JDK8 is different because it has it's own implementation of StringBuffer rather than using the OpenJDK impl.

[2020-03-04 16:09] lumpfish commented on #8732
Does openj9 provide its own man page (.1) file for its implementation?

[2020-03-04 16:12] DanHeidinga commented on #8725
@AdamBrousseau @jdekonin Do you know which version of `as` is used on the openj9 machines?  Does it match the playbook version?

[2020-03-04 16:19] lumpfish commented on #8728
I have confirmed that the small test case passes with -XX:+CompactStrings.
So I guess we should exclude this test for open9 jdks unless / until the default setting is changed for openj9.

[2020-03-04 16:26] pshipton commented on #8064
Moving forward since I don't see any fix in hand and it's becoming too late to update the 0.19 release. Note the branch for the 0.20 release occurs on March 8.

[2020-03-04 16:26] pshipton commented on #7748
Moving forward since I don't see any fix in hand and it's becoming too late to update the 0.19 release. Note the branch for the 0.20 release occurs on March 8.

[2020-03-04 16:26] pshipton commented on #6933
Moving forward since I don't see any fix in hand and it's becoming too late to update the 0.19 release. Note the branch for the 0.20 release occurs on March 8.

[2020-03-04 16:27] pshipton commented on #8403
Moving forward since I don't see any fix in hand and it's becoming too late to update the 0.19 release. Note the branch for the 0.20 release occurs on March 8.

[2020-03-04 16:27] manqingl commented on #8729
@pshipton Thanks for letting me know.  I just sent an email to the zLinux kernel support team.

[2020-03-04 16:27] pshipton commented on #8652
Moving forward since I don't see any fix in hand and it's becoming too late to update the 0.19 release. Note the branch for the 0.20 release occurs on March 8.

[2020-03-04 16:28] pshipton commented on #8637
Moving forward since I don't see any fix in hand and it's becoming too late to update the 0.19 release. Note the branch for the 0.20 release occurs on March 8.

[2020-03-04 16:36] keithc-ca commented on #8732
The answer varies by jdk version:
* 8 - jhat jinfo jstatd
* 11 - jinfo jstatd
* 14 - jfr jinfo
* 15 - jfr jinfo

[2020-03-04 16:38] keithc-ca commented on #8732
Our implementation should match or the utility should have a different name.

[2020-03-04 16:38] dnakamura commented on #8183
From uma build:
[code]

From cmake build:
[code]

[2020-03-04 16:41] jdekonin commented on #8725
devtoolset-7 comes with its own version of `as` if you are using the enable script provided with that package.  gcc-7.3, on older os level, requires new binutils...ld, as for certain.  I believe v2.28 or higher is required for gcc7.

I found this related PR, which ended up closed around the time 7.5 was starting to be introduced??  Either way, gcc-7.5 would have the same requirement of requiring a