[2017-12-07 12:21] SueChaplain commented on #627
In the absence of further discussion and direction, slackin added and merged. We can change the approach should there be a compelling reason.

[2017-12-07 12:21] #627 closed

[2017-12-07 13:31] jonathanwoodford opened #773 "Priorities for project - discussion"

[2017-12-07 13:43] pshipton commented on #730
Based on some testing @pdbain-ibm did for another issue, I'd say AttachAPI isn't working.
[code]
The stack trace is iffy:
[code]
	It's calling the wrong attach API classes.

[2017-12-07 14:07] pdbain-ibm commented on #730
AttachAPI is mostly working.  Start*ManagementAgent() seem to have problems.  I am investigating.

[2017-12-07 14:38] jonathanwoodford commented on #773
What enhancements / function would be of value?
Which platforms are of most interest?
...etc.

[2017-12-07 14:39] DanHeidinga commented on #730
Based on @pshipton comment, are there missing patches from the JDK8 Extensions repo?

[2017-12-07 15:07] pdbain-ibm commented on #730
Simple testcase:
`	private static void startAgent(String vmid) {
		try {
			VirtualMachine vm = VirtualMachine.attach(vmid);
			System.out.println("startLocalManagementAgent");
			String response = vm.startLocalManagementAgent();
			System.out.println("response="+response);
			vm.detach();
		} catch (AttachNotSupportedException e) {
			e.printStackTrace();
		} catch (IOException e) {
			e.printSta

[2017-12-07 15:13] pdbain-ibm commented on #730
Attaching and doing getSystemProperties() works fine.
Running the target under OpenJ9 Java9 and running startLocalManagementAgent() using OpenJ9 Java 8 works fine, as expected.

[2017-12-07 15:20] theresa-m commented on #705
Woops I'm looking in the wrong repos. All the above are referenced in Java 8, but none are referenced in Java 9.

[2017-12-07 15:58] pdbain-ibm commented on #730
Instrumented Attachment:
PDB_DEBUG: getDeclaredMethod(START_LOCAL_MANAGEMENT_AGENT)
java.lang.NoSuchMethodException: sun.management.Agent.startRemoteManagementAgent(java.util.Properties)
	at java.lang.Class.newNoSuchMethodException(Class.java:515)
	at java.lang.Class.throwExceptionOrReturnNull(Class.java:1127)
	at java.lang.Class.getMethodHelper(Class.java:1189)
	at java.lang.Class.getDeclaredMeth

[2017-12-07 16:02] pshipton opened #775 "jextract should be a module"
The jextract code is included in the openj9.dtfj module, however it should be separated into its own module. jextract is used for service in order to zip up native libraries, therefore it should be included in the JRE, or at least separated from dtfj. The openj9.dtfj module is not included in the JRE since dtfj is not required for a runtime.

jextract invokes `openj9.dtfj/openj9.jvm.j9.dump.extrac

[2017-12-07 16:02] pshipton commented on #351
This Issue is partially fixed. It is fixed for Java 9 (ibmruntimes/openj9-openjdk-jdk9#68), but pending for Java 8 (ibmruntimes/openj9-openjdk-jdk8#8). Also note #775

[2017-12-07 16:13] pdbain-ibm commented on #730
First issue: startRemoteManagementAgent() in IBM Java8 takes a Properties object, but Java 9 and OpenJ9 Java 8 take a String argument.

[2017-12-07 16:48] zl-wang commented on #769
I didn't see why #666 can impact PPCLE build either.  But it appeared there is a problem with the PR checklist such that it were not caught if #666 would break.  The triggered CI build was only amd64 ... not testing the right stuffs (POWER .spp files handling).

[2017-12-07 16:59] pdbain-ibm commented on #730
OpenJ9 Java 8 is using the same API as Java 9.  Updating the JPP flags seems to fix the problem.

[2017-12-07 17:08] fjeremic opened #777 "Add missing compression checks in private String constructor"
There seem to be missing compression checks in code that deals with `toUpper` and `toLower`. The call a private `String(I)` constructor seen in

https://github.com/eclipse/openj9/blob/f15d63a353a71b651e3d866612e02d3d94426462/jcl/src/java.base/share/classes/java/lang/String.java#L1230-L1255

which creates a decompressed String by default. We need to rework this code and determine in which situation

[2017-12-07 17:21] pshipton commented on #84
Shared classes uses j9file_lastmod() to check jar file timestamps, which takes a filename parameter. Using a fd instead of a filename may resolve this issue. The shared cache doesn't currently keep fds open for the jar files, but perhaps it could do so during startup and other periods of heavy class loading. It would be easy to load fds after startup by using the J9VM_PHASE_NOT_STARTUP phase chang

[2017-12-07 19:33] #721 closed

[2017-12-07 21:16] JasonFengJ9 commented on #655
The failure is related to a field `coder` added within `java/lang/String` for `Java 10`. The `classpath` is passed to VM via `-Djava.class.path=`, and assigned to a system property as a `java/lang/String` object which is created by `stringhelpers.cpp:j9gc_createJavaLangString()`. However this string helper method doesn't set the string object field `coder` hence default value `0` is used which mea

[2017-12-07 22:29] pshipton commented on #773
Issue that should be fixed:
- #732

[2017-12-07 23:35] fjeremic opened #784 "String compression flag class loading event does not trigger virtual guard patching"
In https://github.com/eclipse/omr/pull/2013 we introduced a sideEffectGuard for the class load of `java/lang/String$StringCompressionFlag`, however this guard does not trigger the associated virtual guard patch when the respective class is loaded. This can easily be observed by the following simple unit test:

[code]

Running under two modes (`-Xint`) and (`-Xjit`) produces different results:

[co

[2017-12-07 23:36] fjeremic commented on #784
@yanluo7 could you please help to investigate this? I will be looking as well.

[2017-12-08 05:08] #732 closed

[2017-12-08 06:33] kaiwalyajoshi commented on #53
The build instructions work, I've gotten a build working on a Pandaboard.

[code]
[code]
[code]
A few minor missing details about the build instructions:
In the build docker image, you'll need to extract the Build JDK at /root/buildjdk

The rest was straightforward. Great stuff.

[2017-12-08 06:34] prakaashkpk opened #785 "JVM ignores Interrupt signal when debugger is attached"
JVM tends to ignore interrupt signal received by a thread when debugger is attached.

See the following test case
[code]

Test 1(Without JDB attached):
[code]

Test 2(With JDB attached):
[code]

Test 2 didn't throw InterruptedException when JDB is attached and stepped through code.

[2017-12-08 09:41] andrew-m-leonard commented on #655
Kudos! Great debugging Jason

[2017-12-08 10:01] adamfarley opened #786 "Remove java.logging from j9jcl's java.management classes"
If we can remove the "requires java.logging" from the j9jcl java.management's module-info.java.extra file (along with the need for it), then we won't need the Extensions changes to GenModuleInfoSource.java anymore.

Additionally:

I explored the possibility of contributing the GenModuleInfoSource.java changes to the OpenJDK community. They responded by reiterating that the code is intended to be u

[2017-12-08 13:50] JamesKingdon commented on #53
Hey Kai, that's great news - many thanks for trying it out.

In the instructions I go for unpacking the build JDK outside of the docker image and then mounting it as a volume.

tar xf OpenJDK9-OPENJ9_x64_Linux_20172711.tar.gz

I can see it would look more natural to have the build JDK handled inside the docker image like other dependencies. The current state of play stems from a combination of a s

[2017-12-08 14:36] mstoodle opened #787 "AdoptOpenJDK AIX build broken today"
https://ci.adoptopenjdk.net/blue/organizations/jenkins/openjdk8_openj9_build_ppc64_aix/detail/openjdk8_openj9_build_ppc64_aix/20/pipeline/

Previous build (yesterday) passed.

Build fails here (hard to tell from the output what is running, but presuming others will be familiar with this part of the output:
[code]

Weird thing is that those two files mentioned (pnathelp.m4, phelpers.m4) haven't cha

[2017-12-08 14:40] DanHeidinga commented on #786
Links to the OpenJDK discussion about @adamfarley's proposed patch.  Please note these are direct links to OJDK mailing lists:
http://mail.openjdk.java.net/pipermail/jigsaw-dev/2017-December/013403.html
http://mail.openjdk.java.net/pipermail/core-libs-dev/2017-December/050364.html

Given the discussion from OJDK that they've deliberately avoided adding this capability, OJ9 should look at other way

[2017-12-08 14:43] DanHeidinga commented on #785
Marking this as high priority as it affects users ability to debug their code.

[2017-12-08 14:45] DanHeidinga commented on #786
Marking this as medium priority as it reduces the # of patches required by OpenJ9.

[2017-12-08 14:47] DanHeidinga commented on #771
Marking this as a question as the behaviour difference (and required spec update) are something we need to follow up on with the OpenJDK community.

[2017-12-08 15:10] DanHeidinga commented on #787
We use M4 to preprocess handwritten files into assembly code.  Any of the `XXnathelp.m4` files are platform-specific versions of native helpers aka methods provided by the VM for the JIT to call at runtime.

Looking at the build history https://ci.adoptopenjdk.net/blue/organizations/jenkins/openjdk8_openj9_build_ppc64_aix/activity shows that it fails on `build-osuosl-ppc64-aix-71-1` but passes on

[2017-12-08 15:21] yanluo7 commented on #784
@fjeremic I will look into it. One thing I found is that when I ran java -version, there is a non-compressed String being created somewhere in the jcl and I suspect the string creation is done in the JVM natives in StringTable.cpp. The natives seems to set the compression flag field correctly but need to look into if it would correctly trigger the patching. Will look into it.

[2017-12-08 15:26] JasonFengJ9 commented on #784
Could it be related to `java/lang/String.coder` field not initialized, see https://github.com/eclipse/openj9/pull/782?

[2017-12-08 15:32] andrewcraik commented on #784
The coder field is not part of this issue. We need to figure out long term how the coder field is going to work because it is giving us a size disadvantage - we store the same information in the sign bit of our count field. Ideally, non-String classes should not be reaching in and accessing that field - there should be a getter method so we can have a divergent internal representation that achieve

[2017-12-08 15:43] mstoodle commented on #787
Thanks @DanHeidinga .

I have asked George Adams to respond to that question; I think he's most familiar with their setups.

[2017-12-08 15:44] fjeremic commented on #784
Agreed. Such a thing already exists here:

https://github.com/eclipse/openj9/blob/02fdf14c71fb83f76deaa4f264b5c6748afc820b/jcl/src/java.base/share/classes/java/lang/String.java#L87-L93

Although I think I've encountered at least one place in OpenJDK where they reach into String via reflection and extract the field. It should instead be calling this getter.

[2017-12-08 15:48] JasonFengJ9 commented on #784
An issue https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/91 has been opened to request a JCL change to remove this field in the future release.

@yanluo7 was this observed in Java 9 or 10, if it is Java 10, there is a problem in `coder` initialization.

[2017-12-08 15:51] fjeremic commented on #784
This was observed on Java 8.

[2017-12-08 16:02] jdekonin commented on #787
Both machines appear to be running the default /usr/bin/css/m4 as installed with the level of operating system.  I am not sure how to detail which package installs it on AIX; 'm4 --version' doesn't work.

On the system I use to compile its 'GNU M4 1.4.6'.

[2017-12-08 16:03] DanHeidinga commented on #787
As the current machines aren't controlled by Ansible (yet), George has copied the `m4` from the working machine to the other machine and launched a build: https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_ppc64_aix/48/console

We'll know soon enough whether that's the issue or not.

[2017-12-08 16:12] JasonFengJ9 commented on #784
@fjeremic thanks for clarification, the problem can't be related to `java/lang/String.coder` then.

[2017-12-08 16:32] DanHeidinga commented on #787
Copying `m4` wasn't sufficient.  George has installed GNU m4 v.1.4.17 and launched a new test build: https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_ppc64_aix/21/console

[2017-12-08 16:37] fjeremic commented on #784
@smlambert I'd like to contribute the unit test in the issue description so it runs on our PR Jenkins tests. How might I go about doing that? This test would need to run with a JVM invoked with `-XX:+StringCompression`. Could you point me to any documentation?

[2017-12-08 16:47] DanHeidinga commented on #787
Installing GNU m4 seems to have done the trick.  I'll close this out once the build completes.

Many thanks to George for helping us track this down!

[2017-12-08 17:27] gdams commented on #787
This can be closed now. Both jdk8 and jdk9 are passing again

[2017-12-08 17:46] mstoodle commented on #787
Thanks everyone!

[2017-12-08 17:46] #787 closed

[2017-12-08 17:47] #730 closed

[2017-12-08 18:06] smlambert opened #788 "Add java.lang.String StringCompressionFlag unit test"
New unit test mentioned by #784 should be added.

As it should be run with -XX:+StringCompression command line option, we can add the unit test as a separate test, or add it to the existing String test suite and run the entire group with an additional variant.

(We can also use this issue as a good example for documentation on how to incorporate new tests).

[2017-12-08 18:08] smlambert commented on #784
I'll add details to #788 shortly for how to go about adding the test.  Thanks for the question!  👍

[2017-12-08 19:32] DanHeidinga commented on #502
Closing this based on the previous comment indicating it's fixed.  Please reopen if that isn't the case.

[2017-12-08 19:32] #502 closed

[2017-12-08 19:35] pshipton opened #790 "Include test_setSecurityManager2 for Java 9"
#502 fixed test_setSecurityManager2 for Java 8. It was removed from Java 9 because it didn't work, and I expect it can now be restored.

[2017-12-08 19:35] DanHeidinga commented on #503
@groeges / @TianyuZuo The previous comment describes a possible fix which sounds like it works.  Have either of you opened a PR for this change?  We're trying to get the Java 8 tests sorted out so PR builds can be enabled.

[2017-12-08 19:36] pshipton commented on #502
Ok then, opened #790, which is clearer anyway.

[2017-12-08 19:39] DanHeidinga commented on #273
Complete fix: https://github.com/eclipse/openj9/pull/666

Closing.

[2017-12-08 19:39] #273 closed

[2017-12-08 19:44] smlambert opened #792 "Clean-up / Restore test exclude files"
We split out the exclude files into one for Java9 and one for Java8 (https://github.com/eclipse/openj9/tree/master/test/TestConfig/resources/excludes), but the list of excluded tests in Java8 file was not investigated just a straight copy of the Java9 file.  Many tests should be able to be run, so we need to update the exclude files (removing entries for fixed issues and entries in Java8 that shou

[2017-12-08 19:47] #792 closed

[2017-12-08 19:49] smlambert commented on #792
Duplicate of #737 (which wasn't labelled as comp:test, so did not see/remember I had already opened it)

[2017-12-08 19:52] smlambert commented on #737
https://github.com/eclipse/openj9/tree/master/test/TestConfig/resources/excludes

[2017-12-08 19:54] smlambert commented on #737
Also should review the excludes in the cmdLineTester directories, as there have been some added recently, though that is NOT the preferred way of excluding tests (since it is easy for those exclusions to be buried/forgotten).

[2017-12-08 20:35] gdams commented on #769
Any progress with this? It's currently stopping us pushing nightlies out at AdoptOpenJDK

[2017-12-08 20:37] mstoodle commented on #769
And please note that it's currently stopping AdoptOpenJDK from publishing *any* nightly build (because it has to pass on all platforms to be published)

[2017-12-10 03:06] nbhuiyan commented on #729
Here is the changed version of .travis.yml file that was able to successfully [run the linter on Travis CI](https://travis-ci.org/nbhuiyan/openj9):
https://github.com/nbhuiyan/openj9/blob/614833317e5dc461326fa8400bd17bc81695a1df/.travis.yml

Unfortunately, [test.py](https://github.com/nbhuiyan/omr/blob/master/tools/compiler/OMRChecker/test.py) needed [a small modification](https://github.com/nbhui

[2017-12-10 05:12] alenbadel commented on #769
Updating to this.

I'm able to build successfully on Linux PPC64LE on AdoptOpenJDK when disabling freetype. (Using '--skip-freetype')
It fail when the option is not used.

I see that AdoptOpenJDK's AIX builds also use '--skip-freetype'.

All builds conducted internally have been passing for the week with this change. On all  Linux PPC64LE, Linux PPC64 and AIX. The OpenJ9 PPC64LE CompressedRefs whi

[2017-12-10 15:11] gdams commented on #769
This issue doesn't look like a freetype error to me? `--skip-freetype` is just used to fetch the system version of freetype (installed with apt) rather than downloading it at build time and making it

[2017-12-10 16:33] alenbadel commented on #769
Attached is the successfully ran build.
[openjdk8_ppcle.txt](https://github.com/eclipse/openj9/files/1545812/openjdk8_ppcle.txt)

[2017-12-11 01:51] PowerUser1234 opened #794 "Option for Accuracy mode Floating Point arithmetic."
Most versions of Java SE have issues with floating point arithmetic.
They can gain underflow and overflow artifacts, which are aside from an accuracy answer.

double a = 0.1;
double b = 0.1;
double x = a*b;
out.println()x == 0.01); //false.

**There needs to be an option to disable the defaulting mode float point implementation,**
so that floating point implementation and overflow/underflow with d

[2017-12-11 02:00] PowerUser1234 opened #795 "Function Support library for BigInteger and BigDecimal: StrictBigNumberMath"
**The way things are with java's included libraries at the moment has it that there isn't a numberStrictMath class for BigInteger and BigDecimal.**

There needs to be, so that users can perform non-integer exponentiation, for the nth root, where n
is an integer or a rational number. It should also probably include a square root.  It should include a method to calculate Euler's constant (e) to BigI

[2017-12-11 02:19] PowerUser1234 opened #796 "Operator Options for BigDecimal and BigInteger."
-The way things are, BigDecimal and BigInteger are not integral types.
this means that the following operators cannot be directly used on their variables:

+,-,*,/,%,++,--,**,//,%%,+=,-=,*=,/=,%=

Can all these be brought in for BigDecimal and BigInteger at least, along with
my proposed changes with

https://github.com/eclipse/openj9/issues/795

?

[2017-12-11 04:11] #784 closed

[2017-12-11 09:09] knn-k commented on #706
Root cause identified.  Evaluators for acmplt and acmpge are missing in the ARM version.

[2017-12-11 10:05] adamfarley opened #797 "PPCLE build-breaking errors from trj9 on JDK8 and JDK9"
Hi Guys,

Looks like the ppcle builds on the AdoptOpenJDK jenkins site are failing with an error from a "trj9" directory (which I assume is the J9 Testarossa aka J9 JIT directory).

-- JDK8 --
e.g. https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_ppc64le_linux/17/console

[code]

-- JDK9 --

e.g. https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_ppc64le_linux/71/console
[code]

-- End of

[2017-12-11 10:50] groeges commented on #503
@DanHeidinga It looks like this was fixed in pull request https://github.com/eclipse/openj9/pull/513

As such I will close this issue.

[2017-12-11 10:50] #503 closed

[2017-12-11 12:05] adamfarley commented on #797
Duplicate of issue 769. Closing.

[2017-12-11 12:05] #797 closed

[2017-12-11 13:33] adamfarley commented on #769
This looks like the same issue, FYI, so I closed it as a duplicate:

https://github.com/eclipse/openj9/issues/797

[2017-12-11 14:03] DanHeidinga commented on #769
The error messages in #797 may be slightly clearer:
[code]

[2017-12-11 15:51] alenbadel commented on #769
Running the builds locally, I do believe the builds are identical to what is being used in the failures above. They were installed using the Ansible script ubuntu.yml

I was able to successfully build

openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-root_2017_12_10_11_15-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux ppc64le-64 Compressed References 20171210_

[2017-12-11 20:51] alenbadel commented on #769
This was all because the version of the assembler "as" on the AdoptOpenJDK machines are a bit newer than the version we are using.

It was complaining on the following instruction
cmpli 0, 3, 0

or in ebb.spp
cmpli 0,3,0

The version of the assembler we are using internally will not complain when a 32-bit context is assumed (usually an extra bit is used tell). This should be processed as a cmplwi.

[2017-12-11 21:19] alenbadel commented on #769
ETA 11:59PM EST Monday December 11. Testing issues came up.

[2017-12-11 22:07] JamesKingdon commented on #796
Hi, thanks for raising this issue.
As you pointed out, BigDecimal and BigInteger are Classes, not Java primitives, so to do what you ask requires operator overloading. Operator overloading is not part of the Java language, and we can't add something like that while remaining compliant with the specification, which we are legally bound to do in order to continue to use the Java name and branding.
T

[2017-12-11 22:12] 0xdaryl commented on #794
Java's floating point semantics are very clearly prescribed in the Java Language Specification (which includes rounding rules), and the OpenJ9 technology dutifully adheres to the specification.  Modifying any of those rules, simply put, would not make OpenJ9 a Java-compliant implementation.  The OpenJ9 technology is highly optimized to adhere to the specification and supporting alternate floating

[2017-12-11 22:15] JamesKingdon commented on #794
Details of Java's floating point specification: https://docs.oracle.com/javase/specs/jls/se7/html/jls-4.html#jls-4.2.3

[2017-12-12 02:41] smlambert commented on #473
Summary of some recent discussions, we pull tests from various locations:

- functional tests live in openj9
- system tests live at adoptopenjdk and openj9
- openjdk regression tests live at openjdk (and clones of that repo)
- external tests (currently 3rd party applications) live in their respective repos (i.e. community tests from scala, derby, etc)
- perf tests are benchmarks from various locat

[2017-12-12 05:36] alenbadel commented on #769
Made all changes appropriate. All internal builds passed.

Should be ready to merge. Please take a look to PR 801.

[2017-12-12 11:50] non-conformances-research opened #802 "Class.forName method allows to create invalid arrays"
Accordingly to The Java Virtual Machine Specification (4.4.1 The CONSTANT_Class_info Structure), "An array type descriptor is valid only if it represents 255 or fewer dimensions". But using the following program it is possible to circumvent that rule:

public class A {

	public static void main(String[] args) {
        StringBuilder sb = new StringBuilder();
        for (int i = 0; i < 256; i++) {

[2017-12-12 11:59] felipepontes-research opened #803 "Different results presented by method Method.toString"
Method.toString method presents different results as presented by Oracle Hotspot JVM when executing the following program:

	import java.lang.reflect.Method;
	public class A {
		public static void main(String[] args) throws NoSuchMethodException {
			Method hashCodeMethod = A.class.getMethod("hashCode");
			System.out.println(hashCodeMethod.toString());
		}
 	}

**Affected versions (compiled from

[2017-12-12 15:17] 0xdaryl commented on #711
Barring any objections, a PR will be forthcoming in the Eclipse OMR project to begin removing this infrastructure.  @andrewcraik

[2017-12-12 15:35] fjeremic commented on #803
This is because of the following definition:

https://github.com/eclipse/openj9/blob/ac222893324f4aed7bb5d3c2f59484f305a3e0d6/jcl/src/java.base/share/classes/java/lang/Object.java#L132-L134

IIRC the JCL specification for `java.lang.Object.hashCode()` does not dictate whether or not the method is marked `native`. In fact looking at the Javadoc for the method for the Oracle version (https://docs.or

[2017-12-12 15:44] DanHeidinga commented on #660
@AdamBrousseau The items Peter mentioned have been resolved.  Are there any other JDK8 sanity tests that are blocking PR builds from being enabled?

[2017-12-12 15:56] alenbadel commented on #769
Verifying - I was able to run the PPCLE64 Linux builds successfully on adoptOpenJDK's machines.

[2017-12-12 16:00] AdamBrousseau commented on #660
No, according to my build badges in the description all sanity/extended 8/9 are green now.
We do need to resolve #662 before they can be enabled.

[2017-12-12 16:07] DanHeidinga commented on #660
What's the outlook for #662?

[2017-12-12 16:10] gdams commented on #769
please not that we are still seeing failures: https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_ppc64le_linux/74/console

[2017-12-12 16:18] DanHeidinga commented on #769
@gdams That looks to be a different cause:
[code]

Reopening this issue to continue to investigate the failing build.

[2017-12-12 18:18] gdams commented on #769
This is now fixed and can be closed

[2017-12-12 18:23] zl-wang commented on #769
this build failure appeared to be random and intermittent.  it is not related to #666 at all.
have we pinned it down why? we certainly don't want to come back to it over and over again.

[2017-12-12 18:27] pshipton opened #805 "Moving VM test shared libraries will affect testing"
The shared libraries only used for test need to be moved out of the production images. This is going to affect the tests, as the tests will need to find the libraries in their new location.

https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/17

Doc issue https://github.com/eclipse/openj9-docs/issues/146

[2017-12-12 19:11] tajila commented on #771
Suman Mitra raised this issue with Oracle. Their response was:

[code]

[2017-12-12 19:17] DanHeidinga commented on #769
The builds started failing when the machines were upgraded (?) / modified to use `gcc 6.3.x`.  The passing builds were on `gcc 4.8.5`.

We'll need to work with the Adopt community to set a gcc level for ppcle or ensure that OpenJ9 builds use the older gcc level.

[2017-12-12 19:41] gdams commented on #769
https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_ppc64le_linux/76/console running with gcc 4.8.x

[2017-12-12 19:42] tajila opened #806 "Using JITBuilder in J9VM code"
There are a few places in the VM where there is a need to generate native code for unique operations. A common use case is building thunks.

There is currently an open PR (https://github.com/eclipse/openj9/pull/17) that makes use of JITbuilder to generate native code that calls into the JVM using JNI callin functions.

This is a first attempt at integrating JITBuilder and the native VM code. I wou

[2017-12-12 19:43] tajila commented on #806
@mstoodle and @charliegracie do you have any feedback?

[2017-12-12 19:57] DanHeidinga commented on #802
My understanding (and I'll need to check the specs again) is that in Java 8, the VM spec mandates that the Constant_Class can only express an array with 255 dimensions while arrays created with Class.forName are only limited by VM implementation limits.

This may have changed in Java 9.

[2017-12-12 20:12] DanHeidinga commented on #806
Other areas where JITBuilder may be used by OpenJ9:
* Replace libffi native callout with JITBuilder based equivalent
* Generate the interpreter (future direction?)
* Generate platform specific versions of particular helpers (arraycopy, others?)

Generally, having a simple interface to a code generator that can be driven without having to directly write IL or Java code would be advantageous.

[2017-12-12 20:13] DanHeidinga commented on #769
The build using `gcc 4.8.5` passed.  Closing this issue out.

[2017-12-12 20:13] #769 closed

[2017-12-12 20:31] mstoodle commented on #806
I have wanted, for a while now, to expand on the earlier Java based JitBuilder prototype I created for JVMLS by adding Java-specific services that could be leveraged directly from the JIT compiler inside OpenJ9. There are some security issues to address if we expose this function at the Java level, of course, but one of the reasons why the JitBuilder implementation files are all in the OMR compile

[2017-12-12 20:32] mstoodle commented on #806
Also something I have in mind at the OMR level that should then surface in OpenJ9.

I should really write all this stuff down somewhere ;) . Sorry!

[2017-12-13 08:12] myspringchen opened #811 "OpenJ9 crashes for the next test case"
OpenJ9 crashes for the next file. Please let me know if you cannot reproduce this crash.

How to reproduce:
(1) download the file https://jbox.sjtu.edu.cn/l/eHE9O0 and unzip it.
(2) run: java Harness fop
(3) Result:
IBM's jvm (build 2.9; J9VM - 20071122_371101; OpenJ9 - 8e3c85d) crashes; HotSpot (build 9+181) throws a verify error: Bad local variable type

[2017-12-13 08:15] myspringchen commented on #302
Hi, ChengJin01, may you check the issue 811: [https://github.com/eclipse/openj9/issues/811]
I happened to hit the crash yesterday.

[2017-12-13 16:16] fjeremic opened #813 "Accelerate x86/Power/ARM compressed String hashCode implementation"
The current implementation of `java/lang/String.hashCode()I` supports a compression enabled and disabled path as seen in the implementation here:

https://github.com/eclipse/openj9/blob/723e4a5e891a2e5e703c63ef8ca46372bcef1429/jcl/src/java.base/share/classes/java/lang/String.java#L2641-L2652

Currently we have a fast inline sequence for decompressed `hashCode` call found here:

https://github.com/

[2017-12-13 16:20] fjeremic commented on #813
A reference implementation from the Z codegen can be found here:

https://github.com/eclipse/openj9/blob/723e4a5e891a2e5e703c63ef8ca46372bcef1429/runtime/compiler/trj9/z/codegen/J9TreeEvaluator.cpp#L12439-L12445

[2017-12-13 16:23] yanluo7 opened #814 "Implement natives for variants of String (de)compressedArrayCopy"
The interpreter implementation of String (de)compressedArrayCopy methods are very slow.
This leads to regression in -Xint starup Day Trader runs. We need to implement native(s) similar to System.arraycopy for all variants of String (de)compressedArrayCopy.

[2017-12-13 16:28] yanluo7 commented on #814
As a temporary fix to address an -Xint DT3 startup time regression: https://github.com/eclipse/openj9/pull/815

[2017-12-13 16:47] yanluo7 opened #817 "Accelerate the compressed String.hashCode implementation"
For string compression, we changed the implementation of `hashCode` to be the following:
[code]
We currently accelerate `hashCodeImplDecompressed` as it's what we used to do before compression. The new call is the first one (`hashCodeImplCompressed`). We need to recognize this method and generate a fast vector sequence, similarly to what is done for `hashCodeImplDecompressed`.

[2017-12-13 16:48] yanluo7 commented on #817
Dup of issue 813

[2017-12-13 16:48] #817 closed

[2017-12-13 17:05] tajila commented on #806
@mstoodle

Is this something that we (VM team) could pursue with some minor assistance from the JIT team? or is this something that would require dedicated personal with deep knowledge of testarossa?

[2017-12-13 17:29] JasonFengJ9 commented on #762
Hitting `java/lang/UnsupportedClassVersionError` when running `Java 10 b35`. (`b33` was ok)

[2017-12-13 17:36] ChengJin01 commented on #302
@myspringchen,

I already tried with the latest build on linux at https://adoptopenjdk.net/nightly.html?variant=openjdk9-openj9 and it ended up with pretty much the same result as Oracle.  Please try with the latest build to double-check.

[2017-12-13 17:42] ChengJin01 commented on #811
@myspringchen,

I already tried with the latest build on linux at https://adoptopenjdk.net/nightly.html?variant=openjdk9-openj9 and it ended up with pretty much the same result as Oracle. Please try with the latest build to double-check your app (please check whether you uploaded the correct app you want to reproduce the issue)

-----------------------
e.g. https://github.com/AdoptOpenJDK/openjdk9

[2017-12-13 17:48] mstoodle commented on #806
Well, I would never say "don't try", but I can foresee some fairly fundamental plumbing problems, so I'm not sure if you want to sign up to deal with that. The JitBuilder project implements some machinery that's also present in J9, and the two implementations aren't currently designed to co-mingle.

For example, J9's notion of a ResolvedMethod is all based around J9Methods, whereas the JitBuilder

[2017-12-13 19:33] tajila commented on #806
Yes, that is correct.

I wish I had it yesterday :p

There are some features in project Panama that will require something like JitBuilder for it to work. However, these features are not yet confirmed and it looks like it might be another year or two before an official release.

That being said, we would like to make progress on our prototyping effort. And as Dan mentioned, there are other areas o

[2017-12-13 20:17] pshipton commented on #814
As long as performance with the JIT doesn't regress, does it matter what happens to -Xint performance? I believe the purpose of testing with -Xint is to ensure that changes outside the JIT don't affect performance. These performance changes are easier to spot with the JIT disabled. However if a change is intentionally made that improves performance with the JIT, and keeps startup time the same or

[2017-12-13 20:56] #762 closed

[2017-12-13 21:07] AdamBrousseau commented on #662
`.*\bjenkins\b\s+\btest\b\s+\bsanity\b(\n|$|\s+(\ball\b|\bzlinux\b)\s+(\ball\b|\bjava9\b).*)`
Should allow `jenkins test sanity` as well as `jenkins test sanity all all`

The other problem with this regex is that you can only request 1/all platforms (or versions). I.e. you can't get 2/3 platforms.

We could allow comma separated list of platforms or versions with this
`.*\bjenkins\b\s+\btest\b\s+\

[2017-12-13 23:24] pshipton opened #823 "traceformat prints com.ibm.jvm.format.TraceFormat in help output"
The traceformat utility prints `java com.ibm.jvm.format.TraceFormat` in the help output. Since there is a traceformat executable in OpenJ9, it should print `traceformat` instead. Also note the class name is incorrect in Java 9 builds.

[2017-12-14 00:47] myspringchen commented on #811
Thank you. I will run my test cases using the latest release.

[2017-12-14 00:47] #811 closed

[2017-12-14 06:06] myspringchen commented on #302
@ChengJin01
Thank you for sharing the latest build. I used the latest build and found that the issue 302 was not really fixed. Please test this case: [https://jbox.sjtu.edu.cn/l/toTT74](https://jbox.sjtu.edu.cn/l/toTT74), where OpenJ9 throws a verifyerror and HotSpot does not. Please recheck the instruction "JBbipush".

[2017-12-14 06:13] #655 closed

[2017-12-14 13:07] yongja79 opened #824 "JDK10: Implement ClassSpecializer.java"
When trying to make openj9 with openjdk10 you get the following error

[code]

This is due to Oracle implementing a new file src/java.base/share/classes/java/lang/invoke/ClassSpecializer.java which uses the class java.lang.invoke.MethodHandleNatives that openj9 has reimplemented

[2017-12-14 13:20] pshipton opened #825 "Compilation fails on z/OS when compiling cl_se10"
Caused by #820

ERROR CCN3205 ./../unix/helpers.c:86    No valid offload key defined
CCN0793(I) Compilation failed for file ./../unix/helpers.c.  Object file not created.
FSUM3065 The COMPILE step ended with return code 12.
FSUM3017 Could not compile ../unix/helpers.c. Correct the errors and try again.

@JasonFengJ9

[2017-12-14 13:38] yongja79 opened #826 "JDK10: Impelement BoundMethodHandle.speciesData_LLLL().factory() method"
An error occurs when making openj9 with openjdk10

[code]

BoundMethodHandle itself doesn't appear to have the method factory() but it extends the new class java.lang.invoke.ClassSpecializer which does. As openj9 has yet implemented ClassSpecializer this may be related to issue #824 but raising a separate issue to highlight that the factory() method is needed by other classes

[2017-12-14 13:38] JasonFengJ9 commented on #825
Looking at it.

[2017-12-14 13:40] DanHeidinga commented on #825
Also FYI @ChengJin01 - I know you're looking at getting the OpenJ9 (without an extensions repo) compiling on Z.  This may be an area that will need some tuning.

[2017-12-14 13:44] DanHeidinga commented on #826
OpenJ9 has it's own implementation of `java.lang.invoke.MethodHandle` and subclasses.  It doesn't use the OpenJDK implementation.  We reuse parts of the java.lang.invoke package so the approach OpenJ9 has taken has been to provide compile stubs for methods that are only necessary to compile with OpenJDK while independently implementing equivalent classes for necessary functionality.

FYI @JasonFen

[2017-12-14 13:45] DanHeidinga commented on #824
We need to determine if OpenJ9 needs an implementation of the ClassSpecializer or if it is sufficient to patch this class out.

[2017-12-14 14:02] ChengJin01 commented on #302
@myspringchen,

It doesn't surprise me because the fix for issue 302 at https://github.com/eclipse/openj9/pull/324 has not yet merged to the build.  (still pending for review).  You need to verify your test after the fix gets merged.

[2017-12-14 15:15] DanHeidinga commented on #786
@theresa-m Can you take a look at this?

[2017-12-14 15:47] mstoodle commented on #806
I am currently embroiled in defining and isolating the public "Client" API for the JitBuilder classes, which is mandating some restructuring.

Once I have that wrapped up, I'll start expanding on the work I think will be needed to make progress on this front, even though making progress on it is not currently the next thing on my list.

[2017-12-14 15:47] JasonFengJ9 commented on #826
Will check if a compile stub is sufficient here.

[2017-12-14 16:04] pshipton commented on #825
Closing as this is an IBM internal problem.

[2017-12-14 16:04] #825 closed

[2017-12-14 17:00] AdamBrousseau opened #827 "PR builds: Also support "depends" on a repo/branch"
Currently we can launch PR builds with dependent changes that are in an open PR at omr, openj9-omr or openj9-openjdk-jdk9. There is a use case to launch a PR build against a branch instead of an open PR. For example, when the dependent or breaking PR has been merged in OMR and can't promote through OMR-Acceptance.

More info on dependent changes
https://github.com/eclipse/openj9/blob/master/builde

[2017-12-14 17:16] DanHeidinga commented on #827
We've survived this long without it so I view as an enhancement.  Delaying until those PRs are merged is fine as long we are able to close those out in a reasonable time frame

[2017-12-14 18:54] pshipton opened #830 "Windows Java 9 fails VmArgumentTests_0"
[code]

All the failure stack traces are similar, the following sub-tests are also failing:
FAILED: testMemoryLeaks
FAILED: testSystemProperties
FAILED: testXcheckMemory
FAILED: testXint
FAILED: testXintAndOtherVmArguments

[2017-12-14 18:57] pshipton opened #831 "Windows Java 9 fails cmdLineTest_stackSizeInfoTest_0"
[code]

[2017-12-14 19:04] DanHeidinga commented on #831
Labelling as `comp:test` as this looks like test setup issue.  @llxia Can someone on your team take a look at this?

[2017-12-14 19:06] pshipton opened #834 "Windows fails testvmcheck testLoadingClasses"
[code]

[2017-12-14 19:09] pshipton opened #835 "Windows Java 9 fails threadMXBeanTestSuite1_3"
[code]

[2017-12-14 19:47] pdbain-ibm commented on #830
I'm on it.

"C:/temp/bld_373304/jdk/bin\\java"  -Xcompressedrefs  \
-cp "C:/temp/bld_373304/test///..//jvmtest\\TestConfig\\resources;C:/temp/bld_373304/test///..//jvmtest\\TestConfig\\lib\\testng.jar;C:/temp/bld_373304/test///..//jvmtest\\TestConfig\\lib\\jcommander.jar;C:/temp/bld_373304/test///..//jvmtest\\Java8andUp\\GeneralTest.jar" \
-Dcom.ibm.tools.attach.enable=yes \
org.testng.TestNG -d "

[2017-12-15 00:19] mpirvu commented on #267
I ran the benchmark with OpenJDK9-OPENJ9_x64_Linux_20171312 and pinned the JVMs to 4 cores on the same socket of a machine with Intel(R) Xeon(R) CPU E5-2697 v2 @ 2.70GHz CPUs.
Like Irwin I used -f1 in the experiments.

Without shared classes and AOT
Benchmark                                            Scores  for 4 experiments
o.d.a.b.binarytrees.main                           4857.784      4773.4

[2017-12-15 00:39] mpirvu commented on #267
To understand why there is no effect from AOT I profiled the applications and took compilation statistics.
For **o.d.a.b.binarytrees.main**
[code]
[code]
[code]
As can be seen, this benchmark is very heavy in GC activity. I need to confer with the GC team what could be done to improve it. The second module as importance is the jitted code. This is dominated by only two methods
`org/debian/alioth/b

[2017-12-15 00:56] mpirvu commented on #267
For the second benchmark, **o.d.a.b.mandelbrot.main**, the profile looks like this:
[code]
[code]
[code]
Here, the vast majority of the time is spent in jitted code and more specifically in one method: `org/debian/alioth/benchmarksgame/mandelbrot.getByte` .
Compilation stats show one scorching method which again is the one appearing at the top of the profile
[code]

To improve this benchmark furth

[2017-12-15 01:02] mpirvu commented on #267
For the third benchmark, **o.d.a.b.mandelbrot2.mandelbrotBench2**, the profile looks like this:
[code]
[code]
[code]
Like above, the performance of this benchmark is determined by a single method `org/debian/alioth/benchmarksgame/mandelbrot2$Mandelbrot.computeRow(I)V`

Compilation stats again show a relatively low number of compilations with one scorching compilation that is our culprit:
[code]

[2017-12-15 01:15] mpirvu commented on #267
Since the profiles of the benchmarks above are dominated by some clearly defined hotspots, our only chance to improving the benchmark further is to generate better code for the hot methods and, to a lesser extent, to accelerate the generation of the scorching bodies. Let's look at the potential of this second aspect.
For the first benchmark the compilation history of `binarytrees.bottomUpTree` is

[2017-12-15 01:24] mpirvu commented on #267
For the second method, the history of the hotspot method `mandelbrot.getByte` is
[code]
The first native body is produced at about t=261ms, the method is detected as very hot at t=544ms and the scorching body is produced at t=734+128=862ms.
Since the benchmark lasts 6.7-8.9 sec the opportunities for improvement are lower. Note that we cannot do that much about the compilation time at scorching (12

[2017-12-15 01:27] mpirvu commented on #267
For the third benchmark, the history of the hotspot method `mandelbrot2$Mandelbrot.computeRow` is:
[code]
Here the detection of the very hot body happens at t=675ms which is very early compared to the time this benchmark lasts 27.8 sec. Hence, there only chance of improving this benchmark is to generate better code quality for the lone scorching compilation.

[2017-12-15 02:27] JasonFengJ9 commented on #826
@yongja79 is there a way to share your `Java 10` extension repo such that I can reproduce the compilation failures?

[2017-12-15 02:27] mpirvu commented on #267
The JIT can use some hot and scorching compilation hints that are stored in the SCC. Basically, if a method has been compiled at scorching a hint is placed in the SCC for that specific method. Next JVM that attaches to the same SCC will see the hint and does not have to spend a lot of time to detect that the method needs to go to scorching.
These hints are not enabled by default. When I enabled th

[2017-12-15 02:31] mpirvu commented on #267
I am closing this issue because there is nothing wrong with AOT. These benchmarks are simply not the kind of applications that are helped by AOT.
AOT is most useful when the application has very many methods to compile and there are no clear hotspots.

[2017-12-15 02:31] #267 closed

[2017-12-15 13:17] llxia commented on #831
Sure, we will look into this.

[2017-12-15 14:57] fjeremic opened #837 "Update machine type determination on Linux on Z"
@jjohnst-us updated the machine type termination on z/TPF to use `uname`. We are currently using

[code]

Which is not as robust. We should consolidate the two `#ifdefs` and use the same logic via `uname` to determine the processor ID on Linux.

See https://github.com/eclipse/openj9/pull/810#issuecomment-351414302 for more information.

[2017-12-15 15:26] joransiu commented on #837
I wonder if zTPF's uname is unique here.  I ran the `uname()` on RedHat and SLES, and `utsname.machine` is `s390x` instead of the machine code.

[2017-12-15 15:45] fjeremic commented on #837
Interesting. It must be unique to z/TPF then. Are you aware of any similar utility we can use? The current `fopen` seems at least to me not like a robust solution.

[2017-12-15 18:40] pdbain-ibm commented on #830
This causes a crash:
t:\pdbain\defects\git830\jdk\bin\java -classpath .;t:/pdbain/defects/git830/jvmtest\TestConfig\resources;t:/pdbain/defects/git830/jvmtest\TestConfig\lib\testng.jar;t:/pdbain/defects/git830/jvmtest\TestConfig\lib\jcommander.jar;t:/pdbain/defects/git830/jvmtest\Java8andUp\GeneralTest.jar -Xint org.openj9.test.vmArguments.ArgumentDumper

Removing -Xint makes it pass.

1XMCURTHDIN

[2017-12-15 20:15] pdbain-ibm commented on #830
Crashes in java.lang.management.ManagementFactory.getRuntimeMXBean();

[2017-12-15 20:33] JamesKingdon commented on #53
Two out of three projects merged the changes, but https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/88 is taking longer than expected.

[2017-12-15 20:54] pdbain-ibm commented on #830
The IBM Java 9 version works fine. The ManagementFactory classfiles are the same  between the IBM and OpenJ9 runtimes.
Also happens with openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc.j9build.openjdk)
Eclipse OpenJ9 VM (build 2.9, JRE 9 Windows 7 amd64-64 Compressed References 20171208_372782 (JIT enabled, AOT enabled)
OpenJ9   - 4ff524f8e5
OMR      - 3b6c3377
O

[2017-12-16 02:22] yanluo7 commented on #814
@pshipton For string compression, in String and StringBuilder(Buffer) we have added these new (de)compressedArrayCopy methods to replace array copies among other operations. In JIT'd code, these methods are compiled into optimized code, however the interpreter implementation of them are slow. In places where these methods are used to replace existing operations such as System.arraycopy, the -Xint

[2017-12-17 17:11] #705 closed

[2017-12-17 19:51] JamesKingdon commented on #53
I've updated the build-docker-arm script (and .travis.yml) to use the official repos for OpenJ9 and omr-openJ9. This has the advantage of getting the latest changes for those repos, and the disadvantage of not having some of my recent fixes for arm, so you need to use disableDirectToJNI, and it's built for armv6 instead of armv7. Travis.ci is setup to put the binaries in the releases section of my

[2017-12-18 14:06] pdbain-ibm commented on #453
Duplicate of ConcurrentModificationException at org.openj9.test.vmArguments.VmArgumentTests.runAndGetArgumentList #708

[2017-12-18 14:06] #453 closed

[2017-12-18 14:11] pdbain-ibm opened #839 "TestAttachErrorHandling java.lang.IllegalArgumentException: Null charset name"
Observed only on LinuxPPC.

Symptoms:
[TargetManager] [ERROR] Error: A JNI error has occurred, please check your installation and try again

[TargetManager] [ERROR] Exception in thread "main" java.lang.IllegalArgumentException: Null charset name

[TargetManager] [ERROR] 	at java.nio.charset.Charset.lookup(Charset.java:487)

[TargetManager] [ERROR] 	at java.nio.charset.Charset.isSupported(Charset.j

[2017-12-18 15:24] pdbain-ibm commented on #839
Seen on LinuxPPC and LinuxPPCLE, Java 8 only.  Cannot reproduce on Java 9.

[2017-12-18 15:48] DanHeidinga commented on #727
Prior to open sourcing OpenJ9, IBM used mingw to compile the BytecodeInterpreter on Windows.  We used a stripped down version of the `stddef.h` MSVC header.

There is only a single header file that is required to do this - `stddef.h` - which needs to be re-implemented to obtain a version of the "offsetof" macro.  The macro isn't hard to write - one way to do this is to use the definition from a li

[2017-12-18 16:36] yongja79 opened #840 "JDK10: Compile failing with missing method getDeclaringClass()"
The JDK10 compile is failing with the error

[code]
The OpenJ9 implementation of the class ./jcl/src/java.base/share/classes/java/lang/invoke/MemberName.java doesn't have a getDeclaringClass() that the openJDK does.

[2017-12-18 16:43] pshipton commented on #840
@DanHeidinga did you mean to add the tag "depends:openjdk10"?

[2017-12-18 16:49] DanHeidinga commented on #840
Nope - meant to tag as `jdk10`.  Thanks for catching and correcting that!

[2017-12-18 16:49] JasonFengJ9 commented on #840
Will look at this along with #824 and #826.

[2017-12-18 16:57] pshipton opened #842 "OpenJ9 should consider setting java.vendor.version for Java 10"
As per http://openjdk.java.net/jeps/322 OpenJ9 should consider setting java.vendor.version for Java 10 and later. TDB what it gets set to.

[2017-12-18 18:11] fjeremic opened #844 "JIT out of source builds are broken"
As part of https://github.com/eclipse/openj9/pull/754/ we removed the `ut_j9jit.h` and `ut_j9jit.c` files which are required to build the JIT. Unfortunately this breaks out of source JIT builds because these files do not exist and they are currently not autogenerated by the JIT makefiles.

To give context many people working on the JIT will clone the OMR and OpenJ9 repositories and build only the

[2017-12-18 18:12] fjeremic commented on #844
@dnakamura FYI.

[2017-12-18 18:22] DanHeidinga commented on #844
Of the two options,

Has my vote.  With the advent of the clone / clone / make build process, is this functionality still needed?  Aren't incremental rebuilds sufficient after the initial (slower) full compile?

[2017-12-18 18:33] fjeremic commented on #844
In my experience speaking with other people who are commonly working on the JIT yes it is still needed. I think most people (chime in otherwise please!) build out of source so they can keep committing changes to their repository as they develop a feature. Often times we find ourselves having to compile a particular JIT against a particular cached build which has already been precompiled and archiv

[2017-12-18 21:47] vsebe opened #845 "Building OpenJ9 OpenJDK8 on Windows 64bits platforms"
**Requirements:**
See https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/README-builds.html for OpenJDK8 requirements:
- [JDK7 Windows x64](http://www.oracle.com/technetwork/java/javase/downloads/java-archive-downloads-javase7-521261.html)
- [Microsoft Visual Studio Professional 2010](https://www.visualstudio.com/vs/older-downloads/)
- [cygwin for 64-bit version](https://cygwin.com/ins

[2017-12-18 22:02] pshipton commented on #845
@SueChaplain fyi

[2017-12-18 22:12] aguibert commented on #55
@pshipton are the windows builds published anywhere?  I still only see linux distro out on adoptopenjdk.net :
https://adoptopenjdk.net/releases.html?variant=openjdk9-openj9

[2017-12-18 22:41] pshipton commented on #55
@aguibert Adopt is having problems getting the builds working ibmruntimes/openj9-openjdk-jdk9#101
Right now you need to build your own. Windows 8 support was only merged today  ibmruntimes/openj9-openjdk-jdk8#19

[2017-12-19 02:11] knn-k commented on #619
Corrected my commit message.

[2017-12-19 09:16] SueChaplain commented on #845
Great progress @vsebe - I'll get the detailed build instructions updated and ready for review.

[2017-12-19 18:17] youngar commented on #844
+1 for regenerating the code

[2017-12-19 18:47] fjeremic commented on #844
Anyone familiar with tracegen? How exactly does one invoke it on a particular .tdf file?

[2017-12-19 18:56] pshipton opened #849 "Get Test_J9VMInternals:test_checkPackageAccess running for at least Java 8"
Sanity test org.openj9.test.java.lang.Test_J9VMInternals:test_checkPackageAccess is excluded for both Java 8 & 9. For starters, it needs to be evaluated for Java 8 to determine why it is failing, and then fixed. Once Java 8 is fixed we can determine the proper action for Java 9.

[2017-12-19 20:26] pshipton opened #850 "Remove "IBM Confidential" from jvm.xml.ftl"
runtime/jvm.xml.ftl contains processing for "IBM Confidential" which needs to be removed from OpenJ9.  A portion of the code in jvm.xml is not needed for OpenJ9 and should be moved internal to IBM.

[code]

[2017-12-19 21:04] youngar commented on #844
`tracegen -file j9jit.tdf` should work! For the cmake side of things, there is `add_tracegen(j9jit.tdf)`, which is in `cmake/modules/OmrTracegen.cmake`

[2017-12-19 22:46] #824 closed

[2017-12-20 03:58] DanHeidinga commented on #850
@JasonFengJ9 Can you take a look at this?  We need to move this functionality out of OpenJ9 and into IBM's internal build system.  We can't close out the initial CQ (and do a release) until this is complete

[2017-12-20 04:12] #148 closed

[2017-12-20 04:12] #302 closed

[2017-12-20 11:29] SueChaplain commented on #845
PR raised to add the Win section: https://github.com/eclipse/openj9/pull/857
I based the updates off the V9 instructions, merging in the changes from this issue.  I haven't had a chance to test the process myself as I'll be finishing for Christmas today. I can get a machine set up to test when I am back or alternatively someone else is welcome to test and pass me any updates.
@DanHeidinga I recall

[2017-12-20 14:01] pshipton opened #858 "Get Test_AccessController:test_doPrivileged tests running at least for Java 8"
The following tests are excluded for both Java 8 & 9 without any explanation. For starters, they need to be evaluated for Java 8 to determine why they are failing, and then fixed. Once Java 8 is fixed we can determine the proper action for Java 9.

- org.openj9.test.java.security.Test_AccessController:test_doPrivilegedWithCombiner4
- org.openj9.test.java.security.Test_AccessController:test_doPrivi

[2017-12-20 14:54] pdbain-ibm commented on #529
Per discussion with @pshipton, removing Harmony also allows us to remove some port library socket code.

[2017-12-20 15:21] DanHeidinga commented on #796
@PowerUser1234 As James stated, operator overloading is a topic to broach with the JCP or by raising a JEP at OpenJDK.  I'm sorry we're unable to take this idea further at OpenJ9 at this time.

[2017-12-20 15:21] #796 closed

[2017-12-20 15:30] JasonFengJ9 commented on #850
Looking at it. It appears `runtime/jvm.xml.ftl` is used by non-openj9 builds hence it can be moved from `OpenJ9` to internal repo.

[2017-12-20 16:07] #619 closed

[2017-12-20 17:36] #717 closed

[2017-12-20 18:01] pshipton opened #859 "Access denied ("java.lang.RuntimePermission" "accessClassInPackage.sun.nio.cs.ext")"
@aguibert mentioned a problem running Liberty on OpenJ9 Java 9

[code]

[2017-12-20 18:37] mpirvu commented on #844
@youngar I tried tracegen and it generated `ut_j9jit.h` and `ut_j9jit.pdat` files. How can I generate the `ut_j9jit.c` file?
[code]

[2017-12-20 18:43] youngar commented on #844
Try using the flag `-generatecfiles`.  Our current invocation in OMR is `./tracegen -treatWarningAsError -generatecfiles -threshold 1 -root .`

The output from help is:
[code]

[2017-12-20 18:56] fjeremic opened #860 "Sign extending loads transformation creates an invalid tree"
A compilation log of `java/util/zip/ZipUtils.LG([BI)J` at scorching compile level using the below command

[code]

on Test which makes use of the Zip class produces the attached log:
[LG.log](https://github.com/eclipse/openj9/files/1576709/LG.log)

In the log we see the following trees before Sign Extending Loads optimization:

[code]

and the trees after Sign Extending Loads optimization are:

[c

[2017-12-20 18:56] fjeremic commented on #860
@andrewcraik @vijaysun-omr FYI.

[2017-12-20 19:26] dnakamura commented on #844
also note that `-root .` will walk the file tree starting at `.` and process any `.tdf` files it finds. Instead you probably want to use `-file j9jit.tdf`

[2017-12-20 20:46] #850 closed

[2017-12-20 21:41] JasonFengJ9 commented on #826
This issue can be closed by PR https://github.com/eclipse/openj9/pull/852.

[2017-12-20 21:42] JasonFengJ9 commented on #840
This issue can be closed by PR #852.

[2017-12-20 21:47] #840 closed

[2017-12-20 21:47] #826 closed

[2017-12-20 22:23] pshipton commented on #803
The question has been answered, please reopen if there is still a problem.

[2017-12-20 22:23] #803 closed

[2017-12-21 16:24] pdbain-ibm commented on #727
Submitted https://github.com/eclipse/omr/pull/2170 which ifndef's out the dummy declaration of "__thiscall".  Later releases of mingw define this symbol.

[2017-12-21 16:36] pshipton commented on #727
Please identify the release of mingw being used.

[2017-12-21 16:48] JasonFengJ9 commented on #859
Is there a testcase to reproduce this `AccessControlException`?
In addition, what version of OpenJ9 build was used in this failing case?

[2017-12-21 16:59] JasonFengJ9 commented on #842
Latest `Java 10 b36` doesn't set this system property yet.

[2017-12-21 18:24] pdbain-ibm commented on #727
gcc version 6.4.0 (GCC).

However, the MSVC compiler on the OpenJ9 build machine doesn't like the object file generated:
BytecodeInterpreter.obj : fatal error LNK1143: invalid or corrupt file: no symbol for COMDAT section 0x6

[2017-12-21 18:48] pshipton commented on #859
It was the Windows openj9 build from ibuild 373839 (Dec 18).
Perhaps @aguibert can supply a Liberty FAT test.

I think you could create a simple test by putting a call to java.nio.charset.Charset.forName() in a bootstrap class, and then calling the bootstrap code form an application class, and running the whole thing with -Djava.security.manager

[2017-12-21 18:51] pshipton commented on #842
An OpenJDK build won't necessarily set it to anything, as its for a vendor like Oracle, OpenJ9, IBM to use.

[2017-12-21 18:56] pshipton commented on #727
Right I was just going to comment that you might need to stick with an older version for compatibility.

[2017-12-21 18:58] pdbain-ibm commented on #727
We will need to get the OpenJ9 build machines reconfigured with the older version of mingw.

[2017-12-21 19:02] JasonFengJ9 commented on #842
Agreed. Just did a quick check, Oracle `Java 10 EA b35` hasn't added this system property either.

[2017-12-21 21:04] JasonFengJ9 commented on #859
Added `java.nio.charset.Charset.forName("UTF-16")` within `j.l.System.getProperty()`, then invoke it from an application class, and run with `-Djava.security.manager`, the methods finished successfully without throwing an `AccessControlException`.
A testcase is required for further investigation.

[2017-12-21 21:39] pdbain-ibm commented on #727
@vsebe would you do the needful to install on the OpenJ9 build machines the same version of mingw as the vmfarm machines?
Thanks

[2017-12-21 22:05] pshipton commented on #859
Might need a more obscure charset name. Can you confirm SecurityManager.checkPackageAccess() was called with "sun.nio.cs.ext"? Try "ISO2022" or something else from the sun.nio.cs.ext package.

[2017-12-22 02:02] aaltonenzhang opened #870 "Are there any ways to track all of openj9 call stacks when a java "hello world" running?"

[2017-12-22 04:21] JasonFengJ9 commented on #859
Yeah, that did the trick. An `AccessControlException` is thrown.

[2017-12-22 05:11] pshipton commented on #870
I'm not sure exactly what you are looking for. You can get the call stacks from a particular  moment in time by using `kill -QUIT <pid>` to send a signal to the JVM process. By default this will generate a file called a javacore, which contains all of the java call stacks.

Let me know what it is you are trying to do and I might have other suggestions.

[2017-12-22 05:21] aaltonenzhang commented on #870
Actually, what I want is to get all of VM call stacks(c/c++ methods, e.g. JNI_CreateJavaVM()) when a java app run in it, not java stacks.

[2017-12-22 05:31] pshipton commented on #870
You'll need to  use a native debugger like gdb for that.

[2017-12-22 17:00] mleipe commented on #727
@pdbain-ibm can you do it yourself by updating the Ansible playbook?  @vsebe is away until the new year.

[2017-12-22 18:00] #740 closed

[2017-12-23 18:44] fjeremic commented on #870
Do we build with debug symbols by default even in prod builds?

[2017-12-27 06:39] #870 closed

[2017-12-28 00:45] JakubVanek commented on #53
Hi @JamesKingdon,
I'd like to suggest a cleanup in [linux_arm_docker.spec](https://github.com/JamesKingdon/openj9/blob/arm/buildspecs/linux_arm_docker.spec). It has issues like an enabled IA32 codegen, which IMHO shouldn't be enabled for ARM. It's not only in the new version, [linux_arm.spec](https://github.com/eclipse/openj9/blob/master/buildspecs/linux_arm.spec) has the same issues.
These files

[2017-12-28 13:34] pdbain-ibm commented on #727
Good plan.  Could you tell where to find same?
I had a look around https://github.com/AdoptOpenJDK/openjdk-build but, comments notwithstanding, there's no ansible directory.

[2017-12-28 14:12] pdbain-ibm commented on #839
Tested with latest OpenJ9 Java 8 and associated test material:
openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-openj9_2017_12_25_21_45-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux ppc64le-64 Compressed References 20171225_374449 (JIT enabled, AOT enabled)
OpenJ9   - 4f77dce
OMR      - 9beb3de
OpenJDK  - 00e69f9 based on Java8_SR5_FP7_20171215_1234_B373586)

[2017-12-28 14:42] mstoodle commented on #727
@pdbain-ibm try looking in the openjdk-infrastructure repository

[2017-12-28 17:27] pshipton commented on #39
Closing, please re-open if there is still an issue.

[2017-12-28 17:27] #39 closed

[2017-12-28 17:33] pshipton commented on #42
Closing, please re-open if there is still a problem, or create a new Issue.

[2017-12-28 17:33] #42 closed

[2017-12-28 17:35] pshipton commented on #14
Closing, please re-open if there is still a problem.

[2017-12-28 17:35] #14 closed

[2017-12-28 17:37] pshipton commented on #113
This appears done, closing. Please re-open if there is still a problem.

[2017-12-28 17:37] #113 closed

[2017-12-28 17:39] pshipton commented on #117
Closing as a dup of #529. Current status: libhyprtshim29.so is no longer loaded by OpenJ9 builds, this obsoletes some OpenJ9 port library socket APIs which are still to be removed.

[2017-12-28 17:39] #117 closed

[2017-12-28 17:48] pshipton commented on #138
I assume this can be closed since #686 is merged and a build for ARM can be completed with the other pending changes. Please re-open if still needed.

[2017-12-28 17:48] #138 closed

[2017-12-28 18:10] pshipton opened #876 "StaticAccessChecks-IllegalAccessDeny and IllegalAccessPermit extended test failures"
StaticAccessChecks-IllegalAccessDeny
`Exception in thread "main" java/lang/RuntimeException: Value specified to --illegal-access not recognized: 'deny-cp'`

StaticAccessChecks-IllegalAccessPermit
`Exception in thread "main" java/lang/RuntimeException: Value specified to --illegal-access not recognized: 'permit-cp'`

i.e. there is a missing space between `--illegal-access=deny` or `--illegal-access

[2017-12-28 18:33] pshipton commented on #351
As this is fixed for Java 8 now I'm going to close. The health center agent isn't included, but since this isn't open source, adding it isn't an OpenJ9 issue.

[2017-12-28 18:33] #351 closed

[2017-12-28 18:35] pshipton commented on #362
I expect this is caused by #378.

[2017-12-28 18:52] pshipton commented on #366
testjep178_static is a test executable that needs to be created as part of the OpenJ9 build, but will end up in a separate test directory and won't be part of the OpenJ9 JDK (or JRE) build itself.

[2017-12-29 00:06] JakubVanek commented on #66
Hi,
I've tried to build OpenJ9 using emdebian armel compiler. [The result](https://drive.google.com/open?id=1Fc-pTDjXu3nCqlaVhcowvPa2A2WUDCnm): java in QEMU at least shows its version in the interpreter mode, but then it segfaults. Everything else will probably crash as well.
Forks with nasty hacks can be found here:
- [openj9](https://github.com/JakubVanek/openj9/tree/arm_softfloat)
- [openj9-omr

[2017-12-30 18:26] JamesKingdon commented on #66
Great work @JakubVanek, well done! It's not the easiest thing to get to build.
I've heard that QEMU has trouble running JVMs. It would be interesting to run the executable (with -Xint) on the target processor, especially if there's any debug support to try and find out where the crash happens.
The JIT will likely take some extra effort to make sure we're not using instructions that aren't availabl

[2017-12-30 18:40] JamesKingdon commented on #53
Hi @JakubVanek, agreed, I think there's some clean-up needed in those files. Possibly they will get revamped as part of the move to CMake. Thanks for pointing it out.

[2018-01-02 14:56] pdbain-ibm commented on #839
Seems to fail on rhel6p7gcvm1.ottawa.ibm.com.

[2018-01-02 16:00] pshipton commented on #794
Question answered

[2018-01-02 16:00] #794 closed

[2018-01-02 16:03] pshipton commented on #795
Similar to #794 - If you're concerned that the Java language itself is remiss in not supporting more flexible operations then this is not the right forum to report that. Rather, I encourage you to submit a Java Specification Request (JSR) as part of the Java Community Process (at https://jcp.org) to describe your proposal, motivations, and expected outcome. This will be reviewed and evaluated by t

[2018-01-02 16:03] #795 closed

[2018-01-02 21:25] pdbain-ibm commented on #839
Different issue.

[2018-01-02 21:25] #839 closed

[2018-01-03 10:41] andrew-m-leonard opened #881 "JDK8: OpenJ9 & OMR repos do not "tag" a release level"
For "releases" eg.JDK8, a "tagged" level is required for consumers eg.Adopt to be able to pull the appropriate level to build for example an OpenJ9-JDK8 build...?

[2018-01-03 15:21] pdbain-ibm commented on #727
Working on openjdk-infrastructure/ansible/playbooks/windows.yml.
Commented out  Windows Updates, Jenkins user, Firefox, Perl, Ant, Cuda, NTP, and pass/fail Slack tasks.  Testing on a cloud-provisioned Windows 10 machine.

[2018-01-03 18:09] JakubVanek commented on #66
I've tried running OpenJ9 on the EV3 (ARM926EJ-S):
[code]
The dump is here: [crash.zip](https://github.com/eclipse/openj9/files/1601274/crash.zip), if anybody wants to check it.

[2018-01-03 19:35] pshipton opened #883 "TestAttachErrorHandling_SE80, TestAttachAPI_SE90 hanging"
Must be caused by #877

[code]

[code]

@pdbain-ibm

[2018-01-03 19:50] pdbain-ibm commented on #883
Yup.  Testing the fix now.

[2018-01-03 20:00] pdbain-ibm commented on #883
Which platform did it fail on?

[2018-01-03 20:15] pshipton commented on #883
At last all 3 Linux platforms.

[2018-01-04 00:14] #823 closed

[2018-01-04 11:18] ashu-mehra opened #885 "pahole on OpenJ9 libraries"
Poke-a-hole ([pahole](https://lwn.net/Articles/335942/)) is an object-file analysis tool to find the size of the data structures, and the holes caused due to aligning the data elements to the word-size of the CPU by the compiler.

I ran pahole on a set of libraries in OpenJ9.
[code]
I used `--packable` option to get the summary of possible data structure that can be packed to save the size of the

[2018-01-04 13:04] pdbain-ibm commented on #885
ObjectFieldInfo is transient, as is J9VerboseSettings.

[2018-01-04 13:21] pshipton opened #886 "getJ9CfrErrorDescription() returns NULL as default string"
getJ9CfrErrorDescription() passes in NULL as the default string to use when the NLS message cannot be found. Callers of getJ9CfrErrorDescription() in cfrerr.c assume the message will never be NULL and call strlen() on the result, causing a crash.

This was discovered via code inspection after seeing a crash report containing the following. I'm not sure j9nls_lookup_message() would ever return NULL

[2018-01-04 15:10] pdbain-ibm commented on #886
Per discussion with @pshipton, I'll take this one.

[2018-01-04 15:17] #883 closed

[2018-01-04 15:32] #270 closed

[2018-01-04 18:27] pdbain-ibm commented on #886
nls_lookup_message() does a null check on the result of nlsh_lookup() and parse_catalog().  If all else fails, it returns "NLS Failure".  Many other calls to nls_lookup_message() pass in null defaults.

[2018-01-04 18:37] pdbain-ibm commented on #886
@andrew-m-leonard could I get the core dump and (if possible) the JVM?
Thanks

[2018-01-04 20:45] pdbain-ibm commented on #727
Building per https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V9.md#windows

[2018-01-05 14:01] andrew-m-leonard commented on #886
@pdbain-ibm Peter let me know if you need any more info... This crash is blocking me at the moment trying to get Java10 built
thanks

[2018-01-05 14:28] pdbain-ibm commented on #886
Thanks.  Working on it now.  Could you send the source project too?

[2018-01-05 15:31] pdbain-ibm commented on #886
There is an infinite classloading loop.  At the bottom of 46000 (!) stack frames:
#46274 0x00007ffff60543e6 in setCurrentExceptionUTF () from /team/pdbain/projects/openj9/jdk/lib/compressedrefs/libj9vm29.so
#46275 0x00007ffff60b2e98 in internalDefineClass () from /team/pdbain/projects/openj9/jdk/lib/compressedrefs/libj9vm29.so
#46276 0x00007ffff6048481 in attemptDynamicClassLoad () from /team/pdba

[2018-01-05 16:12] pshipton commented on #886
Likely a setup issue, i.e. having the right files in the right places. We know that a raw build can get further than this and run -version

@JasonFengJ9

[2018-01-05 16:32] JasonFengJ9 commented on #886
Passed @pdbain-ibm `Java 10` raw build with latest level `b37` which produces following `-version` output:
[code]

[2018-01-05 17:59] fjeremic opened #890 "Accelerate Float.floatToIntBits on Z"
It has been reported that `Float.floatToIntBits` API is slow on Z compared to other platforms. A simple unit benchmark exercising this path will be able to show the difference:

[code]

Digging into this it seems (credits to @joransiu) it appears that we don't fast path some of these APIs on Z. Namely the codegen query `getSupportsInliningOfTypeCoersionMethods` returns false on the Z codegen. Ther

[2018-01-05 18:04] fjeremic commented on #890
@sehirst could you please take a look at this one?

[2018-01-07 02:11] DanHeidinga commented on #885
This is an interesting analysis - thanks @ashu-mehra!  There's actually very little waste due to alignment which is a testament to the effort of the team to be aware of structure packing.

In addition to looking at structures are transient, it would be worth focusing on structures that have high #'s of allocations.  16 bytes waste on a structure that's allocated once per jvm matters less than one

[2018-01-07 14:50] marschall opened #892 "JNI library crashes with OpenJ9"
I'm not sure if this is the right forum.

I have JNI code compiled against OpenJDK 9. If I run the code with OpenJDK 9 it works fine. If I run it against OpenJ9 it crashes. If I recompile it against OpenJ9 it works. My understanding is recompilation should not be necessary and a compiled library should be portable across JVMs without recompilation.

This is the crash log

[code]
And the produced f

[2018-01-08 03:59] DanHeidinga commented on #892
Can you run with `-Xcheck:jni`?  This option validates the parameters passed to the JNI function and determines if all the JNI rules (exception checks, etc) have been followed.  If there is an issue in the JNI code, this makes it easier to find the root cause.

[2018-01-08 04:40] DanHeidinga commented on #892
Based on the javacore, the java stack looks like its crashing in
[code]
This isn't always 100% accurate so we'd need the core to be able to investigate further.

Can you zip the core file and upload it to somewhere like Box, Dropbox, etc?

[2018-01-08 06:08] prakaashkpk commented on #785
Any progress on this ?

[2018-01-08 08:26] marschall commented on #892
I can do that but it may take a few days.

[2018-01-08 10:59] adamfarley opened #893 "Replace GenerateJLIClassesPlugin.java with blank file."
In the Extensions for OpenJDK for Eclipse OpenJ9 project, we modify a number of OpenJDK classes to make the OpenJDK project compatible with OpenJ9.

One of those classes is GenerateJLIClassesPlugin, which we disable. We disable it because the code required to make it work is Hotspot-specific, and leaving it active but nonfunctional breaks JLink.

To remove this change from extensions, but not crip

[2018-01-08 13:55] adamfarley commented on #893
P.S. I ran the build locally before creating the pull request, and it appears the travis CI build passed as well.

[2018-01-08 14:21] DanHeidinga commented on #881
Thanks for opening this Andrew.

Given the 0.8 release is in progress, we need to figure out the branching / tagging story for OpenJ9 and the Extension repos and document the way this will work, at least how we'll try and tackle it for the first release.

[2018-01-08 14:40] smlambert commented on #893
Yes, there is a way to exclude an individual test that is part of the openjdk regression suite, through the ProblemList.txt file.  For now, we are sharing that file for both implementations (hotspot / openj9), however nothing stops us from maintaining two separate files.

Is this expected to be a permanent state of exclusion, or is this blank file story only a way to temporarily address the issue?

[2018-01-08 14:45] adamfarley commented on #893
I have no reason to believe OpenJ9 will support the code required to run this plugin, so let's say "long-term or permanent".

[2018-01-08 15:51] DanHeidinga commented on #893
To expand on Adam's comment - the JLI plugin generates MethodHandle-related classes for use by OpenJDK's MethodHandle implementation.  As OpenJ9 has its own implementation of MH, we don't need / can't use this plugin.

[2018-01-08 16:03] JasonFengJ9 commented on #859
Package `sun.nio.cs.ext` belongs to module `jdk.charsets` which is loaded by `platform classloader`. `OpenJ9` seems not loading the package/classes via bootstrap classloader which has permission to load protected packages like `sun.nio.cs.ext`, hence the classes loaded are subject to security check and eventually failed with `AccessControlException`.

[2018-01-08 17:04] pshipton opened #897 "javadoc does not contain OpenJ9 extensions"
The javadoc created as part of the OpenJ9 build, found in `build/<platform>/docs`, does not contain the javadoc for OpenJ9 extensions:
 - Shared Classes, com.ibm.oti.shared
 - Management extensions, com.ibm.lang.management
 - gpu, com.ibm.gpu
 - Cuda4J, com.ibm.cuda
 - data access acceleration. com.ibm.dataaccess
 - JVM diagnostic utilities, com.ibm.jvm

See also ibmruntimes/openj9-openjdk-jdk8#20

[2018-01-08 17:09] pshipton opened #898 "javadoc contains unsupported extensions"
The javadoc created as part of the OpenJ9 build, found in `build/<platform>/docs`, contains extensions which are not supported on OpenJ9.
 - OpenJDK management extensions, com.sun.management

See also ibmruntimes/openj9-openjdk-jdk8#21

[2018-01-08 17:37] pshipton commented on #876
Fixed by #888

[2018-01-08 17:37] #876 closed

[2018-01-08 20:15] marschall commented on #892
I can no longer reproduce the issue :-/

When I run `-Xcheck:jni` on OpenJDK I get

[code]

I believe these are issues in OpenJDK code as is ever call `CallStaticObjectMethod`.

When I run `-Xcheck:jni` on OpenJ9 I only get

[code]

In the interest of completeness here is the core dump

https://www.dropbox.com/s/yx445ghpj55jrii/core.20180107.153400.8296.0001.dmp?dl=0

I'm really at a loss here, ma

[2018-01-08 22:46] JasonFengJ9 commented on #859
Further about the comment above:
The modules loaded by `platform classloader` should not have all permissions like those loaded by `boot classloader`, hence loading the module/class in question via boostrap classloader is not the answer to this failure.

Looked further and compared RI and OpenJ9 output when running the testcase with `-Djava.security.debug=all`, RI has following security debug outp

[2018-01-09 03:23] DanHeidinga commented on #859
Good find @JasonFengJ9!  FYI @hangshao0 as I believe you were looking at a package access check related issue as well.

[2018-01-09 13:57] pdbain-ibm commented on #727
Tried mingw and MSVC together in a trivial program:
C:\cygwin64\home\Administrator\openj9>x86_64-w64-mingw32-g++ -v
Using built-in specs.
COLLECT_GCC=x86_64-w64-mingw32-g++
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-w64-mingw32/6.4.0/lto-wrapper.exe
Target: x86_64-w64-mingw32
Configured with: /cygdrive/i/szsz/tmpp/cygwin64/mingw64-x86_64/mingw64-x86_64-gcc-6.4.0-2.x86_64/src/gcc-6.4.0/configure --src

[2018-01-09 16:13] SueChaplain commented on #761
@gibfan - are you able to join this discussion please?

[2018-01-09 21:29] pdbain-ibm commented on #727
Set compile option to -O0.  failed.
run "lib BytecodeInterpreter.obj".  Failed.
Ran lib on a lib BytecodeInterpreter.obj from an intrel. Passed.
The symbol table from the passing file is 190 lines, the failing object file is ~6000 lines, mostly extra symbols.

Seems to be complaining about this:
SECTION HEADER #5
     /58 name (.xdata$_ZN19VM_ArrayCopyHelpers14copyForwardU64EPyS0_y)
       0 physi

[2018-01-10 03:02] JasonFengJ9 commented on #859
RI throws `AccessControlException` when changing the package within `permission java.lang.RuntimePermission "accessClassInPackage.sun.nio.cs"` from `sun.nio.cs` to either `sun.nio` or `sun.nio.cs.ext`. It appears this permission granted to module `jdk.charsets` is for accessing the class within package `sun.nio.cs` in module `java.base` and not for the classes in package `sun.nio.cs.ext` in module

[2018-01-10 04:32] pshipton commented on #662
If `jenkins test sanity zlinux` could be used as short form for `jenkins test sanity zlinux all` then the "new syntax" would be compatible with the old.

[2018-01-10 13:44] smlambert commented on #893
Ok, I have created https://github.com/AdoptOpenJDK/openjdk-tests/issues/206 to address this, but you do not need to hold up this PR, as we currently are not running the group of tests where that test case resides.  When we turn them on, we will exclude that particular one.

[2018-01-10 13:59] #893 closed

[2018-01-10 14:41] mstoodle commented on #662
should we be using the word "java" or "jdk" in these commands?

[2018-01-10 14:42] mstoodle commented on #662
might be easier for casual reading if there were a p= (platforms) and j= (jdk) prefixes for "all all" / etc. but it's just a thought. unless others agree, I won't push for it.

[2018-01-10 15:20] yongja79 opened #904 "JDK10 compile files as getBytesUTF8NoRepl method stubbed but not implemented"
As part of #862 a stub was put in openj9/jcl/src/java.base/share/classes/java/lang/Access.java for the method getBytesUTF8NoRepl that threw an error:

[code]

Since then this method has been used so when you try to compile the following is thrown.

[code]

So the method now needs to be implemented

[2018-01-10 16:03] pdbain-ibm commented on #727
Dumping it with objdump on my Mac:
BytecodeInterpreter.bad:        file format COFF-x86-64

SYMBOL TABLE:
[ 0](sec -2)(fl 0x00)(ty   0)(scl  67) (nx 1) 0x00000000 .file
AUX ^@^@^@^@<81><BC>^A   <<<< looks bogus
[ 2](sec  4)(fl 0x00)(ty   0)(scl   3) (nx 1) 0x00000000 .text$_ZN7JNIEnv_14ExceptionClearEv
AUX scnlen 0x27 nreloc 0 nlnno 0 checksum 0x0 assoc 0 comdat 2
[ 4](sec  4)(fl 0x00)(ty  20)(scl

[2018-01-10 16:17] pdbain-ibm commented on #727
Looked at using the mingw compiler to generate assembler, but ml64 won't take it.
Disabled USE_COMPUTED_GOTO.  Same problem.
Disabled VMINLINE. same problem.

[2018-01-10 17:03] DanHeidinga commented on #904
FYI @JasonFengJ9

[2018-01-10 17:11] JasonFengJ9 commented on #904
Looking at it.

[2018-01-10 17:40] pshipton commented on #727
Older versions of gcc can be installed, is there any reason not to use gcc 4.x, which should be compatible?

[code]

[2018-01-10 17:54] AdamBrousseau commented on #662
I think this addresses Pete's and both Mark's suggestions
```.*\bjenkins\b\s+\btest\b\s+\bsanity\b\s*(\n|$|(p=all|([a-z]+,)*zlinux(,[a-z]+)*)\s+(\n|$|j=all|(jdk[0-9]+,)*jdk9(,jdk[0-9]+)*))```

[2018-01-10 18:36] DanHeidinga commented on #662
@AdamBrousseau For the lazy, can you supply what the new commands would look like?

[2018-01-10 18:55] AdamBrousseau commented on #662
Example
- All Platform, All Versions (currently only have 2 of each)
[code]
Let me know if this is sufficient or if you want to see other use cases.

[2018-01-10 19:13] keithc-ca commented on #662
Are the expressions case-sensitive?

BTW, occurrences of `\b\s+\b` can be just `\s+`.

[2018-01-10 19:14] mstoodle commented on #662
another option would "allpfm" and "alljdk" in case that is more attractive

[2018-01-10 19:17] AdamBrousseau commented on #662
```Matches case insensitively and supports regular expressions```
(from [GitHub Pull Request Builder](https://wiki.jenkins-ci.org/display/JENKINS/GitHub+pull+request+builder+plugin))

[2018-01-10 19:24] DanHeidinga commented on #662
Since we're bikeshedding anyway, the `=` is kind of ugly.  Is there a single world that would fill in for "all"?  ie: use `jdk` as a short hand for `jdk=all`?

[2018-01-10 19:46] keithc-ca commented on #662
With commas separating the platforms and jdk versions, I don't see a need for the `p=` or `jdk=` prefixes.

[2018-01-10 19:48] keithc-ca commented on #662
Anybody in favour of supporting `jenkins help`?

[2018-01-10 20:58] #904 closed

[2018-01-10 21:06] mstoodle commented on #662
+1 to the "ugly" comment. As I mentioned before, it wasn't a strong suggestion and seems to add little value (if only one is specified, the entries in the other make it pretty clear which one is "all"). if both are specified, it isn't really important to know which is which. It's just that "all all" looks weird to me. <shrug>

[2018-01-10 22:52] dnakamura commented on #727
@pdbain-ibm The issue appears to be caused by gcc adding SEH handling data for functions which may be externally reachable (ie the symbols in the `.pdata` and `.xdata` sections).  Passing `-fno-asynchronous-unwind-tables` seems to fix the issue

[2018-01-11 00:29] pshipton commented on #662
All in favour of going back to the following. Note all of these do the same thing.

- jenkins test sanity
- jenkins test sanity all
- jenkins test sanity all all
- jenkins test sanity all jdk8,jdk9
- jenkins test sanity zlinux,plinux
- jenkins test sanity zlinux,plinux all
- jenkins test sanity zlinux,plinux jdk8,jdk9

[2018-01-11 01:20] pshipton commented on #886
The crash was tracked to the VM not supporting class version level 55.0. As the intent of this Issue was"getJ9CfrErrorDescription() passes in NULL as the default string" which doesn't seem to be a problem, closing this.

[2018-01-11 01:20] #886 closed

[2018-01-11 09:42] andrew-m-leonard commented on #904
I've taken a guess at workign around this by adding the following:

[2018-01-11 09:43] andrew-m-leonard commented on #904
Which gets past the compile error, but I then get invalid Jmods produced... not sure if it;s related to this?

[2018-01-11 12:15] adamfarley opened #911 "Undo Extension to JLink's module-info.java"
The extension to JLink's module-info.java (jdk/src/jdk.jlink/share/classes/module-info.java) can be removed if we implement a minimal GenerateJLIClassesPlugin class, as opposed to the blank class we implemented in #893.

This extension, in summary, excludes the GenerateJLIClassesPlugin class. Removing this exclusion requires the existence of the class.

I've created a minimal GenerateJLIClassesPlu

[2018-01-11 12:52] yongja79 opened #912 "JDK10: value() method added to String.java to be implemented"
Trying to compile OpenJ9 with Openjdk10 gives the following error:-

[code]

This is caused by OpenJ9 implementation of String.java (openj9/jcl/src/java.base/share/classes/java/lang/String.java) not having an implementation of the value() method.

[2018-01-11 13:25] pshipton commented on #904
@andrew-m-leonard getBytesUTF8NoRepl() was implemented and merged yesterday

[2018-01-11 13:46] DanHeidinga commented on #912
FYI @JasonFengJ9

[2018-01-11 16:33] pdbain-ibm commented on #886
... though it would be nice if we could handle more gracefully the case of UnsupportedClassVersionError.class having an unsupported class version :-).

[2018-01-11 17:59] #911 closed

[2018-01-11 18:38] AdamBrousseau commented on #662
Updated #851 with README changes for trigger comment

[2018-01-11 19:06] pdbain-ibm commented on #727
That did the trick.  I can now compile and link with gcc 6.4.0.

[2018-01-11 19:13] AdamBrousseau opened #918 "Add Jenkins integration to Slack"
Now that we have a [public slack](openj9.slack.com) we should add a #jenkins channel and add the [Slack plugin](http://wiki.jenkins-ci.org/display/JENKINS/Slack+Plugin) to Jenkins.

This will allow builds to post to slack when they pass/fail

[2018-01-11 19:14] AdamBrousseau commented on #918
Channel created
Plugin Added
Integration added https://openj9.slack.com/services/B8SKNHXSB

[2018-01-11 19:14] #918 closed

[2018-01-11 21:25] DanHeidinga commented on #33
Closing this as there has been no action in many months and the suggested direction has been to document the options directly in the code.

[2018-01-11 21:25] #33 closed

[2018-01-11 21:26] DanHeidinga commented on #13
Closing due to inactivity.  This is worth looking at again post migration to cmake

[2018-01-11 21:26] #13 closed

[2018-01-11 21:27] DanHeidinga commented on #76
Closing as related PR has been merged

[2018-01-11 21:27] #76 closed

[2018-01-11 21:29] DanHeidinga commented on #135
@dnakamura Is this still relevant?

[2018-01-11 21:32] DanHeidinga commented on #263
@tajila Is this something you're tracking as part of the VarHandles work?

[2018-01-12 13:22] andrew-m-leonard commented on #912
So i've managed to come up with an impl for String.value() that works, The JDK code that is called during ZipCoder invocation is wanting to obtain the "raw" value of the String. So I copied some of the J9 getBytes() code to uncompress the value and return that as a byte[], and it seems to work. Here's what I added to openj9/jcl/src/java.base/share/classes/java/lang/String.java :
[code]

[2018-01-12 13:58] pshipton commented on #912
What happens if you try the impl "return value;" ?

[2018-01-12 14:02] pdbain-ibm commented on #727
Marius Pirvu writes:
I tested your build with two Liberty workloads
1) With tradeliteServer I measured a 0.8% startup regression with your build, but the difference in absolute terms is so small (1403 vs 1392) that this may be just fluctuation
2) With DT3 there is no startup regression.
I would say we are good.

[2018-01-12 14:17] andrew-m-leonard commented on #912
The jmod zip file is corrupt, because the string returned for filenames is garbage, I think because "value" is a compressed byte...

[2018-01-12 16:08] dnakamura commented on #135
closed via #754

[2018-01-12 16:08] #135 closed

[2018-01-12 17:38] pshipton opened #923 "-Xinternalversion not working on Java 8 builds"
-Xinternalversion is an accepted option on Java 8 but it doesn't provide any information, showing `Eclipse OpenJ9 OpenJDK 64-bit Server VM () from -amd64 JRE (), built on Jan 11 2018 21:41:51 by  with`.

Example of a working version from Java 9
`Eclipse OpenJ9 OpenJDK 64-bit Server VM (9-internal+0-adhoc.openj9.openjdk) from linux-amd64 JRE (9-internal+0-adhoc.openj9.openjdk), built on Jan 11 2018

[2018-01-12 18:22] pdbain-ibm commented on #785
Working on it now...

[2018-01-12 19:02] pdbain-ibm commented on #785
@prakaashkpk I'm having trouble reproducing your issue.  Could you send me more detail on reproducing this?

Testing with:
openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc.openj9.openjdk)
Eclipse OpenJ9 VM (build 2.9, JRE 9 Linux amd64-64 Compressed References 20171225_374449 (JIT enabled, AOT enabled)
OpenJ9   - 4f77dce
OMR      - 9beb3de
OpenJDK  - f1a22d1 based

[2018-01-13 01:44] pshipton commented on #923
Fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/26

[2018-01-13 06:43] #923 closed

[2018-01-15 12:03] adamfarley opened #930 "Dockerfile for zLinux can "fail to fetch" while building"
Attempting to build a docker image with the openj9 Dockerfile for jdk9 on zLinux can result in the following error:

E: Failed to fetch http://ports.ubuntu.com/ubuntu-ports/dists/xenial/universe/source/by-hash/SHA256/e201ab73d77c0208d5dcd4844b6215bc5e18b49d9f9b58d0fb627c47c0438ecd  Hash Sum mismatch
E: Some index files failed to download. They have been ignored, or old ones used instead.

This res

[2018-01-15 13:32] DanHeidinga commented on #930
@adamfarley Why does `--fix-missing` prevent the problem?

We've previously closed a similar issue as being due to old version of apt / proxies between the client and the apt-server.  See https://github.com/eclipse/openj9/issues/14

[2018-01-15 13:36] DanHeidinga commented on #930
My reading of the description:
[code]
indicates we'd be left with an incomplete docker image.

[2018-01-15 13:55] adamfarley commented on #930
I assumed "fix missing" actually "fixed" things. An assumption on my part. RTM :)

Thanks for the quick response. Closing the issue.

[2018-01-15 13:55] #930 closed

[2018-01-15 14:48] pdbain-ibm opened #931 "OpenJ9 [Win64 Hammer Compressed Pointers] 80 FAILED: testLoadingClasses"
Test has never passed on Windows.

Log file is:
===============================================
Running test testvmcheck_0 ...
===============================================
test with NoOptions
{ "C:/temp/bld_375906/j2sdk-image/jre/bin\\java"  -Xcompressedrefs  \
-cp "C:/temp/bld_375906/openj9/test///..//jvmtest\\TestConfig\\resources;C:/temp/bld_375906/openj9/test///..//jvmtest\\TestConfig\\lib\

[2018-01-15 15:02] pshipton commented on #931
I think this is the same issue as #834

[2018-01-15 15:02] manqingl opened #932 "java.lang.IllegalStateException in related to the changes of class MemoryMXBean"
In Java 8 SR 5, the implementation of MemoryMXBeanImpl depends on javax/management/NotificationBroadcasterSupport, which in turns depends on java/util/logging/LogManager.  LogManager will then register a Shutdown hook.
If the JDK has started to shut down when the LogManager tries to register a Shutdown hook, The java.lang.IllegalStateException  will throw.

Standalone test case:
[code]

$ ../sdk/j

[2018-01-15 15:08] pdbain-ibm opened #934 "OpenJ9 [Win64 Hammer Compressed Pointers] 80 External doesn't run"
New test, never passed.

@vsebe FYI

Looks like a path/commandline issue:

Command line is:

C:/cygwin64/bin/bash.exe -l -c " rm -rf /cygdrive/c/temp/bld_375906 && mkdir -p /cygdrive/c/temp/bld_375906 && cd /cygdrive/c/temp/bld_375906 && export JAVASVT_ROOT=/cygdrive/l/HEAD_368073/javasvt && export JAVASVT_PREREQS_ROOT=/cygdrive/l/HEAD_368073/javasvt_prereqs && export TEMP_ROOT=/cygdrive/c/temp/bl

[2018-01-15 15:11] JasonFengJ9 commented on #912
@yongja79 please provide a link to latest `Java 10` extension repo link such that I can reproduce the issue particularly mentioned above "corrupted filename when creating jmod zip file".

[2018-01-15 15:45] fjeremic opened #935 "Jenkins PR builds fail if a dependent change has been merged"
Sometimes a dependent PR may be opened the dependent OMR PR may be merged before any committer has had a chance to review or launch a Jenkins build on the PR. An example of this can be found in https://github.com/eclipse/openj9/pull/896. When this happens we are no longer able to launch any Jenkins PR builds. Using the aforementioned PR the following builds did not work:

[code]

or

[code]

The f

[2018-01-15 15:47] fjeremic commented on #935
@AdamBrousseau does `Jenkins test sanity all` build against eclipse/openj9-omr/openj9 or eclipse/openj9-omr/master? It seems as if it's the former, in which case we hav ea chicken and egg type problem where we cannot launch PR dependent builds after an OMR dependent change has been merged.

[2018-01-15 16:13] charliegracie commented on #727
Did anyone look at the generated code for the BytecodeInterpreter specifically around the main loop?

[2018-01-15 16:14] pdbain-ibm commented on #785
Tested OpenJ9 Java 9 on Linux X86 Redhat 7 and Ubuntu 14.  Passed.
Tested same platforms, Java 7.1 (IBM J9 VM (build 2.7, JRE 1.7.0 Linux amd64-64 Compressed References 20161004_321107). Test failed.
Tested Java 8 with jvm.28 (build 2.8, JRE 1.8.0 Linux amd64-64 Compressed References 20170608_351672).

There appears to be a difference between the jvm.29 and jvm.28 VMs in this regard.  Investigatin

[2018-01-15 17:02] AdamBrousseau commented on #935
`eclipse/openj9-omr/openj9`
I think we can consider this a dup of #827

[2018-01-15 17:04] fjeremic commented on #935
Ah I did not know about #827. You're right this is a duplicate. Closing this issue. We can continue discussion on #827 if needed.

[2018-01-15 17:04] #935 closed

[2018-01-15 19:16] pdbain-ibm commented on #785
Looking at the Java 8 backtrace:
#0  monitor_wait_original (self=0x7ffff0007600, monitor=0x7ffff004e7a0, millis=0, nanos=0, interruptible=8396800) at ../omr/thread/common/j9thread.c:4140
#1  0x00007ffff5ace606 in monitor_wait (monitor=0x7ffff004e7a0, millis=0, nanos=0, interruptible=8396800) at ../omr/thread/common/j9thread.c:4085
#2  0x00007ffff5ace541 in j9thread_monitor_wait_interruptable (moni

[2018-01-15 19:22] pshipton opened #938 "OpenJ9 Java 8 on Windows doesn't compile on VS10 Pro (before SP1)"
Due to a recent omr change https://github.com/eclipse/omr/pull/2206

openjdk\build\windows-x86_64-normal-server-release\vm\omr\compiler\x/runtime/X86Runtime.hpp(80) : error C3861: '_xgetbv': identifier not found

@vsebe

[2018-01-15 19:49] pdbain-ibm commented on #785
Note that IBM Java 8 and below uses the Harmony JDWP, while OpenJ9 and IBM Java 9 use the OpenJDK version.
Tested with IBM Java 9, but it throws an exception:
$ jdb -attach 5678
java.net.ConnectException: Connection refused
	at java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:327)
	at java.net.AbstractPlainSocketImpl.

[2018-01-15 20:02] 0dvictor commented on #938
https://github.com/eclipse/openj9/issues/845 may need to be updated as well.

[2018-01-15 22:03] tajila commented on #263
@DanHeidinga Taking a look at this

[2018-01-15 22:09] vsebe commented on #938
Updated 9.28..28.162.180 - win2008x64rt1

Microsoft Visual Studio 2010
Version 10.0.40219.1 SP1Rel
Microsoft .NET Framework
Version 4.7.02053 SP1Rel

Rebuilt openj-openjdk-jdk8:

[code]

[2018-01-16 13:44] pdbain-ibm commented on #785
Tested with OpenJ9 Java 8, also passed.

[2018-01-16 13:45] pdbain-ibm commented on #785
[testfiles.zip](https://github.com/eclipse/openj9/files/1635316/testfiles.zip)
These are the files I used to test.  Run the test like so:
$ bash runt

[2018-01-16 13:46] pdbain-ibm commented on #785
As this is not an issue with OpenJ9, please close this issue.

[2018-01-16 15:13] #737 closed

[2018-01-16 15:52] mpirvu commented on #424
According to the investigation related to PR #909 the output coming from j9sysinfo_get_memory_info() for memInfo.cached looks bogus: 0xffffffff3c5c4000.
This is not error code and it is too big to be real. I am assuming this is a bug/limitation in the portlib implementation for zOS.

[2018-01-16 16:17] pdbain-ibm commented on #424
I will investigate.

[2018-01-16 16:48] pdbain-ibm commented on #424
J9MemoryInfo uses uint64_t to store values.
These are populated via retrieveZOSMemoryStats():
	memInfo->totalPhysical = ((uint64_t)rcep->rcepool * J9BYTES_PER_PAGE);
	memInfo->availPhysical = ((uint64_t)rcep->rceafc * J9BYTES_PER_PAGE);
	memInfo->totalSwap = ((uint64_t)asmvtp->asmslots * J9BYTES_PER_PAGE);
	memInfo->availSwap = ((uint64_t)(asmvtp->asmslots - (asmvtp->asmvsc + asmvtp->asmnvsc

[2018-01-16 16:58] mpirvu commented on #424
The problem is related to the cached memory, so the relevant code is
[code]

[2018-01-16 17:00] harryyu1994 commented on #450
What's the reason behind having the `_csInfo._residueWeight >= 0x7FFF` condition in the above `if` statement? I think removing this condition will make the code work.

[2018-01-16 17:09] mpirvu commented on #450
The condition at that point is bogus. It needs to be moved at the point where we are about to increment _residueWeight to avoid overflow.

[2018-01-16 18:20] pshipton opened #947 "IBM_JAVA_COMMAND_LINE environment variable not set"
I find references to the environment variable IBM_JAVA_COMMAND_LINE in OpenJ9 debugtools/DDR_VM, the openj9.dtfj module, rasdump/javadump.cpp, but OpenJ9 does not set this environment variable. I believe for IBM Java the IBM Java launcher would set it to the command line options specified. Since its not set for OpenJ9, the RAS code may not provide these command line details as intended.

[2018-01-16 19:57] #932 closed

[2018-01-16 20:03] #790 closed

[2018-01-16 20:06] vsebe commented on #938
9.28.161.140 - win7x64rt1
9.28.161.153 - win10x64rt2
9.28.162.183 - win10x64rt1
are done too

[2018-01-16 20:40] fjeremic opened #948 "Rename -XX:+StringCompression to -XX:+CompactStrings"
OpenJDK introduced String compression in Java 9 which seems to be enabled by default and is guarded with option `-XX:+CompactStrings`. We have a different implementation of String compression but we piggyback off of OpenJDK JCL (StringCoding for example, among others) for certain APIs.

To avoid intorducing confusion and unnecessary JDK differences we should rename `-XX:+StringCompression` to `-XX

[2018-01-17 06:34] chandrams opened #953 "Update documentation for com.ibm.jvm.Dump API"
Dump.setDumpOptions() did not work when I passed the below option:
    _"java:events=throw,filter=java/lang/NullPointerException#DumpTest.main*,range=1..1"_

After investigation, I found -Xdump:dynamic has to be specified if throw/catch events are configured through Dump.setDumpOptions() when JIT is ON, whereas this option is not required when we set the above option on command line using -Xdump

[2018-01-17 14:06] pshipton opened #954 "JEP 309 Dynamic Class-File Constants"
https://bugs.openjdk.java.net/browse/JDK-8177279

[2018-01-17 14:29] pshipton opened #955 "JEP 314 Additional Unicode Language-Tag Extensions"
https://bugs.openjdk.java.net/browse/JDK-8177568

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-17 15:41] pshipton opened #957 "JEP 322 Time-Based Release Versioning"
https://bugs.openjdk.java.net/browse/JDK-8192828

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

- [x] #842

[2018-01-17 15:45] pshipton opened #958 "JEP 286 Local-Variable Type Inference"
https://bugs.openjdk.java.net/browse/JDK-8151454

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-17 17:04] #912 closed

[2018-01-17 19:26] fjeremic opened #963 "Accelerate getStringUTF8Length for compressed strings"
While investigating a profile of a webserver workload `getStringUTF8Length` seem to bubble to the top of the VM module. Taking a look at the implementation:

https://github.com/eclipse/openj9/blob/e49c539beff43c6d4f8dea3ab5f39eaaa5e86c2e/runtime/vm/stringhelpers.cpp#L440-L459

It appears there is room for improvement here. Looking at the disassembly for the function in the profile (won't paste her

[2018-01-17 19:48] pshipton commented on #963
Agreed the check could be simpler but even for compressed strings 0x00 and > 0x7f still needs 2 bytes

[2018-01-17 20:20] fjeremic commented on #963
Unfortunate side-effect. I will continue to dig. Perhaps there are places where we don't really need UTF8 explicitly and can get away with ISO-8859-1. In such cases compressed Strings don't need the 0x00 and 0x7F checks. I haven't seen those pop up in profiles though yet so I can't tell if this is worth the investment.

[2018-01-17 20:44] fjeremic opened #966 "Accelerate uses of copyCharsIntoUTF8Helper"
While profiling a webserver type workload `copyCharsIntoUTF8Helper` is the top VM function in the profile at steady state throughput. It is a clear winner in terms of bang for the buck when it comes to making VM APIs faster.

There seems to be one direct use of `copyStringToUTF8Helper` without going through the function interface in `getStringUTFRegion`. It looks as follows:

https://github.com/ec

[2018-01-17 21:59] keithc-ca opened #967 "Very slow startup on Windows Subsystem for Linux without -Xmx option"
I built OpenJ9 using the Windows Subsytem for Linux available in Windows 10.
The output from `java -version` shows SHAs from today.

[code]

There is a significant difference in runtime if the `-Xmx` option is present vs. omitted.
It seems to be entirely in the initialization stage `ALL_LIBRARIES_LOADED` for `j9gc29`.
With `-Xmx4M`:

[code]

Without `-Xmx`:

[code]

[2018-01-17 22:15] pshipton opened #968 "OOM running pull request testing on plinux"
We've seen this a couple of times today.

https://ci.eclipse.org/openj9/job/PullRequest-Sanity-linux_ppc-64_cmprssptrs_le/328/console

[code]
It also occurred in testing for #962.
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-linux_ppc-64_cmprssptrs_le/326/console

Both of these occurred on ub16-ppcle-3

It didn't reoccur on restart, which occurred on ub16-ppcle-2
https://ci.eclipse.org/ope

[2018-01-17 22:20] pshipton commented on #968
Happened in the last nightly build https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-JDK9-linux_ppc-64_cmprssptrs_le/49/console
on ub16-ppcle-4

[2018-01-17 22:26] AdamBrousseau commented on #968
Also [315](https://ci.eclipse.org/openj9/job/PullRequest-Sanity-linux_ppc-64_cmprssptrs_le/315/consoleFull) on ub16-ppcle-3

[2018-01-17 23:04] smlambert opened #969 "Find and archive any core / dmp files in post test step"
In Jenkins builds, we should be collecting and archiving any unexpected dump/core files that are produced during a test run.

[2018-01-17 23:04] smlambert commented on #969
related to #968

[2018-01-17 23:10] dmitripivkine commented on #968
I have seen this before. This looks like an attempt of allocation of reference array with 2GB elements (intentional OOM). Test itself seems passed even with OOM thrown

[2018-01-17 23:14] pshipton commented on #968
Looking at the console output, in this case the OOM seems to have terminated the VM.

[2018-01-17 23:16] pshipton commented on #968
A working test should look like the following, and continue to run

[code]

[2018-01-17 23:32] pshipton commented on #968
Seems I looked at the wrong javacore file. The message from the matching console is as follows. There is a core and heapdump, but no javacore file. Seems like an unreported crash occurred either before or early in javacore creation.

[code]

[2018-01-17 23:37] #963 closed

[2018-01-17 23:39] pshipton commented on #967
FYI #270 and #739

[2018-01-18 01:13] prakaashkpk commented on #785
Closing this issue as it doesn't occur with OpenJ9.
Thanks @pdbain-ibm for the help.

[2018-01-18 01:13] #785 closed

[2018-01-18 14:22] pdbain-ibm commented on #424
runtime/compiler/trj9/control/CompilationThread.cpp
Two issues:
1) int64_t TR::CompilationInfo::computeFreePhysicalMemory()
           _cachedFreePhysicalMemoryB = freePhysicalMemorySizeB > LONG_MAX ? LONG_MAX : freePhysicalMemorySizeB;
LONG_MAX evaluates to 2 GB on 31-bit z/OS, so we cap it at an unreasonably low value.  Since we return a 64-bit number, there is no reason to cap the value.

2)

[2018-01-18 15:13] pshipton commented on #968
Note we don't have the ability to properly analyse the core files from OpenJ9 since there is no DDR support yet.

[2018-01-18 15:24] marziman commented on #53
Hi guys,
happy that the good old J9 found his way to Eclipse and became openJ9.
I am also interested to have this running on ARM, and I was somehow not suprised to meet @kartben over here ;-). We are thinking to use openJ9 in a priductive setup.
@JamesKingdon What do you think is still missing for the ARM version for more than simple testing java apps.

Thanks to all people involved for this great

[2018-01-18 15:26] harryyu1994 commented on #424
I will add in the fix, the first two issues mentioned was caught, missed the memLimit one.

[2018-01-18 15:29] mpirvu commented on #424
@pdbain-ibm  The fixes you are proposing are awaiting to be integrated in PR #909. While working on it we discovered that the value for memInfo.cached in particular looks bad. It's a very large value, that when added to the value for physical memory results in an overflow. The outcome is that we print a value that looks reasonable, but it's bogus in reality.

[2018-01-18 15:36] harryyu1994 commented on #424
memInfo.availPhysical=54154899456 Bytes 0xc9be23000 in Hex
memInfo.cached=18446744070427262976 Bytes 0xffffffff3c5c4000 in Hex
freePhysicalMemory=50872610816 Bytes; After Shift by 20 = 48515 MB

Since freePhysicalMemory = memInfo.availPhysical + memInfo.cached,
it's probably just a wrap around value that looks reasonable.

[2018-01-18 15:36] AdamBrousseau opened #972 "Convert OMR Acceptance build to use new Jenkins Pipeline Code"
[Pipeline-OMR-Acceptance](https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance/)
Related #660

Currently the code is in the groovy sandbox in the job config. Should be relatively straight forward to add a Jenkins file that reuses the new code.

[2018-01-18 16:00] AdamBrousseau opened #974 "Add timeout blocks to JenkinsFiles"
Sometimes builds hang for various reasons. We should add timeout blocks to either an entire build or per stage so that things aren't running longer than they should and require manual cancelling.

[2018-01-18 16:13] AdamBrousseau opened #975 "Add Slack notifications to Jenkins Files"
We have a [Slack](https://openj9.slack.com) team now with a channel dedicated to [#Jenkins](https://openj9.slack.com/messages/C8QU16TDW/details/) bot notifications

Likely should only post when there is a failure.

[2018-01-18 21:07] pshipton opened #981 "Aborted pull request testing contains confusing message"
Looking at a problematic pull request build https://ci.eclipse.org/openj9/job/PullRequest-Sanity-linux_ppc-64_cmprssptrs_le/336/ (due to #968), it contains the following output. The problem here is the `Build finished. 1013 tests run, 351 skipped, 0 failed.` message which might be mistaken has having completed all the tests. Perhaps this can be improved.

[code]

[2018-01-18 22:06] AdamBrousseau commented on #981
The problem here is the jvm crashing, followed by the POST Jenkins actions which run after the build. This includes the PR plugin updating the PullRequest build status. Since only X tests ran, that is what the PR Plugin determines. I think we would have to make our test framework more robust or be able to recover from these crashes. The plugin cannot tell that the testing stopped early so it can o

[2018-01-19 13:44] smlambert commented on #981
I think there are two problems.

1) One is with the test framework, that we should be reporting the crash or generation of the dmp files (if it is not an expected part of the test),  related item #969.  At present, we do not pre-count and report the number of tests before we run them, in fact, we wrote the framework to easily pick up any tests that are present or newly added in the test directory

[2018-01-19 14:05] JamesKingdon commented on #53
Hi @marziman thanks for your post and encouragement :)

We need to get the build into our regular build & test cycle to shake out any remaining bugs. The known functional issues have been identified and addressed by @knn-k and are either in the code base or on their way. Which leaves us with performance - definitely not where we want it to be yet, so we need to characterise the problems and priori

[2018-01-19 17:38] pshipton commented on #981
Note in this case the dump files are expected (not sure the test should be creating them because this is a lot of overhead, but currently it does). The problem is the testing suddenly stops, i.e. the VM suddenly exits while in the process of creating the expected dump files (#968). This doesn't seem to result in the running test failing, and the test summary (showing no failures) could be mistaken

[2018-01-20 03:17] smlambert commented on #216
This issue is addressed by #976 which adds support for <disabled> tag in playlist.xml file, a common and preferred way to exclude all types of tests.

[2018-01-20 03:17] #216 closed

[2018-01-20 03:36] smlambert commented on #473
Closing as this is fulfilled by #976

[2018-01-20 03:36] #473 closed

[2018-01-22 13:11] pshipton opened #991 "JEP 313 Remove the Native-Header Generation Tool (javah)"
https://bugs.openjdk.java.net/browse/JDK-8182758

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-22 13:20] pshipton opened #992 "JEP 320 Remove the Java EE and CORBA Modules"
https://bugs.openjdk.java.net/browse/JDK-8189188

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-22 15:09] DanHeidinga commented on #849
@pdbain-ibm mentioned he was looking at this

[2018-01-22 15:28] pdbain-ibm commented on #849
Changes for https://github.com/eclipse/openj9/pull/579 may affect this.

[2018-01-22 15:42] pshipton commented on #849
#579 is a Java 9 issue, while primarily this issue is to ensure the test is working on Java 8.

[2018-01-22 16:37] pshipton opened #995 "org.openj9.test.java.lang.Test_ClassLoader tests are excluded for Java 8"
The org.openj9.test.java.lang.Test_ClassLoader tests (openj9/test/Java8andUp/src_80/org/openj9/test/java/lang/Test_ClassLoader.java) are excluded for Java 8. The tests need to be fixed if necessary to work property on Java 8, and included.

[2018-01-22 20:45] DanHeidinga commented on #761
I've created the two new labels requested.  As the plan is to use the github release, we can call out all items with those tags in the release item.

Closing this now.

[2018-01-22 20:45] #761 closed

[2018-01-22 20:54] tianxiaogu opened #997 "The nightly build (jdk-9+181-20 on January 22 2018) has different behaviors on Xcomp and default mode."
The nightly build ([jdk-9+181-20 on January 22 2018 Linux x64](https://github.com/AdoptOpenJDK/openjdk9-openj9-nightly/releases/download/jdk-9%2B181-20182201/OpenJDK9-OPENJ9_x64_Linux_20182201.tar.gz)) has different behaviors on Xcomp and default mode.

Default:
A NegativeArraySizeException is thrown

Xcomp:
exit normally with 0
[code]

The head of OpenJDK throws an exception.

[code]

Oracle JDK

[2018-01-22 21:35] pshipton commented on #997
`-Xcomp` is mapped to `-Xjit:count=0`

[2018-01-22 21:54] tianxiaogu commented on #997
@pshipton Thanks for your reply. I am not sure whether this is a bug or not. I have attached the program [C0.class](https://drive.google.com/open?id=1kCPeTb97ONca6OfCiPiCIDkDsTTha387) (via Google Drive) now.

BTW, C0.class is generated by a fuzzing tool I created. So I cannot provide its source code.

[2018-01-22 22:43] vsebe commented on #845
In addition to the above requirements, OpenJ9 requires:
- Debugging Tools (available with [Windows 7 SDK](https://developer.microsoft.com/en-us/windows/hardware/windows-driver-kit))
- [Visual Studio 2010 Service Pack 1](https://support.microsoft.com/en-us/help/983509/description-of-visual-studio-2010-service-pack-1)

Users should add the path to the debugging tools to the INCLUDE and LIB environme

[2018-01-22 23:31] tianxiaogu opened #999 "The nightly build (jdk-9+181-20 on January 22 2018) has different behaviors from OpenJDK"
[C0.class (via Google Drive)](https://drive.google.com/open?id=1CdaiP02IUO32hKKbilQIQiFhm2hRg97d) triggers different behaviors on OpenJDK and OpenJ9.

The nightly build (jdk-9+181-20 on January 22 2018) throws an exception in default mode,
where OpenJDK (head) exits normally.

This bug may relate to #997. I am not sure whether this is a bug of OpenJDK or OpenJ9.

OpenJ9-JDK9
[code]

OpenJDK
[code]

[2018-01-23 03:25] ymanton opened #1000 "OpenJ9 JDK8 builds fail to run Apache Spark due to missing JAAS libraries"
Attempting to run Spark 2.2.1 results in the following exception on a Linux machine:

[code]

This is caused by a missing `libjaas_unix.so` that is not actually built as part of OpenJ9 JDK8.

[2018-01-23 03:32] ymanton commented on #1000
Seems like the lines that enable this library to be built in the OpenJ9-JDK8 makefiles were commented out (see ibmruntimes/openj9-openjdk-jdk8#29). Is there a specific reason why we're not building this library or is it just an oversight?

[2018-01-23 12:28] pshipton commented on #999
What happens when you run `./jdk-9+181/bin/java -Xint C0`?

[2018-01-23 12:48] pshipton commented on #1000
I notice other libraries are also commented out: LIBJ2PCSC, LIBJ2GSS, LIBJ2PKCS11

[2018-01-23 13:24] SueChaplain commented on #845
@vsebe
Just for clarification ... there are a huge number of options on the Windows 7 SDK link for the Debugging tools (page https://developer.microsoft.com/en-us/windows/hardware/windows-driver-kit). Do you mean this option:

"Get the standalone debugging tools for Windows XP as part of Windows 7 SDK" (near the bottom of the page) ... if so, would this be a better link to use? https://www.microso

[2018-01-23 13:36] Mesbah-Alam opened #1001 "MathLoadTest+LockingLoadTest Systemtests failing on HotSpot VMs (8 and 9) on x86"
Issue as follows - need to determine correct behaviour and decide which VM is giving the correct result, and adjust test accordingly. Currently test is set up with the expected result from J9

MLT testStarted : testExp(net.adoptopenjdk.test.math.MathAPITest)
MLT testFailure: testExp(net.adoptopenjdk.test.math.MathAPITest): exp(double)[9] :: expected:<11.3842406513381> but was:<11.384240651338098>

[2018-01-23 13:38] Mesbah-Alam commented on #1001
Related issue in openjdk-systemtest repo: https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/8

[2018-01-23 13:55] SueChaplain commented on #761
@danheidinga - I've some concerns that the process of pulling out the changes could be arduous, but let's give it a go and see if the experience highlights some better opportunities.

[2018-01-23 13:57] DanHeidinga commented on #761
Agreed and understood.  I think we need to try out some of these processes and see how they go.  Some will be painful, some easily automated, and others will need to change.  Time will tell which is which.

[2018-01-23 14:14] pshipton commented on #1001
The results from both JVMs are correct. Please check the spec for java.lang.Math.

Using java.lang.StrictMath, for this particular test case the result is "0.29428694035725067", which matches the OpenJ9 result.

The spec for Math.exp(double) states `The computed result must be within 1 ulp of the exact result. Results must be semi-monotonic.`

The spec for java.lang.Math explains this:

[code]

[2018-01-23 14:14] #1001 closed

[2018-01-23 14:25] pdbain-ibm commented on #849
For the record:
This test mucks around with classloaders, so we need to be careful about triggering classloading
and with the classpath.

So far, have determined that testng.jar must go on the bootstrap classpath.

[2018-01-23 14:37] vsebe commented on #845
@SueChaplain that link will do.

[2018-01-23 14:44] pshipton commented on #849
FYI An alternative is to grant testng.jar java.security.AllPermission, which is effectively what putting testng.jar on the bootstrap classpath is doing. See "Grant Entries" and `-Djava.security.policy` in
https://docs.oracle.com/javase/8/docs/technotes/guides/security/PolicyFiles.html

[2018-01-23 16:28] pshipton commented on #1000
Added a blocker label to indicate this Issue is a blocker for the Eclipse OpenJ9 0.8 release.

[2018-01-23 18:48] tianxiaogu commented on #999
@pshipton The same exception is thrown with `./jdk-9+181/bin/java -Xint C0`.

[code]

[2018-01-24 15:28] mstoodle commented on #374
@andrewcraik Are those JCL natives from OpenJDK, or JCL natives from OpenJ9? Presumably the former; I would have expected the latter ones to not be using ::new and ::delete... ?

We've been overriding those global operators for a long time now....how is it that the problem just came up?

[2018-01-24 15:29] mstoodle commented on #421
This looks like a reasonable beginner issue to me; please remove the label if anyone disagrees.

[2018-01-24 15:32] mstoodle commented on #436
@0dvictor Just curious what the current state is here?

[2018-01-24 15:37] mstoodle commented on #447
Does seem thorny in the general case.... @andrewcraik have you made any progress on what to do here? Are there improvements that could be made to address (some of) these individual cases called out by the validator, or should we be discussing the full topic head on?

[2018-01-24 15:40] mstoodle commented on #455
@DanGritter sorry we (appear to have) let this one languish. @fjeremic have you been tracking this one?

[2018-01-24 15:48] mstoodle commented on #549
I would like to see some scenarios fleshed out for what this kind of facility would be used for, to make sure that what gets implemented actually addresses those scenarios. Given how adaptive the JIT compiler is to prevailing circumstances, It would be very easy to implement such an API that does something but not the something everyone will assume it's doing.

If we're clear on the goals we want

[2018-01-24 16:01] fjeremic commented on #455
No, unfortunately I have let this one slip past my radar. It appears this is running on zTPF though? We certainly do run JCK tests on some flavor of this codebase and this problem was not observed. Could you tell us more about the environment this was running in?

Also if possible given that this is months old now, does it occur on the latest commits available?

[2018-01-24 16:06] mstoodle commented on #554
Is that only if it's the same method pattern, @dsouzai, or it never works? i would have thought independent option sets would have worked, but not with the options you specified (missing a log= option on the -Xaot option set.

[2018-01-24 16:18] dsouzai commented on #554
[code]

[code]

`java '-Xjit:{method1*}(traceFull,log=method1Log),{method2*}(traceFull,log=method2Log)' -version` works

[2018-01-24 16:18] DanGritter commented on #455
This occurs both on z/TPF as well as linux, however is tied to the "invalid" jit options so not really a big concern for us.
Just recreated it with java 1.8.0.151, not sure if this is the "latest" but certainly recent, specific version is at the bottom.

LD_LIBRARY_PATH=/tmp:/ztpf/java/bld/jck/JCK8b/jtctest/apps/ascii/jck/jck8b/natives/linux_390-64:$LD_LIBRARY_PATH java -Xjit:counts="- - - - - - 0

[2018-01-24 17:07] adamfarley opened #1011 "Remove the need for Extensions that add OpenJDK SHA to -version"
Currently, extensions adds the OpenJDK SHA to the -version output.

This change removes the need for those extensions.

Note that a recent "closed" extensions change adds the VENDOR_SHORT_NAME VENDOR_SHA definitions to openj9_version_info.h, so this change (which includes that file) allows us to use those value in existing code.

The only other change is a whitespace edit so the dashes line up in

[2018-01-24 17:10] mstoodle commented on #455
Ok, this issue reports a problem against an internal IBM build, which should not be reported at Eclipse OpenJ9.

@DanGritter I suggest you discuss this failure within IBM (IBM J9 VM) and open an issue to address the problem, once it has been diagnosed. On that basis, I'll close this issue. Sorry we took so long to reach this conclusion for you.

[2018-01-24 17:10] #455 closed

[2018-01-24 17:56] mstoodle commented on #554
You shouldn't be putting both options together under a single quote. The options should be:
`'-Xjit:{method1*}(traceFull,log=method1Log)' '-Xaot:{method2*}(traceFull,log=method2Log)'`

They are separate command line options, after all.  By any chance, were you doing that in the original one as well (you didn't include the quotes in the original command line, but I was wondering why it was showing

[2018-01-24 17:57] mstoodle commented on #557
@IBMJimmyk Seems like this issue has been resolved, please reopen if I've misunderstood.

[2018-01-24 17:57] #557 closed

[2018-01-24 18:05] mstoodle commented on #667
@0xdaryl can you think of any additional scary corner cases to be wary of here?

[2018-01-24 18:36] pdbain-ibm commented on #849
Fixed the ad-hoc classloader to handle special cases (e.g. the testNG classes) specially.

Running the test class directly under testNG fails (probably because of testNG's reflection),
so I split the implementation into a separate class and provide a simple driver class to testNG.

Got it working.  Running a personal build now.

[2018-01-24 18:37] pshipton opened #1012 "java.fullversion system property contains hardcoded "IBM J9""
The problematic code is here https://github.com/eclipse/openj9/blob/6f6042a3a6f3cb7041300434f138afbf7d9b17f9/runtime/jcl/common/jclcinit.c#L156

[2018-01-24 18:41] mstoodle commented on #701
Once you're talking about two different JVM instances, then you also open yourselves up to different command-line options, different classes on disk/generated, etc. i.e. all the craziness that shared classes and AOT have to deal with. (Oops, I forgot I ran javac on that file ...)

You could run it on a different machine with different CPU, different amount of memory, which may influence default he

[2018-01-24 19:00] pdbain-ibm commented on #858
I'll take this.

[2018-01-24 19:21] tianxiaogu commented on #997
@pshipton this issue may be caused by incorrectly handling boolean values in the generated class file. JVM has limited support for `boolean`. It maps the type of `boolean` to `int` but additionally maps `1` to `true` and `0` to `false`. This is my understanding. I am not sure whether it is correct. Hence, a fuzzing tool can generate bytecode sequences that pass the verifier (at least the type chec

[2018-01-24 19:26] dsouzai commented on #554
Hm I might have added both in a single block. I add the `'` `'` because bash doesn't like the `{` `}` brackets. It's interesting that having both `-Xjit` and `-Xaot` in the same `'` `'` block causes issues; I would've figured that JVM would have just ignored the single quotes. Putting them in separate blocks runs fine.

I'll close this issue since it's clearly a non-issue (...no pun intended).

@f

[2018-01-24 19:26] #554 closed

[2018-01-24 19:48] andrewcraik commented on #554
I believe the issue with the `'`s is that the shell/OS will treat the -Xjit and -Xaot in the `'`s as a single option when passing it to the args of the process. You need them in two sets of quotes so they are passed as two different arguments.

[2018-01-24 19:51] #1000 closed

[2018-01-24 20:34] pdbain-ibm opened #1015 "Java 9 missing packages in conf/security/java.security"
Note that  com.ibm.oti. at al. became unrestricted in Java 9.

The package.access for Java 9 is:
package.access=sun.misc.,\
               sun.reflect.

The corresponding entry in Java 8  jre/lib/security/java.security  is:
package.access=sun.,\
               com.sun.xml.internal.,\
               com.sun.imageio.,\
               com.sun.istack.internal.,\
               com.sun.jmx.,\

[2018-01-24 20:35] pdbain-ibm commented on #849
Fixed Java 8.  Java 9 is blocked by https://github.com/eclipse/openj9/issues/1015.

[2018-01-24 20:37] tajila opened #1016 "Should Trc_VM_sidecarInvokeReflectMethod_Entry/Exit be a level2 tracepoint"
The Trc_VM_sidecarInvokeReflectMethod_Entry/Exit traces are level2 tracepoints which means they are on by default. There are cases where these tracepoints can account for up to 75% percent of the snaptrace output.

These tracepoints do not provide any information other than the currentThread and the fact that the tracepoint was triggered.

Should these tracepoints be level2?

[2018-01-24 20:41] pshipton commented on #1015
I don't think com.ibm.oti. needs to be a restricted package, as it's not exported. The jdk.unsupported module exports sun.misc and sun.reflect which is why these are still restricted.

[2018-01-24 21:07] pshipton commented on #1015
I take that back, com.ibm.oti.shared is exported and needs to be restricted.

[2018-01-24 21:10] #522 closed

[2018-01-24 21:17] AdamBrousseau opened #1017 "Jenkins log and artifact cleanup schedule"
Today we took down Eclipse's [hipp5](https://ci.eclipse.org/) which is where our OpenJ9 Jenkins master lives. We were consuming 264G space according to the [Bugzilla](https://bugs.eclipse.org/bugs/show_bug.cgi?id=530259) and have been asked to reduce.

What we store:
- Build logs (console output)
- SDKs from Builds and PRs

Jenkins has the following options, which are configured on a per job basis

[2018-01-24 21:19] pshipton commented on #1015
Better yet, the com.ibm.oti.shared code already uses a SharedClassPermission, but not all places that need a security check have one. The coverage can be extended to all entry points, and then no package restriction is needed.

[2018-01-24 21:28] mstoodle commented on #997
@andrewcraik i wonder if you or your delegate would like to take a look at this one?

[2018-01-24 21:31] pshipton commented on #849
Removed the test failure label as this is a test issue.

[2018-01-24 21:33] pshipton commented on #849
The fix is in #1013

[2018-01-24 22:34] ChengJin01 opened #1018 "Issue with jit_runtimeInstrumentation & port_runtimeInstrumentation"
Given that and all the low level support on RI was removed, RI isn't going to work for openj9.
In such case, it should be feasible to turn off jit_runtimeInstrumentation and port_runtimeInstrumentation in specs on zOS.

However, the compilation result indicates it fails with the following error in JIT after turning off these two flags:
CCN0793(I) Compilation failed for file openj9/runtime/compiler

[2018-01-24 22:34] ChengJin01 commented on #1018
FYI:  @pshipton,  @DanHeidinga

[2018-01-24 23:14] pshipton commented on #1016
I suppose the tracepoints could help diagnostics if a crash occurred inside sidecarInvokeReflectMethodImpl(), although a native debugger should be able to show the same.

@gacholio any opinion on lowering the tracepoint levels?

[2018-01-24 23:27] pshipton commented on #1017
I'm ok with this, or with smaller numbers even. Do you know about how many builds consume the 264G?

Perhaps others will have comments.

[2018-01-24 23:35] pshipton commented on #1017
I checked a full Java 9 build and it was 4G uncompressed. This includes the git repos, all the source, build artifacts, and images. I assume the SDK kept around must be smaller than this. The jdk image itself is 323M and zipped its 202M, so around 20G for 100 builds.

[2018-01-24 23:39] pshipton commented on #1017
We probably want a bigger number for PRs, "Max # of builds to keep with artifacts", say 100 to match the "Max # of builds to keep".

[2018-01-25 01:16] AdamBrousseau commented on #1017
Biggest offenders currently are the PR Sanity builds. (no cleanuo yet)
688 SDKs being stored across all jobs.
Java 9 SDKs are ~200M and 8's are ~100M (tar.gz)

[2018-01-25 05:48] dsouzai commented on #1018
I'm guessing it's failing because of code in this method, namely the `J9_JIT_TOGGLE_RI_IN_COMPILED_CODE` flag:
https://github.com/eclipse/openj9/blob/26f8c7edb1fe37253d001243c0ce14473334d07f/runtime/compiler/trj9/z/codegen/J9TreeEvaluator.cpp#L9876-L9927

Calls to `generateRuntimeInstrumentationOnOffSequence` seem to be guarded by `cg()->getSupportsRuntimeInstrumentation()`, eg:

https://github.co

[2018-01-25 14:03] pshipton opened #1020 "OpenJ9 version information contains "build 2.9""
The java.vm.version system property contains 2.9, which doesn't make much sense for OpenJ9. The "2.9" also ends up in the system property java.fullversion. The -version output prints "build ${java.vm.version}"

[2018-01-25 14:06] pshipton commented on #1020
All the VM/JIT/GC shared libraries also use a 29 suffix.

[2018-01-25 14:09] pshipton commented on #1020
Note that changing this is not a trivial effort (but not major either). There is testing that expects the 2.9, or 29 shared library suffix which all needs to be fixed, although it should mostly use a variable.

[2018-01-25 15:44] andrewcraik opened #1021 "Capture JIT build configuration in -version output"
The JIT compiler can currently built in 3 major configurations: debug, assertions, or production (names subject to revision). Capturing which of these configurations the JVM is running with in the -version output can be a significant aid to debugging performance and functional problems. There was a discussion on the OpenJ9 Slack general channel on 25 January 2018 discussing this topic. I believe t

[2018-01-25 15:47] mstoodle commented on #1021
one question: does this need to be a JIT-centric configuration ?

[2018-01-25 15:51] andrewcraik commented on #1021
I don't necessarily think so personally, but others may have different views. My primary concern is the JIT since that is the area I work with most, but happy to hear opinions for those working more with the VM or GC.

[2018-01-25 16:05] sxa555 commented on #1001
@lumpfish FYI

[2018-01-25 16:40] marziman commented on #53
Great thanks @JamesKingdon !
So can you give me a ping as soon I can test out our Java OSGi platform on top of ARM J9?
If you feel more comfortable and think you have a certain stability. Much thanks for your and @knn-k  efforts and work.

Would be great.

[2018-01-25 17:39] AdamBrousseau commented on #1017
Based on how much space we've consumed in ~3 months and suggestions in comments, I have updated the numbers in the description. Propose we keep 2 months/100 builds?

[2018-01-25 18:20] DanHeidinga commented on #1017
@AdamBrousseau Are there any download stats on how often these artifacts have been downloaded?  If they aren't being downloaded, then storing them serves no purpose.

[2018-01-25 18:49] adamfarley opened #1023 "Add JCL repository SHA to javacore"
Peter Shipton advises that javadump.cpp be modified to add the SHA of the Extensions source repository to any generated javacores.

See this code for an example: _OutputStream.writeCharacters("1CI" VENDOR_SHORT_NAME "VERSION  " VENDOR_SHA "\n");

Note that, in jclcinit.c, the file openj9_version_info.h is (as of https://github.com/eclipse/openj9/pull/1010) conditionally included at the top. This c

[2018-01-25 21:58] pshipton commented on #1017
I guess a larger number of days to keep builds doesn't much matter if they are limited to 100 builds.

What does it mean not to put a limit on the artifacts? Won't the artifacts eventually consume too much space, or do they disappear with the builds?

[2018-01-25 22:31] smlambert commented on #1017
Artifacts should disappear with the builds (from Jenkins master).

Based on typical use cases, do we realistically need to keep the SDK for 100 builds for PR builds?  I had thought the use case was, "as a developer I want to download the SDK from my PR build, immediately after I build it, so I can do some additional local testing.  After a few days (x number of builds later), I want to rebuild, as

[2018-01-25 22:43] AdamBrousseau commented on #1017
The artifacts would get cleaned up with the build logs.

I don't see anything built into Jenkins for this. Initial searching only talks about website monitoring services.

[2018-01-26 05:38] #859 closed

[2018-01-26 07:52] gacholio commented on #1016
Im my experience, tranepoints have rarelry been significant in resolving issues.  It's easy to up the TP level if problems are being encountered, so I say let's go for the performance by default (i.e. up the TPs to level2).

[2018-01-26 14:51] andrewcraik commented on #447
Personally, I don't think that an annotation is a good way to go - the problem is more generic in that there can be longs in Java code which are addresses (eg native pointers stashed in long fields via JNI or other APIs) and so we would need to make sure those things were handled correctly otherwise the validator would choke on them too. The basic issue is making sure the optimizer and code genera

[2018-01-26 15:51] ChengJin01 opened #1032 "Potential footprint issue with the stackmap frames during runtime verification"
In the existing implementation, all raw data in stackmap tables (if exists) are always decompressed to
a new stackmap stable with more readable data for later verification. However, it might occupy a bigger memory space as compared to the original stackmap table. which in turn seriously impacts the footprint at startup/runtime.

This issue is intended to investigate how much memory space it wastes

[2018-01-26 15:52] ChengJin01 commented on #1032
FYI  @DanHeidinga

[2018-01-26 15:59] DanHeidinga commented on #1032
A couple of clarifying questions:

The intention here is that the StackMapTables could be stored out of line in the sharedclasses cache and then the memory for them could be disclaimed after the VM exists startup_phase.  Correct?

When the decompressed stackmap data is stored in the romclass, and that romclass is stored in the sharedclasses cache, then the only 1 VM has to do the decompression.  I

[2018-01-26 16:15] smlambert commented on #969
Awaiting #851 so that we make this change in scripts in a repo versus in scripts in Jenkins.

[2018-01-26 16:48] ChengJin01 commented on #1032
1) "The intention here is that the StackMapTables could be stored out of line in the sharedclasses cache and then the memory for them could be disclaimed after the VM exists startup_phase. Correct?"

-- In that case, the original stackmap table still needs to decompressed next time when VM restarts as the allocation has been released last time.  Right?

2) "It literally needs to decode the stackma

[2018-01-26 17:02] ChengJin01 commented on #1032
It will be perfect if the shared cache is used in solution 2. If so, there is no more decompression from other VMs once the original stackmap data is decompressed by 1 VM.

[2018-01-26 18:11] mgaudet commented on #447
I think both potential solutions have merit -- certainly the second is much more pragmatic; I think the former is pretty helpful in trying to statically eliminate a class of errors though. My personal take is that a new datatype makes more sense to me, but it would definitely be invasive.

[2018-01-26 18:36] vsebe commented on #934
@llxia FYI

[2018-01-26 18:54] DanHeidinga commented on #368
@fengxue-IS Can you take a look at this?

[2018-01-26 19:23] fengxue-IS commented on #368
Looking into this

[2018-01-26 19:27] #1016 closed

[2018-01-26 20:14] vijaysun-omr commented on #447
For the example shown in an earlier comment

n5n         lloadi  <isClassAndDepthFlags>[#563  Shadow +24] [flags 0x603 0x0 ]               [0x7f75dab4ff20] bci=[-1,0,-] rc=2 vc=0 vn=- li=- udi=- nc=1
n4n           lload  <parm 1 J>[#634  Parm] [flags 0x40000104 0x0 ]

I am wondering what the original call tree looked like before the VMJ9 substitution and which method contained that call tree. One

[2018-01-26 20:34] pdbain-ibm opened #1038 "Unused issue"

[2018-01-26 20:37] pdbain-ibm commented on #1038
[1038.zip](https://github.com/eclipse/openj9/files/1669110/1038.zip)

[2018-01-26 20:45] pdbain-ibm commented on #1038
Looks like a JIT issue.  Running with -Xint makes it pass:
`$ java -showversion -Xbootclasspath/a:/team/pdbain/projects/permission/test/openj9/bootclasses/ -cp /team/pdbain/experimental/bin -Xint Dop
openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc.openj9.openjdk)
Eclipse OpenJ9 VM (build 2.9, JRE 9 Linux amd64-64 Compressed References 20171225_374449 (JIT abled,

[2018-01-26 20:54] DanHeidinga commented on #1038
@pdbain-ibm Does the test pass if you use `invokeExact` instead of `invoke`?

[2018-01-26 20:56] DanHeidinga commented on #1038
I've tagged this as `comp:vm` as I suspect its related to the stackwalk finding the wrong frame in the jitted case or not correctly skipping the `thunkArchetype` frame.

[2018-01-26 21:52] JamesKingdon commented on #53
Hi @marziman
I'll try and remember to let you know when we've made some progress. If nothing else, this issue will get updated as things move forward. I'm afraid it may not be as quick as I'd like, as we're still figuring out how to prioritise the different parts of the project, and there's a whole lot of work on the list!

[2018-01-26 22:59] JasonFengJ9 commented on #1038
`invokeExact` failed the test as well like `invoke`.
`-Xint` passes consistently while default mode fails intermittently.
Since this is a negative test, i.e., JVM is expected to find the non-privileged stack during stackwalk, the failure suggests that the caller of `PrivilegedAction` (non-privileged) was missing in jitted case or `thunkArchetype` frame.

[2018-01-27 06:50] tianxiaogu commented on #997
@andrewcraik  Sorry, this may not be an issue. The optimization of OpenJ9 removes the unused allocation, while HotSpot does not.

[2018-01-27 20:08] JasonFengJ9 commented on #1038
Updates:

Latest `IBM Java 8 SR6` passes the testcase consistently (`30x` runs all passed)
Last `IBM Java 9` build ( based on `Java 9 b148` before moving to `OpenJ9` development) passes the testcase consistently (`30x` runs all passed)
Latest `OpenJ9 Java 9` failed the testcase intermittently (`4 out of /30` runs passed)

It appears the regression was introduced to `OpenJ9` though I was not able t

[2018-01-27 20:34] pdbain commented on #1038
It also passes OpenJ9 Java 8.

[2018-01-28 13:23] JamesKingdon commented on #997
Thanks for the interesting test case @tianxiaogu This may need some thought.

Trivial cases have the expected behaviour, e.g.
[code]
gives the expected `Exception in thread "main" java.lang.NegativeArraySizeException`
However, a conversion chain on the size prevents the JIT from realizing that an exception will always be thrown, and then the allocation of the unused array gets optimized away:
[cod

[2018-01-28 16:00] #1038 closed

[2018-01-28 21:59] mgaudet commented on #447
IIRC, I found that tree simply by running `java -version` with the new IlValidator enabled. I can't recall the option offhand, but imagine it would not be hard to reproduce.

[2018-01-29 14:00] andrewcraik commented on #997
@JamesKingdon interesting - the main issue will likely be that we can't tell that the float is negative. A compile log will be necessary. It would be good to confirm the opt level this failed at and, if it is a cold compile, see what happens in the warm compile. Regardless, there is a bug to be fixed here.

[2018-01-29 16:02] AdamBrousseau opened #1043 "Ability to pass WHITELIST to copyright checker"
Not all files in a repo will have the standard copyright. We should have the ability to pass a whitelist of filenames so that the check does not fail when these files are modified.

Since we are using the copyright checker across multiple repositories, I was thinking we could automatically look for a `.copyright_whitelist` file in the project root directory.

[2018-01-29 18:05] ChengJin01 commented on #1032
Talked to Hang in terms of how share cache works,  just correct some of my misunderstanding as follow:
Given that there is only 1 thread in the VM writing the rom classes to the shared cache with mutex, it should be feasible to store the compressed version in the shared cache during class loading (storing the decompressed one is definitely a good idea as it takes much longer in decompression).

In

[2018-01-29 19:28] #1011 closed

[2018-01-29 21:48] fengxue-IS commented on #368
Tested personal build with level.sanity on all platform, did not see failure with this test enabled
Opening PR to enable the test

[2018-01-29 21:53] ChengJin01 commented on #1032
Overall, there are 3 type of methods to verified as follows:
[1] a method with stackmap table (our concern)
[2] a method without stackmap table but needs the stackmap to be built before verification (this part should be a comparably small portion in terms of the whole verification process)
[3] a method withou stackmap and there is no need to build it (not our concern)

To check the assumption, I d

[2018-01-29 22:25] ChengJin01 commented on #1032
The results above indicates:
[1] createStackMaps = 0, verifyData->stackSize = 368, verifyData->stackMapsCount = 116, maximalMemoryStackmap = 42688, Class.Method.Sig = com/ibm/ws/kernel/launch/internal/FrameworkManager.launchFramework.(Lcom/ibm/ws/kernel/boot/BootstrapConfig;Lcom/ibm/wsspi/logprovider/LogProvider;)V
Before the server gets started,  the maximal memory size for decompression is appro

[2018-01-29 22:36] pshipton commented on #368
Please try ginding the gcRegressionTests testcase to see if you can get any failures. Since the problem is intermittent, and we don't know the frequency, a single run is probably not enough to expose the problem.

[2018-01-30 01:56] JamesKingdon commented on #997
Compilation was at warm, I will attach the log. The newarray was eliminated at line 1508 by deadTreesElimination.
[main.log.txt](https://github.com/eclipse/openj9/files/1676100/main.log.txt)

[2018-01-30 05:18] ChengJin01 commented on #1032
It might be worth running that on some core files and seeing what % of the ROM class memory is StackMapTables.
-----  This is not for the decompressed version but the compressed one as it is part of the ROM class memory.  So DDR is definitely an good option to do so as there is no way to directly figure out the memory usage of the compressed version.  Will check what happens in the compressed vers

[2018-01-30 05:54] knn-k commented on #706
I should have closed this issue earlier.  This was fixed by the change in OMR.

[2018-01-30 05:54] #706 closed

[2018-01-30 06:43] fengxue-IS commented on #368
Run grinder 50 iterations for
`linux_x86-64_cmprssptrs`
`linux_ppc-64_le`
`zos_390-64`
all passed, seems like the problem has been fixed

[2018-01-30 13:42] SueChaplain opened #1052 "Create release notes for V0.8"
** What needs to go in?**
- Release information (VRMF?)
- Overview
- Issues and limitations (Can we add links to working issues in this issue? I believe we need something around DDR/KCA and signal handling for CTRL-C?)

** Where do we publish?**
I'm assuming we want something on the web site or in the user doc (if we can make an IBM contribution ahead of the release). However, there is also a page

[2018-01-30 13:43] JamesKingdon commented on #706
Many thanks @knn-k

[2018-01-30 14:24] DanHeidinga opened #1053 "[Nest mates] Proposed MethodHandle, VarHandle, java.lang.reflect javadoc/spec changes"
From the Valhalla-spec experts mailing list, here are the proposed changes to the MethodHandle, VarHandle, and java.lang.reflect packages for nest mates:

----------------
I've gone through the API specifications for core reflection, MethodHandles and VarHandles to see what changes are needed to accommodate nestmates and the related invocation rule changes. Turns out there is very little needed an

[2018-01-30 14:27] pdbain-ibm commented on #858
Several issues:
1) Test creates some custom URLClassLoaders, which are unable to load framework classes such as the logger classes.  We fix this by checking the package name in the classloader and using the system classloader for framework classes.

2) Certain tests, particularly test_doPrivileged_createAccessControlContext() run fine when the test
is run standalone by adding a main() method but f

[2018-01-30 15:06] DanHeidinga commented on #1052
@SueChaplain Can you expand "VRMF" for the rest of us?  That's one I don't know.

In the release process document https://github.com/eclipse/openj9/blob/master/doc/processes/release_process.md), we state we'll make a Github release (https://help.github.com/articles/creating-releases/).  We can put the release notes into that item.

By the Eclipse process, they should probably also go into the rele

[2018-01-30 15:33] pdbain-ibm commented on #858
We get a NoClassDefFound on AppNoCreateACCPriv$1, a PrivilegedAction internal class.
In fact, loading any inner class in AppNoCreateACCPriv throws a NCDF exception.
Test also fails with Oracle JDK and Java 8: not a regression.

[2018-01-30 15:34] pshipton commented on #1052
For preparation and discussion, some preliminary release notes follow.

Java 8: expected compliant
Java 9: not compliant
Supported platforms: Linux x, z, p (le)
AIX should be working, but untested
Windows has known issues (including #727), also untested

Known issues (some of which may be fixed by the time 0.8 is released):
#54 - signals are not handled properly, in particular using Ctrl-C or othe

[2018-01-30 15:37] SueChaplain commented on #1052
By VRMF I meant the 0.8.0.0 (?) notation. I recall some discussion recently about what this would be, but the Eclipse release page just says 0.8, which is fine.

I did read the release process doc but didn't see any mention of release documentation. Wherever it lives, we can still link to it from all the places people might expect to find it, including the user documentation.

@DanHeidinga - I ass

[2018-01-30 15:51] pshipton commented on #1052
I was thinking only resolved issues might be tagged with `doc:releaseNote`. Do we want to tag open issues?

[2018-01-30 16:00] DanHeidinga commented on #1052
My thought was some of the open items need to be called out - ie: lack of DDR support.  Tagging them ensures they're looked as part of the release notes.  I'm open to other suggestions though.

[2018-01-30 16:02] DanHeidinga commented on #1052
@SueChaplain That's a good question.  Are the release notes expected to be a long lived document?  If so, then maybe creating an *.md file in the repo makes sense.  My initial thought was that we append comments or edit the description of this issue to build up the list and then copy it into the github release when it's complete.

Which approach do you prefer?

[2018-01-30 16:08] pshipton commented on #931
@pdbain-ibm please close this if you agree its the same issue as #834. I can remove the jdk9 label from #834.

[2018-01-30 16:12] pshipton commented on #773
I'm closing this since there hasn't been any discussion in this Issue. The `enhancement` label exists already https://github.com/eclipse/openj9/issues?q=is%3Aissue+is%3Aopen+label%3Aenhancement.

There are also issues open for ARM #53 #66 #712, and Mac #36

[2018-01-30 16:12] #773 closed

[2018-01-30 16:46] SueChaplain commented on #1052
@DanHeidinga

I guess they need to be reasonably long lived so that users can tie the version of OpenJ9 in their binary to a list of "behavior changes" / "limitations". Here are a couple of examples I initially looked at:

- Express.js: https://expressjs.com/en/changelog/4x.html
- Node.js: https://nodejs.org/en/blog/release/v6.12.3/

Is this the sort of thing you had in mind too or do you see the

[2018-01-30 17:11] SueChaplain commented on #1052
I see. So we could have an  openj9/releasenotes directory that contains a /0.8 subdir and a 0.8.md file.
We could then create 0.8.1.md until we are ready to release a /0.9

We could still create links directly to the gihub.com/eclipse/openj9/<blob>/releasenotes/0.8/0.8.md for the website, user docs and Eclipse project sites.

I know that the Node release notes are automated via tooling that grabs

[2018-01-30 18:41] renfeiw opened #1058 "Use environment variable JAVA_HOME for testing"
Currently we export JAVA_BIN for test execution and we also have JDK_HOME defined in makefiles based on JAVA_BIN. In order to be consistent with system tests, we would like to export JAVA_HOME and construct JAVA_BIN in makefiles.

[2018-01-30 18:44] renfeiw commented on #1058
@smlambert @llxia Do you have any idea on this issue?

[2018-01-30 19:00] pdbain-ibm commented on #931
Looks the same.

[2018-01-30 19:00] #931 closed

[2018-01-30 19:02] llxia commented on #1058
I am up for it. It is confusing for user to provide different JAVA_BIN for SE80 and SE90.

[2018-01-30 19:16] ChengJin01 commented on #1032
I triggered core dumps at liberty startup.  The memory summary of rom classes in DDR are as follows:
[1] the shared cache is disabled.

3406 classes, using: 9745760 bytes or 9517 kB
Section                                 Byte     kB       %
  romHeader                             544960   532.19   5.59
  constantPool                          1151416  1124.43  11.81
  fields

[2018-01-30 19:23] smlambert commented on #1058
Yes, sounds good.

[2018-01-30 20:53] DanHeidinga commented on #1032
The stackmap tables are stored in the shared classes cache.  A ROM Class in the sharedclasses cache needs to have all the necessary information to be loaded, including stackmaps.  Linenumber/debuginfo is stored out of line in the cache.

[2018-01-30 21:41] ChengJin01 commented on #1032
Then the results at [2] confirms that there is basically no footprint issue with the compressed version when the shared cache is enabled. The only thing left is how we deal with the decompressed one during verification (this falls back to the original question if we choose to improve it).

[2018-01-30 22:07] pshipton commented on #1052
Re the question about VRMF, I found this https://www.ibm.com/developerworks/community/blogs/nfrsblog/entry/decoding_ibm_s_release_terminology_v_r_m_f43?lang=en

Since VRMF appears to be IBM specific terminology, I suggest we avoid it.

[2018-01-30 22:34] ChengJin01 commented on #1032
If we choose to store the decompressed version to the shared cache, then there is no need to store the compressed one (which seems to be duplicated operation and unnecessary from verification perspective).
If so, it means we decompress the stackmap table before writing it to the shared cache.

[2018-01-31 01:40] #849 closed

[2018-01-31 02:58] JamesKingdon opened #1062 "Unable to use --add-modules via options.default or IBM_JAVA_OPTIONS"
OpenJ9 accepts --add-modules on the command line and appears to be processing it (I get an appropriate message if I give a non-existent module). But attempting to set --add-modules via options.default or the IBM_JAVA_OPTIONS env var causes the JVM to fail to start up

[code]

[2018-01-31 04:21] pshipton commented on #1062
Only the java launcher understands the options with space as a separator. The VM understands the options using `=` instead of the space. i.e. use `--add-modules=java.xml.bind` (which is also valid on the command line).

[2018-01-31 04:21] #1062 closed

[2018-01-31 04:42] DanHeidinga commented on #1032
@ChengJin01 My understanding, and I'll admit to not having checked the code for this recently, is that OpenJ9 always converts the ClassFile's StackMapTable into an internal format.  The internal format - basically fully expanded frames - is written into the ROMClass.  The compressed version from the classfile is discarded.

Is this description incorrect based on the current code?

[2018-01-31 05:40] ChengJin01 commented on #1032
OpenJ9 always converts the ClassFile's StackMapTable into an internal format. The internal format - basically fully expanded frames - is written into the ROMClass. The compressed version from the classfile is discarded. Is this description incorrect based on the current code?

-------------  No, this is incorrect.
Logically, what happens in our code is:
1) first of all,  it is the compressed versi

[2018-01-31 05:52] DanHeidinga commented on #1032
Good bit of detective work on that.  Thanks for clarifying the current behaviour.

For ROMClasses in the SharedClasses Cache, are the stackmaptables stored inline with the romclass or stored in the separate debuginfo / linenumber area?

If it's the latter, then we already disclaim the memory for that post startup which would mean there's not much further to be done here.

[2018-01-31 06:07] ChengJin01 commented on #1032
I need to double-check the code around there to see which option it chooses from.

[2018-01-31 14:32] JamesKingdon commented on #1062
Ah, thanks Peter, no wonder I was confused. Open Liberty is also passing options via IBM_JAVA_OPTIONS, so we'll need to be aware of this oddity.

[2018-01-31 15:21] pshipton commented on #991
I don't believe this affects the OpenJ9 project.

[2018-01-31 15:21] #991 closed

[2018-01-31 15:24] pshipton commented on #955
I don't believe this affects the OpenJ9 project.

[2018-01-31 15:24] #955 closed

[2018-01-31 15:27] pshipton opened #1064 "JEP 323 Local-Variable Syntax for Lambda Parameters"
https://bugs.openjdk.java.net/browse/JDK-8193259

FYI #958

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 15:33] pshipton commented on #958
I don't believe any changes are required in OpenJ9 to support this JEP. While OpenJ9 jcl code could take advantage of the new syntax in code that only applies to Java 10 or later, it is not necessary or advantageous to do so.

[2018-01-31 15:33] #958 closed

[2018-01-31 15:38] pshipton commented on #1064
I don't believe any changes are required in OpenJ9 to support this JEP. While OpenJ9 jcl code could take advantage of the new syntax in code that only applies to Java 11 or later, it is not necessary or advantageous to do so.

[2018-01-31 15:38] #1064 closed

[2018-01-31 15:48] pshipton opened #1065 "JEP 201 Modular Source Code"
https://bugs.openjdk.java.net/browse/JDK-8051619

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 15:49] pshipton opened #1066 "JEP 200 The Modular JDK"
https://bugs.openjdk.java.net/browse/JDK-8051618

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 15:50] pshipton opened #1067 "JEP 220 Modular Run-Time Images"
https://bugs.openjdk.java.net/browse/JDK-8061971

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 15:51] pshipton opened #1068 "JEP 261 Module System"
https://bugs.openjdk.java.net/browse/JDK-8061972

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 15:52] pshipton opened #1069 "JEP 223 New Version-String Scheme"
https://bugs.openjdk.java.net/browse/JDK-8061493

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 15:52] pshipton opened #1070 "JEP 193 Variable Handles"
https://bugs.openjdk.java.net/browse/JDK-8046183

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 15:53] pshipton opened #1071 "JEP 254 Compact Strings"
https://bugs.openjdk.java.net/browse/JDK-8054307

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 15:55] pshipton opened #1072 "JEP 282 jlink: The Java Linker"
https://bugs.openjdk.java.net/browse/JDK-8131679

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 15:57] pshipton opened #1073 "JEP 274 Enhanced Method Handles"
https://bugs.openjdk.java.net/browse/JDK-8130227

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 15:57] pshipton opened #1074 "JEP 259 Stack-Walking API"
https://bugs.openjdk.java.net/browse/JDK-8043814

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 15:58] pshipton opened #1075 "JEP 264 Platform Logging API and Service"
https://bugs.openjdk.java.net/browse/JDK-8046565

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-01-31 16:14] llxia commented on #934
Close this defect as we updated testkitgen.
Please reopen, if you see the failure still exists.

[2018-01-31 16:14] #934 closed

[2018-01-31 16:20] pdbain-ibm commented on #858
1) NCDF caused by a security exception when TestNG tries to write to the log file.  Updating the policy file.
2) Custom classloaders fail to load classes in the test framework: update them to handle those packages specially.

[2018-01-31 16:33] pdbain-ibm commented on #858
Pull request https://github.com/eclipse/openj9/pull/1076 opened.
Depends on other forthcoming changes before merging.

[2018-01-31 16:45] #368 closed

[2018-01-31 16:54] pshipton commented on #564
@BrijeshNekkare any update on this?

[2018-01-31 17:07] Mesbah-Alam opened #1077 "DirectByteBufferTest fails with NullPointerException on openjdk8_openj9 SDK"
DirectByteBufferTest fails with NullPointerException on openjdk8_openj9 SDKs on, at least, x64 and ppc64le linux platforms. It works fine on hotspot, as well as openjdk9_openj9 SDKs.

**Testcase**
The test creates a array of ByteBuffer of length = 90, and allocates a new bytebuffer of ALLOC_SIZE=10 MBytes in each index of that array (by calling ByteBuffer.allocateDirect(..)) and de-refences immedi

[2018-01-31 17:15] lumpfish commented on #1001
While it may be permissible to return different values for the same mathematical operation on different implementations, a user may simply (and not unreasonably) expect the result of the operation to be the same across all java platforms, and for that result to be that of the reference implementation.  What is not clear to me from the description above is whether it would be possible for openjdk-o

[2018-01-31 17:17] Mesbah-Alam commented on #1077
This is related to the following issue that was originally opened under openjdk-systemtest repo: https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/67

[2018-01-31 17:23] pshipton commented on #1001
I suppose even OpenJDK might return different results on different platforms. Users who want consistent results across all JVMs should use StrictMath instead of Math.

[2018-01-31 18:45] DanHeidinga commented on #1020
@JasonFengJ9 Can you take a look a this?

[2018-01-31 19:23] DanHeidinga commented on #1001
As Peter says, users who want that should be using StrictMath.  Different compilers, OSes, CPUs, etc may result in different values which are still within the allowed bounds of the Math operations.

The test should validate that the result is within `1 ulp` as required by the spec.  Someone (Mark?) pointed out that Math has helper methods to help with this validation.  The test should be using tho

[2018-01-31 19:46] hangshao0 opened #1081 "Assertion failure at cphelp.c:96: ((((void *)0) != clazz->module)"
Reproduce:
1. Create a shared cache using
`java -Xshareclasses:name=Cache1 -version`
2. Running an application using -verbose and module path.
[code]

[2018-01-31 20:07] hangshao0 commented on #1081
The class being loaded is com/ibm/jvm/Trace. This class is found in the shared cache. It belongs to module openj9.jvm.

But I found targetPtr is NULL for package com.ibm.jvm in the following code (ModularityHashTables.c), it is not in the packageHashTable.

[code]

[2018-01-31 22:04] ChengJin01 commented on #1032
[1] The code as to writing to the rom class indicates only the data of line numbers/variables are written to the separate debug info area:

void
ROMClassWriter::writeMethods(Cursor *cursor, Cursor *lineNumberCursor, Cursor *variableInfoCursor, bool markAndCountOnly)
{
....
		bool existingDebugData = _context->romMethodHasDebugData();
		if (writeDebugInfo || existingDebugData) {
			/* writeMethodDe

[2018-02-01 00:42] pshipton commented on #1077
Please fix the test to determine from where the NullPointerException is coming from. The stack trace isn't helpful because its from the fail() line. I don't see how this test can throw NPE.

[2018-02-01 00:47] pshipton commented on #1077
nm, I tried this simple test case

[code]

[2018-02-01 00:54] pshipton commented on #1077
Its throwing NPE because SharedSecrets.getJavaLangRefAccess() returns null. OpenJ9 doesn't setJavaLangRefAccess() for Java 8, only for Java 9.

[2018-02-01 01:02] pshipton commented on #1077
@dmitripivkine fyi

[2018-02-01 14:00] pshipton opened #1084 "JEP 280 Indify String Concatenation"
https://bugs.openjdk.java.net/browse/JDK-8085796

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-02-01 14:01] pshipton opened #1085 "JEP 285 Spin-Wait Hints"
https://bugs.openjdk.java.net/browse/JDK-8147832

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-02-01 14:14] pshipton opened #1086 "StaticAccessChecks-IllegalAccessDeny fails due to java/lang/IllegalAccessError: java.lang.Object"
The failure is seen in the nightly extended test build i.e. https://ci.eclipse.org/openj9/job/Test-Extended-JDK9-linux_ppc-64_cmprssptrs_le/55/console

[code]

[2018-02-01 14:47] pshipton commented on #1086
The problem was introduced by https://github.com/eclipse/openj9/pull/1057

[2018-02-01 15:05] dmitripivkine commented on #1077
@Mesbah-Alam Is it correct this test works in internal build?

[2018-02-01 15:13] dmitripivkine commented on #1077
@DanHeidinga We looked to this problem another day - I believe the reason for failure is differences in Class Library.

[2018-02-01 15:26] pshipton commented on #1077
@dmitripivkine It is correct the test works on IBM builds. OpenJ9 needs to be fixed to implement JavaLangRefAccess.tryHandlePendingReference() to resolve this problem.

[2018-02-01 15:33] pshipton commented on #1077
and we think JavaLangRefAccess.tryHandlePendingReference() is something that needs to be provided by gc.

[2018-02-01 16:02] JasonFengJ9 commented on #1020
Working on it ...

[2018-02-01 16:04] dmitripivkine commented on #1077
@LinHu2016 Would you please take a look? We need an implementation similar then Java 9 for Java 8

[2018-02-01 16:40] JasonFengJ9 commented on #1020
Discussed with @pshipton, the share library suffix are not going to be changed for now before a conclusion is reached about the new suffix via an issue.

[2018-02-01 17:15] ChengJin01 commented on #1032
The ultimate goal is to improve the overall footprint of VM by directly storing the fully-expanded stackmaps to the shared cache (the benefit of optimizing the algorithm was already explained in the description/discussion above).

To achieve this goal, there are a couple of things to be addressed:
1) Move the decompression of stackmaps to the stage of writing ROM classes
2) Move the stackmap creat

[2018-02-01 18:34] #450 closed

[2018-02-01 18:56] pdbain-ibm commented on #995
Per Dan's request, I'll look at this.

[2018-02-01 19:49] pdbain-ibm commented on #995
The tests are already running in Java 8 and 9.  Both are passing:
PASSED: test_classloaders
PASSED: test_latestUserDefinedLoader

===============================================
    JCL_TEST_Test-Annotation-ClassLoader
    Tests run: 2, Failures: 0, Skips: 0
===============================================

There is an exclusion in TestConfig/resources/excludes/latest_exclude_SE90.txt, but it doesn

[2018-02-01 20:27] hangshao0 commented on #1081
I have added -Xtrace:print={module.2-3}.
[code]
I don't see module openj9.jvm is defined or package com/ibm/jvm is added. It is the same with or without "-Xshareclasses" option. I guess module openj9.jvm is not resolved in this case.

[2018-02-01 21:38] JasonFengJ9 commented on #1081
`openj9.jvm` is loaded as a boot module. It is loaded when running -version:
[code]

[2018-02-01 21:40] JasonFengJ9 commented on #1081
@hangshao0 can you find out what class was being loaded and where it comes from (share cache?) when the ASSERTION occurred?

[2018-02-01 21:52] hangshao0 commented on #1081
Looking at the code here:
https://github.ibm.com/runtimes/openj9-openjdk-jdk9/blob/e27ea6d6dea45cd20c9e655801ee87ce508b250b/jdk/src/java.base/share/classes/jdk/internal/module/ModuleBootstrap.java#L226-L264

If running with -version, all system modules will be resolved. If running with -m where there is a main module, not all system modules will be necessarily resolved.

I have added some printf i

[2018-02-01 22:41] #1015 closed

[2018-02-01 23:10] pshipton opened #1096 "Format of the version for Eclipse OpenJ9"
Eclipse OpenJ9 is soon to create a 0.8 release. It makes sense to expose this version from Java at runtime. The appropriate place is the java.vm.version system property (which is currently 2.9 as inherited from IBM).

The current proposal is to set java.vm.version to the tag used for the build, which for the next OpenJ9 release will be openj9-0.8 or openj9-0.8.0. This Issue is for discussion.

The

[2018-02-01 23:33] #938 closed

[2018-02-02 07:07] stmaute opened #1097 "Broken docu links in IBM Knowledge Center"
Following link is broken: [Running Java applications](https://www.ibm.com/support/knowledgecenter/SSYKE2_9.0.0/com.ibm.java.90.doc/user/running_applications.html)
Also the other links won't work.

Hopefully you can fix this!

[2018-02-02 09:08] DanHeidinga commented on #1097
@SueChaplain Can you take a look at this?

[2018-02-02 13:10] AdamBrousseau commented on #1096
+1 for replacing `2.9` with `0.8.0`.
What about the `BUILDDATE_BUILDID`? I suggest we at least drop the build id or somehow incorporate the git tag name.

[2018-02-02 14:12] #1012 closed

[2018-02-02 17:44] Mesbah-Alam commented on #1001
Yes, using Math.nextUp(double d) in the example code above makes the example code pass (e.g. `rc_String = Double.toString(Math.nextUp(Math.exp(-1.2232D)));`).

But this may not be a reliable test. Since the value obtained from Oracle can also be within `1 ulp` of the exact. Hence, if we calculate `1 ulp` for the IBM result based on Oracle's result (which is taken as the 'reference' value in this t

[2018-02-02 19:02] pshipton commented on #1017
Are you saying we get 50 builds per job? i.e. 50 for Java 9 pLinux, 50 for Java 9 zLinux, etc.

[2018-02-02 19:03] pshipton commented on #1017
I'd say make the change, and then we can adjust later as necessary.

[2018-02-02 20:01] Mesbah-Alam commented on #1001
Here's the changeset where I updated the validation to :
assertTrue("exp(double)[9] ::", (Math.nextDown(Math.exp(2.43223D)) <= 11.3842406513381) || Math.nextUp(Math.exp(2.43223D)) >= 11.3842406513381);
(i.e., if nextDown(o) <= x <= nextUP(o) )

- And it of course makes the test "pass". However, it is not necessarily the correct validation logic, as indicated by Robert's comment above.

https://git

[2018-02-02 22:43] ChengJin01 commented on #1032
The first thing to figure out is whether the structure called J9BytecodeVerificationData can be shared at the stage of writing ROM classes and the runtime verification as it seems there a few fields of J9BytecodeVerificationData need to be correctly filled up (e.g. classNameList) when writing the ROM class (the types involved must be correctly decoded via classNameList later on during verification

[2018-02-02 23:12] fjeremic commented on #1032
@ChengJin01 just a quick note that wrapping your code or output in triple backticks ``` will format them in monospaced font. For example

[code]

Looks a lot more readable than

U_32*
stackMapFromROMMethod(J9ROMMethod romMethod)
{
// skip over the debug information if it exists
if (J9ROMMETHOD_HAS_DEBUG_INFO(romMethod)) {
U_32 debugInfoSize = (U_32)debugInfo;
if (1 == (debugInfoSize & 1)) {
// low

[2018-02-03 03:19] ChengJin01 commented on #1032
@fjeremic , many thanks for reminder about the formatting. Already updated as suggested.

[2018-02-04 13:29] DanHeidinga commented on #1032
Sorry, this stems from a misunderstanding on my part.  I thought the code already stored the fully-expanded stackmaps in the ROMClass.  We definitely want to store the *compressed* stackmaps in the ROMClass as the footprint cost here is more important.

So to restate the goals:
1) Keep the compressed stackmaps in the ROMClass (already done)
2) For the SharedClasses cache, move the stackmaps to a s

[2018-02-04 16:57] #662 closed

[2018-02-04 17:00] AdamBrousseau commented on #1017
Thought about it a bit more. Makes more sense to me to do something like this
- Days to keep builds:
- Max # of builds to keep: 50
- Days to keep artifacts: 60
- Max # of builds to keep with artifacts:

Modified all build configs.

[2018-02-04 17:14] #636 closed

[2018-02-05 02:24] BrijeshNekkare commented on #564
@pshipton,
Sorry about the delay, i wasn't able to reproduce this issue on ubuntu 16.04, so closing this issue.

[2018-02-05 02:24] #564 closed

[2018-02-05 04:43] ChengJin01 commented on #1032
@DanHeidinga ,  many thanks for clarifying the reason for the compressed stackmap stored in the ROMClass which I was confused previously.

---  I am thinking whether it is possible to introduce a flag (verified(true)/unverified(false)) in ROMMethod to determine whenever the stackmap should be disclaimed after verification.

@pshipton,  I am wondering when it gets started to disclaim such cache fro

[2018-02-05 06:35] DanHeidinga commented on #1032
Startup phase is a phase the JIT recognizes which is characterized by loading a lot of classes.  These classes are typically loaded and initialized in relatively short order so putting the stackmaptables for classes in the sharedclasses cache in a separate disclaimed area makes sense.  They'll be used to verify the class (we do methods in the class at once) and then can be ignored unless we need t

[2018-02-05 12:58] SueChaplain commented on #1097
@stmaute Hi Stefan. Thanks for reporting this issue.

The user guide links on that welcome page are now fixed.

There are a couple of links under "More information" that still don't resolve. I think those pages might have been moved, so I'm investigating. However, hopefully you were after the user guide links.

[2018-02-05 13:17] stmaute commented on #1097
@SueChaplain Thx!

[2018-02-05 16:14] fjeremic opened #1102 "Testing needed for getStringUTFChars isCopy argument"
While working on https://github.com/eclipse/openj9/pull/1047 due to a great an thorough review by @JasonFengJ9 there was a bug identified in the implementation where I accidentally removed the setting of the `isCopy` parameter in `getStringUTFChars`:

https://github.com/eclipse/openj9/blob/aba80293cae72171a0e4b861ee6c0b1e963d7d10/runtime/vm/jnimisc.cpp#L781-L804

I had accidentally deleted lines 7

[2018-02-05 16:39] fjeremic opened #1104 "Why are some of the string APIs `J9UTF8*` based and others `U_8*` and `UDATA` based?"
As part of the following review comment https://github.com/eclipse/openj9/pull/1047#discussion_r165158418 it appears some of the APIs related to strings in the VM are designed around `J9UTF8*` and others around `U_8*` and `UDATA` pairs to represent string characters and length.

Why is there such a difference? It seems having both of these APIs makes things harder as you are foced to copy or alloc

[2018-02-05 17:14] mpirvu opened #1105 "AOT processor feature validation is too strict"
When using AOT code loaded from the shared class cache the JIT compiler must make sure that the processor is currently running on is compatible in terms of features with the processor used at the time the AOT code was generated. For instance, if the AOT code exploits features like SSE4 or Hardware Lock Elision we cannot allow the code to run on processors that do not have these features.

To guara

[2018-02-05 19:37] pshipton commented on #1096
The current proposal as found in https://github.com/eclipse/openj9/pull/1095 :

When not a release:
java.vm.version = $(OPENJ9_BRANCH)-$(OPENJ9_SHA) // i.e. master-1234567

For a release:
java.vm.version = $(OPENJ9_TAG) // i.e. openj9-0.8.0

[2018-02-05 20:14] AdamBrousseau commented on #972
The existing OMR Acceptance build tests JDK9 sanity, when I add the pipeline code for this do we want 8 or 9 or both? @pshipton @DanHeidinga

[2018-02-05 20:40] mpirvu commented on #967
I tried to reproduce this issue on my Thinkpad using the most recent OpenJDK9+OpenJ9 build available from AdoptOpenJDK but everything runs ok for me:
[code]
As Peter Shipton hinted above, this could be related to GC trying to allocate the Java heap at a specified address, failing and then repeatedly trying with larger addresses in 4K increments.
In  #270 I have used `-Xtrace:print="omrport.499-509

[2018-02-05 21:22] mikezhang1234567890 commented on #303
I'll take a look at this if no one else minds.

[2018-02-05 21:30] keithc-ca commented on #967
Thanks. I'll give it another spin. I haven't noticed any changes in OMR or OpenJ9 that might explain that better behavior. Maybe Microsoft fixed WSL?

[2018-02-05 21:55] harryyu1994 commented on #1105
@mpirvu Hi Marius, I'm wondering where in the code the AOTHeader(specifically its feature flag) gets stored in the shared class cache. Also, how is the currently feature flag created? Does it contain features that it's not using? We should have such a feature flag that it only contains features that it has exploited.

[2018-02-05 22:01] harryyu1994 commented on #1105
@mpirvu Hi Marius, I'm wondering where in the code or how the AOT header's feature flag stored to shared class cache is generated. Does that feature flag only contain features that's needed? We should make it only contain needed features as the minimum requirement to the current processor.

[2018-02-05 23:08] mpirvu commented on #1105
@harryyu1994
The AOTHeader is stored when the first AOT compilation happens, in `compilationEnd()`.
[code]
`storeAOTHeader()` creates the header with
[code]
The header is validated in
[code]
The header stores all the features of the processor used to created the AOT body. Let's say that a new processor has introduced feature X, but the JIT does not generate any code that exploits that feature. In

[2018-02-05 23:30] pshipton opened #1110 "testSoftMxRemote configuration failure JDK8"
The JDK8 extended tests have been failing since Jan 17. I suspect its caused by #793 un-excluding the test. @smlambert fyi

https://ci.eclipse.org/openj9/job/Test-Extended-JDK8-linux_390-64_cmprssptrs/
https://ci.eclipse.org/openj9/job/Test-Extended-JDK8-linux_ppc-64_cmprssptrs_le/

[code]

[2018-02-05 23:55] ChengJin01 commented on #1032
Talked to Pete, it turns out there are two options to choose from: 1) place the stackmaps along with the metatda 2) create a new area after the debug info data.  Need to check the code involved to understand how they works.

[2018-02-06 00:11] DanHeidinga opened #1111 "Test the release process"
Create a new branch `test-openj9-0.8` and tag the content with the `test-openj9-0.8RC1` tag.  Use this to test the release process from https://github.com/eclipse/openj9/blob/master/doc/processes/release_process.md

[2018-02-06 00:16] DanHeidinga commented on #1032
@pshipton Which of the two options do you propose?  Is one a better choice than the other?

[2018-02-06 01:02] pshipton opened #1112 "Test failure not reported"
Extended testing is failing due to #1110, however I don't see anything in the final report that indicates what failed.

For example https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK8-linux_390-64_cmprssptrs-OpenJ9/3/consoleFull

[code]

[2018-02-06 01:16] smlambert commented on #1112
The test fails in its setup method and therefore the test is failing as a "configuration failure".  No test methods are actually run (they are skipped), which is why they are not showing up in the final results summary.

We need to include "configuration failures" in the results summary.

[2018-02-06 01:29] pshipton commented on #1032
I suggested adding the stackmaps as metadata. I don't see any advantage to creating a new area. We used a separate area for debug data because its not normally used, it can stay on disk until needed. The cache already disclaims an area of the metadata after startup to remove the aot, it should work the same for stackmaps.

[2018-02-06 01:38] keithc61 commented on #967
I downloaded the same version from adopt.  Notice that most of the 26 seconds is *before* the first tracepoint: the time must be spent elsewhere.
[code]
An instance built on WSL has similar behavior.
[code]

[2018-02-06 02:21] pshipton commented on #1104
J9UTFs originate from string data stored in the constant pool. They have a limitation of U_16 for the length, since that is the maximum allowed by the java spec, and it keeps the footprint down. I suppose both sets of APIs grew organically over time as they were needed. U_8* and UDATA is more generic so it makes sense to use this for APIs, although it needs an extra parameter for each string.

[2018-02-06 02:29] pshipton commented on #1104
In cases like findModuleForPackageUTF8, the J9UTF8 is stored into a J9HashTable, which would point to the J9UTF8 in the constant pool.

[2018-02-06 02:39] fjeremic commented on #1104
Thanks for the explanation. What purpose does `findModuleForPackage` serve then?

[2018-02-06 02:49] pshipton commented on #1104
Its a helper for when you have string data that doesn't originate (directly) from the constant pool and there isn't a UTF8 available. A UTF8 needs to be temporarily created to do a lookup in the J9HashTable.

[2018-02-06 02:49] AdamBrousseau opened #1114 "Archive test step fails intermittently when run in parallel with testing"
During the PR builds, once the compile is complete, we archive the SDK in parallel with the testing. Sometimes, the SDK fails to archive ([eg](https://ci.eclipse.org/openj9/blue/organizations/jenkins/PullRequest-Sanity-JDK9-linux_ppc-64_cmprssptrs_le-OpenJ9/detail/PullRequest-Sanity-JDK9-linux_ppc-64_cmprssptrs_le-OpenJ9/22/pipeline)). We shouldn't fail a PR build if this step fails (currently), h

[2018-02-06 02:53] pshipton commented on #1104
For example, the following starts with a J9UTF8 containing a class name, but it needs a J9UTF8 containing only the package part of the name.

[code]

[2018-02-06 03:02] pshipton commented on #1114
Ideally we should fix the underlying cause so the archive doesn't fail. Do you know why the archive fails? Disk space, job timeout, machine overloaded? If its out of disk space then would retrying help?

[2018-02-06 03:10] pshipton commented on #972
+1 for both, as we don't want omr updates to break either one.

[2018-02-06 03:27] #1110 closed

[2018-02-06 03:38] AdamBrousseau commented on #1114
Failed during tar of the test directory. Probably shouldn't be taring a directory while test stuff is being written to it. Before the pipelines were committed, we only archived the sdk in a PR. Now that the code is shared, we archive the test material in a PR unnecessarily. I can think of three options off the top of my head
1. Break this out into 2 separate archive steps
1. Wrap the test archive

[2018-02-06 07:17] DanHeidinga commented on #972
Will the 8 & 9 builds be run in parallel or serially?  If parallel, I concur with Peter (assuming we have sufficient machines to keep build times to a reasonable length of time)

[2018-02-06 12:24] SueChaplain commented on #845
@vsebe Hi - still trying to find time to finish this testing and nearly made it today. The instructions seem to work fine, although I struggled a bit trying to start the VSstudio command prompt (eventually got there with a cygstart -o command, which might be worth documenting). I made it all the way through to the final `make`, but that ends with a build error:
`.....\vm\windbg\wdbgext.h(52) : fat

[2018-02-06 12:50] philippgille opened #1115 "Add a description on the Docker Hub page"
The Docker Hub page of your public Docker image looks like it got zero attention, which make it seem like you guys don't care about people who want to run their application on OpenJ9 in a Docker container.

As this number increases with the popularity of Docker, you might want to improve the Docker Hub page.

According to #38 it's https://hub.docker.com/r/adoptopenjdk/openjdk8-openj9/ and this is

[2018-02-06 13:13] pshipton commented on #845
I also think we should wait on https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/116 and ensure the build still works once this change (and the equivalent change for Java 8) is delivered. It requires mingw to be installed, which should come with cygwin.

[2018-02-06 13:17] pshipton commented on #1115
@dinogun fyi. Is this issue better opened at AdoptOpenJDK?

[2018-02-06 14:28] 0xdaryl opened #1116 "Purge deprecated `MTUnresolved` code from compiler"
The `MTUnresolvedXXX` code is deprecated and the helpers should be purged from each code generator and runtime.

Once this work is complete the corresponding code should be removed from the OMR project via eclipse/omr#1402.

The relevant helpers are:

[code]

[2018-02-06 14:44] 0xdaryl opened #1117 "Remove J9_PROJECT_SPECIFIC guards from compiler"
Remove the `J9_PROJECT_SPECIFIC` guards around code in OpenJ9 as they are not necessary.

14 uses found:

[code]

[2018-02-06 14:59] pdbain-ibm commented on #995
Further to above comment: there are actually TWO "Test_ClassLoader" test classes: one in the org.openj9.test.java.lang package and the second in org.openj9.test.annotationClassLoader.
The latter is running and passing.  The former exists in the OpenJ9 repository but the testng and playlist files are in an internal repo.

Since the test implementation is already open source, I am moving the playlis

[2018-02-06 15:12] fjeremic commented on #1104
Thanks for answers @pshipton! Closing this issue as my questions have been addressed.

[2018-02-06 15:12] #1104 closed

[2018-02-06 15:35] pdbain-ibm commented on #995
The IBM_Internal copy of the test fails, but the open-source version works fine.
I will remove the IBM_Internal copy first, then enable the OpenJ9 version.

[2018-02-06 15:42] AdamBrousseau commented on #972
Parallel

[2018-02-06 16:38] vsebe commented on #845
@SueChaplain there is a shortcut available for the VS 2010 Command Prompt: Start -> Microsoft Visual Studio 10  -> Visual Studio Command Prompt 2010.

[2018-02-06 16:44] SueChaplain commented on #845
@pshipton - agreed

@vsebe - I'm still having some trouble getting Cygwin to find the debugging tools. If I set INCLUDE and LIB via a cmd.exe (as per your earlier comment) it does not persist into the Cygwin environment (or any other cmd.exe). So, instead I set it in the control panel, where it does appear in `env` when you start a new Cygwin window. However, the paths are the Windows format c:\..

[2018-02-06 17:50] SueChaplain commented on #1097
The remaining external links that weren't working properly to some ibm.com sites are now working. Closing this issue.

[2018-02-06 17:50] #1097 closed

[2018-02-06 17:51] SueChaplain commented on #319
File removed, closing this issue.

[2018-02-06 17:51] #319 closed

[2018-02-06 18:38] #1077 closed

[2018-02-06 18:44] pshipton commented on #995
Do they run the same tests?

[2018-02-06 19:10] pdbain-ibm commented on #577
Per discussion with pshipton, will investigate

[2018-02-06 22:27] vsebe commented on #845
@SueChaplain the INCLUDE and LIB have to use windows paths not cygwin when using cygwin bash:

export INCLUDE ="C:\Program Files\Debugging Tools for Windows (x64)\sdk\inc"
export LIB="C:\Program Files\Debugging Tools for Windows (x64)\sdk\lib"

They also can be set as [system environment variables](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682653(v=vs.85).aspx) : go to Start -> Co

[2018-02-06 22:43] harryyu1994 commented on #1105
Hi Marius @mpirvu, just a question: for a feature that is supported on a certain processor, what might be the reasons that JIT did not exploit it? Would the only reason be that the feature was not specified by the cmdLineOptions? It would make this much easier if that’s the case.

[2018-02-06 23:05] harryyu1994 commented on #1105
To clarify another thing:

Let’s say we have 2 processors A and B:

A was used to generate AOT. A has feature 1, 2 and 3.
So there is a chance that A exploited feature 1 and feature 2 but not feature 3 when generating AOT.
Currently, in AOT header, we still stores the AOTHeader featureFlag with feature 1,2 and 3 enabled instead of just feature 1 and 2 right?

Now B wants to use the AOT generated b

[2018-02-07 10:12] SueChaplain commented on #845
Yeah I did all of that @vsebe except rebooting the machine. I'll give that a go :-)

[2018-02-07 12:33] pshipton commented on #845
Not sure the reboot is necessary, opening a new Visual Studio Command Prompt should be sufficient. You could verify the variables are set as expected in the new environment.

[2018-02-07 15:08] mpirvu commented on #1105
We not exploit a feature because we didn't have time to implement an exploit or because we din't find any advantage from it.

[2018-02-07 15:20] mpirvu commented on #1105
To answer your other question:
Yes, it's quite possible that when running on processor A with features 1,2,3 the AOT code exploits only 1 and 2.
Yes, in the AOT header we store features 1,2,3 (i.e. all features of the processor, not just those that we exploit).
If processor B has features 1,2,3,4,5, then that's a superset of features in processor A so we should allow the AOT code (currently we don

[2018-02-07 15:43] SueChaplain commented on #845
Yes I did. If you set them via the control panel, open a new cygwin terminal and type `env`, they are there but the `make` fails to find wdbgexts.h (error above). So I tried to set them up in cygwin in the format it prefers for PATH etc, but no joy. I've no time to pursue this today but maybe we should wait until the mingw work is complete.

[2018-02-07 15:52] JamesKingdon opened #1121 "getARMLinuxProcessor needs updating to tolerate more formats"
portLib_getARMLinuxProcessor() in ProcessorDetection.cpp parses /proc/cpuinfo to determine the processor type. In the event that it can't determine the type from the cpuinfo it returns TR_DefaultARMProcessor. Unfortunately the format of /proc/cpuinfo isn't particularly uniform, and in particular the parser does not recognize the content of any 64bit distrobutions that I have used.

In order to tol

[2018-02-07 16:20] pdbain-ibm commented on #845
mingw is in progress: waiting for https://github.com/eclipse/openj9/pull/1099 to be merged, then another (dependent) pair of pull requests.

[2018-02-07 17:07] dinogun commented on #1115
@philippgille Thanks for reporting this. I have opened an issue at AdoptOpenJDK [here](https://github.com/AdoptOpenJDK/openjdk-docker/issues/13). Some of the info is available at this [blog](https://blog.adoptopenjdk.net/2017/12/adopt-openjdk-docker-images-now-available) and on the [ibmjava](https://hub.docker.com/r/library/ibmjava/) dockerhub page.

[2018-02-07 19:39] pdbain-ibm commented on #577
The code is implemented and manually tested.

Working on the testcase, but the test repository will likely need some rework.  Discussing this
with @llxia and @smlambert.

[2018-02-07 19:47] pdbain-ibm commented on #529
Picking this up again.  The entire socket code is still required for Harmony in the proprietary builds
but only a subset is required for OpenJ9.
Two approaches to removing the socket code:
1) split the socket library and move the functions needed by Harmony to an internal repo.
2) ifdef out the functions required by Harmony.

@DanHeidinga FYI.

[2018-02-07 20:22] pdbain-ibm opened #1123 "Remove unnecessary socket functions from OpenJ9 builds"
This is a subtask of https://github.com/eclipse/openj9/issues/529.

A quick scan of the shows the following are used in the VM and will need to be kept:

- j9sock_close
- j9sock_connect
- j9sock_free_network_interface_struct
- j9sock_freeaddrinfo
- j9sock_get_network_interfaces
- j9sock_getaddrinfo
- j9sock_getaddrinfo_address
- j9sock_getaddrinfo_create_hints
- j9sock_getaddrinfo_family
- j9sock_

[2018-02-07 21:16] jdmpapin opened #1124 "Limiting each object monitor to a single reservation"
I'm looking at a workload in which lock reservation on `StringBuffer` objects causes a significant slowdown, because a relatively small number of them move repeatedly from thread to thread, causing repeated cancellations. I'd like to deal with this by preventing reservation of an object's monitor after it has been cancelled for the first time.

Currently, a reserving monitor entry will happily res

[2018-02-07 21:17] DanHeidinga commented on #1115
Closing this as the issue is tracked at Adopt now.

[2018-02-07 21:17] #1115 closed

[2018-02-07 21:26] jdmpapin commented on #1124
It looks like `OBJECT_HEADER_LOCK_RESERVED` is a good choice for the reservable bit pattern. Fast attempts to lock without blocking by running a compare-and-swap against 0 will fail on reservable locks, but they already fail on *reserved* locks, and when they fail the caller attempts `objectMonitorEnterNonBlocking()`. This latter function can be adjusted pretty easily to accept reservable locks ne

[2018-02-07 22:24] tianxiaogu opened #1126 "OpenJ9/JIT: no responses on a trivial program"
JIT seems to do crazy optimizations on the following trivial program.
The problem can be reproduced on the nightly build.

`java Test`: no response
`java -Xint Test`: StackOverflowError

<https://github.com/AdoptOpenJDK/openjdk9-openj9-nightly/releases/download/jdk-9%2B181-20180702/OpenJDK9-OPENJ9_x64_Linux_20180702.tar.gz>

[code]

[2018-02-07 22:39] pshipton commented on #1123
I think this list can be reduced. Besides testing, there may be other unused code which can be removed to reduce this list, such as exelib/common/rconsole.c

Ignoring rconsole and tests/port code, what is the list?

[2018-02-07 22:54] ymanton commented on #1126
Why is it a problem? The JIT is allowed to and does tail recursion elimination.

[2018-02-07 22:58] fjeremic commented on #1126
@tianxiaogu I did a quick test to limit down the JIT optimizations on your test. The reason there is no response when JIT is enabled is because of a tail recursion optionzation that is performed. You can reproduce the issue with the following command-line:

[code]

Taking a look at the trace file generated on `optimization id=14` we can see the following transformation performed:

[code]

This is

[2018-02-07 23:06] tianxiaogu commented on #1126
Thank you all for pointing out my problem. I really appreciate your explanations.

I reported this issue because the HotSpot VM throws a StackOverflowException instead. Since the behavior depends on the implementation, it is not a problem. Please help me to close the issue. Thanks.

[2018-02-07 23:09] #1126 closed

[2018-02-08 01:01] vijaysun-omr commented on #1124
@zl-wang FYI

[2018-02-08 02:13] fjeremic commented on #1124
Shouldn't stack-allocated objects be disallowed to reserve any locks? I mean the thread which owns the stack is implicitly reserving the object anyway since it is constructed on it's stack.

Why does this only have to apply to objects of certain classes (i.e. `StringBuffer`)? Shouldn't this work in a more general way on other object types as well? How often do we envision arbitrary objects being a

[2018-02-08 04:42] smlambert opened #1127 "jdk_io test error"
Test results from the openjdk regression test group run against the nightly openjdk8-openj9 build at AdoptOpenJDK:  Test results: passed: 323; error: 1

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/183/testReport/junit/java_io_Serializable_clearHandleTable_ClearHandleTable/java/ClearHandleTable/

Error in java/io/Serializable/clearHandleTable with Agent communication err

[2018-02-08 05:08] smlambert opened #1128 "jdk_lang test failures"
Test results from the openjdk regression test group run against the nightly openjdk8-openj9 build at AdoptOpenJDK:  Test results: passed: 428; failed: 34

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/183/testReport/junit/
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/lastSuccessfulBuild/artifact/jvmtest/openjdk_regression/work/java/lang/

java/l

[2018-02-08 05:13] smlambert opened #1129 "jdk_net test failure"
Test results from the openjdk regression test group run against the nightly openjdk8-openj9 build at AdoptOpenJDK:  Test results: passed: 417; failed: 1

java/net/URLPermission/URLTest.java - Execution failed: `main' threw exception: javax.net.ssl.SSLException: java.lang.NullPointerException

https://ci.adoptopenjdk.net//view/work%20in%20progress/job/test_personal/183//testReport/junit/java_net_UR

[2018-02-08 05:19] smlambert opened #1130 "jdk_nio test failures"
Test results from the openjdk regression test group run against the nightly openjdk8-openj9 build at AdoptOpenJDK:  Test results: passed: 328; failed: 12

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/183/testReport/junit/

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/lastSuccessfulBuild/artifact/jvmtest/openjdk_regression/work/java/nio/

java/n

[2018-02-08 05:26] smlambert opened #1131 "jdk_util test failures"
Test results from the openjdk regression test group run against the nightly openjdk8-openj9 build at AdoptOpenJDK:  Test results: passed: 603; failed: 6; error: 4

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/183/testReport/junit/
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/lastSuccessfulBuild/artifact/jvmtest/openjdk_regression/work/java/util

[2018-02-08 07:17] DanHeidinga commented on #1124
This is an interesting hypothesis - that reservation is only useful until it's first cancelled.  This implies that locking follows a pattern like: A, A, A, ..., A, B, A, B
Lots of the same thread locking until the second thread locks and afterwards there should be no affinity.

Another possible locking pattern is phases:  A, A, ..., A, B, B, B, ..., B, C,...,C
Where an object moves from thread to

[2018-02-08 12:48] andrew-m-leonard opened #1132 "java -Xinternalversion output needs Extensions for OpenJDK version"
java -Xinternalversion needs to output the Extensions for OpenJDK version, eg:
java -Xinternalversion:
Eclipse OpenJ9 OpenJDK 64-bit Server VM (1.8.0_152-b16) from linux-amd64 JRE (1.8.0_152-b16) with Extensions for OpenJDK for Eclipse OpenJ9 8.0.0.1, built on Feb 8 2018 10:12:41 by admin with g++-4.8 (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4

[2018-02-08 14:07] 0xdaryl opened #1134 "Fixup FLUSH_MEMORY compiler macros"
An OMR issue (eclipse/omr#1403) has been created to migrate the FLUSH_MEMORY macros to a more sensible location and/or representation.

This issue tracks the changes necessary to OpenJ9 to use the relocated macro or function.

[2018-02-08 14:10] pdbain-ibm commented on #1123
I already removed the port tests and references from header files.

Taking out rconsole, we're left with:

- 9sock_free_network_interface_struct
- j9sock_freeaddrinfo
- j9sock_get_network_interfaces
- j9sock_getaddrinfo
- j9sock_getaddrinfo_address
- j9sock_getaddrinfo_create_hints
- j9sock_getaddrinfo_family
- j9sock_getaddrinfo_length
- j9sock_gethostname
- j9sock_htonl
- j9sock_inetntoa
- j9soc

[2018-02-08 14:34] #1086 closed

[2018-02-08 14:46] JamesKingdon commented on #685
I have a patch in my forks which avoids the crash by using memcpy to set the data. This sounds bad, but I think the calls get inlined and we end up with near optimal code. I'm experimenting with inlined assembly to see if how that would look and if there's any benefit to be had.

[2018-02-08 14:56] taliamccormick opened #1135 "Merging Panama & Valhalla test projects"
Project Panama and Project Valhalla are both ongoing projects to develop future Java features. Project Panama's goal is to develop a bridge between Java and non-Java libraries (eg. C, C++). Project Valhalla proposes new language features for Java 10 onward.

Both projects are for future features. As their contents become relevant to the current Java version, tests will likely need to be moved from

[2018-02-08 14:59] taliamccormick commented on #1135
I plan to merge the Panama test project and the Valhalla test project into a single joint 'FutureJEP' project. Doing so will create a new 'FutureJEP' test subset.

Tagging @smlambert & @llxia  for any necessary design discussion. In particular, I would like to keep 'FutureJEP', 'Valhalla', and 'Panama' subsets so that they can easily be run separately. However, I am aware that it is better to avoi

[2018-02-08 15:03] pshipton commented on #1123
I don't think rconsole is used for anything, although it is still called from some test code. I don't find any references to "tofile:" or "-io". I'd disable the rconsole code that does redirection to a socket in order to reduce the socket apis in the port library.

[2018-02-08 15:08] pshipton commented on #1123
For the longer term, we can ensure the remaining socket APIs are not using any deprecated calls, and see about contributing them to OMR, although they would have to work on all OMR supported platforms. It should be easier to contribute the reduced set, and the set of supported apis could be extended in the future if there is any demand for this.

[2018-02-08 15:29] pdbain-ibm commented on #1128
Taking a look at this...

[2018-02-08 15:37] zl-wang commented on #1124
Interesting idea ... however, it looks like catching the "cold" corner case that String(Buffer) is built by multiple threads (we presumed this should never happen .. the original motivation to lockReserve StringBuffer).  And, it could miss the other cases mentioned by Dan.  e.g.  A, B, B, B, B .... B    I can imagine the object is constructed by thread A, and consumed/used later mostly by thread B

[2018-02-08 17:28] jdmpapin commented on #1124
Objects can be optimistically stack-allocated even if they might escape. If control reaches an escape point, the object is moved to the heap. In this case monitor operations can't be eliminated because we don't know for certain that the object is on the stack.

I think we might also be able to pass stack-allocated objects to methods known not to allow them to escape, although there can't be very m

[2018-02-08 17:44] llxia commented on #1135
Yes, we would like to maintain minimal subsets.
If we still need to run Panama and Valhalla test separately, does it make sense to keep them separate? In this way, we can run the test based on directory.

`cd path/to/directory; make -f autoGen.mk _sanity`

[2018-02-08 18:07] smlambert commented on #1135
Is there a reason why futureJEP tests are not simply going into Java10 / Java11  etc subsets, since it is known which Java version they are targeted to?

I know we initially split them as there was a need to build Panama and Valhalla with different compiler options, but is that still the case?

[2018-02-08 18:51] andrewcraik commented on #1124
+1

Lots of the same thread locking until the second thread locks and afterwards there should be no affinity.
Another possible locking pattern is phases: A, A, ..., A, B, B, B, ..., B, C,...,C
Where an object moves from thread to thread but "stays" with the thread for some period.

While the pattern described by @zl-wang could still benefit from reservation the major problem that this issue is try

[2018-02-08 19:25] zl-wang commented on #1124
my concern is:  it fixed one situation and regressed another.  notice that ABBBBBBB...  pattern is caught by existing code.  see if we can come up with a more versatile solution.

[2018-02-08 19:31] fjeremic opened #1138 "Support "jenkins test all" as a synonym for "jenkins test sanity" and "jenkins test extended""
Looking at [1] we seem to support launching:

It would be wonderful if we could also support "Compile & Sanity & Extended" via "jenkins test all", or any other flavor of testing such as "functional" which I'm told exists. Our guideline at the moment is to launch both sanity and extended testing for every PR pending ample machine resources. This would simplify launching such builds via a single com

[2018-02-08 19:32] fjeremic commented on #1138
@AdamBrousseau FYI, is this something within the realm of possibilities?