[2020-08-13 14:47] AlenBadel commented on #8671
Thanks for catching that Gita!

We need a tri-state solution. The three cases are as follows:

- (Default) Object heap will attempt to use pageable 1M large pages, but will fall back to  1M fixed, and below if pages are not configured. We tie this behaviour to PREFER_PAGEABLE.
- User may only want Pageable Large Pages.
- User may only want Fixed Large Pages.

Now that I look at it, this raises ano

[2020-08-13 15:05] AdamBrousseau commented on #10384
cc @llxia
I see the parent knows that a child was unstable, but the parent does not set itself UNSTABLE. This _was_ working so I'm not sure if there was a change made recently to this part of the pipeline.
[code]

[2020-08-13 15:06] VermaSh commented on #9331
I worked with @r30shah yesterday to verify that the opt was indeed the one that's causing the failures and the failures do seem to be triggered only when the opt is enabled. We ran into some issues with gbd yesterday where it kept throwing segmentation fault(not related to the primetest failures). Got those fixed today and looking at the instructions in gdb right now. So far what I have found is t

[2020-08-13 15:41] ChengJin01 commented on #10356
@iczero,  is there any a simple test code for us (or similar to the code in Minecraft) the  to confirm your findings as compared to Hotspot?

Based on JVM Spec,  `<clinit>` is called whenever a static field or method is accessed, or when an instance is created, in which we follow the JVM Spec to trigger `<clinit>`.  So we'd like to have a simple test to see what really happened to our code.

[2020-08-13 15:42] llxia commented on #10384
This issue is related to the recent PR [copy TAP for UNSTABLE builds](https://github.com/AdoptOpenJDK/openjdk-tests/commit/6ba13885541dae835c0d960b6c08d1d01ca786f4#diff-9da4c7b7710fb521a3c011d52316f1f9). On top of the above issue, the parent build seems getting other TAP files that are unrelated to its child builds (i.e., `Test_openjdk15_j9_sanity.functional_x86-64_windows_Personal_testList_0/9/op

[2020-08-13 16:19] gacholio commented on #10383
Based on the backtrace, the problem occurs somewhere within `iterateStackTrace`

[2020-08-13 16:20] gacholio commented on #10383
@JasonFengJ9 Can you have a look at this? I suspect the problem will be obvious when run on a debug symbol VM.

[2020-08-13 16:46] aarongraham9 commented on #10370
I've confirmed that this doesn't seem to be an issue on an x86_64 machine I have access to.

`/opt/jdk/jdk-11.0.8.10_openj9_0.20.0/bin/java --version`:
[code]
Runs successfully with the Interpreter only (`-Xint`) and with the JIT.

[2020-08-13 16:50] harryyu1994 commented on #7965
With a larger dataset, I'm measuring a 3.5% throughput drop on Power.

Job ID | Global Throughput | Average response time | Min TPS | Max TPS | Pause Time | Total Pause Time
-- | -- | -- | -- | -- | -- | --
9994855 | 8227.0338779673 | 1.9450356503132 | 503.18874202814 | 526.035 | 13.904885598923 | 14.4253243607
9994856 | 8087.2274532643 | 1.9783969421294 | 494.9975 | 517.92093638361 | 13.935554945

[2020-08-13 17:00] harryyu1994 commented on #7965
SPECjbb2015 on x86. No throughput drop observed this time. (I grabbed the build from a different location this time)

-Xmx3200M -Xms3200M -Xmn1200M

## Shift0

Job ID | max_jOPS | critical_jOPS | hbIR_max | hbIR_settled
-- | -- | -- | -- | --
9994899 | 20202 | 11928 | 27674 | 23095
9994900 | 19649 | 11962 | 23392 | 22775
9994901 | 20324 | 11498 | 23095 | 21847
9994902 | 20479 | 11678 | 27674 | 230

[2020-08-13 17:20] JasonFengJ9 commented on #10383
Sure, will take this.

[2020-08-13 17:25] aarongraham9 commented on #10370
For what it is worth (as this appears to be a stack side issue), it doesn't seem to be a matter of heap size. I've done additional (`-Xint`) runs on the VIM3 and the Rock64 with increasing `-Xms` and `-Xmx` from `2G` to `3G` and then `4G`. Still fails the same.

[2020-08-13 17:34] aarongraham9 commented on #10370
I was able to send the process a `SIGABORT` signal to trigger the VM to generate some dump files. I'll link the dump files from the `VIM3` on my UNB OneDrive here:
- [core.20200812.205829.2373220.0001.dmp](https://unbcloud-my.sharepoint.com/:u:/g/personal/f8j31_unb_ca/EW0q_zLcnWdIsSKFjpMAXV0Bpg9aoullZN2umb3YYeRp2w)
- [jitdump.20200812.205829.2373220.0004.dmp](https://unbcloud-my.sharepoint.com/:u:

[2020-08-13 17:52] gita-omr commented on #9331
Sorry, somehow missed all the notifications. I will take a look at the trees. @IBMJimmyk could you please take a look as well?

[2020-08-13 17:58] gita-omr commented on #9331
"Here is the log file with the transformation.scorching_lastOpt_125_trace.txt.zip As for a trace file without the transformation. The method java/math/BigInteger.implSquareToLen([II[II)[I doesn't get compiled when SPMDKernelParallelization opt is disabled."

Does not this mean that the opt might not be at fault?

[2020-08-13 18:02] VermaSh commented on #9331
That was an error on my part. Both trace files are attached here https://github.com/eclipse/openj9/issues/9331#issuecomment-673533625

[2020-08-13 18:15] gita-omr commented on #9331
Thanks. Does the test case fail when the  number of array elements is 1, as in the unit test above?

[2020-08-13 18:22] #10249 closed

[2020-08-13 18:26] gita-omr commented on #9331
Actually, might not be as relevant since this is not the loop we vectorize.

[2020-08-13 18:37] aarongraham9 commented on #10370
Any thoughts on what I can do next to dig into this potential defect?

[2020-08-13 19:16] amicic commented on #4930
We are trying to add similar (possibly identical) functionality to OpenJDK's -XX:+AlwaysPreTouch here: https://github.com/eclipse/openj9/pull/10386. Anything else we should do, if we match the option name?

[2020-08-13 19:20] DanHeidinga commented on #4930
We should reuse the existing OpenJDK option and avoid introducing a similar feature under a different name.  In general, all new options should be of the form `-XX:[+-]Something` or `-XX:Something`.

[2020-08-13 19:29] DanHeidinga commented on #9929
@andrewcraik @vijaysun-omr Do you want to keep this item open as a reminder to take advantage of the new rules around final fields?

[2020-08-13 20:10] andrewcraik commented on #9929
@DanHeidinga yes please - we just haven't had time to look at this yet.

[2020-08-13 20:16] DanHeidinga commented on #9929
Ok.  Rolling forward to the next release then

[2020-08-13 20:20] ChengJin01 commented on #5058
After attempting a bunch of times, I managed to get Debian with Linux kernel 5.6 working on U540
[code]
The next step is to generate a couple of build (including debug builds) to see how it goes with the latest linux kernel + OpenSBI.

[2020-08-13 20:27] JasonFengJ9 commented on #10383
@Thihup can you share the testcase jar files such as `bug-module-openj9-1.0-SNAPSHOT.jar`?

[2020-08-13 20:30] Thihup commented on #10383
@JasonFengJ9 Sure! I have renamed to zip to allow upload here.

[bug-module-openj9-1.0-SNAPSHOT.zip](https://github.com/eclipse/openj9/files/5071279/bug-module-openj9-1.0-SNAPSHOT.zip)

[2020-08-13 20:41] mpirvu commented on #10355
Problem solved by #10245

[2020-08-13 20:41] #10355 closed

[2020-08-13 20:42] mpirvu commented on #10172
Implemented in #10245 which reduced the CPU at the client compared to the previous solution.

[2020-08-13 20:43] #10172 closed

[2020-08-13 22:08] dmitripivkine commented on #9651
The reason for failure is extended life of the object (kept alive by o-slot from JIT frame). According @andrewcraik and @0xdaryl life of the object might be extended with high levels of hotness of JIT method and **this is not a new behaviour**. This failure is intermittent (1 of 25) and observed in Adopt builds only. The same test never failed in internal builds. I noticed the difference how test

[2020-08-13 22:32] iczero commented on #10356
This seems to work:
[code]

Output on HotSpot:
[code]

Output on OpenJ9:
[code]

[2020-08-13 23:04] andrewcraik commented on #9651
Object life-time in JIT optimized code can vary from the original program. Any test which aims to try and cause an object lifetime to end at a specific point is unlikely to succeed in general given the very liberal approach to object lifetime and the points where GC occurs in Java. I suspect this is likely to be a won't fix because there isn't anything which says the reference has to be freed at t

[2020-08-13 23:11] gacholio commented on #10356
The `Class1::dummyMethod` produces this:
[code]

[2020-08-13 23:12] gacholio commented on #10356
We may well be initializing the class too early in the MethodHandle code.

@DanHeidinga - you may recall exactly where this is done.

[2020-08-13 23:48] dmitripivkine commented on #9651
My only worry this is very popular test pattern. Also seems other JVMs passed this tests so setup standard de facto.

[2020-08-14 01:02] JasonFengJ9 commented on #10383
Here is the native stacktrace where the segmentation error occurred:
[code]
`vm->applicationClassLoader` is `NULL` at
https://github.com/eclipse/openj9/blob/1f562c4fbdb7197cc7dfaed72f9fb6ebcfa52b46/runtime/vm/exceptiondescribe.c#L357

The Java code in question is
https://github.com/eclipse/openj9/blob/1f562c4fbdb7197cc7dfaed72f9fb6ebcfa52b46/jcl/src/java.base/share/classes/java/lang/ClassLoader.ja

[2020-08-14 01:26] ChengJin01 commented on #10356
If so,  it is probably related to the code as follows:
[code]

[2020-08-14 02:13] gacholio commented on #10356
Please start investigating moving the initialization to the point of static method invoke, static field read/write and instantiation (if there is such a thing in the MH code).

Handles should operate like the bytecodes they replace - until the actual point of access, the class should remain uninitialized.

It's probably also worth investigating the old reflection behaviour - I don't recall if it's

[2020-08-14 04:00] DanHeidinga commented on #10356
The MH code should be doing the right thing for initializing classes when static methods / static fields / etc are invoked.

Based on the output from the `<clinit>` printfs, I'd check the sendResolveMethodHandle and sendResolveInvokeDynamic paths as well the code that cracks a MethodHandle into a MethodHandleInfo.  It's something in that path that's forcing the init - maybe a class lookup as part

[2020-08-14 04:38] gacholio commented on #10244
@Hello71 Can you give my branch a try and see if it it fixes your issues? It's here:

https://github.com/gacholio/openj9/tree/utf

[2020-08-14 10:14] edrevo commented on #10367
According to https://github.com/microsoft/WSL/issues/1927#issuecomment-672922537, the issue is fixed in WSL2 (which is what I was using), so the culprit should be something else. Either way, since WSL isn't a supported platform I'm out of luck I guess.

[2020-08-14 12:36] DanHeidinga commented on #9328
@hangshao0 Now that the fix to prevent gcing hidden classes is released, is there anything else that needs to be completed for this JEP?

[2020-08-14 14:59] hangshao0 commented on #9328
This JEP is functionally working now. But not all hidden class tests are passing. There are some negative test cases that assert certain type of exception/error be thrown, but sometimes we are throwing a different type of exception, making them to fail. I guess that might be due to openj9 has independent/different implementation (Methodhandles, verifier, etc).  I am going through those test cases

[2020-08-14 19:41] megazone23 opened #10391 "Disable use of HugePages"
Java -version output
--------------------

openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-b10)
Eclipse OpenJ9 VM (build openj9-0.15.1, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20190717_368 (JIT enabled, AOT enabled)
OpenJ9   - 0f66c6431
OMR      - ec782f26
JCL      - f147086df1e based on jdk8u222-b10)

Summary of problem
------------------

When huge pages are c

[2020-08-14 20:31] harryyu1994 commented on #7965
Judging from the various experiments we tried, the overhead of shift3 on x86 isn't very significant.

[2020-08-14 21:33] #10383 closed

[2020-08-15 05:11] harryyu1994 commented on #7965
## SPECjbb2015 on zLinux
- `-Xmx3200m -Xms3200m -Xmn1200m`
[code]

- 1% drop in max-jOPS
- 2.5% drop in critical-jOPS

[2020-08-15 12:16] Hello71 opened #10392 "type 'struct VM_MHInterpreter' violates the C++ One Definition Rule: MM_ObjectAllocationAPI/MM_ObjectAllocationAPIFull"
[code]

I guess the problem here is that something forgets to include `runtime/gc_include/ObjectAllocationAPI.hpp`?

[2020-08-15 12:21] Hello71 opened #10393 "type of 'EsJNIFunctions' does not match original declaration"
[code]

seems like this happens to work because EsJNIFunctions is never accessed directly, but always through a pointer which gets type-cast correctly. I think it should still be fixed. probably jvminit.c/j9nonbuilder.h should simply remove the `*` here.

[2020-08-15 12:31] Hello71 opened #10394 "CodeGenGPU.cpp printf issues"
[code]

[2020-08-15 13:04] Hello71 commented on #10244
@gacholio seems to work on 15 (14 master doesn't compile atm?). for some reason without the patch I only get a warning, not an error. I'm not really convinced that removing the member is a better option than just making it a flexible array, but I guess it's fine. the commit messages are a little funny, but functionally it seems to work alright. thanks!

[2020-08-17 01:57] knn-k commented on #10370
I reproduced the StackOverflowError with `jdk-11.0.8+10/bin/java -jar renaissance-gpl-0.11.0.jar movie-lens` on my local device, with both the large heap build and the compressed refs build.

The April release (v0.20.0) below seems to work fine:
[code]

[2020-08-17 02:52] knn-k commented on #10370
Running the benchmark with `-Xjit:exclude={java/io/Object*.*}` seems to be OK.

[2020-08-17 12:21] 0xdaryl commented on #10370
This may not necessarily be a bug, but we're simply exhausting the available Java thread stack memory due to the presence of larger JIT frames and deep recursion (both of which seem to be in play here).

What does running with `-verbose:sizes` tell you on both the AArch64 board and the x86 machine for the Java thread stack sizes?

If you increase the Java thread stack memory limit via the`-Xss` op

[2020-08-17 12:31] aarongraham9 commented on #10370
Ok, thanks! I'll check those options and let you know what comes back for output and results. :smile:

[2020-08-17 14:42] keithc-ca commented on #10367
I started to check whether WSL 2 fixes the problem, but it conflicts badly with my use of VirtualBox.

Please double-check the version you are using with `wsl -l -v`. Even if you have WSL 2 installed, each package can be independently configured for WSL version 1 or version 2.

[2020-08-17 14:54] gacholio commented on #10244
I've tried the FAM, but it doesn't work on the outdated windows compilers that we use.

[2020-08-17 15:01] Hello71 commented on #10244
That doesn't sound right, unless a different compiler is used for omr. As I point out in https://github.com/eclipse/omr/pull/5444, FAMs are already used in at least two places in omr. They're just hidden by `#pragma warning(disable : 4200)`.

[2020-08-17 16:11] dmitry-ten opened #10397 "TR_J9VM::getClassFromSignature: class loader of the result does not always match the class loader of the method"
In jitserver, we cache the result of `TR_J9VM::getClassFromSignature` call by `{classLoader, signature}` key where the class loader is obtained from the method passed as an argument.
However, I determined that in some cases, these 2 class loaders do not match. Sometimes, the class loader of the result is a system class loader, unlike the loader of the class owning the method.
This code explains so

[2020-08-17 16:12] dmitry-ten commented on #10397
I propose to modify the `VM_getClassFromSignature` message, to also return the class loader and whether the class loaders match.
If the loaders match, then the resulting class can be safely cached, otherwise do not cache.

[2020-08-17 16:32] gacholio commented on #10244
Yep, adding the pragma fixes the problem.

[2020-08-17 16:44] aarongraham9 commented on #10370
They all seem to be using `1M` stack memory. I'll try increasing it and see if that helps.

VIM3: `/opt/jdk11/openj9-0.21-jdk-11.0.8+10/bin/java -verbose:sizes`:
[code]

Rock64: `/opt/jdk/openj9-0.21-jdk-11.0.8+10/bin/java -verbose:sizes`:
[code]

x86_64: `/opt/jdk/jdk-11.0.8.10_openj9_0.20.0/bin/java -verbose:sizes`:
[code]

[2020-08-17 17:35] DanHeidinga opened #10399 "v0.22.0 release details"
**Code split:** Aug 17 based on Aug 16 builds.  This is 1 week delayed from initial plan date of Aug 9.
**Aug 16 build:**
https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK15/21/
OpenJ9: d5df4ed
OMR: b0d762d
OpenJDK15: 37b152c - openj9-openjdk-jdk15

(And Java 8 equivalent nightly build:
https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All/1004/
OpenJ9: d5df4ed
OMR: b0d762d
OpenJDK8: 3

[2020-08-17 17:39] #4549 closed

[2020-08-17 17:47] DanHeidinga commented on #10399
openJ9:
[code]

omr:
[code]

Tag message:
[code]

[2020-08-17 18:45] gacholio commented on #10392
I think the problem is actually that `MHInteprerer.hpp` is included from the split interpreter files (with the override set), so the constructor gets passed the full or compressed instance of the `ObjectAllocationAPI`, but `MHInterpereter.cpp` is unsplit, so it thinks it's getting the generic version.

The fix is probably to split MHInterprerer as well.

[2020-08-17 18:48] DanHeidinga commented on #10399
Well I missed that up and created a 0.23.0 branch rather than a 0.22.0 branches.  I've created the 0.22.0 branches now and will open a bugzilla to delete the (protected) incorrect branches.

[2020-08-17 18:57] DanHeidinga commented on #10399
Bugzilla to delete the 0.23.0 branches https://bugs.eclipse.org/bugs/show_bug.cgi?id=566137

[2020-08-17 19:25] aarongraham9 commented on #10370
You were right! I increased  `-Xss` to `2M` and both the runs on the VIM3 and Rock64 completed successfully. I'll also do a run turning off Escape Analysis and keeping `-Xss` at `1M` as well and see what happens.

[2020-08-17 19:34] IBMJimmyk commented on #9331
I found the problem.

The node that increments the induction variable is getting commoned and it is screwing up the calculation.

One way or another the optimizer has figured out that `newArr` and `oldArr` are the same, `newIdx` always has the same value as `oldIdx` (same initial value, get incremented at the same time by the same amount) and that `shiftCount` is 1.

So block_45 before SPMD looks

[2020-08-17 19:52] mnalam-p commented on #9331
@IBMJimmyk I am still trying to setup the machine for z. I can see what you meant and agreed that uncommoning and duplicating is one way to fix it. However, we have to be careful as @gita-omr pointed out while working with the last auto simd fix, that we can't guarantee that it is 'The Node' that needs to be uncommoned. The generalized fix seems to be a little difficult. I will continue to investi

[2020-08-17 20:02] IBMJimmyk commented on #9331
Yeah, I actually thought about it a bit more since my previous comment and uncommoning the node won't be as simple as I thought it would be.

[2020-08-17 20:07] dsouzai commented on #10397
If you look at this method's signature
[code]
There's a constant pool there. What that means is that you're asking the question "Get me the J9Class that has a particular signature, that is visible to the J9Class that is associated with the `constantPool` that is passed in". Therefore, the result could vary depending on the `constantPool` that is passed in.

What do you mean by "the method" here; c

[2020-08-17 20:12] Hello71 commented on #10244
I didn't find any FAMs elsewhere in openj9, but if https://github.com/eclipse/omr/pull/5444 is accepted, I think it would make sense to use /wd4200 here too.

[2020-08-17 20:13] r30shah commented on #9331
In https://github.com/eclipse/openj9/pull/9947 we disabled AutoSIMD for induction variable, my understanding was that we disabled it in general to make sure that whether the issue is with trees or code-gen, it will need careful work to make this opt work.  With that in mind, for the trees seen in this loop, this opt should work or it should disable the SIMD?

[2020-08-17 20:24] IBMJimmyk commented on #9331
This is slightly different than the issue seen in #9947. In #9947 a node was being converted to a vector version of that operation and, due to commoning, this change was propagating to where the induction variable was being incremented when it shouldn't. #9947 disabled that behavior.

This particular case is sort of the reverse. When incrementing the induction variable (for int arrays) after vecto

[2020-08-17 20:30] aarongraham9 commented on #10370
With escape analysis off (`-Xjit:disableEscapeAnalysis`) and keeping `-Xss` at `1M` it `StackOverflowError`s as before on both the VIM3 and Rock64.

[2020-08-17 20:30] gita-omr commented on #9331
Thanks a lot @IBMJimmyk for finding the problem. I also think it's different from our previous problem since, in this case, induction variable is only used inside the address expression, except for the actual increment. So this is not related to vectorizing induction variable itself.

[2020-08-17 20:44] dmitry-ten commented on #10397
When I talk about the method, I'm talking about the other 2 versions of `getClassFromSignature` that are passed a method and then get a constant pool from it.
https://github.com/eclipse/openj9/blob/b90bbb058b625b0f2ed5deae2bfaa8b226527ef8/runtime/compiler/env/VMJ9.cpp#L6838-L6849

The point is that right now jitserver assumes that
`J9_CLASS_FROM_CP(constantPool)->classLoader` == j9class->classLoad

[2020-08-17 20:50] dsouzai commented on #10397
J9_CLASS_FROM_CP(constantPool)->classLoader == j9class->classLoader, where
j9class is the return value of getClassFromSignature which is not always the case.

Yeah there's definitely no guarantee that `J9_CLASS_FROM_CP(constantPool)->classLoader == j9class->classLoader` is always true. `getClassFromSignature` is used to get a `J9Class` that is visible to `J9_CLASS_FROM_CP(constantPool)`; however v

[2020-08-17 21:07] keithc-ca commented on #10244
I don't think we should use `/wd4200` globally. I'd prefer to push/pop that warning only as necessary.

[2020-08-17 21:09] dsouzai commented on #10397
FWIW, it is always safe to cache using `{J9_CLASS_FROM_CP(constantPool), signature}` (which is basically the information in SVM validation records). However, I guess it doesn't cover as a big an area as the classloaders would.

If the loaders match, then the resulting class can be safely cached, otherwise do not cache.

Given the following situtation:
[code]
I don't think it's possible for `classB

[2020-08-17 21:21] Hello71 commented on #10244
why is that? are there some contexts in which you want to keep pre-2015 MSVC compatibility?

[2020-08-17 21:27] aarongraham9 commented on #10370
As I expected, with escape analysis off (`-Xjit:disableEscapeAnalysis`) and setting `-Xss` to `2M` it also runs fine on the VIM3 and Rock64 boards.

[2020-08-17 21:40] keithc-ca commented on #10244
It isn't about compatibility, it's about ignoring warnings cautiously and selectively.

[2020-08-17 23:43] rpshukla commented on #8397
The cause of this issue seems to be that the result register for `aselect` nodes is not always being flagged as a collected reference during codegen. I have opened this PR to fix this: https://github.com/eclipse/omr/pull/5474

[2020-08-18 02:32] gacholio commented on #10244
While I agree completely with @keithc-ca in principle, I would be in favour of just disabling this warning. Windows is the only platform that doesn't support by default, so there's no real value in causing a compile error on Windows when every other platform would succeed.

[2020-08-18 04:30] gacholio commented on #10356
@cheng Any update here?

[2020-08-18 05:06] ChengJin01 commented on #10356
@gacholio,

I checked the stacktrace of the calling path to `Test$Class1.<clinit>`:
[code]
plus  the java stack as follows:
[code]

It seems  the static initialization of `Test$Class1.<clinit>()V` came from the same place as `Test$Class1.<clinit>()V` at /runtime/vm/resolvesupport.cpp`
[code]
I didn't notice there is anything illogical along the calling path in dealing with `<clinit>` of `Test$Clas

[2020-08-18 06:16] ChengJin01 commented on #10356
It seems the only difference between `Test$Class1.<clinit>` and `Test$Class2.<clinit>` is the value of `resolveFlags` given it was set up at different calling paths as follows:

[1] Test$Class1.<clinit>: resolveFlags = 0 = `J9_RESOLVE_FLAG_RUNTIME_RESOLVE`
[code]
against the code at `common/sun_reflect_ConstantPool.c`:
[code]
[2] Test$Class2.<clinit>: resolveFlags = 32 = `J9_RESOLVE_FLAG_RUNTIME_R

[2020-08-18 06:17] ChengJin01 commented on #10356
Test results indicate the fix above works good as expected
[code]

[2020-08-18 07:51] knn-k commented on #10370
Does the results above mean the AArch64 JIT consumes more Java stack space than the x86 JIT does?
If yes, is #5910 (locals compaction) can help?

[2020-08-18 08:07] Akira1Saitoh commented on #6657
Implemented in following PRs in May:
https://github.com/eclipse/openj9/pull/9472
https://github.com/eclipse/openj9/pull/9468
https://github.com/eclipse/openj9/pull/9469
https://github.com/eclipse/omr/pull/5164

[2020-08-18 08:40] edrevo commented on #10367
[code]

[2020-08-18 11:23] 0xdaryl commented on #10370
That may help certain methods with large frames (which may very well be the case in a benchmark), and you can disable it on x86 and see if that has any effect (`-Xjit:disableCompactLocals`).

AArch64 has nearly twice as many GPRs and FPRs as x86 and this may manifest itself as more spilling required for preserved and volatile registers across calls.

If you want to do a side-by-side comparison to

[2020-08-18 12:27] DanHeidinga commented on #10370
Does aarch64 have DDR support yet?  You should be able to get a lot of this information from a `!stack <0xJ9Thread>` or a `!stackslots <0xJ9Thread>` as it walks the stack and pretty prints it.  It may need some calculation or worse come to worse, some hacking on the DDR stackwalk extension.

[2020-08-18 12:34] Hello71 commented on #10244
I agree with @gacholio on this issue. I agree entirely that disabling warnings should be done cautiously, and have made a point to do so in exactly this case: I was and continue to be opposed to disabling the -Wstringop-overflow warning, since doing so potentially hides overly aggressive gcc optimization causing incorrect code generation. I am also opposed to globally disabling warnings that trigg

[2020-08-18 12:49] aarongraham9 commented on #10370
Yeah, I'm happy to investigate doing this. Any pointers on where to begin looking to add the frame size info to the verbose log?

I haven't used DDR in about 6 years now (in closed J9), can you point me to some good "getting started" documentation for DDR with OpenJ9?

[2020-08-18 12:52] DanHeidinga commented on #10356
@ChengJin01 Nice find tracking down the path causing the resolve to request the `<clinit>`.  The proposed fix isn't the right approach though as that flag means something else - basically whether the check is happening in a `<clinit>` method or not.

If the MH resolves shouldn't init the class, then it might be better to pass `J9_RESOLVE_FLAG_NO_CLASS_INIT` either from the `Java_java_lang_invoke_M

[2020-08-18 12:58] DanHeidinga commented on #10370
Sadly, I'm not sure it exists.  If you run the test with: `-Xdump:java+system:events=throw+systhrow,filter=java/lang/StackOverflowError` you'll get both a system and java core.

You can load that into ddr using `jdmpview -core <corefileName>` and then I usually run `!findvm` to ensure the core is valid.  If it doesn't find a VM in the core, then the rest of this won't work.

Then run `!threads` to

[2020-08-18 13:07] aarongraham9 commented on #10370
Ok, thanks! I'll give it a go.

[2020-08-18 13:37] keithc-ca commented on #10367
The shared class cache implementation in OpenJ9 makes use of `fcntl`. If disabling the cache makes the problem go away, then that suggests to me that microsoft/WSL#1927 is not fixed (at least for the file system you're using; the claim is that 'it's a real ext4 filesystem' perhaps doesn't apply if you're working in a mounted NTFS file system).

[2020-08-18 13:39] #10393 closed

[2020-08-18 13:52] mpirvu commented on #10397
The chain of calls is
[code]
So in the end we are asking the VM to give us a class based on name and `method->constantPool->ramClass->classLoader`. There are some cases when the VM returns NULL because the class is not initialized and then we may do that trick to find some special named classes:
[code]
Excepting the special case above I would like to see and understand some examples where:
`found_

[2020-08-18 14:08] adamfarley commented on #10316
Could this be a duplicate of https://github.com/eclipse/openj9/issues/10149 ?

[2020-08-18 14:32] 0xdaryl commented on #10370
https://github.com/eclipse/openj9/blob/7f749e1cfd2317e01c8ddeccf128368975bc79d3/runtime/compiler/control/CompilationThread.cpp#L10682

[2020-08-18 14:46] llxia commented on #2859
With @renfeiw [TKG enhancement](https://github.com/AdoptOpenJDK/TKG/pull/43), now we can run any list of test targets. For example, set `TARGET` to `testList TESTLIST=jit_jitt,jit_recognizedMethod_1,testSCCMLTests2_1` .

IMO, for PR builds, we can support something like `jenkins test testA,testB,testC plinux jdk11`. The pipeline script can trigger `Grinder` for this. As mentioned above, `BUILD_LIS

[2020-08-18 14:54] ChengJin01 commented on #10356
@DanHeidinga, `J9_RESOLVE_FLAG_NO_CLASS_INIT` makes more sense to me rather than checking `J9_RESOLVE_FLAG_CHECK_CLINIT` (which means different thing I was unaware of).

In addition, setting `J9_RESOLVE_FLAG_NO_CLASS_INIT` to `resolveMethodHandleRef` from `Java_java_lang_invoke_MethodHandle_getCPMethodHandleAt` might be better as we already have similar code to set up `J9_RESOLVE_FLAG_NO_CLASS_INI

[2020-08-18 15:18] mpirvu commented on #10397
We could try that and measure the increase in the number of messages.

[2020-08-18 15:24] gacholio commented on #10356
This should also require initializing the class at the point of method invoke or static field access, as we're no longer doing at MH resolution time.

[2020-08-18 15:27] DanHeidinga commented on #10356
The MHInterpreter already does that, as do the thunkArchetype jit templates.  I don't expect any changes required there but we should do some tests to confirm.

[2020-08-18 15:27] mpirvu commented on #10397
I am ok with this, but with the following amendment: if the loaders do not match, store an entry in the JITServer j9class cache indicating the classloader that needs to be used when accessing the {classloader,name} hashtable.
Also, to check for correctness I would create a mode where we always check the client and compare the responses.

[2020-08-18 15:39] ChengJin01 commented on #10356
With the fix at `Java_java_lang_invoke_MethodHandle_getCPMethodHandleAt`:
[code]
The test results indicate it works good as expected:
[code]
Will launch personal builds on Java 8 & 11 to ensure there is no issue introduced with the fix.

[2020-08-18 16:54] dmitry-ten commented on #10397
I've actually realized something:
if most or all cases where the class loaders do not match  are due to the actual class loader being the system class loader (and it seems to be the case), then we don't even need to clear them in processUnloadedClasses since they can't be unloaded before JVM termination. The segfaults seem to be actually coming from the signatures not being handled correctly at cl

[2020-08-18 17:04] ChengJin01 commented on #10356
I verified two cases with simple tests with the fix above as @gacholio mentioned, which also works good as expected.

[1] initializing the class at the point of static field access:
[code]
with the following output:
[code]

[2] initializing the class at the point of method invoke
[code]
with the following output:
[code]

[2020-08-18 17:13] gacholio commented on #10356
Neither of those above tests are using MethodHandle, so I'm not sure what they prove.

[2020-08-18 17:19] mpirvu commented on #10397
IIRC we treat class redefinition as class unloading, meaning that we delete from caches the classes that have been redefined. Classes from system class loaders cannot be unloaded, but they can be redefined.

[2020-08-18 17:20] ChengJin01 commented on #10356
[1] Test2 used MethodHandle as follows:
[code]

Test3 might need to rewritten.

[2020-08-18 17:22] gacholio commented on #10356
The MH use in Test2 appears to be from the string concatenation, not from the field access.

[2020-08-18 17:49] ChengJin01 commented on #10356
I modified Test2 to use MethodHandle as follows:
[code]
with the expected result:
[code]

[2020-08-18 17:59] ChengJin01 commented on #10356
Updated Test3.java (for method) as follows:
[code]
with the expected result:
[code]

[2020-08-18 18:32] dmitry-ten commented on #10397
Right. But if I understand your above solution correctly, the referencing class would cache the class loader of the class retrieved by signature. Wouldn't it be possible that the same class references multiple classes by signature and thus we would need a map?

[2020-08-18 19:04] #10244 closed

[2020-08-18 20:25] 0xdaryl opened #10412 "Proposal to remove ARM32 support from OpenJ9"
I would like to propose removing support for the 32-bit ARM processor from OpenJ9.

This support was contributed when OpenJ9 was first open sourced in 2017 but there has been no significant community interest in it, no builds or binaries produced at AdoptOpenJDK, and a lack of support for Java features introduced since JDK 8.  The code paths remain largely untested, with only the occasional JDK 8

[2020-08-18 22:14] #10356 closed

[2020-08-18 23:04] gita-omr commented on #8671
@pshipton @DanHeidinga @dmitripivkine could you please comment on the proposal from @AlenBadel above?

[2020-08-18 23:49] knn-k commented on #10370
OpenJ9 0.22.0 for Windows runs the movie-lens benchmark with `-Xjit:disableCompactLocals` and with the default Java stack size (1M).

[2020-08-19 00:49] mpirvu commented on #10397
Yes, we would need a linked list which would be used only for class unload or redefinition situations.

[2020-08-19 01:10] DanHeidinga commented on #8671
This feels like a rat hole.  In all years I've worked on the openj9 code base, I don't recall any user issues ever specifying this level of detail about large page settings.  We had an agreed on design, let's proceed with it.

If a user shows up with a valid complaint about the situation Alen suggests above, then we'll deal with it at that time.  I don't expect it to ever happen though.

[2020-08-19 01:37] knn-k opened #10413 "AArch64: Crash in old_fast_jitLookupInterfaceMethod()"
Failure link
------------

There are two failures in https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/14/ .
- java/lang/invoke/CallStaticInitOrder.java.CallStaticInitOrder
- java/lang/invoke/lambda/LambdaClassLoaderSerialization.java.LambdaClassLoaderSerialization

Both of them crash in old_fast_jitLookupInterfaceMethod() with `InaccessibleAddress=0000000099669960`.

O

[2020-08-19 01:38] knn-k commented on #10413
The location of the crash is as shown below:

[code]

[2020-08-19 01:48] knn-k commented on #10413
`ThenComposeAsyncTest` in https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/13/ and `HotPotatoes` in https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/11/ look the same.

[2020-08-19 02:42] kgibm opened #10416 "macOS: JVMJ9VM015W Initialization error for library j9gc29(2): Failed to instantiate compressed references metadata. 200M requested"
Java -version output
--------------------

$ java -version
openjdk version "1.8.0_265"
OpenJDK Runtime Environment (build 1.8.0_265-b01)
Eclipse OpenJ9 VM (build openj9-0.21.0, JRE 1.8.0 Mac OS X amd64-64-Bit Compressed References 20200728_646 (JIT enabled, AOT enabled)
OpenJ9   - 34cf4c075
OMR      - 113e54219
JCL      - c82ff0c20f based on jdk8u265-b01)

Summary of problem
------------------

Re

[2020-08-19 03:06] gacholio commented on #10028
We have a job we know has failed with this - how about grinding that job with the option set?

[2020-08-19 03:37] rudy2steiner opened #10417 "How to build openj9 core"
I'm new to oepnj9 and try to build it,with following command :
[code]
but get some exception:

[code]

so how to build the openj9 core independently!
OS: macOS 10.13.1

[2020-08-19 05:32] rudy2steiner commented on #10417
@0xdaryl would you mind giving me some guide

[2020-08-19 05:42] rudy2steiner commented on #10417
And how to join openj9.slack.com, who can invite me: rudy_steiner@163.com

[2020-08-19 08:05] knn-k commented on #10413
The location of the crash is at the following part in `convertITableOffsetToVTableOffset()`.  The static function is inlined in `old_fast_jitLookupInterfaceMethod()`.

[code]

[2020-08-19 08:29] knn-k commented on #10413
The value of R2 in the register dump above shows `jitEIP` in `old_fast_jitLookupInterfaceMethod()`.
The `jitEIP` is in the address range of `com/sun/tools/javac/comp/Infer$InferenceContext::notifyChange()` for both of `LambdaClassLoaderSerialization` and `CallStaticInit` tests, according to the output from jdmpview.

[code]

[2020-08-19 09:06] austin0 opened #10418 "Cannot find symbol "method dataEA()" relating to J9UTF8Pointer"
Assuming this is related to https://github.com/eclipse/openj9/pull/10404 @gacholio

Failure link
------------

Compilation failed for two AIX builds:

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-aix-ppc64-openj9/202/console
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-aix-ppc64-openj9/7/console

[2020-08-19 11:25] knn-k commented on #10126
#10413 is an issue with JDK 8 AArch64.
That one may be also related to javac.  It crashes in an interface call from `com/sun/tools/javac/comp/Infer$InferenceContext::notifyChange()`.

[2020-08-19 11:28] knn-k commented on #10327
This looks similar with #10413.
`InaccessibleAddress=0000000099669960` caused by memory access with `R19` in libj9jit29.so.

[2020-08-19 13:17] Leonardo2718 opened #10419 "Refactor Valhalla tests to avoid dependencies between test methods"
Currently, Valhalla tests are structured so that dependencies between various tests exist, resulting in certain tests having to be run before other ones. In most cases, the dependencies are caused by certain tests performing some setup work that's also needed by other tests. To make the tests easier to work with, the tests should be refactored so that any kind of prerequisite work is done in speci

[2020-08-19 13:26] smlambert commented on #10417
The "[Join Openj9 Slack link](https://openj9.slack.com/join/shared_invite/enQtNDU4MDI4Mjk0MTk2LWVhNTMzMGY1N2JkODQ1OWE0NTNmZjM4ZDcxOTBiMjk3NGFjM2U0ZDNhMmY0MDZlNzU0ZjAyNzQ1ODlmYjg3MjA#/)" can be found on openj9.org (but I hyperlinked it in this comment for convenience).

Are you following the build instructions from the readme's found in this doc directory, https://github.com/eclipse/openj9/tree/mas

[2020-08-19 13:41] DanHeidinga commented on #10417
@rudy2steiner typically a build starts from the "Extensions" repos which are a clone of the OpenJDK code with minimal changes to support the OpenJ9 JVM and uses the same build process as the rest of OpenJDK.  Shelley's link above provides details.

Cmake is only used in the background to compile the OpenJ9 part of the build. It's triggered by running `make` after doing the OpenJDK `configure`.

[2020-08-19 13:47] smlambert commented on #10417
I believe there is also a script that helps set up a docker based build here: https://github.com/eclipse/openj9/blob/master/buildenv/docker/mkdocker.sh that may be useful (at least as reference, if not to use outright).

[2020-08-19 13:52] rudy2steiner commented on #10417
I intend to build only openj9，not include openjdk，using https://github.com/eclipse/openj9/blob/master/CMakeLists.txt ，but failed with the exception.

[2020-08-19 14:00] DanHeidinga commented on #10417
Building openj9 on its own isn't a typical usecase as it needs class libraries, launchers, etc to be fully functional JDK.

If you can expand on your usecase, we may be able to help point you in the right direction

[2020-08-19 14:13] rudy2steiner commented on #10417
ok，thanks！in case，we only make trivial changes，if we can build and test it only with some necessary dependencies，it would be more easy to understand.

[2020-08-19 14:15] DanHeidinga commented on #10417
We use incremental builds in that case.  The base code is compiled to start with and as you make changes, you rebuild the code periodically and continue to test it.  The subsequent builds should be fairly fast

[2020-08-19 14:16] DanHeidinga commented on #10413
Note, `InaccessibleAddress=0000000099669960` usually means a J9Class was passed where an object was expected

[2020-08-19 14:18] rudy2steiner commented on #10417
ok i will try it later，thanks again！

[2020-08-19 14:23] #10417 closed

[2020-08-19 14:41] mpirvu opened #10421 "Reduce size of persistent allocations"
Each persistent allocation has a leading header defined as
[code]
which occupies 16 bytes on 64-bit platforms.
However, the `_next` pointer is not actually needed from memory blocks that are in use. This is only used to link memory blocks present in one of the free block lists.
For a block present in the free block lists we can use the payload of that memory block to store the pointer to the next

[2020-08-19 14:51] mpirvu opened #10422 "Eliminate verbose log message related to existence of AOT class chains"
`TR_J9JITServerSharedCache::rememberClass(J9Class *clazz, bool create)` running under JITServer emits a
verbose log line every time we try to store a class chain, but that chain exists.
[code]
These messages have little value and because they are very frequent they 'pollute' the verbose log.
Thus, it's better to just eliminate them

[2020-08-19 14:57] gacholio commented on #10418
@keithc-ca Some problem with parsing FAM on AIX?

[2020-08-19 15:22] andrewcraik commented on #9835
This has not reproduced - closing as fixed in later build - reopen if it is seen again

[2020-08-19 15:22] #9835 closed

[2020-08-19 15:22] andrewcraik commented on #9122
@gita-omr I think you and others on your team have done this? Just trying to clean-up the issues for the release...

[2020-08-19 15:23] babsingh commented on #9625
This issue can be closed. JEP383 is complete. Related pull requests: https://github.com/eclipse/openj9/pull/9697, https://github.com/eclipse/openj9/pull/9865, https://github.com/eclipse/openj9/pull/10239, https://github.com/eclipse/openj9/pull/10274, https://github.com/eclipse/openj9/pull/10400, https://github.com/eclipse/openj9/pull/10402 and https://github.com/ibmruntimes/openj9-openjdk-jdk15/pu

[2020-08-19 15:28] gita-omr commented on #9122
Yes, was done here: https://github.com/eclipse/openj9/pull/10214

[2020-08-19 15:32] keithc-ca commented on #10418
Silly me for assuming AIX would play nice. :-(

[2020-08-19 15:33] #9625 closed

[2020-08-19 15:35] keithc-ca commented on #10418
My guess is that the compiler is simply omitting the debug information for empty arrays and do `ddrgen` can't know to generate the `data` and `dataEA` methods. I'll have to investigate to confirm.

[2020-08-19 15:35] VermaSh commented on #10376
I'll take a look at this

[2020-08-19 15:41] andrewcraik commented on #9122
Closing as completed - thanks!

[2020-08-19 15:41] #9122 closed

[2020-08-19 15:42] andrewcraik commented on #9816
@rpshukla could you have a look?

[2020-08-19 15:43] andrewcraik commented on #9816
FYI @liqunl

[2020-08-19 15:44] andrewcraik commented on #8872
Looks like another gc timing / object lifetime test issue - I am going to push this out to the next release so we can try to clean up the two issues together.

[2020-08-19 16:09] mnalam-p commented on #9331
@IBMJimmyk  The [problematic loop](https://github.com/openjdk/jdk/blob/master/src/java.base/share/classes/java/math/BigInteger.java#L3359) you mentioned is invoked from [here](https://github.com/openjdk/jdk/blob/master/src/java.base/share/classes/java/math/BigInteger.java#L3329). I don't see how the new and old array can be the same.

[2020-08-19 16:11] Hello71 opened #10423 "Change default branch for openj9-omr to openj9"
[code]

I guess this was caused by https://github.com/eclipse/openj9-omr/commits/master/compiler/optimizer/OMRSimplifierTableEnum.hpp, but those changes were made 6 days ago, so I'm not sure why they haven't been caught by CI since then?

[2020-08-19 16:43] mstoodle opened #10424 "Curate GitHub topics related to OpenJ9"
Currently, github.com/eclipse/openj9 does not have any About topics registered for it, and the related topics that some repositories have selected (#openj9, #eclipse-openj9, #eclipse-openj9-vm) have no descriptions associated with them.

I suggest we decide which topics we should curate (rather than all of them) so people can standardize on one topic. I suggest #eclipse-openj9 even though it's a b

[2020-08-19 16:47] aarongraham9 commented on #10370
OpenJ9 `0.21` for Linux on `x86_64` with `-Xjit:disableCompactLocals` specified causes a `StackOverflowError` with the default Java stack size (`1M`).

[2020-08-19 16:50] IBMJimmyk commented on #9331
The trees definitely think the two arrays are the same. Under the `aladd` node the first node is the same for all three loads. I also looked at the tracefile and at the point of inlining it thinks all three array accesses are for the same array.

[2020-08-19 16:58] liqunl commented on #9816
@rpshukla We can first try to reproduce this issue to get its failure rate. At the same time, we can look at the core dump @dmitripivkine has looked at. @dmitripivkine Could you share the core dump and JDK with us?

[2020-08-19 16:59] r30shah commented on #9331
@mnalam-p  If you take a look at the log, the failing method is https://github.com/openjdk/jdk/blob/3fb8f4364d32c5172a02a7775b67bfb394224a57/src/java.base/share/classes/java/math/BigInteger.java#L2137 and it contains call to primitiveShiftLeft (https://github.com/openjdk/jdk/blob/8e4a4cdbe0d0e2270e0806d10e48ff678820bd9d/src/java.base/share/classes/java/math/BigInteger.java#L2631-L2637) In the meth

[2020-08-19 17:02] rpshukla commented on #9816
Linux grinder: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3752/
Mac grinder: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3753/

[2020-08-19 17:10] liqunl commented on #10028
I have tried grinding that job and nothing happened. I can't run many repetitions in one grinder due to the limit, so I have to do many grinders. I can definitely try it again.

Due to other work, I haven't been able to get back this the security manager failures. I'll try to look at it this week.

[2020-08-19 17:16] DanHeidinga commented on #10424
See also earlier discussion on this started by @fjeremic: https://github.com/eclipse/openj9/issues/5034

I think it stalled previously on getting a bugzilla opened for the eclipse webmaster.  Which we should just do after ~a week of discussion on this.  Tentatively aim to have it opened by Wed Aug 26?

[2020-08-19 17:54] #10171 closed

[2020-08-19 18:21] dmitry-ten commented on #10397
I modified #10408 to only deliver the fix to incorrect signatures, but not to mismatching class unloaders since the former is a more serious bug but has a simple fix.
Regarding this issue I determined that caching with the actual class loader and then doing 2 queries at retrieval: one with class loader of the referencing method and one with system class loader sometimes produces incorrect results.

[2020-08-19 18:26] #10392 closed

[2020-08-19 18:51] gacholio commented on #10028
Hint: If you switch to the old web UI on the farm, you can grind a much larger set of jobs.

[2020-08-19 19:12] #10418 closed

[2020-08-19 20:27] Hello71 commented on #10423
ah, I was misled by the fact that openj9-omr's default branch is master, not openj9. maybe that should be changed?

[2020-08-19 20:45] gacholio commented on #10423
master is a direct mirror of OMR master - the openj9 branch is updated from master once the code has been verified through the builds.

[2020-08-19 20:46] 0xdaryl commented on #10423
This will very likely be fixed after the next successful OMR Acceptance build.  #10388 was just merged which I believe may be the source of the error.

[2020-08-19 21:21] Hello71 commented on #10423
right, I'm saying that I just went to https://github.com/eclipse/openj9-omr and assumed that that was the openj9 omr code (since I remembered that it is *not* at https://github.com/eclipse/omr), but in fact it is at https://github.com/eclipse/openj9-omr/tree/openj9. I'm suggesting that the default branch (HEAD) should be changed to openj9, to avoid some confusion for future users, even if minor. I

[2020-08-19 21:22] Hello71 commented on #10423
I see that now, thanks!

[2020-08-19 23:49] robucf opened #10427 "Tomcat webapps / WARs are not added to cache"
We are trying out OpenJ9 in hopes it helps improve startup times for the webapps we have deployed in Tomcat.  We have around 30 webapps (Spring based WARs) deployed in Tomcat.  I noticed when inspecting the cache only Tomcat lib is cached, none of the classes or lib folders of the various web apps are in the cache.  Is there a fix for this or setting?  When trying the fat jar equivalent of the WAR

[2020-08-20 02:37] gacholio commented on #10423
@jdekonin @AdamBrousseau

[2020-08-20 02:48] gacholio commented on #10427
@hangshao0

[2020-08-20 02:50] AdamBrousseau commented on #10423
I don't think changing the default branch will cause any infra/build issues so I have no objections but we'd have to keep an eye out. I think it would be up to the team leads to make a decision and we'd have to raise it with the Eclipse Admins since committers don't have permissions change it.

[2020-08-20 03:20] mpirvu opened #10428 "Improve performance of PersistentAllocator for JITServer"
Experiments have shown that scalability of JITServer is affected by the implementation of the persistent allocator. The current implementation of the persistent allocator uses 12 linked lists of freed blocks: 11 of them for small fixed sized blocks (8, 16, 24,.. 88 bytes) and one of them for all larger blocks, sorted by size.
When a client terminates, all its corresponding data structures (most of

[2020-08-20 03:30] mpirvu commented on #10428
Statistics of small block sizes allocated by the persistent allocator at JITserver
[code]
The vast majority of allocations are 16 bytes in size. Having dedicated linked lists for sizes until 112 (inclusive) captures 99.42% of all allocations. Still 0.58% of 4360649 allocations (~25K) are large allocations that will be put onto a single linked list.

[2020-08-20 03:35] mpirvu commented on #10428
Statistics of large block sizes allocated by the persistent allocator at JITServer
[code]
Most of the larger blocks are smaller than 1.5K, but a few of them are quite large

[2020-08-20 05:36] knn-k commented on #10413
The crash with `java/util/Collections/Enum.java.Enum` in https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/15/ is the same.

R19=0000000099669900 (eye catcher), and R2=0000FFFF85A3F064 points to compiled code of `com/sun/tools/javac/comp/Infer$InferenceContext::notifyChange()`.

[2020-08-20 10:55] robucf commented on #10427
This can probably be quickly replicated by building a war file from the spring project you used to test fat jars with, drop it into Tomcat (we are using 9) webapps folder, start Tomcat, it will unpack the WAR, start the webapp, then inspect the cache classpaths, it will only have the ones from tomcat/lib and nothing from the class or lib folders from the unpacked war.

When fat jar support was imp

[2020-08-20 13:35] DanHeidinga commented on #10423
I don't have an issue with changing the default branch to openj9.  @AdamBrousseau if you open a bugzilla, I'll +1 it

[2020-08-20 13:38] theresa-m commented on #10071
The gc/vm and related docs part of this issue is complete.

[2020-08-20 13:39] theresa-m commented on #9912
Hi @mreuvers I've sent a follow up re this issue on slack.

[2020-08-20 14:18] fjeremic commented on #10424
I totally forgot about that issue. I support using the list we came up with in #5034 as well and I agree on just pulling the trigger on this on Aug. 26th so it doesn't get lost again. Thanks!

[2020-08-20 14:30] AdamBrousseau commented on #10423
https://bugs.eclipse.org/bugs/show_bug.cgi?id=566231

[2020-08-20 14:44] DanHeidinga commented on #10423
Closing as the default branch has been updated

[2020-08-20 14:44] #10423 closed

[2020-08-20 15:12] r30shah opened #10429 "Move the recognition of Unsafe.copyMemory to recognized call transformer"
While working on [1], I found that both Power and X86 codegen, recognizes JNI calls to Unsafe.copyMemory calls which might escape the optimizer and transform it and generates instructions for inlining System.arrayCopy. There is a fair amount of code duplication between both and also On Z we do not recognize it. As discussed in [2], we should add the recognition of JNI call Unsafe.copyMemory to Rec

[2020-08-20 15:27] harryyu1994 commented on #7965
## SPECjbb2005 on Power

SPECjbb2005 bops = 72214
SPECjbb2005 bops = 72204
SPECjbb2005 bops = 72304
SPECjbb2005 bops = 72690
SPECjbb2005 bops = 71765
Average bops = 72235.4

SPECjbb2005 bops = 69579
SPECjbb2005 bops = 69860
SPECjbb2005 bops = 70412
SPECjbb2005 bops = 70350
SPECjbb2005 bops = 69376
Average bops = 69915.4

3.3% throughput drop

## Summary
- 1% throughput drop on x86
- 1-2% throughpu

[2020-08-20 15:34] mpirvu commented on #7965
@harryyu1994  could you please make a summary of all the experiments that were tried? It seems that only Power sees more than 2% regression from the move to shift3

[2020-08-20 15:49] zl-wang commented on #7965
it is within expectation.  i remembered the overhead was about 2.5% previously we did the experiments.

[2020-08-20 17:45] harryyu1994 commented on #7965
# Shift 0 vs. Shift 3 Summary

## X86

#### Daytrader7
- **1% throughput drop**
- Shift 0: Throughput = 2850.45
- Shift 3: Throughput = 2819.82

#### Marius' Daytrader7 Experiment
- **2% throughput drop**
- Shift 0: Throughput = 3455.40
- Shift 3: Throughput = 3530.25

#### AcmeAir in Docker
- **no throughput drop observed**
- Shift 0: Throughput = 5231.12
- Shift 3: Throughput = 5225.64

#### Qua

[2020-08-20 19:06] vijaysun-omr commented on #7965
@zl-wang I am worried by the high throughput loss on Power still (in excess of 3%). I don't know if you can afford to slow down everything 3+% inside OpenShift on Power. While I agree we used to have an overhead of approximately 2-3% on all platforms previously due to the shift, we now find that the overhead on other platforms (X86 has more data shown than Z) is lower. Can you please try the same

[2020-08-20 19:10] robucf commented on #10427
So that's why it doesn't work, so OpenJ9 won't be able to help us out.  Is there anything that can be done?

[2020-08-20 19:44] hangshao0 commented on #10427
Unfortunately I don't see anything we can do on the OpenJ9 side.

Need to change the code in WebappClassLoaderBase or use another class loader to load classes from WAR. I am not sure whether any of these is possible/easy.

[2020-08-20 19:54] zl-wang commented on #7965
@vijaysun-omr  i will give DT7/OpenLiberty a spin next as I talked to @harryyu1994

[2020-08-20 20:36] robucf commented on #10427
that sucks, thank you for looking into it.

[2020-08-20 22:37] zl-wang commented on #7965
shift0 average throughput:  2798/s
shift3 average throughput: 2757/s
The gap is about 1.5%.

However, the up-down in the same run could be as big as 3-4%.  haven't investigated why it is not as stable as my older driver:  this one is July 29 build on Adopt site, as harry suggested a recent build.

[2020-08-20 23:37] dmitry-ten commented on #10215
This should be closed now, fixed by #10408.
The test [passes](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/9787/) now.

[2020-08-20 23:40] dmitry-ten commented on #10269
I think it's the same failure as #10215 and thus can be closed as well @mpirvu.

[2020-08-21 00:40] mpirvu commented on #10215
Closing based on the comment above

[2020-08-21 00:40] #10215 closed

[2020-08-21 00:42] mpirvu commented on #10269
Closing based on the above comment

[2020-08-21 00:42] #10269 closed

[2020-08-21 02:18] knn-k opened #10432 "Implement monitor enter/exit VM helper call for value types on AArch64"
See #9110 (z), #9122 (p) and #9105

[2020-08-21 02:34] knn-k commented on #10413
There are 19 SEGVs in https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/16/consoleText, and they all look like the same problem with R19=0000000099669900.

[2020-08-21 08:12] knn-k commented on #10413
- `_interfaceDispatch` in PicBuilder loads the receiver class from the receiver before it calls `jitLookupInterfaceMethod`.
- Examining the receiver value from the stack in the core file, it is 0x0002e800.  That is the address of a Class object as shown below.  Loading its first word is 0x99669966, the eye catcher value in question.

[code]

It means the register for the receiver `x0` had the wron

[2020-08-24 03:00] knn-k commented on #10126
The same failure in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/230/consoleText
It is a rare example of this failure with a compressed refs build.

[2020-08-24 14:04] JasonFengJ9 commented on #10345
Adding other hidden class failures:

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_ppc64_aix_Nightly/26/consoleFull
[code]

[2020-08-24 14:11] JasonFengJ9 opened #10435 "JDK15 java/lang/StackWalker/CallerSensitiveMethod/Main.java failure - RuntimeException: Got class GetCallerClassTest$LambdaTest$$Lambda$3/0000000022A31F70, but expected class GetCallerClassTest$LambdaTest"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_ppc64_aix_Nightly/26/consoleFull

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
02:43:27  https:

[2020-08-24 14:19] JasonFengJ9 commented on #10150
Another similar failure at https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_ppc64_aix_Nightly/26/consoleFull
[code]

[2020-08-24 14:48] JasonFengJ9 opened #10436 "JDK Next compilation failure - com/ibm/gpu/Maths.java:32 error: warnings found and -Werror specified"
Failure link
------------

https://ci.eclipse.org/openj9/job/Build_JDKnext_s390x_linux_OpenJDK/286/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-08-24 15:01] vijaysun-omr commented on #7965
Can we try to get a Daytrader7 run done on Z as well so that we have more than just that one data point ?

@zl-wang fluctuation of 3-4% is high enough that we don't know if the overhead is in the 3% range on Power in this case as well. Ideally we should try to understand what is different on Power before going ahead but I am okay with delivering the change to make things portable wrt compressed re

[2020-08-24 15:27] JasonFengJ9 commented on #9032
Similar errors occurred JDK11 Windows at https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/127/consoleFull
[code]

[2020-08-24 16:59] AlenBadel commented on #8671
@SueChaplain As an FYI, I've finalized the design doc that can be found here: https://github.com/eclipse/openj9/issues/8671#issue-571666508. I will be making doc changes to cover the options we're adding, and modifying the docs of the `-Xlp*` options that are currently supported. The spreadsheet outlines the changes that are required.

[2020-08-24 17:24] JasonFengJ9 commented on #9010
Another occurrence at https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/124/consoleFull

[2020-08-24 18:19] dmitry-ten commented on #9221
150 [runs](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/9804), 0 failures.
@mpirvu this issue was most likely fixed by other changes and can be closed.

[2020-08-24 18:20] dmitry-ten commented on #9169
50 [runs](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/9805/), 0 failures.
@mpirvu  this issue can be closed. All the above commits seem to have fixed it.

[2020-08-24 19:15] dmitripivkine commented on #10391
@megazone23 You can use `-Xlp4k` or `-Xlp:objectheap:pagesize=4k -Xlp:codecache:pagesize=4k` to disable using of Huge pages explicitly as a temporary solution (I know this is a little bit weird).
Meanwhile there is a discussion how to align HotSpot and OpenJ9 Large Page related options. You can take part in it if you like. It is unlikely default behaviour of OpenJ9 would be changed to **not** use

[2020-08-24 19:17] #10435 closed

[2020-08-24 19:18] DanHeidinga commented on #8450
This won't be complete for 0.22, moving forward

[2020-08-24 19:21] DanHeidinga commented on #9048
@knn-k will this complete for the 0.22 release?  Should it be moved forward to 0.23?

[2020-08-24 19:23] DanHeidinga commented on #10294
This hasn't gotten any investigation so I'm moving it out of the jdk15 (0.22) release.

[2020-08-24 19:25] DanHeidinga commented on #10296
Detailed NPE messages aren't going to make this release - moving out

[2020-08-24 19:26] DanHeidinga commented on #9442
@JasonFengJ9 Is there anything needed here for JDK15?

[2020-08-24 19:30] mpirvu commented on #9221
Closing based on the above comment

[2020-08-24 19:30] #9221 closed

[2020-08-24 19:32] mpirvu commented on #9169
Closing based on the above comment

[2020-08-24 19:32] #9169 closed

[2020-08-24 19:34] JasonFengJ9 commented on #9442
@DanHeidinga this is same as https://github.com/eclipse/openj9/issues/9018, can be moved to next release as well.

[2020-08-24 20:23] DanHeidinga opened #10444 "[Proposal] Create an "openj9-utils" repo for utility programs not yet part of an OpenJ9 release"
There have been various discussions with groups that have developed useful tools and utilities for working with classes, jar files, modules, etc. that need a common place for continued collaborative development.

I propose we create a new OpenJ9 repo (tentatively named: `openj9-utils`) to hold these tools as an interim home for them.  Tools may end up with this new repo as their long term home or

[2020-08-24 21:13] fjeremic commented on #9428
Here is the remaining list of tracing options not under a `traceOptimization`:

[code]

The only ones left that we could possibly clean up is the relocating tracing. We seem to have 5 options for this:

- TR_TraceRelocatableDataCG
- TR_TraceRelocatableDataDetailsCG
- TR_TraceRelocatableDataDetailsRT
- TR_TraceRelocatableDataRT
- TR_TraceReloCG

@dsouzai thoughts on merging all of these tracing opt

[2020-08-24 21:19] fjeremic commented on #9120
Back to trying to finish this off in the next month or so. Trying to knock off the easier items first, so I'm resuming #9428.

[2020-08-24 21:32] 0xdaryl commented on #10412
@DanHeidinga @pshipton : can this be added to the agenda for the Sept 2 OpenJ9 community call (I'm not available this week)?  I just want a couple of minutes to introduce it and to give it more publicity.  Thanks.

[2020-08-24 21:35] dsouzai commented on #9428
At most you could only merge them into two, something like `TR_TraceReloCG` and `TR_TraceReloRT`; the former being used for tracing during an AOT compile, the latter is used for information during an AOT load. However, some thoughts after scanning through the code:

1. Looks like `TR_TraceRelocatableDataRT` and `TR_TraceRelocatableDataDetailsRT` are pretty much useless because it's only used in [1

[2020-08-25 00:06] knn-k commented on #9048
@DanHeidinga If this is caused by OpenSSL on test servers as the native `sha256sum` command suggests, the only thing we can do is to stop using the native crypto library from OpenJ9.

[2020-08-25 00:11] mpirvu commented on #10428
Implementing the idea above I get the following stats for deallocations at JITServer after a full AcmeAir run.
The bins represent the number of nodes we had to traverse through the list of variable size blocks to find the proper place for insertion:
[code]
So sometimes we have to go for more 1000 elements through that list.
I feel that a BST is needed here.

[2020-08-25 00:47] DanHeidinga commented on #10412
I've added it to the AOB section of the meeting to discuss on Sept 2

[2020-08-25 02:05] #9626 closed

[2020-08-25 05:00] knn-k commented on #10413
Another symptom with JDK 8 on AArch64: Timeout after 960 seconds in javac.
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/20/consoleText

[code]

[2020-08-25 12:48] pshipton opened #10448 "OpenJ9 JVM terminates with Illegal instruction - AIX 7200-04-01-1939 (even java -version)"
Copied from https://github.com/AdoptOpenJDK/openjdk-support/issues/166

Summary
======
In our AIX environment the OpenJ9 JVM will (in some scenarios) refuse to run if max heap size is default, or set too high.
This affects 11.0.6, 11.0.7 and 11.0.8 OpenJ9 JVM.

Hotspot JVM 11.0.7 and Java 8 does not seem to exhibit this behaviour.

Steps to reproduce
============
Here is where it gets tricky. I do

[2020-08-25 12:49] pshipton commented on #10448
@gita-omr pls take a look.

[2020-08-25 13:17] matsremman commented on #10448
Hello, i'm the poster of this issue in AdoptOpenJDK. We'll be trying to answer any question you might have, and supply any additional information you may require. We're in the process of upgrading our software stack, and we are waiting for the IBM Support for Runtime to be signed, so we can pursue the issue from that angle as well if that makes any difference.

[2020-08-25 13:28] VermaSh commented on #9331
@mnalam-p any updates on this?

[2020-08-25 13:29] theresa-m commented on #6462
I haven't had a chance to take a look at this. Was hoping to after Java 15 but...

[2020-08-25 13:49] tajila commented on #9912
@sharon-wang can you please take over this issue

[2020-08-25 14:45] #5458 closed

[2020-08-25 15:19] sharon-wang commented on #9912
@tajila sure thing, I'll start looking into this.

[2020-08-25 15:39] gita-omr commented on #10448
@matsremman thanks for all the info. Would it be possible to get:

1) system core file
2) tracefile generated by adding this option: -Xjit:'{java/lang/String.([BIIZZ)V]}(traceFull),log=tracefile.txt'

[2020-08-25 15:49] mnalam-p commented on #9331
@VermaSh I did reproduce the issue in JDK15 and was implemented an initial fix, which generates correct IL and eventually passes an individual test run. However, the fix is not enough. It was still getting commoned with loop reduction calculation, yielding wrong result in longer run. I am currently investigating on this area on how to approach it.

[2020-08-25 16:19] dsouzai commented on #7494
JIT support has been added in https://github.com/eclipse/openj9/pull/10369

[2020-08-25 17:09] VermaSh commented on #9331
@mnalam-p

that's great!

Will you be able to make the September 15 deadline for 0.22.0 Java 15 release?

[2020-08-25 17:15] mnalam-p commented on #9331
@VermaSh Based on my current understanding I should be able to make it, unless something more subtle emerges.

[2020-08-25 17:41] pshipton commented on #10375
@jdekonin

[2020-08-25 17:54] pshipton opened #10452 "jdk8 acceptance failing to compile ExtendedOptionsImpl.c on AIX"
This is blocking the JDK8 acceptance build.

The build failure is due to https://github.com/ibmruntimes/openj9-openjdk-jdk8/commit/2a70fb17f0364949ed86460d11c06a6e42d4e2d2

https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64_aix_OpenJDK8/55
[code]

[2020-08-25 17:57] DanHeidinga commented on #10452
See https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/438

[2020-08-25 17:57] pshipton commented on #10375
Also osx1013-x86-4
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_OpenJDK8/15

[2020-08-25 17:59] DanHeidinga commented on #10452
And @keithc-ca's PR: https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/440 which we chose not to merge as OpenJDK had a fix in progress - https://bugs.openjdk.java.net/browse/JDK-8251546 - which appears to have been merged ~8 hours ago

[2020-08-25 18:31] JasonFengJ9 commented on #10316
Yup, you are right, @adamfarley

[2020-08-25 18:31] #10316 closed

[2020-08-25 18:37] keithc-ca commented on #10030
The fix for jdknext is pending #10450 and acceptance of the staging branch.

[2020-08-25 20:42] gita-omr commented on #10394
Labeled arch:power since the code originated from power.

[2020-08-25 20:50] ChengJin01 commented on #5058
I am currently setting up the test environment for the internal tests on Debian(5.0) with BBL/U540. Will get back to the investigation on the latest linux kernel + OpenSBI after the test is completed.

[2020-08-25 21:05] JasonFengJ9 opened #10454 "JDK16 Valhalla ValueTypeTests FAILED: testGCFlattenedValueArrayWithLongAlignment"
Failure link
------------

From an internal build `Test_openjdkValhalla_j9_sanity.functional_x86-64_linux_valhalla_Nightly_testList_1/62`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

22:47:44  For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder

[2020-08-25 21:19] JasonFengJ9 opened #10455 "JDK16 jdk_foreign_0_FAILED : ClassCastException: java.lang.invoke.DirectHandle incompatible with java.lang.invoke.BoundMethodHandle"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_ppc64_aix_Nightly/222`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
00:36:21  ht

[2020-08-25 21:27] JasonFengJ9 opened #10456 "JDK16 jdk_lang_j9_0_FAILED : CompactString test failures"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_ppc64_aix_Nightly/222`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
00:36:21  htt

[2020-08-26 09:34] matsremman commented on #10448
I will try to get the environment available for downtime and see if i can recreate it. I don't have any existing system core files, but i do believe we have some jitdump files from earlier (these are from version 11.0.6 but it's the same symptoms of illegal instruction). Would these be of interest/help until we can get fresh ones?

[2020-08-26 12:34] JasonFengJ9 commented on #10452
There is no new OpenJDK8 acceptance build yet at https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK8-Acceptance/. Does the mirror job need a kick?

[2020-08-26 14:07] #9428 closed

[2020-08-26 14:12] JasonFengJ9 opened #10460 "JDK8 MauveMultiThreadLoadTest_special_7 FAIL: gnu.testlet.javax.print.attribute.EnumSyntax.serialize"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_xl_Nightly_mauveLoadTest/110/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links

[2020-08-26 15:10] DanHeidinga commented on #9328
@hangshao0 Do you have an update on this?  We're fast approaching the M2 build and should be aiming to have fixed as many of the hidden classes issues as possible

[2020-08-26 15:11] andrewcraik commented on #9816
Does not currently reproduce - and it did reproduce previously. Closing as works on later build.

[2020-08-26 15:11] #9816 closed

[2020-08-26 15:12] DanHeidinga commented on #9331
Is this stop ship?  Will this close in the next couple of days?  Or does it need to be moved out of the release?

[2020-08-26 15:18] DanHeidinga commented on #9788
Moving this out based on community call discussion indicating that this isn't required but should be documented in the release notes

[2020-08-26 15:24] mstoodle commented on #10424
Damn, I looked before opening this one but somehow missed that issue.

Scraping the list from the description for everyone's convenience:
- compiler
- garbage-collector
- gc
- java
- jit
- jvm
- interpreter
- runtime
- virtual-machine

To which I'll add
- eclipse-openj9

Is anyone not ok with #openjdk being there? OpenJ9 works with OpenJDK, but I have a slight concern "someone" will be annoyed if

[2020-08-26 15:50] hangshao0 commented on #9328
I am launching some builds to verify my local changes. Will open a pull request soon.

[2020-08-26 15:57] fjeremic commented on #10424
There is 12 occurrences of "OpenJDK" on our [README](https://github.com/eclipse/openj9) and About description so I don't see why that might be a problem. I'm indifferent though.

[2020-08-26 16:02] AlenBadel opened #10461 "Replace ambiguous return values with defined values within j9argscan"
A number of parsing functions within `j9argscan.c` return ambiguous integer values.
i.e https://github.com/eclipse/openj9/blob/b54aca6536d55c5b685866876e9d186fe58686d6/runtime/util_core/j9argscan.c#L186-L220

Replace all return values to be either `OPTION_OK`, `OPTION_MALFORMED`, `OPTION_OVERFLOW` or any respective defined `OPTION_*` value.
https://github.com/eclipse/openj9/blob/ff2b7f5e827d4310bc

[2020-08-26 16:56] mnalam-p commented on #9331
@DanHeidinga I should be able to make it before Aug 30.

[2020-08-26 17:10] mnalam-p commented on #9331
The root cause of the issue is not the commoning of the node, rather the order of the IV increment and opcodes that needs to be vectorized.
In general cases, a loop
`for (int i=0; i<n; i++)
   A[i] = B[i]`
generates something like the following,
 `vstore  A[i], B[i]
istore i, i + 4
ificmplt i, n`
Note that the i used in address calculation is incremented after the vector operation. However, in thi

[2020-08-26 17:31] DanHeidinga commented on #10424
OpenJ9 is not OpenJDK though.  While it builds with the OpenJDK class libraries, we should be clear that the JVMs are separate.  I'd prefer not to tag this repo with `openjdk`.

[2020-08-26 18:28] gita-omr commented on #10448
@matsremman , yes, please provide those jitdumps meanwhile.

[2020-08-26 18:51] fjeremic commented on #9331
Would it be possible to check in a deterministic JIT unit test for this as part of the fix? I can help to teach whomever how to do that. We have a bunch of existing unit tests already written where we specify pretty specific JIT options to make it 100% deterministic. This prevents future regressions in these areas and can catch other bugs related to the original change. There is an easy to follow

[2020-08-26 19:03] DanHeidinga commented on #10444
Raised bugzilla: https://bugs.eclipse.org/bugs/show_bug.cgi?id=566420

[2020-08-26 19:18] mnalam-p commented on #9331
@fjeremic That would be really helpful :)

[2020-08-26 19:40] r30shah commented on #9331
I did add the SIMD opt test in https://github.com/eclipse/openj9/pull/9908. It can be used as a guide to add the test (May be we can add another unit test in same test umbrella) ?

[2020-08-26 20:55] pshipton commented on #10144
This was resolved.

[2020-08-26 20:55] #10144 closed

[2020-08-26 20:55] pshipton commented on #10147
Resolved now.

[2020-08-26 20:55] #10147 closed

[2020-08-26 20:56] pshipton commented on #10148
Looks resolved now.

[2020-08-26 20:56] #10148 closed

[2020-08-26 21:03] pshipton commented on #10345
Created https://github.com/AdoptOpenJDK/openjdk-tests/pull/1942 to un-exclude the testing.

[2020-08-26 21:14] pshipton commented on #10146
Looks resolved.

[2020-08-26 21:14] #10146 closed

[2020-08-26 22:22] mnalam-p commented on #9331
Kindly review the [WIP PR.](https://github.com/eclipse/openj9/pull/10463)

[2020-08-26 22:31] hangshao0 commented on #10345
LambdaNestedInnerTest.java is problematic. There is a test case in that file saying it is testing an exception to be thrown, but I don't see the code checking for that exception. RI does not throw an exception for that case either.

[2020-08-27 00:06] mpirvu commented on #10428
Instead of a BST I implemented a indexing scheme where we keep pointers towards nodes of the list at power of two values. Thus if I search for a block of size 1500 I can start from the 1024 point and not from the very beginning. The following is the same statistics for number of nodes visited during deallocations.
Note that the maximum value has dropped from 1223 to 317, so this is an improvement,

[2020-08-27 01:41] smlambert commented on #10345
@pshipton - based on @hangshao0 comment above, do you still want to proceed with https://github.com/AdoptOpenJDK/openjdk-tests/pull/1942 or adjust it to keep LambdaNestedInnerTest excluded?

[2020-08-27 02:27] pshipton commented on #10345
@smlambert I think we should still proceed with AdoptOpenJDK/openjdk-tests#1942. We can confirm if LambdaNestedInnerTest.java passes on Hotspot or not, it looks to me like it does https://ci.adoptopenjdk.net/job/Test_openjdk15_hs_sanity.openjdk_x86-64_mac/26/testReport/

Even if the test is problematic for OpenJ9 and we decide to exclude it, it can be excluded via another PR which details the reas

[2020-08-27 02:54] knn-k opened #10465 "AArch64: SEGV in java/lang/String.regionMatches(ZILjava/lang/String;II)Z"
Failure link
------------
`java/lang/invoke/MethodHandles/CatchExceptionTest.java.CatchExceptionTest` failed in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/233/consoleText

Optional info
-------------

- intermittent failure: yes
- regression or new test: regression

Failure output (captured from console output)
---------------------------------------------

[cod

[2020-08-27 03:00] knn-k commented on #10465
This crash occurs at 0xffff94a8413c with x18=NULL.  The value of x18 loaded at 0xffff94a84138 seems to point to a slot in the Java stack, not a reference to a Java object.
x20 is the Java stack pointer in AArch64 JIT private linkage.

[code]

[2020-08-27 05:59] Akira1Saitoh commented on #10465
The value in x18 at 0xffff94a84134 comes from `[x20 + #312]` which the first argument (x0) is saved to.
[code]

[2020-08-27 07:17] knn-k commented on #10465
Yes, `[x20, #312]` contains the same value as that in `[x20, #240]`.

[code]

The address 0x00260258 is close to the Java stack pointer (x20, 0x002600E0), but it is out of the current frame (0x002600E0 - 0x002601F0).

The caller method is unknown.  LR (x30) points to `returnFromJIT1`, which means the compiled `String.regionMatches()` was called from an interpreted method.

[2020-08-27 08:06] matsremman commented on #10448
[3x_jitdumps.zip](https://github.com/eclipse/openj9/files/5134942/3x_jitdumps.zip)
Here's 3 jit dumps

[2020-08-27 08:13] austin0 commented on #10313
Have just seen this again (https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-mac-x64-openj9-macosXL/18/console) @Leonardo2718 .

[code]

[2020-08-27 11:50] knn-k commented on #10465
The Java stack slots that hold the arguments to `String.regionMatches()` look as the following:

[code]

The values and their types don't match at all.  I suspect the Java stack pointer had wrong value when `String.regionMatches()` was called.

[2020-08-27 13:43] pshipton commented on #10444
Repo is created https://github.com/eclipse/openj9-utils

[2020-08-27 13:43] #10444 closed

[2020-08-27 15:03] keithc-ca commented on #10030
On second thought, we don't need to wait to fix jdknext: ibmruntimes/openj9-openjdk-jdk#228

[2020-08-27 16:23] calle2010 opened #10472 "Crash in Eclipse IDE with Sonarlint plugin"
Java -version output
--------------------

    openjdk version "11.0.8" 2020-07-14
    OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.8+10)
    Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.21.0, JRE 11 Windows 10 amd64-64-Bit Compressed References
    20200715_679 (JIT enabled, AOT enabled)
    OpenJ9   - 34cf4c075
    OMR      - 113e54219
    JCL      - 95bb504fbb based on jdk-11.0.8+10)

[2020-08-27 16:24] sjmini opened #10473 "Xcheck:jni does not validate the type of classloader object which causes segmentation fault."
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------

DefineC

[2020-08-27 16:50] calle2010 commented on #10472
Between the two crashes I destroyed the class cache. After destroying the cache I started Eclipse ran the analysis, stopped it and then did the same again. The crash happened on the second run.

Also worth noting that this crash doesn't happen on AdoptOpenJDK Hotspot 11.0.8.

[2020-08-27 16:55] pshipton commented on #10472
@calle2010 pls share a core dump with @hangshao0 privately.

[2020-08-27 16:58] Leonardo2718 commented on #10313
Unfortunately, it appears that core files can't be produced on MacOS (see https://github.com/AdoptOpenJDK/openjdk-build/issues/1778). Without a core file, I don't really have a way of investigating this issue.

[2020-08-27 16:59] dmitripivkine commented on #10416
OSX assigns system `pagezero` (low virtual memory range) size 4GB by default. But Compressed Refs JVM needs this memory to allocate Suballocator default size is 200 MB so it is exactly what you observe.
So to prevent this an application should be built with `-pagezero_size 0x1000` option for Linker. It assigns `pagezero` to 4K.
See https://github.com/eclipse/omr/blob/2f7db34f45d5825579b194ae192f28

[2020-08-27 17:02] Leonardo2718 commented on #9416
From https://github.com/eclipse/openj9/issues/10313#issuecomment-682071756

[2020-08-27 17:22] andrewcraik commented on #9416
I think this has to move to the backlog until the adopt issue is fixed

[2020-08-27 17:27] kgibm commented on #10416
@dmitripivkine Interesting, thank you. So you think this is something in the Eclipse build process?

[2020-08-27 17:35] calle2010 commented on #10472
I've sent an email.

[2020-08-27 17:36] dmitripivkine commented on #10416
Probably. I am not familiar how all this thing builds together but seems when executable binary has been linked this option was missed

[2020-08-27 17:39] kgibm commented on #10416
@dmitripivkine That makes sense, I'll investigate on the Eclipse side. Thank you so much!

[2020-08-27 17:39] #10416 closed

[2020-08-27 18:03] IBMJimmyk commented on #9331
I don't quite follow why commoning isn't a problem.

Say you have this:
[code]

Before vectorization you have something like this:
[code]
If `i+1` gets commoned, after vectorization you might get this:
[code]
The `i+4` inside the index for B is wrong.

[2020-08-27 18:21] sjmini opened #10476 "Missing NULL check of receiver object in Xcheck:jni"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------

Get<'ty

[2020-08-27 18:36] sjmini opened #10477 "Xcheck:jni misses NULL checks of char type of destination buffer causes segfault"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------
The last

[2020-08-27 18:42] hangshao0 commented on #10472
Can you try these 2 options to see if this crash disappears ?
1. `-XX:-ShareAnonymousClasses`
2. `-XX:-ShareUnsafeClasses`

[2020-08-27 18:48] pshipton commented on #10030
The changes have been merged.

[2020-08-27 18:58] hangshao0 commented on #10345
PR to exclude BasicTest and TypeDescriptorTest:
https://github.com/AdoptOpenJDK/openjdk-tests/pull/1944

[2020-08-27 19:04] sjmini opened #10479 "Xcheck:jni does not validate the usage of incompatible type object in FromReflectedMethod"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------

Accordi

[2020-08-27 19:06] mnalam-p commented on #9331
Maybe I was not clear, I meant the root cause is not the commoning (Without commoning it may happen). The commoning seems to add another level of complexity to the issue. Thanks for the insight. I think you might be right. I will try to write up a test case and see how it goes.

[2020-08-27 19:16] gita-omr commented on #10448
Consulting with experts but I afraid these jitdumps don't tell me much since they contain traces not for the method that crashed. I think core and a tracfile will be more useful.

[2020-08-27 19:29] sjmini opened #10480 "Xcheck:jni does not validate NULL value of jvalue"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------

Native

[2020-08-27 19:31] #10397 closed

[2020-08-27 19:55] matsremman commented on #10448
We managed to get the system in a state where we can reproduce the illegal instruction. Java -version still works but once it's called through the software it's crashing (in a different method call):

Unhandled exception
Type=Illegal instruction vmState=0x00000000
J9Generic_Signal_Number=00000048 Signal_Number=00000004 Error_Value=00000000 Signal_Code=0000001e
Handler1=09001000A05FD5D0 Handler2=09

[2020-08-27 20:15] sjmini opened #10481 "Deleted Weak Global References are not validated by Xcheck:jni"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------

Similar

[2020-08-27 20:17] matsremman commented on #10448
Progress Openedge runs with a custom jvmStart - i checked the script and extracted the exact command:

/path/progress/dlc/bin/jvmStart -w /path/tmp/prowrk -a /path/progress/dlc/properties/AdminServerPlugins.properties::PluginPolicy.Progress.ProAdsv /path/progress/java/bin/java -Xjit:'{java/util/Hashtable.addEntry(ILjava/lang/Object;Ljava/lang/Object;I)V}(tracefull),log=/path/tmp/prowrk/tracefileXj

[2020-08-27 20:58] sjmini opened #10484 "zero capacity of local reference frame is allowed"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------

Accordi

[2020-08-27 21:18] fjeremic commented on #10448
That method looks totally bogus by the way:

That is not a valid method signature, so something weird is going on.

[2020-08-27 21:55] pshipton commented on #10484
@gacholio any comments?

[2020-08-27 21:58] gita-omr commented on #9331
@IBMJimmyk I completely agree that the problem you described in https://github.com/eclipse/openj9/issues/9331#issuecomment-682105215 exists and needs to be fixed. But I still believe the problem @mnalam-p described is a separate problem, it definitely exists even without commoning. I think we can fix those two problems in separate PRs, especially since, so far, we were not able to reproduce the co

[2020-08-27 22:00] fjeremic commented on #10448
I just hopped on a quick call after an invite from @matsremman via the OpenJ9 Slack. We debugged the issue live since it was so reproducible. We started off by isolating this to being a JIT issue (`-Xint`). The `-Xjit:verbose` log sowed a bunch of JIT compiles along with a bunch of AOT loads. AOT is always suspicious to me so next thing we did is verify there is an existing shared class cache in h

[2020-08-27 22:02] gacholio commented on #10484
I see nothing in the specification about 0 being illegal.

https://docs.oracle.com/en/java/javase/11/docs/specs/jni/functions.html#pushlocalframe
https://docs.oracle.com/en/java/javase/11/docs/specs/jni/functions.html#registernatives

[2020-08-27 22:08] sjmini commented on #10484
@gacholio
I have raised the issue because of below statements.
Below statements indicates that the value must not be 0.

PushLocalFrame
capacity: the minimum number of required local references. Must be > 0.

RegisterNatives
nMethods: the number of native methods in the class, must be greater than zero.

[2020-08-27 22:15] gita-omr commented on #10448
Yes, just wanted to say the same. No need to use the -Xjit option I suggested above. Unlikely it will produce anything.

[2020-08-27 22:19] matsremman commented on #10448
I agree this issue can be closed, but i would like to know how to raise an issue to get a service ticket so we can provide core files (we have a few of these).

[2020-08-27 22:24] pshipton commented on #10448
That is outside of the scope of the Eclipse OpenJ9 open source project, please directly contact the company you have a support contract with.

[2020-08-27 22:24] gacholio commented on #10484
Yep, sorry, I only read the synopsis for each. In that case, my vote is we update JNI check to make these warnings, and leave the VM code as it is.

[2020-08-27 22:25] matsremman commented on #10448
Ok, i'll wait for our support contract to be finalized and then raise an issue and refer to this issue. Thanks for your help.

[2020-08-27 22:29] #10448 closed

[2020-08-28 03:51] gacholio commented on #10481
J9 uses pools for references, so if a ref is deleted and a new one created, they may well share the same address. This is definitely not something we are going to change.

Can you provide some example code to illustrate the problem? Wondering if it's the re-use suggested above.

[2020-08-28 04:25] xiacijie opened #10485 "Contributing the implementation of abstract interpretation for BenefitInliner"
BenefitInliner description: https://github.com/eclipse/omr/issues/5488

In order to make BenefitInliner work, we need the language-specific implementations of the abstract interpretation. Therefore, the Java implementations will be contributed to OpenJ9.

## Parts to be contributed to OpenJ9:

J9AbsInterpreter.cpp
J9IDTBuilder.cpp

[2020-08-28 05:14] sjmini commented on #10481
@gacholio
Below is the code snippet.
The code causes a segmentation fault on OpenJ9. (Xcheck:jni does not validate it).
On other JVMs such as Hotspot, throws JNI error message when Xcheck:jni is enabled with the same code.

[code]

But, if the local reference is used as follow, OpenJ9 properly validate the problematic code when Xcheck:jni is enabled.
The error message is "JNI error in CallBooleanM

[2020-08-28 07:10] calle2010 commented on #10472
If I keep the cache that has failed before then I can reproduce the crash with both options.

If I destroy the cache before starting Eclipse then I can still reproduce the crash with ```-XX:-ShareAnonymousClasses```.
With ```-XX:-ShareUnsafeClasses``` I can't reproduce it.

Just to let you know, the other workaround I found was to use ```-Xaot:exclude={/org/sonar/java/*}```.

[2020-08-28 15:34] #9331 closed

[2020-08-28 16:29] pshipton commented on #10452
New content is only merged when there is a new build level. We are at jdk8u272-b04, so if the change gets into jdk8u272-b05, we'll get the change when this level is available. Discussed a plan to wait until Wed Sep 2 for this new level to appear, and if it doesn't appear then @keithc-ca will fix it manually.

[2020-08-28 17:06] pshipton commented on #10436
I believe this was fixed by https://github.com/eclipse/openj9/pull/10450

[2020-08-28 17:06] #10436 closed

[2020-08-28 17:33] pshipton commented on #10030
Seems I missed openj9.dataaccess, so I'll reopen this.

[2020-08-28 21:56] VermaSh commented on #10376
I was able to reproduce it on the first run however, the test takes about 2 -3 hrs to run. @mundaym is it possible to reduce test runtime?

[2020-08-31 00:43] JasonFengJ9 opened #10489 "JDK8 DaaLoadTest_daa2_ConcurrentScavenge_0_FAILED : ASSERTION FAILED ** at OwnableSynchronizerObjectBuffer.cpp:100: ((false))"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly/472/tapResults/
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
23:30:47  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=ppc64le_linux&TARGET=Da

[2020-08-31 01:30] JasonFengJ9 opened #10490 "JDK8 jdk_util_j9_0_FAILED TestAppletLoggerContext.java - Segmentation error vmState=0x00000000 at j9jit29.dll"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-32_windows_Nightly/140/consoleFull
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
23:16:27  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=x86-32_windows&TARGE

[2020-08-31 01:55] JasonFengJ9 opened #10491 "JDK11 cmdLineTester_libpathTestRtf_0_FAILED : ** ASSERTION FAILED ** at /omr/gc/base/ParallelDispatcher.cpp:174: ((false && (worker_status_reserved == _statusTable[workerID])))"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_OMR_testList_1/80/tapResults/
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
07:32:09  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=ppc64le

[2020-08-31 01:56] knn-k commented on #10432
Helpers `jitNewValue` and `jitNewValueNoZeroInit` are defined as `NEW_DUAL_MODE_HELPER` in arm64nathelp.m4 while all other dual mode helpers are `OLD_DUAL_MODE_HELPER` now.  `J9VM_JIT_NEW_DUAL_HELPERS` is undefined for AArch64.
https://github.com/eclipse/openj9/blob/e2a22beb9f93c5605eae747fc5aa8963f09498d1/runtime/codert_vm/arm64nathelp.m4#L249-L250
https://github.com/eclipse/openj9/blob/e2a22beb9

[2020-08-31 02:00] JasonFengJ9 commented on #10101
Another occurrence at https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly_mathLoadTest/104/tapResults/
[code]

[2020-08-31 02:00] knn-k opened #10492 "AArch64: Add support for NEW_DUAL_MODE_HELPER"
AArch64 has supported `OLD_DUAL_MODE_HELPER` only.
We need to add support for `NEW_DUAL_MODE_HELPER`.

[2020-08-31 02:01] knn-k commented on #10492
This came from #10432.

[2020-08-31 05:11] knn-k commented on #10492
There are lines like the following in runtime/compiler/runtime/Runtime.cpp:
[code]

[2020-08-31 15:12] keithc-ca commented on #10452
The compile errors on AIX and OSX seem to be fixed, however, there is a new issue on Linux which #10496 should fix.

Also, there's a test failure on OSX:
[code]
It's not immediately clear to me whether the solution is to simply upgrade the version of `libfontmanager.dylib`.

[2020-08-31 15:20] JasonFengJ9 commented on #10452
It's not immediately clear to me whether the solution is to simply upgrade the version of libfontmanager.dylib.

This is a machine specific issue as per https://github.com/eclipse/openj9/issues/10375

[2020-08-31 15:23] dmitripivkine commented on #10491
@RSalman FYI. I have result files downloaded and I am triaging this. This can be related with your or @gza060625 changes potentially

[2020-08-31 15:47] RSalman commented on #10491
The assert was introduced as part of the dispatcher work that I did. I'll take a look into this

[2020-08-31 16:31] dmitripivkine commented on #10491
[code]
An asserted thread `!j9vmthread 0x0031a000` (`!MM_EnvironmentBase 0x00003FFF34001AC8`) `workerID` is 2 `_statusTable[workerID]` for it is 4 (`worker_status_dying`)

[2020-08-31 17:06] RSalman commented on #10491
Thanks Dmitri, this confirms my suspicion that it's some sort of race between shutdown and task dispatch.

[2020-08-31 18:12] hangshao0 commented on #10472
[code]

@dsouzai

[2020-08-31 18:26] dmitripivkine commented on #10489
Corrupted pointer has been discovered in Ownable Synchronizer List (corrupted heap or stall pointer) and takes `0x00740073`  (`[ s.t. ]`) as a next object pointer.

[2020-08-31 20:41] dsouzai commented on #10472
@hangshao0 did you get a chance to look at the stack trace? Do you know what exactly is happening when the seg fault happens?

[2020-08-31 20:45] dmitripivkine commented on #10489
Bogus value has been added to the list by mutator thread (most likely jit code):
[code]
The Ownable Synchronizer List is built using `ownableSynchronizerLink` field (offset = 8 + 4 header size)
So we tried `0x80C61878` (garbage not marked) and got link to next "element"  `0x80c61890` (happen to be valid object). However it is not marked either so we advanced to next one `0x00740073` and asserted.

[2020-08-31 20:45] dmitripivkine commented on #10489
@andrewcraik FYI

[2020-08-31 21:00] hangshao0 commented on #10472
[code]

The native stack value does not seem to be correct.

[2020-08-31 21:07] dsouzai commented on #10472
Ok, are you able to get a valid native stack? I ask because given the version of OpenJ9 being used, it's possible it's related to https://github.com/eclipse/openj9/issues/9710 which was fixed recently(ish).

[2020-09-01 03:07] knn-k opened #10502 "AArch64: Crash in L_continueInterfaceSend"
Failure link
------------

The following tests fail in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/193/, and they all crash in L_continueInterfaceSend.

- java/util/EnumSet/JumboRange
- java/util/concurrent/PriorityBlockingQueue/WhiteBox
- java/util/stream/boottest/java.base/java/util/stream/StreamReuseTest

Optional info
-------------

- intermittent failure:

[2020-09-01 03:08] knn-k commented on #10502
The location of the crashes is:

[code]

[2020-09-01 03:48] knn-k commented on #10502
The caller method is:
[code]

Related PR:  #10126

[2020-09-01 04:50] calle2010 commented on #10472
I don't know how I could help to retrieve a valid nativ stack.

The description in #9710 rings a bell: "with a different version of some of the classes"

I can trigger the crash when I switch between the standalone and the connected mode of Sonarlint. As far as I understand it retrieves the checks from the server in connected mode. Also I see classpaths in the cache that look like temporary paths

[2020-09-01 06:42] knn-k commented on #10502
The mainline code that calls the interface method looks like this for the WhiteBox test:

[code]

x18 has a wrong value (0x1) at the instruction at 0xffff66c09cdc.  It was loaded from `[x18, #104]` at 0xffff66c09cd4, and x28 has the value of x18 before the `ldr`.

[code]

x28 points to an unexpected Class object.

It is similar with the failures with JumboRange and StreamReuseTest.

[2020-09-01 07:03] smrutiprayag opened #10503 "Is Java RMI doesnt work traditional way with AdoptJDK Openj9 JVM?"
I am trying to start a simple RMI server with AdoptOpenJDK's OpenJ9 JVM but, the program exits with no error/exception and the RMI server doesn't start. The exact same program works with AdoptOpenJDK's HotSpot JVM and other oracle variants.

Sample code:
Registry registry = LocateRegistry.createRegistry(9002);
   RMIServer myServerInstance = new RMIServer();
   <<MyClassStub>>stub = <<MyClassStub>

[2020-09-01 10:33] knn-k commented on #10126
The failure with CompletableFuture/Basic in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/193/consoleText:
[code]

The caller instructions are as follows.  It seems to call a virtual method `com/sun/tools/javac/comp/Infer.doIncorporation()`:
[code]

[2020-09-01 10:35] knn-k commented on #10126
`jdmpview` command says `x18` and `x21` are pointing to unexpected objects in the case above, as shown below.

[code]

[2020-09-01 11:05] knn-k commented on #10502
The instruction sequence above seems to call `java/util/Map.clear()V`.
If that understanding is correct, x28 must point to a ` com/sun/tools/javac/comp/Infer` object, and x18 must point to a `java/util/Map` object.

[2020-09-01 14:14] keithc-ca commented on #9028
Now that jdk16 produces a 'symbol' image, with the same content as produced for a `debug-image`, I suggest we should refactor the debug image rules in older versions to produce a symbol image like jdk16 and adjust the build scripts at adoptopenjdk, etc. to work with symbol images.

[2020-09-01 14:24] dsouzai commented on #10472
Yeah it is, if you can give a go that would be helpful. If it still fails, could you run with `-Xaot:log=/path/to/log,aotrtDebugLevel=30,rtLog=/path/to/rtLog` and send over the generated files along with the coredump? Might also be worth sending over the SCC.

[2020-09-01 15:17] keithc-ca commented on #10030
`openj9.dataaccess` has been added - closing.

[2020-09-01 15:17] #10030 closed

[2020-09-01 15:21] JasonFengJ9 opened #10504 "JDK8 HCRLateAttachWorkload_0_FAILED : NPE at net.adoptopenjdk.test.hcrAgent.agent.StringTransformer.transform(StringTransformer.java:67)"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/471/tapResults/
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
00:23:31  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=x86-64_linux_xl&TAR

[2020-09-01 21:50] liqunl opened #10506 "Bad ValueType field"
@Leonardo2718 found a crash in his local ValueType test. The problem is caused by a bad pointer in a field of a ValueType object.

[code]
Note that kca dump the fields uncompressed.

I have looked at places where QValueObject is created and assigned to the field, find nothing. I notice that `0x00000007fffff850` is in java heap, but it is too far away from objects in other fields, which are created

[2020-09-02 01:31] llxia commented on #307
Jenkins test sanity zlinux jdk11

[2020-09-02 06:14] calle2010 commented on #10472
Unfortunately I can't reproduce the crash anymore. I tried to create the same conditions again, but the crash doesn't happen anymore. I'd suggest to close this for now. I will continue to run Eclipse with the configuration that crashed before and, if I have the same situation again, will try the AOT log and the nightly build.

[2020-09-02 12:40] megazone23 commented on #10391
I tried your recommendation and worked. Thanks!

I would be interested in the discussion.  How do I access it?

[2020-09-02 13:00] DanHeidinga commented on #10391
Check https://github.com/eclipse/openj9/issues/8671 which is where most of the higher level conversation is occurring.  Implementation details are mostly broken out / being broken into pull requests associated with that.

[2020-09-02 13:26] dmitripivkine commented on #10506
@liqunl  Would you please let me know where I can find system core?

[2020-09-02 13:28] keithc-ca commented on #10452
New content from upstream fixed this problem; see https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64_aix_OpenJDK8/56/.

[2020-09-02 13:28] #10452 closed

[2020-09-02 14:08] 0xdaryl commented on #10412
To feed some comparative data into this decision, here are some ARM download stats for HotSpot (current as of today) compiled from the AdoptOpenJDK download stats [1]:

| JDK | Total Downloads | ARM32 Downloads (%) | AArch64 Downloads (%) |
| :----: | :-----: | :----: | :----: |
| JDK8 | 69,771,146 | 9856 (~0.01%) | 24999 (~0.04%) |
| JDK11 | 56,815,926 | 6923 (~0.01%) | 10806 (~0.02%) |

* These

[2020-09-02 14:17] dmitripivkine commented on #10506
I appreciate your question and want to encourage you to ask for help from GC Team in cases like this.

There is obvious that "bad pointer" refer to reserved (wrong) half of Nursery. It is not actually "bad" but Forwarded Pointer (with added Forwarded flag 0x4):
[code]
An array itself `!j9object 0x7FFE4FDB0` and all other elements located it the correct size of Nursery. It means that at the time of

[2020-09-02 14:33] dsouzai commented on #10472
Closing as per previous comment

[2020-09-02 14:33] #10472 closed

[2020-09-02 15:10] DanHeidinga commented on #9132
Moving forward as this won't close in the next few days to make 0.22

[2020-09-02 15:14] DanHeidinga commented on #10297
Partially addressed by #10471.  Non-hidden classes are not yet handled

[2020-09-02 15:15] liqunl commented on #10506
Thanks for helping out. With an offline discussion with @dmitripivkine, we concluded that `LargetObject` is good after construction, and its fields are good right after Scavenge. After Scavenge, there should be a method that writes to `val2` with value from a temporary location (register or stack slot) where an address of this object was stored which has not been fixed up. And likely that temporar

[2020-09-02 15:20] andrewcraik commented on #9929
Roll forward again due to lack of time - still needs to be looked at.

[2020-09-02 15:22] andrewcraik commented on #7699
We have some ideas how to fix this, not sure it will make the release - will leave it here for now, but not certain it will be addressed.

[2020-09-02 15:22] dmitripivkine commented on #4930
moved to next milestone

[2020-09-02 15:23] andrewcraik commented on #9416
@M-Davies do we have any corefiles to debug as yet? If we don't have them then this will need to move to backlog until we can get diagnostic files since attempts at reproduction have not been successful to the best of my understaning.

[2020-09-02 15:24] andrewcraik commented on #9782
@liqunl has the code been enabled? any results to report?

[2020-09-02 15:39] #10200 closed

[2020-09-02 15:42] liqunl commented on #9782
@andrewcraik No, I still need to
1. Try to reproduce in the old web UI
2. Look at the security manager error

Will look at it today.

[2020-09-02 15:44] DanHeidinga commented on #10424
@mstoodle are you ready to proceed with this proposal?

[2020-09-02 15:48] dmitripivkine commented on #10491
Marking it 0.23, planning split code date is September 7

[2020-09-02 15:58] dmitripivkine commented on #10202
Document change request has been merged

[2020-09-02 15:58] #10202 closed

[2020-09-02 16:07] mstoodle commented on #10424
Yeah, thanks for the poke. I'll open the bug today.

[2020-09-02 16:15] mstoodle commented on #10424
Created https://bugs.eclipse.org/bugs/show_bug.cgi?id=566611

[2020-09-02 16:16] keithc-ca opened #10509 "Incorrect CPU usage reported by VisualVM via JMX"
Java -version output
--------------------
[code]
Summary of problem
------------------
VM reports inaccurate CPU usage information via JMX.
See user report: https://stackoverflow.com/questions/63697979/adoptopenjdk-8-with-openj9-visualvm-jboss-eap-7-1-cpu-usage-100

Reproduced by connecting visualvm to a JVM running this code (which should have close to zero CPU usage):
[code]

[2020-09-02 18:13] chrisc66 opened #10510 "Test Framework for Kubernetes-Openshift deployment for Adopt+OpenJ9 JDKs"
As a part of the main issue for Kubernetes deployment #9443 , this issue keeps track of discussion about the automated test framework of operator and helm chart.

The goal is to create automated tests for operator that:
- contains Kubernetes or Openshift environments
- verifies operator deployment and functionality
- reuse existing Adopt testing framework and machines

More information and testing

[2020-09-02 18:28] DanHeidinga commented on #10510
@smlambert does Adopt already have an OpenShift K8 cluster?  Is any OpenShift testing already happening at Adopt?

We're trying to figure out where and how to test a K8 Operator and Adopt has been suggested as a possible home for this kind of testing.

[2020-09-02 21:30] mstoodle commented on #10424
The topics are now present on our repo's front page!

[2020-09-02 22:15] RSalman commented on #10491
I've been looking into this, I don't think there's an issue to be solved other than changing (or removing) the assert.

Failure was caused by thread termination/shutdown being interleaved with AF/Scavenge (parallel scavenger task dispatch), which results in all three being true at the same time:

1) `_workerThreadsReservedForGC`
2) `_inShutdown`
3) thread status as `worker_status_dying`

Threads t

[2020-09-02 22:25] RSalman commented on #10491
Going to think about the assert a bit and this scenario in the context of my previous changes. I'm pretty convinced that there's no issue, but want to make sure I'm not missing something here.

I'll have a PR soon, seeing failures like these should be rare.

[2020-09-02 22:25] RSalman commented on #10491
FYI @amicic

[2020-09-02 23:33] #6060 closed

[2020-09-03 07:46] gaolibj opened #10512 "AIX: Check the openssl version supported in jdk11 build."
Just want to check if the openssl supported in jdk11 build.   If yes, what's the rule to determine the openssl version?

The latest release in adoptopenjdk is jdk-11.0.8+10_openj9-0.21.0.  So, how can I determine the openssl version supported?  Thanks.

[2020-09-03 09:33] M-Davies commented on #9416
It's hard to pick up diagnostic files from nightly builds at the best of times and with https://github.com/AdoptOpenJDK/openjdk-build/issues/1778, it makes it near impossible. I'll chase up that issue and see what the situation is and post back here once it's resolved

[2020-09-03 12:57] #9328 closed

[2020-09-03 12:59] DanHeidinga opened #10513 "[Hidden classes] Centralize classfile parsing in the cfreader.c code"
My proposal was that `MethodHandleNatives.checkClassBytes` return the classname as a String to avoid partially reparsing the classfile.  The checks in `getClassName` can still be done in java code after renaming the method to something like `validateClassName`.
[code]

_Originally posted by @DanHeidinga in https://github.com/eclipse/openj9/pull/10471#discussion_r482303395_

[2020-09-03 13:00] DanHeidinga commented on #10513
See list of issues with this approach in https://github.com/eclipse/openj9/pull/10471#discussion_r482500245

[2020-09-03 13:01] DanHeidinga commented on #10513
Rationale - https://github.com/eclipse/openj9/pull/10471#issuecomment-686236542

[2020-09-03 13:59] #7897 closed

[2020-09-03 14:41] keithc-ca commented on #10509
I believe this is a bug with VisualVM: see oracle/visualvm#235.

[2020-09-03 14:41] #10509 closed

[2020-09-03 15:19] Malaska678 opened #10515 "OpenJ9 android port? (Discussion)"
OpenJDK has android port but what open J9. Open J9 android port can be nice. Porters that port java pc games to android benefits the most. If its impossible close the issue.
A discussion contains:
Developer Response
People's Reaction
And solving some problems

[2020-09-03 15:24] Malaska678 commented on #10515
Same discussion happen graalvm

[2020-09-03 15:48] a7ehuo opened #10516 "Intermittent fatal asserts when running ValueTypeTestsJIT_0 - "cannot create a pending push temporary that exceeds the number of slots for this method""
Seeing intermittent fatal assert `"cannot create a pending push temporary that exceeds the number of slots for this method"` when running `ValueTypeTestsJIT_0`:

I instrumented the code to show the checked values when the fatal assert is hit.
[code]

https://github.com/eclipse/omr/blob/96796aaf968c9661d43867b2a56f021bbfb6b069/compiler/compile/OMRSymbolReferenceTable.cpp#L1777-L1779
[code]

[code]

[2020-09-03 15:59] a7ehuo commented on #10516
Attach some of the logs
[jitdump.20200903.075244.12991.0004.dmp.txt](https://github.com/eclipse/openj9/files/5169775/jitdump.20200903.075244.12991.0004.dmp.txt)
[javacore.20200903.075244.12991.0002.txt](https://github.com/eclipse/openj9/files/5169776/javacore.20200903.075244.12991.0002.txt)
[Snap.20200903.075244.12991.0003.trc.txt](https://github.com/eclipse/openj9/files/5169778/Snap.20200903.0752

[2020-09-03 16:50] a7ehuo commented on #10516
Thanks @liqun for helping look at the logs!  `maxStack` is 0 but there is one element on the `_stack` (` _nextIndex = 1 `) because the call returns an object. @tajila could you help shed some light on what could cause `maxStack` to be 0 or something might not be right in the class creation?

[2020-09-03 17:14] tajila commented on #10516
@a7ehuo There is a problem with the VT generator, it only counts instance fields when attempting to determine max stack space.

[2020-09-03 17:17] tajila commented on #10516
@a7ehuo Try https://github.com/eclipse/openj9/pull/10518, let me know if that fixes the issues

[2020-09-03 17:34] fjeremic commented on #10424
Thanks for this. If there isn't anything left we can likely close this and #5034.

[2020-09-03 18:26] chrisc66 commented on #10510
There are a few existing tests that we can study from, potentially reuse or build similar tests.

- The operator and helm chart currently runs on [internal travis](https://travis.ibm.com/runtimes/ibm-java-acceleration-bundle) and hosted on [GitHub enterprise](https://github.ibm.com/runtimes/ibm-java-acceleration-bundle/tree/master/stable/ibm-java-acceleration-bundle/tests). These tests call a set

[2020-09-03 18:59] a7ehuo commented on #10516
@tajila Ran 30 times of `ValueTypeTestsJIT_0` with #10518, haven't seen the fatal assert. Without #10518, it used to happen at least 1 out 20 times.

[2020-09-03 19:11] tajila commented on #10516
Thanks for confirming

[2020-09-03 21:00] gacholio commented on #10516
#10518 merged.

[2020-09-04 04:20] Malaska678 commented on #10515
So a developer accept that this would be a discussion.

[2020-09-04 05:37] Akira1Saitoh commented on #9350
Implemented in https://github.com/eclipse/omr/pull/5516

[2020-09-04 05:43] Malaska678 commented on #10515
So why turn thiz to a discussion if there's no response?

[2020-09-04 06:02] Adriankhl commented on #10515
What do you mean by OpenJDK has android port?

Also, be more patient, people are not obliged to response to your question unless you pay for them.

[2020-09-04 09:03] austin0 opened #10522 "vrfyhelp.c failed to compile on all Mac-OpenJ9 builds"
Assuming this is related to https://github.com/eclipse/openj9/pull/10520 @hangshao0

Failure link
------------

Compilation failing for `vrfyhelp.c` on all Mac-OpenJ9 builds since 04/09/20.

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-openj9/685/console

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk

[2020-09-04 09:20] austin0 commented on #10522
Issue is also affecting two AIX builds:

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-aix-ppc64-openj9/23/console

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-aix-ppc64-openj9/218/console

[2020-09-04 09:43] Malaska678 commented on #10515
An OpenJDK working for android.
Ooops sorry.

[2020-09-04 09:44] Malaska678 commented on #10515
I mean make openJ9 work on android

[2020-09-04 09:45] Malaska678 commented on #10515
In software engineering, porting is the process of adapting software for the purpose of achieving some form of execution in a computing environment that is different from the one that a given program (meant for such execution) was originally designed for (e.g., different CPU, operating system, or third party library).

[2020-09-04 09:58] Adriankhl commented on #10515
Where?

I am not an expert, but I think you misunderstand something. Do you mean Java ME? Android Runtime (Dalvik)? Hotspot? GraalVM? Or simply an JDK for Android Studio/Intellij/Gradle build of Android project?

[2020-09-04 12:29] Malaska678 commented on #10515
Nope i mean someone port openjdk to android. Example a software only work for linux, its possible that u can port it to android. Understand now developer. Im not even a developer.

[2020-09-04 12:33] Malaska678 commented on #10515
No one is interested for making openj9 work android which is sad because i want to openj9 for android for my project when i learn programming. :(

[2020-09-04 13:11] Adriankhl commented on #10515
Based on what you are saying, I don't think you have sufficient understanding of what you want to request/discuss. I suggest that you should learn the distinction between jvm, openjdk, openj9, hotspot, java (maybe also kotlin if you want to do android), Android Runtime (and Dalvik).

[2020-09-04 13:13] keithc-ca commented on #10522
I have a fix for this.

[2020-09-04 13:29] khanhduytran0 commented on #10515
He means want to port OpenJ9 to Android that compitable with Bionic libc (lacking some syscall compared with GLIBC).

[2020-09-04 14:35] Malaska678 commented on #10515
Why u go here? hmmm

[2020-09-04 14:36] Malaska678 commented on #10515
Btw thanks for explaining to that guy

[2020-09-04 14:42] Malaska678 commented on #10515
Sorry for very small knowledge on java and such things, but i know what im saying

[2020-09-04 14:49] #10522 closed

[2020-09-04 18:15] LongyuZhang commented on #10510
The previou io.quarkus:quarkus-maven-plugin issue on p and z linux has been fixed with the new release of quarkus 1.7.2.Final and Dekorate 0.12.8.

Now we are able to run quarkus-openshift-test on our internal Jenkins testing framework on all x,p,z platform with Openshift Cluster on the corresponding platform. Since Openshift Cluster and s2i images are not available yet, I will create PR for this

[2020-09-06 04:20] Malaska678 commented on #10515
This is non-sense. So closing. Tell to me if u want to reopen this.

[2020-09-06 04:20] #10515 closed

[2020-09-07 09:07] austin0 opened #10527 "JVM crash during build on jdk15u/next-linux-aarch64-openj9-linuxXL"
Failure link
------------
Issue has been seen on on jdk15u-aarch64-linuxXL and jdk-aarch64.

Crash seems to have occurred four times over the weekend.

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-linux-aarch64-openj9-linuxXL/28/console

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-linux-aar

[2020-09-07 23:36] gacholio commented on #8878
@tajila @sharon-wang Hi Sharon, any update on the build work?

[2020-09-08 02:46] JasonFengJ9 commented on #10476
Will start with this one.

[2020-09-08 03:16] JasonFengJ9 opened #10528 "JDK16 compilation error: cannot find symbol GenerateJLIClassesHelper.generateHolderClasses(traces)"
Failure link
------------

https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_mac_OpenJDK/279/consoleFull

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

Need a new stub method within `java.lang.invoke.GenerateJLIClassesHelper`.

[2020-09-08 11:17] austin0 commented on #10527
Same issue again today on jdk16, jdk15 hasn't kicked off yet.

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-linux-aarch64-openj9/108/console

[2020-09-08 13:04] tajila commented on #10345
@hangshao0 What is the status of this issue?

[2020-09-08 13:05] tajila commented on #10149
@mikezhang1234567890 Can you please take a look at this

[2020-09-08 13:06] tajila commented on #10150
@JasonFengJ9 Can you please take a look at this

[2020-09-08 13:13] JasonFengJ9 commented on #10150
@tajila sure, will investigate and determine if this is a stop-shipping issue for Java 15.

[2020-09-08 13:13] DanHeidinga commented on #10297
Likely needs a `J9VMInternals.prepare(theClass)` to be added

[2020-09-08 13:14] jdekonin commented on #10375
Ran a `brew update` on each of these systems; osx1011-x86-1, osx1011-x86-2, osx1013-x86-3 and osx1013-x86-4

We'll see if that makes a difference.

[2020-09-08 14:39] sharon-wang commented on #8878
@gacholio Currently working through building two copies of each of the GC libraries (updating cmake files to build 2 versions, updating existing module.xml files and creating new module.xml files for the second copy). The existing GC library structure will stay as is for the compressed override and there will be a new directory `gc_full` with subdirectories for each duplicated library. The spots w

[2020-09-08 14:58] mikezhang1234567890 commented on #10149
Looking into it.

[2020-09-08 15:16] hangshao0 commented on #10345
The only failure left in our build is LambdaNestedInnerTest, which is fixed by #10531. Once it is merged, we can either
1. Close this issue and open another one to remind us that BasicTest and TypeDescriptorTest have been excluded, or
2. Keep this issue open to keep track of BasicTest and TypeDescriptorTest, but remove the v0.22.0 tag.

[2020-09-08 15:29] dchopra001 commented on #9068
With the large number of changes that have gone in related to JITServer on Z performance over the last few months (with the last one being https://github.com/eclipse/omr/pull/5518 on September 3rd), I am no longer seeing the same type of performance regression for JITServer.

Here is the throughput data comparing a JITServer client vs OpenJ9 baseline client. There are no restrictions on CPU and me

[2020-09-08 15:35] mpirvu commented on #9068
This is really great news! This puts Z on par with X and P platforms.

[2020-09-08 15:36] mpirvu commented on #9068
Could you also please measure the CPU consumed by the client and compare it to non-JITServer?
Thanks

[2020-09-08 15:41] dchopra001 commented on #9068
Below is data for JITServer vs Baseline for memory footprint. In both cases the AcmeAir client was run with `--cpus=1 --cpuset-cpus=1`. The JITServer was also run with `--cpus=1 --cpuset-cpus=1`.

![Screen Shot 2020-09-08 at 11 36 24 AM](https://user-images.githubusercontent.com/11260919/92497645-9b07ff80-f1c7-11ea-9566-7dc0f6b3b1f7.png)

Here is the throughput for the above run:
![Screen Shot 202

[2020-09-08 15:52] dchopra001 commented on #9068
Finally, here is a plot showing the throughput benefits of using JITServer when the AcmeAir client is restricted to `--cpus=1 --cpuset-cpus=1 --memory=200m`. The JITServer has no restrictions for these runs.

![Screen Shot 2020-09-08 at 11 50 41 AM](https://user-images.githubusercontent.com/11260919/92499188-93e1f100-f1c9-11ea-9b66-eb1d74330b89.png)

Again, the benefit for using JITServer is clear

[2020-09-08 15:52] dchopra001 commented on #9068
Okay. Will do this next.

[2020-09-08 16:05] tajila opened #10534 "Support for caching Hidden classes"
Currently hidden classes are not cached. What will it take to add them to the SCC?

[code]

[2020-09-08 16:06] tajila commented on #10534
@hangshao0 We currently have support for caching anonclasses in the SCC. How does caching hidden classes differ from caching anonClasses? What are the technical challenges that need to be solved to enable this?

[2020-09-08 16:25] hangshao0 commented on #10534
romaddress is appended to the name of Anon and hidden classes. The main issue here is that anon class are not in the hashtable but some hidden classes (defined with Option.STRONG) are in the hashtable (so that balanced GC can find them through hashtable iteration). The romaddress is unique in one JVMs instance, but it is not guaranteed to be unique in multiple JVM instances.

[2020-09-08 16:33] ajohnson1 opened #10535 "Handled NullPointerException in J9VMInternals.getClassInfoStrings"
Java -version output
--------------------

OpenJDK8U-jdk_x64_windows_openj9_8u265b01_openj9-0.21.0\jdk8u265-b01\bin\java.exe -version
openjdk version "1.8.0_265"
OpenJDK Runtime Environment (build 1.8.0_265-b01)
Eclipse OpenJ9 VM (build openj9-0.21.0, JRE 1.8.0 Windows 10 amd64-64-Bit Compressed References 20200728_776 (JIT enabled, AOT enabled)
OpenJ9   - 34cf4c075
OMR      - 113e54219
JCL      -

[2020-09-08 16:58] tajila commented on #10534
Okay, just to be clear are there two issues?

1)

2)

For 1), I don't see why this would prohibit caching hidden classes, can you please elaborate.
For 2), Isn't this the same issue with anonClasses?

[2020-09-08 17:04] tajila commented on #10345
Thanks for the update @hangshao0. Just to clarify, the issue with `BasicTest` and `TypeDescriptorTest` is that we are missing `0x` in the hidden class name?

[2020-09-08 17:54] hangshao0 commented on #10534
The issue is 2 different hidden classes could have the same hash key (same class name). Anon class are not in the hashtable, so it does not have this issue.

[2020-09-08 17:57] hangshao0 commented on #10345
1. We do not have `0x` in the class name.
2. We are using upper case of `A` to `F` if they appear in the rom address. RI is using lower case.

[2020-09-08 18:02] gacholio commented on #10527
@knn-k

[2020-09-08 18:05] gacholio commented on #10535
@ajohnson1 As you're stepping in the debugger, can you tell us where the NPE originates?
[code]

[2020-09-08 18:10] gacholio commented on #10534
Given that hidden classes can never be requested by name from the table, couldn't we do something to the hash computation for hidden classes so two different hidden classes of the same name don't hash the same? Perhaps hidden classes use their address instead of the name to hash?

[2020-09-08 18:13] gacholio commented on #8878
Thanks, sounds like good progress.

[2020-09-08 18:19] #9350 closed

[2020-09-08 18:22] kgibm opened #10537 "DTJF/jdmpview unexpected core dump object class corruption"
Java -version output
--------------------

[code]

Summary of problem
------------------

Core dump taken with exclusive access using `com.ibm.jvm.Dump.triggerDump("system:request=exclusive+serial+prepwalk")` and loaded with MAT shows unexpected core dump object class corruption (from JavaHeap.getObjects); for example, with object `0x603953fa0`, jdmpview shows the same:

[code]

Reproduced with a

[2020-09-08 18:22] kgibm commented on #10537
@keithc-ca fyi

[2020-09-08 18:35] hangshao0 commented on #10534
From previous discussion in the email, we haven't decided whether to change balanced GC (as other policies) to walk the segment instead of hash table only. We added hidden classes to the hashtable as a temporarily solution to work around the balanced GC issue. If we decide the long term solution is to put the hidden class in the hashtable and do not change the GC side, then we need to change the h

[2020-09-08 18:36] tajila commented on #10534
IIRC a cached romClass isn't guaranteed to be mapped in the same address once it is restored from the cache @hangshao0 can you confirm?

Im thinking of this scenario:

JVM1 create hidden class -> A/0x01 (at address 0x01) and places it into the cache

JVM2 loads A/0x01 from SCC at address 0x02, it already has another A/0x01 at address 0x01

[2020-09-08 18:38] tajila commented on #10534
Yes, it is highly likely we will need hidden classes in the SCC long term since lambda forms in Java15+ make use of them. Having them in SCC will help the AOT story, which in turn will help startup perf.

[2020-09-08 18:44] gacholio commented on #10534
If we're talking about a classloader hash table, there's no need for the ROM class to be mapped to the same address in different VMs. The class name is never used external to the hashtable.

If the classes are going to be shared, the SCC also can't key on the name (A/0x01 could be entirely different classes in different VMs).

[2020-09-08 18:48] hangshao0 commented on #10534
The rom address is not guaranteed to be the same. For cached hidden class, we can take advantage of romaddress - cache header, which will be unique.

I mean to put hidden classes in the SCC (I am not against putting them in the SCC), we can either 1) have balanced GC walk the segment, so hidden class do not need to be in the hashtable, so we don't have the hash key issue. Or 2) No GC change, keep

[2020-09-08 19:16] 0xdaryl opened #10538 "Re-architect use of heap relocations in x86 write barriers"
The x86 write barrier evaluators use a number of "fake" relocations defined here:

https://github.com/eclipse/omr/blob/983f4e2e9a5b4291ea4c260e61c5d5015f673bb2/compiler/runtime/Runtime.hpp#L215

Presumably, this is because they all eventually map to a `TR_GlobalValue` relocation but there was no means of "carrying" the kind information from the evaluation phase to the binary encoding phase when th

[2020-09-08 19:38] dnakamura opened #10539 "CMake: under specified dependencies for nls gen"
While doing incremental builds on cmake, it appears that dependencies for nls generated files are under specified, and nlsgen is not re-run if the nls input files are updated.

As a work around, deleting `build/<platform-name>/vm/runtime/java.properties` should cause the nls files to be regenerated upon building

[2020-09-08 20:23] dchopra001 commented on #9068
Here's the `TR_PrintCompTime` output at the end of an AcmeAir Client run **without** JITServer (warm run):
JIT: env var TR_PrintCompTime is set to 1
Time spent in compilation thread =0 ms
Time spent in compilation thread =7788 ms
Time spent in compilation thread =8033 ms
Time spent in compilation thread =8850 ms
Time spent in compilation thread =10978 ms
Time spent in compilation thread =13311 ms

[2020-09-08 20:23] mikezhang1234567890 commented on #10149
Looks like the issue is when `StringUTF16.newBytesFor` throws an error when the length is greater than a max length:
https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/6df70d08c8f14fc19a8f7235090fa2091039940f/src/java.base/share/classes/java/lang/StringUTF16.java#L49-L52

However, the max length refers to byte pairs and is defined to be `Integer.MAX_VALUE >> 1`. In our `String.repeat` code, we

[2020-09-08 20:26] dchopra001 commented on #9068
I'm also attaching a zip file that includes verbose logs from cold and warm runs when using JITServer (along with the output of the runs). This shows that most methods are either compiled remotely (or AOT loaded in a warm run). So we are indeed using the JITServer when these runs are being executed.
[vlogsRun.zip](https://github.com/eclipse/openj9/files/5190889/vlogsRun.zip)

[2020-09-08 20:42] dchopra001 commented on #9068
Note: the above data posted today is based on a build using the following commits:
https://github.com/ibmruntimes/openj9-openjdk-jdk8/commit/182efd2724169a1c67f04707ace98106a13dfd45
https://github.com/eclipse/openj9/commit/8001edab752ae4a1d15f59a04f0af99d913f3472
https://github.com/eclipse/omr/commit/5f5f8a142854c9a1b2aa62135b0c6a16dfccbc1f

[2020-09-08 20:46] ajohnson1 commented on #10535
It's actually:
[code]

[2020-09-08 20:46] keithc-ca commented on #10537
Below is an excerpt from a session using `jdmpview`.
The troublesome object appears to be a generated method accessor.
The heap does appear to be corrupted: why do you say it is unexpected?
[code]

[2020-09-08 20:52] kgibm commented on #10537
Interesting, ok, thank you. I assumed it shouldn't be corrupted since the core dump was taken with exclusive access and because this dump was created using a relatively straight-forward internal test case; however, maybe something else about the test case or a bug in OpenJ9 11 is causing heap corruption. I guess the next step is to work with the J9 runtime team to investigate heap corruption. Firs

[2020-09-08 20:57] dmitripivkine commented on #10537
Also please note that class `!j9class 0x0000000000437B00` has been unloaded `classObject = !j9object 0xFFFFFFFFFFFFFFFF`

[2020-09-08 20:58] keithc-ca commented on #10537
Unless `0x603953fa0` is an unreachable object, that class should not have been unloaded.

[2020-09-08 21:01] kgibm commented on #10537
When MAT loads the dump, it removes any unreachable objects by default, and I can confirm MAT thinks `0x603953fa0` is unreachable. Is there an easy way to confirm this in jdmpview?

[2020-09-08 21:03] kgibm commented on #10537
[code]

[2020-09-08 21:03] keithc-ca commented on #10537
It would appear it is unreachable:
[code]

[2020-09-08 21:06] kgibm commented on #10537
Ok, so if I understand correctly, object 0x603953fa0 is unreachable and pending cleanup by GC, but its classloader has already been cleaned up by GC. Is this expected behavior?

[2020-09-08 21:08] dmitripivkine commented on #10537
Yes. This dead object has been left as a dark matter.

[2020-09-08 21:10] kgibm commented on #10537
Okay, that makes sense, thanks to both of you.

[2020-09-08 21:21] pwagland opened #10541 "Unhandled exception Type=Segmentation error vmState=0x00020011"
Java -version output
--------------------

openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.20.0, JRE 11 Linux amd64-64-Bit Compressed References 20200416_574 (JIT enabled, AOT enabled)
OpenJ9   - 05fa2d361
OMR      - d4365f371
JCL      - 838028fc9d based on jdk-11.0.7+10)

Summary of problem
-------------

[2020-09-08 22:45] JasonFengJ9 commented on #10150
**Update:**

Built a standalone testcase based on `java/nio/Buffer/Basic.java`, and reproduced the `RuntimeException`:
[code]

For this particular testcase, `RI JDK15` passes, so does `OpenJ9 JDK14` (built around mid of August) as well.

The test code snippet in question are as following [1]:
[code]

The method `b2.put(b)` produced incorrect result through following APIs:
[code]

There is no obvio

[2020-09-08 23:04] dmitripivkine commented on #10541
We need system core dump to investigate and will be happy to do this.

However meanwhile this failure reminds me known problem with Class Loading Verification problem: JVM detects incompatible class and left it partially loaded with init state "failed" and GC has crashed because class object pointer left NULL. (I know this is not adequate reaction of JVM but problem really is in class libraries).

[2020-09-08 23:08] knn-k commented on #10527
A similar crash was found in a JDK11 build yesterday:
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK11_aarch64_linux/221/

[2020-09-08 23:57] knn-k commented on #10527
eclipse/omr#5532 should have fixed it.  Waiting for the fix to promote.

[2020-09-09 01:49] DanHeidinga commented on #10150
@JasonFengJ9 does it fail `-Xint`?  It might help to narrow down whether this is likely due to the interpreter or the JIT

[2020-09-09 02:03] JasonFengJ9 commented on #10150
@DanHeidinga yeah, it still fails with `-Xint`.

[2020-09-09 04:05] JasonFengJ9 commented on #10150
`JDK14` has a different code path for `b2.put(b)`:
[code]

In this case `JDK14` takes a pure Java approach while `JDK15` uses `UNSAFE.copySwapMemory()` native(s).
So the issue with `Unsafe` native probably just was exposed by `JDK15` usage, not a newly introduced regression since `JDK14` (from the perspective of this test).

To summarize, this is not a VM code regression, and the JTReg test failur

[2020-09-09 07:03] ajohnson1 commented on #10535
I'm not sure why the line numbers don't quite match, so here are some links matching to the GitHub code based on me looking at the source of the code that was running on my machine.

https://github.com/eclipse/openj9/blob/be26f51d1bed0614d99b996c1a4aaee3c789a67b/jcl/src/java.base/share/classes/java/lang/J9VMInternals.java#L500

Start of method: https://github.com/eclipse/openj9/blob/be26f51d1bed06

[2020-09-09 12:16] #10297 closed

[2020-09-09 13:28] paulcheeseman opened #10547 "Inconsistent Xdump tool/exec behaviour on Unix vs Windows (shell processing)"
The Xdump `tool` agent allows the user to specify a command to execute when a dump event occurs. The command is specified in the exec sub-option. For example:

`"-Xdump:tool:events=vmstart,exec=echo hello"`

This simple example behaves identically on Unix and Windows, but a difference can be observed when the command includes special characters such as `>`. For example, if we want to run this comm

[2020-09-09 13:40] tajila commented on #10149
String::repeat() calls `lengthInternal()` which should be doing the correct thing for noncompressed Strings.

[code]

[2020-09-09 13:52] DanHeidinga commented on #10391
Closing as discussion has dropped off

[2020-09-09 13:52] #10391 closed

[2020-09-09 14:10] tajila commented on #10149
Looking at the test, it seems they are doing something like `String MAX_STRING = "*".repeat(Integer.MAX_VALUE - 8)`, if we don't have string compression enabled the max we can do is `Integer.MAX_VALUE >> 1`.

@fjeremic does that match your expectations?

[2020-09-09 14:13] ajohnson1 commented on #9448
It's a security risk though, as the customer would be submitting code (the packaged DTFJ JARs) which would then be executed inside IBM.

Currently it seems that the jar is unsigned:
[code]
If the jar was signed when the SDK was produced, and the signature was verified and the source was confirmed as being trusted before executing the code then that might be a little better. Or else match using a s

[2020-09-09 14:17] kgibm commented on #9448
Thanks for the follow-up on this Andrew, I forgot about it. I agree. I wrote this before I understood these issues well. The correct solution is to discover the version of the JVM that produced the dump and then download the matching JARs from trusted sources.

[2020-09-09 14:17] #9448 closed

[2020-09-09 14:29] liqunl commented on #10028
Update, the error in security manager test is due to mismatch output. Exporting JIT ENV will cause a message to be printed out to stdout, which will cause failures in test looking at stdout. This is fixed by enabling silent env.

I also tried using the old web UI, but still can't reproduce a crash. The detect is found on Mac OS, and the internal farm doesn't run Mac build. I tried grinder on x86-6

[2020-09-09 15:12] raguks commented on #10510
@chrisc66 can we explore doing tests on single node OCP for which RH has steps somewhere? I think we tried that last year on a VM. If the tests work there we might be able to use an Adopt VM to test?

@andrewcraik @DanHeidinga Test discussion and plans here. FYI.

[2020-09-09 15:14] adamfarley commented on #10313
Is this issue related to #9291? They look similar.

Also, this issue is still happening. Link below.

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9-macosXL/682/console

[2020-09-09 15:15] adamfarley commented on #9291
Could this issue be related to #10313? They look similar.

[2020-09-09 15:24] sxa commented on #10412
As I've said elsewhere I'd be delighted to have an arm32 port of OpenJ9. Particularly for smaller embedded devices ([I have several](https://twitter.com/sxaTech/status/1272263254203674626)!) it would be of particular benefit to get the memory advantages of OpenJ9 and potentially be a nice source of advertising our JVM to developers outside a cloud environement if it was available. Tagging in @Jame

[2020-09-09 15:40] Leonardo2718 commented on #10313
I've already looked into #9291 but that issue has never been reproduced AFAIK and the core file I got didn't contain any useful information. I haven't been able to reproduce the failure myself so far either, so I don't have anything to look at.

There really is nothing I can do until I get a core file.

[2020-09-09 16:02] JBKingdon commented on #10412
Given limited development resources I'd favour aarch64 over arm32 as more likely to be useful. When I was looking at it the arm32 implementation was in need of significant work to bring the performance in-line with other platforms, and without that investment it doesn't really make a good advertisement for the VM technology.

[2020-09-09 16:26] fjeremic commented on #10149
That's correct. HotSpot will fail in the same way if you disable String compression.

[2020-09-09 17:28] tajila commented on #10149
@llxia Is it possible to hard code an option for this test?

[2020-09-09 17:41] llxia commented on #10149
We can add the option in variation
https://github.com/AdoptOpenJDK/openjdk-tests/blob/53bed4dc3ff14a713d0a93c1779b767e935f184c/openjdk/playlist.xml#L659

[2020-09-09 17:45] tajila commented on #10149
@mikezhang1234567890 can you please try updating the playlist as Lan mentioned and verify that we pass the test

[2020-09-09 17:46] tajila commented on #10149
we will need to do the same for https://github.com/eclipse/openj9/issues/10316

[2020-09-09 18:06] DanHeidinga commented on #10149
Given this is a test case relying on string compression to be enabled by default, I don't think its stop ship.  I'm going to move it out of the 0.22.0 release.  We can modify the test options in the main branch and pick it up for 0.23.

[2020-09-09 18:33] JasonFengJ9 commented on #10150
**Further updates:**

The problem is clearly in `sun_misc_Unsafe.cpp: Java_jdk_internal_misc_Unsafe_copySwapMemory0` and its helper friends such as https://github.com/eclipse/openj9/blob/5aad64266fb5457e66168fb39755b5dd0ea2bb4e/runtime/jcl/common/sun_misc_Unsafe.cpp#L1118-L1140

For this particularly testcase, returning `JNI_TRUE` (for **no** memory overlap which is correct) can make the test pass

[2020-09-09 19:34] DanHeidinga commented on #10150
It looks like the case checking for the same object (sourceObject == destObject) is missing.  Does adding it resolve the failure?

[2020-09-09 19:53] JasonFengJ9 commented on #10150
Assuming the same object means there is memory overlap hence `memOverlapIsNone` returns `JNI_FALSE`, in that case it won't resolve the failure.

Returning `JNI_TRUE` when `(sourceObject != destObject)` which assume no memory overlap can pass this test.

[2020-09-09 19:58] a7ehuo commented on #10365
I ran into this intermittent crash locally. Many thanks to @liqunl. She helped narrow down the crash to `"java/lang/AbstractStringBuilder.append(Ljava/lang/CharSequence;)Ljava/lang/AbstractStringBuilder;"` Some of her findings below. She might have more to add on the investigation of this issue.
- Didn't find the difference in the trace logs from this method between the passed case and the failed

[2020-09-09 19:58] mikezhang1234567890 commented on #10149
Updating the playlist there makes `XX:+CompactStrings` apply to all tests in java_util, and that causes some other tests to fail when they involve creating a `Scanner` with locales.

[2020-09-09 20:50] mikezhang1234567890 commented on #10149
Is it possible to add the option to the individual tests themselves? @llxia

[2020-09-10 01:28] JasonFengJ9 commented on #10150
Opened #10556 which passes the testcase in this issue, and also tested in a personal build (`Java 8/11/15` `xa64` `sanity.functional`).

[2020-09-10 05:20] Sir-Will opened #10558 "Implement jstat -gc"
Hello,

It would be great if OpenJ9 had a command like hotspot has `jstat -gc` which allows retrieving information like heap usage and GC time of a specified process.

For hotspot, I'm using munin plugins linked below to monitor the java processes, unfortunately I'm not able to find a way to do that with OpenJ9.
https://github.com/munin-monitoring/contrib/tree/master/plugins/jvm

[2020-09-10 13:35] JasonFengJ9 opened #10560 "Improve checking Unsafe copySwapMemor no memory addresses overlap"
This is a conservative approach in that it leaves out the case where the objects are the same but the copied regions don't overlap.

I'm ok with this approach for JDK15 but we might want to dig further into whether it should be made less conservative.

_Originally posted by @DanHeidinga in https://github.com/eclipse/openj9/pull/10556#discussion_r486327252_

[2020-09-10 14:21] fjeremic commented on #9120
Another update from me. I do still have this on my radar but have been distracted by some machine migration that must be performed by end of September. I hope to get back to working on this in the next few weeks. I will post an update once I get back to doing something meaningful in this area.

[2020-09-10 14:29] JasonFengJ9 commented on #10558
Will investigate and see what info OpenJ9 can provide via `jstat -gc`?

[2020-09-10 15:07] llxia commented on #10149
We can separate `StringJoinerTest` out and run it with the specific option in playlist.xml. The rest `jdk_util_j9` runs without this test.

@sophia-guo do you have any other suggestions for this?

[2020-09-10 15:19] andrewcraik commented on #9782
Unlikely to be fixed for this release, but we will get the testing mode enabled and see if we can catch it - moving forward as a result.

[2020-09-10 15:20] mikezhang1234567890 commented on #10149
It looks like we can also edit the `@run` annotation in `StringJoinerTest.java` and `MergeTest.java` to add the option directly (https://github.com/ibmruntimes/openj9-openjdk-jdk15/blob/ad829e12c8f52c9774b8b8705fe438cb7a9d58cb/test/jdk/java/util/StringJoiner/StringJoinerTest.java#L29).

[2020-09-10 15:21] andrewcraik commented on #7699
We still haven't had time to implement the perf improvements due to other work - moving forward. Let me know if the priority increases.

[2020-09-10 16:06] llxia commented on #10149
I did notice this [action tag](https://openjdk.java.net/jtreg/tag-spec.html). However, this means that we need to directly update the test material. If we do this, we will have to update/maintain the future test material from openjdk.

[2020-09-10 16:59] jdekonin commented on #10375
Appears that didn't resolve anything.

[code]

I suspect we might need to either (a) have a precompiled freetype version on the system or (b) add a pull and compile of a fixed freetype version as part of the compile.

[2020-09-10 17:05] a7ehuo opened #10564 "Intermittent java.lang.BootstrapMethodError: java.lang.invoke.StringConcatException in ValueTypeTestsJIT_0"
Intermittent `java.lang.BootstrapMethodError: java.lang.invoke.StringConcatException `in `ValueTypeTestsJIT_0`

[code]
Full console log is attached below:
[log_console_ ValueTypeTestsJIT_0_0910_01.txt](https://github.com/eclipse/openj9/files/5203494/log_console_.ValueTypeTestsJIT_0_0910_01.txt)

[2020-09-10 17:05] a7ehuo opened #10565 "Intermittent failure in ValueTypeTestsJIT_0: *** Invalid JIT return address 00000000FFFFFB98 in 0000000000019D10"
Found a very intermittent failure in `ValueTypeTestsJIT_0`. The invalid JIT return address looks to be related to method `org/testng/internal/annotations/JDK15AnnotationFinder.findAnnotation(Ljava/lang/Class;Ljava/lang/annotation/Annotation;Ljava/lang/Class;Ljava/lang/Class;Ljava/lang/reflect/Constructor;Ljava/lang/reflect/Method;Lorg/testng/internal/collections/Pair;)Lorg/testng/annotations/IAnno

[2020-09-10 17:08] #10150 closed

[2020-09-10 18:37] JasonFengJ9 commented on #10558
As per [1], RI `jstat -gc` displays statistics about the behavior of the garbage collected heap with following output columns:
[code]

@dmitripivkine does OpenJ9 GC have similar statistic data available?

[1] https://docs.oracle.com/en/java/javase/14/docs/specs/man/jstat.html

[2020-09-10 19:33] dmitripivkine commented on #10558
Most of this information is around. Currently it can be found in GC verbose logs (per GC basis). Summary can be seen as report in GCMV (terminology can be different). The only part is **not** there is Metaspace and Class space information.

[2020-09-11 00:39] JasonFengJ9 opened #10569 "JDK11 java/lang/ProcessHandle/TreeTest.java : AssertionError: expected at least 14, actual: 12 expected [true] but found [false]"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_OpenJDK11/16/consoleFull
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
03:27:58  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=x86-64_windows&TA

[2020-09-11 01:30] DanHeidinga commented on #10399
For the M2 build, I'm tagging from the current state of the repos.

[code]

[2020-09-11 02:31] mpirvu commented on #10428
A perf profile for JITServer process when 8 JVM clients are attached to it. This JVM uses the indexing scheme described above, so scalability is not that bad.
[code]

Notable symbols:
[code]
This shows that we may have some lock contention problem and this could be due to locking the CHTable and/or locking the hashtable with j9classes.

[2020-09-11 13:48] liqunl commented on #10365
The internal gc map at the call instruction has the stack map and mark the slot containing the object as live, but the final gc map doesn't have the stack map. Can't tell why we remove the stack map from the trace log, will add some traces to find out.

[2020-09-11 14:09] dmitripivkine commented on #10558
Ok, this is existing run-time utility required to be extended to report more data.
The work required in GC part is review current stats info stored already and add/maintain new fields if necessary to be ready to report run-time. We should investigate which parts of native memory allocations should be included to report as Metadata space (something else except GC Metadata?)
On VM/Tools side an util

[2020-09-11 14:48] tajila commented on #10149
@mikezhang1234567890

Can you post a link to one of the tests that failed?

Avoiding this is my preference.

@llxia with this approach do we still need to update/maintain the future test material from openjdk?

[2020-09-11 15:04] mpirvu commented on #10428
Same profile sorted by dso:
[code]

[2020-09-11 15:12] mikezhang1234567890 commented on #10149
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/10086/ has failing tests, but is internal to IBM. A stack trace from one of the failing tests is:
[code]

[2020-09-11 16:39] harryyu1994 opened #10575 "Remove Old CPU detection code on Z"
A few month ago I added a new version of CPU detection for all platforms in OMR. As a way to make sure the new version does not give us any unexpected behaviour, we have kept the old version in the codebase and used the old version as a reference to test against the new version. It's been a few months and we have not seen any issues with the new version so I think it's safe to remove the old versi

[2020-09-11 16:39] harryyu1994 commented on #10575
@fjeremic @mpirvu FYI

[2020-09-11 16:59] llxia commented on #10149
No, this change is at the playlist.xml level, so we do not need to update/maintain the future test material. I would prefer this solution atm.

[2020-09-11 18:01] chrisc66 commented on #10510
As testing is a huge part of the operator project, I would like to separate testing apart from everything else in https://github.com/eclipse/openj9/pull/10409#issuecomment-689556225.

Agreeing with @DanHeidinga in his comment, our testing needs to:
1. Make sure the original RC operator is functional, i.e. pass all existing RC tests
The current RC tests and pipelines are running on [travis](https:/

[2020-09-11 21:02] JasonFengJ9 opened #10579 "JDK8 AIX : Unable to initialize alarm thread for time-based GC scheduling - Most likely cause is non-supported version of OS"
Failure link
------------

From an internal link `Test_openjdk8_j9_sanity.functional_ppc64_aix_Nightly_testList_0/71`:
[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
01:16:18  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=functional&PLAT

[2020-09-11 22:08] JasonFengJ9 opened #10580 "JDK15 jdk_foreign_0_FAILED : TEST: java/foreign/TestMismatch.java"
Failure link
------------

From an internal build `Test_openjdk15_j9_sanity.openjdk_ppc64le_linux_Nightly/58`:
[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
00:20:53  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=15&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=ppc64

[2020-09-11 22:19] JasonFengJ9 opened #10581 "JDK16 TEST: java/lang/reflect/sealed_classes/SealedClassesReflectionTest.java failures"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_ppc64le_linux_Nightly/288`:
[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:03:39  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=pp

[2020-09-11 22:28] JasonFengJ9 opened #10582 "JDK16 TEST: java/lang/StringBuilder/HugeCapacity.java failures"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_ppc64le_linux_Nightly/288`:
[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:03:39  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=pp

[2020-09-11 22:33] JasonFengJ9 opened #10583 "JDK16 java/util/StringJoiner/MergeTest.java test MergeTest.OOM(): failure"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_ppc64le_linux_Nightly/288`:
[code]
 For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:03:39  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=p

[2020-09-11 22:59] harryyu1994 commented on #6836
Liberty-based Application (Acmeair)
1. Compile and fill up the Shared Class Cache with AOT on an Intel-based machine (500MB cache with 300MB AOT code), then move the Shared Class Cache to an AMD-based machine. Use `-Xjit:verbose` to make sure that we are actually loading AOT.
2. Compile on AMD-based machine and move to Intel-based machine.
- `-XX:+PortableSharedCache` worked in both cases.

[2020-09-12 02:53] mpirvu commented on #3724
Implemented in #10508

[2020-09-12 02:53] #3724 closed

[2020-09-12 15:32] JasonFengJ9 opened #10584 "JDK8 Win32 APITests.NullPointerAndEmptyArrayTest : Required condition was not found: [Output match: Entering with url (0000000000|000000000000000000)]"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_OMR_testList_1/101/tapResults/
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
06:59:11  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=x86-32_

[2020-09-12 15:42] JasonFengJ9 opened #10585 "JDK8 mac report failure when the test passed"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly_testList_0/103/tapResults/
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
23:43:23  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=x86-64_

[2020-09-13 21:17] tajila opened #10586 "DDR compliation failure on snapshot branch"
Due to the changes in `J9JITExceptionTable` namely:

[code]

The `DTFJContext::addMetaData` method and `!jitmetadatafrompc` command needs to be updated to use offsets rather than direct pointers

[2020-09-14 01:37] JasonFengJ9 opened #10587 "JDK8 DaaLoadTest_all_ConcurrentScavenge_0_FAILED : Segmentation error vmState=0x00020002"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64le_linux_Nightly/486/tapResults/
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
00:08:31  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=system&PLATFORM=ppc64le_linux&TARGET=

[2020-09-14 07:22] pwagland commented on #10541
Hi @dmitripivkine,

I am still looking into this, sadly (of course!) it only fails on our production server that I don't have access to, which means modifying the build to _not_ throw everything away, get that promoted to prod… you know the drill ;-)

Hopefully I should be able to get this sorted out in the next day or so.

[2020-09-14 09:19] austin0 commented on #10527
Seems to be fixed, thanks @knn-k.

[2020-09-14 09:19] #10527 closed

[2020-09-14 11:08] pwagland commented on #10541
@dmitripivkine, so I have a dump file, however this has embedded passwords (pass in via the environment) such that I am uncomfortable to upload this tmp fie, definitely publicly. Is there any easy way to "sanitise" the `tmp` file? And, since this file is 1.8G, I will PM you for a way to make this available not as an attachment.

[2020-09-14 12:35] JasonFengJ9 commented on #10584
This blocked OMR abuild.

@hangshao0 any quick thought if this is just a test issue?

[2020-09-14 13:10] andrew-m-leonard opened #10588 "jdk15+36: java/foreign/TestMismatch.java.TestMismatch J9 Crash"
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_sanity.openjdk_ppc64le_linux/43/consoleFull
java/foreign/TestMismatch.java
Fails on platforms: Platforms: pLinux, xLinuxXL

Optional info
-------------
- intermittent failure (yes|no): possibly
- regression or new test:  Regression
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) :

[2020-09-14 13:16] andrew-m-leonard opened #10589 "jdk-15+36: aarach64XL javac J9 crash"
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_sanity.openjdk_aarch64_linux_xl/22/#showFailuresLink
Platform: only aarch64XL

Failure output (captured from console output)
---------------------------------------------
[code]

Crashes in various tests:
[code]

[2020-09-14 13:22] JasonFengJ9 commented on #10588
It appears https://github.com/eclipse/openj9/issues/10580 with different error output.

[2020-09-14 13:26] keithc-ca commented on #10584
I think this is just a test issue: I think it should be looking for values with the 8 or 16 zeros (not 10).

[2020-09-14 13:26] andrew-m-leonard opened #10590 "jdk15+36: MBCS unicode specifial.functional failures"
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_special.functional_x86-64_linux/42/console
tests failing:
MBCS_Tests_unicode_linux_0
MBCS_Tests_codepoint_linux_0

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-09-14 13:36] andrew-m-leonard opened #10591 "jdk-15+36: sanity.perf naive-bayes ExceptionInInitializerError"
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_sanity.perf_aarch64_linux/43/consoleFull

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-09-14 13:37] DanHeidinga commented on #10584
It's related to https://github.com/eclipse/openj9/pull/10544 which explains why 10 or 18:
https://github.com/eclipse/openj9/blob/f4371b3b27c603f04824949fe50ca10306dd4cda/test/functional/cmdLineTests/shareClassTests/SCCMLTests/ShareClassesCMLTests-1.xml#L84-L85

[2020-09-14 13:44] andrew-m-leonard opened #10592 "jdk-15+36: TestJlmRemote/TestIBMJlmRemote fail JVM exits"
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_sanity.system_aarch64_linux_xl/22/consoleFull
Tests:
15:16:26 TestJlmRemoteClassAuth_0
15:16:26 TestJlmRemoteMemoryAuth_0
15:16:26 TestJlmRemoteNotifierProxyAuth_0
15:16:26 TestIBMJlmRemoteClassAuth_0
15:16:26 TestIBMJlmRemoteMemoryAuth_0

Failure output (captured from console output)
--------------------------------------

[2020-09-14 13:49] tajila commented on #10149
This seems like the best solution. @mikezhang1234567890 can you please make this change.

[2020-09-14 13:54] keithc-ca commented on #10584
#10544 added the prefix `0x` so I would expect it to be followed by 8 or 16 zeros.
The failing test only sees 8 zeros with no leading `0x`; was the change to the expectation inappropriate?

[2020-09-14 14:00] DanHeidinga commented on #10589
I don't think aarch64-xl was going to be included in the jdk15 release so this isn't a stop-ship

fyi @0xdaryl @knn-k

[2020-09-14 14:01] DanHeidinga commented on #10588
fyi @andrewcraik

[2020-09-14 14:03] DanHeidinga commented on #10588
We need a stop-ship determination on this issue.  Given the crash is in java.foreign package which I believe is still in preview, I don't think will be but we should still look at the crash to be sure it's a broader issue

[2020-09-14 14:04] DanHeidinga commented on #10590
We need a stop-ship decision on this for 0.22.0

[2020-09-14 14:04] DanHeidinga commented on #10591
We need a stop-ship decision on this failure found in the 0.22.0 M2 build

[2020-09-14 14:06] DanHeidinga commented on #10345
Moving this out of the 0.22.0 release and into 0.23.0 as I believe the last change for it went into 0.23.

@tajila can you confirm this is completely fixed now?

[2020-09-14 14:09] andrewcraik commented on #10588
@liqunl sorry to interrupt your dev work but could you take a look as this is lined up against the release that will be going out imminently.

[2020-09-14 14:15] DanHeidinga commented on #10584
The 0xRomAddress part of the anonclass names are memset to 0 and then filled in later.  For a 32 bit system, it should either be printed as `0000000000` (10 zeros) or `0x00000000` (0x 8 zeros) depending on when the tracepoint runs.

[2020-09-14 14:26] liqunl commented on #10588
@andrew-m-leonard @llxia What should be the target if I want to rerun the failed test?

[2020-09-14 14:27] liqunl commented on #10588
@andrew-m-leonard You mentioned the test also failed on xlinux, could you provide the link to the x86 failure?

[2020-09-14 14:29] tajila commented on #10591
@mikezhang1234567890 can you please investigate this issue

[2020-09-14 14:33] tajila commented on #10590
@hangshao0 can you please take a look at this

[2020-09-14 14:53] mikezhang1234567890 commented on #10591
Looking into it now.

[2020-09-14 15:01] liqunl commented on #10588
#10580 is a failure in the same test and it has a link to rerun the test with target `jdk_foreign_0`.
20 iterations
https://ci.adoptopenjdk.net/job/Grinder/3856/

But it failed. @rpshukla Could you help with the grinder? I don't know why my grinder failed, maybe something's wrong in my configuration?

[2020-09-14 15:04] andrew-m-leonard commented on #10588
xLinux: https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_sanity.openjdk_x86-64_linux_xl/41/console

[2020-09-14 15:15] andrew-m-leonard commented on #10588
@liqunl i've just kicked off a Grinder on xLinux for just the TestMissmatch test here: https://ci.adoptopenjdk.net/job/Grinder/3859/console

[2020-09-14 15:18] andrew-m-leonard commented on #10588
@liqunl fyi, the "Rerun Grinder" links rarely work as-is, as they typically point at the "upstream" job artifact, which by the time you run the grinder has dissappeared!
I change it to use "customized" and point SDK_URL at the required github binary

[2020-09-14 15:22] hangshao0 commented on #10590
@andrew-m-leonard, do you know if this test ever pass before ? I was looking at the history, but it has history of only 1 day before this failure, https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_special.functional_x86-64_linux/40/ is already gone.

[2020-09-14 15:24] andrew-m-leonard commented on #10590
@hangshao0 I don't, i've not seen this fail before from memory. Probably worth re-running a few iterations in a grinder

[2020-09-14 15:26] rpshukla commented on #10588
I started another plinux grinder using CUSTOMIZED_SDK_URL instead of UPSTREAM_JOB_NAME
https://ci.adoptopenjdk.net/job/Grinder/3861/

[2020-09-14 15:39] dmitripivkine commented on #10541
I can see two ways how we can handle this problem.

1) We can speculate this is a problem with partially initialized `j9class` because of verification error. I discussed this with @tajila and he mentioned if it is a case we should observe exceptions in Snap traces. If you have `.trc` file and comfortable to share it with us (or convert it to text format using `java com.ibm.jvm.format.TraceFormat <

[2020-09-14 15:58] liqunl commented on #10588
Looked at the xlinuxXL failure, the error message is the same as #10580, which is
[code]
So the crash is only seen on ppcle. FYI @gita-omr

[2020-09-14 16:11] gita-omr commented on #10588
@AlenBadel could you kindly take a look?

[2020-09-14 16:27] liqunl commented on #10580
On the xlinuxXL failure from #10588 has the same error message. When timeout happened, the program ran jstack and printed the following information
[code]

This is the agent that timed out. `vectorizedMismatch` is annotated as HotSpotIntrinsicCandidate and judging from the names of the first two methods on the stack, they're supposed to be vectorized?

If Openj9 doesn't optimize the method, we'll

[2020-09-14 16:35] pwagland commented on #10541
Let's begin with the easy step first then 👍

[Snap.20200914.094455.65828.0003.trc.gz](https://github.com/eclipse/openj9/files/5219723/Snap.20200914.094455.65828.0003.trc.gz)

Following along with your walkthrough:
[code]
`RBX` looks roughly the same, so looking into that…
[code]
Looks like a j9class… so:
[code]

Right, so that means that `com/redwood/scheduler/infrastructure/logging/api/Logger` is

[2020-09-14 16:35] dmitripivkine commented on #10579
AIX machine is not configured for High Resolution Clock to support Metronome
@jdekonin FYI

[2020-09-14 16:40] tajila commented on #10541
It looks like the problem is `com/redwood/scheduler/infrastructure/logging/api/Logger`. It is uninitialized and has a null classobject.

[code]

[2020-09-14 17:15] tajila commented on #10541
I took a look at the snap trace. There is not enough data in there to determine why the class was not able to be initialized. If the problem is easily reproduceable can you re-run with `-Xtrace:maximal={j9vm{level10}},buffers=15m` and generate a snaptrace using jdmpview with `!snapformat` once you get the system core. This will let us know if there was any exception while attempting to link the cl

[2020-09-14 17:17] pwagland commented on #10541
Thank @tajila, sadly this is all too reproducible for me ;-)

I'll see if I can run this tomorrow with these arguments.

[2020-09-14 17:31] #10491 closed

[2020-09-14 17:35] andrewcraik commented on #10580
@liqunl if we increase the timeout does the test pass? I don't know that performance should be a blocker for a release we should just carry a perf item into the next release to address it...

[2020-09-14 18:15] andrewcraik commented on #7692
closing per previous comment given lack of activity.

[2020-09-14 18:15] #7692 closed

[2020-09-14 18:37] mikezhang1234567890 commented on #10591
The issue seems to be build differences . Trying with a [build from the OpenJ9 Jenkins](https://ci.eclipse.org/openj9/job/Build_JDK15_x86-64_linux_Nightly/48/) does not have this error. The builds have the same SHAs for OpenJ9, OMR, and the openJDK repos:
[code]

It could be because of different set up or the difference between internal and release builds.

[2020-09-14 18:59] liqunl commented on #10580
Adding 2 grinders from @andrew-m-leonard, I believe it's two iterations, both have passed
https://ci.adoptopenjdk.net/job/Grinder/3859
https://ci.adoptopenjdk.net/job/Grinder/3865

A 20-iteration grinder has also passed.
https://ci.adoptopenjdk.net/job/Grinder/3867

[2020-09-14 19:07] andrew-m-leonard opened #10593 "jdk-16: JavaLangAccess.bindToLoader() added"
JDK-8244778 has added a new method JavaLangAccess:
 void bindToLoader(ModuleLayer layer, ClassLoader loader);

[2020-09-14 19:08] hangshao0 commented on #10590
This does not look like an OpenJ9 issue to me.

MBCS_Tests_unicode_linux_0 failed at:
[code]
The `NFC()/NFD()/NFKC()/NFKD()` functions are just a wrapper of `Normalizer.normalize()`.
OpenJ9 does not own the implementation of `Normalizer.normalize()`.

Tried the latest OpenJDK 15 nightly build from Adopt, RI is also failing `MBCS_Tests_unicode_linux_0` and `MBCS_Tests_codepoint_linux_0`

https://ci

[2020-09-14 19:10] tajila commented on #10593
@JasonFengJ9 Can you please take a look at this

[2020-09-14 19:13] dmitripivkine commented on #10587
this is a duplicate of https://github.com/eclipse/openj9/issues/10489 (corruption in Ownable Synchronizer List)
[code]

[2020-09-14 19:13] #10587 closed

[2020-09-14 19:21] JasonFengJ9 commented on #10593
@tajila sure, will pick it up.

[2020-09-14 19:25] hangshao0 commented on #10590
Seems that OpenJDK is updated to support unicode 13.0: https://bugs.openjdk.java.net/browse/JDK-8239383. But the test material https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/functional/MBCS_Tests/unicode/data is still using the 12.0.1 version of NormalizationTest.txt. May need to update test material to use the 13.0 version https://www.unicode.org/Public/13.0.0/ucd/NormalizationTest.txt

[2020-09-14 19:27] dmitripivkine commented on #10489
@gita-omr FYI

[2020-09-14 19:30] dmitripivkine commented on #10489
Actual corruption is in Tenure so it might be not a CS specific (or just some side effect of CS)

[2020-09-14 19:32] hangshao0 commented on #10584
https://github.com/eclipse/openj9/pull/10544 should not change `URLHelperTests.xml`  and `URLHelperTests_80.xml`. The `00000000` checked there are not related to anon/hidden classes. It is just a null passed to the second parameter of getPathProtocolFromURL():

[code]

[2020-09-14 21:01] tajila commented on #10586
FYI @ymanton @DanHeidinga

[2020-09-14 21:15] andrewcraik commented on #10580
@liqunl is this evidence that this is a performance issue?

[2020-09-14 21:17] tajila commented on #10590
Thanks for investigating this @hangshao0

[2020-09-14 21:30] liqunl commented on #10580
No. We haven't ruled out the possibility of a hang. The timeout is 960 seconds and it should be long enough to finish the test. I'm trying to reproduce it in grinder and also locally.

[2020-09-14 21:50] knn-k commented on #10589
It looks like the same problem as #10126.

[2020-09-14 22:15] pwagland commented on #10541
Hmm. right, well, just kicked off a build, that'll take a few hours to fail, I'll try to update this ticket on my tomorrow.

However, I just noticed that this is failing during the compilation of one of our targets. It has managed to compile this target four times, and fails on the fifth attempt. Each time it is compiling (sans timestamps) the same thing.

[2020-09-14 23:48] liqunl commented on #10580
This grinder is closer to the original one, runs on x86_linux_xl. The running time of the whole foreign test group is around 5 minutes.
100 iterations
https://ci.adoptopenjdk.net/job/Grinder/3875/
https://ci.adoptopenjdk.net/job/Grinder/3876/
https://ci.adoptopenjdk.net/job/Grinder/3877/
https://ci.adoptopenjdk.net/job/Grinder/3878/
https://ci.adoptopenjdk.net/job/Grinder/3879/

[2020-09-15 00:23] pshipton commented on #10584
@tajila @hangshao0 who is going to create the fix for this?

[2020-09-15 00:31] smlambert commented on #10590
I have raised https://github.com/AdoptOpenJDK/openjdk-tests/issues/1957 to address this issue.

[2020-09-15 00:31] #10590 closed

[2020-09-15 04:40] knn-k opened #10597 "AArch64: javac OutOfMemoryErrors in openjdk tests with XL builds"
There are random and intermittent OutOfMemoryErrors with javac in AArch64 Java 11 XL builds.

Failure link
------------

- https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/204/ (2 failures)
- https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/205/ (4 failures)
- https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_

[2020-09-15 09:07] lumpfish commented on #10591
Looks like this test is also failing on jdk15 hotspot: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1932

[2020-09-15 09:09] lumpfish commented on #10592
This is fixed by https://github.com/eclipse/openj9-systemtest/pull/118

[2020-09-15 09:10] lumpfish commented on #7397
This is fixed by https://github.com/eclipse/openj9-systemtest/pull/118

[2020-09-15 12:44] tajila commented on #10591
@llxia do you know who owns these tests?

[2020-09-15 13:26] pshipton commented on #10339
Also seen in a Java 15 test run, and latest Java 11 nightly build.
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Release/3
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/152/

[2020-09-15 13:28] pshipton commented on #10339
@andrewcraik can someone take a look at this pls.

[2020-09-15 13:54] andrewcraik commented on #10339
@mpirvu or @dsouzai do either of your know anything about this bit of code since the assert is from the compilation controller?

[2020-09-15 14:11] adamfarley commented on #8173
Another instance:
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9/742/console

[2020-09-15 14:23] llxia commented on #10591
`renaissance-naive-bayes` test is from [renaissance-benchmarks](https://github.com/renaissance-benchmarks/renaissance).

[2020-09-15 14:27] dmitripivkine commented on #10597
Looks like tests failed more or less randomly so most likely not related to particular JVM pattern

[2020-09-15 14:29] llxia commented on #10591
Tested in Grinder and got the same result as Mike:

- Passed using openj9 SDK from [Build_JDK15_x86-64_linux_Nightly/49](https://ci.eclipse.org/openj9/job/Build_JDK15_x86-64_linux_Nightly/49/):
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1042/
- Failed using openj9 SDK from [Adopt](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-linux-x64-openj9/37/):
https://c

[2020-09-15 14:33] liqunl commented on #10580
Only the 3875 grinder finished, the rest failed to download the jdk due to bad jdk url.
80 iterations
https://ci.adoptopenjdk.net/job/Grinder/3886/
https://ci.adoptopenjdk.net/job/Grinder/3887/
https://ci.adoptopenjdk.net/job/Grinder/3888/
https://ci.adoptopenjdk.net/job/Grinder/3889/

[2020-09-15 14:36] dsouzai commented on #10339
No idea about this code; the assert is coming from OMR code [1]. Looking online for that return value of GetLastError [2], 87 is
[code]
Not really sure what is going on; looking at some of the other failures, _maybe_ it's possible we're failing before `TR::CompilationController::init(compInfo);` is called (and therefore, we never invoke `tlsAlloc(OMR::compilation);`)? The reason for thinking this

[2020-09-15 14:49] tajila commented on #10345
Yes, I've confirmed that those tests are passing, https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3884/testReport/

[2020-09-15 14:53] AlenBadel commented on #10588
Failure rate on my side is between 1/10 and 1/20.

java.foreign was bundled with OpenJDK and Oracle builds starting with Java 14. I understand J9 may not be in total sync with new package support (i.e javafx). Is foreign bundled with J9 Java 14 builds?

[2020-09-15 14:54] mpirvu commented on #10339
It's possible that we have a very early failure during `onLoadInternal()` (in the description I saw messages about not being able tot allocate data caches), so the CompilationController does not have a chance to execute its init procedure. When returning from `onLoadInternal()` with -1 we call `freeJITConfig()` which proceeds with the shudown procedure at which point it will call `CompilationContr

[2020-09-15 15:01] pshipton commented on #10588
Foreign is still incubator status for Java 15, but it is included.
https://openjdk.java.net/jeps/383

[2020-09-15 15:07] tajila commented on #10345
Test excludes are being removed

[2020-09-15 15:07] #10345 closed

[2020-09-15 15:08] mpirvu commented on #10339
In
[code]
we must guard `tlsFree(OMR::compilation);` by same variable that tells us whether the initialization took place. My first instinct was to reuse `_useController`, but apparently the JIT can function even without a controller (though we haven't tries that in years). Thus, it's better to have a separate variable.

[2020-09-15 15:13] mpirvu commented on #10339
I am going to create a PR shortly

[2020-09-15 15:14] tajila commented on #10149
Update: @andrew-m-leonard is going to add the `-XX:+CompactStrings` to the upstream repo for StringJoinerTest.java and MergeTest.java

[2020-09-15 15:25] ymanton commented on #10586
Thanks, I was aware of these but haven't been building with DDR enabled lately so they slipped my mind. DDR needs work to accommodate pointers-to-offsets changes in the JIT metadata.

[2020-09-15 15:30] liqunl commented on #10580
So far, 100 iterations have passed, another 100 iterations
https://ci.adoptopenjdk.net/job/Grinder/3891/
https://ci.adoptopenjdk.net/job/Grinder/3892/
https://ci.adoptopenjdk.net/job/Grinder/3893/
https://ci.adoptopenjdk.net/job/Grinder/3894/
https://ci.adoptopenjdk.net/job/Grinder/3895/

[2020-09-15 15:33] mpirvu commented on #10339
This will require OMR changes as well because the definition of the CompilationController is in `omr/compiler/control/OptimizationPlan.hpp`

[2020-09-15 15:44] #10584 closed

[2020-09-15 16:35] AlenBadel commented on #10588
It looks like the foreign package is also included in J9 Java 14 builds. I ran it with the latest Java 14 release, and was not able to reproduce the failure. This suggests that this is a recent regression.
I'm still actively attempting to open the core file, and analyzing the failure.

[2020-09-15 16:57] 0xdaryl commented on #10586
The current snapshot branch will only build with `--disable-ddr`.  I suggest we either fix this very soon or work around it so that we can build with DDR.  We may need DDR as a diagnostic tool for debugging this.

[2020-09-15 17:56] liqunl commented on #10580
@andrewcraik Not reproducible in 200 jobsm is it enough to downgrade its severity?

[2020-09-15 20:45] harryyu1994 commented on #7966
@zl-wang @gita-omr @mpirvu @vijaysun-omr I'm looking at enabling Portable AOT on Power. I have a few questions on how this may work on Power as its processor detection and compatibility check logic is a little bit different from x86 and Z. First I'll provide some background information:

## Background
#### How processor detection works now:
- always go through OMR port library to find the cpu info

[2020-09-15 21:13] zl-wang commented on #7966
On POWER, it should be similar to Z approach: lower processor-type plus enabled features.  For example, Transaction Memory -- it doesn't depend on the hardware strictly, it also depends on whether the OS enables it or not.  You cannot determine its availability solely by processor-type.

The general principle of hardware is later generations of CPU are compatible with earlier generations of hardwa

[2020-09-15 21:16] chrisc66 commented on #9443
Had some discussion with @raguks, looks like the complexity of Runtime Component Operator is very high, 1M+ lines of code and building an extra layer is likely to takes same amount of code. We are looking to work around and start with a helm chart and helm based operator. Complexity can be added later

The helm chart is straight forward, and created by our runtimes team. The helm operator is gener

[2020-09-15 21:26] harryyu1994 commented on #7966
Okay so processor features is determined by both hardware and os, this makes sense. Another question is that is it true for Power that if the host environment (hardware + os) contains all the processor features that the build environment has then we can run the AOT code(from the build environment) on the host environment?

[2020-09-15 21:43] AlenBadel commented on #10588
I'm afraid that the core files are not readable on my end. I've even tried to add `-Xrs` in order to get more core context and that causes EOF issues with the test, none of the iterations have crashed using `-Xrs`.

Continuing my investigation by attempting to increase the reproducibility, so that I can reliably get this test to fail locally.

[2020-09-15 21:46] harryyu1994 commented on #7966
Technically the processor feature set contained in processorDescription should be what's actually available and not what could be available based on the processor type. We should take into account of the OS when we initialize the processor feature set. After that, we can just safely compare the processor feature set similar to how we are doing it for x86. I'm hoping this works for Power.

[2020-09-15 22:23] pwagland commented on #10541
Here is the requested `!snapformat > SnapFormat.txt`.
[SnapFormat.txt.gz](https://github.com/eclipse/openj9/files/5228457/SnapFormat.txt.gz)

I have double checked, as far as I can tell, Java dies while the Java compiler is being called (ejc via ant), and the `Logger` class is the very first project compiled, and has been included in many hundreds of compilations until this point. It is _not_ reco

[2020-09-15 23:55] #10593 closed

[2020-09-16 01:35] pshipton commented on #10149
Should be resolved by the following, will close after verifying this.
https://github.com/ibmruntimes/openj9-openjdk-jdk15/pull/26
https://github.com/ibmruntimes/openj9-openjdk-jdk15/pull/27
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/233

[2020-09-16 02:30] pshipton commented on #10588
I'm guessing the core file(s) aren't readable because you need the jextract data from the machine that produced the core file. If it's reproducible on an OpenJ9 or internal jenkins machine we can get that. If it's only reproducible at Adopt, someone with access to those machines could run jextract.

[2020-09-16 10:46] lumpfish commented on #9046
This is occurring intermittently on AdoptOpenJDK nightly builds - e.g. https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_aarch64_linux_xl/207/consoleFull

I have gone through the most recent runs and only found it occurring on machines test-packet-ubuntu1604-armv8-1 and test-packet-ubuntu1604-armv8-2 - i.e. Ubuntu 16.04 machines.  I did not see any failures on the other AdoptOpenJDK

[2020-09-16 12:28] zl-wang commented on #7966
Yes, that is expected.

[2020-09-16 12:57] jjohnst-us commented on #9195
@dnakamura
Was looking at enabling cmake for z/TPF platform for OpenJDK 11.  Two questions for you.
1)  Is there a 'verbose' command which actually echoes out each of the compilation and link commands to be captured by the build.log?  The without-cmake has a 'make all LOG=cmdlines' option which enables that.
2)  We are a cross-compiled platform.  We use standard gcc compiler our 'offline' tools th

[2020-09-16 13:09] pshipton opened #10611 "openjdk jdk15 defineHiddenClass/BasicTest defineHiddenClass/TypeDescriptorTest failures"
https://ci.eclipse.org/openj9/job/Pipeline-Release-0.22.0-Build15/4/
java/lang/invoke/defineHiddenClass/BasicTest.java
[code]
java/lang/invoke/defineHiddenClass/TypeDescriptorTest.java
[code]

[2020-09-16 13:12] pshipton commented on #10611
Tests were re-included by https://github.com/AdoptOpenJDK/openjdk-tests/pull/1960
@tajila are the failures in the jdk15 release stream expected, or did we miss delivering a change to this stream?

[2020-09-16 13:15] pshipton commented on #10592
These system failures didn't occur again in the jdk15 release testing last night.
https://ci.eclipse.org/openj9/job/Pipeline-Release-0.22.0-Build15/4/
The nightly builds for jdk8 and jdk11 also look good, closing as resolved.

[2020-09-16 13:15] #10592 closed

[2020-09-16 13:16] pshipton commented on #10149
These failures didn't occur in the jdk15 release testing last night, closing as resolved.
https://ci.eclipse.org/openj9/job/Pipeline-Release-0.22.0-Build15/4/

[2020-09-16 13:16] #10149 closed

[2020-09-16 13:21] DanHeidinga commented on #10611
The failures are expected.  Given how close to the release we were, I opted not to ask for a port of this change

[2020-09-16 13:22] pshipton commented on #10611
Closing as a known issue in the jdk15 0.22 release.

[2020-09-16 13:22] #10611 closed

[2020-09-16 14:32] pshipton commented on #10585
Closing as a dup of https://github.com/eclipse/openj9/issues/6361

[2020-09-16 14:32] #10585 closed

[2020-09-16 15:12] hangshao0 commented on #10534
I am looking into this.

[2020-09-16 15:14] DanHeidinga commented on #10588
This is considered stop-ship until we have a core file and can evaluate the cause and frequency

[2020-09-16 15:21] DanHeidinga commented on #10591
Based on discussion in https://github.com/AdoptOpenJDK/TSC/issues/174#issuecomment-693426034, we agree this is not a stop-ship issue for the JDK15 release

[2020-09-16 15:21] DanHeidinga commented on #10339
Fix is in.  This can be closed

[2020-09-16 15:21] #10339 closed

[2020-09-16 16:35] keithc-ca commented on #9195
I have changes that are intended to propagate the `LOG` choice through to cmake; see https://github.com/keithc-ca/openj9-openjdk11/blob/makeflags/closed/OpenJ9.gmk#L59. I've been meaning to update that branch and repeat for all jdk versions.

[2020-09-16 16:46] llxia commented on #10591
Reran using openj9 SDK from Build_JDK15_x86-64_linux_Nightly/49 at Adopt and the same machine test-godaddy-debian8-x64-3, the test passed https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3922/

[2020-09-16 17:02] pshipton commented on #10504
Setting as a blocker since it's a regression. Guessing it's JIT due to the intermittent nature.

First occurrence I can find, although the problem is intermittent.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly/470

It occurs across platforms, https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64le_linux_Nightly/489/

Changes from previous

[2020-09-16 17:03] pshipton commented on #10504
@andrewcraik can someone look at this pls.

[2020-09-16 17:12] andrewcraik commented on #10504
@rpshukla can you have a look and see what you can make of this? A binary search of the changes may be the best way to find the problem. Only opt related change seems to be in GRA...

[2020-09-16 17:24] mnalam-p commented on #10489
@dmitripivkine I could not find the DaaLoadTest in openj9/test. Can you kindly suggest me where can I find the test class? I want to run the test locally and see if I can reproduce.

[2020-09-16 18:10] r30shah opened #10616 "ASSERT failed when running JVM in SnapShot mode with JVM Options for FSD"
I was running a test using a build that forces JIT to generate read only code (by setting `TR_ForceGenerateReadOnlyCode`) , test was using JVM Options `-Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo`. It fails with following ASSERT [1].

[code]

Looking at the code, where we disable couple of optimizations and features for read only code in J9Options.cpp

[2020-09-16 18:14] pshipton commented on #10489
See https://github.com/eclipse/openj9-systemtest

[2020-09-16 18:16] r30shah commented on #10616
FYI @0xdaryl  @DanHeidinga  I am not sure what flags we need to add to this issue, but this is specific to snapshot branch.

[2020-09-16 18:48] liqunl opened #10618 "Adopt Openjdk MethodHandle implementation - JIT"
#7352 proposed a plan to replace Openj9 MethodHandle implementation with Openjdk's. This issue is to track JIT work to support the switch.

## Functional support
- [ ] #10607  bytecode handler
- [ ] #10576 Add routines to get target method from MethodHandle and MemberName
- [ ] #10617 Handle MethodHandle.invokeBasic and MethodHandle.linkTo (Basic functional support)

-- More to come --

[2020-09-16 18:49] liqunl commented on #10618
FYI @andrewcraik @nbhuiyan

[2020-09-16 19:00] joransiu opened #10619 "Add HEAPPOOL options to Java Launcher for z/OS"
Similar in motivation to https://github.com/eclipse/openj9/issues/7908, we would like to propose enabling LE [HEAPPOOL](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.4.0/com.ibm.zos.v2r4.ceea300/clheap2a.htm) and [HEAPPOOLS64](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.4.0/com.ibm.zos.v2r4.ceea300/clheap264.htm) to the Java launcher for z/OS.   Investigations into performanc

[2020-09-16 19:11] tajila opened #10620 "ValueTypes: Warnings for ValueBased Classes (JEP 390)"
See https://openjdk.java.net/jeps/390

ValueTypes: Warnings for ValueBased Classes (JEP 390)

A new annotation `@ValueBased` will be introduced and applied to classes that may become inline-types in the future. Inline-types disallow synchronization on instances.

To facilitate migration of `@ValueBased` classes to inline-types, the RI will add an option to fail, warn, or emit a JFR event when a mo

[2020-09-16 19:12] tajila commented on #10620
JEP is currently in draft phase. More details to come

[2020-09-16 19:12] tajila commented on #10620
FYI @hangshao0

[2020-09-16 19:13] liqunl commented on #10580
I have another 80 iter grinder passed
https://ci.adoptopenjdk.net/job/Grinder/3924/
https://ci.adoptopenjdk.net/job/Grinder/3925/
https://ci.adoptopenjdk.net/job/Grinder/3926/
https://ci.adoptopenjdk.net/job/Grinder/3927/

300 jobs have passed in total, not able to reproduce. Since this issue is not a stop-ship for 0.22 release and it shouldn't be based on the low failure rate.

[2020-09-16 19:23] andrewcraik commented on #10580
The non-crash issue has not reproduced in 300 jobs. Perhaps it was timing if it ran on a shared machine and resources were low? I think we need to wait for a reproduction in the hope we can get some more information from that.

[2020-09-16 19:25] pshipton commented on #10580
Have you tried grinding it on the internal machines where the original problem occurred?

[2020-09-16 19:32] pshipton commented on #10158
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/179

[2020-09-16 19:38] pshipton commented on #8949
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly_testList_0/106
`Mismatch in number of ROMClasses. Without enableBCI, # ROMClasses: 500With enableBCI, # ROMClasses: 533.`

[2020-09-16 19:41] pshipton opened #10621 "DaaLoadTest crash vmState=0x000501ff"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly_daaLoadTest/122
DaaLoadTest_daa1_special_20
[code]

[2020-09-16 19:42] pshipton commented on #10621
@andrewcraik fyi

[2020-09-16 19:43] pshipton commented on #10375
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/154/

[2020-09-16 19:47] pshipton opened #10622 "jitserver testServerComesUpAfterClient Failed to properly start server"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly_testList_0/108
testJITServer_1
[code]

[2020-09-16 19:47] pshipton commented on #10622
@mpirvu

[2020-09-16 20:08] pshipton opened #10623 "Crash in javac compiling functionality tests"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_OMR_testList_0/105
There is a core file in the artifact.
May be the same problem as https://github.com/eclipse/openj9/issues/10490
[code]

[2020-09-16 20:08] pshipton commented on #10623
@andrewcraik fyi

[2020-09-16 20:15] andrewcraik commented on #10623
that backtrace looks very dubious - esp since it is windows - the offset is insane....

[2020-09-16 20:21] JasonFengJ9 commented on #10622
It appears another manifestation of https://github.com/eclipse/openj9/issues/8770.

[2020-09-16 20:47] liqunl commented on #10580
Not yet, let me try

[2020-09-16 20:54] liqunl commented on #10588
It's reproducible on internal jenkins machine, failure rate seems to be 4/12 on nightly build. Also saw crash in compiled method `jdk/internal/misc/Unsafe.setMemory(JJB)V`
The following grinder is to reproduce the timeout, and it hasn't finished yet.
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/10355

[2020-09-16 20:57] keithc-ca commented on #9549
I made improvements to `jextract` so it can find more of the necessary files; running `jdmpview` in the context of those extra files seems to enable most section information. I'll be opening a pull request shortly.

[2020-09-16 21:27] rpshukla commented on #10504
Ran an xlinux grinder and 2/10 runs failed:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3932/

Also ran a similar grinder with `-Xjit:disableGRA` and 6/10 runs failed:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3933/

Since the failure occurs even when GRA is disabled, it doesn't appear to be a problem with GRA.

[2020-09-16 22:12] AlenBadel commented on #10588
I was able to re-produce this locally on one of our internal farm machines. Failing at a rate of 100% on this particular machine.

jextract can't find the libraries unfortunately. GDB, as well as our internal debugging tools are not able to load the libraries even when given the prefix, and absolute path.
[code]

I've also tried to generate a trace file, without any luck.

I'll attempt to run this

[2020-09-16 22:13] pshipton opened #10626 "JEP 347: Enable C++14 Language Features"
See https://openjdk.java.net/jeps/347

Excerpt:
* Windows: Visual Studio 2017 is required for JDK 11. (Earlier versions will generate a configure-time warning and may or may not work.) For Visual Studio 2017 the default C++ standard is C++14. The /std:c++14 option should be added. Support for older versions will be dropped entirely.

* Linux: Replace the -std=gnu++98 compiler option with -std=c++1

[2020-09-16 22:39] pshipton commented on #10626
fyi @tajila @fjeremic @joransiu @mpirvu @andrewcraik @gita-omr @zl-wang @knn-k @ChengJin01 @jdekonin

This JEP only affects compiling the OpenJDK code, although we can separately choose to change how OpenJ9 is compiled as well. The OpenJ9 project is already using the same or newer than the minimum stated compiler levels, the only concern is z/OS. Not sure how it affects RISC-V.

[2020-09-16 22:42] pshipton opened #10627 "JEP 338: Vector API (Incubator)"
See https://openjdk.java.net/jeps/338

also https://github.com/eclipse/openj9/issues/8076 and https://github.com/eclipse/openj9/issues/2220

[2020-09-16 22:42] pshipton commented on #10627
fyi @tajila @gita-omr

[2020-09-16 22:45] ChengJin01 commented on #10626
@pshipton, it should be fine for RISC-V as currently we compile /cross-compile with GCC > 9.2

[2020-09-16 23:08] pshipton commented on #10588
The jextract problem may be related to https://github.com/eclipse/openj9/issues/9549, for which we have a PR under review. @keithc-ca

Although it makes no sense that GDB doesn't work. Perhaps it needs to be updated.

[2020-09-16 23:14] pshipton commented on #10623
yup, but there is a core file to look at, available for a short time.

[2020-09-17 00:04] AlenBadel commented on #10588
Thanks. I'll give the build a try to see if it addresses my issue.

I'm currently using GDB 8.2, which is older. However it's the most current available build given the OS I'm using is ubuntu 16.04.

I'm just shooting in the dark here, but I wonder if I can get this to reproduce on a newer OS, there might be a bug with some of these older c libraries and runtimes; specially on PPC64LE.

[2020-09-17 01:52] keithc-ca commented on #10588
I vaguely remember having trouble with gdb 8 and needing to use gdb 7. There's a copy for x86-64 in /team/keithc/gdb-7, but, unfortunately, I don't know where to find gdb 7 for ppc64le.

[2020-09-17 01:54] AlenBadel commented on #10588
In a turn of events. This OpenJ9 JDK15 nightly is now starting to hang during a simple `java --version` on the same machine.

[2020-09-17 02:25] AlenBadel commented on #10588
Looks to be hanging only on Non XL releases of PPC64LE JDK15. Works on the JDK14 equivalent. I went back all the way to the first release of ppc64le JDK15 on adoptopenjdk, and they all hang similarly.

[2020-09-17 11:27] JasonFengJ9 opened #10628 "JDK11 Win64 OnExitTest - Segmentation error vmState=0x00050bb0"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/154/consoleFull
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
04:00:03  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=x86-64_windows&TAR

[2020-09-17 11:31] JasonFengJ9 opened #10629 "JDK11 Win64 java/lang/ProcessHandle/TreeTest.java Segmentation error vmState=0x00000000 at J9THR29.dll"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/154/consoleFull
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
04:00:03  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=x86-64_windows&TAR

[2020-09-17 11:42] JasonFengJ9 opened #10630 "JDK11 Linux ppc64le java/util/Hashtable/SerializationDeadlock.java *** stack smashing detected ***"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_xl_Nightly/148/consoleFull

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-09-17 11:53] JasonFengJ9 opened #10631 "JDK15 java/util/StringJoiner/StringJoinerTest.java : java.lang.OutOfMemoryError: Java heap space"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Nightly/51/consoleFull
win2012r2-x86-4
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
05:03:22  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=15&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=x86

[2020-09-17 11:57] JasonFengJ9 commented on #10629
Also failed at same JDK15 `java/lang/ProcessHandle/TreeTest.java` https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_windows_Nightly/51/consoleFull
[code]

[2020-09-17 12:02] JasonFengJ9 opened #10632 "JDK15 release build : test BasicTest.hiddenClass(): failure - java.lang.AssertionError: expected [true] but found [false]"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_ppc64_aix_Release/4/consoleFull
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
01:41:11  https://ci.eclipse.org/openj9/job/Grinder/parambuild/?JDK_VERSION=15&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=ppc64_aix&TARGET=jdk_lang