[2020-11-05 20:18] #10947 closed

[2020-11-05 20:22] tajila commented on #11113
@JasonFengJ9 can you please take a look at this

[2020-11-05 20:41] JasonFengJ9 commented on #11113
Sure, will look into this.

[2020-11-05 20:55] bharathappali commented on #11110
Thanks @pshipton. I'm not aware of the internals of OpenJ9 CDS and SCC, Sorry I shouldn't have considered `nonfatal` as a perfect solution after knowing things are failing even with it. Your comment makes it a bit clear for me to diagnose at which point the problem may exist. (After cache being opened and performing integrity checks).

I have tried to get a trace as mentioned in [this comment](htt

[2020-11-05 20:55] dmitripivkine commented on #11111
@amicic fyi

[2020-11-05 21:36] hangshao0 commented on #11110
As you searched for key word `ERROR`, and haven't found any helpful result. I guess you didn't hit the trace point:
`j9shr.2272    INIT j9shr_init: exit on non-fatal error`

Did you see:
`j9shr.445      < INIT HOOK FIND CLASS: Exiting hookFindSharedClass`
if yes, SCC is already started up and functioning as expected. Class in SCC is being returned to the class loader. Then something else is wrong.

[2020-11-05 21:45] bharathappali commented on #11110
Thanks @hangshao0 for your guidance.

I have seen this when i searched for `INIT j9shr_init`

[code]

There are around 106 results for `INIT HOOK FIND CLASS: Exiting hookFindSharedClass`

When i was going through the trace i have JVM is looking for 100 layers of given cache name, the first one (`0`) is successfully detected and the other `99` resulted printing `file not found`. I'm jus curious to

[2020-11-05 22:06] hangshao0 commented on #11110
This is an expected trace point as you are using `readonly`, string table in the SCC won't be used.

The JVM always start up the cache from the top-most layer down to layer 0. The code is searching for the top-most layer.

As you are seeing these trace points, the SCC is already functioning, i.e. classes are being found in the cache. Then something else is wrong.

[2020-11-05 22:08] hangshao0 commented on #11110
I tried reproducing your issue, but things are working fine on my side.
1. Create a cache using a nightly build (from yesterday):

[code]

2. Run the same release build as yours (openj9-0.23.0) to startup the cache:
[code]

[2020-11-05 22:28] EmanElsaban commented on #9270
Ran 100 tests on Grinder, all tests passed. https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/11877/

Output from console:

Java version:
[code]
FYI: @mpirvu

[2020-11-05 22:33] bharathappali commented on #11110
Well in my case I'm using the cache generated by nightly build (which comes pre built in adoptopenjdk/openjdk8-openj9:nightly image) and mounting the release build to jdk path in the nightly image and i see this.

[code]

[2020-11-05 22:35] bharathappali commented on #11110
Thanks for the info @hangshao0

[2020-11-05 23:15] hangshao0 commented on #11110
OK, if I put the release JDK to the same location where the nightly build JDK was, I am able to re-produce this issue.

I turned on `-Xshareclasses` sub-option `verboseIO` and `-verbose:init`, it always stops at:

[code]

[2020-11-05 23:20] JasonFengJ9 commented on #11039
Another occurrence at an internal build `Test_openjdk11_j9_sanity.functional_ppc64le_linux_Nightly/571/` last night.
[code]

Any chance this is to be fixed by https://github.com/eclipse/openj9/pull/11086 (merged today)?

[2020-11-05 23:26] ChengJin01 commented on #11039
@JasonFengJ9,  I believe the crash here should be resolved by the fix at https://github.com/eclipse/openj9/pull/11086 given this is the same issue as https://github.com/eclipse/openj9/issues/10947.

[2020-11-06 01:03] #11039 closed

[2020-11-06 04:41] pshipton opened #11119 "jdk16 fatal error: 'java_lang_ref_PhantomReference.h' file not"
https://ci.eclipse.org/openj9/job/Build_JDKnext_ppc64_aix_OpenJDK/252
all platforms
[code]

[2020-11-06 04:42] pshipton commented on #11119
Blocking the openjdk acceptance build, which has been disabled until this is fixed.

[2020-11-06 06:11] 15838028035 opened #11120 "cloud you help me ? file.listFiles() is 0"
cloud you help me ? file.listFiles() is 0

when i use java ,  use File.ListFiles()   , when file dir have more than one file,    file.ListFiles() then return 0;

please java.io.io.File.listFiles()

[2020-11-06 06:15] pshipton commented on #10929
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/218
java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessByte.java

[2020-11-06 07:23] pshipton commented on #9683
Re-opening since https://github.com/eclipse/openj9/pull/10946 is reverted.

[2020-11-06 07:36] pshipton commented on #10929
Also occurred in https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_xl_Nightly/195 on the same build. Perhaps a new problem introduced, will run some grinders in the morning.

[2020-11-06 07:42] pshipton commented on #10256
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_linux_Nightly/93/

[2020-11-06 13:03] #10843 closed

[2020-11-06 13:28] pshipton commented on #11120
What is the `-version` output from the JVM where the problem is seen?
Does the problem occur when using a Hotspot JVM, or only with an OpenJ9 JVM?

[2020-11-06 14:52] EmanElsaban commented on #9424
Ran 100 tests on grinder, everything passed. https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/11878/

From console output:
java -version:
[code]
FYI: @mpirvu

[2020-11-06 15:38] EmanElsaban commented on #9540
Ran 100 tests on Grinder: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/11896/. Everything passed. It seems like the problem is fixed, probably due to other changes.

From console output:
java version:
[code]
FYI: @mpirvu

[2020-11-06 16:34] pshipton commented on #10929
50x grinder passed on ppc64le_linux using the same JVM https://ci.eclipse.org/openj9/job/Grinder/1160/
I guess we just got unlucky in the build last night.

[2020-11-06 17:02] hangshao0 commented on #11110
The issue here is having one JDK populate the SCC with its bootstrap classes, then use another JDK (from a different build) to load such classes (by mounting the second JDK at the same location and turn on SCC in `readOnly` mode). This is basically equivalent to copying the bootstrap jars, like rt.jar, from the first JDK to the second JDK. Things won't work this way.

Is there a reason why you nee

[2020-11-06 17:10] sharon-wang commented on #9912
Just an update, we were able to capture specific classloader information in a debug build. We're able to see the classloaders being used throughout object deserialization in the application and have identified the spot where a refresh appears to be missing, resulting in the exception. I added a "force refresh" option in the debug build and @mreuvers confirmed that using this debug option does alle

[2020-11-06 17:44] sharon-wang commented on #8878
For this initial set of changes to enable mixed builds with CMake, are we focused on JDK11 specifically, or do we want to enable this feature for all versions? I assume this also depends on which versions/platforms CMake is currently available on.

[2020-11-06 17:53] keithc-ca commented on #8878
The changes to openj9 to support mixed references should not be specific to any version of java, so I would expect it should work for all (with changes similar to ibmruntimes/openj9-openjdk-jdk11#359 made for the other extensions repositories).

[2020-11-06 17:53] pshipton commented on #11110
The jar timestamp check should fail, classes should only be re-used if they match. Is that not working? I can understand an AOT mismatch causing a problem, but mismatched classes should be loaded from the cache.

I'm not against the proposal. It means we don't need to worry about updating the cache generation ever again. There is limited benefit to sharing a cache between different JVM builds anyw

[2020-11-06 18:49] EmanElsaban commented on #9846
This issue seems to be related to issue: #9024. @mpirvu @dmitry-ten

[2020-11-06 18:50] dmitry-ten commented on #9846
Yes, it appears to be the same bug that should be fixed by https://github.com/eclipse/omr/pull/5658.

[2020-11-06 20:50] IBMJimmyk commented on #11063
PR was merged in. I forgot to tag the PR with "closes" so I'm closing this manually.

[2020-11-06 20:50] #11063 closed

[2020-11-06 20:52] IBMJimmyk opened #11125 "Remove asynccheck from vectorized loops"
asyncchecks inside vectorized loops should be removed.

Currently, calling out to handle asyncchecks does not interact well with vector registers. It requires all vector registers to be spilled before the call out.

Since, vectorized loops tend to be tight and successful vectorization means two to four times reduction in iteration count, this problem can be avoided by removing the asyncchecks.

[2020-11-06 21:00] hangshao0 commented on #11110
The timestamp of each jar in the bootstrap class path is checked once, and I see the timestamp change has been detected. Normally the JVM will mark all the classes in this jar as stale so that they won't be returned to class loader. However, in this issue, the JVM opened SCC in `readOnly` mode, it cannot do stale making. So only the first class from a bootstrap jar is not returned to the class loa

[2020-11-06 21:04] pshipton commented on #11110
Ya, that is a bug.

[2020-11-06 21:06] pshipton commented on #11110
Although it can't update the cache, the running JVM should recognize everything in the classpath as stale.

[2020-11-06 21:20] IBMJimmyk opened #11127 "Reset Frequencies before setting them"
The algorithm inside `setFrequencies` in `J9Cfg.cpp` expects that the block and edge frequencies have already been reset to -1 and 0 respectively. This is not always happening and could lead to unexpected frequencies that would later feed bad information into later optimizations.

It should be changed to ensure that the block frequencies have been reset before setFrequencies starts setting updated

[2020-11-06 21:37] megazone23 commented on #10696
@ChengJin01 ,

I tried it on a clean box and I am not able to reproduce the problem.  The jar files which were missing were missing was adding the JRE to eclipse was resource.jar, jsse.jar, charset.jar, and jce.jar.  The rest of the jar files were found.  But it must be some eclipse corruption in my other environment.  That environment has been upgraded over time with multiple versions of eclipse.

[2020-11-06 22:14] hangshao0 commented on #11110
Yes, there is a bug here:

MARKED_STALE_FLAG is set by this line inside the `else` block (line 1123) if we detect a timestamp change:
https://github.com/eclipse/openj9/blob/master/runtime/shared_common/ClasspathManagerImpl2.cpp#L1145

But when reaching this function for the first time, as there is no local class path, we always go into the `if` block:
https://github.com/eclipse/openj9/blob/master/

[2020-11-06 22:22] harryyu1994 commented on #11015
## Java 11
[code]

[code]

[code]

[code]

[code]

[2020-11-06 22:25] harryyu1994 commented on #11015
- Java8
[code]

[code]

[code]

[code]

[code]

[2020-11-06 23:33] ChengJin01 commented on #10696
@megazone23,

Given the problem is unreproducible on your side, I suggest to close the issue for now till the problem reoccurs.

[2020-11-07 01:31] 15838028035 commented on #11120
Oracle Jvm ,not openj9
发自我的iPhone

[2020-11-07 02:19] pshipton commented on #11120
Not much we can do from an OpenJ9 perspective then.

[2020-11-07 02:19] #11120 closed

[2020-11-07 02:22] 15838028035 commented on #11120
Okay, thanks!

发自我的iPhone

[2020-11-08 17:42] megazone23 commented on #10696
Thanks for the help.

[2020-11-08 17:42] #10696 closed

[2020-11-09 01:22] pshipton commented on #10706
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_OpenJDK8/21
sun/misc/CopyMemory.java
aix71-p8-9

[2020-11-09 01:29] pshipton opened #11130 "MultiThreadedBackwardArrayCopyTest crash compiling Object.<init>()V"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly/526
J9vmTest_5
[code]

[2020-11-09 09:34] lumpfish commented on #10812
Occurred on AdoptOpen jdk8 nightly build: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.system_aarch64_linux/90
[code]

[2020-11-09 09:39] lumpfish commented on #10812
Occurred on AdoptOpenJDK jdk11 nightly build: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.system_aarch64_linux/290

[2020-11-09 10:09] lumpfish commented on #11013
@JasonFengJ9 - is this failure on a jdk15 aarch64 nightly build the same cause: https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_extended.system_aarch64_linux/88 ?
[code]

[2020-11-09 12:15] JasonFengJ9 commented on #11013
@lumpfish No, that appears a different failure.
This issue has following stacktrace:
[code]

The failure https://github.com/eclipse/openj9/issues/11013#issuecomment-723911353 has:
[code]

Please open another issue for investigation.

[2020-11-09 13:36] #10939 closed

[2020-11-09 14:04] agdolla opened #11133 "enableSessionTicketExtension"
Hi

openjdk 13+ has an option jdk.tls.client.enableSessionTicketExtension to enable tls session tickets.
Does openj9 also support this tls feature ?

Thanks

Gabor

[2020-11-09 14:05] mpirvu commented on #11015
Most modules show increased number of ticks with Java11:
VM dll +500  (+150 from interpreter)
JIT code: +220
GC: +200  (possibly more objects being allocated ?)
Kernel: +220
Interestingly, this time, the JIT dll has less ticks in Java11.

To me this looks like larger pathlength overall.

[2020-11-09 14:37] pshipton commented on #11133
The same OpenJDK code for TLS is used for OpenJ9, so the option should be supported. Have you encountered a problem using this option with OpenJ9?

[2020-11-09 15:00] agdolla commented on #11133
Thanks for taking time to answer to my question!
I could start OpenJ9 with the same options I used with HotSpot and it did not complain and it works but I can not really debug the TLS communication to check if session tickets are used or not.
So thanks for the info, I assume this should be OK.

[2020-11-09 15:00] #11133 closed

[2020-11-09 15:07] mpirvu commented on #11015
One other thing we can try is to enable SVM during start-up. This is currently disabled because it creates bigger AOT bodies so it needs a larger SCC. In these experiments we are using a large SCC, so maybe it will provide some advantage.

[2020-11-09 15:31] hzongaro commented on #11084
@hangshao0 I made a mistake which resulted in circular `NestHost` attributes being added to a classes.  I corrected this in commit fbba19114, which is the latest commit associated with pull request #11097

[2020-11-09 18:25] dmitry-ten commented on #9024
https://github.com/eclipse/omr/pull/5658 fixes JIT stackmap not found crashes in `cmdLineTester_jvmtitests_debug_openj9_none_SCC` tests but now I see a NPE always being thrown in `cmdLineTester_jvmtitests` . So I'm continuing to investigate this issue. It's possible that fixing one problem just exposed another.

[2020-11-09 20:30] EmanElsaban commented on #9846
Ran the grinder 200 times.All 200 times failed: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/11937/.

Console Output:
[code]

[2020-11-09 20:33] EmanElsaban commented on #9129
Ran 200 tests on Grinder: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/11935/.  96 failed out of 200
This failure is similar to the failure in issue #9846

Console Output:
[code]
FYI: @dmitry-ten  @mpirvu

[2020-11-09 21:09] pshipton opened #11135 "jdk16 sanity.openjdk failures"
I ran a sanity.openjdk on jdk16 and found the following failures.

https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.openjdk_s390x_linux_Personal/4

java/foreign/TestMemoryHandleAsUnsigned.java.TestMemoryHandleAsUnsigned
java/foreign/TestMismatch.java.TestMismatch
java/foreign/TestNoForeignUnsafeOverride.java.TestNoForeignUnsafeOverride

java/lang/invoke/MethodHandles/TestDropReturn.jav

[2020-11-09 21:09] pshipton commented on #11135
@tajila @babsingh fyi

[2020-11-09 21:18] #11111 closed

[2020-11-09 21:29] babsingh commented on #11135
Acknowledged. Will add these failures to my TODO list.

[2020-11-09 21:52] EmanElsaban commented on #9846
Reproduced it locally. It failed the first time I ran the test.

output:
[code]
Ran 30 iterations, it failed in the first iteration:
[code]

[2020-11-09 23:02] dmitry-ten commented on #9846
Yeah, I've been looking into this today.
Note that these failures are caused by  eclipse/omr#5658.
I heavily suspect it's due to recompilation counter address being incorrect, since methods throwing NPE contain recompilation counter, and disabling recompilation makes the test pass. I guess the address was computed correctly when it was using relative addressing. Need to determine how it's done for

[2020-11-09 23:18] dmitry-ten commented on #9846
Actually, disregard the previous comment, recompilation counters always require address load instruction and are relocated, so that can't be a problem.

[2020-11-09 23:54] janvrany opened #11136 "Add JIT for RISC-V"
The aim of this issue is to track progress on implementing a full JIT for RISC-V architecture.
The OMR part of the JIT is reasonably stable. For the J9 part of the JIT, the idea is to essentially to follow
the path of AArch64 port as it proved successful.

FYI: @ChengJin01 , @0xdaryl

[2020-11-10 00:00] ChengJin01 commented on #11136
FYI: @DanHeidinga, @tajila, @pshipton

[2020-11-10 00:02] ChengJin01 commented on #5058
For those of you who are concerned about the latest status of OpenJ9 JIT on RISC-V, the issue at https://github.com/eclipse/openj9/issues/11136 was created to track the progress in there.

[2020-11-10 00:05] janvrany commented on #11136
As a first steps, I mean to:

1. Set up (and document) a development environment, including IDE, to work on J9 JIT. The issue is that there's no CMake support for RISC-V and generally no cross-compilation support for CMake. Some work has been done (#10915,  #11054) but I'd probably have to resort to using UMA for compilation and testing and CMake for IDE.

2. Go over all PRs adding AArch64 port to

[2020-11-10 01:03] 0xdaryl commented on #11136
Thanks for creating this issue @janvrany!  As we discussed last week, I'm happy to meet with you regularly (and open it up to anyone else who wants to participate) to help you understand the code, answer questions, and guide your implementation.  If interested, ping me on Slack and we'll set something up and announce it here.

Looking at the list of all `arch:aarch64`-tagged PRs might be a bit ove

[2020-11-10 01:13] pshipton commented on #11136
@sxa fyi

[2020-11-10 01:21] knn-k commented on #11136
Look at the following for the list of PRs that were merged for AArch64 JIT in OpenJ9:

https://github.com/eclipse/openj9/pulls?q=is%3Apr+is%3Amerged+label%3Aarch%3Aaarch64+label%3Acomp%3Ajit+sort%3Acreated-asc

[2020-11-10 06:27] AlexeyKhrabrov opened #11137 "Cache well-known class chain offsets in JITServer client session"
Every AOT compilation using SVM at the JITServer sends a SharedCache_storeSharedData message to the client in SymbolValidationManager::populateWellKnownClasses(). Most of these calls return a pointer to the same existing version of well-known class chain offsets in the client's SCC (after all well-known classes are loaded, which normally happens early on during start-up). To avoid these repeated m

[2020-11-10 08:57] knn-k commented on #10812
JIT option `disableEscapeAnalysis` does not resolve this issue.

[2020-11-10 09:13] toshiona opened #11139 "add-module option cannot find Japanese named module on AIX"
Java -version output
--------------------

openjdk version "11.0.9" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.9+11)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.23.0, JRE 11 AIX ppc64-64-Bit Compressed References 20201022_802 (JIT enabled, AOT enabled)
OpenJ9   - 0394ef754
OMR      - 582366ae5
JCL      - 3b09cfd7e9 based on jdk-11.0.9+11)

Summary of problem
---------------

[2020-11-10 13:38] pshipton commented on #10489
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_xl_Nightly/325
DaaLoadTest_daa2_ConcurrentScavenge_0
[code]

[2020-11-10 14:54] tajila commented on #11119
@pshipton can this be closed?

[2020-11-10 14:55] keithc-ca opened #11142 "Assign-to-project workflow runs too many times"
Notice that in https://github.com/eclipse/openj9/pull/11140, 'Assign to MH Project' and 'Assign to Snapshot Project' ran twice each: I would expect them to run once each.

[2020-11-10 15:18] lumpfish commented on #11112
This test had been excluded from AIX for some time and was reenabled recently because I thought this PR had fixed it: https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/368. I haven't seen any errors on the adoptopenjdk machines since it was merged)
Unless you think there's a 'real' issue on AIX, could you provide any insight into when unused native memory is reclaimed to help me understand h

[2020-11-10 15:30] pshipton commented on #11119
Fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/247 and https://github.com/eclipse/openj9/pull/11123

[2020-11-10 15:30] #11119 closed

[2020-11-10 15:41] lumpfish commented on #11112
The test workload is run with `nbrCpus - 1` (minimum 2)  threads.  The machine in the output sample above must have had 16 CPUs.  So 15 threads are running the nio load test in parallel with this code which explicitly allocates a directByteBuffer:
[code]
My concern is - should this be expected to work?  Should we be able to expect that the native memory is reclaimed because the pointer to it is de

[2020-11-10 16:11] DanHeidinga commented on #11142
Where the labels added to the project one at a time?  Or both at once?  I can't tell now as it groups them into having been added over an hour ago.  Adding them individually would explain the double trigger of the workflow

[2020-11-10 16:22] gacholio commented on #11139
@ChengJin01 You've recently fixed similar issues with other parts of the command line, can you please have a look?

[2020-11-10 16:29] babsingh commented on #11135
All **"java/foreign/*"** testcases are failing because of the below exception:
[code]

**FIX (impacts the JDK-next extension's repo):** https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/248. With this **FIX**, `make test-jdk_foreign` passes locally for me.

The above **FIX** will allow OpenJDK's `VarHandles` and `IndirectVarHandle` to work with OpenJ9's `VarHandle` implementation.

But, the a

[2020-11-10 16:33] sxa commented on #11136
@pshipton Thanks for the tag.

I'd be interested in at least following any progress on this so if you have any calls @0xdaryl I'd appreciate an invite too as I'd love to have a working JIT in OpenJ9 :-)

[2020-11-10 16:35] babsingh commented on #11135
**While building JDK16, Java warnings are being treated as errors:**
[code]

**Temporary FIX (impacts the JDK-next extension's repo):**
[code]

[2020-11-10 16:40] babsingh commented on #11135
A new method, `MethodHandles.dropReturn`, needs to be implemented for OpenJ9 for JDK16:
[code]

If OpenJDK JSR292 support (#7352) is complete for JDK16, then the above work won't be needed.

[2020-11-10 16:55] babsingh commented on #11135
## Remaining Failures: Pending Investigation

[code]

[code]

[code]

[code]

[2020-11-10 17:04] pshipton commented on #11135
From my point of view, these tests don't need to be passing atm, the failures don't block any promotion. I'll defer to Tobi. If we think OpenJDK JSR292 support will be complete for JDK16, I'm happy to wait for that to be enabled by default.

[2020-11-10 17:12] keithc-ca commented on #11142
It appears as if they were added together in one step (there's only one 'added labels' event), but maybe it runs for each label regardless of the timing?

[2020-11-10 17:20] pshipton commented on #11142
It's possible I added them separately, I can't remember.

[2020-11-10 17:55] babsingh commented on #11135
**SUMMARY:** All failures reported here except the **SealedClassesReflectionTest** failures should be resolved automatically, once OpenJDK JSR292 support (#7352) is complete for JDK16.

[2020-11-10 18:12] keithc-ca commented on #11142
I couldn't find anything that would confirm this in github documentation, but it makes sense that the action runs for each label added - our action does different things depending on which label is added.

[2020-11-10 18:12] #11142 closed

[2020-11-10 18:27] ChengJin01 commented on #11139
Given the issue involves an AIX machine with ja_JP locale,   I've applied internally for an AIX environment for the  investigation.

[2020-11-10 18:42] tajila commented on #11135
The required changes don't seem like it will be a big effort for us. Based on this, and on the fact that we do not need these tests to be passing right now I think we should revisit this issue in January 2021. By then OpenJDK  MH work should be functional meaning that support this will be no/little effort. If in January we feel that #7352 is not ready, we will still have time to provide a J9 MH im

[2020-11-10 18:55] JasonFengJ9 commented on #10455
This will be resolved along with https://github.com/eclipse/openj9/issues/11135 as per https://github.com/eclipse/openj9/issues/11135#issuecomment-724866324

[2020-11-10 18:58] JasonFengJ9 commented on #11135
Note that is `SealedClassesReflectionTest` is tracked by https://github.com/eclipse/openj9/issues/10581 as well.

[2020-11-10 19:42] babsingh commented on #11135
#10581 only covers the `SealedClassesReflectionTest.java:87` failure. There are two other failure types: `SealedClassesReflectionTest.java:217` and `SealedClassesReflectionTest.java:130`. Refer to https://github.com/eclipse/openj9/issues/11135#issuecomment-724831028.

[2020-11-10 20:22] harryyu1994 commented on #11015
- Enabled SVM during start-up using `$ENV{TR_DontDisableSVMDuringStartup} = 1;`
## Java11
[code]

## Java8
[code]

[2020-11-10 20:30] mpirvu commented on #11015
Is it better with SVM during start-up? The gap used to be 15% and now I see it more like 10%.
Probably the correct comparison is Java11 with and without SVM.

[2020-11-10 20:31] harryyu1994 commented on #11015
Java8 might have increased with SVM. Measuring Java11 with/without SVM right now.

[2020-11-10 20:59] harryyu1994 commented on #11015
- startup time about the same, cpu usage is up with SVM
- with SVM
[code]
- without SVM
[code]

[2020-11-10 21:44] ChengJin01 commented on #11139
Hi @toshiona,

I tried to reproduce the problem on one of our test machines, assuming Chinese have the similar issue to some extent.
So I created module-info.java as follows:
[code]
But I ended up with failure to compile the test0.java as follows:
[code]

So I am wondering how you managed to compile  test0.java at this point.

[2020-11-10 22:28] ChengJin01 commented on #11139
I roughly went through the calling path as follows in dealing with `--add-modules`
[code]
I suspect the issue has nothing to do with Japanese but we still have to something similar to https://github.com/eclipse/openj9/pull/10943 around the code at `addPropertiesForOptionWithAssignArg()` to convert the passed-in module options string to the platform setting, whether it is Japanese or other language

[2020-11-10 23:03] ChengJin01 commented on #11139
Hi @toshiona,

Could you please run `locale` before & after switching the environment to `Ja_JP` locale?
We'd like to confirm the language setting on your side.

[2020-11-11 01:47] toshiona commented on #11139
Hi @ChengJin01
Thank you for looking at our issue, and sorry for the insufficient description.
Yes, when we use '\u' style in module-info.java, all commands can be executed in Ja_JP locale. Please note terminal's encoding should be Ja_JP.

[code]

I could recreate the issue in zh_CN locale, too.
'\u5b57' is 'd7d6' in zh_CN.
'\u5b57' is '8e9a' in Ja_JP.

[2020-11-11 01:49] toshiona commented on #11139
`java -XshowSettings:properties` in Ja_JP locale.
[code]

[2020-11-11 02:01] zdlgv5 commented on #11136
Hi @janvrany ,
Thanks for this issue, I want to know about the hacking session you said and I will very honoured to have the opportunity to participate in this session.
Is this session a zoom meeting and how can I join this session?
Thanks a lot!

[2020-11-11 02:22] knn-k commented on #10492
Related PRs: #10493, #10494

[2020-11-11 02:55] ChengJin01 commented on #11139
Hi @toshiona,  many thanks for your quick response.

Still with `module-info.java` as follows:
[code]
1) I tried on ppc64le_linux with `zh_CN.utf8` as locale which works good:
[code]

2) also tried on Windows with the Chinese locale
[code]

3) and tried on one of our test machines  (AIX 7.1) with `zh_CN` specified but ended up with compilation failure as follows:
[code]

I am wondering whether the

[2020-11-11 03:16] ChengJin01 commented on #11139
Also tried with `module-info.java` with Chinese inside on the AIX machine
[code]
but still ended up with the same compilation failure as above
[code]

[2020-11-11 03:18] pshipton commented on #11139
@ChengJin01 I think if you set the charset to UTF-8, then the compilation will work  (`export LANG=zh_CN.UTF-8`).

I can't recreate it on AIX, even with ja_JP or Ja_JP. I wonder if the problem is related to how the module-info.class file was created. Pls attach the module-info.class file which doesn't work.

[2020-11-11 03:22] ChengJin01 commented on #11139
@pshipton,

I just tried to change to `zh_CN.UTF-8` but ended up with the same failiure:
[code]
I suspect `zh_CN.UTF-8` doesn't exist on the test machine.

[2020-11-11 03:23] pshipton commented on #11139
Change to en_US.UTF-8 and compile it.

[2020-11-11 03:26] ChengJin01 commented on #11139
The test passed after changing to `en_US.UTF-8`:
[code]

[2020-11-11 03:28] pshipton commented on #11139
Fairly sure the problem is related to the locale settings and the encoding used in module-info.java when `javac -d mod module-info.java test.java` is run.

[2020-11-11 03:29] pshipton commented on #11139
@toshiona if you zip up the .java and .class files and attach them, I expect that will make it easier to recreate the problem.

[2020-11-11 03:33] 15838028035 opened #11148 "java -version is every slow on centos7"
Hi , when i run  java -version on linux   CentOS Linux release 7.6.1810 (Core),
 some times later , java version print.  It  is every  every  slow on centos7

i config JAVA_HOME、path use linux export commond  in bash.profile .

 cloud you help me ?

[2020-11-11 03:40] pshipton commented on #11148
I'm guessing it's related to the memory allocation, where the JVM is trying to find memory below 4GB. Please try the XL variant to see if it is also slow to startup.
For example https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u272-b10_openj9-0.23.0/OpenJDK8U-jdk_x64_linux_openj9_linuxXL_8u272b10_openj9-0.23.0.tar.gz

[2020-11-11 03:53] pshipton commented on #11148
How can I recreate the problem? What JVM -version are you using? For me on `CentOS Linux release 7.6.1810 (Core)`, the following JVM starts immediately.

[code]

[2020-11-11 04:46] toshiona commented on #11139
Hi @ChengJin01 @pshipton
[module_test.zip](https://github.com/eclipse/openj9/files/5521768/module_test.zip)
Thank you for working for the issue.

The point of the problem is the encoding of terminal and input characters. Please find module_test.zip.

I added some scripts to run the testcase for each locale. They converted `\u5b57` to appropriate character in each encoding.
$ LANG=Ja_JP ./test_Ja_J

[2020-11-11 05:14] ChengJin01 commented on #11139
The issue can be reproduced by set to locale to `zh_CN` as follows with tests offered by @toshiona:
[code]

[2020-11-11 09:06] planetf1 commented on #11013
I can confirm we get the same with Egeria (https://github.com/odpi/egeria). When running ./gradlew build (wrapper for 6.7) on MacOS . 11.0.9 openj9 works ok whilst 15.0.1 (as above) fails

[2020-11-11 10:09] 15838028035 commented on #11148
![图片](https://user-images.githubusercontent.com/12193885/98798593-00d36a80-2449-11eb-824a-03320ffd1ef8.png)

[2020-11-11 12:34] janvrany commented on #11136
Hi, @zdlgv5

I'm sorry, I did not mean anything big on zoom, merely that I'll lock myself up in the office and play with the code o my own to get better understanding. After that, I hope can have meaningful call with @0xdaryl and anyone interested where we can discuss next steps. Is that OK?

[2020-11-11 13:08] JasonFengJ9 opened #11149 "JDK16 missing java.lang.invoke implementations"
Failure link
------------

From an internal `JDK16` build `Build_JDKnext_x86-64_linux_Personal/665`

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-11-11 13:10] JasonFengJ9 commented on #11149
This blocks `JDK16` `OpenJDK` merging.

fyi @tajila @babsingh

[2020-11-11 13:28] JasonFengJ9 commented on #11013
This issue can be reproduced in MacOS  as per https://github.com/eclipse/openj9/issues/11013#issuecomment-717950823

A fix is being developed which requires a method argument `NativeLibraryImpl impl` from `jdk/internal/loader/NativeLibraries.load(Ljdk/internal/loader/NativeLibraries$NativeLibraryImpl;Ljava/lang/String;ZZ)Z`. To ensure safe retrieval of such an argument, the native method in questi

[2020-11-11 13:41] pshipton commented on #11149
The the time being I disabled the jdknext acceptance job since it will just fail.

[2020-11-11 13:49] pshipton commented on #11148
Pls try the newer version in case the problem has been fixed. I know we did fix something related to memory allocation at some point.

[2020-11-11 13:54] 15838028035 commented on #11148
Okay! Thanks!

发自我的iPhone

[2020-11-11 14:17] pshipton commented on #11112
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_ppc64_aix_Nightly/539

[2020-11-11 14:53] pwagland opened #11151 "-Xsoftmx doesn't appear to work as expected"
Java -version output
--------------------

[code]

Summary of problem
------------------

Given my understanding of the documentation `-Xsoftmx=600M` shoaled mean that the JVM won't use more than 600M of heap. This can be tuned at runtime to go above this limit if needed.

The documentation at https://www.eclipse.org/openj9/docs/xsoftmx/ is perhaps ambiguous, since it _also_ states that:

It is un

[2020-11-11 15:09] pshipton opened #11152 "openjdk java/lang/Runtime/shutdown/Basic.java timeout"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_xl_OpenJDK11/24
java/lang/Runtime/shutdown/Basic.java
[code]
[code]

[2020-11-11 15:11] pshipton commented on #11152
Seems like a possible machine issue. Tried a 12x grinder across 4 machines, which all passed.
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1166

[2020-11-11 15:13] babsingh commented on #11149
Is it reproducible with JDK-next's openj9-staging branch?

[2020-11-11 15:13] pshipton commented on #11152
Retry on the same machine https://ci.eclipse.org/openj9/view/Test/job/Grinder/1167/

[2020-11-11 15:16] pshipton commented on #11151
@dmitripivkine pls take a look.

[2020-11-11 15:21] JasonFengJ9 commented on #11149
That's correct.

[2020-11-11 15:50] dmitripivkine commented on #11112
I share concern with @lumpfish  I think this test "as is" should not work. The pressure to object heap is minimal, so there is no reason to expect that GC happen often enough and objects are going to be collected after de-referencing. So test should force SystemGC at least. Even with forcing SystemGC I can see more potential issues:
- as we learn recently de-referencing itself does not guarantee o

[2020-11-11 16:11] EmanElsaban commented on #9424
I checked the past nightly builds in (https://hyc-runtimes-jenkins.swg-devops.com/view/Nightly/job/Test_openjdk8_j9_extended.system_x86-64_linux_jit_Nightly/) for ```mathLoadTest_all_ConcurrentScavenge_0``` test failure going back to build 204 (9-10-2020), since this is the latest build I had access to. In all these build, the test passed.
Also, this issue seems to be a duplicate of issue #9123, w

[2020-11-11 16:42] gacholio commented on #11113
Stack being queried:
[code]

[2020-11-11 16:43] gacholio commented on #11113
Monitor enter records:
[code]

[2020-11-11 16:52] JasonFengJ9 commented on #11113
Just a quick note, this issue is not recent regression, it is reproducible with a 2015 Java 8 build.

[2020-11-11 16:53] gacholio commented on #11113
Both enter records are for the `run` frame, which makes sense given the bytecodes:
[code]

[2020-11-11 16:54] gacholio commented on #11113
Two monitors have been entered - maybe the test is expecting the one being waited on not to be counted.

[2020-11-11 17:07] pshipton commented on #11113
That was the impression I got.

[2020-11-11 17:48] ninja- opened #11154 "JITServer stops compiling after reaching memory limit"
It seems like in current version of JITServer, when it reaches memory limit, it just says "out of scratch space" and stops compiling anything until restart.
Shouldn't it remove old cached code in that case?

[2020-11-11 17:51] fjeremic commented on #11154
@mpirvu FYI.

[2020-11-11 17:59] #9683 closed

[2020-11-11 18:02] mpirvu commented on #11154
@ninja- I'll try to reproduce it on my end. Could you please let me know the version of the build and the command line options that you've used (for both client and server), if any? Also, if you limited the amount of memory at client/server, let me know those limits as well. Thanks

[2020-11-11 18:06] ninja- commented on #11154
@mpirvu

No server options.
Server is running in container with 2GB limit and it reaches 1-2GB size within 2 hours of usage.

Client options:
XShareClasses
XTuneVirtualized
JitScratchSpaceLimit: 16mb (probably ignored)
XCodeCacheTotal: 16mb (can't spare much more per-JVM at the moment )

[code]

[2020-11-11 19:16] dmitripivkine commented on #11151
@jason-hall Would you please take a look?

[2020-11-11 19:40] dmitripivkine commented on #11151
@pwagland Thank you for using OpenJ9! Your expectations are correct - object heap should not be expanded over provided limit. We are going to investigate. Thank you very much to let us know.

[2020-11-11 20:57] janvrany commented on #11136
After a discussion with @0xdaryl, we decided to have RISC-V OpenJ9 JIT meeting on Tuesday, Dec 8 2020, 9:30 AM - 11:30 AM EST: https://ibm.webex.com/ibm/j.php?MTID=mdcdaf7a65f60dbf9038484bda47f6245
Everyone interested is welcome to join this meeting.

Also [OpenJ9 slack](https://openj9.slack.com), channel `#risc-v` for more interactive conversations. Again, everyone interested is welcome to join!

[2020-11-11 21:12] ChengJin01 commented on #11139
I've fixed the issue with the changes at https://github.com/ChengJin01/openj9/commit/8fc5773e427a2df3f8afb9392694e3a0545ce4d8 as follows (by using the existing function `getMUtf8String` to convert the value string in `addSystemProperty()`
[code]

[2020-11-11 22:01] ninja- opened #11157 "AOT compilation lags process to death"
I am having an issue where a process running with
- shared classes
- xtune:virtualized
- aot enabled

if there aren't cached classes yet, the app will start normally and then as it becomes idle few seconds later, lag the server to death with AOT compilation requests (most likely), then about 2-3 minutes later it's back to normal and the app is responsive again.
The behaviour seems the same with bo

[2020-11-11 22:12] fjeremic commented on #11157
@dsouzai FYI.

[2020-11-11 22:13] ninja- commented on #11157
I will try to check what happens with async-profiler in a couple of days. Needs some work to integrate it with production.

[2020-11-11 22:26] mpirvu commented on #11154
I sort-of reproduced this issue by using 12 client JVMs that attach more or less simultaneously to the server and the server limited to 1GB. Since each client JVM launches several compilation threads, the server will use quite a few compilation threads in parallel. The logs show 62 compilation threads active at some point (maximum value is 63). Given that the scratch memory needs of these compilat

[2020-11-11 22:28] ninja- commented on #11154
Thanks for the info. It seems like I should be fine after increasing JITServer memory or number of instances in such case.

[2020-11-11 22:30] dsouzai commented on #11157
When running with `-Xtune:virtualized` and AOT, the first run is considered a throwaway. The reason is because `-Xtune:virtualized` enables `forceAOT` which causes almost every<sup>1</sup> compile to be an AOT compile. Additionally, when AOT is enabled we compile methods sooner than we would've if it wasn't. I suppose the combination of these two facts results in a big burst of compilations.

That

[2020-11-11 22:33] ninja- commented on #11157
is it possible to get rid of -Xtune:virtualized while keeping all other benefits listed here using other flags?

[code]

[2020-11-11 23:49] ninja- commented on #11070
I think that's expected behaviour.
Projects like cAdvisor or VPA never officialy support scaling JVMs.
The kubernetes bug you linked mostly talks about reclaimable memory which isn't the same as shared class cache that is in use.

Please consider that for example PSS can't be known in advance because it depends on different factors, like number of pods running on machine or version of the shared c

[2020-11-12 00:27] ninja- commented on #5654
I would love to have this supported

[2020-11-12 01:04] mpirvu commented on #11154
@ninja-
Yes, increasing the number of JITServer instances should improve the situation.
If you don't mind, could you please give us more details about your setup? We want to make the JITServer technology better, but for that we also need to understand how people are actually using it. I would be interested to know:
1. How many JVM clients are connected to one JITServer?
2. Are the JVMs started all

[2020-11-12 01:25] mpirvu commented on #11157
Actually, on Linux compilation threads have the same priority as the application threads. The reason is that the application needs to be run as root to be able to change thread priorities. This is why, while OpenJ9 has an option to change compilation thread priority, it is a no-op on Linux. It does work on Windows though.

@ninja- You described a "cold start" scenario where the application is actu

[2020-11-12 01:51] harryyu1994 commented on #10689
## Summary of SH_OSCachemmap::startUp() routine
1. commonStartUp() : initializes things such as cacheName, cacheDir
2. openCacheFile() : opens the file based on cacheName, cacheDir. Initializes fileHandler
3.1 Load file into memory (internalAttach)
3.2 Create new file and initialize cache header, also load file into memory (internalAttach)
4. internalDetach()

Trying to create a routine which avoi

[2020-11-12 02:23] mpirvu opened #11161 "Purge JITServer caches sooner under memory pressure"
To reduce network communication, JITServer keeps a set of caches, one for each client JVM it serves. If a client hasn't issued a compilation request in more than 1000 seconds, its cache is purged from the JITServer memory because it is likely that the client has ended without communicating this to the server. 1000 seconds is a large time though and, if JITServer is running low on memory, it should

[2020-11-12 02:25] mpirvu commented on #11161
This issue proposes a mitigating solution for the problems raise by #11154

[2020-11-12 02:25] mpirvu commented on #11161
Attn: @EmanElsaban

[2020-11-12 02:34] pshipton commented on #10689
SH_CompositeCacheImpl::startup() does an _oscache->startup() and then _oscache->attach() to re-map the cache into memory.

https://github.ibm.com/runtimes/openj9/blob/ibm_sdk/runtime/shared_common/CompositeCache.cpp#L918
https://github.ibm.com/runtimes/openj9/blob/ibm_sdk/runtime/shared_common/CompositeCache.cpp#L1047
https://github.ibm.com/runtimes/openj9/blob/ibm_sdk/runtime/shared_common/Compos

[2020-11-12 03:09] mpirvu opened #11162 "Use different persistent allocators for JITServer per-client caches"
All the caches that are allocated at the JITServer use the same persistent memory allocator. When a client goes away, its corresponding cache at JITServer is purged, but the deallocated memory is not completely freed; instead it is placed into a pool of freed memory for future consumption. This mechanism can create problems when many clients are served concurrently because a large amount of persis

[2020-11-12 06:12] dmitry-ten commented on #8788
Probably fixed by #10408, although the VM state is different

[2020-11-12 06:13] dmitry-ten commented on #7724
I'm working on this one now.

[2020-11-12 06:34] dmitry-ten commented on #6395
The problem is gone now, so closing the issue.

[2020-11-12 06:34] #6395 closed

[2020-11-12 08:26] ninja- commented on #11157
That's probably the case, but I am doing this test particulat test with one instance only/

No worries that's taken care of :)

[2020-11-12 10:30] mpirvu commented on #8788
Closing this issue based on the two comments above

[2020-11-12 10:30] #8788 closed

[2020-11-12 11:08] lumpfish commented on #11112
If the success of the tests depends on the execution of a GC cycle which should reclaim the native memory, then perhaps increasing the delay between successive runs of the `testDirectMemory` method to around the interval between GC cycles would make the test safe, while still catching situations where the memory is not being reclaimed correctly.  Is it possible to provide an estimate of a 'typical

[2020-11-12 14:12] EmanElsaban commented on #9540
I reran 200 tests on Grinder: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/11982/. Everything passed.
From Console output:
java version:
[code]

In addition, I checked all builds for this test failure ```MathLoadTest_all_special_12``` dated back to 547(28-10-2020) on https://hyc-runtimes-jenkins.swg-devops.com/view/Nightly/job/Test_openjdk8_j9_special.system_x86-64_linux_jit_Nightly/ ,

[2020-11-12 14:17] mpirvu commented on #9540
Closing based on the last two comments.

[2020-11-12 14:17] #9540 closed

[2020-11-12 14:26] mpirvu commented on #9424
Closing based on the comment (duplicate of an issue that has been fixed and 100 tests passing)

[2020-11-12 14:26] #9424 closed

[2020-11-12 14:43] dmitripivkine commented on #11112
The interval between GC cycles depends on allocation rate, heap size, heap geometry, GC policy etc. In general case it is not possible to predict (for example if App sleeps and does not allocate objects GC might never occur). So I believe the best way to be sure that GC is executed is to force System GC twice to be sure Aggressive GC is executed. Also GC cycle itself does not release native memory

[2020-11-12 14:45] mpirvu commented on #9270
Closing based on the last comment

[2020-11-12 14:45] #9270 closed

[2020-11-12 14:46] EmanElsaban commented on #9270
I checked the past nightly builds in https://hyc-runtimes-jenkins.swg-devops.com/view/Nightly/job/Test_openjdk11_j9_special.system_x86-64_linux_jit_Nightly/ for ```MathLoadTest_bigdecimal_special_18``` test failure from recent build going back to build 544 (28-10-2020) and it passes in all. I also checked in jdk8: https://hyc-runtimes-jenkins.swg-devops.com/view/Nightly/job/Test_openjdk8_j9_specia

[2020-11-12 15:19] pshipton opened #11163 "openjdk TestFloatingDecimal Assertion OMRConstantDataSnippet.hpp:131 VMState: 0x0005ff0a"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/214
sun/misc/FloatingDecimal/TestFloatingDecimal.java
aix71-p8-9
[code]

[2020-11-12 15:20] pshipton commented on #11163
@andrewcraik @gita-omr

[2020-11-12 15:20] 0xdaryl commented on #9459
Relevant JEP for OpenJDK:  https://openjdk.java.net/jeps/388

[2020-11-12 15:22] 0xdaryl opened #11164 "Investigate macOS AArch64 support"
This issue tracks the work to investigate an OpenJ9 AArch64 port to macOS.

Relevant OpenJDK JEP -> https://openjdk.java.net/jeps/391

[2020-11-12 15:31] pmhayward commented on #11151
If this will require a doc update, please add doc:externals label and raise an issue at [github.com/eclipse/openj9-docs](https://github.com/eclipse/openj9-docs/issues).

[2020-11-12 15:51] EmanElsaban commented on #8770
This issue seems to be a duplicate of issue #9792. Same error message ```java.lang.IllegalThreadStateException:process hasn't exited```  @mpirvu

[2020-11-12 16:08] #11139 closed

[2020-11-12 16:21] gita-omr commented on #11163
Yes, we’ll take a look.

[2020-11-12 17:15] mpirvu commented on #9006
I reproduced this again with AcmeAir:
[code]
The options I used at the client were:
[code]
and this was a cold run. The problem did not show in the warm run.

[2020-11-12 17:22] mpirvu commented on #9006
Looking closer it's very weird because it's the JIT compilations that fail with an error code that is AOT related:
[code]

[2020-11-12 17:49] lumpfish commented on #11112
Since we have an environment at ci.eclipse.org where this is showing itself relatively  consistently we could try the 'double SystemGC' and see if it makes a difference.  @Mesbah-Alam - would you be able to try @dmitripivkine 's suggestion on a branch an run some grinders on aix?

[2020-11-12 18:08] #11113 closed

[2020-11-12 18:30] dmitripivkine commented on #11112
Also I noticed there is no explicit `-Xmx` option so in Java 11 it is set as 25% of RAM by default (2G in this core). So large heap is not necessary for test obviously (it the core heap is expanded less than 32m). It means large chunk of memory is reserved for heap but never used. This prevents using this memory for native allocations. I would recommend to add maximum heap size cap (for example `-

[2020-11-12 19:33] pshipton commented on #11112
FYI OpenJ9 Java 8 doesn't have the -Xmx512 limitation any more, it also uses 25%.

[2020-11-12 19:45] fengxue-IS opened #11168 "Renaming the GC_MethodTypesIterator to GC_InvokeCacheIterator for OpenJDK MH (JSR292)"
For Adopting OpenJDK MH work, `class->methodTypes` table have been renamed to `invokeCache` table.

The issue is for tracking the clean up for GC methodTypes iterator rename work.

From #10893
Part of #7352

[2020-11-12 20:27] gacholio commented on #10834
Seen repeatedly today in the linked PR build.

[2020-11-12 20:31] pshipton commented on #10898
Created https://github.com/AdoptOpenJDK/openjdk-tests/pull/2054 to re-include the tests. Since https://github.com/eclipse/openj9/pull/11082 is merged the test can pass again.

[2020-11-12 21:07] EmanElsaban commented on #11161
Currently looking in file ```JITClientSession.cpp```. I think ```OLD_AGE``` is used to define when an entry is old.
[code]

Here, I think is where the server will purge the client data.
[code]

[2020-11-12 22:31] #11013 closed

[2020-11-12 22:32] JasonFengJ9 opened #11171 "MacOS xlpCodeCacheTests_0_FAILED : Runner couldn't determine underlying OS. Got OS Name:mac os x"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.functional_x86-64_mac_xl_Nightly/212`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
15:49:01  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=x86-64_ma

[2020-11-12 22:33] #11137 closed

[2020-11-12 22:38] ninja- commented on #11157
@mpirvu putting AOT aside, I had a weird issue lately, and I am pretty sure I haven't change any configuration options in last few days. Servers running with tune:virtualized started having an issue where they wouldn't grow their heaps from initial to maximum even though GC was clearly lagging them to death. Could this be caused by SCC file growing to big size in a few days of use?
Java RSS size i

[2020-11-12 22:42] mpirvu commented on #11161
Indeed, OLD_AGE is what defines an entry that is eligible for purging.
I would like both OLD_AGE and TIME_BETWEEN_PURGES to come from options rather than baked-in values.
Also,that the default value for TIME_BETWEEN_PURGES is too large, 30 minutes. Maybe 1 minute is large enough that it won't create too much overhead.
We may need to define another constant OLD_AGE_UNDER_LOW_MEMORY, that is much lo

[2020-11-12 22:47] JasonFengJ9 commented on #11069
Note #11013 has been closed by https://github.com/eclipse/openj9/pull/11160

When the nightly build containing this PR is available, I will post the link here for this issue verification.

[2020-11-12 22:52] JasonFengJ9 opened #11172 "SE80_GIT cmdLineTester_xlogTests_0 failed : Success condition was not found: [Output match: openjdk version]"
Failure link
------------

From an internal build `ibuild 459435`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-11-12 22:53] JasonFengJ9 commented on #11172
This is a new test.

fyi @llxia

[2020-11-12 22:54] ninja- commented on #11154
@mpirvu

1. at the moment around ~ 100 jvms and 2 jitserver instances.
once I increased jitserver memory from 1GB to 2GB is fine and it usually sits at around ~ 500MB usage.
2. sometimes a couple of them would start at the same time depending on traffic.
3. 1 day maximum I think, some instances are downscaling earlier depending on traffic. but I am aiming to restart them even more often in future.

[2020-11-12 23:00] pshipton commented on #11172
I recently added this. I think the problem is I'm looking for `openjdk version` which works on OpenJ9 builds but not internal ones.

[2020-11-12 23:03] mpirvu commented on #11157
The JVM does not look at k8s request value, so that cannot be a factor.
The GC expansion is driven by excessive time spent in GC. I don't see a connection to the SCC.
If you can collect a GC verbose log I'll relay it to one of our GC experts. The relevant options are:
`-verbose:gc -Xverbosegclog:path_to_gclog`
See https://www.eclipse.org/openj9/docs/xverbosegclog/ for more configuration of the gc

[2020-11-12 23:16] ninja- commented on #11157
@mpirvu or maybe the fact that SCC is full for JIT and AOT could cause lags?
I'll try to do a proper repro with enabled gc/jit logging but it may take a couple more days...for time being I'll probably try removing tune:virtualized

[2020-11-12 23:45] sharon-wang opened #11174 "Clean up extra ifdefs in runtime/include/j9lib.h.in"
Mentioned in review of https://github.com/eclipse/openj9/pull/11166.

There are a bunch of duplicated DLL Name defines in [j9lib.h.in](https://github.com/eclipse/openj9/blob/master/runtime/include/j9lib.h.in), as per https://github.com/eclipse/openj9/blob/05e6d8f3fb20bb8278b146764bf88fd8de7f3f2a/runtime/include/j9lib.h.in#L68

We should look into removing the extra defines so the file can be clean

[2020-11-12 23:49] toshiona commented on #11139
Thank you, Cheng!

[2020-11-13 01:24] llxia commented on #11172
yes, instead of `<output regex="no" type="success">openjdk version</output>`, we can do something like https://github.com/eclipse/openj9/blob/0bd089b36679fe0e3c5bfd63df0fcfc22c16c36d/test/functional/cmdLineTests/ignoreUnrecognizedVMOptions/ignoreunrecognizedxxcolonoptions.xml#L37

[2020-11-13 01:42] mpirvu commented on #11157
The fact that the SCC is full should not have any bad side effects. The compiler just stops adding more classes/AOT methods to the SCC, but the existing ones can still be read. Liberty application server has a 80MB SCC that typically gets full and we haven't observed the negative effects you did. Something else is at play and maybe gclogs could shed some light.

[2020-11-13 02:02] mpirvu commented on #11154
Thanks for the answers.

If all those JVMs start at the same time, the two jitserver instances are unlikely to properly handle the compilation needs (each JVM may use up to 7 compilation threads, so you may need hundreds of threads on the servers side)

From what we've seen, JITServer is helpful in constrained environments 0.5-2 vCPUs. Your situations seems to fall in this range. With 4+ vCPUs the

[2020-11-13 02:29] mpirvu opened #11175 "Use fewer compilation threads at JITServer when available memory is low"
Each compilation thread at JITServer uses up to 512M of scratch memory (depending on the compilation). When multiple compilation threads are active concurrently, the total amount of memory consumed can be quite high, exceeding the limit set for the JITServer container.
One way to alleviate this problem is to limit the number of compilation threads at the server when available memory is running low

[2020-11-13 03:17] pshipton commented on #11172
Thanks. I wasn't sure how to do that, so I had already fixed it another way. See https://github.com/eclipse/openj9/pull/11176

[2020-11-13 03:22] ninja- commented on #11154
I could consider reducing compilation threads on client.

Well, it's not like it's a reserved 1.5 core. It's hugely overallocated. Out workloads just have random need for CPU spikes so it's hard to do it another way without causing lags.
I am already seeing good effects from using JITServer so far, and there's no need for JIT scratch space per JVM, which is quite a nice saving.

Sure I understand.

[2020-11-13 03:24] ninja- commented on #11157
@mpirvu I am almost done implementing automatic profiling on production so no weird JVM cause of lags is going to hide :) should be fun to see the results

[2020-11-13 08:59] andrew-m-leonard commented on #10741
This happened twice last night, aarch64 and Windows:
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1579#issuecomment-726595987
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1579#issuecomment-726630670

Can we get more debug added to getUnixPid() please? as how can that fail?

[2020-11-13 09:21] andrew-m-leonard opened #11177 "aarch64 hang during test Create a non persistent cache"
Testcases on various platforms hang periodically, see:
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1579#issuecomment-726595987
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1579#issuecomment-726630670

The console output:
[code]

From a bit of an examination of the above test framework code, I believe the hang is here as it uses no timeout on the wait:
https://git

[2020-11-13 09:21] andrew-m-leonard commented on #10741
See: https://github.com/eclipse/openj9/issues/11177

[2020-11-13 13:44] pshipton commented on #11177
The spec for waitFor() says "This method returns immediately if the process has already terminated.".

Adding a timeout in the waitFor() allows the non-terminated process to keep running, or there is a bug related to waitFor() if the process is terminated and waitFor() isn't returning. We need to look at the machine and see what's going on.

@knn-k

[2020-11-13 13:46] pshipton commented on #11177
Also, we could fix getUnixPID() as then the test framework attempt to attach to the running process with gdb and get a stack trace.

[2020-11-13 14:33] Mesbah-Alam commented on #11112
- Added -Xmx512
- Added double System.gc() calls in the test

https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/377/files

Ran a 5x Grinder, it didn't reproduce the issue: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4701/console

I guess we should deliver this change and see if it resolves the issue in the build.

[2020-11-13 14:49] pshipton commented on #11112
Re https://github.com/eclipse/openj9/issues/11112#issuecomment-722457186 the existing test failed 2/25. Pls try a 25x grinder and if it doesn't fail then deliver the change.

[2020-11-13 15:11] pshipton commented on #10741
FYI As I recall getUnixPid() is a hack that reaches into the implementation using reflect to find the pid, as there was no API to get it in Java 8. I believe Java 11 does provide an API.

[2020-11-13 15:19] #11172 closed

[2020-11-13 15:31] tajila opened #11178 "ValueTypes: Field flattening issue on noncompressedRefs"
With full pointers mode the GC barriers use U_64 size loads/stores to copy flattened fields. Nested fields have a U_32 sized granularity, this causes an issue with the barriers in full pointers mode as when the barriers perform the copyfields operation it may perform a load/store that spans two different nested types.

To solve this we need to ensure that on full pointers mode, nested fields are p

[2020-11-13 15:42] pshipton commented on #9851
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_mac_Nightly/100
[code]

[2020-11-13 15:44] Mesbah-Alam commented on #11112
25x Grinder didn't cause the failure : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4702/tapResults/

[2020-11-13 15:48] #10898 closed

[2020-11-13 15:52] Thihup opened #11179 "Crash during compilation using shared classes"
Java -version output
--------------------
openjdk version "15.0.1" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.1+9)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.23.0, JRE 15 Linux amd64-64-Bit Compressed References 20201022_81 (JIT enabled, AOT enabled)
OpenJ9   - 0394ef754
OMR      - 582366ae5
JCL      - ad583de3b5 based on jdk-15.0.1+9)

Summary of problem
-----------------

[2020-11-13 16:10] Thihup commented on #11179
[jitdump.20201113.112124.4885.0004.zip](https://github.com/eclipse/openj9/files/5538009/jitdump.20201113.112124.4885.0004.zip)

[2020-11-13 16:38] pshipton commented on #10799
This is resolved via https://github.com/eclipse/openj9/pull/10873 and https://github.com/eclipse/openj9/pull/11082

[2020-11-13 16:38] #10799 closed

[2020-11-13 17:09] Maldivia opened #11181 "NPE in 0.23 (15.0.1+9) during startup with SetNativeMethodPrefix on Thread.setNameImpl"
We've noticed that there's a regression in the 15.0.1 release (openj9 0.23), regarding JVMTI `SetNativeMethodPrefix` and `Thread.setNameImpl`.

It works on 15+36 (0.22), but fails on 15.0.1+9 (0.23).

During startup, get the following exception:
[code]

Steps to reproduce:

Java code, that uses ASM to transform the Thread.class file from the 15.0.1 release to add the method:
[code]

Native agent c

[2020-11-13 17:33] pshipton commented on #11181
@JasonFengJ9 is this related to the native library loading changes?

[2020-11-13 17:46] fjeremic commented on #11179
Sounds like an AOT issue. The build is quite recent so it should contain the CPU detection AOT changes. Subscribing @harryyu1994 and @dsouzai for next steps on how to investigate this one.

[2020-11-13 17:57] fjeremic commented on #11179
[code]

This is a bit suspect since the `J9Class` eyecatcher is 0x99669966. This is likely somehow related to the problem. I think we'll need to corresponding system core dump to load under gdb and figure out where exactly this crashed.

[2020-11-13 17:58] dsouzai commented on #11179
Could you upload the diagnostic files (ie the coredump, and javacore)? I could take a look and then could suggest other diagnostic options depending on what the coredump looks like.

[2020-11-13 18:03] pshipton commented on #11179
Note the core file should be compressed first. They can be quite large, but usually compress quite a bit. It can also be shared privately if desired.

[2020-11-13 18:10] Thihup commented on #11179
[Snap.20201113.112124.4885.0003.zip](https://github.com/eclipse/openj9/files/5538527/Snap.20201113.112124.4885.0003.zip)
[javacore.20201113.112124.4885.0002.zip](https://github.com/eclipse/openj9/files/5538528/javacore.20201113.112124.4885.0002.zip)

[2020-11-13 18:13] pshipton commented on #11179
@fjeremic @dsouzai I've shared the core in a Box folder "Issue 11179", you should both have an invitation.

[2020-11-13 18:14] pshipton commented on #11179
Sorry, it wasn't quite finished uploading, but it has finished now.

[2020-11-13 18:25] Thihup commented on #11179
It's not using Docker. I'm using `OPENJ9_JAVA_OPTIONS="-Xshareclasses:name=builds -Xscmx2g"`

[2020-11-13 18:28] harryyu1994 commented on #11179
If possible, could you please try `./java -Xshareclasses:name=builds,printStats`, it should give us the processor feature information.

[2020-11-13 18:31] gacholio commented on #11181
I think this is the culprit:

https://github.com/eclipse/openj9/pull/10704

[2020-11-13 18:33] JasonFengJ9 commented on #11181
It is related JDK15 native library loading change, will look into it.

[2020-11-13 18:33] Thihup commented on #11179
[stats.log](https://github.com/eclipse/openj9/files/5538711/stats.log)

[2020-11-13 18:36] pshipton commented on #11179
Seems this data should be added to the shareclasses section in the javacore.

[2020-11-13 18:39] harryyu1994 opened #11184 "Include processor feature information in Javacore"
We should be able to tell from a Javacore what processor features were used for AOT compilations.

This refers to the following data as shown by `-Xshareclasses:printstats`
[code]

[2020-11-13 18:42] #10758 closed

[2020-11-13 18:43] harryyu1994 commented on #11179
I created an issue for this, https://github.com/eclipse/openj9/issues/11184. I will address it when I get the chance.
[code]
I did not see anything suspicious about processor detection. And we can also rule out portable shared cache since this is not the set of features used by `-XX:+PortableSharedCache`.

[2020-11-13 18:47] pshipton commented on #11184
I've added this to the next milestone, but if there isn't time it can be pushed forward. Although it should be an easy change.

[2020-11-13 18:53] pshipton commented on #11184
Well except for the formatting which is hard coded into printAOTHeaderProcessorFeatures() and specific to the shared classes printstats output.

[2020-11-13 18:58] fjeremic commented on #11184
We should factor out the stringification of processor features out to the port library where it belongs, alongside CPU detection.

[2020-11-13 19:12] dsouzai commented on #11179
The stack trace was a bit messed up. So manually looking at the stack:
[code]
The top most method that is not inlined is `com/sun/tools/javac/parser/JavacParser.modifiersOpt(Lcom/sun/tools/javac/tree/JCTree$JCModifiers;)Lcom/sun/tools/javac/tree/JCTree$JCModifiers`

[code]
the call to `0x7fa2b7b1c490` is:
[code]
According to the javacore, `RIP: 00007F6DA13224CA`; however this is an inaccessible ad

[2020-11-13 19:33] pshipton commented on #11179
`dumps.zip` is uploaded to the folder.

[2020-11-13 20:25] #10296 closed

[2020-11-13 20:30] dsouzai commented on #11179
So same situation:
[code]
[code]
[code]
[code]
However, from the rtLog, it looks like we failed during relocation of `com/sun/tools/javac/parser/JavacParser.literal(Lcom/sun/tools/javac/util/Name;I)Lcom/sun/tools/javac/tree/JCTree$JCExpression; !j9method 0x00000000005B76B8`. So that means that the crashing method is a JIT'd method - when we fail a relocation, we retry it as a JIT compilation. I gu

[2020-11-13 20:39] Thihup commented on #11179
Maybe related? https://github.com/eclipse/openj9/issues/10126

[2020-11-13 21:08] andrewcraik commented on #11179
@liqunl could you please take a look?

[2020-11-13 22:55] JasonFengJ9 opened #11185 "JDK11 JIT Server StreamBuilderTest.java - Segmentation error vmState=0x00000000 at libj9jit29.so"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.openjdk_x86-64_linux_jit_Nightly/232`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:19:25  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=x86-64_linux&T

[2020-11-13 22:58] JasonFengJ9 commented on #10929
Another occurrence at `Test_openjdk11_j9_sanity.openjdk_x86-64_mac_xl_Nightly/213`
[code]

[2020-11-14 01:03] pshipton commented on #11185
@mpirvu

[2020-11-14 01:46] Mesbah-Alam commented on #11112
Test has been [updated](https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/377) to call System.gc(). A cap of `-Xmx512` has also been added.

[2020-11-14 17:10] pshipton opened #11186 "jdk15 sanity.system Mauve Cannot invoke "java.lang.NullPointerException.<init>(java.lang.String)" but expected java.lang.NullPointerException"
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_ppc64_aix_Nightly/103
all platforms https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK15/108/
MauveSingleThreadLoadTest_OpenJ9_0
MauveSingleInvocationLoadTest_OpenJ9_0
MauveMultiThreadLoadTest_0

[code]

[2020-11-14 17:13] pshipton commented on #11186
Related to https://github.com/eclipse/openj9/pull/11183

@JasonFengJ9 is there a problem or do we need to exclude this test for jdk15+?

[2020-11-14 17:31] pshipton opened #11187 "jdk8 win 32-bit functional -Xnocompressedrefs causing JVM to fail"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly/543/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/544/
Example failure. 52 tests failed in sanity.functional
Previous to this build `-Xnocompressedrefs` was an accepted option for 32-bit, the options being used to run the tests haven't changed.
[code]

[2020-11-14 17:33] pshipton commented on #11187
The OpenJ9 changes https://github.com/eclipse/openj9/compare/7cf2cc925...d482273

Not immediately obvious what change caused this. I'm thinking https://github.com/eclipse/openj9/pull/11153. I'll revert it in my fork and run testing.

[2020-11-14 17:36] pshipton commented on #11187
Actually https://github.com/ibmruntimes/openj9-openjdk-jdk8/compare/04fa704...25115edea https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/458 changed as well, which seems like the culprit.
@sharon-wang @keithc-ca

[2020-11-15 11:58] knn-k commented on #10741
Has the test server (test-aws-ubuntu1804-armv8-1) been rebooted recently?
If not, I want it to be rebooted to see whether the failure disappears or not.

[2020-11-15 21:37] JasonFengJ9 commented on #11186
The failed test in question is `mauve.jar:gnu/testlet/java/lang/NullPointerException/constructor.java`:
[code]
The NPE message is `java.lang.NullPointerException: Cannot invoke "java.lang.NullPointerException.<init>(java.lang.String)"` while the expect message is `java.lang.NullPointerException`

[2020-11-16 01:41] harryyu1994 commented on #10689
- Just want to make sure I'm on the right path before I start the implementation
- Here's a simplified call graph of the `shr_init()` routine and my guess on how to split it into 2 parts.
[code]
- I wish there were more documentation on the Shared Class Cache implementation. There seems to be a lot going on with the startup routine.
- Do we need to worry about NonPersistent Cache? (I have no idea

[2020-11-16 02:22] JasonFengJ9 commented on #11069
`OpenJ9 JDK15` [1]  contains #11160

@Chocohead please check if it fixes this issue, thanks.

[1] https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/download/jdk15u-2020-11-15-11-50/OpenJDK15U-jdk_x64_linux_openj9_2020-11-15-11-50.tar.gz

[2020-11-16 03:16] sharon-wang commented on #11187
@pshipton I've opened https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/459 with the fix.

[2020-11-16 03:37] cobyforrester commented on #11136
Hello @janvrany! I am having trouble accessing the slack channel, and it appears locked, is there any way I would be able to join it with the email cobyforrester@gmail.com?

[2020-11-16 03:43] zdlgv5 commented on #11136
hi @janvrany ,
Thanks for your reply!
May I be able to join the slack channel with the email dingli@iscas.ac.cn?

[2020-11-16 03:59] ChengJin01 commented on #11136
Hi @cobyforrester & @zdlgv5 ,

The #risc-v channel in Eclipse OpenJ9 (Slack) is open for public. Please feel free to join with the e-mail you prefer to offer.

[2020-11-16 04:06] ChengJin01 commented on #11136
Hi @cobyforrester,

I tried to add you in the channel but ended up with error like "already in the workspace". Could you offer another e-mail address for me to try again.

[2020-11-16 08:23] mayeths commented on #11136
Hi @janvrany , I cowork with @zdlgv5 now, may I join the slack with wow@mayeths.com? Thanks!

[2020-11-16 09:20] andrew-m-leonard commented on #10741
@pshipton The logic here https://github.com/eclipse/openj9/blob/efdb86514d722cf83747d9d8badc449fe6121658/test/functional/cmdline_options_tester/src/Test.java#L415
will only work on jdk8 as UNIXProcess.java does not exist in jdk11+. For jdk11+ it should use the jdk11 API to get the pid.

The failure on jdk8 Windows is likely to be because the ProcessKiller logic failed to kill the process, Windows

[2020-11-16 09:40] lumpfish commented on #11112
@Mesbah-Alam - since we're doing this investigation, I think it would be worth testing the changes separately (adding -Xmx and the System.gc() calls) to discover whether either change will work (in which case we can choose one of them) or whether both are needed.

[2020-11-16 12:48] #11187 closed

[2020-11-16 13:25] janvrany commented on #11136
@mayeths , @cobyforrester , @zdlgv5:

I'm sorry I do not know how I can add you to that channel. You can join the slack instance by clicking to the link on "Join OpenJ9 slack" on https://www.eclipse.org/openj9/

From there, you should be able to join the channel.

[2020-11-16 13:40] ChengJin01 commented on #11136
Hi @mayeths,  I just added you in the channel.

[2020-11-16 13:43] mayeths commented on #11136
Received invite, thanks @ChengJin01

[2020-11-16 14:08] pshipton opened #11190 "ClassLoadingTest_special_22 running very slowly"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly_otherLoadTest/176
ClassLoadingTest_special_22
variation: Mode614
JVM_OPTIONS:  -Xcompressedrefs -Xgcpolicy:gencon -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xmn512k -Xcheck:gc:vmthreads:all:quiet
ub18-p

[2020-11-16 14:26] pshipton opened #11191 "MathLoadTest_autosimd_special_22 didn't exit"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_mathLoadTest/186/
MathLoadTest_autosimd_special_22
variation: Mode614
JVM_OPTIONS:  -Xcompressedrefs -Xgcpolicy:gencon -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xmn512k -Xcheck:gc:vmthreads:all:quiet
aix71

[2020-11-16 14:30] pshipton opened #11192 "MauveMultiThreadLoadTest_special_16 String.ConsCharset got 65503 but expected 223"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly_mauveLoadTest/177
MauveMultiThreadLoadTest_special_16
variation: Mode555
JVM_OPTIONS:  -XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xcheck:gc:vmthreads:all:quiet

[2020-11-16 14:40] #11186 closed

[2020-11-16 14:42] pshipton commented on #9894
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/547
SC_Softmx_JitAot_0
win2012-x86-6
[code]
16.jvm4.stderr
[code]

In artifacts I see 3 java.exe_201114_<value>.dump files.
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/547/system_test_output.tar.gz

[2020-11-16 15:02] pshipton opened #11193 "DaaLoadTest_all_special_28 timout after 2 min"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_x86-64_linux_Personal_daaLoadTest/25
DaaLoadTest_all_special_28
15:55:43  variation: Mode610-OSRG
15:55:43  JVM_OPTIONS:  -Xcompressedrefs -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation -Xgcpolicy:gencon
[code]

No diagnostics. Nothing in stderr output.

Timeout seems really short, 2 min. Either this normal

[2020-11-16 15:16] babsingh opened #11194 "Apache Sling performance with OpenJ9"
Blog: https://blogs.perficient.com/2020/08/19/apache-sling-jvm-performance-comparison/

According to the above blog, OpenJ9, with respect to Hotspot, takes
1. **87% longer to startup** [negative]
2. **35% longer to install** [negative]
3. **14% less throughout** [negative]
4. **55% less average memory** [positive]

[2020-11-16 15:31] tajila opened #11195 "JEP 389: Foreign Linker API (Incubator)"
https://openjdk.java.net/jeps/389

Issues
Add NativeMethodHandle stubs - https://github.com/eclipse/openj9/issues/11255
Add LibraryLookup native - https://github.com/eclipse/openj9/issues/11260

[2020-11-16 15:32] tajila commented on #11195
Will most likely be targeted for JDK16 as an incubator release

[2020-11-16 15:33] DanHeidinga commented on #11194
It looks like it's doing an install of the JDK and then the app and then applying load.  Which will be filling the default SCC but never taking advantage of it.  So a cold run only.  I wonder how much improvement they'd see in startup time by starting the app and doing their measurements on a second startup.

[2020-11-16 15:57] pshipton commented on #11192
The test, which failed converting some UTF8 bytes to a String.
[code]

[2020-11-16 16:00] pshipton commented on #11192
Run some grinders https://ci.eclipse.org/openj9/job/Grinder/1174/

[2020-11-16 16:02] pshipton commented on #11191
@gita-omr someone should take a look at this hang on exit.

[2020-11-16 16:05] pshipton commented on #9894
@tajila @gacholio fyi
Given the `Invalid class pointer`, I'm guessing this is a JIT issue?

[2020-11-16 16:11] gacholio commented on #9894
The jitInfo is not NULL, indicating that the error occurred in a JIT frame, which is not a guarantee that it's a JIT issue, but it's strong evidence.

[2020-11-16 16:15] pshipton opened #11196 "Fix cmdlinetester getUnixPid() for jdk11+"
Copied from https://github.com/eclipse/openj9/issues/10741#issuecomment-727849348

The logic here https://github.com/eclipse/openj9/blob/efdb86514d722cf83747d9d8badc449fe6121658/test/functional/cmdline_options_tester/src/Test.java#L415
will only work on jdk8 as UNIXProcess.java does not exist in jdk11+. For jdk11+ it should use the jdk11 API `pid()` to get the pid.

[2020-11-16 16:15] pshipton commented on #10741
Created https://github.com/eclipse/openj9/issues/11196 for the getUnixPid() issue.

[2020-11-16 16:21] pshipton opened #11197 "cmdlinetester waits forever when killing child process doesn't work"
Adopt is experiencing hangs running tests using the cmdlinetester when the child process hangs and cannot be killed. The cmdlinetester waits forever for the child process.
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1579#issuecomment-726595987
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1579#issuecomment-726630670

Copied from https://github.com/eclipse/openj9/i

[2020-11-16 16:22] pshipton commented on #10741
Created https://github.com/eclipse/openj9/issues/11197 for the cmdlinetests waiting forever.

[2020-11-16 16:24] pshipton opened #11198 "Hang on Windows creating javacore running -XX:+HandleSIGABRT"
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1579#issuecomment-726595987
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_xl/10
cmdLineTest_sigabrtHandlingTest_0
[code]

[2020-11-16 16:25] pshipton commented on #11198
@keithc-ca fyi. Probably nothing that can be done here unless we can create it and see where it is hanging.

[2020-11-16 16:47] gacholio commented on #9894
Possibly related to https://github.com/eclipse/openj9/issues/10984 and https://github.com/eclipse/openj9/issues/10196

[2020-11-16 16:52] gita-omr commented on #11191
Yes.

[2020-11-16 17:18] pshipton commented on #11192
@gita-omr can someone take a look pls.

[2020-11-16 17:23] pshipton commented on #11191
Try some grinders https://ci.eclipse.org/openj9/job/Grinder/1175/

[2020-11-16 19:50] harryyu1994 commented on #11184
Actually this may not be as straightforward as I thought. So this could be easily done with a port library API but that will just give us the underlying processor's cpu features. The actual set of CPU features used by the compiler is later adjusted by the jit and stored in the TR::CPU class. I failed to see how we can get access to that information from the `javadump.cpp` (I'm assuming this is whe

[2020-11-16 19:57] harryyu1994 commented on #11184
I guess the way to access jit information is through `vmThread->javaVM->jitConfig`

[2020-11-16 19:59] fjeremic commented on #11184
This is the correct way, however make sure to check if this is present, because the VM may not have loaded the JIT library (for example `-Xint`).

[2020-11-16 20:03] pshipton commented on #11191
Not easily recreatable, but worth looking at the existing core file.

[2020-11-16 21:00] pshipton commented on #10689
Yes, `shr_init()`, `SH_CacheMap::startup()`, `SH_CompositeCacheImpl::startup()` is all shared code, then it uses SH_OSCachesysv instead of SH_OSCachemmap. The cache is stored in SysV shared memory, nothing on disk. Except for Windows where it's also a mmaped file but still uses SH_OSCachesysv and a different native implementation. Non-persistent is the default and only option for z/OS, but works o

[2020-11-16 21:17] pshipton commented on #11184
fyi perhaps obvious, from the shared classes perspective the java dump uses the getJavacoreData api.
https://github.com/eclipse/openj9/blob/master/runtime/rasdump/javadump.cpp#L3273
https://github.com/eclipse/openj9/blob/master/runtime/shared_common/shrinit.cpp#L1747

[2020-11-16 21:32] dsouzai opened #11201 "Standardize Relocation Records on ARM, AArch64, and P"
There are several Relocation Records that are common on all platforms, but that acquire the data to generate the common Relocation header differently. This issue is opened to track the work to standardize them so that the platforms specific versions of `initializeAOTRelocationHeader` only initialize relocation records that are specific to that platform.

The reason for the inconsistency comes from

[2020-11-16 22:54] vijaysun-omr commented on #4850
Anything more on this  @fengxue-IS or @hangshao0 ?

[2020-11-16 23:51] harryyu1994 commented on #10689
Coming back to this previous comment that I still have some confusions with: so the workflow is basically 1. load into memory (_oscache->startup() internalAttach), 2. unload (_oscache->startup() internalDetach), 3. load into memory (oscache->attach()). If this is the case, the first load seems unnecessary to me, why was it needed? Is the purpose of _oscache->startup() trying to see if we can succe

[2020-11-17 00:59] zdlgv5 commented on #11136
I have joined in the channel, thanks @ChengJin01 @janvrany

[2020-11-17 01:06] knn-k opened #11202 "AArch64 JDK15 TestMemoryHandleAsUnsigned failure"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_sanity.openjdk_aarch64_linux/99/
java/foreign/TestMemoryHandleAsUnsigned.java

Optional info
-------------

- intermittent failure: yes
- regression or new test:  regression
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) : unknown

Failure output (captured from console output)
--

[2020-11-17 01:09] knn-k commented on #11202
I can reproduce the failure on my development machine.
It is intermittent, and the results are random (SEGVs, failure without crash, ...).

`-Xjit:disableEscapeAnalysis` seems to stop the failure.

[2020-11-17 02:33] knn-k commented on #11202
`-Xjit:disableOSR` stops the failure, too.

[2020-11-17 02:49] pshipton commented on #10689
Looking at the code it's reading _dataLength and _dataStart. There is a simple check the cache is valid. It also checks a read-only cache has completed initialization and waits if it is not. I don't see any other obvious reasons, that may be the extent of it.

It doesn't load anything into memory except whatever data is read from the cache. Basically just the first page to read some header values.

[2020-11-17 06:32] gita-omr opened #11204 "Preserving vector registers around asynchecks"
Vector registers are currently not preserved correctly and efficiently at least on Power and X. Because of that, we temporarily disabled autoSIMD for loops that contain asyncchecks. See https://github.com/eclipse/openj9/pull/11126

[2020-11-17 09:21] ninja- commented on #11154
Is the default scratchspace 1GB? because it seems like my jitserver crashes/restarts at that point every time.

[2020-11-17 09:26] ninja- commented on #11154
if I am correct jitserver restarting might be at least one cause of random lags on prod - seems to correlate. is there any chance to handle such restarts better so it wouldn't lag the client process while exchanging noncached data with jitserver?

[2020-11-17 12:33] htreu opened #11205 "Invalid class pointer in stack allocated object in thread ForkJoinPool"
Java -version output
--------------------

Output from `java -version`.
If the shas are not public, include equivalent public shas.

[code]

Summary of problem
------------------

openJ9 crashes when/after the Instana agent attached and instrumentation was applied.

Diagnostic files
----------------

[javacore.20201110.112014.1.0003.txt](https://github.com/eclipse/openj9/files/5553821/javacore.202

[2020-11-17 12:56] htreu commented on #11205
In the javacore there is

[code]

The class `org.apache.commons.net.ftp.FTPClient` is instrumented by our agent using the Byte Buddy agent.

[2020-11-17 13:30] pshipton opened #11206 "jdk15 NullPointerException.constructor Cannot invoke "java.lang.Throwable.fillInStackTrace()"
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_ppc64le_linux_Nightly/106/
MauveMultiThreadLoadTest_0
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_x86-64_linux_Nightly/103/
MauveSingleThreadLoadTest_OpenJ9_0
[code]

[2020-11-17 13:31] pshipton commented on #11206
Related to #11183

@JasonFengJ9 pls take a look.

[2020-11-17 13:55] pshipton commented on #11205
I assume JIT. @andrewcraik fyi

[2020-11-17 13:59] JasonFengJ9 commented on #11206
Sure, will look into it.

[2020-11-17 14:23] pshipton opened #11208 "Pls reboot win2012-x86-4"
Had to do a hard kill of this job running on win2012-x86-4, I think the machine should be rebooted to fix any problems from processes left running or files held open.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly_testList_1/168/

[2020-11-17 14:23] pshipton commented on #11208
@jdekonin fyi

[2020-11-17 14:24] mpirvu commented on #11154
No. In OpenJ9 *each* compilation thread has a scratch space limit of 256 MiB and the server doubles that. There is no hard stop at 1 GiB, unless, somehow, kubernetes still imposes a 1 GiB limit for the server container.

If I understand correctly what you are saying, the client connects to the server and at some point the server dies, it is restarted, but the new server does not have its caches po

[2020-11-17 14:25] pshipton commented on #11208
Cleanup-Nodes is running on the machine now, I'll keep an eye on it to see if this hangs as well.
https://ci.eclipse.org/openj9/job/Cleanup-Nodes/3503/console

[2020-11-17 14:30] pshipton commented on #11208
Cleanup failed and was interrupted (timer?)

[2020-11-17 14:31] pshipton commented on #11208
Grinder job is running now, we'll see if it makes any progress.
https://ci.eclipse.org/openj9/job/Grinder/1180

[2020-11-17 14:36] pshipton commented on #11208
Seems to just be hanging, machine needs a reboot.

[2020-11-17 14:41] pshipton commented on #11208
Disabled the machine in jenkins.

[2020-11-17 16:18] hangshao0 commented on #4850
I don't see anything more at this moment.

[2020-11-17 17:16] jdekonin commented on #11208
I just rebooted the system.  System has been re-enabled in jenkins.

[2020-11-17 17:33] #11208 closed

[2020-11-17 17:36] dsouzai opened #11209 "Technical Discussion regarding AOT Validations for Method Handles"
I'm opening this issue to discuss a few technical details regarding AOT support for Method Handles.

After some discussion with @liqunl, @andrewcraik, and @vijaysun-omr, my understanding of how this works is that the bytecodes get generated on the fly, as is the case with lambda forms. However, it is possible that constant pool entry for a `ldc` bytecode could get patched to hold an arbitrary obje

[2020-11-17 17:48] pshipton commented on #10885
The 0.23 release occurred on Oct 23 with a jdk15 respin for Mac on Oct 26.

Release information available here https://github.com/eclipse/openj9/releases/tag/openj9-0.23.0

[2020-11-17 17:48] #10885 closed

[2020-11-17 18:04] #11196 closed

[2020-11-17 18:04] #11197 closed

[2020-11-17 19:41] hangshao0 commented on #11209
Yes.

[2020-11-17 19:42] IBMJimmyk commented on #11125
For safety purposes, a different solution was selected where AutoSIMD bails out if the loop contains an asyncheck. However, the option to remove the asynchecks was still implemented under the `TR_enableAutoSIMDSkipAsynccheck` env variable.

[2020-11-17 20:18] gita-omr commented on #11040
Thanks @IBMJimmyk for continuing the investigation. Please note the problem happens with different builds but most frequently with the one from #10930. So it's probably the best to try to reproduce it locally with this particular build.

[2020-11-17 20:52] AlexeyKhrabrov opened #11211 "Improve JITServer ROMClass packing"
Current implementation has a few issues:
- Class and method names are always appended at the end of the packed ROMClass even if they're stored within its contiguous portion, unnecessarily increasing the size of the result.
- The `length` field in appended `J9UTF8` strings is not properly aligned. This can break things on platforms that don't allow unaligned memory access.
- The `romSize` field in

[2020-11-17 21:10] ChengJin01 commented on #10581
It seems the test failed at
[code]

I suspect the reason for this is that these flags were disabled in Java 15 temporarily (in the preview status).

@JasonFengJ9,  please help verify the failing test here to see whether https://github.com/eclipse/openj9/pull/11203 (just merged) works to fix the issue.  I will take a look if it still fails with the PR.

[2020-11-17 22:32] harryyu1994 commented on #11015
# Warm runs

## Java8
[code]

## Java11
[code]

[2020-11-17 23:03] liqunl commented on #11209
If 2 fails, we can restrict optimizations. The object can't be treated as a known object. But I think for customized LambdaForm, usually the object class is from core JCL, loaded by system classloader. And it should be named in the constant pool if it is to be used later.

Notice that the generated methods or classes are not named in its caller's constant pool. They are from MemberName object stor

[2020-11-17 23:07] harryyu1994 commented on #11184
Does this format look okay?
[code]

[2020-11-17 23:09] harryyu1994 commented on #11184
Corresponding OMR change: https://github.com/eclipse/omr/pull/5675

[2020-11-17 23:58] pshipton commented on #11184
No, each line needs to have a code. It could look like this.

[code]

[2020-11-18 01:27] Chocohead commented on #11069
Seems to have done it, thanks for your help with this

[2020-11-18 01:27] #11069 closed

[2020-11-18 03:40] jdekonin commented on #10129
Can this be closed?

[2020-11-18 03:58] #11110 closed

[2020-11-18 04:34] knn-k commented on #10126
Another example of javac failure with JDK 8 in https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/114/consoleText

[code]

[2020-11-18 08:46] andrew-m-leonard opened #11218 "jdk11 aarch64: testSCCacheManagement_0 hang/deadlock ?"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.functional_aarch64_linux/37/console

[code]

[2020-11-18 08:48] andrew-m-leonard commented on #11218
and when terminated, output:
[code]

[2020-11-18 09:20] andrew-m-leonard opened #11219 "jdk15 build failure: ASSERTION FAILED ** at classsupport.c:1136"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-linux-aarch64-openj9/112/console
[code]

[2020-11-18 09:20] andrew-m-leonard commented on #11219
Started to fail from Nov 13th

[2020-11-18 13:04] JasonFengJ9 commented on #10581
From last night build `Test_openjdknext_j9_sanity.openjdk_ppc64le_linux_Nightly/345`, `openjdk-tests/TKG/test_output_16055832441665/jdk_lang_j9_0/work/java/lang/reflect/sealed_classes/SealedClassesReflectionTest.jtr ` has content as following:

[code]

test SealedClassesReflectionTest.testnon_sealedClasses(java.lang.Class@159594c6): failure
java.lang.AssertionError: expected [true] but found [fals

[2020-11-18 13:46] pshipton commented on #11192
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/1837

[2020-11-18 13:48] pshipton commented on #11192
@gita-omr this is failing enough to be a blocker, but it's running in a non-production mode. We need to evaluate if the problem is specific to the non-production options.

[2020-11-18 13:50] pshipton commented on #11206
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_x86-64_windows_Nightly/110

[2020-11-18 13:55] pshipton commented on #10929
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/213
java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessLong.java
java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessInt.java

[2020-11-18 14:50] DanHeidinga commented on #11209
Yes, there's no guarantee that the patched class will name the patched in object's class.  The API being used is Unsafe.defineAnonymousClass which is open to anyone with access to Unsafe so we can't depend on any conventions of usage.

[2020-11-18 14:58] DanHeidinga commented on #11209
Often for LambdaForms, the object is a MemberName / MethodHandle.  (Correct me if I'm wrong, @babsingh / @fengxue-IS).  If the AOT code depends on the KOT to know the target method / field referred to by the patched object, then we need to be able to tell if two MemberName/MHs are equivalent or the compiled code can't be reused.

[2020-11-18 15:41] AdamBrousseau commented on #10834
The one in the PR above is on machine#5.
Not sure what else to do here. We should remove the dup cleanWs command that happens on Win/zOS
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/build.groovy#L62
We already do it on all platforms [here](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/build.groovy#L578)

[2020-11-18 15:44] gita-omr commented on #11192
Yes, we will take a look.  @mnalam-p

[2020-11-18 15:53] gita-omr commented on #10706
Just fyi: we are looking at this one as well.  @mnalam-p

[2020-11-18 16:29] dnakamura opened #11222 "CMake windows test failure in VarHandleTestMethodHandleAccessX"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/213/ (win2012-x86-3)

Optional info
-------------

- intermittent failure (yes|no): appears to be intermittent, investigating further
- regression or new test:  regression
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) : Appears to be relat

[2020-11-18 16:31] pshipton commented on #11194
@vijaysun-omr fyi

[2020-11-18 16:33] pshipton commented on #11148
I'll close this assuming the problem is resolved, if there is still a problem please let us know.

[2020-11-18 16:33] #11148 closed

[2020-11-18 16:36] #11161 closed

[2020-11-18 16:37] pshipton commented on #11222
Closing as a dup of https://github.com/eclipse/openj9/issues/10929

[2020-11-18 16:46] hangshao0 commented on #11218
Happened on `test-aws-ubuntu1804-armv8-1`, which is the same machine mentioned here: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1579

[2020-11-18 16:54] pshipton commented on #11218
@knn-k

[2020-11-18 16:59] pshipton commented on #11219
I assume this is JIT related since no other platform has this issue.

@knn-k

[2020-11-18 17:01] fjeremic commented on #11184
Just list them all on one line the same way `/proc/cpuinfo` does IMO.

[2020-11-18 17:06] harryyu1994 commented on #11015
- Java11: 6.936 ms
- this one takes up majority of the time
[code]

[2020-11-18 17:08] pshipton commented on #10129
Yup, we've successfully transitioned to VS2013. Thanks for making this happen.

[2020-11-18 17:08] #10129 closed

[2020-11-18 18:43] mpirvu commented on #11194
Scripts here https://github.com/PerficientDigital/sling-jvm-comparison/blob/master/mount/test.sh#L63-L74 show the start-up is repeated 3 times

[2020-11-18 19:00] #11125 closed

[2020-11-18 19:50] harryyu1994 commented on #11184
- When JIT is loaded
[code]

- When JIT is not loaded
[code]

[2020-11-18 20:02] babsingh commented on #11194
There are three `TRY` attempts in case of failures. There is a `break` statement after the first successful start up. So, there is only `ONE` successful start-up.

[2020-11-18 20:16] mpirvu commented on #11194
Good catch. I missed that. It's hard to believe though someone would do just a single run to measure performance.

[2020-11-18 20:34] babsingh opened #11225 "Should MethodHandles be always enabled in OpenJ9?"
### Should MethodHandles be always enabled in OpenJ9?

**Or are there instances where we need to completely disable MethodHandle related code?**

Recently, we have also added new flags, `J9VM_OPT_OPENJDK_METHODHANDLE` and `J9VM_OPT_METHOD_HANDLE_COMMON`, in order to support OpenJDK's implementation of MethodHandles.

Recent changes, such as https://github.com/eclipse/openj9/pull/10893, won't allow

[2020-11-18 20:48] babsingh commented on #11225
fyi @DanHeidinga @fengxue-IS @tajila

[2020-11-18 21:05] DanHeidinga commented on #11225
@pshipton you're the last person I remember who had a reason to disable methodhandles.  Do you recall why?  And if the reasons are still relevant?

[2020-11-18 21:30] ChengJin01 commented on #10581
I compile a JDK16 build (https://github.com/ibmruntimes/openj9-openjdk-jdk) with the latest update on OpenJ9 & OMR on a `ppc64le_Linux` machine and tried to reproduce the issue locally by manually running over 10 times but all test cases in `SealedClassesReflectionTest.java` passed without any exception.
[SealedClassesReflectionTest.jtr.txt](https://github.com/eclipse/openj9/files/5562846/SealedCl

[2020-11-18 22:35] vijaysun-omr commented on #11194
Is this something we want to suggest directly to the blogger to try ? i.e. at least see if the default SCC can be used.

[2020-11-18 22:40] JasonFengJ9 opened #11227 "SE80_GIT CDSAdaptorTest_0 Windows failures - Success condition was not found: [Output match: A message from modified class]"
Failure link
------------

From an internal build `ibuild 459920`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-11-18 23:38] pshipton commented on #11179
Marius commented in Slack "It's possible that the crash with shareclasses (SCC) is due to AOT in which case you could continue to use the SCC, but just for storing classes. To achieve this, leave the SCC options as is and add `-Xnoaot` to the command line.

Thihup: "Running with -Xnoaot I got"
[code]

Added new_dumps.zip to the Box folder.

[2020-11-18 23:57] llxia commented on #11227
This is a known issue. PR https://github.com/eclipse/openj9/pull/11224

[2020-11-19 00:13] gita-omr commented on #10706
100 iterations passed: https://ci.eclipse.org/openj9/job/Grinder/1186/

[2020-11-19 02:21] DanHeidinga commented on #11225
Sounds like we don't need this anymore.

The code should expect that MHs are always present.  Don't worry about allowing MHs to be disabled

[2020-11-19 02:48] 0xdaryl commented on #11164
@knn-k

[2020-11-19 02:54] 0xdaryl commented on #11164
This statement from the JEP will require some investigation:

Perhaps some form of read-only code cache may be required in this configuration.

[2020-11-19 03:33] pshipton commented on #9416
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_Nightly/558
Diagnostics https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK11_x86-64_mac_Nightly/558/Build_JDK11_x86-64_mac_Nightly-558-20201118-221726-diagnostics.tar.gz
[code]

[2020-11-19 05:25] pshipton commented on #11222
@dnakamura maybe there is a problem, since this failure is happening more frequently now.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/214

[2020-11-19 05:26] pshipton commented on #10929
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/214
java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessChar.java

These new failures on Windows may be related to switching to build with cmake.
https://github.com/eclipse/openj9/issues/11222

[2020-11-19 05:28] pshipton commented on #11222
We can run some non-cmake testing, in case there was something else delivered which is causing this.

[2020-11-19 05:29] babsingh commented on #11225
Closing this issue: **MHs should always be enabled**.

[2020-11-19 05:29] #11225 closed

[2020-11-19 07:15] nikxliu opened #11228 "IBM J9 JAVA CRASH when compile a methond on optLevel warm."
Java -version output
--------------------
java version "1.8.0_251"
Java(TM) SE Runtime Enviroment (build 8.0.6.10 -pxa6480sr6fp10-20200408_01(SR6 FP10))
IBM J9 VM (build 2.9, JRE 1.8.0 Linux amd64-64-Bit Compressed References 2020402_443261 (JIT enabled, AOT enabled)
OpenJ9      - 35ef566
OMR           - 4bca4f4
IBM             - 55acf4a)
JCL - 20200407_01 based on Oracle jdk8u251-b08

Summary of

[2020-11-19 08:31] knn-k commented on #11218
I ran `testSCCacheManagement_0` 10 + 10 times using two machines, and I could recreate the issue.
It takes 15 minutes for a single round of this test.

[2020-11-19 12:37] M-Davies opened #11229 "JDK8/x64/Linux - Illegal Start of Expression in building"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9/854/console
[code]
First instance of this occurring at Adopt.

[2020-11-19 13:09] JasonFengJ9 commented on #10581
Latest nightly build passed `SealedClassesReflectionTest` at `Test_openjdk15_j9_sanity.openjdk_ppc64_aix_Nightly/98`.

[code]

[2020-11-19 13:09] #10581 closed

[2020-11-19 14:01] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/547
cmdLineTester_locales_0
[code]

[2020-11-19 14:04] pshipton commented on #11021
Not exactly the same - Could not terminate process PID=7080: Access is denied.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_windows_Nightly/548
[code]

[2020-11-19 14:14] #11227 closed

[2020-11-19 14:15] pshipton commented on #11219
Here is one not on aarch64. @tajila @gacholio fyi

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.functional_ppc64le_linux_Nightly/108
reattachAfterExit_0

Diagnostics
(core, javacore, Snap) in https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk15_j9_sanity.functional_ppc64le_linux_Nightly_testList_0/107/functional_test_output.tar.gz

[code]

[2020-11-19 14:38] pshipton commented on #11229
Related to https://github.com/eclipse/openj9/pull/11210
@keithc-ca

There weren't any problems in the OpenJ9 builds last night, which include this change.

[2020-11-19 14:47] pshipton commented on #11228
This problem is reported on IBM Java, not OpenJ9. 8.0.6.10 is the April quarterly update, roughly equivalent to OpenJ9 0.20.0.

There are newer versions available. Does the crash still occur with the most recent version?

[2020-11-19 14:49] pshipton commented on #11228
Note the best way to get support for IBM Java is via IBM support.

[2020-11-19 14:57] pshipton commented on #11163
Vij tells me this is must fix, setting a blocker label.

[2020-11-19 15:11] liqunl commented on #4850
AOT support is needed for the call to invokeBasic, linkTo*. These are VM INL, but we don't support VM INL in AOT.
[code]
On X, calling to these methods is the same as calling interpreted method, we put the j9method pointer in a register, then call the i2jtransition helper. On other platforms, it's via snippet.

Adding the support should be simple, at least for invokeBasic and linkTo*

[2020-11-19 15:21] gita-omr commented on #10706
500 iterations passed:https://ci.eclipse.org/openj9/job/Grinder/1192

[2020-11-19 15:40] lumpfish commented on #11021
Before https://github.com/AdoptOpenJDK/stf/issues/86 was merged the pid being used as an argument to procdump,, Stop_Process etc. on machines with 64 bit perl was incorrect (pid 192 in this issue description).

The "Could not terminate process PID=7080: Access is denied." error is different - the pid is now looks correct but for some reason the user running the test appears not to be able to termi

[2020-11-19 15:43] M-Davies commented on #11229
Neither at Adopt's

[2020-11-19 15:54] pshipton commented on #11229
I'm confused. If there isn't a problem in Adopt's builds what is being reported in this Issue?

[2020-11-19 15:56] pshipton commented on #11229
I'm saying that linux-x64 built fine in the OpenJ9 nightly build last night.

https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All/1096/

[2020-11-19 16:01] pshipton commented on #11229
I expect Adopt is failing to build because it's using a Java 7 boot JDK. Although we should fix the code so Java 7 can still be used.
`BOOT JDK: java version "1.7.0_261"`

[2020-11-19 16:13] fjeremic commented on #11179
This is a profiling compile. IIRC @r30shah I think we've seen these `BadILOp` failures I think it was fixed in eclipse/omr#5644. Rahil could you take a quick peek and find out if this is another instance of that problem? Note that the user may have been running with an older JDK not containing the OMR fix referenced.

[2020-11-19 16:18] #11211 closed

[2020-11-19 16:22] pshipton commented on #11222
Didn't recreate with an uma build, trying 4 more runs across different machines.
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1196/

[2020-11-19 16:38] r30shah commented on #11179
Failure in https://github.com/eclipse/openj9/issues/11179#issuecomment-730025374 seems like the issue fixed by https://github.com/eclipse/omr/pull/5644 and looking at the Java version in the description, if it is the driver in which the failure is found, it does not contains the fix. @pshipton  Can you please provide access to the box folder so I can verify that?

[2020-11-19 16:44] sxa commented on #11229
Last night's regular build was ok, but [a subsequent one](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9/) kicked off by @M-Davies about five hours ago did not.

[2020-11-19 16:47] gacholio commented on #11219
I'll take a look at the diagnostics.

[2020-11-19 17:30] pshipton commented on #11179
@r30shah added you, you should have received the invite. It is the same JVM.
`1CIJ9VMTAG     openj9-0.23.0`

[2020-11-19 17:32] pshipton commented on #11179
@Thihup this means you could try a nighty which contains the fix for the BadILOp problem.
https://adoptopenjdk.net/nightly.html?variant=openjdk15&jvmVariant=openj9

[2020-11-19 17:40] pshipton commented on #11222
All the grinders failed some native test (I assume a setup issue) which is unrelated, but the NPE in `java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccess<type>` didn't recreate. Given the NPE has occurred in the last two nightlies, it seems related to cmake. I started a 4x grinder on the cmake build for comparison.

https://ci.eclipse.org/openj9/view/Test/job/Grinder/1197/

[2020-11-19 17:46] pshipton commented on #11229
That's because the regular build pre-dated the change which broke it. It contains OpenJ9 SHA 280eaae30

[2020-11-19 17:46] pshipton commented on #11229
Also time zone confusion, because "last night" for AdoptOpenJDK runs at a different time from "last night" for OpenJ9.

[2020-11-19 17:51] gacholio commented on #11219
[code]

[2020-11-19 18:06] gacholio commented on #11219
The class load is coming from a JNI FindClass call which clearly enters the VM before loading the class.

[2020-11-19 18:07] sxa commented on #11229
Indeed - hence the reason I figured saying "5 hours ago" so it was relative to my comment would clarify and it seems to have done so :-)

[2020-11-19 18:14] r30shah commented on #11179
Looking at the jitdump from the `new_dumps.zip` , I can verify that it is same issue where a regLoad appears under passThrough node for which we do not have `regStore` as it should already be in register and it generates a node with type of `PassThrough` which causes `badILOp` assert, latest nightly build should not see this failure.

[2020-11-19 18:14] gacholio commented on #11219
[code]
This seems impossible.

[2020-11-19 18:54] #11229 closed

[2020-11-19 19:05] pshipton commented on #11222
Only 1/4 occurrence of the NPE in `VarHandleTestMethodHandleAccess<type>`  in the cmake runs. https://ci.eclipse.org/openj9/job/Grinder_iteration_3/11/testReport/ (win2012-x86-1)

A timezone test failed, but I believe that's because jdk-11.0.10+3 promoted with newer test material over the cmake JVM I'm using.

0/4, 1/4 isn't conclusive, I'll run more grinders.

12x with uma https://ci.eclipse.org/

[2020-11-19 19:08] gacholio commented on #11219
Problem introduced in https://github.com/eclipse/openj9/pull/11160

It's entering and exitting the VM unncessarily, which leaves the VM in the bad state.

[2020-11-19 19:09] mnalam-p commented on #10706
20 iteration on local testing passed (on ppc64le)

[2020-11-19 19:14] dmitripivkine commented on #11151
Current `-Xsoftmx` feature behaviour is ignoring watermark limit at initial heap expansion. Later on however GC is trying to contract heap below watermark. Once achieved the OOM is thrown in case if level is crossed it up again.
I can try older JVMs to verify is this behaviour exist since feature introduction or was broken some time later.

Our test https://github.com/eclipse/openj9/blob/master/te

[2020-11-19 19:39] mikezhang1234567890 commented on #10503
OpenJDK uses the RMI reaper thread to keep itself alive (as seen in [comments here](https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/72df78bd23c8914d7877a467f83ac7be64a618e7/src/java.rmi/share/classes/sun/rmi/transport/ObjectTable.java#L343)). When `UnicastRemoteObject.exportObject` is called, a WeakReference is created and registered to the ReferenceQueue in the reaper. When the exported ob

[2020-11-19 19:47] pshipton commented on #11151
+1 for fixing it to respect the soft limit during the initial heap expansion. The option seems less useful if the soft limit is ignored. The heap may never contract below the watermark.

After the initial heap expansion, if it's expanded again does any OOM occur? If not, the soft limit is being totally ignored.

If we think the current behavior is useful, I'm not sure it is, another option could b

[2020-11-19 20:05] dmitripivkine commented on #10503
GC is going to process Weak Reference as soon as discovers that referent is not reachable any more (immediately). So if object should not die it should be reachable from the roots. Alternatively using of Soft Reference however might extend referent life for a period of time (32 collections)

[2020-11-19 21:17] pshipton commented on #11222
All passed, perhaps just running jdk_lang_j9_0 isn't good enough.

[2020-11-19 21:19] pshipton commented on #11222
running all sanity.openjdk again.

12x with uma https://ci.eclipse.org/openj9/view/Test/job/Grinder/1200
12x with cmake https://ci.eclipse.org/openj9/view/Test/job/Grinder/1201

[2020-11-19 21:24] #11219 closed

[2020-11-19 21:48] harryyu1994 commented on #10689
I'm going to isolate the problem by implementing the "split" first, not going to add additional functionality nor change the location of the call. The first step I took was to split `SH_CompositeCacheImpl::startup`. I have ran some local tests and it didn't give any errors. I have also noticed that we have some unit tests in place to test out this API. How do you invoke these tests? I have my chan

[2020-11-19 22:44] pshipton commented on #10689
FYI https://github.com/eclipse/openj9/blob/master/test/README.md

You need the `shrtest` native binary, build it with `make all`, or `make test-image` in addition to building the JVM.
Then the test harness assumes `shrtest` is in </path/to/jvm>/../native-test-libs/shrtest`. It's actually built in `build/linux-<plat>-normal-server-release/images/test/openj9`, so create a symlink in the images direc

[2020-11-20 01:04] nikxliu commented on #11228
AYYYYYY, I knew that. But IBM did not support if you only use the IBMJ9 for the standalone application.

[2020-11-20 04:38] pshipton commented on #11228
Possibly we can help, but there isn't much point in looking at it if it's already been fixed in a later version.

[2020-11-20 04:52] babsingh commented on #11027
https://github.com/eclipse/openj9/pull/11182 introduces the following two native stubs:
1. `Java_jdk_internal_misc_ScopedMemoryAccess_registerNatives`: stays empty since our tooling handles the registration of Java native methods.
2. `Java_jdk_internal_misc_ScopedMemoryAccess_closeScope0`: currently, throws an assertion; needs an implemetnation.

**New tests and failures are seen for JEP393** (For

[2020-11-20 05:44] nikxliu commented on #11228
Yes. This issue can occur on any method which compiled by the JIT. It is interesting. I had added the -Xnocompressedrefs to the application's start command. The issue did not happened again in past two days. I wish this parameter can help to resolve this question.

[2020-11-20 05:46] nikxliu commented on #11228
If this issue is going to happened again. I will suggest developer use the the newest openj9 or other hotspot jdk to test.

[2020-11-20 10:09] andrew-m-leonard commented on #11229
Adopt builds failed last night with this: https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9/855/console
@pshipton @sxa

[2020-11-20 10:12] andrew-m-leonard commented on #11229
BootJDK being used:
[code]

[2020-11-20 11:04] andrew-m-leonard opened #11236 "jdk8 build failure:java.util.function does not exist"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9/857/console
[code]
BootJDK:
[code]

[2020-11-20 11:58] Thihup commented on #11179
Using the latest nightly build the crash didn't happen 🎉
Should I give it a try and run without -Xnoaot? Is there some flag that maybe helps in the investigation?
Looks like using the nightly build the SCC cache was reset, but maybe I've messed something up before using it.

[2020-11-20 12:34] mpirvu commented on #11194
There is an outer loop here https://github.com/PerficientDigital/sling-jvm-comparison/blob/master/mount/test.sh#L48-L59
which repeats each test 4 times, so there must be some default SCC, unless some other script deletes it (I couldn't find signs of that though).

I performed some start-up experiments of Apache Sling on a skylake based desktop and I can say that the start-up time varies a lot. Ave

[2020-11-20 13:48] keithc-ca commented on #11229
That build used:
[code]
`2981dcb4c` is one merge commit before the fix.

[2020-11-20 14:03] pshipton commented on #11222
Nothing in the build last night.

[2020-11-20 14:06] pshipton commented on #11206
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_ppc64_aix_Nightly/109
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_x86-64_linux_Nightly/105

[2020-11-20 14:24] pshipton commented on #11236
@keithc-ca

[2020-11-20 14:25] pshipton commented on #11236
Forgot to remove the unused import I think.

[2020-11-20 14:30] amicic opened #11237 "Verbose GC, missing contextid in concurrent-collection-start"
<concurrent-kickoff id="795" timestamp="2020-10-19T07:18:51.326">
  <kickoff reason="threshold reached" targetBytes="717044792" thresholdFreeBytes="99074768"  remainingFree="98966736" tenureFreeBytes="175532784" nurseryFreeBytes="98966736" />
</concurrent-kickoff>
<exclusive-start id="796" timestamp="2020-10-19T07:18:51.334" intervalms="432.374">
  <response-info timems="0.252" idlems="0.249" thre

[2020-11-20 14:43] keithc-ca commented on #11236
I will be installing jdk7 to use as the bootjdk so I don't make this sort of mistake again. :-(

[2020-11-20 14:44] amicic opened #11239 "convert concurrent-mark-end to gc-op (or add it) in GMP concurrent increment"
[code]

This is how it's done in Concurrent Scavenger:

[code]

A dilemma is how to report reasonForTermination, which does not really fit into gc-op. It somewhats resembles to termination reason for CS, but in CS it's rare event (hence a warning used)

[2020-11-20 15:12] pshipton commented on #11179
Any time the JVM is switched the cache will be reset. Nobody has mentioned the original problem being fixed, so it's unlikely to work without -Xnoaot, but you can try if you like.

[2020-11-20 15:16] pshipton commented on #11195
It's proposed to jdk16 now.

[2020-11-20 15:19] pshipton opened #11240 "JEP 396 Strongly Encapsulate JDK Internals by Default"
See https://openjdk.java.net/jeps/396

[2020-11-20 15:19] babsingh commented on #11027
More JEP393 failures: https://github.com/eclipse/openj9/issues/11135#issuecomment-724814903.

[2020-11-20 15:20] pshipton commented on #11240
@llxia fyi, this may require some testing to add `--illegal-access=permit`

[2020-11-20 15:21] pshipton commented on #11240
Tentatively added it to jdk16, although atm it's only proposed with the review ending 2020/11/26.

[2020-11-20 15:26] amicic commented on #11237
On a more general note, I have a feeling that concurrent-collection-start/end is overly complicated.

concurrent-collection-end is simply redundant and brings no value.

concurrent-collection-start (which actually is a 3 liner - see below) could probably be collapsed to one line. we don't have anything similar to report GMP (in Balanced) and Concurrent Scavenger final increments.

[code]

[2020-11-20 15:31] MelHopper commented on #11239
Please can you add an ID label, and state that the following topics will need to be updated once this modification has been decided:
- vgclog.md

Many Thanks

[2020-11-20 15:33] MelHopper commented on #11237
Please can you add an ID label, and state that the following topic may need an update to the log snippet(s):

vgclog.md

Many Thanks

[2020-11-20 16:27] keithc-ca commented on #9416
A similar failure in https://ci.eclipse.org/openj9/job/Build_JDK15_x86-64_mac_Personal/64:
[code]

[2020-11-20 16:32] #11236 closed

[2020-11-20 18:10] mpirvu commented on #11194
Seeing this VirtualBox machine definition in the gitgub repo for the test
[code]
I also performed experiments with the JVM pinned to two HW threads. Again, I do not see OpenJ9 being slower than HotSpot when no options are provided:
[code]

[2020-11-20 18:26] tajila opened #11243 "jacoco_test failing with openj9 jdk11 and 14"
Java -version output
--------------------

10:53:19  =JAVA VERSION OUTPUT BEGIN=
10:53:20  openjdk version "11.0.10" 2021-01-19
10:53:20  OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.10+3-202011192348)
10:53:20  Eclipse OpenJ9 VM AdoptOpenJDK (build master-722c4437c, JRE 11 Linux amd64-64-Bit Compressed References 20201119_841 (JIT enabled, AOT enabled)
10:53:20  OpenJ9   - 722c4437c
10:53

[2020-11-20 18:26] tajila commented on #11243
@hangshao0 ^^^

[2020-11-20 18:27] gleromsourd commented on #8724
Hello,

could you please tell me if following problem is a DUPlicate?

I face similar crash on
1CIJAVAVERSION JRE 11 Windows Server 2012 amd64-64 (build 11.0.6+10)
1CIVMVERSION   20200122_442
1CIJ9VMTAG     openj9-0.18.1

Error is also a:
Line 4: 1TISIGINFO     Dump Event "gpf" (00002000) received

And I can also identify some table lock:
Line 4789: 2LKREGMON          VM monitor table lock (0x0000

[2020-11-20 18:35] llxia commented on #6361
cmdLineTester_locales failure rate is 8% (40 / 500 runs) on machine osx1013-x86-4: https://ci.eclipse.org/openj9/job/Grinder/1193/
We are going test with -Xint

[2020-11-20 18:51] liqunl commented on #11179
Looked at core file in `dumps.zip`, the one investigated in https://github.com/eclipse/openj9/issues/11179#issuecomment-727015219

The problem is in the jit code of `{com/sun/tools/javac/parser/JavacParser.literal(Lcom/sun/tools/javac/util/Name;I)Lcom/sun/tools/javac/tree/JCTree$JCExpression;}`

We inlined `com/sun/tools/javac/parser/JavacParser$SimpleEndPosTable.storeEnd` but the object is `com/s

[2020-11-20 19:07] hangshao0 commented on #11243
I will look into this.

[2020-11-20 19:08] pshipton commented on #8724
@gleromsourd Looks like a dup of https://github.com/eclipse/openj9/issues/8548, fixed in 0.20, 0.23 is the latest.

[2020-11-20 20:27] pshipton commented on #11179
@liqunl added jit_dumps.zip to the Box folder.

[2020-11-20 21:06] gleromsourd commented on #8724
thank you for quick feedback, will test then on upper level and will let you know

[2020-11-20 21:23] hangshao0 commented on #11243
Reproduced this failure:

[code]

OpenJ9 does throw a InvocationTargetException which LinkageError as the cause, which is expected by the test. However, the test goes on to check for "duplicate class definition" in the error message:
https://github.com/jacoco/jacoco/blob/master/org.jacoco.core.test/src/org/jacoco/core/runtime/InjectedClassRuntimeTest.java#L59.

I don't see "duplicate class definit

[2020-11-20 22:01] pshipton opened #11244 "Mac fails to build with java.dSYM: is a directory"
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_mac_OMR/760
[code]

I'm thinking it's an intermittent problem.
First seen before in testing for https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/463

[2020-11-20 22:02] pshipton commented on #11244
@keithc-ca @JasonFengJ9 fyi

[2020-11-21 02:58] #11181 closed

[2020-11-21 04:14] ninja- commented on #7995
hmm I am experiencing the same...thought this was an AdoptOpenJDK bug...

[2020-11-21 04:15] ninja- commented on #7995
https://github.com/AdoptOpenJDK/openjdk-build/issues/2245#issuecomment-731505186

[2020-11-21 05:07] ninja- commented on #7995
this doesn't seem that complicated to fix...the relevant file is here:
https://github.com/eclipse/omr/blob/4c5184800ef8c4b005c9611ab87181db5dc036b4/port/linux/omrosbacktrace_impl.c#L238

and it would need to find and open .debuginfo file and find the data there

[2020-11-21 06:05] ninja- commented on #7995
ok after digging around it seems like we shouldn't need debuginfo files and normal binary should be enough to resolve symbol names without source code filenames and lines...
I think the proper fix is to pass `-rdynamic` to linker like it's currently done when running the tests...

[2020-11-23 02:47] OscarQQ commented on #6361
JDK8 Having **-Xint** right before -cp, we get failures https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4944
[code]

JDK8 Removing JIT completely, still get failures https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4946/
[code]

JDK11 works perfectly fine with the same command https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4947/
[code]

So we suspect it might be a JIT

[2020-11-23 04:26] pshipton commented on #11021
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-32_windows_Nightly/552
TestJlmRemoteClassNoAuth_0
[code]

[2020-11-23 08:53] andrew-m-leonard opened #11246 "jdk8 & 15: J9ILOps compile errors"
jdk8 all platforms:
See: https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-openj9/769/console
[code]

jdk15 also:
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-linux-x64-openj9/114/console

[2020-11-23 11:26] sxa commented on #11246
Looks like https://ci.eclipse.org/openj9/job/Build_JDK15_x86-64_linux_Nightly/115 had a couple of nights of failures and then started working again last night. Possibly related?

[2020-11-23 13:15] pshipton commented on #11190
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly_otherLoadTest/183
ub18-ppcle-1
[code]

[2020-11-23 13:17] pshipton commented on #11190
FYI a successful run
[code]

[2020-11-23 13:18] pshipton commented on #11190
@gita-omr fyi

[2020-11-23 13:21] pshipton commented on #11206
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_ppc64le_linux_Nightly/110
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_s390x_linux_Nightly/112

[2020-11-23 13:22] pshipton commented on #11021
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_x86-64_windows_Nightly/113
TestJlmRemoteMemoryNoAuth_0
`Could not terminate process PID=15012: Access is denied.`

[2020-11-23 13:24] pshipton commented on #10256
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_s390x_linux_Nightly/112/

[2020-11-23 13:29] pshipton commented on #11246
A change was delivered (https://github.com/eclipse/openj9/pull/11169) which was dependent on OMR promotion (https://github.com/eclipse/omr/pull/5670), but OMR promotion was failing because of a bad change (https://github.com/eclipse/openj9/pull/11114) which was reverted (https://github.com/eclipse/openj9/pull/11245).

All good now.

[2020-11-23 13:29] #11246 closed

[2020-11-23 13:45] pshipton commented on #7995
Seems worth trying, assigning to the next milestone.

[2020-11-23 13:45] pshipton commented on #7995
@tajila @keithc-ca @andrewcraik @fjeremic @gita-omr fyi

[2020-11-23 13:46] pshipton commented on #7995
@dnakamura fyi

[2020-11-23 14:23] #11149 closed

[2020-11-23 15:27] keithc-ca commented on #11244
It's not clear how to me how it could succeed (unless configured with `--disable-debug-info`).
I think this problem was introduced by:
* 8252395: [8u] --with-native-debug-symbols=external doesn't include debuginfo files for binaries

[2020-11-23 16:24] keithc-ca commented on #11244
Actually, I do have a theory. When make considers the rule to produce `java.dSYM`, if either of the rules to produce `java.dSYM/Contents/Info.plist` or `java.dSYM/Contents/Resources/DWARF/java` has already been executed, it's almost guaranteed that the `java.dSYM` directory will be newer than the prerequisites and so make will avoid the troublesome commands.

[2020-11-23 17:08] gita-omr commented on #11190
Thanks, took a note.

[2020-11-23 17:20] pshipton commented on #6361
You are adding `-Xint` in the wrong place. Using `-Xint` for the individual tests doesn't change the `Test result: PASSED` behavior, or change how TKG determines PASS/FAIL. It's the cmdline tester which is responsible for the following (which always shows the correct result), and then optionally returning an exit code.
[code]

I see the cmdline tester for cmdLineTester_locales is run with `-nonZer

[2020-11-23 18:18] fjeremic opened #11248 "Reenable #11114 after fixing issues"
A problem was encountered in the OMR-Acceptance with the merge of #11114. I've reproduced the issue in a simple unit test:

[code]

[code]

Looking at the trees, the only change is the following from previous build:

[code]

It seems correct to me. We seem to load 32-bits and zero the high order then we do a reverse 32-bit store. I must be missing something though, so perhaps it is obvious to Powe

[2020-11-23 18:18] fjeremic commented on #11248
@aviansie-ben FYI.

[2020-11-23 18:35] fjeremic commented on #11248
Attaching trace file of falure:
[putInt.trace.6245.55318.20201123.131518.6245.txt](https://github.com/eclipse/openj9/files/5585038/putInt.trace.6245.55318.20201123.131518.6245.txt)

[2020-11-23 20:57] pshipton commented on #11240
This applies to Java 11+. Tests that need to run with `--illegal-access=permit` print a warning like the following:
[code]

[2020-11-23 21:30] IBMJimmyk opened #11250 "Improve opt for combining consecutive byte loads"
Despite the name, sequentialStoreSimplification contains an optimization that identifies byte loads from consecutive memory locations and attempts to load them via wider loads such as an int load.

However, the current implementation is flaky and the matching is strict to the point where it is difficult to ever find a matching pattern.

The optimization should be improved to expand the possible pa

[2020-11-23 23:25] pshipton opened #11252 "Using -Xlp:objectheap:pagesize=2m on Mac hangs"
Mac adds a 2M pagesize into the supported sizes table. It doesn't show up in `-verbose:sizes`, but that is a different problem we can get into later if necessary. If `-Xlp:objectheap:pagesize=2m` is specified on the command line, either java startup hangs, or takes a really long time, at least on the OpenJ9 machines I tried. ~I put some debugging into the port library and found there is a request

[2020-11-23 23:25] pshipton commented on #11252
@dmitripivkine

[2020-11-24 01:14] pshipton commented on #11252
The search is being done top down, it starts requesting memory at the endAddress, which fails, and then works down page by page from there. Nothing can be allocated, so eventually it would fail after a long time.

I'll submit a fix to OMR.

[2020-11-24 01:14] #11252 closed

[2020-11-24 01:42] #11244 closed

[2020-11-24 01:42] pshipton commented on #11252
https://github.com/eclipse/omr/pull/5687

[2020-11-24 01:45] pshipton commented on #11222
I didn't find there is an obvious problem that can be attributed to cmake, closing this again.

[2020-11-24 01:45] #11222 closed

[2020-11-24 03:18] mpirvu commented on #11175
@dmitry-ten This is the item I mentioned to you in our meeting. I am leaning towards solution (2) from above.
The key routines are the ones that activate new compilation threads or suspend compilation threads at the client.
`TR_YesNoMaybe TR::CompilationInfo::shouldActivateNewCompThread()`

[code]

[2020-11-24 04:21] pshipton commented on #9416
https://ci.eclipse.org/openj9/job/Build_JDK15_ppc64_aix_Nightly/118
[code]

[2020-11-24 09:15] andrew-m-leonard commented on #9416
New occurrence: https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-ppc64le-openj9-linuxXL/413/console
[code]

[2020-11-24 12:52] JasonFengJ9 opened #11255 "JDK16 missing NativeMethodHandle methods"
Failure link
------------

From an internal `JDK16` staging branch build `Build_JDKnext_x86-64_linux_Personal/690`.

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-11-24 12:53] JasonFengJ9 commented on #11255
fyi @tajila @babsingh

[2020-11-24 13:16] JasonFengJ9 opened #11256 "JDK16 InternalError: Compile stub invoked! at java.base/java.lang.invoke.VarHandle.withInvokeBehavior(VarHandle.java:1675)"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.openjdk_ppc64_aix_Nightly/278`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
00:54:12  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=ppc64_aix&TARGET=jd

[2020-11-24 13:31] gleromsourd commented on #8724
I confirm problem is fixed with latest version of OpenJ9

[2020-11-24 13:40] DanHeidinga commented on #11256
fyi @babsingh

[2020-11-24 14:25] JasonFengJ9 opened #11257 "JDK8 MauveMultiThreadLoadTest_special_1_FAILED - Mauve[gnu.testlet.javax.print.attribute.EnumSyntax.serialize"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_s390x_linux_xl_Nightly/555`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
01:02:10  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=system/mauveLoadTest&PLATFORM=s390x

[2020-11-24 14:31] JasonFengJ9 opened #11258 "JDK11 JITServer DaaLoadTest_all_special_17_FAILED - Type=Segmentation error vmState=0x0005ffff"
Failure link
------------

From an internal build `Test_openjdk11_j9_special.system_x86-64_linux_jit_Nightly/565`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
04:07:46  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=system/daaLoadTest&PLATFORM=x86

[2020-11-24 14:51] pshipton commented on #11021
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly/547 - win2012-x86-6
TestJlmRemoteClassNoAuth_0
`Could not terminate process PID=6584: Access is denied.`

[2020-11-24 14:55] pshipton commented on #11206
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_ppc64_aix_Nightly/111
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_ppc64le_linux_Nightly/111
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_s390x_linux_Nightly/113
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_x86-64_linux_Nightly/107
https://ci.eclipse.org/openj9/job/Test_

[2020-11-24 14:56] pshipton commented on #10256
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_s390x_linux_Nightly/113

[2020-11-24 15:02] JasonFengJ9 commented on #11206
@pshipton I am actively working on this, the NPE was due to Throwable object invokes `NullPointerException.fillInStackTrace` while the `NullPointerException` object hasn't been initialized. The test can be excluded before a fix is merged.

[2020-11-24 15:17] IBMJimmyk commented on #11040
I am currently looking at this issue and trying to reproduce the problem locally.

[2020-11-24 15:20] pshipton commented on #11258
@mpirvu

[2020-11-24 15:21] pshipton commented on #11255
Disabled the jdk 16 acceptance build until this can be resolved.

[2020-11-24 15:24] #11257 closed

[2020-11-24 15:32] dnakamura commented on #7995
Should be a fairly simple change, however IIRC specifying `-rdynamic` does have performance implications, although I don't recall if they were significant or not

[2020-11-24 15:36] ninja- commented on #7995
@dnakamura based on this https://stackoverflow.com/a/12636790 I think we should be fine. btw, do you have any idea how the `prelink` tool mentioned there could play along with JVM build? probably wouldn't work?

[2020-11-24 15:57] aviansie-ben commented on #11248
After investigation, I found that this is being caused by an issue with the local register allocator choosing the same register for the index register and source register of a store with a delayed indexed form memory reference (eclipse/omr#5684). Using delayed indexed form is required when performing reverse loads/stores to stack slots, so this issue was already present before the PR to enable `re

[2020-11-24 16:14] tajila commented on #11255
@babsingh can you stub this?

[2020-11-24 16:15] babsingh commented on #11255
yes, preparing the change.

[2020-11-24 16:15] JasonFengJ9 commented on #11206
Opened https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/380 to exclude `Mauve[gnu.testlet.java.lang.NullPointerException.constructor]`.

[2020-11-24 16:27] tajila opened #11260 "Panama: Implement LibraryLookup natives"
We need to implement the following natives. We will need to test the RI to match the exact required behaviour.

More info can be found here, https://github.com/openjdk/panama-foreign/blob/d0e35dea8f77de9729972ba6ebd84d46f3807e3d/doc/panama_ffi.md

[code]

We will have to interact with this class:

[code]

Some of this may already be functional as part of the JDK15 `jdk.internal.loader.NativeLibrar

[2020-11-24 16:39] pshipton commented on #9416
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_OMR/772
[code]

[2020-11-24 16:39] gacholio commented on #11260
@JasonFengJ9

[2020-11-24 16:41] liqunl commented on #10618
FYI @0xdaryl

[2020-11-24 16:47] JasonFengJ9 commented on #11260
private static native boolean load(NativeLibraryImpl impl, String name, boolean isBuiltin, boolean isJNI);
    private static native void unload(String name, boolean isBuiltin, boolean isJNI, long handle);
    private static native String findBuiltinLib(String name);
    private static native long findEntry0(NativeLibraryImpl lib, String name);
    private static native long findEntryInProcess(Str

[2020-11-24 17:43] fjeremic commented on #11248
@aviansie-ben do we want to contribute #11114 back again after promotion so we can close off this issue, since the RA problem will need to get fixed in OMR?

[2020-11-24 18:13] dchopra001 opened #11263 "Eliminate vm.heapBaseAddress()"
Should we remove this routine as it always returns 0?
https://github.com/eclipse/openj9/blob/8c76311cdcccaa6def680d362df418eca6ae9325/runtime/compiler/env/J9VMEnv.cpp#L65-L69

Note that if we plan to support non-zero based heap in the future, then we cannot remove this routine.

If we do decide to go ahead with this work, we will also have to remove all resulting dead code associated with this rou

[2020-11-24 18:36] dmitripivkine commented on #11263
Do I understand correctly this feature supports Compressed Refs heap operations with non-zero heap base (like 0-bit shift heap can be located for example at [4G,8G] with base address 4G)?

[2020-11-24 18:49] tajila commented on #11260
@JasonFengJ9 Do we already have an implementation for `JVM_FindLibraryEntry` and `JVM_IsSupportedJNIVersion`? I think these are the new natives.

[2020-11-24 18:50] aviansie-ben commented on #11248
Yes, that's probably our best way forward here. Looks like there's an OMR acceptance build going right now with that change in it. If/when that passes, I'll open a new PR to get those changes in again.

[2020-11-24 19:02] JasonFengJ9 commented on #11260
@tajila yes, we already have these two JVM_ methods as following:
https://github.com/eclipse/openj9/blob/8c76311cdcccaa6def680d362df418eca6ae9325/runtime/j9vm/jvm.c#L3708-L3709
https://github.com/eclipse/openj9/blob/8c76311cdcccaa6def680d362df418eca6ae9325/runtime/j9vm/j7vmi.c#L1657-L1658

[2020-11-24 19:33] tajila commented on #11260
Ill leave this PR open until we have verified that the existing natives support the new functionality introduced in jdk16

[2020-11-24 20:02] hangshao0 commented on #11243
There seems to be more than one issue here. I tried adding the error message using `setCurrentExceptionNLSWithArgs()`, but the error message still does not show up. Looks like something is wrong with `setCurrentExceptionNLSWithArgs()`.

[2020-11-24 20:39] renfeiw commented on #6361
TKG is running Java to generate make targets only. To determine test passed or failed, we use shell to check the return code of the test command: https://github.com/AdoptOpenJDK/TKG/blob/master/settings.mk#L198

[2020-11-24 20:51] r30shah opened #11265 "Fences for Volatile Field Stores"
On Z, I am porting change from @fjeremic  for to put fences for volatile field stores. (https://github.com/eclipse/openj9/pull/11262), where most of the write barrier nodes and store nodes goes through the `xstoreVolatileHelper` [1] which will generate a fence for volatile fields.
We would have write barrier under ArrayStoreCHK node [2] as well and we do not generate fence for volatiles under that

[2020-11-24 20:51] r30shah opened #11266 "Fences for Volatile Field Stores"
On Z, I am porting change from @fjeremic  for to put fences for volatile field stores. (https://github.com/eclipse/openj9/pull/11262), where most of the write barrier nodes and store nodes goes through the `xstoreVolatileHelper` [1] which will generate a fence for volatile fields.
We would have write barrier under ArrayStoreCHK node [2] as well and we do not generate fence for volatiles under that

[2020-11-24 20:53] r30shah commented on #11266
FYI @fjeremic  @aviansie-ben

@DanHeidinga  @pshipton  Wanted to know the java behaviour around volatile arrays, if you can shed some lights it will be really useful

[2020-11-24 21:14] LongyuZhang opened #11268 "jdk_security4 test failed with credential exception because server returned HTTP response code 401"
Failure link
------------
Grinder Link: Internal_Grinder/12223
Similar to issue eclipse/openj9#2990

Test Category: extended.openjdk
JDK Version: 11 and 8
JDK Impl: openj9
OS: xlinux, mac, and maybe others
Jdk11 Failure Output (Internal_Grinder/12223):
[code]
JDK8 Failure output (Internal_Grinder/12185):
[code]

[2020-11-24 21:35] JasonFengJ9 commented on #11268
Will look into this a bit later.

Related https://github.com/eclipse/openj9/issues/2990

[2020-11-24 21:40] babsingh opened #11269 "Delete code surrounded by opt_panama and Panama flags"
`opt_panama`: `J9VM_OPT_PANAMA` surrounds the native code
`Panama`: JCL flag surrounds the Java code

The above flags highlight OpenJ9's implementation for the `NativeMethodHandle` and `Foreign Linker API` (JEP389).

The above OpenJ9 implementation can be deleted since it will be superseded by the OpenJDK implementation.

The `MHInterpreter` code can be retained since it can be repurposed.

[2020-11-24 21:41] babsingh commented on #11269
fyi @tajila

[2020-11-24 21:44] babsingh commented on #11269
https://github.com/eclipse/openj9/pull/11267#issuecomment-733239213:

I tried to turn-on the `opt_panama` and `Panama` (JCL) flags in order to enable the OpenJ9 `NativeMethodHandle` support. But, I ended up facing many issues:
1. `jdk.internal.nicl` and `java.nicl` packages no longer exist in JDK16. Finding their new equivalent representation will take some time.
2. `MethodHandles` class no longer

[2020-11-25 02:08] gatoborrachon opened #11271 "Incompatibilities with Minecraft 1.12 Mod "Valkyrien Skies""
jdk-8.0.275.1-openj9
--------------------
[Valkyrien Skies](https://www.curseforge.com/minecraft/mc-mods/valkyrien-skies) does not support OpenJ9 because "it apparently has issues with type inference with CQEngine"
------------------
when i try to load Minecraft 1.12 with the mod Valkyrien Skies i get this [crash](https://pastebin.com/GJJYpZsP), looking for info in the discord server of the mod i

[2020-11-25 03:32] liqunl commented on #11179
The core dump from https://github.com/eclipse/openj9/issues/11179#issuecomment-731391177 is a crash in different method failed in the same way.
`{com/sun/tools/javac/parser/JavacParser.merge(Lcom/sun/tools/javac/util/ListBuffer;Lcom/sun/tools/javac/util/ListBuffer;)Z}`

@Thihup I notice that you changed to use nightly build, can you switch back to the original build? And try `-Xjit:{com/sun/tools/

[2020-11-25 03:52] pshipton commented on #11271
@babsingh @tajila fyi

[2020-11-25 04:57] pshipton commented on #6361
I notice the cmdline tester for cmdLineTester_locales is already running with -Xint.

The cmdline tester code is doing the following. There is no explicit exit with a zero error code for success.
https://github.com/eclipse/openj9/blob/master/test/functional/cmdline_options_tester/src/MainTester.java#L111

As far as I can tell from the code, after invoking the main method the return code is set to

[2020-11-25 13:36] sirinath opened #11272 "Support OpenJDK/OracleJDK Compiler Directive"
Please support [OpenJDK/OracleJDK Compiler Directive](https://docs.oracle.com/en/java/javase/15/vm/compiler-control1.html) file format and options.

[2020-11-25 13:45] pshipton commented on #11021
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.system_x86-64_windows_Nightly/115
TestJlmRemoteMemoryNoAuth_0
`Could not terminate process PID=3052: Access is denied.`

[2020-11-25 13:45] pshipton commented on #11179
@liqunl added dumps_jvm.zip to the Box folder.

[2020-11-25 13:52] pshipton commented on #6361
The JVM is here https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_x86-64_mac_Personal/597/OpenJ9-JDK8-x86-64_mac-20201125-021416.tar.gz

It prints output to stderr like `return code 0`.  Trying a grinder https://ci.eclipse.org/openj9/view/Test/job/Grinder/1202/

[2020-11-25 14:51] lumpfish commented on #11021
The instance in previous comment was running on  win2012-x86-4.  Do these win2012-x86-n machines have anything in common (e.g. same hardware).   Are there other Windows variants (i.e. not 2012) on which this is not being seen?

[2020-11-25 15:09] pshipton commented on #6361
The runs which passed are printing `return code 0` but the failures don't print anything. It seems the JVM is exiting in a different way, I'll have to figure out what other exit paths are possible.

[2020-11-25 15:46] pshipton commented on #11021
All the OpenJ9 Windows machines are the same. They are all virtual, and I think they are all clones of each other. @jdekonin can provide more details if necessary.

[2020-11-25 15:53] fjeremic commented on #11263
I believe the feature being talked about here predates my time, but it was the shift + offset calculation for compressedrefs that we used to have way back in the day (10 years ago?). Perhaps someone more knowledgable can chime in here. Tagging @0xdaryl and perhaps @vijaysun-omr for some historical context.

Looking back into git history + CMVC this value has been 0 for as long back as I can look.

[2020-11-25 15:58] pshipton commented on #11272
This seems unlikely to ever happen. @mpirvu @fjeremic for comment.

[2020-11-25 16:10] tajila commented on #11271
The stack trace looks suspicious

[code]

The zeroes in `Lambda$2603/000000000000000000` makes me suspect that we didnt build that romClass properly.

[2020-11-25 16:11] tajila commented on #11271
@gatoborrachon Would you be able to re-run the application with `-Xshare:off`, I'm hoping this can rule out some possibilities.

[2020-11-25 16:16] dnakamura commented on #7995
I'll run some perf tests with the changes.

[2020-11-25 16:17] liqunl commented on #7699
We're still looking at this perf issue. For the comments from https://github.com/eclipse/openj9/issues/7699#issuecomment-552521611, Andrew suspect OpenJDK is not using volatile field in their implementation of Reference classes, which may cause a perf difference. However, OpenJ9 treat the volatile field like a non-volatile field here
https://github.com/eclipse/openj9/blob/fea3bfb3c0fadfe5b70399488

[2020-11-25 16:17] #11255 closed

[2020-11-25 16:22] fjeremic commented on #11272
The OpenJ9 compiler directives are not publicly exposed, i.e. in that you won't find them on our [documentation website](https://www.eclipse.org/openj9/docs/), and for good reason. The JIT should be rather transparent to the end user, and oftentimes adding JIT control options will have negative effects in terms of performance. For example in your link controlling inlining of specific methods can q

[2020-11-25 16:22] tajila commented on #11024
Low priority moving to 0.25

[2020-11-25 16:26] jdekonin commented on #11021
All virtual, all clones, created on IBM Cloud.  They are not very current with Adopt playbooks changes, but I can see this failure mode on my internal Windows 2016 machines/builds as well and they are current (up to about 2 weeks ago).

With the internal machines/builds, I also see sanity.system passing on the same machine that had failed the previous nights build which would seem to indicate is i

[2020-11-25 16:29] gatoborrachon commented on #11271
hi, using these arguments:
`-Xms256M -Xmx4G -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -Xshare:off`
i get the same [crash](https://pastebin.com/MyLAhZtD) again, also if there is something that the source code of that mod can tell you, this is the [first line](https://github.com/ValkyrienSkies/Valkyrien-Skies/blob/212752eeadb53d4dd336030c140e28fd4979fa78/src/main/java/org/valkyrienskies/mod/common/

[2020-11-25 16:30] sirinath commented on #11272
There a quite a few projects in high-performance java and finance with use this functionality extensively.

The objective is to cut down the warm-up time of JVM before going live.

[2020-11-25 16:34] tajila commented on #11271
Okay so with `-Xshare:off` the failure is

[code]

And with `Xshare:on` it is

[code]

[2020-11-25 16:36] sirinath commented on #11272
Ideally, this data file can be generated in 2 ways using profile guided optimisation:
- by profiling library
- by the JVM running under a flag
- or mix of both

[2020-11-25 16:37] gatoborrachon commented on #11271
yeah, i used `-Xshare:on` too and it gives `Lambda$2603/000000000000000000` again

[2020-11-25 16:37] babsingh commented on #11256
This is a JDK16 failure. We plan to enable OpenJDK VarHandles for JDK16. Planning to address this issue by transitioning to OpenJDK VarHandles.

[2020-11-25 16:37] pshipton opened #11273 "JEP 397 Sealed Classes (Second Preview)"
See https://openjdk.java.net/jeps/397

[2020-11-25 16:37] pshipton commented on #11273
@tajila

[2020-11-25 16:40] babsingh commented on #11256
This issue should be tracked with the `project:MH` tag.

[2020-11-25 16:43] Thihup opened #11274 "JPMS IllegalAccessError"
Java -version output
--------------------
openjdk version "15.0.1" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.1+9)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.23.0, JRE 15 Linux amd64-64-Bit Compressed References 20201022_81 (JIT enabled, AOT enabled)
OpenJ9   - 0394ef754
OMR      - 582366ae5
JCL      - ad583de3b5 based on jdk-15.0.1+9)

openjdk version "15.0.1" 2020-10-20

[2020-11-25 16:46] fjeremic commented on #11265
Duplicate of eclipse/openj9#11266.

[2020-11-25 16:46] #11265 closed

[2020-11-25 16:46] RSalman commented on #11237
I’m in favour of removing `concurrent-collection-end` as it doesn’t give any useful info. Exclusive is released right after reporting this, the exclusive stanza is sufficient for knowing the order of events. I also think `concurrent-collection-start` can be collapsed, the only concern here is the stanza can get fairly long with all the attributes on the same line, especially with “reason” string

[2020-11-25 16:49] RSalman commented on #11237
I also think element name `concurrent-collection-start` is misleading, it hints at "concurrent" phase, whereas it's a STW

[2020-11-25 16:53] fjeremic commented on #11272
The data file in particular is not something we have at the moment, but the functionality can be replicated via command line options. For example:

To control inlining of method A into method B:

[code]

To control the optimization level for all methods in java/lang package to cold:

[code]

[2020-11-25 16:56] sirinath commented on #11272
Great! Hence can the same file format be supported so it can be shared between JVM implementation?

[2020-11-25 16:58] fjeremic commented on #11272
@dsouzai @mpirvu thoughts? Could be an intern type item.

[2020-11-25 16:59] Thihup commented on #11274
It says that the cloud.piranha.http.nano modules doesn't read the cloud.piranha.http.webapp, however this dependency is explicit here: https://github.com/piranhacloud/piranha/blob/master/http/nano/src/main/java/module-info.java#L37

[2020-11-25 17:08] amicic commented on #11237
Good point about the long name. we could leave it as a multi-liner.

As for the rename of concurrent-collection-start, I'm struggling a bit, but how about concurrent-final, or better concurrent-mark-final (since we may have concurrent scavenge as well)?

[2020-11-25 17:31] tajila commented on #11273
https://mail.openjdk.java.net/pipermail/amber-spec-experts/2020-May/002161.html

[2020-11-25 17:35] tajila commented on #11273
Latest specs:
http://cr.openjdk.java.net/~gbierman/jep397/jep397-20201104/specs/sealed-classes-jls.html
http://cr.openjdk.java.net/~gbierman/jep397/jep397-20201104/specs/sealed-classes-jvms.html

[2020-11-25 17:38] mpirvu commented on #11272
Even if we provide the same file 'format' the content will be different due to the different JVM technology. For instance in the link provided I see references to C1 and C2 compilers. These translate very roughly to our cold and warm optimization levels, but are not the same.  What I am trying to say is that porting such a file from a HotSpot to OpenJ9 and expecting similar results is not realisti

[2020-11-25 18:05] dsouzai commented on #11209
For AOT, all calls go through the interpreter dispatch snippet. However, we'll still need to materialize the J9Method, so I guess we will need a new relocation record to get the J9Method from the MH or the side table. I guess we'd need something similar if the generated methods are inlined.

I believe this can be addressed by validating the class chain of the class of the patched object followed b

[2020-11-25 18:46] mnalam-p commented on #11192
I tried running in grinder and test locally, I am not able to reproduce the issue with same jdk build (openj9/omr/jcl hash). Any suggestion on what should I try else?

[2020-11-25 18:58] tajila commented on #11273
I think these changes will be merged sometime next week.

[2020-11-25 18:59] pshipton commented on #11192
Trying another grinder on the OpenJ9 machines, using the latest build.
https://ci.eclipse.org/openj9/job/Grinder/1205/

[2020-11-25 19:13] pshipton commented on #11274
@tajila fyi

[2020-11-25 19:14] tajila opened #11277 "Panana: jextract requires libclang 9.0.0"
[code]

If we are to build tests that make use of jextract we will need libclang installed on those machines.

[2020-11-25 19:19] tajila opened #11278 "Panama: name conflict with IBM jextract and OpenJDK jextract"
As part of project Panama, Oracle will be releasing an application called jextract

[code]

IBM JDKs have an application called jextract:

[code]

[2020-11-25 19:21] tajila commented on #11274
@JasonFengJ9 can you please take a look at this

[2020-11-25 19:25] tajila commented on #11278
This might be released in the JDK17 timeframe

[2020-11-25 19:26] tajila commented on #11277
Openjdk jextract may be released in the JDK17 timeframe

[2020-11-25 19:26] tajila commented on #11277
@jdekonin FYI. No urgency at the moment. I will update this PR if that changes.

[2020-11-25 20:01] tajila commented on #11273
@ChengJin01 Can you please take a look at this

[2020-11-25 20:04] llxia commented on #9231
As suggested by @pshipton , we will update NoOptions to Mode110 and Mode610 in [system tests ](https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/system/) to cover all cases in mixedref SDK. (Remove the duplicates if it is in special.system)

[2020-11-25 20:11] JasonFengJ9 commented on #11274
Sure, will pick up this.

[2020-11-25 20:12] pshipton commented on #11192
@mnalam-p the grinder isn't done, but there are still failures https://ci.eclipse.org/openj9/job/Grinder_iteration_2/20/

[2020-11-25 20:24] llxia commented on #9231
As discussed with @renfeiw , list of items that we need to update:

- [ ] update ottawa.csv (see above) - we will start with `linux_x86-64_mxdptrs`
- [ ] auto-detection: temporarily support mixedref in spec detect
- [ ] platform map:

- in Jenkins script: https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/openjdk_tests#L3
- in TKG

- [ ] platformRequirements in playlist.xml

[2020-11-25 20:40] Leonardo2718 commented on #9416
I'm in the process of trying to reproduce this myself. While that's happening, I figured we might as well try adding the extra info to the assert message, so I've opened #11279.

[2020-11-25 21:37] RSalman commented on #11237
I think the name should have `global` in it, so I like `conurrent-global-final`. It shows a relationship to cycle-strat/cycle-end stanza:
- `<cycle-start id="797" type="global"`
- `<cycle-end id="810" type="global"`

[2020-11-25 21:39] RSalman commented on #11237
We don't mention "mark" in any concurrent stanzas (e.g concurrent-kickoff), so I'm not for `concurrent-mark-final`. I think it's best to leave it out.

[2020-11-25 22:05] pshipton commented on #11192
btw, I suggested to Nazmul he try grinding using `NodesByIterations` and NUM_MACHINES to get coverage across a number of machines in order to recreate it.

[2020-11-25 22:09] pshipton commented on #6361
I think I've tracked it to runExitStages() as called from protectedDestroyJavaVM(), exiting with 255 or -1. I'm attempting to recreate the problem with `-verbose:init` to track it further, but so far there haven't been any failures with `-verbose:init`.

[2020-11-26 03:18] pshipton commented on #6361
I had to add prints instead of using `-verbose:init`. Not sure why the failures don't occur with `-verbose:init`, but it's probably a timing thing. Seems to be failing in the j9shr component. I'm guessing one of the asserts is failing, but the trace engine is already shut down so there are no messages. Will trace it further.

[2020-11-26 03:42] #11243 closed

[2020-11-26 05:15] knn-k commented on #11164
"Porting Just-In-Time Compilers to Apple Silicon"
https://developer.apple.com/documentation/apple_silicon/porting_just-in-time_compilers_to_apple_silicon

[2020-11-26 06:36] sirinath commented on #11272
Maybe the starting point would b to try to create a studentized portable version of the format working with the OpenJDK team.

Any command line should ideally not disable any optimisation unless it is an explicit switch parameter to turn it on or off.

While profiling information is collected it can be optimised. Also, there can be an option to save profiling information and internal metadata to b

[2020-11-26 10:36] lumpfish commented on #11021
I've managed to reproduce this locally on a Windows 10 laptop. The Stop-Process command only gets the 'Access is denied' response occasionally.  There are suggestions that it will occur if at the time of issuing the command the process happens to be performing certain operations - e.g. https://superuser.com/questions/585073/how-to-overcome-access-denied-when-killing-process-in-windows.  I'll see i

[2020-11-26 12:39] MelHopper commented on #11237
Hi both, adding in from a user experience perspective...(@RSalman FYI I'm currently writing the OpenJ9 topic on verbose GC logs)

Are we able to use tag names for concurrent STW events that mean the user can immediately know what STW event is being referred to, without having to trawl through documentation? e.g. It is not obvious to a user that, when looking at the logs, the information being repo

[2020-11-26 12:50] MelHopper commented on #11237
The other question I had which users could find confusing: why is it that the <exclusive-start> tag sometimes precedes the <concurrent...> tag, and other times follows the <concurrent...> tag? Is there a reason for this?

[2020-11-26 13:25] pshipton commented on #11021
There is another failure in the builds, but I'll stop reporting them as a fix is in progress.

[2020-11-26 13:28] pshipton commented on #11192
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/1843

As this is being investigated and is known to fail frequently in grinders, I'll stop reporting each failure in the nighty builds.

[2020-11-26 13:39] pshipton opened #11282 "OOM Java heap space JLM_Tests_interface_1 TestNG.generateReports"
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_ppc64le_linux_xl_OpenJDK_testList_1/88/
JLM_Tests_interface_1
"java/lang/OutOfMemoryError" "Java heap space"
Diagnostics https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdknext_j9_sanity.functional_ppc64le_linux_xl_OpenJDK_testList_1/88/functional_test_output.tar.gz
[code]
[code]
[code]

[2020-11-26 13:39] pshipton commented on #11282
@dmitripivkine I don't understand why this OOM occurred.

[2020-11-26 13:41] RSalman commented on #11237
This is true, a certain amount of background knowledge is assumed. Anything between <exclusive..> tags is an STW event, it's assumed that the user knows this.

I would say that it's not a straight forward search for "concurrent", it depends on what the user is looking for. A concurrent tag can show up in STW event.

**Just some background info to clarify**
To better understand the logs, we should

[2020-11-26 13:44] pshipton commented on #8173
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_ppc64le_linux_xl_OpenJDK_testList_1/88/
Diagnostics https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDKnext_x86-64_mac_OpenJDK/339/Build_JDKnext_x86-64_mac_OpenJDK-339-20201126-003927-diagnostics.tar.gz
[code]
`Detail "java/lang/ClassCastException" "java.lang.String incompatible with java.nio.f

[2020-11-26 13:47] RSalman commented on #11237
@amicic could answer this better. Perhaps a call would be better to go over this and some of the other points you've mentioned.

[2020-11-26 13:53] RSalman commented on #11237
Not sure if I understand the question, which tag are we referring to?

[2020-11-26 14:21] #11127 closed

[2020-11-26 14:28] MelHopper commented on #11237
My bad Salman, I was referring to the <exclusive-start> tag sometimes preceding a <concurrent...> tag, and other times following a <concurrent...> tag.

[2020-11-26 14:42] llxia commented on #11105
As discussed, for system tests, we will change
Mode140 (-Xgcpolicy:optthruput -Xshareclasses -Xjit -Xnocompressedrefs)
to
Mode145 (-Xgcpolicy:gencon -Xshareclasses -Xjit -Xnocompressedrefs )

Add a new Mode645 (-Xcompressedrefs -Xgcpolicy:gencon -Xshareclasses -Xjit) in the modes.xml and ottawa.csv. Also, run this mode in system tests.

[2020-11-26 15:02] aviansie-ben commented on #11248
Resubmitted the `reverseBytes` change as #11284

[2020-11-26 15:28] pshipton commented on #6361
The following assert is failing, which seems to be timing related. I expect it's invalid to access the variable outside of holding the mutex, as the value can be modified by other threads. The assert isn't providing any value considering the tracepoint engine is already disabled. I'll open a PR to remove it. I'm checking if any subsequent asserts fail as well.

https://github.com/eclipse/openj9/bl

[2020-11-26 15:57] lumpfish commented on #10638
Here is some investigation running on a local Windows 10 laptop.
Builds used were:
openj9 compressed refs:
[code]
openj9 non-compressed refs:
[code]
hotspot:
[code]
The LambdaLoadtest runs these junit tests on `#cpus - 2` (minimum 2) threads:
[code]
If only one of the tests is included in the inventory then the test passes with 100Mb heap except for the net.adoptopenjdk.test.streams.TestParallelSt

[2020-11-26 16:12] lumpfish commented on #10638
BTW, the LambdaLoadTests are not currently running as they should due to https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/379 - the test run time is deemed to have expired as soon as the workload starts.  But since this issue shows up with just two instances of the offending test case running it is still seen anyway (but there may be some test runs which 'complete' before two instances of

[2020-11-26 18:23] #11206 closed

[2020-11-26 18:27] dmitripivkine commented on #10638
Is it possible to get GC verbose log for this case? I think it might be inefficient Excessive GC detection situation

[2020-11-26 18:45] dmitripivkine commented on #11282
`-Xsoftmx` is set at ~8M:
[code]
So even reserved heap size is ~2G heap can not be expanded:
[code]

[2020-11-26 18:56] dmitripivkine commented on #11282
The OOM is thrown at the very end of `JLM_Tests_interface_1` testing while summary report is preparing. My guess one of the tests in the bundle set `-Xsoftmx` but never recover after

[2020-11-26 19:11] tajila commented on #11271
@gatoborrachon I made a simple test app to reproduce the issue:

[code]

run with

[code]

I got a failure with both hotspot (openjdk version "1.8.0_275")  and openj9.

Which version of hotspot did you use to get it to work?

Also, can you confirm that I am using the correct dependency versions (cqengine v3.5, typetools v0.4.2)

[2020-11-26 19:25] pshipton commented on #6361
Created https://github.com/eclipse/openj9/pull/11285

[2020-11-26 19:39] 0xdaryl commented on #11263
It has been about 15 years and I don't remember all the history behind this but I do recall that a non-zero heap base was experimented with early on as a possible solution.  At some point we decided that HB 0 was the best implementation but left the logic in place to resurrect it if necessary.

I believe the decision to go with HB0 was driven by performance (or more importantly, it was the approac

[2020-11-26 19:48] pshipton commented on #11282
Ok. I've never seen this one before. Will monitor to see if it occurs again. Unless it's related to some recent change, it may just be some highly intermittent problem with the test.

[2020-11-26 20:22] sharon-wang commented on #11174
Thanks @dnakamura for the additional insight, from a review comment in #11166:

The comment `/* We need certain defines... this is a big hack until we can do this another way.*/ ` is copied over from [j9lib.h.ftl](https://github.com/eclipse/openj9/blob/master/runtime/include/j9lib.h.ftl). It seems there may be some UMA limitation, where targets don't get picked up as part of:
[code]

It should be

[2020-11-26 20:29] ChengJin01 commented on #11273
I went through all these Specs mentioned above against the JEP360 related Specs at
https://openjdk.java.net/jeps/360: JEP 360: Sealed Classes (Preview)
http://cr.openjdk.java.net/~dlsmith/jep360/jep360-20200421/specs/sealed-types-jls.html
http://cr.openjdk.java.net/~dlsmith/jep360/jep360-20200421/specs/sealed-types-jvms.html

It seems the only updated descriptions related to Sealed Classes to be a

[2020-11-26 20:37] dmitripivkine commented on #11263
Thank you. At GC side we are considering possibility to investigate using of non zero heap base (better reliability due elimination of possible collisions with loaded DLLs, no need to set special system page size on OSX to simplify building process of Java based tools etc.). However performance impact is unknown.
I guess because this JIT feature has not been used for very long time (and never in p

[2020-11-26 20:43] smlambert opened #11286 "cmdLineTester_classesdbgddrext_aix needs to be tagged as impl=openj9"
Currently, the test target 'cmdLineTester_classesdbgddrext_aix' is being included in the set that are run against a hotspot implementation.  This is an error in the [playlist](https://github.com/eclipse/openj9/blob/master/test/functional/cmdLineTests/classesdbgddrext/playlist.xml#L80-L103) file which needs to be updated to add and [impls block](https://github.com/eclipse/openj9/blob/master/test/fu

[2020-11-26 21:05] mpirvu commented on #7724
Fixed by #11233

[2020-11-26 21:05] #7724 closed

[2020-11-26 21:09] amicic commented on #11237
Indeed, some inconstancy can be observed when reporting STW and concurrent phases of a cycle
- we don't ever mention STW acronym and we do mention concurrent word or
- concurrent phases may be reported differently in different type of GC policies or cycle types.

As Salman already said, STW event can be found from exclusive-start/end. And yes, we must assume some general GC background knowledge an

[2020-11-26 21:28] #6361 closed

[2020-11-26 21:54] gatoborrachon commented on #11271
i used jre-8u271-windows-x64, not openjdk

the version used by Valkyrien Skies is 3.4 according to the dependencies in `build.gradlew`
https://github.com/ValkyrienSkies/Valkyrien-Skies/blob/212752eeadb53d4dd336030c140e28fd4979fa78/build.gradle#L45

[2020-11-26 22:07] vijaysun-omr commented on #11263
Yes the non zero heap base was superseded by the shift based solution we have in place relatively early on since it provides a much larger heap threshold for when compressed refs can be used than simply a displacement based scheme would have. I agree with Dmitri and Daryl that it can probably be deleted if we wanted to.

[2020-11-26 22:47] dmitripivkine commented on #11282
There are not so many tests in this `JLM_Tests_interface_1` bundle. This tests can be inspected. I think if one of tests left bogus -Xsoftmx value it should be fixed by restoring maximum heap size at the exit

[2020-11-27 12:55] JasonFengJ9 opened #11291 "MathLoadTest - Selected VM [default] by option -Xnocompressedrefs does not exist"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/1739`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-11-27 13:01] andrew-m-leonard opened #11292 "jdk11 intermittent Segmentation fault: 11"
We are intermittently seeing a Segmentation fault: 11
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9-macosXL/771/consoleFull
[code]

No further details...

[2020-11-27 13:06] andrew-m-leonard commented on #11292
jdk15 also: https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-mac-x64-openj9-macosXL/119/console

[2020-11-27 13:06] pshipton commented on #11291
@llxia all the _9 Mode145 special.system variations are failing on AIX, plinux, zlinux, as it's running them on the non-compressedrefs JVMs.

See https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All-11/378/

variation: Mode145
JVM_OPTIONS:  -Xgcpolicy:gencon -Xshareclasses -Xjit -Xnocompressedrefs

[2020-11-27 13:20] pshipton opened #11293 "jvmnativestest_0 nanotime is not similar to millitime"
Machine problem?

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_s390x_linux_Nightly/560
jvmnativestest_0
ub18-390-2
[code]

[2020-11-27 13:25] pshipton commented on #11291
For JDK8, xlinux, mac, windows failed as well.

https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All/1104/

[2020-11-27 13:41] pshipton commented on #9651
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_xl_Nightly/227
java/lang/ref/FinalizeOverride.java
Timeout
[code]

I guess we never excluded the test on jdk8 (https://github.com/AdoptOpenJDK/openjdk-tests/pull/1845), but it hasn't been failing until now.

Just in case, changes since last nightly build
https://github.com/eclipse/openj9/compare/d615676...2f4ea25

[2020-11-27 13:45] pshipton commented on #11291
Ah, I guess Mode145 is failing everywhere the special.system testing is run, but we only run a subset due to machine resources.

[2020-11-27 14:00] pshipton commented on #11292
First occurrence for jdk15 https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-mac-x64-openj9-macosXL/116
build-macstadium-macos1014-x64-2
[2020-11-25T03:50:26.689Z]   Source version info:
[2020-11-25T03:50:26.689Z]     openjdk - d3b60198f1
[2020-11-25T03:50:26.689Z]     openj9  - 8c76311cd
[2020-11-25T03:50:26.689Z]     omr     - 720d59d81

Previous

[2020-11-27 14:01] pshipton commented on #11292
All the `Segmentation fault: 11` occur on the same machine build-macstadium-macos1014-x64-2

[2020-11-27 14:11] pshipton commented on #11292
@tajila fyi

[2020-11-27 14:18] pshipton commented on #11292
@JasonFengJ9 have you seen anything like this in internal builds? I haven't see it occur in the OpenJ9 public builds.

[2020-11-27 14:32] llxia commented on #11291
We are missing Mode145 in [ottawa.csv ](https://github.com/AdoptOpenJDK/TKG/blob/master/resources/ottawa.csv) as a result it runs on all platforms.

[2020-11-27 14:47] JasonFengJ9 commented on #11274
The actual cause of `IllegalAccessError` was `checkVisibility()` failed for `cloud/piranha/http/nano/NanoHttpServerProcessor` reading `cloud/piranha/webapp/impl/DefaultWebApplicationResponse`.

A workaround is to add `--add-reads cloud.piranha.httpano=cloud.piranha.webapp.impl`.

Next action is to fix the misleading error message, and understand why `hotspot` doesn't fail (probably due to differen

[2020-11-27 14:59] llxia commented on #11291
I am not sure why this issue is closed. All I did is to push a change to my own branch. I did not even create a PR against TKG.master. I suspect this is related to the recently added [github workflow ](https://github.com/AdoptOpenJDK/TKG/tree/master/.github/workflows) in TKG.

Anyway, I will reopen this issue.

[2020-11-27 15:07] JasonFengJ9 commented on #11292
@pshipton no, not that I can recall.

Did this happen to hotspot builds as well?

[2020-11-27 15:22] andrew-m-leonard commented on #11292
I've not seen it on Hotspot

[2020-11-27 15:51] pshipton commented on #11282
Created https://github.com/eclipse/openj9/pull/11294

[2020-11-27 15:53] #11291 closed

[2020-11-27 17:59] gita-omr commented on #11192
Started 5 iterations here: https://ci.eclipse.org/openj9/job/Grinder/1226/

[2020-11-27 18:33] gita-omr commented on #11192
Had to replace IP address in the CUSTOMIZED_SDK : https://ci.eclipse.org/openj9/job/Grinder/1227/

[2020-11-27 18:47] dmitry-ten opened #11296 "Segmentation fault with TR_StressTrampolines enabled"
The segfault happens every time when running `-version` with `TR_StressTrampolines` enabled.
[code]
The stack trace:
[code]
I'm pretty sure that the last frame should be ignored, as `resetCodeCache` is only called in one place on JITServer server, so it's impossible for it to be called in this case and it's probably gdb messing up the stack trace.

`entry` is NULL, which indicates that method `0x5

[2020-11-27 18:52] dmitry-ten commented on #11296
Using limit files and tracing, I narrowed down the crash to compilation of 3 methods:
[code]
As you can see the problematic method `0x51718 ` is ` java/util/HashMap$Node.<init>(ILjava/lang/Object;Ljava/lang/Object;Ljava/util/HashMap$Node;)V`.

Looking at the trace files for these methods the address of the method is directly used here:
[code]

[2020-11-27 19:07] gita-omr commented on #11192
@jdekonin still did not manage to make it run. Could you please help?

[2020-11-27 19:42] pshipton commented on #10275
@hangshao0 @LongyuZhang `-DOPENJ9_BUILD` needs to be set for all Java 11+ builds, even IBM variants. We need to find another way to fix the test. Something like `isOpen() && isZos()` should work.

[2020-11-27 19:56] hangshao0 commented on #10275
@LongyuZhang, you may want to modify your change https://github.com/eclipse/openj9/pull/10368 according to the comment above.

[2020-11-27 20:08] #11282 closed

[2020-11-27 20:08] mnalam-p commented on #11192
@pshipton NodesByIteration was not able to reproduce the issue. Two config tested -
1. `ITERATIONS=5` and `NUM_MACHINES=4`
2. `ITERATIONS=20` and `NUM_MACHINES=10`
Any other suggestions?
One question, what is the difference between production / non-production build?

[2020-11-27 20:21] pshipton commented on #5450
Haven't seen this in some time, closing.

[2020-11-27 20:23] 0xdaryl commented on #11272
This feature seems interesting for precision testing of compiler features and in problem diagnostic scenarios, but not something to be used in production.  We take great care in choosing public options such that their behaviour is clearly defined and documented and so that they are included in testing modes for nightly and release builds across all platforms and operating systems to validate their

[2020-11-27 20:44] dmitry-ten commented on #11296
And this is another where the address of the method is used:
[code]

[2020-11-27 21:01] pshipton commented on #11192
Where do you see that, I might want to change my answer. Something we build nightly or in a personal build is non-production. A build created for a release, with the correct properties, version numbers, and perhaps even building on special machines with restricted access is a production build. There would be no difference in functionality if built from the same SHAs, it's more about the `-version`

[2020-11-27 21:02] pshipton commented on #11192
Request access to an OpenJ9 machine where the problem occurs.

[2020-11-28 00:32] pshipton opened #11299 "cmake jdk15 AIX "-qinfo" is not supported"
https://ci.eclipse.org/openj9/job/Build_JDK15_ppc64_aix_cm_Personal/1/
`error: 1540-5200 The option "-qinfo" is not supported`

Differences related to xlc 16 I expect.

[2020-11-28 00:33] pshipton opened #11300 "cmake jdk15 Windows"
https://ci.eclipse.org/openj9/job/Build_JDK15_x86-64_windows_cm_Personal/1/
`error: no such file or directory: '/cygdrive/f/Users/jenkins/workspace/Build_JDK15_x86-64_windows_cm_Personal/openj9/runtime/vm/BytecodeInterpreterCompressed.cpp'`

[2020-11-29 12:34] ninja- commented on #11157
@mpirvu when I restart all JVMs at once and use a fresh SCC file, one random JVM instance per machine will be the "victim" and keep AOT compiling everything(I guess there's some cross process mutex that prevents multiple JVMs from compiling methods that will end up in SCC?) while reaching Docker CPU limit (150%) and becoming unresponsive.
So in that case JIT server gets spammed with "AOT warm" req

[2020-11-30 03:13] pshipton commented on #5571
We can keep it in the backlog.

[2020-11-30 07:50] knn-k commented on #7127
https://github.com/eclipse/omr/pull/5563 implemented byteswap evaluators for the `reverseBytes()` methods.

[2020-11-30 11:36] janvrany commented on #11136
Last week I managed to compile openk9-openjdk-11 with openj9 JIT component (`libj9jit29.so`) using CMake. It just is skeleton, but it does compile and the VM starts (and segfaults in JIT thread because of lack of private linkage).

It is not much, but at least gives us a defined starting point that compiles.

Some changes to OMR were required, they're reasonably OK so I'll start upstreaming them t

[2020-11-30 11:54] sxa commented on #11136
@janvrany Great to hear! When you put the changes in can you link to the PRs in this issue too?

[2020-11-30 11:56] janvrany commented on #11136
@sxa : sure thing!

[2020-11-30 12:47] JasonFengJ9 commented on #11163
Seen in an internal build `abuild 460783`:
[code]

[2020-11-30 13:05] jdekonin commented on #11192
@gita-omr CUSTOMIZED_SDK_URL has a few links that need modifying you only got the first which was the SDK.  The second was the test-images.tar.gz.  I relaunched with the correction
https://ci.eclipse.org/openj9/job/Grinder/1230/console

Side note: @rajdeepsingh1 increased the artifactory space, so anything after November 19th won't matter it should be in both locations.  I realize that doesn't hel

[2020-11-30 14:41] pshipton commented on #10706
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/228
jdk/test/sun/misc/CopyMemory.java
[code]

[2020-11-30 14:47] pshipton opened #11303 "MauveSingleInvocationLoadTest_special_24 crash vmState=0x00000000"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly_mauveLoadTest/191/
MauveSingleInvocationLoadTest_special_24
variation: Mode688
JVM_OPTIONS:  -Xcompressedrefs -Xjit:count=0 -Xgcpolicy:gencon -Xaggressive -Xconcurrentlevel0
cent7-x64-2

Diagnostics https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_special.system_x8

[2020-11-30 14:50] pshipton commented on #11303
Dup of https://github.com/eclipse/openj9/issues/10665 ?

[2020-11-30 14:56] pshipton commented on #10256
https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_s390x_linux_Nightly/118/

[2020-11-30 19:51] dchopra001 opened #11306 "ArrayStoreException in `InvalidArrayStoreNotCaught` test."
The `InvalidArrayStoreNotCaught` test found in the `crashesTest` class of tests throws an `ArrayStoreException` when run with `-Xjit:count=1,disableAsyncCompilation` under the `jit_jitt` test bucket. Here is the crash:

[code]

Below is a summary of my findings:

I'm not able to reproduce this failure when I isolate the `crashesTest` and try to reproduce this crash by itself (running with `-Xjit:d

[2020-11-30 20:19] dnakamura commented on #11300
Ah, looks like I forgot to port some of the jdk extension patches

[2020-11-30 20:33] mbarbero opened #11308 "Class loading on Java 15 is failing while working on HotSpot"
I'm trying to use `org.xerial:sqlite-jdbc` with AdoptOpenJDK 15 (with OpenJ9 JVM). Unfortunately, the NativeDB class cannot be loaded while it works well with HotSpot/Java 15 and many other version combinations. See the following tests on macOS 11.0.1 (20B29):

[code]

Please find below the code used for the above test (to be put in a maven project):

`src/main/java/App.java`:
[code]

`pom.xm`:
[c

[2020-11-30 21:21] hangshao0 commented on #11084
I have reproduced the IAE:

[code]

However after I added the nestmate check, I still got the same IAE.
With some printfs in the code, I see the nestHost of class `UsingUnresolvedD` is `UsingUnresolvedD`. The nest host of class `UnresolvedD` is `UnresolvedD`. So classes `UnresolvedD` and `UsingUnresolvedD` are in 2 different nests, the IAE seems to be the correct behaviour in this case. Is there s

[2020-11-30 21:36] JasonFengJ9 commented on #11308
This is related to `jdk.internal.loader.NativeLibraries.load`, I will look at it a bit later.

[2020-12-01 02:23] mpirvu commented on #11157
There is no such thing. Maybe all JVMs compile the exact set of methods in the same order and the first JVM carries all the load.

I wonder if something else is going on. On linux, compilation threads have the same priority as the application threads. I expect the JVM that performs all the AOT compilations to become very slow, but not unresponsive.

Even if multiple JVMs attempt compilations in pa

[2020-12-01 06:02] pshipton opened #11312 "jdknext build problems String.getBytes()"
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/390/
[code]

[2020-12-01 06:02] pshipton commented on #11312
@JasonFengJ9 @tajila @babsingh fyi

I'll disable the jdknext acceptance until resolved.

[2020-12-01 08:59] andrew-m-leonard opened #11313 "jdk11 mac compiler crash: assertion J9SymbolReferenceTable.cpp:879: containingClass != NULL"
[code]
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9/831/console

[2020-12-01 10:32] ninja- commented on #11157
So all JVMs are AOT compiling the same methods multiple times, and only when it's time to put it in SCC they throw the AOT code away because it's already in SCC? In such case maybe it could be improved to have a mutex?

[2020-12-01 12:15] lumpfish commented on #11021
Finally worked out what's going on - see https://github.com/AdoptOpenJDK/stf/issues/93.  Should have a PR ready shortly.

[2020-12-01 13:24] pshipton commented on #9416
See https://github.com/eclipse/openj9/issues/11313
[code]
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9/831/console

[2020-12-01 13:25] pshipton commented on #11313
Closing as a dup of https://github.com/eclipse/openj9/issues/9416

[2020-12-01 13:25] #11313 closed

[2020-12-01 13:42] pshipton commented on #8493
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/556
ub18-x86-2
[code]

[2020-12-01 13:46] pshipton opened #11315 "Crash vmState=0x00000000 running MissingCallerSensitive.java"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_xl_Nightly/217
jdk/internal/reflect/CallerSensitive/MissingCallerSensitive.java
[code]

[2020-12-01 14:00] pshipton commented on #11315
@tajila @gacholio fyi

[2020-12-01 14:06] tajila commented on #8450
@JasonFengJ9 Is this complete?

[2020-12-01 14:10] tajila commented on #11068
Hi @Rongmario, Did limiting sharedclass cache for application classes solve the issue?

[2020-12-01 14:39] DanHeidinga commented on #10620
FYI - this has been proposed to target JDK16 and will likely be confirmed for that release.  I know we already had it targeted there but it seems the official targeting is coming soon

[2020-12-01 15:05] hzongaro commented on #11084
Hang @hangshao0, I think the problem with the circular nest host for `UsingUnresolvedD` was fixed in commit fbba191.  However, I see that there is still another problem - now `UnresolvedD` refers to a nest host that doesn't exist.  Sorry about that!

May I ask you to try out the changes to the test in draft pull request #11316?

[2020-12-01 15:10] tajila commented on #11312
@hangshao0 Can you take a look at this. I looks like the signature for `public Lookup defineHiddenClassWithClassData(byte[] bytes, Object classData, boolean initialize, ClassOption... options)` has changed.

[2020-12-01 15:13] fjeremic opened #11318 "Remove dead code related to stores under NULLCHK nodes in Z codegen"
As pointed out on the OpenJ9 Slack (won't put a link here since it will expire) the following code seems dead:
https://github.com/eclipse/openj9/blob/f6fcc177cc1679c3fa7214c2cb1ea834ba318a24/runtime/compiler/z/codegen/J9TreeEvaluator.cpp#L5939-L5955

The reason being is that stores do not produce a value and hence cannot have a reference count > 1. This code can and should be removed.

[2020-12-01 15:13] fjeremic opened #11319 "Remove dead code related to stores under NULLCHK nodes in Z codegen"
As pointed out on the OpenJ9 Slack (won't put a link here since it will expire) the following code seems dead:
https://github.com/eclipse/openj9/blob/f6fcc177cc1679c3fa7214c2cb1ea834ba318a24/runtime/compiler/z/codegen/J9TreeEvaluator.cpp#L5939-L5955

The reason being is that stores do not produce a value and hence cannot have a reference count > 1. This code can and should be removed.

[2020-12-01 15:14] #11319 closed

[2020-12-01 15:14] pshipton commented on #11040
This is set as a blocker since it's blocking https://github.com/eclipse/openj9/pull/10930 from being included in OpenJ9.

[2020-12-01 15:19] pshipton commented on #10706
FYI This was set as a blocker due to the initial frequency of failure, and because the JVM should not unexpectedly abort without explanation of the problem.

[2020-12-01 15:28] tajila commented on #10620
@hangshao0 The @valuebased annotation will likely land in the head repo next week

[2020-12-01 15:29] liqunl commented on #9416
The latest crash shows that we got different results calling `TR_ResolvedRelocatableJ9Method::definingClassFromCPFieldRef`. @dsouzai When can this happen? Can we switch from SVM to non-SVM in a compilation? Can we first fail remembering a class but later succeed?

[2020-12-01 15:34] babsingh commented on #11312
New `defineHiddenClassWithClassData` for JDK16: it is changed to a public method; and the `initOption` is supplied by the caller instead of `initOption` being always `true`.
[code]

[2020-12-01 15:44] babsingh commented on #11312
New `String.getBytes` for JDK16:
[code]

[2020-12-01 15:47] tajila opened #11321 "JDK16 changes for Hidden Classes"
See https://bugs.openjdk.java.net/browse/JDK-8256214

Some changes to Lookup

[2020-12-01 15:48] tajila commented on #11321
@hangshao0

[2020-12-01 15:50] babsingh commented on #11312
New `Lookup.ORIGINAL` field for JDK16: it has the same value as `INTERNAL_PRIVILEGED`. Since `INTERNAL_PRIVILEGED` is J9 specific, we will have to give it a different value.
[code]

[2020-12-01 15:50] tajila commented on #11312
This PR can track the string changes

[2020-12-01 15:57] babsingh commented on #11312
The above three suggested changes should allow us to re-enable jdknext builds:
1. https://github.com/eclipse/openj9/issues/11312#issuecomment-736629919
2. https://github.com/eclipse/openj9/issues/11312#issuecomment-736636323
3. https://github.com/eclipse/openj9/issues/11312#issuecomment-736639731

[2020-12-01 15:59] #11163 closed

[2020-12-01 16:01] tajila commented on #11312
@babsingh Can you open a PR for the String changes

[2020-12-01 16:11] 0xdaryl commented on #11205
Is the core file produced from this crash corresponding to the attached javacore still available?  Can you upload to a service like Box so that we can inspect it please?  Thanks.

[2020-12-01 16:13] gacholio commented on #11315
I'll take a look.

[2020-12-01 16:13] 0xdaryl commented on #11205
@hzongaro : please triage

[2020-12-01 16:21] dsouzai commented on #9416
No idea, this doesn't make sense. I've been talking to @Leonardo2718 offline, and I can't find come up with even the craziest scenario for how this could happen.

In order to enter the path where the assert exists, we must've returned true for `owningMethod->fieldAttributes(...)`. `TR_ResolvedRelocatableJ9Method::fieldAttributes` calls `TR_ResolvedRelocatableJ9Method::storeValidationRecordIfNecess

[2020-12-01 16:29] hangshao0 commented on #11084
I copied your change of ValueTypeTests.java from #11316, I see `testUnresolvedWithFieldUse` passed with my local VM change.

[2020-12-01 16:30] hangshao0 commented on #11321
I will look at this.

[2020-12-01 16:39] pshipton commented on #11184
@harryyu1994 is the PR likely to be ready in the next week? We split for the 0.24 release next weekend.

[2020-12-01 17:02] mnalam-p commented on #11192
@pshipton I ran 20 iteration of test.MauveMultiThreadLoadTest on an OpenJ9 machine (twice). All test passed and did not see any test failure.

[2020-12-01 17:07] mpirvu commented on #11157
When a compilation request is generated, the JVM first check to see whether a matching compiled methods already exists in SCC. If it does not, then it checks whether the method is eligible for an AOT compilation. If it is, it will start an AOT compilation and when the compiled body is ready the JVM acquires a lock to "upload" the AOT body to the SCC. There is no information relayed to the other JV

[2020-12-01 17:11] babsingh commented on #11312
I will open a PR for all three changes since all are standalone changes.

[2020-12-01 17:11] gacholio commented on #11315
2 cores, both crash in the exact same place dereferencing NULL somewhere in the bytecode interpreter. Neither java stack is immediately useful.

[2020-12-01 17:13] babsingh commented on #11321
In https://bugs.openjdk.java.net/browse/JDK-8256214, the new specification introduces the following new methods:

[code]

Since we plan to move to OpenJDK MH (#7352) in JDK16, the above Java changes to J9 classes can be avoided.

[2020-12-01 17:18] hangshao0 commented on #11321
I agree. I was planning to just add the missing bit ORIGINAL and the public API to resolve the compilation issue. But from https://github.com/eclipse/openj9/issues/11312#issuecomment-736691412 I see you are already doing that.

[2020-12-01 17:19] pshipton commented on #11192
I can grind it again if you like. There were more failures last night.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/1848

Did you choose a machine where we've seen failures before?

[2020-12-01 17:27] gacholio commented on #11315
Crash appears to be in:
[code]
at bytecode 6.

[2020-12-01 17:40] JasonFengJ9 commented on #8450
@tajila yes, this is done.
Closing.

[2020-12-01 17:40] #8450 closed

[2020-12-01 17:47] gacholio commented on #11315
Full stack:
[code]

[2020-12-01 17:53] ChengJin01 commented on #11273
The code is pretty much ready at https://github.com/ChengJin01/openj9/commit/b49212ba422a16192aafaaccf07aeb395751f5e1.
Will wait for the update of jtreg & JCK test suite specific to sealed class in JDK16.

[2020-12-01 17:53] lumpfish commented on #10638
It turned out to be harder than I thought to catch a run which hangs, rather than completing successfully or going out of memory.
The verbose gc log attached here was from a run with the non compressed refs build with -Xmx790M.  The test was set to timeout after 10 mins, at which point it is killed.
[verbosegc.20201201.173427.29444.txt.zip](https://github.com/eclipse/openj9/files/5624414/verbosegc

[2020-12-01 17:57] liqunl commented on #11179
Unfortunately the crash is still in a different method. There are 16 methods that can potentially have the same problematic inlining, they are
[code]
@Thihup Could you help us try a few experiments?

1. Exclude compilation of the 16 methods and see if it prevents the crash. I've put the JIT options in `exclude.txt`, and we can use it with the following java option
`-Xoptionsfile=/path/to/exclude.t

[2020-12-01 17:58] gacholio commented on #11315
The WAITSTATUS static appears valid:
[code]

[2020-12-01 17:59] gacholio commented on #11315
The stack is modified by the VarHandle implementation code:
[code]
The VarHandle is pushed onto the stack, and it's old stack slot is overwritten with a MethodHandle (somehow 0 in this case, which is no doubt the cause of the crash).

[2020-12-01 18:28] pshipton commented on #11034
Looking at this from a different perspective, perhaps obvious, things that are non-stop ship are known issues that we've already decided to defer to another release. Unless something changes, like the frequency of the failure or what is impacted by the failure. In which case, it needs to be re-assessed.

[2020-12-01 18:50] gacholio commented on #11315
I expect the actual crash occurs transitioning to the MH interpreter due to the NULL MH. The code which set the slot to NULL is:

https://github.com/eclipse/openj9/blob/master/runtime/vm/BytecodeInterpreter.hpp#L8469-L8553

[2020-12-01 19:06] gacholio commented on #11315
@babsingh There must be a timing hole somewhere in the caching mechanism, though I don't see it. This might also be related to weak memory ordering on PPC. I notice the callSiteType variable has been randomly marked volatile, which might trick the compiler into doing something stupid.

[2020-12-01 19:08] pshipton commented on #11315
100x grinder https://ci.eclipse.org/openj9/job/Grinder/1231/

[2020-12-01 19:26] smlambert commented on #11034
Right, an example of this would be in a [mac jdk11/jdk15 respin](https://github.com/AdoptOpenJDK/TSC/issues/188#issuecomment-736662219) today (to fix a mac installer issue), we see a single sanity.openjdk failure for openj9 which is intermittent and known (https://github.com/eclipse/openj9/issues/10580).  I decided this is a non-blocking failure (intermittent/known/raised in correct repo).

What I

[2020-12-01 19:38] gacholio commented on #11315
Grinder appears to be failing for an unrelated reason:
[code]

[2020-12-01 19:49] pshipton commented on #11315
Ya, I messed up the test name. https://ci.eclipse.org/openj9/job/Grinder/1232/

[2020-12-01 20:28] pshipton opened #11326 "Jtreg: javax_management ResetPeakThreadCount tests fails with unexpected thread count"
Test name: java/lang/management/ThreadMXBean/ResetPeakThreadCount.java.ResetPeakThreadCount

Java version: 11 (but any)

Failure:
[code]

stderr output
[code]

[2020-12-01 20:28] pshipton commented on #11326
I count 25 threads in the thread list output, which is the expected number. I expect ThreadMXBean.getThreadCount() lags a bit. The test waits for Thread.join() on all the threads, which occurs first. getThreadCount() uses J9HOOK_VM_THREAD_DESTROY to maintain the count, which happens after the Thread.join(). Depending on timing, getThreadCount() can show a higher number of threads. Technically, get

[2020-12-01 20:32] dusanboskovic opened #11327 "JIT assertion in SR6_FP11"
Assertion is raised when trying to create a test patch for an older build - SR6_FP11

Assertion first noticed in the "Build git tests Java8" job when running javac. This was the message:
[code]
Snaptrace was empty, assuming that this crash occurs before the VM is able to startup

Native stack:
[code]

Data located on the internal build system: `/bluebird/builds/bld_460907/sdk`

[2020-12-01 20:32] dusanboskovic commented on #11327
@0xdaryl
Opened issue as you suggested. Is this the right place?

[2020-12-01 21:26] hangshao0 commented on #10620
Noticed in the updated JEP that the new CML options used by RI will be:

`-XX:DiagnoseSyncOnValuedBasedClasses=1` (for error)
`-XX:DiagnoseSyncOnValuedBasedClasses=2` (for warning)

[2020-12-01 21:56] #11327 closed

[2020-12-01 22:03] dmitripivkine commented on #10638
There is a case where Excessive GC case is missed obviously. We are going to work to fix it

[2020-12-01 22:05] amicic commented on #10638
As suspected by @dmitripivkine this is indeed a case of excessive GC, but for some reason not leading to appropriate OOM exceptions.

We have two criteria that has to be met to raise OOM. Besides excessively doing GC, there should be no sign of progress (reclaimed memory). A theory is that the the latter is not properly measured in this particular scenario,

The scenario is that Scavenge aborted,

[2020-12-01 22:07] amicic commented on #10638
@jonoommen please try to reproduce this, and if the theory seems plausible, we'll work on a fix, where reclaimed memory would be measured from AF start to end, rather than Global GC start to end.

[2020-12-01 22:47] tajila commented on #11271
@sharon-wang Can you please take a look at this

[2020-12-01 22:52] sharon-wang commented on #11271
Sure thing.

[2020-12-01 22:57] fjeremic commented on #11318
This isn't completely true. There is a case where a store, for example a write barrier can appear underneath both a `TR::NULLCHK` and a `TR::compressedRefs` anchor:

[code]

However I'm not convinced there is a need for a decrement and increment. I don't see anything bad that can happen from removing the code (famous last words). I'm going to launch a bunch of testing without it and see if anythin

[2020-12-01 23:32] harryyu1994 commented on #11184
I think it's already done, I just haven't tested the latest change yet. Will do it tomorrow.

[2020-12-02 00:45] Thihup commented on #11179
Unfortunately, I'm unable to test these options in our Jenkins machine.
Fortunately, I could simulate the crash in my machine. I hope now the iteration can be faster. So core dump most certainly will differ from the other machine but I'm using the same JVM.
I've sent the new dumps to @philschaller

[2020-12-02 01:22] liqunl commented on #11179
@Thihup Sorry, I thought you were running on it locally. If you want to try it on your Jenkins machine, you can take the options in the file and append it to command line options. Notice that `\` separates one option into multiple lines. The option will be very long though, that's why I initially put them in an option file.

If you're sending the core dumps on OpenJ9 slack, you can find me (Liqun

[2020-12-02 01:24] Thihup commented on #11179
@liqunl Ok, I'll send over the Slack

[2020-12-02 01:38] gita-omr commented on #11192
5 iterations passed: https://ci.eclipse.org/openj9/job/Grinder/1230/console

started 25 iterations: https://ci.eclipse.org/openj9/job/Grinder/1233/

[2020-12-02 02:03] gita-omr commented on #11192
@pshipton could you please start the grinder? The one above ran MauveMultiThreadLoadTest_0 only. I am not sure how to start _16.

[2020-12-02 02:23] gita-omr commented on #11192
I think the above only ran MauveMultiThreadLoadTest_0

Started  MauveMultiThreadLoadTest_special_16 here: https://ci.eclipse.org/openj9/job/Grinder/1235/

[2020-12-02 02:26] pshipton commented on #11179
@liqunl added dumps2.zip (sent to me as dumps.zip) to the Box folder.

[2020-12-02 03:17] gita-omr commented on #11192
Started 25 iterations of MauveMultiThreadLoadTest_special_16 here: https://ci.eclipse.org/openj9/job/Grinder/1236/

[2020-12-02 03:45] pshipton commented on #11034
- A simple rule we've used for many years is that something which fails 1/30 iterations of the test or more is a "blocking" (highest priority) problem and needs to be resolved asap. Typically this has been applied to JIT issues since VM issues have less tendency to be intermittent, but no reason it can't apply outside the JIT as well. In order to block a release, the failure also needs to have use

[2020-12-02 03:53] pshipton commented on #11034
- about incubator features, a 1/30 or higher frequency problem could indeed be considered release blocking if the incubator feature is one of a small number of features in a new Java version. For example, if Java N+1 contains nothing more than an incubator feature, and that incubator feature doesn't work, there probably isn't much point in releasing Java N+1 until it does work.

[2020-12-02 04:03] pshipton commented on #11034
- as for who can determine if a problem is release blocking, I expect any committer is eligible to make a decision, or at least have an opinion, but it's up to each individual committer to decide if they are qualified to make that decision. It can be a tough decision, and a committer may want additional opinions from other committers so that a stop ship decision is more of a consensus. I don't exp