[2021-09-15 17:24] pshipton commented on #13389
For compatibility I suggest the default behavior remain the same, although we can change it on a release boundary (Java 18 or maybe Java 17 if we do it soon) and document the change. `-XX:[+/-]CpuLoadCompatibility`

[2021-09-15 17:36] a7ehuo commented on #13181
The Java backtrace looks similar to #13485

[2021-09-15 17:45] pshipton commented on #13519
vmState [0x5ff04]: {J9VMSTATE_JIT} {InstructionSelection}

@0xdaryl fyi

[2021-09-15 17:46] pshipton commented on #13519
@fjeremic fyi

[2021-09-15 18:11] cedrichansen commented on #10721
The experiments which were run for heapothesys have been repeated with https://github.com/eclipse-openj9/openj9/pull/12043, and the results can be found in the attached excel document.

The new results are shown in rows with the test case name containing `(Balanced new logic)`.

The overall results are very good. Total % of time spent in GC pauses drops by 50% in most cases for balanced GC, and in

[2021-09-15 18:14] cedrichansen commented on #10721
@amicic @dmitripivkine  @vijaysun-omr FYI

[2021-09-15 18:29] fjeremic commented on #13519
@dchopra001 could you please take a look at this one given your experience writing the `genericRotateAndInsertHelper` helper? It looks like a constant is decremented to -1 refcount (seems to be twice in this evaluator). We are likely over decrementing somewhere.

[2021-09-15 18:42] nbhuiyan commented on #13499
In my attempt at reproducing this crash, I got a different kind of failure happening at the same stage as the original reported failure:

[code]
@dmitripivkine , I would like your help in understanding why the GC would report the error messages above. Unfortunately no cores were generated for me to be able to investigate further.

[2021-09-15 19:01] IBMJimmyk commented on #13460
I found the problem. It's an error with how the extra option is passed in.

From the failing run:
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/18083/consoleText
[code]
If you look carefully, there's no space after the `-XX:+PortableSharedCache` option so it gets combined into the JARPATH option on the next line. I believe since this is a bad `-XX` option, the option just gets ignored ra

[2021-09-15 19:04] joransiu commented on #13519
Here's the JIT compilation trace of the failed compile:
[trace.log.txt.zip](https://github.com/eclipse-openj9/openj9/files/7172604/trace.log.txt.zip)

The issue stems from the following evaluation, where these two node had their refcounts incorrectly decremented twice.

Pre-evaluation:
[code]

Post-evaluation:
[code]

Instruction Selection:
[code]

[2021-09-15 19:07] llxia commented on #13460
This is a test issue. The test should have space in the cmd. https://github.com/eclipse-openj9/openj9/blob/0ac653eed82b918eb8c4d5e140be1daadbbe1815/test/functional/cmdLineTests/jython/playlist.xml#L43

I will have PR for this.

[2021-09-15 19:21] #13484 closed

[2021-09-15 19:42] #13460 closed

[2021-09-15 20:01] JasonFengJ9 commented on #13359
The grinder passed. In additional, no such failure observed in recent builds.

Closing. (will re-open if it occurs again)

[2021-09-15 20:01] #13359 closed

[2021-09-15 20:15] JasonFengJ9 commented on #10732
Observed in an internal build `Test_openjdk17_j9_extended.functional_s390x_linux_Personal/34/tapResults/` (`rhel7s390x-3-7`)
[code]

[2021-09-15 20:24] JasonFengJ9 commented on #13162
Observed in JDK17 `0.28` release at `job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Personal/33/consoleFull`
[code]
Re-open.

fyi @fengxue-IS

[2021-09-15 20:37] dmitripivkine commented on #13499
It says reason clearly, for example:
[code]
in java thread `0x5CA100` `O-Slot=0000000000655BF0` has address of `Misaligned stack-allocated object in thread load-1` `O-Slot value=0000000000655D11`, frame for method `method=0000000000158008 (java/util/ArrayList.forEach(Ljava/util/function/Consumer;)V) (Interpreted)`

There is another one:
[code]
in java thread `0x5CA100` `O-Slot=0000000000655C00` ha

[2021-09-15 20:43] dmitripivkine commented on #13499
and this bad O-slot caused the crash (based on registers content):
[code]

[2021-09-15 20:57] dmitripivkine commented on #10732
the only check we can do here to differentiate possible JVM problem from environment behaviour it look to gc verbose log to confirm heap is contracted actually. I believe these tests have been improved to store log file. I will check it

[2021-09-15 21:33] dmitripivkine commented on #10732
<img width="646" alt="Screen Shot 2021-09-15 at 5 27 32 PM" src="https://user-images.githubusercontent.com/18148831/133512342-39315f55-d8b8-4a84-a8fa-2c4e92571412.png">
Heap has been contracted below 256m as requested, however test can not see this memory returned back to OS. I think this is environment problem. In general there is no guarantee memory is going to be visible as free, OS or Hypervis

[2021-09-15 23:41] joransiu commented on #9167
Was able to reduce this [test](https://github.com/eclipse-openj9/openj9/blob/master/test/functional/Java11andUp/src/org/openj9/test/nestmates/NestmatesTest.java) failure down to an unresolved nestmate interface call:

[code]

Looking at the point of failure, the BEA shows took a wild branch from the return instruction of `fast_jitInstanceOf` C helper. GPR7 was not a valid target address, and we se

[2021-09-15 23:42] joransiu commented on #9167
For reference, https://github.com/eclipse-openj9/openj9/blob/3b519ed3ea49115cd82ab8314b72914a21e65ca3/runtime/codert_vm/znathelp.m4#L129-L139 shows a wrapper to properly invoke a C function from asm.

[2021-09-16 05:51] Akira1Saitoh commented on #13502
This issue is similar to https://github.com/eclipse-openj9/openj9/issues/13503, but slightly different.
When a method `java/lang/invoke/LambdaForm$MH/0x0000000000000000.invoke_MT(Ljava/lang/Object;JFJDIIIIDDJIIJJIJFJDIIIIDD
JIIJJIJFJDIIIIDDJIIJJIJFJDIIIIDDJIIJJIJFJDIIIIDDJIIJJIJFJDIIIIDDJIIJJIJFJDIIIIDDJIIJJIJFJDIIIIDDJIIJJIJFJDIIIIDDJIIJJIJF
JDIIIIDDJIIJJIJFJDIIIIDLjava/lang/Object;)Ljava/lang/Ob

[2021-09-16 09:46] Akira1Saitoh commented on #13502
10x Grinder passed with https://github.com/eclipse/omr/pull/6179. ` job/Grinder/18177/`

[2021-09-16 11:23] JasonFengJ9 opened #13522 "JDK17 aarch64_linux 0.28 release : jdk_util_0_FAILED - Segmentation error vmState=0x0005ff06"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Personal/28/consoleFull`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&TKG_OWNER

[2021-09-16 12:13] JasonFengJ9 opened #13523 "JDK17 TestIBMJlmRemoteClassNoAuth_0_FAILED - NullPointerException: Cannot invoke "javax.management.MBeanServerConnection.isInstanceOf(javax.management.ObjectName, java.lang.String)" because "connection" is null"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.system_x86-64_linux_testList_2/53/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=TestIBMJlmRemoteClassNoAuth_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_sanity.system_x86-64_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NO

[2021-09-16 12:25] pshipton commented on #13523
Ya, it seems like a network issue.

[2021-09-16 12:27] JasonFengJ9 commented on #13523
Observed at JDK11 as well `job/Test_openjdk11_j9_sanity.system_x86-64_linux_testList_2/85/`

Moving out current milestone plan.

[2021-09-16 12:29] pshipton commented on #13132
No new reports, closing.

[2021-09-16 12:29] #13132 closed

[2021-09-16 12:35] JasonFengJ9 commented on #13523
It only occurred at `rhel7x64cudart1`, created `infrastructure/issues/5948`.

[2021-09-16 12:35] #13523 closed

[2021-09-16 13:05] BradleyWood commented on #13411
@hangshao0 @JasonFengJ9  I'm a little confused why the root cause of this issue is also believed to cause the Valhalla failures. Has `DaaLoadTest_daa1_special_5m_8` failed since first reported?

[2021-09-16 13:18] mnalam-p commented on #13453
With the release available on IBM portal (jdk11-11.0.12+7) I was hitting another bug (__postP10GenericCopy) that was fixed and merged. As there is no official version that contains that fix, I tried to reproduce locally by using latest personal openj9 build.

[code]

Test passed for following scenarios -
 - 30 Iterations with `count=0`
 - 10 iterations with `count=0,optlevel=noopt`
 - 10 iteration

[2021-09-16 13:41] JasonFengJ9 commented on #13411
The segmentation error w/ `vmState=0x000501ff` caused JDKnext PR build failure https://github.com/eclipse-openj9/openj9/issues/13411#issuecomment-917212968 which is ~6 days ago.

Launched a 100x grinder at `view/Test_grinder/job/Grinder/18180` w/ a recent JDK17 `x86-64_linux` `0.28` release build.
[code]

[2021-09-16 14:08] pshipton commented on #13453
Closing assuming fixed, it can be re-opened if the problem is seen again.

[2021-09-16 14:19] a0304 commented on #13269
Hi @JasonFengJ9, Were you able to replicate the crash with the new set of libs and code that I added to the box dir with my last comment ? Do we know why this crash happens ? Thanks.

[2021-09-16 14:22] keithc-ca commented on #13034
@dusanboskovic Do you have any data on the Linux distributions, kernel versions and any other differences specific to the environment where these problems occur? Do you have a troublesome core file that you could share (perhaps privately)?

[2021-09-16 14:35] dmitripivkine commented on #13515
This is a case GC throws OOM heap due excessive GC. Looks like this expected behaviour - GC struggles to collect something:
[code]
This test does not specify `-Xmx` explicitly, so 25% of ~8g RAM is used. From ~2g of heap space available there is very little can be collected.

This is top of heap occupation report:
[code]
so waste majority of the heap filled by `java/util/TreeMap$Entry` and `java/l

[2021-09-16 14:39] pshipton commented on #13509
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/99/ - osx1013-x86-3
testOpenJ9DiagnosticsMXBean_0

[2021-09-16 14:42] pshipton commented on #13457
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/25 - crash
java/lang/invoke/MethodHandlesAsCollectorTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/25/openjdk_test_output.tar.gz

[2021-09-16 14:48] pshipton opened #13524 "jdk17 java/util/concurrent/tck/JSR166TestCase.java crash in Compiled_method vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/25
jdk_util_0
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops
java/util/concurrent/tck/JSR166TestCase.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/25/openjdk_t

[2021-09-16 14:51] JasonFengJ9 commented on #13269
Yeah, I am able to reproduce the segmentation error w/ the testcases supplied, the investigation is in progress.

On the other hand, JDK17 [1] works in both testcases, can you verify if it works in your application as well?
Note: JDK17+ adopted a different native library loading approach than JDK 8/11.

[1] https://github.com/ibmruntimes/semeru17-binaries/releases/download/jdk-17%2B35_openj9-0.28.

[2021-09-16 14:56] llxia commented on #13410
Running ParallelStreamsLoadTest_special_J9_27 in [ Grinder (100x) ](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/18181/) with the latest nightly.
[code]

[2021-09-16 15:16] pshipton commented on #13515
If it's the same as #9972, it doesn't fail very often, I'm happy just to keep an eye on it, as long as it's not a regression from a recent change.

[2021-09-16 15:24] 0xdaryl commented on #13524
@zl-wang : please assign for triage.

[2021-09-16 15:25] JasonFengJ9 commented on #13269
Summary of investigation so far:

**Testcase passed:**
[code]
within `main()` method.

**Testcase failed**
[code]

The segmentation error occurred at dl-load.c:1970(open_verify) `__lseek (fd, ph->p_offset, SEEK_SET);`
[code]

Set a breakpoint at `dl-load.c:1970`, the passing case has following stacktrace:
[code]

It is not clear why segmentation fault occurred at `__lseek (fd, ph->p_offset, SEEK_S

[2021-09-16 15:29] ymanton commented on #13167
Thanks for the grinder.

I've managed to reproduce it on a VM, but it's very intermittent, possibly because its very small relative to a full box and the timing is totally different. I'm going to try to get on the farm machines sometime today.

I also can't get any core files when the exception is thrown via `-Xdump`. I settled for the next best thing, a dump at `vmstop` time of a failing run.

Ba

[2021-09-16 15:53] zl-wang commented on #13167
check the memory field for rtype, it is likely not NULL.
that is a typical symptom of missing memory barriers (field type is not correctly marked as volatile, or EscapeAnalysys removing it).

[2021-09-16 15:57] zl-wang commented on #13524
@mnalam-p  please take a look

[2021-09-16 16:29] fengxue-IS commented on #13488
another 50x grinder ran last night without error `Test_grinder/job/Grinder/18160/`
not sure if this is a test failure or machine failure as searching online suggest that exit code of 143 is due to receiving `SIGTERM` from OS

[2021-09-16 16:35] fengxue-IS commented on #13504
This failure is highly intermittent,  reproduced with a recent nightly build in grinder (1/50).
The error log seem a bit different with a 4 unhandled exception (1 case of vmState=0x000000, 3 with vmState=0x0002000f)
[code]

Will look into the generated cores to see what caused the crash

[2021-09-16 16:37] ymanton commented on #13167
Since the core is dumped at vmstop time I don't know exactly which objects were in scope when the exceptions were thrown, but searching the core file there are ~1300 `MethodType` objects. All of them have a non-NULL `rtype` field except one:

[code]

This suggests that it's not a missing barrier this time, but I can't be certain that this object is the one that triggered the exception. It could a

[2021-09-16 17:00] babsingh commented on #13368
In this case, the JVM should throw an OOM. But, no error/exception is thrown. Instead, the OS kills the Java process with a SIGKILL. Even, no diagnostic core files are generated for this failure.

[2021-09-16 17:25] babsingh commented on #13368
I ran the test locally and in grinders (on internal pLinux machines) to reproduce the issue. But, I was unable to reproduce the failure.

I do see differences in failing and passing test output. Based on the difference, the failure occurs while executing the `"VarHandle -> Array"` testcase in all variants of the failure. [Code for the `VarHandle -> Array` test case](https://github.com/ibmruntimes/

[2021-09-16 18:18] dchopra001 commented on #13519
[code]
In the tree above, we pattern match the `lshl` node (`n8276n`) (where the first child is a `land` (`n7258n`)) here:
https://github.com/eclipse/omr/blob/c818b04c631882b84760c759e9e85fa97ea7c106/compiler/z/codegen/BinaryEvaluator.cpp#L1227-L1237

When we call `tryToReplaceShiftLandWithRotateInstruction` here, we will essentially "skip" the evaluation of the children of the `lshl` node and per

[2021-09-16 18:34] dchopra001 commented on #13519
For some context as to why we are seeing this problem, the helper routine `tryToReplaceShiftLandWithRotateInstruction` was original named `tryToReplaceLongAndWithRotateInstruction` and was only meant to be used by the `landEvaluator` here:
https://github.com/eclipse/omr/blob/c818b04c631882b84760c759e9e85fa97ea7c106/compiler/z/codegen/BinaryEvaluator.cpp#L3402-L3407

In this case, we won't run into

[2021-09-16 19:58] pshipton commented on #13504
Just fyi 1/50 is not a blocker, and this isn't marked as a blocker, we could move it out.

[2021-09-16 20:03] pshipton commented on #13368
This could indicate a native memory leak. You could try running the test with memory tracking enabled, or using OS memory tools to look at the memory used by the process while it's still running.

Since ub16-ppcle-1 is disabled in jenkins, it's sitting idle.

[2021-09-16 20:06] pshipton commented on #13368
Something like `-Xcheck:memory:noscan,quick,callsite=1000` will dump a summary of allocated memory every 1000 allocations. This will only find leaks in "malloc". If it's virtual memory, perhaps as allocated as workspace for the jit, using an OS tool is better.

[2021-09-16 20:13] VermaSh commented on #13370
I haven't been able to reproduce the failure locally. Have launched a grinder https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/18189/ to get a log and failure rate. Hoping to use the log from a failure run to help reproduce it locally.

[2021-09-16 20:14] pshipton commented on #13368
Even if not a leak, it could indicate we're using too much native memory and need to be more efficient. It may be worth running the same test with Hotspot on the same machine.

[2021-09-16 20:44] babsingh commented on #13368
in the process of acquiring access to ssh and run a grinder on the above machine. fyi @AdamBrousseau.

[2021-09-16 21:01] hzongaro commented on #13180
Trying to reproduce the DaaLoadTest_all_special_5m_4 failure, I saw 1/9 failures in a grinder run, but (possibly) with a different symptom:

[code]

[2021-09-16 21:14] hzongaro commented on #13369
So far I've seen failures on MacOS, but they haven't exhibited the O-Slot assertion failure symptom.  Instead I've seen NullPointerExceptions like the following, which bears a strong resemblance to issue #13472.  I don't know whether they are two different symptoms of the same problem or two distinct problems, so I'll continue to investigate.

[code]

[2021-09-16 23:16] jdmpapin commented on #13472
From analysis of the core generated by the [first z Linux crash listed in the previous comment](https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Nightly/23)...

`LambdaForm$DMH/0x0000000000000000.invokeVirtual` is hitting an unexpected segfault (which in some tests appears as an NPE due to our implicit null checks) because the "VFT offset" it finds via the `Member

[2021-09-17 02:15] Akira1Saitoh commented on #13522
This issue is same as https://github.com/eclipse-openj9/openj9/issues/13502
https://github.com/eclipse/omr/pull/6179 will fix this.

The crash occurs at `OMR::ARM64::Machine::freeBestRegister` and the reason is that there are no available registers to free.

[code]

The register dependency of the instruction has 25 integer register entries which means there are no more available integer registers.

[2021-09-17 02:46] 0xdaryl commented on #13522
Closing as dup of 13502.

[2021-09-17 02:46] #13522 closed

[2021-09-17 04:32] AdamBrousseau commented on #13517
Rebooted

[2021-09-17 04:32] #13517 closed

[2021-09-17 07:46] Akira1Saitoh commented on #13485
I have not been able to reproduce this issue so far.

Ran 50 times locally with no failure.
41 out of 50 Grinder run with no failure, jenkins started shutdown at that point. `job/Grinder/18192`.

[2021-09-17 11:42] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/97
    com/sun/crypto/provider/Cipher/AES/TestShortBuffer.java.TestShortBuffer
    com/sun/crypto/provider/Cipher/Blowfish/TestCipherBlowfish.java.TestCipherBlowfish
    com/sun/crypto/provider/Cipher/CTR/CounterMode.java.CounterMode
    com/sun/crypto/provider/Cipher/CTS/CTSMode.java.CTSMode
    com/sun/cr

[2021-09-17 11:52] pshipton commented on #13524
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/26

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/26/openjdk_test_output.tar.gz

[2021-09-17 13:42] cedrichansen commented on #12054
In the vast majority of cases when the heap is fully expanded, eden will _grow_ in order to improve total GC overhead, since PGC is typically the dominating cost of the all GC work (GMP + PGC) - however in certain situations where free memory is tight (whether it be by using a small `-Xmx` value, or by live set growth), eden will sometimes _shrink_ in order to improve total GC overhead. Due to the

[2021-09-17 14:05] a0304 commented on #13269
Thanks @JasonFengJ9. I will test with the new JDK17 and let you know the results.

[2021-09-17 15:08] AdamBrousseau commented on #13368
Added Babneet's key to the machine. Enabled the machine in Jenkins so he can run grinder on it too. Removed the test label so other jobs don't land on it. This will need to be put back when he's done.

[2021-09-17 15:43] babsingh commented on #13457
**Update:** `MethodHandlesInsertArgumentsTest` and `MethodHandlesAsCollectorTest` failures are identical. Based upon the below DDR ouput, there is a segfault when executing the `invokespecial`.

### DDR Output

**Failing thread:**
[code]

**Java stack:**
[code]

**stackslots:**
[code]

**Bytecodes** around index `319` in `LambdaFormEditor.spreadArgumentsForm`:
[code]

[2021-09-17 15:54] dchopra001 commented on #13519
I've opened a PR here with the above proposed fix: https://github.com/eclipse/omr/pull/6182. We can discuss possibilities of any alternative solutions in the PR as well.

[2021-09-17 16:11] babsingh commented on #13457
### DBX Output

DBX does not pin point the `invokespecial` source code where the segfault happens. But, the below assembly shows that we are crashing at a `ldx` which is trying to load from `0x230 (R3) + 0xA000100 (R24)` (invalid address). This matches the assembly analysis in https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-915601449.

**Next step:** find out why there is a cras

[2021-09-17 16:39] VermaSh commented on #13370
Launched another grinder https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/18211/ as previous grinder didn't have any failures

[2021-09-17 16:39] rajdeepsingh1 commented on #12719
Downgrading `libc6` and upgrading it again seems to have resolved - dependencies fulfilled

Re-enabled machines in Jenkins.

[2021-09-17 17:52] dmitry-ten commented on #13448
#13449 and #13520 fixed the build failures. Closing the issue.

[2021-09-17 17:53] #13448 closed

[2021-09-17 17:56] dusanboskovic commented on #6522
Received a case with very similar symptoms as this issue.
Resolution was #13033

[2021-09-17 18:38] tajila opened #13529 "Classload failure when replacing defineAnonClass with defineHidden class"
An issue occurs with the following test

[code]

NodeClass is defined as:

[code]

When one attempts to replace defineAnonClass with defineHidden class.

The failure is:
[code]

The VM is looking for a class named `j9vm.test.invoker.NodeClass.0x0000000000000000` but it should really be looking for `j9vm.test.invoker.NodeClass/0x0000000000000000`

So there is an issue with the self reference in the

[2021-09-17 18:40] tajila commented on #13529
@hangshao0 Please take a look at this. It is blocking https://github.com/eclipse-openj9/openj9/pull/13426

[2021-09-17 18:59] a7ehuo commented on #13181
I got the core file but I can't reproduce the issue when I tried to add sub options to -Xdump to get the log file.

[1] is the stackslot info from the thread that throws the exception "`java.lang.NullPointerException: Cannot invoke "java.lang.invoke.MethodHandle.linkToStatic(long, java.lang.Object, java.lang.invoke.MemberName)" because "<parameter1>" is null`".

The exception happened at bytecode

[2021-09-17 19:08] jdmpapin commented on #13181
I have been looking at an issue that looks superficially similar:
[code]
However, that bug is an attempt to do virtual dispatch using a "VFT offset" that is in fact a tagged itable offset, so it's specific to `linkToVirtual()`; `linkToStatic()` should be unaffected

[2021-09-17 19:59] 0xdaryl commented on #12759
Yes.  I will create an issue to track the cleanup work shortly.

[2021-09-17 20:06] mikezhang1234567890 commented on #13509
Looks like the issue with `testOpenJ9DiagnosticsMXBean_0` is because the core dump utility isn't following the full path, and just creating the core in the active directory.

[2021-09-17 20:18] a7ehuo commented on #13181
Thanks @jdmpapin! Anything else in the core file that I could check that might help narrow down the issue more?

[2021-09-17 20:43] JasonFengJ9 commented on #13410
A `segmentation error` similar w/ https://github.com/eclipse-openj9/openj9/issues/13410#issuecomment-912711246 observed at `job/Test_openjdk17_j9_sanity.system_ppc64le_linux_testList_2/51/` (`rhel8le-rt1-2`)
[code]

[2021-09-18 06:04] 1a2s3d4f1 commented on #13409
Survivor size test result(Using VisualVM to track cpu resource used)
Balanced gc(No "-XXgc:tarokRegionMaxAge=2" option):
Log file:verbosegc.20210917.230323.4512.txt
![BGC120210917231337129](https://user-images.githubusercontent.com/40121560/133877734-4788b035-1fc6-4d14-9a01-c97d51793237.jpg)
Used survivor space:
![BGC120210917231530339](https://user-images.githubusercontent.com/40121560/133877745-

[2021-09-20 11:34] JasonFengJ9 opened #13533 "JDK17 zLinux : jdk_security2_0_FAILED javax/xml/crypto/dsig/GenerationTests.java - Segmentation error vmState=0x00040000"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_s390x_linux/18/` (`rhel7s390x-4-10`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH

[2021-09-20 11:48] JasonFengJ9 commented on #13485
An occurrence at `job/Test_openjdk17_j9_special.system_aarch64_linux_testList_0/50/`
[code]

[2021-09-20 12:21] pshipton commented on #12719
@rajdeepsingh1 they are still failing with `gcc: Command not found1`, I've disabled them again.
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly_testList_2/102/console

[2021-09-20 12:23] pshipton commented on #12719
It may only be ub20-390-1 failing, I've only disabled this one for now.

[2021-09-20 12:24] pshipton commented on #12719
@mikezhang1234567890 pltest is still failing after the updates, so we still need a workaround.
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_s390x_linux_Nightly_testList_0/102/

[2021-09-20 12:26] pshipton commented on #13509
`testOpenJ9DiagnosticsMXBean_0` continues to fail in the nightly builds, but I'm not going to keep reporting them all.

[2021-09-20 12:29] pshipton commented on #12719
@rajdeepsingh1 ub20-390-2 has a different problem now (and it's disabled again).
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly_testList_0/103/console
[code]

[2021-09-20 13:00] pshipton commented on #13524
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/28/

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/28/openjdk_test_output.tar.gz

[2021-09-20 13:07] pshipton commented on #11509
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_windows_Nightly_testList_0/29
TestJps_0
[code]

[2021-09-20 13:11] pshipton commented on #13162
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/29
jdk_util_0
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops
java/util/stream/boottest/java.base/java/util/stream/SpinedBufferTest.java
[code]

[2021-09-20 13:19] 0xdaryl commented on #13411
@BradleyWood : are you still able to reproduce this problem?  If so, can you produce a log of the crashing compile?

Passing 100 grinders does not make this a blocker in my opinion.  If it is no longer reproducible then it should be closed.

[2021-09-20 13:22] a7ehuo commented on #13181
Haven't reproduced after adding the option to collect log file: `-Xjit:count=0,\{net/adoptopenjdk/loadTest/adaptors/JUnitAdaptor*addResult*\}\(traceFull,traceInlining,log=trace-addresult.log`. Also tried `opts` with `-Xdump`, also not reproducible.

[2021-09-20 13:27] pshipton commented on #13167
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_ppc64_aix_Release_testList_0/5
jsr292_MethodHandleAPI_Test_JitCount1_0
[code]

[2021-09-20 13:30] pshipton commented on #13167
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_linux_Release_testList_1/5
jsr292_MethodHandleAPI_Test_JitCount1_0
[code]

[2021-09-20 13:31] BradleyWood commented on #13411
I never observed an inliner crash, except when building JDKnext with `--enable-inline-types`.

[2021-09-20 13:33] pshipton commented on #13162
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Release/5
jdk_util_1
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops
java/util/stream/test/org/openjdk/tests/java/util/stream/CountLargeTest.java
[code]

[2021-09-20 13:46] zl-wang commented on #13167
younes is on vacation this week.  he showed "this" cannot be NULL (otherwise, it crashed already, instead of NPE).
it looks more like "rtype" itself is NULL (but the error message was associated with an earlier bytecode). he also
showed one MethodType object contains NULL "rtype".

@pshipton my question directed to the MethodType knowledgeable folks whether "rtype" NULL is ever expected (after Met

[2021-09-20 13:47] 0xdaryl commented on #13503
Fixed

[2021-09-20 13:47] #13503 closed

[2021-09-20 13:53] cedrichansen commented on #12054
The entire set of heapothesys tests was re-run with the new logic discussed in this issue, and the performance results are in this comment -> https://github.com/eclipse-openj9/openj9/issues/10721#issuecomment-920261487

[2021-09-20 14:13] 0xdaryl commented on #13502
Fixed.

[2021-09-20 14:13] #13502 closed

[2021-09-20 14:17] 0xdaryl commented on #13488
Should this be closed?

[2021-09-20 14:17] santosh-m-code opened #13534 "ubi-minimal-jre image not found for linux/amd64"
Suddenly we only see linux/ppc64le images and other arch types images are not build for different tag except for nightly builds.
Any specific reason ?

[2021-09-20 14:31] pshipton commented on #13167
@tajila pls see the question in the previous comment https://github.com/eclipse-openj9/openj9/issues/13167#issuecomment-922942835

[2021-09-20 14:33] cedrichansen commented on #12054
A key question to consider when talking about heap sizing behaviour: what happens if my java application experiences significant changes in workload throughout its lifetime? Will my performance suffer as my workload increases? Will I still use extra memory even when I don't need it?

These are all questions which were simulated by running SPECjbb 2015 (as previously mentioned in this issue), and S

[2021-09-20 14:44] a7ehuo commented on #12237
I updated Charlene's changes in openj9 #13535 and eclipse/omr#6183. One left issue that's not covered in these two PR is the `L` reference in `classNameToSignature` in [Aliases.cpp](https://github.com/eclipse/omr/blob/0d64043d74024e337119adc637cd27f767171794/compiler/il/Aliases.cpp#L1053). The existing API `classNameToSignature` doesn't have a class pointer for us to distinguish if the class is a

[2021-09-20 14:46] pshipton commented on #13411
I'll move it to 0.29 so it's not forgotten, although it doesn't seem a blocker for this release either, only for Valhalla builds.

[2021-09-20 15:00] pshipton commented on #13488
Closing, will reopen if seen again.

[2021-09-20 15:00] #13488 closed

[2021-09-20 15:08] pshipton commented on #13534
Pls provide more details and links to explain the problem.

[2021-09-20 15:14] cedrichansen opened #13536 "Refactor Balanced GC verbose `heap-resize` section"
https://github.com/eclipse-openj9/openj9/pull/12043 introduces changes to the way eden and non-eden heap space is resized. In order to provide users with extra information as to why eden resized, an extra `<heap-resize>` line was added.

The new Verbose GC output looks like the following if eden resized
[code]

If only the non-eden space resized, then only the `<heap-resize>` line with `space="tot

[2021-09-20 15:17] 0xdaryl commented on #13410
The original problem (https://github.com/eclipse-openj9/openj9/issues/13410#issue-982773471) and the other macOS reported problem (https://github.com/eclipse-openj9/openj9/issues/13410#issuecomment-915622936) are duplicates of the backwards arraycopy problem #9782 which has only ever been observed on macOS.

The Power Linux crashes reported above must be a different problem and warrant a separate

[2021-09-20 15:20] 0xdaryl opened #13537 "DaaLoadTest_daa2_CS_5m_0 vmState=0x00000000 crash"
This issue on Power was spawned from #13410 as it is not the same problem as originally reported in 13410.

A `segmentation error` similar w/ https://github.com/eclipse-openj9/openj9/issues/13410#issuecomment-912711246 observed at `job/Test_openjdk17_j9_sanity.system_ppc64le_linux_testList_2/51/` (`rhel8le-rt1-2`)
[code]

[2021-09-20 15:22] 0xdaryl commented on #13537
Not sure if the frequency of this problem as first reported in #13410 is enough to warrant making it a blocker.  @JasonFengJ9 @pshipton ?

[2021-09-20 15:23] 0xdaryl commented on #13537
This is a Power-specific crash (reported twice).  @zl-wang : please assign for triage.

[2021-09-20 15:24] 0xdaryl commented on #13410
Closing the originally reported macOS problem as a dup of #9782.  Power failures are tracked by #13537.

[2021-09-20 15:24] #13410 closed

[2021-09-20 15:27] pshipton commented on #13537
Current data does not indicate a blocker to me.

[2021-09-20 15:29] hangshao0 commented on #13529
I am in the middle of https://github.com/eclipse-openj9/openj9/issues/13414, will look at this issue after that.

[2021-09-20 15:31] tajila commented on #13167
@zl-wang The MethodType constructor `MethodType(Class<?> rtype, Class<?>[] ptypes)` is private and is only invoked by factory method `MethodType makeImpl(Class<?> rtype, Class<?>[] ptypes, boolean trusted) {`

Before the MT is placed in the intern table there is a NULL check on the rtype. This means it is impossible for a valid for an MT returned by `makeImpl` to have a NULL rtype. However, before

[2021-09-20 15:31] 0xdaryl commented on #13370
Looks like 1 failure in your last set of grinders.  Not sure if that is a manifestation of the original problem or an infra issue.  If infra, can you launch one final set of at least 30 so that we can make a final determination on whether to keep this open or not please?

[2021-09-20 15:32] zl-wang commented on #13537
isn't this a dup of:  https://github.com/eclipse-openj9/openj9/issues/13475
that one is under investigation already.

[2021-09-20 15:42] zl-wang commented on #13537
i will close it as a dup of https://github.com/eclipse-openj9/openj9/issues/13475

[2021-09-20 15:44] pshipton commented on #13537
The crash reported in this issue does not look like a dup of https://github.com/eclipse-openj9/openj9/issues/13475 to me. @zl-wang why do you think it's a dup?

Also, the crash here is with default options, while https://github.com/eclipse-openj9/openj9/issues/13475 is testing with JIT options that aren't used in production.

[2021-09-20 16:19] santosh-m-code commented on #13534
https://hub.docker.com/r/adoptopenjdk/openjdk11-openj9/tags?page=1&ordering=last_updated&name=ubi-minimal-jre

For ubi-minimal-jre-nightly we have all 3 OS/Arch images available linux/amd64, linux/ppc64le, linux/s390x.
For ubi-minimal-jre we only have image for linux/ppc64le other 2 arch type images are missing.

![image](https://user-images.githubusercontent.com/88137214/134037595-aa917b08-810b-4

[2021-09-20 16:46] VermaSh commented on #13370
Last grinder had test failures in`BasicCancelTest.java.BasicCancelTest` and `ZeroCoreThreads.java.ZeroCoreThreads`. Both of which seem to be due to infra issues. Here's another grinder of 50 iterations https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/18249/

[2021-09-20 17:00] zl-wang commented on #13167
@tajila I supposed you have all the right memory barriers in place in creating makeImpl-returned MT.  now, we assumed the MT we observed with NULL rtype is the "local" temporary copy.  Then, I figured we need a core-dump at the exception-throwing spot to make further progress.

[2021-09-20 17:27] pshipton commented on #13534
@AdamBrousseau not sure if this is a known issue or who we should tag.

[2021-09-20 18:46] 0xdaryl commented on #13167
I've seen a report that a similar backtrace was observed a single time on Win64 within IBM .  Julian is right that we'll need to capture a core file at the throw point to have a better idea what's going on here.

[2021-09-20 21:12] a7ehuo opened #13540 "Valhalla build crash with --enable-inline-types"
The crash happens during JVM build with `--enable-inline-types`. The crash is reproducible with `limit={jdk/internal/module/ModulePath.readExplodedModule(Ljava/nio/file/Path;)Ljava/lang/module/ModuleReference;,` although the crash is not limited to this method. It's also reproducible by excluding this method.

It looks that the last known good Build_JDKnext_x86-64_linux_valhalla_Nightly is 472. It

[2021-09-20 21:21] a7ehuo commented on #13411
I created #13540 to track the crash with building `--enable-inline-types`. The [stack trace from the JVM build](https://github.com/eclipse-openj9/openj9/issues/13411#issuecomment-918224897) with `--enable-inline-types` looks different from the [stacktrace from test DaaLoadTest_daa1_special_5m_8](https://github.com/eclipse-openj9/openj9/issues/13411#issue-982788483), although the vmState could be s

[2021-09-20 21:21] a7ehuo commented on #13540
@hzongaro fyi

[2021-09-21 00:43] ymanton commented on #13167
I don't have the data in front of me unfortunately but this description matches what's seen in the exception backtrace. It looks like the exception happens because we're trying to compute the hash code of a MT and it looks to me like it's this intermediate MT with the NULL `rtype` since there's only one such object in the core file.  Based on the line numbers the hash code is being computed becaus

[2021-09-21 00:55] pshipton commented on #13478
Removed the blocker label and moved it out. I won't close it, as then it will probably happen again. :)

[2021-09-21 11:18] Akira1Saitoh commented on #13485
2 failures reported occur at generation phase of the test. So, I ran the command used in that phase 2000 times, but got no failure.

[2021-09-21 11:34] JasonFengJ9 commented on #13508
Observed at `job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux/51/` (`ub18-aarch64-9`)
[code]

[2021-09-21 12:17] zl-wang commented on #13167
@tajila  ^^^

[2021-09-21 12:54] tajila commented on #13167
@ymanton

I looked at the test and there isn't a reason why the rtype should ever be null. So I think there is still another problem here. Adding a null check on the rtype before searching the intern table will just push the NPE somewhere else.

[2021-09-21 12:57] 0xdaryl commented on #13508
I'm closing this as a dup of #13472.

[2021-09-21 12:57] #13508 closed

[2021-09-21 12:59] AdamBrousseau commented on #13534
This is because of the point release. We recently released jdk 11.0.12+7 with OpenJ9 0.27.1 but only on aix and linux on ppc64le. Therefore, the latest release for linux on amd64 and s390x is still with OpenJ9 0.27.0. When the October refresh comes, we should be back to 1 image for all 3 architectures.

Does this clarify the issue and can it be closed?

[2021-09-21 13:13] tajila commented on #13167
Based on the stack trace, the null rtype comes from the `start.type().returnType();` of the `MethodHandle countedLoop(MethodHandle start, MethodHandle end, MethodHandle init, MethodHandle body)` call. In this test case it should be `int.class` as the start MH is `MethodHandles.constant(int.class, 5);`

[2021-09-21 13:26] JasonFengJ9 commented on #8493
Not in recent JDK17 **internal** builds, either head or `0.28` release.
The failures reported during `0.28` release were from **open** builds, defer the question to @pshipton .

[2021-09-21 13:27] pshipton commented on #13478
It happened again anyway.
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_linux_Nightly_testList_1/30
[code]

[2021-09-21 13:29] pshipton commented on #13478
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_x86-64_linux_Nightly_testList_1/30
[code]

[2021-09-21 13:29] pshipton commented on #13478
Still seems like a blocker.

[2021-09-21 13:36] DanHeidinga commented on #12759
@0xdaryl  Any progress on this?  It would be good to get it out of the 0.28 (Java 17) plan

[2021-09-21 13:40] a7ehuo commented on #13478
Ran 50x locally jdk17 building system test on X86 last night. All passed.

[2021-09-21 14:11] tajila commented on #11360
This is working, we have seperate issues to track the race condition

[2021-09-21 14:11] #11360 closed

[2021-09-21 14:21] 0xdaryl opened #13541 "Complete removal of strictfp paths in JIT"
Since strictfp was deprecated in JDK 17 these paths are no longer required and should be eliminated.  There only was a functional difference between strictfp and non-strictfp when Intel X87 floating point was used, and those paths have been disabled for years.  Semantically, OpenJ9 meets the floating point requirements for JDK 17 and earlier.

These paths should be eliminated in both OMR and OpenJ

[2021-09-21 14:23] 0xdaryl commented on #12759
Issue #13541 opened to track strictfp path cleanup.

Since strictfp is deprecated in JDK 17 these paths are no longer required and should be eliminated.  There is only a functional difference between strictfp and non-strictfp when Intel X87 floating point was used, and those paths have been disabled for years.  Semantically, OpenJ9 meets the floating point requirements for JDK 17 and earlier.  Clo

[2021-09-21 14:23] #12759 closed

[2021-09-21 15:13] AdamBrousseau commented on #13534
We have recently pushed IBM Semeru Runtime Open Edition unofficial UBI containers to DockerHub
https://hub.docker.com/u/ibmsemeruruntime

We are working on adding the latest point release over the next day or 2 so we'll ensure that the `latest` tag works to get you the latest for whichever arch you are on. I'm not sure yet if these will be here long term (TBD) but the AdoptOopenJDK ones won't be t

[2021-09-21 17:05] pshipton commented on #8493
Any failures in open builds are reported in comments, so the last failure was 13 days ago https://github.com/eclipse-openj9/openj9/issues/8493#issuecomment-915576907

[2021-09-21 17:07] pshipton commented on #8493
This is not marked blocker, and the failure frequency doesn't indicate a blocker, I have no issue moving it forward.

[2021-09-21 17:57] pshipton commented on #13478
Maybe you need to try the same machine(s) that are failing in order to reproduce it. Recent failures are on cent7-x64-3.

[2021-09-21 18:00] cedrichansen opened #13543 "Make `-Xmnx` proportional to `-Xsoftmx` in Balanced GC"
With the existing balanced GC eden sizing logic (and even with changes introduced in https://github.com/eclipse-openj9/openj9/pull/12043) , if a user specifies `-Xmx10G -Xmnx5G -Xsoftmx2G`, then the `-xmnx` being used by the eden sizing logic will be `5G`.

In Gencon, as of https://github.com/eclipse/omr/pull/6141, this behaviour has been modified, such that the actual maximum amount of space used

[2021-09-21 18:00] cedrichansen commented on #13543
@amicic @dmitripivkine

[2021-09-21 18:26] keithc-ca commented on #13529
Once this is is resolved, the test for jdk17+ in https://github.com/eclipse-openj9/openj9/blob/master/test/functional/Java8andUp/src/j9vm/test/invoker/InvokeSpecialInsideInterface.java#L71 can be removed.

[2021-09-21 18:33] hzongaro commented on #13180
Again, I still haven't reproduced those assertion failures.  I have been able to reproduce the failure that I reported in [the previous comment](#issuecomment-921241771) in grinder runs 4 times out of 10 and 5 times out of 10.

Looking at the tests involved, they seem to be using methods in `com.ibm.dataaccess.ByteArrayUnmarshaller`.  I'm just trying to see whether the failures are avoided running

[2021-09-21 18:45] tajila commented on #8493
50 job grinder, https://openj9-jenkins.osuosl.org/job/Grinder/220/tapResults/

[2021-09-21 18:54] AdamBrousseau commented on #13402
The changes required have been applied to the build jobs and the jres are now being signed. The next release of windows (0.28/0.29) should contain the fix. Closing this as resolved.

[2021-09-21 18:54] #13402 closed

[2021-09-21 19:01] BradleyWood commented on #13478
I don't have the permissions to launch a job on the public Jenkins. Can someone launch a bunch of runs on cent7-x64-3 against functional tests?

[2021-09-21 19:10] tajila commented on #2813
@dnakamura any update on this?

[2021-09-21 19:10] tajila commented on #2813
@dmitripivkine ^^

[2021-09-21 19:16] dusanboskovic commented on #13034
@keithc-ca for the current case that I had this was the OS information.
OS: CentOS (I believe)
kernel: 3.10.0-1160.36.2.el7.x86_64

I have the core file in BlueDiamond

Might not have the other cases, but I will keep an eye out for new ones that exhibit the same issue

[2021-09-21 19:27] pshipton commented on #13478
5x https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/222/

[2021-09-21 19:50] pshipton commented on #13478
The problem was repeated and the grinder stopped.

[2021-09-21 19:54] BradleyWood commented on #13478
Thanks for that. Interesting that it happened again on that machine. Can you launch a few runs against a different machine?

[2021-09-21 20:19] pshipton commented on #13478
Realized my 5x grinder was actually a 1x as I set the wrong thing.

I'm wondering if it's related to the shared cache. The machine is running OMR acceptance testing now, but I logged on and created a backup of the shared cache for later use. Later I'll try removing the cache and re-running to see if it's still reproduced, then restoring the cache and trying again.

The other machine where this occ

[2021-09-21 20:45] keithc-ca commented on #13034
I'm not sure what to take away from the `info sharedlibrary` output quoted above.
Which of the shared libraries mentioned there are included in the archive created by `jextract` and which are not?

[2021-09-21 20:52] tajila opened #13545 "CRIU Support: Add restore environment variables"
Add a new helper to CRIUSupport that will specify which file to look for the environment variables on a restore run.

[code]

Here is the format of the envFile

[code]

[2021-09-21 20:54] a7ehuo commented on #13540
The troublesome symref (`0x00007F1EFC472530`) is created in `TR_J9ByteCodeIlGenerator::loadInvokeCacheArrayElements` as `appendixSymRef` which is not a `TR::ResolvedMethodSymbol`. When later it's accessed in codegen, `castToResolvedMethodSymbol` is called on it, which is invalid.

It looks to me `appendixSymRef` is aliased to the original symref (`0x00007F1EFC472480`) which is `jitLoadFlattenableA

[2021-09-21 21:01] tajila commented on #13545
@tjwatson thoughts?

[2021-09-21 21:03] tajila commented on #13545
I'm wondering if `CRIUEnvOptions` is over design?

[2021-09-21 21:04] tajila commented on #13545
@DanHeidinga FYI

[2021-09-21 21:26] JasonFengJ9 commented on #13269
**Update:**

The testcase caused JDK11 [1] segmentation error at `Ubuntu 16.04.7`, but no error at `Ubuntu 18.04.5` and `Ubuntu 20.04.2`. Also tried `RHEL Server release 7.8 (Maipo)` and it works as well, but didn't find `RHEL Server release 7.6 (Maipo)` reported initially.
It appears a system issue fixed in later releases.

@a0304 can you check if your application works in the OS versions specifi

[2021-09-21 21:39] pshipton commented on #13478
Grinder passed.
cent7-x64-1, cent7-x64-2, cent7-x64-4, cent7-x64-5, cent7-x64-6
ub16x64j91, ub16x64j95, ub16x64j96, ub16x64j98
ub18-x86-1

[2021-09-22 00:07] Akira1Saitoh commented on #13485
Ran 30x special.system in Grinder with modified stf.pl which only executes generation phase. Observed 1 failure. `/job/Grinder/18265/`
I used `-Xdump` option to generate a dump when `NullPointerException` is thrown by `java.lang.invoke.LambdaForm$DMH/0x0000000000000000.invokeStatic`, but the system dump was not generated.

[2021-09-22 00:30] 0xdaryl commented on #13537
Since this has been re-opened and it appears to be a Power-specific crash (reported twice), @zl-wang could you please assign for triage?

[2021-09-22 00:47] pshipton commented on #13478
Doing more than 1x grinder is useless, as the tests are only built once and then run multiple times.

I ran a couple more grinders on cent7-x64-3 but they worked. I'll try tomorrow with the shared cache I saved when it was failing.

[2021-09-22 02:21] mnalam-p commented on #13524
The crash is byproduct of trying to load an invalid address in the jitted code. The problematic jitted method is -
`jdk/internal/util/random/RandomSupport$RandomLongsSpliterator.forEachRemaining`

From the jitdump the problematic IL is the following -
[code]

Looking at the `RandomLongsSpliterator` class, it matches with the load offset (40) -
[code]

But field `generatingGenerator` should have a

[2021-09-22 03:01] VermaSh commented on #13370
No failures on z14 and z15 either. So far all 150 iterations of `jdk_util_1` have passed. I think we can close this issue.

[2021-09-22 09:03] Akira1Saitoh commented on #13485
Finally, I could get system dumps. `/job/Grinder/18295/`

[code]

[code]

[2021-09-22 09:11] Akira1Saitoh commented on #13485
I believe the NPE occurred at `0xffff82b4dc28:      ldr     w3, [x1, #32]`.

[code]

at 0xffff82b4dc24, the value are loaded from x25 + 36, but x25 seems to have a string object.

[code]

This branch instruction is a call to `java/lang/StringConcatHelper::prepend`

[2021-09-22 10:03] Akira1Saitoh commented on #13485
The trace taken when NPE does *not* occur.  The above `ldr w1, [x25, #36]` seems to be ` iloadi  java/lang/invoke/BoundMethodHandle$Species_LLLLLLL.argL2`.

[code]

[2021-09-22 11:42] zl-wang commented on #13537
@IBMJimmyk  please take a look

[2021-09-22 12:20] pshipton commented on #13370
@JasonFengJ9 I'll leave this to you.

[2021-09-22 12:49] zl-wang commented on #13524
@mnalam-p   the obvious question needing answer is whether type  `java/util/concurrent/ThreadLocalRandom$ThreadLocalRandomProxy`  is a sub-type of  `java/util/SplittableRandom$AbstractSplittableGeneratorProxy`.

my guess to the answer is no (since i didn't see `this$0` field in the class verbose list), then the problem turned into ILgen or inliner (field `this$0` getter inlined) error:  you cannot

[2021-09-22 13:07] rajdeepsingh1 commented on #12817
`libnftables` does not exist on cent6, also tried to install `libcriu` on cent6 and `libnftables` seems to be a dependency

@tajila As discussed, we cannot proceed with the install on cent6

[code]

[2021-09-22 13:09] JasonFengJ9 commented on #13370
The grinder https://github.com/eclipse-openj9/openj9/issues/13370#issuecomment-923098111 was run w/ an aged build [1]. Earlier grinder results have been purged so not sure what JDKs were used.
Started another grinder w/ a recent `0.28` release build at `view/Test_grinder/job/Grinder/18319/`

On the other hand, the failure reported initially wasn't observed in recent JDK17 runs.
Will close this iss

[2021-09-22 13:20] #13289 closed

[2021-09-22 13:26] babsingh commented on #13368
### Summary

This issue only happens with the `JIT enabled in JDK17`. The issue is not seen neither with `-Xint` nor `JDK11`.

I have personally seen high **RES** memory usage on **pLinux** and **xLinux**. As per https://github.com/eclipse-openj9/openj9/issues/13368#issuecomment-916834915, this failure was also seen on **zLinux** and **aarch64**. Hence, this behaviour most probably happens across

[2021-09-22 13:31] pshipton commented on #13478
After restoring the shared cache I had saved, the problem reproduced.
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/231
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/233

Found this AOT in the cache, and used `-Xshareclasses:invalidateaotmethods=java/util/stream/ReferencePipeline\$3\$1.accept` to invalidate it.
[code]
Problem didn't reproduce afterwards https://openj9-jenkins.o

[2021-09-22 13:34] pshipton commented on #13478
Actually I don't think the cache needs to be in the same location, just the jdk. It needs to be in the default location for the user in order to be used by default, which is $HOME/javasharedresources

[2021-09-22 13:39] BradleyWood commented on #13478
Great, can the blocker tag be removed?

[2021-09-22 13:40] pshipton commented on #13478
It's still a problem that seems to happen fairly frequently, where it appears we are generating bad AOT code.

[2021-09-22 13:41] pshipton commented on #13478
fyi from the cache on cent7-x64-3
[code]

[2021-09-22 13:57] tajila commented on #12719
Since we have a workaround Ill move this up

[2021-09-22 14:46] a7ehuo commented on #13540
It is not an issue when value type is not enabled (not building with `--enable-inline-types`) because the array element is loaded with `aloadi` and its symref  is not a method symbol [1]. One fix could be to separate `loadArrayElement` into two APIs: `loadArrayElement` and `loadArrayElementNoHelperCall`. `loadArrayElementNoHelperCall` will do a regular array element load (not invoke the helper cal

[2021-09-22 15:03] fengxue-IS commented on #13162
I tried running grinders using a custom build with more debug info printed, and I was not able to reproduce the failure.
100/100 passed for s390_linux `SpinedBufferTest.java`
100/100 passed for mac_osx `CountLargeTest.java`
50/50 passed for x86-64_window `SpinedBufferTest.java`
Will try reproducing using stock nightly build.

[2021-09-22 15:07] pshipton commented on #12719
Ya, this just remains open now to resolve the infra issue, since we've been discussing it here.

[2021-09-22 15:08] tjwatson commented on #13545
I suggest you start with no `CRIUEnvOptions` and only have `public CRIUSupport setRestoreEnvFile(Path envFile);` method that does the overwrite.  If we need the options later that can be added then.

[2021-09-22 15:27] tjwatson commented on #13545
Perhaps it should be:

[code]

This way clients of the API can use any mechanism they want to read the current env.  Not sure how complicated that makes it for the JVM to call out to the function on restore to do that though.

[2021-09-22 15:27] 0xdaryl commented on #13524
@hzongaro : please investigate from an optimizer perspective

[2021-09-22 15:30] 0xdaryl commented on #13369
Closing, as the original problem reported in this issue is a likely dup of #13180.  Other issues encountered during the investigation seem to be tracked by other issues.

[2021-09-22 15:30] #13369 closed

[2021-09-22 16:27] pshipton commented on #13457
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64_aix_Nightly_testList_1/31
cmdLineTest_J9test_common_0

[2021-09-22 16:28] pshipton commented on #13524
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/31/

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/31/openjdk_test_output.tar.gz

[2021-09-22 17:49] llxia opened #13546 "testng jar is not downloaded for local testing"
In local testing, set
[code]

`make compile` failed with the following msg:
[code]

I think the reason is that there is no getDependentLibs in https://github.com/eclipse-openj9/openj9/blob/master/test/functional/cmdLineTests/utils/build.xml

[2021-09-22 17:49] llxia commented on #13546
@renfeiw could you take a look? Thanks

[2021-09-22 18:08] a7ehuo opened #13547 "ValueTypes: Valhalla functional tests fail due to java.lang.NoSuchMethodException"
Valhalla functional tests fail due to  `java.lang.NoSuchMethodException`.

To reproduce the failures, https://github.com/eclipse-openj9/openj9/commit/5ec05b264432095ccda668129c3900b55671b89b is required to bypass Valhalla build failure tracked in #13540

[code]

[code]

[2021-09-22 18:14] a7ehuo commented on #13547
@tajila Is this related to #12183? Will it be implemented soon? It looks like all Valhalla functional tests fail. Thanks!
@hzongaro fyi

[2021-09-22 19:23] #12185 closed

[2021-09-22 19:23] #12183 closed

[2021-09-22 19:32] jdmcclur opened #13548 "Performance difference between 0.24.0 and 0.26.0 in containers running AcmeAirMS benchmark on Open Liberty."
I am seeing a throughput regression of around 5% when running the AcmeAir MS benchmark, which has 5 different services, in a docker environment with OpenLiberty built on top of adoptopenjdk:8-jre-openj9 (0.26.0)  compared to the same version of Open Liberty running on adoptopenjdk/openjdk8-openj9:jre8u282-b08_openj9-0.24.0.

This has been tricky to debug - if I take this out of the docker env, the

[2021-09-22 19:34] tajila opened #13549 "ValueTypes: Add support for ojdk_mh"
The existing valuetypes JDK is based off of jdknext. This repo doesn't have the required VT support in method handles. We will need to start building off https://github.com/openjdk/valhalla instead of the head repo.

In the short term, we will need to change our tests to use `makeValueGeneric` helpers and `generate[Getter|Setter|Wither]Generic` helpers as they do not mention q-types. Anything that

[2021-09-22 19:35] tajila commented on #13549
This is blocking https://github.com/eclipse-openj9/openj9/issues/13547

[2021-09-22 19:43] hangshao0 commented on #13549
In the middle of #13414, may take me some time to get to this.

[2021-09-22 20:26] DanHeidinga commented on #13545
Is that meant to be `ProcessBuilder:environment()` or `System::getEnv()`?

[2021-09-22 20:38] DanHeidinga commented on #13545
While I've said previously this - or some similar use of the LifeCycle api hooks - is the only way to modify the environment on restore, I'm very dubious this will ever by practically useful.  It will also be the kind of attractive nuisance that becomes a bug factory.

Updating the maps returned by `System::getEnv()` for **new** calls is doable, but leaves the application in an inconsistent state.

[2021-09-22 20:42] tajila commented on #13545
Both of those just redirect to `ProcessEnvironment`.

[2021-09-22 20:54] nbhuiyan commented on #13540
@a7ehuo We just need to check if the array element load is being performed via a helper call, and use the appropriate functions and steps to generate the trees to load appendix object that way. The same check should also be done for the MemberName object load. We also need to skip refining the appendix object with known object info. Perhaps we can introduce something like `loadInvokeCacheArrayElem

[2021-09-22 21:06] tjwatson commented on #13545
For our use case we have config that can be set by values in the environment.  When an environment variable key is used in such a way our configuration store records the key name and persists the configuration value (both in memory and on disk).  Outside of the checkpoint scenario we already do a consistency check each startup to see the value for the env keys our configuration is using has change

[2021-09-22 21:14] a7ehuo commented on #13540
@nbhuiyan Will call site table entry ever be VT and flattened? If call site table entry will not be VT, we don't have to use the helper call which is slow. We could just [split the loadArrayElement API suggested above](https://github.com/eclipse-openj9/openj9/issues/13540#issuecomment-925001825) to load call site table entry using `aloadi` instead of helper calls. The reason that helper calls are

[2021-09-22 23:08] pshipton commented on #13548
@mpirvu @vijaysun-omr fyi

0.27 is released, for now you can get docker images as described in https://github.com/eclipse-openj9/openj9/issues/13534#issuecomment-924085997

[2021-09-23 00:05] nbhuiyan commented on #13540
The call site table entry itself is not a Java array, but the address of a C array which does not reside in the Java heap or stack. The contents of the C array itself are Java object references. Therefore, we can just use the prototype you implemented to just load the array elements using `aloadi`.

[2021-09-23 01:31] mpirvu commented on #13548
@jdmcclur Did you build the Liberty containers yourself, or did you use Liberty images published on Docker Hub?
At some point OpenJ9 started to embed a shared class cache into the containers and  Liberty images create another SCC layer on top. I don't remember when exactly these changes took place (they happened gradually), but I can check if I know exactly which images you are using.

[2021-09-23 03:28] DanHeidinga commented on #13545
That's pretty cool that your software has the right kind of hooks to handle "configuration change events".  Also, I'd guess somewhat unusual compared to most systems?

Right.  And that makes perfect sense in a container situation.  That's not quite what we have with a checkpoint/restore scenario as we're **restoring** an existing process that already has an environment allocated.  My understanding

[2021-09-23 05:23] AdamBrousseau commented on #12817
I think the next logical choice is cent7 since we know we can build on those machines for jdk15+ so 8/11 should be fine too. We'll just have to hack some pipelines to get a build going.

[2021-09-23 11:53] JasonFengJ9 commented on #13488
A grinder `view/Test_grinder/job/Grinder/18319/` from https://github.com/eclipse-openj9/openj9/issues/13370#issuecomment-924914526 produced another error due to `exit code: 143` at `job/Grinder_testList_0/437/consoleFull`

[code]
This failure appears due to timeout which could be machine/network issue.
Not going to re-open this for now.

[2021-09-23 11:57] JasonFengJ9 commented on #13370
There were two failures from the grinder run https://github.com/eclipse-openj9/openj9/issues/13370#issuecomment-924914526
`job/Grinder_testList_0/437/consoleFull`
[code]
This is a known issue https://github.com/eclipse-openj9/openj9/issues/13162

[code]
This appears another manifestation of https://github.com/eclipse-openj9/openj9/issues/13488

No failure initially reported in this issue was obser

[2021-09-23 11:57] #13370 closed

[2021-09-23 12:38] monwolf commented on #1876
We are at the same point, we are really happy with the low memory footprint but we lost a good capacity of our current APM system that is the real-time profiling of the APP.

[2021-09-23 13:04] hzongaro commented on #13524
@mnalam-p and I investigated further.  It looks like this might be an issue with Field Privatization.  This is a snippet of IL just before Field Privatization.  It looks that optimization moves the load at n486n before the `inlineProfiledGuard` at n1170n.

[code]

[2021-09-23 13:09] tjwatson commented on #13545
True, I would not say this kind of environment restoration should be the default.  The proposed `setRestoreEnv` method would have to be used to enable it.

Today this is true, but it has nothing to do with containers.  Any env vars set just before doing a `criu restore` outside of containers will also restore a process that will not see the env vars just set, only the ones that were available at c

[2021-09-23 13:17] tajila commented on #13545
The container scenario is an important use case for us. If this feature is ever going to be used in production environments we need to address the major concerns when deploying in container environments. So we want env vars to be visible to the restored process. The new API is a first attempt at getting a more accurate view of the environment after restore. I think there are better (but more diffi

[2021-09-23 13:21] tajila commented on #13549
Okay, @EricYangIBM can you take a look at this

[2021-09-23 14:17] babsingh commented on #13457
cmdLineTest_J9test_common_0

The above failure is not the same as the previous failures. This one happens in JIT code. @0xdaryl @nbhuiyan @jdmpapin Is the below failure being tracked in an existing issue?
[code]

[2021-09-23 14:19] JasonFengJ9 commented on #13549
Is this `openj9-openjdk-jdk.valuetypes` going to be the repo `github.com/openjdk/valhalla` w/ OpenJ9 JCL patches just like `openj9-openjdk-jdk` which is `github.com/openjdk/jdk` w/ JCL patches?
It sounds another extension repo mirror/merging build from `github.com/openjdk/valhalla` regularly before `valhalla` is merged into `jdk` head stream, right?

[2021-09-23 14:41] tajila commented on #13549
Yes, thats the idea. The closer we get to the release the more JCL changes we will need for VTs

[2021-09-23 14:41] tajila commented on #13549
We will also need to do something like this for Loom

[2021-09-23 14:53] JasonFengJ9 commented on #13549
We will also need to do something like this for Loom

Sure, do we have some timelines set for these repos?

[2021-09-23 14:55] pshipton commented on #10732
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly_testList_0/106
testSoftMxNotDisclaimMemory_3
-Xjit -Xgcpolicy:balanced -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly_testList_0/106/functional_test_output.tar.gz
[code]

[2021-09-23 14:58] pshipton commented on #10732
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly_testList_0/106
testSoftMxNotDisclaimMemory_3
-Xjit -Xgcpolicy:balanced -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly_testList_0/106/functional_test_output.tar.gz
[code]

[2021-09-23 14:58] pshipton commented on #10732
@dmitripivkine this failed on both jdk8 and 11 last night, may be a new problem.

[2021-09-23 15:00] pshipton commented on #10732
Note the open jdk17 builds are running the 0.28 release stream and not testing head.

[2021-09-23 15:11] keithc-ca commented on #13034
Those libraries may not be in the locations as described in the core file; that doesn't mean that `jpackcore` (aka `jextract`) omitted them. Unless `jdmpview` can't find them for the `info mod` command, things are working as expected.

[2021-09-23 15:23] dmitripivkine commented on #10732
I checked both failures - heap is contracted as expected

[2021-09-23 15:36] pshipton commented on #13162
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/32
jdk_util_1
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/32/openjdk_test_output.tar.gz
[code]

[2021-09-23 15:39] pshipton commented on #13472
First time we've had aarch64 testing in the open nightly.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/1 - cent8-aarch64-1
[code]

[2021-09-23 15:41] jdmpapin commented on #13472
I have a fix in the works based on my previous comment, and I should be able to open a PR for it pretty soon

[2021-09-23 15:42] pshipton opened #13556 "InternalError: SIGBUS on aarch64 instead of NPE"
First time we've had aarch64 testing in the open nightly. I expect this should be a NPE and not `InternalError: SIGBUS`

See https://github.com/eclipse-openj9/openj9/issues/13472

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/1 - cent8-aarch64-1
jdk_lang_1
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:

[2021-09-23 15:42] pshipton commented on #13556
@knn-k @0xdaryl fyi

[2021-09-23 15:43] pshipton commented on #13556
Seems we had https://github.com/eclipse-openj9/openj9/issues/13508 open which is closed as a dup. Will that address the SIGBUS problem?

[2021-09-23 15:48] JasonFengJ9 commented on #13549
Tracking this at `infrastructure/issues/6004`.

[2021-09-23 15:50] pshipton commented on #10732
We got one on jdk17 (0.28 release stream) as well, in the first open testing on aarch64.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_aarch64_linux_Nightly_testList_1/1
testSoftMxDisclaimMemory_2
-Xcompressedrefs -Xjit -Xgcpolicy:optthruput

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.functional_aarch64_linux_Nightly_t

[2021-09-23 15:56] DanHeidinga commented on #13545
Right.  So we're on the same page here - env vars set prior to the `criu restore` aren't visible by default to the restored process.  Common container practices complicate the story here as users are used to injecting them into the container and have the **new** process they run in that container see those env vars.  This won't be the default case for a **restored** process.

We're also in agreeme

[2021-09-23 16:05] fengxue-IS commented on #13162
50x using nightly build for each platform also passed, I assume this can only be reproduced when running entire suite, will try running the entire `jdk_util_0` and `jdk_util_1` in grinder.

I also inspected the bytecode at which the NPE is thrown:
[code]

[code]
The exception message seem to suggest that the receiver created by `new & dup` bytecode is null, which I don't think is possible from VM

[2021-09-23 16:11] manqingl opened #13557 "Provide option to TraceFormat so that the timestamps of the trace entries have the date."
Currently the timestamps only have the hh:MM:ss.

This is problematic when the trace buffer contains data from multiple days.

@keithc-ca FYI

[2021-09-23 16:24] tjwatson commented on #13545
I'll have to think about this some more and see how the typical user configures the system for defaults.  Our config is always going to lookup "placeholder" environment keys that are configured in our server configuration.  If this returns null then we move on as if the config is not set.  On restore the env key may be set in the running container, we will kick our config to check again to see if

[2021-09-23 16:28] 1a2s3d4f1 opened #13558 "Eden size over maxium size (nightly build)"
Java -version output
--------------------
[code]
Summary of problem
------------------
Jconsole can not get eden pool size when eden size over maximum new space size.
Eden size increase bigger than maximum new space size, It cause "MemoryMXBean notification dispatcher" thread thrown a error.
Use "-verbose:sizes" option getted maximum new space size(max eden size).

Diagnostic files
---------------

[2021-09-23 16:44] 0xdaryl commented on #13181
The original problem reported in this issue is a variant of #13485 (confirmed looking into 7 of the 50 test failures).  All other issues encountered in this investigation have issues opened for them.  Closing this as a dup of 13485.

[2021-09-23 16:44] #13181 closed

[2021-09-23 16:55] keithc-ca commented on #13471
Using a couple of the sample ignored options in the description, with my potential change
[code]
adds after the section
[code]
the following
[code]
The arguments shown are those with `CONSUMABLE_ARG`, but not `ARG_CONSUMED` in `J9CmdLineOption.flags`.

Thoughts, suggestions?

[2021-09-23 17:02] DanHeidinga commented on #13545
As Tobi corrected me on above, the JVM caches the C environment in ProcessEnvironment.  When applying env vars from the file, we can reject / fail for any vars already defined in the ProcessEnvironment map.  Tracking the lookups of vars defined in that cached environment is possible (and maybe the deluxe version of this) but unnecessary if we treat the env at the time of the checkpoint as immutabl

[2021-09-23 17:16] 0xdaryl commented on #13478
Just tagging @dsouzai as @BradleyWood may need some help understanding what artifacts to generate and how to interpret them.

[2021-09-23 17:26] tajila commented on #13545
Yes. My usage of "new process" referred to the JVM abstraction layer that applications run on (and yes there are implications for native resources). From the OS level the process is the same.

Agreed. What we would like to do is provide a standard set of JVM restore hooks (and controls to enable/disable). This will give users some guarantees about the environment (JVM environment) after restore. T

[2021-09-23 17:39] vijaysun-omr commented on #13545
We need to be driven by the use case we have to support here.

@tjwatson if we allowed both environment variables that 1) returned null when queried before the checkpoint was taken and 2) were not queried before the checkpoint was taken to be mutated on restore, would that work for all your use cases ?

[2021-09-23 17:49] JasonFengJ9 commented on #13162
at java.base/java.lang.invoke.MethodHandleImpl.makeIntrinsic(MethodHandleImpl.java:1310)

This NPE message indicated that `MethodHandleImpl$IntrinsicMethodHandle.<init>` failed at [1], which is odd because the line throwing NPE is a `static` method call. It appears somehow it was treated as `instance` method invocation and `<init>` caused NPE.

https://github.com/ibmruntimes/openj9-openjdk-jdk/blo

[2021-09-23 17:53] tjwatson commented on #13545
That is unclear to me.  I need to check with our config team.

I worry the typical user will set some default ENV in their Dockerfile to build a container image.  Then when liberty starts to prime the cache that env will be looked at to configure the default for the server.  Then we will checkpoint with that default ENV var set and looked up by liberty.  At that point a container image will be cre

[2021-09-23 18:24] jdmcclur commented on #13548
@mpirvu - I built the liberty images myself, but did it the same way as the official builds so it should be the same.  Both builds are using layers on top of the SCC provided by java, but the last layer (the application layer) is bigger in the 0.24.0 which is interesting.

[code]

[2021-09-23 18:26] DanHeidinga commented on #13545
Replying to bits and pieces from the comments above (and not necessarily in order):

+1.

Right.  Let's start with a constrained api and see where it falls down.  We all agree that some exploration / experimentation is required here so let's start with a constrained set of capabilities and grow it when we need to.  If we start with an all-seeing all-dancing super-unsafe api we'll have a hard time

[2021-09-23 19:38] IBMJimmyk commented on #13537
The Artifacts from the original job are gone so I've been trying to reproduce the issue.

I ran two grinders with 20 runs each. Overall I got 40/40 passed:
job/Grinder/18361/
job/Grinder/18365/

I also ran the test locally and that passed 60/60.

I'm going to keep trying but so far I don't have anything to work with.

[2021-09-23 19:42] pshipton commented on #13162
This was tagged vm since vm was looking. I'll tag jit since indications are looking more like a jit problem.

[2021-09-23 19:50] fengxue-IS commented on #13162
10/10 passed on s390-linux for entire jdk_util_1 suite (`Test_grinder/job/Grinder/18363`), this seem hard to reproduce individually on grinder, is there any setup differences between grinder vs sanity.openjdk target?

[2021-09-23 19:57] pshipton commented on #13537
The artifacts are not gone, there is an extra `/` in the link(s). I'm PM you a working link.

[2021-09-23 20:01] pshipton commented on #13537
The artifacts for the open failure are not gone either, just tricky to find since the job pointing at them is gone.

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.system_ppc64le_linux_Nightly_testList_0/13/

[2021-09-23 20:03] pshipton commented on #13537
Artifacts should be retained for at least a month, probably longer internally, so if the failures aren't that old then it's likely they are still around.

[2021-09-23 20:08] JasonFengJ9 commented on #13162
I think larger grinder is required. This NPE appeared once out of 35 `jdk_util_1` runs at https://github.com/eclipse-openj9/openj9/issues/13370#issuecomment-925742840

[2021-09-23 20:09] fengxue-IS commented on #13162
I will try running a 50x grinder for this then, thanks for the info

[2021-09-23 20:16] JasonFengJ9 commented on #13537
The [initial failure link](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk17_j9_sanity.system_ppc64le_linux_testList_2/51/console) is still around.

[2021-09-23 20:26] IBMJimmyk commented on #13537
I got the artifacts. The problem was the extra `/` in the links.

[2021-09-23 20:43] pshipton commented on #13537
The artifactory link in the jenkins job contains an extra `/`, which results in 404. Created an internal infra issue 6006.

[2021-09-23 20:47] pshipton commented on #13537
@JasonFengJ9 also note re https://github.com/eclipse-openj9/openj9/issues/13410#issuecomment-912711246 it's useful to have the link to [child job](https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64le_linux_Nightly_testList_0/13/) which failed and not the [parent job](https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64le_linux_Nightly/13), as the art

[2021-09-23 20:48] pshipton commented on #13537
Either that or a direct link to the artifacts.

[2021-09-23 20:57] cedrichansen commented on #10721
https://github.com/eclipse-openj9/openj9/pull/12043 has been merged, which addresses "Suboptimal Eden/Nursery Sizing (both over and undersized)"

[2021-09-23 21:19] pshipton opened #13561 "-XX:-UseCompressedOops doesn't work"
-XX:-UseCompressedOops should be equivalent to -Xnocompressedrefs, and I see there is some code in the redirector which looks at it, but it doesn't work. Guessing it's been broken since mixed refs.

semeru version "11.0.12" 2021-07-20
Semeru Runtime Environment 11.0.12.0-m2 (build 11.0.12+6)
Eclipse OpenJ9 VM 11.0.12.0-m2 (build v0.27.0-release-5b9d76f56, JRE 11 Linux amd64-64-Bit **Compressed Ref

[2021-09-23 21:23] pshipton commented on #13561
Works fine for IBM Java 8. @dmitripivkine fyi in case you know why it's not working.

[2021-09-23 21:25] pshipton commented on #13471
I don't see `-XX:-UseCompressedOops` and `-XX:+UseCompressedOops` in the ignoredOptionTable, they probably need to be added once we fix them https://github.com/eclipse-openj9/openj9/issues/13561

[2021-09-23 21:29] pshipton commented on #13485
I think this is not particular to aarch64 since https://github.com/eclipse-openj9/openj9/issues/13181 is closed as a dup, removing the label.

[2021-09-23 21:39] JasonFengJ9 commented on #13537
I think this is specific to open builds.

The [parent job](https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64le_linux_Nightly/13/console) has all child job links.
Scroll down to the bottom of console output w/ the link above, following text contains the link to the child job in question:
Copied 1 artifact from "[Test_openjdk17_j9_sanity.system_ppc64le_linux_Nightly_testLis

[2021-09-23 21:46] pshipton commented on #13537
I don't think so.
job: job/Test_openjdk17_j9_sanity.system_ppc64le_linux_testList_2/51/
artifact: Test_openjdk17_j9_sanity.system_ppc64le_linux_testList_2/51/

Right but that doesn't help if the parent job is also gone and all we have left is the comments in issues.

[2021-09-23 22:07] JasonFengJ9 commented on #13537
artifact: Test_openjdk17_j9_sanity.system_ppc64le_linux_testList_2/51/

Both [job link](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk17_j9_sanity.system_ppc64le_linux_testList_2/51/) and [artifact](https://na.artifactory.swg-devops.com/artifactory/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com/Test_openjdk17_j9_sanity.system_ppc64le_linux_testList_2/51/system_test_output.t

[2021-09-23 22:40] jdmpapin commented on #13556
The problem in #13472 just has us loading from an address of the form `clazz + sizeof (J9Class) - x` where `x` has its top bit set. I see no reason why (depending on circumstances) this bad load couldn't trap with `SIGBUS` instead of `SIGSEGV`, so I expect that this is a duplicate. #13472 also encompasses outright crashes in cases where the signal was not translated into an exception.

[2021-09-23 22:57] #13556 closed

[2021-09-23 23:17] #2527 closed

[2021-09-23 23:21] pshipton commented on #2640
aarch64 is supported now.

[2021-09-23 23:21] #2640 closed

[2021-09-24 11:28] JasonFengJ9 commented on #13537
A similar segmentation error w/ `vmState=0x00000000` observed at JDK17 `0.28` release build `job/Test_openjdk17_j9_special.system_ppc64le_linux_Personal/42/tapResults/` (`ubu20le-rt1-2`)
[code]

[2021-09-24 11:37] JasonFengJ9 commented on #13368
An occurrence of exit code (137) observed at `job/Test_openjdk17_j9_special.system_s390x_linux_Personal_testList_0/40/tapResults/` (`ub18s390xrt-1-2`)
[code]

[2021-09-24 11:42] JasonFengJ9 commented on #13499
`LambdaLoadTest_special_J9_5m_21_FAILED` at `job/Test_openjdk17_j9_special.system_s390x_linux_Personal_testList_2/40/tapResults/` (`rhel7s390x-3-7`)
[code]

[2021-09-24 11:57] 0xdaryl commented on #13457
It is hard to tell directly.  The context of the crash (from the stack trace) is unfamiliar.  But there are other reports of corrupt slots and objects (e.g., 13499).

[2021-09-24 13:01] #13546 closed

[2021-09-24 13:13] mpirvu opened #13563 "Add vlog timestamp when jitserver started"
When an OpenJ9 JVM starts, it prints into the verbose log (if enabled) the current time. E.g.
[code]
It would be useful for jitserver to show similar information. The current time is printed by the sampling thread which jitserver is missing, but we can use the listener thread for the same purpose.

[2021-09-24 13:32] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly_testList_0/103
ConcurrentLoadTest_5m_2 (no options)
[code]

[2021-09-24 13:38] pshipton commented on #10732
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly_testList_0/107 - win2012-x86-2
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly/107 - win2012-x86-8
testSoftMxNotDisclaimMemory_3

@dmitripivkine I have to think this is related to the recent GC change when it occurs every night now. You might run a gr

[2021-09-24 13:55] #13547 closed

[2021-09-24 13:55] tajila commented on #13547
@a7ehuo We have updated the tests, should work now.

[2021-09-24 14:09] mpirvu commented on #13368
I looked at the verbose log from https://github.com/eclipse-openj9/openj9/issues/13368#issuecomment-924930306 and saw 98 JIT scratch segments of 16MB each. There is just one compilation thread active, which most likely is performing a compilation. A compilation thread is not allowed to use more than 256MB of scratch memory, but for JSR292 methods we allow 6 times that value, 1.5GB. In the test I s

[2021-09-24 15:16] vijaysun-omr commented on #13548
Is there a difference between these runs if you run with -Xshareclasses:none ?

[2021-09-24 16:32] tjwatson commented on #13545
I discussed this with the config developer in Liberty.  If J9 chooses to only allow additional ENV variables to be added to the restored environment we do have a way users can deal with specifying defaults without needing to define the ENV vars in their Dockerfile.  It would look something like this:

[code]
On checkpoint the config will have tried to look for `LIBERTY_HTTP_PORT` and `LIBERTY_HTTP

[2021-09-24 16:39] pshipton commented on #13516
Still offline.

[2021-09-24 17:36] DanHeidinga commented on #13545
+1

That makes sense.   We wouldn't track lookup attempts, but would treat the environment copied into Java (ProcessEnvironment) as add-only.  Adding a var that isn't in the config (ie: null result) should be fine.

[2021-09-24 17:56] a7ehuo commented on #13547
Thanks @tajila!

[2021-09-24 18:44] tjwatson commented on #13545
Say we want to warn users about cases where the restored environment value is going to be ignored.  Should that be done by the J9 or should we do that check above?  Assuming we use the `evnFile` approach, producing the warning above will mean that this `envFile` would have to be read by our code above as well as the J9 code below.

This is one reason I think providing a `Supplier<Map<String,String

[2021-09-24 18:58] gacholio commented on #13561
The -XX variants are not understood by the VM itself, so perhaps the internal redirector is translating them into the J9-specific ones. Probably adding a MAPOPT for the XX versions in the VM would solve this (and any handling can be removed from the redirector).

[2021-09-24 19:25] DanHeidinga commented on #13545
This seems reasonable.  And +1 to being security conscious about how we approach printing error messages.

This requirement is less clear to me.  I'm not sure what the benefit of deleting the file will be given the env vars will have been recorded into the Java heap.  The values will still be in memory.  What does deleting the file do?

For context, the flow would be something like: the user injec

[2021-09-24 19:52] tjwatson commented on #13545
I think you are probably correct.  I may be a bit paranoid here.  Besides the values in memory I think a container can be queried to find its environment settings also.  I just ask that the file doesn't somehow get pinned in such a way would prevent us from deleting it if necessary.  I can see no reason J9 would lock the file in that way.  That would likely just be a bug, like forgetting to close

[2021-09-24 20:11] babsingh commented on #13368
### Test

In [VarHandleTestAccessLong.java](https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/openj9/test/jdk/java/lang/invoke/VarHandles/VarHandleTestAccessLong.java), the memory explosion is seen in the [code for the `VarHandle -> Array` test case](https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/ff6a3e831bfc5ecd3219f7bf751449aac227973a/test/jdk/java/lang/invoke/VarHandles/VarHand

[2021-09-24 20:39] BradleyWood commented on #13478
Could not reproduce outside of `cent7-x64-3`. On `cent7-x64-3` I was unable to reproduce after a few hundred runs of javac after clearing the bad cache. After restoring the bad cache the issue occurs between 1 in 50 and 1 in 100 executions of javac.

When the issue doesn't present itself with the bad cache, we observe the following in the vlog

[code]

When the IncompatibleClassChangeError occurs,

[2021-09-24 21:16] mpirvu commented on #13368
In the default vlog there are 3 expensive compilations in terms of memory taking ~212MB, ~753MB and ~540MB.
[code]
The last two actually get interrupted, otherwise they could have consumed even more memory (up to 1.5GB) causing the OS/docker to kill the process.

When `scratchSpaceFactorWhenJSR292Workload=1` is used, there are two expensive compilations, but they stay around 220 MB.
[code]
As far

[2021-09-24 21:37] jdmcclur commented on #13548
Interesting, without using a SCC, the regression almost goes away.

SCC | Tput |  
-- | -- | --
0.24.0 | 6413.33 |  
0.26.0 | 5849.67 | 91.2%
  |   |  
No SCC | Tput  |  
0.24.0 | 6655.00 |  
0.26.0 | 6597.67 | 99.1%

</body>

</html>

[2021-09-25 08:09] 1a2s3d4f1 commented on #13558
Minimum EdenSize have a problem. It might be less than 0.
https://github.com/eclipse-openj9/openj9/blob/7f3e8d7edfac9c74bdd8f107cdbbbbd4a78f4266/runtime/gc_vlhgc/SchedulingDelegate.cpp#L139
[code]

[2021-09-26 16:13] 1a2s3d4f1 opened #13569 "Paper server can not patching jar when using balanced gc"
Java -version output
--------------------

[code]

Summary of problem
------------------
[Paper](https://papermc.io/) is a spigot(A type of minecraft server can load plugins.) fork. Balanced gc could break paper patching stage.
Gencon gc have no problem with paper.
Paper sources url:https://github.com/PaperMC/Paperclip/blob/main/java16/src/main/java/io/papermc/paperclip/Paperclip.java

Diagnostic

[2021-09-27 02:56] Akira1Saitoh commented on #13485
I haven't reproduced NPE after adding options to get logs: `-Xjit:verbose,vlog=vlog.txt,{net/adoptopenjdk/stf/environment/properties/OrderedProperties.getProperty(Ljava/lang/String;)Ljava/lang/String;}(traceCG,log=getProperty.log`.

[2021-09-27 03:08] hzongaro commented on #13180
I submitted a grinder run of DaaLoadTest_all_special_5m_4 using a recent JDK 17 MacOS nightly build and saw 100/100 pass.  I'm not sure of the cause of the `ByteArrayUnmarshaller` failures I was seeing in the earlier grinder runs which were using personal builds.

I'm just following up with @JasonFengJ9 on the failure seen with aarch64 JDK 8 to see whether I can reproduce that one with a recent bu

[2021-09-27 06:49] amesser opened #13570 "Memory Corruption shortly after starting jenkins app"
Java -version output
--------------------

openjdk version "11.0.12" 2021-07-20
IBM Semeru Runtime Open Edition 11.0.12.0 (build 11.0.12+7)
Eclipse OpenJ9 VM 11.0.12.0 (build openj9-0.27.0, JRE 11 Windows 7 amd64-64-Bit Compressed References 20210730_175 (JIT
enabled, AOT enabled)
OpenJ9   - 1851b0074
OMR      - 9db1c870d
JCL      - 21849e2ca0 based on jdk-11.0.12+7)

Summary of problem
----------

[2021-09-27 08:35] Akira1Saitoh commented on #13485
When NPE does not occur, `appendix object` is loaded from `callSiteTableEntry` after `Platform.shortName` is loaded and before the call to `java/lang/StringConcatHelper.stringOf`.  (n22n in the trace)
[code]

The appendix object is used to load arguments to `java/lang/StringConcatHelper.prepend`.

[code]

However, when NPE occurs, I do not find the load of `appendix object` in the instructions. I

[2021-09-27 10:08] knn-k commented on #13469
Not reproduced in a 10x Grinder job (job/Grinder/18414/).

[2021-09-27 12:22] pshipton commented on #13569
@dmitripivkine fyi

[2021-09-27 12:30] pshipton commented on #13570
We need the system core to investigate further, pls compress and share it using a service of your choice. If necessary, you can share it privately with me or any other active project committer or contributor.

[2021-09-27 12:32] hzongaro commented on #13504
I haven't had any luck reproducing this failure with either the original build or a more recent build.  Grinder runs on each showed 0/50 failures.

[2021-09-27 12:32] pshipton commented on #13570
It may also be worth trying 11.0.13 milestone 1 to see if the problem still occurs.
https://github.com/ibmruntimes/semeru11-binaries/releases/tag/jdk-11.0.13%2B05_openj9-0.29.0-m1

[2021-09-27 13:06] pshipton commented on #10732
This continues to occur in every head stream build/test, but did not occur in the 0.29 build which doesn't have the recent GC change. Set as a blocker for the 0.30 release.

[2021-09-27 13:07] pshipton commented on #5450
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly_testList_1/108
[code]

[2021-09-27 13:12] mpirvu commented on #13548
The regression could be related to the portable AOT feature. In docker we started to generate more generic AOT code (but also less optimized) so that the image can be used on more CPUs and more heap configurations.
@jdmcclur maybe you do an experiment outside docker, with 0.26, comparing one run with `-XX:+PortableSharedCache` to another run with `-XX:-PortableSharedCache`.

I don't have a reliabl

[2021-09-27 13:13] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/104
    com/sun/crypto/provider/Cipher/CTR/CounterMode.java.CounterMode
    com/sun/crypto/provider/Cipher/CTS/CTSMode.java.CTSMode
    com/sun/crypto/provider/Cipher/ChaCha20/ChaCha20KAT.java.ChaCha20KAT
    com/sun/crypto/provider/Cipher/ChaCha20/ChaCha20KeyGeneratorTest.java.ChaCha20KeyGeneratorTest

[2021-09-27 13:17] pshipton commented on #13167
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_windows_Nightly_testList_1/35
jsr292_MethodHandleAPI_Test_JitCount1_0 (NoOptions)
[code]

[2021-09-27 13:24] mateusbandeiraa opened #13571 "AttacherNotSupportedException thrown unexpectedly"
_This issue was initially discussed at raphw/byte-buddy#1118. There are more details in the original issue._

It seems that `com.ibm.tools.attach.attacher.OpenJ9VirtualMachine.attachTargetImpl` throws `com.sun.tools.attach.AttachNotSupportedException` when there's more than one instance of OpenJ9 processes running on Windows.
[code]

I discovered that if I run Eclipse with OpenJ9 as Administrator,

[2021-09-27 13:37] pshipton opened #13572 "java/lang/invoke/MethodHandlesAsCollectorTest.java testAsCollector null AssertionError"
https://github.com/eclipse-openj9/openj9/issues/13457
jdk_lang_0
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops
java/lang/invoke/MethodHandlesAsCollectorTest.java
[code]

[2021-09-27 13:38] pshipton commented on #13572
Perhaps related to https://github.com/eclipse-openj9/openj9/issues/13457

[2021-09-27 13:38] pshipton commented on #13457
Perhaps related https://github.com/eclipse-openj9/openj9/issues/13572

[2021-09-27 13:55] JasonFengJ9 opened #13573 "JDK17 AIX jdk_vector_1_FAILED : jdk/incubator/vector/Float64VectorLoadStoreTests.java - segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_ppc64_aix/19/` (`paix827 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=AdoptOpe

[2021-09-27 14:01] Tom-Poe commented on #13471
I'm not sure that's the complete list, but there's also `-XX:+HeapDumpOnOutOfMemoryError`
(or perhaps `-XX:-HeapDumpOnOutOfMemoryError`)
Also others.

[2021-09-27 14:01] dmitripivkine commented on #10732
I just double check again: Heap has been contracted as requested
<img width="696" alt="Screen Shot 2021-09-27 at 9 52 28 AM" src="https://user-images.githubusercontent.com/18148831/134922487-e73c9272-fced-4971-a8e0-84375717e07e.png">

The difference between old and new behaviour before heap allowed to expand above 512m (because `-Xmx1024m`), now it never exceeds softmx level

I think we should dou

[2021-09-27 14:04] mpirvu commented on #13368
@babsingh Could you please generate a compilation log for that method above with
`-Xjit:{VarHandleTestAccessLong.testArray(Ljava/lang/invoke/VarHandle;)V}(traceFull,log=log.txt)`
If the compilation gets interrupted we may not have the entire log, but hopefully we'll see inliner activity at the very least.
Tracing consumes additional scratch memory so we may see the OOM problem even sooner.

[2021-09-27 14:11] JasonFengJ9 opened #13574 "JDK17 ppc64le_linux : j9mm.107 * ** ASSERTION FAILED ** at ../../../../../../omr/gc/base/MemoryPoolAddressOrderedList.cpp:633: ((false && (freeEntrySize >= _minimumFreeEntrySize)))"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.openjdk_ppc64le_linux/20/` (`ub20lert-1-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=

[2021-09-27 14:16] JasonFengJ9 commented on #10732
Observed in an internal build `job/Test_openjdk17_j9_extended.functional_x86-64_windows/49/` (`win16x64rt-1-8`).
[code]
This is in JDK17 head w/ `-Xgcpolicy:balanced`.

[2021-09-27 14:27] dmitripivkine commented on #13574
@JasonFengJ9 Do you know are Artifacts stored for this failure? I see link but it returns 404... May be it its wrong link

[2021-09-27 14:32] JasonFengJ9 opened #13575 "renaissance test failure : StackOverflowError"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_extended.perf_ppc64_aix/31/` (`paix823`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=extended.perf&SDK_RESOURCE=upstream&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&EXTRA_DOCKER_ARGS=&VENDOR_TEST_DIRS=&TKG_OWNER_BRANCH=AdoptOpenJDK%3A

[2021-09-27 14:39] JasonFengJ9 commented on #13574
Jenkins Artifacts link is broken (`runtimes/backlog/issues/594`), use the [link](https://na.artifactory.swg-devops.com/artifactory/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com/Test_openjdk17_j9_extended.openjdk_ppc64le_linux/20/openjdk_test_output.tar.gz) within the console output instead.

[2021-09-27 15:13] JasonFengJ9 commented on #13504
An occurrence at JDK17 `0.28` release build `Test_openjdk17_j9_extended.system_s390x_linux_Personal/27/tapResults/` (`rhel7s390x-3-4`)
[code]

[2021-09-27 15:16] JasonFengJ9 commented on #13180
Just note this `j9mm.479` assertion failure hasn't appeared since last report https://github.com/eclipse-openj9/openj9/issues/13180#issuecomment-919517394.

[2021-09-27 15:27] pshipton commented on #13471
They do appear to be consumed.

[2021-09-27 15:31] pshipton commented on #13471
Note `-XX:[+|-]IgnoreUnrecognizedXXColonOptions` https://www.eclipse.org/openj9/docs/xxignoreunrecognizedxxcolonoptions/ can be used to get an error for unrecognized `-XX:` options.

[2021-09-27 16:02] pshipton commented on #10732
Sounds like the test needs to be  updated then?

[2021-09-27 16:09] pshipton commented on #13575
Is this a recent regression then, or a recent test addition?

[2021-09-27 16:44] babsingh commented on #13572
@pshipton Is there a link the core files? I would like to see if it is similar to https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-925858820.

[2021-09-27 16:50] LinHu2016 commented on #13569
it was one of known issue related with arraylet and GetPrimitiveArrayCritical()/ReleasePrimitiveArrayCritical() (https://github.com/eclipse-openj9/openj9/issues/702).
solution : use java option "-Xgc:enableArrayletDoubleMapping" for performance issue.
alternative solution : increase region size to avoid arraylet (such as region size is bigger than compressed file size) use java option "-Xgc:region

[2021-09-27 16:57] pshipton commented on #13572
@babsingh fixed the link in the description and added the link to the artifacts

[2021-09-27 16:57] jdmcclur commented on #13548
@mpirvu - There is a bit a difference outside of docker with the different options. (3 runs each, all about the same). I will note that outside of docker I am not using the java scc layers, it is just one SCC generated the first time the server starts.

-XX:+PortableSharedCache | 7729.33 |  
-- | -- | --
-XX:-PortableSharedCache | 7854.33 | 101.6%

I'll look into what acmeair monolithic looks like

[2021-09-27 16:58] pshipton commented on #13572
I don't think there is any core file for an AssertionError.

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/34/openjdk_test_output.tar.gz

[2021-09-27 16:58] gacholio commented on #13570
[code]

[2021-09-27 17:03] LinHu2016 commented on #13558
Thanks @1a2s3d4f1 for the information, I will investigate the case eden size = 0 or less than 0.

[2021-09-27 17:44] babsingh opened #13577 "VMBench.FibBench with -Xlockword:mode=minimizeFootprint Segfaults Intermittently"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64_aix_Nightly_testList_1/31

**cmdLineTest_J9test_common_0:**
[code]

**Java callstack:**
[code]

**Stackslots:**
[code]

**Native stack:**
[code]

**Assembly:**
[code]

**Registers:**
[code]

[2021-09-27 17:47] pshipton commented on #13569
Given the response I'll go ahead and close this, since it's a known issue. Hopefully some day resolved by the double mapping feature.

We can reopen if further comments indicate.

[2021-09-27 17:47] #13569 closed

[2021-09-27 17:49] pshipton commented on #13570
If the corruption is occurring in a direct byte buffer, it may be an application problem, writing outside the bounds of the buffer.

[2021-09-27 17:50] babsingh commented on #13457
Not completely sure if the failure discussed in https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-925858820 is related to the failure in https://github.com/eclipse-openj9/openj9/issues/13572. So, I have opened https://github.com/eclipse-openj9/openj9/issues/13577 to track the failure reported in https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-925089413.

[2021-09-27 17:55] pshipton commented on #13457
I meant that https://github.com/eclipse-openj9/openj9/issues/13572 may be related to this issue as a whole, not necessarily https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-925858820

[2021-09-27 18:29] babsingh commented on #13457
I am unable to reproduce the original failure documented in https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-921897687 and https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-921916925.

But, I noticed a perf issue. An excessive amount of time is being spent with SCC. 26 mins with SCC vs. 13 secs without SCC; and 12 mins with SCC vs. 8 secs without SCC. Without SCC

[2021-09-27 18:33] babsingh commented on #13457
@tajila @pshipton I am unable to reproduce the original failure. Also, the failure has not been seen in the builds recently. Can we remove the `blocker` and `Release 0.28` labels for this issue?

[2021-09-27 18:42] pshipton commented on #13457
The perf issue seems reason enough to keep this as a blocker.

[2021-09-27 18:50] hangshao0 commented on #13457
I expect there are a lot of anonymous classes that are stored to the SCC and we are doing a lot of class comparison for them.

Worth trying the following to see if the performance is back with SCC:
1. `-XX:-ShareAnonymousClasses`
2. `-XX:-ShareUnsafeClasses -XX:-ShareAnonymousClasses`

[2021-09-27 18:51] babsingh commented on #13368
@mpirvu I am getting a syntax error with the above cmdline option:
[code]

[2021-09-27 19:01] LinHu2016 commented on #13558
@1a2s3d4f1
I did realize that the initial eden size (user specified, -Xmns20M) is bigger than initial heap size(default, <attribute name="initialHeapSize" value="0x800000" />) in  your test case, it might be reason trigger the reporting issue.

[code]

[2021-09-27 19:04] amesser commented on #13570
Btw, the problem only occurs with our production Jenkins. I did some pre-testing before with a test installation and didn't see the issue there.

[2021-09-27 19:25] IBMJimmyk commented on #13537
The crash occurs around +43 here:
[code]

r2 is 0x0 at the crash point which causes the segfault. Working backwards, it is loaded out of r27. From the javacore file, r27 = 0x88CB6F10. This is a String object.

[code]

0x88CB6F10+0x24 = 0x88cb6f34
This actually reaches into the byte[] of the String. 0x88cb6f34 = 0xc(0x88cb6f28)

This memory location holds 0x0 which leads to the crash when it is der

[2021-09-27 19:47] zl-wang commented on #13537
that sequence of accesses must be dictated by IL, i assumed.  Gen a log, and see what the IL looks like, and why?
maybe DAA kicks in here by mistake?

[2021-09-27 19:54] IBMJimmyk commented on #13537
The jitlog that came with the crash unfortunately doesn't match up well with the generated code. It doesn't show the same problem. The original IL must have been something different.

I can try getting a tracefile of the method but so far it has never failed when I try to recreate the problem so I'm not sure that will work.

I also plan to try looking at some of the other existing failures to see

[2021-09-27 20:09] llxia commented on #12481
The same test passed on hotspot: https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_aarch64_linux/26/tapResults/

[code]
[code]

[2021-09-27 20:11] 0xdaryl commented on #13162
Any conclusions from the 50x grinder?

[2021-09-27 20:11] dmitripivkine commented on #13574
From Nursery subspace `!MM_MemorySubSpaceGeneric 0x7276980aad60` Memory Pool `!mm_memorypooladdressorderedlist 0x00007276980A5AF0` `_heapFreeList = !mm_heaplinkedfreeheader 0x00000000FF8DA238`
[code]

[2021-09-27 20:11] llxia commented on #13477
@Mesbah-Alam could you take a look into this? Thanks

[2021-09-27 20:39] BradleyWood commented on #13478
I don't believe this issue should remain a blocker for the following reasons. It has only ever been observed on two machines: `cent7-x64-5 and cent7-x64-3` and it seems to occur at a rate of ~1 in 50 javac executions. After clearing the shared class cache the issue was not observed again. Finally, the issue was also not reproducible on other machines even with the bad shared class cache.

[2021-09-27 20:49] tajila commented on #13457
what is the `javaVM->anonClassCount` count at the end of a run with SCC enabled?

[2021-09-27 20:54] dale-fu opened #13581 "Segmentation error for openj9-0.27.0 on RHEL 8.4 s390x"
## java -version output
[code]

## Summary of problem
When testing RH-SSO using OpenJDK11 + OpenJ9, the container crashes with a segmentation error:
[code]

[2021-09-27 21:17] dmitripivkine commented on #12481
Can we try this with `-Xjit:enableAggressiveLiveness` ?

[2021-09-27 21:20] ymanton commented on #13167
Managed to get a core file closer to the exception throw by hacking the exception handler to crash if execution is in `MethodType.hashCode()`. Working backwards from there to `MethodHandles.countedLoopChecks()` gets me to this bit of code:

[code]

There are multiple compiled bodies containing the above, but for a particular warm compile of `MethodHandles.countedLoopChecks()` we generate the wrong

[2021-09-27 21:56] nbhuiyan commented on #13167
I have been able to reliably make this crash occur in every run by inserting a `sleep` point in `test_countedLoop_DoubleType` test case. With that setup, I observed that the test failure was also happening with `-Xint`, suggesting that this may not be due to something going wrong during compilation. I then inserted print statements in `MethodHandles.countedLoop`, `MethodHandles.countedLoopChecks`,

[2021-09-28 00:16] JasonFengJ9 commented on #13575
It hasn't been reproduced w/ same JDK yet at a 50x grinder `job/Grinder_testList_0/444/consoleFull`.

[2021-09-28 00:56] pshipton commented on #13570
Yes the Windows Memory Dump File. Although it's 5GB it should compress quite a bit.

[2021-09-28 01:08] pshipton commented on #13478
It's tricky to move the cache between machines. The exact same JVM must be used, otherwise the cache is deleted and recreated. Also the machine change must not invalidate the AOT, otherwise it will just be ignored.

I reluctantly agree to move it forward since we can't figure it out, but I expect it will come back to haunt us somehow. @0xdaryl

[2021-09-28 01:13] pshipton commented on #13581
vmState [0x501ff]: {J9VMSTATE_JIT} {inlining}

@0xdaryl fyi

[2021-09-28 01:39] pshipton commented on #13478
Here is something similar on AIX, which blocked the OMR acceptance build today. If this is related the problem isn't only with jdk17.

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR_testList_1/88
[code]

[2021-09-28 04:47] 1a2s3d4f1 commented on #13569
Java option "-Xgc:enableArrayletDoubleMapping" only support LINUX system. It will support other system?
-Xgc:regionSize=16777216 is not eoough for patch jar file. I must use "-Xgc:regionSize=128M" to set region size.

[2021-09-28 05:11] knn-k commented on #13469
Not reproduced in a 30x Grinder job (job/Grinder/18439/).

[2021-09-28 05:43] amesser commented on #13570
@pshipton : I decided to use our sharepoint - i'm a first time user - hopefully you should have received an e-mail with link to the file.

[2021-09-28 07:26] Akira1Saitoh commented on #13485
When NPE occurs, the `aload` of `callSite entry @0` does not exist in the instruction selection phase while it exists in ILGen phase. I confirmed it with the modified JVM which prints debug messages only when compiling `net/adoptopenjdk/stf/environment/properties/OrderedProperties.getProperty`. (I ran the Grinder job with the modified JVM: `/job/Grinder/18440/`)
[code]
When NPE does not occur, the

[2021-09-28 12:06] vijaysun-omr commented on #13548
Maybe it is worth doing a run inside container with `-Xnoaot` with the SCC still enabled with both builds to see how that affects the delta that is observed.

[2021-09-28 12:15] pshipton commented on #13123
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-32_windows_Nightly_testList_2/105
ClassLoadingTest_5m_2
variation: Mode1000
JVM_OPTIONS:  (none)

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.system_x86-32_windows_Nightly_testList_2/105/system_test_output.tar.gz
[code]

[2021-09-28 12:21] pshipton opened #13584 "-Xgcpolicy:balanced AllocationTest OOM"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly_testList_1/110
cmdLineTester_verbosetest_6
variation: Mode551
JVM_OPTIONS:  -XX:+UseCompressedOops -Xjit -Xgcpolicy:balanced
Testing: -verbose:gc,class -verbose:none -verbose:class

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly_t

[2021-09-28 12:21] pshipton commented on #13584
@dmitripivkine

[2021-09-28 12:22] pshipton commented on #13584
[code]
[code]

[2021-09-28 12:44] pshipton opened #13585 "jdknext builds need jdk17 or 18 boot jvm"
We can install jdk17 m2 to use as the boot jvm to jdknext builds, they are now blocked needing jdk17 or 18.
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/108/

@AdamBrousseau

[2021-09-28 12:51] babsingh commented on #13368
@mpirvu Compilation logs: https://ibm.box.com/s/oax6fjmtkomrw24lrupmwobebmsa231i. The oom-killer was not invoked by the OS. In the `warm` log, compilation was interrupted by GC unloading classes. In the the `hot` log, exception was thrown for JIT shutdown.

[2021-09-28 12:52] pshipton commented on #10732
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_ppc64le_linux_Nightly_testList_1/36
testSoftMxDisclaimMemory_2
-Xcompressedrefs -Xjit -Xgcpolicy:optthruput

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.functional_ppc64le_linux_Nightly_testList_1/36/functional_test_output.tar.gz
[code]

[2021-09-28 13:15] llxia commented on #12276
Sorry, this slipped off my radar.

It looks like openj9 does not build/include `libAsyncGetCallTraceTest.so` in the [test image](https://hyc-runtimes-jenkins.swg-devops.com/job/build-scripts/job/jobs/job/jdk17/job/jdk17-linux-x64-openj9/44/artifact/workspace/target/ibm-semeru-open-testimage_x64_linux_JDK17_2021-09-25-14-44.tar.gz). Can someone build/include `libAsyncGetCallTraceTest.so` in the ope

[2021-09-28 13:26] JasonFengJ9 commented on #12276
`libAsyncGetCallTraceTest.so` used in https://github.com/eclipse-openj9/openj9/issues/12276#issuecomment-882777173 was from [RI test image](https://github.com/adoptium/temurin16-binaries/releases/download/jdk16u-2021-09-28-01-05-beta/OpenJDK16U-testimage_x64_linux_hotspot_2021-09-27-23-30.tar.gz).
I would guess that OpenJ9 can mirror RI test native library build though didn't try.

[2021-09-28 13:38] BradleyWood commented on #13478
I'm pretty sure they are related. This exception is a little interesting because it has a detail message while the x86 one does not. It also looks similar to #7968.

We can see a few other similarities between these exceptions, both calls at the top of the stack are from synthetic classes.

I see that the top of the stack trace in both examples does not look right. In the x86 failure, it looks rec

[2021-09-28 13:47] mpirvu commented on #13368
The method is big to start with: 1436 bytes. The optimizer inlined 500 callees in the warm version and 581 callees in the hot version. By the time it gets interrupted the warm version had 3156 basic blocks and ~22K nodes. This is definitely an expensive compilation.
@0xdaryl could you please have someone from your team look at these compilations logs? If everything works as designed we may need to

[2021-09-28 14:39] 0xdaryl commented on #13581
@joransiu : could you have someone to do an initial triage on this?

[2021-09-28 14:43] levivic commented on #13581
@pshipton this is currently blocking one RH Middleware Runtime product release on Openshift on IBM z and p. Do we have any temp work around to address this issue?

[2021-09-28 14:45] fengxue-IS commented on #13162
I got 2 failures running a 60x grinder, but I was not able to get a core file using `-Xdump:system:events=systhrow,filter=java/lang/NullPointerException#java.lang.invoke.MethodHandleImpl.makeIntrinsic`
still trying to get a core from grinder

[2021-09-28 14:49] AdamBrousseau commented on #13516
Online. This was a ub16 upgrade so the known_hosts and /etc/hosts needed to be updated on master filesystem.

[2021-09-28 14:56] tajila commented on #13162
Instead of `systhrow` use `throw`. I believe `systhrow` is only triggered for exceptions the JVM throws internally. This will not apply to MH JCL code.

[2021-09-28 14:59] joransiu commented on #13581
@dale-fu / @levivic: Any chance you have instructions on how to recreate this segmentation error?   Is this failing 100%?

You should be able to workaround by excluding the JIT compilation of the failing method using the following JVM option:  `-Xjit:exclude={java/lang/invoke/AsTypeHandle.invokeExact_thunkArchetype_X(I)I}`

[2021-09-28 15:01] fengxue-IS commented on #13162
the stacktrace suggests that the NPE exception comes from internal handler of `invokespecial` so I don't think `throw` apply? ie. `java.lang.invoke.MethodHandle makeIntrinsic` doesn't have any java code that throw an exception.

but the NPE did get caught by JCL code and wrapped into a `BootstrapMethodError`, would that affect how xdump work?

[2021-09-28 15:02] joransiu commented on #13581
For diagnostics, it'd be great if we can get a compilation trace.  Output will be a text file: `AsTypeHandle.trace.log` suffixed with date/time stamp.

`-Xjit:{java/lang/invoke/AsTypeHandle.invokeExact_thunkArchetype_X(I)I}(traceFull,traceInlining,log=AsTypeHandle.trace.log)`

And also extract the full call backtrace from the core file.

[2021-09-28 15:13] tajila commented on #13162
If its thrown by the bytecodeinterpreter only `throw` will trigger it.

`systhrow` will be triggered by things like `setCurrentException...`

[2021-09-28 15:22] LinHu2016 commented on #13569
@1a2s3d4f1 there is new feature off-heap on the way, it would be better solution to fix the issue, but it is still in middle of implementation... -Xgc:regionSize=128M for your case, it means there are only 8 regions totally,be careful to limit thread numbers to avoid the contention.

[2021-09-28 15:38] JasonFengJ9 commented on #13162
I think the package separator is `/` instead of `.` for `Xdump`. In addition, `events=throw+systhrow` can catch both scenarios just in case. A sample option looks like `-Xdump:system:events=throw+systhrow,filter=java/lang/NullPointerException#java/lang/invoke/MethodHandleImpl/makeIntrinsic`

[2021-09-28 15:44] shauryagarg2006 opened #13586 "Missing Docker Images for linux/amd64 - adoptopenjdk/openjdk11-openj9:debianslim-jre"
When I am trying to do a docker pull of the the ` adoptopenjdk/openjdk11-openj9:debianslim-jre` I am getting the following error.

[code]

I also see in the docker hub that only `linux/ppc64le` arch image is present for debianslim-jre `https://hub.docker.com/r/adoptopenjdk/openjdk11-openj9/tags?page=1&ordering=last_updated&name=debianslim-jre`

[2021-09-28 16:04] jdmcclur commented on #13548
No delta with  -Xnoaot

No AOT |   |  
-- | -- | --
0.24.0 | 6700.33 |  
0.26.0 | 6694.00 | 99.9%

[2021-09-28 16:08] gacholio commented on #13123
Attempting to reproduce locally, no success so far.

[2021-09-28 16:17] pshipton opened #13587 "Crash in VM running FibBench with -Xlockword:mode=minimizeFootprint"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_windows_Release_testList_1/6
cmdLineTest_J9test_common_0 (NoOptions)

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.functional_x86-64_windows_Release_testList_1/6/functional_test_output.tar.gz
[code]

[2021-09-28 16:18] pshipton commented on #13587
@tajila fyi. Happened in the last weekend 0.28 testing. Might be worth taking a look before moving this out of the milestone.

[2021-09-28 16:30] pshipton commented on #2209
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_s390x_linux_Release_testList_4/6
LambdaLoadTest_special_J9_5m_17
-Xcompressedrefs -Xgcpolicy:balanced -Xquickstart -Xjit

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_special.system_s390x_linux_Release_testList_4/6/system_test_output.tar.gz
[code]

@dmitripivkine fyi. probably nothing but j

[2021-09-28 16:36] pshipton opened #13588 "MathLoadTest_bigdecimal_special_5m crash in compiled method vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64le_linux_Release_testList_1/6
MathLoadTest_bigdecimal_special_5m_9
-Xaggressive -Xgcpolicy:gencon -Xjit -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_special.system_ppc64le_linux_Release_testList_1/6/system_test_output.tar.gz
[code]

[2021-09-28 16:39] pshipton commented on #13588
@0xdaryl fyi. This occurred in the last weekend testing on the 0.28 branches. Might be worth taking a look before moving it out.

Possible dup of https://github.com/eclipse-openj9/openj9/issues/13179 but this was closed as a dup of https://github.com/eclipse-openj9/openj9/issues/13431 which is aarch64 and resolved.

[2021-09-28 16:58] pshipton commented on #13162
fyi the web helper to build -Xdump options https://www.eclipse.org/openj9/tools/xdump_option_builder.html

[2021-09-28 17:02] #13586 closed

[2021-09-28 17:27] a7ehuo commented on #13478
It is odd to see `ReferencePipeline$3$1.accept` calls itself again. I experimented locally. `ReferencePipeline$3$1.accept` calls `downstream.accept` which should be `java/util/stream/Sink.accept(Ljava/lang/Object;`.

[code]

[code]

[2021-09-28 17:35] a7ehuo commented on #13478
Possible reasons that a method doesn't appear in vlog
- Inlined: I tried locally and see if it might be inlined. It still shows up in vlog even with enableAggressiveInlining
- Recognized method:  ReferencePipeline$3$1.accept is not
- Interpreted: It's unlikely since my local runs always show ReferencePipeline$3$1.accept is either AOT loaded or JIT recompiled.

[2021-09-28 17:39] pshipton commented on #12276
There is a make/test/JtregNativeHotspot.gmk that should build it, but we aren't doing this now, and I suspect trying to build everything there with OpenJ9 isn't going to work very well. @keithc-ca said he would take a look.

[2021-09-28 17:47] BradleyWood commented on #13478
I did observe a few cases without the crash where the method did not appear in the vlog.

[2021-09-28 17:53] dmitripivkine commented on #2209
FYI: there is another error as well:
[code]

[2021-09-28 18:13] gacholio commented on #13587
[code]

[2021-09-28 18:19] tajila commented on #13587
Based on the stack trace above seems like the issue arises from compiled code.

Im tagging this as JIT

[2021-09-28 18:22] tajila commented on #13587
[code]
This part is a little confusing to me, `unsafeObjectShallowCopy64` doesnt actually appear in the source code, is this an optimization?

@0xdaryl @jdmpapin

[2021-09-28 18:25] gacholio commented on #13587
https://github.com/eclipse-openj9/openj9/blob/4f07bf38f6192cb8b2d155447b4e5fa9f10cd5e8/jcl/src/java.base/share/classes/com/ibm/jit/JITHelpers.java#L793

[2021-09-28 18:34] gacholio commented on #13587
[code]
The object at a1 is an instance of `MemberName` - offset is -1, stored value is 0.

[2021-09-28 18:35] gacholio commented on #13587
This is a dup of #13577

[2021-09-28 18:36] #13587 closed

[2021-09-28 18:38] jdmpapin commented on #13587
To answer @tajila's question: VP can translate an `Object.clone()` call into [a sequence involving a call to `unsafeObjectShallowCopy64()`](https://github.com/eclipse/omr/blob/52099bb355a055fbfd3a517b37f7cfc64c4546fe/compiler/optimizer/ValuePropagationCommon.cpp#L3407-L3427)

The transformation message is "Inlining object clone call [%p] as new object and JITHelpers object copy"

[2021-09-28 18:41] pshipton commented on #13577
Another occurrence https://github.com/eclipse-openj9/openj9/issues/13587

[2021-09-28 18:47] pshipton opened #13589 "LambdaLoadTest_special_J9_5m StringIndexOutOfBoundsException from String.getBytes()"
0.28 branch build. First added to https://github.com/eclipse-openj9/openj9/issues/2209#issuecomment-929389414 but opened a new Issue due to the StringIndexOutOfBoundsException

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_s390x_linux_Release_testList_4/6
LambdaLoadTest_special_J9_5m_17
-Xcompressedrefs -Xgcpolicy:balanced -Xquickstart -Xjit

https://openj9-artifactory.osu

[2021-09-28 18:48] pshipton commented on #13589
@0xdaryl fyi, Will keep an eye out for more of these.

[2021-09-28 18:48] pshipton commented on #2209
Thanks. Opened https://github.com/eclipse-openj9/openj9/issues/13589 to track.

[2021-09-28 18:52] BradleyWood commented on #13478
`java/util/stream/ReferencePipeline$3$1.accept` is still missing from the vlog on crash with `-J-Xjit:disableInlining`. This leads us to believe the method is interpreted when crashing. Is there an obvious way a bad shared class cache could impact an interpreted method? @dsouzai @tajila

[2021-09-28 19:04] llxia commented on #12276
Thanks @pshipton @keithc-ca . Meanwhile, I will look into creating a staging job on Jenkins to include libAsyncGetCallTraceTest.so.

[2021-09-28 19:12] dsouzai commented on #13478
Not that I know of. That said, just because `accept` wasn't compiled doesn't mean something else on the stack wasn't bad. If the problem is relatively reproducible with your bad SCC, add `readonly` to your `-Xshareclasses` option, and verify that other methods on the stack aren't AOT loaded/compiled; if they are, verify the problem happens even if you prevent the compilation/load of those methods

[2021-09-28 19:24] keithc-ca commented on #12276
I have arranged to build `libAsyncGetCallTraceTest.so` on Linux; I'm just tidying up so no extraneous files land in `images/test`.

[2021-09-28 19:25] dsouzai commented on #13478
Also now that I'm thinking of it, you might be able to get away with generating a dump on exception catch `-Xdump:system+java:events=catch,filter=java/lang/IncompatibleClassChangeError,request=exclusive+prepwalk+preempt`. The AOT code can't throw if it wasn't told to throw during compilation, but maybe a the method that's catching (if that itself wasn't AOT'd) will be able to hook into the VM to d

[2021-09-28 20:02] dale-fu commented on #13581
@joransiu: Currently this issue is only reproducible with an unreleased RH-SSO image on the OpenShift Container Platform for Z (technically for ppc64le as well). It fails 100% when running against the RH-SSO test suite. We have requested the Red Hat team to rebuild our OpenShift image with Java option mentioned above to exclude the JIT compilation.

In regards to the compilation trace and more log

[2021-09-28 20:29] dmitripivkine commented on #13574
@0xdaryl FYI Looks like this is heap corruption. It seems has no relation (not applicable) to recent changes in Memory Pool code. So I have no idea how this zeros were written to the heap

[2021-09-28 20:34] joransiu commented on #13581
Thanks for the update @dale-fu.

From the diagnostic messages, I'm not too sure if a core file was successfully collected -- the message about core_pattern suggests it may have been piped to systemd-coredump?   If possible, please gather up the core, javacore, snap, jitdump, compilation traces files that were generated in your crashed container environment, so we can investigate further.  Thanks!

[2021-09-28 20:47] IBMJimmyk commented on #13537
I'm not sure why but when I try to rerun the test, the problematic method never runs.

In previous failures, the crash appeared to be in this method:
[code]

So I tried to get a tracefile by running `_DaaLoadTest_daa2_CS_5m` locally with the following option:
[code]
But, I just got an empty tracefile and I don't see `OrderedProperties` in the verbose log at all.

I tried checking if the class even

[2021-09-28 20:56] JasonFengJ9 commented on #13571
Not able to reproduce the `AttachNotSupportedException` as per https://github.com/raphw/byte-buddy/issues/1118#issuecomment-926602347
@mateusbandeiraa any hints?

[2021-09-28 21:04] hangshao0 commented on #13457
In Perf profile with SCC, I see:

[code]

The romclass comparison usually happens for generated class (class not loaded from class path) or normal class with a classpath change between run to run.

You can turn on `Trc_BCU_compareROMClassForEquality_event` to capture all classes being compared and are they generated classes or normal class loaded from a class path.

[2021-09-28 21:09] pshipton commented on #13571
Did you catch this part?

I discovered that if I run Eclipse with OpenJ9 as Administrator [on Windows], other applications also running on OpenJ9, but not as administrator

[2021-09-28 21:10] pshipton commented on #13571
What version of IBM J9 Java 1.8 is used to run Eclipse?

[2021-09-28 21:20] mateusbandeiraa commented on #13571
IBM J9 version:
[code]
EclipseJ9 version:
[code]

[2021-09-28 21:23] JasonFengJ9 commented on #13571
Yea

[code]

@mateusbandeiraa you were running a `0.23 20201022_795` build, can you try a recent version [1]?

[1] https://github.com/ibmruntimes/semeru11-binaries/tags

[2021-09-28 21:26] jdmcclur commented on #13548
jitlogs attached

[jitlogs.zip](https://github.com/eclipse-openj9/openj9/files/7247384/jitlogs.zip)

[2021-09-28 21:39] hangshao0 commented on #13457
Better to run `-Xshareclasses:destoryAll` to clean things up before the test.

[2021-09-28 21:52] pshipton commented on #13570
I got it. Below is the corrupted memory block, which looks fine to me to share in the issue. The footer of the block has been overwritten with zeros. It should contain a checksum and the value 0xb7654321, follows by the block size (0x20), similar to the header.

If you want to find this yourself in other core files, you can open the core using the bin/jdmpview utility, and then
- run `!findvm`
- r

[2021-09-28 22:06] mateusbandeiraa commented on #13571
I was able to reproduce the issue in `openj9-0.27.0`.
[code]

Here's a video of the steps I took:

https://user-images.githubusercontent.com/15495980/135171748-23d04086-b7be-4c13-903c-9c60db4222ed.mp4

- Test 1: Run as admin, then run as user (user fails)
- Test 2: Run only as user (user succeeds)
- Test 3: Run as user, then run as admin (both succeed)
- Test 4: same as Test 1.

Here's the project

[2021-09-28 22:09] pshipton commented on #13575
Pls try the test with `-Dcom.ibm.enableClassCaching=false`

[2021-09-28 22:37] JasonFengJ9 commented on #13571
@mateusbandeiraa can you try another run after deleting the `.com_ibm_tools_attach` folder within `C:\Documents and Settings\<userid>\Local Settings\Temp` [1]?

[1] https://www.eclipse.org/openj9/docs/attachapi/

[2021-09-28 23:03] mateusbandeiraa commented on #13571
I deleted the `.com_ibm_tools_attach` folder and it did not fix the issue.

---
By the way: the documentation on https://www.eclipse.org/openj9/docs/attachapi/ is horribly outdated. The `C:\Documents and Settings\` directory doesn't exist since Windows XP. It was replaced in Windows Vista.

I was able to find the folder at `%LOCALAPPDATA%\Temp\.com_ibm_tools_attach`

[2021-09-29 01:50] mpirvu commented on #13548
The verbose logs above were collected with with just `-Xjit:verbose` (as opposed to `-Xjit:verbose={compilePerformance}`) so they are missing some information. However, I was able to determine a possible culprit:
in 0.26.0 vlogs for Booking and for Customer I see many failures like this:
[code]
The JIT compiles `com/ibm/ws/jaxrs20/security/LibertyAuthFilter.filter` at warm and then at hot (I canno

[2021-09-29 01:59] mpirvu commented on #13548
If my theory is correct, then `-Xjit:{com/ibm/ws/jaxrs20/security/LibertyAuthFilter.filter*}(disableInvariantArgumentPreexistence)` should fix the issue.
I don't understand the connection to AOT though.
In 0.24.0 this method is successfully compiled at hot, so we don't have this nasty compile-fail-compile-fail behavior.

[2021-09-29 06:10] AdamBrousseau commented on #13585
https://openj9-jenkins.osuosl.org/label/ci.role.build&&!hw.arch.aarch64&&!sw.os.cent.6&&!sw.os.ubuntu.16&&!sw.os.ubuntu.20&&!sw.os.osx.10_11&&!sw.os.osx.10_13/
https://openj9-jenkins.osuosl.org/view/Sandbox/job/adam/7/console
https://openj9-jenkins.osuosl.org/view/Sandbox/job/adam/9/console
### Nodes
- [ ] aix71-p8-1
- [ ] aix71-p8-10
- [ ] aix71-p8-2
- [ ] aix71-p8-3
- [ ] aix71-p8-4
- [ ] aix71-

[2021-09-29 08:33] mdafsanhossain commented on #13581
I can reproduce the same error on ppc64le.  Here is the log.

[code]

[2021-09-29 10:05] knn-k commented on #13469
I cannot reproduce this failure in my local environment, either.

[2021-09-29 10:48] AbhigyanSrivastav commented on #13347
hey @Thihup I would like to work on this issue could you please help me on how can I get started start with this.

[2021-09-29 11:05] Thihup commented on #13347
@AbhigyanSrivastav Compiling a class with a newer Java version (like 18) and trying to run on Java 17 should cause this issue

[2021-09-29 11:39] pshipton commented on #13516
The machine doesn't work. Disabled it.
[code]
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly_testList_2/105/console

[2021-09-29 11:57] JasonFengJ9 commented on #13575
No, it doesn't help.

[2021-09-29 11:59] JasonFengJ9 commented on #12608
This is not `arch64_linux` specific.

Will track it at https://github.com/eclipse-openj9/openj9/issues/13575

[2021-09-29 11:59] #12608 closed

[2021-09-29 11:59] pshipton opened #13591 "win2012-x86-4 is offline"
Stopped responding while running a build yesterday,
https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_windows_Personal/169
[code]

@AdamBrousseau

[2021-09-29 12:02] #13575 closed

[2021-09-29 12:12] JasonFengJ9 commented on #13162
Observed in JDK17 head build at `job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux/61/`
[code]

[2021-09-29 12:25] JasonFengJ9 commented on #10569
Observed at JDK17 `0.28` release build `job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Personal/43/consoleFull`
[code]

[2021-09-29 12:27] pshipton commented on #12219
Another failure https://github.com/eclipse-openj9/openj9/issues/13575

[2021-09-29 12:28] pshipton commented on #12219
Also https://github.com/eclipse-openj9/openj9/issues/12608 on aarch64.

[2021-09-29 12:46] joransiu commented on #13581
@mdafsanhossain : Agreed, that error on ppc64le looks the same.   If possible, can you share the call backtrace, and diagnostic files generated (javacore, core dump, snap, jitdump) from your failing environment?   Also, would be useful if you can collect a JIT compilation trace of the failing method, using the JVM option as noted in: https://github.com/eclipse-openj9/openj9/issues/13581#issuecomme

[2021-09-29 13:14] mateusbandeiraa commented on #13571
I recorded another video, this time showing the temp files created by J9 in `.com_ibm_tools_attach`. It looks like that the user process is not creating the temp folders with its PID if there's already an admin process running.

https://user-images.githubusercontent.com/15495980/135275484-1e85e17a-e61d-4f80-bf0b-b13a88c8c012.mp4

[2021-09-29 13:50] dmitripivkine commented on #13589
Vast majority of ~2g heap occupied by discontinues arrays (arraylet leaves):
[code]

[2021-09-29 14:13] gita-omr commented on #13573
Ran grinder with 20 iterations and could not reproduce.

[2021-09-29 15:25] jdmpapin commented on #13457
It may be test to destroy the SCC for other reasons or even now as a workaround, but ideally it shouldn't be possible for a user to get the SCC into a state where it causes a 100x slowdown (especially on a timescale of a few seconds to many minutes)

[2021-09-29 15:26] jdmcclur commented on #13548
@mpirvu Yes, looks like adding -Xjit:{com/ibm/ws/jaxrs20/security/LibertyAuthFilter.filter*}(disableInvariantArgumentPreexistence) fixed the regression. Would running with -Xjit:verbose={compilePerformance} be helpful?

[2021-09-29 15:32] hangshao0 commented on #13457
I meant when debug using `Trc_BCU_compareROMClassForEquality_event` to capture the classes, it is best to start from a clean state to exclude noise from other Java programs on the system that had stored classes to the shared cache.

[2021-09-29 15:34] mpirvu commented on #13548
Possibly, in that it may tell us why the hot recompilations are happening. However, if the recompilation is triggered by the native code itself, we'll have to dig deeper.

[2021-09-29 15:35] jdmpapin commented on #13457
Ah ok, that makes sense - sorry

[2021-09-29 15:47] AdamBrousseau commented on #13591
rebooted again

[2021-09-29 15:53] keithc-ca commented on #12276
With the resulting library, the test passes (tested with jdk18).

At first, I was concerned about several of these messages printed by the agent code (22 is `JVMTI_ERROR_CLASS_NOT_PREPARED`):
[code]
until I saw this comment:
[code]
Those errors seem only to occur for calls to `GetJMethodIDs()` in `OnVMInit()` (and not from within `OnClassPrepare()`) which seems reasonable. @gacholio Do you agree w

[2021-09-29 16:00] gacholio commented on #12276
Yes, sounds reasonable.

[2021-09-29 16:14] #13471 closed

[2021-09-29 17:19] AdamBrousseau commented on #13585
All the aix need more space added to /opt partition but 7-10 are smaller than the rest and 17 failed to install.
I'd like to proceed and remove the build label from 7-10 until we increase the partition size.

[2021-09-29 17:29] dmitripivkine commented on #13589
I believe there are two questions (potential problems) in this case:
- why it goes to OOM state?
- why we have `java.lang.StringIndexOutOfBoundsException` thrown?

For first question it is obvious memory is taken by live large arrays. I looked to one of them `!j9indexableobject 0x1E886148 0 471217175` it has 449 leaves and referenced directly from JIT frame:
[code]
If it is useful I can attribute

[2021-09-29 17:39] jdekonin commented on #13585
I've updated aix systems 1-10 with /opt of 10G.  There is approximately 22G remaining on the root filesystems which hosts the operating system.  jenkins is on its own 50G partition.

`chfs -a size=10G /opt`

[2021-09-29 17:43] AdamBrousseau commented on #13585
Thanks, @jdekonin .
I'll get boot17 rolled out to the remaining aix systems and then add the build labels back.

[2021-09-29 17:57] babsingh commented on #13457
Yes. In this case, the generated classes are hidden classes, which are used by MethodHandles.

My machine ran out of disk space. Ended up with a 40GB log file.

**99.99%** of the log file comprised of `Trc_BCU_compareROMClassForEquality_event` with `java/lang/invoke/LambdaForm$*`.

[code]

[2021-09-29 18:14] rajdeepsingh1 commented on #12719
`ub20-390-1` gcc dependancy issue resolved, enabled in Jenkins.

[code]

[2021-09-29 18:28] hangshao0 commented on #13457
If these `java/lang/invoke/LambdaForm$*` classes are hidden class, `-XX:-ShareAnonymousClasses` should prevent storing them into the shared cache, which did not happen. `isROMClassShareable()` must return true for them.

https://github.com/eclipse-openj9/openj9/blob/master/runtime/bcutil/ROMClassCreationContext.hpp#L302

`isHiddenClassSharingEnabled()` is false with `-XX:-ShareAnonymousClasses`, s

[2021-09-29 18:35] jdmcclur commented on #13548
Here is the data from the booking service. oddly, throughput went up a couple % when I added `-Xjit:verbose={compilePerformance} `
[booking.vlog.log](https://github.com/eclipse-openj9/openj9/files/7254253/booking.vlog.log)

[2021-09-29 18:39] AdamBrousseau commented on #13585
All done, did cent7 x 1,3 by hand.

[2021-09-29 18:39] #13585 closed

[2021-09-29 18:44] hzongaro opened #13596 "Performance overhead for java.util.ref.Reference.refersTo() in Java 17+"
Java 16 introduced a new `java.util.ref.Reference.refersTo` method.  This method is being used in methods in `java.lang.ThreadLocal$ThreadLocalMap`.  In previous versions of Java, `ThreadLocalMap` used the `Reference.get` method.

It looks like these uses of [`refersTo`](https://github.com/eclipse-openj9/openj9/blob/d5a132c9a90ad8d4d50571e2251db9b335ef1b9c/runtime/jcl/common/java_lang_ref_Referenc

[2021-09-29 18:54] JasonFengJ9 commented on #13571
Still not able to reproduce the failure, wondering if it is a timing issue.
At mean time, @mateusbandeiraa could you collect some runtime logs?
Run `set OPENJ9_JAVA_OPTIONS="-Dcom.ibm.tools.attach.logging=yes"` at each console, collect the `.com_ibm_tools_attach` folder and all newly created log files under current directory `C:\Users\MateusTeixeiraBandei\eclipse-workspace\bytebuddytest` (by defau

[2021-09-29 19:39] #13540 closed

[2021-09-29 19:49] BradleyWood commented on #13478
From the vlog, we found the following...

[code]

We are not able to reproduce with

[code]

Still reproducible by excluding the other methods.

Also could not reproduce with `-Xdump:system+java:events=catch,filter=java/lang/IncompatibleClassChangeError,request=exclusive+prepwalk+preempt`

[2021-09-29 20:10] dsouzai commented on #13478
Ok, so that implies that `java.base/java.util.stream.StreamSpliterators$WrappingSpliterator.lambda$initPartialTraversalState$0` is actually the problem method then, at least given the current bad SCC you have. Probably worth trying to trace both initPartialTraversalState and accept in the 1st run and hope it reproduces in the second runs. Given the intermittency, might take several attempts though

[2021-09-29 21:38] mateusbandeiraa commented on #13571
Here's the logs you requested. The user logs confirms that the JVM is not able to create the temp files it needs.
[code]

[admin-19720.log](https://github.com/eclipse-openj9/openj9/files/7255176/admin-19720.log)
[admin-22532.log](https://github.com/eclipse-openj9/openj9/files/7255177/admin-22532.log)
[admin-26452.log](https://github.com/eclipse-openj9/openj9/files/7255178/admin-26452.log)

[user-8

[2021-09-29 23:04] JasonFengJ9 commented on #13571
`-150` is mapped to `J9PORT_ERROR_SHSEM_OPFAILED` https://github.com/eclipse-openj9/openj9/blob/6889aa118d0ff8d2df5067bebdae9f8d9eaa142e/runtime/oti/j9porterror.h#L69-L70
which indicates `j9shsem_open()` failure, however this error code could be returned in multiple exit points so trace point will be required to find exact failing routine.

Could you provide Windows version & SP level? Which user

[2021-09-29 23:53] mateusbandeiraa commented on #13571
My main computer runs Windows 10 build 19043.1237. I was also able to replicate the issue on another machine running Windows 10 build 18363.1801.

I'm not sure what you mean by that.

[2021-09-30 00:15] JasonFengJ9 commented on #13571
Is current login user an Administrator which belongs `Administrators` group, or an account in `Guests` group, etc.? `lusrmgr` lists system users & groups.

[2021-09-30 00:58] rajdeepsingh1 commented on #12719
`ub20-390-2` has also been fixed, dependency issue resolved:

Successful
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly_testList_0/112/console

@pshipton

[2021-09-30 00:58] rajdeepsingh1 commented on #12719
Fix implemented on both machines:

[2021-09-30 01:18] pshipton commented on #12719
Thanks. Closing assuming fixed.

[2021-09-30 01:18] #12719 closed

[2021-09-30 04:49] knn-k opened #13599 "Cannot run AArch64 Jenkins jobs"
Running Jenkins jobs in PR #13598 fails on cent8-aarch64-2 with the following message:

https://openj9-jenkins.osuosl.org/job/Build_JDK11_aarch64_linux_Personal/111/
https://openj9-jenkins.osuosl.org/job/Build_JDK11_aarch64_linux_Personal/112/

[2021-09-30 08:54] Akira1Saitoh commented on #13485
I finally got trace log of the problematic method.`-Xjit:{net/adoptopenjdk/stf/environment/properties/OrderedProperties.getProperty(Ljava/lang/String;)Ljava/lang/String;}(traceFull,traceInlining,log=getProperty.log)'`
The trace log is here: [getProperty.log.zip](https://github.com/eclipse-openj9/openj9/files/7258157/getProperty.log.zip)

Afte `deadTreesElimination`, The first child of `n1102n

[2021-09-30 11:26] pshipton opened #13600 "jdknext java/lang/Access.encodeASCII needs impl"
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/110/
[code]

[2021-09-30 11:32] pshipton commented on #13600
Seems there are problems on the OpenJDK side and we should wait until they are resolved to see what we need to do.

[2021-09-30 11:40] pshipton commented on #13600
I see, there are OpenJ9 "enhancements" to US_ASCII which are now broken.

[2021-09-30 11:44] pshipton commented on #13600
@vijaysun-omr fyi, OpenJDK added an intrinsic for encodeASCII.

[2021-09-30 12:22] #13344 closed

[2021-09-30 12:24] mateusbandeiraa commented on #13571
All my tests were done in a user which belongs to the Administrators group.

[2021-09-30 14:08] dmitripivkine commented on #13574
So again, an assertion has been triggered because there is zero at `0xFF8DA240`. This location happened to be Linked Free Header Size slot. This is not valid value
There are two possibilities:
- the proper size value has not been written
- this location has been overwritten later on

For first case I can not see how 0 can be written as a size in GC code. Minimum size to be written for Multi Slot H

[2021-09-30 14:09] JasonFengJ9 commented on #13600
Created https://github.com/eclipse-openj9/openj9/pull/13603 to address `error: Access is not abstract and does not override abstract method encodeASCII(char[],int,byte[],int,int) in JavaLangAccess`.

`error: variable n is already defined in method encodeArrayLoop(CharBuffer,ByteBuffer)` is caused by `OpenJ9-perf_converter` JCL patch which has to be re-evaluated after latest OpenJDK update.

[2021-09-30 15:50] iankko commented on #13581
Hello Joran,

So we have tried the workaround suggested above, but with no progress (it's still crashing the same way, even on the same method). Checking / exploring the other possible options, there's [`-Xnojit` option available yet](https://www.ibm.com/docs/en/sdk-java-technology/8?topic=options-xjit), to completely disable the JIT compiler.

If the `-Xnojit` shows to be working, can we use that

[2021-09-30 16:10] joransiu commented on #13581
@iankko : Using `-Xnojit` will incur a massive performance impact, and would not be something that I'd recommend.  Can you share the stderr output of the failure, and also add `-Xdump:java:events=vmstart` to generate a javacore on JVM startup.  I'd like to ensure that we picked up the -Xjit option correctly here.

[2021-09-30 17:43] VermaSh commented on #13581
@iankko: Is the crash reproducible outside a container?

[2021-09-30 18:31] joransiu commented on #13581
I manually mapped out the stacktrace base on the module/offsets from the stderr output in the OP.

[code]

We segfaulted in the 2nd instruction of `getOriginalROMMethodUnchecked`, likely with a NULL %r2, which is the first parameter of the method.

[code]

[2021-09-30 19:11] amesser commented on #13570
Oh dear, I didn't know yet that it is possible for an java application to corrupt the memory. I was always told java doesn't allow you to access memory out of bounds :-) I'm not sure if the Jenkins guys can solve this. We use a lot of groovy script stuff to generalize things. Or maybe after restarting, Jenkins running on OpenJ9 tried to restore some previous state it saved while it was run under H

[2021-09-30 19:36] pshipton opened #13605 "Segfault in compareRomClassName called from verifyLoadingOrLinkingStack"
Some Liberty testing is intermittently crashing with the following stack. Internal tracking 146293 (and dup 146356).
Testing with xlinux build https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK17/30/
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK17_x86-64_linux_Nightly/30/OpenJ9-JDK17-x86-64_linux-20210920-211301.tar.gz
https://openj9-artifactory.osuosl.org/artifa

[2021-09-30 20:04] pshipton commented on #13570
Didn't mean to save that yet.

The OpenJ9 project runs jenkins without issue. It shows Jenkins 2.289.1 and we are using OpenJ9 (0.26) 11.0.11 to run it.

[2021-09-30 20:17] amesser commented on #13570
I was sucessfully running a test server with jenkins/openj9 on windows for some months (it is still using openj9 at the moment). However when we adjusted the production system, the crash occured. The only difference is, the test server has not as much projects configured.

[2021-09-30 20:22] pshipton commented on #13570
All I can suggest atm is adjusting the version of Jenkins or OpenJ9 to see if you can find a combination that works.

[2021-09-30 20:49] klangman opened #13606 "Z should enable profile directed guarded devirtualization by default like P&X do."
https://github.com/eclipse-openj9/openj9/blob/cd91c43547fb752e7a6a7efd9f9db3aeb6fab4c7/runtime/compiler/z/codegen/S390PrivateLinkage.cpp#L1818

[2021-09-30 21:13] a7ehuo opened #13607 "Crash when specifying log name in both -Xjit and -Xaot"
When trying to collect trace log using the following options to both `-Xjit` and `-Xaot` [1], I ran into a crash in `TR_Debug::findLogFile`. The `prev->_options->_logFileName` is invalid [2].  I found that what happened is when `jitLatePostProcess` calls _`debug->findLogFile`, it doesn't differentiate whether or not it is for AOT or JIT [3]. It calls both both when it's only parsing for AOT option

[2021-09-30 21:14] a7ehuo commented on #13607
This is an OMR issue. I'lll reopen it in https://github.com/eclipse/omr

[2021-09-30 21:14] #13607 closed

[2021-09-30 21:16] a7ehuo commented on #13607
https://github.com/eclipse/omr/issues/6189

[2021-09-30 23:10] vijaysun-omr commented on #13485
I suspect the problem is in the way temps are recycled in that I see 3 distinct lines related to the problematic temp in question, sym ref #557

	create storeNode 0000FFFF111B61D0 of tempSymRef #557 (possibly for node uncommoning during opcodeExpansion)
	create storeNode 0000FFFF111BD840 of tempSymRef #557 (possibly for node uncommoning during opcodeExpansion)
	create storeNode 0000FFFF111BEDD0 of

[2021-10-01 01:28] mpirvu commented on #13548
Unfortunately, I cannot determine why that method gets compiled again at hot (after the first failure).
I ran AcmeAir mono to see if that method even shows in the vlog, but it doesn't (The intent was to artificially recompile it at hot and then fail on purpose).

[2021-10-01 02:32] pshipton commented on #13600
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/366 fixed the other part.

[2021-10-01 02:32] #13600 closed

[2021-10-01 07:33] iankko commented on #13581
So far we weren't able to get it crash directly (outside of a container), only on OpenShift. Not even running the container image directly using docker / podman tools. Looking into this yet.

[2021-10-01 07:40] iankko commented on #13581
1) Yes, looks like a crash due to a null ptr dereference (from the stacktrace `(0x0000000000000000 [<unknown>+0x0])`) -- something that should be set / point to a valid address, wasn't. But the question (I don't have answer so far yet) is, why this crashes just with OpenJ9, but not with OpenJDK too?

2) Re: `We segfaulted in the 2nd instruction of getOriginalROMMethodUnchecked` - so if we JIT excl

[2021-10-01 11:39] JasonFengJ9 opened #13608 "JDK8 Windows IA32 : FVT_Serviceability.diagnostics.oom.Mode131 - ERROR: CLASSES/END Section missing from Javadump"
Failure link
------------

From an internal build `job_output.php?id=16585045`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

fyi @keithc-ca

[2021-10-01 12:07] JasonFengJ9 commented on #13167
Just note this is observed in JDK17 `0.29` release build `job/Test_openjdk17_j9_extended.functional_ppc64le_linux_Personal/59/tapResults/`.
[code]

[2021-10-01 12:38] joransiu commented on #13581
The call-stack in question is in OpenJ9 JVM specific implementation, and won't impact HotSpot VM.

[2021-10-01 12:52] keithc-ca commented on #13608
Perhaps the test needs adjusting to permit the additions from #13579. I'll have a look.

[2021-10-01 12:56] jdmcclur commented on #13548
@mpirvu - yeah that method wont be invoked with acmeair mono as there is no authentication done. You could try to enable the mpJwt-1.1 feature and see if is invoked (I'll try it out).

[2021-10-01 13:20] pshipton commented on #13608
It's been failing since Sept 23.
Mode 131 is -Xgc:splitheap -Xjit -Xgcpolicy:gencon -Xnocompressedrefs

Given the changes, my top suspect is the following although it's supposed to be related to balanced.
https://github.com/eclipse-openj9/openj9/pull/12043

Note https://github.com/eclipse-openj9/openj9/pull/13311 was reverted by https://github.com/eclipse-openj9/openj9/pull/13562

[2021-10-01 13:22] pshipton commented on #13608
There was an earlier failure with "ERROR: CLASSES Section missing from Javadump" on Sep 16, but then passing afterwards until Sep 23.

[2021-10-01 13:31] dmitripivkine commented on #13608
I can not see anything common (non-Balanced related) changed by https://github.com/eclipse-openj9/openj9/pull/12043 can impact here.

[2021-10-01 13:33] jdmcclur commented on #13548
@mpirvu - looks like adding `<feature>mpJwt-1.2</feature>` at least loads the class. Can you try that?

[2021-10-01 13:37] keithc-ca commented on #13608
When it fails, it only fails on 32-bit Windows, so I take back the suggestion it's related to #13579.

[2021-10-01 13:47] pshipton commented on #13608
Below is the public equivalent of what changed. I suppose given the test could intermittently fail, the change causing the consistent failure may be in a later build, but I don't see anything suspect in the next build.
https://github.com/eclipse-openj9/openj9/compare/60db268f81...55cc47ec3
https://github.com/eclipse-openj9/openj9-omr/compare/12f1e39ef...9494694dc39

[2021-10-01 13:56] dmitripivkine commented on #13608
FYI -Xgc:splitheap is supported for 32-bit Windows only so Mode 131 is specific for this platform only

[2021-10-01 14:03] pshipton commented on #13608
The other failure in the tracker is job_output.php?id=16585043, which is Mode 112 `-Xgcpolicy:gencon -Xjit:count=0 -Xnocompressedrefs`. It's failing more intermittently. Also on the 16th, passing until the 24th (which failed), passed on the 27th, failed on the 28th and later.

[2021-10-01 14:05] pshipton commented on #13608
The ibuild from 2 nights ago didn't complete, but I boosted the Mode 131 job (job_output.php?id=16518900) and it passed on the build from the 29th. We may just have a long running intermittent issue that by coincidence has failed often lately.

[2021-10-01 14:27] 0xdaryl commented on #13606
That line of code you linked is for "profiled devirtualization", which I don't think is enabled on any platform (or at least this is the only use of this option in the code base).  Is that what you meant?

[2021-10-01 14:34] pshipton commented on #9124
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/108/
jdk_util_1
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops
java/util/logging/Logger/logrb/TestLogrbResourceBundle.java
[code]

[2021-10-01 14:36] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/109

[2021-10-01 14:47] onlynishant commented on #13349
Hi @dmitripivkine, I have made good progress identifying the suspect. We were using `SSLContext` via [OpenSSL bindings for Java ](https://github.com/wildfly-security/wildfly-openssl) opensource lib for high performance and once I replaced it with Java native version, I see no deterioration in performance.

Here is the latest GC log for 24+ hours -

https://drive.google.com/file/d/1kSkmvNSZKwKSW6O-

[2021-10-01 14:54] klangman commented on #13606
Yes, I should have added "profile directed" in front of guarded devirtualization. P & Z do this opt without checking for the 'enableProfiledDevirtualization' option.

[2021-10-01 15:06] llxia commented on #12276
ASGCTBaseTest is added. The test should show up in the next 16+ extended.openjdk_x86-64_linux build.

[2021-10-01 15:16] dale-fu commented on #13581
Some good news! From initial testing, it seems like run with the option below does not crash. I'm going to run the full test suite now to double check.
[code]

[2021-10-01 15:28] dmitripivkine commented on #13589
For this core triggered at OOM event there are many "Worker" threads are in the process of allocating byte arrays size 471217175 elements. With region size 1m it required (in Discontiguous form) 449 leaf regions plus remainder in the array spine. With heap size  1968m (or 1968 regions total) the OOM is unavoidable, there is an attempt to allocate significantly larger amount of data than heap can t

[2021-10-01 15:33] 1a2s3d4f1 commented on #13558
Set -Xmns400M still cause problem. But set -Xms400M and -Xmns400M can solve this problem.
Test java version:
[code]
Part size information:
[code]
Throwed error:
[code]
[verbosegc.20211001.232343.9988.zip](https://github.com/eclipse-openj9/openj9/files/7268301/verbosegc.20211001.232343.9988.zip)

[2021-10-01 15:43] hangshao0 opened #13612 "ClassNotFoundException in ValueTypes functional extended test on Windows"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdkValhalla_j9_extended.functional_x86-64_windows_valhalla_Personal/1/tapResults/

Failure output (captured from console output)
---------------------------------------------
[code]

This is a ValueTypes specific test. There is a classpath issue here.

[2021-10-01 16:01] BradleyWood commented on #13478
Ran into a crash trying to trace both JIT and AOT due to eclipse/omr#6189 so we are proceeding without JIT tracing. Still no reproduction yet.

[2021-10-01 16:07] hangshao0 commented on #13612
This is Windows,  ";" should be used on the class path instead of ":".

[2021-10-01 16:28] pshipton commented on #13478
@BradleyWood do you still need cent7-x64-3 or can I re-enable it in the builds?

[2021-10-01 16:37] BradleyWood commented on #13478
Yes, we are still using it and I don't want those builds to interfere with the shared class cache.

[2021-10-01 17:32] #13384 closed

[2021-10-01 17:42] tajila opened #13614 "ValueTypes: add new unsafe methods"
Add new jdk.internal.misc.Unsafe API

[code]

The first step is to add the method targets so we can compile

[2021-10-01 17:43] tajila commented on #13614
FYI @hangshao0

[2021-10-01 17:52] tajila commented on #13614
FYI @JasonFengJ9

[2021-10-01 17:56] tajila opened #13615 "ValueTypes: add new java.lang.Class API methods"
[code]

`public boolean isPrimitiveClass()` is already added.

First step is to add the method targets so we can compile

[2021-10-01 17:59] tajila commented on #13615
FYI  @hangshao0

[2021-10-01 18:11] hangshao0 commented on #13614
Is this issue (and https://github.com/eclipse-openj9/openj9/issues/13615) for our fork of the project Valhalla repo  ?

[2021-10-01 18:12] tajila commented on #13614
Yes. We would have had to do this eventually, but it is more important now. To start we can just add stubs.

[2021-10-01 18:47] joransiu commented on #13581
Note about the workaround @dale-fu mentioned above.   The `-Xjit:count=1,disableasynccompilation` suboptions will cause a lot more JIT compilations and have a detrimental impact to startup performance.  The `verbose,vlog=....` sub-options are diagnostics.

Based on what we know currently, I'd suggest the following:

[code]

It's still a bit of a mystery why the exclude= didn't work for these metho

[2021-10-01 19:22] JasonFengJ9 commented on #13614
fyi Just launched a personal build [1] w/ openj9 `valhalla` extension [2] which will be mirrored to [3].

[1] `view/OpenJ9%20-%20Personal/job/Pipeline-Build-Test-Personal/10752`
[2] https://github.com/JasonFengJ9/openj9-openjdk-jdk.valuetypes
[3] https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes

[2021-10-01 21:13] babsingh commented on #13457
I traced the code at:
- [ClassDefiner.defineClass](https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/480d595b54d8545c3461a44a9cfab00dfaf355e3/src/java.base/share/classes/java/lang/invoke/MethodHandles.java#L2444), which is used by `Lookup. defineHiddenClass*`; and
- [Java_java_lang_ClassLoader_defineClassImpl1](https://github.com/eclipse-openj9/openj9/blob/ca3da66257b846691a8cc9d7e23125065b

[2021-10-02 16:00] pshipton commented on #13584
Another one.
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_1/112/
cmdLineTester_verbosetest_1
variation: Mode501
JVM_OPTIONS:  -Xjit -Xgcpolicy:balanced -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_1/112/functional_test_output.tar.gz
[cod

[2021-10-02 16:08] pshipton commented on #13584
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64_aix_Nightly_testList_0/108
cmdLineTester_verbosetest_6
variation: Mode551
JVM_OPTIONS:  -XX:+UseCompressedOops -Xjit -Xgcpolicy:balanced
Testing: -verbose:jni -verbose:gc,class

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.functional_ppc64_aix_Nightly_testList_0/108/functi

[2021-10-03 00:28] pshipton commented on #13509
@mikezhang1234567890 there is still a problem on the 10.11 machines, are you investigating? The machines have been disabled for some time because of this problem. You can get access to them in order to figure out the problem (open an infra issue). I ran a new build on these machines to get some current results. This build contains the recent OMR change. https://github.com/eclipse-openj9/openj9-omr

[2021-10-03 23:12] tajila commented on #13457
@hangshao0 please take over this issue

[2021-10-04 01:38] knn-k commented on #13599
An AArch64 job works on ub20-aarch64-1 today.
https://openj9-jenkins.osuosl.org/job/Build_JDK11_aarch64_linux_Personal/113/

[2021-10-04 07:54] Akira1Saitoh commented on #13485
Thanks for the suggestion, @vijaysun-omr.
I added debug trace and took the trace log with `-Xjit:{net/adoptopenjdk/stf/environment/properties/OrderedProperties.getProperty(Ljava/lang/String;)Ljava/lang/String;}(traceFull,traceInlining,debugInliner,log=getProperty.log)`.

The trace log is here:
[getProperty.log.20211001.zip](https://github.com/eclipse-openj9/openj9/files/7276193/getProperty.log.202

[2021-10-04 07:57] Akira1Saitoh commented on #13485
The log suggests that the known object index is assigned at `TR_J9InlinerUtil::computePrexInfo`. https://github.com/eclipse-openj9/openj9/blob/ca3da66257b846691a8cc9d7e23125065be7e780/runtime/compiler/optimizer/InlinerTempForJ9.cpp#L5446-L5460
`n22n` is chosen as the `def` to `n1019n`, whose known object index is used as index of  `prexArg`.

The relevant part of IL tree before that is:

[code]

I

[2021-10-04 11:42] JasonFengJ9 opened #13616 "JDK17 `0.29` release : sun/util/logging/PlatformLoggerTest.java - Retrieved backing PlatformLogger level null is not the expected INFO"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Personal/52/consoleFull`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&TKG_OWNER_B

[2021-10-04 12:19] mpirvu commented on #13548
My build of Liberty_21.0.0.3/AcmeAir does no run with `<feature>mpJwt-1.2</feature>`. It tried it with `<feature>mpJwt-1.1</feature>` and that works, but I didn't see that `LibertyAuthFilter.filter` method being recompiled at hot. I am going to push it artificially to hot.

[2021-10-04 12:37] vijaysun-omr commented on #13485
Thanks @Akira1Saitoh for the extra logs/diagnostics. The code in `defToAutoOrParmInEBB` does not seem right to me since it seems to be unaware of the fact that commoning may have been done in the IL trees making several parents for the same node, only the first parent of which is the actual evaluation point for a given node.

In particular, the message `PREX.inl:      0000FFFF0124DCE0: is known ob

[2021-10-04 12:52] vijaysun-omr commented on #13485
Note also that the routine in question that has the bug is not a longstanding one, i.e. it was added 9 months ago (likely for MH work) under https://github.com/eclipse-openj9/openj9/commit/f420a4eb4145527be0e4c464029f3ed205bb1f42

[2021-10-04 13:10] vijaysun-omr commented on #13485
Setting `TR_DisableUseKnownObjectTempsForParmsInCallee` seems capable of disabling at least some of the new logic added in that commit and so it may be something to try out in case it shows that some other issues are dups of this one (can cause different symptoms).

[2021-10-04 13:10] mpirvu commented on #13548
I managed to recompile that method at hot, but it didn't reach the scratch memory limit, so I reduced the limit with an option for that method only. Now I have a hot recompilation that fails and is followed by a warm recompilation. This is exactly the behavior I was expecting. All in all, I cannot reproduce the behavior from this issue, and I may have to provide some instrumented builds.

[2021-10-04 13:10] IBMJimmyk commented on #13537
It turns out the problem isn't exactly related to the daa test. The crash occurs during the `Starting process to generate scripts` step before the test runs. The JVM in this step generates perl scripts that sets up and executes the actual test. The options I was passing in related to generating a tracefile or printing loaded classes weren't going this this JVM. This is why it seemed like the faili

[2021-10-04 13:48] pshipton commented on #10759
See also https://github.com/eclipse-openj9/openj9/issues/13616

[2021-10-04 13:48] pshipton commented on #13616
Closing as a dup of the long standing known problem https://github.com/eclipse-openj9/openj9/issues/10759

[2021-10-04 13:48] #13616 closed

[2021-10-04 13:53] pshipton commented on #13537
The test guide has a section on adding environment variables. By setting an environment variable such as OPENJ9_JAVA_OPTIONS (or TR_OPTIONS?) you can affect all JVMs. https://github.com/adoptium/aqa-tests/blob/master/doc/userGuide.md#how-to-pass-in-environment-variables

[2021-10-04 14:16] pshipton opened #13617 "Crash in JIT with vmState=0x0002000f"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Release/9 - ub18-x86-1
jdk_lang_1
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops
jdk/modules/scenarios/automaticmodules/RunWithAutomaticModules.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/

[2021-10-04 15:17] AdamBrousseau commented on #13617
As per
https://github.com/eclipse-openj9/openj9/issues/13462#issuecomment-917056810
and
https://github.com/eclipse-openj9/openj9/issues/13462#issuecomment-919359876
[code]
Try now.

[2021-10-04 15:22] pshipton commented on #13617
Thanks, I was about to ask that all machines be checked. We can't necessarily repeat the crashes and generate another core, we need core collection to work when the failures occur.

[2021-10-04 15:37] pshipton commented on #13469
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_aarch64_linux_Nightly_testList_1/6 - ub20-aarch64-2
LambdaLoadTest_CS_5m_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.system_aarch64_linux_Nightly_testList_1/6/system_test_output.tar.gz
[code]

[2021-10-04 15:38] pshipton commented on #13469
@tajila fyi https://github.com/eclipse-openj9/openj9/issues/13469#issuecomment-916014799
I've tagged as vm.

[2021-10-04 15:50] pshipton opened #13618 "Mauve NullPointerException.constructor NullPointerException: Cannot invoke "java.lang.Throwable.<init>(java.lang.String)" because "this" is null but expected java.lang.NullPointerException"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_x86-64_windows_Nightly_testList_2/42
MauveMultiThrdLoad_5m_1
-XX:-UseCompressedOops
[code]

[2021-10-04 15:51] pshipton commented on #13618
@0xdaryl fyi. Not sure we've seen this one before.

[2021-10-04 15:55] pshipton commented on #13537
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64le_linux_Release_testList_4/7
LambdaLoadTest_special_J9_5m_20
variation: Mode614
JVM_OPTIONS:  -Xcompressedrefs -Xgcpolicy:gencon -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xmn512k -Xcheck:gc:vmthreads:all:quiet

h

[2021-10-04 16:37] dmitripivkine commented on #13537
FYI Test was killed by timeout on attempt to write system core. So there is nothing to investigate in stored artifacts
[code]

[2021-10-04 18:14] mpirvu commented on #13548
Looking at reasons of why a method could trigger a recompilation from itself I see a few possibilities
1. Guarded counting recompilation. Disable with -Xjit:disableGuardedCountingRecompilation
2. OSR and inlined method redefinition. Disable with -Xjit:disableRecompDueToInlinedMethodRedefinition
3. JProfiling. Disable with -Xjit:disableJProfiling

None of these is likely to happen for various reaso

[2021-10-04 18:42] JasonFengJ9 commented on #13128
Console output from https://github.com/eclipse-openj9/openj9/issues/13128#issuecomment-933628631 :
[code]
The `ant` `javac` task failed
https://github.com/eclipse-openj9/openj9/blob/ca3da66257b846691a8cc9d7e23125065be7e780/test/functional/VM_Test/build.xml#L80

The source code being compiled
 https://github.com/eclipse-openj9/openj9/blob/ca3da66257b846691a8cc9d7e23125065be7e780/test/functional/VM_

[2021-10-04 19:38] hangshao0 commented on #13457
There are multiple JVMs launched by the test (`MethodHandlesInsertArgumentsTest`), not every JVM is taking `-XX:-ShareAnonymousClasses` from the CML.

[2021-10-04 20:28] RSalman opened #13620 "Verbose GC Report Class Segment Reclaims Ops (flushUndeadSegments/FixHeapForUnload)"
We have trace points to report class segment reclaim operations, however these should be reported in verbose logs as either `gc-op` or as an extension to the existing class unloading stanzas. These operations can be significant, it would be useful to have on hand when analyzing verbose logs.

[code]

[2021-10-04 20:28] RSalman commented on #13620
@amicic @dmitripivkine new issue moved over from OMR

[2021-10-04 20:56] jdmcclur commented on #13548
With these options, the regression is still there, actually a bit worse.
`-Xjit:disableGuardedCountingRecompilation,disableRecompDueToInlinedMethodRedefinition,disableJProfiling`

[2021-10-04 21:29] pshipton opened #13623 "JEP 417: Vector API (Third Incubator)"
See https://openjdk.java.net/jeps/417

@gita-omr @tajila fyi

[2021-10-05 00:32] #13605 closed

[2021-10-05 01:04] knn-k commented on #13599
I get the following error on cent8-aarch64-2.

https://openj9-jenkins.osuosl.org/job/Build_JDK11_aarch64_linux_Personal/114/
[code]

[2021-10-05 01:13] Akira1Saitoh commented on #13537
The original crash (in `net/adoptopenjdk/stf/environment/properties/OrderedProperties.getProperty(Ljava/lang/String;)Ljava/lang/String;`) looks similar to https://github.com/eclipse-openj9/openj9/issues/13485.
I saw the invalid access (in my case, offset was +36) to a String object in that method, too. It was after the call to `java/lang/StringConcatHelper.newArray` and before the call to `java/la

[2021-10-05 02:04] knn-k commented on #13599
The build on cent8-aarch64-3 was successful.
https://openj9-jenkins.osuosl.org/job/Build_JDK11_aarch64_linux_Personal/115/

[2021-10-05 02:49] AdamBrousseau commented on #13599
Jenkins user added to docker group. Should be resolved now.

[2021-10-05 02:49] #13599 closed

[2021-10-05 08:46] Akira1Saitoh commented on #13485
Ran 70x Grinder with `TR_DisableUseKnownObjectTempsForParmsInCallee`. I got no failures. (`/job/Grinder/18565/`)
I am not sure if that envvar fixes all problems, but when I got the previous debug trace, 4 out of 70 iterations failed. (`/job/Grinder/18536/`)

I took the trace log locally on fuji with `TR_DisableUseKnownObjectTempsForParmsInCallee`.
The trace log is here:
[getProperty.log.TR_Disable

[2021-10-05 09:04] Akira1Saitoh commented on #13485
I ran another Grinder job [1] using a personal build with commit [2] which changes `computePrexInfo` so the treetop corresponding the first occurrence of the load is passed into `defToAutoOrParmInEBB`.
No failure for 70 iterations.

[1] `/job/Grinder/18568/`
[2] https://github.com/Akira1Saitoh/openj9/commit/ede18a9e2d1145f4004407622c315b729e4ba5bc

[2021-10-05 11:35] vijaysun-omr commented on #13485
Great, I reviewed the commit [2] and apart from a comment to use an existing API to simplify the code, it is exactly what I was suggesting.

[2021-10-05 11:45] JasonFengJ9 opened #13627 "JDK17 `0.29` release : java/util/zip/ZipFile/Zip64SizeTest.java - A file cannot be larger than the value set by ulimit."
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Personal/49/consoleFull` (`gold-jst22`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS

[2021-10-05 11:55] JasonFengJ9 opened #13628 "JDK17 `0.29` release : DeserializeMethodTest.java Compilation failed - incompatible types: cannot infer type-variable(s) T#1,M,CAP#1,T#2,T#3,T#4,K,D"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Personal/60/consoleFull` (`ub20lert-1-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKE

[2021-10-05 12:00] JasonFengJ9 commented on #13123
An occurrence at `job/Test_openjdk17_j9_special.system_x86-64_windows_Personal/49/tapResults/`
[code]

[2021-10-05 12:37] pshipton commented on #13584
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_1/114/
cmdLineTester_verbosetest_1
variation: Mode501
JVM_OPTIONS:  -Xjit -Xgcpolicy:balanced -Xnocompressedrefs
Testing: -verbose:gc -verbose:class -verbose:noclass -verbose:class

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.functional_x86-64_mac_Ni

[2021-10-05 14:08] llxia commented on #12481
I do not see jdk_other failure in the[ last several tests builds](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk17_j9_extended.openjdk_aarch64_linux).

Ran jdk_other in [Grinder x20]( https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/18581/)

[2021-10-05 15:38] #12481 closed

[2021-10-05 16:07] gacholio commented on #13242
Changing to use the names results in A not being initialized at all due to https://github.com/eclipse-openj9/openj9/blob/007e2760ca3cec1ade0570c1cda35f18befe8fed/runtime/vm/ClassInitialization.cpp#L708-L709

[2021-10-05 16:08] gacholio commented on #13242
Removing that check makes the test work as expected. @DanHeidinga Do you recall why the test above was added?

[2021-10-05 16:10] gacholio commented on #13242
Using a random hotspot java 8, the test works as expected.

[2021-10-05 17:09] gacholio commented on #13242
Turns out I made this change in order to pass a test, which may well be obsolete at this point. I will look into it.

[2021-10-05 17:12] dmitripivkine commented on #13574
10 test iterations grinder `/job/Grinder/18584/`

[2021-10-05 17:20] dmitripivkine commented on #13617
First grinder for 10 test iterations passed, there is another one for 20: https://openj9-jenkins.osuosl.org/job/Grinder/257/

[2021-10-05 17:54] JasonFengJ9 commented on #13627
This is a machine specific problem, created `runtimes/infrastructure/issues/6055`.

[2021-10-05 17:54] #13627 closed

[2021-10-05 17:54] DanHeidinga commented on #13242
I think because we had to attempt to match the RI before there was a spec for this =)

The spec now states that initializing an interface directly shouldn't initialize the superinterfaces - so accessing a static field, calling a static method on the interface will just initialize that interface.

Initializing a class will cause the climb of the interface heirarchy.

[2021-10-05 18:01] gacholio commented on #13242
I'll try the test on higher JDK levels to see if the behaviour has changed or just been clarified.

[2021-10-05 18:12] gacholio commented on #13242
JDK11 initializes A
[code]

[2021-10-05 18:19] gacholio commented on #13242
@DanHeidinga Do you suppose the initial check is superceded by https://github.com/eclipse-openj9/openj9/blob/007e2760ca3cec1ade0570c1cda35f18befe8fed/runtime/vm/ClassInitialization.cpp#L710-L717
If the default method is removed from A, A does not get intitialized by JDK11.

[2021-10-05 18:26] DanHeidinga commented on #13242
That's what the spec requires - when doing the super-interface climb, only those with default methods (or non-abstract, non-static) methods get initialized.

See item 7 in section 5.6:

For each S in the list [ SC, SI1, ..., SIn ], if S has not yet been initialized, then recursively perform this entire procedure for S. If necessary, verify and prepare S first.

The tricky part is that if the test

[2021-10-05 18:30] gacholio commented on #13242
I doubt we would do initialization differently based on the source of the initialization.

[2021-10-05 18:49] DanHeidinga commented on #13242
It's what the spec requires - for an interface to be initialized due to a `get/putstatic, invokestatic`, we only need to ensure that interface is initialized.  For a class that implements interfaces with default methods, we need to ensure all the interfaces it implements with a default method have been initialized as there's no other check that would trigger it.

[2021-10-05 19:09] iankko commented on #13581
@VermaSh @joransiu

JFTR, managed to get this crashing directly on s390x virtual machine too (outside of OpenShift, or any container). AFAICT from the gdb stacktrace below [*], this issues looks similar like the following two ones, previously reported upstream:
* https://github.com/eclipse-openj9/openj9/issues/6511
* https://github.com/eclipse-openj9/openj9/issues/7273

The gdb strack trace is mis

[2021-10-05 20:18] kganta5128 commented on #7005
Hi
       Sorry I am not sure if i have to start a new thread for my concern or i can post here.

      I am using Adopt Openjdk 1.8 - Openj9 ,  I would like to trigger major gc or clean up tenure space when it reaches 75%.
With Oracle Hotspot we have a option "-XX:CMSInitiatingOccupancyFraction=75"

      What is equivalent open in Open J9 ,  my understanding for nursery space scavenge is going t

[2021-10-05 21:20] ashbm5 opened #13633 "Reset all SecureRandom instances on CRIU snapshot/restore"
Add code to ensure SecureRandom objects are re-seeded before execution proceeds on CRIU restore.

[2021-10-05 21:21] ashbm5 commented on #13633
fyi @vijaysun-omr @tajila

[2021-10-05 23:03] vijaysun-omr commented on #13633
This is part of issue [16384](https://github.com/OpenLiberty/open-liberty/issues/16384)

[2021-10-06 03:23] 0xdaryl commented on #13581
Can you change the JIT verbose option you've been using to `-Xjit:verbose={compile*},vlog=failure.vlog` please?  This will give us a bit more context on the method being compiled when it crashes.

[2021-10-06 08:49] iankko commented on #13581
@0xdaryl PTAL below

[code]
Run the test again to get the crash. The produced files are added below:

1. RH-SSO log (relevant parts of it):
[code]
2. gdb bt:
[code]
3. jitdump (it's suffix was just renamed from .dmp to .txt, so it can be attached):
[jitdump.20211006.042942.18415.0004.txt](https://github.com/eclipse-openj9/openj9/files/7292185/jitdump.20211006.042942.18415.0004.txt)

4. If you need

[2021-10-06 09:05] iankko commented on #13581
Attached yet are the `failure.vlog.*` files (sorry, forgot them before):
1. `failure.vlog.20211006.040557.15477` (just added .txt suffix so it can be uploaded)
[failure.vlog.20211006.040557.15477.txt](https://github.com/eclipse-openj9/openj9/files/7292306/failure.vlog.20211006.040557.15477.txt)
2. `failure.vlog.20211006.042010.18415` (ditto, added .txt suffix to it):
[failure.vlog.20211006.042010.

[2021-10-06 10:27] iankko commented on #13581
JFTR, having tested the scenario with previous OpenJ9 version, the `java-11-openj9-11.0.8.10.0.21.0-1.el7.s390x` doesn't seem to crash, when running the same (repeated multiple times, no crash). So the issue was probably introduced somewhere between Thu, 16 Jul 2020 and now.

[2021-10-06 12:18] pshipton opened #13635 "Hang during javadump creation"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly_testList_1/115 - ub16p8j93
[code]

[2021-10-06 12:25] pshipton opened #13636 "ParallelStreamsLoadTest_CS testRanContainLetter IllegalArgumentException: Comparison method violates its general contract!"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_aarch64_linux_Nightly_testList_1/1
ParallelStreamsLoadTest_CS_0
-Xgcpolicy:gencon -Xgc:concurrentScavenge
[code]
@knn-k fyi

[2021-10-06 12:29] pshipton commented on #13162
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_Nightly/43
jdk_util_1
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops
java/util/stream/boottest/java.base/java/util/stream/SpinedBufferTest.java
[code]

[2021-10-06 14:26] pshipton commented on #12817
@tajila note we need an Eclipse CQ before adding libcriu.so

[2021-10-06 16:11] dmitripivkine commented on #13574
All tests are passed. Moving to 0.30.0 Milestone

[2021-10-06 18:37] pshipton commented on #13574
This problem was reported on the head stream. Based on the grinder results, I'm setting as a blocker, but moving to the 0.30 milestone.
@dmitripivkine can you restart your grinder with a 0.29 JVM to check if the problem occurs there. The latest open build is https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK17_ppc64le_linux_Nightly/44/OpenJ9-JDK17-ppc64le_linux-20211005-215708.t

[2021-10-06 18:55] dmitripivkine opened #13643 "How to trigger major gc or clean up tenure space when it reaches 75%"
Hi
       Sorry I am not sure if i have to start a new thread for my concern or i can post here.

      I am using Adopt Openjdk 1.8 - Openj9 ,  I would like to trigger major gc or clean up tenure space when it reaches 75%.
With Oracle Hotspot we have a option "-XX:CMSInitiatingOccupancyFraction=75"

      What is equivalent open in Open J9 ,  my understanding for nursery space scavenge is going t

[2021-10-06 19:24] JasonFengJ9 commented on #13615
This will need an actual implementation. A build failed with following error after fixing compilation issues.
[code]

[2021-10-06 19:26] AdamBrousseau commented on #13591
I didn't bother rebooting, the machine was up. I just renamed the node name in jenkins and then it started connecting. I suspect this has to do with the sanitize job that reboots them. It is odd that it seems to always crop up on the same windows machines though.

[2021-10-06 19:26] #13591 closed

[2021-10-06 19:34] tajila commented on #13615
Fot the time being you can simply return `this` for

[code]
and true for

[code]

[2021-10-06 19:46] AdamBrousseau commented on #13591
ok I ended up rebooting cause it still wasn't finishing the entire connection process.

[2021-10-06 22:40] JasonFengJ9 opened #13645 "JDK17 Head j9mm.107 * ** ASSERTION FAILED ** at jdk17u-aix-ppc64-openj9/workspace/build/src/openj9/runtime/gc_vlhgc/ReclaimDelegate.cpp:413: ((false && (avgCopyForwardRate > 0.0)))"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_special.system_ppc64_aix_testList_2/60/tapResults/` (`paix816`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_2&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_special.system_ppc64_aix&DOCKER_REQUIRED=false&ACTIVE_NOD

[2021-10-06 22:45] JasonFengJ9 opened #13646 "JDK17 head j9vm.225 * ** ASSERTION FAILED ** at jdk17u-aix-ppc64-openj9/workspace/build/src/openj9/runtime/vm/classsupport.c:1137: (!(((void*)0) == classLoader))"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_special.system_ppc64_aix_testList_3/59/tapResults/` (`pll011`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_3&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_special.system_ppc64_aix&DOCKER_REQUIRED=false&ACTIVE_NODE

[2021-10-06 22:55] JasonFengJ9 opened #13647 "JDK17 head Segmentation error vmState=0x00000000 - Compiled_method=java/lang/String.decodeASCII([BI[CII)I"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_special.system_s390x_linux_testList_3/67/tapResults/` (`rhel7s390x-3-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_3&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_special.system_s390x_linux&DOCKER_REQUIRED=false

[2021-10-06 23:00] JasonFengJ9 opened #13648 "JDK17 head : NPE at java.base/java.lang.StringConcatHelper.prepend(StringConcatHelper.java:352)"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_special.system_x86-64_linux_testList_0/67/tapResults/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_special.system_x86-64_linux&DOCKER_REQUIRED=false&ACTIVE_NODE_TIME

[2021-10-07 00:20] pshipton opened #13649 "jenkins Grinder artifactory upload JFrog service failed. Received 403"
All the grinder jobs seem to fail like below, although the parent job passed because the tests passed. Not sure if this is infra or test. The testing in the nightly builds seems fine.
https://openj9-jenkins.osuosl.org/job/Grinder_iteration_0/16/console
https://openj9-jenkins.osuosl.org/job/Grinder_iteration_1/16/console
[code]

@AdamBrousseau @llxia

[2021-10-07 01:54] knn-k commented on #13636
3 failures in a 20x Grinder job.  https://openj9-jenkins.osuosl.org/job/Grinder/260/tapResults/

[2021-10-07 12:13] JasonFengJ9 commented on #13524
Observed at JDK17 head build `job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux/64/consoleFull` (`pll025`)
[code]

[2021-10-07 12:22] JasonFengJ9 opened #13652 "JDK17 aarch64_linux - StreamLinkTest.java - StackOverflowError"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux/56/consoleFull` (`fuji`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=A

[2021-10-07 15:23] avermeer opened #13655 "-XX:+CompactStrings fails in InetAddress.getLocalHost() with Java 17 Milestone 2"
Java -version output
--------------------
Eclipse OpenJ9 VM 17.0.0.0-m1 (build openj9-0.28.0-m2, JRE 17 Windows 10 amd64-64-Bit Compressed References 20210916_31 (JIT enabled, AOT enabled)

Summary of problem
------------------

Consider the following small program:

[code]

Run it using IBM Semeru 17 Milestone 2:

- Once with standard options:
   `java.exe tests\TestCompactString.java`
   and see

[2021-10-07 16:31] pshipton opened #13656 "Hang during JVM compilation"
Maybe a machine/network issue?

https://openj9-jenkins.osuosl.org/job/Build_JDK11_ppc64_aix_Nightly/118
[code]

[2021-10-07 16:41] pshipton opened #13657 "cmdLineTester_hangTest_0 failing in AOT testing"
See https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-AOT/23/, failing on platforms that run except xlinux.
Example:
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_aot_Personal_testList_0/6
cmdLineTester_hangTest_0
JVM_OPTIONS: -Xshareclasses:name=cmdLineTester_hangTest_0 -Xscmx400M -Xscmaxaot256m
[code]

@llxia

[2021-10-07 17:02] pshipton commented on #13636
3/20 qualifies as a blocker.

[2021-10-07 17:09] pshipton commented on #13457
Another crash in the same test, not sure it's the same crash though.
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/45/
jdk_lang_1
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops
java/lang/invoke/MethodHandlesInvokersTest.java

https://openj9-artifactory

[2021-10-07 17:09] tajila commented on #13655
I tried the test case with:

[code]

And it works as expected. Perhaps this is windows specific.

[2021-10-07 17:57] pshipton opened #13658 "LangLoadTest_5m crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_s390x_linux_Nightly_testList_0/45
LangLoadTest_5m_1
-XX:-UseCompressedOops
LangLoadTest_5m_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_s390x_linux_Nightly_testList_0/45/system_test_output.tar.gz
[code]

@tajila fyi, not sure if this is a dup of another issue.

[2021-10-07 18:04] keithc-ca opened #13659 "Improve implementation of Reference.refersTo()"
The current implementations (both regular and FAST_JNI) of `java.lang.ref.Reference.refersTo()` use `j9gc_objaccess_referenceGet()` which delegates to `referenceGet()` for the relevant GC barrier.

In the case of `MM_RealtimeAccessBarrier`, this ensures the referent is marked which may alter its reachability (needlessly).

Ideally, this could be simplified to a use of `J9VMJAVALANGREFREFERENCE_REF

[2021-10-07 18:05] llxia opened #13660 "Add tests for -XX:[+/-]UseCompressedOops"
We should add cmdlinetest for -XX:[+/-]UseCompressedOops. See the recent issue https://github.com/eclipse-openj9/openj9/issues/13561

Similar to existing cmdlinetests that we have https://github.com/eclipse-openj9/openj9/blob/master/test/functional/cmdLineTests/xxargtest/XXArgumentTesting.xml

[2021-10-07 18:10] JasonFengJ9 opened #13661 "JDK11 testDDRExtJunit_FindExtThread_0_FAILED : AssertionFailedError - at j9vm.test.ddrext.junit.TestThread.testJ9VMThread(TestThread.java:116)"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_extended.functional_ppc64_aix_testList_0/93/tapResults/` (`gold-jst22`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_extended.functional_ppc64_aix&DOCKER_REQUIRED=fal

[2021-10-07 18:21] JasonFengJ9 commented on #12354
Observed at `job/Test_openjdk11_j9_extended.openjdk_x86-64_windows/28/`
[code]

[2021-10-07 18:52] #13661 closed, assigned to nobody

[2021-10-07 20:43] avermeer commented on #13655
Hello,

Thanks for your tests, and indeed I don't reproduce on Linux:

[code]

But I do reproduce on my Windows 10 Professional machine, so that sounds Windows-specific *and* OpenJ9 specific.

If that matters, I took IBM Semeru 17 Milestone 2 binaries from https://github.com/ibmruntimes/semeru17-binaries/releases/tag/jdk-17%2B35_openj9-0.28.0-m2

And I confirm that this issue is OpenJ9 (aka IBM Se

[2021-10-07 20:52] mpirvu commented on #13548
I am glad that the problem disappeared. Somehow we take less memory for the hot compilation which now succeeds. However, I wonder what would happen if the application needed to run in smaller containers, so small that the hot compilation would fail again.
Could you please run with 0.27 with `-Xjit:scratchSpaceLimit=125000` to see whether that continuous warm-->hot-->warm-->hot pattern is still pre

[2021-10-07 21:53] jdmcclur commented on #13548
Yes, with that option, I see the issue with the customer services (but not the booking).

[code]

[2021-10-07 23:43] hzongaro opened #13663 "Performance issue for reference comparisons with value types enabled"
Consider the following snippet of Java code, where the call to `obj` returns an object reference, and the comparison is true more than 99% of the time:

[code]

After assignment of block frequencies, the IL looks like this:

[code]

With value types enabled with the `-XX:+EnableValhalla` option, the IL looks like this:

[code]

Notice that the frequencies of the "then" and "else" blocks are revers

[2021-10-08 01:39] 0xdaryl commented on #8872
This will not be investigated for 0.29.   Moving to 0.30.

[2021-10-08 01:43] 0xdaryl commented on #6552
This will not be investigated for 0.29.   Moving to 0.30.

[2021-10-08 01:46] 0xdaryl commented on #13394
This is a dup of #9782.

[2021-10-08 01:46] #13394 closed

[2021-10-08 10:14] iankko commented on #13581
@0xdaryl

Hey Daryl,

Ok, fair enough. Thank you for the follow-up on this one! What about its slightly reduced form (not disabling inlining):
[code]
Is it still invasive a way too much WRT to performance / optimization level degradation?

(I am aware of entering an area of uncertainty with the following question, but -- ) Can you possibly estimate how long (a week, two weeks, more...) it will tak

[2021-10-08 14:08] #13524 closed

[2021-10-08 14:54] avermeer commented on #13655
@tajila , do you imply that Adoptium Java 17's OpenJDK would not comply with Java spec?
And what's the relationship of this idea and the use of -XX:CompactStrings option?

[2021-10-08 15:15] avermeer commented on #13655
OK thanks for the clarification, so do you agree that it's a bug on OpenJ9 ?

[2021-10-08 16:14] avermeer commented on #13655
@tajila isn't the actual issue the fact that `InetAddress.getLocalHost()` returns an UTF-16 string on Windows although option `-XX:+CompactStrings` is passed to the JVM ?

That `String.startsWith()` returns false when string have different encoding sounds OK and doesn't seem to me to be the actual root cause of the issue.

Would you agree?

[2021-10-08 16:23] douglaspalmer commented on #13581
@iankko @levivic @0xdaryl

I ran the test yesterday on ppc64l and managed to get a core dump even though I set OPENJ9_JAVA_OPTIONS to:
export OPENJ9_JAVA_OPTIONS=-Xjit:{java/lang/invoke/AsTypeHandle.invokeExact_thunkArchetype_X*}\(disableInlining\),dontInline={java/lang/invoke/VirtualHandle.invokeExact*}

[2021-10-08 18:27] pshipton commented on #13655
Yes it's some kind of OpenJ9 problem. The weird part is that getLocalHost() comes from the OpenJDK code so should just work. Likley there is a check for compact strings missing in a JNI string creation path.

[2021-10-08 19:17] JasonFengJ9 commented on #13561
Following code snippet setting `J9_EXTENDED_RUNTIME2_COMPRESS_OBJECT_REFERENCES` need to be skipped when `-XX:-UseCompressedOops` is specified, i.e., command line or user environment option should overwrite automatic switching to `compressedrefs`.
https://github.com/eclipse-openj9/openj9/blob/3201c8482f7388a6e4064ae1c3b804d57be2a7cf/runtime/vm/jvminit.c#L3686-L3712

On the other hand, `-Xnocompres

[2021-10-08 20:01] joransiu commented on #13581
I'd expect putting double quotes around the entire -Xjit option should work (without having to escape anything).

[code]

[2021-10-08 20:43] douglaspalmer commented on #13581
I tried that but still got a core dump on ppc64le.

[2021-10-08 20:52] llxia commented on #13454
ClassLoadingTest_special_5m_5 passed. Close this issue.

[2021-10-08 20:52] #13454 closed

[2021-10-08 20:53] pshipton opened #13669 "__pthread_mutex_lock: Assertion `mutex->__data.__owner == 0'"
Maybe a dup of https://github.com/eclipse-openj9/openj9/issues/13469

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_aarch64_linux_Nightly_testList_1/11 - ub20-aarch64-2
ParallelStreamsLoadTest_CS_0
-Xgcpolicy:gencon -Xgc:concurrentScavenge

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.system_aarch64_linux_Nightly_testList_1/11/sy

[2021-10-08 20:54] joransiu commented on #13581
@douglaspalmer : Do you mind sharing the crash output and stack backtrace you are seeing?  Just wanted to confirm if it's still similar to: https://github.com/eclipse-openj9/openj9/issues/13581#issuecomment-929960710

[2021-10-08 21:03] pshipton commented on #13085
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64_aix_Nightly_testList_1/45
cmdLineTester_getPid_0 (NoOptions)
[code]

[2021-10-08 21:04] joransiu commented on #13581
@douglaspalmer : That output should just be generated to STDERR automatically on the crash by the JVM. We would be interested in the javacore...txt file that will also be generated automatically, as that can confirm what exact JVM options were picked up.

[2021-10-08 22:20] douglaspalmer commented on #13581
@joransiu I'm currently running it with the options single quoted and it's been running for 90 minutes. If it crashes I'll send the output.

[2021-10-08 22:49] douglaspalmer commented on #13581
@joransiu

[root@ibm-p8-kvm-lt-guest-07 keycloak-prod]# cat testsuite/integration-arquillian/tests/base/target/surefire-reports/2021-10-08T18-30-39_626.dumpstream
# Created at 2021-10-08T18:31:11.450
WARNING: An illegal reflective access operation has occurred

# Created at 2021-10-08T18:31:11.450
WARNING: Illegal reflective access by org.jboss.arquillian.graphene.shaded.net.sf.cglib.core.ReflectU

[2021-10-09 00:41] jdmpapin commented on #13581
@douglaspalmer, based on that output, it looks like you're encountering a different issue. Or at least if it is the same issue, I don't see the relevant output here. For a crash during compilation, the VM would generate output that looks similar to the section labelled "RH-SSO log (relevant parts of it)" in https://github.com/eclipse-openj9/openj9/issues/13581#issuecomment-935772752

[2021-10-09 00:48] jdmpapin commented on #13581
I've opened #13671 (currently in draft state) with a fix

[2021-10-09 11:25] knn-k commented on #13636
No failures in 30x Grinder run: https://openj9-jenkins.osuosl.org/job/Grinder/270/
The Grinder run disables the new entry points of arraycopy helper added by eclipse/omr#6188.

[2021-10-09 18:17] douglaspalmer commented on #13581
@jdmpapin I agree, I think it's a different issue.

[2021-10-09 21:02] gacholio commented on #13561
I really mean that the redirector need not fiddle with any options in mixed mode - let the targetted VM handle it.

[2021-10-11 00:45] knn-k commented on #13636
I opened https://github.com/eclipse/omr/pull/6200 as a temporary fix.
It does not apply to v.0.29.

[2021-10-11 01:40] pshipton opened #13672 "No aarch64 build machines"
There are no nodes with the label ‘ci.role.build&&hw.arch.aarch64&&sw.os.cent.7`

https://openj9-jenkins.osuosl.org/job/Build_JDK11_aarch64_linux_Release/2/console

@AdamBrousseau

[2021-10-11 04:32] knn-k commented on #13636
I also opened #13674 for v.0.29.0.

[2021-10-11 09:28] iankko commented on #13581
@jdmpapin

Hello Devin,

  thank you for the patch proposal!

Is there a testing / release candidate OpenJ9 build, which could be used for testing if it fixes the issue? If not, is there a way / scenario how to apply the changes on top of the current builds? (IOW searching for a way, on how to get OpenJ9 build with your changes included to verify, it fixes the problem)

Thanks!
Jan

[2021-10-11 15:14] #13672 closed, assigned to nobody

[2021-10-12 01:14] pshipton commented on #13469
This one is on jdk11.
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_aarch64_linux_Release_testList_1/1 - ub20-aarch64-1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.system_aarch64_linux_Release_testList_1/1/system_test_output.tar.gz
[code]

[2021-10-12 11:33] #13612 closed

[2021-10-12 12:33] pshipton commented on #13509
This is resolved now.

[2021-10-12 12:33] #13509 closed

[2021-10-12 13:15] pshipton opened #13677 "ClassLoadingTest_special_5m NullPointerException net.adoptopenjdk.test.classloading.ClassMapHog.addClass"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_special.system_x86-64_windows_Personal_testList_2/40
ClassLoadingTest_special_5m_8
-Xgcpolicy:gencon -Xshareclasses -Xjit -Xnocompressedrefs

[code]

Seen in the past https://github.com/eclipse-openj9/openj9/issues/8707

[2021-10-12 13:17] pshipton commented on #13677
Started 6x x 5 grinder https://openj9-jenkins.osuosl.org/job/Grinder/273/

[2021-10-12 13:27] tajila commented on #13658
@fengxue-IS Can you please take a look at this

[2021-10-12 17:04] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux_Release/1
[code]

[2021-10-12 17:51] ChengJin01 opened #13679 "[JEP389/JDK17] Unable to load the standard C runtime library in OpenJDK17"
The java & native code associated with `LibraryLookup::ofDefault` for library loading (previously works good on AIX in OpenJDK16) were totally removed since OpenJDK17 and replaced with  `Clinker.systemlookup`, in which case it only supports loading `libc.so` but it doesn't work for `libc.a` on AIX at https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/openj9/src/jdk.incubator.foreign/share/cl

[2021-10-12 18:42] 0xdaryl commented on #5455
Profile guarded devirtualization: Z (#13606)

[2021-10-12 18:54] pshipton commented on #13469
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_aarch64_linux_Nightly_testList_1/12 - ub20-aarch64-2
LambdaLoadTest_CS_5m_0 -Xgcpolicy:gencon -Xgc:concurrentScavenge
[code]

[2021-10-12 19:14] pshipton commented on #13669
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_aarch64_linux_Release_testList_1/2 - ub20-aarch64-1
ParallelStreamsLoadTest_CS_0

[2021-10-12 19:18] pshipton opened #13683 "DaaLoadTest_all_special_5m crash in JIT vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64le_linux_Release_testList_2/8 - cent7-ppcle-3
DaaLoadTest_all_special_5m_16
variation: Mode555
JVM_OPTIONS:  -XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xcheck:gc:vmthreads