[2021-02-16 16:31] pshipton commented on #11904
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal_testList_1/11
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_special.system_x86-32_windows_Personal_testList_1/11/system_test_output.tar.gz

[2021-02-16 16:38] pshipton commented on #11977
We were hoping to enable mixedrefs by default across all versions and platforms, today in fact. Finding this is a surprise and blocks the change. If it can be addressed quickly it would be appreciated so the move to mixedrefs can proceed. Otherwise, getting some estimate of when it could be completed would be useful. For now I've set it as a blocker against the 0.25 release, as we had intended to

[2021-02-16 16:42] pshipton commented on #11980
@jdekonin Windows needs the update as usual.

[2021-02-16 17:00] hangshao0 commented on #11908
[code]

Failed at `omrsl_open_shared_library()` here:
https://github.com/eclipse/omr/blob/a7e83c733c98f2a6e70859a7640ec1b95ec54a3e/port/win32/omrsl.c#L260

[2021-02-16 17:19] hangshao0 commented on #11908
After a closer look at the output, the module not found message is not the cause of the failure. In the passing case:

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly_testList_0/252/consoleFull
I see:
[code]

semaphore set is failed to be removed in the failure case. It is successfully destroyed in the passing case.

[2021-02-16 17:20] dmitry-ten commented on #11910
There haven't been any crashes in this test since https://github.com/eclipse/openj9/pull/11898 has been merged, so it's likely been fixed by it. @mpirvu you think we can close this one?

[2021-02-16 17:30] 0xdaryl commented on #11977
Many parts of the AArch64 runtime were derived from Power, so any changes required won't be too far from it.  I'd say it is still possible to get this done for 0.25.  We'll work on it over the next day or so, targeting EOW.  We have to be thorough though and sweep through the code to be sure we catch all the right places.

[2021-02-16 19:27] #11978 closed

[2021-02-16 19:52] Leonardo2718 commented on #11961
Note the changes from #11871 were reverted in https://github.com/eclipse/openj9/commit/a80e4fe10b when the branch was created.

[2021-02-16 19:55] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Personal/11
[code]

[2021-02-16 20:27] liqunl commented on #11611
A deeper look into the log file, I found we only inline level of MethodHandle in the chain during targeted inlining, more specifically, after the first pass of MethodHandle inlining opt group because we don't emulate the stack state after the first pass, thus we can't refine MethodHandle calls and find the target.
https://github.com/eclipse/openj9/blob/867c36f7fbbc67e0d206fdac204c7232bc4e21bc/runt

[2021-02-16 20:46] dsouzai commented on #11611
Given that we also know the size of the stack allocated for the stack of the comp thread, might be worth adding some heuristic to end the recursion early depending on some recursive call count (incremented via some RAII object for example).

[2021-02-16 22:37] sharon-wang commented on #11833
For the `String` class, there's a difference between the RI output for JDK 8 and JDK 11.

For example, if we have
[code]

RI JDK 8
[code]

RI JDK 11
[code]

@tajila Do we want to match the RI JDK 11 exception output in both JDK 8 and 11 (contains more useful info), or do we want to match our JDK 11 to the RI and match the RI's more minimal info in JDK 8 for our 8?

Additionally, the `StringBuffer`

[2021-02-16 23:10] knn-k commented on #10266
You can still build CR or XL binaries after mixedrefs becomes the default, can't you?  If yes, I think it would be acceptable.

It is often much faster to build AArch64 binaries on x86 Linux than to build on Raspberry Pis or on servers like cent7-aarch64-1, depending on the performance of the x86 Linux environment.

[2021-02-16 23:18] pshipton commented on #10266
We can still build with `--with-mixedrefs=no`. For now, I'm going to re-work the code to enable it by default so it doesn't enable for cross compiles.

[2021-02-16 23:41] knn-k commented on #11965
Issue #11977 AArch64: Support mixed refs

[2021-02-17 01:13] knn-k commented on #11977
@pshipton
I only see #11963 and #11965 with AArch64 mixed refs in the issue list.
Are there any other tests you run for `-Xnocompressedrefs` with mixedrefs builds?

[2021-02-17 01:21] knn-k commented on #11977
Related issue: #10266
You cannot build mixed refs binary in cross-build environments because CMake is disabled.

[2021-02-17 02:25] Akira1Saitoh commented on #11977
Opened https://github.com/eclipse/openj9/pull/11987

[2021-02-17 04:27] pshipton commented on #11977
You can see the whole tes at hyc-runtimes job/Test_openjdk11_j9_sanity.functional_aarch64_linux_mixed/7. I don't see anything else running besides the openjdk tests, but these are passing. I think once the sanity.functional tests are in good shape we can see about running additional test suites. @AdamBrousseau

[2021-02-17 04:31] pshipton commented on #11977
Note you can run an internal personal build using `aarch64_linux_mixed` as the platform, and include any test suites you want from the list: sanity.functional,extended.functional,sanity.system,extended.system,special.system (and sanity.openjdk but this passes).

[2021-02-17 04:35] pshipton commented on #11977
You can also specify those tests in a PR build. Seems we still only have the one aarch64 machine internally, so the ability to run testing is limited. At some point more machines will be available, but not sure when.

[2021-02-17 04:37] knn-k commented on #11977
I am running "jenkins test extended alinux64mxd jdk11" in #11987 now.

[2021-02-17 05:20] #11921 closed

[2021-02-17 13:07] pshipton commented on #11981
@jdekonin missing tagging you.

There are more offline now.
https://ci.eclipse.org/openj9/computer/cent6-x64-7/
https://ci.eclipse.org/openj9/computer/cent7-x64-1/
https://ci.eclipse.org/openj9/computer/cent7-x64-3/
https://ci.eclipse.org/openj9/computer/ub16x64j92/
https://ci.eclipse.org/openj9/computer/ub16x64j94/

[2021-02-17 13:34] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_mixed_Nightly/14

[2021-02-17 13:42] pshipton commented on #11899
@0xdaryl a number of recent failures, but it's not a new test. The test is related to finalization.

[2021-02-17 13:43] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_mixed_Nightly/15/

[2021-02-17 13:51] pshipton opened #11988 "SharedClasses.SCM23.MultiThreadMultiCL crash in JIT vmState=0x0008000c"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_mixed_Nightly_testList_2/7
SharedClasses.SCM23.MultiThreadMultiCL_0
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_extended.system_x86-64_linux_mixed_Nightly_testList_2/7/system_test_output.tar.gz

vmState [0x8000c]: {J9VMSTATE_ATTACHEDDATA_UPDATE}

[code]

[2021-02-17 13:52] pshipton commented on #11988
@dsouzai someone should take a look at this.

[2021-02-17 13:54] pshipton commented on #11843
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly/634

[2021-02-17 13:55] pshipton commented on #11908
https://github.com/eclipse/openj9/issues/11843 is probably related.

[2021-02-17 14:03] jdekonin commented on #11981
The host is very unhappy.  It appears something running on ub16x64j92 and ub16x64j94 have consumed a massive portion of the disk impacting the other guests.

[2021-02-17 14:16] pshipton commented on #11899
There is an old failure report https://github.com/eclipse/openj9/issues/10048 which I'm closing as a dup of this.

[2021-02-17 14:16] pshipton commented on #10048
I'll close this as a dup of https://github.com/eclipse/openj9/issues/11899

[2021-02-17 14:16] #10048 closed

[2021-02-17 14:27] vij-singh commented on #11500
@pshipton As discussed, is 0.26.0 more appropriate?

[2021-02-17 15:26] pshipton commented on #11500
It's always more desirable to fix problems sooner rather than later, and there is still some time for lower risk changes in 0.25. The problem is not yet understood so the severity is unclear. That said, there is no indication this problem is a regression and may have always occurred.

[2021-02-17 15:27] #9227 closed

[2021-02-17 16:01] tajila opened #11990 "Add jit compile time helper to detect @stable annotation"
The @stable (java/lang/invoke/Stable) annotation is used an indicator to the JIT that the first non-NULL value stored may be treated as a constant thus enabling constant folding. It behaves similar to final. One difference is that it can also be applied to arrays, meaning that all array elements may be constant folded as well. Currently the only usage of this annotation is in trusted (core JDK) co

[2021-02-17 16:03] tajila commented on #11990
@gita-omr ^^

[2021-02-17 16:05] sharon-wang commented on #11990
I'll take a look at this!

[2021-02-17 16:11] dsouzai commented on #11988
GDB wasn't able to print the stack trace on my machine, I guess my glibc version is too new...

Manually disassembling:
[code]
Looking at `TR_J9SharedCache::addHint(J9Method*, TR_SharedCacheHint)`, we do the following:
[code]
The romMethod comes from the J9Method passed in, which is the J9Method of the method being compiled. The vmThread should be valid too. So there's nothing that can go wrong he

[2021-02-17 16:24] tajila opened #11993 "Add jit compile helper time to detect @ForceInline annotation"
The @ForceInline (jdk.internal.vm.annotation.ForceInline) will be used to notify the JIT that the method will benefit from inlining.

We will introduce a compile time jithelper to so the JIT can query if the method is annotated with @ForceInline or not.

First we will add a VMHelper

//@param clazz, the class that own the field
//@param the cpindex of the method to query
//@return true, if forcein

[2021-02-17 16:25] tajila commented on #11993
@gita-omr ^^

[2021-02-17 16:25] sharon-wang commented on #11993
I'll take a dive into this

[2021-02-17 16:41] fjeremic commented on #11993
See related #2076 which talks about `@HotSpotIntrinsicCandidate`. I would love to see this made available as well.

[2021-02-17 16:41] tajila commented on #11721
@JasonFengJ9 can you please take a look at this

[2021-02-17 16:46] fjeremic commented on #11993
Also unfortunate for @forceinline 😅 I wonder how often he gets accidentally tagged in issues.

[2021-02-17 16:47] JasonFengJ9 commented on #11721
Sure, will look into it.

[2021-02-17 17:21] pshipton commented on #11988
I mistakenly though JIT was at the top of the stack due to.
[code]

This may be related to https://github.com/eclipse/openj9/issues/11981#issuecomment-780577793

[2021-02-17 17:23] hangshao0 commented on #11908
Looks like it is caused by the garbage data in `SH_OSCachesysv::_controlFileStatus`.

https://github.com/eclipse/openj9/blob/8394cffecaf5ea67e60c837a3b8f27e8c7d5c290/runtime/shared_common/OSCachesysv.cpp#L690-L694

I don't see the error message been printed out after the portlib error number. I believe`_controlFileStatus.errorMsg` points to a garbage address that leads to the crash. Even the portl

[2021-02-17 18:29] #11981 closed

[2021-02-17 18:30] pshipton commented on #11988
I'll close this as a machine issue and we can revisit if it occurs again.

[2021-02-17 18:38] pshipton commented on #10834
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Personal/1102/

[2021-02-17 20:46] gita-omr commented on #2076
FYI: Vector API library uses `@IntrinsicCandidate`

[2021-02-18 03:01] 0xdaryl commented on #9416
Moving this out to 0.26.  A failure has not been seen since adding the new instrumentation to help us narrow this down, and the workaround has been committed to the 0.25 branch already.

[2021-02-18 03:10] 0xdaryl commented on #7699
We haven't had much of an opportunity to make progress on this one.  Moving forward to 0.26.

[2021-02-18 03:19] 0xdaryl commented on #11511
@gita-omr : those two PRs you mentioned are now merged.  Is this still an issue, and if so should it move out to 0.26 ?

[2021-02-18 03:21] 0xdaryl commented on #11424
@gita-omr : will this still be happening for 0.25?  If not, let's move to 0.26.

[2021-02-18 03:22] gita-omr commented on #11511
I would need to confirm with @zl-wang

[2021-02-18 03:23] 0xdaryl commented on #10929
This problem is still being investigated with no artifacts yet to investigate.  Moving to 0.26.

[2021-02-18 03:25] 0xdaryl commented on #9651
Moving this forward again as there is little likelihood of making progress investigating in the 0.25 timeframe.

[2021-02-18 03:26] 0xdaryl commented on #8872
Moving this forward again as there is little likelihood of making progress investigating in the 0.25 timeframe.

[2021-02-18 03:32] 0xdaryl commented on #11531
@fjeremic : could you assign this to someone to triage please?  I'll move out to 0.26 anyway.

[2021-02-18 03:49] 0xdaryl commented on #11731
My apologies, I missed the tag earlier.

@nbhuiyan : can you follow the instructions above and see if you can reproduce please?

[2021-02-18 03:49] 0xdaryl commented on #11731
Moving this out to 0.26.

[2021-02-18 03:53] 0xdaryl commented on #11725
My apologies, I missed the tag earlier.

@a7ehuo : could you download the build artifacts referenced above and triage the problem please?

[2021-02-18 03:53] 0xdaryl commented on #11725
Moving this out to 0.26.

[2021-02-18 04:34] pshipton commented on #11526
This was set as a blocker due to the frequency of failure, however the failure hasn't been seen in some time so I'll remove the blocker status.

[2021-02-18 04:37] #11843 closed

[2021-02-18 12:16] JasonFengJ9 commented on #10710
Observed in recent JDk11/16 Windows runs.

From an internal build `Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly/538`
[code]

`Test_openjdk16_j9_sanity.functional_x86-64_windows_Nightly/29`
[code]

[2021-02-18 12:38] JasonFengJ9 commented on #11721
Latest OpenJ9 JDK8/11 throw expected AssertionErrors.
[code]
[code]

@fuzzy000 can you check if this problem still presents against latest OpenJ9 JVM?

[2021-02-18 14:10] bogdanbrindusan opened #11998 "Container memory not detected properly when running in ECS Fargate Platform 1.4.0"
Hi there,

I have an issue sizing the JVM Heap when running in AWS ECS with Fargate Platform 1.4.0. The Fargate platform version is probably relevant because they changed the container runtime to `Containerd`.
Locally on Docker it works as expected.

I'm using the Docker image: `adoptopenjdk:11-jre-openj9`
JDK version: `openj9-0.24.0`, Java version: `11.0.10`
JVM settings: `-XX:+UseG1GC -XX:MinRAM

[2021-02-18 14:32] dmitripivkine commented on #11998
Would you please provide javacore files for bad and good(expected behaviour) runs? You can request javacore generation by running `java -Xdump:java:events=vmstop -version`

[2021-02-18 15:02] fjeremic commented on #11531
@VermaSh could you help take a look at this one? Let's start off by grinding it first to figure out the failure rate. Seems we had about 5 failures here since December, and these are nightly builds so I'd guestimate we're in the 1/10 range.

I've started a 30 job grinder here using the latest nightly:
https://ci.eclipse.org/openj9/job/Grinder/1531

Once we get failures we should have a jitdump wit

[2021-02-18 15:09] liqunl opened #12000 "Don't treat MutableCallsiteTargetOperand as KnownObjOperand"
`MutableCallsiteTargetOperand` is created to represent result of `java/lang/invoke/MutableCallSite.getTarget`, which is not a constant as the target can change.

However, we treat `MutableCallsiteTargetOperand` the same as `KnownObjOperand` while maintaining the stack state. Problems can occur if we create `KnownObjOperand` for a final field of `MutableCallsiteTargetOperand`, then choose to inline

[2021-02-18 16:19] DanHeidinga commented on #6919
For context, there was discussion on how to update OpenJ9's command line processing when the `-XX:PrintFlags` option was added - see detailed discussion starting in:
https://github.com/eclipse/openj9/pull/9567#issuecomment-631125598

It would be good if any future options work - either in OMR or OpenJ9 - take that discussion and general design direction into account.

[2021-02-18 16:21] pshipton commented on #11721
Does this also run on Java 16? If so we can check against a 0.25 build and close this against the 0.25 milestone.
Latest builds are here https://ci.eclipse.org/openj9/job/Pipeline-Release-0.25.0-Build16/3/

[2021-02-18 16:35] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_mixed_Nightly/16/

[2021-02-18 16:37] pshipton commented on #11509
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly_testList_0/253
TestJps_SE80_0
[code]

[2021-02-18 16:40] lumpfish commented on #11904
jcmd should now be used to generate dumps on Windows: see https://github.com/AdoptOpenJDK/stf/issues/103

[2021-02-18 17:32] 0xdaryl commented on #11611
Although root cause has been identified, the proper fix is still being determined.  As this is a riskier change that involves modifying inliner behaviour that should undergo more testing, I'll move this out to 0.26.

[2021-02-18 17:34] 0xdaryl commented on #8173
Little progress was made on this despite having a new crash dump file to work with.  Moving out one more release.

[2021-02-18 17:36] 0xdaryl commented on #8972
No updates on this long-standing problem for 0.25.  Moving out to 0.26.

[2021-02-18 17:40] gacholio commented on #11977
While you're at it, the following dead code can be removed:

https://github.com/eclipse/openj9/blob/8d60d1d114d82a672c10607d05a0dce1768ff4e1/runtime/compiler/arm/codegen/J9ARMEvaluator.cpp#L122-L126

[2021-02-18 18:12] IBMJimmyk commented on #11424
I'm actively working on this and currently in the middle of testing. Assuming nothing goes horribly wrong, this is still being targeted for 0.25.

[2021-02-18 19:28] gacholio commented on #5654
Initial implementation is here: https://github.com/gacholio/openj9/tree/agct

Note this implements only AsyncGetCallTrace, not any of the other HotSpot internals that the above profiler requires.

@tajila Can you get one of the interested parties to try a build from this branch?

[2021-02-18 19:34] JasonFengJ9 commented on #11721
JDK16 0.25 milestone build [1] throws expected AssertionError as well.
[code]

[1] http://ub18p8art.casa.cs.unb.ca/artifactory/ci-eclipse-openj9/Build_JDK16_x86-64_mac_Release/1/OpenJ9-JDK16-x86-64_mac-20210213-100148.tar.gz

[2021-02-18 19:44] #11721 closed

[2021-02-18 21:54] tajila commented on #5654
@gacholio Ill give it a try

[2021-02-18 22:54] JasonFengJ9 opened #12006 "JDK16 (aarch64_linux) cmdLineTester Segmentation error vmState=0x00000000 at libj9jit29.so"
Failure link
------------

From an internal build `Test_openjdk16_j9_sanity.functional_aarch64_linux/6`:
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
12:35:09  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=functional&PLATFO

[2021-02-18 23:00] a7ehuo commented on #11725
I downloaded the log mentioned above https://github.com/eclipse/openj9/issues/11725#issue-791086893 at https://drive.google.com/file/d/1G5WTUkuHriEBVAm9lhZrzAZ7aiWea5q6/view?usp=sharing. The console log shows a different crash as below:

[code]

It crashed in `VM_ObjectMonitorCompressed::inlineFastObjectMonitorEnter()` [1] when it tried to access `J9Class` `lockOffset` (`0xd8`) [2],`rax` doesn’t c

[2021-02-18 23:01] pshipton commented on #12006
Is this mixedrefs? Seems like it has to be. -Xnocompressedrefs problem in aarch64 builds are being resolved by https://github.com/eclipse/openj9/pull/11987

[2021-02-18 23:10] JasonFengJ9 commented on #12006
Yeah, it is as per the rebuild link: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=functional&PLATFORM=aarch64_linux_mixed&TARGET=SharedCPEntryInvokerTests_0

[2021-02-19 00:37] #11963 closed

[2021-02-19 00:37] #11965 closed

[2021-02-19 00:37] #11977 closed

[2021-02-19 06:41] knn-k commented on #11977
@gacholio I opened PR #12007 for removing the `OMR_GC_COMPRESSED_POINTERS` code in ARM32 JIT.

[2021-02-19 14:45] VermaSh commented on #11531
@fjeremic the 30 job grinder didn't have any failures. Could you launch another grinder? I don't have permission to launch a job on ci.eclipse

[2021-02-19 15:18] paulcheeseman opened #12009 "Xtrace: tracing to STDERR does not work in non-English locales"
Using Xtrace to print tracepoints directly to the STDERR stream does not work in (all?) non-English locales.

For example, in the Spanish locale `es_ES`:

[code]

The same thing happens in other non-English locales such as `fr_FR` or `ru_RU`. I haven't attempted comprehensive testing across all locales.

Interestingly, the tracepoints are formatted just fine if the trace is sent to a binary file a

[2021-02-19 16:32] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_mixed_Nightly/17/

[2021-02-19 16:36] pshipton opened #12010 "ub16x64j94 offline again"
https://ci.eclipse.org/openj9/computer/ub16x64j94/

@jdekonin

[2021-02-19 16:37] pshipton commented on #12010
There seemed to be UNB network issues this morning, but all machines are back online except for this one.

[2021-02-19 17:29] AdamBrousseau commented on #12010
This one was causing issues for doc builds the other day so there may be something wrong with it.
https://ci.eclipse.org/openj9/view/Website-Doc/job/PullRequest-Doc-test_on_staging_site/
build 687-690
Maybe just a read-only fs

[2021-02-19 17:35] jdekonin commented on #12010
I attempted a restart but it appears the image is in bad shape.

`Image is corrupt; cannot be opened read/write`

I leave to @rajdeepsingh1 to resolve.

[2021-02-19 17:52] Thihup opened #12012 "GPF running Recaf"
Java -version output
--------------------
JITServer is currently a technology preview. Its use is not yet supported
openjdk version "15.0.2" 2021-01-19
OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.2+7-202101212344)
Eclipse OpenJ9 VM AdoptOpenJDK (build master-10f33a7c4, JRE 15 Linux amd64-64-Bit Compressed References 20210121_173 (JIT enabled, AOT enabled)
OpenJ9   - 10f33a7c4
OMR      - 8

[2021-02-19 18:19] fjeremic commented on #11531
https://ci.eclipse.org/openj9/job/Grinder/1532/

[2021-02-19 18:55] pshipton commented on #12012
@tajila fyi

[2021-02-19 19:13] dmitry-ten commented on #11870
List of messages whose client handler code needs to be refactored:
- `ResolvedMethod_getResolvedPossiblyPrivateVirtualMethodAndMirror`
- `ResolvedMethod_getResolvedInterfaceMethodAndMirror_3`
- `ResolvedMethod_getResolvedSpecialMethodAndMirror`
- `ResolvedMethod_getResolvedStaticMethodAndMirror`
- `ResolvedMethod_getResolvedVirtualMethod`
- `ResolvedMethod_getMultipleResolvedMethods`

[2021-02-19 19:15] pshipton commented on #8189
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_mixed_Nightly_testList_3/22
MathLoadTest_all_special_5m_23
[code]

[2021-02-19 19:16] pshipton commented on #10063
We can close this as a dup of https://github.com/eclipse/openj9/issues/8189

[2021-02-19 19:16] #10063 closed

[2021-02-19 19:23] gacholio commented on #8189
Note this originally occurred on ARM64, so it would seem not to be PPC-specific. The ARM JIT was based of the PPC one, so there may be an error duplicated between the codegens.

[2021-02-19 19:47] Mesbah-Alam commented on #11642
@LongyuZhang - has all the PR to fix this issue been delivered? If so, we may close this issue.

[2021-02-19 20:03] LongyuZhang commented on #11642
The test passed with my own grinder, but the aforementioned `Test_openjdkNext_j9_extended.system_ppc64_aix_Nightly` has stopped running since Jan.19 to verify this fix.

[2021-02-19 20:24] pshipton commented on #10809
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.functional_x86-64_mac_mixed_Nightly_testList_0/10
testSCCacheManagement_0
[code]

[2021-02-19 21:13] a7ehuo commented on #11725
@gacholio Wondering if you could help take a look at the above finding mentioned in https://github.com/eclipse/openj9/issues/11725#issuecomment-781691177? Is it possible that it might be related to #11683 since the java stack backtrace is much alike? Is there anything else that I could check in the log files? Is it worth for @fuzzy000 to try executing the test file with '-Xint'?

[2021-02-19 21:39] gacholio commented on #11725
I don't think it's related to #11683 as that was an intentionally bad class file which tripped up the verifier, unless that's also in play here @fuzzy000

Can you get a full `!stackslots` from DDR to see what's been compiled and what has not?

[2021-02-19 21:50] gacholio commented on #10028
I think we still want one more change in the JIT signal handler - in the case where NPE would be thrown from the handler, detect the DF error and print a message to the console and proceed to crash and generate core rather than throwing the NPE.

[2021-02-20 08:57] htreu commented on #11205
@tajila could you please let me know which release this will go into?
Thanks and have a nice weekend.

[2021-02-20 21:17] pshipton opened #12014 "win2012-x86-4 offline again"
@jdekonin

[2021-02-20 21:19] pshipton commented on #11908
I guess there is still a problem
[code]

[2021-02-20 21:23] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_mixed_Nightly_testList_2/10
TestJlmRemoteThreadNoAuth_1
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_sanity.system_s390x_linux_mixed_Nightly_testList_2/10/system_test_output.tar.gz
[code]

[2021-02-20 21:32] pshipton opened #12015 "SC_Softmx_UpDown_0 segfault vmState=0x00080002"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_s390x_linux_mixed_Nightly_testList_0/24
SC_Softmx_UpDown_0
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_extended.system_s390x_linux_mixed_Nightly_testList_0/24/system_test_output.tar.gz
vmState [0x80002]: {J9VMSTATE_SHAREDCLASS_STORE}
[code]
4.jvm1.stderr
[code]

[2021-02-20 21:32] pshipton commented on #12015
@tajila @hangshao0 fyi

[2021-02-20 23:27] bogdanbrindusan commented on #11998
sure @dmitripivkine
Attaching below 2 files:

- one successful, where the memory is set to 900MB specific for the container inside the ECS Task
- one unsuccessful, where memory is not set on the container and it doesn't detect the overall ECS Task memory

The unsuccessful scenario works with Hotspot.

[fargate_900mb_oncontainer_javacore.20210220.231356.10.0001.txt](https://github.com/eclipse/openj

[2021-02-21 21:07] pshipton commented on #11904
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_special.system_x86-64_windows_mixed_Personal_testList_0/1
No diagnostics because the job timed out before uploading them.
[code]

[2021-02-21 21:11] pshipton commented on #6552
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_special.system_s390x_linux_mixed_Personal_testList_2/1
DaaLoadTest_all_special_5m_7
variation: Mode122
JVM_OPTIONS:  -Xgcpolicy:optavgpause -Xjit:count=0,optlevel=warm,gcOnResolve,rtResolve -Xnocompressedrefs
[code]

[2021-02-21 22:28] ZekerZhayard opened #12016 "<clinit> sometimes will not be invoked when calling static methods at first."
[code]

Considering test cases below:
- **Test Case 1**

[code]
In this case, `Test` class will throw an exception in `<clinit>`, then run with OpenJ9 and Hotspot respectively. The result is:
[code]
We will find that, with OpenJ9, `<clinit>` won't be invoked when `Test.test` being invoked and until `Test.a` was acquired.

We can also find that OpenJ9 can't get the method by `cp.getMethodAtIfLoaded

[2021-02-22 09:51] andrew-m-leonard opened #12018 "jdk8 AIX OpenJ9 preprocessor cmake fails to load with Xlc13"
Looks like jdk8 AIX cmake fails to load with Xlc13 libraries?
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-openj9/975/consoleFull
[code]

[2021-02-22 12:29] JasonFengJ9 commented on #12012
Will pick up this.

[2021-02-22 13:49] jdekonin commented on #12014
System is online and cleaned up.

[2021-02-22 14:11] pshipton commented on #12018
This seems like a machine setup problem. A version of the cmake utility is installed which doesn't run on the machine. What is the version of the machine?

I find the following on a OpenJ9 machine, with no dependency on libstdc++.
[code]
[code]

[2021-02-22 14:45] pshipton commented on #12016
@tajila fyi

[2021-02-22 15:19] pshipton commented on #11904
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal_testList_1/12
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_special.system_x86-32_windows_Personal_testList_1/12/system_test_output.tar.gz

[2021-02-22 15:21] Haroon-Khel commented on #12018
On the failing machine
[code]

[2021-02-22 15:28] rmnattas commented on #11624
All parts of the issue got merged. Closing issue.

[2021-02-22 15:28] #11624 closed

[2021-02-22 15:28] pshipton commented on #11904
I note this test appears to complete within 15min on other platforms.

[2021-02-22 15:33] a7ehuo commented on #11725
@gacholio `!stackslots` is already attached to the above comment https://github.com/eclipse/openj9/issues/11725#issuecomment-781691177.

Extracting out the frames and methods below.

[code]

[2021-02-22 15:33] pshipton commented on #12018
@jdekonin fyi in case you have any advise.

[2021-02-22 15:34] 0xdaryl commented on #5455
Support mixed references: AArch64 (#11977), general issue (#8847)

[2021-02-22 15:40] jdekonin commented on #12018
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1603 I found when this problem first came up an AIX admin advised that we not add links (hack) to make it work, but rather compile our own until the freeware version fixed the problem with the package.  This is why the specific v3.17.1 on the OMR and OpenJ9 systems.  I have not had the opportunity to revisit to see if the freeware versi

[2021-02-22 15:50] pshipton commented on #11904
I guess this test isn't converted to use time based testing. I see some modes passing quickly, and other modes taking a longer period of time, 30min+.

[2021-02-22 15:51] pshipton commented on #11904
@Mesbah-Alam @lumpfish is it in progress to convert this test to time based?

[2021-02-22 16:17] hangshao0 commented on #11908
There is a case where a NULL (last parameter) is passed to `j9shmem_open()`, we won't be able to memset `J9ControlFileStatus` to 0 inside j9shmem_open().

https://github.com/eclipse/openj9/blob/8394cffecaf5ea67e60c837a3b8f27e8c7d5c290/runtime/shared_common/OSCachesysv.cpp#L1554

The initial allocated memory for `SH_OSCachesysv` is not memset to 0, it could have garbage values.

https://github.com/

[2021-02-22 16:22] #12018 closed

[2021-02-22 16:57] lumpfish commented on #11904
As explained in https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/379 - the test is self limiting to two concurrent instances - so there is no point in running it one more than two threads.  Any additional threads just terminate immediately upon seeing that there are already two threads running.

As you have observed, it (usually?) takes > 5mins to run.  If it were changed to time based, t

[2021-02-22 17:12] gacholio commented on #11725
The receiver in the constructor chain is not an instance of Throwable:
[code]
The bytecodes of the method throwing the NPE are:
[code]

[2021-02-22 17:13] gacholio commented on #11725
So yes, this does in fact look like a dup of #11683. @fuzzy000 Why are you running a stress test on invalid bytecodes?

[2021-02-22 17:16] Mesbah-Alam commented on #11904
@lumpfish ,  I guess the answer to this is what Pete said in one of his previous comments -

[2021-02-22 17:42] bogdanbrindusan opened #12021 "High native memory allocation for class storage"
Hi,

I'm doing a POC with OpenJ9, currently on Hotspot, and if successful then adopt it more widely.

### Issue overview
While running performance tests I've encountered an issue which takes the services down.
The performance test is separated in 2: roughly same parts of the code are executed in both 1st & 2nd part.
The problem always appear at the 2nd part, more than 1h into the test.
Around 10mi

[2021-02-22 17:45] lumpfish commented on #11904
But as I said, they take >30 mins to run once in those modes

[2021-02-22 17:52] pshipton commented on #11904
My primary concern is this failure, it appears the tests are often trying to run for longer than the timeout.

Secondary, although this mode and some other modes can take 30+, there are modes being used where the testing takes less than 5 minutes. As previously discussed re time based testing, the shorter run time may not be long enough to warm up the JIT and find all the bugs.

[2021-02-22 17:59] pshipton commented on #11904
Looking at the diagnostics we have for the most recently failure https://github.com/eclipse/openj9/issues/11904#issuecomment-783448905, I was hoping to have javacore files, but I only see core files created via procdump.

[2021-02-22 18:10] lumpfish commented on #11904
Yes, I noticed that.  I downloaded the same jdk build and ran my jcmd test and jcmd was used as expected:
[code]
The code checks that there is a jcmd.exe available in the jdk bin dir and that java.vm.name contains 'J9' - if so it uses jcmd.  It's not obvious to me why that would not work in your environment - as far as I can tell, you are running with the updated stf code.  Maybe we'll have to add

[2021-02-22 18:17] pshipton commented on #12021
@dmitripivkine fyi

What criteria are the service health checks failing? Is there a real problem, or do the health checks need to be re-configured for OpenJ9?

`-Xmcrs125M` is setting a smaller limit than the default, which is 200m. I'm guessing the smaller limit is forcing (global?) GC(s) in order to free space, which is keeping the class storage lower. I expect we'll need verbose gc logs for pro

[2021-02-22 18:18] lumpfish commented on #11904
Yes - I noticed that.  I ran the same test

What do you mean by 'the timeout'?  The tests are coded such that if the workload process does not complete within 60 minutes then the dumps are taken and the test is declared failed.

This is the code which sets that timeout:
[code]

[2021-02-22 18:19] dmitry-ten commented on #11162
@mpirvu #11686 closes this issue.

[2021-02-22 18:21] lumpfish commented on #11904
We can create a 'timed' variation.  My point is that if you run for only 5 minutes you'll mostly only be running the tests once anyway.

[2021-02-22 18:24] Mesbah-Alam commented on #11904
Will it work if we make a timed version of it that runs for `15m`?

[2021-02-22 18:24] pshipton commented on #11904
As per previous analysis https://github.com/eclipse/openj9/issues/11904#issuecomment-775336852, this test isn't hanging, it's often just trying to run for more than 60min, causing it to fail. The preferred behavior is for the test to pass obviously, and also to run for only around 5 min in slow modes, not not more than 1 hour.

[2021-02-22 18:28] pshipton commented on #11904
Looking at https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_mixed_Nightly/19, some modes run significantly less than 5min.

7 - - ParallelStreamsLoadTest_special_J9_2 | 1 min 45 sec | OK | No | No
8 - - ParallelStreamsLoadTest_special_J9_3 | 1 min 39 sec | OK | No | No
9 - - ParallelStreamsLoadTest_special_J9_18 | 1 min 42 sec | OK | No | No
10 - - ParallelStreamsLoa

[2021-02-22 18:30] xxDark commented on #12012
I was able to reproduce that issue.
It is caused by this library that is used in Recaf:
https://github.com/nqzero/permit-reflect
Will also look into that.

[2021-02-22 18:36] lumpfish commented on #11904
Thanks for the data.

So if we create a 'timed' variant, then it will be possible to set it to run for a minimum time - you can then decide what you think is a 'good' time to run for.  For a 'fast' run a 5 minute test would means the tests would run about 5 times rather than once.

Regarding

- then we need a bigger timeout, or we need to stop running in modes which add so much to the execution ti

[2021-02-22 18:37] pshipton commented on #11904
On xlinux, the same test
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_mixed_Nightly/19

38 - - ParallelStreamsLoadTest_special_J9_24 | 4 min 46 sec

variation: Mode107-OSRG
JVM_OPTIONS: -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompila

[2021-02-22 18:48] xxDark commented on #12012
Turns out that permit does some magic behind the scenes with Unsafe, and that fals on OpenJ9:
https://github.com/nqzero/permit-reflect/blob/ae7fc51f0160f73cacd1b763a1edaca3d66afaff/src/com/nqzero/permit/Safer.java#L43

[2021-02-22 19:03] #11832 closed

[2021-02-22 19:12] liqunl commented on #10028
Yes, this work is paused due to other work I have. Will get to it ASAP.

[2021-02-22 20:30] bogdanbrindusan commented on #12021
@pshipton the health checks are default Spring Actuator ones, they just return `{"status":"UP"}`

Could you please give me some details about what data is kept under "Used class storage"? Or point me to where I can get more information, as I couldn't find much.
Given this memory space is outside heap, I'm just curious to understand why is it expanding so much. Also why is it happening so late in m

[2021-02-22 20:47] #12012 closed

[2021-02-22 21:02] pshipton commented on #12021
Not sure what else to say, class storage is for classes.

I expect the classes are generated anonymous classes or classes used to accelerate reflection generated at runtime after reflect access is used a number of times. Pls generate a verbose GC log so we can take a look. https://www.eclipse.org/openj9/docs/xverbosegclog/

[2021-02-22 21:24] dmitripivkine commented on #12021
Hi @bogdanbrindusan,

Please notice that OpenJ9 native memory layout/control is very different as used in Hotspot, so I guess some specific OpenJ9 adjustments might be required for your control environment. I am going to summarize it here and later on we can decide which tuning is necessary to benefit your product.
- Option like `-XX:MaxMetaspaceSize=125M` is not applicable and ignored
- Compresse

[2021-02-22 21:50] pwagland commented on #11960
Thanks for this fix, this might well explain why I was not able to create a simple test case for #11832, even though I could do so easily enough in the product. I know that we still have references to `StringBuffer` in our code, whereas my test would not have had this.

[2021-02-22 22:15] dmitripivkine commented on #11998
Hi @bogdanbrindusan,

Would you please help me to understand what we are missing in the case of your environment?

For successful case it is clear JVM reads `memory.limit_in_bytes` from Cgroup ():
[code]
and allocate object heap as 30% of limit (because of `-XX:MaxRAMPercentage=30`)
[code]

For unsuccessful case memory limit is not set:
[code]
heap allocated size is
[code]
So this value looks like

[2021-02-22 22:48] tajila commented on #11205
@htreu It will be in the 0.25 (March) release.

[2021-02-22 22:58] pshipton commented on #11205
What is the actual change? I don't see it linked here.

[2021-02-23 00:00] dmitripivkine commented on #11998
@ashu-mehra Would you please help to figure out what is wrong here? Thank you

[2021-02-23 00:41] #11162 closed

[2021-02-23 00:44] manqingl commented on #11205
@pshipton :  This is the fix:

https://github.com/eclipse/openj9/pull/11905

[2021-02-23 01:34] pshipton commented on #8847
@gacholio can we close this now?

[2021-02-23 02:41] #8847 closed

[2021-02-23 03:32] Col-E commented on #12012
Version `2.18.0` forward should resolve this issue on Recaf's end.

[2021-02-23 05:30] pshipton opened #12027 "functional tests failing to compile jdk11+"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_mixed_Nightly_testList_0/27
[code]
Due to https://github.com/eclipse/openj9/pull/10282

@tajila @OussamaSaoudi

[2021-02-23 09:17] bogdanbrindusan commented on #11998
Hi @dmitripivkine,

let me give some more details about the environment where this is running; if you're familiar with AWS ECS & Fargate you can skip on next paragraph.
AWS ECS is a container orchestration and Fargate is an infrastructure provider (a serverless offering from AWS).
An ECS service can have multiple Tasks. In each task there can be multiple containers. Similar to Kubernetes Deploymen

[2021-02-23 13:42] tajila commented on #12015
@hangshao0 can you please take a look at this

[2021-02-23 13:46] tajila commented on #12027
@OussamaSaoudi Can you change that check to something like `if (anInterface.getName().equals(...IdentityInterfact) {`. The `IdentityInterface.class` is only going to exist on valhalla builds.

[2021-02-23 14:11] bogdanbrindusan commented on #12021
Thanks for the detailed explanation @dmitripivkine

I'm going to answer for each point you made:
- yes, I was looking for a similar MaxMetaspace flag for OpenJ9 but only found `-Xmcrs` - let me know if there's a better one to use
- the whole container memory limit is 900MB, while heap is configured to take a max of 50% from that, the rest should be well within the 4GB boundary
- I'll try setting t

[2021-02-23 14:14] #11026 closed

[2021-02-23 14:14] tajila commented on #11026
All JVM changes are in.

[2021-02-23 14:14] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_mixed_Nightly/21/

[2021-02-23 14:15] rmnattas commented on #11511
There was a failure during acceptance testing introduced by the two merges above. Issue got fixed with eclipse/omr#5821, and no failures appeared in the latest acceptance test with this fix. This issue should be good to close.

[2021-02-23 14:19] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_windows_mixed_Nightly/14

[2021-02-23 14:26] pshipton commented on #11511
Note that none of these changes are delivered to the 0.25 branches.

[2021-02-23 14:27] pshipton commented on #11511
Considering this is related to 32-bit, and the 0.25 release is for Java 16 and doesn't contain any 32-bit platforms, I expect not delivering the changes to the 0.25 branches is fine.

[2021-02-23 15:23] dmitripivkine commented on #11998
technically this is not a GC issue, removing label

[2021-02-23 15:30] dmitripivkine commented on #11998
@DanHeidinga @pshipton How we are going to handle specific cloud issues like this? We need to investigate what is the correct way to get free memory available for AWS ECS Task for multiple platforms, introduce changes to Port library functionality, test implementation - so full development cycle

[2021-02-23 15:35] manqingl commented on #11839
@gacholio I believe the problem is that there is a duplicated libj9thr29.so exists in the memory, one for the default and one for the compresedrefs.  We are running in compressedrefs, and the crash happened with the default libj9thr29.so .

cd /service/issues/11839/core
/service/serviceStore/xa.ibm.sh core.20210222.233314.5701912.0001.dmp

Available contexts (* = currently selected context) :

Sou

[2021-02-23 15:37] pshipton commented on #11998
@tajila fyi

[2021-02-23 15:38] pshipton commented on #11998
Tentatively tagged it for the 0.27 release so it doesn't get lost, but this is not a commitment to resolve.

[2021-02-23 15:40] sxa commented on #5658
@bharathappali @dinogun What's the current state of this? Will it build on Alpine? Is there a plan to e.g. make musl builds of OpenJ9 available?

[2021-02-23 15:58] Leonardo2718 opened #12029 "Remove legacy AOTStrategyOpts and reducedWarmStrategyOpts optimizations strategies"
The `AOTStrategyOpts` and `reducedWarmStrategyOpts` optimizations strategies should be removed as they appear to have been unused for years.

[2021-02-23 16:42] liqunl commented on #11611
@rrozenshteyn-jha I have a build with the fix, could you try it with the JIT option from https://github.com/eclipse/openj9/issues/11611#issuecomment-775471109
You can get the build from https://ibm.box.com/s/zke648zc9f7enr2o9wkwqnnyp2p03fld

[2021-02-23 17:43] EmanElsaban opened #12031 ""JvmCpu" & "CpuLoad" values are not updated in the compilation messages in JITServer Verbose"
``JvmCpu`` value is always equal to 0% in the server compilation messages when the ``statisticsFrequency`` is not enabled. However, when the statistics thread is enabled (``statisticsFrequency=<value in ms>``) the ``JvmCpu`` & ``CpuLoad`` values are displayed correctly in the stats information.

FYI: @mpirvu

[2021-02-23 17:49] dmitry-ten opened #12032 "Add RAII functionality for per-client persistent allocators"
PR #11686 enabled JITServer to use a separate persistent allocator for each client.
The main mechanism for using per-client allocation is as follows:
[code]
And if we are currently inside a per-client allocation region and need to temporarily use the global one, e.g. https://github.com/eclipse/openj9/blob/02f1c46bfd48d1c03d5159dd626af6152eebb6cf/runtime/compiler/optimizer/IdiomRecognition.cpp#L102

[2021-02-23 17:49] dmitry-ten commented on #12032
@mpirvu this needs a jitserver tag.

[2021-02-23 17:56] #12027 closed

[2021-02-23 19:00] hangshao0 commented on #12015
Seems that there is a race condition.

[2021-02-23 22:12] pshipton commented on #10834
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-32_windows_Personal/756/console

[2021-02-23 23:01] rrozenshteyn-jha commented on #11611
@liqunl I don't have a box.com account and I cannot create one from our intranet.  I've sent a request to @pshipton asking if he could upload the file to our company file-sharing site where I previously provided the core dump files.

[2021-02-23 23:13] pshipton commented on #11611
I take it you need a box.com account? I thought the links could be set visible to everyone, but perhaps that only means visible to everyone with an account. I've uploaded the file.

[2021-02-23 23:22] rrozenshteyn-jha commented on #11611
Thank you, Peter.  I've downloaded the file.  We'll test it and let you know the results.

[2021-02-24 02:18] #11908 closed

[2021-02-24 02:37] 0xdaryl commented on #12029
Thanks.  I marked this as "Help Wanted".  Remove it if you plan on completing this yourself.

[2021-02-24 02:54] knn-k commented on #11851
Two failures (Illegal instruction) with cmdLineTester_decompilationTests in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_aarch64_linux/120/ .

[2021-02-24 04:36] knn-k opened #12038 "AArch64: AssertionError with testOSMXBeanLocal"
AssertionError "Free Physical Memory size cannot be greater than total Physical Memory Size." with OSMXBeanLocal tests.

Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.functional_aarch64_linux/119/

Optional info
-------------

- intermittent failure: yes

Failure output (captured from console output)
---------------------------------------------

[code]

[2021-02-24 06:19] knn-k commented on #12038
The failure was reproduced in a Grinder run on build-docker-ubuntu1804-armv8-3 https://ci.adoptopenjdk.net/job/Grinder/7219/:

[code]

I cannot reproduce the failure on my machine using the binary OpenJDK11U-jdk_aarch64_linux_openj9_2021-02-23-18-05.tar.gz from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/673/.

Environment-dependent problem?

[2021-02-24 07:31] knn-k commented on #12038
A run on test-alibaba-ubuntu1804-armv8-1 was successful.
https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk11_j9_extended.functional_aarch64_linux_xl/2/

[2021-02-24 15:33] tajila opened #12039 "Valhalla: Value type abstract super classes"
There is an interface called IndentityObject (currently named `IdentityInterface` - needs renaming) which is implicitly implemented by all stateful types, that is:
1) Is concrete (non-abstract/interface - j.l.Object exculded) or,
2) Declares an instance field or,
3) Declares an instance initializer or,
4) Has constructor with a non-empty body (something other than 'super();') or,
5) Must have acce

[2021-02-24 15:33] pshipton opened #12040 "aix71-p8-3 No space left on device"
~Disabled the machine for now.~

https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.system_ppc64_aix_Nightly/21/console
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.functional_ppc64_aix_Nightly/21/console
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.system_ppc64_aix_Nightly/21/console
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64

[2021-02-24 15:35] pshipton commented on #12040
Well maybe cleanup ran and cleared enough space, as there was a test running on it, but we should take a look.

[2021-02-24 15:39] pshipton commented on #12040
Same issue on https://ci.eclipse.org/openj9/computer/osx1014-x86-3/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly_testList_1/228/console

[2021-02-24 15:40] pshipton commented on #12040
Same issue on https://ci.eclipse.org/openj9/computer/rh7-390-4/

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_0/239/console

[2021-02-24 15:43] pshipton commented on #12040
Same issue on https://ci.eclipse.org/openj9/computer/ub16-ppcle-3

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly_testList_1/60/console

[2021-02-24 15:44] pshipton commented on #12040
Same issue on https://ci.eclipse.org/openj9/computer/win2012-x86-2/

https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.system_x86-64_windows_Nightly_testList_1/22/console

[2021-02-24 15:53] pshipton commented on #12040
and a worker or master?

https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.system_x86-64_mac_Nightly_testList_2/1/console

[2021-02-24 15:56] pshipton commented on #12040
Changes.

https://github.com/eclipse/openj9/compare/02f1c46...0acfe8a
https://github.com/eclipse/openj9-omr/compare/06361a0...ea18302

[2021-02-24 15:59] tajila commented on #12039
@hangshao0 can you please take a look at this

[2021-02-24 16:00] tajila commented on #9631
@hzongaro Do you still need this?

[2021-02-24 16:01] tajila commented on #9631
Note: this has become more complicated as value types can now subclass abstract classes

[2021-02-24 16:03] #10078 closed

[2021-02-24 16:03] tajila commented on #10078
Good job getting this done @OussamaSaoudi

[2021-02-24 16:04] tajila commented on #9410
@JasonFengJ9 has this appear recently?

[2021-02-24 16:08] tajila commented on #11178
@hangshao0 Can you take a look at this as well. Now that we have mixed build support we can toggle between compressed and full pointers mode by adding  `XnocompressedRefs` test variation.

To start I think we should first get correctness on full pointers mode, I think its fine to have a little bloat to achieve this. Later we can investigate ways to shrink the instance sizes.

[2021-02-24 16:10] JasonFengJ9 commented on #9410
@tajila `valhalla` is built against `JDK17` currently, no such assertion failure observed.

Closing..

[2021-02-24 16:10] #9410 closed

[2021-02-24 16:19] paulcheeseman opened #12041 "DTFJ: Error processing thread stack on z/OS prevents parsing of system dump"
The following Error was encountered when attempting to process a customer's dump on z/OS, and it prevented the dump from being parsed:

[code]

This appears to be a very rare corner case, but it should be possible to handle the situation gracefully, even if it means that the problematic thread stack is incomplete. In the words of the support team:

Right now the dump is available for examination i

[2021-02-24 16:23] pshipton commented on #12040
No reports of this problem occurring in Adopt builds.

[2021-02-24 16:27] hangshao0 commented on #12039
Yes.

[2021-02-24 16:27] hangshao0 commented on #11178
Yes.

[2021-02-24 16:41] AdamBrousseau commented on #12040
That last one would be on master.
I added the lightweight=true param to the test autogen job so that should relieve space on master as new test builds are run. I've open a bugzila for Eclipse to take a look at master. I suspect the master being full is causing the jobs to fall over since they cannot transfer the console log back to the master.
https://bugs.eclipse.org/bugs/show_bug.cgi?id=571470

[2021-02-24 16:52] rajdeepsingh1 commented on #12010
I will clone out the corrupt machines from an existing, functional machine. Updates to follow.

[2021-02-24 17:24] dmitripivkine commented on #10067
This problem has been solved and item can be closed

[2021-02-24 17:24] #10067 closed

[2021-02-24 18:10] LinHu2016 commented on #9247
The below some of things/optimizations that we will defer from first implementation.
1, better handle recycling remanining cache, maybe can connect to one exist free memory or build thread local list of remainders(per compactGroup) in discardRemainingCache().

[2021-02-24 18:29] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_OpenJDK8/33

[2021-02-24 19:20] jdekonin commented on #12040
aix71-p8-3 had 50G free, it was idle so I rebooted it.
aix71-p8-4 and aix71-p8-6 have 43 and 48G free respectively and are currently running testing.
osx1014-x86-3 has 413G free, it was idle so I rebooted it.
osx1011-x86-2 has 979G free, it was idle so I rebooted it.
rh7-390-4 has 80G free, it was idle so I rebooted it.
ub16-ppcle-3 has 67G free, running testing so I did not reboot.
win2012-x86-2

[2021-02-24 19:39] IBMJimmyk opened #12047 "X86 Linux sanity failed due to Read-only file system"
Tests:
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Personal_testList_0/142/

https://ci.eclipse.org/openj9/computer/ub16x64j94

This was run on this PR:
https://github.com/eclipse/openj9/pull/11845

[code]

[2021-02-24 19:40] pshipton commented on #12047
@jdekonin fyi

[2021-02-24 19:42] pshipton commented on #12047
I see ub16x64j94 but this machine is corrupted and should be disabled. It is offline now.

[2021-02-24 19:44] pshipton commented on #12047
I'll close this as a dup of https://github.com/eclipse/openj9/issues/12010

[2021-02-24 19:59] pshipton commented on #12040
It makes more sense these are all related to space problems on master. There has been some cleanup done. I'll close this and we'll see how the builds go tonight.

Note I never finished going through the list of failures, there were more than are listed here.

[2021-02-24 19:59] #12040 closed

[2021-02-24 21:25] liqunl opened #12049 "Inline virtual call site with fixed receiver type without guard"
In the following code, we call `findCallTargetUsingArgumentPreexistence` if we have fixed type info on the receiver
https://github.com/eclipse/openj9/blob/48b1439ec6b72c81881904767832ad8697d8cc40/runtime/compiler/optimizer/J9Inliner.cpp#L545-L549

However, in `findCallTargetUsingArgumentPreexistence`, we always create the target with profiled guard.
https://github.com/eclipse/omr/blob/e3428620936e

[2021-02-24 21:40] hzongaro commented on #9631
I think what motivated this request was that there are a couple of places in the JIT that try to determine at compile-time whether a particular object could never be, must always be or might be an instance of an inline type.  We were worried that the conditions might be too pessimistic in cases involving abstract classes, if I recall correctly.

Here's [an example related to monitors](https://gith

[2021-02-24 22:11] tajila commented on #9631
If I understand this correctly `TR_YesNoMaybe
J9::CodeGenerator::isMonitorValueType(TR::Node* monNode)` is querying whether the VT monitor checks are needed?

If that is correct, then `isConcreteClass` should be no, because a concrete class will never be a super of a VT. `isAbstractClass` is a maybe (however in the VM we would want to make a distinction between "heavy" abstract and "light" abstrac

[2021-02-24 22:45] r30shah commented on #11943
I took a look at this as it is failing he [ASSERT](https://github.com/eclipse/openj9-omr/blob/ea18302c34da600bb298b02c2ec22f720849642c/compiler/optimizer/RegDepCopyRemoval.cpp#L440-L447) which I have added, from the JITDump it is complaining about following tree  under `table` node,
[code]
It fails the Assert as the node `aRegLoad` is using different global register compared to `PassThrough (n3062

[2021-02-24 23:53] JasonFengJ9 opened #12050 "aarch64_linux : cmdLineTester_jep178_staticLinking - jep178 testing static linking failures"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.functional_aarch64_linux/4`:
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
02:36:49  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=functional&PLATFO

[2021-02-25 01:12] knn-k commented on #12038
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.functional_aarch64_linux/117/ on build-docker-fedora33-armv8-5 was a successful run, but that was before the mixed refs build became the default.

[2021-02-25 01:21] pshipton commented on #12050
@knn-k fyi

[2021-02-25 01:25] pshipton commented on #11500
It's too late for 0.25, moving this forward.

[2021-02-25 01:26] pshipton commented on #11667
Closing as a dup of #11511

[2021-02-25 01:26] #11667 closed

[2021-02-25 01:30] pshipton commented on #11511
Closing as per https://github.com/eclipse/openj9/issues/11511#issuecomment-784233154

[2021-02-25 01:30] #11511 closed

[2021-02-25 01:30] pshipton commented on #11424
It's too late for 0.25 now, moving this forward.

[2021-02-25 01:33] knn-k commented on #12050
I don't see the failures with JDK 11/16.  It seems the tests are disabled.
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.functional_aarch64_linux/119/
https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.functional_aarch64_linux/33/
[code]

[2021-02-25 01:33] #11526 closed

[2021-02-25 01:34] pshipton commented on #10627
It's too late to put additional changes into the 0.25 release, moving this forward.

[2021-02-25 01:43] knn-k commented on #12050
The failures are observed in https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.functional_aarch64_linux/94/tapResults/

[2021-02-25 02:52] knn-k commented on #12050
I reproduced the failures locally, using the build OpenJDK8U-jdk_aarch64_linux_openj9_2021-02-24-18-05.tar.gz from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-aarch64-openj9/219/.

[2021-02-25 03:57] knn-k commented on #12050
It is a problem caused by CMake, according to the comments in that #11854, the same failures on ppc64le_linux.

[2021-02-25 04:42] knn-k commented on #12050
I opened #12052, following #11876 for ppc64le.

[2021-02-25 12:39] 0xdaryl commented on #11752
@knn-k FYI

[2021-02-25 12:39] sxa commented on #12038
Probably worth us testing a standalone java app that calls those two system calls and test that on various systems - unfortunatley the test isn't printing the values it has receieved so can't be debugged directly from that output. (Are those J9-specific methods being called?)

The question may become "What should it return"? particularly in the case where a docker image is capped on a host system.

[2021-02-25 12:58] knn-k commented on #12038
The location of the assertion is https://github.com/eclipse/openj9/blob/4913c6500c08b8e933756f9a05807c7b26c63999/test/functional/JLM_Tests/src/org/openj9/test/management/TestOperatingSystemMXBean.java#L263-L264

The test obtains the values of `totalMemory` and `freeMemory` from `com.ibm.lang.management.OperatingSystemMXBean`.

[2021-02-25 13:03] pshipton commented on #9782
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly_testList_0/230/
J9vmTest_5
[code]

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly_testList_0/230/functional_test_output.tar.gz

[2021-02-25 13:04] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/313/

[2021-02-25 13:28] #12031 closed

[2021-02-25 13:29] sxa commented on #12038
I'm not at all familiar with the mxbean stuff - is there a simple way to instantiate an OperatingSystemMXBean to call those functions on it?

[2021-02-25 13:35] knn-k commented on #12038
I am not familiar, either.  Maybe I can try writing code by looking at the testcase.

[2021-02-25 13:41] sxa commented on #12038
There are debug statements in the test that print the values out so if we have an easy way to run it in debug mode that might do (if I knew where the debug stuff ends up!)

[2021-02-25 13:46] knn-k commented on #12038
Simple code to run:
[code]

[2021-02-25 14:20] pshipton commented on #11988
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.system_ppc64le_linux_Nightly_testList_1/23
SharedClasses.SCM23.MultiThreadMultiCL_0
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk16_j9_extended.system_ppc64le_linux_Nightly_testList_1/23/system_test_output.tar.gz
[code]

[2021-02-25 14:21] pshipton commented on #11988
@tajila @hangshao0  fyi

[2021-02-25 14:34] bogdanbrindusan commented on #12021
@dmitripivkine you mentioned there are some improvements in progress for Balanced GC policy, is there a ticket I can track the work and see in which release that will be available?

In the meantime I've tested out setting both `-Xgc:classUnloadingAnonymousClassWeight` and `-Xgc:classUnloadingKickoffThreshold` but no change, it only gets worse if the threshold is lowered.
I'll try getting GC verbos

[2021-02-25 14:39] #11609 closed

[2021-02-25 14:59] hzongaro commented on #9631
You might have misread the condition in `isMonitorValueType` - it's checking whether the class is *not* a concrete class, so it returns `TR_maybe` in that case.

Yes, I think that was the goal of this request - to have a way of distinguishing between an abstract class that could be a superclass of a value type from an abstract class that could not.

[2021-02-25 15:02] knn-k commented on #11901
I am not observing the JDK 11 failures in builds 385-389 (February 13-23) in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/

[2021-02-25 15:18] tajila commented on #9631
Ah right, I missed the `!`.

Okay, that can be introduced as part of the work being done in #12039

[2021-02-25 16:33] Leonardo2718 commented on #10365
#11968 has been merged now so we should keep an eye on this job to see if it continues to fail.

[2021-02-25 16:34] Leonardo2718 commented on #10869
#11968 has been merged now, so we should double-check that this failure no longer happens.

[2021-02-25 16:36] keithc-ca commented on #11639
I had a look at the remaining DDR type overrides. The only one that ought to have been different is
[code]
which should have been
[code]
Unfortunately, this cannot be fixed without breaking `CacheletWrapperHelper` with respect to reading older core files.

There's nothing further to do for this issue: closing.

[2021-02-25 16:36] #11639 closed

[2021-02-25 17:23] dmitripivkine commented on #12021
If it helps: You can get GC verbose log information in stdout by using `-verbiose:gc` or/and in the file by specifying `-Xverbosegclog:<file_name>`

[2021-02-25 17:26] sxa commented on #12038
Thanks :-) That shows the problem - showing 8Gb total, just under 100Gb free
[code]
The data from `/proc/meminfo` says:
[code]
`free` says:
[code]
Does sound like however it's doing the querying it's getting an inconsistent set of numbers - one based on the size of the container (total memory) and the other not (free memory) - two numbers which are incompatible. I'd suggest this is probably an Ope

[2021-02-25 17:32] sxa commented on #12038
@dinogun I think you did some work on container optimisation for OpenJ9 - would you expect the function calls above to be returning the numbers they are ain restricted container?

[2021-02-25 17:34] a7ehuo commented on #10869
Run `100x` with the following build that contains #11968. All passed.

[code]

[2021-02-25 17:43] dmitripivkine commented on #12021
Unfortunately there is no single item to track but large number of improvements in Balanced merged/under development/planning. Our hope is to reach cumulative effect of these changes before end of year 2021.

If your Linux has glibc version 2.27 or later you can try experimental `-Xgc:enableArrayletDoubleMapping` option with Balanced. An effect depends on workload but we expect at least 5% through

[2021-02-25 17:47] hangshao0 commented on #12015
Crashed when romClassWriter is laydowning the class.

[code]

What happens is:
The partially full pages were mprotected as the SCC is soft full.
Another JVM increased the softmx.
Thread `0x000003fed0002200` detected the softmx increase. Updated the runtime flags and waited for write mutex to unprotect partially full pages. But it lost to thread `0x000003ff7c0b9a00` when competing for the write mut

[2021-02-25 17:47] cedrichansen opened #12054 "Rework Balanced GC heap and eden sizing logic"
In the "Balanced" gc policy, the current total heap sizing logic, primarily aims to keep the free memory % in the heap between `heapFreeMinimumRatioMultiplier` (30% default), and  ` heapFreeMinimumRatioMultiplier ` (60% default. Once the free memory criteria is satisfied (ie, 30% < current free mem % < 60%), the heap sizing logic will then consider overall GC overhead (% of time spent in gc relati

[2021-02-25 19:08] a7ehuo commented on #10564
Ran 50x `ValueTypeTestsJIT_1` which has `JVM_OPTIONS:  -Xjit:count=1,disableAsyncCompilation`, the same config as the old `ValueTypeTestsJIT_0`. All passed.

[code]

[2021-02-25 19:08] #10564 closed

[2021-02-25 21:40] Leonardo2718 commented on #12029
I've removed the "beginner" label as well because I've realized this change has tentacles that reach in odd parts of the code.

[2021-02-25 22:35] hangshao0 commented on #11988
I am looking at the core from https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_mixed_Nightly_testList_2/7

The `InaccessibleAddress 00007FDDACEFED90` is the on the last metadata page, the cache is soft full at the time of crash.

What happens here is:
`SH_CacheMap::updateROMClassResource()` locks the cache and unprotect all the metadata pages.
`SH_CacheMap::updateRO

[2021-02-25 23:17] rrozenshteyn-jha commented on #11611
@liqunl , the engineer involved in testing the provided OpenJ9 build completed testing.  It was successful.  Here's his comment:
---------------------
The crash does not occur anymore with the build AdoptOpenJDK provided. I have run the same load test with more threads and for longer than before and SymXchange is stable.
--------------------

Thank you for fixing the issue.  Looking forward to get

[2021-02-25 23:18] pshipton opened #12057 "Jenkins job to delete obsolete jenkins jobs"
To keep a handle on the number of jenkins jobs, and reduce disk space usage on master (i.e. https://bugs.eclipse.org/bugs/show_bug.cgi?id=571470), we need to create a jenkins job that can delete obsolete jenkins jobs based on a pattern. There are hundreds of jobs per version, and we also introduce special jobs for OMH, mixed, cm, uma, xl, etc, which become obsolete. Trying to delete all the jobs m

[2021-02-25 23:18] pshipton commented on #12057
@AdamBrousseau @jdekonin fyi

[2021-02-25 23:27] AdamBrousseau commented on #12057
We have a similar job for Artifactory as you know.
https://ci.eclipse.org/openj9/view/Infrastructure/job/Cleanup_Artifactory_JDK_Version/
I think this should be a separate job but we could maybe look at improving that one while we're at it.

Although, this will probably be easy to do with some pipeline groovy so maybe won't help with the Art cleanup.

[2021-02-25 23:53] dsouzai commented on #9416
Saw this on a PR build:
[code]
Unfortunately, the PR that added this tracing missed a change that meant we didn't trace anything in `rememberClass`.... _**sigh**_.

The tracing output that _did_ show tells us is that we got the class chain the first time, and failed to get the class chain the second time. Therefore, either the ROMClass stopped being in the the SCC or `findChainForClass` returned N

[2021-02-26 00:04] pshipton commented on #12057
The artifactory cleaning job needs to be reworked. As it stands it takes to long, days or weeks, and can fail before finishing.

[2021-02-26 09:39] bogdanbrindusan commented on #12021
Thanks @dmitripivkine will try getting the logs out.

I've also noticed the start-up time is slower using the Balanced GC policy: ~ 30sec with gencon and ~40sec with balanced.
Do you if this is being addressed or should I log this issue separately?

[2021-02-26 13:17] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/299/

[2021-02-26 13:20] pshipton commented on #11988
I had meant to reopen this.

Another one https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_s390x_linux_Nightly_testList_1/58
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_extended.system_s390x_linux_Nightly_testList_1/58/system_test_output.tar.gz

[2021-02-26 13:44] #11920 closed

[2021-02-26 13:52] dmitripivkine commented on #12021
It is hard to tell. Would you please generate GC verbose logs for both runs with gencon and balanced and share them with us? We can identify narrow places and improve them by tuning or fixing.
You can open new issue if you like to separate clean tracking or just use this one - it is up to you

[2021-02-26 14:03] bogdanbrindusan commented on #12021
sure, will provide 2 GC verbose logs for start-up on both Gencon and Balanced.

In the meantime I've managed to reproduce the issue locally and I'm attaching here the GC verbose log for the above issue with JVM crashing during a high load performance test. This is with Gencon.
Is there a tool to inspect it? It's rather large.
[gc1.log](https://github.com/eclipse/openj9/files/6050067/gc1.log)

[2021-02-26 14:12] dmitripivkine commented on #12021
We are using Garbage Collection and Memory Visualizer (GCMV). This tool currently exist as plugin for Eclipse https://marketplace.eclipse.org/category/free-tagging/gcmv

[2021-02-26 14:32] dmitripivkine commented on #12021
Regarding class unloading activity there is number of Global GCs in this log. Some of them performs Class Unloading including Anonymous(Lambdas):
[code]

[2021-02-26 14:37] andrew-m-leonard opened #12061 "AIX jdk-15.0.2+7_openj9-0.24.0 or jdk-16 Nightly when used to build jdk16/17 Hotspot causes jvmtiGen failure"
This is an odd intermittent (roughly 1 in 3) behaviour on AIX hotspot builds at AdoptOpenJDK built using OpenJ9 bootjdk, which fail to build due to jvmtiGen failing to produce incorrect gensrc, see issue: https://github.com/AdoptOpenJDK/openjdk-build/issues/2466
Using a jdk15/16 Hotspot bootjdk works fine.
@pshipton how do you want to approach this one as jvmtiGen is Hotspot code? It is basically

[2021-02-26 15:06] dmitripivkine commented on #12021
There are two points in this log file catch eye:
- `  <attribute name="compressedRefsShift" value="0x3" />` This means object heap with maximum size 512MB failed to be allocated below 4GB bar at JVM startup. This is unusual. Considering provided `-Xscmx100m` option (initial size of Suballocator) there is only 100MB can be attributed to JVM data at startup (not including .so libraries). Looks like

[2021-02-26 15:24] bogdanbrindusan commented on #12021
1. That is unusual. The increasing "Used Class Storage" from the screenshots I posted initially only appears after a long time in the performance test (over 1h). However if the allocation fails at start-up, must be something else. If you could guide me towards what information would help exactly, I'll try and provide that.
2. Well, this particular run happened on my local laptop (OSX), in a Docker

[2021-02-26 15:24] 0xdaryl opened #12062 "AArch64 documentation review"
https://github.com/eclipse/openj9-docs/issues/732

[2021-02-26 15:26] andrew-m-leonard commented on #12061
The translate either generates invalid code, or produces a NPE see here: https://github.com/AdoptOpenJDK/openjdk-build/issues/2466#issuecomment-779639008

[2021-02-26 15:43] liqunl commented on #11611
@rrozenshteyn-jha Are you able to get the jit trace log? I want to make sure the compilation does not abort due to excessive memory use.

[2021-02-26 16:14] 0xdaryl opened #12063 "AArch64: Implement JIT inline write barrier for optavgpause"

[2021-02-26 16:14] 0xdaryl opened #12064 "AArch64: Implement JIT inline write barrier for balanced GC"

[2021-02-26 16:15] wimjongman opened #12065 "Internal IBM notes in public javadoc"
Javadoc of System.lineSeparator() refers to a jazz issue.

![image](https://user-images.githubusercontent.com/180969/109325393-264c7e80-7856-11eb-95cf-8515bc63c571.png)

[2021-02-26 16:32] dmitripivkine commented on #12021
It is interesting to see corresponding javacore file generated for `vmstop` event (use `-Xdump:java:events=vmstop`) together with gc verbose log. GC log shows multiple Class Unloading events, so GC keeps trying. Javacore however might help to identify places of high native memory usage in JVM (if any). Would you please try to generate gc verbose log and javacore from the same run. Also you can pro

[2021-02-26 16:43] dmitripivkine commented on #12021
BTW there is also some activity in clearing Weak References as well (up to tens of thousands per GC). In case if Finalization thread does not have enough resources to handle objects in queues it might be the reason for uncleared references accumulation and indirect reason for native memory usage growth (via links to allocated memory from unprocessed references). Again, I am not sure how it can rel

[2021-02-26 16:44] dmitripivkine commented on #12021
this is illustration to previous comment:
[code]

[2021-02-26 17:34] gita-omr commented on #8076
@0xdaryl @fjeremic @vijaysun-omr

[2021-02-26 18:15] ckehoe-ixl commented on #11536
Seeing a similar crash triggered by TestNG. Can anyone help?

[2021-02-26 19:18] 0xdaryl opened #12068 "AArch64: Implement allocation prefetching"
Implement support for prefetching subsequent lines of the TLH during an inlined allocation (new, anewarray, newarray).  This would be enabled via `enableTLHPrefetching`.  This will benefit applications with a high rate of allocations.

Estimated performance improvement to be about 2%.

[2021-02-26 19:19] 0xdaryl commented on #5455
Allocation TLH prefetching (via CodeGen `enableTLHPrefetching`): AArch64 (#12068)

[2021-02-26 20:49] pshipton commented on #11536
@ckehoe-ixl better to create a new issue, and follow the instructions to provide the diagnostic data.

[2021-02-26 20:58] #12065 closed

[2021-02-26 21:13] cedrichansen commented on #12054
At time of writing, the same specjbb2015 test shown in initial issue comment, behaves as follows with https://github.com/eclipse/openj9/pull/12043.

As a reminder, baseline had unnecessary heap oscillations, 14% of time was spent in gc pauses, and average pgc pause time during steady state was 280ms. Eden size for this run was approximately 1.25Gb

1. passing `-Xgc:targetPausetime=500` on the comm

[2021-02-26 21:15] pshipton commented on #12061
@zl-wang any ideas? Considering the intermittent nature, and occurring more often on a particular machine, it may be a JIT issue.

[2021-02-26 21:26] cedrichansen commented on #12054
The models/heuristics being used for both heap, and eden sizing logic, can be found in the following desmos graph
https://www.desmos.com/calculator/qdou1m0yqk
Descriptions of each component are included as text descriptions. Any questions arising from these models may be asked in this issue. (please tag me in any questions for quicker replies)

[2021-02-26 22:09] cedrichansen commented on #12054
Implementation wise, there are a few important high level concepts to discuss.

# Eden sizing logic #

## heap is not fully expanded ##
When the heap is not fully expanded (that is, current heap size is less than -Xsoftmx/-Xmx), then the eden sizing logic will attempt to strike a balance between keeping pause times below specified default (called `tarokTargetMaxPauseTime ` in linked PR), and keepi

[2021-02-26 22:50] JasonFengJ9 opened #12072 "linux_x86-64_cmprssptrs] SE80_GIT testOSGiTCK_0 - NullPointerException at aQute.bnd.build.ProjectTester.getReports(ProjectTester.java:39)"
Failure link
------------

From an internal ibuild `466386`
[code]

Optional info
-------------

- intermittent failure (yes):

Failure output (captured from console output)
---------------------------------------------
[code]

[2021-02-26 23:00] pshipton commented on #12072
How intermittent?

[2021-02-26 23:01] JasonFengJ9 commented on #11930
Also seen in internal builds.
[code]

[2021-02-26 23:07] pshipton commented on #12072
Pls provide at least a partial link.

[2021-02-26 23:10] JasonFengJ9 opened #12073 "JDK17 MacOS ConcurrentLoadTest_5m_0_FAILED ForkJoinTaskTest AssertionFailedError: 25 : getMySurplusQueuedTaskCount() expected:<1> but was:<-7> and hang later"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.system_x86-64_mac/2`:
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
07:40:50  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=system&PLATFORM=x86-64

[2021-02-26 23:17] JasonFengJ9 commented on #12072
This is an ibuild job, no partial link like jenkines job, searching test name `[linux_x86-64_cmprssptrs] SE80_GIT testOSGiTCK_0` is sufficient.

This failure was marked by other problem tracker (PT), from the test history, the failure rate is ~50%.

[2021-02-27 00:59] gita-omr commented on #2220
Was this done in https://github.com/eclipse/openj9/pull/10061 ?

[2021-02-27 01:37] AdamBrousseau commented on #12057
I have a job for this (internally) but it runs on master and does a simple find and rm (Cleanup-JDK-Version-Master). This won't work for the OpenJ9 instance as we don't have a master executor.

[2021-02-27 02:15] AdamBrousseau commented on #12057
https://ci.eclipse.org/openj9/view/Infrastructure/job/Cleanup-JDK-Version
Has "print only" and "print & rm" options but at the moment it only pretends to clean. Need script approvals to run.

https://bugs.eclipse.org/bugs/show_bug.cgi?id=553778

[2021-02-28 02:27] pshipton commented on #11904
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_special.system_x86-64_windows_Personal_testList_0/4

[2021-02-28 04:10] pshipton commented on #12014
and win2012-x86-4 is offline again.

[2021-03-01 00:21] pshipton commented on #9782
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.functional_x86-64_mac_Release_testList_0/2/
TestArrayCopy_1

[2021-03-01 01:20] pshipton commented on #12072
Link is job_output.php?id=670854043

[2021-03-01 12:54] JasonFengJ9 opened #12075 "[zOS S390] 80 FVT_Serviceability.diagnostics - ERROR: Incorrect number of phd heapdump files were created (expected = 1, actual = 0)"
Failure link
------------

From an internal build `466459`:
[code]
Test name - `[zOS S390] 80 FVT_Serviceability.diagnostics.xdump_user.Mode166.1` (or `job_output.php?id=670946830`)

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

Similar failure for ` [zOS S390] 80 FVT_Serviceability.diagnostics.xdump_user.Mode167.1`

[2021-03-01 13:06] JasonFengJ9 opened #12076 "[linux_ppc-64] SE80_GIT testDDRExtJunit_FindExtThread_0 - tck_ddrext.xml:115: Timeout: killed the sub-process"
Failure link
------------

From an internal build `461685`:
[code]
The test name is ` [linux_ppc-64] SE80_GIT testDDRExtJunit_FindExtThread_0` (or `job_output.php?id=664964831`).
Note: this failure was marked by another PT.

Optional info
-------------

- intermittent failure (yes): 19/50 failure rate as per the test history.

Failure output (captured from console output)
-------------------------

[2021-03-01 13:24] JasonFengJ9 opened #12077 "renaissance-als_0_FAILED - java.lang.reflect.InaccessibleObjectException: Unable to make field transient java.lang.Object[] java.util.ArrayList.elementData accessible: module java.base does not "opens java.util" to unnamed module @da60dc9e"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.perf_ppc64le_linux/1`
[code]
rebuild the failed tests in one link:
05:28:29  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=perf&PLATFORM=ppc64le_linux_mixed&TARGET=testList%20TESTLIST=renaissance-als_0,renaissance-chi-square_0,renaiss

[2021-03-01 13:26] JasonFengJ9 opened #12078 "renaissance-dec-tree_0_FAILED - Caused by: java.lang.StringIndexOutOfBoundsException: String index out of range: 0"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.perf_ppc64le_linux/1`
[code]
rebuild the failed tests in one link:
05:28:29  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=perf&PLATFORM=ppc64le_linux_mixed&TARGET=testList%20TESTLIST=renaissance-als_0,renaissance-chi-square_0,renaiss

[2021-03-01 13:30] JasonFengJ9 commented on #12073
Observed at another internal build `Test_openjdk17_j9_extended.system_ppc64le_linux/4`:

[code]

[2021-03-01 13:32] jdekonin commented on #12014
Cleaned up and rebooted, its online again in jenkins and taking jobs.

[2021-03-01 13:36] JasonFengJ9 opened #12079 "JDK17 jdk_io_0_FAILED - Error evaluating expression: invalid boolean value: `null' for expression `vm.hasJFR'"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.openjdk_x86-64_linux/1`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2021-03-01 13:37] zl-wang commented on #12061
I only saw errors related to native code compilation with jvmtiEnv.hpp.   could you point me to the command line where something unexpected using OpenJ9 happened?

[2021-03-01 13:40] tajila commented on #2220
yes

[2021-03-01 13:40] JasonFengJ9 opened #12080 "JDK17 jdk_other_0_FAILED - AssertionError: Should have GCd a class loader by now"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.openjdk_x86-64_linux/1`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2021-03-01 13:44] JasonFengJ9 opened #12081 "JDK17 jdk_net_0_FAILED - Error. Use -nativepath to specify the location of native code"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.openjdk_x86-64_linux/1`
[code]
rebuild the failed tests in one link:
08:52:56  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=openjdk&PLATFORM=x86-64_linux_mixed&TARGET=testList%20TESTLIST=jdk_io_0,jdk_io_1,jdk_other_0,jdk_other_1,jdk_

[2021-03-01 13:49] andrew-m-leonard commented on #12061
This NPE sometimes occurs: https://github.com/AdoptOpenJDK/openjdk-build/issues/2466#issuecomment-779639008
other times the code just generates the wrong source which then fails to compile...

[2021-03-01 13:51] JasonFengJ9 opened #12082 "JDK17 Windows jdk_net_0_FAILED - SocketException: Invalid argument: no further information"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.openjdk_x86-64_windows/1`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2021-03-01 13:54] JasonFengJ9 opened #12083 "JDK17 Windows jdk_security1_0_FAILED - java.security.ProviderException: java.security.KeyException: Access is denied"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.openjdk_x86-64_windows/1`
[code]
rebuild the failed tests in one link:
10:57:01  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=openjdk&PLATFORM=x86-64_windows_mixed&TARGET=testList%20TESTLIST=jdk_io_0,jdk_io_1,jdk_other_0,jdk_other_1,

[2021-03-01 14:08] JasonFengJ9 opened #12084 "MBCS_Tests_StAX_ja_JP_linux_0_FAILED - Can't locate Test/Simple.pm in @INC (@INC"
Failure link
------------

From an internal build `Test_openjdk16_j9_special.functional_s390x_linux/1`
[code]
rebuild the failed tests in one link:
02:56:28  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=functional&PLATFORM=s390x_linux_mixed&TARGET=testList%20TESTLIST=MBCS_Tests_StAX_ja_JP_linux_0,MBCS_Tests_St

[2021-03-01 14:09] pshipton commented on #11904
I've gathered timing information and discovered that OSRG modes run slow only on Windows, but not on other platforms.
I've created https://github.com/AdoptOpenJDK/openjdk-tests/pull/2316 to disable these modes on Windows.

Assigning to JIT to investigate why these modes are slow only on Windows.
@0xdaryl

variation: (24) Mode107-OSRG
JVM_OPTIONS:  -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=

[2021-03-01 14:16] JasonFengJ9 opened #12085 "JDK11 MacOS jdk_imageio_0_FAILED - AWTError: WindowServer is not available & others"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.openjdk_x86-64_mac/1`
[code]
rebuild the failed tests in one link:
07:09:55  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=openjdk&PLATFORM=x86-64_mac_mixed&TARGET=testList%20TESTLIST=jdk_imageio_0,jdk_imageio_1

Optional info
-------

[2021-03-01 14:22] JasonFengJ9 opened #12086 "JDK8 javax/xml/jaxp/transform/8150704/TransformerTest.java - AssertionError: Output of transformation of Bug8150704-1.xml does not match reference expected"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.openjdk_ppc64_aix/1`
[code]
rebuild the failed tests in one link:
06:11:58  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=openjdk&PLATFORM=ppc64_aix_mixed&TARGET=testList%20TESTLIST=jdk_other_0,jdk_other_1,jdk_security4_0,jdk_security4_

[2021-03-01 14:28] JasonFengJ9 opened #12087 "JDK8 AIX javax/imageio/spi/AppletContextTest/BadPluginConfigurationTest.sh - Unrecognized system! AIX"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.openjdk_ppc64_aix/1`
[code]
rebuild the failed tests in one link:
06:11:58  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=openjdk&PLATFORM=ppc64_aix_mixed&TARGET=testList%20TESTLIST=jdk_other_0,jdk_other_1,jdk_security4_0,jdk_security4_

[2021-03-01 14:33] 0xdaryl commented on #11904
@nbhuiyan : could you have a look at this please?

[2021-03-01 14:43] pshipton commented on #8493
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_1/58
MiniMix_5m_1
[code]

[2021-03-01 14:47] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/300/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/285/

[2021-03-01 14:47] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/315
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/316

[2021-03-01 15:09] #9479 closed

[2021-03-01 15:20] pshipton opened #12088 "Parallel machine limits"
Can we add a way to override the parallel machine limits in specific jenkins jobs?

The parallel machine limit is currently 3/4 of the available machine. What happens on Windows externally is there are 6 machines but quite often 1 of the machines goes offline at the start of a weekend, only leaving 5 machines available for testing. The 3/4 math compute 3.75 machines which is rounded down to 3. Alt

[2021-03-01 15:24] tajila commented on #11833
@sharon-wang
Making both JDK 11 and 8 similar is my preference. However, we first need to make sure there are no tests in JDK8 that depend on a certain error message format

[2021-03-01 15:26] bragaigor opened #12089 "Track Progress of Low-pause GC - Concurrent Copy Forward"
Track Progress of Low-pause GC Concurrent Copy Forward

The purpose of this issue is to keep track of development of low-pause Garbage Collector (GC) - concurrent copy forward, and conduct any discussions as necessary. The following is a rough plan of what’s to come. This plan is subject to modifications as new findings/development progress.

- [ ] Refactor/organize `IncrementalGenerationalGG` / `

[2021-03-01 15:27] bragaigor commented on #12089
cc: @amicic @dmitripivkine

[2021-03-01 15:42] pshipton commented on #12072
@llxia it seems this internal test wasn't running for some time and now it's intermittently failing. It needs some triage to determine if this is a problem with the test itself, or with OpenJ9.

[2021-03-01 15:50] pshipton commented on #12076
Guessing a test issue @llxia @keithc-ca fyi

[2021-03-01 15:52] pshipton commented on #12077
@llxia fyi

[2021-03-01 15:53] pshipton commented on #12078
Is this test running/passing on versions prior to jdk17?

[2021-03-01 15:55] pshipton commented on #12079
@llxia fyi

[2021-03-01 15:57] pshipton commented on #12080
@dmitripivkine fyi

Is this test running/passing in earlier versions?

[2021-03-01 15:57] pshipton commented on #12081
@llxia fyi

[2021-03-01 15:59] pshipton commented on #12082
@jdekonin fyi

I'm guessing machine configuration.

[2021-03-01 16:01] JasonFengJ9 commented on #12078
JDK16 failed in same way at `Test_openjdk16_j9_extended.perf_ppc64le_linux/1/`.

[2021-03-01 16:03] pshipton commented on #12083
@jdekonin fyi

I believe this is a machine config problem. We saw these issues long ago before the tests were moved out of the sanity bucket.

[2021-03-01 16:04] pshipton commented on #12084
@llxia fyi

[2021-03-01 16:05] JasonFengJ9 commented on #12080
`jdk_other` containing the failing test in question wasn't seen in earlier version `openjdk` tests.

[2021-03-01 16:08] pshipton commented on #12085
Seem to me this is some problem in the Mac build which we've seen before but worked around by excluding tests or setting special command line options.
https://github.com/eclipse/openj9/issues?q=is%3Aissue+is%3Aopen+WindowServer

[2021-03-01 16:08] smlambert commented on #12078
https://github.com/AdoptOpenJDK/openjdk-tests/issues/2255

Note there are several renaissance benchmarks that are failing in jdk16+ (that have no issue running against jdk8/jdk11 builds).

[2021-03-01 16:10] #12032 closed

[2021-03-01 16:10] pshipton commented on #12086
This needs some triage.

[2021-03-01 16:11] pshipton commented on #12087
@llxia fyi

[2021-03-01 16:15] #9852 closed

[2021-03-01 16:19] pshipton commented on #12078
It may just be incompatible with jdk16+. We should check if it works on Hotspot.

[2021-03-01 16:28] smlambert commented on #12078
It does not (see https://github.com/AdoptOpenJDK/openjdk-tests/issues/2255 shows it fails for both)

[2021-03-01 16:29] smlambert commented on #12078
So I am suggesting to @JasonFengJ9 to if renaissance jdk16+ failures are already reported in openjdk-tests repo, and they are failing for both j9 and hs, likely do not need an openj9 specific issue... I am thinking its a renaissance issue atm.

[2021-03-01 16:32] dmitripivkine commented on #12080
I guess we need to look to test source in order to understand what test expects from JVM. It might be specialized for Hotspot implementation

[2021-03-01 16:41] JasonFengJ9 commented on #12078
closing to favour https://github.com/AdoptOpenJDK/openjdk-tests/issues/2255.

[2021-03-01 16:41] #12078 closed

[2021-03-01 16:42] llxia commented on #12081
JDK11 [jdk_net](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.openjdk_x86-64_linux_Nightly/24/) does not have this issue. It looks like [SocketAcceptInterruptTest](https://github.com/ibmruntimes/openj9-openjdk-jdk/commits/64199f9e5c0afc79a10bf925cc3ef4a936159e88/test/jdk/java/net/Socket/SocketAcceptInterruptTest.java) was newly added for JDK16+. And it needs to use `-n

[2021-03-01 16:48] dmitripivkine commented on #12080
Seems OpenJDK has similar issue https://bugs.openjdk.java.net/browse/JDK-8261483?focusedCommentId=14401576&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel

[2021-03-01 16:53] mpirvu commented on #11923
@dmitry-ten Will changes from #11933 make these tests pass?

[2021-03-01 16:56] dmitripivkine commented on #12080
and seems they have a proposed fix https://github.com/openjdk/jdk/pull/2617/files

Looking what is fixed exactly... This test has bogus expectations about when GC/class unloading should occur.  For out case we might even need to run with `-Xalwaysclassgc`

[2021-03-01 16:56] #10869 closed

[2021-03-01 16:59] dmitripivkine commented on #12080
... or I guess this option might be not required as far as in the fix test calls SystemGC in the loop and every second SystemGC is going to be treated as Aggressive

[2021-03-01 17:06] JasonFengJ9 commented on #12080
Closing since the fix is on the way.
Thanks investigation.

[2021-03-01 17:06] #12080 closed

[2021-03-01 17:10] #11988 closed

[2021-03-01 17:11] dmitry-ten commented on #11923
I ran this test a couple of times with that change and it passed.
However, I then tried to run without it and it still passed, so I need to do more testing.

[2021-03-01 17:45] llxia commented on #12072
@OscarQQ Could help to triage this issue? Thanks

[2021-03-01 17:54] llxia commented on #12077
This is a known issue. We have the same failure in hotspot.
Dup of https://github.com/AdoptOpenJDK/openjdk-tests/issues/2253

[2021-03-01 17:54] #12077 closed

[2021-03-01 19:23] cedrichansen commented on #12054
A different benchmark, which saw significant improvement, was [heapothesys benchmark](https://github.com/corretto/heapothesys/tree/master/HyperAlloc). Below, is both the baseline, and new logic GCMV graph, as well as a data table for the results. In these tests, `-Xmx512M -Xms512M` was used.

Attempt | Baseline | New logic
--- | --- | ---
Eden size (mb) | 130 | ~275
Total pause time (s) | 74 | 38

[2021-03-01 19:30] llxia commented on #12084
The test passed at Adopt: https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_special.functional_s390x_linux/9/tapResults/

[2021-03-01 19:38] smlambert commented on #12084
Am presuming its a machine setup issue, check what version of perl is installed on the machine where the test fails.  On external machines, I believe the Perl module (https://metacpan.org/pod/Test::Simple) is automatically present (based on machines being configured using Ansible playbooks), seems not to be the case on the machine where this test failed.

[2021-03-01 19:38] llxia commented on #12087
Noticed the same failure in hotspot: https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_ppc64_aix/10/console

[code]

[2021-03-01 19:58] smlambert commented on #12087
Given the test code [checks for proper OS](https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/master/jdk/test/javax/imageio/spi/AppletContextTest/BadPluginConfigurationTest.sh#L87-L112), this should either get reported upstream and excluded permanently upstream for platforms where it will not run or the check for proper OS should be fixed to include AIX upstream.

[2021-03-01 20:08] pshipton commented on #12084
@jdekonin @AdamBrousseau fyi

[2021-03-01 20:11] sharon-wang commented on #11833
Sounds good. From a quick search through OpenJ9 tests, there's no specific format expected for the exception message -- we only care that the exception is thrown in some test cases. Running the String tests on my changes should confirm this.

[2021-03-01 20:15] JasonFengJ9 commented on #12084
Created an internal issue - `infrastructure/issues/5115`.

[2021-03-01 20:21] JasonFengJ9 commented on #12087
Created https://github.com/AdoptOpenJDK/openjdk-tests/issues/2321
Closing to favour upstream issue.

[2021-03-01 20:21] #12087 closed

[2021-03-01 20:22] #12084 closed

[2021-03-01 22:30] AdamBrousseau commented on #12057
Complete. Pete already did 15 by hand so nothing to cleanup at this point.

[2021-03-01 23:16] #12057 closed

[2021-03-02 00:33] nbhuiyan opened #12095 "Document usage of J9VMThread.tempSlot field"
`vmThread->tempSlot` is used in multiple places and for different purposes. More uses of this field has been introduced recently in #10617 and #12034, for example. However, there is currently no unified documentation listing the use of this overloaded field, increasing the risk of introducing changes that cause an overwrite that results unexpected outcomes. The purpose of this issue is to track th

[2021-03-02 03:33] 0xdaryl opened #12096 "AArch64: Complete support for concurrent scavenge"
There appears to be some support for this on AArch64, mainly due to the implementation lifted from Power.  However, this issue will track the work to properly sweep though the code and ensure all required support is implemented.

[2021-03-02 03:37] 0xdaryl opened #12097 "AArch64: Implement lock reservation"
Implement support for reserving monitors biased to threads (`-XlockReservation`).

[2021-03-02 03:39] 0xdaryl commented on #12097
Also implement lock reservation optimization #2344.

[2021-03-02 09:51] lumpfish commented on #10990
Occurred on the AIX jdk-16+36_openj9-0.25.0-m2 build: https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_sanity.openjdk_ppc64_aix/31/consoleFull
[code]
[code]

[2021-03-02 10:08] lumpfish opened #12099 "Merge Fix test TestClassExt.testFJ9ObjectExt 11952 into v0.25.0-release branch"
There are test failures in the jdk16+36-openj9-0.25.0-m2 AdoptOpenJDK build due to https://github.com/eclipse/openj9/issues/11733, fixed by https://github.com/eclipse/openj9/pull/11952

The fix was only merged into `master`.  Please merge into `v0.25.0-release` - then the failures should not be seen on the release build.

[2021-03-02 10:15] lumpfish commented on #12038
Seen on the x86-64_linux jdk16+36_openj9-0.25.0-m2 build: https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.functional_x86-64_linux/39/consoleFull
[code]
[code]

[2021-03-02 10:27] knn-k commented on #12038
Removed "AArch64:" from the title.

[2021-03-02 13:34] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/302/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/317/

[2021-03-02 13:45] pshipton commented on #12006
Re-opened to fix in the 0.25.0 release branch.

[2021-03-02 13:48] pshipton commented on #12038
@tajila fyi

[2021-03-02 14:21] #11376 closed

[2021-03-02 14:45] llxia commented on #12072
The test works in [Jenkins](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.functional_x86-64_linux_nightly/602/tapResults/), but not vmfarm. Exclude the test in vmfarm.

[2021-03-02 14:45] #12099 closed

[2021-03-02 15:13] tajila commented on #12038
We use `omrvmem_get_available_physical_memory` to return `osmxbean.getFreePhysicalMemorySize()`
This uses availiablePages (`_SC_AVPHYS_PAGES`).

`omrsysinfo_get_physical_memory` to return `osmxbean.getTotalPhysicalMemory()`. This looks at cgroups memlimits first (if available), if not it looks at total pages (`_SC_PHYS_PAGES`).

[2021-03-02 15:58] llxia commented on #12088
Instead of introducing a parameter to override the default parallel machine limit and maintaining the parameter, should we just set the limit to the total number of machines `nodesByLabel(LABEL).size()`?
FYI @smlambert

[2021-03-02 16:14] smlambert commented on #12088
re: https://github.com/eclipse/openj9/issues/12088#issuecomment-789013315 - yes that was my thought and preference.  It does mean that someone running a grinder could pooch the farm, but we can't protect that from that happening in other ways fully anyway.

[2021-03-02 17:05] dsouzai commented on #12049
FWIW just ensure that https://github.com/eclipse/openj9/blob/9123f9b8ae079f9adc0b6d47a700f3c67aaf187c/runtime/compiler/compile/J9Compilation.cpp#L1163 will be able to handle the relo kind for inlined site.

[2021-03-02 18:31] pshipton commented on #12014
@jdekonin it needs a reboot again, it's hung. This machine seems fairly useless.
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_OMR/840/console

[2021-03-02 19:39] jdekonin commented on #12014
From the job history the last job running on this system was this one.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-32_windows_Nightly/313/console

It is marked as aborted and I'm guessing at the stage this test job was at maybe its not cleaning up correctly???

Attempting to access the workspace folder hangs the session.  There is still a curl process running as well.  At

[2021-03-02 19:46] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_OMR_testList_1/209/
[code]

[2021-03-02 20:42] #11934 closed

[2021-03-02 20:59] OscarQQ commented on #12072
Grinder/13997/

[2021-03-02 22:23] vij-singh commented on #12006
@0xdaryl @knn-k We'll need to deliver this to the 0.25.0 branch.
https://github.com/eclipse/openj9/pull/11987

[2021-03-02 23:07] OscarQQ commented on #12072
runtimes/tooling/pull/870 is merged, could we close this issue?

[2021-03-02 23:31] JasonFengJ9 opened #12107 "renaissance-fj-kmeans_0_FAILED - Harness failed with exception: scala.MatchError: com.ibm.lang.management.internal.ExtendedOperatingSystemMXBeanImpl"
Failure link
------------

From an internal build `Test_openjdk17_j9_sanity.perf_x86-64_windows/5`
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:09:50  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=perf&PLATFORM=x86-64_wi

[2021-03-02 23:48] JasonFengJ9 opened #12108 "cmdLineTester_modularityddrtests_0_FAILED - The core file created by child process was not found"
Failure link
------------

From an internal build `Test_openjdk16_j9_extended.functional_x86-64_linux/23`
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
01:45:33  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=functional&PLATF

[2021-03-02 23:55] #12088 closed

[2021-03-03 00:36] knn-k commented on #12006
I merged #12109 to the 0.25.0 branch.

[2021-03-03 01:32] pshipton commented on #12107
Close this as a dup of https://github.com/AdoptOpenJDK/openjdk-tests/issues/1994#issuecomment-707304915

[2021-03-03 01:32] #12107 closed

[2021-03-03 01:33] pshipton commented on #12108
Seems like a machine problem.

[2021-03-03 01:33] #12108 closed

[2021-03-03 01:34] #12006 closed

[2021-03-03 02:51] JasonFengJ9 commented on #12108
Note: it occurred twice in two different machines.

[2021-03-03 06:17] knn-k commented on #12063
#12098 has implemented this.

[2021-03-03 06:18] knn-k commented on #12064
#12098 has implemented this, although it is not really tested with the balanced GC yet.

[2021-03-03 12:37] JasonFengJ9 commented on #8972
Another occurrence at an internal build `466738` (`job_output.php?id=671263935`)
[code]

[2021-03-03 12:43] JasonFengJ9 commented on #11930
Considering the popularity of this failure across streams, it can be excluded before a fix is developed.

[2021-03-03 12:56] JasonFengJ9 opened #12110 "ParallelStreamsLoadTest_CS_0 -Xgc:concurrentScavenge Segmentation error vmState=0x00020026"
Failure link
------------

From an internal build `Test_openjdk17_j9_sanity.system_ppc64le_linux/6`
[code]
rebuild the failed tests in one link:
06:06:53  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=system&PLATFORM=ppc64le_linux_mixed&TARGET=testList%20TESTLIST=DaaLoadTest_daa1_CS_5m_0,LambdaLoadTest_CS_5m_0,

[2021-03-03 13:27] pshipton commented on #11930
Are you doing this or asking for me to do it?

[2021-03-03 13:32] pshipton commented on #12110
The system tests didn't run night before last. Changes from the last working build below. We can narrow this down with a grinder on the previous night's build if necessary.

https://github.com/eclipse/openj9/compare/f021812...c72aa38
https://github.com/eclipse/openj9-omr/compare/eb4f5a8...67ddc28

[2021-03-03 13:46] JasonFengJ9 commented on #11930
@llxia can the auto exclude feature exclude an individual test like `test java/lang/Thread/UncaughtExceptionsTest.java`?

[2021-03-03 15:10] pshipton commented on #10834
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_OMR/842/console

[2021-03-03 15:22] pshipton commented on #11930
The auto exclude feature on OpenJ9 issues can only be used to exclude functionality tests, since these are the only tests hosted from the openj9 repo.

[2021-03-03 15:24] pshipton commented on #11930
Or to put it another way - No. This test is an OpenJDK test.

[2021-03-03 15:30] jdekonin commented on #10834
https://github.com/eclipse/openj9/pull/11881 is ready for your review and should address this problem.

[2021-03-03 16:24] JasonFengJ9 opened #12112 "[aix_ppc-64] SE80_GIT TestAttachAPI_SE80_0 Segmentation error vmState=0x00040000"
Failure link
------------

From an internal ibuild `466720` (`job_output.php?id=671240326`)
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

This failure was marked by another failure. This could be another manifestation of recent AIX related issues.

[2021-03-03 16:34] JasonFengJ9 commented on #11800
A slightly different failure at an internal ibuild `466720` (`job_output.php?id=671244631`) which might be due to the existing dump files.
[code]

[2021-03-03 16:39] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_OpenJDK8/34

[2021-03-03 16:43] JasonFengJ9 opened #12114 "[zos_390] SE80_GIT testSCCMLSoftmx_0 failed Test 3-a: Add ROMClasses, AOT methods and JITHints into the cache & Test 3-b"
Failure link
------------

From an internal ibuild `466720` (`job_output.php?id=671248299`)
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

fyi @hangshao0

[2021-03-03 16:48] pshipton commented on #10834
https://github.com/eclipse/openj9/pull/11881 is merged, I'll tentatively close this.

[2021-03-03 16:48] #10834 closed

[2021-03-03 16:56] pshipton commented on #11800
The test was excluded so it shouldn't run starting in the next build.

[2021-03-03 16:58] pshipton commented on #12112
Not sure of the priority / frequency of the failure. For the moment I haven't assigned this to any milestone.
@tajila fyi

[2021-03-03 17:01] pshipton commented on #12112
Actually seems not intermittent at all but has been failing back to last Sept.

[2021-03-03 17:17] amicic commented on #12110
The root cause is https://github.com/eclipse/omr/pull/5795. By the end of day, we will either provide a fix or revert the change.

[2021-03-03 17:30] hangshao0 commented on #12114
[code]

addTestJITHint requires romclasses already in the cache. The test is adding romclasses, AOT and JitHints in the same run. Split `Test 3-a: Add ROMClasses, AOT methods and JITHints into the cache` into 2 sub-tests: `1. Add ROMClasses, AOT methods into the cache` and `2. Add JITHints into the cache` should make it pass consistently.

[2021-03-03 17:30] pshipton opened #12115 "SC_Softmx_JitAot_0 Could not open file Invalid argument at stf/Commands.pm line 614"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_2/6/
SC_Softmx_JitAot_0
[code]

[2021-03-03 17:31] pshipton commented on #12115
@lumpfish @Mesbah-Alam fyi
There is another failing test in the build that produced core files, maybe a disk space issue.

[2021-03-03 17:41] llxia commented on #11930
Currently, auto exclude feature only checks the playlist files in the same repo of the auto exclude comment. That is, to exclude functional test in openj9 repo, use the auto exclude comment in openj9 issue. For openjdk or system tests, the auto exclude comment should be used at Adopt test repo.

In this case, you want to exclude in the openjdk problem list, not the playlist file. This feature is n

[2021-03-03 18:09] bragaigor commented on #12110
I should have a PR opened in the next few hours that fixes the issue

[2021-03-03 19:08] OscarQQ commented on #11800
related: runtimes/tooling/pull/867 this pr is to disable testRASAPI on vmfarm, still needs one pending approval

[2021-03-03 19:21] #12072 closed

[2021-03-03 19:24] pshipton commented on #11800
Ah sorry, confused it with testOSGiTCK https://github.com/eclipse/openj9/issues/12072.

I poked @llxia in the tooling issue.

[2021-03-03 20:17] llxia commented on #11800
I merged the excludes in the tooling repo.

[2021-03-03 22:03] amicic commented on #12110
While we have fixes ready, they are somewhat suboptimal (duplicate some existing functionality). To clean them up will take a few more hours of testing, so we are ok to revert the OMR change (need a commiter, though).

[2021-03-03 22:24] pshipton commented on #12110
Created https://github.com/eclipse/omr/pull/5840

[2021-03-03 23:07] RSalman opened #12119 "Adaptive GC Threading VM Options"
I had posted in the Eclipse OpenJ9 slack sometime ago to get some thoughts on vm options to tune Adaptive GC Threading _(also referred to as Thread Throttling or Dynamic Threading)_ - _a GC optimization being introduced to adjust the thread count between cycles for better parallelism and overall performance_ (for more background, see https://github.com/eclipse/omr/issues/5829).

Now that we’re mov

[2021-03-03 23:21] RSalman commented on #12119
cc @pshipton @amicic @dmitripivkine @DanHeidinga @keithc-ca @vij-singh

Thoughts and inputs into this are greatly appreciated, thanks!

[2021-03-03 23:46] pshipton commented on #12119
Using `-XX:` is always preferred, if for no other reason than the VM ignores these options when they are not understood. This means that users can set them in environment variable or scripts, and if running on an older OpenJ9 JVM they are just ignored. The downside is if you misspell the option, it gets ignored with no warning.

[2021-03-03 23:50] Mesbah-Alam opened #12120 "MiniMix 5m test fails with Segmentation error vmState=0x00000000 on AIX JDK11 OpenJ9 build"
**Test**

MixedLoadTest -test-args="timeLimit=30m"
Variation: Mode554
JVM_OPTIONS: --add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.io=ALL-UNNAMED -Xcompressedrefs -Xgcpolicy:balanced -XXgc:tarokEnableExpensiveAssertions,fvtest_tarokPGCRotateCollectors -Xjit:count=0,optlevel=hot,gcOnResolve,rtResolve

Core: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_SM/38/artif

[2021-03-03 23:52] Mesbah-Alam commented on #12120
Started a 5x grinder at internal Jenkins, Grinder/14023/

[2021-03-04 00:21] pshipton commented on #12120
@zl-wang fyi

[2021-03-04 00:23] pshipton commented on #12110
The revert https://github.com/eclipse/omr/pull/5840 is merged and promoted to OpenJ9 builds.

[2021-03-04 01:03] 0xdaryl opened #12121 "Support JIT Server on AArch64"
Determine and complete whatever work is required to provide JIT Server support on AArch64.

[2021-03-04 01:04] 0xdaryl commented on #12121
@mpirvu : just FYI that this is a gap that would need to be filled at some point.  I am not targeting this for the production-ready release (JDK17).

[2021-03-04 01:05] 0xdaryl commented on #5455
JIT Server support: AArch64 (#12121)

[2021-03-04 01:40] 0xdaryl opened #12122 "AArch64: Implement fast System.arraycopy"
Implement a primitive and reference version of `System.arraycopy` that does not involve calling the Java JNI native.

Consider optimizations such as inlining constant length copies in JITed code to improve performance.

[2021-03-04 01:58] #11860 closed

[2021-03-04 03:33] 0xdaryl opened #12123 "isHeapObjectWrtBar() and isNonHeapObjectWrtBar() always return false"
The implementation of the Node flags `isHeapObjectWrtBar()` and `isNonHeapObjectWrtBar()` make their return value conditional on a `debug()` flag.  Since that flag is only set in a JIT debug build, for all practical purposes it is forcing those Node flags to always answer `false`.

https://github.com/eclipse/omr/blob/67ddc287341ab2bce7dfee85f1fde1f1e9b3889d/compiler/il/OMRNode.cpp#L7026
https://gi

[2021-03-04 03:34] 0xdaryl commented on #12123
@Akira1Saitoh

[2021-03-04 11:10] lumpfish commented on #9041
There are many tests in the extended.openjdk target which still time out at AdoptOpenJDK - see the jobs in https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.openjdk_aarch64_linux/.

These are some of the tests (there are more `vector` failing tests in addition to those in this list:
[code]
Please advise on whether a new issue should be raised.

[2021-03-04 11:26] lumpfish commented on #9041
It looks like there may be an issue with the aarch64 test machines at AdoptOpenJDK - the hotspot builds are also suffering test timeouts.
I've raised https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/2002

[2021-03-04 11:58] lumpfish opened #12124 "aarch64 jdk16 LambdaLoadTest_CS_5m (net.adoptopenjdk.test.lambda.TestLambdaMethodReferences): Method not found"
sanity.system test LambdaLoadTest_CS_5m on the aarch64 jdk16 milestone 3 build with various `Method xxx not found` exceptions.

jdk build:
[code]

Failing job link: https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_sanity.system_aarch64_linux/42/consoleFull

The failure is intermittent - it did not occur on a rerun of the same test machine or a different test machine.
The failure has not been seen

[2021-03-04 12:25] andrew-m-leonard commented on #12110
Presume this is the same as this?: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.system_aarch64_linux/184/tapResults/
[code]

[2021-03-04 13:40] pshipton commented on #12110
@andrew-m-leonard I expect so. It's fixed on March 3 ~6:30pm EST, so it shouldn't be seen in subsequent builds.

[2021-03-04 14:02] pshipton commented on #12110
Closing this since this problem is resolved by backing out the problematic change. https://github.com/eclipse/openj9/pull/12116 is in progress to fix and re-introduce the changes.

[2021-03-04 14:02] #12110 closed

[2021-03-04 14:42] dmitripivkine commented on #11602
moving to next milestone

[2021-03-04 15:13] gatoborrachon commented on #11433
sorry, i forgot to say: don't worry about the issue mentioned above (with Growthcraft), not even the author knows what is happening (nor will fix it by his side)

[2021-03-04 16:02] zl-wang commented on #12120
interesting ... crash in replaceTrampoline

[2021-03-04 16:13] Mesbah-Alam commented on #12120
@zl-wang : Please note, the problem was reproduced 3/5 times in hyc-runtimes-jenkins/Grinder/14023 .

[2021-03-04 16:35] pshipton opened #12127 "OpenJDK CalendarTest CalendarRegression Uncaught exception thrown in test method"
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_windows_Nightly/28
java/util/Calendar/CalendarRegression.java
[code]

java/util/Calendar/CalendarTest.java
[code]

[2021-03-04 17:06] Mesbah-Alam commented on #12120
@zl-wang : Just an FYI..

Another JIT crash is observed while running the same test in Aarch64 as well :

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_SM/43/tapResults/

Core file: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_SM/43/artifact/system_test_output.tar.gz

Please advise if this requires a different issue.

Error details :

[code]

[2021-03-04 17:15] manqingl commented on #12112
The failed library is the libj9thr29.so from the default directory.  We are calling from compressedrefs libraries to the default version of libj9thr29.so

Module=/bluebird/builds/bld_466788/sdk/ap6480/jre/bin/../lib/ppc64/default/libj9thr29.so

Listed below is the instruction registers of the native stack trace:
`
          /bluebird/builds/bld_466788/sdk/ap6480/jre/lib/ppc64/compressedrefs/libj9p

[2021-03-04 17:48] zl-wang commented on #12120
Separate issue please ...
I didn't see this one's back trace, and thus not sure if it crashed at similar place.

[2021-03-04 18:03] IBMJimmyk commented on #12120
There's no corefile in here. From the test output I see:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_SM/38/consoleText
[code]
So it seems like there's a problem with the machine config that is preventing the generation of a corefile.

[2021-03-04 18:09] Mesbah-Alam commented on #12120
@IBMJimmyk :

You are right, the core file was missing in that zip.

Could you please visit the internal Grinder/14023/console ?

If you scroll down to the bottom, you will see a link that ends with `Grinder/14023/system_test_output.tar.gz` , that will contain the core files of this defect too.

[2021-03-04 18:10] gacholio commented on #12016
The issue here appears to be that the ConstantPool code is resolving the static method without running the `<clinit>`. This fails because the `<clinit>` check for `invokestatic` is done in the resolve called from `initialStaticMethod`, which does not run if the method has been resolved.

[2021-03-04 18:44] dmitripivkine commented on #11886
I am not sure how GC might be involved here.
Looks like there are two threads with similar stacks and exceptions.
From Snap traces:
[code]
Both threads have similar java stacks, so there is top of one of them:
[code]
@BeverlyXu  @tajila  I am not sure what I can check here from GC point of view - everything looks clean. Can somebody investigate what is bad index is, what is array this index for et

[2021-03-04 18:52] Mesbah-Alam opened #12128 "MiniMix 5m test fails with Segmentation error vmState=0x00000000 on Aarch64 JDK11 OpenJ9 build"
**Test**

MixedLoadTest -test-args="timeLimit=30m"
JVM_OPTIONS: `--add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.io=ALL-UNNAMED -Xcompressedrefs  -Xjit:count=0,optlevel=hot,gcOnResolve,rtResolve`

Corefile download link: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_SM/42/artifact/system_test_output.tar.gz

**Java Version**

[code]

**Error details copied from co

[2021-03-04 18:53] Mesbah-Alam commented on #12128
FYI @zl-wang @IBMJimmyk

[2021-03-04 18:54] amicic commented on #12119
I'm for introducing a new set of options. To maintain symmetry with 2 existing ones (that set thread count to exact value) they could be:

-Xgcmaxthreads
-XX:MaxParallelGCThreads= (or ParallelGCMaxThreads)

The feature would be enabled by default, but could be disabled (and re-enabled) with -XX:+/-AdaptiveGCThreading (note GC is added to the initial proposal), regardless if maxthreads is explicitl

[2021-03-04 18:55] gacholio commented on #12016
Nope, that's not it - it appears to be somehow caused by the `Test::test` - removing that makes it work as expected.

[2021-03-04 19:14] gacholio commented on #12016
The entry is resolved by this:
[code]
https://github.com/eclipse/openj9/blob/d780e8d8b86e7c62a1f80411d71bec436574f0f2/runtime/jcl/common/sun_reflect_ConstantPool.c#L755-L758

[2021-03-04 19:35] pshipton commented on #12127
Seems the IntlTest helper doesn't show the actual exception that occurs, and needs to be modified to show that. Created https://github.com/ibmruntimes/openj9-openjdk-jdk16/pull/35 and https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/292

[2021-03-04 19:43] pshipton commented on #12128
@knn-k

[2021-03-04 20:01] pshipton commented on #12124
@knn-k fyi. Note this is a v0.25.0-release build and not the latest. It's getting late, but if you have additional aarch64 specific changes they could still go in. Otherwise aarch64 is still ea.

[2021-03-04 20:39] fjeremic commented on #9120
All the issues on compilation thread crashes have been resolved that I could find. Going to take a look at application thread crashes and see if there is anything to fix on that front. If not, I'll do another refactoring pass to clean everything up, add documentation, and proper tracing then close off the Epic.

[2021-03-04 20:45] pshipton commented on #12127
50x grinder to see if this can be recreated. https://ci.eclipse.org/openj9/view/Test/job/Grinder/1542/

[2021-03-04 21:00] dusanboskovic opened #12129 "Add check to ensure that -Xmx != -Xmnx"
Received a recent customer problem where they had `-Xmx` == `-Xmnx`. This should not be allowed and a check should be included to prevent this scenario from occurring.

As taken from @dmitripivkine testing, setting `-Xmx` and `-Xmnx`
[code]

and testing `-Xmx` and `-Xmn`
[code]

There is no check for the `-Xmnx` case while there is a check for the `-Xmn` case. A check should be added for the `-Xmn

[2021-03-04 21:09] dmitripivkine commented on #12129
@amicic FYI

[2021-03-04 21:38] tajila opened #12130 "ValueTypes: checkcast behaviour"
The following bytecodes trigger NoClassDef exception on J9. However on the RI it throws an NPE.

[code]

We need to change the behaviour so it matches RI, we also need to make sure we do the right thing when classref is ` "QClassDoesNotExist;"` and reciever is not NULL

[2021-03-04 21:39] #1393 closed

[2021-03-04 21:39] #1394 closed

[2021-03-04 21:40] #1503 closed

[2021-03-04 21:40] #1392 closed

[2021-03-04 21:40] #1388 closed

[2021-03-04 21:43] tajila commented on #10454
i believe this is fixed

[2021-03-04 21:43] #10454 closed

[2021-03-04 21:44] tajila commented on #10077
This work is complete

[2021-03-04 21:45] #10077 closed

[2021-03-04 21:46] #7268 closed

[2021-03-04 21:46] tajila commented on #5178
this work is complete

[2021-03-04 21:46] #5178 closed

[2021-03-04 21:48] #5021 closed

[2021-03-04 21:49] #4983 closed

[2021-03-04 21:59] #11103 closed

[2021-03-04 22:54] RSalman commented on #12119
cc @vijaysun-omr

I got mixed with names when I initially subscribed everyone :sweat_smile:

[2021-03-04 23:11] knn-k commented on #12124
There are failures in https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_sanity.system_aarch64_linux/43/ , but they look like different ones.

[2021-03-04 23:49] rrozenshteyn-jha commented on #11611
Sorry for the delay @liqunl .  I just sent @pshipton the requested jit trace log.

[2021-03-05 02:54] knn-k commented on #12124
@pshipton Where can I find the v0.25.0-release build binary?

I am running a Grinder job using the latest JDK 16 nightly build for the moment.

[2021-03-05 04:08] mnalam-p commented on #11644
In 32bit jvm default max stack size is 320K, while in 64bit jvm it is 1M. Running the test with max stacksize set to 1M stops reproducing the issue.
The issue can be reproducible by limiting the JITted method to only `java/util/regex/Pattern$CharProperty.match(Ljava/util/regex/Matcher;ILjava/lang/CharSequence;)Z`.
The test runner uses regex to verify the test outcome and hence the failure is happe

[2021-03-05 12:09] lumpfish commented on #12124
The binary is at https://github.com/AdoptOpenJDK/openjdk16-binaries/releases/tag/jdk-16%2B36_openj9-0.25.0-m3

[2021-03-05 13:07] Mesbah-Alam commented on #12128
Reproduced in a grinder 2/5 times: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/7449/tapResults/

[2021-03-05 13:26] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly_testList_1/246/
[code]

[2021-03-05 13:27] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/320

[2021-03-05 13:42] pshipton opened #12132 "jdknext failing to build due to javadoc errors"
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/465/
[code]

[2021-03-05 13:45] pshipton commented on #12132
Seems likely due to "8262893: Enable more doclint checks in javadoc build" https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/f5fa088746db5b574e62ab11045950396e025082

[2021-03-05 13:45] pshipton commented on #12132
@tajila fyi

[2021-03-05 13:53] pshipton commented on #12132
I'll work on fixing these.

[2021-03-05 14:02] keithc-ca commented on #12009
Fixed via pull requests referenced above.

[2021-03-05 14:02] #12009 closed

[2021-03-05 14:14] #11366 closed

[2021-03-05 15:46] llxia opened #12133 "Enable native code coverage for openj9"
Code coverage provides very important piece of information about where to focus our testing. It will help to identify testing gaps which will help to reduce escaped defects, reduce the number of PMRs, and user-raised issues. We can also use this native code coverage to do changed-based testing in the future. This is specially useful during new feature development.

[2021-03-05 18:04] JasonFengJ9 opened #12136 "JDK11 zOS TestJcmd_ibm_0_FAILED AssertionError: Failed to delete the temparary dump file : JENKINS.JVM.JENKINS2.D210302.T133609.X&DS"
Failure link
------------

From an internal build `Grinder/13994/`
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links
09:59:57  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=ibm&JDK_VENDOR=oracle&BUILD_LIST=functional&PLATFORM=s390x_zos&TARGET=TestJcmd_ibm_0

Optional inf

[2021-03-05 18:58] pshipton opened #12137 "Pls reboot win2012-x86-5"
It hung instead of building a JVM https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_OMR/847/console

I see https://ci.eclipse.org/openj9/job/Cleanup-Nodes/3936/console running now, but sure yet if it's hung or not.

Might as well reboot win2012-x86-4 for good measure in preparation for the weekend. I'm still hoping to get access to do the reboots myself.
@jdekonin

[2021-03-05 19:04] pshipton commented on #12137
I see this from the cleanup job.
[code]

[2021-03-05 19:04] pshipton commented on #12137
I've set 4 and 5 offline for now.

[2021-03-05 19:49] gacholio commented on #12016
I have all of the testcases working as expected, but the code needs some reworking before it can be committed.

[2021-03-05 19:53] gacholio commented on #12130
Are we sure the RI behaviour is correct?

[2021-03-05 20:05] RSalman commented on #12119
-XX:MaxParallelGCThreads= (or ParallelGCMaxThreads)

Do we intend to have these options independent of Adaptive Threading? That is, if these options are set and adaptive threading is disabled, through command line or because collector doesn't support it, e.g.:
- `-Xgcpolicy:balanced` `-XgcmaxthreadsN`
- `-XX:-AdaptiveGCThreading` `-XgcmaxthreadsN`
- `-Xgc:concurrentScavenge` `-XgcmaxthreadsN`

Wou

[2021-03-05 20:19] liqunl opened #12138 "xlc link error: unresolved OMR::SymbolReferenceTable::UNKNOWN"
This issue is to track a c++ compiler issue I have encountered and that I have to workaround it due to other work I have. We'd like to create a minimum reproducible test and forward it to xlc team to look at.

In #11634, the original change caused a xlc link error
[code]
[lmap.txt](https://github.com/eclipse/openj9/files/6093109/lmap.txt)

With some experiment, the following code will cause the sa

[2021-03-05 20:39] pshipton commented on #12137
We also had this problem in the builds last night, also on win2012-x86-5.
Seems it hung twice. Once trying to create the JVM build, and again when "Deleting project workspace...".

https://ci.eclipse.org/openj9/job/Build_JDK16_x86-64_windows_Nightly/30/
[code]

[2021-03-05 21:25] liqunl opened #12140 "Auto symref list is incomplete"
`_autoSymRefs` declared in `ResolvedMethodSymbol` is used to track all the auto and temp symrefs. One can use `getAutoSymRefs` to obtain the list.

However, in block splitting, we create an auto symref without adding it to the list.
https://github.com/eclipse/omr/blob/ca24f8df45f058f6f9249ce59c999a335e64444d/compiler/optimizer/Inliner.cpp#L3432-L3436
https://github.com/eclipse/omr/blob/ca24f8df45f

[2021-03-05 21:37] jdekonin commented on #12137
I had emails about storage issues, but I thought they were AIX specific.  The emails are not clear as to which systems were impacted; the Windows x86 or the AIX.  On both 4 & 5 the partition that hosts the workspace wasn't mounted, but it is on reboot.  I've added both back into jenkins availability.

[2021-03-05 22:07] pshipton commented on #12137
So maybe that is what happens to 4 all the time, the partition gets unmounted. There was no actual problem I saw on 4 before I disabled it, I just disabled it on principal since it always seems to go offline for the weekend.

[2021-03-05 22:31] amicic commented on #12119
Before I try to (somewhat indirectly) answer your questions, I'd say that I'm also open to some other approaches, for example, not introducing new -Xmaxthreads option, but just apply adaptive threading to the existing one. That would mean a change in behavior for a large number customers (this option after Xmx/Xmn is the most popular one). I personally think the risk is not high (if we do addition

[2021-03-05 23:46] tajila opened #12141 "Test SCC range checks"

[2021-03-05 23:48] tajila commented on #12141
@hangshao0 can you add a test that would have exposed this issue?

[2021-03-06 00:02] #12137 closed

[2021-03-06 04:18] 0xdaryl commented on #8972
Some progress is being made but a fix won't be likely for 0.26.  Moving out.

[2021-03-06 04:20] 0xdaryl commented on #9782
There hasn't been much progress on this to resolve it for 0.26.  Moving out to 0.27.

[2021-03-06 04:24] 0xdaryl commented on #11731
@nbhuiyan will be spending some time with this next week.  Unlikely to be resolved for 0.26.  Moving to 0.27.

[2021-03-06 12:35] 0xdaryl opened #12142 "AArch64: Enable USE_COMPUTED_GOTO"
Investigate whether enabling `USE_COMPUTED_GOTO` for the the bytecode interpreter loop on AArch64 would be worthwhile.  This should involve investigating startup performance with it enabled.

https://github.com/eclipse/openj9/blob/b227feba29b0b191867789756a14b1f1ab061b71/runtime/vm/BytecodeInterpreter.inc#L36

[2021-03-06 12:40] 0xdaryl opened #12143 "AArch64: Enable idle GC tuning"
Investigate and enable idle GC tuning on AArch64.

https://github.com/eclipse/openj9/blob/b227feba29b0b191867789756a14b1f1ab061b71/runtime/vm/jvminit.c#L2230

[2021-03-06 12:40] 0xdaryl commented on #12143
@amicic : I would appreciate your opinion on enabling this for AArch64 please.

[2021-03-06 16:13] amicic commented on #12143
I see no reason to restrict any h/w arch.

Maybe some o/s, that does not support eager memory de-commit, but h/w is rather transparent.

@mpirvu ?

[2021-03-07 12:52] 0xdaryl commented on #11725
Moving this out to 0.27 based on GAC's analysis and pending an answer to the question he raised.

[2021-03-07 12:59] 0xdaryl commented on #8173
Unlikely to be fixed for 0.26 again.  Moving out.

[2021-03-07 13:03] 0xdaryl commented on #6552
We don't have any cycles to investigate this for 0.26.

[2021-03-08 08:59] Akira1Saitoh commented on #12128
Investigated coredump from https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_SM/42/artifact/system_test_output.tar.gz
The crash occurred at `OMR::CodeCache::replaceTrampoline`. It looks like `entry` was NULL, which means `_resolvedMethodHT->findResolvedMethod(method)` returned NULL.
https://github.com/eclipse/omr/blob/4665e2f7227fb3df401c233fa90e0e36c6b9d55b/compiler/runtime/OMRCodeCache.c

[2021-03-08 09:20] yaakov-berkovitch opened #12144 "JRE11 - JVM crash with GPF"
Java -version output
--------------------

openjdk 11.0.10 2021-01-19
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.10+9)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.24.0, JRE 11 Linux amd64-64-Bit Compressed References 20210120_910 (JIT enabled, AOT enabled)
OpenJ9   - 345e1b09e
OMR      - 741e94ea8
JCL      - 0a86953833 based on jdk-11.0.10+9)

Summary of problem
------------------
The

[2021-03-08 13:26] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/307/

[2021-03-08 13:26] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/322/

[2021-03-08 13:28] pshipton commented on #12144
@ashbm5 can someone pls take a look.

[2021-03-08 13:32] pshipton commented on #12144
@yaakov-berkovitch note that until this can be resolved, setting `-Djdk.nativeCBC=false` should work around it. https://www.eclipse.org/openj9/docs/djdknativecbc/

Probably we need the core, can you pls compress it and make it available on a file sharing service. If you don't want it public you can email me directly.

[2021-03-08 16:19] hangshao0 commented on #12141
The crash actually happened in `ComparingCursor` when it is using `J9UTF8_TOTAL_SIZE()` to get the utf8 size, before calling into SCC API `j9shr_Query_IsAddressInCache()`.

[code]

It needs to be a test case that passes a "bad" utf8 to `ComparingCursor::isRangeValidForUTF8Ptr()`. It will be easy if we have native test suite for ComparingCursor. If not, it may not be easy to let JVM generate a bad

[2021-03-08 16:35] hangshao0 commented on #11178
For the solution in https://github.com/eclipse/openj9/issues/11178#issuecomment-740742174:

When you say "all nested fields are padded", are nested fields inherited from super class(es) included ?

[2021-03-08 17:02] #11943 closed

[2021-03-08 17:05] 0xdaryl opened #12146 "Contribute fix for #11943 to 0.26"
@r30shah : I think it is worth contributing the fix for #11943 to the 0.26 release (openj9-omr repo).  Please let me know if you disagree.

[2021-03-08 18:04] r30shah commented on #12146
Yes, I agree with it. Let me open up PR Agains the https://github.com/eclipse/openj9-omr/tree/v0.26.0-release

[2021-03-08 18:12] r30shah commented on #12146
Opened up the PR against openj9-omr/0.26. We can merge it once https://github.com/eclipse/openj9/issues/11943 passes the acceptance.

[2021-03-08 18:19] llxia commented on #12081
Passed in internal Grinder/14075 with `nativepath` specified. I will have PR for this soon.

[2021-03-08 18:29] mpirvu commented on #12143
If the OS is able to release the memory I see no reason to exclude AArch64.
Under Linux we use `madvise(void *addr, size_t length, MADV_DONTNEED);` to tell OS to take the given region out of the RSS. What OS is used for AArch64? If madvise is not available, we need to investigate similar OS calls.

[2021-03-08 19:06] 0xdaryl commented on #12143
Thanks.  AArch64 uses Linux at the moment and we'll have to verify the behaviour of `madvise` before enabling.  macOS is also in the cards for AArch64 later this year likely.

[2021-03-08 22:03] JasonFengJ9 commented on #6552
Also observed in an internal build `Test_openjdk8_j9_special.system_ppc64_aix/10`:
[code]

[2021-03-08 22:13] JasonFengJ9 opened #12150 "Failures caused by "Unable to find image 'adoptopenjdk-example-test:latest' locally""
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.external_s390x_linux/2`
rebuild the failed tests in one link:
23:05:50  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=external&PLATFORM=s390x_linux_mixed&TARGET=testList%20TESTLIST=example-test_0,tomee_test_j9_0,quarkus_quickstarts_test_0

[2021-03-08 22:27] JasonFengJ9 opened #12151 "renaissance-als_0_FAILED - LoginException: No LoginModule found for com.ibm.security.auth.module.LinuxLoginModule - Unable to find JAAS classes:com.ibm.security.auth.UsernamePrincipal"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.perf_ppc64le_linux/3`:
[code]
rebuild the failed tests in one link:
04:31:07  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&JDK_VENDOR=ibm&BUILD_LIST=perf&PLATFORM=ppc64le_linux_mixed&TARGET=testList%20TESTLIST=renaissance-als_0,renaissance-chi-square_0,renaissance-dec

[2021-03-08 22:36] JasonFengJ9 opened #12152 "JDK16 Windows MBCS_Tests_file_cn_windows_0_FAILED NullPointerException: Cannot invoke "java.io.File.exists()" because "src" is null"
Failure link
------------

From an internal build `Test_openjdk16_j9_special.functional_x86-64_windows/2`:
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
03:50:00  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=functional&PLAT

[2021-03-08 22:46] #12132 closed

[2021-03-08 23:26] AlexeyKhrabrov opened #12153 "JITServer AOT cache implementation"
This issue is to track the progress of contributing the implementation of caching AOT methods at JITServer. Below is the outline of the main stages (the list will be updated with new and complete work items).

- [x] Extend the class loader table to associate each class loader with the name of its first loaded class: #12154.
- [x] Infrastructure to store and lookup cached serialized AOT methods at

[2021-03-08 23:32] AlexeyKhrabrov commented on #12153
@mpirvu FYI

[2021-03-09 00:03] pshipton commented on #12152
The test executes `functional\\MBCS_Tests\\file\\test2.bat Windows zh cn MS936`

test2.bat contains
[code]
This seems to compute `tmp\file_zh-cn` as the second parameter.

The code sets `File dst = new File(args[1]);` before doing
[code]

The rename can return null
[code]
The NPE occurs here.
[code]

[2021-03-09 00:08] pshipton commented on #12152
Maybe some file system hiccup. If it occurs often we'll have to debug what is going on. There are some System.out.println() in the code, I'm not sure why they aren't seen in the output.

[2021-03-09 00:11] pshipton commented on #12150
@AdamBrousseau @jdekonin fyi

[2021-03-09 00:16] pshipton opened #12155 "ub16x64j92 is "launching""
I noticed ub16x64j92 is in "launching" state, not sure it is healthy.
https://ci.eclipse.org/openj9/computer/ub16x64j92/log

@jdekonin @AdamBrousseau fyi

[2021-03-09 00:17] pshipton commented on #12155
`ERROR: Unable to launch the agent for ub16x64j92`

[2021-03-09 02:26] AdamBrousseau commented on #12150
@llxia where does `adoptopenjdk-example-test:latest` come from?
It appears the machine has docker installed based on the output.
Also, I noticed this is from the external bucket which was just disabled because it is unstable. Perhaps we can ignore it for now.

[2021-03-09 03:37] smlambert commented on #12150
example-test can be ignored, it will shortly be removed

[2021-03-09 07:22] Akira1Saitoh commented on #12128
I believe this is the same issue as https://github.com/eclipse/openj9/issues/12120 because both crash in replaceTrampoline.

[2021-03-09 09:29] andrew-m-leonard commented on #11775
Failed again on a new Adopt mac node: https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.functional_x86-64_mac/40/console

[2021-03-09 13:59] pshipton commented on #11775
@dmitripivkine fyi

[2021-03-09 14:04] tajila commented on #12041
@keithc-ca Any update on this?

[2021-03-09 14:07] tajila commented on #11839
Seems related to https://github.com/eclipse/openj9/issues/12112

[2021-03-09 14:26] pshipton commented on #9186
@tajila `-XX:-GlobalLockReservation` is still the default until https://github.com/eclipse/openj9/issues/11424 is merged, so yes it has.

[2021-03-09 14:26] tajila opened #12156 "ValueTypes: Address JVMTI behaviour of jvmtiHeap functions"
From https://github.com/eclipse/openj9/pull/12106

What is missed here that Iterator states classiteratorclassslots_state_* are used externally, so we should add support for new classiteratorclassslots_state_flattened_class_cache_slots:

    in GC_CheckEngine::checkClassHeap(): there is trivial handling - just add string description
    in MM_ReferenceChainWalker::scanClass(): this change requires

[2021-03-09 14:26] keithc-ca commented on #12041
It's near the top of my to-do list, but I haven't started working on this yet.

[2021-03-09 14:27] tajila commented on #12041
Okay, based on this I'll defer it to the next release

[2021-03-09 14:29] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/323

[2021-03-09 14:29] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/308

[2021-03-09 14:33] tajila opened #12157 "Add ConstantPool reflection tests"
https://github.com/eclipse/openj9/issues/12016 exposed differences between the behaviour of J9 and RI in regards to the resolution behaviour of the ConstantPool API.

We need to find out if there are any existing tests in OpenJDK to verify the behaviour. Otherwise, we need to add tests that ensure static/instance fields, methods and class refs behave in accordance with the RI.

[2021-03-09 14:50] 0xdaryl commented on #8214
@nbhuiyan is working on a fix and studying its behaviour in local testing before contributing.  If it is committed, he requested more time to allow it to "soak" in the head stream.  I will push this out to 0.27.

[2021-03-09 14:58] tajila opened #12158 "ValueType: Discussion on using a header bit for flattened arrays"
Valuetypes is going to introduce covariant arrays to the JDK. This means that when an array instance has a static type of `[java/lang/Object;` or `[com/some/InterfaceOrValueCapableAbstractClass;` there is no guarantee as to what the element size of the array may be if it is flattened.

Currently, the way to check if an array instance is flattened is by checking the classFlags (`arrayInstance->ramC

[2021-03-09 14:59] tajila commented on #12158
@0xdaryl @vijaysun-omr @dmitripivkine @hzongaro @0xdaryl @Leonardo2718

[2021-03-09 15:25] dmitripivkine commented on #12158
@amicic FYI

[2021-03-09 15:38] dmitripivkine commented on #12158
I don't see how "Overload the bit 4 (Object has been hashed) to denote a flattened array as well" can be real solution.
If GC will maintain FA as always "hashed" (grow by hash code unconditionally if moved) - this might be not even possible because GC operates with "hashed" and "moved" bits as a pair (enum) and all three non-zero combinations are used (10,11,01), so "hashed" bit might be suddenly

[2021-03-09 15:43] fjeremic commented on #11531
@VermaSh this one is tagged for 0.26 release. Any luck on reproducing the issue?

[2021-03-09 16:00] dmitripivkine commented on #11775
I think the fix for softmx behaviour we are working at https://github.com/eclipse/omr/pull/5728 should help in this case too

[2021-03-09 16:04] DanHeidinga commented on #12157
There's one test I'm aware of - jdk.internal.reflect.constantPool.ConstantPoolTest

[2021-03-09 16:14] vijaysun-omr commented on #12158
Thanks @dmitripivkine

Could you please elaborate on `"hashed" bit might be suddenly be set to 0 by GC` ?

My impression was that the hashed bit gets set when an object gets identity-hashed for the first time and this gets used if/when the object gets moved by the GC. This is because we need the same identity hashcode value to be returned every time for a given object and the value returned the fi

[2021-03-09 16:34] dmitripivkine commented on #12158
As I said GC uses "hashed" and "moved" bits as a pair (enum) with states "10","11","01". This is necessary to recognize state "hashed object has been moved with growing **this GC cycle**" to handle Abort cases in Scavenger and Concurrent Scavenger. So state machine for ("hashed","moved") might be "10" --> "01" --> "11" (hashed not moved --> hashed just moved --> hashed and moved). State "hashed ju

[2021-03-09 16:38] dmitripivkine commented on #12158
And if FA object is going to be created "hashed" and "moved" at the beginning how it helps to recognize FA from any other hashed and moved object (array)?

[2021-03-09 16:52] DanHeidinga commented on #12158
Looking at the structures in j9nonbuilder.h, this seems like the only guaranteed free bit.  It'll cost a mask on any data access but as we've seen with masking the class pointers, the overall cost here is pretty close to unmeasurable

[2021-03-09 17:00] gacholio commented on #12158
2 and 3 are similar solutions - both turn a fetch into a fetch and mask.

I would be tempted to use the size bit to avoid AGI (address generation interlock) penalties when accessing the data. I suspect many checks of the size field can be optimized away by the JIT.

[2021-03-09 17:05] gacholio commented on #12158
Another plus to using the size field is that all of the VM accesses to it already go through macros.

[2021-03-09 17:22] yaakov-berkovitch commented on #12144
@ashbm5 thanks. I will update the command line for now, and later upgrade the cryptography mode to AES-GCM.
Is there a downside of using the additional settings you suggested in the command line ?

[2021-03-09 17:50] vijaysun-omr commented on #12158
The `dataAddr` field is not expected to be used in the JITed code sequence for array access under gencon I believe, as opposed to the array size which is used.

The `dataAddr` field would be used in the JITed code sequence for array access under balanced, but I'd expect many of the cases (though not all) where we commoned the array size to also be cases in which we common the `dataAddr`, e.g. if w

[2021-03-09 17:52] VermaSh commented on #11531
I got caught up with some of the other work items so, unfortunately, I haven't been able to make much progress for this issue. I was able to get core dump from one of the previous the grinders. Looking into it now.

[2021-03-09 17:56] gacholio commented on #12158
`dataAddr` is only defined for 64-bit targets.

[2021-03-09 18:01] vijaysun-omr commented on #12158
Is this by design and therefore not subject to change ? If the answer to that is "yes" then (3) was'nt much of an option to begin with :)

[2021-03-09 18:12] pshipton commented on #11868
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_ppc64le_linux_Nightly_testList_0/62
ConcurrentLoadTest_5m_0
variation: Mode150
JVM_OPTIONS:  -XX:+UseCompressedOops

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_extended.system_ppc64le_linux_Nightly_testList_0/62/system_test_output.tar.gz
[code]

[2021-03-09 18:12] gacholio commented on #12158
@bragaigor

[2021-03-09 18:19] DanHeidinga commented on #12158
Isn't that effectively all the platforms we care about?

OpenJ9 only builds 32 bit VMs for JDK8 at this point... and maybe IBM still builds 31-bit on zOS for 11?  I'm not sure we care to support 32 bit platforms in the future as we've been actively rejecting requests for them on anything after 8.

[2021-03-09 18:34] bragaigor commented on #12158
That's correct (the main reason is to take advantage of the vast 64bit virtual address space)

`dataAddr` was introduced as the primary objective to aid [off-heap technology](https://github.com/eclipse/openj9/issues/11438) in balanced. But now `dataAddr` is in place for all policies and 64bit platforms. If 64 bit constraint is not a problem then `dataAddr` is viable solution as we probably won't b

[2021-03-09 18:36] fjeremic commented on #12158
For simplicity sake I prefer option (4). How much performance are we actually going to gain with this bit and is it worth the complexity it introduces?

[2021-03-09 18:42] 0xdaryl commented on #12158
My first instinct when I read the proposed options was to prefer piggybacking on the new `dataAddr` field, mainly due to the fact that it is relatively new with few uses and an investigation has already been conducted to verify the overall minimal impact of introducing it.

When folding the check for the flattened array load (for example), we end up checking both the `J9ClassIsValueType` and the `

[2021-03-09 18:43] gacholio commented on #12158
Does flattened not imply value type?

[2021-03-09 18:51] fjeremic commented on #12158
2% on which workload and how heavy was that workload in terms of making use of arrays and specifically value type arrays? Also what is the gap to close between non-VT and VT? Is this 2% a huge portion of the gap?

On Z at least this is close to unmeasurable because we worked with the hardware to introduce an instruction which loads and masks off the low order byte. The `dataAddr` field will not be

[2021-03-09 19:03] bragaigor commented on #12158
@amicic

[2021-03-09 19:11] 0xdaryl commented on #12158
The 2% overhead was measured on SPECjbb2005, which doesn't use VT.  It was merely a curiosity experiment while trying to address the throughput gap between builds with VT capabilities built in and non-VT builds.  Ideally, the overhead between the two builds when not running code that doesn't use value types should be zero (as is the case with almost all code we run these days).

Obviously, this ov

[2021-03-09 21:54] #12016 closed

[2021-03-10 03:57] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_windows_Nightly/32/

[2021-03-10 05:27] knn-k opened #12165 "Jenkins job uses v.0.21.0 as the boot JDK"
Jenkins jobs in OpenJ9 PRs use OpenJ9 v.0.21.0 Java 11 as the boot JDK on AArch64 Linux as shown below.
Is it possible to update the boot JDK to newer version?

From: https://ci.eclipse.org/openj9/job/Build_JDK11_aarch64_linux_Personal/264/consoleText:
[code]

[2021-03-10 05:36] knn-k commented on #12165
It seems it is not only AArch64 that uses v.0.21.0 as the boot JDK.
x86-64 Linux uses the old JDK in https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_Personal/1181/consoleText:
[code]

Is there any reason for staying at v.0.21.0?

[2021-03-10 12:54] lumpfish opened #12166 "jdk8 win64 extended.functional testDefaultDisclaimMemory_3 failure"
extended.functional testDefaultDisclaimMemory_3 failed on the jdk-16+36_openj9-0.26.0-m1 win64 build.
The test passed on other platforms.
[code]

Failing job link:
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.functional_x86-64_windows/98/

Failing test output:
[code]

[2021-03-10 12:56] andrew-m-leonard opened #12167 "AIX jdk8_openj9-0.26.0-m1: java/nio/channels/AsynchronousSocketChannel/CompletionHandlerRelease.java hangs"
java/nio/channels/AsynchronousSocketChannel/CompletionHandlerRelease.java hangs
completes in 2 seconds on Hotspot
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.openjdk_ppc64_aix/17/consoleFull
[code]

[2021-03-10 13:04] andrew-m-leonard opened #12168 "AIX jdk8_openj9-0.26.0-m1 : javax/rmi/ssl/SSLSocketParametersTest.sh.SSLSocketParametersTest : java.rmi.NoSuchObjectException"
javax/rmi/ssl/SSLSocketParametersTest.sh.SSLSocketParametersTest
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.openjdk_ppc64_aix/17/consoleFull
[code]
[code]

[2021-03-10 13:32] tajila commented on #12157
Looks like it is already included as part of jdk_lang

[2021-03-10 13:33] tajila commented on #12157
We will need to add new tests to verify the <clinit> behaviour

[2021-03-10 13:43] tajila commented on #12141
Can be done by adding a new test to `/openj9/test/functional/NativeTest/playlist.xml` with new test cases in `/openj9/runtime/tests/shared` ?

[2021-03-10 13:44] lumpfish commented on #12124
Also seen on HeapHogLoadTest with build:
[code]
Test output:
[code]

[2021-03-10 13:47] pshipton commented on #12165
For platforms that aren't ea, there isn't any issue that I know of staying with 0.21.

@jdekonin fyi this request to update the aarch64 boot JDK.

[2021-03-10 13:59] pshipton commented on #12168
@andrew-m-leonard can you pls grind this and get a failure rate.

https://github.com/eclipse/openj9/issues/8515 looks related.

[2021-03-10 14:22] pshipton commented on #9782
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_OMR/761
[code]

[2021-03-10 14:33] pshipton commented on #12167
Is the failure on OpenJ9 intermittent?

[2021-03-10 14:37] pshipton commented on #12166
@lumpfish is the failure intermittent? Does it only occur on specific machines?

[2021-03-10 14:40] pshipton commented on #12167
Does the Hotspot success occur on the same machine?

[2021-03-10 14:46] hzongaro commented on #11729
In prototyping JIT support for calling the new resolution helper, we realized the JIT would need an additional helper from the JVM to handle `withfield`.

For a `withfield` operation on a field of a type that has been resolved, the JIT generates a call to the `jitNewValue` helper to create a new instance, copy the fields from the old value, and update the value of the single field that is the subj

[2021-03-10 14:53] #11776 closed

[2021-03-10 14:55] tajila commented on #9186
After taking a closer look at the issue, I believe it has nothing to do with globalLockReservation. Given the intermittent nature of the failure, it may be a file system issue.

[2021-03-10 15:19] hzongaro opened #12170 "EPIC: Investigate performance improvements for value types support"
Running some benchmarks with value types support enabled in OpenJ9 has shown performance degradation of 25% to 75% over OpenJ9 without value types support.

Preliminary analysis has shown that all or very nearly all of the performance degradation can be attributed to overhead introduced in handling `acmp` operations in JIT-compiled code using a call to the `jitAcmpHelper`, and in handling of `aalo

[2021-03-10 15:20] hzongaro opened #12171 "Handle unresolved fields and classes for value type-related operations"
With value type support enabled, the JIT compiler currently aborts the compilation in the following circumstances:

- if it encounters a `putfield`, `getfield` or `withfield` operation for which the field's type is a value type, and the field is unresolved; or
- if the class involved in a `defaultvalue` or `withfield` operation is unresolved.

Situations which are more likely to involve unresolved

[2021-03-10 15:21] lumpfish opened #12172 "AIX jdk-11.0.11+5_openj9-0.26.0-m1 functional test crashes"
A number of tests (14 in total) from the sanity.functional and extended.functional test targets crashed running against the AIX jdk-11.0.11+5_openj9-0.26.0-m1build.
[code]

Failure links:
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_ppc64_aix/91/consoleFull
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.functional_ppc64_aix/110/consoleFull

Output from one of the

[2021-03-10 15:25] hzongaro opened #12173 "Implement additional fast paths for acmp with value types enabled"
[`TreeLowering::fastpathAcmpHelper`](https://github.com/eclipse/openj9/blob/c11f57cfb745df184bf88647d7a320d6b54e0b55/runtime/compiler/optimizer/TreeLowering.cpp#L160) generates inline fast path handling for the `jitAcmpHelper` call that checks whether the two values involved are equal references, and only calls the helper if they are not equal.

The helper is designed to handle comparison of refer

[2021-03-10 15:38] hzongaro opened #12174 "Implement inline array element load or store for identity types when value types are enabled"
With value types enabled, the JIT unconditionally generates a call to the `jitLoadFlattenableArrayElement` or `jitStoreFlattenableArrayElement` helpers for `aaload` or `aastore` bytecode operations, respectively.

In order to reduce the overhead for accessing arrays of identity types (and possibly for arrays of value types that are not flattened) the JIT can generate inline IL that checks at run t

[2021-03-10 15:50] hzongaro opened #12175 "Have VP check for non-value types in acmp and aaload/aastore operations"
With value types enabled, the JIT generates calls to `jitAcmpHelper` for reference comparisons and `jit{Load|Store}FlattenableArrayElement` for array operations during IL generation.

The JIT should take advantage of type information that's available during Value Propagation to detect whether the type of either operand of `jitACmpHelper` is known not to be a value type.  If not, VP can replace the

[2021-03-10 15:57] pshipton commented on #12115
Found this in 4.jvm1.stdout
[code]

[2021-03-10 16:11] tajila commented on #11178
yes

[2021-03-10 16:29] hangshao0 commented on #12141
The native tests in `/openj9/runtime/tests/shared` are covering the native code in the j9shr29 dll. The crash here was not in j9shr29 dll. It was `ComparingCursor` in j9vm29 (before calling into the actual SCC API). If we want to add a new test, it should be in native test suite for things in j9vm29 dll.

[2021-03-10 16:29] andrew-m-leonard opened #12176 "jdk11: security/infra/java/security/cert/CertPathValidator/certification/ComodoCA.java : unexpected status of EE certificate"
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.openjdk_ppc64_aix/14/consoleFull
Passes with Hotspot, fails with OpenJ9:
[code]
[code]

[2021-03-10 16:43] andrew-m-leonard opened #12177 "jdk11 extended.openjdk: s390xLinux: sun/security/krb5/auto/rcache_usemd5.sh.rcache_usemd5 : Exception.."
sun/security/krb5/auto/rcache_usemd5.sh.rcache_usemd5
Works with Hotspot, fails with OpenJ9:
[code]
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.openjdk_s390x_linux/14/consoleFull
[code]

[2021-03-10 17:13] hangshao0 commented on #11178
Not sure if I missed something.

If the double-slot volatile field exists only in the subclass. When creating the ramclass of the super class, it does not have a double-slot volatile field, its nested fields are not padded to U_64. But the subclass has a double-slot volatile field, so all nested fields (including the inherited) are padded to U_64 boundaries. Doesn't this cause a problem when casti

[2021-03-10 17:30] alvee-unb opened #12179 "AArch64: Preserve vector registers across JIT helpers"
Vector registers need to be preserved like it is being done in PowerPC.

A few clarifications:
- There are 32 VRs, with 16-bytes long, the alignment required for preserving them is 16-bytes in AArch64.
- All the VRs overlap with the FPRs.
- For load/store instructions, `vldrimmq` & `vstrimmq` are used respectively.

[2021-03-10 17:33] alvee-unb commented on #12179
Hi @gacholio , just wanted to let you know about this beforehand. We may proceed with this after issue#11752 is resolved.

[2021-03-10 18:38] dmitripivkine commented on #11771
implemented in https://github.com/eclipse/openj9/pull/12106

[2021-03-10 18:40] dmitripivkine commented on #11771
postponed due undefined specs https://github.com/eclipse/openj9/issues/12156

[2021-03-10 18:41] pshipton commented on #12172
@tajila fyi

[2021-03-10 18:42] dmitripivkine commented on #11771
@tajila This is implemented. The only leftover is jvmtiHeap part but there is no specifications yet.
I think this item can be closed

[2021-03-10 18:57] jdekonin commented on #12165
Done.

[code]

[2021-03-10 19:10] tajila commented on #12172
@fengxue-IS Can you take a look at this?

[2021-03-10 19:33] llxia commented on #12079
@LongyuZhang Could you take a look at this issue? Thanks

[2021-03-10 19:42] pshipton commented on #12176
This is a recent regression, tracking the first failing build.

[2021-03-10 19:52] 0xdaryl commented on #12179
@gita-omr FYI

[2021-03-10 19:58] mpirvu opened #12180 "Possible memory leak with JITServer for cached ROMClasses"
This code https://github.com/eclipse/openj9/blob/master/runtime/compiler/control/JITServerCompilationThread.cpp#L624-L640 allocates memory for a serialized ROMClass sent by the client and attempts to store it into the per-client ROMClass cache. However, if two threads try to the same thing at the same time, only one of them will manage the cache the ROMClass, while the second will do abort the cac

[2021-03-10 19:59] mpirvu commented on #12180
FYI @AlexeyKhrabrov

[2021-03-10 20:00] 0xdaryl commented on #11961
Workaround delivered to 0.26.  Moving this to 0.27.

[2021-03-10 20:32] pshipton commented on #12176
I tried the 0.23 and 0.24 release builds and they also fail, this isn't a (recent) regression.

[2021-03-10 20:48] pshipton commented on #12176
@andrew-m-leonard are you able to take on determining why this fails on OpenJ9?

[2021-03-10 20:56] tajila opened #12181 "ValueTypes: Rename IdentityInterface to match RI"
Rename IdentityInterface to match RI

[2021-03-10 21:02] manqingl opened #12182 "The Jdmpview from 8.0.6.26 does not work for system core files from older version."
Looks like some tags (for example J9NonbuilderConstants.J9_ROMCLASS_OPTINFO_RECORD_ATTRIBUTE) are added in later releases

 $ <path>/pap6480sr6fp26-20210216_01-sdk/bin/java -version

java version "1.8.0_281"
Java(TM) SE Runtime Environment (build 8.0.6.26 - pap6480sr6fp26-20210216_01(SR6 FP26))
IBM J9 VM (build 2.9, JRE 1.8.0 AIX ppc64-64-Bit Compressed References 20210216_465732 (JIT enabled, AOT

[2021-03-10 21:03] tajila opened #12183 "ValueTypes: add MH support for VTs"
VTs in field and method signatures are represented as Q types. Currently when performing lookups for VTs the MH code uses L types. This results in NoSuchMethodExceptions. We need to modify the `createMethodDescriptorString` helper in MethodType to check for ValueTypes (isPrimitiveClass()) and if so use the Q signature.

This depends on https://github.com/eclipse/openj9/issues/12185

[2021-03-10 21:03] manqingl commented on #12182
@keithc-ca : FYI

[2021-03-10 21:05] tajila opened #12185 "ValueTypes: Add Class.isPrimitiveClass() API"
Class.isPrimitiveClass, indicates whether a class is a primitive class. (This is distinct from isPrimitive, which indicates whether a Class represents a basic primitive type.)

[2021-03-10 21:12] #12165 closed

[2021-03-10 22:26] JasonFengJ9 opened #12186 "renaissance-fj-kmeans_0_FAILED (Windows) : scala.MatchError: com.ibm.lang.management.internal.ExtendedOperatingSystemMXBeanImpl"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.perf_x86-32_windows/20`
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
02:25:43  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=perf&PLATFORM=x86-32_win

[2021-03-10 23:24] knn-k commented on #12165
Thank you, @jdekonin.

[2021-03-10 23:28] tajila commented on #12141
Okay, we have native tests for j9vm29 in the `/openj9/runtime/tests` folder. We usually add a jni entry point in `openj9/runtime/tests/jni` so you can load `System.LoadLibrary("j9ben")` in java code and call a native in j9vm29 that way. See `openj9/test/functional/Java8andUp/src/j9vm/test/monitor/Helpers.java` for an example.

[2021-03-11 03:11] 0xdaryl opened #12188 "Enable RegDepCopyRemoval on AArch64"
The RegDepCopyRemoval optimization is disabled on AArch64, seemingly because of work needed in the PassThru evaluator.  Given the similarity to Power, investigate and enable on AArch64.

[code]

[2021-03-11 03:12] 0xdaryl commented on #12188
This optimization is only enabled on X and P at the moment.  I'm not sure yet if Z would derive any benefit from this.  @fjeremic

[2021-03-11 03:13] 0xdaryl commented on #5455
Implement `supportsPassThroughCopyToNewVirtualRegister` to enable RegDepCopyRemoval optimization.  AArch64 (#12188)

[2021-03-11 04:33] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/304
sun/misc/URLClassPath/ClassnameCharTest.java
[code]

[2021-03-11 08:41] andrew-m-leonard opened #12189 "aarch64 testJCMMXBeanRemote_SE80_1 hang"
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.functional_aarch64_linux/103/console
Suspicious of the previous test testJCMMXBeanRemote_SE80_0 which failed...did that then cause the testJCMMXBeanRemote_SE80_1 one to hang?
Node: build-alibaba-ubuntu1804-armv8-1
[code]
[code]

[2021-03-11 09:43] andrew-m-leonard opened #12190 "jdk16 aarch64/xLinux: jdk/incubator/vector testcases hang/timeout"
https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.openjdk_aarch64_linux/12/consoleFull
https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.openjdk_x86-64_linux/13/#showFailuresLink
Tests:
[code]
OpenJ9:
[code]
[code]

[2021-03-11 11:16] sxa commented on #12176
It's not specific to OpenJ9 as it shows up [here](https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_extended.openjdk_ppc64_aix/8) too. I presume it's started failing since the 2nd March given that the error seems to be related to a certificate that was revoked on that date.

[2021-03-11 11:30] andrew-m-leonard commented on #12176
Ah, so just re-tried Hotspot and it now fails as well: https://ci.adoptopenjdk.net/job/Grinder/7590/console
Looks like an expired certificate:
[code]

[2021-03-11 11:35] andrew-m-leonard commented on #12176
Raised an openjdk-build issue to investigate Cert validity: https://github.com/AdoptOpenJDK/openjdk-build/issues/2527

[2021-03-11 11:35] #12176 closed

[2021-03-11 12:27] lumpfish commented on #12172
Also occurring on jdk-16+36_openj9-0.26.0-m1:
[code]

[2021-03-11 12:35] andrew-m-leonard commented on #12168
I did a Grinderx20 on AIX today and all passed!
The problem was also seen on Win32 and Win64, i'm waiting to try a Grinder on them as well

[2021-03-11 12:40] andrew-m-leonard commented on #12168
AIX grinder on same node as failed above: https://ci.adoptopenjdk.net/job/Grinder/7593/
Win64 grinder: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.openjdk_x86-64_windows/16/console

[2021-03-11 13:01] andrew-m-leonard commented on #12167
Both on same machine: test-osuosl-aix72-ppc64-1
OpenJ9 re-run: https://ci.adoptopenjdk.net/job/Grinder/7594/
Hotspot re-run: https://ci.adoptopenjdk.net/job/Grinder/7595/

[2021-03-11 13:08] llxia commented on #12075
@OscarQQ Could you take a look at this issue? Thanks

[2021-03-11 13:29] pshipton commented on #12172
`vmState=0x00070000` is the runtime verifier.

[2021-03-11 14:05] pshipton commented on #12177
@andrew-m-leonard similar to https://github.com/eclipse/openj9/issues/12176, does this also fail with Hotspot now?

[2021-03-11 14:08] pshipton commented on #12190
@knn-k fyi

[2021-03-11 14:13] pshipton commented on #12190
In theory we ran all the vector tests here https://github.com/eclipse/openj9/issues/10627#issuecomment-777801473 and they passed. I see a docker containers are used, perhaps the timeouts are related to that.

[2021-03-11 14:15] andrew-m-leonard commented on #12177
Yes last passed on Hotspot: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_extended.openjdk_s390x_linux/16/testReport/sun_security_krb5_auto_rcache_usemd5/sh/rcache_usemd5/
although that was 2 weeks ago, so i've re-submitted again on a hs nightly on the same node as above: https://ci.adoptopenjdk.net/job/Grinder/7597/console

[2021-03-11 14:45] ghadishayban opened #12191 "Non-deterministic NPEs when running Clojure"
Hello kind folks,
I have an interesting issue with OpenJ9 running Clojure. Running Clojure on OpenJ9 throws non-deterministic NPEs, and this appears to be related to the "locals clearing" characteristic of Clojure's bytecode.  Locals clearing is when a reference in a bytecode local variable is set to null using `aconst_null; astore X` before the last usage of that local variable (within a compilat

[2021-03-11 14:54] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/325

[2021-03-11 14:56] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/293/

[2021-03-11 14:59] pshipton commented on #9782
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.functional_x86-64_mac_Nightly_testList_1/34
J9vmTest_0
j9vm.test.arraycopy.MultiThreadedBackwardArrayCopyTest - as in previous comment

[2021-03-11 15:02] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/293
java/lang/Double/ParseHexFloatingPoint.java.ParseHexFloatingPoint
java/lang/Double/ToHexString.java.ToHexString
java/lang/Float/ParseFloat.java.ParseFloat
java/lang/Integer/BitTwiddle.java.BitTwiddle
java/lang/Integer/Unsigned.java.Unsigned
java/lang/invoke/lambda/MetafactoryDescriptorTest.java.MetafactoryDes

[2021-03-11 15:05] fjeremic commented on #12191
Given the intermittency perhaps it is worth running without the JIT. Perhaps we have a bug in the JIT compiler which can introduce such intermittency. You can run without the JIT buy adding `-Xint` to the command line. If you still get an NPE then it rules the JIT out of the picture. If you cannot get the NPE then the result is inconclusive (as the timings have changed).

[2021-03-11 15:17] fjeremic commented on #12191
It is likely JIT then, but not conclusive. What is the reproducibility rate on your hardware? Does it fail 1/10 for example or 1/100, etc.? That will dictate how the investigation should proceed. I'll also try and spin up a VM and see if I can reproduce using your instructions above. That may greatly speed up the investigation.

[2021-03-11 15:37] ghadishayban commented on #12191
0/1000 on -Xint, ~5/21 on JIT

[2021-03-11 15:38] fjeremic commented on #12191
Thanks! So 1/4 roughly. That's fairly good to investigate. I'm going to try and reproduce on a VM now and see if I can get the same reproduction rate.

[2021-03-11 15:56] tajila commented on #11178
I should have read your question more carefully.

So this only matters for flattened types which can only be VTs. VTs cannot have a super type with fields, so when dealing with a VT you always know the full layout and casting doesn't change layout.

This discussion has also reminded me that we need restrictions for flattening volatile fields. Currently, we cannot support anything larger than 64bit

[2021-03-11 15:59] ghadishayban commented on #12191
It's frequent enough that new Clojure users using J9 run into it nearly immediately

[2021-03-11 16:20] pshipton commented on #12191
There are newer builds you chould try to see if the issue is resolved. The Java 15 support cycle is done, replaced with Java 16 shortly.

Java 16 on 0.25.0 m2 https://github.com/AdoptOpenJDK/openjdk16-binaries/releases/tag/jdk-16%2B36_openj9-0.25.0-m2
- this releases next Tues March 16

Java 16 on 0.26.0 m1 https://github.com/AdoptOpenJDK/openjdk16-binaries/releases/tag/jdk-16%2B36_openj9-0.26.0-m

[2021-03-11 16:29] pshipton commented on #12189
Seems like a machine problem, but @knn-k fyi.

[2021-03-11 16:51] sxa commented on #12189
@andrew-m-leonard Can you run a couple of grinders with the individual test (perhaps the hanging one and the previous one you're suspicious of) on the same same, and one other?

[2021-03-11 16:54] sxa commented on #12189
@andrew-m-leonard Job 102 on the "twin" machine from the same provider seemed to pass green.

[2021-03-11 16:56] fengxue-IS commented on #12172
Will look into it this afternoon

[2021-03-11 17:01] hangshao0 commented on #11178
Probably it is more clear with an example :-)

[code]

My understanding is https://github.com/eclipse/openj9/issues/11178#issuecomment-740742174 wants to put all fields (`AWithValues.al, AWithValues.ai, AWithValues.ai2` and `BwithValues.bvl, BwithValues.bvl2, BwithValues.bl, BwithValues.bi, BwithValues.bi2`) at U_64 boundaries so that `copyObjectFields()` can use U_64 load/stores for an object of

[2021-03-11 17:11] fjeremic commented on #12191
I used Peter's second link above and can reproduce an NPE which happens much earlier in the run if I force JIT compilation on one specific method at no optimization:

[code]

It is deterministically reproducible. If I exclude this method we progress but get an NPE in a similar method. Here is the command line dump for reference:

[code]

I've confirmed when we run with `-Xint` we do not throw any

[2021-03-11 17:13] fjeremic commented on #12191
Here are the first couple of stack slots which are all interpreted from the above core dump:

[code]

I guess we would have to figure out what bytecode index 542 in this top method is doing and how it possibly relates to the JIT compiled method. @ghadishayban any ideas on this?

Subscribing @0xdaryl as this could very well be an x86 codegen issue given it reproduces at `lastOptIndex=0,lastOptTrans

[2021-03-11 17:14] VermaSh commented on #11531
So, I was able to reproduce the failure locally but ran into issues with `-Xjit` trace options. The test won't accept
[code]
@Mesbah-Alam suggested it's because of the way STF framework processes those options [1]. We don't have a workaround for it yet. So I'll see if I can use `test/jdk/java/util/Spliterator/SpliteratorTraversingAndSplittingTest.java` to get a trace log.

[1] https://adoptopenjdk

[2021-03-11 17:33] fjeremic opened #12196 "Enable RegDepCopyRemoval on Z"
See #12188. We should investigate whether this is beneficial on Z and enable it if deemed so.

[2021-03-11 17:47] babsingh commented on #11926
**Error**:
[code]

**Trace output:**
[code]

**During ROMClass creation**, `ClassNameMismatch` happens for `Test_MethodHandleInfo$$InjectedInvoker` (Lambda class):
https://github.com/eclipse/openj9/blob/13936a4d3a86c1330b7c34cb82106a72c205a3bd/runtime/bcutil/ROMClassCreationContext.hpp#L430

**OpenJ9 assumes** ... `Lambda class has class name: HostClassName$$Lambda$<IndexNumber>/0x0000000000000000

[2021-03-11 18:11] OussamaSaoudi opened #12197 "ValueTypes: Fix and enable testDefaultValueWithNonValueType in ValueTypeTests"
`testDefaultValueWithNonValueType` has been disabled in PR https://github.com/eclipse/openj9/pull/11560 to allow hotspot to run ValueTypeTests. The test is disabled because the change performed to make it work with hotspot has made it to longer work with OpenJ9.

When `makeValueTypeDefaultValue` is called in the ValueTypeGenerator, it now passes the classname as either an L-type or a Q-type to def

[2021-03-11 18:11] OussamaSaoudi commented on #12197
@tajila

[2021-03-11 18:32] OussamaSaoudi opened #12198 "ValueTypes: Fix and enable testCheckCastValueTypeOnInvalidQtype in ValueTypeTests"
The testCheckCastValueTypeOnInvalidQtype test casts null to a QType class and expects an exception. Hotspot throws a NullPointerException for the test. OpenJ9 throws NoClassDefFoundError.
PR https://github.com/eclipse/openj9/pull/11560 changes the expected exception to NullPointerException and disables the test.
The incorrect exception thrown must be investigated and corrected if need be.

[2021-03-11 18:33] OussamaSaoudi commented on #12198
@tajila

[2021-03-11 18:38] DanHeidinga commented on #11926
Is this problem specific to the OJDK MH's implementation or is it a general problem with our assumptions around names that may no longer hold given the introduction of MHs.Lookup.defineClass?

[2021-03-11 18:50] r30shah commented on #12196
I remember having discussions about this with Andrew last year when working on to fix some issues with this Opt and PostGRA Block splitter. At that time while evaluating, on x86 this optimization gave me `0.3-0.4%` improvement on Liberty-DayTrader with Java8.
One of the potential reason, we are getting something out of this optimization on x86 more is because the less number of Global Registers av

[2021-03-11 18:54] ghadishayban commented on #12191
Bytecode 542 in `clojure/core$refer::invokeStatic` is [this expression](https://github.com/clojure/clojure/blob/57f7c6ea164271d92cec5a12d22043c7029e3de2/src/clj/clojure/core.clj#L4234), which invokes `IFn::invoke(O,O)` with the arguments `nspublics`, a local variable (#4) bound to an instance of a persistent hash map, and `sym` which is apparently stored in local variable #14.

[code]

[2021-03-11 19:04] ghadishayban commented on #12191
tried it on
[code]
same issues.

[2021-03-11 19:10] pshipton opened #12201 "JDK11 promote job failing, ERROR: Must supply COMMIT param"
https://ci.eclipse.org/openj9/job/Promote_OpenJDK/317/console
https://ci.eclipse.org/openj9/job/Promote_OpenJDK/317/rebuild/parameterized
[code]

The last one worked https://ci.eclipse.org/openj9/job/Promote_OpenJDK/311/console
and jdknext worked this morning https://ci.eclipse.org/openj9/job/Promote_OpenJDK/314/console

@jdekonin @AdamBrousseau
I'll promote this one manually.

[2021-03-11 19:28] AdamBrousseau commented on #12201
From the upstream job
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK11-Acceptance/108/console
[code]
https://github.com/eclipse/openj9/blob/13936a4d3a86c1330b7c34cb82106a72c205a3bd/buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy#L482

Further up
[code]
vs previous buld
[code]
Looks like the SHA sniff failed. Likely a 1-off. We should probably retry on the sniff and fail if it fa

[2021-03-11 19:42] fengxue-IS commented on #11928
I will look into this

[2021-03-11 19:43] fengxue-IS commented on #11927
I will look into this

[2021-03-11 19:44] fengxue-IS commented on #11924
I wiil look into this

[2021-03-11 19:45] fengxue-IS commented on #11925
I will look into this

[2021-03-11 19:59] babsingh commented on #11926
Yes, this is OJDK MH specific: https://github.com/openjdk/jdk16/blob/37043b05576c8b81b43ac41a8f06de0d0bbb3f5b/src/java.base/share/classes/java/lang/invoke/MethodHandleImpl.java#L1161.

`$$InjectedInvoker/0x0000000000000000` has been introduced. It shares similar traits to `$$Lambda$<IndexNumber>/0x0000000000000000`.

As per https://mail.openjdk.java.net/pipermail/core-libs-dev/2021-January/073184.

[2021-03-11 20:46] fjeremic commented on #9120
We are almost done here. I've opened #12203 as a final refactoring PR. Once that PR is merged my contribution to this Epic is complete. Thanks to all who followed along!

[2021-03-11 20:55] fjeremic commented on #12191
Do you might have an idea how this relates to `clojure/core$filter_key.invokeStatic` method?

[2021-03-11 21:02] ghadishayban commented on #12191
@fjeremic
`clojure/core$filter_key.invokeStatic` is called on [this line](https://github.com/clojure/clojure/blob/57f7c6ea164271d92cec5a12d22043c7029e3de2/src/clj/clojure/core.clj#L4224) via the function `ns-publics` (note the dash).  The result of that call is bound to `nspublics` (a local variable, note no dash).  When it's bound to the local variable, `filter_key.invokeStatic` should no longer

[2021-03-11 21:13] 0xdaryl commented on #11899
@hzongaro : I know you already have a couple of other potential finalization-related defects on your plate but could you triage this one as well?  It seems to be failing relatively frequently of late.  Thank you.

[2021-03-11 22:13] LongyuZhang commented on #12079
This test `java/io/Serializable/serialFilter/GlobalFilterTest.java` failed with jdk 17 on xlinux, plinux, and windows (zlinux and mac failed at build stage).
The source file shows it [requires `vm.hasJFR`](https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/0830150fa5a267ad410e3040da93f3bdccf82549/test/jdk/java/io/Serializable/serialFilter/GlobalFilterTest.java#L61) to run this test, and the PR

[2021-03-11 22:16] ghadishayban commented on #12191
If I set jit count=0 and compile only reduce1::invokeStatic, it's 100% reproducible
[code]

[2021-03-11 22:24] pshipton commented on #12079
`vm.jfr` should return false for OpenJ9.

[2021-03-11 22:31] ghadishayban commented on #12191
[invokeStatic.trace.5923.1703.20210311.172823.5923.txt](https://github.com/eclipse/openj9/files/6126315/invokeStatic.trace.5923.1703.20210311.172823.5923.txt)

[2021-03-11 23:43] fjeremic commented on #12191
I used @ghadishayban's command above to confirm:

[code]

This generates a javacore, JIT trace log, and system core dump when the exception occurs. Looking at the stackslots of the failed thread we see the following:

[code]

Then mapping the PC to the JIT log we can see:

[code]

The SIGSEGV occurred at offset 1F6 when we dereferenced `r9` which was generated form the following tree:

[code]

It

[2021-03-11 23:46] fjeremic commented on #12191
`block_2` is the entry block. I'm wondering if it supposed to be impossible to execute `block_8` multiple times. That seems to be the only place where we dereference this particular symref.

[code]

[2021-03-11 23:49] 0xdaryl commented on #11886
@BeverlyXu : are there any insights you can share from a compiled code perspective on this problem?  Perhaps start by finding the object that triggered the AIOB and the site where the AIOB was thrown so we can determine if this is a problem with the spine check at that point.

[2021-03-11 23:59] fjeremic commented on #12196
@0xdaryl FYI on above. Not sure if AArch64 has similar issues. It may not be worth the investment if AArch64 falls in the same bucket as Z w.r.t. global register usage.

[2021-03-12 00:30] knn-k commented on #12190
Timeouts observed:
https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.openjdk_aarch64_linux/9 (on build-docker-fedora33-armv8-4)
https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.openjdk_aarch64_linux/10 (on build-docker-ubuntu1804-armv8-5)
https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.openjdk_aarch64_linux/12 (on build-docker-ubuntu1804-armv8-2)

No timeouts with Vec

[2021-03-12 09:15] andrew-m-leonard commented on #12168
AIX grinder showed intermittent 6 failures in 20 runs: https://ci.adoptopenjdk.net/job/Grinder/7593/
@pshipton fyi

[2021-03-12 09:17] andrew-m-leonard commented on #12177
Passes on latest Hotspot nightly: https://ci.adoptopenjdk.net/job/Grinder/7597/
@pshipton fyi

[2021-03-12 09:24] andrew-m-leonard commented on #12189
Both tests on build-alibaba-ubuntu1804-armv8-1: https://ci.adoptopenjdk.net/job/Grinder/7632/console
Both tests on build-docker-ubuntu1804-armv8-3: https://ci.adoptopenjdk.net/job/Grinder/7633/console

[2021-03-12 09:35] andrew-m-leonard commented on #12190
@smlambert @knn-k Possibly "Docker" provisioned node related?

[2021-03-12 10:20] amicic opened #12205 "Evacuate/Mark separation inconsistency"
Good (Evacuate and Mark regions reported)
[code]
Bad (Evacuate and Mark regions NOT reported, but we do have tracing activity)
[code]

[2021-03-12 10:24] amicic commented on #12205
@LinHu2016 or @bragaigor  A low priority item to look at.

[2021-03-12 11:23] andrew-m-leonard commented on #12190
@sxa fyi Docker related maybe...

[2021-03-12 11:27] andrew-m-leonard commented on #12167
Re-run x20 Grinder openj9: https://ci.adoptopenjdk.net/job/Grinder/7634/

[2021-03-12 11:46] sxa commented on #12190
Unlikely this was OpenJ9 specific as it would have been impacted by the misdetection of machine size which was merged on Wednesday (before those three failures occurred) and, unless the difference in performance characteristics made it specific to OpenJ9 it would show up on Hotspot too.

I'm running again at https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.openjdk_aarch64_linux/16/consol

[2021-03-12 14:02] bragaigor commented on #12205
It looks like the above situation is only possible if copy forward was aborted and `_nonEvacuateRegionCount` is equal to zero:
[code]

Should we also report Evacuate and Mark regions in this case or should we not report `memory-traced`?
Or we could move the update of `_nonEvacuateRegionCount` to a bit earlier, because that happens only at the very end of `postProcessRegions()` which is before we r

[2021-03-12 14:12] knn-k commented on #12190
Please also note that x86-64 Linux has seen similar timeouts as mentioned in the issue title.  This is not AArch64-specific.

Timeouts observed:
https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.openjdk_x86-64_linux/13/ (on test-docker-fedora33-x64-2)
https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.openjdk_x86-64_linux/12/ (on test-docker-ubuntu2004-x64-1)

No timeouts with Vec

[2021-03-12 14:21] DanHeidinga commented on #11926
The reason I ask if its a general problem - rather than a MH specific one - is the line of code just a little further in that file that uses `Lookup().....defineClass()` to define the class:
https://github.com/openjdk/jdk16/blob/37043b05576c8b81b43ac41a8f06de0d0bbb3f5b/src/java.base/share/classes/java/lang/invoke/MethodHandleImpl.java#L1167

So I'll ask again, will this affect other users of the L

[2021-03-12 14:23] andrew-m-leonard commented on #12189
Tried just testJCMMXBeanRemote_SE80_1 on its own and still hangs on build-alibaba-ubuntu1804-armv8-1: https://ci.adoptopenjdk.net/job/Grinder/7650/consoleFull

[2021-03-12 14:24] andrew-m-leonard commented on #12189
@sxa looking like an issue on build-alibaba-ubuntu1804-armv8-1

[2021-03-12 14:24] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_1/257
testDDRExtJunit_MonitorsAndDeadlock5_0
[code]

[2021-03-12 14:31] pshipton commented on #12190
It could be OpenJ9 specific because the Vector API hasn't been fully optimized for OpenJ9 yet (still WIP) and I expect it runs slower on OpenJ9 than Hotspot.

[2021-03-12 14:41] dmitripivkine opened #12206 "Extended testing for GC Verbose log"
We need to investigate how we can improve testing of different aspects related with GC Verbose log (creation process, content etc.). There is one known case we should cover: test for creation of multiple GC Verbose logs while command line option contain `%` characters (`%s` combination to be precise).

[2021-03-12 14:50] dmitripivkine commented on #12206
I think we should start with review of existing GC Verbose log testing. Once reviewed we can decide do we need to introduce a new test or improve existing ones. Also we need to figure out what extra testing needs to be introduced to improve coverage.

@gza060625 @RSalman
@amicic FYI

[2021-03-12 15:05] pshipton opened #12207 "AIX (and Linux) crashes with -Xint on 0.24 but not 0.21"
See https://github.com/AdoptOpenJDK/openjdk-support/issues/279

[2021-03-12 15:11] #11771 closed

[2021-03-12 15:17] liqunl commented on #9120
I wonder if you can add a change to turn on `TR_DebugInliner` when the crash is in inliner? Or could you point me where to set this option? A lot of inlining traces are guarded by `TR_DebugInliner` and they're not printed in a jitdump.

[2021-03-12 15:23] pshipton commented on #12168
Pls try another grinder with `-Xint`

[2021-03-12 15:26] pshipton commented on #12177
An intermittent failure? Pls grind it to get a failure rate. Has it been seen on any other platforms besides zlinux? Pls try a grinder with `-Xint` as well.

[2021-03-12 15:38] fjeremic commented on #9120
Implemented in #12208.

[2021-03-12 16:03] hangshao0 commented on #11178
OK. I realize when you say "class" in https://github.com/eclipse/openj9/issues/11178#issuecomment-740742174, you mean "VT class".

[2021-03-12 16:12] pshipton commented on #11868
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.system_x86-64_mac_Nightly_testList_1/35
MiniMix_5m_1
variation: Mode650
JVM_OPTIONS:  -XX:-UseCompressedOops

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk16_j9_extended.system_x86-64_mac_Nightly_testList_1/35/system_test_output.tar.gz
[code]

[2021-03-12 16:12] andrew-m-leonard commented on #12167
Same hang on GA jdk-16+36 build on Windows64: https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.openjdk_x86-64_windows/12/consoleFull
@pshipton fyi

[2021-03-12 16:22] babsingh commented on #11926
The two public `Lookup` methods for creating hidden classes do not allow class names to be specified: [Lookup.defineHiddenClass](https://download.java.net/java/early_access/jdk16/docs/api/java.base/java/lang/invoke/MethodHandles.Lookup.html#defineHiddenClass(byte%5B%5D,boolean,java.lang.invoke.MethodHandles.Lookup.ClassOption...)) and [Lookup.defineHiddenClassWithClassData](https://download.java.n

[2021-03-12 16:24] AlexeyKhrabrov commented on #12153
Here is a description of the JITServer AOT cache design.

When the server performs an AOT compilation for a client JVM, it stores the resulting AOT method body in its AOT cache. The server doesn't have its own SCC, and cached AOT methods is detached from the clients' SCCs that were used to compile them. A cached AOT method body is stored on the server as is, but for each SCC offset in its relocati

[2021-03-12 16:24] AlexeyKhrabrov commented on #12153
@dsouzai FYI

[2021-03-12 16:26] LinHu2016 commented on #12205
@amicic it was designed on purpose, we only report 'evacuated="xx" marked="xx" '  in case we schedule some regions in collection set to be marked instead of copyforwarded( such as jni critical regions or estimate the shortage of free memory for survivor, it is not trying to report marked regions due to abort case. should we also report 'evacuated="xx" marked="xx"' for abort case?

[code]

[2021-03-12 16:30] rmnattas commented on #12061
Is there a way that I can reproduce the issue? The state when it crashed with the command line to run or some kind of some jvmtiGen mimic/test.

[2021-03-12 16:35] amicic commented on #12205
Sort of expected this explanation. I'm fine with as-is - at least we understand the behavior better, now.

[2021-03-12 16:36] #12205 closed

[2021-03-12 16:37] LinHu2016 commented on #12205
for abort case, the marked regions could be partial evacuated and partial marked or fully marked, nonEvacuateRegion is always  fully marked.

[2021-03-12 16:44] amicic commented on #12205
However, the resize line seems redundant (yes, we expectedly tried to expand to avoid abort, but if it failed, we should probably not report it).

[2021-03-12 16:47] LinHu2016 commented on #12205
yes, we should not report expend if the expend failed, I will check it later.

[2021-03-12 16:47] amicic commented on #12205
Igor, we definitely want to report traced. But I'm fine with compromising on reporting those regions, that could be both marked and evacuated as only evacuated. We could have a third group (evacuated&marked), but I don't care for that level of details in VGC.

[2021-03-12 16:50] amicic commented on #12205
But let me ask, can we quickly tell if region had marked objects even though it was planned to be evacuated?

[2021-03-12 17:00] RSalman commented on #12206
Sounds good, we'll start looking into this in the coming week.

[2021-03-12 18:08] pshipton commented on #9416
I found a failure in an internal build. No diagnostic files though.
job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9-IBM/7
[code]

[2021-03-12 19:50] hangshao0 commented on #9416
The only possible cases that `findSharedData()` could return 0 for classChian are:
1. Failed to startup the ByteDataManager.
https://github.com/eclipse/openj9/blob/269003cc717d8fb7191426c71bcbafa86b296c15/runtime/shared_common/CacheMap.cpp#L4050-L4052

   As the first time classChain is found, it is already started up. Won't be caused by this.

2. Lockhash Table failed:
https://github.com/eclipse/

[2021-03-12 20:02] fjeremic commented on #12191
Still fails even with disabling typical suspect things:

[code]

I'm not really sure how to proceed here. Given the above analysis there exists a path through which we can get the observed NPE, but the fact that it only happens when we JIT compile this one method is troublesome. There must be something wrong happening.

@0xdaryl / @liqunl any ideas on how to proceed for this one? We basically have

[2021-03-12 20:22] hangshao0 commented on #9416
The documentation of `j9shr_findSharedData()` is:
https://github.com/eclipse/openj9/blob/269003cc717d8fb7191426c71bcbafa86b296c15/runtime/shared_common/shrinit.cpp#L1792-L1795

It won't be able to return the record in an error case.

[2021-03-12 20:28] dsouzai commented on #9416
@0xdaryl @Leonardo2718 I think the assert should just be removed:

1. In AOT it's possible to get different values based on the semantics of the `findSharedData` API.
2. HCR means that even without AOT, it's possible to get different values (specifically non-NULL one time and NULL every time after) if classes get redefined; because J9Classes are redefined in place, we can end up with a different J

[2021-03-12 20:39] tajila commented on #11178
Yes, this is correct.

In this case we are not worried because `BwithValues` will never be flattened. So there is no risk of tearing this type since it will never be written atomically. Every field in this type is written individually, so as long as the field types ( ValueLong, ValueInt, etc.) themselves follow the rules the container type (AwithValues, BwithValues) will be fine.

Yes, the risk is

[2021-03-12 20:54] liqunl commented on #12191
Will look at the trace log and reproduce on my vm

[2021-03-12 20:57] RSalman commented on #12206
A possibility is to take a similar approach to what we do sometimes for CS testing, force enable CS and run full Test Suite. This will translate to forcing verbose GC for the test suite, this will stress all the different  verbose gc components. Something like this would of catched the cmd line options crash.

[2021-03-12 20:59] dsouzai commented on #12153
Thanks for the design description @AlexeyKhrabrov; I thought there might be a way we didn't need another table, but it turns out that approach would lead to functional issues in AOT. Your approach looks functionally correct.

[2021-03-12 21:01] RSalman commented on #12206
The force enabling/hard setting approach isn't something that's automated, it's only done during dev and isn't typical of the test suite (as far as I know). I'm also not sure if how feasible it is to have logs created for each test run, I don't think it should be an issue.

[2021-03-12 21:36] DanHeidinga commented on #11926
Thanks for confirming that.  It makes the suggested approach in https://github.com/eclipse/openj9/issues/11926#issuecomment-797009887 sound like the right way to go.

[2021-03-12 22:01] ghadishayban commented on #12191
@liqunl @fjeremic

Hi, I have created a far simpler reproduction case that takes Clojure out of the picture -- just a class generated with ASM.

Should I add the class to the issue, or the output of the trace, or the ASM code that generated the class?

[2021-03-12 22:05] ghadishayban commented on #12191
[Here is the trace of calling this synthesized bad method directly](https://github.com/eclipse/openj9/files/6133207/badness.trace.26122.86275.20210312.165755.26122.txt)

[code]

results in an NPE:
[code]

Bytecode for the offending method:
[code]

[2021-03-12 22:09] liqunl commented on #12191
@ghadishayban Thanks. Could you upload the class file?

[2021-03-12 22:15] ghadishayban commented on #12191
Github didn't accept the class file, delivered them in slack.

The script to create the BadJump.class needs dependencies:
[code]

Here is the script:
[code]

compile and run it and it creates BadJump.class

...to which you can link this Runner class:

[code]

...which if you compile and run with
[code]

...results in an NPE and a trace.

[2021-03-13 01:16] liqunl commented on #12191
Sorry it turned out to be my code. I've opened #12213 to revert the problematic change. @pshipton The bug was introduced last September, do I need to do double delivery?

[2021-03-13 21:02] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/312/

[2021-03-13 21:02] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_windows_Nightly/35/

[2021-03-13 21:26] pshipton commented on #11430
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/306

[2021-03-13 21:51] pshipton opened #12214 "DaaLoadTest CS ArrayStoreException"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64_aix_Release/56
DaaLoadTest_all_CS_5m_0
[code]

[2021-03-13 21:54] pshipton commented on #12214
@amicic @bragaigor not sure if this is a GC problem? I'll run some GCs later to see if it can be recreated.
Note the failure is in the v0.26.0-release branch.

[2021-03-13 21:58] pshipton commented on #12191
@liqunl pls create a PR for the v0.26.0-release branch as well. We may want to update the IBM 21_02 release branch as well if this affects Java 8.

[2021-03-14 02:41] ghadishayban commented on #12191
I tested the proposed patch with OpenJ9 16 + Clojure: seems to be resolved.

Thanks everyone for diagnosing this tricky bug!

[2021-03-14 09:39] knn-k commented on #12143
I opened #12215 for this.

[2021-03-15 07:05] knn-k commented on #12063
This can be closed.

[2021-03-15 07:09] knn-k commented on #12142
I did some experiments with `USE_COMPUTED_GOTO` on AArch64 before.
It improved the scores of some benchmarks in `-Xint` mode by more than 10%, while some other benchmarks degraded by more than 10%.

[2021-03-15 11:23] andrew-m-leonard opened #12216 "jdk16+36: java/lang/ProcessBuilder/Basic.java fails due to no OOM condition"
Issue https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/2024 highlights a failure for jdk-16+36 on certain machines that have large memory, where the testcase java/lang/ProcessBuilder/Basic.java fails to OOM. The scenario is specific to a Hotspot issue (https://bugs.openjdk.java.net/browse/JDK-6850957). So maybe not relevant to j9? the code is already patched, maybe it needs disabling

[2021-03-15 12:51] JasonFengJ9 commented on #12177
Also seen in an internal build `Test_openjdk8_j9_extended.openjdk_s390x_linux/3`
[code]

[2021-03-15 13:06] lumpfish opened #12217 "jdk16 aarch64 crash running cmdLineTester_decompilationTests_0"
cmdLineTester_decompilationTests_0 failed running on the jdk-16_openj9-0.25.0 build:
[code]
cmdLineTester_decompilationTests_1 (non-compressed refs) also failed in the same way.

Link to failing job: https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_sanity.functional_aarch64_linux/46/

Output from failing test:
[code]

[2021-03-15 13:09] pshipton commented on #12217
@knn-k fyi

[2021-03-15 13:11] JasonFengJ9 opened #12218 "JDK11 jdk_security_infra_0_FAILED : unexpected status of EE certificate"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.openjdk_ppc64_aix/3`
[code]
rebuild the failed tests in one link:
08:36:08  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=openjdk&PLATFORM=ppc64_aix_mixed&TARGET=testList%20TESTLIST=jdk_security_infra_0,jdk_security_infra_1

Optional

[2021-03-15 13:17] JasonFengJ9 opened #12219 "JDK8/11 : renaissance StackOverflowError"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.perf_ppc64_aix/3`:
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
02:27:25  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=perf&PLATFORM=ppc64_aix_m