[2021-01-22 18:27] gacholio commented on #11752
So that brings up the next questions:

5) What instructions are to be used to save/restore?

6) What are the C ABIs wrt vector registers and will the VM be required to save some on entry to the interpreter (given that the JIT will preserve none of them)? Does it matter where they are saved (i.e. are there specific places in the C stack frame that the ABI requires)?

[2021-01-22 18:31] zl-wang commented on #11752
There are 64 VSRs, each is currently 16 bytes, and no strict alignment required but, of course, preferring 16 alignment for performance and easier access purposes.

Yes, FPRs overlap with upper-left quarter of VSRs.  i.e. fpr0 overlapping with the top-half of vsr0, fpr1 with the top-half of vsr1, so on so forth.   VMX/Altivec VRs (32 of them) overlap with the last portion of VSRs, i.e.  v0 overlap

[2021-01-22 18:38] gacholio commented on #11752
Interface lookup is also at a method invocation point, so I believe there could be no live VRs at that point. It's probably not difficult to split the helpers into those that require VR treatment and those that don't.

[2021-01-22 18:44] pshipton commented on #11739
This problem is caused by running the wrong test material. It's running the head stream tests against a 0.24.0 release build.

[2021-01-22 18:44] #11739 closed

[2021-01-22 18:46] #11740 closed

[2021-01-22 18:50] zl-wang commented on #11752
lxvd2x or lxvw4x can be used to restore all of them, while corresponding stxvd2x or stxvw4x can be used to save all of them.

No.  power7 needs to be specified to have those assembly instructions.   such as, . machine   power7  pseudo op  or something like that.

vsr52 - vsr63 are preserved in the ABI.  Entering interpreter (from JIT) doesn't need to save/restore VSRs just like FPRs. For C stack u

[2021-01-22 18:51] zl-wang commented on #11752
That would be good to do.

[2021-01-22 18:59] zl-wang commented on #11752
starting POWER10, there are better instructions to save/restore them (immediate offset form, instead of index form), but it is a long shot in the future for us to drop POWER7/POWER8/POWER9.

[2021-01-22 19:11] hzongaro commented on #11729
I had promised some examples of the IL that's generated for `withfield`.

Consider the following pseudo-code.  `Point` is a value type class with two fields of type `double`, and `Line` is a value type class with two fields of type `Point`.  Some method `sub` applies a `withfield` operation to the value of type `Line`, which results in another value of type `Line` with the same value for the `p2`

[2021-01-22 19:16] zl-wang commented on #11752
<img width="426" alt="image" src="https://user-images.githubusercontent.com/22380239/105535111-6d29e000-5cbc-11eb-84eb-ff8d108b8326.png">

[2021-01-22 19:19] zl-wang commented on #11752
The preserved VR/VSR(s) are saved next (lower address) to the preserved GPRs ... as shown above.

[2021-01-22 19:24] tajila commented on #11538
Yes the VM code is correct.

Pretty much, https://github.com/eclipse/openj9/blob/master/runtime/sunvmi/sunvmi.c#L257

[2021-01-22 19:33] gacholio commented on #11538
OK, give me the native class/name/signature and I'll put something together.

[2021-01-22 19:50] tajila commented on #11538
`jint JNICALL Java_jdk_internal_reflect_Reflection_getClassAccessFlags(JNIEnv *env, jclass unused, jclass cls)`

[2021-01-22 19:56] tajila commented on #11538
The java8 version is `jint JNICALL Java_sun_reflect_Reflection_getClassAccessFlags(JNIEnv *env, jclass unused, jclass cls)`

[2021-01-22 19:57] gacholio commented on #11538
The jdk internal one is for 11+ ?

[2021-01-22 19:59] tajila commented on #11538
Yes

[2021-01-22 20:25] #11683 closed

[2021-01-22 20:54] gacholio commented on #11538
Is the native method static?

[2021-01-22 21:02] #11743 closed

[2021-01-22 21:17] gacholio commented on #11538
The native code as it stands is doing a NULL check on the parameter - if the java code is already doing this, we could remove it.

[2021-01-22 21:55] gacholio commented on #11725
@0xdaryl

[2021-01-22 22:06] ChengJin01 commented on #11685
The issue should be closed as the fix at #11753 was merged.

[2021-01-22 22:06] ChengJin01 commented on #11684
The issue should be closed as the fix at #11753 was merged.

[2021-01-22 22:07] #11684 closed

[2021-01-22 22:07] #11685 closed

[2021-01-23 02:03] #11329 closed

[2021-01-23 03:20] #11616 closed

[2021-01-23 11:57] vijaysun-omr commented on #11729
That is a very interesting example @hzongaro with the withfield bytecode.

For the "not flattended" case my initial thought is to allow a resolve check above the newvalue opcode (since the newvalue opcode is a recent addition to the IL I expect us to have the freedom to define these kinds of IL shape/relationship properties still without worrying too greatly about making it work with existing code

[2021-01-23 21:15] gacholio commented on #11538
I've got this working - it appears the JIT already does its own inlining for the method so the fast JNI is never called. I'm tempted to remove the implementation.

@tajila @0xdaryl Any reason to include the fast JNI version?

[2021-01-24 04:51] #11742 closed

[2021-01-24 05:35] sirinath opened #11756 "Remove Performance Disparity with OpenJDK and GraalVM"
According to the benchmarks used in [GraalVM 20.1, OpenJ9 0.20, OpenJDK Java Benchmarks](https://www.phoronix.com/scan.php?page=article&item=graalvm201-openj920-jvm&num=1) OpenJ9 is falling behind in every benchmark.

Can the performance disparity with OpenJDK and GraalVM tracked and eliminate to outperform both them.

[2021-01-24 21:29] Unpublished opened #11757 "RuntimeMXBeanImpl.getInputArguments doesn't match hotspot"
Java -version output
--------------------

[code]

Summary of problem
------------------

Steps to reproduce:
1. Download https://github.com/Unpublished/OpenJ9_getInputArguments
2. Execute `./gradlew jar && java -jar build/libs/*.jar`

Output with OpenJ9:
[code]

Output with Hotspot:
[code]

A demo repo can be found here:
https://github.com/Unpublished/OpenJ9_getInputArguments/actions/runs/5079224

[2021-01-25 04:05] sirinath commented on #59
What would be needed to support Graal / JVMCI on OpenJ9 is to replace the HotSpot specific API within Graal (http://lafo.ssw.uni-linz.ac.at/javadoc/graalvm/all/index.html?jdk/internal/jvmci/hotspot/package-summary.html) with OpenJ9 specific API.

Maybe some generalisation of the code also can be done and up-streamed so Graal / JVMCI on OpenJ9 would be more maintainable.

[2021-01-25 11:35] manqingl commented on #11205
First of all, we have received at least 5 valid system core files, all of them were crashes from the exact same spot and in the same pattern.

Here is the analysis I have got so  far (core.20210119.110904.1.0001.dmp):
`

Failing Thread: !j9vmthread 0xf77300
Failing Thread ID: 0x72 (114)
gpInfo:
J9Generic_Signal_Number=00000018 Signal_Number=0000000b Error_Value=00000000 Signal_Code=00000001
Handle

[2021-01-25 11:36] manqingl commented on #11205
First of all, we have received at least 5 valid system core files, all of them were crashes from the exact same spot and in the same pattern.

Here is the analysis I have got so  far (core.20210119.110904.1.0001.dmp):

Failing Thread: !j9vmthread 0xf77300
Failing Thread ID: 0x72 (114)
gpInfo:
J9Generic_Signal_Number=00000018 Signal_Number=0000000b Error_Value=00000000 Signal_Code=00000001
Handler1

[2021-01-25 12:50] pshipton commented on #10834
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-32_windows_OMR/819/console

[2021-01-25 13:07] pshipton opened #11758 "StringCoding.Result removed from OpenJDK 17, builds broken"
[code]

[2021-01-25 13:09] pshipton commented on #11756
@vijaysun-omr fyi

[2021-01-25 13:22] pshipton commented on #11757
Since OpenJ9 currently includes VM generated arguments.

[2021-01-25 13:24] sirinath opened #11759 "Support for JVMCI / GraalVM"
With produces using JVMCI / GraalVM API to ensure portability is it possible to reconsider and add JVMCI / GraalVM support.

What would be needed to support Graal / JVMCI on OpenJ9 is to replace the HotSpot specific API within [Graal](http://lafo.ssw.uni-linz.ac.at/javadoc/graalvm/all/index.html?jdk/internal/jvmci/hotspot/package-summary.html) with OpenJ9 specific API.

Maybe some generalisation o

[2021-01-25 13:30] JasonFengJ9 commented on #11758
Will have a look

[2021-01-25 13:49] JasonFengJ9 opened #11760 "JDK16 java/foreign/TestNative.java - UnsatisfiedLinkError: jdk/internal/foreign/abi/ProgrammableInvoker.registerNatives()V"
Failure link
------------

From an internal build `openjdk16-pipeline #3/jdk16-linux-x64-openj9 #1/Test_openjdk16_j9_sanity.openjdk_x86-64_linux #1/jdk_foreign_native_0`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
11:26:53  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JD

[2021-01-25 14:20] tajila commented on #11538
I see no reason to include the fastJNI version

[2021-01-25 17:51] dnakamura commented on #7995
My changes can be seen here https://github.com/dnakamura/openj9/tree/rdynamic_test . By default the vm is still built without the `-rdynamic` flag but it can be enabled by adding `-DJ9VM_USE_RDYNAMIC=ON` to `EXTRA_CMAKE_OPTIONS`

[2021-01-25 18:06] ninja- commented on #7995
thanks. I already have some good scripts to compile from source to production so I might try your branch next month :) but still, I think we should just ship it and enable by default.

[2021-01-25 18:13] dmitripivkine commented on #11602
Hi @srinayak666,

As you can see the difference between OSX and Windows builds is much smaller with aligned options. There are more external factors in environment (number of CPUs or CPU performance for example) which make memory usage different. So eventually with all factors aligned you might get comparable results (with quite large deviation however related with highly dynamic heap expansion/co

[2021-01-25 18:36] 0xdaryl commented on #11538
I think that method will likely be trivially inlined (probably highly likely in fact), but I'm not an expert on the inliner yet to be convinced that it is guaranteed to happen in most common circumstances.

@liqunl : can you offer your opinion on whether the `getClassAccessFlags` will always be inlined (in the normal course of events, as opposed to disabling inlining via a debug option):

https://

[2021-01-25 18:44] pshipton opened #11763 "win2012-x86-4 needs a reboot"
Testing hung on this machine.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_windows_Personal_testList_0/2/console

Machine is disabled.

@jdekonin

[2021-01-25 18:50] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_xl_Nightly/46

[2021-01-25 18:52] pshipton commented on #8493
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64le_linux_Nightly_testList_1/47
[code]

[2021-01-25 18:55] pshipton commented on #10158
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/301/
[code]

[2021-01-25 18:58] sharon-wang opened #11764 "Create CMake function to clean up declaring regular/full libraries for mixed builds"
Proposed in https://github.com/eclipse/openj9/pull/11662#discussion_r563879944.

For several libraries (those split into regular/compressed and full for mixed references builds), there exists a pattern to declare one (regular lib) or two versions (regular/compressed and full) of the library depending on `OMR_MIXED_REFERENCES_MODE_STATIC`.

Since this pattern exists in many CMake files, it would be

[2021-01-25 19:05] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal_testList_0/8/
LambdaLoadTest_OpenJ9_NonLinux_special_24

[2021-01-25 19:24] pshipton commented on #7995
Creating some Linux builds with https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-Personal/14/
and without https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-Personal/13
the `-rdynamic` option.

[2021-01-25 19:44] fjeremic opened #11765 "TR_ASSERT_FATAL uses abort() to terminate the program but SIGABRT cannot be caught via j9sig_protect"
The fatal assert API within the JIT compiler, after printing a message uses `abort()` to send the `SIGABRT` signal and terminate the process eventually [1]. This is problematic for scenarios such as the JitDump generation mechanism because it appears we can only register one global `SIGABRT` handler:

https://github.com/eclipse/openj9/blob/6485d7550c994521c5ba78744d5530b78986d9a9/runtime/rasdump/d

[2021-01-25 19:49] fjeremic commented on #11765
@gacholio could you confirm that there is no way for us to catch `SIGABRT` via a custom handler function when calling `j9sig_protect`? I tried to add `J9PORT_SIG_FLAG_SIGABRT` to the flags here:
https://github.com/eclipse/openj9/blob/6485d7550c994521c5ba78744d5530b78986d9a9/runtime/compiler/control/CompilationThread.cpp#L7834-L7862

So that I could try to catch the signal during JitDump and handle

[2021-01-25 20:04] pshipton commented on #11760
FYI https://github.com/eclipse/openj9/issues/11724. This seems like an internal build setup problem.

[2021-01-25 20:10] sharon-wang opened #11768 "Remove usage of default directory for mixed refs builds"
In a regular build, sources are generated into the `default` directory for non-compressed refs build and the `compressedrefs` directory for a compressed refs build.

In mixed builds, we currently generate the sources/libs into the `default` directory. However, it's not actually necessary for a directory to be used at all for a mixed build, since sources/libraries don't need to be kept separate. So

[2021-01-25 20:17] fjeremic opened #11770 "j9jni_deleteLocalRef assumes we have VM access but we may not have it if the compilation crashes"
During the compilation thread entry process loop if we are about to execute a compilation we pin the `J9Class` containing the method to be compiled to prevent the GC from unloading this class while we complete the compile request. We do this via a call to `j9jni_createLocalRef `:
https://github.com/eclipse/openj9/blob/6485d7550c994521c5ba78744d5530b78986d9a9/runtime/compiler/control/CompilationThr

[2021-01-25 20:19] fjeremic commented on #11770
The fix here is following the call to `compile` to check if we are a diagnostic thread/if the compilation request was for a JitDump method, and if so we must check if we have VM access and re-acquire it if we do not have it.

[2021-01-25 20:20] tajila opened #11771 "ValueTypes: GC class slot iterator doesnt scan flattenable field classes"
The existing GC_ClassIteratorClassSlots doesn't scan the J9Classes in the flattened field cache (FCC). A class in the FCC may not necessarily belong to the same classloader (this will be possible with specialized generics) as the container classes. However the class in the FCC cannot be unloaded until the container class is unloaded as the existence of the container class implies that the FCC clas

[2021-01-25 20:21] tajila commented on #11771
@dmitripivkine

[2021-01-25 20:27] liqunl commented on #11538
Yes, it should always be inlined unless `TR_DisableInliningOfNatives` is set

[2021-01-25 20:31] JasonFengJ9 commented on #11760
#11724 was the initial error.
This `jdk/internal/foreign/abi/ProgrammableInvoker.registerNatives()V` is related to `Foreign Linker API`.
@tajila mentioned that OpenJ9 might take different approach and not require this native and its friends within `jdk/internal/foreign/abi/ProgrammableInvoker`.
I create this issue to track this `java/foreign/TestNative.java` error until OpenJ9 has its own implemen

[2021-01-25 20:31] fjeremic opened #11772 "Only the diagnostic threads should be executing JitDump compilations"
The original design behind the diagnostic compilation thread was to have a by default suspended compilation thread which will only get activated when the JitDump process is triggered. The idea is that the "normal" compilation threads may not be in the correct state to start compiling, because we have just encountered an error. The diagnostic compilation thread has just been sitting and waiting for

[2021-01-25 20:46] dmitripivkine commented on #11771
May I have more precise details what exactly should be scanned? Where is reference to FCC? What is a way to iterate FCC? etc

[2021-01-25 20:51] 0xdaryl commented on #11538
Thanks @liqunl.  It doesn't seem like the JIT needs the fast version then.  In the rare event inlining is disable we'll just take the slow path out.

[2021-01-25 21:11] tajila commented on #11771
In J9Class (https://github.com/eclipse/openj9/blob/master/runtime/oti/j9nonbuilder.h#L3074) there is a field called `flattenedClassCache` https://github.com/eclipse/openj9/blob/master/runtime/oti/j9nonbuilder.h#L1744. Each entry contains a J9Class pointer.

We have macros to iterate items in the FCC (ie. `J9_VM_FCC_CLASS_FROM_ENTRY(..), etc.`. All classes that may contain fields (ie. not arrays or

[2021-01-25 21:14] fjeremic commented on #11772
The first thing we will notice is that in the jidump the `<logRecompilation>` block is empty modulo this one message (which I'm still trying to understand how and why it is printed; any help is appreciated):

[code]

The reason for this will become clear once we examine the verbose log. Opening that up we see the following:

[code]

`compThreadID=3` picked up the original compilation for our compi

[2021-01-25 21:28] fjeremic commented on #11772
In my mind the solution to this problem seems to be the following:

- Change the logic for setting options for JitDump compiles to check for the method details, i.e. query the `isJitDumpMethod()` API, rather than query whether the thread is a diagnostic thread
  - This will ensure `<logRecompilation>` always provides tracing
- Change the compilation queue processing logic so that the diagnostic th

[2021-01-25 21:28] fjeremic commented on #11772
I also explored the idea of attempting to suspend all "normal" compilation threads right in the JitDump logic, and waiting for that to happen. I used the following code:

[code]

Unfortunately this will not work. The reason because it is not a good idea to stop/suspend compilation threads in the JitDump logic and wait until they are all stopped/suspended before proceeding with the JitDump logic is

[2021-01-25 21:37] fjeremic commented on #9120
Getting back to this work in the last few days as I'm trying to polish this off given we are so close to completing everything. I started back looking at #9522 and that problem is mostly fixed, but during my stress testing around that area I discovered several issues which I've documented in #11765, #11770, and #11772. I have a firm understanding of the various problems now and I have solutions fo

[2021-01-25 21:41] pshipton commented on #11724
The ClassCastException is resolved, https://github.com/eclipse/openj9/issues/11760 occurs instead now.

[2021-01-25 21:41] #11724 closed

[2021-01-25 21:46] pshipton commented on #7995
@mpirvu the builds in the previous comment are ready for you.

[2021-01-25 22:10] sharon-wang opened #11774 "Fix StackFrame stack trace output"
When a `StackTraceElement` constructed by `StackFrame.toStackTraceElement()` is printed, the output should conditionally contain the classloader name and module version. This behaviour should match the changes introduced in #11601 for `Throwable`.

Fixing this problem was explored in #11601, but was deferred to a future PR since more investigation is needed. Access to the StackFrame's declaring cl

[2021-01-25 22:13] JasonFengJ9 commented on #10929
An occurrence at an internal build `Test_openjdk8_j9_sanity.openjdk_x86-64_mac/14`:
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
00:09:44  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=openjdk&PLATFORM=x86-64_mac&TARGET=jdk_

[2021-01-25 22:19] dsouzai commented on #11772
Yeah I think this is the best way of going about it; it's probably the simplest solution too.

[2021-01-25 22:31] JasonFengJ9 opened #11775 "JDK11 ppc64le_linux - testSoftMxUserScenario_2_FAILED"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.functional_ppc64le_linux/9`:
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
01:56:47  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=functional&PLAT

[2021-01-25 22:45] dmitripivkine commented on #11771
Unfortunately update of `GC_ClassIteratorClassSlots` is not enough. There is number of places where discovering class pointers from class is implemented manually, for example `MM_MarkingDelegate::scanClass()`

[2021-01-25 22:48] pshipton commented on #11775
Is this repeatable, on the same machine or otherwise? The test output isn't helpful for determining what is wrong. We should modify the test to at least print new_Xmx_value, new_softmx_value , and the exit value of the process when it fails.

[2021-01-25 22:59] dmitripivkine commented on #11771
Actually `MM_MarkingDelegate::scanClass()` is an only place does not use `MM_MarkingDelegate::scanClass()`... May be it is time to update this code to use iterator as well

[2021-01-25 23:06] JasonFengJ9 commented on #11775
From test history, this is the first time in past 9 runs. Will see if this is going to happen again later.

[2021-01-25 23:20] pshipton commented on #11763
Now is getting "Cannot delete workspace" so it likely needs a reboot as well. @jdekonin
Disabled it.
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Personal/1061/console

[2021-01-25 23:43] mpirvu commented on #7995
I ran two Liberty start-up benchmarks, AcmeAir on an ivybridge machine and DT7 on a skylake machine and found no footprint difference between the two builds provided by @pshipton. Hence, we should enable the -rdynamic option, at least on x86-64.

[2021-01-25 23:47] jdekonin commented on #11763
I was able to reboot win2012-x86-5 and get it added back in jenkins for job, but win2012-x86-4 has something wrong with it.  I cannot power the system off or reboot from the UI.  This is going to need @rajdeepsingh1 to investigate in more detail.

[2021-01-25 23:50] AlexeyKhrabrov opened #11776 "Store a single copy of each distinct ROMClass at JITServer"
In order to reduce JITServer memory usage with multiple concurrent client JVMs running the same or similar applications, the JITServer can store a single copy of each distinct ROMClass. ROMClass bodies would be stored in a cache shared by all the clients connected to the JITServer. Since this shared cache might become a scalability bottleneck, this feature should be optional and (at least at first

[2021-01-26 00:14] pshipton commented on #7995
Sorry, I just realized I messed up by building jdk8 instead of jdk11. The change only affects jdk11 since it's cmake related. Started new builds.

with https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-Personal/16/
without https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-Personal/15/

[2021-01-26 00:26] rrozenshteyn-jha commented on #11611
A few FYIs:

1.  Our application does not use the java executable to launch the JVM.  Instead, it uses our own C program which has been linked using the same linker flags as the java executable (we verified using the dump -ov -X64 command).
2.  We tried several JVM command line args in hope of finding one that would resolve the JVM segfault crash.  The attached table summarizes our findings:
3.  W

[2021-01-26 01:28] #10432 closed

[2021-01-26 01:46] pshipton commented on #7995
@mpirvu the jdk11 builds are completed.

[2021-01-26 01:49] lina-work commented on #11633
I managed to find a "workaround" or a "fix" to this crash issue: basically, moving the declaration of the callback object from within method to a class field:

Eg Original in ForegroundAppMonitorTask.java

[code]

to:

[code]

This sort of stop crashing the app with segmentation fault.  The idea of this "workaround" came from:  https://github.com/lmdbjava/lmdbjava/issues/125 - Hope this helps with

[2021-01-26 01:57] pshipton commented on #9990
@keithc-ca anything required for this before we do the code split on the weekend?

[2021-01-26 01:58] pshipton commented on #11135
This is no longer tracking anything useful (if it ever was).

[2021-01-26 02:01] pshipton commented on #11135
Hmm, although there are some tests excluded under this Issue.
https://github.com/eclipse/openj9/issues/11135#issuecomment-738920269

@babsingh are there PRs that will fix the tests excluded in https://github.com/AdoptOpenJDK/openjdk-tests/pull/2088 under this issue?

[2021-01-26 02:08] pshipton commented on #11403
Resolved by https://github.com/eclipse/openj9/pull/11678

[2021-01-26 02:08] #11403 closed

[2021-01-26 02:10] pshipton commented on #11721
@tajila this could use an owner.

[2021-01-26 02:20] pshipton commented on #9416
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64_aix_Personal/852
[code]

[2021-01-26 02:22] pshipton commented on #11633
Does the following also avoid the crash?
[code]

[2021-01-26 03:32] mpirvu commented on #7995
I only see a 0.4% footprint regression which is as big as the 95% confidence interval, so it's safe to go ahead with the change.

Results for JDK=/home/mpirvu/sdks/rdynamic/on jvmOpts=-Xcompressedrefs -Xmx256m
StartupTime     avg=1707        min=1555        max=1913        stdDev=61.2     maxVar=23.0%    confInt=0.47%   samples=160
Footprint       avg=131569      min=122824      max=141580      st

[2021-01-26 03:55] pshipton commented on #7995
@jdmpapin do you want to create the PR. we want `-rdynamic` enabled by default.

[2021-01-26 03:58] jdmpapin commented on #7995
Did you mean @dnakamura?

[2021-01-26 04:05] pshipton commented on #7995
Yes, sorry.

[2021-01-26 04:32] lina-work commented on #11633
Nope, the crash will still happen

[2021-01-26 04:59] hzongaro commented on #11729
Just to summarize what I understand Vijay @vijaysun-omr is suggesting, for the following example

[code]

the JIT could generate the following IL, where `LHolder.v` would be a fake shadow symbol:

[code]

Similarly for an assignment to `o.v`, it could generate the following IL:

[code]

Further, the JIT could translate the `ResolveCHK` to the helper call during code generation or during lowerTrees

[2021-01-26 12:56] pshipton opened #11781 "4 zlinux machines offline"
ub16-390-1, 2
ub18-390-1, 2 are all offline

https://ci.eclipse.org/openj9/computer/ub16-390-1/log
https://ci.eclipse.org/openj9/computer/ub16-390-2/log
https://ci.eclipse.org/openj9/computer/ub18-390-1/log
https://ci.eclipse.org/openj9/computer/ub18-390-2/log
`Error: Invalid or corrupt jarfile slave.jar`

@AdamBrousseau @jdekonin

[2021-01-26 12:57] #9963 closed

[2021-01-26 12:57] #11040 closed

[2021-01-26 13:10] pshipton commented on #11633
Actually it would be like this in this simple test case.
[code]

@dmitripivkine maybe you should look at this.

[2021-01-26 13:50] jdekonin commented on #11763
I received emails overnight about problems with the cloud services that had been resolved.  Attempted a reboot this morning without any issues.  The system is online in jenkins again.

[2021-01-26 13:59] keithc-ca commented on #9990
Nothing _required_, but I note that `ClassScanner` (and probably other classes) have dead code that's only applicable to unsupported versions. Expect a pull request with that cleanup shortly.

[2021-01-26 14:08] jdekonin commented on #11781
DNS is  failing on these systems.  There is an entry in the resolv.conf file on the RH7 systems that isn't on the UB systems.  I've added it and all 4 have come back online.

But I have not made this change permanent, as its supplied/updated from dhcpd.  I'll have to follow up with Marist.

[2021-01-26 14:26] #11763 closed

[2021-01-26 14:44] vijaysun-omr commented on #11729
Some comments regarding the prior post in this issue:

You mentioned that "the JIT could generate the following IL, where LHolder.v would be a fake shadow symbol". I am not sure what you mean by a "fake shadow symbol" in this case but I was just picturing it as a normal shadow symbol that gets created for unresolved fields that we have historically had (before we had a notion of value types or fla

[2021-01-26 14:48] hzongaro commented on #11729
A further wrinkle I really should have highlighted in the discussion of `withfield` is the (likely, I think) possibility that the class containing the unresolved field might itself be unresolved.  The way `newvalue` currently works, it requires all the fields of the new value that's being created to be supplied.  So in my earlier example,

[code]

if both `Line.p1` and`Line` are not resolved, the

[2021-01-26 14:53] dmitripivkine commented on #11633
Well, I agree that problem looks like crash occur because of collected object. But most likely this collection was legitimate (object has no root at the moment of collection and was treated as dead).
I am not sure where I can start at from this point. This is crash in JNI, so it is too late to investigate GC activity and threads are not walkable. And at GC time we don't know where to look at.
One

[2021-01-26 14:56] vijaysun-omr commented on #11729
Regarding the comment "One potential, but likely very minor, concern with associating the symbol reference for the withfield with the newvalue is that the symbol reference would only carry any real meaning in the context of the ResolveCHK"
I am not sure I completely agree.

The symbol reference on the newvalue represents the lone field that the "withfield" bytecode (and the "with" syntax in Java)

[2021-01-26 15:32] dsouzai commented on #9416
Several of us (Mark, Leo, Andrew, Liqun, myself) have looked at this code and we haven't been able figure out how the call to `TR_ResolvedRelocatableJ9Method::definingClassFromCPFieldRef` can return NULL one time and non-NULL a second time, given that both `fieldAttributes` and `TR_ResolvedRelocatableJ9Method::definingClassFromCPFieldRef` both call `storeValidationRecordIfNecessary` with the same

[2021-01-26 15:33] babsingh commented on #11135
@pshipton Yes, the following issues are still unresolved:

1. java/lang/invoke/MethodHandles/classData/ClassDataTest.java (being tracked via https://github.com/eclipse/openj9/issues/11366)
2. java/lang/invoke/lambda/superProtectedMethod/SuperMethodTest.java (no tracker found)
3. java/lang/invoke/MethodHandles/publicLookup/Driver.java (being tracked via https://github.com/eclipse/openj9/issues/1064

[2021-01-26 15:39] babsingh opened #11783 "JDK16 TEST: invoke/lambda/superProtectedMethod/SuperMethodTest.java - Unexpected IllegalAccessError"
### JDK version

[code]

### Run the test

From the [JDK16 extensions repo](https://github.com/ibmruntimes/openj9-openjdk-jdk16/), execute the following command:
[code]

### Failure output

[code]

[2021-01-26 16:13] jdekonin commented on #11781
IBM Z Open Source Ecosystem admins will be investigating the matter.  Until then the solution we have in place will work until the machine(s) are rebooted.

[2021-01-26 16:16] jdekonin commented on #11781
This also impacts ub16-s390x-01 and ub16-s390x-02 OMR nodes. ( https://ci.eclipse.org/omr )

[2021-01-26 16:31] gacholio commented on #11752
Can someone please point me to some doc for the vector instructions?

[2021-01-26 16:36] gacholio commented on #11765
This would be a better question for @babsingh or @keithc-ca.

I would replace the abort with a crash.

[2021-01-26 16:38] Leonardo2718 commented on #11729
I'm not sure this is accurate. I think `newvalue` is more akin to a `new` than to a store. `newvalue` represents the instantiation of a new value type instance, not a specific operation on a field.

The issue is that `newvalue` is not specific to `withfield`. Rather, it's `withfield` that is implemented in terms of `newvalue`. `newvalue` is used for other operations as well, such as `defaultvalue`

[2021-01-26 16:39] trourance commented on #9132
@pshipton What more information do you need ? I've provided the full stacktrace that has been requested.

[2021-01-26 16:40] pshipton commented on #11633
Thanks @dmitripivkine, your answer is all I was looking for.

[2021-01-26 16:40] gacholio commented on #11205
@manqingl To be clear, you believe the class loader table contains the correct class? This appears to not be running in FSD mode, so the J9Class is supposed to remain stable (when we HCR, the new class which is created is used for the old class, and the existing J9Class is updated to be the new version).

This means there should be no easy way to use the "old" version of the class.

[2021-01-26 16:45] zl-wang commented on #11752
https://openpowerfoundation.org/?resource_lib=power-isa-version-3-0

3.0 corresponding to POWER9 ... look for lxvd2x and stxvd2x

[2021-01-26 16:46] pshipton commented on #9132
@ashbm5 pls see the previous comment.

[2021-01-26 16:50] zl-wang commented on #11752
those two instructions existed starting on POWER7, by the way.

[2021-01-26 16:57] gacholio commented on #11752
I've read the doc, and it's typically confusing - can you provide examples of the instruction use? It seems to imply that I have to have a register preloaded with the constant 4. To store multiple registers sequentially, do I need to keep adding 16 to the base register?

[2021-01-26 16:57] pshipton commented on #11464
The changes are merged.

[2021-01-26 16:57] #11464 closed

[2021-01-26 16:59] gacholio commented on #11752
Sorry, I was reading the doc for the 4x forms. The 2x ones seem more sane, though it's a shame there's no constant offset form.

[2021-01-26 17:06] gacholio commented on #11752
Would this be how I load vector registers 0 and 1 from consecutive storage?
[code]

[2021-01-26 17:07] gacholio commented on #11538
https://github.com/eclipse/openj9/pull/11786

[2021-01-26 17:14] zl-wang commented on #11752
both will work.

[2021-01-26 17:16] hangshao0 commented on #9416
I guess the APIs are `findSharedData()/storeSharedData()`. Probably worth turning on `-Xshareclasses` sub-option `verboseData`, and the trace points in `SH_CacheMap::findSharedData()/SH_CacheMap::storeSharedData()`.

[2021-01-26 17:22] manqingl commented on #11205
j9class 0x0000000000685100

J9Class at 0x685100 {
  Fields for J9Class:
        0x0: UDATA eyecatcher = 0x0000000099669966 (2573637990)
        0x8: struct J9ROMClass* romClass = !j9romclass 0x00007F0229AA1D38
        0x10: void** superclasses = !j9x 0x00000000006828E0
        0x18: UDATA classDepthAndFlags = 0x00000000020E0002 (34471938)
        0x20: U32 classDepthWithFlags = 0x00000000 (0)

[2021-01-26 17:24] dmitry-ten opened #11787 "JITServer segmentation fault in CS2::heap_allocator deallocation"
Recently, whenever I run `sanity.functional` tests with JITServer for Java 11 I get a segfault on the server in the CS2 heap allocator.
The crash always happens when freeing `_genILSyms` list in `OMR::Compilation` due to memory segment pointer containing invalid address. The crash always happens after a compilation is aborted due to `#FAILURE:  <EARLY TRANSLATION FAILURE: compilation aborted>`.
To

[2021-01-26 17:26] dmitry-ten commented on #11787
I found one obvious issue with JITServer-specific code:
https://github.com/eclipse/openj9/blob/adde9ef085c537ce7896bc67c3f31c7e315a347c/runtime/compiler/compile/J9Compilation.cpp#L185

We use typed allocator for `SerializedRuntimeAssumption` but it should be `SerializedRuntimeAssumption *`. I'll make a PR to fix it shortly, however fixing this doesn't resolve the issue, so something else must stil

[2021-01-26 17:41] hzongaro commented on #11729
The reason I was calling it a fake shadow symbol is that that JIT would create it as if it was to be used to access a reference field in the object that contained it, but in reality, the JVM might have flattened the field as an aggregate into the containing object.  The generated code would never actually attempt to load an address through that symbol, so it wouldn't really matter.  Perhaps I shou

[2021-01-26 17:46] babsingh commented on #11765
Yes, this is possible. Two requirements:
1. The handler would need to be reset to JVM's default `abortHandler` after the JIT work is done.
2. A customer should not be impacted by the override of JVM's default `abortHandler`.

### Option 1
The behaviour is similar to https://man7.org/linux/man-pages/man2/signal.2.html. The handler is reset after the first invocation.
[code]
**Example:** https://git

[2021-01-26 18:17] vijaysun-omr commented on #11729
Regarding "I'm not sure this is accurate. I think newvalue is more akin to a new than to a store. newvalue represents the instantiation of a new value type instance, not a specific operation on a field."

I think the logical equivalent of `newvalue` is a `new` followed by a store. The only reason we don't do it via those existing opcodes is that we don't want the optimizer to separate those 2 IL t

[2021-01-26 18:47] 0xdaryl opened #11790 "Enable newInstanceImpl optimization"
There is an OMR codegen flag that needs to be set to enable this optimization:

https://github.com/eclipse/omr/blob/5ad82738f7ecbbee5295083369b96b1bc75cb317/compiler/codegen/OMRCodeGenerator.hpp#L1705

However, some investigation is required as to what codegen support is actually required.

[2021-01-26 18:47] 0xdaryl commented on #5455
Support newInstanceImpl optimization: AArch64 (#11790)

[2021-01-26 19:14] hangshao0 commented on #10073
Can you send me the agent key ?

[2021-01-26 20:16] 0xdaryl opened #11791 "Assume TR::Compiler->cls.classesOnHeap() is always true"
There are a number of places in the JIT guarded with `TR::Compiler->cls.classesOnHeap()`.  This query is hardcoded to always return `true`.  J9 classes have resided on the heap for many years now and this is unlikely to change.  I doubt this flexibility is still needed.

Assume `TR::Compiler->cls.classesOnHeap()` is always `true` and fold and remove code as necessary.

Leave the `classesOnHeap()`

[2021-01-26 20:17] 0xdaryl commented on #11791
@gacholio @tajila : Just confirming that classes-on-heap is always true these day and the non-heap paths can be folded away in the JIT.  If not, we probably have JIT bugs lurking...

[2021-01-26 20:21] gacholio commented on #11791
Confirmed.

[2021-01-26 20:22] gacholio commented on #11791
For the record (flags in the core feature can not be overriden):

https://github.com/eclipse/openj9/blob/fb8c08c7db2038da0422689e8acf7e9191ec0aa6/buildspecs/core.feature#L50

[2021-01-26 20:51] gacholio commented on #11768
I'm not sure we want to do this - we had originally decided that default would be the directory for mixed builds.

[2021-01-26 21:15] jonoommen opened #11792 "Remembered Set scanning in Gencon can be long and unpredictable"
The problem was visible after performance testing was completed for the Hazelcast Jet Streaming benchmark where remembered-set scan times were unacceptably long and unpredictable. A solution to this would be to improve the parallelization of remembered set scanning in the final stop-the-world phase of the concurrent global GC cycle in Gencon as the work-sharing for remembered-set scanning currentl

[2021-01-26 21:22] jonoommen commented on #11792
![Screen Shot 2021-01-26 at 12 10 50](https://user-images.githubusercontent.com/7588137/105907135-9d41ed80-5ff2-11eb-86e6-434d82a2208e.png)

[2021-01-26 21:27] IBMJimmyk commented on #11526
I was looking at the problem in:
https://github.com/eclipse/openj9/issues/11526#issuecomment-763320863

I downloaded the build from:
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_ppc64_aix_Release/60/OpenJ9-JDK8-ppc64_aix-20210119-160857.tar.gz

Version output:
[code]

However, I ran into an issue where it looks like the symbols have largely been stripped fr

[2021-01-26 21:40] tajila commented on #11783
The problem is that we are doing the access checks with the lambda (anonClass) which isn't a subclass of the superClass. From a language perspective the lambda is part of the class so access checks should be done with the hostClass instead. Will prepare a fix for this.

[2021-01-26 21:46] pshipton commented on #11526
Downloading the debug image and overlaying it may help.
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_ppc64_aix_Release/60/debug-image.tar.gz

[2021-01-26 21:47] pshipton commented on #11526
On AIX the debug image contains the non-stripped libraries.

[2021-01-26 22:10] sharon-wang commented on #11768
Right, using `default` keeps the JVM libraries contained and separated from the rest of the libraries. Is this separation something we want to keep going forward? If so, I can close this issue.

I think @keithc-ca might have some thoughts on this too?

[2021-01-26 22:28] JasonFengJ9 commented on #11775
Occurred in JDK8 `Test_openjdk8_j9_extended.functional_ppc64le_linux/11`:
[code]

It is in same machine though (64CPU 67GB Ram 88GB Disk).

[2021-01-26 22:35] gacholio commented on #11768
The plan was to allow the redirector to continue to select other VMs if we have a future experimental build that we want to package in. This doesn't necessarily preclude moving the default VM up a level, but I'm not sure there's any real value to it.

[2021-01-26 22:35] gacholio commented on #11768
@tajila

[2021-01-27 00:26] #11447 closed

[2021-01-27 00:26] #11452 closed

[2021-01-27 00:48] pshipton opened #11795 "cmdLineTester_getPid_0 is failing on at least zlinux Ubuntu 18"
See https://github.com/eclipse/openj9/pull/11786#issuecomment-767862614 and the following comments.

Last night:
OpenJ9: d132a6b
OMR: b38b0b7
OpenJDK11: b608a89

Later build:
19:22:51 OpenJ9 - fb8c08c
19:22:51 OMR - 5ad82738f7e
19:22:51 JCL - f7475ea97ee based on jdk-11.0.10+9)

d132a6b...fb8c08c
eclipse/openj9-omr@b38b0b7...5ad8273
ibmruntimes/openj9-openjdk-jdk11@b608a89...f7475ea

[2021-01-27 00:50] Leonardo2718 commented on #11729
After an offline discussion to clear up a number of background details on the topic, @vijaysun-omr and I have come up with a concrete decision to move this issue forward.

## Background

The core problem we are trying to solve is to find a place to put the information needed to implement field resolution. We, therefore, must consider what information is needed by the different parts of the compile

[2021-01-27 01:52] gacholio commented on #11795
The getPid call comes down to `ProcessHandle.current().pid()`

[2021-01-27 01:57] babsingh commented on #11359
Fixed by #11699. @JasonFengJ9 This issue can be closed.

[2021-01-27 02:42] pshipton commented on #11795
triage1 without #11761 - https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-Personal/17 - https://ci.eclipse.org/openj9/view/Test/job/Grinder/1467 - failed 056cf6b92c3

triage2 without #11755 - https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-Personal/18 - https://ci.eclipse.org/openj9/view/Test/job/Grinder/1468 - failed 8e3268b0450

triage3 without #11779 - https://ci.eclipse.org/openj9/j

[2021-01-27 03:29] JasonFengJ9 commented on #11359
The test is enabled via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2188

closing

[2021-01-27 03:29] #11359 closed

[2021-01-27 03:37] knn-k commented on #11790
I tried enabling the flag on AArch64.  It runs OK, but some benchmarks slows down.
Shown below is the results with SciMark2.  Monte Carlo and LU scores are much worse:

Without `setSupportsNewInstanceImplOpt()`:
[code]

With `setSupportsNewInstanceImplOpt()`:
[code]

[2021-01-27 08:52] gireeshpunathil commented on #10073
key sent.

[2021-01-27 12:24] 0xdaryl commented on #11790
That isn't expected.  To begin with, can you run with a verbose log to see that the thunks are compiling (look for methods named `newInstancePrototype`)?

Does disabling newInstanceImplOpt support on x86 improve performance running the same benchmark?

Before we do any deep analysis on this we need to understand all the dependencies it may require before flipping the switch.  Yesterday I went thro

[2021-01-27 13:50] ashbm5 commented on #9132
@trourance I would need a test case that duplicates this issue.

[2021-01-27 14:25] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_Nightly/245
testJITServer_1
[code]

[2021-01-27 14:30] pshipton opened #11798 "extended.functional MXBean tests hanging on zlinux Ubuntu18 machines"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_xl_Nightly_testList_0/241
[code]
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_xl_Nightly_testList_1/241
[code]

[2021-01-27 14:33] pshipton commented on #11798
@jdekonin this seems network related, is it related to the machine configuration as done for https://github.com/eclipse/openj9/issues/11781#issuecomment-767564788?

We're also having this problem https://github.com/eclipse/openj9/issues/11795 which I thought was code (although no changes made sense to break this). I'll re-check my conclusions.

[2021-01-27 14:45] pshipton opened #11799 "openjdk String/NonCharacterMapping.java SpecialCasingTest.java ArrayIndexOutOfBoundsException"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/279
aix71-p8-7
java/lang/String/NonCharacterMapping.java
[code]
java/lang/String/SpecialCasingTest.java
[code]

It only failed on AIX jdk11, didn't fail in the AIX_XL build, passed the previous night.

Changes from the previous build:
https://github.com/eclipse/openj9/compare/d132a6b...cafb94c
https://github.com/e

[2021-01-27 14:47] pshipton commented on #11795
Retested the previous night's build, this time it failed 2/10.
https://ci.eclipse.org/openj9/job/Grinder/1471

[2021-01-27 14:50] pshipton commented on #11795
Trying a 0.24 build https://ci.eclipse.org/openj9/job/Grinder/1474

[2021-01-27 14:57] pshipton commented on #11795
It's failing on the 0.24 build. I suspect a machine problem, which may be related to https://github.com/eclipse/openj9/issues/11798

[2021-01-27 15:06] pshipton commented on #11799
Trying all jdk_lang_0
https://ci.eclipse.org/openj9/job/Grinder/1475
https://ci.eclipse.org/openj9/job/Grinder/1476
https://ci.eclipse.org/openj9/job/Grinder/1477
https://ci.eclipse.org/openj9/job/Grinder/1478

[2021-01-27 15:16] pshipton commented on #11798
Disabling the machines until this can be resolved.

[2021-01-27 15:46] hzongaro commented on #11205
Some recent updates:

Runs with `-Xjit:limit=foofoobar,verbose,vlog=vlog.txt` still had failures, and we confirmed that no methods had compiled.  Two more runs with `-Xint` still showed no failures.

Manqing requested runs with `-XX:+DebugInterpreter` to try to gather more reliable Java stack traces.  At least four runs with that options along with the `-Xjit:limit=foofoobar` option showed no cras

[2021-01-27 16:03] pshipton commented on #11799
@gita-omr fyi

[2021-01-27 16:15] JasonFengJ9 opened #11800 "JDK17 Windows : testRASAPI_0_FAILED due to The (dump) file exists."
Failure link
------------

From an internal build `Test_openjdkNext_j9_extended.functional_x86-64_windows_Nightly/377`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

Need determine if the test removes existing dump files before starting the run, or the cleanup failed due to machine issue.

[2021-01-27 16:48] pshipton commented on #11799
@zl-wang fyi

[2021-01-27 16:48] IBMJimmyk commented on #11526
Overlaying the debug image looks like it helped. Thanks!

So the backtrace in the corefile for `JIT Compilation Thread-003` looks like this:
[code]

[2021-01-27 18:43] pshipton opened #11801 "Mixed builds, gccheck test failing, DDR problem?"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_s390x_linux_mixed_Nightly_testList_0/1/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_s390x_linux_mixed_Nightly_testList_1/1/
cmdLineTester_GCCheck (all modes)
[code]

This is a newly ported test, in case you are wondering why we didn't see this fail previously.

@sharon-wang @dmitripivkine @keithc-ca fyi

[2021-01-27 19:48] aviansie-ben opened #11803 "Fix prefetching of aloadi nodes on 64-bit Power"
The current code for handling `aloadi` nodes in `insertPrefetchIfNecessary` doesn't work correctly on 64-bit machines and so is disabled there. Since there's nothing theoretically preventing prefetching from being generated on `aloadi` nodes on 64-bit, this should be fixed.

[2021-01-27 20:25] pshipton commented on #11801
May be all platforms, the build is still running. I'll update here as they fail.

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_mixed_Nightly/1/

[2021-01-27 20:39] IBMJimmyk commented on #11526
https://github.com/eclipse/openj9/blob/345e1b09e2a1f2cf6323b25edc901cce197f4365/runtime/compiler/runtime/J9Profiler.cpp#L2940-L2945

I think the following two lines in side the `do` block are getting pulled out of the loop when they shouldn't:
[code]

The method starts with:
[code]

The hang is inside this sequence of assembly:
[code]

Each loop iteration is supposed to update `oldPtr` but it does

[2021-01-27 20:51] gacholio commented on #11801
@sharon-wang  Is the GC check library split?

[2021-01-27 20:56] keithc-ca commented on #11801
Yes, see https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/closed/custom/copy/Copy-java.base.gmk#L65-L68.

[2021-01-27 21:48] IBMJimmyk commented on #11526
It looks like the problem is here:
https://github.com/eclipse/openj9/blob/345e1b09e2a1f2cf6323b25edc901cce197f4365/runtime/compiler/runtime/J9Profiler.hpp#L865

`_listHead` can be updated by multiple threads so I think it needs to be marked as `volatile`.

[2021-01-27 21:51] hangshao0 commented on #10073
@gireeshpunathil , seems that I cannot startup the service with the reproducing steps here https://github.com/eclipse/openj9/issues/10073#issuecomment-765135401. Maybe something is missing ?

I am using the same Java 15 build as yours:

[code]

Running `sudo ./setup_agent.sh -a <agent_key> -t dynamic -e ingress-orange-saas.instana.io:443`

[code]

It does not look like the serivce is started up. S

[2021-01-27 21:59] keithc-ca commented on #11801
Trying to run the tests locally with `BUILD_LIST=functional/cmdLineTests/gcCheck` fails because it does not create `cmdlinetester.jar`; perhaps some dependency is missing? I tried again with `BUILD_LIST=functional/cmdLineTests`, but still no luck.

[2021-01-27 22:03] keithc-ca commented on #11801
I don't know if it's significant, but it's at least surprising to see the reference to 'Windows' in the ppc64le test output:
[code]

[2021-01-27 22:10] smlambert commented on #11801
I believe cmdLineTests dependencies are spread across several directories (grr!), I always end up just setting BUILD_LIST=functional because waiting the extra minutes for everything to compile is somehow less annoying than trying to get the build list right.

Is it:
BUILD_LIST=functional/cmdline_options_testresources,unctional/cmdLineTests/gcCheck,functional/cmdline_options_tester

I'd have to che

[2021-01-27 22:24] keithc-ca commented on #11801
I now have a core file (on Linux x64) that exhibits `!gccheck` problems; will investigate.

[2021-01-27 22:24] pshipton commented on #11801
What Shelley mentioned works in general. I typically add `functional/cmdline_options_tester` in addition to the test directory.

[2021-01-27 22:35] sharon-wang commented on #11801
I see that tests in `test/functional/cmdLineTests/shareClassTests` and `test/functional/cmdLineTests/URLClassLoaderTests` have "Windows Configuration" in the test suite id, so I think "Windows Configuration" will show up on all platforms that run those tests.

It looks like there are two versions of some tests in playlist files (e.g. one windows and one unix), but both versions use the same xml fi

[2021-01-28 01:34] knn-k opened #11805 "Timeout failure in java/util/concurrent/forkjoin/FJExceptionTableLeak"
Threads are waiting at `sun.misc.Unsafe.park(Native Method)`.

Failure link
------------

The latest JDK 8 sanity.openjdk test on aarch64
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/170/

Optional info
-------------

- intermittent failure: yes
- regression or new test: regression
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR,

[2021-01-28 01:36] knn-k commented on #11805
There is a similar timeout in java/util/jar/JarFile/jarVerification/MultiProviderTest in JDK 11 sanity.openjdk, with many threads waiting at `jdk.internal.misc.Unsafe.park(Native Method)`.
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/374/

[code]

[2021-01-28 01:57] knn-k commented on #11805
Similar timeout in Unsafe.park() in October 2020: #10842

[2021-01-28 04:12] knn-k commented on #11790
I ran SciMark2 on x86 Linux with and without `-Xjit:disableNewInstanceImplOpt`, and found no particular difference in their scores.

Without `-Xjit:disableNewInstanceImplOpt`:
[code]

With `-Xjit:disableNewInstanceImplOpt`:
[code]

[2021-01-28 04:23] knn-k commented on #11790
I see no line for `newInstancePrototype` in the JIT verbose log.

[2021-01-28 06:02] gacholio commented on #11752
Track my changes here:

https://github.com/gacholio/openj9/tree/vector

I won't promise it will always compile/work.

So far, I've modified the outer (JIT execution) native stack frame, and saved/restored the required VRs upon entry/exit from the interpreter.

[2021-01-28 07:44] htreu commented on #10073
`Exported package names cannot be zero length.` results from Karaf trying to resolve `${jre-${java.specification.version}}` during startup, but fails. The resulting MANIFEST then contains `org.apache.karaf.info;version="4.2.9",,org.hyperic.sigar` (note the double `,,`) which is illegal.
Our karaf distribution currently fails with Java15, please run the agent with Java8 ands the target JVM with the

[2021-01-28 12:41] JasonFengJ9 opened #11808 "mixed ref test build - DETECTED_SPEC and settled SPEC value not match"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.functional_ppc64_aix/10`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2021-01-28 12:47] JasonFengJ9 commented on #11801
`cmdLineTester_GCCheck_1_FAILED` at an internal build `Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly/593`:
[code]

[2021-01-28 13:13] pshipton commented on #11808
@llxia

[2021-01-28 14:45] cedrichansen commented on #11808
I have also observed this for linux_x86-64
[code]

[2021-01-28 14:53] llxia commented on #11808
The above issue is due to we set `PLATFORM=linux_x86-64` and we are trying to run a mixed SDK. To run mixed SDK, we need to set `PLATFORM=linux_x86-64_mixed`.

FYI @AdamBrousseau

[2021-01-28 14:59] keithc-ca commented on #11801
DTFJ is not properly recognizing that the core is from a mixed reference VM.

[2021-01-28 15:16] srinayak666 commented on #11602
Hi @dmitripivkine ,

we shifted from IBM jvm 1.8 to open jvm 1.8, The issue with memory was not seen with IBM jvm 1.8 but after switching to open jvm 1.8 the memory issue seen.

looks like a regression issue with open jvm 1.8?

[2021-01-28 16:40] pshipton commented on #11801
Many other DDR related failures in extended testing, likely the same issue.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_s390x_linux_mixed_Nightly/1/tapTestReport/

[2021-01-28 16:41] dmitripivkine commented on #11602
Just for information IBM jvm 1.8 for OSX does not use J9 implementation, so this is not a direct regression (but difference in behaviour might be not optimum)

[2021-01-28 16:52] #11318 closed

[2021-01-28 17:20] keithc-ca commented on #11801
I think we should have a separate issue for the failure mode mentioned [above](https://github.com/eclipse/openj9/issues/11801#issuecomment-769029469).

[2021-01-28 17:25] #11801 closed

[2021-01-28 18:14] keithc-ca opened #11811 "cmdLineTester_GCCheck test failure"
Reported first in https://github.com/eclipse/openj9/issues/11801#issuecomment-769029469.
[code]

[2021-01-28 18:21] liqunl commented on #9782
@pshipton This issue won't be fixed in next release. A new diagnostic check will be added to help the investigation in next occurrence.

[2021-01-28 18:41] pshipton commented on #9782
Thanks for the update. This Issue isn't in any Milestone plan atm, so there is nothing to update.

[2021-01-28 18:43] keithc-ca commented on #11811
@JasonFengJ9 Can you please share a link for the build that yielded the failure in the description?
Looking at https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK11_ppc64_aix/2520/ (which is a build of the same SHAs), everything passed.

[2021-01-28 18:47] keithc-ca commented on #11811
It would seem to be https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly_testList_1/234 which concludes:
[code]

[2021-01-28 18:59] #11060 closed

[2021-01-28 19:04] pshipton commented on #11811
job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly/593/ on the internal server.

[2021-01-28 19:06] Ram-Krishnamurthy commented on #11602
We need to use open jvm 1.8 and we can't move up to 11. We need a fix for this memory growth issue. Please help.

[2021-01-28 20:18] RSalman commented on #11237
Sorry @MelHopper I missed your question, this issue was addressed earlier this month. @amicic could you please close this.

[2021-01-28 20:34] keithc-ca commented on #11811
The internal build is running an obsolete copy of the tests.

[2021-01-28 20:34] #11811 closed

[2021-01-28 20:47] JasonFengJ9 commented on #11811
Are the tests/pipeline updated by any chance?

[2021-01-28 21:30] hangshao0 commented on #10073
Now I can reproduce this error after switching to Java 8.

[2021-01-28 21:56] Ram-Krishnamurthy commented on #11602
Also we observe this issue only in Mac. On Windows the Open JVM 1.8 is regularly freeing up the memory as expected

[2021-01-28 22:22] liqunl commented on #11611
@rrozenshteyn-jha Do you have javacore files (files prefixed with javacore.) and jitdump files for these crashes. When it crashes, does the error message contain `Method_being_compiled`? If so, could you paste the error message containing the compiling method and upload the javacore and jitdump?

[2021-01-28 22:32] JasonFengJ9 opened #11812 "JDK11 aarch64 cmdLineTester_pltest_0_FAILED - error while loading shared libraries: libj9prt29.so"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.functional_aarch64_linux/1`:
[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
05:30:57  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=functional&PLATFO

[2021-01-28 22:40] JasonFengJ9 opened #11813 "JDK8 zLinux XL jdk_util_1_FAILED : SliceOpTest - Segmentation error vmState=0x00000000 Invalid JIT return address"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.openjdk_s390x_linux_xl/14`:
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
01:01:47  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=openjdk&PLATFORM=s39

[2021-01-28 22:54] pshipton commented on #11813
@fjeremic fyi

[2021-01-28 22:59] pshipton commented on #11812
@jdekonin this seems like a machine issue, perhaps a prereq library is missing.

[2021-01-28 23:26] JasonFengJ9 commented on #11800
It appears in JDK8 ibuild across platforms
[code]

[2021-01-28 23:31] pshipton commented on #11800
@llxia seems this test isn't working.

[2021-01-29 00:47] knn-k opened #11814 "Build failure with getReloKindFromGuardSite() in J9CodeGenerator.cpp"
I see the following compilation error when I build with `TR_ASSERT()` enabled.  There is no variable `it` in the scope of `getReloKindFromGuardSite()`.

[code]

This code was introduced by #11552.

[2021-01-29 00:54] knn-k commented on #11814
https://github.com/eclipse/openj9/blob/3f6faa8d961207fe5d7436ceeec257a190c4fc49/runtime/compiler/codegen/J9CodeGenerator.cpp#L3043-L3044

[2021-01-29 01:11] liqunl commented on #11611
The cause of the crash is stack overflow. In one core file, I'm seeing 149 frames of `int16_t OMR::Compilation::matchingCallStackPrefixLength(TR_ByteCodeInfo &bcInfo)`
There is a recursive call to itself and the terminate condition depends on the bytecode index. So mostly likely there's a bad bytecode info.
[code]

Similar to the original one. However, I'm not able to find more information from th

[2021-01-29 01:13] liqunl commented on #11130
This is a dup of #9782 based on the crash type and rflags value

[2021-01-29 01:19] rrozenshteyn-jha commented on #11611
Hi @liqunl .  In our environment, we never got any javacore or jitdump files generated during the JVM crashes, just the truncated core file you mentioned.  I will work to configure our environment to be capable of generating full core.  Hopefully, it's not going to be much larger than the truncated ones (since I've had a bit of a hard time getting those out from our corporate environment into a pl

[2021-01-29 01:57] dsouzai commented on #11814
Oh, I guess because it's a TR_ASSERT it didn't get compiled on all the other platforms -_-. I'll open a fix tomorrow, but the fix is just
[code]

[2021-01-29 02:04] knn-k commented on #11814
This is not an AArch64 problem.  I just enabled `TR_ASSERT()` for debugging.

[2021-01-29 02:33] babsingh opened #11817 "JDK16 : ClassDataTest.java : Incorrect Lookup Access Modes for Hidden Classes"
### Dependencies to reproduce the error

#11815 and #11816 need to be merged before this error is seen.

### Test source code: ClassDataTest.illegalAccess

https://github.com/ibmruntimes/openj9-openjdk-jdk16/blob/aee3e45015987017ba3e0e4aaac41fd3eb8027c8/test/jdk/java/lang/invoke/MethodHandles/classData/ClassDataTest.java#L79-L99

### First failure
[code]

### Second failure
[code]

### Notes

1. `

[2021-01-29 02:34] babsingh commented on #11366
This can be closed after #11815 and #11816 are merged. I have opened https://github.com/eclipse/openj9/issues/11817 for the new failures seen with OpenJ9. The new failures do not need to be fixed for the JDK16 0.25 release.

[2021-01-29 02:40] babsingh commented on #10648
**Note:** This failure does not fix once OJDK MHs are enabled in OpenJ9. In other word, this failure is seen with both OpenJ9 and OJDK MHs.

[2021-01-29 02:56] babsingh commented on #11783
Confirming that the reported failure is fixed once OJDK MHs are enabled in OpenJ9. This issue should be tagged with `project:MH`.

[2021-01-29 03:00] babsingh commented on #11817
This issue should be tagged with the `project:MH` label since the failure is fixed by enabling OJDK MHs in OpenJ9.

[2021-01-29 03:03] babsingh commented on #11135
@pshipton All important issues, which are reported here, have been addressed for the 0.25 release. Any unresolved issue has its own standalone tracker. So, we can close this issue.

[2021-01-29 04:43] knn-k commented on #10266
I am seeing the following build failure with `openj9.dtfj-gensrc-src` in my cross build environment on x86-64 Linux.  It was OK earlier this week.

[code]

[2021-01-29 05:09] knn-k commented on #10266
It turned out that the build failure above was caused by something in my work directory.  Resetting everything seems to have resolved it.  Sorry for the false alarm.

[2021-01-29 05:46] knn-k commented on #10266
The failure above seems to have been introduced by https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/380 .
I suppose it is not the problem of CMake or not.

[2021-01-29 08:53] andrew-m-leonard opened #11818 "jdk11/17 riscv64/plinux openj9.dtfj-gensrc-src build failure"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-riscv64-openj9/273/console
[code]
Has a gensrc change happened?

[2021-01-29 09:15] andrew-m-leonard commented on #11818
plinux too:
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-linux-ppc64le-openj9/247/console
[code]

[2021-01-29 12:58] pshipton commented on #11135
We need to fix the excludes to refer to the correct issues/PRs before closing this. How can we re-assign the following?

java/lang/invoke/lambda/superProtectedMethod/SuperMethodTest.java
java/lang/invoke/MethodHandlesPermuteArgumentsTest.java

[2021-01-29 13:25] pshipton opened #11819 "-Xgc:dynamicBreadthFirstScanOrdering testing crashing in mixed builds"
JVM_OPTIONS:  -Xgcpolicy:gencon -Xgc:dynamicBreadthFirstScanOrdering
vmState=0x0002000f

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64le_linux_mixed_Nightly/1/tapResults/
MathLoadTest_bigdecimal_special_29
DaaLoadTest_daa1_special_29
DaaLoadTest_daa2_special_29
DaaLoadTest_daa3_special_29
DaaLoadTest_all_special_29
MathLoadTest_all_special_29
MathLoadTest_autosimd_specia

[2021-01-29 13:26] pshipton commented on #11819
@dmitripivkine @amicic @gacholio fyi

[2021-01-29 13:30] pshipton commented on #11819
Likely crashing on all platforms. AIX is failing as well but the build isn't finished yet, the other platforms don't run these tests.

[2021-01-29 13:41] pshipton commented on #10266
@keithc-ca fyi the previous comment.

[2021-01-29 13:44] pshipton commented on #11818
@ChengJin01 @keithc-ca fyi

[2021-01-29 14:00] jdekonin commented on #11812
This is an internal IBM setup issue.

[2021-01-29 14:18] ChengJin01 commented on #11818
There is no code or setting changes specific to RISC-V on my side.

[2021-01-29 14:25] 0xdaryl commented on #11729
Thanks for summarizing the discussion Leo.

A couple questions around this example:
[code]
1)  Is `valueTypeFieldResolveCHK` part of your "alternate non-helper with combined resolution and field operation" example?  Otherwise, why wouldn't this simply be a call to the `jitResolveFlattenableField` helper ?

2)  I think the API needs a RAM Method or a constant pool address to go along with the cpInd

[2021-01-29 14:33] pshipton commented on #11812
I'll assume it's now tracked elsewhere.

[2021-01-29 14:33] #11812 closed

[2021-01-29 14:39] keithc-ca commented on #11818
I think there are two problems here.
1) builds fail when DDR is not enabled
2) it appears there's a conflict between parallel tasks when DDR is enabled

[2021-01-29 14:42] keithc-ca commented on #10266
That failure is tracked by #11818. I hope to have a fix today.

[2021-01-29 14:42] ChengJin01 commented on #11818
DDR should be disabled via cross-compilation on the local/host system for RISC-V (only enabled if directly compiled on RISC-V with a cross-build as a boot/build JDK).

[2021-01-29 14:58] llxia commented on #11800
The test passed in Test_openjdkNext_j9_extended.functional_x86-64_windows_Nightly/376 and it worked in my Grinder: Grinder/13571/

[2021-01-29 15:17] llxia commented on #11800
@OscarQQ is vmfarm failure a known issue? If so, could you exclude the test on vmfarm? Thanks

[2021-01-29 15:38] liqunl commented on #11611
We're supposed to generate a jitdump in the event of a compilation crash. @fjeremic @dsouzai Any idea why replay is not started after the crash? Is it because we can't continue running the thread after stack overflow?

[2021-01-29 15:42] dsouzai commented on #11611
That would be my guess; the jitdump is triggered by the crashing thread, but if we have no more stack, we probably can't call into anything else.

[2021-01-29 15:44] pshipton opened #11821 "testRASAPI_0 hang creating javacore"
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.functional_ppc64le_linux_Nightly_testList_1/10
[code]

[2021-01-29 15:45] pshipton commented on #11800
Another different failure (hang) of testRASAPI_0 in OpenJ9 jdk16 testing https://github.com/eclipse/openj9/issues/11821

[2021-01-29 15:51] ChengJin01 commented on #5058
I finished the internal tests which worked good on Debain5.6 + patched OpenSBI. Will wait for the new version of Fedora_riscv to double-check.

[2021-01-29 16:04] llxia commented on #11800
@OscarQQ Could you exclude the test on JDK16 and JDK17? The problem seems intermittent.

[2021-01-29 17:04] gacholio commented on #11819
@pshipton Do you have a link to an AMD64 build that fails?

[2021-01-29 17:38] dmitripivkine commented on #11602
Hi @srinayak666, @Ram-Krishnamurthy, we are trying to do our best to help.

There is a very wide range of factors might have impact JVM memory usage: from different memory management models between Windows and OSX to different behaviour of Java Finalization thread(s) might keep more native memory than expected. In order to help us to investigate all these possibilities and address them we need com

[2021-01-29 17:39] babsingh opened #11822 "Enable MethodHandlesPermuteArgumentsTest once OJDK MHs are enabled"
[MethodHandlesPermuteArgumentsTest](https://github.com/ibmruntimes/openj9-openjdk-jdk16/blob/f28951c83db05bb661d5dbeef4684f47a4c44d61/test/jdk/java/lang/invoke/MethodHandlesPermuteArgumentsTest.java#L200-L228) passes with OJDK MHs enabled in OpenJ9. So, it should be enabled once OJDK MHs are officially enabled in OpenJ9.

Related: https://github.com/eclipse/openj9/pull/11697#issuecomment-763282951

[2021-01-29 17:47] babsingh commented on #11135
- Opened https://github.com/AdoptOpenJDK/openjdk-tests/pull/2215 to remove references of this PR from the exclusion list.
- Opened https://github.com/eclipse/openj9/issues/11822 for `MethodHandlesPermuteArgumentsTest.java`.

[2021-01-29 18:25] gacholio commented on #11819
[code]

[2021-01-29 18:29] gacholio commented on #11819
Fails with both -Xcompressedrefs and -Xnocompressedrefs.

[2021-01-29 18:33] gacholio commented on #11819
@bragaigor Is this your feature? Any chance you used compressed/full ifdefs instead of the runtime checks?

[2021-01-29 18:41] bragaigor commented on #11819
That's John's. Pinging him here @jonoommen

[2021-01-29 18:41] fjeremic commented on #9120
I've dug myself out of the hole and have emerged with a ton of goodies. I've opened up #11825 which addresses what I believe to be all issues revolving around generation of JitDumps from crashed compilations. It will also help in the case of application thread crashes as well. This is the area I am going to stress test next and ensure _every_ JIT compiled body on the stack of an application crash

[2021-01-29 18:57] fjeremic commented on #11765
Thanks for the explanation. In #11825 we went with the simplest solution which GAC suggested, to just force a crash if we are doing a JitDump compilation, rather than an `abort`. This will avoid the whole issue of fiddling with handler entries.

[2021-01-29 19:30] #11135 closed

[2021-01-29 19:41] gacholio commented on #11819
Another possible issue is any use of `fomrobject_t` or `fj9object_t`.

[2021-01-29 20:00] pshipton commented on #11760
@smlambert this won't be resolved until the 0.26 release, what is the best way to exclude this test from [jdk_foreign_native](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/playlist.xml#L1122-L1147), considering it's already excluded in the regular exclude list?

[2021-01-29 20:13] gacholio commented on #11752
@gita-omr Latest code in the branch should be preserving VRs across the helper calls now.

It's unoptimized and untested (everything compiles and works when the vector enable bit is not set).

[2021-01-29 20:25] pshipton commented on #11818
The fixes are merged.

[2021-01-29 20:25] #11818 closed

[2021-01-29 20:26] pshipton commented on #10266
The fixes for https://github.com/eclipse/openj9/issues/11818 are merged.

[2021-01-29 20:36] fjeremic commented on #11611
In such an event I don't think we would generate any dumps, including the core dump because all of that is processed on the crashed thread.

[2021-01-29 20:41] fjeremic commented on #11813
Launched a 30 job grinder:
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/13606/

[2021-01-29 20:42] babsingh commented on #11256
Confirming that the reported failure is fixed once OJDK MHs are enabled in OpenJ9. Once OJDK MHs are officially enabled in OpenJ9, `VarHandleTestExact.java` should be enabled by removing the following lines:
- https://github.com/AdoptOpenJDK/openjdk-tests/blob/b3664d86df56cdcf3760d3b40613e7abc2a36152/openjdk/ProblemList_openjdk16-openj9.txt#L156
- https://github.com/AdoptOpenJDK/openjdk-tests/blob

[2021-01-29 20:43] smlambert commented on #11760
Is it only to be excluded for jdk16? or 16+?

Since its moved into its own test target in the playlist file, its now easy to exclude (based on https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/doc/userGuide.md#exclude-a-test-target), I can either manually change the playlist file to add a disabled section

[code]

or use the auto exclude feature we now have at the openjdk-tests repo and ty

[2021-01-29 20:43] hangshao0 commented on #10073
Seems related to storing unsafe classes in the shared cache. The error goes away if I destroy the existing cache that has unsafe classes and turn on `-XX:-ShareUnsafeClasses` in subsequent runs. After removing `-XX:-ShareUnsafeClasses`, the error comes back in a few runs.

I noticed that class `java.com.instana.agent.log.v1.LogDispatcher` is created by `Unsafe.defineClass()`

[2021-01-29 20:45] pshipton commented on #10243
JEP 360 tests have been enabled by https://github.com/eclipse/openj9/pull/11807

[2021-01-29 20:45] smlambert commented on #11760
Let me know version (16 or 16+), and is it all platforms?

[2021-01-29 20:49] tajila commented on #11760
@smlambert all platforms and 16+

[2021-01-29 20:55] gacholio commented on #11819
Does not fail with -Xint (at least in the trivial thing I tried). Better stack trace:
[code]

[2021-01-29 21:01] pshipton commented on #11030
@smlambert @llxia are there any openjdk tests for this that are already run or can be run?

[2021-01-29 21:03] pshipton commented on #11028
https://github.com/eclipse/openj9-docs/issues/664 is open so I'll close this.

[2021-01-29 21:03] #11028 closed

[2021-01-29 21:04] pshipton commented on #11419
Can we close this item now?

[2021-01-29 21:06] jonoommen commented on #11819
Must be from this block of code, @gacholio is there any misuse of `fomrobject_t` here? I widely tested this without getting a segfault in the past.

[code]

[2021-01-29 21:07] pshipton commented on #11391
Closing this as a dup of https://github.com/eclipse/openj9/issues/11390, this is being resolved via https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/266, which will have to be backported to jdk16 once the review completes.

[2021-01-29 21:07] #11391 closed

[2021-01-29 21:08] smlambert commented on #11760
Excluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2219

[2021-01-29 21:12] LongyuZhang commented on #11419
Yes, I think so, lockWordAlignment and [HCRLateAttachWorkload_previewEnabled_0](https://github.com/eclipse/openj9/issues/11642) fixes have been merged now.

[2021-01-29 21:14] gacholio commented on #11819
At a glance it seems right - for historical reasons we kept the type, but no one is allowed to do pointer math on those types. A largely debug-capable VM can be found in `/team/gac/mix` - crash reproduces every time with `gdb --args bin/javac -J-Xgc:dynamicBreadthFirstScanOrdering ../*.java`

[2021-01-29 21:15] pshipton commented on #11689
This also fails for jdk16, on Windows and Mac.
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_mac_Nightly/9
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_windows_Nightly/9

@ashbm5 we need an assessment of the severity, if this is a must fix for the jdk16 release or not.

[2021-01-29 21:16] pshipton commented on #11419
Thanks for getting all the test working!

[2021-01-29 21:16] #11419 closed

[2021-01-29 21:21] pshipton commented on #11240
With the resolution of https://github.com/eclipse/openj9/issues/11419 I believe this can be closed. Although, @SueChaplain is there an appropriate place in the doc to mention this change? It seems new versions of Java should refer to the OpenJDK project, such as http://openjdk.java.net/projects/jdk/16/, with an interpretation of what does and doesn't apply to OpenJ9.

[2021-01-29 21:21] #11240 closed

[2021-01-29 21:35] dmitripivkine commented on #11819
How `omrobjectptr_t` is defined this days?

[2021-01-29 21:43] IBMJimmyk commented on #11526
I was able to compile a build of my own with the problem where reading from `_listHead` was pulled out of the loop. I then tried chaning `_listHead` to be `TR_PersistentProfileInfo * volatile` and fixed up a few different code locations to deal with casting issues this caused. A build with this change no longer pulls the load out of the loop which fixes the issue.

I am currently going over nearby

[2021-01-29 21:51] llxia commented on #11030
It looks like there are several tests added. For example:
https://github.com/AdoptOpenJDK/openjdk-jdk16/tree/master/test/jdk/java/net/UnixDomainSocketAddress
https://github.com/AdoptOpenJDK/openjdk-jdk16/tree/master/test/jdk/java/nio/channels/unixdomain
https://github.com/AdoptOpenJDK/openjdk-jdk16/blob/master/test/jdk/java/nio/channels/spi/SelectorProvider/inheritedChannel/UnixDomainChannelTest.j

[2021-01-29 21:53] dmitripivkine commented on #11819
or alternatively if offset is in slots how we get slot size for it?

[2021-01-29 21:55] gita-omr commented on #11752
Thanks!

[2021-01-29 22:12] samasri opened #11829 "Optimizing GCM ByteBuffer Implementation"
This issue is to track the optimization of unbacked ByteBuffer processing in GCM.

The issue originated in my discussion with @keithc-ca [here](https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/266#discussion_r559732681). In Summary, ByteBuffers can be either backed or not backed by an array (indirect buffers vs direct buffers). Currently, the only way to send data from Java to OpenSSL (which

[2021-01-29 22:17] hangshao0 commented on #10620
https://github.com/eclipse/openj9/pull/11766 is merged.

[2021-01-29 22:19] pshipton commented on #11030
We should run these tests to validate the feature works with OpenJ9 and doesn't need VM support.

[2021-01-29 22:23] keithc-ca commented on #11829
JNI code can access the data in a direct buffer by using `GetDirectBufferAddress` (no copying required).
However, I believe there are more situations than just direct and array-backed buffers.

[2021-01-29 22:27] #10620 closed

[2021-01-29 22:28] pshipton commented on #8173
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_OMR/818
[code]

[2021-01-29 22:35] hangshao0 commented on #10620
I notice https://openjdk.java.net/jeps/390 is updated today. They had a typo in the option name in that page. They changed `-XX:DiagnoseSyncOnValuedBasedClasses=1/2` to `-XX:DiagnoseSyncOnValueBasedClasses=1/2`.

[2021-01-30 00:25] pshipton commented on #9851
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_cm_Nightly/1
[code]

[2021-01-30 00:30] mpirvu opened #11831 "Do not hold compQueueMonitor during outOfProcessCompilationEnd"
When the JIT finishes a compilation, it executes `postCompilationTasks()` and from there it calls `compilationEnd()` to commit to the JVM the result of this compilation. In doing so, it acquires the compQueueMonitor. The JITServer follows the same approach, except that from `compilationEnd()` it calls `outOfProcessCompilationEnd()` where the compiled body is sent back to the client.
It follows tha

[2021-01-30 01:12] jonoommen commented on #11819
Currently the `offset` that is being added to the `destinationObjectPtr` is calculated as such:

```int32_t fieldOffset = (comp()->fej9()->getInstanceFieldOffset(itr->second->_clazz, itr->second->_fieldName, itr->second->_fieldNameLength, itr->second->_fieldSig, itr->second->_fieldSigLength) + TR::Compiler->om.objectHeaderSizeInBytes()) / TR::Compiler->om.sizeofReferenceField();```

From testing p

[2021-01-30 01:41] pwagland opened #11832 "Unexpected java.lang.ArrayIndexOutOfBoundsException when running with -XX:+CompactStrings"
Java -version output
--------------------

openjdk version "11.0.9" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.9+11)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.23.0, JRE 11 Linux amd64-64-Bit Compressed References 20201022_810 (JIT enabled, AOT enabled)
OpenJ9   - 0394ef754
OMR      - 582366ae5
JCL      - 3b09cfd7e9 based on jdk-11.0.9+11)

Summary of problem
-------------

[2021-01-30 01:44] smlambert commented on #11760
Soon enough, openj9 will have some auto exclude features: https://github.com/eclipse/openj9/pull/11785 ;)

[2021-01-30 01:54] pwagland opened #11833 "substring error exception could be more useful"
Java -version output
--------------------

openjdk version "11.0.9" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.9+11)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.23.0, JRE 11 Mac OS X amd64-64-Bit Compressed References 20201023_788 (JIT enabled, AOT enabled)
OpenJ9   - 0394ef754
OMR      - 582366ae5
JCL      - 3b09cfd7e9 based on jdk-11.0.9+11)

Summary of problem
----------

[2021-01-30 02:15] pshipton commented on #11832
@fjeremic fyi

[2021-01-30 02:28] #11814 closed

[2021-01-30 13:13] pshipton opened #11834 "Mac libj9gc29.dylib: DW_DLE_VMM (9) dwarf format/library version mismatch"
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_mac_OpenJDK/393
osx1014-x86-2
[code]

[2021-01-30 13:22] pshipton opened #11835 "zlinux Mauve InetSocketAddress failures on Ubuntu18"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_Nightly_testList_1/57/
ub18-390-2
MauveSingleInvocLoad_special_5m_12
MauveSingleInvocLoad_special_5m_15
MauveSingleInvocLoad_special_5m_18
MauveSingleInvocLoad_special_5m_20
MauveSingleInvocLoad_special_5m_25
[code]

[2021-01-30 13:24] pshipton commented on #11835
Seems like a dup of https://github.com/eclipse/openj9/issues/11798. The Ubuntu 18 machines were disabled, but got re-enabled when jenkins was restarted.
@jdekonin fyi

[2021-01-30 13:26] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_mixed_Nightly/3/

[2021-01-30 13:35] pshipton commented on #11526
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_testList_2/57

[2021-01-30 13:40] pshipton commented on #11798
Another one https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_xl_Nightly_testList_1/244
Jenkins was restarted and the machines were re-enabled. Disabled them again.

[2021-01-30 16:20] dmitripivkine commented on #11819
I think `GC_SlotObject.addToSlotAddress()` should be used to calculate `(fomrobject_t*)(destinationObjectPtr + offset)`

[2021-01-30 18:29] gacholio commented on #11819
Yes, that calculation looks off - `offset` is in reference slots, so adding it to the object pointer doesn't seem right.

[2021-01-30 22:36] pshipton commented on #11834
Happened again in the next build, guess it's not intermittent. A side affect of https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/277 or something that changed in OpenJDK.
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_mac_OpenJDK/394

[2021-01-30 22:40] pshipton commented on #11531
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_xl_Nightly_testList_2/58
DaaLoadTest_daa2_special_5m_6
variation: Mode121
JVM_OPTIONS:  -Xgcpolicy:optavgpause -Xjit:count=0 -Xnocompressedrefs
[code]

[2021-01-30 22:47] pshipton opened #11836 "Windows MauveMultiThrdLoad_special_5m_12 hang"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly_testList_3/43
MauveMultiThrdLoad_special_5m_12
[2021-01-30T08:47:53.110Z] variation: Mode551
[2021-01-30T08:47:53.110Z] JVM_OPTIONS:  -XX:+UseCompressedOops -Xjit -Xgcpolicy:balanced
No diagnostics.
[code]

[2021-01-30 22:49] pshipton opened #11837 "win2012-x86-4 hung, needs reboot"
The following test shows when the machine stopped responding https://github.com/eclipse/openj9/issues/11836

It's disabled from jenkins. @jdekonin

[2021-01-30 22:54] pshipton commented on #9416
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_mixed_Nightly/3
[code]

[2021-01-30 22:59] pshipton opened #11838 "OpenJDK jdk16 java/foreign/TestLibraryLookup.java expected [1] but found [0]"
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_mac_Nightly/11
java/foreign/TestLibraryLookup.java
osx1014-x86-1
[code]

[2021-01-30 23:45] ashbm5 commented on #11689
This is an error in chacha20 block cipher. My assessment is that this is not a must fix for jdk16 release as the ChaCha20 algorithm intended user, the TLS v1.3 protocol, doesn't support its use (yet).

[2021-01-31 14:31] JasonFengJ9 opened #11839 "[aix_ppc-64] SE80_GIT TestSunAttachClasses_SE80_0 - Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `ibuild 464729`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

The native stack trace looks similar with an old issue https://github.com/eclipse/openj9/issues/9495

[2021-01-31 23:26] tajila commented on #10620
ah okay, can you please update that

[2021-02-01 08:20] srinayak666 commented on #11602
Hi @dmitripivkine ,
Thank You for the response.
below are the details about testing performed in windows and Mac as per your comments.
attached zip contains all the files.

**windows:**
Heap used:
vmarg.Xmx=-Xmx128m
vmarg.Xms=-Xms64m

-Xgcpolicy:gencon

**RUN-1:** [Normal exit]. (folder path in attached zip: memory_usage\Windows\RUN-1)
verbose gc logs: Normal_Win_GC.log
java_corefile:javacore.2021

[2021-02-01 09:42] SueChaplain commented on #11240
@pshipton - seems appropriate to put something in the release topic of the user guide. Perhaps we can list the features that would apply to an OpenJDK that is built with OpenJ9, and point to http://openjdk.java.net/projects/jdk/16/ for more information. We can make a special note of JEP396. Can you list the ones that apply please? I can see that some are definitely HotSpot specific, but not sure a

[2021-02-01 12:47] pshipton commented on #11834
Or likely caused by https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/276. Created https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/278 to check.

[2021-02-01 13:15] pshipton commented on #11834
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/278 didn't help.

[2021-02-01 13:39] pshipton commented on #11839
This has been failing since the test was apparently un-excluded on 2020-08-04. There is a core.
@tajila

[2021-02-01 14:38] jdekonin commented on #11837
`/cygdrive/f/Users/jenkins/workspace` manually cleaned after reboot, machine added back to jenkins for work.

[2021-02-01 15:29] amicic opened #11841 "Region-Based Low-Pause GC based on Balanced GC policy"
This is a high level proposal, with main aspects elaborated (proposed approaches to be taken, listed possible challenges and alternatives).

- PGC (Partial GC) what is an evacuating style of GC will be made concurrent. Load Reference Barrier will be triggered on region check via a look up table.

As it's the case already (with STW variant), it will be by default an one-pass GC, where references ou

[2021-02-01 15:36] fjeremic commented on #11832
Yes, it seems we should be calling `decompress` in the `else` path to decompress the compressed string, and then we need to copy `c` into the buffer. @dchopra001 could you look into providing a fix for this? Let's also check the other private constructors to ensure the same issue does not exist.

[2021-02-01 16:06] hangshao0 commented on #10620
The PR https://github.com/eclipse/openj9/pull/11830 to update that has already been merged by Peter.

[2021-02-01 16:06] dmitripivkine commented on #11602
Comparing `NATIVEMEMINFO` sections from java cores:
for Windows (good layout) - for reference
[code]

for Mac:
[code]

So from this data alone (not even discussing effectiveness of GC):
- JVM on Mac occupies ~200MB more than on Windows
- the major difference of memory usage is in JIT Code Cache - about 250MB larger on Mac that Windows
- JVM on Mac seems does not use Shared Classes (even `-Xscmx64m

[2021-02-01 16:22] pshipton commented on #10243
Jep384Tests has been enabled by https://github.com/eclipse/openj9/pull/11678

[2021-02-01 16:22] #10243 closed

[2021-02-01 16:33] fjeremic commented on #11602
There used to be an option to optimize for size but it has been removed because it was not tested well and we have not seen it used in practise ever. If you don't care about throughput performance and want the smallest footprint you can try disabling inlining which should in theory help. You can try this via `-Xjit:disableInlining`. However be aware that your throughput will _tank_ with that optio

[2021-02-01 16:39] hangshao0 commented on #11602
See https://www.eclipse.org/openj9/docs/shrc/#best-practices-for-using-xshareclasses. So better to use `-Xshareclasses:name=<cacheName>,cacheDir=<dir>,cacheDirPerm=<permission>,nofatal`.

When sub-option `nofatal` is used, the JVM will ignore the error if there is a problem opening or creating the shared cache and JVM will start up without the shared cache. It is better not to use `nofatal` in the

[2021-02-01 16:41] mpirvu commented on #11831
@dmitry-ten Could you please look into this? Should be an easy fix.

[2021-02-01 16:41] sharon-wang commented on #11768
If no other comments, I think I'll just close this issue.

[2021-02-01 17:03] pshipton commented on #11602
No -Xshareclasses options are specified in this case. Shared classes is enabled by default, but won't be used if there is a problem since the default is equivalent to `-Xshareclasses:bootClassesOnly,nonfatal` . Pls try on Mac with `-Xshareclasses:bootClassesOnly,verbose -Xscmx64m` and capture the console output so we can see what's going on.

[2021-02-01 17:05] #11837 closed

[2021-02-01 17:06] pshipton commented on #11832
I'll tentatively tag this for the 0.25 milestone as there should be time to get a fix in before the release.

[2021-02-01 17:15] IBMJimmyk commented on #11526
https://github.com/eclipse/openj9/issues/11526#issuecomment-770213629

That failing test didn't create a corefile but it did come with a javacore. It looks to be the same issue. There's a hang in a compilation thread. Based off the offset into `libj9jit29.so` it is also in a similar location.

[2021-02-01 17:36] srinayak666 commented on #11602
Hi @pshipton ,

I have specified :
-Xshareclasses:bootClassesOnly,nonfatal

attached are the javacore and verbose logs.

I see below error in verbose logs:
JVMSHRC226E Error opening shared class cache file
JVMSHRC336E Port layer error code = -102
JVMSHRC337E Platform error message: Permission denied
JVMSHRC840E Failed to start up the shared cache.
JVMSHRC686I Failed to startup shared class cache.

[2021-02-01 18:33] pshipton commented on #11602
The default shared cache location is the user's home directory, which seems to get permission denied. You can see the default location and name via `-Xshareclasses:bootClassesOnly,printCacheFileName`.

Please try specifying a different location for the cache. Note you can only have one `-Xshareclasses` option that includes all the sub-options, the right most option takes precedence.

You can also

[2021-02-01 18:44] pshipton opened #11843 "shrtest_win_SE80_0 testFailedConstructor abort"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly_testList_0/240/
shrtest_win_SE80_0
[code]

[2021-02-01 18:50] pshipton commented on #10984
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly_testList_0/56
SC_Softmx_JitAot_Linux_1
16.jvm4.stderr
[code]

[2021-02-01 18:52] fjeremic commented on #11729
Just dropping in to say I appreciate that offline discussions are being summarized here, or the discussions are held here exclusively. This helps those of us on the sidelines understand what is motivating the work that is to come. Thanks again and keep it up!

[2021-02-01 18:54] #10977 closed

[2021-02-01 19:05] keithc-ca commented on #11834
Expecting that the problem was related to a change in the format of the output of `dwarfdump-classic` (or `dwarfdump`) for `libj9gc29`, I did a build on an internal machine so I could examine `DWARF/libj9gc29.dylib` manually. That build succeeded, so I tried again on `osx1014-x86-2`; that build also succeeded. The same code paths are exercised (as far as DDR is concerned) for other Java versions w

[2021-02-01 19:06] tajila commented on #11721
Apologies @pshipton, I missed this message.

[2021-02-01 19:09] rrozenshteyn-jha commented on #11611
Hi @pshipton,

I just sent you (hopefully) an email containing the requested full core as an attachment.  Let me know if there are any issue getting the email or its attachement.

Thanks,
Roman.

[2021-02-01 19:10] tajila commented on #11617
@gacholio can you take a look at this

[2021-02-01 19:43] pshipton commented on #11611
@liqunl I've put core.11993338.29005148.zip in the Box folder.

[2021-02-01 19:50] pshipton commented on #11834
If nothing else, the script that gathers files for the diagnostics.tar.gz can be modified, and we can run the build again.

[2021-02-01 20:07] pshipton opened #11846 "DaaLoadTest_daa1_CS_5m_0 crash vmState=0x00020002"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64_aix_xl_Nightly/55
DaaLoadTest_daa1_CS_5m_0
[code]

[2021-02-01 20:07] pshipton commented on #11846
@dmitripivkine

[2021-02-01 20:09] pshipton commented on #11531
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_xl_Nightly/622
ClassLoadingTest_special_5m_6
[code]

[2021-02-01 20:10] IBMJimmyk commented on #11526
I've opened a PR that should fix this Issue. `_listHead` now gets marked as being `volatile` and will no longer be pulled out of the loop.

[2021-02-01 20:17] pshipton commented on #11689
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_linux_Nightly/12
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_mac_Nightly/13
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_windows_Nightly/12

[2021-02-01 20:24] keithc-ca commented on #11834
See #11847.

[2021-02-01 20:26] pshipton commented on #11689
Created https://github.com/AdoptOpenJDK/openjdk-tests/pull/2221 to exclude the tests, moving to the next milestone.

[2021-02-01 22:20] Ram-Krishnamurthy commented on #11602
As we work through the shared classes issue, that only addresses the 200M startup cost. Is there anything else in the logs which points to why the steady state memory keeps growing and not releasing memory?

Thanks so much!

[2021-02-01 22:40] pshipton commented on #9416
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_OMR/820
[code]

[2021-02-01 23:22] JasonFengJ9 commented on #6777
From an internal build `Test_openjdknext_j9_extended.functional_x86-64_linux_jit_Nightly/214`:
[code]

[2021-02-02 01:35] knn-k opened #11851 "AArch64: Illegal instruction in jit_hw_2"
Failure link
------------

https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk11_j9_extended.functional_aarch64_linux/107/tapResults/

You can find the same failure from 103 (on January 26) to 107 (on February 1), while 102 on January 20 was OK.  Results before 102 is unavailable.

Optional info
-------------

- intermittent failure: no
- regression or new test: regression
- if regre

[2021-02-02 02:12] knn-k commented on #11851
I ran the test locally with OpenJDK11U-jdk_aarch64_linux_openj9_2021-02-01-15-59.tar.gz 15 times, but I could not reproduce the failure.

[2021-02-02 07:10] knn-k commented on #11851
This could be a target-specific problem.

- Build 102 (success) was run on test-packet-ubuntu1604-armv8-2.
- Builds 103-107 (failure) was run on build-packet-ubuntu1804-armv8l-1a/b/c.

I ran the jit_hw_2 test three times with Grinder on test-packet-ubuntu1604-armv8-2, and they all passed.
https://ci.adoptopenjdk.net/job/Grinder/6230/

[2021-02-02 09:08] andrew-m-leonard opened #11852 "Test_openjdk16_j9_extended.functional_ppc64_aix fails and then hangs"
https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.functional_ppc64_aix/17/console
[code]
Machine: test-ibm-aix71-ppc64-1

[2021-02-02 09:22] zheddie opened #11853 "Document error?"
https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Compiler_Only.md

I am trying this instruction, but got a few errors reported.
Firstly, for following instruction: I would guess it's trying to point to the path of tracegen, while current build of openj9 has tracegen under $JAVA_BASE/vm/runtime.
[code]
Secondly, when I do the make , I got following error: Looks like it fai

[2021-02-02 13:17] JasonFengJ9 opened #11854 "JDK8 ppc64le_linux : cmdLineTester_jep178_staticLinking_SE80_0_FAILED"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly/602`:
[code]
to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
03:18:30  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=functional&P

[2021-02-02 13:28] pshipton opened #11855 "jdk8 testSCCMLSnapshot buildID test failing after switch to cmake"
All jdk8 platforms but Windows. Fairly certain this is caused by the switch to build with cmake.

https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All/1172/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly_testList_1/245/
testSCCMLSnapshot_0
testSCCMLSnapshot_1
[code]

https://github.com/eclipse/openj9/compare/5e0957a...e99b656
https://github.com/ecli

[2021-02-02 13:34] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_1/241
testDDRExt_Callsites_0
osx1011-x86-2
[code]

[2021-02-02 13:38] pshipton commented on #11854
Happens in the open builds as well. I expect this is caused by the switch to build with cmake, similarly to https://github.com/eclipse/openj9/issues/11854
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly/619/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_xl_Nightly/404/

https://github.com/eclipse/openj9/compare/5e0

[2021-02-02 13:49] pshipton commented on #11853
@dsouzai fyi

@zheddie which version and platform are you building?

[2021-02-02 13:56] tajila commented on #10964
@JasonFengJ9 has this issue showed up since?

[2021-02-02 13:58] pshipton opened #11856 "Jep397Tests_0 failing on some platforms"
Test introduced by https://github.com/eclipse/openj9/pull/11606

https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.functional_ppc64_aix_Nightly_testList_0/13/
Jep397Tests_0
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.functional_x86-64_linux_Nightly_testList_0/14
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.functional_s390x_linux_Nightly_testList_1/14/

[2021-02-02 13:59] pshipton commented on #11856
@mikezhang1234567890 pls take a look

[2021-02-02 14:02] pshipton commented on #11856
@llxia fyi

[2021-02-02 14:11] JasonFengJ9 commented on #10964
No, it wasn't observed afterwards. Currently `x86-64_linux_valhalla` runs against JDK17 instead.

closing.

[2021-02-02 14:11] #10964 closed

[2021-02-02 14:20] LinHu2016 commented on #6777
noticed that new parameter **-XX:+UseJITServer** has added for the test, it might not be related with the test failure, need the detail gclog files for investigation.

[2021-02-02 14:25] tajila commented on #11273
We have delivered all items for this feature.

[2021-02-02 14:29] JasonFengJ9 commented on #6777
This failure occurred at JIT Server build (JDK17).

[2021-02-02 14:29] llxia commented on #11856
The test passed on wins and mac, but failed on aix, s390 and ppcle

From `<internal TRSS>/testPerPlatform?testId=601915a8d39ffe5b180f2c99`

![image](https://user-images.githubusercontent.com/19273206/106613820-9c501500-6538-11eb-944e-85182805a06d.png)

[2021-02-02 14:30] #11273 closed

[2021-02-02 14:35] keithc-ca commented on #11768
It might make a (small?) performance difference removing an extra directory from each of these search paths:
[code]
It takes longer to search a directory and fail than it does to succeed.

We don't *need* to eliminate the redirector, so those experiments would still be possible.

[2021-02-02 14:43] jdekonin commented on #11798
Machine issues apparently resolved.  I've rebooted them as suggested and enabled for use.

I also launched a grinder on ub18-390-1 to verify.
https://ci.eclipse.org/openj9/job/Grinder/1486/console

[2021-02-02 14:48] vijaysun-omr commented on #11841
@DanHeidinga @mstoodle @tajila @0xdaryl for your awareness.

@joransiu and @zl-wang you may also want to read through this with an eye on P/Z features.

[2021-02-02 15:09] pshipton commented on #11856
I thought it did pass on plinux 5 days earlier when PR testing ran https://github.com/eclipse/openj9/pull/11606#issuecomment-769435494

[2021-02-02 15:12] jdekonin commented on #11835
Machines are back in service as per #11798.

https://ci.eclipse.org/openj9/job/Grinder/1489/console

[2021-02-02 15:13] pshipton commented on #11856
I see in that earlier PR testing the test didn't run at all.

[2021-02-02 15:16] pshipton commented on #11838
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_linux_Nightly/13
cent7-x64-6
[code]

[2021-02-02 15:16] pshipton commented on #11838
@tajila someone should look at this intermittent failure

[2021-02-02 15:25] mikezhang1234567890 commented on #11856
Taking a look.

[2021-02-02 15:34] tajila commented on #11838
@JasonFengJ9 Can you please take a look at this

[2021-02-02 15:51] JasonFengJ9 commented on #11838
Sure, will look into this.

[2021-02-02 15:59] keithc-ca commented on #11834
`ddrgen` is choking on lines like this:
[code]
It should probably just ignore them.

[2021-02-02 16:05] pshipton opened #11858 "Performance evaluation of jdk16+ Class.newInstance()"
https://github.com/eclipse/openj9/pull/11631 changes the implementation of Class.newInstance() for jdk16+, which may affect performance. For non-bootstrap callers, instead of calling the newInstanceImpl native, it basically gets the Constructor and calls Constructor.newInstance() instead. There is overhead in getting the reflection object via the reflection cache, and using the reflection optimiza

[2021-02-02 16:20] keithc-ca commented on #11834
Longer term we should add support and prefer to use the new `dwarfdump` utility because the compiler appears to be using tags introduced in DWARF version 5. The following contrasts the old and new presentations of the same tag from the same file.

`dwarfdump-classic`:
[code]
`dwarfdump`:
[code]

[2021-02-02 16:44] jdekonin commented on #11798
Grinder passes, so looking good again.

[2021-02-02 16:45] jdekonin commented on #11781
Systems are online and functional again.

[2021-02-02 16:50] #11835 closed

[2021-02-02 16:55] #11798 closed

[2021-02-02 16:56] #11781 closed

[2021-02-02 17:03] #11856 closed

[2021-02-02 18:00] pshipton commented on #11855
Fixed via https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/475

[2021-02-02 18:00] #11855 closed

[2021-02-02 18:00] fjeremic opened #11860 "Make diagnostic thread compilations uninterruptible"
It is possible that due to an external effect, for example running out of JIT code cache, GC wanting to unload classes, etc. the diagnostic thread compilation may be interrupted. We want to ensure this does not happen by making compilations on the diagnostic thread uninterruptible so that we can always generate a JitDump.

[2021-02-02 18:22] mpirvu commented on #11787
Fixed by #11823

[2021-02-02 18:22] #11787 closed

[2021-02-02 18:29] chrisc66 commented on #11587
Thanks, the binary helm chart will be stored as a file in PRs.

Closing this issue since no further discussion needed.

[2021-02-02 18:29] #11587 closed

[2021-02-02 18:30] pshipton commented on #11854
As expected, this is not resolved by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/475. The similar test cmdLineTester_jep178_staticLinking_0  does run and pass on jdk11, seems like some other change didn't get backported.

[2021-02-02 18:33] mpirvu commented on #11687
FYI @dmitry-ten
For JITServer, each compilation thread reserves a data cache and at the end of the compilation that data cache is reset (allocation pointer moved back to original position) and unreserved:
[code]
To read the amount of data cache space used you check the available space in the reserved data cache `comp->getReservedDataCache()`
The memory segment backing the data cache grows from `_s

[2021-02-02 18:39] pshipton commented on #11854
Just realized the test is listed for jdk11 but is disabled.

[2021-02-02 18:58] dmitripivkine commented on #11846
this is crash stack:
[code]

The problem occur in `scanOwnableSynchronizerObjects()`, this is duplicate of https://github.com/eclipse/openj9/issues/10489

[2021-02-02 18:58] #11846 closed

[2021-02-02 19:00] dmitripivkine commented on #10489
I believe this is PPC specific problem, so adding proper tag

[2021-02-02 19:19] #11831 closed

[2021-02-02 22:29] harryyu1994 commented on #10689
# Summary of the Task

## Background
Portable AOT is a customized set of compiler features to be used when we want our AOT code to be portable across different machines.
This customized set of compiler features include cpu features, gc policy, cr shift, barrier type, compressed/full.

## Problem
During warm runs, we should avoid running in Portable AOT mode if the customized set of compiler featur

[2021-02-02 22:38] ashbm5 commented on #11689
@pshipton i'm having chao look at this issue

[2021-02-02 22:38] dmitry-ten commented on #11687
Code and data cache size measurements for AcmeAir (1 client, 4CPUs per client, 2 runs):
[code]
So most compilations are orders of magnitude smaller than 2MB and even the largest ones do not come close to approaching 2MB. Thus, reducing the size to 1MB or even to 512KB should be pretty safe.

[2021-02-02 22:43] pshipton commented on #11689
Thanks. I'll tentatively move it back to the 0.25 milestone.

[2021-02-02 22:55] JasonFengJ9 commented on #11838
It is ~2/100 failure rate.

[2021-02-02 22:59] hangshao0 commented on #10073
Unsafe classes should be stored as orphan in the SCC. However, they are incorrectly stored as normal romclasses here. With the change in https://github.com/eclipse/openj9/pull/11864, the error in this issue goes away.

[2021-02-02 23:04] mpirvu commented on #11687
Great! Let's reduce it to 1MB just in case other applications have larger methods.

[2021-02-02 23:13] mpirvu commented on #11687
Sizes are written in `onLoadInternal()` in `jitConfig->codeCacheKB` and `jitConfig->dataCacheKB`.
The tricky part is that we need to process options first to know that we are in server mode.

[2021-02-02 23:26] mpirvu commented on #11687
I am proposing to change `fePreProcess()` to add a test for `if (vm->internalVMFunctions->isJITServerEnabled(vm))` and change the default size of the code cache and data cache. This test needs to be placed before the logic that read the code cache size and data cache size from the command line options, to allow the user to change the default value. Hence, the new code needs to stay towards the beg

[2021-02-03 02:36] 1a2s3d4f1 opened #11866 "Eden initial size problem"
Java -version output
--------------------

[code]

Summary of problem
------------------
Use Balanced gc:
When set -Xmx1024M -Xms1023M. The eden initial committed size is Xmns value.

If set Xmx=Xms, the eden initial committed size is Xmnx value (jvm can expansion eden size)

Diagnostic files
----------------
MC server gc log:
Xmx=Xms:[verbosegc.20210203.095225.2492.zip](https://github.com/eclipse

[2021-02-03 02:53] knn-k commented on #11805
The same timeout happens in https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/172/consoleText .
Build 171 was successful.

[2021-02-03 03:59] knn-k commented on #9316
Hi,
What is the recent outlook for monthly releases after moving to Adoptium later this year?

[2021-02-03 13:15] lumpfish commented on #7397
Raised https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/402 to get more diagnostics

[2021-02-03 13:20] JasonFengJ9 commented on #11775
Occurred at `JDK16 AIX` in an internal build `Test_openjdk16_j9_extended.functional_ppc64_aix_Nightly_testList_0/19`
[code]

[2021-02-03 13:56] pshipton opened #11868 "MiniMix_5m_0 hang at 100%"
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.system_ppc64le_linux_Nightly_testList_1/15
MiniMix_5m_0
javacore files and core file in diagnostics
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk16_j9_extended.system_ppc64le_linux_Nightly_testList_1/15/system_test_output.tar.gz
[code]

[code]
[code]
[code]
Possibly related to https://github

[2021-02-03 14:30] #11687 closed

[2021-02-03 14:48] #11522 closed

[2021-02-03 14:48] #11523 closed

[2021-02-03 15:43] dmitripivkine commented on #11866
Yes, I see behaviour you are talking about and it is confusing obviously.
Current implementation overwrites Eden initial size by Eden max size if fully expanded heap is detected.
@amicic @cedrichansen Is it intentional or some kind of side effect? Can it be improved?

[2021-02-03 15:47] cedrichansen commented on #11866
That is expected behaviour.
Whenever the heap size is equal to -Xmx value, eden will be set to -Xmnx value. See https://github.com/eclipse/openj9/blob/339a3a6c0c2bfeab644ab8db8c67b6f91c3aa947/runtime/gc_vlhgc/SchedulingDelegate.cpp#L1078

[2021-02-03 16:27] pshipton commented on #9416
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_OMR/822
[code]

[2021-02-03 16:47] #10073 closed

[2021-02-03 18:21] zl-wang commented on #11841
@amicic
arraylet is still required, or PGC can do without it?
any hardware feature you envisioned helping PGC run well/better?

[2021-02-03 18:39] dmitry-ten opened #11870 "Refactor resolved method mirroring on JITServer client"
In the current implementation, when a client needs to mirror a resolved method, i.e. create a resolved method locally, pack its parameters and send them to the server so that it can create its own resolved method, we duplicate most of the code for the appropriate `getResolved*Method`, instead of just calling the method directly.
Example:
https://github.com/eclipse/openj9/blob/9e4aac7accb53681bda2c

[2021-02-03 18:40] dmitry-ten commented on #11870
@mpirvu, fyi.

[2021-02-03 19:16] Leonardo2718 commented on #9416
I've opened #11871 to add some tracing that should help further diagnose this issue.

[2021-02-03 19:54] dmitripivkine commented on #9441
@tajila Now, when Macros are fixed, Scavenger and Compact support added to Standard Collectors I think we can close this item. However "scan classes from FCC" is required to be added to complete handling of FA in Standard collectors

[2021-02-03 20:12] #9441 closed

[2021-02-03 20:16] rmnattas commented on #11752
I believe there's an overlap in the code in saving/restoring VSR and FPR registers.
https://github.com/gacholio/openj9/blob/vector/runtime/oti/phelpers.m4#L456-L734

The instructions `lxvd2x` and `stxvd2x` index VSR (not VR) registers and saving the registers VSR[0-51] then FPR[0-13] (loading FPR[0-13] then VSR[0-51] in restore) overlap.
FPR store/restore is under `L_no_VR_save_` (which could be c

[2021-02-03 20:17] babsingh opened #11872 "JDK16 Test: TestConstructorFinder fails"
### Error details

With OpenJ9 MHs, the error is:

[code]

With OJDK MHs enabled in OpenJ9, the error is:
[code]

### Run the test

[code]

### Resources
- JDK16 extensions repo: https://github.com/ibmruntimes/openj9-openjdk-jdk16
- JTreg-5.1: https://ci.adoptopenjdk.net/view/Dependencies/job/jtreg/lastSuccessfulBuild/artifact/

[2021-02-03 20:21] babsingh commented on #11872
This should be tagged with `project:MH`.

[2021-02-03 20:42] gacholio commented on #11752
This code is not optimized - for some of the helpers, I require the FPRs to be stored even when VRs are in use. The restore code restores the FPRs first, then the VRs if need be, so all of the values should be correctly preserved - this code could certainly be modified to do one or the other instead of both.

[2021-02-03 20:43] pshipton commented on #11872
I won't tag this as jdk16 since with OpenJ9 MH the problem occurs on jdk11 as well, possibly other versions.

[2021-02-03 21:01] tajila commented on #11872
this looks similar to https://github.com/eclipse/openj9/issues/11433

[2021-02-03 21:10] liqunl commented on #11611
@rrozenshteyn-jha Unfortunately, the core file is truncated. Have you followed every step of https://www.ibm.com/support/pages/enabling-aix%C2%AE-system-generate-full-core-file?
The core file limit might not be enough, could you set it to `unlimited` using `ulimit` command
Please also make sure you have sufficient disk space to hold the core file (the -Xmx size +1GB is normally good).

[2021-02-04 01:29] rrozenshteyn-jha commented on #11611
Sorry about that.  I have just sent @pshipton another email with the link to download another jextracted core which we double-checked is not truncated.

[2021-02-04 01:53] #9522 closed

[2021-02-04 01:53] #11765 closed

[2021-02-04 01:53] #11770 closed

[2021-02-04 01:53] #11772 closed

[2021-02-04 04:01] pshipton commented on #11611
@liqunl I've put core.17367234.04005900.zip in the Box folder.

[2021-02-04 08:27] knn-k commented on #11851
The size of a compiled method was 1.2 MB (0x133504 bytes).  It is larger than the range of AArch64 conditional branch.  It failed to jump to a StackCheckFailure snippet.

[code]

[2021-02-04 13:05] JasonFengJ9 commented on #10993
Seen in an internal JDK11 AIX mixed build `Test_openjdk11_j9_sanity.openjdk_ppc64_aix_mixed/1`:
[code]

[2021-02-04 13:07] JasonFengJ9 commented on #9186
Also seen in an internal JDK11 AIX mixed build `Test_openjdk11_j9_sanity.openjdk_ppc64_aix_mixed/1`.

[2021-02-04 13:44] pshipton opened #11875 "TestJlmRemoteThreadNoAuth_1 hang in socketRead on zlinux ub18 machine"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_mixed_Nightly_testList_0/8/
TestJlmRemoteThreadNoAuth_1
ub18-390-2
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_sanity.system_s390x_linux_mixed_Nightly_testList_0/8/system_test_output.tar.gz
[code]
Seems to be hung in socketRead
[code]

[2021-02-04 13:44] pshipton commented on #11875
@jdekonin hopefully there aren't still network problems on the zlinux Ubuntu 18 machines.

[2021-02-04 13:46] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_OpenJDK8/29

[2021-02-04 14:21] jdekonin commented on #11875
Not that I am aware of.  I did grinders on the failing jobs in the previous issues and I am pretty certain they all passed.

[2021-02-04 14:23] jdekonin commented on #11875
system.special was aborted due to timeout but it didn't look healthy - #11835
functional.extended passes - #11798

[2021-02-04 14:39] pshipton commented on #11854
Created https://github.com/eclipse/openj9/pull/11876 to exclude the failure until it can be resolved.

[2021-02-04 14:51] pshipton commented on #11875
I'm hoping this was just some network blip, will see if it occurs again in subsequent builds.

[2021-02-04 14:55] pshipton commented on #10834
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Personal/1087/console

[2021-02-04 16:11] pshipton opened #11878 "SharedClasses.SCM23.MultiCL_0 Bus error - out of space?"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_mac_mixed_Nightly_testList_0/5/
SharedClasses.SCM23.MultiCL_0
variation: Mode110
JVM_OPTIONS:  -Xjit -Xgcpolicy:gencon -Xnocompressedrefs

osx1014-x86-3
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_extended.system_x86-64_mac_mixed_Nightly_testList_0/5/system_test_output.t

[2021-02-04 16:11] pshipton commented on #11878
@jdekonin a bus error likely means the machine is (was) out of space.

[2021-02-04 17:22] pshipton commented on #11854
Created a build using latest sources but without cmake, and confirmed the test passes. Proving it's a cmake problem.
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1494

[2021-02-04 17:33] AhwiniMirajkar commented on #11791
Can I work on this

[2021-02-04 17:34] AhwiniMirajkar commented on #11384
Can I work on this

[2021-02-04 17:35] AhwiniMirajkar commented on #11286
Can I work on this

[2021-02-04 17:52] gacholio commented on #11617
Actual stack trace:
[code]

[2021-02-04 18:00] smlambert commented on #11286
Oh, looks like someone beat you to it @AhwiniMirajkar !

This issue can be closed via https://github.com/AdoptOpenJDK/openjdk-tests/issues/2144.

I will scan through the other comp:test issues to see if there are other similar ones that can be worked on.

[2021-02-04 18:02] #11286 closed

[2021-02-04 18:05] smlambert commented on #10227
Latest [run-aqa](https://github.com/AdoptOpenJDK/run-aqa/actions) runs of functional tests against hotspot are all running green, so this issue can be closed.

[2021-02-04 18:05] #10227 closed

[2021-02-04 18:10] smlambert commented on #5066
Latest [run-aqa](https://github.com/AdoptOpenJDK/run-aqa/actions) tests of functional material against hotspot is passing, so I will close this issue.

[2021-02-04 18:10] #5066 closed

[2021-02-04 18:19] smlambert commented on #5022
Closing this issue, as its partly addressed through existing TKG features (which lists disabled playlist tests as part of the TKG and TAP summary).

Since the reason for this issue was to ensure that we re-include disabled tests in a timely manner, further work will be accomplished under https://github.com/AdoptOpenJDK/openjdk-tests/issues/1853.

[2021-02-04 18:19] #5022 closed

[2021-02-04 18:30] gacholio commented on #11617
The field being looked up is `fill_cache` signature `Z`. It seems the incoming J9Class is bad which eventually results in the crash.

The intended class (based on a JNI local ref in the native frame) is `org/fusesource/leveldbjni/internal/NativeReadOptions` which indeed has the requested field.

[2021-02-04 18:32] smlambert commented on #3548
There were several issues, all of which have been addressed via:
https://github.com/AdoptOpenJDK/openjdk-tests/pull/2059
https://github.com/AdoptOpenJDK/openjdk-tests/pull/2121
https://github.com/AdoptOpenJDK/stf/pull/89
https://github.com/AdoptOpenJDK/stf/pull/94

Test jobs now also report on any processes that were left and not killed, so we may see and catch any other problems (especially helpf

[2021-02-04 18:32] #3548 closed

[2021-02-04 18:45] smlambert commented on #2123
I think this is partially addressed now, and perhaps any further enhancement could be captured as an enhancement feature in https://github.com/AdoptOpenJDK/TKG now that it is moved to a standalone repository.

Shall we close this issue ?

[2021-02-04 18:51] smlambert commented on #2111
I believe the untracked files are now checked in via https://github.com/eclipse/openj9/pull/2404 so will close this issue.

[2021-02-04 18:51] #2111 closed

[2021-02-04 19:18] jdekonin commented on #11878
At the point of the failure

[code]

Which is odd because an hour before as well as at the beginning of the test job it shows there is +400GB free.

04:35:50  Total memory (bytes) : 8388608
04:35:50  Free memory (bytes) : 6023288
...
04:35:50  Total space (bytes) : 499963174912
04:35:50  Free space (bytes) : 444849528832
04:35:50  Usable space (bytes) : 440914223104
[code]

[2021-02-04 19:23] #11878 closed

[2021-02-04 19:24] pshipton commented on #11878
There were a number of special.system tests failing and creating core files, not sure if that is related. It shouldn't occur any more.

[2021-02-04 19:33] gacholio commented on #11617
Manually deconstructing the C stack:
[code]

[2021-02-04 19:40] gacholio commented on #11617
`RBX` is the `JNIEnv*` and `RDX` is the `jclass` being queried. `getFieldID` simply passes the values on after setting a flag in the outgoing arg area.

`getMethodOrFieldID` stores the values into the arg area of the caller. Upon entry to this function, `RSP` is `0x16810ff190`. From the stack above:
[code]
The thread value is correct. The class ref is bad:
[code]
The correct class ref (from the ja

[2021-02-04 19:41] gacholio commented on #11617
From all this, I conclude that the error is in the JNI native somewhere - a bad `jclass` is being passed to the VM. Do we have access to the source for the native library?

[2021-02-04 19:43] llxia commented on #2123
Yes, I think this is partially addressed by test list. I will close this issue.

[2021-02-04 19:43] #2123 closed

[2021-02-04 19:49] smlambert commented on #11617
At least part of the dbshootout benchmark lives here:
https://github.com/renaissance-benchmarks/renaissance/tree/master/benchmarks/database

[2021-02-04 19:57] dmitripivkine commented on #11384
Thank you very much for offering help.
Unfortunately we reviewed this idea again and decided not go ahead with this improvement as far as we are planning to implement new way of handling of Ownable Synchronizers

[2021-02-04 19:57] #11384 closed

[2021-02-04 20:00] liqunl commented on #11611
@rrozenshteyn-jha What is the call stack of the latest crash? I can't get a sensible call stack and I wonder if the JDK I'm using matches the one that generated the core dump. Are you still using build `20201022_802`?

[2021-02-04 20:10] gacholio commented on #11839
[code]

[2021-02-04 20:16] gacholio commented on #11839
Assuming the crash is using an uninitialized or bad monitor, the likely caller is:

https://github.com/eclipse/openj9/blob/862846d33bdd40f4e3e3c2e3707bd94e107f7661/runtime/sunvmi/sunvmi.c#L831

The value is initialized in the core:
[code]

[2021-02-04 20:19] gacholio commented on #11839
The attach thread is forked from java, so I don't see how there could be a race condition where the CTM is uninitialized.

[2021-02-04 20:23] gacholio commented on #11617
Thanks @smlambert but there's not much there.

[2021-02-04 20:53] smlambert commented on #11617
ya, I have to look through the whole repo and what else gets pulled in...

[2021-02-04 21:59] dsouzai opened #11884 "Consolidate definition of snprintf"
There are several .cpp files that do
[code]
This is particularly frustrating because it means that anytime a new `snprintf` is added somewhere, the dev has to remember to add this definition. This should really be put in a single header somewhere that's visible to everyone.

[2021-02-04 22:02] dsouzai commented on #11884
jenkins test sanity win jdk8

[2021-02-04 22:32] smlambert commented on #1795
If this still exists as an issue, I think we should transfer it to the TKG repo (where the fix will need to occur).
FYI @renfeiw @llxia

[2021-02-04 22:47] shanchao95 commented on #11689
@pshipton PR is open for the fix of ChaCha20Poly1305ParamTest failure.

[2021-02-04 23:57] renfeiw commented on #1795
I think this issue not longer exists after we move to java version of TKG. Just ran a grinder to verify: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_TKG/171/

[2021-02-05 01:12] rrozenshteyn-jha commented on #11611
@liqunl here's the info provided by the engineer who obtained the core file (it looks like this time it was with the version 11.0.10)

symXchange.EXE:

                        ***Loader Section***
                      Loader Header Information
VERSION#         #SYMtableENT     #RELOCent        LENidSTR
0x00000001       0x0000003e       0x000000f5       0x000000b4

#IMPfilID        OFFidSTR

[2021-02-05 01:44] pshipton commented on #11689
I'll keep this open until the other versions are fixed as well.

[2021-02-05 01:49] pshipton commented on #11689
Opened https://github.com/AdoptOpenJDK/openjdk-tests/pull/2236 to un-exclude the test.

[2021-02-05 02:15] smlambert commented on #1795
Thanks for confirming @renfeiw !  I will close this issue.

[2021-02-05 02:15] #1795 closed

[2021-02-05 07:05] #9595 closed

[2021-02-05 07:19] Akira1Saitoh commented on #11805
Looked into a core dump.
`ForkJoinPool-1-worker-2` is waiting to be notified.

[code]

`ForkJoinPool-1-worker-1` is waiting for a lock ForkJoinPool-1-worker-2 has.

[code]

[2021-02-05 08:41] 1a2s3d4f1 opened #11886 "Unexpected java.lang.ArrayIndexOutOfBoundsException when using balanced gc"
Java -version output
--------------------

[code]

Summary of problem
------------------
[Canvas](https://github.com/grondag/canvas) is a minecraft render mod. The chunk render is breaken when using balanced gc(-Xgcpolicy:balanced)

The chunk render is normal when I using gencon gc.

Diagnostic files
----------------
[crash report](https://gist.github.com/1a2s3d4f1/d66de3cf112243c4e84e87bfd4080927

[2021-02-05 12:04] sxa commented on #9046
Just to add something extra to this - the problem appears to only be shown on the ThunderX aarch64 systems (Not sure which OpenJ9 have but if it's the 96-core ones then it's likely to be ThunderX) so it's possible that a fix will be out of our control if it's hardware related. I may try upgrading one of ours to a later level (I'll do it under  but I'm not overly confident that it will really chang

[2021-02-05 13:20] andrew-m-leonard opened #11887 "jdk17: Type=Segmentation error vmState=0x0002000f"
https://ci.adoptopenjdk.net/job/Test_openjdk17_j9_sanity.functional_aarch64_linux_xl/19/console
[code]

[2021-02-05 13:29] pshipton commented on #10834
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_OMR/827/console

[2021-02-05 13:52] pshipton commented on #11198
This hasn't been seen for almost a month. I believe there was a fix merged to the JIT related to the abort handler. I'm going to tentatively close this.

[2021-02-05 13:52] #11198 closed

[2021-02-05 13:59] AhwiniMirajkar commented on #11791
I'm new to open source contribution
Could you help me
How can I start the work and next steps

[2021-02-05 14:22] pshipton commented on #11886
@dmitripivkine @0xdaryl fyi.

[2021-02-05 14:27] pshipton commented on #9046
Re-reading Daryl's comment https://github.com/eclipse/openj9/issues/9046#issuecomment-744566908 I realized I misunderstood the options and my earlier comment was bogus. What is the openssl version available on the build system? Considering it only fails on one target, it's likely the fault of the openssl installed on the target, but I'm not sure of the side affects of compiling against an out-date

[2021-02-05 14:32] dmitripivkine commented on #11887
@andrew-m-leonard Would you please point me to test stored results if any?

[2021-02-05 14:50] keithc-ca commented on #11884
Perhaps we should consider using `omrstr_printf`?

[2021-02-05 14:53] dmitripivkine commented on #11382
This issue has been fixed. I believe the only piece of work left there is an implementation for https://github.com/eclipse/openj9/issues/11771 new functionality

[2021-02-05 14:53] #11382 closed

[2021-02-05 15:08] dmitripivkine commented on #11887
Just based on `InaccessibleAddress=0000000000000018` there is most likely a bogus (stall?) object pointer or heap corruption caused Scavenger to take NULL as a class pointer from object to copy.

[2021-02-05 15:31] dsouzai commented on #11884
Interesting, I'll look into that. Thanks @keithc-ca

[2021-02-05 15:45] pshipton commented on #11887
Since this is aarch64, @knn-k fyi.

[2021-02-05 15:59] gacholio commented on #11791
Hopefully all of the instructions are here:

https://github.com/eclipse/openj9

[2021-02-05 16:04] andrew-m-leonard commented on #11887
@dmitripivkine unfortunately it never got as far as running tests, it's crashed Compiling the tests, so no output. The binary it is using to compile (javac) is https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/job/jdk-linux-aarch64-openj9-linuxXL/59/

[2021-02-05 16:14] tajila commented on #11791
@AhwiniMirajkar I would specifically look at:

https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V11.md#linux
https://github.com/eclipse/openj9/blob/master/test/README.md

That will give you instructions on how to build and test. Once you have implemented and tested your changes you'll look at the following to prepare your PR.

https://github.com/eclipse/openj

[2021-02-05 16:32] dmitripivkine commented on #11887
@knn-k I think you are in a better position to try to reproduce it. Also there is high probability the reason for crash is a JIT problem, so I believe you are in a better position to investigate too. Please let me know if you need help from GC side to identify problematic pattern caused crash in GC

[2021-02-05 18:34] mpirvu opened #11893 "ensureOSRBufferSize() is not working correctly for JITServer"
`ensureOSRBufferSize()` is a frontend call that makes sure the OSR buffer kept by the VM is large enough.
This method defers to a VM implementation:
[code]
The OSR buffer is needed in the client JVM, so increasing the buffer in the server JVM accomplishes nothing.
A fix could be to cache the current size of OSR buffer in the per client caches (vm struct). When we determine that current size is not

[2021-02-05 18:35] mpirvu commented on #11893
FYI @dmitry-ten

[2021-02-05 19:17] llxia commented on #11030
According to [this commit](https://github.com/AdoptOpenJDK/openjdk-jdk16/commit/6bb7e45e8e1a8f5a3b2f9c92b610fa4236f2eb90#diff-14c4fbe9aa8de106b276c93f5442491314c097e0630ea7bc9ca4f87c9b7bb557), the unix domain socket channels tests are mostly in `jdk_net` and `jdk_nio`.

Ran `jdk_net` and `jdk_nio` using the latest JDK16 x86-64_linux:
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1497/testRep

[2021-02-05 19:56] dmitry-ten commented on #11893
Is this triggered by a specific test?

[2021-02-05 20:07] mpirvu commented on #11893
No, I was reviewing a PR, found this code and realized we don't do the correct thing. It may happen that the initial size of the buffer is large enough that we don't have to grow it, in which case there will be no error showing.

[2021-02-05 20:19] pshipton commented on #11030
Thanks Lan. Confirming other platforms as well.
AIX - https://ci.eclipse.org/openj9/view/Test/job/Grinder/1498
Mac - https://ci.eclipse.org/openj9/view/Test/job/Grinder/1499
Win - https://ci.eclipse.org/openj9/view/Test/job/Grinder/1500

[2021-02-05 20:25] #11689 closed

[2021-02-05 20:52] pshipton opened #11896 "ub16-390-1 and 2 are offline - Operation timed out"
https://ci.eclipse.org/openj9/computer/ub16-390-1/log
https://ci.eclipse.org/openj9/computer/ub16-390-2/log
`Operation timed out`

@jdekonin

[2021-02-05 20:59] mpirvu commented on #10689
@awsafsakif could you please continue to work on this issue? Thanks

[2021-02-05 20:59] AdamBrousseau commented on #11896
Also the 2 ub18s. rh7 seem fine.

Sent an email to z-cloud contact

[2021-02-05 21:39] nbhuiyan commented on #8214
@0xdaryl, I have determined a possible cause for this hang from what I could gather from the diagnostics files over the last month. I am still working on the fix and will need more time to test and verify the issue has been resolved, which will take time as this hang happens intermittently. Requesting that this issue is moved forward to the next milestone.

[2021-02-05 21:43] #11263 closed

[2021-02-05 22:01] pshipton commented on #8214
Moved it. This is not a new issue, but I'm glad we're getting to the bottom of it.

[2021-02-06 02:43] pshipton commented on #11896
They are back now.

[2021-02-06 02:43] #11896 closed

[2021-02-06 02:48] pshipton commented on #11030
As this appears to be implemented completely in OpenJDK and not require any OpenJ9 support, closing this.

[2021-02-06 02:48] #11030 closed

[2021-02-06 11:01] 1a2s3d4f1 commented on #11886
Another balanced gc problem:
Java program:[HMCL](https://github.com/huanghongxun/HMCL/)
Set -Xmx1024M -Xgcpolicy:balanced
![1.jpg](https://user-images.githubusercontent.com/40121560/103399053-37d91900-4b7a-11eb-944e-fece12c20b01.jpg)
gc log:[verbosegc.20210206.185105.2000.zip](https://github.com/eclipse/openj9/files/5936699/verbosegc.20210206.185105.2000.zip)

Set -Xmx1024M -Xgcpolicy:balanced -Xg

[2021-02-06 17:25] advancedwebdeveloper commented on #11136
Ping

[2021-02-06 20:59] 0xdaryl commented on #11886
@BeverlyXu : could you work with @1a2s3d4f1 and @dmitripivkine to provide JIT expertise to triage this?  The JIT piggybacks on the AIOB mechanism when dealing with discontiguous arrays so there may be a JIT issue here.

[2021-02-06 21:45] #11130 closed

[2021-02-06 21:47] pshipton commented on #9782
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_mixed_Nightly_testList_0/8/
TestArrayCopy_openj9_none_SCC_1
[code]

@liqunl does this latest crash have the diagnostic you need?
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_sanity.functional_x86-64_mac_mixed_Nightly_testList_0/8/functional_test_output.tar.gz

[2021-02-06 21:51] pshipton commented on #11654
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_mixed_Nightly/10

[2021-02-07 15:08] pshipton opened #11899 "openjdk java/util/concurrent/Executors/AutoShutdown.java 2 not equal to 3"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_windows_Nightly/294
java/util/concurrent/Executors/AutoShutdown.java
[code]

[2021-02-07 15:14] pshipton opened #11900 "lambda.TestLambdaMethodReferences.testConstructorReference AssertionFailedError: 57490:57490"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64le_linux_mixed_Nightly_testList_2/10/
LambdaLoadTest_special_J9_5m_4
variation: Mode112
JVM_OPTIONS:  -Xgcpolicy:gencon -Xjit:count=0 -Xnocompressedrefs
[code]

[2021-02-08 00:07] knn-k commented on #11887
I ran `make compile` for functional tests 10 times, using the latest binary from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/job/jdk-linux-aarch64-openj9-linuxXL/60/ .  (The binary from 59 is no longer available)
Builds were successful and I saw no failures.

[2021-02-08 00:44] knn-k commented on #9881
Profiling recompilation on AArch64 was enabled by https://github.com/eclipse/omr/pull/5350.  Closing.

[2021-02-08 00:44] #9881 closed

[2021-02-08 00:46] knn-k commented on #9458
I think this issue can be closed.

[2021-02-08 01:17] knn-k commented on #9041
I believe this issue can be closed.  The tests were enabled since June last year.

[2021-02-08 01:20] knn-k commented on #9082
I opened https://github.com/AdoptOpenJDK/openjdk-tests/pull/2242 for enabling the test back again on AArch64.
The test has not been excluded in JDK 12-17.

[2021-02-08 01:29] knn-k commented on #9083
I believe this issue can be closed. The test has been enabled since June last year.

[2021-02-08 03:36] knn-k commented on #11887
I also tried running `make compile` on cent7-aarch64-1 (96 CPU cores) using the same binary as above.  I got no failures out of 10 runs.
It takes 18 minutes for a single round of running `make compile` on that machine.

[2021-02-08 07:58] knn-k opened #11901 "AArch64 openjdk Cipher/AEAD failures"
The following JDK 11/16 tests fail on AArch64.

(JDK 11)
- com/sun/crypto/provider/Cipher/AEAD/GCMLargeDataKAT.java.GCMLargeDataKAT
- com/sun/crypto/provider/Cipher/AEAD/SameBuffer.java.SameBuffer

(JDK 16)  -- [Update] Ignore these JDK16 failures. They are not specific to AArch64.
- com/sun/crypto/provider/Cipher/AEAD/Encrypt.java.Encrypt
- com/sun/crypto/provider/Cipher/AEAD/GCMBufferTest.java.G

[2021-02-08 08:12] knn-k commented on #11901
I tried to recreate the JDK 11 failures, but my local runs all passed.

[2021-02-08 08:39] knn-k commented on #11901
JDK 16 failures are not specific to AArch64.
The same tests fail with OpenJ9 for x86-64: https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_sanity.openjdk_x86-64_linux/25/

[2021-02-08 08:45] knn-k commented on #11901
JDK 16 failures: This issue is a duplicate of #11390.

[2021-02-08 08:48] knn-k commented on #11901
JDK 11 failures: The failure with GCMLargeDataKAT looks the same as #11901.  The other failure with SameBuffer is not reported elsewhere.

[2021-02-08 08:49] knn-k commented on #10141
Closing this as a dup of #11901.

[2021-02-08 08:49] #10141 closed

[2021-02-08 10:44] andrew-m-leonard opened #11902 "jdk16-linux-aarch64-openj9-linuxXL: build break: error unclear?"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk16/job/jdk16-linux-aarch64-openj9-linuxXL/50/console
[code]

[2021-02-08 11:50] sxa commented on #11902
I think we should archive the command-lines used for the builds (either as a tarball or somehow making them appear in the build log) which are in the directory mentioned in the log fragment below - as you say it's difficult to see what's happening here in the `cmake` output, and particularly if we're starting to remove `build/src/build` as per https://github.com/AdoptOpenJDK/openjdk-build/pull/241

[2021-02-08 13:11] JasonFengJ9 opened #11903 "JITServer : cmdLineTester_jvmtitests_hcr_OSRG & others - Segmentation error vmState=0x00000000 at libj9jit29.so"
Failure link
------------

From internal builds: `Test_openjdk8_j9_extended.functional_x86-64_linux_jit_Nightly/303`, `Test_openjdk16_j9_extended.functional_x86-64_linux_jit_Nightly/24`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]
Similar segmentation errors observed in other `cmdLineTester_decompilationTes

[2021-02-08 13:11] pshipton commented on #11902
@knn-k @keithc-ca fyi

Is the problem repeatable? Did this start occurring when cmake was enabled 10 days ago for jdk16?
https://github.com/ibmruntimes/openj9-openjdk-jdk16/pull/11

[2021-02-08 13:21] pshipton commented on #11903
@mpirvu fyi. Seems a regression. Note "Similar segmentation errors observed in other cmdLineTester_decompilationTests & jit_hw across JDK 8/11/16." This problem doesn't seem to be occurring in the open builds, not sure why it would only occur in internal testing.

[2021-02-08 13:54] andrew-m-leonard commented on #11902
Just tried again now and it built fine...?!

[2021-02-08 13:55] andrew-m-leonard commented on #11902
There is no console output form cmake?

[2021-02-08 13:56] sxa commented on #11902
I can't reproduce it when running a bulid manually on my aarch64 system.

[2021-02-08 14:00] keithc-ca commented on #11902
The failure is outside of the part of the build that uses cmake.

Those failures should have associated log files that might provide more information. Are they still available?

[2021-02-08 14:07] mpirvu commented on #11903
@dmitry-ten Could you please look into this failures? If you manage to reproduce it we can try to back out the few items we delivered in the past week or so.
Also of interest is https://github.com/eclipse/openj9/pull/11553
Thanks

[2021-02-08 15:37] lumpfish commented on #6475
These OOMs should no longer occur as a result the change made for https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/379

[2021-02-08 15:40] lumpfish commented on #2209
This OOM should no longer occur as a result of the changes made for https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/379.

[2021-02-08 16:10] pshipton commented on #6475
The test no longer seems to be excluded, the exclude removed by https://github.com/AdoptOpenJDK/openjdk-tests/pull/2229 , and I see LambdaLoadTest_CS_5m running in the builds.
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/system/lambdaLoadTest/playlist.xml#L58-L76
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_mixed_Nightly/6/tapResults/

[2021-02-08 16:10] #6475 closed

[2021-02-08 16:14] dmitry-ten commented on #11903
Ok, I found the error:
https://github.com/eclipse/openj9/blob/eea5afd5461b62899b47e11eb3404e8a3835f78c/runtime/compiler/runtime/RelocationRuntime.cpp#L753-L761

#11553 added relocation of OSR info so in JITServer it gets relocated twice, resulting in an invalid address.
I'm deleting the second one in my PR #11898

[2021-02-08 16:19] pshipton commented on #2209
Test unexcluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2229
LambdaLoadTest_special_J9_5m is running in the builds. https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_mixed_Nightly/5/tapResults/

[2021-02-08 16:19] #2209 closed

[2021-02-08 16:21] mpirvu commented on #11903
Good find!. I'll review your PR as soon as possible.

[2021-02-08 16:35] pshipton opened #11904 "ParallelStreamsLoadTest_special_J9_24 hang at 100%"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal_testList_0/10
ParallelStreamsLoadTest_special_J9_24
variation: Mode107-OSRG
JVM_OPTIONS:  -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation
There are 3 core files
https://140-

[2021-02-08 16:35] hangshao0 commented on #11015
For anon classes, we store them in the SCC hoping that we could get the AOT benefit from it. We won't get the class loading benefit if they are in the SCC. In fact class translation will be slower because of additional comparisons. If the benefit of AOT is not big enough to offset the additional translation time, we should just disable storing anon classes in the SCC .

I see it is all anon classe

[2021-02-08 16:35] sxa commented on #11902
Adopt now builds aarch64 in dynamically created systems on a docker host, so unfortunately not.

[2021-02-08 17:06] keithc-ca commented on #11902
Perhaps the build scripts can be enhanced to capture those files on failure, like openj9 does - see [build.groovy](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/build.groovy#L439). Can anyone offer pointers to where that could be added for adopt?

[2021-02-08 17:30] pshipton commented on #11904
@lumpfish is it possible to first attempt using `jcmd` to get javacore files and system dump files? The cores acquired via procdump.exe aren't in a good state.

@gacholio the first core isn't too bad, are you able to see why it's hung?

[2021-02-08 17:34] pshipton opened #11908 "shrtest_win_SE80_0 testConstructor The specified module could not be found"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly_testList_1/246
shrtest_win_SE80_0
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly_testList_1/246/functional_test_output.tar.gz
[code]

[2021-02-08 17:36] sxa commented on #11902
Yeah that's the same alongside the comment I made about capturing the command line files. I suspect it pretty just needs a new `if` clause in https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/build.sh#L850 and the appropriate variables set. I'm sure @m-davies can advise and/or review any PR in this area :-)

[2021-02-08 17:39] #11303 closed

[2021-02-08 17:41] pshipton commented on #10665
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_mixed_Nightly_testList_0/5
MauveSingleInvocLoad_special_5m_22
variation: Mode688
JVM_OPTIONS:  -Xcompressedrefs -Xjit:count=0 -Xgcpolicy:gencon -Xaggressive -Xconcurrentlevel0
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_special.system_x86-64_mac_mixed_Nightly_testList_0

[2021-02-08 17:46] pshipton opened #11910 "testJITServer_1 crash vmState=0x00000000"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_OMR_testList_0/200
testJITServer_1
[code]

@mpirvu fyi

[2021-02-08 18:07] gacholio commented on #11904
Looking at the java stacks, this doesn't look like a hang - the load threads are running:
[code]

The second thread is likely running in JITted code, so the stack can't be walked.

The other two cores show both load threads in JITted code, so they seem to have progressed since the first core.

[2021-02-08 18:18] BeverlyXu commented on #11886
@1a2s3d4f1 Thank you for reporting this issue.

We need to figure out which method/object is having an array out of bound issue. Could you help take a core dump using something like this on the top method from the backtrace:
`-Xdump:system+java:events=throw,filter=java/lang/ArrayIndexOutOfBoundsException#grondag/canvas/terrain/occlusion/geometry/Area.keyToIndex`

If you have more than one exceptio

[2021-02-08 18:25] gacholio commented on #11904
@pshipton Do you have a download link for the SDK that was in use?

[2021-02-08 18:26] pshipton commented on #11904
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_x86-32_windows_Personal/739/OpenJ9-JDK8-x86-32_windows-20210207-092927.tar.gz

[2021-02-08 18:34] pshipton commented on #11904
and the debug image if that helps https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_x86-32_windows_Personal/739//debug-image.tar.gz

[2021-02-08 18:38] JasonFengJ9 commented on #11838
**Update:**

The intermittent failure is not related to native library loading or symbol lookup.
This is a keepAlive problem. OpenJ9 aggressively allows objects to be GC'd when they are no longer referenced in the method.
Adding `Reference.reachabilityFence(lookup)`[1] within the test code passes 300x grinder while the failure rate was ~2/100.

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk

[2021-02-08 18:42] pshipton commented on #11838
Let's deliver that change to jdk16 and jdknext, and we can ask Andrew to contribute it to OpenJDK.

[2021-02-08 19:25] gacholio commented on #11904
In java.exe_210207_165625.dmp, the native stacks of the two load threads are:
[code]
Which indicate that OSR is occurring (as it should be in the given test mode).

[2021-02-08 19:29] gacholio commented on #11904
Stacks from java.exe_210207_165655.dmp:
[code]

[2021-02-08 19:43] gacholio commented on #11904
Looking at thread 25, the java stack seems to be in the same place in both cores:
[code]

[2021-02-08 19:49] LongyuZhang commented on #8596
This failure also happens on jdk 15: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/6463/testReport/java_net_Socket_asyncClose_Race/java/Race/
[code]

[2021-02-08 19:52] gacholio commented on #11904
So from what I can see, this is not a hang as such - it may just be running very slowly, or perhaps running on a sick machine.

[2021-02-08 20:05] gacholio commented on #11904
Snap trace for thread 25 extracted from core 625 shows lots of decompile going on:
[code]

[2021-02-08 20:12] #11538 closed

[2021-02-08 20:38] keithc-ca commented on #11902
If the build fails, it won't get there: see [line 451](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/build.sh#L451).
On the other hand, that gave me the hint I needed to collect some files that will help diagnose problems such as this.

[2021-02-08 20:52] keithc-ca commented on #11639
Is there more work to be done here, or can this be closed?

[2021-02-08 21:17] M-Davies commented on #11902
https://github.com/AdoptOpenJDK/openjdk-build/issues/2461

[2021-02-08 21:22] liqunl commented on #11611
It seems that it is related to MethodHandle inlining, but I can't find out the reason why bytecode info is bad from the core dump. @rrozenshteyn-jha Could you or your engineer try adding the following JIT option to your command?
`-Xjit:{com/symitar/episysdbaccess/transaction/TransactionRequestBody.toString()Ljava/lang/String;}(traceFull,traceILGen,traceInlining,debugInliner,log=/path/to/jitlog)`

[2021-02-08 22:20] #11893 closed

[2021-02-08 22:22] mpirvu commented on #11903
This issue should be fixed by #11898 which I just merged

[2021-02-08 22:22] #11903 closed

[2021-02-08 22:23] pshipton commented on #11639
The immediate problem was resolved. We could look to see if there are any other overrides of BOOLEAN values which may cause problems.

[2021-02-08 22:43] knn-k opened #11915 "AArch64 openjdk LambdaFileEncodingSerialization assertion failure"
java/lang/invoke/lambda/LambdaFileEncodingSerialization.java fails intermittently.

Failure link
------------

- https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_sanity.openjdk_aarch64_linux/25/ (on build-docker-ubuntu1804-armv8-4)
- https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_sanity.openjdk_aarch64_linux/24/ (on build-docker-fedora33-armv8-5)
- https://ci.adoptopenjdk.net/job/Test_openjdk1

[2021-02-08 23:24] pshipton commented on #11390
Created https://github.com/AdoptOpenJDK/openjdk-tests/pull/2249 to exclude the failing tests until they can be fixed.

[2021-02-09 00:03] knn-k commented on #11915
This could be an environment-dependent problem.

- Rerun on build-docker-fedora33-armv8-3: Failed (https://ci.adoptopenjdk.net/job/Grinder/6607/)
- Rerun on test-packet-ubuntu1604-armv8-1: Passed (https://ci.adoptopenjdk.net/job/Grinder/6616/)

[2021-02-09 00:28] Akira1Saitoh commented on #11915
`javac` launched from the test case fails to write a class file.

[2021-02-08T17:39:42.837Z]         public static class ABC???? implements Serializable {

https://github.com/ibmruntimes/openj9-openjdk-jdk16/blob/f7d23fa5a1bfa38580ecb4ee20d40f22d5bc5267/test/jdk/java/lang/invoke/lambda/TestLambdaFileEncodingSerialization.java#L38

[2021-02-09 00:41] knn-k commented on #11915
So it fails to convert the class name to a file name in UTF-8, depending on the environment.  Perhaps a locale problem?

[2021-02-09 01:59] rrozenshteyn-jha commented on #11611
@liqunl , I just sent @pshipton another email containing the requested jit log and the corresponding core file.

The engineer who collected the jit log and the core file wanted to pass along the following comments:

- It took more runs to even get it to crash. Therefore the log is large and the core dump is bigger, too.
- Since you seem to be suspecting the TransactionRequestBody.toString() method

[2021-02-09 02:51] knn-k commented on #11915
I cannot recreate the failure locally even when I change the locale to a non-UTF-8 one.

[2021-02-09 05:02] 1a2s3d4f1 commented on #11886
This is core dump file
https://mega.nz/file/uNsEURQC#7GjFHkxiMJxKGsvbVICJZ5vzFrBSksoJ-CFkhfmsTsM

[2021-02-09 05:23] knn-k commented on #11851
JIT verbose log from a local run:
[code]

The size of this method is 0x12A02C = 1,220,652 bytes.
It is a huge method, and its last bytecode index is 19501.

[2021-02-09 08:31] andrew-m-leonard commented on #11902
@keithc-ca @M-Davies @sxa i'll take a look, as this is going to make triage difficult so needs fixing soon

[2021-02-09 09:22] knn-k commented on #11902
One thing that comes to my mind is Issue #9048 (wrong hash value during jlink).
I have no evidence, and I will wait for the command logs.

[2021-02-09 10:15] knn-k commented on #11902
My guess above (jlink) is wrong.  It seems the failures are from the following phase:
[code]

[2021-02-09 11:14] pshipton opened #11918 "All AIX are offline"
@AdamBrousseau @jdekonin fyi

[2021-02-09 11:27] pshipton commented on #11611
@liqunl I've added jitlog.6.7078040.30033.20210208.162033.7078040.gz and core.7078040.09002300.zip to the Box folder.

[2021-02-09 11:45] sxa commented on #11915
Possibly related? We saw this on some of the docker containers in particular when we started using them: https://github.com/AdoptOpenJDK/openjdk-tests/issues/2138#issuecomment-757141940. It's possibly it requires some extra packages to be on the machine to work in other environments - our docker test images are (deliberately) quite minimal

[2021-02-09 12:28] knn-k commented on #11915
I have seen a similar problem before in an Linux environment that had no UTF-8 locales.
That is why I thought it could be related to locales.

[2021-02-09 12:33] pshipton opened #11919 "openjdk java/util/Collections/RacingCollections.java NoClassDefFoundError: java.util.Queue"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_mixed_Nightly/12
java/util/Collections/RacingCollections.java
[code]

[2021-02-09 12:38] lumpfish commented on #11904
Not at the moment.  I've raised this issue: https://github.com/AdoptOpenJDK/stf/issues/103.  @pshipton - do you know which jcmd commands result in the creation of javacores and system dumps?

[2021-02-09 13:12] pshipton commented on #11904
@lumpfish `jcmd <pid> Dump.java` and `jcmd <pid> Dump.system`

[2021-02-09 13:24] jdekonin commented on #11918
The VPN connection isn't resolving to a hostname.  I can connect with the IP address but there is still clearly something wrong as we cannot even ping the systems.

I've sent an email to our contacts looking for information.

[2021-02-09 13:45] sxa commented on #11915
Yep - almost certainly :-)

Do we know what the minimum set is that would allow it to work?

[2021-02-09 13:54] jdekonin commented on #11918
Systems are all back online.

[2021-02-09 14:04] knn-k commented on #11915
Set `LANG` to any one of UTF-8 locales, such as `C.UTF-8` or `en_US.UTF-8`.  The locale needs to be available in the docker environment, of course.
I suppose that is the minimum for making file name encoding conversion (Java internal <--> UTF-8) work.

[2021-02-09 14:11] tajila opened #11920 "Enable valhalla as default in VT build"
Currently the `-XX:+EnableValhalla` option needs to be turned on to enable value types in the VT build. Given that there has been more progress the JIT and the interpreter this can be enabled by default.

We can keep the option so it can be used for debugging purposes but we can make `-XX:+EnableValhalla` true by default so it doesn't need to be added in test cases.

We will need to update the opt

[2021-02-09 14:11] tajila commented on #11920
@hangshao0 can you please take a look at this.

[2021-02-09 14:13] tajila commented on #11721
Not going to get to this soon, moving to next release.

[2021-02-09 14:14] tajila commented on #11617
moving to next release

[2021-02-09 14:15] tajila commented on #11832
@dchopra001 is this close to be fixed?

[2021-02-09 15:05] #11239 closed

[2021-02-09 15:22] sxa commented on #9046
As per my infrastructure issue I would not assume it's related to the version that OpenJ9 is being linked with as I'm able to reproduce the same failures using the latest openssl111i codebase outside OpenJ9 on multiple ThunderX systems.

[2021-02-09 15:55] babsingh opened #11921 "OJDK MH: unfreed blocks remaining at shutdown"
### Errors
Memory leak issues when OJDK MHs are enabled in OpenJ9.
[code]

### Failing Test Targets

The following test targets are failing with the above error:
1. `cmdLineTester_GCRegressionTests_2` [sanity.functional]
2. `cmdLineTester_GCRegressionTests_3` [sanity.functional]
3. `VmArgumentTests_0` [extended.functional]

### Steps to build an OpenJ9 JDK with OJDK MHs enabled

Refer to #11458.

[2021-02-09 15:58] babsingh commented on #11921
Fix: https://github.com/eclipse/openj9/pull/11909

This should be tagged with the `project:MH` label.

[2021-02-09 16:06] sxa commented on #11915
Was more interested if there was a particular package locale we could install that would make it work out of the box on our systems - I suppose the ideal option would be if the test suites to set themselves to one of those two before executing :-)

[2021-02-09 16:07] babsingh opened #11922 "OJDK MH: MethodHandles.collectArguments Issues"
### Errors

`MethodHandles.collectArguments` issues that are seen when OJDK MHs are enabled in OpenJ9.

[code]

[code]

### Failing Test Targets

1. `JCL_Test_*` [sanity.functional]
    - `test_CollectArgumentsNegative`
    - `test_VoidCollectArgumentsNegative`

Repetitions of the above error are seen because the test target is run with different JVM arguments.

### How-to Run Tests?

https://gith

[2021-02-09 16:09] babsingh commented on #11922
OpenJDK bug: https://bugs.openjdk.java.net/browse/JDK-8259922

Fix: https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/ab6b9c35c7541ea628b028cb1357b904a72de5d9

Only available in JDK-next. Needs to be back-ported to JDK8, JDK11 and JDK16.

This should be tagged with the `project:MH` label.

[2021-02-09 16:09] hangshao0 commented on #11920
Yes.

[2021-02-09 16:18] babsingh opened #11923 "OJDK MH: testJITServer failures"
### Errors

[code]

### Failing Test Targets

1. `testJITServer_0` [sanity.functional]
2. `testJITServer_1` [sanity.functional]

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK with OJDK MHs enabled

Refer to #11458.

[2021-02-09 16:21] babsingh commented on #11923
Standalone issue to track JIT server failures with OJDK MHs.

This should be tagged with the `project:MH` label.

fyi @dmitry-ten

[2021-02-09 16:52] babsingh opened #11924 "OJDK MH: IllegalAccessException: no such method: ..."
### Errors
Unexpected `IllegalAccessException` (caused by `IncompatibleClassChangeError`) thrown when OJDK MHs are enabled in OpenJ9.

[code]

### Failing Test Targets

1. `jsr335tests_*` (multiple variants with different JVM arguments) [sanity.functional]
     - `test335DefenderSupersendsAsmAsMethodHandles`
     - `testConflictingDefinitionsInSuperInterface`

### How-to Run Tests?

https://github

[2021-02-09 16:54] babsingh commented on #11924
`IncompatibleClassChangeError` from `MethodHandleNatives.resolve` is not expected by `MemberName.makeAccessException`. Fix is related to error handling within `MethodHandleNatives.resolve`.

This should be tagged with the `project:MH` label.

fyi @fengxue-IS

[2021-02-09 16:59] pshipton commented on #11918
The machines are offline again.

[2021-02-09 17:01] #11918 closed

[2021-02-09 17:05] babsingh opened #11925 "OJDK MH: NoSuchMethodException: no such method: ..."
### Errors
Unexpected `NoSuchMethodException` thrown when OJDK MHs are enabled in OpenJ9.
[code]

### Failing Test Targets

1. `jsr335_interfacePrivateMethod_1` [sanity.functional]
    - `test_findVirtual_interface_ITest_private_static`
    - `test_find_static_child_private_non_static`
    - `test_find_static_child_public_non_static`
    - `test_find_virtual_child_private_static`
    - `test_find_

[2021-02-09 17:06] babsingh commented on #11925
Fix is related to error handling within `MethodHandleNatives.resolve`.

This should be tagged with the `project:MH` label.

fyi @fengxue-IS

[2021-02-09 17:15] sharon-wang commented on #11833
I can take a look at this.

[2021-02-09 17:16] pshipton commented on #11493
Similar occurrence in https://github.com/eclipse/openj9/issues/11545

[2021-02-09 17:17] babsingh opened #11926 "OJDK MH: java.lang.NoClassDefFoundError: InjectedInvoker/..."
### Errors
Unexpected `NoClassDefFoundError` thrown when OJDK MHs are enabled in OpenJ9.
[code]

### Failing Test Targets

1. `JCL_Test_*`  (multiple variants with different JVM arguments) [sanity.functional]
    - `test_RevealDirect_CrackCallerSensitive`
2. `jsr292BootstrapTest_0`, `jsr292BootstrapTests_special_0` [extended.functional]
    - `test_BootstrapLookup_NonBootstrapInvoke`
    - `test_N

[2021-02-09 17:17] pshipton commented on #11493
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64_aix_mixed_Nightly_testList_0/6
HeapHogLoadTest_5m_1
variation: Mode610
JVM_OPTIONS:  -Xcompressedrefs -Xjit -Xgcpolicy:gencon
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_extended.system_ppc64_aix_mixed_Nightly_testList_0/6/system_test_output.tar.gz
[code]

[2021-02-09 17:18] babsingh commented on #11926
Needs to be investigate.

This should be tagged with the `project:MH` label.

[2021-02-09 17:24] babsingh opened #11927 "OJDK MH: IllegalArgumentException not thrown"
### Error

[code]

`Test_MethodHandleInfo.test_RevealDirect_TargetVarargsAdaptor` expects an `IllegalArgumentException` to be thrown. With OJDK MHs enabled in OpenJ9, the `IllegalArgumentException` is not thrown.

### Failing Test Targets

1. `JCL_Test_*` (multiple variants with different JVM arguments)
    - `test_RevealDirect_TargetVarargsAdaptor`

### How-to Run Tests?

https://github.com/eclip

[2021-02-09 17:24] babsingh commented on #11927
Needs to be investigated.

This should be tagged with the `project:MH` label.

[2021-02-09 17:47] babsingh opened #11928 "OJDK MH: InvocationTargetException not thrown"
### Errors

An `InvocationTargetException` is not thrown by the below tests when OJDK MHs are enabled in OpenJ9:
[code]

### Expected Behaviour from `MethodHandleNatives.resolve`

[code]

### OpenJ9's Current Behaviour

[code]

### Failing Test Targets

1. `JCL_TEST_Java-Security_0` [sanity.functional]
    - `test_MHInstanceFieldGetter2`
    - `test_MHInstanceFieldSetter2`
    - `test_MHStaticFiel

[2021-02-09 17:49] babsingh commented on #11928
The `MethodHandleNatives.resolve` related solution is described above.

This should be tagged with the `project:MH` label.

fyi @fengxue-IS

[2021-02-09 17:52] pshipton opened #11929 "`keytool -Xmn8m` causes `JVMJ9GC019E -Xmn too large for -Xms`"
As reported via https://adoptopenjdk.slack.com/archives/C09NLQQAV/p1612886824110700

All versions? I tried it on 11.0.8, 11.0.9, 11.0.10, jdk8u272 on xLinux, but not sure it's specific to any platform.

`keytool -Xmn8m` causes `JVMJ9GC019E -Xmn too large for -Xms`.
Using -Xmn7m works. It's not specific to keytool, other tools (all tools?) have the same issue (i.e. jar, jdmpview, jcmd, etc).

This

[2021-02-09 17:55] pshipton commented on #11929
@dmitripivkine fyi

[2021-02-09 18:05] keithc-ca commented on #11929
For Java 8, [CompileLaunchers.gmk](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/jdk/make/CompileLaunchers.gmk#L441) says:
[code]
Running `java -Xms8m -Xmn8m -version` yields the same behavior.

[2021-02-09 18:07] pshipton commented on #11929
I note that Hotspot doesn't have the same problem, this is a combability issue.

[2021-02-09 18:11] pshipton opened #11930 "jdk17 Thread/UncaughtExceptionsTest.java simulateUncaughtExitEvent missing from stderr"
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1503/
openjdk17 test java/lang/Thread/UncaughtExceptionsTest.java
[code]

[2021-02-09 18:13] pshipton commented on #11930
Seems the test is expecting Thread-0 but OpenJ9 created Thread-3. We should check why that is and see if the difference in behavior can be resolved.

[2021-02-09 18:25] keithc-ca commented on #11929
Java 11+ add `-Xms8m` in [LauncherCommon.gmk](https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/make/launcher/LauncherCommon.gmk#L130).

[2021-02-09 18:46] sharon-wang commented on #11833
Ran a simple test program with the following String methods:
[code]

### OpenJ9 Output
[code]

### Hotspot Output
[code]

We actually have the [`checkBoundsOffCount()`](https://github.com/eclipse/openj9/blob/8e6e103bb9b626ec6f92755985c2944e92c3f6f5/jcl/src/java.base/share/classes/java/lang/String.java#L448-L454) and [`checkBoundsBeginEnd()`](https://github.com/eclipse/openj9/blob/8e6e103bb9b626ec6

[2021-02-09 21:22] sharon-wang commented on #11833
Aside from `String`, from some simple testing it also looks like we have some missing `StringIndexOutOfBoundsException()` message info for `StringBuilder` and `StringBuffer`, in comparison to the RI.

@fjeremic Maybe you have some insight into why we're not using `checkBoundsOffCount()` and `checkBoundsBeginEnd()` in our implementation?

[2021-02-09 22:36] fjeremic commented on #11833
Likely performance related. We can start using them and measure, or teach the JIT to always inline such methods.

[2021-02-10 03:22] knn-k commented on #9082
I think this issue can be closed now.
The test was enabled for JDK 11, and https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/381/ went successful.

[2021-02-10 03:30] babsingh opened #11934 "OJDK MH: IllegalAccessError not thrown for ldc for unexported package"
### Error

`IllegalAccessError` not thrown for `ldc` when OJDK MHs are enabled in OpenJ9.

[code]

### Failing Test Targets

1. `MethodVisibilityTests_0` [extended.functional]
    - `testMethodHandle`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK with OJDK MHs enabled

Refer to #11458.

[2021-02-10 03:33] babsingh commented on #11934
**Fix:** `accessCheckArgRetTypes` equivalent needed in `MethodHandleResolver.sendResolveMethodHandle`.

Related https://github.com/eclipse/openj9/pull/11827.

This should be tagged with the `project:MH` label.

fyi @DanHeidinga

[2021-02-10 03:39] babsingh opened #11935 "OJDK MH: Unexpected IllegalAccessException: caller class must be a subclass ..."
### Error

Unexpected `IllegalAccessException` thrown from `UnreflectTests.testLookupUnreflectSpecial`.

[code]

### Failing Test Targets

1. `UnreflectTests_0` [extended.functional]
    - `testLookupUnreflectSpecial`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

[2021-02-10 04:12] babsingh opened #11936 "OJDK MH: jsr292Test_* seg fault"
### Error

Seg fault noticed while running the `jsr292Test_*` test targets with OJDK MHs enabled in OpenJ9.

[code]

### Failing Test Targets

1. `jsr292Test_0` [extended.functional]
2. `jsr292Test_1` [extended.functional]
3. `jsr292Test_JitCount0_0` [extended.functional]

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an O

[2021-02-10 04:14] babsingh commented on #11935
Needs to be investigated.

[2021-02-10 04:14] babsingh commented on #11936
Needs to be investigated.

This should be tagged with the `project:MH` label.

[2021-02-10 04:17] babsingh opened #11937 "OJDK MH: jsr292_MethodHandleAPI_Test_0 seg fault"
### Error

Seg fault noticed while running `jsr292Test_0`.

[code]

### Failing Test Targets

1. `jsr292_MethodHandleAPI_Test_0` [extended.functional]

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

[2021-02-10 04:19] babsingh commented on #11937
Needs to be investigated.

This should be tagged with the `project:MH` label.

[2021-02-10 04:21] babsingh opened #11938 "OJDK MH: VarHandle_0 seg fault"
### Error

Seg fault noticed while running `VarHandle_0` with OJDK MHs enabled in OpenJ9.

[code]

### Failing Test Targets

1. `VarHandle_0` [extended.functional]

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK with OJDK MHs enabled

Refer to #11458.

[2021-02-10 04:22] babsingh commented on #11938
Needs to be investigated.

This should be tagged with the `project:MH` label.

[2021-02-10 04:37] babsingh opened #11939 "OJDK MH: jsr292_InDynTest_* seg fault"
### Error

Seg fault noticed while running the `jsr292_InDynTest_*` test targets with OJDK MHs enabled in OpenJ9.

[code]

### Failing Test Targets

1. `jsr292_InDynTest_0` [extended.functional]
2. `jsr292_InDynTest_1` [extended.functional]

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

[2021-02-10 04:37] babsingh commented on #11939
Needs to be investigated.

This should be tagged with the `project:MH` label.

[2021-02-10 04:45] babsingh opened #11940 "OJDK MH: "!shrc stats" DDR issue"
### Error

While running `!shrc stats` in DDR, neither the success nor the failure conditions were found.

This failure is observed with OJDK MHs enabled in OpenJ9

[code]

### Failing Test Targets

1. `cmdLineTester_shrcdbgddrext_1` [extended.functional]
    - `Testing: Run !shrc stats`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Ste

[2021-02-10 04:45] babsingh commented on #11940
Needs to be investigated.

This should be tagged with the `project:MH` label.

[2021-02-10 04:49] babsingh commented on #11921
Refer #11458 for instructions to build an OpenJ9 JDK with OJDK MHs enabled.

[2021-02-10 09:58] lumpfish commented on #11733
Same failure seen on jdk15+35_openj9-0.25.0-m1 build at AdoptOpenJDK:
[code]
[code]

[2021-02-10 12:39] pshipton opened #11941 "Some parts of the signal-chaining API are deprecated"
The following is in the jdk16 release notes.

The signal-chaining facility was introduced in JDK 1.4 and supported three different Linux signal-handling API's: sigset, signal and sigaction. Only sigaction is a cross-platform, supported, API for multi-threaded processes. Both signal and sigset are considered obsolete on those platforms that still define them. Consequently, the use of signal and sig

[2021-02-10 12:39] JasonFengJ9 commented on #11644
Another occurrence at ibuild `465396`

[2021-02-10 12:39] pshipton commented on #11941
This is just fyi @babsingh @tobi

[2021-02-10 12:39] #11941 closed

[2021-02-10 13:19] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_mixed_Nightly/8

[2021-02-10 13:20] lumpfish opened #11942 "jdk16 openj9 extended.perf dacapo-jython_0 java.lang.NullPointerException"
jdk16 openj9 extended.perf test target dacapo-jython_0 fails with `java.lang.NullPointerException`.

The test fails with openj9 build, passes with hotspot build.
The test fails on all openj9 platforms.

Failing job link: https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_extended.perf_x86-64_windows/4/consoleFull

Failing build:
[code]

Test output:
[code]
To rerun: https://ci.adoptopenjdk.net/job/

[2021-02-10 13:25] pshipton opened #11943 "Assertion failed at RegDepCopyRemoval.cpp:447 VMState: 0x00055aff"
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_ppc64le_linux_mixed_Nightly/1
java/util/Calendar/RollDayOfWeekTest.java
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk16_j9_sanity.openjdk_ppc64le_linux_mixed_Nightly/1/openjdk_test_output.tar.gz
[code]

FYI https://github.com/eclipse/openj9/issues/10671

@0xdaryl fyi

[2021-02-10 13:39] pshipton commented on #11942
@tajila we should investigate this.

[2021-02-10 13:44] pshipton commented on #11940
Likely the test just needs to be updated for OMH, as it's expecting 4 orphan classes but 11 occurred.

[2021-02-10 13:51] pshipton commented on #11733
@keithc-ca pls take a look when you get a chance.

[2021-02-10 14:39] tajila commented on #11942
@JasonFengJ9 can you please take a look at this

[2021-02-10 14:40] tajila commented on #11942
@lumpfish Did this just start failing? or was the test recently enabled?

[2021-02-10 14:54] JasonFengJ9 commented on #11942
Will look into this.

[2021-02-10 14:58] tajila commented on #11942
Here is the relevant code, https://github.com/jython/jython/blob/0a58cc26566d2b2334e80b2b3f2f42f6c738db2d/src/org/python/core/Py.java#L1358. Although its not the same version of jython that is being used in the tests so the line numbers are off.

[2021-02-10 15:01] JasonFengJ9 commented on #11942
This link is for hotspot, @lumpfish pls update it with OpenJ9 one.

[2021-02-10 15:20] tajila commented on #11205
A fix for this went in, just waiting to hear back if everything is resolved

[2021-02-10 15:33] lumpfish commented on #11942
Whoops - an OpenJ9 link: https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.perf_x86-64_linux/5/consoleFull

[2021-02-10 15:46] lumpfish commented on #11942
It's part of the 'extended.perf' test suite which has recently been added on a weekly test cycle at AdoptOpenJDK (note the build number of only number 5).  I think this is the first time this failure has been investigated.  (Note there are a number of other failures in the test jobs which are not openj9 specific where the tests appear to be trying to access packages they are no longer allowed to.)

[2021-02-10 16:11] gacholio commented on #5654
A few issues we'll need to think about:

- variable frame platforms

x86-32 platforms are not "fixed frame", i.e. they push outgoing arguments one at a time. If we hit the interrupt during the pushes, there's currently no way to determine what has been pushed. We can either not support this feature on these platforms, or we'll need to somehow record the push count in the metadata for every PC rang

[2021-02-10 16:12] DanHeidinga commented on #10627
To confirm - are we running any tests related to the Vector API?  fyi @llxia

[2021-02-10 16:13] tajila commented on #10627
@llxia the tests can be found here, https://github.com/ibmruntimes/openj9-openjdk-jdk/tree/30a060cd4a7edfdb083e1ad7b8b899467f9f68b3/test/jdk/jdk/incubator/vector

[2021-02-10 16:14] ninja- commented on #5654
Does that include x64 as well?

I think using mutexes could kill the whole point of async call trace fetch, would it? I may be wrong.
Maybe what we could do is make sure the whole metadata change gets memory visibility at once so no garbage could be read mid-update...

[2021-02-10 16:56] hangshao0 commented on #11940
Yes, likely to be a test issue. However if the original build does not fail, we may want to find out what are the 7 additional orphan classes.

[2021-02-10 16:58] keithc-ca commented on #11733
I managed to reproduce this with the 0.24.0 release of jdk15, but I'll focus on current releases.

[2021-02-10 17:36] babsingh commented on #11940
[code]
The orphan classes are related to `BoundMethodHandle` (OJDK MH).

[2021-02-10 17:39] babsingh commented on #11940
https://github.com/eclipse/openj9/blob/ac3cfb0e900c692daeb9b70888d92017583795a0/test/functional/cmdLineTests/shrcdbgddrext/shrcdbgextddrtests.xml#L136-L142

I think that the above test exists to ensure that the number of orphan classes is `4` in OpenJ9. With OJDK MHs, the number of orphan classes will vary. The test loses relevance since we don't have a specific number of orphan classes to track w

[2021-02-10 17:44] babsingh commented on #11940
Will it make sense to check for non-zero orphan classes in the above test?
[code]

[2021-02-10 17:48] gacholio commented on #5654
// This function must only be called when JVM/TI
// CLASS_LOAD events have been enabled since agent startup. The enabled
// event will cause the jmethodIDs to be allocated at class load time.
// The jmethodIDs cannot be allocated in a signal handler because locks
// cannot be grabbed in a signal handler safely.

We don't currently do this (as it appears nowhere in any specification), but easily ca

[2021-02-10 17:50] babsingh commented on #11940
The above statement is incorrect. When the test is run through the test framework, the number of orphan classes consistently stay at `11`.

[code]

[2021-02-10 17:51] pshipton opened #11945 "Increase nightly build timeout"
Now that we are switching to mixed builds, testing is taking longer and can need more time to complete on the available machines. I'd like to add 2 hours to the nightly build timeouts to ensure we complete rather than timing out.

This one timed out last night.
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.system_x86-64_mac_mixed_Nightly_testList_0/1

@AdamBrousseau

[2021-02-10 18:28] gacholio commented on #11945
Would it make sense to split the compressed and full testing into different lists and run them separately?

[2021-02-10 18:31] gacholio commented on #11819
@jonoommen Is this issue resolved by the merged PRs?

[2021-02-10 18:33] pshipton commented on #11819
Yes it is.

[2021-02-10 18:33] #11819 closed

[2021-02-10 18:37] pshipton commented on #11945
Probably not. We already have parallel testing enabled which splits the tests into multiple parts. I did ask @llxia about splitting system tests into 3 parts instead of the 2 we have now, which should help a little at the end when machines start to become free. I'm also disabling special.system tests for Mac and Win to reduce the test load. https://github.com/eclipse/openj9/pull/11947. I still thi

[2021-02-10 18:52] dchopra001 commented on #11832
There's a PR open for this now.

[2021-02-10 19:05] keithc-ca commented on #11733
Those tests pass using current versions:
[code]
So I tried building from the 0.25.0 release branch:
[code]
The tests still passed:
[code]
I guess I'll have to go back to jdk15 to figure this out.

[2021-02-10 19:12] hangshao0 commented on #11940
It is safer to check for the orphan number >= 4, in case things change from the OpenJDK side in the future (or in different JDK versions) that it may not always be 11.

[2021-02-10 20:25] fjeremic commented on #11943
There is a jitdump available with the current IL. However the recompilation step did not trigger because of stack smashing protection.

[code]

[2021-02-10 20:33] keithc-ca commented on #11733
The test is broken.

It performs this sequence of steps:
1) Use `!classforname java/lang/Object` to find a known class. The output contains this line:
[code]

2) Using the address above, it uses `!j9class 0x3CA00` to find the class object on the heap. The output of this command contains a line like:
[code]

3) Finally, the test issues `!fj9object 0xE0000420`. The problem here is that it assumes th

[2021-02-10 21:01] smlambert opened #11949 "Investigate use of public AzDo in combo with Azure VM agents Jenkins plugin"
We believe that we may be able to combine a [public Azure Devops](https://docs.microsoft.com/en-us/azure/devops/organizations/public/about-public-projects?view=azure-devops#get-started-with-a-public-project) for this open-source project (with [unlimited machine minutes](https://azure.microsoft.com/en-us/blog/announcing-azure-pipelines-with-unlimited-ci-cd-minutes-for-open-source/) and up to 10 par

[2021-02-10 22:42] #11940 closed

[2021-02-11 00:42] AdamBrousseau commented on #11945
Increased 3 nightly (8,11,16) from 14 hours to 16 hours in the Jenkins config at the top level since this is the timeout that was hit.

[2021-02-11 03:23] #11945 closed

[2021-02-11 09:45] andrew-m-leonard commented on #11733
@keithc-ca fyi, the problem happens repeated on the Adopt test-docker- nodes for some reason: https://github.com/AdoptOpenJDK/openjdk-tests/issues/2252#issuecomment-777297687

[2021-02-11 10:33] lumpfish opened #11955 "LangLoadTest_5m_0 crash vmState=0x00000000 Compiled_method=java/lang/invoke/FilterReturnHandle.invokeExact_thunkArchetype_X(I)I"
LangLoadTest_5m_0
variation: Mode150
JVM_OPTIONS:  -XX:+UseCompressedOops

[code]

Failing build:
[code]
Failing job link: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.system_ppc64_aix/144/consoleFull

Test output at point of failure:
[code]

[2021-02-11 10:41] adamfarley commented on #11915
It looks like this issue occurs on Hotspot too: https://trss.adoptopenjdk.net/output/test?id=601ea2ce217ed804cc8a6d6a

[2021-02-11 12:55] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_mixed_Nightly/9

[2021-02-11 12:59] pshipton commented on #6552
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_mixed_Nightly_testList_4/8
DaaLoadTest_all_special_5m_29
variation: -Xgcpolicy:gencon -Xgc:dynamicBreadthFirstScanOrdering
JVM_OPTIONS:  -Xgcpolicy:gencon -Xgc:dynamicBreadthFirstScanOrdering
[code]

[2021-02-11 13:21] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_mixed_OpenJDK11/1
java/lang/String/Supplementary.java
java/lang/String/ToLowerCase.java
java/lang/String/ToUpperCase.java
java/lang/String/UnicodeCasingTest.java
java/lang/StringBuffer/AppendCharSequence.java
java/lang/StringBuffer/AppendSB.java
java/lang/StringBuffer/AppendStringBuilder.java
java/lang/StringBuffer/Buff

[2021-02-11 13:28] keithc-ca commented on #11733
See my earlier https://github.com/eclipse/openj9/issues/11733#issuecomment-777010844. A PR to fix the test is pending.

[2021-02-11 14:59] tajila commented on #11205
Confirmed that the issue is resolved

[2021-02-11 14:59] #11205 closed

[2021-02-11 15:09] ymanton commented on #8806
Tests were re-enabled in https://github.com/eclipse/openj9/pull/8775 ages ago so this is resolved.

[2021-02-11 15:09] #8806 closed

[2021-02-11 16:33] pshipton commented on #11545
Close as a dup of #11493

[2021-02-11 16:34] pshipton commented on #11493
See also https://github.com/eclipse/openj9/issues/11545
https://github.com/eclipse/openj9/issues/11544
and https://github.com/eclipse/openj9/issues/11955

[2021-02-11 16:34] pshipton commented on #11955
Dup of https://github.com/eclipse/openj9/issues/11493

[2021-02-11 16:34] #11955 closed

[2021-02-11 16:59] rickcrook opened #11956 "Internal Error (cppInterpreter_zero.cpp:833) under s390x with openjdk version "1.8.0_275" running Corda"
Java -version output
--------------------

openjdk version "1.8.0_275"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_275-b01)
OpenJDK 64-Bit Zero VM (AdoptOpenJDK)(build 25.275-b01, interpreted mode)

running in docker image adoptopenjdk/openjdk8:jdk8u275-b01
on s390x/LinuxOne

Summary of problem
------------------

On execution of java -jar corda.jar the following is observed.

[code]

C

[2021-02-11 17:05] rickcrook opened #11957 ""java.lang.AssertionError: java.lang.NoSuchFieldException: target" on s390x with Corda"
Java -version output
--------------------

Output from `java -version`.
[code]
running in adoptopenjdk/openjdk8-openj9:jdk8u275-b01_openj9-0.23.0
on x390x/LinuxOne

Summary of problem
------------------

Exception raised  `java.lang.AssertionError: java.lang.NoSuchFieldException: target` while running java -jar corda.jar

A quick scan of the internet shows this has been seen before https://github.

[2021-02-11 17:41] pshipton commented on #11956
This is the OpenJ9 project. Hotspot is not support here. Please report this to https://github.com/AdoptOpenJDK/openjdk-support or OpenJDK.net

[2021-02-11 17:41] #11956 closed

[2021-02-11 19:20] #11733 closed

[2021-02-11 19:35] joransiu commented on #11957
From the app.log:

[code]

I couldn't find the `0.7.13` level of quasar.   From 0.7.10, it should be related to this line: https://github.com/puniverse/quasar/blob/v0.7.10/quasar-core/src/main/java/co/paralleluniverse/concurrent/util/ThreadAccess.java#L48

Given the [getter/setters](https://github.com/puniverse/quasar/blob/v0.7.10/quasar-core/src/main/java/co/paralleluniverse/concurrent/util/Threa

[2021-02-11 20:01] llxia commented on #10627
Thanks @tajila . It looks like we do not have `jdk_vector` added in our openjdk playlist. I will add the target.

[2021-02-11 20:33] hangshao0 opened #11958 "Incorrect NLS message at the end of cfrerr.nls"
I notice the following at the end of `cfrerr.nls`.

https://github.com/eclipse/openj9/blob/9530f964a5f4a1a95a0e5147a462af8e9b987a29/runtime/nls/cfre/cfrerr.nls#L1554

It does not have a message body.

I see the correct message is there in the 0.24.0 release:
https://github.com/eclipse/openj9/blob/345e1b09e2a1f2cf6323b25edc901cce197f4365/runtime/nls/cfre/cfrerr.nls#L1564-L1569

[2021-02-11 20:34] hangshao0 commented on #11958
Not sure if the message ID has been exposed to the users or now. Probably we need to recover this message in `cfrerr.nls` ?

[2021-02-11 20:47] pshipton commented on #11958
The change was intentional because the message is no longer used in the latest code.
See #11807, and also https://github.com/eclipse/openj9/blob/master/runtime/nls/cfre/cfrerr.nls#L28-L29

[2021-02-11 20:47] #11958 closed

[2021-02-11 20:50] pshipton commented on #11390
The fixes are merged.

[2021-02-11 20:50] #11390 closed

[2021-02-11 20:56] hangshao0 commented on #11958
OK, I see. Thanks.

[2021-02-11 21:15] 0xdaryl commented on #5654
We used to implement some form of this on IA32 where we would keep track of the "extra" pushes on the stack in some contexts.  We encoded the number of extra pushes in 8 bits of the GC map at that point.  I don't know if the VM relies on this mechanism any more.  However, I think some support for this still lives in the JIT and if it needs to be re-purposed/resurrected I think it can be.  The one

[2021-02-11 21:18] gacholio commented on #5654
At the start (and possibly forever), we will only be supporting Linux AMD64.

I'm also signal protecting the stack walk, so if we were to hit the push case, we would just lose that sample.

[2021-02-11 21:24] llxia commented on #10627
|platform|Grinder|
|--|--|
|x86-64_linux| https://ci.eclipse.org/openj9/job/Grinder/1525/|
|ppc64le_linux| https://ci.eclipse.org/openj9/job/Grinder/1526/|
|ppc64_aix| https://ci.eclipse.org/openj9/job/Grinder/1527/|
|x86-64_mac| https://ci.eclipse.org/openj9/job/Grinder/1528/|
|s390x_linux| https://ci.eclipse.org/openj9/job/Grinder/1529/|

[2021-02-11 21:54] #11792 closed

[2021-02-11 22:18] pshipton commented on #10627
Looks like they have passed except for AIX which is still running. Lan, what is the best way to run these tests all the time for jdk16+? Can we add them to sanity.openjdk for jdk16+?

[2021-02-11 22:44] JasonFengJ9 commented on #11942
This is same issue as https://github.com/eclipse/openj9/issues/6920, detail analysis is at https://github.com/eclipse/openj9/issues/6920#issuecomment-528062028.

It is not a JVM problem. The issue is within `Jython` code and has been fixed in latest release `v2.7.2` [1]. This test uses latest `dacapo.jar` [2] however it contains an outdated `jython.jar` (v2.5.2), replacing it with latest `v2.7.2`

[2021-02-12 00:03] liqunl commented on #11611
The problem is that there is a long MethodHandle chain inliner tries to inline. We inline part of it in the normal inlining pass, the heuristics is that if there are MH chains left after the first pass, inliner will request `methodHandleInvokeInliningOpts` repeatively until all the MethodHandle in the chain is inlined. The long MH chain has resulted in `methodHandleInvokeInliningOpts` being reques

[2021-02-12 00:23] smlambert commented on #10627
These tests are added to extended level for a couple of reasons (and so will run weekly at Adopt):
- the target takes ~45min to run on xlinux (so not a quick set)
- we matched sanity.openjdk to be equivalent to openjdk's tier1 tests and jdk_vector sits in tier3

[2021-02-12 00:38] fjeremic opened #11960 "StringPeepholes optimization is disabled on Java 11 in a trivial test"
While working on @dchopra001 with a test case for #11832 we discovered that the following simple test case will employ the use of StringPeepholes in Java 8 but no in Java 11, even though the trees look identical:

[code]

[code]

Taking a look at the code the issue seems to be here:
https://github.com/eclipse/openj9/blob/9530f964a5f4a1a95a0e5147a462af8e9b987a29/runtime/compiler/optimizer/StringPee

[2021-02-12 00:39] fjeremic commented on #11960
@0xdaryl @vijaysun-omr a source of regression between Java 11 and Java 8. Thoughts on changing the above to `return false`?

[2021-02-12 01:41] 0xdaryl opened #11961 "Propagate workaround for #9416"
This issue was created primarily as a reminder.

Unless #9416 is resolved in time for 0.25, the workaround that has been used in the previous two releases should be ported to the 0.25 release (see #11431).

Also, the diagnostic code added in #11871 should be reverted.

[2021-02-12 01:43] 0xdaryl commented on #9458
Done.

[2021-02-12 01:43] #9458 closed

[2021-02-12 07:09] knn-k commented on #11851
This failure is not observed in builds 110-114 of https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk11_j9_extended.functional_aarch64_linux/ .
It is not clear yet what makes the generated code so large.

[2021-02-12 09:58] rickcrook commented on #11957
@joransiu Thank you. It would appear @pron already made the suggested change to the R3 fork of the quasar code in Nov 2018 which made it into release-0.8.2_r3 but was not v0.7.13_r3 (release 30 Jul 2020).
https://github.com/corda/quasar/commit/25031be1083694da5176df5792826882a152cfc6#diff-e236b21e9830dc9153172ac25b37aa2df6cc81e9ec201105a26c95bc50fbe7f7

I'll follow up with Corda team and raise the

[2021-02-12 13:46] vijaysun-omr commented on #11960
I agree with returning false in this case; probably the original thinking around that case was that it could never happen but I agree that there is no point worrying about redefinition if the class is not loaded.

[2021-02-12 14:26] gpezzini commented on #11569
Hi, I've downloaded:

openjdk version "11.0.10" 2021-01-19
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.10+9)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.24.0, JRE 11 Windows Server 2019 amd64-64-Bit Compressed References 20210120_899 (JIT enabled, AOT enabled)
OpenJ9   - 345e1b09e
OMR      - 741e94ea8
JCL      - 0a86953833 based on jdk-11.0.10+9)

And I had run the process, but I have

[2021-02-12 14:45] llxia commented on #10627
All tests in https://github.com/eclipse/openj9/issues/10627#issuecomment-777801473 passed.

[2021-02-12 14:52] pshipton commented on #11569
@gpezzini this issue is tagged for the 0.25 release (Java 16) only, but will also be in the 0.26 release in April that updates Java 11. The fix is not included in the 0.24 release which is used by 11.0.10

[2021-02-12 14:54] gpezzini commented on #11569
@pshipton
Thanks an excuse me for the disturbance

[2021-02-12 14:55] #11957 closed

[2021-02-12 15:29] llxia commented on #11942
Test is excluded in https://github.com/AdoptOpenJDK/openjdk-tests/pull/2269/

[2021-02-12 15:31] pshipton commented on #9797
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly/628

[2021-02-12 16:45] gacholio commented on #5654
Is there a trivial profiler somewhere I can run to test the implementation (preferably for Java 8)?

[2021-02-12 16:51] ninja- commented on #5654
https://github.com/jvm-profiling-tools/async-profiler

[2021-02-12 17:57] llxia opened #11963 "cmdLineTester_jvmtitests_soae failed with Unhandled exception on aarch64_linux_mixed"
Internal Test_openjdk11_j9_sanity.functional_aarch64_linux_mixed/7/

[code]
[code]

The following variation failed with Unhandled exception:

- cmdLineTester_jvmtitests_soae_0 `JVM_OPTIONS:  -Xjit -Xgcpolicy:gencon -Xnocompressedrefs `

- cmdLineTester_jvmtitests_soae_1 `JVM_OPTIONS:  -Xjit -Xgcpolicy:gencon -Xshareclasses:name=bcienabled,enableBCI -Xnocompressedrefs `

- cmdLineTester_jvmtitests_

[2021-02-12 18:06] babsingh opened #11964 "OJDK MH: testSCCMLModularity_1 failures"
### Errors

This error is seen when OJDK MHs are enabled in OpenJ9.
[code]

No failure conditions were found. **Only the following required condition was not found:**
[code]

### Failing Test Targets

1. `testSCCMLModularity_1` [sanity.functional]

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK with OJDK MHs e

[2021-02-12 18:09] babsingh commented on #11964
Needs to be investigated.

This should be tagged with the `project:MH` label.

@hangshao0 Is this a test issue similar to https://github.com/eclipse/openj9/issues/11940?

[2021-02-12 18:16] llxia opened #11965 "SCURLClassLoaderTests_0 failed with Unhandled exception on aarch64_linux_mixed"
Internal Test_openjdk11_j9_sanity.functional_aarch64_linux_mixed/7

[code]

This also hangs the test build.

[2021-02-12 18:27] pshipton commented on #11965
@knn-k

[2021-02-12 18:27] pshipton commented on #11965
Note this is -Xnocompressedrefs

[2021-02-12 18:31] pshipton commented on #11963
@knn-k

[2021-02-12 19:44] liqunl commented on #11611
The third problem is that we have a problem create/propagating prex arg info. Due to lack of arg info, we can't refine methods in the MH chain, thus inlining stops in the middle. Then we have to rely on self-requested `methodHandleInvokeInliningOpts` to inline the rest of the chain.

InterpreterEmulator doesn't propagate arg info without peeking, but it's strange that in the first pass we have obj

[2021-02-12 19:44] llxia commented on #11965
auto exclude test SCURLClassLoaderTests_0 plat=.*aarch.*

[2021-02-12 20:06] hangshao0 commented on #11964
The test expects classes from `jdk/internal/jimage` are loaded. It seems that they are not loaded anymore. Something has changed in the ModuleBootstrap code path in the MH builds.

[2021-02-12 21:19] fjeremic commented on #9227
This has now more or less been addressed in #11969. We are printing the snippets as the very last step when printing the IL of the crashed thread. This issue will be closed when #11969 is merged, however if the above OMR issue ever gets fixed we will automatically pick up the change and not crash during printing of snippets.

[2021-02-12 21:21] fjeremic commented on #9137
This issue is partly addressed by #11959. I'll continue to monitor if we are unable to reproduce original crashes to see if we need to come back to this issue. I think I've covered the majority of the cases. As a future work item we may get someone new or as a project for a beginner to take a look at whether it is feasible to cache the option bits for past compilations with the previously mentione

[2021-02-13 04:40] BeverlyXu commented on #11756
I was able to download the tests from openbenchmarking.org and reproduce the performance gaps. For some of the gaps, it can be narrowed by using some of the JVM tuning options, such as fixing the heap size, and pinning the test to fewer cores, etc.

@sirinath the benchmarks listed in the webpage you mentioned have various emphasis in the test -- some are computation heavy, some are measuring CPU p

[2021-02-13 06:32] sirinath commented on #11756
There is no benchmark test in particular.

Leaving benchmarks side, my particular requirements are:
- faster time to full warm up
- faster JITed code
- low overhead JITing
- pause-less GC
- fast self tuning

So that workloads are:
- low latency
- high throughput

[2021-02-13 06:57] sirinath opened #11973 "Add similar extensions found in Alibaba Dragonwell"
- [JWarmup](https://github.com/alibaba/dragonwell8/wiki/Alibaba-Dragonwell8-User-Guide#jwarmup)
- [Elastic Heap](https://github.com/alibaba/dragonwell8/wiki/Alibaba-Dragonwell8-User-Guide#g1elasticheap)
- [Stackful symmetric co-routine implemented at the JVM level without source modification](https://github.com/alibaba/dragonwell8/wiki/Wisp-Documentation)

[2021-02-13 15:23] liqunl opened #11974 "Refactor final field folding code"
The final field folding code is scattered in multiple places. The folding util is in J9TransformUtils, however, there're two very similar tables of whitelisted classes whose fields can be folded (in function `foldFinalFieldsIn`), one in J9TransformUtils and one in VMJ9.cpp. We should consolidate them. Notice that there is subtle difference between the two, one is for both static field and instance

[2021-02-13 19:07] #9137 closed

[2021-02-13 20:55] pshipton opened #11975 "win2012-x86-4 needs a reboot"
Builds were hanging when trying to run on this machine, now it appears offline.

[2021-02-13 20:55] pshipton commented on #11975
@jdekonin

[2021-02-13 21:45] pshipton commented on #11975
It came back online and is still hanging, disabled it.

[2021-02-13 22:03] pshipton commented on #11509
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.functional_x86-64_linux_Release/1
TestJps_0
[code]

[2021-02-14 22:21] knn-k commented on #11963
Is this a "mixed" build that can run in both XL and CR modes?
How do you build it?

[2021-02-16 00:15] pshipton commented on #11963
Run `configure` with `--with-mixedrefs`. Note we're looking at making this the default, hopefully tomorrow.

[2021-02-16 02:27] pshipton commented on #11908
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly/632
[code]

[2021-02-16 12:19] knn-k commented on #11963
Thanks.

I am not surprised that a single JIT binary runs fine with `-Xcompressedrefs` but fails with `-Xnocompressedrefs` because there are some lines in PicBuilder.spp that use `#ifdef OMR_GC_COMPRESSED_POINTERS`.  The following part is an example.

https://github.com/eclipse/openj9/blob/14abebc65a4e0bcc18e683e98dcfa62ca6b4398d/runtime/compiler/aarch64/runtime/PicBuilder.spp#L754-L758

It seems

[2021-02-16 12:27] knn-k opened #11977 "AArch64: Support mixed refs"
Need to support mixed refs.

[2021-02-16 12:29] knn-k commented on #11963
I opened #11977 for tracking the work for supporting mixed refs.

[2021-02-16 12:36] knn-k commented on #10266
Running `configure` with `--with-mixedrefs` in an cross-building environment failed with the following error:

[code]

[2021-02-16 12:51] knn-k commented on #11977
Related changes for Power:  #8944

[2021-02-16 13:15] jdekonin commented on #11975
I've rebooted it and its back online taking jobs.

[2021-02-16 13:25] #11960 closed

[2021-02-16 13:43] pshipton commented on #11975
Maybe I should get permission and instruction on how to do this.

[2021-02-16 13:50] pshipton commented on #10266
How important is this (https://github.com/eclipse/openj9/issues/10266#issuecomment-779809526), should it hold up switching to use mixedrefs by default? Once mixedrefs is the default cross-building will have to disable mixedrefs during configure, unless we hard code an exception for aarch64.

[2021-02-16 14:30] vij-singh commented on #11526
@IBMJimmyk Any new updates on this one?

[2021-02-16 14:41] IBMJimmyk commented on #11526
The PR to fix the issue is open. I'm currently waiting on the changes to be approved and merged in.

[2021-02-16 15:12] ashbm5 commented on #11500
@shanchao95 please have a look

[2021-02-16 15:31] zl-wang opened #11978 "Docker image build for CentOS 7 failed"
[root@pjavarhel01 ~]# bash mkdocker.sh --tag=openj9 --dist=centos --version=7 --build

Stopped at:

STEP 3: RUN cd /tmp  && wget --progress=dot:mega -O autoconf.tar.gz https://fossies.org/linux/misc/autoconf-2.69.tar.gz  && tar -xzf autoconf.tar.gz  && cd autoconf-2.69  && ./configure --build=$(rpm --eval %{_host})  && make  && make install  && cd ..  && rm -rf autoconf.tar.gz autoconf-2.69
--2021

[2021-02-16 15:45] pshipton opened #11979 "cmdLineTest_sigabrtHandlingTest_0 Default abort testing hang"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly_testList_0/252/
cmdLineTest_sigabrtHandlingTest_0
[code]

[2021-02-16 15:48] pshipton commented on #11908
@tajila @hangshao0 fyi

[2021-02-16 15:50] pshipton commented on #11899
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_mixed_Nightly/14

[2021-02-16 15:55] pshipton commented on #6552
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_mac_mixed_Nightly_testList_1/13
DaaLoadTest_all_5m_0
variation: Mode110
JVM_OPTIONS:  -Xjit -Xgcpolicy:gencon -Xnocompressedrefs

[2021-02-16 16:07] keithc-ca opened #11980 "Update to openssl 1.1.1j"
Release 1.1.1j appears to have security fixes.

[2021-02-16 16:07] keithc-ca commented on #7633
The tag 1.1.1j appeared today: created #11980.

[2021-02-16 16:14] pshipton commented on #9186
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_ppc64_aix_mixed_Nightly/6/

[2021-02-16 16:18] pshipton opened #11981 "ub16x64j94 offline"
https://ci.eclipse.org/openj9/computer/ub16x64j94/

It was/is running https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.functional_x86-64_linux_mixed_Nightly_testList_0/7
[code]

[2021-02-16 16:20] pshipton commented on #11975
@jdekonin the machine is offline again.

[2021-02-16 16:28] pshipton commented on #11904
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_x86-64_windows_mixed_Personal_testList_0/3/
No artifacts retained, the job timed out.