[2020-07-09 15:04] pshipton opened #10130 "Tests compiling using javac with unsupported -Xmodule: option"
On zOS, the functional tests are failing to compile, as they are using an unsupported option `-Xmodule:`. I'm not sure how all the other platforms are working.

I find 2 references to `-Xmodule:`.
https://github.com/eclipse/openj9/tree/master/test/functional/cmdLineTests/proxyFieldAccess/build.xml#L51
https://github.com/eclipse/openj9/tree/master/test/functional/Java8andUp/build.xml#L84

[code]

[2020-07-09 15:10] pshipton commented on #10130
Ah, it seems the test is specific to the "ibm" JDK_IMPL.

[2020-07-09 15:34] ChengJin01 commented on #10125
@gacholio ,

We refactored the code of `verifyQualifiedName` last year to address all invalid class names detected by https://github.com/eclipse/openj9/issues/5225. The initial intention was to call `copyStringToUTF8WithMemAlloc` to allocate memory  (or use an buffer on the stack)  for the class name so as to leverage the existing code in `checkNameImpl` (`/runtime/verutil/chverify.c`) to verify t

[2020-07-09 15:35] #9168 closed

[2020-07-09 15:40] gacholio commented on #10125
Is there an identified performance issue this is trying to fix? If not, I'd be tempted to simply leave this alone.

[2020-07-09 16:16] ChengJin01 commented on #10125
Talked to @gacholio offline, there are still a bunch of details in there to figure out as we have no idea what is the impact with these changes.

We probably have to fix the regression issue first without the proposal (e.g. simply remove `copyStringToUTF8WithMemAlloc` in `verifyQualifiedName`  for a temp solution (In theory, the proposal will work but not sure whether it entirely solves all issues

[2020-07-09 17:04] fjeremic commented on #9136
I fixed the two jitdump related deadlocks encountered before. In my stress test now I'm encountering a new deadlock which I believe can happen without the jitdump scenario. This is reproducible by the way and verifiable in gdb. Assume that some compilation thread crashed and is waiting for the diagnostic thread to finish the compile.

[code]

All three threads are executing concurrently and the se

[2020-07-09 17:20] babsingh opened #10134 "OpenJDK.MH Documentation"
### invokebasic and target

**stack:**
[code]

**target:**
[code]

**invokebasic pseudocode:**
[code]

[2020-07-09 17:33] gacholio commented on #9136
This sounds like the correct approach to me. VM access/exclusive operate very much like a monitor, so they should be ordered accordingly.

[2020-07-09 17:40] babsingh commented on #10134
fyi @fengxue-IS @DanHeidinga @gacholio @liqunl

[2020-07-09 18:59] rajdeepsingh1 commented on #9855
@pshipton machines are now online in Jenkins:

cent7-x64-1
cent7-x64-2
cent7-x64-3
cent7-x64-4
cent7-x64-5
cent7-x64-6

[2020-07-09 21:16] jdekonin commented on #9855
Updating reference repos
https://ci.eclipse.org/openj9/view/Infrastructure/job/Update-Reference-Repos/557/

[2020-07-10 10:45] kakawait commented on #10128
I've dump, I'll analyze and share information asap.

But we've made some other change to reduce scope of problem.

1. I removed thread/async usage, so even without additional thread (I mean only on current thread) I have the crash
2. Never reproduced on previous build `build openj9-0.18.0` (but was not the same code, is our previous release so I can't claim that is this new build `0.20.0` the prob

[2020-07-10 10:55] knn-k opened #10141 "AArch64: Test failure with Cipher/AEAD/GCMLargeDataKAT"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/154/consoleText

Optional info
-------------

- intermittent failure: yes
- regression or new test: regression
- if regression, what are the last passing public SHAs: OpenJ9 - 5daf4597c / OMR - 2e7b141e2 / JCL - 4983461e55 based on jdk-11.0.8+8)

Failure output (captured from console output

[2020-07-10 12:00] darshitpp commented on #6667
The [Quick Start Guide for running tests](https://github.com/eclipse/openj9/blob/master/test/README.md) has no mention of cloning the `openjdk-tests` repository, and it only mentions the `TKG` repository. As both of your comments mention the `openjdk-tests` repository, I would clone it, and retry. However, I am now confused about how I managed to run the test suite using just `TKG`.

I want to con

[2020-07-10 13:17] pshipton commented on #10128
It might be worth trying the 0.21 milestone 2 build, in case the problem has been resolved. The 0.21.0 release should finalize next week.
https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.8+8_openj9-0.21.0-m2

[2020-07-10 13:28] smlambert commented on #6667
I have an [open issue to centralize the test documentation](https://github.com/eclipse/openj9/issues/6318).  Feel free to attempt to fix it, but it is related of a major overhaul of test doc, started here: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1556

The Quick Start Guide was written to help openj9 developers in an assumed common user story, they are working in their openj9 branch loca

[2020-07-10 15:02] kakawait commented on #10128
@pshipton right after getting `core.dump` I contacted owner of native lib and seems to be a bug on their side.

So nothing related to OpenJ9

I'm currently re-testing with patched native code and I'm confident. Otherwise I'll try with `0.18.0` and `0.21.0`

Sorry for disturbing

[2020-07-10 15:02] #10128 closed

[2020-07-10 15:49] hangshao0 commented on #9328
Replaced the Unsafe.defineAnonymousClass() hack with a native implementation of a new define class API in ClassLoader.java, now Java -version is working.

[2020-07-10 17:48] JasonFengJ9 opened #10144 "JDK15 : unreflectTest.java:57: error: exception IllegalAccessException is never thrown in body of corresponding try statement"
Failure link
------------

From an internal build `Test_openjdk15_j9_sanity.openjdk_ppc64le_linux_Nightly/8`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:07:59  https://hyc-run

[2020-07-10 17:55] JasonFengJ9 opened #10146 "JDK 15 : TEST: java/lang/reflect/Field/Set.java `main' threw exception: java.lang.Throwable: Test for Field.set FAILED"
Failure link
------------

From an internal build `Test_openjdk15_j9_sanity.openjdk_ppc64le_linux_Nightly/8`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:07:59  https://hyc-run

[2020-07-10 18:01] JasonFengJ9 opened #10147 "JDK 15 : SealedClassesReflectionTest.java Compilation failed"
Failure link
------------

From an internal build `Test_openjdk15_j9_sanity.openjdk_ppc64le_linux_Nightly/8`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:07:59  https://hyc-run

[2020-07-10 18:03] pshipton commented on #6667
Doing https://github.com/eclipse/openj9/issues/6667#issuecomment-655552131 without cloning the openjdk-tests didn't work for me. The `make compile` didn't do much, and trying to run the test shows `Warning: cannot find the following tests [jdk_custom] in TESTLIST`

[2020-07-10 18:08] pshipton commented on #10147
Seems a waste of time to open test failure issues for features that aren't implemented yet. Better to wait until they are implemented, and then check the failures.

[2020-07-10 18:09] JasonFengJ9 opened #10148 "JDK 15 : RecordReflectionTest.java IllegalArgumentException: Can not set final int field"
Failure link
------------

From an internal build `Test_openjdk15_j9_sanity.openjdk_ppc64le_linux_Nightly/8`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:07:59  https://hyc-runt

[2020-07-10 18:16] JasonFengJ9 opened #10149 "JDK 15 : StringJoinerTest.java OutOfMemoryError: UTF16 String size is 2147483639, should be less than 1073741823"
Failure link
------------

From an internal build `Test_openjdk15_j9_sanity.openjdk_ppc64le_linux_Nightly/8`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
https://hyc-runtimes-jenki

[2020-07-10 18:33] JasonFengJ9 opened #10150 "JDK 15 : Basic.java Identical buffers not equal: java.nio.ByteBufferAsShortBufferB[pos=2 lim=5 cap=3584], java.nio.HeapShortBuffer[pos=2 lim=5 cap=3584]"
Failure link
------------

From an internal build `Test_openjdk15_j9_sanity.openjdk_ppc64le_linux_Nightly/8`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
https://hyc-runtimes-jenki

[2020-07-10 18:58] smlambert commented on #6667
I was commenting on the [quick start guide content](https://github.com/eclipse/openj9/blob/master/test/README.md#quick-start) which says clone **TKG repo**.  If you follow those instructions it will **also** work, but it confuses people so it will be changed to clone the **openjdk-tests repo**.  Cloning either works (for functional tests), but I will do my very best to fix our doc so as not confus

[2020-07-10 20:39] BeverlyXu commented on #9815
@amicic would you please take a look at the log without the mod? User has reported that by removing the mod, the performance problem was fixed. If the new gc log shows similar behavior as the one with the mod, then we can go into verbose logs to look at potential JIT problems. Thank you!

[2020-07-10 22:30] #10130 closed

[2020-07-11 13:54] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR_testList_0/47
cmdLineTester_CryptoTest_0

[2020-07-11 17:01] pshipton commented on #8173
Another occurrence https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_mac_OpenJDK/224
There is a core file created, available in the diagnostics download https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDKnext_x86-64_mac_OpenJDK/224/Build_JDKnext_x86-64_mac_OpenJDK-224-20200711-022921-diagnostics.tar.gz

[2020-07-13 03:04] knn-k commented on #10126
The same NPEs and SEGVs are seen in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/155/consoleText

[2020-07-13 05:08] darshitpp commented on #6667
`StringRepeat` has two tests - `test1()` and `test2()`, but the test execution only shows that one test was executed, and passed. There is no failed test. I ran the test on the Jenkins Grinder job (https://ci.adoptopenjdk.net/job/Grinder/3558/) and received the same results.

Does this mean the String repeat is a single test (or showing consolidated results), or is there something missing which is

[2020-07-13 11:32] karianna commented on #4277
https://github.com/AdoptOpenJDK/openjdk-tests/issues/1881

[2020-07-13 11:33] karianna commented on #9797
https://github.com/AdoptOpenJDK/openjdk-tests/issues/1881

[2020-07-13 13:12] pshipton commented on #9851
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_Nightly/116
[code]

[2020-07-13 14:19] keithc-ca commented on #10099
Now that the above two pull requests are merged, OMR and OpenJ9 produce `.map` files with the desired names.
Additional changes are required to the extension repos to copy those files to the right places so they will be included in debug images.

[2020-07-13 15:31] pshipton commented on #6667
StringRepeat is considered a single test, no matter how many sub-tests it contains. I expect this problem was resolved by https://github.com/eclipse/openj9/pull/8830 so I'll go ahead and close it.

[2020-07-13 15:31] #6667 closed

[2020-07-13 15:43] dchopra001 commented on #9800
I did a performance run comparison of just OpenJ9 (no JITServer) in order to compare if there's any performance impact in liberty when disabling `node->isClassUnloadingConst()`.

The results show a throughput average of `9067.2` vs `9028.3`. I think this is small enough that we can say that there is no impact on performance. I'll post results shortly.

[2020-07-13 18:47] dsouzai commented on #9710
I took a look latest set of cores.

bytecodes of the method that was AOT'd:
[code]
When I run `printAllStats` on the SCC @edrevo provided:
[code]

The ROMMethod of `akka$http$impl$engine$server$HttpServerBluePrint$RequestTimeoutSupport$$anon$$openTimeouts Signature: ()Lscala/collection/immutable/Queue;` always has the same address. I would have thought that if a class in the SCC became stale, the

[2020-07-13 19:07] pshipton commented on #9710
A class becomes stale when the classpath changes. This forces the class to be loaded from the classpath (jar) again (which may result in storing new metadata into the cache for the new classpath, if there is room),  but if the ROM class loaded is the same as the one already stored in the shared cache, the ROM class in the cache continues to be used.  Classpath changes can change the RAM class, whi

[2020-07-13 19:14] dsouzai commented on #9710
Hm, in this case, once the class is stale, the AOT code ends up being off by 4 bytes when trying to load the field from an object. That sounds like the layout of the romclass changed doesn't it?

[2020-07-13 19:21] pshipton commented on #9710
Could one of the superclasses have affected that? The ROM class only records the name of the superclass, and it's own fields, it doesn't control the final layout of the Object. The layout is controlled by the RAM class hierarchy. i.e. perhaps one of the superclass ROM classes changed.

[2020-07-13 19:31] dsouzai commented on #9710
Yeah you're right:
[code]
[code]
[code]
[code]

[2020-07-13 20:23] ChengJin01 commented on #10125
Given `verifyQualifiedName` is invoked at various places,  The proposed improvement will be split to a couple of PRs to address different situations:
[code]
As for [4], there are two things to be considered for sharing the memory between `verifyQualifiedName` and its new callers:
[1] J9_STR_XLAT is set up in`copyStringToUTF8WithMemAlloc` to convert `.` to `/`, which is totally opposite to the crit

[2020-07-14 01:52] knn-k commented on #10089
Related PRs: #10102, #10127

[2020-07-14 02:30] gacholio commented on #8878
@dmitripivkine @amicic Would you object to me removing the compressed/full ifdefs from the variables (this is where we would eventually end up anyway with a true mixed mode build)? This solves any DDR issues, and will probably make my life a lot easier even with the two-library solution.

[2020-07-14 07:50] knn-k commented on #10141
This test compares the hash value from `MessageDigest.getInstance("MD5").digest(data)`.

[2020-07-14 09:07] andrew-m-leonard opened #10156 "jdk14: JlmRemote testcases failing, unsure why...?"
https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.system_x86-64_linux_xl/145/consoleFull
test-scaleway-ubuntu1604-x64-1

01:43:17  FAILED test targets:
01:43:17  	TestJlmRemoteClassNoAuth_0
01:43:17  	TestJlmRemoteMemoryAuth_0
01:43:17  	TestJlmRemoteMemoryNoAuth_0
01:43:17  	TestIBMJlmRemoteClassAuth_0
01:43:17  	TestIBMJlmRemoteClassNoAuth_0
01:43:17  	TestIBMJlmRemoteMemoryAuth_0
01:43:1

[2020-07-14 12:12] pshipton opened #10157 "SharedClasses.SCM23.MultiThread_0 libj9shr29.so crash vmState=0x00000000"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_s390x_linux_xl_Nightly/226
SharedClasses.SCM23.MultiThread_0
[code]

[2020-07-14 12:12] pshipton commented on #10157
@hangshao0 can you pls take a look.

[2020-07-14 12:18] pshipton opened #10158 "java/util/concurrent/BlockingQueue/ProducerConsumerLoops timeout"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/117
java/util/concurrent/BlockingQueue/ProducerConsumerLoops.java
Core file available in artifacts.
[code]

[2020-07-14 13:24] pshipton commented on #10156
Some kind of network problem on the machine?
1.LT1.stdout
[code]

[2020-07-14 13:45] amicic commented on #8878
You are talking about fields like

#if defined(OMR_GC_COMPRESSED_POINTERS) && defined(OMR_GC_FULL_POINTERS)
	bool _compressObjectReferences;
#endif /* defined(OMR_GC_COMPRESSED_POINTERS) && defined(OMR_GC_FULL_POINTERS) */

in various GC meta structures (Environment, Extention, ObjectModel etc.)?

I don't see a problem.

[2020-07-14 14:57] keithc-ca commented on #10099
The new pull requests above add Windows `.map` files from OpenJ9 artifacts to debug images.

[2020-07-14 15:25] dchopra001 commented on #9800
Here is a graph showing the throughput comparing throughput with certain features disabled:
![Screen Shot 2020-07-14 at 11 21 26 AM](https://user-images.githubusercontent.com/11260919/87444091-57788700-c5c4-11ea-98d9-edfadc675764.png)

And here is the steady state throughput average:
![Screen Shot 2020-07-14 at 11 23 07 AM](https://user-images.githubusercontent.com/11260919/87444181-724afb80-c5c4-

[2020-07-14 15:40] dsouzai commented on #9710
Opened https://github.com/eclipse/openj9/pull/10159 to fix this.

[2020-07-14 15:59] hangshao0 commented on #10157
It is crashed inside `SH_CacheMap::runExitCode()`. Looks like a null check is missing somewhere inside `SH_ByteDataManagerImpl::htReleasePrivateEntry()`

[2020-07-14 17:28] gacholio commented on #8878
I'm referring to things like this:
[code]

[2020-07-14 20:30] pshipton opened #10165 "Add support for OpenJDK 8 OSX .dSYM folders"
The OSX debug images for Java 8 are missing .dSYM folders for OpenJDK content.

[2020-07-14 23:31] pshipton opened #10166 "plinux failing to curl jtreg"
I've seen this a few times. Is there a dependency job that needs to be re-run?

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/109 - ub16-ppcle-1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Release/7 - ub16-ppcle-2
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_OpenJDK8/12 - ub16-ppcle-3

[2020-07-14 23:32] pshipton commented on #10166
@smlambert @llxia @jdekonin

[2020-07-15 01:17] smlambert commented on #10166
At present we pull last successful artifacts from the jtreg job directly, not from a getDependencies job:
https://ci.adoptopenjdk.net/view/Dependencies/job/jtreg/.  The artifact is present, so this is a networking issue.

From [StackOverflow](https://stackoverflow.com/questions/1759956/curl-error-18-transfer-closed-with-outstanding-read-data-remaining):

[2020-07-15 01:20] smlambert commented on #10166
And before its asked, we do [retry](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/build.xml#L43) to get this artifact.

[2020-07-15 01:26] smlambert commented on #10166
Related: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1841

[2020-07-15 01:44] keithc-ca commented on #10099
I believe this is now complete.

[2020-07-15 01:44] #10099 closed

[2020-07-15 01:45] #9402 closed

[2020-07-15 02:47] pshipton opened #10168 "aarch64 openjdk StreamSpliteratorTest crash vmState=0x00000000 AsTypeHandle.invokeExact_thunkArchetype_X(I)I"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_Release/3
java/util/stream/test/org/openjdk/tests/java/util/stream/StreamSpliteratorTest.java
[code]

[2020-07-15 02:47] pshipton commented on #10168
@knn-k fyi

[2020-07-15 03:53] pshipton opened #10169 "openjdk java/util/concurrent/ExecutorService/Invoke Some tests failed"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-32_windows_Release/8
java/util/concurrent/ExecutorService/Invoke.java
[code]

[2020-07-15 03:55] pshipton commented on #10169
https://ci.eclipse.org/openj9/job/Grinder/968/

[2020-07-15 04:30] knn-k commented on #10168
It seems the core file is unavailable in https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_Release/3/openjdk_test_output.tar.gz

[2020-07-15 07:39] knn-k commented on #10168
It is intermittent, but I reproduced the crash on cent7-aarch64-1 using the binary from https://ci.eclipse.org/openj9/job/Build_JDK11_aarch64_linux_Release/9/.

[code]

`x0` is the 'this' of this method.  `x1` is loaded from `[x0,#40]`, and its value is 0x0 in the register dump.
On the other hand, the memory at `[x0,#40]` in the core file contains a non-null value.

[code]

[2020-07-15 08:29] knn-k commented on #10168
I ran the test on a quad-core machine 40+ times, and got no failures.

[2020-07-15 10:55] pshipton opened #10170 "openjdk java/util/Arrays/Correct failed!"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_xl_Release/8
java/util/Arrays/Correct.java
[code]

[2020-07-15 11:13] pshipton commented on #10170
20x grinder https://ci.eclipse.org/openj9/job/Grinder/972/

[2020-07-15 11:32] #6744 closed

[2020-07-15 12:04] pshipton opened #10171 "zlinux sanity.functional tests hanging during compile"
zlinux sanity.functional tests hanging during compile in OMR acceptance.

First seen in https://ci.eclipse.org/openj9/job/Pipeline-OMR-Acceptance/2025/
https://github.com/eclipse/omr/compare/7a0b420...9a797cc

It's possible the problem was not introduced by OMR changes. There were no nightly builds last night due to 0.21.0 release testing.
OpenJ9 changes are https://github.com/eclipse/openj9/compa

[2020-07-15 12:34] pshipton commented on #10170
@fjeremic fyi

[2020-07-15 12:37] pshipton commented on #10171
Originally thought this was specific to the rh7-390 machines, but the following occurred on ub16-390.

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_s390x_linux_OMR_testList_1/46 - ub16-390-1

[2020-07-15 13:00] pshipton commented on #10171
@RSalman So far I haven't seen this hang outside of OMR acceptance, could https://github.com/eclipse/omr/pull/5336 be causing this problem.
@amicic fyi

[2020-07-15 13:22] amicic commented on #10171
There is some possibility, but I would not say it's particularly likely.
Is this intermittent? If so, it could be due to earlier changes (build 2024)?

[2020-07-15 13:28] mpirvu opened #10172 "Send collectImplementorsCapped queries to JITServer"
`collectImplementorsCapped()` is a routine often used by the JIT to determine how many implementors are available for an interface of virtual method. Because it needs to traverse the CHTable hierarchy, a large part of this routine is executed with CHTable mutex in hand. The problem is that during the CHTable hierarchy traversal the JITServer may send messages to the client for various pieces of in

[2020-07-15 13:28] mpirvu commented on #10172
FYI @dmitry-ten

[2020-07-15 14:22] RSalman commented on #10171
Doesn't seem likely it's this change, I would expect to see the same issue on other platforms.

[2020-07-15 14:25] pshipton commented on #10171
@amicic it is somewhat intermittent, but happens quite often, in particular on the rh7-390 machines. As the OpenJ9 builds are working, I think we're limited to OMR changes which aren't yet accepted, limited to the first occurrance, which is https://github.com/eclipse/omr/compare/7a0b420...9a797cc

[2020-07-15 14:30] pshipton commented on #10171
There was also another hang in the latest OMR acceptance build.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_OMR_testList_0/51/
[code]

[2020-07-15 14:54] mpirvu commented on #3724
FYI: @dmitry-ten

[2020-07-15 14:57] RSalman commented on #10171
Reverting change while I look into it. These changes look more suspicious than the other changes https://github.com/eclipse/omr/compare/7a0b420...9a797cc

[2020-07-15 15:01] knn-k commented on #10168
It looks like a memory consistency problem.  I tried inserting an `allocationFence` in a method as a quick hack, and it seems to resolve the crash.

[2020-07-15 15:23] mstoodle commented on #9316
Looking at the potential for an August monthly release, I suspect the anticipated flurry of activity as the AdoptOpenJDK community plans their move to the Eclipse Foundation [1] probably means an August release is unlikely. Until we have fixes identified to put into such a release, we don't have a strong need to do a release either.

That probably means the reasonable next time to revisit a monthl

[2020-07-15 15:44] fjeremic commented on #10170
0/160 repro rate. We will keep an eye if it starts occurring more often.

[2020-07-15 15:59] #9698 closed

[2020-07-15 16:25] JasonFengJ9 opened #10173 "AIX JDK15 NoClassDefFoundError: sun.java2d.Disposer (initialization failure) due to UnsatisfiedLinkError: j2sdk-image/lib/libawt_xawt.so ( 0509-022 Cannot load module j2sdk-image/lib/liba."
Failure link
------------

From an internal build `Test_openjdk15_j9_extended.functional_ppc64_aix_Nightly_testList_0/8`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
0

[2020-07-15 16:40] pshipton commented on #10173
Looks like a machine problem.

[2020-07-15 16:40] #10173 closed

[2020-07-15 17:22] smlambert commented on #10166
Will close as a dup of https://github.com/AdoptOpenJDK/openjdk-tests/issues/1894

[2020-07-15 17:22] #10166 closed

[2020-07-15 17:23] dsouzai commented on #9710
Thanks @edrevo for all the diagnostic info. Also thanks @DanHeidinga & @pshipton for the VM help.

[2020-07-15 17:37] edrevo commented on #9710
Many thanks for jumping on the issue and fixing it! Do you know which version of Openj9 will contain the fix?

[2020-07-15 18:08] pshipton commented on #9710
It's missed the 0.21.0 release for July, the next release for Java 11 is the 0.23.0 release in Oct.

[2020-07-15 18:09] pshipton commented on #9710
Once the fix is merged, it will be in the nightly builds at https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9

[2020-07-15 18:18] #9136 closed

[2020-07-15 21:28] #9710 closed

[2020-07-15 21:35] amicic commented on #9815
Various metrics are fairly close to each other. Overall, well behaved GC.

Variant | OpenJ9 mod | OpenJ9 NO mod
-- | -- | --
Concurrent collection count | 26 | 22
Forced collection count | 0 | 0
GC Mode | gencon | gencon
Global collections - Mean garbage collection pause (ms) | 83.3 | 76.0
Global collections - Mean interval between collections  (ms) | 20364 | 21963
Global collections - Number of c

[2020-07-15 23:52] RSalman commented on #10171
Confirmed that it's caused by this change, investigating further

[2020-07-16 01:46] knn-k commented on #10168
The same crash seems to have ocurred with another test, java/util/stream/test/org/openjdk/tests/java/util/stream/ReduceTest in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/203/consoleText:

[code]

[2020-07-16 02:21] knn-k commented on #10168
Instruction sequence is different (there is no `lsl`), but it looks the same: Register dump shows null-pointer access, but the memory dump contains a valid pointer.

[code]

[2020-07-16 10:03] knn-k commented on #10168
Optimization `localLiveRangeReduction` removes an `allocationFence` from the IL for the method `java/lang/invoke/MethodHandle.asType(Ljava/lang/invoke/MethodHandle;Ljava/lang/invoke/MethodType;)Ljava/lang/invoke/MethodHandle;` at optlevel=hot, and that seems to cause the memory consistency problem.

Running StreamSpliteratorTest with `-Xjit:{java/lang/invoke/MethodHandle.asType*}(optlevel=hot,disa

[2020-07-16 11:04] 0xdaryl commented on #10168
I don't have proof this is the problem yet, but this line affecting allocation fences is guarded with `isPower()` and likely needs to include AArch64:

https://github.com/eclipse/omr/blob/b99d3036d8a20592a04fdcd77bca176e794e326d/compiler/optimizer/LocalLiveRangeReducer.cpp#L494

Ideally, this will be turned into a capability query rather than a check on the architecture.

[2020-07-16 12:18] knn-k commented on #10168
I opened eclipse/omr#5401 as a fix for this issue.

[2020-07-16 12:32] JasonFengJ9 opened #10179 "JDK8 Windows MauveMultiThreadLoadTest_special_17 - Uncaught exception: java.lang.StackOverflowError: null"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Release_mauveLoadTest/6/tapResults/
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following

[2020-07-16 12:59] pmhayward commented on #10071
@theresa-m Please create a docs issue for any updates that might be necessary as a result of code changes. I can't see much that's likely, except "slave" - see below.
I have already made the following changes, which should be visible after 0.21.0 GA:
0x "whitelist" or "blacklist"
1x "master" in [xtgc.md](https://www.eclipse.org/openj9/docs/xtgc/#backtrace) : ("master thread" --> "main thread")
4x

[2020-07-16 13:16] pshipton commented on #10179
This is likely a dup of https://github.com/eclipse/openj9/issues/8204. The StackOverflow has already been addressed via https://github.com/AdoptOpenJDK/stf/pull/84. The build pre-dates the fix.

[2020-07-16 13:16] #10179 closed

[2020-07-16 13:38] pwagland commented on #9912
Hi @theresa-m, I see that this didn't make 11.08, is there anything that we can do to help in the diagnosis?

[2020-07-16 13:46] dnakamura commented on #9126
@pshipton  has this popped up again? I believe it should be fixed with eclipse/omr#5266

[2020-07-16 14:15] 0xdaryl opened #10180 "Remove unnecessary use of getOptimizationPhaseIsComplete()"
This is the only use of the `getOptimizationPhaseIsComplete()` query in OpenJ9 and it is asked in a place that is obviously after the optimizer has completed and well into the code generator.  Remove it and fold code assuming it answers `true`:

https://github.com/eclipse/openj9/blob/ee1f3d1ae159643f5cf8d3b3554224ee6282f082/runtime/compiler/z/codegen/InMemoryLoadStoreMarking.cpp#L55

The only plac

[2020-07-16 14:17] 0xdaryl opened #10181 "Remove LateSequentialConstantStoreSimplification CodeGenerator phase"
The only purpose of this CodeGenerator phase is to call `setOptimizationPhaseIsComplete()`.  In the code generator this must be true and this phase should be eliminated.  As a start, grep through the code for `LateSequentialConstantStoreSimplification` and delete/fold as appropriate.

**Note:** `getOptimizationPhaseIsComplete()` is queried in a couple places in the code and those must be folded fi

[2020-07-16 14:59] raguks commented on #9443
@DanHeidinga The charts will have a README. Users just have to just run some commands.
Here is a dipiction of how the deployment works:
![image](https://user-images.githubusercontent.com/680244/87686827-faf7a200-c752-11ea-8b44-27118ca744aa.png)

Operator works exactly like this but the commands aare based on openshift client oc. If you still have questions let me know. There are many possible comb

[2020-07-16 15:27] #10056 closed

[2020-07-16 15:35] pshipton commented on #9126
I haven't seen it.

[2020-07-16 15:35] #9126 closed

[2020-07-16 15:36] sjmini opened #10183 "Missing null check of jmethodID object in Check:jni option"
Java -version output
--------------------
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9   - 51a5857d2
OMR      - 7a1b0239a
JCL      - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
--------------

[2020-07-16 15:40] JasonFengJ9 commented on #10183
Will have a look.

[2020-07-16 18:17] rpshukla commented on #9754
Update: the cause of the NullPointerException seems to be a bug in Monitor Elimination. Monitor Elimination manipulates the catch blocks and exception edges created by this CFG Simplification pattern.

Here, monitor elimination tries to add a new exception edge from the NULLCHK block created by CFG simplification to a new catch block created by monitor elimination:
https://github.com/eclipse/openj

[2020-07-16 21:56] theresa-m commented on #9912
Thanks for the offer! I'll dive back into this on Monday and let you know, this is still high on my list for the September release.

[2020-07-17 01:42] knn-k opened #10187 "Inserting allocationFence nodes"
This issue comes from the discussion in https://github.com/eclipse/omr/pull/5401.

- Insert allocationFence node only when the target architecture requires it.
- There is a query `getEnforceStoreOrder()` in `CodeGenerator` now.  That should be asked to `TR::Compiler->target.cpu` instead.

[2020-07-17 01:48] knn-k commented on #10187
`getEnforceStoreOrder()` is to return true on Power and AArch64 (+ ARM, perhaps) when it is an SMP environment.  Currently Power sets the flag as in the lines below.

https://github.com/eclipse/omr/blob/24cd6ede529b51b68f8af33474c7006525cb8c86/compiler/p/codegen/OMRCodeGenerator.cpp#L274-L275

[2020-07-17 03:46] ChengJin01 commented on #10125
PR for all code mentioned in `[1]` has been created at https://github.com/eclipse/openj9/pull/10188 for review.

[2020-07-17 04:32] psoohoo-turbonomic commented on #8552
Hi @pshipton , sorry I didn't try out M2 when it was out. But I just tested on the GA version and it looks good after several attempts to reproduce the problem!

Thanks for the fix, guys!!

[2020-07-17 11:26] #10183 closed

[2020-07-17 13:14] JasonFengJ9 opened #10189 "TestSoftMxCallBackExtend_1 - OutOfMemoryError: Java heap space"
Failure link
------------
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly_testList_0/49
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_ppc64_aix_Nightly_testList_1/48
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly_testList_1/50
[code]

Optional info
-------------

Failure output (captured

[2020-07-17 15:29] hangshao0 commented on #9328
I am running one hidden class test suite. Spent some time digging into the failures. I can get 4 more tests passing with my local change (put a bit details of the tests in work item 143941).

I will launch some builds to make sure my change does not break anything. If everything is fine, I will create a Pull Request for my current change.

[2020-07-17 15:45] sjmini opened #10191 "OpenJ9 hangs if Xcheck:jni option is enabled and Release<type>ArrayElements function is used abnormally."
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------
OpenJ9 h

[2020-07-17 19:42] mikezhang1234567890 commented on #7354
In Java 11, 14, and 15, an anonymous class is in the set returned by `getAllLoadedClasses` for both OpenJ9 and Hotspot, and it is non modifiable.

Also in OpenJ9 Java 11+, there is an issue with access when trying to get reflective access to the dummy class for `Method.invoke` resulting in:
[code]

In Java 8, the anonymous class is modifiable, and retransformation and redefinition works as expecte

[2020-07-18 13:36] 1a2s3d4f1 commented on #9815
[code]
Happen in 1.16.1 modded minecraft (no that mod)

Openj9 TPS delays min:17ms   avg:19ms  max:32ms
Hotspot TPS delays min:12ms  avg:15ms  max:28ms

Screenshots:
Hotspot:
![2020-07-18_20.48.40.png](https://i.loli.net/2020/07/18/264PXut5LrnxfpH.png)
openj9:
![2020-07-18_21.07.12.png](https://i.loli.net/2020/07/18/8Bl4Nt9KXuZzcO7.png)

GC log:[verbosegc.20200718.210754.3104.zip](https://github.c

[2020-07-20 11:29] #6830 closed

[2020-07-20 12:23] pshipton commented on #10123
@vsebe with the merge of #10184, is there anything else to do for this or can it be closed?

[2020-07-20 12:43] 1a2s3d4f1 commented on #9815
Game TPS delays:
Openj9: min:14ms  avg:16ms
Hotspot:min:11ms  avg:12ms

JIT log and GC log:
[LogVerbose.20200720.200928.zip](https://github.com/eclipse/openj9/files/4947715/LogVerbose.20200720.200928.zip)
[verbosegc.20200720.200927.7836.zip](https://github.com/eclipse/openj9/files/4947716/verbosegc.20200720.200927.7836.zip)

[2020-07-20 14:29] austin0 opened #10195 "Compiler crash in Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl"
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/161/console
https://trss.adoptopenjdk.net/output/test?id=5f1512677eaab3443cafc357
https://trss.adoptopenjdk.net/output/test?id=5f1512677eaab3443cafc358
------------

Compiler crashed while running `jdk_lang_j9_0` and `jdk_util_j9_0`.

First occurrence (jdk_lang_j9_0):
[code]

JTReg error:
[code]

Optional info
------

[2020-07-20 14:39] 0xdaryl commented on #10195
This is a duplicate of #10126.

[2020-07-20 14:39] #10195 closed

[2020-07-20 14:50] adamfarley commented on #10156
I think this could be a duplicate of https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/246

[2020-07-20 14:51] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly_testList_0/51
cmdLineTester_CryptoTest_0

[2020-07-20 14:57] pshipton opened #10196 "SC_Softmx_JitAot_Linux_0 ASSERTION FAILED at ObjectMonitor.cpp:331"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Release/41
SC_Softmx_JitAot_Linux_0
[code]

[2020-07-20 15:06] pshipton commented on #8204
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_xl_Nightly_mauveLoadTest/72

@Mesbah-Alam here is another failure, but we didn't get any core dump. The -Xdump command https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/356 doesn't specify the correct package name. It specifies
net/adoptopenjdk/loadTest/MauveTestFailureException, but the Exception is
net.adoptopenj

[2020-07-20 15:18] Mesbah-Alam commented on #8204
MauveTestFailureException class was refactored into a new package in https://github.com/AdoptOpenJDK/stf/pull/83/files#diff-ad5f317c88f122ae7ecf2be60b18f61e , but the reference was not updated in https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/356/files#diff-a7b21278a26c58dc97240147769b0135 - my mistake. Fixing it now.

[2020-07-20 16:10] pshipton opened #10197 "TestOpenJ9DiagnosticsMXBean hanging on cent7-x64-6"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly_testList_0/51
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly_testList_0/52
TestOpenJ9DiagnosticsMXBean
cent7-x64-6
[code]

[2020-07-20 16:11] pshipton commented on #10197
@jdekonin seems there is a network setup issue on at least cent7-x64-6.

[2020-07-20 16:16] pshipton opened #10198 "TestJstack_0 test.property missing expected"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_xl_Nightly_testList_1/47
TestJstack_0
[code]

[2020-07-20 16:18] pshipton commented on #10189
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly_testList_0/52

[2020-07-20 16:21] pshipton opened #10199 "cent7-x64-1 and cent7-x64-3 offline"
`load pubkey "/run/secrets/jenkins/ssh/id_rsa.openj9": invalid format`

[2020-07-20 16:21] pshipton commented on #10199
@jdekonin @AdamBrousseau

[2020-07-20 16:22] pshipton commented on #10197
Disabled the machine for now.

[2020-07-20 16:28] pshipton commented on #10189
@jason-hall @amicic Do you think this is caused by https://github.com/eclipse/omr/pull/5327 ?

[2020-07-20 16:30] psoohoo-turbonomic opened #10200 "Containerized JVM will not use more than 25GB heap without explicit configuration"
Java -version output
--------------------
[code]

Summary of problem
------------------
When running an OpenJ9 JVM in a container that is given a memory limit of 40gb or higher, the JVM never auto-detects more than 25gb of usable max heap. According to the documentation for the "UseContainerSupport" flag, we were expecting to see the JVM use up to 75% of the available memory limit as heap.

More s

[2020-07-20 16:41] jason-hall commented on #10189
optthruput out of memory? Probably is

[2020-07-20 16:44] pshipton commented on #10200
@amicic @dmitripivkine can you please take a look.

[2020-07-20 16:55] 0xdaryl opened #10201 "Enabling JProfiling?"
In the JIT, what is the intended use and interaction of the "enableJProfiling/disableJProfiling" options (both of which toggles the `TR_EnableJProfiling` flag) and the "disableJProfilingInProfilingCompilations" option (which toggles the `TR_DisableJProfilingInProfilingCompilations` flag)?

As far as I can tell, no platform enables JProfiling via the `TR_EnableJProfiling` flag (it is always disable

[2020-07-20 16:57] pshipton opened #10202 "-XX:+UseContainerSupport doesn't set max heap size when -Xms is set"
Related to https://github.com/eclipse/openj9/issues/10200, the https://www.eclipse.org/openj9/docs/xxusecontainersupport/ feature didn't appear to be working to set the default maximum java heap size to 75% of the container memory limit. It was discovered this was due to -Xms being set. Although this is documented https://www.eclipse.org/openj9/docs/xxinitialrampercentage/, it's not clear why -Xms

[2020-07-20 16:58] pshipton commented on #10202
@dmitripivkine @amicic please take a look.

[2020-07-20 17:14] r30shah commented on #10201
@0xdaryl  `TR_EnableJProfiling` name is a misleading. Purpose for that option is to enable patchable instrumentation (Which is WIP atm). I opened up the issue to rename and refactor use of that to something else.
https://github.com/eclipse/omr/issues/4265.

Right now in Profiling Compilation, JProfiling is enabled by default, and can be disabled by option `TR_DisableJProfilingInProfilingCompilatio

[2020-07-20 17:17] JasonFengJ9 commented on #10191
Will have a look.

[2020-07-20 17:32] 0xdaryl commented on #10201
Thanks, that helps.  Once that issue is complete, would `TR_DisableJProfilingInProfilingCompilations` be renamed to something simpler (like `TR_DisableJProfiling`) ?

[2020-07-20 17:39] r30shah commented on #10201
Yes, solution I have in mind is to replace `TR_DisableJProfilingInProfilingCompilations` with `TR_DisableJProfiling` and rename `TR_EnableJProfiling` to something which resonates with idea of patchable profiling.

[2020-07-20 17:40] #10201 closed

[2020-07-20 18:15] vsebe commented on #10123
It can be closed since https://github.com/eclipse/openj9/pull/10184 and https://github.com/AdoptOpenJDK/openjdk-tests/pull/1876 are merged.

[2020-07-20 18:25] jdekonin commented on #10197
We'll need more information than that.  cent7-x64-5 and cent7-x64-6 should be identical to cent7-x64-4 from which they were cloned.  fyi @rajdeepsingh1

[2020-07-20 18:25] jdekonin commented on #10199
@rajdeepsingh1 can you please look into this, thanks.

[2020-07-20 18:38] pshipton commented on #10197
I'm guessing the IP address of the machine is set incorrectly.

[2020-07-20 19:28] JasonFengJ9 commented on #10191
@sjmini would you like give a try for latest release https://adoptopenjdk.net/archive.html?variant=openjdk11&jvmVariant=openj9, and check if the issue has been fixed by any chance?
In addition, did the hang occur consistently? is it specific to `JDK 11 Linux AMD`?

[2020-07-20 20:04] BeverlyXu commented on #9815
@1a2s3d4f1
Looking at the two LogVerbose files from 0720 and 0609, it looks like the two runs are having different settings. Notably,  `shiftAmount` shows different values, and this normally means different heap sizes. There is a chance that the mod itself implicitly sets the heap size. Please double check.

We would like to have two verbose logs that have the exact same setup, except for the mod

[2020-07-20 20:05] rajdeepsingh1 commented on #10199
Images are supposed to be created in /images instead of /instances in order to have ample space for the VMs to function. I'll move them over to /images on the hosts and they should be online. Updates to follow.

[2020-07-20 20:06] ChengJin01 commented on #10125
I will get started to look at the following step `[2]` & `[3]` to see what  we can do with the existing code.

[code]

[2020-07-20 20:16] gacholio commented on #10125
I very much doubt either or those will have any impact on performance, as they run exactly once per class, unlike the lookups.

[2020-07-20 20:22] ChengJin01 commented on #10125
@gacholio,  the step `[4]` is based on whether we can fix all the similar issue with verifyQualifiedName at step `[1]`, `[2]` and `[3]`. If not the case, we have to stop here.

[2020-07-20 20:59] rajdeepsingh1 commented on #10199
@pshipton This has been resolved. cent7-x64-1 and cent7-x64-3 are now online in Jenkins.

[2020-07-20 21:03] dmitry-ten commented on #9962
The reason it doesn't work correctly is due to verbose log using a custom print function implemented in OMR and it not being compatible with `PRI` format specifiers.
`OMR_PRIu64` is equivalent to `PRIu64` macro, which converts to `%lu` on a Ubuntu 64-bit machine.
The standard library print functions handle this format specifier correctly, i.e. given a 64-bit value, print out all the bits.
However,

[2020-07-20 22:19] #10123 closed

[2020-07-20 23:40] #10199 closed

[2020-07-20 23:50] 1a2s3d4f1 commented on #9815
@BeverlyXu
I was get different LogVerbose ,
1.16.1, 29 mods jvm memory:1024mb It is still have  performance problem when not add that mod.

Test game version 1.16.1(add mod version is 1.15.2)
No ImmersivePortalsMod
Game TPS delays(1.16.1):
Openj9: min 14ms avg 16ms （often avg 17ms）
Hotspot: min 11ms avg 12ms

0720 LogVerbose was 1.16.1 29mods game ,so it is different than 0609.

[2020-07-21 04:17] sjmini commented on #10191
@JasonFengJ9

The same problem occurs on JDK 8 as well.

openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-b08)
Eclipse OpenJ9 VM (build openj9-0.18.1, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20200122_511 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - 8cf8a30581 based on jdk8u242-b08)

I also have verified on below release, and the same problem

[2020-07-21 08:41] knn-k commented on #10126
New kind of javac failures only in an XL build:
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/162/consoleText
[code]

[2020-07-21 10:44] ksilz opened #10204 "Docker Hub: wrong tag name shown for "x86_64-debianslim-jre""
The Docker Hub page for [AdoptOpenJDK 11 OpenJ9](https://hub.docker.com/r/adoptopenjdk/openjdk11-openj9) shows a wrong tag name for the `x86_64-debianslim-jre`. It shows it with an `-jre`at the end that's wrong:

![Wrong Docker tag](https://user-images.githubusercontent.com/1061209/88045731-e77b7b00-cb46-11ea-924b-da714475c950.png)

The "Tags" tab has it right - no `-jre` at the end:

<img width="

[2020-07-21 15:50] hangshao0 commented on #9328
From the JEP:

So if the hidden class is defined with ClassOption.STRONG, then it will be unloaded when its loader is GC'ed.
If not defined with ClassOption.STRONG, it can be unloaded earlier (once it is not reachable). I guess there are GC work required for this. @dmitripivkine

in #10207
J9AccClassHiddenClass will be set in romClass->extraModifiers for a hidden class.
J9AccHiddenClassOptionStron

[2020-07-21 16:22] dmitripivkine commented on #9328
Class unloading is done on Classloader level (with exceptional handling for Anonymous classes unloaded individually but kept by artificial Anonymous Classloader can not be unloaded at all). If there is no mandatory early unloading for hidden classes I would prefer to keep its unloading on Classloader level. Otherwise change of unloading process would be fundamental and GC processing is just small

[2020-07-21 16:33] dmitripivkine commented on #9328
Is an implementation of hidden classes based on Anonymous (any hidden class is Anonymous from GC point of view)?

[2020-07-21 16:43] gacholio commented on #8878
There will be no need to un-ifdef any fields - the proposed multi-compile solution will leave both of the pointer flags defined in both compiles, so the structures will be identical. The optimization will be achieved by defining the override flag (like some of the VM files) instead.

[2020-07-21 16:56] sjmini opened #10210 "Missing check of static jfield in Check:jni option"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------

OpenJ9'

[2020-07-21 16:59] pshipton opened #10211 "Enable dtrace in OpenJ9 builds"
OpenJ9 should consider enabling dtrace to match the AdoptOpenJDK builds.
See
https://github.com/AdoptOpenJDK/openjdk-build/issues/1242
https://github.com/AdoptOpenJDK/openjdk-build/pull/1244

[2020-07-21 16:59] pshipton commented on #10211
@keithc-ca fyi as this includes adding systemtap-sdt-dev to the docker script.

[2020-07-21 17:37] hangshao0 commented on #9328
Yes, it is mostly based on anonymous classes.
But hidden class will have some extra flags set in romClass->extraModifiers and its defining class loader is a real class loader, not anonymous Classloader.

[2020-07-21 17:45] JasonFengJ9 commented on #10210
Will take this one as well.

[2020-07-21 17:55] hangshao0 commented on #9328
There are hidden class test that checks after System.gc(), hidden classes without ClassOption.STRONG are gone.

[2020-07-21 17:56] pshipton commented on #10204
@dinogun fyi

[2020-07-21 17:58] dmitripivkine commented on #9328
I am asking from GC/unloading point of view. An Anonymous classes management is constructed special way to allow individual unloading:
- An artificial Anonymous classloader is used to manage Anonymous classes (even it's parent classloader is different)
- there is only one Anonymous class cam be allocated per classloader RAM segment
- there is only one correspondent ROM class can be allocated per c

[2020-07-21 18:02] pshipton commented on #10204
Actually @ksilz, I think this issue should be raised at the AdoptOpenJDK project.
https://github.com/AdoptOpenJDK/openjdk-support or https://github.com/AdoptOpenJDK/openjdk-docker

[2020-07-21 18:03] AlenBadel commented on #8671
I've went ahead and updated an implementation overview. https://github.com/eclipse/openj9/issues/8671#issue-571666508

@dmitripivkine @pshipton @gita-omr
I appreciate any feedback. Particularly, I've specified two approaches to implement central parsing.
(1) Iterating though vm arguments left to right and using pattern matching.
(2) Using `FIND_AND_CONSUME_ARG`

Any opinion on which one we should

[2020-07-21 18:07] pshipton commented on #10189
eclipse/omr#5327 is integrated so I'll close this. It should be reopened if the problem is seen again.

[2020-07-21 18:07] #10189 closed

[2020-07-21 18:09] gita-omr commented on #8671
I definitely like (1) more. It just seems more intuitive and easier to maintain. Note that (2) not just uses FIND_AND_CONSUME_ARG but needs to group options in some specific groups, find indexes for all options in the group, then carefully compare those indexes to figure out the precedence. Not sure what happens when an option belongs to more than one group, or new option is added.

[2020-07-21 18:27] gacholio commented on #8878
The optimization will be controlled by defining OMR_OVERRIDE_COMPRESS_OBJECT_REFERENCES to 0 (full) or 1 (compressed) for all of the J9 and OMR GC code.

The J9 override has been changed to OMR for consistency.

[2020-07-21 18:33] dmitripivkine commented on #8671
Case (1) has hardcoded preference "+" over "-" option.
Also using of macro adding an abstract layer for extra functionality: for example hidden (consumed) option handling, mapped option etc.

There is an example of handling `-XX +/-` option from current code:
[code]
I don't see why not to use the same pattern for new options?

[2020-07-21 18:40] hangshao0 commented on #9328
OK, I see your point. The VM can decide whether to construct the hidden class the same way as anonymous (or regular) classes to control if it can be unloaded individually.

[2020-07-21 18:50] gacholio commented on #8878
So the question now is how to get this into the various build systems. If we end up only making this work in cmake, that's probably OK (and certainly a good start).

Do we want to put the override on the compile command line, or use some other more nefarious mechanism.

Things we need to consider:

- how to get the flag into the builds at all

- how to compile the OMR and J9 portions twice with th

[2020-07-21 18:55] AlenBadel commented on #8671
As large pages is concerned I cant fathom an option being added that impacts more than one of these functional groups. It's exactly why we added multiple new options. We've designed this so that we are creating building blocks that can build any possible large page scenario. I don't see the need to map a specific profile, or configuration to a single -XX option. That's the main motivation behind m

[2020-07-21 18:57] dinogun commented on #10204
Fixed now, thanks !

[2020-07-21 19:04] pshipton commented on #10204
Awesome, thanks.

[2020-07-21 19:04] #10204 closed

[2020-07-21 19:13] rwy0717 commented on #8878
Under cmake, I would build the GC as two different libraries, from the same set of sources. To get the glue code to build twice, we just need to make both libraries link against the gc-glue interface-library. I would just pass the override flag along on the command line, I haven't been able to come up with a cleaner way to do it.

[2020-07-21 20:34] harryyu1994 commented on #7965
@fjeremic @andrewcraik Do you guys have any issues/concerns with moving forward with solution 2 here (fixing the shift value to 3 for *portable* AOT).

Summary of the solution:
- When `-XX:+PortableSharedCache` is specified, the compressedref shift will be fixed to 3 (3 for <= 32gb and 4 for > 32gb).
- If user always operates under 32gb then there will be no problem
- The only limitation is If it

[2020-07-21 20:57] gita-omr commented on #8671
I think handling +/- can be fixed, as well as using macros vs strcmp. I think the main question is: do we want to just have one pass over all the command line arguments and keep setting flags accordingly or we want to create groups of options, look for those options and then compare their indexes? Maybe the latter is the way it's been done historically but I find it a bit complicated.

[2020-07-21 20:59] dsouzai commented on #7965
Worth noting that there is a point when even shift 4 won't work, eg if the heap is so big that we have to run without compressedrefs; I don't know if the JVM will explicitly require the user to pass in `-Xnocompressedrefs` once we have one build that can do both.

If we can't use compressedrefs, what should the portable AOT story be? Should we generate a SCC with the default CPU features & nocompr

[2020-07-21 21:11] harryyu1994 commented on #7965
It sounds reasonable to me as we are giving the same treatment to shift 3/shift 4/nocompressedrefs.

[2020-07-21 21:27] pshipton commented on #8204
We got a core! I located the two objects being compared and looked at them manually. The difference is in the calendar TimeZone objects. One has GMT and the other Etc/UTC. So I think the problem is not with something calling Locale.setDefault() but calling TimeZone.setDefault().

@Mesbah-Alam can you please check the other mauve tests for callers of TimeZone.setDefault().

[2020-07-21 21:42] pshipton commented on #7965
Note compressedrefs and non-compressedrefs don't share any cache, there are different cache files for these atm.

[2020-07-21 23:13] pshipton commented on #8204
Fixed via https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/358

[2020-07-21 23:13] #8204 closed

[2020-07-21 23:39] ChengJin01 commented on #10125
I already finished the changes of step `[2]` & `[3]` but a couple of test failures related to the changes was detected in personal builds. Will investigate to see what happened to the code there.

[2020-07-22 00:10] dmitripivkine commented on #8671
My vote is to keep handling of new `-XX` options simple. As far as each new option is independent (but might have relation option/sub-option like `-XX:+UseLargePages -XX:LargePageInBytes=1M`) the handling should be very simple in a new world. There are two areas of application ("object heap" and "code cache") and three groups of options (general LP request, sub-options to specify size/type of page

[2020-07-22 00:23] JasonFengJ9 commented on #10191
Thanks @sjmini , the hang is reproducible.

[2020-07-22 02:10] pshipton opened #10215 "testJITServer_0 crash vmState=0x0005ffff"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_OMR_testList_0/57
testJITServer_0
[code]

[2020-07-22 02:10] pshipton commented on #10215
@mpirvu

[2020-07-22 11:46] vijaysun-omr commented on #7965
Is it possible to estimate the impact of applying a constant shift by 3 in compiled code ?  In general I am supportive of this proposed direction that you are taking but I wanted to get a sense for how much slower we would be making portable AOT code because of compressed refs shift. My expectation/hope would be that the overhead is'nt much more than 5% but this is what I'm asking to be measured.

[2020-07-22 13:00] JasonFengJ9 commented on #10210
It appears there is no `static` type info within `jfieldID`.

@gacholio any insights about performing JNI check to detect mismatching `jfieldID`?

[2020-07-22 14:10] keithc-ca commented on #8878
@rwy0717 That seems reasonably 'clean' to me: what about that is less than ideal?

[2020-07-22 15:08] gacholio commented on #10210
The field shape within the ID has a modifiers field that can be checked.

[2020-07-22 15:18] gacholio commented on #8878
Also bear in mind the glue is going to be compiled twice as well.

I'm hoping @sharon-wang will actually be doing this work, so she'll no doubt have more specific questions about adding options to the command line (in particular, how does OpenJ9 tell OMR that it wants extra options?).

One of the issues is that we will not need the default compiled OMR GC (which will be runtime mixed mode). If we

[2020-07-22 15:21] andrewcraik commented on #9978
@rpshukla can you look?

[2020-07-22 15:21] andrewcraik commented on #9978
FYI @liqunl

[2020-07-22 15:23] gacholio commented on #10210
It may also be worth adding a couple of tests to verify the two new errors (instance field passed to static, static field passed to instance).

[2020-07-22 15:56] pshipton commented on #10211
https://github.com/eclipse/openj9/pull/10222 was created to update the docker script.

[2020-07-22 16:00] AlenBadel commented on #8671
I agree, that makes sense. Will make the change to the design now.

This is true not only for AIX, but for other platforms. Historically, when -Xlp is not specified the codecache will always try to allocate a preferred page size for each platform.

https://github.com/eclipse/openj9/blob/270a41478fa4f73089a001892c021c47ef39a5a6/runtime/compiler/control/J9Options.cpp#L1748-L1758

We can resolve this

[2020-07-22 16:19] Unpublished opened #10223 "OpenJ9 cannot build android project (again)"
Java -version output
--------------------

[code]

Summary of problem
------------------

Building a fresh android project fails.

Steps to reproduce:
1. Download https://github.com/Unpublished/OpenJ9_android_example
2. Execute `./gradlew assembleRelease`

Output with OpenJ9:
[code]

Output with Hotspot:
[code]

A demo repo including `./gradlew assembleRelease --stacktrace` output can be found her

[2020-07-22 16:22] keithc-ca commented on #8878
If we produce two GC shared libraries, we'll need to produce two DDR blobs as well (one corresponding to each GC shared library) and the appropriate blob will need to be loaded.

[2020-07-22 16:31] gacholio commented on #8878
No, the whole point of doing it this way is that we will not need separate blobs - the structures are identical in both libraries (both still think they're in mixed mode, but have their compressed query overridden).

This only works if we are producing shared libraries, which is why it's only an interim solution (which may last for many years).

[2020-07-22 17:21] keithc-ca commented on #8878
What will prevent (or detect) some data structures differing between the two GC shared libraries?
Which of the two GC shared libraries should be analyzed by ddrgen?

[2020-07-22 17:47] gacholio commented on #8878
Reiterating the comment from a few lines ago, there is no possibility of different structures - only inlined query methods are affected by the multiple compiles.

[2020-07-22 17:54] gacholio commented on #8878
For reference, the PRs adding the multi-compile override are:

https://github.com/eclipse/omr/pull/5416
https://github.com/eclipse/openj9/pull/10206

[2020-07-22 17:56] keithc-ca commented on #8878
I saw your comment and I can accept that it is true today, but you haven't answered my questions.
1) How can we be sure that your comment continues to be true?
2) Which GC shared library will be examined by ddrgen (assuming it doesn't matter)?

[2020-07-22 17:59] gacholio commented on #8878
Code reviewers who understand the process will prevent problems occurring in the future (i.e. no one can use the override to define structure fields).

**Again, either library can be used since they will contain identical structures**. My suggestion is that we build one of the libraries in the current location so no changes are required to DDR (I plan to go the rest of my life without having to in

[2020-07-22 18:18] pshipton commented on #9331
@fjeremic I'm adding a JIT label. I ran the test with -Xint and it passed. https://ci.eclipse.org/openj9/view/Test/job/Grinder/984
Also without -Xint and it still fails the same way.

[2020-07-22 19:28] pshipton commented on #8872
@dmitripivkine can you please take a look when you get a chance. I wonder if this is a dup of https://github.com/eclipse/openj9/issues/9651. Looks like the test is stuck in a loop calling System.gc(), waiting for cleaning to occur. See `app//TestCleaner.testZipFile(TestCleaner.java:249)`. The test calls a helper function, creates a zip file using ZipFileOutputStream, opens a subclass of ZipFile, o

[2020-07-22 19:39] pshipton commented on #8671
I'll put my vote in for option 2. It think it's easier to understand, even though there is some extra work to track the indexes in order to support -Xlp.  Down the road once -Xlp parsing is removed, we'll be left with a cleaner solution that is similar to all the other parsing.

[2020-07-22 19:45] dmitripivkine commented on #10200
@psoohoo-turbonomic Thank you to point to this issue.

I did review the code and discovered that it works as designed (but documentation is incomplete for container's case). So this is how it works now:
- Compressed Refs JVM can support bit shifts from 0 to 4 (with heaps up to 64GB)
- Using 4-bit shift has measurable performance negative impact for JVM
- JVM tries to get minimum shift possible (fo

[2020-07-22 21:01] dmitripivkine commented on #8872
I believe this is the same problem as https://github.com/eclipse/openj9/issues/9651

There is alive Finalizable object test waits for:
[code]
This object is referenced from `!stack 0x3febc28e600`:
[code]
 and GC can not collect it and send for Finalization, so this object is in unfinalized list:
[code]

[2020-07-23 01:23] ChengJin01 commented on #10125
Already fixed all test failures in the personal builds and PR for `part5_fix_v2` for step `[2]` & `[3]` has been created at https://github.com/eclipse/openj9/pull/10226 for review.

[2020-07-23 01:54] smlambert opened #10227 "Functional test targets need updates to not fail against hotspot impls"
There are test targets defined in the functional set of tests that need to be updated, either with:

-  `<impls>` section as they use openj9 specific command line options (-Xdump has been added to a bunch of test cases making the tests no longer able to be run against non-openj9 implementations
OR
- in the case of the presence of -Xdump that is included in the `<command>` it could be placed in an

[2020-07-23 12:10] JasonFengJ9 opened #10228 "80 VM_Extended.testDTFJ - AssertionFailedError : root frame of call stack must not be null"
Failure link
------------

From an internal build `ibuild 452093`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-07-23 12:24] psoohoo-turbonomic commented on #10200
Thank you for the detailed explanation, @dmitripivkine. Can you quantify what the performance impact of the 4-bit shift might be? A rough guidelines would be good enough.

Also, from a performance point of view -- if we need more than 25gb heap, do you think we'd be better off using the uncompressed refs build?

Finally, and maybe this is for @pshipton -- is there a timeline for when you think the

[2020-07-23 12:55] pshipton commented on #10200
We are hoping to have a single JVM for the Oct release, but this isn't guaranteed. While it is working already, we are addressing the performance issues and it's hard to know if they can all be addressed by Oct.

[2020-07-23 13:29] pshipton commented on #10228
@theresa-m this is an internal problem, but caused by your rename change. The TestJavaRuntimeThreads test contains the following at least, which needs to be updated.

		excludedThreads.add("gc slave");
		excludedThreads.add("gc slave thread");

		excludedThreads.add("dedicated gc master");
		excludedThreads.add("dedicated gc master thread");

[2020-07-23 13:29] pshipton commented on #10228
The code is in the rtctest repo.

[2020-07-23 13:32] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR_testList_0/58
cmdLineTester_CryptoTest_0

[2020-07-23 13:33] pshipton commented on #6361
@llxia can you help diagnose this problem please. We need to add some additional debugging to see why the overall result is failure even though the cmdLineTest passed.

[2020-07-23 13:39] pshipton commented on #10215
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly_testList_0/55

[2020-07-23 13:42] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/101
sun/misc/URLClassPath/ClassnameCharTest.java
[code]

[2020-07-23 13:45] pshipton commented on #9651
FYI https://github.com/AdoptOpenJDK/openjdk-tests/pull/1863, the test runs in special.openjdk now instead of sanity.

[2020-07-23 13:57] pshipton commented on #8872
https://github.com/AdoptOpenJDK/openjdk-tests/pull/1913 moves the test from sanity to special.

[2020-07-23 14:48] dmitripivkine commented on #10200
The nature of performance impact is 4-bit shift requires start address for any object in the heap to be aligned to 16 bytes (shifts 0-3 use alignment to 8 bytes). As a result there are more unused reminders and less objects can be located in the heap. So GC must be executed more often. Also more importantly it has an impact of objects locality - CPU cache lines should be refreshed more often. In n

[2020-07-23 15:22] rpshukla commented on #9978
It looks like this issue might be related to changes to standard libraries in recent versions of visual studio:
https://docs.microsoft.com/en-us/cpp/porting/overview-of-potential-upgrade-issues-visual-cpp?view=vs-2019#upgrading-with-the-linker-options-nodefaultlib-entry-and-noentry

According to this article, there may be additional libraries we need to include. E.g. if we were including `msvcrt.l

[2020-07-23 15:34] pshipton commented on #9743
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly/424
TestJlmRemoteMemoryAuth_0
[code]

[2020-07-23 15:54] theresa-m commented on #10228
Thanks. I will create a pr.

[2020-07-23 16:16] gita-omr commented on #8671
Ok, since we have 3:1 vote for approach (2) I think we can continue implementing it. Hopefully @DanHeidinga agrees with it as well.

[2020-07-23 16:26] llxia commented on #6361
sure, I will look into this.

[2020-07-23 16:58] ChengJin01 commented on #10125
Will get started to figure out how to deal with step `[4]` as #10226 was approved:
[code]

[2020-07-23 17:01] sjmini opened #10231 "Negative number is not checked in Check:jni option"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------
Passing

[2020-07-23 17:05] JasonFengJ9 commented on #10231
since I have been this area recently, will take this as well.

[2020-07-23 17:09] theresa-m commented on #9912
I'm still not sure why the latest change caused the StreamCorruptedException. I'm thinking of adding some logging statements into the next build but still thinking about what would be the most useful information to help diagnose the problem.

[2020-07-23 17:21] JasonFengJ9 commented on #10191
Captured a native stacktrace as following:
[code]
Following code was in the play because `currentVMThread(vm)` is `NULL`
https://github.com/eclipse/openj9/blob/6ae5af6f368e628b2ac81cfb85215c517b78236f/runtime/vm/hookableAsync.c#L124
though earlier `vmThread` was not `NULL` and passed to
https://github.com/eclipse/openj9/blob/6ae5af6f368e628b2ac81cfb85215c517b78236f/runtime/vm/jvminit.c#L552
@gacho

[2020-07-23 17:50] pshipton commented on #10228
PR is merged, problem should be fixed now.

[2020-07-23 17:50] #10228 closed

[2020-07-23 18:20] #10165 closed

[2020-07-23 19:04] #10210 closed

[2020-07-23 19:10] keithc-ca commented on #9425
This is not specific to cmake: 3 of the last 13 nightly internal builds failed similarly.

[2020-07-23 19:23] gacholio commented on #10191
[code]
So it looks like the exclusive is waiting on the attach API thread.

[2020-07-23 19:28] gacholio commented on #10191
It's not clear to me why we're going to external exclusive (the thread in question is certainly attached). though that doesn't appear to be the main issue - normal exclusive would wait for the attach thread to respond as well.

[2020-07-23 19:31] gacholio commented on #10191
Ah, it's more likely that the thread is attached but does not have VM access, which also triggers the external exclusive.

[2020-07-23 20:40] keithc-ca commented on #9425
On my macOS Catalina 10.15.5 system, using the identical boot JDK (from adoptopenjdk.net) used in the failing builds and a script, I ran the DDR generation tools 200 times: no hang. Perhaps the best solution would be to fix #8841.

[2020-07-23 21:17] rajdeepsingh1 commented on #10197
I don't see any issue with the IP address on cent7-x64-6 . I've rebooted the machine, let me know thanks @pshipton

[2020-07-23 21:48] pshipton commented on #10197
I've re-enabled the machine for the builds.

[2020-07-24 00:25] #10231 closed

[2020-07-24 08:13] sharanpatil123 commented on #284
I have got another instance of the issue with same lock java/lang/J9VMInternals$ClassInitializationLock  but owner of this lock in unknown. May I know the status of this issue and in which upcoming java release we can expect  this issue would be merged?

[2020-07-24 13:43] psoohoo-turbonomic commented on #10200
Thanks for the detailed reply, @dmitripivkine. This is very helpful to know! I wonder if there's a place in the docs that some performance guidance like this re: heap sizes and reference sizes could go?

Patrick

[2020-07-24 14:18] psoohoo-turbonomic commented on #10200
I'd also like to add another comment after thinking about it. It's understandable why it doesn't engage the 4-bit shift mode automatically, but from a user point of view it can be seen as non-intuitive behavior. Can I ask that you consider one of:

- if Max Heap is capped at 25gb, output something explaining why, as well as a hint of how to "fix" it. (e.g. "please set -Xmx or -MaxRAMPercentage..."

[2020-07-24 14:34] pshipton opened #10241 "jdk16 test_loadIllegalSubclassOfSealedClass Class file is a preview version but has the wrong major version or preview is not enabled"
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/278/
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_mac_OpenJDK_testList_0/
Jep360Tests_0
[code]

[2020-07-24 14:36] pshipton commented on #10241
@theresa-m please take a look. This is "blocking" the jdknext (Java 16) acceptance build, I could promote it manually, but it's extra work every day to confirm this is the only failure on all the platforms.

[2020-07-24 14:47] dmitripivkine commented on #10202
By design:
`-XX:InitialRAMPercentage` is applied if `-Xms` is not specified https://github.com/eclipse/openj9/blob/25ba9af5f5ea3f672c194bc40ab1f900c4e1d2dd/runtime/gc_modron_startup/mminit.cpp#L2882

`-XX:MaxRAMPercentage` is applied if `-Xmx` is not specified
https://github.com/eclipse/openj9/blob/25ba9af5f5ea3f672c194bc40ab1f900c4e1d2dd/runtime/gc_modron_startup/mminit.cpp#L2887

There is no cro

[2020-07-24 15:32] gacholio commented on #10191
Attach API thread:
[code]

[2020-07-24 15:37] gacholio commented on #10191
Looks like `jniRecordMemoryRelease` is holding the `MemMonitor` when it fatal errors.

The attach API thread is attempting to enter that monitor while holding VM access, which blocks the exclusive.

Correct solution is probably to exit the monitor before the fatalError call (there are many places that need to be changed).

[2020-07-24 16:03] theresa-m commented on #10241
Okay. Working on a fix.

[2020-07-24 16:14] dmitripivkine commented on #10200
The problem I see with this approach is in general starting with Java 11 default value for -Xmx can be selected as large as 25% of machine RAM. We observed a number of cases when `-Xmx` is not specified explicitly and customers have no idea that running with huge heaps. If large heap is not necessary JVM would not expand it fully however 4-bit shift has to be selected regardless. And this a reason

[2020-07-24 16:16] theresa-m commented on #10241
Opened a pr to disable these tests for now since I'm not sure if sealed classes will continue to java 16 yet. I'll open an issue to decide about re-enabling once the Java 16 JEP list has been decided.

[2020-07-24 16:18] theresa-m opened #10243 "Reminder to re-enable Java 15 preview tests for Java 16"
See https://github.com/eclipse/openj9/issues/10241#issuecomment-663617465

Currently the Jep360 test suite in functional/Java15andUp is running for Java 15 only, if this feature moves out of preview or onto 16 tests should also run on later Java versions.

[2020-07-24 16:19] theresa-m commented on #10243
This also applies to the Jep384 test suite for records preview.

[2020-07-24 18:52] Hello71 opened #10244 "J9UTF8 FAM?"
I'm a little confused about the J9UTF8 struct. It seems that the data member is actually a flexible array member. In that case, this is both confusing because it is both undefined behavior and raises the question of why 2 was selected instead of 0 or 1.

Code like https://github.com/eclipse/openj9/blob/master/runtime/cfdumper/romdump.c#L157 is also confusing.

[2020-07-24 18:56] Hello71 commented on #10244
Specifically, beyond being undefined behavior, this code fails to compile with gcc 10:

[code]

[2020-07-24 19:32] psoohoo-turbonomic commented on #10200
Ahh, I had forgotten about the non-container cases. :) What you wrote sounds sensible, and the current behavior does sound like a good compromise. I think we agree that as long as it's mentioned in the documentation (and "googleable"), it's pretty easy to configure, especially once one knows how the max heap is being determined. An explicit mention of the 25gb cap would be useful for search purpos

[2020-07-24 19:54] JasonFengJ9 opened #10246 "JDK15 gcNotificationTest_Balanced_1_FAILED"
Failure link
------------

From an internal build `Test_openjdk15_j9_extended.functional_ppc64le_linux_Nightly_testList_0/12`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following lin

[2020-07-24 19:58] JasonFengJ9 commented on #10246
Similar failure at JDK 16:

[code]

[2020-07-24 20:04] JasonFengJ9 opened #10247 "JDK16 : HCRLateAttachWorkload_previewEnabled_0 IllegalArgumentException: Unsupported class file major version 60"
Failure link
------------

From an internal build `Test_openjdkNext_j9_extended.system_ppc64le_linux_Nightly/242`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
03:42:37

[2020-07-24 20:09] JasonFengJ9 opened #10248 "JDK16 : cmdLineTester_verbosetest_1_FAILED Testing: -verbose:jni -verbose:gc,class"
Failure link
------------

From an internal build `Test_openjdknext_j9_extended.functional_s390x_linux_xl_Nightly_testList_0/37`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following

[2020-07-24 20:26] dmitripivkine commented on #10246
looking... @amicic FYI

[2020-07-24 20:27] JasonFengJ9 opened #10249 "JDK15 Windows : ClassLoadingTest_special Segmentation error vmState=0x00020002"
Failure link
------------

From an internal build `Test_openjdk15_j9_special.system_x86-64_windows_Nightly_otherLoadTest/3`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following link

[2020-07-24 20:30] JasonFengJ9 commented on #10249
Another similar failure with different vmState at `Test_openjdk15_j9_special.system_x86-64_windows_Nightly_lambdaLoadTest/3`
[code]

[2020-07-24 20:35] JasonFengJ9 opened #10250 "JDK15 Windows : DaaLoadTest_daa1_special_14 j9mm.316 * ** ASSERTION FAILED ** at GlobalMarkingScheme.cpp:870: ((uintptr_t)0x99669966 == (clazz)->eyecatcher)"
Failure link
------------

From an internal build `Test_openjdk15_j9_special.system_x86-64_windows_Nightly_daaLoadTest/3`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:

[2020-07-24 20:59] #10241 closed

[2020-07-24 21:08] pshipton commented on #10248
Seems related to https://github.com/eclipse/openj9/issues/10249

[2020-07-24 23:00] gacholio commented on #10244
Given that we already have macros to access the size and data, the correct thing to do would be to declare J9UTF8 as an opaque structure and modify the macros to operate on the known offsets. We already have a setter for the size field.

It's convenient to retain the structure name (as opposed to just making them all `void*`) for documentation purposes in the code. It's legal to have a pointer to

[2020-07-24 23:01] gacholio commented on #10244
I agree the highlighted code is pretty obtuse.

[2020-07-24 23:53] Hello71 commented on #10244
Oh, looking at that code I guess it should be read as `J9UTF8_LENGTH(utf8) - sizeof(J9UTF8_LENGTH(utf8))`, except for padding considerations. This wouldn't be an issue if a proper flexible array member was used, but I guess that didn't exist in 1991. I still don't understand why 2 was selected instead of the more common 0 or 1, but I don't mind that much, I just want to fix it for gcc 10. I will r

[2020-07-25 00:31] gacholio commented on #10244
Yeah, this code predates any modern C compiler. 2 was selected so that the total structure size was 4 (size of a pointer back then). 0 wasn't allowed in old compilers.

I don't think your calculation above will yield any sensible result. I also have no idea what FAM is.

[2020-07-25 16:29] Hello71 opened #10252 "gcc 10 -fno-common build failure: multiple definition of subscriptionID"
[code]

I guess these should be `static`. Not sure why they were not defined that way in the first place.

[2020-07-27 00:53] knn-k opened #10254 "Failures with Cipher tests on AArch64"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/209/

- com/sun/crypto/provider/Cipher/DES/TestCipherDES.java.TestCipherDES
- com/sun/crypto/provider/Cipher/DES/TestCipherDESede.java.TestCipherDESede
- com/sun/crypto/provider/Cipher/KeyWrap/TestCipherKeyWrapperTest.java.TestCipherKeyWrapperTest
- com/sun/crypto/provider/Cipher/KeyWrap/XMLEn

[2020-07-27 00:55] knn-k commented on #10254
XL build on the same day (https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/163/ run on build-packet-ubuntu1804-armv8l-1) has the following failures in Cipher:

- com/sun/crypto/provider/Cipher/DES/TestCipherDES.java.TestCipherDES
- com/sun/crypto/provider/Cipher/DES/TestCipherDESede.java.TestCipherDESede
- com/sun/crypto/provider/Cipher/PBE/PBESameBuffer/PBESameBuf

[2020-07-27 01:13] knn-k commented on #10254
I can reproduce the failures locally using the build OpenJDK11U-jdk_aarch64_linux_openj9_2020-07-22-23-32.tar.gz.

[code]

[2020-07-27 05:27] harryyu1994 commented on #7965
Daytrader7 experiment.
Liberty version: liberty-20.0.0.2_wlp_webProfile7

## CompressedShift = 0
[code]

## CompressedShift = 3
[code]

- seeing a 1% drop here (and that could be due to the fluctuations), will do another run and update the result again tomorrow

[2020-07-27 05:48] knn-k commented on #10141
These failures were caused by https://github.com/eclipse/omr/pull/5366.
I opened https://github.com/eclipse/omr/pull/5428 to fix it.

[2020-07-27 05:50] knn-k commented on #10254
These failures were caused by eclipse/omr#5366.
I opened eclipse/omr#5428 to fix it.

[2020-07-27 05:52] knn-k commented on #10141
I posted a comment in this Issue by mistake minutes ago, which should have been posted to #10254.

[2020-07-27 07:09] knn-k commented on #10254
The result of `bloadi` (n13n) is stored in `GPR_0085` below, and this node is referenced later.  But the `bu2i` node changes the value of `GPR_0085`, and that causes the failures.

[code]

[2020-07-27 08:28] quijote opened #10255 "Process does not terminate after calling System.exit in daemon thread"
There seems to be a regression introduced with 0.21 that results in process not terminating after user code calls System.exit in a daemon thread.

Probably related to:
https://github.com/eclipse/openj9/issues/9516
https://github.com/eclipse/openj9/issues/9558

I can reproduce this with the following code:

	public class Launchee {
		public static void main(String[] args) throws Exception {
			fina

[2020-07-27 12:18] pshipton commented on #10197
Still happening https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly_testList_0/58/
I've disabled the machine again until we can figure this out. If nothing else, we could discard this machine and create a new one.

[2020-07-27 12:24] pshipton opened #10256 "OpenJDK java/util/WeakHashMap/GCDuringIteration.java failed to do a "full" gc"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/121
java/util/WeakHashMap/GCDuringIteration.java
ub16-ppcle-3
[code]

[2020-07-27 12:24] pshipton commented on #10256
@dmitripivkine fyi

[2020-07-27 12:27] pshipton commented on #10256
30x grinder using latest Adopt build https://ci.eclipse.org/openj9/job/Grinder/991/

[2020-07-27 13:01] pshipton commented on #10255
@gacholio fyi

If I run Launchee on Linux with a recent build, it hangs, needs to be killed with -9.

[2020-07-27 13:06] pshipton commented on #10087
Is there anything else remaining to do for this? I think it can be closed now.

[2020-07-27 13:06] #10087 closed

[2020-07-27 14:14] sophia-guo commented on #10227
Thanks @smlambert will look into that.

[2020-07-27 14:58] dmitripivkine commented on #10249
From failure for `ClassLoadingTest_special_14_FAILED`:
There is number of classes with class object collected:
[code]
All of these classes have an Anonymous flag set `0x24: U32 classFlags = 0x00000040 (64)` but seems not listed in `InternalAnonymousClassLoader`:
[code]
@pshipton @hangshao0 Do we have new code in JVM does not respect GC classes handling convention? Is it code for JEP 371 Hidden Cla

[2020-07-27 14:59] #10252 closed

[2020-07-27 15:13] pshipton commented on #10249
Perhaps related to https://github.com/eclipse/openj9/pull/10207

[2020-07-27 15:22] hangshao0 commented on #10249
After #10207, there are classes that has anonymous flag set are not loaded by InternalAnonymousClassLoader. Is GC checking this flag ?

[2020-07-27 15:31] dmitripivkine commented on #10249
"Checking" is a weak statement here. Yes, there are an exceptional handling of Anonymous classes across GC policies required for individual unloading. It might include assumption that Anonymous class must be discovered in Anonymous classloader.

[2020-07-27 16:03] dmitripivkine commented on #10250
this is a duplicate of https://github.com/eclipse/openj9/issues/10249

[2020-07-27 16:03] #10250 closed

[2020-07-27 16:09] rajdeepsingh1 commented on #10197
@pshipton machine has been rebuilt. I've also disabled ipv6 on the Cent7 machines to prevent any address conflicts. Enabled in Jenkins.

[2020-07-27 16:30] dmitripivkine commented on #10246
this is duplicate of https://github.com/eclipse/openj9/issues/10249

[2020-07-27 16:30] #10246 closed

[2020-07-27 16:30] hangshao0 commented on #10249
Currently all the hidden classes has anonymous flag set. I will try setting anonymous flag only on hidden class that needs to be individual unloaded.

[2020-07-27 16:45] dmitripivkine commented on #10249
How this fix the problem except you are going to keep such classes in Anonymous classloader?

[2020-07-27 16:52] dmitripivkine commented on #10249
I obviously do not understand specific details regarding Hidden classes and related requirements. However there are two models of class handling (not just for unloading purpose but for general roots discovering) in GC: regular classes and Anonymous classes. Hidden classes should be undistinguished from these two types (compatible) otherwise special handling in GC code is required to be designed.

[2020-07-27 17:23] gacholio commented on #10255
I can see what's wrong, but I'll need some time to think about how to fix it.

[2020-07-27 17:49] sharon-wang commented on #9964
I've done some initial work with this, but I'm pausing efforts to work on some higher priority items

[2020-07-27 18:25] #10191 closed

[2020-07-27 18:27] AlenBadel commented on #8671
I've went ahead and made the following changes to the design/implementation:
- Rename `-XX:zOSLargePagesObjectHeap=<type>` to `-XX:zOSLargePagesObjectHeapType=<type>`.
- Removed Option 1, and updated the remainder of the documentation to reflect variable naming uniform with option 2.
- Added implementation plans and details to add test cases and make modifications to Xlp CodeCache, and Objectheap

[2020-07-27 18:33] AlenBadel commented on #8671
Re-iterating an issue that @dmitripivkine brought up:

Would anyone be interested in this proposed solution https://github.com/eclipse/openj9/issues/8671#issuecomment-662538479? Allowing the user to specify a new option like `-XX:-UsePreferredPages` rather than specifying `-XX:+UseLargePages -XX:LargePageInBytes=4k`.

[2020-07-27 18:37] gacholio commented on #10244
Rather than making the structure opaque, I'm trying it with just the data field removed (to support older compilers).

[2020-07-27 18:41] hangshao0 commented on #10249
There are 2 types of hidden classes:
1) Defined without ClassOption.STRONG - it is unloaded individually, before its class loader is GC'ed
2) Defined with ClassOption.STRONG - it is unloaded when its class loader is GC'ed.

So I think we can construct the 1) the same as Anonymous classes, as mentioned in https://github.com/eclipse/openj9/issues/9328#issuecomment-662015904.
It is in its own rom seg

[2020-07-27 18:50] dmitripivkine commented on #10249
It should work from GC point of view (plus `J9ClassIsAnonymous` flag should not be used for classes defined with `ClassOption.STRONG`). I hope this approach would not create conceptual problem from VM side.

[2020-07-27 18:52] hangshao0 commented on #10249
J9ClassIsAnonymous won't be used for hidden classes defined with ClassOption.STRONG.

I am able to pass ClassLoadingTest_special_14 with my latest change in https://github.com/hangshao0/openj9/commits/JEP371_Test.
`14:45:22  ClassLoadingTest_special_14_PASSED`

However, I am still getting the assertion failure in ClassLoadingTest_special_15
`14:46:49  CLT stderr 18:46:20.681 0x193f00    j9mm.107

[2020-07-27 19:00] dmitripivkine commented on #10249
For the record: I understand mechanism of failure for Balanced. Every classloader should have a knowledge which regions associated roots are located. It is implemented by using Classloader Remembered Set. For Anonymous classes however this information should be available for each class to have ability for individual unloading. For each class with `J9ClassIsAnonymous` flag set such information woul

[2020-07-27 19:01] dmitripivkine commented on #10249
Do you have link to failed job with stored artifacts?

[2020-07-27 19:06] dmitry-ten commented on #10215
I was able to reproduce the crash on my machine with this stacktrace:
[code]
So it seems that ROM class caching is to blame. Out of recent commits, #9955 is most likely to be the problem, especially
since this crash only occurs when the server is unreachable for a while and then comes back on. The above PR added some client-side tracking of which ROM classes were cached by the server so it seems l

[2020-07-27 19:09] hangshao0 commented on #10249
Shared the link to the job via private message.

[2020-07-27 19:36] pshipton commented on #8671
Just noting it should be `XX:-UsePreferredPagesObjectHeap`, etc. If `-XX:+UseLargePages -XX:LargePageInBytes=4k` works, I suggest UsePreferredPages not be included in the initial implementation, but added later if desired.

[2020-07-27 19:45] dmitry-ten commented on #10215
Although with the above change seemingly disabled, I still get a crash. So it might not be the root cause.

[2020-07-27 20:18] dmitripivkine commented on #8671
In theory to use 4k (small) pages we can specify "do not use LP" like `-XX:-UseLargePages` and I believe it should be enough

[2020-07-27 20:32] AlenBadel commented on #8671
Don't we need do document a default state for each option? I.e by default JVM will be initialized with`-XX:-UseLargePages` if it is not explicitly enabled by the user.

[2020-07-27 20:46] raguks commented on #9443
@DanHeidinga yes we can keep this JITServer centric but if someone wanted to try just openj9 standalone app they can. Yes we will document in operator README as well as will work on blog posts when the PR review begins. We also have to work on automated tests. tests are manual as of now. We will look at test infra on how to do that. We may have to work out a single node OCP cluster or something to

[2020-07-27 22:03] hangshao0 commented on #10249
A bit more information on the hidden classes:

For both 1) and 2) mentioned in https://github.com/eclipse/openj9/issues/10249#issuecomment-664570511:
They are not added into hashClassTable.
They have the same class name format as anon classes, which is `[className]/[ROMClassAddress]`.

[2020-07-27 23:00] hangshao0 commented on #10249
Had a discussion with Dmitri, we know what is going on here. But I will leave it to him to comment on what he has found out on the GC side.

[2020-07-27 23:00] dmitripivkine commented on #10249
So we figured out what is wrong now. While Standard Collectors scanning Classloader's RAM Segments and Hash Table both Balanced has been optimized to scan Hash Table only for all classloaders except System and internal Anonymous. But hidden classes never added to hash table, so they are still be invisible and missed for scanning

[2020-07-28 06:29] knn-k commented on #9458
I opened #10262 earlier today, which is already merged.
I also updated https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/307.

[2020-07-28 06:30] knn-k commented on #9458
There is a problem that needs to be solved, around `strncpy()` in runtime/rastrace/trclog.c.
The configure script for JDK 8 does not accept the `--disable-warnings-as-errors-openj9` option.

Related issue: #4486

[2020-07-28 08:01] knn-k opened #10266 "AArch64: Support CMake build in cross-building environment"
CMake build is enabled by default for OpenJ9 Java 11 for AArch64 Linux.
That does not work as expected in cross-building environment as shown below:

[code]

[2020-07-28 08:02] knn-k commented on #10266
Related PRs: ibmruntimes/openj9-openjdk-jdk11#331, #10240

[2020-07-28 08:05] knn-k commented on #10266
Other PRs related to AArch64 cross-build: #8814, #9178

[2020-07-28 08:08] knn-k commented on #10089
#10102 was merged.  Closing.

[2020-07-28 08:08] #10089 closed

[2020-07-28 08:15] knn-k commented on #7132
`sun_misc_Unsafe_compareAndSwapInt_jlObjectJII_Z` was implemented and enabled by #6752, #10127, and #10102

[2020-07-28 08:33] Akira1Saitoh commented on #7139
Those rotate method are transformed into rotate left. Other platforms (x and p) seem to have instructions for rotate left, but aarch64 does not have. AArch64 has instructions for rotate right only. I think it would be better to transform them into rotate right for aarch64.

https://github.com/eclipse/openj9/blob/fd8e47e541ad45a4e33931aab34f85d81a8a344f/runtime/compiler/optimizer/J9RecognizedCallTr

[2020-07-28 12:33] pshipton opened #10268 "openjdk BigDecimal/StringConstructor.java NumberFormatException"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_xl_Nightly/109
java/math/BigDecimal/StringConstructor.java
ub18-390-2
[code]

[2020-07-28 12:44] pshipton opened #10269 "jitserver Processing dump event "abort""
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_Nightly_testList_0/58
testJITServer_0
ub16x64j92
[code]

[2020-07-28 12:44] pshipton commented on #10269
@mpirvu

[2020-07-28 12:51] pshipton commented on #10268
50x grinder ub16-390-1 https://ci.eclipse.org/openj9/job/Grinder/1009 - passed
50x grinder ub18-390-2 https://ci.eclipse.org/openj9/job/Grinder/1010 - passed

[2020-07-28 14:53] fjeremic commented on #9331
Rerunning Peter's grinder with 20 iterations to find out the reproduction rate with JIT enabled:
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1012/

@VermaSh could you help take a look at this one please? Let's wait for the grinder to finish and observe the failure rate. If it is high enough we can try to reproduce the issue locally or if that doesn't work we can hop on the farm machine and

[2020-07-28 15:16] sjmini opened #10272 "XCheck:jni cannot detect non-throwable object"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------

OpenJ9'

[2020-07-28 15:20] gacholio commented on #10255
Here's the hang scenario
[code]

[2020-07-28 15:28] gacholio commented on #10255
The solution appears to be moving the "indicate exit started" to after the call to Shutdown.shutdown(). This still protects against multiple VMDeath events and exit during VMDeath.

[2020-07-28 16:11] JasonFengJ9 commented on #10272
Will have a look.

[2020-07-28 18:45] dsouzai commented on #3774
Closing this as the general infrastructure has been in place for a while now.

[2020-07-28 18:45] #3774 closed

[2020-07-28 18:48] dsouzai commented on #6836
@harryyu1994 does the new mechanism handle this automatically?

[2020-07-28 19:29] pshipton opened #10275 "testSCCacheManagement_0 TestSharedCacheJvmtiAPI failing on z/OS"
I don't think this is intermittent, but the assert at OSCachesysv.cpp:1213 doesn't always occur. I think the assert is a separate issue.

11.0.8 stream
job/Test_openjdk11_ibm_extended.functional_s390x_zos_Personal_testList_0/17
testSCCacheManagement_0
fyrec520
[code]

head stream:
job/Test_openjdk11_ibm_extended.functional_s390x_zos_Personal_testList_0/18/
fyrec520
[code]

[2020-07-28 19:37] harryyu1994 commented on #6836
no, we don't have checks for processor vendors. Currently we are only comparing the processor features for compatibility. This one definitely needs a work item.

[2020-07-28 19:44] pshipton commented on #10275
@hangshao0 I think the test needs to be updated for Java 11 to handle the location difference between regular and groupAccess.

[2020-07-28 20:08] hangshao0 commented on #10275
I have an impression @LongyuZhang has fixed something similar (cache location issue) on z/OS recently.  (I guess it was on Java 8 ? I cannot recall the details).

[2020-07-28 20:43] LongyuZhang commented on #10275
Discussed with @hangshao0  about this failure. Previous fix passed OpenJ9 11, for this issue about IBM 11, will add extra condition for the cache location.
Related to Runtimes/backlog/issue/306

[2020-07-28 21:56] #9529 closed

[2020-07-29 00:02] Akira1Saitoh commented on #7139
I thought we have `iror` IL opcode, but I have realized that we do not. Please ignore above comment.

[2020-07-29 03:26] rudy2steiner commented on #10180
Only need to remove if and assume always true?

[2020-07-29 03:28] rudy2steiner commented on #10180
please assign to me, i will try to clean up the code!

[2020-07-29 03:32] rudy2steiner commented on #10181
I'd like to work on this and #10180

[2020-07-29 05:24] AdamBrousseau commented on #10071
I have some commits drafted. The one I am struggling with is master, particularly "Jenkins Master" and anytime we're referencing the main branch of a repository. For the branch names I don't think we can change most of these instances as things will break or doc won't make sense. For Jenkins Master, that is [Jenkins' defined term](https://www.jenkins.io/doc/book/glossary/). Not that we _can't_ cal

[2020-07-29 05:27] knn-k commented on #9458
I opened #10278 for the problem with trclog.c above.

[2020-07-29 05:33] knn-k commented on #10254
eclipse/omr#5428 has been merged.  I am waiting for the next round of sanity.openjdk test.

[2020-07-29 12:10] pshipton commented on #10215
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_Nightly_testList_1/59
testJITServer_1

[2020-07-29 12:13] 0xdaryl commented on #10180
Thanks for offering to help out!  Yes, in the code linked above you should assume `getOptimizationPhaseIsComplete()` always returns true and you can fold the conditional accordingly.  Please be sure to read through the [Contributor Guidelines](https://github.com/eclipse/omr/blob/master/CONTRIBUTING.md) before your first PR, in particular the section on signing the ECA.

[2020-07-29 13:10] 0xdaryl commented on #10180
Oops.  I linked the OMR Contributor Guidelines above by mistake (the OpenJ9 CG is [here](https://github.com/eclipse/openj9/blob/master/CONTRIBUTING.md)), but the process for signing the ECA is the same in both.

[2020-07-29 13:40] llxia commented on #6361
Here is what I found so far:

- The failure rate varies. It can be as low as 0.4% ([500x Grinder](https://ci.eclipse.org/openj9/job/Grinder/1006/tapResults/))
- The exit code is 255 in TKG
- Reran only the java program (without cmdlinetester) 1200x ([500x](https://ci.eclipse.org/openj9/job/Grinder/1011/) / [500x](https://ci.eclipse.org/openj9/job/Grinder/1008/) / [200x](https://ci.eclipse.org/open

[2020-07-29 13:51] keithc-ca commented on #10071
Hopefully Jenkins will update their terminology too. In the mean-time, we can use the term 'controller', or something else suitable, with a foot-note in the documentation explaining the translation. Outside that foot-note, though, everything should be consistent.

Github plans to [make 'main' the default branch name](https://github.com/github/roadmap/issues/63), but there's nothing that says we ca

[2020-07-29 14:08] keithc-ca commented on #8874
Is there anything left to be done for this?

[2020-07-29 14:30] pshipton commented on #10197
Now seeing a similar problem on cent7-ppcle-5
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_xl_Nightly_testList_1/57/

Do we have a duplicate IP address?

[2020-07-29 14:33] pshipton commented on #10009
Was resolved.

[2020-07-29 14:33] #10009 closed

[2020-07-29 14:45] llxia commented on #8874
The change in the test pipeline is completed. The upstream needs to updated to pass in only the CUSTOMIZED_SDK_URL=url_to_sdk. See https://github.com/eclipse/openj9/issues/8874#issuecomment-606830973

[2020-07-29 14:56] liqunl commented on #10028
The invalid JIT return address and bad o-slot problem is caused by adding the diagnostic check in out-of-line and call snippet, where instruction shape is important. Now I only add the check to mainline code, and the problems disappear.

@DanHeidinga I tried a personal build on all x86 platforms with the check enable, but it didn't detect bad DF. What should we do next?

[2020-07-29 15:04] gacholio commented on #10028
I believe the suggestion was to add this as a command-line option and run all (or most) of our automated testing  with the flag enabled.

[2020-07-29 15:16] pshipton commented on #10073
No input from the raiser, deferring to the Backlog.

[2020-07-29 15:18] theresa-m commented on #9626
All vm changes for this JEP are merged. The final pull request for DDR support will likely be open slightly after the August 9th code split.

[2020-07-29 15:25] dnakamura commented on #10244
I was looking at a similar issue in OMR, where we do the same thing for UTTraceRecord. This then causes problems because we then `strcpy` into the buffer which causes warnings because the compiler can detect the buffer overrun. The annoying part is all our platforms support either zero length arrays or flexible array members, but neither option is supported on all platforms.  Flexible array member

[2020-07-29 15:29] gacholio commented on #10244
I'm also having trouble with the verifier, which has somehow embedded the knowledge that UTF8 is 4 bytes. None of the three solutions will work until that is addressed.

[2020-07-29 15:29] janvrany commented on #5058
@ChengJin01
I just a bit of debugging of the `java --version` crash on HiFive Unleashed. Few observations:
1) It crashes on Debian when running 5.6.12 kernel (loaded by OpenSBI if that matters). The exact JDK on  same Debian image but running on 5.0.0rc1 kernel (loaded by BBL) **DOES NOT** crash. This suggest some change in linux kernel is causing that. At least this is where to start looking as t

[2020-07-29 15:35] JasonFengJ9 commented on #10223
Will have a look.

[2020-07-29 16:05] Hello71 commented on #10244
According to https://stackoverflow.com/a/39152330, it is supported in at least MSVC 2015 with a warning in C++ mode. However, regarding OMR, my understanding is that such constructs are not supposed to be used in C++ anyways, and instead the struct should contain a pointer which is allocated internally; see std::string, std::vector.

I also had this problem.

[code]

[2020-07-29 16:11] ChengJin01 commented on #5058
@janvrany ,  Many thanks for the investigation from Debian_riscv.

Given that the kernel version of Fedora_raw is `5.5.0-0`,  I suspect the problem might be related to both the latest kernel or the new loader setting (OpenSBI). I talked to the Fedora_raw developers as to the '5.0.0' version at https://dl.fedoraproject.org/pub/alt/risc-v/disk-images/fedora/rawhide/20190126.n.0/Developer/ but it see

[2020-07-29 16:15] janvrany commented on #5058
@ChengJin01

That's exactly the plan :-)

[2020-07-29 16:16] Hello71 commented on #10244
Actually, there are more fake array members in OMR than that. Just searching for `char.*\[1\]`, there are at least BlobString, UtTraceRecord, UtActiveSection, UtServiceSection, UtStartupSection, and UtTraceCfg. BlobString is the most egregious: `char data[1]; /* flexible array member */`.

[2020-07-29 16:20] Hello71 commented on #10244
Also, I'd like to emphasize that the issue is not limited to compiler warnings. GCC has been documented to optimize aggressively based on invalid array sizes: https://lkml.org/lkml/2015/2/18/407. I don't know if this is still the case, but it's certainly a potential correctness issue, not just a warning issue.

[2020-07-29 16:21] gacholio commented on #8878
@sharon-wang Now that you're looking into this, I recommend that the current directory structures be used for the compressed version of the GC (still named j9gc29) and the second compile be used for the full version (j9gcfull29). Leaving the existing structure in place allows DDR to continue to work unmodified. This will mean the in-place compile of OMR will need to have the override flag passed t

[2020-07-29 16:24] sjmini opened #10286 "Missing checks on class descriptor when Xcheck:jni is enabled"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------

It seem

[2020-07-29 16:41] pshipton commented on #10244
We still use VS2010 to compile Windows. We're planning to move to VS2013 https://github.com/eclipse/openj9/issues/10129 since this is the highest level supported by OpenJDK atm. https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/common/autoconf/toolchain_windows.m4#L61

[2020-07-29 16:42] gacholio commented on #10286
@JasonFengJ9

[2020-07-29 17:09] pshipton commented on #8874
I believe everything is completed.

[2020-07-29 17:09] #8874 closed

[2020-07-29 17:19] #10272 closed

[2020-07-29 19:00] AlenBadel commented on #8671
Preferred page sizes are actually very similar to sizes used by `-XX:+UseLagePages`.

On the **codecache**:

| Platform | -XX:+UseLargePages | PreferredPageSize |
|---------| --------| -----|
| Z/OS |  1MB Pageable | 1MB Pageable |
| AIX/pLinux |  64K/16M | 64K |
| XLinux/Windows | 2M | 2M |

The only difference here is that using `-XX:+UseLargePages` will allow AIX/pLinux to use 16M pages if conf

[2020-07-29 19:22] #8841 closed

[2020-07-29 19:22] #9425 closed

[2020-07-29 20:16] planetf1 opened #10288 "OpenJ9 jvm on MacOS Big Sur beta 3 - SIGINT fails to abort process."
Java -version output
--------------------

jonesn:egeria/ (egeria-release-2.1) $ java -version                                                                                                                  [21:12:48]
openjdk version "14.0.2" 2020-07-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.2+12)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.21.0, JRE 14 Mac OS X amd64-64-Bit Comp

[2020-07-29 21:25] harryyu1994 commented on #7965
I have spent some time coming up with an implementation and here's the whole story:

First, recap on the original compressed shift design:
- Users specify `-XX:+PortableSharedCache` during cold run, if the compressed shift value is <=3 then 3 will be used and persisted to the shared class cache, if the compressed shift value is 4 then 4 will be used
- During warm runs, users can pick up the compre

[2020-07-29 21:29] r30shah opened #10290 "Create an Override for Creating BCD node in OpenJ9"
As mentioned in https://github.com/eclipse/omr/pull/5432#discussion_r462597522, There are J9_PROJECT_SPECIFIC part of code related to construction of BCD node which adds more information to node regarding to precision. We should have an OverRide for OMR::Node::create for such nodes to clean up the J9_PROJECT_SPECIFIC changes in OMR. I am opening up this issue to tracks the work.

[2020-07-30 03:31] knn-k commented on #9458
Adding build pipeline for JDK 8: https://github.com/eclipse/openj9/pull/10291

[2020-07-30 03:52] pshipton opened #10292 "JDKnext failing to compile, missing JVM_IsUseContainerSupport"
Disabled the acceptance build until it's fixed.

See https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/284/
[code]

[2020-07-30 04:57] knn-k commented on #10254
All the tests passed in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/210/.
Closing.

[2020-07-30 04:57] #10254 closed

[2020-07-30 05:00] knn-k commented on #10168
All the tests passed in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/210/.
This is an intermittent problem, and I will wait for a couple of rounds.

[2020-07-30 05:03] knn-k commented on #10126
9 failures (8 NPEs + 1 SEGV) with `Infer$GraphSolver.solve()` in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/164/consoleText

[2020-07-30 12:38] #9855 closed

[2020-07-30 13:00] JasonFengJ9 opened #10294 "SE80_GIT testvmcheck_1 - testLoadingClasses AssertionError: Child exited with non-zero stats expected:<0> but was:<1>"
Failure link
------------

From an internal build `ibuild 452660`:
[code]

Optional info
-------------

- intermittent failure (yes):

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-07-30 13:50] kakawait commented on #10288
Is not related to MacOS version (or even not MacOS at all), seems to be related to `0.21` version? Maybe https://github.com/eclipse/openj9/pull/9903 (When checking threaddump, I saw that `DestroyJavaVM` thread is **blocked**)

To reproduce (reproduced on MacOS 10.14.6 with docker):

[code]

It stucks, do the same thing with `adoptopenjdk/openjdk11-openj9:jdk-11.0.7_10_openj9-0.20.0` no issue

[2020-07-30 14:16] samolisov opened #10295 "Missing openj9_version_info.h file leads to CMake build error"
Hello everyone.

I'm trying to build OpenJ9 using CMake on Windows/MSVC. Big thanks for the job, it seems in general as a working solution, but the following error occurs during the build:

[code]

I've looked over the CMake-related files as well as .h ones and never found this header (I believe this is an autogenerated header). But I see the following header file in my build directory: `j9version

[2020-07-30 14:29] liqunl commented on #10028
We don't have a command-line option. What we have is a environment variable, but it should be easily enabled with a change in our test script or configuartion.

@DanHeidinga Do you agree to enable this test on all of our automated testing? I have two PRs opened for the JIT change, and will enable the test in a separate PR if we decide to do it.

[2020-07-30 14:30] theresa-m commented on #9912
Hello, I think the most likely place the optimization is failing is when going in and out of the HashMap class but I was hoping to confirm if you would be willing to try out this build: https://drive.google.com/file/d/1YbIq8mWEwCsiKa0s9F498wLrPPaCUpzQ/view?usp=sharing

It adds some information into the message of the exception. It prints current classloader names if you are comfortable with that:

[2020-07-30 14:35] gacholio commented on #10028
@smlambert Someone from test should probably comment on the easiest way to get this into automated testing. The option can't be -Xjit due to the fact that the JIT only parses one of the strings, so it can't easily be tacked on without changing every option set for every mode.

[2020-07-30 14:43] AlenBadel commented on #8671
@dmitripivkine @DanHeidinga Would there be any objection to enabling `-XX:+UseLargePages` by default?

[2020-07-30 14:48] pshipton opened #10296 "JEP 358 NullPointerException messages enabled by default for jdk 15"
From OpenJDK 15 release notes.
"
Enable ShowCodeDetailsInExceptionMessages by default (JDK-8233014)
hotspot/runtime
The default of the flag ShowCodeDetailsInExceptionMessages was changed to 'true'. The helpful NullPointerException messages of JEP 358 are now printed by default. The messages contain snippets of the code where the NullPointerException was raised.

App deployers should double check t

[2020-07-30 14:49] pshipton commented on #10296
@DanHeidinga fyi

[2020-07-30 14:51] pshipton opened #10297 "jdk15 Lookup::defineClass should link the class"
From OpenJDK release notes.
"
Lookup::defineClass should link the class (JDK-8238195)
core-libs/java.lang.invoke
Lookup::defineClass is specified to throw LinkageError if a linkage error occurs, but the implementation was not actually linking the class. In this release, the implementation is changed to link the class before returning, so conforming to the specification. If Lookup::defineClass is c

[2020-07-30 14:52] pshipton commented on #10297
@DanHeidinga fyi

[2020-07-30 15:04] planetf1 commented on #10288
Though I've not yet seen an issue with
[code]
this is on Ubuntu.

[2020-07-30 15:18] planetf1 commented on #10288
I then tried on windows 10 & found the same SIGINT issue

In this case I got the log messages from the spring sample app:
[code]
but then the process hung

There I am running
[code]

[2020-07-30 15:23] JasonFengJ9 commented on #10286
will take this one as well.

[2020-07-30 15:27] pshipton commented on #10294
This looks like a regression so I'm adding it to the next milestone.

[2020-07-30 15:38] pshipton commented on #10288
@gacholio

[2020-07-30 15:48] gacholio commented on #10288
@pshipton Please find someone else for this.

[2020-07-30 15:52] 0xdaryl commented on #10266
@dnakamura : is supporting cross compilation part of the CMake migration plan?  And if not, can it be added to the plan?  Cross compile builds are actually fairly common practice in a development workflow, especially for smaller and slower devices that have ARM chips.  I imagine the same might be true for RISC-V as well.

[2020-07-30 16:21] dmitripivkine commented on #8671
Why do you think it is necessary? We have wide list of platforms (Linux X,P,Z; Windows, AIX, OSX, ZOS all  of them should be considered 64 or 32 bits). This is list of page sizes used for object heap for default:
[code]
As you see not all platforms are assigned to use LPs for heap. And for some of them we don't want to change default. For example for Linux PPC LE 64 bit small page is set to 64k an

[2020-07-30 16:47] gacholio commented on #8878
Correct - build the current GC with the compressed override set, and build it again elsewhere with the full override set.

[2020-07-30 17:17] keithc-ca commented on #10244
The errors mentioned by https://github.com/eclipse/openj9/issues/10244#issuecomment-663684758 should be fixed by #10299.

[2020-07-30 17:54] gacholio commented on #10244
I've found the verifier issue - hopefully will have a fix out soon.

[2020-07-30 17:58] gacholio commented on #10288
I'll have the fix for the suspected error out shortly. I'll update here when it's made it into a nightly build.

[2020-07-30 18:43] AlenBadel commented on #8671
I'm not sure where you're getting the 1G from.
https://github.com/eclipse/omr/blob/796f5d0fe03aa59e10febc044acb98a820f3827b/port/linux/omrvmem.c#L1389-L1426

Strictly speaking on `-XX:+UseLargePages`, which obtains the default value from the PortLibrary API above.
Objectheap will use the second smallest configured page size. That is usually 64K, since smallest is always 4K.
Codecache will use the

[2020-07-30 18:50] DanHeidinga commented on #10028
The original suggestion was to enable it for all tests in a grinder / personal build, not enabled by default in the mainline code.

We can do that by enabling it in the special binary or setting the envvar for all the tests.  Pick the easier to reproduce path as the end goal was to try to narrow the window of when the DF flag missed being reset

[2020-07-30 18:55] jdekonin commented on #9806
@olvap377 can you please setup these 3 systems with 10.14.6 and xcode 10.3.  Thanks.

- [ ] osx1014-x86-1 @ 10.14.3 currently
- [ ] osx1014-x86-2 @ 10.14.3 currently
- [ ] osx1014-x86-3 @ 10.14.6 already

[2020-07-30 19:00] DanHeidinga commented on #8671
I'd need to see the performance analysis on each platform before we made this change.  We've seen regressions in the past when changing the LP behaviour.  See previous work around using madvise for transparent large pages.

[2020-07-30 19:46] liqunl commented on #10028
Yes, the easier way is to set the envvar for all the tests. @smlambert Could you point me to places where I can set an environment variable for all tests?

[2020-07-30 20:07] jdekonin commented on #9805
Adopt playbook updates for this found here :
https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1481

[2020-07-30 20:08] pshipton commented on #10295
@dnakamura fyi.

I see openj9_version_info.h for cmake here https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/closed/openj9_version_info.h.in

cmake for Windows isn't supported / working yet. It can be built without cmake atm.

[2020-07-30 20:09] jdekonin commented on #9805
Installed VS2019 on win2012r2-x86-6.  It appears to be under 3G total.

- [ ] win2012r2-x86-1
- [ ] win2012r2-x86-2
- [ ] win2012r2-x86-3
- [ ] win2012r2-x86-4
- [ ] win2012r2-x86-5
- [ ] win2012r2-x86-6

[2020-07-30 20:11] pshipton commented on #10295
J9VM_VERSION_STRING and J9JVM_VERSION_STRING are two different things, I see both of them used in the code.

[2020-07-30 20:55] smlambert commented on #10028
Yes, if you want to blanket set it for all types of tests (system/functional/openjdk etc), then [method 3](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/doc/userGuide.md#method-3-put-it-in-the-testenvmk-file)

which describes adding the env vars temporarily to https://github.com/AdoptOpenJDK/TKG/blob/master/testEnv.mk in your branch of TKG, then when running tests, use that fork/branch

[2020-07-30 20:59] jdekonin opened #10303 "Need more system disk space for windows build/test machines"
@tellison, would it be possible to get an additional 25G added to the System/Boot Disk for these systems? Under the device, its under `Storage` in the left menu, then at the bottom in the `Other storage details` section, action/modify for the System type.  That is all I can see with the privileges you have granted me.

win2012r2-x86-1
win2012r2-x86-2
win2012r2-x86-3
win2012r2-x86-4
win2012r2-x86-5

[2020-07-30 21:01] jdekonin commented on #9805
Opened #10303 to help address space issues that this is going to have with the addition of VS2013 (#10129) and VS2019.

[2020-07-30 21:08] pshipton commented on #9805
Note we don't need VS2010 once moved to VS2013. We can stage the move. i.e. start on one machine, remove the build label, remove 2010, install 2013, ensure the JVM can build on 2013 and pass testing. Add back the build label to this machine, do the other machines one by one.

[2020-07-30 21:09] pshipton commented on #9805
The above suggestion temporarily allows some builds to use 2013 and some to use 2010, but ideally this time period will be minimized. The `-Xinternalversion` option shows which version of the compiler was used to build.

[2020-07-30 21:11] pshipton commented on #9805
Ah, I guess supporting both 2010 and 2013 at the same time isn't feasible due to the settings in defaults.yml. In this case, remove the build labels from the 2010 machines and commit to updating at least a couple of machines in the same day.

[2020-07-30 21:20] jdekonin commented on #9805
We are constantly on the edge with space on these systems.  Even with the compile juggling the systems are only going to have ~10G free.  While that is an option, the bit of extra space would avoid future failures due to lack of space.

[2020-07-30 21:31] #10292 closed

[2020-07-30 21:36] pshipton commented on #9805
Yup, just thinking of alternatives for (a) you don't get additional space in time for the Java 15 release which is coming up quicly, or (b) you don't get additional space ever.

[2020-07-30 21:39] jdekonin commented on #9806
@pshipton @DanHeidinga what do you want to do about JDK11 and newer releases?  I would assume they should be moved up to use the same as long as that works?  Currently JDK11+ is targeted at 10.13 systems and using toolchain 9.4

For JDK8, MACOSX_DEPLOYMENT_TARGET is set to 10.9.0.  For JDK11+, MACOSX_DEPLOYMENT_TARGET should be set to 10.13.0?

Do you want to keep any systems on older levels or ha

[2020-07-30 22:57] pshipton commented on #9806
For JDK11, https://adoptopenjdk.net/supported_platforms.html shows 10.10+ is supported.

[2020-07-30 22:58] pshipton commented on #9806
What Adopt is using for JDK11+ https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1400#issuecomment-657462754

[2020-07-30 23:08] pshipton opened #10306 "cent7-x64-4 missing nasm"
Disabled the machine.
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_linux_OpenJDK/244/
[code]

[2020-07-30 23:08] pshipton commented on #10306
@jdekonin

[2020-07-31 01:18] jdekonin commented on #9806
Why would we use an older version of xcode on the newer release?  That doesn't make sense to me.  I asked in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1400

I can update the env for MACOSX_DEPLOYMENT_TARGET to be 10.10.0 for all releases.

[2020-07-31 01:44] jdekonin commented on #10306
Not sure why it was missing just off the 4,5,6 machines and not the other 3.  Its there now for each of them.  Machine re-added.  This can be closed.

[code]

[2020-07-31 03:15] pshipton commented on #9806
Are you sure xcode 10.3 is newer than clang 10? You need to get the clang version from xcode 10.3 to compare.

[2020-07-31 03:16] #10306 closed

[2020-07-31 13:28] 0xdaryl opened #10308 "OMR Acceptance failure on Win32"
See https://ci.eclipse.org/openj9/job/Build_JDK8_x86-32_windows_OMR/680/console
[code]
I believe this is failing because of eclipse/omr#5435.   @keithc-ca

[2020-07-31 13:47] jdekonin commented on #9806
I think we are fine with the setup we have then.  No sense in adding a second toolchain to the machines.

[code]

[2020-07-31 14:34] gacholio commented on #10296
This is a terrible idea.

[2020-07-31 14:53] DanHeidinga commented on #7965
@dmitripivkine Does the CR shift change the object alignment requirements?  Does forcing a 3bit shift mean small heaps will waste more space and therefore incur higher gc overhead?

[2020-07-31 14:59] DanHeidinga commented on #10296
Can you expand on that?

[2020-07-31 17:29] jdekonin commented on #9805
Work is complete, waiting on fix for #9967.

[2020-08-01 13:32] aahlenst opened #10309 "AdoptOpenJDK 11.0.8 with OpenJ9 crashes on first start if JAVA_HOME points to JDK 8"
Java -version output
--------------------

[code]

Summary of problem
------------------

AdoptOpenJDK 11.0.8 with Eclipse OpenJ9 crashes on first start on macOS 10.15.5 when `JAVA_HOME` points to JDK 8. Steps to reproduce:

1. Install AdoptOpenJDK 8 with HotSpot (I'm still on 8u252).
2. Download [AdoptOpenJDK 11.0.8 with Eclipse OpenJ9](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/

[2020-08-02 11:52] aahlenst commented on #10288
https://github.com/AdoptOpenJDK/openjdk-support/issues/154 looks similar. Would be grateful if anyone more experienced than me could check.

[2020-08-02 14:13] sjmini opened #10310 "Deleted references are not checked in Xcheck:jni feature"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------
GetObjec

[2020-08-03 00:02] mpirvu commented on #7965
I assume we will continue to generate AOT which is portable from the processor point of view.

[2020-08-03 05:41] 1a2s3d4f1 opened #10312 "JVM crash when use chinese path (java14)"
Java -version output
--------------------

openjdk version "14.0.2" 2020-07-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.2+12)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.21.0, JRE 14 Windows 7 amd64-64-B
it Compressed References 20200715_148 (JIT enabled, AOT enabled)
OpenJ9   - 34cf4c075
OMR      - 113e54219
JCL      - 1d231bd6a2 based on jdk-14.0.2+12)

Summary of problem
--------

[2020-08-03 06:31] knn-k commented on #9458
Update Build_Instructions_V8.md: #10311

[2020-08-03 09:09] M-Davies opened #10313 "JVM Crash on jdk15-mac-x64-openj9"
Java -version output
--------------------

THIS IS NOT THE JAVA VERSION OF THE FAILURE BELOW. The failure occurred mid build so there's no java version to display. The closest I can get is [a build from 30-Jul-2020](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15/job/jdk15-mac-x64-openj9/63/) so it should be fairly similar:
[code]

Summary of problem
--------

[2020-08-03 12:44] JasonFengJ9 opened #10315 "JDK11 jdk_lang_native_j9_0_FAILED - Test results: no tests selected"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_OpenJDK11/12/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
08:09:45  http

[2020-08-03 13:00] smlambert commented on #10315
The tests were reorganized via https://github.com/AdoptOpenJDK/openjdk-tests/pull/1926

The error "no tests were selected" happens when TKG checks whether this test target is valid to run on this particular impl/version/platform (as it assesses contents of playlist.xml files and ottawa.csv/modes.xml files).

Its not immediately clear to me why openj9 pipelines would be hitting this error, [Grinder

[2020-08-03 13:17] JasonFengJ9 opened #10316 "JDK15 java/util/StringJoiner/MergeTest.java OutOfMemoryError: UTF16 String size is 2147483639, should be less than 1073741823"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_mac_Nightly/7/consoleFull

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
00:30:20  https:

[2020-08-03 13:23] JasonFengJ9 commented on #10315
[code]

This is the full command line options, no obvious clue to the problem.

[2020-08-03 13:32] JasonFengJ9 opened #10317 "JDK15 jdk11_tier1_buffer_0_FAILED"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.openjdk_x86-64_mac_Nightly/7/consoleFull

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
https://ci.eclips

[2020-08-03 16:20] gacholio commented on #10296
We know exceptions are too often used for control flow in java - this will significantly slow down any thrown NPE.

[2020-08-03 16:21] gacholio commented on #10296
Not to mention the supposed security concern - that alone should make this off by default.

[2020-08-03 18:39] sjmini opened #10318 "Missing NULL check leads to segmentation fault"
Java -version output
--------------------

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Linux amd64-64-Bit Compressed References 20200122_441 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of problem
------------------
DefineCl

[2020-08-03 19:01] JasonFengJ9 commented on #10296
The cost of retrieving the extended NPE message applies when `NullPointerException.getMessage()` is invoked, otherwise it is same as previous Java version.
If such control flow does rely on NPE message instead of just NPE itself, yeah, there is an additional cost when the extended message is on by default.

[2020-08-03 20:38] gacholio commented on #10296
I guess if the exception is caught with no logging, there won't be any penalty.

[2020-08-04 01:28] knn-k commented on #10315
Same with aarch64:
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/213/tapResults/

[2020-08-04 02:17] gacholio commented on #10318
The JNI specification pretty much says "if you pass bad data, you'll crash", but I agree JNI check should be detecting as much as possible.

[2020-08-04 02:20] gacholio commented on #10310
There's no reliable way to detect this in normal mode, but JNI check could avoid freeing references for re-use and mark them as stale.

[2020-08-04 02:29] JasonFengJ9 commented on #10286
This is a warning message. By default `OpenJ9 -Xcheck:jni` only check/show fatal errors. With `-Xcheck:jni:warn`, `OpenJ9` shows following:
[code]

[2020-08-04 11:54] mpirvu commented on #9962
Resolved by #10209

[2020-08-04 11:54] #9962 closed

[2020-08-04 11:56] mpirvu commented on #9708
Resolved by #9870

[2020-08-04 11:56] #9708 closed

[2020-08-04 12:52] JasonFengJ9 commented on #10318
Will take this.

[2020-08-04 13:08] keithc-ca commented on #10308
Sorry. That should be fixed by omr#5443.
 
----- Original message -----From: Daryl Maier <notifications@github.com>To: eclipse/openj9 <openj9@noreply.github.com>Cc: "Keith W. Campbell" <keithc@ca.ibm.com>, Mention <mention@noreply.github.com>Subject: [EXTERNAL] [eclipse/openj9] OMR Acceptance failure on Win32 (#10308)Date: Fri, Jul 31, 2020 9:28 AM 
 
See https://ci.eclipse.org/openj9/job/Build_JD

[2020-08-04 14:00] sjmini commented on #10286
@JasonFengJ9
If IBM think it is enough to show warning for this buggy code, I am fine with it. Please close the issue.

[2020-08-04 14:07] sophia-guo commented on #10315
jdk_lang_native_j9 testcase was recently added as a native type test, which includes the single test jdk/java/lang/ProcessBuilder/checkHandles/CheckHandles.java moved from jdk_lang subset. The test is limited to windows by JTReg framework, however it failed by TKG as no test running.

Fix https://github.com/AdoptOpenJDK/openjdk-tests/pull/1931

[2020-08-04 14:39] JasonFengJ9 commented on #10296
Recent `JDK15 java.lang. NullPointerException` change [1] caused `OpenJ9` unexpected NPE stacktrace. For a simple testcase `new NullPointerException("JDK15 NPE").printStackTrace()`:
[code]
Instead it should be as following:
[code]

It appears `NullPointerException` overrides `java.lang.Throwable.fillInStackTrace()`, when `Throwable` constructor invokes `NullPointerException.fillInStackTrace()` whi

[2020-08-04 14:56] dmitripivkine commented on #7965
only for 4-bit shift (required 16 bytes alignment for objects). All other cases are covered by minimum heap object alignment to 8 bytes

[2020-08-04 14:59] #10318 closed

[2020-08-04 15:07] #10286 closed

[2020-08-04 15:20] mreuvers commented on #9912
Thank you for the build, I'll hope to have a look at it later this week/next week and will get back to you then.

[2020-08-04 15:38] JasonFengJ9 commented on #10310
Will have a look.

[2020-08-04 15:41] sjmini commented on #10310
@JasonFengJ9
It seems that OpenJ9 properly checks deleted object when SetObjectArrayElement function is used.
For example, if deleted object is passed as fourth argument of SetObjectArrayElement function, OpenJ9 throws error message.
[code]
Maybe similar approach can be adopted for GetObjectRefType function.
Hope this help.

[2020-08-04 15:51] JasonFengJ9 commented on #10310
That's a good suggestion, @sjmini

[2020-08-04 16:03] ChengJin01 commented on #10125
PR for step [4] has been created at https://github.com/eclipse/openj9/pull/10324 for review.

[2020-08-04 16:08] rajdeepsingh1 commented on #10197
Do not see any duplicate IPs, however I've now disabled ipv6 on cent7 machines. Let me know if there are any further issues @pshipton  thanks

[2020-08-04 16:25] #10310 closed

[2020-08-04 16:50] harryyu1994 commented on #7965
Yes, we will always use the portable processor feature set when `-XX:+PortableSharedCache` is specified.

[2020-08-04 17:49] olvap377 commented on #9806
osx1014-x86-1 - updated to 10.14.6
 osx1014-x86-2 - updated to 10.14.6
 osx1014-x86-3 - installed latest 10.14.6 updates

Removing `CommandLineTools` next and installing `Xcode 10.3`

[2020-08-04 17:54] #10255 closed

[2020-08-04 17:55] DanHeidinga opened #10326 "Add testing for VM marking exit started too early"
I have no idea how to add tests that aren't in the JVMTI framework (which isn't appropriate here), so I suggest merging this and opening a new issue to get the test added.

For the record, I modified the test to use wait/notify rather than the latch (which doesn't exist in java 8). This isn't realiable enough to put into an automated test, so perhaps the original test should be added for JDK11+.

[2020-08-04 18:00] gacholio commented on #10326
If it's important to add to Java 8, a properly crafted wait/notify solution could be produced. The issue with just using wait/notify without protecting a state variable is that the notify could be lost (if the main thread notifies before the daemon gets into wait, the daemon would not exit).

The test should not depend on the exit code, as the main thread may well win the race to shut the VM down,

[2020-08-04 18:01] gacholio commented on #10288
The fix has been merged, so the next nightly build should contain it. The other issue does indeed sound like the same problem, so it is likely also fixed.

[2020-08-04 18:02] adamfarley opened #10327 "Segmentation error vmState=0x00000000 on aarch64 with no compiled method"
Failure link
------------
https://trss.adoptopenjdk.net/output/test?id=5f2873170bec7975ae087337
https://trss.adoptopenjdk.net/output/test?id=5f2873170bec7975ae087339

(Offset "libj9prt29.so+0x39760" is the same number in both tests, so they are assumed to be the same issue)

- test category: openjdk
- test target name: jdk_util_j9_0 or jdk_lang_j9_0
- OS/architecture: aarch64
- public build SHAs:

[2020-08-04 18:14] gacholio commented on #10326
Original test code:
[code]

[2020-08-04 18:24] DanHeidinga commented on #9656
@JasonFengJ9 Has this been fixed in OpenJ9?  I recall discussions with you and Andrew about what was needed but don't see a PR attached to this issue and we're coming up on the code split

[2020-08-04 18:24] DanHeidinga commented on #9331
Any update on this?  We're about a week away from the code split for the 0.22 release.

[2020-08-04 18:25] DanHeidinga commented on #9657
Are these tests ready to be re-included?  @hangshao0 @JasonFengJ9

[2020-08-04 18:29] DanHeidinga commented on #9683
@PushkarBettadpur @fjeremic Will this be ready for the 0.22 code split currently scheduled for Aug 9?  I'm trying to understand how much code needs to be merged before the code split.

[2020-08-04 18:30] DanHeidinga commented on #7699
Moving this forward as it hasn't gotten any attention for this release

[2020-08-04 18:31] DanHeidinga commented on #9416
Any update on this @Leonardo2718?  Do you expect it to make the 0.22.0 code split on Aug 9?

[2020-08-04 18:34] DanHeidinga commented on #10288
Is this fixed by https://github.com/eclipse/openj9/pull/10273 or something else?

[2020-08-04 18:38] DanHeidinga commented on #10202
@dmitripivkine will the doc PR be opened before the 0.22.0 code split on Aug 9?  Want to confirm whether this will make the release

[2020-08-04 18:39] JasonFengJ9 commented on #9656
@DanHeidinga I have a draft PR, will submit it for reviewing.

[2020-08-04 18:40] DanHeidinga commented on #7354
@mikezhang1234567890 What's left here?  I'd like to get this closed out for the Aug 9 code split and the 0.22.0 release

[2020-08-04 18:42] Leonardo2718 commented on #9416
@DanHeidinga

Unfortunately, I haven't been able to reproduce this so there's no chance of it making the 0.22 code split.

[2020-08-04 18:46] hangshao0 commented on #9657
Not yet.

[2020-08-04 18:47] DanHeidinga commented on #9416
I've moved it to the 0.23 milestone

[2020-08-04 18:48] VermaSh commented on #9331
BigInteger created in [checkMersennePrimes](https://github.com/ibmruntimes/openj9-openjdk-jdk15/blob/2f93015b232dc9ae1d9b933761045ad2bcac35ee/test/jdk/java/math/BigInteger/PrimeTest.java#L224) seems to be same for both failing and passing runs. Based that the failure most likely originates from [isProbablePrime](https://github.com/ibmruntimes/openj9-openjdk-jdk15/blob/2f93015b232dc9ae1d9b933761045

[2020-08-04 18:49] gacholio commented on #10288
@DanHeidinga Correct.

[2020-08-04 18:50] hangshao0 commented on #9657
But they are already re-enabled by https://github.com/AdoptOpenJDK/openjdk-tests/pull/1925

[2020-08-04 18:56] dmitripivkine commented on #10313
@andrewcraik FYI: looks like jit compilation problem based on vmState 0x00050080

[2020-08-04 19:02] andrewcraik commented on #10313
@rpshukla could you have a look - FYI @liqunl

[2020-08-04 19:07] liqunl commented on #10313
This is the same issue @Leonardo2718 looked at.

[2020-08-04 19:09] dmitripivkine commented on #10202
Can this doc change be postponed to next release if there is no objection please?

[2020-08-04 19:15] ChengJin01 commented on #10125
Close the issue as all fixes at step `[1]`, `[2] & [3]` and `[4]` with the expected results have been merged.

[2020-08-04 19:15] #10125 closed

[2020-08-04 19:21] adamfarley commented on #10126
Still occurs: https://trss.adoptopenjdk.net/output/test?id=5f28df4e0bec7975ae099de4

[2020-08-04 19:24] Leonardo2718 commented on #10313
Yes, this looks like the same issue as https://github.com/eclipse/openj9/issues/9416 (which is good because I haven't been able to reproduce that one at all).

[2020-08-04 19:34] dmitripivkine commented on #7965
@DanHeidinga @vijaysun-omr Moving question here: https://github.com/eclipse/omr/pull/5436 force **any run in container** use shift 3 (except it needs to use shift 4). It obviously prevents to use most performant shift 0 for small container applications. Would you please confirm this is desired behaviour?

[2020-08-04 19:39] harryyu1994 commented on #7965
I think in containers the plan is to sacrifice a bit of performance in exchange for maximum portability. I have ran some experiment comparing shift0 and shift3 and didn't see a significant throughput drop. I'll leave the decision to Vijay @vijaysun-omr though.

[2020-08-04 19:43] Leonardo2718 commented on #10313
I've opened, https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1490. If I can get the build and core files quickly, hopefully, I can make more progress than I've been able to so far.

[2020-08-04 19:48] quijote commented on #10255
Thank you for the quick fix. I did not quite follow the comment that CountDownLatch does not exist in Java 8 (it was introduced with Java 5).

https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/CountDownLatch.html

[2020-08-04 19:50] harryyu1994 commented on #6836
Does this mean the startup performance is going to suffer if the cluster has a mixture of AMD and Intel chips? This is not a good case for portability.

[2020-08-04 19:55] gacholio commented on #10255
OK, my mistake - I had never seen it used until very recently, so I assumed it was new.

[2020-08-04 20:06] olvap377 commented on #9806
All 3 machines now have `Xcode`
[code]

[2020-08-04 20:20] DanHeidinga commented on #7965
My understanding is that this is the expected behaviour only when `-XX:+PortableSharedCache` is specified and in that case we accept the tradeoff for better portability.

[2020-08-04 20:23] DanHeidinga commented on #10202
If we can't contain it, then it can be moved out.

@SueChaplain can you confirm the last date for doc changes for 0.22.0 (Sept Java 15 release)?  As the docs are a separate repo, I'm now wondering if the doc changes need to be in for the code split on Aug 9.

[2020-08-04 20:29] dsouzai commented on #6836
I guess this is a concern on all platforms; the compiler would need to be taught to only emit code that will run on all platforms of a given architecture. In the Intel vs AMD case, I believe the main difference is the NOP instructions that are emitted which are based on how they're expected to get patched. The rest are performance based decisions. I imagine this is something that could be resolved

[2020-08-04 20:31] DanHeidinga commented on #9657
Thanks @hangshao0.  I had missed that PR.  I guess the next question is - are they passing now?

[2020-08-04 20:34] hangshao0 commented on #9657
I don't think they are all passing now.

[2020-08-04 20:44] harryyu1994 commented on #7965
Yes that is correct. But in containers the PortableSharedCache feature is enabled by default if we don't specify `-XX:+PortableSharedCache`. In containers, the portable processor feature set will be used by default for AOT compilations unless disabled by `-XX:-PortableSharedCache`. The question here is whether we want to also have the shift set to 3 by default in containers.

[2020-08-04 20:57] mpirvu commented on #7965
I would say yes, but only if AOT is enabled.

[2020-08-04 21:03] harryyu1994 commented on #6836
This might be a big blow to portable AOT.

There could be two solutions to this:
1. The preferred solution is to generate portable AOT code that can run on both chips.
2. If that's not possible, to get portable AOT, we might need to generate AOT code for both intel and AMD (i.e. double compile) while creating the SCC to be embedded in the container. This will double the AOT code storage in the SCC

[2020-08-04 21:08] mpirvu commented on #6836
I would strongly prefer (1), i.e. code that would work on both Intel and AMD given a set of features. This is important given the recent AMD resurgence. In Amazon AWS one could actually choose to run on AMD EPYC machines for 10% lower cost.

[2020-08-04 21:12] JasonFengJ9 opened #10330 "JDK8 Win32 : System configuration does not support option '-Xlp'"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly_testList_1/39`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following link

[2020-08-04 21:19] JasonFengJ9 opened #10331 "JDK11 JIT Server : MathLoadTest_all_special_12_FAILED net.adoptopenjdk.test.bigdecimal.TestSuite034"
Failure link
------------

From an internal build `Test_openjdk11_j9_special.system_x86-64_linux_jit_Nightly_mathLoadTest/71`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following li

[2020-08-04 21:57] dmitripivkine commented on #10330
This message is returned in case if Default Large Page Size (`PPG_vmem_pageSize[1]`) is set to 0 at Port Library initialization time.
This is code in question:
[code]
So `portLibrary->sl_open_shared_library()` can not find "GetLargePageMinimum" function in the kernel.

[2020-08-04 22:00] dmitripivkine commented on #10330
@jdekonin FYI

[2020-08-04 22:10] vijaysun-omr commented on #7965
The shift by 3 code is only generated for an AOT compilation in containers.

So, in the unaffected category are : 1) JIT compilations inside or outside containers and 2) AOT compilations outside containers.

This is a conscious choice being made in the same philosophy as the change to use "portable processor feature set", i.e. we want to make the code portable at a small performance cost (in the c

[2020-08-04 22:15] harryyu1994 commented on #7965
Correct me if I'm wrong, but I thought the JIT compilations inside containers would also have to use shift3 if we made the AOT compilations shift by 3. So JIT compilations inside containers is affected.

[2020-08-04 22:25] harryyu1994 commented on #7965
May not be possible to check for whether AOT is enabled this early.
[code]
The shift is set at `ALL_LIBRARIES_LOADED`, very early in the initialization.

[2020-08-05 00:06] mpirvu commented on #7965
Looking at the code https://github.com/eclipse/openj9/blob/master/runtime/shared/shrclssup.c#L34-L66 I see that `vm->sharedCacheAPI->sharedCacheEnabled` is set very early and SCC options are also parsed very early. But then there is this piece of code in the same function: https://github.com/eclipse/openj9/blob/master/runtime/shared/shrclssup.c#L304-L328
which seems to deal with `-Xshareclasses:no

[2020-08-05 01:39] mpirvu commented on #6836
Scanning the code for `isAuthenticAMD()` I found 3 differences for AMD vs Intel:
1) `_paddingTable` is different. AMD is using `_K8PaddingTable` while Intel64 is using `_intelMultiBytePaddingTable`. Looking at the AMD manuals (see https://www.amd.com/system/files/TechDocs/47414_15h_sw_opt_guide.pdf chapter 5.8) they recommend the `_intelMultiBytePaddingTable` encoding for speed. I don't know if th

[2020-08-05 01:41] knn-k commented on #8034
Related PRs:
- Implement BNDCHKwithSpineCHKEvaluator() #10320 (depends on eclipse/omr#5440 and eclipse/omr#5442)
- Fix arraylengthEvaluator() #10334
- Test settings #10321, https://github.com/AdoptOpenJDK/TKG/pull/97

[2020-08-05 02:37] toshiona opened #10335 "jlink created jdk shows error of JVMJ9VM011W Unable to load j9vrb29"
Java -version output
--------------------

openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.8+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.21.0, JRE 11 Mac OS X amd64-64-Bit Compressed References 20200715_677 (JIT enabled, AOT enabled)
OpenJ9   - 34cf4c075
OMR      - 113e54219
JCL      - 95bb504fbb based on jdk-11.0.8+10)

Summary of problem
----------

[2020-08-05 09:18] SueChaplain commented on #10202
@DanHeidinga - we are aiming to complete the docs for MS2 on 2nd Sept, but we can go closer to the GA for last minute changes. As docs is a separate repo we don't need to tie the docs to the code split.

[2020-08-05 10:36] M-Davies opened #10336 "JTReg Timeout: java/util/concurrent/BlockingQueue/SingleProducerMultipleConsumerLoops.java"
Failure link
------------

Public link to the failing test => https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/jdk/test/java/util/concurrent/BlockingQueue/SingleProducerMultipleConsumerLoops.java

and ideally extracting relevant info from the failed run (just enough info to [run a Grinder](https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins)), inc

[2020-08-05 11:42] vijaysun-omr commented on #7965
@harryyu1994 Discussing with @mpirvu some more, I feel that we need more data points if we are going to slow down JITed code (in addition to AOTed code) inside containers. Could you please run SPECjbb2015 (please ask Piyush if you need help with accessing a setup for it) and maybe SPECjbb2005 (that is much easier to run) and check what the throughput overhead is ?

Additionally, the overhead of th

[2020-08-05 11:47] mpirvu commented on #7965
I would also add quarkus throughput experiments since quarkus is more likely to be run in containers.

[2020-08-05 12:05] JasonFengJ9 commented on #9657
`jdk15 sun/misc/UnsafeFieldOffsets.java` in this issue passes now as per `harness.trace` output:
[code]
@DanHeidinga  I think this issue can be closed.

Other hidden class related failures are related to https://github.com/eclipse/openj9/issues/9328, can be examined and raised when its implementation is complete.

[2020-08-05 12:10] JasonFengJ9 commented on #9677
The hidden class tests have been enabled at https://github.com/AdoptOpenJDK/openjdk-tests/pull/1925.

`jdk/internal/loader/NativeLibraries/Main.java  https://github.com/eclipse/openj9/issues/9018  generic-all` is not related to hidden class which is for https://github.com/eclipse/openj9/issues/9442.

Closing.

[2020-08-05 12:35] DanHeidinga commented on #10202
@dmitripivkine Does the adapted timeline from Sue make this containable in the 0.22.0 release?

[2020-08-05 12:51] #9657 closed

[2020-08-05 13:11] sophia-guo commented on #10315
Fix is in. This can be closed.

[2020-08-05 13:22] dmitripivkine commented on #10202
Ok, we will try to address this in next two weeks.

[2020-08-05 15:15] andrewcraik commented on #9453
@dsouzai is this a close, fix pending, or defer to 0.23?

[2020-08-05 15:21] dsouzai commented on #9453
Defer to 0.23; there's been no new diagnostic information regarding this.

[2020-08-05 15:34] hangshao0 commented on #7965
which seems to deal with -Xshareclasses:none option. I wonder why can't this piece of code be grouped with the previous one. That way we would know very early whether SCC is 'likely' going to be used.

Looking at the code, what it does is to unload the SCC dll if -Xshareclasses:none presents. I guess that is the reason why it is done in stage `DLL_LOAD_TABLE_FINALIZED`. Once the SCC dll in unloade

[2020-08-05 15:43] ChengJin01 commented on #10335
I tried on Linux_X64 with the latest nightly build at https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2020-08-04-06-22/OpenJDK11U-jdk_x64_linux_openj9_2020-08-04-06-22.tar.gz and still ended up with pretty much the same failure as detected above:
[code]

[2020-08-05 15:54] #10308 closed

[2020-08-05 16:28] dnakamura commented on #10295
There are a couple of known issues with the cmake windows builds
see:
#7932
#8111 (not sure if this is still an issue)
#9673

In addition, we dont really support building the vm outside of the openjdk build environment, which in particular is the reason you are seeing the failure to fine `openj9_version_info.h` as we expect it to be generated by the openjdk extensions.  That being said, a standalo

[2020-08-05 16:36] mpirvu commented on #7965
This means that we load the SCC dll before checking the command line options. Be that as it may, we could add another check for `-Xshareclasses:none` when SCC options are parsed.

[2020-08-05 16:42] dmitripivkine commented on #9636
I believe this problem was related with using of obsolete version of Java. Never happen again since Java was updated

[2020-08-05 16:42] #9636 closed

[2020-08-05 16:51] keithc-ca commented on #10335
The problem seems to be that `j9vrb29` links against `j9shr29` (see [CMakeLists.txt](https://github.com/eclipse/openj9/blob/master/runtime/verbose/CMakeLists.txt#L68)): this problem does not occur in a UMA-based build.

There are other unwanted dependencies: the problematic ones are those that refer to libraries from one (optional) module to another that depends on the first module.

[2020-08-05 16:59] mikezhang1234567890 commented on #7354
OpenJ9 isn't assigning the package of the host class to the anonymous class, while Hotspot is. Working on adding the package to the anonymous class name if the class loader for the host class is the system class loader.

[2020-08-05 17:36] hangshao0 commented on #7965
Yes. It looks fine to me if another check for `-Xshareclasses:none` is added in the block L34 to L66.

[2020-08-05 17:49] sharon-wang commented on #10335
As a temporary workaround, you can add `--add-modules openj9.sharedclasses` to the jlink command, i.e.
[code]
so that j9shr29 gets included in the image.

[2020-08-05 19:49] dmitripivkine commented on #10256
@0xdaryl @andrewcraik
As @cedrichansen found out https://github.com/eclipse/openj9/issues/9043 (with reference to https://github.com/eclipse/openj9/issues/8897) is similar to this problem (just use to be failure for ARM).
Would you please advice possible course of actions? Is it a JIT related test?

[2020-08-05 19:55] andrewcraik commented on #10256
I don't know anything about the test so I am not sure

[2020-08-05 20:23] 0xdaryl commented on #10256
I wrote up a description of the problem on AArch64 here -> https://github.com/eclipse/openj9/issues/8897#issuecomment-607897793

I don't recall the exact name of the method, but the problem occurred when that method was compiled with optLevel cold which does not run an aggressive liveness optimization (the reason why this is a problem is described in that link above).

To see if this is the same i

[2020-08-05 20:50] dmitripivkine commented on #10256
@0xdaryl Thank you very much!
I found source for the test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/WeakHashMap/GCDuringIteration.java

There is a misleading message from assertion. The real problem is:
Test creates Weak Ref and running System GC in a loop expecting reference to be Finalized but it never happen.
I observed this problem earlier in https://gi

[2020-08-05 21:30] JasonFengJ9 opened #10339 "JDK11 Windows : Assertion failed at ...\vm\compiler\control\CompilationController.cpp:101: rc != 0"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/111/consoleFull

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
00:45:41  h

[2020-08-05 21:38] JasonFengJ9 opened #10340 "JDK15 s390 gcNotificationTest_Balanced_1 Segmentation error vmState=0x00020002"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_extended.functional_s390x_linux_Nightly/9/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
07:24:41

[2020-08-06 02:12] 0xdaryl commented on #10256
In the AArch64 case, the failure rate was about 1/25.  The test didn't take too long to run as I recall so I was able to let it run hundreds of times in a script with `-Xjit:enableAggressliveLiveness` to demonstrate no failures.  Your mileage may vary though.

[2020-08-06 02:45] AdamBrousseau opened #10342 "Crash running java -version 0.18.1 ppc64le on Cent7"
Java -version output
--------------------

Output from `java -version`.

[code]

Summary of problem
------------------

Crash running java -version during the configure step of a compile job
[code]

I see corrupt cache in the one javacore and gpf in the other

Diagnostic files
----------------

https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64le_linux_Nightly/471/console
https://140-211-168-230-

[2020-08-06 02:47] AdamBrousseau commented on #10342
[javacore.20200805.230831.8712.0005.txt](https://github.com/eclipse/openj9/files/5032266/javacore.20200805.230831.8712.0005.txt)
[javacore.20200805.230804.8712.0002.txt](https://github.com/eclipse/openj9/files/5032267/javacore.20200805.230804.8712.0002.txt)

[2020-08-06 02:48] AdamBrousseau commented on #10342
Is this expected? Should I simply remove the javasharedresources directory?

[2020-08-06 06:55] samolisov commented on #10295
@dnakamura @pshipton thank you for your answers, I'm going to go through the links and try to make a standalone build of openj9 on Windows since what I need are unittests. I believe using CMake on Windows instead of cygwin is a huge advantage of openj9 at least for new developers.

[2020-08-06 10:17] adamfarley commented on #9656
This looks like the same issue.

https://trss.adoptopenjdk.net/output/test?id=5f2b94ba0bec7975ae1294e4

Will hold off on excluding the test given the PR is about to go in.

[2020-08-06 11:48] JasonFengJ9 opened #10343 "JDK11 : BootstrapMethodError: java.lang.invoke.StringConcatException: Generator failed"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_xl_Nightly/111/consoleFull

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
02:18:35

[2020-08-06 11:57] JasonFengJ9 commented on #10315
Thanks @sophia-guo

The failure is not seen in latest nightly builds, closing.

[2020-08-06 11:57] #10315 closed

[2020-08-06 12:11] adamfarley commented on #9123
Could the below error be related to this? Or #9424.

0000000000198200: Invalid class pointer in thread MainThread
0000000000198200:	O-Slot=00000000001E6858
0000000000198200:	O-Slot value=00000000FFFFB578
0000000000198200:	PC=0000FFFF964A43A8
0000000000198200:	framesWalked=1
0000000000198200:	arg0EA=00000000001E6A40
0000000000198200:	walkSP=00000000001E65D8
0000000000198200:	literals=00000000000000

[2020-08-06 12:37] mpirvu commented on #9123
@adamfarley The error here was found during a test using JITServer and it is looked at as a possible JITServer fault. The error in the link mentioned above has the same symptom, but the test does not use JITServer, hence it's possible that the root cause is the same and JITServer just makes it appear more often.

[2020-08-06 13:31] adamfarley opened #10345 "defineHiddenClass/BasicTest.java fails on JDK15 with multiple errors"
Test only seems to fail on OpenJ9 JDK15 builds, and has done since we started testing them at adopt.

Including several issues here, as I'm presuming they're connected in some way.

Try looking into the first issue, and if it doesn't solve the rest, let me know and I'll raise more.

Failure link
------------
[Test_openjdk15_j9_sanity.openjdk_aarch64_linux #6/jdk_lang_j9_0](https://trss.adoptopenjd

[2020-08-06 13:40] dmitripivkine commented on #10340
@JasonFengJ9 Would you please help me to find stored results for this failure?

[2020-08-06 13:49] JasonFengJ9 commented on #10340
Is it https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk15_j9_extended.functional_s390x_linux_Nightly_testList_0/9/functional_test_output.tar.gz?

[2020-08-06 15:13] hangshao0 commented on #10340
Might be duplicate of #10249

[2020-08-06 16:56] adamfarley commented on #10317
Is this a duplicate of https://github.com/eclipse/openj9/issues/10150 ?

[2020-08-06 17:15] JasonFengJ9 commented on #10317
Yeah, it is just with different test suite name `jdk11_tier1_buffer_0`.

[2020-08-06 17:15] #10317 closed

[2020-08-06 17:18] dmitripivkine commented on #10256
@cedrichansen Would you please run grinders "as is" to determine failure rate and with provided option?

[2020-08-06 17:26] cedrichansen commented on #10256
Yes, setting up grinders now 👍🏻

[2020-08-06 17:32] #9656 closed

[2020-08-06 17:55] fjeremic commented on #9683
This will not be ready for 0.22. There is technically no functional problem with x86 at the moment. But if we do want to introduce another field in the header we need to fix this.

[2020-08-06 17:56] rpshukla commented on #9835
Running some more grinders to see if this can be reproduced:

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3706/ (20x passed)
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3707/

[2020-08-06 17:59] DanHeidinga commented on #9683
Moving it out to 0.23 then

[2020-08-06 18:18] hangshao0 commented on #10345
Known issue. The hidden class implementation is not compete yet.

[2020-08-06 18:19] hangshao0 commented on #10345
Linking this to https://github.com/eclipse/openj9/issues/9328

[2020-08-06 18:25] tpeterx opened #10350 "Request support for Apple Silicon Mac OpenJDK"
In June 2020 Apple announced they will be migrating Macs to their own SoCs for processors, which is based on the ARM architecture.

This is a request to support Apple Silicon Macs with a native OpenJDK/JRE that includes an arm64 architecture 'slice' in the Java binaries.  Currently, OpenJDK targets 64-bit Intel:

[code]
When adding Apple silicon support, please add arm64 to the same binaries, so t

[2020-08-06 19:01] hangshao0 commented on #10342
The corruption is detected very early at the startup phase, over 600 JVMs has attached to it before. I guess it is an existing one on that machine, not a newly created one.
Yes, you can remove the cache or javasharedresources directory, there is no point keeping an corrupted cache there.

[2020-08-06 19:07] AdamBrousseau commented on #10342
It was also interesting to me that it wasn't reproducible. I can close if there is no concern here.

[2020-08-06 19:07] #10342 closed

[2020-08-06 19:12] ChengJin01 commented on #5058
1) Following the previous dumps generated at https://github.com/eclipse/openj9/issues/5058#issuecomment-620210650, I went over the whole static blocks (`<clinit>`) of `java.lang.String` and classes involved: [JITHelpers_class.txt](https://github.com/eclipse/openj9/files/5037400/JITHelpers_class.txt) and [String_clinit.TXT](https://github.com/eclipse/openj9/files/5037401/String_clinit.TXT)  and deb

[2020-08-06 19:48] AlenBadel commented on #8671
I have a concern on how we currently output the selected, and available page sizes using `-verbose:sizes`.

[code]

Printing out `-Xlp:[objectheap/codecache]` is misleading when the option is not specified at all.

I propose that we adapt the following structure:

[code]

The above changes will mean we will need to change how we parse test results within XlpOptionsTest[1], and XlpCodeCacheTest[2].

[2020-08-06 20:04] dmitripivkine commented on #8671
The goal of `-verbose:sizes` to show chosen / available range of **sizes**. Whatever we do (even replace some `-Xlp` commands to any kind of verbose output) **sizes** must be clear and easy to see.
Would you please provide an example of output you suggesting?

[2020-08-06 20:18] AlenBadel commented on #8671
[code]

[code]

The only output that somewhat doesn't belong is if Warnings/Errors are enabled. It would be great to have so that we could test expected warning, and error paths.

[2020-08-06 20:43] dmitripivkine commented on #8671
My vote would be report actual data only, do not put what is requested. We need output actually selected as well as any other valid choice. Like ' object heap page size selected "A", available "B","C","D" '. I don't think we need to list all set of options can be used as well as how they are treated. This is not a guide for options.

[2020-08-06 20:55] VermaSh commented on #9331
The method causing the failures is `+ (profiled very-hot) java/math/BigInteger.implSquareToLen([II[II)[I @`. Looking into the method now.

[2020-08-06 21:06] AlenBadel commented on #8671
I agree. Page data should be anchored under a large page option, or it would look totally misaligned.

I.e
[code]

-XX:[+/-]UseLargePages[CodeCache/ObjectHeap] should be the only options specified. Page info that pertains to the size selected, type selected, and available combinations will be printed indented under that option.

[2020-08-06 21:28] pwagland commented on #4004
So after digging through a rabbit hole on what options are set by default when, I ended up at this issue. Is there any reason that we wouldn't want to enable `CompactOnIdle` whenever `GcOnIdle` is set? And thus also when `-Xtune:virtualized` is set?

[2020-08-06 22:08] pwagland commented on #9616
Thanks for implementing this. Is there any way to see if this has worked, that is, is there any way to print out the options currently in use? Either from code, or from the command line?

[2020-08-07 00:33] JasonFengJ9 commented on #10340
Based on @dmitripivkine thumbs up emoji on the comment above, closing as duplication of #10249.

[2020-08-07 00:33] #10340 closed

[2020-08-07 00:54] JasonFengJ9 commented on #8189
This appears in an internal build `Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly/412`:
[code]

[2020-08-07 12:55] #10335 closed

[2020-08-07 13:33] dmitripivkine commented on #10340
This is late confirmation: this is a duplicate of https://github.com/eclipse/openj9/issues/10249 - problem with hidden classes:
[code]

[2020-08-07 13:36] dmitripivkine commented on #8671
@pshipton Any suggestions how to reformat output of `-verbose:sizes` ?

[2020-08-07 13:49] dmitripivkine commented on #4004
@pwagland Thank you for interest to OpenJ9. Would you please open an issue for OpenJ9 where describe your concerns / suggestions. In general running `CompactOnIdle` by default with `GcOnIdle` caused problems with some customers which have very little resources assigned to JVM running in container. For example Compact might take tens of seconds for JVMs running single threaded with very low CPU (li

[2020-08-07 14:21] JasonFengJ9 opened #10354 "JDK15 SyntheticGCWorkload_DoubleMap_J9_0_FAILED : j9mm.316 * ** ASSERTION FAILED ** at GlobalMarkingScheme.cpp:870: ((uintptr_t)0x99669966 == (clazz)->eyecatcher)"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_extended.functional_ppc64le_linux_Nightly/10/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
03:39:4

[2020-08-07 14:21] JasonFengJ9 commented on #10354
fyi @dmitripivkine

[2020-08-07 15:43] dmitripivkine commented on #10354
duplicate of https://github.com/eclipse/openj9/issues/10249

[2020-08-07 15:43] #10354 closed

[2020-08-07 15:53] nbhuiyan commented on #8866
While I was able to reproduce this crash in June, it is no longer reproducible with the latest nightly builds. @andrewcraik

[2020-08-07 16:22] VermaSh commented on #9331
Quick update:
The failure looks to be caused by `SPMDKernelParallelization` optimization. This optimization happens only when the method is compiled at opt level scorching or very-hot.

[code]

[2020-08-07 19:57] ChengJin01 commented on #5058
I tried `fedora-rawhide-developer-20190703n0` at https://dl.fedoraproject.org/pub/alt/risc-v/repo/virt-builder-images/images/ but it ended up being stuck in bootstrap on U540 (whether it was set to `1111` or `1101` in terms of MSEL mode), which confirms the note mentioned at https://dl.fedoraproject.org/pub/alt/risc-v/repo/virt-builder-images/images/index:
[code]
So there is no way to know whether

[2020-08-07 20:31] mpirvu commented on #7965
Quarkus+CRUD on x86 loses 0.9% in throughput when we force a shift3 instead on shift0 for compresssedrefs

[code]

[2020-08-07 20:42] mpirvu opened #10355 "Throughput with JITServer dropped 2.4% between 08/04 and 08/05"
I measured AcmeAir throughput with JITServer turned on and observed a 2.4% throughput drop between these two OpenJ9 builds:

[code]
[code]
[code]

CPU usage is affected as well and saw an increase of 4.4%

[2020-08-07 20:47] mpirvu commented on #10355
`Merge pull request #10118 from dmitry-ten/coalesce-methods` happened between those two builds so it's the first suspect.

[2020-08-07 21:59] fjeremic commented on #9331
@VermaSh what does the loop look like before and after the transformation? Can you post a log of with/without this particular transformation. Tagging @gita-omr and @mnalam-p as the resident experts in this area for your awareness. We'll try to get as far as we can into the investigation, but @VermaSh may need help eventually.

[2020-08-07 23:20] mpirvu commented on #10355
PR https://github.com/eclipse/openj9/pull/10245 brings the throughput and CPU to values seen in `OpenJDK8U-jre_x64_linux_openj9_2020-08-04-03-59` SDK.
Note that #10245 is an alternative implementation of #10118, so it's not that we covered with a regression with an improvement.

[2020-08-09 04:53] 1a2s3d4f1 opened #10356 "Can not load Minecraft snapshot"
Java -version output
--------------------

[code]

Summary of problem
------------------

Minecraft 1.16.2-rc2 or Minecraft 1.16.2 client can not load on openj9.  These version can load on hotspot.

https://bugs.mojang.com/browse/MC-197271 (server)

Diagnostic files
----------------
Only instead prints a stack trace.
[code]

[2020-08-10 09:52] mreuvers commented on #9912
Hello, I've tested with your build and it fails and now with a large message containing your long log message (over 3000 lines).

Just to play it safe for legal reasons, can I send/upload the result somewhere privately to you? Thanks.

[2020-08-10 12:15] VermaSh commented on #9331
@fjeremic Bellow is the loop before and after the transformation. The transformation itself seems to be correct(thanks to @r30shah for helping me verify). looking into the instructions generated next.

Here is the log file with the transformation.[scorching_lastOpt_125_trace.txt.zip](https://github.com/eclipse/openj9/files/5049039/scorching_lastOpt_125_trace.txt.zip) As for a trace file without th

[2020-08-10 12:18] andrewcraik commented on #8866
This was likely fixed by other changes around the time it was last observed. I am closing this, but please reopen if the issue recurs in testing since we believe it be fixed in later builds.

[2020-08-10 12:18] #8866 closed

[2020-08-10 12:32] JasonFengJ9 opened #10359 "JDK11 JIT Server : AssertionError: Expected an exit value of 0 or 143, got 134 instead"
Failure link
------------

OMR abuild: https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_OMR/612/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
1

[2020-08-10 12:33] JasonFengJ9 commented on #10359
Similar `AssertionError: Expected an exit value of 0 or 143, got 1 instead` at `OpenJDK` abuild https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_OpenJDK/205/tapResults/
[code]

[2020-08-10 12:35] JasonFengJ9 commented on #10359
fyi @mpirvu

[2020-08-10 12:40] JasonFengJ9 opened #10360 "JDK8 testDDRExt_SharedClasses_0_FAILED - AssertionFailedError: Failed to extract j9rommethod name for JITPROFILE. Can not proceed with test"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/450/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinder, use the following links:
00:54:33

[2020-08-10 12:57] JasonFengJ9 commented on #10296
Further about JDK15 `java.lang. NullPointerException` extra internal stacktrace frames above, I am going to propose skip those 6 java frames besides usual INL frame.
The code snippet looks like following:
[code]

[2020-08-10 14:42] VermaSh commented on #9331
@gita-omr Can you please give it a look as well in case I missed something?

[2020-08-10 15:22] harryyu1994 commented on #7965
## Shift3
Job ID | max_jOPS | critical_jOPS | hbIR_max | hbIR_settled
-- | -- | -- | -- | --
9962189 | 12177 | 4435 | 13838 | 13099
9962190 | 13688 | 5824 | 19279 | 16099
9962191 | 14006 | 5749 | 16099 | 13449
9962192 | 11277 | 4417 | 13587 | 13415
means | 12787 | 5106.25 | 15700.75 | 14015.5
medians | 12932.5 | 5092 | 14968.5 | 13432
confidence_interval | 0.15982393515568 | 0.24493717290884 | 0.2

[2020-08-10 15:44] mpirvu commented on #7965
That's a 6.8% drop in  max_jOPS and 2.5% drop in critical_jOPS.
Fluctuations are huge though min-max ~20%, so I am not sure we can draw any conclusions with such a small dataset.

[2020-08-10 15:57] DoctorMacc commented on #10356
I can confirm this. Happens on Linux as well as Windows.

[code]

[code]

Output of `uname -a`:

`Linux [computername] 5.6.19-158.current #1 SMP PREEMPT Sun Jul 26 14:17:01 UTC 2020 x86_64 GNU/Linux`

[code]
JCL - 5e623848e9 based on jdk8u252-b09)

[2020-08-10 16:20] mpirvu commented on #7965
My DT7 experiments with AOT enabled show a 2.1% regression when moving from shift 0 to shift 3

[code]

[2020-08-10 16:27] mpirvu commented on #10359
Most likely caused by merging of #9772 which is now known to be incompatible with JITServer. That PR has been reverted in #10357

[2020-08-10 16:27] #10359 closed

[2020-08-10 16:29] harryyu1994 commented on #7965
Not sure why fluctuations are so high. Originally the heap size is set to 24GB, I had to change it to 2GB to be able to use shift0. Maybe the test does not work well for a smaller heap..

[2020-08-10 18:23] janvrany commented on #5058
@ChengJin01
I tried to debug the crash on Debian, OpenSBI + Linux 2.6.12 where it crashes on SIGSEGV in the interpreter ([full backtrace](https://github.com/eclipse/openj9/files/5052503/openj9-crash-backtrace-2020-08-10.txt)):
[code]
As you can see, `arrayref` is `0x1` so no wonder it segfaults. `_currentThread` is `0x5f00`, `_currentThread->sp` is `0x5e10`. Here's stackdump (if I got it right):
[

[2020-08-10 19:59] gatoborrachon opened #10363 "JDK8 OpenJ9 Modded Minecraft 1.12 performance issue"
I heard that with this JVM (https://adoptopenjdk.net/?variant=openjdk8&jvmVariant=openj9) i can improve a lot the performance, but with these arguments:
-XX:+UseG1GC -Xmx4G -Xms4G -Dsun.rmi.dgc.server.gcInterval=2147483646 -XX:+UnlockExperimentalVMOptions -XX:G1NewSizePercent=20 -XX:G1ReservePercent=20 -XX:MaxGCPauseMillis=50 -XX:G1HeapRegionSize=32M

i get a worse performance than the HotSpot JVM

[2020-08-10 21:33] AlenBadel commented on #8671
I've updated https://github.com/eclipse/openj9/issues/8671#issue-571666508 to reflex the new proposed format of `-verbose:sizes` output, and the test changes necessary to conform to the new output.

Mainly, the test currently parses the verbose output as written in the -Xlp fashion and we would need accompanying changes to how the output is analyzed on both the code cache and object heap tests to

[2020-08-10 22:15] ChengJin01 commented on #5058
Hi @janvrany, Many thanks for your debugging on the latest version of Debian on U540.

If the crash literally happened to `inlineIndexableObjectReadI64`,  then it confirmed my previous assumption that the problem should be related to barrier which does have something to do with `OpenSBI` in that `OpenSBI` offers a full L2 cache for better performance. If so, we need to review all our code with rea

[2020-08-10 22:15] AlenBadel commented on #8671
Just to also note, within the object heap Z/OS specifies that pageable 1M large pages should be used. Would it not be more performant to use `OMRPORT_VMEM_PAGE_FLAG_PAGEABLE_PREFERABLE` instead which ensures that 1M fixed large pages are used if pageable are not configured, rather than downgrading the page size?
@dmitripivkine

https://github.com/eclipse/omr/blob/637f10724dd3de1d4845bd2bc38d9c2545

[2020-08-10 22:43] janvrany commented on #5058
@ChengJin01: just in case you would find that useful: here are my scripts to (reproducibly) compile debug build of OpenJ9 on RISC-V Debian: https://github.com/janvrany/openj9-openjdk-jdk11-devscripts

[2020-08-11 01:46] BeverlyXu commented on #9815
Hi @1a2s3d4f1, I saw some of your previous comments and our discussion was removed from the thread. Was the problem no longer reproducible? Please let us know how we could further help. Thank you!

[2020-08-11 04:06] 1a2s3d4f1 commented on #9815
Thank your help ,This issue is not happen

[2020-08-11 04:06] #9815 closed

[2020-08-11 11:32] adamfarley commented on #10345
PR created to exclude the tests until the JEP is complete.

https://github.com/AdoptOpenJDK/openjdk-tests/pull/1934

[2020-08-11 12:07] JasonFengJ9 commented on #7397
This kind of failure (_Process LT1 has ended unexpectedly_) occurred in various Java level/platform.

`JDK8` (`x86-64 Linux`) - https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/452/tapResults/
`JDK11` (`AIX`) - https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly/447/tapResults/
`JDK15` (`PPCLE Linux`) - https://ci.eclipse.org/ope

[2020-08-11 12:48] JasonFengJ9 opened #10365 "JDK16 Valhalla : ValueTypeTestsJIT_0_FAILED - Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `Test_openjdkValhalla_j9_sanity.functional_x86-64_linux_valhalla_Nightly_testList_1/52`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the fo

[2020-08-11 13:18] #9978 closed

[2020-08-11 13:53] adamfarley commented on #9328
The tests in sanity.OpenJDK that seemed to fail without this JEP have been excluded.

https://github.com/eclipse/openj9/issues/10345

When this JEP is complete, please re-integrate the tests, or notify the #testing channel in the Adopt Slack so someone else can (e.g. me).

[2020-08-11 13:58] krolik-exe commented on #10363
The flags you are using are made for HotSpot and have mostly no effect on OpenJ9. I suggest taking a look at this article below for some info regarding OpenJ9 tuning.

https://steinborn.me/posts/tuning-minecraft-openj9/

[2020-08-11 14:34] dmitripivkine commented on #8671
In the code you mentioned GC requests 1m pageable as a best choice. Further down it is up to Port Library code to select best choice of pages available. Usually Port Library code assumes that **previous** element of pages array is a best choice. So for ZOS the array should be [4k non-pageable, 1m non-pageable, 1m pageable, 2g non-pageable]. So previous element should be best choice and it is 1m no

[2020-08-11 14:49] edrevo opened #10367 "Segmentation error"
Java -version output
--------------------
[code]

Summary of problem
------------------

This happened compiling Scala code through SBT. My JAVA_OPTS are `-Xshareclasses:cacheDir=/home/ximo/.openj9cache,nonfatal,name=sbt -Xmx10G`

[code]

Diagnostic files
----------------

https://1drv.ms/u/s!AvHYjMzLfKM5g8gb4-R-1kP5kH_9XQ?e=ixb26h

[2020-08-11 14:52] cedrichansen commented on #10256
Ran GCDuringIteration 200x through grinder (with no jvm options provided) and no failures were recorded. After speaking with @dmitripivkine , this may be a slight difference in test environment (grinder tests running only GCDuringIteration vs nightly eclipse builds which run a larger set of tests) which might cause a different level of jit optimization to be used as the tests are run, and this res

[2020-08-11 14:57] mpirvu commented on #9616
@pwagland You can generate a verbose log by providing the following command line options `-Xjit:verbose={compilePerformance},vlog=/tmp/vlog.txt`. The verbose log includes (among other things) lines for compilation starts and compilation ends. Example:
[code]
[code]
The two sets shown above contain two events each: one compilation start and one compilation end (the latter starts with a `+` sign). T

[2020-08-11 15:09] harryyu1994 commented on #7965
# ILOG_WODM 851-4way-Seg5FastpathRVEJB

## Shift 0

Job ID | Global Throughput | Average response time | Min TPS | Max TPS | Pause Time | Total Pause Time
-- | -- | -- | -- | -- | -- | --
9994528 | 8638.9371504854 | 1.8573037069837 | 504.7412381469 | 582.0975 | 13.859526383526 | 14.445926640927
9994529 | 8762.1322573549 | 1.8264175610697 | 534.71616320959 | 560.30609923475 | 13.895542351454 | 14.4

[2020-08-11 15:11] vijaysun-omr commented on #7965
@andrewcraik @zl-wang see above overhead(s)

[2020-08-11 15:24] harryyu1994 commented on #7965
I have also updated the original post for `SPECjbb2015GMR`. I don't think we can draw any conclusions from that particular benchmark as we always seem to have large fluctuations (multiple attempts and not a small dataset considering each run takes over 3 hours).

[2020-08-11 17:10] fjeremic commented on #9331
Here are the instructions generated for the loop:

[code]

I hand-checked them and they appear to match the trees and are doing the right thing. I looked at the trees and compared it to the the Java method and it looks ok as well. There must be something more subtle going on.

[2020-08-11 17:32] #9805 closed

[2020-08-11 17:38] amicic commented on #7965
most of variability typically comes from JIT, but this heap size is also fairly small for jbb2015 and may contribute (by having large variations in number of global GCs that are relatively expensive) as well.

if these tests are to be repeated as big as possible while still being able to run shift0, with 2GB given to Tenure and rest to Nursery (for example -Xmx3200M -Xms3200M -Xmn1200M)

[2020-08-11 17:43] theresa-m commented on #9912
Thanks! Oh no I had hoped it would be shorter. The openj9 public slack channel could be a good place to dm me. Probably not going to need all 3000 lines either.

This should be the link to join our slack if you are not already part of it: [openj9 slack](https://join.slack.com/t/openj9/shared_invite/enQtNDU4MDI4Mjk0MTk2LWVhNTMzMGY1N2JkODQ1OWE0NTNmZjM4ZDcxOTBiMjk3NGFjM2U0ZDNhMmY0MDZlNzU0ZjAyNzQ1ODlm

[2020-08-11 17:53] theresa-m commented on #9912
The main thing I'm looking for is the start where `"cached ludcl is: " <ludcl>+ " expected ludcl is: " <ludcl>` print different ludcls. to help narrow down when there is a cache error. That should hopefully be near to the last few lines of output.

[2020-08-11 17:58] dmitripivkine commented on #10202
https://github.com/eclipse/openj9-docs/pull/617

[2020-08-11 19:02] aarongraham9 opened #10370 "StackOverflowError in Renaissance Benchmark Suite's movie-lens sub-benchmark in Eclipse OpenJ9 0.21 Early Access VM on AArch64"
Java -version output
--------------------

Khadas' VIM3:
[code]

Pine64's Rock64:
[code]

Summary of problem
------------------

I may have found a defect in the JIT for `AArch64` in the Eclipse OpenJ9 `0.21` release. When I am running the Renaissance Benchmark Suite's (https://renaissance.dev/) `movie-lens` sub-benchmark (from apache-spark) I am encountering a `java.lang.StackOverflowError` that

[2020-08-11 19:03] aarongraham9 commented on #10370
FYI @0xdaryl and @knn-k.

[2020-08-11 19:11] JasonFengJ9 commented on #10223
The example produces following exception stacktrace:
[code]

This appears a mismatch of the `kotlin-gradle-plugin` and `gradle`.
`org.jetbrains.kotlin.gradle.plugin.Android25ProjectHandler.getJavaTask(Android25ProjectHandler.kt:108)` [1] expects `org.gradle.api.internal.provider.AbstractMinimalProvider.get(org.gradle.internal.DisplayName)` [2] which exists in just a few versions between [3] and [4

[2020-08-11 19:31] hangshao0 commented on #10275
The build been tested in `job/Test_openjdk11_ibm_extended.functional_s390x_zos_Personal_testList_0/` are built from
`job/Build_JDK11_s390x_zos_Nightly`

Looking at the latest build: `job/Build_JDK11_s390x_zos_Nightly/488/consoleFull`, I see ` -DOPENJ9_BUILD` is incorrectly set:

`04:47:43  cxx -DOPENJ9_BUILD -Wc,debug -Wc,"langlvl(extended)" -Wc,lp64 -+ -DIPv6_FUNCTION_SUPPORT -DJ9ZOS390 -DLONGLON

[2020-08-11 21:36] keithc-ca commented on #10367
It seems you're running within WSL. Does the problem go away if you use `-Xshareclasses:none`?
If so, it would seem you've encountered https://github.com/Microsoft/WSL/issues/1927.
By the way, WSL is not a supported platform for OpenJ9.

[2020-08-11 22:15] olvap377 commented on #9806
PR merged, this should be good to close

[2020-08-11 22:29] gatoborrachon commented on #10363
you are right, with this new arguments that i found it works better:

-XX:+UseG1GC -Xmx5G -Xms5G -XX:+UseStringDeduplication -XX:+DisableExplicitGC -XX:MaxGCPauseMillis=50 -XX:SoftRefLRUPolicyMSPerMB=10000 -XX:ParallelGCThreads=2 -XX:+UnlockExperimentalVMOptions -XX:G1NewSizePercent=20 -XX:G1HeapRegionSize=32M -Dsun.rmi.dgc.server.gcInterval=2147483646

![openj9 + nuevos args](https://user-images.

[2020-08-11 22:29] #10363 closed

[2020-08-12 04:03] sirinath opened #10373 "Use of Best Platform Specific Instruction in JIT Compilation and VM Code Execution"
When JIT compiling and running of the VM is it possible to ensure, perhaps through additional tests, that the bytecode gets compiled and VM implementation, is the best possible set of instruction. This can include ensuring:
- vectorisation
- SIMD instructions
- GPU acceleration
- Other platform-specific instruction
in the compiled VM code and JIT-compiled code corresponds to a set of independently

[2020-08-12 05:37] edrevo commented on #10367
Thanks for the quick update. It definitely looks like that WSL issue. It's a pitty WSL isn't a supported platform. OpenJ9 gives me a 10s bootup improvement for SBT!

Thanks for the awesome work with OpenJ9!

[2020-08-12 05:37] #10367 closed

[2020-08-12 05:49] DanHeidinga commented on #9626
@theresa-m has the DDR sealed classes PR been opened?

[2020-08-12 05:53] DanHeidinga commented on #7354
@mikezhang1234567890 Any update on this?  We're fast approaching the new code split date of Aug 16

[2020-08-12 05:54] DanHeidinga commented on #9782
Moving this forward as diagnostic code has been added but the root cause hasn't yet been identified

[2020-08-12 07:52] Unpublished commented on #10223
Thanks for your in-depth analysis @JasonFengJ9.

Updating gradle to at least [6.2](https://github.com/gradle/gradle/releases/tag/v6.2.0)  also fixes the build.

Should the difference in code execution path still be tracked?

[2020-08-12 12:04] JasonFengJ9 commented on #10294
Now this failure is seen across platforms in `ibuild 453452`.

[2020-08-12 12:10] JasonFengJ9 commented on #6089
This failure is seen in Windows platform as well in `ibuild 453452`.

[2020-08-12 12:20] JasonFengJ9 opened #10374 "osx1014-x86-1 - configure: error: The path given by --with-boot-jdk does not contain a valid Boot JDK"
Failure link
------------

https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_mac_OpenJDK/255/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-08-12 12:21] JasonFengJ9 commented on #10374
This is an infra issue.

fyi @jdekonin

[2020-08-12 12:24] JasonFengJ9 opened #10375 "osx1011-x86-2 - UnsatisfiedLinkError: fontmanager"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/120/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

This is an infra issue.

[2020-08-12 12:54] jdekonin commented on #9806
Actually I think there is some cleanup here to perform first.

We have 2 macs @ 10.11, 2 @ 10.13 and 3 @ 10.14.  What kind of version distribution do we want to maintain for test coverage?  Or do we just want to have everything at 10.14 and newer?

[2020-08-12 13:11] mundaym opened #10376 "JDK8 segmentation fault when using RHEL 7.6 on s390x"
Java -version output
--------------------

[code]

Summary of problem
------------------

I am experiencing a crash when trying to run Spark tests on RHEL 7.6 on s390x with a *large heap* build of OpenJ9. I have not yet experienced this issue on any other Linux distribution I have tried (including RHEL 7.7 and RHEL 7.8).

[code]

Diagnostic files
----------------

https://ibm.box.com/s/bteit1rz6p1

[2020-08-12 13:16] jdekonin commented on #10374
Installed to current 3 10.14 macs; osx1014-x86-1, osx1014-x86-2, osx1014-x86-3

[code]

[2020-08-12 13:24] liqunl commented on #10028
Update: I'm getting test failures of test_setSecurityManager jobs. Don't know how my change can cause such error, will have to look into it.

https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder_TKG/696/testReport/junit/org.openj9.test.java.lang/Test_System/test_setSecurityManager3/

[code]

[2020-08-12 13:30] zl-wang commented on #7965
maybe due to the shift-3 case's bigger measurement variability, the overhead looked like twice more than expected.  we had prior experience with this overhead ... about 2-2.5%.  it might be worth of another more stable measurement on shift-3 case.

[2020-08-12 13:38] DanHeidinga commented on #10288
I'm going to close this as the fix has been merged and will be in the next release

[2020-08-12 13:38] #10288 closed

[2020-08-12 13:39] #10374 closed

[2020-08-12 13:39] DanHeidinga commented on #10223
Moving this out to the Oct quarterly release as it's not java 15 specific and there's a work around - use a newer gradle

[2020-08-12 13:42] DanHeidinga commented on #9018
@JasonFengJ9 Is there a PR for this that I'm not finding?  Looking for an update on how this will complete for JDK15

[2020-08-12 13:44] DanHeidinga commented on #9895
@babsingh Is this still relevant or can it be closed?

[2020-08-12 13:45] DanHeidinga commented on #9912
Moving this to the Oct quarterly update but if a low risk fix is found before we ship, we can consider porting to the release branch for jdk15

[2020-08-12 13:47] hzongaro commented on #10365
One thing to note is that the unhandled exception seems to occur after running the tests.  From the output in https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdkValhalla_j9_sanity.functional_x86-64_linux_valhalla_Nightly/109/tapResults/:

[code]

[2020-08-12 13:59] JasonFengJ9 commented on #9018
@DanHeidinga I don't have a PR for this yet, was interrupted by other workitems. Will pick it up.

[2020-08-12 14:07] theresa-m commented on #9626
Not yet. I will finish it up this week.

[2020-08-12 14:45] keithc-ca opened #10377 "Remove PANAMA code"
Historically, the OpenJ9 project worked to include functionality to support the goals of OpenJDK's Panama project (see https://openjdk.org/projects/panama/). That work was done under the control of a build flag. That flag was originally defined in `j9.flags` and later mirrored for CMake builds in `j9cfg.h.in`. In both build systems, the result is a macro (`J9VM_OPT_PANAMA`) in the derived artifact

[2020-08-12 14:52] dnakamura commented on #9195
Currently hitting an issue with the assembler on z/OS. Anybody happen to know what this means?
[code]

[2020-08-12 14:55] keithc-ca commented on #10367
That's definitely a big improvement.

It's surprising (and disappointing) to me that Microsoft has left that bug unattended for so long.

[2020-08-12 14:55] syserr0r commented on #10356
Same for me, details in case it helps (Debian Buster with latest apt updates):
[code]

[code]

[2020-08-12 15:02] harryyu1994 commented on #7965
Tried with `-Xmx3200M -Xms3200M -Xmn1200M` on x86
The shift0 runs were pretty stable, the shift3 runs were not.
3.2% drop in max_jOPS and 2% drop in cirtical_jOPS
Going to give this another try..

## Shift 3

Job ID | max_jOPS | critical_jOPS | hbIR_max | hbIR_settled
-- | -- | -- | -- | --
9994645 | 18938 | 11502 | 23095 | 22360
9994646 | 18938 | 11227 | 23095 | 21847
9994647 | 19169 | 10885 | 23

[2020-08-12 15:05] gacholio commented on #10373
The VM is entirely in C and is compiled only once for the minimum supported hardware level, so there's nothing to be done in the VM.

[2020-08-12 15:05] gacholio commented on #10373
The JIT already selects the best instructions available, so there's no work for the JIT either.

I suggest closing this issue.

[2020-08-12 15:13] andrewcraik commented on #9453
Moved to 0.23 due to lack of information - if we still lack information then this may go to the backlog.

[2020-08-12 15:35] dmitripivkine commented on #7965
Do you use `-XXgc:forcedShiftingCompressionAmount=3` to force shift 3 ?

[2020-08-12 15:35] harryyu1994 commented on #7965
Yes

[2020-08-12 15:44] babsingh commented on #9895
This issue will be kept open until all the listed JDK changes/modifications are reverted ... once OpenJ9 adopts OpenJDK MethodHandles and VarHandles.

[2020-08-12 15:46] babsingh commented on #9895
**JDK changes to support JEP383 with OpenJ9:** https://github.com/ibmruntimes/openj9-openjdk-jdk15/pull/11

[2020-08-12 17:03] DanHeidinga commented on #9895
That clears it up.  We need to keep this open but it's not a 15 specific item and therefore should be moved out of the 0.22.0 release

[2020-08-12 17:30] mnalam-p commented on #9331
@fjeremic @VermaSh I saw [this error message](https://github.com/eclipse/openj9/issues/9446#issuecomment-646416479) in trace file while working on the AutoSIMD bug. Not sure if they are be related, but maybe experienced eyes can interpret them better?

[2020-08-12 17:31] LongyuZhang commented on #10275
Opened Issue of above mentioned ```-DOPENJ9_BUILD``` setting on Internal GitHub runtimes/openj9-openjdk-jdk11-zos/issues/360. Thanks.

[2020-08-12 17:40] ChengJin01 commented on #10356
Let me do an initial investigation to see what happened as it was more or less related to MethodHandle.

[2020-08-12 17:53] ChengJin01 commented on #10356
@1a2s3d4f1, could you provide the downloading link for the Minecraft (java edition) or share the jar file with us (e.g. via Google Drive). It seems the software is not free for downloading.

[2020-08-12 18:27] gacholio commented on #10309
Based on the error, this is related to recent CPU feature work in the JIT/portlib.

[2020-08-12 18:35] DoctorMacc commented on #10356
@ChengJin01 The server software is free to download and the stack trace is printed on there.

Here is the Minecraft version before any errors happened (1.16.2pre1): https://launcher.mojang.com/v1/objects/d4434bf4f2f0572a4eb54b3da1b1b3069a4e9ef2/server.jar

Here is the server jar where the errors start to occur (1.16.2pre2): https://launcher.mojang.com/v1/objects/d2cae287324631b2b4bfa609dd01c63cd6d

[2020-08-12 18:42] JasonFengJ9 opened #10379 "fillInStackTrace to omit all methods in the Throwable hierarchy"
Really, the correct thing to do would be to omit all methods in the Throwable hierarchy which have the exception object as the receiver (rather than checking for `<` explicitly).

_Originally posted by @gacholio in https://github.com/eclipse/openj9/pull/10364#issuecomment-672981693_

[2020-08-12 22:39] ChengJin01 commented on #10356
I reproduced the issue on `1.16.2pre2` (`1.16.2pre1` works fine with OpenJ9) with the latest nightly build on JDK11 with the following command to trigger dumps:
[code]
Looking at the java core:
[code]
against the system core in DDR:
[code]

Based on the investigation above, the NullPointerException issue with `hk.a(Lgm;Lvk;Ljava/lang/Object;)Ljava/lang/Object;` was triggered by a passed-in NULL va

[2020-08-13 00:55] JasonFengJ9 commented on #9018
This test [1] mainly is to verify that the `JNI_Onload` & `JNI_OnUnload` of a non-jni native library introduced in JDK15 are not invoked when the library is loaded/unloaded. This test has to be run as part of `java.base/jdk.internal.loader` package [2]. Technically this is a test for hotspot internals. The flag `jdk.internal.loader.NativeLibraries.isJNI` [3] is passed to JCL native but not passed

[2020-08-13 01:30] Thihup opened #10383 "Running a modular jar crashes the OpenJ9 if a service impl doesn't exists"
Java -version output
--------------------
openjdk version "14.0.2" 2020-07-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.2+12)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.21.0, JRE 14 Linux amd64-64-Bit Compressed References 20200715_149 (JIT enabled, AOT enabled)
OpenJ9   - 34cf4c075
OMR      - 113e54219
JCL      - 1d231bd6a2 based on jdk-14.0.2+12)

Summary of problem
--------------

[2020-08-13 01:56] gita-omr commented on #8671
I looked at the design document once again and I have the following comments:

1) I think it still mentions `-XX:zOSLargePagesObjectHeap=<pageable|nonpageable> `although it was decided to use `-XX:zOSLargePagesObjectHeapType=<type>`.
2) I5 (mapping of -Xlp) still refers to `-XX:+UseNonpageableLargePagesObjectHeap`.
3)  Are we sure -XX:+/-UsePageableLargePagesObjectHeap could not be used instead?

[2020-08-13 03:07] iczero commented on #10356
I believe it is an OpenJ9 issue. The affected code (mappings from FabricMC/yarn) is located within the static initializer (`<clinit>`) of `net.minecraft.util.registry.BuiltinRegistry`.

[code]

The OpenJ9 VM will run the static initializer for the `StructurePools` and `ChunkGeneratorSettings` classes due to the method references, but those classes depend on `BuiltinRegistry` to have already run it

[2020-08-13 03:59] sirinath commented on #10373
My issue is Graal VM EE outperforms OpenJ9 so there must be some room for improvements in terms of:
- VM overhead
- The efficiency of the JITed code

[2020-08-13 04:32] ChengJin01 commented on #10356
@iczero, considering the difference of triggering the static initialization in implementation between OpenJ9 and Hotspot,  I don't think we support the lazy static initialization in the existing code of OpenJ9.

The static initialization is triggered for the the specified class immediately if it has `<clinit>` in our code. If we have to match Hotspot's behaviour in such case, technically we might

[2020-08-13 05:55] sirinath commented on #10373
Also, it might be an idea to implement a C/C++ compiler and interpreter (like [Cling](https://github.com/root-project/cling)) using OMR so you have control over the VM compilation also to better optimise this code and efficiency.

[2020-08-13 14:11] fjeremic commented on #9331
That isn't something to be concerned about. The memory reference logic artificially bumps node reference counts to prevent nodes from getting decremented past 0. It is just warning us this is happening and this is quite frequent in pretty much all trace files.

[2020-08-13 14:11] fjeremic commented on #9331
@VermaSh any updates on this one?

[2020-08-13 14:17] ishland commented on #10356
It works just fine with the mod. But this is a temporary solution and fixes should be worked on.

[2020-08-13 14:25] JasonFengJ9 opened #10384 "PR build reports false pass result"
Failure link
------------

PR : https://github.com/eclipse/openj9/pull/10364
PR build (showing **pass** status) : https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.functional_x86-64_windows_Personal/10/
in which the actual build **failed** at https://ci.eclipse.org/openj9/job/Test_openjdk15_j9_sanity.functional_x86-64_windows_Personal_testList_0/10/

Optional info
-------------

Failure o