[2019-05-14 21:31] AdamBrousseau commented on #5637
No go yet, they all just launched at the same time

[2019-05-15 00:31] 15838028035 commented on #5750
hi, i have config openjdk8-openj9 as java_home
this eclipse.ini config file:

-startup
plugins/org.eclipse.equinox.launcher_1.3.100.v20150511-1540.jar
--launcher.library
plugins/org.eclipse.equinox.launcher.win32.win32.x86_64_1.1.300.v20150602-1417
-product
org.eclipse.epp.package.jee.product
--launcher.defaultAction
openFile
--launcher.XXMaxPermSize
256M
-showsplash
org.eclipse.platform
--launche

[2019-05-15 00:33] 15838028035 commented on #5749
okay ！ thanks

[2019-05-15 00:34] #5738 closed

[2019-05-15 00:35] #5725 closed

[2019-05-15 01:58] DanHeidinga commented on #5750
Can you add `-Xshareclasses -Xtune:virtualized -Xscmx60m` to the eclipse ini file?  These options enable OpenJ9's sharedclasses cache which enables AOT code to help improve startup speed,

[2019-05-15 02:21] 15838028035 opened #5763 "about jenkins problem"
hi ,i see the proeject use jenkins  as ci build.

is  the jenkins use docker run ?

[2019-05-15 02:33] pshipton commented on #5763
No it doesn't. However there are some docker files for the build and test environment here https://github.com/eclipse/openj9/tree/master/buildenv/jenkins/docker-slaves

[2019-05-15 02:49] DanHeidinga commented on #5707
@fengxue-IS Can we control this behaviour from OpenJ9 rather than OMR?  My assumption is we'd attempt to do the load as a `.dylib` and only if it fails, fall back to `.jnilib`.

Maybe by hacking the code in https://github.com/eclipse/openj9/blob/3ce824471411143746d7f749c5391a4c4e5a5c3c/runtime/vm/vmbootlib.c#L250-L252

[2019-05-15 11:45] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_xl_OpenJDK12/1

[2019-05-15 11:51] pshipton opened #5764 "Test_openjdk8_j9_extended.system_x86-64_windows SC_Softmx_JitAot_0 gpf"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/31
win2012r2-x86-2
16.jvm4.stderr
[code]

[2019-05-15 12:03] pshipton commented on #5764
@AdamBrousseau not sure if the `Unable to create shared memory of size 314572800` is normal for this test. Can you please check the disk space on win2012r2-x86-2

[2019-05-15 12:04] pshipton commented on #5764
Assign to gc for the first look. There is a core file.
@dmitripivkine

[2019-05-15 12:12] pshipton opened #5765 "Test_openjdk8_j9_sanity.functional_x86-64_linux failed no reason"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly/36
Not sure why this test has failure status
[code]

[2019-05-15 12:13] pshipton commented on #5765
@llxia @AdamBrousseau

[2019-05-15 12:27] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_OpenJDK11/4

[2019-05-15 12:42] AdamBrousseau commented on #5763
It doesn't currently. We are prototyping using the containers Pete linked above on a private Jenkins server in the hopes that we will use them for production soon.

[2019-05-15 12:44] 15838028035 commented on #5763
Okay! Thanks!

发自我的 iPhone

[2019-05-15 12:45] #5763 closed

[2019-05-15 12:47] AdamBrousseau commented on #5765
Not sure. The console output is missing a few lines at the end

[code]
vs
[code]
But other than that I can't tell why it was set tp failed. There are 519 `failed` hits but I don't see anything obvious.

[2019-05-15 12:56] AdamBrousseau commented on #5764
Nothing obvious, 29G available.

[2019-05-15 13:10] AdamBrousseau commented on #5637
Added another filter on the triggers. Hopefully solved now. Will keep an eye on it.

[2019-05-15 14:00] llxia commented on #5765
Sorry, I have never seen this before.

If I have to take a wild guess, I am thinking it may due to Artifactory upload failure. It is hard to tell since there is no error message, but I think we should simplify the logic to only upload if needed. In this case, `uploadToArtifactory()` should be invoked if the build result is `UNSTABLE`.

[2019-05-15 14:07] pshipton commented on #5637
@AdamBrousseau Suggest we launch a merge job during the day today, for one jdk version, in order to test.

[2019-05-15 14:47] dsouzai opened #5767 "Mark tests not suitable for AOT"
Now that it is possible to trigger AOT testing in PR tests (which is basically just running jobs twice with a SCC and `forceAOT`), tests that aren't suitable for AOT need to be marked as such. I'll update this issue as and when I find and mark these tests.

- [x] ~All the test building targets~ Even though the ForceAOT flag is set, this doesn't result in AOT being used because there is no SCC
- [x

[2019-05-15 14:51] dsouzai opened #5768 "Tests skipped in iter 1 run in iter 2"
When running PR builds with AOT, tests are invoked twice. However, I noticed that sometimes, if a test is skipped in the first iteration, it will still run in the second iteration, which is in incorrect (in the example below, the test runs in windows configuration even though it's running on xlinux).

[code]

snippet from https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_

[2019-05-15 14:51] dsouzai commented on #5768
fyi @renfeiw

[2019-05-15 14:59] pshipton commented on #5611
The MessageDigest native crypto has been disabled in the 0.14.2 release branches.
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/299
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/171

[2019-05-15 14:59] pshipton commented on #4530
The MessageDigest native crypto has been disabled in the 0.14.2 release branches.
ibmruntimes/openj9-openjdk-jdk8#299
ibmruntimes/openj9-openjdk-jdk11#171

[2019-05-15 15:00] llxia commented on #5765
re https://github.com/eclipse/openj9/issues/5765#issuecomment-492667397, https://github.com/AdoptOpenJDK/openjdk-tests/pull/1135 is delivered to invoke uploadToArtifactory() if needed.

[2019-05-15 15:02] pshipton opened #5769 "Disable openssl MessageDigest in the 0.14.2 release."
ibmruntimes/openj9-openjdk-jdk8#299
ibmruntimes/openj9-openjdk-jdk11#171

[2019-05-15 15:02] #5769 closed

[2019-05-15 15:14] a7ehuo commented on #5631
Remember seeing `"static attributes from client and cache do not match"` assert while running sanity test. It'd be good to use this issue to identify as many JITaaS related asserts in debug build while running sanity test as possible.

[2019-05-15 15:16] #5523 closed

[2019-05-15 15:19] renfeiw commented on #5768
Thanks for letting me know, I will look into it.

[2019-05-15 15:30] dmitry-ten commented on #5486
@a7ehuo can this be closed now?

[2019-05-15 15:34] pshipton commented on #5493
@keithc-ca can you please open a PR to fix this for the 0.14.2 release.

[2019-05-15 15:56] DanHeidinga commented on #5707
It seems odd to add to OMR a very java-specific sharedlibrary suffix like `.jnilib`.

It's reasonable for OpenJ9 to either pass in the library name or maybe to add a new API to OMR to register alternative sharedlibrary suffixes.

[2019-05-15 16:11] fengxue-IS commented on #5707
Will talk to OMR reviewer whether adding new API for alternative suffixes is feasible.

[2019-05-15 16:21] fjeremic commented on #4747
I don't think we had a fix for this. We thought it may be related to HPRs but it's definitely not as it continues to fail similarly on Z and Power.

[2019-05-15 16:26] keithc-ca commented on #5493
Done, see #5771.

[2019-05-15 16:42] llxia commented on #5741
We will investigate it.

[2019-05-15 16:43] andrew-m-leonard commented on #5637
@AdamBrousseau jdk8 openj9-staging has just updated to jdk8u222-b02

[2019-05-15 16:51] AdamBrousseau commented on #5637
Looks like we got a build triggered
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK8-Acceptance/7/
And no other builds triggered. I think this is resolved.

[2019-05-15 17:11] pshipton commented on #4747
Since PPC had been reported in this issue previously [1], re-opening seemed like the right thing to do.

[1] https://github.com/eclipse/openj9/issues/4747#issuecomment-465308116

[2019-05-15 17:42] pshipton opened #5775 "extended.system HCRLateAttachWorkload_0 Java 13 Unsupported class file major version 57"
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.system_ppc64le_linux_OpenJDK/1
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.system_x86-64_linux_xl_OpenJDK/1
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.system_x86-64_mac_OpenJDK/1
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.system_x86-64_linux_OpenJDK/1
https://ci.eclipse.org/ope

[2019-05-15 17:42] pshipton commented on #5775
@JasonFengJ9

[2019-05-15 17:48] sehirst opened #5776 "Include Vector Registers in S390 jdmpview"
Users may need to debug problems relating to vector registers, but DDR/jdmpview does not print them out. e.g.

[code]

[2019-05-15 17:50] #5765 closed

[2019-05-15 18:00] fjeremic commented on #5776
Related code seems to be [1], and the vectors are generated in [2].

[1] https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/elf/ELFS39064DumpReader.java#L63-L76
[2] https://elixir.bootlin.com/linux/latest/source/arch/s390/kernel/crash_dump.c#L381

[2019-05-15 18:22] andrew-m-leonard opened #5777 "Some pLinux build slaves gcc not correctly installed"
Some pLinux build slaves on ci.eclipse fail to build jdk-11.0.4+2 due to a gcc setup issue we believe:
Failing machine:
- ub16-ppcle-1
[code]

Works fine on this machine:
- ub16p8j96
[code]

[2019-05-15 18:25] andrew-m-leonard commented on #5777
@pshipton ^ @vsebe

[2019-05-15 18:39] gacholio commented on #5449
I have a suspicion that this is just a poorly-written test - it's looking for a random JIT frame and then trying to start a walk there, but it has ignored the ELS, which is one of the roots.

[2019-05-15 18:49] patilca commented on #5776
@klangman fyi

[2019-05-15 18:52] jdekonin commented on #5777
ub16-ppcle-[1-4] would have gcc installed via package manager.  ub16p8j9* machines have gcc7 compiled from source.

[2019-05-15 19:02] fvasco commented on #5739
JetBrains Support is not interested to investigate further.

[2019-05-15 19:30] pshipton commented on #5777
Strangely, they seem to have different behavior although they are the same version.

[2019-05-15 19:31] pshipton commented on #5777
What gcc is being installed via package manager, and why is it only available to the ub16-ppcle-[1-4] machines?

[2019-05-15 19:38] vsebe commented on #5777
gcc-7 package info:
[code]

g++-7 pachage info:

[code]

[2019-05-15 19:53] klangman commented on #5776
The same is true for POWER, not that we need to know what the vector registers are very often, but when you do there is no easy way to get at the registers.

[2019-05-15 20:01] pshipton commented on #5777
The problem being that gcc 7.3 can no longer be installed via the package manager because gcc 7.4 would be installed instead?

[2019-05-16 00:18] #5726 closed

[2019-05-16 03:03] a7ehuo commented on #5720
We can add `OPENSSL_CFLAGS`, `OPENSSL_LIBS`, and `OPENSSL_BUNDLE_LIB_PATH` to `CUSTOM_COMPILER_ENV_VARS` which can be picked up when building JIT. However. `--with-openssl=fetched` will not set `OPENSSL_LIBS`. `OPENSSL_LIBS` will only be set if -`-with-openssl=system` is specified. More details as below:
[code]
[code]
[code]

[2019-05-16 06:02] DanHeidinga commented on #5697
Closing now.  We can reopen the issue if it's confirmed to be an OpenJ9-issue rather than an upstream OpenJDK issue.

[2019-05-16 06:02] #5697 closed

[2019-05-16 09:28] andrew-m-leonard commented on #5777
@Peter Shipton so the issue seems to be with using gcc 7.4:
 configure: Using gcc C compiler version 7.4.0 [gcc-7 (Ubuntu 7.4.0-1ubuntu1~16.04~ppa1) 7.4.0]
the jspawnhelper.c hits an issue because it is not compiled with disable warnings for unused-result, it looks as though gcc 7.3 doesn't complain but 7.4 does....
OpenJDK only officially support 7.3.0, do we really support 7.4 ?

[2019-05-16 10:07] ShishirH opened #5781 "Add Ubuntu18 Dockerfiles for JDK11+"
Currently there are no Ubuntu18 Dockerfiles for JDK11 and 12 at `openj9/buildenv/docker/`.

Earlier, there was an OpenJDK issue that was preventing the Dockerfiles from building, but that has been [resolved for JDK12](https://bugs.openjdk.java.net/browse/JDK-8202794) and [backported for JDK11](https://bugs.openjdk.java.net/browse/JDK-8221919).

[2019-05-16 10:09] ShishirH commented on #5781
Due to the large number of Dockerfiles present, I was thinking that there could be a script that could take in the OS, the platform and the JDK version, and generate the Dockerfile based on that. Then you could probably replace all the Dockerfiles with the script.

Any thoughts about this @keithc-ca ?

[2019-05-16 11:40] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_xl_Nightly/35

[2019-05-16 12:09] 15838028035 opened #5782 "is should be a email notice for jenkins ci build"
hi, i see the project use jenkins,  use jenkins pipline,
when build failure,  has no email notice,

is there a demo ?

[2019-05-16 12:24] pshipton commented on #5777
OpenJ9 supports gcc 7.3 for xLinux and pLinux, but gcc 7.4 for zLinux https://www.eclipse.org/openj9/docs/openj9_support/

Note on pLinux, gcc 7.3 only "works" when compiled from source. When gcc 7.3 is installed via the package manager, it code fails to compile. The plan is to update all the OpenJ9 machines to have gcc installed via package manager, as we expect users to do the same.

[2019-05-16 12:43] pshipton commented on #5782
jenkins failures are posted to the OpenJ9 Slack in the #jenkins channel (https://openj9.slack.com/messages/C8QU16TDW). You might be able to get email from Slack.

To join the OpenJ9 Slack, see https://github.com/eclipse/openj9/blob/master/README.md or https://www.eclipse.org/openj9/

[2019-05-16 12:49] DanHeidinga commented on #5777
If it's a straightforward fix to ` jspawnhelper.c `, can you patch the file and upstream the change?

[2019-05-16 13:00] andrew-m-leonard commented on #5777
working on that now https://github.ibm.com/runtimes/openjdk-contribution/issues/836

[2019-05-16 13:52] chrisc66 commented on #5584
I am working on this issue

[2019-05-16 13:57] keithc-ca commented on #5781
There are a number of Dockerfiles for Ubuntu18, for jdk8 (e.g [1]), jdk9 and jdk10, but variants have not been created for jdk11 or newer. These are not to be confused by the ones used with Jenkins (e.g. [2]) which don't appear to include all the tools necessary to build a jdk.

I like your idea to replace the (incomplete) collection of Dockerfiles with some scripting that should make it easier to

[2019-05-16 14:14] fjeremic commented on #5781
@keithc-ca I thought we were going to deprecate [1] in favor of [2] since the latter has both build and test dependencies setup? I do recall us talking about that in another issue.

[2019-05-16 14:29] keithc-ca commented on #5781
I don't see freemarker in [2], for example, and so it can't be used (directly) to build.
We did have a discussion about _adding_ test dependencies to [1] a while back, but nothing has been done in that direction.

[2019-05-16 14:40] pshipton commented on #5781
Re [2], some platforms are designated as build and test, and some are test only. For example, on x86 the build platform is centos6. In order to deprecate [1], we'd have to update build capabilities for [2].

@AdamBrousseau @jdekonin fyi

[2019-05-16 14:41] fjeremic commented on #5781
If there are dependencies missing then that is likely a bug. According to #5276:

Looking at the README:
https://github.com/eclipse/openj9/tree/master/buildenv/jenkins/docker-slaves

It seems only S390 is configured for build and test currently. I suspect we just haven't gotten to the other platforms yet. Looking at the history it seems @AdamBrousseau @samuel-rubin and @cwesMills were the people w

[2019-05-16 14:47] AdamBrousseau commented on #5781
The Docker Files in [2] (docker-slaves) are setup for build (& test) only on the OS we build on (lowest glibc). The others are setup for test-only. There is no plan or intention to add build dependencies to OSs we don't build on in the farm.

[2019-05-16 14:58] jdekonin commented on #5777
@pshipton, what is it that is wanted on the current machine setup?  (A) gcc-7 (currently 7.4) installed via package manager, or (B) gcc-7.3 which will need to be compiled from source.

| Note on pLinux, gcc 7.3 only "works" when compiled from source. When gcc 7.3 is installed via the package manager, the code fails to compile.

Not entirely accurate. gcc-7.3 is no longer available through the stan

[2019-05-16 15:04] harryyu1994 commented on #4467
Looking into this. Will post a summary of the design here.

[2019-05-16 15:05] harryyu1994 commented on #4467
Will likely migrate things from https://github.com/eclipse/openj9/pull/5426/files and create a brand new PR.

[2019-05-16 15:43] pshipton commented on #5777
Ok, that is what I was wondering, if 7.3 could still be installed from the package manager. Violeta seemed to indicate it was possible. If we can't install 7.3 via the package manager, maybe we just leave the machines as-is, at least for now. That will give an intermittent indication of gcc 7.3 compile problems.

Already in progress, the code will be fixed so it can compile on whatever version.

T

[2019-05-16 16:18] ChengJin01 commented on #5058
I already fixed most of script/make file related issues in the cross-compilation.
[build.log.txt](https://github.com/eclipse/openj9/files/3187991/build.log.txt)
[configure.log.txt](https://github.com/eclipse/openj9/files/3187992/configure.log.txt)

and now need to double-check the validity check on the cross-toolchain to see whether it really matters in building the JDK as there seems to be a mism

[2019-05-16 16:24] ymanton commented on #5720
OK, it seems that in the `fetched` mode we (we = the OpenJ9 crypto lib) dynamically load `libcrypt` rather than linking to it. That explains why `OPENSSL_LIBS` is undefined.

For our purposes for building the JIT I guess we can check if `OPENSSL_LIBS` is defined and use it. If not defined, we can check that `OPENSSL_DIR` is defined and assume that it will contain the built libraries, so we can jus

[2019-05-16 16:47] mychris opened #5784 "JVMTI event JVMTI_EVENT_EXCEPTION generated multiple times for the same exception"
Java -version output
--------------------

[code]

[code]

[code]

Summary of problem
------------------

The JVMTI event `JVMTI_EVENT_EXCEPTION` is generated multiple times for a single exception. If a native method returns and an exception is currently pending, the JVMTI event is generated, even if it has already been generated.
The [JVMTI documentation](https://docs.oracle.com/javase/8/docs/pla

[2019-05-16 17:05] DanHeidinga commented on #5784
@fengxue-IS Can you take a look at this?

[2019-05-16 17:07] fengxue-IS commented on #5784
looking into this

[2019-05-16 17:11] mikezhang1234567890 commented on #5705
OpenJ9 sets the default locale based on the current environment, using LC_ALL, then LC_CTYPE, then LANG. We assume that LC_TYPE begins with a language code, and handle the special cases of `C` and `POSIX`. We forgot to handle the case when LC_CTYPE is `UTF-8` since that seems to be unique to OSX.  I will make a PR to handle the `UTF-8` case, though I don't know if there are other valid values for

[2019-05-16 17:13] mychris opened #5785 "No JVMTI event JVMTI_EVENT_EXCEPTION_CATCH generated, if exception caught in native code"
Java -version output
--------------------

[code]

[code]

[code]

Summary of problem
------------------

The JVMTI event `JVMTI_EVENT_EXCEPTION_CATCH` is not generated if the exception is caught in native code. The [JVMTI documentation](https://docs.oracle.com/javase/8/docs/platform/jvmti/jvmti.html#ExceptionCatch) indicates, that the event should be generated "as soon as control is returned to a

[2019-05-16 17:36] 0xdaryl opened #5786 "Purpose of the TR::monexitfence opcode?"
What is the purpose of the JIT's `TR::monexitfence` IL opcode?  I believe it is related to the live monitor metadata support.  Is it just a placeholder for use by the optimizer?  All of the backends simply return `NULL` when evaluating it.

Can someone shed some light on what this is for please?  @andrewcraik @cathyzhyi

(I'm not trying to get rid of it, just trying to understand :-) )

[2019-05-16 17:40] JasonFengJ9 commented on #5775
This is a test issue. `asm-7.0.jar` used by the test doesn't support `JDK13`.
[code]

[2019-05-16 17:58] pshipton commented on #5775
@Mesbah-Alam

[2019-05-16 18:23] Mesbah-Alam commented on #5775
System test prereqs should be using ASM v7.1 which likely has Java 13 bytecode support: https://asm.ow2.io/versions.html

[2019-05-16 18:50] pshipton commented on #1694
Closing, as the problem could not be reproduced and no diagnostic files were provided. If it still occurs on the latest, please provide more details, or the diagnostic files which are output from the crash.

[2019-05-16 18:50] #1694 closed

[2019-05-16 19:47] liqunl commented on #5371
Measured the performance of bestsofar build on a x86 linux perf box.
Below is the result, the lower the better. Notice that the numbers are from java8 builds, hotspot build is 1.8.0_151.

| benchmark | hotspot| baseline | bestsofar | baseline vs hotspot | bestsofar vs hotspot|
| ------------- | ------------- |------------- |------------- |------------- |------------- |
| closureTest| 41354.342  |1

[2019-05-16 19:54] hangshao0 commented on #5741
[code]

"addtestjithints" works on classes that can be found in the shared cache. I see in "TCK.initialize.cache", option "modified=mod1" is used. But in the second run that creates the core dump, option "modified=mod1" is not there. I believe removing "modified=mod1" should make this test case pass.

[2019-05-16 19:57] llxia commented on #5741
Thanks @hangshao0

Ran the test 100x after removing `modified=mod1` and all passed.

[2019-05-16 20:05] dchopra001 commented on #2668
#4743 and eclipse/omr#3571 introduce several changes in the fieldwatch area with respect to the JIT code generators. One of the main tasks was to make the implementation common across all the code generators and only implement platform specific routines where needed. I have outlined key points about the codegen design below:

### Where are the evaluators defined
Most of the read/write barrier eval

[2019-05-16 20:49] avermeer commented on #5371
Hello @liqunl ,

Thank you very much for this update.

Are these numbers obtained with the same build as the one provided by @fjeremic in issue #4837 ?

Or as these reproducible using the latest AdoptOpenJDK OpenJ9 nightly build (which I see is currently date 13th of May) ?

Any option used, such as the -Xjit:PropagateWithOutPeeking mentionned in #4837?

PS: our tests with the bench give results c

[2019-05-16 20:59] jdekonin opened #5791 "OSX 10.14 builds incompatible for 10.13"
Using the latest shas, when I build on 10.14 using clang 9.1, the resulting binary does not work on 10.13.  A binary built on the 10.13 system does work on the 10.14 system.

The error I get is
[code]

fyi @babsingh

[2019-05-17 13:17] #5741 closed

[2019-05-17 13:51] liqunl commented on #5371
Hi @avermeer
These numbers are from a different build with a few new changes that we haven't pushed to bestsofar yet. We'll get those changes to bestsofar once they're in a better shape.

The numbers are not reproducible using the latest AdoptOpenJDK OpenJ9 nightly build. We're in the progress of delivering the changes we have developed so far.

No option is used. However, we'll deliver the featur

[2019-05-17 14:53] pdbain-ibm commented on #5533
@AntonKatilin
I have a prototype JDK which should help.  You can download it at https://ibm.box.com/s/wbxgee1a3g85j69kbzyeo4astwukv0bs

This can attach to legacy VMs if they are running in the same session. VMs running the above JDK can attach across sessions (but only to the same user). The attacher and target must have the same values for %TEMP% and %TMP%.

Could you test it and let me know the

[2019-05-17 15:46] AdamBrousseau commented on #2728
This is delivered and setup as default. The remaining task is #4443.

[2019-05-17 15:46] #2728 closed

[2019-05-17 16:39] andrewcraik commented on #5786
Yes so the idea of a monexitfence is that we need to keep track of which objects a program has locked over a given range from a semantic perspective. This is required because there is a ThreadMXBean API and a non-debug JVMTI API where the user can query for the set of monitors held by a given thread. The JIT is required to preserve the mutual exclusion intent of the programmer when optimizing the

[2019-05-17 16:51] gita-omr commented on #2668
@dchopra001 thanks for the great description. I think it would be good to list the methods that need to be overriden by platforms.

Also, do you mean that dwrtbar* and fwrtbar* evaluators are completely platform specific and don't use any of the common code that you wrote?

[2019-05-17 17:00] dchopra001 commented on #2668
Each platform requires its own implementation of the following methods:
[code]

[code]
(Once the Pull Request is merged I'll come back and edit these comments to provide links in the codebase for any code I am referencing).

Sorry I explained this incorrectly. The layout for these two evaluators is _similar_ to the ones in the common codegen. So they use the fieldwatch helper routine in the common

[2019-05-17 17:17] gita-omr commented on #2668
Oh, my fault: you did list the platform specific methods already!

[2019-05-17 17:23] dchopra001 commented on #2668
I missed one routine (`generateReportFieldAccessOutlinedInstructions`). I have updated the comment.

[2019-05-17 17:38] fengxue-IS commented on #5707
On second though, this would be more straight forward to implement in OpenJ9 by removing the decorate flag and pre-expending the full name of the library.

[2019-05-17 17:43] fengxue-IS commented on #5784
initial investigation:
The first 5 calls to exception if due to exception event check when exiting JNI code, the last one was raised from AttachAPI thread with a different exception object (not sure how that is produced at the moment).

[2019-05-17 17:46] pshipton opened #5796 "user.timezone system property can be null in JDK12+"
There was a change to JDK12 to allow the user.timezone system property to be null, however OpenJ9 is still setting the value to empty string.

https://github.com/eclipse/openj9/blob/c3018fa8cc0d3514a3cc28109b15724251296849/runtime/jcl/unix/syshelp.c#L219
https://github.com/eclipse/openj9/blob/c3018fa8cc0d3514a3cc28109b15724251296849/runtime/jcl/win32/syshelp.c#L165

https://www.oracle.com/technetw

[2019-05-17 18:12] DanHeidinga commented on #5782
The OpenJ9 jenkins is to support our build and test infrastructure such as pull request builds, nightly builds, etc.

The place to get OpenJ9 binaries is from AdoptOpenJDK.
For Java 8, this would be a https://adoptopenjdk.net/?variant=openjdk8&jvmVariant=openj9

[2019-05-17 18:12] #5782 closed

[2019-05-17 18:13] DanHeidinga commented on #5785
@fengxue-IS Since you're already looking at #5784, can you pick this up as well?

[2019-05-17 18:14] fengxue-IS commented on #5785
will do

[2019-05-17 18:14] caohaley commented on #5631
I ran the following tests independently and have not seen any failed asserts:
_jit_jitt_0
_jit_jitt_1
_jit_jitt_2
_jit_jitt_3
_jit_jar_0
_jit_ra_0
_jit_vich_0
I am going to run _sanity now.

[2019-05-17 18:21] pshipton commented on #5791
Makes sense. Similar problems occur on Linux as well. i.e. you can't build on Ubuntu 16 and run the resulting JVM on CentOS 6.

[2019-05-17 18:51] babsingh commented on #5791
OpenJ9 built on OSX 10.14 should work till OSX 10.9 because the build scripts set `MACOSX_DEPLOYMENT_TARGET` (env. variable to 10.9). In summary, **XCode 9** may be incompatible on **OSX 10.14**. Below are the specific details for the above issue.

[code]

**72 errors** similar to the above two sample errors are seen when building OpenJ9 JDK11 on OSX with **XCode 9**: [linker_errors_osx_1014.log](

[2019-05-17 19:33] gita-omr commented on #2668
It's cosmetic, but I think it would be helpful if all three platform specific routines started with name 'generate.." This way it's easier to see which ones are common and which are platform specific.

[2019-05-17 20:01] carlod opened #5802 "Adding new class variables causes NoSuchField or NoSuchMethod exceptions"
Dynamically adding new class variables to either an existing or new class, while OpenJ9 VM is running, causes the VM to start throwing NoSuchMethod errors when you try and access the getter or setter of the new variable. If you try and access the class variable directly you get NoSuchFieldError errors.  Using hot reload to adding new classes and methods works fine, however.

openjdk version "1.8.0

[2019-05-17 20:03] simonameng opened #5803 "Assertion Failed when running gdb"
during running the gdb with command:
`
gdb --args ./bin/java '-Xjit:count=0,{sun/misc/Launcher$ExtClassLoader.getExtDirs()[Ljava/io/File;}(tracefull,log=all.trace,breakOnCompile),version' -version
`

the assertion failed message occurs when trying to perform the following step:
[code]
(adding two pointers and delete them, then continue)

following is the detailed message shown:
[code]

[2019-05-17 20:07] DanHeidinga commented on #5802
Thanks for reporting this issue @carlod.  Do you have a simple test case we can use to reproduce the issue?

I'm not sure adding variables is supported - I'll need to double check the spec and the hot code extensions we support

[2019-05-17 20:21] gita-omr commented on #2668
Could we add a link to the design that describes various shapes of the rdbar and wrtbar trees? It's a bit hard to follow the code without knowing the shape. For example, static wrtbar seems to be different from others. Also, is sideEffect child always the last child?

[2019-05-17 20:28] dchopra001 commented on #2668
The design of the IL is here: https://github.com/eclipse/omr/issues/2812#issue-345782313 and the corresponding pull request to introduce the OpCodes here: https://github.com/eclipse/omr/pull/2875

[2019-05-17 21:18] carlod commented on #5802
Hi Dan, this can be created following the steps below:

1. Start the server
2. Create a new class called Test
3. Add a public class variable called data and generate getters and setters for it
4. Access the new class variable from another class:
[code]
5. NoSuchMethod exception occurs.

6. Access the public class variable directly
[code]
7. NoMuchField exception occurs.

[2019-05-17 21:26] pshipton commented on #5803
@fjeremic

[2019-05-17 22:02] pshipton commented on #5739
`-Xdump:stack:events=allocation,filter=#750m` just shows the same stacktrace in the description.
The problem still occurs with `-Xint` and with `-XX:+PositiveIdentityHash`

[2019-05-17 22:54] gita-omr commented on #2668
@AlenBadel : fyi (unless you already know it) - we cannot rely anymore on the fact that sideEffect child of *wrdbar (direct write) is an indirect load from J9Class and get it by doing node->getSecondChild()->getFristChild().

Other platforms now load J9Class from the sideEffectNode (second child). For example on z:

generateRXInstruction(cg, TR::InstOpCode::getLoadOpCode(), node, fieldClassReg, ge

[2019-05-20 08:15] 15838028035 opened #5807 "how the openj9.svg do you generte it ?"
hi , from readme.md  , i see openj9.svg

how the openj9.svg do you generate it ?

[2019-05-20 08:29] adamfarley commented on #4559
@pshipton @AdamBrousseau - We're seeing this symptom on sles12x64rt1-1. Could it be connected?

https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Personal/78/consoleText

[2019-05-20 13:47] pshipton commented on #4559
It does look related, although we've never figured out why this problem occurs on some machines.
[code]

[2019-05-20 14:11] #5796 closed

[2019-05-20 14:15] pshipton commented on #5807
I don't recall what program was used, maybe Dan will. Googling, Inkscape can create .svg files.

[2019-05-20 14:25] DanHeidinga commented on #5807
Those are the original OpenJ9 logos Ron created or had someone create.

Sorry, not sure what program was used to do it.

[2019-05-20 14:25] #5807 closed

[2019-05-20 14:27] pshipton opened #5808 "travis builds failing configure checking for X11/extensions/Xrandr.h"
[code]

I suspect they stopped working when we merged in the openjdk 11.0.4+3 changes.

[2019-05-21 01:48] JasonFengJ9 commented on #4681
Another occurrence: https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_ppc64le_linux_Nightly/37/tapResults/. This is `MauveMultiThreadLoadTest_OpenJ9_0`.
fyi: @Mesbah-Alam

[2019-05-21 01:52] JasonFengJ9 commented on #4426
Occurred at `JDK12` as well, https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.functional_s390x_linux_Nightly/36/tapResults/.

[2019-05-21 04:09] pshipton commented on #5808
Fixed by #5812

[2019-05-21 04:09] #5808 closed

[2019-05-21 04:13] pshipton commented on #4681
I also opened https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/263 for the above.

[2019-05-21 04:15] pshipton commented on #4426
The problem happens occasionally, I've stopped recording the failures.

[2019-05-21 04:55] ChengJin01 commented on #5058
Comparison the configuration log in OMR and in OpenJDK indicates the `sysroot `path didn't get picked up when validating the cross-compiler on the OMR side:
[code]
against the config.log in OpenJDK
[code]
Will further investigate to figure out how to fix the issue.

[2019-05-21 08:21] mpirvu commented on #5584
`classFlags` are different than `classDepthAndFlags`. See the following definitions

[code]

Individual flags
[code]

Some of these fields can be changed at runtime while others (like `J9ClassIsAnonymous`) cannot.
The JIT uses classFlags for `J9ClassReservableLockWordInit` (in two places) and more generic in `simplifyJ9ClassFlags()`. In the latter case the value of the flags is baked into the jitt

[2019-05-21 08:48] AntonKatilin commented on #5533
Unfortunately I have troubles with the download. I'm not part of IBM, so the only option for me to login is to use a google account.  For my address I get "Your Google account is not linked to a Box account..." On attempt to create a free Box Business trial account I am asked to provide credit card or bank account detail.
Is there a way to download the test JVM via a publicly available link?

[2019-05-21 12:39] pdbain-ibm commented on #5533
@AntonKatilin Sorry about that.  Please try https://drive.google.com/file/d/1UbT6BPkUBIkljLDWclv7a22_9rM2AugJ/view?usp=sharing

[2019-05-21 13:59] pdbain-ibm opened #5815 "jstack requires java.management in target VM"
Rework the attach API target code not to require modules other than `java.base`.

Original implementation is https://github.com/eclipse/openj9/pull/5150.

[2019-05-21 14:15] caohaley commented on #5631
Ran the make_sanity test as a whole and came across to the following assert on server side. The asserts occurred one by one as I commented them out in the following order and reran the debug test. @ymanton should we investigate into the asserts and which asserts shall we comment out?

[code]
[code]
[code]
[code]
Still in the process of running the test after the last assert mentioned.

[2019-05-21 14:30] mpirvu commented on #5631
I think that the first two asserts (and possibly the last one) are indicative of existing bugs. Thus the asserts should not be eliminated.

[2019-05-21 14:36] JasonFengJ9 commented on #5399
Will pick up this.

[2019-05-21 15:07] kobinau commented on #5203
@jdekonin

[2019-05-21 15:25] AntonKatilin commented on #5533
I confirm the prototype JDK solves the problem. Thank you very much for the fix.

The fix currently targets "Release 0.15 (Java 8, 11, 12) July refresh". Just curious, do you have any plans to backport it e.g. to 14.0.2? A backport is not critical for us at all, I just wanted to know.

[2019-05-21 15:31] Mesbah-Alam commented on #4681
The failing subtest will be permanently disabled: https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/265

[2019-05-21 16:09] hangshao0 commented on #5665
@sogutbera find out that the class name is actually `HostClassName$$Lambda$<number>/0xromaddress`, and the part `<number>` can also be different from run to run.

[2019-05-21 16:28] dmitripivkine commented on #5764
Looks like crash occur at attempt to scavenge object at `0xffe5f3a0` concurrently. However this memory contains zeros:
[code]
This pointer has been discovered at `0x1de41c8`, this is an address in java stack for `!j9vmthread 0x01de4300`. Unfortunately this is not a safe point so I can not get stack slots in `jdmpview`.
There is thread info from javacore:
[code]
Methods in java stack are compiled.

[2019-05-21 18:09] chrisc66 commented on #5584
Hey @mpirvu, from the tests and stack trace results that @dmitry-ten and I ran:
* function `TreeEvaluator::VMnewEvaluator` calls `ClassEnv::classFlagsValue` 715 times
* function `J9VMBase::initializeClazzFlagsMonitorFields` calls `ClassEnv::classFlagsValue` 3 times

All functions are only reading `J9ClassReservableLockWordInit` flag inside `classFlagsValue`, and we believe that this flag is not ch

[2019-05-21 18:22] pshipton opened #5822 "Java 13, deprecate -Xverify:none and -noverify"
The following OpenJDK Java 13 change in the release notes http://jdk.java.net/13/release-notes

Deprecated Java Options -Xverify:none and -noverify (JDK-8214719)
hotspot/runtime

The Java options -Xverify:none and -noverify have been deprecated in this release. The options will continue to work as intended in this release but will generate the following warning when used:

`warning: Options -Xveri

[2019-05-21 18:22] pshipton commented on #5822
@DanHeidinga

[2019-05-21 18:28] mpirvu commented on #5584
I agree that `J9ClassReservableLockWordInit` flag does not change. However, to avoid cases where in the future the optimizer could test other flags that could change I am in favor of creating a query just for this flag.

[2019-05-21 19:00] charliegracie opened #5823 "Remove `-Xgc:verboseFormat=deprecated`"
This option was added in Java 7 GA as a deprecated option to revert the verbose:gc output to the previous format. This option should have been removed in Java 8 GA but it was missed. This option keeps a lot of legacy code around that slows down OpenJ9 startup even when the option is not used. I would like to remove the option and all of the code related to it.

[2019-05-21 19:02] chrisc66 commented on #5584
Thanks, I am working on this right now.

[2019-05-21 19:02] AlenBadel commented on #2668
In reaction to https://github.com/eclipse/openj9/issues/2668#issuecomment-493212820

There are a few additional changes required to make this implementation sane for use on Power:

1. Power does not have the ability of direct addressing, rather it uses relative addressing. Power uses a pseudo table of contents (pTOC), which is a buffer that stores addresses and constants for quick access. If the p

[2019-05-21 19:06] charliegracie opened #5825 "Remove support for `-Xgc:splitheap`"
This option was originally added to allow 32 bit JVMs on Windows to get a slightly larger heap by dividing the heap in 2. I do not believe any one is still using this option and it has been deprecated since Java 7 or Java 8. Removing this functionality will greatly reduce complexity around startup of the heap.

[2019-05-21 19:12] gacholio commented on #2668
AOT support is less important, as this is only applicable to FSD mode, which I think rarely makes it into the cache.

[2019-05-21 19:37] pshipton commented on #5825
Not deprecated in Java 7
https://www.ibm.com/support/knowledgecenter/SSYKE2_7.0.0/com.ibm.java.win.70.doc/diag/appendixes/cmdline/xgcsplitheap.html

Listed as deprecated in Java 8
https://www.eclipse.org/openj9/docs/xgcsplitheap/

[2019-05-21 19:40] kimec commented on #5651
@DanHeidinga I smell some clever use of the module system as hinted in @mstoodle's Testarossa slides from 2016.  Dream come true, maybe?

[2019-05-21 19:50] dchopra001 commented on #2668
Based on https://github.com/eclipse/openj9/issues/2668#issuecomment-494517069, it'd be good to add a codegen query that creates and returns a `J9Watched(Instance/Static)FieldSnippet`. On X and Z we will have something like this:

[code]

And on Power we would have:
[code]

[2019-05-21 19:50] charliegracie commented on #5825
Ok so it was deprecated in Java 8 GA? 2 releases is Java 8 SR2 and currently we are on SR 5 FP... so it can be removed?

[2019-05-21 19:51] pshipton commented on #5823
The option is not actually deprecated.

https://www.ibm.com/support/knowledgecenter/SSYKE2_7.0.0/com.ibm.java.lnx.70.doc/diag/appendixes/cmdline/xgc.html

https://www.eclipse.org/openj9/docs/xgc/#verboseformat

[2019-05-21 19:51] charliegracie commented on #5825
Also it should have been deprecated in Java 7 since I asked for it to be removed in Java 7 and was told no it could only be deprecated.....

[2019-05-21 19:54] charliegracie commented on #5823
The name of the option implicitly states that it is deprecated

[2019-05-21 19:54] dnakamura commented on #90
Status update:
Just polishing off a large PR which significantly refactors the way cmake handles ddr, will open the PR before end of day.  (largely a matter of isolating the changes from my current dev tree).

My current monolthic working tree can now successfully run a full `make all` on the openjdk extensions as well as test matterial  /w`configure --enable-ddr`

Looking at making sanity tests p

[2019-05-21 19:57] pshipton commented on #5825
Technically it can only be removed in Java 11 and later. Although if you are correct that nobody is using it, then it won't matter.

[2019-05-21 19:59] pshipton commented on #5823
I don't read it that way, but just commenting, not trying to block removal of the option.

[2019-05-21 20:03] pshipton commented on #5533
Unfortunately this fix missed the 0.14.2 release, which has been finalized and is building (for jdk8) at AdoptOpenJDK now.

[2019-05-21 20:04] pshipton commented on #5533
Although there are no plans, if for some reason there is another 0.14.x release, this fix would be considered.

[2019-05-21 20:05] gita-omr commented on #2668
Yes, if we use dynamic polymorphism. Do you think it's worth trying implementing it via extensible classes?

[2019-05-21 20:12] dchopra001 commented on #2668
IMO it's not worth it as I don't see much of a benefit for fieldwatch snippets. Dynamic polymorphism is probably the best solution.

[2019-05-21 20:14] gita-omr commented on #2668
Yeah, I agree, just wanted to confirm. Thanks!

[2019-05-21 20:22] fengxue-IS commented on #5784
Update:
This is behaviour is due to not clearing the Exception flag in the VM until the exception have been caught. For pure java programs, this would be fine since we directly propagate exception down the stack until an exception handler is reached. With JNI native calls, this would force to directly go back to native code which once exited, will redo the check for unhandled exceptions creating m

[2019-05-21 21:18] fjeremic commented on #2668
Why does the snippet need to know anything about patching? Isn't this the job of the code generator to create the proper relocations [1] so that the relocation logic can patch whatever instructions you end up generating?

Can you give examples of what instructions you would actually emit for pTOC vs. materialization of the address? Where in the code do we do this? I'd like to further understand th

[2019-05-21 21:30] fjeremic commented on #90
@dnakamura FYI I just completed full migration of OMR build/configure/test to CMake in https://github.com/eclipse/omr/pull/3693. I have DDR disable at the moment in the pipeline file (search of `-DOMR_DDR=0`). I hope my changes play nice with yours!

[2019-05-21 21:31] chrisc66 commented on #5584
Added the function that query only `J9ClassReservableLockWordInit` flag, but some other problem pops up.

At some point during runtime, remote call shows that the entire struct `classFlagsValue = 0` , while the cached version `classFlagsValue` is valid. GDB output shows below:

[code]

This happens quite frequent, likely more than once every five compilation. From my understanding, this function i

[2019-05-21 21:56] gita-omr commented on #2668
@fjeremic you are right, in general it probably would be a nicer solution. But it's not how currently similar situations are handled on Power. For example, we don't have a pseudo instruction like that. The best way to understand it is to take a look at our fconstEvaluator (in OMR). Essentially, the snippet controls everything. We might change this in the future but definitely not for this feature.

[2019-05-21 23:27] 0xdaryl commented on #5455
Field watch #2668

[2019-05-22 01:03] fjeremic commented on #5822
Interesting as it makes migration to OpenJ9 smoother.

[2019-05-22 04:38] karmakaze commented on #5739
I've tried mixing jars between Idea Community 2018.3.6 and 2019.1.1 and found that the OutOfMemoryError occurs with the 2019.1.1 versions of the `extensions.jar` and `util.jar`. Mismatching versions of these two jars results in a different missing extension point error.

The command-line I tried was pieced together from the idea.bat on Windows10 (64-bit).

Working 2018.3.6 version (using trove4j.j

[2019-05-22 08:47] mpirvu commented on #5584
I don't understand the scenario you described.
Does this behavior happen for the RAMClass of the method being compiled?
Does it always happen for some classes, but not for others?

[2019-05-22 13:27] DanHeidinga opened #5831 "Enable -Xshareclasses by default"
We've previously tried this and been blocked due to a performance regression related to the iprofiler data not being collected when using AOT from the SCC - see https://github.com/eclipse/openj9/issues/4205

Previous attempt: #1646

Background: #3333

This needs to be resolved so we can re-enable SCC by default

[2019-05-22 13:27] DanHeidinga commented on #5831
fyi @hangshao0 @pshipton

[2019-05-22 13:43] fjeremic commented on #5739
@pshipton can we bump the priority to get this one investigated? Seems quite a few users are interested.

[2019-05-22 14:37] pshipton commented on #4436
Closing since there are no diagnostics.

[2019-05-22 14:37] #4436 closed

[2019-05-22 14:42] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_xl_Nightly/41

[2019-05-22 14:50] pshipton opened #5832 "extended.system JIT crash running HCRLateAttachWorkload_0"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_ppc64le_linux_Nightly/40
`Type=Illegal instruction vmState=0x00000000`
`Compiled_method=com/ibm/jit/JITHelpers.putCharInArrayByIndex(Ljava/lang/Object;IC)V`

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64le_linux_Nightly/42
`Type=Segmentation error vmState=0x00050080`
`Method_being_compiled=java/lang/Stri

[2019-05-22 14:50] pshipton commented on #5832
@andrewcraik @fjeremic @gita-omr

[2019-05-22 14:52] pshipton opened #5833 "NullPointerException running javac"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly/43
[code]

[2019-05-22 14:52] dmitry-ten commented on #5650
I looked at all of the places where `J9AccClassHotSwappedOut` is set, and they all are related to HCR, so I think Marius is right that we should be able to safely use the cached result.

I also ran a bunch of sanity tests that use HCR and jvmti, and noticed that in all of these tests, the `classHasBeenReplaced` always returns false. This seems to confirm that setting the flag always results in com

[2019-05-22 15:29] fjeremic commented on #5832
@andrewcraik could these be possible related to RAT changes that landed yesterday?

[2019-05-22 15:35] fengxue-IS commented on #3611
initial OMR port library change merged, will work on the OpenJ9 side to add an `-X` cmdline option for controlling THP behaviour under `madvise`.

[2019-05-22 15:36] Mesbah-Alam commented on #5775
This issue should be fixed now since we have upgraded ASM to 7.1 https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/261

[2019-05-22 15:48] andrewcraik commented on #5832
@fjeremic If you had asked me without any context I would say not likely since all the change does is defer clean up of assumptions from the RAT - the assumption is marked dead and not looked at once fired. That being said it is possible there is some kind of issue still. There is an env var in my change `TR_forceAggressiveRATCleaning` which if set to 1 will restore the previous mode of cleanup. P

[2019-05-22 16:05] mstoodle opened #5836 "Explore supporting OMR JitBuilder API from OpenJ9 JIT"
I have been working on a side project to enable the internal JVM as well as Java applications (under proper security permission) to be able to generate native code directly into the JIT code cache using the OMR JitBuilder API. That should include, at some point, the ability for the JIT to inject such code sequences (as IL) into Java method compiles (and vice versa).

There are a host of obstacles

[2019-05-22 16:18] fjeremic commented on #5836
@Leonardo2718 FYI this will help with enabling Tril on OpenJ9.

[2019-05-22 17:10] fjeremic commented on #5832
The issue is between 83e41afd and 653324d. I've confirmed via internal grinders (2404 and 2406). The compare https://github.com/eclipse/openj9/compare/83e41afd...653324d shows only a handful of commits. The OMR SHAs are identical so it's only those commits which could have caused the issues.

The most likely suspects there are from @DanHeidinga and @andrewcraik. I'm still trying to get a Grinder o

[2019-05-22 17:57] dchopra001 commented on #2668
I have renamed `readWriteBarrierHelperForFieldWatch` to `generateTestAndReportFieldWatchInstructions` to more accurately represent what the routine is supposed to do, as well as to keep the naming consistent.

[2019-05-22 18:15] ChengJin01 commented on #5058
Investigation shows the misleading checks on the cross-compiler was automatically generated via the following macros in the configure script by `autoconf `:
/omr/configure.ac
[code]
, which is meaningless in our case as all these set-ups on checks are already done previously via the configuration in OpenJDK and the cross-compilers work well during the later compilation.
So the macros should be ign

[2019-05-22 18:26] ChengJin01 commented on #5058
After uploading the compiled build to the Fedora-riscv/QEMU, it failed with the following errors when running with `java - version` and crashed some where after that.

snippet of snaptrace (e.g.)
[code]
against comparing to the trace on X86/AMD64
[code]

Looking at the code at callin as follows:
[code]
The failure above indicates the code in `c_cInterpreter(currentThread)` was missing on RISC-V.

[2019-05-22 18:32] fjeremic commented on #5832
@andrewcraik the issue seems to be with the RAT change in #5826. I've confirmed via internal grinders:

Grinder 2404 against 83e41af: 0 / 10 failures
Grinder 2406 against 653324d: 3 / 10 failures
Grinder 2408 against 653324d: 0 / 10 failures (with `export TR_forceAggressiveRATCleaning=1`)

[2019-05-22 18:40] fengxue-IS commented on #5784
Test result from personal build:
[code]

[2019-05-22 18:47] pshipton commented on #5832
I'm going to revert #5826.

[2019-05-22 18:50] pshipton commented on #5832
Thanks @fjeremic for tracking this down.

[2019-05-22 18:55] #5832 closed

[2019-05-22 18:56] andrewcraik commented on #5832
Ok the 3/10 would be why it didn't show up in the testing I did do - thanks for finding the cause.

[2019-05-22 19:33] caohaley opened #5841 "attribute mismatch asserts in j9methodServer.cpp in debug build"
The following asserts comes up with JITaaS debug build, regarding to mismatched client and cache data.  The second asserts comes up when the first assert is commented out and reran. May be indicative of existing bugs:

[code]
[code]

[2019-05-22 19:35] caohaley commented on #5841
@ymanton  @mpirvu could you add the ```JitaaS``` tag to this? Is this issue okay or should I make some changes to the wording of anything?

[2019-05-22 19:36] caohaley commented on #5631
Okay! I will make 2 issues, one for investigating into the j9methodServer.cpp file and one for ClassUnloadAssumption.cpp file.

[2019-05-22 19:44] caohaley opened #5843 "Asserts relating to range in ClassUnloadAssumption.cpp in debug build"
This assert comes up eventually after you comment out the other asserts before it (the asserts in issue #5841 and the asserts mentions in issue #5631 ):

[code]
May be indicative of existing bugs.

[2019-05-22 19:45] caohaley commented on #5843
@ymanton @mpirvu  could you add the JitaaS tag to this?

[2019-05-22 19:47] caohaley commented on #5631
I am currently looking into why and where the dominant class does not match for client and server for the assert:
[code]

[2019-05-22 19:52] dmitry-ten commented on #5841
Since I worked on this code, I'll look into it. Does it fail consistently for a particular test?

[2019-05-22 21:19] carlod commented on #5802
Any update on this @DanHeidinga ?

[2019-05-22 23:58] 15838028035 commented on #5807
close

[2019-05-23 00:00] JasonFengJ9 commented on #5802
Will have a look.
@carlod do you have a standalone testcase to share such that it might save us some time to build one?

[2019-05-23 00:28] #5533 closed

[2019-05-23 00:51] 15838028035 opened #5847 "there is not find jvisilue.exe in bin"
there is not find jvisilue.exe in bin

[2019-05-23 01:26] #5784 closed

[2019-05-23 01:31] pshipton commented on #5847
Do you mean jvisualvm? OpenJ9 does not support this. For Hotspot see https://github.com/AdoptOpenJDK/openjdk-build/issues/656

[2019-05-23 01:34] pshipton opened #5848 "BytecodeInterpreter crash running travis build"
https://travis-ci.org/eclipse/openj9/jobs/535989263
[code]

[2019-05-23 01:34] pshipton commented on #5848
@DanHeidinga @gacholio
No diagnostics, just fyi. I'll be watching for other occurrences.

[2019-05-23 04:34] 15838028035 commented on #5847
Yes !

发自我的 iPhone

[2019-05-23 08:33] ShishirH commented on #5374
@DanHeidinga If the heuristics are implemented, that would ideally remove the need for a CompactOnGc option. Do we need another option for freeing pages? Or will bunding `glocal_gc + compact + free_pages` together in one IdleTuningGcOnIdle option be fine?

@amicic May I know if your team is working on the heuristics?

[2019-05-23 10:31] 15838028035 opened #5851 "jdk1.8 run gcc4.92 problem"
Hi, i use centos 7
 have install gcc 4.9.2

config java_HOME jdk1.8

run ./java -version

no  message print out ,  jdk1.8 can run gcc4.9.2 ?

[2019-05-23 11:14] #5847 closed

[2019-05-23 11:17] pshipton commented on #5851
Did you build OpenJ9 yourself? gcc isn't required at runtime if you download a binary from AdoptOpenJDK.net

If you are building yourself, the minimum gcc required is 7.3 https://www.eclipse.org/openj9/docs/openj9_support/

[2019-05-23 11:20] 15838028035 commented on #5851
no,     i only want to run java on centons7 ,  i install gcc4.9.2

about 14 days , i find  run ./java --version   no message print

[2019-05-23 11:21] 15838028035 commented on #5851
![图片](https://user-images.githubusercontent.com/12193885/58248853-d642ad00-7d8f-11e9-99df-3235a59130a2.png)

no message print , what should i do next ?

[2019-05-23 11:24] #5749 closed

[2019-05-23 11:25] 15838028035 commented on #5750
thanks !

[2019-05-23 11:27] pshipton commented on #5851
Try
`java -verbose:init`
or
`java -Xtrace:iprint=j9vm`

[2019-05-23 11:30] pshipton commented on #5851
What exactly did you download? I can try it on CentOS 7 myself.

[2019-05-23 11:35] 15838028035 commented on #5851
okay ! thanks !

[2019-05-23 11:37] 15838028035 commented on #5851
on my one host ,  i install a gcc 4.9.2 ,
run java --version  no message print

[2019-05-23 11:37] 15838028035 commented on #5851
![图片](https://user-images.githubusercontent.com/12193885/58249734-3cc8ca80-7d92-11e9-9fca-2c4dd34899ce.png)

[2019-05-23 11:43] pshipton commented on #5851
What is the result of the following?
`uname -a`
`ldd bin/java`

[2019-05-23 11:48] 15838028035 commented on #5851
libjli.so => not found
  is this ?

[2019-05-23 12:03] 15838028035 commented on #5851
![图片](https://user-images.githubusercontent.com/12193885/58250692-97632600-7d94-11e9-8eef-bbdf5359de89.png)

[2019-05-23 12:31] pshipton commented on #5851
it should be found in `lib/amd64/jli/libjli.so` when java is in `bin`

[2019-05-23 12:34] pshipton commented on #5851
I don't think the java you are running is the OpenJ9 version.

[2019-05-23 12:37] 15838028035 commented on #5851
i run openjkd8 , not openj9

[2019-05-23 12:43] 15838028035 commented on #5851
root user run okey

a simple user user1 run java no message print

[2019-05-23 13:01] DanHeidinga commented on #5851
If there are issues running OpenJ9 we can help resolve them.  We can't help resolve issues with Hotspot based builds.

[2019-05-23 13:03] 15838028035 commented on #5851
okat! Thanks

发自我的 iPhone

[2019-05-23 13:21] DanHeidinga commented on #5851
Thanks.  Closing for now but please comment / reopen if this occurs on openj9

[2019-05-23 13:21] #5851 closed

[2019-05-23 13:29] DanHeidinga commented on #5651
@charliegracie You had mentioned some analysis of this workload.  Can you share it here?

[2019-05-23 14:01] amicic commented on #5374
@ShishirH Yes, I believe we'll have someone start soon. We should be able to introduce the heuristic, and and you would then try to make use of it: test it, validate if it's useful, if necessary tune it...

[2019-05-23 14:15] caohaley commented on #5841
I ran it last night again and it seems to happen in jit_vich_0 test, where the server hits the assert while client is running the jit_vich_0 test. However, when you run the test just by itself the assert doesn't come up for me. To see the assert, I think make _sanity has to be run.

[2019-05-23 14:23] dmitry-ten commented on #5841
This just means that the assert being triggered is an intermittent event, so might have to run the same test multiple times. Too bad, I hoped at least one of the tests would consistently trigger it.

[2019-05-23 14:44] dmitry-ten commented on #5841
Ok, I was able to reproduce this assert by running the test a couple of times.
It happens when we cache an unresolved field in a per-resolved method cache, and later we attempt to validate a cached result against the one just fetched from the client, but the client has already resolved the field, so the attributes do not match.
We have previously decided that validation should not be done against

[2019-05-23 15:04] caohaley commented on #5841
Sure! I will add it in.

[2019-05-23 15:33] DanHeidinga commented on #5374
Once we have the heuristics @amicic mentioned then it makes sense to bundle `glocal_gc + compact + free_pages` together in one IdleTuningGcOnIdle option.

The `XX:-IdleTuningCompactOnIdle` option should be deprecated now to indicate that it will be removed in the future.

The code can also be updated as suggested above so that ``XX:[+-]IdleTuningCompactOnIdle` without `XX:+IdleTuningGcOnIdle` is a

[2019-05-23 15:35] a7ehuo opened #5856 "Update JITaaS to support OpenSSL 1.1.1"
Open this issue to track the errors while running JITaaS with OpenSSL 1.1.1 that @ymanton discovered:

https://github.ibm.com/runtimes/infrastructure/issues/1597#issuecomment-10769974

[2019-05-23 15:36] cathyzhyi commented on #4837
We've found and fixed various problems related to JSR292 and the investigation is still ongoing. Here are the latest results from a best so far build for JRuby benchmarks and results for `nashorn` are posted in
 another issue https://github.com/eclipse/openj9/issues/5371

| **red_black**    |         |          |               |
|------------------|---------|----------|---------------|
| LOWER is

[2019-05-23 15:38] a7ehuo commented on #5856
So far I'm able to repro the errors as below:

[code]
[code]

[code]

[code]

[2019-05-23 16:35] AdamBrousseau commented on #5276
Are there any objections to making this switch? Should we open an issue on the website repo to have this addressed? There are a few issues/prs popping up to fix issues with the old ones.

[2019-05-23 16:36] fjeremic commented on #5276
No objection. The old Dockerfiles are causing churn with dependencies not being properly specified. We should settle on a single Dockerfile set which can build and test which is what the buildenv/jenkins/docker-slaves Dockerfiles currently are.

[2019-05-23 16:37] AdamBrousseau commented on #4208
Depending on #5276, I think this can be closed?

[2019-05-23 17:26] DanHeidinga commented on #5276
Please check with @SueChaplain as well as the build instructions on the website likely link to the non-jenkins versions and website will need some updates first

[2019-05-23 17:44] DanHeidinga commented on #90
Discussed with @dnakamura:
- We are  a week to a week+half away from a completed xlinux jdk11 cmake build.
- Timeline: 6 weeks after xlinux for all of JDK 11 to be complete

[2019-05-23 18:02] #4208 closed

[2019-05-23 19:13] chrisc66 commented on #5584
Just a bit update, @dmitry-ten and I investigated into this `J9ClassReservableLockWordInit` flag.

To answer your previous question
* this behaviour happens when a method is being compiled
* it seems to be happening on many classes, not sure for every class

From observation, the cached flag values are always 0, and some of the remote call flag values are 1. I am suspecting that this flag is unset

[2019-05-23 19:20] carlod commented on #5802
Hi @JasonFengJ9 I created a simple JSF test case and I was able to successfully add new class variables to a hot VM without any exceptions. It looks the issue may be specific to our JSF/Spring application. I think we can close this until I have further information.

[2019-05-23 20:26] JasonFengJ9 commented on #5802
@carlod thanks for the update. Would you mind to check if the testcase works with a `OpenJ9` JVM as well?

[2019-05-23 21:34] avermeer commented on #4837
Hello @cathyzhyi ,

Any chance we could use nightly build to take advantage of these improvements?

Kind regards,
Alexandre

[2019-05-23 22:35] pshipton commented on #5739
The problem is here `at java.base/java.util.GPUAssistHolder.gpuAssist(GPUAssistHolder.java:34)`.

The GPUAssistHolder, which is a helper used by Array.sort() to optionally sort arrays on a gpu, is using the ServiceLoader framework. intellij has added it's own ClassLoader which is involved in finding the service providers. The intellij ClassLoader is using TIntHashSet(), which depends on having a s

[2019-05-24 00:15] 15838028035 opened #5870 "java object question ?"
Hi , i want to use lower memory ,  in a java object for class maybe like this:

public class TestA {

private String attrA;

private Double attrB;

private Long attrC;

//get set method ....
}

should i use wrapper type or origin type ?

public class TestA {
private String attrA;

private double attrB;

private long attrC;
//get set method ....
}

which should i use ?
how can i test the class use

[2019-05-24 07:23] HirokiYoshinaga opened #5872 "Failed to connect to local process using jconsole"
Java -version output
--------------------
openjdk version "11.0.1" 2018-10-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.1+13)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.11.0, JRE 11 Linux amd64-64-Bit Compressed References 20181115_18 (JIT enabled, AOT enabled)
OpenJ9   - 090ff9dcd
OMR      - ea548a66
JCL      - d4455071ce based on jdk-11.0.1+13)

Summary of problem
----------------

[2019-05-24 08:33] ShishirH commented on #5374
@DanHeidinga For marking the option as deprecated, would a doc change suffice? Or is there anything else that needs to be done?

[2019-05-24 12:43] DanHeidinga commented on #5374
Yes, a doc change is sufficient

[2019-05-24 13:12] pdbain-ibm commented on #5533
@AntonKatilin This change is now live and should be available on  AdoptOpenJDK.
FYI, we have seen an issue where a product was failing because it contained an older copy of `tools.jar`; if you have private copies of tools.jar, please ensure they match the JVM as some of the internal interfaces have changed.
Please contact me if you have any questions.

[2019-05-24 13:18] pshipton commented on #5872
@pdbain-ibm can you please take a look.

[2019-05-24 13:27] pshipton commented on #5870
You can determine how much memory is used by the instance of a class via java.lang.instrument.Instrumentation.getObjectSize(). You need to write a java agent to use this, but the details of how to do this are in the java.lang.instrument package documentation. See https://github.com/eclipse/openj9/issues/5739#issuecomment-495409169 for a simple java agent example.

[2019-05-24 13:31] 15838028035 commented on #5870
Okay! Thanks

发自我的 iPhone

[2019-05-24 13:41] #5870 closed

[2019-05-24 13:51] pdbain-ibm commented on #5870
You can also force a core dump and check the object size using jdmpview's `objectsizeinfo` command:

 `objectsizeinfo            [-a] [class name]    Print information about object fields and size of the objects, including unused space`

 on the class of interest, e.g.:
[code]

!j9help will give a list of commands.

[2019-05-24 14:20] pshipton commented on #5276
The "switch" means the docker build environment / example of how to setup a machine for building, will only be available for CentOS 6 or 7. We are talking about removing the example of the packages needed to build on Ubuntu.

The goal was not to force building on CentOS 6 or 7, Ubunutu is still a viable build environment, as long as there is no intent to run the resulting binary on a distro with a

[2019-05-24 14:40] jjfumero opened #5875 "[IBM GPU] no CUDA-capable device is detected"
## Java -version output

openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-b04)
Eclipse OpenJ9 VM (build openj9-0.14.2, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20190521_315 (JIT enabled, AOT enabled)
OpenJ9   - 4b1df46fe
OMR      - b56045d2
JCL      - a8c217d402 based on jdk8u212-b04)

## Summary of problem

I am following of the simple examples explained [here](h

[2019-05-24 14:50] pshipton commented on #5875
The GPU support is not enabled in builds created by AdoptOpenJDK. I believe there is a licensing issue with the NVIDIA CUDA Toolkit. You can build it yourself and turn on the GPU support, although you'd need to install the NVIDIA CUDA Toolkit and agree to the license.

Also note the OpenJDK extensions required to use GPU for array sort are not currently present in https://github.com/ibmruntimes/op

[2019-05-24 14:53] fjeremic opened #5876 "NullPointerException not thrown due to a codegen bug on Z and Power"
While running an internal test a JUnit exception is thrown with an assertion that a `NullPointerException` was not thrown when it was expected to be. I've reduced the problem down to a simple unit test as follows which exposes the bug on Z and Power:

[code]

You can run the unit test via:

[code]

However it will not reproduce with only the command above. The reason is because we need nextGenHCR

[2019-05-24 14:58] pshipton commented on #5705
@mikezhang1234567890 can this be close now that https://github.com/eclipse/omr/pull/3856 is merged?

[2019-05-24 15:04] pshipton commented on #5698
Machine seems to be working fine now.

[2019-05-24 15:04] #5698 closed

[2019-05-24 15:06] #5775 closed

[2019-05-24 15:08] charliegracie commented on #5651
Hi @guekho64 I am taking a look at the test you provided. By only running the code 10 times neither Hotspot or OpenJ9 will have much opportunity to optimize the code being executed.

I am assuming that the part you want to measure is the loop adding values to the ArrayList because you mentioned optimizations around array copy, etc. Can you confirm if this is correct?

If my assumptions are correct

[2019-05-24 15:08] pshipton commented on #5509
This machine no longer seems to exist.

[2019-05-24 15:08] #5509 closed

[2019-05-24 15:09] pshipton commented on #5472
cent6-x64-7 developed the same problem and was also disabled.

[2019-05-24 15:10] #5462 closed

[2019-05-24 15:11] #5250 closed

[2019-05-24 15:11] #5249 closed

[2019-05-24 15:13] pshipton commented on #4981
Haven't seen this again, closing.

[2019-05-24 15:13] #4981 closed

[2019-05-24 15:13] #4999 closed

[2019-05-24 15:14] pshipton commented on #5008
Seems to be working now.

[2019-05-24 15:14] #5008 closed

[2019-05-24 15:18] pshipton commented on #5032
@JasonFengJ9 did we exclude any test for this? I don't see any record of this, just double checking. Otherwise the OpenJDK problem has been resolved, the tests are passing, and this can be closed.

[2019-05-24 15:19] #4830 closed

[2019-05-24 15:19] #4952 closed

[2019-05-24 15:19] pshipton commented on #4972
Machines are working now.

[2019-05-24 15:19] #4972 closed

[2019-05-24 15:20] pshipton commented on #5045
Fixed when pipeline PR builds were enabled.

[2019-05-24 15:20] #5045 closed

[2019-05-24 15:20] pshipton commented on #5037
Fixed when pipeline PR builds were enabled.

[2019-05-24 15:20] #5037 closed

[2019-05-24 15:22] pshipton commented on #5046
Haven't seen this in quite some time, closing assuming it is fixed.

[2019-05-24 15:22] #5046 closed

[2019-05-24 15:23] #5247 closed

[2019-05-24 15:24] pshipton commented on #5123
This was resolved.

[2019-05-24 15:24] #5123 closed

[2019-05-24 15:25] pshipton commented on #5388
Haven't seen this in some time, I assume it is fixed.

[2019-05-24 15:25] #5388 closed

[2019-05-24 15:25] charliegracie commented on #5825
IF your statement is correct @pshipton then technically functionality can never be removed from OpenJ9 since the same code is used in JDK8,JDK11,JDK12, etc....

[2019-05-24 15:25] keithc-ca commented on #5875
If you want to create a build with CUDA support, the relevant configure options to add are:
[code]
(this assumes you have installed the CUDA 10 toolkit in the default location). You don't need the full toolkit for this, just the header files in /usr/local/cuda-10.0/include; you should already have the necessary shared libraries installed that will be needed at runtime.

You can see the generated P

[2019-05-24 15:26] charliegracie commented on #5825
Is there a process I should be following to get this code removed?

[2019-05-24 15:26] charliegracie commented on #5823
Is there a process I should be following to get this code removed?

[2019-05-24 15:26] pshipton commented on #5450
I haven't seen this re-occur, I assume it is fixed.

[2019-05-24 15:27] #5637 closed

[2019-05-24 15:28] pshipton commented on #4556
I haven't seen this again, I assume the problem is fixed.

[2019-05-24 15:28] #4556 closed

[2019-05-24 15:29] #4559 closed

[2019-05-24 15:30] pshipton commented on #4643
I haven't seen this failure in quite some time, I assume it is fixed.

[2019-05-24 15:32] pshipton commented on #4681
Assuming this is resolved, we can reopen if we find another test that fails.

[2019-05-24 15:32] #4681 closed

[2019-05-24 15:32] #4710 closed

[2019-05-24 15:32] #4809 closed

[2019-05-24 15:38] pshipton commented on #4448
Haven't seen a re-occurance, assuming fixed.

[2019-05-24 15:38] #4448 closed

[2019-05-24 15:39] pshipton commented on #4469
Haven't seen a re-occurance, assuming fixed.

[2019-05-24 15:39] #4469 closed

[2019-05-24 15:41] pshipton commented on #4470
Haven't seen a re-occurrence, assuming fixed.

[2019-05-24 15:45] pshipton commented on #5825
We could change the code so the option is not recognized when running Java 11, although since we aren't supporting or building 32-bit for Java 11 atm, not sure this step is important.

Once Java 8 is obsolete, or split off from the mainline, the splitheap code can be removed.

[2019-05-24 16:03] JasonFengJ9 commented on #5032
@pshipton there was no test excluded. No action required.
This can be closed.

[2019-05-24 16:09] keithc-ca commented on #4488
I spent some time today looking at this with the latest release builds available from https://adoptopenjdk.net/.

[code]
Using jlink options: `--verbose --add-modules java.base --strip-debug --compress 2 --no-header-files --no-man-pages`
[code]
The difference is 5576kB which is less than the combined size (5788kB) of `java*properties` and `*.dat` files.
[code]
Adding a `jlink` option to remove unn

[2019-05-24 16:13] #5032 closed

[2019-05-24 16:14] smlambert opened #5879 "Update Jenkins README to include info on TEST_FLAG settings"
Looking for info on setting TEST_FLAG jitaas|aot in PR trigger in this README, https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/README.md

which I think can be appended to target with a + sign like this:
Jenkins test sanity.functional+aot xlinux jdk8

[2019-05-24 16:20] pshipton commented on #5823
Change the documentation to make it clear that the option to control the deprecated format is itself deprecated and will be removed. Change the code so the option cannot be used in Java 11 or later.

Is there any reason why someone might be using the deprecated output format? We can ask around and try to determine if anybody is using it. We could try changing the option even in Java 8 to give an e

[2019-05-24 16:21] mikezhang1234567890 commented on #5705
Yes, that PR should fix the issue causing `utf-US` to be emitted as a locale.

[2019-05-24 16:23] ChengJin01 commented on #5058
The newly added C code for `c_cInterpreter(currentThread)` seems working but the VM ended up with hang some where later on.
[code]
Need to figure out what happened in there.

[2019-05-24 16:23] pshipton commented on #5823
Additional to the above, we could add another option like `-XX:[+/-]AllowDeprecatedOptions` that controls whether `-Xgc:verboseFormat=deprecated` can be used or not in Java 8, and set the default to not allow `-Xgc:verboseFormat=deprecated`.

[2019-05-24 16:25] pshipton commented on #5823
These suggestions can also apply to -Xgc:splitheap` https://github.com/eclipse/openj9/issues/5825

[2019-05-24 16:27] #5705 closed

[2019-05-24 16:39] ShishirH commented on #4488
@keithc-ca Should all the properties files be generated by default with an option to generate only the EN ones or should only the EN properties file be generated by default, with an option to generate all the other ones too?

[2019-05-24 16:57] keithc-ca commented on #4488
I'm not familiar with adding a plugin to jlink (I think that's how we would approach this), but I think the option should take a value (or list of values) that identify the subset of java.properties files that should be included in the output. Then the user can choose the languages they want supported.

[2019-05-24 17:17] #2773 closed

[2019-05-24 17:22] charliegracie commented on #5823
The point is to remove the code.  Removing from one JDK level and leaving it for over JDK levels is actually more code to maintain than leaving it alone.  If the code has to stay for JDK8 there is no reason to do anything.  That sounds ridiculous and means that OpenJ9 will never be able to move to meet current customer requirements.

[2019-05-24 18:10] pdbain-ibm commented on #5872
Attachment.java uses reflection to get the `jdk.internal.agent.Agent.start*ManagementAgent()` methods. These are in the `jdk.management.agent` module, but the `jlink`ed JDK cannot load it.
Running the following:
[code]
on a full JDK produces:
`Loaded class jdk.internal.agent.Agent`

On the `jlink`ed JVM we get:
`Exception: java.lang.ClassNotFoundException: jdk.internal.agent.Agent`

This is a modu

[2019-05-24 18:12] pshipton commented on #5823
I made suggestions to help determine if anybody is using the option. If we don't find anybody using it, the code can be removed. Also, if we don't disable the options in later Java versions (like 11), we'll never break the cycle and be able to remove the code in the future. I expect at some point in the future, we'll split a separate branch for Java 8 and master will only support Java 11 and later

[2019-05-24 18:16] fjeremic commented on #5823
👀

[2019-05-24 18:30] pshipton commented on #5872
@pdbain-ibm Run your test on the jlinked image with `--add-modules jdk.management.agent` and then it works. Although the jdk.management.agent is available, it doesn't get loaded by default.
This behavior is the same between Hotspot and OpenJ9 builds. More investigation required.

[2019-05-24 18:34] pshipton commented on #5872
You can run `java --show-module-resolution -version` to see what gets resolved by default. I expect Attach needs to explicitly cause jdk.management.agent to be loaded when necessary.

[2019-05-24 18:43] pshipton commented on #4488
jlink already has a plugin `include-locales`. One option is to only include en by default, and "teach" the include-locales plugin to understand the java.properties files and only include other languages when requested.

[2019-05-24 18:53] pshipton commented on #4488
Similarly there is an existing `strip-debug` plugin which could be extended to remove the TraceFormat.dat files. We should consider just moving these files to a different module than java.base, like openj9.traceformat.

I don't think that j9ddr.dat should be removed by `strip-debug` as removing this file impacts the ability to diagnose OpenJ9 crashes. I suggest a different plugin be created to rem

[2019-05-24 19:47] pshipton commented on #2110
Some or all of this has been fixed, I don't expect this needs to remain open.

[2019-05-24 19:47] #2110 closed

[2019-05-24 19:50] #2364 closed

[2019-05-24 19:51] #2539 closed

[2019-05-24 19:55] pshipton commented on #2547
Opened https://github.com/eclipse/openj9/issues/2547 and closing this.

[2019-05-24 19:55] #2547 closed

[2019-05-24 20:11] pshipton commented on #2907
Obsolete, closing.

[2019-05-24 20:11] #2907 closed

[2019-05-24 20:12] keithc-ca commented on #4488
An attempt at using `--include-locales en` offers a hint:
[code]
Perhaps openj9 should package those property files in that module rather than `java.base`.

[2019-05-24 20:14] #2980 closed

[2019-05-24 20:14] pshipton commented on #3391
Hasn't re-occurred, assuming fixed.

[2019-05-24 20:15] #3391 closed

[2019-05-24 20:16] pshipton commented on #3270
Hasn't re-occurred, assuming fixed.

[2019-05-24 20:16] #3270 closed

[2019-05-24 20:16] andrewcraik commented on #4837
@avermeer @liqunl and @cathyzhyi are working to get their code delivered - until they are merged it won't be in the nightly build. Once the pull requests start to open (should be in the next roughly week) they will be referenced here so you can follow along. Getting the changes into the nightly build requires they reach a level of polish where they won't cause problems for users in general since h

[2019-05-24 20:17] pshipton commented on #3174
I believe this was fixed, although now we get less frequent messages about `left nodes offline`

[2019-05-24 20:17] #3174 closed

[2019-05-24 20:18] pshipton commented on #3080
Obsolete.

[2019-05-24 20:18] #3080 closed

[2019-05-24 20:18] andrewcraik commented on #5371
@avermeer we plan to look at the remaining deltas in more detail shortly. We are trying to finish up the work on the inliner to improve JSR292 performance and to finish looking at a few of the remaining perf gaps on the jRuby suite under #4837. Once we have those under control we'll make another pass on the nashorn tests above where OpenJ9 is slower since we want to at least understand why and, ho

[2019-05-24 20:19] pshipton commented on #3079
Obsolete.

[2019-05-24 20:19] #3079 closed

[2019-05-24 20:19] pshipton commented on #3009
Obsolete.

[2019-05-24 20:19] #3009 closed

[2019-05-24 20:20] pshipton commented on #2960
I assume whatever can be done, has been done. Closing.

[2019-05-24 20:20] #2960 closed

[2019-05-24 20:25] pshipton commented on #2832
I don't expect this will be implemented.

[2019-05-24 20:25] #2832 closed

[2019-05-24 20:26] pshipton commented on #1876
I don't believe there are any plans to implement this.
@DanHeidinga

[2019-05-24 20:27] pshipton commented on #1073
I expect this was completed.

[2019-05-24 20:27] #1073 closed

[2019-05-24 20:29] pshipton commented on #1944
I guess we'll wait until there is an actual problem.

[2019-05-24 20:29] #1944 closed

[2019-05-24 20:30] #4293 closed

[2019-05-24 20:32] pshipton commented on #4216
I believe the machine was re-created. Seems to be working now.

[2019-05-24 20:32] #4216 closed

[2019-05-24 20:32] fjeremic commented on #1876
Isn't this something we are still looking into? What is the alternative for OpenJ9? HealthCenter?

[2019-05-24 20:32] pshipton commented on #4088
Believe the problem was resolved by turning off core file generation.

[2019-05-24 20:32] #4088 closed

[2019-05-24 20:34] #4028 closed

[2019-05-24 20:35] pshipton commented on #3994
Obsolete, I expect this works now.

[2019-05-24 20:35] #3994 closed

[2019-05-24 20:37] pshipton commented on #3959
Test is passing now.

[2019-05-24 20:37] #3959 closed

[2019-05-24 20:37] pshipton commented on #3903
This hasn't re-occurred, assuming fixed.

[2019-05-24 20:37] #3903 closed

[2019-05-24 20:38] pshipton commented on #3809
We might still have intermittent issues like this, but obviously we aren't using this Issue to discuss them.

[2019-05-24 20:38] #3809 closed

[2019-05-24 20:39] pshipton commented on #3690
This hasn't re-occurred, assuming fixed.

[2019-05-24 20:39] #3690 closed

[2019-05-24 20:40] pshipton commented on #3583
I think this still happens intermittently, but I've stopped reporting the failures.

[2019-05-24 20:41] pshipton commented on #3412
This hasn't re-occurred, assuming fixed.

[2019-05-24 20:42] #3412 closed

[2019-05-24 20:43] #3563 closed

[2019-05-24 20:45] #4297 closed

[2019-05-24 20:45] #4323 closed

[2019-05-24 20:46] pshipton commented on #4362
This hasn't re-occurred, assuming fixed.

[2019-05-24 20:46] #4362 closed

[2019-05-24 20:47] #4470 closed

[2019-05-24 20:48] pshipton commented on #4512
Believe this is resolved.

[2019-05-24 20:48] #4512 closed

[2019-05-24 20:48] pshipton commented on #4634
This is blocked waiting on OpenJDK to add support for VS2017. We can re-open if this ever occurs.

[2019-05-24 20:48] #4634 closed

[2019-05-24 20:49] fengxue-IS commented on #5785
Currently we don't consider `JNI::ExceptionClear()` as catching an exception.
Looking at how exception throw event is generate from JNI, I think we need a new flag in `J9VMThread` similar to `J9_PRIVATE_FLAGS_REPORT_EXCEPTION_THROW` for the catch part as well.

Also note that the spec is not specific on how to handle exception thrown in the same JNI frame. As exception event requires the thrown ex

[2019-05-24 20:50] pshipton commented on #5833
I suspect this was resolved. Will reopen if seen again.

[2019-05-24 20:50] #5833 closed

[2019-05-24 21:02] pshipton commented on #4488
Since we have a tentative plan to move some things around, I've added this to the next milestone. Which isn't a commitment to deliver the changes in this milestone.

[2019-05-24 22:23] avermeer commented on #5371
@andrewcraik well understood, I'm staying tuned on this incident and related #4837 one.
My best wishes to all OpenJ9 team to succeed in this challenge.

[2019-05-25 03:57] #1192 closed

[2019-05-25 04:13] 15838028035 opened #5886 "docker question"
Hi, my docker file like this:
FROM adoptopenjdk/openjdk8-openj9:alpine-slim
VOLUME /tmp
ADD upm-0.0.1-SNAPSHOT.jar upm-0.0.1-SNAPSHOT.jar
ENTRYPOINT ["java","-Djava.security.egd=file:/dev/./urandom","-jar","upm-0.0.1-SNAPSHOT.jar"]

docker exec -ti upm bash

bash colud not find ,how can i into the upm container , i have start the container upm

could you help me ?

[2019-05-25 06:56] avermeer commented on #4837
@andrewcraik thank you very much for providing such detailed answer. Keep up the good work!

[2019-05-25 14:15] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_xl_Nightly/44

[2019-05-25 14:19] pshipton commented on #5489
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/44

[2019-05-25 14:20] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_xl_OpenJDK/14

[2019-05-25 15:28] keithc-ca commented on #4488
`*TraceFormat.dat` should be associated with the module `openj9.traceformat`: those files are only used by that module and modules that require it.

[2019-05-25 16:03] pshipton commented on #4488
Not quite true (i.e. `-Xtrace:iprint`), but agree we should move them (https://github.com/eclipse/openj9/issues/4488#issuecomment-495753537).

[2019-05-26 12:57] annopnod opened #5889 "possible??? java gpu rendering"
possible??? java gpu rendering
-BufferedImage
-paintComponent

[2019-05-26 14:47] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly/42
[code]

[2019-05-26 15:15] pshipton commented on #5889
We'll need more details about the problem in order to respond to this.

[2019-05-26 15:32] mstoodle commented on #5836
MethodBuildler I'm currently trying to get to compile:

[code]

[2019-05-27 02:05] annopnod commented on #5889
i view JOGL is large size file.
pure java 3d engine Platform Independent.

[2019-05-27 03:58] DanHeidinga commented on #5785
Sounds like a great test case to write to validate that belief

[2019-05-27 09:37] ShishirH commented on #5886
Run `docker ps` and check the container ID. Should be a mix of alphabets and numbers, like `df084e8ff94a`.

Then run `docker exec -it <container_id> bash`

[2019-05-27 10:28] 15838028035 commented on #5886
My container id is openjkd8-openj9, I have fixed it!

发自我的 iPhone

[2019-05-27 11:32] Godin opened #5895 "Crash on bytecode that uses condy"
Java -version output
--------------------

[code]

Summary of problem
------------------

I'm one of project leads of [JaCoCo project](https://github.com/jacoco/jacoco). JaCoCo performs instrumentation of bytecode to record code coverage.

In version `0.8.4` [we implemented usage of condy](https://github.com/jacoco/jacoco/pull/845) (JEP 309) for class files whose major version >= 55 (Java 11). For

[2019-05-27 12:44] #5886 closed

[2019-05-27 12:55] 0xdaryl commented on #5786
Thanks for the detailed answer @andrewcraik.  It is helpful.  I will make sure this is captured either in the code or in the IL specification.

[2019-05-27 12:55] #5786 closed

[2019-05-27 13:07] DanHeidinga commented on #5895
Thanks @Godin for the report.

@dmitripivkine This is a crash in the GC related to Condy (Constant_Dynamic).  Can you you or someone on the GC team take a first look at this?

[2019-05-27 13:08] DanHeidinga commented on #5895
fyi @fengxue-IS for your awareness as one of the condy implementors

[2019-05-27 13:14] keithc-ca commented on #4488
It's true that removing `*TraceFormat.dat` means that `-Xtrace:print` stops working, but you can still use `-Xtrace:output={file}` which can read by an image that includes `openj9.traceformat`.

[2019-05-27 13:18] DanHeidinga commented on #1876
Currently, Healthcenter is the alternative for OpenJ9.  This is an area we're looking more broadly to determine the right way to get metrics out of the JVM.  FlightRecorder is one option but it's not the only one.

Closing this makes sense as this item is unlikely to be the best place to track OpenJ9's final approach to this area

[2019-05-27 16:49] dmitripivkine commented on #5895
Crash occur in Global (STW) GC Mark an attempt to get scan object at `0xFFE9E000`:
[code]
 The content of this address is `0x43b0d261` so with stripping low byte as "flags" it tries to get object class information at `0x43b0d200` and dies. Seems problematic reference `0xFFE9E000` has been taken from Constant Pool of class `!j9class 0x12ef0d00` (`org/sonar/api/config/Configuration`), `ramConstantPo

[2019-05-27 17:54] simonameng commented on #5702
I was able to reproduce this problem by modifying the `getSupportsHardwareSQRT` to return false, and with the following java program:
[code]

And I ran it with the following command:
[code]

[2019-05-27 18:16] pshipton commented on #4488
I was able to remove all the `java_<language>.properties` files by using the jlink command `--exclude-files=**java_*.properties`. This doesn't affect the default English properties file `java.properties`.

[2019-05-27 21:23] mstoodle commented on #5836
Update: today I hacked my way to compiling a simpler test (the infamous `Return(ConstInt64(3))`) while inside the OpenJ9 JIT. Still need to verify things are doing what I think they're doing, but it looks sort of reasonable.

Next step: get the Java API to work.

[2019-05-27 21:27] mstoodle commented on #5836
The `MethodBuilder` I have tested so far:
[code]

[2019-05-27 21:29] mstoodle commented on #5836
Verbose output:
[code]

And the output that verified it worked, just for completeness :) :
[code]

[2019-05-27 21:32] mstoodle commented on #5836
I'll clean up my branch a bit and will then push, just for reference. It's got some ugly stuff in it we'll have to think harder about how to solve more properly.

[2019-05-27 22:59] pshipton commented on #5889
I still don't understand what the problem is.

[2019-05-28 01:01] 0xdaryl opened #5904 "Replace uses of FrontEnd::getObjectAlignmentInBytes with ObjectModel::objectAlignmentInBytes"
The `FrontEnd::getObjectAlignmentInBytes()` API is deprecated.  Replace all references with `TR::Compiler->om.objectAlignmentInBytes()` instead.  Delete the FrontEnd implementation when done.

The OpenJ9 implementation in the ObjectModel class is identical to the FrontEnd implementation.

Simply grep through the compiler source for `getObjectAlignmentInBytes` to find the references to change.

Cre

[2019-05-28 07:20] 15838028035 opened #5907 "jenkins pipline file problem"
HI ,
 i use jenkins pipline,  there two files ,
one file named jenkins_pipline.groovy  maybe like this:

// 生命全局工具变量
def GLOBAL_TOOL_JDK_ID   = 'JAVA_HOME'
def GLOBAL_TOOL_MAVEN_ID = 'MAVEN_HOME'
properties([parameters([string(name: 'GIT_URL', defaultValue: ' git_URL_1', description: 'git仓库地址'),
                        string(name: 'GIT_BRANCH', defaultValue: 'master', description: 'git分支名称'),

[2019-05-28 08:45] jjfumero commented on #5875
Thanks for your answers. I tried the installation on a Ubuntu 16.04  with CUDA 10.0 and it seems to work now. On CentOS, dependencies are too old.

[code]

I assume that the `time.ms` is a timestamp from the CUDA application? So that means that the generated CUDA kernel time takes 799ms. Is that right?

Is it possible to obtain the time for data transfers as well? `H->D` and `D->H`

[2019-05-28 12:27] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_xl_OpenJDK/16

[2019-05-28 12:28] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_xl_OpenJDK/16

[2019-05-28 12:31] keithc-ca commented on #5875
Yes, 799ms elapsed within that call to `SortNetwork.sortArray()`.

The first use will include:
* loading a number of Java classes
* generating the PTX code
* compiling the PTX code to GPU native code
* transferring the native code the code to the GPU
* allocating memory on the GPU
* transferring the data to the GPU
* launching the appropriate set of kernels to sort the data
* transferring the data

[2019-05-28 13:25] DanHeidinga commented on #5777
What's the next step on this issue?

[2019-05-28 13:28] 0xdaryl opened #5910 "Locals compaction on Power, AArch64 ?"
I noticed that the JIT Power codegen doesn't support the compact locals optimization (where the JIT frame is compacted by sharing non-interfering autos).  Was that a conscious decision (e.g., it wouldn't be worth the effort because there are so many registers), or is it just an oversight?  @gita-omr @zl-wang

Ditto for ARM and AArch64.

[2019-05-28 13:32] DanHeidinga commented on #5581
@Azquelt Have you been able to reproduce the issue with a newer release (ie: 0.14.0)?  Or with the `-Xjit` option?

[2019-05-28 13:41] 0xdaryl commented on #5889
Are you simply asking whether the `BufferedImage` class and `paintComponent` method could leverage a GPU if one were available on the system running your Java application?

[2019-05-28 14:04] zl-wang commented on #5910
My impression is mainly the former (i.e., so many registers).  Plus, a comprehensive test was conducted re stack frame size around the time 64bit support was introduced ... even bigger stack frame in 64bit bore little portion of performance impact by 64bit: bigger object on cache capacity efficiency was largely the major performance issue.

[2019-05-28 14:14] pshipton opened #5911 "openjdk11_j9_openjdktest_ppc64le_linux java/lang/String/Exceptions.java crash Compiled_method=java/lang/String.compress([BI[BII)V"
https://ci.adoptopenjdk.net/job/openjdk11_j9_openjdktest_ppc64le_linux/224
[code]

[2019-05-28 14:17] pshipton commented on #5911
@gita-omr fyi
Diagnostic files (core, javacore, etc) saved in triage/openj9-5911

[2019-05-28 14:22] pshipton commented on #5777
FYI The Java 11 code was updated, the gcc machine inconsistency reported here is not blocking anything atm. 11.0.4+4 has been promoted to the openj9 branch.

[2019-05-28 14:33] pdbain-ibm commented on #5872
@HirokiYoshinaga  I believe I have fixed the issue you report.
Please test this JDK:
 https://drive.google.com/open?id=1VP2m2EqoaUauAK-9B2Sm606U7xRLJiRV
and tell me if it solves your problem.

If you have questions, please contact me on Slack at openj9.slack.com; you can join the channel via the `Request an invite` link on "https://www.eclipse.org/openj9/index.html".

[2019-05-28 14:41] fjeremic commented on #5836
Thanks for all the efforts here. I'm closely following the progress and appreciate the work. Getting JitBuilder working in OpenJ9 opens up a world of possibilities, including a Java API to generate JIT bodies on the fly, as well as a plethora of things we can do around testing the JIT.

[2019-05-28 14:48] 0xdaryl commented on #5910
If the last investigation was when 64-bit was introduced, that was 15 years ago.  I think the workloads of interest to OpenJ9 have changed, and profiles have gotten flatter and the stacks deeper.  Do you think it's worth repeating an investigation again?

[2019-05-28 15:03] Azquelt commented on #5581
No, I haven't. I'm happy to close this for now and re-open if I'm able to reproduce with better logs in the future?

[2019-05-28 15:23] kobinau commented on #5832
Ran grinder 1/4 failure rate.
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/2465/

[2019-05-28 15:28] DanHeidinga commented on #5581
Sounds good.  Thanks @Azquelt

[2019-05-28 15:28] #5581 closed

[2019-05-28 16:18] ChengJin01 commented on #5058
After adding tracepoints in code,  the snaptrace shows it got stuck on mprotect(addr, pageSize, PROT_READ | PROT_WRITE) when calling flushProcessWriteBuffers at acquireExclusiveVMAccess() as follows:
[code]
against the code in acquireExclusiveVMAccess at runtime\vm\VMAccess.cpp
[code]
and flushProcessWriteBuffers at runtime\vm\FlushProcessWriteBuffers.cpp
[code]

As talked to @gacholio, this is a

[2019-05-28 17:53] zl-wang commented on #5910
It might be an interesting item for one of the students.  Let's gather some data wrt typically how many stack slots can be saved with compaction on etc, and its resulting performance impact.

[2019-05-28 17:58] gita-omr commented on #5910
Yes, I think it's worth trying. @0xdaryl you mean CompactLocals done by the optimizer?

[2019-05-28 18:03] 0xdaryl commented on #5910
Yes.  It's probably worth doing the investigation on either X or Z where the optimization is enabled.  Locals should be the same across architectures (i.e., it doesn't work on spill temps or other local artifacts created by backends).  On X86 there is some code in `OMR::Linkage::mapCompactedStack` guarded by DEBUG macros that can report some statistics on how the compaction went.  It's dusty code

[2019-05-28 18:10] mstoodle commented on #5836
I just pushed https://github.com/mstoodle/openj9/tree/explore_jitbuilder which contains the commits I used to get JitBuilder to compile inside the OpenJ9 JIT as well as to be able to invoke it from within the OpenJ9 JIT. I'm not filing it as a pull request because there are too many hacks, but if anyone wants to look through it, feedback welcome.

Note that it's very preliminary at the moment (not

[2019-05-28 18:53] 0xdaryl opened #5917 "Support and enable dynamic loop transfer for AArch64 JIT"
This issue tracks the work to add proper support for DLT for the AArch64 JIT in OpenJ9.

[2019-05-28 18:55] jsimomaa opened #5918 "OpenJ9 startup performance on a Spring Boot application"
Java -version output
--------------------

[code]

Summary of problem
------------------

I'm experimenting with both AdoptOpenJDK and openJ9 but I'm having weirdly poor performance with our Spring Boot based application in comparison to OpenJDK and HotSpot.

The exact version of AdoptOpenJDK is:

[code]

And the version of OpenJDK is:

[code]

I know the following results are not real benchmarks

[2019-05-28 18:57] 0xdaryl commented on #5455
DLT for AArch64 #5919

[2019-05-28 18:58] jsimomaa commented on #5918
Also testing the performance with JDK8:

[code]

And the startup time with args `-Xms256m -Xmx1G -Xshareclasses`:

[code]

Then another try with JDK8 and args `-Xms256m -Xmx1G -Xshareclasses -Xjit:verbose={compilePerformance},vlog=vlog`:

[code]

[2019-05-28 19:01] 0xdaryl opened #5921 "Support and enable On Stack Replacement for AArch64 JIT"
This issue tracks the work to add proper support for OSR for the AArch64 JIT in OpenJ9.

[2019-05-28 19:02] 0xdaryl commented on #5455
OSR for AArch64 #5921

[2019-05-28 19:07] 0xdaryl commented on #5921
Disabled in OMR eclipse/omr#3920.

[2019-05-28 19:10] jsimomaa commented on #5918
Here is the vlog file (changed the file type to `.txt` to make GitHub happy)
[vlog.20190528.220511.15780.txt](https://github.com/eclipse/openj9/files/3229299/vlog.20190528.220511.15780.txt)

[2019-05-28 19:18] dsouzai commented on #5918
[code]
Doesn't look like an AOT compilations happened :S. From the vlog:
[code]
there isn't even any AOT code in the SCC, which is weird...

Could you destroy the cache and run your program again, collecting the vlog both times? to destroy the cache, do `java -Xshareclasses:destroyAll`

[2019-05-28 19:30] jsimomaa commented on #5918
I destroyed the cache by invoking:

[code]
but this outputted an empty vlog file. However, the cache was deleted.

Rerun with

[code]

produced this vlog:

[vlog.20190528.222507.6492.txt](https://github.com/eclipse/openj9/files/3229357/vlog.20190528.222507.6492.txt)

[2019-05-28 19:45] babsingh commented on #54
This issue can be closed after https://github.com/eclipse/omr/pull/3921 and https://github.com/eclipse/openj9/pull/5923 are merged. Performing final cross-platform testing.

fyi - @DanHeidinga @pshipton

[2019-05-28 19:46] dsouzai commented on #5918
Sorry, I should've been more clear, I meant collecting the vlog for both invocations of your benchmark :). However, doesn't look like we need the second invocation; we didn't do any AOT compilations in that vlog...I don't know why :S.

For the sake of sanity, could you do the following:

[code]

I did this with
[code]
from https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u21

[2019-05-28 19:48] #5739 closed

[2019-05-28 19:50] fjeremic commented on #5739
@fvasco the issue is fixed in the linked PR. Should be a day or two before the next Nightly build at AdoptOpenJDK picks up the commit and you can use that to verify.

[2019-05-28 19:51] jsimomaa commented on #5918
I destroyed the cache and invoked

[code]

The only difference seems to be that I'm on Windows 10 host

Here is the vlog of that:
[vlog.20190528.224833.7220.txt](https://github.com/eclipse/openj9/files/3229419/vlog.20190528.224833.7220.txt)

[2019-05-28 19:55] dsouzai commented on #5918
Ok, so looks like you did get AOT compilations when running `-version`:
[code]
so now the question becomes, why are there no AOT compilations when you run your benchmark..

[2019-05-28 19:55] jsimomaa commented on #5918
Here is how my cache dir looks like:

[code]

[2019-05-28 20:01] dsouzai commented on #5918
Ok, just for the sake of doing a second sanity, and also to get a sense of how much perf could improve, could you do the following:

[code]

[2019-05-28 20:05] mpirvu commented on #5918
I think the key lies in the large number of compilation failures. A quick glance at the vlog shows many "compilationIlGenFailure". We need to understand the reason of that. I'll look at the code.

[2019-05-28 20:13] dsouzai commented on #5918
There's 200 failures out of ~2900 methods, but that doesn't explain why methods like `java/lang/StringBuffer.lengthInternalUnsynchronized()I` arne't AOT compiled.

[2019-05-28 20:15] mpirvu commented on #5918
There are many possible reasons why the JIT throws ILGenFailure
@jsimomaa  To get a better understanding of the failures could you please do a run with `-Xjit:printErrorInfoOnCompFailure`. For example:
`java -Xms256m -Xmx1G -Xshareclasses -Xjit:printErrorInfoOnCompFailure,verbose={compilePerformance},vlog=vlog ...`
There will be some messages printed to stderr about the reason for those failures.

[2019-05-28 20:21] JamesKingdon commented on #5918
@dsouzai Can you update the script to give the total time spent in failed compilations?

[2019-05-28 20:23] dsouzai commented on #5918
The script already prints that out, eg:
[code]

[2019-05-28 20:24] JamesKingdon commented on #5918
ah, ok. Looked straight past that. Thanks.

[2019-05-28 20:30] mpirvu commented on #5918
The problem with compilationIlGenFailures is that compilations are not retried, so the methods subject to these failures will run interpreted for the entire duration of the JVM. This could lead to severe slowdowns depending on the importance of these methods.

[2019-05-28 20:31] JamesKingdon commented on #5918
That fits - the 10x deficit made me wonder if we were running in the interpreter. If we fail some hot methods it would be similar.

[2019-05-28 20:42] jsimomaa commented on #5918
Please find attached here both vlogs:
[vlog1.20190528.233827.17284.txt](https://github.com/eclipse/openj9/files/3229614/vlog1.20190528.233827.17284.txt)
[vlog2.20190528.233925.15140.txt](https://github.com/eclipse/openj9/files/3229615/vlog2.20190528.233925.15140.txt)

[2019-05-28 20:49] jsimomaa commented on #5918
Here are the prints from stderr:

[code]

[2019-05-28 20:50] dsouzai commented on #5918
What did the perf look like for the run that produced vlog2?

[code]
[code]
Looks like the majority of failures were due to AOT relocations when doing `forceAOT`. Additionally, there weren't as many failures in the compile run.

[2019-05-28 20:52] dsouzai commented on #5918
`Compilation Failed Because: FSD_HAS_INVOKEHANDLE 0`

are you running with an agent attached by any chance for debugging purposes? Because that might explain why there's no AOT happening.

[2019-05-28 20:52] jsimomaa commented on #5918
First run (vlog1):
[code]
Second run (vlog2):
[code]

[2019-05-28 20:58] jsimomaa commented on #5918
Yes, that is actually true! I should have stated that in the beginning that I'm was using Visual Studio Code for the first vlogs and it attaches a debugger.

The vlog1 and vlog2 was then purely with cmd and no debuggers attached or anything.

[2019-05-28 21:00] jsimomaa commented on #5918
But without the debugger attached I wasn't able to get any output to stderr with `printErrorInfoOnCompFailure`.

[2019-05-28 21:09] dsouzai commented on #5918
Ahh ok, that at least explains why there was no AOT before. For the sake a comparison to allow OpenJ9 to get the benefit of AOT heh, would you mind doing a run without the debugger :). ie:

1. Destroy SCC
2. Populate SCC; options `-Xms256m -Xmx1G -Xshareclasses -Xjit:verbose={compilePerformance},vlog=vlog1 ...`
2. Load from SCC; options `-Xms256m -Xmx1G -Xshareclasses -Xjit:verbose={compilePerform

[2019-05-28 21:09] jsimomaa commented on #5918
Here is one more vlog no debuggers attached and with args: `-Xms256m -Xmx1G -Xshareclasses -Xjit:printErrorInfoOnCompFailure,verbose={compilePerformance},vlog=vlog-new`.

[vlog-new.20190529.000410.16028.txt](https://github.com/eclipse/openj9/files/3229706/vlog-new.20190529.000410.16028.txt)

Also, with the shareclasses populated on previous runs the result of the "benchmark" is now ~31s (compared

[2019-05-28 21:09] dsouzai commented on #5918
Haha beat me to it :)

[2019-05-28 21:15] jsimomaa commented on #5918
1. Destroyed SCC
2. Ran `java -Xms256m -Xmx1G -Xshareclasses -Xjit:verbose={compilePerformance},vlog=vlog1`
3. Ran `java -Xms256m -Xmx1G -Xshareclasses -Xjit:verbose={compilePerformance},vlog=vlog2`

Here are the files:
[vlog1.20190529.001023.4224.txt](https://github.com/eclipse/openj9/files/3229723/vlog1.20190529.001023.4224.txt)
[vlog2.20190529.001127.2660.txt](https://github.com/eclipse/openj9/

[2019-05-28 21:30] dsouzai commented on #5918
[code]
[code]
So looks like with AOT, the majority of failures are AOT load failures that https://github.com/eclipse/openj9/issues/4897 was opened to address; this at least removes the ILGenFailures as a potential problem. However, since we're still at 30s, I'm wondering if the `aotw` and `hot` compilations in addition to the load failures all play into this. @mpirvu what do you think?

[2019-05-28 22:06] sogutbera commented on #5665
public class Test1 {

                public static void main(String[] args){

                        Test2 tobj = new Test2();
                        tobj.func();

                        int x = 99;
                        Comparator<String> stringComparatorLambda = (String o1, String o2) -> { return o1.compareTo(o2)+o2.compareTo(o1)+15+x; };
                        int lambdaComparison = stri

[2019-05-28 22:14] jsoref opened #5927 "com.ibm.j9ddr.corereaders.tdump.zebedee.util.Template references nonexistent files"
Split from https://github.com/eclipse/openj9/pull/5909#discussion_r288322131

While there are links to `templatedtd.dtd` and `templatedtd.html`:
https://github.com/eclipse/openj9/blob/3ddd56b705757e978be121a87c932e3d37c95206/debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/tdump/zebedee/util/Template.java#L42-L45

The only related file in this directory is [template.dtd](https://github.com/eclipse/

[2019-05-28 22:20] pshipton commented on #5927
I looked back in the IBM history before OpenJ9 was contributed to open source, but couldn't find the file there either. Whoever wrote the comment is probably gone, I figure the easiest thing is to leave it alone in case it means something to somebody.

@fjeremic any thoughts?

[2019-05-28 22:29] fjeremic commented on #5927
Given it's in the tdump directory we'll likely need to go back about 15 years to see where this originated. I'll take a look by tomorrow to see if I can find the original author and intention.

[2019-05-29 00:09] amicic commented on #5458
I'll likely need a flag soon, and all are taken. Could this be completed - should be relatively easy?

[2019-05-29 00:40] #5750 closed

[2019-05-29 01:16] amicic commented on #5458
https://github.com/eclipse/openj9/blob/master/runtime/compiler/env/VMJ9.cpp#L1911

[2019-05-29 02:04] mpirvu commented on #5918
The `hot` compilation is expensive, no doubt, but I do see other compilations being executed in parallel with. The JVM can use up to 8 cores and the JVM utilization is always under 150%, so the hot compilation should not interfere with application or other compilation threads.

Compilation queue grows up to 370 entries in the first 100 ms. The are bigger jumps in Q_SZ around AOT failures, so I wou

[2019-05-29 06:06] jsimomaa commented on #5918
@dsouzai I created a reduced example for you to test yourself: https://github.com/jsimomaa/spring-boot-openj9

In order to launch the app do:
[code]

After the build is complete the app can be run by invoking

[code]

With this example my startup times are

HotSpot (`java -Xms256m -Xmx1G -jar target/spring.boot.openj9-0.0.1-SNAPSHOT.jar`)
[code]

OpenJ9 (`java -Xms256m -Xmx1G -Xshareclasses -Xjit:

[2019-05-29 10:04] HirokiYoshinaga commented on #5872
@pdbain-ibm Thank you for your fix!
I confirmed JConsole succeeded to connect to local process with the provided JDK.

[2019-05-29 12:11] JamesKingdon commented on #5918
Thanks @jsimomaa , that should be really useful.

[2019-05-29 12:14] annopnod commented on #5889
yes.

[2019-05-29 14:23] fjeremic commented on #5276
More confusion regarding Dockerfiles and inconsistencies between them:
https://openj9.slack.com/archives/CDS7QE9HB/p1559138535012500

[2019-05-29 14:47] LongyuZhang opened #5931 "CryptoTest failed with $TEST_JDK_HOME/bin/java as $(JAVA_COMMAND) for jdk8 on windows"
cmdLineTester_CryptoTest works with $TEST_JDK_HOME/jre/bin/java as $(JAVA_COMMAND), but failed with $TEST_JDK_HOME/bin/java, for jdk8 on windows

Failure link: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/2452/console

------------

Public link to the failing test.
If the link is not public, instead include
- test category : functional
- test suite name: openssl
- OS/a

[2019-05-29 14:51] charliegracie commented on #5918
I will have to spin up my Windows machine but running quickly on my Linux machine I see the following results.

VMs being used are the latest JDK8 LTS builds from AdoptOpenJDK:
OpenJ9
[code]

HotSpot
[code]

Results from the run:
OpenJ9:
[code]

OpenJ9 cold run with `-Xshareclasses`:
[code]

OpenJ9 warm run with `-Xshareclasses`:
[code]

HotSpot:
[code]

My results are very consistent.

[2019-05-29 15:00] charliegracie commented on #5918
Since I had JDK 12 builds as well I tested them and they were pretty similar, except the OpenJ9 runs were all about 1 second slower. I did destroy my Shareclasses cache before I started using the new JDK12 builds.

[2019-05-29 15:09] dsouzai commented on #5918
In light of @charliegracie's results, the one difference I see in the options he used is that `Xms` was also specified. I was having a discussion with @r30shah and he mentioned that in the past, adding the `Xms` option does tend to improve the performance. I wonder if that's what's resulting in @charliegracie's results showing better perf. Granted, we should probably wait until Charlie spins up hi

[2019-05-29 15:13] charliegracie commented on #5918
I just re-ran with the same -Xms option as @jsimomaa and I reproduced my results.  The initial heap setting is not affecting these results.

[2019-05-29 15:15] pshipton commented on #5889
I don't think OpenJ9 is the correct place to discuss this. OpenJ9 is a replacement virtual machine to Hotspot, and unrelated the awt implementation. A Google search turned up https://openjdk.java.net/projects/sumatra/

[2019-05-29 15:15] #5889 closed

[2019-05-29 15:15] JamesKingdon commented on #5918
Ok, I got the testcase running. I find a smaller deficit when running without shareclasses, and an improvement when running with. It looks like there's a significant platform dependency that I don't understand, but I wonder if it relates somehow to the OS or filesystem.

Java versions compared, both downloaded from AdoptOpenJDK a week or so ago:

Hotspot:
openjdk version "1.8.0_212"
OpenJDK Runtim

[2019-05-29 15:18] JamesKingdon commented on #5918
ah, sorry, I should have refreshed before posting - I missed Charlie's results. Oh well, more data points fwiw.

[2019-05-29 15:21] JamesKingdon commented on #5918
Makes a difference for me.

[2019-05-29 15:23] charliegracie commented on #5918
Did you go from no `-Xms` to a `-Xms`? My comments were about switching from `-Xms1g` to -Xms128m`.

[2019-05-29 15:24] pshipton commented on #5889
https://openjfx.io/ might be of interest.

[2019-05-29 15:24] JamesKingdon commented on #5918
Yes, I went from no -Xms to setting -Xms = -Xmx

[2019-05-29 15:25] JamesKingdon commented on #5918
ah, default Xms is only 8M, that would hurt

[2019-05-29 15:30] pshipton commented on #5931
Using the 0.14.2 build from Adopt, I wasn't able to reproduce this on a 64-bit JVM, but I can reproduce it using a 32-bit JVM.

[2019-05-29 15:31] pshipton commented on #5931
@groeges can you please take a look at this.

[2019-05-29 15:35] charliegracie commented on #5918
Windows results on a Windows Server 2012 R2 with 8CPUs
HotSpot:
[code]

`jdk8u212-b03\bin\java -Xms128m -Xmx1g -jar spring-boot-openj9\target\spring.boot.openj9-0.0.1-SNAPSHOT.jar`

18.59s,16.844s,16.313

OpenJ9:
[code]

`jdk8u212-b04\bin\java -Xms128m -Xmx1g -jar spring-boot-openj9\target\spring.boot.openj9-0.0.1-SNAPSHOT.jar`

11.985s,14.252s,12.188s

OpenJ9 with `-Xshareclasses`:
`jdk8u212-b04\

[2019-05-29 15:39] DanHeidinga commented on #5907
I'm not clear on what your trying to do here.  Sorry, the OpenJ9 project can't provide support for Jenkins build pipelines.

[2019-05-29 15:39] #5907 closed

[2019-05-29 15:40] JamesKingdon commented on #5918
That looks pretty good. Which leaves us with the question of what's going on with the OP's setup.

[2019-05-29 15:43] charliegracie commented on #5918
Yep.  Trying to see if I can limit my runs to a single CPU to see if that matters.  The OP only has a single CPU.

@jsimomaa would it be possible run the following command using the OpenJ9 VM and provide the javacore*.txt and the gc.log?
`java -Xms128m -Xmx1g -Xdump:java:events=vmstop -Xverbosegclog:gc.log -verbose:gc Foo`

[2019-05-29 15:43] jsimomaa commented on #5918
Interesting results indeed - of course Windows Server 2012 is not the same than Windows 10 so there is still a difference. Is there something more I could do or test with my setup?

I think I can get an access to a Windows Server 2012/2016 as well to run my benchmark there.

[2019-05-29 15:45] JamesKingdon commented on #5918
Single cpu, but it was 8 cores I think? I seem to remember seeing multiple active JIT compilation threads in the logs.

[2019-05-29 15:48] jsimomaa commented on #5918
Here is the output of the command @charliegracie suggested:

[code]

And here are the files:
[gc.log](https://github.com/eclipse/openj9/files/3233298/gc.log)
[javacore.20190529.184509.18644.0001.txt](https://github.com/eclipse/openj9/files/3233299/javacore.20190529.184509.18644.0001.txt)

[2019-05-29 15:49] jsimomaa commented on #5918
Yes, single CPU and 8 cores (`I7-6700HQ`).

[2019-05-29 15:51] charliegracie commented on #5918
Using `start /affinity 1 <command>` slowed both JVMs down and appeared to affect HotSpot even more than OpenJ9.

I should be able to spin up a Windows 10 machine to check things out.

[2019-05-29 15:55] ShishirH commented on #5374
https://github.com/eclipse/openj9/pull/5894 fixes the issue.

[2019-05-29 15:55] JamesKingdon commented on #5918
That's very close to the i7-6820HQ that I ran on, which makes the difference in absolute times we are seeing pretty weird. IO? I'm running on Linux with an ext4 filesystem on SSD.

[2019-05-29 16:00] rubin55 commented on #527
I actually ran into this today, the fact that openj9 does not show effective settings with `java -XX:+PrintFlagsFinal -version`. Just want to let you guys know that that's very unhelpful! Is there another way to obtain this information when using openj9?

[2019-05-29 16:00] charliegracie commented on #5918
@jsimomaa while I spin up a Windows 10 image could you do one last test. Could you add `-Xdump:java:events=vmstop` to your OpenJ9 command line when you are starting the spring application and provide that javacore.*.txt file? Thanks so much for helping dig into this issue!

[2019-05-29 16:00] jsimomaa commented on #5918
Here NVMe PM951 SAMSUNG 512GB and supposedly on NTFS filesystem..

[2019-05-29 16:09] pshipton commented on #527
Only for some sub-sets. Is there something in particular you are looking for?

`-verbose:sizes`
`-Xdump:what`
`-Xtrace:what`
`-verbose:gc` shows some settings

[2019-05-29 16:10] jsimomaa commented on #5918
Well this is getting interesting - I ran (**note:** without `-Xshareclasses`):

[code]

And my startup was:

[code]

But now **with** `-Xshareclasses` (which I've used for every run during this debugging):

[code]
[code]

So it seems the `-Xshareclasses` is slowing things down on my setup..

Here is the javacore.txt file @charliegracie requested:
[javacore.20190529.190736.13032.0001.txt](https://g

[2019-05-29 16:12] rubin55 commented on #527
Aaah awesome, thanks! I was looking for initial/maximum memory sizes; `-verbose:sizes` shows me what I'm looking for.

[2019-05-29 16:12] jsimomaa commented on #5918
And here javacore.txt with both `-Xshareclasses -Xdump:java:events=vmstop`:

[code]
[code]

[javacore.20190529.191139.19200.0001.txt](https://github.com/eclipse/openj9/files/3233408/javacore.20190529.191139.19200.0001.txt)

[2019-05-29 18:30] DanHeidinga opened #5940 "Determine if `systemClassLoader` property is still relevant to Java 9+"
https://github.com/eclipse/openj9/blob/097492a09bfc0767aeea69141794c39063e080db/jcl/src/java.base/share/classes/java/lang/ClassLoader.java#L213-L233

This code looks up the property and takes action it it's set but the resulting ClassLoader object is never assigned to anything.

Either this code is bogus in 9+ (likely) or we're missing something to support it.

[2019-05-29 18:44] DanHeidinga commented on #5940
Looking at the javadoc for ClassLoader#getSystemClassLoader():

http://cr.openjdk.java.net/~iris/se/12/latestSpec/api/java.base/java/lang/ClassLoader.html#getSystemClassLoader()

[2019-05-29 19:24] JasonFengJ9 commented on #5940
`sysTemp = com.ibm.oti.vm.BootstrapClassLoader.singleton();` referred was in `/*[ELSE]*/` block of `/*[IF Sidecar19-SE]*/`, so it is for `Java 8` just like `sysTemp = (ClassLoader)Class.forName(systemLoaderString,true,null).newInstance();` three lines after it.
Later it is assigned to `bootstrapClassLoader` as following: https://github.com/eclipse/openj9/blob/e01d70f115f1a9b2cdd34aa4d44af10f042a90

[2019-05-29 19:33] pshipton commented on #5940
The "java.system.class.loader" behavior is implemented here
https://github.com/eclipse/openj9/blob/388014125ba7278f4f3721d7f51bcd06ffa8c976/jcl/src/java.base/share/classes/java/lang/ClassLoader.java#L1068

The "systemClassLoader" properly is a J9 extension which is obsolete for Java 11+. The code can be cleaned up to remove the unused bits.

[2019-05-29 19:37] a7ehuo commented on #5856
The client side fails in the following section in `ssl3_read_bytes()`.
https://github.com/openssl/openssl/blob/23373fea190e7e2f4342d9656afdbcf909600445/ssl/record/rec_layer_s3.c#L1459

It is related to the API used to choose the protocol version when creating `SSL_CTX`. Somehow the way of how our client and server are set up would only work with TLSv1.2 but not TLSv1.3. Using either `TLS_client_me

[2019-05-29 20:05] DanHeidinga commented on #5665
I suspect that there's a reasonable limit to the numbers of lambdas likely to be generated in a class so matching on the "HostClassName$$Lambda$" is a good first heuristic.

Another may be to capture some limited amount of the stacktrace as the classpath equivalent for this class.  Provided the capture / compare of the stacktrace is faster than the repeated compare of the romclasses, we'd come out

[2019-05-29 20:14] charliegracie commented on #5918
That is very interesting. For some reason adding `-Xshareclasses` is making things slower on your system. @JamesKingdon or @dsouzai or @mpirvu can we disable AOT for the shared classes cache via a command line option? It would be interesting to see if just have the ROM classes in the cache slows things down.  If it does then it feels like some sort of file IO or something that is making shared cla

[2019-05-29 20:18] jsimomaa commented on #5918
Yes, Windows Defender but I've turned it off and have verified that the process is not active during the Spring Boot app startup.

Also made me think of my SSD performanace but I ran couple of benchmarks and the disk seems to be in good shape.

[2019-05-29 20:19] mpirvu commented on #5918
`-Xnoaot` will disable AOT, but will leave the sharing of classes.

[2019-05-29 20:21] mpirvu commented on #5918
@jsimomaa Just to make sure, is the slowdown induced by `-Xshareclasses` seen in the second run, or just in the first? The first run is expected to be slower because the cache is empty (non-existent).

[2019-05-29 20:22] jsimomaa commented on #5918
The slowdown is on the second run. The first run takes even longer (approximately ~23 seconds).

[2019-05-29 20:24] charliegracie commented on #5918
If you delete your share classes cache and then run with `-Xshareclasses` and `-Xnoaot` what is the time for your first and second run? If it is still slow then there is likely some sort of issue with how the file is being read on your system.

[2019-05-29 20:30] jsimomaa commented on #5918
1. `java -Xshareclasses:destroyAll`
2. `java -Xshareclasses -Xnoaot -jar target\spring.boot.openj9-0.0.1-SNAPSHOT.jar`
[code]
3. `java -Xshareclasses -Xnoaot -jar target\spring.boot.openj9-0.0.1-SNAPSHOT.jar`
[code]
4. One more `java -Xshareclasses -Xnoaot -jar target\spring.boot.openj9-0.0.1-SNAPSHOT.jar`
[code]

[2019-05-29 20:33] JamesKingdon commented on #5918
So that's roughly a 60% penalty for just using the SCC. How strange.

[2019-05-29 20:34] charliegracie commented on #5918
That is very strange.  I am very interested in seeing how my Windows machine runs once I get all of the pre-reqs installed.

[2019-05-29 20:36] JamesKingdon commented on #5918
Is there anything strange about the C:\Users\Jani\AppData\Local\javasharedresources directory? Extra encryption or compression maybe?

[2019-05-29 20:38] jsimomaa commented on #5918
Yeah.. I am starting to think that

there is something not quite right with my machine here..

However, we have come down from the initial 160s startup time to ~12s so at least I've learned a lot.

Not that I'm aware of. [The folder contains two files](https://github.com/eclipse/openj9/issues/5918#issuecomment-496664920).

[2019-05-29 20:46] JamesKingdon commented on #5918
True, although it ought to be faster, so it's hard to let it go :) We were looking at making shared classes on by default, so we'd definitely want to know if there's a gotcha lurking on some platforms.
We are aware of some opportunities to improve debug mode, and hopefully that gap will be narrowed in future releases.

[2019-05-29 20:57] charliegracie commented on #5918
hmm my Windows 10 box is not showing a slowdown with `-Xshareclasses`.

default runs:
7.9s,7.8s,7.9s

shareclasses cold:
14.4s

shareclasses warm:
7.1s,6.9s,7.0s

I would have expected `-Xshareclasses` to provide more of a win but it is still a win even on this Windows 10 machine.

[2019-05-29 21:01] mpirvu commented on #5918
The improvements I see on my laptop (Windows 10 based) are significant:

 -Xms256m -Xmx1G
 Started Application in 6.133 seconds (JVM running for 7.087)
 Started Application in 6.433 seconds (JVM running for 7.332)
 Started Application in 6.539 seconds (JVM running for 7.485)

-Xms256m -Xmx1G -Xshareclasses -Xscmx100M
  Started Application in 14.555 seconds (JVM running for 16.19)
  Started Applica

[2019-05-29 21:04] jsimomaa commented on #5918
Here you go: https://drive.google.com/open?id=1dvNNXXmYQZqvlQRzkST4DRGMrm5nsfhh

[2019-05-29 21:06] hangshao0 commented on #5665
@sogutbera is currently using "HostClassName$$Lambda$0/00000000" as the class name. It is used in the rom class comparison, and also as the hashkey to locate the anonymous class in the shared cache. This is functionally equivalent to using "HostClassName$$Lambda$"

[2019-05-29 21:26] jsimomaa commented on #5918
I tracked the file accesses to `javasharedresources` folder with [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) and there were total of 5412 tracked events. I'm not sure if this helps at all but still I'm attaching the results here.

[procmon_spring.csv.txt](https://github.com/eclipse/openj9/files/3234541/procmon_spring.csv.txt)

[2019-05-29 21:30] jsimomaa commented on #5918
We are aware of some opportunities to improve debug mode, and hopefully that gap will be narrowed in future releases.

Okay, this is good to know.

So if I want to debug my application I either just use OpenJDK+HotSpot for that or suffer the performance loss with openJ9.

The app will run in production inside a container so there openJ9 **should** give me a nice boost in terms of performance. I ca

[2019-05-29 21:51] jsoref opened #5945 "travis-ci build failure com.ibm.oti.VMCPTool.Main"
Most of the last builds today have failed this way (including my travis-ci): https://github.com/eclipse/openj9/pull/5944#issuecomment-497092354
[code]

[2019-05-29 21:55] ChengJin01 commented on #5058
After fixing up a few minor issues during compilation, the cross-built JDK is functionally working now on the Linux-RISCV/QEMU as follows:
[code]
Given that DDR and other required libraries (X11, etc)  are disabled on the cross-build (due to the lack of support on the GNU cross-toolchain),  I will get started to set up the environment inside the Linux-RISCV/QEMU by installing all packages required

[2019-05-29 22:00] hangshao0 commented on #5665
To solve the repeated comparison of the romclasses, another possibility might be to take advantage of the first field `romSize` in struct `J9ROMClass`. (Not sure if we are already comparing this field in compareROMClassForEquality(), but Bera can confirm). I guess `romSize` can eliminate most anonymous classes under the same host class without going through a full class comparison.

[2019-05-30 00:44] pshipton commented on #5945
This problem was fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/182

[2019-05-30 00:44] #5945 closed

[2019-05-30 01:07] 15838028035 commented on #5907
okay ! thanks ! i have fixed it ,    used jenkins pipline params

run jenknins jobs

[2019-05-30 01:08] 15838028035 opened #5946 "openj9 not support jfx?"
openj9 not support jfx?

i use jkd8 it support jfx

[2019-05-30 01:25] pshipton commented on #5946
There is just https://openjfx.io/

[2019-05-30 01:25] #5946 closed

[2019-05-30 01:25] pshipton commented on #5946
https://adoptopenjdk.net/migration.html#openjfx

[2019-05-30 02:17] mpirvu commented on #4205
I evaluated the effect of `export TR_DisableNoIProfilerDuringStartupPhase=1` on ODM 5Path when using SCC with bootClassesOnly and the regressions seems to go away. I cannot give a precise number because the fluctuations were high and I had a small number of runs.

I also evaluated tomcat startup in 4 scenarios
1) No SCC ==> startTime=4009 ms
2) SCC ==> startTime=2268 ms
3) SCC bootClassOnly ==> st

[2019-05-30 03:21] DanHeidinga commented on #5058
Congrats @ChengJin01 on this major milestone!

[2019-05-30 03:30] #5940 closed

[2019-05-30 07:06] jsimomaa commented on #5918
I had the chance myself to test this on a fresh Windows 10 machine and here are the results:

1. First with [jdk8u212-b03 (HotSpot)](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u212-b03)
[code]

[code]

2. Second with [jdk8u212-b04_openj9-0.14.2](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u212-b04_openj9-0.14.2)

[code]

[code]

[code]

So similar res

[2019-05-30 12:03] lumpfish opened #5950 "java_lang_invoke_MethodHandlesProxiesTest failure on jdk8u"
Failure link

https://ci.adoptopenjdk.net/job/openjdk8_j9_openjdktest_x86-64_linux/547/testReport/

    test category: openjdk
    test suite name: jdk_lang
    OS/architecture: fails on all platforms

java -version
05:42:04  openjdk version "1.8.0_222"
05:42:04  OpenJDK Runtime Environment (build 1.8.0_222-201905290400-b04)
05:42:04  Eclipse OpenJ9 VM (build master-501661ce5, JRE 1.8.0 Linux amd6

[2019-05-30 12:21] mpirvu commented on #5918
I can reproduce the regression with Xshareclasses using the jdk8u212-b04_openj9-0.14.2 SDK (the one used by @jsimomaa). My results above (https://github.com/eclipse/openj9/issues/5918#issuecomment-497107621) were using a development driver I had on my laptop.
The regression is seen even with -Xnoaot, so it's related to class sharing infra rather than AOT.

[2019-05-30 12:21] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly/48

[2019-05-30 12:24] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_mac_OpenJDK/18
J9vmTest_5
[code]

[2019-05-30 12:45] DanHeidinga commented on #5918
fyi @hangshao0

[2019-05-30 12:46] charliegracie commented on #5918
Hmm interesting since I was using the same VM as the OP and I was not seeing any regression.

[2019-05-30 12:49] charliegracie commented on #5918
@mpirvu any chance you can grab a profile so we can see where all of the time is being spent? The only Windows machines I have access to with Windows 10 are virtualized instances so that may be why I can not reproduce.

[2019-05-30 13:07] groeges commented on #5931
The issue seems to be that the relevant libcrypto dll file is not in the ./bin directory.
It is available in the ./jre/bin directory which is why the test passes when run using ./jre/bin/java.
If the dll is copied into ./bin then running using ./bin/java also works.
Investigating how to get the dll into the correct directories.

[2019-05-30 13:26] pshipton commented on #5931
@groeges The file should be found in the jre/bin directory, I don't think other similar libraries have multiple copies.

[2019-05-30 13:29] vijaysun-omr commented on #4205
Thanks, this leads to potentially two things to do:

In the short term, maybe detect when we are dealing with a "default SCC" and run the IProfiler during startup as a change to perhaps allow "default SCC" to be enabled sooner rather than later (assuming other benchmarks are also good from a throughput standpoint with that change).

In the longer term, understand why the persisted IProfiler info i

[2019-05-30 13:45] charliegracie commented on #5918
Also @mpirvu what was the java -version from your development build? The SHAs will help track down changes

[2019-05-30 14:02] JamesKingdon commented on #5918
I pulled the 14.2 build for Linux just to see if there was any sign of the regression on that platform, but I'm not seeing it.

[2019-05-30 14:33] DanHeidinga commented on #5950
@mikezhang1234567890 Can you take a look at this?

[2019-05-30 14:37] pshipton commented on #5895
@DanHeidinga did you mention this issue can be closed?

[2019-05-30 15:37] hangshao0 commented on #5918
I suspect it is related to timestamp checking of the jars. We do timestamp checking to make sure the jar files are not updated when returning classes from the shared cache. Probably it is worth trying with `-Xshareclasses:noTimestampChecks`

[2019-05-30 15:41] JamesKingdon commented on #5918
Nice - while 14.2 didn't have a regression, turning off the timestamps does give me a startup boost:

1.93, 1.947, 1.985

vs around 2.6s before. It's really flying now!

[2019-05-30 15:41] hangshao0 commented on #5918
I remember @mpirvu did some benchmark tests before showing that the timestamp checking has more performance impact on Windows than on Linux.

[2019-05-30 15:42] JamesKingdon commented on #5918
That fits. I wonder what else we did going from 14.0 to 14.2 that compensates for the timestamp checking overhead (at least on Linux).

[2019-05-30 15:43] JamesKingdon commented on #5918
So, after we have started loading classes from the SCC, if we discover the timestamp has changed what do we do? I'm just wondering if there is any need to check the timestamps on every access, or if once per run or once per <arbitrary interval> would be sufficient.

[2019-05-30 16:04] hangshao0 commented on #5918
We do not return the class from the shared cache. The class loader goes to the disk to load the class as usually.

A bit of history: On Windows, the jar file cannot be updated if it is hold open. So we skip timestamp checking if the jar file is opened. JCL knows the info if a Jar file is open or not, and used to provide such info to the JVM. Howerver, the patch on the JCL side to detect such info

[2019-05-30 16:30] hangshao0 commented on #5918
OK, I have run the test on my Windows10 using the jdk8u212-b04_openj9-0.14.2 SDK (the one used by @jsimomaa).

1. No SCC
[code]

2. cold SCC
[code]

3. warm SCC
[code]

4. warm SCC with noTimestampChecks
[code]

So timestamp checking is slowing things down (from 4s to 13s). This issue should be gone once JCL add the missing patch back that detects jar file open. But for now if you are not updating

[2019-05-30 17:05] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_OMR/96

[2019-05-30 17:52] pshipton commented on #5665
The `romSize` is affected by UTF8 sharing. i.e. two ROM classes can be equivalent but be different sizes because they have different shared UTF8's.

[2019-05-30 17:53] pshipton commented on #5665
A simple solution, although it could cost a little more space, is to disable UTF8 sharing for anonymous classes.

[2019-05-30 18:07] hangshao0 commented on #5480
About changing the format of cache file name. I am thinking about adding `L<LayerNumber>` after the generation number. Do we want to 2 digits or 1 digit for the layer number ? Using 1 digit allows us to support as many as 10 layers and 2 digits allow 100 layers.

The new cache file name would be something like: `C290M4F1A64P_CC1_G37L1` or`C290M4F1A64P_CC1_G37L01`

[2019-05-30 18:13] mpirvu commented on #5480
While 10 layers seem plenty today we cannot anticipate how customers will use it in the future, so I would say 2 digits is better unless there is a disadvantage to it.

[2019-05-30 18:48] #5872 closed

[2019-05-30 19:33] #5707 closed

[2019-05-30 19:52] sogutbera commented on #5665
`_interningEnabled = J9_ARE_ALL_BITS_SET(_bcuFlags, BCU_ENABLE_INVARIANT_INTERNING) && J9_ARE_NO_BITS_SET(_findClassFlags, J9_FINDCLASS_FLAG_ANON);
`
This is how the _interningEnabled variable is initialized so for anonymous classes we don't need to worry about that.

[2019-05-30 20:11] #4443 closed

[2019-05-30 21:39] hangshao0 commented on #5665
Bera is changing the code to compare `romSize` first for anonymous classes. We will continue to full class comparison only when romSize is the same.

[2019-05-30 21:50] phelgren opened #5961 "Unhandled exception Using native Sass compiler"
Java -version output
--------------------

openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-b04)
Eclipse OpenJ9 VM (build openj9-0.14.2, JRE 1.8.0 Windows 10 amd64-64-Bit Compressed References 20190521_368 (JIT enabled, AOT enabled)
OpenJ9   - 4b1df46fe
OMR      - b56045d2
JCL      - a8c217d402 based on jdk8u212-b04)

Summary of problem
------------------

I replaced the Or

[2019-05-31 03:10] DanHeidinga commented on #5895
This is confirmed fixed - closing.
https://github.com/eclipse/openj9/pull/5902#issuecomment-496478156

[2019-05-31 03:10] #5895 closed

[2019-05-31 03:27] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_OMR/96

[2019-05-31 03:33] DanHeidinga commented on #5961
Can you try running with `-Xcheck:jni` and provide the output here?  It can help narrow down whether there is a JNI issue or something else going on.

[2019-05-31 05:34] jsimomaa commented on #5918
@hangshao0 Yep, I can confirm the same behavior on my setup!

1. No SCC

[code]

2. cold SCC

[code]

3. warm SCC

[code]

4. warm SCC with `noTimestampChecks`

[code]

So to me seems like we've found the culprit that's causing the overhead here.

[2019-05-31 10:17] JamesKingdon commented on #5918
Once that change is in, can we revisit this question to see how much overhead remains on different platforms? I'm intrigued by the 30% or so benefit that noTimestampChecks gives on Linux at the moment - I don't think we should leave that on the table if we can avoid it. @mpirvu

[2019-05-31 11:41] pshipton commented on #5450
Not sure if this is a real problem. I notice the `00:27:04  Cannot contact win2012r2-x86-3: java.lang.InterruptedException`

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly/46
[code]

[2019-05-31 11:46] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_Nightly/49

[2019-05-31 11:47] pshipton commented on #5489
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/50

[2019-05-31 11:52] mpirvu commented on #5918
On Linux, using Liberty start-up, `noTimestampChecks` gives me less than 1% which is noise.

[2019-05-31 12:42] JamesKingdon commented on #5918
I wonder why this test shows so much more impact - maybe Spring boot brings in a larger number of jars?

[2019-05-31 15:03] charliegracie commented on #5918
I was also able to reproduce a big win on Linux launching this spring application by adding the noTimestampChecks. I definitely think this is something we should investigate further! With `-Xshareclasses:noTimestampCheck` on Linux this application starts up 2X as fast as HotSpot.

[2019-05-31 15:05] charliegracie commented on #5918
Originally the jar of jar files did not work with `-Xshareclasses` so I wouldn't be surprised if the timestamp for each individual jar inside the wrapping jar file is also being checked. 157 jar files would be larger than any app I normally run by a very big margin.

[2019-05-31 15:07] amicic commented on #4769
@akrus We put a fix, so that no workaround (with larger region size) is required any more.

Perhaps it's still good to keep region size slightly larger (128K or 256K) than default (64K)  to reduce metadata processing overhead (and shorten GC cycle time). rather than (512K or 1M), which could cause more fragmentation and longer pauses in sweep (since sweep use 1 region as unit of work, it may be >1

[2019-05-31 15:12] gacholio opened #5966 "DDR JIT stack walker takes insufficient parameters"
The `!jitstack` and `!jitstackslots` command in DDR are used to start the stack walk at a JIT frame by providing sufficient root values to walk the stack.

Currently, the root values are `vmThread`, `SP`, 'PC' and (optionally) ELS. For a complete walk, values for `j2iFrame` and `i2jState` must also be provided (like ELS, they are currently inferred from the vmThread). The two new args should be ad

[2019-05-31 15:12] hangshao0 commented on #5918
We only check the timestamp of the outside most jar, which is spring.boot.openj9-0.0.1-SNAPSHOT.jar in this case.
For Liberty, one possibility is that they might have called SharedClassURLHelper.setMinimizeUpdateChecks() in their java code that disabled most timestamp checks.

[2019-05-31 15:12] gacholio commented on #5966
Discovered while debugging #5449

[2019-05-31 15:14] gacholio commented on #5449
Rather than fixing the test, it might be better to test something more deterministic. Can you update the core generator to fork a thread specifically for this test? Basically, we want to ensure a JIT frame at the top of stack so the exiting test will work (once it's changed to target this specific thread rather than searching).

[2019-05-31 15:22] keithc-ca commented on #5781
I've started writing a shell script that will generate a Dockerfile for a specified distribution (on the host architecture). Then it should be simpler to add new distribution versions or deal with additional requirements.

[2019-05-31 15:26] hangshao0 commented on #5918
Probably on the VM side, we can change the default behavior to do timestamp check only once for each jar and introduce a new option "forceTimestampChecks" which does timestamp check on every load. @pshipton

[2019-05-31 15:36] JamesKingdon commented on #5918
Looking at the code, it looks like there's a need to add the concept of time-last-checked and the ability to specify an interval between checks. Checking the same jar timestamp at micro-second resolution makes little sense.

[2019-05-31 16:03] DanHeidinga commented on #5918
If I recall correctly, many of the design decisions for timestamp checking came about from supporting the SCC in development scenarios when you want to be sure you're running the very latest version of the code you just wrote.

[2019-05-31 16:09] JamesKingdon commented on #5918
Wouldn't that require a mechanism to monitor the FS and pro-actively unload jitted code?

[2019-05-31 16:18] DanHeidinga commented on #5918
That would be a further improvement / different feature.  This was to ensure that we picked the most recent version of the class available.

[2019-05-31 16:38] hangshao0 commented on #5918
We don't really "monitor" the FS, we do timestamp check (when necessary) before returning class from the shared cache. Not sure about jitted code, but for classes, if any JVM connecting to the shared cache detects an updated jar, we will mark all potentially stale classes in the shared cache as stale pessimistically. When we later know the class is not actually updated we will remove the stale mar

[2019-05-31 16:43] ashu-mehra commented on #5781
@keithc-ca last time I checked with @ShishirH, he has written some stuff for automating Dockerfile generation. @ShishirH, do you mind sharing the status of your work here and probably opening a PR if it is something Keith can start reviewing?

[2019-05-31 17:07] phelgren commented on #5961
Thanks Dan...in preparing the output, I came across some inconsistencies that lead me to a possible solution.  In my investigation I came across a notation in the Liferay IDE that may indicate where the problem lies.  I found the reference here:
https://dev.liferay.com/en/develop/tutorials/-/knowledge_base/7-0/compiling-sass-files-in-a-maven-project

It has this note: "Note: Liferay’s CSS Builder

[2019-05-31 17:20] ShishirH commented on #5781
@ashu-mehra Nothing concrete to show as of now. I was waiting for the discussions on https://github.com/eclipse/openj9/issues/5276 to conclude, to know whats the plan for the Dockerfiles, before I could start working on them.

[2019-05-31 17:44] JasonFengJ9 opened #5969 "JTReg Test Failure - serviceability/jvmti/HeapMonitor/MyPackage/HeapMonitorArrayAllSampledTest.java"
Failure link
------------

N/A - local run with https://github.com/eclipse/openj9/pull/5968

Optional info
-------------

- intermittent failure (yes)
- new feature test

Failure output
--------------

There are two failures:

[code]

Diagnose files are at `/team/triage/gitissue5969/gc-core-0x00020002`.

[code]
Diagnose files are at `/team/triage/gitissue5969/vm-core`.

[code]

https://github.com/

[2019-05-31 17:50] dsouzai commented on #5918
Wouldn't that be equivalent (in a non SCC run) to a JVM loading classes, and then someone modified the jars on disk? I don't think the currently running JVM is expected to now start using the updated jars is it? I would've thought that it just affected the next JVM instance.

[2019-05-31 18:06] JamesKingdon commented on #5918
Yes, that's where I was heading. I don't think we can be sure that we're running the very latest version of the code, so it probably doesn't matter to anyone if we only check for updates every 100ms instead of on every class load.

[2019-05-31 18:21] ChengJin01 commented on #5058
Already set up the environment in the Linux-RISCV/QEMU and currently working on the following issue detected during the compilation:
[code]
There are a bunch of the exceptions on failure to locate the native `awt `library (`/lib/libawt.so`) in the boot JDK as it can't be generated outside due to the lack of X11 support on the cross-toolchain.

Given that the native build should be able to generate

[2019-05-31 18:38] dmitripivkine commented on #5969
Would you please try to use -Xgcpolicy:optthruput and in case it crashed in GC provide system core?

[2019-05-31 18:38] pshipton commented on #5918
if classes are modified and we get some from the cache and some from the jar, they may not be compatible with each other

[2019-05-31 18:40] JamesKingdon commented on #5918
What has be described so far certainly doesn't prevent that case.

[2019-05-31 18:58] gacholio commented on #5449
To ensure a compiled method, use Compiler.compileClass. I would suggest a thread which ends with a jitted method that calls wait().

[2019-05-31 19:00] gacholio commented on #5449
Also, once the test is targetting the known thread, it should succeed if a jitted method is not found (the test was run in a mode which prevented jitting for whatever reason).

[2019-05-31 19:34] 0xdaryl opened #5972 "Cache result of JIT objectAlignmentInBytes()"
Each time `TR::Compiler->om.objectAlignmentInBytes()` is queried (or the deprecated `FrontEnd->getObjectAlignmentInBytes()`) it results in a call back into the JVM to query the answer.  This answer does not change for a particular JVM instance, hence the answer should be cached to avoid the overhead of the callback.

[2019-05-31 19:35] dmitripivkine commented on #5969
Also I would like to see all system cores collected if any, particularly for crashes in GC.

[2019-05-31 19:36] DanHeidinga commented on #5058
@ChengJin01 does running with `-Djava.awt.headless=true` help?  It puts the VM into an headless mode which may avoid the need for AWT

[2019-05-31 19:53] 0xdaryl commented on #5972
Related: #5904

[2019-05-31 19:56] ChengJin01 commented on #5058
@DanHeidinga,   unfortunately it doesn't work as the -Djava.awt.headless=true option is already specified in the existing the script code according to the compilation log. e.g.
[code]
It seems the java code in OpenJDK (specifically in loadLibraries() at at src/java.desktop/share/classes/java/awt/Toolkit.java)  is forced to load the native library as long as X11 is enabled.

[2019-05-31 20:27] andrewcraik commented on #5918
File timestamps are not atomically updated and are not guaranteed to be updated for any given file update. Given the limited resolution of operating system timers and the aforementioned limitations of timestamps no scheme based on timestamp checking can ensure a file read twice at two different points in time is actually the same file.

[2019-05-31 20:34] keithc-ca commented on #5238
I plan to address this in the script I'm writing for #5781.

[2019-05-31 21:17] gacholio opened #5975 "Use static_assert for alignment checks instead of relying on ctest"
Since ctest is no longer able to run without running java code, it doesn't serve much purpose.

Move as many of the alignment checks in structures like J9VMThread to static assertions in the header file (when C++ is enabled).

This will make alignment failures a compile error instead of relying on the runtime.

[2019-05-31 21:19] gacholio commented on #5975
While we're at it, perhaps someone can explain why this didn't work:

https://github.com/eclipse/openj9/blob/d62d66ab717a8dffd56e1c1d698ee1135db10c28/runtime/oti/j9.h#L360

[2019-05-31 21:57] fjeremic commented on #5876
@0xdaryl @Leonardo2718 FYI another use case for Tril on OpenJ9. This would have definitely been caught in primitive IL tests where we pass constants to evaluators. In this case an `aconst NULL` child of a `checkcastAndNULLCHK`

[2019-05-31 23:23] guekho64 commented on #5651
Sorry for not paying attention to this lately, I've been doin' other things in the meantime. I'll try your code as soon as I can @charliegracie.

Thanks for your attention!

[2019-06-01 03:03] pshipton opened #5979 "Java 13 AbstractStringBuilder cannot find symbol isLatin1()"
Failing in JDKnext OpenJDK-Acceptance. Disabled this build until the problem is fixed.
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/30/
[code]

[2019-06-02 17:56] pshipton opened #5981 "jdk12 sanity.functional cmdLineTester_jvmtitests_soae_3 soae001 soae001.check() failed, expected 1 but got: 2"
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_ppc64le_linux_Nightly/50
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_windows_Nightly/49
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_Nightly/54
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_s390x_linux_Nightly/50
https://ci.eclipse.org

[2019-06-02 17:57] pshipton commented on #5981
Caused by #5968
@JasonFengJ9 @gacholio

[2019-06-02 19:10] akrus commented on #4769
@amicic, thanks! I've updated the build here with AdoptOpenJDK nightly from 02/06/2019, so will probably have some results in a couple of days.

[2019-06-02 21:55] JasonFengJ9 commented on #5981
Will relax the condition, anything more than `1` is acceptable.

[2019-06-03 12:55] andrew-m-leonard opened #5988 "jdk11: jtreg java/util/concurrent/ArrayBlockingQueue/WhiteBox.java crashes on MacOS"
Failure link
------------
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder_Advanced/10/console

If the link is not public, instead include
- test category (functionality, system, etc): openjdk
- test suite name: java/util/concurrent/ArrayBlockingQueue/WhiteBox.java
- OS/architecture (i.e. Ubuntu 16.04 x64): MacOS
- OpenJDK version (i.e. 8u202-b08): jdk-11.0.3+7_openj9-0.14

[2019-06-03 13:01] DanHeidinga commented on #5988
@andrew-m-leonard I see a couple of different crashes in the Jenkins output.  Are you able to capture the javacores / system cores / etc from the crashes to aid the investigations?

[2019-06-03 13:08] pshipton commented on #5489
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/53

[2019-06-03 13:09] pshipton commented on #5449
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly/52

[2019-06-03 13:14] andrew-m-leonard commented on #5988
13:26:32  [2019-06-03 08:26:32,170] Agent[1]: stderr: 12:26:32.170 0x8913300 omrport.359    *   ** ASSERTION FAILED ** at ../../omr/port/common/omrmemtag.c:145: ((memoryCorruptionDetected))

[2019-06-03 13:18] andrew-m-leonard commented on #5988
@DanHeidinga I'm not aware of a way of getting hyc-runtimes dumps? @AdamBrousseau does the worspace get cleared?

[2019-06-03 13:52] JasonFengJ9 commented on #5988
This might be the same issue reported at https://github.com/eclipse/openj9/issues/5399, particularly https://github.com/eclipse/openj9/issues/5399#issuecomment-481877959.

[2019-06-03 14:21] dmitripivkine commented on #5969
Also would you please try -Xint?

[2019-06-03 14:21] #5981 closed

[2019-06-03 14:25] smlambert commented on #5988
Dumps are in the archived [openjdk_test_output.tar.gz](https://na.artifactory.swg-devops.com/artifactory/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com/Grinder_Advanced/13/openjdk_test_output.tar.gz) file uploaded to artifactory.

<img width="645" alt="Screen Shot 2019-06-03 at 10 24 11 AM" src="https://user-images.githubusercontent.com/2836948/58809363-ca55b700-85e9-11e9-8ee6-f4ddb17e97

[2019-06-03 14:28] JasonFengJ9 commented on #5969
Tried `-Xint` before, similar results.

[2019-06-03 14:54] #5979 closed

[2019-06-03 14:56] DanHeidinga opened #5991 "Remove the `AOT_LOAD` resolve flags as they are no longer used"
Now that `Use JIT_COMPILE rather than AOT_LOAD resolve flag` #5903 has merged, we should remove references to the AOT_LOAD flags from the VM code as well.

[2019-06-03 15:14] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_OMR/95

[2019-06-03 15:39] gacholio commented on #5966
While we're at it, both the C and DDR walkers should output the `j2iFrame` and `i2jState` values at the start of the walk and when they get updated.

[2019-06-03 15:56] DanHeidinga commented on #5988
Similar issue on `0.14.0` release:
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder_Advanced/13/console

Assertion failure:
[code]

[code]

[2019-06-03 16:06] DanHeidinga commented on #5988
In the cores from the `0.14.0` grinder, there are a couple of occurrences of #5399.
One of the issue in the comment above.

And another with a crash in `segmentInsertionComparator`:
<details>
<summary> stack trace</summary>
[code]
</details>

[2019-06-03 17:00] DanHeidinga commented on #5988
From the javacore: `1XHEXCPCODE    InaccessibleAddress: 00007F18590ADB4C`

[code]
Registers
[code]
so rdx is the bad value.

https://github.com/eclipse/openj9/blob/1fd11ed3ef289907b5241a64bf3de46ae2e4aa81/runtime/vm/segment.c#L629-L640

Likely the `walkNode`.

Need to get this into ddr and see if the avl tree is corrupt

[2019-06-03 17:21] dmitripivkine commented on #5969
this might help: https://github.com/eclipse/openj9/pull/5993

[2019-06-03 18:10] dnakamura commented on #5975
My suspicion is because we are not compiling with c++11 support

[2019-06-03 18:17] non-conformances-research opened #5994 "Constructor.getAnnotatedParameterTypes returns wrong type to annotated parameter related to a static inner class"
**Sample program:**

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u162-b12)

**Steps to reproduce:**

	1. Compile above program
	2. Ru

[2019-06-03 18:21] non-conformances-research opened #5995 "Constructor.getAnnotatedParameterTypes returns wrong type to annotated parameter related to an inner class"
**Sample program:**

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u162-b12)

**Steps to reproduce:**

	1. Compile above program
	2. Ru

[2019-06-03 19:16] non-conformances-research opened #5997 "Executable.getAnnotatedParameterTypes returns wrong type to annotated parameter related to a static inner class"
**Sample program:**

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u162-b12)

**Steps to reproduce:**

	1. Compile above program
	2. Ru

[2019-06-03 19:17] non-conformances-research opened #5998 "Executable.getAnnotatedParameterTypes returns wrong type to annotated parameter related to an inner class"
**Sample program:**

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u162-b12)

**Steps to reproduce:**

	1. Compile above program
	2. Ru

[2019-06-03 20:09] pshipton commented on #5994
Please try a newer release, it seems this problem has already been fixed.
[code]

result: `A$B<T>`

[2019-06-03 20:09] #5994 closed

[2019-06-03 20:10] pshipton commented on #5995
Please try a newer release, it seems this problem has already been fixed.
[code]
result: `A<T>$B<T>`

[2019-06-03 20:10] #5995 closed

[2019-06-03 20:12] pshipton commented on #5997
Please try a newer release, it seems this problem has already been fixed.
[code]
result: `A$B<T>`

[2019-06-03 20:12] #5997 closed

[2019-06-03 20:13] pshipton commented on #5998
Please try a newer release, it seems this problem has already been fixed.
[code]
result: `A<T>$B<T>`

[2019-06-03 20:13] #5998 closed

[2019-06-03 20:30] pshipton commented on #5848
Haven't seen this again.

[2019-06-03 20:30] #5848 closed

[2019-06-03 20:35] renfeiw commented on #5768
This is not the same test with two iterations. cmdLineTester_SCHelperCompatibilityTests_unix_0 and cmdLineTester_SCHelperCompatibilityTests_unix_1 are two tests with different JVM options, one is not applicable on the platform and the other is applicable. Two iterations will be displayed under the same test block with `(ITER_1)` and `(ITER_2)` to differentiate them.

[2019-06-03 20:36] renfeiw commented on #5768
Please close this issue, thanks.

[2019-06-03 20:41] #5768 closed

[2019-06-03 23:29] JasonFengJ9 commented on #5969
#5993 does fix this issue. Thanks @charliegracie

[2019-06-03 23:29] #5969 closed

[2019-06-04 03:52] #5991 closed

[2019-06-04 08:41] janvrany commented on #5058
Hi,
I have successfully managed to compile @ChengJin01 openjdk & openj9 on HiFive Unleashed (i.e., on a  physical hardware)
[code]

This is a native build on Debian (no cross compilation). AWT seems to be working just  fine, tried
[code]
window opens as expexted. However, it is very, very slow - that's expected as there's no JIT (not yet).

The whole process was fairly straightforward, essentially

[2019-06-04 09:47] doveye commented on #5822
Can you add a doc label please, if required.

[2019-06-04 12:16] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly/50/
5.LT2.stderr
[code]

[2019-06-04 12:18] pshipton commented on #3651
I  haven't seen this occur in the build, assuming fixed.

[2019-06-04 12:18] #3651 closed

[2019-06-04 12:21] JasonFengJ9 opened #6003 "Documentation for JEP 331"
`JEP 331` [1] has been implemented via #4461, #4618, #5869, https://github.com/eclipse/openj9/pull/5968.

@SueChaplain please update documentation and release notes.

Note: there are still couple of `JTreg` test issues being investigated. Also will test this functionality against `YourKit Java Profiler` as well.

[1] http://openjdk.java.net/jeps/331

[2019-06-04 12:34] DanHeidinga commented on #5822
I've added the doc label as this will need to be documented for Java 13.

The work here is to print a message to stderr if the options are used and to continue to recognize (and respect!) the options.

[2019-06-04 12:44] SueChaplain commented on #6003
@JasonFengJ9 - please create an issue at the openj9-docs repo and include anything that is specific to OpenJ9 for this JEP.

https://github.com/eclipse/openj9-docs/issues/new?template=new-documentation-change.md

[2019-06-04 12:48] DanHeidinga commented on #5988
I've opened a PR at OMR to make it easier to reason about the AVL code (https://github.com/eclipse/omr/pull/3944) and while it makes it easier to read the code, it won't fix this issue.

[2019-06-04 14:45] ChengJin01 commented on #5058
@janvrany , really appreciate your confirmation of the compilation on the physical machine ahead of us.

Here're a few questions I'd like to check with you:
1) Where is your boot JDK? it was supposed to be built with the cross-toolchain because there is no way to compile a native build without the cross-build as the boot JDK.
2) If the native build was compiled via the cross-build, theoretically i

[2019-06-04 14:46] JasonFengJ9 commented on #6003
Created https://github.com/eclipse/openj9-docs/issues/284.

[2019-06-04 14:46] #6003 closed

[2019-06-04 15:26] harryyu1994 commented on #4467
Proposed Design:

Client sends the version information after it establishes connection with the Server.
There will be at the maximum 7 connections in total for any given client.

Server sends back a message which will inform the client whether they are compatible or not. Client will switch to local compilations if incompatible.

A question, will there ever be a case where a compatible server come

[2019-06-04 16:02] sehirst opened #6005 "jdmpview has incorrect register contents on z/OS"
Reading a core dump generated by traditional Websphere Application Server from a segfault/0C4 abend/GPF, using `info thread`, the correct thread is selected but all the registers including the PSW do not have the values from the context of the crash, and thus are not useful.

[2019-06-04 16:21] keithc-ca commented on #6005
What tool did you use to determine the correct register values?

[2019-06-04 16:40] janvrany commented on #5058
You caught me. I cheated. I did not want to go through the pain of cross-compilation environment, have enough of that as @shingarov  mentioned above. So instead I use OpenJDK 11 in zero mode which is available in Debian's riscv64 repos. That works just fine, but it is very slow and I'm unpatient, so I cheated even more and created a "fake" JDK 11 by providing `java` (`javac` and so on) commands th

[2019-06-04 17:01] ChengJin01 commented on #5058
That explains why you can get through the disturbing issue with the native `awt `library as they are offered from OpenJDK/zero-mode on Debian.

In any case, we still prefer to  compile a full-featured native build via the cross-build in some way with our own changes rather than other means, which helps to confirm cross-builds and native-builds can be compiled with the same changes.

These messages

[2019-06-04 17:21] janvrany commented on #5058
Sure, I was just curious what would it take. In a long run one has to do it the proper way, no question about it.

Yes, they *do* exist in my `.../images/jdk/lib` directory.

[2019-06-04 17:30] ChengJin01 commented on #5058
That means the native build was compiled correctly with the OpenJDK/zero-mode on Debian/riscv64.

[2019-06-04 17:35] sehirst commented on #6005
The most reliable is IPCS. The internal tool KCA also gets the correct register values (with one small mistake with the PSW). The javacore also has the correct values.

[2019-06-04 17:53] sogutbera commented on #5665
I changed the class name to "HostClassName$$Lambda$0/00000000" and recovered it when shared classes are not available. Also modified the size variables since the number before the '/' could have more than 1 digit. Also in compareROMClassForEquality, if the class being compared is anonymous, I check if the ROM sizes match at first and return false if they don't so we don't do the other checks. I am

[2019-06-04 18:03] hangshao0 commented on #5665
I suggested Bera to test his change on some real world application.

[2019-06-04 18:13] DanHeidinga commented on #5831
@mpirvu Can you add a reference to your recent change to keep the iprofiler enabled if only bootclasses are in the SCC?

[2019-06-04 18:16] DanHeidinga commented on #4488
What does this do to something like healthcenter?  Is it still able to process the tracepoints required for HC to operate?  @keithc-ca

[2019-06-04 18:19] DanHeidinga commented on #5611
@ashbm5 @vij-singh Any progress on this?  We're coming up on the deadlines for 0.15

[2019-06-04 18:22] DanHeidinga commented on #5530
@andrew-m-leonard Have you had a chance to look at this further?  It would be good to get this resolved in OpenJDK

[2019-06-04 18:34] DanHeidinga commented on #3743
@amicic gentle ping.  Can you update this with the outlook?

[2019-06-04 18:41] gacholio commented on #5966
In fact, all of the stack commands should take the new optional parameters.

[2019-06-04 18:50] amicic commented on #3743
With some luck there is not much work left:
- make sure everything is still in order. I already tried it briefly a few days ago and while it seemed to work most of the time, it would intermittently `lose` hints. Need to investigate more.
- introduce a clean option to enable/disable the feature (right now I control it with a internal tuning/weight parameter which is set to 0, which effectively disa

[2019-06-04 19:34] caohaley commented on #5650
I will continue to look at this issue.

[2019-06-04 19:43] pshipton commented on #3743
This is just a matter of starting a number of JVMs at approximately the same time, such as starting up 20 JVMs running the SwingSet demo.

[2019-06-04 21:02] dsouzai opened #6011 "Crash in compiler in CondyPrimitive_* tests under forceAOT"
Failure link
------------
Happens in PR build with `sanity.functional+aot`

Optional info
-------------

- intermittent failure (yes|no): no
- regression or new test:  new test

Failure output
--------------

[code]

[2019-06-04 21:06] pshipton commented on #4488
To get healthcenter to work from a jlinked image, I had to include the following modules:
``
java.logging
java.management
java.management.rmi
java.naming
java.rmi
java.security.sasl
jdk.naming.rmi
[code]

[2019-06-04 21:13] pshipton commented on #4488
Tried with the `TraceFormat.dat` files removed, and it still seems to work.

[2019-06-04 21:31] dsouzai commented on #5831
I'd like to voice a concern regarding having the SCC enabled during the build process of OpenJDK+OpenJ9. The build step doesn't use a stable JVM to build java code (that ships with the JDK) that can't be javac'd using the bootstrap JDK, but rather the JVM we've just built. It's bad enough that a JVM bug could result in some unintentional "trusting trust" like problems. Enabling the SCC just adds a

[2019-06-04 23:55] mpirvu commented on #5831
This PR https://github.com/eclipse/openj9/pull/5967 eliminates the ILOG regression seen when the default shared class cache (the one that allows only bootstrap classes) is enabled.

This improvement is seen on my system. I would like to get further validation from our perf team.
Other applications could still be affected. For instance, my experiments with the old SPECjbb2005 benchmark show a remai

[2019-06-05 01:37] hzongaro opened #6015 "Clean-up API for TR_EscapeAnalysis"
Prior to merging pull request #5699, all fields and methods of `TR_EscapeAnalysis` were public.  In a [review comment on that pull request](https://github.com/eclipse/openj9/pull/5699#discussion_r282597704), @andrewcraik Andrew Craik recommended making a newly added method a protected part of the API.
As everything in `TR_EscapeAnalysis` was public, I took the easiest route of declaring most field

[2019-06-05 03:06] DanHeidinga commented on #5831
@dsouzai while I'm sympathetic to the concerns you've raised here, it's not an approach I'm comfortable with.  By enabling the SCC by default, we're asking everyone of our users to trust in the SCC / AOT by default.  It's awfully hard to argue that's correct thing for our users if we're not doing it ourselves.

[2019-06-05 07:51] andrew-m-leonard commented on #5530
not yet, I will create a contribution issue for someone to look at

[2019-06-05 07:52] andrew-m-leonard commented on #5530
https://github.ibm.com/runtimes/openjdk-contribution/issues/844

[2019-06-05 08:29] AntonKatilin commented on #5565
This bug was in JDK 12, and is labelled as fixed in 0.14.2. However, it seems there is no JDK 12 build 0.14.2 or newer available, there is only 0.14.2 for JDK 8 and 0.14.3 for JDK 11. Should we wait for upcoming 0.14.x release for JDK 12 with this bug fixed, or will its fix in a release (not in a nightly build) be actually postponed until 0.15?

[2019-06-05 11:27] dsouzai commented on #5831
Yeah that's fair. I guess I'm voicing this concern mainly because of the more fundamental problem I have, namely that we're using the current build to compile the java code. In terms of asking our users to trust in the SCC/AOT, well that's fine for a release build because we're confident that we've tested the release build sufficiently. However, I can't have the same level of confidence for say a

[2019-06-05 12:19] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_OMR/103

[2019-06-05 12:40] charliegracie commented on #5831
I do not think we are ready for this. The current issue raised on Windows where a run with a warm shared classes cache was slower than a run without any cache is a big concern for me.

[2019-06-05 12:56] pshipton commented on #5565
@AntonKatilin while technically the problem is fixed in the OpenJ9 0.14.2 branch (and also for 0.15), we decided against building a Java 12 release for 0.14.x at AdoptOpenJDK, since it is a short term support release, and to save on people resources. We're not planning any new release build at Adopt for Java 12 before 0.15. The nightly builds are available with the fix.

One option if you want to

[2019-06-05 14:40] DanHeidinga commented on #5918
@pshipton and I have been discussing alternative approaches.  There is a tentative design being considered but it needs more discussion in particular input from @hangshao0 is needed.

This will be updated when that design has been fleshed out more.

[2019-06-05 14:42] DanHeidinga commented on #5831
The issue @charliegracie refers to is: https://github.com/eclipse/openj9/issues/5918

And I agree it's an issue.  As a tactical fix, we're looking at re-introducing the JDK8 zip patches while a more cohesive plan is being developed.  @pshipton has a tentative initial approach for how to better handle timestamp checking.

[2019-06-05 14:43] DanHeidinga commented on #5831
@mpirvu can you clarify if that's a regression against the baseline (no SCC) or compared to a user-specified SCC?

[2019-06-05 14:44] PhilWakelin commented on #5048
Tested on FP36 GA build, and I now see the following Exception when starting threads breaches MEMLIMIT

[code]
This all looks good

[2019-06-05 14:47] PhilWakelin commented on #5375
Tested on FP36 and original testcase now shows `committed=20480K` during normal operation which is as expected for the JIT code cache.

[2019-06-05 15:11] hangshao0 commented on #5831
For Java 8, #5918 goes away with https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/311

[2019-06-05 15:24] smlambert commented on #6011
FYI: dmp files should be included in [test_output artifact from personal build 42](https://140-211-168-230-openstack.osuosl.org/artifactory/webapp/#/builds/Test_openjdk11_j9_sanity.functional_x86-64_linux_Personal/42/1559590386916)

[2019-06-05 15:24] pshipton commented on #5961
Added to the 0.15 milestone as a reminder to keep an eye on this.

[2019-06-05 15:36] hangshao0 commented on #5831
I believe we are only enabling sharing bootstrap classes by default here. #5918 is more of a problem when application classes are shared. For Java 9+, the bootstrap classes are from the Jimage and the timestamp of Jimage is only checked once for the life time of a JVM. We can change the code to do the same for bootstrap jars in Java 8.

[2019-06-05 15:50] vsebe commented on #5074
related OMR issue: https://github.com/eclipse/omr/issues/3927

[2019-06-05 16:40] hangshao0 commented on #5918
Peter just discussed with me. In Java 11+, we can get the jar file open information from the class loader rather than using the JCL zip_hook. Since this change may not make it to the 0.15.0 release, we can change the code to check the timestamp only once for each jar during the startup phase for the 0.15.0 release. This will at least partially solve this problem for 0.15.0. Later with jar file ope

[2019-06-05 16:44] vij-singh commented on #5611
@ashbm5 Can you comment please?

[2019-06-05 17:40] ashbm5 commented on #5611
@DanHeidinga it looks like the issue is related to MessageDigest's native resources being released before they should be, perhaps due to object resurrection. Unfortunately thus far I've been unable to reproduce this issue myself, my current plan is to re-write MessageDigest's native resources management code and shift it from using finalizers to phantom references which should give us a safer mech

[2019-06-05 18:11] DanHeidinga commented on #5611
We're going to do the code split for `0.15.0` on June 24th

[2019-06-05 18:13] #5649 closed

[2019-06-05 18:15] #5486 closed

[2019-06-05 18:15] #5464 closed

[2019-06-05 18:17] #5582 closed

[2019-06-05 18:33] mpirvu opened #6019 "Create env vars to set JITaaS options"
Current code accepts -XX: command line options to set the JITaaS mode, machine and port. Example: `-XX:JITaaSClient,server=xxx,port=xxx`
When running in docker it's much more convenient to change these parameters with command line options like:
TR_JITaaSServerMode = 1
TR_JITaaSClientMode = 1
TR_JITaaSPort = xxx
TR_JITaaSServerAddress = ...
The question is: if both command line options and env vars

[2019-06-05 18:50] pshipton opened #6022 "SharedClasses: Improve timestamping story - no assumption that Jar files are kept open"
Making available here the IBM design that resulted in the JVM_ZipHook implementation (https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/311).

Introduction
--------------
One of the main features of the Shared Classes component is its "dynamic update" capability. If a class changes on the filesystem, we detect this and ensure that the correct class is always returned from the cache or loaded

[2019-06-05 18:51] pshipton commented on #6022
@hangshao0 @DanHeidinga fyi

[2019-06-05 19:35] JasonFengJ9 opened #6024 "JTReg Test Failure - serviceability/jvmti/HeapMonitor/MyPackage/HeapMonitorVMEventsTest.java"
### OpenJ9 does not generate sufficient JVMTI sampling object allocation events when the sampling interval is set to zero  ###

This is a JTreg test failure against JEP 331 implementation.

Failure link
------------

N/A - local runs

Optional info
-------------

- intermittent failure (no):
- new feature test:

Failure output
--------------

[code]

Notes:
-------

The failed test code snippet is

[2019-06-05 23:34] pshipton commented on #6022
The current problems (#5918) are with ClassLoader's using class paths, i.e. the URLClassLoader. Loaders which use single URLs (OSGi/Eclipse) can/do already use the setMinimizeUpdateChecks() API to do minimum timestamp checking.

- the zip state is registered by file name, and is not associated with a ClassLoader. This may cause problems when the file name is opened/closed by more than one ClassLoa

[2019-06-06 01:41] #5856 closed

[2019-06-06 02:15] JasonFengJ9 commented on #4426
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.functional_s390x_linux_Nightly/53/tapResults/

This is same as https://github.com/eclipse/openj9/issues/4426, one is `zLinux`, the other is `AIX`.

[2019-06-06 02:24] mpirvu opened #6032 "Increased number of VM_getClassFromSignature messages"
After the latest merge of master into jitaas branch the number of `VM_getClassFromSignature` messages has increased 10 times which in turn has increased the CPU time consumed at the client by 17%

[2019-06-06 02:29] mpirvu opened #6033 "Allow JITaaS to work with TLSv1.3"
From @a7ehuo
"After our discussion today, I found mismatched protocol versions set up in SSL structure between client and server . We set up SSL state after the connection has been established (SSL_set_connect_state and SSL_set_accept_state). SSL state setup sets up handshake_func and client/server mode and clears ciphers. These information likely is required before initiating SSL connection for T

[2019-06-06 02:42] #5841 closed

[2019-06-06 02:58] mpirvu commented on #5831
The regression is against the baseline (no SCC). However, when running the SPECjbb2005 benchmark I disabled hot and scorching compilations because I wanted to focus more on warm compilations. I will do some new runs allowing hot/scorching compilations.

[2019-06-06 09:12] hi5san opened #6034 "Failed to connect to local process via remote connection mode using jconsole"
Java -version output
--------------------
openjdk version "11.0.3" 2019-04-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.3+7)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.14.3, JRE 11 Linux amd64-64-Bit Compressed References 20190531_239 (JIT enabled, AOT enabled)
OpenJ9   - b8ab01656
OMR      - b56045d2
JCL      - dcdc97f9dc based on jdk-11.0.3+7)

Summary of problem
-----------------

[2019-06-06 10:14] andrew-m-leonard opened #6035 "JDK11: java.net/nio openjdk tests fail on MacOS 10.14"
Failure link
------------

Internal link: https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/23/

- test category (functionality, system, etc): sanity.openjdk
- test suite name:
java/net/Inet6Address/B6206527.java.B6206527
java/net/InetAddress/CheckJNI.java.CheckJNI
java/net/MulticastSocket/Promiscuous.java.Promiscuous
java/net/MulticastSocket/SetOu

[2019-06-06 13:08] mstoodle commented on #6019
Typically command line would take preference in the case both are set, I believe.

[2019-06-06 13:49] chrisc66 commented on #6032
I am working on this issue

[2019-06-06 14:09] JasonFengJ9 commented on #6024
Another `JTReg Test Failure - serviceability/jvmti/HeapMonitor/MyPackage/HeapMonitorStatIntervalTest.java`:
[code]
This test expects `102400` sampling events but just got `281` when the sampling interval is set to `1024`.
This is probably due to same cause as this issue.

[2019-06-06 17:17] ChengJin01 commented on #5058
It seems the steps mentioned previously (splitting the compilation to two steps) only work for case 1) but fail to work for case 2)
case 1):  the JNI-related java code that doesn't depend on the native `awt `library
case 2):  the JNI-related java code that must load the native `awt `library to call the native method `initIDs()` but the the native `awt `library doesn't exist in the cross-build.

Th

[2019-06-06 17:19] ChengJin01 commented on #5058
Need to get involved in a job related to the sharedclasses optimization (one month or so) and will get back to this after it is done.

[2019-06-06 17:37] #5584 closed

[2019-06-06 18:08] pdbain-ibm commented on #6034
This usage bypasses the Attach API completely: launching the target process with `-Dcom.ibm.tools.attach.enable=no` on a full OpenJ9 JVM works correctly.

[2019-06-06 18:38] #5631 closed

[2019-06-06 19:16] pdbain-ibm commented on #6034
jlinking with `jdk.management.agent,jdk.jconsole` makes the test pass.
Adding only the modules on which `jdk.jconsole` depends: `java.management,java.rmi,jdk.management,jdk.internal.jvmstat,java.management.rmi,jdk.attach,jdk.management.agent,java.desktop` does not.

[2019-06-06 20:00] AdamBrousseau commented on #2831
I'm not sure if this is needed anymore now that we have separated the builds by type. I know @R-Santhir is looking at working on #2316 but I think there is an ~easy way to pull the last build from Artifactory.
cc @llxia @smlambert I know we've had this conversation again recently too.

[2019-06-06 20:03] AdamBrousseau commented on #2831
Another option would be to look to the nightly jenkins build object and grab the SDK url from the env. We do a similar thing already here
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/pipeline-functions#L364
and this will likely also be useful
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/pipeline-functions#L170

[2019-06-06 20:17] #1450 closed

[2019-06-06 20:31] pshipton commented on #6034
I think the difference is that jdk.jconsole is a root and requires jdk.management.agent, causing it to get loaded.

[2019-06-06 20:42] pshipton commented on #6034
@hi5san btw, there is a workaround for this problem, until it can be resolved. Which is to add `--add-modules jdk.management.agent` to the application.

[2019-06-06 21:15] a7ehuo commented on #6019
@mpirvu I'll work on this one.

[2019-06-06 23:37] amicic commented on #5374
Compact trigger is in:
https://github.com/eclipse/omr/pull/3939
https://github.com/eclipse/openj9/pull/5992

In short, when GC-on-idle is triggered, optional compact will be performed based on heuristic.

There is threshold parameter that can be controlled by -XXgc:gcOnIdleCompactThreshold= option. Default value is 25, meaning if there is a potentially 25% or more fragmented free memory (ot of exi

[2019-06-07 04:54] pshipton opened #6050 "JDK13 lines() compile failures in acceptance"
https://ci.eclipse.org/openj9/job/Build_JDKnext_s390x_linux_OpenJDK/29/
[code]

[2019-06-07 04:54] pshipton commented on #6050
@JasonFengJ9

[2019-06-07 08:08] hi5san commented on #6034
@pshipton @pdbain-ibm Thanks for your prompt actions.

Thanks, that worked.  I could successfully connect to application using JConsole's remote connection mode locally (localhost:port) and also from remote host (hostname:port) as expected.

[2019-06-07 13:40] dsouzai opened #6052 "Failure in cmdLineTester_DataHelperTests test under forceAOT"
Failure link
------------

https://140-211-168-230-openstack.osuosl.org/artifactory/webapp/builds/Test_openjdk11_j9_sanity.functional_x86-64_linux_Personal/42

Optional info
-------------

- intermittent failure (yes|no): no
- regression or new test:  new test

Failure output
--------------

[code]

[2019-06-07 13:41] dsouzai commented on #6052
@renfeiw could verify whether this is a test/infra issue? I'm seeing a bunch of

[code]
that I don't see in a passing build (which was run without `+aot`)

[2019-06-07 13:58] dsouzai opened #6053 "Failure in cmdLineTester_SCHelperCompatibilityTests_win under forceAOT"
Failure link
------------

https://140-211-168-230-openstack.osuosl.org/artifactory/webapp/builds/Test_openjdk8_j9_sanity.functional_x86-64_windows_Personal/28

Optional info
-------------

- intermittent failure (yes|no): no
- regression or new test:  new test

Failure output
--------------

[code]

[2019-06-07 14:02] pdbain-ibm commented on #6034
As an experiment, I loaded and invoked `jdk.internal.agent.Agent.startLocalManagementAgent()` unconditionally during startup. jconsole was unable to connect.

[2019-06-07 14:15] pdbain-ibm commented on #6034
Another interesting problem: adding the VM option `--show-module-resolution` causes the loading of Module `jdk.management.agent` to fail.

[2019-06-07 14:59] dsouzai opened #6057 "Fix test failures in AOT PR tests"
This issue exists to track test failures seen when running AOT PR test (ie PR tests run with `+aot`)

- [ ] https://github.com/eclipse/openj9/issues/6011
- [ ] https://github.com/eclipse/openj9/issues/6052
- [ ] https://github.com/eclipse/openj9/issues/6053

[2019-06-07 15:25] harryyu1994 commented on #4467
Design for server side message:
Currently what we have:
[code]
A `stream->write` is always followed by a `stream->read` and it always expects to receive the right message.
We are going to associate every response that server gets with a message type like this:
[code]
- `readClientMessage` will check if the received message is of the right type.
- we can probably move the `stream->write` part into

[2019-06-07 15:59] RSalman opened #6060 "Suboptimal GC parallelism resulting from deep structures"
### Problem
Deep structures, such as long lists, are known to cause issues with GC parallelism. Given the object graph of deep structures and limitations of traversing/scanning them, these structures are left un-sharable and thus hogged by a single thread during scanning. Traversing through a deep structure is “slow” as the sub-structure (e.g., Item pointer) of each node is visited before progress

[2019-06-07 17:26] #5449 closed

[2019-06-07 17:26] #5489 closed

[2019-06-07 17:32] #6033 closed

[2019-06-07 17:38] rtenjarl opened #6061 "testing"
testing

[2019-06-07 17:39] #6061 closed

[2019-06-07 17:51] mpirvu commented on #4467
You can eliminate `uint32 version = 3;` from the definition of the client message. The version could be part of the `AnyData data = 2;` field.

Also, it occurred to me that the version may need to include configuration parameters like, compressed vs non-compressed or JCL level (Java 8, 9, 10, 11, etc). This is because we don't want a client built on Java8 to use a server built on Java11 or vicever

[2019-06-07 18:01] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_x86-64_mac_Nightly/54/
TestIBMJlmRemoteMemoryNoAuth_0
5.TL2.stderr
[code]

[2019-06-07 18:55] pshipton commented on #6035
@andrew-m-leonard does the same problem happen with Hotspot? This seems unlikely to have anything to do with OpenJ9, and more to do with the OpenJDK extensions.

[2019-06-07 19:12] harryyu1994 commented on #4467
If we put the version inside `AnyData data = 2`, we would definitely want it to be the first element of the tuple right? that means when it's a `JITaaS::J9ServerMessageType::compilationRequestWithVersion` instead of `JITaaS::J9ServerMessageType::compilationRequest`, we have to shift all the elements in the tuple by one. i.e `clientId = std::get<1>(req);  uint32_t romMethodOffset  = std::get<2>(req

[2019-06-07 19:13] pdbain-ibm opened #6064 "Improve ThreadInfoBase.hashCode()"
The current code is expensive, since it is based on the member fields _and_ is recomputed every time. It also uses the sum of several small integers weighted equally.

Suggested improvements:
1. compute the value lazily and cache it for further use
2. assign different weights to boolean and numeric components, especially those likely to be small integers like `waitedCount` and `threadId`.
3. expli

[2019-06-07 19:21] #6050 closed

[2019-06-07 19:25] pshipton commented on #6064
ThreadInfoBase refers to #5964, which at this time hasn't been merged yet.

[2019-06-07 19:29] harryyu1994 commented on #4467
I noticed in Satbir's code he has a version field, and it seems like `clear_version` will make the version data to not be sent. If this is the case then I think having a version field is a better idea.
[code]

[2019-06-07 19:34] pdbain-ibm commented on #6064
Note that `ThreadInfoBase` uses `ThreadInfo`'s `hashCode()` implementation.

[2019-06-07 20:03] fjeremic commented on #5927
I can't seem to find the origin. I've gone as far back as 2007 and it's still around. Not sure how much we can do about this or if it even matters.

[2019-06-07 21:39] harryyu1994 commented on #4467
For the same message:
empty version field = 2410
without version field = 2410
with version field set = 2415

It does not affect message size when it's not set.

[2019-06-08 01:32] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_OMR/110

[2019-06-08 01:35] pshipton commented on #4747
This crash occurred in UnsafeTestBase.testGetInt, like #4470, but I'll add it here.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_s390x_linux_OMR/116
[code]

[2019-06-08 21:59] kuttyb commented on #5452
Seeing a few other 2x performance differences with Hotspot. Any updates here?

[2019-06-10 02:20] pshipton commented on #5450
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.functional_x86-64_windows_Nightly/56

[2019-06-10 08:22] andrew-m-leonard commented on #6035
not sure, I can't run Hotspot at hyc-runtimes... so I will create an issue to try this on someones Macbook with Hotspot

[2019-06-10 12:18] mpirvu opened #6072 "Porting JITaaS code to master branch"

[2019-06-10 16:09] smlambert commented on #6035
Not sure why you think you can not run hotspot at hyc-runtimes...

Current job settings:
<img width="436" alt="Screen Shot 2019-06-10 at 12 05 11 PM" src="https://user-images.githubusercontent.com/2836948/59209069-7a8e6700-8b78-11e9-8096-76e01889b197.png">

Settings changed to run against nightly hotspot build:
<img width="501" alt="Screen Shot 2019-06-10 at 12 05 36 PM" src="https://user-images.g

[2019-06-10 16:14] llxia commented on #5619
Close the issue as the doc is updated.

[2019-06-10 16:14] #5619 closed

[2019-06-10 18:12] caohaley commented on #6019
I will work on this.

[2019-06-10 18:26] pshipton opened #6080 "Remove references to UT_DIRECT_TRACE_REGISTRATION"
https://github.com/eclipse/omr/pull/3263 removed the UT_DIRECT_TRACE_REGISTRATION feature, which is now always enabled by default. There are a number of references in OpenJ9 that should be removed.

https://github.com/eclipse/openj9/search?q=UT_DIRECT_TRACE_REGISTRATION&unscoped_q=UT_DIRECT_TRACE_REGISTRATION

https://github.com/eclipse/openj9/search?q=-DUT_DIRECT_TRACE_REGISTRATION&unscoped_q=-DU

[2019-06-10 18:40] mstoodle commented on #5836
Made some more progress on the way to being able to use JitBuilder from Java applications.

I managed to get the Java API client classes generated now, and successfully compiling with `javac` . I still need to generate the native layer that connects the Java classes to the JitBuilder implementation classes, but that shouldn't be too bad since it's mostly a pass-through layer (a lot of the implemen

[2019-06-10 18:41] chrisc66 commented on #6019
I will work on this issue

[2019-06-10 18:47] mpirvu opened #6081 "Send processor features from JITaaS client to server"
The JITaaS server must generate code that can be run on the client, therefore the client must communicate its processor features.
In general, we have to look at any AOT compatibility flags and make sure the appropriate information is passed from client to server.
This information could be stored in the `VMinfo` struct which holds information global to the VM that does not change throughout the lif

[2019-06-10 18:48] mpirvu commented on #6081
@harryyu1994 For your attention.

[2019-06-10 19:29] vij-singh commented on #2049
@liqunl How is this one coming along?

[2019-06-10 19:35] liqunl commented on #2049
@vij-singh Sorry, I got sidetracked and forgot about this item. Let me check what I need to do.

[2019-06-10 20:13] 0xdaryl commented on #5455
Lock reservation optimization: #2344

[2019-06-10 20:18] RSalman commented on #6060
### Testing for regression/overhead

For each object being scanned, an extra check is introduced to determine if it contains a self referencing fields for deep scanning. Hence, we may have overhead and we must ensure that we don't have regression for workloads that don't make use of deep structures.

From the benchmark results below, we can conclude that there is no regression.

Workloads without

[2019-06-10 20:28] caohaley opened #6084 "Reduce number of VM_classHasBeenExtended messages"
This issue is similar to issue #5650. `VM_classHasBeenExtended` messages are generated by TR_J9ServerVM::classHasBeenExtended(TR_OpaqueClassBlock *clazz) which asks the client for the value of the flag. The implementation of 'TR_J9VM::classHasBeenExtended' is
[code]
However, we cache the value of the flag in `clazz->classDepthAndFlags` so we have the value of  `J9AccClassHasBeenOverridden`.

[2019-06-10 20:28] caohaley commented on #6084
I will work on this one.

[2019-06-10 20:42] 0xdaryl opened #6085 "lock reservation on Z?"
There is a comment in #2344 (https://github.com/eclipse/openj9/pull/2344#issuecomment-403550883) where @jdmpapin makes the claim:

Just curious, why is lock reservation not enabled on Z?  Was this a point-in-time statement, or a permanent limitation?  @fjeremic

[2019-06-10 21:32] JasonFengJ9 commented on #4681
Another failure at https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_Nightly/59/tapResults/

Created https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/275

[2019-06-11 08:01] andrew-m-leonard commented on #6035
@smlambert thanks, the reason being because I couldn't work out how! you've answered that and i've learned something :-) thanks

[2019-06-11 11:54] JasonFengJ9 commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_x86-64_linux_Nightly/62/tapResults/
`PatchModuleImgTest_UnexportedType_0`

[code]

[2019-06-11 12:09] JasonFengJ9 opened #6089 "[linux_x86-64] SE80_GIT testGuestOSMXBeanRemote_0 intermittent AssertionError: Received a valid exception, test failed"
Failure link
------------

Public link to the failing test.
If the link is not public, instead include
- test category: SE80/functional/JLM_Tests
- test suite name: testGuestOSMXBeanRemote_0
- OS/architecture: linux_x86-64, linux_x86
- OpenJDK version: JCL - 20190529_01 based on Oracle jdk8u221-b02
- public build SHAs:
[code]

Optional info
-------------

- intermittent failure: yes
- regression o

[2019-06-11 13:39] DanHeidinga commented on #6034
@pdbain-ibm We're coming up on the `0.15.0` "reality check" date of June 18 to determine what will make the release.  Is this going to be ready for the June 24 code split?

[2019-06-11 13:42] DanHeidinga commented on #5831
@mpirvu Have you had a chance to do these runs?

[2019-06-11 13:46] mpirvu commented on #5831
Yes I did. With scorching compilations enabled there is no regression.
However, this means that there is still the potential for an application, under some circumstances to experience a slowdown.

[2019-06-11 13:47] DanHeidinga commented on #5785
I'm going to move this out of the `0.15.0` milestone as the correct behaviour isn't clear from the specification.

[2019-06-11 13:52] DanHeidinga commented on #5751
AdoptOpenJDK/openjdk-build#1080 was closed as we're unable to reproduce the issue.

[2019-06-11 13:54] caohaley commented on #4622
When I was running sanity test using the most recent openj9 and omr repo and SDK jvmxa6480_418159, I encountered this assert:
[code]
JIT was compiled under debug mode too.

[2019-06-11 14:00] DanHeidinga commented on #5611
@ashbm5 ping?  Is this likely to be ready for the June 24th code split?

[2019-06-11 14:02] groeges commented on #5931
Should be resolved by this PR: https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/312

[2019-06-11 14:09] pdbain-ibm commented on #6034
Probably.  I will know better later today.

[2019-06-11 14:16] fjeremic commented on #4622
@ymanton I see your #4648 PR addresses this. Are we close on that one?

[2019-06-11 14:26] mpirvu commented on #6084
Caching for this flag has a catch: while for class redefinition the caches are invalidated, this is not happening when classes are extended. Thus, it is possible to cache a value of "not extended", then the class gets extended and then serve "not extended" from the cache.

A simple but possibly not efficient workaround is to return an answer from the cache only when the desired flag is set because

[2019-06-11 14:43] fjeremic commented on #6085
@NigelYiboYu has the details. IIRC we have a functional problem in ODM in the form of a deadlock with lock reservation enabled. It's been disabled for many months now. We have an item on the queue to get back to enabling it in priority order.

[2019-06-11 14:56] DanHeidinga commented on #3422
We're coming up on the `0.15.0` "reality check" date of June 18 to determine what will make the release.  Is this going to be ready for the June 24 code split?

[2019-06-11 15:03] #6085 closed

[2019-06-11 18:59] sogutbera commented on #5665
I tested my changes on Eclipse and got an error which said "j0/0000000000000000.source", Hang said the 0/0000000000000000 seemed like the class name so I tested changing the class name and the class name in the error also changed. So now instead of changing the class name I will work on changing compareROMClassForEquality to check just for the "HostClassName$$Lambda$" part of the class name.

[2019-06-11 19:05] ChengJin01 commented on #6022
Given that the calling path is  as follows:
`localCPM->storeNew() --> cpeTableUpdate() --> cpeTableAdd() --> cpeTableAddHeader() (which create a new CpLinkedListHdr) `
The code there can be something like:
[code]

[2019-06-11 19:07] pdbain-ibm commented on #6034
So far so good.  Adding the following (as an experiment, still needs work) to the end of `jclcinit.c::initializeRequiredClasses()`:

[code]
causes `jdk.management.agent` to be loaded as a root module and jconsole is able to connect via `localhost:9996`. No error is thrown if `jdk.management.agent` is missing.

[2019-06-11 20:04] dmitry-ten opened #6092 "Protobuf on jenkins build machines needs to be compiled with -fPIC"
PR #6091 statically links protobuf to JITaaS shared library.
In order for the jenkins build to succeed, build machine needs to have protobuf compiled with `-fPIC`, which is currently not the case.
Protobuf for these machines needs to be recompiled.

[2019-06-11 20:04] dmitry-ten commented on #6092
@AdamBrousseau

[2019-06-11 20:08] sogutbera commented on #5665
![Screen Shot 2019-06-10 at 6 20 58 PM (3)](https://user-images.githubusercontent.com/50412361/59302949-244a2280-8c63-11e9-895c-7570b5732b48.png)

[2019-06-11 20:24] sogutbera commented on #5665
romSize's will be different when one class is named HostClassName$$Lambda$10 and another HostClassName$$Lambda$9 since first has longer length. To solve this issue we thought that instead of checking if the romSize's are equal, we could check if the difference between them is equal or less than sizeof(U_64) which would allow up to 4 digits difference.

[2019-06-11 20:38] JasonFengJ9 commented on #5203
Happened in an internal test as well.

 [linux_x86-64] SE80_GIT jsr335tests_SE80_4
[code]
[code]

[2019-06-11 20:40] avermeer commented on #4837
Hello OpenJ9 developers,

Looks like couple of PR related to this issue have been recently merged.
Does it means that with recent AdoptOpenJDK with OpenJ9 nightly build some improvements with Nashhorn can be tested?

Kind regards,
Alexandre

[2019-06-11 21:03] hangshao0 commented on #5665
So the required changes should be:

1. Change compareROMClassForEquality() to check just for the `HostClassName$$Lambda$` part of the class name.
2. romClass comparison should directly return false if romSize difference > sizeof(U_64).
2. Use `HostClassName$$Lambda$` as the hashkey to store and find the anonymous class in the shared cache.

[2019-06-11 21:09] caohaley commented on #6084
Using the spec performance test, it seems like with the simple solution of only returning from cache if desired flag is set, there are around 1950 messages. In comparison to around 2700 messages the way it is right now.

[2019-06-11 21:39] caohaley commented on #6084
So it means that for this test, cache hit rate is around 28%. Should I run make Sanity and see how many messages are avoided by using values from the cache (when the flag is set)?

[2019-06-11 22:22] hangshao0 commented on #5665
Looks like the eclipse error is from:

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/2a60f1f273a2c29b411ec9c4d9263d8ff5434529/src/java.base/share/classes/java/lang/reflect/AccessibleObject.java#L329toL345

[2019-06-12 04:41] DanHeidinga commented on #5452
ping @andrewcraik @mstoodle - any update on this?

[2019-06-12 07:08] pawelebe commented on #4050
hello

is there any update on that matter?

We have dockerized java application, it was working fine with 384mb container on java 8 hotspot. Recently we moved to java 11 j9. We can see that average memory consumption is much lower then before. However once on a while container got killed by oom. There is high memory usage spike due to JIT.

App is working on docker & k8s hosted on AWS.

I saw you

[2019-06-12 11:05] 15838028035 opened #6093 "jenkins openj9 test problem"
Hi  , i use jenkins ,  i want to test openj9  use memory ,
in my jenkins pipline like this,
i run the jenkins job,
docker containers always exit, what shoul i do ?

node {

  stage('deploy images'){

    sh "docker run -i  -v /app:/app -p 10001:8086 adoptopenjdk/openjdk8-openj9 sh"

   sh "nohup  java -jar /app/openj9dockertest-0.0.1-SNAPSHOT.jar >log.file 2>&1 &"
   sh "exit "

      }
}

This do

[2019-06-12 13:06] DanHeidinga commented on #6093
Do you want the Java in the docker image to run the jar?  Maybe try something like:
[code]
though you'll need to either mount the jar file into the image (look at docker's `-v` option) or create your own image based on the adopt one that includes the jar.

[2019-06-12 13:13] 15838028035 commented on #6093
Yes! Thanks!

发自我的 iPhone

[2019-06-12 13:19] andrewcraik commented on #5452
So a few comments:
a) I am interestedin looking at this but I haven't yet had time - my team and I are busy with other tasks right now
b) As stated previously it is likely there will be some change in the performance once the fixes for #4837 are delivered - this delivery is in progress. @liqunl and @cathyzhyi are doing the work. They may try out a few prototypes to see if they affect this benchmar

[2019-06-12 15:03] simonameng commented on #5702
Instead of using `dcall` for `java_lang_Math_sqrt` and `java_lang_StrictMath_sqrt`, we inline the `dsqrt` evaluator in the `J9RecognizedCallTransformer.cpp`. In the `dsqrt` evaluator, we do the same thing as what's in `inlineMathSQRT`. Also, for the case that `getSupportsHardwareSQRT` returns `false` when using `java_lang_StrictMath_sqrt`(the situation mentioned in the issue), we anchor and delete