[2018-05-04 12:53] felipepontes-research opened #1842 "Class.getDeclaredMethod throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getDeclaredMethod (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getDeclaredMethod-java.lang.String-java.lang.Class...-), "...a Method object that reflects the specified declared method of the class or interface represented by this Class object" must be returned. But using the following program declared method of class B can not be retrieved:

publi

[2018-05-04 12:53] felipepontes-research opened #1843 "Class.getDeclaredMethods throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getDeclaredMethods (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getDeclaredMethods--), "...an array containing Method objects reflecting all the declared methods of the class or interface represented by this Class object" must be returned. But using the following program declared methods of class B can not be retrieved:

public class A {
   static

[2018-05-04 12:54] felipepontes-research opened #1844 "Class.getField throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getField (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getField-java.lang.String-), "...a Field object that reflects the specified public member field of the class or interface represented by this Class object" must be returned. But using the following program field of class B can not be retrieved:

public class A {
   static {
      String x = nul

[2018-05-04 12:54] felipepontes-research opened #1845 "Class.getFields throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getFields (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getFields--), "...an array containing Field objects reflecting all the accessible public fields of the class or interface represented by this Class object" must be returned. But using the following program fields of class B can not be retrieved:

public class A {
   static {
      String x = n

[2018-05-04 12:54] felipepontes-research opened #1846 "Class.getMethod throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getMethod (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getMethod-java.lang.String-java.lang.Class...-), "...a Method object that reflects the specified public member method of the class or interface represented by this Class object" must be returned. But using the following program method of class B can not be retrieved:

public class A {
   stati

[2018-05-04 12:55] felipepontes-research opened #1847 "Class.getMethods throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getMethods (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getMethods--), "...an array containing Method objects reflecting all the public methods of the class or interface represented by this Class object" must be returned. But using the following program methods of class B can not be retrieved:

public class A {
   static {
      String x = null;

[2018-05-04 12:55] DanHeidinga commented on #1835
Interesting bug.  Given this occurs at the 17 invocation mark, it may be related to bytecode generation for reflect methods.

[2018-05-04 12:55] DanHeidinga commented on #1836
Interesting bug.  Given this occurs at the 17 invocation mark, it may be related to bytecode generation for reflect methods.

[2018-05-04 12:56] felipepontes-research opened #1848 "Different results presented by Class.getResource method"
Class.getResource method presents different results as presented by Oracle HotSpot JVM when executing the following program:

[code]

**Affected versions:**

Eclipse OpenJ9

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9 - e24e8aa
OMR -

[2018-05-04 12:57] felipepontes-research opened #1849 "Different results presented by Class.getResourceAsStream method"
Class.getResourceAsStream method presents different results as presented by Oracle HotSpot JVM when executing the following program:

[code]

**Affected versions:**

Eclipse OpenJ9

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9 - e24e8

[2018-05-04 12:57] DanHeidinga commented on #1837
This looks similar to https://github.com/eclipse/openj9/issues/1627

Have you tried with a build that includes https://github.com/eclipse/openj9/pull/1717 fix?

[2018-05-04 12:57] felipepontes-research opened #1850 "Parameter.getAnnotatedType throws exception when trying to get parameter type in an inner class"
An exception is thrown when executing the following program:

[code]

**affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9 - e24e8aa9
OMR - 3e8296b4
JCL - ee1e77df1d based on jdk8u162-b12)

**steps to reproduce:**

	1.

[2018-05-04 12:58] DanHeidinga commented on #1838
This looks similar to https://github.com/eclipse/openj9/issues/1627

Have you tried with a build that includes https://github.com/eclipse/openj9/pull/1717 fix?

[2018-05-04 12:58] pshipton commented on #1032
A new section is preferred given the small per-stackmap size. Otherwise the overhead to store the data is too much. The shared cache would track the values in the new section for the disclaim.

[2018-05-04 12:58] DanHeidinga commented on #1839
This looks similar to https://github.com/eclipse/openj9/issues/1627

Have you tried with a build that includes https://github.com/eclipse/openj9/pull/1717 fix?

[2018-05-04 12:58] felipepontes-research opened #1851 "Constructor.getAnnotatedParameterTypes throws exception when trying to get annotated parameter type in an enum"
An exception is thrown when executing the following program:

[code]

**affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9 - e24e8aa9
OMR - 3e8296b4
JCL - ee1e77df1d based on jdk8u162-b12)

**steps to reproduce:**

	1.

[2018-05-04 12:58] DanHeidinga commented on #1840
This looks similar to https://github.com/eclipse/openj9/issues/1627

Have you tried with a build that includes https://github.com/eclipse/openj9/pull/1717 fix?

[2018-05-04 12:59] felipepontes-research opened #1852 "Executable.getAnnotatedParameterTypes throws exception when trying to get annotated parameter type in an inner class"
An exception is thrown when executing the following program:

[code]

**affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9 - e24e8aa9
OMR - 3e8296b4
JCL - ee1e77df1d based on jdk8u162-b12)

**steps to reproduce:**

	1.

[2018-05-04 12:59] felipepontes-research opened #1853 "Parameter.toString throws exception when trying to get parameter description in an enum"
An exception is thrown when executing the following program:

[code]

**affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9 - e24e8aa9
OMR - 3e8296b4
JCL - ee1e77df1d based on jdk8u162-b12)

**steps to reproduce:**

	1.

[2018-05-04 12:59] felipepontes-research opened #1854 "Parameter.getParameterizedType throws exception when trying to get parameter parameterized type in an enum"
An exception is thrown when executing the following program:

[code]

**affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9 - e24e8aa9
OMR - 3e8296b4
JCL - ee1e77df1d based on jdk8u162-b12)

**steps to reproduce:**

	1.

[2018-05-04 13:00] #1583 closed, assigned to nobody

[2018-05-04 13:49] DanHeidinga commented on #1841
This looks similar to #1627

Have you tried with a build that includes #1717 fix?

[2018-05-04 13:49] DanHeidinga commented on #1845
This looks similar to #1627

Have you tried with a build that includes #1717 fix?

[2018-05-04 13:49] DanHeidinga commented on #1842
This looks similar to #1627

Have you tried with a build that includes #1717 fix?

[2018-05-04 13:49] DanHeidinga commented on #1843
This looks similar to #1627

Have you tried with a build that includes #1717 fix?

[2018-05-04 13:49] DanHeidinga commented on #1844
This looks similar to #1627

Have you tried with a build that includes #1717 fix?

[2018-05-04 13:53] DanHeidinga commented on #1849
We'll need to check the spec on this one.  Its not immediately clear what the right behaviour is

[2018-05-04 13:53] DanHeidinga commented on #1848
We'll need to check the spec on this one.  Its not immediately clear what the right behaviour is

[2018-05-04 15:14] keithc-ca commented on #1662
Does that machine define `TMPDIR=C:/cygwin/tmp`? That would explain this.

[2018-05-04 16:08] pshipton opened #1856 "Retire the travis build which runs when commits are pushed?"
OpenJ9 now has some xLinux machines available for PR testing. It is still desirable to run the travis build automatically on every commit?

[2018-05-04 16:47] AdamBrousseau commented on #1662
I see Windows system variables `TEMP` and `TMP` defined as `C:\Windows\TEMP` and in Cygwin shell I see `TMP` and `TEMP` defines as `/tmp`

[2018-05-04 18:53] tajila opened #1859 "Add new DDR commands for modularity"
<h1>DDR support for modularity Update</h1>

Existing j9module command looks like:

[code]

The two main issues are:
1) The command names are misleading
2) There are too many commands

`1) Can be fixed by simply renaming commands based on what appears in a module-info.java file, 2) can be addressed by making fewer commands and provinding options to the commands to filter the output.`

<h2>New Propo

[2018-05-04 20:00] ChengJin01 commented on #1032
seems like cold runs without the stack map changes could be optimized to disclaim a bigger portion of the metadata

<----- Pete told me that there could be a bug in the code does not update the boundary for the disclaimed area (the idea is: discarded if stored). So I create a temporary fix (by adding updateAccessedShrCacheMetadataBounds() to storeCompiledMethod() to see what happens if with the fi

[2018-05-04 20:03] pshipton commented on #54
The nightly builds from May 4th https://adoptopenjdk.net/nightly.html?variant=openjdk8-openj9 should have the shutdown hook updates.

[2018-05-04 20:37] hangshao0 commented on #1032
Not sure if it is worth the effort for a saving of < 1% (712KB out of 125MB).

[2018-05-04 20:40] theresa-m commented on #1669
@DanHeidinga  prs for the first checkbox were merged at the beginning of the week for java 8 - 11.

[2018-05-05 01:53] ChengJin01 commented on #1032
If we choose to create a new area for stackmaps (e.g. 2MB by default), one of the concerns is how to deal with case that the disclaimed memories are getting loaded back after exiting the startup stage (the worst case could be over 1MB according to the previous snaptrace), which has nothing to with the changes.

[2018-05-05 12:32] DanHeidinga commented on #1856
The benefit of the travis.ci build is that it runs automatically and doesn't need a committer to launch, allowing contributors to see compile failures earlier (though every PR should have been compiled prior to submitting)

The downfall with the travis.ci is that runs automatically, leading to long build queues and wasted builds.  A passed travis build only indicates the x compile passed, not the

[2018-05-07 00:41] AdamBrousseau commented on #1787
On master
https://ci.eclipse.org/openj9/job/Build-JDK10-linux_x86-64_cmprssptrs/8/console
Master is running git 1.9 iirc. From what I read last week, older versions of git required the user to be looked up in the etc/passwd file for certain commands. They reduced the need for this in newer versions. Doesn't really explain why it's intermittent though. We could open a business bugzilla to see of ec

[2018-05-07 02:53] DanHeidinga commented on #1669
@AdamBrousseau Can you add nightly builds for the non-compressedrefs package on xLinux and add new regexs to the PR builder for the non-compressed package?

[2018-05-07 13:37] pshipton commented on #1032
If the stack map data is accessed after PHASE_NOT_STARTUP, I still don't understand why. If the class was already loaded and verified, why does the stackmap data need to be accessed again?

[2018-05-07 14:49] dnakamura commented on #1856
@DanHeidinga  I believe the last blocker is #1808

 Also Re: compile times. After playing around, due to a number of factors, passing `--enable-ccache` to configure actually works properly on travis. This would probably drastically cut our travis build time However doing so pushes the log past the max size cutoff

[2018-05-07 15:06] JasonFengJ9 commented on #1843
#1717 fixed this issue as well.
[code]

[2018-05-07 15:08] JasonFengJ9 commented on #1842
#1717 fixed this issue as well.
[code]

[2018-05-07 15:11] JasonFengJ9 commented on #1845
#1717 fixed this issue as well.
[code]

[2018-05-07 15:12] JasonFengJ9 commented on #1841
#1717 fixed this issue as well.
[code]

[2018-05-07 15:15] JasonFengJ9 commented on #1837
#1717 fixed this issue as well.
[code]

[2018-05-07 15:16] JasonFengJ9 commented on #1838
#1717 fixed this issue as well.
[code]

[2018-05-07 15:17] DanHeidinga commented on #1842
@felipepontes-research The tests in the issues you've opened would be a good set of regression tests.  Would you be willing to add them to your PR for the original test case?

[2018-05-07 15:18] JasonFengJ9 commented on #1839
#1717 fixed this issue as well.
[code]

[2018-05-07 15:39] DanHeidinga commented on #1856
#1808 is now merged.

@dnakamura Can you put together a PR for using travis.ci to use the cmake builds?

[2018-05-07 15:45] JasonFengJ9 commented on #1854
Not able to reproduce the exception reported.

@felipepontes-research could you provide the actual `java` file and command line options? thanks.

[2018-05-07 15:50] JasonFengJ9 commented on #1852
Not able to reproduce the exception reported.

@felipepontes-research could you provide the actual `java` file and command line options? thanks.

[2018-05-07 16:00] JasonFengJ9 commented on #1851
Not able to reproduce the exception reported.

@felipepontes-research could you provide the actual `java` file and command line options? thanks.

[2018-05-07 16:02] JasonFengJ9 commented on #1853
Not able to reproduce the exception reported.

@felipepontes-research could you provide the actual `java` file and command line options? thanks.

[2018-05-07 16:07] JasonFengJ9 commented on #1850
Not able to reproduce the exception reported.

@felipepontes-research could you provide the actual `java` file and command line options? thanks.

[2018-05-07 16:11] ChengJin01 commented on #1032
If the stack map data is accessed after PHASE_NOT_STARTUP, ....

<----- It could happen during the class comparison. In such case, it needs to compare with the stored stackmaps, which has nothing to with verification.

I am wondering whether all transformed classes are already allocated in VM (not in the shared cache) before PHASE_NOT_STARTUP. If not, comparison/verification for the these classes

[2018-05-07 16:12] JasonFengJ9 commented on #1846
#1717 fixed this issue as well.
[code]

[2018-05-07 16:38] JasonFengJ9 commented on #1835
Happened to `RI` as well.
[code]
It appears a `JCL` bug in `OpenJDK`.

[2018-05-07 16:43] JasonFengJ9 commented on #1836
Happened to `RI` as well.
[code]
It appears a `JCL` bug in `OpenJDK`.
I

[2018-05-07 16:45] JasonFengJ9 commented on #1834
Happened to `RI` as well.
[code]
It appears a `JCL` bug in `OpenJDK`.

[2018-05-07 17:29] #1841 closed

[2018-05-07 17:29] #1843 closed

[2018-05-07 17:30] #1845 closed

[2018-05-07 17:30] #1837 closed

[2018-05-07 17:30] #1838 closed

[2018-05-07 17:31] #1842 closed

[2018-05-07 17:31] #1839 closed

[2018-05-07 17:31] #1840 closed

[2018-05-07 17:31] #1844 closed

[2018-05-07 17:33] #1846 closed

[2018-05-07 17:33] #1847 closed

[2018-05-07 17:37] pshipton commented on #1032
Class comparison shouldn't normally happen unless a class with the same name already exists in the cache. How many occurrences of class comparison occur? Perhaps the shared cache logic can be improved to avoid unnecessary comparisons.

[2018-05-07 17:39] pdbain-ibm commented on #1835
Does the problem manifest with -Xint?

[2018-05-07 17:39] mikezhang1234567890 commented on #1582
The error in test corresponds to this class: https://github.com/eclipse/openj9/blob/9329b7b997c923855d9f83ac54ae8cd3d1853fec/test/functional/Java8andUp/src_90/org/openj9/test/java/lang/Test_Class.java#L2798-L2799

Testing the `getModifers()` method on that class on a HotSpot build for Java 9 and 10 also results in an actual value of `0` for the class above, so I think we just need to update our te

[2018-05-07 17:39] pshipton commented on #1835
Does it still occur with Java 10 or 11?

[2018-05-07 17:56] JasonFengJ9 commented on #1835
It still occurs with `Java 10 & 11` as well.
[code]

`-Xint` makes no difference.

[2018-05-07 18:00] smlambert commented on #1306
I had hoped to leave this as a beginner item for some new contributor to pick up, but I guess its time to move it forward, given #1745.

I'll open a PR shortly.

[2018-05-07 18:07] llxia commented on #1779
PR: https://github.com/AdoptOpenJDK/openjdk-tests/pull/404

[2018-05-07 18:08] dnakamura commented on #1856
@DanHeidinga  I have #1718 However I jsut rebased and pushed it and it appears there were breaking changes to OMR, which I have a PR open for (eclipse/omr#2530). Given the close interdependency, it probably makes sense to also do a CMake build as part of the omr acceptance build

[2018-05-07 18:08] ChengJin01 commented on #1032
1) Class comparison shouldn't normally happen unless a class with the same name already exists in the cache.
--->  That's why it occurs there to compare with ROM class (the same name) existing in the cache.

2) How many occurrences of class comparison occur?
---> there is no existing tracepoint for this but I can add a new tracepoint to capture.

[2018-05-07 18:47] felipepontes-research commented on #1848
Sorry. It happens just when considering a package. I updated the sample code.

[2018-05-07 19:14] felipepontes-research commented on #1850
Please, use the following files:
[A.zip](https://github.com/eclipse/openj9/files/1981130/A.zip)

I'm not using any command line options (i.e.  ```jdk8u162-b12_openj9-0.8.0/bin/java A```).

[2018-05-07 19:19] felipepontes-research commented on #1851
Please, use the following files: [sample.zip](https://github.com/eclipse/openj9/files/1981145/sample.zip)
I'm not using any command line options (i.e. ```jdk8u162-b12_openj9-0.8.0/bin/java B```).

[2018-05-07 19:20] pdbain-ibm commented on #1704
Nice work.

There are some complications.

1. The JVM cleans up the attach directory on launch by checking if each advertisement file corresponds to an active process.  If there is no active process, it removes the associated file artifacts.  VMs on foreign docker images won't be visible and will have their files erased.  There is a process to re-create them but it is limited.

2. The VM ID genera

[2018-05-07 19:27] felipepontes-research commented on #1852
I think it was because I don't formatted sample code properly. So, ```Inner (Iterator<String> delegate)``` was converted into ```Inner (Iterator delegate)```. I updated it.

[2018-05-07 19:31] felipepontes-research commented on #1853
Please, use the following files: [sample.zip](https://github.com/eclipse/openj9/files/1981176/sample.zip)
I'm not using any command line options (i.e. ```jdk8u162-b12_openj9-0.8.0/bin/java B```).

[2018-05-07 19:34] felipepontes-research commented on #1854
Please, use the following files: [sample.zip](https://github.com/eclipse/openj9/files/1981188/sample.zip)
I'm not using any command line options (i.e. ```jdk8u162-b12_openj9-0.8.0/bin/java B```).

[2018-05-07 19:37] JasonFengJ9 commented on #1850
Yup, now the exception can be reproduced as updated issue description. Thanks.

[2018-05-07 19:41] felipepontes-research commented on #1842
@DanHeidinga Yes! I will update that PR to include all test cases related to ```newInstance``` issues.

[2018-05-07 19:47] pdbain-ibm commented on #1306
@DanHeidinga would this be a good exercise to get a student up to speed?

[2018-05-07 19:47] pshipton commented on #1835
@felipepontes-research please report this and similar issues to the OpenJDK project, it is not an OpenJ9 problem.

[2018-05-07 19:47] #1835 closed

[2018-05-07 19:49] smlambert commented on #1306
Our students already have a list of items from @tajila, as I mentioned above, I will take this one.

[2018-05-07 20:27] DanHeidinga commented on #1789
I looked into this and found `spring.boot` is an automatic module.  The descriptor for it is derived as:

[code]

Need to investigate why the access check is failing for an automatic module which should operate as though every package is open / exported: https://docs.oracle.com/javase/9/docs/api/java/lang/module/ModuleDescriptor.Modifier.html#AUTOMATIC

[2018-05-07 21:00] theresa-m commented on #1848
Update: I don't think this is a spec issue. It looks like the hotspot behaviour is correct. The javadocs define:

`The rules for searching resources associated with a given class are implemented by the defining class loader of the class.`

(https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getResource-java.lang.String-)

Using getClassloader() on the A class it looks like hotspot and

[2018-05-07 21:08] JasonFengJ9 commented on #1853
Thanks, the exception reproduced.

[2018-05-07 21:09] JasonFengJ9 commented on #1852
Thanks, the exception reproduced.

[2018-05-07 21:09] JasonFengJ9 commented on #1851
Thanks, the exception reproduced.

[2018-05-08 13:33] DanHeidinga commented on #1550
@R-Santhir / @gita-omr Any update on this?  The failing AIX builds are blocking OMR-integration.

As suggested by @pshipton above:

I think we should disable AIX in the OMR acceptance builds if there isn't progress on this by the end of this week.

[2018-05-08 13:36] R-Santhir commented on #1550
Didn't get a chance to look into it yet, as the machines were shut down over the weekend. I'll spend some time today and provide an update

[2018-05-08 13:40] DanHeidinga commented on #1550
Thanks @R-Santhir!  Much appreciated.

[2018-05-08 14:37] mstoodle commented on #1684
Just to mark it here explicitly, #1682 fixes have been merged at this point (actually 12 days ago :) )

[2018-05-08 15:32] pshipton commented on #1684
I've heard that OpenJ9 compiles with gcc 7.3 with warnings as errors disabled.

[2018-05-08 18:33] kubaseai commented on #1704
Thanks for the compiled class.
I set ID with -Dcom.ibm.tools.attach.id=container_123456789_bw_time. Checking for active process IPC.processExists(pid) can be extended to IPC.exists(pid, directoryEntryName) where directoryEntryName would be container_123456789_bw_time. From this string a docker container id can be extracted.

[IPC.zip](https://github.com/eclipse/openj9/files/1985164/IPC.zip)

java

[2018-05-08 19:04] cathyzhyi commented on #1522
The problem is due to JCL change adding `java/lang/String.valueOfCodePoint` which confuses the logic in StringPeepHole looking for `java/lang/String.valueOf`
This should be fixed by https://github.com/eclipse/openj9/pull/1872

[2018-05-08 19:11] babsingh commented on #1660
fyi - @Ali-Ni

[2018-05-08 19:14] babsingh commented on #1630
fyi - @Ailloviee

[2018-05-08 19:49] ChengJin01 commented on #1032
[1] I tried two versions of Eclipse (Mars v2 and Luna for J2EE) by specifying -Xdump:system:events=vmstop
The steps:
1) open up an empty workspace and do nothing
2) exit after a short while to trigger a coredump

Here're the stackmaps computed by DDR:
**1.  Luna for J2EE**

10873 classes, using: 33209320 bytes or 32430 kB
Section                                 Byte     kB       %
  romHeader

[2018-05-08 20:32] panga commented on #1789
Thanks Dan!

Do you know if there’s any workaround to bypass the issue while the PR
isn’t ready ?

On Tue, 8 May 2018 at 17:25 Dan Heidinga <notifications@github.com> wrote:

--
Atenciosamente,
Leonardo Loch Zanivan

[2018-05-08 20:41] ChengJin01 commented on #1032
I will double-check with a couple of core files generated from customer side via PMRs to see how much stackmap data are typically stored in ROM classes.

[2018-05-08 21:34] kubaseai commented on #1704
[LocalVirtualMachine.zip](https://github.com/eclipse/openj9/files/1985723/LocalVirtualMachine.zip)

Sun assumed vmid must be pid and doesn't support in JConsole. Fixed.
So I've got first docker friendly JDK.
![docker_j9_1](https://user-images.githubusercontent.com/37076321/39784307-421ae54a-5318-11e8-8607-8eb26ac01d7f.png)
![docker_j9_2](https://user-images.githubusercontent.com/37076321/39784319-

[2018-05-09 02:45] babsingh commented on #1497
@DanHeidinga all changes are compete for this issue. the eclipse openj9 build page has been updated to show Java 10 instructions: https://www.eclipse.org/openj9/oj9_build.html. so, this issue can be closed.

[2018-05-09 03:13] #1497 closed

[2018-05-09 03:54] AdamBrousseau commented on #1731
Closing this as the failing piece of code is removed by #1423

[2018-05-09 03:54] #1731 closed

[2018-05-09 10:59] #1582 closed

[2018-05-09 11:31] mphunt commented on #890
See below, it's a bit of a mishmash of java versions and hardware, but shows the kind of difference I've seen.

**Intel(R) Xeon(R) CPU E5-2687W v3 @ 3.10GHz**
**java version "1.7.0_171"**
OpenJDK Runtime Environment (rhel-2.6.13.0.el6_9-x86_64 u171-b01)
OpenJDK 64-Bit Server VM (build 24.171-b01, mixed mode)
time java Demo2

real    0m2.863s
**user    0m2.775s**
sys     0m0.014s

**IBM z13**
**jav

[2018-05-09 12:53] DanHeidinga commented on #1470
This occurred on the xLinux build last night and continues to hit the builds intermittently.

Is there any progress on this or should we disable the test?

[2018-05-09 13:28] pshipton commented on #509
Note there is some active investigation going on to create an OpenJ9 32-bit build, at least for Windows.

[2018-05-09 13:59] pshipton commented on #1759
We do have these queries
https://github.com/eclipse/openj9/issues?utf8=%E2%9C%93&q=label%3Adoc%3Areleasenote
https://github.com/eclipse/openj9/issues?utf8=%E2%9C%93&q=label%3Adoc%3Awhatsnew

[2018-05-09 14:03] pshipton commented on #1470
@smlambert is the verbose gc log available from the failure? https://ci.eclipse.org/openj9/job/Test-Extended-JDK8-linux_x86-64_cmprssptrs/10/

[2018-05-09 14:34] pshipton commented on #1532
eclipse/omr#2499 is merged, assuming this can be closed .Please reopen if there is still a problem.

[2018-05-09 14:34] #1532 closed

[2018-05-09 14:44] pshipton commented on #1071
fyi #1786

[2018-05-09 14:47] pshipton opened #1875 "JEP 327 Unicode 10"
https://bugs.openjdk.java.net/browse/JDK-8182490

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-05-09 14:47] pshipton opened #1876 "JEP 328 Flight Recorder"
https://bugs.openjdk.java.net/browse/JDK-8193393

This is an "Epic" to contain requirements for supporting this JEP on OpenJ9.

[2018-05-09 14:55] pshipton commented on #770
Obsoleted by #1786

[2018-05-09 14:55] #770 closed

[2018-05-09 15:34] smlambert commented on #1470
Verbose gc log is now being created for those tests (as of #1504):

02:01:25 -Xdump:none -Xmx1024m -Xsoftmx512m -Xmn1m -XX:+DisclaimVirtualMemory -verbose:gc -Xverbosegclog:"/home/jenkins/workspace/Test-Extended-JDK8-linux_x86-64_cmprssptrs/openj9/test/TestConfig/scripts/testKitGen/../../../TestConfig/test_output_15258447208753/testSoftMxDisclaimMemory_GC_2"/vgc.log

But you have to log on to mach

[2018-05-09 15:38] fengxue-IS commented on #1588
Looking into this

[2018-05-09 19:15] babsingh commented on #1684
@fjeremic i tried building a Java 11 SDK using OpenJ9 with `gcc-7` and `g++-7`. i got the following compile errors related to JIT source code:
[code]
is there a workaround? `--std=gnu89` or `--std=c11`?

[2018-05-09 19:53] DanHeidinga commented on #1684
@mpirvu Have you been able to compile with gcc 7?  I recall mention of it from the fix devirtualization PR.

[2018-05-09 21:11] ChengJin01 commented on #1032
[stackmaps_customers_dumps.txt](https://github.com/eclipse/openj9/files/1989453/stackmaps_customers_dumps.txt)

I double-checked 20 dump files generated by customers in PMRs as follows:
Section                                 Byte     kB       %  (stackmaps/ROMclasses)
      stackMap                          2518048  2459.03  2.61 <------ stackMap = 2.46MB, 2.61%
      stackMap

[2018-05-10 02:35] mpirvu commented on #1684
I've compiled the JIT dll for Java8 with gcc 7.3 on Ubuntu and could run successfully with it.
I did not try to compile the entire VM.

[2018-05-10 02:40] DanHeidinga commented on #1032
@ChengJin01 are the numbers for the classes in the sharedclasses cache or for all romclasses in the dump?

[2018-05-10 05:33] ChengJin01 commented on #1032
[stackmaps_dumps_shared.txt](https://github.com/eclipse/openj9/files/1990468/stackmaps_dumps_shared.txt)

I also checked 9 dump files with shared classed enabled  (checked with "!romclasssummary  shared") as follows:
[code]
So most of percentages are still **over 3%** for the romclasses in the shared cache.

[2018-05-10 11:55] AdamBrousseau commented on #1662
Excluded the Windows 8 Pipeline
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-JDK8-win_x86-64_cmprssptrs/
See https://openj9.slack.com/archives/C8QU16TDW/p1525952716000196

[2018-05-10 13:12] JamesKingdon commented on #1684
I built the complete VM with gcc7.2.1 for arm. I hit the same 'declared but never defined' errors as Babneet until I used `UMA_SUPPRESS_WARNINGS_AS_ERRORS=1` on the make command line. The resulting build seems to run ok.

[2018-05-10 13:14] gacholio opened #1885 "testSCCMLTests1_1 sensitive to PR comment"
Test 45: LIR 1445.1 : Debug Area PrintStats Test : Ensure debug area sizes are correct in generated javacore

This test essentially greps a javacore for some success and fail conditions.  One of the fail conditions is:

```>> Failure condition was found: [Output match: corrupt]```

The javacore contains the contents of all environment variables, one of which is the PR comment:

[code]

So any PR w

[2018-05-10 13:16] gacholio commented on #1885
@smlambert FYI

[2018-05-10 13:27] smlambert commented on #1885
Ha, I think we all know how much I enjoy string matching as a pass/fail criteria!  We can likely tighten up this particular match immediately.

We ported all of the cmdlinetester tests almost 'as is', so I've not had a chance to think about how to improve them as a whole.  As this type of failure will continue to happen (irregularly), it would be good to address it for all cmdlinetests.  That will

[2018-05-10 14:07] DanHeidinga commented on #1684
Longer (medium?) term that'll need to be addressed.  If anyone has suggestions on right approach, would love to hear them.

[2018-05-10 14:11] mpirvu commented on #1684
I don't see those functions being used outside `MethodMetaData.c`. I am thinking that it should be possible to simply remove their declaration from the `MethodMetaData.h`

[2018-05-10 14:14] babsingh commented on #1684
I build the complete Java 11 OpenJ9 SDK with gcc-7.3 and g++7.3 on Linux x86. I encountered the following issues:

1. `../compiler/trj9/runtime/MethodMetaData.h:384:18: error: inline function '${FUNCTION_NAME}' declared but never defined [-Werror]`. gcc 7.3 defaults to GNU11 but JVM uses GNU89 for inline semantics. Setting **CFLAGS** to either `-std=gnu89` or `-fgnu89-inline` resolves this issue.

[2018-05-10 14:35] mpirvu opened #1888 "OpenJDK9/10 with OpenJ9 is slower at Xint than OpenJDK8 with OpenJ9"
I took the following builds from adoptopenjdk.net
OpenJDK8-OPENJ9_x64_Linux_20180507
OpenJDK9-OPENJ9_x64_Linux_20180509
OpenJDK10-OPENJ9_x64_Linux_20180509

I ran `time java -Xint -version` and found the following running times:

OpenJDK8-OPENJ9_x64_Linux_20180507
[code]
OpenJDK9-OPENJ9_x64_Linux_20180509
[code]
OpenJDK9-OPENJ9_x64_Linux_20180509
[code]

There is a large increase in the system tim

[2018-05-10 17:27] dnakamura opened #1889 "Unclear use of OMRSIG_SIGNAL / OMRSIG_SIGACTION"
A number of places in the jvm ( eg [1](https://github.com/eclipse/openj9/blob/bd106f77686ddc3b2e5de6d533fcfef4506a24d9/runtime/j9vm/jvm.c#L4522) [2](https://github.com/eclipse/openj9/blob/bd106f77686ddc3b2e5de6d533fcfef4506a24d9/runtime/vm/jvminit.c#L828) [3](https://github.com/eclipse/openj9/blob/bd106f77686ddc3b2e5de6d533fcfef4506a24d9/runtime/vm/jvminit.c#L6452) among others ), we use the macro

[2018-05-10 18:00] pshipton commented on #1684
You could open a PR to fix issues 2, 3, 4. Not sure about the solution to issue 1, the JIT team should weigh in.

[2018-05-10 18:01] pshipton commented on #1684
You can try Marius's suggestion https://github.com/eclipse/openj9/issues/1684#issuecomment-388065325

[2018-05-10 18:13] pshipton commented on #1888
The cost of booting with modularity? Does OpenJDK have similar performance?

[2018-05-10 18:20] kubaseai commented on #1704
https://dzone.com/articles/codetalk-red-hat-cto-on-jakarta-ee-cloud-native-ku

[2018-05-10 18:52] babsingh commented on #1684
OpenJ9 PR - https://github.com/eclipse/openj9/pull/1890

[2018-05-10 21:12] smlambert commented on #1885
Actually I see now that I should be able to avoid parse/grep of the variable ghprbPullLongDescription which can solve for all future cases.

[2018-05-11 03:52] DanHeidinga commented on #1789
Nothing quick and easy comes to mind.  The only work around I can think of would be to make all the automatic modules into "real" ones.

[2018-05-11 13:09] llxia commented on #1814
Tests failed on JDK9 win: https://ci.eclipse.org/openj9/job/Test-Sanity-JDK9-win_x86-64_cmprssptrs/2/tapResults/

[2018-05-11 13:12] llxia commented on #1814
@renfeiw could you temporally exclude the test for JDK 9 until the issue is fixed. Thanks.

[2018-05-11 13:41] Ali-Ni commented on #1660
Possible solutions:

1 - Create an empty string, then loop count times, each time using ’+’ to concatenate the original string onto the end. This will create a new string every iteration, and time efficiency of each iteration depends on optimization of ‘+’ concatenation

2 - Apply the same design as 1, using String.concat() instead of ‘+’

3 - create a StringBuffer of the appropriate capacity (cou

[2018-05-11 14:04] pshipton commented on #1660
1 & 2 will create too many interim objects. Out of 3 & 4, 4 is better as it avoids unnecessary synchronization provided by StringBuffer. Using 4 wouldn't be horrible but does add unnecessary overhead to run the same checks for compression and buffer sizes over and over. Option 5 is the most efficient.

[2018-05-11 14:08] pshipton commented on #1660
Note you should load https://github.com/eclipse/openj9/pull/1786 and make the changes on top of this.

[2018-05-11 14:18] pshipton commented on #1660
The spec doesn't say. I wrote a small test to check if repeat(1) returns a new String or just returns this and found it returns this.
[code]

[2018-05-11 15:18] R-Santhir commented on #1550
I haven't been able to figure out a cause for the failure yet due to its intermittent nature, I'm going to continue to investigate it.

[2018-05-11 15:54] AdamBrousseau opened #1897 "Refactor Jenkins Build files"
Currently, we have too much duplication between our top level Jenkins build files. We need to come up with a solution to refactor these so we can reduce or eliminate this repetitive code.

Files in question:
- [Build](https://github.com/eclipse/openj9/tree/master/buildenv/jenkins/jobs/builds)
- [Test](https://github.com/eclipse/openj9/tree/master/buildenv/jenkins/jobs/tests) (perhaps unnecessary a

[2018-05-11 16:08] AdamBrousseau commented on #1787
Opened a Bugzilla
https://bugs.eclipse.org/bugs/show_bug.cgi?id=534586

[2018-05-11 17:36] #1588 closed

[2018-05-14 13:53] Ailloviee commented on #1630
Issue experimentation summary:

1. On **Windows**:
Tested with OpenJDK10(Both with Eclipse OpenJ9 and with Hotspot) and OpenJDK9, same issue exists that Pid returned from `ProcessHandle.current().pid()` in [RuntimeMXBean.java](https://github.com/Ailloviee/openj9/blob/master/jcl/src/java.management/share/classes/java/lang/management/RuntimeMXBean.java) does not match with the Pid returned from syst

[2018-05-14 14:48] theresa-m commented on #1548
@DanHeidinga is there more to do for this issue?

[2018-05-14 15:09] theresa-m commented on #1848
Just opened a fix for this. #1909 . The method needs find the resource with the arrays component type or the resource name will not be properly generated.

[2018-05-14 15:10] vsebe commented on #1662
Missing VS2010 SP1 + security update KB2565057 from 169.55.170.69 (oj9-win2012r2-1 ).

[2018-05-14 18:07] Ali-Ni commented on #1660
When trying to compile with #1786 changes applied, the following error comes up:
[code]
I'm going to ignore this for now and test my own changes without applying these older commits while waiting for a fix

[2018-05-14 18:28] pshipton commented on #1660
ok, but note the code will be different when applied on top of #1786

[2018-05-14 20:01] #1848 closed

[2018-05-14 21:13] vsebe commented on #1662
[code]
Work-around for this short path:
[code]

[2018-05-14 21:19] vsebe commented on #1662
OpenJ9 JDK10 builds successfully:

[code]

[2018-05-14 23:11] #252 closed

[2018-05-15 02:01] pshipton commented on #238
Fixed by #1901

[2018-05-15 02:01] #238 closed

[2018-05-15 13:29] DanHeidinga commented on #1849
@theresa-m Can you take a look at this?

[2018-05-15 14:25] theresa-m commented on #1849
Confirmed this issue was fixed with #1909. I've added an additional test for this case so its covered under `getResourceAsStream` as well as `getResource` #1916

[2018-05-15 15:14] #1849 closed

[2018-05-15 18:32] babsingh commented on #1166
fyi - @Ali-Ni. Study this task and investigate the VM changes required.

[2018-05-15 21:39] vijaysun-omr commented on #1637
@urisimchoni any further update on recreating this failure ?

[2018-05-16 01:47] AdamBrousseau opened #1917 "VmArgumentTests_0 java.lang.AssertionError Target process failed - non-compressed build"
https://ci.eclipse.org/openj9/job/Test-Extended-JDK8-linux_x86-64/2/
https://ci.eclipse.org/openj9/job/Test-Extended-JDK9-linux_x86-64/2/
https://ci.eclipse.org/openj9/job/Test-Extended-JDK10-linux_x86-64/2/

Adding Linux_x86-64 (nocompresed) builds to Jenkins.
Blocks #1884
[code]

[2018-05-16 10:05] SueChaplain commented on #54
@pshipton is there more testing to do here or can we remove this issue from the release notes in 0.9.0 please?

[2018-05-16 10:14] SueChaplain commented on #378
@keithc-ca - I am preparing the release notes for 0.9.0. Looks like there is still some work to do, so please can you confirm which platforms do have / don't have DDR support enabled? Thx

[2018-05-16 10:18] SueChaplain commented on #1669
@DanHeidinga  Will we be able to claim non-comp refs builds available for 0.9.0, or any progress statement please?

[2018-05-16 13:50] sophia-guo opened #1918 "Enable native tests jvmtitest"
#1901 Move jvmtitests native code to runtime/tests to build automatically

As native code is built jvmtitest can be enabled. Some other native tests can also be enabled.

[2018-05-16 15:40] sxa555 opened #1919 "openj9 builds at adoptopenjdk not honouring CC/CXX environment variables"
We discovered an issue building openjdk8+openj9 at adoptopenjdk today.

We're building on CentOS6.9 which has gcc 4.4.7 as the default compiler. The code is using some C++11 specific constructs and therefore requires gcc 4.8. If I set the `CC`/`CXX` variables it said it can't find the things that those variables point to. However if I set the path to have the directory containing the gcc 4.8 execu

[2018-05-16 15:42] DanHeidinga commented on #1919
@keithc-ca Can you take a look at this?

[2018-05-16 15:44] DanHeidinga commented on #1919
Marking this as high priority as we want the May release to compiled on centos so the glibc levels are old enough to run on all the supported OS/platforms combos required by the Eclipse IDE release.

[2018-05-16 16:09] babsingh commented on #1630
fyi - @tajila

[2018-05-16 16:09] babsingh commented on #1660
fyi - @tajila

[2018-05-16 16:10] babsingh commented on #1166
fyi - @tajila

[2018-05-16 17:20] sxa555 commented on #509
Will this change require a 32-bit host OS to build on or is the work being done on a 64-bit host OS?

[2018-05-16 17:25] keithc-ca commented on #1919
I started experimenting with a docker container that _doesn't_ have cc, c++, gcc or g++ some time ago. It appears that the final piece (at least for Linux x64) is captured in https://github.com/keithc-ca/openj9-openjdk-jdk8/tree/gcc (and similar changes for newer JDK versions). I have builds underway.

[2018-05-16 17:25] pshipton commented on #509
It works on a 64-bit host. I don't think anything changes in the machine configuration if you already have all the cygwin tooling.

[2018-05-16 17:40] babsingh commented on #1859
@Ailloviee DDR is a debugging tool used to investigate behaviour of Java application. The above issue lists a new set of commands to support Modularity in Java 9 and onwards. The goal is to implement the new DDR commands.

1) Learn how to use DDR.
2) Learn how to generate core dumps using `-Xdump:...` option. DDR (`$JAVA_HOME/bin/jdmpview -core $CORE_FILE`) takes core dumps as input.
3) Identify D

[2018-05-16 17:41] babsingh commented on #1859
fyi - @tajila

[2018-05-16 17:57] theresa-m commented on #1917
Looking at this.

[2018-05-16 18:10] llxia commented on #1779
Waiting for OpenJ9 Jenkins PR build to change workflow, so we can switch to use Jenkins file in AdoptOpenJDK for PR build.

[2018-05-16 21:56] ChengJin01 commented on #1032
In order to collect the count of using stackmaps in class transformation & class comparison (the ROM class is in the shared cache). I created a build by adding two tracepoints in code and below are the results generated from a cold run and a subsequent warm run:

[1]cold run:
[code]
[2]warm run:
[code]

From the cold run,  the time stamps of traces indicate:
1) all class comparisons were completed

[2018-05-16 22:13] pshipton commented on #1032
Classes can still be loaded, and verified, after the phase change to NOT_STARTUP. When an app first starts running, there is a period when all it does it load classes. The phase change is supposed to occur when this period ends, but it doesn't mean there won't be any more classes loaded afterwards.

[2018-05-16 22:35] ChengJin01 commented on #1032
In such case, only the area of stored stackmaps is disclaimed after exiting the startup stage, the rest of stackmaps coming up afterwards should be kept in the memory.

But it might be difficult to tell how many of the class comparison & retransformation happen to the stackmaps already stored in the memory.  If most of them retrieve stackmaps in the memory, then the mapping-back operations should

[2018-05-17 00:03] ChengJin01 commented on #1032
I think it might be not a big issue with cold runs as there are not many chances getting stackmaps loaded back from the snaptraces above. The focus is how to deal with the potential loading-back caused by class comparsion & retransformation in warm runs.

If the count of class verification includes transformed classes,  the count with transformed classes should be subtracted from there as transfor

[2018-05-17 09:38] sxa555 commented on #1919
This may be related - I've got an issue on on the v8 build on Linux/s390x which is similarly failing to find a "working" C compliler, although in this case it's explcitly using `ccache` with extra environment variables being set for it from https://github.com/ibmruntimes/openj9-openjdk-jdk8/search?utf8=%E2%9C%93&q=CCACHE_SLOPPINESS%3Dtime_macros&type=
[code]

[2018-05-17 11:18] SueChaplain commented on #1428
This issue has a whatsnew label, but it is not clear from the comments what was actually implemented. Are the 3 -XX options introduced in OpenJDK in the first comment now supported by OpenJ9 (for compatibility)?

[2018-05-17 12:43] vogella opened #1924 "Please make OpenJ9 available via sdkman!"
These days I use sdkman to get my JRE and JDK installation. Would be great if OpenJ9 would also be available via sdkman.

[code]
shows:
[code]

[2018-05-17 12:58] DanHeidinga commented on #1924
OpenJDK with Eclipse OpenJ9 binaries are available from AdoptOpenJDK.  Downloadable from the webpage[1] or via the api[2].

I'm not familiar with sdkman (yet). The Adopt api is likely the starting point for getting OpenJ9 binaries to sdkman.

[1] https://adoptopenjdk.net/?variant=openjdk8-openj9
[2] https://api.adoptopenjdk.net/README

[2018-05-17 13:29] marc0der commented on #1924
Using the vendor API is one way, but using the database migration project to add your versions is probably simpler for now. See this project for more details:
https://github.com/sdkman/sdkman-db-migrations

I'd be more than happy to assist in getting OpenJ9 on sdkman if anything is unclear.

[2018-05-17 13:33] keithc-ca commented on #1919
That strikes me as a separate issue, that at first reading seems OMR is having trouble with the multi-word compiler name.

[2018-05-17 14:35] sophia-guo opened #1928 "jvmtitests ModularityTests need to be updated for b149 and later"
From b149 and later some Modularity options or APIs have changed test will also need to update. java test is under test/functional/cmdLineTests/jvmtitests/src_latest/com/ibm/jvmti/tests/modularityTests/,
c test is under runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/modularityTests/
which are basically copy of test for b148.

[2018-05-17 14:55] Ali-Ni commented on #1166
With regards to the cgroup processor limit issue:

We need to consider that cgroup limiting of ```cpu.cfs_quota_us``` and ```cpu.cfs_period_us``` (for example through docker's ```--cpus=<value>``` option) has less to do with the actual number of physical processors available, but rather configures the CFS scheduler to impose a limit on the fraction of time the processors spend on all the tasks in

[2018-05-17 14:58] SueChaplain commented on #1288
What exactly needs documenting in the What's new? What is a constant? Is this to do with the cache generation number?

[2018-05-17 14:59] theresa-m commented on #1917
The failure in VmArgumentTests is due to -Xcompressedrefs being hard coded into the test testWAS80Cmdline. @smlambert can `testWAS80Cmdline` be excluded from openj9? or is there a way to tell in the java code whether we are using default or compressed refs?

still investigating the _testOpenJ9DiagnosticsMXBean_0 failure in the jdk9 run.

[2018-05-17 15:32] tajila commented on #1166
I am in favour of this approach

[2018-05-17 15:36] DanHeidinga commented on #1166
Which functions would be updated to read the new CPU type?  What would the type be and how would we document when to use it vs online / bound /etc?

[2018-05-17 15:37] LinHu2016 commented on #1370
the result of performance test: SPECjbb2005 warehouses=3 measurement =90 seconds
with -Xmx20G  -Xgcpolicy:optthruput / -Xgcpolicy:gencon / -Xgcpolicy:nogc

                                                                             | optthruput    | gencon          | nogc
___________________________________________________________________________________________
SPECjbb2005Score   (wh3)

[2018-05-17 15:51] LinHu2016 commented on #1370
![screen shot 2018-05-17 at 11 49 25 am](https://user-images.githubusercontent.com/18031118/40188718-953e5778-59c8-11e8-86d1-69b77c1d58da.png)

[2018-05-17 15:52] LinHu2016 commented on #1370
![screen shot 2018-05-07 at 10 54 38 am](https://user-images.githubusercontent.com/18031118/40188785-bf205bfe-59c8-11e8-951d-c2a732f9c83a.png)

[2018-05-17 15:53] LinHu2016 commented on #1370
![screen shot 2018-05-07 at 10 50 38 am](https://user-images.githubusercontent.com/18031118/40188835-dce9afdc-59c8-11e8-81ef-a26eb17e1456.png)

[2018-05-17 15:57] ebadyano commented on #1764
@joransiu I tested the behavior and it looks like for zOS when we attempt to run with  -Xgc:concurrentScavenge on hardware or OS that doesn't support Guarded Storage we just default to run without concurrent scavenger, the only way to see that it didn't run is to check verbose gc. @amicic Aleks, could you confirm if that's what we want and do we want to add some kind of warning?

[2018-05-17 15:59] hangshao0 commented on #1288
No. It is not related to cache generation.

[2018-05-17 16:00] pdbain-ibm commented on #1853
@DanHeidinga would you like me to investigate this?

[2018-05-17 16:09] Ali-Ni commented on #1166
The type would be of an "equivalent number of CPUs", and could be labelled  ```OMRPORT_CPU_EQUIVALENT``` (also add ```J9PORT_CPU_EQUIVALENT``` in openj9). It would be documented as something along the lines of "Number of equivalent CPUs that the process is limited to based on CFS scheduling constraints." We should take care to indicate that it is not representative of physical CPUs, and should con

[2018-05-17 16:10] fjeremic opened #1931 "Duplication in String.java for different Java versions"
As pointed out by @keithc-ca in https://github.com/eclipse/openj9/pull/1786#issuecomment-389915950 once #1786 gets merged there will be quite a bit of duplication in String.java for Java 8 and other Java versions. We effectively split the file into two with the preprocessor macros.

Are there any alternatives to doing this? Would it be more clean to partition these ifdefs into separate files? How

[2018-05-17 16:10] Ali-Ni commented on #1166
Alternatively ```OMRPORT_CPU_EQUIVALENT_CFS```

[2018-05-17 16:11] JasonFengJ9 commented on #1853
That's correct, I have narrowed down the issue to `JVM_GetMethodParameters` in which `generic signature` appears overwrite the `constructor` inherited from `Enum` class.

[2018-05-17 16:41] tajila commented on #1166
What will this option report when the JVM is not running in a docker environment?

[2018-05-17 16:43] keithc-ca commented on #1931
I don't think there's a _best_ answer, but I think we can improve the situation considerably by organizing String.java like this:
[code]
There will still be a lot of duplication (e.g. javadoc for API with more than one implementation), but I think it's a step in the right direction. We can make further improvements later if warranted.

[2018-05-17 17:29] smlambert commented on #1917
Ah, the dreaded 'gotcha', that it is most possible to sneak in extra command line options in several places (not just in `<variation>` tags in the playlist.xml files, where we actually do check and skip the test if options that are defined there do not make sense for the SPEC being run against).

When it is set somewhere else, we currently do not check before we run the test... could put it on our

[2018-05-17 17:30] ChengJin01 commented on #1032
Based on the snaptrace collected  from the warm run yesterday, I manually counted the total number of class transformation & comparison after the disclaim work (dontNeedMetadata). It surprised me that the numbers were pretty small than expected as follows:

**warm run:**
[code]

The results indicate that most of class transformation & comparison happen before the disclaim work.
If so, the chances

[2018-05-17 17:30] ashu-mehra opened #1932 "Display information about container limits in javacore"
It would be useful to include container limits relevant to JVM in javacore.

Following information can be added to javacore:
* Indicate if JVM is in container.
* If not in container but running directly on host in a cgroup, display cgroup name for memory, cpu, and cpuset subsystems.
* Display memory limit imposed by the container.
* Display cpu count, cpu period and quota (and shares if required)

[2018-05-17 17:31] ashu-mehra commented on #1932
@DanHeidinga @pshipton can you please provide your inputs on this.

[2018-05-17 17:47] Ali-Ni commented on #1166
If this option is being defined entirely based on cgroup CFS scheduling constraints, we should return the equivalent number of CPUs based on the cgroup cpu subsystem parameters, regardless of whether or not it is fully containerized (i.e. in Docker). If this is done, however, manually running the JVM in a cgroup with these parameters defined would similarly affect what is returned.

If it is runni

[2018-05-17 18:02] fjeremic opened #1934 "Re-enable toLowerCase / toUpperCase acceleration in the JIT"
As part of #1786 the acceleration for `toUpperCase` / `toLowerCase` was disabled for Java 9 onward. This support needs to be re-enabled. This will require slight altercations to how the recognized methods are laid out in our implementation in the JIT.

[2018-05-17 18:34] urisimchoni commented on #1637
@vijaysun-omr No, sorry, haven't gotten to it yet. I'll give it another shot before Monday.
Thanks,
Uri.

[2018-05-17 19:07] pshipton commented on #1288
The JVMLEVEL constants are visible here https://www.ibm.com/support/knowledgecenter/SSYKE2_8.0.0/com.ibm.java.api.80.doc/com.ibm.oti.shared/com/ibm/oti/shared/SharedClassCacheInfo.html

[2018-05-17 20:01] DanHeidinga commented on #1550
Any update on this?

[2018-05-17 20:14] tajila commented on #1166
I think providing a reasonable fallback would be more ideal than returning an error.

Currently, `Runtime.availableProcessors()` returns `j9sysinfo_get_number_CPUs_by_type(J9PORT_CPU_TARGET);` as long as its >= 1. This seems more correct that what `jvmtiGetAvailableProcessors` currently does.

According to the docs, `OMRPORT_CPU_TARGET` is `OMR_MIN(BOUND, ENTITLED)`.

ENTITLED: is the number of CP

[2018-05-17 20:31] pshipton commented on #1917
Removing the -Xcompressedrefs seems like the better approach, rather than excluding. Does the test pass if its removed?

[2018-05-17 20:37] R-Santhir commented on #1550
I have had success with getting a consistent failure, I am now looking further into the failing method.

[2018-05-17 20:38] pshipton commented on #1932
The following section is found in the ENVINFO subcomponent. My vote is to put the new information after this section and before the CPU Information
[code]

@keithc-ca fyi

[2018-05-17 20:40] pshipton commented on #1932
Before the System Information section, or after the CPU Information is also fine with me.

[2018-05-17 20:58] theresa-m commented on #1917
looks like it works.

[2018-05-17 22:02] pshipton commented on #1917
+1 to just removing the -Xcompressedrefs

[2018-05-17 22:29] #1520 closed

[2018-05-18 02:16] #1164 closed

[2018-05-18 02:41] pshipton opened #1938 "Increase default shared cache size for Java 8 64-bit"
#1930 #1164 increased the default shared cache size for Java 9 and later. We should consider doing the same for Java 8. Since Java 8 may be the more often used JVM, increasing the default in Java 8 should be beneficial, especially for those enabling -Xshareclasses without understanding that typically the default size needs to be increased.

We can wait a little bit and see if any problems are disc

[2018-05-18 04:26] #1917 closed

[2018-05-18 07:34] ashu-mehra commented on #1166
I think changes for `Runtime.availableProcessors()` and `jvmtiGetAvailableProcessors` should be protected by `-XX:[+-]UseContainerSupport` option.
Behavior in hotspot is also based on this option, which is enabled by default.
For OpenJ9 we have not yet enabled it by default, but we should do that once things are deemed stable.

[2018-05-18 09:36] ashu-mehra commented on #1166
This will certainly change the number of GC threads. I have run some benchmarks to understand the impact of changing GC threads but the results are not conclusive enough. I am checking with Dmitri and Aleks to decide if we want to tune GC threads or not.
Number of JIT compilation threads is also something which can be tuned based on cpu quota, and as per my discussion with @mpirvu it is okay to tu

[2018-05-18 13:28] mpirvu commented on #1166
It should be noted that while the JIT always creates 7 compilation threads they may not all be used. On Linux a non-root user cannot raise the priority of a thread. Hence, it is possible that compilation threads are starved by the presence of many application threads. The JIT has some logic to detect starvation and the will launch additional compilation threads as needed.

[2018-05-18 14:39] tajila commented on #1166
Thanks @ashu-mehra, I wasn't aware of the `-XX:[+-]UseContainerSupport` option.

Is it safe to assume that if container support is disabled (ie. `-XX:-UseContainerSupport`) then hotspot's behaviour is equivalent to what we are currently doing? In order words, the real issue here is that we don't yet support this option?

[2018-05-18 15:10] ashu-mehra commented on #1166
Right, if you use `-XX:-UseContainerSupport` would disable container awareness in Hotspot. This option not just influences `Runtime.availableProcessors()` but also few other internal JVM parameters like GC and JIT thread counts and heap size (and probably some other). See [this](https://bugs.openjdk.java.net/browse/JDK-8146115.) for more details.

We have added this option in OpenJ9 but it is only

[2018-05-18 16:08] vsebe commented on #1662
Work-around for JDK8, set TMP environment variable in the Jenkins node configuration.

[2018-05-18 16:39] vsebe commented on #1662
@AdamBrousseau - fyi re-enabled https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-JDK8-win_x86-64_cmprssptrs/
[OpenJ9 JDK8 build on windows](https://ci.eclipse.org/openj9/job/Build-JDK8-win_x86-64_cmprssptrs/9/console)

[2018-05-18 17:12] vsebe commented on #1662
[Pipeline-Build-Test-JDK8-win_x86-64_cmprssptrs](https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK8-win_x86-64_cmprssptrs/11/console)
[Pipeline-Build-Test-JDK9-win_x86-64_cmprssptrs](https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK9-win_x86-64_cmprssptrs/11/console)
[Pipeline-Build-Test-JDK10-win_x86-64_cmprssptrs](https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK10-win_x8

[2018-05-18 17:13] AdamBrousseau commented on #1662
@vsebe can we not just backport that fix to jdk8 rather then having a special case setup on every machine config?

[2018-05-18 17:58] vsebe commented on #1662
@AdamBrousseau - I will, the workaround is until the fix makes it into the openj9-openjdk-openjdk8 repo.

[2018-05-18 18:31] R-Santhir commented on #1550
Looks to be an issue with Partial Redundancy Elimination, @andrewcraik can we get someone to help with this?

[2018-05-18 18:54] andrewcraik commented on #1550
A summary of the problem will help make sure the right people look at it - could you summarize your findings?

[2018-05-18 18:55] pshipton commented on #1814
Seems the test also needs to be excluded on Windows Java 8 now https://ci.eclipse.org/openj9/job/Test-Sanity-JDK8-win_x86-64_cmprssptrs/1/tapResults
'''
Testing: nameOption
Test start time: 2018/05/18 12:36:04 Central Standard Time
Running command: cmd /c nameOption.bat C:/Users/jenkins/workspace/Test-Sanity-JDK8-win_x86-64_cmprssptrs/j2sdk-image/jre/bin\..\../bin C:/Users/jenkins/workspace/Test-S

[2018-05-18 19:31] pshipton opened #1944 "Only support allowed JNI versions"
The VM should only allow JNI versions up to the version of the VM being used.

See the comments in #1942.

[2018-05-18 20:25] R-Santhir commented on #1550
I was able to find the compilation of a specific method and an opt transformation index that was causing the failure to popup:

`java/lang/String.value()[B` with a `lastOptTransformationIndex=84`

That index corresponded to Partial redundancy elimination, here's the tree before and after the transformation

Before PRE
[code]

After PRE:
[code]

I'm also attaching the traceFiles, I collected with a

[2018-05-18 20:34] andrewcraik commented on #1550
So I believe this problem has already been fixed by changes from @fjeremic who refactored the implementation of String.value().

The failure here is not a general optimization failure - it is a failure of the Java code of the String implementation to take the optimizer into account. The basic sequence we have in the original code:
[code]

[2018-05-19 04:54] pshipton commented on #54
#1832 is merged.

[2018-05-20 12:33] urisimchoni commented on #1637
It reproduces reliably without the extra -Xjit tracing parameters, and does not reproduce with the parameters. If there's no other tracing combination to try, I can set up a VM in aws (it's a WebSphere traditional with PBW app, and some added Java and native agents that trigger the issue). Alternatively / additionally, given access to a Linux machine with WebSphere and PBW installed, I can add the

[2018-05-20 18:07] ashu-mehra commented on #1166
So it appears JIT is makes a new compilation thread active only when there is requirement which depends on multiple factors such as number of active threads, compilation backlog, compilation thread starvation.
Given that currently the decision of creating 7 threads on Linux is taken irrespective of number of cpus available, I am now thinking why should we change it when using cpu quota? The existi

[2018-05-21 09:48] Lerm opened #1950 "Reflective method invocation may work incorrectly after class redefinition"
Virtual method call through reflection API may work incorrectly after base class is redefined by Java agent.
Here is the simplified description test case for the problem – we have child class (Bar) which overrides methods of its base class (Foo), then base class is redefined using Instrumentation API (Java Agent):
[code]

Expected result – same value ("Bar") is returned from both calls.
Actual res

[2018-05-21 13:14] andrew-m-leonard opened #1951 "JDWP "onuncaught=y" debugger initialization hangs"
The fix for JDWP race condition:
https://github.com/ibmruntimes/openj9-openjdk-jdk10/commit/01d19a4376b08836b57bb3a4eeb221f2ad22c4ad
unfortunately regressed the use of "onuncaught=y" option, whereby the monitor added is never cleared.
I suspect the fix needs some re-think...
Applies to jdk8u, jdk10, jdk11.

[2018-05-21 21:21] tmcdermo commented on #1117
I'd like to tackle this as a means for getting my feet wet in this project (and open source as a whole).

Quick question though: When you say these guards are not necessary, does that mean it always evaluates to true?  I see the 14 uses mentioned but most are in #ifdef statements combined with #else.  Is it safe to assume the #else statements never execute and can be removed with the all of these?

[2018-05-21 22:07] fjeremic commented on #1117
That's right. This is because the macro is defined directly in the makefiles for the entire project:

https://github.com/eclipse/openj9/blob/26f8c7edb1fe37253d001243c0ce14473334d07f/runtime/compiler/trj9/build/toolcfg/common.mk#L51

[2018-05-21 22:12] gacholio commented on #1944
Is there any real reason for this?  The table will support the new calls regardless of version (it's been crafted so that later versions only add to or use unused entries).  There's no enforcement on using calls from later JNI versions regardless of the version requested.

[2018-05-22 01:35] DanHeidinga commented on #1950
Flagging this as both comp vm & jit as redefinition typically involves both components.
FYI @gacholio @andrewcraik

[2018-05-22 12:57] mpirvu commented on #1166
I agree that that all we need to do is to have getNumTargetCPUs take into the consideration the CPU quota.

[2018-05-22 13:33] keithc-ca commented on #1662
The best answer is to define `TEMP` suitably so as not to depend on the hard-coded path in the source code. It will break trying to build a 32-bit JVM on a machine with only C:/cygwin64 present.

[2018-05-22 13:42] cathyzhyi commented on #1637
@urisimchoni could you point me to the logs from a passing run with tracing parameters? Let's see if we can find some clues there. You should be able to find the logs with name in the following format `log.xxxxx.xxxxx.YYYYMMDD.xxxxxx.$PID` and `blog.YYYYMMDD.xxxxxx.$PID`.

Also, could you try to use `-Xjit:{java/io/BufferedInputStream.read()I}(log=/path/to/log,tracefull,traceOSR),vlog=/path/to/vlo

[2018-05-22 13:58] theresa-m commented on #1669
I've created an issue for tracking step 6: getting noncompressed packages built & tested at AdoptOpenJDK https://github.com/AdoptOpenJDK/openjdk-build/issues/341

[2018-05-22 14:17] andrew-m-leonard opened #1955 "J9NLS java*.properties generated as UTF8 and not default charset"
The J9NLS java*.properties files do not use an Output Writer, and thus a binary write using UTF8 is performed. This breaks zOS platform as non-tagged files are assumed to be IBM-1047 charset.

[2018-05-22 14:37] vsebe commented on #1662
These machines are ready. The OpenJ9 JDK [8](https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-JDK8-win_x86-64_cmprssptrs/14/console), [9](https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-JDK9-win_x86-64_cmprssptrs/12/console) and [10](https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-JDK10-win_x86-64_cmprssptrs/12/console) pipelines pass.

[2018-05-22 14:40] #1662 closed

[2018-05-22 16:30] hangshao0 commented on #1645
I will use the OpenJ9 SHA (J9VM_VERSION_STRING)  to distinguish between different builds.

[2018-05-22 18:39] ChengJin01 commented on #1032
[trace_cold_stackmaps.txt](https://github.com/eclipse/openj9/files/2028047/trace_cold_stackmaps.txt)
[trace_warm_stackmaps.txt](https://github.com/eclipse/openj9/files/2028048/trace_warm_stackmaps.txt)

By modifying the tracepoints to include the name of ROM classes/methods to my stackmap changes, the snaptraces show more specifics in cold & warm runs as follows:

**[1] cold run:**
[code]

**[2] w

[2018-05-23 11:07] ashu-mehra commented on #1932
@SueChaplain If you are looking for java release, I believe this should be part of java 11.
If you are looking for OpenJ9 release, then I am not sure.

[2018-05-23 14:18] felipepontes-research commented on #802
I found a test case (test_newInstance from test/functional/Java8andUp/src/org/openj9/test/java/lang/reflect/Test_Array.java) that fails if an array with 256 dimensions is created using Array.newInstance method. Should the behavior of Class.forName be different?

[2018-05-23 15:34] Ali-Ni commented on #1166
Just a note: In Hotspot, `Runtime.availableProcessors()` does take into account cgroup CPU quota when limited by a user defined cgroup outside of a container. If `-XX:-UseContainerSupport` is used however, this behaviour is disabled.

[2018-05-23 17:07] pshipton commented on #1932
@SueChaplain this is unlikely to make 0.9.0

[2018-05-23 17:10] irinarada commented on #1919
@keithc-ca - any news on this one - we'd like to finish off all the items for 0.9.0

[2018-05-23 17:22] keithc-ca commented on #1919
I thought I had a solution for this - it was even merged, but unfortunately, it caused trouble for the AIX platform. I am working on fix it.

[2018-05-23 17:42] irinarada commented on #1550
@AdamBrousseau - Can you verify that this is fixed and close the issue if so. (I am trying to see what's done and what not and what's mustfix for 0.9.0)

[2018-05-23 17:55] irinarada commented on #1919
So it works everywhere except for AIX?

[2018-05-23 17:57] irinarada commented on #1789
@DanHeidinga - is this mustfix for 0.9.0?

[2018-05-23 18:28] pshipton commented on #1550
Since the nightly builds only run once a day, and OMR Acceptance has its own set of problems, it could be some time before we are confident the problem is resolved. I think given Andrew's statement [1] we should assume its fixed and close this issue. We can re-open if it appears again in the re-enabled builds.

[1] https://github.com/eclipse/openj9/issues/1550#issuecomment-390324779

[2018-05-23 18:32] babsingh commented on #1684
**Update:** OpenJDK11 with OpenJ9 should now compile with gcc7.3 on xLinux (related pull requests - https://github.com/eclipse/openj9/pull/1921, https://github.com/eclipse/openj9/pull/1890). On pLinux, OpenJDK11 with OpenJ9 fails compilation in native OpenJDK code. OpenJDK11 code still doesn't have code changes to support gcc7.3 on pLinux. There is no zLinux machine available to test OpenJDK11 wit

[2018-05-23 18:48] keithc-ca commented on #1919
Yes, it worked for all supported OpenJ9 platforms except for AIX. There are some details to be worked out involving linking of shared libraries.

[2018-05-23 18:58] keithc-ca commented on #1684
The PR for Java 8 to use $(CC) instead of gcc is https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/88, but it had to be reverted because it broke AIX builds using xlc. I have been working towards an OpenJ9 PR that will allow ibmruntimes/openj9-openjdk-jdk8#88 (and similar changes for other extension repos) to be restored.

[2018-05-23 19:19] Ali-Ni commented on #1166
A solution could be to change `OMRPORT_CPU_BOUND` to check if the cgroup CPU subsystem is enabled, which indicates that `-XX:+UseContainerSupport` is set (similar to what is done in `sysinfo_get_physical_memory`). If it is, then `OMRPORT_CPU_BOUND` would return the minimum between what it currently returns and the CPU quota.

In Hotspot, `-XX:ActiveProcessCount=count` overrides all other forms of

[2018-05-23 20:28] DanHeidinga opened #1971 "[Nest Mates] Updates to the reflective get host changes"
See mailing list for full details http://mail.openjdk.java.net/pipermail/valhalla-spec-experts/2018-May/000694.html

Full specs: http://cr.openjdk.java.net/~dholmes/8010319-JEP181/specs

java.lang.Class::getNestHost()

http://cr.openjdk.java.net/~dholmes/8010319-JEP181/specs/java.lang/java/lang/Class.html

Error handling
The original text stated:

"If there is any error accessing the nest host, or

[2018-05-23 20:32] pshipton commented on #1789
We were hoping to get it fixed in time for 0.9.0 because users of Java 10 may expect automatic modules to be working properly and the 0.9.0 release is claiming compatibility with Java 10.

[2018-05-23 21:29] Ailloviee opened #1973 "MM_BasePointer.java not generated by PointerGenerator"
MM_BasePointer.java cannot be generated by PointerGenerator due to change made on line 278:
`structure.getConstants().size() > 1` was changed to `structure.getConstants().size() != 0` in by commit 70c18d5a81bb53b12276bf8716aec31843aaaddd

[2018-05-23 23:00] pshipton opened #1974 "Remove usage of J9UniqueBuildID"
I'm not sure J9UniqueBuildID is really a unique build id for OpenJ9 builds. #1967 removes usage of this constant from shared classes code. Other uses should be similarly fixed.

runtime/vm/rasdump.c puts it into the rasStruct in the buildID field.

There is DDR code which uses buildID here debugtools/DDR_VM/src/com/ibm/j9ddr/VMDataFactory.java
Note the part about the length being at least 8.

Ther

[2018-05-24 02:41] JasonFengJ9 opened #1975 "JAVA_SPEC_VERSION is not defined properly within individual sub-module makefile"
`JAVA_SPEC_VERSION` is defined in `targets.mk.ftl` as following:
[code]
in which `VERSION_MAJOR` is defined in https://github.com/ibmruntimes/openj9-openjdk-jdk10/blob/openj9/closed/make/Main.gmk
[code]

When a sub-module such as `j9vm_b156/libjvm.so` is built via a makefile in `j9vm_b156`, `VERSION_MAJOR` is not defined hence `JAVA_SPEC_VERSION` is not defined properly either.
This will build inc

[2018-05-24 03:29] pshipton commented on #1973
@keithc-ca fyi

[2018-05-24 03:31] pshipton commented on #1951
@andrew-m-leonard have you considered reverting the changes?

[2018-05-24 03:43] pshipton commented on #1875
Since #1786 OpenJ9 no longer has any Unicode dependencies in String.toUppercase() or String.toLowercase(), the implementations are in OpenJDK.

Closing since there shouldn't be any OpenJ9 changes required.

[2018-05-24 03:43] #957 closed

[2018-05-24 03:50] pshipton commented on #992
@smlambert @llxia note this will affect Java 11 testing. Anything that uses "--add-modules java.se.ee" will need to be fixed. Likely rewritten to avoid use of the java.se.ee code, since it won't exist. Otherwise the tests will have to add an EE implementation from elsewhere, such as Eclipse Jakarta EE.

[2018-05-24 04:04] pshipton commented on #1856
Since #1718 is merged I assume this can be closed.

[2018-05-24 04:04] #1856 closed

[2018-05-24 04:07] pshipton opened #1977 "jdk11 add String.strip(), stripLeading(), stripTrailing()"
http://cr.openjdk.java.net/~iris/se/11/build/latest/

[2018-05-24 04:20] pshipton opened #1978 "jdk11 add Reference.clone()"
http://cr.openjdk.java.net/~iris/se/11/build/latest/

[2018-05-24 08:06] andrew-m-leonard commented on #1951
@pshipton yes,... but I was waiting Peter's comments first, maybe we ought to revert them for the moment

[2018-05-24 09:00] SueChaplain opened #1979 "List of commits for the release notes"
Release notes for 0.9.0 are underway and should be in a PR later today. Currently, those release notes include the following sections:

1. Binaries and supported environments: E.g. New builds available, new platforms supported
2. Notable changes: New features / changes in behavior
3. Issues / Limitations: Problems and workarounds
4. Other changes: Everything else that's changed since 0.8.0

For (4

[2018-05-24 09:00] urisimchoni commented on #1637
The logs are here:
https://drive.google.com/drive/folders/1vEO64-s93sGAQiVsbubbCKcGm4gEjBSj?usp=sharing

Removing prepareForOSREvenIfThatDoesNothing didn't change things - it doesn't crash

A bit more background - the scenario is to open a JMX RMI connection and send a command to a Java agent, which, in turn, calls a native method in a native JVMTI agent. The JVMTI agent scans all loaded classes a

[2018-05-24 12:38] pdbain-ibm commented on #1951
I think it is safe to revert the change, since the test case's behaviour doesn't represent user behaviour.
Could you provide a test case for the "onuncaught=y" mentioned above?

[2018-05-24 13:43] andrew-m-leonard commented on #1951
@pdbain-ibm The openjdk JITDebug.sh always hangs with this failure:
make run-test TEST='jtreg:test/jdk/com/sun/jdi/JITDebug.sh'

[2018-05-24 14:43] #1428 closed

[2018-05-24 15:41] keithc-ca commented on #1973
I recognized that condition as incorrect, but it worked at the time for all existing classes, so I didn't think it worth the trouble to fix then. If `MM_Base` had two or more constants (now one or more) it would be omitted even though it is the base of other types. I will remedy the situation.

[2018-05-24 16:58] keithc-ca commented on #1973
Did that occur in the context of changes to `omr/gc/base/Base.hpp`?

[2018-05-24 17:34] Ailloviee commented on #1973
No I don't think `Base.hpp` was changed.

[2018-05-24 18:47] babsingh opened #1984 "Signals not working properly for Apache Kafka"
How to reproduce the issue?

**Instructions:** https://kafka.apache.org/quickstart

- Step 1: Download the code
`tar -xzf kafka_2.11-1.1.0.tgz; cd kafka_2.11-1.1.0`

- Step 2: Start the server in a new shell or in background (`&`)
`bin/zookeeper-server-start.sh config/zookeeper.properties`

- Step 3: Start the Kafka server in a new shell or in background (`&`)
`bin/kafka-server-start.sh config/ser

[2018-05-24 18:50] babsingh commented on #1984
fyi - @pshipton

[2018-05-24 18:52] pshipton commented on #54
Re #1984, it seems signals are not working as well as hoped.

[2018-05-24 19:31] gacholio commented on #1950
Yes, the issue is a JNI method ID being created incorrectly after the class redefinition.

[2018-05-24 20:22] AdamBrousseau commented on #1017
https://bugs.eclipse.org/bugs/show_bug.cgi?id=535057
Email from Eclipse:
[code]

[2018-05-24 20:45] fjeremic commented on #667
Continuing work on this today.

[2018-05-24 22:37] #1645 closed

[2018-05-25 00:46] #1973 closed

[2018-05-25 03:09] DanHeidinga commented on #1924
We're coming up on next release - 0.9.0 - hopefully by the end of the month.  Once we've got that release completed, I'd like to come back to this and get the release on SDKman at that point.

[2018-05-25 13:41] AdamBrousseau commented on #1017
Joe delivered a change to stop archiving SDKs in PR builds (#1988)
Our usage has gone from 229G to 175G.
As discussed in Slack, I will reconfigure the other jobs to only store 5 SDKs instead of 10. I will post back once that change has propagated through.
[code]

[2018-05-25 14:55] DanHeidinga commented on #1789
I'm no longer able to build the petclinic modularity demo with either OpenJ9 or Hotspot builds.  My build is running in a docker container the same way I did it the first time.

It fails with

And a very stack trace.  I can supply the stacktrace if that helps.

@panga Is this a known issue with the petclinic demo?

[2018-05-25 14:58] dnwe commented on #1984
@babsingh FYI https://github.com/apache/kafka/pull/5047 (and https://issues.apache.org/jira/browse/KAFKA-6918)

[2018-05-25 15:08] pshipton commented on #1984
FYI Kafka just merged a PR that disables the custom signal handler code when it detects an IBM JRE now
https://github.com/apache/kafka/pull/5047. It seems that someone had raised an issue that it wasn't working on a recent IBM Java 8.

[2018-05-25 15:40] panga commented on #1789
@DanHeidinga sorry, I made a change to include Docker plugin in the default profile, looks like you don't have Docker available.

I fixed that now moving the docker build to "docker" profile, please update and try again.

[2018-05-25 15:48] DanHeidinga commented on #1789
Thanks @panga!  Petclinic starts successfully with #1995:

[code]

[2018-05-25 15:57] panga commented on #1789
yay!

[2018-05-25 17:53] #1950 closed

[2018-05-25 18:09] DanHeidinga commented on #1789
Closing as #1995 is merged

[2018-05-25 18:10] #1789 closed

[2018-05-25 18:50] llxia opened #1998 "wins PR build always shows pass"
It seems Jenkins wins builds have issue to copy *.tap file - AccessDeniedException
https://ci.eclipse.org/openj9/view/Pull%20Requests/job/PullRequest-Sanity-JDK8-win_x86-64_cmprssptrs-OpenJ9/
[code]

Without tap file, the build will show pass regardless the actual test result.
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK8-win_x86-64_cmprssptrs-OpenJ9/1/console

[2018-05-25 19:55] llxia opened #1999 "cmdLineTester_classesdbgddrext failed on wins"
[code]

https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK8-win_x86-64_cmprssptrs-OpenJ9/1/consoleFull

[code]

[2018-05-25 20:40] pshipton commented on #1999
@keithc-ca FYI

[2018-05-26 14:17] pshipton commented on #1919
@sxa555 since you have a workaround, is this required for the OpenJ9 0.9.0 release? If so it may delay the release by a few days.

[2018-05-28 08:34] thjaeckle opened #2000 "StringBuilder.toString() retains null characters of initial size when accessing String "value" via Unsafe"
Hi OpenJ9 team.

I encountered a problem when trying to use the Akka toolkit together with OpenJ9.
Akka uses `Unsafe` in order to efficiently (I guess) access/copy String values and when used in OpenJ9 throws an `ArrayIndexOutOfBoundsException` [here](https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/util/Unsafe.java#L54).

I debugged a little deeper and found out that the ca

[2018-05-28 11:57] pshipton commented on #2000
The changes for 0.9.0 won't give the same behavior as OpenJDK for Java 8, but they will for Java 9 and later.

[2018-05-28 12:43] andrewcraik commented on #2000
Though I would add that, in general, using Unsafe to access the internal implementation of any class which is not part of your application is a fragile design - the internal implementation of any class in the Java Class Library can change at any time and there are some classes (such as java/lang/Class or java/lang/Thread) where different Java implementations will have different internal implementa

[2018-05-28 13:10] thjaeckle commented on #2000
I really don't know - I am just using the Akka toolkit which does that stuff in its [Unsafe.copyUSAsciiStrToBytes(String,byte[])](https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/util/Unsafe.java#L46) method.

So OpenJ9 will have no focus in being also consistent for Java 8 in that point?

[2018-05-28 13:32] pshipton commented on #2000
Changing it for Java 8 may cause a change in performance for existing users of OpenJ9 Java 8. I don't think we should change the default behavior. There is a system property -Djava.lang.string.create.unique=true which almost gives want you want, but not quite. We could add another system property or add more states to the existing one.

[2018-05-28 13:46] fjeremic commented on #2000
If the Akka implementation is changed from:

https://github.com/akka/akka/blob/1919f222fa849ea155e2246e814351517eac07e2/akka-actor/src/main/scala/akka/util/Unsafe.java#L46-L57

to something like this I believe things should work with OpenJ9 on Java 8:

[code]

Note the change in the while loop. We can propose the fix to akka to make it more JVM agnostic.

[2018-05-28 13:56] pshipton commented on #2000
should be `if (isOpenJDK or isJavaVersion9Plus)` I think

[2018-05-28 13:59] pshipton commented on #2000
Sorry, ignore last comment

[2018-05-28 14:26] fjeremic commented on #2000
I supposed before we do that are you able to make this change and test that it fixes the problem you're observing?

[2018-05-28 14:27] hangshao0 commented on #1646
Are we doing this (enabling -Xshareclasses by default) on Java 9+ or Java 8+ ? OpenJ9 Only or OpenJ9 + IBM SDK ?

[2018-05-28 14:35] DanHeidinga commented on #1646
Let's start by enabling by default for Java 9+.

That's a question for IBM to decide what they want to do with their SDK.

[2018-05-28 14:46] liqunl opened #2001 "Iprofiling data of a callsite contains a class loaded by classloader different than the one that loaded the callsite/caller class"
This problem is found in a core dump which is generated by a crash in the JIT when it was trying to compile a method using bad iprofiling data.

I have a change in the JIT  https://github.com/eclipse/openj9/pull/1980 to avoid the crash. However, the real problem is in the iprofiler.

I suspect ROM class sharing is causing the problem.

During the crash, we have
`A.foo -> A.bar`, and `B.bar` overri

[2018-05-28 14:48] liqunl commented on #2001
FYI @DanHeidinga

[2018-05-28 14:49] thjaeckle commented on #2000
I tried for the last 20 minutes to get Akka compiling on my windows machine behind http proxy (corporate network).
Without luck so far - I'll keep on trying a little further, but doesn't look so good ;)

[2018-05-28 15:01] DanHeidinga commented on #2001
@liqunl To a large degree, this is SharedClasses working as designed.

If a classloader is sharedclasses enabled, the VM will check the cache for an appropriate ROMClass.  Being a ROMClass, this is the ROM version of the classfile.  All the hierarchy info apart from this classes superclass and directly implemented interfaces, lives in either other ROMClasses or the J9Class.

We don't track whether

[2018-05-28 15:06] pshipton commented on #1951
The changes have been reverted from Java 8, 9, 10, 11 streams.

[2018-05-28 15:06] #1951 closed

[2018-05-28 15:12] andrewcraik commented on #2001
As mentioned above the is a Pull Request in #1980 which will add the appropriate safety checks. The subtlety of this case is what was surprising. If this is working as intended when shared classes are enabled then we can close this item as working as designed and the checks in #1980 will be sufficient for safety and correctness.

[2018-05-28 15:29] #2001 closed

[2018-05-28 15:30] liqunl commented on #2001
Closed the issue as working as designed.

[2018-05-28 18:08] AdamBrousseau commented on #1662
@vsebe can we delete the TMP/TEMP variables in the machine configs now that your change is merged?
https://ci.eclipse.org/openj9/computer/win2012r2-x86-1/configure

[2018-05-28 18:15] vsebe commented on #1662
@AdamBrousseau - yes

[2018-05-28 18:33] AdamBrousseau commented on #1662
Done.

Currently investigating the problem with JDK9 PR builds
[code]

[2018-05-28 19:10] #1918 closed

[2018-05-28 19:42] pdbain-ibm opened #2005 "Delete placeholder classes for modularity tests"
Java 9 build 148 requires a set of placeholder classes in Java9andUp's "src_current" directory.
Delete src_current and move the contents of Java9andUp/src_latest to "src".

This is related to pull request #1763.

[2018-05-28 19:48] babsingh commented on #1984
### Fix
OpenJ9 changes: https://github.com/eclipse/openj9/pull/2004
OMR changes: https://github.com/eclipse/omr/pull/2598

[2018-05-28 23:45] babsingh commented on #1984
OpenJ9 SDK with the above fix: https://ibm.box.com/s/tymtaix6wql03c5a8b40i8rowzwvl53g

Using the above OpenJ9 SDK, I have verified that Apache Kafka terminates properly when the following signals are raised: `SIGINT`, `SIGTERM`, `SIGHUP` and `Ctrl + C`.

@dnwe would you like to confirm if Apache Kafka terminates properly with the above OpenJ9 SDK?

[2018-05-29 00:07] keithc-ca commented on #1999
I'll start with a fix for this:
[code]

[2018-05-29 07:13] thjaeckle commented on #2000
I'm afraid that I'm too stupid - I tried several hours adding the modified Unsafe.class to the classpath or bootclasspath but it never is used.
I however assume that the modification would be working from what I observed in the reproducer.

[2018-05-29 08:10] andrew-m-leonard commented on #1951
Thanks Peter's

[2018-05-29 09:09] andrew-m-leonard commented on #1955
Fixed in JCL make files by conversion on zOS

[2018-05-29 09:09] #1955 closed

[2018-05-29 12:38] pshipton opened #2009 "cmdLineTester_jvmtitests_hcr_OSRG ta001 failure zLinux, pLinux"
'''
Testing: ta001
Test start time: 2018/05/29 02:28:41 Eastern Standard Time
Running command: "/home/jenkins/jenkins-agent/workspace/Test-Extended-JDK8-linux_390-64_cmprssptrs/j2sdk-image/jre/bin/java"  -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:enableOSR,enableOSROnGuardFailure,count=1,d

[2018-05-29 12:56] AdamBrousseau commented on #1017
Only storing 5 SDKs per build now. Usage went from 180G to 173G.
Also noticed that the workspaces on master are consuming 35G. These are git repos from when we do the initial checkouts before we decide which node to run on. It should be easy to ensure these are cleaned up when we leave the node. I can also add a ref repo to the master to save clone times. I'd like to block this change on #1897.

[2018-05-29 12:57] DanHeidinga commented on #1977
@theresa-m Can you take a look at this?

[2018-05-29 13:15] AdamBrousseau commented on #1897
I think I'm ok with passing them in as build parameters if we use choice params and only give one choice. That way, they can't easily be changed on the fly. Although, I'll have to try it out because when we call a Build job from an upstream pipeline, we don't pass SPEC and SDK. So I'm not sure if the defaults will be picked up. I recall a few years ago that the defaults would get ignored if you pa

[2018-05-29 13:15] AdamBrousseau commented on #1662
As @vsebe suggested, the issue with the PR JDK9 builds is the filepath is too long. Compiling by hand in the PullRequest folder produces the error, renaming the directory to something shorter (PullRequest-adam) resolves the compile error. Not sure if its the entire path that is too long or just the folder `PullRequest-Sanity-JDK9-win_x86-64_cmprssptrs-OpenJ9`. We've been trying to look through the

[2018-05-29 13:35] sxa555 commented on #1621
Tagging in @cwsolee as she raised https://github.com/AdoptOpenJDK/openjdk-build/issues/345 which I've now closed

[2018-05-29 13:53] pshipton commented on #1017
What was the target size Eclipse suggested? I've got 100G in my head but I might be confusing Eclipse ci space with something else.

[2018-05-29 14:06] AdamBrousseau commented on #1017
100G

[2018-05-29 14:48] pshipton commented on #1017
While waiting for #1897 it seems we have no other choice than to reduce the number of logs. We could try 40 instead of 50 to see how the space usage changes.

[2018-05-29 15:48] dougbreaux opened #2010 "Struts 2 s:fielderror not working in Java 8, WebSphere"
([Original thread in Struts mailing list](https://lists.apache.org/thread.html/6328e772fe9925099059035622baab0e3743aa728bbb605f7482555e@%3Cuser.struts.apache.org%3E))

Struts 2.5.14.1, WebSphere 8.5.5.13, IBM Java 8 (level 1.8.0_161) on AIX.

We have a JSP with a plain `<s:fielderror />` element, that works without issue when we switch WebSphere back to Java 7, but in Java 8 produces the following

[2018-05-29 15:58] dmitripivkine commented on #1370
After discussion we decided that -Xgcpolicy:nogc **should** generate set of dumps on OOM by default.
This is a default behaviour for JVM and this is customer responsibility to setup application properly to avoid OOM.

[2018-05-29 17:09] DanHeidinga commented on #2010
@dougbreaux Are you able to run this with the latest OpenJ9 binary?  We need to know if the issue still reproduces and then we can begin to investigate

[2018-05-29 17:25] DanHeidinga commented on #1370
Agreed.  In a scenario tuned to run with the `nogc` policy, an OOM should generate dumps to allow the user to figure out the cause.

[2018-05-29 17:48] DanHeidinga commented on #2010
The Eclipse OpenJ9 and IBM SDKs are being confused in this discussion.  This project creates & maintains the Eclipse OpenJ9 JVM.  IBM consumes from this project to create their IBM Java SDK.

If you need an IBM Java SDK, you'll need to contact IBM.   If you are able to patch your version of Websphere to run with a JDK built from the latest OpenJ9 source, we can see if the problem still reproduces

[2018-05-29 18:52] fengxue-IS commented on #947
the original input is only available to the Java launcher, the best / near identical information can be reconstructed from the `vm_args` passed to `JNI_CreatedJavaVM()`, I am looking at rebuilding the input string in `addLauncherArgs()`

[2018-05-29 19:18] pshipton opened #2013 "cmdLineTester_jvmtitests_2 functional sanity fer003 gfp"
on Java 8 xLinux

[code]

[2018-05-29 19:47] DanHeidinga commented on #947
Another option is to look at the OS and the info it provides:
* https://msdn.microsoft.com/en-us/library/windows/desktop/ms683156(v=vs.85).aspx
* /proc/$PPID/cmdline (linux)

This will get the exact commandline used to start the process, not just the version passed to the VM as some options get modified by the launcher

[2018-05-29 20:16] pshipton opened #2014 "OpenJ9AttachProvider reports name "IBM""
Ideally IBM should not be returned for OpenJ9.

https://github.com/eclipse/openj9/blob/0d97342b7dd23e1af34962e8d71b75e37f0d0131/jcl/src/jdk.attach/share/classes/com/ibm/tools/attach/attacher/OpenJ9AttachProvider.java#L189

[code]

[2018-05-29 21:22] fjeremic commented on #2014
Sounds like this should be moved to an org/openj9/tools/attach/attacher/OpenJ9AttachProvider.java and the name updated?

[2018-05-29 21:43] fjeremic commented on #2000
I've proposed a fix in https://github.com/akka/akka/pull/25165 which should clean things up for OpenJ9. I'll leave this open until https://github.com/akka/akka/pull/25165 is merged at which point we can close this issue.

[2018-05-30 05:17] ChengJin01 commented on #1032
@pshipton ,  should we fix the existing bug with the stored AOT methods (cold run) at first before implementing the new solution ?

[2018-05-30 05:31] AdamBrousseau opened #2017 "Jenkins: Discuss adding a restart job function for use in the OMR Acceptance build"
The OMR Acceptance build currently consists of a compile job followed by a sanity job on jdk8 and jdk10 across aix, win, p/z/x linux and xlinux large heap. This equates to 24 downstream jobs, which is 24 points of failure. This number will only grow as we add more platforms.
We often will have one of them fail in the OMR acceptance build for an intermittent infra issue. Ideally we would fix these

[2018-05-30 12:50] pshipton commented on #1550
AIX builds for JDK10 are still not working reliably, although the failures look different now.

OMR acceptance
https://ci.eclipse.org/openj9/job/Build-JDK10-aix_ppc-64_cmprssptrs/117/
[code]

OMR acceptance
https://ci.eclipse.org/openj9/job/Build-JDK10-aix_ppc-64_cmprssptrs/120/
[code]

Nightly build
https://ci.eclipse.org/openj9/job/Build-JDK10-aix_ppc-64_cmprssptrs/121/
[code]

[2018-05-30 13:01] pshipton commented on #1550
Its interesting that all the failures are on the same machine aix71-p8-2, although there was one job that passed on this machine.

[2018-05-30 13:06] pshipton commented on #1550
I've disabled aix71-p8-2 for now, we'll see if we get any of these failures an another machine.

[2018-05-30 13:08] DanHeidinga commented on #2017
@AdamBrousseau This is an interesting idea and would allow the OMR acceptance build to succeed more regularly.

- Is there an existing Jenkins plugin that would allow restarting downstream stages of a pipeline?

- How is that reflected in the Jenkins UI?  Would it be possible to tell that a build needs regular manual intervention to succeed without having to do a lot of digging?

And the larger qu

[2018-05-30 13:11] pshipton opened #2019 "Test-Extended-JDK8-linux_ppc-64_cmprssptrs_le TestAttachErrorHandling OOM in attach API"
https://ci.eclipse.org/openj9/job/Test-Extended-JDK8-linux_ppc-64_cmprssptrs_le/171/tapResults/
[code]

[2018-05-30 13:16] #1117 closed

[2018-05-30 13:54] DanHeidinga commented on #1765
Given the intermittent nature of this, we should look at how to modify the test to catch the failure and validate if this is a "real" failure or a machine (network? filesystem?) issue

[2018-05-30 14:08] fjeremic commented on #2017
Having been wrestling with OMR-Acceptance for the last several days trying to get a dependent change promoted I'm very much in favor of this as the intermittent and seemingly random machine/infrastructure issues have been a pain to deal with.

[2018-05-30 14:56] pshipton opened #2020 "Turn off all OpenJ9 JDK9 builds"
JDK9 is a short term release which has been out of support since April. JDK10 is available and supported by OpenJ9. The 0.9.0 release plan [1] doesn't include support for JDK9, and JDK9 is not included in the OpenJ9 support statement [2].  OpenJ9 doesn't have the machine capacity to keep testing JDK9 in addition to JDK8 and JDK10.

I suggest OpenJ9 turn off all JDK9 builds.

[1] https://projects.e

[2018-05-30 14:57] pshipton commented on #1662
I suggest OpenJ9 turn off all JDK9 builds #2020

[2018-05-30 15:12] pshipton commented on #1729
Since this failure has never re-occurred I'm going to close this issue.

[2018-05-30 15:12] #1729 closed

[2018-05-30 15:41] AdamBrousseau commented on #2020
Removing from the `all` would still allow PRs to run 9 if it's explicitly requested. We will continue to run 9 in the nightly for now. Also note that OMR Acceptance is only testing 8,10.

[2018-05-30 15:43] AdamBrousseau opened #2023 "Jenkins: AIX builds leave garbage in /tmp"
Example `/tmp/sh-np._zvqab`
Since we hadn't been cleaning them up, one machine we looked at had 200k of these hanging around.

For now I've added an `rm` to the nightly job that cleans up the workspaces but I'd like to add it next to the [cleanWs()](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/build#L262) at the end of a compile. I would like to block or incorporate this c

[2018-05-30 15:58] pshipton commented on #1550
aix71-p8-2 is re-enabled and #2023 is opened for the problem. Closing this issue again.

[2018-05-30 15:58] #1550 closed

[2018-05-30 16:48] ChengJin01 opened #2024 "The wrong logic for the disclaim work in the shared classes"
The current implementation of disclaiming the meta data in the shared cache is incorrect in that it only disclaims the area section(min/max value) set up by the "used" meta data (only when the meta data entry is retrieved) rather than the stored meta data.

The problem was detected in cold/warm runs of LibertyStartup in which case only a few stored meta data entries got retrieved in the cold runs

[2018-05-30 16:49] ChengJin01 commented on #2024
FYI: @pshipton , @DanHeidinga , @hangshao0, @pdbain-ibm

[2018-05-30 16:51] ChengJin01 commented on #1032
Already confirmed with Pete, an issue has been created at https://github.com/eclipse/openj9/issues/2024 for the bug.

[2018-05-30 16:51] AdamBrousseau commented on #2020
Jenkins configs are updated. I did a quick test on the triggers for compile and extended jobs (sanity should be the same). Please let me know if you see any anomalies.

[2018-05-30 17:06] fjeremic commented on #2020
I was unable to attend the call. What was the consensus of when to fully remove these builds? How long do we keep them around for?

[2018-05-30 17:08] jdekonin commented on #1765
I have this job failing on an internal win2008 and AIX7.1 systems.  And I can't find the job at the moment but I am 99% sure I've seen this fail on x86 CentOS6.9

ValueAnnotation.class can be found in generaltest.jar.  So far I haven't been able to catch a failing job and check the jar to see if its actually there.  I have also compiled and checked for the classes existence in a 20x loop with no a

[2018-05-30 17:12] jdekonin commented on #1765
I have a grinder job like what is setup at [AdoptOpenJDK](https://ci.adoptopenjdk.net/view/all/job/Grinder/) and currently have a 10x on the same machine running.  Next I'll look at adding more debugging around the test itself.

[2018-05-30 17:22] DanHeidinga commented on #2020
We only discussed removing them from the PR builds during the call to reduce the machine load and ensure that builds are able to complete in a reasonable timeframe.

[2018-05-30 17:59] AdamBrousseau commented on #1662
Since #2020, I will leave win 9 sanity/ext fully disabled (compile still enabled) and consider this closed.

[2018-05-30 18:40] llxia commented on #1998
This is not limited to wins PR test builds. It seems all wins test builds have this issue.

The last working build is on May 18 11:45am.
https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-JDK9-win_x86-64_cmprssptrs/8/console

The first failure is seen on same day 7:44pm.
https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-JDK9-win_x86-64_cmprssptrs/9/console

fyi @jdekonin

[2018-05-30 19:57] pshipton opened #2029 "String and associated tests should be run with -XX:+CompactStrings"
In #1913 @fjeremic suggests: 'we should run the entire JCL_TEST_Java-Lang with compact strings enabled explicitly and disabled explicitly. Or at the very least run all the String, StringBuffer, StringBuilder, Integer, Long, and StringCoding tests in both variations.'

Although I think running the entire JCL_TEST_Java-Lang again would add too much overhead to the sanity testing.

[2018-05-30 20:05] fjeremic commented on #2029
You're probably right. And it may be overkill as most bugs would be caught in the aforementioned classes.

[2018-05-30 20:05] #1660 closed

[2018-05-30 20:11] mpirvu commented on #1522
This issue should be fixed now by #2011

[2018-05-30 20:11] #1522 closed

[2018-05-30 21:40] #667 closed

[2018-05-30 22:19] #1984 closed

[2018-05-30 23:14] pshipton opened #2030 "Cannot load agent jar in Java 10 modular app"
Trying to load an agent jar into OpenJ9 Java 10 using the attach API, where Java 10 is running a module, results in a AgentLoadException error 102. It works with OpenJDK.
[code]

openjdk version "10.0.1-adoptopenjdk" 2018-04-17
OpenJDK Runtime Environment (build 10.0.1-adoptopenjdk+0-adhoc..openjdk)
Eclipse OpenJ9 VM (build master-6f5a858a, JRE 10 Windows 8.1 amd64-64-Bit Compressed References 201

[2018-05-31 02:34] AdamBrousseau commented on #1017
Cleaned up all the workspaces on master. Reduced usage from 185G to 148G. Will keep an eye on these and look into a solution for not keeping them around.

[2018-05-31 03:16] AdamBrousseau commented on #1017
Seems the Sanity logs are larger than the Extended or Compile. Do we want to reduce to 40 across the board or something else? Only for PR sanity, all sanity, just compiles?

[2018-05-31 03:43] pshipton commented on #1017
Lets try 40 across the board and see where that puts us for space.

[2018-05-31 03:45] pshipton commented on #1017
Can also reduce non-PR sanity/extended/compile to 10 builds, as I expect failures in nightly or omr acceptance will get looked at quickly.

[2018-05-31 07:36] iamybj opened #2031 "How to run 10+ websites and 10K+ connections in Java?"
I do java programming in my work, but only work.
When you want to do some coding in private time, or do a start-up, you usually do not use java, you may use PHP.
Java is a commercial platform, so it wast memory, force customers to buy expensive servers from oracle/ibm.
But its time of opensource and internet, not 20th century.
I have a 512m memory VPS, I want to build some websites in it. But I fo

[2018-05-31 12:50] pshipton commented on #2030
It doesn't work with Java 8 either. I was trying to recreate an error 102 with Java 10 but hit this instead. I feel like I'm doing something wrong but so far haven't been able to figure out what.

[2018-05-31 13:11] pshipton opened #2032 "Attach API should not print errors to the console"
When trying to load an agent jar using attach api, I noticed the OpenJ9 target VM prints errors to the console, while OpenJDK give meaningful error messages to the attacher.

OpenJ9 target console
[code]

OpenJ9 attach exception
[code]

OpenJDK console shows nothing. OpenJDK attach exception
[code]

[2018-05-31 13:54] pshipton opened #2033 "Attach API sends agent output to the wrong console"
Using attach api to load an agent jar, on OpenJ9 the console output goes to the target console, while on OpenJDK the output goes to the attacher console.

[2018-05-31 14:40] pshipton commented on #2030
One use case for having this working is MAT (the Eclipse memory analyzer toolkit). It allows you to attach to a running java process and create a system dump for analysis. However it doesn't work with Java 10 when running a modular app, as described above.

[2018-05-31 17:48] Mesbah-Alam opened #2036 "java.specification.version contains wrong value in OpenJDK10-OpenJ9 SDK"
`java.specification.version` property contains wrong value ("9") in OpenJDK10-OpenJ9 SDK.

**Output with OpenJDK10-OpenJ9**
[code]

**Output with OpenJDK10**

[code]

[2018-05-31 18:15] llxia opened #2037 "Add AdoptOpenJDK test pipelines into nightly build"
Going to add AdoptOpenJDK test pipeline into nightly build https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All/

- sanity.functional
- sanity.system
- extended.functional

Test job will be named as the following format `Test-${test_target}-JDK${SDK_VERSION}-${SPEC}`

And these test jobs will run in parallel after SDK compilation build is completed. For example:

![screen shot 2018-05-31 at 2

[2018-05-31 18:30] JasonFengJ9 commented on #2036
Working on a fix.

[2018-05-31 19:48] babsingh opened #2041 "gdb unsupported in Docker"
OpenJ9 DockerFile(s) used to build OpenJ9 don't support gdb out of the box.

We need to add documentation so that a user can setup Docker for debugging with gdb.

### Few known issues:

1) Docker containers don't support gdb by default. Docker containers need to be run in privileged mode to enable gdb.
   - Running Docker containers in privileged mode:
            `docker run --privileged -it <doc

[2018-05-31 19:49] babsingh commented on #2041
fyi - @pshipton

[2018-05-31 21:38] fjeremic opened #2045 "Consolidate java/lang/Math acceleration and implement it for Z"
It seems we have duplicated logic in the Walker as well as RecognizedCallTransformer for accelerating `java.lang.Math.min` type operations. We are also missing support for this on Z:

https://github.com/eclipse/openj9/blob/1ca0ab9841f1a6b17fde82402582249853a1e6e7/runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp#L154-L158

https://github.com/eclipse/openj9/blob/1ca0ab9841f1a6b17fde8240258

[2018-05-31 22:11] jdekonin commented on #1998
@vsebe, please update with your findings.  Thanks.

[2018-06-01 02:30] DanHeidinga commented on #2041
@babsingh This would be a great blog post on the OpenJ9 blog or as a reference on how to debug in the in the /openj9/docs directory

[2018-06-01 12:04] smlambert commented on #2041
A blog post referencing new doc in the repo!  Yes!  Sent you an invite @babsingh for contributing to openj9/wordpress blog... :)

[2018-06-01 12:32] babsingh commented on #2041
Yes, I have access to openj9/wordpress blog. I will draft a blog post on this topic.

[2018-06-01 12:39] pshipton commented on #2009
I'll mark this as high priority (to at least exclude the test until fixed) since its often failing in the nightly builds, and likely in PR testing as well.

[2018-06-01 13:07] vsebe commented on #1998
[code]
The copy looks to overwrite the file- same path - and fails due to "/" vs "\".
Updated the Jenkins nodes path to root to use "\".

Latest [Test-Sanity-JDK8-win_x86-64_cmprssptrs](https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-JDK8-win_x86-64_cmprssptrs/24/consoleFull) passed.

[code]

[2018-06-01 13:11] vsebe commented on #1998
@llxia - this is fixed

[2018-06-01 13:27] pdbain-ibm opened #2047 "Intermittent NullPointerException in TestAttachErrorHandling.deleteIpcDirectories"
Low priority test issue.

[code]
[code]
getTargetPid() should not return null, and ipcDir is used on line 112.

[2018-06-01 13:29] pdbain-ibm commented on #1738
Closed by https://github.com/eclipse/openj9/pull/1801

[2018-06-01 13:29] #1738 closed

[2018-06-01 13:35] AdamBrousseau commented on #659
Paraphrased summary response from Cindy back in November was
- Not a known issue (nobody else has complained)
- They did have a CC (community cloud) issue a few months prior that was fixed in some network configs
- Machines are geographically located in a college in New York
- Not much they can do about network perf if the problem is a small pipe

While zLInux continues to be the slowest platform

[2018-06-01 13:35] #659 closed

[2018-06-01 13:57] aguibert commented on #1852
+1 for this issue, we ran into this on @OpenLiberty when attempting to upgrade from Hibernate Validator 6.0.9 to 6.0.10

[2018-06-01 14:00] JasonFengJ9 commented on #1852
Note: working on a fix.

[2018-06-01 14:09] pdbain-ibm opened #2048 "Unnecessary synchronization in com.ibm.tools.attach.target.IPC.printLogMessage"
printLogMessage() (both versions) are synchronized and call synchronized getLogStream().
These methods are called in critical code paths to determine if logging is enabled.
The synchronization is usually unnecessary and adds overhead.

Suggestion:
- static (non volatile) state variable for logging with 3 values: unknown, enabled, disabled.
- state initialized to unknown by IPC clinit
- Attach API

[2018-06-01 14:10] pdbain-ibm commented on #2048
@pshipton Could you review this idea?  Thanks.

[2018-06-01 14:12] DanHeidinga opened #2049 "Correctly truncate boolean values in the appropriate bytecodes"
Bytecodes that need to be updated:   **Complete in 0.11.0**
- [x]  bastore #2910 #2046
- [x] putfield / putstatic #2057 #2285
- [x] returns #1831 #1943

Targeted for 0.12.0:
- [x] Confirm whether JNI follows the same rules
- [x] VM truncate boolean JNI returns: ~~#3678~~ replaced by #3896
- [x] VM Truncate boolean writes in JNI and Unsafe: ~~#3648~~ replaced by #3896
- [x] VM Truncate boolean read

[2018-06-01 14:13] DanHeidinga commented on #2049
Opened an issue to connect the VM and JIT PRs for this issue.

[2018-06-01 14:16] DanHeidinga commented on #2049
@andrewcraik @fjeremic - I'll hold off merging the VM PR until we have an idea of when the JIT side can be ready

[2018-06-01 14:20] ChengJin01 commented on #2024
@pshipton,    I talked to Hang. Basically there are two solutions to disclaim the meta data as follows:

1) call updateAccessedShrCacheMetadataBounds() whenever storing the meta data (AOT method, attachData, ROM class, etc) , in which case it triggers to disclaim the meta data in cold run ( the existing code already called updateAccessedShrCacheMetadataBounds when finding the meta data in warm run

[2018-06-01 14:35] llxia commented on #2020
How long will we continue running JDK9 in nightly build? I am working on Add AdoptOpenJDK test pipelines into nightly build #2037 and I am wondering if I need add new JDK9 test jobs into nightly?

[2018-06-01 14:41] pdbain-ibm commented on #2030
Will investigate.

[2018-06-01 14:42] DanHeidinga opened #2051 "Eclipse equinox launcher does not recognise OpenJ9 java 10 as modular VM"
Mirrored from: https://bugs.eclipse.org/bugs/show_bug.cgi?id=535414

I notice that the Eclipse Photon launcher has a test isModularVM() function here:

https://github.com/eclipse/rt.equinox.framework/blob/master/features/org.eclipse.equinox.executable.feature/library/win32/eclipseWin.c

which tests jvm.dll for PRODUCT_VERSION_KEY to check the product version >= 9

Using Windows Explorer to find jv

[2018-06-01 14:44] DanHeidinga commented on #2051
@theresa-m Can you take a look at this?

[2018-06-01 14:46] keithc-ca commented on #2051
I think would be better to fix eclipse as I've described in the bugzilla.

[2018-06-01 14:47] DanHeidinga commented on #2051
I don't see your comment in the bugzilla.  Can you mirror it here?

[2018-06-01 15:28] keithc-ca commented on #2051
From https://bugs.eclipse.org/bugs/show_bug.cgi?id=535414#c3:

I think the eclipse launcher should be improved. Relying on the output of 'java -version' or the version in jvm.dll is at best fragile. Instead I suggest that on all platforms a small Java application should be used that consults the system property 'java.specification.version'.

[2018-06-01 15:45] pdbain-ibm opened #2054 "JVM should ensure that modules of classes modified by ClassFileLoadHook read the unnamed module of agent"
OpenJ9 must support the following from the Java 9 JVMTI spec.

"As an aid to agents that deploy supporting classes on the search path of the bootstrap class loader, or the search path of the class loader that loads the main class, the Java virtual machine arranges for the module of classes transformed by the ClassFileLoadHook event to read the unnamed module of both class loaders."

[2018-06-01 16:19] Ali-Ni commented on #1166
@dmitripivkine can you look at my previous comment and give your thoughts on oracle's implementation of `-XX:ActiveProcessorCount`? Do we want to copy this behavior?

[2018-06-01 16:54] fjeremic commented on #2049
@DanHeidinga do we have a failing test case or unit tests for this one? @andrewcraik sounds like we need to change for from:

[code]

to

[code]

[2018-06-01 17:03] fjeremic commented on #2000
https://github.com/akka/akka/issues/25161 has been merged. This is fixed in the upstream akka repo. Please close the issue if the fix is satisfactory. Thanks!

[2018-06-01 17:40] fjeremic commented on #2049
I have a fix ready in https://github.com/eclipse/openj9/pull/2055. Awaiting review.

[2018-06-01 17:52] pshipton commented on #2051
Keith mentioned the JRE doesn't have the release file.

[2018-06-01 17:59] pshipton commented on #2051
I think I misunderstood. If you point at the jre/bin directory, instead of the bin directory, as the location of the JVM (or set JAVA_HOME=jre), it may not be obvious that the release file would be one level higher up.

[2018-06-01 20:00] theresa-m commented on #1669
I'm writing a blog post to show how to compile non-compressedrefs builds, would anyone object to me adding a note about the configure option into the OpenJ9 website build instructions as well? It seems like the most useful place to have this information.

[2018-06-01 20:20] vijaysun-omr commented on #2024
FYI @mpirvu

[2018-06-01 21:32] pshipton commented on #2020
+1 for only running 8 and 10 (plus 11 shortly).

[2018-06-01 21:50] #1977 closed

[2018-06-01 22:28] tjulises opened #2059 "Logo Proporsal"
Hi @eclipse

My name is Ulises or TJ if you like,
i'm a graphic designer and I contribute to cool projects (open source) like this one!
if this is something that you're looking forward to, I'll gladly upload some logo proposals

I'll look forward for your reply, cheers!

TJ.

[2018-06-01 23:39] pshipton commented on #54
Another fix here https://github.com/eclipse/omr/pull/2611

[2018-06-01 23:44] pshipton commented on #2059
We are willing to look, but no guarantee we will accept what is proposed. We did get some logo proposals around the time the project was created, but didn't like any of them enough to use them.

[2018-06-01 23:47] pshipton commented on #2024
I think option 2 would work, but only for the cold run. The logic for the warm run should not be changed. We shouldn't disclaim from UPDATEPTR(_theca) in a warm run because this would AOT which hasn't yet been used.

[2018-06-01 23:55] pshipton commented on #2024
Although, its that simple because there can be multiple JVMs building the cache at the same time. Just because one JVM creates the cache doesn't mean it will write all the data, or be in sync with other JVMs writing to the cache. Option 2 will only work when there is only one JVM creating the cache contents. To play it safe we'd better stick with option 1.

[2018-06-02 00:02] pshipton commented on #2048
You can make it work by using Unsafe to write the log stream object. There is another potential problem other than the log stream being null, it could be non-null but not properly initialized due to out of order writes. See the code using Unsafe in java.lang.Class for examples.

[2018-06-02 04:19] ChengJin01 commented on #2024
I already implemented the option 2 and compared the results with the existing build on LibertyStartup.
[liberty-xa6490_openj9_disclaim.txt](https://github.com/eclipse/openj9/files/2064637/liberty-xa6490_openj9_disclaim.txt)
[liberty-xa6490_openj9_ibuild.txt](https://github.com/eclipse/openj9/files/2064638/liberty-xa6490_openj9_ibuild.txt)

Only in terms of the footprint scores above, it works good

[2018-06-02 05:19] tjulises commented on #2059
Yes, I understand! before proceeding, I'd also like to ask some questions (towards the logo-making) @pshipton

What's the name that should be displayed on the logo, If there should be any.

How would you describe this project,
what is it intended to do?

What would you like this logo to transmit?

this little details are going to help me transmit what it's supposed to.

I'll look forward for your

[2018-06-02 11:14] thjaeckle commented on #2000
Great, thanks so much for the help and the PR at the correct place.

[2018-06-02 11:14] #2000 closed

[2018-06-02 13:19] DanHeidinga commented on #2049
See https://github.com/eclipse/openj9/pull/2046#issuecomment-393987313 for details on how to address `bastore` correctly in the JIT.

[2018-06-02 13:31] DanHeidinga commented on #2059
There's a regular community call on Wednesday's at 11 AM EST run using zoom.  If you're able to attend we could discuss on the call in a high bandwidth format and hopefully get some broader community feedback.

[2018-06-03 01:09] #1850 closed

[2018-06-03 17:04] pbannister opened #2060 "Clarify the license / legal status (relative to Oracle)."
This is an ask for the documentation. Should be easy (I hope).

What is the legal status of OpenJ9 relative to Oracle? Is it in any way encumbered?

Yes, the fact that this is an Eclipse project _seems_ to implicitly answer the question. However Oracle has a history that raises questions. A simple positive statement as to any (or no) restrictions on use would clarify.

Fodder for the README. :)

(

[2018-06-04 10:17] SueChaplain commented on #1669
Please see my comments on the PR. The aim of the build page is to provide the "simplest" set of build steps to make it look easy. So my suggestion would be to add it to the detailed build instructions, with maybe a one liner "If you need a heap size > ....."

[2018-06-04 13:06] theresa-m commented on #2051
should I still be looking at fixing this in OpenJ9 until there are changes in the Eclipse launcher?

[2018-06-04 13:29] pdbain-ibm commented on #2048
I think I'm over-engineering it.  I care about performance only when logging is disabled.
Amend above protocol:
- Users of the logging API check the state:
    - if unknown, enter a synchronized block and check again. If state is unknown or disabled, quit. If it is now enabled, get the log stream and proceed with logging. Exit synchronized block.
   - if disabled, quit
   - if enabled, enter a syn

[2018-06-04 13:37] pshipton commented on #1669
I assume "details build instructions" refers to the files in https://github.com/eclipse/openj9/tree/master/buildenv

[2018-06-04 13:47] pshipton commented on #2048
Seems fine.

[2018-06-04 13:54] pshipton opened #2062 "--illegal-access problem accessing com.ibm.tools.attach.attacher"
Andrew Johnson reported the following on Slack.
com.ibm.tools.attach.attcher is in the java8 packages list
https://github.com/eclipse/openj9/blob/b1f429438c2f3200b3ba0374d682213312b4117a/runtime/oti/j9java8packages.h#L1688

"
I was writing a test case to understand what was happening with Eclipse MAT bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=535353. The problem was that I was reflectively

[2018-06-04 14:03] mstoodle commented on #2060
OpenJ9 is an independent implementation of a Java Virtual Machine built originally by IBM and open sourced under AL2+EPL2 (with secondary license matching OpenJDK's license) in September 2017.

Is that the kind of statement you were looking for? Or are you looking for something even more explicit?

[2018-06-04 14:45] ajohnson1 commented on #2062
This was the test code.
[code]
I ran it using:
[code]
[code]
[code]
[code]

I don't think that com.ibm.tools.attach.attacher needs to be accessible - calling the method on the class from com.sun.tools.attach.spi package works.

[2018-06-04 14:48] sxa555 opened #2063 "Windows builds failing at adoptopenjdk"
AO8/J9 builds missing cpio - broken since 3rd May: https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_windows/
[code]
AO9/J9 and AO10/J9 broken since May 24th: https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_x86-64_windows and https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_x86-64_windows/62/console
[code]

[2018-06-04 15:15] DanHeidinga commented on #1633
@NatiZel Any luck with creating a test case for this issue?  Even a larger application is fine as long as there's something for us to investigate.

[2018-06-04 15:15] llxia commented on #1998
Wins builds can get TAP file without problem.

[2018-06-04 15:15] #1998 closed

[2018-06-04 15:23] DanHeidinga commented on #2063
@ChengJin01 Can you take a look at the A09/J9 & AO10/J9 build failures?

[2018-06-04 15:46] ChengJin01 commented on #2063
Will check it out  to see what happens.

[2018-06-04 15:56] theresa-m commented on #2051
out of curiosity what do these numbers actually mean?

[2018-06-04 16:55] irinarada commented on #1684
@keithc-ca - any updates on your fix?

[2018-06-04 17:22] pshipton opened #2065 "Windows cmdLineTest_J9test sanity failure due to timeout testing -Xpreloaduser32 -Xprotectcontiguous"
This just started occurring over the weekend. I think its intermittent but its blocking omr promotion.
Failures to date have occurred on jdk9 and jdk10.
I thought it was related to having processes hung on the Windows machines, waiting for a dialog, but Adam checked the machines and didn't find any dialogs.

Testing: -Xpreloaduser32 -Xprotectcontiguous
Test start time: 2018/06/04 08:52:44 Central

[2018-06-04 17:25] pdbain-ibm opened #2066 "Spurious field: J9VMClassLoadHookEvent.classDataReplaced"
The field is set but never used.  It has been in the code since jvm.26 for no apparent reason.

[2018-06-04 18:20] pshipton commented on #1684
@irinarada I think this is the wrong issue to be asking, I think you meant to ask in #1919. Anyway, there are still some problems to resolve before #1919 is fixed.

[2018-06-04 18:22] JasonFengJ9 commented on #2065
Investigating..

[2018-06-04 18:22] pshipton commented on #2065
@JasonFengJ9 is looking at this.

[2018-06-04 18:58] dnakamura commented on #1979
I have a simple script which has a few limitations.
- It is fragile with respect to the ordering of children on merge commits.  Currently its tuned for the way github formats merge commits. ie. the old master is the first child, the head that you are merging in is the second child (I believe `git merge` does it the other way arround)
- "title" is assumed to be the first line of the merge commit bo

[2018-06-04 19:02] pshipton commented on #2051
The 2.9 corresponds to the J9 version 2.9 (jvm.29, R2.9)) which originates from IBM's contribution of the code. For the 0.54, looking at [1] it seems to be the build id.

[1] https://github.com/eclipse/openj9/blob/4e26fc285d48a87ee5f56ab8cea5541491514cca/sourcetools/com.ibm.uma/com/ibm/j9/uma/platform/PlatformWindows.java#L201

[2018-06-04 19:45] keithc-ca opened #2067 "Line number table decompression"
The code in optinfo.c doesn't handle decompression of entries properly in the most general case (where the PC and line-number offsets are large). The line at [1]:
[code]
does nothing because the value was already limited to 16 bits; so it doesn't do as the comment says: 'set the sign bit to 1'. Perhaps what was intended was:
[code]
Whatever the outcome, the behavior should be mirrored in [2].

[1]

[2018-06-04 20:10] ChengJin01 commented on #2063
1 )   checking for cpio... no ---  AO8/J9 builds missing cpio
According to https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V8.md,
please check whether cpio  is correctly installed via Cywgin (In the Utils category)

[2018-06-04 20:52] ChengJin01 commented on #2063
2) configure: error: cannot guess build type; you must specify one

The problem actually failed at:
[code]

I manually ran config script locally with the latest code code in https://github.com/ibmruntimes/openj9-openjdk-jdk8.git and https://github.com/ibmruntimes/openj9-openjdk-jdk9.git and the checking for the system type passed correctly as follows:
[code]
So the investigation suggests:
[1] ther

[2018-06-04 21:47] pshipton commented on #1684
@babsingh what testing did you run on the xLinux JVM compiled with gcc 7.3?

[2018-06-04 21:58] #2036 closed

[2018-06-04 22:18] babsingh commented on #1684
just `java -version`. would you like me to run sanity test suite?

[2018-06-04 23:47] pshipton commented on #1684
please do, and if they pass and its easy might as well run the extended tests as well.

[2018-06-05 02:53] pbannister commented on #2060
After Oracle bought Sun, one of my (very large) DoD customers reported a
visit from an Oracle representative, who claimed the DoD was several
million licenses out of compliance. The DoD folk were able to face down the
Oracle guy, but this behavior raises questions.

Oracle is at present (still) suing Google, over Java.

As a developer, I am unsure whether basing future projects on the JVM is a
goo

[2018-06-05 03:48] gacholio commented on #2066
It likely was used in the past.  It's part of the API for this hook.  Removing it really won't save us anything.

[2018-06-05 13:24] pshipton commented on #1932
@joransiu fyi

[2018-06-05 13:32] mstoodle commented on #2060
Hi @pbannister,

The FAQ here may be helpful: https://www.eclipse.org/legal/epl-2.0/

For legal advice, you would have to consult your own attorney to see if these licences are appropriate for your use.  For prebuild OpenJDK binaries, including ones with OpenJ9, we recommend going to AdoptOpenJDK.net  https://adoptopenjdk.net/?variant=openjdk8-openj9

Incidentally, I submitted a PR (#2064) with ad

[2018-06-05 13:46] joransiu commented on #1932
+1.  We recently worked on a performance issue that was a result of an unexpected cpu quota being set on the container running the JVM.  It would be great if such container constraints were dumped into javacore as suggested here.

[2018-06-05 13:47] pdbain-ibm commented on #2066
Thanks.  Closing thjis.

[2018-06-05 13:47] #2066 closed

[2018-06-05 14:06] mstoodle commented on #2060
In case anyone read my comment before I updated the link, I just updated it so that the "FAQ" link actually points at Eclipse's Legal FAQ page rather than the much less "FAQ-ey" EPLv2 license page. Sorry for any confusion.

[2018-06-05 14:10] charliegracie opened #2070 "Float and double math is slower on OpenJ9 than Hotspot"
A [blog post](https://www.excelsiorjet.com/memory-manager-scalability) by the Excelsior Jet team comparing the performance of OpenJDK with Hotspot, Excelsior Jet 14 and OpenJDK with OpenJ9 claimed that OpenJ9 was not scaling as well as the other two JVMs.  I dug into the results as I wanted to see why OpenJ9s allocator was not scaling as well as the other JVMs.

After replicating the performance d

[2018-06-05 14:27] SueChaplain commented on #1979
@dnakamura  That's great Devin. I just had a play looking at a small set of changes between tags (openj9-0.8.0-rc1..openj9-0.8.0-rc2) and the list looks nice and neat. I can't comment on the limitations you mention .... sounds fair to me, but maybe some others can weigh in their thoughts.

@pshipton @DanHeidinga @mstoodle ?? Are you good with us using Devin's script to generate the "Other changes"

[2018-06-05 14:29] dougbreaux commented on #2010
Somebody in IBM was able to get us a test WAS iFix with FP 16 in it, which would include the 1892 fix, but regrettably, still has this problem.

[code]

[2018-06-05 14:30] pshipton commented on #1370
Well, I was just about to ask @dmitripivkine @LinHu2016 if there more work to do, or we can close this Issue.

@fjeremic do we need to keep it open for potential future JIT work, or should we create another issue for that?

[2018-06-05 14:32] fjeremic commented on #1370
I would say create another issue or leave things as is since we already took note of it here. I see this as an opportunity for future improvement however we would need to justify investment into this area which means this GC policy has to see some traction first from users.

[2018-06-05 14:33] pbannister commented on #2060
Curious, that Sun is explicit in the opening page of 1996 JVM specification:

Sun Microsystems, Inc. (SUN) hereby grants to you a fully-paid,

Where the more recent JVM specifications seem to entirely omit similar
text. (Or perhaps I just missed?) We are assuming the same status applies
to the current JVM specifications.

In any case, long ago IBM did a clean-room implementation of the JVM, as
all

[2018-06-05 14:34] irinarada commented on #1697
Do we have an outlook for starting this?

[2018-06-05 14:35] llxia opened #2071 "get test compilation ready for JDK11"
http://cr.openjdk.java.net/~iris/se/11/latestSpec/

Some links for detail in JDK11:
- Avoid use of the java.se.ee code in testing
Due to https://github.com/eclipse/openj9/issues/992, tests need to be updated to avoid use of the java.se.ee code, as it won't exist in JDK11. https://bugs.openjdk.java.net/browse/JDK-8189188
- java.lang.System#runFinalizersOnExit(boolean)is removed in JDK11 based on ht

[2018-06-05 14:38] charliegracie opened #2072 "Opportunity to stack allocate more objects in OpenJ9"
Along with my investigation into Issue #2070 I also noticed some opportunities for stack allocation that I believe are being missed.

The tight loop in the [benchmark](https://www.excelsiorjet.com/memory-manager-scalability) is using boxed double objects to perform some math operations.
[code]

In this loop only the final value for result actually escapes.  I can verify that even at a scorching co

[2018-06-05 14:40] charliegracie commented on #2072
I attempted to dig through the JIT tracing to see why these objects are believed to be escaping but I very quickly got in too deep and was not able to follow the code without spending a significant amount of time.  I figured I would leave this to the experts.  I can gather logs, test potential fixes, etc. to help out in any way I can.

[2018-06-05 14:44] DanHeidinga commented on #2010
@dougbreaux Are you able to add the following commandline to the your run?
[code]
This will generate both java cores and system cores when the AbstractMethodError is being thrown.  The cores will allow us to understand what's happening in the VM at that point and hopefully find a solution.

The cores can be shared privately if you prefer - reach out to me either here or internally and we can work

[2018-06-05 14:49] mstoodle commented on #2060
@pbannister Whenever I've looked for it, that approximate text has been in an appendix of the JVM specification.

[2018-06-05 14:55] babsingh commented on #1684
i tried building/running sanity test suite using JDK11 which is built with GCC-7.3. because of https://github.com/eclipse/openj9/issues/992, openj9/tests can't be compiled. JEP 320 removes the Java EE and CORBA modules in JDK11. there is no quick fix for this issue. we will have to wait for the test team to resolve this issue. for future testing, i have uploaded JDK11 built using GCC-7.3 on Box: h

[2018-06-05 15:02] pshipton opened #2073 "JDK10 TestManagementUtils.testToStackTraceElementCompositeData TestMonitorInfo.testFrom sanity failures"
New failures in the JDK10 sanity tests

[code]

[code]

[2018-06-05 15:06] dmitripivkine commented on #1370
I believe we do have good starting point and can close this issue. JIT support and GC further improvements can be done under another issues.

[2018-06-05 15:07] 0xdaryl commented on #2070
@shivammittal99 is already working on providing proper floating point support into simplifier and VP, which may be enough to improve this code.  He can evaluate his solution on your test cases.

[2018-06-05 15:09] babsingh commented on #2071
@llxia using JDK11, i got other compile errors after ignoring tests that rely upon java.se.ee code. (Rename `build.xml` - a hack to ignore `functional/UnsafeTest` and `functional/Java8andUp`.)

[code]

may be this issue can aim at successfully compiling openj9/tests with JDK11.

[2018-06-05 15:17] pshipton commented on #1370
Seems the consensus is to close.

[2018-06-05 15:17] babsingh commented on #2041
I have published a blog post - [Debugging OpenJ9 in Docker with GDB](https://wordpress.com/post/blog.openj9.org/61). So ... closing this issue

[2018-06-05 15:17] #2041 closed

[2018-06-05 15:27] charliegracie commented on #2070
@0xdaryl is that eclipse/omr#2599 that you are talking about?

[2018-06-05 15:33] chandrams commented on #1306
@smlambert - Any update on this one? I 'm looking specifically for isJava8() to include in one of the functional tests.

[2018-06-05 15:43] 0xdaryl commented on #2070
That's the start of it.  That particular PR just contains some initial simplifier changes.  More changes (including VP) will be coming over the next couple of months.  I'll ask @shivammittal99 to create proper issues describing the work.

[2018-06-05 15:44] pshipton commented on #1979
+1

Not if Devin wrote the script.

[2018-06-05 15:50] pshipton commented on #2065
Removed the blocker label since the test is now excluded by #2068

[2018-06-05 15:59] pshipton commented on #1370
Perhaps a little hasty. I should have confirmed, did the appropriate testing for the new gc policy get added?

[2018-06-05 16:18] dougbreaux commented on #2010
I will do that, hopefully tonight.

[2018-06-05 16:23] sxa555 commented on #2063
Other than the 32-bit freetype I don't believe any changes were made on the machine

[2018-06-05 16:35] pbannister commented on #2060
Thanks. Did not make it down to the end of the document. (Wanted to reply,
but had limited time, earlier.) Seems paragraph 2 of the "Limited License
Grant" says substantially the same, though in less clear language. Also no
mention of "clean-room" implementations.

https://docs.oracle.com/javase/specs/jvms/se10/html/spec-license.html

So...

OpenJ9 is a "clean-room" implementation (originally by I

[2018-06-05 16:41] thjaeckle commented on #54
Oh noo, the fix won't be in 0.9.0?

[2018-06-05 17:03] fjeremic opened #2076 "Discuss introducing an @OpenJ9IntrinsicCandidate annotation for JIT accelerated APIs"
Inspired by [1] OpenJDK currently annotates methods which have intrinsics with a `@HotSpotIntrinsicCandidate` annotation in the Java code to warn the reader that the method they are looking at has special consideration in the JVM.

I'm finding that keeping track of methods which we accelerate in OpenJ9 to be hard as the list is rather huge [2]. This is problematic when looking at some of the clean

[2018-06-05 17:06] ChengJin01 commented on #2063
The chances are the script changes (works good with eclipse/openj9) affects the checking on 64-bit when configuring with the stuff at AdoptOpenJDK.

Given that it fails due to c/Users/jenkins/jdk9_j9/openjdk/common/autoconf/build-aux/config.guess, the script might need to be modified to get both 32-bit and 64-bit work.

[2018-06-05 17:07] DanHeidinga commented on #1979
@dnakamura Can you contribute the script to the project so we can use it in future releases?  Maybe somewhere in either the `sourcetools` or `doc/processes` folder?

[2018-06-05 17:19] andrewcraik commented on #2076
I'm not a fan of code annotations - they become stale over time, you have to update the Java source when the optimizer changes, and the fact they will be limited to a very small subset of the class library makes me even more dubious. The list of recognized methods is a fairly good starting point for the things which have special handling. What specific problems are you hoping this annotation would

[2018-06-05 17:24] fjeremic commented on #2072
Escape Analysis only runs for hot and above methods. What level did the method reach? I'm not too familiar with the optimization but I know it has it's limits as it does IL peeking at the moment to determine whether something escapes. A trace log with `traceEscapeAnalysis` will be able to tell.

[2018-06-05 17:26] fjeremic commented on #2076
As a concrete example, looking at [1] a less informed reader reading the implementation of `java.lang.String.indexOf` may not realize the JIT will do acceleration underneath the hood. Similarly for `hashCode`, `toLower`, `toUpper`, etc. etc. the list is huge.

[1] https://github.com/eclipse/openj9/pull/1681

[2018-06-05 17:32] andrewcraik commented on #2076
I wonder though if your specific problem - ie a method not being accelerated or not having a specific place to look for a method would be better handled by some codegen refactoring to make the handling of these methods more common and centralized and easier to audit rather than imposing a double maintenance problem? This is just me thinking out loud - an annotation that isn't updated is probably m

[2018-06-05 17:38] fjeremic commented on #2076
We should add tests for this. Changing signatures or moving/removing accelerated methods should be a performance bug that we should take special consideration of before merging. There should not be stale recognized method signatures in j9method.cpp. I'm sure there is today even.

[2018-06-05 17:39] andrewcraik commented on #2072
In the current VM we assume that HCR is on by default which prohibits peeking to prove we objects don't escape when passed to a call. A run with -XX:-EnableHCR may help determine if the possibility of method redefinition is part of the escape issue.

Further, what is the declaration of log? If it is static final there is a bunch of work in progress to fold static final fields at compile-time with

[2018-06-05 17:41] andrewcraik commented on #2076
Right, but some platforms can't do some accelerations and we may not do them under certain circumstances. Because special handling can be case specific I don't know that such a black and white vision of acceleration is really achievable.

[2018-06-05 17:42] vijaysun-omr commented on #2072
I had been looking at a test case like the one Charlie mentioned above already. I have some experimental escape analysis code that did the stack allocation in that test case and I will continue that analysis with what Charlie has sent above.

[2018-06-05 17:44] fjeremic commented on #2076
Whether or not we do acceleration is not a precursor to whether we recognize the method in the JIT. The annotation is "IntrinsicCandidate" so it signifies it is possible for the JIT to do something special with the given method, not guarantee it.

We recognize methods regardless of whether the platform supports intrinsics for the particular method.

[2018-06-05 17:56] sophia-guo commented on #2063
Is this a machine configuration issue?

From May 28th, the failure builds are running command like:
+ ./makejdk-any-platform.sh --destination /c/Users/jenkins/jdk9_j9/OpenJDK9_x64_Windows_201828050547.zip --source /c/Users/jenkins/jdk9_j9 --sign 'C:\Users\jenkins\windows.p12' --version jdk9 --variant openj9

While passing builds are running with cygwin:
./makejdk-any-platform.sh --destination /cyg

[2018-06-05 18:09] charliegracie commented on #2072
Just to answer the questions....

@fjeremic the code reached scorching.  I could easily grab a log but I believe @vijaysun-omr is already looking into test and escape analysis that runs during its execution.

@andrewcraik disabling HCR did make some minor improvements if my memory is correct but most objects were still be allocated.  The definition of log was false but it is a static volatile bool

[2018-06-05 18:11] ChengJin01 commented on #2063
If the problem happened right after Cygwin was installed,  need to rerun the previous build without Cygwin to confirm that. If so, there must be some conversion issue on the parameter setting from Cygwin.

[2018-06-05 18:11] babsingh opened #2078 "Global ENV var or configure option to enable debugging in OpenJ9"
Currently, multiple environment variables need to be set to enable debugging in OpenJ9.

Reference: https://blog.openj9.org/2018/06/05/debugging-openj9-in-docker-with-gdb/

[code]

It's tedious to keep track of all the environment variables. So, a global environment variable or configure option can be added to set all the required environment variables ... to enable debugging for OpenJ9.

[2018-06-05 18:11] babsingh commented on #2078
fyi - @DanHeidinga @mstoodle @pshipton @keithc-ca

[2018-06-05 18:14] pshipton commented on #2073
Note this blocks omr promotion.

[2018-06-05 18:16] babsingh commented on #2078
@dnakamura do CMAKE changes have a single trigger point to enable debugging in OpenJ9?

[2018-06-05 18:29] IBMJimmyk opened #2079 "Prefetch, checkcast and profiled compile changes"
When testing an internal appserver benchmark, improvements related to prefetching, checkcasts and profiled compilations were found.

HashMap.resize and HashMapHashIterator.nextNode can skip checkcasts.

The node threshold inside ProfileGenerator can be increased to 90000. This will promote more profiled compilations and was shown to improve the throughput of the internal appserver benchmark.

Pref

[2018-06-05 18:33] pshipton commented on #54
The eclipse/omr#2611 fix is delivered and included in 0.9.0. I temporarily used this Issue in the 0.9.0 milestone because I couldn't add the omr issue directly, and was too lazy to create another issue in OpenJ9 to track it. Now that its been merged, any remaining work on signals is deferred until the next release. See the details in the release notes #1759

[2018-06-05 18:35] pshipton commented on #54
Oops, release notes are here #1996

[2018-06-05 18:42] gacholio commented on #2049
What about JNI and Unsafe?

[2018-06-05 18:47] pshipton commented on #2073
Caused by #2043. The tests are using TestMisc.isJava9 but the behavior change affects 9 and later.

[2018-06-05 19:09] pshipton commented on #2078
OpenJ9 should hook into the OpenJDK configure options to control debugging.

[2018-06-05 19:23] babsingh commented on #2078
Build instructions for OpenJDK: http://hg.openjdk.java.net/jdk8/jdk8/raw-file/tip/README-builds.html

OpenJDK build instructions already have high level configure options to enable debugging. Example: `--enable-debug`, `--with-debug-level=level` (`level=release|fastdebug
|slowdebug`) etc. We must detect these options and then, appropriately set debugging environment variables for OpenJ9.

[2018-06-05 20:05] keithc-ca commented on #2078
We should understand the _*intent*_ of those OpenJDK configure options to be sure we connect to the right one(s).

[2018-06-05 20:21] DanHeidinga commented on #1306
Doesn't https://github.com/eclipse/openj9/blob/f66506e7a528340d176260c3af47c63cf66979ec/test/functional/TestUtilities/src/org/openj9/test/util/VersionCheck.java already provide this info?  It has a `major()` method which returns the major java version - 8, 9, 10 etc

[2018-06-05 21:08] babsingh commented on #2078
from the [OpenJDK build documentation](http://hg.openjdk.java.net/jdk8/jdk8/raw-file/tip/README-builds.html),

`--enable-debug` sets the debug level to `fastdebug` (this is a shorthand for `--with-debug-level=fastdebug`).

`debug` (non-optimized, -g plus assert logic); `fastdebug` (optimized, -g plus assert logic)

documentation didn't explicitly define `slowdebug`. i think `debug` == `slowdebug`.

[2018-06-05 21:11] pshipton opened #2084 "Split DTFJ interface classes into separate module"
The DTFJ interface classes used to be in a separate jar file in Java 8. As part of the work to move to OpenJ9 and Java 9 modules, the DTFJ interface classes were all moved into a single dtfj.jar file, and the openj9.dtfj module for Java 9 and later. It seems they need to be separated again so they can be used by the Eclipse DTFJ plugin.

The Eclipse DTFJ plugin [1], used by Eclipse MAT and perhaps

[2018-06-05 21:14] ChengJin01 commented on #2063
I compared the exported environment variables on the first failing build and the last passing build as follows:

 [1]The last passing build at
https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_x86-64_windows/56/console
+ export '**CONFIGURE_ARGS_FOR_ANY_PLATFORM**=--with-boot-jdk=**/cygdrive/c**/openjdk/jdk9 --with-freetype-src=**/cygdrive/c**/openjdk/freetype-2.5.3 --with-toolchain-version=2

[2018-06-05 21:42] smlambert commented on #1306
Yes you already have VersionCheck, so @chandrams can use that for her purpose.  This issue is for platform checks (and likely a few other machine capabilities that are commonly requested by tests).

[2018-06-06 05:44] tjulises commented on #2059
Hello @pshipton @DanHeidinga ,
I've made my first proposal, this is what I came up with,
This is a mock up of how it would look on your site
![1](https://user-images.githubusercontent.com/39039587/41019063-0825a342-692b-11e8-8409-f0acdf5aeaed.png)
![2](https://user-images.githubusercontent.com/39039587/41019070-0e8ca7bc-692b-11e8-8003-2725c86970ef.png)

[2018-06-06 07:07] NatiZel commented on #1633
@DanHeidinga Not yet, used a workaround for now, sorry for the delay, hope I will be able to provide one soon.

[2018-06-06 07:57] robbinspg commented on #2084
I'm not convinced this is related to splitting out the interface classes. The current DTFJ Feature contains an interface jar in the api plugin which has the correct classes in.

When running MAT ALL the DTFJ classes should be coming from the plugins so all should be using the plugin classloader.

Are the DTFJ classes also on the runtime classpath in OpenJ9 Java 10?

[2018-06-06 08:05] ajohnson1 commented on #2084
The test case is to take the latest Memory Analyzer nightly build from [https://www.eclipse.org/mat/snapshotBuilds.php](https://www.eclipse.org/mat/snapshotBuilds.php), start it under OpenJ9 using
[code]
install DTFJ using Help > Install New Software > 'IBM Diagnostic Tool Framework for Java' [http://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/runtimes/tools/dtfj/](http://public.dhe.ibm

[2018-06-06 09:38] robbinspg commented on #2084
I'm not up to date with Java9/10 and modularity but is this caused by the openj9.dtfj/module-info.java exporting the 3 dtfj packages:

module openj9.dtfj {
	requires transitive java.desktop;
	requires transitive java.logging;
	requires java.xml;
	exports com.ibm.dtfj.image;
	exports com.ibm.dtfj.image.j9 to openj9.dtfjview;
	exports com.ibm.dtfj.java;
	exports com.ibm.dtfj.runtime;
	exports com.ib

[2018-06-06 10:04] robbinspg commented on #2084
I think this is the relevant eclipse change: https://bugs.eclipse.org/bugs/show_bug.cgi?id=527353

@ajohnson1 I assume you are running Photon? Does Oxygen MAT work for this test?

[2018-06-06 12:04] #2073 closed

[2018-06-06 13:56] pdbain-ibm opened #2088 "JIT Assertion failure when compiling with debug enabled."
To reproduce,

1. I checked out the OpenJDK 9 with OpenJ9 project per
https://www.eclipse.org/openj9/oj9_build.html

2. Enabled debugging per https://blog.openj9.org/2018/06/05/debugging-openj9-in-docker-with-gdb/
[code]

3. and built it like so:
[code]

I get a compilation failure:
[code]

[2018-06-06 13:59] pdbain-ibm commented on #2078
Please note that setting those variables  per https://github.com/eclipse/openj9/issues/2078#issue-329567921 causes the build to break.  See https://github.com/eclipse/openj9/issues/2088.

[2018-06-06 14:16] andrew-m-leonard opened #2089 "Setup eclipse CI integration for ibmruntimes/openj9-openjdk-jdk11 repo"
Please can we setup CI integration for the openjdk extensions "head" (java 11) repository, similar to the jdk8/9/10 setups....

- copyright/line end checks
- nightly builds, build/sanity/extended
- PR builds

https://github.com/ibmruntimes/openj9-openjdk-jdk

Note the sanity/extended tests don't build yet for head/java11 - #2071

[2018-06-06 15:09] pdbain-ibm commented on #2032
jvmtiStartup.issueAgentOnLoadAttach() looks like the culprit.

[2018-06-06 15:34] babsingh commented on #2088
@pdbain-ibm yesterday, i was able to successfully build Java 8. i am re-building Java 9 on my end to reproduce the issue. did u see "OpenJ9 Compile Complete" message? if so, OpenJ9 has finished compilation and other Java tools are being built using the VM. this may be a bug in JIT code. JIT debug symbols and assertions can be avoided by `unset BUILD_CONFIG`. are you building on Linux x86?

[2018-06-06 16:02] sxa555 commented on #2063
Windows PATH for the jenkins user had the git bash preceding the cygwin one which was causing the issue (They can't sensibly coexist - you get issues if you call cygwin tools from the git bash shell). I've removed that (although this may cause breakages elsewhere) and the 8 builds are now showing the same problem that 8 and 9 show.

[2018-06-06 16:57] ChengJin01 commented on #2063
Already talked to @sxa555 ,  the building job works good via cgywin but failed changing to git bash shell.

I double-checked the existing config (/common/autoconf/build-aux/autoconf-config.sub & autoconf-config.guess), it looks like it can't recognize the system type if not cygwin.  The config stuff in there  on JDK8/9/10 needs to modified some way to get through if it has to be executed via git b

[2018-06-06 17:13] pdbain-ibm commented on #2088
No, I did not.   It seems to be blowing up while building DDR:
[code]
FYI @fjeremic could you have someone on the JIT team triage this?  I can provide core dumps etc.

[2018-06-06 17:17] fjeremic commented on #2088
@jdmpapin / @andrewcraik crashes in VP on x86. Seems like your area of expertise.

[2018-06-06 17:40] sophia-guo opened #2100 "Ability to provide test image in addition to JDK/JRE packages"
Native tests need executables or shared libraries. To enable those tests test image need to be built and accessible.

Comments from @pshipton
"The executables are already created as part of the OpenJ9 build, but the OpenJ9.gmk [1] doesn't copy them into the sdk or jre images (which is correct). They should be copied into the test image.
There will be changes required to keep the test image around

[2018-06-06 18:15] pshipton commented on #2089
@jdekonin fyi

[2018-06-06 18:42] babsingh commented on #2088
i encountered the same issue. `BUILD_CONFIG` enables debug symbols and assertions for the JIT. after `unset BUILD_CONFIG`, OpenJDK9 with OpenJ9 compiled fine.

[2018-06-06 19:02] pdbain-ibm commented on #2078
#2088 affects Java 9 but not Java 8.

[2018-06-06 19:19] smlambert commented on #1017
@AdamBrousseau - we will update the nightlies to keep last 10, based on a discussion in releng interlock today.  So don't worry about that, it will be taken care of for nightly builds and tests.

[2018-06-06 19:51] pshipton commented on #1017
All pipeline jobs (https://ci.eclipse.org/openj9/view/Pipelines/) have been set to keep 10 builds.

[2018-06-06 19:53] llxia commented on #1017
All test jobs have been set to keep 10 builds https://ci.eclipse.org/openj9/view/Test/

[2018-06-06 20:05] AdamBrousseau commented on #1017
Did someone update Build*?

Two things:
- I recently learned this setting can be moved into our pipeline code
[code]
- I discovered the [Compress Build Log Plugin](https://wiki.jenkins.io/display/JENKINS/Compress+Build+Log+Plugin) which is supposed to compress the logs. When I tried it out it created a log.gz but did not cleanup the uncompressed logs. Haven't had a chance to debug this yet so have

[2018-06-06 20:15] ChengJin01 commented on #2063
To better understand the situation, I installed Git bash on Windows (from https://gitforwindows.org/, it should be the same package at https://git-scm.com/download/win) and followed the instruction at https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V8.md#windows to run configuration after fixing the issue with cpio and cmd.
[config_log_git_bash_windows.txt](https://github

[2018-06-06 20:15] smlambert commented on #1017
We talked about whether you wanted that buildDiscarder in the pipeline code or not.
Since its not there yet, we manually changed some of the nightlies.  Pipeline settings override the manual settings, so if/when its incorporated into pipeline code, should be no biggie.

No one has done the Build* yet.

[2018-06-06 21:20] irinarada commented on #992
@llxia can we fix this so we can progress with the compiler update testing - see 1684?
 @smlambert FYI

[2018-06-06 21:45] pshipton commented on #1017
Build, only for Build-JDK* is done now https://ci.eclipse.org/openj9/view/Build/

[2018-06-07 01:16] pshipton opened #2107 "omr acceptance Build-JDK10-win_x86-64_cmprssptrs failing to clone"
https://ci.eclipse.org/openj9/job/Build-JDK10-win_x86-64_cmprssptrs/102/console
https://ci.eclipse.org/openj9/job/Build-JDK10-win_x86-64_cmprssptrs/103/console
https://ci.eclipse.org/openj9/job/Build-JDK8-win_x86-64_cmprssptrs/70/console

[code]

[2018-06-07 01:17] pshipton commented on #2107
@jdekonin fyi

[2018-06-07 01:51] pshipton opened #2108 "JEP 181 Nest-Based Access Control"
https://bugs.openjdk.java.net/browse/JDK-8046171

This is an "Epic" for supporting this JEP on OpenJ9.

[2018-06-07 02:00] pshipton opened #2109 "jdk11 add String.isBlank() and lines()"
http://cr.openjdk.java.net/~iris/se/11/build/latest/diffsFrom10%2b45/java/lang/String.html

[2018-06-07 02:30] pshipton opened #2110 "Test quick start instructions do not work for Java 8"
Looking at the Java 8 build page, https://www.eclipse.org/openj9/oj9_build.html, it refers to the test quick start guide https://github.com/eclipse/openj9/blob/master/test/README.md

- These instructions do not default to Java 8, and do not specify the JAVA_VERSION. Attempting to follow the instructions after finding them from the Java 8 build page does not work, the "make compile" step fails.
- a

[2018-06-07 02:37] pshipton opened #2111 "Building tests added untracked file to git repo"
I compiled the Java 8 test material according to the quick start quide, and afterward the following untracked file was present in the git repo.

test/functional/Java8andUp/src/org/openj9/test/NoSuchMethod/AppLoaderCallee.java

[2018-06-07 02:38] fjeremic commented on #2109
We should check StringLatin1 and StringUTF16 for already existing helpers we can take advantage of when implementing this.

[2018-06-07 02:40] fjeremic commented on #2111
This seems to be the offender:

https://github.com/eclipse/openj9/blob/8d42939fe55cacf5b956e47afbcddb8cb0e959fe/test/functional/Java8andUp/build.xml#L67

[2018-06-07 03:39] DanHeidinga commented on #2108
See also https://github.com/eclipse/openj9/projects/3

[2018-06-07 05:13] eric-chao opened #2112 "How can I user jstat, jinfo ... with openjdk8-openj9"
Below is the errors:

[root@deploy-1 openj9]# java -version
openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u162-b12)

[root@deploy-1 ~]# jstat -gc 15907 3s
Exception in

[2018-06-07 10:57] pshipton opened #2113 "zLinux compilation failing"
https://ci.eclipse.org/openj9/job/Build-JDK8-linux_390-64_cmprssptrs/318/
https://ci.eclipse.org/openj9/job/Build-JDK9-linux_390-64_cmprssptrs/257/
https://ci.eclipse.org/openj9/job/Build-JDK10-linux_390-64_cmprssptrs/156/
[code]

[2018-06-07 11:03] pshipton commented on #2113
I'm guessing this will be fixed by omr acceptance promotion, but this is blocked by #2107

[2018-06-07 11:06] pshipton commented on #2112
These tools are not supported by OpenJ9 at this time, i.e. #1621

[2018-06-07 11:06] #2112 closed

[2018-06-07 11:06] pshipton commented on #1621
#2112 asked about jstat and jinfo.

[2018-06-07 11:08] pshipton commented on #2112
Also note you are using an older build, in the latest builds these tools are not present.

[2018-06-07 11:09] AdamBrousseau commented on #2107
No space left on device

[2018-06-07 11:12] pshipton opened #2114 "cmdLineTester_jvmtitests_hcr_3 functional sanity rc010 gpf"
https://ci.eclipse.org/openj9/job/Test-Sanity-JDK10-linux_x86-64/54/tapResults/

Also note #2013

[code]

[2018-06-07 12:10] AdamBrousseau commented on #2107
Cleaned up. I had accidentally left the nightly cleanup job disabled.

We need to figure out a fix for the windows cleanWs() issue. The issue is that `cleanWs()` renames the workspace directory (appends a random number), then does an asynchronous delete. The directory never gets cleaned up though. We talked about changing the `cleanWs()` to a `rm -rf` but I'm not sure if that will work. I don't th

[2018-06-07 12:33] llxia commented on #992
@irinarada yep, we are working on #2071.

[2018-06-07 12:48] smlambert commented on #2110
FYI - @renfeiw @llxia

@pshipton - in your opinion, should we have a default and default to SE80, or not default to any version but expect it to be set explicitly.

[2018-06-07 13:08] ysstech opened #2115 "OOM native memory exhausted"
version：java_1.7_64
cause：Dump Event "systhrow" (00040000) Detail "java/lang/OutOfMemoryError" "native memory exhausted" receive
---
What config is decided by native memory？How is it calculated？
PS：Server physical memory is 32G，JVM heap 4G，no alarm。

![image](https://user-images.githubusercontent.com/23044050/41101352-7f238f42-6a96-11e8-967a-e16d84ac1e12.png)

[2018-06-07 13:11] DanHeidinga commented on #2112
@eric-chao As Peter mentioned, the tools aren't currently supported but we'd like them to be.  Is this something you're interested in helping with add to OpenJ9?

[2018-06-07 13:45] DanHeidinga commented on #2110
I'm not Peter but I have opinions :)

I would prefer it automatically figures out the JAVA_VERSION based on the java under test or always requires it to be set explicitly.  An explicit error is much easier to understand and correct.

[2018-06-07 13:51] smithwil commented on #2115
The table pasted here shows the java object heap "Object(reserved)" is full. The java heap maximum size is set by the Xmx option. Could you share the output from "java -version" so we can tell what java you're running?

[2018-06-07 13:58] smlambert commented on #2110
So the versions needing support currently are:
Java8 / SE80
Java9 / SE90
Java10 / SE100
Java11 / SE110
Panama
Valhalla (and its variants)
Amber

Is there an easy way to determine those versions from java -version or some other (somewhat foolproof method), similar to VersionCheck code you added?

[2018-06-07 14:00] dmitripivkine commented on #2115
You can refer to Native Memory Usage (NATIVEMEMINFO) section in javacore. There is a detailed description of Native memory usage by JVM

[2018-06-07 14:02] llxia commented on #2071
With JDK11, `module name in --add-exports option not found: java.xml.bind`. And tests that uses this package failed in compilation. Is this expected?

[code]

[2018-06-07 14:14] fjeremic commented on #2113
@pshipton yes this will be fixed by OMR Acceptance promotion. https://github.com/eclipse/omr/pull/2577 and https://github.com/eclipse/openj9/pull/1972 were the dependent changes. OMR-Acceptance was being blocked because of https://github.com/eclipse/omr/pull/2577 yesterday so we had to merge https://github.com/eclipse/openj9/pull/1972 to unblock it. Unfortunately there seems to be multiple blocker

[2018-06-07 14:22] DanHeidinga commented on #2110
Java 8/9/10/11 should be straight forward to figure out from the Java system properties:
[code]
or for 9:
[code]

We'll need to look at the Panama / Valhalla / Amber builds to see if there's a similar property to distinguish them

[2018-06-07 14:28] smithwil commented on #2115
The javacore text dump format is produced by default by the OpenJ9 Java VM when there is an OOME, though if you are running a Java 7 that has a different Java VM, there will probably not be a javacore. The java -version output would help to show the VM in use.

[2018-06-07 14:32] pshipton commented on #2113
I think all the blockers are resolved, and hopefully https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance/520/ will promote.

[2018-06-07 14:45] mstoodle commented on #2060
@pbannister I'm going to close this issue because I believe your question has been resolved. Please reopen if you don't agree :) .

Note the term "clean room implementation" has been updated to "independent implementation" :) .

[2018-06-07 14:45] #2060 closed

[2018-06-07 15:14] pbannister commented on #2060
Personally, I prefer mentioning "clean room" as that ties back to the
original license for the JVM spec. But I am entirely fine with what you
have done. My main concern was to clarify the legal status of OpenJ9
up-front for new visitors.

Thanks.

On Thu, Jun 7, 2018 at 7:45 AM, Mark Stoodley <notifications@github.com>
wrote:

[2018-06-07 15:19] LinHu2016 commented on #1370
@pshipton testing plan has not completed, currently we are using openjdk hotspot jtreg epsilon tests for verifying JEP318 functions and SPECjbb2005 for performance test, but there are some limitations to use epsilon tests.
 1, some epsilon tests have the dependence on new JAVA 9 API (for pid), could not run on Java 8
 2, epsilon tests are not in openjdk main branch(it targets to Java 11)
 3, some

[2018-06-07 15:30] DanHeidinga commented on #2110
+1

[2018-06-07 15:33] mstoodle commented on #2060
Your attention to detail is laudable :) . Hopefully the use of the currently matching "independent implementation" language + the details in this issue will be sufficient.

Thank you for helping us to clarify this aspect of the OpenJ9 project !

[2018-06-07 15:45] pshipton commented on #2113
520 promoted so I'll assume this is fixed and close it.

[2018-06-07 15:45] #2113 closed

[2018-06-07 15:47] pshipton commented on #2107
I assume the cleanWs() problems will be a separate issue. Closing this one since the immediate problem is resolved.

[2018-06-07 15:47] #2107 closed

[2018-06-07 16:09] llxia commented on #2071
`java.lang.System#runFinalizersOnExit(boolean)`is removed in JDK11 based on https://bugs.openjdk.java.net/browse/JDK-8198250

[2018-06-07 16:40] pdbain-ibm commented on #2030
jconsole is tricky to run (need X11), so I made an ad-hoc test case.

[testjar.zip](https://github.com/eclipse/openj9/files/2081287/testjar.zip)

Unzip and launch:
[code]

Result is:
[code]

[2018-06-07 16:58] pdbain-ibm commented on #2030
Can't load InstrumentationImpl:
` <BCU j9bcutil_findLocallyDefinedClass: <dynamic search for sun/instrument/InstrumentationImpl failed>`
`sun/instrument/InstrumentationImpl from: jrt:/java.instrument `
[code]
This works fine with non-modular applications.

[2018-06-07 18:06] llxia opened #2123 "support exclude folder in TKG"
Currently, users can provide a Build_List for the projects that they want to compile and run. It may be convenient for users if we can support exclude folders in TKG. So that users can exclude the projects that they do not want to compile and run.

[2018-06-07 18:06] llxia commented on #2123
fyi @renfeiw

[2018-06-07 18:15] IBMJimmyk opened #2124 "Increase highly polymorphic callsite threshold"
When running an internal appserver benchmark it was found that changing the threshold for considering a callsite as being highly polymorphic would improve throughput.

Currently a callsite is considered highly polymorphic if there are 2 or more implementors. The proposed change will increase the threshold to 3. This change lead to changes in inlining decisions at runtime which in turn lead to the

[2018-06-07 18:54] pshipton commented on #2110
Note we could just require the JAVA_VERSION to always be explicitly set (not have a default), and not do any auto-detection.

[2018-06-07 18:56] pshipton commented on #2110
There could instead be a sanity check added, at least for SE80 - SE110, i.e. "JAVA_VERSION does not match version of JAVA_BIN"

[2018-06-07 20:21] llxia commented on #1684
Ran sanity test locally with above JDK11. For now, I excluded following projects as they need to be updated (see #2071 for detail)

Java9andUp
Jsr335
VM_Test
jvmtitests
cmdLineTests/jvmtitests
SharedCPEntryInvokerTests

Test Result:
[code]

Output:

[code]

[2018-06-07 20:30] llxia commented on #1684
I ran the test in docker and it does not have `LOGNAME`. If I set it to the current login username `root`, cmdLineTester_SCCommandLineOptionTests_1 passes.

[2018-06-07 22:06] AdamBrousseau commented on #1017
Usage down to 123G

[2018-06-08 02:53] ysstech commented on #2115
Tanks.
Heap config is  -Xms4096m -Xmx4096m, But NATIVEMEMINFO list about JRE has 5G, why?
----
JAVAVERSION JRE 1.7.0 Linux amd64-64 build 20130421_145945 (pxa6470sr4fp1ifix-20130423_02(SR4 FP1+IV38579+IV38399+IV40208) )

----
NATIVEMEMINFO
JRE: 5,918,381,174 bytes / 114441 allocations
1MEMUSER       |
2MEMUSER       +--VM: 5,629,125,830 bytes / 100238 allocations
2MEMUSER       |  |
3MEMUSER

[2018-06-08 08:38] smithwil commented on #2115
The java object heap size is reported in the subsection "Java Heap: 4,294,967,296 bytes". This is the 4GB space to store java objects. All the other memory categories are for other data that the Java VM uses to maintain the runtime environment such as loading class data, JIT compilation, garbage collection record keeping, and also for storing some application data allocated for JNI methods.

[2018-06-08 10:33] imkabir commented on #2115
@ysstech Note that the memory allocations you see in NATIVEMEMINFO section, and the virtual memory size from "top" will almost always be different. NATIVEMEMINFO shows the direct allocations by Java, but there will be memory used by OS and JNI calls for the process which are not accounted for here, but is captured in top output.

If the OOM is your primary concern, for 64-bit JVM this happens beca

[2018-06-08 11:40] ysstech commented on #2115
@smithwil
About 『All the other memory categories』，How allocate it? How to configure in J9？

[2018-06-08 13:36] JasonFengJ9 commented on #1851
This should be closed by #2053 (the clause closing multiple issues wasn't in proper format).

[2018-06-08 13:36] JasonFengJ9 commented on #1852
This should be closed by #2053 (the clause closing multiple issues wasn't in proper format).

[2018-06-08 13:37] JasonFengJ9 commented on #1853
This should be closed by #2053 (the clause closing multiple issues wasn't in proper format).

[2018-06-08 13:37] JasonFengJ9 commented on #1854
This should be closed by #2053 (the clause closing multiple issues wasn't in proper format).

[2018-06-08 13:37] pshipton commented on #2009
The test is still failing, I don't think the exclude worked. The sha of the build 4d119ee being tested indicates the exclude is included (assuming the test material uses the same openj9 material as the build).

https://ci.eclipse.org/openj9/job/Test-Extended-JDK8-linux_ppc-64_cmprssptrs_le/181/
https://ci.eclipse.org/openj9/job/Test-Extended-JDK8-win_x86-64_cmprssptrs/16/
https://ci.eclipse.org/op

[2018-06-08 13:37] #1851 closed

[2018-06-08 13:38] #1852 closed

[2018-06-08 13:38] #1853 closed

[2018-06-08 13:38] #1854 closed

[2018-06-08 13:46] DanHeidinga opened #2128 "cpConsistency check should ensure cpIndex and cp are from the same version of the class"
The change in https://github.com/eclipse/openj9/pull/1752 limited the check to JDK9 and above but didn't fix the underlying issue:

If a redefinition occurs, the `cpIndex` may be from a previous version of the class and should be checked against that class's `cpTypeDescription`.

Mixing a `cpIndex` and `cpTypeDescription` from different versions of the class is invalid.

[2018-06-08 13:57] liqunl opened #2129 "Windows JDK8 jvmti tests failed with "NPT ERROR: Cannot open library""
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-win_x86-64_cmprssptrs-OpenJ9/36/tapResults/
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-win_x86-64_cmprssptrs-OpenJ9/48/tapResults/

Error message:
[code]

Failing tests are
[code]

[2018-06-08 14:05] smlambert commented on #2009
Odd that the PR test run passed if the exclude didn't work

[2018-06-08 14:21] liqunl commented on #2129
Close this issue as a duplicate of https://github.com/eclipse/openj9/issues/2009

[2018-06-08 15:05] pshipton commented on #2009
The failure is intermittent.

[2018-06-08 15:27] #2054 closed

[2018-06-08 15:28] pshipton opened #2132 "JEP 267 Unicode 8.0"
https://bugs.openjdk.java.net/browse/JDK-8075115

This is an "Epic" for supporting this JEP on OpenJ9.

[2018-06-08 15:30] pshipton commented on #2132
As of https://github.com/eclipse/openj9/pull/1786, OpenJ9 doesn't have any Unicode dependencies in the java/lang/String class.

Note the same change fixed an outstanding Unicode problem in Java 8, for which the String implementation still depends on the Unicode standard.
https://github.com/eclipse/openj9/pull/1786/commits/4f23fa225da4916e9a839782a12be0cdc669037e

[2018-06-08 15:31] pshipton commented on #2132
There don't seem to be any other changes required to support Unicode 8 (or 7).

[2018-06-08 15:31] #2132 closed

[2018-06-08 17:13] pdbain-ibm opened #2133 "Attach API error handling tests: check directories with bad permissions"
Test target directories with no write permission, files with no read permission, etc.

[2018-06-08 18:15] hzongaro opened #2135 "Improve x86 JIT wrtbari code generation for gencon garbage collection"
@charliegracie Charlie pointed out that x86 code generated for the `wrtbari` opcode for gencon looks something like this:

[code]
But instead, it should look something like this:
[code]
In addition, Charlie points out that in some cases the generated code checks whether an object is old by comparing with the `lowTenureAddress` and `highTenureAddress` fields of `J9VMThread`.  Instead it should be u

[2018-06-08 21:02] babsingh commented on #1459
**Update**: Implementation spec not received from the JCL team. Need to consult the JCL team before implementing `JVM_BeforeHalt`.

[2018-06-08 21:07] JasonFengJ9 commented on #1459
@babsingh you might create an issue at https://github.ibm.com/runtimes/openjdk-contribution/issues.

[2018-06-08 21:19] babsingh commented on #1252
I agree with @jdekonin.

`openj9-openjdk-jdk9` has [openj9-openjdk-jdk9/closed/make/copy/Copy-java.base.gmk
](https://github.com/ibmruntimes/openj9-openjdk-jdk9/blob/openj9/closed/make/copy/Copy-java.base.gmk) which copies `jvmti.h` and `ibmjvmti.h` into the final `jdk/jre`. `Copy-java.base.gmk` is called from [openj9-openjdk-jdk9/jdk/make/copy/Copy-java.base.gmk](https://github.com/ibmruntimes/op

[2018-06-08 23:47] pshipton opened #2139 "Test-Sanity-JDK8-linux_ppc-64 cmdLineTester_decompilationTests_1 decomp002 assert"
https://ci.eclipse.org/openj9/job/Test-Sanity-JDK8-linux_ppc-64_cmprssptrs_le/289/

Occurred during omr acceptance.

[code]

[2018-06-09 13:45] DanHeidinga commented on #2076
@fjeremic Are these meant to be runtime visible annotations or runtime invisible (compile time) annotations?  The root of my question is whether these are meant to be documentation and a warning when modifying the code or will the JIT be processing this annotation?

[2018-06-09 13:46] DanHeidinga commented on #1919
@keithc-ca I know from discussions with you that a lot of progress has been happening on this.  Can you provide an update here so everyone is aware?

[2018-06-09 15:11] fjeremic commented on #2076
My initial proposal would be documentation and warning only.

[2018-06-10 02:04] DanHeidinga commented on #2076
Sounds reasonable to me.  This would help everyone modifying the code and reviewing it to know when there's a related intrinsic that may also need updating.

[2018-06-10 04:50] ChengJin01 commented on #1697
I will check it out to see how to get this work.

[2018-06-10 15:19] pshipton opened #2141 "Test-Extended-JDK8-aix_ppc-64_cmprssptrs startupShutdownRobustness IOException: Error deleting"
https://ci.eclipse.org/openj9/job/Test-Extended-JDK8-aix_ppc-64_cmprssptrs/90/

[code]

[2018-06-10 18:20] #2128 closed

[2018-06-11 05:36] ysstech commented on #2115
Thank you for everyone.

[2018-06-11 05:36] #2115 closed

[2018-06-11 13:33] keithc-ca commented on #1919
The work is mostly about making *.spec files consistent in their use of C and C++ compilers and to make use of $(CC) and $(CXX) where it makes sense. See https://github.com/eclipse/openj9/pull/2106 to follow along. Once those changes are merged, it will be possible to drive everything from the configuration step of openjdk; https://github.com/keithc-ca/openj9-openjdk-jdk8/tree/tools captures my pl

[2018-06-11 14:05] pshipton commented on #1381
Closing since content for 0.9.0 is finalized.

[2018-06-11 14:06] #1381 closed

[2018-06-11 14:44] pshipton opened #2143 "'Debug on timeout' feature of cmdlinetester is not working on Java 9"
While running on xLinux Java 9, the following output was seen from the cmdlinetester, indicating the feature isn't working properly.

***[TEST INFO 2018/06/11 10:19:17] ProcessKiller detected a timeout after 240000 milliseconds!***
INFO: getUnixPID() has failed indicating this is not a UNIX System.'Debug on timeout' is currently only supported on Linux.

[2018-06-11 15:14] llxia commented on #1684
Ran extended.functional

[code]

testSCCMLTests2_1 failure is related to missing `VM_TEST.jar`

In summary, excluding the following projects, the rest sanity and extended tests are ok.

Java9andUp
Jsr335
VM_Test
jvmtitests
cmdLineTests/jvmtitests
SharedCPEntryInvokerTests

[2018-06-11 15:19] tjulises commented on #2059
@pshipton  @DanHeidinga  Hiii

[2018-06-11 15:20] jdekonin opened #2144 "test.getDependency job failing"
https://ci.eclipse.org/openj9/view/Infrastructure/job/test.getDependency/
[code]

Last good build was June 1st.

I believe it is this change that has caused the failure. @renfeiw
https://github.com/eclipse/openj9/commit/0da64dcc97264a55a620fee45b7730a973853ceb#diff-b8aeab3b6cb4bcc650c6e3080d1d580a

[2018-06-11 15:20] llxia commented on #992
fyi, test result is updated on #1684.

[2018-06-11 16:12] liqunl commented on #2129
Notice that there are nightly builds whose commits are more advanced than the PRs that failed the tests. I downloaded one nightly build and tried the same tests on my laptop and can't reproduce the error. Since we don't archive builds for PRs, I have no chance to test the failing builds.

I tried running the test on my laptop with `npt.dll` removed, the same error occurred. Thus, I believe the err

[2018-06-11 17:25] AdamBrousseau commented on #1787
We aren't getting much help from Eclipse on this. Possibly because they are [talking about](https://bugs.eclipse.org/bugs/show_bug.cgi?id=535057#c20) migrating off of HIPP5. We could change our Jenkins scripts to run on our `worker` machine and that should avoid this issue.

[2018-06-11 17:32] pshipton commented on #2129
A few PR builds are keep as attachments to the build jobs. You'll need to grab it quickly after a failures occurs.

I couldn't find a failed job that was still available, but as an example see the "Build Artifacts" of  https://ci.eclipse.org/openj9/job/Build-JDK8-win_x86-64_cmprssptrs/84/

[2018-06-11 17:56] liqunl commented on #2129
According to @AdamBrousseau, we don't keep the builds for PR's jenkins test. I didn't find any link to the failing build in the failing PRs. The "Build Artifacts" of this failing build contains only the result of the tests. https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK8-win_x86-64_cmprssptrs-OpenJ9/3/

The latest nightly build is more advanced than the failing PRs, however, the failur

[2018-06-11 17:58] pshipton commented on #2129
You need to look at the "Build" job which created the JVM used by the Extended test job.

[2018-06-11 18:00] pshipton commented on #2129
Maybe I was looking at the wrong type of builds.

[2018-06-11 18:06] babsingh commented on #1684
**Update:** OpenJ9 JDK11 builds successfully on xLinux and pLinux with gcc-7.3.
- [OpenJ9 JDK11 xLinux (build with gcc-7.3)](https://ibm.box.com/s/3o2ztz67fdbhll0ey3kqdyv13py7qjg3)
- [OpenJ9 JDK11 pLinux (build with gcc-7.3)](https://ibm.box.com/s/lfaj61sjiitxsyqw51ey71khs46nsf9d)

OpenJ9 JDK11 build fails on zLinux/gcc-7.3 with compile failures in OpenJDK code. But, OpenJ9 compile is successful.

[2018-06-11 18:10] pshipton commented on #2059
Others, including all the committers on the project are free to comment as well. In my opinion, it doesn't seem like enough of a difference over the existing logo to consider making a change. We could just change the colors of the existing logo if we wanted to match the website colors.

[2018-06-11 18:19] smlambert opened #2147 "Newly enabled jvmti tests should be renamed (remove extended from name)"
Some jvmti tests are named jvmti_extended but are tagged as "sanity" level.  In general, we should avoid using the level in the name of a test, as it is confusing when it doesn't match the level its in, and it makes for more changes if we wish to move a test into a different level.

[2018-06-11 18:20] smlambert commented on #2129
To be clear, the [jvmti_extended tests should be renamed](https://github.com/eclipse/openj9/issues/2147) (no tests should contain the level they belong to), especially since they are tagged as sanity tests, so you'd look to see what JVM is used by the nightly sanity test job.

I believe the some tests are failing because they are running with compressedrefs commandline parameters against a nocompr

[2018-06-11 18:25] pdbain-ibm commented on #2059
Disclaimer - this is my own personal opinion

Thank you for the suggested logo.  However, I find it misleading - when I saw it, it read like "J9 Open", rather than "OpenJ9".

[2018-06-11 18:37] renfeiw commented on #2144
I have fixed it by providing the required option os in Jenkins job command.

[2018-06-11 18:43] ymanton commented on #2059
Personally I like it, the colors are pleasing together, and the typeface is nicer than the current one. I read it as OpenJ9, but maybe that's because that's what I was looking for. I don't know how someone without prior exposure would tend to read it.

Nitpicks: the "e" doesn't line up with itself and the curve of the "n" is a bit off where it meets the vertical line.

[2018-06-11 18:49] pshipton commented on #2129
This should result in an error from the VM from which the problem should be obvious https://github.com/eclipse/openj9/pull/1777#issuecomment-384674994

[2018-06-11 19:08] #2144 closed

[2018-06-11 19:13] AdamBrousseau commented on #2129
I think @liqunl was having troubles getting an sdk that could produce the error since the nightly is the only ones we archive and the error was never seen in the nightly. If your PR is still seeing this error we could hack the Jenkins files in your PR in order to archive the sdk for your build. PM me if you want to discuss going this route.

[2018-06-11 22:01] babsingh opened #2152 "Dockerfile(s) not working"
Dockerfile(s) that rely on AdoptOpenJDK API to get the bootjdk are not working because AdoptOpenJDK API service is down or doesn't have the required builds.

AdoptOpenJDK API service doesn't work for **openjdk9**. AdoptOpenJDK API service works fine for **openjdk8**.

- Download [openjdk9-openj9-x64-linux](https://api.adoptopenjdk.net/openjdk9-openj9/releases/x64_linux/latest/binary) [This link wo

[2018-06-11 22:01] babsingh commented on #2152
fyi - @pshipton

[2018-06-12 00:50] pdbain-ibm commented on #2047
from https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK10-aix_ppc-64_cmprssptrs-OpenJ9/18/testReport/junit/org.openj9.test.attachAPI/TestAttachErrorHandling/test_startupShutdownRobustness/
[code]

[2018-06-12 10:32] bharathappali commented on #1932
@joransiu I'm working on to add the cpu quota information in java dump. Can i know in which format it would be good to have. Like cpu quota and cpu period seperately or a ratio of it

[2018-06-12 10:43] ashu-mehra commented on #1371
@DanHeidinga I believe you are referring to `omrsysinfo_get_available_memory()`. If we don't add this API, we would need a mechanism to get memory stats from proc and from the cgroup, so that JIT can use minimum of the two.
Given that we are already updating `omrsysinfo_get_memory_info` to return cgroup stats transparently when running in container (https://github.com/eclipse/omr/pull/2430), we do

[2018-06-12 12:52] #1978 closed

[2018-06-12 13:50] #1709 closed

[2018-06-12 13:55] AdamBrousseau commented on #1787
They're planning to migrate us this week so we'll see what how Git performs on the new master.

[2018-06-12 14:13] liqunl commented on #2129
My PR has been merged.

I want to clarify that, this is not caused by any PR that has failed the test. The reason being:
1. This failure has been seen on PRs with completely difference changes.
2. Two of the PRs that have failed the tests have been merged, the nightly build and continuous build containing the changes of the two PRs have passed.

Correct me if I'm wrong, it looks like the failing t

[2018-06-12 15:33] #1252 closed

[2018-06-12 15:57] babsingh commented on #2129
**Possible solution** - [Create a link to libnpt.so in $JAVA_HOME/jre/lib from /usr/local/lib](https://blog.art-of-coding.eu/java-and-npt-library-not-found-error/)
`ln -s <JAVA_HOME>/jre/lib/amd64/libnpt.so /usr/local/lib/libnpt.so`

The above solution works on FreeBSD. For Windows, Adam said that the nightly builds work fine. But, `NPT ERROR: Cannot open library` is encountered for the PR builds.

[2018-06-12 15:59] pshipton commented on #2152
We can replace the "latest" builds with a release build. There is a release build for Java 8 OpenJ9 0.8, or we can wait until there is a release build for 0.9 if the known limitations in the 0.8 release cause any issues.

For Java 9, perhaps we can convince Adopt to create a release from OpenJ9 0.9, which can serve as the final Java 9 build of OpenJ9, following which OpenJ9 will not make any effor

[2018-06-12 17:43] mpirvu commented on #1371
I agree with Ashu's comments above:
1) The best place for the logic that determines what the JVM can afford to allocate is the portlib. We plan to use that for JIT scratch memory and quite possibly for code cache / data cache, so the JIT will have to define a new routine, but why not have it in the portlib so that other components can use it too if they want.
2) If we make, as planned, `omrsysinfo

[2018-06-12 17:53] sinus0 opened #2159 "GC/Metronome crashed the JVM j9mm.107 (ASSERTION FAILURE)"
A JVM running an active network application have crashed with dumpfiles after ~30 minutes of work. messages are:

17:16:47.008 0x10d3c00    j9mm.107    *   ** ASSERTION FAILED ** at RealtimeMarkingScheme.cpp:1162: ((false && (gcEnv->_referenceObjectBuffer->isEmpty())))
17:16:47.008 0x1103900    j9mm.107    *   ** ASSERTION FAILED ** at RealtimeMarkingScheme.cpp:1162: ((false && (gcEnv->_referenceO

[2018-06-12 18:40] pshipton commented on #2159
1CIJAVAVERSION JRE 1.8.0 Linux amd64-64 (build 1.8.0_162-b12)
1CIVMVERSION   20180315_120
1CIJ9VMTAG     openj9-0.8.0
1CIJ9VMVERSION e24e8aa9
1CIJITVERSION  e24e8aa9
1CIOMRVERSION  3e8296b4_CMPRSS
1CIJCLVERSION  ee1e77df1d based on jdk8u162-b12

@amicic @dmitripivkine fyi

[2018-06-12 18:42] pshipton commented on #2159
@sinus0 you might try the latest nightly build instead of the 0.8 build, there have been many fixes since then. We expect OpenJ9 0.9 to be released shortly.

[2018-06-12 19:27] amicic commented on #2159
I wonder if this assert is valid.

In the equivalent non-RT marking code (MM_MarkingSchemeRootClearer::scanPhantomReferenceObjects), there is no assert but actually a buffer flush. It's expected for buffer to be non empty, if the previous step in clearable roots scanning (unfinalized object processing), which can discover new live objects, happened to discover a phantom (or even soft/weak) referen

[2018-06-12 20:39] jdmpapin commented on #2049
Should `putfield` and `putstatic` (or at least some combination of those with a later `getfield`/`getstatic`) also truncate `byte`, `short`, and `char` values? It seems strange for them to truncate `boolean` only.

[2018-06-12 21:37] DanHeidinga commented on #1371
So we'd have to add a new api either way?  That changes my answer.

One of my concerns with the approach is that OMR already has 3 memory-related APIs that appear to have a high degree of overlap:
* omrsysinfo_get_memory_info
* omrsysinfo_get_addressable_physical_memory
* omrsysinfo_get_physical_memory

Adding a 4th won't help this situation.

What about extending the `J9MemoryInfo` structure to i

[2018-06-12 22:08] dougbreaux commented on #2010
@DanHeidinga did the trace not reveal anything useful?

[2018-06-12 23:50] dougbreaux commented on #2010
Unsurprisingly, my simplistic test from a Struts 2 Maven "blank" archetype doesn't exhibit this behavior, FWIW. So it's not a trivial case.

[2018-06-13 01:49] pshipton opened #2161 "xlinux machines are out of disk space, failing PR builds"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK10-linux_x86-64-OpenJ9/57/
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK10-linux_x86-64_cmprssptrs-OpenJ9/86/
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-linux_x86-64-OpenJ9/53/

1, 3, 4 failed here.

@jdekonin fyi

[2018-06-13 02:14] mpirvu commented on #1371
Your proposal about extending the J9MemoryInfo sounds good to me.

[2018-06-13 08:07] DanHeidinga commented on #2010
@dougbreaux `jdmpview` can't find a JRE in the core and I've been unsuccessful manually putting things back together.

Can you generate a new core and confirm that `jdmpview -core <corefile>` is able to find the JRE in the core?  If it fails, you'll see something like: ` *0 : PID: 8323098 : No JRE` in the jdmpview output

[2018-06-13 10:03] unshorn opened #2162 "Class.getDeclaredMethod's behavior is not consistent with API documentation"
In the case a class has more than one method matching the signature supplied to either `getDeclaredMethod` or `getMethod`, the behavior specified by the [API documentation](https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getMethod-java.lang.String-java.lang.Class...-) is that it should return the method which has the more specific return type. Example.: for `Bar.class.getDeclaredMet

[2018-06-13 11:49] JasonFengJ9 commented on #2162
Will have a look this.

[2018-06-13 12:37] keithc-ca commented on #2161
It wasn't just xlinux; I believe when I checked, the Windows job failed similarly.
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-win_x86-64_cmprssptrs-OpenJ9/66/

[2018-06-13 14:03] pshipton commented on #2161
The Windows issue is #2129

[2018-06-13 14:04] irinarada commented on #1919
Are we close to finishing this?

[2018-06-13 14:08] pshipton commented on #1919
The fix in #2106 is under review. There are some PR testing failures due to out of space issues atm.

[2018-06-13 14:33] llxia opened #2165 "cmdLineTester_jvmtitests_extended test level is wrong"
`cmdLineTester_jvmtitests_extended` should be in `extended` level not `sanity`.
https://github.com/eclipse/openj9/blob/ef9a7abd00e1b27888e79645ba1a8723707e5155/test/functional/cmdLineTests/jvmtitests/playlist.xml#L165

[2018-06-13 14:35] llxia commented on #2129
Not related to the failure, but the test level is wrong. It should be in `extended` not `sanity`. Issue
 https://github.com/eclipse/openj9/issues/2165 is opened to address this.

[2018-06-13 14:42] babsingh commented on #2152
@pshipton for convincing Adopt to create a release from OpenJ9 0.9, do we need to open an issue somewhere?

[2018-06-13 14:51] pshipton commented on #2152
I expect so, we'll have to figure out which repo to create it in. I'll add it to the agenda of the OpenJ9 community call today.

[2018-06-13 14:55] pshipton commented on #2152
The issue should be created at https://github.com/AdoptOpenJDK/openjdk-build/issues

[2018-06-13 15:10] smlambert commented on #2165
related: #2147

[2018-06-13 15:13] babsingh commented on #2152
AdoptOpenJDK Issue - https://github.com/AdoptOpenJDK/openjdk-build/issues/370

[2018-06-13 15:59] mesbaha commented on #1252
@babsingh I verified your fix by running the openj9 systemtests sharedClasses jvmti native tests in a personal build using the sdk you provided:

10:39:21 openjdk version "1.8.0_172-internal"
10:39:21 OpenJDK Runtime Environment (build 1.8.0_172-internal-j9build_2018_06_08_23_10-b00)
10:39:21 Eclipse OpenJ9 VM (build master-d8069bf8, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20180608_1398

[2018-06-13 16:02] llxia commented on #2165
@smlambert Sorry, I did not notice you open an issue for this already. I will close this one since it is duplicate.

[2018-06-13 16:02] #2165 closed

[2018-06-13 16:03] llxia commented on #2147
https://github.com/eclipse/openj9/blob/ef9a7abd00e1b27888e79645ba1a8723707e5155/test/functional/cmdLineTests/jvmtitests/playlist.xml#L165

[2018-06-13 16:10] smlambert commented on #2165
that's ok, mine was slightly different, involving a rename... but agree we do not need 2 issues for the action that should happen next :)

[2018-06-13 16:22] AdamBrousseau commented on #2161
I don't yet understand why these failed, there's plenty of space on the nodes and the master

[2018-06-13 16:50] pdbain-ibm opened #2171 "Please upgrade to Ant 1.9.7"
This version adds elements for compiling modules, such a <modulepath>, < modulesourcepath> et al.

<modulepath> adds path elements in a portable fashion without having to use `<compilerarg line="-p directory1:directory2:my.jar"/>`, with the complication of OS-dependent path separators.

[2018-06-13 16:51] AdamBrousseau commented on #2161
Restarted 3 & 4, waiting for 1 & 2 to finish jobs then will restart them too. Please close, we can reopen if the issue recurs.

[2018-06-13 18:02] pshipton commented on #2161
@hangshao0
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK10-linux_x86-64_cmprssptrs-OpenJ9/86/
failed trying to create a shared cache. It seems there is a problem with the logic to fall back to smaller sizes. Can you please create another issue for this and investigate.
[code]

[2018-06-13 18:15] pdbain-ibm commented on #2047
Excluding the test temporarily: https://github.com/eclipse/openj9/pull/2173

[2018-06-13 18:55] hangshao0 opened #2174 "We should use a smaller shared cache size when there is not enough disk space"
We are seeing test failures like the following due to limited disk space

[2018-06-13 18:57] hangshao0 commented on #2161
Issue created here: https://github.com/eclipse/openj9/issues/2174

[2018-06-13 18:57] pshipton opened #2175 "YourKit testing bytecode instrumentation gpf compiling method"
1XHEXCPMODULE  Compiling method: com/ibm/jit/JITHelpers.isArray(Ljava/lang/Object;)Z

[code]

[javacore.20180613.203047.7396.0002.txt](https://github.com/eclipse/openj9/files/2099497/javacore.20180613.203047.7396.0002.txt)

[code]

[2018-06-13 19:41] AdamBrousseau commented on #1897
#2093

[2018-06-13 20:08] gacholio commented on #2175
JITHelpers should probably be in the list of non-instrumentable classes.

[2018-06-13 20:11] gacholio commented on #2175
jvmtiHook.c : canClassBeInstrumented to prevent load-time modification.

hshelp.c : classIsModifiable to prevent redefinition

[2018-06-13 20:31] pshipton commented on #2174
@mpirvu fyi

[2018-06-13 21:02] mpirvu commented on #2174
The proposed change make sense, though maybe we should generate some sort of a warning, otherwise we could transform a functional issue into a performance issue.

From the testing point of view it gets tricky: machines with little free disk space will silently use smaller caches and we may not be testing the real thing.

[2018-06-13 21:11] hangshao0 commented on #2174
There are users that do not want to see messages printed to their console. I will add a trace point if we detect the free disk space is low. We can enable this trace point to know if the expected cache size is used or not.

[2018-06-13 21:37] JasonFengJ9 commented on #2065
Initially the suspect code overrun was around `jvminit.c:preloadUser32Dll()` when `protectContiguous` is true. Instrument JVM doesn't show that code snippet takes longer than successful runs. It appears it is `library j9gc29` takes unusually longer to be loaded.
[code]

The failure rate is `~5/20`.
Note: The failing job references are `Java 9 b148` build. It appears `OpenJ9` version occurred less

[2018-06-13 22:47] dougbreaux commented on #2010
@DanHeidinga So... why would the next core file not have the same problem?

[2018-06-14 01:38] ChengJin01 commented on #1697
After fixing the setting issues with jre-image, paths to MSVC, etc,  I am currently working on other issues in config/mk scripts captured during compilation.

[2018-06-14 01:55] ssuhvs opened #2183 "how to support multi-languages for docker image ,eg chinese"
how to support  multi-languages for docker image ,eg chinese

[2018-06-14 03:08] dougbreaux commented on #2010
Ok, in the process of trying to get that dump again, I decided to remove some other JVM arguments we have that are related to an agent installed in the the JVM, and voila, the problem ceased. So I think we can close this, and I'll have to pursue with that product support.

[2018-06-14 03:08] #2010 closed

[2018-06-14 16:30] ashu-mehra commented on #1371
@DanHeidinga @mpirvu I have added only those fields to `J9MemoryInfo` which we would need to calculate available memory on the host. These fields are added only for Linux platform. Please see the second [commit](https://github.com/eclipse/omr/pull/2430/commits/2efdffcc5ab98866bf7e0af677be661ee3f1418b) in https://github.com/eclipse/omr/pull/2430.
I am assuming with this change we don't need the new

[2018-06-14 16:39] pshipton opened #2187 "omr promotion failed with NotSerializableException"
https://ci.eclipse.org/openj9/job/Promote-OpenJ9-OMR-master-to-openj9/404/console
[code]

@jdekonin

[2018-06-14 17:03] AdamBrousseau commented on #2187
No idea. Perhaps another +1 for #2017

[2018-06-14 17:21] mpirvu commented on #1371
Why the limitation on Linux?

Correct, if I have the values for the entire machine I can implement the required logic in a JIT function. We can export that later if there are other consumers.

[2018-06-14 17:30] babsingh opened #2190 "Update boot JDK download links in JDK11 Dockerfile(s)"
Currently, JDK11 Dockerfile(s) either use AdoptOpenJDK JDK10 nightly builds (x/p Linux) or custom JDK10 builds (zLinux) as the boot JDK.

Once AdoptOpenJDK supports JDK10 releases for x/p/z Linux, then the download link for boot JDK in JDK11 Dockerfile(s) should be updated.

The following Dockerfile(s) would need to be updated:
1. `buildenv/docker/jdk11/x86_64/ubuntu16/Dockerfile`:
  - **(xLinux)*

[2018-06-14 17:32] DanHeidinga commented on #2017
@AdamBrousseau Any update on the questions asked in https://github.com/eclipse/openj9/issues/2017#issuecomment-393154695 ?  Answers to those questions would help determine the benefit of this and where to prioritize it, especially seeing as it's being mentioned in other items.

[2018-06-14 17:34] ashu-mehra commented on #1371
Because the cgroup is a Linux thing and that's where we would need to store host memory stats separately. On other systems, these new fields are not really required.

[2018-06-14 17:43] llxia opened #2193 "AssertionError in testModule"
https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-JDK10-linux_x86-64_cmprssptrs/33/consoleFull

[code]

There are two issues:
- AssertionError
[code]
One method returns `java.util.Optional` and the other returns String. Therefore, we have mismatch.
https://docs.oracle.com/javase/9/docs/api/java/lang/StackTraceElement.html#getModuleVersion--
https://docs.oracle.com/javase/9/docs/api/java/ut

[2018-06-14 17:58] ashu-mehra commented on #1371
Dan has also [asked](https://github.com/eclipse/omr/pull/2430#pullrequestreview-128894934) it to be platform neutral. I will update the code.

[2018-06-14 18:13] pshipton commented on #2187
I should have mentioned here, we promoted the omr level by hand after this failure occurred.

[2018-06-14 18:33] #1897 closed

[2018-06-14 18:34] tajila commented on #1275
@Ailloviee ^^

[2018-06-14 18:59] AdamBrousseau commented on #2187
Should also note, since the promotion job is the last job in the pipeline, you could use the "rebuild" button on the failed promotion job rerun it. The result won't be reflected in the top level OMR build but you will still get the code promoted without manually doing so.

[2018-06-14 19:33] AdamBrousseau commented on #2017
There are at least 2 open issues I can see with a quick search, both are unresolved. I think the Cloudbees enterprise Jenkins offering has this feature.
- [Restarting stages
](https://issues.jenkins-ci.org/browse/JENKINS-45455)
- [Restart pipeline from specific stage, after failure
](https://issues.jenkins-ci.org/browse/JENKINS-33846)

Your best friend for the restarts will be
- Slack notification

[2018-06-14 21:45] AdamBrousseau commented on #1450
ref #2037

[2018-06-15 09:46] gaolibj opened #2202 "OpenJ9 builds failure on AIX - Could not find /usr/lib/libfreetype.so"
I follow the full set of build instructions at [OpenJ9 Build](https://www.eclipse.org/openj9/oj9_build.html) website.
Found error when running the configure script .
Actually, I have installed the freetype packages listed in  yum_install_aix-ppc64.txt.  But there is no libfreetype.so created.
-     freetype2-2.6.3-1.ppc
-     freetype2-devel-2.6.3-1.ppc

Also tried to install freetype(not freetype

[2018-06-15 09:49] DanHeidinga commented on #2202
@jdekonin I know you've done a bunch of set up on AIX.  Any suggestions on where to get freetype on AIX?

[2018-06-15 09:51] DanHeidinga commented on #2202
@gaolibj Have you looked at the detailed build instructions for AIX: https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V8.md#aix ?

In particular, the list of packages to install via yum, which includes freetype: https://github.com/eclipse/openj9/blob/master/buildenv/aix/jdk8/yum_install_aix-ppc64.txt

[2018-06-15 09:59] jdekonin commented on #2202
I didn't know those instructions existed within openj9.  They look close for sure.  I've used and updated the AdoptOpenJDK ansible scripts for generating the internal and external AIX instances.

https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/aix.yml

As you stated above, freetype comes via yum install.

[2018-06-15 15:15] renfeiw commented on #1511
also excluded callsitedbgdrrext for win and zos (#2172)

[2018-06-15 17:18] ntadas opened #2206 "unable to crosscompile for ppc 32bits"
I'm having some problems compiling the open j9 for ppc 32bits
I've followed these steps: https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V8.md#2-get-the-source

after some time fighting with the configure options I was able to successfully run the configure with the extra options:
`--openjdk-target=powerpc-fsl-linux --without-x --without-cups --without-alsa`
I had to set

[2018-06-15 17:51] fengxue-IS commented on #947
tested with different approaches on all platforms,
Windows GetCommandLine works well,
AIX don't have command line stored under /proc/$PID/cmdline or a system call to retrieve that info
Linux systems have /proc/$PID/cmdline, though the file size is zero, so this have to be read/parsed in blocks
MacOS same as aix

for unix systems, this info can also be retrieved with `ps -o [cmd|command] -ww $PID`

[2018-06-15 18:41] Ali-Ni commented on #1621
I briefly looked into each of these commands and how they are implemented in the openjdk extensions:

jps:
jps reads files in `hsperf_${username}` folder (temp files generated by hotspot, folder is found in `/tmp` on linux) to get lvmid and other general VM information. This is strictly specific to HotSpot’s implementation. I wasn't sure of the copyright/legal concerns regarding this so I didn't d

[2018-06-15 20:00] pshipton commented on #1919
Accidentally closed, not all changes are merged yet.

[2018-06-15 20:29] ChengJin01 commented on #1697
Currently it ended up with linking failure on unresolved external symbols as follows:

[code]

It seems the failure was triggered when linking (VS2017) the .obj files (compiled by mingw) with non-existent functions in libraries in VS2017 (___iob_func was already renamed to acrt_iob_func since VS2015)

Here's typical explanations online of what happens to "unresolved external symbol __imp___iob_fun

[2018-06-15 20:43] pshipton commented on #1697
We can try compiling the BytecodeInterpreter with VS2017 instead of mingw. Perhaps it will work, even though 2010 and 2013 do not.

As I recall 2010 and 2013 can't compile BytecodeInterpreter with optimization enabled. It compiles with -O0 but then we have stack related problems at runtime.

[2018-06-15 20:48] dnakamura commented on #1697
THe issue is that by default the new VS uses a bunch of inlined functions for CRT functions, but mingw doesnt pick them up.  IIRC this can be fixed by setting the `VS12AndHigher` flag in the buildspec.
@pshipton  it will compile with 2017, but  with optimizations disabled. (enabling still results in a hang)

[2018-06-15 22:37] pshipton commented on #1919
Now everything is merged.

[2018-06-15 22:37] #1919 closed

[2018-06-16 00:53] ChengJin01 commented on #1697
To verify the suggestion above, I made the following changes:
[code]

However, it still ended up with the same linking failures as follows:
[code]
The failures shows -O0 and -DVS12AndHigher were already set up for x86_64-w64-mingw32-g++ and it works in some way but it didn't help to get these obj file linked correctly.

My understanding is that mingw does pick up the inlined CRT functions (the err