[2022-06-15 15:49] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_x86-64_mac_Nightly_testList_1/83
ConcurrentLoadTest_5m_0
[code]

[2022-06-15 15:57] pshipton opened #15333 "win2019-x64-2 testing issues"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.functional_x86-64_windows_Nightly_testList_1/89
[win2019-x64-2](https://openj9-jenkins.osuosl.org/computer/win2019-x64-2) - this is a new machine

@vsebe 2 problems:

The build has no TAP results. It shows green although there was a test failure. The parent job has the TAP results.
[code]

cmdLineTester_getPid_0
[code]

[2022-06-15 16:12] connglli opened #15335 "JDK8 Segmentation error vmState=0x000551ff"
Java -version output
--------------------
[code]

Summary of problem
------------------

The following `Test.java`, which is reduced by us, crashes OpenJ9's JIT compiler

[code]

Diagnostic files
----------------

By issuing

[code]

the following crash log is given:

[code]

Please also check [openj9-bug-70.tar.gz](https://drive.google.com/file/d/1bj97xoYE9rxDPx3fDSgV_ZNHhYG7XUX-/view?usp=sharing

[2022-06-15 16:15] pshipton opened #15336 "jdk19 Windows JCL_Test test_runFinalization Failed to run finalization"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_x86-64_windows_OpenJDK19_testList_0/1 - [win2012-x86-6](https://openj9-jenkins.osuosl.org/computer/win2012-x86-6)
JCL_Test_0
JCL_Test_2
JCL_Test_none_SCC_0
[code]

[2022-06-15 16:28] pshipton commented on #15335
It reproduces for me, on 0.32 and 033

@0xdaryl

[2022-06-15 16:47] connglli opened #15338 "JDK8 Segmentation error vmState=0x00000000"
Java -version output
--------------------
[code]

Summary of problem
------------------

The given (unreduced) `Test.java` in following link crashes OpenJ9's JIT compiler.

**Should note that**
1. Crash often happens, but the logs sometimes cannot be written. This is because it is somewhat non-determistic. That said, it sometimes crashes with exit code 255, sometimes 1, and sometimes 134.
2. Becau

[2022-06-15 17:07] #15302 closed

[2022-06-15 17:32] pshipton commented on #15338
I was able to repeat it on 0.33 fairly quickly.

@0xdaryl

[2022-06-15 17:44] pshipton commented on #15336
Re-running the failed tests in a grinder https://openj9-jenkins.osuosl.org/job/Grinder/910/

[2022-06-15 17:45] pshipton commented on #15332
`vmState [0x509ff]: {J9VMSTATE_JIT} {localValuePropagation}`

[2022-06-15 17:48] connglli commented on #15338
Hi @pshipton, indeed what we have reported by far are obviously unique bugs of OpenJ9. Hope to improve the quality f OpenJ9.

Not sure if there are MUCH more, but there are still some in our hands. We are still working on them (many are not crashes; miscompilations instead) such that we only report unique ones and don't smash your issuetracker.

[2022-06-15 17:49] kgibm opened #15340 "jdmpview reports truncated dump and DTFJJavaObject.getJavaClass reports EOFException even though dump appears good"
Java -version output
--------------------

Java version of the core dump from `jdmpview` (very old JRE from **2016**!):

[code]

Summary of problem
------------------

AIX core dump produced due to OutOfMemoryError shows the core dump was written without error (translated from Japanese so some artifacts from translation):

[code]

Loading the dump in `dbx` does not show any truncation warnings:

[

[2022-06-15 17:52] pshipton commented on #15332
The reduced case isn't failing for me, and neither is the full test case.

@0xdaryl fyi

[2022-06-15 17:58] pshipton commented on #15340
The truncation warning is a newer feature.

[2022-06-15 19:44] EricYangIBM commented on #13234
Is the test failing in the nightly builds?
I tried running 20x linux x86-64 and all passed: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/24999/
Something that may have allowed this test to pass now is a change in jcl from jdk 17 to 19:
jdk 17:
https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/openj9-staging/src/jdk.incubator.foreign/share/classes/jdk/internal/fo

[2022-06-15 19:54] connglli commented on #15306
@pshipton

Could you please check if the following `Test.java` is a duplicate of this issue? Though they looks quite different, they have similar symptoms to each other, i.e., they give different results every time you run it.

**If it is indeed a duplicate, just skip it and I won't report other tests in our hands that behave similar symptoms; otherwise, I will start a new issue thread for you guy

[2022-06-15 19:56] pshipton commented on #15306
I assume @0xdaryl or a delegate will do that investigation.

[2022-06-15 19:59] connglli commented on #15306
Thanks for you patience and enthusiasm @pshipton, as well as @0xdaryl.

[2022-06-15 20:12] babsingh commented on #13211
**Runtimes for `TestHandShake`:** https://github.com/eclipse-openj9/openj9/issues/15204#issuecomment-1155347134

**ExceutorService:**
[code]

- In the old implementation, Step 3 (`closeScope`) would have interrupted all threads accessing the shared memory segment. This would have thrown an IllegalStateException in the threads launched in Step 1. While the Step 1 threads are in the catch block slee

[2022-06-15 20:22] pshipton commented on #15306
We have questions about using the test cases you've provided in our regression test suite. Are there any existing licenses or concerns about putting the test cases under the Eclipse v2 license? @llxia is interested in having you open a Pull Request to deliver the test cases, if you are are agreeable to that. We'd try to make it easy so you don't need to be concerned much about test frameworks. You

[2022-06-15 20:34] keithc-ca commented on #15340
Detection of truncated core files from AIX has been around for a long time, but as Peter says, reporting that is new.

Core files from AIX reported as truncated either:
* have the 'truncated' flag in the second byte of the file; see [AIXDumpReader.java](https://github.com/eclipse-openj9/openj9/blob/master/debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/aix/AIXDumpReader.java#L170)
* describe a reg

[2022-06-15 21:08] babsingh commented on #13234
Closing the issue as per https://github.com/eclipse-openj9/openj9/issues/13234#issuecomment-1156857189.

[2022-06-15 21:08] #13234 closed

[2022-06-15 21:19] vsebe commented on #15333
Granted remote access to WMI to Jenkins user. `cmdLineTester_getPid_0` passed in [Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/918/console).

[2022-06-15 21:23] #15333 closed

[2022-06-15 22:09] jdmpapin commented on #15319
Opened #15344 with a fix

[2022-06-15 22:19] a7ehuo commented on #15305
I think I found the root cause why the removed block (`block_14`) has an edge to `block_39` after `redundantGotoElimination`.

In [TR_EliminateRedundantGotos::process](https://github.com/eclipse/omr/blob/0aa4535f4ecf8c588b6ba0e09c0913fe9f2e9246/compiler/optimizer/LocalOpts.cpp#L3319), it fist pushes all IN edges of the block being removed (`block_8`) into `fixablePreds` [1]. In this case, the edge

[2022-06-16 00:32] knn-k commented on #15331
No register dump, core, nor javacore files are available in the artifact.

[2022-06-16 01:26] #15198 closed

[2022-06-16 01:53] knn-k commented on #14636
https://github.com/eclipse/omr/pull/6568 was superseded by https://github.com/eclipse/omr/pull/6573.
I use nanoseconds as the unit for `omrtime_hires_clock()` on macOS in it.

[2022-06-16 02:05] knn-k commented on #15301
The trend with CountLargeTest is similar on other platforms: JDK 11 is somewhat faster than JDK 17.

<table frame="border" border="1">
<thead>
<tr>
<th>Build</th>
<th>JDK 11</th>
<th>JDK 17</th>
</tr>
</thead>

<tbody>
<tr>
<td>June 13 Nightly on Power AIX</td>
<td><a href="https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/294/">6 min. 2 sec.</a> on p8-java1-

[2022-06-16 02:25] knn-k commented on #15198
I found similar performance gaps with CountLargeTest between JDK 11 and 17 on other platforms.  See #15301.

[2022-06-16 02:44] knn-k commented on #14636
OMR PR 6573 was merged.  Let's see if the assertion failure is reproduced or not with the change.

[2022-06-16 05:25] knn-k commented on #15114
I tried to read the core file with jdmpview, but it failed with the following exception:

[code]

[2022-06-16 10:55] connglli commented on #15306
As for the first question, we're working on an automated testing tool based on many existing fuzzers; but it hasn't been released yet. Currently, tests that we have reported is a hybrid of our tool and a fuzzer namely [Java*Fuzzer](https://github.com/AzulSystems/JavaFuzzer) which is licensed by Apache V2. I'm not quite familiar with the licenses, but **as far as I know** Apache V2 grants you the p

[2022-06-16 13:28] #14908 closed, assigned to keithc-ca

[2022-06-16 14:18] connglli opened #15347 "JDK8 OpenJ9's (Deterministic) Result is Different from That of HotSpot and ART"
Java version
-------------

[code]

Javac version
--------------

[code]

Summary of problem
-----------------

The following `Test.java` makes OpenJ9 (with above version) to produce different result from HotSpot and the Android Runtime (ART).

**Note, this issue is different from #15306 that the OpenJ9 result of the following `Test.java` is always deterministic, though different from that of HotS

[2022-06-16 14:28] pshipton commented on #15306
Sounds good, thanks. Eclipse OpenJ9 is actually dual licensed under Eclipse v2 or Apache v2. We can accept other compatible licenses as well.

[2022-06-16 14:38] connglli commented on #15347
To avoid smashing you issuetracker, I put another **similar but different** test directly in here. OpenJ9 also produces different result from HotSpot and ART.

**This one is different from the above one that this is related to floating-point calculation (i.e., the `double dFld`).  We cannot be sure if they are the same bug or different ones.**

[code]

Results of OpenJ9:

[code]

Results of HotSpo

[2022-06-16 14:52] connglli opened #15349 "JDK8 OpenJ9: Server and Desktop Gives Different Result"
Java version
-------------

[code]

Javac version
--------------

[code]

Summary of problem
-----------------

This issue gives a quite tricky `Test.java`.

On one hand, OpenJ9 (with above version) produces different result from HotSpot and the Android Runtime (ART).

**On the other hand, the results of OpenJ9 running on our desktop and server are also different; and both different from HotSpot/A

[2022-06-16 14:52] connglli commented on #15349
If you need any further information, please let me know.

[2022-06-16 15:40] pshipton commented on #15114
@keithc-ca fyi the dtfj failure to read the core.

[2022-06-16 15:59] #14502 closed

[2022-06-16 16:08] BradleyWood commented on #15335
I will take a look at this one.

[code]

[2022-06-16 16:18] keithc-ca commented on #15114
I don't see any core files available as artifacts attached to that grinder job.
@knn-k Can you share a core file with those symptoms (or a URL of one)?

[2022-06-16 16:19] 0xdaryl commented on #15338
@mpirvu : could you have someone triage this crash in sampleMethod() please?

[2022-06-16 16:27] pshipton commented on #15114
@keithc-ca I expect the core is from the original failure
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.openjdk_aarch64_mac_Nightly/62/openjdk_test_output.tar.gz

[2022-06-16 16:40] pshipton commented on #15347
I can't duplicate the first test case.

The second test case gives me different results than shown, but still different from Hotspot. It's also interesting that Hotspot runs the test case much faster. This is not fixed by https://github.com/eclipse-openj9/openj9/pull/15344

[2022-06-16 16:42] mpirvu commented on #15338
@dsouzai since you recently looked at the sampling code, could you please investigate this crash? Test case is provided and problem is reproducible. Thanks

[2022-06-16 16:43] pshipton commented on #15349
This one doesn't duplicate for me.

[2022-06-16 16:46] pshipton commented on #15349
@0xdaryl fyi

[2022-06-16 16:47] pshipton commented on #15347
@0xdaryl fyi

[2022-06-16 16:53] connglli commented on #15347
How about [openj9-bug-72.tar.gz](https://github.com/eclipse-openj9/openj9/files/8920900/openj9-bug-72.tar.gz)? The first test case is reduced from the `Test.java` in this link.

[2022-06-16 16:54] pshipton commented on #15347
Actually with `-Xshareclasses:none` I can duplicate the first case.

[2022-06-16 16:54] connglli commented on #15347
Awesome @pshipton

[2022-06-16 17:02] connglli commented on #15349
I've tried to run it for much more times. Seems like this is not because of the architecture. This time my server occasionally gives the same result as my desktop. Maybe a duplicate of #15306?

Try this unreduced one [openj9-bug-75.tar.gz](https://github.com/eclipse-openj9/openj9/files/8920934/openj9-bug-75.tar.gz).

[2022-06-16 17:35] dsouzai commented on #15338
@connglli do you mind uploading your JDK? I'm not able to reproduce the crash, and the coredump can really only be analyzed with the exact build that generated it. If you built it yourself, could you ensure that it contains the debug symbols; if you got it from somewhere, could you point me to that location?

[2022-06-16 17:37] hzongaro commented on #15311
I took at look at transformations that GVP performs when [OMR pull request #6121](https://github.com/eclipse/omr/pull/6121) is reverted.  In that case, although there's no crash, I can see that it removes a `NULLCHK` even though there is a path through which a null reference is assigned to the temporary that's involved - that's the same null reference that causes the crash in attempting to interse

[2022-06-16 17:41] EricYangIBM commented on #13256
Closing as `closeScope0` is no longer required to throw an exception in accessor threads (jdk19). See https://github.com/eclipse-openj9/openj9/pull/15161#issuecomment-1143055800

[2022-06-16 17:41] #13256 closed

[2022-06-16 18:05] connglli commented on #15338
@dsouzai See [this link](https://drive.google.com/file/d/1CgBt0d3cN3uW5xOyKU5ZXbVkYYy-IjBh/view?usp=sharing). Yep, I built it myself but I don't think there are any debugging symbols since I was building a release instead of fastdebug or slowdebug.

[2022-06-16 18:06] #15172 closed, assigned to fengxue-IS

[2022-06-16 18:10] pshipton commented on #15338
I was chatting with dsouzai and he found a local JVM that could reproduce the crash.

[2022-06-16 18:34] dsouzai commented on #15338
Thanks @connglli, I'm downloading your build anyway because I'm seeing some inconsistent things in my repro. At the time of the crash, the ouput looks similar to yours. However, when I load the core in gdb I'm seeing:
[code]
Looking at the crashing instruction in `samplerThreadProc`:
[code]
This maps to
https://github.com/eclipse-openj9/openj9/blob/v0.32.0-release/runtime/compiler/control/HookedBy

[2022-06-16 18:48] pshipton opened #15351 "cmdLineTester_GCRegressionTests Unload lots of classes to force finalization ASSERTION FAILED CopyForwardScheme.cpp:2251: ((false))"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_s390x_linux_Nightly_testList_1/248 - [rh7-390-4](https://openj9-jenkins.osuosl.org/computer/rh7-390-4)
cmdLineTester_GCRegressionTests_2 `-XX:+UseCompressedOops -Xjit -Xgcpolicy:balanced`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.functional_s390x_linux_Nightly_testList_1/248/f

[2022-06-16 18:53] pshipton commented on #7178
This seems complete.

[2022-06-16 18:53] #7178 closed

[2022-06-16 18:58] pshipton opened #15352 "aarch64 mac SharedClasses.SCM23.MultiCL_0 hang recusive in ClassLoader.loadClass"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_0/79
SharedClasses.SCM23.MultiCL_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_0/79/system_test_output.tar.gz
[code]

5.MCL3.stderr
[code]

I only find a javacore in the

[2022-06-16 18:58] pshipton commented on #15352
@knn-k fyi

[2022-06-16 19:21] dmitripivkine commented on #15351
This assertion means `Card` for `srcObject` in `MM_CopyForwardScheme::updateMarkMapAndCardTableOnCopy()` has unexpected state (garbage?).
Unfortunately there is no system core stored in artifacts.

[2022-06-16 19:23] dmitripivkine commented on #15351
Trying to reproduce in grinder https://openj9-jenkins.osuosl.org/job/Grinder/923/

[2022-06-16 20:05] dmitripivkine commented on #15351
another grinder https://openj9-jenkins.osuosl.org/job/Grinder/924/

[2022-06-16 20:37] keithc-ca opened #15353 "Revert changes to java.management/module-info.java in jdknext"
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/463 comments out language elements not yet supported by the `GenModuleInfoSource` tool used to merge `module-info.java` with `module-info.java.extra` files. When the tool is updated, that change can be reverted.

[2022-06-16 20:56] pshipton commented on #15351
It's weird it didn't even try to write diagnostic files. I updated the description with the complete output at the end.

[2022-06-16 21:49] dsouzai commented on #15338
Some additionally information; if we start looping from the main thread:
[code]
We eventually see that `(J9VMThread *)0x106200)->linkNext` leads to the bad pointer, which, if we look at the high 32 bits, is actually is the previous thread. However:
[code]
which means that `0x106200` is not a J9VMThread at all. `0x3ae00`'s linkPrevious is correct, and if I print out the entire J9VMThread struct at

[2022-06-16 21:51] dsouzai commented on #15338
Also @connglli I don't know what the expected output of the test should be, but whenever I run it, if it doesn't crash, it will print
[code]
and seem to hang. Is this expected?

[2022-06-16 22:08] pshipton commented on #15338
@tajila fyi
@gacholio do you have any cycles to look?

[2022-06-16 22:10] connglli commented on #15338
Absolutely not expected. The program should not hang, instead it should exit normally. This is the output of HotSpot JDK8/11/17 and Android ART:

[code]

[2022-06-16 22:12] pshipton commented on #15338
Also if it's run on OpenJ9 with -Xint.

[2022-06-16 22:17] pshipton commented on #15338
btw, I tried `-Xgcpolicy:nogc` and still got a core.

[2022-06-16 22:21] pshipton commented on #15338
It seems to work fine with -Xjit:optlevel=cold or warm
@dsouzai are there other JIT options worth trying to narrow it down?

[2022-06-16 22:26] pshipton commented on #15338
Running with `-Xjit:disableinlining` changes things up. In one run I got a core right way before getting any output. In another run I got `Invalid JIT return address 00001D1D00001D1D in 0000000000017200` and then an assertion in swalk.c

[2022-06-16 22:44] pshipton commented on #15338
I created a vlog file from a crashing run. Then I tried excluding the hot or higher methods one by one. By using the following as a limitfile, the testcase works.

[vlog1.txt](https://github.com/eclipse-openj9/openj9/files/8923255/vlog1.txt)

The following is what I disabled to get it working.
`- (hot) Test.vMeth1(I)V @ 00007F83658F9B94-00007F83658FCAF0 MethodInProgress - Q_SZ=12 Q_SZI=12 QW=63 j9

[2022-06-16 22:52] knn-k commented on #15315
The timeouts in the Grinder job may be related to #15352.

[2022-06-16 22:53] knn-k commented on #15301
@0xdaryl FYI.

[2022-06-16 23:28] knn-k commented on #14502
I opened https://github.com/eclipse-openj9/openj9-omr/pull/149 and https://github.com/eclipse-openj9/openj9/pull/15354 for v0.33.0 branch.

[2022-06-16 23:42] pshipton opened #15355 "jdk19 java.util.function.Predicate.lambda$negate$1 NullPointerException: Cannot invoke "java.lang.Class.getName()" because "instanceClass" is null"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_OpenJDK19/2
jdk11_tier1_cipher_1 `-XX:-UseCompressedOops`
com/sun/crypto/provider/Cipher/AES/CTR.java

[code]

FYI https://github.com/eclipse-openj9/openj9/issues/15324

[2022-06-16 23:43] pshipton commented on #15324
FYI https://github.com/eclipse-openj9/openj9/issues/15355

[2022-06-16 23:49] dsouzai commented on #15338
Thanks @pshipton.

I verified that with
[code]
not only do we not crash, but we also stop hanging.

If I do
[code]
or if I do `optLevel=veryHot` or `optLevel=scorching` I see the crash or assert Peter mentioned above.

@0xdaryl given that this doesn't look like a control issue anymore and also since I'm only around tomorrow for a half day and on vacation all of next week, we should transfer this t

[2022-06-17 09:28] knn-k commented on #14502
cmdLineTester_fieldwatchtests_0 is enabled in today's nightly jobs, and their results are OK.

- https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_aarch64_mac_Nightly/80/
- https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.functional_aarch64_mac_Nightly/78/

[2022-06-17 12:09] 0xdaryl commented on #15349
The test fails when `Test.vMeth(DI)V` is compiled at scorching and passes with `-Xjit:disableSequenceSimplification`.

This is very likely a duplicate of #15306, but I can't yet rule out there are two different defects in expressions simplification.

[2022-06-17 12:57] keithc-ca commented on #9990
`ASM9` was added in jdk19: `ClassScanner` updated in #15358.

[2022-06-17 13:03] 0xdaryl commented on #15347
The first test only fails at scorching and passes with `-Xjit:disableSequenceSimplification`.  This may also be a duplicate of #15306.

The second test will fail at hot and (expectedly) `-Xjit:disableSequenceSimplification` has no effect.  It is a separate issue.

I evaluated as far back as 0.29 and both fail, hence these are not regressions in 0.33.

[2022-06-17 13:09] connglli commented on #15347
@0xdaryl then do I need to open a new issue thread for the second?

[2022-06-17 13:13] 0xdaryl commented on #15347
Let's hold off for now.  If the first issue is indeed a duplicate of 15306 then we can simply re-purpose this issue for the second problem.

[2022-06-17 13:15] connglli commented on #15347
There is also a second test in #15306, please help check that when you are available. But, just take your time :-).

[2022-06-17 14:11] dmitripivkine commented on #15351
Seems it is not easy to reproduce in grinder. So, I guess we are going to wait for next failure and hope system core is going to be stored properly
BTW I think there is very first time we see this assertion. I speculate it more looks like random memory corruption than logical error

[2022-06-17 14:52] BradleyWood commented on #15335
This does not reproduce on PPC, however is definitely an opt bug. The issue is definitely related to the way in which the SIMD reduction operations are [rejected](https://github.com/BradleyWood/openj9/blob/3db1d838ccc0ed44b408225e32dd696cc44a7aac/runtime/compiler/optimizer/SPMDParallelizer.cpp#L469-L472). The issue seems to only be exposed on x86 because vgetelem is disabled. The issue did not rep

[2022-06-17 15:46] pshipton commented on #12656
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_aarch64_mac_Nightly_testList_1/80
testDDRExtJunit_MonitorsAndDeadlock6_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.functional_aarch64_mac_Nightly_testList_1/80/functional_test_output.tar.gz

[code]

[2022-06-17 15:55] pshipton commented on #15352
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_0/80
SharedClasses.SCM23.MultiCL_0

No diagnostics produced, despite the `kill -3`.
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_0/80/system_test_output.tar.gz

[code]

[2022-06-17 16:00] pshipton commented on #15352
We weren't seeing this problem before. Are there recent changes that may have caused it?

Changes in the build where the failure first occurred.

https://github.com/eclipse-openj9/openj9/compare/920c3682ec9...e5cd3ba221d
https://github.com/eclipse-openj9/openj9-omr/compare/cc14b3de1a4...26b89f9f93a

[2022-06-17 16:03] pshipton commented on #15315
Changes in the build where this was seen.

https://github.com/eclipse-openj9/openj9/compare/3d06b2f9c2c...7c5c4148460

[2022-06-17 16:12] pshipton commented on #15269
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_OpenJDK19/2
jdk_util_0
java/util/Calendar/CalendarRegression.java

[code]

[2022-06-17 16:15] pshipton commented on #15321
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_OpenJDK19/2 - [win2012-x86-3](https://openj9-jenkins.osuosl.org/computer/win2012-x86-3)
jdk_util_1
java/util/jar/JarFile/mrjar/MultiReleaseJarHttpProperties.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_OpenJDK19/2/openjdk_test_output.tar.gz

[2022-06-17 17:14] jdekonin commented on #15169
Downloaded an update to osx1013-x86-3, reboot it decided to not come back up.  I'll see if we can get some onsite aid to get it back operational.

[2022-06-17 17:22] gacholio commented on #15135
PAC has been compromised, so you may want to consider this lower priority.

https://www.extremetech.com/computing/337005-researchers-found-an-unpatchable-security-flaw-in-apples-m1-and-you-probably-dont-need-to-care

[2022-06-17 17:28] dmitripivkine commented on #15321
Core in results has been generated by crash in Scavenger. Looks like it crashed on attempt to scan bogus (stale?) pointer in O-slot.  Unfortunately there are a few failures in DDR in attempt to walk frames, so my tool can not see problematic frame. However there is another problematic O-slot discovered by gccheck points mid-array:
[code]

[2022-06-17 17:30] dmitripivkine commented on #15321
core is available in `/team/Dmitri/15321/aqa-tests/TKG/output_16554153326398/jdk_util_1/work/java/util/jar/JarFile/mrjar/MultiReleaseJarHttpProperties/core.20220616.182832.6672.0001.dmp`

[2022-06-18 19:51] ConaII opened #15360 "java.lang.NoClassDefFoundError: ejv (initialization failure)"
There's this issue when trying to use OpenJ9 JDK 17 and joining a server (sometimes).
This doesn't happen in OpenJ9 JDK 16 or other distributions.

It seems there's a class missing that is trying to be called.
https://pastebin.com/h10PtA7p

[2022-06-20 06:27] knn-k commented on #15352
I ran SharedClasses.SCM23.MultiCL_0 with the build from June 14 nightly job (https://openj9-jenkins.osuosl.org/job/Build_JDK18_aarch64_mac_Nightly/78/).
3 failures in 20 runs: https://openj9-jenkins.osuosl.org/job/Grinder/960/
[code]

[2022-06-20 08:36] knn-k commented on #15352
I also ran the testcase with June 13 nightly build (https://openj9-jenkins.osuosl.org/job/Build_JDK18_aarch64_mac_Nightly/77/).
1 failure in 20 runs: https://openj9-jenkins.osuosl.org/job/Grinder/961/

[code]

[2022-06-20 12:35] connglli opened #15363 "JDK11 Segmentation error vmState=0x0005ff09"
Java -version output
--------------------
[code]

Summary of problem
------------------

The following `Test.java`, which is reduced by us, crashes OpenJ9's JIT compiler

[code]

Diagnostic files
----------------

By issuing

[code]

the following crash log is given:

[code]

Please also check [openj9-bug-81.tar.gz](https://drive.google.com/file/d/1UntF8Hjv99XKmx7JqA0GJIilWJyYabAY/view?usp=sharing

[2022-06-20 12:47] connglli opened #15364 "JDK11 Segmentation error vmState=0x000514ff"
Java -version output
--------------------
[code]

Summary of problem
------------------

The following `Test.java`, which is reduced by us, crashes OpenJ9's JIT compiler

[code]

Diagnostic files
----------------

By issuing

[code]

the following crash log is given:

[code]

Please also check [openj9-bug-79.tar.gz](https://drive.google.com/file/d/1XyO4tIm6wdoH_o-r7N2_6m1Xr2n81taD/view?usp=sharing

[2022-06-20 12:50] connglli commented on #15364
Sometimes, the reduced and unreduced test does not reproduce. Just repeat it for some times. It will definitely crash (at least on our desktop and server).

[2022-06-20 13:15] cjjdespres commented on #14538
From `/job/Test_openjdk17_j9_special.system_x86-64_linux_jit_Personal/300/`, failure in `DaaLoadTest_daa1_special_5m_20`. Possible hang detected. Console log:

[code]

Tracked by #13477.

[2022-06-20 13:36] 0xdaryl commented on #15363
@BradleyWood : please add this codegen crash to your list of issues to investigate.

[2022-06-20 13:54] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_jit_Personal/376/`, failure in `jdk_lang_1`. Segfault. Console log:

[code]

Tracked by #15321.

[2022-06-20 14:00] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_extended.system_ppc64le_linux_jit_Personal/375/`,
failure in `ConcurrentLoadTest_5m_1`. Console log:

[code]

Tracked by #8493.

[2022-06-20 14:10] keithc-ca opened #15366 "Prepare for the eventual removal of ASM from the JDK"
See https://openjdk.org/jeps/8280389 and https://mail.openjdk.org/pipermail/discuss/2022-June/006131.html anticipates the eventual remove of the ASM package.

[2022-06-20 14:14] pshipton commented on #15363
I reproduced the crash.

[2022-06-20 14:17] pshipton commented on #15363
The reduced test case uses FuzzerUtils, but I commented it out and returned 0 and still reproduced a crash.

[2022-06-20 14:51] LongyuZhang commented on #14952
Smoke tests have passed, I think we can close this issue, thanks.
http://trss1.fyre.ibm.com/resultSummary?parentId=62ad3b86eff02dba81fc9141
http://trss1.fyre.ibm.com/resultSummary?parentId=62ad25c5eff02dba81fc54ff
http://trss1.fyre.ibm.com/resultSummary?parentId=62ade335eff02dba81ffde85

[2022-06-20 15:00] pshipton commented on #15360
It's not a missing class, it's a NullPointerException. On what version of the JVM does this occur, does it still occur with the latest 17.0.3?
[code]

[2022-06-20 15:03] tajila opened #15367 "CRIU: Better deadlock handling in core JDK code"
There are cases where the thread running a checkpoint requires access to a resource that is held by a halted thread. This will result in a deadlock. In some cases the relevant code is in the JDK so a user will not having any control of the issue. An example is the MethodType table lock which is essential when resolving a MethodHandle.

To solve this problem a new annotation will be introduced `@No

[2022-06-20 15:04] tajila commented on #15367
FYI @gacholio

[2022-06-20 15:45] gacholio commented on #15367
This is not going to work as stated, and would require modifying the base JCL which is an awful idea for maintainability - every JCL refresh will introduce new deadlocks. I also don't believe there's any chance you could find all of the necessary locations to modify.

This is essentially safe point exclusive with a different definition of the safe point. It would mean maintaining a count of the ma

[2022-06-20 16:30] connglli opened #15369 "Compilation Fails even from noOpt Level"
Java -version output
--------------------
[code]

Summary of problem
------------------

Looks like the test fails from `noOpt` level, so it should be different from #15306 and #15347. This affects both JDK11 and JDK8.

[code]

Results of OpenJ9:

[code]

Results of OpenJ9-Xint (HotSpot/ART also give the same result):

[code]

Diagnosis
---------

If you exclude `Test.mainTest()` from compilation,

[2022-06-20 16:55] pshipton opened #15370 "JDK19 jni/nullCaller/NullCallerTest.java segfaults on plinux, mac"
The NullCallerTest test segfaults on plinux and mac platforms. This is a problem with the native test code. On mac it may be resolved by https://github.com/eclipse-openj9/openj9/issues/7355. What it's testing is common across platforms and passes on the other platforms, it's not worth trying to fix the test.

gdb stack trace from plinux
[code]

[2022-06-20 17:03] pshipton commented on #15168
Unexcluding via https://github.com/adoptium/aqa-tests/pull/3776 so this can be closed.

[2022-06-20 17:03] #15168 closed

[2022-06-20 17:03] tajila commented on #15367
Likely, that we wont catch every case, but we can catch common cases. I don't propose to annotate the entire JCL, but common paths in core openj9 JCL are doable.

Thats not quite what I was proposing. I was thinking something more like `Java_jdk_internal_misc_ScopedMemoryAccess_closeScope0`

[code]

The only performance penalty is when we initiate taking a checkpoint.

[2022-06-20 17:17] BradleyWood commented on #15363
_addressRegister is null

https://github.com/eclipse/omr/blob/master/compiler/x/amd64/codegen/OMRMemoryReference.cpp#L618-L629

[2022-06-20 17:17] pshipton commented on #15369
@0xdaryl fyi

[2022-06-20 17:18] pshipton commented on #15369
No problem reproducing this.

[2022-06-20 17:28] gacholio commented on #15367
This is also going to deadlock if anyone holds a lock when they are suspended and it's needed in the single thread, not to mention wait/notify deadlocks.

Polling makes it easier to implement (though it may never actually complete). I assume you would just periodically walk the thread list looking for threads which are eligible for suspension but haven't been yet. You would need to halt the thread

[2022-06-20 17:32] gacholio commented on #15367
The whack-a-mole thread suspension is never going to be reiable. It might be better to do the whole process repeatedly, i.e. get exclusive, see if all threads can be suspended now and if not, release exclusive and poll again later. Only mark the threads for checkpoint when they are all safe.

This still doesn't fix the issue of a suspended thread holding a lock required by the single thread.

[2022-06-20 17:57] babsingh commented on #15183
### Revised List

Potentially, the following JVMTI methods are impacted by Loom:
1. `SetThreadLocalStorage`: https://download.java.net/java/early_access/jdk19/docs/specs/jvmti.html#SetThreadLocalStorage
2. `GetThreadLocalStorage`: https://download.java.net/java/early_access/jdk19/docs/specs/jvmti.html#GetThreadLocalStorage
3. `SetEventCallbacks`: https://download.java.net/java/early_access/jdk19/d

[2022-06-20 19:02] pshipton commented on #14888
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_x86-64_mac_Personal_testList_0/11
DaaLoadTest_daa2_special_5m_1 `-Xgcpolicy:optthruput -Xjit:count=0 -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_special.system_x86-64_mac_Personal_testList_0/11/system_test_output.tar.gz

[code]

[2022-06-20 19:10] pshipton commented on #10759
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Release/27
jdk_util_1
sun/util/logging/PlatformLoggerTest.java

[code]

[2022-06-20 19:20] babsingh commented on #15183
### Task 1: Handle error cases

re https://github.com/eclipse-openj9/openj9/issues/15183#issuecomment-1160712504

**Examples:**
29. `GetCurrentThreadCpuTime`: https://download.java.net/java/early_access/jdk19/docs/specs/jvmti.html#GetCurrentThreadCpuTime
30. `GetThreadCpuTime`: https://download.java.net/java/early_access/jdk19/docs/specs/jvmti.html#GetThreadCpuTime

[code]

[code]

[2022-06-20 19:45] tajila commented on #15367
Yes, this is a an inherent problem with single thread mode.

There are cases where we can live with this, in fact we will be introducing new behaviour to throw any time the checkpoint thread (exclusive thread) attempts acquire a lock that is held by another thread (blocked thread). So instead of deadlock we throw an exception.

For wait/notify, we throw if the checkpoint thread (exclusive thread)

[2022-06-20 19:52] tajila commented on #15367
Interesting. I would have thought the opposite would be true. The oppositie being:
1) For each java thread
a) inspect thread
b) if annotation is not present on the stack, halt thread
c) move to next thread
2) if a thread in list wasn't halted in 1b) go back to 1)

If we backout as soon as we detect a thread cannot be checkpointed doesn't that give other threads the opportunity enter "non-checkpoin

[2022-06-20 19:54] gacholio commented on #15367
As I said, there's a potential to never complete (I suppose you'd need a global timeout).

I see this is far less likely than some inter-thread dependencies being broken by halting piecemeal.

T1 owns lock, not in critical region
T1 gets halted for checkpoint
T2 is in critical region
T2 attempts to get the lock <- never going to happen
Checkpoint waits forever for T2

[2022-06-20 19:57] babsingh commented on #15183
@tajila Will `J9VMThread->threadObject` always be up-to-date for Loom?
[code]

[2022-06-20 19:58] janvrany commented on #11136
Another (this time rather big) PR contributing initial skeleton of a JIT component: #15374

[2022-06-20 20:05] tajila commented on #15175
@zl-wang @0xdaryl We recently decided that we will need different counters for native, monitor and object.wait() pinning as we need to be able to determine the reason for pinning

[2022-06-20 20:07] tajila commented on #15175
[code]

[2022-06-20 20:12] tajila commented on #15183
yes

[2022-06-20 20:13] a7ehuo commented on #15305
Opened https://github.com/eclipse/omr/pull/6576 for a fix. Currently testing the update based on [PR review comments](https://github.com/eclipse/omr/pull/6576#issuecomment-1159202843).

[2022-06-20 20:15] tajila commented on #15367
Okay, I see what you mean.

[2022-06-20 20:43] BradleyWood commented on #15363
For some reason on initialisation it was determined that the memory reference does not need an address register at:

https://github.com/eclipse/omr/blob/e287e61337dbf37ab2929a102b59ad0687260aa4/compiler/x/amd64/codegen/OMRMemoryReference.cpp#L170-L226

However, the opposite conclusion is made at binary encoding, but no register was allocated.

[2022-06-20 21:18] JasonFengJ9 commented on #15195
From static code analysis:

`ScheduledThreadPoolExecutor` has four schedule methods:
[code]
`long triggerTime(long delay)` [1] uses `System.nanoTime()` for delayed time calculation.
The scheduled `task` is to be added into `super.getQueue()` for later run which is in the super class `ThreadPoolExecutor`.

`ThreadPoolExecutor` main worker run loop is `runWorker(Worker w)`  -> `getTask()` -> `workQu

[2022-06-20 23:40] jdekonin commented on #15169
Recovered a mac that wasn't on OpenJ9 jenkins.  Build and test for JDK11 in progress now for mac10-x86-3.  No labels so it won't cause problems with PR or nightly builds.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/178/

[2022-06-21 03:47] hzongaro commented on #15311
I'm still able to reproduce the failure with this reduced test:

[code]

I'll post some more details showing what I think is going wrong.

[2022-06-21 10:26] knn-k commented on #15352
5 failures in x20 Grinder job: https://openj9-jenkins.osuosl.org/job/Grinder_testList_0/130/consoleText, with June 10 nightly build (https://openj9-jenkins.osuosl.org/job/Build_JDK18_aarch64_mac_Nightly/76/).

[code]

There are two different reasons of the failures:

[1st and 3rd failures]
[code]

[2nd, 4th, and 5th failures]
[code]

[2022-06-21 10:28] knn-k commented on #15352
I started another Grinder job as https://openj9-jenkins.osuosl.org/job/Grinder/982/, using the June 9 nightly build.

[2022-06-21 10:40] 0xdaryl commented on #15363
This is not a regression in 0.33.  Reproducible on JDK8 back to at least 0.29.

[2022-06-21 10:44] 0xdaryl commented on #15364
This is not a regression in 0.33. Reproducible on JDK8 back to at least 0.29.

[2022-06-21 10:48] knn-k commented on #15114
Right.
PR #14420 was merged on May 27, and the test failure is from the May 24 nightly job.

[2022-06-21 11:10] mpirvu opened #15378 "Determine the asserts that fire under PROD_WITH_ASSUMES"
When `PROD_WITH_ASSUMES` is defined, the JIT may perform additional code integrity checks. Currently, our build infrastructure does not define `PROD_WITH_ASSUMES`, but in the future we may want to do so.
The goal of this issue is to identify any bugs that can be caught with `PROD_WITH_ASSUMES` and to eliminate any asserts that are wrong.
Steps to be performed:
1. Create a private build with PROD_W

[2022-06-21 11:33] 0xdaryl commented on #15364
Original problem crashes during GVP.  @hzongaro, could you add this to your list to investigate please?

[2022-06-21 11:41] 0xdaryl commented on #15319
This is not a 0.33 regression.  Fails with JDK 11 at least as far back as 0.24.

[2022-06-21 12:07] 0xdaryl commented on #15305
This is not a 0.33 regression.  It fails at least as far back as 0.24 with JDK 11.

[2022-06-21 12:09] 0xdaryl commented on #15306
This is not a 0.33 regression.  It fails at least as far back as 0.24 with JDK11.

[2022-06-21 12:11] 0xdaryl commented on #15349
This is not a 0.33 regression. It fails at least as far back as 0.24 with JDK11.

[2022-06-21 12:23] 0xdaryl commented on #15338
This is not a 0.33 regression.  The hang is reproducible at least as far back as 0.24 on JDK11.

[2022-06-21 12:26] 0xdaryl commented on #15311
This is not a 0.33 regression. It is reproducible at least as far back as 0.24 on JDK11.  As @hzongaro mentions above, eclipse/omr#6121 is likely a red herring.

[2022-06-21 12:32] 0xdaryl commented on #15335
This is not a 0.33 regression.  It fails at least as far back as 0.24 on JDK11.

[2022-06-21 12:40] 0xdaryl commented on #15347
@nbhuiyan : please add this to your list of issues to investigate.

[2022-06-21 13:10] BradleyWood commented on #15335
UseDefs nodes from method entry are represented as null. When checking for loop independence one of these nodes got dereferenced which caused the seg-fault. PR #15373 specially handles this case.

The unsupported SIMD reduction operations (such as vgetelem) caused the compiler to follow a different path than which exposed this issue.

[2022-06-21 13:11] pshipton opened #15379 "JCL_Test test_join2 Joined thread is still alive"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly_testList_1/293
JCL_Test_1 `-XX:RecreateClassfileOnload`
[code]

[2022-06-21 13:14] pshipton commented on #14243
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_mac_aot_Personal_testList_0/22

[2022-06-21 13:17] BradleyWood commented on #15369
This looks like a DTL issue. I duplicated the call to mainTest() a number of times. The result was zero only on the first iteration. Disabling DLT achieved the correct result in all cases.

[2022-06-21 13:18] pshipton commented on #15331
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_aarch64_mac_aot_Personal_testList_1/22/
TestAttachAPI_0 `-Xshareclasses:name=test_aot -Xscmx400M -Xscmaxaot256m`

No diagnostics. This is similar to the "Invalid JIT return address" problem https://github.com/eclipse-openj9/openj9/issues/14717 that occurs after tests are finished.

[code]

[2022-06-21 14:03] 0xdaryl commented on #15175
Have the counter fields been created yet (if so, what are they named) and is the VMThread private flag available yet?  Thanks.

[2022-06-21 14:20] babsingh commented on #15175
No for both.
- I will soon have details for the counter fields documented in https://github.com/eclipse-openj9/openj9/issues/15174.
- A private flag to track if a VirtualThread is running (mounted) will be added as part of https://github.com/eclipse-openj9/openj9/issues/15177.

[2022-06-21 15:05] babsingh commented on #15174
`Object.wait` should only be invoked inside the scope of `monenter` and `monexit`. Do we need to track `Object.wait` separately or just incrementing the counter once in `monenter` should be sufficient to account for it?

[code]

[2022-06-21 15:18] babsingh commented on #15174
Do we need to track all the below frame types with a single counter?
[code]

[2022-06-21 15:28] tajila commented on #15174
Youll need to do `J9SF_FRAME_TYPE_JNI_NATIVE_METHOD` for sure. Also the new style FFI Lnker callouts that @ChengJin01 is working on.

@gacholio is `J9SF_FRAME_TYPE_JIT_JNI_CALLOUT` used for directJNI calls by the JIT?

I'm not sure `J9SF_FRAME_TYPE_NATIVE_METHOD` will need to be addressed in all cases, but any case where that can potentialy call back into the JVM (class init, exception constructor

[2022-06-21 15:53] pshipton commented on #6499
@Sreekala-Gopakumar See https://github.ibm.com/runtimes/infrastructure/issues/6944

[2022-06-21 16:06] #15335 closed

[2022-06-21 16:43] gacholio commented on #15174
I don't understand the question - are you proposing not keeping a counter for callout and walking the stack to determine it?

[2022-06-21 17:02] tajila commented on #15174
No the question is "where does this counter need to be inc/dec?"

[2022-06-21 17:09] tajila commented on #15174
In other words, do we need to increment the counter every time we push a `J9SF_FRAME_TYPE_JNI_NATIVE_METHOD` frame? I believe the answer is yes.

Do we need to increment the counter every time we push a `J9SF_FRAME_TYPE_NATIVE_METHOD` frame? I think the answer here is sometimes.

[2022-06-21 17:10] gacholio commented on #15174
All callouts - interpreter FFI, direct JNI from JIT, new direct C callout, library load callbacks (JNI_OnLoad, Agent_OnLoad, Agent_OnAttach and matching unload calls).

[2022-06-21 17:10] gacholio commented on #15174
Yes, the counters must be managed for every call (which is why it's a counter and not a boolean).

[2022-06-21 17:12] gacholio commented on #15174
We don't need the counter for INLs that don't release VM access, I think, but the simplicity of managing the counter in the frame build is appealing.

[2022-06-21 17:41] babsingh commented on #15175
Adding counters and virtual thread mounted flag via https://github.com/eclipse-openj9/openj9/pull/15383.

[2022-06-21 19:38] pshipton commented on #14600
Fixed by https://github.com/eclipse-openj9/openj9/pull/15299
Test un-excluded via https://github.com/adoptium/aqa-tests/pull/3755

[2022-06-21 20:13] JasonFengJ9 commented on #11516
Observed a similar failure at an internal build `job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_testList_0/115/`(`win16x64rt2-4`)
[code]

[2022-06-21 21:13] a7ehuo commented on #15338
I'm seeing different kinds of crashes including crash at `samplerThreadProc` happen randomly. Two crashes that happen most so far are:

**(1) Core dump shows it crashed in `samplerThreadProc` [1]**

As [mentioned previously](https://github.com/eclipse-openj9/openj9/issues/15338#issuecomment-1158166190), I'm also seeing crash output shows one thing, the core shows it's in `samplerThreadProc`. So fa

[2022-06-21 22:12] pshipton opened #15390 "jdk19 alinux build with gcc11.2 fails - Failed to get next dwarf CU header"
https://openj9-jenkins.osuosl.org/job/Build_JDK19_aarch64_linux_gcc11_Personal/4/console
[code]

[2022-06-21 22:40] keithc-ca commented on #15390
https://github.com/eclipse-openj9/openj9/pull/15004 should mean the build is using `-gdwarf-4`, but the symptoms are like https://github.com/eclipse/omr/issues/6135 which suggests otherwise.
I'll need access to a suitable machine to investigate further.

[2022-06-22 02:24] knn-k commented on #15352
4 failures in x20 run above.

[2022-06-22 05:42] mpirvu commented on #15378
Fixed compilation errors in https://github.com/eclipse-openj9/openj9/pull/15389

[2022-06-22 13:33] pshipton commented on #10732
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.functional_aarch64_linux_Nightly_testList_0/89 - [cent8-aarch64-2](https://openj9-jenkins.osuosl.org/computer/cent8-aarch64-2)
testSoftMxDisclaimMemory_2 `-Xcompressedrefs -Xjit -Xgcpolicy:optthruput`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_extended.functional_aarch64_linux_Nightly_testList

[2022-06-22 13:36] pshipton commented on #15114
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_mac_Nightly/83 - [mac11-aarch64-2](https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-2)
jdk_util_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops`
java/util/stream/test/org/openjdk/tests/java/util/stream/ReduceTest.java

https://openj9-artifacto

[2022-06-22 14:09] pshipton commented on #15390
I've provided machine details.

[2022-06-22 15:25] keithc-ca commented on #15390
gcc-11 seems to be generating debuginfo that even `objdump -g` doesn' like; here is a small sample of its complaints:
[code]

[2022-06-22 15:53] keithc-ca commented on #15390
Telling gcc to generate DWARF version 3 yields fewer issues, but doesn't work either, in particular note the version 5 compilation units:
[code]

[2022-06-22 16:36] vsebe commented on #15390
The failure occurs on internal machines too (passed on April 20). Internal builds do not use docker containers, thus they use a different gcc11 instance/build.

[2022-06-22 16:43] pshipton commented on #15188
Passing on a later build. I will un-exclude.
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/999 - java/util/Locale/LanguageSubtagRegistryTest.java
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1000 - java/util/Locale/LSRDataTest.java

[2022-06-22 16:44] pshipton commented on #15190
Passing on a later build. I will un-exclude.
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1001

[2022-06-22 16:45] pshipton commented on #15190
Actually just noticed it's intermittent, will run more iterations.

[2022-06-22 16:50] pshipton commented on #15188
Created https://github.com/adoptium/aqa-tests/pull/3782

[2022-06-22 16:50] #15188 closed

[2022-06-22 16:53] pshipton commented on #15160
The test is passing now. https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1002

[2022-06-22 16:54] #15160 closed

[2022-06-22 16:57] AlexeyKhrabrov opened #15394 "JITServer compilation failures due to interrupted network I/O system calls"
Network I/O system calls in JITServer communication layer can sometimes fail with the `EINTR` error (interrupted system call). Such failures at the JIT client can lead to failed remote compilations and are handled as a "lost connection", leading to subsequent compilations being performed locally for a short time period, which can result in memory usage spikes. JITServer networking code (including

[2022-06-22 16:59] AlexeyKhrabrov opened #15396 "JITServer compilation failures when using encryption"
Using JITServer with encryption can result in intermittent remote compilation failures with the error code `compilationStreamFailure` that are caused by SSL I/O errors. The main issue is that such failures are handled by the client as a lost connection, and compilations are performed locally at the client for a short period of time, which leads to memory usage spikes (that are supposed to be elimi

[2022-06-22 17:01] AlexeyKhrabrov opened #15397 "Invalid error message printed at JITServer start with custom number of threads"
If the number of JITServer compilation threads is customized using the `-XcompilationThreads<N>` option, an invalid error message is printed to `stderr` when JITServer starts:
[code]
However, the number of threads is set correctly.

It looks like the `-XcompilationThreads` option is first parsed before JITServer options are parsed, which results in the option being rejected because the number of t

[2022-06-22 17:06] AlexeyKhrabrov opened #15398 "JITServer AOT cache developer documentation"
JITServer developer documentation under https://github.com/eclipse-openj9/openj9/tree/master/doc/compiler/jitserver currently has no information about the AOT cache implementation. Most of the things that should be documented are already described in the issue #12153 and the pull requests linked from there (and their commit messages). All that information needs to be put together and organized as

[2022-06-22 17:06] pshipton commented on #15390
@vsebe can you pls give gcc 11.3 a try on aarch64 to see if it works any better.

[2022-06-22 17:07] AlexeyKhrabrov opened #15399 "Add options to bypass JITServer AOT cache per method"
As a debugging/diagnostic feature, we should to have a way of bypassing the JITServer AOT cache on a per method basis, similar to excluding methods from JIT or AOT compilation/load. This can be useful, e.g., to determine whether a problem with a given method is caused by an AOT compiler issue or an AOT cache method serialization/deserialization issue. For completeness, there should be two separate

[2022-06-22 17:09] AlexeyKhrabrov opened #15400 "Add JITServer AOT cache tracepoints"
JITServer AOT cache operations are currently not covered by tracepoints, which can limit diagnostic abilities. We should add tracepoints for main AOT cache operations such as stores at the server and loads at both the server and the client (possibly modifying existing JITServer tracepoints).

[2022-06-22 17:10] AlexeyKhrabrov opened #15401 "JITServer AOT cache testing"
The JITServer AOT cache is currently not covered by the tests, which can easily result in code changes breaking its implementation. We need to add tests that exercise the AOT cache. One option is to simply run the same tests that already exist for JITServer with the AOT cache enabled, possibly restarting the JITServer at some points to clear the AOT cache.

[2022-06-22 17:17] AlexeyKhrabrov opened #15402 "JITServer does not shutdown cleanly"
When a JITServer instance is terminated "gracefully" with e.g. the `SIGINT` signal, the shutdown sequence does not actually complete, and the process terminates too early. For instance, various JIT compiler statistics (when enabled) printed in `TR::CompilationInfo::stopCompilationThreads()` are almost always truncated. It looks like the main thread of the JITServer process (or possibly some other

[2022-06-22 17:19] pshipton commented on #15305
Reopen until omr promoted and we consider if we want the fix in 0.33

[2022-06-22 17:26] pshipton commented on #15190
78 tests passed (no failures) in https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1003
Running more testing in
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1004
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1005

[2022-06-22 17:27] AlexeyKhrabrov commented on #12153
The last item in the list was essentially resolved in #14207. This issue can be closed now.

[2022-06-22 17:27] #12153 closed

[2022-06-22 17:49] pshipton commented on #15336
This is resolved by https://github.com/ibmruntimes/openj9-openjdk-jdk19/pull/9

[2022-06-22 17:49] #15336 closed

[2022-06-22 18:05] pshipton commented on #15190
All the grinders passed, re-including the test.
https://github.com/adoptium/aqa-tests/pull/3784

[2022-06-22 18:05] AlexeyKhrabrov opened #15403 "Missing default SCC directory incorrectly handled as low disk space"
If the default SCC directory `$HOME/javasharedresources/` does not exist, running e.g. `java -version` creates an SCC of the reduced size of 64 MB, regardless of the amount of free disk space or the Linux kernel `shmmax` setting. However, if the directory exists and contains no SCC files, a new SCC is created with the correct default size of 300 MB.

Here is the relevant error output produced with

[2022-06-22 18:21] hangshao0 commented on #15403
`isFreeDiskSpaceLow()` can be updated to return `false` in this case.

[2022-06-22 18:30] pshipton commented on #15287
Un-excluding via https://github.com/adoptium/aqa-tests/pull/3785

[2022-06-22 18:30] #15287 closed

[2022-06-22 18:32] pshipton commented on #15289
Passing on a later build https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1009

[2022-06-22 18:33] pshipton commented on #15289
Un-exclude via https://github.com/adoptium/aqa-tests/pull/3786

[2022-06-22 18:44] dspath commented on #15297
I don't think we should have to have clients add things like -Xdump:heap:defaults:events=gpf or -Xdump:heap:defaults:file=heapdump,events=gpf then add their -Xdump:heap:label.  If there is no -Xdump:heap, then a heapdump is not created on kill -3, so just adding -Xdump:heap:label shouldn't change the behavior of kill -3, it should just create heapdumps on OOM's per the "label".

[2022-06-22 18:45] pshipton commented on #15209
Ignore the bad machines, passing in https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1010
More runs in https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1015

[2022-06-22 18:49] pshipton commented on #15206
Ignoring the bad machine, passing in https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1012

[2022-06-22 18:51] #15206 closed

[2022-06-22 18:57] pshipton commented on #15210
Ignoring the bad machines, passing in https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1011
More runs in:
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1013/
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1014/

[2022-06-22 19:14] #15210 closed

[2022-06-22 19:18] pshipton commented on #15209
Un-exclude via https://github.com/adoptium/aqa-tests/pull/3791

[2022-06-22 19:18] #15209 closed

[2022-06-22 19:22] keithc-ca commented on #15390
Attempting to use DWARF version 5 doesn't look promising; there are numerous messages like this in the output of `objdump -W`:
[code]
It's unclear whether that's a deficiency of `objdump` or whether our use of `libdwarf` via `ddrgen` will have similar woes.

[2022-06-22 19:24] pshipton commented on #15205
Testing again on the latest https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1016/ - still failing

[2022-06-22 19:41] dspath commented on #15297
We prefer they not do this and we discourage them at every opportunity, but some clients have adopted some settings we don't like I think because heapdumps didn't used to be so easy to get "settings like JAVA_DUMP_OPTS...., or IBM_HEAPDUMP=true".  Some are extremely resistant to removing these.  It doesn't change the fact that setting it shouldn't change the behavior when performing kill -3.

[2022-06-22 20:41] pshipton commented on #15238
Fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk19/pull/9
The tests are passing now, https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1020/

[2022-06-23 01:47] knn-k commented on #14636
It is a week since OMR PR 6573 was merged, and I don't think we have seen a new failure.
Shall I open another PR for v0.33.0?

[2022-06-23 02:01] babsingh opened #15408 "Segfault in j9shmem_handle_stat: Corrupt handle=0x2"
This failure was first seen in the PR testing for https://github.com/eclipse-openj9/openj9/pull/15383#issuecomment-1163592453.

The segfault occurs while running `thrstatetest_0`. All tests pass, but the test suite fails to destroy the JVM.
[code]

### gdb

`j9shmem_handle_stat` segfaults due to a corrupt `handle=0x2` (`struct j9shmem_handle`).

[code]

[2022-06-23 04:50] knn-k commented on #15114
This time I can read the core file with jdmpview.

`x8` is JavaVM, and `x21` is J9VMThread.

[code]

[2022-06-23 11:41] JasonFengJ9 opened #15409 "JDK19 java/util/TimeZone/bug4096952.java - Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `job/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_Personal/2/consoleFull`(`win16x64rt-1-10`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_D

[2022-06-23 11:42] knn-k commented on #15315
"Unable to locate JIT stack map" was observed in a 20x Grinder run: https://openj9-jenkins.osuosl.org/job/Grinder/1025/ .
The job uses the build from June 7 nightly build.

[code]

[2022-06-23 11:52] knn-k commented on #14636
I opened https://github.com/eclipse-openj9/openj9-omr/pull/150 for v0.33.0.  It is in the draft state.

[2022-06-23 11:58] pshipton commented on #14636
I've merged it.

[2022-06-23 12:14] JasonFengJ9 commented on #15269
`job/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_Personal/2/consoleFull`
[code]

[2022-06-23 12:17] pshipton commented on #15409
FYI https://github.com/eclipse-openj9/openj9/issues/15321

[2022-06-23 12:20] pshipton commented on #15408
@knn-k fyi

[2022-06-23 12:22] JasonFengJ9 opened #15410 "JDK19 LambdaLoadTest_CS_5m_0_FAILED j9mm.479 * ** ASSERTION FAILED ** at runtime\gc_glue_java\MarkingSchemeRootMarker.cpp:53: ((MM_StackSlotValidator(MM_StackSlotValidator::NOT_ON_HEAP, object, stackLocation, walkState).validate(_env)))"
Failure link
------------

From an internal build `job/Test_openjdk19_j9_sanity.system_x86-64_windows_Personal/2/tapResults/`(`win16x64rt-1-2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCK

[2022-06-23 12:37] pshipton commented on #15410
@dmitripivkine fyi

[2022-06-23 13:17] JasonFengJ9 opened #15411 "JDK 18/19 java/security/KeyAgreement/KeyAgreementTest.java - RuntimeException: state not reset"
Failure link
------------

From an internal build `job/Test_openjdk19_j9_extended.openjdk_x86-64_mac_Personal/2/`(`mac11x64rt01`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&TK

[2022-06-23 13:20] JasonFengJ9 opened #15412 "JDK17+ com/sun/crypto/provider/KeyAgreement/ECKeyCheck.java - ClassCastException: ECKeyCheck$newPrivateKeyImpl incompatible with sun.security.ec.ECPrivateKeyImpl"
Failure link
------------

From an internal build `job/Test_openjdk19_j9_extended.openjdk_x86-64_mac_Personal/2/`(`mac11x64rt01`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&TK

[2022-06-23 13:23] pshipton commented on #15352
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_0/84
SharedClasses.SCM23.MultiCL_0
`STF 13:05:40.218 - **FAILED** Process MCL3 has timed out` - no diagnostics

[2022-06-23 13:24] JasonFengJ9 opened #15413 "JDK 18/19 sun/security/ec/ECDSAPrvGreaterThanOrder.java - RuntimeException: Expected exception for ECDH/secp256r1 not thrown"
Failure link
------------

From an internal build `job/Test_openjdk19_j9_extended.openjdk_x86-64_mac_Personal/2/`(`mac11x64rt01`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&TK

[2022-06-23 13:28] pshipton commented on #9743
Not seem for some time.

[2022-06-23 13:28] #9743 closed

[2022-06-23 13:28] pshipton commented on #7397
Not seen for some time.

[2022-06-23 13:28] #7397 closed

[2022-06-23 13:29] JasonFengJ9 commented on #15410
Another occurrence at **Mac** - `job/Test_openjdk19_j9_special.system_x86-64_mac_Personal/2/tapResults/`
[code]

[2022-06-23 13:31] pshipton opened #15414 "TestIBMJlmRemoteMemoryAuth_0 crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_aarch64_mac_Nightly_testList_0/82
TestIBMJlmRemoteMemoryAuth_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

No other diagnostics (no core, javacore, etc).

[code]
3.LT1.stderr
[code]

@knn-k fyi

[2022-06-23 13:35] JasonFengJ9 opened #15415 "JDK19 VmArgumentTests_0_FAILED FAILED: testMemoryLeaks - AssertionError: -Xcheck:memory failed: stderr = WARNING: 4559 unfreed blocks remaining at shutdown!"
Failure link
------------

From an internal build `job/Test_openjdk19_j9_extended.functional_x86-64_mac_Personal/2/tapResults/`(`osxrt3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCK

[2022-06-23 13:59] babsingh commented on #15408
I also was able to reproduce it on x86.

[2022-06-23 14:21] tajila opened #15417 "CRIU: Address System.nanoTime deficiencies when machine reboots"
The existing solution to fixup System.nanoTime involves getting the nanotime pre and post checkpoint to compute the "JVMdowntime" delta. This approach assumes that the nanoTime clock has the same time base pre and post checkpoint. We have noticed that rebooting the machine resets the timebase.

We will fix this issue by using nano wall clock time to determine  the "JVMdowntime" (`InternalCRIUSuppo

[2022-06-23 14:35] tjwatson commented on #15417
For clock delta, is that just using UTC.  I assume there are not concerns with cases where you checkpoint in one timezone and restore in another.  Or checkpoint during daylight savings but restore in "normal" time?

[2022-06-23 15:04] tajila commented on #15417
Testing the reboot behaviour will be difficult, but I believe that the same scenario can occur when you restore on a different machine so the container tests should come in handy here.

FYI @LongyuZhang

[2022-06-23 15:07] 0xdaryl commented on #15305
@a7ehuo will open a 0.33 PR for this.

[2022-06-23 15:19] pshipton commented on #14598
Fixed via https://github.com/eclipse-openj9/openj9/pull/15298 and un-excluded via https://github.com/adoptium/aqa-tests/pull/3754

[2022-06-23 15:19] #14598 closed

[2022-06-23 15:28] a7ehuo commented on #15305
Created https://github.com/eclipse-openj9/openj9-omr/pull/152 for openj9-omr v0.33 release

[2022-06-23 15:36] JasonFengJ9 commented on #15417
The experiment verified that `System.currentTimeMillis()` returns correct values when the timezone changes, the underneath API for Linux platforms for CRIU is [gettimeofday](https://man7.org/linux/man-pages/man2/gettimeofday.2.html).
 DST technically is a timezone change as well, and same behaviour is expected.
Just note if the machine time is configured wrongly, the API in question won't get corr

[2022-06-23 17:09] pshipton commented on #15208
single run passed https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1032/
3x x 2 machines (12x) passed https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1033/

Closing assuming works on later build.

[2022-06-23 17:09] #15208 closed

[2022-06-23 19:09] pshipton opened #15421 "cmdLineTester regex processing failed to match success condition"
See https://github.com/eclipse-openj9/openj9/issues/15235#issuecomment-1149158943

Not sure if it's a real problem or not.

[2022-06-23 19:09] pshipton commented on #15235
Created https://github.com/eclipse-openj9/openj9/issues/15421 to track the regex issue.

[2022-06-23 19:12] pshipton commented on #15235
Un-excluding the tests via https://github.com/eclipse-openj9/openj9/pull/15420

[2022-06-23 19:58] babsingh commented on #15182
I had confused the `JVM_*` methods with `JNI` methods. We have only added stubs for the below methods:
[code]
Which issue tracks the implementation of the above methods?

Will OpenJ9 also require the below methods?
[code]

[2022-06-23 20:09] tajila commented on #15182
The virtualThread ones are not needed right now, we will need those later for tooling and event handling support. The most of the rest are already implemented.

[2022-06-23 20:11] a7ehuo opened #15423 "Power: Value types: Nested field class for aconst_init is not patched correctly in non-SVM AOT compilation"
Value type bytecode `aconst_init` is represented as `newvalue  jitNewValue` in ILGen and later lowered as `new` in CG. If a field of VT is also a VT, we will generate `newvalue  jitNewValue` for the field instance as well.

I'm testing [enabling AOT compilation for aconst_init](https://github.com/a7ehuo/openj9/commit/53fa21adeb6621d2043acabcfb05f5bf6d747af6), using the following test code, I notic

[2022-06-23 20:17] #12656 closed

[2022-06-23 20:19] pshipton commented on #15390
Using 11.3 didn't produce anything different.
[code]

[2022-06-23 21:08] pshipton commented on #15390
Trying a build from levels ~April 19.
https://openj9-jenkins.osuosl.org/job/Build_JDK19_aarch64_linux_Personal/4 with gcc 10.3 works
https://openj9-jenkins.osuosl.org/job/Build_JDK19_aarch64_linux_gcc11_Personal/6 with gcc11 in progress

[2022-06-23 21:19] a7ehuo commented on #15423
There is a similar issue on X86 but I'm not sure if Power is the same root cause.

For X86-64, it creates a relocation record `TR_ClassAddress` for the `romClass` of `SingleFieldPrimitive` in [omr/compiler/x/amd64/codegen/OMRMemoryReference.cpp](https://github.com/eclipse-openj9/openj9-omr/blob/a57ad601d6664d97958c59884c4d34a0ce2f960a/compiler/x/amd64/codegen/OMRMemoryReference.cpp#L450-L453) for

[2022-06-23 21:25] pshipton commented on #15253
@Mesbah-Alam can you pls modify these tests to send the abort signal rather than the quit signal on a hang.

[2022-06-23 21:31] pshipton commented on #15253
There are 13 `1.LT.executionlog.<n>.ltd` files (`<n>` = 1 - 13). Each file is 8MB except for the last one. The files are binary. @Mesbah-Alam do you know how to read these files?

[2022-06-23 21:36] keithc-ca commented on #15390
eclipse/omr#6457 seems a significant change that might have triggered the compiler misbehavior in producing the GC shared library. Can you try a consistent set of versions before that.

[2022-06-23 21:40] pshipton commented on #15390
Trying https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/184/

[2022-06-23 21:51] a7ehuo opened #15424 "Z: Value types: Nested field class for aconst_init is not patched correctly in non-SVM AOT compilation"
Value type bytecode `aconst_init` is represented as `newvalue  jitNewValue` in ILGen and later lowered as `new` in CG. If a field of VT is also a VT, we will generate `newvalue  jitNewValue` for the field instance as well.

I'm testing [enabling AOT compilation for aconst_init](https://github.com/a7ehuo/openj9/commit/53fa21adeb6621d2043acabcfb05f5bf6d747af6), using the following test code, I notic

[2022-06-23 21:51] a7ehuo commented on #15424
There is a similar issue on X86 but I'm not sure if Z is the same root cause.

For X86-64, it creates a relocation record TR_ClassAddress for the romClass of SingleFieldPrimitive in [omr/compiler/x/amd64/codegen/OMRMemoryReference.cpp](https://github.com/eclipse-openj9/openj9-omr/blob/a57ad601d6664d97958c59884c4d34a0ce2f960a/compiler/x/amd64/codegen/OMRMemoryReference.cpp#L450-L453) for the class

[2022-06-23 21:55] pshipton commented on #15390
Seems I picked some inconsistent SHAs. I'll try again later.

[2022-06-23 22:00] pshipton commented on #15390
Ah, I pushed the openj9 branch to the wrong repo.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/185/

[2022-06-23 22:59] JasonFengJ9 commented on #15417
Follow up the measurement of JVM downtime between checkpoint and restore w/ `j9time_current_time_nanos`, there is no Java API for this native direct usage. Just hacked a VM, replaced `j9time_current_time_millis()` w/ `j9time_current_time_nanos()/100000` for `System.currentTimeMillis()`, and the result is same as the initial experiment which showed it adopts timezone changes.

The test code snippet

[2022-06-24 00:35] keithc-ca commented on #15390
In https://openj9-jenkins.osuosl.org/job/Build_JDK19_aarch64_linux_gcc11_Personal/8/ it seems to have failed even earlier (on the first `.debuginfo` file instead of the second):
[code]

[2022-06-24 04:22] knn-k commented on #15414
x20 is broken.  But it is not clear what x20 means here, and where the value (0xF2A720C1D29E4A01) came from.

[code]

[2022-06-24 12:47] r30shah commented on #15424
Posting a link of similar code for Z that @a7ehuo has referenced from x86 in previous commit in [1] and [2]. We create similar relocation record. Relocating the ClassAddress in non-SVM AOT would be similar on Z and x86 I think. May be @dsouzai / @jdmpapin  can share more light on what will be needed to get `SingleFieldPrimitive` relocated.

[1]. https://github.com/eclipse/omr/blob/a57ad601d6664d97

[2022-06-24 13:37] cjjdespres commented on #14538
From

- `/job/Test_openjdk11_j9_extended.system_x86-64_linux_jit_Personal/386`
- `/job/Test_openjdk17_j9_extended.system_x86-64_linux_jit_Personal/307/`
- `/job/Test_openjdk8_j9_extended.system_x86-64_linux_jit_Personal/384/`
- `/job/Test_openjdk8_j9_extended.system_ppc64le_linux_jit_Personal/379/`
- `/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_jit_Personal/380/`
- `/job/Test_openjdk17_j9_ex

[2022-06-24 14:57] cjjdespres opened #15426 "Assertion failed: _methodInfo->getMethodInfo() == reinterpret_cast<TR_OpaqueMethodBlock *>(_j9method)"
From a few different internal builds:

- `/job/Test_openjdk11_j9_extended.system_x86-64_linux_jit_Personal/386/`
- `/job/Test_openjdk17_j9_extended.system_x86-64_linux_jit_Personal/307/`
- `/job/Test_openjdk8_j9_extended.system_x86-64_linux_jit_Personal/384/`
- `/job/Test_openjdk8_j9_extended.system_ppc64le_linux_jit_Personal/379/`
- `/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_jit_Personal/

[2022-06-24 15:44] #15166 closed

[2022-06-24 15:50] Mesbah-Alam commented on #15253
There is a pl script in STF that should be helpful here:

[code]

Details are here: https://github.com/adoptium/STF/blob/master/stf.load/docs/README.md.

[2022-06-24 17:37] jonathan-albrecht-ibm commented on #13389
I'm wondering if I could get an update on where this issue stands? Is there a plan to implement it in a particular release?

[2022-06-24 17:44] a7ehuo commented on #15424
Thanks @r30shah for the above information! Now I have a better understanding of it on Z. I think Z has the same issue as X86 [1]. One potential workaround we're considering is to abort AOT compilation if it's non-SVM AOT and if the VT has a field that is also a VT. Since in this case, [cpindex for the field is unknown in ILGen](https://github.com/eclipse-openj9/openj9/blob/da77f9f134bd46b7a5e0a608

[2022-06-24 17:48] a7ehuo commented on #15423
@zl-wang I'm wondering if you could shed some light on this issue? Thank you!

[2022-06-24 19:05] zl-wang commented on #15423
@a7ehuo  for all possibilities i can see, it should be the same issue as x86.  the only uncertainty i have is with regard to the real after-relocation instr sequence.  the sequence you showed for AOT-load seemed not patched yet, since every immediate-field in the instr sequence is still 0 (i.e. you cannot have non-zero r2, as it is).  if it is patched/relocated already, how come you can get 0x2734

[2022-06-24 20:18] hzongaro commented on #15364
Ooops!  I thought I had posted this comment yesterday.  Anyway, I'm about to add a follow on post with more details.

I took a quick look at this running in gdb.  In that run I see the crash happening in a `memcpy` call from `TR_BitVector::setChunkSize`.  It looks like the `_numChunks` field (and more) in the `TR_BitVector` is corrupted:

[code]

[2022-06-24 20:46] zl-wang commented on #15423
a second look at the code:   it is an unresolved class.  i.e. it is resolved at runtime to be 0x273400 (and patched in). so, it must be the same problem ... wrong cpIndex likely ... resulting in wrong clazz being patched in.   it is not relocated.

[2022-06-25 00:38] hzongaro commented on #15364
Upon rerunning the test in gdb with ` -Xjit:enableScratchMemoryDebugging,limit={Test15364.mainTest*},optLevel=veryHot`, a crash happens in [`ABitVector<Allocator>::PopulationCount`](https://github.com/eclipse/omr/blob/0f3b2e645cbc2fa364cdc2c5ea6bf8eec7d4f5a1/compiler/cs2/bitvectr.h#L1190-L1194), which is called from [`TR_UseDefInfo::getSingleDefiningLoad`](https://github.com/eclipse/omr/blob/a2e28

[2022-06-26 14:52] jdekonin commented on #15169
osx1013-x86-3 -> mac11-x86-2
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/186/
I missed making the changes for new method of supplying changes via sysctl.conf.  Respun grinders after the update to verify
https://openj9-jenkins.osuosl.org/job/Grinder/1061/
https://openj9-jenkins.osuosl.org/job/Grinder/1062/

[2022-06-27 11:43] JasonFengJ9 opened #15429 "ValueTypeTests_1_FAILED NPE at java.base/java.lang.Class.forNameImpl(Native Method)"
Failure link
------------

From an internal build `job/Test_openjdkValhalla_j9_sanity.functional_x86-64_linux_valhalla_Nightly/648/tapResults/`(`ub18x64rt1-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=sanity.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=f

[2022-06-27 13:55] pshipton commented on #15426
There are more test failures as well in the builds Thursday night. I suspect all the failures caused so many test artifacts that we ran out of disk space, we didn't get any builds on Friday night. I'll be listing the test failures in this issue, but I'm going to start by reverting https://github.com/eclipse-openj9/openj9/pull/15137

[2022-06-27 14:05] dsouzai commented on #15426
I thought I understood the code such that that assert was valid. I'll have to take a closer look; maybe it is completely possible for the two j9methods to not match. I'll take a look and reopen that PR either with the right assert condition or just not have the assert at all and account for the fact that the two j9methods are different (the previously refactored code used two different variables,

[2022-06-27 14:07] pshipton commented on #15426
jdk11 failures:
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_aarch64_linux_Nightly/199
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_linux_Nightly/197
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_aarch64_mac_Nightly/85
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly/303
https

[2022-06-27 14:07] pshipton commented on #15426
Take a look at some of other failures, it's more than just that assert.

[2022-06-27 14:13] pshipton commented on #15426
jdk17 failures:
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_aarch64_linux_Nightly/223
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_aarch64_linux_Nightly/225
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_aarch64_mac_Nightly/86
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64_aix_Nightly/249
https

[2022-06-27 14:15] pshipton commented on #15426
jdk18 failures:
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_aarch64_linux_Nightly/90
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_linux_Nightly/89
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly/85
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.system_ppc64_aix_Nightly/91
https:

[2022-06-27 14:16] pshipton commented on #15426
Note SharedClassesAPI failures on Windows is a known issue, unrelated to this.

[2022-06-27 14:21] pshipton opened #15431 "ub16-ppcle-1 - Unable to find remote helper for 'https'"
Many (many - tanked the builds) failures like the following. Started Thursday night. I suspect they are all on ub16-ppcle-1. Taking this machine offline while we sort it out.
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_ppc64le_linux_Personal_testList_0/12
[code]

[2022-06-27 14:22] pshipton commented on #15431
@AdamBrousseau fyi

[2022-06-27 14:29] EricYangIBM commented on #15183
Is there a priority for functions to update or should I just go down the list in the spec?

[2022-06-27 14:30] pshipton opened #15432 "Windows 32-bit and amac testing using -XX:+UseCompressedOops fails"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_Release_testList_1/25

regressionFastresolve_mode150_0
[code]

floatSanityTests_2
[code]

[2022-06-27 14:32] pshipton commented on #15432
@llxia did something change on the Adoptium side of things? In previous testing these tests were skipped on Windows 32-bit.

[2022-06-27 14:38] pshipton commented on #15432
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Release_testList_1/25
regressionBucketDefault_1

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-32_windows_Release_testList_2/25
TestJlmRemoteThreadNoAuth_0

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-32_windows_Release_testList_1/25
TestJlmRemoteClassNo

[2022-06-27 15:13] hangshao0 commented on #15429
Does it fail 100% of the time ? I am not aware of any Valhalla change merged recently.

[2022-06-27 15:33] pshipton commented on #15432
The same problem on amac. I won't list all the resulting failures.

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_aarch64_mac_Release_testList_1/6/
regressionBucketDefault_1
[code]

[2022-06-27 15:56] hangshao0 commented on #15429
Last passing build:

[code]

First failing build:
[code]
@ehrenjulzert Since you are working on these tests, can you look at this ? Need to find out which class can not be found here.

[2022-06-27 16:03] llxia commented on #15432
I think this is due to recent PR in TKG. https://github.com/adoptium/TKG/blob/master/resources/ottawa.csv#L57 Mode150 is set to the wrong value. @renfeiw could you fix it? Thanks

[2022-06-27 16:07] #15417 closed

[2022-06-27 16:13] ehrenjulzert commented on #15429
Sure, I can take a look at it

[2022-06-27 16:17] hangshao0 commented on #15429
The OpenJ9 diff: https://github.com/eclipse-openj9/openj9/compare/cddb8bf6b53..6335127afcf.
There is an change in `Class.forName()` there.

[2022-06-27 16:44] pshipton commented on #14054
@joransiu it seems the question is for you.

[2022-06-27 17:11] pshipton opened #15435 "JNI version 0x00130000 required for jdk19, acceptance build failing"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_aarch64_linux_OpenJDK19/3
[code]

See acceptance build https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK19-Acceptance/5/
and https://github.com/ibmruntimes/openj9-openjdk-jdk19/commit/31e61172b

[2022-06-27 17:11] pshipton commented on #15435
@keithc-ca seems we are missing something.

[2022-06-27 17:13] pshipton commented on #15435
There are also crashes occurring in JNI_OnLoad() in the OpenJDK testing.

[2022-06-27 17:16] pshipton commented on #15435
thrstatetest is failing in sanity.functional with the following, not sure if it's related.
[code]

[2022-06-27 17:21] AdamBrousseau commented on #15431
I updated Git on this machine related to adoptium/aqa-tests#3789.
I think it might be related to curl version used to compile git. I'll take a look. If you want the machine back in the meantime we can rename the new git binary so the old one is picked up.

[2022-06-27 17:23] joransiu commented on #14054
Apologies for the delay.  I missed the original tag, so unfortuantely, no updates to report.  Will have someone look into this from JIT perspective.

[2022-06-27 17:33] amicic commented on #14243
For the most part, the problem, specifically on Aarch64 OSX, is understood. It seems to be related to weak memory model. A fix is available, proven to help, although still considering various variants of the fix before proceeding with any.

No need to provide references to failures for Aarch64 OSX, but for other platforms, which seems to be a different problem, please do.

[2022-06-27 17:34] llxia commented on #15432
The above PR is delivered. Close this issue. Please reopen if the issue still occurs.

[2022-06-27 17:34] #15432 closed

[2022-06-27 17:38] babsingh commented on #15183
Some functions will require the changes for https://github.com/eclipse-openj9/openj9/issues/15177. You can go down the list and support the ones not dependent on https://github.com/eclipse-openj9/openj9/issues/15177. Also, you can approach the easiest ones first.

[2022-06-27 18:50] manashaVetrivelu opened #15436 "Assertion failure at omr/compiler/codegen/CodeGenRA.cpp:106: !regsAreLive when PROD_WITH_ASSUMES is enabled"
In the `Special.system` test suite,
The assert at
`/home/jenkins/workspace/Build_JDK11_x86-64_linux_Personal/omr/compiler/codegen/CodeGenRA.cpp:106: !regsAreLive`
failed when it was compiled with `PROD_WITH_ASSUMES` enabled. It was reproducible in all of the tests mentioned below, except **LambdaLoadTest_special_J9_5m_12**
It failed during the following tests:
**DaaLoadTest_daa2_special_5m_11
Lamb

[2022-06-27 19:00] a7ehuo commented on #15423
Thanks for the information @zl-wang! I think I have a better understanding of it now.

**1.**

I used kca to dump the instructions using `breakAfterCompile` on AOT load, then I ran the code and stopped right before `$r2` is updated and accessed. I guess that's why it was not patched yet. I reran the test and show the instructions at the same time. Now I can see the address is patched to `0x273400`

[2022-06-27 19:07] babsingh commented on #15183
re https://github.com/eclipse-openj9/openj9/issues/15183#issuecomment-1167668040:
1. `GetThreadState`: There are some differences between [Thread.state](https://github.com/ibmruntimes/openj9-openjdk-jdk19/blob/abd1f9e60835acb4cdb4964afd2f0562a14b52e8/src/java.base/share/classes/java/lang/Thread.java#L2773) and [VirtualThread.state](https://github.com/ibmruntimes/openj9-openjdk-jdk19/blob/abd1f9e60

[2022-06-27 19:10] mpirvu commented on #15436
Attn: @0xdaryl

[2022-06-27 19:11] hzongaro commented on #15364
As [Daryl pointed out](https://github.com/eclipse-openj9/openj9/issues/15364#issuecomment-1161577087), this is a long-standing problem.  It appears to require the `%` operator to be applied in a situation where the divisor is known to be a power of ten and the divided is known to be less than the divisor, so it's a little bit unlikely to be encountered frequently.  I would suggest that the blocker

[2022-06-27 19:28] ehrenjulzert commented on #15429
It looks like the `className` being passed in to `forName` is null, and so reverting the changes from #15343 doesn't fix the error. The problem is in whatever is calling `forName`

[2022-06-27 19:33] jdmpapin commented on #15424
Aborting non-SVM AOT compilation when this situation arises is the most expedient fix. I don't believe there is currently any good way for non-SVM AOT to relocate the class in this situation. At least there's no general way. An exception could be made for a class defined by the bootstrap class loader (in which case the `TR_ClassAddress` will automatically be changed into a `TR_ArbitraryClassAddres

[2022-06-27 19:35] jdmpapin commented on #15424
It's also possible to try to make `TR_ArbitraryClassAddress` more general, but IMO any such effort would be better spent toward requiring SVM for all AOT compilations

[2022-06-27 19:47] pshipton commented on #15253
There doesn't seem to be anything interesting in the execution log files. There aren't any failures found, it's just a large list of the tests being run.
[code]

[2022-06-27 19:48] pshipton commented on #15253
The end of the log shows
[code]

[2022-06-27 19:56] pshipton commented on #15253
The log stopping at 19:52:36.505 does seem consistent with a hang after `19:52:25.405 - Completed 80.4%`

[2022-06-27 19:58] hangshao0 commented on #15429
We may hit the following code from one of the `goto initFailed;` in this function.

https://github.com/eclipse-openj9/openj9/blob/483e879d91bef6225f89c870089be438e9938146/runtime/vm/ClassInitialization.cpp#L764-L771

You can look at what is the class (variable `clazz`) being initialized here. The trace point `Trc_VM_classInitStateMachine_Entry` has the class name. You can find the trace number of

[2022-06-27 20:03] manashaVetrivelu opened #15440 "Assertion failure at openj9/runtime/compiler/x/codegen/J9TreeEvaluator.cpp:10779: !(comp->getOptions()->realTimeGC()) when PROD_WITH_ASSUMES is enabled"
In the `Special.system` test suite,
The assert at
`/home/jenkins/workspace/Build_JDK11_x86-64_linux_Personal/openj9/runtime/compiler/x/codegen/J9TreeEvaluator.cpp:10779: !(comp->getOptions()->realTimeGC())`
failed when it was compiled with PROD_WITH_ASSUMES enabled. It was reproducible in all of the tests mentioned below.
It failed during the following tests:
**DaaLoadTest_daa2_special_5m_11
DaaLo

[2022-06-27 20:11] pshipton commented on #15440
@0xdaryl fyi

[2022-06-27 20:19] pshipton commented on #15364
Removing blocking and moving forward.

[2022-06-27 21:29] a7ehuo commented on #15424
Thanks for the clarification @jdmpapin! I think I'll go with aborting AOT compilation in ILGen if it's non-SVM AOT + the VT has a field that is also a VT.  In inlining allocation, different types of relocation record are created in different platforms: `TR_ClassAddress` on X86 and Z; `TR_ConstantPool` on Power. It wouldn't be trivial to make `TR_ArbitraryClassAddress` work on all platforms when th

[2022-06-27 22:52] pshipton commented on #15251
The failure is recreated. @dmitripivkine pls take a look.

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Grinder/1070/system_test_output.tar.gz

[2022-06-27 23:30] keithc-ca commented on #15435
The `Failed to destroy JVM` problem is more generic:
[code]

[2022-06-27 23:56] keithc-ca commented on #15435
... and the problem isn't new:
[code]

[2022-06-28 02:15] a7ehuo commented on #15338
I'm still investigating. I saw the issue even with an older build back to January. Not sure if it should be a blocker now for the 0.33 release.

Meanwhile, Most of the times, instead of a crash, I'm seeing a hang [which was also reported earlier](https://github.com/eclipse-openj9/openj9/issues/15338#issuecomment-1158167847). It seems stuck running `Test.vMeth1(I)V` at `scorching` [1]. I used `perf

[2022-06-28 09:43] 0xdaryl commented on #14115
This won't be resolved this week.  It still fails 1/50 runs and has only been reproduced in a JIT stress mode.  This should be deferred.

[2022-06-28 11:51] monwolf opened #15442 "Coredump on libj9jit29.so"
Java -version output
--------------------

Output from `java -version`.
[code]

Summary of problem
------------------

When enabling the async profiler with datadog module, we start seeing crashes in the service, https://github.com/DataDog/dd-trace-java/issues/3616, I don't know if related with datadog agent implementation or with the JIT.

Stderr:
[code]

As we are running this on a volatile envi

[2022-06-28 13:22] hzongaro commented on #15311
I'm still struggling a bit with how to resolve this issue.  I don't think it can be quickly resolved safely, and as it's a long-standing problem I don't think it should be considered a blocker - and I see the Peter @pshipton has already removed the blocker label.

I'll post some more details about what I see happening, and reach out to Vijay @vijaysun-omr for some advice.

[2022-06-28 13:22] vij-singh commented on #15108
@taoliult  Could you update this with current status?

[2022-06-28 13:23] vij-singh commented on #15107
@taoliult  Could you update this with current status?

[2022-06-28 14:16] pshipton opened #15443 "Crashes in CS testing started Thursday night"
Failures in CS testing on alinux, amac, aix, plinux.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK8/337/
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK11/319/
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK17/259/
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK18/107/

These first occurred on Thursday night, see https://github.com/eclipse-

[2022-06-28 14:17] pshipton commented on #15426
Moving this separate problem to a new issue https://github.com/eclipse-openj9/openj9/issues/15443

[2022-06-28 14:28] AdamBrousseau commented on #15431
Working now.
https://openj9-jenkins.osuosl.org/job/Grinder/1075/

[2022-06-28 14:28] #15431 closed

[2022-06-28 14:47] 0xdaryl commented on #15442
@mpirvu : could you have someone triage this problem please?

[2022-06-28 15:11] pshipton commented on #15443
Still crashing on amac.
[code]

https://github.com/eclipse-openj9/openj9/compare/0f8139aa330...05eeda55e51
https://github.com/eclipse-openj9/openj9-omr/compare/342963cee...1d10df836a0

[2022-06-28 15:27] dmitripivkine commented on #15410
from one of the failures in this build - bad O-slot `0xf5bb728` contain `0xef4dd18` JIT frame for `method=0xef13d78 (java/lang/Thread.<init>(Ljava/lang/Runnable;)V) (JIT)`
[code]
Bogus value `0xef4dd18` is an address of `ramStatics` section for `!j9class 0xEF54400` `java/lang/Thread$ThreadNumbering`

This is duplicate of https://github.com/eclipse-openj9/openj9/issues/15251
@0xdaryl I am going to

[2022-06-28 15:27] #15410 closed

[2022-06-28 15:57] manashaVetrivelu opened #15447 "Assertion failure at openj9/runtime/compiler/infra/J9MonitorTable.cpp:255: false when PROD_WITH_ASSUMES is enabled"
In the `Special.system` test suite,
The assert at

`/home/jenkins/workspace/Build_JDK11_x86-64_linux_Personal/openj9/runtime/compiler/infra/J9MonitorTable.cpp:255: false`
failed when it was compiled with PROD_WITH_ASSUMES enabled. It was reproducible in all of the tests mentioned below.
It failed during the following tests:
**DaaLoadTest_daa2_special_5m_11
DaaLoadTest_daa3_special_5m_11
MiniMix_3h

[2022-06-28 16:04] pshipton commented on #15443
This is passing
[code]
https://github.com/eclipse-openj9/openj9/compare/85e1e3aa6b7...05eeda55e51

@keithc-ca https://github.com/eclipse-openj9/openj9/pull/15406 needs to be reverted or fixed by EOD.

[2022-06-28 16:11] hzongaro commented on #15311
Inside the inner loop (loop 6), we have several paths through inlined code and guarded calls that assigns values to `#397`.  The reference in `#397` is used on the taken side of a guarded `icalli` for `DecimalFormatSymbols.getPatternSeparator` in `block_47`.  One of the inlined code paths results in a null reference being assigned to `#397` in a catch block (`block_39`); on another path, the refer

[2022-06-28 16:12] gacholio commented on #15442
Yes, this has been implemented. This crash is not in the async sampler which implies either it's not a problem with AsyncGetCallTrace at all, or the async call is corrupting the stack resulting in a later crash.

[2022-06-28 16:16] #15443 closed

[2022-06-28 16:50] pshipton commented on #15331
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_mac_Personal/1/console
[code]

[2022-06-28 17:04] pshipton commented on #14115
FYI this test still fails quite often in the nightly builds.

[2022-06-28 17:26] Spencer-Comin opened #15449 "Assertion failed at runtime/compiler/codegen/J9TreeEvaluator.cpp:1343: isInstanceOf"
Internal JDK11 debug build on z/Linux failed on assert at `runtime/compiler/codegen/J9TreeEvaluator.cpp:1343: isInstanceOf`
[code]

Steps to reproduce:
- ` export cflags="-Og -ggdb3 -fno-inline -DDEBUG"`
- `export EXTRA_CMAKE_ARGS="-DJ9JIT_EXTRA_CFLAGS=\"$cflags\" -DJ9JIT_EXTRA_CXXFLAGS=\"$cflags\" -DOMR_SEPARATE_DEBUG_INFO=OFF"`
- Follow [build instructions for JDK11 on Linux](https://github.com/

[2022-06-28 17:50] gacholio commented on #15442
Another consumer of ASGCT had to modify their signal handler to avoid a large on-stack buffer for the returned frames.

Some details may be found in [#13838](https://github.com/eclipse-openj9/openj9/issues/13838)

[2022-06-28 18:02] pshipton commented on #15088
core_pattern issue on [ub16-ppcle-1](https://openj9-jenkins.osuosl.org/computer/ub16-ppcle-1)
I don't think I have root access to fix it. @AdamBrousseau can you please update it.

[2022-06-28 18:10] mpirvu commented on #15442
@monwolf Could you please help us reproduce this issue? What would be the simplest setup that shows this bug? Personally, I have no experience with the Datadog profiler. Thanks

[2022-06-28 18:11] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Nightly/315
jdk_util_1
java/util/EnumSet/EnumSetBash.java
[code]

[2022-06-28 18:28] AdamBrousseau commented on #15088
All the core settings were gone.
[code]

[2022-06-28 18:52] taoliult commented on #15107
@vij-singh @alon-sh

The test "java/lang/SecurityManager/CheckSecurityProvider" is already added into the FIPS mode testing exclude list by the PR https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/537, so this test will not be run in the FIPS mode testing.

The test "java/lang/Class/GetPackageBootLoaderChildLayer", I am using my forked repo issue https://github.ibm.com/Tao-Liu/openj9-openjd

[2022-06-28 19:04] #15319 closed

[2022-06-28 19:08] pshipton commented on #15088
Do you do what is described in https://askubuntu.com/questions/420410/how-to-permanently-edit-the-core-pattern-file and set `enabled=0` in `/etc/default/apport`?

[2022-06-28 19:15] #15108 closed

[2022-06-28 19:16] AdamBrousseau commented on #15088
afaik that is the old way, replaced by `systemctl disable apport`.

[2022-06-28 19:27] pshipton commented on #15449
@0xdaryl

[2022-06-28 19:39] tajila opened #15450 "closeScope0 should not walk all threads"
Java_jdk_internal_misc_ScopedMemoryAccess_closeScope0 can be updated to only walk threads that can run java code. currently it walks all vmthreads.

[code]

The use of `VM_VMHelpers::threadCanRunJavaCode(walkThread)` can identify the threads that need to be walked.

[2022-06-28 19:40] tajila commented on #15450
@EricYangIBM Please take a look

[2022-06-28 19:42] monwolf commented on #15442
I haven't had luck trying to reproduce with the petclinic springboot app. Tomorrow I'll try again.

[2022-06-28 19:59] pshipton commented on #15253
https://github.com/adoptium/aqa-tests/pull/3804 is merged.
Trying another grinder https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1079/

[2022-06-28 21:04] hzongaro commented on #15311
In case anyone is interested, here is the complete jitdump from which the information in the previous comment was extracted.  It contains some additional tracing from `getConstraint` and `mergeDefConstraints`.

[jitdump.20220620.202541.15478.0004.dmp.txt](https://github.com/eclipse-openj9/openj9/files/9004871/jitdump.20220620.202541.15478.0004.dmp.txt)

[2022-06-28 21:11] mpirvu commented on #15447
It should be noted that these asserts are secondary to other asserts in codegen. First the primary assert happens in codegen and then the JIT issues a dump compilation. The secondary assert related to the classUnloadMonitor happens when trying to perform the dump compilation.

[2022-06-28 21:19] gacholio commented on #15450
Threads which can't run java code will have trivial stacks. Is this an API worthy of optimization?

[2022-06-28 21:20] gacholio commented on #15435
This likely means new JNI functions have been added to the table. They should be stubbed with assertions at the same time as the version is accepted rather than randomly crashing if called.

[2022-06-28 21:34] keithc-ca opened #15453 "Common-Cleaner thread does not shutdown cleanly"
Noticed in #15408 and #15435.

[code]

If `-Dibm.java9.forceCommonCleanerShutdown=true` is used, the 3 second timeout just expires.

[2022-06-28 21:41] mpirvu commented on #15447
The optimizationPlan for a jitdump compilation has the jitdumpFile set: `plan->setLogCompilation(jitdumpFile);`
Maybe we can identify this and avoid triggering the assert.

[2022-06-28 21:48] mpirvu commented on #15447
Another possible test for a jitdump compilation is `details.isJitDumpMethod() `

[2022-06-28 23:42] knn-k commented on #10266
Copied from my comment https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/545#issuecomment-1169387006:

CMake does not work with AArch64 Linux cross builds. See the following errors:

With DDR enabled:
[code]

With DDR disabled:
[code]

hookgen needs to be built statically for running with qemu.

[2022-06-29 01:17] nbhuiyan commented on #15347
I have narrowed down the optimization that causes the incorrect result running the JIT-ed code: `jProfilingRecompLoopTest`. This optimization modifies the IL and sets up a counting mechanism for loop iterations in order to trigger recompilation of the method containing the loop if the number of iterations are high enough. These checks are inserted right after `asynccheck` nodes. For `Test.vMeth` m

[2022-06-29 03:17] #15052 closed

[2022-06-29 09:17] knn-k commented on #10266
hookgen, tracegen, tracemerge, and constgen require static linking.  There might be some others.
constgen also requires static libraries for libj9thr29 and libomrsig.

[2022-06-29 09:25] janvrany commented on #10266
@knn-k
Hmm...works for me on RISC-V. When you configure for cross compilation with CMake, what''s the value of `OMR_EXE_LAUNCHER` in your `build/.../vm/CMakeCache.txt`?

Here I have:
[code]
which allows execution of dynamically linked executables (I can actually run the whole J9 this way)

[2022-06-29 11:05] knn-k commented on #10266
@janvrany Thank you for the information.

`OMR_EXE_LAUNCHER` is defined as follows in my cross build environment.  Apparently it does not have `-L path` option.
[code]

[2022-06-29 13:56] pshipton commented on #14717
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_mac_Nightly/87
jdk_lang_1
[code]

[2022-06-29 14:04] pshipton commented on #14717
I wonder if the following is this issue. The tests passed, but there was a hang.

https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_aarch64_mac_Nightly/89
jdk_util_1
java/util/HashMap/TreeBinAssert.java
[code]

[2022-06-29 15:36] pshipton commented on #15253
The grinder didn't pick up the 3804 changes, trying again https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1080/

[2022-06-29 15:48] VermaSh commented on #14054
Hey, @Sidong-Wei I am going to be looking in to this failure. What commands did you use to setup and run?
Is this it?
[code]

[2022-06-29 17:04] pshipton commented on #15253
We got a single core file, and no javacore files, but the tests appear to be doing the right things.
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Grinder/1080/system_test_output.tar.gz
[code]
[code]

[2022-06-29 18:17] tajila opened #15457 "CRIU: Potential Portability Issues with native libraries"

[2022-06-29 18:24] manashaVetrivelu opened #15458 "Assertion failure at omr/compiler/optimizer/OMRValuePropagation.cpp:659: c when PROD_WITH_ASSUMES is enabled"
In the `Sanity.system` test suite,
The assert at

`/home/jenkins/workspace/Build_JDK11_x86-64_linux_Personal/omr/compiler/optimizer/OMRValuePropagation.cpp:659: c`
failed when it was compiled with `PROD_WITH_ASSUMES` enabled. It was reproducible in all of the tests mentioned below.
It failed during the following tests:
**MauveMultiThrdLoad_5m_0
MauveMultiThrdLoad_5m_1**

The platform used to build

[2022-06-29 18:34] 0xdaryl commented on #15347
This issue is not a regression and won't be resolved in time for 0.33.  This should be moved out of the 0.33 release.  @pshipton

[2022-06-29 18:34] urisimchoni commented on #13838
No, we kind of dropped the ball on this one, we're avoiding AGCT when using OpenJ9. It's really a small change that we should implement!

[2022-06-29 18:42] jdmpapin commented on #15424
It's redundant, but it should be fine. For these accesses generated by ilgen, the class came from the constant pool, and the class from constant pool validation (i.e. the first validation) will check on load that the constant pool entry is resolved to a class with the expected layout\*

The arbitrary class validation should usually find the same class. It's possible for it to fail to find a loader

[2022-06-29 19:14] #15457 closed

[2022-06-29 19:24] dsouzai commented on #15424
Yeah, just regarding:

We haven't added the notion of flattened fields in the class chain yet, so that's something we need to think about and design. I had spent some time thinking about this when this subtlety was first brought up a year or more ago, and I have a vague recollection of a relatively efficient way of handling the class chain validation of a flattened type but I need to see if I can

[2022-06-29 19:39] Tom-Poe opened #15459 "Customers do not like that the Attach API is enabled by default on Windows, AIX, and Linux."
Customers do not like that the Attach API is enabled by default on Windows, AIX, and Linux.
(The Attach API is not enabled by default on z/OS.)

The customer doesn't like that /tmp/.com_ibm_tools_attach create files with world writeable files.

The customer provided this feedback:
"Our GIS team is asking if there is no legitimate use for this without the AttachAPI usage, then why is it being enabl

[2022-06-29 20:13] ehrenjulzert commented on #15429
Reverting https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes/commit/31418dcc2d9d040bc13cb63f9b05e513165074b6 does indeed fix the issue, so the cause of the problem definitely lies in there, but I'm not exactly sure where it is.

I was able to get the code for the `<clinit>` method using `-Djdk.proxy.ProxyGenerator.saveGeneratedFiles=true`, however I don't see any references to `null` in

[2022-06-29 20:16] JasonFengJ9 commented on #15459
There are other application/tools requiring the Attach API enabled by default.

The files in question are not consider a security risk at Windows/AIX/Linux [1].

[1] https://www.eclipse.org/openj9/docs/attachapi/

[2022-06-29 20:20] pshipton commented on #15459
@JasonFengJ9 what is the impact of removing the world writable permission from the files?

[2022-06-29 20:23] pshipton commented on #15459
The request here seems to be for IBM Java 8 (which doesn't provide tools like `jcmd`), this isn't the right place to raise the concern.

[2022-06-29 20:26] hangshao0 commented on #15429
So the code to generate the Class.forName() call is:
https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes/blob/9fe0064438340d8a526de97fc2c9d70835746178/src/java.base/share/classes/java/lang/reflect/ProxyGenerator.java#L959-L965

But from the bytecode, the ldc before the `forName()` call is always referencing a valid string. Is it `className` null or some other parameter null inside `Class.

[2022-06-29 20:29] pshipton commented on #15459
It's also possible to put `-Dcom.ibm.tools.attach.enable=no` in an environment variable. The machines can be modified to have the environment variable set and it will impact all installations of Java.

See item 4 & 6 under Precedence in https://www.eclipse.org/openj9/docs/cmdline_specifying/

[2022-06-29 21:29] JasonFengJ9 commented on #15459
Yes, there were some internal slack discussion a while ago.
@Tom-Poe internal skill case or RTC workitem are the alternative places.

[2022-06-29 21:38] pshipton commented on #15459
It requires user write permission, does it need world (or even group) write permission?

[2022-06-29 21:57] JasonFengJ9 commented on #15459
Attach API supports Java processes created by other user/group as long as they have write permission on the files in question.

[2022-06-29 21:58] pshipton commented on #15459
You can only attach to JVMs created by the same user. It seems there are some files used for global locks and notifications. Given the previous restriction, maybe we can get rid of them.

[2022-06-29 22:31] manashaVetrivelu commented on #15447
It was fired many times in `special.system` and in many of its test lists.
In this [Jenkins Build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_special.system_x86-64_linux_Personal_testList_1/4/)/[Grinder Build](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/25390/):
It failed in the following tests for the above build:
**DaaLoadTest_daa1_special_5m_11
DaaLoadTest_daa

[2022-06-29 22:55] JasonFengJ9 commented on #15459
Is there a doc/link about this restriction? There was a use case specifically for different users https://github.com/eclipse-openj9/openj9/issues/13571

[2022-06-29 23:03] pshipton commented on #15459
It's how attach API security works. In https://www.eclipse.org/openj9/docs/attachapi/ you can find "A process using the Java Attach API must be owned by the same UNIX user ID as the target process."

[2022-06-29 23:41] JasonFengJ9 commented on #15459
How about `root` (privilege user) can attach less privilege user, but not vice versa?

[2022-06-29 23:54] pshipton commented on #15459
World permissions aren't needed for that to work since root can write to all files.

[2022-06-30 00:21] JasonFengJ9 commented on #15459
When there are java processes from different privilege group involved, they require write permission to lock the global files even though the less privilege processes can't actually attach those privilege ones.
To remove that write permission, global locking mechanism has to be changes.

[2022-06-30 00:29] knn-k commented on #10266
Thank you, @janvrany

Now I can build for AArch64 Linux with CMake, by explicitly specifying the `--with-sysroot=` option.
`OMR_EXE_LAUNCHER` in vm/CMakeCache.txt looks like:
[code]

So the remaining problem is CMake + DDR in cross builds.

[2022-06-30 00:47] JasonFengJ9 commented on #15459
Using Linux as an example platform, `.com_ibm_tools_attach` by default is within `/tmp` which has world permission itself, and apparently might contain other directories w/ similar permissions.
A question for @Tom-Poe , how does the user categorize those files & directories?

[2022-06-30 01:18] pshipton commented on #15459
Ya. Even the per JVM notification sync files are world writable, since attaching to a single JVM locks the sync file of every JVM running, in order to throttle notifications and ensure the target JVM is notified. We should re-do the notification mechanism.

[2022-06-30 04:12] knn-k commented on #15114
PC register points to somewhere in `runMethodHandle` in the bytecode interpreter.
Call stack of the failing thread looks like this.

[code]

[2022-06-30 04:16] pshipton commented on #15352
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_0/88/
SharedClasses.SCM23.MultiCL_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_0/88/system_test_output.tar.gz
No diagnostics
[code]

[2022-06-30 04:36] knn-k commented on #15352
It looks like a string "java" in little endian.

[2022-06-30 05:43] mpirvu commented on #15458
Attn: @0xdaryl

[2022-06-30 07:24] HValG opened #15462 "Unable to load j9jit29 on Alpine Linux"
Hello there,

I made openj9 jre 17 "almost" working on Alpine distribution.

I am able to start java application but each time I prompt a java command I got the following messages:
JVMJ9VM011W Unable to load j9jit29: Error relocating /opt/java/openjdk/lib/default/libj9jit29.so: malloc_stats: symbol not found
JVMSHRC226E Error opening shared class cache file
JVMSHRC336E Port layer error code = -108

[2022-06-30 08:07] doveye commented on #15011
@pshipton Can you please create doc issues for this if required, which appears to be the case since default values are changing. Default values are listed in https://www.eclipse.org/openj9/docs/openj9_defaults/ and usually also in the option topic, such as https://eclipse-openj9.github.io/openj9-docs/xss/ (the -Xmso topic points to the default list).

The [release notes for 0.33](https://github.co

[2022-06-30 09:14] knn-k commented on #15414
No failures in 20x Grinder job: https://openj9-jenkins.osuosl.org/job/Grinder/1081/

[2022-06-30 11:42] pshipton commented on #15011
Created https://github.com/eclipse-openj9/openj9-docs/issues/959

Re the release note, we decided all that was required was that known issue in the release notes.

[2022-06-30 12:09] hangshao0 commented on #15462
For the shared class cache, you are using option "readonly" which expects to open an existing shared class cache file in readonly mode. As in your case, there is no existing shared cache file, it is not able to create one. You need to remove `readonly` in the first run to create the shared cache file.

[2022-06-30 12:19] tajila opened #15463 "ValueTypes: Unsafe.monitorEnter doesnt detect valuebased/value classes"
The `Java_sun_misc_Unsafe_monitorEnter` needs to detect a value based class or identity-less and throw an exception (only if certain options are passed for value base classes JEP 390) as we do for the regular monitorEnter.

We also need to check what the JIT does in this case, whether it is an intrinsic or if it calls the VM.

[2022-06-30 12:26] HValG commented on #15462
Hoo ok, my bad for this one. Removing the readonly remove most of the VM error messages.
Only one is remaining:
JVMJ9VM011W Unable to load j9jit29: Error relocating /opt/java/openjdk/lib/default/libj9jit29.so: malloc_stats: symbol not found

This might be due to glibc ? or linkind to c libs ?

[2022-06-30 12:53] hangshao0 commented on #15463
Yes, needs a check for `J9_OBJECT_MONITOR_VALUE_TYPE_IMSE` on the return value of `objectMonitorEnter()` in `Java_sun_misc_Unsafe_monitorEnter` to throw an exception.

For the warning case in value based class, we should be fine as the message is printed out inside `objectMonitorEnter()`

[2022-06-30 13:33] tajila opened #15464 "Loom: Add support for direct transition to interpreter on continuation entry"
The current implementation creates a new interpreter instance on continuation entry (resuming or a creating a new one). This is going to eat up stack space.

To address this, a new callin helper will be added to (`setupRunStaticMethod`) which resolves the method (and init class), builds a frame and sets up the args but doesnt instanstiate a new interpreter.

THe continuation enter code will be ame

[2022-06-30 13:33] pshipton commented on #15462
I guess you could remove the call to malloc_stats() in the code, and see what the next problem is.
https://github.com/eclipse-openj9/openj9/blob/master/runtime/compiler/control/JitDump.cpp#L335

[2022-06-30 14:14] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_ppc64le_linux_Nightly_testList_2/309
ConcurrentLoadTest_5m_0
[code]

[2022-06-30 14:24] pshipton commented on #14586
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64_aix_OMR_testList_1/143
JCL_Test_1 `-XX:RecreateClassfileOnload`

[2022-06-30 14:50] JasonFengJ9 commented on #15459
The world writable permission can be removed, this implies that only group users along with `root`/`administrator` can use AttachAPI, which is close to current doc "_A process using the Java Attach API must be owned by the same UNIX user ID as the target process._".

@Tom-Poe can you check with the client if that satisfies them w/o disabling AttachAPI by default?

[2022-06-30 14:57] ehrenjulzert commented on #15429
I tested again and got the same result (`className` was null)

To be clear, to print the result I'm changing line 406 of Class.java here to catch the NPE: https://github.com/eclipse-openj9/openj9/blob/f9c5836bd7879978ec50fd037675cd5a1dcad0d3/jcl/src/java.base/share/classes/java/lang/Class.java#L406
This is what my edit of the code looks like:
[code]

[2022-06-30 15:00] pshipton commented on #15230
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_OpenJDK19/4
jdk_lang_1
java/lang/String/UnicodeCasingTest.java
[code]
java/lang/StringBuilder/Comparison.java
[code]

[2022-06-30 15:02] pshipton commented on #15251
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_OpenJDK19/4
jdk_util_0
java/util/concurrent/FutureTask/ExplicitSet.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_OpenJDK19/4/openjdk_test_output.tar.gz
[code]

[2022-06-30 15:06] pshipton opened #15465 "jdk19 openjdk java/util/concurrent/tck/JSR166TestCase.java testAwaitUninterruptibly(ReentrantReadWriteLockTest): timed out waiting for thread to enter thread state WAITING"
Failures in jdk-19+28 acceptance build.
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK19-Acceptance/6/

https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_OpenJDK19/4
jdk_util_1
java/util/concurrent/tck/JSR166TestCase.java
[code]

https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_mac_OpenJDK19/3
https://openj9-jenkins.osuosl.or

[2022-06-30 15:09] pshipton opened #15466 "jdk19 openjdk java/lang/Thread/jni/AttachCurrentThread/AttachTest.java#id1 UnsatisfiedLinkError: jdk/internal/foreign/abi/UpcallLinker.registerNatives()V"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_OpenJDK19/4
jdk_lang_0 & jdk_lang_1
java/lang/Thread/jni/AttachCurrentThread/AttachTest.java#id1
[code]

https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_mac_OpenJDK19/3
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_OpenJDK19/4/
https://openj9-jen

[2022-06-30 15:18] pshipton commented on #15426
The problematic change was reverted (https://github.com/eclipse-openj9/openj9/issues/15426#issuecomment-1167384633) so this can be closed.

[2022-06-30 15:18] #15426 closed

[2022-06-30 15:25] pshipton opened #15468 "jdk19 openjdk java/util/concurrent/ThreadPoolExecutor/CoreThreadTimeOut.java Agent communication error"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_ppc64_aix_OpenJDK19/4
jdk_util_1
java/util/concurrent/ThreadPoolExecutor/CoreThreadTimeOut.java
[code]

[2022-06-30 15:29] hangshao0 commented on #15429
I seem to know what is going on here. Looking at the generated bytecode:

`  29: invokestatic  #92                 // Method java/lang/Class.forName:(Ljava/lang/String;)Ljava/lang/Class;`

From the method descriptor, the method being called is
`public static Class<?> forName(String className) `

However, the code prepares `className`, `false` and `classloader` as parameters, so the intention of th

[2022-06-30 15:35] pshipton commented on #15321
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_OpenJDK19/4
jdk_lang_0
java/lang/reflect/Proxy/ProxyClassAccessTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_OpenJDK19/4/openjdk_test_output.tar.gz
[code]

[2022-06-30 15:41] pshipton commented on #15321
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_s390x_linux_OpenJDK19/4
jdk11_tier1_buffer_1
java/nio/Buffer/Chars.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk19_j9_sanity.openjdk_s390x_linux_OpenJDK19/4/openjdk_test_output.tar.gz
[code]

[2022-06-30 15:48] pshipton commented on #15269
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_OpenJDK19/4
jdk_util_0
java/util/concurrent/tck/JSR166TestCase.java
[code]

[2022-06-30 15:51] pshipton commented on #15466
@ChengJin01 fyi

[2022-06-30 15:53] pshipton commented on #15466
These failures are in the jdk-19+28 acceptance build.
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK19-Acceptance/6/

[2022-06-30 16:10] ChengJin01 commented on #15466
The failing tests above attempted to invoke `upcallStub()` which are not yet merged to JDK19 (still in the progress of code review via https://github.com/eclipse-openj9/openj9/issues/15068)
[code]
Meanwhile, all previous downcall specific implementation at the java level were entirely removed due to the new API changes in JEP424 and will be replaced with the new code at https://github.com/ibmrunti

[2022-06-30 16:16] pshipton commented on #15355
Set high priority since this is blocking sanity.openjdk testing from running green.

[2022-06-30 16:17] babsingh commented on #15183
It can be moved as a hidden field into `java.lang.Thread` (class).  In the Loom world, this will allow us to associate a `pointer value` with each `environment-thread` pair.

[code]

We will also need to account for the initialization and destruction of the native structures associated to this hidden field.

@tajila @gacholio Can you provide feedback for the above approach?

[2022-06-30 16:52] gacholio commented on #15183
At a glance, no, this is not correct. Our TLS is effectively useless in the presence of vthreads, so we will simply have to stop using it in many places.

Correct answer here is probably to add a hidden field to Thread to contain the JVMTI data itself, not some fake TLS implementation.

[2022-06-30 16:58] babsingh commented on #15183
Will JVMTI data be a struct as follows?
[code]

[2022-06-30 17:35] gacholio commented on #15183
To avoid searching a list, we could essentially reimplement TLS - store a fixed-size array in the Thread hidden field, and manage the keys ourselves. This will mean freeing the TLS when the Thread is collected (which may be a pain).

[2022-06-30 17:41] 0xdaryl commented on #15378
Thanks @manashaVetrivelu for creating issues for the asserts found so far.

It may take a while to sort through all of the problems.  However, for each of the issues you've found so far I think you can simply comment out the assert while the investigation into the assert proceeds.  This situation should be no different (functionally or performance-wise) than we have now as the asserts are not pres

[2022-06-30 17:44] JasonFengJ9 commented on #15459
If the users are in same group, they can work as before.

[2022-06-30 18:34] gacholio commented on #15464
This won't work as described above. A call-in requires a new interpreter. If the proposed code is just going to fiddle with the stack, it has no business being a call-in.

If you've called out to a native, a call-in is the only appropriate solution without some massive hacks in the interpreter (and JIT if the native can be directly called).

[2022-06-30 18:46] ehrenjulzert commented on #15429
I changed the descriptor to `"(Ljava/lang/String;ZLjava/lang/ClassLoader;)Ljava/lang/Class;"` and it looks like the issue is now fixed. Should I make a PR on [openj9-openjdk-jdk.valuetypes](https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes)?

[2022-06-30 18:50] hangshao0 commented on #15429
Yes, please. Also I assume the same issue exists in the Jdknext repo. If so, please make the same change in https://github.com/ibmruntimes/openj9-openjdk-jdk.

[2022-06-30 18:54] JasonFengJ9 commented on #15429
Please make the change in [openj9-openjdk-jdk](https://github.com/ibmruntimes/openj9-openjdk-jdk) which will be merged into [openj9-openjdk-jdk.valuetypes](https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes).

[2022-06-30 19:38] DanHeidinga commented on #15464
I think we want these to be INLs rather jni natives so we can handle them specially in the interpreter and maybe with fast JNI.

If we're in the interpreter, then most of the operation is swaping J9JavaStacks and updating the vm registers.  I'm not sure why we'd need a new interpreter instance for this.

[2022-06-30 19:40] 0xdaryl commented on #15369
The fix won't have enough soaking time before I am confident to commit it to 0.33 at this stage.  This is not a regression, so moving this out to 0.34.  @pshipton

[2022-06-30 19:41] 0xdaryl commented on #15306
A proper fix won't be ready for 0.33 and won't have time to soak in the head stream.  This is not a regression, so moving this out to 0.34.   @pshipton

[2022-06-30 19:42] gacholio commented on #15464
That would avoid some issues but not others. Without the out/in frames, it will be legal to throw and exception out of the continuation or drop to frame out of it.

Fast JNI is also unlikely since it would be difficult to manage transitions (we would not be able to simply copy the stack, we'd need to massage the frames at continuation entry point to handle the entry being compiled or not. The fram

[2022-06-30 19:43] 0xdaryl commented on #15349
The investigation won't be complete for 0.33 and any fix wouldn't have time to soak in the head stream anyway. This is not a regression, so moving this out to 0.34.

[2022-06-30 19:49] ehrenjulzert commented on #15429
I believe the bug was introduced during a merge on our side

The code on line 912 of https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes/commit/31418dcc2d9d040bc13cb63f9b05e513165074b6 looks correct, but during this merge: https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes/commit/dc9687492aa493e72d5a97a171c587bb4e627af5#diff-108e405c90b5012e3a36d52e0423e8387aa8c38636f316fe80fc41

[2022-06-30 20:02] ehrenjulzert commented on #15429
Also, it looks like https://github.com/ibmruntimes/openj9-openjdk-jdk doesn't have this problem, the corrected line is right here: https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/fbe5e8830b48613222c9c971161d273a8b113430/src/java.base/share/classes/java/lang/reflect/ProxyGenerator.java#L912

[2022-06-30 20:12] dsouzai opened #15469 "Extend Class Chains to support Value Types"
The following is the result of an offline discussion with @jdmpapin based on https://github.com/eclipse-openj9/openj9/issues/15424#issuecomment-1170360603. It should be noted that this design does not yet take into account array flattening, though I imagine it should be relatively straightforward to do so.

## Design

At the moment, Class Chains can only describe the shape of classes that do not h

[2022-06-30 20:13] dsouzai commented on #15469
FYI @a7ehuo

@jdmpapin feel free to edit the desc if there's anything wrong / I've missed anything.

[2022-06-30 20:22] JasonFengJ9 commented on #15429
[valhalla](https://github.com/openjdk/valhalla/blob/lworld/src/java.base/share/classes/java/lang/reflect/ProxyGenerator.java) has a slightly different version:
[code]
We need a patch to mix this with [openj9-openjdk-jdk](https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/fbe5e8830b48613222c9c971161d273a8b113430/src/java.base/share/classes/java/lang/reflect/ProxyGenerator.java#L905-L914)

[2022-06-30 20:22] tajila commented on #15408
Do we know how reproduceable this is? Im trying to reproduce it locally

[2022-06-30 20:24] babsingh commented on #15408
I was able to reproduce it quite consistently. Estimate: It should fail 80% of the time.

[2022-06-30 20:41] ehrenjulzert commented on #15429
I see, so I should make a separate PR for both Valhalla and for openj9-openjdk-jdk.valuetypes? Or is there somewhere that I can put in a single PR that will be merged by both repos?

[2022-06-30 20:47] tajila commented on #15408
@babsingh
I ran it 200 times locally with no failure. How are you running it?

[2022-06-30 20:48] jdmpapin commented on #15469
Commenting because I'd want your opinion before changing anything based on most of the following.

----

Considering that the offsets are sensitive to whether or not anything earlier is flattened, it might be better to identify fields by something like an index according to declaration order in the ROM class (or, without sharing the chain of the base class, an index according to the concatenation

[2022-06-30 20:55] ehrenjulzert commented on #15429
Ah, so I just need to make the one PR on [openj9-openjdk-jdk.valuetypes](https://github.com/ibmruntimes/openj9-openjdk-jdk.valuetypes) then?

[2022-06-30 21:01] babsingh commented on #15408
[code]

Just now, I noticed a new segfault in `test_vBfVC_nNull`:
[code]

[2022-06-30 21:07] JasonFengJ9 commented on #15429
Correct

[2022-06-30 21:08] pshipton commented on #15408
It reproduced on every platform in https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK19-Acceptance/6/

[2022-06-30 22:12] manashaVetrivelu opened #15472 "Assertion failure at openj9/runtime/compiler/control/CompilationThread.cpp:11600: false when PROD_WITH_ASSUMES is enabled"
In the `special.system` test suite,
The assert at

`/home/jenkins/workspace/Build_JDK11_x86-64_linux_Personal/openj9/runtime/compiler/control/CompilationThread.cpp:11600: false`
failed when it was compiled with `PROD_WITH_ASSUMES` enabled. It was reproducible in all of the tests mentioned below.
It failed during the following tests:

**ClassLoadingTest_special_5m_20**

The platform used to build a

[2022-07-01 01:37] jonoommen opened #15473 "Lazy Release of Memory Within the OSX Memory Management System"
The primary purpose of this issue is to outline experimental results and findings for experiments that were performed on OSX with Off-Heap memory management enabled, which exposed the lazy release of memory within the OSX memory management system which allows a process to use more memory than its given maximum memory allowance.

If a process were to decommit memory on Linux, for example, memory wo

[2022-07-01 01:49] knn-k commented on #15230
I tried to reproduce the failure locally with JDK 17, but no luck in 50 runs.

[2022-07-01 06:48] mpirvu commented on #15398
@AlexeyKhrabrov could you please review https://github.com/eclipse-openj9/openj9-docs/pull/961
This is user documentation for JITServer AOT cache feature. Thanks

[2022-07-01 12:57] connglli opened #15474 "JDK11 Segmentation error vmState=0x00020019"
Java -version output
--------------------
[code]

Summary of problem
------------------

The following `Test.java`, which is reduced by us, crashes OpenJ9's JIT compiler. **Even through the stacktrace shows the crash happens inside libj9gc29.so; the bug disappears if you add `-Xint` (and the last item of the stacktrace is also a call in the JIT compiler which calls into perhaps an uncommon NPE tra

[2022-07-01 13:42] connglli opened #15475 "JDK11 Segmentation error vmState=0x00000000"
Java -version output
--------------------
[code]

Summary of problem
------------------

The following `Test.java`, which is reduced by us, crashes OpenJ9's JIT compiler. **Even through the stacktrace shows the crash happens inside libj9prt29.so and libj9vm29; the bug disappears if you add `-Xint`. So we reckon this to be a JIT bug.**

[code]

Diagnostic files
----------------

By issuing

[code]

[2022-07-01 15:33] connglli opened #15476 "JDK11 ASSERTION FAILED at ScavengerRootScanner.hpp:108"
Java -version output
--------------------
[code]

Summary of problem
------------------

The following `Test.java` is quite similar to the one in #15475. The only difference is that this case added some PrintStream and System things. However, instead of crashing and print the stacktraces, this one triggers an ASSERTION FAILURE in ScavengerRootScanner.hpp.

Also, this is perhaps a JIT bug since `-X

[2022-07-01 16:09] connglli opened #15477 "JDK8 Crash with either "Segmentation error vmState=0x00000000" or "Invalid JIT return address""
Java -version output
--------------------
[code]

Summary of problem
------------------

Sorry this test is a bit large but we are unable to reduce it further. The test is somewhat tricky because it sometimes crashes with a Segmentation error and full stacktrace; sometimes just crashes with outputting "Invalid JIT return address".

Also, this is perhaps a JIT bug since `-Xint` can hide it.

[code]

[2022-07-02 15:17] mpirvu commented on #15472
[code]

[2022-07-02 15:30] mpirvu commented on #15472
`replenishInvocationCount()`  is used when an AOT compilation finishes, but we don't want to execute the compiled code right away. We want to replenish the invocation count and let the method run interpreted to collect more Iprofiler info.
The expectation is that the invocation count is 0 in this case. From the diagnostic data I see the invocation count being  1295 in one case and 5959 in another

[2022-07-04 00:49] Frank-liuyang opened #15478 "How to control jit data cache size by command line option?"
Java -version output
--------------------
openjdk version "11.0.14.1" 2022-02-08
IBM Semeru Runtime Open Edition 11.0.14.1 (build 11.0.14.1+1)
Eclipse OpenJ9 VM 11.0.14.1 (build openj9-0.30.1, JRE 11 Linux amd64-64-Bit Compressed References 20220210_379 (JIT enabled, AOT enabled)
OpenJ9   - 9dccbe076
OMR      - 56c3376ba
JCL      - 5c423dacd0 based on jdk-11.0.14.1+1)

Summary of problem
---------

[2022-07-04 01:39] zcz3313 commented on #15478
We try to use ```-Xcodecachetotal64m``` option to control jit total cache size, but it seems like jit data cache is also affected.
@pshipton Is there an independent option to control just jit data cache?

[2022-07-04 14:41] dsouzai commented on #15469
Right, the idea behind that is what I was going for when I wrote "offset of the flattened fields in the field data refers to offsets in a class' representation where nothing is flattened"; however, "index" makes this clearer.

We can; I had just included the total size of the chain data and the size of the class chain section of the extended class chain. Thus, the field data would be the total siz

[2022-07-04 14:53] dsouzai opened #15479 "AOT Support for Value Types"
This issue tracks tasks needed to enable AOT support for Value Types

- [ ] Extend Class Chains to support Value Types https://github.com/eclipse-openj9/openj9/issues/15469

[2022-07-04 18:40] jdmpapin commented on #15469
:+1: - I've edited the main description to use "index" and hopefully to clarify the requirements for the field indices. I also removed the mention of fields inherited from interfaces (since interfaces can't declare fields), and I moved the class chain of a flattened type before the indices of the corresponding fields, just to consolidate the fixed-size part of that layout

Oh, I see now! Yeah, tha

[2022-07-04 18:54] dsouzai commented on #15469
Yeah I think it's simpler and as you mentioned, in the case where the original is more efficient, it wouldn't be drastically more so.

[2022-07-04 19:19] mpirvu opened #15480 "Limit the amount of memory used by JITServer AOT cache"
Currently there is no upper bound on the amount of memory used by the JITServer AOT cache.
Add a configurable limit and stop adding new entries once the limit has been reached.

[2022-07-04 22:12] manashaVetrivelu opened #15481 "Assertion failure at openj9/runtime/compiler/control/CompilationThread.cpp:2110: entry->_compErrCode == compilationInterrupted when PROD_WITH_ASSUMES is enabled"
In the `sanity.functional` test suite
The assert at
`/home/jenkins/workspace/Build_JDK11_x86-64_linux_Personal/openj9/runtime/compiler/control/CompilationThread.cpp:2110: entry->_compErrCode == compilationInterrupted` failed when it was compiled with PROD_WITH_ASSUMES enabled. It was reproducible in all of the tests mentioned below.

It was fired many times in `sanity.functional` in 2 of its test

[2022-07-04 23:08] manashaVetrivelu opened #15482 "Assertion failure at openj9/runtime/compiler/control/CompilationThread.cpp:4935: false when PROD_WITH_ASSUMES is enabled"
In the `sanity.functional` test suite
The assert at
`/home/jenkins/workspace/Build_JDK11_x86-64_linux_Personal/openj9/runtime/compiler/control/CompilationThread.cpp:4935: false `failed when it was compiled with PROD_WITH_ASSUMES enabled. It was reproducible in all of the tests mentioned below.

It was fired many times in `sanity.functional` in 2 of its test lists.
It failed 5 times in this [Grinde

[2022-07-05 01:02] Frank-liuyang commented on #15478
Thanks for your reply. I will try this command line option later.

[2022-07-05 03:37] gaolibj commented on #13353
Is this problem solved?  We found a high CPU issue in allocateNewSegment. Not sure if it's related.

[2022-07-05 04:35] mpirvu commented on #15482
@manashaVetrivelu could you please reproduce this one and add `-Xjit:verbose={compil*},vlog=vlog.txt`  to the command line and then send me the resulting vlog from a failed run.

[2022-07-05 05:17] mpirvu commented on #15482
I am seeing "Discrepancy for queue size while adding to queue" assert failing in the jitdump compilation, so this is a secondary assert.

[2022-07-05 05:44] mpirvu commented on #15481
This assert comes from the following piece of code:
[code]
@manashaVetrivelu
I suggest changing the code to show the value of `entry->_compErrCode` which is supposed to be `compilationInterrupted` but is not. Also, please generate a verbose log with -Xjit:verbose={compil*},vlog=vlog.txt from the run that fails.

[2022-07-05 12:10] smlambert commented on #15119
We can exclude it for the alpine-linux platform under https://bugs.openjdk.org/browse/JDK-8242559

FYI @sophia-guo

[2022-07-05 13:03] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Release/31

[2022-07-05 13:32] r30shah commented on #15449
@Spencer-Comin  Do you have a jitdump from the failure? Which we can inspect? Code in which assert is thrown is only used by Z and Power to generate list of tests for type testing (Instanceof/checkCast).

[2022-07-05 13:43] dmitripivkine commented on #15474
I am going to triage the crash from GC point of view

[2022-07-05 13:47] dmitripivkine commented on #15476
There is bad O-slot in JIT frame.

[2022-07-05 14:03] dmitripivkine commented on #15476
[code]

[2022-07-05 14:35] hangshao0 commented on #15429
Can this be closed as the PR is merged ? @JasonFengJ9

[2022-07-05 14:40] dmitripivkine commented on #15476
@0xdaryl FYI

[2022-07-05 14:43] JasonFengJ9 commented on #15429
Latest nightly build is green - `view/Valhalla%20Tests/job/Pipeline_Build_Test_JDKnext_x86-64_linux_valhalla/1033/`

Closing.

[2022-07-05 14:43] #15429 closed

[2022-07-05 15:34] dmitripivkine commented on #15474
The reason for crash is heap memory corruption at `0x7FFF8AEA0` where `!mm_memorypooladdressorderedlist 0x00007F0850181CE0` expects to get Linked Free Header `_heapFreeList = !mm_heaplinkedfreeheader 0x00000007FFF8AEA0`. Or, alternatively, `_heapFreeList` might be set to bogus value somehow
[code]

[2022-07-05 15:45] hangshao0 commented on #15429
This is resolved. FYI @a7ehuo

[2022-07-05 16:06] dmitripivkine commented on #15474
Is it possible heap corruption occur at out-of-bound initialization of large byte array?
Previous to corruption object `!j9indexableobject 0x00000007FFF03470 0 555550` is initialized by `0x00`.
However previous-previous object `!j9indexableobject 0x00000007FFE7BA40 0 555550` is initialized by `0xFF`

@0xdaryl FYI

[2022-07-05 16:36] Spencer-Comin commented on #15449
I just tried another debug build with most recent OMR and OpenJ9 and it built successfully. However, looking at the [original failure message](https://github.com/eclipse-openj9/openj9/issues/15449#issue-1287666326), I came up with a unit test to trigger similar compilation of the failing method (`MethodHandles.insertArguments()`):
[code]

This unit test still fails with the debug java when run wit

[2022-07-05 17:19] gacholio commented on #15464
Remind me again - when a vthread is mounted, it replaces the carrier thread stack entirely (as opposed to being mounted "on top" of the carrier thread stack)?

That fixes a bunch of the problems above - we can handle an exception being thrown out of the vthread because it will presumably have a call-in frame at the start.

[2022-07-05 17:25] gacholio commented on #15464
Also need to think on ELS pointers in the stacks as they are swapped in and out.

[2022-07-05 17:42] cjjdespres commented on #15396
I believe I can reproduce this: I reliably get a few error messages like

[code]

in the JITServer verbose log under similar conditions (the error code for `compilationStreamFailure` is 48), with corresponding `compilationStreamFailure` messages at the client. Next I'll see if `BIO_should_retry` is `true` when these errors occur.

[2022-07-05 18:00] EricYangIBM commented on #15183
Currently the TLS data struct gets allocated for each existing os thread when a jvmti env is allocated (`allocateEnvironment` in jvmtiHelpers.c) and new threads when a `J9VMThread` is created. TLS gets deallocated upon jvmti env deallocation or `J9VMThread` death. (`J9HOOK_VM_THREAD_CREATED` and `J9HOOK_VM_THREAD_DESTROY`)
Could we change these hooks to when a Thread is started/destroyed? Or maybe

[2022-07-05 18:03] tajila commented on #15464
It replaces the stack

[2022-07-05 18:16] r30shah commented on #15449
@Spencer-Comin  Thanks a lot for the unit test, I believe the change that lowers the `Class.cast` calls to checkCast (https://github.com/eclipse-openj9/openj9/commit/f68fcd5d63840563c7f5a93607049308078f391e) introduced a checkCast node where the Cast Class is runtime variable. Looking at the code that contains the ASSERT [1], I think it should be OK to remove that soft ASSERT. Only thing that requ

[2022-07-05 18:32] gacholio commented on #15183
`J9HOOK_VM_THREAD_CREATED` is special in that it's fired under lock (it does not report any JVMTI events) and is allowed to fail (e.g. malloc fail for TLS).

[2022-07-05 18:40] pshipton commented on #15230
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/226
java/lang/String/UnicodeCasingTest.java
[code]

[2022-07-05 18:43] pshipton opened #15490 "OpenJDK java/lang/String/CompactString/Equals.java timeout"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_aarch64_mac_Nightly/93/
java/lang/String/CompactString/Equals.java
[code]

@knn-k fyi

[2022-07-05 19:06] pshipton opened #15491 "jdk19 crash vmState=0x00040000 Thread_interruptImpl"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.functional_s390x_linux_OpenJDK19_testList_0/5
testSCCMLTests1_openj9_1
[code]

@tajila fyi

[2022-07-05 19:16] pshipton commented on #15465
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_ppc64_aix_OpenJDK19/5
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_OpenJDK19/5
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_OpenJDK19/5

[2022-07-05 19:18] pshipton commented on #15269
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_OpenJDK19/5

[2022-07-05 19:19] pshipton commented on #15321
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_OpenJDK19/5

[2022-07-05 19:19] babsingh commented on #15183
We will need new hooks for j.l.Thread creation/destruction. Reusing VM_THREAD hooks will be misleading since multiple j.l.Threads can be associated to a single VM_THREAD.

Callbacks are defined by the user. Example `ThreadStart` use-case: https://github.com/eclipse-openj9/openj9/blob/24b14b4743f82a648712bdca71a5b870828e65f9/runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/eventThreadStart/ets001.c

[2022-07-05 19:27] babsingh commented on #15183
@gacholio @tajila Can we init and destroy `j.l.Thread` specific structures in `jvmtiHookThreadStarted` and `jvmtiHookThreadDestroy` before the `callback` is invoked? This will allow us to avoid J9 hooks for j.l.Thread creation/destruction.

[2022-07-05 19:28] dsouzai commented on #15469
fyi @mpirvu @vijaysun-omr @mstoodle

[2022-07-05 19:39] ChengJin01 commented on #15466
It seems the actual test cases are placed at `/test/jdk/java/lang/Thread/jni/AttachCurrentThread/ImplicitAttach.java` rather than `AttachTest` which is simpler a helper class in `/test/jdk/java/lang/Thread/jni/AttachCurrentThread`. I will create another PR to exclude `ImplicitAttach` to see whether it works as expected.

[2022-07-05 20:06] dmitripivkine commented on #13802
looks like "Rerun in Grinder with failed test targets" does not work any more...
trying one more time https://openj9-jenkins.osuosl.org/job/Grinder/1093/

[2022-07-05 20:16] dmitripivkine commented on #13802
yes, this build failed too unfortunately

[2022-07-05 20:22] pshipton commented on #13802
It doesn't like the option you added. The quotes didn't seem to help. The option turned into the following in the build. Perhaps @llxia has an idea.

`-Xdump:system:events=throw,filter=ReflectionCallerCacheTest/load#ReflectionCallerCacheTest.java#113,msg_filter=Class AccessTest`

Actual option added in EXTRA_OPTIONS
`"-Xdump:system:events=throw,filter=ReflectionCallerCacheTest/load#ReflectionCalle

[2022-07-05 20:23] pshipton commented on #13802
In case it's not obvious, the option contains a space after `msg_filter=Class`

[2022-07-05 20:26] Spencer-Comin commented on #15449
Here's the instruction generation with the assert removed:
[code]
The unit test runs as expected without failures

Full logs:
[reference.log.txt](https://github.com/eclipse-openj9/openj9/files/9049479/reference.log.txt)
[vlog.txt](https://github.com/eclipse-openj9/openj9/files/9049480/vlog.txt)

[2022-07-05 20:39] dmitripivkine commented on #13802
ok, thank you. Trying another time with truncated option `-Xdump:system:events=throw,filter=ReflectionCallerCacheTest/load#ReflectionCallerCacheTest.java#113,request=exclusive+prepwalk` https://openj9-jenkins.osuosl.org/job/Grinder/1094/

[2022-07-05 20:44] tajila commented on #15464
as in:  "a carrier thread cannot mount a vthread if it has called-out, entered a synch block, etc." ?

[2022-07-05 20:49] pshipton commented on #10460
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_aarch64_linux_Personal_testList_2/16
MauveMultiThrdLoad_special_5m_22
[code]

[2022-07-05 20:49] tajila commented on #15464
The initial ELS needs some awareness of the last carrier thread ELS for things like `currentOSStackFree` calculations to work

[2022-07-05 20:55] pshipton opened #15492 "MauveMultiThrdLoad_special_5m_13 crash vmState=0x00000000 vmState=0x0002000f"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_x86-64_windows_Personal_testList_2/17
MauveMultiThrdLoad_special_5m_13 `-XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:count=0`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_special.system_x86-64_windows_Personal_testList_2/17/system_test_output.tar.gz
[code]

[2022-07-05 20:55] pshipton commented on #15492
@dmitripivkine pls take the first look.

[2022-07-05 20:56] r30shah commented on #15449
@Spencer-Comin  Thanks a lot for trying this out quickly. I suggest you can remove the ASSERT from that code and create a PR referencing https://github.com/eclipse-openj9/openj9/commit/f68fcd5d63840563c7f5a93607049308078f391e.

Even though the transformation is better than call to `Class.cast`, we should be able to improve the performance of such checkcast node further (Some of the easy ones are n

[2022-07-05 20:57] pshipton commented on #6552
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_aarch64_mac_Personal_testList_1/12
DaaLoadTest_daa1_special_5m_1 `-Xgcpolicy:optthruput -Xjit:count=0 -Xnocompressedrefs`
[code]

[2022-07-05 21:02] pshipton commented on #14888
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_s390x_linux_Personal_testList_0/13
DaaLoadTest_all_special_5m_14 `-XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:count=0`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_special.system_s390x_linux_Personal_testList_0/13/system_test_output.tar.gz
[code]

[2022-07-05 21:19] dmitripivkine commented on #15492
This O-slot points mid-object:
[code]

[2022-07-05 21:23] dmitripivkine commented on #15492
@0xdaryl FYI

[2022-07-05 22:03] gacholio commented on #15464
We'll need to copy most of the ELS in/out and maintain a copy of it for the unmounted stack walk (much like the other roots). The stack overflow stuff is not needed for stack walk, so we can just keep those pointers as they are when we do the ELS swap.

This will mean creating an ELS when we create the java stack for a vthread.

[2022-07-05 22:28] manashaVetrivelu commented on #15440
This assert also fails in many other testlists in the `special.system` test suite and in the `sanity.functional` test suite.
In `special.system`:
It has failed in the following tests for each of the following builds
[Grinder Build 25390](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/25390/):
**DaaLoadTest_daa3_special_5m_10
LambdaLoadTest_special_J9_5m_10**
[Grinder Build 25391](https://

[2022-07-06 02:57] tajila commented on #15183
Doesnt that have the same problem as `J9HOOK_VM_THREAD_CREATED` since those hooks apply to vmthreads which may be mapped to multiple virtual threads?

[2022-07-06 11:12] pshipton opened #15493 "OpenJDK ClassCastException: java.lang.Double incompatible with java.lang.Integer, crash vmState=0x0005ffff"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/315
jdk_util_1
java/util/SplittableRandom/SplittableRandomTest.java
`vmState [0x5ffff]: {J9VMSTATE_JIT} {Illegal optimization number}`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/315/openjdk_test_output.tar.gz
[code]

[2022-07-06 11:12] pshipton commented on #15493
@0xdaryl fyi

[2022-07-06 13:59] taoliult commented on #15107
@vij-singh The current investigation status about this issue, as below. Next, I will check, in the non-fips mode, if the non java.base providers can be loaded by using the VM attach mechanism. Will update shortly.

From the ProviderConfig code, when it will try to getProviders, in the ProviderConfig.getProvider, if the providers are in java.base directly, they will be initialized directly. As the

[2022-07-06 14:08] EricYangIBM commented on #15183
There are also the newly added `jvmtiEventVirtualThreadStart VirtualThreadStart;` and `jvmtiEventVirtualThreadEnd VirtualThreadEnd;` for which we have `jvmtiHookVirtualThreadStarted` and `jvmtiHookVirtualThreadEnd`

[2022-07-06 14:35] taoliult commented on #15107
@alon-sh fyi

[2022-07-06 14:37] babsingh commented on #15183
These events should work for Java threads (not VM threads): https://download.java.net/java/early_access/jdk19/docs/specs/jvmti.html#ThreadStart. But they may just be restricted to the threads launched by `RunAgentThread`.

### Approach 1

Finalization is deprecated and expensive for GC.
[code]

### Approach 2

Requires more footprint. But, less overhead on the GC.
[code]

[2022-07-06 15:50] JasonFengJ9 commented on #15411
Observed at JDK18 as well - `job/Test_openjdk18_j9_extended.openjdk_x86-64_linux/27/`(`ub20x64rt3-8`)
[code]

[2022-07-06 15:52] JasonFengJ9 commented on #15413
Observed at JDK18 as well - `job/Test_openjdk18_j9_extended.openjdk_x86-64_linux/27/`(`ub20x64rt3-8`)
[code]

[2022-07-06 15:54] JasonFengJ9 commented on #15412
Observed at JDK18 as well - `job/Test_openjdk18_j9_extended.openjdk_x86-64_linux/27/`(`ub20x64rt3-8`)
[code]

[2022-07-06 15:59] JasonFengJ9 commented on #15066
Adding an internal occurrence `job/Test_openjdk18_j9_special.system_x86-64_windows_testList_4/58/`(`win10x64vs6`)
[code]

[2022-07-06 16:01] manashaVetrivelu commented on #15440
This assert also appears in `sanity.functional`.
In the following tests for each of the following builds:
[Grinder Build 25387](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/25387/):
**cmdLineTester_jvmtitests_debug_4
cmdLineTester_jvmtitests_debug_openj9_none_SCC_4**
[Grinder Build 25388](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/25388/):
**cmdLineTester_jvmtitests_debug_5

[2022-07-06 16:12] gacholio commented on #15464
I'm confusing myself (and possibly others) - the ELS contains pointers to the C stack where the FPR/GPRs are stored for the JIT. It's the contents of the save area that needs to be swapped in and out, not the ELS itself.

[2022-07-06 16:42] EricYangIBM commented on #15183
I don't see why this is the case, especially since the thread object associated with the agent thread cannot be a virtual thread and VirtualThreadStartEvents seem to be generated: https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/openj9/src/java.base/share/classes/java/lang/VirtualThread.java#L280
Why can't we allocate the array upon this event?

[2022-07-06 16:45] gacholio commented on #15183
The thread start even currently cannot fail, so allocating here would mean either changing the internal APIs or asserting instead of failing (a bad idea). Please answer my previous question - if a native is run to start vthreads, we can fire the CREATED event there.

[2022-07-06 17:19] tajila commented on #15183
Just had a discussion with @EricYangIBM I believe the following natives are all we need. These are in j.l.VirtualThread

[code]

`notifyJvmtiMountBegin(true)` is called when the vthread is started. `notifyJvmtiUnmountEnd(true)` is called when the vthread ends.

We can use these natives to implement `jvmtiEventVirtualThreadStart/End` hooks.

Additionally, we can also use these natives to keep track

[2022-07-06 17:21] gacholio commented on #15183
Do you have enough control to guarantee when a vthread ends (what does this even mean, considering they can be collected by the GC?)?

Also, hash tables containing objcects will be problematic.

[2022-07-06 17:42] tajila commented on #15183
True, we will need some other kind of ID

[2022-07-06 18:05] a7ehuo commented on #15493
There are three cores with the same failure. They all crashed in `J9::ClassEnv::romClassOfSuperClass` [1].  The cause of the crash is that the `J9Class.superclasses` pointer (`0x00007F17D0877BC8`) of `java/lang/String` (`0x7f17c017c300`) is corrupted/invalid in AOT compilation [2]. The J9Class `java/lang/String` (`0x7f17c017c300`) is initialized (`initializeStatus = 1`) [3]. Not sure yet why `supe

[2022-07-06 19:32] cjjdespres commented on #15396
`BIO_should_retry` is in fact true when these errors occur. This is a little puzzling, since the documentation for `BIO_should_retry` states that

The rule they refer to is that BIOs with blocking underlying sockets won't request a retry. I confirmed with some scattered print statements that `SSL_MODE_AUTO_RETRY` is set in both the `SSL_CTX` and the `SSL` in the BIO itself. That means that this sh

[2022-07-06 19:42] a7ehuo commented on #15469
fyi @hzongaro @tobi @hangshao0

[2022-07-06 20:14] keithc-ca commented on #15274
I think we need to request a fix to the compiler. Very basic source files don't work.
[code]
[code]
[code]
I started exploring a workaround in OMR by adding this early in some header files.
[code]
Unfortunately, scores of source files need to be modified: I don't think that's a reasonable answer.

[2022-07-06 22:19] a7ehuo commented on #15338
With the following combination of -Xjit options, now I could sort of reliably reproduce the ["Invalid JIT return address ..." failure](https://github.com/eclipse-openj9/openj9/issues/15338#issuecomment-1158191331).

`-Xjit:limit={Test.vMeth1(I)V},disableinlining,disableDynamicLoopTransfer,inhibitRecompilation,disableLoopStrider,{*}(optLevel=hot,traceFull,traceILGen,traceCG,log=logs/jitlog)`
[jitlo

[2022-07-07 02:14] JavaTailor opened #15500 "Maybe JIT optimizations caused J9 to produce incorrect output"
## Affected versions

We found a test case with execution problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at attachment.

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

## Problem summary

When we try to execute the following test case using OpenJ9, we may get incorrect output. The final output checksum value is

[2022-07-07 14:36] JasonFengJ9 opened #15501 "JDK19 jdk/internal/misc/Unsafe/CopySwap.java - RuntimeException: testBufferPair"
Failure link
------------

From an internal build `job/Test_openjdk19_j9_sanity.openjdk_x86-64_linux_testList_1/6/`(`cent7x64-1-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_1&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk19_j9_sanity.openjdk_x86-64_linux&DOCKER_REQUIRED=false&ACTIVE_NODE_

[2022-07-07 14:42] JasonFengJ9 opened #15502 "JDK19 SecurityTests_0_FAILED : testDefaultTls failed - Caused by: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target"
Failure link
------------

From an internal build `job/Test_openjdk19_j9_extended.functional_x86-64_linux_testList_1/6/`(`cent7x64-1-2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_1&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk19_j9_extended.functional_x86-64_linux&DOCKER_REQUIRED=false&AC

[2022-07-07 14:51] JasonFengJ9 opened #15503 "JDK19 java/lang/Thread/virtual/ThreadAPI.java#id0 - Requires continuations support"
Failure link
------------

From an internal build `job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_testList_1/6/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_1&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk19_j9_sanity.openjdk_x86-64_mac&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TES

[2022-07-07 15:00] JasonFengJ9 commented on #15321
`job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_testList_0/6/`
[code]

[2022-07-07 15:13] JasonFengJ9 opened #15504 "JDK19 Windows Segmentation error ntdll.dll"
Failure link
------------

From an internal build `job/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_testList_0/6/`(`win10x64vs6 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk19_j9_sanity.openjdk_x86-64_windows&DOCKER_REQUIRED=false&ACTIVE_N

[2022-07-07 15:19] JasonFengJ9 commented on #11868
`job/Test_openjdk19_j9_special.system_x86-64_windows_testList_2/6/`(`win16x64rt3-6`)
[code]

[2022-07-07 15:31] jdmpapin commented on #13353
No, this isn't fixed yet, unfortunately

[2022-07-07 15:36] keithc-ca commented on #15413
FYI @zainabf92

[2022-07-07 16:59] cjjdespres commented on #15394
I tried testing this using the same setup I was using for #15396, but I didn't get any `EINTR` errors at the client. Did you also observe `EINTR` errors in the same circumstances as in that other issue?

I did get errors like:

[code]

which correspond to `EAGAIN` errors, I believe. These errors cause the same spike in peak RSS as the errors in that other issue. The documentation for `read` seems

[2022-07-07 18:07] gacholio opened #15506 "Loom: Investigate alternate JIT register spilling"
See https://github.com/eclipse-openj9/openj9/issues/15464#issuecomment-1178018557

The issue here is that the a continuation can be run in two ways - the initial mount onto a carrier thread and a remount at some point after the continuation yields (possibly on a different carrier thread).

When run for the first time, a call-in results in a new ELS being created on the C stack of the carrier threa

[2022-07-07 18:10] manashaVetrivelu commented on #15482
I have attached the vlog files for each of the tests that were reproduced.
[Grinder Build 25517](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/25517/):
cmdLineTester_jvmtitests_hcr_7
cmdLineTester_jvmtitests_hcr_openi9_none_SCC_6
cmdLineTester_jvmtitests_hcr_openi9_none_SCC_7
cmdLineTester_jvmtitests_hcr_openi9_none_SCC_9
[Grinder Build 25518](https://hyc-runtimes-jenkins.swg-devops.com/

[2022-07-07 19:52] cjjdespres commented on #15396
Setting `-XX:JITServerTimeout=50000` also seems to fix the issue. (That option controls the socket timeouts in milliseconds for JITServer network communication - the default is 2000). There are still occasional read errors in the JITServer itself like I mentioned in #15505, but they don't appear to affect the clients. It also eliminates the `compilationStreamFailure` errors in the clients due to `

[2022-07-07 19:57] babsingh commented on #15183
Is the key not a field of jvmtiEnv? Is looping through threads required?

TLS: Can you describe the new functions which will be implemented on the J9 side? Which OMR functions will be reused?

[2022-07-07 20:09] gacholio commented on #15506
An incomplete implementation for xa64 can be seen here: https://github.com/gacholio/openj9/tree/indirect

@tajila @EricYangIBM

[2022-07-07 20:13] gacholio commented on #15506
@fengxue-IS

[2022-07-07 20:23] EricYangIBM commented on #15183
Won't we need to free the tls data for each thread's tls[env->key] since the thread destroy hooks will be unregistered? Also I think we will need a global array for each env to keep track of used keys. Currently omr does `lib->tls_finalizers[key - 1] = NULL;` to free a key, we will need something similar to this array. (Also I don't think it currently frees the tls data in `omrthread_tls_free`, it

[2022-07-07 20:32] gacholio commented on #15183
The key represents the env in the current (and future!) implementation. We will need to reimplement (or just copy) the key management code (we need to be able to recycle freed keys for use in future environments). The calls to TLS get/set will be replaced with the accesses to the array fetched from the Thread hidden field.

The data is freed in the thread destroy callback. There's no need to loop

[2022-07-07 20:43] EricYangIBM commented on #15183
Doesn't the call to `unhookAllEvents` in `disposeEnvironment` disable the callbacks?
[code]

[2022-07-07 21:47] JasonFengJ9 commented on #13123
`job/Test_openjdk11_j9_sanity.system_x86-64_windows_testList_1/206/`(`win16x64rt3-9`)
[code]

[2022-07-07 21:58] taoliult commented on #15107
@vij-singh @alon-sh

After adding some debug output and reproduce on my local, I think, it should be a limitation for using the VM attach in FIPS mode. Here is what I found.

In a normal case, without using the VM attach mechanism, the provider SunPKCS11 initialized as follow. “Found SL Provider named SunPKCS11” mean the provider SunPKCS11 can be found and loaded from SL, the ServiceLoader.

[code

[2022-07-07 22:09] JasonFengJ9 opened #15508 "JDK17 Unexpected exit from test [exit code: 137]"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_testList_1/143/`(`osxrt3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_1&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_sanity.openjdk_x86-64_mac&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=

[2022-07-08 04:21] mpirvu commented on #15482
The vlogs do not have a suffix with the timestamp and PID as I was expecting, so it's hard to match a vlog with a failure. Did you strip the suffix from the vlogs?
Also, maybe not all of the vlogs are present? For instance, the first assert from build 25517 says:
[code]
but I cannot find that method in any of the vlogs.

It may be easier to try only one test rather than all of the ones that failed

[2022-07-08 04:48] mpirvu commented on #15394
Do the EAGAIN errors happen sooner than the timeout we set? If they do, then having a retrying mechanism makes sense. If they happen exactly when the timeout expires, then it may be better to increase the timeout.

I am somewhat reluctant to increase the timeout to large values though. If the network connection is so bad that most messages take a very long time, we may be better off to compile loc

[2022-07-08 04:57] mpirvu commented on #15394
I wonder if we should have some code to collect stats about network latency. I am concerned about additional overhead though, since we have so many messages.

[2022-07-08 07:46] KWierchomska commented on #14950
What is the proper way to set vendor through OPENJ9_JAVA_OPTIONS in dockerfile?

[2022-07-08 14:55] cjjdespres commented on #15396
One other possibility is to make it so the client does not drop the connection so easily - maybe it can be modified so that it takes a few failed reads before a connection is declared lost.

[2022-07-08 16:19] manashaVetrivelu commented on #15482
The vlog from only the **cmdLineTester_jvmtitests_hcr_7** test: [vlog.txt](https://github.com/eclipse-openj9/openj9/files/9073520/vlog.txt)

I simple reran the test on grinder with `-Xjit:verbose={compil*},vlog=vlog.txt` added to EXTRA_OPTIONS
[Grinder Build Link](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/25588/)

[2022-07-10 14:22] JavaTailor opened #15510 "J9 sometimes outputs incorrect execution results"
## Affected versions

We found a test case with execution problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at attachment.

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

## Problem summary

The details of our simplified test case are shown below, and when the test case is executed correctly, the output is `112507

[2022-07-10 14:51] JavaTailor opened #15511 "MBeanServer gets different ThreadInfo between Hotspot and OpenJ9"
## Affected versions

We found a test case with execution problems. To facilitate analysis, we simplified the test case and the simplified class file can ben found at attachment.

Windows 10:

[code]

Java -version output under Windows 10

[code]

[code]

## Problem summary

In the following test case we try to get ThreadInfo using MBeanServer. But we get different results between Hotspot and Open

[2022-07-10 23:40] knn-k commented on #15230
Two more Grinder jobs (30x each) with UnicodeCasingTest.java:

- https://openj9-jenkins.osuosl.org/job/Grinder/1109/ (jdk_custom_0) No failures
- https://openj9-jenkins.osuosl.org/job/Grinder/1110/ (jdk_custom_1) No failures

[2022-07-11 12:00] #15369 closed

[2022-07-11 13:38] BradleyWood commented on #15500
Looks like something went wrong in LocalVP. I see that VP came to the conclusion that the second arraycopy will always fail a bounds check [1], then removes everything following the bounds check [2].

[1]
[code]

[2]
[code]

[2022-07-11 13:41] pshipton commented on #15511
This seems like a implementation difference to me. OpenJ9 is in native code constructing the ThreadInfo for the current thread.

[2022-07-11 13:41] #15511 closed

[2022-07-11 13:44] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_sanity.functional_x86-64_linux_jit_Personal/325`, failure in `cmdLineTest_J9test_common_0`. Segfault. Console log:

[code]

Tracked by #13577.

[2022-07-11 13:52] pshipton commented on #15500
@0xdaryl fyi

[2022-07-11 14:26] JavaTailor commented on #15510
Maybe there is a network issue, I have re-uploaded it
[TestCase10.zip](https://github.com/eclipse-openj9/openj9/files/9084858/TestCase10.zip)

[2022-07-11 14:31] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_jit_Personal/306/`, failure in `jdk_util_1`. Test time out. Tracked by #13000.

[2022-07-11 15:12] pshipton commented on #15508
The OpenJDK failures with the following seems like a dup of https://github.com/eclipse-openj9/openj9/issues/13368
java/lang/invoke/VarHandles/VarHandleTestAccessString.java
java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessBoolean.java

The failure with java/util/regex/NegativeArraySize.java is new.

For the special.system failure, I find `Killed` in the 1.DLT.stderr output. I suspect the

[2022-07-11 15:35] pshipton commented on #15504
@tajila fyi

[2022-07-11 15:58] JasonFengJ9 opened #15513 "CRIU java_lang_System_nanoTime doesn't invoke j9time_nano_time and miss NANO_TIME_ADJUSTMENT w/ -Xjit:count=0"
`java.lang.System.nanoTime()` invokes `inlSystemNanoTime()` or `Fast_java_lang_System_nanoTime()`, then call `j9time_nano_time()` w/ `NANO_TIME_ADJUSTMENT` which is zero before checkpoint, and set to `privatePortLibrary->nanoTimeMonotonicClockDelta` after restore.

When running w/ a command line option `-Xjit:count=0` before checkpoint, neither `inlSystemNanoTime()` or `Fast_java_lang_System_nanoT

[2022-07-11 16:03] pshipton commented on #15274
@AdamBrousseau We should update the compiler to the latest 16.1 fixpack and then try again.
@zl-wang fyi in case you have insights.

[2022-07-11 16:05] pshipton commented on #15274
We can try a single machine first, I was looking at https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm08/

[2022-07-11 16:10] JavaTailor commented on #15510
I still have questions about this test case. Finalize () does not modify the final checksum value, why does the output error occur?

[2022-07-11 16:15] pshipton commented on #15510
finalize() can modify the final checksum. There is no synchronization, so it can cause `my_check_sum` to be modified to an earlier value. i.e. it fetches a value of `my_check_sum`, does a computation on it that returns the same value, and then assigns it back to `my_check_sum`. Between fetching `my_check_sum` and assigning it back, `my_check_sum` may have been modified by the main thread.

[2022-07-11 16:53] pshipton commented on #13223
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_Nightly/321
jdk_util_0
java/util/logging/FileHandlerAccessTest.java
[code]

[2022-07-11 17:02] pshipton opened #15515 "SharedClassesAPI_0 The wait for the creation mutex while opening shared memory has timed out"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/305/ - [win2012-x86-5a](https://openj9-jenkins.osuosl.org/computer/win2012-x86-5a)
SharedClassesAPI_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/305/system_test_output.tar.gz

[code]
68.WL4.stderr
[code]

[2022-07-11 17:16] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/265/

[2022-07-11 17:25] #15205 closed

[2022-07-11 19:05] #15119 closed

[2022-07-11 19:48] JasonFengJ9 commented on #15171
`job/Test_openjdk11_j9_extended.openjdk_x86-64_linux/76/`(`ub18x64rt1-1`)
[code]

[code]
50x grinder - `job/Grinder/25606/`

[2022-07-11 20:11] pshipton commented on #11509
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Release_testList_1/27
TestJps_SE80_0
[code]

[2022-07-11 20:18] pshipton commented on #15066
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_s390x_linux_Release_testList_3/12
DaaLoadTest_daa2_special_5m_6

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_special.system_s390x_linux_Release_testList_3/12/system_test_output.tar.gz
[code]

[2022-07-11 20:19] pshipton commented on #12244
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_linux_OpenJDK19/6/

[2022-07-11 20:21] pshipton commented on #15355
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_OpenJDK19/6
java/lang/RuntimeTests/exec/ExitValue.java

[2022-07-11 20:21] JasonFengJ9 opened #15518 "JDK 17/18 aarch64_mac Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_sanity.openjdk_aarch64_mac_testList_0/54/`(`macaarch64rt8`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_0&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_sanity.openjdk_aarch64_mac&DOCKER_REQUIRED=false&ACTIVE_NODE_

[2022-07-11 20:37] 0xdaryl commented on #15500
@BradleyWood : please investigate

[2022-07-11 20:53] 0xdaryl commented on #15518
@knn-k FYI

[2022-07-11 21:05] JasonFengJ9 opened #15519 "JDK19 Test complete - ClassCastException: incompatible with java.lang.Thread"
Failure link
------------

From an internal build `job/Test_openjdk19_j9_sanity.openjdk_x86-64_windows_testList_1/8/`(`win16x64rt2-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_1&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk19_j9_sanity.openjdk_x86-64_windows&DOCKER_REQUIRED=false&ACTIVE_

[2022-07-11 21:15] pshipton commented on #15519
BTW it can happen in any?/many? of the tests, not sure the test itself is important.

[2022-07-11 21:15] JasonFengJ9 commented on #14441
`job/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_testList_0/8/`(`ub20lert-1-4`)
[code]

[2022-07-11 21:16] pshipton commented on #15355
https://github.com/eclipse-openj9/openj9/issues/15519 has a stack with a completed ClassCastException rather than a NPE.

[2022-07-11 21:19] JasonFengJ9 commented on #15519
Yeah, it occurred after Test complete successfully.

`job/Test_openjdk19_j9_sanity.openjdk_ppc64le_linux_testList_0/8/`
[code]

[code]

[2022-07-11 21:22] JasonFengJ9 commented on #15251
`job/Test_openjdk19_j9_sanity.openjdk_ppc64_aix_testList_0/8/`(`paix819`)
[code]

[code]

[2022-07-11 21:28] pshipton commented on #15321
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_s390x_linux_OpenJDK19/6

[2022-07-11 21:32] pshipton commented on #15519
Close this as a dup of https://github.com/eclipse-openj9/openj9/issues/15355

[2022-07-11 21:40] tajila commented on #15321
Grinder with debug interpreter

[2022-07-12 01:08] knn-k commented on #15518
`x10` has the `currentThread->sp` value, and the code in `old_slow_jitHandleInternalErrorTrap()` tries to store 0 to the address `x10 - 40` (= InaccessibleAddress 0x104FFFFF8).

[code]

[2022-07-12 01:15] knn-k commented on #15518
No memory is allocated at 0x104FFFFF8.  There is a memory block of 8MB starting from 0x105000000.

[code]

[2022-07-12 11:46] 0xdaryl commented on #15175
There are also circumstances where we don't create a JNI callout frame, namely when `J9_FAST_NO_NATIVE_METHOD_FRAME` is set.  Does `callOutCount` need to be incremented even when we don't create a callout frame?

[2022-07-12 12:00] pshipton commented on #15478
The question has been answered so I'll close this. I can be re-opened if necessary if there is more activity.

[2022-07-12 12:00] #15478 closed

[2022-07-12 12:16] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_mac_Personal_testList_2/3
MiniMix_aot_5m_0 - failure is in the second pass
[code]

[2022-07-12 12:21] pshipton commented on #14695
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux_Nightly/232
jdk_util_0
java/util/DoubleStreamSums/CompensatedSums.java
[code]

[2022-07-12 12:25] pshipton opened #15522 "aarch64 mac segfault in j9gc_createJavaLangString"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_0/96
SharedClasses.SCM23.MultiCL_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_aarch64_mac_Nightly_testList_0/96/system_test_output.tar.gz

[code]

@knn-k @dmitripivkine fyi

[2022-07-12 13:09] babsingh commented on #15175
We only want to cover the area where the call-out happens. [Assumption] VM access is not part of the call-out; it refers to being in the VM. So, it won't make any difference if the count is updated before or after VM access is released.

The frames are only used to easily identify the call-out locations. If a call-out happens without a frame, we will still need to cover it.

@gacholio Can you plea

[2022-07-12 13:39] mpirvu commented on #15394
I am ok with increasing the timeouts slightly (maybe double) provided that:
- If the server dies, the client does not wait for the entire duration of the timeout
- The client never executes synchronous compilation requests remotely: -XX:+JITServerLocalSyncCompiles needs to become the default

[2022-07-12 14:01] dmitripivkine commented on #15522
There is observation GC Check returns thousands of errors `class pointer not in a class segment`. There are many j9 classes look correct (and not unloaded) but have not returned by `!allclasses`
There are examples of such classes:
[code]
I am not sure is it tool reporting issue or real problem. I am still looking to it.

`j9gc_createJavaLangString` is more VM than GC code really, adding `comp:vm`

[2022-07-12 14:05] tajila opened #15524 "CRIU: Bllocking monitor enter in single thread mode doesnt display cause in exception output"
When the checkpoint thread attempts to acquire a lock from a halted thread, it throws an exception, however, the exception doesnt include the cause:

[code]

[2022-07-12 14:23] dmitripivkine commented on #15522
The `!j9object 0x37FD75A90` mentioned in registers is `java/lang/invoke/DirectMethodHandle`
[code]

[2022-07-12 14:44] mpirvu commented on #15394
Where is the 2000 ms timeout declared? The documentation says 10 sec at the client and 30 sec at the server.

[2022-07-12 14:45] babsingh commented on #15183
It does unregister the J9 hooks for a JVMTI env. Will there be threads for which `notifyJvmtiMountBegin` won't be run if `disposeEnvironment` is invoked? If so, we will have to consider other strategies to free the TLS memory.

[2022-07-12 14:52] cjjdespres commented on #15394
Oh, I see, the timeout is increased later in the options parsing. The initializer for `PersistentInfo` has it set to 2 seconds by default, but the `DEFAULT_JITCLIENT_TIMEOUT` that it gets set to is in fact 10. Increasing the default timeout to 35-40 seconds would still be a fairly large increase, then, but not as much as from 2 seconds.

[2022-07-12 15:07] mpirvu commented on #15394
I have the following proposal, but I am open to other suggestions.
- Increase the timeout at the client to 30 sec to match the one at the server. Q1: do we have to adjust the timeout at the server as well? Q2: with this new change, do we capture most of cases when the client experiences a timeout?
- Make -XX:+JITServerLocalSyncCompiles the default
- When the client experiences a timeout, try to re

[2022-07-12 17:54] #15453 closed

[2022-07-12 18:11] dmitripivkine commented on #15522
Looking to Snap traces: looks like JVM was in Shutdown mode deeply when recorded crash occur. I am not sure was JVM shutdown triggered by another crash occur earlier or the reason for crashes is partial shutdown. For example Garbage Collector has it structures teared down partially

[2022-07-12 18:16] pshipton commented on #15088
core_pattern issue on https://openj9-jenkins.osuosl.org/computer/ub16x64j98
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_linux_aot_Personal_testList_1/76/
[code]

[2022-07-12 18:43] thallium commented on #15128
Sample output for constant dynamic:
[code]

[2022-07-12 19:00] AdamBrousseau commented on #15088
All settings are reset. Last apt packages installed in April. No idea.
Reapplied all settings.

[2022-07-12 19:00] #15088 closed

[2022-07-12 20:26] hangshao0 opened #15529 "State based hashcode for value types"
The hash code of a value type should be based on its state rather than the identity (address).
Currently OpenJ9 still calculates the hash code of value types using its address rather than its value.

[2022-07-12 20:30] tajila opened #15530 "pltest: j9dump test failed"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_criu_Personal/32/tapResults/

[code]

[2022-07-12 20:30] hangshao0 commented on #15529
This is related to https://github.com/eclipse-openj9/openj9/pull/15497.

JCL has a private helper in class `PrimitiveObjectMethods` that calculates the VT hash code:
`
 private static int primitiveObjectHashCode(Object o)`

[2022-07-12 20:30] #15524 closed

[2022-07-12 20:44] pshipton commented on #15530
Actual failure link https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_criu_Personal_testList_1/31/
Machine [ub16x64j98](https://openj9-jenkins.osuosl.org/computer/ub16x64j98)

I expect it's a dup of https://github.com/eclipse-openj9/openj9/issues/15088#issuecomment-1182177996 which should be fixed now.

[2022-07-12 20:44] #15530 closed

[2022-07-12 21:17] cjjdespres commented on #15394
I'm only seeing timeouts on the client side, so I don't think the server timeout needs adjustment. I've run some tests with `JITServerTimeout=30000` and the number of timeouts is 2-5 total across the 16 clients per run, down from 15-30 with the default. That's with or without SSL, though there were generally more timeouts with SSL disabled than enabled for both `JITServerTimeout` values.

I think

[2022-07-13 13:31] pshipton opened #15533 "freetype missing from mac10-x86-4"
[mac10-x86-4](https://openj9-jenkins.osuosl.org/computer/mac10%2Dx86%2D4/) is missing freetype and fails to build jdk8.
https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_mac_Nightly/332/console
[code]

@AdamBrousseau @jdekonin

[2022-07-13 13:38] pshipton commented on #15533
Removed the build label from the machine.

[2022-07-13 13:59] jdekonin commented on #15533
Should be good now, looks like I missed 1 "minor" step.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/205/

[2022-07-13 14:20] connglli opened #15534 "JDK11 JDK17 Different Result from Xint"
Java -version output
--------------------
[code]

Summary of problem
------------------

The following test is a bit tricky. It gives a different result from `-Xint`. But cannot understand which JIT level causes the test to fail. So it should be different from #15306 (from scorching) and #15347 (from hot).

It affects both JDK11 and JDK17.

[code]

Results of OpenJ9-Xint (HotSpot/ART also give the

[2022-07-13 14:22] connglli commented on #15534
If there are other options that are helpful for me to diagnose new problems, feel free to let me know.

[2022-07-13 14:24] AdamBrousseau commented on #15533
Thanks, Joe.

[2022-07-13 14:24] #15533 closed

[2022-07-13 14:36] connglli commented on #15534
Perhaps it fails when JIT compiler optimizes `vMeth1()` from one level to another level? So directly set the optlevel to any specific one cannot reproduce the bug?

[2022-07-13 15:15] r30shah opened #15535 "Improve CheckCast (P and Z) when Cast Class is runtime variable"
With changes in https://github.com/eclipse-openj9/openj9/pull/15079 which recognizes Class.cast and generates checkCast with dynamic cast class, now we would have checkCast node which has cast class runtime variable. When preparing list of the test to be generated for given checkCast/instanceOf node when cast class is runtime variable, we used to have Assert that verifies that the node is instance

[2022-07-13 15:17] r30shah commented on #15535
FYI @zl-wang , AFAIK, P and Z only relies on the common code to generate the list of runtime tests for instanceOf and checkCast. So there might be some room for improvements on P as well.

[2022-07-13 15:32] pshipton opened #15536 "aarch64 mac SharedClasses.SCM23.MultiCL_0 abort signal received"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_0/97
SharedClasses.SCM23.MultiCL_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_extended.system_aarch64_mac_Nightly_testList_0/97/system_test_output.tar.gz

[code]

Seems MCL5 got an abort signal, not sure why, and created some diagnostic files. MCL2 noticed t

[2022-07-13 15:32] pshipton commented on #15536
Perhaps related to https://github.com/eclipse-openj9/openj9/issues/15352
@knn-k fyi

[2022-07-13 15:35] pshipton commented on #15536
This may be a result of changes to the test framework to send an abort signal on a hang.
@Mesbah-Alam there are no messages about a hang.

[2022-07-13 15:52] ehrenjulzert commented on #14741
One of the ValueTypeTests is failing with verification on because it is throwing a `ClassFormatError` instead of a `VerifyError`. The test generates a value class with synchronized methods that are not static, and then checks if the verifier throws an error. The code for the test is as follows:
[code]

I don't see anything in the spec specifying which error we need to be throwing in this case, so

[2022-07-13 16:09] hangshao0 commented on #14741
What is the type of error thrown by RI ?

[2022-07-13 17:30] stefan-reich opened #15537 "How to enumerate all classes defined by the JDK / How to parse the "modules" file"
Hi, for a scripting language implemented in Java I need to make a list of all classes defined in the current JDK at runtime.

The way I found to do this for a regular JDK is by inspecting the .jmod files in the JDK directory (which are really just jar files, so it's not hard to parse them).

Issue is, this doesn't work with OpenJ9 as it doesn't have .jmod files.

Instead it has the "modules" file

[2022-07-13 17:31] gacholio commented on #15175
Hadn't considered fast JNI, but I think the answer is no. With no frame, we will presumably not do a blocking operation in the native.

The scheduler must already be resilient to the inherent inaccuracy of asking if a continuation is pinned (i.e. the answer to the question may well change immediately after the call returns).

I believe the counter only needs to be accurate if we are going to block

[2022-07-13 17:32] gacholio commented on #15175
I don't really understand what you're saying here, but I think my response above covers it. We do not need to be able to identify callout/in locations for purposes of pinning, that's what the counters are for.

[2022-07-13 17:39] pshipton commented on #15537
OpenJ9 also has .jmod files, assuming you are using jdk11 or later. Are you looking at a JRE build rather than a JDK build?

The modules file can be opened using the `jimage` utility, although that utility is only part of the JDK build.
``bin/jimage` list lib/modules` provides a list of the classes.
[code]

[2022-07-13 17:42] gacholio commented on #15183
I don't think synchronization will be a problem if we do the usual `if (NULL == x) lock and test again`. We would only lock when initializing the field. I would prefer this because it's fewer changes to the existing implementation.

Splitting the fields does not avoid any locking - you can enable events for any thread from any thread, and similarly access TLS from foreign threads.

[2022-07-13 17:46] cjjdespres commented on #15397
I can't seem to observe this. If I run, say, `jitserver -XcompilationThreads7` (or any number between 0 and 15) the server starts up as normal with no error message. Setting it to an invalid number (say 16) causes that message to be printed as expected. Were there particular circumstances in which this happened, or has this been fixed in the meantime?

[2022-07-13 17:50] pshipton commented on #15537
btw, by looking at the `jimage` implementation code, you can see how to read the modules file using internal APIs (`jdk.internal.jimage`). These classes/APIs are internal and need to be exposed via command line options. Since they are internal they are subject to change without notice, as is the format of the modules file itself.
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/

[2022-07-13 17:52] ehrenjulzert commented on #14741
It looks like the RI throws a `ClassFormatError` as well

[2022-07-13 17:56] #15537 closed

[2022-07-13 18:31] stefan-reich commented on #15537
Hi @pshipton Thank you very much, this answers my questions. So I basically have to tell users not to use OpenJ9 JRE (but OpenJ9 JDK will be fine). Shouldn't be a problem for anyone.

[2022-07-13 18:33] taoliult commented on #15107
@vij-singh @alon-sh

After I did some debug and tests, it is not an issue.

In the test case, it has the following when running the tests:

`* @run main/othervm --limit-modules jdk.attach -Djdk.attach.allowAttachSelf`

It limited the modules only to "jdk.attach". But in the FIPS mode, the SecureRandom must come from the provider SunPKCS11, which is in the module "jdk.crypto.cryptoki". So, that is

[2022-07-13 18:39] taoliult commented on #15107
@JasonFengJ9

The root cause about this failure is updated in the last comment. Do you think, if the test case need to be updated with "--limit-modules jdk.attach,jdk.crypto.cryptoki"? Please advice. Thanks.

[2022-07-13 18:44] 0xdaryl commented on #15175
Thanks for the clarification @gacholio and @babsingh.

In the case of monent/monexit, the JIT runtime may delegate to a helper to perform the acquire/release (`jitMonitorEntry` and `jitMonitorExit`).  Can you confirm that those helpers will guarantee to either ALWAYS inc/dec the counters or NEVER inc/dec the counters (leaving it to the JITed code)?  I'd check myself but the code hasn't been implem

[2022-07-13 18:45] gacholio commented on #15175
The helpers will always manage the counters. Only if you are modifying the lockword field in compiled code do you need to do it.

[2022-07-13 18:51] tajila opened #15538 "CRIU: delay interrupt requests to hatled threads"
In single thread mode sending an interrupt request to a halted (halted by wait) thread in a synchronized block will cause the thread to acquire the resource thus potentially causing a deadlock. To solve this we can reuse the delay notification event logic to delay the notification request.

[2022-07-13 19:07] babsingh commented on #15175
Yes, that the frames will be reason for the blocking operation. Initially, I had assumed that the frames just pin-pointed the locations where we are going to block.

[2022-07-13 19:13] pshipton commented on #15107
@taoliult Why do you say "no matter in FIPS mode or not".

[2022-07-13 19:13] JasonFengJ9 commented on #15107
Assuming this refers `java/lang/Class/GetPackageBootLoaderChildLayer.java` which is excluded for JDK20/19/18/19 for all platforms, `windows-x64` for JDK11. Do you have a grinder showing JDK11 non-FIPS mode failure?

It appears this test was excluded for RI (hotspot) on `macosx-all` only, can you confirm its behaviour at `x86-64_linux`?

[2022-07-13 19:21] Mesbah-Alam commented on #15536
@Mesbah-Alam there are no messages about a hang.

Are you referring to messages like "**FAILED** Process LT  has timed out" (e.g. https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1079/consoleFull)?

The recent [change](https://github.com/adoptium/aqa-tests/pull/3804/files) only adds the `-Xdump:system:events=user` to the command line to ensure system core gets generated when STF kills a han

[2022-07-13 19:24] #15449 closed

[2022-07-13 19:39] taoliult commented on #15107
@JasonFengJ9  In the JDK11 non-FIPS mode, this test passed.

[2022-07-13 19:40] pshipton commented on #15107
Does adding `jdk.crypto.cryptoki` break the test in non-FIPS mode?

[2022-07-13 20:00] gacholio commented on #15183
Lazily initializing will also introduce out of memory situations to the affected APIs. This is legal by spec, but I wanted to point it out.

[2022-07-13 20:14] pshipton commented on #15536
Ah right, we talked about sending the abort signal but then decided on another approach.

[2022-07-13 21:07] JasonFengJ9 commented on #5274
The test is to be re-enabled - https://github.com/adoptium/aqa-tests/pull/3852

[2022-07-13 21:07] #5274 closed

[2022-07-13 21:20] ehrenjulzert commented on #14741
Once #15542 is merged this issue can be closed

[2022-07-13 21:23] pshipton commented on #15411
@ZainabF92 do you think this is a dup of https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/121 ? In testing done for https://github.com/ibmruntimes/openj9-openjdk-jdk18/pull/64#issuecomment-1183691615 I don't see this failure.

[2022-07-13 21:36] taoliult commented on #15107
@pshipton In non-FIPS mode, for this test "java/lang/Class/GetPackageBootLoaderChildLayer.java", adding `jdk.crypto.cryptoki` into the `--limit-modules` or not, the result all passed. Because in non-FIPS mode, SecureRandom will be initialized from provider SUN.

[2022-07-13 21:43] pshipton commented on #15107
Sounds good to update the test case with `jdk.crypto.cryptoki` then, so it can pass in FIPs mode.

[2022-07-13 21:45] pshipton commented on #15107
When you make the update, pls add a comment to explain the change.

[2022-07-14 01:50] #15413 closed

[2022-07-14 04:15] ZainabF92 commented on #15411
Yeah, this is a duplicate issue

[2022-07-14 10:12] mpirvu commented on #15482
I have reproduced one of these asserts locally with

The end of the vlog shows:
[code]

So, `JarFile.getMetaInfEntryNames()` fails with an IlGen failure and then in the `postCompilationTasks()` we throw the assert:
[code]
 Interestingly, when we finished compiling `URLClassPath.getLoader(I)` there were 14 entries in the queue. However, when we faild `JarFile.getMetaInfEntryNames()`, there were no

[2022-07-14 10:16] mpirvu commented on #15482
The assert comes from this code:
[code]
The entry is unloaded, but the error code is 24 that is `compilationILGenFailure`

[2022-07-14 10:25] mpirvu commented on #15482
That error code is set in `processException()`  which is called in the inner `compile()` method if an exception is caught.

[2022-07-14 11:17] mpirvu commented on #15482
If the compilation fails in inner `compile()` the catch block executes `processException()` which sets the error code and releases the class unload monitor. At this point class redefinition can happen and it will mark the entry as unloaded, even though the compilation has failed.

When we enter `postCompilationTasks()` we already have metadata==0 because this compilation failed. In here we do

[co

[2022-07-14 11:57] #15411 closed

[2022-07-14 12:02] mpirvu commented on #15447
We could find the current vmThread with
[code]
then find the compInfoPerThread with
`TR::CompilationInfoPerThread* TR::CompilationInfo::getCompInfoForThread(J9VMThread *vmThread)`
and from there we could detect if this a diagnostic thread with `isDiagnosticThread()`
The idea is that for diagnostic threads that assert should not fire.

[2022-07-14 12:53] pshipton commented on #15221
These failures are occurring in the 0.33 M2 build, in both jdk_security3_0 and jdk_security3_1, on the same machine ub20x64rt1-3.
/job/Test_openjdk8_j9_extended.openjdk_x86-64_linux/70/

Trying a single re-run of jdk_security3_0 in a grinder /job/Grinder/25726

[2022-07-14 13:32] pshipton commented on #15221
@alon-sh any ideas about these failures? They only seem to fail when the entire group jdk_security3 is run.

[2022-07-14 13:45] JasonFengJ9 commented on #15221
[sun/security/pkcs11/KeyStore/SecretKeysBasic.sh failed with "PKCS11Exception: CKR_ATTRIBUTE_SENSITIVE"](https://bugs.openjdk.org/browse/JDK-8209398)
This test has been excluded for RI JDK8 - https://github.com/adoptium/aqa-tests/blob/55ffc854ffd54cd3ecca6b838a6d4ba3aea0440e/openjdk/excludes/ProblemList_openjdk8.txt#L295

RI JDK8 failed `sun/security/pkcs11/Secmod/GetPrivateKey.java` & `sun/securi

[2022-07-14 14:06] #15412 closed, assigned to nobody

[2022-07-14 14:14] YuanWangC opened #15544 "Performance gap of 3-layer nested loops compared to Hotspot"
##### Description:

When I execute the following test case (Testcase1) containing 3 layers of nested for loops, OpenJ9 takes more than 15 seconds to execute it (using the Linux command `time` to time the program multiple times), which is almost 7 times longer than HotSpot's execution time and ends up with the same Exception as HotSpot. By the way，Executing the program with the option `-Xjit:count=

[2022-07-14 14:34] pshipton commented on #15221
Created https://github.ibm.com/runtimes/infrastructure/issues/7098

[2022-07-14 15:06] ymanton commented on #15513
It looks like we have 3 different ways of generating code for calls to `System.nanoTime()` in the compiler:

1. No special treatment, generate a regular call.
2. Codegen sets the `SupportsCurrentTimeMaxPrecision` flag, Simplifier replaces `System.nanoTime()` call with a sequence containing a call to a "non-helper" called `currentTimeMaxPrecision`, codegen later replaces the call with a suitable im

[2022-07-14 16:52] vijaysun-omr commented on #15513
Let us implement 2 since this is the case that is relevant in the short term (e.g. for beta)

[2022-07-14 17:45] JasonFengJ9 commented on #10732
[code]
https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.functional_s390x_linux_testList_2/253/
[code]

[2022-07-14 18:07] EricYangIBM commented on #15183
To elaborate on my question on valid/invalid tls element:

Every access to the tls array happens through `SetThreadLocalStorage/GetThreadLocalStorage/SetEventNotificationMode/prepareForEvent`. Suppose `env1` is created and allocates and modifies `thread.tls[1]` (e.g. `thread.tls[1]->tls = ptr`) It is then disposed, and the `thread.tls[1]` isn't freed (but `vm->tlsKeySet[1]` is marked as free)
Then

[2022-07-14 18:11] gacholio commented on #15183
There should be no need for the dirty tag. As discussed on the call, we should already be testing enough state to know when TLS operations are valid on a thread.

Re-using an existing thread data if a TLS key gets re-used should be simple (just NULL check it and use it instead of allocating a new one).

[2022-07-14 18:11] JasonFengJ9 opened #15545 "JDK11 NPE at jdk.compiler/com.sun.tools.javac.comp.LambdaToMethod$LambdaAnalyzerPreprocessor$LambdaTranslationContext.translate(LambdaToMethod.java:2196)"
Failure link
------------

From [an internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.openjdk_x86-64_mac/71/)(`osxrt1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&E

[2022-07-14 18:14] hangshao0 commented on #15529
@ehrenjulzert will be look at this.

[2022-07-14 18:30] dmitripivkine commented on #10489
I think two comments https://github.com/eclipse-openj9/openj9/issues/10489#issuecomment-1073881834 and https://github.com/eclipse-openj9/openj9/issues/10489#issuecomment-1080645741 have been added to this item by mistake. These comments mentioned failure with Balanced crash is java thread stack walk. Just bad O-slot perhaps.
This issue seems specific to `-Xgcpolicy:gencon -Xgc:concurrentScavenge`.

[2022-07-14 18:37] pshipton commented on #15545
5 iterations of jdk_security3_1 in [grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/25753)
50 iterations of the failed test in [grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/25754)

[2022-07-14 18:38] dmitripivkine commented on #10489
Also I am not sure it is JIT or platform specific. Higher reproducibility rate on Power might be explained we have more large machines for this platform. There is higher chance that not all GC threads performing GC (limited to smaller amount due heap size). We think that it might cause Ownable Synchronizer object become obsolete in thread local sublist (if this thread has not been involved in GC).

[2022-07-14 18:54] EricYangIBM commented on #15183
What about for tlsData->threadEventEnable? If a new env NULL checks and uses an old threadEventEnable then it may let events through when it should not. Won't we have to clear it (and where)?

[2022-07-14 19:24] babsingh commented on #15183
You are correct. The TLS slot/value will be reset during allocation in the reuse scenario. But, `GetThreadLocalStorage` (get) can be called before `SetThreadLocalStorage` (allocate/set). In this case, the TLS slot may still contain the old value. Since we will have ~124 TLS keys, we can use a bit in the TLS key to indicate that the corresponding TLS value needs to be reset. Checking the bit and re

[2022-07-14 19:37] JasonFengJ9 commented on #8972
From [an internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.openjdk_s390x_linux/78/consoleFull)
[code]

[code]

[2022-07-14 19:47] EricYangIBM commented on #15183
I think we need 4 states:
FREE -> USED when an env uses a slot for the first time (env allocate)
USED -> DIRTY_FREE when env dies (env deallocate)
DIRTY_FREE -> DIRTY_USED when new env claims an old slot (env allocate)
DIRTY_USED -> USED before using THREAD_DATA_FOR_VMTHREAD (clear tls slot as well)
With only 3 states I think multiple envs can claim a single slot

[2022-07-14 20:40] JasonFengJ9 opened #15547 "JDK17 cmdLineTester_shrcdbgddrext_1_FAILED Cannot read field "virtualAddress" because "dynamicTableEntry" is null"
Failure link
------------

From [an internal build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk17_j9_extended.functional_x86-64_linux_testList_2/217/)(`ubu22x86-rt5-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_2&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_extended