[2021-04-19 15:44] pshipton commented on #12470
I believe https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_ppc64_aix_Nightly_testList_2/46 is also caused by network. There are a number of occurrences of `JVMJ9VM090I Slow response to network query (160 secs), check your IP DNS configuration` in the output, including in 5.SCV.stderr, 14.SCC.stderr and 15.SCC.stderr. There is a core file, but no other diagnostics.
[code]

Also f

[2021-04-19 15:48] gacholio commented on #12073
@pshipton Can you link to the build (or drop it in the triage directory)?

[2021-04-19 15:49] pshipton commented on #12416
Then I suggest we up the default from 256k.

[2021-04-19 15:53] 0xdaryl commented on #12426
I'm glad this is resolved, but I'm curious about the next step here.  Is @nbhuiyan's fix a real fix that should be contributed in a PR?  Or is that being rolled into other work you're doing @dsouzai that will be contributed later?

[2021-04-19 15:53] M-Davies commented on #7458
@pshipton Can you assign me to this issue? It makes it easier to find whenever I want to reference it is all 🙂

[2021-04-19 16:01] gacholio commented on #12468
206 is not a valid bytecode number.

[2021-04-19 16:06] gacholio commented on #12073
Looking at the java stacks, there's nothing obviously wrong.

[2021-04-19 16:07] pshipton commented on #12466
`openjdk8-pipeline #1597/jdk8u-linux-aarch64-openj9 #258/Test_openjdk8_j9_sanity.openjdk_aarch64_linux #211/jdk_util_0`
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/211/
java/util/stream/test/org/openjdk/tests/java/util/stream/MapOpTest.java

The build is the latest 0.26 release stream.

@knn-k fyi

[2021-04-19 16:11] gacholio commented on #12416
https://github.com/eclipse/openj9/blob/94649e13230cf293f73f060f83b331eb38174d8b/runtime/oti/j9cfg_builder.h#L95-L102

[2021-04-19 16:23] pshipton commented on #12073
The build is https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-openj9/1043/, you need to "expand all" the build artifacts to see them. I've download OpenJDK8U-jdk_x64_windows_openj9_v0.26.0-release.zip to the triage directory.

[2021-04-19 17:20] dsouzai commented on #12426
Currently it's being rolled into my work, but technically this is a real problem for unresolved in JIT compilations. Also this doesn't fix the problem for `findOrCreateCallSiteTableEntrySymbol`.

[2021-04-19 17:31] fjeremic opened #12471 "Remove redundant checks in J9Simplifier::simplifylCallMethods"
The following checks seem redundant. Why do we care that the method is JNI for example? Would there ever be a case where you recognize `TR::java_lang_System_nanoTime` but all of these checks fail?

https://github.com/eclipse/openj9/blob/94649e13230cf293f73f060f83b331eb38174d8b/runtime/compiler/optimizer/J9Simplifier.cpp#L318-L328

My thinking is no and we should remove the extra checks.

[2021-04-19 17:48] dmitry-ten commented on #12468
Yeah, I when I reproduced this crash locally, it happens inside the bytecode iterator here:
https://github.com/eclipse/openj9/blob/94649e13230cf293f73f060f83b331eb38174d8b/runtime/compiler/env/j9methodServer.cpp#L1733-L1742
Any idea what a presence of invalid bytecode number might indicate? Maybe the resolved method is somehow invalid?

[2021-04-19 17:52] gacholio commented on #12468
Assuming the VM didn't produce the invalid bytecode, my best suspicion is an invalid bytecode decode which throws off the iterator so you end up looking at  embedded bytecode data as if it were the start of a bytecode.

[2021-04-19 17:58] gacholio commented on #12073
The stack looks no better in windbg with the debug image.
[code]
If that's to be believed. someone is calling JVM_EnqueueOperation which asserts out.

[2021-04-19 18:00] tajila commented on #12416
Ill create a PR

[2021-04-19 18:03] pshipton commented on #12073
I believe JVM_EnqueueOperation is what happens when you use the Hotspot Attach API to attach to OpenJ9. I'm guessing this is a side affect of trying to get a core file for the hang. More interesting is what is earlier on the stack, and why it might be hanging.

[2021-04-19 18:06] gacholio commented on #12073
Earlier in the stack is just windows thread startup code. This is that abort thread so nothing should be running there. I'll around for the hang.

[2021-04-19 18:07] gacholio commented on #12416
The stack shape only changed on 64-bit power, so you might want to restrict the change to those targets.

[2021-04-19 18:17] tajila commented on #9912
@ChengJin01 will be investigating this

[2021-04-19 18:18] gacholio commented on #12073
Main thread is sleeping (spinning wait for fork join to terminate). All of the load threads are parked with the exception of one which is waiting.
[code]
[code]

[2021-04-19 18:18] tajila commented on #11833
@JasonFengJ9 will be investigating this

[2021-04-19 18:18] gacholio commented on #12073
There is no problem with exclusive here. This looks like an application-level issue.

[2021-04-19 18:20] dmitry-ten commented on #12468
Hm, this method shouldn't be modifying iterator pointer beyond just calling `bci.next()`.
I'll need to take a closer look at the coredump, but I suspect that one place where it could go wrong is if `TR_ResolvedJ9Method::bytecodeStart` that's used to initialize `bci` returns an incorrect pointer which could happen if the JITServer cached ROM method is invalid for some reason. This could be related

[2021-04-19 18:22] fjeremic opened #12472 "Simplify asynccheckEvaluator on Z"
@joransiu suggested a small code improvement in https://github.com/eclipse/openj9/pull/742#discussion_r154816421 to the `asynccheckEvaluator` which can simplify one of the paths:

https://github.com/eclipse/openj9/blob/94649e13230cf293f73f060f83b331eb38174d8b/runtime/compiler/z/codegen/J9TreeEvaluator.cpp#L2189-L2211

As per the review comment, the code in `lowerAsyncCheck` will have ensured the m

[2021-04-19 18:25] mpirvu commented on #12468
@AlexeyKhrabrov tells me that he started to see this error while running AcmeAir about 2 weeks ago.

[2021-04-19 18:25] fjeremic commented on #837
This code has been removed as part of the new processor detection improvements.

[2021-04-19 18:25] #837 closed

[2021-04-19 18:39] fjeremic opened #12473 "Simplify VMnonNullSrcWrtBarCardCheckEvaluator"
The `disableSrcObjCheck` is always set to true. It seems to have been guarded by an option in the past. Looking into the history internally before the change was made it seems to have caused a performance regression, which is why the `= true` change was made. This performance regression goes back to 2014.

https://github.com/eclipse/openj9/blob/94649e13230cf293f73f060f83b331eb38174d8b/runtime/comp

[2021-04-19 19:12] pshipton commented on #12073
Perhaps the hang is a dup of one or both of these.
https://github.com/eclipse/openj9/issues/9999
https://github.com/eclipse/openj9/issues/11868

[2021-04-19 19:17] AlexeyKhrabrov commented on #12468
To be more specific, I don't see this issue after > 10 runs using a branch based on 673d518984bf5dcaa2f3c12c178cb30de283bccb, but it's easily reproducible with the current master. It looks like this bug was introduced some time after April 8.

[2021-04-19 19:24] dmitry-ten commented on #12468
Hm, that's good to know, thank you.
Not too many commits since then, none are JITServer-specific, I'll just look through all of them, will try to find anything suspicious.

[2021-04-19 19:38] pshipton commented on #12460
It seems unlikely. The test causes an IllegalAccessError and looks for a specific error message and didn't find it because the word "module" was repeated twice.

I was thinking it's a duplicate of https://github.com/eclipse/openj9/issues/12285 (which is fixed in the build you tried) but the change which introduced that isn't in openj9-0.25.0.

If it goes according to schedule, the next release wil

[2021-04-19 19:44] pshipton commented on #12464
`openjdk8-pipeline #1597/jdk8u-mac-x64-openj9 #906/renaissance-db-shootout_0`

https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.perf_x86-64_mac/18/
[code]

[2021-04-19 19:46] 0xdaryl commented on #12426
OK, thanks.  Does an issue need to be created so the work to fix `findOrCreateCallSiteTableEntrySymbol` isn't forgotten?

[2021-04-19 19:47] dmitry-ten commented on #12468
Oh, I just realized that #12417 must be the root cause of this and similar issues.
In that PR, I free the newly allocated ROM class, if the same class is already cached, but then proceed to return a pointer to the ROM class that's just been freed, so the class will be invalid.
I will make a PR fixing this shortly. The correct solution should access the ROM class cache and return a pointer to the c

[2021-04-19 19:50] pshipton commented on #12464
This is the build, but I don't see any artifacts.
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-openj9/906/

[2021-04-19 20:05] pshipton commented on #12464
@andrew-m-leonard @sxa are the builds for https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-openj9/906/ saved somewhere? If the builds aren't retained, not sure there is much we can do for triage.

[2021-04-19 20:09] dmitripivkine commented on #12346
@1a2s3d4f1 Would you please try latest nightly build to confirm the fix is works? You need to add `-Xgc:dynamicBreadthFirstScanOrdering` explicitly to re-enable temporarily disabled feature and return back to mode crashed previously. If you confirm it is not crashing any more Dynamic Breadth First is going to be set as default for Balanced again.

[2021-04-19 21:08] babsingh commented on #11939
@fengxue-IS The `MethodHandleNatives.init` fix should resolve this segfault. I tried a quick hack: https://github.com/babsingh/openj9-openjdk-jdk16/commit/739e56c3be1edbb84a1ae93d3ad0569c483016bd.

[2021-04-19 22:50] nbhuiyan commented on #12426
Since this is a potential issue for unresolved invokedynamic/invokehandle for JIT compilations as well and the changes are similar, I will open a pull request with the fixes for both. I am surprised we have not seen this issue show up so far, as entry address comparison was how MethodType table entry symbol identity was checked in the past.

@0xdaryl I am re-opening this issue to track the work in

[2021-04-19 23:18] nbhuiyan commented on #12426
Investigating why we did not see this issue in the past, I realized that it is because there was no actual problem using this method in JIT. What `methodTypeTableEntryAddress` and `callSiteTableEntryAddress` would return is the location of the entries, so while the entry itself will be NULL in unresolved case, the address for the entry is not NULL. What `methodTypeTableEntryAddress` returned was `

[2021-04-19 23:18] #12426 closed

[2021-04-20 01:45] 0xdaryl commented on #12426
Thanks for following up @nbhuiyan.

[2021-04-20 02:21] JasonFengJ9 opened #12477 "JDK11 cmdLineTest_J9test_console_0_FAILED"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.functional_ppc64_aix_testList_2/16/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=cmdLineTest_J9test_console_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_extended.functional_ppc64_aix&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NO

[2021-04-20 02:26] JasonFengJ9 opened #12478 "JDK11 testRASAPI_0_FAILED - AssertionFailedError: The timestamp from the javacore was not between the timestamps taken before and after we took the dump"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.functional_ppc64_aix_testList_2/16/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=testRASAPI_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_extended.functional_ppc64_aix&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp

[2021-04-20 02:31] JasonFengJ9 opened #12479 "JDK11 AIX renaissance-als_0_FAILED - LoginException: No LoginModule found for com.ibm.security.auth.module.AIX64LoginModule"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.perf_ppc64_aix/7/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=renaissance-als_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OWNER_BRAN

[2021-04-20 04:39] pshipton commented on #12477
This is an internal build error. The head stream was used for test material instead of the release branch. Adam is aware.

[2021-04-20 04:39] #12477 closed

[2021-04-20 04:43] pshipton commented on #12478
This is an internal machine issue, see runtimes/infrastructure/issues/5219. Also see runtimes/infrastructure/issues/5380 for the release trial triage.

[2021-04-20 04:43] #12478 closed

[2021-04-20 07:32] andrew-m-leonard commented on #12464
@pshipton unfortunately as we used the weekend test run the artifacts are deleted if a subsequent pipeline is run, lesson for next time...
I've kicked off another one to see if it happens again: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-openj9/908/

[2021-04-20 07:50] Akira1Saitoh commented on #12466
Crash occurred when loading J9Class from `receiver` at `invokeinterfaceOffset`
https://github.com/eclipse/openj9/blob/b4cc246d9d2362346bc567861e6e0e536da3f390/runtime/vm/BytecodeInterpreter.hpp#L6871

`_sp` was 0x1885E0 (in x26)
`_literals` was 0x20EE30 (in x1, `org/testng/internal/Invoker.noListenersPresent()Z`)
`_pc` was 0xFFFF38141A93 (in x27, bytecode index 11)
receiver was loaded from stack a

[2021-04-20 10:29] #10180 closed

[2021-04-20 10:29] #10181 closed

[2021-04-20 11:57] #12468 closed

[2021-04-20 12:44] JasonFengJ9 opened #12480 "java/nio/channels/FileChannel/directio/DirectIOTest.java - BufferOverflowException"
Failure link
------------

From an internal build `job/Test_openjdk16_j9_extended.openjdk_ppc64le_linux/5/`
sles15le-rt1-2
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_nio_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&

[2021-04-20 12:51] pshipton commented on #12442
job/Test_openjdk16_j9_sanity.functional_x86-64_linux_Personal_testList_1/59
[code]

[2021-04-20 12:54] pshipton commented on #12442
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64le_linux_Nightly_testList_1/284
testJITServer_0
[code]

[2021-04-20 12:58] pshipton commented on #10489
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_1/106 - ub16p8j94
DaaLoadTest_daa2_CS_5m_0
variation: -Xgcpolicy:gencon -Xgc:concurrentScavenge
JVM_OPTIONS:  -Xgcpolicy:gencon -Xgc:concurrentScavenge

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_1/106/sys

[2021-04-20 12:59] pshipton commented on #10489
@dmitripivkine not sure if the previous comment is this same problem or not.

[2021-04-20 13:00] mpirvu commented on #12442
This defect (specifically the assert "Address outside of ROMClass") should be fixed by https://github.com/eclipse/openj9/pull/12474
" *** stack smashing detected ***" is a new symptom, but maybe it's still due to the same problem.
@dmitry-ten Could you please grind the test above and make sure we no longer see problems? Thanks

[2021-04-20 13:02] JasonFengJ9 opened #12481 "JDK17 jdk_other_0_FAILED - AssertionError: Should have GCd a class loader by now"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.openjdk_aarch64_linux/2/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_other_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OWNER_BRA

[2021-04-20 13:17] vijaysun-omr opened #12482 ""Portable" JIT code in snapshot mode"
If we want to generate JIT code before a snapshot is taken, we would probably need to make sure it is "portable JIT" code in a manner similar to what we do presently for "portable AOT" code since it will be persisted in container images and run on different CPU architecture versions. We would also likely need to generate JITed code that is portable across different compressed refs shifts so that w

[2021-04-20 13:17] JasonFengJ9 opened #12483 "JDK17 java/util/Random/RandomTestChiSquared.java - Failure of jdk.random.L64X1024MixRandom doubles(-59, -35)"
Failure link
------------

From an internal build `Test_openjdk17_j9_sanity.openjdk_ppc64_aix/14/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_util_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OWNER_BRANCH=Ad

[2021-04-20 13:18] vijaysun-omr commented on #12482
This is part of issue [https://github.com/OpenLiberty/open-liberty/issues/16384](url)

[2021-04-20 13:32] vijaysun-omr opened #12484 "Deal with differences between snapshot creation and restore environments"
There could be differences between the environment where a snapshot gets created and the environment where the snapshot gets restored and run.

These differences could be related to:
1) Number of CPUs : affects thread counts in both the JVM (GC and JIT) and potentially the application (e.g. Liberty thread pool) if these are based on initialization done when the snapshot is created
2) Amount of RAM

[2021-04-20 13:35] pshipton commented on #9782
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly_testList_0/291
osx1011-x86-2
J9vmTest_0
variation: Mode110
JVM_OPTIONS:  -Xjit -Xgcpolicy:gencon -Xnocompressedrefs

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly_testList_0/291/functional_test_output.tar.gz
[code]

[2021-04-20 13:41] pshipton commented on #9124
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/328
osx1011-x86-2
jdk_util_1
01:44:30  variation: -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache Mode650
01:44:30  JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops
java/util/logging/Logger/

[2021-04-20 13:44] JamesKingdon commented on #9782
I wonder why this only shows up on Mac. I don't think we have anything in our current theories that is OS specific.

[2021-04-20 13:46] dsouzai opened #12485 "Use RAII for j9thread_monitor_enter/j9thread_monitor_exit"
Similar how `TR::Monitor`s are wrapped in the `OMR::CriticalSection` RAII object and VMAccess acquire/release is wrapped in the `TR::VMAccessCriticalSection`, calls to `j9thread_monitor_enter`/`j9thread_monitor_exit` should be wrapped in a new RAII object that acquires the lock in the constructor and releases it in its destructor.

[2021-04-20 13:49] vijaysun-omr commented on #12484
This is part of issue [16384](https://github.com/OpenLiberty/open-liberty/issues/16384)

[2021-04-20 14:00] vijaysun-omr opened #12487 "Explore doing a GC compaction before taking snapshot"
Doing a GC compaction may be one way of reducing the size of the snapshot that gets generated. This expectation needs to be validated first and then depending on the results we may need to consider doing a compaction and/or any other GC optimization we feel would be appropriate to either reduce the size of the snapshot or to improve the performance after restore.

Another possible pre-snapshot opt

[2021-04-20 14:01] vijaysun-omr commented on #12487
This is part of issue [16384](https://github.com/OpenLiberty/open-liberty/issues/16384)

[2021-04-20 14:19] dmitripivkine commented on #10489
Looks likes this is the same problem - crash at Ownable Synchronizers scan:
[code]

[2021-04-20 15:25] gacholio commented on #9782
@liqunl is on leave - someone else will need to look at this.

[2021-04-20 15:44] pshipton commented on #9782
Note that it's not only Mac specific, it seems to be specific to one machine osx1011-x86-2

[2021-04-20 15:47] liqunl commented on #9782
Will take a look at the latest core dump if I have time this week, otherwise @0xdaryl will take over this issue.

We can probably try to reproduce the defect on osx1011-x86-2

[2021-04-20 15:59] vijaysun-omr opened #12490 "java/util/Random default constructor behaviour in snapshot mode"
Restoring from a given snapshot that has a java/util/Random seeded with the same value will result in the same sequence of random numbers generated when using the `nextInt` API as one example (there are others). This is guaranteed by the API doc at : https://docs.oracle.com/javase/8/docs/api/java/util/Random.html

This makes the behaviour of java/util/Random tricky for the default constructor API

[2021-04-20 16:02] vijaysun-omr commented on #12490
This is part of issue [16384](https://github.com/OpenLiberty/open-liberty/issues/16384)

[2021-04-20 17:16] pshipton commented on #12480
Pls grind and get a failure rate.

[2021-04-20 17:34] gacholio commented on #12464
The crash is in a JNI callback from native ` org/fusesource/leveldbjni/internal/NativeDB$DBJNI.Get(JLorg/fusesource/leveldbjni/internal/NativeReadOptions;Lorg/fusesource/leveldbjni/internal/NativeSlice;J)J `.

On the stack is a JNI local ref to class `org/fusesource/leveldbjni/internal/NativeReadOptions`.

[2021-04-20 17:36] dsouzai opened #12491 "Document interactions between VMAccess, Class Unload Mutex, and Compilation Monitor"
The process of starting a compilation involves an intricate dance of these three means of concurrency control; incorrectly acquiring/releasing them can lead to extremely hard to debug race conditions. Therefore, the current process and subtleties should be documented.

[2021-04-20 17:41] dsouzai opened #12492 "Document Compilation Entry Control Logic"
The process of deciding what to compile when is somewhat simple in that it's based on invocation counts; however, these counts can also be decremented via sampling.

Additionally, the more complicated procedure is deciding what the optimization level should be. This depends on whether the JVM thinks the application is in startup, whether the compilation is an AOT compilation, sampling, etc.

Both

[2021-04-20 17:45] dsouzai opened #12493 "Document Sync & Async compilation process"
The sequence that occurs for an async compile is different from a sync compile. The process for both of these types of compilation should be documented.

[2021-04-20 17:48] dsouzai opened #12494 "Discussion: Compilation on Application Thread"
There exists code to perform a compilation on an application thread - this means that the java thread will stop running java code, start executing code in the libj9jit dll, compile the method, and then start executing said method. However, this does not happen by default and therefore is highly untested.

I'm opening this issue to discuss whether there is any real benefit to keeping this code arou

[2021-04-20 17:48] dsouzai commented on #12494
@mpirvu @vijaysun-omr @mstoodle could you provide your opinions on the matter?

[2021-04-20 17:51] dsouzai opened #12495 "Document the Low Priority Compilation Queue"
By default compilation entries are placed on the Compilation Queue. However, there also exists a Low Priority Queue. The circumstances under which entries are added to this queue and compiled from this queue should be documented.

[2021-04-20 17:53] dsouzai opened #12496 "Refactor TR::CompilationInfoPerThreadBase::wrappedCompile"
`TR::CompilationInfoPerThreadBase::wrappedCompile` is a ridiculously big method. A lot of the code within should be moved into smaller functions.

[2021-04-20 17:58] dsouzai opened #12497 "Document the true structure of the J9JITExceptionTable"
The `J9JITExceptionTable` is a struct that holds more than just the Exception Table (despite its name - hence why in part of the code you may see `TR_MetaData` which is an alias). The exact structure of the exception table is not documented anywhere - the only way to determine what is stored is to read the code in MetaData.cpp.

[2021-04-20 18:01] dsouzai opened #12498 "Delete dead code in CompilationThread.cpp"
There are several methods, for example
[code]
etc. that aren't used anywhere; these should be cleaned up.

[2021-04-20 18:04] gacholio opened #12499 "DDR and runtime vmcheck do not handle lambda classes"
[code]
This particular instance is from Java 8.

The same error appears to exist in the runtime vmcheck (by inspection - I haven't run it).

[2021-04-20 18:06] dsouzai opened #12500 "Discussion: TR_OrderCompiles"
Opening this issue to discuss whether we still need this code. It's not on by default and I don't think we test this stuff anywhere.

[2021-04-20 18:07] dsouzai commented on #12500
@mpirvu for your comment.

[2021-04-20 18:13] gacholio commented on #12464
Can't find anything else using DDR.

[2021-04-20 18:15] dsouzai opened #12502 "Document Sequence of Compiler Options Processing"
The sequence in which global options in the compiler are set is not easy to understand; this is partly because some of the code that runs is in OMR, and partly because there are some options that are pre-set before parsing the options string, and then some that are post-set. This whole sequence should be documented.

[2021-04-20 18:17] mpirvu commented on #12500
`TR_OrderCompiles` never worked perfectly, which is why it didn't get much usage. I am ok with deleting that code.

[2021-04-20 18:20] dsouzai opened #12503 "Discussion: Allow multiple -Xjit args"
Basically every component in OpenJ9 allows the user to specify the option prefex multiple times (for example the GC: `-Xgc:verbose -Xgc:concurrentScavenge` will result in both options getting applied). Additionally, having the ability to specify the option more than once without fear of the second overriding the first in its entirety is pretty standard behaviour; what we do is actually highly unin

[2021-04-20 18:21] mpirvu commented on #12494
Some time ago I wanted to delete this code, but Mark pointed out something (which I don't remember now) that changed my mind. I believe the code is still exercised in Jartester.

[2021-04-20 18:25] dsouzai opened #12504 "Refactor J9::Options::fePreProcess"
`J9::Options::fePreProcess` is ridiculously big; a lot of it can naturally be split up into smaller methods.

[2021-04-20 18:32] dsouzai opened #12505 "Document DLT"
Dynamic Loop Transfer, or DLT, is the inverse of OSR - an application thread will transition from the middle of an interpreted method into the middle of a JIT compiled method. This entire process is undocumented (the control logic, the transition, and the generated code).

[2021-04-20 18:36] dsouzai opened #12506 "Document compiler bootstrap process"
The VM uses a staged bootstrapping mechanism; the compiler will initialize different parts depending on what stage of bootstrap the VM is in. Document this process of initialization.

[2021-04-20 18:41] dsouzai opened #12507 "Document JIT State Logic"
The compiler maintains a state machine to represent various execution states:
[code]
The control logic will vary depending on what state the JIT thinks the execution is in. Therefore, the states and what they represent should be documented.

[2021-04-20 18:43] dsouzai opened #12508 "Refactor jitStateLogic"
`jitStateLogic` is a ridiculously big function; each state within it should be refactored into its own helper function.

[2021-04-20 18:47] dsouzai opened #12509 "Document the IProfiler"
The IProfiler stands for Interpreter Profiler; it parses profiling information provided by the interpreter and stores it for use by the compiler when making certain decisions (for example, determining which implementation of an interface method should be inlined). Additionally the IProfiler has the ability to store its profiling information into the SCC for use in another JVM instance.

The IProfi

[2021-04-20 18:52] vijaysun-omr opened #12510 "Test CRIU functionality on OCP"
This issue is a placeholder for doing some basic functional and performance testing using Java test cases and CRIU on OCP.

[2021-04-20 18:54] keithc-ca commented on #12397
A sample of the final version:
[code]

[2021-04-20 18:54] vijaysun-omr commented on #12510
This is part of issue [16384](https://github.com/OpenLiberty/open-liberty/issues/16384)

[2021-04-20 18:58] dsouzai opened #12511 "Document the Sample Thread"
The Sampler Thread is, in some ways, a kind of clock in the compiler. It is responsible for triggering the sampling of methods [1], the changing of the jit state, and a bunch of other smaller tasks. Therefore, this thread deserves its own documentation.

[1] https://github.com/eclipse/openj9/blob/master/doc/compiler/runtime/Recompilation.md#sampling

[2021-04-20 19:01] mstoodle commented on #12503
Except for the fact that we've been consistently doing it this way for 20 years :) .  Are you sure another group of people (our existing users, for example) won't find the reverse to be highly unintuitive and cause all sorts of unintended behaviour ?

Scripts anywhere (not just tests, but any kind of Java deployment) can be (accidentally? intentionally) relying on multiple JIT options *not* being

[2021-04-20 19:08] JamesKingdon commented on #12503
Definitely on the service side we are continually fighting with Xjit options not being correctly applied because the customers expect to be able to use multiple copies and have them sensibly merged.

[2021-04-20 19:18] klangman commented on #12503
We constant have to put warnings in our messages to customers about using -Xjit because they mess it up so often. They mess it up an ways that any reasonable administrator would expect to work.

[2021-04-20 19:23] tajila opened #12512 "Doc: Increase default OS stackspace on AIX"
The defaul OS stack size on AIX 64bit is being increased from 256jb to 512kb.

See https://github.com/eclipse/openj9/pull/12501

[2021-04-20 19:24] dsouzai commented on #12503
I'm not the first one to bring this up; every time the topic has been brought up in the past, the argument has always been that existing things depend on the behaviour (which I think is a pretty weak argument given that the compiler options were never documented and were always a "use at your own risk" thing). My point of this is, just because we've done it consistently doesn't mean it's intuitive

[2021-04-20 19:30] fjeremic commented on #12503
If we concatenate options what happens if someone writes:

1. `-Xjit:disableIdiomRecognition -Xjit:enableIdiomRecognition`
2. `-Xjit:{MyClass.foo()V}(traceFull,log=foo.trace) -Xjit:{MyClass.foo()V}()`

For comparison if you write `-Xdump:none -Xdump:system+java -Xdump:none -Xdump:jit:events=vmstop` only a JitDump will be generated at `vmstop` event.

[2021-04-20 19:33] dsouzai commented on #12503
1. I imagine the same as if someone did `-Xjit:disableIdiomRecognition,enableIdiomRecognition` - hopefully we enable it lol
2. I don't know what happens if you did `-Xjit:{method}(...),{method}()`...knowing our options processing, we probably crash...

[2021-04-20 19:39] klangman commented on #12503
In the past we would have made a change of this nature in a new major release. That is not so easy to do in our current development model so I think we would just have to bite the bullet and take some pain to arrive a a better place in the future.

[2021-04-20 19:40] dsouzai commented on #12503
Shockingly, does not crash! It will open a trace log but it won't write to it. Colour me surprised.

[2021-04-20 20:49] fjeremic opened #12516 "Consolidate suppressInliningOfRecognizedMethod and supressInliningRecognizedInitialCallee"
As part of a review we noticed there are redundant lists for suppressing the inlining of certain methods. We should look to consolidate this list or perhaps create a very clear separation of where a recognized method should go.

[1] https://github.com/eclipse/openj9/pull/2462#discussion_r204856507

[2021-04-20 20:57] keithc-ca commented on #12295
Looking at the core file I received, the first entry in the system properties pool is
[code]
The first field is a pointer to the property name
[code]
That is a valid address according to the memory map
[code]
Perhaps with AIX 7.2 some changes are required to produce a core file with all section, (like on Linux where all pages are marked writable so they're included; see [omrosdump.c](https://githu

[2021-04-21 05:43] SueChaplain commented on #12512
@tajila - the process is to open a new issue in the openj9-docs repo, and assign the label to the openj9 issue for this as `docs:externals`, per the contributing guide. That way we get the correct info via a template and track the changes independently from the issues list here. Please open here: https://github.com/eclipse/openj9-docs/issues/new?assignees=&labels=&template=new-documentation-change

[2021-04-21 11:46] JasonFengJ9 commented on #12480
10x grinder (Test_grinder/job/Grinder/14868/) all passed.

[2021-04-21 11:57] 0xdaryl opened #12518 "AArch64: Enable supportsInliningOfIsInstance"
Inlining the `java/lang/Class.isInstance` needs to be enabled on AArch64.  It is gated by the CodeGenerator flag `supportsInliningOfIsInstance()`.  Investigate what needs to be done to enable it.

[2021-04-21 11:57] 0xdaryl commented on #5455
Enable CodeGenerator `supportsInliningOfIsInstance`: AArch64 (#12518)

[2021-04-21 13:37] dsouzai opened #12519 "Discussion: TR::CompilationTracingFacility"
`TR::CompilationTracingFacility` isn't really used anywhere except in DebugExt. Can this be cleaned up?

[2021-04-21 13:52] dsouzai opened #12520 "Discussion: Remove DebugExt"
DebugExt is short for Debugger Extensions. However, unlike something like DDR that knows how to read VM structures based on symbols / the blob information, DebugExt essentially reuses compiler routines to print out the structures, rather than say symbols from the DLL. This is not sustainable because when the compiler changes some structure, one has to just know whether DebugExt is affected - in or

[2021-04-21 13:52] dsouzai commented on #12520
@JamesKingdon @klangman could you guys give a service perspective on this?

[2021-04-21 13:56] tajila commented on #12512
thanks @SueChaplain Ill make those changes

[2021-04-21 13:59] JamesKingdon commented on #12520
I haven't used the debug extensions in many years. They were unreliable at best in my experience.

[2021-04-21 14:16] dsouzai opened #12521 "Document JITDump"
Document how the JITDump works, as well as how to configure it via the newly added `-Xdump` options.

[2021-04-21 14:31] klangman commented on #12520
I also haven't used the debugger extensions in a long time. But I would say we don't have a great solution for dumping IL from a core file currently.

[2021-04-21 14:37] fjeremic commented on #12520
I've tried to use them many years ago but it was broken at that time. JitDump largely solves this problem though by printing the IL from within the same running process. I'm in favor of deprecating it.

[2021-04-21 16:31] 0xdaryl commented on #12503
I think any change to the public-facing options behaviour needs to be done carefully with a transition plan in mind.  I am open-minded to change if it makes sense, but there has to be a plan that includes a timeline and communication to existing consumers of OpenJ9.

I don't think the OpenJ9 project has a documented policy and process for deprecating external features or modifying externally-visib

[2021-04-21 17:00] andrew-m-leonard commented on #12219
@pshipton and again on GA build: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.perf_ppc64_aix/17/consoleFull

[2021-04-21 17:03] andrew-m-leonard commented on #12219
and https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.perf_ppc64le_linux/18/console

[2021-04-21 17:09] pshipton commented on #12219
@tajila fyi

[2021-04-21 17:16] andrew-m-leonard commented on #10732
@pshipton occurrence on GA build: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.functional_aarch64_linux/141/consoleFull

[2021-04-21 17:25] dmitry-ten commented on #11923
The test currently fails due to #12162 not supporting JITServer.
Currently working on a fix.

[2021-04-21 17:50] klangman commented on #12503
Maybe we need to invent a new option and deprecate -Xjit. We could even stop supporting -Xjit on everything newer then JavaXX then at some point it will be dead code that can be safely removed.

[2021-04-21 17:59] pshipton commented on #12219
Running with a bigger Java stack `-Xss3m` doesn't help https://ci.eclipse.org/openj9/view/Test/job/Grinder/1748/

Using `-Dcom.ibm.enableClassCaching=false` seems to fix it https://ci.eclipse.org/openj9/view/Test/job/Grinder/1751

[2021-04-21 18:26] liqunl commented on #10618
FYI @jdmpapin

[2021-04-21 18:26] keithc-ca opened #12524 "MethodHandle changes required for jdk17"
The openj9-staging branch of jdknext does not compile:
[code]
I had hoped it was just a matter of defining some new stubs, but it seems that
* 8265135: Reduce work initializing VarForms

delays initialization of `VarForm.memberName_table` which leads to NPEs in the `VarHandle` constructor because (`setter` is null) here:
[code]
This will need help from someone more familiar with the interaction be

[2021-04-21 20:03] tajila commented on #12219
I'm running with another grinder with `-Xint`, https://ci.eclipse.org/openj9/view/Test/job/Grinder/1752/.

Just wondering if the presence of thunk_archetype frames causing increased usage of the java stack

[2021-04-21 21:12] tajila commented on #12219
`-Xint` fails, https://ci.eclipse.org/openj9/view/Test/job/Grinder/1752/
`-Xss8m` passes, https://ci.eclipse.org/openj9/view/Test/job/Grinder/1753/
`-Xmso8m` passes, https://ci.eclipse.org/openj9/view/Test/job/Grinder/1754

[2021-04-21 22:31] dmitry-ten commented on #11923
#12525 should enable this test to pass.

[2021-04-22 00:05] 0xdaryl commented on #12520
I used to use the debugger extensions many years ago (before open source), but found that they were somewhat fragile and relied on developers keeping the dumping functions up-to-date.  I think they will need some work to get them in shape to be useful, and then there is an ongoing maintenance cost to keep them current.  I'm in favour of deprecating too.

[2021-04-22 02:32] pshipton commented on #12524
@babsingh @tajila fyi

[2021-04-22 02:38] pshipton commented on #12219
@tajila note `-Dcom.ibm.enableClassCaching` isn't the shared cache, it's the LUDCL optimization in ObjectInputStream.
https://www.eclipse.org/openj9/docs/dcomibmenableclasscaching/

[2021-04-22 10:22] lumpfish opened #12526 "jdk16 osx cmdLineTester_SCURLHelperTests_90_1 Port Library failed to initialize: -1"
sanity.functional test cmdLineTester_SCURLHelperTests_90_1 failed on the jdk16 osx release build.

Build:
[code]

Output of failing test:
[code]

[2021-04-22 11:36] lumpfish commented on #11979
Seen on AdoptOpenJDK x86-64_windows jdk16 release build; https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_sanity.functional_x86-64_windows/60/consoleFull
[code]
[code]

[2021-04-22 11:44] lumpfish opened #12527 "jdk16 x86-64_windows cmdLineTester_GCRegressionTests_1 Fails with unexpected core files found"
Build:
[code]
Failure link: https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_sanity.functional_x86-64_windows/60/consoleFull

The test output suggests core files were found which were not expected.  I can't find a record of the failure having been seen before.
[code]

[2021-04-22 12:54] tajila commented on #12219
https://www.eclipse.org/openj9/docs/dcomibmenableclasscaching/

Okay thanks, that makes more sense now.

-Xmso1m passes, https://ci.eclipse.org/openj9/view/Test/job/Grinder/1754

This is looking like the other AIX native stackoverflow failure.

[2021-04-22 13:09] pshipton commented on #12219
The 0.26 stream doesn't save the vector registers so I don't think this is the same cause.

[2021-04-22 13:16] pshipton commented on #12527
@dmitripivkine can you pls take a look. The javacores indicate there is OOM in a couple of the tests.

pid 7372
[code]

pid 22944
[code]

[2021-04-22 13:40] tajila commented on #12219
Fails with -Xms0512k, https://ci.eclipse.org/openj9/view/Test/job/Grinder/1756/

[2021-04-22 13:52] pshipton commented on #12219
The 0.24 release has the same stack overflow behavior, so it's not a regression from the last release.
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1757

[2021-04-22 14:11] pshipton commented on #12527
@lumpfish or @andrew-m-leonard can you pls grind the failing test and see how reproducible this is on various machines.

[2021-04-22 14:30] vijaysun-omr commented on #12487
Some observations:

1. The size of the CRIU snapshot did not get affected if I ran with -Xms specified or not by default. Maybe this was because the simple program that I had did not grow the heap enough for the default vs explicit -Xms setting to matter. But the CRIU snapshot size does seem to be dependent on the amount of memory that was actually touched rather than the overall maximum size (-Xm

[2021-04-22 14:31] andrew-m-leonard commented on #12527
Several Grinders:
https://ci.adoptopenjdk.net/job/Grinder/286/
https://ci.adoptopenjdk.net/job/Grinder/289/
https://ci.adoptopenjdk.net/job/Grinder/290/

[2021-04-22 14:32] pshipton commented on #12480
Another one on Java 11.
job/Test_openjdk11_j9_extended.openjdk_ppc64le_linux/10
sles12le-rt1-1

I wonder if the failure is specific to certain machines.

[2021-04-22 14:36] lumpfish commented on #12190
Similar failures seen on ppc64_aix jdk16:
Build:
[code]
[code]

[2021-04-22 14:49] hzongaro commented on #11899
Although I reported that the problem disappeared with `-Xjit:enableAggressiveLiveness`, I'm now unsure whether that might just be a coincidence as the problem seems to disappear with almost any options specified, like `-Xjit:verbose`

[2021-04-22 16:17] pshipton commented on #12527
The problem doesn't reproduce on the OpenJ9 machines, which are all the same anyway. I tried 4 different machines.
https://ci.eclipse.org/openj9/job/Grinder/1761 - 1764

[2021-04-22 17:34] dmitripivkine commented on #12527
I looked through the files, nothing looks obviously wrong. This is Balanced on very small heap `-Xmx4m` so there are only 8 regions available. And if GC can not free at least one region for Eden the OOM is thrown

[2021-04-22 17:35] pshipton commented on #12527
Should we increase the -Xmx and try again on the Adopt machines? Or would increasing the -Xmx invalidate the test?

[2021-04-22 17:36] dmitripivkine commented on #12527
one observation (may be unrelated): there are boot directories are specified for all Java versions but not for Java 16:
[code]

[2021-04-22 17:37] fjeremic opened #12533 "Proposal: Deprecate Decimal Floating Point (DFP) related support"
## Background

[Decimal Floating Point](https://en.wikipedia.org/wiki/Decimal_floating_point#:~:text=Decimal%20floating%2Dpoint%20(DFP),on%20decimal%20floating%2Dpoint%20numbers.&text=The%20advantage%20of%20decimal%20floating,much%20wider%20range%20of%20values.) (DFP) support within JVM is primarily contained within the BigDecimal class. The idea was that we could implement a series of APIs which

[2021-04-22 17:37] pshipton commented on #12527
I suspect that is just because Adopt isn't using jdk16 to boot jdk16 builds atm.

[2021-04-22 17:37] dmitripivkine commented on #12527
I think we can increase `-Xmx` safely, it should not invalidate test

[2021-04-22 17:38] pshipton commented on #12527
Do you have a preference? 6m, 8m?

[2021-04-22 17:39] dmitripivkine commented on #12527
8m sounds ok... Is it for all modes or Balanced only?

[2021-04-22 17:40] pshipton commented on #12527
I'll create a commit to increase the two failing sub-tests with balanced and ask for a grinder on that on the Adopt machines.

[2021-04-22 17:41] fjeremic commented on #12533
To give an idea of how invasive the code is and how much dead code we are talking about I've created draft PRs in eclipse/omr#5954 and eclipse/openj9#12534 which deprecate much of the code. Note that this was just a quick and dirty pass through the codebase. If we agree to the proposal I think it will have to be done piecemeal so we can properly review the code as DFP manages to entangle itself in

[2021-04-22 17:45] dsouzai commented on #12533
+1 to deprecate; if it's not enabled by default and not tested, it should be deleted.

[2021-04-22 17:46] pshipton commented on #12527
Well now I've looked at the test and see what you mean. The easiest is to increase to 8MB across the board. If we only want to increase balanced I need to change how the tests works. And if we only want to change the failing tests with balanced, I need to change it more.

I'll start with changing them all to 8MB so we can confirm it passes with this value.

[2021-04-22 17:50] tajila commented on #12524
We may need to switch over to ojdkmh earlier that anticipated, @babsingh will provide the details

[2021-04-22 17:52] pshipton commented on #12527
@andrew-m-leonard pls run some grinders using https://github.com/pshipton/openj9 and branch `gcreg` to see if this resolves the failures.

[2021-04-22 17:58] pshipton commented on #12527
I'll note the test is running in the following modes but only failing in Mode501, although it also uses -Xint which overrides the -Xjit.
[code]

[2021-04-22 18:58] 0xdaryl commented on #12533
If this code is effectively dead (and has been for some time), not accessible to existing users, and we see no immediate future value in it then I'm in favour of removing it.

[2021-04-22 19:01] andrew-m-leonard commented on #12527
@pshipton running grinders from your gcreg branch here:
https://ci.adoptopenjdk.net/job/Grinder/299/
https://ci.adoptopenjdk.net/job/Grinder/300/
https://ci.adoptopenjdk.net/job/Grinder/301/
https://ci.adoptopenjdk.net/job/Grinder/302/

[2021-04-22 19:11] JasonFengJ9 commented on #12480
3x grinder at `sles15le-rt1-2` all failed (`Test_grinder/job/Grinder/14942`).

[2021-04-22 19:54] andrew-m-leonard commented on #12527
@pshipton All 4 Grinders passed, so your change seems good.

[2021-04-22 20:15] #12527 closed

[2021-04-22 22:15] babsingh commented on #12524
Updating OpenJ9 MHs to support the latest JDKnext changes is not feasible. We do not have the resources.

Proposed fix: https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/308

This will enable OJDK MHs for OpenJ9 JDKnext (JDK17) by default.
The JDK will compile successfully.
There will be functional failures in test targets, which can be disabled until they are fixed. Or we can allow failing t

[2021-04-22 22:20] pshipton commented on #12480
That suggests it's either a machine problem, or a sles problem.

[2021-04-22 22:29] pshipton commented on #12524
Acceptance build running https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK-Acceptance/507/

[2021-04-22 22:34] joransiu opened #12538 ""Processor detected does not support instruction AGHIK" assertion on Linux on Z"
Java -version output
--------------------

8.0.6.26 - pxz6480sr6fp26-20210216_01(SR6 FP26)

Summary of problem
------------------

Assertion during compilation around use of AGHIK.
[code]

AGHIK is a z196 instruction.  From our build options, we currently set min arch to z9 [1].

We have two unconditional uses of AGHIK in `multianewArrayEvaluator` [2][3] -- these will need to be guarded with archi

[2021-04-22 22:36] pshipton commented on #12524
I think the best approach is to exclude the failures until they are fixed. There is typically new jdknext material every night, resulting in an acceptance build. Somebody would have to look at each acceptance build and evaluate the failures to determine if the level could be manually promoted or if there were new unexpected failures.

The other possibility is to leave the jdknext openj9 branch as

[2021-04-22 22:37] babsingh opened #12539 "OJDK MH: NoSuchMethodError: VarHandle.get(...)"
### Error

`NoSuchMethodError` thrown from `MethodHandleResolver.getCPMethodHandleAt`.

[code]

### Initial Investigation

`VarHandle.get` is a `VarHandle MH/VH polymorphic method`. The above stack suggests that `invokedynamic` is invoked on `VarHandle.get`, which should never happen. For MH/VH `polymorphic` methods, the correct bytecode is `invokevirtual` which gets rewritten to `invokehandle`. H

[2021-04-22 23:11] vijaysun-omr commented on #12487
5. I also changed my small test to have a sleep for 30 seconds where I run with options `-XX:+IdleTuningGcOnIdle -XX:+IdleTuningCompactOnIdle -XX:IdleTuningMinIdleWaitTime=10 -Xjit:waitTimeToEnterDeepIdleMode=20000 ` to push OpenJ9 into idle state and then rely on the GC to 1) compact and 2) contract and 3) release free pages back to the OS in an effort to see if the snapshot size is small in this

[2021-04-23 00:38] james-crowley commented on #12538
@joransiu Adding some more information for you.

Info below is on a z15 running Ubuntu. I will post information about the host and information inside the Docker container(aka where I was hitting the issue. Haven't tried in on the VM itself).

Please note the error was also hit on a z14.

Output of `/proc/cpuinfo` on **host**:

[code]

The output of `/proc/cpuinfo` inside the container(running on *

[2021-04-23 01:07] joransiu commented on #10619
Closing this issue, as the #pragmas need to go into the compile unit with the main() method -- i.e. java launcher.

[2021-04-23 01:07] #10619 closed

[2021-04-23 01:30] joransiu commented on #12538
Thanks @james-crowley.  Confirmed that the problematic method was an AOT warm compilation of:

(AOT warm) Compiling java/lang/reflect/Executable.sharedGetParameterAnnotations([Ljava/lang/Class;[B)[[Ljava/lang/annotation/Annotation;  OrdinaryMethod j9m=00000000005DE940 t=3289 compThreadID=0 memLimit=262144 KB freePhysicalMemory=7369 MB

From a failing trace log, we were evaluating:

[code]

[2021-04-23 03:29] pshipton commented on #12524
There are quite a few failures still. Also 300MB+ artifacts from each failed run.
[code]

[2021-04-23 03:33] pshipton commented on #12524
I've disabled the acceptance build for the moment, we can't run it regularly in this state.

[2021-04-23 03:43] pshipton commented on #12190
@gita-omr fyi

[2021-04-23 12:44] gita-omr commented on #12190
@0xdaryl could somebody in the common team take a look? I think we mostly need to know if the tests ever finish. If indeed they hang, it’s most likely some general bug since right now we treat vector code as any other Java code.

[2021-04-23 13:31] dsouzai opened #12541 "Refactor samplerThreadProc"
`samplerThreadProc` is the function that the Sampler Thread executes in a loop. It does different tasks depending at different periods of time. Each of these periods should be refactored into their own function so that it's conceptually easier to understand.

[2021-04-23 13:52] fjeremic commented on #12538
@dchopra001 as an expert in this area of code could you please look into this one?

[2021-04-23 14:43] kgibm opened #12542 "Feature request: add unique object ID -Xtrace constructor output and make available in DTFJ"
As background, -Xtrace method trace on a class constructor along with a jstacktrace trigger is a great way to find who is leaking something. This is particularly useful for issues such as objects that aren't closed by an application properly and end up accumulating in a finalizer list so that it's difficult to figure out who created or owns the objects by the time of the OOM as they're all just GC

[2021-04-23 14:57] georgejxu commented on #12542
do we need to consider multiple constructor situation? agree performance is not a concern and we only track certain object so the scope is small.

[2021-04-23 14:58] DanHeidinga commented on #12542
JVMTI already gives you the capability to associate tags with objects - https://docs.oracle.com/javase/7/docs/platform/jvmti/jvmti.html#SetTag

If performance isn't a concern, then this can be handled by writing an agent that uses capabilities already present in jvmti

[2021-04-23 15:05] kgibm commented on #12542
@DanHeidinga Interesting, thanks Dan. We would still like the integration into -Xtrace to print that tag as otherwise we're back to the same point of no way to correlate GC roots on a finalizer list to -Xtrace jstacktrace. Maybe -Xtrace itself could call the SetTag lazily on the constructor.

@georgejxu Each -Xtrace method entry line is unique for each instantiation.

[2021-04-23 15:18] howlger commented on #12460
In [jdk-16.0.1+9_openj9-0.26.0](https://github.com/eclipse/openj9/releases/tag/openj9-0.26.0) the issue is fixed for me  (verified with `OpenJDK16U-jdk_x64_windows_openj9_16.0.1_9_openj9-0.26.0.zip`).

Thanks!

[2021-04-23 15:18] #12460 closed

[2021-04-23 15:34] pshipton commented on #12542
@keithc-ca @tajila fyi. I've assigned it to the backlog for now.

[2021-04-23 16:01] fjeremic commented on #12533
@gita-omr @zl-wang @joransiu @vijaysun-omr FYI if you have any concerns here.

[2021-04-23 16:02] DanHeidinga commented on #12542
@kgibm Once you're in the land of jvmti, it's infinitely more powerful than what trace can do which means you have complete control on what you want logged at each site.

Adding tags to objects - and printing them - is significantly beyond the intended design of `-Xtrace`.  It's meant to be a lightweight tracing mechanism, not replace JVMTI functionality.

That said, if you developed an agent that

[2021-04-23 16:27] joransiu commented on #12533
@fjeremic : Just to confirm, you are referencing the lack of DFP scenarios in the convertBigDecimalToXX and convertXXToBigDecimal APIs in DataDecimal class -- hence, we should never be generating dfp related IL ops.

I somehow thought we attempted to exploit DFP in the past to accelerate some other DAA non-conversion operations (i.e. pd2dfp then dfp-to-String), but am not seeing it in the code now

[2021-04-23 16:28] kgibm commented on #12542
@DanHeidinga The JVMTI agent could do the tagging and print the stacks on method entry, but then we would have to rewrite many parts -Xtrace such as allowing the user to specify the methods to trace (with wildcards), the various triggers (for this use case, only jstacktrace is needed, but I could imagine where other dump types would be useful), the low-overhead method trace output files, rolling o

[2021-04-23 16:56] fjeremic commented on #12533
That's right. If you look at the WIP PRs which give the example of the code we're talking about, here are the recognized methods:

[code]

Only a few of these methods exist in the `DecimalData` class which can be found here:
https://github.com/eclipse/openj9/blob/b5cb6669757c51d8bf5eb9882ee396f4a4533502/jcl/src/openj9.dataaccess/share/classes/com/ibm/dataaccess/DecimalData.java

Looking at the lis

[2021-04-23 17:17] joransiu commented on #12533
Thanks @fjeremic.  No further concerns from me, and agree this is good cleanup.

[2021-04-23 17:28] georgejxu commented on #12542
I guess uuid does not get into the core, right? and would be nice if we have that. or still relies on address and method name.

[2021-04-23 17:39] kgibm commented on #12542
@georgejxu Right, unless there exists UUID code we would need to add that, so I didn't mean to imply that this would be a trivial change, but it seems surgical enough.

[2021-04-23 18:09] gacholio commented on #12446
I would be hesitant about changing the walker so that the frame iterator is called first, but you could try it if the scoped test is too complex.

[2021-04-23 18:24] DanHeidinga commented on #12542
I believe there are extensions for controlling trace from jvmti.  I think all the pieces are there they just need to be put together in the right sequence

[2021-04-23 18:32] georgejxu commented on #12542
I am hoping that we can generate an UI id from the existing information into the trace, and we can do the same thing in dtfj to generate the same information (aka an ID)... this way, we can avoid to inject information into the core itself.  Maybe this is easier or if it is possible.?

[2021-04-23 18:42] babsingh opened #12544 "[OJDK MH] ClassCastException: ConcurrentLinkedQueue$Node incompatible with VarHandleReferences$FieldInstanceReadWrite"
### Error

Test TAP Results: https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_ppc64le_linux_OpenJDK/367/tapResults/

The above build was run last night (22 Apr 21).

[code]

### Failing Test Targets

1. `jit_jitt_0` [sanity.functional]
2. `jit_jitt_1` [sanity.functional]
3. `jit_jitt_2` [sanity.functional]
4. `jit_jitt_3` [sanity.functional]

### How-to Run Tests?

https://g

[2021-04-23 18:42] babsingh commented on #12544
@nbhuiyan This failure looks identical to https://github.com/eclipse/openj9/issues/12427.
fyi @liqunl @jdmpapin

[2021-04-23 18:44] nbhuiyan commented on #12544
Looking into it

[2021-04-23 18:46] kgibm commented on #12542
@georgejxu I think what Dan is proposing is to have a separate agent which hooks into specified constructors, creates the UUID, sets the tag, prints out the tag to address mapping to trace, and then enable that custom tracepoint along with method entry for the specified constructors and jstacktrace trace points. Then we can correlate the UUID to the object address, and then correlate the object ad

[2021-04-23 19:05] keithc-ca opened #12545 "jdk17: New method declared in JavaLangAccess"
[code]
See https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/310#issuecomment-825859953.

[2021-04-23 19:07] babsingh commented on #12544
Also seen in
- https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_ppc64_aix_OpenJDK_testList_0/182/consoleFull
- https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_ppc64_aix_OpenJDK_testList_1/182/consoleFull

for test targets:
- `JCL_Test_JITHelpers_0`
- `JCL_Test_JITHelpers_1`

[2021-04-23 19:19] georgejxu commented on #12542
thanks @DanHeidinga ! got it @kgibm

[2021-04-23 19:20] JasonFengJ9 commented on #12545
I can have a look.

[2021-04-23 19:33] babsingh commented on #12524
A number of test targets are failing due to the same issue. Tracker summary:

1. Tracked by https://github.com/eclipse/openj9/issues/11927:
    - [test_RevealDirect_TargetVarargsAdaptor](https://github.com/eclipse/openj9/blob/6a123933eec829a8ae2d955679dd03da54af13ed/test/functional/Java8andUp/src/org/openj9/test/java/lang/invoke/Test_MethodHandleInfo.java#L658)
    - **Note:** @fengxue-IS is inves

[2021-04-23 19:40] pshipton commented on #12524
I think what we should do is just run one of these builds per week for the time being, so we can monitor the list of failures, but not be overwhelmed by builds and failure artifacts.

Atm since the latest changes were merged earlier today, the build is broken (unrelated to OMH https://github.com/eclipse/openj9/issues/12545), but Jason is looking and I don't expect it will take long to fix.

[2021-04-23 20:49] fengxue-IS commented on #11927
Verified against RI behavior with following micro-test:
[code]
OpenJ9 MH & OpenJDK Java11 both throw `java.lang.IllegalArgumentException: not a direct method handle`
OpenJDK 16 passed without any error

as this error is thrown by JCL code from `revealDirect()` call, I will test if OpenJ9 with OJDK MH Java 11 throws the same error as OpenJDK 11 to confirm this as JCL changes.
If so, we should inves

[2021-04-23 21:27] JasonFengJ9 commented on #12524
https://github.com/eclipse/openj9/pull/12547 is created to address https://github.com/eclipse/openj9/issues/12545 though it requires `JDK17 adopts RI java.lang.String` (https://github.com/eclipse/openj9/pull/12209)

[2021-04-23 21:59] liqunl commented on #9782
Took a look at core dump from https://github.com/eclipse/openj9/issues/9782#issuecomment-808233220

The crashed rep mov instruction is in compiled body of
https://github.com/eclipse/openj9/blob/9777787bfff1fcfe83ae15bb236e6a7a3743e5aa/test/functional/VM_Test/src/j9vm/test/arraycopy/MultiThreadedBackwardArrayCopyTest.java#L105-L111

However, I can't make any sense out of the core dump

we crash at

[2021-04-23 22:05] liqunl commented on #9782
I'll be on leave starting from next week. @0xdaryl has kindly offered to take care of this issue

[2021-04-23 22:07] JasonFengJ9 opened #12548 "JDK8 renaissance-future-genetic_0 NPE"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.perf_ppc64le_linux/44/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=renaissance-future-genetic_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;T

[2021-04-23 22:08] liqunl commented on #9782
For reference, the diagnostic checks are documented in #10028. The checks can be turned off in our tests by reverting https://github.com/adoptium/TKG/pull/104

[2021-04-23 22:10] liqunl commented on #10028
@0xdaryl This issue tracks all the changes added for the diagnostic checks for the bad DF flag issue. I'm closing it right now, if more checks are needed, it can be reopened and the new changes can be tracked here as well.

[2021-04-23 22:10] #10028 closed

[2021-04-24 06:19] 1a2s3d4f1 commented on #12346
The nightly build fix problem. close this issue.

[2021-04-24 06:19] #12346 closed

[2021-04-24 22:23] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/348
jdk_util_1
java/util/ResourceBundle/getBaseBundleName/TestGetBaseBundleName.java
java/util/ResourceBundle/modules/layer/LayerTest.java
java/util/ResourceBundle/modules/unnamed/UnNamedTest.java
java/util/regex/RegExTest.java

[2021-04-24 22:29] pshipton opened #12551 "jtreg java/util/BitSet/BitSetStreamTest java heap OOM 16784328 bytes requested"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/342
osx1014-x86-1
jdk_util_0
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops
java/util/BitSet/BitSetStreamTest.java

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_sanity.openjdk_x86-6

[2021-04-24 22:36] pshipton commented on #6552
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_special.system_s390x_linux_Personal_testList_4/9
DaaLoadTest_all_special_5m_25
variation: Mode110-OSRG
JVM_OPTIONS:  -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation -Xgcpolicy:gencon
[code]

[2021-04-25 14:59] JavaTailor opened #12552 "Multiple J9 implementations failed to throw NullPointerException"
### Summary
We found that multiple J9 implementations failed to handle NullPointerException correctly when declaring instance of java.lang.management.MemoryNotificationInfo and executed normally.

### How to reproduce?
We simplified the test case, and the bug can be summarized by a declaration statement, just put this declaration in an empty main function and execute it.
[code]

The correct output

[2021-04-25 16:28] a7ehuo opened #12553 "Enhance inline check for aaload and aastore in tree lowering"
This issue is to capture all the enhancement suggestions mentioned in the code review https://github.com/eclipse/openj9/pull/12422

1. Possible combination of the implementation of `lower{Load|Store}ArrayElement `: https://github.com/eclipse/openj9/pull/12422#discussion_r613409293

2. Generate `BNDCHK` in ILGEN and make it common for both the helper call block and the regular aaload/aastore block

[2021-04-25 16:30] a7ehuo commented on #12553
@hangshao0 FYI

[2021-04-26 11:29] JasonFengJ9 opened #12555 "80 FVT_Serviceability.diagnostics.dump_request - javacore-0001.txt: ERROR: Incorrect TITLE section length (Actual Len = 12 Expected Len = 9)"
Failure link
------------

From an internal ibuild `job_output.php?id=675841933`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

This appears an regression from last ibuild.
@keithc-ca any chance this is related to https://github.ibm.com/runtimes/openj9/commit/3c018d6d2cb093c74184935339d840b450bd3cd2

[2021-04-26 13:35] keithc-ca commented on #12555
Yes, I expect the test needs to be updated as the title section now has both `1TIDATETIME` and `1TIDATETIMEUTC` lines.

[2021-04-26 14:12] fjeremic commented on #12552
Looks like we're missing the checks here:
https://github.com/eclipse/openj9/blob/b3b4b7e6f048a970052a4e2fff4f7eedce1a4285/jcl/src/java.management/share/classes/java/lang/management/MemoryNotificationInfo.java#L76-L98

However the API spec. doesn't say anything about having to throw NPEs if the arguments are `NULL`. This is just a difference in implementation of OpenJ9 vs. HotSpot. I suppose we can

[2021-04-26 15:31] JasonFengJ9 commented on #12555
As per Keith's analysis, this is an internal test material fix, created `RTC 145237: OTT: 80 FVT_Serviceability.diagnostics.dump_request - javacore-0001.txt: ERROR: Incorrect TITLE section length (Actual Len = 12 Expected Len = 9).`

[2021-04-26 15:31] #12555 closed

[2021-04-26 16:09] dmitripivkine commented on #12346
@1a2s3d4f1 Thank you! Just to double check - did you add `-Xgc:dynamicBreadthFirstScanOrdering` option to your test case?

[2021-04-26 16:11] dmitripivkine commented on #12551
Yes, this looks odd. Investigating...

[2021-04-26 18:00] pshipton opened #12556 "jtreg jdk/internal/loader/ClassLoaderValue/ClassLoaderValueTest.java segfault vmState=0x00000000"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/350
jdk_lang_0
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops
jdk/internal/loader/ClassLoaderValue/ClassLoaderValueTest.java

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-ope

[2021-04-26 18:06] pshipton opened #12557 "SharedClasses.SCM23.MultiThreadMultiCL_1 segfault JIT compiled method vmState=0x00000000"
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.system_s390x_linux_Nightly_testList_1/74
ub16-390-2
SharedClasses.SCM23.MultiThreadMultiCL_1

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk16_j9_extended.system_s390x_linux_Nightly_testList_1/74/system_test_output.tar.gz
[code]

[2021-04-26 18:06] pshipton commented on #12557
@fjeremic fyi, there should be a jit dump

[2021-04-26 18:29] tajila commented on #11927
Ya I think short term, we should disable 16+. But we should try to update the test so it can detect between 11 and 16+ so we can properly test the required behaviour on both of those levels.

[2021-04-26 18:39] dmitry-ten commented on #12395
The coredump for the crash shows:
Stacktrace:
[code]
This heavily implies that something is wrong with how we call `_prepareForOSR` runtime helper, as we faced a similar issue before, in #10709. The solution back then was #10786, which made JITServer fetch helper addresses directly from the client on ppc64le.
Looking at the code that was problematic last time:
[code]
So the instruction that's supp

[2021-04-26 18:47] babsingh commented on #12524
Reopening, accidentally closed via  #12528.

[2021-04-26 19:08] babsingh commented on #11936
Closing, the segfault reported here is fixed by either https://github.com/eclipse/openj9/pull/12513 or https://github.com/eclipse/openj9/pull/12515. Other issues are seen while running the `jsr292Test_*` test target. A new issue will be opened to address the new discrepancies.

[2021-04-26 19:08] #11936 closed

[2021-04-26 19:12] a7ehuo opened #12559 "Document Inliner Implementation"
Document Yi's presentation on Inliner implementation from last June. Concepts includes: `TR_CallSite`, `TR_CallTarget`, heuristics used to decide whether to inline, inlining code structure, etc.

[2021-04-26 19:31] singh264 commented on #12498
@dsouzai requesting to work on issue

[2021-04-26 20:39] dmitry-ten commented on #12395
Ok, I confirmed that the last piece of code indeed ends up branching to the beginning of `_prepareForOSR` helper.
This means that the problem is not with `bl      0x767ae967e8e0` instruction, and most likely the value stored in `r12` register does  not match the `_prepareForOSR` address despite being taken from the client.

[2021-04-26 20:45] dchopra001 commented on #12538
I've opened a PR to fix this issue here: https://github.com/eclipse/openj9/pull/12561

[2021-04-26 20:48] JasonFengJ9 commented on #12481
Observed at `job/Test_openjdk17_j9_extended.openjdk_x86-64_mac/3/`

[code]

[2021-04-26 20:49] fjeremic commented on #12557
10 job grinder:
https://ci.eclipse.org/openj9/job/Grinder/1765/

[2021-04-26 21:17] JasonFengJ9 commented on #12483
Similar `jdk.random.L64X1024MixRandom nextFloat` failure at `Test_openjdk17_j9_sanity.openjdk_s390x_linux/16/`
[code]

[2021-04-26 21:31] pshipton commented on #12548
Is this intermittent?

[2021-04-27 01:35] georgejxu opened #12562 "DTFJ error handling"
I might have a corrupted core. and run into the following exception

java.lang.IndexOutOfBoundsException: Index: -91793, Size: 26819820
	at org.eclipse.mat.parser.index.IndexWriter$Identifier.get(IndexWriter.java:124)
	at org.eclipse.mat.dtfj.DTFJIndexBuilder.addThreadRefs(DTFJIndexBuilder.java:6211

MAT just blows up.   I made the following change, and I was able to open the core and get the info

[2021-04-27 03:58] pshipton commented on #12557
The grinder failed 3/10. This seems a regression, so I'm setting as a blocker.

Another failure in the nightly builds.
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.system_s390x_linux_Nightly_testList_2/54/
ub18-390-2
SharedClasses.SCM23.MultiThreadMultiCL_1

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk16_j9_extended.system_s390x_linux

[2021-04-27 04:02] pshipton commented on #12562
@georgejxu this is the wrong project. The org.eclipse.mat classes are not part of OpenJ9. See https://projects.eclipse.org/projects/tools.mat

[2021-04-27 04:02] #12562 closed

[2021-04-27 07:05] ohbus commented on #10377
Hi @keithc-ca, I would like to work on this issue.

It would be great if you could please guide me to the documentation where I would find relevant information regarding this, or you may also point me to the code that requires the necessary amendments for this issue to be resolved successfully.

[2021-04-27 11:32] JasonFengJ9 commented on #8972
Another occurrence at an internal acceptance build `job_output.php?id=676040721`
[code]

[2021-04-27 11:37] JasonFengJ9 opened #12563 "[zOS S390] 80 Load_Level_2.abbs.5mins.Mode112.5 - Illegal instruction vmState=0x00000000"
Failure link
------------

From an internal build `job_output.php?id=676045385`:
fyrec512
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

**Edit:** 1/10 grinder failed with `vmState=0x00020002` at `/job_output.php?id=676049529` (fyrec51c)
[code]

Another 100x grinder all passed.

fyi @dmitripivkine

[2021-04-27 12:30] pshipton commented on #12538
I'm also seeing the following on internal z/OS machine fyrec204 (example job_output.php?id=676028966). Is this another problem?
[code]

[2021-04-27 12:40] joransiu commented on #12538
Hmm.  LGR is a reg copy instruction that that has existed since 64-bit instructions were introduced.

[2021-04-27 12:53] JasonFengJ9 commented on #12548
Yes, first & only time from test history.

[2021-04-27 13:31] fjeremic commented on #12563
If you check the annotations there was 4 grinders on this job. One of them a 10 job grinder which did fail in the GC and looked like a different segfault. Not sure what to make of all this.

[2021-04-27 13:37] llxia commented on #10732
@OscarQQ could you take a look? Thanks

[2021-04-27 13:44] fjeremic commented on #12538
I think we should improve that assert to also print the detected processor. @dchopra001 could you please make that change?

[2021-04-27 13:48] pshipton commented on #12563
Yes, in addition to the 110 grinders Jason ran, I ran another 50, which passed.

[2021-04-27 13:52] fjeremic commented on #12557
@r30shah could you please help take a look? The only recent change I'm aware of is the PMR fix from @klangman in #12523. I looked over the change again and it seems ok, though from Peter's latest comment:

[code]

That's a bit suspect.

[2021-04-27 14:24] pshipton opened #12564 "Failures on osx1014-x86-3"
There are been some failures on osx1014-x86-3, https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_mac_OMR/875/console is the latest.
[code]

@jdekonin fyi

See also
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_mac_OMR/874/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_1/297/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.func

[2021-04-27 14:29] pshipton commented on #12564
There are other machines having issues in the builds last night as well, or perhaps just network issues.

cent6-x64-4
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly_testList_2/111/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly_testList_0/284/

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86

[2021-04-27 14:29] pshipton commented on #12564
Note I've disabled osx1014-x86-3

[2021-04-27 14:42] jdekonin commented on #12564
I've rebooted osx1014-x86-3, ub16x64j97, cent6-x64-6 and cent6-x64-7.  These systems are connected in jenkins once again.

cent6-x64-4 is currently running a job so I'll get to that when I notice its free.  Its marked offline.

[2021-04-27 14:59] keithc-ca commented on #10377
Hi, @ohbus, thanks for the offer to help. Hopefully the following will clarify the intent of this issue.

In C/C++ code:
* Remove referenes to `J9VM_OPT_PANAMA`. For example, we would just remove [these lines](https://github.com/eclipse/openj9/blob/master/runtime/jcl/common/stdinit.c#L78-L80) in `stdinit.c`.

For the CMake build system:
* Remove `J9VM_OPT_PANAMA` from `options.cmake` and the refer

[2021-04-27 15:05] dmitry-ten commented on #12395
My investigation led me to a conclusion that an `TR_AbsoluteHelperAddress` relocation is needed when we generate a helper call using system linkage. Even though we fetch the address of `_prepareForOSR` directly from the client, in remote AOT compilations, the value is ignored and set to 0 due to `canEmitDataForExternallyRelocatableInstructions`, thus we need a  proper relocation to handle that cas

[2021-04-27 15:05] hzongaro commented on #11899
I can reproduce the failure in grinder runs with `-Xjit:limit={java/util/concurrent/ConcurrentHashMap.spread*}`, but not with a limit setting that will result in nothing being compiled, such as `-Xjit:limit={java/util/concurrent/ConcurrentHashMap.xyzzy*}`.

`ConcurrentHashMap.spread` is a rather trivial one-line static method, which is called indirectly through several layers in the call stack fro

[2021-04-27 15:57] r30shah commented on #12557
@fjeremic  Can you launch a grinder for me to get the log file, `-Xjit:"{net/openj9/test/sc/LoaderSlaveMultiThreadMultiCL\$LoaderThread.run()V}{very-hot}(traceCG,log=methodLog)"` ?

[2021-04-27 16:02] fjeremic commented on #12557
Not 100% sure I specified the options correctly but let's give it a try:
https://ci.eclipse.org/openj9/job/Grinder/1766/console

[2021-04-27 16:41] jdekonin commented on #12564
cent6-x64-4 has been rebooted and is back online in jenkins.

[2021-04-27 16:52] #12564 closed

[2021-04-27 17:38] dmitripivkine commented on #12563
There is a core stored for this another failure. Let me check what is wrong with it (despite it most likely unrelated to original problem)

[2021-04-27 18:00] #12398 closed

[2021-04-27 18:19] rrozenshteyn-jha commented on #11611
Hi @pshipton .  Is the fix really in v0.26.0?  I don't see it mentioned in release notes https://github.com/eclipse/openj9/releases/

[2021-04-27 18:42] xandris opened #12568 "-Werror=maybe-uninitialized build failure in runtime/gc_structs/PointerContiguousArrayIterator.hpp:84"
# Source info

[code]

# Configuration info

[code]

# Compilation error

[code]

(I expurgated references to my home directory.)

[2021-04-27 19:14] fjeremic commented on #12563
This could also be related to or duplicate of #12557. Although reproduction rate on this defect is much lower so it is possible this bug has been around for quite a while.

[2021-04-27 19:15] fjeremic commented on #12568
@amicic @dmitripivkine FYI.

[2021-04-27 19:22] dmitripivkine commented on #12563
This (might be different than original) crash in the job `id=676049529` occur an attempt to walk class heap.
Memory Segment
[code]
supposes to be RAM class segment (and can be reached from `!j9classloader 0x47A43B34` memory segments list)
RAM class segment should store first class address at `heapBase = !j9x 0x47F70A20` but it is not:
[code]
so GC crashed at this bogus value.

Most likely this mem

[2021-04-27 19:34] gacholio commented on #12568
https://github.com/eclipse/openj9/blob/fae45de53118db12238cd26f6d91201f7767285a/runtime/gc_structs/PointerContiguousArrayIterator.hpp#L98-L105

This constructor fails to iniitialize all of the fields.

[2021-04-27 19:34] pshipton commented on #11611
@rrozenshteyn-jha Assuming https://github.com/eclipse/openj9/pull/11991 is the fix, `bd1135d Iterate thunk archetype with state for all passes of targeted inlining Liqun Liu #11991` is found in https://github.com/eclipse/openj9/releases/tag/openj9-0.26.0

[2021-04-27 20:00] #12538 closed

[2021-04-27 20:07] dmitripivkine commented on #12563
Actually it might be the same problem as original, there was mention about `Object neither in heap nor stack-allocated` in O-slot.

[2021-04-27 20:28] smlambert opened #12570 "Build and Test OpenJ9 as part of Eclipse AQAvit program"
This discussion issue is to capture goals/benefits/restrictions of building/testing OpenJ9 as part of the Eclipse AQAvit program (as we move AdoptOpenJDK repos and activities to Eclipse foundation under Adoptium Github organization.

During the discussion in the OpenJ9 Community call on April 27, 2021, this issue was introduced.  Feedback during the call indicated a preference to continue, and to

[2021-04-27 20:34] babsingh opened #12571 "OJDK MH: jsr292Test_* failures"
### Error

This issue documents the `jsr292Test_*` failures seen after resolution of the seg fault in https://github.com/eclipse/openj9/issues/11936. The below failures are seen with JDK16+.

`testBindTo` passes in RI but fails in OJ9 with OJDK MHs enabled.

**OJ9 with OJDK MHs enabled:**
[code]

**Reference Implementation (RI):**
[code]

### Failing Test Targets

1. `jsr292Test_0` [extended.funct

[2021-04-27 20:34] babsingh commented on #12571
**Reference Implementation (RI):**
[code]

[2021-04-27 20:34] babsingh commented on #12571
**OJ9 with OJDK MHs enabled:**
[code]

[2021-04-27 20:41] babsingh commented on #12571
### Summary

- `testBindTo` passes in `RI` but fails in `OJ9 with OJDK MHs enabled`. `NullPointerException` is not thrown with `OJ9 with OJDK MHs enabled`.

- `OJ9 with OJDK MHs enabled` matches `RI` for the following test cases:
[code]

- For the below test cases, `RI` throws an `ExceptionInInitializerError` caused by a `RuntimeException` whereas `OJ9 with OJDK MHs enabled` throws an `AssertionEr

[2021-04-27 21:00] rrozenshteyn-jha commented on #11611
Ok.  Thank you.  I was looking for this issue #11611.

[2021-04-28 01:10] #12545 closed

[2021-04-28 04:38] dmitry-ten commented on #12395
The [grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15035/) using a nightly build from a couple of days ago passed, all 500 iterations were successful. The original failure rate was 1/100, so we can be pretty certain that the problem was indeed fixed.

[2021-04-28 04:42] dmitry-ten commented on #11258
This specific test no longer exists, but as far as I can tell, it (and all the tests in its group) has been replaced with `DaaLoadTest_all_special_5m`.
I ran a [grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15038/consoleText) for the above test, which runs all 30 variations of the test. Grinder timed out after 3 full iterations (90 tests run in total) and all of them passed.
I w

[2021-04-28 11:45] JasonFengJ9 opened #12578 "ppc64le : java/lang/String/Exceptions.java - Segmentation error vmState=0x00000000 at Compiled_method=java/lang/String.startsWith(Ljava/lang/String;I)Z"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.openjdk_ppc64le_linux/48/` (ubu18le-rt1-3)
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_lang_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;

[2021-04-28 11:59] JasonFengJ9 opened #12579 "JDK11 : TestJcmd - FAILED: testDumpsDefaultSettings"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.functional_ppc64_aix_testList_1/22/` (paix822)
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=TestJcmd_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_extended.functional_ppc64_aix&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEO

[2021-04-28 12:10] JasonFengJ9 opened #12580 "JDK17 : java/lang/ProcessBuilder/Basic.java#id0 - JVMJ9VM007W Command-line option unrecognised: -Xlog:all=warning:stdout"
Failure link
------------

From an internal build `Test_openjdk17_j9_sanity.openjdk_s390x_linux/17/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_lang_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OWNER_BRANCH=

[2021-04-28 12:39] pshipton commented on #12578
@JasonFengJ9 @fjeremic it seems likely this is related to https://github.com/eclipse/openj9/pull/12209

[2021-04-28 12:52] pshipton commented on #12580
We'll have to decide if we want to exclude the sub-test, or implement what it needs to pass.

[2021-04-28 12:54] JasonFengJ9 commented on #12578
I have launched a build without `String.starsWith` change and will report back here.
It is interesting only `ppc64le` was affected though.

[2021-04-28 13:05] hzongaro opened #12581 "Check for abstract classes that implement IdentityObject interface in Value Propagation for value types support"
Prototype changes in Value Propagation proposed in pull request #12467 check whether a value used in a comparison operation or the component type of an array might be a value type.  Those checks are performed in the `isValue` static function and `J9::ValuePropagation::isArrayCompTypeValueType` method.

One test that appears in both places is a check of whether the type is a concrete class (not an

[2021-04-28 13:14] hzongaro commented on #12173
Fixed by pull request #12327

[2021-04-28 13:14] #12173 closed

[2021-04-28 13:16] pshipton commented on #10489
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly_testList_2/55/
DaaLoadTest_daa2_CS_5m_0

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly_testList_2/55/system_test_output.tar.gz
[code]

[2021-04-28 13:24] pshipton opened #12582 "jtreg java/lang/ProcessBuilder/Basic.java IOException: Stream closed"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_Nightly/372
jdk_lang_0
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops
java/lang/ProcessBuilder/Basic.java

[code]

[2021-04-28 13:26] pshipton commented on #12582
Try a 3 x 10x grinder https://ci.eclipse.org/openj9/job/Grinder/1786/

[2021-04-28 13:38] #12395 closed

[2021-04-28 14:03] amicic commented on #12568
All users of that constructor, we'll end up invoking initialize() before really using construction. But, of course, compiler might not know that.

I'll fix it by initializing with null values.

[2021-04-28 14:31] dmitry-ten commented on #12442
Scheduled https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15073/

[2021-04-28 15:01] dmitry-ten commented on #7217
@mpirvu this can be closed, since https://github.com/eclipse/openj9/pull/11328 addressed this issue.

[2021-04-28 15:23] fjeremic commented on #12578
@JasonFengJ9 it looks like we added `startsWith` to the skip NULL check list, however according to the code:

https://github.com/eclipse/openj9/blob/e4b66d30983c1ada33f5d28a8ca543f584e49329/jcl/src/java.base/share/classes/java/lang/String.java#L2585-L2619

It seems this API can and should throw an NPE if the argument is NULL. It's possible we have a test which does this and we don't throw the exce

[2021-04-28 15:39] mpirvu commented on #7217
Solved by #11328, so closing

[2021-04-28 15:39] #7217 closed

[2021-04-28 16:00] r30shah commented on #12557
From the core-dump downloaded from job mentioned in https://github.com/eclipse/openj9/issues/12557#issuecomment-827295286 , here is how the failing sequence looks like.
[code]

Clearly, bits `32-63` of `GPR2` was loaded with `NULL` by instruction at `0x3ff7f4a104c` but upper half was kept untouched which in this case previously holding an address. When we performed NULL test at instruction  `0x3ff

[2021-04-28 16:13] fjeremic commented on #12557
This doesn't sound like the correct fix. IMO the true problem here is that we have an `iconst` where we should have had an `aconst`. That transformation which changed this tree is illegal. Had the node stayed as `aconst` we would have generated a 64-bit `XGR` and the problem would not happen.

We need to find out where exactly the `aconst` got changed and why we thought it was correct to do so.

[2021-04-28 16:13] #12552 closed

[2021-04-28 16:43] gacholio opened #12585 "Preserve entire contents of XMM registers across helper calls on X"
To support vectorization, the entire 16-byte contents of each XMM register must be preserved in the JIT helpers (currently only 64 bits of FPR parameter registers are preserved).

The helpers will be divided as they were on P into method call and non-method call points. At method call points, only 8 bytes of the parameter XMMs will be preserved so the decompiler can see the contents properly. All

[2021-04-28 17:54] #12174 closed

[2021-04-28 18:07] gacholio commented on #12585
x86-32 does not use parameter registers at all.

[2021-04-28 18:14] joransiu commented on #12557
I'm expecting that due to compressedrefs mode, the 2nd child is the `awrtbari` is the value to be updated into the array element and would be the full compression sequence as its subtree.  i.e. The subtree would have `l2i` w/ potential `lushr` as child (for non-zero shift) w/ `a2l` anchoring the actual `aXXX` node, containing the object reference to be stored.   With an `aconst NULL`, that probabl

[2021-04-28 18:47] dmitry-ten commented on #12441
[grinded](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15063/) the test for 200 iterations, with the latest s390x_linux JDK11 build, everything passed.
I think it's safe to assume that one of the fixes merged since the bug first appeared has fixed it.
@mpirvu.

[2021-04-28 18:52] dmitry-ten commented on #10331
Today's grinder [run](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15069/) passed. Will grind the specific variation that failed to check if the issue is still present. Note that the variation of the test corresponding to `Mode351` is now 11, instead of 12.

[2021-04-28 18:53] dmitry-ten commented on #11577
Today's grinder [run](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15068/) of all 30 variations of this test passed. Will grind the specific variation that failed to check if the issue is still present. Note that the variation of the test corresponding to Mode351 is now 11, instead of 12.

[2021-04-28 18:58] dmitry-ten commented on #11258
Today's grinder [run](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15067/) of all 30 variations of this test passed. Will grind the specific variation that failed to check if the issue is still present.

[2021-04-28 19:00] mpirvu commented on #12441
Thanks Dmitry. We can close his one now.

[2021-04-28 19:00] #12441 closed

[2021-04-28 20:35] 0xdaryl commented on #6453
@alvee-unb FYI

[2021-04-29 06:00] babsingh commented on #12285
OpenJDK bug report: https://bugs.openjdk.java.net/browse/JDK-8266269

[2021-04-29 12:47] JasonFengJ9 opened #12594 "JDK11 AIX : jdk_util_1_FAILED java/util/logging/LoggingDeadlock2.java - Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.openjdk_ppc64_aix/47/` (paix818)
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_util_1&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OWNER

[2021-04-29 13:12] lumpfish commented on #11915
The test still fails on `build-docker-fedora33-armv8-5`.  <- @sxa

[2021-04-29 13:15] knn-k commented on #7162
I believe this issue can be closed.
All those abs methods are inlined on AArch64 and AArch32 (w/ VFP).  See #10314 and https://github.com/eclipse/omr/pull/5441.

https://github.com/eclipse-openj9/openj9/blob/56535b77fa21fc1bef2ccfdb4edb28a6656aef68/runtime/compiler/optimizer/J9RecognizedCallTransformer.cpp#L384-L389

[2021-04-29 14:07] pshipton commented on #12594
Can it be duplicated in a grinder?

[2021-04-29 14:25] lumpfish opened #12595 "jdk16 ppcle64_linux extended.functional cmdLineTester_vmRuntimeState_0 crash Segmentation error vmState=0x00000000"
extended.functional test target cmdLineTester_vmRuntime crashed on jdk16 ppcle64_linux with a Segmentation error.

Failing job link: https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.functional_ppc64le_linux/63/consoleFull

Test machine: test-docker-ubuntu2004-ppc64le-1

Appears to be intermittent - reruns on same machine:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/449/cons

[2021-04-29 14:27] 0xdaryl commented on #5455
Enable CodeGenerator `supportsByteswap` capability when evaluators are available for that opcode.  This is really something that needs to happen in OMR, but is being tracked here for convenience.   AArch64 (eclipse/omr#5971)

[2021-04-29 14:52] #12568 closed

[2021-04-29 14:59] dsouzai opened #12596 "Discussion: OpenJ9 Policy for deprecating external or documented controls"
I'm opening this issue to start a discussion on defining a policy for how external controls (JVM options, APIs, etc), can be deprecated. For example, before letting https://github.com/eclipse-openj9/openj9/issues/12503 get too far along, it would be beneficial for OpenJ9 to have a defined procedure for how deprecation should be handled. This procedure should take into account (at least):

- Curren

[2021-04-29 15:04] dmitry-ten commented on #12442
All 47 runs before timeout passed, scheduled another run with increased timeout:
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15100/

[2021-04-29 15:06] dmitry-ten commented on #11258
50 [iterations](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15087/) of the test passed.

[2021-04-29 15:06] dmitry-ten commented on #11577
50 [iterations](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15078/) of the test passed.

[2021-04-29 15:10] dmitry-ten commented on #10331
6 out of 50 [runs](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15077/consoleText) with same error as the original crash, so the issue is still present. I did another 50 [runs](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15089/) without JITServer and they all passed, so we can be pretty sure that it's a JITServer-specific problem

[2021-04-29 15:12] dmitry-ten commented on #11577
[Rerunning](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15101/) with longer timeout.

[2021-04-29 15:13] dmitry-ten commented on #11258
[Rerunning](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15102/) with longer timeout.

[2021-04-29 15:17] hangshao0 commented on #11178
I notice the following statement in: https://github.com/openjdk/valhalla-docs/blob/main/site/design-notes/state-of-valhalla/03-vm-model.md#restrictions

It makes me think the special handling of volatile field here is not necessary.

[2021-04-29 15:28] llxia commented on #11258
- you may want to use `PARALLEL= NodesByIterations` in Grinder. In this way, we can run on more machines, not just run n iterations on one machine. For example:
[code]
The above will run the test in 10 machines in parallel and each machine will run the test 50 times.

- The system tests have been switched from [iteration-based tests to time-based tests](https://github.com/adoptium/aqa-tests/commit

[2021-04-29 15:33] r30shah opened #12598 "Verify the correctness of NULLTest in ArrayStoreCHK in all codegens"
In https://github.com/eclipse-openj9/openj9/pull/12523 @klangman fixed an issue where we used to compare 32-bit reference for NULL Test in ArrayStoreCHK to skip wrtBar/crdMark and ArrayStore check. Right before generating the test in [1], codegen makes an assumption that second child of the write node is compressed and traverses it's child to get actual decompressed pointer. Using 32-Bit compariso

[2021-04-29 15:48] r30shah commented on #12598
FYI  @0xdaryl @gita-omr @knn-k @zl-wang

[2021-04-29 16:23] pshipton commented on #12596
I suggest deprecation needs to occur in a new Java release, say Java 17, and then the item can be removed in the following release, i.e. Java 18. It can only be removed for Java 18 and still needs to work for Java 8 & 11 until those versions are no longer supported.

[2021-04-29 16:25] zl-wang commented on #12598
thanks.  i checked the p code ... it used op_cmpi or op_cmpil macro for the instruction opcode. it is bit-ness dependent, either 32bit version or 64bit.  so, it looks good.

[2021-04-29 16:58] babsingh opened #12599 "[OJDK MH] Investigate if @FrameIteratorSkip bit can be claimed for perf"
Ref: https://github.com/eclipse-openj9/openj9/pull/12515#discussion_r617043576

Ref: https://github.com/eclipse-openj9/openj9/pull/12515#discussion_r617174728

[2021-04-29 17:01] #7162 closed

[2021-04-29 17:30] #12578 closed

[2021-04-29 17:35] JasonFengJ9 commented on #12594
Not able to reproduce in 3x grinder at 5 different machines.

[2021-04-29 17:39] llxia commented on #12151
renaissance-* test runs the same in hyc and Adopt. No `Unable to find JAAS classes:com.ibm.security.auth.UsernamePrincipal issue`. I suspect this is machine related issue.
https://ci.adoptopenjdk.net/job/Grinder/469/
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.perf_x86-64_linux/
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.perf_ppc64le_linux/

[2021-04-29 18:15] tajila commented on #11178
I think its still unclear what will happen here. The draft JEP states:
[code]

However, the draft is older. `atomic primitive class Foo` may be introduce, in which case we would need to treat it in the same manner as how volatile was treated in your PR. So I believe we will need to address it in some form, it just may be called something different from `volatile`.

[2021-04-29 18:34] hangshao0 commented on #11178
I see:

`"The JVM is likely in the future to support some way to mark a primitive class "non-tearable", ......The likely syntax in the class file is a marker interface implemented by the class itself, java.lang.NonTearable"`

from  https://github.com/openjdk/valhalla-docs/blob/main/site/design-notes/state-of-valhalla/03-vm-model.md#struct-tearing

They are using "likely", so I guess things are not

[2021-04-29 18:36] babsingh opened #12600 "[OJDK MH] AccessControl Issues from ClassDefiner.defineClass"
### Description

Improper handling of `AccessControl` privileges from `MethodHandles$Lookup$ClassDefiner.defineClass` leads to either an `AccessControlException` (Error 1) or `StackOverflowError` (Error 2) depending on the test case. There is no micro-test or open-sourced test case to reproduce this failure. So, this issue has been opened to track internal failures.

### Hack / Fix

`[OJDK MH] Acc

[2021-04-29 19:17] tajila commented on #11178
I think we should keep it for now. Yes please add the comment.

[2021-04-29 19:52] JasonFengJ9 commented on #12600
Following code snippet can reproduce the error 1:
[code]
The exception thrown with security manager enabled:
[code]

Decorating `MethodHandleNatives.linkCallSite` within `MethodHandleResolver` with `AccessController.doPrivileged` can fix the `AccessControlException`.
Need to ensure the security implication properly.

[2021-04-29 20:46] JasonFengJ9 commented on #12595
@lumpfish could you try an earlier build to determine if this is a regression?

[2021-04-29 22:34] pshipton commented on #12595
It may also be worth trying a grinder on the next build to see if it's already resolved.

[2021-04-29 22:42] klangman commented on #12596
I would agree with Peter when it comes to supported documented options. For completely undocumented options where there is very limited usage we can allow immediate changes (i.e. JIT env vars). For unsupported, only use as directed type, debugging or work-around options I think we need some happy medium. Maybe a stderr warning when the option is used for some period of time before the options is r

[2021-04-30 00:41] knn-k commented on #12598
AArch64 uses `cbzx` opcode for the check, which is 64-bit comparison against 0.

[2021-04-30 06:22] 1a2s3d4f1 commented on #12346
I added -Xgc:dynamicBreadthFirstScanOrdering option.  Not any crash happen

[2021-04-30 11:25] #12533 closed

[2021-04-30 13:32] jdekonin commented on #12014
Machine appears to be pretty solid for the past 2 months.  Closing.

[2021-04-30 13:32] #12014 closed

[2021-04-30 13:36] jdekonin commented on #12150
Reopen or open new when this is of importance.

[2021-04-30 13:36] #12150 closed

[2021-04-30 13:53] pshipton commented on #12595
Trying 4 x 1x with latest build https://ci.eclipse.org/openj9/view/Test/job/Grinder/1794/

[2021-04-30 13:57] JasonFengJ9 opened #12605 "JDK17 (aarch64_linux) : java/util/stream/test/org/openjdk/tests/java/util/stream/StreamLinkTest.java - StackOverflowError at java.base/java.util.stream.ReferencePipeline$3$1.accept(ReferencePipeline.java:197)"
Failure link
------------

From an internal build `Test_openjdk17_j9_sanity.openjdk_aarch64_linux/13/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_util_1&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OWNER_BRAN

[2021-04-30 14:33] pshipton commented on #12605
@knn-k fyi

[2021-04-30 15:19] dmitry-ten commented on #11577
8/100 runs failed, the same error as #10331.

[2021-04-30 15:23] dmitry-ten commented on #12442
All 96 runs passed, will rerun with multiple machines.

[2021-04-30 15:51] mpirvu commented on #11577
maybe we should keep just one of the issues and close the other one as a duplicate

[2021-04-30 15:58] dmitry-ten commented on #11577
Sure, let's close this one then.

[2021-04-30 17:30] keithc-ca commented on #12370
To illustrate my proposed solution, here is the pair of methods for `SH_CacheMap._ccTail` currently generated by `PointerGenerator`:
[code]
That is a field that was introduced relatively recently. To make it clear that not all VMs will produce core files with that field, the new pattern will be:
[code]
The class generated dynamically by `BytecodeGenerator` would contain the equivalent of the follo

[2021-04-30 21:04] dmitry-ten commented on #11258
[Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15160/). 8 machines with 50 iterations each produced failures, 2 machines failed due to infra reasons. So the total iterations run is 400, with 0 failures, I think this confirms that the underlying bug was fixed and the issue can be closed.

[2021-05-01 00:32] knn-k commented on #12605
I don't think I have seen this failure before in https://ci.adoptopenjdk.net/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux/ .

[2021-05-01 00:34] knn-k commented on #12605
It seems I don't have the permission for running the test in Grinder.

[2021-05-01 00:57] smlambert commented on #12605
You should be able to replace the first part of a Rerun in Grinder link and swap it to any Jenkins server that has a Grinder job:

So replacing:
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?...

can be swapped to:
https://ci.eclipse.org/openj9/job/Grinder/parambuild/?...

[2021-05-01 04:12] ryuujo1573 commented on #10350
hope this work would be created!
and sincerely thank you all for your efforts!
 :)

[2021-05-01 04:49] dmitry-ten commented on #11923
[Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15171/) of OJDK292 build with #12525 included.
80 iterations passed (the rest failed due to infra issues).

[2021-05-01 04:51] dmitry-ten commented on #12442
[Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15161/) with 500 passing runs, no failures.
It should be safe to assume that the issue has been fixed.

[2021-05-01 12:58] DanHeidinga commented on #9443
Referencing this here so we can find it again - https://github.com/java-operator-sdk/java-operator-sdk#quarkus

One option is to use Java (which we know well) to write the operator using something like the sdk linked above

[2021-05-01 13:03] mpirvu commented on #12442
Most likely fixed by #12474

[2021-05-01 13:03] #12442 closed

[2021-05-01 13:04] mpirvu commented on #11923
Closing as fixed. Please open a new issue if seen again.

[2021-05-01 13:04] #11923 closed

[2021-05-01 22:53] #12557 closed

[2021-05-03 11:41] JasonFengJ9 commented on #12605
@knn-k an internal sample grinder link for this failure is at `Grinder/15173/` (passed).

[2021-05-03 11:57] JasonFengJ9 commented on #12177
A similar failure is observed at an internal `JDK8` `aarch64_linux` build `Test_openjdk8_j9_extended.openjdk_aarch64_linux/5/`:
[code]

[2021-05-03 12:10] JasonFengJ9 opened #12608 "arch64_linux renaissance-movie-lens - StackOverflowError"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.perf_aarch64_linux/5/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=renaissance-movie-lens_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG

[2021-05-03 12:19] mpirvu commented on #11577
Closing as a dup of #10331. The investigation will continue in #10331

[2021-05-03 12:19] #11577 closed

[2021-05-03 13:32] JasonFengJ9 commented on #12480
Seen in JDK11 `Test_openjdk11_j9_extended.openjdk_ppc64le_linux/12/` (`sles12le-rt1-4`)
[code]

[2021-05-03 13:34] #12498 closed

[2021-05-03 13:40] JasonFengJ9 commented on #12354
Observed in an internal build `Test_openjdk11_j9_extended.openjdk_x86-64_linux/10/`
[code]

This is `JDK11` on `x86-64_linux`.

[2021-05-03 15:31] gacholio commented on #12585
Some notes:

- 32-bit only supports the first 8 XMM registers (none are parameter registers)
- With the method invocation split for the helpers, either the 64-bit XMM parameter registers need to be preserved, or all of the 128-bit XMMs need to be preserved, never both in the same helper (because there are no preserved FPRs in the JIT private linkage)
- As a result, the FPR save area can simply be

[2021-05-03 15:32] JasonFengJ9 commented on #12151
This appears an internal IBM build issue (`infrastructure/issues/5444`).

Closing..

[2021-05-03 15:32] #12151 closed

[2021-05-03 15:44] dmitripivkine opened #12613 "Hot Field Offset can be extended from one to two bytes"
Currently Dynamic Field Ordering uses one byte to store Hot field offset (in slots). Looks like it can be extended to two bytes without growing of memory footprint for 64-bit systems.

Please note this item does not discuss effectiveness of such extension but technical possibility to do it.

C++ structures are always aligned (start address and size) to native word size, so 8 bytes for 64-bit platf

[2021-05-03 15:45] dmitripivkine commented on #12613
@jonoommen @amicic @vijaysun-omr FYI

[2021-05-03 16:02] dmitry-ten commented on #8717
Some of the bypassed operations can be re-enabled without too many additional changes.
- https://github.com/eclipse/omr/blob/892a0fef24c7bc781cda8aab530b4cd18cea6814/compiler/optimizer/LocalOpts.cpp#L6844-L6851
- https://github.com/eclipse/omr/blob/892a0fef24c7bc781cda8aab530b4cd18cea6814/compiler/optimizer/LocalOpts.cpp#L6987-L7000
- https://github.com/eclipse/omr/blob/892a0fef24c7bc781cda8aab530

[2021-05-03 16:24] jdekonin commented on #12083
Possibly related to https://github.com/ibmruntimes/openj9-openjdk-jdk/issues/82

I've modified `win16x64cudart1` by defining TEMP and TMP to `/home/jenkins/temp` and then relaunched the grinder as specified above targeting that machine.  Looks like there is a problem with how the openjdk repo is cloned though.
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15163/console

I attempted to re

[2021-05-03 16:49] pshipton commented on #12083
I don't know what is required. Can we experiment by installing all the other roles which are "not required" and see if that fixes the problem? If it does, then it's just a matter of narrowing it down to the specific role that fixes it, and looking at what it does differently.

[2021-05-03 17:18] pshipton commented on #12354
@JasonFengJ9 is it easily repeatable?

[2021-05-03 17:29] pshipton commented on #12480
Pls try a grinder on a some rhel7, 8 machines, and a ub18 machine. So far this seems specific to sles.

[2021-05-03 17:57] singh264 commented on #8664
requesting to work on issue

[2021-05-03 18:06] tajila opened #12615 "Refactor ValueType code"
Move `areValueTypesEnabled` from jvminit.c to valuetypehelpers.cpp

[2021-05-03 19:29] LongyuZhang commented on #12270
I think we can close this issue. Recent Internal_grinder/view/Test_openjdk/job/Test_openjdk17_j9_extended.openjdk_x86-64_linux/6/testReport/  passed. Thanks.

[2021-05-03 19:51] Umang228 commented on #12615
Assign me this...

[2021-05-03 19:58] JasonFengJ9 commented on #12270
Verified that `jdk_vector` passed in latest `Test_openjdk17_j9_extended.openjdk_x86-64_linux/6`

[2021-05-03 19:58] #12270 closed

[2021-05-03 20:36] JasonFengJ9 commented on #12354
Launched 30x grinder on 5 different machines.
`cent6x64rt7` - 1/30 failed at `Grinder_iteration_0/334/consoleFull`
`cent6x64rt20` - 1/30 failed at `Grinder_iteration_4/278/consoleFull`
`cent6x64rt15` - 1/30 failed at `Grinder_iteration_2/299/consoleFull`
The other 2 machines passed all 30 runs.
It appears a highly intermittent failure.

[2021-05-03 20:46] JasonFengJ9 commented on #12480
Launched a 3x grinder at 10 different machines via `Grinder/15188`:
Passed : `rhel7lert-1-6` `rhel7lert-1-1` `rhel7le-rt1-5` `ub20lert-1-7` `rhel7lert-1-4` `rhel7le-rt1-4` `rhel7lert-1-9` `ubu20le-rt1-3` `ubu18le-rt1-5`
Failed: `sles12le-rt1-3`
It does appear sles OS specific.

[2021-05-03 22:10] mpirvu commented on #11258
Closing based on the above assessment

[2021-05-03 22:10] #11258 closed

[2021-05-04 07:25] Umang228 commented on #12615
Plz check PR https://github.com/eclipse-openj9/openj9/pull/12618

[2021-05-04 15:13] mpirvu opened #12619 "Prevent expensive compilations from consumming all of the free memory at JITServer"
Because many JVM clients can be connected to one JITServer at any given time, the server can run low on memory.
Experiments have shown that, while most of the compilations require a small or medium amount of memory, there are a few that have huge demands. The problem is compounded by two additional factors:
1. When load is applied to multiple JVM replicas in a kubernetes/OpenShift cluster, the sam

[2021-05-04 15:46] pshipton commented on #9124
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/366/
rh7-390-3
jdk_util_0
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops
java/util/logging/Logger/logrb/TestLogrbResourceBundle.java
[code]

[2021-05-04 15:52] lumpfish commented on #12595
Reran 10x Grinder on latest AdoptOpenJDK build - all passed:
[code]

[2021-05-04 15:53] pshipton opened #12621 "testOSMXBeanLocal win2012-x86-5 getTotalSwapSpaceSize() API returned -1, test failed"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly_testList_0/313/
testOSMXBeanLocal_0
win2012-x86-5
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly_testList_1/312/
win2012-x86-5
testOSMXBeanLocal_0
testOSMXBeanLocal_1

@AdamBrousseau @jdekonin pls check the machine for swap space problems. Maybe a reb

[2021-05-04 15:55] pshipton commented on #12595
Assuming fixed until we determine otherwise.

[2021-05-04 15:55] #12595 closed

[2021-05-04 18:41] Umang228 commented on #12615
PR https://github.com/eclipse-openj9/openj9/pull/12623.......Tell me what should I do now

[2021-05-04 21:16] jdekonin commented on #12621
I marked the system offline as its currently running a job.  I'll login and see what processes are still running, although a cleanup job might have fixed this already.

[2021-05-04 22:03] jdekonin commented on #12621
System looked fine, and it had successfully passed the test pipeline that was running.  I rebooted for good measure and its back online in jenkins and ready for work.

[2021-05-05 12:27] JasonFengJ9 opened #12628 "JDK8 MacOS J9vmTest_3/4_FAILED - *** Test FAILED *** (j9vm.test.invalidclasspath.SetClasspathTest)"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_x86-64_mac_testList_1/27/` (`mac11x64rt01`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=J9vmTest_3&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_sanity.functional_x86-64_mac&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_T

[2021-05-05 12:32] JasonFengJ9 opened #12629 "defineModuleAsClassTest_0 - ClassFormatError: JVMCFRE152 module-info is not a class because access_flag ACC_MODULE is set; class=module-info, offset=27"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.functional_ppc64le_linux_testList_0/36/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=defineModuleAsClassTest_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_extended.functional_ppc64le_linux&amp;DOCKER_REQUIRED=false&amp;ACT

[2021-05-05 12:37] JasonFengJ9 commented on #12628
Another slightly different failure at JDK11 MacOS `Test_openjdk11_j9_sanity.functional_x86-64_mac_testList_1/26/` (`mac11x64rt07`)
[code]

[2021-05-05 12:45] JasonFengJ9 commented on #12628
Adding another JDK11 MacOS SCC related failure here until investigation shows otherwise.
From an internal build `Test_openjdk11_j9_extended.functional_x86-64_mac_testList_2/27/` (`mac11x64rt04 `)
[code]

[2021-05-05 12:51] JasonFengJ9 opened #12630 "JDK16 MacOS jdk_lang_0_FAILED OsVersionTest - Error: 10.16 != 11.3"
Failure link
------------

From an internal build `Test_openjdk16_j9_sanity.openjdk_x86-64_mac/34/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_lang_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OWNER_BRANCH=

[2021-05-05 14:50] ChengJin01 commented on #12629
Hi @JasonFengJ9 ,  the code & test changes were merged to https://github.com/eclipse-openj9/openj9 rather than https://github.com/eclipse/openj9.git but the test grinder still stick to `eclipse/openj9.git` with the unchanged tests by the latest build with the code changes.

Please try a new grinder with https://github.com/eclipse-openj9/openj9.

[2021-05-05 15:11] pshipton opened #12631 "Automatically retry builds when github.com is not accessible"
Looking at the following builds last night, they all failed because github.com could not be contacted. Over time, I've seen quite a few builds fail due to this problem. If this failure can be automatically restarted, after a delay, that would be much better than relying on somebody to notice and manually restart the job.
`stderr: fatal: unable to access 'https://github.com/eclipse-openj9/openj9.gi

[2021-05-05 15:15] pshipton opened #12632 "Upgrade UB16 machines"
UB16 is past it's end of life and into extended support. All the OpenJ9 UB16 machines should be upgraded to something newer, probably the latest LTS version.

[2021-05-05 15:16] hangshao0 commented on #12628
GROUP_NAME is not there:
https://github.com/eclipse-openj9/openj9/blob/8a6e1df5c0cc2200c3f07efc04cc62946c9cdac1/test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption3.sh#L41-L44

It is set by
https://github.com/eclipse-openj9/openj9/blob/8a6e1df5c0cc2200c3f07efc04cc62946c9cdac1/test/functional/cmdLineTests/shareClassTests/SCCommandLineOptionTests/nameOption3.sh#L32

http

[2021-05-05 15:17] JasonFengJ9 commented on #12629
fyi @llxia

[2021-05-05 15:18] dmitry-ten commented on #11185
`_j9` tests have been consolidated with non-j9 tests, so there is `jdk_util_0` test now.
I reran the test in [grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/15251/) and the crashes still happen, although the vmState is different from the original crash.
[code]

[2021-05-05 15:30] hangshao0 commented on #12628
About the SetClasspathTest failure, it is checking the status of an existing cache, but the cache is deleted somehow:

[code]

[2021-05-05 15:39] pshipton commented on #12631
Not exactly the same, but parts of parallel test jobs tests can also fail, such as the following. It would also be useful to automatically restart these.

https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.functional_x86-64_mac_Nightly_testList_1/82/console

[2021-05-05 15:45] jdekonin commented on #12631
For this particular case (Build* jobs), I believe this would simply require a new try block checking/blocking on a $SCM_REPO connectivity check.  Reusing `retry_and_delay` which is numRetries = 3, waitTime = 60s as default would likely resolve most of the failure cases.  What would you want to happen if the retry/delay completed and github.com was still unavailable?

https://github.com/eclipse-ope

[2021-05-05 15:55] r30shah commented on #11993
I am experimenting with certain methods which are tagged with `@IntrinsicCandidate` and was adding those to list of methods calls for which I can skip HCR guards in the compiled code. It would be nice if we have jit compiler helper that can process such tags as well. I would make JIT compiler code cleaner.

[2021-05-05 15:58] AdamBrousseau commented on #12631
I think the test side requires a test change. If we retry_and_delay after 3 times with 1 minute intervals I think we should fail as usual. The option to manually restart form the parent will still be there if someone is watching.

[2021-05-05 16:14] llxia commented on #12629
https://github.com/eclipse/openj9 should be redirected to https://github.com/eclipse-openj9/openj9 automatically. It should not be a problem to continue eclipse/openj9.

From SHA.txt, we are running `8a6e1df5c0cc2200c3f07efc04cc62946c9cdac1`. It should contain the change [Update the error action for ACC_MODULE](https://github.com/eclipse-openj9/openj9/commit/b5f5102607cfe65db18f3878b430e2ff3a6a6ff

[2021-05-05 16:16] AdamBrousseau commented on #12631
The problem is at this point we don't have access to retry_and_delay. So we either need to move that def here, or just use simple retry or see if the scm step has some kind of retry option.

[2021-05-05 16:36] ChengJin01 commented on #12629
If so, then the nightly build at didn't pick up the latest changes according to the output (it was supposed to throw out `NoClassDefFoundError` rather than `ClassFormatError`)

FYI @AdamBrousseau & @jdekonin

[2021-05-05 16:37] keithc-ca commented on #11902
What is the goal of this issue?

[2021-05-05 17:29] pshipton commented on #12631
As Adam suggested, it can continue to do what it does now: fail and allow the user to retry. If we see the 3x 60sec retry doesn't work, we can play with the values to try and find something that does work.

[2021-05-05 17:49] llxia commented on #12629
re https://github.com/eclipse-openj9/openj9/issues/12629#issuecomment-832822808, just to complete the testing story, Grinder/15284 used https://github.com/eclipse-openj9/openj9 and had the same failure.

[2021-05-05 17:50] llxia commented on #12629
It looks like the SDK build picked up https://github.com/eclipse-openj9/openj9/commit/764252c839f441bcc654491efe78dfb2fa76a92b and test build picked up https://github.com/eclipse-openj9/openj9/commit/8a6e1df5c0cc2200c3f07efc04cc62946c9cdac1. Giving the fact that there was only 1 hour in between the two commits. I suspect the commit 8a6e1df was merged in between the SDK build and the test build.

I

[2021-05-05 19:07] pshipton commented on #12621
This is still happening on the same machine. @jdekonin did you check the Windows paging file? Maybe it needs to be recreated.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly_testList_1/295/
win2012-x86-5

[2021-05-05 20:25] #12619 closed

[2021-05-05 20:35] AdamBrousseau commented on #12631
#12636
Untested but I think this achieves the same as `retry_and_delay`.
@pshipton Have you seen clones fail in other places?

[2021-05-05 21:01] samasri commented on #11500
The error was happening in the verification step at the end of the RSADP operation. Specifically, we were calling `OSSL_RSA_public_decrypt`, which pads the result in certain cases. This padded result would not match the original message.

To solve this we replace that verify operation with new code that operates directly on the BIGNUMs where there is no padding.

[2021-05-05 21:17] AdamBrousseau commented on #12629
Note that this is from a build using Adopt's scripts. OpenJ9 build scripts sync the test material with the compile.
Opened https://github.com/adoptium/ci-jenkins-pipelines/issues/143 to address.

[2021-05-05 21:31] pshipton commented on #12630
Machine was mac11x64rt08, which I can't connect to, but mac11x64rt07 has the same behaviour.

I believe we just got some "new" macs added, I assume this is related. The VM detected "10.16" (in system property os.version), but `sw_vers -productVersion` shows "11.3".

Hotspot detects 11.3 for the os.version.

The code which detects the version is https://github.com/eclipse/omr/blob/master/port/unix/

[2021-05-05 21:33] pshipton commented on #12631
Not sure, I didn't keep track. We can try your fix and see what else pops up.

[2021-05-05 21:37] pshipton commented on #12628
@AdamBrousseau @jdekonin fyi https://github.com/eclipse-openj9/openj9/issues/12628#issuecomment-832772730

FYI these problems are showing up because we got some "new" macs added to jenkins.

[2021-05-05 21:41] pshipton commented on #11902
It seems obsolete so I'll just close it. XL isn't used since Java 16 moved to mixed refs builds. We managed to put out the Java 16 release successfully, which includes aarch64 builds. https://github.com/AdoptOpenJDK/openjdk16-binaries/releases/tag/jdk-16%2B36_openj9-0.25.0

[2021-05-05 21:41] #11902 closed

[2021-05-05 21:43] #12631 closed

[2021-05-05 21:58] pshipton commented on #12629
Since we have the adoptiium issue to address the problem, closing this one.

[2021-05-05 21:58] #12629 closed

[2021-05-05 22:33] pshipton opened #12637 "Automatically retry tests that fall over due to infra issues"
Parts of parallel test jobs tests can fail, such as the following. It would be useful to automatically restart these.

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly_testList_2/59/console
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.functional_x86-64_mac_Nightly_testList_1/82/console

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity

[2021-05-05 22:38] pshipton commented on #12637
I guess this needs to be handled via the test pipeline code? @llxia @AdamBrousseau

There is https://github.com/adoptium/aqa-tests/pull/2530 to disable machines, but I don't think these issues are the same, they are just temporarily network problems.

[2021-05-05 22:59] jdekonin commented on #12628
The new Mac10 systems used the same setup scripts and they work fine.  Is it possible that MacOS 11 doesn't work in the same manner?  It could be that the setup/configuration isn't the same for Mac11, so I'll definitely review.

As for GROUP_NAME being blank, that cmdln appears to boil down to
`id | awk '{print $2}' | awk '{print $1}' | cut -f 2 -d '(' | cut -f 1 -d ')'`  when I run that on either

[2021-05-06 00:57] knn-k commented on #12605
@smlambert @JasonFengJ9 Sorry for my late response.  I was on vacation.

[2021-05-06 11:09] lumpfish opened #12638 "javax/naming/InitialContext/NoApplet.java: openj9 jdk8 x86-64_mac timeout"
extended.openjdk jdk_other test javax/naming/InitialContext/NoApplet.java fails on openj9 jdk8 x86-64_mac.

The test hits the 960 sec timeout limit. The last message output by the test is

_RegisterApplication(), FAILED TO establish the default connection to the WindowServer, _CGSDefaultConnection() is NULL.

Maybe the jdk hangs after receiving that error?

The test passes on hotspot jdk8 and jdk1

[2021-05-06 12:41] pshipton commented on #12621
More
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly_testList_1/315/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly_testList_0/314/

[2021-05-06 13:30] pshipton opened #12639 "jdk17 zlinux failing to compile"
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_mac_OpenJDK/449
[code]

[2021-05-06 13:32] pshipton opened #12640 "jdk17 failing to start, null property: native.encoding"
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_mac_OpenJDK/449
[code]

[2021-05-06 13:36] pshipton commented on #12640
Introduced by https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/9f3c82c943c
https://bugs.openjdk.java.net/browse/JDK-8265989

[2021-05-06 13:38] pshipton commented on #12640
fyi JEP 400 UTF-8 by Default https://openjdk.java.net/jeps/400

[2021-05-06 13:38] pshipton commented on #12640
@tajila fyi

[2021-05-06 13:43] pshipton commented on #12639
Found 8261169: Upgrade HarfBuzz to the latest 2.8.0
https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/39fa3f7c7bae

[2021-05-06 13:46] JasonFengJ9 commented on #12640
I can have a look.

[2021-05-06 14:55] jdekonin commented on #12621
Performance monitor cannot read the pagefile counters, so possibly a good indication its corrupted.

I attempted to recreate the paging files both of them.  There is a dedicated partition D for paging that is ~8G which at one point was determined not enough, so the additional 2G was added to C for paging for a total of ~10G.  But it seems that it doesn't matter which one (or both) I recreate Perfm

[2021-05-06 16:00] pshipton commented on #12639
@tobi fyi

Maybe this will be fixed upstream. I believe the problem occurs because we are using gcc 7.5, while Oracle is using at least 9.2 or maybe something even newer for Java 17.

[2021-05-06 16:08] pshipton commented on #12637
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/660/console

[2021-05-06 16:11] pshipton commented on #12640
Just fyi https://github.com/eclipse-openj9/openj9/issues/12639, linux platforms don't build atm. All Windows, Mac, AIX have this problem.

[2021-05-06 16:14] pshipton commented on #12621
machines 1-3 and 6 seem stable. We often have issues with 4 and 5, so don't clone 4 to recreate 5.

[2021-05-06 16:17] hangshao0 commented on #12628
About the GROUP_NAME issue on `cmdLineTester_SCCommandLineOptionTests_0`,  the failure reported here is
`Test_openjdk11_j9_sanity.functional_x86-64_mac_testList_1/26/` running on `mac11x64rt07`

It passed on the previous build `Test_openjdk11_j9_sanity.functional_x86-64_mac_testList_1/25` on a different machine `mac11x64rt08`.

Things must be different for these 2 machines.

[2021-05-06 16:57] pshipton commented on #12637
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Personal_testList_0/257/console
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Personal_testList_1/257/console

These are `Could not resolve host: github.com`, but I assume this needs to be retried in the test pipelines and not the build pipelines?

[2021-05-06 17:01] AdamBrousseau commented on #12637
Ideally on the test side imo. Does it seem to be machine specific or just intermittent network issues?

[2021-05-06 17:08] llxia commented on #12637
Personally, I would prefer to fix the underline issue if possible. Even with auto-retry, the retriggered test builds may fail again due to the network problem.
FYI @smlambert

[2021-05-06 17:18] pshipton commented on #12637
As would we all, but not sure it's possible, and probably out of our control. A side affect of having machines around the world in various places.

In all the cases listed I don't think there is any lasting machine issue. The machines are remain online (or re-attach) and continue to run other jobs successfully.

[2021-05-06 17:28] pshipton commented on #12638
`_RegisterApplication(), FAILED TO establish the default connection to the WindowServer, _CGSDefaultConnection() is NULL.` and then hang is an old jdk8 problem we haven't yet been able to resolve. There are older issues to be found about this.

[2021-05-06 17:29] pshipton commented on #12638
@tajila fyi

[2021-05-06 17:47] tajila commented on #11924
@JasonFengJ9 can you please look at the `test335DefenderSupersendsAsmAsMethodHandles` test failure?

[2021-05-06 17:55] JasonFengJ9 commented on #11924
Sure, will look into it.

[2021-05-06 21:52] pshipton commented on #12637
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_OpenJDK8/37/console

[2021-05-06 22:45] smlambert commented on #12637
That does not look like retry will help... that is not a temporary network error.

[code]

[2021-05-06 22:55] smlambert commented on #12637
Also in the case above in https://github.com/eclipse-openj9/openj9/issues/12637#issuecomment-833923282, it would be extremely inefficient to retry the entire test build due to some failure to upload results.  I think this is a common scenario.  I am not in favour of blind restarts, as they would not be a good use of resources and as @llxia said, they mask the underlying problems and much worse int

[2021-05-07 01:18] AdamBrousseau commented on #12637
I agree we don't want to retry entire jobs. Building retries around certain problematic steps however could be beneficial. Particularly things that reach out to the network where we have no control over intermittent problems. Git clones, artifact pulls, artifact uploads etc.

[2021-05-07 02:35] pshipton commented on #12637
@smlambert I think you are looking at the wrong thing, look higher in the build, it failed due to
[code]

[2021-05-07 02:37] pshipton commented on #12637
Everything I've linked here failed before the testing ever started. They could all be retried in some fashion. I agree we don't want to automatically restart something that got all the way or part of the way through the testing.

[2021-05-07 03:36] AdamBrousseau commented on #12637
Not to take away from this issue but that Jtreg failure is being tracked in https://github.com/adoptium/aqa-tests/issues/2484

[2021-05-07 11:59] JasonFengJ9 opened #12647 "JDK11 jdk_util_0_FAILED - various test failures"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.openjdk_x86-64_linux/59/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_util_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OWNER_BRANC

[2021-05-07 12:23] pshipton commented on #12621
I'm going to keep the machine online until we're ready to re-clone it. I'd rather have this failure than not enough machines to run testing.

[2021-05-07 12:25] pshipton commented on #12621
Well, that said, there is nothing waiting this morning any more. I'll keep it offline today, but if it's not re-cloned I will enable it for the weekend.

[2021-05-07 12:47] smlambert commented on #12637
Right, I see.  https://github.com/adoptium/aqa-tests/issues/2484 should address this issue.  And previously we had put a [5x retry on the curl task](https://github.com/adoptium/aqa-tests/blob/master/openjdk/build.xml#L57) related to https://github.com/adoptium/aqa-tests/issues/1748.

[2021-05-07 13:02] #6988 closed

[2021-05-07 13:36] #12640 closed

[2021-05-07 13:44] pshipton commented on #12647
This ran before I backed out https://github.com/eclipse-openj9/openj9/pull/12609. The open tests last night, which ran later and have the change backed out, didn't have this problem. It would be worth trying again with the latest to see if this is resolved now.

The open testing isn't all completed yet, but most likely the openjdk testing is complete across all platforms, and no failures reported.

[2021-05-07 13:44] AdamBrousseau commented on #12637
I'm not convinced that curl --retry 5 is working. The silent flag is on so there is no output but it spends 25 seconds after the echo before the error is reported which isn't much time.
[code]

[2021-05-07 13:50] pshipton commented on #12647
I know what this is.The other possibility, which seems more likely from what failed, is the internal testing is not consistent. @AdamBrousseau
Yesterday the extensions (which contain the tests) were updated to 11.0.12+1

[2021-05-07 13:51] #12647 closed

[2021-05-07 14:25] smlambert commented on #12637
re: https://github.com/eclipse-openj9/openj9/issues/12637#issuecomment-834405963 - expect it to spend ~30 seconds retrying:
1sec + 2sec + 4sec + 8sec + 16sec

Not sure what version of curl on machines, but later versions are 'smarter' about the retry...

[code]

[2021-05-07 14:40] pshipton commented on #12621
Great, thanks. I'll close this assuming fixed.

[2021-05-07 15:09] tajila opened #12649 "Update CONSTANT_Class verification checks for VTs"
With the introduction of VTs CONSTANT_Class descriptions can be simple names, array signatures and now Q type signatures.

Currently we have checks in `checkNameImpl` that restricts CONSTANT_Class desc to simple names and array signatures, this will cause verification errors when loading a VT classfile:

[code]

We need to update `checkNameImpl` in chverify.c to support qtype signatures for class

[2021-05-07 15:38] #11493 closed

[2021-05-07 15:51] dsouzai opened #12651 "Make TR_MethodObject relo record generation explicit"
This relocation is only generated when `symbol->isMethod()` is true; therefore there is an implicit assumption that (at least in a relocatable compile) a symbol having `isMethod()` return true implies a load of a method from an entry (presumably the method ref entry) in the constant pool. This is a concern because there are several "method" relocations, there isn't a good reason why `isMethod` jus

[2021-05-07 15:52] dsouzai opened #12652 "Make TR_BodyInfoAddress relo record generation explicit"
In some places, this relocation is just added (for example `TR::X86ImmInstruction::addMetaDataForCodeAddress`); there appears to be an implicit assumption about the instruction being generated and the relocation needed.

[2021-05-07 16:14] dsouzai opened #12653 "Verify correctness of the TR_RelativeMethodAddress relo record"
When generating a `TR_RelativeMethodAddress` relo reocrd, the eipRelative flag is set.
https://github.com/eclipse-openj9/openj9/blob/e1d5e6bfb405ded8ddd863116b26ff69c374465b/runtime/compiler/codegen/J9AheadOfTimeCompile.cpp#L231

When relocating, the `TR_RelocationRecordMethodAddress` API class is used:
https://github.com/eclipse-openj9/openj9/blob/e1d5e6bfb405ded8ddd863116b26ff69c374465b/runtime/

[2021-05-07 17:39] fengxue-IS commented on #12251
@EricYangIBM Can you take a look at this

[2021-05-07 18:35] pshipton commented on #12637
Just note this issue is not just about curl. I think only the last failure was related to curl.

[2021-05-07 19:43] llxia commented on #12133
We would like to create code coverage build in Jenkins. This build is the same as nightly build but with an extra CODE_COVERAGE flag. Below are the detail steps:

1. if CODE_COVERAGE is set, add special GCC options:` -fprofile-arcs -ftest-coverage` in OMR https://github.com/eclipse/omr/blob/master/cmake/modules/platform/toolcfg/gnu.cmake
2. update [defaults.yml](https://github.com/eclipse-openj9/o

[2021-05-07 19:56] LongyuZhang commented on #12133
Sure, I will work on it. Thanks @llxia .

[2021-05-07 20:15] koppor commented on #11549
Solved with release 16

[2021-05-10 07:02] knn-k commented on #12068
I think this issue can be closed now.
#12348 enabled allocation prefetching on AArch64.

[2021-05-10 09:06] lumpfish commented on #12638
Unless there's an objection I'll exclude the test on jdk9 osx to stop keep seeing the failure,

[2021-05-10 09:47] knn-k commented on #7132
I opened #12655 for `sun_misc_Unsafe_compareAndSwapLong_jlObjectJJJ_Z`.

[2021-05-10 11:11] knn-k commented on #11915
Failing again on build-docker-fedora33-armv8-5 in https://ci.adoptopenjdk.net/job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux/32/

[2021-05-10 12:18] pshipton commented on #12638
No objection.

[2021-05-10 13:02] #12068 closed

[2021-05-10 13:15] pshipton commented on #12621
@rajdeepsingh1 is there a difference on win2012-x86-5 from other machines with the amount of memory available? Some tests are failing on this machine because there isn't enough java heap allocated, which by default is 25% of the memory available.

I see the same failure on win2012-x86-10 as well, so the new machines may have the same problem.

[2021-05-10 13:20] pshipton opened #12656 "testDDRExtJunit_MonitorsAndDeadlock '!monitors deadlock' output is null or empty"
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_extended.functional_ppc64_aix_Nightly_testList_0/86
testDDRExtJunit_MonitorsAndDeadlock6_1
[code]

[2021-05-10 13:24] pshipton commented on #12594
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/344 - aix71-p8-4
java/util/logging/LoggingDeadlock2.java
[code]

[2021-05-10 13:28] pshipton commented on #12594
@tajila fyi

[2021-05-10 13:36] pshipton commented on #9782
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_OMR_testList_1/266/
osx1011-x86-2
[code]

[2021-05-10 13:38] pshipton commented on #11979
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_OMR_testList_1/267 - win2012-x86-11
cmdLineTest_sigabrtHandlingTest_0
[code]

[2021-05-10 17:06] mpirvu opened #12658 "Add timestamps to information printed by JITServer heart beat"
JITServer has a diagnostic thread that prints some information to the vlog every N seconds (configurable).
The information printed includes JITServer memory and CPU utilization, number of client JVMs and number of active compilation threads.
At the moment there is no timestamp associated with this information and we have to add some, so that we know when it happened.

[2021-05-10 17:11] mpirvu opened #12659 "Investigate possible memory leak at JITServer"
@AlexeyKhrabrov showed data that suggest JITServer may be leaking memory.

[2021-05-10 17:45] dmitry-ten commented on #12659
Are these memory leaks that persist even after the client disconnects?
Since we are using per-client persistent memory allocations for most of the compilation, if the leaking memory is inside a per-client allocation region, it should go away once the client disconnects. If the leak persists even then, it's most likely caused by some global persistent allocation. This could help significantly narro

[2021-05-10 18:17] mpirvu commented on #12659
Yes, the memory stays on after all clients disconnect. Also, I asked and the problem shows even when we don't share ROMClasses across JVM clients.

[2021-05-10 18:19] dmitry-ten commented on #11185
I was able to reproduce locally.
Here is the stack trace of the crash (which happens on the client):
[code]

So the issues is triggered by a class loader unload event, with the crash happening when runtime assumptions are being detached from their list. The assumptions are received by the client at the end of the remote compilation, deserialized and added to the list. Need to look for potential is

[2021-05-10 18:34] pshipton commented on #9124
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/345
win2012-x86-2
jdk_util_1
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops
java/util/logging/Logger/logrb/TestLogrbResourceBundle.java
[code]

[2021-05-10 18:44] AlexeyKhrabrov commented on #12659
I'll just show the data. This graph shows the RSS of the jitserver process over time while it serves a total of 1600 AcmeAir clients, up to 64 at the same time. The middle of the graph where average memory usage slowly grows is a stable state. At shutdown, after all clients have disconnected, the RSS is 2.3 GB, so we seem to be leaking up to 1.4 MB per client.
![mem_process](https://user-images.gi

[2021-05-10 20:59] JasonFengJ9 commented on #12168
Observed in an internal build `Test_openjdk8_j9_extended.openjdk_x86-64_windows/8/` (`win16x64rt3-3`)
[code]

[2021-05-10 21:36] vijaysun-omr commented on #12510
@ymanton this is not something to investigate right away but may be something to look at once you have investigated RHEL related container issues that you are focused on presently.

[2021-05-10 22:32] pshipton commented on #12168
@JasonFengJ9 can you repeat it?

[2021-05-10 22:32] pshipton commented on #12168
Created a 10 x 4 grinder https://ci.eclipse.org/openj9/view/Test/job/Grinder/1802/

[2021-05-10 22:34] pshipton opened #12662 "Add link from jenkins build job to create grinder"
It would be useful to have a link on a build job to create a grinder from the build. It would set the platform, customized download, and the build into the grinder.

@AdamBrousseau fyi

[2021-05-11 04:32] Akira1Saitoh commented on #6637
Implemented in following PRs:
https://github.com/eclipse/omr/pull/5932
https://github.com/eclipse/omr/pull/5934
https://github.com/eclipse-openj9/openj9/pull/12465

[2021-05-11 04:43] dmitry-ten commented on #12659
If system heap allocations during message exchange are the culprit, we could probably rewrite the serialization/deserialization code to work with persistent/heap region allocated vectors and strings. I think the original reason why we used stl implementation was because of grpc/protobuf, but since that's long been removed, there is no need to keep using memory that cannot be accounted for by the J

[2021-05-11 11:37] mpirvu commented on #12659
If I remember correctly, I instrumented the redefinition of the `new` operator:
[code]

[2021-05-11 11:38] #12175 closed

[2021-05-11 13:20] pshipton opened #12664 "java/lang/ProcessBuilder/Basic.java failing on new machines"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/346/
win2012-x86-10
java/lang/ProcessBuilder/Basic.java
[code]

[2021-05-11 13:41] pshipton commented on #12621
java/util/StringJoiner/StringJoinerTest.java is still failing on win2012-x86-5 due to OutOfMemoryError Java heap space

[2021-05-11 14:32] #12459 closed

[2021-05-11 14:34] mpirvu opened #12666 "Checklist for JITServer GA"
- [ ] New functionality
  - [x] Support for new method handles
    - [x] #11933 Add JITServer support for new invokedynamic and invokehandle
    - [x] #12011 JITServer support for transforming OpenJDK MethodHandles
    - [x] #12525 Add JITServer support for LambdaForm methods inlining
  - [ ] Storing AOT methods at JITServer
    - [x] #12154 Extend class loader table to support JITServer AOT cache

[2021-05-11 15:39] babsingh commented on #11935
@llxia We want to disable **specific tests** in a **test suite** for OpenJDK MethodHandles. E.g. `testLookupUnreflectSpecial` needs to be disabled in the `UnreflectTests_0 [extended.functional]` test suite. Currently, we are only allowed to disable the entire test suite through the XML file. How should we disable specific tests in a test suite? Can you point us to an existing example?

In OJ9, we

[2021-05-11 18:16] zl-wang commented on #11104
there are linker options to set these "default" pagesize(s) (on AIX only).  i didn't see they are used in the makefile though.

[2021-05-11 20:36] pshipton commented on #12133
Similar to archive_diagnostics() and ARCHIVE_JAVADOC you can collect the files you need and archive them.
https://github.com/eclipse-openj9/openj9/blob/master/buildenv/jenkins/common/build.groovy

[2021-05-11 20:40] LongyuZhang commented on #12133
@pshipton Thanks!

[2021-05-11 20:54] llxia commented on #11935
It looks like we want to disable a specific test in a test suite when OpenJDK MethodHandles is enabled in Openj9. Currently, the test framework does not support disable based on a certain feature. Do we have OpenJDK MethodHandles build in Jenkins nightly? Or we are only running OpenJDK MethodHandles build in the personal build?

FYI @renfeiw

[2021-05-11 20:59] smlambert commented on #11935
@babsingh - can you specify what tests specifically you want to enable/disable?  It could be potentially possible that the targets in the openjdk/playlist can be broken down into smaller units that accomplish this, depending on the set of tests that you are talking about.

[2021-05-11 20:59] llxia commented on #12637
https://github.com/adoptium/aqa-tests/issues/2484 is resolved and we should not have jtreg jar download issue anymore.

[2021-05-11 21:09] pshipton commented on #11935
This is extended.functional. I suggest setting some system property when OMH is enabled, and use that system property in the tests to control if they run or not.

[2021-05-11 21:48] VermaSh opened #12670 "Update "Linux on Z features" flags"
We are missing a few Linux on Z feature flags[2], `HWCAP_S390_VXRS_EXT2` and `HWCAP_S390_VXRS_PDE`. These have already been added to the linux kernel [1] but weren't added to the eclipse-openj9/openj9 repo. These flags are needed for `J9PORT_S390_FEATURE_VECTOR_PACKED_DECIMAL_ENHANCEMENT_FACILITY` [3] and `J9PORT_S390_FEATURE_VECTOR_FACILITY_ENHANCEMENT_2` [4] facilities.

[1] https://github.com/t

[2021-05-12 02:49] babsingh commented on #11935
OpenJDK MethodHandles have been enabled for JDK17 acceptance builds in
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/308. Tests need to be disabled in order to promote the JDK17 acceptance build.

In the below tests, test behaviour seen with OJ9 does not match the behaviour seen with the reference implementation (RI). These discrepancies were found when OJDK MHs were enabled in OJ9. These

[2021-05-12 06:56] Akira1Saitoh commented on #6332
ARMv8 has load-acquire and store-release instructions which can be used instead of memory barrier instructions.
From `Definition of the Armv8 memory model` in ARM Architecture Reference Manual,

In short,
- No loads/stores after a load-acquire instruction can be reordered before it,
- No loads/stores before a store-release instruction can be reordered after it.
- A load-acquire instruction after a

[2021-05-12 08:28] knn-k commented on #7132
#12671 implements inlining of `Unsafe_compareAndSwapObject`.

[2021-05-12 12:13] pshipton commented on #12664
Another segfault in TreeTest.java on win2012-x86-9 https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/347/
This one contains the message `The paging file is too small for this operation to complete`
@jdekonin @AdamBrousseau The new Windows machines, including win2012-x86-5, need to be checked for proper paging files. See also https://github.com/eclipse-openj9

[2021-05-12 12:13] pshipton commented on #12621
I disabled win2012-x86-5 for now.

[2021-05-12 12:17] pshipton opened #12673 "SecurityTests_0 SocketException: Connection reset"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly_testList_0/302 - cent7-ppcle-2
SecurityTests_0
[code]

[2021-05-12 12:31] JasonFengJ9 opened #12674 "NewROMCreationAfterModifyingExistingClassTest - ERROR: Expected to read shared ROMClass before j9bcu.205!"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_x86-64_mac_testList_2/32/` `mac11x64rt06`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=J9vmTest_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_sanity.functional_x86-64_mac&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIM

[2021-05-12 12:46] gss2002 commented on #10773
I see this problem with skylake hardware using Oracle JDK and OpenJDK hotspot using a JMH benchmark regarding synchronization.

https://github.com/chrishantha/microbenchmarks

<img width="614" alt="Screen Shot 2021-05-12 at 8 44 47 AM" src="https://user-images.githubusercontent.com/8833819/117977091-79cf5400-b2fe-11eb-9712-bd7586514bb9.png">
<img width="611" alt="Screen Shot 2021-05-12 at 8 44 39

[2021-05-12 12:50] gss2002 commented on #10773
Here is a xls showing the ops where the graphs above came from.
[OpenJDK8_292-256Threads.xls](https://github.com/eclipse-openj9/openj9/files/6466222/OpenJDK8_292-256Threads.xls)

[2021-05-12 12:59] babsingh commented on #10773
@gss2002 Thanks for sharing your results. How do the Skylake and Haswell machines compare in terms of number of CPUs and RAM? Were the two machines comparable? On Linux, the following commands will show these details:
[code]

[2021-05-12 13:23] gss2002 commented on #10773
**01dn (haswell):**
01dn ~]$ lscpu
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                48
On-line CPU(s) list:   0-47
Thread(s) per core:    2
Core(s) per socket:    12
Socket(s):             2
NUMA node(s):          2
Vendor ID:             GenuineIntel
CPU family:            6
Model:                 63
Model name:

[2021-05-12 13:45] gss2002 commented on #10773
@babsingh

We have additional Skylake Chipset that is a 6240 that I haven't full benchmarked which with openjdk but the performance from what I saw with Oracle is lagging behind the haswell not as much as the 6140 chip though.

61dn ~]$ sudo lscpu
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                72
On-line CPU(s) list:

[2021-05-12 14:09] fjeremic commented on #12670
I believe we have migrated this processor detection to OMR. See `omrsysinfo_get_processor_description`. The work needs to be performed in OMR. I think we should deprecate these J9 flags along with the `j9sysinfo_get_processor_description` API as it is now duplicate code and we don't want to maintain two implementaions.

[2021-05-12 14:30] babsingh commented on #10773
### Summary

This table summarizes https://github.com/eclipse-openj9/openj9/issues/10773#issuecomment-839769275 and https://github.com/eclipse-openj9/openj9/issues/10773#issuecomment-839784805.

| Machine  | CPUs | CPUs per core | Cores per socket | Sockets | CPU frequency | Total RAM | Memory speed | Memory type
| ------------- | ------------- | ------------- | ------------- |------------- |-----

[2021-05-12 14:54] gss2002 commented on #10773
@babsingh we actually applied the latest Supermicro Bios update 3.4 which provides a current microcode to the 06dn node and we also applied the RHEL 7.x latest microcode update in hopes this would improve performance and it did not.

06dn ]# rpm -qa | grep -i microcode
**microcode_ctl-2.1-73.8.el7.x86_64**

**dmidecode BIOS info:**
Getting SMBIOS data from sysfs.
SMBIOS 3.2 present.
95 structures

[2021-05-12 15:10] gss2002 commented on #10773
In my discussions with Intel Engineers on this issue we've un-covered they mentioned this also not sure how this could relate along with the pause instructions - [](https://software.intel.com/content/www/us/en/develop/articles/software-security-guidance/best-practices/mitigation-strategies-jcc-microcode.html?wapkw=skylake%20jcc)

[2021-05-12 15:37] smlambert commented on #11935
The point would be if all of those tests are related to a single feature (in this case MethodHandles), should they could get regrouped into their own target, a sub-target within functional.  Then it both makes it clearer that the tests are associated with the feature and excluding the entire set from the playlist.xml file is possible.  This may or may not be useful.

Since the specific list of tes

[2021-05-12 16:03] hangshao0 commented on #12674
The output from the previous build Test_openjdk8_j9_sanity.functional_x86-64_mac_testList_2/32/ on  mac10x64rt03 (passed):

[code]

Output from the failed build Test_openjdk8_j9_sanity.functional_x86-64_mac_testList_2/32/ on mac11x64rt06:
[code]

The test created a cache first and then use this existing cache to test. I suspect the cache is deleted in between, like some failures we saw in https://

[2021-05-12 16:58] gss2002 commented on #10773
Here are the CPU Specific Specs:
**Haswell e5-2690-v3** - https://ark.intel.com/content/www/us/en/ark/products/81713/intel-xeon-processor-e5-2690-v3-30m-cache-2-60-ghz.html
**Skylake Gold 6140** - https://ark.intel.com/content/www/us/en/ark/products/120485/intel-xeon-gold-6140-processor-24-75m-cache-2-30-ghz.html
**Skylake Gold 6240** - https://ark.intel.com/content/www/us/en/ark/products/192443/i

[2021-05-12 17:01] gss2002 commented on #10773
This includes the two original along with the Skylake Gold 6240 chipset. I may have some additional benchmarks coming from some other *Well Series processors coming later today or tomorrow.

[OpenJDK8_292-256Threads.xls](https://github.com/eclipse-openj9/openj9/files/6467834/OpenJDK8_292-256Threads.xls)
<img width="680" alt="Screen Shot 2021-05-12 at 12 59 58 PM" src="https://user-images.githubuse

[2021-05-12 18:52] pshipton opened #12678 "Update some OSU machines to Power 9"
It seems all the ppcle machines at OSU are Power 8, but we have the option to create Power 9 as well. We should have a mix of Power 8 and Power 9 for better testing. I suggest we change one cent7 machine first, and if that goes over without a problem then do a few more so we have half and half. The cent7 machines are used for compile, but using Power 9 shouldn't matter or affect the generated code

[2021-05-12 21:18] dmitripivkine commented on #10506
I think this issue can be closed

[2021-05-12 21:18] #10506 closed

[2021-05-13 00:05] babsingh commented on #11935
Thanks @smlambert. `MethodHandles_exclude.txt` will allow us to quickly disable tests for OJDK MHs. I didn't find any references to `latest_exclude_17.txt` in the OpenJ9 repo. Where is the `list of exclude files` set or managed?

[2021-05-13 02:44] Akira1Saitoh commented on #12518
Looks like we can inline `java/lang/Class.isInstance` if `supportsInliningOfIsInstance` returns true.
Cast class may not be known at compile time, but we already handle that case correctly.
When the cast class is unknown at compile time, the depth of the cast class needs to be loaded at runtime for `SuperClassTest`.
https://github.com/eclipse-openj9/openj9/blob/29631a27572649ee2dad254e8ca79c8ff686

[2021-05-13 02:45] Akira1Saitoh commented on #12518
Opened https://github.com/eclipse/omr/pull/6004

[2021-05-13 03:07] 0xdaryl commented on #5455
Enable CodeGenerator `supportsInliningOfIsInstance()`

[2021-05-13 03:22] Akira1Saitoh commented on #12518
Closed https://github.com/eclipse/omr/pull/6004 and opened https://github.com/eclipse-openj9/openj9/pull/12680

[2021-05-13 06:31] yangyayu-last opened #12681 "mysql connection"
Connect to mysql5.7 under centos7.7

Caused by: com.mysql.cj.exceptions.CJCommunicationsException: Communications link failure

The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the server.
    at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
    at sun.reflect.NativeConstructorAccessorImpl.newInstance(Nativ

[2021-05-13 12:25] JasonFengJ9 opened #12682 "JDK16 MacOS MathLoadTest_bigdecimal_special_5m_13_FAILED - NullPointerException: Cannot invoke "java.lang.Module.isNamed()" because "targetModule" is null"
Failure link
------------

From an internal build `Test_openjdk16_j9_special.system_x86-64_mac_testList_4/27/` (`mac11x64rt04`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=MathLoadTest_bigdecimal_special_5m_13&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk16_j9_special.system_x86-64_mac&amp;DOCKER_REQUIRED=

[2021-05-13 12:48] pshipton commented on #12681
- what version of OpenJ9 are you using?
- does the same problem occur when using a Hotspot build?

[2021-05-13 13:09] mpirvu commented on #12658
Maybe adding compilation queue size is useful too because growing over 1 is a sign of overloading.

[2021-05-13 13:10] #12394 closed

[2021-05-13 13:57] pshipton opened #12683 "Mixedrefs build not switching to nocompressedrefs automatically based on -Xmx"
Use any latest build, or the 0.26 release.
`java -Xmx300g` gives an error `VMJ9GC028E Option too large: '-Xmx'`
`java -Xnocompressedrefs -Xmx300g` works fine.

Since there is only one JVM in the package, I don't think it's a problem with the redirector. It seems the VM is missing logic outside the redirector to check the -Xmx value and NOT set the J9_EXTENDED_RUNTIME2_COMPRESS_OBJECT_REFERENCES fl

[2021-05-13 14:23] llxia commented on #11935
https://github.com/adoptium/TKG/blob/07171520f8b0849d922125d35380d45193f9c5bf/settings.mk#L296
https://github.com/eclipse-openj9/openj9/blob/24b14b4743f82a648712bdca71a5b870828e65f9/test/Utils/src/org/openj9/test/util/IncludeExcludeTestAnnotationTransformer.java

As Peter mentioned in https://github.com/eclipse-openj9/openj9/issues/11935#issuecomment-839172060, we need some runtime check to determ

[2021-05-13 14:49] pshipton commented on #11935
jdk17 doesn't have OMH enabled by default. There are two branches of the extensions. `openj9` doesn't have OMH enabled, while `openj9-staging` does.

[2021-05-13 15:32] JasonFengJ9 commented on #11927
`java.security.AccessControlException` not thrown at `Test_AccessController.test_doPrivilegedFrameStackWalking()` as per https://github.com/eclipse-openj9/openj9/pull/12604#issuecomment-840088458, the test in question is https://github.com/eclipse-openj9/openj9/blob/e80ab0f032fc4c2de3be817573f1fd4dda591a6f/test/functional/Java8andUp/src/org/openj9/test/java/security/Test_AccessController.java#L386

[2021-05-13 15:59] babsingh commented on #11935
@llxia After reading `IncludeExcludeTestAnnotationTransformer.java`, I don't think it supports a `list of exclude files`. It only parses a `single exclude file`. So, `latest_ojdkmh_exclude_17.txt` will include everything from `latest_exclude_17.txt` + OJDK MH specific tests.

[2021-05-13 16:50] fjeremic commented on #8664
Go for it! Let me know if you need any help.

[2021-05-13 18:18] llxia commented on #11935
yes, it assumes a single exclude file.

[2021-05-13 19:33] CGarces commented on #12681
I have the same problem after upgrade some minor version of 11.0.xx

Similar issue is disused [there](https://dev.to/stevesmashcode/why-did-my-java-web-app-stop-working-with-mysql-1oig) and refer to [this issue](https://bugs.openjdk.java.net/browse/JDK-8254713)

[2021-05-13 20:02] pshipton commented on #9782
There is another one https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OpenJDK8_testList_1/35/
I don't see the point of reporting these any more so I'll just start ignoring the failures.

[2021-05-13 21:44] pshipton commented on #12681
Seems this problem is related to an OpenJDK change, nothing to do with OpenJ9 so I will close this.
https://bugs.openjdk.java.net/browse/JDK-8254713

Apparently `TLSv1` and `TLSv1.1` are added (in Java 16 and 0.26 - jdk8u292 and 11.0.11) by default to the jdk.tls.disabledAlgorithms list in Java 11+: `conf/security/java.security` or Java 8: `jre/lib/security/java.security`. Users are free to remove

[2021-05-13 21:44] #12681 closed

[2021-05-14 02:27] smlambert commented on #11935
Since we wrote that transformer, would be a small matter of updating it to also read `feature_<featureName>_exclude` files.

We should establish a simple naming convention, all files in excludes starting with feature_ and ending with _exclude.txt

[2021-05-14 10:57] janvrany commented on #11136
I just started pushing remaining changes that add basic skeleton of JIT to OpenJ9: #12685
I excluded changes to CMake - they can be found in https://github.com/eclipse-openj9/openj9/pull/12685

[2021-05-14 12:45] pshipton commented on #12664
There are a number of tests failing on the new machines, related to memory.

https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_sanity.openjdk_x86-64_windows_Nightly/86/
win2012-x86-9
    java/lang/ProcessBuilder/Basic.java#id0.Basic_id0
    java/lang/ProcessHandle/TreeTest.java.TreeTest
    java/lang/ProcessHandle/TreeTest.java.TreeTest
    java/lang/StringBuffer/HugeCapacity.java.HugeCapacity

[2021-05-14 12:46] pshipton commented on #12637
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/690/console
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_Nightly/669/console

[2021-05-14 13:12] JavaTailor opened #12687 "How does J9 handle exceptions after SOE? Are there any flaws hidden here?"
Hi, we reported an issue to hotspot a few days ago, which is about handling exceptions after StackOverflowError occurred. The behavior between hotspot and J9 on the given test case is quite different. We first believe that this was a bug in hotspot.

However, the developer of hotspot gave an explanation for this issue, and this explanation was reasonable to convince me. Then, I have doubts about h

[2021-05-14 13:34] llxia commented on #12637
The problem happened when copying artifacts. The fact that we cannot copy artifacts from another Jenkins job [test.getDependency](https://ci.eclipse.org/openj9/job/test.getDependency/) makes me think that Jenkins master stopped responding during that time. @AdamBrousseau is this similar to the internal copyArtifacts issue?

[code]

[2021-05-14 13:49] #11424 closed

[2021-05-14 14:03] pshipton commented on #12687
@tajila fyi

[2021-05-14 14:22] llxia commented on #12637
I think we should add `openjdk-jenkins-helper` library in openj9 Jenkins configuration so that the child test job gets generated only if it does not exist. This will help to reduce memory usage on Jenkins during nightly runs.

[2021-05-14 14:50] pshipton commented on #12637
Might be faster as well. You can see certain steps before the tests start running can take quite some time, depending on the mcahine and I think especially if there is a lot going on at once.

[2021-05-14 15:04] pshipton opened #12689 "Pls reboot aix71-p8-6"
This machine was out of space, which I cleaned manually, but then I found a job hanging on this machine so I disabled it. Pls reboot it.

@jdekonin

[2021-05-14 15:21] dmitripivkine commented on #12683
If we want to support automatic selection CR/Full an extra logic should be added.
An equivalent code in redirector.c in `chooseJVM()` does:
1) Check can Compressed Refs (CR) be run in this environment and which maximum shift value is possible:
 - ZOS only: machine low memory allocation OS feature installed:
      `ZOS64_VMEM_ABOVE_BAR_GENERAL` - no support, CR can not be run, switch size to Full-6

[2021-05-14 15:29] JasonFengJ9 opened #12690 "OJDK MH: AccessControlException not thrown"
### Test failure
[code]
`java.security.AccessControlException` not thrown at `Test_AccessController.test_doPrivilegedFrameStackWalking()` as per https://github.com/eclipse-openj9/openj9/pull/12604#issuecomment-840088458, the test in question is https://github.com/eclipse-openj9/openj9/blob/e80ab0f032fc4c2de3be817573f1fd4dda591a6f/test/functional/Java8andUp/src/org/openj9/test/java/security/Test_Ac

[2021-05-14 15:35] tajila commented on #12683
@JasonFengJ9 Can you please take a look at this issue?

[2021-05-14 15:41] JasonFengJ9 commented on #12683
Sure, will do.

[2021-05-14 18:44] pshipton opened #12691 "JEP 409: Sealed Classes"
See https://openjdk.java.net/jeps/409

[2021-05-14 18:44] pshipton opened #12692 "JEP 412: Foreign Function & Memory API (Incubator)"
See https://openjdk.java.net/jeps/412

[2021-05-14 18:45] pshipton opened #12693 "JEP 414: Vector API (Second Incubator)"
See https://openjdk.java.net/jeps/414

[2021-05-14 18:45] pshipton commented on #12693
@gita-omr fyi

[2021-05-14 18:46] pshipton commented on #12692
@tajila @babsingh fyi

[2021-05-14 18:46] pshipton commented on #12691
@tajila fyi

[2021-05-14 18:56] jdekonin commented on #12689
Done, enabled on jenkins once again.

[2021-05-14 18:56] #12689 closed

[2021-05-14 19:10] tajila commented on #12691
The JEP states, `This JEP proposes to finalize Sealed Classes in JDK 17, with no changes from JDK 16.` so we should be fine

[2021-05-14 20:15] pshipton commented on #12637
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_OMR/818/console

[2021-05-14 20:27] llxia commented on #12637
Bugzilla: https://bugs.eclipse.org/bugs/show_bug.cgi?id=573548

[2021-05-15 14:56] pshipton opened #12695 "jdk17 JavaLangAccess.findBootstrapClassOrNull(String) needs impl"
jdk17 builds broken
[code]

[2021-05-15 14:57] pshipton commented on #12695
@keithc-ca @JasonFengJ9 fyi

[2021-05-15 16:34] pshipton opened #12696 "ParallelStreamsLoadTest_special_J9_15 ASSERTION FAILED codert_vm/cnathelp.cpp:125: (!((0 != (((iTableOffset)) & ((1))))))"
https://ci.eclipse.org/openj9/job/Test_openjdk16_j9_special.system_s390x_linux_Personal_testList_2/13
ub18-390-1
ParallelStreamsLoadTest_special_J9_15
variation: Mode555
JVM_OPTIONS:  -XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xcheck:gc:vmthreads:

[2021-05-15 18:57] pshipton commented on #12696
20 x 4 grinder https://ci.eclipse.org/openj9/job/Grinder/1816/

[2021-05-16 00:48] AlexeyKhrabrov commented on #12659
I did some more digging into this issue using `malloc_stats()` and instrumenting the JIT's global `operator new` defined in `J9Compilation.cpp`. It looks like #12458 is the root cause. Some of the data cached in the client session is stored in `std::string`s allocated with malloc rather than the persistent allocator and still needs to be deallocated.

So it was my own change that lead to this issu

[2021-05-16 01:12] #12600 closed

[2021-05-16 02:17] pshipton commented on #12637
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-32_windows_Nightly/709/

[2021-05-16 13:29] pshipton commented on #12656
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly_testList_1/306
[code]

[2021-05-16 15:17] pshipton opened #12697 "Problems with Update-Reference-Repos job, timing out"
I found that AIX machines were timing out trying to clone repos, I've updated the cache on all the machines manually, removing the remotes for jdk14 and jdk15.

The Update-Reference-Repos job has been failing. It seems to be getting killed by the sanitize job at night. This may be related to the (AIX, OSX, Windows) machines being busy during the day running special.system testing.

One idea is to

[2021-05-16 15:17] pshipton commented on #12697
@AdamBrousseau fyi

[2021-05-16 19:12] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/353
jdk_lang_0
java/lang/ClassLoader/GetDotResource.java.GetDotResource
java/lang/ClassLoader/GetSystemPackage.java.GetSystemPackage
java/lang/ClassLoader/IsParallelCapable.java.IsParallelCapable
java/lang/ClassLoader/LoadNullClass.java.LoadNullClass
java/lang/ClassLoader/securityManager/ClassLoaderTest.java.Clas

[2021-05-17 00:01] ShanshLai opened #12698 "java command crash in containers of Kubernates when the properties "CgroupsPerQOS=true""
jdk : adoptopenjdk.
version: jdk8u292-b10_openj9-0.26.0

--------------------
Output from `java -version`.

Unhandled exception
Type=Bus error vmState=0x00000000
J9Generic_Signal_Number=00000028 Signal_Number=00000007 Error_Value=00000000 Signal_Code=00000002
Handler1=00007FE08F02C8C0 Handler2=00007FE08E7D5850 InaccessibleAddress=00002AAAAAC00000
RDI=00007FE08818EE00 RSI=0000000000000008 RAX=00007

[2021-05-17 00:14] ShanshLai commented on #12698
I also tried other openj9 versions still failed.
I noticed that in kubernates given file it is not empty, eg:
/sys/fs/cgroup/memory/kubepods/burstable/pod1b5bb3f4-9206-4ce2-b6d5-55946987eeb7/memory.limit_in_bytes
6442450944

but by default, this value is empty.

[2021-05-17 04:20] ChengJin01 opened #12699 "[RISC-V] Set up a CI pipeline environment in OpenJ9"
As requested by @0xdaryl ,   we should be able to set up a cross-compilated/emulated RISC-V CI testing environment in OpenJ9 for RISC-V, which is similar to what was set up at OMR for RISC-V at https://github.com/eclipse/omr/issues/4641.   As @janvrany starts to open OpenJ9 PRs for his work, it would be very useful if we could verify the changes at the project.

Actually we previously had cross-co

[2021-05-17 06:17] #12698 closed

[2021-05-17 14:02] EmanElsaban opened #12701 "Assertion Failure on JITServer in PersistentAllocator.cpp"
I saw this assertion after I connected 6 clients of PetClinic Application to JITServer. In the nightly image  (build 2021-05-07).
[code]

FYI: @mpirvu @dmitry-ten

[2021-05-17 14:05] EmanElsaban commented on #12701
Stack Trace:
[code]

[2021-05-17 14:22] EmanElsaban commented on #12701
I see this assertion when I use the option ``-Xjit:shareROMClasses``

[2021-05-17 14:45] dmitry-ten commented on #12701
I found the root cause of the issue.
The assert gets triggered in
https://github.com/eclipse-openj9/openj9/blob/f3768f178f7e074395c73c90ffe3a9aefdcc3558/runtime/compiler/control/JITServerCompilationThread.cpp#L679-L683
There is a double free because JITServer Shared ROM Class cache code will also free the newly allocated ROM class if it's already been cached:
https://github.com/eclipse-openj9/open

[2021-05-17 15:58] dmitry-ten commented on #12659
Ok, then I guess it makes sense why I couldn't find any actual memory leaks after instrumenting the global `operator new`.
I did my own experiment where I ran AcmeAir with load for 50 iterations, and compared server idle memory usage. Here are my results:
[code]
All of the extra memory used is visible in the javacore and it's all persistent memory, which is strange, all of the persistent memory se

[2021-05-17 16:23] mpirvu commented on #12659
@dmitry-ten Do you see a trend with each additional run? i.e does the increase from 49.9 MB to 78MB happen gradually (more or less)?

[2021-05-17 17:17] dmitry-ten commented on #12659
The most common global persistent memory allocations done on the jitserver should be `MessageBuffer` allocations, which happen whenever a buffer needs to be expanded to fit a large message. Another common allocations are optimization plans, which are allocated/freed once per compilation.

[2021-05-17 21:04] jdekonin commented on #12664
@rajdeepsingh1, the page file configuration isn't working on these new systems.  By the looks of it the answer will likely be for 1 contiguous pagefile and not 2 on 2 different drives which windows doesn't appear to be handling correctly anyways via this offering. This might require an increase in hard drive size on C from 100 -> 150??  added cost, but maybe we can do away with the added (50 or 10

[2021-05-17 23:07] dmitry-ten commented on #12659
I determined that the increase in persistent memory consumption is due to fragmentation of global persistent memory.
I instrumented the global persistent allocator to keep track of how much memory is actively in use, and how much memory has been allocated with the segment allocator, which is the underlying storage of persistent memory.
I printed the stats in the `ClientSessionData` destructor, to

[2021-05-17 23:26] AlexeyKhrabrov commented on #12659
I think this can be improved if we implement buffer expansion slightly differently. Currently it's expanded based on the size of the message that doesn't into it:
https://github.com/eclipse-openj9/openj9/blob/f3768f178f7e074395c73c90ffe3a9aefdcc3558/runtime/compiler/net/MessageBuffer.cpp#L38-L55

Instead, we can set starting capacity to a power of 2 (e.g. 16K or 32K), and during expansion round up

[2021-05-18 00:39] mpirvu commented on #12659
I agree with the fixed sizes starting with 32K.
A buddy allocator (with block coalescing) should remains as a todo if time permits until GA.

[2021-05-18 04:01] mpirvu commented on #12701
I also think there is the possibility of incorrectly increasing the refCount for a shared ROMClass.
`romClassFromString()` calls `cache->getOrCreate((const J9ROMClass *)romClassStr.data());` and increases the refCount of the shared ROMClass on the account that very soon we'll add a ramClass into our session cache which will point to this shared ROMCLass. If the addition of the ramClass fails becau

[2021-05-18 04:24] #12251 closed

[2021-05-18 04:34] AlexeyKhrabrov commented on #12701
All the places in the code introduced in #12417 where a newly allocated ROMClass is freed if it's already present in the client session cache need to be modified such that the ROMClass is freed correctly, as done here:
https://github.com/eclipse-openj9/openj9/blob/f3768f178f7e074395c73c90ffe3a9aefdcc3558/runtime/compiler/runtime/JITClientSession.cpp#L420-L423
I suggest putting this into a separate

[2021-05-18 12:43] babsingh opened #12705 "OJDK MH builds break with #12660"
OJDK MH builds break with #12660: **Disable impdep1 handling for OpenJDK MHs**.

There are compilation failures, which prevents me to build OpenJ9 JDK16 or JDK17 with OJDK MHs enabled.

[code]

There may be more errors.

[2021-05-18 12:45] babsingh commented on #12705
fyi @EricYangIBM @gacholio

[2021-05-18 12:47] babsingh commented on #12705
@fengxue-IS `MHInterpreter.hpp` is still being built with OJDK MHs enabled.

[2021-05-18 12:50] pshipton opened #12706 "pltest failing j9vmem_testFindValidPageSize on AIX due to 64K page"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR_testList_1/276/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_OMR_testList_1/273
cmdLineTester_pltest_aix_0
[code]

Introduced by https://github.com/eclipse/omr/pull/5995

[2021-05-18 12:51] pshipton commented on #12706
@singh264 @zl-wang this is blocking the OMR acceptance build

[2021-05-18 14:05] gacholio commented on #12705
Ah, I tested the wrong new JDK. MHInterpreter* needs to be excluded from the new builds (and for good measure, stop including the hpp file in the interpreter to be sure).

[2021-05-18 14:26] paulcheeseman opened #12709 "Snap dumps cause empty thread and GC history sections in javacores"
When a snap dump is generated, the trace buffers are flushed. This appears to be intentional, but there is an undesirable side effect that occurs under certain cirumstances.

When a multithreaded process runs out of Java heap space, several threads can throw OutOfMemoryErrors at almost exactly the same time, and dumps are simultaneously triggered for all these threads. The default Xdump agents for

[2021-05-18 14:45] gita-omr opened #12710 "Recognize Stable annotation in JIT"
Recognize Stable annotation in JIT using helpers implemented in [1]

[1] https://github.com/eclipse-openj9/openj9/pull/12679

[2021-05-18 15:20] jdekonin commented on #12699
There is already a system setup for OMR to perform cross-compiles for risc-v.  @janvrany having a big role in getting that operational as I understand.  I am not familiar with how that differs from the Adopt cross-compile environment though.

We should be able to clone out the system that OMR uses and add to the OpenJ9 jenkins without too much trouble.  I *believe* all the pipelines, whether night

[2021-05-18 16:10] gacholio commented on #12709
@keithc-ca

[2021-05-18 16:30] #12695 closed

[2021-05-18 19:01] EricYangIBM opened #12712 "Build instructions possibly out of date"
In the OpenJDK build instructions "Setting up your build environment without Docker" section (e.g. [v16](https://github.com/eclipse-openj9/openj9/blob/master/doc/build-instructions/Build_Instructions_V16.md#setting-up-your-build-environment-without-docker)) step 2 did not work for me. gcc-9 and g++-9 versions were still used in the build. What I did instead was run the following:

[code]

[Source]

[2021-05-18 19:05] pshipton opened #12713 "ub16-390-2 libcurl.so.4: version `CURL_OPENSSL_3' not found"
ub16-390-2 was recently updated to Ubuntu 20.04

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_s390x_linux_Personal_testList_1/284/console
[code]

[2021-05-18 19:58] fjeremic commented on #12706
@singh264 @zl-wang any updates on this? Have we confirmed whether eclipse/omr#5995 is the culprit? If we can't resolve by EOD can you please submit a PR to back out the change?

[2021-05-18 20:15] singh264 commented on #12706
@fjeremic @pshipton it seems very likely my recent [OMR commit](https://github.com/eclipse/omr/pull/5995) is the culprit.

I will submit a PR to back out my OMR changes if I am unable to resolve the issue before EOD.

[2021-05-18 20:51] pshipton commented on #12713
Joe thinks this was already fixed, but the build had bad timing.

[2021-05-18 20:51] #12713 closed

[2021-05-18 21:32] pshipton commented on #12712
@keithc-ca fyi

[2021-05-18 21:33] pshipton commented on #12712
So even though gcc 7 was installed, setting `export CC=gcc-7 CXX=g++-7` wasn't enough for the build to use it?

[2021-05-19 00:03] pshipton opened #12717 "cent7-ppcle-5 hung in build job"
Disabled it.

https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64le_linux_Personal/1162/console
[code]

[2021-05-19 00:03] pshipton commented on #12717
@jdekonin @AdamBrousseau fyi

[2021-05-19 01:23] knn-k commented on #12518
I think this issue can be closed now.  #12680 enabled `supportsInliningOfIsInstance()`.

[2021-05-19 02:46] jdekonin commented on #12717
:) Surprising uptime.  I could access without issue, but I rebooted the system after verifying that the system was up2date and not hurting space wise.  Re-added into jenkins.

[code]

[2021-05-19 02:46] #12717 closed

[2021-05-19 03:54] knn-k commented on #7132
This issue can be closed.

[2021-05-19 04:23] AdamBrousseau commented on #12699
Adopt cross compiles in a cent6 docker container on x. They do have actual machines they run testing on. Does the omr deb10 do cross compiles or does it do "real" compiles on an emulated environment? I'm guessing the latter. If we do cross compile route, we should be able to use any of our existing cent6 machines or the container once Joe gets it going, maybe with additional tools. But that won't

[2021-05-19 04:32] pshipton opened #12719 "zlinux pltest j9mmap_test9, 10 failing on Ubuntu 20.04"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_s390x_linux_OMR_testList_1/272
cmdLineTester_pltest_0
Failing on ub16-390-1, which is just upgraded to Ubuntu 20.04
[code]

[2021-05-19 04:32] pshipton commented on #12719
@tajila fyi

[2021-05-19 04:40] pshipton opened #12720 "jit_jitt failing in OMR acceptance"
I assume they are all the same. Will figure out tomorrow if this is due to an OMR change or an OpenJ9 change.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_OMR_testList_1/281
jit_jitt_2
jit_jitt_3
jit_jitt_openj9_none_SCC_0
jit_jitt_openj9_none_SCC_3
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_OMR_testList_0/281
jit_jit

[2021-05-19 04:53] dmitry-ten opened #12721 "Remove JITServer-specific code for ROM strings access"
#11331 changed ROM class serialization to always include all ROM strings, including the ones stored outside of the class. All strings are now sent to the server and stored there, and SRPs to them are updated.
This means that `TR_ResolvedJ9JITServerMethod:::getROMString` (and its copy in the client session) is no longer needed, and all methods that use it, no longer need to be overridden for JITSer

[2021-05-19 04:57] knn-k commented on #6608
I merged #12703 for this.

[2021-05-19 07:07] janvrany commented on #12699
No, the OMR RISC-V job cross-compiles on x86_64 and then uses QEMU in process-level emulation mode to run tests.

[2021-05-19 11:43] #7132 closed

[2021-05-19 11:44] #12518 closed

[2021-05-19 11:49] #6608 closed

[2021-05-19 12:05] pshipton opened #12722 "Does cent6-x64-4 have a credentials problem?"
See https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_OMR/910/console

It happened twice, previously in https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_OMR/909/

I've disabled the machine for now.

@AdamBrousseau @jdekonin

[2021-05-19 12:08] pshipton commented on #12720
This is failing outside the OMR acceptance build, so not related to OMR changes.
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_x86-32_windows/2730/

There are other crashes as well, not sure if they are related.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-32_windows_Nightly/709/tapResults/
Example:
[code]

[2021-05-19 12:12] pshipton commented on #12720
Changes https://github.com/eclipse-openj9/openj9/compare/30418e77e...d03685e

[2021-05-19 12:21] pshipton commented on #12722
There are other failures on the same machine.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/695/console
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/672/console
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_1/314/console
https://ci.eclipse.org/openj9/job/Te

[2021-05-19 12:43] pshipton commented on #12720
Found this as well, which implicates
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-32_windows_Nightly/377
[code]
[code]

[2021-05-19 12:52] EricYangIBM commented on #12712
@pshipton No, `gcc --version` showed 9 (same with g++). It gave some C string errors in the build. I also tried `export CC=/usr/bin/gcc` but that didn't work either.

[2021-05-19 13:10] jdekonin commented on #12722
Logging onto the system I don't see a space problem or left over java processes.  I've rebooted and enabled the machine for future work.

[2021-05-19 13:10] #12722 closed

[2021-05-19 13:34] pshipton commented on #12712
Did you follow the docker instructions to install gcc 7 so that it was available?

[2021-05-19 13:42] EricYangIBM commented on #12712
Yes. `ls -lh /usr/bin/gcc*` showed that it was installed.

[2021-05-19 14:11] keithc-ca commented on #12712
`update-alternatives` is probably a better way to select the desired version.

@EricYangIBM What errors did you see building with 9? We should fix those.

[2021-05-19 14:31] EricYangIBM commented on #12712
[code]

Configure command: `bash configure --with-freemarker-jar=/root/freemarker.jar --enable-openjdk-methodhandles --with-openj9-cc=/usr/bin/gcc-9 --with-openj9-cxx=/usr/bin/g++-9 --with-boot-jdk=/root/bootjdk15`

[2021-05-19 14:34] keithc-ca commented on #12712
Those warnings were addressed by #12694.

[2021-05-19 14:42] pshipton opened #12723 "Install gcc 9 (if necessary) on one each x,p,z linux machine"
We should do some lower priority investigation of builds with gcc 9. If we can get one build machine for each x,p,z linux with gcc 9 installed, then we can try some builds and see where we stand in terms of successfully building, and performance comparison with existing builds.

[2021-05-19 14:44] pshipton commented on #12723
Not sure how feasible it is to install gcc  9 on CentOS 6. We should give it a try, but can fallback to trying CentOS 7 if necessary.

[2021-05-19 14:45] pshipton commented on #12723
@keithc-ca not asking you to try it, but wondering if you have tried gcc 9 on any platforms. I think you have tried newer compilers in the past.

[2021-05-19 15:01] pshipton commented on #12720
The problem is caused by https://github.com/eclipse-openj9/openj9/pull/12702. I did a build without this change and ran a few of the failing tests on it, which passed.

https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-Personal/74/
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1826/
https://ci.eclipse.org/openj9/view/Test/job/Grinder/1827/

I suggest we back out the change until we have

[2021-05-19 15:11] pshipton commented on #12712
I think you need to search for `: error`

[2021-05-19 15:27] pshipton commented on #12720
Closing since the change is reverted.

[2021-05-19 15:27] #12720 closed

[2021-05-19 16:42] keithc-ca commented on #12723
Yes, I believe I have tried gcc 9 before (and opened PRs to fix warnings discovered that way).
BTW, gcc 10 has been available for a while too.

[2021-05-19 17:26] pshipton commented on #12723
OpenJ9 can support compilation with gcc 10, but I don't think we should consider switching until it's listed as a supported version for OpenJDK. https://wiki.openjdk.java.net/display/Build/Supported+Build+Platforms

[2021-05-19 17:41] keithc-ca commented on #12723
Using gcc 10 doesn't go well:
[code]
and the build hangs there.
Sometimes the failure happens for other methods
[code]

[2021-05-19 18:59] pshipton opened #12727 "JEP 403: Strongly Encapsulate JDK Internals"
See https://openjdk.java.net/jeps/403

[2021-05-19 19:00] pshipton commented on #12727
@tajila @llxia fyi

[2021-05-19 19:21] babsingh opened #12728 "OpenJ9 Perf Results with OJDK MHs enabled"
This issue contains performance data for OpenJ9 with OJDK MHs enabled.

### Target benchmarks
1) JRuby
2) Nashorn
3) scala-java-records-benchmark (https://github.com/harpocrates/scala-java-records-benchmark, https://github.com/eclipse-openj9/openj9/issues/12359)

[2021-05-19 20:03] #12701 closed

[2021-05-19 20:03] dmitry-ten commented on #12375
There is a `TODO` comment here:
https://github.com/eclipse-openj9/openj9/blob/945e979a9a33c6f5b0da6a6af5c6ca3514ccb5d7/runtime/compiler/control/CompilationThread.cpp#L8825-L8835
If we are going to lower the required lower memory bound for local cold client compilations, might as well do it for non-JITServer compiles as well. I'm not qualified to say whether the same should be done for JNI and thun

[2021-05-19 20:07] mpirvu commented on #12375
I would leave this the way it is now.

Separate queue is the best approach because it gives full control when the upgrades are processed. As an experiment we can try with GCR, which is enabled by default for cold compilations.

Always a good idea if something goes wrong with the new queue or anything else that we cannot anticipate.

Alexey has a solution, but does not have to deliver at the moment

[2021-05-20 01:51] #12705 closed

[2021-05-20 02:34] nbhuiyan commented on #12728
For reference, here are the recent results of jruby and nashorn benchmarks on JDK11 comparing the performance of OpenJ9 with the existing OpenJ9 MethodHandle implementation vs the reference OpenJDK implementation (RI). The diff (performance gap) is calculated using the following: `abs(OpenJ9 - RI)/RI * 100`.

# Jruby

[headius/bench2018](https://github.com/headius/bench2018)

### red-black (lower=

[2021-05-20 11:48] 0xdaryl opened #12732 "AArch64: 5min mauve failure in gnu.testlet.java.text.Bidi.reorderVisually"
Found in a PR build (#10320) and test running 5-minute mauve in default mode.  Full output attached.
[code]

[consoleText.txt](https://github.com/eclipse-openj9/openj9/files/6515580/consoleText.txt)

[2021-05-20 12:15] babsingh commented on #12728
These results are collected using `scala-java-records-benchmark`. They were collected on 19 May 21. Lower score refers to better performance. The unit of score is `ns/op` [time/operation]. `OpenJ9 w/ OJDK MHs + JIT` still underperform. There are pending changes, which will eventually improve the performance.

| **Benchmark**                      | **OJDK JDK16** | **OpenJ9 JDK16** | **OpenJ9 w/ OJ

[2021-05-20 12:18] babsingh commented on #12728
@DanHeidinga More data will be reported next week with changes that will lead to better performance.

[2021-05-20 12:50] JasonFengJ9 opened #12733 "aarch64_linux jdk_util_0_FAILED : Error: STREAM_TO_ARRAY: java.lang.NullPointerException & OutOfMemoryError: Java heap space"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.openjdk_aarch64_linux/43/` (`cent7-aarch64-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_util_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=

[2021-05-20 13:01] pshipton opened #12734 "jdk17 openj9-staging OMH failing to compile"
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_mac_OpenJDK/462
[code]

[2021-05-20 13:04] JasonFengJ9 opened #12735 "aarch64_linux MathLoadTest_autosimd Segmentation error at Compiled_method=net/adoptopenjdk/test/autosimd/AutoSIMDTestDouble.testCopy()V"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.system_aarch64_linux/34/` (`ub18-aarch64-7`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=MathLoadTest_autosimd_5m_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VEN

[2021-05-20 13:07] babsingh commented on #12734
The default case is missing from the below switch case:
https://github.com/eclipse-openj9/openj9/blob/142f75ec2784195923da8f9db8f4f02be9bada52/runtime/compiler/optimizer/J9TransformUtil.cpp#L2501-L2507

The fix should be similar to https://github.com/eclipse-openj9/openj9/pull/12644/commits/a5c73e5aab0787bab4e3eedba1029121c29a0a53, which was part of https://github.com/eclipse-openj9/openj9/pull/12

[2021-05-20 13:10] JasonFengJ9 opened #12736 "aarch64_linux JCL_FVTest_SE80_Internal_0_FAILED AssertionError: FAILED :!!!, should=00000010FE at d7701.java:374"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.functional_aarch64_linux/35/` (`ub18-aarch64-10`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=JCL_FVTest_SE80_Internal_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&

[2021-05-20 13:15] pshipton commented on #12734
This was broken since May 14, but I didn't notice since there were other problems.

https://github.com/eclipse-openj9/openj9-omr/compare/092787cd681...c58ed85788a
https://github.com/eclipse/omr/pull/5984

[2021-05-20 13:17] 0xdaryl commented on #12728
It is unlikely we will have results with JIT enabled until late next week at the earliest.  @jdmpapin

[2021-05-20 13:20] babsingh commented on #12734
Created https://github.com/eclipse-openj9/openj9/pull/12737 to address the issue.

[2021-05-20 13:31] JasonFengJ9 opened #12738 "aarch64_linux jdk_math_0_FAILED NumberFormatException: For input string: "00027hi1e3966""
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.openjdk_aarch64_linux/40/` (`ub18-aarch64-8`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_math_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=

[2021-05-20 13:33] #12734 closed

[2021-05-20 13:37] JasonFengJ9 opened #12739 "aarch64_linux DaaLoadTest_daa1_CS_5m_0_FAILED testIntrinsicPerformance(net.openj9.test.arithmetics.TestPerformance): divide by zero"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.system_aarch64_linux/32/`(`cent7-aarch64-4`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=DaaLoadTest_daa1_CS_5m_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VEND

[2021-05-20 13:42] JasonFengJ9 commented on #12733
Adding an IndexOutOfBoundsException from an internal build `Test_openjdk16_j9_special.system_aarch64_linux_testList_4/20/` (`ub18-aarch64-5`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=DaaLoadTest_daa2_special_5m_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk16_j9_special.system_aarch64_linux&amp;DOCKER_

[2021-05-20 13:45] JasonFengJ9 commented on #12739
Adding an `ArithmeticException: Decimal overflow` from another internal build `Test_openjdk16_j9_special.system_aarch64_linux_testList_1/20/` (`cent7-aarch64-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=DaaLoadTest_daa1_special_5m_2&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk16_j9_special.system_aarch

[2021-05-20 15:27] pshipton opened #12740 "jtreg java/util/zip/DeInflate.java inflate failures, length mismatch"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_OpenJDK11/40/
java/util/zip/DeInflate.java
Fails on Ubunut 20 machines ub20-390-1 and 2 (Eclipse jenkins ub16-390-1 and 2), passed on a ub18 machine. The failure is not related to the new OpenJDK level.
[code]

[2021-05-20 15:35] dsouzai opened #12742 "Remove TR_ASSERT_FATAL, make TR_ASSERT fatal by default"
The JIT has two variants of asserts, `TR_ASSERT` and `TR_ASSERT_FATAL`. `TR_ASSERT` is a NOP unless running a debug build. This means that there many asserts that perform conceptual integrity checks that are not actually checked by default. Nowadays, all new asserts added are of the variant `TR_ASSERT_FATAL` (because there's no point adding an assert that won't actually assert).

One of the main a

[2021-05-20 15:42] fjeremic commented on #12742
I'm fully in favour of replacing non-fatal asserts with fatal ones. We've gone through this exercise in the last few years and have showed we can save quite a bit of development resources and catch problems much earlier by enabling fatal asserts. We continue to replace non-fatal asserts with fatal ones as we read and modify parts of the code. We have found in general it is difficult to look at som

[2021-05-20 15:53] fjeremic commented on #12742
For production/user scenarios if we hit fatal asserts we have escape hatches in place:
https://github.com/eclipse/omr/blob/fd57308a4e2392f787403bcb2098514889faf646/compiler/infra/Assert.cpp#L142-L153

We can either:
1. Ignore the assert and continue on
2. Fail the compilation

Ideally we should not be hitting fatal asserts in userland as that means we likely have a bug which our testing has failed

[2021-05-20 16:01] pshipton commented on #12733
@knn-k fyi

[2021-05-20 16:01] pshipton commented on #12735
@knn-k fyi

[2021-05-20 16:01] pshipton commented on #12736
@knn-k fyi

[2021-05-20 16:02] pshipton commented on #12738
@knn-k fyi

[2021-05-20 16:02] pshipton commented on #12739
@knn-k fyi

[2021-05-20 16:58] pshipton commented on #12551
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_OpenJDK8/43
ub16p8j92
java/util/BitSet/BitSetStreamTest.java
jdk_util_0
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops

https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_sanity.openjdk_ppc64l

[2021-05-20 17:04] pshipton commented on #10929
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_OpenJDK8/40
jdk_lang_0
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops
jdk/lambda/separate/TestHarness.java
[code]

jdk/lambda/ArrayCtorRefTest.java
[code]

[2021-05-20 18:29] mpirvu commented on #12742
The end goal should be to have a working debug build. This means that invalid asserts should be removed, valid ones that trigger should be fixed. It's a case by case solution that will require time.

[2021-05-20 18:44] babsingh commented on #12544
As per @nbhuiyan, this failure cannot be reproduced. Thus, I am closing this issue. This issue can be reopened if the failure reoccurs.

[2021-05-20 18:44] #12544 closed

[2021-05-20 18:57] pshipton commented on #12740
@jdekonin is there any update for libz.so on the zlinux ub20 machines?

[2021-05-20 19:35] a7ehuo commented on #10929
I didn't find the core file in the [Artifacts](https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_OpenJDK8/40/). Maybe I'm not looking at the right location...
[code]

Should the `-Xdump` be updated to include `-Xdump:system:events=throw+uncaught` in order to capture core files when the `NPE` happens?

[2021-05-20 20:22] pshipton commented on #10929
The jdk_lang test bucket runs many tests, we might fill up the disk with core files by using "throw". I expect the test harness is catching the exception and printing it.

[2021-05-20 20:47] keithc-ca commented on #12740
Closed via above PRs.

[2021-05-20 20:47] #12740 closed

[2021-05-20 23:44] knn-k commented on #12738
I reproduced the failure locally, although it seems to depend on the random seed.

[2021-05-21 00:39] 15838028035 opened #12749 "openjdk and openj9 config -xms -xmx memory use problem ?"
Java -version output
--------------------

openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-b03)
Eclipse OpenJ9 VM (build openj9-0.14.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20190417_286 (JIT enabled, AOT enabled)
OpenJ9   - bad1d4d06
OMR      - 4a4278e6
JCL      - 5590c4f818 based on jdk8u212-b03)

Summary of problem
------------------
elasticserach6.5.4 jvm.

[2021-05-21 05:50] knn-k commented on #12733
https://github.com/eclipse/omr/pull/6025 will fix this.

[2021-05-21 05:52] knn-k commented on #12466
The failure with jdk_math_1 in https://github.com/eclipse-openj9/openj9/issues/12466#issuecomment-845076727 will be fixed by https://github.com/eclipse/omr/pull/6025.

[2021-05-21 06:03] knn-k commented on #12736
https://github.com/eclipse/omr/pull/6025 will fix this.

[2021-05-21 19:10] pshipton opened #12751 "xlinux crash vmState=0x000565ff ConstantObjectHandle.invokeExact_thunkArchetype_L(I)Ljava/lang/Object;"
Internal build job_output.php?id=5687245 tracked by 145504.

Mode555 is
-XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts="- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000",gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xcheck:gc:vmthreads:all:quiet

[code]

[2021-05-22 07:24] 1a2s3d4f1 opened #12754 "Get wrong gc information on JDK16"
Java -version output
--------------------

[code]

Summary of problem
-------------------
I get wrong gc information by using [spark](https://github.com/lucko/spark) .This problem happen on JDK11_openj9 and JDK16_openj9.
![2021-05-22_14 53 06](https://user-images.githubusercontent.com/40121560/119218104-2dabbd00-bb11-11eb-8f7d-f4a32b8c0355.jpg)

Diagnostic files
----------------

Part spark GC Mon

[2021-05-22 11:27] pshipton commented on #12754
@dmitripivkine

[2021-05-23 01:24] knn-k commented on #12738
After the fix from https://github.com/eclipse/omr/pull/6025, the latest JDK11 sanity.openjdk is OK https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/422/

[2021-05-23 01:25] knn-k commented on #12733
After the fix from eclipse/omr#6025, the latest JDK8 sanity.openjdk is OK https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_aarch64_linux/226/

[2021-05-24 00:29] knn-k commented on #12739
DaaLoadTest_daa2_CS_5m_0 fails with a SEGV in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_aarch64_linux/411
even after https://github.com/eclipse/omr/pull/6025 is merged.
[code]
[code]

[2021-05-24 08:59] lumpfish opened #12755 "functional test suite build fails on hotspot jdk17"
Ref: https://github.com/adoptium/aqa-tests/issues/2587

Is this something openj9 can fix or should these tests somehow avoid being compiled and run on a hotspot build?

[2021-05-24 09:02] lumpfish opened #12756 "functional test suite build fails on hotspot jdk8"
Ref: https://github.com/adoptium/aqa-tests/issues/2586

Is this something openj9 can fix or should these tests somehow avoid being compiled and run on a hotspot build?

[2021-05-24 10:06] knn-k commented on #12366
I opened https://github.com/eclipse/omr/pull/6026 for this.

[2021-05-24 10:28] knn-k commented on #12732
MauveSingleInvocLoad_J9_5m_0 passes in https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.system_aarch64_linux/220 after https://github.com/eclipse/omr/pull/6025 was merged (`OMR - bab463379`).
However, DaaLoadTest_daa2_CS_5m_0 failed in the run.

[2021-05-24 10:33] knn-k commented on #12735
This test passes in https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.system_aarch64_linux/220 after eclipse/omr#6025 was merged (`OMR - bab463379`).

[2021-05-24 13:03] smlambert commented on #12755
FYI @llxia

[2021-05-24 13:04] smlambert commented on #12756
This issue and #12755 could have been combined into a single issue.

FYI @llxia

[2021-05-24 14:02] lumpfish commented on #12756
The cause of the build failure is different in the two releases as far as I can tell.

[2021-05-25 01:44] pshipton opened #12757 "cent6-x64-6 disabled, was failing to run jobs"
It was getting InterruptedException on multiple jobs, causing them all to fail. Hopefully a reboot will fix it. I can locate some example failures if there is any interest.

[2021-05-25 01:45] pshipton commented on #12757
@jdekonin @AdamBrousseau

[2021-05-25 01:47] pshipton commented on #12757
Rebooted machine.