[2019-12-05 17:51] andrewcraik commented on #7966
I think grouping based on the hardware platform only makes sense when the platform itself defines such a logical grouping. For example, the aarch64 architecture defines groups of features as a package and optional packages can be included or not in an implementation - grouping our queries to match these architectural groupings makes sense. On a platform like x86 where feature flags are used to det

[2019-12-05 18:18] fjeremic commented on #7639
Here is a minimal reproducible testcase:

[code]

The issue happens because of a bug in `String.compressible`:
https://github.com/eclipse/openj9/blob/154c39d2fab4708e107d2d2a19738dfbf601edde/jcl/src/java.base/share/classes/java/lang/String.java#L256-L261

The API is incorrectly implemented, as the look termination should be `start + length`, not just `length`. In the above test the starting index

[2019-12-05 19:07] JasonFengJ9 commented on #7740
Chatted with @dmitripivkine about this, the first step is to try disabling TLH and see if that solves the issue reported and evaluate the performance hit.

[2019-12-05 19:12] jdekonin commented on #7980
Any particular version? Or is the one installed via homebrew fine? Will this be required for OMR OSX machines as well?

I just added cmake via brew on osx1011-x86-1 and its v3.15.5.

[2019-12-05 19:16] dmitripivkine commented on #7725
@jason-hall
Would you please take a look to this?
MetronomeAlarm implementation currently uses `timeSetEvent()` for Windows. This method has been deprecated with recommendation to use https://msdn.microsoft.com/en-us/library/ms682485(v=vs.85) instead

@amicic FYI

[2019-12-05 19:17] pshipton commented on #7710
`-Xshareclasses:` suboption `noTimestampChecks`.

Using it is not a good idea, if any jar file changes, the changes will be ignored. Better to add support to update the cache with the new timestamps on a machine migration.

[2019-12-05 19:23] DanHeidinga commented on #7966
How does logical groupings differ from the mtune/march settings of GCC?

We have to keep the goal in mind - making it easy for a user to create a portable SCC which includes AOT code that will be broadly applicable.  Mapping features to logical groups, whether mtune/march-style or our own creation, gives users a reasonable way to control the baseline systems they want to target.

User's don't unde

[2019-12-05 19:26] slide commented on #7725
I have not been able to create a docker image to run the extended tests yet. I will continue to try it and paste it here when/if I do for future reference.

[2019-12-05 19:42] pshipton commented on #7970
Started a new build https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OpenJDK11-Acceptance/45/

[2019-12-05 20:19] harryyu1994 commented on #4445
It may not be a JITServer issue. I have managed to reproduce the same crash with JIT Server turned off(made JIT Server unreachable so all compilations will be local).
Though there is still a difference between JIT Server turned off and pure non-JITServer. So I tried with non-JITServer. We still see the crash but it takes much longer to crash.

[2019-12-05 21:08] a7ehuo opened #7988 "JITServer use scratch memory for _recompilationMethodInfo"
As suggested in https://github.com/eclipse/openj9/pull/7806#discussion_r354433049, use scratch memory for `_recompilationMethodInfo` or properly free `_recompilationMethodInfo` at the end of each compilation.

[2019-12-06 04:13] pshipton commented on #7969
@smlambert I expect the `JVMJ9VM015W Initialization error for library j9vrb29` is caused by `JVMVERB004E Error: -Xverbosegclog number of cycles must be greater than 0`, which in turn is caused by the problem with the `-Xverbosegclog:` parameter.

[2019-12-06 04:15] pshipton commented on #7970
The re-run worked as expected.

[2019-12-06 04:15] #7970 closed

[2019-12-06 04:18] pshipton commented on #7968
I think this is a dup of #7967. Note this is the OMR acceptance build, this problem doesn't occur outside of OMR acceptance.

[2019-12-06 04:35] BeverlyXu commented on #7692
Hi Alexandre,
We initially thought the problem is in our inlining mechanism, that some methods should have been inlined but didn't. But a few experiments indicated that's unlikely to be the root cause. We later used the standalone jjs tool to look at the bytecode generated by the js engine, and the size of the bytecode generated by java11 is 100X larger than that of java8. This leads us to suspect

[2019-12-06 05:50] zheddie opened #7995 "No symbol names in javacore native callstack (backtrace) on Linux"
Java -version output
--------------------
openjdk version "11.0.4" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.15.1, JRE 11 Linux amd64-64-Bit Compressed References 20190717_286 (JIT enabled, AOT enabled)
OpenJ9   - 0f66c6431
OMR      - ec782f26
JCL      - fa49279450 based on jdk-11.0.4+11)

OS
--------------------
[code]

Su

[2019-12-06 10:50] olvap377 commented on #7786
`aix-openj9-6` upgraded from `7100-05-02-1832` to `7100-05-03-1846`

Failed upgrading to `7100-05-05-1939` due to :
[code]

Looking into sourcing the missing fileset.

[2019-12-06 12:18] dmitripivkine commented on #7740
This is an experiment only. Final solution should be more advanced.
@LinHu2016 Would you please join this investigation to review what JEP331 exact requirements are and what is inconsistent / missing in current implementation?

[2019-12-06 13:00] JasonFengJ9 commented on #6475
Another `LambdaLoadTest_ConcurrentScavenge_0_FAILED`
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_xl_Nightly/6/tapResults/

[2019-12-06 13:04] pshipton opened #8004 "ppc64le_linux_xl LambdaLoadTest_ConcurrentScavenge_0 OutOfMemoryError"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_xl_Nightly/6
ub16p8j91
LambdaLoadTest_ConcurrentScavenge_0
LT  23:47:15.773 - Completed 7.0%. Number of tests started=14 (+0)
LT  stderr JVMDUMP039I Processing dump event "systhrow", detail "java/lang/OutOfMemoryError" at 2019/12/05 23:47:23 - please wait.

https://ci.eclipse.org/openj9//job/Grinder/parambuild/?JDK_VERS

[2019-12-06 13:05] JasonFengJ9 commented on #4005
`DaaLoadTest_daa2_0`
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_windows_Nightly/118/tapResults/

[2019-12-06 13:06] pshipton commented on #8004
@amicic @dmitripivkine

Started a 5x grinder https://ci.eclipse.org/openj9/job/Grinder/563/

[2019-12-06 13:17] pshipton commented on #8004
Dup of #6475

[2019-12-06 13:17] #8004 closed

[2019-12-06 13:33] pshipton opened #8005 "OPENJDKNEXT_BRANCH branch ignored"
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/104/ specified `openj9-staging` as the OPENJDKNEXT_BRANCH, however the actual build https://ci.eclipse.org/openj9/job/Build_JDKnext_s390x_linux_Personal/19/ shows `openj9` as the OPENJDK_BRANCH. Not sure if there is a problem in the Pipeline-Release-Build setup, or somewhere else.

[2019-12-06 13:34] pshipton commented on #8005
@AdamBrousseau @jdekonin

[2019-12-06 13:36] pshipton commented on #8004
Grinder failed 3/5

[2019-12-06 13:37] pshipton commented on #6475
A 5x grinder on ppc64le_linux_xl failed 3/5
https://ci.eclipse.org/openj9/job/Grinder/563/

[2019-12-06 14:38] DanHeidinga commented on #7980
@dnakamura Is there a minimum required version of cmake?  I had thought zOS had the oldest version and so set the minimum but I can't find it written down anywhere

[2019-12-06 15:21] #7973 closed

[2019-12-06 15:48] a7ehuo commented on #6714
Ran `50` times of `cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_3` and
`cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_4` with JITServer. No failure is observed. likely the cause of the failure from `cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_2` is different from `cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_3` and
`cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_4`.

[2019-12-06 18:01] keithc-ca commented on #7933
Is this an issue for a Java versions? My macbook, for example, is running Catalina 10.15.1 which only supports 64-bit code so `macho64` should be the only valid output format (and probably redundant). Java8 must be built on an older version of OSX: does this apply only in that case (where both 32-bit and 64-bit binaries are supported)?

[2019-12-06 21:31] llxia commented on #7969
The error looks like the expected file was not generated.

The test passed in Grinder: https://ci.eclipse.org/openj9/view/Test/job/Grinder/564/
And it passed in yesterday nightly build: https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/215/

[2019-12-06 22:57] hangshao0 commented on #7890
A SCC cannot be bigger than 4GB.  We do not allow that.

[2019-12-06 23:42] pshipton commented on #7969
Yup, we can consider it some weird hiccup. I'll close this until it occurs again.

[2019-12-07 00:20] #5644 closed

[2019-12-07 03:07] #3945 closed

[2019-12-07 03:13] dsouzai commented on #7966
After taking a closer look at gcc's `march` option, I don't think we should follow that approach. GCC does maintain a mapping between processor version and some set of processor features. However, GCC is widely used, and hence the mapping they maintain can be more or less considered standard. I would rather not define a new mapping that's only applicable to us. I also don't want to have to depend

[2019-12-07 04:58] #7642 closed

[2019-12-07 04:58] #7643 closed

[2019-12-07 18:11] pshipton opened #8017 "All UNB x and p machine offline"
`ssh: Could not resolve hostname cent6-x64-2: Name or service not known`

[2019-12-07 18:11] pshipton commented on #8017
@jdekonin
Not sure if this is expected downtime?

[2019-12-08 16:19] JasonFengJ9 commented on #7945
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_OpenJDK/87/tapResults/
[code]

[2019-12-08 16:23] JasonFengJ9 commented on #7969
Another one today at https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/216/tapResults/

[code]

[2019-12-08 16:27] JasonFengJ9 opened #8019 "openjdk11_j9_extended.functional_ppc64le_linux_xl testOpenJ9DiagnosticsMXBean_1 Segmentation error vmState=0x00020002"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_xl_Nightly/8/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-08 16:32] JasonFengJ9 opened #8020 "openjdk8_j9_extended.system_x86-64_mac DaaLoadTest_all_ConcurrentScavenge_0_FAILED Segmentation error vmState=0x00020003"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly/213/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

This appears different from https://github.com/eclipse/openj9/issues/8019.

[2019-12-08 16:36] JasonFengJ9 opened #8021 "openjdk8_j9_extended.functional_ppc64le_linux cmdLineTester_jep178_staticLinking_SE80_0 jep178 testing dynamic linking failed"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly/220/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-09 11:00] planetf1 commented on #7684
I had this again for the first time today under MacOS Catalina 19C56a with this build
[code]
No sign of any core.

[2019-12-09 11:47] jdekonin commented on #8017
Definitely not expected downtime.  Any maintenance would be well advertised.  Everything seems to be online at the moment.

[2019-12-09 14:02] theresa-m commented on #7945
Issues with setting `isRecord` to false to fix this? Otherwise `isRecord` support should be ready early this week.

[2019-12-09 14:34] DanHeidinga commented on #7945
That seems like a reasonable way to stub it, as long as the proper fix is coming very quickly

[2019-12-09 15:03] pshipton commented on #7684
I'll re-open and assign to the next milestone.

[2019-12-09 15:29] pshipton commented on #8019
@dmitripivkine can you pls take a look

[2019-12-09 15:30] pshipton commented on #8020
@dmitripivkine can you pls take a look.

[2019-12-09 15:41] kgibm commented on #7684
@planetf1 I recently wrote an article on how to configure or disable Linux core processing: https://publib.boulder.ibm.com/httpserv/cookbook/Troubleshooting-Troubleshooting_Java.html#Troubleshooting-Troubleshooting_Java-Core_Dumps-Ensure_core_piping_is_configured_properly_or_disabled_on_Linux

[2019-12-09 15:44] 0xdaryl opened #8026 "Enable compressed references with AArch64 JIT"
Ensure the AArch64 JIT works with a compressed references heap.  This is mainly work to handle a non-native size pointer in the compiler and JIT runtime.  The precise details of what to do and where are hard to enumerate here, but consulting the code in the P, Z, and X code generators and runtime where special handling for compressed references are in place is a starting point.

[2019-12-09 15:45] 0xdaryl commented on #5455
Enable support for compressed references.  AArch64 (#8026)

[2019-12-09 15:45] 0xdaryl commented on #8026
@knn-k @Akira1Saitoh

[2019-12-09 16:06] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64le_linux_Nightly/245
DaaLoadTest_daa2_special_21

[2019-12-09 16:07] pshipton commented on #7839
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly/219

[2019-12-09 16:27] M-Davies commented on #7503
Jazz/rtc doesn't have any more relevant information on why this was included. @andrew-m-leonard and I had a look through Jira but it didn't reveal much information there either. I'm certain that this was either an IBM or Oracle change that is documented in a closed location.

[2019-12-09 16:32] harryyu1994 commented on #6277
This issue can be closed now. Fixed by #7019

[2019-12-09 16:38] pshipton commented on #7503
Perhaps the Current Release JCL team can help track it down.

[2019-12-09 16:40] dnakamura commented on #7980
@DanHeidinga yes zos is our oldest cmake at 3.4. ( I do have a port of 3.9.x but its not particularly well tested)

[2019-12-09 16:53] mpirvu opened #8029 "Do not allocate RuntimeAssumptionTable on JITServer"
JITServer should create no runtime assumptions, instead it should buffer them and send them to the client. In order to catch all mistakes, it's better to not even allocate a RuntimeAssumptionTable (generate a crash early).

[2019-12-09 16:56] DanHeidinga commented on #7980
It's newer than the minimum version.  @dnakamura Are you aware of any incompatibilities between 3.4 and 3.15?  Is @jdekonin good to proceed with rolling this out to the remaining machines?

[2019-12-09 17:04] #6277 closed

[2019-12-09 17:39] theresa-m commented on #7945
pr for isRecord returning false: https://github.com/eclipse/openj9/pull/8030

[2019-12-09 17:56] 0xdaryl opened #8032 "Implement lock reservation on AArch64"
Implement compiler and runtime support for lock reservation on AArch64.

[2019-12-09 17:57] 0xdaryl opened #8033 "Implement lock reservation on AArch32"
Implement compiler and runtime support for lock reservation on AArch32.

[2019-12-09 17:58] 0xdaryl commented on #5455
Implement lock reservation.  AArch64 (#8032), AArch32 (#8033)

[2019-12-09 18:02] ChengJin01 commented on #5058
Already finished the tests (sanity & extended) on the build compiled on Fedora/QEMU:
[code]
So I reran the failing test on Fedora/QEMU via both FyreVM and local UbuntVM and it passed without any exception:
[code]
So the problem might be caused by the weird behaviour from QEMU (sometime it just got stuck for unknown reason).

Now all changes with RISC-V were submitted for review as there is no more

[2019-12-09 18:13] 0xdaryl opened #8034 "Implement support for balanced GC in AArch64 JIT"
Implement support for balanced GC.  Includes support for SpineCHK and BNDCHKwithSpineCHK nodes, and other arraylet support as necessary.

[2019-12-09 18:14] 0xdaryl opened #8035 "Implement support for balanced GC in AArch32 JIT"
Implement support for balanced GC.  Includes support for SpineCHK and BNDCHKwithSpineCHK nodes, and other arraylet support as necessary.

[2019-12-09 18:14] 0xdaryl commented on #5455
Implement support for balanced GC: AArch64 (#8034), AArch32 (#8035)

[2019-12-09 18:28] 0xdaryl opened #8036 "Investigate implicit NULLCHKs on AArch64"
Investigate implementing implicit NULLCHKs on AArch64.  That is, where the test for NULLness is either handled implicitly through a memory access or through a trap instruction, and the signal handler catches and routes the hardware exception accordingly so that a Java NullPointerException is thrown.  If this is feasible, implement it.

[2019-12-09 18:36] 0xdaryl opened #8037 "Investigate implicit DIVCHKs on AArch64"
Investigate implementing implicit DIVCHKs on AArch64.  That is, where the test for division by zero or MININT/-1 is handled by the hardware through the signal handler, and the signal handler routes the hardware exception accordingly so that a Java ArithmeticException is thrown.  If this is feasible, implement it.

[2019-12-09 18:57] 0xdaryl commented on #5455
Implicit NULLCHKs: AArch64 (#8036)

[2019-12-09 18:58] 0xdaryl commented on #5455
Implicit DIVCHKs: AArch64 (#8037)

[2019-12-09 19:04] 0xdaryl opened #8038 "Implement JIT field watch support for AArch64"
Implement #2668 for AArch64.

[2019-12-09 19:07] 0xdaryl opened #8040 "Implement JIT field watch support for AArch32"
Implement #2668 for AArch32.

[2019-12-09 20:09] smlambert commented on #8019
https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=functional&JenkinsFile=openjdk_ppc64le_linux_xl&TARGET=testOpenJ9DiagnosticsMXBean_1

[2019-12-09 21:25] JasonFengJ9 commented on #7740
Discussed with @LinHu2016 , we are going to run a Spec2015 with GC option `disableInlineAllocation` which essentially forces each allocation OOL but still allocate in TLH, and see what's the performance hit.

[2019-12-09 21:32] VermaSh opened #8043 "Trying to figure out how to run JIT casting tests"
Is it possible to run just [jit.test.jitt.castingTest](https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/test/functional/JIT_Test/testng.xml#L59)?

[2019-12-09 21:42] pshipton commented on #8043
It's possible to run just the jitt test. I don't know enough about the test itself to know if there is an easy way to run just a sub-test.

@llxia in case you know.

[2019-12-09 22:23] IBMJimmyk opened #8045 "New Lock Reservation Option on Power"
Lock Reservation is currently only enabled to work with two classes: `StringBuffer` and `Random`. This experimental feature is an attempt to bring the optimization to a larger range classes through new heuristics to avoid expensive lock reservation cancellations.

The new lock reservation scheme will be largely behind the -XX:+GlobalLockReservation command line option. Without the option, the lock

[2019-12-09 22:58] smlambert commented on #8043
For your local runs or in your branch you could modify the [playlist.xml](https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/test/functional/JIT_Test/playlist.xml#L92) to remove all other tests from the test targets like [jit_jitt](https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/test/functional/JIT_Test/playlist.xml#L79) that call castin

[2019-12-10 03:23] pshipton commented on #7822
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/375
aix71-p8-10

[2019-12-10 03:24] pshipton commented on #7821
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/375
aix71-p8-10

[2019-12-10 03:26] pshipton commented on #6361
It's back.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR/381
cmdLineTester_CryptoTest_0

[2019-12-10 04:24] pshipton commented on #8017
@jdekonin This is happening again. We'll see how it looks in the morning.

[2019-12-10 07:21] janvrany commented on #5058
I've seen this too. Try to  compile latest qemu from source - that solved strange hangups for me.

[2019-12-10 11:46] planetf1 commented on #7684
I primarily run on MacOS which is the environment where I am currently seeing this - for example I had this again just now

I tried 'java -Xcheck:dump' but that by itself reports a usage error, and combined with -jar xxx doesn't elicit any additional output on MacOS

I tried adding back the options to generate a dump

[code]
but then just get
[code]

The core files are NOT generated, even with 'ul

[2019-12-10 13:32] pshipton opened #8049 "OpenJDK UnsatisfiedLinkError: unpack"
Any openjdknext acceptance build. Disabling the build until resolved.
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_mac_OpenJDK/88/
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_windows_OpenJDK/83/

JCL_Test_0
JCL_Test_1
JCL_Test_openj9_none_SCC_0
JCL_Test_openj9_none_SCC_1

FAILED: test_callNativesOnNewClassLoaders
[code]

I suspec

[2019-12-10 13:33] pshipton commented on #8049
@JasonFengJ9

[2019-12-10 13:37] pshipton commented on #7821
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.functional_ppc64_aix_Nightly/40
aix71-p8-5

[2019-12-10 13:55] DanHeidinga commented on #7684
Is `/cores` world writable?  With the Catalina OS update the default changed to only be writeable by root.

[2019-12-10 14:28] jdekonin commented on #8017
Seems DNS isn't working again.  @Rajdeepsingh1 and I have updated all machines in the `/etc/hosts`, so everything but cent6-x64-1 is online again.

reminder cent6-x64-1 is being rebuilt.

[2019-12-10 15:50] fjeremic commented on #5315
@r30shah can you kick off a grinder similar to above and see if we can reproduce given we have fixed all known JProfiling issues?

[2019-12-10 15:59] M-Davies commented on #7503
Posted a message in #rt-java-cr. Is there anyone in particular on the JCL team that would be good to contact about this?

[2019-12-10 16:16] gacholio commented on #5966
Suggest the new parm order be:

`thread,pc,sp,a0,pc,literals,decomp,j2iframe,i2jstate`

with the last three being optional

[2019-12-10 16:19] pshipton opened #8051 "jenkins - Cannot invoke method _getRuns() on null object"
Got the following exception in PR testing.

https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_x86-64_linux_cm/712

[code]

[2019-12-10 16:19] pshipton commented on #8051
@jdekonin @AdamBrousseau

[2019-12-10 16:25] AdamBrousseau commented on #8051
`jenkins test compile xlinuxcm jdk8` incorrect syntax. Maybe we should catch this?
It was trying to run testing and the test job name it was looking for doesn't exist.
It generated `Test_openjdk8_j9_compile.null_x86-64_linux_Personal` but it was looking for
`Looking to stop running jobs:'Test_openjdk8_j9_compile_x86-64_linux_Personal' from build:'eclipse/openj9#8042'`

[2019-12-10 16:29] AdamBrousseau commented on #8051
If you search for jobs will `null` in the name, these can all be deleted.

[2019-12-10 17:07] M-Davies commented on #7503
Paul Cheeseman found a small extract back from 2001. From sov defect 29024 in CMVC:
[code]
This was later refined to the current setlimit64 form. I cannot access CMVC however

[2019-12-10 17:07] dnakamura commented on #7980
Cmake is generally pretty good about incompatibilities.  If behaviour of an existing feature is changed, they introduce a new flag for it (which will be set to off via `cmake_minimum_required()`). The only thing that tends to bite you is inadvertently using new functionality

[2019-12-10 17:20] planetf1 commented on #7684
No, I cannot write to /cores. I am using Catalina.

I've now made that dir writeable, and a simple maven build resulted in an immediate core (just running maven). At least that's good. > 2GB.

I then added the filter, and will now run a build. It appears to be progressing, so will look out for the originally reported problem and see if we get a core.........

[2019-12-10 17:53] dmitripivkine commented on #8019
This crash occur because of `Ljava/lang/Module; module = !fj9object 0x3ffef7fd7c90` in class object `!j9object 0x00003FFEF7B95868` class `!j9class 0x00003FFF787AEC00` (`jdk/jmx/remote/internal/rmi/PRef`) has been collected

[2019-12-10 17:58] dmitripivkine commented on #8019
I have result files downloaded, ask me where

[2019-12-10 18:08] fjeremic commented on #7965
From the codegen perspective proposed solution 1. is going to be less performant and harder to functionally implement correctly. 2. will give most performance but least flexibility.

[2019-12-10 18:23] dmitripivkine commented on #8019
In order to discover module objects GC walks `classLoader->moduleHashTable` `!j9classloader 0x00003FFF7808EDA8` `moduleHashTable = !j9hashtable 0x00003FFF78533740`

[2019-12-10 18:28] dmitripivkine commented on #8019
Looks like at the moment of crash module address is in hash table. So I guess module was collected right after creation but before added to hash table. We should double check there is no time when GC might occur

[2019-12-10 19:01] keithc-ca commented on #7932
Is there a way to force cmake to always use string hashes for derived files? That would avoid the problem of `cygdrive` appearing as a path segment other than at the beginning.

[2019-12-10 19:05] pshipton commented on #7579
Possibly we can compile non-JIT code with `-fno-rtti -fno-exceptions` and then link with clang instead of clang++ to remove the non-JIT dependencies on libc++. I'm not sure we tried this combination earlier when bringing up AIX Java 13.
@vsebe

[2019-12-10 19:26] pshipton commented on #8051
Did that. Although if we don't fix the problem they may just be recreated?

[2019-12-10 19:31] AdamBrousseau commented on #8051
It's a user (committer) problem. We can build in protections against it? Eg. `jenkins test compile` could be caught and translated to `jenkins compile`. Things start to get messy and maybe hardcoded if we start down that path.

[2019-12-10 19:41] pshipton opened #8054 "win2012r2-x86-5 went offline"
It was running https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_OMR/423 and went offline between 10:51 and 11:03am EST.

https://ci.eclipse.org/openj9/computer/win2012r2-x86-5
[code]

[2019-12-10 19:42] pshipton commented on #8054
@jdekonin

[2019-12-10 20:08] wbh123456 opened #8056 "Compilation error on calling recognized method under Power"
Calling recognized method under Power lead to compilation errors:

To reproduce the error:
 - Build `openj9-jdk11` on `Power`
 - Write a java program that calls `Math.floor()` several times
 - Use jit options like `Xjit:{*}(count=1,traceFull,log=log,disableAsyncCompilation)` to compile the java program

 ---> In the compilation log, the following error appears under `Trees after coldBlockOutlining

[2019-12-10 20:12] pshipton commented on #8051
It's fine with me if "test compile" just gives an error. It there had been an understandable error I would have realized what I did wrong.

[2019-12-10 20:46] keithc-ca commented on #7612
https://github.com/eclipse/omr/pull/4661 and https://github.com/eclipse/openj9/pull/8055 should address this.

[2019-12-10 20:49] jdekonin commented on #8054
Reboot and returned to action.

[2019-12-10 20:57] AdamBrousseau commented on #8051
The problem is we allow any test target so it's more/less just passed along as-is to the test jobs. We could build in a catch for this one since it's a common occurrence.

[2019-12-10 21:13] #8054 closed

[2019-12-10 21:19] dmitripivkine commented on #8020
@amicic FYI

[2019-12-10 21:23] dmitripivkine commented on #8020
This crash occur because Mark Map for heap range above `0xe0a80000` has not been initialized at Concurrent Kickoff time. As a result garbage in Mark Map triggered failure (an attempt to read object at `0xE0A8A788`)

[2019-12-10 21:24] dmitripivkine commented on #8020
@RSalman Would you please take a look?

[2019-12-10 21:33] pshipton opened #8059 "cent6-x64-5 is offline"
Not sure when it started, just noticed it offline.
[code]

[2019-12-10 21:34] pshipton commented on #8059
@jdekonin

[2019-12-10 21:35] #8051 closed

[2019-12-11 00:27] mpirvu commented on #6991
I think that the port on Power has finished, so this issue can be closed now.
@dchopra001 if I am mistaken, please reopen.

[2019-12-11 00:27] #6991 closed

[2019-12-11 14:30] theresa-m commented on #7945
PR with vm changes and Class.isRecord implementation: https://github.com/eclipse/openj9/pull/8061

[2019-12-11 15:31] jdekonin commented on #8059
reconnected

[2019-12-11 15:35] mpirvu opened #8062 "Performance comparison JITServer on/off"
This issue documents the experiments done to compare the performance of the build with JITServer code to the one without. Note that the build with embedded JITServer technology does not actively use remote compilations

[2019-12-11 15:43] mpirvu commented on #8062
Liberty start-up experiments.
We see no change in start-up time and a 1-2% regression in footprint due to JITServer and protobuf code.

Liberty+AcmeAir, pin to 4 HW threads:
[code]
Liberty+tradeLiteServer, pin to 4 HW threads
[code]
Liberty+tradeLiteServer, using -Xquickstart, pin to 4 HW threads
[code]

Liberty+sufpdt7 using -Xquickstart, pin to 4 HW threads
[code]

[2019-12-11 15:52] mpirvu commented on #8062
AcmeAir throughput experiments show no difference in throughput:

Baseline:
[code]
=== code with jitserver built in ===
[code]

Again, AcmeAir but with different options
=== Baseline ===
[code]

=== Code with JITServer built in ===
[code]

[2019-12-11 15:53] M-Davies opened #8063 "JTReg: java/nio/Buffer/LimitDirectMemory.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/7fb21dfc7efc922f36a5d207115d567516aee92b/test/jdk/java/nio/Buffer/LimitDirectMemory.java#L1 and https://github.com/ibmruntimes/openj9-openjdk-jdk13/blob/9c25debd395b89cc3d7d100106983dfa30b125c9/test/jdk/java/nio/Buffer/LimitDirectMemory.java#L1 fail for JDK11/13-openj9 (hotspot is passing)
- test category, openjdk
-

[2019-12-11 15:54] mpirvu commented on #8062
Daytrader7 throughput experiments show no change in throughput:

Baseline:
[code]

With JITServer code
[code]

[2019-12-11 15:56] mpirvu commented on #8062
Perf team has also looked at Liberty (Startup: Tradelite, HugeEJB, DT7; DT7 Throughput)
ODM, SPECjbb2015 and saw no difference between the builds compared.
All experiments were done on xlinux

[2019-12-11 16:04] harryyu1994 opened #8064 "NPE with initialOptLevel=hot while running AcmeAir monolithic benchmark with containers"
Java -version output
--------------------

openjdk version "1.8.0_242-internal"
OpenJDK Runtime Environment (build 1.8.0_242-internal-root_2019_12_05_13_39-b00)
Eclipse OpenJ9 VM (build master-623a427, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20191209_000000 (JIT enabled, AOT enabled)
OpenJ9   - 623a427
OMR      - 7b2e5df
JCL      - 8514ba3 based on jdk8u242-b02)

Output from `java -vers

[2019-12-11 16:24] harryyu1994 commented on #8064
Perhaps shouldn't have the userRaised flag there.. I discovered this during development. I think it's probably an optimizer-related issue as we don't see the NPE for initialOptLevel=warm. Attn @andrewcraik

[2019-12-11 16:37] M-Davies opened #8065 "Failing JTReg: java/nio/Buffer/LimitDirectMemoryNegativeTest.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/7fb21dfc7efc922f36a5d207115d567516aee92b/test/jdk/java/nio/Buffer/LimitDirectMemoryNegativeTest.java#L1 and https://github.com/ibmruntimes/openj9-openjdk-jdk13/blob/9c25debd395b89cc3d7d100106983dfa30b125c9/test/jdk/java/nio/Buffer/LimitDirectMemoryNegativeTest.java#L1 fail for JDK11/13-openj9 (hotspot unaffected)
-

[2019-12-11 17:11] r30shah commented on #5315
@fjeremic  I launched grinder on internal infrastructure to run this job 300 times. I can not reproduce issue there. I will give another go tonight to see if still seen (Given it is highly intermittent)

[2019-12-11 17:27] mpirvu commented on #7841
@vijaysun-omr is ok with the 1-2% footprint increase from compiling-in the JITServer related code (including protobufs).
Experimental results are captured in #8062

[2019-12-11 17:47] olvap377 commented on #7786
Copying finished, `aix-openj9-6` has been upgraded:
[code]
Will also be used for transferring the upgrade tar file to the remaining machines to avoid the slow speeds of the jumpbox

[2019-12-11 18:16] planetf1 commented on #7684
Finally I had a core on MacOS
[code]

The file is 7.2GB which surprised me - please advise how you want it made available... or what should be run on it.

To clarify java version is a nightly build
[code]
I can of course update/revert to GA, but it's taken a while to get the dump you asked for, and here it is...

[2019-12-11 18:21] llxia commented on #7822
PR https://github.com/AdoptOpenJDK/TKG/pull/19

[2019-12-11 18:23] planetf1 commented on #7684
Any of this help?
[code]

[2019-12-11 18:32] VermaSh commented on #8043
ah ok. Modifying the playlist route should be good for now. thanks!

i'll leave the issue open in case anyone does know of an easier way

[2019-12-11 18:43] #8056 closed

[2019-12-11 18:44] wbh123456 commented on #8056
Close the issue because the error was caused by incorrectly putting `count=1,disableAsyncCompilation` inside the ( ).

[2019-12-11 18:49] pshipton opened #8068 "Archive core files from /cores on Mac"

[2019-12-11 18:49] pshipton commented on #8068
@jdekonin

[2019-12-11 18:53] pshipton commented on #7684
Pls compress the core file (it should compress nicely) and share it using your favorite file sharing service. Box should work in this case.

[2019-12-11 18:55] LinHu2016 commented on #7740
option **-Xgc:fvtest=disableInlineAllocation** can be temporary solution for disabling TLH, run the local test SPECjbb2015, it shows disableInlineAllocation option could impact 11-12% runtime performance(critical-jOPS).

result for -Xmx4G -Xms4G -Xmn1G
RUN RESULT: hbIR (max attempted) = 19881, hbIR (settled) = 16584, max-jOPS = 12127, critical-jOPS = 2990

result for -Xmx4G -Xms4G -Xmn1G -Xgc:fvte

[2019-12-11 19:27] mpirvu commented on #8029
Attn: @harryyu1994

[2019-12-11 19:38] mpirvu commented on #8029
For each assumption kind there is a hashtable of type `TR_RatHT`.
`env/RuntimeAssumptionTable.hpp` has
[code]
In `rossa.cpp` in `onLoadInternal` we call
[code]
and `init` is implemented in `runtime/ClassUloasAssumption.cpp`
[code]
We probably want to set NULL for those `_htSpineArray` instead of allocating memory.

[2019-12-11 19:40] mpirvu commented on #8029
Of course, we need to know that we are in JITServer mode

[2019-12-11 19:41] planetf1 commented on #7684
Ok. uploading to https://ibm.box.com/s/zjjc76l8o7yac05y5sqvqjywdee0qpx3 (all public open source including the code)

[2019-12-11 19:55] pshipton commented on #8068
Also, the /cores directory should be cleared after every test job. Otherwise once a core is created, it will be archived in every subsequent job that runs on the machine

[2019-12-11 20:33] fjeremic commented on #5315
400 job Grinder against the original failed job:
https://ci.eclipse.org/openj9/job/Grinder/576/

[2019-12-11 21:18] pshipton commented on #7684
I don't have access.

[2019-12-11 21:22] pshipton opened #8072 "AIX dropped jenkons connections"
I've been seeing a number for dropped jenkins connections on AIX which I've been ignoring, but I'll start reporting them now.

https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64_aix_OMR/425/
[code]

[2019-12-11 21:22] pshipton commented on #8072
@jdekonin

[2019-12-11 21:55] #8059 closed

[2019-12-11 22:08] pshipton commented on #8049
I suspect this change is causing a hang on Mac. I'm going to go ahead and revert it.
[code]

[2019-12-11 22:15] JasonFengJ9 commented on #8049
will look for another native library then.

[2019-12-11 22:20] ChengJin01 opened #8075 "Incomplete code logic of Class.getMethod()"
Initially, an issue with Class.getMethod() was detected at https://github.com/eclipse/openj9/issues/7897, in which it failed to retrieve the specified interface method for the superclasses. e.g.
[code]
When refactoring the code to address the issue above, we also discovered other issues which need to be covered as follows:
1. one of superclasses (not the top super class) implemented the method (fr

[2019-12-11 22:53] gita-omr opened #8076 "Vector API support"
Implement and accelerate Vector API. This most likely will be needed for Java 16 or 17 and requires a lot of platform specific work. So we probably should start soon. In any case, this issue can be a placeholder for all the relevant discussions.

[1] https://openjdk.java.net/jeps/338
[2] https://software.intel.com/en-us/articles/vector-api-developer-program-for-java

@tajila @mstoodle

[2019-12-12 00:10] planetf1 commented on #7684
Ok I'm not that familar with Box. Let's try OneDrive -> https://1drv.ms/u/s!ApVqcIDT57-flq5Z_z3td2RT1aZGpw?e=g8Xf6Q

[2019-12-12 01:49] ChengJin01 commented on #8075
Instead of modifying the code in getMethodImpl,  I am wondering whether it is reasonable to take advantage of `getMethods()` to return all specified methods so as to choose the most specific method from them by comparison.
e.g.
[code]
the methods return from E.class.getMethods() include:
[code]
The problem with `getMethods()` is that it returns all methods, most of which are irrelevant to the spec

[2019-12-12 02:25] JasonFengJ9 commented on #8075
+1 for `getMethods()` variant.

[2019-12-12 04:19] pshipton commented on #7050
We managed to cause the same problem `RegisterApplication(), FAILED TO establish the default connection to the WindowServer, _CGSDefaultConnection() is NULL.` in a sanity.functional test by loading the awt library.

[2019-12-12 04:24] pshipton commented on #7050
@Mesbah-Alam if the awt library is loaded from the main thread first, then this test may be able to run on Mac Java 8.

[2019-12-12 04:26] pshipton commented on #7684
For Box, you need to change the permissions and create a shared link. Anyway the OneDrive download worked.

I copied the core to triage/openj9-7684

[2019-12-12 05:38] olvap377 commented on #7786
`aix-openj9-5` - `aix-openj9-10` have been upgraded to `7100-05-05-1939`

[2019-12-12 10:40] SueChaplain commented on #7841
@mpirvu - Can we discuss what support might be needed here from the docs team please?

[2019-12-12 12:09] pshipton opened #8079 "Some UNB xlinux machines are offline"
connect to host XX port 22: Connection timed out

ub16x64j91
ub16x64j95
ub16x64j96
ub16x64j99
ub16x64j910

[2019-12-12 12:09] pshipton commented on #8079
@jdekonin

[2019-12-12 12:13] pshipton commented on #6475
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_xl_Nightly/11

[2019-12-12 12:18] pshipton commented on #7839
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_OpenJDK11/28

[2019-12-12 12:19] pshipton commented on #7969
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/218
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_Nightly/111

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/219

[2019-12-12 12:23] pshipton opened #8080 "aix71-p8-10 OOM hang running sanity.functional"
Node **doesn't** show offline. The running test is hung, I'll leave it that way for now.

[code]

[2019-12-12 12:23] pshipton commented on #8080
@jdekonin

[2019-12-12 12:45] pshipton commented on #7786
Not sure if it is related, but #8080 "aix71-p8-10 OOM hang running sanity.functional"

[2019-12-12 12:48] pshipton commented on #7786
aix71-p8-6
[code]

aix71-p8-7 was never re-enabled after upgrade, I enabled it.

[2019-12-12 14:15] pshipton opened #8081 "JDK14 split is scheduled for today (Dec 12)"
OpenJDK schedule `2019/12/12 |   | Rampdown Phase One (fork from main line)`

The OpenJDK JDK14 stream is scheduled to be split today. Once we have the jdk14 extensions repo available, we need to add build support for jdk14, jdknext will become the jdk15 stream.

[2019-12-12 14:15] pshipton commented on #8081
@andrew-m-leonard @jdekonin @AdamBrousseau

[2019-12-12 14:57] mpirvu commented on #7841
@SueChaplain I am guessing there will be a "what's new" section in the 0.18 release. We would like to mention the JITServer capability as a preview and a few words about it: when to use it, how to use it, what to expect from it. At the moment there are still changes being done on how to compile and how to launch it and I was waiting for that to settle before writing a draft.

[2019-12-12 14:59] olvap377 commented on #7786
aix71-p8-6 is in that state to preserve the install files for now so we don't have to copy again from the jumpbox.

[2019-12-12 15:08] jdekonin commented on #8072
Being that the machine is back online now and the uptime is 217 days and working fine now, this would appear to be either a network blip or something wrong with jenkins master.

[2019-12-12 15:18] SueChaplain commented on #7841
@mpirvu - ok no problem. As this is quite a big project I was concerned that there might be a lot of work needed in the user docs to accommodate it. A preview sounds like an easier introduction and we can plan for anything more significant further out.

[2019-12-12 15:25] jdekonin commented on #8079
Each kvm instance is in pause state.  I cannot connect via console when I restart the instance.  @rajdeepsingh1 can you please investigate?

[2019-12-12 15:26] keithc-ca commented on #7800
Another point to keep in mind as we head down this path of a new, but different style of launcher, is that we'll have to repeat all the special build steps that are required to build an executable (e.g. code-signing on OSX).

[2019-12-12 15:44] a7ehuo commented on #7988
As @mpirvu mentioned in https://github.com/eclipse/openj9/pull/7806#discussion_r354433049, `CompilationInfoPerThreadRemote::_recompilationMethodInfo` was allocated in the persistent memory in `CompilationInfoPerThreadRemote::processEntry()`.`_recompilationMethodInfo` is related to per compilation, ideally it should be allocated in the scratch memory. However the scratch memory is part of the compi

[2019-12-12 16:27] JasonFengJ9 commented on #7562
[code]

[2019-12-12 16:30] JasonFengJ9 opened #8085 "Java 14 : ASM IllegalArgumentException: Unsupported class file major version 58"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-12 16:34] JasonFengJ9 opened #8086 "Java 14 : Mauve[gnu.testlet.java.text.DecimalFormat.setGroupingSize] IllegalArgumentException: newValue is out of valid range. value: -1"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-12 16:38] JasonFengJ9 opened #8087 "Java 14 : test AbsentStreamValuesTest.testGenericType(): local class incompatible:"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-12 16:43] JasonFengJ9 opened #8088 "Java 14 : ArbitraryJava[net.adoptopenjdk.test.classloading.ClassHog ClassNotFoundException"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

It seems the test is invalid for Java 14 since the class in question doesn't present.

[2019-12-12 16:49] JasonFengJ9 opened #8089 "jdk8 jdk_net_0 address 0:0:0:0:0:0:0:0 can not be reachable"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-12 16:57] M-Davies commented on #8065
Futhermore, `@requires (os.arch == "x86_64") | (os.arch == "amd64") | (os.arch == "sparcv9")` is present.

@requires
Express a dependence on characteristics of the system being tested, which is supported by jtreg framework.

`os.arch == "sparcv9"` is likely referring to solaris machines, making the test unique to Hotspot (since I don't believe OpenJ9 is supported on solaris)

@pshipton would you a

[2019-12-12 17:28] ChengJin01 commented on #8075
I will try with getMethods() at to see whether it covers all missing cases. If it works, we still stick to https://github.com/eclipse/openj9/pull/7985 to change the code; otherwise, we keep this issue open for other solutions.

[2019-12-12 17:40] pshipton commented on #8089
Is this IBM internal testing? It looks like a machine problem.

[2019-12-12 17:55] dmitripivkine commented on #7725
@slide Would you please try again? I believe problem has been fixed

[2019-12-12 18:05] smlambert commented on #8089
Is IPv6 enabled on the machine where it ran?

[2019-12-12 18:11] slide commented on #7725
Is there a specific release you would like me to try?

[2019-12-12 18:12] slide commented on #7725
By the way, the issue with creating a docker container to run the tests with nanoserver is that cygwin doesn't run on nanoserver, nothing to do with openj9.

[2019-12-12 18:29] dmitripivkine commented on #7725
This is latest Java 8 Windows 32-bit nightly build from Adopt: https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2019-12-11-19-45/OpenJDK8U-jdk_x86-32_windows_openj9_2019-12-11-19-45.zip

[2019-12-12 18:49] r30shah commented on #7276
@andrewcraik  @pshipton  I have been trying to reproduce originally reported failure on windows locally, I can not get the failures in 300 runs grinder. Given that this is highly intermittent, can we move this issue to next release?

[2019-12-12 18:57] JasonFengJ9 commented on #8089
Yeah, it is an internal test, will check IPv6 settings.

[2019-12-12 19:04] pshipton commented on #7276
I've moved it to the next release.

[2019-12-12 20:15] #7988 closed

[2019-12-12 21:09] jdekonin commented on #8080
When I had looked physical memory was at 100%, swap barely any in use.  I didn't capture any diagnostic data before the job was cleaned up though.

[2019-12-12 21:24] andrewcraik commented on #7694
@cathyzhyi any update?

[2019-12-12 21:25] andrewcraik commented on #7593
OMR 4566 merged yesterday and promoted today so this should now be fixed - I am going to close - please reopen if there are reproductions with the fixes delivered.

[2019-12-12 21:25] #7593 closed

[2019-12-12 21:27] andrewcraik commented on #6933
@liqunl can you take a look at this failure?

[2019-12-12 21:38] pshipton commented on #8080
Closing until the next time.

[2019-12-12 21:38] #8080 closed

[2019-12-12 21:43] cathyzhyi commented on #7694
@andrewcraik I think there is not enough data to proceed with the investigation. The offending method is detected to have a catch with real predecessors.  JIT detected the case and aborted the compilation so it's still not clear why the failure occurred.

[2019-12-12 22:48] liqunl commented on #6933
@sudhirtumati @GaborSzabo7 Could you kindly provide instructions on how to set up the machine to run the test and reproduce the issue?

[2019-12-12 23:21] pshipton commented on #5074
#8055 is merged, DDR is enabled on AIX Java 13+, this is now complete, although #7579 is still open,

[2019-12-12 23:21] #5074 closed

[2019-12-12 23:23] pshipton commented on #7612
The changes are merged.

[2019-12-12 23:23] #7612 closed

[2019-12-13 05:07] inatatsu commented on #7694
@cathyzhyi Sorry for my late response. I guess the offending method itself was not JIT compiled, but it was somehow inlined into another JIT compiled caller method. As explained above, I still cannot post the trace due to a non-disclosure agreement, but will discuss in our team how to send a trace for further analysis.

[2019-12-13 12:23] JasonFengJ9 opened #8096 "openjdk8_j9_extended.functional_x86-64_windows ASSERTION FAILED ** at OSCachemmap.cpp:1336: ((0 ))"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly/223/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-13 12:23] JasonFengJ9 commented on #7276
Latest Windows nightly build: https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly/220/tapResults/
[code]

[2019-12-13 12:59] pshipton opened #8097 "openjdk8 x86-64_linux Mauve crash vmState=0x000532ff"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/803

MauveMultiThreadLoadTest_special_17
variation: Mode557
JVM_OPTIONS: -Xcompressedrefs -XX:+UseCompressedOops -Xgcpolicy:balanced -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:count=0
[code]

MauveMultiThreadLoadTest_special_25
variation: Mode610-OSRG
JVM_OPT

[2019-12-13 13:01] pshipton commented on #7969
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/220

[2019-12-13 13:46] M-Davies commented on #7124
Looking at the code for both HS and J9, this seems like a lot of effort to fix just one test. The test is only accounting for Hotspot frames to appear and there is no current function within the test that can filter out frames that are OpenJ9 specific (this would have to be made from scratch). OpenJ9 has a very different StackWalker class compared to Hotspot so the structure of the StackInspector

[2019-12-13 13:46] #7124 closed

[2019-12-13 13:51] vsebe commented on #7579
[code]

[2019-12-13 13:54] vsebe commented on #7579
replace `-fno-exceptions `with `-qnoeh`
[aix_xlc16_clang.txt](https://github.com/eclipse/openj9/files/3961101/aix_xlc16_clang.txt)

[2019-12-13 14:03] llxia commented on #7822
Above PR is merged and test build passed on `aix71-p8-10` without problem
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_OMR/381/

[2019-12-13 14:10] andrewcraik commented on #8097
@liqunl can you take a look vmstate=invariantArgumentPreexistence.

[2019-12-13 14:19] pshipton commented on #7822
Thanks @llxia. I'll go ahead and close this, and will reopen if the problem is seen again.

[2019-12-13 14:19] #7822 closed

[2019-12-13 14:32] pshipton commented on #8081
openjdk14 repo is created http://hg.openjdk.java.net/jdk/jdk14

[2019-12-13 14:33] GaborSzabo7 commented on #6933
@liqunl I installed Eclipse OpenJ9 VM AdoptOpenJDK in my machine and after that I created a very simple Spring Boot application. If you installed Eclipse OpenJ9 VM AdoptOpenJDK then I can give simple Spring Boot application to reproduce the issue.

[2019-12-13 16:03] Mesbah-Alam commented on #7050
Checking the inventory files for this load tesat, there is no awt test that gets run in the [multi-threaded version](https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.test.load/config/inventories/mauve/mauve_multiThread.xml) of the mauve test (They area all commented out - as "swing and awt are not thread safe").

Awt tests are run only for the [single-threaded version](https:

[2019-12-13 16:34] pshipton commented on #7050
@Mesbah-Alam just trying to figure out why these tests are hanging. We might need to experiment. I know load the awt library causes the hang. I've heard that awt needs to be loaded in the main thread in order for it to work. We could try pre-loading it, or we can try to track down why it is loaded and exclude that sub-set. Setting -Xtrace option on System.loadLibrary() can help find the callers.

[2019-12-13 19:58] liqunl commented on #8097
It should be fixed by https://github.com/eclipse/omr/pull/4674

[2019-12-13 21:09] pshipton commented on #7890
I got one of these in an internal personal build.
job/Test_openjdk8_j9_sanity.functional_x86-64_windows_Personal/74
[code]

[2019-12-13 21:46] #8096 closed

[2019-12-13 21:54] pshipton commented on #8079
@jdekonin ub16x64j95 is still or again offline

[2019-12-13 21:57] codeman38 opened #8102 "Truncated strings are untruncated when serialized by Groovy JsonBuilder"
Java -version output
--------------------
openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-b09)
Eclipse OpenJ9 VM (build openj9-0.17.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20191017_442 (JIT enabled, AOT enabled)
OpenJ9   - 77c1cf708
OMR      - 20db4fbc
JCL      - 97b5ec8f383 based on jdk8u232-b09)

Summary of problem
------------------
In OpenJ9, Groovy's Jso

[2019-12-13 23:08] pshipton opened #8103 "jdknext doesn't compile, openj9 packages not found"
Affects all platforms.
The compile was attempted on 6829472a19080bcff7decdbef2319133757cfa7b
Branches: openj9-openjdk-jdk/openj9-staging
Update OPENJDK_TAG to merged level jdk-15+0

https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_mac_OpenJDK/115
[code]

[2019-12-14 11:04] rohitp27 commented on #7870
@0xdaryl
I'd like to take this up if someone's not already working on it. Could you point me towards local build instructions if available to test before making the PR?

[2019-12-14 13:46] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/264
DaaLoadTest_daa1_special_17
variation: Mode556
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:balanced -Xquickstart -Xjit

[2019-12-14 13:49] pshipton commented on #8049
jsound is failing on AIX jdk11 `UnsatisfiedLinkError: jsound`
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly/224

[2019-12-14 13:52] pshipton commented on #7969
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/221

[2019-12-14 13:53] pshipton commented on #8097
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/809
MauveMultiThreadLoadTest_special_18
variation: Mode607
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:count=0

[2019-12-15 04:00] mpirvu opened #8104 "Investigate cmdLineTester_gcsuballoctests_0 failures"
With JITServer code present (but not necessarily active) the `cmdLineTester_gcsuballoctests_0` fails often. The failure is not seen in all environments, but once it manifests it is 100% reproducible.
The test checks to see if GC options are processed correctly, including situations where the options could be specified wrongly. One such subtest verifies that `-Xgc:suballocatorCommitSize=300m` is re

[2019-12-15 04:17] mpirvu commented on #8104
@harryyu1994 has discovered that the failure appears because JITServer has removed the redefinition of the global `new` and `delete` operators. This looks strange, because, if anything, not redefining `new` and `delete` has less chances of introducing a bug. Moreover, the redefined `delete` is empty, (supposedly because nobody should call it) but in a correct implementation we should delete the po

[2019-12-15 04:17] mpirvu commented on #8104
The stack trace for the failure is:
[code]

[2019-12-15 04:27] mpirvu commented on #8104
I wanted to get better debugging information, so I recompiled everything with -Og and kept the debugging symbols:
[code]
I had to use -O1 for VMDEBUG otherwise the failure goes away.
In this setup the failure happens, but manifests a bit differently: instead of the assert about memory corruption the JVM just crashes. The stack trace is:
[code]

The problem starts to appear in this method:
[code]
L

[2019-12-15 04:30] mpirvu commented on #8104
I have changed the constructor of `MM_GCExtensions()` to initialize `classLoaderManager(NULL)` and this seems to have done the trick. At least with my debug build, the test now passes.

[2019-12-15 15:42] pshipton opened #8106 "aix71-p8-4 Test machine has only 2229 Mb free"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Personal/93/
[code]

[2019-12-15 15:42] pshipton commented on #8106
@jdekonin

[2019-12-15 15:45] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_ppc64le_linux_xl_Nightly/15
SharedClassesWorkload_0

[2019-12-16 02:42] #8049 closed

[2019-12-16 02:54] #6327 closed

[2019-12-16 12:48] jdekonin commented on #8079
There are space issues with the instances on one kvm host and there needs to be some changes to the images sizes.  Until that is complete this one will remain offline.  I commented in jenkins when I marked it offline, but comments and marking offline isn't persisting reboots of jenkins.

[2019-12-16 12:59] jdekonin commented on #8106
I believe this is this issue https://github.com/eclipse/openj9/issues/7934

The workspace directory is a 50G partition, we cannot get more than that.  Current state.
[code]

[2019-12-16 13:30] pshipton commented on #7969
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/223

[2019-12-16 13:37] #8106 closed

[2019-12-16 13:39] #8104 closed

[2019-12-16 16:12] fjeremic commented on #5315
Another 600 job grinder for a total of 1000 jobs:
https://ci.eclipse.org/openj9/job/Grinder/577/

There is one failure here so the reproduction rate is 1/1000. It seems the problem is still present however it is quite unreproducible. I'm not sure this is wroth investing resources to fix given the reproduction rate. Will keep the issue open though if reproduction rate changes.

[2019-12-16 16:19] mpirvu opened #8109 "Investigate cmdLineTester_jvmtitests_debug_5 failure in JITServer mode"
While doing PR testing for another commit I had `cmdLineTester_jvmtitests_debug_5` test fail with the following message:
[code]

This is the first time I am seeing this failure and I don't know if it's intermittent or not, or whether it is specific to JITServer or not.
The mode seems to be metronomegc plus FSD.

[2019-12-16 16:19] mpirvu commented on #8109
Attn: @harryyu1994

[2019-12-16 16:26] harryyu1994 commented on #8109
It looks like it's the same intermittent issue with this one https://github.com/eclipse/openj9/issues/6714

[2019-12-16 16:26] harryyu1994 commented on #6753
This one can now be closed. Fixed by https://github.com/eclipse/openj9/pull/8105

[2019-12-16 16:28] 0xdaryl commented on #7870
Thanks for your offer @rohitp27.  I'm not aware of anyone taking this on, so please feel free to make this your first contribution.

You can find instructions for building OpenJ9 here -> https://www.eclipse.org/openj9/oj9_build.html

Please also read through the Contribution Guidelines to get started -> https://github.com/eclipse/openj9/blob/master/CONTRIBUTING.md

[2019-12-16 16:50] pshipton commented on #5315
Moving it out of the milestone plan as it seems it won't be fixed in 0.18.

[2019-12-16 16:51] pshipton commented on #5315
Note the failure is in test marked AQA, the Adopt Quality Assurance test suite, which OpenJ9 should be reliably passing.

[2019-12-16 16:54] dnakamura opened #8111 "DDR issues with windows cmake build"
When building with cmake on windows there are a few errors of the form
[code]

The classes in question are defined in the dia sdk headers, so I'm not sure how they are being brought in with the cmake builds but not the uma builds.

As a workarround the following can be added to the blacklist:

[code]

[2019-12-16 17:03] ChengJin01 commented on #8075
The problem with `getMethods()` is it involves too many comparison with parameter types, which are supposed be handled at the native code.  I need to investigate further to see how to deal with this situation or any way around this.

[2019-12-16 18:35] DanHeidinga commented on #8062
@mpirvu Have both default and compressedrefs modes been tested?

[2019-12-16 19:09] mpirvu commented on #8062
No, only compressedrefs. I see no reason why non-compressedrefs would have a different behavior when JITServer is not actually used.
We will recommend to use JITServer for small containers, hence compressedrefs.

[2019-12-16 19:17] pshipton commented on #8103
The problem occurs with this set of changes https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/f71d3a7...e5e834c which includes updates for Java 15 https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/2c1ffa75389dcf8bc54f2925e533becf2a6307e4

[2019-12-16 19:17] pshipton commented on #8103
@JasonFengJ9 time to add support for Java 15.

[2019-12-16 22:44] #8043 closed

[2019-12-16 23:03] pshipton commented on #8097
OMR change is promoted, and also pushed to the v0.18.0-release branch.

[2019-12-16 23:03] #8097 closed

[2019-12-17 09:17] adam-thorpe commented on #3568
Test now seems to be passing, so this is being un-excluded and this can be closed

[2019-12-17 11:04] adam-thorpe commented on #4593
100x runs on both platforms have shown 100% pass rate so marking this as resolved and this can be closed

[2019-12-17 12:21] JasonFengJ9 opened #8121 "AIX JVM is confused by LIBPATH setting"
Java -version output
--------------------

[code]

Summary of problem
------------------

[code]

Diagnostic files
----------------

[2019-12-17 13:02] #4593 closed

[2019-12-17 13:03] #3568 closed

[2019-12-17 13:04] pshipton commented on #4593
@adam-thorpe I assume the test is being un-excluded?

[2019-12-17 13:07] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly/229
LambdaLoadTest_OpenJ9_NonLinux_0

[2019-12-17 13:08] pshipton commented on #7969
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/224

[2019-12-17 13:14] adam-thorpe commented on #4593
@pshipton yep

[2019-12-17 14:04] JasonFengJ9 commented on #8103
The failure is not directly related to `OpenJ9 JVM Java 15` support.
It seems `OpenJ9` build script messed up by `OpenJDK Java 15` update.

[2019-12-17 14:30] pshipton commented on #8072
I haven't seen more of these, closing.

[2019-12-17 14:30] #8072 closed

[2019-12-17 14:33] #8017 closed

[2019-12-17 14:34] pshipton commented on #8005
Figured out the problem, "next" needs to be lower case.

[2019-12-17 14:34] #8005 closed

[2019-12-17 14:42] #7631 closed

[2019-12-17 14:47] AdamBrousseau commented on #8081
Pipeline Changes
https://github.com/eclipse/openj9/pull/7605
Once the repo is created I can add the Jenkins hook.
A committer will need to create the PR jobs.
   - Copyright check
   - line-endings check
   - sign-off check
   - PR build

[2019-12-17 14:55] pshipton opened #8123 "Can't launch jenkins builds, MissingMethodException"
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/115
[code]

[2019-12-17 14:57] pshipton commented on #8123
I assume this was "caused" by https://github.com/eclipse/openj9/pull/8116

#8118 was also merged, but this is to another branch.

@dnakamura @AdamBrousseau

[2019-12-17 15:13] pshipton commented on #8123
Not sure what is going on. I reverted both changes seperately, but the build failure still occurred.

[2019-12-17 16:00] pshipton commented on #8123
Probably was I left the TESTS_TARGETS blank.

[2019-12-17 16:05] pshipton commented on #8123
Adam: I think it's this line
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/variables-functions.groovy#L672

[2019-12-17 16:14] hangshao0 commented on #5480
All the items in the description are done. I'm closing this.

[2019-12-17 16:14] #5480 closed

[2019-12-17 16:46] #8123 closed

[2019-12-17 18:58] AlenBadel commented on #4930
Updated the design see https://github.com/eclipse/openj9/issues/4930#issuecomment-527623042 .

[2019-12-17 19:08] liqunl commented on #6933
The problem is that an reference field contains a bad value
[code]
`accessCheckCache` has value `1`. The only place that sets the value for this field is `AccessibleObject.slowVerifyAccess`.

I ran the test with `-Xint`, the crash occurs in libj9vm29.so. From the core dump I found an object with the same problem. FYI @DanHeidinga

[2019-12-17 19:18] pshipton commented on #7050
Mesbah captured a stack trace for a test loading awt.
[code]

[2019-12-17 19:21] DanHeidinga commented on #6933
@liqunl Can you dump the core file on the internal network at /team/triage/6933?  It'll help speed the investigation if we can start from your setup

[2019-12-17 19:40] liqunl commented on #6933
@DanHeidinga I don't have permission to create a folder at `/team/triage`, please find the core dump at `/team/triage/liqunl/openj9-6933`

[2019-12-17 19:53] Mesbah-Alam commented on #7050
Excluded `getRunLimit` and hit a second one that loads awt `gnu.testlet.java.text.AttributedCharacterIterator.getRunStart` :

[code]

[2019-12-17 20:00] pshipton commented on #8081
The PR jobs are created.

[2019-12-17 21:18] llxia commented on #7969
Grinder 10x and all passed: https://ci.eclipse.org/openj9/view/Test/job/Grinder/581/

[2019-12-17 21:20] llxia commented on #7969
- From the doc, the error [JVMVERB004E](https://www.ibm.com/support/knowledgecenter/SSYKE2_7.1.0/com.ibm.java.messages/diag/appendixes/messages/verb/messages_verb.html) is about

Talked with @LinHu2016 , we suspect it was the path issue. We increased the log path and running a 20x Grinder:  https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder_Sandbox/36/

[2019-12-17 21:30] a7ehuo opened #8138 "Update OpenSSL version to 1.1.1 on Eclipse PR Jenkins build and test machines"
Some PPC linux `JITServer` PR builds and tests #8117 [1] fail due to the lower versions of the `OpenSSL` installed on the system. The JIT is built against `1.1.1d` fetched into `/home/jenkins/workspace/Build_JDK8_ppc64le_linux_jit_Personal/openssl`. During the runtime, it would link to the system installed `OpenSSL` which is `1.0.2g` on those machines.

Could all the PPC build and test machines ha

[2019-12-17 21:42] pshipton commented on #8138
Does JIT server have a hard requirement to use 1.1.1? I think you'll be ruling out running JIT server on some Linux OSes, which don't provide openssl 1.1.1 libraries.

The openssl support in the class libraries works with 1.0.x or 1.1.x, even though we build it against 1.1.1.

@mpirvu

[2019-12-17 21:47] pshipton commented on #8138
fyi the JCL support for loading libcrypto
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/196/files

[2019-12-17 22:25] Mesbah-Alam commented on #7050
As I exclude more tests, more new tests are being exposed as culprits. I'm going through the process of compiling the total list of excludes. Will update this issue when I reach the bottom of this list and get a green run with no hang.

[2019-12-18 00:01] pshipton commented on #7050
We should explore pre-loading awt in the main thread rather than excluding too many tests.

[2019-12-18 00:38] mpirvu commented on #8138
JITServer can use either 1.0.x or 1.1.x. As I understand, the problem is that if we build with 1.1.x, at runtime it needs to find 1.1.x installed on the system.

[2019-12-18 04:16] pshipton commented on #8138
@mpirvu please take a look at the JCL code and how it works to load what is available, the JIT should be able to do the same.
 https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/196/files

[2019-12-18 12:26] JasonFengJ9 commented on #6475
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_xl_Nightly/18/tapResults/
[code]

[2019-12-18 12:26] JasonFengJ9 opened #8140 "openjdk8_j9_extended.functional_x86-64_windows Test the sub-option createLayer Segmentation error at j9shr29.dll"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly/228/tapResults/
testSCCMLTests3_1

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

fyi @hangshao0

[2019-12-18 13:01] smlambert commented on #8140
Good idea when triaging to also always include the rerun link from the console output of the failing job, given that the job link is only valid for a short period:

 https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=functional&JenkinsFile=openjdk_x86-64_windows&TARGET=testSCCMLTests3_1

[2019-12-18 13:36] pshipton commented on #7969
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/225

[2019-12-18 13:53] pshipton opened #8141 "openjdk8 extended.functiona ppc64le Cannot contact ub16p8j93"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_xl_Nightly/18/

Not sure if all these user requested dumps are normal.

[code]

[2019-12-18 13:54] M-Davies commented on #6680
@DanHeidinga FYI,
After working with the PR a bit today and modifying the test a little, I found that there is a `NullPointerException`. Inserting a try-catch for the exception at the place where it occurred, passes so this is the only issue with the test.
- At `testLambda()`. This was the function that, prior to #3627, was failing with the `RuntimeException`
[code]

- The J9 and Hotspot implement

[2019-12-18 14:00] pshipton opened #8142 "openjdk11 sanity.system x86-64_linux TestJlmRemoteClassNoAuth_0 crash vmState=0x00000000 Invalid JIT return address"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly/218
TestJlmRemoteClassNoAuth_0
5.LT2.stderr
core/javacore/jitdump available in job artifacts and triage/openj9-8142
[code]

[code]

[2019-12-18 14:01] andrewcraik commented on #8142
FYI @cathyzhyi

[2019-12-18 15:37] hangshao0 commented on #8140
This is a new test added by https://github.com/eclipse/openj9/pull/7570

[2019-12-18 16:05] doomerxe commented on #8140
There is no core file about this test failure, try to reproduce it on windows.

[2019-12-18 16:07] hangshao0 commented on #8140
Openj9 build does not have debug symbols. So I tried on Axxon, 110x grinder all passed.

[2019-12-18 16:20] Mesbah-Alam commented on #7050
@pshipton , for pre-loading awt in the main thread, would this suffice?

https://github.com/AdoptOpenJDK/openjdk-systemtest/compare/master...Mesbah-Alam:preload-awt-lib-in-main-thread-for-mauve-test?expand=1

I tried the above change, and was able to reproduce the error even before any thread / mauve test started:

[code]

Link: Test_grinder/job/Grinder/4971/console

[2019-12-18 16:22] LinHu2016 commented on #7969
looks like it is potential bug in port lib code, if the full path length is 255 byte, it might cause the parser failed.

I did run the test manually on one linux machine, get the same failure.

/bluebird/builds/bld_435392/sdk/xa6480/jre/bin/java -Xcompressedrefs -Xcompressedrefs -Xcompressedrefs -Xmx1g -Xms1g -Xdump:none -Xgcpolicy:gencon -Xnocompactgc -Xgcthreads16 -Xverbosegclog:/tmp/bld_435392/

[2019-12-18 16:31] hangshao0 commented on #8140
Another 100x grinder all passed.

[2019-12-18 16:35] llxia commented on #7969
This issue is intermittent because the test output dir (i.e., test_output_15757981595427) is string concatenation of `time()` and `rand(10000)`, so the length may vary for every test run.

https://github.com/AdoptOpenJDK/TKG/blob/f3cd91b06f4ef534d701beb1f5b80480b2809a9b/scripts/getUniqueId.pl#L18-L20

The test will fail if the whole path length is 255 byte.

[2019-12-18 17:55] hangshao0 commented on #8140
I noticed:
https://github.com/eclipse/openj9/blob/master/runtime/shared_common/CacheMap.hpp#L42
`#define J9SHR_UNIQUE_CACHE_ID_BUFSIZE  (J9SH_MAXPATH + 35)`

On my laptop, cache unique ID is:
`C:\Users\HANGShao\AppData\Local\javasharedresources\C290M4F1A64P_TestCache_G41L00-1000000_15e188538065e200_11e804_147a10_1efba_f9dc`

The addition part `-1000000_15e188538065e200_11e804_147a10_1efba_f9dc` af

[2019-12-18 18:17] pshipton commented on #7050
I'm not sure how to fix it. It was @keithc-ca who suggested that awt needs to be loaded in the main thread. You should record here the experiments you tried.

[2019-12-18 18:23] 0xdaryl commented on #5455
Support ternary (soon-to-be-renamed-to select) opcodes.  eclipse/omr#4682

[2019-12-18 18:25] pshipton commented on #8140
Note J9SH_MAXPATH  is 1024 so the buffer size is 1059. There should be asserts that validate the buffers don't overflow, but perhaps we missed a place.

[2019-12-18 18:31] pshipton commented on #7969
@dmitripivkine fyi, assigned to gc.

[2019-12-18 18:53] Mesbah-Alam commented on #7050
[code]

[code]

A1 and A2 were executed using OpenJ9 and Hotspot JDK8. They both work fine - i.e. the issue is not reproduced.

[2019-12-18 18:55] dmitripivkine commented on #7969
@LinHu2016 Would you please fix?

[2019-12-18 19:00] pshipton opened #8143 "jdk14 doesn't compile, cannot access VarForm"
[code]

Introduced by something in https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/78a8a59...5486034
I believe https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/9773740da0f8f2e3dc98bc441bb11f0248ee346f

[2019-12-18 19:02] pshipton commented on #8143
@DanHeidinga fyi

[2019-12-18 19:19] pshipton commented on #7050
@Mesbah-Alam for A2 please try moving the `Class.forName` into the run() method. Doing it in the static block means it's run in the main thread.

[2019-12-18 19:19] JasonFengJ9 commented on #8143
`AddressVarHandleGenerator` is only referred by `VarHandles` which is not required by `OpenJ9` and overridden with an empty file. Can do the same for `AddressVarHandleGenerator`.

[2019-12-18 19:26] AdamBrousseau commented on #8138
Then should we not be building with the lowest supported version? Similar to how glibc works.

[2019-12-18 19:31] Mesbah-Alam commented on #7050
Done. Same result -- it works fine:

[code]

[2019-12-18 19:32] JasonFengJ9 commented on #8143
Now the error is as following:
[code]
`OpenJ9` has an empty `VarHandles.java` file.

[2019-12-18 19:50] pshipton commented on #8138
@AdamBrousseau Marius didn't write it down here, but the plan is to modify the code to load and link dynamically with libssl, similar to what the JCL code does for libcyrpto.

It doesn't work the same way. As long as the APIs are the same between versions, it doesn't matter which version is used to compile against.

[2019-12-18 20:36] hangshao0 commented on #8140
It seems to be only reproducible on Jenkins, @doomerxe reproduced here in only 20 runs: https://ci.adoptopenjdk.net/job/Grinder/1485/tapResults/. However he has not been able to access the core file(s). The core file is not saved/uploaded and he does not have access to the machine.

[2019-12-18 20:52] smlambert commented on #8140
Typically core files are archived in the test_output artifact (functional_test_output.tar.gz, 41.95 MB), have you looked there for cores?  https://ci.adoptopenjdk.net/job/Grinder/1485/artifact/

[2019-12-18 20:58] doomerxe commented on #8140
I will double check it.

[2019-12-18 21:07] doomerxe commented on #8140
I have double checked and there is no core file related to this issue.

[2019-12-18 23:21] mpirvu commented on #8138
Correct. We are working towards an implementation that would eliminate the above restriction and hope to have a prototype by tomorrow EOD for review.

[2019-12-19 04:10] pshipton opened #8146 "cent6-x64-1 missing boot jdk(s?)"
Disabled it.

https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_xl_Nightly/234
`--with-boot-jdk=/usr/lib/jvm/jdk-11`
[code]

https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_cm_OpenJDK11/35
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_xl_OpenJDK11/36

[2019-12-19 04:10] pshipton commented on #8146
@jdekonin

[2019-12-19 04:45] pshipton commented on #8146
https://ci.eclipse.org/openj9/job/Build_JDK13_x86-64_linux_Nightly/146
also failed due to
[code]

[2019-12-19 11:50] adam-thorpe commented on #1129
Going to unexclude java/net/URLPermission/URLTest.java as it seems to be passing, no more references to these tests in the problem lists so this can be closed

[2019-12-19 13:15] #7435 closed

[2019-12-19 13:16] pshipton commented on #7088
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/839
MauveMultiThreadLoadTest_special_25
[code]

[2019-12-19 13:18] pshipton commented on #6552
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/836
DaaLoadTest_all_special_12
variation: Mode351
JVM_OPTIONS: -Xcompressedrefs -Xgcpolicy:metronome -Xcompressedrefs
[code]

[2019-12-19 13:51] M-Davies commented on #6856
2nd fail on `testPrim2Ref()`. All other tests pass
[code]

[2019-12-19 14:14] M-Davies commented on #6856
The test fails due to a difference in the openj9 implementation of Number and Boolean. `NullPointerException` when attempting to find the `Boolean` class and `WrongMethodTypeException` when trying to convert a `Boolean` to `Number`. Since both are calling the same target MethodHandle, this is likely a hotspot specific test, openj9 doesn't utilise the same classes as hotspot and would explain why t

[2019-12-19 14:14] #6856 closed

[2019-12-19 15:04] jdekonin commented on #8146
jdk-11 wasn't as expected.  I fixed the directory name to be as expected.

@rajdeepsingh1 will be addressing the space issue.

[2019-12-19 15:51] hangshao0 commented on #8140
[code]
It seems that the dump file(s) are not generated.

[2019-12-19 16:11] mpirvu opened #8150 "Investigate crash in jsr292Test_JitCount0_0 with JITServer code"
As reported in #8147, when JITServer code is compiled in, some crashes during jsr292Test_JitCount0_0 are observed.

[2019-12-19 16:13] mpirvu commented on #8150
I reproduced a crash with Java11 and `jsr292Test_JitCount0_0` test, though my stack trace is different:
[code]
Dump of assembler code for function shows that we have a NULL 'this' object (which is trmemory)
[code]

[2019-12-19 16:17] fjeremic opened #8151 "No space left on device on cent6-x64-1"
As seen in #8110 [1]:

[code]

[1] https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_xl_Personal/299/

[2019-12-19 16:19] mpirvu commented on #8150
[code]
We can something wrong only if we get into the ` if (self()->comp()->isOutOfProcessCompilation())` part by mistake.
[code]

[2019-12-19 16:21] fjeremic commented on #7480
Another two instances of this issue are seen in #8110:
https://ci.eclipse.org/openj9/job/Build_JDK8_s390x_linux_Personal/417/console
https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64le_linux_xl_Personal/36/console

@pshipton should we reopen this?

[2019-12-19 16:23] mpirvu commented on #8150
Indeed, the crash happens in code that should be executed only on the server because `self()->comp()->isOutOfProcessCompilation()` should answer `true` only on the server.

[2019-12-19 16:28] fjeremic commented on #8151
Seems related to #8146.

[2019-12-19 16:30] mpirvu commented on #8150
The definition is
[code]
The Compiler constructor correctly initializes this to false
[code]
The field is set in`wrappedCompile`:
[code]
`_methodBeingCompiled->isOutOfProcessCompReq()` has this definition:
[code]
So, we need to make sure that _stream is NULL

[2019-12-19 17:04] doomerxe commented on #8140
I have manually tested  it 20 times on an internal machine which is similar to this one, the issue is not reproducible.

[2019-12-19 17:06] ChengJin01 commented on #8075
I modified the code in `getMethodHelper()` at #7985  without changing the native code to search all interfaces implemented by the current classes and all superclass for the most specific method if the specified method is not implemented by the current class. The changes works good as expected to match the behaviour of Hotspot as follows:

1. return the specified method of the 1st interface in the

[2019-12-19 17:14] mpirvu commented on #8150
`void TR_MethodToBeCompiled::initialize` sets  `_stream = NULL;`

[2019-12-19 17:16] Mesbah-Alam commented on #7050
Found the full set of files to be disabled for osx openj9 jdk8:

[code]

I'll make the change in the tests so that we use a special inventory and exclude file for osx openj9 jdk8 - and continue to use the regular inventory and exclude file for the other os - jdk variations.

[2019-12-19 17:20] mpirvu commented on #8150
My suspicion is now directed towards order of field initialization: `_outOfProcessCompilation` field is set during the compiler object constructor, but so is the sequence that leads to a crash. We need `_outOfProcessCompilation` to be set very early on, so that everybody else has access to this information.
Since order of initialization is given by order of declaration, we would need to declare `_

[2019-12-19 17:23] a7ehuo commented on #8138
@pshipton @AdamBrousseau @mpirvu I’m experimenting JITServe code to dynamically load OpenSSL. The proto code is in #8145. I found a few issues when replacing the OpenSSL macros:

1.  If the code is built against with 1.1.0,  SSLv23_client_method() is defined as TLS_client_method.
If the target machine has 1.0.2 installed, TLS_client_method doesn’t exist. Replacing APIs based on versions might get

[2019-12-19 18:33] pshipton commented on #8151
Closing as dup of #8146. The machine is currently disabled until it is fixed, but sometimes when jenkins restarts we have to re-disable machines.

[2019-12-19 18:33] #8151 closed

[2019-12-19 18:40] pshipton commented on #7050
These tests pass on Hotspot, we need to look into why they don't work on OpenJ9.
https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/316/files#r360007264

[2019-12-19 18:50] mpirvu commented on #8150
The solution mentioned in the comment above has solved this problem. In my local tests I no longer see a crash.

[2019-12-19 18:52] pshipton commented on #7480
Sure we can reopen it. I think things like this can occur when too many jenkins jobs are trying to start at the same time. They all start on master and afaik there is no queuing mechanism on master, only once the job has been assigned to a worker and a Node. We've created a new repo https://github.com/eclipse/openj9-jenkins and I want to move the jenkins code that needs to load on master to this r

[2019-12-19 18:53] pshipton commented on #7480
I don't expect any work on this to occur until the new year.

[2019-12-19 19:15] pshipton commented on #8138
If the code is compiled against 1.0.2, does it still work on 1.1.1? There could be similar problems to what you describe doing it that way as well.

1.0.2[a-z] are security updates, I wouldn't expect any incompatibilities, but who knows.

I'll create a PR and try compiling against 1.0.2. I'm not sure if this has been tried for the JCL support so I can't say if it works or not.

[2019-12-19 19:25] pshipton commented on #4091
Closing as a dup of #7050.

[2019-12-19 19:25] #4091 closed

[2019-12-19 19:48] theresa-m commented on #8075
Just noticing that your new cases with multiple superinterfaces are looking very similar to https://github.com/eclipse/openj9/issues/7623 that I've been working on. Mine makes some modifications to getMethodImpl to return all possible interface methods and compare their return types in java - maybe we can coordinate on doing this more in the native code.

[2019-12-19 19:58] a7ehuo commented on #8138
I'd assume it should be backward compatible but not 100% sure. Looks like there are failures in building 1.0.2 OpenSSL in #8155. Should we consider option  2?

There was an env flag `JITSERVER_ENABLE_SSL ` that guarded OpenSSL code in JITServer, which is removed recently in #8039.

[2019-12-19 19:58] andrew-m-leonard opened #8156 "jdk14 fails to build, cannot access VarForm"
[code]

Build console: https://hyc-runtimes-jenkins.swg-devops.com/job/Build_JDKnext_x86-64_linux_Personal/254/consoleFull

[2019-12-19 20:35] pshipton commented on #8138
I'll defer to @mpirvu about option 2.

For supporting 1.0.x and 1.1.1, are there APIs which can be used in place of the macros? I'm not that familiar with the JCL crypto implementation, but it loads all the APIs dynamically and manages to work with both versions. Perhaps it's a simpler usage though.
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/b2a1abf9261a42a96ca250812fe1004e40440855/cl

[2019-12-19 20:39] mpirvu commented on #8138
The behavior that I would like to see is the following:
1) openj9 with default options should run regardless of the OpenSSL version installed on the machine
2) openj9 in client mode (-XX:+UseJITServer) but with no encryption should run regardless of the OpenSSL version installed
3) openj9 in client mode (-XX:+UseJITserver) WITH encryption specified on the command line should run with OpenSSL 1.1.x

[2019-12-19 20:41] pshipton commented on #8156
Dup of #8143. #8139 resolves the compile problem by adding some stubs.

[2019-12-19 20:41] #8156 closed

[2019-12-19 20:47] mpirvu commented on #8138
The disadvantage of this solution is that the default is going to be to build without OpenSSl and this is what we are going to force on the liberty/openshift users. Anybody wanting to use JITServer with encryption would have to build their own openj9 SDK

[2019-12-19 21:11] rajdeepsingh1 commented on #8146
@pshipton

Space issue should now be resolved.

`cent6-x64-1` IP has changed from `x.x.x.188` to `x.x.x.208`

This will require a change in the `Configure` section on Jenkins for the machine, which I do not have access to ( it's configured in Jenkins under IP rather than hostname I believe).

[2019-12-19 21:24] rajdeepsingh1 commented on #8146
`cent6-x64-1` is now online in Jenkins

[2019-12-19 21:29] #8146 closed

[2019-12-20 04:07] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/224
building the test material
[code]

[2019-12-20 11:51] M-Davies commented on #6964
Test appears to be passing now

[2019-12-20 11:51] #6964 closed

[2019-12-20 12:48] rohitp27 commented on #7870
Thanks. Will get started.

[2019-12-20 15:02] rohitp27 commented on #7870
@0xdaryl

Hey, I was wondering about the source of the UPPER_IMMED and LOWER_IMMED constants. If I understand correctly they are the lower and upper bounds for what can be stored in the registers. Maybe I'm missing something.

Could you point me to a resource I could use to find the right answer? Apologies if this is a noob question.

[2019-12-20 21:15] pshipton opened #8159 "zlinux JCL_Test_JITHelpers hangs on z15, blocking sanity.functional testing"
The OpenJ9 zlinux machines were upgraded to z15. ~As yet unknown if~ the hang is caused by the machine changes ~(seems likely), or a code change~. There is a core file captured with gcore in team/joe/core.2278.gz

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_s390x_linux_Nightly/232
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_s390x_linux_xl_Nightly

[2019-12-20 21:16] pshipton commented on #8159
@fjeremic @jdekonin

[2019-12-20 21:18] pshipton commented on #8159
sanity.functional for jdk8 https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/135/

[2019-12-20 21:34] pshipton commented on #8159
Joe captured the following stack from the process before it was somehow killed.
[code]

[2019-12-20 22:19] pshipton commented on #8159
Build using the last known working openj9 sha
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/138/

[2019-12-20 23:04] pshipton commented on #8159
Building from the last known working openj9 sha also hangs, I believe the problem is the machine update to z15.

[2019-12-20 23:49] pshipton opened #8162 "openjdk8 special.system x86-64_windows Mauve GregorianCalendar.equals fail"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/546
MauveMultiThreadLoadTest_special_14
variation: Mode553
JVM_OPTIONS: -Xcompressedrefs -XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:count=0
[code]

[2019-12-21 12:58] pshipton opened #8163 "cent6-x64-1 NoRouteToHost"
Disabled the machine.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/218
[code]

[2019-12-21 12:58] pshipton commented on #8163
@jdekonin

[2019-12-21 13:01] pshipton opened #8164 "aix71-p8-8 out of memory"
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_ppc64_aix_Nightly/52/
[code]

No diagnostic files were captured.

[2019-12-21 13:01] pshipton commented on #8164
@jdekonin pls check the machine

[2019-12-21 21:04] pshipton opened #8165 "DaaLoadTests failing on aix71-p8-2 there must be at least 3Gb (3072Mb) free"
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_special.system_ppc64_aix_Personal/20
[code]

[2019-12-21 21:04] pshipton commented on #8165
@jdekonin

[2019-12-22 13:11] #8103 closed

[2019-12-22 13:11] #8143 closed

[2019-12-23 04:35] pshipton opened #8166 "cmake build intermittent failure"
This compile failure occurs intermittently in the cmake build, and seems to pass on restart.

https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_Nightly/236/
cent6-x64-4
[code]

[2019-12-23 04:35] pshipton commented on #8166
@dnakamura @keithc-ca

[2019-12-23 15:14] fjeremic commented on #8159
@pshipton @jdekonin is there any way for me to get access to this machine? This will go much faster if I can just hop on and reproduce. I don't have access to a z15 locally to test with at the moment.

[2019-12-23 18:40] pshipton commented on #8159
For the record, Filip has access now.

[2019-12-23 18:54] jdekonin commented on #8165
https://github.com/eclipse/openj9/issues/7934

[2019-12-23 23:01] mpirvu opened #8170 "cmdLineTester_jvmtitests_debug_openj9_none_SCC_5 failure in JITServer mode with Java11"
Output from the test
[code]

[2019-12-24 00:39] mpirvu commented on #8109
How about this one:

[code]
produces a crash (when JITServer is enabled) withe the following stack trace:
[code]
The crash is intermittent, 1/10 or so.

[2019-12-24 01:47] mpirvu commented on #8109
In another crash in `Method_being_compiled=java/lang/invoke/FoldNonvoidHandle.invokeExact_thunkArchetype_X(I)I` the stack trace is:

[code]
If we go to frame 19 we find that the objectPointer, which is the first parameter, is NULL

[2019-12-24 03:40] mpirvu commented on #8109
Running with a debug build makes the problem go away. Definitely some timing issue.
I wonder is this test does some class unloading or redefinition.

[2019-12-24 04:27] mpirvu commented on #8109
I managed to get a crash with a debug build:
[code]

[2019-12-24 04:45] mpirvu commented on #8109
Server is asking for `JITServer::runFEMacro_invokeILGenMacrosInvokeExactAndFixup`
`fieldOffset=429496729` looks strange to me
It's coming from `getInstanceFieldOffset(getObjectClass(objectPointer), fieldName, fieldSignature)`
where fieldName="type" and fieldSignature="Ljava/lang/invoke/MethodType;"

The crash happens when executing
`J9OBJECT_OBJECT_LOAD(vmThread(), objectPointer, TR::Compiler->om.

[2019-12-24 04:53] mpirvu commented on #8109
Looking at the object:
[code]
`0x01b30410` should be J9Class in which case we should find the eye catcher 99669966:
[code]
There is no eye catcher which means that our object was bogus.

[2019-12-24 04:59] mpirvu commented on #8109
The client is executing this code:
[code]

with the `methodHandle` received from the server. This methodhandle is the object passed to
[code]

[2019-12-24 05:02] mpirvu commented on #8109
The only hooks that are firing at the client are:
[code]

[2019-12-24 05:04] mpirvu commented on #8109
The server is executing this piece of code:
[code]

[2019-12-24 13:07] JasonFengJ9 opened #8172 "openjdk8_j9_sanity.functional_ppc64le jasm_generator UnsupportedClassVersionError: JVMCFRE003 bad major version; class=org/openjdk/asmtools/Main, offset=6"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64le_linux_xl_Nightly/24/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-24 13:14] JasonFengJ9 commented on #7900
Occurred at `ub16x64j910` https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly/223/console

[2019-12-24 13:17] pshipton opened #8173 "ClassCastException: java.lang.String incompatible with java.nio.file.FileTreeWalker$Event"
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_Nightly/235
[code]

Restarted the build, and the restart built correctly.
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_Nightly/236/

[2019-12-24 13:55] pshipton commented on #8172
Dup of https://github.com/AdoptOpenJDK/openjdk-build/issues/1453

[2019-12-24 14:03] mpirvu opened #8174 "zLinux build failure with JITServer"
Error message:
[code]

[2019-12-24 14:04] mpirvu commented on #8174
Attn: @dchopra001

[2019-12-24 14:04] mpirvu commented on #8174
I think we are missing: `#include "control/CompilationRuntime.hpp"` in Recomp.cpp

[2019-12-24 14:15] mpirvu commented on #8174
I commented out the include above in the corresponding x86 file (`/x/runtime/Recomp.cpp`) and got the same failure, so the solution is just to include `CompilationRuntime.hpp`

[2019-12-24 14:25] mpirvu commented on #8109
@harryyu1994 If you have some time, please continue the investigation above or look into this one which I see fairly often:
[code]

[2019-12-24 15:04] #8150 closed

[2019-12-24 15:38] JasonFengJ9 opened #8175 "openjdk8_j9_extended.functional_x86-64_windows Shared cache offset out of bounds Segmentation error vmState=0x0005ff04"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-24 15:48] JasonFengJ9 opened #8176 "openjdk11_j9_sanity.openjdk_s390x_linux NPE at java.base/sun.nio.cs.StandardCharsets.cache(StandardCharsets.java:1332)"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-24 16:03] JasonFengJ9 opened #8178 "openjdkNext_j9_extended.system Unsupported class file major version 59"
Failure link
------------

From internal jenkins nightly jobs.

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-12-24 16:06] #8172 closed

[2019-12-24 16:07] pshipton commented on #8175
Similar to #7890

[2019-12-24 19:47] fjeremic commented on #8159
I am able to reproduce the problem. Here is the minimum reproducible standalone test case:

[code]

Compiling and running:

[code]

hangs the test. We can run it under a debugger to quickly find where we are looping:

[code]

Looking at the log we seem to be stuck in this loop:

[code]

The `CGRJ` at `0x3ffdcdff35e` looks problematic as `GPR7 == 0` in the entire loop, so we never actually exit the

[2019-12-24 19:49] fjeremic commented on #8159
@VermaSh I likely won't have time to properly fix this before Monday as I'll be away after. Could you take this one over with high priority once you are back? See above comment to get started. As part of the fix I'd like to see full coverage through all paths of that evaluator.

[2019-12-24 22:46] #8174 closed

[2019-12-27 19:14] rajdeepsingh1 commented on #8163
Investigation in progress -  looking for `192.168.10.197` machine

[2019-12-28 02:12] cathyzhyi commented on #7694
This failure should be fixed by https://github.com/eclipse/omr/pull/4691

[2019-12-29 09:05] roded commented on #6474
We've experiencing what seems to be a similar issue when running Tomcat on OpenJ9 `jdk8u222-b10_openj9-0.15.1`  - see exception below. Can anyone confirm that this issue is in fact the same and if it was resolved in a later version of OpenJ9?

`Unhandled exception
Type=Segmentation error vmState=0x00000000
J9Generic_Signal_Number=00000018 Signal_Number=0000000b Error_Value=00000000 Signal_Code=000

[2019-12-29 17:57] roded opened #8181 "openjdk8-openj9-0.15.1 Segmentation fault"
Java -version output
--------------------
openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-b10)
Eclipse OpenJ9 VM (build openj9-0.15.1, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20190717_368 (JIT enabled, AOT enabled)
OpenJ9   - 0f66c6431
OMR      - ec782f26
JCL      - f147086df1e based on jdk8u222-b10)

Summary of problem
------------------
Segmentation fault. We

[2019-12-29 21:32] JasonFengJ9 commented on #8181
This appears like https://github.com/eclipse/openj9/issues/4530, so it has been fixed (workaround) in later version. Alternatively `-Djdk.nativeDigest=false` can be specified in current JDK command line options.

[2019-12-29 21:42] JasonFengJ9 commented on #6474
System core files are required for investigation to determine the actual cause.
Can this Segmentation error be reproduced with latest OpenJ9 release [1]?

[1] https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u232-b09_openj9-0.17.0

[2019-12-30 09:22] roded commented on #8181
[8181.tar.gz](https://github.com/eclipse/openj9/files/4009369/8181.tar.gz)

@JasonFengJ9, please see attached dump files. Does these help in telling if the issue is in fact the same as #4530?

[2019-12-30 13:46] pshipton commented on #8181
@ashbm5 pls take a look.

[2019-12-30 13:53] pshipton commented on #8181
As the crash appears related to the CBC algorithm and not MessageDigest, it won't be a duplicate of #4530. I'm not aware of any fixes for this. The workaround is https://www.eclipse.org/openj9/docs/djdknativecbc/

[2019-12-30 14:02] pshipton commented on #6474
@roded pls open a new Issue for your crash, and include the diagnostic files produced. It doesn't appear to be the same as this Issue.

[2019-12-30 14:12] roded commented on #6474
@pshipton, we don't currently have the diagnostic files for the above crash. We'll try to get them if/when it reoccurs. Should I open another ticket only once we obtain the diagnostic files? Also, can you tell from the above exception if there's any relation to #8181?

Much obliged.

[2019-12-30 14:26] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/231
testSCCacheManagement_0
[code]

[2019-12-30 15:03] pshipton commented on #6475
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_xl_Nightly/28

[2019-12-30 15:07] pshipton commented on #7088
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/893
MauveMultiThreadLoadTest_special_26
[code]

[2019-12-30 15:11] dnakamura commented on #8166
Sounds like we aren't properly specifying dependencies. Looking into it

[2019-12-30 15:19] pshipton commented on #6474
@roded it does not look the same as #8181. We won't be able to investigate the problem without the diagnostic files, it makes sense to wait on opening a new Issue until diagnostic files are available.

[2019-12-30 15:23] dnakamura opened #8183 "CMake Performance regressions"
Issue for tracking perf regressions on cmake builds

|          | xlinux | plinux|
|----------|--------|-------|
|Startup   |        |       |
|Footprint |        |       |
|Throughput|        |       |

[2019-12-30 17:03] dagonblanco opened #8184 "Support for option -XX:+PrintCodeCache"
I'd like to debug code cache utilization on some environments, and found this option documented for the Oracle JDK (for example here). For me, the most relevant part is that it will print the max size of the code cache used during execution.

I've been testing and it seems this option is not supported in openJ9... is that right? Is there an equivalent option to show this information? I know I can

[2019-12-31 01:22] harryyu1994 commented on #8109
Going to check if `returnFromArchetype` is true or false here, I suspect it's false and walkRefereceChain returned a bad methodHandle. (as receiverHandle was dereferenced at the client and didn't crash it client I'd assume it's valid.)
[code]

[2019-12-31 16:00] pshipton commented on #7088
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/911
MauveMultiThreadLoadTest_special_26

[2019-12-31 16:41] pshipton commented on #7969
Resolved by #8152

[2019-12-31 16:41] #7969 closed

[2019-12-31 16:46] pshipton commented on #7839
The AIX machines 5-10 were updated to AIX 7.1 TL5 SR5, not sure this problem is still seen on the updated machines.

[2019-12-31 16:49] rajdeepsingh1 commented on #8163
Due to limited permissions on the OJ9 Jenkins platform I am unable to check the configuration / parameters for `cent-x64-1`

The IP `192.168.10.197` does not seem to be assigned to any machine in the network as well.

Do the following tests (below) for the other cent6-x64* machines try to reach the same IP? `192.168.10.197` - if so , are they successful?

https://ci.eclipse.org/openj9/job/Test_ope

[2020-01-01 01:13] harryyu1994 commented on #8109
Trying limiting to just compiling one method
[code]

[2020-01-01 01:38] harryyu1994 commented on #8109
I think for this bug it may be more beneficial to look into what the test is trying to do.

[2020-01-01 16:43] pshipton opened #8189 "ppc64le MathLoadTest NullPointerException VMAccess.addPackageToList"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64le_linux_Nightly/385
MathLoadTest_bigdecimal_special_20
variation: Mode610
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xjit -Xgcpolicy:gencon
[code]

[2020-01-01 16:46] pshipton commented on #7969
@dmitripivkine should we fix this in the 0.18 release?

[2020-01-01 16:48] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_Nightly/131
 SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-01-01 16:52] pshipton commented on #8163
@rajdeepsingh1 the tests only communicate with the machine they are running on. cent-x64-1 is incorrectly configured in some way with the IP address 192.168.10.197, perhaps in the /etc/hosts file. We've seen this before, @jdekonin can explain how to fix it.

[2020-01-01 16:53] pshipton commented on #8163
See https://github.com/eclipse/openj9/issues/7820#issuecomment-561398357 for the previous problem/solution.

[2020-01-01 17:11] pshipton opened #8190 "aix UpgradeModPathTest_ExpDirImg java.lang.module.FindException: Unable to compute the hash of module java.logging"
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_ppc64_aix_Nightly/62
UpgradeModPathTest_ExpDirImg_0
[code]

[2020-01-02 06:21] inatatsu commented on #7694
@cathyzhyi Thank you very much. How can I try the fixed compiler?

[2020-01-02 14:43] mpirvu commented on #8109
@harryyu1994 You may want to rebase just in case the fix from #8186 fixed it

[2020-01-02 15:01] harryyu1994 commented on #8109
I already did, and i think the comment in #8186 was suggesting this issue is still present?

[2020-01-02 15:06] harryyu1994 commented on #8109
[code]

[2020-01-02 15:07] dmitripivkine commented on #7969
@pshipton Well it is not a regression. It is up to you. Please let me know if you need help with this.

[2020-01-02 16:09] adamfarley commented on #7053
FYI: Still chasing this. Some progress, though no commit yet.

[2020-01-02 16:17] rajdeepsingh1 commented on #8163
@pshipton

Thanks Peter! - I had checked the /etc/hosts file on the jumpbox prior and it seems `cent6-x64-1` was already assigned to the correct IP .208 rather than .197.

I have made a configuration change just now on the `centx6-x64-1` machine itself and have rebooted it. It is back online now. Let me know if there are any further issues.

[2020-01-02 16:33] #8163 closed

[2020-01-02 17:20] pshipton commented on #7969
It's causing a test failure in the release testing. Since there are no objections, I've cherry picked the fix for the release. https://github.com/eclipse/openj9/pull/8192

[2020-01-02 18:26] keithc-ca commented on #7050
Perhaps the test needs to use the `-XstartOnFirstThread` option; see [1].

[1] https://github.com/eclipse/openj9/blob/master/test/functional/DDR_Test/tck_ddrext.xml#L95

[2020-01-02 21:18] ChengJin01 opened #8193 "Avoiding bytecode verification in warm runs via MD5 checksum stored in SCC"
The intent of this proposal is to evaluate the feasibility of leveraging the SCC (SharedClassCache) technology to avoid bytecode verification in warm runs.

**1. Background & Motivation**

As we know, the purpose of bytecode verification is to confirm that the .class files from untrusted sources can not perform illegal operations or exploit the virtual machine. For a typical application (e.g. Libe

[2020-01-02 23:35] harryyu1994 commented on #8109
Although the issue is intermittent, JITClient always crash at the same method. Sounds to me like there's a race condition somewhere.

We always need two remote messages to complete the "runFEMacro_invokeILGenMacrosInvokeExactAndFixup" request.
I wonder if that's causing a race condition.

JITClient
[code]

JITServer
[code]

[2020-01-02 23:56] harryyu1994 commented on #8109
Minimum set of options to reproduce the bug.
-Xgcpolicy:balanced
 -Xms65m -Xmx65m
were needed to reproduce the bug. Which suggests that it's highly likely to be related to GC.
[code]

Now i just need to find a way to prove my theory.

[2020-01-03 00:18] harryyu1994 commented on #8109
Scenario:

1. `compInfoPT->updateLastLocalGCCounter(); ` called (`runFEMacro_derefUintptrjPtr`), say now `lastLocalGCCounter` = 2
2. `compInfo->incrementLocalGCCounter();` called (GC happened) which increments `GCCounter` to 3
3. another `compInfoPT->updateLastLocalGCCounter();` called (`runFEMacro_derefUintptrjPtr`), so now `lastLocalGCCounter` = 3
4. `runFEMacro_invokeILGenMacrosInvokeExactAndFi

[2020-01-03 00:30] harryyu1994 commented on #8109
And once I started adding debug messages to the program, the failure went away.

[2020-01-03 03:13] harryyu1994 commented on #8109
[code]

[2020-01-03 05:36] harryyu1994 commented on #8109
[code]

[2020-01-03 12:16] M-Davies opened #8194 "Failing JTReg: jdk/test/java/lang/Runtime/loadLibrary/LoadLibraryTest.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/fbdf154d48bce04892f6d1a2e6fccd291fafdc1e/jdk/test/java/lang/Runtime/loadLibrary/LoadLibraryTest.java#L1 has been failing since 31/12/2019 on jdk8-openj9
- test category, openjdk
- test target name, jdk_lang
- OS/architecture, generic-all

Optional info
-------------
- intermittent failure (no):
- ~Not yet excluded~ S

[2020-01-03 13:37] avermeer opened #8195 "OpenJ9 should support JEP 158"
Hello OpenJ9 developers,

I have been warned that Apache Kafka fails to generate GC (Garbage Collection) logs when ran with an OpenJ9-based Java distribution when Java version is >=9.

The reason for this issue is because, as far as I known, OpenJ9 does not comply with JEP 158, while other HotSpot-based distributions do.

To reproduce the issue, run the following with latest AdopOpenJDK11 OpenJ9 b

[2020-01-03 14:11] JasonFengJ9 commented on #6475
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_xl_Nightly/33
[code]

[2020-01-03 15:12] pshipton commented on #8194
The OpenJ9 changes are https://github.com/eclipse/openj9/compare/1551b60f0...a873af9c2 however they only affect JITServer, which is not enabled in the builds (`#if defined(JITSERVER_SUPPORT)`), so they aren'y the cause of the regression.

There were also JCL changes
https://github.com/ibmruntimes/openj9-openjdk-jdk8/compare/b2a1abf9261...fbdf154d48b
Once of the changes is `Deadlock with ClassLoade

[2020-01-03 15:19] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_ppc64le_linux_Nightly/146
SC_Softmx_UpDown_0

[2020-01-03 19:14] dsouzai opened #8198 "Make target environment local to the compiler"
OpenJ9 side of https://github.com/eclipse/omr/issues/4518

[2020-01-03 20:59] harryyu1994 commented on #8109
This portion of code in routine TR:CompilationInfo::compilationEnd() might be worth a look: especially `deleteMethodHandleRef(mhDetails, vmThread, trvm);`

[code]

[2020-01-03 22:24] harryyu1994 commented on #8109
-Xjit:verbose={methodHandleDetails}

It doesn't look like the handleRef that caused the crash was ever deleted. So it probably never was a valid handleRef.
Some methodHandleDetails verbose log prior to the crash
[code]

[2020-01-03 22:48] harryyu1994 commented on #8109
[code]

[2020-01-03 23:40] harryyu1994 commented on #8109
The next step is to check when the object pointer value changed, now that we know which routine generates it and what the value should be.

[2020-01-04 00:55] harryyu1994 commented on #8109
The pointer changed from `0xfd701a48` to `0xfeea9870`
[code]

[2020-01-04 07:15] andrewcraik commented on #7748
@Charlmzz & @cathyzhyi any updates on this one since it is targeted to 0.18 atm

[2020-01-04 07:18] andrewcraik commented on #7088
FYI @cathyzhyi

[2020-01-04 15:27] pshipton opened #8203 "cent6-x64-1 doesn't have a proper protobuf installation"
The jdk11 large heap build failed to compile on cent6-x64-1, it works on other machines. I've disabled the machine.

https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_xl_Nightly/251
[code]

[2020-01-04 15:29] pshipton commented on #8203
Some instructions for installing protobuf
[code]
@jdekonin

[2020-01-04 16:21] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/668
DaaLoadTest_daa1_special_17

[2020-01-04 21:37] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Release/19/
cmdLineTester_classesdbgddrext_1
Run !dumpallramclasslinear 10
[code]

[2020-01-04 21:40] pshipton opened #8204 "sanity.system MauveMultiThreadLoadTest DateFormat.equals"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Release/21
MauveMultiThreadLoadTest_0
[code]

[2020-01-04 23:14] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_mac_Release/12
testSCCacheManagement_0
[code]

[2020-01-05 05:09] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly/241
cmdLineTester_CryptoTest_0

[2020-01-06 00:12] prodigysml opened #8205 "Security Contact Requested"
@n33dle and I found a security vulnerability within the openj9 project. We were hoping to get a core maintainer's contact details to responsibly disclose this vulnerability.

[2020-01-06 10:28] M-Davies commented on #8194
Failure is occuring again in the nightlies. Will exclude and investigate

[2020-01-06 11:21] M-Davies opened #8208 "Intermittent JTReg: java/lang/invoke/MethodHandlesSpreadArgumentsTest.java"
Failure link
------------
This [test](https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/15f5dcd507b974d4a2a10d35adbcfce62b4f5b8f/test/jdk/java/lang/invoke/MethodHandlesSpreadArgumentsTest.java#L1) has been failing intermittently on jdk11-openj9 for a while and should be investigated more closely
See: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1511#issuecomment-566061712

- test ca

[2020-01-06 11:26] M-Davies commented on #8208
Excluded in https://github.com/AdoptOpenJDK/openjdk-tests/pull/1526

[2020-01-06 12:43] jdekonin commented on #8203
@rajdeepsingh1 can you please take care of this issue?

[2020-01-06 14:16] mstoodle commented on #8205
Hi @prodigysml , thank you for taking a responsible approach to report the vulnerability you have discovered.

Eclipse OpenJ9 is an Eclipse Foundation project, so we follow the Eclipse security process, which you can find here: https://www.eclipse.org/security/policy.php .

In particular, please see the "Reporting" section.

[2020-01-06 15:24] rajdeepsingh1 commented on #8203
@pshipton

`protobuf-3.7.1`

has been installed on `cent6-x64-1`

[2020-01-06 15:27] cathyzhyi commented on #8142
Hasn't been able to reproduce in grinder in 100 runs

[2020-01-06 15:36] pshipton commented on #8142
Trying 10x on the open machines https://ci.eclipse.org/openj9/job/Grinder/595/

[2020-01-06 15:37] pshipton commented on #8203
Re-enabled the machine.

[2020-01-06 15:37] #8203 closed

[2020-01-06 15:39] M-Davies commented on #8208
Ran the test 200 times on the grinder and passed. Will try a 100 iteration run on the machine it failed on last (`test-godaddy-win3`)

[2020-01-06 15:54] ashbm5 commented on #8181
@roded the attached tarball has a javacore file in it but I can't view it, corrupted? please attach the javacore itself to the issue.

[2020-01-06 16:16] cathyzhyi commented on #7748
Charlene has collected the logs from a passing run and a failing run. I will take a look today.

[2020-01-06 16:24] DanHeidinga commented on #8193
Thanks @ChengJin01 for opening this proposal.  Optimizing startup (and therefore verification) is an important goal of the OpenJ9 project.

The MD5 approach would only allow skipping static verification as the relationships between classes (ie: can this object of type B be assigned to that field of type A) would still need to be checked.

Your proposal is inline with some of the work that's alread

[2020-01-06 16:24] #8193 closed

[2020-01-06 16:42] DanHeidinga commented on #2332
Another option mapping request: https://github.com/eclipse/openj9/issues/8184

[2020-01-06 16:54] keithc-ca opened #8209 "Remove PR build restrictions"
The current behavior of PR builds is overly restrictive: you can only request a build for a particular version and specification if it is implied by 'all'. For example, one should be able to request
[code]
without the response being:
[code]

[2020-01-06 16:57] pshipton commented on #8193
@DanHeidinga this was closed, but it's unclear if you intended to close this.

[2020-01-06 17:01] pshipton commented on #8209
@mpirvu @AdamBrousseau

[2020-01-06 17:02] pshipton commented on #8184
@mstoodle can you pls find someone to address this question.

[2020-01-06 17:04] DanHeidinga commented on #8193
Yes, this was deliberately closed.  The approach isn't feasible as presented and will be subsumed by Sharon's next patch which is coming shortly.

[2020-01-06 17:16] pshipton opened #8210 "Running traceformat on an OpenJ9 Snap warns about TraceFormat.dat"
Running the traceformat utility on an OpenJ9 snap file gives the following warning.
`Warning: dat file "jdk8u232-b09/jre/lib/TraceFormat.dat" not found`

The TraceFormat.dat contains JCL tracepoints in IBM builds, but doesn't exist in OpenJ9 builds. It seems wrong for an OpenJ9 utility to warn about a file that doesn't exist in any OpenJ9 builds.

[2020-01-06 17:17] pshipton commented on #8210
@keithc-ca

[2020-01-06 17:17] M-Davies commented on #8194
The test is trying load two [class targets](https://github.com/ibmruntimes/openj9-openjdk-jdk8/tree/fbdf154d48bce04892f6d1a2e6fccd291fafdc1e/jdk/test/java/lang/Runtime/loadLibrary/src) by constructing its own URL to the class directory. The failure cause is a deadlock of the two running threads created by the test. Note, the words lock and monitor are the same when talking about the use of threads

[2020-01-06 17:17] JasonFengJ9 commented on #8021
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/242/tapResults/

[2020-01-06 17:25] ChengJin01 commented on #8193
@DanHeidinga , are you sure we already skips both static & runtime verification for the ROM classes from the SCC?  I recall we still do the runtime verification (rtverify.c) in this case, correct ?

[2020-01-06 17:30] mstoodle commented on #8184
Sample output appears to be something like, which I assume is printed during shutdown:
[code]

@mpirvu will know best the diagnostic options available here. I know there is some `-Xjit:verbose` settings that provide some of this information on the fly, and there's the environment variable `TR_PrintCompMem=1` that displays how much memory is in use at shutdown, but I'm not sure if there's a way to

[2020-01-06 18:01] ChengJin01 commented on #8193
Already talked to @DanHeidinga,  the @sharon-wang's solution is based on we trust the ROM classes from the SCC (MD5 shouldn't required in such case), in which case the only thing left to be addressed is the relationship between classes.

[2020-01-06 18:03] AdamBrousseau commented on #8209
Note this isn't really PR build specific other than only the PR builds support the `all` platforms keyword. We use the list [here](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/jobs/pipelines/Pipeline-Build-Test-All.groovy#L86) to "filter" out what spec/version combinations we build. Allows us to specify a list of specs and cross a list of versions and only build what is supported

[2020-01-06 18:11] DanHeidinga commented on #8193
That's correct.  We still do runtime verification in this case today

[2020-01-06 18:34] ChengJin01 commented on #8193
I think the reason we still do runtime verification in warm runs is not all relationships between classes are stored in the SCC in the cold run, in which case the unchecked relationships should be captured and stored in warm runs.  So totally avoiding the runtime verification only occurs when all requested relationships are stored in the SCC; otherwise, we should keeping do so in the subsequent wa

[2020-01-06 18:43] JasonFengJ9 commented on #8194
This is a new test and it appears there was a JVM change as well. OpenJDK hotspot`jdk8u242-b02` hangs in this test but `jdk8u242-b05` passes.
So this is not a test problem.

[2020-01-06 18:53] srogmann commented on #4005
I saw such a NullPointerException in the Log4ContextFactory in a 64-bit-JVM (OSGi in CICS-JVMSERVER) of a z/OS-machine.

In what way does OpenJ9 deal with a WeakReference if the only reference is a local variable to be overwritten?

log4j-2.3, class org.apache.logging.log4j.core.selector.ClassLoaderContextSelector, method locateContext:

[code]

The corresponding bytecode (see local variable `#6`)

[2020-01-06 19:01] pshipton commented on #8184
Tentatively assigned to the next milestone. This is not a commitment.

[2020-01-06 19:03] pshipton commented on #8142
The previous grinder passed. Started
https://ci.eclipse.org/openj9/job/Grinder/596
https://ci.eclipse.org/openj9/job/Grinder/597
https://ci.eclipse.org/openj9/job/Grinder/598

[2020-01-06 19:09] pshipton opened #8213 "extended.system windows crash SC_Softmx_JitAot_0 vmState=0x00000000"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/245
SC_Softmx_JitAot_0
[code]

[2020-01-06 19:16] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Personal/32
DaaLoadTest_daa3_special_15

[2020-01-06 19:17] pshipton commented on #7276
@andrewcraik @r30shah this problem is happening quite a bit, I think we should make another effort to track it down. I'm moving it back to the 0.18 milestone.

[2020-01-06 19:22] pshipton opened #8214 "Windows LambdaLoadTest hang"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal/33
LambdaLoadTest_OpenJ9_NonLinux_special_24
variation: Mode107-OSRG
JVM_OPTIONS:  -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation

No diagnostic files generated.

[code]

[2020-01-06 19:25] andrewcraik commented on #7276
@aviansie-ben and @r30shah merged a change in https://github.com/eclipse/openj9/pull/8148 and https://github.com/eclipse/openj9/pull/8158 which was meant to help fix a race which I thought might have been related. @r30shah could you have a look - note this is targetted to 0.18

[2020-01-06 19:26] pshipton commented on #8166
I haven't been reporting all the failures, but here is the latest
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_cm_Nightly/248

[2020-01-06 19:29] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/398
MathLoadTest_all_special_21
variation: Mode687
JVM_OPTIONS: -Xcompressedrefs -XX:+UseCompressedOops -Xjit -Xgcpolicy:gencon -Xaggressive

[2020-01-06 19:29] mpirvu commented on #8184
Setting `TR_PrintCompMem=1` environment variable will print code cache utilization at shutdown on stderr. E.g.:
[code]
About the "max_used" value. In Openj9 once a code cache is allocated it is never deallocated. Code fragments from the code cache can be deallocated and openj9 keeps track of them for reuse, but the memory is not released back to the OS.
A code cache has two allocation pointers: (1

[2020-01-06 20:00] harryyu1994 commented on #8109
-  VM_createMethodHandleArchetypeSpecimen is called here on the server (wrappedCompile)

[code]

[2020-01-06 20:05] pshipton commented on #8142
All the external grinders above (40x) passed. We'll see if this occurs again in the builds, and if not eventually close it. Since it has only occurred one time so far, it hasn't been assigned to any milestone.

[2020-01-06 20:23] andrewcraik commented on #7694
The OMR change has merged - the fix will propagate to an AdoptOpenJDK OpenJ9 nightly build within the next couple of days all being well. That will be the easiest way to try the fix unless you want to do your open build.

[2020-01-06 20:30] mstoodle commented on #8184
So, in the example above, that would mean 2,097,152 - 2,079,808 or 17,344 bytes , right @mpirvu :) ?

[2020-01-06 20:46] AdamBrousseau commented on #4719
Hacked up build that Tobi is running internally (job/Tobi_Pipeline-Build-Test-JDK11-linux_x86-64_cmprssptrs_nestmates_internal) uses JDK11 xlinux spec but it could be tested on more versions or platforms. The only change on the compile side is to run a `sed` command on `j9cfg.h.ftl`
see: https://github.com/eclipse/openj9/compare/master...tajila:valuetypesinternal
For the test side `AUTO_DETECT` ne

[2020-01-06 21:10] pshipton commented on #4005
I expect the LoggerContext instance is out of scope after `new WeakReference<LoggerContext>(ctx)` and is free to be collected. @DanHeidinga is that correct?

[2020-01-06 21:26] DanHeidinga commented on #4005
Yes, that's correct.  OpenJ9 can collect the object once there are no longer any more references to it in the method.  We aggressively mark locals as not-an-object so they can be collected as soon as possible.

If the local needs to be kept alive, check out the `reachAbilityFence` method - http://cr.openjdk.java.net/~iris/se/12/latestSpec/api/java.base/java/lang/ref/Reference.html#reachabilityFenc

[2020-01-06 22:46] andrewcraik commented on #8102
I believe this is a bug in Groovy. The Groovy source @ version 2.5.8 includes a class `DirectFastStringService` which directly reads the char[] of java/lang/String using Unsafe:
[code]

The OpenJ9 string implementation differs in internal operational details from the one found in OpenJDK builds using HotSpot. As a result directly reading an internal field of the class is not guaranteed to produce

[2020-01-06 22:47] andrewcraik commented on #8102
@pshipton I think this is a close from our side - not sure if we want to liase with Groovy?

[2020-01-06 22:47] VermaSh commented on #8159
All paths of the evaluator seem to be ok, verified through @fjeremic's test. The condition for `CGRJ` pointed out in previous comment was the only change that was needed.

[2020-01-06 22:51] #8210 closed

[2020-01-06 23:12] JasonFengJ9 commented on #8194
The direct cause of hang is the synchronized method: https://github.com/eclipse/openj9/blob/f280e85ef7b223bd5fe90d410c4d590641083be9/jcl/src/java.base/share/classes/java/lang/ClassLoader.java#L1875

Need find a way to remove this synchronization on `ClassLoader`.

[2020-01-06 23:17] pshipton commented on #8102
@codeman38 if you use OpenJ9 Java 11 or later then it works, since the internal String representation matches OpenJDK. For Java 8, you can specify the Java option `-Djava.lang.string.substring.nocopy=true`, which can be done via an environment variable
`export OPENJ9_JAVA_OPTIONS=-Djava.lang.string.substring.nocopy=true`.

[2020-01-07 00:52] mpirvu commented on #8184
correct.

[2020-01-07 01:46] knn-k commented on #5221
#8171 is a part of this work.

[2020-01-07 03:08] cathyzhyi commented on #7694
An improvement of the original fix is in:
https://github.com/eclipse/omr/pull/4696
https://github.com/eclipse/openj9/pull/8218
https://github.com/eclipse/omr/pull/4697

[2020-01-07 03:34] inatatsu commented on #7694
@andrewcraik @cathyzhyi Thank you very much! How can I confirm the commit level of a nightly build of AdoptOpenJDK OpenJ9?

[2020-01-07 05:05] pshipton commented on #8173
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_Nightly/250

[2020-01-07 09:20] M-Davies commented on #8208
Failures seem specific to the machine. Test failed 58/100 times on `test-godaddy-win3` https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1603/
Will run the same grinder again on `test-godaddy-win2016-x64-4`. If it passes, I'll move this issue to infrastructure on the assumption it is a machine issue

[2020-01-07 09:47] andrewcraik commented on #7694
the commit sha is shown on the java -version output

[2020-01-07 13:30] M-Davies commented on #8208
Test failed 65/100 times on `test-godaddy-win2016-x64-4`. Unique to godaddy machines perhaps, trying on ` test-azure-win2012r2-x64-3`...

[2020-01-07 13:41] M-Davies commented on #8194
What if only part of the method was synchronised? Specifically when it tries to find or load a library?

[2020-01-07 15:20] JasonFengJ9 commented on #8194
Yeah, that's the usual direction for this kind of problem.

[2020-01-07 15:37] tajila commented on #4719
Thanks for working on this @AdamBrousseau. Currently, I am running two test commands:

`make BUILD_LIST=functional/Valhalla _sanity` and
`make BUILD_LIST=functional/cmdLineTests/valuetypeddrtests _extended`

But perhaps this can be turned into one command by running `make BUILD_LIST=functional _sanity` and putting all the Valhalla tests in sanity? (@llxia ??)

I think a good long term solution wou

[2020-01-07 15:38] ashu-mehra opened #8219 "Strip debug info from jitserver executable generated by OpenJ9"
Executable `jitserver` launcher generated as part of OpenJ9 build process is not stripped of debug info, the way shared libraries are.

Note that in uma based build system the shared libraries are stripped of debug info by this [code](https://github.com/eclipse/openj9/blob/14d1f89b9ee42deab3690efe11e0deb4e81c8096/runtime/makelib/targets.mk.linux.inc.ftl#L50).

Stripping of debug-info should happen

[2020-01-07 16:34] a7ehuo commented on #8138
#8182 eliminates the dependency on the version of the OpenSSL during the build time. Therefore close this issue.

[2020-01-07 16:34] #8138 closed

[2020-01-07 16:48] M-Davies commented on #8208
`test-godaddy-win2016-x64-2` fails 29/50 times. Fairly certain this is a machine issue. I'll look into this more closely tomorrow.

[2020-01-07 17:06] ashu-mehra opened #8220 "cmdLineTester_getPid_0 fails when using JITServer"
Failure link
------------
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_jit_Personal/13/consoleText

- test category: functional
- test target name: cmdLineTester_getPid_0
- OS/architecture: x86-64_linux

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-07 17:08] ashu-mehra commented on #8220
Reason for the failure is that test is not handling the technology preview message displayed by the client JVM connecting to a JITServer.
The client JVM emits a message `JITServer is currently a technology preview. Its use is not yet supported` at the startup.

[2020-01-07 18:31] non-conformances-research opened #8221 "ArrayDeque constructor crashes the JVM"
ArrayDeque constructor throws OutOfMemoryError when executing the following program:

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u16

[2020-01-07 18:32] non-conformances-research opened #8222 "Hashtable constructor crashes the JVM"
Hashtable constructor throws OutOfMemoryError when executing the following program:

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u162

[2020-01-07 18:32] non-conformances-research opened #8223 "IdentityHashMap constructor crashes the JVM"
IdentityHashMap constructor throws OutOfMemoryError when executing the following program:

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jd

[2020-01-07 18:33] non-conformances-research opened #8224 "WeakHashMap constructor crashes the JVM"
WeakHashMap constructor throws OutOfMemoryError when executing the following program:

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8.0 Linux amd64-64 Compressed References 20180315_120 (JIT enabled, AOT enabled)
OpenJ9   - e24e8aa9
OMR      - 3e8296b4
JCL      - ee1e77df1d based on jdk8u1

[2020-01-07 18:44] dmitripivkine commented on #8221
Please note that `-Xmx` value (maximum heap size) for OpenJ9 Java 8 is 512m. HotSpot has a larger value. Please try `-Xmx2G` for your run. Also OpenJ9 Java 11 has `-Xmx` set to 25% of RAM available (same behaviour as HotSpot) - your can try it as well.

[2020-01-07 19:05] harryyu1994 commented on #8109
Debugging message and output
[code]
The uintptrj_t* address received from JITServer looks wrong, and its content is bogus.
[code]

[2020-01-07 19:14] #7639 closed

[2020-01-07 19:20] DanHeidinga commented on #8140
@ChengJin01 Can you take a look at this?  We're trying to determine if it needs (or preferably can be) fixed for 0.18.

[2020-01-07 19:22] PascalSchumacher commented on #7639
Thank you very much for fixing this!

[2020-01-07 19:25] DanHeidinga commented on #7890
@mpirvu @dsouzai What's the status of this issue?  We're trying to close out the 0.18 milestone

[2020-01-07 19:28] DanHeidinga commented on #7694
@andrewcraik Does the OMR fix for this need to be cherrypicked into 0.18?

[2020-01-07 19:33] DanHeidinga commented on #7565
@tajila I thought this was fixed already.  Can you link to the PR that fixes it?

[2020-01-07 19:34] DanHeidinga commented on #6462
Moving out of 0.18 as we don't have a performant fix yet

[2020-01-07 19:35] ChengJin01 commented on #8140
Will investigate to see what happened in there.

[2020-01-07 19:36] DanHeidinga commented on #4930
Moving out of 0.18 as we're long past the code split

[2020-01-07 19:44] DanHeidinga commented on #8159
@VermaSh Is there a PR with the fix available yet?

[2020-01-07 19:51] andrewcraik commented on #7694
@DanHeidinga a good thought - this is low risk so we should get it in to 0.18 - @cathyzhyi can you open the appropriate pull request on openj9-omr's 0.18 branch?

[2020-01-07 19:55] VermaSh commented on #8159
A PR has been created, apologies for the delay

[2020-01-07 20:26] dsouzai commented on #7890
I have no idea why the problem occurs. I can put in the fix that will stop the assert from occurring (and will be functionally correct) if you feel this issue is problematic enough that we can't carry it forward to the next release.

[2020-01-07 20:32] mpirvu commented on #7890
@dsouzai Please deliver the fix you proposed.

[2020-01-07 20:34] tajila commented on #7565
Here is the PR that fixes this issue, https://github.com/eclipse/openj9/pull/7666

[2020-01-07 20:50] dsouzai commented on #7890
Opened https://github.com/eclipse/openj9/pull/8227

I'm guessing I'll have to open a separate PR for 0.18?

[2020-01-07 21:21] #7565 closed

[2020-01-07 21:28] ashu-mehra opened #8228 "Add mechanism to gracefully terminate JITServer"
Currently there is no workflow to terminate the JITServer and it needs to be killed manually.
Add ~~`JITServer_DestroyServer`~~ `stopJITServer` API that would gracefully terminate the JITServer.
Once the API is available, jitserver launcher should be updated to use this API.

[2020-01-07 21:48] cathyzhyi commented on #7694
added PR here https://github.com/eclipse/openj9-omr/pull/45

[2020-01-07 21:52] ashu-mehra opened #8229 "Use single flag to enable JITServer changes"
Currently JIT enables JITServer changes using a flag `JITSERVER_SUPPORT`, but the uma build system used by the VM does not allow to use this flag. The flag added in `j9.flags` file to enable JITServer in the VM translates to a compile time flag `J9VM_BUILD_JITSERVER`.
Use of these two flags is unnecessary and source of confusion. It would be better to remove one of them and use the other consisten

[2020-01-07 22:28] harryyu1994 commented on #8109
Freshly new observations:
On JITClient (output)
- deleteMethodHandleRef in compilationEnd 0x7f55b43b2a70, 0xffc00198
- In wrapped compile, JITServer createMethodHandleArchetypeSpecimen 0x7f55b43b2a70
- In MessageType::VM_createMethodHandleArchetypeSpecimen before lookup 0x7f55b43b2a70, 0xfec00870
- MessageType::runFEMacro_invokeFoldHandle2 0xfec5f090
- MessageType::runFEMacro_invokeFoldHandle 0x7f

[2020-01-07 22:51] harryyu1994 commented on #8109
- IlGeneratorMethodDetails
[code]

[2020-01-07 23:10] a7ehuo commented on #7567
Seeing two types of server crashes when running the following two tests for Java11:
1) `CondyPrimitive_1`
2) `JCL_Test_0`

==========================
1) `CondyPrimitive_1`

`romConstantPoo` is NULL. Wonder if we should implement the server version of all dynamic constant related methods in `TR_ResolvedJ9JITServerMethod` such as `getConstantDynamicTypeFromCP()`, `isConstantDynamic()`, `isUnresolved

[2020-01-07 23:27] pshipton opened #8235 "extended.functional windows testSCCMLTests3_1 crash?"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Nightly/247
testSCCMLTests3_1
`Testing: Test 192: Try to load the cache and make sure classes are being found in the cache`
[code]
No other useful output or diagnostic files found.

[2020-01-07 23:33] smlambert opened #8237 "LogManager initialization: Difference in behaviour between openj9 and hotspot"
We observed a difference in behaviour between openj9 and hotspot when it comes to initializing logging.  Related: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1463

This difference was observed when we tried to run Quarkus tests against both implementations.  Quarkus tests depend on a JBoss implementation of LogManager, some core tests check for it, assertThat(logManager).isInstanceOf(org.

[2020-01-08 04:08] pshipton commented on #8237
@keithc-ca can you please take a look, I think you are somewhat familiar with this code.

[2020-01-08 04:13] pshipton commented on #7694
The fix is merged to master and the 0.18.0 branch, I'll go ahead and close this.

[2020-01-08 04:13] #7694 closed

[2020-01-08 04:26] pshipton commented on #8224
See https://github.com/eclipse/openj9/issues/8221#issuecomment-571717655

[2020-01-08 04:26] #8224 closed

[2020-01-08 04:27] #8221 closed

[2020-01-08 04:27] pshipton commented on #8223
See https://github.com/eclipse/openj9/issues/8221#issuecomment-571717655

[2020-01-08 04:27] #8223 closed

[2020-01-08 04:27] pshipton commented on #8222
See https://github.com/eclipse/openj9/issues/8221#issuecomment-571717655

[2020-01-08 04:27] #8222 closed

[2020-01-08 04:32] pshipton commented on #8208
Can we please see the full crash output. Are any diagnostic files available, javacore, core? If it's crashing in the JVM, it's not a machine issue even if it only crashes on some machines.

[2020-01-08 04:52] pshipton opened #8242 "aix71-p8-10 git Error cloning remote repo"
Disabled the machine.
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64_aix_Nightly/249
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_ppc64_aix_Nightly/252
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly/249
etc

[2020-01-08 04:52] pshipton commented on #8242
@jdekonin

[2020-01-08 05:45] ChengJin01 commented on #8140
[1] The problem still occurs in the grinder at https://ci.adoptopenjdk.net/job/Grinder/1634/console
[code]
[2] With a batch script running the following commands (pretty much the same commands in the failing test) for 100 times, I managed to reproduce the crash locally on Windows (no core dump was generated) but the problem never happens on Linux with a shell script with the same command for 100 t

[2020-01-08 05:49] inatatsu commented on #7694
@andrewcraik Which image tag should I use to try the latest nightly build? I was using `adoptopenjdk/openjdk8-openj9` on s390x and it seems to be not yet updated:
https://hub.docker.com/layers/adoptopenjdk/openjdk8-openj9/latest/images/sha256-c66c260157a5949bed1ea25259d8e0dd2bf338b03f2ddb06d838a24910823a28

[2020-01-08 05:50] testn commented on #7692
Is this related?

https://stackoverflow.com/questions/51601107/nashorn-performance-on-jdk-9-and-jdk-10

[2020-01-08 10:41] srogmann commented on #4005
Regarding this problem I have filed https://issues.apache.org/jira/browse/LOG4J2-2756.

@pshipton Thanks for the list of failures!

[2020-01-08 11:27] M-Davies commented on #8208
@pshipton
[code]

The javacore files mentioned can be found in the full job dump: https://ibm.box.com/s/dpo011yfdd2l3ti9i6r7j3p7cghtb5x0 at TKG/test_output_15784151209894/jdk_custom_0/work/java/lang/invoke

[2020-01-08 12:53] roded commented on #8181
@ashbm5, sorry about that, attached.
[javacore.20191125.011003.1.0002.txt](https://github.com/eclipse/openj9/files/4035328/javacore.20191125.011003.1.0002.txt)

[2020-01-08 13:28] llxia commented on #4719
yes, we can. But when JDK_VERSION is set to Valhalla, only Valhalla tests will run. If we want to run other tests (non-Valhalla tests) and Valhalla tests together in one build, then more work needs to be done. This reason is that the formal support for JDK_VERSION is a real JDK version (i.e., 8, 11, 13, etc).

On the related note, will Valhalla be merged into main steam? If so, what is the timefra

[2020-01-08 13:44] pshipton commented on #897
I believe this is now fixed for all versions.

https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/342
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/212
https://github.com/ibmruntimes/openj9-openjdk-jdk13/pull/32
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/156

[2020-01-08 13:44] #897 closed

[2020-01-08 13:45] pshipton commented on #898
I believe this is now fixed for all versions.

https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/342
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/212
https://github.com/ibmruntimes/openj9-openjdk-jdk13/pull/32
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/156

[2020-01-08 13:45] #898 closed

[2020-01-08 15:34] ashbm5 commented on #8181
@roded if i view that file using vi on linux I'm still not seeing the javacore. Could you copy & paste the content of the file directly to this issue instead of attaching the file. Thanks

[2020-01-08 15:37] roded commented on #8181
Attached is a javacore for what appears to be a second occurrence of the issue (please correct me if I'm wrong and this is an unrelated problem in which case another issue will be opened). We also have a snap, jitdump and core dumps we could share if requested.

[javacore.20200108.100100.1.0002.txt](https://github.com/eclipse/openj9/files/4036028/javacore.20200108.100100.1.0002.txt)

[2020-01-08 15:46] roded commented on #8181
@ashbm5, I'm hitting the maximum comment limit of 64k when pasting it in. Are you experiencing the same issue with the javacore.20200108.100100.1.0002.txt dump I've just posted?

[2020-01-08 15:47] tajila commented on #4719
Its still unclear when this will happen, perhaps within the next year but possibly longer.

[2020-01-08 15:51] pshipton commented on #8181
The attached javacores are readable for me. I'm not sure what "if i view that file using vi on linux I'm still not seeing the javacore" means.

[2020-01-08 15:51] ashbm5 commented on #8181
@roded to confirm, it's the same issue. could you also post the segfault associated with the new javacore?

[2020-01-08 15:53] roded commented on #8181
Here's the segfault associated with the javacore.20200108.100100.1.0002.txt dump:

[code]

[2020-01-08 16:03] ashbm5 commented on #8181
Thanks. Looks like it's the same issue as previously mentioned.

We're working on a potential fix - will let you know once it's available on the nightly build. For now, the command line option `-Djdk.nativeCBC=false` will prevent that crash.

By the way, I noticed

[2020-01-08 16:13] harryyu1994 commented on #8109
Source code for j9jni_createGlobalRef
[code]

[2020-01-08 16:14] pshipton commented on #7579
As we haven't been successful in removing the prereq of libc++, opened a doc issue https://github.com/eclipse/openj9-docs/issues/466

[2020-01-08 16:18] sophia-guo commented on #8237
Probably similar to https://github.com/eclipse/openj9/issues/6266, though it is related with net library.

Original test java/net/NetworkInterface/IPv4Only.java  disable IPv6 by System property 'System.setProperty("java.net.preferIPv4Stack","true");'. Test worked with hotspot and failed with openj9. Test was brittle https://github.com/eclipse/openj9/issues/6266#issuecomment-505531856 and updated w

[2020-01-08 16:35] roded commented on #8181
@ashbm5, should we assume that setting `-Djdk.nativeCBC=false` will incur a performance hit around SSL handshaking?

[2020-01-08 16:48] harryyu1994 commented on #8109
Here's a crash due to a invalid object pointer in `0x7f56043b2ac8`
[code]

[2020-01-08 16:50] ashbm5 commented on #8181
@roded There will be performance degradation for TLS/SSL traffic encrypt/decrypt operation.

[2020-01-08 17:09] DanHeidinga commented on #7623
Moving this out of 0.18 as the change is too large to contain at this point

[2020-01-08 17:10] DanHeidinga commented on #7748
Moving this out of 0.18 as it's too late in the release cycle

[2020-01-08 17:11] DanHeidinga commented on #7839
@ashbm5 @samasri Any update on this?

[2020-01-08 17:14] DanHeidinga commented on #7276
@r30shah @andrewcraik Any update on this?  It was moved back into 0.18 as it was occurring a lot.  We're aiming to have the m2 tags laid down tomorrow morning so a fix would need to be in by tonight

[2020-01-08 17:31] samasri commented on #7839
Hi, I have been working on reproducing the issue, and till now I have the following results:

| JDK Source | OpenJDK Hash | OpenJ9 Hash | OMR Hash | Is Failing? |
| --- | --- | --- | --- | --- |
| AdoptJDK | `2a7af56` | `77c1cf7` | `20db4fb` | Yes |
| Getting Source and building locally | `2a7af56` | `77c1cf7` | `20db4fb` | Yes |
| AdoptJDK | `14d1f89` | `ce7fdb2` | `15f5dcd` | Yes |
| Getting Sou

[2020-01-08 17:34] r30shah commented on #7276
My suspicion was some kind of data race on the table that allows this discrepancy so I looked at assembly sequence for `tryLock` and `unlock` of table from the core-dump from https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/668 .
I do not see any data violations there and looking into code to add new value to table (https://github.com/eclipse/openj9/blob/76e1948

[2020-01-08 17:36] pshipton commented on #7839
I'll move it out of the 0.18 milestone plan while the investigation continues since there is no fix yet.

[2020-01-08 17:38] pshipton commented on #7579
Moving the next milestone as I still think we should investigate the relative library paths.

[2020-01-08 18:27] srogmann commented on #4005
The `reachabilityFence` needs at least JRE 9.

@DanHeidinga Did you mean that _unused_ locals are aggressively marked as not-an-object? I would expect that the created WeakReference of `ctxJustCreated` in the following example isn't collected.

[code]

[2020-01-08 18:47] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/663
DaaLoadTest_daa1_special_22

[2020-01-08 19:03] harryyu1994 commented on #8109
The other crash: `java/lang/invoke/FoldNonvoidHandle` that i was originally chasing:

[code]

[2020-01-08 19:34] #7870 closed

[2020-01-08 19:38] #7800 closed

[2020-01-08 20:24] mikezhang1234567890 opened #8250 "getConstantPool jvmti tests need updates"
The current tests we have for the getConstantPool JVMTI method are outdated, and in https://github.com/eclipse/openj9/blob/master/runtime/tests/jvmtitests/src/com/ibm/jvmti/tests/getConstantPool/gcp001.c the code is all ifdef'd out.

The tests need to be updated to work with the current test framework since there are now use cases that exercise the JVMTI api such as https://github.com/eclipse/open

[2020-01-08 20:27] harryyu1994 commented on #8109
Another thing that confuses me is this:
[code]
It doesn't matter if it's queued or not, startPC is always 0..

[2020-01-08 20:45] #7591 closed

[2020-01-08 20:59] DanHeidinga commented on #4005
In the original example, the `created WeakReference of ctxJustCreated` wasn't collected but the `ctxJustCreated` could be collected as the WeakReference was the only reference to it.

In the new code, the interpreter won't be able to collect `ctxJustCreated` as it is used further on in the program as an object - the `ctxJustCreated.getClass()` call.  I'd be surprised if the JIT reorderd the code e

[2020-01-08 21:01] #8194 closed

[2020-01-08 21:36] harryyu1994 commented on #8109
Another different behavior but much easier to explain:
- `0xfe803440` the valid object pointer at `0x7fd3603b2cd8`
[code]

[2020-01-08 21:55] pshipton opened #8252 "Make use of openj9-jenkins repo to reduce the load on master"
Jenkins jobs start by running on master, and do a git clone of the openj9 repo in order to get the jenkins code required before they start running on a worker and then a Node. Although we may be using a reference repo, there are a couple of problems.
- the reference repo is on master which is under Eclipse Foundation control, updating it is problematic
- even with a reference repo, the workload ca

[2020-01-08 21:55] pshipton commented on #8252
@jdekonin @AdamBrousseau

[2020-01-08 22:08] harryyu1994 commented on #8109
[code]
^ both directly dereferenced `*thunkDetails->getHandleRef()` on JITServer.

[2020-01-08 23:28] harryyu1994 commented on #8109
JITClient
[code]

JITServer
[code]

[2020-01-09 01:28] pshipton commented on #6475
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_xl_Release/6

[2020-01-09 06:18] inatatsu commented on #7694
The target application had successfully run by using the updated libj9jit29.so 🎉 Thank you very much everyone!

[2020-01-09 09:48] adam-thorpe opened #8255 "JTReg Test Failure: java/lang/Class/getMethods/StarInheritance.java"
Failure link
------------
Link to job: https://ci.adoptopenjdk.net/user/adam-thorpe/my-views/view/Nightly%20test%20openjdk%20openJ9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac/115/
JDK: 8 only
Platforms: all
JVM: openj9 only

Optional info
-------------
- intermittent failure (yes|no): no
- regression or new test: new failing test (as in its an old test but just started failing)

Failure output

[2020-01-09 11:58] planetf1 commented on #7684
Is there any news on this. I continue to get these exceptions - today was on windows.

[2020-01-09 13:03] pshipton opened #8257 "plinux protobuf undefined symbol: _ZNK6google8protobuf7Message11GetTypeNameB5cxx11Ev"
`libj9jit29.so: undefined symbol: _ZNK6google8protobuf7Message11GetTypeNameB5cxx11Ev`

The JVM was built on ub16-ppcle-1

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_ppc64le_linux_Nightly/258
ub16p8j96

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_Nightly/254/
ub16p8j91

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional

[2020-01-09 13:10] pshipton commented on #8257
The system testing in the PR passed on ub16p8j92 and ub16p8j94
sanity.functional passed on ub16p8j96 and extended.functional on ub16-ppcle-2
The JVM was built on ub16p8j96

I suspect the problem is related to the machine where the JVM was built.

@mpirvu I expect we should disable JITServer on plinux until this is sorted out.

[2020-01-09 13:22] pshipton commented on #8257
Reverted via https://github.com/eclipse/openj9/pull/8258

[2020-01-09 13:46] M-Davies commented on #8194
Thank you both 😄

[2020-01-09 13:57] mpirvu commented on #8257
A couple of days ago we determined that this kind of a problem is due to the presence of an older protobuf package on the machine when we try try to install version 3.7.1. The solution is to uninstall the older version before installing the new one.

I am ok with temporarily reverting the change though.

[2020-01-09 14:08] pshipton commented on #8257
@jdekonin this should be fixed with priority as it's blocking enabling JIT server on plinux. All the machines should be checked.

[2020-01-09 14:16] pshipton commented on #8255
That is what "regression" means. @adam-thorpe Do you have the -version information for the last passing run? I version from the failing test link is as follows.

[code]

@DanHeidinga fyi

[2020-01-09 14:17] pshipton commented on #8255
Tentatively assigned to the 0.18 milestone until we determine if the regression affects this release.

[2020-01-09 14:24] adam-thorpe commented on #8255
Last passing build was:
[code]

[2020-01-09 14:24] DanHeidinga commented on #8255
@theresa-m Can you take a look at this?

[2020-01-09 14:39] theresa-m commented on #8255
Yes looking into it.

[2020-01-09 15:22] DanHeidinga commented on #7684
We've been focused on shipping the 0.18 release and haven't gotten to the bottom of this yet.  It's targeted for 0.19 so expect progress as we ramp on that release

[2020-01-09 15:22] DanHeidinga commented on #7684
@ChengJin01 Can you take a look at this after the 0.18 issue you're looking at is dealt with?

[2020-01-09 15:47] AdamBrousseau commented on #7890
I am still seeing this internally however it doesn't seem to be 100% reproducible now.
Looking at last night's win64 jdk8 build at the end of the compile `java -version` looks fine. However 9 out of 11 test targets fail with the same crash error.  Some fail immediately at the start of the ant compile task and some midway through the same compile task.
[code]
[code]

[2020-01-09 16:03] ChengJin01 commented on #7684
Will investigate later after we address the issue at #8140.

[2020-01-09 16:05] planetf1 commented on #7684
Thanks for the update. I'm surprised no-one else has found yet - perhaps we just do more rat checks than some.

Will have to stick to hotspot for now (I try and run j9 much of the time as I want to flush out the issues, but can't recommend).

Happy to try out a nightly to stick with if fairly stable & might address issue.

[2020-01-09 16:23] pshipton commented on #7890
@AdamBrousseau can you please provide the full output for the error. I assume the assertion is gone from the message now. That seems to be what #8227 changed.

[2020-01-09 16:23] pshipton commented on #7890
@dsouzai fyi I've reopened this.

[2020-01-09 16:34] arxioly commented on #6522
Hello! We have exactly the same error, on the same version of AdoptOpenJDK (build 1.8.0_222-b10), during integration tests execution on Jenkins. In our case, the error is floating, but occurs pretty often. One maybe not so much important note, that the application itself working on another environment with IBM Java (build 8.0.5.25).

[2020-01-09 16:38] dsouzai commented on #7890
yeah a good idea, the "fix" wasn't really a fix after all...

The check was doing
[code]
but `csInfoClazz` isn't a pointer, it's an offset, so this check is useless... _**sigh**_

[2020-01-09 17:22] theresa-m commented on #8255
@DanHeidinga https://github.com/eclipse/openj9/pull/7788 and https://github.com/eclipse/openj9/pull/8134 should be reverted.

I misdiagnosed the `Class.getMethods` test failure from https://github.com/eclipse/openj9/issues/7623

The real problem with the https://github.com/eclipse/openj9/issues/7623 getMethods failure is that not all methods in the getMethods list are being looked at for replaceme

[2020-01-09 17:31] fjeremic commented on #7474
Let's leave this open to track other platforms as well. @joransiu has mentioned that it should be possible to implement these two methods on Z using the `MAEBR` and `MADBR` instructions. We need to verify this and implement the corresponding evaluator on Z.

Also thanks for writing the tests! These will definitely become useful to validate the Z implementation.

[2020-01-09 17:31] DanHeidinga commented on #8255
@theresa-m How risky would the real fix be at this point?  Is there a minimal change to the #7788 fix that could be applied to 0.18?

[2020-01-09 17:46] theresa-m commented on #8255
I think it can be left out of 0.18.
Adding additional risk to the release seems unnecessary to me at this point given that
- the described fix will not resolve https://github.com/eclipse/openj9/issues/7623 on its own (mine and Cheng's changes from https://github.com/eclipse/openj9/pull/8230 which is not going into 0.18 is also needed)
- this getMethods edge case caught by https://github.com/eclips

[2020-01-09 18:13] DanHeidinga commented on #8255
Thanks @theresa-m I've reverted the change from both master and 0.18 now

[2020-01-09 18:13] DanHeidinga commented on #8255
fyi @pshipton for awareness in the release process

[2020-01-09 19:30] dmitripivkine commented on #3475
From code maintenance point of view I would appreciate this change. However there are a few problem we should maintain:
 - Should we add and support compatibility mode for non-OpenJ9 Java 8 builds need to keep old behaviour ?
 - Do clear notice for OpenJ9 Java 8 about possible side effects related to change if JVM is not configured properly -Xmx from 512m to 25% RAM size - possibly increased footp

[2020-01-09 20:16] jdekonin commented on #8257
I've reinstalled protobuf on all the machines this past monday as @dchopra001 pointed out when there was a problem with #8145.

I have this output on the machine ub16p8j91 -> ub16p8j96, so I believe these are setup correctly.

[code]

ub16-ppcle-1 -> 3 aren't listing libprotobuf in the ldconfig output though, looking at why it didn't work the first time.

[2020-01-09 21:30] pshipton commented on #8255
I assume this can be closed since the problematic change has been reverted.

[2020-01-09 21:30] #8255 closed

[2020-01-09 21:35] gita-omr commented on #4930
I think what is happening is that @AlenBadel keeps creating PRs and all the discussion happens in those PRs. Sometimes those discussions lead to a complete redesign.
Instead, I would like to treat https://github.com/eclipse/openj9/issues/4930#issuecomment-527623042 as a design document (the table) and finalize it first. @dmitripivkine @zl-wang @joransiu @DanHeidinga could you please review the tab

[2020-01-09 22:31] andrewcraik commented on #6933
@DanHeidinga this seems to be one you were looking at / having someone how works on the VM take a look at - do you know what the status is given this is tagged for 0.18? Do you need anything else from the JIT side?

[2020-01-09 22:45] Zilacon opened #8266 "Latest version unusable for MC servers."
Hello, ive recently updated to the Jan 7th version which ran fine/fast but threw JVM9 errors on the console. I updated today in hopes that was fixed, and while the JVM errors were fixed and the plugins that were crashing no longer have problems...

The load times practically shot through the roof. A server that took 1m 40s to load on the Jan 7th version now takes 26m 10s on the Jan 9th version.

I

[2020-01-09 23:57] mstoodle commented on #8266
Hi @zilacon, sorry to hear about your experience.

To get us started, would you be able to send us the specific version information for before and after the problem? i.e. run `java -version` on the two builds you tried and paste the output into this issue?

[2020-01-10 00:23] Zilacon commented on #8266
I just extract the tar into a folder and run it from there.
The build that gives JVM errors is: OpenJDK8U-jre_x64_linux_openj9_2020-01-07-17-06.tar.gz
The build that doesnt have the errors but has terrible start speed is: OpenJDK8U-jre_x64_linux_openj9_2020-01-09-14-19.tar.gz

Errors i got on the 7th version are:
[code]

[code]

Both of these errors are not present in the current version, so im gu

[2020-01-10 03:20] pshipton commented on #8266
These builds correspond to

openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-202001051023-b05)
Eclipse OpenJ9 VM (build master-22f699eba, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20200105_489 (JIT enabled, AOT enabled)
OpenJ9   - 22f699eba
OMR      - ce7fdb230
JCL      - fbdf154d based on jdk8u242-b05)

openjdk version "1.8.0_242"
OpenJDK Runtime Environment (buil

[2020-01-10 03:24] pshipton commented on #8266
@Zilacon could you please give https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u242-b06_openj9-0.18.0-m2/OpenJDK8U-jdk_x64_linux_openj9_8u242b06_openj9-0.18.0-m2.tar.gz a try. This is our Milestone 2 build for the upcoming January release.

[2020-01-10 03:48] Zilacon commented on #8266
Same problem, no errors but the load time is insane.

[2020-01-10 03:57] pshipton commented on #8266
@DanHeidinga fyi

[2020-01-10 04:01] pshipton commented on #6522
@arxioly can you please try a newer OpenJ9 release. The reported problem is with the 0.15 release, but the 0.17 release is available. There is also a 0.18 release coming next week, the Milestone 2 build for this release is https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u242-b06_openj9-0.18.0-m2/OpenJDK8U-jdk_x64_linux_openj9_8u242b06_openj9-0.18.0-m2.tar.gz

IBM 8.0.5.25 r

[2020-01-10 04:06] Zilacon commented on #8266
Yeah i relaunched 5 times to make sure. The 7th version loads fast (1m 40s) i downloaded the october version listed on the release page and that loads in 1m10s. But the current version takes 8m-20m (depends on the server size in mods).

It seems to freeze up on every mod/plugin it loads up. It goes to load it then just pauses for 10-30s and then goes to the next thing and repeats.

Im sorry i cant

[2020-01-10 04:17] pshipton commented on #8266
There are some additional builds between 2020-01-07-17-06 and 2020-01-09-14-19. Can you please try these so we can narrow down the change list.
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2020-01-09-03-36/OpenJDK8U-jdk_x64_linux_openj9_2020-01-09-03-36.tar.gz
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2020-01-09-14-19/OpenJDK8U-jdk_x64_l

[2020-01-10 04:19] BeverlyXu commented on #7692
We looked further into the classes itself. Our original thought was to swap the nashorn classes b/w java8 and java11, i.e. patching the java11 jdk with java8 nashorn.jar file at runtime, but the module system prevented us from doing so. This is because in java11, the nashorn classes has dependencies on other classes. Here are a few example of such dependency from the module graph
[code]

So while

[2020-01-10 04:24] pshipton commented on #8266
09-03-36
openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-202001081501-b05)
Eclipse OpenJ9 VM (build master-a025fcd7e, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20200108_491 (JIT enabled, AOT enabled)
OpenJ9   - a025fcd7e
OMR      - 4d5712b26
JCL      - fb0665a9 based on jdk8u242-b05)

09-14-19
openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_24

[2020-01-10 04:26] pshipton commented on #8266
Sorry, one of those is the same one you already tried, so just 09-03-36.

[2020-01-10 04:31] Zilacon commented on #8266
09-03-36 took 1m 32s to start.

[2020-01-10 04:43] pshipton commented on #8266
Changes:
a025fcd...9771d87
ibmruntimes/openj9-openjdk-jdk8@fb0665a9...a9857e6

[2020-01-10 05:19] ChengJin01 commented on #8140
The backtraces from the crash on the compiled build are as follows: (it crashed at the same place on both the normal build and the debug build):
[code]
against the code in `SH_OSCache::commonCleanup()` at `oscache.cpp:504`
[code]
So the result indicates that the crash occurred when releasing all the memories allocated previously at the shutdown of SCC. Given it is unlikely that the crash happened

[2020-01-10 06:37] pshipton commented on #8266
Since the problem also occurs in the 0.18 branch, it seems like one of
- Fix JVMTI getConstantPool and getBytecodes output
- Move synchronized to native method CLassLoader.loadLibraryWithPath
- Add launcher for JITServer

I've created a 0.18 build without the first two changes https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-0.18.0-Build8/7
https://140-211-168-230-openstack.osuosl

[2020-01-10 07:09] pshipton commented on #8140
_cacheUniqueID is most likely, as this is the new code.

[2020-01-10 08:50] andrew-m-leonard opened #8267 "jdk8 --enable-jitserver fails to build at AdoptOpenJDK"
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9/494/

[2020-01-10 10:31] M-Davies opened #8268 "JTReg Test Failure: java/lang/invoke/RevealDirectTest.java"
`java/lang/invoke/RevealDirectTest.java` consistently fails for JDK11/13-openj9 (hotspot unaffected). Original Issue: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1344
- Category, openjdk
- OS's, all
- Part of the Excluded jdk11 openj9 JTReg tests: https://github.com/AdoptOpenJDK/openjdk-tests/issues/585
- JDK8-openj9 is passing

**JDK11**
[code]
[code]
**JDK13**
[code]
[code]

[2020-01-10 11:28] archanaNogriya opened #8269 "JDK 13 : sanity.perf jobs failing in all platforms"
Failure link : https://ci.adoptopenjdk.net/job/Test_openjdk13_j9_sanity.perf_ppc64le_linux/4/console
------------

Public link to the failing test
and ideally extracting relevant info from the failed run (just enough info to [run a Grinder](https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins)), include:
- test category, in Grinder equates to BUILD_LIST (functio

[2020-01-10 11:38] sxa555 commented on #8267
For reference error is as follows, and is likely due to the version of protobuf on the machine having been compiled some time ago without the PIC options. https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9/496 should run with a modified protobuf installation
[code]

[2020-01-10 11:42] archanaNogriya opened #8270 "Test_openjdk8_j9_special.functional_x86-64_linux : Malformed target-specific variable definition."
Failure link : https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_special.functional_x86-64_linux/123/console
------------

Public link to the failing test
and ideally extracting relevant info from the failed run (just enough info to [run a Grinder](https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins)), include:
- test category, in Grinder equates to BUILD_LIST (

[2020-01-10 11:55] M-Davies commented on #8268
The JDK8 test is different at [LN313](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/a9857e68ed5d80cf61d25f50dd5cfa28dce62d1a/jdk/test/java/lang/invoke/RevealDirectTest.java#L313) and [LN324](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/a9857e68ed5d80cf61d25f50dd5cfa28dce62d1a/jdk/test/java/lang/invoke/RevealDirectTest.java#L324).

I tried including these diffs in the JDK11 and

[2020-01-10 11:58] archanaNogriya opened #8271 "Test_openjdk8_j9_special.openjdk_x86-64_mac : jdk_math_jre failure"
Failure link : https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_special.openjdk_x86-64_mac/34/console
------------

Public link to the failing test
and ideally extracting relevant info from the failed run (just enough info to [run a Grinder](https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins)), include:
- test category, in Grinder equates to BUILD_LIST (functi

[2020-01-10 12:41] Zilacon commented on #8266
050435  (2m 43s)
053730  (9m 38s)
Hmm, ill just use the 09-03-36 one for now cause that continuously starts in 1m 20-40s

[2020-01-10 13:58] pshipton opened #8272 "UnknownHostException: ub16x64j910"
Maybe just a temporary DNS hiccup, as it only occurred in one test, and no IP address is mentioned.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/249
ub16x64j910
MauveSingleThreadLoadTest_OpenJ9_0
[code]

[2020-01-10 13:58] pshipton commented on #8272
@jdekonin sti

[2020-01-10 14:00] mstoodle commented on #8267
@mpirvu can you please help @andrew-m-leonard / @sxa555 with the appropriate set up required?

[2020-01-10 14:00] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/710
DaaLoadTest_daa2_special_17

[2020-01-10 14:06] archanaNogriya opened #8273 "JDK11 : Multiple test failing under sanity.system."
Failure link : https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_aarch64_linux_xl/27/console
------------

Public link to the failing test
and ideally extracting relevant info from the failed run (just enough info to [run a Grinder](https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins)), include:
- test category, in Grinder equates to BUILD_LIST (f

[2020-01-10 14:11] pshipton commented on #8273
aarch64 is not yet a supported it platform, it should not be built as part of the 0.18 release, or any builds triaged yet. It's not expect to be ready for release until June.

[2020-01-10 14:11] #8273 closed

[2020-01-10 14:12] DanHeidinga commented on #8266
@pshipton Do the two builds you created on the 0.18 branch include https://github.com/eclipse/openj9/pull/7788 ?  It's the Class#getMethods change that was backed out...

[2020-01-10 14:14] pshipton commented on #8271
@smlambert @llxia can you please help with this.

[2020-01-10 14:17] pshipton commented on #8270
@smlambert @llxia can you please help with this.

[2020-01-10 14:17] archanaNogriya commented on #8273
Thanks Peter, I should have noticed that. I will close this.

[2020-01-10 14:18] pshipton commented on #8269
@smlambert @llxia can you please help with this.

[2020-01-10 14:27] archanaNogriya commented on #8270
I am closing this issue, as the issue has been moved to https://github.com/AdoptOpenJDK/openjdk-tests/issues/1540

[2020-01-10 14:27] #8270 closed

[2020-01-10 14:27] pshipton commented on #8266
My intention was not to include #7788 by rebuilding from the v0.18.0-release branch, but after double checking it seems I messed it up. I've started a new build from the latest release content.
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-0.18.0-Build8/11/

[2020-01-10 14:28] pshipton commented on #8266
@Zilacon if Dan is correct, pls try this latest Adopt build, which should have the problem resolved.

https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2020-01-10-12-29/OpenJDK8U-jdk_x64_linux_openj9_2020-01-10-12-29.tar.gz

[2020-01-10 14:35] archanaNogriya commented on #8269
Moving this issue to https://github.com/AdoptOpenJDK/openjdk-tests/issues/1541.

[2020-01-10 14:35] #8269 closed

[2020-01-10 14:46] llxia commented on #8271
dup of https://github.com/AdoptOpenJDK/openjdk-tests/issues/1525

[2020-01-10 14:48] #8271 closed

[2020-01-10 14:48] Zilacon commented on #8266
2m 53s
1m 42s after cache file remade
So... Fixed?
Appreciate the help as always :)

[2020-01-10 15:11] mpirvu commented on #8267
If an older/incompatible version of protobufs exists on the machine, it needs to be uninstalled first.

[2020-01-10 15:19] mpirvu commented on #8267
I am sure this is known, but I'll post it anyway; to compile and install protobufs on a machine the following instructions an be used
[code]

[2020-01-10 15:21] mpirvu commented on #8267
@jdekonin

[2020-01-10 15:29] sxa555 commented on #8267
Now fixed. If someone can assign this to me and close that would be appreciated :-)

e.g. https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9-linuxXL/455/console

[2020-01-10 15:30] DanHeidinga commented on #8267
Thanks @sxa555!

[2020-01-10 15:30] #8267 closed

[2020-01-10 17:07] VermaSh opened #8274 "Re-enable VSTRS support in inlineVectorizedStringIndexOf"
Original issue for context: https://github.com/eclipse/openj9/issues/8159
PR disabling the implementation for context: https://github.com/eclipse/openj9/pull/8226

[2020-01-10 17:24] harryyu1994 commented on #8109
- each time when we do `compileMethodHandleThunk()`, we create a "global reference" using `j9jni_createGlobalRef()`. I'm assuming what it's trying to do is simply storing the methodHandle object pointer inside the address location returned by `j9jni_createGlobalRef()`. However, during my debugging of this issue, I've noticed that the content of the global reference has been constantly changing dur

[2020-01-10 18:05] liqunl commented on #8109
It is not supposed to change during a compilation. What did you print out? Could you share the code that does the printing?

[2020-01-10 19:02] smlambert commented on #8268
excluded via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1542

[2020-01-10 19:09] #8159 closed

[2020-01-10 19:10] harryyu1994 commented on #8109
@liqunl
This issue only happens for JITServer and it's an intermittent bug.

As this is most likely not an issue with any of your implementations and mostly JITServer related things, it may be a little difficult to explain and give you the whole picture but I'll try my best. The output above was my own debugging messages, I can provide you with my repo later if you need it. Hopefully I can explain

[2020-01-10 19:10] dmitripivkine commented on #4930
I believe we do agree on behaviour for options to be added. However there is problem with implementation and it is why I am telling pre-design cleanup required. And for problematic ZOS case your suggestion would not help. Description is It not specific enough.

So, again, for ZOS 64 bit for object heap:

page size/type might be discovered (it is not hardcoded but typical):
- `4k fixed`
- `1m fixed

[2020-01-10 19:13] harryyu1994 commented on #8109
I'm trying to minimize the information you need to know to be able to answer the question but it's pretty difficult to do LOL. Do you think it has something to do with the compileMethodHandleThunk request being queued instead of compiling synchronously?

In case you need to know where these debugging messages happens, you can grep them in my repo here: https://github.com/harryyu1994/openj9/tree/de

[2020-01-10 19:15] harryyu1994 commented on #8109
and i'll continue to investigate and hopefully I can come up with better questions for you to answer...

[2020-01-10 19:22] ChengJin01 commented on #8140
I tried two piece of code in `SH_OSCache::getCacheUniqueID()` as follows:
(1) added `memset `to initialize the whole memory hold by _cacheUniqueID after allocation:
[code]
(2) only initialized the end of the buffer (already calculated by `j9str_printf()` in `generateCacheUniqueID ` invoked at the first time) with `\0` (the actual used size = the required buffer size - 1):
[code]
However, both of t

[2020-01-10 19:37] AlenBadel commented on #4930
To be particular a question that needs to be addressed is whether to prefer pageable or fixed large pages on Z/OS. @joransiu Mentioned that pageable would be preferred, however wouldn't fixed large pages be more performance advantageous? Would we be creating a performance degradation switching the default behaviour for `-Xlp`, and `-Xlp<size>.

[2020-01-10 19:39] pshipton commented on #8159
Confirming the problem is resolved by disabling z14 machines, enabling z15 machines, and started a build Running testing on z15 here https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/142/

[2020-01-10 19:56] DanHeidinga commented on #8109
The value in the globalreference will change anytime a GC occurs on the client.  Does the JITServer do something to get vmaccess on the client before attempting to read the globalreference's value?

[2020-01-10 20:08] liqunl commented on #8109
Sorry my answer is wrong. Yes, it may change during GC, and GC can occur during a compilation. We need to acquire vmaccess to read the globalreference's content.

[2020-01-10 20:10] pshipton commented on #8019
This is a low reproduction rate (only reported once so far), and it's getting to be to late to make any more fixes in the 0.18 release, moving it out.

[2020-01-10 20:11] DanHeidinga commented on #8140
The `free` call isn't checking whether the buffer is correctly null terminated.  Can you look at what we're accessing at the point of the crash in the debugger?

Does the value of `_cacheUniqueID` make sense at the time of the crash?  What about `_cacheDirName`?

[2020-01-10 20:12] AlenBadel commented on #4930
We also need to address what the exact behaviour of `-XX:+UseLargePages` is on HotSpot. My only concern is if there is an upper limit to what large pages are utilized.

Using Z/OS as an example, if we have 4k/1M/2G large files configured will `-XX:+UseLargePages` on Hotspot use 2G large files? Will it be limited by the heap size if specified by the user? The lack of clarification on the upper boun

[2020-01-10 20:13] pshipton commented on #8208
As nobody has started looking at this yet and getting to be too late to make any more fixes for the 0.18 release, moving this out.

[2020-01-10 20:14] pshipton commented on #6933
The investigation on this hasn't completed and it's getting to be too late to add more fixes, moving out to the next release.

[2020-01-10 20:16] JasonFengJ9 opened #8276 "Evaluate OpenJ9 Java 14 JEP 343 : Packaging Tool"
Following tasks to investigate OpenJ9 JEP 343 [1] status:

- [X] Verify that `jpackage` launcher is created, `--help` runs and shows similar output as `RI` (since there is no `OpenJ9` specific modification to this utility)
- [X] Verify `jpackage` basic usage on non-modular applications
- [X] Verify `jpackage` basic usage on modular applications
- [X] Test `jpackage` with package metadata
- [X] Tes

[2020-01-10 20:34] harryyu1994 commented on #8109
On the client, before we read the globalreference's value we do acquire vmaccess.
However, for `case TR::java_lang_invoke_ILGenMacros_invokeExactAndFixup` I did notice that JITServer has split it into two remote messages:
In regular JIT, we acquire vmaccess and then do what we need to do
For JITServer, we send a first remote message to client to read the globalreference's value, then after some op

[2020-01-10 20:37] DanHeidinga commented on #3475
@mstoodle had a great suggestion for this:

This sounds like the right approach to me though I'm in favour of something long and explicit like `-XX:[+-]OriginalJDK8HeapSizeCompatibilityMode` for the option name as it's clear what it does and is explicitly for one purpose.

[2020-01-10 20:38] harryyu1994 commented on #8109
When GC happens, is the globalreference's value changed through `deleteMethodHandleRef()`?  I did not see this routine being called before the value changed.
[code]
Are there any other places that change the globalreference besides this one?

[2020-01-10 20:38] pshipton commented on #8065
yes

no, the conditions are ORed so sparcv9 is just one possibility

[2020-01-10 20:43] pshipton commented on #8086
@Mesbah-Alam can you please take a look at this one, it seems something has changed in Java 14. We'll need it fixed or excluded in order to pass system.sanity on Java 14.

[2020-01-10 20:45] pshipton commented on #8085
@Mesbah-Alam can you please take a look, we'll need to fix this in order to pass extended.system testing on Java 14.

[2020-01-10 20:48] pshipton commented on #8088
@Mesbah-Alam can you pls take a look. The java.security.acl package is removed from Java 14. This needs to be fixed in order to pass sanity.system tests on Java 14.

[2020-01-10 20:49] harryyu1994 commented on #8109
JITServer has this logic on the client to detect when GC happens, maybe there's something wrong here:
[code]

[2020-01-10 20:51] DanHeidinga commented on #8109
A GlobalReference is a pointer to an object that the GC knows about.  Anytime a GC occurs, the GlobalReference may be updated to point to the new location of the object.

I think the JIT can also change the value if the MutableCallSite#setTarget() method is called.  Would need to dig more to find it.

How can you walk the heap objects of the client from the server?  You would need the server to ge

[2020-01-10 20:57] liqunl commented on #8109
The client has to hold the vmaccess when the server walk the reference chain to prevent the object from being moved on the client side.

[2020-01-10 21:04] harryyu1994 commented on #8109
- inside the routine `walkReferenceChain()` we have this:
- `result = fej9->getReferenceFieldAt(walkReferenceChain(node->getFirstChild(), receiver), fieldOffset);`
[code]
- ^for JITServer, this is another remote call to the client.
- i think for the current implementation, during the walk we do a bunch remote calls, we do always acquire the vmaccess, but we always release the vmaccess after each r

[2020-01-10 21:10] keithc-ca commented on #8237
@smlambert
* Can you identify the OpenJ9 build version you were using when you noticed this?
* Can you share a link to a (hopefully small) test log that shows which test I might run to understand this?

[2020-01-10 21:10] pshipton commented on #8159
As the previous build is running on z15 (and looks like it's going to pass), I've re-enabled z14. We can run with both z14 and z15 over the weekend and next week until we have to return the z14.

[2020-01-10 21:11] pshipton commented on #8159
Previous build passed on z15 machines.

[2020-01-10 21:16] harryyu1994 commented on #8109
Actually I just noticed `getReferenceFieldAt` did not acquire vmaccess. This could be one of the issues.

[2020-01-10 21:39] liqunl commented on #8109
`walkReferenceChain` just walks through the indirect load chain using `getReferenceFieldAt`. The load chain is usually very short. Thus `walkReferenceChain` is a very cheap operation, any reason why it has to live on the server side?

The regular JIT tries to minimize the life span of a vmaccess by putting it into a local scope with only code that needs it, so it is supposed to perform better than

[2020-01-10 21:40] ChengJin01 commented on #8140
Yes unless the pointer is invalid when releasing the memory but these pointers look fine according to the values in windbg in normal case:
![image](https://user-images.githubusercontent.com/18036229/72188253-da2b4a00-33c7-11ea-8a29-34e9bd54caf7.png)

It is might be difficult to reproduce the crash in windbg as it occurs at very low frequency ( approx 1 out of 100).

[2020-01-10 21:44] harryyu1994 commented on #8109
`uintptrj_t TR_J9ByteCodeIlGenerator::walkReferenceChain(TR::Node *node, uintptrj_t receiver)`
I think the `TR::Node` object used in this function is generated on the Server.

[2020-01-10 22:21] harryyu1994 commented on #8109
After adding acquire vmaccess to VM_getReferenceFieldAt, good news is that it looks like it's a different bug now. Now the object pointer is not bogus, now it's `walkReferenceChain()` that returned a bogus pointer.

[code]

[code]

[2020-01-10 22:44] pshipton commented on #8266
I'd like to keep this open to confirm the 0.18.0 release is good. Although I built something manually, there is an automated build scheduled for Saturday which I'll ask if it's good once the build is available.

[2020-01-10 23:17] harryyu1994 commented on #8109
Okay I think I misread and misunderstood something earlier. So if globalreference's value just magically changed, it doens't necessarily mean the new value is bad, it's just that the GC has moved the object to a new location, and new object pointer is still valid? A new question, if GC moved the objects that globalreference pointed to to somewhere else, can the compilation still continue or do we

[2020-01-10 23:24] harryyu1994 commented on #8109
Then this means since we don't have client's vmaccess when doing `walkReferenceChain()` at the server, at any point of the walk if the globalreference value changed by GC, the "receiver" object pointer used on the server becomes an outdated value.

[code]

[2020-01-10 23:30] harryyu1994 commented on #8109
A fix may be to make the multiple remote messages into one so that client can have the vmaccess for the entire operation.

[2020-01-10 23:45] keithc-ca commented on #8237
Using
[code]
we see that the initializer of `LogManager` due to a call to `java/lang/reflect/Field.get`:
[code]

That call is in the constructor `LoggingMXBeanImpl(Module logging)`:

[code]
I expect that deferring the call to `get(null)` until the field value is needed will fix this.

[2020-01-11 00:37] ChengJin01 commented on #8140
When tracing down the code (against the backtrace above) in windbg, the following code seems incorrect in logic as follows:
[code]
My understanding is that the idea here is to go through all the linked list led by `_ccHead ` and release all allocated memory in the element (eventually invokes `SH_OSCache::commonCleanup()`) and release the memory held by each element `theCC ` except `_ccHead ` (the

[2020-01-11 06:34] ChengJin01 commented on #8140
Verified the changes above with the previous batch script on Windows for 300 times and no crash was detected. Will double-check the failing test suite on the Grinder to see how it goes.

[2020-01-11 14:59] pshipton opened #8279 "aix71-p8-6 came online and failed to run jobs"
Whatever was keeping aix71-p8-6 offline stopped working. It came online, many jobs tried to run on it and failed. I believe that is expected as it's not setup to run jenkins jobs. I've disabled it again, but whenever jenkins restarts it's going to come online again.

[2020-01-11 14:59] pshipton commented on #8279
@jdekonin

[2020-01-11 15:07] pshipton commented on #8266
@Zilacon could you pls try the following build. This is an OpenJ9 test build with the 0.18.0 pre-release content. If this works I will close this issue.
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_x86-64_linux_Release/26/OpenJ9-JDK8-x86-64_linux-20200111-133526.tar.gz

[2020-01-11 15:16] pshipton commented on #8140
nextCC should be declared inside the while loop (it can be declared when it's first used), but otherwise looks good.

[2020-01-11 16:18] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_mac_Nightly/143
TestIBMJlmRemoteMemoryAuth_0
3.LT1.stderr
[code]

[2020-01-11 20:59] Zilacon commented on #8266
That build you sent just now loads faster then all the other builds (1m 02s) :D

1.8.0_242-201912020430-b01 launches the YogscastComplete pack with no issues (Specicially it seems its causing problems with the Thaumcraft mod) All latest versions do not work. Even the one you just sent me.

I didnt find this out until now as like i said im setting up a new server and testing each server 1 by 1 and

[2020-01-12 15:31] JasonFengJ9 opened #8280 "jenkins - NullPointerException: Cannot invoke method containsKey() on null object"
Failure link
------------

https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_Personal/622/console
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Personal/541/console
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64le_linux_Personal/632/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-12 15:36] JasonFengJ9 opened #8281 "jenkins - Cannot contact aix71-p8-9: java.lang.InterruptedException"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_ppc64_aix_Nightly/75/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-12 15:39] AdamBrousseau commented on #8280
@pshipton 's `specialsystem` branch needs [this change](https://github.com/eclipse/openj9/commit/dd4fae228ce62d87f1e48ed062b4e3dce1f8964d#diff-a3fca431c8c372cebd1caff040ca6eab) applied to the defaults.yml variable file.

[2020-01-12 15:40] JasonFengJ9 opened #8282 "jenkins - Body did not finish within grace period; terminating with extreme prejudice"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Release/23/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-12 15:46] JasonFengJ9 opened #8283 "openjdk11_j9_extended cmdLineTester_vmRuntimeState_0 ERROR: Expected J9HOOK_VM_RUNTIME_STATE_CHANGED to be triggered"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_xl_Release/7/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-12 15:49] JasonFengJ9 opened #8284 "jenkins - ChannelClosedException: Channel "unknown": Remote call on aix71-p8-5 failed. The channel is closing down or has closed down"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Release/24/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-12 15:54] JasonFengJ9 commented on #7397
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_mac_Nightly/143/tapResults/

[code]
Similar with https://github.com/eclipse/openj9/issues/7397#issuecomment-549149904

[2020-01-12 15:58] JasonFengJ9 commented on #8284
Similar issue at `win2012r2-x86-3` [1].
[code]

[1] https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_windows_Release/23/console

[2020-01-12 22:04] gacholio commented on #8250
What do you mean by "new test framework" in relation to testing new JVMTI capabilities? The existing JVMTI framework is pretty much the only one I'm still able to work with, so I'd hate to see it go.

[2020-01-13 02:23] pshipton commented on #8280
Updated branch with the latest changes.

[2020-01-13 02:23] #8280 closed

[2020-01-13 02:35] pshipton commented on #7397
@JasonFengJ9 the previous failure is https://github.com/eclipse/openj9/issues/7276#issuecomment-573330677 you need to look at the artifacts.

[2020-01-13 02:51] pshipton commented on #8266
@Zilacon we can re-purpose this issue. Can you please narrow down the last working build and the first failing build. Then we can look at the smallest set of changes to figure out what caused the problem. The build you have is the Dec 2 download from AdoptOpenJDK.net. I'd search by taking a build in the middle, say Dec 18. If it works, pick a new build in the middle between Dec 18 and Jan 7. If it

[2020-01-13 02:55] pshipton commented on #8284
This is a "normal" infra / network type problem that we don't know how to resolve. I'm just going to close it.

[2020-01-13 02:55] #8284 closed

[2020-01-13 02:56] pshipton commented on #8281
This is a "normal" infra / network type problem that we don't know how to resolve. I'm just going to close it.

[2020-01-13 02:56] #8281 closed

[2020-01-13 03:02] pshipton commented on #8282
This was timeout, not sure why the timeout occurred. Likely just another weird infra / network problem. I'll just close this unless we start seeing it as a common occurrence.
[code]

[2020-01-13 03:02] #8282 closed

[2020-01-13 03:08] Zilacon commented on #8266
That will take me a bit XD
But yeah i can try to narrow it down.

[2020-01-13 05:15] Zilacon commented on #8266
Guess one of my developers accidentally fixed the issue by fixing another issue on the server wrapper.
Cause now its starting with no problems.
So yeah, thanks for your help with the other problems! Hopefully thats the last of them.

[2020-01-13 05:15] #8266 closed

[2020-01-13 09:16] adam-thorpe commented on #8194
Test is still failing on jdk8 mac and mac xl with what appears to be a slightly different error, can this be re-opened:
[code]

[2020-01-13 10:18] PhilWakelin opened #8285 "MemoryPool MBean for JIT Code Cache always reports 0M Used"
Java -version output
--------------------
java.fullversion: 8.0.6.0 - pmz6480sr6-20191107_01(SR6) JRE 1.8.0 z/OS s390x-64-Bit Compressed References 20191106_432135 (JIT enabled, AOT enabled) OpenJ9 - f0b6be7 OMR - 18d8f94 IBM - 233dfb5
Environment: z/OS V2R3

Summary of problem
------------------
At startup of a Liberty JVM in CICS TS, the MemoryPool MBean reports 0 storage usage for the JIT Code

[2020-01-13 10:26] #8285 closed

[2020-01-13 10:26] PhilWakelin commented on #8285
Raised in error, as this is still being dealt with in issue https://github.com/eclipse/openj9/issues/7171

[2020-01-13 11:39] adam-thorpe commented on #8268
I believe there are two sets on problems here. On JDK11+ there are consistent test failures:
[code]

However on all versions (8, 11 and 13) there is an additional intermittent failing test:
[code]
[code]

[2020-01-13 13:19] pshipton commented on #7088
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_xl_Personal/41
MauveMultiThreadLoadTest_special_24
variation: Mode110-OSRG
JVM_OPTIONS: -Xnocompressedrefs -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation -Xgcpolicy:gencon

[2020-01-13 13:36] jdekonin commented on #8279
I brought it back online because I thought it was capable of running jobs.  Setup is clearly not identical to 7-9.  @AdamBrousseau when you have time can you please reset this image and I can rebuild.

[2020-01-13 15:03] pshipton commented on #8272
Rajdeep-Singh said:

There was an issue on the machine hosting the VMs for oj9.

ub16x64j910 has been operating accordingly, the only machine that seemed to be impacted by the hosting machine issue was ub16x64j98.

The issue mentioned above seems to have to no correlation with any issues on the host.

[2020-01-13 15:04] pshipton commented on #8272
I'll re-enable ub16x64j910 and we'll see if the problem occurs again.

[2020-01-13 15:04] #8272 closed

[2020-01-13 15:05] pshipton commented on #8272
I'm not sure if I disabled ub16x64j910, it is enabled now.

[2020-01-13 15:09] pshipton commented on #8279
@jdekonin we should test these things in advance, rather than wasting overnight build time.

[2020-01-13 15:11] pshipton commented on #8272
Rajdeep-Singh said:

Forgot to mention - I did reboot ub16x64j910 about 30-40 mins ago as well.

[2020-01-13 15:15] pshipton commented on #8285
Right, the fix is in SR6 FP5. @PhilWakelin do you have access to get an advance copy of SR6 FP5 to confirm it's working?

[2020-01-13 15:16] pshipton commented on #8194
@adam-thorpe this is a different problem, likely a test issue. Can you please open a new Issue for it.

[2020-01-13 15:18] DanHeidinga commented on #8109
The JITServer can't talk about object addresses directly.  It needs some kind of handle (a GlobalReference or some other GC root) to hold the object for it or you can't map the pointer the server has to a valid object in the client.

After the first call, you have a object pointer in hand.  A GC occurs on the client and moves the object.  When the server makes its next request, how does it know th

[2020-01-13 15:32] pshipton commented on #7890
@dsouzai can you please create a PR for the v0.18.0-release branch.

[2020-01-13 15:35] DanHeidinga commented on #8102
Closing based on the conclusions above

[2020-01-13 15:35] #8102 closed

[2020-01-13 15:41] mikezhang1234567890 commented on #8250
That was poor wording on my part. The framework for JVMTI is the same, the test code for the `getConstantPool` is outdated and does not compile. That is what needs to be fixed in order to get the test working.

[2020-01-13 15:46] adam-thorpe opened #8287 "JTReg Failure: java/lang/Runtime/loadLibrary/LoadLibraryTest.java (2)"
Failure link
------------
Version: JDK8
Platform: Mac and MacXL
JVM: Openj9 only

Optional info
-------------
- intermittent failure (yes|no): no
- regression or new test: regression
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) : Unknown, popped up once https://github.com/eclipse/openj9/issues/8194 was fixed, likely was blocking this failure

Failure ou

[2020-01-13 16:16] JasonFengJ9 commented on #8276
Created two jar files, `World.jar` contains a class
[code]
the other `Hello.jar` contains a class
[code]

In a docker image `Linux Ubuntu 16.04.5 LTS`,  run `jpackage -J-showversion --name HelloWorld --input lib --main-jar Hello.jar` (`Hello.jar` and `World.jar` are under the folder `lib`), the output is as following:
[code]
The result is `helloworld_1.0-1_amd64.deb`.

`sudo apt install ./hellowor

[2020-01-13 16:32] harryyu1994 commented on #8109
Yes, I think that's exactly what went wrong. JITServer uses globalreferences for almost all the requests except when there's `walkReferenceChain` involved, where we use object addresses for the walk.
There are 3 ways to solve this:
1. create a new remote routine where instead of the object address, globalreference is used.
currently the remote routine `fej9->getReferenceFieldAt()` used at the JITS

[2020-01-13 16:33] JasonFengJ9 commented on #8276
Continue `jpackage basic usage on non-modular applications` on Mac `osx 10.15.2`

`HelloWorld-1.0.dmg` is generated via similar command line.
[code]

The file structure looks like:
[code]
The `HelloWorld.cfg` is same as `Linux` version.

[2020-01-13 16:58] JasonFengJ9 commented on #8287
Will have a look this.

[2020-01-13 18:59] keithc-ca commented on #8237
An alternate strategy is to use `-Xtrace` which will intersperse the stack trace with normal output which may make it easier to match a failure with the corresponding trace:
[code]

[2020-01-13 19:04] harryyu1994 commented on #8109
- We already have a mechanism that aborts the compilation if it detects that GC has happened.
- However, I didn't see the "GC Counter" getting incremented for this test, probably because we are dealing with a different GC mode/policy?
- Looks like we are using `Xgcpolicy:balanced`  in this case
- The GC Counter was never triggered
- Also, not sure if this is the way to go though. (To abort the com

[2020-01-13 19:37] pshipton commented on #8287
This is a awt problem, rRelated to https://github.com/eclipse/openj9/issues/7050#issuecomment-570296489.

[2020-01-13 19:51] pshipton commented on #8102
One thing we should do here is document `-Djava.lang.string.substring.nocopy=true`. I'll go ahead and do that. Created docs issue https://github.com/eclipse/openj9-docs/issues/469

[2020-01-13 19:58] RSalman commented on #8020
The issue always seems to be when a Concurrent kickoff occurs in the middle of an expansion _(which is fine but we have a very specific timing hole)_

At a minimum, when expanding, the mark map must be either set/cleared or added to init ranges table _(which will end up eventually initing)_ . However, there is a very specific timing window where neither is done, which I believe is causing the cras

[2020-01-13 20:00] JasonFengJ9 commented on #8276
Created two modular jar files, `openj9.world.jar` contains classes:
[code]
`openj9.greetings.jar` contains classes:
[code]

**Linux Ubuntu 16.04.5 LTS**

The command line to run `jpackage`:
[code]
This creates `helloworldmod_1.0-1_amd64.deb`.

After installation:
[code]

File structure:
[code]
`HelloWorldMod.cfg` contains following:
[code]
**Mac osx 10.15.2**

The command line to run `jpackage`:
[

[2020-01-13 20:07] pshipton commented on #7503
Below is the information found in old reports in 2001, which seems to correspond to Java 1.3. There is no setLibAndExec() function any more I could find, or any mention of LDR_CNTRL or MAXDATA. We did recently make this change https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/349

The [thread and threadgroups] tests fail since they run out of malloc'ed space to allocate thread stacks. Test s

[2020-01-13 20:22] harryyu1994 commented on #8109
After discussion with Marius, we are going to go with 2. do `walkReferenceChain()` at the JITClient.
Complication with `walkReferenceChain(TR::Node* , uintptrj_t)` is that the first object resides on JITServer and second object resides on JITClient. But it looks like these two can be separated out. The thing we need from TR::Node is the offsets. We can compute the offsets on JITServer, then pass t

[2020-01-13 20:32] babsingh opened #8292 "JEP-370 Foreign-Memory Access API"
### JEP-370 Foreign-Memory Access API (Incubator)
https://openjdk.java.net/jeps/370

### Documentation for `jdk.incubator.foreign`
http://cr.openjdk.java.net/~mcimadamore/panama/memaccess_javadoc/jdk/incubator/foreign/package-summary.html

### Code for `jdk.incubator.foreign`
https://github.com/ibmruntimes/openj9-openjdk-jdk14/tree/openj9/src/jdk.incubator.foreign/share/classes/jdk/incubator/forei

[2020-01-13 20:35] babsingh commented on #8292
fyi - @DanHeidinga @tajila

[2020-01-13 20:41] babsingh commented on #8292
@DanHeidinga Shall I implement the above design?

[2020-01-13 22:11] Mesbah-Alam commented on #8088
This should fix it: https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/319

[2020-01-13 22:27] #8088 closed

[2020-01-13 22:27] JasonFengJ9 commented on #8276
Test `jpackage` other features such as `package metadata`, `file associations`, `application images` and `runtime images` with selected command line options and no issue was found.

[2020-01-13 22:32] JasonFengJ9 commented on #8276
There are some automated tests within https://github.com/ibmruntimes/openj9-openjdk-jdk14/tree/openj9/test/jdk/tools/jpackage.

[2020-01-13 23:45] AdamBrousseau commented on #7890
Still seeing this crash on 3/4 test targets
based on 5ea61ceb3d14993e11703dd2b6d4080a2290f087
/job/Pipeline-Build-Test-Personal/4562/
[code]

[2020-01-14 01:52] smlambert commented on #8237
You can rerun this Grinder to reproduce the problem against a jdk8 build:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1744/testReport/

See the 11 logging tests fail with:

Expecting:
  <java.util.logging.LogManager@2c98b391>
to be an instance of:
  <org.jboss.logmanager.LogManager>
but was instance of:
  <java.util.logging.LogManager>
	at io.quarkus.logging.LoggingTestsHelper.getHan

[2020-01-14 03:31] pshipton commented on #7890
@dsouzai reopened again.

[2020-01-14 04:32] ChengJin01 commented on #8140
The Grinder with the personal build crashed in JIT when compiling DDR test as follows:
[code]
, which should be should be irrelevant to my changes in the SCC, but I need to double-check on the latest build to confirm that.

[2020-01-14 14:13] ChengJin01 commented on #8140
Confirmed that crash in JIT also occurred on the latest build without my changes when compiling tests as follows:
[code]
So the problem in JIT has nothing to do with my fix here.

[2020-01-14 14:19] ChengJin01 opened #8296 "[openjdk8_j9] Crash in JIT on Windows when compiling tests"
The personal build (picking up the latest master / without any change) crashed in JIT when getting started to compile tests as follows:
[code]

[2020-01-14 14:46] JasonFengJ9 commented on #8140
Looks like https://github.com/eclipse/openj9/issues/7890

[2020-01-14 15:26] pshipton commented on #7276
Since this couldn't be tracked down, moving to the next milestone.