[2018-12-03 13:11] pdbain-ibm commented on #3904
For the record, the redirector doesn't handle `JAVA_TOOL_OPTIONS` at all (and never has), while vmargs.c does (and always has).

[2018-12-03 13:21] pdbain-ibm commented on #3904
FYI @pshipton and @gacholio
further to issue https://github.com/eclipse/openj9/issues/3478, particularly
https://github.com/eclipse/openj9/issues/3478#issuecomment-434695237 and
https://github.com/eclipse/openj9/issues/3478#issuecomment-435062184.

As I understand @DanHeidinga's intent, the arguments are the union of:

1. `JAVA_TOOL_OPTIONS`
2. `OPENJ9_JAVA_OPTIONS`
3. `IBM_JAVA_OPTIONS` (only if

[2018-12-03 13:43] fjeremic commented on #3771
Unfortunately debug JIT has not been tested in so long it definitely now has bugs in it. This one is an optimizer bug somewhere. Do you need a debug JIT however for a backtrace? You should be able to get it for the default JIT, at least the symbols. You may not be able to get line information.

[2018-12-03 14:58] pdbain-ibm commented on #3777
Testsed and working with https://github.com/eclipse/omr/pull/3273 and https://github.com/eclipse/openj9/pull/3906.

[2018-12-03 15:10] AdamBrousseau commented on #2637
Opened [Bug 541852](https://bugs.eclipse.org/bugs/show_bug.cgi?id=541852) to ask about download.eclipse.org

[2018-12-03 15:18] JasonFengJ9 commented on #3771
This is the JIT thread backtrace, there is no symbols.
[code]

[2018-12-03 15:52] dnakamura commented on #1815
Resolved with #3838

[2018-12-03 15:52] #1815 closed

[2018-12-03 16:14] #3411 closed

[2018-12-03 16:34] pdbain-ibm commented on #3411
@ben-walsh FYI.

[2018-12-03 17:21] fjeremic commented on #3771
What does gdb say about the core? If you load the core up in gdb and set your `solib-search-path` correctly so that `info sharedlibrary` shows the symbols for libj9jit29.so are loaded you can make a script using the above symbols like this:

[code]

Then run the `printBackTrace` script and it will dump the backtrace in a human readable form.

[2018-12-03 18:34] keithc-ca commented on #3469
Note that the gc log I captured was from running Java 11:
[code]
so if we're on the right track, there are some missing uses of `Bits.keepAlive()` in newer versions too.

[2018-12-03 18:41] JasonFengJ9 commented on #3771
[code]

[2018-12-03 19:17] JasonFengJ9 opened #3909 "Java 8 JMX password authentication: UnsatisfiedLinkError: sun/management/FileSystemImpl.init0()V"
[code]

[2018-12-03 20:51] fjeremic commented on #3771
@JasonFengJ9 apologies when you said native stack did you mean the JIT generated code or code within the libj9jit29.so JIT module itself? If the former the above won't work and we'll need someone familiar with x86 to take a peek for you with `kca` or similar tool which understands JIT generated code backtraces.

Judging from the pointers it looks like they're JIT generated offsets (`0x00007f14a1a6

[2018-12-03 22:59] pshipton commented on #1370
@LinHu2016 is there still some testing to complete? I was under the impression it's not quite done yet.

[2018-12-04 04:13] DanHeidinga commented on #3469
@keithc-ca Do you have the core files from the crashes still?

[2018-12-04 06:06] mseele commented on #3851
@ChengJin01 of course, the steps to reproduce the issue are:

maven dependency:
[code]

code:
[code]

is that enough?

[2018-12-04 09:18] rschnitk opened #3916 "JVMDUMP Processing dump event "traceassert"; ASSERTION FAILED at resolvesupport.cpp:1090"
Our AIX and Linux Test System raise some coredumps with OpenJDK11 OpenJ9 (Oracle Hotspot is ok on Linux and Windows).
Message:
** ASSERTION FAILED ** at resolvesupport.cpp:1090: ((methodClass == (((J9RAMClassRef*)(&(vm)->jclConstantPool[(23)]))->value)))

[javacore.20181204.021741.8959.0002.txt](https://github.com/eclipse/openj9/files/2643158/javacore.20181204.021741.8959.0002.txt)
[javacore.20181

[2018-12-04 13:42] pmlopes opened #3917 "Wrong behavior on nashorn"
Consider the following script:

[code]

The expected result is `3`. This is the case on:
* `nashorn` on `OpenJDK`
* `nodejs`
* any browser
* GraalJS

However the `OpenJ9` `nashorn` from `OpenJDK11U-jdk_x64_linux_openj9_linuxXL-jdk-11.0.1.13_openj9-0.11.0_11.0.1_13.tar.gz` yields the result `1`. Which is clearly wrong.

[2018-12-04 14:38] DanHeidinga commented on #3469
We've been using adhoc methods for sharing binaries so far.  Can you upload to Box and share a link (privately is fine)?

[2018-12-04 14:42] #3723 closed

[2018-12-04 14:43] #3776 closed

[2018-12-04 14:58] keithc-ca commented on #3469
cores-3469.tar.gz -> https://ibm.box.com/s/3chwbvqsrlxvt0gcaxech26anwt6bi7s

[2018-12-04 15:15] mpirvu commented on #3526
@a7ehuo as discussed, please work on this issue instead of the tracing one. Thanks

[2018-12-04 15:24] LinHu2016 commented on #1370
@pshipton the tests for nogc are done(https://github.com/eclipse/openj9/pull/3355), now they are part of extended tests, I will promote them to sanity test after waiting another week if there is no any issue on all of platforms

[2018-12-04 15:32] a7ehuo commented on #3526
@mpirvu Thank Marius. I'll start with this one this week.

[2018-12-04 15:50] Mesbah-Alam commented on #3897
Note: This blocks Windows system testting at ci.eclipse: https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-win_x86-64_cmprssptrs/95/tapResults/

[2018-12-04 15:53] fjeremic commented on #3771
@0dvictor @andrewcraik we'll need help to investigate this one.

[2018-12-04 15:53] pshipton commented on #3771
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-aix_ppc-64_cmprssptrs/158

[2018-12-04 15:55] smlambert commented on #1370
We are in the process of moving tests in the other direction (move more sanity tests to extended), to ensure sanity set stays small / runs fast.

Is there a specific request to move the nogc tests to sanity, or can we leave them where they are?

[2018-12-04 16:02] pshipton commented on #1370
@LinHu2016 see Shelley's comment https://github.com/eclipse/openj9/issues/1370#issuecomment-444150978

Separately from the above, is there any reason to keep this Issue open or can it now be closed?

[2018-12-04 16:49] LinHu2016 commented on #1370
@smlambert keep the tests in extended level are fine, move to sanity just for catching regression earlier. BTW the most of tests only take under 10 secs, but 2 of them for each platform due to generate dumps might take a couple mins.

[2018-12-04 16:50] LinHu2016 commented on #1370
@pshipton  yes, I will close this issue.

[2018-12-04 16:56] mikezhang1234567890 commented on #3444
Currently working on core reader to support the OSX file format (Mach-O). Estimate to be done in January.

[2018-12-04 17:19] #3661 closed

[2018-12-04 17:20] #3658 closed

[2018-12-04 17:48] gacholio commented on #3916
/* Resolved method is in Object */
Assert_VM_true(methodClass == J9VMJAVALANGOBJECT_OR_NULL(vm));

[2018-12-04 19:49] DanHeidinga commented on #3916
Interestingly, looking at the `javacore.20181204.021741.8959.0002.txt`, the assertion was from a JIT compiler thread:
[code]

@rschnitk Do you have a system core that can we look at?

[2018-12-04 19:49] #3531 closed

[2018-12-04 20:05] #1370 closed

[2018-12-04 20:16] pmlopes commented on #3917
a quick reproducer is to run the script above on `jjs` and see the result `1` instead of expected `3`.

[2018-12-04 21:08] mpirvu commented on #3200
A new distribution of messages with a build from 2018/12/04.
Warm compilations only with OSR enabled.
[code]

[2018-12-04 21:29] pshipton opened #3923 "win2012r2-x86-4 out of disk space"
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK8-win_x86-64_cmprssptrs-OpenJDK8/4
[code]

[2018-12-04 21:31] pshipton opened #3924 "aix71-p8-3 unable to acquire lock or out of disk space"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-aix_ppc-64_cmprssptrs-OpenJDK8/9
[code]

[2018-12-04 21:31] pshipton commented on #3924
@jdekonin

[2018-12-04 23:21] jdekonin commented on #3923
The machine has 20g free, while not a huge amount it shouldn't have reported `There is not enough space on the disk`.  I did a quick scan and deleted another 8g.

[2018-12-04 23:44] ChengJin01 commented on #3851
I already reproduced the issue by creating a maven-based project with the test application above.
[myapp.zip](https://github.com/eclipse/openj9/files/2646555/myapp.zip)
[code]

With my fix,  it ended up with the same result as Oracle:
[code]

Need to check all existing JSR292/335 test cases related to findSpecial in our test buckets as some of tests there need to be updated accordingly to match th

[2018-12-05 03:32] pshipton commented on #3924
https://ci.eclipse.org/openj9/job/Build-JDK8-aix_ppc-64_cmprssptrs/806/

[2018-12-05 03:35] pshipton commented on #3924
Disabled the machine

[2018-12-05 03:54] #805 closed

[2018-12-05 04:36] #3923 closed

[2018-12-05 06:30] AdamBrousseau commented on #3924
[code]

Lots of space in the workspace but tmp is full
[code]
[code]
Cleaned up tmp and rebooted machine

[2018-12-05 09:08] rschnitk commented on #3916
Full core dumps are not enabled yet. I will provide them next day(s).

However, the AIX System does not dump (yesterday) with the JVM parameter "-Xtune:virtualized".  The Linux Test System uses the Oracle Hotspot with no errors.

[2018-12-05 13:07] pshipton commented on #3771
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_390-64_cmprssptrs/177

[2018-12-05 13:14] keithc-ca commented on #2888
This should be fixed by https://github.com/eclipse/openj9/pull/3714 (and https://github.com/eclipse/openj9/pull/3638 which supersedes #2956).

[2018-12-05 13:15] #3924 closed

[2018-12-05 14:54] pdbain-ibm commented on #3273
@fengxue-IS any progress on this?  The issue is that we are binding the method handle to a protected method in a different class and package.

[2018-12-05 15:14] llxia opened #3930 "Incorrect jvm options is set by TKG"
`Mode555` is `-Xjit:counts="- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000",gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile`. But `"` is changed to `&quot;` in the test.

[code]

[code]

[2018-12-05 15:14] llxia commented on #3930
fyi @renfeiw

[2018-12-05 15:34] keithc-ca commented on #2888
@enasser Closing (reopen if you find it isn't fixed).

[2018-12-05 15:34] #2888 closed

[2018-12-05 15:45] llxia commented on #3930
Talked with Renfei. This is expected behavior. System test has the issue to consume it. I will open an issue against system test.

[2018-12-05 15:45] #3930 closed

[2018-12-05 16:03] smlambert opened #3933 "DirectByteBufferLoadTest_0 fails (extended.system-JDK11-aix_ppc-64_cmprssptrs)"
This occurred during the [last system test job](https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-aix_ppc-64_cmprssptrs/93) before the AIX machine's tmp dir filled up and ran out of disk space (reported in #3924).  There were other failures in that test job, but those are due to machine not having enough space to proceed with further testing.

Have retrieved core files and can share wit

[2018-12-05 16:06] smlambert commented on #3933
[javacore.20181205.001854.17367256.0003.txt](https://github.com/eclipse/openj9/files/2649555/javacore.20181205.001854.17367256.0003.txt)

[2018-12-05 16:38] fengxue-IS commented on #3273
@pdbain-ibm The open PR should fix this issue, I've asked Dan to review the changes.

[2018-12-05 16:48] dmitripivkine commented on #3933
This assertion means non-object memory is treated as an object. Usually there are two possibilities here: stall reference or corrupted heap.

[2018-12-05 16:51] dmitripivkine commented on #3933
Do we have system core for this failure?

[2018-12-05 17:36] #3471 closed

[2018-12-05 17:51] pdbain-ibm commented on #3301
Waiting for pull request https://github.com/eclipse/openj9/pull/3592 to be merged.

[2018-12-05 18:34] smlambert commented on #3933
Associated core, jitdump and trc files temporarily housed here: https://drive.google.com/open?id=1bCoK8n40oReRG74060iAgCbF-v8-Mc7e

please direct msg me if you have issues getting the files.

[2018-12-05 19:17] pdbain-ibm commented on #802
Further to https://github.com/eclipse/openj9/issues/802#issuecomment-351175591, the Java 11 language spec says nothing about array dimension limits.

However, the Java 11 VM spec **4.3.2 Field Descriptors**: "A field descriptor representing an array type is valid only if it represents a type with 255 or fewer dimensions."

**4.9.1. Static Constraints** says that `anewarray` cannot be used to creat

[2018-12-05 20:14] pdbain-ibm commented on #802
The code in https://github.com/eclipse/openj9/issues/802#issue-281356032 creates an array _type_ with more than 255 dimensions, but I do not believe there is a way to create an _instance_ of the type, since there is no constructor for the type.

[2018-12-05 21:04] akrus commented on #3750
Just happened again on another server. Unfortunately wasn't able to get a dump at this time again or check the trick with gdb as my colleague came earlier and killed the process.

GC log stops after:
[code]

[2018-12-05 22:31] ChengJin01 commented on #3851
Just detected a couple of failing test cases with in JSR292 test bucket.
[code]

Will investigate to figure out what happened in there with my changes.

[2018-12-05 22:32] dmitripivkine commented on #3933
Thank you. I have downloaded files. However there is a problem DDR is not supported with AIX. There is not too much I can do in native debugger

[2018-12-05 22:57] dmitripivkine commented on #3933
from this core:
[code]
Looks like crash occur an attempt to treat `0xffe1caf0` as a beginning of the object. But it is not. Object seems actually starts at `0xffe1cae8` however flags byte value 0xff is illegal.

[2018-12-05 23:00] dsouzai commented on #3333
@jdmpapin and I worked on this yesterday, and we think we know what the problem is. It isn't osx specific, but somehow only manifests itself on osx :confused:

I had noticed that the problem only occurred when the JIT code cache address started in the `0xB0000000-0xC0000000` range. On passing runs, the JIT code cache would start somewhere in the `0x10000000`-`0x20000000` range. Initially, the issu

[2018-12-06 04:30] smlambert opened #3939 "HCRLateAttachWorkload system test fails (OpenJDK8U-jdk_x64_linux_openj9_2018-12-05-19-28)"
When running grinders to re-enable this test, it fails/crashes when run against recent nightly build at openj9.

Snippet from https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/514/console:

04:09:44 LT  stderr Unhandled exception
04:09:44 LT  stderr Type=Segmentation error vmState=0x00000000
04:09:44 LT  stderr J9Generic_Signal_Number=00000004 Signal_Number=0000000b Error_Value=00000000 Si

[2018-12-06 04:33] smlambert commented on #3939
Core temporarily housed at: https://drive.google.com/open?id=176db2DzQSbpPZIe7l8rt3QmVCr3PqTde

[2018-12-06 07:56] rschnitk commented on #3916
The application has 2GB max heap size. The dumps are 250mb compressed. Cannot upload here.

[2018-12-06 11:43] ben-walsh opened #3940 "JTreg test fail : java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessXXX.java"
The set of java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessXXX.java JTreg tests (e.g. https://github.com/AdoptOpenJDK/openjdk-jdk11u/blob/master/test/jdk/java/lang/invoke/VarHandles/VarHandleTestMethodHandleAccessByte.java) inconsistently fail by exiting unexpectedly with a return code 137.

For example, this job shows the failures of 6 of this group of tests due to this issue - https:/

[2018-12-06 11:46] pshipton commented on #3939
@DanHeidinga

[2018-12-06 12:05] ben-walsh opened #3941 "JTreg test fail : java/lang/StackWalker/EmbeddedStackWalkTest.java"
The JTreg test https://github.com/AdoptOpenJDK/openjdk-jdk11u/blob/master/test/jdk/java/lang/StackWalker/EmbeddedStackWalkTest.java is failing inconsistently with the following ...

[code]

For example, this failure occurred during this job run - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_linux/161.
However, no such problem occurred with the test during this

[2018-12-06 12:07] pshipton opened #3942 "Test-sanity.functional-JDK8-aix_ppc-64_cmprssptrs cmdLineTester_pltest_aix_0"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-aix_ppc-64_cmprssptrs/377
[code]

[2018-12-06 12:15] pshipton commented on #3942
@llxia I think this was caused by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/210 but indicates a test problem because j9aixbaddep cannot be found now that it isn't part of the jdk build.

[2018-12-06 12:15] pshipton commented on #3942
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-aix_ppc-64_cmprssptrs/379/

[2018-12-06 12:20] pshipton commented on #3916
@rschnitk please use a file sharing service like Box or Google drive to make it available. You can share it via private email if you like.

[2018-12-06 12:56] llxia commented on #3942
@sophia-guo could you look into this? Thanks.

[2018-12-06 13:45] pdbain-ibm commented on #3941
Yup.  Will investigate.

[2018-12-06 13:54] DanHeidinga commented on #3939
@gacholio Can you take a look at this?

[2018-12-06 14:00] pdbain-ibm commented on #3940
For the record, exit code 139 indicates a `kill -9` from another process.

[2018-12-06 14:03] #3854 closed

[2018-12-06 14:03] #3882 closed

[2018-12-06 14:18] pdbain-ibm commented on #3049
This failure is questionable.  See the discussion in https://github.com/eclipse/openj9/issues/802#issuecomment-444608015 _et seq._

The test creates an array _type_ with more than 255 dimensions, but there is no constraint on the dimensions of the type _per se_ in the specification; the only constraint is on new _instances_.

The validity to the Class is moot: the Class of an array type cannot be

[2018-12-06 14:23] pdbain-ibm commented on #802
@non-conformances-research @DanHeidinga your thoughts?  See also
https://github.com/eclipse/openj9/issues/3049#issuecomment-444885274.

[2018-12-06 14:29] pdbain-ibm commented on #3941
@ben-walsh my first few runs passed on MacOS but I am running a longer suite.  Could you indicate the failure rate?  Do you see the failure on platforms other than Linux X86?

[2018-12-06 14:51] pshipton commented on #3939
We should also check the JVM used to test has the fixes
https://github.com/eclipse/openj9/pull/3919
https://github.com/eclipse/omr/pull/3282

[2018-12-06 14:52] ben-walsh commented on #3941
This job shows 10 failures from 100 iterations (ignore the "Test result" the 10 failures are recorded in the Console Output) - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/517.

I have kicked off two more rebuilds of that job to get additional data points ...
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/519
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/520

I

[2018-12-06 14:56] ben-walsh commented on #3941
@pdbain-ibm I also have a job running with a debug statement added to output the value of the line variable - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/518/consoleText ... thus far it looks like this being -1 is the problem.

[2018-12-06 15:03] pshipton commented on #3939
@smlambert doesn't look like the JVM used has the required fixes. Can you please try it again on a later build. The fix has merged yesterday.

[2018-12-06 15:42] pdbain-ibm commented on #3941
Thanks.  Reproduced on my Mac.  Investigating.
The line number is set to -1 if `getLineNumberForROMClassFromROMMethod(vm, romMethod, romClass, 0, classLoader, bytecodeOffset);` returns 0.

[2018-12-06 16:02] pshipton opened #3945 "Add explicit -Xshareclasses:none testing"
As a result of https://github.com/eclipse/openj9/pull/3858, shared classes is always enabled for bootstrap classes.

@andrewcraik raised the following concern:
"Given that the standard config used to be SCC off and options to enable it the tests are structured to test default and then add SCC options. I worry we may stop testing the no SCC configs with this default change which could lead to break

[2018-12-06 16:03] pshipton commented on #3945
@hangshao0

[2018-12-06 16:04] DanHeidinga commented on #802
@pdbain-ibm I dug through the internal history because I remembered changes in this area.  Turns out that prior to Java 8, the array dimension limit was implementation defined.  I think we just missed this case when we update the other places - like Array.newArray().

We should add the limit in Class.forName to be consistent with the RI.

[2018-12-06 16:07] DanHeidinga commented on #3049
I think this is a case we've missed and we should update OpenJ9 to match the RI's behaviour here.  See more detailed comment in #802

[2018-12-06 16:14] pshipton commented on #3945
Some functional testing candidates:
JCL_Test
TestArrayCopy
cmdLineTester_jvmtitests
cmdLineTester_jvmtitests_hcr
cmdLineTester_jvmtitests_debug
jsr335tests
jit_jitt

[2018-12-06 16:20] pdbain-ibm commented on #802
Would you like me to do that?

[2018-12-06 16:21] pshipton commented on #3945
@andrewcraik do you have any suggestions for which functional tests are important?

[2018-12-06 16:25] llxia opened #3947 "testSCCMLTests6_1 failed with shmget : Cannot allocate memory on oxs jdk11"
[code]

https://ci.eclipse.org/openj9/view/Test/job/Test-extended.functional-JDK11-osx_x86-64_cmprssptrs/9/tapResults/

Is this similar to https://github.com/eclipse/openj9/issues/3346?

fyi @jdekonin

[2018-12-06 16:30] hangshao0 commented on #3947
Yes. The same error message.

[2018-12-06 16:38] pdbain-ibm commented on #3941
I confirmed that the line number is indeed set to `-1`, which indicates unknown line number.

I get a reproduction rate of about 1%. I ran 800 times with `-Xint` without failure, so it looks like a JIT issue. Also, running with `-Xjit:count=0` causes a different failure:

@andrewcraik would you please assign this to someone on the JIT team?
Thank you.

[2018-12-06 16:49] ben-walsh commented on #3941
@pdbain-ibm Follow up with results on the failure rate from the additional job runs ...
[code]

[2018-12-06 17:02] babsingh commented on #3468
I tried the latest OpenJ9 JDK11 macOS x64 SDK at [AdoptOpenJDK](https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9) - [jdk_x64_mac_openj9_2018-12-06-13-30.tar.gz](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2018-12-06-13-30/OpenJDK11U-jdk_x64_mac_openj9_2018-12-06-13-30.tar.gz)
to verify the eclipse/omr#3225 fix. OpenJ9 successfully generates

[2018-12-06 17:08] DanHeidinga commented on #3468
Thanks @babsingh!  Closing this now but @yusuke please comment if you see the issue with the updated builds.

[2018-12-06 17:08] #3468 closed

[2018-12-06 17:34] sophia-guo commented on #3942
yes, j9aixbaddep cannot be found, same for jdk11 https://github.com/eclipse/openj9/issues/3221.

Could this lib be built as part of aix test Image? @keithc-ca

[2018-12-06 17:35] sophia-guo commented on #3221
Close this as a duplicate of #3942

[2018-12-06 17:35] sophia-guo commented on #3942
same issue for jdk11, close #3221

[2018-12-06 17:48] gacholio commented on #3939
The core above won't load in DDR, so I'm going to wait until the re-test before spending any more time.

[2018-12-06 18:02] keithc-ca commented on #3942
`j9aixbaddep` needs to be added to the list of artifacts copied included in `test-image`.

[2018-12-06 18:07] dmitripivkine commented on #3933
Run 120 test iterations on pLinux - no reproductions (all passes)

[2018-12-06 18:42] jdekonin commented on #3947
These are the settings for all 4, if these need to be altered please advise.

kern.sysv.shmmax: 314572800
kern.sysv.shmall: 76800

[2018-12-06 18:51] smlambert commented on #3933
Excluded for now on AIX: https://github.com/AdoptOpenJDK/openjdk-tests/pull/730

[2018-12-06 18:51] hangshao0 commented on #3947
Please use 325058560 and 79360

[2018-12-06 18:56] smlambert commented on #3939
Re-enabled on jdk8: https://github.com/AdoptOpenJDK/openjdk-tests/pull/730

[2018-12-06 19:13] pshipton commented on #3221
I think we can keep this open, and close it via the PR when it is created.

[2018-12-06 19:30] pshipton commented on #3939
@gacholio I'm concerned about "The core above won't load in DDR" as this is supposed to work.
a) how did it fail to load?
b) did you use OpenJ9 to open the core?
c) does the core seem truncated or some other known problem?

[2018-12-06 19:42] pshipton commented on #3939
@gacholio I was able to open the core with DDR, I suspect you didn't use an OpenJ9 JVM to open it.

[2018-12-06 20:02] gacholio commented on #3939
I did, but it was an old one. Also, that's not supposed to matter.

The error I got was "no jre".

[2018-12-06 21:33] pshipton commented on #3939
There were (and are) still some outstanding issues to work through with DDR. If it doesn't work probably best to try the matching JVM until the issues are all worked out. I believe there will be at least one more breakage coming which affects reading older core files.

[2018-12-06 21:34] pshipton commented on #3939
Also, no guarantee an older JVM can read a newer core file. Although the latest JVM should be able to read all older ones (but I expect this won't be true for OpenJ9 until all the issues are resolved).

[2018-12-06 22:20] babsingh opened #3954 "Coding standards for OpenJ9?"
Is there a document with coding standards for OpenJ9? If not, do we plan to add one?

Similar to OMR coding standards: https://github.com/eclipse/omr/blob/master/doc/CodingStandard.md.

Or are we supposed to refer to OMR coding standards? If so, should we explicitly mention usage of OMR coding standards here: [openj9/doc/README.md](https://github.com/eclipse/openj9/blob/master/doc/README.md)? Curr

[2018-12-06 22:20] babsingh commented on #3954
fyi - @DanHeidinga @pshipton @tajila

[2018-12-06 22:43] jdekonin commented on #3897
The eclipse/openj9 windows machines are connected to jenkins via cygwin ssh, which defaults the login shell to bash, not a command prompt (cmd.exe) like how I believe the Adopt machines are connected.  The `subst` command works fine when running through a cmd.exe, but fails when run through cygwin bash, because bash is finding it on the path (`/cygdrive/c/Windows/system32/`).

This is on the cygwi

[2018-12-06 22:57] fjeremic opened #3955 "Crash in JIT when `-Xjit:version,verbose` option is applied"
Using a recent build:

[code]

adding the `-Xjit:version,verbose` will cause a crash:

[code]

[2018-12-06 22:58] fjeremic commented on #3955
According to @dsouzai this is because the `version` option is ill-defined and has some NULL pointers where it should have the `"F"` string.

[2018-12-06 23:07] dsouzai commented on #3955
I'm no expert on the options processing, but that statement comes from a vague recollection of something mentioned by @prdoyle a long time ago.

Scanning through the code:

J9Options.cpp
[code]
OMROptions.cpp
[code]

[2018-12-07 01:58] keithc-ca commented on #2519
I think this has been done: closing.

[2018-12-07 01:58] #2519 closed

[2018-12-07 03:08] #3942 closed

[2018-12-07 03:08] #3221 closed

[2018-12-07 04:07] pshipton opened #3957 "cmdLineTester_dumpromclasstests needs to create core with -Xshareclasses:none"
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK8-linux_x86-64_cmprssptrs-OpenJ9/73
[code]

The cmdLineTester_dumpromclasstests creates a core file and then does a linear dump of all the ROM classes in that core file. Since shared classes by default is enabled, the shared cache is part of the core. There are so many ROM classes in the core file that `!dumpallromclasslinear 2` creates a m

[2018-12-07 04:10] pshipton commented on #3957
@llxia @smlambert

[2018-12-07 04:13] pshipton commented on #3957
Shelley suggested that https://github.com/eclipse/openj9/pull/3950 may resolve the problem.

[2018-12-07 04:34] DanHeidinga commented on #3954
Unfortunately, we don't have a single coding standard for the project.  There are really 3 (?) different sets of code and each has somewhat different coding standards:
* JIT compiler
* Non-JIT C & C++ (ie: vm & gc & port, etc)
* Java code

The VM section of the code base and the non-compiler parts of OMR have been developed by the same team and most of the code, especially the newer code, follows

[2018-12-07 04:41] DanHeidinga commented on #802
https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/runtime/jcl/common/reflecthelp.c#L1207-L1208

https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/runtime/vm/FastJNI_java_lang_reflect_Array.cpp#L42-L43

[2018-12-07 05:01] #3273 closed

[2018-12-07 05:01] DanHeidinga opened #3958 "[MethodHandles] Improve the MHs.Lookup.bind() path to allocate fewer temporary handles"
[code]

and then in `bind`,
[code]

By not using the `internalPrivilegedLookup`, we add an extra MH creation that will be effectively removed later if we hit the DH->RBH case in `bind`.

While I'm not 100% happy with this approach, it does make use consistent with the RI.

I'll launch testing on it and if it passes, we'll merge this and we can look at improving that path in the future.

_Originall

[2018-12-07 08:17] rschnitk commented on #3916
Dump file (7z compressed):
https://drive.google.com/uc?id=1T476ZB6RFhqfSeHPs2Mh3Z708JAjtgm-&export=download

[2018-12-07 08:48] rschnitk commented on #3916
and the Text and TRC Dump file (previous post)
[dump-20181205.233422.zip](https://github.com/eclipse/openj9/files/2656511/dump-20181205.233422.zip)

[2018-12-07 08:52] rschnitk commented on #3916
Notice: the JVM parameter "-Xtune:virtualized" prevents dumps on the AIX machine (AIX 7.1, power7, 2 days now), but not for the Linux machine (CentOS 7, x64).

[2018-12-07 14:45] pdbain-ibm commented on #3941
I instrumented the code (attached)
[test.zip](https://github.com/eclipse/openj9/files/2657616/test.zip)
The line number for the bottom stack frame is getting corrupted.
Good run:

Run with `-Xjit:count=0`:

[2018-12-07 15:37] pshipton commented on #3270
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/105
DaaLoadTest_daa2_ConcurrentScavenge_0
[code]

[2018-12-07 15:41] fjeremic commented on #3954
I don't think there is a written one. There was an attempt in https://github.com/eclipse/omr/issues/350 to standardize on something tool-driven but it never got anywhere.

[2018-12-07 15:43] pshipton opened #3959 "Test-extended.functional-JDK8-linux_ppc-64_cmprssptrs_le cmdLineTester_jep178_staticLinking_SE80_0 not found "Reached OnUnload""
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_ppc-64_cmprssptrs_le/155
[code]

first failure in this build

02:25:06 OpenJDK Runtime Environment (build 1.8.0_192-internal-jenkins_2018_12_07_05_24-b00)
02:25:06 Eclipse OpenJ9 VM (build master-451b01e, JRE 1.8.0 Linux ppc64le-64-Bit Compressed References 20181207_918 (JIT enabled, AOT enabled)
02:25:06 OpenJ9   - 451b01e
02:2

[2018-12-07 15:50] pdbain-ibm commented on #3941
There is another error (more common with `-Xjit:count=0`):

I added the following on line 75 of the test program:
           if (loops == 0) {  **Thread.currentThread().dumpStack();**

With "-Xint" I get:

With `-Xjit:count=0`, I get a much shorter stack trace:

[2018-12-07 16:00] llxia opened #3961 "Cannot load curl on aix71-p8-4"
Running test on `aix71-p8-4` and it failed with `Cannot load program curl `

https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/115/console
https://ci.eclipse.org/openj9/computer/aix71-p8-4/

[code]

[2018-12-07 16:00] llxia commented on #3961
fyi @jdekonin

[2018-12-07 16:01] llxia commented on #3961
Same with PR build: https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-aix_ppc-64_cmprssptrs-OpenJ9/329/console

[2018-12-07 16:15] jdekonin commented on #3961
Seems to work fine when I perform a command manually, as the same user id as the PR would use.

I have updated and rebooted the machine.  It online for work again.

[2018-12-07 18:00] mpirvu commented on #3526
Code notes:
A lot of the initialization happens in `onLoadInternal()`.
1) The JIT persistent memory is created
` initializePersistentMemory(jitConfig);`
2) The compInfo singleton is created:
`if (!TR::CompilationInfo::createCompilationInfo(jitConfig))`
3) Options are parsed and the global option objects are created:
`char *endJITOptions = TR::Options::processOptionsJIT(xjitCommandLine, jitConfig,

[2018-12-07 18:05] llxia commented on #3878
https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/12/tapResults/

[2018-12-07 19:53] jdekonin commented on #3947
Both osx1013-x86-3 & osx1013-x86-4 have been updated with the requested settings.

[2018-12-07 20:35] pshipton commented on #3945
fyi https://github.com/eclipse/openj9/pull/3950 which destroys all the shared caches at TEST_SETUP and TEST_TEARDOWN

[2018-12-07 20:37] ChengJin01 commented on #3851
Already fixed the code issue in changes (all failing test cases passed). Will create test cases for the case of interface and verify all JSR292 test cases in personal build.

[2018-12-07 21:15] yanluo7 commented on #3491
The fix for the aforementioned 2 problems is merged in pr 3293. These bugs are not CS specific and affect every platform and gencon. It should fix some existing CS problems including one reported by Jimmy on Power running SPECjbb2015. However, with this fix I can still see lambda test failing, and if I disabled the wrtbar versioning opt, the failure goes away. Andrew and I believe this opt is some

[2018-12-07 22:54] dmitry-ten opened #3968 "Server crash if Persistent CH table fetch unsuccessful"
Recently I started seeing the following crash:
[code]
It happens when JITaaS server tries to get a Persistent CH table for the first time, protobuf can't read it successfully, so it throws `StreamCancel` exception. Normally, such exceptions are handled by failing a compilation. However, since we recently moved CH table updates/fetches outside of `compile` method to `processEntry`, this exception i

[2018-12-07 22:54] dmitry-ten commented on #3968
@mpirvu fyi

[2018-12-07 23:49] mpirvu commented on #3968
I've seen these as well in my latest runs. We should catch all the remaining exceptions and return an error code (there are already 3 catch blocks doing so)

[2018-12-08 01:42] mpirvu commented on #3968
I get an exception even when reading the compilation request
[code]

Because
terminate called after throwing an instance of 'JITaaS::StreamCancel'

[2018-12-08 02:06] mpirvu commented on #3968
I another case with vlogs, client says
[code]
and server says
[code]
I cannot tell whether the server died first causing the read failure at the client or if the client had a read error, cancelled the stream and the server died because it cannot handle such exceptions.

[2018-12-08 21:16] huntc commented on #1371
We have been using `-XX:+UseContainerSupport` and then seeing the Linux OOM manager kill our container given that it exceeds the mem quota. My feeling is that our problem is in relation to this issue.

Is there any workaround while this issue continues to be debated? Thanks.

[2018-12-09 05:11] mpirvu commented on #1371
This issue was fixed by PR https://github.com/eclipse/openj9/pull/2546

Apart from the Java heap and the memory used by the JIT compiler, the JVM uses memory for other components as well: classes and other VM data structures, GC data structures, JIT persistent/runtime data structures. Any of these could have pushed the JVM over the container limits.
To diagnose this issue, my suggestion is to set

[2018-12-09 05:11] #1371 closed

[2018-12-09 05:19] huntc commented on #1371
Thanks @mpirvu - do you know if this fix is within the container I have?

[code]

It is hard to track back...

[2018-12-09 15:21] pe-st opened #3969 "System Property "os.version" shows unexpected version for macOS"
I'm using the macOS version of JDK 11.0.1 obtained form adoptopenjdk:

[code]

The System Property `os.version` is set to `18.2.0`, though I would have expected `10.14.1` (this is shown both by "About my Mac" and the Hotspot VM)

    $ java -XshowSettings:properties --version 2>&1 | grep -E "(java|os).(version|vendor) "
    java.vendor = Eclipse OpenJ9
    java.version = 11.0.1
    os.version = 18

[2018-12-09 15:42] pe-st opened #3970 "UnixOperatingSystemMXBean#getOpenFileDescriptorCount returns -1 on macOS"
I'm not sure if this is a bug or just something not clearly specified, but it's a behaviour different from Hotspot. Here's a small example class:

[code]

Here is the output from the Hotspot VM...

    $ java OsMxBean.java
    ofdc : 5 / Java Version 11 Oracle Corporation / OS Mac OS X 10.14.1

... and OpenJ9 VMs:

    $ java OsMxBean.java
    ofdc : -1 / Java Version 11.0.1 Eclipse OpenJ9 / OS Ma

[2018-12-09 21:11] fjeremic commented on #3969
@pdbain-ibm FYI.

[2018-12-10 01:11] mpirvu commented on #1371
Yes sr5fp25 has this fix.

[2018-12-10 12:56] keithc-ca commented on #3227
This should be fixed by https://github.com/eclipse/omr/pull/3295 (and https://github.com/eclipse/omr/pull/2830).

[2018-12-10 16:36] SueChaplain opened #3971 "Verify the build instructions for OpenJDK 11 on macOS"
After completing the OpenJDK 8 on macOS build instructions, I'm concerned that we have some missing content for the OpenJDK 11 instructions here: https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V11.md#macos

Preparation:
1. Although there are different Xcode versions and boot JDKs required, the following pre-reqs are not listed in the OpenJDK 11 instructions

[2018-12-10 16:36] pshipton commented on #3081
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs/95

[2018-12-10 16:38] pshipton commented on #3771
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_390-64_cmprssptrs/180

[2018-12-10 16:43] pdbain-ibm commented on #3969
Looking at this.  The OS version comes from OMR via a call to `uname()`, which returns the kernel information:
version=`Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64`
release=`17.7.0`

[2018-12-10 16:53] pdbain-ibm commented on #3969
We should use `syscall` on `kern.osproductversion` in `omrsysinfo.c`.

[2018-12-10 17:31] Mesbah-Alam commented on #3897
In STF, `subst` is used to substitute a file path that ends up being larger than 260 characters, on Windows : https://github.com/AdoptOpenJDK/stf/blob/21a60ab0fecaf127142882aa37ffce1cf9438fa4/stf.core/scripts/stf.pl#L345

It is also used in TestConfig settings.mk in multiple places: https://github.com/eclipse/openj9/blob/master/test/TestConfig/settings.mk

@jdekonin @renfeiw

[2018-12-10 17:32] fjeremic opened #3973 "Make use of the `align` utility from OMR instead of rolling out our own"
In eclipse/omr#3314 we added the `align` utility to align to powers of two. Searching the codebase for `~(` we can see there are a ton of locations in all code generators that roll out their own version of this. We should just use the OMR version instead.

[1] https://github.com/eclipse/openj9/blob/568b62097efcfddaee0b6e38b57574fec3949ee9/runtime/compiler/z/codegen/J9S390PrivateLinkage.cpp#L279-L2

[2018-12-10 17:35] AdamBrousseau commented on #3897
Is subst even required for a Cygwin environment?

[2018-12-10 18:38] llxia opened #3975 "-Xshareclasses:destroyAll should only apply if JDK_IMPL=openj9 or ibm"
`-Xshareclasses:destroyAll` is added by default for all JDK_IMPL.
https://github.com/eclipse/openj9/blob/82d9955f5b161cc1fb90742ca6d23272d929cbfe/test/TestConfig/settings.mk#L223

This caused `hotspot` test builds failure

[code]
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_x86-64_linux/95/console

[2018-12-10 18:38] llxia commented on #3975
fyi @renfeiw

[2018-12-10 19:03] DanHeidinga opened #3976 "IllegalArgumentException: Signal already used by VM or OS: SIGWINCH"
While trying to test the ammonite.io repl [1], OpenJ9 throws an IAE related to sun.misc.Signal and the use of SIGWINCH.  This is using the latest AdoptOpenJDK download: https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2018-12-10-06-38/OpenJDK8U-jdk_x64_linux_openj9_2018-12-10-06-38.tar.gz

Issue is blocking users from adopting OpenJ9: https://twitter.com/paul_snively/statu

[2018-12-10 19:03] DanHeidinga commented on #3976
FYI @babsingh If anything here jumps out at you...

[2018-12-10 19:19] babsingh commented on #3976
Currently, we don't have OMR support for `SIGWINCH`. I have a few bits (~8) remaining in the [32-bit signal flag](https://github.com/eclipse/omr/blob/master/include_core/omrport.h#L749-L779) in OMR. I will add support for `SIGWINCH`. fyi - @DanHeidinga

[2018-12-10 19:23] mpirvu commented on #3344
The shutdown message could check the inUse counter:
1) If this is 0, then delete the entire session
2) If this is not 0, then just set a flag into the session. Whoever brings the 'inUse' to 0 is responsible for deleting the session as well.

[2018-12-10 19:45] gita-omr commented on #2668
Please feel free to add links to my comment above.

[2018-12-10 20:29] Mesbah-Alam commented on #3897
@AdamBrousseau - good point!

I did some googling and found that From version 1.7.0, for Cygwin `PATH_MAX=4096`: https://cygwin.com/ml/cygwin-announce/2009-02/msg00018.html

Are we using Cygwin 1.7.0 or newer? If so, when we are on Cygwin environment, we do not need to use `subst` (in System test). I'll make the change and try a personal build to see how far I get... (I fear we will now break in T

[2018-12-10 20:30] theresa-m commented on #3768
Update: Java 12 builds with extensions commit 0b941d8 with this pr: https://github.com/eclipse/openj9/pull/3980

since then there looks to be more jcl changes around varhandles

fyi @keithc-ca

[2018-12-10 20:33] ChengJin01 commented on #3916
The backtrace in the core dump is as follows:
[code]
It looks like resolveInterfaceMethodRefInto() (where the assertion occurred) was invoked from JIT at jitGetImproperInterfaceMethodFromCP().

[2018-12-10 20:34] AdamBrousseau commented on #3897
OpenJ9 machines have 2.10.0
[code]

[2018-12-10 20:35] theresa-m commented on #3768
Update: Java 12 builds with extensions commit 0b941d8 (point when this issue was created) and probably later: #3980 is the pr for this (fyi @keithc-ca)

at the head of openj9-openjdk-jdk there are more compilation errors due to JEP 334 classes missing fyi @DanHeidinga @tajila @gacholio

[2018-12-10 20:51] Mesbah-Alam commented on #3897
And the Adopt machines? Can you find out the Cygwin version over there?

[2018-12-10 21:06] gacholio commented on #3916
@jdmpapin Can you have a look at this? The assertion is that we've resolved to a method which is not declared in an interface class, and is not declared in Object (the only two valid resolutions for an interface method).

[2018-12-10 21:18] AdamBrousseau commented on #3897
test-azure-win2012r2-x64-1
[code]

[2018-12-10 21:38] renfeiw commented on #3897
There are multiple places we are using subst in TKG, so it looks like we still need it.

[2018-12-10 23:09] JasonFengJ9 commented on #2452
It has been determined a no-op implementation is enough (will submit a PR to update the comment at `/j9vm/javanextvmi.c:JVM_InitializeFromArchive()`).

[2018-12-10 23:09] #2452 closed

[2018-12-10 23:22] babsingh commented on #3971
1. `gnu-sed 4.5` may not be needed. But, I would suggest the usage of `gnu-sed` over OSX's default `bsd-sed`. So, all needed: `autoconf, freetype 2.9.1, git 2.18.2, gnu-sed 4.5, pkg-config 0.29.2 and wget 1.19.5`.

2. Preparation Steps:
a. freemarker step w.r.t `--strip-components=2` is accurate. `gtar --help` shows that `--strip-components=2` is a valid option.
b.`dscl` steps are not needed.
c. `

[2018-12-10 23:39] babsingh commented on #3976
Fix: https://github.com/eclipse/omr/pull/3317
OpenJ9 JDK8 with the fix: [openj9_jdk8_linux_x86_sigwinch_support.zip](https://ibm.box.com/s/66ap1zmk2vp97o98vsxak8dt1cri6gd9)

[Ammonite-REPL](https://ammonite.io/#Ammonite-REPL) works with the above fix:
[code]

[2018-12-11 01:37] sergioag opened #3988 "MacOS: bootstrapping OpenJ9 JDK11 with OpenJ9 JDK11 fails with NPE"
Steps to reproduce:
1. Configure and build OpenJ9 using JDK10 as bootstrap JDK. Configure arguments: --with-freemarker-jar=/path/to/freemarker.jar --disable-warnings-as-errors --with-noncompressedrefs --with-boot-jdk=/Library/Java/JavaVirtualMachines/jdk-10.jdk/Contents/Home
2. Copy the bundle somewhere
3. Configure and build OpenJ9 using the JDK11 you just built. Configure arguments: --with-freem

[2018-12-11 01:43] fjeremic commented on #3988
@pdbain-ibm FYI.

[2018-12-11 05:20] #802 closed

[2018-12-11 05:20] #3049 closed

[2018-12-11 13:53] pdbain-ibm commented on #3988
FYI @JasonFengJ9 @pshipton

[2018-12-11 14:33] mstoodle commented on #643
Only 51 occurrences of *COMPRESSED* in the JIT that are in assembler files. Anything else I believe could just be taught to use a cached query result so I'm not particularly worried about them.

Of those 51, 10 are && J9VM_OPT_TENANT so presumably that's just dead code...

z seems to have the most occurrences(21), then p (11), then x (8) . But there are uses in macros that then spread throughout t

[2018-12-11 14:39] mstoodle commented on #643
From the JIT side, I would like to start moving forward with this work...I don't think it's a lot of work, but we can make progress on it even in the absence of the VM work to make the driving query truly dynamic. We'll try to wrangle up some people to start moving forward here.

[2018-12-11 14:42] DanHeidinga commented on #2049
These items still need to be completed in 0.12.0:

And this will investigated for 0.13.0:

@andrewcraik can you comment on when the directToJNI change will be complete?

[2018-12-11 14:46] charliegracie commented on #643
The first step on the VM/GC side would be to consolidate all of the build flags into a single build flag. Once this work is complete then it will be easier to design out what changes need to be made to make the decision at runtime. This work will need to be completed in the OMR repo as well since it knows about compressed references.

@mstoodle as part of the JIT work could the same build flag cle

[2018-12-11 14:56] mstoodle commented on #643
Yeah, I forgot to mention the multiple build flags because only `J9VM_INTERP_COMPRESSED_OBJECT_HEADER` is being used in the assembler files I was focusing on.

There's a lot of cpp/hpp code dependent on `J9VM_GC_COMPRESSED_POINTERS`. I don't see any reason this couldn't be unified on a single thing assuming we would never independently use compressed references without compressing the object heade

[2018-12-11 14:57] charliegracie commented on #643
Before we begin though I think there are some design decisions we should make.

In the future should OpenJ9 still be able to build a compressed references only build? ie not a runtime decision?  Should OpenJ9 be able to build a full 64 bit (non compressed) only build?

Depending on the answers to the above questions the solution may be more or less complicated to complete.

[2018-12-11 15:11] pshipton commented on #3957
Seems to be resolved by #3950

[2018-12-11 15:11] #3957 closed

[2018-12-11 15:12] pshipton commented on #3903
@Mesbah-Alam is this a test issue?

[2018-12-11 15:14] JasonFengJ9 commented on #3988
This appears another missing case for `MacOS`.
[code]

[2018-12-11 15:30] mstoodle commented on #643
Inside the JIT, I think we would move forward with two queries that would (at this point) simply be driven by #ifdef's on the two build flags (later to be transitioned to the actual cached dynamic test).

I'm not that worried about the additional library size if the build compiler cannot propagate the setting throughout the JIT code, though we've had to do that in other scenarios in the past (e.g.

[2018-12-11 15:38] pshipton commented on #3947
The test is still failing (osx1013-x86-3)
[code]

[2018-12-11 15:52] mstoodle commented on #643
How much impact do we think these dynamic tests will have on large heap scenarios where compressed references aren't viable? OpenJDK doesn't seem to believe that's an important case to optimize. Do we think the delta will be more than a few percent on applications that fall into this category?

[2018-12-11 16:18] pshipton opened #3994 "`jenkins compile xlinuxlargeheap jdk11` not working"
Seems `jenkins compile xlinuxlargeheap jdk11` isn't working.
https://github.com/eclipse/openj9/pull/3992#issuecomment-446262018

[2018-12-11 16:18] pshipton commented on #3994
@jdekonin

[2018-12-11 16:40] Mesbah-Alam commented on #3903
It seems to be an intermittent issue, and not a failure caused by a bug in the test itself.

The 5x grinder using openj9 sdk passed 100% : https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/980/

The test passes on hotspot too: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/982/console

[2018-12-11 16:42] DanHeidinga commented on #643
The impact will be largest during startup and during a GC cycle.

The startup cost can likely be alleviated by compiling 2 additional copies of the BytecodeInterpreter:
* compressedrefs
* compressedrefs debug
* default
* default debug
and using a value in the J9JavaVM to determine which interpreter to run.

To get a better handle on the startup cost we'll need to look at everywhere we differentiat

[2018-12-11 16:47] JasonFengJ9 commented on #3988
System property `awt.toolkit` is missing at `MacOS` as well.

[2018-12-11 17:05] sergioag commented on #3988
It seems that the correct value for "java.awt.graphicsenv" is sun.awt.CGraphicsEnvironment. But for "awt.toolkit" I'm not 100% sure, but the correct value seems to be "sun.lwawt.macosx.LWCToolkit"

[2018-12-11 17:12] JasonFengJ9 commented on #3988
That's correct according to `Oracle Mac JDK11+28`.
[code]

[2018-12-11 17:36] fengxue-IS commented on #3185
problem is related to invocation casting, OpenJ9 allows converting from Boxed `Byte.class` to primitive `char.class`. As per **JLS 5.12 -5.14 & 5.3**, `MH.invoke(...)` argument casting should only allow boxing/unboxing/widening operation (Byte -> char is combination of widening and narrowing)

[2018-12-11 17:36] #3976 closed

[2018-12-11 17:40] charliegracie commented on #643
It is likely going to be measurable in GC times with the simple solution of adding a runtime check. More complicated solutions likely involve compiling some of the GC infrastructure twice and depending on the VM option pick the right one. Depending on my question above in this [comment](https://github.com/eclipse/openj9/issues/643#issuecomment-446231718) the difficulty of these changes is quite di

[2018-12-11 17:44] vijaysun-omr commented on #643
@mpirvu FYI

[2018-12-11 18:11] JasonFengJ9 commented on #3988
@sergioag just realize that you made a PR for this issue as well. Probably I should make a note that I am working on this. Feel free to give PR #3998 a try.

[2018-12-11 18:20] avermeer opened #3999 "EclipseJ9 not implementing JEP 158"
Hello,

  While migrating my applications from ORACLE Java 8 to AdoptOpenJDK11 with EclipseJ9, I have been surprised to see that options related to verbose garbage collection are not working.
  I read that for Java version >8, anything related to garbage collection logging should rely on command line options documented in [JEP 158](https://openjdk.java.net/jeps/158).
  However, AdoptOpenJDK 11 wit

[2018-12-11 18:42] sergioag commented on #3988
@JasonFengJ9 don't worry. Yours is much better than mine anyway :) Will try and report.

[2018-12-11 18:44] #3587 closed

[2018-12-11 19:32] sergioag commented on #3988
@JasonFengJ9 it worked with your PR!

[2018-12-11 19:54] #3968 closed

[2018-12-11 20:00] mpirvu opened #4001 "Investigate increase in ResolvedMethod_getClassFromConstantPool messages"
After the latest marge of master into jitaas we saw that CPU consumption increased 2-3% and that ResolvedMethod_getClassFromConstantPool messages increased 4 times, becoming the most frequent type of message.
This issue will investigate the reason for such an increase.

[2018-12-11 20:00] mpirvu commented on #4001
@satbir-ca could you please investigate this issue? Thanks

[2018-12-11 20:07] jdmpapin commented on #3916
JIT is compiling `org/springframework/orm/hibernate3/LocalSessionFactoryBean.buildSessionFactory()Lorg/hibernate/SessionFactory;`

It's generating IL for an `invokeinterface` bytecode instruction with constant pool index 78, calling `org/hibernate/cfg/Mappings.addTypeDef(Ljava/lang/String;Ljava/lang/String;Ljava/util/Properties;)V`. The constant pool entry is unresolved, but its class ref isn't. T

[2018-12-11 20:16] gacholio commented on #3916
@jdmpapin Yes, I think you're right - I made sweeping changes to all of the resolve code recently so sanitize the notions of JIT compile time and exception throws, and I messed that one up. Moving the `goto done` outside of the throwException test certainly seems correct.

[2018-12-11 20:41] AlenBadel commented on #2994
Agreed. Closing this.

[2018-12-11 20:41] #2994 closed

[2018-12-11 22:09] 0dvictor commented on #3771
Further analyzed the trace logs, it turned out Global Value Propagation did the correct transformation, as the loop induction variable is indeed only updated once and hence can be turned into a constant.

The second interaction of the loop should exit due to a BNDCHK. Last tree containing this BNDCHK is before Last Loop Versioner Group:
[code]

`n1282n` is the BNDCHK that throws an exception when

[2018-12-12 02:34] smlambert commented on #3830
https://github.com/AdoptOpenJDK/openjdk-tests/pull/741

[2018-12-12 03:07] DanHeidinga commented on #3999
Expanding on @charliegracie's answer, some JEPs - in particular those that affect the Java language or VM specifications - are rolled up as part of JSRs that are submitted through the regular JCP processes.  Most commonly, JEPs are rolled up as part of the platform JSR - the JSR that defines a new Java release.

Command line options aren't covered by the specifications and as so JEPs that primaril

[2018-12-12 03:46] #3777 closed

[2018-12-12 03:57] pshipton commented on #3999
OpenJ9 has alternate options to enable gc logging, `-verbose:gc` https://www.eclipse.org/openj9/docs/cmdline_general/ and https://www.eclipse.org/openj9/docs/xverbosegclog/

There is also a tool (GCMV) that reads the GC logs and interprets them. https://publib.boulder.ibm.com/httpserv/cookbook/Major_Tools-Garbage_Collection_and_Memory_Visualizer_GCMV.html
https://www.ibm.com/developerworks/library

[2018-12-12 04:16] pshipton commented on #3822
@dmitripivkine can you please take a look.

This system sanity test appears the same issue
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-osx_x86-64_cmprssptrs/13
LambdaLoadTest_OpenJ9_NonLinux_0
[code]

[2018-12-12 09:33] avermeer commented on #3999
Hello,

Thank you very much for these clear answers: I was not aware of the optional nature of JEPs.

Our project does not deeply depends on JEP 158 command-line options for verbose GC : we can by-pass the HotSpot vs OpenJ9 command line different by using scripts that will call `java -version` in order to produce different arguments.

It's a minor pain, so if eventually OpenJ9 adopts (pun intended

[2018-12-12 12:54] ashu-mehra opened #4004 "Conditions for enabling IdleTuning options"
There are currently two IdleTuning options for GC which get enabled as follows (once #3228 is merged) :
1) `IdleTuningGcOnIdle`: it gets enabled as
[code]
2) `IdleTuningCompactOnIdle`: it gets enabled as
[code]

@DanHeidinga pointed that `CompactOnIdle` should also be enabled `if java version is 9 or above and -Xtune:virtualized is set as VM option`.
@vijaysun-omr has suggested to enabling idle tu

[2018-12-12 12:56] #3342 closed

[2018-12-12 12:56] #3779 closed

[2018-12-12 13:22] pshipton commented on #3771
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_ppc-64_cmprssptrs_le/168
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/163

[2018-12-12 13:28] pshipton opened #4005 "Test system Log4jContextFactory.getContext NullPointerException"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_x86-64/122
[code]

15.SCL1.stderr shows
[code]

[2018-12-12 14:02] pdbain-ibm commented on #3999
@charliegracie Can we map `-Xlog:gc*` to an equivalent OpenJ9 option in the VM argument processing code?
Even if it doesn't give exactly the same result, it avoids a launch error.

[2018-12-12 14:22] #3916 closed

[2018-12-12 14:50] pdbain-ibm commented on #3969
OMR pull request opened: https://github.com/eclipse/omr/pull/3327.

[2018-12-12 15:35] pshipton commented on #3885
Created https://github.com/eclipse/openj9-docs/issues/162

[2018-12-12 15:35] #3885 closed

[2018-12-12 16:04] renfeiw commented on #3897
The functional test builds have no issue on windows: https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK8-win_x86-64_cmprssptrs/380/

[2018-12-12 16:10] AdamBrousseau commented on #3897
I don't see `subst` mentioned in that console output. Is it being used? Can we see how it is being used?

[2018-12-12 16:14] pe-st commented on #3969
Great, thx!

[2018-12-12 16:20] renfeiw commented on #3897
It is used in TestConfig settings.mk in multiple places: https://github.com/eclipse/openj9/blob/master/test/TestConfig/settings.mk
For example https://github.com/eclipse/openj9/blob/82d9955f5b161cc1fb90742ca6d23272d929cbfe/test/TestConfig/settings.mk#L157

[2018-12-12 16:23] pshipton commented on #3778
@JasonFengJ9 any update?

[2018-12-12 16:24] pshipton commented on #3832
Looking at the latest build, all of these failures seem to be resolved except https://github.com/eclipse/openj9/issues/3778 so I will close this.

[2018-12-12 16:24] #3832 closed

[2018-12-12 16:39] JasonFengJ9 commented on #3778
@pshipton sorry, no progress due to other workload. Will give a update later of day.

[2018-12-12 16:51] AdamBrousseau commented on #3897
This usage looks different than the one that's failing in systemtest. Afaict this replaces characters in a variable. The systemtest is using it to create short dir paths.

[2018-12-12 17:14] llxia commented on #3777
Test is still excluded. It needs to be re-enabled:
https://github.com/eclipse/openj9/blob/08634cd4cc2a8cde1ad7172bf1a153f1bdb1140c/test/functional/Java8andUp/playlist.xml#L694
https://github.com/eclipse/openj9/blob/08634cd4cc2a8cde1ad7172bf1a153f1bdb1140c/test/functional/Java8andUp/playlist.xml#L724

[2018-12-12 17:42] dmitripivkine commented on #3822
This is `Type=Illegal instruction` in `Module=/usr/lib/system/libdispatch.dylib` for symbols `_dispatch_sema4_wait` and `_dispatch_sema4_signal`. I guess Scavenger is trying to synchronize threads and this library is not at expected place in memory.
I can not open link to the failed job at the moment

[2018-12-12 18:41] pdbain-ibm commented on #3777
@llxia Pull request https://github.com/eclipse/openj9/pull/4018 opened.
Would you kindly review and run an extended test suite on MacOS.

[2018-12-12 19:20] pshipton commented on #3822
@dmitripivkine eclipse ci is back up, the link works now.

[2018-12-12 19:54] #3955 closed

[2018-12-12 20:08] pdbain-ibm commented on #3325
Dumping the file on OpenJ9 gives:

on Hotspot:

[2018-12-12 20:23] jdekonin commented on #3947
@hangshao0 and I performed a test manually.  @hangshao0 had a theory that there was a nonpersistent cache already on the machine from a previous test run that had failed to be cleaned up.    The error when done manually was consistent with this failure.  Looking in an alternative cacheDir=/tmp shows there is an existing nonpersistent cache.

`DefaultLocationGroupAccessJavaWL3	Java11 64-bit  non-pe

[2018-12-12 22:06] keithc-ca opened #4024 "Dependent PR builds not working in extension repos"
See https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/79#issuecomment-446728813 where my comment

[code]

triggered a PR build, but *without* the dependent change from openj9.

Isn't this supposed to work in the extension repos, not just openj9?

[2018-12-12 22:12] pshipton commented on #4024
@jdekonin

[2018-12-13 00:12] huntc commented on #1371
Thanks for that @mpirvu.

So, given that we're using the fix that you referenced, here's a report from the Linux OOM reaper when things die for us:

[code]

It looks as though the problem occurs during a JIT on startup.

Here are the options we're using on startup:

[code]

[2018-12-13 03:52] #1769 closed

[2018-12-13 04:31] #3988 closed

[2018-12-13 11:42] pshipton commented on #3959
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_ppc-64_cmprssptrs_le/160

[2018-12-13 11:44] pshipton opened #4028 "Test-extended.functional-JDK11-win_x86-64_cmprssptrs cmdLineTester_modularityddrtests_1 !dumppackage"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-win_x86-64_cmprssptrs/98
[code]

[2018-12-13 12:33] pshipton opened #4029 "Cannot `jenkins compile win` from jdk11 extensions"
See https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/79

[2018-12-13 12:33] pshipton commented on #4029
@jdekonin

[2018-12-13 13:34] llxia commented on #3777
Thanks @pdbain-ibm.  #4018 is merged.

[2018-12-13 14:13] DanHeidinga commented on #3153
@andrewcraik @cathyzhyi Can you confirm the status of this item?  Is it still on target for the `0.12.0` release?

[2018-12-13 14:35] #3778 closed

[2018-12-13 14:42] pdbain-ibm commented on #3325
OpenJ9's String.coder is 1 (UTF-16), while Hotspot's is 0 (LATIN-1).
OpenJ9 does not enable string compression (`-XX:[+-]CompactStrings`) by default, while Hotspot does enable it.
When run with compression _enabled_, OpenJ9 produces the correct result, and Hotspot run with compression _disabled_ produces the incorrect result.

This appears to be a bug in the OpenJDK string coding class.

[2018-12-13 14:52] DanHeidinga commented on #3325
FYI @andrew-m-leonard - Can you follow up with the OpenJDK community on this test?  Based on @pdbain-ibm's analysis, the test appears to be incorrect.

[2018-12-13 16:00] keithc-ca commented on #4028
That is weird: the test passed in the PR build on pLinux and a manual test shows that package exported to ALL-UNNAMED on zLinux too. Anybody have any theories why Windows is different?

[2018-12-13 16:09] acrowthe commented on #4028
Pull request created that removes the test requirement that caused this failure.

Does not fix the underlying inconsistency, however.

[2018-12-13 16:20] pshipton opened #4035 "buildenv/jenkins/docker-slaves/x86/centos6.9 not working for gcc 7.3 install"
https://github.com/eclipse/openj9/tree/master/buildenv/jenkins/docker-slaves/x86/centos6.9

This step
[code]

results in
[code]

I believe it worked for me some weeks ago, so something has changed.

[2018-12-13 16:20] pshipton commented on #4035
@jdekonin @ktbriggs

[2018-12-13 16:30] Mesbah-Alam commented on #3897
I have removed the use of subst in `stf.pl` in my stf branch (Please see discussion here: https://github.com/AdoptOpenJDK/stf/issues/49).

Ran a Grinder in internal jenkins and it got passed the previous issue (seems to be working normally now): https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/1010/console

@AdamBrousseau - Are we using the same set of Windows machines in

[2018-12-13 16:37] jdekonin commented on #4035
@cwesMills, can you please perform a quick test on this to confirm?

[2018-12-13 16:39] jdekonin commented on #3897
Complete different machines, but setup with the same AdoptOpenJDK playbook as a guide.

[2018-12-13 16:53] Mesbah-Alam commented on #3897
Tested with a grinder in openj9 (seems to be working fine there too) https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/122/console

[2018-12-13 16:57] mpirvu opened #4038 "Time maintained by JITaaS server appears to be incorrect"
The time indicated by the JITaaS server for each compilation end appears to be much greater than the real value. At a cursory glance I do not see anything wrong with the code that maintains time, so there is a more subtle issue here.

[2018-12-13 17:00] mpirvu commented on #4038
@satbir-ca since you implemented the relevant feature could you please investigate this issue? Thanks

[2018-12-13 17:02] ChengJin01 commented on #1694
I already tried with Open Liberty 18.0.0.4 with the latest nightly build and Open Liberty 17.0.0.4 with latest build at https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u192-b12_openj9-0.11.0/OpenJDK8U-jdk_x64_linux_openj9_8u192b12_openj9-0.11.0.tar.gz but nothing wrong happened after restarting many times.

[code]

[2018-12-13 17:03] smlambert commented on #4035
We had to make a bunch of changes at adopt (URLs http to https recently), perhaps same is needed in this case.

I can access via browser:
https://people.centos.org/tru/devtools-2/6/x86_64/RPMS/repodata/repomd.xml
but not:
http://people.centos.org/tru/devtools-2/6Server/x86_64/RPMS/repodata/repomd.xml

[2018-12-13 17:05] DanHeidinga commented on #3483
Discussed with @keithc-ca & @mikezhang1234567890 We're going to enable the ddr blob generation on osx so that the blobs will be in cores for the `0.12.0` release.  This will allow us to read the 0.12.0 cores when the core reader becomes available as it doesn't need to ship with the release.

[2018-12-13 18:46] DanHeidinga commented on #3244
The 3 PRs have been merged.  Closing

[2018-12-13 18:46] #3244 closed

[2018-12-13 18:55] dmitripivkine opened #4039 "!snapformat doesn't work in OpenJ9 jdmpview"
Error executing DDR command !snapformat Snap.trc.fmt.txt : null
java.lang.reflect.InvocationTargetException
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)

[2018-12-13 18:55] dmitripivkine commented on #4039
@keithc-ca, @DanHeidinga  FYI

[2018-12-13 19:30] Mesbah-Alam commented on #3897
Grinder link for Adopt: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/582/console

[2018-12-13 19:31] ChengJin01 commented on #3917
Will investigate to see what happened to our code.

[2018-12-13 19:32] Mesbah-Alam commented on #3897
https://github.com/AdoptOpenJDK/stf/issues/49 has been merged. System tests are running fine on Windows now in Adopt, OpenJ9 and internal jenkins. This issue may be closed at this point.

[2018-12-13 19:37] #3897 closed

[2018-12-13 19:44] ktbriggs opened #4040 "Update and extend build environment setup and build instructions for OpenJ9"
This **epic** relates to developer build instructions for OpenJ9 as posted here https://www.eclipse.org/openj9/oj9_build.html and linked to from https://github.com/eclipse/openj9/blob/master/README.md _(Build Instructions)_.

Clear instructions are provided for setting up build environment with link to script for setting up [Ubuntu](https://github.com/eclipse/openj9/blob/master/buildenv/docker/jdk

[2018-12-13 20:33] DanHeidinga commented on #3743
@hangshao0 Any update on this?  We're getting close to the reality check date for the `0.12.0` milestone

[2018-12-13 20:35] DanHeidinga commented on #3333
@jdmpapin now that the omr change is merged, is there further work here?

[2018-12-13 20:36] DanHeidinga commented on #3491
@yanluo7 Any update on this fix?

[2018-12-13 20:38] DanHeidinga commented on #90
This won't complete in `0.12.0`.  Moving to `0.14.0`.  @dnakamura Can you update the timeline for when this will finish?

[2018-12-13 20:48] DanHeidinga commented on #3969
Closing as OMR fix has been merged.

[2018-12-13 20:48] #3969 closed

[2018-12-13 20:53] hangshao0 commented on #3743
Still writing the code. I guess it might take me 1 - 2 more days for the first set of VM code change. Once it is reviewed and merged, GC needs to change their code. Then VM can start storing the GC hints and enable this feature.

[2018-12-13 20:57] DanHeidinga commented on #3820
fyi @dmitripivkine

[2018-12-13 21:01] avermeer commented on #3636
Hello,

Is there any hope that this performance issue on Java crypto APIs will be fixed in OpenJ9  upcoming 0.12.0 release? it's quite an hard blocker for our adoption of J9 vs HotSpot...

Kind regards,
Alexandre

[2018-12-13 21:01] hangshao0 commented on #3743
I think we some new tests as well.

[2018-12-13 21:09] smlambert commented on #3830
yes, CS tests skipped on osx, sanity.system target is now running 'green'
https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.system-JDK11-osx_x86-64_cmprssptrs/15/tapResults/

[2018-12-13 21:12] dmitripivkine commented on #3820
This is a memory corruption most likely. Different threads are using different copyCache structures but all of them located close to each other (an array of them). The fact that all threads asserted here means that part of memory has been destroyed

[2018-12-13 21:20] AdamBrousseau commented on #4024
[code]
This is expected. I have seen this before. The PR is getting picked up. Because the OpenJ9 PR is changing code related to the pipeline, you need to launch the build from the OpenJ9 PR.

[2018-12-13 21:40] hzongaro commented on #2049
@DanHeidinga I'm looking at the directToJNI change for the JIT.  However, I'm unclear what the conclusion is about the desired behaviour.

I see that in the [comment above](https://github.com/eclipse/openj9/issues/2049#issue-328535791) and in pull request #3896, it's noted that the RI uses `!= 0` for the result of a `bool` JNI function.  However, this earlier [comment in pull request #3678](https:

[2018-12-13 21:57] tajila commented on #2049
@hzongaro Previously we incorrectly assumed that JNI truncation would be the same as the bytecode truncation. The correct behaviour for JNI boolean returns is `!= 0`. We made this change in https://github.com/eclipse/openj9/pull/3896

[2018-12-13 22:01] AdamBrousseau commented on #4029
Should be resolved temporarily.
https://github.com/eclipse/openj9/pull/4017 fixes the issue.

[2018-12-13 22:09] fjeremic commented on #3999
Not a fan of that because JEP 158 explicitly defines a structure output format, and if we output anything with `-Xlog` it should be in the same format, otherwise existing tools which rely on this will break.

[2018-12-13 22:12] fjeremic commented on #3636
The fix has landed in ibmruntimes/openj9-openjdk-jdk11. I think it should be available now. @pshipton can you confirm?

[2018-12-13 22:19] pshipton opened #4046 "Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs thrstatetest_0 test_cleanup hangs"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/17
[code]

[2018-12-13 22:19] pshipton commented on #4046
@llxia @babsingh

[2018-12-13 22:43] babsingh commented on #4046
I think the solution is `ulimit -c unlimited`. by default, core file size is set to 0 on macOS:
[code]

fyi - @jdekonin

**References:**
- https://stackoverflow.com/questions/2080918/where-are-core-dumps-written-on-mac
- https://stackoverflow.com/questions/9412156/how-to-generate-core-dumps-in-mac-os-x/12118329

[2018-12-13 22:44] babsingh commented on #3791
For the `core file not found` failure, I think the solution is `ulimit -c unlimited`. by default, core file size is set to 0 on macOS:
[code]

fyi - @jdekonin

**References:**
- https://stackoverflow.com/questions/2080918/where-are-core-dumps-written-on-mac
- https://stackoverflow.com/questions/9412156/how-to-generate-core-dumps-in-mac-os-x/12118329

[2018-12-13 22:47] AdamBrousseau commented on #4035
Seems to work fine in the Jenkins job, unless I'm not looking at the right spot.
https://ci.eclipse.org/openj9/job/PullRequest-Build-Jenkins-Agent-Container/17/consoleFull
[code]

[2018-12-13 23:45] #3344 closed

[2018-12-14 00:04] mpirvu commented on #4038
There was a mistake on my part: the time reported by the server is with respect to server start, not client start. Thus, if we start the server and then much later start the client, the timestamps reported by the server will appear large, but they are correct.

[2018-12-14 00:04] #4038 closed

[2018-12-14 03:14] huntc opened #4050 "JIT memory consumption appears to continue to be a problem with containers"
Despite the fix referenced by https://github.com/eclipse/openj9/issues/1371, we appear to continue to experience JIT memory consumption issues that lead to being killed by the Linux OOM manager.

I understand that we are using a distribution of OpenJ9 with the newly incorporated JIT memory management functionality:

[code]

Here is what the OOM manager reports when it kills our app (note that the

[2018-12-14 03:14] enasser commented on #3636
Yes @fjeremic Openssl support feature is merged. There were few build configuration issues while merging which is mostly fixed and the builds should be available soon. @pshipton please confirm.

[2018-12-14 03:16] huntc commented on #1371
Rather than continue describing my issue here, I've now opened up a new one so that it can be discussed in a stand-alone manner: https://github.com/eclipse/openj9/issues/4050

[2018-12-14 03:52] pshipton commented on #3636
@avermeer According to @sxa555 in Slack https://openj9.slack.com/messages/CBCEMDZE2, it seems the latest set of jdk11 nightly builds at AdoptOpenJDK.net should have openssl enabled and resolve this issue.

[2018-12-14 03:59] pshipton commented on #3636
Sorry, the dates of the AdoptOpenJDK builds are misleading. The latest build shows Dec 13 but is a build from the 10th according to the dates of the files. Please check the next nightly builds.

[2018-12-14 04:08] #4029 closed

[2018-12-14 04:09] DanHeidinga commented on #3999
Closing this as the question has been answered.  OpenJ9 doesn't intend to implement JEP 158 at this time.

[2018-12-14 04:09] #3999 closed

[2018-12-14 04:18] DanHeidinga commented on #4050
FYI @mpirvu

[2018-12-14 05:11] pshipton commented on #4035
I was copy & pasting the commands to a RHEL 6.10 (requested 6.9 but got 6.10) machine when the problem occurred, which I have done successfully before. Not sure why it doesn't work now. Tried a CentOS 6.9 machine and it did work there. Could there be something missing from the RHEL 6.10 machine?

[2018-12-14 05:52] AdamBrousseau commented on #4035
Not sure. Could try https as Shelley suggested. Any other ideas @cwesMills or @vsebe ?

[2018-12-14 11:42] ben-walsh opened #4053 "JTReg test fail - Windows : java/net/httpclient/ssltest/CertificateTest.java"
The test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/net/httpclient/ssltest/CertificateTest.java fails on Windows with a coredump ...
[code]

This occurs very infrequently (2 in 100 runs in job https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/581/consoleFull).

No such issue has been observed on Linux.

I've kicked off a repeat of the 100 iteration run re

[2018-12-14 12:00] ben-walsh opened #4054 "JTReg test fail - Windows : java/net/httpclient/InvalidInputStreamSubscriptionRequest.java"
The test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/net/httpclient/InvalidInputStreamSubscriptionRequest.java fails on Windows with a coredump ...
[code]

This occurs very infrequently (1 in 100 runs in job https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/589/consoleFull).

No such issue has been observed on Linux.

I've kicked off a repeat of the 100 it

[2018-12-14 12:19] pshipton commented on #3636
The builds for Dec 14 have openssl enabled, except on macOS.

[2018-12-14 13:08] hzongaro commented on #2049
Thanks for confirming, @tajila - I think that behaviour makes sense for JNI, given C/C++ semantics.

[2018-12-14 13:50] mpirvu opened #4055 "CPu utilization at the JITaaS server always appears 0"
The statistics thread at the JITaaS server is supposed to print various metrics that would indicate the health of the server. The CPU utilization of the server is always printed as 0.
The solution is for the server to compute the CPU utilization before printing it. For instance, the client JVM uses this in its sampling thread:
[code]

[2018-12-14 13:51] mpirvu commented on #4055
@satbir-ca could you please fix this?

[2018-12-14 13:54] vsebe commented on #4035
@pshipton - for RHEL you need to manually configure yum for CentOS devtoolset-2 repository. Create a file in `/etc/yum.repos.d/devtoolset-2.repo` with the following  content:

[code]

[2018-12-14 13:58] mpirvu opened #4056 "Lines printed by JITaaS health-check should not be interleaved"
The health check feature at the JITaas server periodically prints some information about the status of the server. Printing involves several lines of `TR_VerboseLog::writeLineLocked`
However, these lines could be interleaved with other lines printed by other threads. In order to keep the health information as a block one should use:
[code]

[2018-12-14 13:59] mpirvu commented on #4056
@satbir-ca since this is related to some code you recently delivered, please address this issue.

[2018-12-14 14:02] llxia commented on #3081
also seen this failure in PR build:
[code]
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-aix_ppc-64_cmprssptrs-OpenJ9/17/consoleFull

[2018-12-14 14:11] llxia commented on #2960
Similar case:
- TAP results are truncated at the test failure:
[code]
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-aix_ppc-64_cmprssptrs-OpenJ9/17/tapResults/

- console output shows a complete run
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK11-aix_ppc-64_cmprssptrs-OpenJ9/17/consoleFull

- failere test output from TestTargetResult.tap file:
[code]

[2018-12-14 14:54] mpirvu commented on #4050
I will look into it. @huntc could you please give me some details about your OS?
Also, do you allow the container to use swap?

[2018-12-14 15:16] ChengJin01 commented on #3917
I tried the test (printing the arguments.length) above with the latest nightly build on Java 8 and Java 11 as follows:
[code]
It seems Java 8 works good while Java 11 fails to generate the correct result

Looking at the generated bytecode in
[Script$Recompilation$1$13AAA$arglen.zip](https://github.com/eclipse/openj9/files/2680534/Script.Recompilation.1.13AAA.arglen.zip)
[code]
I suspect something

[2018-12-14 16:16] keithc-ca commented on #3483
ddrgen is having trouble with openj9/runtime/gc_structs/ClassLoaderClassesIterator.hpp:
[code]
That header file is included in multiple compilation units and the linker uses a single definition of the enum for the `_mode` field, but repeats the enum type declaration in j9gc29.dylib as if the source were (this illegal) code:
[code]
If I manually remove the resulting duplicate constants from `supers

[2018-12-14 16:38] jdekonin commented on #3791
Should be fine now.  jenkins user didn't have rights to /cores folder. `chown -R root:staff /cores`

[2018-12-14 17:41] #3975 closed

[2018-12-14 17:41] pdbain-ibm commented on #3154
Does this cover any unresolved issues or can we close it?

[2018-12-14 18:31] hangshao0 commented on #3743
BTW, I will be on vacation from Dec 28 to Jan 20 (inclusive)

[2018-12-14 18:53] llxia commented on #3771
MauveSingleThreadLoadTest is temporarily excluded in https://github.com/AdoptOpenJDK/openjdk-tests/pull/746

[2018-12-14 18:54] hangshao0 commented on #3333
The error above is machine issue on non-persistent cache. The default cache type is persistent on OSX.

[2018-12-14 19:15] jdekonin commented on #3947
All 4 machines have been updated according to suggestion as well as rebooted.

[2018-12-14 19:38] huntc commented on #4050
This is running on Cisco's IOx, which is a Yocto build. I don't believe swap is being used. From inside the container:

[code]

[2018-12-14 19:39] JasonFengJ9 commented on #3970
Will have a look.

[2018-12-14 22:56] babsingh commented on #3878
https://github.com/eclipse/omr/pull/3356 fixes this. still need to perform in-depth testing.

[2018-12-14 22:57] babsingh commented on #3822
https://github.com/eclipse/omr/pull/3356 may fix this. need to verify if the fix works.

[2018-12-14 23:08] babsingh commented on #4046
From https://github.com/eclipse/openj9/issues/3791#issuecomment-447380196:

[2018-12-14 23:12] babsingh commented on #4046
After fixing the above permission's issue, a hang is seen during generation of core file:
[code]

The above stack is similar to https://github.com/eclipse/openj9/issues/3822. The issue is related to the usage of semaphore: `libdispatch.dylib _dispatch_semaphore_signal_slow`. https://github.com/eclipse/omr/pull/3356 may fix the hang.

[2018-12-14 23:26] AdamBrousseau opened #4063 "Discuss changing xlinux Jenkins machines to RHEL/CentOS 6 instead of Ubuntu 16"
Currently, our Softlayer Linux x86-64 machines are Ubuntu 16.04. These have a glibc level of 2.23. Generally we try and compile on the lowest glibc level so our binaries will run across all supported OSs. While OpenJ9 does not ship it's own binaries, developers still occasionally pull builds from the CI server for further testing and investigation.

RHEL 6 or CentOS 6 has a glibc level of 2.12. Th

[2018-12-15 01:11] pshipton commented on #3270
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/111
DaaLoadTest_daa2_0
[code]

[2018-12-15 01:13] pshipton commented on #3081
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/158
org.openj9.test.attachAPI.TestAttachErrorHandling.testPrematureSocketClose
`com.sun.tools.attach.AttachNotSupportedException: acknowledgement timeout from 15401042 on port 48951`

[2018-12-15 01:16] pshipton opened #4064 "Test-sanity.system-JDK8-linux_x86-64_cmprssptrs LambdaLoadTest_OpenJ9_Linux_CompressedRefs_0 hang"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/165
[code]

[2018-12-15 01:20] pshipton commented on #4063
@DanHeidinga @andrewcraik

Seems fine to me, as long as the compiler levels remain the same.

[2018-12-15 01:30] pshipton opened #4065 "The jdk12 extensions repo is created, add support for builds"
https://github.com/ibmruntimes/openj9-openjdk-jdk12 is created, support for builds is required.

[2018-12-15 01:31] pshipton commented on #4065
@AdamBrousseau @jdekonin

[2018-12-15 18:03] urisimchoni opened #4069 "Cannot wrap Object.notify() with a JVMTI agent"
With a JVMTI agent, it's generally possible to replace or wrap native methods using the NativeMethodBind event. When running on OpenJ9, I can't seem to do so for java.lang.Object.notify().

The NativeMethodBind even is invoked whenever a native method is bound to a class. My expectation is that the agent gets a notification for all native method of all loaded classes. However, I don't seem to be g

[2018-12-15 19:06] mpirvu commented on #4050
I am not familiar with Yocto; I see it targets the embedded landscape.
Nevertheless, could you please add `-Xjit:verbose={compilePerformance},vlog=pathToYourVlogFile` to the Java command line options, run your test and send me the verbose file that gets generated?
To avoid generating a new image you could pass options through IBM_JAVA_OPTIONS environment variable. For instance:
docker run `-e IBM_

[2018-12-16 04:16] DanHeidinga commented on #4063
* Will this segregate our machines into two pools: build, & test?
* Will all the CentOS 6 build machines be located at UNB?  How does this effect the network traffic to / from UNB given we don't wan to monopolize their pipe.  Question may be moot unless we have other pools of machines as the intention is to give back the Softlayer linux machines once we're transitioned to the UNB machines.
* Is th

[2018-12-16 22:04] gacholio commented on #4069
notify() is not a JNI native, so NativeMethodBind is cannot be sent for it (the address we'd have to give out for the original native is not JNI-callable, so it could not be wrapped).

It should be possible to wrap the native using native method prefixing instead.

I'll discuss the possibility of fixing this with @DanHeidinga in the new year.

[2018-12-17 13:37] pdbain-ibm commented on #2872
Pull request for jitbuilder changes opened: https://github.com/eclipse/omr/pull/3360.  Tested in personal build on all platforms.

[2018-12-17 13:47] andrewcraik commented on #4063
A consistent environment seems like a very good idea to me. How are we picking the OSes for the test pool? Too much breadth may reduce reproducibility...

[2018-12-17 15:21] ben-walsh commented on #4053
1 of the 100 run in the job https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/600 produced a coredump. This should be present in the kept workspace.

[2018-12-17 15:49] dmitripivkine commented on #4053
There is `InaccessibleReadAddress=0000000099669976` and `RAX=0000000099669966`contain J9class eye catcher. So most likely j9class is treated as an object somewhere and this is an attempt to read slot `superclasses` from j9class

[2018-12-17 16:03] dnakamura commented on #2813
So the problem is essentially this:
On NUMA aware GCs we will get an allocation pool from whichever numa node  the current thread is running on.  We then set that threads affinity, so that it will only run on cpus from that numa node. New threads inherit their parents affinity (a behaviour we don't want in this case) , hence why we save the affinity mask of the startup thread, and attempt to apply

[2018-12-17 16:23] yanluo7 commented on #3491
Working on a fix to limit wrtbar versioning in loop versioner to be less agressive, it's being PR'd.

[2018-12-17 16:30] pdbain-ibm commented on #2872
The JIT makefiles have been updated.  Please close this issue unless there are other components which require changes.
Thank you.

[2018-12-17 16:50] pshipton commented on #3959
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_ppc-64_cmprssptrs_le/162
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_ppc-64_cmprssptrs_le/164

[2018-12-17 16:58] fjeremic opened #4073 "Verify if #4049 is a problem on Z"
As part of #4049 @dsouzai has identified during some of his AOT work that the array store check evaluation is producing a sub-optimal sequence on x86. Please see the aforementioned PR for details on what the sequences is and what it should be.

We should check the Z codegen to see what we generate and to see if we have a similar problem, and if so we should fix it in the same manner as #4049. Firs

[2018-12-17 17:11] fjeremic commented on #4073
@r30shah FYI.

[2018-12-17 17:12] AdamBrousseau commented on #4063
Yes, Build & Test and Test only

My understanding was once UNB machines are stable and at minimum capacity we would return the Softlayer (UB16) machines. Network traffic would be unaffected unless we were to have machines not at UNB, then the jobs that land outside UNB would reduce the UNB traffic.

We sent a Power server to UNB, so we could move those compiles to Cent7 once we start creating thos

[2018-12-17 18:30] mleipe commented on #4063
Yes, the goal is to use the Ansible playbooks from Adopt to configure machines at Eclipse OpenJ9, too.

[2018-12-17 18:45] JasonFengJ9 commented on #3970
This failure was due to missing `Mac OSC` implementation to get open file count. Submitted a PR https://github.com/eclipse/omr/pull/3363.

[2018-12-17 18:48] JasonFengJ9 commented on #3909
Will have a look.

[2018-12-17 18:58] pdbain-ibm commented on #3839
I will investigate.

[2018-12-17 19:31] dnakamura commented on #3370
The root of the problem is that there are a number of places where code is wrapped in ifdefs for OSX regardless of if its an OSX specific change or a change for bsd-like operating systems.  That being said it wouldn't be terribly hard to go through and fix things, it's just not a triviy task

[2018-12-17 19:33] DanHeidinga commented on #2872
Thanks @pdbain-ibm

[2018-12-17 19:33] #2872 closed

[2018-12-17 19:58] Mesbah-Alam opened #4078 "System test fails to compile on osx1011-x86-1 but compiles on osx1011-x86-2"
System test fails to compile on [osx1011-x86-1](https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-osx_x86-64_cmprssptrs/19/consoleFull) but compiles on [osx1011-x86-2 ](https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-osx_x86-64_cmprssptrs/18/consoleFull)- the two machines should have the same behaviour but they do not.

Also, on osx1011-x86-1, we see one additional error: `

[2018-12-17 19:58] Mesbah-Alam commented on #4078
FYI .. @pshipton @AdamBrousseau

[2018-12-17 20:05] pshipton commented on #3839
Not sure if this problem still occurs, but if it does then it is intermittent. i.e. it did not occur last night https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/21
[code]

[2018-12-17 20:09] pshipton commented on #3839
There was a similar failure here https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/16

[2018-12-17 20:47] pshipton opened #4080 "No functionality PR builds for osx jdk8"
It seems there are no funtionality PR builds for osx jdk8. i.e. https://github.com/eclipse/openj9/pull/4079#issuecomment-447992461

As osx jdk8 is a target for the 0.12.0 release, having PR builds is required to ensure that changes are good.

[2018-12-17 20:47] pshipton commented on #4080
@AdamBrousseau

[2018-12-17 20:57] pshipton commented on #3878
@llxia can you exclude the thrstatetest_0 test please. It is the only remaining sanity failure. We have this Issue in the milestone plan to resolve the problem.

[2018-12-17 21:49] acrowthe opened #4083 "Valhalla LWVT: Changes requiring further Q type specifications"
Several areas are lacking value type support due to a lack of specification. Those that have been noted are:
1) https://github.com/eclipse/openj9/blob/master/runtime/jcl/common/reflecthelp.c
Currently, the function `classForSignature` does not support value types. This is as it is unknown whether Q and L types will share a ramClass or not.

2) https://github.com/eclipse/openj9/blob/master/runtime/

[2018-12-17 21:58] acrowthe commented on #1389
The `internalFindArrayClass` method in `classsupport.c` will need to be revisted while flattenable arrays are being implemented.
https://github.com/eclipse/openj9/blob/master/runtime/vm/classsupport.c

[2018-12-17 22:12] JasonFengJ9 opened #4084 "OpenJ9 (Linux) JVM opens more files than RI"
Discovered during investigation of https://github.com/eclipse/openj9/issues/3970.

The test code within that issue produces following results for OpenJ9:
<pre>
openjdk version "1.8.0_192"
OpenJDK Runtime Environment (build 1.8.0_192-201812170453-b12)
Eclipse OpenJ9 VM (build master-f9ab45bfe, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20181217_142 (JIT enabled, AOT enabled)
OpenJ9   - f9ab

[2018-12-17 23:06] avermeer commented on #3636
Hello,

I have bad news : we ran tests with the latest AdoptOpenJDK11 with OpenJ9 builds, and it shows this performance issue has not been fixed.
Let me give details below, please let me know if I was mistaken somewhere.

These tests are based on the same TestCrypto.java sample code which I shared while opening this ticket.

As a reminder, with October AdoptOpenJD11 with HotSpot we had:

Hotspot :

[2018-12-17 23:45] pshipton commented on #3636
@enasser can you please take a look

[2018-12-18 00:15] pshipton commented on #3636
I tried running TestCrypto with `-Djdk.nativeCryptoTrace=true` and got the following.
[code]

There doesn't seem to be any debug option to tell us why it failed, but I tried loading the crypto library and got `Exception in thread "main" java.lang.UnsatisfiedLinkError: jncrypto (libssl.so.1.1: cannot open shared object file: No such file or directory)`
Indeed `libssl.so.1.1` is not included in the

[2018-12-18 00:41] pshipton commented on #3366
@llxia DDR is now partially enabled for osx so I think the tests should compile now. The tests still cannot run until #3483

[2018-12-18 00:54] pshipton commented on #2209
Reopening to track the excluded test.

[2018-12-18 01:07] pshipton commented on #3970
@JasonFengJ9 do we have a test for getOpenFileDescriptorCount()? Either there isn't one and it should be added, or it isn't running for some reason and we should get it enabled.

[2018-12-18 01:50] AdamBrousseau commented on #4080
They were there, stopped triggering at one point for some reason. Re-save seemed to do the trick,

[2018-12-18 02:47] AdamBrousseau commented on #4078
@Mesbah-Alam I think PR209 got us past the first compilation error. Rebuild on the same machine [here](https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-osx_x86-64_cmprssptrs/20/consoleFull). Still fails for the same reason but further along. Is there another instance in your code where you're missing a whitespace?

[2018-12-18 03:02] JasonFengJ9 commented on #3970
@pshipton It doesn't appear there is a test for `com.ibm.lang.management.internal.UnixExtendedOperatingSystem.getOpenFileDescriptorCount()`, will add one a bit later.

[2018-12-18 03:10] pshipton commented on #4080
The sanity tests are not running, just the compile. See https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-osx_x86-64_cmprssptrs-OpenJ9/37/console

[2018-12-18 03:50] pshipton commented on #3820
Also occurs on jdk8 as a hang
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-osx_x86-64_cmprssptrs/4

[code]

[2018-12-18 04:01] AdamBrousseau commented on #4080
Fixed. TEST_TARGET was missed when the job was added.

[2018-12-18 04:06] #4080 closed

[2018-12-18 05:31] ChengJin01 commented on #3917
I didn't spot any fundamental difference in our code following the calling path of invokeDynamic from the native to jcl against the generated code of the test above.
[bytecode_arglen_jdk8.zip](https://github.com/eclipse/openj9/files/2688949/bytecode_arglen_jdk8.zip)
[bytecode_arglen_jdk11.zip](https://github.com/eclipse/openj9/files/2688950/bytecode_arglen_jdk11.zip)

So I changed to the test code

[2018-12-18 12:19] pshipton opened #4088 "AIX disk space problem, cores generated by extended.system tests"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-aix_ppc-64_cmprssptrs/105
aix71-p8-3
[code]

[2018-12-18 12:19] pshipton commented on #4088
@AdamBrousseau

[2018-12-18 12:24] pshipton opened #4089 "Test-sanity.functional linux_390-64_cmprssptrs J9vmTest J9vmTest_4 UnsafeArrayGetTest"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-linux_390-64_cmprssptrs/526
[code]

[2018-12-18 12:31] pshipton opened #4090 "Test-extended.functional-JDK11-osx_x86-64_cmprssptrs testSoftMxDisclaimMemory Heap can't shrink"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-osx_x86-64_cmprssptrs/20
testSoftMxDisclaimMemory_2
testSoftMxDisclaimMemory_LP4k_2
[code]

[2018-12-18 12:31] pshipton commented on #4090
@dmitripivkine

[2018-12-18 12:33] pshipton commented on #4090
Maybe related, failed in the same suite
j9vm.test.softmx.SoftmxAdvanceTest.testDisclaimMemoryEffects
[code]

[2018-12-18 12:36] pshipton commented on #4089
Caused by https://github.com/eclipse/omr/pull/3337 I believe

[2018-12-18 12:43] pshipton opened #4091 "Test-sanity.system-JDK8-osx_x86-64_cmprssptrs MauveSingleInvocationLoadTest_0 MauveMultiThreadLoadTest_0"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-osx_x86-64_cmprssptrs/5
Similar failure for both tests `_RegisterApplication(), FAILED TO establish the default connection to the WindowServer, _CGSDefaultConnection() is NULL.`

[code]

[2018-12-18 12:43] pshipton commented on #4091
@Mesbah-Alam seems more like a test problem than OpenJ9 problem.

[2018-12-18 13:30] AdamBrousseau commented on #3771
Is the machine (ub16-x86-1) still required for debugging or can it be re-enabled in the Jenkins machine pool?

[2018-12-18 13:38] pshipton opened #4092 "OpenSSL testing to confirm OpenSSL natives are being loaded"
As per https://github.com/eclipse/openj9/issues/3636#issuecomment-448048339, OpenSSL support may be silently failing. There should be a test, likely using the `-Djdk.nativeCryptoTrace=true` option, to confirm the natives are being loaded as expected.

[2018-12-18 13:38] pshipton commented on #4092
@enasser @smlambert

[2018-12-18 13:46] pshipton commented on #3636
The fix https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/83 is merged. Will check the next Adopt build to confirm.

[2018-12-18 13:53] pshipton commented on #4088
Should the cleanup run at night before the nightly builds?

[2018-12-18 14:05] AdamBrousseau commented on #4088
Current schedule is daily at 8:00am, 12 noon, 4:00pm, 11:00pm. Keep in mind, this is only a backup cleanup as all the jobs will cleanup after themselves unless there is a hard kill (machine goes offline, someone forcibly kills)

[2018-12-18 14:15] pshipton commented on #3636
Built on xlinux myself to check. libssl.so is not longer a prereq of libjncrypto.so
Running TestCrypto with `-Djdk.nativeCryptoTrace=true` results in the following, now correct, behavior.
[code]

Not sure time to run the test is improved. I got about the same results with and without `-Djdk.nativeCrypto=false`, but I'm using a cloud machine so results may vary.

[2018-12-18 14:19] pshipton commented on #4088
Seems something isn't working, as this problem keep popping up every week or two. Closing this one, until next time.

[2018-12-18 14:30] ben-walsh commented on #4053
Seems KEEP_WORKSPACE parameter doesn't work as I expected. Stewart created a modified grinder job to test with, which should hopefully keep the coredumps. Running same parameters with this - https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/7

[2018-12-18 14:38] JasonFengJ9 commented on #3771
@AdamBrousseau the investigation hasn't finished, JIT might still collect JIT log if required, @0dvictor , please advise if otherwise.

[2018-12-18 14:39] ben-walsh commented on #4054
KEEP_WORKSPACE doesn't work as expected. Rerunning using modified test grinder to hopefully obtain the coredumps - https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/8

[2018-12-18 14:56] mpirvu opened #4093 "JITaaS client should perform synchronous compilations locally"
For synchronous compilations the application needs to wait for the compilation result, therefore the latency of such compilations is crucial for performance. Since remote compilations (performed at the server) have much higher latency due to network communication, it may be beneficial to schedule these synchronous compilations at the client instead. However, this cancels the advantage of JITaaS, n

[2018-12-18 14:57] Mesbah-Alam commented on #4078
@AdamBrousseau - yes, same issue happened in another place. I'll fix that one. However, the issue still remains as to why the absence of whitespace after `-o` only causes compile failure on `osx1011-x86-1` while it works on the other osx machines.

[2018-12-18 15:16] ben-walsh opened #4094 "JTReg test fail - java/rmi/server/UnicastRemoteObject/unexportObject/UnexportLeak.java"
The test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/rmi/server/UnicastRemoteObject/unexportObject/UnexportLeak.java has intermittent failures.

It will sometimes coredump with following ...

[code]

From this run there is a 33/100 occurrence rate - https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/5

Coredump files from that run : https://ibm.

[2018-12-18 15:31] smlambert commented on #4054
test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/744

[2018-12-18 15:33] smlambert commented on #4094
test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/754

[2018-12-18 15:56] AdamBrousseau commented on #4078
[code]
[code]
cc @cwillhelm

[2018-12-18 16:03] ashbm5 commented on #3636
The reason for the slowdown when compared to hotspot is that the OpenSSL functionality that was added to OpenJ9 doesn't support RSA yet. As announced, the following algorithms use OpenSSL: AES/GCM, AES/CBC and SHA* hashing routines.

You do notice a very small perf. gain when enabling OpenSSL support as compared to disabled OpenSSL due to the perf. increase of the AES/CBC algorithm in your benchma

[2018-12-18 16:24] Mesbah-Alam commented on #4078
@AdamBrousseau - white space has been added : https://github.com/eclipse/openj9-systemtest/pull/58

System test now builds fine in osx1011-x86-1 : https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/127/consoleFull

[2018-12-18 16:34] pshipton commented on #2838
Given where this is at, and the upcoming vacations and absences, I'm guessing this won't make the 0.12 release. I've moved it out of the 0.12 milestone and into the 0.14 milestone to reduce the size of the 0.12 milestone. If it does happen to make it into the 0.12 release, we can fix the target milestone.

[2018-12-18 16:45] pshipton opened #4098 "Windows OpenJ9 builds of JDK10/11 not working after jlink'ing from linux"
Originally reported via https://github.com/AdoptOpenJDK/openjdk-build/issues/807

copied here:

Platform:
Windows

Architecture:
x64

Please describe the issue that you are having with our binaries and if possible how to recreate it.

I'm trying to jlink a windows JRE from my linux. Using both JDK10 and JDK11 builds (OpenJ9) this seems to produce a VM which is not healthy.

Running this on my linu

[2018-12-18 16:48] pshipton commented on #4089
Fix is https://github.com/eclipse/omr/pull/3370

[2018-12-18 16:57] dmitripivkine commented on #4090
Failure
[code]
means released memory does not increase available free memory from OS (returned by ibmOSMBean.getFreePhysicalMemorySize()). This test is known for unreliability.
To improve an investigation possibilities in case of failure this test suppose to generate set of cores:
[code]
but it failed:
[code]
because of running test with `-Xdump:none` (why?!)

Theoretically it is possible to verif

[2018-12-18 17:14] ben-walsh opened #4100 "JTReg test fail - Linux PPC64 : java/util/Arrays/largeMemory/ParallelPrefix.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/Arrays/largeMemory/ParallelPrefix.java fails intermittently with something similar to the following ...

[code]

The index where the value differs from expected seems to be random.

This run shows a failure rate of 18/100 - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/612

This problem has not been

[2018-12-18 17:17] 0dvictor commented on #3771
Sorry we are still investigating the issues and hence may still need the machine.

[2018-12-18 17:18] enasser commented on #4092
@pshipton  @smlambert  A simple test could be as follows. It will throw USLE if there is a failure. In the automated testcase, we can catch the exception and assert failure.

[code]

[2018-12-18 17:30] enasser commented on #4092
Another interesting observation is that in my x64 linux system, it did not create the dependency to libssl library even though we used -lssl. Looks like the linker ignore the dependency as no symbols from libssl is used by libjncrypto. Hence, the builds from the local system did not fail in the above test.

With AdoptOpenJDK build:
[code]
With local build:
[code]

[2018-12-18 17:34] fjeremic commented on #4089
Both statements by Peter above are correct. I've verified the fix is working as intended.

[2018-12-18 17:46] llxia commented on #3841
Dup of #4090

[2018-12-18 17:46] #3841 closed

[2018-12-18 18:03] enasser commented on #3636
As @ashbm5 explained above the current openssl support did not help to improve the performance of the scenario in test case TestCrypto. Both Openj9 JDK 8 and JDK 11 giving similar results with OpenSSL support while testing with TestCrypto. Need to include the corresponding algorithm with OpenSSL support in order to fix this performance gap.

[2018-12-18 18:19] llxia commented on #4090
I did not see `-Xdump:none` is set in this test. @dmitripivkine where did you see this option being passed in?

Found earlier conversation #1470, GC log was added in #1504 and the checks for free memory return to OS was removed in #3304. But we only changed `testSoftMxDisclaimMemory_GC`. There are several `testSoftMxDisclaimMemory*` tests in playlist.xml.

I will add the GC log for now.

[2018-12-18 18:19] avermeer commented on #3636
Hello @enasser ,

Thank you (and the other involved developers) very much for your tenacious attempts to get this issue fixed.
And please apologies for this trivial question: would it be affordable to get this performance issue resolved in time for 0.12.0 release?

Kind regards,
Alexandre

[2018-12-18 18:35] dmitripivkine commented on #4090
[code]

[2018-12-18 20:02] pshipton commented on #4092
The OpenJ9 nightly build is the same as the local build, seems the problem only occurrs with Adopt builds.

[2018-12-18 20:04] #3333 closed

[2018-12-18 20:20] AdamBrousseau commented on #4078
Can this be closed then?

[2018-12-18 20:20] llxia commented on #4090
ah, i see. It is hardcoded `-Xdump:none` in the command. I am not sure what was the reason for setting it initially. I will remove it.

[2018-12-18 20:23] pshipton commented on #4088
and yet it works for a week or two at a time. Should the machines just be restarted every weekend?

[2018-12-18 20:42] AdamBrousseau commented on #4088
Ideally no, but if there's space not getting reclaimed then perhaps some kind of check or auto-restart. How have the number of failures on AIX been lately? If they go up and down I could see the high times being more hungry for disk space?

[2018-12-18 20:44] Mesbah-Alam commented on #4078
Have we resolved the difference in configuration in the failing machine to the one where it doesn't fail? Do we need to have same configuration for all machines?

[2018-12-18 20:47] ashbm5 commented on #3636
@avermeer - we will try our best but no promises.

[2018-12-18 20:51] 0dvictor opened #4108 "Concurrent Scavenge support on X86"
#3054 and #3338 have brought Concurrent Scavenge support on Linux X86-64 specs, this Issue is to expand the support to Windows X86-64 specs, namely win_x86-64.spec and win_x86-64_cmprssptrs.spec.

List of works:

[ ] Remove hard-coded machine base pointer address from JIT;
[ ] Correct stack shape when calling into concurrent scavenge related helpers;
[ ] Fix C interpreter stack frame on X86-64 Win

[2018-12-18 20:55] 0dvictor commented on #4108
Note that #4101, #4106, and #4107 are not related to concurrent scavenge; they are existing issues exposed under concurrent scavenge mode.

[2018-12-18 20:59] cwillhelm commented on #4078
It looks like these machines have a different version of LLVM based on @AdamBrousseau's comment above. Configuring LLVM wasn't part of the configuration steps for these machines, so it must just happen that one has a more recent patch than the other. If that _isn't_ the issue, then I'm not sure what it could be.

[2018-12-18 21:02] Mesbah-Alam commented on #4078
Since the tests have been updated and tested to run successfully on that particular failing machine, this should no longer be a build blocker. So, I don't have any objection closing the issue at this point -- if you are okay to go forward with the exception.

@AdamBrousseau @cwesMills

[2018-12-18 21:09] Mesbah-Alam commented on #4091
Running Grinder on internal osx machine yields no crash, but test failure such as :

[code]

[code]

[code]

Will run grinder on openj9 to see if the same issue is reproduced.

[2018-12-18 21:21] JasonFengJ9 commented on #3970
@pe-st please be advised that a fix (https://github.com/eclipse/omr/pull/3363) has been merged, this issue will be closed when an automated test is added.

[2018-12-18 21:30] pshipton commented on #3970
The fix is in omr which is currently blocked in promotion. Until the omr promotion problem is fixed, the fix will not affect OpenJ9 builds.

[2018-12-18 21:40] pshipton commented on #4078
@DanHeidinga fyi
I think we'd prefer to have the same configuration across machines.

[2018-12-18 21:47] pshipton commented on #4088
https://github.com/eclipse/openj9/issues/3081 fails occasionally. I don't think there are any other regular failures in the nightly builds. Not sure about omr acceptance.

[2018-12-18 22:02] pshipton commented on #4088
I downloaded the results file and it appears there were some failures in this test run which I hadn't seen, DAA and softmx. There are quite a few core files making the uncompressed result file ~40GB.

[2018-12-18 22:23] Mesbah-Alam commented on #4091
Same locale issue as https://github.com/eclipse/openj9/issues/4091#issuecomment-448371280  reproduced using openj9 grinder too: https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/129/tapResults/

[2018-12-18 22:45] pshipton commented on #4088
@Mesbah-Alam I think you'd better take a look at this. In the test results there are core files in the directories for the following tests, however the tests did not fail.

DaaLoadTest_all_0
SharedClassesWorkloadTest_Softmx_Increase_0
SharedClassesWorkloadTest_Softmx_IncreaseDecrease_0
SharedClassesWorkloadTest_Softmx_Increase_JitAot_0

For the DaaLoadTest I'm not sure why the core file was genera

[2018-12-19 03:55] pshipton opened #4113 "Gradel project build fails with sealing violation when -Xshareclasses is enabled (JDK11)"
Problem reported here https://github.com/gradle/kotlin-dsl/issues/1290

[2018-12-19 05:52] DanHeidinga commented on #4078
Agreed.  Let's keep this open until the machine configuration has been made consistent.

[2018-12-19 06:51] DanHeidinga commented on #4083
Additionally, code in `/runtime/bcutil/ClassFileOracle.cpp` assumes that Q types in static fields are not flattened.  If that decision changes, then the code needs to be changed as well.  Possibly a new field for qTypeStatics will be required in the romclass.

[2018-12-19 14:16] ben-walsh commented on #4054
3/100 failure rate observed with job https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/8. Successfully obtained coredump files - available here - https://ibm.box.com/s/krord0wa2egbrxu30ww2du0b0z1zicxg

[2018-12-19 15:01] DanHeidinga opened #4114 "Fix the ddrgen issues introduced by eclipse/omr#3355"
https://github.com/eclipse/omr/pull/3379 reverts the fixes from eclipse/omr#3355 due to a functional bug found in the OpenJ9 testing.

We need to resolve the bug and get the changes from eclipse/omr#3355 fixed and re-delivered to OMR.

[2018-12-19 15:56] #3909 closed

[2018-12-19 16:01] acrowthe commented on #4083
The changes in `runtime\stackmap\stackmap.c` also assume Q types in static fields are not flattened when handling bytecode interpretations.

[2018-12-19 16:13] pshipton opened #4117 ""jenkins compile plinux jdk8" not working"
Tried to compile plinux jdk8 in https://github.com/eclipse/openj9/pull/4115 but no PR build is started.

[2018-12-19 16:13] pshipton commented on #4117
@AdamBrousseau

[2018-12-19 16:31] AdamBrousseau commented on #4117
See #4017 . I can temporarily fix the job shortly and relaunch.

[2018-12-19 16:34] hangshao0 commented on #4113
Do it fail with hotspot ? @ParkerM

[2018-12-19 16:49] Mesbah-Alam commented on #4088
I am investigating this.

[2018-12-19 16:52] hangshao0 commented on #4113
The code in the shared classes patch:
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/caa2ebd7b164280948029927ace6c5722e707124/src/java.base/share/classes/java/net/URLClassLoader.java#L740to#L745
is the same as the original OpenJDK code.
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/java.base/share/classes/java/net/URLClassLoader.java#L623to#L628

[2018-12-19 18:01] ParkerM commented on #4113
@hangshao0 It succeeds as expected on hotspot as well as openj9 if the -Xshareclasses flag is not enabled.

[2018-12-19 18:31] pshipton opened #4120 "aix build machine compile issues"
https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-aix_ppc-64_cmprssptrs-OpenJ9/42/
aix71-p8-4
https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-aix_ppc-64_cmprssptrs-OpenJ9/44
aix71-p8-1
[code]

https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-aix_ppc-64_cmprssptrs-OpenJ9/43
aix71-p8-2
[code]

[2018-12-19 18:41] pshipton commented on #4120
@AdamBrousseau

[2018-12-19 18:41] AdamBrousseau commented on #4117
Done

[2018-12-19 18:42] #4117 closed

[2018-12-19 19:10] smlambert commented on #3774
Related work:

1) Flush SCC prior to each test target run -  #3950
2) Set correct options, run tests X number of iterations (default X=2) - #4096

With the above 2 pieces of work, a committer can now run a Grinder against particular/individual test targets with the TEST_FLAG=AOT.  The committer at this point should assess the TEST_TARGET as to whether it is appropriate to run (some tests in the sa

[2018-12-19 19:16] hangshao0 commented on #4113
OK. Then this is interesting. We need to find out where the behavior begin to diverge

[2018-12-19 19:18] AdamBrousseau commented on #4120
Heppened again, disabled aix71-p8-2

[2018-12-19 20:13] pdbain-ibm commented on #3048
@archanaNogriya Any progress on this?

[2018-12-19 20:49] ben-walsh opened #4122 "JTReg test fail - Linux PPC64LE : java/lang/String/Exceptions.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/String/Exceptions.java intermittently fails on Linux PPC64LE.
When it fails it coredumps with errors like this ...

[code]

A 26% failure rate was observed with job https://ci.adoptopenjdk.net/view/work in progress/job/SXA-Grinder/10. The coredump files generated have been obtained and are available here - http

[2018-12-19 20:56] pshipton commented on #4120
Not sure about the `virtual memory exhausted` problem. For a minute I was thinking it is related to the change in #4115 to use openssl 1.1.1a, but then remember that AIX doesn't enable openssl.

[2018-12-19 21:16] pshipton commented on #4088
It would be interesting to discover if anybody actually uses the core files created in this way. They are not directly created as a result of the failure, but requested after the fact. I'm not sure if they are generally useful.

@DanHeidinga @andrewcraik @fjeremic

[2018-12-19 21:18] hangshao0 opened #4123 "Add tests for shared cache startup hints"
New tests need to be added to ensure the startup hints are correctly stored to the shared cache.

1. CML test needs to be added to ensure the -Xshareclasses:printStats=startuphint works as expected.
2. New DDR test should be added to ensure the startup hint can be found in the system core.

Related to https://github.com/eclipse/openj9/pull/3908 and https://github.com/eclipse/openj9/issues/3743

[2018-12-19 21:34] pshipton commented on #3743
Note the shared cache part of this #3908 is merged

[2018-12-19 21:38] Mesbah-Alam commented on #4088
Ran a test with `-Xdump:none` provided in command line for the load test and found out that it does prevent stf load test framework to generate a dump: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_system/job/Grinder/1042/consoleFull

Build above runs `SharedClassesWorkloadTest_Softmx_Increase_0 ` (where the same failure takes place in jvm2 (the mini-mix load test process) no dump is creat

[2018-12-19 21:42] pshipton commented on #4088
If a load test crashed, would the test fail? We won't want -Xdump:none to stop core files from actual crashes. I think either adding the stf switch, or generally stop generating core files after the fact for test failures (depending on what Dan, Andrew, Filip think) are the better solutions.

[2018-12-19 23:12] Mesbah-Alam commented on #4088
I am adding the switch in stf. It will be a useful thing to have regardless of what the final decision ends up being.

[2018-12-19 23:38] Mesbah-Alam commented on #4088
We use the "load tests" in two scenarios -
1) Where the load tests are run in form of "stress" tests (e.g. Mauve load tests)
2) Where the load tests are run in form of "workloads" (e.g. the softmx test above)

Core dumps may be useful for case (1). It is generally not required for case (2).

We may want to have the behaviour of the framework to be as follows -  "do not generate dump unless switch

[2018-12-19 23:56] ParkerM commented on #4113
Yeah, I've been hesitant to ascribe the issue to one specific thing since there's a lot going on there, and the narrowest reproduction I've found involves both the young kotlin-dsl and a specific/obscure flag in OpenJ9. The build seems to work fine when using a groovy-based buildscript, so kotlin-dsl was my best guess as the culprit.
That said, one of the gradle devs did find another gradle-agnost

[2018-12-19 23:59] pshipton commented on #4088
This is fine with me for now. I'd still like to determine if these cores are useful at all for case 1.

[2018-12-20 02:00] AdamBrousseau commented on #3573
Doesn't look hopeful for the compress plugin. There is a new plugin just released in alpha which sends logs directly from the slave to Amazon CloudWatch Logs.
https://github.com/jenkinsci/pipeline-cloudwatch-logs-plugin

[2018-12-20 11:50] ben-walsh opened #4124 "JTReg test fail - Windows : java/lang/ProcessBuilder/SkipTest"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/ProcessBuilder/SkipTest.java fails on Windows consistently with this or very similar (different Agent number identified) ...

"TEST RESULT: Error. Agent error: java.lang.Exception: Agent 1 timed out with a timeout of 960 seconds; check console log for any additional details"

Examples ...
https://ci.adoptopenjd

[2018-12-20 13:06] pshipton commented on #4120
Seems the `virtual memory exhausted` problem is due to the jdk8 extensions merging in jdk8u202-b1.

[2018-12-20 13:59] ben-walsh opened #4125 "JTReg test fail - Windows : com/sun/net/httpserver/Test1.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/com/sun/net/httpserver/Test1.java fails intermittently on Windows with ...

[code]

Example job showing this failure - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/665/consoleText

[2018-12-20 14:06] ben-walsh opened #4126 "JTReg test fail - Windows : java/rmi/activation/Activatable/checkActivateRef/CheckActivateRef.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/rmi/activation/Activatable/checkActivateRef/CheckActivateRef.java fails intermittently on Windows with a core dump ...

[code]

Example job showing failure - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/666/consoleText

[2018-12-20 14:11] ben-walsh commented on #4126
I've kicked off job https://ci.adoptopenjdk.net/view/work in progress/job/SXA-Grinder/13 to try to obtain the coredump files.

[2018-12-20 14:12] ben-walsh commented on #4125
I've kicked off job https://ci.adoptopenjdk.net/view/work in progress/job/SXA-Grinder/12 to try to obtain the coredump files.

[2018-12-20 14:27] ben-walsh opened #4127 "JTReg test fail - Linux PPC64LE : java/lang/invoke/condy/CondyNestedTest.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/invoke/condy/CondyNestedTest.java consistently fails on Linux PPCLE with ...

"TEST RESULT: Error. Agent communication error: java.io.EOFException; check console log for any additional details"

Example job showing failure - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/615

[2018-12-20 14:43] DanHeidinga commented on #4122
@gita-omr FYI linux ppc jit crash

[2018-12-20 14:46] ben-walsh opened #4128 "JTreg test fail - MacOS : java/nio/channels/DatagramChannel/Promiscuous.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/nio/channels/DatagramChannel/Promiscuous.java fails intermittently on MacOS with ...

[code]

Example job showing failure - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/608/consoleText

[2018-12-20 14:50] ben-walsh commented on #4128
I've kicked off job https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/683 to determine the failure rate.

[2018-12-20 15:06] ben-walsh opened #4129 "JTreg test fail - MacOS : java/util/stream/boottest/java.base/java/util/stream/NodeTest.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/stream/boottest/java.base/java/util/stream/NodeTest.java fails intermittently on MacOS with ...

[code]

Example job showing failure - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/609/consoleText

[2018-12-20 15:08] ben-walsh commented on #4129
I've kicked off job https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/14/ to try to obtain the dump files.

[2018-12-20 15:42] ben-walsh opened #4130 "JTreg test fail - MacOS : java/util/prefs/ExportSubtree.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/util/prefs/ExportSubtree.java fails consistently on MacOS with ...

[code]

Example job showing failure - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/608/consoleText

[2018-12-20 15:45] ben-walsh commented on #4130
I've kicked off job https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/15/ to try to obtain the dump files.

[2018-12-20 16:17] jerboaa opened #4131 "Some functional tests don't compile on non-openj9 JVMs"
I've been directed here from AdoptOpenJDK which uses some openj9 tests. Not all of them seem to compile on non-openj9 JVMs. I'm on Fedora 28 with package `java-1.8.0-openjdk-devel` installed.

Steps to reproduce:

    $ git clone https://github.com/AdoptOpenJDK/openjdk-tests
    $ cd openjdk-tests
    $ TEST_DIR="do-tests"
    $ mkdir $TEST_DIR && ./get.sh -t $TEST_DIR -p x64_linux -j SE80 -i hots

[2018-12-20 16:33] DanHeidinga commented on #4131
FYI @smlambert @llxia

[2018-12-20 17:05] pdbain-ibm commented on #4130
I'll take a look.

[2018-12-20 17:22] smlambert commented on #4131
Thanks @jerboaa - I will paste some of my comments from the Adopt testing slack channel here:

Essentially, we have this scenario:
1) openjdk tests were initially created to test a hotspot impl (so some tests need to be excluded to be used against openj9, which we have almost finished doing, some work still needed for jdk11)

2) functional tests were initially created to test an openj9 impl (we ha

[2018-12-20 17:49] gita-omr commented on #4122
@DanHeidinga , the link to the Grinder job above is not working.

[2018-12-20 18:01] DanHeidinga commented on #4122
@gita-omr where you able to download the cores and the test source?  That should be sufficient to start investigating.

@ben-walsh Can you update the description with the correct grinder link?

[2018-12-20 18:08] gita-omr commented on #4122
We definitely need the test case in order to narrow down JIT component.

[2018-12-20 18:44] gacholio opened #4134 "Investigate possible native stack space optimizations"
The interpreter entrypoints (like sendClinit, etc) all take 5 arguments, which is a leftover from the builder days when those calls created the interpreter stack frame. This is certainly no longer necessary.

Also worth looking at is the 32-slot reserved outgoing argument area on various architectures. The interpreter no longer needs this (JNI calls are performed using libffi which builds its own

[2018-12-20 18:45] gita-omr commented on #4122
@ben-walsh please see comment above.

[2018-12-20 18:49] gita-omr commented on #4122
@DanHeidinga @ben-walsh : looking at the core files is not always productive. What we usually do-  we try to narrow down JIT component by using JIT options, in exactly the same environment the test case was running in. We of course can try other ways, but since the defect is really urgent, we would appreciate as much info as possible.

[2018-12-20 18:49] gacholio commented on #4134
@gita-omr @fjeremic @JamesKingdon

Does your plarform's direct JNI depend on any more than the mandatory argument slots in the native stack frame?

For reference, the interpreter stack frame is defined here:

https://github.com/eclipse/openj9/blob/1e7ab9b2abe374133f3f0d98c0160b9711eb3f30/runtime/oti/j9nonbuilder.h#L5547

[2018-12-20 19:36] DanHeidinga opened #4135 "JIT crash compiling WeakHashMap.put in JDK11"
Crashes on multiple platforms: Z & X.

Failures seen in the `cmdLineTester_jvmtitests_*` test bucket in the gctcti001, gtgc001, and gtgc002 subtests.

Example failure output:
[code]

https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-linux_x86-64_cmprssptrs-OpenJ9/248/
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_390-64_cmprssptrs/111
https://ci.eclipse.org/openj9

[2018-12-20 19:37] DanHeidinga commented on #4135
FYI @andrewcraik as this is cross-platform.

[2018-12-20 19:45] andrewcraik commented on #4135
@cathyzhyi since you were last in the JVMTI code fixing another OSR bug this might be related...

[2018-12-20 19:48] pshipton commented on #4129
@dmitripivkine

[2018-12-20 20:05] pshipton commented on #4135
Set as a blocker since it blocks omr acceptance builds.

[2018-12-20 20:41] pshipton opened #4137 "Test-sanity.system-JDK11-win_x86-64_cmprssptrs fails to launch NoSuchFileException"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-win_x86-64_cmprssptrs/105
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-win_x86-64_cmprssptrs/106
[code]

[2018-12-20 20:41] pshipton commented on #4137
@AdamBrousseau

[2018-12-20 20:44] cathyzhyi commented on #4135
how can I reproduce this locally?

[2018-12-20 20:44] ben-walsh commented on #4122
The link to the job is correct but it's the spaces in the URL causing the problem, so use https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/10.
I've kicked off a rebuild with "-Xint" value for JVM_OPTIONS - https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/16.

[2018-12-20 20:46] pshipton opened #4138 "Test-sanity.functional-JDK11-linux_x86-64 NullPointerException running javac"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/317
cmdLineTester_SCURLHelperTests_90_0
URLStaleClassPathEntryTest 2 and 3
[code]

[2018-12-20 20:58] gita-omr commented on #4122
Great, thanks! It that does not fail, I think next thing to try would be -Xjit:limit={java/lang/String.decompressedArrayCopy([BI[CII)V}
@R-santhir

[2018-12-20 20:58] AdamBrousseau commented on #4137
Config was recently updated to run the job rather than doing nothing. A config was missed where the pipeline code is checked out to the subdirectory `openjdk-tests`. Working now.

[2018-12-20 21:06] pshipton opened #4139 "Test-extended.system-JDK11-linux_x86-64 SharedClassesWorkloadTest_Softmx_IncreaseDecrease_0"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64/113
[code]

I'm not sure why this test failed. 11.SCC.stdout is empty, and stderr below, but nothing unusual.
I did find a failure like https://github.com/eclipse/openj9/issues/4088#issuecomment-448400087 in the 5.jvm2.stdout.

11.SCC.stderr
[code]

[2018-12-20 21:06] pshipton commented on #4139
@Mesbah-Alam

[2018-12-20 21:22] pshipton commented on #4138
Accidentally created. The failure is in the omr acceptance build

[2018-12-20 21:48] hzongaro opened #4140 "Clean up checks of target.is64Bit() in amd64 code generation"
amd64 code generation contains redundant checks of `TR::Compiler->target.is64Bit()`.  This should be cleaned up, as they're only ever used for 64-bit code generation.

For instance, in `void TR::AMD64JNILinkage::cleanupReturnValue` in `AMD64JNILinkage.cpp`, there are checks like this:

[code]

[2018-12-20 22:08] pshipton commented on #4135
I provided the internal failure link.

[2018-12-20 22:08] #4137 closed

[2018-12-20 22:16] pshipton commented on #4120
@pdbain-ibm you can use this Issue for your investigation.

[2018-12-21 00:35] titou10titou10 commented on #4113
Same problem for me with eclipse 2018-12 rcp win/64 and an eclipse-rcp application ([JMSToolBox](https://github.com/jmstoolbox/jmstoolbox)) when migrating from Java 8 to Java 11 and using Adopt OpenJKD/J9 v11

Disabling`-Xshareclasses` make it work again

[2018-12-21 01:17] cathyzhyi commented on #4135
Not sure if this is easier to reproduce on jdk11. Internal failure is very intermittent and doesn't fail yet with 200 runs. Looked at the coredump and back trace looks like AOT related:
[code]

[2018-12-21 04:12] #3226 closed

[2018-12-21 04:35] smlambert commented on #4125
test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/762

[2018-12-21 04:37] smlambert commented on #4126
test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/763

[2018-12-21 04:43] smlambert commented on #4127
test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/765

[2018-12-21 04:47] smlambert commented on #4128
test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/766

[2018-12-21 04:50] smlambert commented on #4129
test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/767

[2018-12-21 04:52] smlambert commented on #4130
test excluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/768

[2018-12-21 11:59] pshipton commented on #3833
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-osx_x86-64_cmprssptrs/8/tapResults/
`shmget : Cannot allocate memory` still occurs.

[2018-12-21 12:00] pshipton commented on #3947
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-osx_x86-64_cmprssptrs/8/tapResults/
`shmget : Cannot allocate memory` still occurs.

[2018-12-21 12:05] pshipton commented on #4139
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64_cmprssptrs/119

[2018-12-21 12:21] pshipton commented on #4090
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-osx_x86-64_cmprssptrs/23
[code]

[2018-12-21 12:41] akrus commented on #3750
Happened again, got dump this time. gdb attach/detach didn't work, here are some details:

[code]

[code]

[2018-12-21 14:13] gita-omr commented on #4122
@ben-walsh also started builds:
with tracing the method:
[https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/18/](url)
with verbose:
[https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/25/](url)

[2018-12-21 14:38] pshipton commented on #3970
omr has promoted, the fix should be in the next set of builds. I'm going to go ahead and close this. If it turns out there is still a problem we can reopen.

[2018-12-21 14:38] #3970 closed

[2018-12-21 14:42] pshipton commented on #3833
I'm going to close this now as a dup of https://github.com/eclipse/openj9/issues/3947. The machine configuration issue causing `shmget : Cannot allocate memory` is the only remaining failure I see.

[2018-12-21 14:42] #3833 closed

[2018-12-21 15:39] hangshao0 commented on #3947
@jdekonin , I guess some tests have left some some caches on the machine (osx1011-x86-1). Can you log onto the failed machine to see what is left there ?

[2018-12-21 15:47] Mesbah-Alam commented on #4139
The reason for the failure is that at one stage of the test, it expects the SCC to be more than 50%, but less than 100% full -- but the SCC is found to be 100% full.

Here's the usecase that is failing:

[code]

The failure is intermittent, it passes here: https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_x86-64/130/tapResults/

@hangshao0 - did anything change in SCC or JIT recent

[2018-12-21 15:52] hangshao0 commented on #4139
I am not aware of the any SCC change. Not sure about the JIT change.

[2018-12-21 16:00] gita-omr commented on #4122
Fails each time with this build:
[https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/27/](url)

[2018-12-21 16:02] mstoodle commented on #4135
Interesting...I ran into this failure in a PR build and it's not *immediately* obvious that the test was run with  `-Xshareclasses`....is shared cache testing done "under the covers" for these tests?

Link: https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-linux_x86-64_cmprssptrs-OpenJ9/252/tapResults/ search for "Testing: gctcti001" in test 114

[2018-12-21 16:04] dsouzai commented on #4135
Because we're calling

[code]
This is running "old" AOT, ie AOT without the SVM, which happens during startup (for now; once all of @jdmpapin's PRs go through, the SVM will be used all the time). It's sort of unfortunate because I'm almost 100% certain that if we were using the SVM for this compilation, there wouldn't be any issue. However, since at least for the next little while, "old" AOT still

[2018-12-21 16:05] dsouzai commented on #4135
Well, shared classes is enabled by default for bootstrap classes, so all tests effectively run some AOT code.

[2018-12-21 16:12] Mesbah-Alam commented on #4139
5x Grinder failed 4/5 times: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/695/tapResults/ with the same issue. We likely need to tweak the testcase @hangshao0

[2018-12-21 16:15] fjeremic commented on #4088
@pshipton they are useful because often time we need to take a look at which method in the backtrace of the failure is actually compiled. i.e. we typically start from a reasonable point in the backtrace and check the method inlining table in the core file to figure out which method is the one that was JIT compiled and being executed at the time of the failure. We then proceed with the investigatio

[2018-12-21 16:19] pshipton commented on #3947
@AdamBrousseau or @vsebe https://github.com/eclipse/openj9/issues/3947#issuecomment-449420797

[2018-12-21 16:20] hangshao0 commented on #4113
The shared classes patch on URLClassLoader is originally applied to Java 8, and then ported onto Java 9, 10 and 11. The patched methods in URLClassLoader might have been changed by OpenJDK from Java 8 to Java 11, we might consider reviewing (or possibly rewriting) the patch on Java 11.

[2018-12-21 16:33] mstoodle commented on #4135
*sigh* yes clearly need more caffeine this morning :(  . Thanks @dsouzai

[2018-12-21 16:38] fjeremic commented on #4134
The work on Z happens in [1]. Not exactly sure what you mean by "depend on any more"? Could you clarify this exactly? JNI linkage is very similar to system linkage. We only need to perform a few extra things like stack switching. Subscribing @NigelYiboYu here as well since he did the Atomic-free JNI work on Z and did a ton of refactoring in this area.

[1] https://github.com/eclipse/openj9/blob/b5

[2018-12-21 16:38] Mesbah-Alam commented on #4139
Ran a new 5x Grinder after updating the value to which softmx increase happens at stage (3) from 20m to 25m. It now passed 100% : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/696/tapResults/

So, yes, likely the AOT changes caused more AOT code being generated than before.

[2018-12-21 16:39] DanHeidinga commented on #4088
I've rarely found these cores to be useful as they're created too far after the actual failure point.  If we're going to generate cores, I would rather see them be generated on uncaught exception using the -Xdump options.

[2018-12-21 16:49] DanHeidinga commented on #4134
@fjeremic Does Z always buy a stack frame and spill space for the JNI args or does it rely on the "extra" space in the primordial stack frame?

[2018-12-21 17:34] pdbain-ibm opened #4144 "Cleanup: remove references to WIN32_IBMC"
This refers to OS/2 and is never enabled.

[2018-12-21 17:52] AdamBrousseau commented on #4120
What does configure report when `--with-jobs` isn't supplied. The answer may be different for different jdk versions too. Iirc we added it because the openjdk source couldn't figure out AIX smt correctly?

[2018-12-21 18:06] fjeremic commented on #4134
Just generated a short Linux JNI dispatch sequence with 8 arguments. Here is what I see in the trace:

[code]

First few arguments go into registers, the last 5 arguments get stored directly onto the native stack (`GPR15`). I don't see us buying any stack frame here.

[2018-12-21 19:56] gacholio commented on #4134
The outgoing argument area on Z is not at the top (lowest address) of the fixed stack frame, so creating a new frame for the JNI call would be non-trivial.

Does Z perhaps decline to compile JNI calls that have more than 32 slots of arguments?  A search for `J9_INLINE_JNI_MAX_ARG_COUNT` in the JIT codebase has no hits, so if there is a restriction, it's magic not based on the VM constant.

[2018-12-21 20:17] pshipton commented on #4120
@pdbain-ibm please confirm you are building jdk8 and using the latest jdk8 extensions.

[2018-12-21 20:59] akrus commented on #3750
Ubuntu 18.04.1, kernel version is 4.15.0-38. It's just a few minor releases behind.

[2018-12-21 21:32] dsouzai commented on #4135
Heh, after @andrewcraik and I took a look at this, I'm now 100% certain the SVM wouldn't cause this issue.

@cathyzhyi managed to reproduce this issue internally. To give some background:

[code]

The paramters that are shown in the backtrace for `jitResolveSpecialMethodRef` are incorrect. After disassembling `TR_RelocationRecordConstantPoolWithIndex::getSpecialMethodFromCP(TR_RelocationRuntime*,

[2018-12-21 21:35] dsouzai commented on #4135
So this mismatch appears to be the reason why we're crashing when trying to resolve the method ref. It seems to make no sense because AOT is supposed to be able to handle the shape of classes being different.

After @andrewcraik and I discussed a bit, we determined that this is because of a fundamental problem with "old" AOT that is completely solved when we use the SVM. This is a description of i

[2018-12-22 00:58] harryyu1994 commented on #3631
@mpirvu this issue can be closed now.

[2018-12-22 00:58] harryyu1994 commented on #3630
@mpirvu verified that this one is fixed.

[2018-12-22 01:03] #3631 closed

[2018-12-22 01:03] mpirvu commented on #3630
Thanks. Closing.

[2018-12-22 01:03] #3630 closed

[2018-12-22 01:09] harryyu1994 commented on #3632
@mpirvu I have verified that this issue is fixed.

[2018-12-22 01:19] mstoodle commented on #4135
I think I was following along until I read:

Not sure where you got the "20" number, but I suppose these jvmti tests change `java.lang.Throwable.init()` so that it's different than when the cache was created?

But why shouldn't the inlined target for the caller be -1 at this point, since the caller was not validated? i.e. why didn't this code from `TR_RelocationRecordInlinedMethod::inlinedSiteVali

[2018-12-22 04:01] mstoodle commented on #4135
I had meant to say that the tests change Throwable, not Throwable.init(). Sorry for that confusion.

Let's not get confused about class chains here: we're talking about constant pool entries which can be trivially checked for consistency (either the romclass offset in the shared cache matches or it doesn't: there is no ambiguity because you're using the same resolution machinery the JVM uses all t

[2018-12-22 04:47] dsouzai commented on #4135
Right, that makes sense; since the outer method is invalid, it necessarily means that all nested inlined methods are invalid as well.

Right, because the constant pool we're using is always the caller method's constant pool, which is guaranteed to be correct if the caller method is valid.

I believe the reason is because the inlined table gives an account as to what is actually in the compiled bod

[2018-12-22 11:10] pshipton opened #4147 "AIX machines are out of space"
I've seen a bunch of these failures, better check all the AIX machines.

https://ci.eclipse.org/openj9/job/Build-JDK11-aix_ppc-64_cmprssptrs/356
[code]

[2018-12-22 11:10] pshipton commented on #4147
@AdamBrousseau

[2018-12-22 11:53] howlger commented on #4113
Example to reproduce this issue:
[code]
There are no problems running `java -Xshareclasses:cacheDir=_cache OpenJ9_Issue_4113` for the first time. But when running it again (when the cache created on the first run is used), the following exception is thrown:
[code]

[2018-12-23 00:55] dsouzai commented on #4135
Heh, that's not actually true. I recalled that https://github.com/eclipse/openj9/blob/4f34b42a118278df8957d0b0991080ea57aca3da/runtime/compiler/runtime/RelocationRecord.cpp#L892-L910 means that if in the old AOT world a relocation requires information from the inlined table, the relo infrastructure will **not** fail the aot load if the inlined site is disabled; instead it will just ignore that rel

[2018-12-23 22:14] dsouzai commented on #4135
Just to clarify, when using the SVM, the load will **not** fail if the site is disabled. If an agent redefined something then the load would've failed during the validations.

I guess what i can do is, if `inlinedSiteValid` returns false, then we fail the compile only when not using the SVM.

[2018-12-23 22:40] dsouzai commented on #4135
When not using the SVM, the order in which the relo infra goes through the relocation is:
1. Inlined table entries
2. Validation records
3. Relocation records

However, when using the SVM, the validation records are the first to be processed, even before the inlined table entries. Therefore, when we get to the inlined table entries, we're guaranteed that the shape of any relevant classes are the s

[2018-12-24 10:01] archanaNogriya commented on #3048
I have not looked into this issue after my last update, I was pulled into other priority work since then.

[2018-12-24 14:07] pshipton commented on #4139
I think it is still happening, but in reverse
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_ppc-64_cmprssptrs_le/132/tapResults/
[code]
@Mesbah-Alam

[2018-12-24 14:17] pshipton commented on #4090
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-osx_x86-64_cmprssptrs/26

[2018-12-24 14:30] Mesbah-Alam commented on #4139
I will try setting the value to 25mb instead of 30mb.

[2018-12-24 15:09] pdbain-ibm commented on #4130
From the javacore:

`** ASSERTION FAILED ** at VMAccess.cpp:352: (0 == ((vmThread)->publicFlags & J9_PUBLIC_FLAGS_VM_ACCESS))`

Line 352 is:

[2018-12-24 16:01] pdbain-ibm commented on #4130
Condensed to a minimal test case:

[2018-12-24 16:05] fjeremic commented on #2072
Reopening this as the change was reverted in #4145 to fix a functional problem.

[2018-12-24 16:06] hangshao0 commented on #4113
This issue goes away if I change getPackage() to getDefinedPackage() here :
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/390ca5bdb952732f29d7e2080254431bc061317f/src/java.base/share/classes/java/net/URLClassLoader.java#L737

getPackage() is deprecated since Java 9.

[2018-12-24 16:44] Mesbah-Alam commented on #4139
I've made the change , delivered through this PR: https://github.com/eclipse/openj9-systemtest/pull/67

It 'should' solve the issue. Although these tests are hard to calibrate.

[2018-12-24 16:52] pshipton commented on #4139
Perhaps the test can calculate a value, or be less picky about the range.

[2018-12-24 17:02] pdbain-ibm commented on #4130
Exporting the `systemRoot` (which happens to be empty), causes no problems.

[2018-12-25 22:11] howlger commented on #4113
@hangshao0 Thanks. That sounds promising. Could you please make a pull request so that the change can be tested in the nightly build once it has been merged?

Or is there another way to test the proposed change? Via `jimage extract --dir out modules` I can extract the file `modules` and replace the `.class` files, but I don't know how to recreate the changed `modules` file.

[2018-12-27 17:35] dmitripivkine commented on #3750
Would you please provide full native stacks for all threads `thread apply all bt` ?

[2018-12-27 19:36] dmitripivkine commented on #4090
![](file:///Users/Dmitri_Pivkine@ca.ibm.com/Desktop/Screen%20Shot%202018-12-27%20at%202.32.46%20PM.png)

[2018-12-27 19:37] dmitripivkine commented on #4090
<img width="784" alt="screen shot 2018-12-27 at 2 32 46 pm" src="https://user-images.githubusercontent.com/18148831/50492326-f6d72880-09e4-11e9-8e02-ecb98307bc37.png">

[2018-12-27 19:44] dmitripivkine commented on #4090
Output from test:
[code]

There is obvious from picture above that heap size has been reduced to 256MB after ~3 min.
So GC functionality works as expected.
However released (decommited) memory has not been reported as free by OS.

[2018-12-27 19:58] dmitripivkine commented on #4090
When heap shrinks GC provides Decommit request to Port Library. Port Library for OSX allows Decommit to call `madvise()` with option `MADV_DONTNEED` (`portLibrary->portGlobals->vmemAdviseOSonFree` is set to 1).

[2018-12-27 20:05] dmitripivkine commented on #4090
From OSX manual:
[code]

So OSX may (or may not) use this information. I believe test behaviour that expects released memory to be added to free is not accurate.

[2018-12-27 20:14] pshipton commented on #4090
I wonder if the query (ibmOSMBean.getFreePhysicalMemorySize()) to get free memory is working. @babsingh

[2018-12-27 20:18] pshipton opened #4150 "All zlinux jenkins nodes are offline"
Jenkins shows `This node is being launched.` for all of them. No additional details.

[2018-12-27 20:18] pshipton commented on #4150
@AdamBrousseau @jdekonin

[2018-12-27 21:05] AdamBrousseau commented on #4150
Not sure why they went offline or why they didn't relaunch automatically. Relaunched manually. All online now.

[2018-12-27 21:08] pshipton commented on #4138
A similar failure is seen in an OpenJ9 PR build.
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-linux_x86-64_cmprssptrs-OpenJDK11/14
cmdLineTester_SCURLClassLoaderTests_1
[code]

[2018-12-27 21:16] pshipton opened #4151 "Out of space on Windows jenkins node"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-win_x86-64_cmprssptrs-OpenJDK11/8
Running on win2012r2-x86-3
Took node offline.

[2018-12-27 21:17] pshipton commented on #4151
@AdamBrousseau @jdekonin

[2018-12-27 21:18] babsingh commented on #4090
it does have an implementation: [OpenJ9 getFreePhysicalMemorySizeImpl](https://github.com/eclipse/openj9/blob/master/runtime/jcl/common/mgmtosext.c#L57-L62) and [OMR omrvmem_get_available_physical_memory](https://github.com/eclipse/omr/blob/master/port/osx/omrvmem.c#L727-L741). I will verify if `getFreePhysicalMemorySize` functions properly.

[2018-12-28 03:49] #4113 closed

[2018-12-28 03:52] pshipton commented on #4138
I expect this is JIT related. @andrewcraik

[2018-12-28 07:47] ParkerM commented on #4113
Also can confirm my kotlin-dsl issue is resolved with @hangshao0's patch. Thanks for the help everybody!

[2018-12-28 12:40] dmitry-ten opened #4152 "Profiled static PIC support for JITaaS"
One of the features JITaaS currently does not support and which affects performance is static PICs for profiled callsites.
During codegen for an indirect call, code generator will check if IProfiler profiled the address of a class of the method being called. If it was profiled, and the method being called is jitted, generated code will directly call the start address of the jitted method, instead

[2018-12-28 12:48] dmitry-ten commented on #4152
Some relevant parts of the code:
In `X86PrivateLinkage.cpp`
`X86CallSite::computeProfiledTargets()`: retrieves profiled data and creates profiled PIC slots.
`X86PrivateLinkage::buildIndirectDispatch`: checks if there are any profiled targets and builds PIC slots for them.
In `AMD64PrivateLinkage.cpp`
`AMD64PrivateLinkage::buildPICSlot`: builds the PIC slot, generates instructions.
In `IProfiler.cp

[2018-12-28 12:50] dmitry-ten commented on #4152
@ymanton @mpirvu when you have time, could you tell me if you have any ideas. I don't have any at the moment.

[2018-12-28 13:47] p-logtrust opened #4153 "sun.misc.Unsafe putLong and getLong fail with segmentation error at odd offsets"
Not sure if this is the correct project to report this problem.

I am testing OpenJ9 (downloaded from AdoptOpenJDK) on an application that we usually run with OpenJDK.
By now the only problem we have found is related to an weird usage of Unsafe.
J9 crashes immediatelly with a `Unhandled exception Type=Segmentation error vmState=0x00000000`.

The following program reproduces the problem:
[code]
Whe

[2018-12-28 15:43] llxia commented on #3947
Seen `shmget : Cannot allocate memory` on `osx1013-x86-3` and `osx1011-x86-2` in PR #4149
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-osx_x86-64_cmprssptrs-OpenJ9/75/
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-osx_x86-64_cmprssptrs-OpenJ9/46/

[2018-12-28 17:01] a7ehuo commented on #3585
@mpirvu Looked at the code, the implementation of `isMethodEnterTracingEnabled()` and `isMethodExitTracingEnabled()` in TR_J9SharedCacheVM are different. If we combine them into one call as isMethodTracingEnabled() in packRemoteROMClassInfo(), what if `TR_J9VM *fe`, fe is pointing to an object of `TR_J9SharedCacheVM` and then we need to differentiate if it's `isMethodEnterTracingEnabled()` and `is

[2018-12-28 17:07] R-Santhir commented on #4122
Having taken a look at the tracefile, it would be helpful to have a core from the run that generated the tracefile. @ben-walsh can you please kick off a run that will save generated cores with the following options:

`-Xjit:limit={java/lang/String.decompressedArrayCopy([BI[CII)V},{java/lang/String.decompressedArrayCopy([BI[CII)V}(traceFull,count=1),log=test.trc,verbose`

The grinder's do not seem

[2018-12-28 20:22] gacholio commented on #4153
The reason for this failure is that it is impossible that the OpenJ9 implementation of Unsafe would ever return an odd value from objectFieldOffset() - all object fields are at least 4-aligned today.

Low-tagged offsets are reserved for internal implementation details.

In short, using randomly-generated offsets with Unsafe is undefined behaviour.

[2018-12-30 08:49] guekho64 opened #4154 "VM Option -XX:hashCode=2 not working as expected"
I understand that every JVM implementation has different options, and that each one of them may or may not add compatibility for every option that any other JVM has, aside from the standard ones that are reglamentary, like -help.

That being said, I'd like to know if Eclipse OpenJ9 has support for using the _-XX:hashCode_ option, and if that's the case, what could be causing the JVM to not preserv

[2018-12-31 04:34] DanHeidinga commented on #4154
OpenJ9 doesn't support the `-XX:hashCode` option.

Can you expand on what it does and why it's important to your use case?  Would a JVMTI agent be a more portable choice to control the Object#hashCode value?

[2018-12-31 06:40] madper commented on #40
Hey!
I still meet the issue with [Ammonite](https://github.com/lihaoyi/Ammonite). While it works well with openjdk 11. The openj9 version I'm using is:
![screenshot from 2018-12-31 14-39-39](https://user-images.githubusercontent.com/451815/50555619-ed61ff00-0d09-11e9-9f9b-7ee0a84dfbab.png)
![screenshot from 2018-12-31 14-36-13](https://user-images.githubusercontent.com/451815/50555588-85131d80-0d0

[2018-12-31 13:41] pdbain-ibm commented on #4154
OpenJ9's identity hashcode is based on the location of an object in the heap, which is non-deterministic and will generally vary from run to run.  Are you calling `theObject.hashCode()` or `System.identityHashCode(theObject)`?

[2018-12-31 14:00] pdbain-ibm commented on #4138
FYI, there was a javac bug a while ago involving soft (or maybe weak) references. It went something like:
[code]
Occasionally, `myRef` would get cleared between the `new` and the `get`.

[2018-12-31 16:36] theresa-m opened #4158 "Java 12 extensions update causing build failure"
The last working build I have that is fixed in #3768 was at extensions commit "JCL      - 8f2789f based on jdk-12+23)"

New errors:
[code]

[2018-12-31 17:44] ymanton commented on #4152
[code]

That's a direct call so it has the same issue as other direct calls, the call instruction is relative and unless the client places code at the same addresses as the server such offsets will be wrong.

I've been working on relocation support for direct calls. You can try the patches at the top of these trees:

https://github.com/ymanton/omr/tree/jitaas-direct-calls
https://github.com/ymanto

[2018-12-31 17:44] gacholio commented on #4153
There are several issues here:

1)  Internally, we use low-tagged offsets to indicate static fields

2) You can not assume the representation of object fields

Today, OpenJ9 stores object fields as at least int-sized, whereas OpenJDK stores them as their correct size. This may change without notice in the future.

Also, you cannot assume the ordering of fields within an object. OpenJ9 sorts fields

[2019-01-01 21:43] JasonFengJ9 commented on #4154
@guekho64 Hotspot JVM `-XX:hashCode=2` appears just return a constant `1` for most objects `hashCode()` except `String` objects from my quick experiments. So if your target objects are not `String`, `Object1.hashCode()` results could be hardcoded as `1` or just be ignored. If `String` objects have to be handled, my thought is to use the `String` values directly just like package name and other sta

[2019-01-02 01:02] JasonFengJ9 commented on #4154
@guekho64 what Hotspot JVM version/platform do you run against the program?

[2019-01-02 14:55] fjeremic opened #4162 "Ensure boolean JNI methods produce a result of zero or one on Z codegen"
As part of #4086 we made a slight modification on the x86 codegen to comply with the Java spec on JNI methods which return boolean values. If we encounter such a method the only valid results should be 0 or 1 coming out of the method call and we must ensure this at the codegen level.

We need to port #4086 over to Z.

[2019-01-02 14:56] fjeremic commented on #4162
@NigelYiboYu since you are most familiar with the JNI implementation having done some work there recently could you please take a look at this one as well?

[2019-01-02 15:06] jdekonin commented on #4120
@pdbain-ibm does this mean this issue is resolved with newer content?  Can the machine be made available to jenkins again?

[2019-01-02 15:56] jdekonin commented on #4151
There was an extensions pull request job that left a 31G directory behind.  Its been cleaned up and the machine has been added back into service.

[2019-01-02 15:56] jdekonin commented on #4151
This can be closed @pshipton

[2019-01-02 16:21] pdbain-ibm commented on #4120
@jdekonin
I suspect we need either to reduce the number of parallel jobs or increase the memory limit.

[2019-01-02 16:49] AdamBrousseau commented on #3600
Not sure if I should make this issue more generic or open more issues or move to openjdk-tests repo. Constantly cleaning up /tmp is annoying. Here is an example of a tmp drive on an Aix box.

Count 189 each of
- NoEntryTest1042375256856044647.zip
- auth1008770531637760872.login

Count 17 of directories
- resource-2135479613773918286

Luckily these files/dirs do not consume space.
However, there we

[2019-01-02 16:58] smlambert commented on #3600
Those are 'likely' functional tests that are leaving detritus, which live in openj9 repo, so not appropriate as an openjdk-tests issue.

Someone with spare time could work on looking through functional tests that create extra files and junk and clean them up (we can mark this as good beginners issue).

Not condoning this as a fix, but why is /tmp cleanup on machines not automated, to avoid annoyan

[2019-01-02 17:11] JasonFengJ9 commented on #3560
A few more similar failures at https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-osx_x86-64_cmprssptrs/20
[code]

[2019-01-02 17:52] pdbain-ibm commented on #4130
I am fixing the assertion.

However, I ran the test with OpenJDK and it fails for a different reason:
[code]
note `<?xml version="1.0" encoding="UTF-8" standalone="no"?>` vs `<?xml version="1.0" encoding="UTF-8"?>` (extra metadata).

[2019-01-02 17:59] pdbain-ibm commented on #4130
@sxa555 or @andrew-m-leonard could you raise the test issue mentioned in
https://github.com/eclipse/openj9/issues/4130#issuecomment-450933059 in OpenJDK?

[2019-01-02 18:24] JasonFengJ9 opened #4166 "Test-sanity.functional-JDK11-linux_x86-64 shareclasses HelperCompatibilityTest failures due to ClassNotFoundException"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/344/tapResults/

[code]

[2019-01-02 18:49] AdamBrousseau commented on #3600
I have a cleanup job that deletes the Jenkins workspaces, in the event one of them hard fails before the "finally-cleanWs". I'll add tmp cleanup as well for the patterns listed in my previous comment, although as you say, it is not the correct solution.

[2019-01-02 19:00] JasonFengJ9 commented on #3270
Latest failures at https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/131/tapResults/
[code]

[2019-01-02 19:34] AdamBrousseau commented on #4147
Machines look fine now. Jobs cleanup after themselves unless
a) hard killed without cleanWs running
b) cores are dumped in /tmp or ~/
Cleanup job will take care of 'a)' and also other test artifacts left in /tmp but not cores.
Cleanup job currently runs at 8am, 12pm, 4pm, 11pm

[2019-01-02 19:41] yanluo7 commented on #3491
https://github.com/eclipse/omr/pull/3336 has been merged.

[2019-01-02 19:56] jdekonin commented on #4120
Machine configuration was fine for months, and there hasn't been any changes to the AIX configuration/setup that I am aware of.  Is there something in the content that changed that might have this impact?   Would the jvm default change have any impact on this?  Or the recent additions to the extensions repo?

[2019-01-02 19:57] jdekonin commented on #4120
All the machines are of the same configuration.  I think is just going to be a matter of time before the same type of failure(s) occur on the currently enabled machines.

[2019-01-02 20:35] jdekonin commented on #3947
Using a nightly openj9 sdk I don't see anything on the machine for caches.  I think this is sort of one of those things where the machine needs to be immediately checked (and disabled) to determine what is left from a previous run.

[code]

[2019-01-02 22:32] llxia commented on #3947
Reproduced this failure on `osx1013-x86-3`. The workspace is kept on the machine and I marked this machine offline for now. Hope this helps.
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/136/

[2019-01-03 00:38] guekho64 commented on #4154
@JasonFengJ9 sorry for the late response. Here's what `java -version` outputs:

[code]

Although I've been using different versions of Hotspot JVM's since I started with this project of mine, including:

* OpenJDK 7/8
* Zulu JDK 7/8
* OpenJDK 8 (w/Shenandoah GC Patches)
* Oracle's JDK 7/8
* OpenJDK 8 (w/Eclipse J9's JVM)

And I haven't seen nothing out of usual when running my program with the dis

[2019-01-03 04:04] JasonFengJ9 commented on #4154
@guekho64 glad to hear that "In fact, the program runs even better with Eclipse J9's JVM than with Hotspot".
To preserve hash codes from execution to execution, a quick thought is to provide `java.util. Random` alike mechanism to generate pseudorandom numbers within `java.lang.Object.hashCode()` via natives.
Will let you know when such a patch is available for test.

[2019-01-03 05:10] prakaashkpk commented on #2555
The issue seems to be similar to https://www.ibm.com/developerworks/community/forums/html/topic?id=c3a1feb4-aa3a-4702-9ca2-f3daeb47d504

[2019-01-03 08:42] andrew-m-leonard commented on #4130
@pdbain-ibm could you raise an issue on our board following this template please: https://ibm.ent.box.com/notes/350032081728
thanks

[2019-01-03 16:03] jdekonin commented on #3947
There is nothing on the machine.  Note I did the nonpersistent test in the previous comment too, just posted the wrong output.

[code]

Still nothing showing up, but the failure still occurs when I run the cmdln manually so the machine is still in the `bad` state.  Any suggestions as to what or where else to check?

[2019-01-03 16:06] remmeier commented on #3410
I see it as well in the context of R3 Corda to an app similar https://github.com/corda/cordapp-example. There unfortunately I run into a further issue next to Mockito (https://github.com/puniverse/quasar/issues/321). Our app is closed source unfortunately, but if there is something I could try, you could let me know. Hope run into this issue with cordapp-example as well once the other issue is res

[2019-01-03 16:46] harryyu1994 commented on #3724
Working on this issue now.

[2019-01-03 17:05] pdbain-ibm commented on #3325
I beg to differ: I believe `writeString()` is not converting the `String` buffer to a `CharSequence` properly. `writeString()` is new in Java 11, so it may have some bugs.

[2019-01-03 18:08] #4135 closed

[2019-01-03 19:05] #4130 closed

[2019-01-03 19:52] cathyzhyi opened #4173 "Add proper AOT support for the data block in Field Watch (all platforms)"
When reporting field read/write JIT code needs to pass a data block containing data that can be different from run to run like fieldAddress, j9class and owning method. To make this work with AOT, new data snippet class needs to be created to add the proper relocation record. Given the time constraint, we currently prevent AOT load from happening if rdbar/wrtbar are generated for field watch in ilg

[2019-01-03 22:00] JasonFengJ9 commented on #4128
100x grinder specified in https://github.com/eclipse/openj9/issues/4128#issuecomment-449023382 all passed.
This doesn't appear a jvm issue.

[2019-01-03 22:32] JasonFengJ9 commented on #4154
@guekho64 considering this is your personal project, I would propose a Java only patch to generate hash codes via `java.util.Random` within `java.lang.Object`. This function can be enabled via a system property `preserveHashCode`.

Important note: This patch doesn't apply to `String` objects which are handled differently by natives. In addition footprint is going to be increased and the performanc

[2019-01-04 00:48] guekho64 commented on #4154
Thanks for putting your own effort into this!

I'm gonna try this patch as soon as possible, since I'm not in my developing environment right now, but I'll let you know if this worked at all or not.

How hard would it be to implement this behavior for `String`'s too? As I said before, I use some Strings alongside other factors to determine which Object is which, and they're really useful because t

[2019-01-04 02:38] JasonFengJ9 commented on #4154
@guekho64 no problem, it's our job to help out `OpenJ9` usages, :)
Just to clarify about `String` hashcode, actually it was calculated based on the `String` content hence its hashcode already is preserved from execution to execution even without this patch.
So please give this patch a try and see if it unblocks your program from adapting `OpenJ9 jvm`.
I don't believe the speed will be a big hit bu

[2019-01-04 05:39] madper commented on #40
@babsingh Ooops, my fault.  I see. Thanks a lot for the correction!  :-D

[2019-01-04 16:43] JasonFengJ9 commented on #3205
Looking at this.

[2019-01-04 19:41] ashbm5 commented on #3636
@avermeer is it essential for this RSA support to be rolled into 0.12 release or having the feature appear in one of the nightly builds a bit after 0.12 be satisfactory? is this for production use or prototyping/experimentation?

[2019-01-04 20:01] pdbain-ibm commented on #3274
MethodHandle. asVarargsCollector() javadoc says:

[2019-01-05 00:14] guekho64 commented on #4154
Just a few seconds ago I have just tested my program alongside the proposed patches and...it didn't work, unfortunately.

it didn't work wether I was asking for Objects or other custom types `hashCode()`. In the meantime I'm gonna try to search for the Hotspot implementation and try to adapt it here, if possible.

<details><summary>Maybe I should open another issue for this...</summary>
<br>
Also,

[2019-01-05 00:58] JasonFengJ9 commented on #4154
@guekho64 any chance you could share a testcase to show that JVM doesn't preserve the hash codes from execution to execution?

Yes, please open another issue for the assertion failure.

Please be cautious about searching for Hotspot implementation, `OpenJ9` was (and still is) a clean room JVM implementation which means no code/algorithm can be copied from Hotspot.

[2019-01-05 04:12] guekho64 commented on #4154
@JasonFengJ9

The next piece of code yields the next results:

<details><summary>Code</summary>

[code]
</details>

<details><summary>Results:</summary>

[code]

[code]

[code]

[code]

These results were obtained using the patches alongside with:

[code]
</details>

[2019-01-05 06:51] huntc commented on #4050
FYI I've been trying to create a reproducer via Docker for you. So far, I can't reproduce the issue. I'm going to try again with our target environment, which uses LXC. Indeed, could it be that LXC does things a little differently to Docker w.r.t. cgroups and memory limits?

[2019-01-05 13:45] JasonFengJ9 commented on #4154
@guekho64 did you run the program with `-DpreserveHashCode=true`?

[2019-01-05 15:18] mpirvu commented on #4050
@ashu-mehra Ashutosh, does the container support you implemented in omr/OpenJ9 include LXC or is it limited to Docker?

[2019-01-05 15:34] JasonFengJ9 commented on #4154
@guekho64 I am not able build the original code snippet due to missing class `misc.testing.Main.Local.Methods.getDate`. Commenting out the class in question (along with its references), the hashcode output appears same from execution to execution as following:
[code]
Could you supply a testcase without dependency (maybe attach the `.class` file as well)?

[2019-01-06 06:00] ashu-mehra commented on #4050
We have not tried it on LXC yet. It was implemented considering Docker only. I won't be surprised if it doesn't work with LXC. In fact there are few other container system out there for which current mechanism may not work. I think we should take them up on case-by-case basis.
If LXC support is required, we should definitely look into adding it.

[2019-01-06 06:02] huntc commented on #4050
LXC is definitely required by us. :-) I’ll try and get you some more data. Thanks.

[2019-01-06 07:05] guekho64 commented on #4154
@JasonFengJ9

Wow, such a mess right here, heh. In fact, the "missing" class is just an inner class, as the code shows, and the "depency" is supplied within the code, so I don't undertand what's going wrong at all...and `getDate` isn't a class at all, it's a method, lol.

Maybe Eclipse is doing something weird when compiling the code? 'Cause I use that IDE for my tests. And it works just fine by c

[2019-01-06 14:00] JasonFengJ9 commented on #4154
@guekho64 just realize that I modified the package name when coping the testcase code which caused `The import misc.testing.Main cannot be resolved` error. I do apologize not checking the code thoroughly before assuming the _class is missing_. (Honestly I didn't expect it imports a `class/method` within itself).
Now I run the original testcase and it still works as expected in a few runs with foll

[2019-01-06 20:16] #4089 closed

[2019-01-06 20:56] R-Santhir commented on #4122
Here's a summary of my investigation so far, as mentioned by Gita the failure occurs even with **noopt** :

The cause of the failure is the following store:
`sthx    [gr3, gr0], gr2`

At the point of failure, gr0 is 0 and gr3 is a small value, so a store is done to what is essentially a NULL address, which I believe is what the test itself is trying to do. The problem is that what was originally a

[2019-01-07 02:02] guekho64 commented on #4154
@JasonFengJ9

"Good to hear that you applied -DpreserveHashCode=true earlier, but it's not clear why your environment got inconsistent results" ~ Yes, I thought the same. I have no idea why your patch didn't work as expected on my side...

In fact, that's why the code outputs the date each time is executed, to show that each time the code was run, it printed a totally new value. Maybe the answer w

[2019-01-07 02:02] #4154 closed

[2019-01-07 05:59] guekho64 commented on #4154
Thanks for helping me solve this one, I really appreciate your time spent here. I hope that Eclipse J9 will continue growing and getting better (Even better than it alredy is).

See ya until the next issue.

[2019-01-07 08:41] akrus commented on #3750
@dmitripivkine, sorry for late response, file is attached.
[gdb.txt.gz](https://github.com/eclipse/openj9/files/2731977/gdb.txt.gz)

[2019-01-07 11:38] ben-walsh commented on #4130
Delay re-enable of test until https://github.ibm.com/runtimes/openjdk-contribution/issues/717 resolved.

[2019-01-07 13:21] #4151 closed

[2019-01-07 13:51] ben-walsh commented on #4128
Not unexpected, we have observed sub 1% failure rates in other intermittent OS specific problems.
I've kicked a 200x run - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/733.

[2019-01-07 14:13] adamfarley commented on #3325
My analysis isn't required anymore, because it appears the latest nightly build, as well as my local build, doesn't show this defect anymore. Test passes.

Note that the last release build still shows this error, so it seems clear that the issue was resolved in one of the change sets since the last release.

Here's a test grinder to be sure:

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grind

[2019-01-07 14:22] ben-walsh commented on #4122
@R-Santhir

Correct, the job https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder does not save any generated cores nor any files from the workspace. The job https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder which did, has been recreated as https://ci.adoptopenjdk.net/view/work in progress/job/SXA-BenWalsh-Grinder, following an unintentional removal while I was away.

Per

[2019-01-07 14:33] takiguc opened #4184 "java.lang.UnsatisfiedLinkError: sun/print/CUPSPrinter.initIDs()Z exception happens"
Hello.

I used OpenJDK JDK11 for AIX.
Desktop printer feature cannot detect by following exception.
```Caused by: java.lang.UnsatisfiedLinkError: sun/print/CUPSPrinter.initIDs()Z```

Version Information:
[code]
Test instruction:
(Please configure AIX printer)
1. Run following command
[code]
2. Click "JTable demo" button (3rd button from right side)
3. Click "Print" button, then following exception

[2019-01-07 14:34] takiguc commented on #4184
Sorry, It's for AdoptOpenJDK.

[2019-01-07 14:53] andrewcraik commented on #4122
@R-Santhir in response to the two issues above - unsafeFastPath is supposed to happen even at noOpt because it is an ilgen opt - noOpt does not mean no optimization it means minimal optimization. So the decompressed array copy will be copying the contents of one array to another and it should not be possible for the array being passed in to be null - hence why the NULLCHK is ripped out. Can you pr

[2019-01-07 14:59] JasonFengJ9 commented on #3771
@0dvictor do we still need this machine? it has been disabled from the jenkins machine pool for more than a month.

[2019-01-07 15:14] ben-walsh commented on #4129
Unfortunately, job https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/14 was removed unintentionally. I have kicked off a rebuild under https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-BenWalsh-Grinder/5.

[2019-01-07 15:15] adamfarley commented on #3325
https://github.com/AdoptOpenJDK/openjdk-tests/pull/780

[2019-01-07 15:19] R-Santhir commented on #4122
Thanks for the explanation @andrewcraik. Here's the failing method:

`        private static void getChars() {
        System.out.println("getChars.(int srcBegin, int srcEnd, char dst[], "
                           + " int dstBegin");
        tryCatch("  null", NullPointerException.class, new Runnable() {
                public void run() {
                    "foo".getChars(1, 2, null, 1);

[2019-01-07 15:22] ben-walsh commented on #4126
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/13 was unintentionally deleted. Rebuilding under https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-BenWalsh-Grinder/7.

[2019-01-07 15:24] ben-walsh commented on #4125
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-Grinder/12 was unintentionally deleted. Rebuilding under https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-BenWalsh-Grinder/8.

[2019-01-07 15:36] ben-walsh commented on #3325
Closing following de-exclusion of the test, following determination that the identified problem has been resolved by changes made subsequent to the last release build time.

[2019-01-07 15:36] #3325 closed

[2019-01-07 15:52] andrewcraik commented on #4122
@liqunl looks like we are not preserving a NULLCHK when doing the transform at https://github.com/eclipse/openj9/blob/43d93bde6571c89e8d2e95fa0072e0382507ecb4/runtime/compiler/optimizer/UnsafeFastPath.cpp#L686
Now I suspect we should keep the NULLCHK - looks a bit like one you fixed recently, but we need to check the perf implications.

[2019-01-07 15:58] #3526 closed

[2019-01-07 16:03] NigelYiboYu commented on #4134
I haven't seen any argument count restrictions on Z. So the answer is no.

[2019-01-07 16:48] pshipton commented on #4039
@keithc-ca reminder about this, can you please take a look this week.

[2019-01-07 16:49] ben-walsh opened #4188 "JTreg test fail - MacOS : java/lang/System/OsVersionTest.java"
Test https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/test/jdk/java/lang/System/OsVersionTest.java is failing with the following ...

[code]

Running the latest 11 release levels of Hotspot and OpenJ9 on my local mac machine (running 10.13.6 according to "About This Mac") shows ...

[code]

So it looks like Hotspot is using the Product Version value of the Mac OS installation it's e

[2019-01-07 16:50] pshipton commented on #4092
@smlambert is somebody able to look at this, this week?

[2019-01-07 17:00] pshipton commented on #2072
This is not expected to make the 0.12 release, moving to the next quarterly release, which is 0.14. If it happens to be resolved for the 0.13 release (Java 12) we will adjust the milestone.

[2019-01-07 17:02] pdbain-ibm commented on #4188
Looks related to https://github.com/eclipse/openj9/issues/3969.  I'll take a look.

[2019-01-07 17:05] keithc-ca commented on #4039
I thought I had already assigned myself this one: I will look at it this week.

[2019-01-07 17:07] pshipton commented on #3019
The expected performance improvements are delivered in the 0.12 milestone. Re-targeting to 0.14 (the next quarterly delivery) for the remaining work. If this happens to complete before the 0.13 (Java 12) milestone the target milestone will be adjusted.

[2019-01-07 17:20] dmitripivkine commented on #3750
@akrus Do you have matching javacore? I am looking for JVM public flags for each thread. If you don't have matching javacore or you can not share it with us you can get this information using `<Java_Home>/bin/jdmpview -core <core_dump>` as output from `!threads flags` command.

[2019-01-07 17:35] dmitripivkine commented on #3750
Seems GC Master thread is waiting in `managementGlobalGCStart ()`

[code]
for
[code]
@LinHu2016 Is it looks like an issue you fixed recently?

[2019-01-07 18:04] DanHeidinga commented on #3750
@akrus Can you add the `java -version` output from the OpenJ9 build you're using?

This looks very similar to the issue @LinHu2016 fixed: https://github.com/eclipse/openj9/pull/3060

[2019-01-07 18:14] gacholio commented on #4134
Found it:

https://github.com/eclipse/openj9/blob/4abcaf783a339440178b5c5b5c611a35dadd9c46/runtime/compiler/ilgen/IlGenerator.cpp#L1301

If nothing else, I'll update that magic 32 to be the defined constant.

[2019-01-07 18:16] dmitry-ten commented on #4152
Thanks, Younes.
I tried your patch and it works. With your patch and profiled targets enabled I got 2% higher throughput for JITaaS compared to JITaaS build without them.

[2019-01-07 18:35] 0dvictor commented on #3771
@JasonFengJ9 Thanks for reminding. I think I've got enough logs for the investigation. We can return the machine.

[2019-01-07 18:41] JasonFengJ9 commented on #3771
@AdamBrousseau please re-enable the machine.

[2019-01-07 18:59] gacholio commented on #4134
ARM and X do not have any reserved space in the C interpreter stack frame, so there may not be any more work to do here. The ILGenerator limit is unnecessary for these platforms (or at least, doesn't have to be the constant count). I'm not sure optimizing for native calls with more than 32 arguments has any real-world value.

[2019-01-07 19:13] JasonFengJ9 commented on #4128
@ben-walsh 200x grinder all passed as well.

[2019-01-07 19:30] JasonFengJ9 commented on #3213
Looking at this.

[2019-01-07 19:57] pshipton commented on #4184
@takiguc did you open an issue for this somewhere else? I don't think AdoptOpenJDK is the correct place unless it is a build, and not a code, problem.

[2019-01-07 20:38] keithc-ca commented on #4114
I was able to reproduce the exception that lead to reverting eclipse/omr#3355. It is fixed by https://github.com/eclipse/openj9/pull/4191.

If too many more openj9 problems are found, I think we should just stop throwing an exception in U64.longValue().

[2019-01-07 21:12] #3271 closed

[2019-01-07 22:58] LinHu2016 commented on #3750
@DanHeidinga @dmitripivkine it might not be directly related with the fix #3060, for fix #3060, the hang thread should call the java api getLastGCInfo().
base on @dmitripivkine 's comment
Thread 14, which is native notification thread, looks normal (wait for the notification queue)
for Thread 19 it is in gc start hook method gcStartEvent(), looks like it aquires and is waiting mgmt->managementData

[2019-01-08 00:20] takiguc commented on #4184
@pshipton , this issue only happens with IBM XLC++ 13.1.
Tool chain for AIX OpenJDK JDK11 was used IBM XLC++ 12.1 instead of IBM XLC++ 13.1.

OpenJDK JDK12 for AIX supports IBM XLC++ 12.1 and 13.1, but visibility flag was turned off.
https://bugs.openjdk.java.net/browse/JDK-8214063

Since AdoptOpenJDK JDK11 for AIX was compiled by IBM XLC++ 13.1, so this issue was happened.
I opened https://github

[2019-01-08 03:55] pshipton commented on #4184
@adamfarley @andrew-m-leonard can one of you please take a look at this.

[2019-01-08 04:42] pshipton commented on #3947
@jdekonin You can run `ipcs` on the machine to list the shared memory and semaphore artifacts. Note that listAllCaches will only show shared caches in the default cache directory, not any caches created elsewhere.

[2019-01-08 05:00] pshipton commented on #3491
@yanluo7 does the merge of eclipse/omr#3336 resolve this problem? i.e. should we revert AdoptOpenJDK/openjdk-tests#752 and start running the test again?

[2019-01-08 05:17] #4147 closed

[2019-01-08 07:44] takiguc opened #4193 "Image files are not displayed properly on SwingSet2 demo program"
Hello.

I used OpenJDK JDK11 + OpenJ9 for Linux amd64.
When I executed SwingSet2 demo, GIF images were not displayed properly.
And the situation was random, 4 GIF images were displayed on JInternalFrame Demo.
2 or 3 images were broken.

Version Information: RHEL 7.5
[code]
Test instruction:
1. Run following command
[code]
2. Check Frame 0 - 4 windows. some of images are not displayed properly

Thi

[2019-01-08 10:46] ben-walsh commented on #4188
Agreed. Cancelling as duplicate of #3969. Should be fixed in nightlies going forwards.

[2019-01-08 13:21] pdbain commented on #4188
@ben-walsh issue 3969 is nominally closed as fixed.  Please re-open this while I investigate.

[2019-01-08 13:57] ben-walsh commented on #4188
@pdbain-ibm Okey dokey.
Reopening per Peter's request.

[2019-01-08 14:03] ben-walsh commented on #4129
All 100 iterations passed https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-BenWalsh-Grinder/6.
Rebuilding under https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-BenWalsh-Grinder/9.

[2019-01-08 14:15] ben-walsh commented on #4128
@JasonFengJ9 Damn, I hoped that would have captured at least one failure. I've kicked off one more rebuild (https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/754), this time 400x - if that doesn't net us a coredump, then we'll need to reconsider our approach, possibly chalking it up to machine/network failure for the https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/608 run of the

[2019-01-08 14:44] ben-walsh commented on #4126
27% fail rate observed with https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-BenWalsh-Grinder/7. Coredump files available here - https://ibm.box.com/s/nr8kdhzm3aft91077dz4yn07jzbojrgo.

[2019-01-08 15:02] jdekonin commented on #3947
Seems to be a a lot present, I'm guessing most of this shouldn't be in use still correct?
[code]

[2019-01-08 15:06] ben-walsh commented on #4125
14% failure rate observed with https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-BenWalsh-Grinder/8. Core dump files available here - https://ibm.box.com/s/x38pfz4fjun5uuzurqh8fm0hvbchfz54

[2019-01-08 15:20] #3971 closed

[2019-01-08 15:45] theresa-m opened #4195 "JEP 334 Constants API pr tracking"
Prerequisites (merge in order):
- [x] Make Java 12 compile: https://github.com/eclipse/openj9/pull/3980 (issues #3768 #4158)
- [x] Stubs for JEP: https://github.com/eclipse/openj9/pull/4030
- [x] Java 12 test compile: https://github.com/eclipse/openj9/pull/4531
- [x] Java12AndUp test framework: https://github.com/eclipse/openj9/pull/4104 (moved to #4105 )

New methods for constants api:
- [x] Stri

[2019-01-08 16:02] dmitripivkine commented on #3750
1) Please be aware that your JVM does not have fix for #3060 and maybe it make sense to use later build (however there is no confirmation that you have this particular problem)
2) Thank you for threads flags list. However I apologize but would you please also send me output for `!threads` from `jdmpview`. I realized that native debugger output uses threads `tid` for reference but flags table uses

[2019-01-08 16:02] liqunl commented on #4122
This is not caused or exposed by any recent change. The fast path for jit helpers was added as part of String compression. This bug has existed since then.

UnsafeFastPath was initially an opt to only optimize calls to Unsafe APIs made from several recognized methods where the Object passed to Unsafe is always valid, so we don't generate NULLCHK for the load/store. The original NULLCHK is on the U

[2019-01-08 16:04] pshipton commented on #3422
I'm told this won't be ready for the 0.12 release, moving to the next quarterly release 0.14. If it happens to get completed for the 0.13 (Java 12) release, we'll adjust the milestone.

[2019-01-08 16:12] akrus commented on #3750
1. Yes, I didn't update any systems yet because of #3413 (so waiting for 0.12).
2. Sent threads output.
Unfortunately there is no javacore.txt file as the process didn't crash and I collected the dump using gdump. Can I generate javacore.txt somehow using core dump?

[2019-01-08 16:13] liqunl commented on #4122
Since the jit helpers are only used for String, I'm proposing overloading the jit helpers to take `char[]` or `byte[]` as argument. The following are examples for get APIs, same for put APIs.
[code]
With this implementation, we can just inline the jit helpers and let the Unsafe opt handle Unsafe calls instead of special case jit helpers.

[2019-01-08 16:13] liqunl commented on #4122
@andrewcraik @fjeremic Please give your thoughts to comments above.

[2019-01-08 16:21] dmitripivkine commented on #3750
It is ok, most likely jdmpview should show correct values. Unfortunately there is no way to generate javacore from core dump

[2019-01-08 16:21] R-Santhir commented on #4122
@gita-omr requested the command line arguments to build and run the failing test:

```jdk-11.0.1+13/bin/javac openjdk-tests/openjdk_regression/openjdk-jdk/test/jdk/java/lang/String/Exceptions.java```

```jdk-11.0.1+13/bin/java openjdk-tests/openjdk_regression/openjdk-jdk/test/jdk/java/lang/String/Exceptions```

[2019-01-08 16:39] harryyu1994 commented on #3724
Going to look into extending PersistentMemory for JITaaS. It may be a good idea to extend as I'm seeing a few JITaaS-specific things in the existing PersistentMemory, we might as well just move them altogether.

[2019-01-08 16:39] pshipton commented on #4120
Julian told me the workaround for the `virtual memory exhausted.` problem is as follows:
`export LDR_CNTRL=MAXDATA=0x80000000`

@jdekonin can you please add this to the machine configurations so we can see if this resolves the build problem.

[2019-01-08 16:40] pshipton commented on #4120
and @jdekonin see https://github.com/eclipse/openj9/issues/4120#issuecomment-448993288

[2019-01-08 16:47] dmitripivkine commented on #3750
I can confirm this is exactly the problem fixed in #3060

GC Master Thread:
[code]
has an Exclusive access (other threads are parked). However according native stack
[code]
it is in Hook code for `managementGlobalGCStart()` and waiting on monitor (forever because owner of the monitor is parked). The reason is in another thread:
[code]
which actually is an initiator of GC (through attempt to alloca

[2019-01-08 16:54] tajila opened #4196 "Add comments to number the jump table entries in the interpreter"
Beginner item

Regarding `/runtime/vm/BytecodeInterpreter.hpp` line 8323 - 8587. In order to improve readability and reduce the chance of mistakes whilst reordering bytecodes the interpreter jump table should be numbered.

[2019-01-08 16:58] tajila opened #4197 "Convert modularity runtime checks to compile time"
Beginner item

The `J9_ARE_MODULES_ENABLED` inspects the J9javaVM to determine if the JVM is modularity enable (Java 9+). Since we now have compilation flags distinguish the different Java levels this can now be turned into a compile time check

[2019-01-08 17:22] tajila opened #4198 "Duplicate macros in j9const.h and j9nonbuilder.h"
Beginner item

We have duplicate macros ie.

[code]

and

[code]

j9nonbuilder.h seems to more up to date so I suggest we keep that one and remove the j9consts.h equivalents.

[2019-01-08 17:35] DanHeidinga commented on #4198
Note, any change along these lines will also need to consider the DDR code as well.  The namespacing of constants may also be affected by this change.

[2019-01-08 17:50] andrewcraik commented on #4122
We do not want to rely on the inliner handling the Unsafes and I don't want the inliner to have to inline these JITHelpers because that will introduce massive scope for performance problems. It would be easier to just fix the helper and that could be done just by exposing the endianness in the J9VMInternals if it isn't already there. As a result, I would rather the current helper is fixed with the

[2019-01-08 18:03] andrewcraik commented on #4122
I believe that @fjeremic already looked at endianness when building this implementation so I would be surprised if it was fundamentally broken. I'll leave him to comment on that. For this bug can we just get an appropriate NULLCHK to be generated for the argument so that NPE is thrown and we can carry on? Adding a getClass or something the Java code and a NULLCHK in the trees?

[2019-01-08 18:51] gita-omr commented on #4134
I recall we needed more than 32 arguments for GPU work (calling CUDA runtime functions from JIT) and we had to go out of our way to put them somewhere else...

[2019-01-08 18:52] pshipton opened #4199 "Test-extended.system-JDK11-linux_x86-64 NullPointerException JrtPath.resolve"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64/132
[code]

[2019-01-08 18:54] pshipton commented on #4166
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/358

[2019-01-08 18:57] pshipton commented on #4138
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64/132

[2019-01-08 18:58] pshipton commented on #4199
Dup of #4138

[2019-01-08 18:58] #4199 closed

[2019-01-08 19:00] pshipton commented on #4138
[code]

[2019-01-08 19:05] pshipton commented on #3412
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64_cmprssptrs/136

@cathyzhyi any update?

[2019-01-08 19:10] pshipton opened #4200 "UnknownHostException: ub16x64j96 and Connection refused on ub16x64j93, ub16x64j94"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/188
[code]

[2019-01-08 19:10] pshipton commented on #4200
@jdekonin @AdamBrousseau

[2019-01-08 19:14] pshipton opened #4201 "Test-extended.system-JDK8-win_x86 SharedClasses_Softmx_UpDown_0 crash vmState=0x00000000 MethodSorter.getDeclaredMethods"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-win_x86/126/
[code]

[2019-01-08 19:19] liqunl commented on #4122
@andrewcraik If we want to optimize the jit helpers without inlining them, the explicit null check should be added to the jit helpers's callers. Unfortunately, there are a lot of them. I don't think we want to add explicit null check in all methods. We may better add explicit null checks in public APIs. For this one, it's `String.getChars`.
We can also generate a null check in the trees, but that

[2019-01-08 19:22] pshipton opened #4202 "Test-extended.system-JDK8-linux_390-64_cmprssptrs SharedClassesAPI_0 ASSERTION FAILED ScavengerRootScanner.hpp:105"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/153
[code]

[2019-01-08 19:23] andrewcraik commented on #4138
@yanluo7 could you take a look?

[2019-01-08 19:33] pshipton opened #4203 "Build-JDK9-linux_x86-64_cmprssptrs_cmake j9jitName.cpp.o failed"
https://ci.eclipse.org/openj9/job/Build-JDK9-linux_x86-64_cmprssptrs_cmake/498
[code]
etc

[2019-01-08 19:34] liqunl commented on #4122
@andrewcraik Looking at the implementation of `String.getChars` more closely, I found another problem. The condition to throw StringIndexOutOfBoundsException is incomplete. The condition for `index` is missing. Missing of a check in the caller should not be the reason that the internal API should do the check. Thus, I think the null check and other checks are the job of public APIs.
[Conditions ne

[2019-01-08 19:38] liqunl commented on #4122
@andrewcraik It'll take time to find out because some public APIs has implicit checks. Most public APIs have the right checks. For this issue, I think we should blame the implementation of `getChars` for the missing NPE.

[2019-01-08 19:39] andrewcraik commented on #4202
FYI @fjeremic

[2019-01-08 19:40] andrewcraik commented on #4122
yup so we can add the getClass or whatever for the getChars to have the right check and a follow-up of any others that are missing can be done IMO.

[2019-01-08 20:06] piyush286 opened #4205 "15-39% ODM Regressions on All Platforms due to default SCC cache"
Discovered internal to IBM and being investigated. This Issue is created so the problem can be exposed to the Release 0.12.0 milestone plan.

[2019-01-08 20:16] JasonFengJ9 opened #4206 "PR-Sanity-JDK11-linux_390-64_cmprssptrs: junk at end of line, first unrecognized character is `%'"
Occurred in two different PR builds:

https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-linux_390-64_cmprssptrs-OpenJ9/130/
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-linux_390-64_cmprssptrs-OpenJ9/131/

[code]

[2019-01-08 20:33] pshipton commented on #4206
Likely related to https://github.com/eclipse/openj9/pull/3293 and https://github.com/eclipse/openj9/pull/4204

[2019-01-08 20:59] AdamBrousseau opened #4208 "Dockerfile for JDK11 installs gcc 7.4 by default"
https://github.com/eclipse/openj9/blob/master/buildenv/docker/jdk11/x86_64/ubuntu16/Dockerfile

Default gcc7 on ubuntu16 is 7.4. Should we install gcc7.3 instead of default 7.4 from the package manager?

@pshipton

[2019-01-08 21:17] JamesKingdon commented on #643
What would we need to do to be able to write small amounts of code for the VM impl that could be compiled by the JIT? I guess we wouldn't want to write the code in Java or bytecodes, so a C to bytecode compiler would be needed? It's probably not practical, but it feels like a neat solution to these sorts of dynamic problems that need late optimization.

[2019-01-08 21:20] pshipton commented on #3947
Looks like 4 caches have been left in memory. Do we have cleanup scripts that delete files in /tmp/javasharedresources and, or the /home/user/javasharedresources directory? The caches could also have been created in a test specific directory. Deleting the cache files leaves no way for the JVM to find or do anything with the in-memory objects. If the shared caches aren't being destroyed properly, t

[2019-01-08 21:30] satbir-ca commented on #4001
I am using the java -version for testing.

Total messages send  - >3635

1. TR_J9ByteCodeIlGenerator::walker-> TR_J9ByteCodeIlGenerator::genNew -> TR_J9ByteCodeIlGenerator::loadClassObject  -->  ResolvedMethod_getClassFromConstantPool --> 1094

2. J9::TransformUtil::foldReliableStaticFinalField -> J9::TransformUtil::canFoldStaticFinalField -> getClassFromFieldOrStatic --> ResolvedMethod_getClassFr

[2019-01-08 21:32] #4150 closed

[2019-01-08 21:50] pshipton opened #4210 "-Xint performance regressions caused by move to gcc 7"
There is a loss in the bytecode interpreter -Xint (no JIT) performance when moving compilers from gcc 4 to gcc 7. For zlinux about 30% regression and xlinux about 17% regression. There hasn't yet been any regressions noticed when running with the JIT.

The problem has been tracked to the gcc LRA (register allocator). There is an option `-mno-lra` that can be used to recover the performance, at lea

[2019-01-08 21:50] pshipton commented on #4210
@charliegracie @DanHeidinga @babsingh

[2019-01-08 21:59] #4206 closed

[2019-01-08 21:59] mpirvu commented on #4001
I hope that this very small test doesn't distort the information.
Since most of the messages come from J9::TransformUtil::foldReliableStaticFinalField which has been recently changed (refactored) can we generate the same stats with an older build and compare. In principle code refactoring should not increase the number of messages.

[2019-01-08 22:33] ChengJin01 commented on #3917
As mentioned before, `print("" + arguments.length)` outputs the correct number of passed arguments while `print(arguments.length)` always ends up with 1.

The reason is that the generated bytecode at runtime is a little bit different for x() as follows:
[1]  `print("" + arguments.length)`
  public static transient varargs x(ScriptFunction;Object;[Object;)Object;
L0 [bci=0]
    0     aload 0
    1

[2019-01-08 22:34] ChengJin01 commented on #3917
Given that the runtime bytecode generated from the javascript is controlled by OpenJDK11 (which means we can't modify the code in OpenJDK11 to accommodate our code),  we might need to consider how to deal with this special case in catchException().

[2019-01-08 22:35] AdamBrousseau commented on #4208
@samuel-rubin as a good first issue, please update the Dockerfile(s) in the buildenv/docker/jdk11 directories to install gcc 7.3 instead of the default one from the package manager.
We should probably also check the ub16/390 Dockerfile used for the buildfarm containers
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/docker-slaves/s390x/ubuntu16/Dockerfile

[2019-01-08 22:38] rwy0717 opened #4212 "cmake builds fail with xcode 10"
CMake fails to detect that clang is a working compiler under xcode 10.

[code]

[code]

[2019-01-08 22:38] rwy0717 commented on #4212
/cc @dnakamura

[2019-01-08 22:54] pshipton commented on #4208
Using gcc 7.4 for s390/zlinux is fine. 7.4 is the desired level for zlinux, and it has already been verified for performance.

[2019-01-08 22:58] AdamBrousseau commented on #4200
@cwillhelm I think the hostname may be messed up on the 2-6 unb machines. Can you please have a look. I will disable them in the meantime. I'm not sure if these are 2 separate issues or 2 issues with the same root cause.

[2019-01-08 23:12] AdamBrousseau commented on #4208
Confirmed the Container for ub16/390 already has 7.4
https://hub.docker.com/r/eclipse/openj9-jenkins-agent-s390x-ubuntu16

[2019-01-08 23:44] rwy0717 commented on #4212
The problem seems to be that the macosx-version-min set by openjdk is not supported by MacOSX10.14.sdk.

When targeting MacOSX 10.8 and lower, clang will use the old gnu libstdc++ by default. When targeting MacOSX 10.9 and newer, clang will use the new libc++. As of MacOSX 10.14 SDK / XCode 10, Apple is no longer shipping libstdc++, meaning users should now target 10.9 or newer, and use libc++. Th

[2019-01-09 02:36] #4039 closed

[2019-01-09 02:45] pshipton commented on #4138
I've set this a high priority as it seems to fail fairly often, sometimes blocking omr acceptance.

[2019-01-09 04:12] mpirvu commented on #4205
I did some investigation using SPECjbb2005 as a benchmark. We know that the problem was triggered by enabling the shared class cache and AOT by default. The underlying issue is that enabling AOT also enables interpreter profiling data persistence. This means that, in order to improve start-up time, interpreter profiling data is stored in the SCC and in the warm run the JIT will turn off Iprofiler

[2019-01-09 07:30] akrus commented on #3750
@dmitripivkine , good. I'll update to 0.11 this week then.

[2019-01-09 13:25] pshipton opened #4216 "j9dump_test_create_dump tests fail on ub16x64j91"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/372
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-linux_x86-64_cmprssptrs/497
I believe this is a machine problem.
[code]

[2019-01-09 13:37] #3205 closed

[2019-01-09 13:43] ben-walsh commented on #4128
All 400x of https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/754 passed.
Marking this as unrecreatable, closing off and de-excluding test.
Will reopen this issue once we have established the exact conditions under which it fails.

[2019-01-09 13:43] #4128 closed

[2019-01-09 13:50] AdamBrousseau commented on #4216
Machine disabled pending investigation

[2019-01-09 14:19] AdamBrousseau commented on #4200
rerunning those 2 test jobs now
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_x86-64_cmprssptrs/187/
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/190/

[2019-01-09 14:23] jerboaa opened #4217 "test/functional/JIT_Test/src/jit/test/tr/chtable/InnerPreexistence.java might never complete"
The core test method looks like this:

        @Test
        public void testInnerPreexistence() {
                timer.schedule(new NotifyTask(TASK_LOAD_C, this), 8000);
                while (keepOnGoing)
                        foo();
                AssertJUnit.assertTrue(foo() == 'c');
        }

So a NotifyTask is being scheduled with a 8 seconds delay and a loop is entered based on `keepOn

[2019-01-09 14:34] pdbain-ibm commented on #3917
This may be related to
https://github.com/eclipse/openj9/issues/3274

[2019-01-09 14:38] cathyzhyi commented on #3590
https://github.com/eclipse/openj9/blob/ba36fc7f5c165a01ef928e82250f237980cfbf71/runtime/compiler/control/HookedByTheJit.cpp#L3018-L3019

Had an offline chat with @gacholio , the problem is that the condition `(classCount == 0 || classList == NULL)`  is true for both extended HCR and data break point (field watch in this case). Not falling back to mimic interpreter frame shape would break extended

[2019-01-09 14:42] liqunl commented on #4122
For getChars that takes a char array, the following if statement will give us the missing checks.
[code]
But I don't know what kind of checks we should do for getChars that takes a byte array. Is `index` in byte or in char? @fjeremic @andrewcraik
[code]

[2019-01-09 15:05] pinicman commented on #4205
Running the 1207 build with -Xjit:disableIprofilerDataPersistence there is an ~11.5% improvment:

With implicit SCC:
4756
1.5% CI

With implicit SCC and -Xjit:disableIProfilerDataPersistence:
5305
1.57% CI
Improvement over implicit = ~11.5%

[2019-01-09 15:13] andrewcraik commented on #4122
so looking at the implementation the start and end are in terms of characters - all indexes, offsets etc are in terms of chars - how that maps to the byte array depends on the compression of the string. I think the bound checks are fine - we should just add a data.getClass() to do the NULLCHK. You should do a functional test with a null array and bad bounds to see if the Oracle implementation thro

[2019-01-09 15:15] jdekonin commented on #4120
Testing with the option added still fails.
https://ci.eclipse.org/openj9/view/Build/job/Build-JDK8-aix_ppc-64_cmprssptrs/931/consoleFull