[2021-06-25 12:33] JasonFengJ9 opened #13064 "JDK8 jit_hw_0_FAILED Segmentation error vmState=0x00050fff"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_linux_aot_Personal/5/tapResults/ (`ub18-x86-1`)
to rebuild the failed tests in <Jenkins URL>=https://openj9-jenkins.osuosl.org/job/Grinder, use the following links:
https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=function

[2021-06-25 12:39] JasonFengJ9 opened #13065 "cmdLineTester_verbosetest failed : Required condition was not found: [Output match: Loaded jit/test/vich/Allocation]"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_linux_aot_Personal/5/tapResults/
[code]
to rebuild the failed tests in <Jenkins URL>=https://openj9-jenkins.osuosl.org/job/Grinder, use the following links:
10:40:15  https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=functi

[2021-06-25 13:12] jdekonin commented on #13016
All internal systems updated as per issue 5636.

[2021-06-25 13:12] #13016 closed

[2021-06-25 13:58] #12690 closed

[2021-06-25 14:39] dnakamura commented on #13004
Do we plan on using the extra registers from avx-512 (eg zmm16-31)?

[2021-06-25 15:51] tajila commented on #13004
I think the intention is that with Vector API we will use all available vector registers. @gita-omr can confirm.

[2021-06-25 15:58] a7ehuo commented on #11510
The change that potentially caused the test failure had been reverted in #11513. This issue could be closed

[2021-06-25 16:00] a7ehuo commented on #9760
The fix has been submitted in #9779.

[2021-06-25 16:00] #9760 closed

[2021-06-25 16:01] #11510 closed

[2021-06-25 16:44] dmitry-ten opened #13067 "JDK11 JITServer MauveMultiThrdLoad_special_5m_22 failed"
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/16566/
A test from the `special.system` test suite. The failure was detected on `s390x_linux` JDK11, other platforms haven't been grinded to determine whether it's an issue tere as well.
This is an intermittent failure, in the provided grinder, 5/20 tests failed.

The output of the failing test:
[code]
So it's a test failure, not a crash.

[2021-06-25 16:47] keithc-ca commented on #13061
Fixed via pull requests referenced above.

[2021-06-25 16:47] #13061 closed

[2021-06-25 16:51] dmitry-ten opened #13068 "JDK11 JITServer system_custom_0 Segmentation Fault"
Link to the grinder: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/16570/consoleText
The test fails on `x86-64` JDK11, other platforms have not been grinded to determine whether the crash is present there.
Failure rate is 3/358.
Output from the crashed test:
[code]
In another failed iteration the output is different:
[code]

In both cases the failure is inside GC code.

[2021-06-25 16:59] dmitry-ten commented on #10331
The current failures are for `MathLoadTest_all_special_5m_11`  which runs with options
[code]
Notably, I grinded `MathLoadTest_all_special_5m_10` for 50 iterations and saw no failure. This test is identical to the previous one, but options are:
[code]
This seems to suggest that JITServer is not processing compressed references correctly in some rare cases.
We've had those problems in the past, but

[2021-06-25 17:01] #12911 closed

[2021-06-25 17:02] #8664 closed

[2021-06-25 17:09] dnakamura commented on #13004
I would assume so too, but I thought I would check as saving/restoring 2KB worth of registers feels a bit excessive

[2021-06-25 19:03] hzongaro commented on #11899
I haven't been able to make time to progress this recently.  It won't be resolved for 0.27.0, so I'll move it to 0.28.0.

[2021-06-25 19:03] hzongaro commented on #9651
I haven't been able to make time to progress this recently.  It won't be resolved for 0.27.0, so I'll move it to 0.28.0.

[2021-06-25 19:05] hzongaro commented on #8872
I haven't been able to make time to progress this recently.  Though the failure hasn't been seen recently, I'd still like to investigate further to ensure there's no bug here.  It won't be resolved for 0.27.0, so I'll move it to 0.28.0.

[2021-06-25 19:34] gita-omr commented on #13004
Yes, I afraid we need to save all of them and model it after Power where we don’t save on helpers that correspond to calls in the Java code and therefore saved by JIT already.

[2021-06-26 08:03] JavaTailor commented on #12944
@BradleyWood
That makes sense. Thank you for your reply! I am going to close this issue.

[2021-06-26 08:03] #12944 closed

[2021-06-27 02:58] JavaTailor commented on #12992
Hi, @tajila
This issue can be completely reproduced, could you please take a look? :)

[2021-06-27 03:03] JavaTailor commented on #12687
Hi, @tajila
This issue has submitted for a long time , could  you please take a look? :>

[2021-06-27 04:12] fengxue-IS commented on #11922
Still needs to be back-ported to JDK8, JDK11 in the future once we are ready to enable OJDK MH for these versions.
As this is fixed for Java17+, marking this low priority

[2021-06-27 04:14] fengxue-IS commented on #11927
testcase disabled for OJDK MH builds, marking low prio
Todo: update testcase such that `asVarargsCollector` call will always generate a BoundMethodHandle

[2021-06-27 04:23] fengxue-IS commented on #11935
test has been excluded, marking this as low prio.

Todo:  As OpenJ9 w/ OJDK MH matches RI behavior and the exception is generated from openjdk JCL, only need to review behavior against java doc to confirm if this is an error with testcase or JCL (then raise openjdk bug report)

[2021-06-27 05:53] urisimchoni opened #13071 "java.lang.IllegalArgumentException: Wrong type at constant pool index thrown after retransforming class"
We have a Java agent which re-transforms Spring bean classes for the purpose of instrumentation. When Spring later pokes at those classes prior to instantiating the bean (looking for annotations and whatnot), we get a VM exception:

[code]

The modified class bytes seem valid and this doesn't happen with HotSpot VM - I suspect it might be related somehow to some stale copy of the old, pre-transfor

[2021-06-28 09:42] knn-k commented on #13017
I merged #13047.

[2021-06-28 12:15] 0xdaryl commented on #12819
@BradleyWood : please prepare a 0.27 PR for this fix.

[2021-06-28 13:22] pshipton opened #13074 "ub16x64j95 not enough free space causing test failures"
Machine disabled.
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_special.system_x86-64_linux_Release_testList_2/3/
[code]

@jdekonin @AdamBrousseau fyi

[2021-06-28 13:24] pshipton opened #13075 "win2012-x86-2 and win2012-x86-4 offline"
@AdamBrousseau fyi
Nothing is running atm.

[2021-06-28 13:41] #13024 closed

[2021-06-28 13:55] dmitripivkine commented on #13057
@pshipton @tajila GC parser uses `GET_DOUBLE_VALUE()` looks like locale dependable (expected to use comma instead of period for double value for German locale). Is it intended behaviour for command line option?

[2021-06-28 13:59] AdamBrousseau commented on #13075
2 is back. 4 I can't get into yet. Auth failure. I tried reboot but no luck yet.

[2021-06-28 14:01] tajila commented on #12687
On J9 when we attempt to enter `m2` we will throw SOE. This will then be caught and we will unwind to the previous frame.

[code]

At that point we will have enough stack space to run `println` and `m1` thus throwing the NPE. As a result the behaviour with and without the `println` is the same with J9.

[2021-06-28 14:10] dmitripivkine commented on #13068
Please let me know if you need analysis for these crashes (I am going to need system core if it is a case)

[2021-06-28 14:29] pshipton commented on #13057
The code is using `strtod()` in the end. Matching the reference behavior makes sense to me, in particular since `-XX:MaxRAMPercentage` was added for compatibility. Using locale dependent characters means you can't have a command line what works independent of locale, which is a problem. I'm guessing nobody wants to check the locale first in order to set an appropriate command line.

Changing it wi

[2021-06-28 14:35] zjavaperf opened #13077 "Avoid segmentation faults when running with Huge Pages in containers"
Hi OpenJ9 team,

I found that under certain circumstances, OpenJ9 / OMR runs into bus errors (`SIGBUS`) / segmentation faults (`SIGSEGV`) when trying to exploit **Huge Pages** in container environments like Red Hat OpenShift, for example. The problem is the following:

- (1) On the one hand side, we have a given amount of Huge Pages available on the host or _worker node_ in OpenShift terms

- (2)

[2021-06-28 14:37] pshipton commented on #13057
I think there are other GC options which use doubles. Are they affected by the locale, and if not, what do they use to parse the input?

[2021-06-28 14:54] JasonFengJ9 opened #13078 "JDK8 AIX Assertion failed at omr/compiler/p/codegen/OMRCodeGenerator.cpp:1354: label->getCodeLocation() - Segmentation error vmState=0x0005ff0b"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_ppc64_aix_testList_4/75/` (`paix823`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=MauveMultiThrdLoad_special_5m_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_special.system_ppc64_aix&amp;DOCKER_REQUIRED=false&amp;ACTIV

[2021-06-28 15:05] dmitripivkine commented on #13057
I believe there are two options only are parsed using double `-XX:MaxRAMPercentage=` and `-XX:InitialRAMPercentage=` and both of them use this helper

[2021-06-28 15:31] pshipton commented on #10984
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly_testList_1/36
ClassLoadingTest_5m_1
JVM_OPTIONS:  -XX:-UseCompressedOops

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly_testList_1/36/system_test_output.tar.gz
[code]

[2021-06-28 16:22] pshipton commented on #13077
@dmitripivkine @tajila fyi

[2021-06-28 16:25] pshipton commented on #13078
vmState [0x5ff0b]: {J9VMSTATE_JIT} {ProcessRelocations}

[2021-06-28 16:30] #12819 closed

[2021-06-28 16:43] dmitripivkine commented on #10984
Looks like there is an attempt to copy object from `0xFDB00000` to `0xFDB5D188` but somehow copy address has high bit set `InaccessibleWriteAddress=00000001FDB5D189`

[2021-06-28 17:02] pshipton commented on #13071
@tajila fyi

[2021-06-28 17:11] DanHeidinga commented on #13071
This looks like https://github.com/eclipse-openj9/openj9/issues/10026

[2021-06-28 17:34] dmitry-ten commented on #13068
@dmitripivkine thank you, your help would be appreciated.
This is the stack trace of the segfault:
[code]
So far the only thing I can tell is that `destinationObjectPtr` contains invalid address and causes the crash.
I'll send you the core dump and jdk I used in DMs.

[2021-06-28 17:34] urisimchoni commented on #13071
@DanHeidinga It might be, but it appears to be 100% repeatable with what I believe is single-threaded Java code (Spring-boot initialization process). OTOH, what does look like a multi-threading effect is that if I load and retransform the class before initializing spring-boot it doesn't happen - it only happens when the class is retransfromed right before creating the Spring bean (using an aspectJ

[2021-06-28 19:03] AdamBrousseau commented on #13075
Few more restarts and it's back online.

[2021-06-28 19:03] #13075 closed

[2021-06-28 19:10] dmitripivkine commented on #13068
The reason for crash is bad (stall?) `O-Slot: : t14[0x0000000000522F80] = 0x00000007FFF80000`
[code]
This 0-slot points inside object `!j9object 0x7FFF7FFB8`
[code]

[2021-06-28 19:35] dmitripivkine commented on #13068
BTW it is easy to find problematic slot using `gccheck` in `jdmpview`:
[code]

[2021-06-28 20:02] gita-omr commented on #11993
Ok,  will need to double check, but let's assume that for now.

[2021-06-28 21:11] dmitripivkine commented on #13068
FYI this failure looks very similar https://github.com/eclipse-openj9/openj9/issues/10984#issuecomment-870044385

[2021-06-28 21:19] dmitripivkine commented on #10984
Ah, it is even the same problematic method `net/adoptopenjdk/test/classloading/ClassMapHog.addClass` for both cases

[2021-06-28 21:19] dmitripivkine commented on #13068
Ah, it is even the same problematic method `net/adoptopenjdk/test/classloading/ClassMapHog.addClass` for both cases

[2021-06-28 21:20] dmitry-ten commented on #10984
Hm, indeed. I wonder if it's a non-JITServer specific bug then.
Since this test is for AOT, maybe it's an AOT bug.

[2021-06-28 21:36] dmitry-ten commented on #13067
50 iterations of the test on `x86-64`: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/16589/  and `ppc64le` https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/16630/ showed no failures.
Since the bug seems to be contained to Z, going to put it into the backlog for now, since JITServer doesn't officially support Z yet.

[2021-06-28 22:51] AdamBrousseau commented on #13074
Workspace, home and tmp look fine.
~25G used by docker images.
Thanks @rajdeepsingh1 for cleaning up.
Machine back online.

[2021-06-28 22:51] #13074 closed

[2021-06-28 23:37] pshipton commented on #13074
@AdamBrousseau @jdekonin This is the second machine with space problems due to docker. Are we missing some regular cleanup that needs to occur? Otherwise this problem will keep occurring on every machine as they fill up.

[2021-06-29 01:41] JavaTailor commented on #12687
@tajila
Thanks for your reply! This should be an inconsistency between the implementation of openj9 and hotspot. By the way, could you please check this issuse? #12992

[2021-06-29 03:14] JavaTailor opened #13082 "J9(1.8.0_292) and hotspot(8u275b01) runs normally;J9(11.0.11) threw IllegalAccessException; hotspot(10.0.2 ,11.0.10) threw NoSuchMethodException"
### Summary
Given a test case, we found that the execution results of this test case on different JVMs and different versions are quite different, the simplified test case can be found in the attachment. In summary, J9(1.8.0_292) and hotspot(8u275b01) are executed normally, while others threw different exceptions. The output is as follows:

J9(11.0.11):
[code]

hotspot(10.0.2 ,11.0.10):
[code]

##

[2021-06-29 11:49] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_x86-64_windows_Nightly_testList_0/37/
ConcurrentLoadTest_5m_1
[code]

[2021-06-29 11:54] pshipton opened #13084 "jtreg ProcessBuilder/Basic NullPointerException: Cannot invoke "java.io.File.exists()" because "openj9.internal.tools.attach.target.TargetDirectory.advertisementFileObject" is null"
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_s390x_linux_Nightly/38 - rh7-390-3
jdk_lang_0
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops
java/lang/ProcessBuilder/Basic.java

[code]

[2021-06-29 11:57] pshipton opened #13085 "cmdLineTester_getPid_0 RuntimeMXBean.getPID() returned 0 instead of 18677928"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_OMR_testList_1/37
cmdLineTester_getPid_0
[code]

[2021-06-29 12:23] pshipton commented on #13062
Dup of https://github.com/eclipse-openj9/openj9/issues/9782

[2021-06-29 12:23] #13062 closed

[2021-06-29 12:26] pshipton commented on #13063
Dup of https://github.com/eclipse-openj9/openj9/issues/13074

[2021-06-29 12:26] #13063 closed

[2021-06-29 12:29] pshipton commented on #13064
@dsouzai fyi

[2021-06-29 12:30] pshipton commented on #13065
@dsouzai fyi

[2021-06-29 13:07] keithc-ca commented on #13034
I believe the root of this problem is the absence of an `SONAME` in `libj9jit29.so` for SDKs produced using the UMA build framework. In newer builds that use cmake, that shared library has the expected `SONAME` and, consequently, `jpackcore` includes it in the archive it creates.

[2021-06-29 13:27] JamesKingdon commented on #13034
Ah, so the problem with the jit library will resolve itself. When did the Java8 builds switch to cmake?

[2021-06-29 13:35] tajila commented on #12992
@ChengJin01 Please take a look at this

[2021-06-29 13:38] keithc-ca commented on #13034
IBM builds did not switch: I believe they still use UMA.

It should be a relatively straight-forward change to fix new UMA builds, but that won't help with those already in the field. There may be room to improve `jpackcore` so that it depends less heavily on `SONAME`s and file names align better with targets of symbolic links, when an `NT_FILE` note is present. Similar changes should be applied t

[2021-06-29 14:11] 0xdaryl commented on #9782
The investigation of this won't be completed for 0.27.  Moving out.

[2021-06-29 14:52] DanHeidinga commented on #13077
I've tagged this against Java 17 as an initial release but we'll need to find someone to pick it up

[2021-06-29 15:59] tajila opened #13088 "Recognize --enable-native-access= option"
A new option `--enable-native-access=` is being added for jdk17.

[code]

This option corresponds to the `jdk.module.enable.native.access` system property

[2021-06-29 16:00] tajila commented on #13088
@JasonFengJ9 Please take a look at this, its blocking jdk17 tests

[2021-06-29 16:27] JasonFengJ9 commented on #13088
Sure, will look into it.

[2021-06-29 17:45] pshipton commented on #9124
Another one
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix_Nightly/35
[code]

[2021-06-29 18:50] gacholio commented on #13042
OK, so the invalid parameter is likely the critical section, not the timeout value.

[2021-06-29 19:43] pshipton commented on #7552
Should this issue be closed now?
@amicic @dmitripivkine

[2021-06-29 20:43] #13057 closed

[2021-06-29 20:56] fengxue-IS opened #13094 "OJDK MH: JTReg test failures Java 16/17"
**crash:**
~java/lang/invoke/LoopCombinatorLongSignatureTest.java~ (#13285)
~java/lang/invoke/7157574/Test7157574.java~ (#13287)
~java/lang/reflect/DefaultStaticTest/DefaultStaticInvokeTest.java~
~java/lang/invoke/CompileThresholdBootstrapTest.java (Java 17 only)~

**exception:**
~java/lang/invoke/VarHandles/VarHandleMethodReferenceTest.java~ (**Fixed by #13141**)
- `java.lang.NoSuchMethodError: j

[2021-06-29 21:08] #7552 closed

[2021-06-29 21:19] ChengJin01 commented on #12992
Hi @JavaTailor,

1) The description of `IncompatibleClassChangeError` I your mentioned at http://cr.openjdk.java.net/~iris/se/11/latestSpec/java-se-11-jvms-draft-diffs.pdf is intended for nested mate introduced in Java11 (JEP 181: Nest-Based Access Control) at https://openjdk.java.net/jeps/181, which is irrelevant to the exception with inner classes as it is also captured in Java 8:
[code]

2) The

[2021-06-30 00:06] fengxue-IS commented on #13094
Opened PR to exclude these tests
Java 16: https://github.com/adoptium/aqa-tests/pull/2694
Java 17: https://github.com/adoptium/aqa-tests/pull/2684

[2021-06-30 01:26] fengxue-IS commented on #12285
Update: https://bugs.openjdk.java.net/browse/JDK-8266269 have been resolved in OpenJDK for Java 17+.

@DanHeidinga should we revert #12371 and continue with the fix in #12331?

[2021-06-30 02:03] DanHeidinga commented on #12285
Yes, but as far as I can tell JDK-8266269 is only merged into JDK17+ so we should wait to merge to change our behaviour until we're sure that the 0.27 branches won't be refreshed from master.

fyi @pshipton for awareness to ensure we don't refresh the release branch once this is addressed

[2021-06-30 02:12] fengxue-IS commented on #12285
Also, Java 17+ will use OJDK MH by default so JDK-8266269 should be picked up by 17+ builds automatically, do we need to backport JDK-8266269 to the 8 & 11 extensions repo in the future when we decide to switch to OJDK MH on 8/11?

[2021-06-30 02:33] pshipton commented on #12285
Is there an extensions change, or just #12371? We won't be refreshing the 0.27 branch from master in the openj9 repo. We may pull other releases (IBM) from master before OJDK MH is backported to jdk8.

[2021-06-30 02:47] fengxue-IS commented on #12285
JDK-8266269 is a OJDK MH change that is only available for Java 17+ in the extensions repo
#12331 is the equivalent changes for OpenJ9 MH impl
#12371 is a workaround that matches the "incorrect" openjdk behavior for OpenJ9

I guess the questions are:
1. Do we want to update the OpenJ9 MH behavior for pre-Java 17 to match the correct spec behavior that is only fixed in Java17+ by RI
2. Do we want t

[2021-06-30 02:56] pshipton commented on #12285
My vote is to keep it as-is for the 0.27 release, and match the RI for 8, 11, 16.

Perhaps JDK-8266269 will be backported for the OpenJDK release in Oct. We can decide if we want to make any updates for this release.  I'd prefer not to put anything in the extensions we don't want in 0.27, as usually I do refresh the 0.27 extensions branches with the latest, as long as that is feasible/possible.

[2021-06-30 03:45] JavaTailor commented on #12992
Hi @ChengJin01
Thanks for your reply!
We are glad to provide any help if necessary!

[2021-06-30 03:45] #12687 closed

[2021-06-30 06:25] fengxue-IS commented on #11582
did some digging around this issue
the only case that `VarHandleGuards` fail seem to be with void return type as javac treats VarHandle polymorphic methods specially and generates the call return type based on how the returned object is used/stored. (ie. if the return value is not used then it becomes void.

funny part is when I tried to call `compareAndSet` instead of `getAndAdd` in @hangshao0 's

[2021-06-30 07:10] romanblachman commented on #13042
@gacholio any updates? we are seeing this critical section crash happening non-stop on windows server 2012 r2 machines

[2021-06-30 11:31] JasonFengJ9 opened #13096 "aarch64_linux cmdLineTester_lockWordAlignment_Object_ii_0 - Segmentation error vmState=0x000501ff"
Failure link
------------

From an internal build `Test_openjdk16_j9_extended.functional_aarch64_linux_testList_1/7/` (`ub18-aarch64-3`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=cmdLineTester_lockWordAlignment_Object_ii_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk16_j9_extended.functional_aarch64_lin

[2021-06-30 12:06] pshipton commented on #13042
Can you provide a test case so we can repeat the problem?

[2021-06-30 12:08] knn-k commented on #13096
Rerun in Grinder (10 iterations) was successful.
job/Grinder/16689/

[2021-06-30 12:28] DanHeidinga commented on #12285
I agree with Peter, assuming there aren't any tests in 8/11 that will fail due to this.

We should propose the OJDK backport now if we want it for Oct.

[2021-06-30 12:31] pshipton commented on #12356
Closing as a dup of https://github.com/eclipse-openj9/openj9/issues/10732

[2021-06-30 12:32] pshipton commented on #12166
Closing as a dup of https://github.com/eclipse-openj9/openj9/issues/10732

[2021-06-30 12:32] #12166 closed

[2021-06-30 12:32] #12356 closed

[2021-06-30 12:34] pshipton commented on #10732
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly_testList_0/38 - ub18-390-1
testDefaultDisclaimMemory_zlinux_1
JVM_OPTIONS:  -Xgcpolicy:optavgpause -Xjit -Xnocompressedrefs
[code]

[2021-06-30 12:37] pshipton commented on #8511
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly_testList_0/38
testSCCacheManagement_0
[code]

[2021-06-30 12:40] pshipton commented on #11979
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_Nightly_testList_1/38
cmdLineTest_sigabrtHandlingTest_0
[code]

[2021-06-30 12:42] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/34
    java/util/Calendar/CalendarRegression.java.CalendarRegression
    java/util/Calendar/CalendarTest.java.CalendarTest
    java/util/Calendar/FieldStateTest.java.FieldStateTest
    java/util/Calendar/GregorianCutoverTest.java.GregorianCutoverTest
    java/util/Calendar/JulianTest.java.JulianTest
    jav

[2021-06-30 12:49] pshipton opened #13097 "SharedClassesAPI_0 Windows An error has occurred while opening shared memory"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_2/38
SharedClassesAPI_0
[code]
67.WL3.stderr
[code]

[2021-06-30 13:34] fjeremic opened #13098 "Enable getCallerClass optimization for JITServer"
Due to a functional bug when running tests the optimization delivered in #13101 was disabled for JITServer due to a time pressing performance issue which had to be delivered. This item will track re-enabling this optimization for JITServer.

The original SIGSEGV's is copied here:

[code]

Looking at the contents of the aforementioned PR there should be nothing JITServer special about it. We are ju

[2021-06-30 13:35] fjeremic commented on #13098
@harryyu1994 @mpirvu FYI so we can track this one.

[2021-06-30 14:06] #13043 closed

[2021-06-30 14:19] mpirvu commented on #13098
This may be as simple as using `fe()->getROMMethodFromRAMMethod(method)` instead of `J9_ROM_METHOD_FROM_RAM_METHOD`

[2021-06-30 14:57] dmitry-ten commented on #13098
Yeah, I don't see anything else that could be causing problems.

[2021-06-30 15:26] #13048 closed

[2021-06-30 16:09] r30shah commented on #12789
I was able to reproduce this manually with getting the trace file with traceRA of failing method and inspecting that I can see why we are seeing this failure. In the case where I have flipped the flag `allowNullReturn` at call site [1] to `false` prints me the register status when it fails where I see all the registers except locked registers are blocked and it can not find any free register or re

[2021-06-30 16:19] hangshao0 commented on #11582
Does RI have the same exception ?

[code]

[2021-06-30 16:24] fengxue-IS commented on #11582
That is the exception I got when testing with RI build, OpenJ9 build has VarHandleGuards disabled

[2021-06-30 16:29] hangshao0 commented on #11582
OK. Looks like `VarHandleGuards` is problematic at this point.

[2021-06-30 16:37] AdamBrousseau commented on #12881
Not sure this is resolved for openjdk prs
https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_linux_Personal/74/console

[2021-06-30 16:45] ChengJin01 commented on #12992
1) Looking at the code at https://github.com/eclipse-openj9/openj9/blob/master/jcl/src/java.base/share/classes/java/lang/Class.java & https://github.com/eclipse-openj9/openj9/blob/master/runtime/jcl/common/java_lang_Class.cpp
[code]
It shows whether the outer class is fetched successfully depends on whether the outer class info exists in the `InnerClasses` attribute (filled into the ROMClass when

[2021-06-30 16:55] ChengJin01 commented on #12992
Hi @JavaTailor,

Please add the missing outer class info to the `InnerClasses` attribute of `ICCE$1A` (as I explained above) if you need to verify the inconsistency of this attribute on both the inner class & outer class by triggering `IncompatibleClassChangeError`.  Hotspot might resort to other info to deduce the relationship (e.g. by invoking `getEnclosingClass` to identify `ICCE` but it is for

[2021-06-30 17:24] AdamBrousseau commented on #13074
We've had conversations about creating a periodic cleanup. I'll open an infra issue to track.

[2021-06-30 19:22] #12947 closed

[2021-06-30 20:30] mpirvu commented on #4382
I cannot reproduce the crashes at the moment, but I do see error messages coming from openssl. E.g.
`139791321061120:error:1408F119:SSL routines:ssl3_get_record:decryption failed or bad record mac:ssl/record/ssl3_record.c:681:`
The pattern I see is that the client closes the connection (maybe because the compilation queue is empty) and the server experiences an exception when calling `readCompileR

[2021-06-30 20:34] mpirvu commented on #4382
Interestingly, looking at the openssl code I see that `SSL_set_fd` creates a BIO as well:
[code]
I wonder if we should create a BIO of our own. Our code is around these lines:
[code]

[2021-07-01 02:52] knn-k commented on #12280
Related Issue: https://github.com/eclipse/omr/issues/6087

[2021-07-01 02:52] Akira1Saitoh commented on #13096
Stack trace from core file shows that the crash occurred at optimization phase.

[code]

[2021-07-01 05:59] knn-k commented on #12096
arraycopyEvaluator() needs to implement read barriers for concurrent scavenger.
A link to the implementation for Power:
https://github.com/eclipse-openj9/openj9/blob/22de6cd234df2595c22bddb0547f1bed8493d9be/runtime/compiler/p/codegen/J9TreeEvaluator.cpp#L12059-L12066

[2021-07-01 07:33] urisimchoni commented on #13071
OK I have a reproducer - this is different than #10026 IMHO.

I've created a small project to demonstrate the issue:

https://gitlab.com/urisimchoni/constant-pool-issue-demo

What happens here is that Spring caches java.lang.reflect.Method objects. Those objects have an annotation buffer and an indirect reference to a constant pool through the declaring class. After retransforming, the Method has

[2021-07-01 11:58] JavaTailor commented on #12992
Hi @ChengJin01
Thanks for your detailed reply! !  :>

Based to your explanation, the inner class *ICCE$1A* lacks the attribute of the outer class, but we did not make any changes to *ICCE$1A*. Then, we  further analyze the test cases. We found that the difference lies in where the inner class is defined. If the inner class is defined inside the function, then no attribute pointing to the outer cla

[2021-07-01 16:06] DanHeidinga commented on #13071
I've been told that Hotspot keeps the constantpool indices stable across retransforms (basically, only appending new cp entries) which isn't really a viable solution for J9 due to how we treat cp entries.  In particular, primitive data like longs / doubles are sorted to the end of the cp and only exist in the romclass so we don't waste space in the ramClass with duplicate data.

This hits the nail

[2021-07-01 17:25] urisimchoni commented on #13071
It seems like applying the fix for this issue would require a change in Method (which seems to be an unmodified OpenJDK class), whereas with #10026 the modification is in Class which is already an OpenJ9 implementation.

A possible workaround for us is to transform the class in such a way that indices remain the same - pretty much as you suggest HotSpot is doing internally. I'll look into that.
Th

[2021-07-01 18:10] 0xdaryl opened #13103 "AArch64: Implement arraytranslateEvaluator() and arraycmpEvaluator()"
Shadow issue in OpenJ9 to track the work in OMR #6092.

[2021-07-02 02:51] ChengJin01 commented on #12992
Hi @JavaTailor,

1)  For test 1 in which case both `A` and `B` are defined in the method `main` instead of `ICCE`:
[code]
the `IncompatibleClassChangeError` exception is triggered on Hotspot after removing  the `InnerClasses` attribute in `ICCE`.class
[code]

For test 2 in which case both `A` and `B` are defined directly in `ICCE`:
[code]
the `IncompatibleClassChangeError` exception is triggered o

[2021-07-02 02:53] ChengJin01 commented on #12992
@pshipton,  any other input as to test 1 above?

[2021-07-02 17:50] AdamBrousseau commented on #12881
Another failure mode

https://openj9-jenkins.osuosl.org/job/Build_JDK11_x86-64_linux_Personal/108/console

 09:37:44  Using default tag: latest
 09:37:44  Error response from daemon: pull access denied for 428be5833257, repository does not exist or may require 'docker login': denied: requested access to the resource is denied

[2021-07-03 13:09] romanblachman commented on #13042
@pshipton we do not have a clear reproduction of the issue, but when we have our software running on windows server 2012, crashes happen pretty much immediately, reproducing every few minutes/hours. we have setup a test lab of 33 machines so it's pretty easy to reproduce the issue.

[2021-07-04 22:42] #12571 closed

[2021-07-05 14:28] fjeremic commented on #12789
@r30shah register exchange only works when we have a spare register handy. It sounds like in this case we have all registers blocked and we couldn't find a spare register for the exchange. That seems to be the root of the problem. I think we should check what Power does in this case to see if they're handling this properly.

In my mind I only see two options for such a case:

1. Spill a random reg

[2021-07-05 14:55] r30shah commented on #12789
@fjeremic ,  `registerExchange` function [1] does exchange content of the register using temp spill slot. Looking into the that function, it does not need `spareReg` to do the process. I think issue with it currently is that, it does not support exchange between 32-bit and 64-bit registers that is why in the failing case, it tried to do it with spare reg.
As a temporary work around, to confirm my

[2021-07-05 15:11] pshipton opened #13106 "TKG failing to run Windows 32-bit testing"
Windows 32-bit testing failing to run since Wed night. https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK8/53/
Guessing https://github.com/adoptium/TKG/pull/216 is causing the problem.
@renfeiw @smlambert @llxia
[code]
good:
OpenJ9: 09971ec
OMR: ec902f6
OpenJDK8: c0b29ca - openj9-openjdk-jdk8
https://github.com/adoptium/TKG.git 6d2b1c17a2bebc5d1a31be38ae01965704b74da4
https://github.com

[2021-07-05 15:16] fjeremic commented on #12789
Yes you're totally right. `registerExchange` seems to already know how to deal with `middleReg` (== spare register in our cases) being `NULL`.

How id you go down the `registerExchange` path in the caller? Did you have to force `isAssignable` to return `true`?

I think there is still a problem if `currentTargetVirtual` is used in a memory reference and `currentAssignedRegister` is `GPR0`. In this

[2021-07-05 15:18] pshipton commented on #6552
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_ppc64le_linux_Nightly_testList_2/39
DaaLoadTest_all_5m_1
JVM_OPTIONS:  -Xcompressedrefs -Xjit -Xgcpolicy:gencon
[code]

[2021-07-05 15:25] pshipton commented on #13097
Seems a disk space problem on win2012-x86-1. @jdekonin @AdamBrousseau

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_x86-64_windows_Nightly_testList_2/39/ - win2012-x86-1
SharedClassesAPI_0
[code]
64.WL1.stderr
[code]

[2021-07-05 15:27] pshipton commented on #9124
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_x86-64_linux_Nightly/42
[code]

[2021-07-05 15:30] renfeiw commented on #13106
I am looking into it now.

[2021-07-05 15:31] r30shah commented on #12789
Yes, I only changed the `else` path in [1]. In my experimental change, if `currentTargetVirtual` is used in memory reference, and we need to assign it to `GPR0` , `isAssignable` function would return `false`.
So in case, if the `currentAssignedRegister` is `GPR0` and `virtualReg` currently assigned to `targetRealReg` is used in memory reference and we can not find any `spareReg` it will still fail

[2021-07-05 15:50] renfeiw commented on #13106
Opened PR to fix this issue: https://github.com/adoptium/TKG/pull/223

[2021-07-05 17:56] pshipton opened #13108 "RuntimeAnnotationTests failing to parse some versions like "17-internal""
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_s390x_linux_OpenJDK17/3
RuntimeAnnotationTests_0
[code]

New test https://github.com/eclipse-openj9/openj9/pull/13002

[2021-07-05 17:57] pshipton commented on #13108
@eric98zhang @llxia can we get a quick fix today pls, or we can revert until the fix is ready.

[2021-07-05 18:26] llxia commented on #13108
auto exclude test RuntimeAnnotationTests ver=17

[2021-07-05 20:34] tajila commented on #13108
@pshipton I think you meant @EricYangIBM

[2021-07-05 21:12] #13108 closed

[2021-07-05 22:30] dmitry-ten opened #13114 "Segmentation fault when JITServer can't bind server address"
When one instance of JITServer already exists, and I attempt to start another JITServer at the same address and port (i.e. not specifying any options on my local machine), I frequently see segfaults right before the new server terminates.

Output:
[code]

It's unclear when this bug was first introduced. Attempts to reproduce it by running the server in gdb did not work. And since the crash happens

[2021-07-05 22:31] dmitry-ten commented on #13114
@mpirvu fyi.

[2021-07-06 02:08] tajila opened #13115 "findRuntimeVisibleAnnotation doesnt parse annotation members correctly"
`findRuntimeVisibleAnnotation` currently assumes that it is only dealing with simple annotation type members as a result it doesnt check the member type when parsing annotation types.

[code]

This results in crashes when dealing with more complex annotation members which may include recursive types.

The following crash was seen with daytrader

[code]

The annotation in question was
[code]
https:

[2021-07-06 03:08] mpirvu commented on #13114
I cannot reproduce this issue with Java8 nor with Java11

[2021-07-06 05:55] JavaTailor commented on #12992
Hi, @ChengJin01
Thanks for your detailed reply! 👍🏻
If you guys confirm this is ok, i am going to close this issue!

[2021-07-06 12:58] #12787 closed

[2021-07-06 13:14] pshipton opened #13117 "xlinux failing to build due to docker"
https://openj9-jenkins.osuosl.org/job/Build_JDK8_x86-64_linux_Nightly/50
[code]

@AdamBrousseau @jdekonin

[2021-07-06 13:15] pshipton commented on #13117
I'd disable the machine, but all UNB are offline atm.

[2021-07-06 13:20] pshipton commented on #9894
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/43/
SC_Softmx_JitAot_1
JVM_OPTIONS:  -Xcompressedrefs -Xjit -Xgcpolicy:gencon

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_1/43/system_test_output.tar.gz
[code]

[2021-07-06 13:20] EricYangIBM opened #13118 "Seg fault when compiling java tests"
Crash occurring when JIT is compiling this method:
```Method_being_compiled=java/lang/invoke/BootstrapMethodInvoker.invoke(Ljava/lang/Class;Ljava/lang/invoke/MethodHandle;Ljava/lang/String;Ljava/lang/Object;Ljava/lang/Object;Ljava/lang/Class;)Ljava/lang/Object;```

Seg fault:
[code]

Full log: https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.functional_x86-64_linux_ojdk292_Personal_t

[2021-07-06 13:35] pshipton opened #13120 "testvmcheck failures"
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK11/44/
extended.functional testvmcheck failing on what looks like all modes and platforms, for Java 11 and 16.

Example:
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_0/43
testvmcheck_1
[code]

good
OpenJ9: e4043c9
OMR: 45201fd
OpenJDK11: d403e94
https://github.com/adoptium/aqa-t

[2021-07-06 13:36] pshipton commented on #13120
@EricYangIBM pls take a look
@tajila fyi

[2021-07-06 13:49] tajila commented on #13120
@EricYangIBM You need to add the new test to the excluded package list

[code]

in `/openj9/test/functional/Java8andUp/src/org/openj9/test/vmcheck/TestLoadingClassesFromJarfile.java`

[2021-07-06 14:00] llxia commented on #13106
Windows 32-bit testing is back to normal. Close this issue.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK8/57/

[2021-07-06 14:00] #13106 closed

[2021-07-06 14:26] tajila commented on #12760
@JasonFengJ9

We are seeing the following failure in jdk17 tests, https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_OpenJDK17/1/consoleFull

[code]

[2021-07-06 14:29] tajila commented on #12760
Here is a description from the JEP

[code]

[2021-07-06 14:40] DanHeidinga commented on #13082
fyi @tajila

[2021-07-06 14:47] DanHeidinga commented on #12276
Question on today's community call - can this be enabled for 11+?

[2021-07-06 14:49] JasonFengJ9 commented on #12760
13:13:51                  System.setSecurityManager(new SecurityManager());
13:13:51                                                ^
13:13:51  1 warning
13:13:51
13:13:51  ACTION: main -- Failed. Execution failed: `main' threw exception: java.lang.RuntimeException: 'WARNING: A terminally deprecated method in java.lang.System has been called' missing from stderr

I am wondering if this is because

[2021-07-06 15:00] JasonFengJ9 opened #13122 "JDK8 aarch64_linux java/rmi/activation/rmidViaInheritedChannel/RmidViaInheritedChannel.java - NPE at RmidViaInheritedChannel.main(RmidViaInheritedChannel.java:122)"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.openjdk_aarch64_linux/14/` (`ub18-aarch64-8`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_rmi_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=

[2021-07-06 15:26] JasonFengJ9 opened #13123 "ClassLoadingTest_5m ASSERTION FAILED ** at openj9\runtime\vm\KeyHashTable.c:313: (!((0 != ((((UDATA)clazz)) & ((0x100 - 1))))))"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.system_x86-64_windows_testList_0/61/` (`win16x64rt3-2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=ClassLoadingTest_5m_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_sanity.system_x86-64_windows&amp;DOCKER_REQUIRED=false&amp

[2021-07-06 15:44] pshipton commented on #13123
@gacholio fyi

[2021-07-06 16:01] JasonFengJ9 opened #13125 "JDK17 java/io/InputStream/NullInputStream.java - NullPointerException: Cannot invoke "java.io.InputStream.available()" because "NullInputStream.openStream" is null"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.openjdk_aarch64_linux/10/` (`cent7-aarch64-2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_io_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS

[2021-07-06 16:10] gacholio commented on #13123
Core / SDK links?

[2021-07-06 16:16] JasonFengJ9 commented on #13123
Passed via slack message.

[2021-07-06 17:05] #13120 closed

[2021-07-06 17:24] pshipton opened #13126 "TestIBMJlmRemoteClassNoAuth_0 crash with OJDK MH enabled, vmState=0x00050080, compiling AsTypeTest.testConvertInt(I)V"
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.system_ppc64_aix_Nightly_testList_0/44 (with OJDK MH enabled
TestIBMJlmRemoteClassNoAuth_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk16_j9_sanity.system_ppc64_aix_Nightly_testList_0/44/system_test_output.tar.gzhttps://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk16_j9_sanity.s

[2021-07-06 17:28] gacholio commented on #13123
[code]

[2021-07-06 17:29] pshipton opened #13127 "SC_Softmx_JitAot_0 crash with OJDK MH enabled vmState=0x00000000 compiling DirectMethodHandle.internalMemberName"
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_ppc64_aix_Nightly_testList_2/44 - with OJDK MH enabled
SC_Softmx_JitAot_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk16_j9_extended.system_ppc64_aix_Nightly_testList_2/44/system_test_output.tar.gz
[code]

16.jvm4.stderr
[code]

[2021-07-06 17:31] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_ppc64_aix_Nightly/44/

[2021-07-06 17:34] pshipton opened #13128 "comiling sanity.functional with OJDK MH enabled, ClassCastException: java.util.HashMap$Node incompatible with java.util.LinkedHashMap$Entry"
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.functional_x86-64_mac_Nightly_testList_1/41
[code]

[2021-07-06 17:38] pshipton opened #13129 "Cannot invoke java.lang.invoke.MethodHandle.linkToVirtual because XX is null"
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_x86-64_mac_Nightly/42
jdk11_tier1_buffer_0
JVM_OPTIONS:  -XX:+UseCompressedOops
java/nio/Buffer/EqualsCompareTest.java
[code]

[2021-07-06 17:43] gacholio commented on #13123
Assertion is here:

https://github.com/eclipse-openj9/openj9/blob/8702ab5bbe79424943502f8b765414e84e88a09e/runtime/vm/KeyHashTable.c#L300-L321

[2021-07-06 17:44] pshipton commented on #13129
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_x86-64_windows_Nightly_testList_1/43
LangLoadTest_5m_1
JVM_OPTIONS:  -XX:-UseCompressedOops
[code]

[2021-07-06 18:03] gacholio commented on #13123
Hashtable nodes:
[code]

[2021-07-06 19:06] pshipton commented on #13117
https://openj9-jenkins.osuosl.org/job/Build_JDK11_x86-64_linux_OMR/49/console
Now I've disabled ub16x64j95

[2021-07-06 19:06] tajila opened #13130 "Atomic flag for valuetypes"
ACC_ATOMIC class modifier

[code]

This may eventually be changed to an Interface, but the JVM behaviour will still be the same

[2021-07-06 19:06] tajila commented on #13130
http://cr.openjdk.java.net/~dlsmith/jep401/jep401-20210702/specs/primitive-objects-jvms.html#jvms-2.9.4

[2021-07-06 21:08] #13088 closed

[2021-07-07 00:19] knn-k commented on #13125
This is not an AArch64-specific issue.
ppc64 has the same failure in view/Test_openjdk/job/Test_openjdk17_j9_extended.openjdk_ppc64le_linux/13/

[2021-07-07 00:46] knn-k commented on #12608
2 failures in 30x grinder above.

[2021-07-07 00:48] knn-k commented on #13122
No failures in 30x grinder above.

[2021-07-07 05:55] AdamBrousseau commented on #13117
Not sure what was going on. Ended up doing a prune (`docker system prune -af`) and it seems to be working now. Re-enabled the machine. Keep an eye on it.

[2021-07-07 05:55] #13117 closed

[2021-07-07 11:17] pshipton commented on #13127
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_ppc64_aix_Nightly_testList_2/45/

[2021-07-07 11:25] pshipton opened #13132 "DaaLoadTest_daa3_5m_0 failed with OJDK MH enabled"
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.system_x86-64_linux_Nightly_testList_1/45/
DaaLoadTest_daa3_5m_0
JVM_OPTIONS:  -Xjit -Xgcpolicy:gencon -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk16_j9_sanity.system_x86-64_linux_Nightly_testList_1/45/system_test_output.tar.gz
[code]
The test doesn't show what failed exactly.

[2021-07-07 11:28] pshipton commented on #13129
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_x86-64_linux_Nightly/45
java/nio/Buffer/EqualsCompareTest.java
[code]

[2021-07-07 11:32] pshipton commented on #13126
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.system_x86-64_windows_Nightly_testList_2/44
TestIBMJlmRemoteMemoryNoAuth_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk16_j9_sanity.system_x86-64_windows_Nightly_testList_2/44/system_test_output.tar.gz

5.LT2.stderr
[code]

[2021-07-07 11:35] pshipton commented on #13129
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_x86-64_windows_Nightly/45/
java/nio/Buffer/EqualsCompareTest.java
[code]

[2021-07-07 11:42] pshipton opened #13133 "win2012-x86-11 went offline"
https://openj9-jenkins.osuosl.org/job/Build_JDKnext_x86-64_windows_OpenJDK/37/
[code]

@AdamBrousseau fyi

[2021-07-07 12:05] urisimchoni commented on #13071
I've created a class transformer that keeps the existing constant pool intact. This still doesn't solve the problem - it fixes things for some classes but when loading a Spring-boot application, I still get some mismatches between Method's cached annotations and the constant pool.

If I use ASM library tree API to read the class into a ClassNode, then re-generate the byte code without any changes,

[2021-07-07 12:45] JasonFengJ9 commented on #12760
Code change required for this.

[2021-07-07 12:59] DanHeidinga commented on #13071
J9 does a lot of re-ordering of the constant pool to save space.  If a class has the following constants:
[code]
and a new constant is added by a retransformation:
[code]

J9 will resort the cp to keep the `6 long: 5` at the end of the cp and get something like:
[code]

So annotations that previously stored the index "6" to get the long value will now get a MethodRef.  And the actual transformatio

[2021-07-07 13:26] tajila commented on #13126
@jdmpapin Please take a look

[2021-07-07 14:58] dmitry-ten commented on #9792
These failures haven't occurred in a long time, since we pushed some bug fixes.
@mpirvu this issue can now be closed.

[2021-07-07 14:59] dmitry-ten commented on #8770
These failures haven't occurred in a long time, since we pushed some bug fixes.
@mpirvu this issue can now be closed.

[2021-07-07 14:59] dmitry-ten commented on #11910
These failures haven't occurred in a long time, since we pushed some bug fixes.
@mpirvu this issue can now be closed.

[2021-07-07 15:01] tajila opened #13134 "Update jitGetClassInClassloaderFromUTF8 to find hidden classes"
The JIT currently uses `jitGetClassInClassloaderFromUTF8` to look up classes based on signatures. It is need to get the type of method args. This API uses `hashClassTableAt` to lookup classes, however, if it is looking up a hidden class it returns NULL.

We need to provide a way for the JIT to find hidden classes.

Given how often `hashClassTableAt` is used we may want to create a new version `has

[2021-07-07 15:02] tajila commented on #13134
@hangshao0 Please take a look at this

[2021-07-07 15:02] tajila commented on #13134
FYI @gacholio @r30shah

[2021-07-07 15:23] llxia commented on #12276
AsyncGetCallTrace (ASGCTBaseTest) is a sub-test of hotspot_serviceability. From what I can see, AsyncGetCallTrace (ASGCTBaseTest) only exists in 16+. It does not exist in JDK11. This means we can only run AsyncGetCallTrace (ASGCTBaseTest) for JDK16+.
https://github.com/ibmruntimes/openj9-openjdk-jdk11/tree/openj9/test/hotspot/jtreg/serviceability
https://github.com/ibmruntimes/openj9-openjdk-jdk16

[2021-07-07 15:38] hangshao0 commented on #13134
The hidden classes are keyed on the rom address rather than the name.
https://github.com/eclipse-openj9/openj9/blob/fdeac8f10f26a2532513534d3c526af07f933684/runtime/vm/KeyHashTable.c#L211-L216

Does JIT have access to the romclass ? @r30shah

If yes, we can remove `J9ROMCLASS_IS_HIDDEN()` check in hashClassTableAt() to let it return hidden classes. Then JIT can use romaddress to find the ramClass.

[2021-07-07 16:31] r30shah commented on #13134
In the case when JIT is iterating through the list of parameter symbols and if it is class (We inspect signature to check that) [1], at this time we do not know the romClass, and use signature to get the class.

[1]. https://github.com/eclipse-openj9/openj9/blob/fdeac8f10f26a2532513534d3c526af07f933684/runtime/compiler/optimizer/InlinerTempForJ9.cpp#L5577-L5585

[2021-07-07 16:39] pshipton commented on #12276
We just want the AsyncGetCallTrace test.
The ASGCT failures look like a setup issue
`TEST RESULT: Error. Error evaluating expression: invalid boolean value: `null' for expression `(vm.jvmti)'`

[2021-07-07 16:44] hangshao0 commented on #13134
From JEP 371:

[2021-07-07 17:33] gacholio commented on #13134
So does that mean this is unnecessary as a hidden class can never appear in a method signature?

[2021-07-07 17:51] gacholio commented on #13038
I suspect this may be caused by a class with no methods falling immediately before the class in question. If the class is simple enough, ramMethods may point to the next class.

If this is the case, we could fix it by not initializing pointers to empty blocks in the class.

[2021-07-07 18:26] mpirvu commented on #8770
Will re-open if we see it again.

[2021-07-07 18:26] #8770 closed

[2021-07-07 18:26] mpirvu commented on #11910
Will re-open if we see it again.

[2021-07-07 18:26] #11910 closed

[2021-07-07 18:27] mpirvu commented on #9792
Will re-open if we see it again.

[2021-07-07 18:27] #9792 closed

[2021-07-07 18:33] r30shah commented on #13134
So providing more context where I am seeing the issue. We build the parameters list in [1] where for non static method, we fill first parameter slot with the signature of the class that method belongs to, so while inlining that method when we build argInfo [2] we simply query the VM to get the class from the signature.

FYI @vijaysun-omr

[1]. https://github.com/eclipse-openj9/openj9/blob/fdeac8f1

[2021-07-07 18:44] hangshao0 commented on #13134
That is what I mean.

How JIT deals with anonymous classes in Java 8 and 11 ? They are not in the hashtable IIRC, `jitGetClassInClassloaderFromUTF8()` won't find them, which is similar to hidden classes here.

[2021-07-07 18:50] gacholio commented on #13134
I think it would be preferrable for the JIT to special case this in some fashion instead of changing the APIs in the VM to deal with the general case which is only used in this one specific case.

[2021-07-07 19:38] pshipton commented on #12992
The enclosing class doesn't need to be deduced from the name, there is an EnclosingMethod attribute that contains it. The class of the EnclosingMethod  can be used to add the additional check for the InnerClasses attribute and match the Hotspot behavior.

[2021-07-07 19:52] tajila opened #13137 "Enhance J9 CRIU API"
[code]

So example usage looks something like this:

[code]

[2021-07-07 19:54] tajila commented on #13137
@DanHeidinga

[2021-07-07 19:54] tajila commented on #13137
@tjwatson Please share your thoughts

[2021-07-07 20:29] DanHeidinga commented on #13137
This should probably be a static method so the usage would look something like:
[code]

[2021-07-07 20:32] ChengJin01 commented on #12992
Just discussed with @pshipton offline, so we are able to add helper code to check the InnerClass attribute of the Declaring/Enclosing Class to achieve this. I will double-check the code related to see what we can do with this idea.

[2021-07-07 23:52] ChengJin01 commented on #12992
It seems our native code didn't set up correctly to cover the enclosing class with the `InnerClass` attribute in which the outer class index is 0:
[code]
So all those code including some where in ROMClassWriter need to be modified to deal with the situation.

[2021-07-08 00:43] ChengJin01 commented on #12992
The original test threw out the `IncompatibleClassChangeError` as expected with my changes at https://github.com/ChengJin01/openj9/commit/23de8b77074f2dedd80d8c71e7ccf913fee39d4c
[code]
Will launch internal & open sourced builds to verify the changes.

[2021-07-08 02:00] pshipton commented on #12168
10 x 4 grinder passed https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/103

[2021-07-08 04:55] AdamBrousseau commented on #13133
Rebooted & online

[2021-07-08 04:55] #13133 closed

[2021-07-08 11:44] pshipton opened #13142 "VarHandleTestAccess with OJDK MH enabled, Unexpected exit from test [exit code: 137]"
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_ppc64le_linux_Nightly/47/
jdk_lang_0
jdk_lang_1
    java/lang/invoke/VarHandles/VarHandleTestAccessByte.java.VarHandleTestAccessByte
    java/lang/invoke/VarHandles/VarHandleTestAccessDouble.java.VarHandleTestAccessDouble
    java/lang/invoke/VarHandles/VarHandleTestAccessShort.java.VarHandleTestAccessShort
    java/lang/invoke

[2021-07-08 11:45] pshipton commented on #13127
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_ppc64_aix_Nightly/46/

[2021-07-08 11:48] pshipton commented on #13129
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_x86-64_mac_Nightly_testList_0/43
ObjectTreeLoadTest_5m_1
[code]

[2021-07-08 11:48] pshipton commented on #13129
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_x86-64_mac_Nightly/44/
java/nio/Buffer/EqualsCompareTest.java

[2021-07-08 11:50] pshipton commented on #13126
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.system_x86-64_windows_Nightly_testList_2/45
TestIBMJlmRemoteMemoryNoAuth_1

[2021-07-08 11:57] 0xdaryl opened #13144 "Add verification to loop reduction unit tests"
The unit tests for loop reduction optimizations that copy memory really only test whether the transformed loop ran for the correct number of iterations.  They do not test whether that loop did the correct thing.

For example, https://github.com/eclipse-openj9/openj9/blob/master/test/functional/JIT_Test/src/jit/test/loopReduction/byte2CharMemCpy.java

There should be some verification of the operat

[2021-07-08 12:04] #13055 closed

[2021-07-08 12:08] pshipton commented on #12168
10 x 4 AIX grinder reproduced it on 3 of the 4 machines.
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/105

[2021-07-08 12:48] pshipton commented on #12168
Can reproduce the failure on Windows by running jdk_other_1 instead of the individual test.
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/106/
10 x 4 which failed 33/40.

[2021-07-08 15:00] keithc-ca commented on #12956
The problem seems to be the indiscriminate mapping of "__" to "$" in type names as they're read from the blob in [`StructureReader`](https://github.com/eclipse-openj9/openj9/blob/master/debugtools/DDR_VM/src/com/ibm/j9ddr/StructureReader.java#L672). The intent is to reverse the mapping by `ddrgen` of the `::` namespace separator of C++ type names to `__`; but it only handles one and perhaps should

[2021-07-08 15:24] dmitry-ten opened #13145 "Potentially enable -XX:+JITServerLogConnections by default on the server"
Currently, this new option that logs connect/disconnect events is not default on either server or client.
We do not want to make it default on the client, because this would result in unprompted output being printed to stderr of a Java application. However, JITServer users wouldn't necessarily care about server's output.
Printing connection events on the server by default  would make it easier to

[2021-07-08 15:24] dmitry-ten commented on #13145
@mpirvu fyi.

[2021-07-08 15:45] mpirvu commented on #13145
Personally, I would prefer to output from the server to be clean if the user doesn't specify anything. In the helm chart we can enable by default the option that prints connection messages to stderr. The user can retrieve these messages with "oc log" (or something similar).
@mstoodle @vijaysun-omr for their opinion on this.

@dmitry-ten Could you please paste here how output on the server would lo

[2021-07-08 15:47] llxia commented on #12276
I am not sure this is a setup issue. AsyncGetCallTrace passed for hotspot JDK16 https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1052/testReport/

[2021-07-08 15:50] mstoodle commented on #13145
I like the approach @mpirvu has suggested. The only thing I wonder about is whether we should also incorporate the option under `-Xlog` as the "common" logging service. That question can be considered independently, however, as a possible alternative way to enable this logging.

[2021-07-08 16:32] dmitry-ten commented on #13145
This is what the messages look like:
[code]

I'm not at all familiar with `-Xlog` options, so I don't have much to say on that matter.

[2021-07-08 16:55] ChengJin01 commented on #12992
There were a couple of failing test cases in `org/openj9/test/java/lang/Test_Class.java` and internal tests with `java.lang.Class` detected in personal builds which might suggest the fix above is incomplete or some of tests need to updated accordingly to fit with the new changes.

[2021-07-08 17:24] keithc-ca commented on #12956
The mapping also did not support types nested more than one level. For example, it did not map `OMR__GC__Forge` to `OMR$GC$Forge` (representing `OMR::GC::Forge`).

[2021-07-08 17:59] #12446 closed

[2021-07-08 18:14] tajila opened #13148 "Handle unsupported -Xlog options"
JDK17 tests are with ` -Xlog:all=warning:stdout`. J9 doesnt fully support this option resulting in `JVMJ9VM085W Malformed option: '-Xlog:all=warning:stdout'` This is causing test failures.

We need to modify the JVM behaviour to ignore this, or provide a workaround that can disable the error message.

[2021-07-08 19:19] JasonFengJ9 commented on #13148
@tajila This also occurred at builds w/o OJDK MH as per https://github.com/eclipse-openj9/openj9/issues/12580.

This message is an unrecognized warning
https://github.com/eclipse-openj9/openj9/blob/54e151112585b88a53b463fc8df96e9418ee8fef/runtime/vm/jvminit.c#L6120-L6126

It seems that the test output containing this warning message actually failed something else [1]
[code]
Again, similar failure

[2021-07-08 19:27] JasonFengJ9 commented on #12580
Also noted by https://github.com/eclipse-openj9/openj9/issues/13148, the unrecognised warning message doesn't seem cause the failure.
From an internal build `Test_openjdk17_j9_sanity.openjdk_s390x_linux/40/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_lang_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_

[2021-07-08 20:19] tajila commented on #13134
If you have the j9method you can get the type of the receiver by j9method->constantPool->ramClass

[2021-07-08 20:28] 0xdaryl commented on #9782
I looked into one of the recent failures and it is segv'ing during an inlined backward arraycopy via a `rep movsd` instruction in JITed code.  Just prior to the `rep movsd` we set the direction bit because it is a backward copy, but for some reason we are segv'ing during the copy which causes the signal handler to report that the direction bit is set (which it should be).

The source and destinati

[2021-07-08 20:51] pshipton commented on #12276
I'm guessing vm.jvmti is a test variable that needs to be defined for OpenJ9?

[2021-07-08 20:56] #12956 closed

[2021-07-08 21:37] vijaysun-omr opened #13150 "Make sure the right file descriptor information is persisted for restore in containers"
We need to handle this scenario that Younes investigated and summarized:

```The problem I was seeing with stdout/stderr boils down to: when you start a container in detached mode docker will pipe your process' output to some file(s). Your process stdout/stderr will be attached to two anonymous pipes at dump time. At restore, since we're starting a new container, the restored process will be piped

[2021-07-08 21:40] pshipton commented on #13148
I don't think it's valid to change the VM to ignore the option, user's expects it to do something which OpenJ9 doesn't support, so the error is valid. We can add a new option like `-XX:+IgnoreUnrecognizedXlog`, or modify the tests. If we need to modify the tests anyway to add `-XX:+IgnoreUnrecognizedXlog`, we might as well just remove the -Xlog option.

[2021-07-08 21:42] vijaysun-omr commented on #13150
This is part of issue [16384](https://github.com/OpenLiberty/open-liberty/issues/16384)

[2021-07-08 21:43] vijaysun-omr commented on #13137
This is part of issue [16384](https://github.com/OpenLiberty/open-liberty/issues/16384)

[2021-07-08 21:43] vijaysun-omr commented on #12817
This is part of issue [16384](https://github.com/OpenLiberty/open-liberty/issues/16384)

[2021-07-08 21:44] vijaysun-omr commented on #12812
This is part of issue [16384](https://github.com/OpenLiberty/open-liberty/issues/16384)

[2021-07-08 23:51] JasonFengJ9 commented on #13148
Yeah, it passes after removal of following two lines [1][2] containing `-Xlog:all=warning:stdout`.

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/8f685d79229761af7b795190e6bc1663799c0d2b/test/jdk/java/lang/ProcessBuilder/Basic.java#L2169
[2] https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/8f685d79229761af7b795190e6bc1663799c0d2b/test/jdk/java/lang/ProcessBuilder/Basic.java#

[2021-07-09 03:00] 0xdaryl commented on #9782
A second core reveals a similar failure.  In both cases the source and destination address are valid and aligned heap addresses (and hence read/writable).  One curiosity in both cases is that the destination address is 4 bytes ahead of the source address.  That shouldn't cause a problem though.

[2021-07-09 11:42] JasonFengJ9 opened #13153 "test failures - Success condition was not found: [Output match: (java|openjdk) version]"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_x86-64_linux_testList_1/72/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=testSCCMLExpireAndListALLCaches_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_sanity.functional_x86-64_linux&amp;DOCKER_REQUIRED=false&amp;ACT

[2021-07-09 11:45] pshipton commented on #13148
Resolved by https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/12 and https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/343

[2021-07-09 11:45] #13148 closed

[2021-07-09 11:45] pshipton commented on #12580
Resolved by https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/12 and https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/343

[2021-07-09 11:46] #12580 closed

[2021-07-09 11:52] JasonFengJ9 opened #13154 "STF framework failed to recognize new product name - Semeru"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_s390x_linux_testList_3/81/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=MauveSingleInvocLoad_special_5m_3&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_special.system_s390x_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE

[2021-07-09 12:01] JasonFengJ9 commented on #13153
All tests checking `(java|openjdk) version` failed.

[2021-07-09 12:14] pshipton commented on #13154
@llxia fyi

[2021-07-09 13:17] tajila opened #13157 "Foreign JDK17 failures"
The following are failing in JDK17, we need to exclude these tests until the OJDKMH and the FFI changes are merged in JDK17

[code]

[2021-07-09 13:18] tajila commented on #13157
@ChengJin01 Please take a look at this

FYI @fengxue-IS

[2021-07-09 13:38] JamesKingdon commented on #9782
Is that allowed for movsd? It's doing 8 byte transfers isn't it?

[2021-07-09 13:46] tajila commented on #13132
@JasonFengJ9 Can you please take a look at this. We seem to be hitting a timeout, perhaps because of the performance issues.

[code]

[2021-07-09 13:48] pshipton commented on #13157
Note the list is shorter now as we've already fixed some of these tests.

[2021-07-09 13:49] 0xdaryl commented on #9782
No, movsd is moving 4 bytes.  This code isn't specific to macOS, so not sure why we're tripping over this instruction with valid source and dest addresses only on macOS.

[2021-07-09 13:50] pshipton commented on #13157
Not the latest and only one platform, but fyi https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_OpenJDK17/2/#showFailuresLink

java/lang/ProcessBuilder/Basic.java is fixed now, and I believe @JasonFengJ9 is looking at java/lang/System/SecurityManagerWarnings.java

[2021-07-09 13:50] llxia commented on #13154
@Mesbah-Alam re https://github.com/adoptium/STF/pull/113#issuecomment-825011341, let's remove the java version checks in STF. java version already gets checked in TKG and we have other smoke tests and functional tests that check for java version.

[2021-07-09 13:53] Mesbah-Alam commented on #13154
@llxia - yah.. I'll get a PR ready for this.

[2021-07-09 13:58] JasonFengJ9 commented on #13157
Correct, I am going through test failures caused by a draft PR, ETA late of day or early next week.

[2021-07-09 13:59] llxia commented on #13153
@OscarQQ Could you do a search in functional tests (mostly cmdline tests) and update the success condition to include semeru? For example: from `(java|openjdk) version` to `(java|openjdk|semeru) version`

[2021-07-09 14:00] JasonFengJ9 commented on #13132
Sure, will look into this.

[2021-07-09 14:00] pshipton commented on #9782
and only on one particular machine, osx1011-x86-2.

[2021-07-09 14:03] JasonFengJ9 commented on #13153
Note: a PR https://github.com/eclipse-openj9/openj9/pull/13156 is being reviewed.

[2021-07-09 14:06] llxia commented on #13153
Thanks @JasonFengJ9 . :)

[2021-07-09 14:24] pshipton opened #13158 "CloseScope0Tests_0 hang on xlinux jdk16"
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.functional_x86-64_linux_Nightly_testList_1/45
CloseScope0Tests_0
[code]

Likely related to https://github.com/eclipse-openj9/openj9/pull/12857 @tajila @EricYangIBM  fyi

[2021-07-09 14:27] pshipton opened #13159 "s390 ub18 and ub20 machines can't resolve github.com"
They must have been fine in the nightly builds last night, but not working this morning. I've disabled them all for now.

Recent examples
https://openj9-jenkins.osuosl.org/job/Grinder_testList_2/6
https://openj9-jenkins.osuosl.org/job/Grinder_testList_2/7
https://openj9-jenkins.osuosl.org/job/Grinder_testList_2/8
https://openj9-jenkins.osuosl.org/job/Grinder_testList_2/9

[2021-07-09 14:35] pshipton commented on #13126
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.system_ppc64_aix_Nightly_testList_1/47/
TestJlmRemoteThreadAuth_1

[2021-07-09 14:36] pshipton commented on #13127
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_ppc64_aix_Nightly_testList_2/47/

[2021-07-09 15:07] Mesbah-Alam commented on #13154
https://github.com/adoptium/STF/pull/118 - should fix the issue.

[2021-07-09 15:18] #13153 closed

[2021-07-09 18:24] #13115 closed

[2021-07-09 19:29] fengxue-IS commented on #13129
I am unable to reproduce this issue locally without the testng frame work, will try running grinder with debug jdk

[2021-07-09 20:34] VermaSh commented on #12670
Closing this as the flags aren't needed for hardware facility checks.

[2021-07-09 20:34] #12670 closed

[2021-07-09 21:04] pshipton commented on #12168
This is a test problem. See https://stackoverflow.com/questions/645208/java-rmi-nosuchobjectexception-no-such-object-in-table

[2021-07-10 15:13] MariusVolkhart commented on #1876
@DanHeidinga is there another public location where one can follow along or join the conversation about OpenJ9's approach?

I'm primarily interested in how to do custom events on OpenJ9 (`jdk.jfr.*` and `jdk.jfr.consumer.*` equivalents). I looked through various [Eclipse](https://www.eclipse.org/openj9/docs/diag_overview/) and [IBM](https://www.ibm.com/docs/en/mon-diag-tools?topic=center-using-hea

[2021-07-12 12:34] JasonFengJ9 opened #13162 "JDK16 jdk_util_1_FAILED NullPointerException: Cannot invoke "java.lang.invoke.MethodHandleImpl$IntrinsicMethodHandle.<init>(java.lang.invoke.MethodHandle, java.lang.invoke.MethodHandleImpl$Intrinsic)""
Failure link
------------

From an internal build `Test_openjdk16_j9_sanity.openjdk_x86-64_windows/59/` (`win16x64rt-1-9`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_util_1&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS

[2021-07-12 12:40] JasonFengJ9 opened #13163 "JDK16 Windows jdk_nio_0_FAILED - SocketException: Invalid argument: no further information"
Failure link
------------

From an internal build `Test_openjdk16_j9_extended.openjdk_x86-64_windows/16/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_nio_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OWNER_BR

[2021-07-12 12:41] #13158 closed

[2021-07-12 12:45] tjwatson commented on #13137
For `CheckPointException`, it would be nice to have some way to get the error code returned by a failed CRIU dump operation.  Is there going to be a way to distinguish a JVM vs. CRIU failure here?

[2021-07-12 12:50] JasonFengJ9 opened #13164 "JDK16 (OJDK MH) NullPointerException: Cannot read field "member" because "mh" is null"
Failure link
------------

From an internal build `Test_openjdk16_j9_special.system_x86-64_windows_testList_0/49/`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

This is `JDK16` head stream enabled with `OJDK MH`.

fyi @tajila @fengxue-IS

[2021-07-12 12:55] JasonFengJ9 opened #13166 "JDK16 (OJDK MH) NullPointerException: Cannot invoke "java.lang.invoke.MethodHandle.linkToVirtual(java.lang.Object, int, java.lang.invoke.MemberName)" because "<parameter1>" is null"
Failure link
------------

From an internal build `Test_openjdk16_j9_extended.openjdk_x86-64_mac/17/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_nio_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TKG_OWNER_BRANCH

[2021-07-12 13:00] JasonFengJ9 opened #13167 "JDK16 (OJDK MH) jsr292_MethodHandleAPI_Test_JitCount1_0_FAILED - NullPointerException: Cannot read field "rtype" because "this" is null"
Failure link
------------

From an internal build `Test_openjdk16_j9_extended.functional_ppc64le_linux_testList_0/50/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jsr292_MethodHandleAPI_Test_JitCount1_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk16_j9_extended.functional_ppc64le_linux&amp;DOCKER_REQUIRED

[2021-07-12 13:24] singh264 opened #13168 "Log the estimate code size error state as a string"
This change builds on top of eclipse-openj9/openj9#8664. Currently, the estimate code size error state is logged as a number https://github.com/eclipse-https://github.com/eclipse-openj9/openj9/blob/b040cde53ad56690256110c954740de245d43a98/runtime/compiler/optimizer/InlinerTempForJ9.cpp#L3540

[2021-07-12 14:41] r30shah commented on #13134
Thanks a lot @hangshao0  @tajila  and @gacholio  for the help and suggestions. I was able to fix the issue from the JIT side in following pull request.
https://github.com/eclipse-openj9/openj9/pull/13169

[2021-07-12 15:15] #13134 closed

[2021-07-12 18:31] AdamBrousseau commented on #12817
If x compile machines is first priority (cent6), we will need to be provided with instructions on how to install it.
My initial attempts failed and I don't have cycles to follow the rabbit hole unfortunately. If another platform will suffice for now, let me know.
https://github.com/checkpoint-restore/criu/blob/criu-dev/INSTALL.md
[code]
https://asciidoc.org/INSTALL.html
[code]
Seems criu requires

[2021-07-12 18:46] llxia commented on #12276
Talked with @sophia-guo , yes, `vm.jvmti` did not get set in https://github.com/ibmruntimes/openj9-openjdk-jdk16/blob/openj9/closed/test/jtreg-ext/requires/OpenJ9PropsExt.java

In adoptium/jdk16u, `vm.jvmti` is set based on [vmHasJVMTI](https://github.com/adoptium/jdk16u/blob/cce99e57e19833e6783ba344864999ec8d475ba5/test/jtreg-ext/requires/VMProps.java#L102) which eventually calls a native functio

[2021-07-12 18:46] dmitry-ten commented on #13114
I can only reproduce this on WSL 2, with JDK11.
I suppose since we don't officially support WSL, we can ignore this crash.

[2021-07-12 19:08] JasonFengJ9 commented on #12276
`isJVMTIIncluded` is a native method within class `WhiteBox` which `OpenJ9` doesn't have.
From the face of this native name, it checks if `JVMTI` is supported which `OpenJ9` does, can we modify the test, and set `true` for the system property `vm.jvmti` in case of `OpenJ9`?

fyi @tajila

[2021-07-12 19:15] dmitry-ten opened #13173 "JITServer JDK11 ClassLoadingTest_special_5m_11 test failures"
This test fails in 2 ways:
1.  Test hangs after reaching 100%. Link: https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_special.system_x86-64_linux_jit_Personal/52/tapResults/
2.  Segmentation fault: fails with the following stacktrace. Link: https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_special.system_x86-64_linux_jit_Personal/50/tapResults/
[code]

The core doe

[2021-07-12 19:55] JasonFengJ9 commented on #13132
The result file doesn't have failure details other than the test name `net.openj9.test.arithmetics.TestArithmeticOperations`. There is no core files either.

Regarding `Test stopped due to reaching runtime limit`, I think this is a message to indicate that DaaLoadTest_daa3_**5m**_0 has reached its pre-defined time period `5m`. For example, following output from same test job [1] indicates a PASS
[

[2021-07-12 21:14] JasonFengJ9 commented on #9782
A similar failure at https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR/42/tapResults/ (`osx1013-x86-3`)
[code]

[2021-07-12 21:21] JasonFengJ9 opened #13175 "JDK16 jsr292Test_JitCount0_0_FAILED - Illegal instruction vmState=0x00000000"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.functional_s390x_linux_Nightly/48/tapResults/

[code]

[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BR

[2021-07-12 21:29] JasonFengJ9 opened #13176 "JDK16 TestArrayCopy_openj9_none_SCC_1_FAILED Segmentation error vmState=0x00000000"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.functional_x86-64_mac_Nightly_testList_1/46/
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=ad

[2021-07-12 21:31] mpirvu commented on #13114
Closing cased on the above remark

[2021-07-12 21:31] #13114 closed

[2021-07-12 21:32] JasonFengJ9 commented on #13162
Also observed at https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_s390x_linux_Nightly/49/consoleFull
[code]

[2021-07-12 21:42] JasonFengJ9 opened #13177 "JDK16 SC_Softmx_JitAot_0_FAILED - Segmentation error vmState=0x00000000 Compiled_method=java/lang/invoke/DirectMethodHandle.internalMemberName(Ljava/lang/Object;)Ljava/lang/Object;"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_ppc64_aix_Nightly/49/tapResults/ (`aix71-p8-1`)
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER

[2021-07-12 21:52] JasonFengJ9 commented on #13078
Seen in JDK8 `v0.27.0-release` build (`aix71-p8-4`) [1]
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=special.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=adoptium%3Amaster&TEST_PARALLELIZATION_PARAMS=&OPENJ9_SYSTEMTEST_OWNER_BRANCH=eclips

[2021-07-12 21:57] JasonFengJ9 commented on #10993
Seen in `JDK11` `AIX` `0.27-release` build (`aix71-p8-4`) [1]
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=adoptium%3Amaster&TEST_PARALLELIZATION_PARAMS=&OPENJ9_SYSTEMTEST_OWNER_BRANCH=

[2021-07-12 22:03] JasonFengJ9 commented on #13164
Also seen at https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_special.system_s390x_linux_Personal/8/tapResults/
[code]

[2021-07-12 22:08] JasonFengJ9 opened #13179 "JDK16 MathLoadTest_all_special_5m_1_FAILED - Segmentation error vmState=0x00000000"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_special.system_s390x_linux_Personal/8/tapResults/ (`rh7-390-4`)
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=special.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_

[2021-07-12 22:20] JasonFengJ9 commented on #9124
Seen in JDK11 Windows 0.27-release build (`win2012-x86-3`) [1]
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=adoptium%3Amaster&TEST_PARALLELIZATION_PARAMS=&OPENJ9_SYSTEMTEST_OWNER_BRANCH

[2021-07-12 22:32] JasonFengJ9 opened #13180 "DaaLoadTest_all_special_5m_4_FAILED j9mm.479 * ** ASSERTION FAILED ** at gc_glue_java/ScavengerRootScanner.hpp:108: ((MM_StackSlotValidator(MM_StackSlotValidator::NOT_ON_HEAP, *slotPtr, stackLocation, walkState).validate(_env)))"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_special.system_x86-64_mac_Personal/7/tapResults/ (`osx1014-x86-3`)
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=special.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWN

[2021-07-12 22:38] JasonFengJ9 opened #13181 "LambdaLoadTest_special_J9_5m_4_FAILED - net.adoptopenjdk.test.lambda.TestLambdaMultithreaded & net.adoptopenjdk.test.lambda.TestLambdaNested"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_special.system_x86-64_mac_Personal/7/tapResults/ (`osx1014-x86-3`)
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=special.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWN

[2021-07-12 22:42] JasonFengJ9 commented on #13181
A different load test failure in same job, put them together until otherwise.
[code]

[2021-07-12 22:44] tajila opened #13182 "Valhalla JTREG test failures"
The following are the jtreg tests failures. They can be found in https://github.com/openjdk/valhalla/tree/lworld/test/hotspot/jtreg/runtime/valhalla/inlinetypes

JT Harness : Tests that failed
[code]

[code]

[2021-07-12 22:47] tajila commented on #13182
In order to run the tests I had to:

- Modify `const U_16 max_allowed_version = ` in cfreader.c to recognize jdk18 .class files. This won't be needed in the near future.

Also, I had to remove `requires.extraPropDefns = ../../jtreg-ext/requires/VMProps.java` from https://github.com/openjdk/valhalla/blob/lworld/test/hotspot/jtreg/TEST.ROOT

And I had to symlink the valhalla javac into the test jdk/

[2021-07-12 22:49] tajila commented on #13182
This issue can be broken up into smaller issues to address the specific failures

[2021-07-13 03:46] ChengJin01 commented on #12992
It seems that adding the remaining entries of the `InnerClass` attribute to the existing inner classes of the ROM Class doesn't work for two reasons:
1) it is technically impracticable to filter out the expected enclosed inner classes given their outer class could be zero (no outer class at all) or not (the outer class is not the specified declaring class but another class), whether it comes to `g

[2021-07-13 12:55] #11993 closed

[2021-07-13 14:22] tajila commented on #13128
@JasonFengJ9 Can you please take a look at this

[2021-07-13 14:26] JasonFengJ9 commented on #13128
Sure.

[2021-07-13 14:47] dmitripivkine commented on #13180
garbage in o-slot obviously: `O-Slot value=0074007300650074`

[2021-07-13 14:49] AdamBrousseau commented on #13159
I can ping github from ub18-1. It does take about 5 seconds before the pinging starts. I assume it is doing dns.
On ub18-2 the dns fails
on ub20-[1,2] dns fails.
I will get Raj to take a look.

[2021-07-13 14:58] hangshao0 commented on #13182
Looks like some cases should be captured by verifier, but they are not.

[2021-07-13 15:02] ChengJin01 commented on #12992
I'd like to double-check what really happened to the failure in the testng framework to understand the root cause in there before moving forward to create a separate slot for these remaining inner class entries.

[2021-07-13 16:12] fjeremic commented on #9782
Another failure seen here:
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Personal_testList_0/61/consoleText

[code]

[2021-07-13 16:12] tajila commented on #13182
Yes, I would look at those issues last since the spec isn't fully finalized. The first priority are failures relating to field layouts or initialization since that is the most settled part of the spec.

[2021-07-13 16:13] #12789 closed

[2021-07-13 16:31] amicic opened #13186 "IdleTuning/InContainer reporting in VGC initialized stanza"
IdleTuning (https://www.eclipse.org/openj9/docs/xxidletuninggconidle/) is disabled by default by can be enabled explicitly (cmdline option) or implicitly (running in container).

It might not be known if we run in container from VGC logs and unclear why we run IdleTuning, so it's would be wise to report those conditions in VGC initialized stanza.

There a few approaches. For example report it sepa

[2021-07-13 16:32] amicic commented on #13186
@dmitripivkine @RSalman

[2021-07-13 16:47] dmitry-ten commented on #13173
@dsouzai could you assign this a jitserver tag please?

[2021-07-13 17:23] RSalman commented on #13186
I'm in favour of omitting it if not enabled/not present. I think `inContainer` is just one feature and it's not relevant to all platforms/run configurations. In other words, I don't think its a substantial parameter that it needs to be explicitly mentioned each time. I think `inContainer` is relevant to GC for only idleTuning? If that's true then non-Linux is not even concerned with `inContainer`.

[2021-07-13 17:24] JasonFengJ9 commented on #13128
This compilation failure wasn't observed at `JDK16 OJDK MH` enabled internal builds.

From the test history [1], it only occurred once on July 5th, there was no diagnosis file so not much to investigate.

Closing.. (can re-open if it becomes reproducible)

[1] https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.functional_x86-64_mac_Nightly/

[2021-07-13 17:24] #13128 closed

[2021-07-13 17:31] dmitripivkine commented on #13186
In theory `inContainer` and `IdleTuning` there are two different options (with default value of `Idle Tuning` dependable on `inContainer`). `inContainer` makes -Xmx default be different. Also it might be good to know for explanation of perf anomalies.

[2021-07-13 17:33] RSalman commented on #13186
Considering what I mentioned in my previous comment, I think we can be simplify things by only reporting one attribute/one scenario: When running in container. Aside from that, explicit/implicit idleTuning is clear from the init stanza  when looking at the params (where this will also be reported).

| Running in Container  | IdleTuning |  REPORTED |
|  :---:  |  :---:  |  :---:  |
| T  | T  |  `in

[2021-07-13 17:40] RSalman commented on #13186
Not concerning this specific discussion, but related.. the documentation is a somewhat misleading:
` This option applies only to Linux architectures when the Generational Concurrent (gencon) garbage collection policy is in use.`

"**Generational Concurrent (gencon) garbage collection policy"**
Concurrent Scavenger came to mind when reading this, I'm fairly certain that this is not limited to CS.

[2021-07-13 19:31] keithc-ca commented on #12344
I propose the new option be `-x` (all existing options are single letters).

[2021-07-13 20:51] gacholio commented on #13123
[code]

[2021-07-13 21:18] ChengJin01 commented on #13157
I tried to double-check the foreign related test failures above with the build at https://openj9-jenkins.osuosl.org/job/Build_JDK17_x86-64_linux_OpenJDK17/5/ with the following results:

[1] test suites with downcall: (not yet added to the code)
https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/openj9-staging/test/jdk/java/foreign/SafeFunctionAccessTest.java
https://github.com/ibmruntimes/o

[2021-07-13 21:39] JasonFengJ9 commented on #13157
It was built with `OpenJ9` `5d3e13320967eece34881caa5804756a16bb9c35` which doesn't contain the commit `7f6a1ae4339f7f6e94924782288fea3897ec0475 JDK17 recognize --enable-native-access option`.
Please run with a JVM built with latest `master` branch.

[2021-07-13 21:44] keithc-ca commented on #12344
What I have so far excludes the core file and instead adds a file called `excluded-files.txt` which will contain information like this:
[code]
Changing the filename or the wording within is easy if anyone has suggestions.

Adding the equivalent to `info sys` would be a significant amount of work. I think we should see whether that is really necessary.

[2021-07-13 23:54] ChengJin01 commented on #12992
The problem with the failure in the testng framework happens when the `-XX:RecreateClassfileOnload` option is specified to transform ROM classes in which case it is difficult to determine which inner class in the specified ROM Class should be excluded in the newly generated class file based on the mixed inner class entries (only the outer class index is insufficient at this point).

[2021-07-14 04:08] #13098 closed

[2021-07-14 08:47] paulcheeseman opened #13191 "DTFJ: Infinite loop while parsing a z/OS dump"
I'm trying parse a z/OS dump using DTFJ (jdmpview / MAT), and it seems to be stuck in an infinite loop here:

https://github.com/eclipse-openj9/openj9/blob/24b14b4743f82a648712bdca71a5b870828e65f9/debugtools/DDR_VM/src/com/ibm/j9ddr/VMDataFactory.java#L[…]71

The problem is that this line is throwing an EOFException over and over:

https://github.com/eclipse-openj9/openj9/blob/24b14b4743f82a648712

[2021-07-14 11:42] pshipton commented on #12789
Changing the milestone as this is not fixed in the 0.27 release. @fjeremic how risky is the fix, should we consider adding it to the 0.27 release, which occurs next Tues July 20?

[2021-07-14 11:43] pshipton commented on #10489
Moving forward as it's too late for fixes in 0.27 now.

[2021-07-14 11:44] pshipton commented on #12782
Moving forward as it's too late for fixes in 0.27 now.

[2021-07-14 12:17] tajila commented on #13157
@ChengJin01 Can you please add excludes for [1] and [2] in jdk17 and head jdk repo

[2021-07-14 12:21] JasonFengJ9 commented on #12276
The extension repo change fixes `Error evaluating expression: invalid boolean value: `null' for expression `(vm.jvmti)'`.
Afterwards, the test hits a `JVMTI` version problem, am working on a PR.

[2021-07-14 13:10] 0xdaryl commented on #13029
We had an offline discussion on this issue yesterday and I'll summarize the outcome of that discussion here.

TL;DR : we'll implement this feature with a command-line option solution

*   *   *   *   *

The original intent of this feature was to remember classes whose identity hashcode was taken in the SCC and then use that information in subsequent JVM invocations to set the "has-been-hashed" (HB

[2021-07-14 13:47] vijaysun-omr opened #13192 "Reduce HCR impact on the effectiveness of escape analysis"
HCR (Hot Code Replace) is enabled by default in OpenJ9 and makes the escape analysis optimization in the JIT compiler more conservative. The affected part of escape analysis is primarily the method peeking logic, that is essentially disabled at levels below the top level call.  This is related to two things

1) Peeking of methods is fundamentally limited in a run where HCR is enabled because the r

[2021-07-14 13:58] pshipton commented on #13078
@zl-wang fyi

[2021-07-14 14:02] pshipton commented on #13176
Dup of https://github.com/eclipse-openj9/openj9/issues/9782

[2021-07-14 14:02] #13176 closed

[2021-07-14 14:04] vijaysun-omr commented on #13192
@Swapnilr1 your work in the dynamic heapification area could be of use here.

[2021-07-14 14:16] fjeremic commented on #12789
Personally register allocator fixes to me always have some risk as there are quite a few corner cases we can encounter, and at least today it is impossible to test for these corner cases. We have to rely on building enough register pressure from our Java testing to hit these corner cases. Having said that this particular problem is super rare so **I'm leaning towards letting the fix soak until the

[2021-07-14 14:42] dsouzai commented on #13029
This is true, but only if we always check the bit for all objects when generating AOT code. If the option specifies only `java/lang/String` in run 1, then if the compiler does not generate the check when it can prove an object is not a `java/lang/String`, then in run 2, if the option changes and includes more classes, the AOT code will be incorrect, because it will lack the code to check the bit f

[2021-07-14 14:44] gita-omr opened #13193 "Fold Stable array elements"
Related to [1]. The most accurate specification seems to be in [2].

[1] https://github.com/eclipse-openj9/openj9/pull/13178
[2] https://bugs.openjdk.java.net/browse/JDK-8152910

[2021-07-14 15:35] zl-wang commented on #13078
@midronij

[2021-07-14 16:55] tajila opened #13195 "Closescope tests failure on latest JDK17"
[code]

[2021-07-14 16:56] tajila commented on #13195
See https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64le_linux_OpenJDK17/6/tapResults/

[2021-07-14 17:05] ChengJin01 commented on #12992
I verified the failing test with my latest changes by adding a new field called `enclosedInnerClasses` to ROM Class to store the remaining inner class entries in the `InnerClass` attribute) at https://github.com/ChengJin01/openj9/commit/4e96d0b1288b1ac9bff6150a9b132a99f3fd1366
[code]
Will double-check in the personal builds to see whether it works good in the existing tests.

[2021-07-14 17:44] llxia commented on #13157
We should update https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemList_openjdk17-openj9.txt for JDK17. There is no problem list for JDK18 yet.

[2021-07-14 17:47] ChengJin01 commented on #13157
Thanks @llxia  for confirming this,  I will need to verify my changes in the exclude list on JDK17 at https://github.com/ChengJin01/aqa-tests/commit/6fd7ad955f1bdd2c66076040ae358d7fe43bd377 to see whether it works good at this point.

[2021-07-14 18:02] rajdeepsingh1 commented on #13159
I've added github.com manually to /etc/hosts for the following machines, which should resolve the name resolution issues:

ub18-390-1
ub18-390-2
ub20-390-1
ub20-390-2

@pshipton

[2021-07-14 18:25] dmitry-ten commented on #13173
This is a stack trace I get from the coredump of a crash:
[code]

I'm not actually sure what this shows. Looks like it's a crash inside compiled method, but I'm not certain.
This is also the only thread stack I can see in the core dump.

`j9_void_void` is somehow related to JNI but I can't tell anything besides that.

[2021-07-14 18:32] pshipton commented on #13159
I've re-enabled the machines and started some PR testing that should test most of them.

[2021-07-14 18:34] #13159 closed

[2021-07-14 18:35] dmitry-ten commented on #13173
I was also able to attach gdb to a hanged process.
I don't immediately see an obvious JITServer-related reason for hangs, since all compilation threads are suspended/idle due to empty compilation queue.

The most suspicious thread is this one:

[code]
This looks similar to the stack trace of the crash above.
It's performing a JNI call to `java/lang/Object.wait`, and it's doing a call with no timeo

[2021-07-14 18:38] #12344 closed

[2021-07-14 19:13] ChengJin01 commented on #13157
PR at https://github.com/adoptium/aqa-tests/pull/2735 is created to exclude these JEP389 related tests.

[2021-07-14 19:27] ChengJin01 commented on #13157
I verified the follow failing tests (previously ending up with dump due to the lack of  implemented code in the build) locally with the latest changes in OpenJ9 (master branch)
https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/openj9-staging/test/jdk/java/foreign/TestResourceScope.java
https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/openj9-staging/test/jdk/java/foreign/TestSegmentA

[2021-07-14 19:37] tajila commented on #13127
@fengxue-IS can you add exclues for the following:
[code]

[2021-07-14 19:40] tajila commented on #12760
@JasonFengJ9 We are seeing more failures:
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_OpenJDK17/3/testReport/junit/java_lang_System_SecurityManagerWarnings/java/SecurityManagerWarnings/
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_OpenJDK17/3/testReport/junit/java_lang_System_SecurityManagerWarnings/java/SecurityManag

[2021-07-14 19:54] tajila opened #13198 "Remove unsupported -Xlog options from Openjdk tests"
The following tests make use of `-Xlog:all=warning:stdout`

[code]

[2021-07-15 01:37] AdamBrousseau commented on #13159
I think etc/hosts is only a temp solution while the dns problems are resolved. Cindy said there didn't appear to be any issues. I tested removing the entry and all 4 hosts seem fine. Also did a reboot.

[2021-07-15 01:45] JasonFengJ9 commented on #12760
My local test setup gave false pass, re-creating the workspace reproduced the failures above. Sorry.
Investigating ..

[2021-07-15 11:58] JasonFengJ9 commented on #13198
This will be resolved by https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/16

[2021-07-15 12:18] #13198 closed

[2021-07-15 13:14] pshipton commented on #12276
It doesn't seem reasonable to get further changes into the 0.27 release, moving this forward.

[2021-07-15 13:26] tajila opened #13201 "Failure in LoaderLeakTest"
It appears that we are hanging while running the loader leak test.

[code]

java/lang/annotation/LoaderLeakTest.java.LoaderLeakTest

[2021-07-15 13:28] tajila opened #13202 "Failure in RandomTestChiSquared tests"
[code]

[code]

[2021-07-15 13:47] 0xdaryl commented on #5455
Ensure CodeGenerator `getSupportsAlignedAccessOnly()` returns the correct answer for the target processor.  SequentialStoreSimplifier may do the wrong thing otherwise.

[2021-07-15 13:51] fjeremic commented on #5455
Does this mean if a CodeGenerator doesn't do anything w.r.t. this API we may have functional bugs?

[2021-07-15 14:25] 0xdaryl commented on #5455
Yes.  Mis-aligned data accesses were being generated on AArch64, and there was no means of encoding instructions to access that data.

I believe this API defaults to "false", so if a processor can (for example) access 4-bytes on a mis-aligned boundary then it should be fine.  We have a PR coming on AArch64 that sets this flag to fix its problem.

[2021-07-15 14:25] tajila commented on #13195
@EricYangIBM Please create an exclude PR for this test in JDK17, once we merge in the latest jdk17 changes you can fix the test to use the new classes

[2021-07-15 14:31] fjeremic commented on #5455
Should we be making such APIs pure virtual functions to force concrete CodeGenerators to implement them correctly?

[2021-07-15 16:33] singh264 commented on #12496
@dsouzai could you please assign this task to me?

[2021-07-15 16:36] singh264 commented on #13168
@fjeremic could you please assign this task to me?

[2021-07-15 16:56] pshipton commented on #12673
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly_testList_0/51/ - rh7-390-2
SecurityTests_0
[code]

[2021-07-15 17:02] pshipton commented on #13159
More network problems https://github.com/eclipse-openj9/openj9/issues/12673#issuecomment-880861702

[2021-07-15 17:04] pshipton commented on #11979
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly_testList_1/51
cmdLineTest_sigabrtHandlingTest_0
[code]

[2021-07-15 17:22] pshipton commented on #13163
Seems like a machine issue related to IPv6.

[2021-07-15 17:26] pshipton commented on #13166
Closing as a dup of https://github.com/eclipse-openj9/openj9/issues/13129

[2021-07-15 17:26] #13166 closed

[2021-07-15 17:27] pshipton commented on #13167
@tajila fyi

[2021-07-15 17:48] pshipton commented on #13175
@tajila fyi. Likely JIT issue?

[2021-07-15 17:50] pshipton commented on #13162
@tajila fyi. Likely OJKD MH related?

[2021-07-15 17:52] pshipton commented on #13177
Closing as a dup of https://github.com/eclipse-openj9/openj9/issues/13127

[2021-07-15 17:52] #13177 closed

[2021-07-15 17:53] tajila commented on #13175
@nbhuiyan Please take a look

[2021-07-15 17:55] pshipton commented on #13179
@tajila fyi

[2021-07-15 17:57] pshipton commented on #13181
@tajila fyi

[2021-07-15 18:02] tajila commented on #13179
@nbhuiyan Please take a look

[2021-07-15 18:02] JasonFengJ9 commented on #13162
This is MH enabled internal build like https://github.com/eclipse-openj9/openj9/issues/13164 and a few others.

[2021-07-15 18:12] pshipton commented on #13180
@tajila fyi

[2021-07-15 18:25] tajila commented on #13162
@fengxue-IS another NPE

[2021-07-15 18:44] hangshao0 commented on #13130
I notice RI seems to decide whether to flatten atomic VT based on the number of its fields, rather than its size.

[code]

Interestingly for volatile VT fields, RI never flatten them:

[code]

I am not sure why RI behave like this for atomic VT/volatile VT fields. (Maybe due to limitation of their field copy code ?)
Our current implementation of `MM_ObjectAccessBarrier::copyObjectFields()` won't t

[2021-07-15 19:34] pshipton opened #13206 "DaaLoadTest_all_CS_5m_0 crash vmState=0x00020003"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly_testList_1/45/ - cent6-x64-6
DaaLoadTest_all_CS_5m_0
JVM_OPTIONS:  -Xgcpolicy:gencon -Xgc:concurrentScavenge

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly_testList_1/45/system_test_output.tar.gz
[code]

@dmitripivkine fyi

[2021-07-15 19:38] pshipton commented on #13123
July 9 https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly_testList_2/47/
ClassLoadingTest_5m_0
[code]

[2021-07-15 19:43] pshipton commented on #12789
July 11 This re-dates the fix.
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/48
[code]

[2021-07-15 19:44] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/48

[2021-07-15 20:15] dmitripivkine commented on #13206
reconstructed top of the c-stack manually
[code]

ad instruction it crashed at
[code]

[2021-07-15 20:28] keithc-ca commented on #12709
I see five instances of
[code]
in the console output in the description which suggests there are 5 (or more) threads involved. The results are consistent with each thread independently processing dumps in (dump) priority order:
* The first produces the system dump (which is configured by default with `range=1..1`).
* Then the first four produce heap and java dumps (each configured by default with

[2021-07-15 21:35] dmitripivkine commented on #13206
In `!mm_parallelsweepchunk 0x00007F8D683B4000` there is `freeListTail = !mm_heaplinkedfreeheader 0x000000008347AC68`
[code]
0x8347ac68 + 0x4DDB98 = 0x83958800 <--- and this address GC Check shows as corruption as well
and there is nothing in memory:
[code]

[2021-07-16 00:35] knn-k commented on #12280
eclipse/omr#5887 was merged.  Closing.

[2021-07-16 00:35] #12280 closed

[2021-07-16 01:54] pshipton opened #13207 "zlinux can't upload to artifactory"
https://openj9-jenkins.osuosl.org/job/Build_JDK8_s390x_linux_Release/9/console
https://openj9-jenkins.osuosl.org/job/Build_JDK8_s390x_linux_Release/10/console

Both on rh7-390-1 so maybe a problem with this machine.

@AdamBrousseau

[2021-07-16 08:50] paulcheeseman commented on #12709
@keithc-ca

Do you have any thoughts about the suggestion of not flushing the trace buffers when taking a snap dump?

[2021-07-16 14:09] pshipton commented on #13207
Nightly builds where fine, trying again today
https://openj9-jenkins.osuosl.org/job/Build_JDK8_s390x_linux_Release/11

[2021-07-16 15:12] dmitripivkine commented on #13206
The Mark Map for problematic range has garbage:
[code]
This range has been added to Tenure recently (just before Concurrent Kickoff event)
I wondering was correspondent Mark Map interval zeroed properly

[2021-07-16 15:22] pshipton commented on #13207
I know what's going on, I need to update my copy of the defaults.yml

[2021-07-16 15:22] #13207 closed

[2021-07-16 18:11] dmitripivkine commented on #13206
Looks like Heap Expansion (and correspondent Mark Map expansion) happen about the same time another thread executed Concurrent Kickoff:
[code]
We need to check is it possible Kickoff missed to zero newly expanded part of Mark Map

[2021-07-16 19:32] #13168 closed

[2021-07-16 20:24] dmitripivkine commented on #13206
@RSalman I am going to be on vacation next week. Would you please take a look to this item?

[2021-07-17 05:15] #12953 closed

[2021-07-19 12:08] EmanElsaban opened #13210 "Segmentation Error when using 'shareROMClasses' option on ppc64le"
The server is crashing on build 2021-06-29  java8 on ppc64le platform when using the ``shareROMClasses` option:
[code]
stack:
[code]

[2021-07-19 12:11] EmanElsaban commented on #13210
It happens on JAVA 11 build `` j9jit_20210712_2110_jenkins`` as well, stack:
[code]

[2021-07-19 12:11] EmanElsaban commented on #13210
FYI: @mpirvu @dmitry-ten

[2021-07-19 12:50] JasonFengJ9 opened #13211 "JDK16 jdk_foreign_0_FAILED - java/foreign/TestHandshake.java"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_ppc64_aix_Nightly/55/consoleFull
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=adoptium%

[2021-07-19 12:57] JasonFengJ9 commented on #13127
Observed at https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_ppc64_aix_Nightly_testList_2/55/tapResults/
`aqa-tests/TKG/output_16266732652546/SC_Softmx_JitAot_0/20210719-023242-SharedClassesWorkloadTest_Softmx_Increase_JitAot/results/16.jvm4.stderr`
[code]

[2021-07-19 13:07] JasonFengJ9 commented on #13126
Similar `TestIBMJlmRemoteClassNoAuth_1_FAILED` is observed at https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.system_ppc64_aix_Nightly_testList_1/55/consoleFull

[2021-07-19 13:12] JasonFengJ9 commented on #7247
A similar `testDDRExt_Callsites_0_FAILED` at https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/53/tapResults/
[code]

[2021-07-19 13:21] JasonFengJ9 opened #13212 "JDK16 (0.27 release) MacOS jdk_foreign_0_FAILED - j9jcl.347 * ** ASSERTION FAILED ** at openj9/runtime/jcl/common/jdk_internal_misc_ScopedMemoryAccess.cpp:40: ((0 ))"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_x86-64_mac_Release/5/consoleFull
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=adoptium%

[2021-07-19 13:42] JasonFengJ9 commented on #9782
A similar `TestArrayCopy_1_FAILED` is observed at JDK11 0.27 release build https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Release/5/tapResults/
[code]

This was at `osx1011-x86-1`.

[2021-07-19 13:48] JasonFengJ9 commented on #8493
A similar `ConcurrentLoadTest_5m_0_FAILED` is observed at JDK11 0.27 release build at https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_mac_Release/5/tapResults/
[code]

[2021-07-19 13:51] JasonFengJ9 commented on #11640
A similar `testDDRExtJunit_FindExtThread_0_FAILED` is observed at JDK11 0.27 release build https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Release_testList_1/5/consoleFull

[2021-07-19 13:54] JasonFengJ9 commented on #9186
JDK11 (0.27 release) `jdk_util_1_FAILED` at https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Release/5/consoleFull
[code]

[2021-07-19 14:11] JasonFengJ9 commented on #12115
A similar `SC_Softmx_JitAot_0_FAILED` occurred at JDK11 0.27 release build at  https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Release_testList_2/5/tapResults/
[code]

From `SC_Softmx_JitAot_0/20210717-134105-SharedClassesWorkloadTest_Softmx_Increase_JitAot/results/5.jvm2.executionlog.1.ltd`
[code]

[2021-07-19 14:17] JasonFengJ9 commented on #11654
A similar `jdk_lang_0_FAILED` occurred at JDK11 (0.27 release) build  https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Release/5/consoleFull
[code]

[2021-07-19 14:30] dmitry-ten commented on #13210
I can work with you on this one. Can you see the address of the `J9::Monitor` where the program crashes?

[2021-07-19 14:48] keithc-ca commented on #12370
Documentation contributed via #13187.

[2021-07-19 14:48] #12370 closed

[2021-07-19 14:58] dmitry-ten commented on #13210
Also, do you see any JITServer verbose log messages related to shared ROM classes? Just to double check that there are no failures during cache initialization.

[2021-07-19 16:20] keithc-ca commented on #12709
From my (perhaps limited) understanding of how tracing is managed, the per-thread trace buffers need to be merged before the information can be written to a file. That 'merging' is like 'flushing'. It's not clear there's an alternative that wouldn't have significant performance implications.

[2021-07-19 18:49] JasonFengJ9 commented on #12276
Created PR https://github.com/eclipse-openj9/openj9/pull/13215
Running `test/hotspot/jtreg/serviceability/AsyncGetCallTrace/MyPackage/ASGCTBaseTest.java` requires that `libAsyncGetCallTraceTest.so` is copied into `test-images/openj9` otherwise following error occurs:
[code]
This is because `jtre` `-nativepath` only works with an absolute path.

@llxia I noticed that you already have a draft PR to

[2021-07-19 19:00] EmanElsaban commented on #13210
Nope, this is what I see when I enable verbose:
[code]
[code]

[2021-07-19 20:36] dmitry-ten commented on #10920
@mpirvu this is another duplicate of `testJITServer` failures. Since we closed all others, this one should be closed as well.

[2021-07-20 00:07] #12482 closed

[2021-07-20 12:37] JasonFengJ9 opened #13223 "JDK8 java/util/logging/FileHandlerAccessTest.java - AssertionError at sun.nio.ch.SharedFileLockTable.removeKeyIfEmpty(FileLockTable.java:167)"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Nightly/57/console
[code]
[Re-run in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=adoptium%

[2021-07-20 17:49] #13212 closed

[2021-07-20 18:20] AdamBrousseau commented on #12817
Raj is going to attempt the cent6-x install. If that doesn't work for him he'll install on ubuntu machines internally and we can hack a build together to run compiles on ubuntu as well as limit testing to ubuntu.
Note: We should try the ubuntu compile before rolling out libcriu to the machines.

[2021-07-20 18:21] vijaysun-omr commented on #12817
@ymanton

[2021-07-20 23:18] AdamBrousseau commented on #12817
I was under the impression that this was targeted at 8/11 but I don't see that stated here. Is this true, or is it only for 16+?

[2021-07-21 11:25] #13210 closed

[2021-07-21 11:31] mpirvu commented on #13173
Fixed by #13209

[2021-07-21 11:31] #13173 closed

[2021-07-21 11:32] mpirvu commented on #10331
Fixed by #13209

[2021-07-21 11:32] #10331 closed

[2021-07-21 11:34] mpirvu commented on #10920
Closing based on the comment above. We haven't seen such a failure in a long while.

[2021-07-21 11:34] #10920 closed

[2021-07-21 11:48] JasonFengJ9 opened #13226 "JDK8 aarch64 cmdLineTester_shrcdbgddrext_1 !shrc jitpstats - Exception in thread "main" java.lang.IncompatibleClassChangeError"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.functional_aarch64_linux_testList_2/26/` `ub18-aarch64-8`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=cmdLineTester_shrcdbgddrext_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_extended.functional_aarch64_linux&amp;DOCKER_REQ

[2021-07-21 11:50] mpirvu commented on #11185
@dmitry-ten I vaguely recall that recently we had a fix for a problem related to runtime assumptions. Would that fix address this issue as well?

[2021-07-21 12:01] tajila commented on #12817
Right now, its only 8 and 11. In the future we will want 17 as well.

[2021-07-21 14:33] dnakamura commented on #13004
Have a current draft PR (#13227).

[2021-07-21 14:44] tajila commented on #13082
@ChengJin01 Can you please take a look at this

[2021-07-21 17:12] dmitry-ten commented on #11185
#12966 and #12840 fixed runtime assumption bugs, however they didn't fix the original crash.
Over the last couple of days I grinded this test with #13209 applied, after 300 iterations, I saw no failures.
I'm running another 100 iterations today, if they pass, I say this issue should be considered resolved.

[2021-07-21 18:16] ymanton commented on #12817
I don't have access to Centos 6, but installing the following packages on Centos 7 allows me to build CRIU:

I can't find any package that provides libbsd or libnftables development files so you will see the following warnings at build time:

[code]

The build should succeeed. The resulting binary can be checked with `criu check`, and I see the following warnings, probably because of lack of nftab

[2021-07-21 20:15] keithc-ca opened #13229 "MauveSingleInvocLoad_special_5m_8 failure on Windows 32-bit in 0.27.0 release build"
Failure link
------------
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_x86-32_windows_Release/6/

Optional info
-------------
Grinder launched at https://openj9-jenkins.osuosl.org/job/Grinder/156/

Failure output (captured from console output)
---------------------------------------------
MauveSingleInvocLoad_special_5m_8:
[code]

[2021-07-21 22:34] dmitry-ten commented on #11185
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/17063/ - the Grinder passed, which brings us to 400 iterations without failures.
@mpirvu I think you can close this one.

[2021-07-22 01:55] keithc-ca commented on #13229
5x grinder above passed.

[2021-07-22 02:34] #13130 closed

[2021-07-22 10:49] mpirvu commented on #11185
Closing based on the comment above

[2021-07-22 10:49] #11185 closed

[2021-07-22 10:59] JasonFengJ9 commented on #9401
Similar failure is observed at `rhel7lert-1-1`

From an internal JDK8 0.27 release build `Test_openjdk8_j9_extended.functional_ppc64le_linux_testList_1/85/`
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=testSCCMLTests2_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_extended.functional_ppc64le_linux&amp;DOCKER_R

[2021-07-22 11:43] JasonFengJ9 opened #13230 "aarch64 0.27 release - jit_jitt_array_compress_3_FAILED : Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_aarch64_linux_testList_1/27/` `fuji`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jit_jitt_array_compress_3&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk8_j9_sanity.functional_aarch64_linux&amp;DOCKER_REQUIRED=false&amp;AC

[2021-07-22 11:55] JasonFengJ9 commented on #12769
Similar `Segmentation error vmState=0x00000000` are observed at JDK 8 0.27 release builds.

[code]
`MathLoadTest_bigdecimal_special_5m_1_FAILED` at an internal build `Test_openjdk8_j9_special.system_aarch64_linux_testList_3/75/` (`ub18-aarch64-5`)
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=MathLoadTest_bigdecimal_special_

[2021-07-22 12:06] JasonFengJ9 commented on #12795
Just note this is seen in JDK11 0.27 release build `Test_openjdk11_j9_extended.openjdk_ppc64_aix/22/` (`paix817 `).

[2021-07-22 12:10] JasonFengJ9 commented on #13230
Also seen at JDK11 `Test_openjdk11_j9_sanity.functional_aarch64_linux_testList_0/23/` (`cent7-aarch64-4`).
[code]

[2021-07-22 12:23] knn-k commented on #13230
This looks similar to #12940 and #12945.

[2021-07-22 12:26] knn-k commented on #13230
The fix #12946 is not applied to the 0.27 branch.

[2021-07-22 12:35] JasonFengJ9 commented on #13230
Agreed, do we want 0.27 release to have this fix? what's the level of risk?

fyi @keithc-ca

[2021-07-22 12:42] knn-k commented on #13230
I opened #13231 for fixing this.

[2021-07-22 13:12] JasonFengJ9 commented on #12760
`TEST: java/lang/System/SecurityManagerWarnings.java` failed at https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_OpenJDK17/4/consoleFull

Looking..

[2021-07-22 13:21] JasonFengJ9 opened #13232 "TestJps_0_FAILED - AssertionError: Child process did not launch"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Release/6/tapResults/ (`osx1014-x86-1`)
[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=-f+parallelList.mk+testList_1&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_extended.functional_x86-64_mac_Release&DOCKER_REQUI

[2021-07-22 13:26] JasonFengJ9 opened #13233 "JDK8 Mac testvmcheck_0_FAILED - FAILED: testLoadingClasses AssertionError: Child exited with non-zero stats expected:<0> but was:<1>"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Release/6/tapResults/
[code]
[Re-run in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH

[2021-07-22 13:33] tajila opened #13234 "Failure in TestResourceScope"
Related to the closeScope0 native

[code]

[2021-07-22 13:33] tajila commented on #13234
@EricYangIBM please take a look.

[2021-07-22 13:37] tajila commented on #13234
You can find the test here, https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/openj9-staging/test/jdk/java/foreign/TestResourceScope.java

[2021-07-22 14:03] JasonFengJ9 commented on #13211
A slightly different error at JDK16 0.27 release build https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_x86-64_windows_Release/6/consoleFull

[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=x86-64_windows&TARGET=jdk_foreign_0)
[code]

[2021-07-22 14:20] JasonFengJ9 commented on #12760
[code]
This VM was built one commit earlier than https://github.com/eclipse-openj9/openj9/pull/13200

[code]
Next build should include the PR in question and pass the test.

[2021-07-22 14:29] ymanton commented on #12817
libnftables and libnftables-devel don't seem to exist on Centos 7. The executables that use that library seem to have it statically linked; a separate package containing just the shared library and headers doesn't exist. I guess we would have to install it from source if it becomes needed.

libbsd-devel can be found on EPEL, but EPEL is only available on Centos 7 and 8, so we'd have to install tha

[2021-07-22 14:44] JasonFengJ9 opened #13235 "JVMTI test version.c:ensureVersion() name confusion"
Then I suggest the function is badly named; it ought to be `ensureNotVersion()` and the message when it fails is wrong.
Can you open an issue to clean that up, please?

_Originally posted by @keithc-ca in https://github.com/eclipse-openj9/openj9/pull/13215#discussion_r674850908_

[2021-07-22 15:06] idlewis opened #13236 ""module jdk.attach does not export com.ibm.tools.attach.attacher""
Java -version output
--------------------

openjdk version "16.0.1" 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-16.0.1+9 (build 16.0.1+9)
OpenJDK Client VM AdoptOpenJDK-16.0.1+9 (build 16.0.1+9, mixed mode)

Summary of problem
------------------
The code snippet below runs fine on a Hotspot Java 16 VM, but fails on an OpenJ9 Java 16
[code]

The error is:
[code]

This is causing me some iss

[2021-07-22 15:23] JasonFengJ9 commented on #13236
_The OpenJ9 implementation of the Attach API is equivalent to the reference implementation (API documentation is available on the Oracle website). However, you can only use the Attach API to connect to another OpenJ9 VM._ [1]

Thanks for trying OpenJ9 Attach API though.

[1] https://www.eclipse.org/openj9/docs/attachapi/

[2021-07-22 15:32] JasonFengJ9 commented on #8972
Just note it is observed in JDK16 0.27 release build https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_x86-64_mac_Release/6/consoleFull

[code]

[2021-07-22 15:36] JasonFengJ9 commented on #13211
Another one at JDK 16 0.27 release build https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_ppc64le_linux_Release/6/consoleFull

[code]

[2021-07-22 17:11] JasonFengJ9 commented on #11868
Also observed at JDK16 0.27 release build https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_ppc64le_linux_Release/6/tapResults/

[code]

[2021-07-22 17:32] EricYangIBM commented on #13234
The test starts threads 0-99 while the main thread closes the single scope. Threads 0-99 add a cleaner action (which executes upon close(), adding its thread id to an AtomicInteger so the total should be 4950) which if fails (already closed -> IllegalStateException) adds to the AtomicInteger manually.
Regardless of if `closeScope0` returns true or false (no throw IllegalStateException or throw), t

[2021-07-22 20:00] tajila opened #13237 "Add jithelper to recognize @DontInline"
Add jithelper to recognize @DontInline

Similar to the `@forceinline` helpers

[2021-07-22 20:01] tajila commented on #13237
@EricYangIBM Please take a look at this

[2021-07-22 20:42] JasonFengJ9 opened #13239 "JDK11 0.27 release: SharedClassesAPI_1_FAILED - **FAILED** at step 71 (Verify Classes Caches using JVMTI)"
Failure link
------------

From an internal build `Test_openjdk11_j9_extended.system_ppc64le_linux_testList_1/37/` (`rhel7lert-1-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=SharedClassesAPI_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_extended.system_ppc64le_linux&amp;DOCKER_REQUIRED=false&amp;

[2021-07-22 22:17] JasonFengJ9 commented on #13236
Closing for now.

[2021-07-23 13:47] tajila commented on #9167
I took a look at this failure. in `[2020-03-27T03:02:34.556Z] sidecarInvokeReflectMethodImpl+0xd920dda0 (, 0x0000000000000000)` we callin to the interpreter with:

[code]

The `methodRunAddress` is `J9_BCLOOP_SEND_TARGET_I2J_TRANSITION`. looking at the `extra` field `extra = !j9x 0x000000501C0000FA` the method is compiled.

The problem occurs in the `java/util/concurrent/ThreadLocalRandom.nextInt(

[2021-07-23 13:47] tajila commented on #9167
@fjeremic Can you please take a look at this

[2021-07-23 13:53] tajila commented on #9167
Also note: I've only seen this failure with `-Xjit:rtResolve,disableAsyncCompilation,limit={org/openj9/test/nestmates/NestmatesTest.testInterfaceUnresolvedJitted*,org/openj9/test/nestmates/NestmatesTestnnerInterface.innerInterfacePrivateMethod*},{org/openj9/test/nestmates/NestmatesTest.testInterfaceUnresolvedJitted*}(count=0),{org/openj9/test/nestmates/NestmatesTestnnerInterface.innerInterfacePriv

[2021-07-23 16:28] ChengJin01 commented on #13082
1)  Debugging shows the exception in OpenJDK11/OpenJ9 was captured in the native code at https://github.com/eclipse-openj9/openj9/blob/master/runtime/vm/lookupmethod.c as follows:
[code]
in that `checkVisibility()` between `sun/reflect/misc/Trampoline` and ` java/util/Collections$CheckedRandomAccessList` failed at `runtime/vm/visible.c`
[code]
Apparently, the check result is correct given ` java/u

[2021-07-23 16:37] ChengJin01 commented on #13082
Hi @JavaTailor, based on the investigation above, the exception was literally triggered on OpenJDK side. So please contact OpenJDK guys or Oracle for help as to how & why the exception occurred in OpenJDK11 and beyond as compared to OpenJDK8  given OpenJDK is not part of OpenJ9.

[2021-07-24 06:37] JavaTailor commented on #13082
Hi @ChengJin01 , thanks for your detailed and professional reply! We will report this to OpenJDK to find out what the problem is.

[2021-07-25 13:05] JavaTailor opened #13242 "The order of super interface initialization in J9 is strange"
### Summary
We found that the order of super interface initialization in J9 is strange, which is inconsistent with other JVMs. The simplified test case can be found below:
[code]

In this test case, class C implements interface B, and interface B extends interface A and overrides its default_method. The initialization order of J9 in this example  is B, A, C, and other JVMs such as hotspot, the ini

[2021-07-26 11:19] 0xdaryl opened #13243 "Avoid creation of improper regions after loop versioner"
The following design was implemented in loop versioner many years ago, but never enabled.  There are situations where the presence of improper regions is inhibiting some other optimizations (such as global value propagation) from finding opportunities.  This design should prevent that.

The goal of this issue is to find, modernize, test, and enable this logic to ensure loop versioner does not crea

[2021-07-26 12:19] vijaysun-omr commented on #13243
Thanks @0xdaryl.

FYI @gita-omr I think I mentioned this work to you since it came up in the context of vector JEP JIT logs that we were looking at.

[2021-07-26 12:49] #13237 closed

[2021-07-26 15:47] hangshao0 commented on #13239
Likely there was another Java process running at the time of failure.

[2021-07-26 17:18] pshipton commented on #11868
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-32_windows_Release_testList_0/7
ConcurrentLoadTest_5m_2
variation: Mode1000
JVM_OPTIONS:
[code]

[2021-07-26 17:30] EricYangIBM commented on #13137
#13185 adds CRIU options and option setters. After it is merged, another PR will add the exception changes (and remove the return code classes returned by `checkpointJVM`).

[2021-07-26 20:25] tajila commented on #13234
I've looked at the test case more closely, it may not be related to closescope, but we still need to investigate it. We need to understand why some threads did not behave as intended. Or if this is an issue in the interaction between native scopes and cleaners.

[2021-07-26 20:26] tajila commented on #13211
@EricYangIBM This may be related to https://github.com/eclipse-openj9/openj9/issues/13234

[2021-07-26 20:56] keithc-ca opened #13246 "Extend line endings check"
Changes in pull requests are checked for proper line endings: LF for most text files or CR/LF for some Windows-specific text files.

I propose that we extend those checks to ensure that each added or modified line has no trailing whitespace or unnecessary blank lines at EOF.

Since the inception of this project I have yet to see a legitimate need for trailing whitespace in any file. On the other h

[2021-07-26 21:30] pshipton opened #13247 "win2012-x86-1 and 9 are offline"
@AdamBrousseau

[2021-07-27 02:43] AdamBrousseau commented on #13247
Sanitize was running when I checked in earlier. All back online now.

[2021-07-27 03:08] AdamBrousseau commented on #13246
Are there existing 3rd party tools or linters that could replace either the line-endings check or the whitespace check or both? We might get much more value out of implementing something 3rd party than maintaining and expanding our homegrown solution.

Search finds a bunch but here is an example
https://github.com/github/super-linter

More searching suggests there exists linters for linebreak-styl

[2021-07-27 13:02] keithc-ca commented on #13246
My initial work in this direction can be seen at https://github.com/keithc-ca/openj9/tree/line-endings. Effectively, it just runs two additional commands:
[code]

[2021-07-27 13:27] pshipton commented on #13247
win2012-x86-11 is offline now.

[2021-07-27 13:44] keithc-ca commented on #13246
super-linter seems a rather heavy-weight solution; the latest image is 1.52GB and even the 'slim' version is 1.2 GB according to https://hub.docker.com/r/github/super-linter/tags?page=1&ordering=last_updated.

[2021-07-27 13:51] tajila commented on #13022
Confirmed that these failure are caused by:
https://github.com/eclipse-openj9/openj9/pull/12558
https://github.com/eclipse-openj9/openj9/pull/12880

[2021-07-27 13:52] tajila commented on #13021
Confirmed that these failure are caused by:
https://github.com/eclipse-openj9/openj9/pull/12558
https://github.com/eclipse-openj9/openj9/pull/12880

[2021-07-27 13:52] tajila commented on #13020
Confirmed that these failure are caused by:
https://github.com/eclipse-openj9/openj9/pull/12558
https://github.com/eclipse-openj9/openj9/pull/12880

[2021-07-27 13:53] tajila commented on #13021
Its unclear whether these will be fixed by enabling the ojdk_mh

[2021-07-27 14:14] keithc-ca commented on #13246
[code]

[2021-07-27 14:26] pshipton commented on #13242
@tajila @gacholio fyi

[2021-07-27 14:43] AdamBrousseau commented on #13247
Rebooted

[2021-07-27 14:43] #13247 closed

[2021-07-27 14:51] pshipton commented on #13242
Dan mentioned he's going to take a look at this.

[2021-07-27 15:09] DanHeidinga commented on #12759
@0xdaryl will this be complete for the code split date of Aug 9th?  I understood only the JIT took advantage of relaxed fp-semantics

[2021-07-27 15:09] llxia commented on #12081
The above -nativepath error is resolved. The new error is
[code]
I will close this issue and open a new issue for the current failure.

[2021-07-27 15:09] #12081 closed

[2021-07-27 15:10] DanHeidinga commented on #12759
Plus testing concerns @llxia

[2021-07-27 15:38] RSalman commented on #13206
**Here is a summary of findings so far:**
- Results from very small time hole with Tenure Expansion and Concurrent Kickoff
- Its rare/extremely intermittent
  - Nearly impossible to reproduce without hacking the code to slow down expansion at right spots
- [Similar to the issue that we saw last time](https://github.com/eclipse-openj9/openj9/issues/8020#issuecomment-573843125), mark map missed to g

[2021-07-27 16:24] dmitry-ten commented on #4382
I was able to reproduce the crash with `TestJlmRemoteClassAuth_0` from the `system` test suite.
For me, the crash doesn't happen after a connection failure. It just happens some time into the test, right after a new server stream is initialized, when it first reads a compilation request.

Interestingly, the crash goes away, when I comment out the code for freeing the `BIO` object.

[code]

This in

[2021-07-27 17:21] mpirvu commented on #4382
I too believe this is due to the way we handle BIO creation/destruction. I started to read the SSL implementation to better understand it, but didn't have time to make much progress before going on vacation.

[2021-07-27 17:26] gjdeval opened #13249 "-XX:HeapDumpPath support not documented"
According to https://github.com/eclipse-openj9/openj9/pull/2508  the option -XX:HeapDumpPath is supported by OpenJ9, but it does not appear in the documentation at https://www.eclipse.org/openj9/docs

[2021-07-27 17:38] keithc-ca commented on #13246
All the 'lint' tools I found seem to be language-specific and didn't seem to restrict their attention to just added or modified parts of changes; they would seem more suitable for a job more like a 'build'.

[2021-07-27 18:37] pshipton commented on #13249
Can you please re-create this issue in https://github.com/eclipse-openj9/openj9-docs

[2021-07-27 18:54] DanHeidinga commented on #13246
I ran across https://pre-commit.com/ today and thought of this issue.  It seems to provide end-of-line checkers among others and though its primary purpose is pre-commit checks, it also integrates into existing CI systems, like github actions, so adding it to our Jenkins workflows should be fairly straightforward.

[2021-07-27 19:56] DanHeidinga commented on #13242
I had looked at this recently for https://github.com/qbicc/qbicc and can confirm that OpenJ9's behaviour is not correct.  There was a spec update in JDK9 that clarified the order that interfaces must be initialized in:

[code]

Note, it states they need to be initialized recursively in the order they are declared in the classfile's interfaces array.

Our implementation is walking the iTable linked

[2021-07-27 19:57] DanHeidinga commented on #13242
I've tentatively targeted this to 0.28 (Java 17) but may not be able to have it resolved by then.  If it's critical it make jdk17, we may have to have someone else pick it up.  fyi @pshipton

[2021-07-27 20:10] EricYangIBM commented on #13211
I believe the issue is that https://github.com/ibmruntimes/openj9-openjdk-jdk16/blob/openj9/test/jdk/java/foreign/TestHandshake.java#L242 keeps throwing and looping without ever successfully closing the segment because there is always another thread accessing that segment. I'm not sure why it only happens for the SegmentMismatchAccessor variation, I think it is because ScopedMemoryAccess.vectorize

[2021-07-27 20:11] gjdeval commented on #13249
done   https://github.com/eclipse-openj9/openj9-docs/issues/812

[2021-07-27 20:18] dmitry-ten commented on #4382
I think I found the invalid memory operation:
When we create an SSL bio, we create an SSL object separately, setup its parameters, and then assign it to the BIO:
https://github.com/eclipse-openj9/openj9/blob/aba3173591037fb8aa8a5e9c4e4956a31074ae29/runtime/compiler/runtime/Listener.cpp#L162-L179

However, looking at the code of `BIO_new_ssl`, it already creates its own `SSL` object:

https://githu

[2021-07-27 20:28] #13249 closed

[2021-07-27 20:31] pshipton commented on #13236
I'm reopening this. It appears that while sun.tools.attach isn't exported, it is "open". While com.ibm.tools.attach.attacher is not. So far I haven't figured out how sun.tools.attach comes to be "open".

[2021-07-27 20:35] pshipton commented on #13211
Release builds don't do any special, they just run the test.

[2021-07-27 20:45] keithc-ca commented on #13246
I tried following the installation instructions on my Ubuntu 18.04 system: no luck.
After installing python-pip, I could install the hook in a project, but then running complained that it needed python3. Installing python3-pip didn't work any better (`python3 --version` reported a version newer than what pre-commit claimed it needed).

[2021-07-27 20:58] keithc-ca commented on #13246
The approach I'm proposing is essentially the same as the sample pre-commit hook you get via `git init` which boils down to using:
[code]

[2021-07-27 21:26] LongyuZhang opened #13251 "Extended.openjdk jdk_other javax/rmi/ssl/SSLSocketParametersTest failed with NoSuchObjectException"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.openjdk_x86-64_windows_testList_0/8/testReport/
Internal_Jenkins/job/Test_openjdk8_j9_extended.openjdk_ppc64_aix/20/testReport/
- test category: extended.openjdk
- test target name: jdk_other_0
- OS/architecture: aix, windows
- JDK version: 8

Failure output (captured from console output)
-------------------------

[2021-07-27 21:40] LongyuZhang commented on #1130
One more failure:
java/nio/channels/AsynchronousSocketChannel/CompletionHandlerRelease.java
Failed link: Internal_Jenkins/job/Test_openjdk8_j9_extended.openjdk_ppc64_aix/20/testReport/java_nio_channels_AsynchronousSocketChannel_CompletionHandlerRelease/java/CompletionHandlerRelease/
- OS/architecture: aix
- JDK version: 8

Failure output (captured from console output)
-----------------------------

[2021-07-27 22:01] LongyuZhang opened #13253 "Extended.openjdk jdk_security4 sun/security/krb5/auto/Unreachable.java failed with timed out"
Failure link
------------

Internal_Jenkins/job/Test_openjdk8_j9_extended.openjdk_ppc64_aix/20/testReport/sun_security_krb5_auto_Unreachable/java/Unreachable/
- test category: extended.openjdk
- test target name: jdk_security4
- OS/architecture: aix
- JDK version: 8

Failure output (captured from console output)
---------------------------------------------
[code]

Optional info
-------------
- pa

[2021-07-28 01:01] gacholio commented on #13242
It should be trivial to replace this with a loop over the ROM interface names, find class by name & initialize.

[2021-07-28 02:04] pshipton commented on #13251
I think this is a dup of https://github.com/eclipse-openj9/openj9/issues/12168#issuecomment-877455441 and a problem with the test case.

[2021-07-28 02:07] pshipton commented on #1130
Re the previous comment see also https://github.com/eclipse-openj9/openj9/issues/12167

[2021-07-28 02:46] pshipton opened #13254 "ub16x64j97 no space left on device"
@AdamBrousseau

Disabled.

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.system_x86-64_linux_Nightly/58/

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/51/

[code]

[2021-07-28 04:14] AdamBrousseau commented on #13254
Cleaned up workspaces but that only gained us 7.5G. Docker is using 20G. Some of them are old images. Cleaned up, but another  case for https://github.com/eclipse-openj9/openj9/issues/13074#issuecomment-871592361

[2021-07-28 04:14] #13254 closed

[2021-07-28 11:36] 0xdaryl commented on #12759
I don't think there is any functional work required here for correctness, only cleanup.  On x86 (the only platform where strictfp made a difference) OpenJ9 has long required running on a processor that supported SSE2 and the x87 paths could not be exercised.  In fact, I believe OpenJ9 won't even start up on x86 if it doesn't detect a processor that supports SSE2.

Recently, we began dismantling an

[2021-07-28 12:32] tajila commented on #13211
Can you set `MAX_EXECUTOR_WAIT_SECONDS` to a longer timeout to see if that fixes the issue.

[2021-07-28 13:49] Wood-Xia commented on #13010
I have same issue.
The java version is:
[code]

[2021-07-28 14:08] EricYangIBM commented on #13211
Testing that right now, but I think it will. https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17169/console shows SegmentMismatchAccessor iterations that successfully close the segment (e.g. at 348 ms, 5049 ms for iteration 0 and 1 for the last grinder iteration). If the timeout is increased I think there will be more successful SegmentMismatchAccessor iterations.

[2021-07-28 14:15] LongyuZhang commented on #13251
Yes, thanks for pointing out. Sorry I searched jdk_other but did not show that issue.

[2021-07-28 14:15] #13251 closed

[2021-07-28 14:19] LongyuZhang commented on #1130
Thanks for pointing out. I will remove it.

[2021-07-28 15:00] dmitry-ten commented on #4382
The server example in this doc https://www.openssl.org/docs/man1.1.1/man3/BIO_set_ssl.html only invokes `BIO_free_all` to free an SSL BIO, so I will assume that no calls to any other functions are required.

[2021-07-28 15:13] pshipton commented on #13010
Is the process with PID 9 running OpenJ9? Does it disable attach API? Does the problem still occur if you use the latest build (jdk8u292)?

You can enable attach API logging, for jps/jstack, and also the process you are trying to attach to. See at the bottom of https://www.eclipse.org/openj9/docs/attachapi/. To apply the options to jps/jstack prepend them with `-J`.

[2021-07-28 17:34] EricYangIBM commented on #13211
I think the problem is that SegmentMismatchAccessor takes too long (it compares two 1 000 000 byte native memory segments) which prevents the main thread from obtaining the lock. In https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17198/consoleFull you can see that an accessor (thread) often holds the lock for 2000 ms. In the hotspot implementation closeScope interrupts ac

[2021-07-28 17:49] #13246 closed

[2021-07-28 18:08] EricYangIBM commented on #13211
Update: Replacing https://github.com/ibmruntimes/openj9-openjdk-jdk16/blob/openj9/test/jdk/java/foreign/TestHandshake.java#L76 with
[code]
eventually results in the test passing (locally on x86-64 linux). I will open a PR to exclude this test and an issue to add interrupts to closeScope0.

[2021-07-28 18:32] EricYangIBM opened #13256 "Jep393 closeScope0 native does not interrupt accessor threads"
RI behaviour expects that a thread that is accessing a memory segment that another thread is closing is interrupted with a ScopedMemoryAccess.Scope.ScopedAccessError. The TestHandshake test depends on this behaviour (see #13211).

[2021-07-28 19:45] pshipton commented on #13236
Tracing shows
[code]
which doesn't correspond to the module-info
[code]

[2021-07-28 20:46] LongyuZhang commented on #5049
This file also failed for JDK8 Windows jdk_rmi test on multiple machines:
 http://trss1.fyre.ibm.com/deepHistory?testId=60fc575555ecc3ddada3ae85
[code]

[2021-07-28 20:49] EricYangIBM commented on #13234
Where did this fail? The test passes for me locally

[2021-07-28 21:10] LongyuZhang opened #13259 "jtreg jdk_rmi java/rmi/registry/readTest/readTest.sh failure with ConnectException"
Failure link
------------

Internal_Jenkins/job/Test_openjdk8_j9_extended.openjdk_x86-64_windows/15/testReport/java_rmi_registry_readTest_readTest/sh/readTest/
- test category: extended.openjdk
- test target name: jdk_rmi
- OS/architecture: windows
- JDK version: 8

Failure output (captured from console output)
---------------------------------------------
[code]

Optional info
-------------
- pas

[2021-07-28 21:16] tajila commented on #13234
JDK17 (staging repo) on x86-64

[2021-07-28 21:21] LongyuZhang commented on #13259
Similar failure for jdk_rmi sun/rmi/transport/tcp/DeadCachedConnection.java
[code]

[2021-07-29 00:40] Wood-Xia commented on #13010
[Is the process with PID 9 running OpenJ9?] Yes.
[Does it disable attach API?]  No.
[Does the problem still occur if you use the latest build (jdk8u292)?] Will try later.

[2021-07-29 09:30] zcz3313 commented on #13010
I am on the same team with @Wood-Xia . We are using openj9 in docker.
We have retry the test and see the log generated as below.
[openj9-diagnostic.zip](https://github.com/eclipse-openj9/openj9/files/6899433/openj9-diagnostic.zip)

`jps/jstack` still hang.

Also we found some strange things, there are multiple files named '9_xx' under directory `.com_ibm_tools_attach`.
![image](https://user-images

[2021-07-29 13:57] pshipton commented on #13010
It looks like some kind of permission problem related to docker. @JasonFengJ9 can you pls take a look.

[2021-07-29 14:15] BradleyWood commented on #12759
I am working on this

[2021-07-29 18:00] jonoommen opened #13260 "Segmentation Fault In `GCCheck` Reporting in `ReportObjectHeader` Method When Object to Report is a Hole"
Segmentation fault occurred while reporting the previous objects of an object that failed `-Xcheck:gc` with miscellaneous sub-option `indexabledataaddress`.

Run Command:
`linux-ppc64le-normal-server-slowdebug/jdk/bin/java -Xmx4g -Xms4g -Xgcpolicy:balanced -Xgcthreads2 -Xcheck:gc:all:all:indexabledataaddress -jar jet-gc-benchmark-1.0-STREAMING-jar-with-dependencies.jar`

 Report from option `-Xche

[2021-07-29 18:35] tajila commented on #12760
Latests run shows tests are passing

[2021-07-29 19:21] EricYangIBM commented on #13234
I have reproduced the failure two or three times and never again. I believe the issue is that there are some close actions not added to the scope's resourceList. Maybe the issue is with [VarHandle.compareAndExchangeRelease](https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/openj9-staging/src/jdk.incubator.foreign/share/classes/jdk/internal/foreign/SharedScope.java#L138) or [VarHandle.weakCo

[2021-07-29 19:23] keithc-ca opened #13261 "Cannot build jdk with recent openj9 bootjdk"
Using a recent bootjdk (e.g. jdk11-openj9-0.27.0) leads to failure building the current jdk11:
[code]
This appears to be caused by the copy of `AuxFieldInfo29.dat` found in the bootjdk instead of the source tree which says
[code]
instead of
[code]

[2021-07-29 19:38] EricYangIBM commented on #13234
Changes:
[code]
Failing output:
[code]
This looks like for some of the threads neither the close action nor manual close is run. So either the close action wasn't added but didn't throw an exception or it was added but closing the scope didn't invoke the cleanup action. The cleanup walks the linked list of cleanupactions and sets them to `ResourceCleanup.CLOSED_LIST`. Maybe the linked list wasn't

[2021-07-30 08:47] #12243 closed

[2021-07-30 12:28] keithc-ca commented on #13261
Fixed via PRs linked above.

[2021-07-30 12:28] #13261 closed

[2021-07-30 12:38] rmnattas commented on #12782
@jonoommen mentioned that this issue should be fixed by #12985. Should be good to close this issue.

[2021-07-30 13:29] #12782 closed

[2021-07-30 14:13] bmarwell opened #13266 "-Xfuture/-Xverify:all only fails on OpenJ9 with Oracle-JDBC"
Hi everyone.

I started Liberty Profile with `-Xverify:all`, because I wanted to check for future security issues (like expiring certificates which are okay for now, but will not be tolerated in future versions).

But when Using IBM J9 or Eclipse OpenJ9, I get this error:
[code]

I attached a simple test project. It will only fail on any OpenJ9 / IBM J9 vm, but not on any hotspot VM (OpenJDK or Am

[2021-07-30 14:19] dmitripivkine commented on #13260
It is crashed an attempt to treat unattached to Memory Pool Linked Free Header (aka Hole) at `0x7C105FFE0` as an object (and get `NULL` as a class pointer indeed):
[code]
So there is no unexpected artifacts in the heap and this is internal problem of GC Check (fixed permanently or temporary in https://github.com/eclipse-openj9/openj9/pull/12910 already)

However the heap pattern above is quite com

[2021-07-30 15:05] dmitripivkine commented on #13260
As I suspected Hole should be detected at the very beginning of `GC_CheckEngine::checkObjectHeap()` and check for object should be completed:
[code]
This code rely on `(FALSE == objectDesc->isObject)` condition, it is supposed to be set in `iterateRegionObjects()`:
[code]
This code rely on return of `extensions->objectModel.isDeadObject(object)` expected to check low bit in class slot to recognize

[2021-07-30 16:42] dmitry-ten opened #13267 "Remove std::string usage from JITServer code"
The usage of standard library string implementation in JITServer code is inconsistent with the rest of the codebase.

The main issue with using `std::string` is that it uses the default memory allocator, instead of using one of JIT's custom allocators. This makes it harder to track and control memory usage.

The standard strings are mainly used by JITServer to store `char *` strings, `J9UTF8 *` st

[2021-07-30 16:49] dmitry-ten commented on #13267
@mpirvu, @dsouzai fyi.

[2021-07-31 10:42] #4382 closed

[2021-08-03 01:58] Wood-Xia commented on #13010
@JasonFengJ9 Any update?

[2021-08-03 07:57] #12721 closed

[2021-08-03 16:14] a0304 opened #13269 "OpenJ9 JVM crash when loading native library in Linux"
Hi,

We have been seeing a JVM crash when loading native code using System.loadLibrary in Linux .
This crash is only visible on OpenJDK11 OpenJ9 JVMs. But the load works successfully as expected in OpenJDK 11 Hotspot JVMs.

****The JVMs where we can reproduce the crash are,****

_openjdk version "11.0.9" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.9+11)
Eclipse OpenJ9 VM AdoptO

[2021-08-04 00:53] JasonFengJ9 commented on #13010
Just back from vacation..

A quick experiment at my local `Linux x64` docker image (`MacOS` host) appears work as expected.
![ss-1](https://user-images.githubusercontent.com/17935151/128104043-49d76d57-fe76-48b2-b786-d9ac3d8ba2d9.png)
![ss-2](https://user-images.githubusercontent.com/17935151/128104058-daaff88e-15bf-4d62-bfd4-7267f19d8fb4.png)

The target process runs in one container, the attache

[2021-08-04 11:49] JasonFengJ9 commented on #13269
@a0304 Could you provide the diagnosis file? In addition, a standalone testcase will be helpful if it is available.

[2021-08-04 11:55] JasonFengJ9 commented on #13266
fyi @ChengJin01

[2021-08-04 12:49] JasonFengJ9 commented on #13236
Yeah, this is strange, and doesn't match the OpenJDK module `jdk.attach` `module-info`.
I misinterpreted the RI `-version` output of the issue description.
Will have another look.

[2021-08-04 14:17] #12691 closed

[2021-08-04 14:18] pshipton commented on #12727
Builds/tests have been running for some time.

[2021-08-04 14:18] #12727 closed

[2021-08-04 14:26] #11758 closed

[2021-08-04 14:43] pshipton commented on #11642
The jdk17 extended.system tests run on the weekend. They've been disabled lately due to the IBM Semeru / OpenJ9 0.27 release, but HCRLateAttachWorkload_previewEnabled was passing when they were previously running.

[2021-08-04 14:43] #11642 closed

[2021-08-04 16:52] pshipton opened #13271 "jdk17 acceptance Windows failing to build InvalidPathException: Illegal char <:>"
https://openj9-jenkins.osuosl.org/job/Build_JDK17_x86-64_windows_OpenJDK17/9/
[code]

https://github.com/eclipse-openj9/openj9/compare/99bdc85...6af7952
https://github.com/ibmruntimes/openj9-openjdk-jdk17/compare/382718a...3fbddb71

[2021-08-04 17:02] pshipton commented on #13271
Not sure it's the cause but noticed "8271155: Wrong path separator in env variable" https://github.com/ibmruntimes/openj9-openjdk-jdk17/commit/5169e843f34a4e9deec24faf5aa2fb87055b93d0

[2021-08-04 17:10] pshipton commented on #12483
If this hasn't re-occurred since April I think it should be closed.

[2021-08-04 17:24] fjeremic commented on #9167
Do we have a link to a failing job we can use here?

[2021-08-04 17:52] pshipton commented on #13271
Did a build of the openj9 branch, instead of the staging branch, and got the same failure, so it's not related to the latest changes from OpenJDK.
https://openj9-jenkins.osuosl.org/job/Build_JDK17_x86-64_windows_Personal/1

[2021-08-04 17:54] pshipton commented on #13271
I suspect https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/20, building without this change.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-Personal/33/

[2021-08-04 17:57] pshipton commented on #13271
The jdk16 builds are broken as well. @keithc-ca I think it's your change.
https://github.com/eclipse-openj9/openj9/compare/6af7952ba...4fedcb0
https://github.com/ibmruntimes/openj9-openjdk-jdk16/compare/9d20ca5...93c81c0

[2021-08-04 18:13] pshipton commented on #13271
jdk11 didn't break due to the change.

[2021-08-04 18:15] pshipton commented on #9167
Maybe @tajila has something recent. Otherwise it will have to be run in a personal build or manually as we excluded the test months ago.

[2021-08-04 18:22] keithc-ca commented on #13271
`PathList` in jdk11 uses `$(PATH_SEP)` instead of `:` which is used in newer versions.

[2021-08-04 18:36] pshipton commented on #12760
Can this be closed then?

[2021-08-04 18:37] keithc-ca commented on #13271
I don't think that's related; as I read it, it's a fix for platforms that don't use `;` as the path separator.

[2021-08-04 18:38] pshipton commented on #12238
I'm closing this. https://github.com/eclipse-openj9/openj9/issues/12284 added jython testing into the builds, and this test is passing.

[2021-08-04 18:38] #12238 closed

[2021-08-04 18:43] tajila commented on #12760
Yes

[2021-08-04 18:43] #12760 closed

[2021-08-04 18:44] pshipton commented on #9990
@keithc-ca is anything required for jdk17?

[2021-08-04 19:25] tajila commented on #9167
Here is a link, https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17277/console

The grinders don't live very long.

[2021-08-04 19:31] keithc-ca commented on #13271
This might be considered a set of upstream issues - there's conflicting advice:
* http://openjdk.java.net/jeps/261 says '\<pathsep\>' separates elements of a path given in `--patch-module` options
* https://docs.oracle.com/javase/9/tools/javac.htm says `:` should be used (but jdk16+ don't accept that on Windows)
* https://docs.oracle.com/en/java/javase/16/docs/specs/man/java.html says to use `;` (

[2021-08-04 19:50] hangshao0 commented on #13182
As mentioned in the meeting today, I discovered some layout differences between OpenJ9 and RI on Atomic VT and  volatile VT fields. More details can be found here: https://github.com/eclipse-openj9/openj9/issues/13130#issuecomment-880929666. Result of some tests here could be affected by such difference.

[2021-08-04 20:13] keithc-ca commented on #9990
No, `ASM8` is still the latest version in jdk17.

[2021-08-04 20:41] EmanElsaban opened #13275 "Segmentation Fault when 'shareROMClasses' option is enabled on ppc64le"
Similar to issue: #13210. The server crashes when enabling the ``shareROMClasses`` option on build 2021-07-28 JRE image, java 8 on power machine (ppc64le).

[code]

[2021-08-04 20:43] EmanElsaban commented on #13275
stack:
[code]

[2021-08-04 20:58] EmanElsaban commented on #13275
Will wait until next nightly image since this nightly image contains the source from
[code]

[2021-08-04 20:58] #13275 closed

[2021-08-04 21:20] ChengJin01 commented on #13266
With a simplified test case (to avoid running from maven) on our side, the same exception can be reproduced when `-Xfuture` or `-Xverify:all` is specified on the command line.
[code]
This exception was triggered in verifying `oracle/jdbc/driver/PhysicalConnection.getSecretStoreCredentials()` in which case it attempted to load `oracle.security.pki.OracleWallet` (from `oraclepki.jar`) in `j9rtv_veri

[2021-08-04 21:33] ChengJin01 commented on #13266
Hi @bmarwell,  please download `oraclepki.jar` to verify the test based on the investigation above.

In addition, I don't think `oracle/security/pki/OracleWallet` should be skipped in verifying & loading classes with `-Xfuture/-Xverify:all` specified as this is what the `-Xfuture` or `-Xverify:all` option is supposed to do.

[2021-08-04 21:57] LongyuZhang commented on #13259
Similar failure for jdk 11 aix with jdk_rmi java/rmi/server/RMISocketFactory/useSocketFactory/unicast/UseCustomSocketFactory.java
[code]

[2021-08-04 22:48] a0304 commented on #13269
Thanks for looking into this issue @JasonFengJ9.
I have shared a Box folder containing the diagnostics files and the .so files that caused the crash , to your email mentioned in your Git profile. Please let me know if you haven't received it and I can share it here.

The .so files were compiled in the Intel® Fortran Compiler 19.0.5. The compilers were recently updated from Intel Fortran Compiler 1

[2021-08-05 00:50] keithc-ca commented on #13271
Fixed via:
* https://github.com/ibmruntimes/openj9-openjdk-jdk16/pull/79
* https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/21
* https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/353

[2021-08-05 00:50] #13271 closed

[2021-08-05 01:17] knn-k commented on #12096
#13279 is implementing this.

[2021-08-05 01:20] knn-k commented on #6438
#13263 enables primitive arraycopy on AArch64.

[2021-08-05 01:30] 0xdaryl commented on #12064
Complete.

[2021-08-05 01:30] #12064 closed

[2021-08-05 01:38] 0xdaryl commented on #9334
Complete.

[2021-08-05 01:38] #9334 closed

[2021-08-05 01:38] 0xdaryl commented on #8034
Complete.

[2021-08-05 01:38] #8034 closed

[2021-08-05 01:39] 0xdaryl commented on #6332
Complete.

[2021-08-05 01:39] #6332 closed

[2021-08-05 02:05] JasonFengJ9 commented on #13269
@a0304 I can confirm that the box folder is well received.

OpenJ9 build environments is documented at [1]. For JDK11 Linux x86 64 bit, it is `gcc 7.5`.

Did you have a chance to run the application with `JDK8` or `JDK16`?

[1] https://www.eclipse.org/openj9/docs/openj9_support/

[2021-08-05 03:03] Akira1Saitoh commented on #12261
I confirmed that methods in `AtomicInteger` and `AtomicIntegerArray` are inlined.
[code]
[code]
[code]
----------------

However, `getAndSet`s of `AtomicBoolean` and `AtomicReference` are not inlined. They seem to be not inlined on x86 vm either.
[code]
[code]

[2021-08-05 03:36] zcz3313 commented on #13010
We tried again.
`jps` hang as below, it couldn't show `jps` itself. Sometimes it couln't show anything even the main process.
![微信截图_20210805111538](https://user-images.githubusercontent.com/8746495/128285756-40907767-9f74-4ef0-8aab-5b3ac62e8f76.png)
the version of openj9 in image is 8u252, still not working.

And this is the `PPID` image as below.
![微信截图_20210805111631](https://user-images.github

[2021-08-05 08:21] bmarwell commented on #13266
Thanks @ChengJin01. It is interesting to see that OpenJ9 makes optional dependencies a non-optional dependency. I will ask Oracle support if they consider it an optional dependency and will get back to you.
I have opened a case at IBM for investigation, but thanks for sharing these information here. This might help others with the same issue, thank you!

[2021-08-05 09:49] bmarwell commented on #13266
For documentation: `PhysicalConnection.class` has an import statement for `oracle.security.pki.OracleWallet`. This makes it really odd that Hotspot JVMs do NOT throw an exception. Rob raised this concern in the IBM case as well. I will investigate further. Will probably close this issue soon. Thanks for your in-depth input!

[2021-08-05 12:40] mpirvu commented on #13275
Does the build that crashed include PR #13216 ?

[2021-08-05 13:15] Thihup opened #13280 "Add invalid size to NegativeArraySizeException"
Since Java 11, in Hotspot, they have added the invalid size to the message of NegativeArraySizeException when creating arrays.

A simple example can be tested in JShell
[code]
[code]

https://bugs.openjdk.java.net/browse/JDK-8203881

[2021-08-05 15:06] a0304 commented on #13269
Yes, we tried this on JDK 8 (version details below) and we see similar segmentation faults. We have not tried JDK 16 yet and provide the results.

_openjdk version "1.8.0_265"
OpenJDK Runtime Environment (build 1.8.0_265-b01)
Eclipse OpenJ9 VM (build openj9-0.21.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20200728_727 (JIT enabled, AOT enabled)
OpenJ9   - 34cf4c075
OMR      - 113e54219
J

[2021-08-05 15:06] EmanElsaban commented on #13275
No, I closed it for this reason until I try the nightly image that contains this pr.

[2021-08-05 17:18] nbhuiyan commented on #13179
Should be fixed via #13281

[2021-08-05 18:31] tajila commented on #13202
@hangshao0 Can you please take a look at this

[2021-08-05 19:09] hangshao0 commented on #13202
I see it is excluded on JDK17. I guess it only fails on JDK 17 ?

[2021-08-05 19:10] tajila commented on #13094
@JasonFengJ9 Can you please take a look at the `java/lang/reflect/DefaultStaticTest/DefaultStaticInvokeTest.java` failure

[2021-08-05 19:12] tajila commented on #13202
Yes, you'll need to build with the jdk17 staging branch. For the time being we just need to identify if this is a JVM issue, if not we will mark it as low priority and defer it.

[2021-08-05 19:46] JasonFengJ9 commented on #13094
Sure, will look into it.

[2021-08-05 19:53] hangshao0 commented on #13202
Manually tested, `RandomTestChiSquared` passed with the latest jdk17 openj9-staging branch:

[code]

[2021-08-06 01:29] knn-k commented on #11805
This failure has not been observed recently.  Closing.

[2021-08-06 01:29] #11805 closed

[2021-08-06 01:30] knn-k commented on #11202
This failure has not been observed recently. Closing.

[2021-08-06 01:30] #11202 closed

[2021-08-06 01:31] knn-k commented on #10465
This failure has not been observed recently. Closing.

[2021-08-06 01:31] #10465 closed

[2021-08-06 01:32] knn-k commented on #10126
This failure has not been observed recently. Closing.

[2021-08-06 01:32] #10126 closed

[2021-08-06 01:34] knn-k commented on #8960
Work done by #6332.  Closing.

[2021-08-06 01:34] #8960 closed

[2021-08-06 10:27] Wood-Xia commented on #13010
@JasonFengJ9

I'm not familiar with the openj9 attach API  implementation, just due to courious, I have a quick check some code under "jcl/src/java.base/share/classes/openj9/internal/tools/attach/target".

Along with the attach api logs, may I ask one questions?
Why create new target directory togethe with some file for same VM?
Below code snippet from AttachHandler.java, in the method "createFile

[2021-08-06 12:22] JasonFengJ9 commented on #13010
https://github.com/eclipse-openj9/openj9/blob/d3ef784535a7c9cde53c6be0918432ed5f8b9ed5/jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java#L209
`preserveId` is set to `false` here to address the stale IPC directories and files.

There is an Attach API doc [1] which provides reasonable description about the implementation.

It appears the docker launching in your

[2021-08-06 14:49] dmitripivkine commented on #12481
I don't see how it might be GC related. If it is not pure test issue VM (or JIT) should take a look to it. I assuming this is not new test existed (or adopted) for Java 17 only

[2021-08-06 14:51] dmitripivkine commented on #4930
There is no activity or resources to work on this, put it to backlog

[2021-08-06 15:54] jdekonin commented on #12699
@AdamBrousseau create a PR #13032 to get a pipeline functional.  Question for @ChengJin01 or anyone that can answer...does riscv require freemarker.jar (UMA) or is it dependency for just cmake?

[2021-08-06 16:05] ChengJin01 commented on #12699
Hi @jdekonin,  the cross-compilation via UMA is already supported by the existing changes. But it looks like https://github.com/eclipse-openj9/openj9/pull/13032 is used to configure/compile with `cmake` enabled by default. I suspect `cmake` for RISC-V is not ready for cross-compliation. FYI: @dnakamura

[2021-08-06 18:11] dsouzai commented on #12526
Also seen on [osx1014-x86-1](https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Personal_testList_1/68/).

[2021-08-06 20:40] a0304 commented on #13269
I tested the application with the latest JDK16 and i can still reproduce the crash. The crash dump files and the outputs from jpackcore have been shared in the same BOX folder. You should have received an email with the file url. The jdk 16 version used was

_openjdk version "16.0.2" 2021-07-20
IBM Semeru Runtime Open Edition 16.0.2.0 (build 16.0.2+7)
Eclipse OpenJ9 VM 16.0.2.0 (build openj9-0.27.

[2021-08-06 20:51] JasonFengJ9 commented on #13017
Same assertion error occurred hence re-opening.

From an internal build `Test_openjdk16_j9_sanity.openjdk_aarch64_linux/50/` (`cent7-aarch64-4`)
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_lang_1&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=

[2021-08-06 21:00] JasonFengJ9 commented on #13211
The `AssertionError` is still observed in latest internal run `Test_openjdk16_j9_sanity.openjdk_s390x_linux/72/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=jdk_foreign_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_TEST_DIRS=&amp;TK

[2021-08-06 21:07] fjeremic opened #13289 "Improve performance of StackWalker.walk"
## Background Context

Through a customer engagement we've identified a bottleneck in OpenJ9's stack walking implementation. Using the [apache/logging-log4j2](https://github.com/apache/logging-log4j2) framework we've built the following simple JMH benchmark which is representative bottleneck in the customer workload:

[code]

At a high level the [`LogManager.getLogger`](https://github.com/apache/l

[2021-08-06 21:08] gita-omr opened #13290 "Support DontInline annotation in JIT"

[2021-08-06 21:08] fjeremic commented on #13289
Tagging @tajila @pshipton @DanHeidinga @gacholio @joransiu @amicic @vijaysun-omr for discussion.

[2021-08-06 21:11] gita-omr opened #13291 "Support ForceInline annotation for all methods in JIT"
Currently, ForceInline annotation only has effect for Vector API methods.

[2021-08-06 21:12] gita-omr opened #13292 "Support Stable annotation with AOT in JIT"

[2021-08-06 21:25] JasonFengJ9 commented on #12483
The failure (https://github.com/eclipse-openj9/openj9/issues/12483#issuecomment-827152563) is seen at https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_OpenJDK17/6/consoleFull

[code]
[Re-run in grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTI

[2021-08-06 21:33] JasonFengJ9 opened #13293 "JDK16 jsr292Test_JitCount0_0_FAILED - Illegal instruction vmState=0x00000000"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.functional_s390x_linux_Nightly/65/tapResults/ (`ub20-390-1`)

[code]
[Rerun in Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS

[2021-08-06 23:23] amicic commented on #13289
We have an example of thread local caching that we could follow: objectMonitorLookupCache.

I checked what kind of mapping it uses, and it's not LRU, but hash based (macro J9_OBJECT_MONITOR_LOOKUP_SLOT). There is no collision resolutions, the old entry just gets evicted (hence the whole cache is of fixed size).

This is possibly good enough, even in this case. (Or even better than LRU - if the cac

[2021-08-07 02:26] JasonFengJ9 commented on #13269
`gcc 7.5` is the JVM compiler level. I am not aware the limitation of native libraries to be loaded by JVM which are built on newer levels than JVM.

Yes, I did receive the dump files.

[2021-08-07 19:33] DanHeidinga commented on #13289
....

Option 4 makes a lot of sense to me as the string intern table is already a global cache.  Speeding up the lookup in the cache will provide an improvement to a lot of code that relies on interned strings.  In particular, we recognized in #7776 that

This accounts for the `- 14.32% comparatorToEqualFn / stringComparatorFn` cost related to lookup.

The other consideration for caching is to loo

[2021-08-08 17:11] danjhop3 opened #13295 "openj9 does not have flight recorder"
some jars  use flight recorder but it missing from java 16 openj9

[2021-08-08 17:13] danjhop3 opened #13296 "command prompt window opens and closes jar window"
when you open openj9 it opens a command window that if you close it it closes any other window as well by closing the program

[2021-08-08 19:49] a7ehuo commented on #13243
I took a look at our current code at a high level and it looks like we have some of the code in place in OMR:  `TR_LoopVersioner` keeps a linked list of [VirtualGuardInfo](https://github.com/eclipse/omr/blob/26b4ee8476bcbab916c7cf8a9251ea5ae80b260f/compiler/optimizer/LoopVersioner.hpp#L99-L114): `TR_LoopVersioner::_virtualGuardInfo`. `TR_LoopVersioner::versionNaturalLoop() `[adds loop transfer can

[2021-08-09 11:50] JasonFengJ9 opened #13297 "[Linux S390] 80 JIT_Sanity.abbs.5mins.Mode140.1 - Illegal instruction vmState=0x00000000"
Failure link
------------

From an internal build `job_output.php?id=12524843` (`fyrlx107`);
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

100x grinder at `build_info.php?build_id=11079`.

[2021-08-09 11:55] JasonFengJ9 opened #13298 "Required condition was not found: [Output match: Runtime Environment]"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.functional_x86-64_linux_testList_2/79/`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2021-08-09 12:45] llxia commented on #13298
PR for this issue: https://github.com/eclipse-openj9/openj9/pull/13277

[2021-08-09 13:19] Wood-Xia commented on #13010
@JasonFengJ9

I have found the way to  reporduced this issue :)
If you restart the docker container,  which the java application does not catch the some signals like `SIGTERM` to shutdown gracefully,  then it's possible that leave some stale target file there.

For instance, if your docker entrypoint is one shell script without `exec`, the java application could not receive the `SIGTERM` when do `

[2021-08-09 14:05] JasonFengJ9 commented on #13269
With the JDK16 core files collected via `jpackcore` (https://github.com/eclipse-openj9/openj9/issues/13269#issuecomment-894507381), the native stacktrace got is:
[code]
@a0304 is this what you see in local system?
Note: this is different from JDK11 stacktrace as per https://github.com/eclipse-openj9/openj9/issues/13269#issue-959278720

From JDK11 snaptrace
[code]
It appears the segmentation error

[2021-08-09 14:56] tajila commented on #13202
Looks like fails intermittently, https://github.com/eclipse-openj9/openj9/issues/12483

[2021-08-09 14:56] tajila commented on #13202
Closing this as a dup of https://github.com/eclipse-openj9/openj9/issues/12483

[2021-08-09 14:57] tajila commented on #13201
@hangshao0 Can you please take a look at this. Just need to determine if its JVM issue or something else.

[2021-08-09 15:19] pshipton commented on #12483
@tajila this is one of the issues blocking jdk17 acceptance, so it needs to be resolved or excluded for the 0.28 release.

[2021-08-09 15:51] pshipton commented on #13234
@tajila this is one of the failures blocking jdk17 acceptance, it needs to be resolved or excluded.

[2021-08-09 15:56] pshipton commented on #13118
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_OpenJDK17/5/
java/util/jar/JarFile/mrjar/MultiReleaseJarProperties.java
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops
[code]

[2021-08-09 16:02] tajila commented on #13234
@EricYangIBM can you please add excludes for this

[2021-08-09 16:03] tajila commented on #12483
@pshipton This was excluded in https://github.com/adoptium/aqa-tests/pull/2741

[2021-08-09 16:15] pshipton commented on #12483
Maybe we need a separate issue. Jason added the similar java/util/Random/RandomTestBsi1999.java failure, which has the same test name jdk.random.L64X1024MixRandom, but as it's a different test it is not excluded.

[2021-08-09 16:21] fjeremic commented on #13289
FWIW I did a quick and dirty hack to add a cache in `Java_java_lang_StackWalker_getImpl`. It seems we can get 2x performance here by caching:
https://github.com/fjeremic/openj9/commit/c32d8c7aa2a258f19899c4d7e803390035555326

[code]

[2021-08-09 16:24] fjeremic commented on #13289
We also compared dumped strings from the intern table on Java 8 vs. Java 11. Some high level stats:

- 2012 strings in Java 8
- 6169 strings in Java 11
- 506 strings in Java 8 that are not in Java 11
- 4663 strings in Java 11 that are not in Java 8
- 1506 strings that are in both lists

There are quite a bit of what looks like package/module names in there for Java 11. Looks like method names of s

[2021-08-09 16:26] a0304 commented on #13269
@JasonFengJ9, i have downloaded the tars from [1] and [2]. But i am unable to use them. i have untar'd the files and tried calling  debuginfo-install on them using,
sudo debuginfo-install /u/users/xxx/openjdk_11/11.0.12_debug/jdk-11.0.12+7

i see the following error,

_Loaded plugins: fastestmirror, langpacks
Loading mirror speeds from cached hostfile
Could not find a package for: /u/users/xxx/ope

[2021-08-09 16:26] EricYangIBM commented on #13234
Done

[2021-08-09 16:36] pshipton commented on #13289
Perhaps the strings created for stack walking shouldn't be interned.

[2021-08-09 16:39] fjeremic commented on #13289
That proves to be even more expensive than the string table lookup:

[code]

[2021-08-09 16:41] pshipton commented on #13202
Is it failing intermittently, or does it only fail on certain platforms?

[2021-08-09 16:43] pshipton commented on #13202
This issue can't be closed since there is a test excluded against it. The exclude needs to be updated first.

[2021-08-09 16:48] pshipton commented on #13289
Why is the Error so big on jdk11?

[2021-08-09 16:49] JasonFengJ9 commented on #13269
@a0304 Usually I just overlay the JDK with debug files like `cp -R jdk-11.0.12+7-debug-image/* jdk-11.0.12+7/`.

[2021-08-09 16:58] pshipton commented on #13297
Note there is an internal issue for this, 145490. Possibly a machine problem.

[2021-08-09 17:28] fjeremic commented on #13289
Not sure how that is calculated. It looks to be from the confidence interval. The 99.9% confidence interval may be misleading. Here is the full output:

[code]

The standard deviation is only 2670 and the results are quite stable and reproducible.

[2021-08-09 17:30] pshipton commented on #13296
This is expected behavior.

What platform are you running on?
How exactly do you "open openj9"?
What version of openj9 did you try?
Is the behavior you see different from Hotspot?

[2021-08-09 17:32] pshipton commented on #13295
FYI https://github.com/eclipse-openj9/openj9/issues/1876

[2021-08-09 17:32] #13295 closed

[2021-08-09 17:49] pshipton commented on #13211
Seems the test was excluded after the build which failed.

[2021-08-09 18:07] tajila commented on #13202
@hangshao0 which platforms did you try this on?

[2021-08-09 18:11] pshipton opened #13302 "win2012-x86-5 hung"
Disabled machine.

I've seen this twice.
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_OpenJDK8_testList_0/7/console

First issue I noticed is https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-32_windows_Nightly/67/console

@AdamBrousseau

[2021-08-09 18:16] hangshao0 commented on #13202
`Eclipse OpenJ9 VM (build master-0a3a96d09, JRE 17 Linux amd64-64-Bit Compressed References`

[2021-08-09 18:26] pshipton commented on #13202
The failure that still occurs, in different test java/util/Random/RandomTestBsi1999.java https://github.com/eclipse-openj9/openj9/issues/12483, is on zlinux and doesn't seem that intermittent.

[2021-08-09 18:56] pshipton commented on #13179
There were still failures on the weekend run, which contain https://github.com/eclipse-openj9/openj9/pull/13281
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_special.system_ppc64_aix_Personal/12
[code]

[2021-08-09 19:14] fjeremic commented on #13289
@DanHeidinga I'm trying to understand your suggestion here as a potential option.

If I understand correctly the current string intern table implemented in StringTable.cpp is effectively a `map<int,j9object_t>` which maps computed integer hashcode values to string objects. The `j9gc_createJavaLangString` computes the hashcode of the input UTF8 data and looks it up in the string stable and returns

[2021-08-09 20:02] DanHeidinga commented on #13289
That's pretty close.  This suggestion was that rather than building a global cache (ex. StringUTF8Table.cpp) is that we add a local cache in the StackWalker iterator that  implements `map<J9UTF8*,j9object_t>` so each UTF8 (method name, signature) only has allocate 1 String object.

We probably don't want the footprint increase that a global cache would cause but we a short lived cache would mean w

[2021-08-09 20:04] DanHeidinga commented on #13289
My other suggestion was the `Option 4` makes a lot of sense to pursue and would provide global benefits.  Primarily by looking at the `stringComparatorFn` which is more complex than it needs to be in the common case to support falling back to an AVL tree in the uncommon case.

[2021-08-09 20:05] hangshao0 commented on #13201
There is an infinite loop in the test. It expects a weak reference to be cleared by `System.gc()`. It is not cleared and we never get out of the loop, so the test fails on timeout.

https://github.com/ibmruntimes/openj9-openjdk-jdk17/blob/c9d6bc450c26f4ea6132e1ebed6b60d04a47f0aa/test/jdk/java/lang/annotation/LoaderLeakTest.java#L90-L93

I guess the GC team needs to take a look.

[2021-08-09 20:09] hangshao0 commented on #13202
I can try `RandomTestBsi1999.java` on zlinux.

[2021-08-09 20:11] a0304 commented on #13269
@JasonFengJ9  i have shared with you the Box folder containing the crash dump logs, gdb traces, jpackcore zip output and the sys out trace from the time of the crash. This was generated using the OpenJDK11.0.12_debugimage that you provided.

Can you please check the GDB_Trace_Full.txt in the shared .zip archive
I tried  calling GDB on the stack trace using the following commands

_- gdb
- set soli

[2021-08-09 20:28] AdamBrousseau commented on #13302
Took a few reboots and shutting down but it is connected again.

[2021-08-09 20:28] #13302 closed

[2021-08-09 20:47] tajila commented on #13094
I took a look at the `java/nio/Buffer/BulkPutBuffer.java` failure. It seems to only fail with jit enabled. The NPE is being thrown via the runtime helpers. I will move this into a new issue

[code]

[2021-08-09 20:49] tajila opened #13305 "NPE in BulkPutBuffer tests"
NPE thrown intermittently when running the test.

Here is the relevant code:

[code]

The exception is being triggered from a JIT frame

[code]

[2021-08-09 20:49] tajila commented on #13305
@nbhuiyan Can you please take a look at this. It might be related to the other NPE you were investigating.

[2021-08-09 20:58] tajila commented on #13094
java/lang/invoke/CompileThresholdBootstrapTest.java (Java 17 only) wasnt able to reproduce this

[2021-08-09 21:00] tajila commented on #13201
@dmitripivkine does calling System.gc() provide any guarantees about weak references being cleared?

[2021-08-10 02:36] Wood-Xia commented on #13010
BTW, jstack also have some problem or inconvenience due to this, please also have a look.

[2021-08-10 13:07] pshipton commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/68/
    java/lang/StringBuffer/AppendCharSequence.java.AppendCharSequence
    java/lang/StringBuffer/AppendSB.java.AppendSB
    java/lang/StringBuffer/AppendStringBuilder.java.AppendStringBuilder
    java/lang/StringBuffer/Exceptions.java.Exceptions
    java/lang/StringBuffer/IndexOf.java.IndexOf
    java

[2021-08-10 14:06] llxia commented on #13298
#13277 is merged. Please reopen the issue if this problem still exists.

[2021-08-10 14:06] #13298 closed

[2021-08-10 14:15] tajila commented on #13305
The `EqualsCompareTest` seems to be failing in the same manner. Only seen the failure on JDK17 and its a bit more difficult to reproduce.

[code]

[2021-08-10 14:54] keithc-ca commented on #13236
I suggest the proper way to use reflection is via public classes, not the implementation class. This is a common element of dealing with modules. Just one line should change:
[code]

[2021-08-10 15:11] gacholio commented on #13289
I don't like the idea of using methods to hold the hashes. If anything, we could extend the J9UTF8 structure to hold the hash.

[2021-08-10 16:32] gacholio commented on #13289
OK so a cache would potentially be useful between stack walks. The cache could be considered a weak GC root, but a simpler and likely just as effective solution would be to discard the cache on every GC.

It might be interesting to try a thread-local cache without interning.

[2021-08-10 16:53] fjeremic commented on #13289
I just tried doing a massive hack to add a local cache mapping J9UTF8 pointers to string objects as per @DanHeidinga's suggestions to see how performance looks. It does not appear to be helping as much as it theoretically should. Here is the hacked up implementation:
https://github.com/fjeremic/openj9/commit/460b4851bc8e08868398e50d3fd9e5136f17794f

And the results:
[code]

It seems that we only g

[2021-08-10 17:03] DanHeidinga commented on #13289
Agreed if we're caching using UTF8s.  Not so much if we use J9ROMMethods as it will lead to stale items in the cache (though less of a concern if we empty on GC).

A cache will need to also be dumped on class unload to handle the case where a class is unloaded, and a new class is loaded into the same memory.

[2021-08-10 17:04] gacholio commented on #13289
I am not surprised that the StackWalker-local cache had little effect. The thread-local cache will provide all of those benefits and more for repeated walks.

[2021-08-10 17:06] gacholio commented on #13289
I would not use methods as the key - if we use UTFs, the optimization can be isolated to the UTF->String conversion code, hashing on the UTF pointer rather than the character hash.

[2021-08-10 17:07] DanHeidinga commented on #13289
Sounds like we're on the same page

[2021-08-10 17:09] DanHeidinga commented on #13289
Check with @amicic about what concurrent scavenger needs for this.  Likely just some barriers on access, similar to the monitor table.

I know the prototypes are quick 'n' dirty but they should move to using the standard J9 / OMR hashtable implementation rather than the c++ stl map.  Only the JIT uses the stl containers because it statically links the c++ stdlib while the rest of the VM/JCL doesn'

[2021-08-10 17:10] gacholio commented on #13289
For the first cut, perhaps we should limit the optimization to interned Strings. Otherwise, there's no way to ensure that interning works properly (i.e. cache an uninterned String in call 1, then call 2 requests an interned String of the same name, hits the cache and returns the uninterned String).

[2021-08-10 17:11] gacholio commented on #13289
Unless @fjeremic is eager, I will implement the current thread-local cache proposal in the String creation code.

[2021-08-10 17:12] fjeremic commented on #13289
Please go ahead. I'm by no means familiar with this area of the code as seen above by my STL usage 😅

[2021-08-10 17:29] pshipton commented on #13236
The add_module_exports_to_all_unnamed is a red herring. It only occurs when `--illegal-access=permit` is set, yet the `--illegal-access` setting doesn't affect the behavior of the test case.

[2021-08-10 17:38] pshipton commented on #13236
The difference is that OpenJ9VirtualMachine implements toString(), while the Hotspot VirtualMachineImpl/HotSpotVirtualMachine classes do not.

[2021-08-10 17:45] keithc-ca commented on #13236
The fact that OpenJ9VirtualMachine implements toString() is not visible to the sample code. The direct call is using the API defined by VirtualMachine. Limiting the reflection to that class would also allow the reflective call to toString() to work.

[2021-08-10 17:48] pshipton commented on #13236
You don't think the implementation of OpenJ9VirtualMachine.toString() is causing the difference in behavior when running the test case on OpenJ9? i.e. causing the IllegalAccessException?

We could remove the OpenJ9VirtualMachine.toString() method for compatibility, but that could break existing OpenJ9 users. The default implementation in VirtualMachine prints the provider, colon space id, while Op

[2021-08-10 17:48] #13236 closed

[2021-08-10 18:33] hangshao0 commented on #13202
With JIT on, the failure rate is 100% (tried 10 runs, all failed).
With `-Xint`, it passed 100% (tried 2 runs, all passed. It took over 1 hour to finish 1 run with `-Xint`, so I tried 2 runs only)

[2021-08-10 18:52] keithc-ca commented on #13236
The bytecode of the sample would have no reference to `OpenJ9VirtualMachine`; the direct call is to `VirtualMachine.toString()`. It's only the reflective code that requires access to `OpenJ9VirtualMachine`.

[2021-08-10 19:04] amicic commented on #13289
Agreed, complete discard is probably good enough, Assuming we are talking order of 10 of entries. If 100s, probably we should treat it as weak root and keep/update reachable ones.

Either way, as Dan hinted, no plain de-referencing of cache slots. Use J9WEAKROOT_OBJECT_LOAD/j9gc_weakRoot_readObject, instead.

[2021-08-10 19:08] gacholio commented on #13289
I've ignored CS for now, but I will look into using the macro/function.

[2021-08-10 19:11] gacholio commented on #13289
Note a bug in the StackWalker code here:

https://github.com/eclipse-openj9/openj9/blob/2156b546d1c492797c8a64a42eeaadb590f452e7/runtime/jcl/common/java_lang_StackWalker.cpp#L203-L216

It is not interning the String before writing back to the Class.

[2021-08-10 19:29] gacholio commented on #13289
Yeah, that needs to be fixed regardless of what goes on here.

My immediate temptation is to simply not write it back - I doubt anyone is depending on StackWalker to seed Class.getName().

In the long run, it would be more consistent to always use the interned String for any Class name regardless of the API used to get it.

[2021-08-10 19:35] gacholio commented on #13289
For some reason, the native for Class.getName() does not intern the String, relying on the java caller to do so. I may just helperize the name creation, including interning and assignment.

Change:
[code]
to:
[code]
Where the native (via the new helper) interns the name and assigns it to the Class object before returning it.

[2021-08-10 19:38] DanHeidinga commented on #13289
The reason to cache it on the class wasn't for getClassName, but to speed up repeated stackwalks. Deleting the code seems like more work than adding the missing `J9_STR_TENURE | J9_STR_INTERN;`flags.

[2021-08-10 19:39] DanHeidinga commented on #13289
There's an old IBM internal bug that I no longer have access to that described why `getName` handles interning the way it does.  I don't recall the contents so not sure if it's relevant still

[2021-08-10 20:40] LongyuZhang opened #13309 "Jtreg jdk_net MulticastSocket multiple tests failure for JDK16 windows"
Failure link
------------

Internal_Jenkins/job/Test_openjdk16_j9_extended.openjdk_x86-64_windows/16/testReport/

Failed tests:
java/net/MulticastSocket/IPMulticastIF.java
java/net/MulticastSocket/JoinLeave.java
java/net/MulticastSocket/NoSetNetworkInterface.java

- test category: extended.openjdk
- test target name: jdk_net
- OS/architecture: windows
- JDK version: 16
- Failed tests:

Failure out

[2021-08-10 20:49] LongyuZhang commented on #13309
NoSetNetworkInterface and IPMulticastIF failures are also mentioned in https://github.com/eclipse-openj9/openj9/issues/12082 for JDK17

[2021-08-10 21:23] fengxue-IS commented on #11458
Closing this issue as all test failures mentioned in this issue has been resolved or tracked under a separate issue. The build instructions described in the issue detail no longer apply as OJDK MH is enabled by default in Java 16 master branch and openj9-staging branch for Java 17

[2021-08-10 21:23] #11458 closed

[2021-08-11 11:35] danjhop3 commented on #13296
OpenJDK16U-jdk_x64_windows_openj9_16.0.1_9_openj9-0.26.0
it opens a second window a command prompt window
in hotspot it does not

[2021-08-11 11:36] danjhop3 commented on #13296
and misses flight recorder think i opened a problem with that to

[2021-08-11 11:47] JasonFengJ9 commented on #13010
Is it possible for docker script to remove the stale target file/directory before launching java app?

On the other hand, would you like to try a change
https://github.com/eclipse-openj9/openj9/blob/d3ef784535a7c9cde53c6be0918432ed5f8b9ed5/jcl/src/java.base/share/classes/openj9/internal/tools/attach/target/AttachHandler.java#L209
Invoking `TargetDirectory.createMyDirectory` with `preserveId` setti

[2021-08-11 14:14] mpirvu opened #13310 "JITServer documentation clean-up"
The JITServer documentation in the openj9 repo contains some old information which is now obsolete. For instance:
- Since we started using cmake, running `configure` with `--with-freemarker` is no longer needed
- There is a section about building JITServer in dockerfiles. These dockerfiles refer to protobufs library which is no longer needed. Currently there should be nothing JITServer specific in

[2021-08-11 14:15] mpirvu commented on #13310
Attn @dmitry-ten

[2021-08-11 14:15] psoujany commented on #10992
jvm_compiler with ibm implementation has 699 failures.

[2021-08-11 14:30] pshipton commented on #10759
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/65
[code]

[2021-08-11 14:37] Wood-Xia commented on #13010
Yes, that's  also the WA to my team now.
Adding removing the `/tmp/.com_ibm_tools_attach/*` if exiting, no stale target file/directory aftter restarting the docker now.

Sure, that's also my initial proposal for fixing, and maybe it could be my first contribution to OpenJ9 if it's verified and accepted :)
I will try later and let you now the result.

[2021-08-11 14:45] JasonFengJ9 commented on #13094
Reproduced with JDK17 build
[code]

[code]

Yes, JDK16 passes this test.

[2021-08-11 14:51] JasonFengJ9 commented on #13010
Does it fix the issue reported?

Great! please do so as per [1].

[https://github.com/eclipse-openj9/openj9/blob/master/CONTRIBUTING.md]

[2021-08-11 15:17] dmitry-ten commented on #13310
We could just add a mention of JITServer to https://github.com/eclipse-openj9/openj9/blob/master/doc/build-instructions/Build_Instructions_V8.md (and the same for Java 11 and 16)

[2021-08-11 15:22] mpirvu commented on #13310
Yes, I think we can simply link to the generic OpenJ9 build instructions and only mention about `--enable-jitserver`. This will avoid the two places falling out-of-sync

[2021-08-11 15:42] hangshao0 opened #13312 "SCC directory of nonpersistent cache on a shared drive is problematic"
When JVM creates a non-persistent SCC, there are 4 artifacts:
1. A SysV shared memory.
2. A SysV semaphore.
3. A control file for the shared memory.
4. A control file for the semaphore.

The relationship between the SysV object vs its control file is 1 vs 1. The control files (3 and 4) are in the cache directory.
However, if the cache directory is on a shared drive (across multiple machines/LPARs)

[2021-08-11 15:53] hangshao0 commented on #13312
@joransiu is checking with z/OS experts if there is a programmatic way to detect a directory on shared volume.

I don't see `omrfile_stat()` (https://github.com/eclipse/omr/blob/master/port/unix/omrfile.c#L1199) giving us such information on z/OS though.

[2021-08-11 15:58] a0304 commented on #13269
@JasonFengJ9, One workaround that seems to work is to do a LD_PRELOAD of the dependencies of our .so before starting the OpenJ9 JVM.  In this particular case the dependencies were the Intel libs libsvml.so and libintlc.so.5. I made sure that these dependency lib paths are available in the LD_LIBRARY_PATH of the JVM and the .so has these dependencies listed in its make file before build.
Also, the

[2021-08-11 16:06] hangshao0 commented on #13312
I guess if we are not able to detect shared volume, we probably needs to consider changing back to `/tmp`.

[2021-08-11 16:24] joransiu commented on #13312
Yeah, on z/OS, $HOME directories are not guaranteed to be system specific -- that could be the case on Linux and other platforms too, depending on how things are configured.   `/tmp` and `/var` would generally be system specific, with the latter generally used by the OS for customization.  Given SCC is usually tied with the application being executed, I agree `/tmp` would be the better home if we

[2021-08-11 16:41] pshipton commented on #13312
On Linux we attempt to detect if the cache location is shared, as persistent caches cannot work on shared volumes.

[2021-08-11 16:41] pshipton commented on #13312
Well actually on network volumes. We detect network volumes.

[2021-08-11 16:47] joransiu commented on #13312
We should update our [docs](https://www.eclipse.org/openj9/docs/xshareclasses/#cachedir) to clarify for non-persistent caches.  We currently have the following:

It probably need to be generalized to include the control files for non-persistent caches, along with wording for z/OS -- shared filesystems/volumes mounted across different systems.

What happens if we detect that's the case on Linux?  D

[2021-08-11 16:49] pshipton commented on #13296
Pls describe how you "open openj9" to recreate this.

[2021-08-11 16:51] pshipton commented on #13296
Note if you use java.exe you get a command prompt window, and if you use javaw.exe you do not. I see the same behavior between OpenJ9 and Hotspot.

[2021-08-11 16:54] dmitry-ten commented on #13310
We'll need to update all JITServer Dockerfiles as well.

[2021-08-11 16:58] r30shah opened #13313 "Failed in relocating class address for fabricated loadaddr on Power in non SVM AOT"
Change in https://github.com/eclipse/omr/pull/6137 transforms the VFTLoad of known object with fixed class to loadaddr. As discussed in https://github.com/eclipse/omr/pull/6137#pullrequestreview-725459487 in AOT code without Symbol Validation Record, this change was kept limited to the classes loaded by bootstrap class loader.
On PPC it seems like, we are missing external relocation record for suc

[2021-08-11 16:58] r30shah commented on #13313
FYI @zl-wang

[2021-08-11 16:59] pshipton commented on #13097
I haven't seen it recently.

[2021-08-11 17:20] fjeremic commented on #13312
I think the bigger problem here is customers upgrading to Java 11 where we have enabled SCC on by default and encountering issues. At the very least we should be updating the docs and providing a more descriptive error messages when the problem does occur.

[2021-08-11 17:45] mpirvu opened #13314 "Liberty app server does not start without value propagation"
I was doing some performance investigation and observed that Liberty app server cannot start with `-Xjit:optLevel=noOpt`. I switched to `-Xjit:optLevel=cold`, but ran into the same issue once I added `disableLocalVP`. Further investigation revealed that the problematic method is
`jdk/internal/misc/Unsafe.copyMemory0(Ljava/lang/Object;JLjava/lang/Object;JJ)V>`
Value propagation changes `Unsafe.copy

[2021-08-11 17:55] mpirvu commented on #13310
I was thinking about deleting the jitserver Dockerfiles because they don't bring anything new compared to what OpenJ9 provides.

[2021-08-11 18:12] dmitry-ten commented on #13310
I guess that's true.
The `buildserver/Dockerfile` builds an image with jitserver preconfigured to run but I guess that's not really important, when such Dockerfile can be easily created from the JITServer OpenJ9 image.

Do you remember why we needed `gcc-7` to build JITServer previously? Was it because of protobuf?

[2021-08-11 18:18] hangshao0 commented on #13312
There will be a error message saying that it cannot be on a NFS and the cache won't startup.

[2021-08-11 18:19] mpirvu commented on #13310
We may have needed gcc-7 for some JITServer c++11 features, but now we compile with gcc 7.5 anyway, so this is nothing different from what OpenJ9 does.

[2021-08-11 18:21] hangshao0 commented on #13312
I agree we need documentation change to warn users about this issue explicitly.

[2021-08-11 19:53] pshipton commented on #9782
@VermaSh it's actually on osx1011-x86-2 just like all the others. The top level job you link to ran on osx1014-x86-1 but it just starts a couple of children. The actual failed job is https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Personal_testList_0/64/

[2021-08-12 01:56] 0xdaryl commented on #13314
fwiw, others can correct me if I'm wrong, but I'm not aware of any reason why the JIT must transform `Unsafe.copyMemory` into an arraycopy for correctness.  Calling the native should always be an option.  I consider this a bug.

[2021-08-12 14:33] JasonFengJ9 opened #13319 "JDK16 StackWalkerTest_1_FAILED - NullPointerException: Cannot invoke "java.lang.Class.getName()" because "instanceClass" is null"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.functional_ppc64_aix_Nightly_testList_1/70/consoleFull
[code]
To rebuild the failed tests in <Jenkins URL>=https://openj9-jenkins.osuosl.org/job/Grinder, use the following links:
01:21:00  https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=

[2021-08-12 17:05] jdmpapin commented on #13313
Following on from [Rahil's comment](https://github.com/eclipse/omr/pull/6144#issuecomment-897725048) on eclipse/omr#6144:

Yes, a CP index of -1 is used to determine [whether to unset `useUnresSnippetToAvoidRelo`](https://github.com/eclipse/omr/blob/9ebd8f0834d21b40a6ddc0df88f80fbe8fe57436/compiler/p/codegen/OMRMemoryReference.cpp#L1571-L1580), and also [whether to replace `TR_ClassAddress` with `

[2021-08-12 17:14] r30shah commented on #13313
Hmm, even-though a fabricated `loadaddr` was created with symRef with cpIndex `-1` in the transformation, cpIndex is set to different when we reach code-gen. I have not narrowed down where that happens exactly yet as it was handled well on Z and X.

[2021-08-12 17:46] mpirvu commented on #13314
The problem shows very early-on during OpenLiberty start-up so I imagine it will show up even with no app installed on top.

[2021-08-12 18:44] fengxue-IS commented on #12285
I don't see this being backported anytime soon, we should move this to 0.29?
@JasonFengJ9 FYI

[2021-08-12 18:47] fengxue-IS commented on #11582
@JasonFengJ9 FYI, this could be moved to 0.29 as it doesn't affect any functional issue

[2021-08-12 19:06] gacholio commented on #13314
Does it work -Xint? In that case, we're certainly running the native, not an arraycopy.

[2021-08-12 19:08] JasonFengJ9 commented on #12285
JDK-8266269 is available for JDK17+. OJDK MH has been enabled at `openj9-staging` branch which is expected to be promoted into `openj9` branch for JDK 17 GA. No action required for JDK17.
Agreed to move this out of 0.28 (Java 17).

[2021-08-12 19:23] JasonFengJ9 commented on #11582
`-Djava.lang.invoke.VarHandle.VAR_HANDLE_GUARDS=false` has been used as workaround.
It doesn't appear an alternative solution would be available for 0.28.

[2021-08-12 19:24] mpirvu commented on #13314
It does work when I exclude this method `jdk/internal/misc/Unsafe.copyMemory0(Ljava/lang/Object;JLjava/lang/Object;JJ)V>` from compilation.

[2021-08-12 22:01] JasonFengJ9 commented on #13269
This is a problem across Java 8/11/16 levels, a workaround has been identified as per https://github.com/eclipse-openj9/openj9/issues/13269#issuecomment-896948330.
There is no immediate solution available for 0.28 (Java 17) release, moving it to 0.29 instead.