[2020-01-14 15:34] pshipton commented on #7841
@mpirvu will this be closed off, or moved to the next milestone? We expect to create the final release builds later tonight or tomorrow.

[2020-01-14 15:36] cathyzhyi commented on #7088
@pshipton Hey Peter, do you know where can I find the source code of the failing test?

[2020-01-14 15:47] #8181 closed

[2020-01-14 15:49] mpirvu commented on #7841
It can be closed off.
The only item remaining is collecting some performance numbers. I already have some results and I am working on a blog which can be published after the release

[2020-01-14 15:55] dsouzai commented on #7890
I don't this is the same issue. Before it was an assert firing which was fixed in https://github.com/eclipse/openj9/pull/8261; now it's a seg fault.

In order to figure out where exactly the crash is happening, we'd need a proper stack trace. Is there any way to get a windows build with symbols, because at the moment, it's pretty much impossible to debug even with a core dump. I've attempted to bu

[2020-01-14 16:06] Mesbah-Alam commented on #8085
This seems to be an ASM issuer. The system tests use ASM 7.1. I've updated it to using 7.3 (the latest).

Now, running the same test yields a different error, as follows:

[code]

[2020-01-14 16:08] pshipton commented on #7088
@Mesbah-Alam can direct you to the source.

[2020-01-14 16:17] Mesbah-Alam commented on #7088
Hi @cathyzhyi , the test source is here: https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.test.load/src/test.load/net/adoptopenjdk/stf/MauveMultiThreadLoadTest.java

[2020-01-14 16:28] pshipton commented on #7890
@dsouzai I believe you need to build it yourself and retrieve the .pdb files from the build, as there isn't yet a build that archives them. There are some environment variables that enable debug for various components, seen in https://blog.openj9.org/2018/06/05/debugging-openj9-in-docker-with-gdb/, I assume you want `export BUILD_CONFIG=debug`. @ChengJin01 might have suggestions as I think he rece

[2020-01-14 16:31] andrew-m-leonard opened #8297 "JDK11 ZOS: System.java does not localize() std in,err,out on zOS"
The jcl jpp preprocess of System.java does not produce the com.ibm.jvm.io.ConsolePrint/InputStream.localize(...)
for the std in, out, err streams when building JDK 11 on zOS

[2020-01-14 16:35] DanHeidinga commented on #8205
@prodigysml was Mark's update sufficient for you to get the issue reported?  If you need additional help, please let us know and we'll get this worked through

[2020-01-14 16:37] DanHeidinga commented on #8068
@jdekonin Is this on your team's plan?  When do you think we can target this to a milestone?  For 0.19 with a Feb 9 branch date?

[2020-01-14 16:39] DanHeidinga commented on #7908
@ashbm5 Have you been able to start on the patch as suggested by Peter in the previous comment?

[2020-01-14 16:41] dsouzai commented on #7890
I've tried building it myself when this issue was first opened up; I followed the instructions on the build page, and I was even given a stencil for a VM. I spent several hours just attempting to build, but I kept running into issue after issue.

I don't need debug symbols, I would just need the .pdb files from a regular build; so really I just need a machine that's been set up properly to produce

[2020-01-14 17:05] DanHeidinga commented on #7908
@pshipton included a link to the right location to modify the launcher code in https://github.com/eclipse/openj9/issues/7908#issuecomment-559607808

If you can get an initial patch together that modifies that function, we can help tune the implementation through reviews.

[2020-01-14 17:20] ChengJin01 commented on #7890
@dsouzai , I can help you to produce a windows build with .pdb file (might take 2~3 hours to finish) and drop it somewhere in /team folder if you need.

[2020-01-14 17:35] dsouzai commented on #7890
Sure, though I believe @AdamBrousseau 's generating one right now; I guess we'll see how that goes before you spend time generating the build.

FWIW though, the sha's would be
OpenJ9: 5ea61ce
OMR: 9661da2
OpenJDK8: 3830f78 - openj9-openjdk-jdk8

[2020-01-14 17:43] ChengJin01 commented on #7890
I just grabbed all the latest changes for compilation if this works for you.
[code]

[2020-01-14 18:44] pshipton commented on #7088
@Mesbah-Alam what about the mauve test cases?

[2020-01-14 18:54] JasonFengJ9 commented on #8085
`Caused by: java.lang.IllegalStateException: ASM8_EXPERIMENTAL can only be used by classes compiled with --enable-preview`

[2020-01-14 18:59] Mesbah-Alam commented on #7088
Mauve binary jar is coming from here: https://hyc-runtimes-jenkins.swg-devops.com/job/systemtest.getDependency/41/artifact/systemtest_prereqs/mauve/mauve.jar

If you are looking for the source of Mauve tests though, that can be found online at https://sourceware.org/mauve/

[2020-01-14 19:03] Mesbah-Alam commented on #8085
I added `--release 14 --enable-preview` to the `javac` command of the test : https://github.com/AdoptOpenJDK/openjdk-systemtest/compare/master...Mesbah-Alam:update-asm-to-7.3?expand=1

Also added `--enable-preview` in the test command itself :  https://github.com/AdoptOpenJDK/openjdk-tests/compare/master...Mesbah-Alam:update-asm-to-7.3?expand=1

This results in a different failure:

[code]

https:

[2020-01-14 19:20] #8140 closed

[2020-01-14 19:22] DanHeidinga commented on #7890
Moving this to 0.19 as it's too late to put further changes into 0.18

[2020-01-14 19:23] JasonFengJ9 commented on #8085
The error suggests `preview is not enabled`. It seems `--enable-preview` didn't appear in the script generated.

[2020-01-14 19:40] JasonFengJ9 commented on #8085
Additional note: `--enable-preview` can't be recognized by `JDK8`.

To avoid the gap between the static ASM jar files and the new Java class version, JDK build-in `jdk.internal.org.objectweb.asm` can be used instead.

[2020-01-14 19:44] DanHeidinga commented on #8292
@babsingh and I discussed.  He's going to take another look at the OpenJDK code and see if we can reuse the `MemoryAddressViewVarHandle` implementation by adding support for any new MH / Unsafe / etc calls used by it.

[2020-01-14 20:06] Mesbah-Alam commented on #8085
I am just trying to get it to work on Jdk 14 - once that's figured out, the plan is to make sure to use all the `--enable-preview` related changes only for jdk 14.

[2020-01-14 20:49] dusanboskovic opened #8302 "10MB limit when converting a snaptrace to readable format"
Seems to be a 10MB limit when converting snaptraces to a readable format. Testing on an AIX and Linux machine.

Issue happens on IBM Java 19_03u1, not tested on OpenJ9

_Linux_
_rhel6x64vm3_
[code]

[code]

[code]

_AIX_
_aix72p7vm33_
[code]

[code]

[code]

There is no problem converting a snaptrace that is smaller than 10 MB

Is there a hard limit of 10MB when converting the file?

[2020-01-14 21:17] keithc-ca commented on #8302
There's no limit that I can see.

The tool reports progress every 10MB (see [1]), but without a final, 100% done message, I can understand how the output can be misleading. I'll fix traceformat so it makes it clear it processed the whole input file.

[1] https://github.com/eclipse/openj9/blob/master/jcl/src/openj9.traceformat/share/classes/com/ibm/jvm/traceformat/TraceFormat.java#L363

[2020-01-14 21:19] AdamBrousseau commented on #7890
Provided Irwin with sdk, build workspace and test workspace with crash files.

[2020-01-14 21:27] pshipton commented on #8296
Looks like a dup of #7890

[2020-01-14 21:27] #8296 closed

[2020-01-14 21:33] AlenBadel commented on #4930
In regards to https://github.com/eclipse/openj9/issues/4930#issuecomment-573167155.

I think the suitable approach will be to follow the current behaviour and convention used within `-Xlp`. The current behaviour states that nonpageable will be used by default on ZOS. Since nonpageable, or fixed large pages hold performance benefits over pageable large pages it's best to also extend this behaviour

[2020-01-14 22:06] jdekonin commented on #8068
This code would be handled within the test pipeline code itself which is located at AdoptOpenJDK/openjdk-tests.  Not to say someone in my team couldn't make this proposed change, its just not really high on our todo list.  We can discuss tomorrow if you have some to review the current workload.

[2020-01-14 22:45] Mesbah-Alam commented on #8085
Got the test to work on jdk14 :  /Test_grinder/job/Grinder/5390

Solution :
[code]

[2020-01-14 23:25] sophia-guo opened #8303 "Building Quarkus with Openj9 Java SDK8 failed with project 'quarkus-documentation'"
The process of building Quarkus with Openj9 Java SDK8 failed with project ' quarkus-documentation'. The process hung when doing

[code]
Originally failure job:
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder_Sandbox/1046/console

Rerun link with only project quarkus-documentation enabled:
https://ci.adoptopenjdk.net//job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIS

[2020-01-14 23:33] sophia-guo commented on #8303
The curious thing is during the process this specific download actually happened twice. First time succeed and second time hang. If using wget download directly it will always succeed.  It just looks like hang during the download but most probably there is some other hidden issue .

[2020-01-14 23:59] smlambert commented on #8303
Are we able to reduce the maven test list to just quarkus:documentation and see the hang?  If so, can we reconfirm that it passes without issue on hotspot (I know it passed when it was first tried, but want to confirm is still the case).

[2020-01-15 00:09] JasonFengJ9 commented on #8276
Run the automated test under `test/jdk/tools/jpackage` at `Mac osx 10.15.2`, all tests passed as following  `work/jtData/harness.trace`:
[code]
Similar passing result for `JDK14` at `Linux Ubuntu 16.04.5 LTS`. There was setup issue on Windows platform however I think it is safe to skip the automated run for this platform since early manual runs worked as expected.

@DanHeidinga there was no additi

[2020-01-15 04:09] DanHeidinga commented on #8276
+1

@JasonFengJ9 Can you open a doc issue that documents the platform limitations so it's clear this JEP doesn't apply to AIX or zOS at this time?

[2020-01-15 05:28] ChengJin01 commented on #7684
According to the failure in the description, the exception was thrown out in the code at rtverfiy.c as follows:
[code]
against the failing method in the core dump at triage/openj9-7684:
[code]
The share the same bytecode as follows:
[GregorSamsa.template_bytecode.txt](https://github.com/eclipse/openj9/files/4063175/GregorSamsa.template_bytecode.txt)
[code]
Apparently the bytecode for invokespecial

[2020-01-15 05:37] ChengJin01 commented on #7684
@planetf1 , I am wondering whether it is possible to reproduce the issue locally (the specific steps to do so), in which case we are able to manually compile a build with debugging info/messages to figure out what really happened to the code (the problem should be independent of platforms).

[2020-01-15 15:05] pshipton commented on #8081
jdk14 acceptance is working, I believe this is completed.

[2020-01-15 15:05] #8081 closed

[2020-01-15 15:35] pshipton commented on #7821
This stopped occurring once the AIX machines where upgraded to TL5 SR5.

[2020-01-15 15:35] #7821 closed

[2020-01-15 15:36] JasonFengJ9 commented on #8276
Created https://github.com/eclipse/openj9-docs/issues/474 to specify the limitation on `AIX` and `zOS` platforms.

[2020-01-15 15:45] dmitripivkine commented on #4930
For `-XX:+UseLargePages` I have no concerns however this decision also needs to be approved by ZOS specialists @fjeremic @joransiu Using of `fixed` not `pageable` it is old old -Xlp behaviour and It is not what I heard from them before (I believe last advice was to prioritize using of `pageable`). Also if changed way you suggest and considering `1m pageable` is a default in case no -Xlp specified

[2020-01-15 16:02] sophia-guo commented on #8303
Yes, the rerun link mentioned before is using my personal branch : hang, which will only build against project quarkus:documentation. Also using this branch against hotspot didn't hit the hang issue.

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder_Sandbox/1060/console

[2020-01-15 16:23] AlenBadel commented on #4930
It's not clear what the benefits pageable has over fixed. There's a reason why currently -Xlp assumes fixed over pageable, and that is due to the performance benefits.

[2020-01-15 16:25] #6741 closed

[2020-01-15 16:31] JasonFengJ9 commented on #7500
Will pick up this work.

[2020-01-15 16:32] mpirvu commented on #7841
I have collected all the performance numbers and they will make the subject of an upcoming blog post. This issue can be closed now.

[2020-01-15 16:32] #7841 closed

[2020-01-15 16:38] pshipton commented on #8195
One mitigation option discussed for this, is to parse the `-Xlog:gc*` options, and map it to either `-verbose:gc` or  `-Xverbosegclog[:<filename>[,<x>,<y>]]`. The gc log output won't be the same, but at least the `-Xlog:gc*` options would be accepted so the JVM can start, and a gc log produced to the correct place.

[2020-01-15 16:46] avermeer commented on #8195
@pshipton this mitigation sounds reasonable to me.
On which release could it be planned?

[2020-01-15 16:47] #8276 closed

[2020-01-15 16:50] dmitripivkine commented on #4930
`pageable` pages can be assigned dynamically run time by ZOS Memory Manager. It is ZOS equivalent of virtual memory reservation on demand Linux support. Using `pageable` brings more flexibility to distribute memory resources between applications.  `fixed` pages are statically pinned to application and can not be re-destributed on OS level. Even if `fixed` pages are better performance wise `pageabl

[2020-01-15 16:57] pshipton commented on #8195
I'm not sure when resource for this will be available, at this time it's been placed into the Backlog.

[2020-01-15 17:02] AlenBadel commented on #4930
Understood. I'll leave that decision up to S390 expects as to which should be used by default.

[2020-01-15 17:28] pshipton opened #8308 "sanity.functional JCL_Test_SE80 test_RevealDirect_CrackCallerSensitive Unable to read java.lang.invoke.SecurityFrame.class bytes"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_s390x_linux_OpenJDK8/28
JCL_Test_SE80_*
JCL_TEST_Java-Lang-Invoke
test_RevealDirect_CrackCallerSensitive
[code]

[2020-01-15 17:31] pshipton opened #8309 "sanity.functional JCL_TEST_Java-Security_SE80 test_doPrivilegedFrameStackWalking unexpected exception"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_s390x_linux_OpenJDK8/28
JCL_TEST_Java-Security_SE80_0
test_doPrivilegedFrameStackWalking
java.lang.AssertionError: FAIL: unexpected exception.
	at org.testng.Assert.fail(Assert.java:85) from sun.misc.Launcher$AppClassLoader@16ed779a(file:/home/jenkins/workspace/Test_openjdk8_j9_sanity.functional_s390x_linux_OpenJDK8/openjdk-tests

[2020-01-15 17:47] smlambert commented on #8303
Maybe can add --debug maven option to see if any additional clues on what is happening

[2020-01-15 18:02] DanHeidinga commented on #8308
`un.misc.IOUtils.readFully` was changed:
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/e6095d9adfe3c072d483a7df3fcdf1eeec76044b/jdk/src/share/classes/sun/misc/IOUtils.java#L284-L302

We can't pass `-1` anymore.  Any ugly work around would be to pass `Integer.MAX_INTEGER`

[2020-01-15 18:03] DanHeidinga commented on #8309
See comment https://github.com/eclipse/openj9/issues/8308#issuecomment-574780543

Both of these look to be the same issue

[2020-01-15 18:35] JasonFengJ9 commented on #8308
Looking into this.

[2020-01-15 18:40] pshipton opened #8311 "Validate OpenJDK extensions ObjectInputStream patch"
The OpenJDK extensions for OpenJ9 contain a patch to ObjectInputStream to cache the ClassLoader. The latest OpenJDK code has modified ObjectInputStream, and the patch needs to be validated that it is still correct and properly covers the different code paths.

The changes to java/io/ObjectInputStream.java are currrently in the openj9-staging branch.  One way to view the changes is to visit https:/

[2020-01-15 18:46] dusanboskovic commented on #8302
Do the warnings and errors represent characters could not be converted, as shown below:
[code]

This is the original reason why I thought that the conversion was not finishing until completion

[2020-01-15 19:01] keithc-ca commented on #8237
In a log running quarkus tests on OpenJ9 jdk8, we see `LogManager` initialized by `com.google.inject.internal.util.Stopwatch`; it's not clear how any implementation could behave differently.
[code]

[2020-01-15 19:07] joransiu commented on #4930
From a user consumability perspective, `pageable` large pages is easier to manage.  `fixed` requires z/OS users to have pre-reserved an amount real memory at IPL time dedicated to back up the `fixed` pages.  From a performance persective, I'd expect the address translation savings to be quite similar.

I suspect we kept `fixed` pages as default for `-Xlp` because initially, only `fixed` 1MB pages

[2020-01-15 20:08] dnakamura opened #8314 "CMake xlinux differing ddr blob info"
CMake based builds on xlinux have a differing info in the ddr blob. Some of these may be a result of faults in the cmake ddr handling , others may be as a result of slightly different build configurations
- [ ]  dummy item for formatting

  Type: CacheLifecycleManagerConstants
    - [ ] constant J9SH_DESTROY_TOP_LAYER_ONLY is missing

  Type: J9BuildFlags
    - [ ] constant J9VM_ARCH_AARCH64 is mi

[2020-01-15 21:29] ChengJin01 commented on #7684
I just followed the guide line at https://egeria.odpi.org/open-metadata-resources/open-metadata-tutorials/building-egeria-tutorial/task-building-egeria-source.html to build the open-sourced egeria project and managed to reproduce the ClassFormatError exception on Ubuntu 16.04 (the same exception detected at https://github.com/eclipse/openj9/issues/7684#issuecomment-549759371 / the original VerifyE

[2020-01-15 21:30] cathyzhyi commented on #8311
@vijaysun-omr  and I stared at the patches and our conclusion is that the patch looks good
1)  It's functionally correct

The new patch from openjdk created a wrapper ```private final Object readObject(Class<?> type)```
which can be merged with our old wrapper  ```private Object readObjectImpl(Class caller)```
 and becomes  ```private final Object readObject(Class<?> type, Class caller)```

2) doe

[2020-01-15 22:05] harryyu1994 opened #8317 "JITServer crash while running _stringConcatOptTest_0 test"
It looks like a few sanity.functional tests were broken after we switched to jitserver launcher.

My preliminary binary search investigation has shown that:

67a91ae5544e5cb7c6d0a61ad66241e4f89209aa <--- this could be the change to blame
f280e85ef7b223bd5fe90d410c4d590641083be9 <--- which is the change right before and it works fine

[code]

@ashu-mehra could you help take a look since the blamed

[2020-01-15 22:05] harryyu1994 commented on #8317
@mpirvu FYI

[2020-01-15 22:17] #8308 closed

[2020-01-15 22:17] #8309 closed

[2020-01-15 22:21] pshipton commented on #8311
Thanks, I've promoted the latest OpenJDK content.

[2020-01-15 22:21] #8311 closed

[2020-01-15 22:24] pshipton opened #8318 "Add JIT support for ObjectInputStream.readString()"
See #8311
JIT still replaces readObject() with redirectedReadObject(ObjectInputStream iStream, Class caller). Notice this opt currently doesn't apply to the new API readString() but it's easy to apply with some work.

[2020-01-15 22:24] pshipton commented on #8311
Created https://github.com/eclipse/openj9/issues/8318

[2020-01-15 23:16] dsouzai commented on #7890
Thanks to @AdamBrousseau for the SDK+.pdb files+crash environment.

Call stack:
[code]

The crash happens in `TR_J9VMBase::matchRAMclassFromROMclass` in https://github.com/eclipse/openj9/blob/bd833c7e3699d3412286ca4f7aa3af872810860f/runtime/compiler/env/VMJ9.cpp#L525 The value of `J9ROMClass *clazz` is `0x00000000101166A5` which is a bogus pointer, resulting in the crash.

After digging through th

[2020-01-16 01:40] Akira1Saitoh commented on #5921
- Implement `igotoEvaluator` in https://github.com/eclipse/omr/pull/4597
- Set `prepareForOSR` helper to system linkage in https://github.com/eclipse/omr/pull/4723
- Support `jitInduceOSRAtCurrentPC` helper in https://github.com/eclipse/openj9/pull/8305

[2020-01-16 01:43] pshipton opened #8321 "extended.functional -XXgc:enableDoubleMapping Unknown option: enableDoubleMapping"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_Personal/69
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_s390x_linux_Personal/54
SyntheticGCWorkload_DoubleMap_J9_0
[code]

[2020-01-16 01:47] pshipton commented on #8321
https://github.com/eclipse/openj9/pull/8254
@bragaigor @amicic

[2020-01-16 02:06] bragaigor commented on #8321
We've just updated the double mapping command line option. It changed from `-XXgc:enableDoubleMapping` to `-XXgc:enableArrayletDoubleMapping`

[2020-01-16 02:36] pshipton commented on #8321
Seems the testing needs to be updated to match.

[2020-01-16 02:39] bragaigor commented on #8321
Yes, I'm not sure how to do that but I'll check with @amicic

[2020-01-16 02:55] amicic commented on #8321
@llxia Please, advise where is the source of test.

[2020-01-16 04:12] smlambert commented on #8321
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/functional/SyntheticGCWorkload/playlist.xml#L150-L169

[2020-01-16 04:55] sophia-guo commented on #8303
Build with --debug:
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder_Sandbox/1069/

Note: This issue happened to latest release openjdk8-openj9 dockerimage:

[code]

Rerun with nightly openjdk8-openj9 dockerimage do not hit this issue

[code]
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder_Sandbox/1068/consoleFull

Triggered a job using nightly openjdk8-openj9 do

[2020-01-16 06:11] pshipton commented on #8303
@keithc-ca already discovered that #8237 is fixed by using the latest jdk8 release. There is still an issue with jdk11, which is being fixed.

[2020-01-16 10:28] arxioly commented on #6522
@pshipton updating the version helped. Thanks a lot!

[2020-01-16 13:13] pshipton opened #8322 "OpenJ9: java.lang.ref.Reference.clear() unexpectedly called"
https://github.com/AdoptOpenJDK/openjdk-support/issues/42

[2020-01-16 13:13] pshipton commented on #8322
@dmitripivkine can you pls take a look, and put any response into the AdoptOpenJDK issue, not here.

[2020-01-16 13:21] pshipton commented on #5450
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly/253
win2012r2-x86-3

[2020-01-16 13:51] #8237 closed

[2020-01-16 13:59] bragaigor commented on #8321
I have the update here: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1560 Is there anything else that we should update?

[2020-01-16 14:15] DanHeidinga commented on #8318
fyi @cathyzhyi @andrewcraik

[2020-01-16 14:27] dmitripivkine commented on #8322
@LinHu2016 Would you please take a look too. There was your change https://github.com/eclipse/openj9/pull/900

[2020-01-16 14:29] pshipton commented on #8321
@smlambert is updating this test going to cause failures in the 0.18.0 release testing?

[2020-01-16 14:46] smlambert commented on #8321
yes, unless you are using a specific SHA for openjdk-tests repo in 0.18 testing (which I am fairly certain you are not).  Also, we are in a code freeze in the openjdk-tests repo until this release week is finished, so I will not be merging @bragaigor 's PR until the major platforms are completed.

[2020-01-16 15:28] DanHeidinga commented on #8237
@keithc-ca Peter mentioned the LogManager issue is already resolved in JDK8 - is that using the 0.18 release builds?

[2020-01-16 15:31] pshipton commented on #8321
Then I'm going to revert #8254 until the tests can be updated, as it's causing all extended testing to fail. Although I'd prefer to have the Adopt testing updated, and use a SHA for the 0.18.0 testing (or just ignore the failure there). @smlambert would you consider merging this OpenJ9 specific fix?

@DanHeidinga fyi

[2020-01-16 15:49] keithc-ca commented on #8237
I tested with a local build this week based on the master branch, but the fix should be in the 0.18 release branch as well: I expect the problem in JDK8 was fixed by #6397.

[2020-01-16 15:53] DanHeidinga commented on #8237
Thanks for the confirmation

[2020-01-16 15:53] keithc-ca commented on #8303
Based on the [comment](https://github.com/eclipse/openj9/issues/8303#issuecomment-574982736) above, should this not be closed?

[2020-01-16 15:56] pshipton commented on #8237
For the record, #6397 was included in 0.16.0

[2020-01-16 16:01] DanHeidinga commented on #8303
@sophia-guo Does this occur with OpenJ9 JDK 11?

[2020-01-16 16:43] M-Davies commented on #7081
This looks to be a problem with how JDK11/13 interacts with `protected static` and/or `protected` methods. There are two test cases failing here, `find` and `unreflect`.

Both test cases (`find` and `unreflect`) are attempting to look for a protected static void (`pro_in_self()`). It is expected behaviour for the cases to view the method but not expected that they will access it. In both cases, th

[2020-01-16 16:52] amicic commented on #8321
We can just remove the option from the test, since we are enabling it by default. It would solve 0.18 problem in a way that it does not test double mapping, but that's ok since it's not officially available there.

[2020-01-16 17:03] dmitripivkine commented on #8322
I would like to discuss here before answer in original item:
GC does not `clear()` directly so there is no problem. `clear()` is called from `enqueue()' (which is Java code). The update https://github.com/eclipse/openj9/pull/900 has been requested by spec change for Java 9 and according it seems reference must be cleared before enqueued.
@DanHeidinga Any comments?

[2020-01-16 17:46] sophia-guo commented on #8303
Same as jdk8. Running by former release jdk11 job will hang. With recent nightly one no hang issue:

JDK8 version:

[code]
build:
https://ci.adoptopenjdk.net/job/Grinder_Sandbox/1072/

JDK11:

[code]
build:
https://ci.adoptopenjdk.net/job/Grinder_Sandbox/1073/

[2020-01-16 18:38] keithc-ca commented on #8303
Both of those jobs appeared to completed downloading all jars.
The job for jdk11 completed successfully; @sophia-guo aborted the job for jdk8.
What remains to be done before this issue can be closed?

[2020-01-16 18:45] keithc-ca commented on #8302
Did you use `traceformat` from an IBM build or an OpenJ9 build to process the snaptrace from the IBM build? (The latter use-case is not supported and will be missing the information needed to decode IBM-specific trace-points).

[2020-01-16 18:59] sophia-guo commented on #8303
My bad.

JDK8 should be JDK11 release version. Make it clear I have edited the comment https://github.com/eclipse/openj9/issues/8303#issuecomment-575266950.

The job with JDK11 release was cancelled for 'hang' problem.

[2020-01-16 19:33] DanHeidinga commented on #8303
Based on what I've understood, this isn't an issue with the nightly builds.  Closing

[2020-01-16 19:33] #8303 closed

[2020-01-16 19:58] AlenBadel opened #8325 "JIT crash compiling WeakHashMap.hash in JDK8"
Steps to reproduce:
Build sanity.functional on windows 32/64bit.

Failing build baseline (Jan 14th) :
[code]

Failure

[code]

[2020-01-16 20:01] pshipton commented on #8325
I think this is a dup of https://github.com/eclipse/openj9/issues/7890

[2020-01-16 20:10] dusanboskovic commented on #8302
From an IBM build

[2020-01-16 20:27] bragaigor commented on #8321
If it comes down to reverting #8254 I was thinking, we could just create a PR that changes the command line option to what it was previously and that should fix those tests. We'll eventually enable double map by default after this release; at that time, we can update the command line option as well as testing. Not sure how much headache reverting a PR is, that's why I'm suggesting this. @pshipton

[2020-01-16 20:27] ashu-mehra commented on #8317
I don't see the crash with the latest code but I do see NPE:

[code]

For me https://github.com/eclipse/openj9/commit/67a91ae5544e5cb7c6d0a61ad66241e4f89209aa worked fine, however I start hitting this issue with commit https://github.com/eclipse/openj9/commit/9771d87a. If I revert the changes, then the starts passing again.

[2020-01-16 21:24] pshipton commented on #8321
@bragaigor it's easy to revert as long as there are no conflicts (which there aren't right now), it's just a button push. If you prefer to open a new PR to temporarily revert the option names, that works as well. I want to avoid all the test failures tonight and over the weekend that are going to occur until we can update the testing.

[2020-01-16 21:31] bragaigor commented on #8321
I had a branch with this quick fix so just opened the PR here #8326

[2020-01-16 21:47] gita-omr commented on #4930
Since we need to add more detailed info on -XXUseLargePages and -Xlp into the table above I was thinking it would be helpful to add another table, just for this option:

|  | x | p | z|
| --- | --- | --- | --- |
| CC page size | current -Xlp:, --XX:UseLargePages in HotSpot, new behaviour:  |   |  |
| Heap page size | current -Xlp:, --XX:UseLargePages in HotSpot, new behaviour:  |   |  |
| CC pagea

[2020-01-16 21:55] harryyu1994 commented on #8317
I will verify 67a91ae5544e5cb7c6d0a61ad66241e4f89209aa again, maybe with the way I was reverting changes, I messed it up. I also see the latest code with NPE. I guess 9771d87 exposed something.

[2020-01-16 21:55] gita-omr commented on #4930
Since we need to add more detailed info on -XXUseLargePages and -Xlp into the table above I was thinking it would be helpful to add another table, just for this option:

|  | x | p | z|
| --- | --- | --- | --- |
| CC page size | current -Xlp:, --XX:UseLargePages in HotSpot, new behaviour:  |   |  |
| Heap page size | current -Xlp:, --XX:UseLargePages in HotSpot, new behaviour:  |   |  |
| CC pagea

[2020-01-16 22:01] gita-omr commented on #4930
If we decide that XX:UseLargePages should directly map into -Xlp (old or modified) we don't need to reverse engineer it's current behavior in HotSpot.

[2020-01-16 22:14] #8297 closed

[2020-01-16 22:43] ChengJin01 commented on #7684
I compile a debug build with a piece of code everywhere before the `ClassFormatError JVMCFRE068 class name is invalid` exception occurs to trigger a crash but it doesn't work so far. Will try adding tracepoints in code to see how it goes.

[2020-01-16 23:16] dnakamura commented on #8183
Rebuilt xlinux with patches for symbol exports (eclipse/omr#4676) and ATOMIC_FREE_JNI (#8316). These changes result in liberty startup improvement of 2.1% and a footprint growth of 1.7%. Both represent less than 0.5 standard deviations from the uma builds. Trying to figure out the aix regressions. Obviously the gnu toolchain fixes aren't relevant, and I don't expect the ATOMIC_FREE_JNI to yield 6%

[2020-01-16 23:45] JasonFengJ9 commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_OpenJDK13/30/tapResults/

[2020-01-16 23:47] jcflack commented on #8322
In the `hg.openjdk.java.net/jdk9` sources, the spec change was handled by, yes, clearing the reference before it is enqueued, but *by directly clearing the field, not by calling the `clear` virtual method*.

http://hg.openjdk.java.net/jdk9/jdk9/jdk/file/65464a307408/src/java.base/share/classes/java/lang/ref/Reference.java#l301

This was the commit:

http://hg.openjdk.java.net/jdk9/jdk9/jdk/rev/bc1

[2020-01-17 14:38] pshipton commented on #8189
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_xl_Nightly/47
MathLoadTest_bigdecimal_0
[code]

[2020-01-17 14:39] pshipton commented on #8189
@DanHeidinga I suspect this is a VM issue.

[2020-01-17 15:04] DanHeidinga commented on #8322
Looking at our `clear()` method, it does two things: set the referent to null and change the state: https://github.com/eclipse/openj9/blob/9555017657333e4d865011e144e136b22fb1b8f1/jcl/src/java.base/share/classes/java/lang/ref/Reference.java#L117-L125

We can move that to a `clearImpl()` method and call it from both `enqueue` and from `clear`.  This keeps the correct state change behaviour and avoi

[2020-01-17 15:15] DanHeidinga commented on #8189
@sharon-wang Can you take a look at this?

[2020-01-17 15:22] sharon-wang commented on #8189
looking into this!

[2020-01-17 15:41] babsingh commented on #8292
Here are the changes to accomplish the above task:
- OpenJ9 changes: https://github.com/eclipse/openj9/pull/8330
- OpenJDK changes: https://github.com/ibmruntimes/openj9-openjdk-jdk14/pull/6

[2020-01-17 17:38] dnakamura commented on #8183
Digging into the diffs on the aix ddr blobs, it looks like there are significant configuration differences. Looking into patching the builds and perf testing. Notable config differences:
- OMR_GC_CONCURRENT_SCAVENGER
- OMR_GC_HEAP_CARD_TABLE
- OMR_GC_TLH_PREFETCH_FTA
- OMR_THR_SPIN_WAKE_CONTROL
- OMR_THR_THREE_TIER_LOCKING
- OMR_THR_YIELD_ALG
- J9VM_GC_SUBPOOLS_ALIAS

[2020-01-17 18:04] jcflack commented on #8322
That approach sounds like the right approach; for the benefit of future archaeologists, I would just amend the description to say "the concern about `enqueue` causing `clear` to be called." (GC already Does The Right Thing.)

[2020-01-17 18:29] DanHeidinga commented on #8322
When I look through our code, the referent is nulled by the GC calling `enqueueImpl()` which eventually calls `enqueue`.  The GC isn't directly nulling the slot as it also requires a state field to be modified.   Our approach was to commonize that logic in java.

[2020-01-17 20:48] dusanboskovic opened #8335 "Make the output of the Trc_BCU_internalDefineClass_FullData tracepoint more human readable"
The Trc_BCU_internalDefineClass_FullData tracepoint should output data in a more human readable format, example below:

[code]

[2020-01-17 20:57] keithc-ca commented on #8302
As we discussed, the output is expected, if not useful: `traceformat` appears to map non-printable characters to `?`. The raw bytes of a class definition captured by `BCU internalDefineClass` are probably mostly non-printable.

[2020-01-17 21:17] DanHeidinga commented on #8335
I had to dig through a lot of internal history to find the purpose of that tracepoint.

The purpose is to capture the raw bytes from a class before it's defined using a command like:
[code]
It's defined at level 7 as it shouldn't be enabled by default.  Unfortunately, trying to make it more readable would make it less useful for the above purpose.

What brought it to your attention?

[2020-01-17 21:18] DanHeidinga commented on #8335
My preference would be to remove this tracepoint in the future and replace it with a new `-Xdump:classbytes` option to allow capturing classes at the defineClass call

[2020-01-17 21:47] ChengJin01 commented on #7684
The further investigation shows as follows:
[1] the `ClassFormatError` exception never occurred on the latest release & nightly build downloaded from AdoptOpenjdk.

[2] the exception almost occurs every time on the openj9-0.17.0 release build (from AdoptOpenjdk)
[code]
with the following steps:
[code]

[3] the exception only occurs with JIT on and was never triggered with JIT off. Meanwhile, the c

[2020-01-17 22:48] JasonFengJ9 opened #8338 "openjdk11_j9_extended.functional_ppc64_aix Failed to load alias map from resource: /com/ibm/j9ddr/StructureAliases23.dat"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-17 23:08] harryyu1994 commented on #8317
I have verified that 67a91ae works fine. This issue will remain open due to the NPE bug.

[2020-01-17 23:41] pshipton commented on #8338
Does this always fail, or is it intermittent? This is an IBM problem, not an OpenJ9 problem, pls handle it internally to IBM.

[2020-01-17 23:41] #8338 closed

[2020-01-18 00:13] ChengJin01 commented on #7684
Following the java stack traces:
[code]
[class_bytes.txt](https://github.com/eclipse/openj9/files/4079748/class_bytes.txt)
The passed-in class file can be written to a file as .class, in which case we are able to learn whether the constant pool was corrupted.

[2020-01-18 01:27] ChengJin01 commented on #7684
Just dumped the hex value from the core dump above to a .class file
[code]
[GregorSamsa.class.txt](https://github.com/eclipse/openj9/files/4079815/GregorSamsa.class.txt)

and it ended up with the ClassFormatError exception as follows:
[code]
against the code with the newly added tracepoint:
[code]

Also tried with Hospot and end up with pretty much the similar error:
[code]
So the VM does thing ri

[2020-01-18 14:08] pshipton opened #8339 "SyntheticGCWorkload_DoubleMap_J9_0 Segmentation fault"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly/259
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_xl_Nightly/46
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly/260
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_xl_Nightly/47
https://ci.e

[2020-01-18 14:26] pshipton commented on #8339
@amicic @bragaigor

[2020-01-18 14:38] bragaigor commented on #8339
It looks like these tests are using the promoted OMR PR eclipse/omr#4705 which was needed by eclipse/openj9/pull/8254 which got reverted. Meaning the SyntheticGCWorkload_DoubleMap_J9_0 would only work if both of these changes are there or none of them are there, and in this case only eclipse/omr#4705 is there by looking at the logs

[2020-01-18 14:46] pshipton commented on #8339
ok, I'll see if I can sort it out. Created #8340 to put back #8254, and I'll reopen #8326 to resolve the option name problem.

[2020-01-18 14:49] pshipton opened #8341 "ASSERTION FAILED at ./MarkingScheme.hpp:71"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/255
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_xl_Nightly/255
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly/258
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_windows_Nightly/255
TestJlmRemoteMemoryAuth_SE80_Linux_0

[2020-01-18 14:54] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/457
LambdaLoadTest_OpenJ9_NonLinux_special_21

[2020-01-18 14:55] bragaigor commented on #8339
Cool, yeah if those are in everything should work. I apologize for the trouble

[2020-01-18 15:12] #8339 closed

[2020-01-18 15:47] pshipton commented on #8321
#8326 is merged so I'll close this. Still remains to update the tests and change the options to the desired names, but I don't think we need this to track it.

[2020-01-18 15:47] #8321 closed

[2020-01-19 18:25] previousdeveloper commented on #6602
+1

[2020-01-20 13:20] JasonFengJ9 opened #8343 "curl: (56) GnuTLS recv error (-54): Error in the pull function"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_s390x_linux_xl_Nightly/50/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-20 13:30] JasonFengJ9 opened #8344 "openjdk11_j9_extended.system_s390x_linux_xl MathLoadTest_all_ConcurrentScavenge_0_FAILED Segmentation error vmState=0x00000000"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_s390x_linux_xl_Nightly/49/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

This is a `MathLoadTest_all_ConcurrentScavenge` test with `libj9gc29.so` in the native stacktrace, any chance related to https://github.

[2020-01-20 13:34] JasonFengJ9 opened #8345 "openjdk11_j9_extended.functional_x86-64_linux_xl SyntheticGCWorkload_DoubleMap_J9_0 Segmentation error vmState=0x00020004"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/250/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-20 13:36] JasonFengJ9 commented on #8345
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly/262/tapResults/

[code]

[2020-01-20 13:57] pshipton commented on #8345
This was already resolved, see #8339.

[2020-01-20 13:57] #8345 closed

[2020-01-20 13:58] DanHeidinga commented on #7684
Does Hotspot generate a similar error message for this class?  I'm wondering if there is a behaviour difference in how we treat it vs the RI.

[2020-01-20 14:00] jdekonin commented on #8343
File is clearly present as other pipelines have successfully retrieved and used the same binary download.  I found this doing a google search, might be how we have git compiled if it was indeed compiled from source and not via package manager.

Failure happened on ub16-390-6 (or ub16-390-2) once the updated machines configuration is posted.

https://devopscube.com/gnutls-handshake-failed-aws-codec

[2020-01-20 14:01] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/468
DaaLoadTest_daa1_special_22

[2020-01-20 14:06] pshipton commented on #8173
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_linux_OpenJDK/135

[2020-01-20 14:14] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal/45
LambdaLoadTest_OpenJ9_NonLinux_special_24

[2020-01-20 14:45] DanHeidinga commented on #8173
How reproducible is this?  Think we could capture a core with the right -Xdump option?

[2020-01-20 14:52] #8062 closed

[2020-01-20 15:07] mpirvu opened #8346 "Add client UID to javacore and compilation log"
For JITServer, each client has a unique ID which is provided to the server for each compilation request. In case there is a crash we would like to have this client UID printed in the javacore so that we can map it to activity printed in the vlog at the server. Similarly, a compilation log should have the UID printed in case there are several clients with the same options producing compilation logs

[2020-01-20 15:20] AdamBrousseau commented on #8343
similar #7900 ?
We saw similar errors recently internally on the zlinux Fyre machines. Hasn't been seen since the network for those instances was fixed, at least not that I am aware.

[2020-01-20 15:49] a7ehuo commented on #8317
Also observed the similar NPE at the client with Java 11 `jit_tr_0`. Haven't seen the same issue with Java 8 sanity locally.

[code]

[2020-01-20 17:22] ChengJin01 commented on #7684
The class (generated by XLST with OpenJ9) has a bogus entry in the constant pool (index= 68, string = `(Lcom/sun/org/apache/xml/internal/dtm/DTMAxisIterator;Ljava/lang/String;ILcom/sun/org/apache/xalan/internal/xsltc/DOM;)Z`) as follows:
![image](https://user-images.githubusercontent.com/18036229/72746189-7ea74c00-3b7f-11ea-98eb-6bb45c15be76.png)

in which case it can be captured by both OpenJ9 an

[2020-01-20 17:24] ChengJin01 commented on #7684
@fjeremic , the problem is not specific to macOS as it also occurs on Linux.

[2020-01-20 17:28] smlambert commented on #8173
You can append command line options to any test using EXTRA_OPTIONS parameter... (you may need to \"-Xdump:xxxxx\" if the option contains lots of special characters.
<img width="548" alt="Screen Shot 2020-01-20 at 12 26 06 PM" src="https://user-images.githubusercontent.com/2836948/72746416-1147eb00-3b80-11ea-8015-92ab81049742.png">

if that is not what you want to do, or the options use a lot of c

[2020-01-20 18:15] dmitripivkine commented on #8344
Yes, this failure looks like a duplicate of #8020

[2020-01-20 18:16] dmitripivkine commented on #8344
Closing as duplicate of #8020

[2020-01-20 18:16] #8344 closed

[2020-01-20 18:23] planetf1 commented on #7684
I was going to suggest that in parallel with your investigation I can switch my macOS environment (and/or others) to the latest nightly as I build many times a day :-) However I see adoptopenjdk are about to release  so will wait for that and then report any findings.

[2020-01-20 18:40] pshipton commented on #8173
My bad, running a grinder isn't helpful for this one. It's actually the build (compiling the jvm) that needs the environment variable set. @AdamBrousseau how can this be done?

[2020-01-20 18:47] AdamBrousseau commented on #8173
Could add it to variables file to test in a PR build.
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/variables/defaults.yml#L385

Alternatively, could do it in a personal build according to [this line](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/variables-functions.groovy#L587) you can pass param `BUILD_ENV_VARS` to top level build.

[2020-01-20 18:57] sharon-wang commented on #8189
Is this an intermittent issue? I have not been able to reproduce the failures so far.

Used the SHAs for the failed nightly above for a regular build and an XL build:
[code]

I have run the following tests more than 10x each without any failures:

[code]

and

[code]

[2020-01-20 19:47] bragaigor opened #8349 "Allow double mapping by default on Linux Platforms"
Created this issue to keep track of updates needed to allow double mapping by default on Linux platforms. None of the PRs depend on each other, this is just to organize the updates.

OMR: https://github.com/eclipse/omr/pull/4735 - merged

OpenJ9: https://github.com/eclipse/openj9/pull/8350 - merged

OpenJDK-tests: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1560 - merged

OpenJ9-docs: https

[2020-01-20 20:23] #2215 closed

[2020-01-20 22:05] keithc-ca commented on #8335
What Dusan suggests would have no effect on the example above using `output=...`.

People use the command `traceformat c:\170\boo` and then examine `c:\170\boo.fmt`. It's not helpful that a lot of information has been erased as `c:\170\boo.fmt` is produced. As I understand it, he's asking that there is a way to avoid that erasure.

[2020-01-20 22:44] pshipton commented on #8068
@jdekonin I've opened an Issue at Adopt for the tests https://github.com/AdoptOpenJDK/openjdk-tests/issues/1564. The JVM build needs to archive cores from the /cores directory. and remove them afterwards.

[2020-01-20 23:03] pshipton commented on #8189
Yes it is. The complete failure history is recorded above, failed twice in the last 19 days.

[2020-01-21 02:47] pshipton commented on #8173
Created #8348 to add the -Xdump option to osx and xlinux builds.

[2020-01-21 05:17] gacholio commented on #8341
I believe this will be fixed by reverting https://github.com/eclipse/omr/pull/4725

May also need https://github.com/eclipse/omr/pull/4737 to be merged.

[2020-01-21 05:38] ChengJin01 commented on #7684
After specified with:
`OPENJ9_JAVA_OPTIONS="
-Xjit:exclude={java/lang/ClassLoader.defineClass*},dontInline={java/lang/ClassLoader.defineClass*}
-Xdump:system+snap+java:events=systhrow,filter=java/lang/ClassFormatError,request=exclusive+prepwalk"`,
It still ended up with the same ClassFormatError exception intermittently:
[code]
Looking at the java stacktrace in this file:
[system_core_java_stacktr

[2020-01-21 10:08] adam-thorpe opened #8352 "JTReg Failure: java/io/Serializable/serialFilter/GlobalFilterTest.java on jdk8u242-b08"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac/121/
- test category: sanity.openjdk
- OS/architecture: all
- version: jdk8u242-b08
- jvm: openj9 only

Optional info
-------------
- intermittent failure (yes|no): no
- regression or new test: regression
- if regression, what are the last passing:
[code]
Failure output (captured

[2020-01-21 12:47] scikirbypoke opened #8353 "Performance problem of modded Minecraft"
java -version output
--------------------
openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-202001120429-b06)
Eclipse OpenJ9 VM (build master-6b1f6d9b5, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20200112_500 (JIT enabled, AOT enabled)
OpenJ9   - 6b1f6d9b5
OMR      - aabbee909
JCL      - a9857e68ed based on jdk8u242-b06)

Summary of problem
------------------
Running

[2020-01-21 14:06] pshipton opened #8354 "sanity.system AIX Can't open perl script"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly/262
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly/260
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/475/ - lambdaLoadTest
aix71-p8-7

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64_aix_Nightly/262
https://ci.eclipse

[2020-01-21 14:09] pshipton commented on #8343
This is happening quite often and interfering with proper testing and promoting acceptance build.

[2020-01-21 14:13] pshipton commented on #8354
@jdekonin @smlambert @llxia @Mesbah-Alam
any idea what is causing this failure?

[2020-01-21 14:16] pshipton opened #8355 "OSX system/stf/stf.build/include/top.xml:491: Cannot find one or more prereqs"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/760 - mathLoadTest
osx1011-x86-1

`00:44:17  /Users/jenkins/workspace/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/openjdk-tests/system/stf/stf.build/include/top.xml:491: Cannot find one or more prereqs.  See the above error messages.  Running 'make configure' or the ant configure target may get all the miss

[2020-01-21 14:17] pshipton commented on #8355
@jdekonin @smlambert @llxia @Mesbah-Alam
any idea what is causing this problem?

[2020-01-21 14:20] pshipton opened #8356 "HCRLateAttachWorkload UnsupportedClassVersionError"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_xl_Nightly/253
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_s390x_linux_Nightly/263
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_Nightly/249
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_ppc64_aix_Nightly/265
https://ci.eclipse.org/openj9

[2020-01-21 14:20] pshipton commented on #8356
@Mesbah-Alam seems this is caused by fixes for jdk14.

[2020-01-21 14:24] DanHeidinga commented on #7122
Has anyone used MAT (or similar tools) to validate what is holding onto the ClassLoader?  It would be good to know what strong root is keeping it alive.

[2020-01-21 14:28] pshipton commented on #8341
Also causing failures in extended.system testing.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/257/
ObjectTreeLoadTest_0

[2020-01-21 14:29] pshipton commented on #8341
@liqunl

[2020-01-21 14:38] chrisc66 commented on #8346
Looking into this issue...

Related files:
- generate random UID -> `runtimes/compiler/control/J9Options.cpp:line 1984` ->
- print UID at the beginning of client verbose log -> `runtimes/compiler/control/J9Options.cpp:line 1969`
- print UID in server javacore
- print UID in server compilation log

[2020-01-21 14:43] dnakamura commented on #8183
Still seeing some startup regressions on AIX, however according to the ddr blob it looks like the configuration changes aren't taking effect. Digging in to see if its ana actual configuration issue, or a bug with the cmake ddr handling.

[2020-01-21 14:49] ashu-mehra commented on #8346
For javacore, you need to look into `runtimes/rasdump/javadump.cpp`.

[2020-01-21 14:50] pshipton commented on #8352
@JasonFengJ9

[2020-01-21 15:20] Mesbah-Alam commented on #8355
I am not sure about the error received while wget was attempted to run on that machine:

[code]

However, the reason why it was run at the first place is because the systemtest.getDependency build did not contain ASM 7.3.

Please manually launch : https://ci.eclipse.org/openj9/job/systemtest.getDependency/ (I don't have permission to). This should will make sure we have ASM 7.3 pre-fetched and the

[2020-01-21 15:42] JasonFengJ9 commented on #8352
@adam-thorpe can you re-run the test with `JRE 1.8.0 Mac OS X amd64-64-Bit Compressed References 20200113_429` and confirm if it passes?

[2020-01-21 15:48] adam-thorpe commented on #8352
By that you mean the build at jdk8u242-b06 ?

[2020-01-21 16:14] adam-thorpe commented on #8352
Grinder failed using the build from `20200113_429`
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1827/

Original run definitely passed, same build:
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac/120/testReport/
@JasonFengJ9 @pshipton

[2020-01-21 16:24] DanHeidinga commented on #7684
Another option to try to track this down is to use jit limitFiles: https://www.eclipse.org/openj9/docs/xjit/#limitfile

If you generate a compile log from a failing run using `-Xjit:verbose,vlog=<vlog_filename>`, it can be used as a limit file control which methods are compiled in future runs.  This allows binary searching through the compiled methods to find a small(er) set of methods that cause

[2020-01-21 16:27] JasonFengJ9 commented on #8352
Got same failure in local run.

[2020-01-21 17:46] fjeremic opened #8360 "Investigate stack slot gaps for argument save area in private linkage"
Using the following program as a test bucket we compile it on Linux on Z and take a look at the log:
[code]

The trace log for `foo` when ran with the following options:
[code]

We can see some gaps in the locations where arguments are placed on the stack:
[code]

It would appear that the interpreter entry point may be forcing our hand here. The offsets seem to be 16-byte aligned at times. For exa

[2020-01-21 17:48] fjeremic commented on #8360
@joransiu FYI this is the reason why stack slots look spread apart. @gacholio / @DanHeidinga I think we have to follow the interpreter convention for the incoming arguments. Do you might know why `long` and `double` arguments need 16 byte slots on 64-bit?

[2020-01-21 17:53] Mesbah-Alam commented on #8356
https://github.com/AdoptOpenJDK/openjdk-tests/pull/1568 should fix this.

[2020-01-21 18:19] llxia commented on #8355
Relaunched: https://ci.eclipse.org/openj9/job/systemtest.getDependency/177/

[2020-01-21 18:28] Mesbah-Alam commented on #8355
Thanks @llxia .

@pshipton, The build that followed passed without the wget error: https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/762/consoleText

However, since https://ci.eclipse.org/openj9/job/systemtest.getDependency/177/ now contains asm-7.3, the test build will use the pre-fetched copy of asm 7.3.

This should fix this issue.

[2020-01-21 18:39] #8355 closed

[2020-01-21 18:42] pshipton commented on #8173
@keithc-ca is also trying to recreate the problem locally by building over and over, removing the jmods and image directory and the shared cache between every run.

[2020-01-21 18:42] #8356 closed

[2020-01-21 18:51] DanHeidinga commented on #8360
Primitive longs and doubles always consume two stackslots.  This is required by the jvm specification.

[2020-01-21 19:03] liqunl commented on #8341
I have reverted the change in https://github.com/eclipse/omr/pull/4739.

[2020-01-21 19:07] liqunl commented on #8341
Looking at one internal failure, it seems like we failed to heapify a local object. This is just a theory based on analysis of a core dump. I'm trying to get a trace log from a bad method.

[2020-01-21 19:14] AlenBadel commented on #4930
Based on advice from z/OS RSM folks we've decided to keep using fixed large pages within `-Xlp`, and `-Xlp<size>`.
The major reason for this decision is that Z/OS can not guarantee that pageable large pages can be backed with 1M pages, and the large page can be degraded to be backed with 4K pages. Currently, users expect that their applications will always use 1M large pages, and this behaviour is

[2020-01-21 19:41] gacholio commented on #8360
And, as always, the data is stored in the lower address slot, as ints are on 64-bit.

[2020-01-21 19:58] AdamBrousseau commented on #8343
re: git
This is curl-ing the file from Artifactory. Nothing to do with Git.

Could be how we're compiling curl
- https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/006a98886918ce9b00d083edda13c016957a8c2d/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/curl/tasks/main.yml
- https://stackoverflow.com/questions/38378914/git-error-rpc-failed-curl-56-gnutls

Although, looking at the zlinux

[2020-01-21 20:08] pshipton commented on #8354
@Mesbah-Alam did you have a chance to look at this one? I'm wondering if it's a dup of #8355, or if it still needs some investigation or a fix.

[2020-01-21 20:14] Mesbah-Alam commented on #8354
It is indeed a dup of https://github.com/eclipse/openj9/issues/8355

[code]

[2020-01-21 20:20] llxia commented on #8354
Grinder for `LambdaLoadTest_OpenJ9_NonLinux_special_12 ` passed: https://ci.eclipse.org/openj9/view/Test/job/Grinder/606/

[2020-01-21 20:33] fjeremic commented on #8360
Is a stack slot defined as 32-bit or 64-bit?

[2020-01-21 20:47] gacholio commented on #8360
A `slot` is a uintptr_t.  The reason for the spec is that the classfile has no idea whether it's going to run on 32/64/128 bit, so all slot numbers are pointer-size agnostic.

[2020-01-21 20:48] chrisc66 commented on #8346
Added client UID in client verbose log with option `-Xjit:verbose={JITServer}` specified, the additional line is `#JITServer: Identifier for current client JVM: XXXXXX`

The verbose log on client side looks like below:
[code]

Looking into javacore and compilation log...

[2020-01-21 21:41] #8354 closed

[2020-01-21 21:41] gacholio commented on #8360
For reference, here's the VM code that loads a long from the stack:

https://github.com/eclipse/openj9/blob/41598c546e17c9c84e1557a5dbf731f7da18a52e/runtime/vm/BytecodeInterpreter.hpp#L4748-L4759

Note the -1 on line 4754.

[2020-01-21 22:03] fjeremic commented on #8360
Thanks for the explanations, that makes sense now. I'll summarize this in a small comment which we can add near the JIT code so it is not a complete mystery to the next person who reads it.

[2020-01-21 22:50] ChengJin01 commented on #7684
After trying with `-Xjit:verbose,vlog=<vlog_filename>`  for many times (the exception often disappears due to the timing issue in JIT), I managed to reproduce the `ClassFormatError` exception with the jit vlog file recorded:
[code]
It seems there is at least 1 VM running for each job (totally 5 jobs was running in building the project).

Searching the log files shows only one XLST specific method

[2020-01-22 03:01] #8352 closed

[2020-01-22 04:27] mpirvu opened #8370 "NPE when compiling ConcurrentLinkedQueue.offer with JITServer and Java11"
The NPE has the following stack trace and is seen in several Java11 sanity tests:
[code]

It happens even if we compile with optLevel=noOpt.
A simple command line to reproduce it:
`"/home/mpirvu/FullJava11/openj9-openjdk-jdk11/build/linux-x86_64-normal-server-release/images/jdk/bin/java" -Xcompressedrefs -XX:-EnableHCR -Xjit:"count=0,optLevel=noopt,verbose,vlog=vlogutilc.txt,limit={java/util/concu

[2020-01-22 05:02] DanHeidinga commented on #7684
Assuming that the vlog for:
[code]
is:
[code]

The way to use the limit file is to figure out how many lines are in the file using a command like:
[code]
and then run the java application with ` -Xjit:limitFile=(vlog_jitfile.20200121.134706.28324, M,N)` where `M` and `N` are used to specify the range of the lines to use.  This allows binary searching to find a smaller set of methods related to the

[2020-01-22 05:36] ChengJin01 commented on #7684
Will do binary searching in the vlog file containing `TemplatesImpl.defineTransletClasses()` to see how it goes in this case.

[2020-01-22 06:32] #8322 closed

[2020-01-22 11:55] Mesbah-Alam commented on #8085
@JasonFengJ9 - could you please verify and close this issue?

[2020-01-22 13:13] pshipton commented on #6475
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_xl_Nightly/259

[2020-01-22 13:14] pshipton commented on #7088
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/732

[2020-01-22 13:58] pshipton commented on #8085
I've started the jdk14 system testing https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK14/1/ so we can see where we stand.

[2020-01-22 14:27] chrisc66 commented on #8346
I intentionally added a seg fault in the code and generated some javacore files.

There are several subcomponents in a javacore:
`LOCKS`, `TITLE`, `GPIINFO`, `ENVINFO`, `MEMINFO`, `NATIVEMEMINFO`, `THREADS`, `CLASSES`, `HOOK`, `CUDA`, `SHARED CLASSES`

Looks like JITServer client UID fits under `ENVINFO ` since this section provides JVM general state and options. I guess it makes sense to add / ch

[2020-01-22 14:43] mpirvu commented on #8346
My suggestion would be to replace `1CIJITSERVERID` with `1CICLIENTID`

[2020-01-22 14:56] chrisc66 commented on #8346
Sounds good, will do that.

The `ENVINFO` section in javacore would look something like below for a client JVM:

[code]

[2020-01-22 16:06] DanHeidinga commented on #8353
FYI @andrewcraik @vijaysun-omr @dmitripivkine

[2020-01-22 16:07] pshipton commented on #8085
Seems we broke jdk14 yesterday. It will be fixed shortly and then I'll try again.

[2020-01-22 16:09] mpirvu commented on #8370
Attn: @harryyu1994

[2020-01-22 16:34] harryyu1994 commented on #8370
@mpirvu Could you try assigning this issue to me?

[2020-01-22 17:43] andrewcraik commented on #8353
Thanks for the heads up - will get someone to get a basic setup and try doing a few benchmarks to see where it looks like the time is going so we can route it to the right experts.

[2020-01-22 18:01] a7ehuo commented on #7567
The server crash in `TR_Stack<TR::Node*>::pop` when running `JCL_Test_0` is intermittent. Tried to run 100 times and haven't been able to repro it. Also observed the same server crash once with `_UnsafeTests_0`: FR `1/30`. Tried `_UnsafeTests_0` again but haven't been able to reproduce it after `50` times of runs.

[2020-01-22 18:37] harryyu1994 commented on #8370
Some more information that may be useful:
The NPE was exposed by this commit https://github.com/eclipse/openj9/commit/9771d87a

[2020-01-22 18:54] mpirvu commented on #8370
I examined the code and I am pretty sure that those two missing break statements need to be there.
The missing break statements caused the code to fail the compilation because of a mismatch in terms of arguments when the server was sending the next query. This becomes apparent with a debug build.
So, the old code used to pass for the wrong reasons (it would still fail with a debug build though)

[2020-01-22 19:02] pshipton opened #8373 "sanity.openjdk jdk_net_0 httpserver/Test9a crash libcrypto"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Personal/1
jdk_net_0
TEST: com/sun/net/httpserver/Test9a.java
[code]

[2020-01-22 19:04] ashu-mehra commented on #8370
Got a simple recreate for the NPE in case it helps in further analysis:

[code]
Start the jitserver and then run the command:
`java -XX:+UseJITServer -Xcompressedrefs -Xshareclasses:none "-Xjit:count=0,disableAsyncCompilation,verbose={compilePerformance},vlog=jit.log,limit={*ConcurrentLinkedQueue.*}"  TestCase`

Without `-XX:+UseJITServer` there is no output. With the above command it throws the N

[2020-01-22 19:12] pshipton commented on #8373
@ashbm5 can you pls take a look

[2020-01-22 19:13] harryyu1994 commented on #8370
[code]

[2020-01-22 19:14] pshipton opened #8374 "sanity.openjdk Windows IOException: Access is denied"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-32_windows_Personal/1
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_windows_Personal/1
All tests fail with `IOException: Access is denied`
[code]
[code]

[2020-01-22 19:15] pshipton commented on #8374
@smlambert @llxia seems like a setup issue, any ideas?

[2020-01-22 19:24] pshipton opened #8375 "sanity.openjdk osx ivp6 network problems"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Personal/1
osx1014-x86-3
Numerous ipv6 tests are failing.

[2020-01-22 19:54] AdamBrousseau commented on #8343
Opened https://github.com/AdoptOpenJDK/openjdk-tests/pull/1572 to help debug curl side.

[2020-01-22 20:01] pshipton commented on #8343
On the bright side, while this occurred quite a bit two nights ago, we didn't see any of these last night.

[2020-01-22 20:37] pshipton opened #8376 "openjdk.sanity xlinux ERROR: No Xvfb installations defined"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Personal/1
cent6-x64-6
`12:41:53  ERROR: No Xvfb installations defined, please define one in the configuration. Once defined you’ll need to choose one under Advanced options for Xvfb plugin job settings and save job configuration.`

[2020-01-22 20:38] llxia commented on #8374
Sorry, I do not recall any special settings for openjdk tests on windows. @sophia-guo do you have any ideas?

[2020-01-22 20:39] pshipton commented on #8376
https://github.com/eclipse/openj9/issues/7520 mentioned Xvfb, which was supposed to be resolved by eclipse-cbi/jiro#61 but apparently not.

@jdekonin @smlambert Seems we need Xvfb

[2020-01-22 20:40] pshipton commented on #7520
I'll close this as a dup of https://github.com/eclipse/openj9/issues/8376

[2020-01-22 20:40] harryyu1994 commented on #8370
Reduced it even further
[code]

[2020-01-22 20:47] pshipton commented on #8085
Another attempt https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-JDK14/2/

[2020-01-22 20:52] pshipton commented on #8086
@Mesbah-Alam have you had a chance to look at this?

[2020-01-22 21:33] smlambert commented on #8376
To resolve this error on a machine we have admin access to, one would go to Manage Jenkins -> Global Tool Configuration (at the bottom of the page) and add a default xvfb installation (as shown):

<img width="1176" alt="Screen Shot 2020-01-22 at 4 32 32 PM" src="https://user-images.githubusercontent.com/2836948/72936276-da670600-3d34-11ea-9c54-51bf3412a1b8.png">

[2020-01-22 21:46] smlambert commented on #8375
Do those machines have IPv6 enabled?

We have the case at AdoptOpenJDK where the osx machines in Azure Devops cloud do not.  Ideally those upstream tests would be updated to check if ipv6 enabled, and skip if not.  If that option is not available, we may have to handle in a different way.

(possibly related: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1524)

[2020-01-22 22:30] JasonFengJ9 commented on #7839
Occurred today at an internal build `Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly/241` on `aix72p7rt1 (AIX 7.2)`

[code]

[2020-01-22 22:40] JasonFengJ9 commented on #7821
Still showing at an internal build `Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly/241` on `aix72p7rt1 (AIX 7.2)`.

[code]

[2020-01-22 22:44] JasonFengJ9 commented on #7913
Still happening at `Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly/241`

[code]

[2020-01-22 22:54] JasonFengJ9 opened #8377 "jenkins : ]: special characters are not allowed"
Failure link
------------

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-22 22:56] JasonFengJ9 opened #8378 "jenkins : Did not find any matching files. Setting build result to FAILURE."
Failure link
------------

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-22 23:36] smlambert commented on #8378
This issue does not link to any real example.  While I can search for the OpenJ9 jobs called by this name, it makes it easier to triage if you include links to real Jenkins jobs.  If its a report about internal jobs, you can still state that (even though you will not include internal links)

[2020-01-22 23:52] harryyu1994 commented on #8370
Post Optimization Trees:

With JITServer
[code]

Without JITServer
[code]

[2020-01-23 00:00] harryyu1994 commented on #8370
JITServer entering a different code here:

JITServer
[code]

NonJITServer
[code]

[2020-01-23 00:35] JasonFengJ9 commented on #8378
Yeah, this is from internal builds. I was hoping `Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/269` provides the hints to the actual links.

[2020-01-23 01:41] smlambert commented on #8378
Got it now, thanks!

[2020-01-23 03:23] pshipton commented on #8085
The extended.system tests are passing now so I'll close this one. The mauve tests are still failing as per #8086

[2020-01-23 03:23] #8085 closed

[2020-01-23 03:29] pshipton commented on #7821
@JasonFengJ9 I expect the internal problem is better as an internal infrastructure issue.

[2020-01-23 03:32] pshipton commented on #7913
@AdamBrousseau there is something wrong with the core files, which indicates a configuration problem   of the machines.

[2020-01-23 03:33] sophia-guo commented on #8374
Yes, looks like the setup issue. No same issue happened in AdoptOpenJDK windows test build.

The most errors are either calling `createTempFile` or `createTempDirectory`. Suspect the default Temporary Files Location value %TEMP%.

[code]
In adopt the jenkins windows TEMP is set as:

`02:34:11  TEMP=/cygdrive/c/Users/JENKIN~1.TES/AppData/Local/Temp`

What the %TEMP% in those Eclipse openj9 windows?

[2020-01-23 03:39] pshipton commented on #8375
I'm guessing not, since the tests are failing.
@AdamBrousseau @jdekonin ?

[2020-01-23 04:10] Mesbah-Alam commented on #8086
Sorry, this slipped through.

[code]

I don't know what changed in JDK 14 to be causing this issue. Should I exclude this test?

[2020-01-23 12:29] lumpfish opened #8381 "Assertion failed in J9ValueProfiler.hpp running DaaLoadTest_daa1_ConcurrentScavenge AIX jdk11"
Failure is in the jdk-11.0.6+10_openj9-0.18.1 release build:
[code]

Job link: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_ppc64_aix/4/consoleFull

Core dumps are currently at https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_ppc64_aix/4/artifact/system_test_output.tar.gz

- test category: system
- test target name: DaaLoadTest_daa1_ConcurrentScavenge_0
- OS/archi

[2020-01-23 13:11] lumpfish opened #8382 "Crash running openliberty_microprofile_tck_0 jdk8 linux x86-64"
Failure is on the jdk8u242-b08_openj9-0.18.1 release build:
[code]

Job link: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.external_openliberty-mp-tck_x86-64_linux/215/consoleFull

- test category: external
- test target name: openliberty_microprofile_tck_0
- OS/architecture, linux x86-64

Failure may be intermittent (it passed with openj9-01.8.0)

Failure output:
[code]

[2020-01-23 13:12] 0xdaryl opened #8383 "Assert in "IndexableObjectAllocationModel.cpp" w/ large heap + balanced"
Seen once in a PR build on PPC LE large heap build.  The PR being tested could not have caused this.

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_xl_Personal/28/
[code]

[2020-01-23 13:26] adamfarley commented on #7053
After some investigation and emails with the OpenJDK community, it seems this feature will not be accepted into upstream OpenJDK.

The change set required to add the feature into a modularity JDK is linked in the OpenJDK bug above, and a custom build could be generated with this change is the debug output is needed.

After asking around, it doesn't seem as if there is sufficient demand for this ch

[2020-01-23 13:28] bragaigor commented on #8349
All required updates have been merged. Closing this issue.

[2020-01-23 13:28] #8349 closed

[2020-01-23 13:38] pshipton commented on #8381
Closing as a dup of #7276

[2020-01-23 13:38] #8381 closed

[2020-01-23 13:39] pshipton commented on #7276
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_ppc64_aix/4
DaaLoadTest_daa1_ConcurrentScavenge

[2020-01-23 13:44] pshipton commented on #8382
@DanHeidinga fyi, but I don't see any diagnostic files to look at.

[2020-01-23 14:00] DanHeidinga commented on #7276
@r30shah Any luck with getting a ppc core to investigate?

[2020-01-23 14:10] pshipton opened #8385 "Linux XL extended.functional DisclaimMemory tests failing"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_xl_Nightly/51
testDefaultDisclaimMemory_zlinux_3
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/256
testSoftMxDisclaimMemory_3
testSoftMxDisclaimMemory_LP4k_3
testDefaultDisclaimMemory_3
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc

[2020-01-23 14:13] DanHeidinga commented on #7053
@adamfarley For the alternatives that were presented by the OpenJDK community, how many of them work on OpenJ9?
Does Healthcenter provide the equivalent info to the JFR events they mentioned?
Does the jcmd utility provide that functionality on OpenJ9?
Do the -Xlog options work?

It would be good to test these on OpenJ9 and figure out what info is available and then circle back to @sadaaithal to se

[2020-01-23 14:15] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/770
DaaLoadTest_daa3_special_20

[2020-01-23 14:15] pshipton commented on #8385
@amicic @bragaigor I'm guessing this is related to the double mapping change.

[2020-01-23 14:19] pshipton commented on #8385
Changes from previous passing nightly build
https://github.com/eclipse/openj9/compare/1f23268...229e6e2
https://github.com/eclipse/omr/compare/e1b09af...ab53ed3

[2020-01-23 14:27] pshipton opened #8386 "Mauve tests hanging with -Xgcpolicy:balanced"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/1088
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/1031
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_Nightly/1082
**MauveMultiThreadLoadTest_special_13**
variation: Mode551
JVM_OPTIONS: -Xcompressedrefs -XX:+UseCompressedOops -Xjit -Xgcpo

[2020-01-23 14:33] pshipton commented on #8386
@amicic @bragaigor could this also be a double mapping problem?

[2020-01-23 14:36] amicic commented on #8386
quite possible

[2020-01-23 14:54] pshipton commented on #8086
Since we don't fix them, yes it needs to be excluded from jdk14.

[2020-01-23 14:56] pshipton commented on #8383
@dmitripivkine fyi, I expect there is a core file in the test artifacts.

[2020-01-23 14:57] smlambert commented on #8382
https://github.com/AdoptOpenJDK/openjdk-tests/issues/1567#issuecomment-577716939

[2020-01-23 15:01] pshipton commented on #8349
Note I believe this change is causing failures that started in the builds last night.
https://github.com/eclipse/openj9/issues/8385
https://github.com/eclipse/openj9/issues/8386

Unless these can be quickly fixed or we can justify excluding them, my preference is to back out the change until we are ready to pass all the tests. The OpenJ9 model is to always remain green (pass all the tests).

[2020-01-23 15:17] dmitripivkine commented on #8383
@bragaigor Would you please take a look?

[2020-01-23 15:30] r30shah commented on #7276
@DanHeidinga I did some investigation from the macOS failure. I added some debugging info to the Assert here (https://github.com/eclipse/openj9/blob/05336fb58b3994ddea314666dbce1af5ddf8435f/runtime/compiler/runtime/J9ValueProfiler.hpp#L944) to see for what value we have duplicates, and at what index. So far it looks like assembly to check if we have value in the table or not is incorrect (https://

[2020-01-23 15:34] pshipton commented on #8374
@jdekonin can you please address the previous comment.

[2020-01-23 15:46] sharon-wang commented on #8189
Have not reproduced this failure after 1000+ runs, but `MathLoadTest_bigdecimal_0` did fail once on a different NPE which looks like: https://github.com/eclipse/openj9/issues/4005

[code]

Continuing to run tests to try to reproduce the NPE on VMAccess.addPackageToList...

[2020-01-23 15:51] adamfarley commented on #7053
@DanHeidinga
- Alternatives - Except for jcmd and Xlog, all of the options I mentioned are useful and seem to work find on OpenJ9 as they are Class Library based.
- Healthcenter - I don't know, as I wasn't aware Healthcenter was supported with OpenJDK on OpenJ9. Are we encouraging people to use Healthcenter with OpenJDK on OpenJ9?
- jcmd - On further examination, I don't believe so. It appears tha

[2020-01-23 16:04] DanHeidinga commented on #7053
We support the healthcenter tool as much as we can and encourage its use.  There are some difficulties in getting updated agents but those will hopefully be resolved in the future.

For Xlog, is the information equivalent for the classloading case?

[2020-01-23 16:04] #1116 closed

[2020-01-23 16:07] #7503 closed

[2020-01-23 16:21] adamfarley commented on #7053
Thanks for the update on Healthcenter.

As for Xlog, the answer is no; the information is not equivalent.

a simple testcase shows no output for -Xlog:all on OpenJ9, unless you get the format wrong (in which case it tells you how to use -Xlog correctly).

On Hotspot, -Xlog:all provides a lot of information, such as class validation, and the location that the class was loaded from.

Also, OpenJ9 sa

[2020-01-23 16:46] #8020 closed

[2020-01-23 17:14] JasonFengJ9 commented on #7122
Tried `Eclipse MAT` to load a core generated when `RuntimeException("ClassLoader was never enqueued!")` was thrown. There was no `URLClassLoader` instance.
It appears those instances are GCed immediately and not available in the `ReferenceQueue<ClassLoader>`.
The core files are at `/team/triage/gitissue7122`.

@dmitripivkine could you have a look?

[2020-01-23 17:17] jdekonin commented on #8374
The machines are all the same.  There is no restriction on jobs writing to /tmp.  Where is the job trying to write too?  Why is the job trying to create content outside of the workspace directory?  This leads to content clutter on the machines.

[code]

[2020-01-23 17:28] AlenBadel commented on #4930
While attempting to enable the xlpCodecache tests on AIX, I noticed we are printing the incorrect list of page sizes available.

  -Xlp:objectheap:pagesize=64K   large page size
                  available large page sizes:
                  4K
                  64K.  <--- 64K is listed.
                  16M
                  16G
  -Xlp:codecache:pagesize=64K    large page size for JIT code cache

[2020-01-23 17:37] dmitripivkine opened #8388 "Classes unloading threshold default is too high"
Classes unloading in Gencon is executed by Global GC only. So it is possible that in case if Global GC is not necessary for long period of time (Scavenge cycles handle keep heap in good shape) the large number of classes might be accumulated (not unloaded). To prevent this scenario GC might make a decision to execute Global GC instead of Local GC (percolate to Global). The real check is "If number

[2020-01-23 18:50] harryyu1994 commented on #8370
Pre IlGenOpt Trees
NonJITServer
[code]
JITServer
[code]

[2020-01-23 18:59] ChengJin01 commented on #7684
With the vlog file containing the unfinished JITed method `TemplatesImpl.defineTransletClasses()` at
[vlog_jitfile_limit.txt](https://github.com/eclipse/openj9/files/4104883/vlog_jitfile_limit.txt) (totally 8894 lines), I specified each the following options to run for 5 times (pretty slow) automatically with a shell script till the `ClassFormatError` exception was captured:
[code]
If there is no

[2020-01-23 19:15] pshipton commented on #7053
Note that `-Xlog` for OpenJ9 is currently a totally different option than for Hotspot. For OpenJ9 it controls which types of messages are sent to the OS console.
https://www.eclipse.org/openj9/docs/xlog/

[2020-01-23 19:25] sophia-guo commented on #8374
Test job with createTempFile creates an empty file in _the default temporary-file directory_ ( note it is jenkins user on cygwin).

There are some other access denied

[code]

Test could cleans up itself when exit(  f.deleteOnExit(); ), which is independent of jenkins job. Should no leftover issue.

[2020-01-23 19:29] mpirvu commented on #8388
It's hard to tell. The JIT has to go through all the methods that has compiled and cleanup runtime assumptions. I don't know if anonymous classes are likely to have fewer methods compiled and fewer runtime assumptions generated.

I am not aware of additional work being scheduled to improve class unloading time further. The last piece of work in this respect was delivered by @andrewcraik

[2020-01-23 20:01] Mesbah-Alam commented on #8086
Note: The same failure is seen on Test_openjdkNext_j9_sanity.system_x86-64_linux_Nightly/83 as well - so it is not specific to platform. I'll prepare an exclude for this test for JDK 14 altogether.

[2020-01-23 20:19] DanHeidinga opened #8389 "Support Notarization of Adopt builds before Feb 22"
There are some recent OpenJDK changes to support code signing of libraries and executables on OSX during the build process:
https://github.com/ibmruntimes/openj9-openjdk-jdk11/commit/1107ec4d46350db528981359ce5ebc44da45f907

Unfortunately, the OpenJ9 libraries are not participating correctly in this as seen in this build output (search for the "issues" section):
https://osxapps-ssl.itunes.apple.co

[2020-01-23 20:32] harryyu1994 commented on #8370
compareAndSet should have 3 parameters but JITServer only generated one of them.
[code]

[code]

[code]

[2020-01-23 20:43] andrewcraik commented on #8388
So the work I did reduced the time at the end of GC cleaning up the runtime assumptions table. There is still a lot of code running at the start of GC when the unload hooks are called and there is certainly scope for improvement in there. It is something that was on my list but slipped down due to other more pressing issues. I'm not sure when I/we will get to it, but there is scope to improve how

[2020-01-23 20:50] harryyu1994 commented on #8370
JITServer should have done this but didn't:
- in `getResolvedPossiblyPrivateVirtualMethod()`
[code]

[2020-01-23 20:54] manqingl commented on #8388
From the javacore file, I found more than 18000 classloader instances which load only 1 class.  I thought JIT had done some improvement for this scenario, but I could be wrong.

[2020-01-23 21:03] 0xdaryl opened #8390 "Exploit cached lastITable on Z, ARM"
I discovered that there is a `lastITable` field cached in the `J9Class` structure.  Presumably, the last ITable in a class where an interface lookup was found is cached, and the next time an interface dispatch is performed on this class the interface class is compared to the latest cached interface class and if there is a match a slower lookup can be skipped.

However, only the x86 and Power JIT b

[2020-01-23 21:23] andrewcraik commented on #8390
Probably worth exploiting everywhere - probably more of an oversight than a conscious choice.

[2020-01-23 21:29] harryyu1994 commented on #8370
The issue is confirmed to be resolved method caching related.
`export TR_DisableResolvedMethodsCaching=1` will make the problem go away.

[2020-01-23 21:37] mpirvu commented on #8370
I am guessing that we cached a NULL entry meaning the method was unresolved. The assumption was that it's ok to pretend methods are unresolved because this only has a performance implication. This is why the cache only lives for the duration of a compilation.

[2020-01-23 21:53] pshipton commented on #1538
FWIW, this is what I did to get HealthCenter running on a Java 11 build. It would also work to get the latest agent for OpenJ9 Java 8, just copy the files to the same directories. On Java 8, changing from iiop isn't required, nor the `-Xbootclasspath/a:` option.

Download a recent IBM Java 8 build from https://developer.ibm.com/javasdk/downloads/sdk8/

Copy the following files from the Java 8 buil

[2020-01-23 21:58] hangshao0 commented on #7053
I have an impression that the code of "ibm.cl.verbose" is patched to URLClassLoader only on Java 8. On Java 9 and up, patching both URLClassLoader and BuiltinClassLoader with the "ibm.cl.verbose" code should make it work.

[2020-01-23 23:35] brianeray opened #8393 "OpenJDK8-OpenJ9 Windows sun.management.FileSystem.isAccessUserOnly(File) incorrectly returns false"
Java -version output
--------------------
Problem Java:
[code]

Control Java 1:
[code]

Control Java 2:
[code]

Summary of problem
------------------
On Windows, specifically Windows 8.1 Pro and by some inference Windows Server 2012 R2 Standard, the implementaton of `sun.management.FileSystem.isAccessUserOnly(File)` is returning `false` under the OpenJ9 build given the following NT filesystem ACLs

[2020-01-24 03:25] harryyu1994 commented on #8370
Some information I've gathered, still a few things confuse me atm.
The issue is due to the cached entry returning a wrong method signature. (I'm not sure if we cached a NULL entry, will check tomorrow)
Unlike other normal methods, VarHandle and MethodHandle's method signature depends on its callsite, different callsite will potentially give you different method signatures.

In this case, the signa

[2020-01-24 04:40] devin122 commented on #8183
Looks like the aix configuration issues seems to have gone away after rebasing all my branches and doing a fresh jenkins build. I suspect a was passing a stale SHA in

[2020-01-24 08:41] knn-k commented on #7297
- OMR PRs: https://github.com/eclipse/omr/pull/4766, https://github.com/eclipse/omr/pull/4767, https://github.com/eclipse/omr/pull/4768, https://github.com/eclipse/omr/pull/4769
- OpenJ9 PRs: #8394

[2020-01-24 10:09] adamfarley commented on #7053
@hangshao0 - I mentioned in a subsequent comment that I found a way to make it work again. Perhaps I wasn't clear that I found a way to make it work *on modularity OpenJDKs*.

Modularity Java has a different structure for class loading, and required different messages, several extra debug methods, etc etc. Short version, if you added my change set (the one in the OpenJDK bug) into the JCL, it will

[2020-01-24 11:31] adam-thorpe opened #8395 "JTReg Test Failure: java/nio/channels/AsyncCloseAndInterrupt.java"
Failure link
------------
Version: 11+
Platform: Linux
Test suite: sanity.openjdk

Optional info
-------------
- intermittent failure (yes|no): no
- regression or new test: Old regression (first reported Sept 2018: https://github.com/AdoptOpenJDK/openjdk-tests/issues/602)

Failure output (captured from console output)
---------------------------------------------
Performance problem, test hits a t

[2020-01-24 13:22] pshipton opened #8396 "MauveMultiThreadLoadTest_0 NPE PropertyDescriptor.constructorTest2"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_s390x_linux_xl_Nightly/52
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly/267
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly/268
MauveMultiThreadLoadTest_0
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly/264
MauveSingleT

[2020-01-24 13:24] pshipton commented on #8396
@andrewcraik can you pls take a look, and either quickly fixed or the problematic change reverted until it can be.

[2020-01-24 13:45] pshipton opened #8397 "MathLoadTest bigdecimal ArrayIndexOutOfBoundsException or NPE"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly/778
MathLoadTest_bigdecimal_special_14
variation: Mode551
JVM_OPTIONS: -Xcompressedrefs -XX:+UseCompressedOops -Xjit -Xgcpolicy:balanced
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64_aix_Nightly/265
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/2

[2020-01-24 13:46] pshipton commented on #8397
@andrewcraik can you pls take a look, and either quickly fix or the problematic change reverted until it can be.

[2020-01-24 14:28] andrewcraik commented on #8397
A few things landed yesterday so we'll have a look and see what's up

[2020-01-24 14:28] andrewcraik commented on #8396
A few things landed yesterday so we'll have a look and see what's up

[2020-01-24 14:50] hangshao0 commented on #7053
Ah, I see.

[2020-01-24 14:55] pshipton opened #8398 "Cannot contact win2012r2-x86-5"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_Nightly/265

Pls check the machine to ensure it is reachable and if it needs any manual cleanup.

[2020-01-24 14:55] pshipton commented on #8398
@jdekonin @AdamBrousseau

[2020-01-24 15:25] jdekonin commented on #8398
Rebooted.  Machine is back online and taking jobs.

[2020-01-24 15:27] 0xdaryl opened #8399 "Exploit cached lastITable on Z"
This issue tracks the work to exploit the cached `lastITable` field in `J9Class` to improve interface dispatch on Z.  See #8390.

[2020-01-24 15:28] 0xdaryl opened #8400 "Exploit cached lastITable field on AArch64"
This issue tracks the work to exploit the cached `lastITable` field in `J9Class` to improve interface dispatch on AArch64.  See #8390.

[2020-01-24 15:29] 0xdaryl opened #8401 "Exploit cached lastITable field on ARM"
This issue tracks the work to exploit the cached `lastITable` field in `J9Class` to improve interface dispatch on ARM.  See #8390.

[2020-01-24 15:30] dmitripivkine commented on #7122
All ten classloaders have been unloaded in first (of 10) System GC

[2020-01-24 15:33] 0xdaryl commented on #5455
Exploit cached lastITable in JIT interface dispatch (#8390) : AArch64 (#8400), Z (#8399), ARM (#8401)

[2020-01-24 15:52] dnakamura commented on #8183
Looks like the aix configuration issues seems to have gone away after rebasing all my branches and doing a fresh jenkins build. I suspect a was passing a stale SHA in. Now working on resolving some other issues that seem to have popped up with the rebase

[2020-01-24 15:58] DanHeidinga commented on #7122
I feel like I'm missing something - if the referent was collected while the reference object was still alive, shouldn't the reference object have been enqueued?

[2020-01-24 16:02] #8398 closed

[2020-01-24 16:21] pshipton commented on #8383
Another one here https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_xl_OMR/39

[2020-01-24 16:27] dmitripivkine commented on #7122
Also I noticed there are no O-slots in the function frame, so function itself does not keep any object alive:
[code]

[2020-01-24 16:28] dmitripivkine commented on #7122
I am confused too. Can somebody explain step by step how this test suppose to work?

[2020-01-24 16:32] dmitripivkine commented on #7122
@JasonFengJ9 Would you please generate GC verbose log as well?

[2020-01-24 16:43] brianeray commented on #8393
@pshipton this is my first issue for this project. If it requires any further replication or information, let me know.

[2020-01-24 17:02] pshipton opened #8403 "Crash after creating large objects"
This test case crashes consistently on jdk8, at least on Windows.
Happens on the latest, 0.18.1, 0.17.0 and I think older builds as well.
[code]
`java -Xmx10g -Xdump:none Test`

[code]

[2020-01-24 17:29] JasonFengJ9 commented on #7122
The test [1] looks like following:
`loadAndRun()` creates & returns `PhantomReference ref` which is registered to `ReferenceQueue rq`. The `referent` is a local `URLClassLoader classLoader` instance.
[code]

`loadAndRun()` is invoked and returning `PhantomReference<ClassLoader>` is in a local `List<Future<PhantomReference<ClassLoader>>> refs`. There are 10 threads for such invocations.
[code]
The

[2020-01-24 17:30] JasonFengJ9 commented on #7122
I think this is what the test expects.

[2020-01-24 17:30] pshipton commented on #8393
Does it not happen on Windows 10, or you just don't know?

[2020-01-24 17:41] MNeuling opened #8404 "Java 8 x64: Running application causes a segmentation error vmState=0x000503ff"
Java -version output
--------------------
openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-b08)
Eclipse OpenJ9 VM (build openj9-0.18.1, JRE 1.8.0 Windows 10 amd64-64-Bit Compressed References 20200122_564 (JIT enabled, AOT enabled)
OpenJ9   - 51a5857d2
OMR      - 7a1b0239a
JCL      - 8cf8a30581 based on jdk8u242-b08)

Summary of problem
------------------
My Java applicatio

[2020-01-24 17:50] DanHeidinga commented on #8404
fyi @andrewcraik

[2020-01-24 17:55] andrewcraik commented on #8404
@liqunl could you take a look since this looks 292 related?

[2020-01-24 18:02] amicic commented on #8386
I was able to reproduce this. Seems like a shutdown problems. Not a deadlock though. A thread is spinning. From gdb stacktrace not clear where, but CPU profile shows this (not so suprising):

[code]

[2020-01-24 18:28] brianeray commented on #8393
Good idea. I have some Win 10 Enterprise VMs available. Testing on one of them ...

Yes. Replicated exactly.

[code]

As a side note anybody attempting replication should be running as the file owner (to simulate my Tomcat use case), otherwise the two HotSpot runs will not run to completion but rather throw `IOException: Access is denied` while OpenJ9 still finishes and returns `false`.

That may

[2020-01-24 18:39] pshipton commented on #8393
I got `zzTest.txt PETE2019W1\Administrator:(R,W)` setup, but isAccessUserOnly is returning false with Hotspot. I'll try creating a non-Administrator user.

[2020-01-24 18:42] brianeray commented on #8393
That'll align more closely with the user in my case; which is a less-privileged service user in this Active Domain.

[2020-01-24 18:55] pshipton commented on #8393
That worked, I've managed to recreate the isAccessUserOnly difference in behavior.

[2020-01-24 18:56] brianeray commented on #8393
Awesome! So it's not just some crazy idiosyncracy on my end.

Another scenario testing the inverse. This file is pretty much readable to anybody.

[code]

Behavior as expected across the board.

[code]

[2020-01-24 18:57] liqunl commented on #8404
The jitdump is empty, @MNeuling How reproducible is this? Is there a small test case that I can use to reproduce the failure on my own? Otherwise could you upload the core dump?

[2020-01-24 19:01] dmitripivkine commented on #7122
Somehow this verbose log does not match: I can not see class unloading events here as well as ten system GC back to back.

[2020-01-24 19:12] gacholio commented on #8403
The crash occurs in the JITted code for the main method.

[2020-01-24 19:14] gacholio commented on #8403
Does not seem to crash with `-Xint` (or at least not before my patience wore out).

[2020-01-24 19:15] gacholio commented on #8403
@andrewcraik

[2020-01-24 19:25] brianeray commented on #8393
Last test since realizing I'm one GA build behind the times.

[code]

Behavior in the "bug" use case is identical to 232.

[code]

[2020-01-24 19:30] Mesbah-Alam commented on #8086
https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/322 - should exclude the failing test. Please verify.

[2020-01-24 19:41] dmitripivkine commented on #7122
Also would be interesting to look to gc verbose log for Java 11 where this test works

[2020-01-24 19:55] andrewcraik commented on #8403
@cathyzhyi could you take a look?

[2020-01-24 21:20] pshipton commented on #8086
Testing here https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK14/4/

[2020-01-24 21:41] hzongaro commented on #8397
Grinder runs are not complete, but when I re-ran the https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/260 MathLoadTest_all_0 in Grinder, there were 15/100 failures.

Rerunning with `-Xjit:{java/math/Big*}(disableCFGSimplification)` thus far there are 0/47 failures.
Rerunning with `TR_disableTernaryOpForEA=yes` thus far there are 1/45 failures with
[code]

[2020-01-24 22:04] harryyu1994 commented on #8370
It turns out we are simply missing an extra step to restore the method signature for VarHandles after we create the resolvedMethod from cached _ramClass and cpIndex.
[code]

[2020-01-24 22:05] JasonFengJ9 commented on #7122
`verbosegc.20200124.212510.2710.txt` is at triage `jdk11` folder.

In addition, re-created system/java core files along with `verbosegc` at `jdk8` folder.

[2020-01-24 22:11] pshipton commented on #8397
Probably related https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_windows_OMR/4
DaaLoadTest_daa2_0
[code]

[2020-01-24 23:03] pshipton commented on #8086
@Mesbah-Alam There is still a failure
[code]

[2020-01-25 02:50] hzongaro commented on #8397
There was a failure in the Grinder run with `-Xjit:{java/math/Big*}(disableCFGSimplification)`, so I reran with `-Xjit:disableCFGSimplification`.  That saw 10/100 failures.
The Grinder run with environment variable `TR_disableTernaryOpForEA=yes` saw 1/100 failing.
So either the problem was caused by something else or both of those changes are capable of triggering the same problem.
I will rerun wi

[2020-01-25 04:40] Mesbah-Alam commented on #8086
I was under the impression that the error doesn't occur in the single thread invocation variant of the test. I've added the exclude for that variant as well : https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/323

[2020-01-25 12:33] hzongaro commented on #8396
Shelley @smlambert  was gracious enough to launch some Grinder runs for me based on the https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_s390x_linux_xl_Nightly/52 failure for `MauveMultiThreadLoadTest_0`.

- **[Base run](https://ci.eclipse.org/openj9/view/Test/job/Grinder/612/):**  66/100 failures
- **[`aternary` generation in Escape Analysis disabled](https://ci.eclipse.org/openj9

[2020-01-25 13:32] hzongaro commented on #8397
In a rerun with both CFG Simplification and generation of `aternary` in Escape Analysis disabled, I've seen 4/24 tests fail so far, so I think this failure is unrelated to either of those changes.  I will continue to investigate.

[2020-01-25 21:03] chrisc66 commented on #8346
Looking into compilation logs...

Below is the first few lines in a compilation log. In the case of collecting compilation log for a client JVM, client UID should be printed as the general compilation information.

My suggestion is adding a client UID in `<compile></compile>` block.
i.e. a new line pointed by below arrow should be added

[code]

[2020-01-27 11:14] adam-thorpe commented on #7624
Test is now showing 100% pass rate on 100x grinder, build from 29th Oct still showing ~70% pass rate so something along the way must have fixed this test case, closing and un-excluding.

[2020-01-27 11:14] #7624 closed

[2020-01-27 12:21] lumpfish commented on #7158
Test failed on jdk-11.0.6+10_openj9-0.18.1 release build with the
[code]
message and exit code 134 (SIGABRT ?):
[code]

[2020-01-27 12:50] MNeuling commented on #8404
I ran the application again in the eclipse IDE. Now the jitdump is no longer empty.
It's not easy to build a small test case. The problem occurs while massive CDI processing.

[dumps-without-core-20200127.132221.4868.0003.zip](https://github.com/eclipse/openj9/files/4117172/dumps-without-core-20200127.132221.4868.0003.zip)

[2020-01-27 14:32] mbarbero opened #8417 "Unable to declare *_TOOL_OPTIONS with -XshowSettings:vm"
Java -version output
--------------------
[code]
Summary of problem
------------------

When I add `-XshowSettings:vm` to either `OPENJ9_TOOL_OPTIONS` or `JAVA_TOOL_OPTIONS`, OpenJ9 fails with:

[code]

See steps below to reproduce

[code]

[2020-01-27 14:45] mpirvu commented on #8346
I agree with your choice above

[2020-01-27 14:47] DanHeidinga commented on #8417
Does `-verbose:sizes` give you the information you need?

`-XshowSettings` is an option that is parsed by the launcher, resulting in an upcall to a Java helper, while `*_JAVA_OPTIONS` are processed by the VM and are not seen by the launcher.

[2020-01-27 14:49] mbarbero commented on #8417
Yes, `-verbose:sizes` gives me what I need (and more). Issue is: it's less portable. I'd like to use `-XshowSettings` in `JAVA_TOOL_OPTIONS` as it would work with hotspot / openj9

[2020-01-27 14:50] pshipton commented on #8417
This is expected behavior, but I can see the User Guide needs some updates to make this clear. There is a partial list of options that won't work in the environment variables found in https://www.eclipse.org/openj9/docs/xoptionsfile/

[2020-01-27 14:54] pshipton commented on #8417
Created https://github.com/eclipse/openj9-docs/issues/487

[2020-01-27 15:00] pshipton commented on #8086
Testing here https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK14/5/

[2020-01-27 15:00] dnakamura commented on #8183
Still seeing regressions with the updated build on aix. Started writing a small python script to help compare compile command lines for differences

[2020-01-27 15:15] DanHeidinga commented on #8417
When testing with a version of Hotspot, I get similar behaviour:
[code]

[2020-01-27 15:20] mbarbero commented on #8417
My bad, I did not try with Hotspot. As I tried with openj9 first, I was just assuming this was a different behavior. I guess I should raise an issue against openjdk then. Sorry about the noise.

[2020-01-27 15:26] DanHeidinga commented on #8417
Thanks for raising the issue @mbarbero.  It helped highlight a short-coming in our documentation which we're fixing in eclipse/openj9-docs#487

[2020-01-27 15:26] #8417 closed

[2020-01-27 16:07] Mesbah-Alam commented on #8086
It's working now
[code]
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.system_s390x_linux_Personal/3/consoleText

[2020-01-27 16:44] mpirvu commented on #8257
@jdekonin It's ok for `ldconfig` to not display any proto related output because we only need the static library (at compile time). This is what I have on one of my Linux machines:
[code]
The presence of libprotobuf.so.9 in your example is suspicious. On another machine on which I have protobuf v3.5.1. with dynamic libraries I see `libprotoc.so.15` being present.
Looking on the internet, `libproto

[2020-01-27 16:46] ashu-mehra commented on #8228
JITServer, being a server, does not exit by itself. We need some mechanism to let the server process know that it needs to shutdown. We can do this by starting up a new process which would communicate to the jitserver process over socket, asking it to shutdown but then it would also allow any external process to terminate the jitserver (provided it can connect on that port).
We can use other IPC m

[2020-01-27 16:55] harryyu1994 commented on #8317
This issue is a duplicate of https://github.com/eclipse/openj9/issues/8370, closing

[2020-01-27 16:55] #8317 closed

[2020-01-27 17:22] mpirvu commented on #8228
@ashu-mehra Could you please detail the sequence of operations?
Who creates the named pipe? It should have the same permissions as the server.
If the server creates the named pipe and it is supposed to destroy it, what happens if the server dies before it has a chance to do so?
What happens if there are several servers on the same machine operating on different ports? We need different named pipes

[2020-01-27 17:41] fjeremic commented on #8390
Looking at the existing implementations it seems only x86 [1] is doing something of value. On x86 we place the `lastITable` check after all the PIC slot tests if there are more implementors of an interface than there are PIC slots. So the `lastITable` check guards the call out to the helper.

On Power [2] the sequence is disabled inline due to what seems to be an implementation TODO. The comment i

[2020-01-27 18:55] #8086 closed

[2020-01-27 19:38] ChengJin01 commented on #7684
Checked the range in `(6116,6671)` as follows:
[code]
Now keep narrowing down to the range in `(6238,6254)` (16 methods) to see how it goes.

[2020-01-27 20:22] #8396 closed

[2020-01-27 21:09] AleksNo opened #8422 "OpenJ9 ignores the -Xnoaot switch"
Hi, since version 0.17 OpenJ9 ignores the -Xnoaot-switch.

And it creates an image in the C:\Users\Username\AppData\Local\javasharedresources directory. I have tested it with Windows 10 64 bit. Version 0.18.1 is affected too. This issue is reproducible with every Java application i've tested.

Thank you

[2020-01-27 21:20] pshipton commented on #8422
Can you please give more details about what you are seeing and what you expect to see?
FWIW On a 0.18 build for Windows `java -Xnoaot -version` shows `(JIT enabled, AOT disabled)` which is the expected behavior.

This is expected because https://www.eclipse.org/openj9/docs/version0.16/#some-class-data-sharing-is-enabled-by-default

[2020-01-27 22:01] pshipton commented on #8393
I now understand why it doesn't work. Basically OpenJ9 has it's own implementation of the FileSystemImpl natives, and it's not implemented properly for Windows.

[2020-01-27 22:50] ymanton commented on #8390
The order of operations for interface dispatch is fundamentally different on Power than on x86.

On x86 the "cache" is actually in the immediate operands of the move instructions that feed the test; for each slot we initially generate a call to a helper and subsequently backpatch away said call into the move instruction with the newly cached class pointers encoded in its immediate operand.

On x86

[2020-01-27 23:39] brianeray commented on #8393
Interesting. If it's a `FileSystemImpl` [like the one here](https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/master/jdk/src/windows/native/sun/management/FileSystemImpl.c), that layer was the point at which I had to abort "bench debugging." C and Win32 are outside my expertise.

[2020-01-28 02:24] jdekonin commented on #4063
This work was completed.  The issue can close.

[2020-01-28 02:34] jdekonin opened #8424 "OpenJ9 Planned Maintenance outages 2020"
Sample list of some of the activities that would occur with a planned maintenance event.

- KVM host maintenance
- machine update (validate and/or trigger; reboot where kernel changes are pending)
- artifactory cleanup, as required
- jenkins job cleanup, as required

@rajdeep-singh @pshipton, any other activities you would add to this list.  Note that most of the activities here will mean little o

[2020-01-28 02:39] jdekonin opened #8425 "Investigate adding an artifactory server at UNB"
With the increasing number of machines located at UNB and the 1G interface for these machines to the outside world there has been failures that suspiciously appear to be bandwidth related when downloading the SDK under test.

This issue is to track discussion on what could be done to reduce the amount of traffic across the network thereby reducing the possibility of network congestion causing down

[2020-01-28 02:40] jdekonin commented on #8425
fyi @AdamBrousseau @pshipton

[2020-01-28 02:52] jdekonin commented on #8257
I was just getting back to this today.  I manually ran a compile on ub16-ppcle-1 with `--enable-jitserver` and then tested on ub16p8j91.  I don't appear to encounter the same `undefined symbol` failure.

I didn't change anything though.  Opened #8426 to enable.  I suggest we hit it with lots of PR builds though.

[2020-01-28 02:59] JasonFengJ9 opened #8427 "openjdk11_j9_extended.functional_x86-64_linux_xl SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0_FAILED"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/259/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
04:57:38  https://c

[2020-01-28 03:02] JasonFengJ9 opened #8428 "Exception creating connection to: 192.168.10.234 : NoRouteToHostException: No route to host (Host unreachable)"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/254/tapResults/
ub16x64j92

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-28 03:13] JasonFengJ9 opened #8429 "openjdk8_j9_special.system_ppc64_aix Segmentation error Compiled_method=java/math/BigInteger.multiplyKaratsuba(Ljava/math/BigInteger;Ljava/math/BigInteger;)Ljava/math/BigInteger;"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/512/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
01:01:00  https://ci.adoptopenj

[2020-01-28 04:00] #4063 closed

[2020-01-28 04:02] liqunl commented on #8404
@MNeuling a jitdump records replay of the crashed compilation. In this jitdump, the compilation has finished without crash. There isn't MethodHandle related trees. I suspect some methods have to be inlined in order to reproduce the crash. Could you run the application with the following java option?
[code]
Then upload the trace log. The name will be `trace.xxx`, i.e. `trace.` followed by thread id

[2020-01-28 04:05] pshipton commented on #8427
I believe this is a dup of #6777

[2020-01-28 04:05] #8427 closed

[2020-01-28 04:07] pshipton commented on #8428
@jdekonin

[2020-01-28 04:09] pshipton commented on #8429
@andrewcraik @gita-omr fyi

[2020-01-28 10:32] MNeuling commented on #8404
@liqunl I've tried both options.
The first run with option ```-Xjit:{com/sun/proxy/$Proxy1.hashCode()I}(traceFull,log=trace)``` doesn't crash. (see trace file)
[trace-13852.5987.20200128.110627.13852.zip](https://github.com/eclipse/openj9/files/4121869/trace-13852.5987.20200128.110627.13852.zip)

The second run with option ```-Xjit:disableJProfiling``` crashed like running without this option.
[du

[2020-01-28 11:20] lumpfish commented on #7158
PR to exclude test on jdk11 and jdk13: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1582

[2020-01-28 13:21] JensSchliesser opened #8431 "jre-11.0.6_10_openj9-0.18.1 in alpine docker image: unexpected bytecode in thunk archetype"
Hello,

**not sure if this is a open9j problem or an image problem....**:

we´re a running a few SpringBoot services in a Kubernetes cluster using the latest release alpine base images from https://hub.docker.com/r/adoptopenjdk/openjdk11-openj9 which contains jdk-11.0.6_10_openj9-0.18.1-alpine. In the new build we´re getting the following error

[code]

**No problems with the jdk-11.0.4+11_openj9-

[2020-01-28 13:29] DanHeidinga commented on #8431
fyi @andrewcraik & @cathyzhyi - looks like a crash compiling a 292 thunkArchitype:
[code]

[2020-01-28 13:34] pshipton opened #8432 "aix71-p8-1 through 4 offline"
aix71-p8-1 through 4 and offline. These are the only machines that can build the JVM.

[2020-01-28 13:35] pshipton commented on #8432
@jdekonin @AdamBrousseau

[2020-01-28 13:37] pshipton opened #8433 "cent6-x64 execvp: gcc: Permission denied"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/265
cent6-x64-1
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/264
cent6-x64-5
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/263
cent6-x64-5
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_xl_Nightl

[2020-01-28 13:40] pshipton commented on #8433
@jdekonin did something change on the cent6-x64 machines?

[2020-01-28 13:46] pshipton commented on #8428
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_xl_OMR/6

Disabling ub16x64j92

[2020-01-28 13:48] pshipton commented on #6475
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_xl_Nightly/57

@amicic @Mesbah-Alam What is the plan to fix this test? Should we exclude it until it can run properly?

[2020-01-28 13:51] pshipton commented on #8343
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly/272

[2020-01-28 14:00] pshipton opened #8434 "Error occurred for request PUT /artifactory"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/259
osx1011-x86-1
[code]

[2020-01-28 14:00] pshipton commented on #8434
@AdamBrousseau

[2020-01-28 14:02] pshipton commented on #8434
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_extended.functional_x86-64_mac_OpenJDK/98

[2020-01-28 14:09] rajdeepsingh1 commented on #8428
@pshipton This should now be resolved.

[2020-01-28 14:14] pshipton commented on #8397
I didn't see this occur in the builds last night (although we didn't get any AIX testing, and some linux testing didn't run either).

[2020-01-28 14:53] andrewcraik commented on #8429
@gita-omr could someone who knows how to drive AIX have an initial look? myself and other working on the optimizer will be very happy to collaborate if you find the problem looks to be in the optimizer somewhere.

[2020-01-28 14:54] jdekonin commented on #8433
Investigating.  There were compiler additions, but those should've been on the side and non-disruptive.  Apparently not so disruptive.

[2020-01-28 14:56] andrewcraik commented on #8431
@cathyzhyi can you add the appropriate bytecode and any others that might be relevant?

[2020-01-28 15:13] #8428 closed

[2020-01-28 15:16] pshipton commented on #8433
What are "compile additions"? Preparation for moving to gcc 7.5?

[2020-01-28 15:33] jdekonin commented on #8433
Yes adding gcc 7.5 and alternate build env script to set it up.  There was also a step that was suppose to symlink /usr/local/gcc to /usr/local/gcc-7.5, but the first path was missing a "local".  That action was removed from future use.  I've reinstalled the default gcc and I believe all 7 should be working again.

[2020-01-28 15:39] DanHeidinga commented on #8389
@gdams can you confirm the date Adopt is aiming to have the notarization work complete?  I wrote down Feb 22 following our discussion but google is indicating Feb 3.  I suspect I wrote it down wrong but confirmation would be appreciated :)

[2020-01-28 16:04] JasonFengJ9 commented on #8404
This is seen in internal builds as well.
[code]

[2020-01-28 16:13] hzongaro commented on #8397
There's something peculiar happening here.  If I do a grinder run of MathLoadTest_all_0 on x86-64_linux for a build that contains commit https://github.com/eclipse/openj9/commit/ed96ff0e14d4f810b80e1e37213dc14d2d07f3ed I still see the odd intermittent failure with an `ArrayIndexOutOfBoundsException` from `java.math.BigInteger.add` both with and without `-Xjit:disableCFGSimplification`, as I mentio

[2020-01-28 16:45] liqunl commented on #8404
@MNeuling Does the application crash every time without the trace option? Are you able to get a trace log from a failed run? If you're not able to get a trace log from a failed run, we still need a core dump to investigate. @pshipton Is there a way for user to upload a large core file (116MB)?

[2020-01-28 16:48] paulcheeseman opened #8435 "Feature Request: Add Exception message to Xdump's "stack" agent output"
I regularly use the Xdump `stack` option for debugging. This agent makes it very easy to see all the Exceptions that are being thrown, regardless of whether they are caught. The ability to expose swallowed Exceptions can be _extremely_ useful.

However, the usefulness is severely limited by the fact that the Exception message is not printed. So for example, you can't tell which class the JVM was l

[2020-01-28 17:01] liqunl commented on #8404
Since this is also seen in the internal testing, I'll look at the internal failure.

[2020-01-28 17:14] AdamBrousseau commented on #8425
Related #2637

[2020-01-28 17:17] fjeremic commented on #8390
Thanks for the excellent explanation @ymanton. Looking at Z we seem to have both x86 version and Power version implemented [1]. The x86 inline comparison via immediate is currently disabled by default. Given this it sounds like we should implement the `lastITable` cache in PicBuilder on Z, similarly to what Power did.

As part of this work we should dig up the microbenchmark which exercises this p

[2020-01-28 17:24] jdekonin commented on #8432
Seems these expired yesterday.  Working to restore/renew.  Hopefully @AdamBrousseau will have aix71-p8-1 back online shortly because we had an image of it.  The other 3 will take longer as they need to be rebuilt. Images are only good for restoring the host it was created from.

[2020-01-28 19:25] gita-omr commented on #8429
Hoping @MrTrader8 can start narrowing it down soon.

[2020-01-28 19:36] shanchao95 commented on #7908
/ibmruntimes/openj9-openjdk-jdk8#366

[2020-01-28 20:37] AdamBrousseau commented on #8343
My [change](https://github.com/AdoptOpenJDK/openjdk-tests/pull/1572) was just merged so the next time this happens we will hopefully have useful output.

[2020-01-28 20:38] pshipton commented on #8432
aix71-p8-1 is working for builds.

[2020-01-28 20:39] AdamBrousseau commented on #8434
Failed on different machines. Looks like it was attempting to retry but was just hung doing so.

[2020-01-28 20:40] dmitripivkine commented on #7122
There is a short summary what we got so far:
 - Test still fail in Java 8 even GC code has been switched to Java 11 mode. So the difference in handling of Phantom References in GC between Java 8 and Java 11 is irrelevant.
- GC verbose log shows number of discovered/cleared/enqueued Phantom References for each GC.
For Java 11 there are 62 alive Phantom References and 20 of them were cleared and enq

[2020-01-28 20:40] pshipton commented on #8432
I removed the ci.role.test from aix71-p8-1

[2020-01-28 20:45] AdamBrousseau commented on #8432
Opened https://github.com/eclipse-cbi/jiro/pull/79 to take care of the label in the event of a restart/redeploy.

[2020-01-28 21:17] AlenBadel opened #8437 "Missing default page size in verbose output on AIX"
Using the option `-verbose:sizes` should print out all available page sizes configured on the system for both the codecache and objectheap.

On AIX, the verbose output which lists the available page sizes that the codecache can use is missing the default page size of 64K. This happens even when verbose output verifies that it has committed to use 64K pages as the default page size.

**To reproduce

[2020-01-28 21:19] AlenBadel commented on #8437
(Reserved for Analysis to follow)

[2020-01-28 21:21] AlenBadel commented on #4930
I've raised an issue to track https://github.com/eclipse/openj9/issues/4930#issuecomment-577785110.

See: https://github.com/eclipse/openj9/issues/8437

[2020-01-28 21:21] BeverlyXu commented on #8353
@scikirbypoke We are looking into this issue. We have the minecraft installed with the modspacks (omnifactory and ATM3) you recommended, and was able to see the status via F3. Could you share more information on how to reproduce the problem? ie, did you see that on loading the game, or did you have to play for a period of time? What activities are more likely to cause the slow TPS? Did you play in

[2020-01-28 21:26] #8433 closed

[2020-01-28 21:31] ashu-mehra commented on #8228
Some more points that were discussed with Marius:
1. The named pipe would be created by the server.
2. We can use the port number or pid of the JITServer process to create a unique named pipe under user's home directory, just like we do for shared class cache.
3. If there are multiple JITServer's running, user would need a way to identify them when terminating them. Again, the pid can be one way t

[2020-01-28 21:56] #8386 closed

[2020-01-28 23:43] JasonFengJ9 commented on #7122
This `JDK8` test `ClassForNameLeak` uses `Lambda` expression to invoke `loadAndRun()` which holds (and _returns_) the `PhantomReference<ClassLoader>`.  However the returning reference is not hold by any variables outside of `loadAndRun()` and GC doesn't have root to discover these references. (There was an issue discussed about this GC limitation, @dmitripivkine do you happen to have a link to it?

[2020-01-29 02:55] smlambert commented on #8374
We run `printenv` at the beginning of every test run.

Looking at a [passing run on a windows machines at AdoptOpenJDK](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_sanity.openjdk_x86-64_windows/121/console), there is both a TMP and TEMP environment variable set.
<img width="565" alt="Screen Shot 2020-01-28 at 9 27 22 PM" src="https://user-images.githubusercontent.com/2836948

[2020-01-29 03:54] scikirbypoke commented on #8353
Just create a new world in single player and play as creative mode, look around until all nearby chunks loaded, and check the tick time. I have tested many worlds and it seems any world type would have the problem, but more complex the world is the more tick time it use(compare to hotspot). To check the tick time faster, you can use [debugserverinfo](https://www.curseforge.com/minecraft/mc-mods/de

[2020-01-29 10:18] MNeuling commented on #8404
@liqunl Yes, it crashes every time I start it without trace option. I have created a multipart zip archive containing the core dump from the crash two days before. To upload the part files I had to add the extension **.zip** to each file name. Please remove the **.zip** extension from each file and before you try to open it.

[core.20200127.132221.4868.0001.zip.001.zip](https://github.com/eclipse/

[2020-01-29 14:34] dmitripivkine commented on #7122
The reachability problem discussed here: http://thevirtualmachinist.blogspot.com/2011/07/subtle-issue-of-reachability.html

[2020-01-29 15:05] wbh123456 commented on #7474
- [x] Recognized on Power #7475
- [ ] Recognized on Z

[2020-01-29 15:37] mpirvu commented on #8228
Yes, but only if we are about to terminate the process.

[2020-01-29 15:54] adam-thorpe opened #8440 "[Perm exclude] JTReg Test Failure: java/lang/ClassLoader/LibraryPathProperty.java"
Failure link
------------
- Target: sanity.openjdk
- OS/architecture: all
- Versions: JDK11+

Optional info
-------------
- intermittent failure (yes|no): no
- regression or new test: old regression

Failure output (captured from console output)
---------------------------------------------
java.lang.ClassLoader.initializePath is not supported in openj9, creating this as sort of dummy issue so tha

[2020-01-29 16:03] fjeremic opened #8441 "Improve checkcast fallthrough on Z"
While investigating a miscellaneous issue we came across the following tree and evaluation sequence of a `TR::checkcast` IL:

[code]

The `CGRJ` + `BRC` sequence is suboptimal. The `BRC` is a branch to the OOL sequence for a call to the checkcast helper, meaning this is the least frequent path. The `CGRJ` should therefore be changed such that the target is the fallthrough.

This sequence is a resu

[2020-01-29 16:24] fjeremic opened #8442 "Provide common implementation of setParameterLinkageRegisterIndex"
Similarly to the existing eclipse/omr#4246 (@0xdaryl FYI) the OpenJ9 `J9::PrivateLinkage` class is common across all architectures. In fact, looking at the implementation of this API [1] [2] [3] [4] across various codegens we can see that the code is almost identical. x86 code generator does not appear to use this API which should be changed, so as to remain consistent with the other codegens and

[2020-01-29 17:34] AdamBrousseau commented on #8432
Update:
- `#1` restored from image. In the farm for build-only
- 5,7,8 in use for test
- openj9 2,3,4 omr 1,2 recreated. Will need to be setup from scratch
- `#9` loaned to OMR

[2020-01-29 18:01] pshipton commented on #6475
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_xl_OMR/9

@Mesbah-Alam can you please exclude this test, only for large heap builds if possible.

[2020-01-29 18:57] pshipton opened #8446 "win2012r2-x86-1 Failed to clean the workspace"
Disabled the machine for now.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_windows_Personal/102
[code]

[2020-01-29 18:57] pshipton commented on #8446
@jdekonin

[2020-01-29 19:02] ChengJin01 commented on #7684
Checked the range in (6238,6254) (16 methods) as follows:
[code]
Now keep checking the compiled methods in `(6251, 6254)` (only 4 methods):
[code]

[2020-01-29 19:03] JasonFengJ9 commented on #7122
The link and the insights about this kind of issue I was looking for is https://github.com/eclipse/openj9/issues/5325#issuecomment-479107547.

[2020-01-29 19:04] jdekonin commented on #8446
Just happened to be on this machine...rebooting it now.

[2020-01-29 19:20] fjeremic commented on #8360
Just for reference the following section in the specification talks about `long` and `double` variables taking up two stack slots:

[1] https://docs.oracle.com/javase/specs/jvms/se12/html/jvms-2.html#jvms-2.6.1

[2020-01-29 19:30] #6753 closed

[2020-01-29 19:31] #6360 closed

[2020-01-29 19:31] #5720 closed

[2020-01-29 19:34] jdekonin commented on #8446
Rebooted and manually cleaned that directory without issues.  Machine brought back online.

[2020-01-29 19:35] #8440 closed

[2020-01-29 19:35] #8446 closed

[2020-01-29 19:36] #8370 closed

[2020-01-29 19:46] pshipton commented on #8374
@jdekonin fyi Shelley's comment https://github.com/eclipse/openj9/issues/8374#issuecomment-579569564

[2020-01-29 20:00] vsebe commented on #8424
Update jenkins shell to `/bin/bash` on Ubuntu 16 machines. Currently `SHELL=/bin/sh`.

[2020-01-29 20:06] sharon-wang commented on #8189
Still unable to reproduce. Will keep an eye out for relevant failures to try to get a better idea of the root cause.

[2020-01-29 20:20] mpirvu commented on #6939
Solved by #8185

[2020-01-29 20:20] #6939 closed

[2020-01-29 21:28] pshipton commented on #8434
Maybe related?

The following has been uploading for the last ~2 hours.
https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64le_linux_Personal/672
[code]

[2020-01-29 21:31] pshipton commented on #8434
More. Could artifactory be out of space, or having problems?
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_Personal/80
[code]
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_Personal/9
[code]

[2020-01-29 22:13] keithc-ca commented on #8389
See also:
- https://github.com/ibmruntimes/openj9-openjdk-jdk14/pull/9
- https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/165
- https://github.com/AdoptOpenJDK/openjdk-build/pull/1510

[2020-01-29 22:32] pshipton commented on #8434
All UNB machines, perhaps just temporary connectivity problems.

[2020-01-29 22:42] jdekonin commented on #8374
Machines are connecting to jenkins differently, otherwise I don't see anything playbook specific that would address the setting of the env.  TEMP is now defined in the machine configuration.  Pete launched a grinder to see what else fails.
https://ci.eclipse.org/openj9/job/Grinder/620/console

Just jdk_security1_0, any suggestions as to what is needed if this is a system configuration issue?
[code

[2020-01-29 22:49] keithc-ca opened #8449 "Fix issues relating to jitserver"
In the discussion before https://github.com/eclipse/openj9/pull/7940 was merged, several issues were deferred:

- [x]  #8219
- [x]  #8220
- [x]  #8228
- [x]  #8229

These issues should be resolved before jitserver ceases to be considered a 'tech preview'.

[2020-01-29 22:50] keithc-ca commented on #8449
FYI @ashu-mehra @mpirvu

[2020-01-29 23:13] marcusdroy commented on #8431
We've also encountered the same issue for a dockerized Spring Booot 2 application.

Partial log:

[code]

[2020-01-29 23:14] JasonFengJ9 opened #8450 "JEP 358 design and implementation notes"
## Overview of JEP 358: Helpful NullPointerExceptions

JEP 358 [1] provides extended messages for the NullPointerException (NPE) generated by JVM.

Current NPE comes with a non-null message supplied in a constructor or `null` particularly when it was created by the JVM.  An NPE stacktrace contains the method, filename, and line number where the NPE occurred. However a single line of code may conta

[2020-01-29 23:22] jdekonin commented on #8374
Make env vars stick in jenkins config
https://github.com/eclipse-cbi/jiro/pull/80

[2020-01-30 03:56] JasonFengJ9 opened #8451 "cent6-x64-5/6/7 are marked offline"
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_OMR/465/console
[code]

https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_xl_OMR/473/console
[code]

This is not really a test failure.
@pshipton could you replace the tag with infra instead? thanks.

[2020-01-30 03:59] JasonFengJ9 opened #8452 "Build_JDK8_x86-64_linux_cm_OMR fatal error: ut_j9bcu.h: No such file or directory"
Failure link
------------

https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_OMR/464/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-01-30 11:08] mreuvers opened #8454 "java.lang.ClassNotFoundException: during object deserialization in openjdk11.06 with openj9"
Hi there,

Below follows a reproduction case for a deserialization problem we have encountered in our software after an upgrade to the latest JDK (openjdk11.06 with openj9), we came from 11.05 openj9 previously. We would like to see this fixed, as we don't want to advise our customers to not use openjdk with openj9.

This occurs *only* at the 11.06 version with OpenJ9, it works fine on 11.05 with

[2020-01-30 12:45] pshipton commented on #8432
On aix71-p8-1 we're missing a bootjdk to build jdk15 (jdknext). Pls also check for a bootjdk for jdk14.
`00:45:46  configure: error: The path given by --with-boot-jdk does not contain a valid Boot JDK`

[2020-01-30 12:51] pshipton commented on #8434
Seems all testing is now failing due to artifactory problems.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly/265/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/263/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly/259/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9

[2020-01-30 12:55] pshipton opened #8455 "cent6-x64-5 - 7 are offline"
https://ci.eclipse.org/openj9/computer/cent6-x64-5/log
[code]

[2020-01-30 12:56] pshipton commented on #8455
@jdekonin

[2020-01-30 13:11] keithc-ca commented on #8389
@DanHeidinga I can't access the second URL in description (at apple.com). Can you provide a sample of that build output or a better URL?

[2020-01-30 13:38] jdekonin commented on #8455
@rajdeep-singh, it appears looking at #5 that alternatives is not working for java although I can see that java8 is clearly there.  Looks like there was some "damage" when moving the instance to the other frame.

[code]

[2020-01-30 13:39] pshipton commented on #8434
It seems passing testing are transffering results to artifactory, not sure when that started to occur. @llxia mentioned KEEP_REPORTDIR may be set to true. Looking at artifactory space reports, it started creeping up around Dec 19th.
@smlambert fyi

[2020-01-30 13:41] pshipton commented on #8434
Seems https://github.com/eclipse/openj9/pull/7780 may be related.

[2020-01-30 13:45] jdekonin commented on #8432
jdk13 is present now.  jdk14 and jdknext both reference this as the bootjdk.

[code]

[2020-01-30 13:49] DanHeidinga commented on #8389
I don't have a cached copy of that information.  It was showing the warnings / errors when submitting a build to the apple notarization service that indicated the OpenJ9 libraries were not notarized & didn't have secured timestamps(?).

Maybe @gdams has a more recent link he can share?

[2020-01-30 14:01] pshipton commented on #8434
Even PR testing is uploading test results to artifactory.

[2020-01-30 14:03] llxia commented on #8434
Due to space limitation in Artifactory, I think we should set  `KEEP_REPORTDIR ` to true for test builds that need JUnit test results only (i.e., openjdk test builds).

[2020-01-30 14:04] adam-thorpe commented on #3940
Can confirm this is still an issue. Managed to reproduce multiple times on multiple platforms, eg.
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2013

I believe the problem lies in:
[code]
Test does not print this line out in the stdout (above line is grabbed from a hotspot run), which means that the test exited in this sub-test.

StdErr:
[code]

[2020-01-30 14:04] DanHeidinga commented on #8454
@theresa-m Can you take a look at this?  It sounds like an issue with the LUDCL optimization

[2020-01-30 14:10] DanHeidinga commented on #8454
@mreuvers Does the issue still occur with the LUDCL optimization disabled?  Can you do a run with `-Dcom.ibm.enableClassCaching=false`?

[2020-01-30 14:12] pshipton opened #8457 "cent6-x64-4 ip address incorrect"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly/261
cent6-x64-4
`Exception creating connection to: 192.168.10.206`

[2020-01-30 14:12] pshipton commented on #8457
@jdekonin

[2020-01-30 14:18] iamavieira opened #8458 "SIGINT signal being ignored for Apache Kafka when zookeeper is down"
java -version output
--------------------
openjdk 11.0.6 2020-01-14                                                                                                                                                                            OpenJDK Runtime Environment (build 11.0.6+10-post-Ubuntu-1ubuntu118.04.1)

[2020-01-30 14:20] DanHeidinga commented on #8452
fyi @dnakamura

[2020-01-30 14:21] pshipton commented on #8434
@jdekonin fyi

[2020-01-30 14:25] DanHeidinga commented on #8458
@iamavieira The `java -version` output doesn't appear to be from an OpenJ9-based JDK.  Can you retest with OpenJ9 builds from AdoptOpenJDK and confirm this still occurs?

[2020-01-30 14:25] AdamBrousseau commented on #8451
Default java not found on the system. Likely related to gcc7 upgrade. cc @jdekonin
![image](https://user-images.githubusercontent.com/6430052/73457803-41427b80-4342-11ea-99ed-e24dc5d2336b.png)
I see a playbook run in the bash history.
[code]

[2020-01-30 14:27] AdamBrousseau commented on #8451
dup #8455

[2020-01-30 14:29] pshipton commented on #8458
It seems this question would be better asked to Kafka. The JVM is passing the signal to the app, it's up to the app how the signal is handled.

[2020-01-30 14:29] #8458 closed

[2020-01-30 14:30] AdamBrousseau commented on #8434
I can work on adding `KEEP_REPORTDIR` based on test target. Similar to what I did in #8421 . @llxia Is the sanity.openjdk suite the only one where this is really needed?

[2020-01-30 14:32] pshipton commented on #8451
Joe responded in #8455 so I'll close this one as a dup.

[2020-01-30 14:32] #8451 closed

[2020-01-30 14:34] pshipton commented on #8452
Closing as a dup of #8166

[2020-01-30 14:34] #8452 closed

[2020-01-30 14:36] pshipton commented on #8434
We also need to clean up artifactory and reduce the space being used. Ideally removing the passing test results while keeping the failing results. It seems possible the recent artifactory problems are related to it being so full.

[2020-01-30 15:04] pwagland commented on #8454
@DanHeidinga

From the initial comment:

[2020-01-30 15:06] mreuvers commented on #8454
@DanHeidinga

Yes that works, see also the "Additional notes" section for more details in my initial comment.

[2020-01-30 15:31] pwagland commented on #7671
@keithc-ca not sure if you meant that this doesn't affect openJ9 or not, but the code at https://github.com/eclipse/openj9/blob/master/jcl/src/java.base/share/classes/java/lang/StringBuilder.java#L749 shows the exact problem mentioned here. Specifically, if `currentCapacity <= Integer.MAX_VALUE`, then `newCapacity` becomes negative, and we use the `min` value.

One option would be to add something

[2020-01-30 15:32] DanHeidinga commented on #8454
Thanks @mreuvers.  I missed that in in the initial reading.

[2020-01-30 15:39] theresa-m commented on #8454
Yes looking to solve the issue.

[2020-01-30 15:50] mreuvers commented on #8454
No problem @DanHeidinga and thank you both for looking into it.

[2020-01-30 16:35] jdekonin commented on #8457
The ip on this system changed yesterday to 192.168.10.250 but that was closer to 4-5pm, 6+ hours before this test ran.  We connect to the machine via ip, maybe the DNS wasn't updated to that point??  Can we run a grinder targeting this machine?

[2020-01-30 17:33] llxia commented on #8434
I think we should set true for all openjdk builds, not limited to sanity.openjdk only. I am not sure what is the plan to run other openjdk tests, but `extended.openjdk` and `special.openjdk` jobs are created in OpenJ9 Jenkins. For example,
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.openjdk_ppc64_aix_Nightly/

[2020-01-30 17:40] AdamBrousseau commented on #8434
No runs on that job. I don't think we run other openjdk levels at the moment. Pete can confirm. Can add the others now or later.

[2020-01-30 18:14] dnakamura commented on #8183
While crunching numbers I noticed that there were some large outliers in my baseline runs which were throwing off the numbers. With a new baseline, startup is within the noise, however footprint is up 50%. Looking into the issue, but I suspect its a trivial mistake on my part. Also working on getting a zlinux build for benchmarking

[2020-01-30 18:22] AdamBrousseau commented on #8434
Last night's issues were unrelated to original issue in desc.
Root cause
https://github.com/AdoptOpenJDK/openjdk-tests/pull/1585
Artifacts are no longer getting compressed. Stewart is working on a fix.
I'm still going through trying to find offending files.

[2020-01-30 19:01] pshipton commented on #8434
The first goal is to get sanity.openjdk working at OpenJ9, issues blocking that are in https://github.com/eclipse/openj9/projects/14. Once sanity is working we could try other levels as well.

[2020-01-30 19:09] dusanboskovic opened #8461 "DDR displays wrong information for elements inside of an ArrayList"
The information for the elements inside an ArrayList is not being shown properly
[code]
It should be displayed without the extra "f"'s (might be due to sign extension?)

Dumping the memory at the addresses:
[code]

[2020-01-30 20:25] #7671 closed

[2020-01-30 20:33] pshipton commented on #8457
Trying https://ci.eclipse.org/openj9/view/Test/job/Grinder/623/

[2020-01-30 21:17] theresa-m commented on #8454
The problem with my original pull request https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/226 is that the ludcl should be refreshed for every new call to readObject not just when a user code is invoked during read object.
Running some further testing and perf benchmarks.

[2020-01-30 22:09] pshipton commented on #8457
@jdekonin still failing the same way `Exception creating connection to: 192.168.10.206`

[2020-01-30 22:48] pshipton commented on #8374
Updated the jdk_security1_0 failure comment with more information, although still not helpful. It's using the MSCAPI Provider, which is Windows specific. Googling found https://docs.genesys.com/Documentation/PSDK/latest/Developer/TLSSecurityProviders which mentions certmgr.msc, not sure if that helps.

[2020-01-30 22:50] pshipton commented on #8431
Perhaps this is related as well https://github.com/eclipse/openj9/issues/3940#issuecomment-580267955

[2020-01-31 02:30] knn-k commented on #7023
#7944 is merged.  Closing.

[2020-01-31 02:30] #7023 closed

[2020-01-31 02:32] knn-k commented on #6636
#7202 was merged three months ago.  Closing.

[2020-01-31 02:32] #6636 closed

[2020-01-31 03:41] pshipton opened #8470 "Windows configure: error: C compiler cannot create executables"
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Nightly/283
win2012r2-x86-2
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-32_windows_Nightly/281
win2012r2-x86-3
[code]

https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_windows_Nightly/286/
win2012r2-x86-6
https://ci.eclipse.org/openj9/job/Build_JDK14_x86-64_windows_OpenJDK14/5
win2012r2-x86-1
[code]

[2020-01-31 03:42] pshipton commented on #8470
@jdekonin guessing your Windows tinkering broke it.

[2020-01-31 09:33] adam-thorpe commented on #4094
Test still fails with the same conditions as above. Information about the test and archive here: https://bugs.openjdk.java.net/browse/JDK-4331349

[2020-01-31 10:28] adam-thorpe commented on #3377
Update on the issue, it still occurs. It is a consistent failure on windows, all jdk versions

[2020-01-31 13:49] jdekonin commented on #8374
@vsebe is this something that you have seen with any of our internal windows test wrt machine configuration requirements?

[2020-01-31 14:37] pshipton commented on #8457
cent6-x64-3 also has a problem. https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/263/ timed out running JvmCpuMonitorMXBean API tests which I believe is an IP address problem as per #7820.

[2020-01-31 14:38] pshipton commented on #8457
I've taken the two machines offline until this can be resolved.

[2020-01-31 14:40] pshipton commented on #8434
The original problem is still happening.
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_mac_OpenJDK14/5
[code]

[2020-01-31 15:03] jdekonin commented on #8457
@rajdeep-singh any thoughts?

[2020-01-31 15:34] a7ehuo opened #8473 "JITServer Java 11 ppc64le linux StringPeepholeTest_0 Failed"
Java 11 sanity test `StringPeepholeTest_0` fails with [JITServer in ppc64le linux](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_jit_Personal/53/console).
Also ran it in [Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/5918/tapResults/), FR: `5/5`. Haven't observed this issue in `x86 linux`.

So far the client seems to always cra

[2020-01-31 15:58] vsebe commented on #8374
Nothing related to certificates in WMI.

[2020-01-31 16:21] rajdeepsingh1 commented on #8457
@jdekonin these were built off of cent6-x64-1 - I've noticed that old IPs come up in Jenkins at times for only some machines. cent6-x64-2 was cloned the exact same way but seems to be ok.

I've modified the local /etc/hosts on the machines themselves and gave them a reboot just now which usually resolves the issue (as seen in previous cases such as ub16x64j92 I believe).

@pshipton can these be en

[2020-01-31 16:27] pshipton commented on #8457
I'll enable them, but let regular PR builds and nightly builds test them.

[2020-01-31 16:27] #8457 closed

[2020-01-31 16:56] jdekonin commented on #8470
I unset the TEMP env var in the machine config on win2012r2-x86-6 if you can direct a compile job at it I'd appreciate that.  I logged on each machine, 1-3 appeared fine, but 4-6 each had a “something really bad happened” windows.

I hadn't made any changes on the machines at all.

[2020-01-31 16:58] ChengJin01 commented on #7684
Checked the range in `(6251, 6254)` (only 4 methods) as follows:
[code]
So the problematic method compiled by JIT is
`com/sun/org/apache/xalan/internal/xsltc/compiler/ParentLocationPath.translateStep(...)` as follows:
[code]

To confirm the method is the only one in the vlog file to trigger the exception, I moved the method to the bottom of the vlog file.
[vlog_jitfile_limit2.txt](https://github.c

[2020-01-31 17:05] ChengJin01 commented on #7684
In addition, the error message `Could not load the translet class 'die.verwandlung.GregorSamsa'.: JVMCFRE068 class name is invalid; class=, offset=0` is misleading as it doesn't reflect the real problem captured in the constant pool (the problem is a class name string stored in the constant pool is invalid rather than the class name of this class to be verified).

I will check the code there to se

[2020-01-31 17:16] theresa-m commented on #8454
List of prs for this issue to help keep track:

Java 8: TODO
Java 11: https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/260
Java 13: TODO
Java 14: TODO
Java next: TODO

[2020-01-31 18:44] fjeremic commented on #7684
@ChengJin01 so this looks like a JIT issue. Are the instructions from https://github.com/eclipse/openj9/issues/7684#issuecomment-575807566 still valid to reproduce? IIRC you mentioned there were some issues in specifying options as child JVM processes were created or something. Are you able to detail what steps to use to specify custom JVM options to the test as well? We can take a look from the J

[2020-01-31 18:48] gita-omr commented on #4930
Reviewing the design above:

XX:LargePageSizeInBytes= | Ignored | Set large page size specified by user. (Z/OS) Will use pageable large page with specified <size>.  If that large page is not configured, will use the next closest default  large page size. Preferring pageable large pages, as in -XX:+UseLargePages.
-- | -- | --

1) What does it mean "next closest default"?
2) What if the alternative

[2020-01-31 18:52] pshipton commented on #8470
Fixed via https://github.com/eclipse-cbi/jiro/pull/81 I hope. Meanwhile I've fixed the machine manually.

[2020-01-31 18:52] #8470 closed

[2020-01-31 18:56] gita-omr commented on #4930
(Z/OS) -Xlp | Objectheap chooses the largest default fixed large page configured on the system up to 1M. The codecache ignores this option.
-- | --
1) is there more than one default out of which we choose largest? Did you mean "supported by HW and OS" ?

[2020-01-31 19:13] theresa-m commented on #8454
@mreuvers if you are interested in trying out the fix with your product before it's made its way into the nightly builds I've linked a JDK11 linux build:
https://drive.google.com/open?id=1MRJi-vsDqFRxQ5-1Ph0KD9nr3da32AYH

[2020-01-31 19:21] ChengJin01 commented on #7684
@fjeremic,  as mentioned earlier at https://github.com/eclipse/openj9/issues/7684#issuecomment-575807566,  the problem can be reproduced every time if with the steps as follow:
[vlog_jitfile_limit2.txt](https://github.com/eclipse/openj9/files/4140965/vlog_jitfile_limit2.txt)
[code]
The current JDK version I am running is `0.17.0`
[code]
if you need to repeat building the project, you'd better to r

[2020-01-31 19:46] dmitripivkine commented on #4930
right. And what means "largest"?

[2020-01-31 20:02] pshipton commented on #4094
Is it failing on jdk8? If so this should be fixed by #3475

[2020-01-31 20:43] hangshao0 commented on #7494
I've updated the description to a design. FYI: @pshipton @DanHeidinga

[2020-01-31 20:59] AdamBrousseau commented on #8434
The one in the first link is 5GB. Odd to me because there were no test failures. Possibly resolved by #8459 .

[2020-01-31 20:59] 0xdaryl opened #8475 "AArch64 MemoryReference crash with no base register set"
There are circumstances where AArch64 memory references are being created without a base and index register, leading to crashes in the JIT.

For example, running SPECjbb2005 results in the following tree after GVP:
[code]
This results in a memory reference being created without a base or index register.

The memory reference logic needs to be hardened such that memory references are always created

[2020-01-31 22:00] AdamBrousseau commented on #8434
Pretty sure 8459 will resolve our space issues. Test artifacts were ranging from 500M to 5G. Manually cleaned up a bunch of builds. Space isn't reported as being recovered yet. Hopefully it will after a few cycles otherwise we may need a reboot or more investigation.

[2020-01-31 22:17] joaomfrebelo commented on #4557
My NB10 and NB11.2 did work for a time with adoptOpnejdk and opneJ9 in Java projects, when i started with php projects the netbean crashes on startup when is starting to open the opened project that was opened in last time that netbeans was closed. With adoptOpenJDK Hotspot or Oracle Hotsopot works well, moving again to openJ9 continue crashes, move again to Hotspot and did well again.

[2020-01-31 23:17] a7ehuo commented on #8473
Reproduced the crash locally. The received `clazz` from the server is NULL.
Tried to add tracing in `JITServerHelpers::getRemoteROMClass()` at the server side, then I'm not able to reproduce the crash at the client any more.

[code]

[2020-02-01 00:09] pshipton commented on #4557
@joaomfrebelo Better to open a new Issue I think. Pls follow the "Report a user problem" template and provide the details requested.

[2020-02-01 19:02] mreuvers commented on #8454
@theresa-m thank you for the quick fix! I hope to test it this Monday, I'll let you know how things went.

[2020-02-01 20:35] JasonFengJ9 opened #8478 "openjdk11_j9_sanity.system_s390x_linux_xl LambdaLoadTest_ConcurrentScavenge_0 Segmentation error at Module=/lib/s390x-linux-gnu/libc.so.6"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_xl_Nightly/61/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
04:17:48  https://ci.adopto

[2020-02-02 20:54] gacholio commented on #8189
The code in question is this:
[code]

So this seems much more likely to be a JIT issue than a VM one.

[2020-02-03 06:20] knn-k commented on #8475
I opened https://github.com/eclipse/omr/pull/4801 to fix this.

[2020-02-03 07:26] mreuvers commented on #8454
@theresa-m I've tested with your linked jdk and it seems the issue has been resolved based on a quick test done on our product. Things work again as they did before.

Any idea when a  patch release can be expected (roughly)?

Thank you again for the quick fix.

[2020-02-03 09:18] adam-thorpe commented on #4094
Yes it was failing on 8, 11 and 13

[2020-02-03 13:44] theresa-m commented on #8454
@mreuvers it is targeted for the 0.19.0 Java 14 release which will be coming out in mid March.

However it will be available in the nightly builds at AdoptOpenJDK the day after the pr is merged. https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9

[2020-02-03 14:26] rajdeepsingh1 commented on #8455
@pshipton This was corrected last week, should be good to go for cent6-x64-5 - 7

[2020-02-03 14:28] #8455 closed

[2020-02-03 14:32] AdamBrousseau commented on #7112
Has this happened since the last comment?

[2020-02-03 14:52] pshipton opened #8482 "x86-64_windows MauveSingleInvocationLoadTest_special_22 JIT crash"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Personal/59
MauveSingleInvocationLoadTest_special_22
variation: Mode688
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xjit:count=0 -Xgcpolicy:gencon -Xaggressive -Xconcurrentlevel0
win2012r2-x86-4
[code]

[2020-02-03 14:55] adam-thorpe opened #8483 "JTReg Test Failure: java/util/logging/LogManagerAppContextDeadlock.java"
Failure link
------------
- test category: sanity.openjdk
- OS/architecture: aix
- Version: JDK 11+

Optional info
-------------
- intermittent failure (yes|no): no
- regression or new test: old regression
- if regression, what are the last passing:
[code]
^ Release jdk-11.0.4+11 build. jdk-11.0.5 throws the error

Failure output (captured from console output)
-------------------------------------

[2020-02-03 15:00] andrewcraik commented on #8482
This looks like some other crashes which I think @liqunl is looking into where the backtrace looks like a 292 thunk archetype, but the offset is ridiculously large. FYI @liqunl this might be a dup of the stuff you are already looking at.

[2020-02-03 15:08] JasonFengJ9 commented on #8483
It appears `OperatingSystemNotificationThread.java` missed an `AccessController.doPrivileged()`.

[2020-02-03 15:10] mpirvu commented on #8473
For the same test I see an assert failing with a debug build on x86:
[code]

[2020-02-03 15:43] pshipton commented on #8478
@amicic @dmitripivkine fyi. It didn't crash directly in the GC, but GC appears involved.

[2020-02-03 15:45] pshipton commented on #8483
@JasonFengJ9 were you planning to fix it?

[2020-02-03 15:48] pshipton commented on #7112
I haven't seen it.

[2020-02-03 15:48] #7112 closed

[2020-02-03 15:49] JasonFengJ9 commented on #8483
sure, it seems a straightforward one.

[2020-02-03 16:02] dnakamura commented on #8183
Wind:
Fighting through some issues to get windows to build properly on jenkins (local build works fine).

Zlinux:
seeing ~7% regression in start up time, running throughput tests now.

AIX:
SOlved issue with debug symbols which drops foorprint regressions from ~50% down to a more reasonable 2.5%. However in doing so startup is now  at a 4.7% regression. I don't think its a result of my changes, bu

[2020-02-03 16:08] pwagland commented on #8454
@theresa-m will this also be available in java 11? At the moment we are in state that we can’t deploy the latest Java 11 OpenJ9, from there the question.

[2020-02-03 16:19] gita-omr commented on #8189
Have we tried -Xint?

[2020-02-03 16:27] sharon-wang commented on #8189
Yes, however I haven't been able to reproduce the failure with or without `-Xint`

[2020-02-03 16:31] adam-thorpe commented on #8395
Timeout is also seen on hotspot, not sure how I found a 30 second run, needs more investigation. Closing as this isn't openj9 specific

[2020-02-03 16:31] #8395 closed

[2020-02-03 16:51] AdamBrousseau commented on #8425
Brain-dump:
- Logic gets a bit fancy because of 1) OSU p machines and 2) UNB VPN
- Map of Art servers: index geo.
- Default server - geo (osu)
- Test pipe gets geo (local), build desc gets Default
- Do we support plinux osu/unb cross? (ub16). Machines are labelled `ci.geo.xxx`.
   - Yes
   - Note, moving to rh7. https://github.com/eclipse/openj9/issues/7791 Shouldn't matter since we will move both

[2020-02-03 16:53] ashbm5 commented on #8373
@shanchao95 please try to reproduce

[2020-02-03 17:04] liqunl commented on #8482
@andrewcraik The one I'm looking at is #8404 which is a compilation crash. It crashes in VM, which means the JIT calls out to VM and crashes there. The thunk archetype in the backtrace is misleading, and is a result of missing pdb files. The crash should have nothing to do with JSR292. Given that this is not a compilation crash, I don't think it's a dup of #8404

[2020-02-03 17:07] dmitripivkine commented on #8478
I have seen similar failure before. Most likely crashed in Barrier code. I will try to find previous item as well as look to the core file

[2020-02-03 17:09] mpirvu opened #8485 "JITServer assume failure with Java8 sanity JCL_Test_SE80_0"
The assume triggers with a debug build.
More info:

VMState: 0x00050080
field attributes from client and cache do not match
compiling java/io/File.delete()Z at level: no-opt

[2020-02-03 17:14] theresa-m commented on #8454
Ah yes. Sorry my answer is a bit misleading. The next OpenJ9 Java 11 refresh is actually 0.20 which is targeted for April.
It will be applied to the nightly build in Java 11 once merged.

[2020-02-03 17:19] dmitripivkine commented on #8478
I have seen similar failure https://github.com/eclipse/openj9/issues/8344 but after brief investigation I decided it is a duplicate of https://github.com/eclipse/openj9/issues/8020 fix of each has not been promoted at the moment (Initialization of Concurrent Mark at the time of Concurrent Scavenger running). Seems it was not correct. We are going to look to this.

[2020-02-03 17:27] dmitripivkine commented on #8478
@RSalman Would you please take a look?

[2020-02-03 17:53] #8475 closed

[2020-02-03 18:39] keithc-ca commented on #8461
@dusanboskovic Can you please share the output of `hexdump 0xF8DB8A60` from that core file to confirm I have reproduced the problem?

[2020-02-03 18:49] JasonFengJ9 commented on #8483
@adam-thorpe is the failure reproducible in latest nightly builds? is it platform specific?

[2020-02-03 19:14] dusanboskovic commented on #8461
Here is the output:
[code]

[2020-02-03 19:51] mpirvu commented on #8485
@harryyu1994 could you please look into this defect? Thanks

[2020-02-03 19:53] harryyu1994 commented on #8485
@mpirvu got it. Could you please assign this item to me? thanks!

[2020-02-03 20:14] fjeremic commented on #7684
I tried to reproduce this locally on WSL and could not do it. I also tried a clean Ubuntu 18.04 VM (Fyre) with 8-cores 256GB from a fresh install using the following sequence of commands:

[code]

I could not reproduce the issue. It was always succeeding:

[code]

I also tried using the exact same build as @ChengJin01:
[code]

I could not reproduce with this build either. The SCC in `~/javasharedr

[2020-02-03 20:22] dmitripivkine commented on #8478
There is suspicious that seems both crashes (this and https://github.com/eclipse/openj9/issues/8344) copy of large array by multiple threads occur. Investigating.

[2020-02-03 20:22] ChengJin01 commented on #7684
@fjeremic , as for your questions,
[1] The problem only occurs on `0.17.0` and was never detected on `0.18` or upwards.
[2] You must remove the whole `egeria ` folder and clone a new one for your build; otherwise, the problem won't show up as there a bunch of garage data generated in `egeria`
[3] make sure the `.m2` directory (created by maven) is deleted before running every time.

[2020-02-03 20:23] pshipton opened #8488 "ub16p8j93 IOException: Remote call on ub16p8j92,93 failed"
Two jobs in a row failed on ub16p8j93. I've disabled the machine.

https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_ppc64le_linux_OpenJDK14/7
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_ppc64le_linux_OpenJDK14/8
[code]

[2020-02-03 20:24] pshipton commented on #8488
@jdekonin

[2020-02-03 20:25] pshipton commented on #8488
and now it's failed on ub16p8j92 as well, so perhaps not a machine problem.
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_ppc64le_linux_OpenJDK14/9

[2020-02-03 20:25] pshipton commented on #8488
@AdamBrousseau

[2020-02-03 20:31] ChengJin01 commented on #7684
It will stop automatically once the exception occurs.

[2020-02-03 20:40] AdamBrousseau commented on #8488
similar #7410. In the past we've rebooted but I don't know if these fix themselves or if they're fixed by reboot or neither.

[2020-02-03 20:41] AdamBrousseau commented on #7155
Still an issue?

[2020-02-03 20:43] AdamBrousseau commented on #6797
I think this issue is a side-effect of having a `cleanWs()` in a finally stage. It always tries to cleanup even if the machine has been disconnected. Therefore I don't think there is anything to do here.

[2020-02-03 21:56] pshipton commented on #7579
Opened https://github.com/AdoptOpenJDK/openjdk-build/issues/1521
I believe this is completed now.

[2020-02-03 21:56] #7579 closed

[2020-02-03 22:25] a7ehuo commented on #8473
I'm not able to reproduce the assert on `x86`.

Running the debug build on `ppc`, I ran into a completely different `assert`

[code]

[2020-02-03 22:41] pshipton commented on #8488
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_Personal/81
ub16p8j93

[2020-02-03 22:50] pshipton commented on #8488
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_Personal/82
ub16p8j95

[2020-02-03 23:04] #6797 closed

[2020-02-03 23:05] pshipton commented on #7155
Nope.

[2020-02-03 23:05] #7155 closed

[2020-02-04 01:15] #8483 closed

[2020-02-04 01:21] #8454 closed

[2020-02-04 01:35] pshipton commented on #8488
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64le_linux_xl_OMR/14/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_OMR/13/
ub16p8j92

[2020-02-04 01:39] pshipton commented on #8488
I've disconnected and brought back both ub16p8j92 and ub16p8j93.

[2020-02-04 01:41] pshipton commented on #8488
There are a bunch of errors in the ub16p8j92/93 logs, I think these machines should be rebooted.
[code]

[2020-02-04 03:05] knn-k opened #8491 "-fstack-protector appears twice in compiler command line"
GCC option `-fstack-protector` appears twice in a command line as shown below.

(x86-64) https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_Personal/653/consoleText

(aarch64) https://ci.eclipse.org/openj9/job/Build_JDK11_aarch64_linux_xl_Personal/112/consoleText

[2020-02-04 03:27] mpirvu commented on #8473
I tried to log the failing method and now I am getting a different assert that happens when trees are printed in the log:
[code]

[2020-02-04 03:27] #8461 closed

[2020-02-04 03:40] mpirvu commented on #8473
We are asking for `switch (node->getInt())` and expect a number between 4 and 11, but the value is -1
[code]

[2020-02-04 03:41] mpirvu commented on #8473
This also looks suspicious to me:
[code]

[2020-02-04 03:46] aviansie-ben commented on #7276
While I was looking through the code for adding keys to the JProfiling table, I discovered a race condition involving `otherIndex` which I suspect (though cannot confirm) to be the original cause of this issue. I've opened #8492 to get that race condition corrected.

[2020-02-04 05:16] knn-k commented on #7297
Compressed refs build can run some applications now.

[2020-02-04 08:29] knn-k commented on #8491
The first `-fstack-protector` comes from `GLOBAL_CPPFLAGS` while the second one comes from `GLOBAL_CFLAGS` or `GLOBAL_CXXFLAGS`.  Those variables are added to `CONFIGURE_ARGS` in runtime/gc_glue_java/configure_includes/configure_*.mk.

omr/omrmakefiles/rules.mk uses those variables to define `COMPILE_C_COMMAND` and `COMPILE_CXX_COMMAND`.
https://github.com/eclipse/omr/blob/860175f66102ceab885d3ef7

[2020-02-04 09:58] knn-k commented on #8491
runtime/makelib/targets.mk.linux.inc.ftl and runtime/makelib/targets.mk.osx.inc.ftl also add `-fstack-protector` to `CPPFLAGS` for various platforms.

[2020-02-04 10:51] SueChaplain commented on #8184
Does this require a doc: external label please?

[2020-02-04 13:15] jdekonin commented on #8488
I rebooted the machines and still had issue connecting them to jenkins.  Same errors as posted above plus one.  `Machine already connected`.  It did seem to work itself out eventually and the machines connected.  Time will tell if it was machines or jenkins.

uptime on both machines was 73 days.  Quick look at the system and it appeared to be healthy.

[2020-02-04 13:38] keithc-ca commented on #8389
The changes linked above omitted signing `libcrypto.dylib` for builds configured with `--enable-openssl-bundling` - that was addressed by:
* https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/371
* https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/372 (for 0.18.1)
* https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/261
* https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/26

[2020-02-04 13:38] #8389 closed

[2020-02-04 13:40] pshipton opened #8493 "extended.system x86-64_linux ConcurrentLoadTest_0 testStress IllegalStateException"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/271
ConcurrentLoadTest_0
ub16x64j94
[code]

[2020-02-04 13:41] pshipton commented on #8493
15x grinder https://ci.eclipse.org/openj9/job/Grinder/625/

[2020-02-04 17:13] mpirvu commented on #8473
I bypassed the error by transforming the assume into a printf.
The offending tree is:
[code]
This is generated by the inlining done by VP.

[2020-02-04 18:25] mpirvu commented on #8473
For a run without JITServer the treetop above looks like this:
[code]

[2020-02-04 19:30] mpirvu commented on #8473
So, during VP we try to inline `"java/lang/StringCoding$Result.with([CII)Ljava/lang/StringCoding$Result;"`
The initial trees are looking like this:
[code]
We do this step:
[code]
and the trees become bad:
[code]

[2020-02-04 19:35] mpirvu commented on #8473
That transformation comes from:
[code]

[2020-02-04 19:40] non-conformances-research opened #8499 "Collections.addAll must throw a NullPointerException"
Specification of Collections.addAll method (https://docs.oracle.com/javase/8/docs/api/java/util/Collections.html#addAll-java.util.Collection-T...-) defines that a NullPointerException must be thrown when elements are null. However above program does not throw any exception.

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9

[2020-02-04 20:12] mpirvu commented on #8473
The bad code probably comes from
[code]
So we need to chase `fej9->getNewArrayTypeFromClass(reinterpret_cast<TR_OpaqueClassBlock*>(fej9->getJ9JITConfig()->javaVM->byteArrayClass));`

[2020-02-04 20:14] mpirvu commented on #8473
I looked into VMInfo and we don't have an entry for `javaVM->byteArrayClass`. I believe this is the source of error

[2020-02-04 20:17] liqunl commented on #8404
I think the internal one is very likely a dup of #7890, as the offset of each frame is very close. I'm trying to compile a windows build with pdb files such that I can open the core of this issue.

[2020-02-04 20:23] pshipton commented on #7494
- J9ShrOffset is used to refer to both metadata and classes/methods. It doesn't help to use end of metadata instead of cache start, unless this is only done for metadata pointers, which should be doable.

- Even if the debug area is at the start of the cache, there is still the free space to deal with. If the free space is removed, some SRPs will need updates.

- The read/write area can be removed

[2020-02-04 20:39] pshipton commented on #8499
java.util.Collections is OpenJDK code, not OpenJ9 code, please open this Issue at the OpenJDK project.

[2020-02-04 20:39] #8499 closed

[2020-02-04 20:52] hangshao0 commented on #7494
Yes. Only for metadata pointers.

Rom methods are using SRPs pointing to LVT, which is after the free space in the debug data area. I don't see rom methods pointing to LNT. So if the debug area is at the start of the cache, the relative position of LVT and rom methods won't be affected by the size of free space in the debug data area.

If we allow read/write area to be removed, the cache layout co

[2020-02-04 20:55] shanchao95 commented on #8373
I tried to re-run the tests with same parameters on Grinder, and tried to run the test9a.java locally with jvm from `https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_ppc64le_linux_Personal/655/OpenJ9-JDK8-ppc64le_linux-20200122-162742.tar.gz`. Did not see it occur again. Here is tests results on Grinder `https://ci.adoptopenjdk.net/job/Grinder/2157/`.

[2020-02-04 21:20] pshipton commented on #7494
Methods have to point into the LNT.
https://github.com/eclipse/openj9/blob/171820baf418b10a317bdc90606758dec76b4760/runtime/util/mthutil.c#L299-#L315

[2020-02-04 21:41] hangshao0 commented on #7494
OK, then change the layout does not seem to help much. We still need to fix the SRPs for each rom method if its debug data are stored out-of-line. Also all the SRPs used in struct J9VariableInfoValues needs to be fixed. Not sure if we want to do that. It could be a lot of pointers to fix.

Probably forcing the debug data to be stored inline is an easier solution, though the debug data won't be dis

[2020-02-04 21:51] pshipton commented on #7494
We want to keep the debug data on disk instead of memory. The new layout works to avoid most of the fixups. The pointers to the line number tables will still need to be fixed, but that's not hard to do.

[2020-02-04 21:52] hangshao0 commented on #7494
Just talked to Peter, we could go with the layout in https://github.com/eclipse/openj9/issues/7494#issuecomment-582109322, so that we don't need to change SRPs used in struct J9VariableInfoValues. But we still need to fix the pointer to the LNT for each rom method.

[2020-02-04 22:05] cathyzhyi commented on #2668
Closing the issue since the work has been completed.

[2020-02-04 22:05] #2668 closed

[2020-02-04 22:18] mpirvu commented on #8473
I have verified that my solution in #8500 fixes the problems on x86 and I am confident that the problem on plinux will be fixed as well.

[2020-02-04 22:39] fjeremic commented on #7684
I've tried again on a clean Ubuntu 16.04 VM using 0.17.0 build and cloning without `--depth 1`. The problem did not reproduce. I cannot reproduce the issue as of now. Never the less we can still continue the search using the reproduction environment @ChengJin01 has.

@ChengJin01 given your previous binary search (https://github.com/eclipse/openj9/issues/7684#issuecomment-577824697) The exception w

[2020-02-04 23:01] ChengJin01 commented on #7684
As discussed with @fjeremic, to speed up the test to trigger the exception, I will help them to reproduce with the option as follows:
`-Xjit:{com/sun/org/apache/xalan/internal/xsltc/compiler/ParentLocationPath.translateStep(Lcom/sun/org/apache/xalan/internal/xsltc/compiler/util/ClassGenerator;Lcom/sun/org/apache/xalan/internal/xsltc/compiler/util/MethodGenerator;)V}(lastOptIndex=300)` and keep try

[2020-02-04 23:30] knn-k commented on #7297
Closing.

[2020-02-04 23:30] #7297 closed

[2020-02-05 01:07] babsingh commented on #8292
JEP-370 test-suites pass completely with the below changes.
1. https://github.com/ibmruntimes/openj9-openjdk-jdk14/pull/6: ` Allow GENSRC_VARHANDLES in OpenJ9`
2. https://github.com/eclipse/openj9/pull/8330: `Support JEP-370 (Part 1)`
3. https://github.com/eclipse/openj9/pull/8460: `Support for CP String patching`
4. https://github.com/eclipse/openj9/pull/8414: `JEP-370 Implementation (Part 2)`
5.

[2020-02-05 02:43] pshipton commented on #8257
Still happening with ub16-ppcle-2, I've disabled the machine.

[2020-02-05 11:21] lumpfish opened #8504 "java/lang/ProcessBuilder/Basic.java fails on openj9 aix"
See also https://github.com/AdoptOpenJDK/openjdk-tests/issues/1397

java/lang/ProcessBuilder/Basic.java fails in two ways on AIX:
1. The text output from operating system messages in java exceptions is not anticipated, so the checks fail.  This affects both openj9 and hotspot jdks and requires a fix to the openjdk test.
2. The test checks that the LIBPATH of a started process is the same as the pr

[2020-02-05 13:30] pshipton commented on #7088
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly/804
MauveMultiThreadLoadTest_special_26

[2020-02-05 13:40] andrewcraik commented on #8431
@cathyzhyi any update on this one? Looks like the load2 family are needed...

[2020-02-05 13:41] andrewcraik commented on #7748
@cathyzhyi where did this get to?

[2020-02-05 13:43] andrewcraik commented on #7276
@r30shah do you believe that #8492 fixed this or do you think there is more investigation to be done? eg should this be closed as fixed by 8492?

[2020-02-05 13:43] pshipton commented on #8373
On the open machines, grinders on ub16-ppcle-2 (1x), ub16-ppcle-3 (5x) didn't reproduce it, but grinders on ub16p8j92 and ub16p8j95 did.
https://ci.eclipse.org/openj9/view/Test/job/Grinder/631/
https://ci.eclipse.org/openj9/view/Test/job/Grinder/632/

[2020-02-05 13:44] harryyu1994 commented on #8485
- Seeing an assert on JITClient
[code]

[2020-02-05 14:03] #8184 closed

[2020-02-05 14:18] r30shah commented on #7276
@andrewcraik  I have reasonable suspicion that https://github.com/eclipse/openj9/pull/8492 will fix the issue. When I added the debugging information mentioned in https://github.com/eclipse/openj9/issues/7276#issuecomment-577732611, I found that the duplicate value was always at index 3 and some other slot. I looked carefully at the disassembly and could not find anything wrong.
Looking at the iss

[2020-02-05 14:19] mpirvu opened #8505 "cmdLineTest_J9test_SE80_0 test failure with JITServer"
There is only one subtest that fails:
[code]
This is seen in the nightly testing with both Java8 and Java11.
However, I cannot reproduce this behavior locally.

[2020-02-05 14:22] andrewcraik commented on #7276
Ok so based on this I will close this and it can be reopened or a new issue opened if there is a recurrence in a build containing #8492.

[2020-02-05 14:24] mpirvu commented on #8505
@a7ehuo Could you please look into this simple test? Thanks

[2020-02-05 14:30] amicic commented on #8344
I'll keep this closed, but it's actually duplicate of https://github.com/eclipse/openj9/issues/8478 as suggested before.

The key sympthoms are Concurrent Scavenger and crash with registers:

gpr3=01FFFFFFFFFFF000
gpr5=01FFFFFFFFFFF000
gpr6=000000000000000F

Likely, could be any workload/test.

[2020-02-05 14:33] amicic commented on #8478
This test and MathLoadTest have been run  600 times at various zLinux machines but the problem has not been reproduced, yet.

The theory of a problem in copying large arrays still holds, but not much progress in understanding why.

[2020-02-05 15:11] pshipton commented on #7276
This should stay open until #8492 is merged. I'll update #8492 to close this.

[2020-02-05 15:21] cathyzhyi commented on #8431
Yea, I am looking into add all the load family bytecodes. I think the problem is that the user can possibly pass any type of argument to the thunk. that's why the previous testing didn't catch those cases.

[2020-02-05 15:30] cathyzhyi commented on #7748
We've collected some logs and need to take a look but got distracted.

[2020-02-05 15:48] mpirvu opened #8506 "Eliminate VM_getNewArrayTypeFromClass message"
Currently, for the `getNewArrayTypeFromClass()` the JITServer sends a message to the client to extract the desired information. We would like to eliminate that message.
The implementation of `getNewArrayTypeFromClass()` is:

[code]
So, there is a set of eight pointers in javaVM and the code iterates through them to find a match. The JITServer could do the same if those pointers were cached in the

[2020-02-05 15:51] mpirvu commented on #8506
@chrisc66 Could you please look into this issue? Thanks

[2020-02-05 16:06] DanHeidinga opened #8507 "Crash in Adopt OpenJDK 11.0.6 with OpenJ9"
Java -version output
--------------------
Quoting the Adopt issue:

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Windows 10 amd64-64-Bit Compressed References 20200122_442 (JIT enabled, AOT enabled)
OpenJ9 - 51a5857d2
OMR - 7a1b0239a
JCL - da35e0c380 based on jdk-11.0.6+10)

Summary of pro

[2020-02-05 16:28] dagonblanco commented on #8184
I seem to have missed the notifications for this issue, and when I get back, it's already done!!!
Wow, great support and response! Thanks to everyone for such a quick solution!

[2020-02-05 16:40] AdamBrousseau commented on #8425
Update:
To cover 3rd use case above. In order to not limit where a test runs, which makes orchestrator side logic more simple. Rather than passing a specific url to the test pipelines we pass a url with a variable name to cover the server half (eg. `$PREFERRED_ARTIFACTORY/path/to/sdk.tar.gz`). Each node/machine is configured with a jenkins env variable with this value. This is set in the eclipse/j

[2020-02-05 16:43] pshipton commented on #8507
I haven't been able to reproduce this.

[2020-02-05 17:16] dchopra001 commented on #8257
I'm seeing this issue on Z as well:
[code]

This is on `rhel7s390xrt14-1`

[2020-02-05 17:40] jdekonin opened #8508 "AIX DDR compile failure with new installation of 7.1.5.5"
The failure also occurs on 7.2.

[code]

Breaking it down to the failing cmdln:
[code]

`LIBPATH=.. ../ddrgen` does successfully print out ddrgen help though.

[2020-02-05 18:04] amicic commented on #8478
Finally 1 failure in 300 grinder jobs: https://ci.eclipse.org/openj9/view/Test/job/Grinder/635/,
but also 500 more in IBM internal machines with no luck.

Average reproducibility is roughly 1/1000.

Current working theory is that we are missing 'volatile' when accessing the word that controls/synchronizes multiple concurrent threads copying a large object.

Working on improving the reproducibility

[2020-02-05 18:38] pshipton commented on #8508
This is blocking the OpenJ9 project from having more than 1 AIX machine to compile on.

[2020-02-05 18:42] jdekonin commented on #8508
I have core files for anyone that wants them.  As well as an environment to reproduce.

[code]

[2020-02-05 18:46] a7ehuo commented on #8473
Tired `StringPeepholeTest_0` with the following build on `ppc` with contains the fix from #8500, the test passed.

[code]

[2020-02-05 18:46] #8473 closed

[2020-02-05 19:28] AdamBrousseau commented on #8425
This re-introduces the problem of compiling at OSU and testing at UNB, the SDK will attempt to be fetched from UNB but it will only be at OSU. Will need to rethink this a bit.

[2020-02-05 19:33] ChengJin01 commented on #7684
Already tried with
[code]
Now keep trying with `lastOptIndex=35` to see how it goes.

[2020-02-05 19:41] a7ehuo commented on #8505
So far not able to reproduce this failure locally:

[code]
[code]

[2020-02-05 20:15] a7ehuo commented on #8505
If I run the test command directly, I'll get a message`"Not enough resource to run test."`.  After removing the following code in `TestStringBufferAndBuilderGrowth`.  The test now executes and still passes.

[code]

[code]

[code]

[2020-02-05 20:24] a7ehuo commented on #8505
I reproduced this issue locally. To simulate the nightly build setup, we should set `TEST_FLAG`
We normally set  `export EXTRA_OPTIONS=" -XX:+UseJITServer "` and launch the `jitserver` separately before the test. Using `TEST_FLAG`, we don't need to set `EXTRA_OPTIONS` and the test framework will start `jitserver` automatically and add `" -XX:+UseJITServer "` to the options.

[code]

[code]

[2020-02-05 20:25] pshipton commented on #8508
@jdekonin what is the version of the compiler on these machines? `xlc -qversion`
How does it compare to the version on aix71-p8-1?

[2020-02-05 20:59] pshipton commented on #8257
@dchopra001 that is an IBM problem, pls report an infrastructure issue internally to IBM.
I assume you are building s390x_linux_jit, because otherwise JITServer isn't enabled for z by default.

[2020-02-05 21:22] a7ehuo commented on #8505
It looks to me that the test result is checked against the message that's shown after "`Machine has physical memory 8363302912 bytes or 7975 MB or 7 GB"`. The accepted messages to consider the test case as passed are the following three.

[code]

However with `JITServer`, The message `"JITServer is currently a technology preview. Its use is not yet supported"` shows up first after "`Machine has ph

[2020-02-05 21:34] ashu-mehra commented on #8505
@a7ehuo can you please confirm whether the accepted messages are being generated in the failing case by running this command directly:

`"/root/home/ahuo/src/openj9-openjdk-jdk8/build/linux-x86_64-normal-server-release/images/j2sdk-image/bin/java" -XX:+UseJITServer -Xcompressedrefs  -XX:+UseJITServer  -Xdump -XX:+UseJITServer -Xdump:none -Xmx7g -Djava.lang.stringBuffer.growAggressively -cp "/root/

[2020-02-05 22:00] a7ehuo commented on #8505
The expected test result message will be generated if running the command line directly.

[code]

Another thing I found is that delaying the JITServer message as below will also make the test pass.

[code]

[2020-02-05 22:25] ashu-mehra commented on #8505
I am wondering if the "technology preview" message is the cause of failure, then other commandline tester based tests should also similarly fail.
IIRC, the commandline tester does not search for accepted messages in the output in any particular order.

[2020-02-05 22:56] chrisc66 commented on #8506
Looking into this issue...

In brief, we want to eliminate `VM_getNewArrayTypeFromClass` message between JITServer and client.

When JITServer asks client to `getNewArrayTypeFromClass` for the first time, it should cache this information in `ClientSessionData` and reads from the cache later.

[2020-02-05 23:21] JasonFengJ9 opened #8511 "testSCCacheManagement_0_FAILED Error: should never hit this code."
Failure link
------------

From an internal build:
[code]

Optional info
-------------

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
00:37:39  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=x86-64_mac&TARGET=testSCCacheManagement_0

Failure output (captured from cons

[2020-02-05 23:25] JasonFengJ9 commented on #7247
From an internal build:
[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.adoptopenjdk.net/job/Grinder, use the following links:
01:46:25  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=14&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=x86-64_mac&TARGET=cmdLineTester_verbosetest_3

[2020-02-05 23:51] mpirvu commented on #8506
The information may be already cached from a different query. The code I pasted above should take care of this.
[code]

[2020-02-06 01:18] mpirvu opened #8514 "Delete J9AOTConfig"
`J9AOTConfig` is a data structure that mimics `JITConfig` for the most part, but it includes some specific fields:
[code]
All, except the last field above, are no longer used.
It makes sense to add the `aotCompilationInfo` field to `JITConfig` and then delete `J9AOTConfig`

[2020-02-06 01:19] mpirvu commented on #8514
FYI @mstoodle

[2020-02-06 02:24] #8491 closed

[2020-02-06 02:36] pshipton commented on #8488
Now ub16p8j94 is having the problem. @jdekonin pls reboot it, and all the other ub16p8j plinux machines (except 92, 93 which were already done).
@AdamBrousseau is it possible to have a jenkins job that can reboot machines?

[2020-02-06 02:38] amicic commented on #8478
I modified the source code so that large arrays chunks are 32x smaller than normal, what increased the probability of the race in suspected code. Then I was able to get 7/800 failure rate.

With added volatile, the failure rate goes back to 0/500.

[code]

[2020-02-06 02:49] pshipton commented on #8511
@hangshao0 pls take a look.

[2020-02-06 02:52] mstoodle commented on #8514
I believe this data structure dates back to jar2jxe days when we supported running AOT code without an active JIT (so you would only load the "runtime" bits of the JIT that deal with supporting the execution of compiled code). I think we would do this differently if we ever wanted to support the same kind of execution mode, so I think it's ok to proceed as you have proposed.

[2020-02-06 03:05] #8383 closed

[2020-02-06 09:35] adam-thorpe opened #8515 "JTReg Test Failure: java/rmi/server/RMISocketFactory/useSocketFactory/unicast/TCPEndpointReadBug.java"
Failure link
------------
https://ci.adoptopenjdk.net/user/adam-thorpe/my-views/view/Nightly%20test%20openjdk%20openJ9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac/132/
- test category: sanity.openjdk
- OS/architecture: all
- public build SHAs:
[code]

Optional info
-------------

- intermittent failure (yes|no): no
- regression or new test: New test, introduced in 11.0.7+1

Failure output (cap

[2020-02-06 13:51] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/264
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-02-06 14:39] ashu-mehra commented on #8505
From Pete's comment https://github.com/eclipse/openj9/pull/8471#issuecomment-580998602 it looks like this test is known to fail. It is possible it may not be related to JITServer at all?
@pshipton is the failure reported in this PR similar to what you are observed in https://github.com/eclipse/openj9/pull/8471#issuecomment-580998602?

[2020-02-06 14:40] jcompagner opened #8517 "product crashes at startup when upgrading from 13.0.1-openj9-0.17 to 13.0.2-openj9-0.18"
4 files are generated i 7zipped them here: http://download.servoy.com/openj9-0.18.7z

This is an eclipse based product where in the eclipse.ini file i just switch the vm
And if i run it with OpenJDK 13.0.1 it works fine, just switching the vm:

-vm
D:\servoy_inst\201912_rc2\developer\jdk-13.0.2+8-jre/bin/j9vm/jvm.dll
-vmargs
-Xshareclasses:nonfatal
-Xms40m
-Xmx1G
--add-modules=ALL-SYSTEM

will alw

[2020-02-06 15:00] pshipton commented on #8517
[code]

[2020-02-06 15:02] pshipton commented on #8517
Possible dup of #8175 and #7890 @dsouzai

[2020-02-06 15:10] pshipton commented on #8505
The output is strange, it didn't seem to run the test. There should have been more output.
https://github.com/eclipse/openj9/blob/master/test/functional/cmdLineTests/cmdLineTest_J9tests/src/TestStringBufferAndBuilderGrowth.java

[2020-02-06 15:13] pshipton commented on #8505
I wonder if it's related to https://github.com/eclipse/openj9/issues/8403

[2020-02-06 15:30] dsouzai commented on #8517
Heh, do we have the means to get a Windows build with symbols, because without it I can't take a look at the core file.

This likely is a dup of the two issues @pshipton mentioned, of which I don't know the root cause yet. However, @jcompagner, as a workaround, you could try adding `-Xjit:dontUsePersistentIprofiler` to the JVM parameters; assuming it's the same problem it _should_ stop the crash.

[2020-02-06 15:49] fjeremic opened #8518 "Support reusing successful builds when re-triggering Jenkins PR tests"
Not sure if this is feasible, perhaps someone with infrastructure expertise can chime in. Would it be possible for `Jenkins test *`  build triggers to reuse an existing successful build if test failures due to infrastructure occur? I find that most of the time for example the `Test_openjdk8_j9_sanity.functional*` type jobs are the ones which fail with various connection issues and when you re-laun

[2020-02-06 15:49] fjeremic commented on #8518
@AdamBrousseau @pshipton thoughts?

[2020-02-06 16:03] liqunl commented on #8404
@MNeuling We have another windows issue related aot, could you try `-Xjit:dontUsePersistentIprofiler -Xaot:dontUsePersistentIprofiler` to see if the failure goes away?

[2020-02-06 16:05] dsouzai commented on #8404
@andrewcraik on Windows you can't trust the backtrace; because there's no .pdb files the backtrace writer takes the extremely sparse set of exported symbols and runs with it.

[2020-02-06 16:12] dnakamura commented on #8183
After much digging I've found a number of difference on zlinux command line options.  Running test on the new build now. Digging into the aix command line options

[2020-02-06 17:22] jcompagner commented on #8517
yes with those 2 vm args it starts up.

[2020-02-06 17:43] BeverlyXu commented on #6745
Hi @dredwardhyde,

Thank you for raising this issue. We have run the benchmark on our Intel x86 machines. And here is what we've observed. In most of the cases, we are either on par, or doing better than the alternative JVMs. There are a few startup, and the xml tests that we are a bit behind, and we are looking into them.

There are a few things that we'd like to point out, which may explain why

[2020-02-06 17:58] MNeuling commented on #8404
@liqunl Yes if I use these options the application starts without an error.

[2020-02-06 18:11] liqunl commented on #8404
@MNeuling Thanks for trying the options for us. This issue is a dup of #7890.

[2020-02-06 18:21] a7ehuo commented on #8505
As @ashu-mehra has pointed, it doesn’t look like related to the "technology preview" message or the ordering of the messages.

Some clarification on my `x86` test result from yesterday on the above: Initially I wasn’t able to repro it locally. It always passed because of `“Not enough resource to run test”`. After removing the check on the memory size (`8388608000` bytes) in `TestStringBufferAndBui

[2020-02-06 19:15] #7276 closed

[2020-02-06 19:19] hangshao0 commented on #8511
Here are more output from the failure:

[code]

The test code is parsing the cache file name from -Xshareclasses:printCacheFilename in the stderr.
The cache file name is in the 2nd last stderr:
`/Users/jenkins/javasharedresources/C290M11F1A64P_Foo_G41L00`

The current stderr is:
[code]
which might have caused the test to fail.

[2020-02-06 19:23] jdekonin commented on #8508
[code]

This the same versions being used without issue on aix71-p8-1.  I am also retrying with the latest patch for both the compilers too.  JDK8 = xlc13, JDK14 = xlc16

[2020-02-06 19:44] pshipton commented on #8518
Restarting failed (red status) testing is already supported. You need to open the parent job of the test and there will be "restart" or "abort" link that you can use if you are logged in.

[2020-02-06 20:13] pshipton opened #8521 "win2012r2-x86-5 (offline)"
some machine were offline, but I restarted the jenkins agent and they are online now, except I can't get win2012r2-x86-5 back online. Pls reboot it or something.

[2020-02-06 20:13] pshipton commented on #8521
@jdekonin

[2020-02-06 20:46] fjeremic commented on #8518
Will the PR status update accordingly?

[2020-02-06 20:54] pshipton commented on #8518
Yup

[2020-02-06 20:56] #8518 closed

[2020-02-06 20:58] AdamBrousseau commented on #8518
Red failure will produce a PR "X", restart will change it back to yellow "in progress".

We've thought of this before. Nobody has taken the time to do it.
See #2316 and #2859
I think what Pete has mentioned mostly solves your concern, although it takes some active monitoring because it will eventually time out and abort.

The hard part about the SHAs is you start to make decisions which may cause

[2020-02-06 21:06] keithc-ca commented on #8508
@jdekonin Can you try another build with the change in eclipse/omr#4815?

[2020-02-06 21:13] rajdeepsingh1 commented on #8488
ub16p8j91, ub16p8j95 have been rebooted.

Remaining ub16p8j94, ub16p8j96 (they're running jobs at the moment).

[2020-02-06 21:23] pshipton commented on #8373
@jdekonin are there openssl updates not installed on the ub16p8j9x machines? If you do update the machines, pls record the original level and the updated level.

[2020-02-06 21:33] harryyu1994 commented on #8485
I tried a product build with these two asserts turned on and they don't get triggered.

[2020-02-06 21:35] rajdeepsingh1 commented on #8488
ub16p8j94 rebooted

ub16p8j96 remaining

[2020-02-06 22:00] cathyzhyi commented on #8403
I am able to reproduce the failure on X86-64 linux and the backtrace is in the interpreter:
[code]

[code]

[2020-02-06 22:35] jdekonin commented on #8521
Rebooted, its back online.

[2020-02-06 22:55] jdekonin commented on #8508
What sha of openj9 or extensions should I use with this?  I've pulled your fork and the latest for openj9 and extensions and I get compile failures in omr.

[2020-02-06 23:43] jdekonin commented on #8373
Updates to both sets of machines were going to occur on a scheduled "maintenance 1/2 day".  But that date hadn't been set.
ub16-ppcle-1 -> ub16-ppcle-3 are on 1.0.2g-1ubuntu4.15, the systems have 135 packages to be updated, 6 are security updates.
ub16p8j91 -> ub16p8j96 are on 1.0.2g-1ubuntu4, the systems have 384 packages to be updated, 161 of which are security updates.

If you are in agreement

[2020-02-06 23:44] jdekonin commented on #8424
https://github.com/eclipse/openj9/issues/8373 - updates to openssl or full updates to ppcle systems.

[2020-02-07 02:55] pshipton commented on #8373
We can do a full system update, but let's only do one system of each ppcle and p8j9 first and make sure they are still working fine afterward before doing the rest.

[2020-02-07 04:32] ChengJin01 commented on #7684
Here's the latest results with `lastOptIndex`:
[code]
It looks like the exception still occurs even when `lastOptIndex ` is reduced to 1.

[2020-02-07 09:55] jdiazdev commented on #7764
I hit this recently trying the latest `7.5.2` version of ES. I agree with the comments here, just adding some of my findings in case it helps in any way when working on this issue.

I verified the conflict with the JVM 'flavour' building my own distribution:

1.  Cloned ES github repository
1.  Built a distribution without JDK: `./gradlew :distribution:archives:no-jdk-darwin-tar:assemble --paralle

[2020-02-07 13:15] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/265
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-02-07 13:27] pshipton commented on #8252
Many failures fetching from git on master.
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_ppc64le_linux_xl/242
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_s390x_linux/1383/
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_x86-32_windows/1298/
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_x86-64_linux/1571/
https://ci.eclipse.org/openj9/job/Pipeline

[2020-02-07 13:43] AdamBrousseau commented on #8252
I believe this is a machine issue not a network issue
[code]
[code]
[code]
Will a separate repo help us in this case? Maybe, since the new repo will be smaller. Although we already do sparse checkout so I'm not sure what we will save.

[2020-02-07 14:11] pshipton commented on #8252
It's not the checkout which is the problem, it's the git fetch.

[2020-02-07 14:12] #3940 closed

[2020-02-07 14:12] #8431 closed

[2020-02-07 14:36] jdekonin commented on #8373
ub16p8j91 and ub16-ppcle-2 have been updated to the latest levels and brought back online.  Note that ub16-ppcle-2 also had an issue with protobuf.

[2020-02-07 14:46] pshipton commented on #8257
ub16-ppcle-2 hopefully fixed now.

[2020-02-07 15:19] amicic commented on #8349
https://github.com/eclipse/openj9/issues/8385 has not been resolved yet. For the most part we understand the problem and have a candidate fix https://github.com/eclipse/omr/pull/4806 but it's still being scrutinized.

More personal builds have been done and no more problems have been discovered.

So we are close to re-enabled double mapping by default, but it does not seem like it will be occur be

[2020-02-07 15:25] rajdeepsingh1 commented on #8488
ub16p8j96 rebooted.

All p8j have been rebooted.

[2020-02-07 16:04] #8488 closed

[2020-02-07 16:14] pshipton commented on #8373
Confirmed the crash still occurs on the upgraded ub16p8j91
https://ci.eclipse.org/openj9/view/Test/job/Grinder/638

[2020-02-07 16:17] pshipton commented on #8373
@jdekonin what is the openssl version after the update?

[2020-02-07 17:08] #4741 closed

[2020-02-07 18:12] jdekonin commented on #8373
ub16p8j91 is at 1.0.2g-1ubuntu4.15, same as ub16-ppcle-2.

[2020-02-07 18:26] JasonFengJ9 opened #8528 "openjdk11_j9_sanity.functional_x86-64_mac_OMR java.io.IOException: Tried to load head FlowNodes for execution Owner"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_OMR/427/console

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

This blocks OMR including JDK11 acceptance builds.

[2020-02-07 18:48] pshipton commented on #8528
That just means jenkins got restarted (again). I'll restart the builds.

[2020-02-07 18:48] #8528 closed

[2020-02-07 18:52] #8220 closed

[2020-02-07 20:19] hangshao0 commented on #8511
I have printed out more debug info. The error:
[code]
causes the test to fail. The failure is intermittent.

[2020-02-07 21:05] ChengJin01 commented on #7684
Also tried with 20 times but the exception didn't show up (there some dumps but has nothing to with ClassFormatError). will try again with 100 times.

[2020-02-07 21:08] fjeremic commented on #7684
Thanks for doing the runs. Ok so this seems to imply that `lastOptIndex=1` is when the issue starts happening. Yes let's retry `lastOptIndex=0` 100 more times just to be certain. I would also run `lastOptIndex=1` 100 times just to get a sense of what the reproducibility rate is.

Once we have confirmation that `lastOptIndex=1` is when the issue starts happening we can proceed to find the `lastOptS

[2020-02-07 21:09] aviansie-ben opened #8530 "Incorrect specialization of arraycopy nodes arising from inlining of Object.clone"
While working on the Power binary encoding refactor, I encountered numerous inconsistent test failures arising due to a newly added assert firing on instructions generated from an `arraycopy` node on non-compressedrefs builds:

[code]

The issue regarding invalid instructions being generated here is fixed by #8529 and eclipse/omr#4819. However, this raises a larger issue: why is an `arraycopy` nod

[2020-02-07 21:16] AdamBrousseau commented on #8252
Before the separate repo idea was proposed I proposed a separate set of "releng pr builds". Lets compare the solutions.

#### Releng builds
- Code stays in the same repo :+1:
- Regular builds are able to use lightweight checkout which should resolve all the master git issues. Whether that resolves all the master issues remains to be seen.
- Regular builds always pull master.
- Releng builds would

[2020-02-07 22:10] ChengJin01 commented on #7684
Just found the exception at 10th time with `lastOptIndex=0` (100 runs)
[code]

[2020-02-07 22:19] fjeremic commented on #7684
Thanks @ChengJin01. So this confirms it is a x86 codegen problem then, or perhaps ILGen. @andrewcraik FYI.

Next thing we'll need to do is collect a trace log of a passing run and a failing run. To do this you can specify the following command:

[code]

It will output a file (JIT trace log) that begins with `translateStep.trace` in your present working directory. We'll need a trace log from a fail

[2020-02-07 22:35] pshipton commented on #8257
@jdekonin ub16-ppcle-2 still has the same problem, I've disabled/disconnected it again.

[2020-02-08 01:20] ocafebabe opened #8532 "Incompatible class change error"
Hi,

I'm trying to use Wildfly (8.2.1) with OpenJ9 but I get an exception during server startup:

[code]

This is the OpenJ9 build I'm using:

[code]

Is there any workaround to fix this error or it's a known issue?

Thanks

[2020-02-08 13:47] pshipton opened #8534 "xlinux switch to gcc 7.5 causing protobuf undefined symbol"
https://github.com/eclipse/openj9/pull/8443 caused a protobuf undefined symbol on xlinux.

`undefined symbol: _ZNK6google8protobuf7Message11GetTypeNameB5cxx11Ev`

https://github.com/eclipse/openj9/pull/8533 reverts back to gcc 7.3 while we sort it out.

I expect https://github.com/eclipse/openj9/pull/8486 "Remove protobuf from JITServer" will resolve it, but not sure how long before it gets merged

[2020-02-08 13:47] pshipton commented on #8534
@jdekonin @mpirvu

[2020-02-08 21:20] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_linux_xl_Nightly/2
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-02-10 13:15] pshipton opened #8537 "zlinux gc_glue_java/ScavengerDelegate.cpp:381 Assertion `0' failed during gptest"
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.functional_s390x_linux_xl_Nightly/2
[code]

[2020-02-10 13:17] pshipton commented on #8537
@dmitripivkine anything you can tell about this assert?

The initial gp is caused by the test and expected. There are no system dumps because the test disables it.

[2020-02-10 13:19] pshipton commented on #8537
Trying a grinder https://ci.eclipse.org/openj9/job/Grinder/639/

[2020-02-10 14:12] DanHeidinga commented on #8532
@ocafebabe Can you provide the full stack trace?  The lines that map to the `... 3 more` would help to identify if this is a known issue or not.

If you can provide detailed steps on how to reproduce the issue, we may be able to recreate it and get it fixed

[2020-02-10 14:27] scikirbypoke commented on #8353
Since ATM3 has a long launch time (50 mins) on my Fx8350, so I switch to FTB Revelation to test tick time quicker. I launch the pack two times and entered same world, the only difference is jvm.
openj9:
![2020-02-10_20 29 55](https://user-images.githubusercontent.com/11038263/74157511-5c22c300-4c53-11ea-9ca5-2104bfdc4313.png)
hotspot:
![2020-02-10_20 48 02](https://user-images.githubusercontent.co