[2020-06-15 20:19] gacholio commented on #9886
These are all high-performance inline functions, so they're really not appropriate places to put tracepoints in general.

[2020-06-15 21:31] pshipton commented on #9651
@smlambert the timeout handler jar is created https://ci.eclipse.org/openj9/view/Infrastructure/job/Build_JDK_Timeout_Handler/

Created https://github.com/AdoptOpenJDK/TKG/pull/85

[2020-06-15 23:06] knn-k commented on #6607
Recompilation is enabled.  Closing this issue now.
Issue #9881 tracks the support for profiling.

[2020-06-15 23:06] #6607 closed

[2020-06-15 23:08] knn-k commented on #9881
Profiling is disabled by `self()->setOption(TR_DisableProfiling);` in OMROptions.cpp.

[2020-06-15 23:15] knn-k commented on #8966
My local testing shows that the AArch64 runtime passes this test now.

[2020-06-16 00:27] cathyzhyi commented on #8838
Hey Dan @DanHeidinga, Thanks a lot for the help! I think I've found the root cause. The format of our write barrier is also not correct so even when we generate the write barrier the failure still happens. Now I am working on the fix.

[2020-06-16 00:47] DanHeidinga commented on #9886
I think there are slow paths / exceptions / etc in those functions that are appropriate to trace but I'm willing to close this for now until we have one of those points to argue over.

[2020-06-16 00:47] #9886 closed

[2020-06-16 01:36] pshipton opened #9889 "VM's version of JVMTI (11.0.0), it needs JVMTI 15.0[.0]"
Occurred running jdk11 cmake testing, but I suspect it's not cmake specific. Not sure why the regular system tests didn't fail.

Full build https://ci.eclipse.org/openj9/job/Pipeline-Release-Build/218/

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_cm_Personal_testList_1/1
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-

[2020-06-16 01:37] pshipton commented on #9889
@JasonFengJ9

[2020-06-16 03:57] DanHeidinga commented on #9663
@gacholio any thoughts on what could be going wrong here?  I don't see a path through the native that returns NULL unless there's a pending exception.  Yet somehow the `stackTrace` is null

[2020-06-16 04:27] gacholio commented on #9663
I see a lot of conflicting information here. Does the issue occur with -Xint or not? If the native was instrumented to prove it didn't return NULL, then then the issue must be in the caller.

[2020-06-16 04:30] gacholio commented on #9663
One of the comments indicates that compiling only the native thunk results in the error. Is that true?

[2020-06-16 04:35] gacholio commented on #9663
One (extremely) outside possibility is that the local ref creation failed and returned NULL - we're not checking that in the native.

[2020-06-16 04:44] gacholio commented on #9663
There are also drop to frame checks throughout `internalFindKnownClass`, which may not be rigorously  checked in the callers - any debug happening here?

[2020-06-16 06:25] knn-k commented on #9860
Recompilation is enabled on AArch64, and this problem will be invisible.

[2020-06-16 10:16] knn-k commented on #9860
I would like my fix #9862 to be reviewed and merged anyway, because it is obvious that the assumption on potential NULL from `getJittedBodyInfoFromPC()` is different between `j9jit_testarossa_err()` and `processEvent()`.

[2020-06-16 10:48] JasonFengJ9 commented on #9889
It seems `JVMTI_VERSION` (now it is `JVMTI_VERSION_15`) picked up by `JDK11 JCL jdwp` natives.

[2020-06-16 11:16] JasonFengJ9 commented on #9663
The NPE is not seen with `-Xint`.

Put following log
[code]
just before `return result;` https://github.com/eclipse/openj9/blob/5bdc9a55e1e96e1668ab9f8f65e3aeb2ecb7141a/runtime/jcl/common/java_lang_J9VMInternals.cpp#L34-L46

The console output are:
[code]

[2020-06-16 11:54] pshipton commented on #8204
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_mauveLoadTest/40
MauveMultiThreadLoadTest_special_25

[2020-06-16 11:56] pshipton opened #9892 "JITServer abort"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly_testList_0/20
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_Nightly_testList_1/18
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly_testList_0/20
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_c

[2020-06-16 11:56] pshipton commented on #9892
@mpirvu

[2020-06-16 11:59] pshipton commented on #8767
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_0/24
[code]

[2020-06-16 12:03] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly_testList_1/20
cmdLineTester_CryptoTest_0

[2020-06-16 12:07] pshipton commented on #9808
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly_testList_0/21

[2020-06-16 12:13] pshipton opened #9893 "JVMSHRC129E Attempt to set readerCount to -1!"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly/394
SharedClasses.SCM01.MultiThreadMultiCL_0
[code]
[code]

[2020-06-16 12:13] pshipton commented on #9893
@hangshao0

[2020-06-16 12:17] gita-omr commented on #9884
Thanks for checking all the places.

[2020-06-16 12:21] pshipton opened #9894 "ASSERTION FAILED ** at ObjectMonitor.cpp:331: (!(8 == (lock & (8 | 1))))"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/400
SC_Softmx_JitAot_0
[code]

I don't find any diagnostic files.

[2020-06-16 12:22] pshipton commented on #9894
@hangshao0

[2020-06-16 12:26] babsingh opened #9895 "Track JDK commits which need OpenJDK MethodHandle support"
In JDK15+, commits dependent on the OpenJDK MethodHandle(s) were noticed. These commits cannot be supported with the OpenJ9 MethodHandle implementation. These commits are temporarily reverted (disabled) until OpenJ9 supports the OpenJDK MethodHandle(s). This issue will track all such commits so that their revert can be undone once OpenJ9 supports the OpenJDK MethodHandles(s).

[2020-06-16 12:30] babsingh commented on #9895
fyi @DanHeidinga @fengxue-IS

Revert StringConcatFactory.java commits (JDK15): https://github.com/ibmruntimes/openj9-openjdk-jdk15/pull/1.

[2020-06-16 12:37] tajila commented on #9880
@DanHeidinga This does not get detected with -Xfuture

[2020-06-16 12:44] DanHeidinga commented on #9880
Thanks for validating that Tobi.  We'll need to look at the spec and see if we're missing a required check.

[2020-06-16 12:44] DanHeidinga commented on #9880
@ChengJin01 Can you take a look at this?

[2020-06-16 12:46] DanHeidinga commented on #9663
local ref creation can only return null if passed null.  Otherwise, we'd fatalExit before returning null

[2020-06-16 12:47] mpirvu commented on #9892
@a7ehuo Could you please look into this JITServer failure.The stack trace is not very helpful.

[2020-06-16 13:00] pshipton commented on #9892
FYI any of the failure links can be used to find the build artifacts, which will contain the diagnostic files (core, javacore, etc).

[2020-06-16 13:35] pshipton opened #9896 "win2012r2-x86-5 offline"
@jdekonin @AdamBrousseau pls take a look.

[2020-06-16 13:42] a7ehuo commented on #9892
I will take a look.

[2020-06-16 14:47] mpirvu commented on #9892
PR #9128 merged yesterday added a new query`J9::ClassEnv::isClassRefValueType` which needs to be overridden at the server. This can explain JITServer problems when value types are enabled. However, this cannot happen on Java8, so there might be something else as well.

[2020-06-16 15:02] gacholio commented on #9663
It seems clear the native is not returning the NULL, so I'm not sure what more there is to look at here.

[2020-06-16 15:23] DanHeidinga commented on #9663
@rpshukla can you share the full commandline used to reproduce this? and the generated trace log?  Along with -Xjit:verbose output?  Something very strange is happening here so it would be good to get consistent data for everyone to look at the same thing

[2020-06-16 15:23] a7ehuo commented on #9892
I ran into issues to get a full backtrace from the core dump from the nightly build but I reproduced the crash locally as below. It's crashed at the server. It's related to`J9::ClassEnv::isClassRefValueType` as @mpirvu mentioned on the above.

[code]

[2020-06-16 15:25] hangshao0 commented on #9893
A writer trying to lock the cache needs to wait for all readers to finish. The waiting time is controlled by `CACHE_LOCK_PATIENCE_COUNTER`. There are multiple readers now. I guess the current value of `CACHE_LOCK_PATIENCE_COUNTER` might not be big enough.

[2020-06-16 15:37] jdekonin commented on #9896
Hard reboot in progress.  Should come online in jenkins automatically.

[2020-06-16 15:45] liqunl commented on #9782
I did personal builds on x86 linux, windows and Mac, with a check on the DF flag in method entry. If the flag is set, the jitted code will crash. All the jobs passed. Also did a 40x grinder on the original failed job, no crash either. The issue seems to be extremely intermittent.

As for the temporary fix, clearing the DF flag before every rep instructions has 2% overhead on daytrader3. If we only

[2020-06-16 15:51] gacholio commented on #9782
On the remote possibility that the DF is being set by an interrupt handler, clearing it before the rep tightens the window but doesn't close it completely. If this were the case, I'd expect every app in the world to be crashing randomly.

[2020-06-16 15:53] rpshukla commented on #9663
Here are some trace logs and verbose logs. The script I used to run the test is `run.sh`. `output-0` is the std out from a run. There is additional output in that file from the logging that I mentioned [in a previous comment](https://github.com/eclipse/openj9/issues/9663#issuecomment-644258526)

[getstacktrace-logs.tar.gz](https://github.com/eclipse/openj9/files/4787615/getstacktrace-logs.tar.gz)

[2020-06-16 16:03] gacholio commented on #9663
Next step is probably to start limitting the opts and/or disabling things like inline allocation, recompilation, etc to simplify the output code (which is already pretty simple). Does it reproduce with count=0 and a fixed opt level?

[2020-06-16 16:05] andrewcraik commented on #9782
I don't think we can take the 2% hit on daytrader3 - that is a hit that will show up a lot more for some people and it is an indication that it could be a real performance issue. If we can get away with handling after the return of helper calls and JNI calls with the VM clearing it before calls to JITCODE then I think we should be ok and can get away without the major perf hit.

[2020-06-16 16:06] r30shah commented on #9818
I looked into the result files from internal builds before they are deleted, This is the same failure as https://github.com/eclipse/openj9/issues/9876 which @PushkarBettadpur  is looking at, we can close this one as dup that.

[2020-06-16 16:10] r30shah commented on #9817
Looked into the core-dump of the job for Illegal instruction error is same as https://github.com/eclipse/openj9/issues/9876 which @PushkarBettadpur  is looking into.

[2020-06-16 16:10] andrew-m-leonard opened #9901 "jdk11 zOS extended.functional :testDestroyCache hangs"
The testDestroyCache nearly always hangs, it very occaisionally works.. see:
[code]
https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_extended.functional_s390x_zos_Personal_testList_0/4/console

[2020-06-16 16:13] JamesKingdon commented on #9782
That seems like a reasonable compromise given the cost and the difficulty of reproducing the problem. Does the VM already clear DF before calling the JIT or is that a new requirement?

[2020-06-16 16:15] mpirvu commented on #9833
This should have be fixed now. I'll verify by building 0.21.0 with JITServer

[2020-06-16 16:19] JamesKingdon commented on #9782
You sure know how to terrify the service guy :)

[2020-06-16 16:21] pshipton commented on #9901
This is a zos problem, not an OpenJ9 problem.

[2020-06-16 16:21] #9901 closed

[2020-06-16 16:25] pshipton commented on #9817
Closing as a dup of #9876

[2020-06-16 16:25] #9817 closed

[2020-06-16 16:27] pshipton commented on #9818
Closing as a dup of #9876

[2020-06-16 16:27] #9818 closed

[2020-06-16 16:29] #9896 closed

[2020-06-16 16:32] gacholio commented on #9782
Given that this has never been reproduced, I'd be tempted to ignore it completely for now.

[2020-06-16 16:36] JamesKingdon commented on #9782
The symptoms sound like a fit for several cases that went unsolved over the last year or two. I've been looking for over-run from objects before the corrupted one and not finding anything - I hadn't considered the possibility of a backwards rep sto, not least because the fields immediately after the corruption are valid. If this is the problem I'm very keen to get it fixed.

[2020-06-16 16:52] rpshukla commented on #9663
It can be reproduced with `count=0`. The logs above are from runs with `-Xjit:lastoptindex=-1` (i.e. it fails even when no opts are run).

[2020-06-16 16:59] gacholio commented on #9516
Correct changes are in master and will appear in the 0.21 release.

[2020-06-16 16:59] #9516 closed

[2020-06-16 17:05] gacholio commented on #9782
It's a simple enough matter for the VM to clear the DF on return from any standard JIT helper and on transition into compiled code. The JIT will need to be responsible for clearing it after any C call from the compiled code, including the direct-call JIT helpers and direct JNI (and whatever else you may call).

[2020-06-16 17:43] ChengJin01 commented on #9880
@DanHeidinga,  with the modified .class file generated from .jcod  [A.jcod.txt](https://github.com/eclipse/openj9/files/4788199/A.jcod.txt) by asmtools.jar (`A.jcod` was generated by `A.class` file and insert "int x" to the field of .jcod after that)
[code]
it shows our build (nightly) ended up with the same behaviour as RI as follows:
[code]

So there is nothing wrong in our code in terms of such

[2020-06-16 17:45] zl-wang opened #9906 "Could we provide an option to bypass the yieldCPU() call in spinOnFlatLock?"
During previous customer PoC, it was found that there was big performance benefit to be gained tuning the spin count and getting rid of the yieldCPU() call.  The workload is not that friendly on a big machine. It is also understood that getting rid of yieldCPU() may hurt other workloads.  Such that, this asks for an option to meet both worlds on the best possible terms.

[2020-06-16 17:56] DanHeidinga commented on #9880
@tajila which release did you have the problem with?

[2020-06-16 17:57] DanHeidinga commented on #9906
@babsingh has been working on retuning our locks to use an MCS-based lock to address high contention scenarios.  I'd like to see that work complete before we patch an additional test+branch into our locks

[2020-06-16 17:58] DanHeidinga commented on #9906
@babsingh can you link this to your overall MCS lock design?

[2020-06-16 18:06] gacholio commented on #9782
Extremely complicated VM fix here:

https://github.com/gacholio/openj9/tree/df

[2020-06-16 18:07] hangshao0 commented on #9894
Any reason why there are no diagnostic files ? @Mesbah-Alam

[2020-06-16 18:27] andrew-m-leonard commented on #9771
@DanHeidinga
rebind is implemented by BoundMethodHandle, basic description:
BoundMethodHandle.rebind():
if BoundMethodHandle "complexity" of fields and expressions is above a certain "threshold" then
   return a new BoundMethodHandle based on a LambdaForm that reinvokes a target for the same type
else
   return this

So you could as a wrapper just return "this"...

[2020-06-16 18:34] liqunl commented on #9782
I find the fix is more complicated than I thought. Regarding clearing the flag after the helper calls, my initial fix only cleared the flag for helper calls that associated with a call node, as there is a designated place to evaluating such node. But we generate a lot of helper calls in other evaluators for nodes that are not call to a helper, such as resolve check, interface calls, field access (

[2020-06-16 18:38] babsingh commented on #9771
I did try returning `this`. `BoundMethodHandle` only exists as a stub in OpenJ9. Also, `rebind` is defined in `class MethodHandle`. Since OpenJ9 does not support `BoundMethodHandle`, `this` won't be an instance of `BoundMethodHandle` in OpenJ9. Returning `this` leads to other compiler errors where the return value of `rebind` is expected to be an instance of `BoundMethodHandle`.

[2020-06-16 18:39] gacholio commented on #9782
For minimal impact, I would clear it only on transition to compiled code and on return from direct JNI - if we can't trust the C compiler used by the VM to follow the ABI, then we're never going to get this fixed. I suppose we would also need to clear it on return from any helper that might call a JVMTI event.

Having said that, the test that's failing here isn't using any foreign native libraries

[2020-06-16 18:48] babsingh commented on #9771
I also tried the above approach. Firstly, `BoundMethodHandle` is an abstract class. So, you can't return a new instance of `BoundMethodHandle`. Secondly, `BoundMethodHandle` extends `MethodHandle` and introduces new methods, which are not available in `MethodHandle`. We will need to locate concrete `MethodHandle` classes which extends the abstract `BoundMethodHandle`. Then, we will need to support

[2020-06-16 19:02] sharon-wang commented on #8878
Hitting a bit of a roadblock with templates as IBM builds may use the old ddrgen which doesn't support C++ templates and the new ddrgen needs to be extended to properly handle templates.

@keithc-ca noted that we’d have to look into our own (portable) name mangling for template instantiations and teach ddrgen to map all the compiler-specific manglings to ours. Also discussed, using typedefs to hid

[2020-06-16 19:07] gacholio commented on #8878
A typedef won't be much use, since we need both definitions available in the same build. It would also be horrendous to have to use `!SomeGCStructCompressed` directly in DDR - whatever we do, the unmangled pretty printers have to remain working as-is - nothing would be worse than using the wrong structure during a debug session and going down the garden path.

[2020-06-16 19:10] LinHu2016 commented on #9808
haven't reproduced the issue on internal Jenkins windows machine with debug build,
will try x86-64_linux_xl

[2020-06-16 19:23] liqunl commented on #9782
@andrewcraik @JamesKingdon What are your thoughts? Should we only clear the flag on return from foreign native code and trust VM code? It sounds reasonable to me and we have to trust the C compiler. Although the fix may not fix this issue as the test doesn't use any foreign native libraries as GAC said.

[2020-06-16 19:28] pshipton commented on #9894
Unless there is a hidden `-Xdump:none` command, I'm not sure what happened. Could be the VM gp'ed instead of creating dumps for the assert(s), and then wasn't in a good state to create dumps.
The output shows `JVMDUMP039I Processing dump event "gpf", detail "" at 2020/06/15 22:59:32 - please wait.` and then nothing.

[2020-06-16 19:29] pshipton commented on #9894
There may also have been a space problem, as I see
[code]

[2020-06-16 19:32] tajila commented on #9880
I created a test the produces an instance of
[code]

using:

[code]
the resut is:

[code]

using:

[code]

the result is:

[code]

Note: this is unrelated to anonclasses, I just so happened to be investigating another issue when I came across this.

Is it possible to upload file to github? If so I can post the jar

[2020-06-16 19:36] tajila commented on #9880
Here is a link to the jar, https://ibm.box.com/s/uqhaxkila29ni28vpyqr5o38g2e08adx

[2020-06-16 19:36] JamesKingdon commented on #9782
I'll take whatever we can get for a reasonable cost. I'll keep a close eye on future cases and over time we can see if the problem goes away. It's frustrating that we can't reproduce the problem and confirm the cause, but thank you for having tried.

[2020-06-16 19:52] andrewcraik commented on #9782
So I'd say let's not trust the foreign code and let's trust the VM for now. It is possible the bit just flipped because that kind of thing can happen once in a blue moon, but let's monitor the situation and if we see more examples or suspected examples we can get more paranoid. At least not trusting foreign code eliminates one class of issues.

[2020-06-16 19:53] hangshao0 commented on #9894
Something else is already wrong before the assertion. Test failed at 22:59:21.

[code]

[2020-06-16 19:55] gacholio commented on #9782
You can't trust the VM (and hence many JIT helpers) - if we call a bad native, the DF may end up being set (again, we should be crashing all over the place if this were actually occurring).

[2020-06-16 19:57] gacholio commented on #9782
libffi does not appear to manually clear the flag on return - I suppose we could do it with some inline assembly in the interpreter.

[2020-06-16 20:00] pshipton commented on #9651
The final piece to install the timeout handler when running openjdk tests https://github.com/AdoptOpenJDK/openjdk-tests/pull/1834

[2020-06-16 20:09] keithc-ca commented on #8878
To elaborate on my typedef comments, imagine we have:
[code]
If compilers don't inline references to things like `GCAlgorithmFull`, then we have some hope of generating `GCAlgorithmFull.java`, but we know that VisualStudio is not such a compiler.

If, as I believe should be the case, the compressed vs. full distinction need only be made for algorithms operating on objects in the heap; that is, we

[2020-06-16 20:22] ChengJin01 commented on #9880
[1] tried with the suspicious class (Outer.class /
[Outer.jcod.txt](https://github.com/eclipse/openj9/files/4788868/Outer.jcod.txt)
)
[code]
it shows our nightly build ended up with the same ClassFormatError as RI if just checking the class file as follows:
[code]

[2] with the jar file & `Outer` specified on the command line,  our nightly build still ended up with the same ClassFormatError as RI:

[2020-06-16 20:30] rpshukla commented on #9663
The failure still occurs when that method is excluded with `exclude={java/util/ImmutableCollections\$SetN\$SetNIterator.next()Ljava/lang/Object;}`

[2020-06-16 20:31] ChengJin01 commented on #9880
Specified with `-verbose:dynload` and it shows that Outer.class was loaded during the test:
[code]
If so, the error should be captured in such case.

[2020-06-16 20:33] andrewcraik commented on #9782
@JamesKingdon thoughts?

[2020-06-16 20:35] JamesKingdon commented on #9782
Rip out rep sto and burn it. If we can't guarantee that it's going to write to the correct memory then I don't think we can use it.

[2020-06-16 20:35] #6826 closed

[2020-06-16 20:36] theresa-m commented on #9626
I can pick this up.

[2020-06-16 20:50] andrewcraik commented on #9782
Not an option right now - that is a huge change - there is perf work to look at the sequences, but in the short to medium term we need some kind of halfway point. I think maybe protect ffi and protect the calls we need to protect in the JIT.

[2020-06-16 20:59] babsingh commented on #9906
Related: https://github.com/eclipse/openj9/issues/5681 (linking to the overall MCS lock design).

[2020-06-16 21:39] rpshukla commented on #9663
Update: I am able to reproduce the failure with `-Xint`, but only after I added the following logging:

[code]

I ran the test with these options:
[code]

Before adding this logging, I had run the test 50+ times with `-Xint` and saw no failures. When I limited the compile to only `java/util/ImmutableCollections\$SetN\$SetNIterator.next()Ljava/lang/Object;`, I saw failures in about 1/20 runs. I als

[2020-06-16 23:48] #9892 closed

[2020-06-16 23:55] #9860 closed

[2020-06-16 23:59] mpirvu commented on #9892
Fixed by #9904

[2020-06-17 00:07] knn-k commented on #9574
#9862 should have fixed this.

[2020-06-17 00:07] knn-k commented on #9601
#9862 should have fixed this.

[2020-06-17 00:08] knn-k commented on #9599
#9862 should have fixed this.

[2020-06-17 00:29] knn-k commented on #7126
Related Issue: #9877

[2020-06-17 00:36] knn-k commented on #7126
Now I don't think this change is needed.
x18 is used as a scratch register in the JIT private linkage now, and that matches with the AArch64 system linkage.

Reconsider changing register usage when we have any performance reason to do that.

[2020-06-17 00:36] #7126 closed

[2020-06-17 01:35] #9838 closed

[2020-06-17 02:15] pshipton commented on #9884
@gita-omr can this be removed from the 0.21 milestone plan?

[2020-06-17 03:54] knn-k commented on #8966
This test case has been enabled, and the latest test result is successful.
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.system_aarch64_linux/172/tapResults/

Closing.

[2020-06-17 03:54] #8966 closed

[2020-06-17 05:02] knn-k commented on #9215
I think this issue can be closed.
I haven't seen crashes with DaaLoadTest and MathLoadTest after #9282 is merged.

[2020-06-17 06:59] knn-k commented on #9048
Possibly related: https://github.com/AdoptOpenJDK/openjdk-build/issues/1804

[2020-06-17 08:43] knn-k opened #9911 "AArch64: Failure in cmdLineTester_jvmtitests_hcr_OSRG_nongold_*"
Some tests in cmdLineTester_jvmtitests_hcr_OSRG_nongold_* fails on AArch64 Linux.

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_aarch64_linux_Personal/19/tapResults/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_aarch64_linux_Personal_testList_0/2/tapResults/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_aarch64_linux_P

[2020-06-17 09:22] edrevo commented on #9710
Hi @DanHeidinga. After 4 hard hours trying to get the necessary conditions to repro this bug again, I have been able to get the segfault once again!

I have run the JVMs with the aot options @dsouzai mentioned. This is a k8s environment, so k8s is constantly rebooting the failing pods, which is why there are so many logs (appologies for that). Logs are quite large, so here's a link so you can down

[2020-06-17 10:07] pwagland opened #9912 "java.lang.ClassNotFoundException: during object deserialization in openjdk11.07 with openj9"
Java -version output
--------------------

openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.20.0, JRE 11 Linux amd64-64-Bit Compressed References 20200416_574 (JIT enabled, AOT enabled)
OpenJ9   - 05fa2d361
OMR      - d4365f371
JCL      - 838028fc9d based on jdk-11.0.7+10)

Summary of problem
-------------

[2020-06-17 10:10] edrevo commented on #9710
I have a core dump! In case anyone stumbles on Google on this thread: if you need a core dump of OpenJ9 on a container or a Kubernetes pod, it will fail to due the apport configuration in the host. In order to solve the problem, you can run your pod/container as privileged and configure the JVM with `-Xdump:directory=<host mount>` so you can retrieve the dump after the container restarts (or acces

[2020-06-17 10:36] #9574 closed

[2020-06-17 12:55] knn-k commented on #9017
rc018 and ta001 fails in walking the stack with the latest XL build.

[2020-06-17 13:10] andrewcraik commented on #9879
Can you provide a jitdump / compile log of the method with the assertion? It is likely just a failure to check a node type somewhere.

[2020-06-17 13:10] DanHeidinga commented on #9710
Thanks @edrevo for getting the logs and core!

@dsouzai can you jump on this?  Logs and core are now available

[2020-06-17 13:12] DanHeidinga commented on #9912
@theresa-m can you take a look at this?  You resolved the last couple of issues in this code

[2020-06-17 13:22] mpirvu commented on #9800
@dchopra001 Any updates on this issue?

[2020-06-17 13:23] pshipton commented on #9912
Set for the 0.22 milestone give it's late in the cycle for 0.21, however if there is a quick fix we can evaluate the risk of putting it into 0.21.

[2020-06-17 13:29] andrewcraik commented on #9879
Looks to me like https://github.com/eclipse/omr/blob/fe9bef6ad3f89d55582326f552847ae83b3067fa/compiler/compile/OSRData.cpp#L873
Needs a check that node->getNumChildren() > 0 before proceeding and that should solve the problem. The rest of the checks will probably prevent anything bad from happening, but we should get this closed up as soon as we can.

[2020-06-17 13:29] #9215 closed

[2020-06-17 13:33] pshipton commented on #4277
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/401

[2020-06-17 13:40] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/66
timeout

[2020-06-17 13:41] pshipton commented on #9651
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.openjdk_ppc64le_linux_Nightly/18
00:47:18  	at app//FinalizeOverride.test(FinalizeOverride.java:75)
00:47:18  	at app//FinalizeOverride.main(FinalizeOverride.java:52)

[2020-06-17 14:03] dchopra001 commented on #9800
Here's a brief update on this issue:

Regarding the above comment, I removed the generic options and ran liberty to see why the failure no longer happens. From the verbose log, I see that the first compilation performed is an AOT warm compilation. The code where I added the `comp->isOutOfProcessCompilation()` already checks if an AOT compilation is being performed. So it makes sense why the failur

[2020-06-17 14:18] dsouzai commented on #9710
@edrevo `baikal2.zip` doesn't have a coredump; it only has the javacore, jitdump, and Snapfile. The jitdump is a badly named file (`.dmp`) because it's not a coredump, but a tracelog.

[2020-06-17 14:36] #9612 closed

[2020-06-17 14:57] DanHeidinga commented on #9443
Thanks @raguks Based on your answers above, I'll update the title of this issue to focus on adding a JITServer Helm chart.   That sounds like the primary goal being worked towards here.  We can move general discussions about Operators into another issue.

I'd like to hear more about the deployment story for how this Helm chart works with deploying other applications.  What's the relationship betwe

[2020-06-17 14:59] edrevo commented on #9710
😭

are the logs I attached enough to investigate the issue?

[2020-06-17 15:03] tajila commented on #9880
@ChengJin01 Your investigate has made me realize that this issue only occurs with unsafe classes. It seems that the RI performs verification with unsafe classes whereas we do not.

[2020-06-17 15:05] tajila commented on #9880
@DanHeidinga do we need to ensure compliance with the RI in terms of unsafe.defineClass ?

[2020-06-17 15:10] dsouzai commented on #9710
Unfortunately no :/. Those logs would've been helpful in conjuction with the coredump, because (and this is me hoping how things would go heh) I would somehow find what was causing seg fault, tie that back to what class caused that wrong thing to happen, and then see if we relocated/validated that class in the logs you sent, and then kind of go from there.

[2020-06-17 15:12] DanHeidinga commented on #8019
@M-Davies @JasonFengJ9 Does this issue still occur?

[2020-06-17 15:14] DanHeidinga commented on #9132
Moving this forward but it needs to be looked at for the 0.22 release.

[2020-06-17 15:15] pshipton commented on #9132
@ashbm5 can someone take a look at this. We've had to move it forward to the next milestone again.

[2020-06-17 15:27] DanHeidinga commented on #9815
Retargeting this to the 0.22.0 release as investigation is still ongoing

[2020-06-17 15:28] theresa-m commented on #9912
I'll take a look.

[2020-06-17 15:29] DanHeidinga commented on #8204
@JasonFengJ9 Can you take a look at the test and validate it's valid to run this in the multi-threaded way it's being run?

[2020-06-17 15:32] liqunl commented on #9782
@andrewcraik @JamesKingdon  Just to clarify before I make the change. We will trust VM given that VM will clear the flag on return of foreign native call. This means that the JIT only need to clear flag after the return of JNI call and helper that may call JVMTI. Am I right?

@gacholio What helpers can call to JVMTI?

[2020-06-17 15:44] JasonFengJ9 commented on #8019
@DanHeidinga No, I don't recall such failure recently, also searched last ten Pipeline-Build-Test-All-11 builds in https://ci.eclipse.org/openj9 via TRSS and didn't have a hit.
So it can be closed for working on later builds unless @M-Davies disagrees.

[2020-06-17 15:45] M-Davies commented on #8019
I'm running some [grinders](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3400/) to verify but I don't think so unless you've seen it recently @archanaNogriya ?

[2020-06-17 16:07] PushkarBettadpur commented on #9876
Tested this internally over the last few days. A grinder was unable to reproduce the issue, however, based on some of his previous work Rahil suspected that the `ETND` instruction might be causing issues on some of our systems. However, this instruction doesn't seem to be executed in most of our cases.

Added a JIT-Hack to unilaterally emit an `ETND` instruction for a recognized method (`inlineStr

[2020-06-17 16:14] ashbm5 commented on #9132
@pshipton we have no way to reproduce right now this error. if we can get a full stacktrace of the error or a java dump file that would help.

[2020-06-17 16:31] andrewcraik commented on #9782
I think before we make a decision we should discuss as a group - I know @DanHeidinga  is interested in discussing - let me try to set something up amongst the 5 of us tomorrow so we can get this nailed down and decide what we think the right thing to do is for 0.21 and we can summarize the result here for anyone interested.

[2020-06-17 16:32] fjeremic commented on #9876
Can you print the contents of `cat /proc/cpuinfo`? Also can you confirm the same tests works on non-SVL machines?

[2020-06-17 16:51] andrewcraik commented on #9879
OMR fix has merged - closing.

[2020-06-17 16:51] #9879 closed

[2020-06-17 17:37] pshipton commented on #9132
@ashbm5 why are you asking me.
@trourance is there any more information you can provide as per https://github.com/eclipse/openj9/issues/9132#issuecomment-645471725 to help track down the problem?

[2020-06-17 17:47] JasonFengJ9 commented on #9663
Reproduced the failure with `-Xint` option as well, it takes ~50 runs while it failed in first one or two runs w/o it. Like previous experiments, the native log didn't show a `null` returning value in `Java_java_lang_J9VMInternals_getStackTrace()`.

[2020-06-17 18:48] mpirvu commented on #9833
I verified that the problem is fixed

[2020-06-17 18:48] #9833 closed

[2020-06-17 19:06] JasonFengJ9 commented on #9663
Preliminary result:

There is a time-hole within `j.l.Throwable.getInternalStackTrace()`
https://github.com/eclipse/openj9/blob/50ba90c7297c641d9af24697cf87b0a585df1813/jcl/src/java.base/share/classes/java/lang/Throwable.java#L285-L296
between `J9VMInternals.getStackTrace(this, true)` and `return stackTrace`.
If `j.l.Throwable.setStackTrace(trace)` sets `null` within that time window, a `NPE` can

[2020-06-17 19:23] DanHeidinga commented on #9663
How is the `stackTrace` being written?  `setStackTrace` doesn't allow setting null:
https://github.com/eclipse/openj9/blob/50ba90c7297c641d9af24697cf87b0a585df1813/jcl/src/java.base/share/classes/java/lang/Throwable.java#L229-L233

[2020-06-17 19:25] DanHeidinga commented on #9663
I think this is a good thing to do but I'm not sure I understand the race window here.

[2020-06-17 20:02] JasonFengJ9 commented on #9663
@DanHeidinga it appears `null` value is from https://github.com/eclipse/openj9/blob/0edda637754386e320c0d39c6f5bd91135805bb3/jcl/src/java.base/share/classes/java/lang/Throwable.java#L244

Here is the race window roughly:
[code]

[2020-06-17 20:56] #9889 closed

[2020-06-17 21:30] hangshao0 commented on #9893
I added some debug info and I see we timed out on `CACHE_LOCK_PATIENCE_COUNTER`. After I increase `CACHE_LOCK_PATIENCE_COUNTER`, I am still seeing the time out. I need to figure out why.

`JVMSHRC129E` is also there in the following build:
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly/395/, which passed. So this message won't cause the job to fail.

Bui

[2020-06-17 21:36] pshipton commented on #9893
For the NPE, may be the same issue as https://github.com/eclipse/openj9/issues/8972

[2020-06-17 21:37] PushkarBettadpur commented on #9876
@fjeremic  the output of `cat /proc/cpuinfo` is as follows

[code]

Yes, I tried running the test on a non SVL machine and it passes.

[2020-06-17 21:38] pshipton commented on #9893
I assume JVMSHRC129E isn't in the builds previous to #9811?

[2020-06-17 21:42] pshipton commented on #9893
I checked a few earlier builds and didn't find JVMSHRC129E.

[2020-06-17 21:43] hangshao0 commented on #9893
It was not there before this commit.

[2020-06-17 22:42] theresa-m commented on #9912
Are you overriding the `defaultReadObject` method at any point? That looks like a place where we may be missing some cache refresh checks.

[2020-06-17 23:07] theresa-m commented on #9912
Are you customizing the `defaultReadObject` method in your code? I believe there are some cache refresh checks missing here.

The stack trace doesn't quite go back far enough for me to know where the call orginated.

[2020-06-18 00:11] theresa-m commented on #9912
If thats the case this may fix the problem: https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/317

build with changes to try: https://drive.google.com/file/d/1UKnsL6mGu10qKz819Bon7pJo0yTX2GpA/view?usp=sharing

[2020-06-18 02:11] knn-k commented on #9047
I am closing this as a duplicate of #9046.

[2020-06-18 02:11] #9047 closed

[2020-06-18 02:16] knn-k commented on #9251
This failure is not seen on sanity.functional tests on cent7-aarch64-1.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_aarch64_linux_Personal_testList_0/

Can this be closed now?

[2020-06-18 02:17] knn-k commented on #9911
Another issue related to jvmtitests_hcr: #9017

[2020-06-18 02:29] knn-k commented on #9033
I don't see this failure in sanity.openjdk tests after April.
Can this be closed now?

[2020-06-18 02:48] pshipton commented on #9033
As it's never been recreated, we can close it and reopen if it's seen again.

[2020-06-18 02:48] #9033 closed

[2020-06-18 03:18] JasonFengJ9 commented on #8204
@DanHeidinga Here is the conclusion from my investigation.

The test code snippet in question are:
[code]

`SimpleDateFormat(pattern)` is equivalent to calling `SimpleDateFormat(pattern, Locale.getDefault(Locale.Category.FORMAT))`.

If there is another thread calling `setDefault(Locale.Category, Locale)` with a different `Locale` between those two `SimpleDateFormat` constructors, they might be not

[2020-06-18 04:26] ChengJin01 commented on #9880
@tajila ,   I double-checked S`cratch.class` in your classes.jar file:
[Scratch_class.txt](https://github.com/eclipse/openj9/files/4796212/Scratch_class.txt)
  as follows
[code]
So the test is to call `unsafe.defineClass()` via `DefineAnonClass.defineClass()` with the passed-in classbytes of `Outer.class` (generated by OuterDump.dump) as argument.

There should be no JVM Spec or unsafe API specifi

[2020-06-18 04:29] knn-k opened #9920 "Assertion failure in getRegLoadStoreSymbolReference()"
This is a followup of #9879.
I get the assertion failure below with my local debug build, after applying the fix in https://github.com/eclipse/omr/pull/5314:
[code]
It disappears by setting the environment variable `TR_DisableEAEscapeHelperDefiningMap`.

OpenJ9: d2ab44a
OMR: b884d82 + fix from eclipse/omr#5314

[2020-06-18 04:33] knn-k commented on #9920
The stack trace at the assertion failure looks like this:
[code]

I can see `TR_PreEscapeAnalysis::perform()` and `TR_OSRCompilationData::buildDefiningMap()` here, which is similar to #9879.

[2020-06-18 04:37] knn-k commented on #9920
Attached is the JIT trace file for the method above.
[9920-loopsPerSecond.txt.gz](https://github.com/eclipse/openj9/files/4796267/9920-loopsPerSecond.txt.gz)

[2020-06-18 04:47] knn-k commented on #9920
You can find the `lconst` node in the assertion failure message in the trace file:
[code]

[2020-06-18 04:54] 1a2s3d4f1 commented on #9815
Disable share class cache `-Xshareclasses:none`
tick average delays was low 2ms (disable aot was not use)

[2020-06-18 05:50] knn-k commented on #9877
Update the table in https://github.com/eclipse/openj9/blob/master/doc/diagnostics/CallingConventions.md when this is implemented.

[2020-06-18 06:08] knn-k opened #9921 "Use R6 in ARMPrivateLinkage"
R6 is Java BP (aka J9A0) in 32-bit Arm.  The register is never assigned by the JIT compiler.
There is no need for dedicated register for Java BP now.
https://github.com/eclipse/openj9/blob/ba45f786c5a2dea88dd640ef301ed33ae375b9fe/runtime/compiler/arm/codegen/ARMPrivateLinkage.cpp#L65

[2020-06-18 06:24] mreuvers commented on #9912
Hello @theresa-m

Thank you for the update. I've downloaded and tried the JDK you've linked, unfortunately it still fails in the same way. Below I've added all info including the full failing stacktrace.

[code]

Full stack:

[code]

[2020-06-18 07:27] ChengJin01 commented on #9880
The problem should be related to code in `internalLoadROMClass()` at /runtime/bcutil/defineclass.c:
[code]
Debugging shows we disable the static verification (in which case ClassFormatError won't be captured for the duplicate field of Outer.class)  for the unsafe classes.

I didn't find out the history of why it was disabled as it has been there for a long while.
Simply removing the check of `J9_F

[2020-06-18 07:51] pwagland commented on #9912
Hi @theresa-m, We _do_ use `defaultReadObject()` in our code, I am not sure if that code would be invoked in this case though. At least it isn't in the call stack :-)

[2020-06-18 10:13] pwagland commented on #9912
Oh, and I may have misread your question, we _also_ override the default `readObject()` in some of our classes, again, I can't say if they are involved in this (de)serialisation, as they might be in the stream, but not in the stack trace.

[2020-06-18 10:14] gkorland commented on #4655
I see that the jmap support was already merged, was it released?

[2020-06-18 10:24] JasonFengJ9 commented on #4655
It was released at Eclipse OpenJ9 version 0.15.1 [1][2].

[1] https://www.eclipse.org/openj9/oj9_whatsnew.html
[2] https://www.eclipse.org/openj9/docs/tool_jmap/

[2020-06-18 10:40] knn-k commented on #9921
Update the table in CallingConventions.md when this is implemented.

[2020-06-18 12:16] JasonFengJ9 opened #9924 "Internal Linux ARM : java.lang.NoSuchFieldException: uniqueId"
Failure link
------------

From an internal build `ibuild 449453`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-06-18 12:28] andrew-m-leonard opened #9925 "zOS: testSharedCacheJvmtiAPI intermittent crash"
Having fixed https://github.ibm.com/runtimes/openj9-openjdk-jdk11-zos/issues/260
the testSharedCacheJvmtiAPI test is intermittently failing with the following assert crash:
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/8468/console
[code]

[2020-06-18 12:42] DanHeidinga commented on #9880
Good find @ChengJin01.  Can you dump the classfile that causes the ClassFormatError?  I want to see what interfaces it implements  / superclasses to see if there is a better source of information to base that decision on

[2020-06-18 12:48] DanHeidinga commented on #8204
@JasonFengJ9 thanks for tracking this down.

The test is run in the OpenJ9 jenkins so the source should be accessible and modifyable.  @Mesbah-Alam can you link to the source for this test?

[2020-06-18 12:58] 0xdaryl commented on #9920
@andrewcraik : just confirming that eclipse/omr#5321 addresses this problem?

[2020-06-18 13:04] tajila commented on #9880
Thanks for your investigation @ChengJin01

We should try to match the RI behaviour in this regard as it would simply some of the logic required by valueTypes to handle flattened instance and static fields.

[2020-06-18 13:12] Mesbah-Alam commented on #8204
The test is part of the third party Mauve test package that gets downloaded from from its public site by the [systemtest.getDependency](https://hyc-runtimes-jenkins.swg-devops.com/view/all/job/systemtest.getDependency/) build. So, I think instead of trying to modify the source, we should exclude this test from the multi-threaded target and only run it in the single-threaded target.

[2020-06-18 13:14] DanHeidinga commented on #9663
Thanks to everyone - @rpshukla , @gacholio , @JasonFengJ9 - for tracking this down.

@jkuipers The fixes should appear in the AdoptOpenJDK nightly builds in next day or so.  Would you be able to validate a nightly build fixes the issue?

[2020-06-18 13:17] jkuipers commented on #9663
Yeah, that shouldn't be a problem. Thanks a lot for investigating and fixing this, that was quite a quest ;)

[2020-06-18 13:19] andrewcraik commented on #9920
yes it should address this.

[2020-06-18 13:25] JasonFengJ9 commented on #8204
It appears the `mauve.jar` is built from source download via `cvs.root=:pserver:anoncvs@sourceware.org:/cvs/mauve`, is this correct?
if so, we might consider contribute a fix to the mauve repository.
The fix for this failure is to supply a specified local instead of using JVM default which could be modified by another thread.

As per https://www.sourceware.org/mauve/contribute.html, _Contributing

[2020-06-18 13:29] knn-k commented on #9920
Applying eclipse/omr#5314 and eclipse/omr#5321 together seems to resolve the assertion failure in my debug build for AArch64.

[2020-06-18 13:37] gita-omr opened #9928 "Auto-SIMD issue with vectorizing induction variable"
When we decide to vectorize a loop all nodes in the loop can be divided into two domains: the ones that are vectorized and the ones that are not. Vectorizing a node simply means replacing its opcode with its vector counterpart (e.g. `vloadi` instead of `iloadi`). All nodes that reference the loop induction variable (directly or in their children) are not vectorized. For example, induction variable

[2020-06-18 13:40] Mesbah-Alam commented on #8204
I don't think we have ever tried to commit anything to the mauve project before, so I am not aware of the process and how long they take to respond / merge a [change log entry]((https://www.gnu.org/prep/standards/standards.html#Change-Logs) - that's the format in which they expect a contribution to be). It'd be a good thing to try.  @JasonFengJ9 - Do you already have the change to submit?

[2020-06-18 13:41] DanHeidinga opened #9929 "Spec clarification: Final fields in records are not reflectively modifiable"
OpenJDK has clarified the specification for reflection to state that "Final fields in records are not reflectively modifiable" [0]

We need to validate the OpenJ9 applies this constraint on reflection correctly and Unsafe.

MethodHandles and VarHandles already disallow setting final fields, though there may be a `setAccessible` path through MethodHandles.unreflect() that allows it - need some test

[2020-06-18 13:42] DanHeidinga commented on #9929
FYI @theresa-m @hangshao0 for records and hidden classes
FYI @andrewcraik @vijaysun-omr for the JIT aspect and potential performance benefits

[2020-06-18 13:43] pshipton commented on #9925
[code]

-328433 == 0xFFFAFD0F semop error code 753 J9PORT_ERROR_SYSV_IPC_ERRNO_EINVAL

@hangshao0 fyi
@jdekonin any way multiple tests could be running on this same machine (fyrec51q) at the same time? It's like something is running [sysvcleanup.pl](https://github.com/eclipse/openj9/blob/master/test/TestConfig/scripts/tools/sysvcleanup.pl) while the test is running.

[2020-06-18 13:45] DanHeidinga commented on #9929
From the Record CSR review in https://bugs.openjdk.java.net/browse/JDK-8247444

We'll need to write some tests to validate the expected behaviour of Unsafe with respect to Hidden classes and Records

[2020-06-18 13:45] gita-omr commented on #9446
Thanks @mnalam-p for the investigation and the prototype. I've been thinking about the problem and wrote down my thoughts here: https://github.com/eclipse/openj9/issues/9928

Considering that the most general solution will take time, I would suggest we disable vectorization of the induction variable for now. Please let me know what you think.

[2020-06-18 13:51] pshipton commented on #8204
I don't think there is anything wrong with the tests, it's the way we're running them multi-threaded which is causing the problems. Some of the tests have side affects which affect other tests. We've had similar problems before with other mauve tests.

From the multi-threaded testing, we should either exclude all the tests which call Locale.setDefault(), or all the tests that use the default local

[2020-06-18 14:13] JasonFengJ9 commented on #8204
Following code snippet with specified local can work in a multi-threaded environment.
[code]

In current Mauve test, the two `DateFormat` instances won't equal if JVM default local is changed between two constructors.
[code]

With the proposed modification, following two `DateFormat` instances still equal even the JVM default local is changed between two constructors.
[code]

I agree that excludin

[2020-06-18 14:25] andrew-m-leonard commented on #9925
i'm suspecting it's failing only for the first time it's run on one of the new fyre boxes, I think it's working for subsequent attempts... running some more Grinders to find out...

[2020-06-18 14:33] gita-omr opened #9930 "Address remaining 16-bit immediate issues on Power"
Take care of some cosmetic changes like:

https://github.com/eclipse/openj9/pull/9866#discussion_r441208955

[2020-06-18 14:43] #8019 closed

[2020-06-18 14:44] fjeremic commented on #9876
Ok so `te` is definitely there according to the OS. I see no reason why we would get a SIGILL on `ETND` instruction, which according to PoPs should only cause problems if the facility is not present. My suspicion is VICOM emulation still.

[2020-06-18 14:48] pshipton commented on #9924
This is an IBM problem. It will never be fixed, pls exclude the test or ignore the failure.

[2020-06-18 14:48] #9924 closed

[2020-06-18 14:51] raguks commented on #9443
@DanHeidinga Our goal as part of this is to have chart/operator for both openj9 and jitserver. Yes there is material on end to end use of charts/operators. Simply put, users deploy jitserver and update their application to compile on it by using the JAVA_OPTION. There are many possibilities on how they can do it at the application including updating their charts/operators/pipeline.

I can go over

[2020-06-18 15:01] pshipton commented on #9806
From https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1400 we get the following information. @jdekonin is this sufficient to recreate the build environment?

This is the Xcode version we use to build JDK8u. Note it is full Xcode rather than the command line tools:

build-macstadium-macos1014-x64-1:~ administrator$ xcodebuild -version
Xcode 10.3
Build version 10G8

[2020-06-18 15:02] pshipton commented on #9806
@keithc-ca since we can obviously build with xcode versions < 11.4, and are using this older version to build the releases, I think the build instructions need to be updated.

[2020-06-18 15:07] DanHeidinga commented on #9443
I've tentatively scheduled you for a lightning talk on July 8 as there won't be one on July 1 due to holiday in Canada.

As that's a couple of weeks a way, it would be good to continue the conversation here in the issue in the meantime.

Can you expand on:

It's hard for me (and likely anyone else) to really understand what's being proposed here without some of those details and workflows.  More c

[2020-06-18 15:28] pshipton opened #9931 "JDK14 OpenJDK java/foreign/TestMemoryAccess.java crash Unsafe_defineAnonymousClass"
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.openjdk_x86-64_windows_Nightly/18
java/foreign/TestMemoryAccess.java
[code]

[2020-06-18 15:28] pshipton commented on #9931
@DanHeidinga fyi

[2020-06-18 15:29] DanHeidinga commented on #9931
@babsingh Can you take the initial look at this as the test is related to Foreign memory?

[2020-06-18 15:31] DanHeidinga commented on #9931
I'm going to tentatively tag this against the 0.21 milestone and we'll re-evaluate during the next community call

[2020-06-18 15:43] VermaSh commented on #9009
Quick update:
Turns out that the location of the core dump file  in test output was misleading. The core files were silently moved to `test_output_###/jdk_nio_0/work/sun/nio/cs/FindEncoderBugs/core.20200604.125452.27092.0001.dmp` thanks to @smlambert for pointing it out

[2020-06-18 15:46] babsingh commented on #9654
@smithwil @dnwe To catch the failures reported here, the new tests were added in the OMR sanity suite, via https://github.com/eclipse/omr/pull/5304. OpenJ9 is built on top of OMR, and OpenJ9 uses OMR's signal handling library. Those tests should be run regularly before new changes are ported from OMR to OpenJ9.

[2020-06-18 15:54] dnwe commented on #9654
@babsingh perfect, thank you!

[2020-06-18 15:55] keithc-ca commented on #9806
See #9933.

[2020-06-18 15:59] andrew-m-leonard commented on #9925
I can confirm, all "subequent" runs on a given fyre* slave after the first failures work....!
It's as if the sahred cache is not setup right the first time...? but is subequently...?

[2020-06-18 16:26] ChengJin01 commented on #9880
The ClassFormatError occurred in the compilation. I need to check whether it is possible to add -Xdump options in the corresponding scripts to trigger the dump in such case.

[2020-06-18 16:27] smlambert commented on #9009
re: https://github.com/eclipse/openj9/issues/9009#issuecomment-646110055 yes based on how many times people ask about it, I suppose someone should really propose a fix to openjdk jtreg framework to print that its moved the files.

[2020-06-18 16:29] jdekonin commented on #9806
We can go with xcode version 10.3 yes.

[2020-06-18 16:55] gkorland commented on #4655
Strange, I'm still getting this error.
[code]

[2020-06-18 17:04] pshipton commented on #9925
No sure, I'll go ahead and close this. It really should have been internal to IBM anyway.

[2020-06-18 17:04] #9925 closed

[2020-06-18 17:12] ChengJin01 commented on #9880
@DanHeidinga , just generated the dumps (shared to you via box) based on the command line recorded in the failure_Logs
[code]

[2020-06-18 17:12] babsingh commented on #9931
The failure happens with the [Constant Pool String Patching #8460](https://github.com/eclipse/openj9/pull/8460) changes, which were delivered by @fengxue-IS. I couldn't reproduce the failure on Linux. The failure may either be Window's specific or intermittent. The segfault happens while loading the elements of the `patchArray` (**sun_misc_unsafe.cpp:143**). @fengxue-IS Can you please take a look

[2020-06-18 17:48] r30shah commented on #9446
@gita-omr  From disabling the vectorizing of the induction variable, how much perf impact do you expect? (Considering it is one type of transformation from from the umbrella of different SIMD transformations).

[2020-06-18 17:52] JasonFengJ9 commented on #4655
@gkorland could you elaborate the scenario? and the `-version` output from the attaching VM and the target VM.

[2020-06-18 18:10] gita-omr commented on #9446
It is a small subset of what auto-SIMD generally does. There is a chance of course that somewhere where is a small loop that was vectorized before and would not be now but I just afraid correctness issues override the possible (but most likely rare) benefits. Note that vectorization of the induction variable (IV) is currently effectively only enabled on Z.

[2020-06-18 18:19] fjeremic commented on #9136
Summarizing my findings here:

---

## Goal

The goal of this issue is to alter/remove the following code in question so that we are always able to generate a jitdump, irregardless of exclusive VM access state:
https://github.com/eclipse/openj9/blob/958d2f9b581efc1ddf774753520d709e64c7d6e7/runtime/compiler/control/HookedByTheJit.cpp#L2067-L2074

## Summary of cases to handle

There are two cases i

[2020-06-18 18:22] r30shah commented on #9446
@gita-omr  Thanks, I agree, considering the tree it generated and seeing the instruction generated later on, I have serious doubts about the functionally correctness. I would like to get opinion of @fjeremic  as well for disabling vectorization of IV.

[2020-06-18 18:33] fjeremic commented on #9446
I'm ok with disabling as well until we are certain of functional correctness.

[2020-06-18 18:48] liqunl commented on #9782
Summary of an offline discussion between James, GAC, Andrew, Dan and me:

Since we're not able to reproduce the crash nor detecting incorrect DF flag, we started to think if it's caused by other things. We have considered other possibilities that may corrupt the object header.

The DF flag bit is flipped by radioactive, or there is a C compiler bug generating bad VM/JIT code that sets the flag, or

[2020-06-18 18:58] DanHeidinga commented on #9782
+1

I think this makes a lot of sense.  Let's grind the testing with the option enabled and see if we can find another occurrence of this issue.

[2020-06-18 19:02] andrewcraik commented on #9782
Moved to 0.22

[2020-06-18 19:10] DanySK opened #9940 "OpenJ9 stack overflows when using java/lang/Class.getMethodHelper (java.base@9/Class.java:1417)"
[A build working with HotSpot fails reproducibly with OpenJ9 8/11/14](https://travis-ci.com/github/DanySK/upgradle/builds/172081040).

This is  a shortened version of the stack error
[code]

I'm still trying to figure out how to produce a smaller example.
Meanwhile, reproduce by:
[code]

The issue is reproducible across all OpenJ9 versions, on MacOS, Linux, and Windows.

[2020-06-18 19:16] ChengJin01 commented on #9880
@DanHeidinga ,  according the dumped class file from the dumps at
[anoclass_class.txt](https://github.com/eclipse/openj9/files/4800729/anoclass_class.txt)
[code]
The class with ClassFormatError is ` jdk.internal.module.SystemModuleFinders$1$$Lambda$1`
The interface is `java.security.PrivilegedAction` and the superclass is `java/lang/Object`.

[2020-06-18 19:25] gacholio commented on #9931
`patchArray` needs to be refetched from the local ref after entering the VM a few lines before the crash.

[2020-06-18 19:25] #8838 closed

[2020-06-18 19:29] andrewcraik commented on #9663
I have relabeled this since the fix is in an area of the VM for tracking purposes.

[2020-06-18 19:40] fengxue-IS commented on #9931
Thanks Gac, I will submit a PR to fix this.

[2020-06-18 19:52] ChengJin01 commented on #9880
Verified the dumped class file on both our nightly build and RI:
[code]
It seems ClassFormatError was captured by our build while RI just let it passed in terms of static verification.

[2020-06-18 19:58] 0xdaryl commented on #9046
This issue is difficult to reproduce (only been seen on a large core machine) and may be related to the version of OpenSSL (for example, we have not seen this problem on the machine on which it failed running with OpenSSL 1.1.1).  We'll leave it open for a few more days to try and collect more data, but given that AArch64 is still early access there is a good chance this will be deferred.

[2020-06-18 20:24] DanHeidinga commented on #9940
@DanySK Is there a java agent involved?  Or something modifying the bytecode of existing classes?

There isn't normally a call to getMethod inside hashCode:
[code]

[2020-06-18 20:31] DanySK commented on #9940
@DanHeidinga I'm searching and I believe this issue is caused by / is the same of mockk/mockk/337. I do not know if the issue belongs here or in mockk actually. My first instinct was to open it here, as it's not reproducible in HotSpot, but I'm not sure what mockk does behind the scenes.

[2020-06-18 20:56] andrewcraik commented on #9835
@dsouzai this is a crash in process relocations - does it look familiar?

[2020-06-18 21:05] andrewcraik commented on #9835
@dsouzai says it might be related to the IProfiler but the backtrace is not reliable. @liqunl any chance you could grab the backtrace so we can see if it is the same?

[2020-06-18 21:25] pshipton commented on #9869
Another one https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_Personal/868

[2020-06-18 21:43] pshipton commented on #4655
@gkorland you need to use the jmap tool from OpenJ9 on an OpenJ9 VM.

[2020-06-18 21:45] pshipton commented on #4655
[code]

[2020-06-18 21:46] pshipton commented on #4655
[code]

[2020-06-18 21:51] gacholio commented on #9782
@liqunl Please subscribe me to the item for the diagnostic work when it is created.

[2020-06-18 22:22] sharon-wang commented on #7247
Ran several more sets of grinders, but no crashes occurred.

Tested with the following
* OSX 10.10, 10.11
* `JVM_OPTIONS -Xjit:count=0,optlevel=scorching -XcompilationThreads7`
* Tests
   * testvmcheck_6
   * J9vmTest
   * test/jdk/java/lang/ClassLoader/Assert.java
   * test/jdk/java/util/zip/EntryCount64k.java
   * test/jdk/java/lang/ProcessBuilder/Basic.java

Seems like this issue is not reprodu

[2020-06-18 22:43] 0xdaryl commented on #9251
We have not been able to reproduce this problem since it was first seen.  Even then, the core file was only unreadable only on the machine it was produced on and not when it was transferred elsewhere.   Not a blocking issue, nor has it been recently.  Recommend closing as @knn-k suggests.

[2020-06-18 23:43] knn-k commented on #9017
Only ta001 fails in https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_aarch64_linux_xl_Personal_testList_0/1/tapResults/

[2020-06-19 00:17] #9931 closed

[2020-06-19 01:15] pshipton opened #9944 "DDR incompatibilities realHeapAlloc() and _realHeapTopOffset_"
Trying to read older cores with the latest, running `!monitors deadlock`.

`com.ibm.j9ddr.CorruptDataException: java.lang.NoSuchMethodException: com.ibm.j9ddr.vm29.pointer.generated.J9ModronThreadLocalHeapPointer.realHeapAlloc()`
- no stack for this one
- occurred reading OpenJ9 0.20 core with a recent IBM Java, which technically isn't supported, not sure if this problem is expected or should have

[2020-06-19 01:15] pshipton commented on #9944
@keithc-ca

[2020-06-19 01:18] pshipton commented on #9944
@dmitripivkine

[2020-06-19 03:33] mnalam-p commented on #9446
I found something interesting, with my changes and @r30shah 's test case, the output was functionally incorrect although the generated IL seemed correct. Now, I have disabled the auto-vectorization for the problematic situations but left it open for other situations (when it generates correct IL). However, to my surprise, the vectorization was still functionally incorrect (failed with @r30shah 's

[2020-06-19 03:44] mnalam-p commented on #9446
Considering this test case:
`for (int i = 0; i < addnArrayLength-1; ++i)
                        offsets[i+1] =  i * token;`
The IL generation should be correct and it appears to be. This should make iload i + 1 be commoned with the loop control variable. Yielding following IL (One instance of an unrolled loop)
[code]
Which fails the functionality test

[2020-06-19 04:23] DanHeidinga opened #9946 "Turn gpProtected into a set of options rather than a boolean"
I started out opposed but I think you're right.  gpProtected should be based on an enum where 1 is protected, 2 is xrs, and some macros should be added to check if gpProtected or not.

_Originally posted by @DanHeidinga in https://github.com/eclipse/openj9/pull/9872#issuecomment-646426889_

[2020-06-19 06:01] knn-k commented on #9911
The `method` field seems to always show the same method, `Method.invoke()`:

[2020-06-19 06:17] #9920 closed

[2020-06-19 07:54] knn-k commented on #8594
I still can recreate this assertion failure with a debug build on AArch64.  (I just haven't tried x86-64 today).

[2020-06-19 12:17] knn-k commented on #9911
cmdLineTester_jvmtitests_hcr_OSRG_nongold_3 and _4 are resolved by eclipse/omr#5319.

[2020-06-19 13:46] #9385 closed

[2020-06-19 14:00] r30shah commented on #9446
@mnalam-p May be you can continue discussion on the issue @gita-omr  created (https://github.com/eclipse/openj9/issues/9928) where you put the full log as well. Also may help but when I ran my unit test with your potential fix, it was the very first Vectorized iteration where first four elements for [0,1,2,3] should be  [1*a,2*a,3*a,4*a] while it was [0,0,0,0], so something is off when you enter t

[2020-06-19 14:01] keithc-ca commented on #9944
I tried opening a core file generated by
[code]
with a current build and received
[code]
This *is* a supported use case.

If you enable logging, you get more information:
[code]
The problem is trying to find a method that isn't included in a current build. If the pointer classes were being generated at runtime, this would not occur (if you examine a 32-bit core with a 64-bit SDK or vice-versa). Th

[2020-06-19 14:25] keithc-ca commented on #9944
We have at least two ways to fix this.
* The first is to generate pointer classes dynamically more often (by removing [these lines](https://github.com/eclipse/openj9/blob/master/debugtools/DDR_VM/src/com/ibm/j9ddr/J9DDRClassLoader.java#L69-L73) in `J9DDRClassLoader`).
* The second is to change `GCObjectHeapIteratorAddressOrderedList_V1` so it looks for the offset field `J9ModronThreadLocalHeap.rea

[2020-06-19 14:28] DanHeidinga commented on #9946
https://github.com/eclipse/openj9/pull/9872#issuecomment-646427918

[2020-06-19 14:42] pshipton commented on #2213
Another one. May just be some weirrd network issue or machine issue, we'll see if any more occur.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly_testList_1/23
[code]

[2020-06-19 14:47] pshipton commented on #8162
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly_mauveLoadTest/39

I expect this is a dup of #8204

[2020-06-19 14:47] #8162 closed

[2020-06-19 14:52] pshipton commented on #9021
Another weird failure on ub16-390-1
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly_testList_0/23
testSCCacheManagement_0
[code]

[2020-06-19 15:03] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/90
Caused many failures in this build.
java/lang/String/Supplementary.java.Supplementary
java/lang/String/ToLowerCase.java.ToLowerCase
java/lang/String/ToUpperCase.java.ToUpperCase
java/lang/String/UnicodeCasingTest.java.UnicodeCasingTest
java/lang/StringBuffer/AppendCharSequence.java.AppendCharSequence
java/lan

[2020-06-19 15:03] gita-omr commented on #9884
Confirmed with @aviansie-ben that no incorrect behaviour was introduced between 0.20 and 0.21 so removing the milstone.

[2020-06-19 15:07] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/68
timeout

[2020-06-19 15:14] pshipton commented on #9651
Here is a finalization hang, but a different test. FYI there were a number of other failures in the same build.
https://github.com/eclipse/openj9/issues/8972#issuecomment-646685660

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/90
java/lang/System/finalization/FinThreads.java
00:02:08  	at app//FinThreads.main(FinThreads.java:120)
@dmitripivkine there is a

[2020-06-19 15:41] gita-omr commented on #9446
@mstoodle I will add codegen todos into #9928

[2020-06-19 15:43] gita-omr commented on #9928
If we solve this issue we also want to add evaluators for all the necessary vector opcodes (eg. vsetelem) on all platforms.

[2020-06-19 16:15] keithc-ca commented on #9944
I have a fix using the second approach.

[2020-06-19 19:01] DanHeidinga commented on #9940
I reproduced this and generated core+java dumps using:
[code]
and opened the corefile:
[code]

It's very clear that the bytecodes have been modified.

Next step: figure out which set of calls are causing the problem and if there's a way to work around it

[2020-06-19 20:21] #9446 closed

[2020-06-19 21:24] mikezhang1234567890 commented on #9168
Turns out this isn't unique to z/OS, see https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/318

[2020-06-19 21:44] PushkarBettadpur commented on #9683
Managed to correct the failures mentioned above.

I think it's a good time to request some feedback. My primary concern stems from the fact that a fix requires the addition of 5 new instructions to the inline allocation sequence.

To highlight these changes, consider first, the following sequence in `genHeapAlloc2`

https://github.com/eclipse/openj9/blob/5f4a9c9170fcc15d73d09eaa978e31f50210b64b/ru

[2020-06-19 22:46] theresa-m commented on #9912
Okay. Thanks for the additional stack trace and information. I'll continue to investigate.

[2020-06-20 02:28] JasonFengJ9 commented on #8629
A similar error at an internal build `Test_openjdk8_j9_sanity.functional_x86-64_windows_Nightly_testList_1/16`
[code]

[2020-06-20 02:34] Thihup commented on #9433
We've reworked the logic were it was used and now it is not necessary anymore. I'll close this issue

[2020-06-20 02:34] #9433 closed

[2020-06-20 05:09] knn-k commented on #9017
Fixed by #9953.  Closing.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_aarch64_linux_xl_Personal_testList_0/2/tapResults/

[2020-06-20 05:09] #9017 closed

[2020-06-20 14:18] mpirvu opened #9961 "Eliminate vlog line that says "#JITServer: Chain exists ...""
The JITServer verbose log contains way too many lines of the form:
`#JITServer: Chain exists (00007F2DFF81B24C) so nothing to store`
These lines don't have much value, they add overhead and increase the size of the vlog, therefore it's better if we just remove them.

[2020-06-20 14:40] mpirvu opened #9962 "Client UUID appears truncated in verbose log"
Under `-Xjit:verbose={JITServer}` the client prints its UUID in the verbose log, but it appears truncated:
`#JITServer: Identifier for current client JVM: 3663742628`
while it should have been like this:
`#JITServer: Identifier for current client JVM: 9388384503642212004`

The line that prints the UUID is like this:
[code]
It seems that `OMR_PRIu64` does not play nice with the verbose log. I repla

[2020-06-20 16:19] DanHeidinga opened #9963 "Investigate caching Class#getSimpleName & #getCanonicalName"
Investigate whether we can cache these results so they don't have to be re-calculated over and over.

To avoid increasing the size of the java.lang.Class objects, the names can be cached in the ReflectCache for each class.

This will need footprint measurements as well as some microbenches to validate the benefits

[2020-06-20 16:39] DanHeidinga opened #9964 "Remove `` flag as currently believed to be unnecessary"
https://github.com/eclipse/openj9/blame/a851c8f47bfdeb083d532e00f9a48d10e9cc5a4b/runtime/bcutil/ROMClassBuilder.cpp#L1165-L1178

[2020-06-21 07:36] provegard opened #9965 "JDI visible classes don't include array classes"
Java -version output
--------------------

- Java Debug Interface (Reference Implementation) version 1.8
- Java Debug Wire Protocol (Reference Implementation) version 11.0
- JVM Debug Interface version 11.0
- JVM version 11.0.7 (Eclipse OpenJ9 VM, JRE 11 Windows 10 amd64-64-Bit Compressed References 20200422_551 (JIT enabled, AOT enabled)
- OpenJ9   - 05fa2d361
- OMR      - d4365f371
- JCL      -

[2020-06-21 22:13] JasonFengJ9 commented on #9808
It is seen in an internal build `Test_openjdk14_j9_sanity.functional_x86-64_linux_xl_Nightly_testList_1/21`:
[code]

[2020-06-21 22:17] JasonFengJ9 opened #9967 "JDK11_x86-64_windows build failure : pdb/PdbScanner.cpp:209 PdbScanner::loadDataFromBinary - CoCreateInstance failed with HRESULT = 8007007E"
Failure link
------------

From an internal build `Build_JDK11_x86-64_windows_Nightly/445`:

Optional info
-------------

- intermittent failure (yes):

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-06-22 02:03] knn-k commented on #6775
This can be closed now.

[2020-06-22 02:03] #6775 closed

[2020-06-22 02:06] knn-k commented on #6606
This can be closed now.

[2020-06-22 02:06] #6606 closed

[2020-06-22 02:08] knn-k commented on #8960
Related: Issue #6332

[2020-06-22 02:13] Akira1Saitoh commented on #6859
We still have not implemented debug print functions of variants of Call Snippets, especially instructions pushing method arguments to the java stack.

[2020-06-22 03:49] pshipton opened #9969 "j9vm.test.arraylets.ArrayletAllocateTest OOM"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_s390x_linux_OMR_testList_1/22
J9vmTest_4
[code]

[2020-06-22 03:49] pshipton commented on #9969
@dmitripivkine can you pls take a look.

[2020-06-22 03:57] pshipton commented on #9808
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly_testList_0/25
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly_testList_0/26

[2020-06-22 04:03] pshipton commented on #8204
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Release_mauveLoadTest/2
MauveMultiThreadLoadTest_special_25

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Release_mauveLoadTest/2
MauveMultiThreadLoadTest_special_8
variation: Mode122
JVM_OPTIONS:  -Xgcpolicy:optavgpause -Xjit:count=0,optlevel=warm,gcOnResolve,rtResolve -Xnocompresse

[2020-06-22 04:27] pshipton commented on #9651
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.openjdk_x86-64_linux_xl_Personal/9
17:27:48  	at app//FinalizeOverride.test(FinalizeOverride.java:75)
17:27:48  	at app//FinalizeOverride.main(FinalizeOverride.java:52)

Core available https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk14_j9_sanity.openjdk_x86-64_linux_xl_Personal/9/openjdk_test_out

[2020-06-22 07:27] knn-k commented on #9911
- O-Slot value is always 0x8 when it crashes
- The tests pass with `disableGRA`

[2020-06-22 12:40] DanHeidinga commented on #9940
Agent is:
[code]

Object.hashcode() isn't a native in OpenJ9, so it gets instrumented.  I think that may be the core of the issue.

Can you try adding `excludes=java/lang/Object` to the agent's options?  So something like:
[code]

This should work around the issue as it won't attempt to modify Object.hashCode or any other Object methods

[2020-06-22 13:01] JasonFengJ9 opened #9971 "ClassCastException: com.ibm.j9ddr.view.dtfj.image.J9DDRCorruptData incompatible with com.ibm.dtfj.java.JavaObject"
Failure link
------------

From an internal build `ibuild 449730`:
VM_Extended.testDTFJ.Mode351

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-06-22 14:48] dmitripivkine commented on #9969
O-slot in JIT frame kept large Arraylet alive unnecessary so there is no room left:
[code]

`!j9object 0x000000000F1C5FE8` has been used in a previous iteration of the test and not required any more:
[code]
However `O-Slot: : t0[0x0000000001758CD0] = 0x000000000F1C5FE8` keeps it alive and does not allow to collect it. This object uses 64 regions of 130 so there is no room left in the heap for test

[2020-06-22 14:59] pshipton opened #9972 "SharedClassesWorkload_0 OutOfMemoryError"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Release/34
SharedClassesWorkload_0
win2012r2-x86-2
Step 12 - Run multiple workload processes
SCL2
[code]
[code]
[code]

[2020-06-22 14:59] pshipton commented on #9972
@dmitripivkine can you take the first look pls.

[2020-06-22 15:02] pshipton commented on #9972
Note the java stack contains `<unknown class>.<unknown method>(Unknown Source)`

[2020-06-22 15:06] pshipton commented on #9971
@keithc-ca can you take a look pls.

[2020-06-22 15:13] pshipton commented on #9967
@keithc-ca fyi

[2020-06-22 15:14] hangshao0 commented on #9893
The timeout is caused by:

Thread 1: Locking the cache with the write mutex, waiting for readers to finish. (SH_CacheMap::updateROMClassResource)
Thread 2: Holding the class segment mutex, waiting for the write lock. (Storing ROMClass to the SCC)
Thread 3: Entered the read mutex, waiting for the class segment mutex. (SH_CacheMap::findROMClass)

We should not acquire the class segment mutex inside

[2020-06-22 15:20] pshipton commented on #9964
Note the flag is referenced in DDR code, which needs to be handled to avoid breaking DDR. Although since it doesn't seem to be used, maybe the code just needs to be deleted.

[2020-06-22 15:30] keithc-ca commented on #9967
When Visual Studio was installed, was `MSDIA140.dll` registered as [documented](https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V8.md#windows)?
[code]

[2020-06-22 15:37] keithc-ca commented on #9971
It could just be exactly what it says: 'corrupt data'. Is the core file available?

[2020-06-22 15:41] pshipton commented on #9967
@jdekonin pls see the previous comment. The machine is win16x64rt6

[2020-06-22 15:42] ashu-mehra opened #9974 "Design: Enable JProfiling for JITServer"
### Overview
https://github.com/eclipse/openj9/issues/3764 mentions the need for enabling JProfiling in the context of JITServer.
To do that, we need to add capability to transfer the JProfiling information between client and server.
We need to be able to serialize and deserialize data structures storing JProfiling information. In addition we need to generate relevant relocation record for profili

[2020-06-22 15:43] Artoria2e5 opened #9975 "Feature request: implement HotSpot-like XX:SoftHeapSizeMax (dynamic heap size without user intervention)"
HotSpot has a new GC called ZGC that comes with a `-XX:SoftMaxHeapSize` option. It represents another way of tackling the problem `-Xsoftmx` tries to solve: instead of handing the control to the program with an interface extension, it lets the GC figure out how much heap size to add when more memory is requested. This can be helpful when running some closed-source Java programs out of the box, whi

[2020-06-22 15:53] keithc-ca commented on #9971
I found a core file (hopefully it's the right one).

[2020-06-22 15:55] dmitripivkine commented on #9975
@amicic FYI

[2020-06-22 16:01] jdekonin commented on #9967
I'm guessing no as the standalone installer doesn't detail that as part if the installation process as the original playbook change has it.
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/3143979688df2c97ea6b41347feaef8438809885/ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml#L31

Not sure how we are not seeing this on all the OpenJ9 machines; win2012r2-x

[2020-06-22 16:29] keithc-ca commented on #9971
More detail from jdmpview:
[code]
The test was not written anticipating corruption: it's not clear what can be done besides improving the test.

[2020-06-22 17:00] pshipton commented on #9971
The test was passing, but started failing consistently across multiple platforms, which implies that something in the change list broke it.

https://github.com/eclipse/openj9/compare/77c3af9...d2ab44a

[2020-06-22 17:08] pshipton commented on #9971
VM_Extended.testDTFJ.Mode301 is also failing, starting in the same build.
[code]

@dmitripivkine @bragaigor is this related to https://github.com/eclipse/openj9/pull/9373 ? It seems the most likely change to have caused it.

[2020-06-22 17:48] #9944 closed

[2020-06-22 17:58] andrewcraik commented on #9753
I've been all over this and I can't figure out how we got here. Given the lack of reproduction I'm going to close this for now and we can look again if we get a reproduction.

[2020-06-22 17:58] #9753 closed

[2020-06-22 18:21] gacholio commented on #9965
@provegard Can you provide a simplified test that uses JDI?

I've taken a look at the JVMTI code and it appears to be doing the correct thing, so I'm not sure where the error lies.

[2020-06-22 21:08] bragaigor commented on #9971
This is probably due to #9373 and I think I found the issue. DDR code wasn't updated accordingly, I'll be creating a PR shortly.

[2020-06-22 22:06] jdekonin opened #9978 "Windows JDK15 VS2019 "error LNK2001: unresolved external symbol""
Encountered while attempting to compile Windows JDK15 with VS2019 under #9805

internal job/Build_JDK15_x86-64_windows_Personal/2 on win16x64rt1

I get (fatal) failures like this during
[code]

[2020-06-22 22:10] pshipton commented on #9978
I'm guessing some support library has been renamed, such as one of "msvcrt.lib" "msvcprt.lib" "ws2_32.lib". @andrewcraik fyi

[2020-06-22 22:31] #9893 closed

[2020-06-22 23:12] dmitripivkine commented on #9972
2G heap is taken by `java/util/TreeMap$Entry` and ` java/lang/Integer`
top of the heap usage list (total number, total size, name):
[code]

[2020-06-22 23:39] theresa-m commented on #9912
I've updated my draft with a couple of other places where the cache should be refreshed https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/317

Sample build with this change: https://drive.google.com/file/d/15lq9C460QuR-LVTXv5t-5gpLv7suAklW/view?usp=sharing

If that doesn't work, can you also try including the `-Xint` option on your command line to see if that makes a difference?

[2020-06-22 23:40] knn-k commented on #6637
Related PR: eclipse/omr#5262

[2020-06-23 01:16] harryyu1994 opened #9979 "Enable JITServer to use JITClient's TR::Environment for out-of-process compilations"
Currently only a subset of information inside TR::Environment is obtained by the JITServer from JITClient (i.e. the TR::CPU object).
We would like the entire TR::Environment object to be transferred over to JITServer during out-of-process compilations.

[2020-06-23 02:07] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_Release/37
SharedClasses.SCM01.MultiThread_0
[code]

[2020-06-23 02:43] pshipton commented on #9663
@DanHeidinga should this be closed by https://github.com/eclipse/openj9/pull/9918 ?

[2020-06-23 03:34] DanHeidinga commented on #9663
yes

[2020-06-23 03:34] #9663 closed

[2020-06-23 07:56] mreuvers commented on #9912
Hello @theresa-m

I gave your new jdk a try, unfortunately it fails very early during startup of our product (so not related to the issue reported).  As the product does not start I can't test more. Something else seems wrong with deserialization in this jdk here:

[code]

[code]
The -Xint flag has no effect except making things slow (same stack).

I double checked with your previous linked jdk, b

[2020-06-23 13:02] cathyzhyi commented on #9644
@nbhuiyan did some investigation but the defect can't be reproducible and there is not enough information from the coredump.
FYI @andrewcraik

[2020-06-23 13:03] cathyzhyi commented on #8866
@nbhuiyan is helping to investigate.

[2020-06-23 13:08] andrewcraik commented on #9644
@pshipton given the above comment I am thinking we close and wait to see if there is a reproduction since we can't figure this out from the available core...

[2020-06-23 13:51] pshipton commented on #8767
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly_testList_0/31
[code]

[2020-06-23 13:54] pshipton opened #9982 "MauveMultiThreadLoadTestWithTraceOption/generation/generation.stdout: No such file or directory"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_windows_Nightly_mauveLoadTest/46
[code]

[2020-06-23 13:54] pshipton commented on #9982
@Mesbah-Alam can you pls take a look

[2020-06-23 13:56] dmitripivkine commented on #9651
`app//FinalizeOverride.main(FinalizeOverride.java:52)` is
[code]
so looking to Java stack frame for `FinalizeOverride.test`:
[code]
Object we are waiting to be Finalized is
[code]
but it can not be because `O-Slot: : a0[0x00007FF96000B088] = 0x00007FFA04D1AAE8` keeps it alive. GC tracks this object in Unfinalized list and ready to send it to Finalization as soon as it is detected dead.

[2020-06-23 14:01] pshipton commented on #9972
See if this can be repeated via a grinder https://ci.eclipse.org/openj9/job/Grinder/914/

[2020-06-23 14:31] pshipton commented on #9644
Closing since there haven't been any more occurrences and this can't be repeated. Will re-open if seen again.

[2020-06-23 14:31] #9644 closed

[2020-06-23 14:37] dmitripivkine commented on #9972
Looks like this stack is responsible for OOM:
[code]
frame `TreeMapFactory.populateTree`
[code]
points to
[code]
This table has size 0x01F350CB (32723147) seems major occupant of the heap

[2020-06-23 14:44] dmitripivkine commented on #9972
I guess we need take a look to `net/adoptopenjdk/test/util/treemap/TreeMapAPITest.testTailMap()` to figure out how table size is selected

[2020-06-23 14:54] pshipton commented on #9972
Seems hard coded at 1000.

[2020-06-23 14:57] pshipton commented on #9972
https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.test.util/src/test.util/net/adoptopenjdk/test/util/treemap/TreeMapAPITest.java#L718

[2020-06-23 15:37] ChengJin01 commented on #5058
I've finished all the minimal openjdk_tests (including the jdk_lang & jdk_pack200) with the cross-build on Debian_riscv/U540 and no risc-v specific issue was detected except a couple of timeout cases, some of which I already verified with a single run and all of them passed. I will get started to check the DDR related tests on the native build (compiled on Fedora_raw/QEMU) to ensure everything wor

[2020-06-23 16:10] pshipton opened #9985 "Running jdmpview on jdk14, the info class command is not visible"
Java -version output
--------------------

Tested jdk14 0.20.0 release, and also the latest nightly 20200623.

Summary of problem
------------------

Run jdmpview from jdk14 on a core file, the `info class` command is not visible in the help output or when running it (`Unrecognised command: info class`). Open the core with jdmpview from jdk11 or jdk8 and `info class` is available. I don't think th

[2020-06-23 16:10] pshipton commented on #9985
@keithc-ca @dmitripivkine

[2020-06-23 16:21] raguks commented on #9443
@DanHeidinga I will post a proposal here. July 8 sounds good.

[2020-06-23 16:34] dmitripivkine commented on #9972
Frame seems stored 1000 in I-slot `0x1461630`:
[code]

[2020-06-23 16:37] pshipton commented on #9651
@andrewcraik fyi this transfer to jit.

[2020-06-23 16:40] dmitripivkine commented on #9969
@andrewcraik fyi this transfer to jit

[2020-06-23 16:56] andrewcraik commented on #9651
@dmitripivkine so is the problem that the JIT is just keeping the object alive too long for the test? If so at low optimization levels we do not minimize the lifetime of object slots - there is a JIT option (-Xjit:enableAggressiveLiveness) to force it but we don't run but it is not the default.

If the enableAggressiveLiveness fixes it, is the test even valid?

[2020-06-23 16:59] andrewcraik commented on #9969
I suspect this is again a liveness issue that might be addressed by -Xjit:enableAggressiveLiveness - if that fixes it is the test valid - do we have to release the memory - there is no requirement to do so as far as I know...

[2020-06-23 17:14] dmitripivkine commented on #9651
Test tries to kill object by setting it to NULL before waiting for finalization in the loop https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/60b1852c4d140e2913bdc544d2e9f9ef5cef90f4/test/jdk/java/lang/ref/FinalizeOverride.java#L62
However finalization never occur because object kept alive by O-slot.

This test fails very intermittently in Adopt runs (framework uses `javac`) but it is hard

[2020-06-23 18:19] pshipton commented on #9710
Labeling as JIT since the problem doesn't occur with -Xnoaot.

[2020-06-23 18:58] andrewcraik commented on #9651
Looking at the code the JIT could easily eliminate the dead store to the param - no one observes the value so there is no requirement to do that write. Further, there is no requirement for us to mark the parameter dead - we can do so, but are not required so I expect -Xjit:enableAggressiveLiveness - the test seems invalid to me.

[2020-06-23 19:10] pshipton commented on #9651
It seems like an issue that could occur with user code, where the code intentionally nulls variables so they can be gc'ed, but the JIT keeps them alive.

The test is run as part of the jdk_lang group. We can modify the entire group to run with the `-Xjit:enableAggressiveLiveness` option if that seems appropriate and won't hide problems.

[2020-06-23 19:33] andrewcraik commented on #9651
so there is no guarantee that doing local = null is going to cause the object to be released. At lower opt levels the JIT doesn't run the optimization to minimize object lifetimes for compile-time reasons - it takes too long...

[2020-06-23 19:36] pshipton commented on #9969
So should we run all the sanity.functional testing with `-Xjit:enableAggressiveLiveness`?

[2020-06-23 19:37] pshipton commented on #9969
Actually this is a command line test so we could modify just this test to use the option.

[2020-06-23 19:38] keithc-ca commented on #9985
Enabling logging shows:
[code]

[2020-06-23 20:42] dmitripivkine commented on #9972
I believe these three O-slots in `SynchronizedMap.put` represents [key, value, map] an attempt to add entry to the table
[code]
Size of the table should not be larger than 1000 (0x3e8) but it actually is `0x01F350CB` (both `size` and `modCount`).
Also we can see the same value as a `value` in `!j9object 0x000000008490D518`.
Looks like something went wrong here (corruption? bad register?)

[2020-06-23 20:51] dmitripivkine commented on #9972
GC worked as expected in this test, so removing GC label. I am going to help with this investigation regardless

[2020-06-23 20:54] keithc-ca opened #9990 "Update DTFJ ClassScanner to use the latest ASM version"
Each Java version may introduce new features in class files which may require a new ASM version (in Opcodes.java).
`com.ibm.java.diagnostics.utils.plugins.impl.ClassScanner` should use the latest available ASM version.

Don't close this issue, move it to the next milestone after completing the update.

[2020-06-23 20:57] pshipton commented on #9972
@andrewcraik ever seen anything like this? If something is going wrong it seems likely to be JIT. It's only failed once so far, I couldn't recreate in grinders, but we have the core file.

[2020-06-23 21:27] pshipton commented on #9990
Since we have #9991 to update 0.21 and Java 15 is already handled, moving this forward.

[2020-06-23 22:26] knn-k commented on #9911
Fixed by eclipse/omr#5334

[2020-06-23 22:26] #9911 closed

[2020-06-23 22:31] sharon-wang commented on #7247
I've opened https://github.com/eclipse/openj9/pull/9994 and https://github.com/eclipse/omr/pull/5338 to replace `environ` with `_NSGetEnviron()` for OSX

[2020-06-24 00:46] nbhuiyan commented on #9644
Here is the backtrace from the core that could help identify any future occurrences:

[code]

The RAM class in `getClassNameChars` was valid, but the address of the ROM class returned by `TR::Compiler->cls.romClassOf(ramClass)` was different from the actual address of the ROM class, resulting in the segfault when trying to access its name field.

[2020-06-24 02:50] #9985 closed

[2020-06-24 02:54] #9849 closed

[2020-06-24 05:06] pshipton opened #9996 "debuginfo files are in the OpenJ9 jdk artifacts"
For jdk11 at least, downloading a jdk artifact such as https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK11_x86-64_linux_Personal/873/OpenJ9-JDK11-x86-64_linux-20200623-233150.tar.gz from a PR build, it contains the .debuginfo files, making it more than double the size it needs to be. This is slowing uploads and downloads. We also have the debug-image artifact fil

[2020-06-24 05:18] pshipton commented on #9996
Looking at artifact sizes, jdk8, jdk14, jdk15 seem ok.

[2020-06-24 05:24] pshipton commented on #9996
Actually, I'm not sure of that. The debug-image files for jdk8, 14, 15 are much smaller. The jit debuginfo file in jdk11 is enormous.

[2020-06-24 07:37] andrew-m-leonard opened #9997 "jdknext AIX: ** ASSERTION FAILED ** at CompositeCache.cpp:2437:"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-aix-ppc64-openj9/148/console
[code]

[2020-06-24 08:37] andrew-m-leonard commented on #8872
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_xl/270/testReport/junit/java_util_zip_ZipFile_TestCleaner/java/TestCleaner/
timeout

[2020-06-24 08:46] knn-k commented on #9046
#9769 reports a failure with `SSLException: Tag mismatch!` with JDK8 OpenJ9 v0.20.0 on amd64.

[2020-06-24 08:47] andrew-m-leonard opened #9998 "jdk11: java/math/BigInteger/DivisionOverflow.java Timeout, intermitent"
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows/251/testReport/junit/java_math_BigInteger_DivisionOverflow/java/DivisionOverflow/
[code]

Optional info
-------------
- intermittent failure (yes|no): YES, about 1 in 3 fails

[2020-06-24 08:55] knn-k commented on #9048
This test uses the native OpenSSL in running jlink.  I got the following output in Step 6 of the test when I use `export IBM_JAVA_OPTIONS=-Djdk.nativeCryptoTrace=true`:

[code]

Is the hash value calculated by the native MessageDigest?

[2020-06-24 11:58] DanHeidinga commented on #9997
fyi @hangshao0 - this looks related to your recent SCC changes.

[2020-06-24 12:17] DanHeidinga commented on #2206
Closing as this has been inactive for 2 years

[2020-06-24 12:17] #2206 closed

[2020-06-24 12:54] pshipton opened #9999 "ConcurrentLoadTest_0 hang"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly/406
ConcurrentLoadTest_0
[code]

[2020-06-24 13:08] sahithiponangi commented on #7137
@0xdaryl I tried to get a successful build with TR_ASSERT_FATAL and checked logs with a sample program which I think will trigger the function(`inlineDirectCall`) I made changes in.
`TR_ASSERT_FATAL` output could not be found in the log files. So I checked for how/when `inlineDirectCall` is called, but I didn't see it being called at all (except in a function in `Power` -> `directCallEvaluator`).

[2020-06-24 13:28] pshipton commented on #9999
It's stuck here
[code]

[2020-06-24 14:25] pshipton commented on #9998
1TISIGINFO     Dump Event "systhrow" (00040000) Detail "java/lang/OutOfMemoryError" "Java heap space" received

3STHSTTYPE     02:45:26:489683997 GMT j9mm.101 -   J9AllocateIndexableObject() returning NULL! 268435464 bytes requested for object of class 000000000002E000 from memory space 'Generational' id=0000004E134CC340

javacore is truncated so there is no stack trace. Core/heap dumps are disabl

[2020-06-24 14:32] pshipton commented on #9998
Checking if I can recreate in a grinder
https://ci.eclipse.org/openj9/view/Test/job/Grinder/922/

[2020-06-24 14:38] pshipton commented on #9998
Actually, the test is supposed to handle OOM. I think it's hanging trying to write the javacore, there is no completion message.

[code]

[2020-06-24 14:40] hangshao0 commented on #9997
Seems that the core files are not saved/uploaded by the job.

[2020-06-24 14:48] pshipton commented on #9998
This is a tricky one, probably requiring manual intervention to diagnose. When the test is hanging, use task manager to "create dump file". Or connect via the debugger and get a stack trace to see where it's hanging, but there may be no symbols, as the debug image is likely required.

@andrew-m-leonard I wonder if it's a machine problem, I haven't seen this problem on the OpenJ9 machines.

[2020-06-24 15:03] pshipton commented on #9997
Started jdk8 and 11 builds, I'll likely revert the change if these are affected, unless there is a quick fix.

https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All/950/
https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-All-11/214/

[2020-06-24 15:43] andrewcraik commented on #9651
So are we going to run with the option?

[2020-06-24 15:44] andrewcraik commented on #9710
@dsouzai what's the next step here? This is still tagged for 0.21 so are we going to try and fix it or do we need to move it to 0.22?

[2020-06-24 15:49] dsouzai commented on #9710
I don't have enough information right now; without a coredump in conjunction with those relo tracing logs, there's not much I can do really.

[2020-06-24 16:21] pshipton opened #10003 "jdknext (16) sanity.functional failures"
From PR testing of https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/216

https://ci.eclipse.org/openj9/job/Test_openjdkNext_j9_sanity.functional_s390x_linux_Personal/28

- cmdLineTester_decompilationTests_1. Missing an exclude file.
[code]
- JLM_Tests_interface_0
[code]
- JCL_Test_0
[code]

FYI changes to bring up jdk15 https://github.com/eclipse/openj9/pull/8139

[2020-06-24 16:28] rpshukla opened #10004 "Segfault in libj9jit29.so when building jzenith using openjdk14"
Java -version output
--------------------

I have encountered the segfault with a nightly build from adoptopenjdk and also with the jdk-14.0.1+7 release.

Nightly version info:
[code]

Release version info:
[code]

Summary of problem
------------------

I am running into a segfault in javac when trying to build jzenith (https://github.com/marcust/jzenith) using openjdk14 with openj9. I encountered

[2020-06-24 16:33] rpshukla commented on #9835
The original adoptopenjdk job has been deleted so I am running a new grinder to try to reproduce the failure and get a core dump.

https://ci.adoptopenjdk.net/job/Grinder/3448/

[2020-06-24 17:05] gacholio commented on #9965
I've verified that GetLoadedClasses is returning array classes as expected.

[2020-06-24 17:14] pshipton commented on #9651
It doesn't seem right to run all the jdk_lang testing with an option which isn't enabled by default. I'll try to figure out how we can exclude this particular test from the jdk_lang bucket and run it separately with the option.

[2020-06-24 17:16] Leonardo2718 commented on #8823
I've opened https://github.com/eclipse/omr/pull/5337 with a fix.

[2020-06-24 17:18] DanHeidinga commented on #10004
This looks very similar to an issue with Lombok that was fixed recently: https://github.com/eclipse/openj9/issues/6933 / https://github.com/rzwitserloot/lombok/pull/2437

Are you able to test with a newer version of Lombok?  I don't know if this fix has made it into a release yet so it may need to be built from scratch

[2020-06-24 17:36] smlambert commented on #9997
Note:  Please download cores from these builds now (or even better at the moment of reporting the issue) and attach to issue, or linking to a location where core can be found, as those Jenkins links that are being used to report issues have a lifespan of **5 days**.  Also include the Rerun in Grinder link reported in issues, for the convenience of people starting to help with this issue many days

[2020-06-24 17:36] gacholio commented on #9965
The problem is with `GetClassLoaderClasses` which returns the classes whose loading was initiated by the loader (as opposed to defined by).

[2020-06-24 17:38] gacholio commented on #9965
As it stands, the code walks the class loader hash table, which does not contain array classes defined by the loader. Note that array classes can only be defined by the loader which initiated the load.

[2020-06-24 17:56] pshipton commented on #8823
Re the "Fixes eclipse/openj9#8823" in eclipse/omr#5337, which will auto-close this issue if the merger has the auth. This issue is tagged against the 0.21 release, and in order to fix the 0.21 release, the change needs to be double delivered to the v0.21.0-release branch of https://github.com/eclipse/openj9-omr.

[2020-06-24 17:57] ChengJin01 commented on #9880
Debugging shows the ClassFormatError came from `checkPool` in which case  `info->slot1` (212) went beyond the number of constant pool (36) at the cpEntry (at index = 35) of the constant pool:
[code]
Looking at the class file that only contains 35 cpEntries in the constant pool:
[code]

This is because the code in `j9bcutil_readClassFileBytes ` at /runtime/bcutil/cfreader.c was modified to support

[2020-06-24 17:58] pshipton commented on #9997
@lumpfish fyi the previous comment.

[2020-06-24 18:01] andrew-m-leonard commented on #9998
It's happened on at least 2 different machines

[2020-06-24 18:09] DanHeidinga commented on #9651
Is there opportunity to recognize that `local = null` ends the live region for that reference without running the full optimization to limit lifetimes?  Nulling out references to large reference graphs is a relatively common approach to avoid keeping linked list / graph style collections alive.

[2020-06-24 18:12] andrew-m-leonard commented on #9997
@smlambert agree we need as much as possible, but it takes an aweful lot of time every morning triaging, took me 2 hours this morning => https://github.com/AdoptOpenJDK/openjdk-build/issues/1634#issuecomment-648651451
and I didn't even look at Hotspot!! Doing all the above for every issue is going to be half the day gone, every day!
So if we can make life a bit easier, like get enough storage to k

[2020-06-24 18:22] pshipton commented on #9651
Created https://github.com/AdoptOpenJDK/openjdk-tests/pull/1845

[2020-06-24 18:24] provegard commented on #9965
I can try to create a small sample to demonstrate the problem. Is that still relevant, given the referenced commit?

[2020-06-24 18:35] andrewcraik commented on #9651
No because the store would likely be eliminated as dead - no one ever reads it so it won't remain as that kind of marker and trying to guess which null stores are important is not really viable.

[2020-06-24 18:36] andrewcraik commented on #8823
I will handle the merge and will comment to request the backport to the release branch once the change is approved - thanks for the flag to make sure this happens.

[2020-06-24 18:36] gacholio commented on #9965
No, thanks, I'm pretty sure this is the problem.

[2020-06-24 18:41] andrew-m-leonard commented on #9997
@adamfarley we need some innovation here please?! How about a "button" that "locks" the given test job so it doesn't get deleted? or maybe moves all "artifacts" to some persistent storage elsewhere...?

[2020-06-24 18:52] andrew-m-leonard commented on #9997
Like maybe just click "Keep this build forever" ?!

[2020-06-24 19:10] hangshao0 commented on #9997
Found in the trace point:

[code]

So enterReadMutex failed once:
j9shr.1501 Event       CM findROMClass: failed to acquire read mutex - returning NULL.

But J9_PRIVATE_FLAGS2_IN_SHARED_CACHE_READ_MUTEX is still set inside enterReadMutex() it returns -1. Next time this thread enter the read mutex again, the flag is found to be set and we fail on assertion. We should check the value of rc before se

[2020-06-24 20:06] pshipton opened #10009 "UNB upload failures on plinux"
Seen this twice today. The builds last night were fine.

https://ci.eclipse.org/openj9/job/Build_JDKnext_ppc64le_linux_Personal/43 - cent7-ppcle-5
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64le_linux_Personal/941 - cent7-ppcle-5
[code]

[2020-06-24 20:06] pshipton commented on #10009
@AdamBrousseau @jdekonin

[2020-06-24 20:12] AdamBrousseau commented on #10009
Looks like that machine hasn't accepted the cert for the server. I will follow up.

[2020-06-24 20:31] rpshukla commented on #10004
Following the instructions here https://projectlombok.org/download-edge, I changed the main `pom.xml` file in jzenith so that maven would install an edge release of Lombok.

I am no longer seeing the segfault but I'm getting this error:
[code]

I think this new error is unrelated so I am closing this issue.

[2020-06-24 20:31] #10004 closed

[2020-06-24 20:38] smlambert commented on #9651
Test excluded from jdk_lang_j9 and run in its own target jdk_lang_ref_FinalizeOverride_j9 with extra JIT option via:
https://github.com/AdoptOpenJDK/openjdk-tests/pull/1845

[2020-06-24 21:33] fjeremic commented on #9136
Just a quick update. I'm debugging two deadlocks that result from removing the above code. They both happen in stress modes where I've hacked the JIT to randomly crash during compilation. I'm working with others to try and understand how we end up in these deadlock situations and see what can be done.

[2020-06-24 22:17] hangshao0 commented on #9997
Comment in the code (https://github.com/eclipse/openj9/blob/master/runtime/shared_common/OSCachemmap.cpp#L748to#L764) suggests there is another thread holding RW mutex in the case of message "_SH_OSCachemmap::acquireWriteLock EDEADLK : Case 3: Current thread owns W mon, but EDEADLK'd on W lock_". However, I don't think that comment explains what is happening here.

If there is another thread in th

[2020-06-24 22:46] pshipton commented on #10009
It's not just cent7-ppcle-5. All the plinux OMR builds failed https://ci.eclipse.org/openj9/job/Pipeline-OMR-Acceptance/1999/

[2020-06-24 22:46] #8823 closed

[2020-06-24 22:47] pshipton commented on #10009
Re-enabled cent7-ppcle-5

[2020-06-25 08:32] archanaNogriya opened #10012 "JDK8-openj9 builds failures : method addFlagAliasesFor in class BytecodeGenerator cannot be applied to given types"
JDK8-openj9 builds failed
jdk8u-aix-ppc64-openj9
jdk8u-linux-ppc64le-openj9
jdk8u-linux-ppc64le-openj9-linuxXL
jdk8u-linux-s390x-openj9
jdk8u-linux-s390x-openj9-linuxXL
jdk8u-linux-x64-openj9
jdk8u-linux-x64-openj9-linuxXL
jdk8u-windows-x64-openj9
jdk8u-windows-x64-openj9-windowsXL
jdk8u-windows-x86-32-openj9

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/j

[2020-06-25 09:23] knn-k commented on #9081
I opened AdoptOpenJDK/openjdk-tests#1848 to enable this test back again for AArch64.
JIT recompilation is enabled, and it is fast enough now for the timeout of 1600 seconds.

[2020-06-25 13:30] Leonardo2718 commented on #8823
Opened branch https://github.com/eclipse/openj9-omr/pull/71.

[2020-06-25 13:49] adamfarley commented on #10012
This issue appears to have been caused by this PR:

https://github.com/eclipse/openj9/pull/9992

Keith and Peter S identified the failure and submitted a fix for it here:

https://github.com/eclipse/openj9/pull/10005

This issue should not be present in the next nightly.

[2020-06-25 13:57] keithc-ca commented on #1626
I expect #10010 to fix this.

[2020-06-25 14:34] DanHeidinga commented on #9167
@mikezhang1234567890 Can you investigate this?

[2020-06-25 14:35] mikezhang1234567890 commented on #9167
I'll look into this.

[2020-06-25 15:57] keithc-ca commented on #9869
This should be fixed by eclipse/omr#5328.

[2020-06-25 15:57] #9869 closed

[2020-06-25 16:32] #9971 closed

[2020-06-25 16:33] ChengJin01 commented on #9880
A couple of test failures with `Unsafe.defineClass()` were detected in `jsr335_interfacePrivateMethod` in personal builds (Java 8 & 11). e.g. (the failing class was generated in OpenJDK extension  / the same failing tests passed on RI)
[code]
agains the code at /runtime/bcverify/staticverify.c
[code]

(1) Looking at the triggered dump:
[code]
against the Spec from JVM 5 to JVM 8:
[code]
In the cas

[2020-06-25 16:43] pshipton commented on #9816
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/407
SC_Softmx_JitAot_Linux_0
[code]

[2020-06-25 16:53] pshipton commented on #9651
@andrewcraik the failure still occurs with `-Xjit:enableAggressiveLiveness`. There is a core file in the failure artifact https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk14_j9_sanity.openjdk_x86-64_linux_Nightly/26/openjdk_test_output.tar.gz

Confirmed the option is present in the core via `info proc`.
[code]

https://ci.eclipse.org/openj9/job/Test_openj

[2020-06-25 17:07] andrewcraik commented on #9651
Given the liveness doesn't seem like the problem given the above experiment this is going to take a bit of time to dig into and fix. I am going to target this to 0.22 since we are out of time on 0.21.

[2020-06-25 17:09] andrewcraik commented on #9710
Given the lack of diagnostics I think we have to defer to 0.22 - FYI @pshipton in case you feel strongly otherwise, but there isn't much to go on and nothing to investigate with so I don't think this can be fixed for M2.

[2020-06-25 17:12] pshipton commented on #9651
@andrewcraik Since this fails quite often, archiving a core file each time which consumes space we are currently short of, I'm going to modify the playlist to remove the timeout handler to avoid the core file. Pls archive the existing core if you need it, and we can add the timeout handler back in later if necessary.

[2020-06-25 17:28] DanHeidinga commented on #9880
@ChengJin01 What does Hotspot do for a `v49` class when defined by a normal classloader rather than by Unsafe?  I'm wondering if this is a general difference for old classfiles or specific to unsafe

[2020-06-25 17:31] #8911 closed

[2020-06-25 17:52] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_xl_Nightly/72
java/lang/System/LoggerFinder/internal/api/LoggerFinderAPITest.java
[code]

[2020-06-25 17:54] pshipton commented on #9651
I'll stop reporting the failures that occur, but pls assume they still occur.

[2020-06-25 18:45] pshipton commented on #10012
I'll go ahead and close. Pls reopen or comment if it's still a problem in the next nightly.

[2020-06-25 18:45] #10012 closed

[2020-06-25 18:47] theresa-m commented on #9912
hmm okay thanks for trying it out. That options helps me narrow down there's no issues with the JIT ludcl optimization either. I'll keep digging into it.

[2020-06-25 19:09] #9251 closed

[2020-06-25 19:09] mpirvu commented on #9711
Implemented by #9859

[2020-06-25 19:09] #9711 closed

[2020-06-25 19:57] AlenBadel commented on #8671
In addition to `-XX:[+|-]UseNonpageableLargePagesObjectHeap`, I think we should add `-XX:[+|-]UsePageableLargePagesObjectHeap`.

This option would help anyone that is explicitly trying to use pageable large pages. Using this option with `-XX:+LargePage[Warnings/Errors]` would help users manage and control page type usage on Z/OS.

[2020-06-25 20:23] AlenBadel commented on #8671
In order to fully remove parsing within the GC, we will need to address the undocumented option `-Xlp:gcmetadata:pagesize=<size>`.

This option will be deprecated along with all other -Xlp options. Would there be any interest in creating equivalent -XX options for this and properly documenting these options?

[2020-06-25 20:32] dmitripivkine commented on #8671
I believe because this option is not documented we don't need deprecate it, even we don't need to keep it. Instead (if we want to keep this functionality) we should provide an alternative way to setup it using new -XX command. So in case if somebody still use it the new -XX option should be used instead

[2020-06-25 20:37] dmitripivkine commented on #8671
I believe this would be very confusing. There are only two types of pages: pageable and non-pageable. So in your suggestion `-XX:+UseNonpageableLargePagesObjectHeap` means `-XX:-UsePageableLargePagesObjectHeap` and vice versa. I believe we need only one of them. I would prefer `-XX:[+|-]UsePageableLargePagesObjectHeap`

[2020-06-25 20:52] #1626 closed

[2020-06-25 20:52] #10003 closed

[2020-06-25 20:56] pshipton commented on #8671
`-XX:[+|-]UsePageableLargePagesObjectHeap` works for me.

Not that I'm suggesting it's better, but fyi another option is `-XX:zOSLargePagesObjectHeap=<pageable|nonpageable>`.

[2020-06-25 21:05] AlenBadel commented on #8671
Let's consider the following arguments are used on Z/OS:

Scenario A:
`-XX:+UseLargePages -XX:LargePageInBytes=1M -XX:+UseNonpageableLargePagesObjectHeap  -XX:+LargePageWarnings`

Configured Pages: [1M Pageable]
A Warning would be shown saying that 1M fixed large pages are not configured, and the ObjectHeap would be using 1M pageable instead.

Scenario B:
`-XX:+UseLargePages -XX:LargePageInBytes=1

[2020-06-25 21:18] hangshao0 commented on #9997
There is an Attach API thread locking some file under /tmp/.com_ibm_tools_attach/, which caused `j9file_lock_bytes()` in `SH_OSCachemmap::acquireWriteLock()` to fail with error `EDEADLK`.

Here is what's happening, which gives `fcntl()` an impression of deadlock:

JVM1:
Thread 1 - Holds the write lock of the SCC.
Thread 2 - Waiting for the write lock of file `/tmp/.com_ibm_tools_attach/_attachlock

[2020-06-25 21:24] dmitripivkine commented on #8671
The problem I see we should not have two options for the same thing (just inverse). It creates dependability between options (controversial request needs to be controlled). I believe -XX options should be context free as much as possible (independent) except cases when -XX option plays role of sub option (like `-XX:+UseLargePages -XX:LargePageInBytes=1M`)

[2020-06-25 21:26] dmitripivkine commented on #8671
Any of this two is ok for me (just try to avoid "not non-pageable")

[2020-06-25 21:46] AlenBadel commented on #8671
Agreed. This would definitely solve our problem. As long as everyone stays in agreement I'll make that change.

[2020-06-25 22:26] ChengJin01 commented on #9880
@DanHeidinga,   with the test case with a normal classloader as follows:
[code]
and UnSafeTest as verified previously:
[code]

Hotspot ended up with same result on both class version = `v49` (0x31 / Java 5) and `v52` (0x34 /Java 8)
[code]
It means Hotspot totally ignores the check of class version in this case, whether the class is defined by a normal classloader or unsafe.

Comparably, our build

[2020-06-25 22:55] ChengJin01 commented on #5058
Just finished the DDR test with the native build on `Debian_riscv/U540` and everything works fine:
[DDR_tests_qemu_build_debian_riscv.txt](https://github.com/eclipse/openj9/files/4834208/DDR_tests_qemu_build_debian_riscv.txt)
[code]
Will get back to keep investigating the exception issue with `java -version` on `Fedora_raw/U540` to see what we can do with this problem.

[2020-06-25 23:41] 0xdaryl opened #10022 "Remove remnants of JVMPI from JIT"
The JIT still has remnants of JVMPI support which was deprecated in Java 5.0.  The following code should be removed:
1) https://github.com/eclipse/openj9/blob/1e504101295ed6f569a29741466546bb9cdcfa3a/runtime/compiler/control/CompilationThread.cpp#L9440
This code should be folded assuming the JVMPI conditional is always false.

2) https://github.com/eclipse/openj9/blob/1e504101295ed6f569a2974146654

[2020-06-25 23:55] AdamBrousseau commented on #10009
Looks like the UNB Art cert isn't in the java keystore. Adding to machines now. From what I can tell, packages were last updated on
`Sun 08 Mar 2020 10:50:27 PM ADT`. If I look at the bash history (on cent7-1) I see that I originally imported it to java8-242. Today, default java on the machine is 252. We should probably make OpenJ9 jdk8 default and keep it static.

[2020-06-26 00:39] gacholio commented on #10022
+1000

I suspect we'll be able to remove a few flags from the VM as well that are hanging around just to keep the obsolete code compiling (look for any bit constant defined as 0).

[2020-06-26 02:34] chenxushuo commented on #9459
Why do not do ?

[2020-06-26 02:40] AdamBrousseau commented on #10009
I was looking at the update log wrong, but it still shows sdk 252 was added April 30 so I'm stumped why we're just hitting this now.
The nightly build passed
https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64le_linux_Nightly/432/

I will open a follow up issue to change the default jdk to be OpenJ9 (which will also change the bootjdk8).

[2020-06-26 04:05] AdamBrousseau commented on #10009
Node 1 failed again. Joe had re-upgraded ca-certs after I had accepted the cert for 252. This upgrade must be clearing the keystore, at least for our custom entry because I had to re-add it again.

[2020-06-26 04:36] pshipton commented on #8872
I'm going to stop reporting these failures. Assume they still occur.

[2020-06-26 05:00] darshitpp opened #10025 "Build failure using Docker image due to git repack on Ubuntu"
I am following the instructions provided at https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V11.md#setting-up-your-build-environment-with-docker-whale

But the script at the seemingly last step throws out the following error:
[code]
I tried to verify what version of git was being used for the image, and as per `mkdocker.sh`, it uses v`2.5.3`.
While I could n

[2020-06-26 05:14] pshipton commented on #10025
What parameters did you use to create the docker script?

[2020-06-26 05:18] pshipton commented on #10025
I also note the link in the build instructions is wrong.

https://github.com/eclipse/openj9/blob/master/buildenv/mkdocker.sh
Should be
https://github.com/eclipse/openj9/blob/master/buildenv/docker/mkdocker.sh

[2020-06-26 05:19] 1a2s3d4f1 commented on #9815
Try remove ImmersivePortalsMod mod.
Now openj9 vs hotspot
screenshots:
hotspot:
![2020-06-26_12.42.19.png](https://i.loli.net/2020/06/26/omGbyzjfS2vMhFY.png)
openj9:
![2020-06-26_13.06.23.png](https://i.loli.net/2020/06/26/l8fAG6UPCbIayru.png)

ImmersivePortalsMod: (https://github.com/qouteall/ImmersivePortalsMod)
I do not know why remove a mod can fix performance problem.

[2020-06-26 05:23] darshitpp commented on #10025
I did not create the script, but used the command mentioned on the build instructions which uses `wget` to fetch the script. Would using a different local shell cause a problem? I use zsh, but followed exactly the same commands as mentioned in the instructions.

[2020-06-26 05:31] pshipton commented on #10025
Ok, I meant the Dockerfile. The docs mention `bash mkdocker.sh --tag=openj9 --dist=ubuntu --version=16.04 --build`.

As a workaround you can use `--print` instead of `--build`, and redirect the result to a file.
i.e. `bash mkdocker.sh --tag=openj9 --dist=ubuntu --version=16.04 --print > Dockerfile`.
Then modify the Dockerfile to remove the `--threads` option and use `docker build` to build it.

[2020-06-26 05:35] pshipton commented on #10025
Note git 2.5.3 is the version loaded on centos. Ubuntu just loads the git package, no specific version. I'm not sure what version Keith tested the `--threads` option with, possibly using `--dist=ubuntu --version=18` would work.

[2020-06-26 05:37] pshipton commented on #10025
My Ubuntu 16 image has git 2.7.4, which doesn't show a `--threads` option for `git repack`.

[2020-06-26 05:41] pshipton commented on #10025
Checked Ubuntu 18, which has git 2.17.1 and does show a `--threads` option.

[2020-06-26 05:52] pshipton commented on #10025
Incidentally, the OS used to build will affect the OSes where the resulting JVM can run. If you only want to run it in the docker image, the OS you choose doesn't much matter. If you want to run it elsewhere, you need to build on an OS with the same or lower glibc level. Basically, if you choose `--dist=centos --version=6.9` you'll have the most compatibility. A little less so with `--dist=centos

[2020-06-26 06:45] darshitpp commented on #10025
That worked -- creating and using the dockerfile worked and resulted in a successful output.

However, I noticed that jdk11 and 14 weren't installed. Note that the same thing happened when I was trying to install it yesterday, and the build didn't result in any error whatsoever. I'm not sure how/when this occurs, but it didn't actually raise a failure while during `docker build`. I would be happy

[2020-06-26 12:29] smlambert commented on #9997
related to: https://github.com/eclipse/openj9/issues/9997#issuecomment-648982251, Understand the time pressure and appreciate the concern @andrew-m-leonard.  Perhaps it is better to triage less number of things but in a more thorough manner, so the issues can be closed (and not keep showing up to be triaged).  As it is now, if we do not include enough info we are merely shifting the work/effort to

[2020-06-26 13:31] DanHeidinga opened #10026 "Make Class's annotation cache more resilient across redefines"
There is a window in the code between when the annotations are fetched from the `J9Class` and when they are processed during which the class can be redefined.  This can lead to `Wrong type at constant pool index` errors.

Problematic code is:
https://github.com/eclipse/openj9/blob/1e504101295ed6f569a29741466546bb9cdcfa3a/jcl/src/java.base/share/classes/java/lang/Class.java#L2940-L2948

We need to

[2020-06-26 13:51] DanHeidinga commented on #9880
@ChengJin01 Can you rerun the test above passing `-Xverify:all` to rule out any "optimizations" that avoid verifying locally defined classes?  It shouldn't be the case but better to be 100% sure

[2020-06-26 13:56] DanHeidinga commented on #9880
If we ignore the check only for classes from Unsafe (my preference), does it apply with new JDKs as well?  Does jdk14 need the check to be ignored as well?

[2020-06-26 14:26] pshipton commented on #8204
Another failure
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_mauveLoadTest/50
MauveMultiThreadLoadTest_special_26

The test is now running with `-Xtrace:iprint=mt,trigger=method{java/util/Locale.setDefault*,jstacktrace}`, but I don't see any stack trace in the output.

@Mesbah-Alam can we trigger a core dump when one of the tests fail?

[2020-06-26 14:27] pshipton commented on #8204
I don't expect this will get resolved in the 0.21 release, moving forward.

[2020-06-26 14:28] pshipton commented on #8450
As this won't be completed for the 0.21 release, moving forward.

[2020-06-26 14:33] pshipton commented on #9808
The fixes are merged, closing.

[2020-06-26 14:33] #9808 closed

[2020-06-26 14:35] pshipton commented on #9835
Seems this can't be repeated and is either already resolved, or won't be resolved for the 0.21 release. Moving it forward.

[2020-06-26 14:36] pshipton commented on #9972
Whatever is going on here, I don't expect it will be resolved for the 0.21 release, moving forward.

[2020-06-26 14:52] mreuvers commented on #9912
Thank you, I hope you can find the problem. :)

[2020-06-26 16:04] jdekonin commented on #9806
I have a system that Pav Salimon setup for me with 10.14.6 and xcode 10.3.  bootjdk is
[code]

Using this configure cmdln : `bash configure --with-freemarker-jar=/Users/jenkins/freemarker.jar --with-boot-jdk=/Users/jenkins/bootjdks/adoptojdk-java-8 --disable-zip-debug-info --with-toolchain-type=clang`

My compile keeps getting hung here
[code]

This appears to be the process that never comes back

[2020-06-26 16:25] keithc-ca commented on #9873
On slack you spoke of an attempt to modify the port library: do you have those changes in a branch so that we can see what you've tried to do and perhaps get a clearer understanding of your goal?

[2020-06-26 16:29] pshipton commented on #9806
@keithc-ca ^

[2020-06-26 17:26] fjeremic commented on #9136
I've been debugging the deadlocks for the last few days and with the help of @gacholio we have figure out the issue. I introduced a random crash in `doInstructionSelection` as follows:

[code]

Then I ran `java -version` with varying values for `TR_CrashThreshold` which ensures we crash almost always. I ran the JVM as follows:

[code]

This resulted in two types of deadlocks:

1. A deadlock right

[2020-06-26 17:31] fjeremic commented on #8803
@liqunl any progress on this one?

[2020-06-26 18:03] liqunl commented on #8803
It's fixed in https://github.com/eclipse/omr/pull/4967

[2020-06-26 18:44] a7ehuo commented on #8803
close as mentioned in https://github.com/eclipse/openj9/issues/8803#issuecomment-650318789 regarding to the fix eclipse/omr#4967.

[2020-06-26 18:44] #8803 closed

[2020-06-26 20:26] liqunl opened #10028 "Add diagnostic check to detect wrong DF flag and abort"
in #9782, we found a memory corruption caused by `rep stosb` executing at the wrong direction in zero initializing a newly allocated object, it turns out the DF flag is incorrectly set.

There are other memory corruption defects that fit into the pattern, i.e. fields are good but class header is zero.

We'd like to find out who set's the flag or who forgets to clear the flag. Waiting another memor

[2020-06-26 20:32] liqunl commented on #10028
@DanHeidinga @andrewcraik Do we want to enable the check on all tests for x86 builds? Or have a separate test suite for it? Who can help enabling the check or give me some guide on how to enable it if it's trivial.

FYI @gacholio @JamesKingdon

[2020-06-27 01:57] pshipton commented on #9046
0.21.0 m2 build https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_aarch64_linux_Personal/5/
[code]

[2020-06-27 03:54] knn-k commented on #9081
The test passed on AArch64 in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/183/.
Closing.

[2020-06-27 03:54] #9081 closed

[2020-06-27 04:53] pshipton commented on #9851
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Nightly/95

[2020-06-27 20:28] pshipton commented on #8770
Failed in 0.21 release testing.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Release_testList_0/3
[code]

[2020-06-27 21:00] pshipton opened #10030 "openj9.cuda, openj9.gpu, openj9.dataaccess not included in JRE"
The openj9.cuda and openj9.gpu modules are not include in the JRE image, we could consider including them.

[2020-06-28 02:15] pshipton commented on #9046
0.21.0 m2 build https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_aarch64_linux_xl_Personal/2
[code]

[2020-06-28 02:17] pshipton opened #10031 "aarch64 DaaLoadTest_daa1_0 ASSERTION FAILED ** at ClassLoaderManager.cpp:389"
0.21.0 m2 build https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_aarch64_linux_xl_Personal/2
DaaLoadTest_daa1_0
`DLT stderr 21:30:06.938 0xffffa8a5de00    j9mm.107    *   ** ASSERTION FAILED ** at ClassLoaderManager.cpp:389: ((false && (!markMap->isBitSet(classObject))))`

[2020-06-28 02:17] pshipton commented on #10031
@dmitripivkine @knn-k

[2020-06-28 02:22] pshipton opened #10032 "aarch64 openjdk java/lang/annotation/TypeAnnotationReflection.java Segmentation error vmState=0x0002000f"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl_Personal/2
java/lang/annotation/TypeAnnotationReflection.java
[code]

[2020-06-28 02:22] pshipton commented on #10032
@dmitripivkine @knn-k

[2020-06-28 02:24] pshipton opened #10033 "aarch64 openjdk java/util/jar/JarFile/mrjar/MultiReleaseJarAPI.java cannot verify signature block file META-INF/SIGNER"
0.21.0 m2 build https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl_Personal/2
java/util/jar/JarFile/mrjar/MultiReleaseJarAPI.java
[code]

[2020-06-28 02:24] pshipton commented on #10033
@knn-k

[2020-06-28 11:36] JasonFengJ9 opened #10035 "Compilation failure: J9PPCArrayCopy.o.s: line 1571: 1252-149 Instruction sldi is not implemented in the current assembly mode PPC."
Failure link
------------

From an internal build `acceptance build 450165`:

Optional info
-------------

- intermittent failure (no):

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-06-28 17:45] pshipton commented on #10035
This should be fixed by https://github.com/eclipse/omr/pull/5351, however omr acceptance builds are currently blocked by a problem introduced by https://github.com/eclipse/omr/pull/5179, https://openj9.slack.com/archives/CDS7QE9HB/p1593204591161800

[2020-06-28 17:53] pshipton commented on #9651
@andrewcraik btw, you should look at this as a regression, as it wasn't failing prior to May 22.

[2020-06-29 00:15] knn-k commented on #9046
I ran the test on cent7-aarch64-1 50 times with ` -Djdk.nativeDigest=false`, and the exception was reproduced as follows.  OpenSSL version on the machine is 1.0.2k:

[code]

[2020-06-29 00:22] knn-k commented on #10031
I have never seen this failure in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_aarch64_linux/ and https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_aarch64_linux_xl/.
There are some failures with TestJlmRemoteMemoryAuth_0, which is the same as #9046.

[2020-06-29 00:23] knn-k commented on #10032
I have never seen this failure before.

[2020-06-29 00:23] knn-k commented on #10033
I have never seen this failure before.

[2020-06-29 00:38] JasonFengJ9 opened #10037 "JDK8 JITServer : jsr292Test_JitCount0_jdk8_0 Segmentation error vmState=0x0005ffff"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.functional_x86-64_linux_jit_Nightly_testList_0/24`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-06-29 00:45] DanHeidinga commented on #10028
@liqunl I'd suggest enabling it in a WIP PR and running the test suite as a first pass.  If that doesn't catch it, then we should put together some grinders of all the test suites with the flag enabled.

[2020-06-29 04:17] knn-k commented on #10031
I ran the test 20 times on a quad-core device, and got no failures.
I used the binary OpenJ9-JDK11-aarch64_linux_xl-20200627-185654.tar.gz from https://ci.eclipse.org/openj9/job/Build_JDK11_aarch64_linux_xl_Personal/142/.

[2020-06-29 06:58] knn-k commented on #10031
I also tried the same on cent7-aarch64-1 20 times, and got no failures.

[code]

[2020-06-29 07:20] trourance commented on #9132
I was finally able to reproduce one of them and I've printed the full stack trace.

[code]

HTH

[2020-06-29 12:12] mpirvu commented on #8770
I'll have a look

[2020-06-29 13:19] keithc-ca commented on #9806
That hang looks like #9425.

[2020-06-29 14:02] pshipton commented on #10035
OMR acceptance build is running in https://github.com/eclipse/openj9/pull/9520

[2020-06-29 14:21] pshipton opened #10040 "mac TestJcmd_0 failures"
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_mac_Nightly_testList_0/33
TestJcmd_0
[code]

[code]

[code]

[code]

[2020-06-29 14:49] pshipton opened #10042 "aarch64 DaaLoadTest_daa1_special_24 crash vmState=0x00040000"
0.21.0 m2 build https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_aarch64_linux_xl_Personal_daaLoadTest/1
DaaLoadTest_daa1_special_24
variation: Mode107-OSRG
JVM_OPTIONS:  -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation
'''
DLT stderr Unhandled e

[2020-06-29 14:49] pshipton commented on #10042
@knn-k

[2020-06-29 14:53] pshipton commented on #10037
@mpirvu

[2020-06-29 15:51] DanHeidinga opened #10044 "Resolve remaining package check questions"
PR 37709 demonstrated that the class library will detect package conflicts between modules in `jdk.internal.module.ModuleBootstrap.checkSplitPackages(...)`, at least for modules in the built in classloaders - aka boot / system / app loaders and the test implies its trying to validate if there are package conflicts with the unnamed module (aka classpath).

Which allows resolving that item.

This is

[2020-06-29 15:51] gacholio commented on #10028
For the test mode, the check should be added in as many places as possible. I would suggest:

- method enter
- method exit
- after any call to another method
- return from direct JNI

Basically, we want to detect the problem as soon as possible.

[2020-06-29 16:25] fjeremic commented on #9120
Another update on #9136. I've gotten to the bottom of the major issue for one of the deadlocks. Still need to investigate the other much less common, and more artificial deadlock described in the latest comment in #9136. I'd like to fix them both to close off that item which is a major milestone in this work.

[2020-06-29 16:39] pshipton commented on #6462
Reopening as jdk14 still fails, see https://github.com/eclipse/openj9/pull/7709

[2020-06-29 16:41] #10025 closed

[2020-06-29 17:14] theresa-m commented on #9626
A list to help me keep track of this work:

**VM changes:**
- [ ] PermittedSubtypes attribute
  - [ ] If ACC_FINAL is not set, there should not be a permittedSubclasses attribute
- [ ] New classloading restrictions
- [ ] Class redefinition mods
- [ ] cfdumper (ClassFileWriter, main, romclasswalk)

**JCL support:**
- [ ] new java.lang.Class method: java.lang.constant.ClassDesc[] getPermittedSubclas

[2020-06-29 18:40] MNeuling commented on #9453
@dsouzai I'm sorry for the late reply. My colleague was a long time not in the office. Therefore I couldn't let him test a new run with deleted SCC before today. Today he has deteted the SCC and ran the application again without failer.

[2020-06-29 19:08] gacholio commented on #8878
As a stop-gap measure, I'm going to try compiling two different GC libraries and select the appropriate one at runtime. To keep DDR happy, I will leave all of the compressed/full optional fields in structures present in both libraries and only fix the implementations of `compressObjectReferences()` to return a compile-time constant.

[2020-06-29 19:19] dmitripivkine commented on #10031
I can see what happen but have no idea why. So an assertion
[code]
means classloader about to be unloaded owns alive classes (alive instances in the object heap).
STW Mark Phase has been completed at this moment, so any alive object should be marked.
The classloader `!j9classloader 0x0000FFF71C00D808` is selected to be unloaded because it's `classLoaderObject = !j9object 0x0000FFFFA4422880` is not

[2020-06-29 19:28] dmitripivkine commented on #10031
It failed on https://ci.eclipse.org/openj9/computer/cent7-aarch64-1 as well as https://github.com/eclipse/openj9/issues/10032 - also very strange and look like HW related issue

[2020-06-29 19:50] dmitripivkine commented on #10032
This crash occur an attempt to copy object referenced from remembered object
[code]
but links to Nursery are stall. Looks like this object has been missed to be scanned/fixed up previous Local GCs

[2020-06-29 20:07] BeverlyXu commented on #9815
@1a2s3d4f1 would you please take another GC log with the ImmersivePortals Mod removed? If the GC behavior is similar with and without the mod, then we could look into other possible causes of the delay.

[2020-06-29 20:14] #9997 closed

[2020-06-29 22:46] knn-k commented on #10033
I wonder if this could be another case around hash value or not.
#9048 is a known intermittent failure with wrong hash value in jlink.

[2020-06-29 23:24] ChengJin01 commented on #9880
@DanHeidinga,

In order to avoid loading class with the duplicate name in test, I `renamed GeneratedMethodAccessor9.class` to `anoClassTest.class` and did a couple of experiments with the following test cases:

[1] ran previous tests to check `anoClassTest.class` with `v49` and with `-Xverify:all` specified:
[code]

[2] ran `UnSafeTest2` with the current class loader (loading the test case) specif

[2020-06-30 01:32] knn-k commented on #10042
It crashed soon after the method entry:

(output from gdb on the core file)
[code]

[2020-06-30 02:07] pshipton commented on #9771
@babsingh not sure if need to keep this open as a remind to fix the stubs?

[2020-06-30 02:42] babsingh commented on #9771
I had opened #9895 to track all such issues so that we can revert their fix once OpenJ9 adopts OpenJDK MH. We can probably close this issue.

[2020-06-30 04:14] #9771 closed

[2020-06-30 04:24] pshipton opened #10048 "JTReg java/util/concurrent/Executors/AutoShutdown.java timeout"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/104/
java/util/concurrent/Executors/AutoShutdown.java
Core file in job artifacts (until they are purged)
[code]

[2020-06-30 04:26] pshipton commented on #10048
Given `AutoShutdown.tryWaitForFinalizersToRun`, looks like another finalization problem, possibly the same issue as https://github.com/eclipse/openj9/issues/9651
@andrewcraik fyi

[2020-06-30 04:37] gacholio commented on #10028
Will the crash due to bad DF be in a snippet? Let's make it as easy as possible to identify the spot in the main code where the problem is detected.

[2020-06-30 05:47] knn-k commented on #10042
The disassembled list above and the stack dump seems to show that the compiled method `java/math/MutableBigInteger.toBigInteger(I)Ljava/math/BigInteger;` was called with `x0` (`this`) being NULL.

[code]

[2020-06-30 06:38] knn-k commented on #9048
This happened in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_aarch64_linux/186/tapResults/.

[code]

[2020-06-30 06:45] knn-k commented on #9048
This happened in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_aarch64_linux/186/tapResults/.

[code]

`sha256sum` gives the following hash value, which is the same as that recorded in java.base:
[code]

[2020-06-30 10:29] knn-k commented on #10042
I tried to reproduce this on a quad-core machine, but I haven't seen any failures in 20+ runs.

[2020-06-30 13:13] adamfarley commented on #4473
Issue still appears to occur: https://ci.adoptopenjdk.net/job/Test_openjdk14_hs_sanity.openjdk_ppc64_aix/111

[2020-06-30 13:39] pshipton commented on #4473
@adamfarley your link is for a Hotspot build. If the problems also occurs with HS, seems like a problem with the test itself.

[2020-06-30 13:47] adamfarley commented on #4473
My mistake. Will open an openjdk-tests issue.

If the fix for that issue also results in 0% failures on j9, I'll come back and close this.

[2020-06-30 14:27] dnakamura opened #10049 "Bogus assert in SchedulingDelegate"
Assert is found [here](https://github.com/eclipse/openj9/blob/5e9ce6ba4a2ee2a70a16abc2acfdb983ffa07fe8/runtime/gc_vlhgc/SchedulingDelegate.cpp#L642)
`Assert_MM_true(_liveSetBytesAfterGlobalSweep <= _liveSetBytesAfterGlobalSweep);`

Not knowing the code at all, my best guess would be that it should be `_liveSetBytesAfterGlobalSweep <= _previousLiveSetBytesAfterGlobalSweep`, however [elsewhere](http

[2020-06-30 14:27] dnakamura commented on #10049
/cc @dmitripivkine

[2020-06-30 14:53] #10035 closed

[2020-06-30 15:23] ChengJin01 commented on #9880
Will launch personal builds to double-check again whether everything works as expected.

[2020-06-30 18:14] DanHeidinga commented on #9046
Moving this forward as we've completed the milestone 2 builds for 0.21.0 and it's too late to put this in.

[2020-06-30 18:15] DanHeidinga commented on #9048
Moving this forward as we've completed the milestone 2 builds for 0.21.0 and it's too late to put this in.

[2020-06-30 18:30] a7ehuo opened #10056 "Intermittent NPE at testCheckCastValueTypeOnInvalidQtype with -Xjit:count=0"
Intermittent NPE at `TestCheckCastOnInvalidQtype.testCheckCastOnInvalidQtype` while running `ValueTypeTests` with `-Xjit:count=0`. It's hard to reproduce when enabling verbose log or trace log.

Related to #9392

[code]

[2020-06-30 21:28] dmitripivkine commented on #10032
This crash occur at the very beginning of Local GC (Scavenge) but previous GC happen to be Global. Also there was no Concurrent Kickoff event, so Mark Map created at last Global GC still valid even for Nursery. According my analysis at least two slots were modified in `!j9object 0xFFFF5C5C7AD0` since Global GC (otherwise it would crash earlier):
[code]
Both of these pointers are wrong (stall or co

[2020-06-30 22:24] a7ehuo commented on #10056
Many thanks to @cathyzhyi for investigating this issue. WIth the following change, I don't see the above NPE at`TestCheckCastOnInvalidQtype.testCheckCastOnInvalidQtype`. @cathyzhyi, I'm wondering if I've missed anything? Meanwhile, would the change be contradictory to the comment at [2]?

For `checkcast`, `ResolveCHK` needs to be done before the `NULLCHK` for value types [1].

[1]
https://github.c

[2020-07-01 01:06] knn-k commented on #10032
@dmitripivkine Thank you for your analysis.

[2020-07-01 01:49] cathyzhyi commented on #10056
@a7ehuo thanks for fixing the issue!
The change in [1] looks good to me.
 for [2], yes the original comment only applies to reference type. We would need to update it to reflect the change added for value type.

[2020-07-01 02:49] psoohoo-turbonomic commented on #8552
Thanks for the good news, @theresa-m! Looking forward to giving it a try!

[2020-07-01 05:09] 1a2s3d4f1 commented on #9815
[verbosegc.20200701.003217.3608.zip](https://github.com/eclipse/openj9/files/4855781/verbosegc.20200701.003217.3608.zip)

gc log (not ImmersivePortalsMod mod)

[2020-07-01 09:28] andrew-m-leonard opened #10063 "jdk11: MathLoadTest_bigdecimal_0 : NPE VMAccess.addPackageToList()"
Testcase: MathLoadTest_bigdecimal_0
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_aarch64_linux/187/consoleFull
[code]

java -version
[code]

Re-run succeeded.
So maybe intermittent.

[2020-07-01 14:39] #6204 closed

[2020-07-01 21:35] JasonFengJ9 opened #10066 "JDK16 HCRLateAttachWorkload_previewEnabled_0_FAILED : IllegalArgumentException: Unsupported class file major version 60"
Failure link
------------

From an internal build `Test_openjdkNext_j9_extended.system_ppc64_aix_Nightly/192`:
[code]

Optional info
-------------

- intermittent failure (no):

Failure output (captured from console output)
---------------------------------------------

[code]

07:31:08  For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grind

[2020-07-01 21:45] JasonFengJ9 opened #10067 "x86-64_linux_valhalla ValueTypeTests_2_FAILED ValueTypeTests_2_FAILED"
Failure link
------------

From an internal build `Test_openjdkValhalla_j9_sanity.functional_x86-64_linux_valhalla_Nightly_testList_1/30`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following lin

[2020-07-02 01:19] knn-k commented on #9048
@Akira1Saitoh found a case where the native `sha256sum` returns a wrong hash value on cent7-aarch64-1, as reported in  AdoptOpenJDK/openjdk-build#1804.
It may mean that this problem is caused by the native OpenSSL instead of by the OpenJ9 runtime.

The version of OpenSSL on cent7-aarch64-1 is 1.0.2k.
Does the CentOS support newer version such as 1.0.2u on the machine?

What is the version of OpenS

[2020-07-02 04:51] knn-k commented on #10063
I don't think I have seen this failure before.

[2020-07-02 06:47] knn-k commented on #10063
I ran the test 20 times in my local environment, and got no failures.

[2020-07-02 13:34] dmitripivkine commented on #10067
@youngar Would you please take a look? I believe this is a problem you might be familiar with.

[2020-07-02 14:24] edrevo commented on #9710
OK, I think I do have a core dump now (core*.dmp), but it is quite large, so here's a link to my OneDrive. Let me know if you have any problems accessing it: https://1drv.ms/u/s!AvHYjMzLfKM5g8YmEFqoYs542t6Lwg?e=b1T3Pe

Sorry for the long delay and many many thanks for being on top of this issue.

[2020-07-02 14:43] dmitripivkine commented on #10067
I did a quick triage: looks like there is a mismatch between Flattened Array allocation layout and Flattened Array Scanner.
This crash occur an attempt to get object header at `0xC24E4AC0`:
[code]
From `!j9arrayclass 0x000000000030FD00` componentType = `!j9class 0x000000000030DB00`, so element shape is:
[code]
Scanner uses `J9_VALUETYPE_FLATTENED_SIZE` macro to get element size:
[code]
so 0x64 - 0

[2020-07-02 15:08] dsouzai commented on #9710
Thanks for the coredumps @edrevo. I don't know what's wrong with them, but they seem to be missing information. For example, according to `javacore.20200702.132859.6.0003.txt`

[code]
but in gdb:
[code]
I also can't view the addresses listed out in the native memory stack:
[code]
I think the coredumps might be truncated; I'm guessing this based on the fact that according to the javacore:
[code]
bu

[2020-07-02 15:11] dsouzai commented on #9710
Oh also, the output from `-Xaot:traceRelocatableDataDetailsRT,traceRelocatableDataRT,log=log,aotrtDebugLevel=30,rtLog=rtLog` (namely the log.* and rLog.* files generated) is likely going to be necessary to see why a stale class would cause a problem.

[2020-07-02 15:39] edrevo commented on #9710
Try this one: https://1drv.ms/u/s!AvHYjMzLfKM5g8Yn9afn9uUVyidH3Q?e=7zEoYd

[2020-07-02 15:42] tajila commented on #10067
For valuetypes, object fields do not start offset zero, they start at `(clazz)->backfillOffset`

[2020-07-02 16:14] dmitripivkine commented on #10067
The type of first slot in element is "long" so in general should be align to 8. It would not be correct if element offset is 4. How it is suppose to be?

[2020-07-02 16:24] youngar commented on #10067
This seems like the big mistake.  I thought I was calculating header size wrong somehow, but couldn't find the error.  The scanner gets the first element (incorrectly?) using `getDataPointerForContiguous`.
[code]
[code]

[2020-07-02 16:33] dmitripivkine commented on #10067
I guess the calculation of size of Flattened Array object in Object Model should be adjusted as well... as soon as we understand required alignments to get proper layout of the object in memory

[2020-07-02 16:38] youngar commented on #10067
I think I might have found where the backfill offset gets added.
[code]

[2020-07-02 16:42] edrevo commented on #9710
I realized that my previous link didn't have the aot logs. Here's one I got (from a different run). Tomorrow, if you need me to, I can get the rtLogs, coredump, aotlogs and all the other debug artifacts from a single run. Sorry about that.

[rtLog.20200702.163150.6.zip](https://github.com/eclipse/openj9/files/4865615/rtLog.20200702.163150.6.zip)

[2020-07-02 16:54] dsouzai commented on #9710
I'll take a look at the corefile, but yeah having the rtlogs+coredump from the same process is going to be ideal because the `J9Class` (the C struct that represents a Java class in the JVM) pointers that get printed out in the rtlog can then be followed in the coredump.

Actually, it might also be valuable to have the SCC file; you can find that file in the `cacheDir` specified on the `-Xshareclas

[2020-07-02 16:56] youngar commented on #10067
@tajila Am I reading this code correctly, it looks like the backfill offset is included only once when calculating the offset of an element of a flattened array.  In other words the offset to an element of the array is
[code]

[2020-07-02 17:56] tajila commented on #10067
The offset is calculated from the object header. So in compressedrefs `backfill == 0` means offset 4 from the start of the object, `backfill == 4` means offset 8 from the start of the object.

Yes thats correct. Now that I think about it, that might not be necesarry for arrays. We need to do that for instance fields on compressedRefs because VTs do not have lockwords so fields always begin on a 4b

[2020-07-02 18:24] tajila commented on #10067
Actually ignoring backfill wont work because all arrays ops are singleton to array and vice versa. I think the only solution is in `copyObjectFieldsToFlattenedArrayElement` and `copyObjectFieldsFromFlattenedArrayElement` you can substract `elementClazz->backfill` from `elementOffset`

We had to introduce the concept of pre-padding for for standalone VTs to satisfy alignment constraints, however, w

[2020-07-02 18:29] theresa-m commented on #6462
I'll take a look at 14.

[2020-07-02 19:28] #9996 closed

[2020-07-02 19:29] #9965 closed

[2020-07-02 19:46] youngar commented on #10067
I can create a patch to the scanner so it properly takes into account (adds) the `backfillOffset` when finding the first array element. We can decide whether we need the padding or not afterwords. Does this sound like a good approach?

[2020-07-02 20:05] tajila commented on #10067
Okay, that sounds good, in the future we may want to to rework the pre-padding approach. Ill open an Issue so that it is not forgotten.

[2020-07-02 20:09] tajila opened #10070 "ValueTypes: revisit valuetype pre-padding"
We had to introduce the concept of pre-padding for for standalone VTs to satisfy alignment constraints. We need to do this for instance fields on compressedRefs because VTs do not have lockwords so fields always begin on a 4byte boundary.

The offset is calculated from the object header. So in compressedrefs backfill == 0 means offset 4 from the start of the object, backfill == 4 means offset 8 fr

[2020-07-02 20:20] dsouzai commented on #9710
I believe it's crashing here: https://github.com/eclipse/openj9/blob/8c8ce1e50962a7e8f1678d678cd69561a1a7c8bb/runtime/vm/BytecodeInterpreter.hpp#L6776

I can't automatically get the backtrace, but the corefile does encapsulate the entire address space, so I'm at least able to manaully find information. The stackslot walker complains about a corrupt stack when performing the walk, but it is able to

[2020-07-02 21:11] dsouzai commented on #9710
From the code:
[code]
From the stackslots, `_pc` is `0x00007F525948E4B7`. and the constant pool of the method at the top of the stack is `0x00000000027F0D00`, so:

[code]

So it looks like `ramMethodRef` has NULL for both `methodIndexAndArgCount` and `method`. @DanHeidinga does this mean the methodref is unresolved, or does NULL mean uninitailized?

<hr/>

The method at the top of the stack is `0x

[2020-07-02 22:18] theresa-m opened #10071 "Replacing master/slave with more inclusive terms"
Due to recent events and in alignment with IBM's emb(race) pledge the IBM style guide has recently flagged certain words as "do not use" list for public content such as:

Instead of using: blacklist & whitelist
use: blocklist & allowlist

Instead of using: master & slave
use:
- coordinator/controller/leader/main/manager/parent/primary
- worker/child/helper/replica/secondary

Since OpenJ9 feeds int

[2020-07-03 00:59] DanHeidinga commented on #10071
Thanks for opening this issue @theresa-m.  This is the right thing to do and I'm glad you've started the discussion here.

A number of discussions have been quietly happening around this and similar topics including changing the name of the `master` branch in all OpenJ9 repos (@keithc-ca) and using referring to Jenkins's machines as nodes or workers (@AdamBrousseau).

In discussion with @amicic &

[2020-07-03 01:09] sharon-wang commented on #9964
`J9ROMCLASS_HAS_VERIFY_DATA` is set  according to `J9AccClassHasVerifyData`, and `J9ROMCLASS_HAS_VERIFY_DATA` is used in bcverify/rtverify to check if a romClass has stack maps.
https://github.com/eclipse/openj9/blob/d9f3cf63cf21cae1e2cc3bf7e02e0a5281989e9a/runtime/oti/j9modifiers_api.h#L56

We can check the romClass version to determine if it has stack maps (i.e. `romClass->majorVersion >= CFR_MA

[2020-07-03 01:11] DanHeidinga commented on #9710
Can you confirm that offset is correct?  Given the line of code:
[code]
The constantpool entry should be `0x00000000027F0D0 + (0x10 * 0x22b6)` as each `J9RAMVirtualMethodRef` is two pointers worth of data.

Can you dump the memory at `0x2A1C30` instead (assuming I've done the math right)?

In general, any initialized class should have the `argCount` portion of the `methodIndexAndArgCount` initiali

[2020-07-03 05:39] edrevo commented on #9710
Ok, hopefully this time I got all the required info.

Dumps: https://1drv.ms/u/s!AvHYjMzLfKM5g8YqsiZtYY9rMVC6BQ?e=8WIxiz

Stdout log: [logs.log](https://github.com/eclipse/openj9/files/4867918/logs.log)

[2020-07-03 09:27] adamfarley commented on #9543
Looking into it.

Test passes on: test-packet-ubuntu1604-x64-2
Test fails on: test-godaddy-ubuntu1604-x64-2

Seems consistent. Digging further.

[2020-07-03 09:54] htreu opened #10073 "shareclasses:enableBCI leads to ClassNotFoundException with 11.0.7"
Java -version output
--------------------

Output from `java -version`.
If the shas are not public, include equivalent public shas.

[code]

Summary of problem
------------------

The application is running on adoptopenjdk/openjdk11-openj9:alpine-jre base image.

We provide a javaagent doing byte code instrumentation. Our client is running the above mentioned JDK version and the following shared c

[2020-07-03 13:32] DanHeidinga commented on #10073
@hangshao0 @pshipton can you take a look at this?

@htreu Can you share the test case with us?  It'll be easier to debug if we can directly run the agent.

[2020-07-03 14:17] DanHeidinga commented on #9964
It's a bogus check though as we assume that every classfile with version >java 6 will have stackmaptables.  This isn't the case and the verifier has to be able to handle both missing and invalid StackMapTables by falling back to the old verifier algorithm.  See the flow from:
https://github.com/eclipse/openj9/blob/e8d7c56d5a4ef30c0cd5e6d70afd5f5c3fe96af9/runtime/bcverify/bcverify.c#L2554
to
https:

[2020-07-03 14:39] Donnerbart commented on #10073
This happened on a system of a customer of us.
We still have to reproduce this locally.
I'll come back to you as soon as we can share a reproducer.

[2020-07-03 14:45] sharon-wang commented on #9964
Sounds good. I'll work on this and run some startup tests once it's ready.

[2020-07-03 15:04] ChengJin01 commented on #5058
To figure out what happened to `java -version` on `Fedora_raw/U540`, I will first compile a debug build with the cross-build as boot-JDK directly on `Debian_riscv/U540` to debug in single steps in interpreter.

[2020-07-03 15:06] dsouzai commented on #9710
Ah yes, missed the pointer cast.
[code]
Does that look more reasonable to you @DanHeidinga ? Seems like the `struct J9Method *volatile method` field doesn't look right.

[2020-07-03 15:23] dsouzai commented on #9710
Messed up the pointer being printed out in gdb, the constant pool should've been `0x00000000027F0D00` (missed an extra 0 at the end). This is what the `J9RAMVirtualMethodRef` looks like:
[code]

Because `0x0000000000017800 & 0xFF` still yields `0x0`,
[code]
will still cause the receiver to be `0x8`.

[2020-07-03 15:37] DanHeidinga commented on #9710
How are you walking the java stack?  Using `!stackslots <J9VMThread>`?  For a crash in the interpreter, we're not guaranteed that the values in the J9VMThread are up to date.  We only store them back when we might GC, etc.  Most of the time they are live in registers / locals.

It's a pain but we need to look at the disassembly and map the vm state to the right registers (SP & PC) and the right lo

[2020-07-03 15:44] VermaSh commented on #9009
Quick update:
I haven't made much progress as I have been working on other items.

[2020-07-03 15:47] hangshao0 commented on #10073
The application class loader should eventually delegate to bootstrap class loader to find classes. That should not be changed by the options here. We need a test case to figure out what is going on.

[2020-07-03 16:56] #9880 closed

[2020-07-03 17:12] theresa-m commented on #10071
For whitelist/blacklist I've replaced some uses in DDR: https://github.com/eclipse/openj9/pull/10076

@AdamBrousseau fyi there are WHITE_LIST & copyright_whitelist in the copyright check, I'll leave that to you so I don't break anything

[2020-07-03 17:16] AdamBrousseau commented on #10071
Yes, thank you Theresa. I have on my list to update all the code under buildenv. We have many candidates.

[2020-07-03 17:35] adamfarley commented on #9797
Will keep track of instances here, so we can re-open later if we discover "more often" is happening.

https://trss.adoptopenjdk.net/output/test?id=5efe55752e55416417bf7802

[2020-07-03 18:03] theresa-m commented on #10071
This is my non buildenv/branch name list:
- [ ] remove whitelist/blacklist: https://github.com/eclipse/openj9/pull/10076
- [ ] gc rename slave and master (omr & some docs mentions)
- [ ] Xgc:finalize<Slave>Priority - will need a docs update
- [ ] Java8andUp Test_Object (slave uses look like dead code, creating a separate pr since this is a refactor)
- [ ] changes to existing uses of GC function na

[2020-07-03 18:15] tajila opened #10077 "ValueTypes: Add multianewarray tests"
Given the following code:

[code]

[code]

There are currently no tests for multianewarray. A new test must be added similar to testDefaultValue*Array tests in openj9-stratum/test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java

[2020-07-03 18:29] tajila opened #10078 "ValueTypes: Inject identity interface"
In the valuetype world all identity classes (present day object classes) must implement `IdentityObject` interface. For class files written by older compilers the JVM will need to inject an interface. Newer class files should have the interfaces dependencies satisfied by javac, but this may not be guaranteed so it must be checked regardless.

This work can be completed in the following stages:

1)

[2020-07-03 18:59] DanHeidinga commented on #9529
We'll need to confirm OpenJ9 handles Reflection field writing operations correctly for Records - see https://github.com/eclipse/openj9/issues/9929

[2020-07-03 19:01] DanHeidinga commented on #9788
@andrew-m-leonard Did this get raised with OpenJDK?  I'm not sure I saw the outcome from that discussion

[2020-07-03 19:06] DanHeidinga commented on #9871
Does this problem still occur with the 0.21.0 milestone builds?  I expect the fix for  #8823 should have addressed this as well

The OpenJ9 0.21.0 Milestone 2 builds are available
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u262-b07_openj9-0.21.0-m2
https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.8+8_openj9-0.21.0-m2
https://github.com/AdoptOpenJDK/o

[2020-07-03 19:20] JasonFengJ9 commented on #9788
@DanHeidinga I believe there were two posts, one is in `core-libs-dev` and the other is in `ppc-aix-port-dev` but unfortunately there was not discussion happening.

https://mail.openjdk.java.net/pipermail/core-libs-dev/2020-June/067318.html
https://mail.openjdk.java.net/pipermail/ppc-aix-port-dev/2020-June/004109.html

[2020-07-03 19:25] babsingh commented on #9625
yes ... already working on it.

[2020-07-03 19:31] dsouzai opened #10080 "methodforname in jdmpview doesn't find methods"
Working on https://github.com/eclipse/openj9/issues/9710 I know a method exists:
[code]
However, searching for it with certain wildcards doesn't work:
[code]
I can find methods if I do this search:
[code]
However, this doesn't help if I want to know if there are other overrides of this method.

[2020-07-03 19:32] dsouzai commented on #9710
I was using the `!stackslots` cmd from `jdmpview`. However, given your comment I took a look at the assembly again assuming that we can't trust `_pc` and `_sp`. It turns out that I kind of got lucky; the actual pc is `0x00007F525948E4BC` which is at bytecode 168, which is also an invokevirtual.

Also, the data printed out in https://github.com/eclipse/openj9/issues/9710#issuecomment-653595122 is w

[2020-07-03 19:34] DanHeidinga commented on #7354
Basic idea: create a Java agent that stores the Instrumentation instance where the Main program can get it.  In the Main program, get Unsafe and use `defineAnonymousClass` to create a VM anon class.

Then test whether:
* `Instrumentation.getAllLoadedClasses` includes the VM anon class
* `Instrumentation.isModifiableClass` returns true or false for the VM anon class
* `Instrumentation.retransformCl

[2020-07-03 19:35] DanHeidinga commented on #7354
We'll want to test both J9 and the RI to ensure we have consistent behaviour in each release

[2020-07-03 19:36] mikezhang1234567890 commented on #7354
I can take a look at this.

[2020-07-03 19:39] DanHeidinga commented on #9788
@andrew-m-leonard Can you prod this discussion along at OpenJDK?  I believe @JasonFengJ9 has put together a patch that can be added to the discussion

[2020-07-03 19:41] dsouzai commented on #10080
[code]
works but it prints out every method named `enqueue` regardless of the signature.

[2020-07-03 19:44] DanHeidinga commented on #9710
Is `0x00007f52bac37f00` equal to `J9JavaVM.initialMethods.initialVirtualMethod`?  I gave you bad info earlier when I said null meant unresolved.  We initialize the method to point to an initialMethod that does the resolution so we don't have to check if it's resolved on every invoke

[2020-07-03 19:46] dsouzai commented on #9710
Heh, looks like it's an initialSpecialMethod:
[code]

[2020-07-03 20:16] DanHeidinga commented on #9710
That makes sense.  The cpEnty can be shared by an invokevirtual and an invokespecial or an invokestatic.  So the layout is:
[code]
And we have a special slot in the vtable to hold the initialvirtualmethod so initialize the `vtableOffset` to point to that vtable slot.  (I need to write this down in detail sometime)

So `0x0000000000085001` == `[vtableOffset | argCount]`.  To get the method from the

[2020-07-03 20:20] JasonFengJ9 commented on #9788
The patch mentioned by Dan is https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/204.

Note: this patch adds `jdk.internal.loader. ClassLoaderHelper.mapAlternativeName()` to return `.a` when existing `java.lang.System.mapLibraryName(name)` returning `.so`. Hence both `.a` and `.so` libraries can be accepted when `System.mapLibraryName(name)` result doesn't work and `ClassLoaderHelper.mapAltern

[2020-07-03 21:28] dsouzai commented on #9710
Ah ok I see, thanks @DanHeidinga. Therefore then the question is why the object ref is bad. From the bytecodes:
[code]
the value returned by `163` is the receiver for the `invokevirtual` in `168`. Looks like there's only one version of it:
[code]
[code]
This method is JIT'd and likely AOT'd (given that the JVM was run with `-Xtune:virtualized`). This method is likely the one that's causing the pro

[2020-07-03 21:32] dsouzai commented on #9710
One possibly relevant detail though is that the `J9RAMVirtualMethodRef` for `163` is still unresolved:
[code]
index = 31 = 0x1F
[code]
Considering that we already executed 163, I would've thought that the methodref would've been resolved by the time of the crash.

[2020-07-03 21:45] mpirvu opened #10081 "Intermittent JITServer StreamFailure exception"
PR #9859 introduced a performance optimization where, most of the time we read a message sent over the network with just one system call instead of two. This is achieved by reading as much as possible with a first "read" system call followed by others if not the entire message was delivered. However this introduced a subtle bug that is described below:

1) Server performs some compilation and quer

[2020-07-04 03:59] DanHeidinga commented on #9710
It's an invokevirtual so the first slot in the cp is `[vtableOffset | argCount]` == `0x0000000000042800` and vtableOffset == `0x428`.  So definitely resolved.

[2020-07-04 21:27] mpirvu opened #10082 "Add `-Xtune:PerfGoal` options"
The default behavior of OpenJ9 is to keep a balance between different performance metrics: start-up time, ramp-up time, footprint, throughput, CPU consumption, small pause time, etc. However, some people may care a lot about a particular metric and, instead of reaching that performance goal with a relatively large set of JVM options, it would be nice to use just one option.
OpenJ9 already has `-Xt

[2020-07-05 15:26] JasonFengJ9 opened #10084 "Test_openjdk14_j9_sanity.openjdk_x86-64_mac jdk_lang_j9_0_FAILED : Segmentation error vmState=0x00040000"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.openjdk_x86-64_mac_Personal/13/console
java/lang/invoke/condy/CondyNameValidationTest.java
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

To rebuild the failed tests in <Jenkins URL>=https://ci.eclipse.org/openj9/job/Grinde

[2020-07-05 15:35] JasonFengJ9 opened #10085 "JDK14 Compiling CondyTest helpers error: package org.objectweb.asm does not exist"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_ppc64_aix_Release_testList_0/4/console

Optional info
-------------

- intermittent failure (no):

Failure output (captured from console output)
---------------------------------------------

[code]

Also seen in JDK11 - https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_win

[2020-07-05 19:40] 0xdaryl opened #10086 "Remove TR_CROSS_COMPILE_ONLY macro"
The macro `TR_CROSS_COMPILE_ONLY` is never defined in OpenJ9, likely a remnant from the JIT's early history.

Search for uses in the code and remove and fold code guarded by this macro assuming it is always **undefined**.

[2020-07-06 00:05] Caranthir opened #10087 "Startup Times are significanlty worse on OS startup with SCC"
Java -version output
--------------------
openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.20.0, JRE 11 Linux amd64-64-Bit Compressed References 20200416_574 (JIT enabled, AOT enabled)
OpenJ9   - 05fa2d361
OMR      - d4365f371
JCL      - 838028fc9d based on jdk-11.0.7+10)

Summary of problem
--------------

[2020-07-06 06:55] andrew-m-leonard commented on #9788
@DanHeidinga I will give another prod...!

[2020-07-06 07:56] andrew-m-leonard commented on #9788
Matthias has replied: https://mail.openjdk.java.net/pipermail/ppc-aix-port-dev/2020-July/004114.html

[2020-07-06 10:36] knn-k opened #10089 "AArch64: Enable inlineDirectCall()"
`J9::ARM64::CodeGenerator::inlineDirectCall()` is implemented by #6752, but it has never been called from anywhere.

[2020-07-06 12:41] JasonFengJ9 commented on #9788
Note that `JDK 15+` native library loading doesn't support `.a`, we might contribute ibmruntimes/openj9-openjdk-jdk#204 to OpenJDK community.

[2020-07-06 12:59] DanHeidinga commented on #9788
Upstreaming  ibmruntimes/openj9-openjdk-jdk#204 makes sense to me provided we sufficiently motivate for the broader OpenJDK community why the change is needed.

Does the RI's build include `.a` files - like the `libnio.a` mentioned in ibmruntimes/openj9-openjdk-jdk#204?  Does the RI experience the same issue we had with native library support in 15?

Is there anything we can use to demonstrate tha

[2020-07-06 13:08] vijaysun-omr commented on #10082
I do support creating some option like what is being proposed since the need for something like this has been felt for some time now, especially when doing throughput comparisons, e.g. we need to specify an -Xms value, sometimes we need to disable the default shared classes cache, we can use higher scratch space limits etc. and having one option that we can use instead of N different ones is usefu

[2020-07-06 13:36] JasonFengJ9 commented on #9788
@DanHeidinga RI build doesn't include `.a` files, and neither does OpenJ9. `libnio.a` was renamed from `libnio.so` manually to demonstrate that the patch with `ClassLoaderHelper.mapAlternativeName()` can work with both `.a` and `.so` suffix.
The native library loading issue OpenJ9 JDK15 had is because of two causes:
1. Initially OpenJ9 `System.mapLibraryName(name)` returns `.a` suffix (current Ope

[2020-07-06 13:47] DanHeidinga commented on #10082
Thanks for proposing this @mpirvu as it's been talked about and debated at various times so starting a written discussion is the right next step.  Previous discussions to my awareness focused on a thruput equivalent of `-Xtune:virtualized` which directs the JVM to make tradeoffs towards a single goal (thruput) and **acts as an aggregation of options** where the end user could **achieve the same re

[2020-07-06 13:58] JasonFengJ9 commented on #9788
There was an issue in WAS though:
https://www.ibm.com/support/knowledgecenter/SSEQTP_8.5.5/com.ibm.websphere.base.doc/ae/rtrb_classload_viewer.html#rtrb_classload_viewer__sysmap

_System.mapLibraryName returns the wrong library file.
When loading a shared library, JVM calls mapLibraryName(libName) to convert libName to a platform specific name. On AIX®, HP-UX or Solaris operating systems, this cal

[2020-07-06 13:58] DanHeidinga commented on #9788
We're really talking about JNI natives here.  Is there a popular project that builds `.a` files rather than `.so` files on AIX?

[2020-07-06 14:00] liqunl commented on #10028
@gacholio Currently I put it in the mainline code, so we have to open the core to find where it crash. If we want to identify the crash spot without having to look at the core, we can put the check in helpers, and call to the helper from the mainline. For example, we can have checkDfAtMethodEnter, checkDfAtMethodExit, checkDfAfterCall, checkDfAfterJNI. This way, we can identify the crash spot by l

[2020-07-06 14:12] JasonFengJ9 commented on #9788
@zl-wang any insights?

[2020-07-06 14:44] dsouzai commented on #9710
Interesting; I was thinking it wasn't because the method is `0x00007f52bac37f00` which is
[code]

[2020-07-06 14:58] pshipton opened #10091 "0.21.0 functional tests failing to compile"
The functional tests are failing to compile on the 0.21.0 release for Java 11 and 14.
Example failure https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Release_testList_1/4
[code]
https://ci.eclipse.org/openj9/job/Pipeline-Release-0.21.0-Build11/11/
https://ci.eclipse.org/openj9/job/Pipeline-Release-0.21.0-Build14/5/

[2020-07-06 15:00] pshipton commented on #10091
I expect this is caused by the absence of https://github.com/eclipse/openj9/pull/10057 in the 0.21.0 release branch. Can we deliver this test change to the 0.21.0 release without causing any problems?
@theresa-m @llxia @DanHeidinga

[2020-07-06 15:01] andrew-m-leonard commented on #9788
If it seems 50:50, is there no real right answer...? so what Matthias said is probably what the community will go with, ie.keep it as it is...

[2020-07-06 15:06] llxia commented on #10091
yes, I think so. I will create a cherry-pick for the 0.21.0 release branch.

[2020-07-06 15:07] hangshao0 commented on #9328
Was distracted by some SCC work recently, finally get back to this issue. Still in the process of writing new code, currently resolving some jave level exceptions.

[2020-07-06 15:14] zl-wang commented on #9788
as far as i can see, the OSS community on AIX generally builds .a version,  and sometimes builds both .a and .so (to be downloaded for /opt/freeware).

[2020-07-06 15:15] gacholio commented on #10028
I'm not concerned about having to look at a core. I just want the problem detected as soon as possible.

[2020-07-06 15:27] BeverlyXu commented on #9815
@1a2s3d4f1 This log looks like it's only 2k? Would you be able to get a log similar to what you had before?  ~MB in size.

[2020-07-06 15:42] JasonFengJ9 commented on #9788
Just wondering if there is any JNI natives falling into this category? specifically, does AIX OSS community build/distribute any JNI natives primarily in `.a` format?
If so, it probably is going to have problem to be loaded by JDK15+ via `System.mapLibraryName(name)`.

[2020-07-06 15:51] zl-wang commented on #9788
I am not aware, but I cannot exclude the possibility.

[2020-07-06 16:40] keithc-ca commented on #9873
See https://github.com/keithc-ca/openj9-malloc for how this can be done.
It isn't specific to any particular JVM: I have tested it with both OpenJ9 and hotspot.
The example is for Linux, but it should not be too difficult to extend to other operating environments.

[2020-07-06 16:57] liqunl commented on #10028
Ok, I'll stick to current approach and add more detections in the JITCODE

[2020-07-06 17:46] dchopra001 commented on #9800
getStaticHookAddress(event) is overridden and gets the right address from the client, and so is fetchMethodExtendedFlagsPointer()

@mpirvu Just wanted to clarify: Did you mean to imply that the code path I described is expected to work for JITServer?

[2020-07-06 19:00] pshipton commented on #10084
Dup of #9220

[2020-07-06 19:12] DanHeidinga commented on #9710
Each bytecode has unique resolution status, even though there are only two slots that can be filled in.  The whole picture involves splitting some slots during classload to resolve conflicts

[2020-07-06 19:38] pshipton commented on #10091
Fixed by https://github.com/eclipse/openj9/pull/10092

[2020-07-06 19:39] #10091 closed

[2020-07-06 19:43] pshipton commented on #10087
@hangshao0

[2020-07-06 19:56] hangshao0 commented on #10087
Yes, they should be there even after an OS reboot. Running `java -Xshareclasses:groupAccess,persistent,printStats` after reboot should be able to verify. If the cache is not there, you will see a cache does not exist error.

Not sure why starting OS would impact the SCC performance. Could you please try with these options:
1. `-Xshareclasses:groupAccess,persistent,readOnly`
2. `-Xshareclasses:grou

[2020-07-06 20:18] pshipton commented on #10085
Dup of #10091

[2020-07-06 20:18] #10085 closed

[2020-07-06 20:33] JasonFengJ9 commented on #10084
Though this is on mac OSX with `Symbol=getCurrentByteCodeIndexAndIsSameReceiver`, agreed that this looks similar problem.
Closing as dup of #9220

[2020-07-06 20:33] #10084 closed

[2020-07-06 22:12] Caranthir commented on #10087
When I run `java -Xshareclasses:groupAccess,persistent,readOnly`
I get the following output:

[code]

I tried the 3 options you named. With the first option I get the following error:
[code]
With the second option, I get the same results as the initial ones.

With the third option I also get the same results as the initial ones.

[2020-07-06 22:37] hangshao0 commented on #10087
With `readOnly` on in the first option, the JVM will only attempt to open an existing SCC. The No such file error means no exiting SCC is found. I guess the SCC is deleted somehow by the OS reboot.

Can you verify the creation time of the cache file to see it is before or after the OS reboot time ? You can find the cache file under $HOME/javasharedresources or by running: `java -Xshareclasses:grou

[2020-07-06 22:51] Caranthir commented on #10087
Yes, you are right. The creation time of the cache is the OS reboot time. I also added a test file to tmp folder to see if it survives the reboot. It was deleted automatically. I am using Ubuntu 18.04 and as far as I can see it is the default behaviour and can't be changed (easily). Maybe it would be better to put this cache file somewhere else then tmp folder in the next release?

[2020-07-06 22:55] hangshao0 commented on #10087
That is a good idea.

[2020-07-06 22:57] theresa-m commented on #9626
Are there any more recent specs for this? When verifying against the RI it seems that the naming has changed (PermittedSubtypes is now PermittedSubclasses).

[2020-07-06 22:58] pshipton commented on #10087
Is the cache not created in $HOME?

[2020-07-06 23:01] hangshao0 commented on #10087
They are using `groupAccess`, so it is under /tmp.

[2020-07-06 23:05] pshipton commented on #10087
Ok, as it needs to be in a shared location. Seems the https://www.eclipse.org/openj9/docs/xshareclasses/#cachedir option should be used to set a shared location outside of the /tmp dir.

[2020-07-06 23:08] pshipton commented on #9626
See http://cr.openjdk.java.net/~iris/se/15/latestSpec/java-se-15-annex-3.html

[2020-07-06 23:19] hangshao0 commented on #10087
I should be more clear about my previous reply here: https://github.com/eclipse/openj9/issues/10087#issuecomment-654503929

I mean it is a good idea to put the cache under somewhere else, not changing default cache directory (/tmp/javasharedresources/ with groupAccess option on) in OpenJ9's next release. `-Xshareclasses:cacheDir=<dir>` can be used to set the cache directory.

[2020-07-06 23:22] Caranthir commented on #10087
Thanks for your answers. I also think it would be a good idea to change the default cache location for groupAccess, since many people will have similar problems like me and /tmp folder shouldn't be used for permenant storage anyway.

[2020-07-06 23:57] pshipton commented on #7247
Another _findEnv crash with a different vmState.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR_testList_0/42
cmdLineTester_callsitedbgddrext_openj9_0
Run !printallcallsites
[code]

[2020-07-07 00:01] #9871 closed

[2020-07-07 00:09] DanHeidinga commented on #7247
@AdamBrousseau @jdekonin Can you confirm the version of OSX installed on https://ci.eclipse.org/openj9/computer/osx1011-x86-1/ ?  We've been trying to hunt down this `__findenv` crash and the current theory is that's related to the OS level but we need confirmation about which version of osx the test was running on.

[2020-07-07 00:20] pshipton opened #10099 ".map files are discarded but not in the debugimage"
Re https://github.com/eclipse/openj9/pull/10053, .map files are removed, but are not part of the debugimage.

[2020-07-07 00:32] pshipton commented on #9048
@jdekonin @AdamBrousseau is there a newer version of openssl available for cent7-aarch64-1?

[2020-07-07 00:36] AdamBrousseau commented on #7247
[code]
Machine -2 is the same.

[2020-07-07 00:43] pshipton commented on #8552
@psoohoo-turbonomic pls try the 0.21 release M2 buildhttps://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.8+8_openj9-0.21.0-m2

[2020-07-07 03:11] pshipton opened #10101 "MathLoadTest crash in compiled method vmState=0x00000000"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly_mathLoadTest/56
MathLoadTest_all_special_12
variation: Mode351
JVM_OPTIONS:  -Xgcpolicy:metronome -Xcompressedrefs
[code]

[2020-07-07 03:16] pshipton commented on #8767
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_linux_Nightly_testList_0/44
testDDRExt_SharedClasses_openj9_0
[code]
[code]

[2020-07-07 03:22] pshipton commented on #8204
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly_mauveLoadTest/59
MauveMultiThreadLoadTest_special_13

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly_mauveLoadTest/54
MauveMultiThreadLoadTest_special_21

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_mac_Nightly_mauveLoadTest/55
MauveMultiThreadLoa

[2020-07-07 04:32] knn-k commented on #9877
`x16` is destroyed by `arm64CreateHelperTrampolines()` and `arm64CreateMethodTrampoline()` in https://github.com/eclipse/openj9/blob/master/runtime/compiler/runtime/Trampoline.cpp

[2020-07-07 04:53] pshipton commented on #8204
@Mesbah-Alam the place where https://github.com/AdoptOpenJDK/stf/pull/82 throws MauveTestFailureException isn't when the failure occurs, it's when the failures are reported. The exception needs to happen at the time the first failure is discovered, and the DateFormat objects are on the stack.

Stack:
[code]

[2020-07-07 07:26] darshitpp commented on #6667
I am trying to reproduce this problem by running the tests, but I seem to be missing something. I have already read https://github.com/eclipse/openj9/blob/master/test/README.md and https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md and I am accordingly trying to run with the following in the `~/openj9-openjdk-jdk11/openj9/test/TKG` directory

[code]
This works. However,

[2020-07-07 12:37] jdekonin commented on #9048
It doesn't appear so with the default repos, the system is 100% up-to-date.  We could add a newer version to the machine and make it the default, depends on what the lowest operating system supported being targeted is I suppose.

[2020-07-07 12:55] pshipton commented on #6667
`export JDK_VERSION=11` is missing.
`make _jdk_lang_j9_0` should work.

[2020-07-07 13:00] Mesbah-Alam commented on #8204
Do you want the exception to be added in the Mauve test code itself? This means we'd have to request the change to be added by the Mauve proect.

[2020-07-07 13:03] pshipton commented on #6667
`make _jdk_custom JDK_CUSTOM_TARGET=test/jdk/java/lang/String/StringRepeat.java` should also work to run just the failing test.

[2020-07-07 13:26] keithc-ca commented on #10099
I assume you're asking that `.map` files be included in debug images rather than re-included in JDK images.

[2020-07-07 13:40] pshipton commented on #10099
Correct.

[2020-07-07 13:44] pshipton commented on #8204
Is there no other way to hook into the failure? Do you have a link to the test code which is causing the failure and now it handles the failure.

[2020-07-07 13:54] Mesbah-Alam commented on #8204
Throwing of the exception was added into the STF wrapper that runs Mauve test loads, here: https://github.com/AdoptOpenJDK/stf/blob/ad1a2360c73ec638ccedc45abbc80d75f6ee2001/stf.load/src/stf.load/net/adoptopenjdk/loadTest/LoadTestRunner.java#L289

[2020-07-07 14:50] #10081 closed

[2020-07-07 15:16] pshipton commented on #8204
I'm not looking for a link to what was added and doesn't work, I'm looking for a link to the actual test which is failing, and how the framework handles that failure.

[2020-07-07 15:43] Mesbah-Alam commented on #8204
The test class that fails is `gnu.testlet.java.text.DateFormat.equals`

The source can be seen by downloading `mauve.jar` from [systemtest.getDependency](https://hyc-runtimes-jenkins.swg-devops.com/view/all/job/systemtest.getDependency) job, unzipping it, and looking into `gnu/testlet/java/text/DateFormat` folder.

The framework code may be found under `Harness.java` and `RunProcess.java` under ma

[2020-07-07 15:52] hangshao0 commented on #10087
Yes, it is a valid point. My main concern is that changing the default cache directory will impact our existing users.

[2020-07-07 16:13] dsouzai commented on #9710
The bytecodes of `openTimeouts`:
[code]
The `J9RAMFieldRef` for the `getfield 8`:
[code]

The JIT'd code for `openTimeouts`:
[code]
The JIT'd code looks right; I guess the object the field is being loaded from is bad.

[2020-07-07 16:35] #9455 closed

[2020-07-07 16:36] tajila opened #10104 "Redefining classes incorrectly handles failure to recreate new ramClasses"
There is an issue with `recreateRAMClasses` in hshelp.

When we are doing redefinition we call `determineClassesToRecreate` to scan the list of class pairs, then we add the class pairs to a hashtable. Each entry in the hashtable consists of the original ram class, and the replacement class (union: can be either ram or rom class), the replacement class is initially the new romClass. In `recreateRAM

[2020-07-07 16:36] tajila commented on #10104
The proposed solution is to not notify the GC if we fail to recreate a ramclass

[2020-07-07 17:32] #8590 closed

[2020-07-07 17:33] pshipton commented on #10087
Also, what default location would be used that is visible to all the group users? It seems a documentation problem. I'll create a PR to update the groupAccess doc to call out that the default location is /tmp and the cacheDir option should be used to change it.

[2020-07-07 17:35] dsouzai commented on #9710
Ok I take it back, the AOT code is incorrect. I thought because `mov       eax, dword ptr [rax+0x3c]` is loading from offset `0x3c` and the fieldref says the offset is `0x3c` it was correct. However, an object does have some data before the field at "offset 0".

These are the bytecodes around the call to the AOT'd method & the invocation where we crash:
[code]
Regarding 159&160, we're loading fiel

[2020-07-07 18:04] sharon-wang commented on #7247
Ran some more grinders on `osxrt5`; haven't reproduced yet. Will vary JIT-related JVM options to try to reproduce.

I don't have access to run grinders on the `ci.eclipse` machines, so here's some attempts to hack together the grinder URLs if a committer would like to launch them :)

[`osx1011-x86-1` grinder build link](https://ci.eclipse.org/openj9/job/Grinder/parambuild/?TARGET=cmdLineTester_cal

[2020-07-07 18:07] PushkarBettadpur commented on #9683
Took a look at the way Power does this and I think it revealed an interesting way forward. The sequence for arrays includes a check for zero size and a _branch_ to handle the zero and non-zero cases.

[code]

A potential downside would be code duplication and a slight increase in memory footprint but performance wise, we execute one instruction extra / take one branch extra per inline array alloca

[2020-07-07 18:13] pshipton commented on #10087
https://github.com/eclipse/openj9-docs/pull/596

[2020-07-07 18:18] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Grinder/934
https://ci.eclipse.org/openj9/job/Grinder/935/

[2020-07-07 18:26] ChengJin01 commented on #5058
Currently investigation an issue with the code of checking the qualified name in loading classes. Will get back to this once the problem there gets addressed.

[2020-07-07 18:29] jonoommen commented on #7552
[dynamic-breadth-perf.xlsx](https://github.com/eclipse/openj9/files/4886531/dynamic-breadth-perf.xlsx)

[2020-07-07 19:00] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Grinder/936
https://ci.eclipse.org/openj9/job/Grinder/937

[2020-07-07 19:29] pshipton commented on #8204
See here where the MauveAdaptor creates an instance of SingleTestHarness.

https://github.com/AdoptOpenJDK/stf/tree/master/stf.load/src/stf.load/net/adoptopenjdk/loadTest/adaptors/MauveAdaptor.java#L56

What you need to do is create a subclass of gnu.testlet.SingleTestHarness, and change the MauveAdaptor to create an instance of this subclass and use it instead. In the subclass override the implem

[2020-07-07 19:45] pshipton commented on #8204
Actually, creating the subclass of SingleTestHarness isn't required. You can check the testResult at the following location and throw the MauveTestFailureException.

https://github.com/AdoptOpenJDK/stf/tree/master/stf.load/src/stf.load/net/adoptopenjdk/loadTest/reporting/ExecutionTracker.java#L98

[2020-07-07 21:13] #10104 closed

[2020-07-07 21:49] keithc-ca commented on #10099
The pull requests above add `.map` files that were previously in JDK images to debug images.

I intend to adjust the OpenJ9 build so it produces `.map` files with the right names in the right places for future inclusion in debug images, so this should stay open until that work is done.

[2020-07-08 05:08] 1a2s3d4f1 commented on #9815
log file size : 1.40MB
[verbosegc.20200708.125032.5772.zip](https://github.com/eclipse/openj9/files/4888575/verbosegc.20200708.125032.5772.zip)

[2020-07-08 05:23] darshitpp commented on #6667
It did auto-detect the JDK version, so I did not mention that.

Can you explain to me how to arrive at `_jdk_lang_j9_0` since the docs don't mention anything like that?

Even the command for `JDK_CUSTOM_TARGET` only has a fleeting reference in the docs and I wouldn't even have managed to figure this out.

However, the above still do not work.

The output for `make _jdk_lang_j9_0` says
[code]
I did

[2020-07-08 08:45] sbradish commented on #6522
@pshipton seeing the same stack trace with an IBM 8 JDK, wondering if it should be or is fixed in a later version?

[code]

[code]

[2020-07-08 09:18] lumpfish opened #10109 "openj9 jdk does not build with cygwin 3.1.5"
When trying to build openj9 jdk11 on a Windows 2012 Server machine following the instructions here: https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V11.md, the build failed with many messages similar to:
[code]
It turned out the issue was due to cygwin 3.1.5 (the version installed by default since 1st June 2020) not passing the arguments to a process started

[2020-07-08 10:37] knn-k opened #10110 "Assertion failure in recursivelyDecReferenceCount()"
I see the following assertion failure with my local debug build on AArch64:
[code]
This is from `TR_ASSERT()`, and you cannot reproduce it with the product build.

The stack trace in gdb looks like this:
[code]

OMR: 281f29d
OpenJ9: cfc41a5

[2020-07-08 10:39] knn-k commented on #10110
Attaching the JIT trace file:
[allocArrays.txt.gz](https://github.com/eclipse/openj9/files/4890149/allocArrays.txt.gz)

[2020-07-08 11:02] knn-k commented on #10110
ProfiledNodeVersioning optimization does not change the IL tree at optlevel=hot or very-hot as shown below:
[code]

The assertion failure occurred at scorching as the JIT trace file shows.

[2020-07-08 13:18] pshipton commented on #6522
@sbradish since we don't know what caused the problem, it's hard to say. Certainly there are newer IBM releases you can try. `OpenJ9   - 3088245` is 8.0.6.7, and the latest atm is 8.0.6.11.

[2020-07-08 13:56] pshipton commented on #10109
Also note https://cygwin.com/pipermail/cygwin/2020-July/245482.html

[2020-07-08 14:01] jonoommen commented on #7552
[dynamic-breadth-first-results.xlsx](https://github.com/eclipse/openj9/files/4891076/dynamic-breadth-first-results.xlsx)

[2020-07-08 14:06] pshipton commented on #6667
I didn't set `export TARGET=jdk_lang`, and running `make _jdk_lang_j9_0` worked for me.

I figured out the target name by looking at the OpenJ9 nightly build, i.e. https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/106/tapTestReport/

You can also see the targets in the playlist https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/playlist.xml#L24

[2020-07-08 14:10] smlambert commented on #6667
re: https://github.com/eclipse/openj9/issues/6667#issuecomment-655293122 it appears the test docs were not updated after the test target names were changed via [openjdk-tests/1699](https://github.com/AdoptOpenJDK/openjdk-tests/pull/1699).

Assume documentation is always stale.

test targets are defined in playlist.xml files, playlists contain the 'truth' about test targets more than documentation

[2020-07-08 14:22] pshipton commented on #6667
This works for me
[code]

[2020-07-08 14:25] pshipton commented on #6667
and then see `test_output_15942181262469/jdk_custom_0/work/java/lang/String/StringRepeat.jtr`

[2020-07-08 14:38] smlambert commented on #6667
<id> is the timestamp for when that test execution was started

[2020-07-08 15:38] raguks commented on #9443
Here are the slides used for helm/operator talk: Please ask questions.
[OpenJ9DeploymentLightning.pdf](https://github.com/eclipse/openj9/files/4891675/OpenJ9DeploymentLightning.pdf)

We are using best practices from helms own chart repo and other enterprise examples.

[2020-07-08 15:53] AlenBadel commented on #8671
@DanHeidinga @pshipton
What's the best way to proceed with `-Xlp:gcmetadata`?

We've established that it's an undocumented option and is not used by any OpenJ9 test.

Should the option be either removed totally, deprecated, or re-implemented using -XX convention? It's worth nothing that `-Xlp:gcmetadata` currently supports every sub-option that -Xlp:objectheap supports. This means that we would ne

[2020-07-08 16:15] keithc-ca commented on #10080
When the signature is specified, it will always fail because, for example, it would require a method named `enqueue(Ljava/lang/Object;)` (of which there are none). I'll open a pull request shortly.

[2020-07-08 16:45] pshipton commented on #9642
Created https://github.com/AdoptOpenJDK/openjdk-tests/pull/1871 to remove the exclude.  I believe it was failing earlier because the tests don't necessarily fetch the test material which matches the JDK being tested.

[2020-07-08 17:00] pshipton commented on #8671
If @dmitripivkine wants to keep the option, we'll need -XX: options for it.

`-XX:[+|-]UseLargePagesGCMetadata`
`-XX:LargePageSizeInBytesGCMetadata=<size>`
`-XX:zOSLargePagesGCMetadata=<pageable|nonpageable>`

I expect `-XX:+LargePageWarnings`, `-XX:+LargePageErrors` report for GCMetadata as well.

[2020-07-08 17:16] #9642 closed

[2020-07-08 17:28] DanHeidinga commented on #8671
My preference would be to remove it during this transition unless @dmitripivkine objects.

[2020-07-08 17:50] dmitripivkine commented on #8671
I agree. I believe there is no use case when allocation of GC Metadata in LP gains measurable performance difference.
@amicic Do you agree?

[2020-07-08 17:57] amicic commented on #8671
+1

[2020-07-08 18:43] liqunl commented on #10028
I have added the check to more places, but I'm getting failures with invalid JIT return address, Object neither in heap nor stack-allocated errors in my personal builds. The added checks seem to have messed up the stack. Looking at the failures.

[2020-07-08 19:14] fjeremic commented on #9136
I've found out the reason for deadlock 1. as described above. The backtrace looks as follows:

[code]

This backtrace shows that we try to acquire VM access while dumping the crashed thread IL. In the `acquireVMaccessIfNeeded` API we have a check for whether the compilation should be interrupted [1]. If this code path is hit because there is no catch handler the exception will flow up and terminat

[2020-07-08 19:53] pshipton opened #10122 "jenkins testing pipelines, use auto detect instead of setting impl"
As per #10107, the jenkins pipeline scripts are hard coding a JDK IMPL. However the tests support auto detection of the JDK impl now. It would be better to use the auto detect than to hard code.  Testing will do the right thing rather than build changes causing breakage that needs to be manually fixed.

[2020-07-08 19:54] pshipton opened #10123 "jenkins testing pipelines, set JDK_REPO and JDK_BRANCH for tests"
As per https://github.com/AdoptOpenJDK/openjdk-tests/issues/1872, the pipeline scripts should start passing JDK_REPO and JDK_BRANCH to test jobs. Some tests (such as openjdk tests) need the information in order to run the testing which matches the JDK.

[2020-07-08 19:54] pshipton commented on #10123
@smlambert @llxia @AdamBrousseau

[2020-07-08 19:55] pshipton commented on #10122
@smlambert @llxia @AdamBrousseau

[2020-07-08 20:12] ChengJin01 opened #10125 "Calling hashClassTableAtString first to avoid verifying duplicate class names by verifyQualifiedName"
Currently, we tend to call `internalFindClassString` after calling `verifyQualifiedName`, both of which call `copyStringToUTF8WithMemAlloc`.   Normally, `internalFindClassString` has a fast path which checks the classHashTable to see if the class has already been loaded via `hashClassTableAtString`.  So we propose to move the `verifyQualifiedName` call into `internalFindClassString` and do the che

[2020-07-08 20:30] AdamBrousseau commented on #10122
We don't pass impl to the test pipelines however we generate our test jobs on the fly and the auto gen job needs an impl. We also call test jobs based on job name and the job name matches the impl. So unless we are going to launch more generic test builds that are not specific to impl, I don't see anything we can change.

[2020-07-08 20:30] ChengJin01 commented on #10125
I have a couple of questions for this proposal:

[1] What if the class name is a bogus one?  in such case, no class is found at `hashClassTableAtString` and it moves forward to  check the validity of the class name in `verifyQualifiedName`. Is this logically reasonable?

[2] Suppose we eventually removed the memory allocation in verifyQualifiedName. Do we still need to move the `verifyQualifiedNam

[2020-07-08 21:14] rajdeepsingh1 commented on #9855
6 cent7 x machines have been created and ready to be added to Jenkins.

https://github.com/eclipse-cbi/jiro/pull/117

[2020-07-09 02:01] knn-k opened #10126 "AArch64: Intermittent failures in running javac"
There are intermittent failures in running javac with recent AArch64 XL builds as shown below.  Not seen with CR builds.  They are NullPointerExceptions in most cases, but SEGVs in some other cases.

Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/149/consoleText
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_li

[2020-07-09 03:29] AdamBrousseau commented on #10122
I assume we could generate test jobs without specifying a default impl. But looking at the test job template it appears that if you don't pass an impl it will [default to openj9](https://github.com/AdoptOpenJDK/openjdk-tests/blob/2df548f89fe74a76d358c8b1e697bd1552ecfa48/buildenv/jenkins/testJobTemplate#L21).

[2020-07-09 04:27] ChengJin01 commented on #10125
Looking at the code in `internalFindClassString` as follows:
[code]
J9_STR_XLAT  is used in internalFindClassString when allocating memory for the class name,
against the `copyStringToUTF8WithMemAlloc` call  in `verifyQualifiedName`
[code]
The reason for this was explained at https://github.com/eclipse/openj9/pull/6414#issuecomment-535223807 based on the failing test cases:
[code]
So it seems trou

[2020-07-09 04:29] ChengJin01 commented on #10125
@gacholio,  any other concern & suggestion on this proposal?

[2020-07-09 06:26] knn-k commented on #10126
A similar failure is found with a CR build:
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/196/consoleText

[code]

[2020-07-09 11:20] kakawait opened #10128 "JVM crash when combining JNI/Native + Thread"
Java -version output
--------------------

[code]

Summary of problem
------------------

I've TomEE java (AdoptOpenJDK + OpenJ9) app that crashing periodically (around 1 per day but it should be related to activity and maybe other triggers that I'm yet able to reproduce and isolate).
But crash seems to be related to _winning_ combo: `JNI (for calling native client)` + `Thread (for async)`.

There

[2020-07-09 12:01] JasonFengJ9 commented on #10128
[code]
system core dump is most helpful in this kind of crash, could you check the settings such as `ulimit` if enough space is available?

[2020-07-09 13:04] pshipton opened #10129 "Move Windows jdk8 compiles to VS2013"
As VS2010 is going out of support July 14, we should change the compiler used to build Windows jdk8. The highest supported level atm is VS2013 according to https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/common/autoconf/toolchain_windows.m4

We'll need the compiler installed on the build machines, and check if any changes are needed for OpenJ9 to compile (we know it works with VS201

[2020-07-09 13:04] pshipton commented on #10129
@jdekonin

[2020-07-09 13:22] kakawait commented on #10128
@JasonFengJ9 here our ulimit

[code]

And I didn't notice strange on our metrics.

But btw if `abort` still `core.*.dump` is proceed?

[2020-07-09 13:36] jdekonin commented on #10129
We aren't going to have enough space for builds unless we can either delete vs2010 or get more hard disk.  Current systems have between 17-21G free which is what is available for compile/test jobs.

[2020-07-09 13:40] DanHeidinga commented on #9443
Thanks for the lightning talk yesterday.  This approach sounds like a useful starting point for users interested in trying out JITServer.  It would be good to write up some blogs showing the helm chart, how to create the user roles, etc and the minimal additions/changes needed to the application to get started using JITServer.

This approach seems useful for users interested in trying out JITServe

[2020-07-09 14:11] pshipton commented on #10129
Seems to me the current installations are bloated, installing all VS components instead of just the subset required to compile and link. While we can delete VS2010 once VS2013 is working, during the transition we'll need both. How about removing VS2010 on one machine and installing VS2013 instead. We'll need to adjust the labels and build requirements to manage it. Once we prove the build is worki

[2020-07-09 14:42] dchopra001 commented on #9800
The issue that I'm investigating currently has the following crash on the client side:
[code]

The problem is that the `J9Method *` provided to the `getJNIMethod` routine is an invalid address.

This is basically the same crash as above. I found a method where this crash occurs:
[code]

After narrowing down to the `lastOptSubIndex`, the failure happens when we take the following trees:
[code]
and

[2020-07-09 15:01] gacholio commented on #10125
What is the purpose of this? The vast majority of callers of `internalFindClassString` are in fact not calling `verifyQualifiedName`.