[2017-10-17 15:04] JamesKingdon commented on #321
This is the expected failure behaviour?

[info] # Fork: 1 of 3
[info] # Warmup Iteration   1: <failure>
[info] java.util.concurrent.TimeoutException: Futures timed out after [20000 milliseconds]

[2017-10-17 15:08] markehammons commented on #321
Yes, the system will timeout if it doesn't receive a response in 20 seconds. The hang is the fact that no response is received under openj9 after a number of runs, while openjdk shows no such issues

[2017-10-17 15:10] JamesKingdon commented on #321
Great, this should be a big help.

[2017-10-17 15:25] vsebe commented on #55
For instructions please see https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/18

[2017-10-17 15:29] JamesKingdon commented on #321
edit: hmm, there is a new issue with this bench. -Xnojit makes it run properly, but -Xjit:dontInline on sun.misc.Unsafe* doesn't solve the issue anymore. Maybe it's revealing other bugs?

I confirmed that disabling inlining of compareAndSwapObject makes the test pass for me, as does disabling inlining on the Unsafe class, which must include the compareAndSwapObject method. It might be a test envir

[2017-10-17 15:31] DanHeidinga commented on #351
@pshipton The extensions repo is for changes we'd like to see contributed back to OpenJDK.  I would be surprised if the HC agent fit that characterization.  Would it be better hosted here?

[2017-10-17 15:33] markehammons commented on #321
You're right, i forgot to use ```/``` for the package names instead of ```.``` 👎

[2017-10-17 15:44] pshipton commented on #350
We do plan to get DDR/DTFJ working "soon", although I can't yet say yet how many weeks it will take. Since this isn't a request for the OpenJDK diagnostic tools, I'm going to close it.

[2017-10-17 15:44] #350 closed

[2017-10-17 15:45] pshipton commented on #350
and btw I expect it would take much longer to add support for the OpenJDK diagnostic tools than to get DDR working. Most of the pieces for DDR support are already in place.

[2017-10-17 15:49] hangshao0 commented on #305
I will add some new CML test shortly, subscribing myself to this issue.

[2017-10-17 15:50] pshipton commented on #351
I don't think anyone is suggesting contributing the HC agent to the extensions. Either to OpenJ9 or as a separate project.

[2017-10-17 15:59] pshipton commented on #351
Created ibmruntimes/openj9-openjdk-jdk9#68

[2017-10-17 21:07] TianyuZuo opened #362 "jdmpview -core cannot load dump file and/or could not load XML file: Could not create a valid ImageFactory"
Some cmdLine tests are using jdmpview to check if the dump file is generated successfully. However, a lot of them failed because the `jdmpview cannot load dump file and/or could not load XML file: Could not create a valid ImageFactory`

Affected tests:
`cmdLineTester_classesdbgddrext`
`cmdLineTester_dumpromclasstests`

java -version:
[code]

Error output:
[code]

To re-enable these two tests, dele

[2017-10-17 21:17] TianyuZuo opened #364 "cmdLineTest: cmdLineTester_getCallerClassTests `java.lang.NoSuchMethodException: sun.reflect.Reflection.getCallerClass()`"
cmdLineTester_getCallerClassTests will get unexpected exception during execution `java.lang.NoSuchMethodException: sun.reflect.Reflection.getCallerClass()`

To re-enable this test, remove `getCallerClassTests` in `/test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl`

java -version:
[code]

Test error message output:
[code]

[2017-10-17 21:20] terryzuoty opened #366 "cmdLineTest: cmdLineTester_jep178_staticLinking_SE90 failed due to cannot find `/lib/amd64/compressedrefs/testjep178_static`"
cmdLineTester_jep178_staticLinking_SE90 failed due to  cannot find `/lib/amd64/compressedrefs/testjep178_static`

java -version:
[code]
test error message:
[code]

[2017-10-17 21:31] TianyuZuo opened #367 "cmdLineTest: cmdLineTest/shareClassTests cannot find HelloWorld class"
During the test execution, test cannot find target class file to run, they are excluded in

 test/cmdLineTests/shareClassTests/SCCommandLineOptionTests/exclude.xml
`<exclude id="nameOption2" platform="all"><reason>cannot find HelloWorld class</reason></exclude>`
`<exclude id="nameOption4" platform="all"><reason>cannot find HelloWorld class</reason></exclude>`

java -version:
[code]

[2017-10-17 21:32] TianyuZuo commented on #367
FYI @hangshao0

[2017-10-17 21:34] TianyuZuo opened #368 "cmdLineTest: core files have been generated unexpectedly during gcRegressionTests"
extra core.* files have been generated during the execution of

this test was excluded in `test/cmdLineTests/gcRegressionTests/gcRegressionTests_excludes.xml`

`<exclude id="Ensure no core files have been produced by the preceding tests" platform="all" shouldFix="true"><reason>Extra core files were created which caused failure</reason></exclude>`

java -version:
[code]

[2017-10-17 21:50] TianyuZuo opened #369 "cmdLineTest: URLClassLoaderTests: failed message printed out during test execution"
excluded tests are in `test/cmdLineTests/URLClassLoaderTests/exclude.xml`

[code]

java -version:
[code]

test error messagre example:
[code]

[2017-10-18 10:04] adamfarley opened #373 "Bits.reserveMemory(long, int) throws NullPointerException"
When using direct memory in Java, we use a class called "Bits" to ensure we do not exceed the maximum allowed quantity of direct memory.

I understand that we are asked to call Bits.reserveMemory(long,int) before attempting to obtain some direct memory, to avoid problems that may arise from exceeding the maximum.

If we call Bits.reserveMemory(long,int) when we don't have enough memory, one of the

[2017-10-18 10:05] adamfarley commented on #373
Also, here's a test case to reproduce the failure:

    import java.nio.*;

    public class DirectMemoryTest{
        public static void main(String[] args) {
            testDirectMemory();
        }

        public static void testDirectMemory() {
            try {
                int ITERATIONS = 90;
                int ALLOC_SIZE = 10000000; // 10Mbytes

                ByteBuffer[] bbStore =

[2017-10-18 12:12] pshipton commented on #373
The original issue was fixed, SharedSecrets.getJavaLangRefAccess() no longer returns null. The remaining work is to implement waitForReferenceProcessing().

[2017-10-18 12:36] andrewcraik opened #374 "JIT debug build asserting with Java 9"
If the JIT is build in debug mode the JIT will put asserts in the global new and delete operators. This is done to enforce appropriate memory management in the JIT where we must use the correct allocators since we are hosted inside of a runtime environment. Unfortunately, these global operators are being exported from the JIT dll and new and delete operator calls in the JCL native libraries cause

[2017-10-18 12:46] JamesKingdon commented on #321
The Akka framework uses Unsafe extensively, making this an excellent stress test for those parts of Unsafe that are used for implementing synchronization primitives. Unfortunately it means we have a lot of code to look at to figure out what's going on. I'm trying to narrow it down by looking for methods that were jit compiled with compareAndSwapObject inlined during the hanging case, but my first

[2017-10-18 14:06] andrewcraik opened #375 "Java 9 String getBytes performance investigation"
The getBytes implementation in Java 9 may need to allocate a new byte[] array matching the string length when the backing array is longer than the string length. There is an idea of storing the shortened byte array back to the string. While correct this could increase memory footprint, but could also increase throughput of subsequent getBytes calls. This item is to track doing some kind of perform

[2017-10-18 15:06] DanHeidinga opened #378 "Enable OMR's DDR support for OpenJ9"
The OMR project has been implementing Direct Dump Reader (DDR) support on top of libdwarf.

OpenJ9 needs to enable DDR support and ensure that the functionality in the OMR project is sufficient to provide the rich debug & introspection capabilities J9 has historically supported.

OpenJ9 issues are difficult to debug without this support.

OMR links
----------
https://github.com/eclipse/omr/blob/f4

[2017-10-18 15:07] DanHeidinga commented on #378
This task is to drive the enablement of DDR across the OpenJ9 platforms.

[2017-10-18 15:09] groeges commented on #273
This is high priority as without removing `aspp` from the AIX build process we cannot make OpenJDK with OpenJ9 available on the AIX  platform (and it cannot be built on AdoptOpenJDK).
@pshipton @zl-wang Please can we get this looked into as soon as possible.

[2017-10-18 15:10] hangshao0 commented on #367
This might due to the incorrect setting of class path

[2017-10-18 15:19] groeges commented on #273
We have had to remove the availability of the binaries from AdoptOpenJDK due to this.
We would like to get this resolved as soon as possible so we can get the binaries back onto AdoptOpenJDK.

[2017-10-18 15:22] ktbriggs commented on #204
gencon algorithms impacting locality in SR4 and OpenJ9 do not have any information re object hotness, they intend to improve cache hit rate using information about object relatedness. but this is effective only when there is some intersection between application object working set and the set of objects that gencon manages to collocate effectively (referring pointer and referent object collocated

[2017-10-18 15:23] #305 closed

[2017-10-18 16:25] hangshao0 commented on #378
I have an impression DDR is short for "Direct Dump Reader" :-)

[2017-10-18 16:28] TianyuZuo opened #379 "java.lang.invoke.MethodHandleProxies is missing in OpenJ9"
JSR292 and JSR335 tests cannot be enabled due to java.lang.invoke.MethodHandleProxies is missing in OpenJ9.

These tests are currently excluded from compilation and testing.
To include them in compilation, delete lines
[code]
in `/test/TestConfig/scripts/build_test.xml`.

To include them in testing, delete `Jsr292 Jsr335` in `/test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl`

java -version

[2017-10-18 19:27] keithc-ca opened #382 "Windows resource files should be automatically generated for all modules"
Currently there's the hand-crafted j9jit.rc file for JIT's dll information. The contents of that file were outdated (improved by #358), but it really ought to be automatically generated as is the case for (most?) other modules.

sourcetools/com.ibm.uma/com/ibm/j9/uma/platform/PlatformWindows.java seems to make a special case for j9jit.

[2017-10-19 02:45] deesebas commented on #378
Yeah I think it's Direct Dump Reader too.  And [this ](https://github.com/eclipse/omr/blob/f4394252018f04074cb375cbbd7f1f00f41a106c/doc/ddr.md)page title calls it "DDR: The Data Dump Reader"! :)

[2017-10-19 09:42] Param-S opened #386 "jconsole fails to attach to local openj9 JVM process"
jconsole failing to attach to local openj9 JVM process with exception

**com.sun.tools.attach.AttachOperationFailedException: AttachOperationFailedException from target: ATTACH_ERR AttachOperationFailedException in startLocalManagementAgent:
startLocalManagementAgent: com.sun.management.jmxremote.localConnectorAddress not defined at**
com.ibm.tools.attach.attacher.OpenJ9VirtualMachine.parseRespons

[2017-10-19 09:44] Param-S commented on #386
Issue is same as #238

I tested with the proposed PR, jconsole able to connect to target JVM with the fix.

[2017-10-19 11:49] groeges commented on #273
@pshipton @zl-wang Doing a little bit of investigation, when running `aspp` I see this:
[code]
which just seems to be copying the .spp file  to a .o.aspp file and when I diff the 2 files they are identical.

I changed the `openj9/runtime/tr.source/trj9/build/toolcfg/aix-xlc/common.mk` file to set the
[code]
to use
[code]
and ran the build again. This all built successfully without the use of the a

[2017-10-19 12:31] zl-wang commented on #273
as a stop gap, it is fine.  in the mean time, i am looking for someone to change the makefile to fix.

[2017-10-19 14:46] theresa-m commented on #379
Looking into this.

[2017-10-19 15:15] andrewcraik opened #389 "Allow JIT to remove safety checks in String.split"
The implementation of j/l/String.split has fast paths for non-regex string patterns. Part of accessing the 'fast path' is a safety check of the split pattern for regex characters. In cases where the pattern string is a known object we should be able to get rid of this safety check at compile-time by validating the constant string against the constant array in the string class. @liqunl is already w

[2017-10-19 15:29] andrewcraik commented on #51
I'd like to propose a perf or performance label for issues that are related to performance so we can filter them from the items related to new language features or functional issues. Thoughts?

[2017-10-19 15:29] andrewcraik commented on #51
@DanHeidinga @mstoodle @0xdaryl ^^?

[2017-10-19 16:13] mstoodle commented on #51
It could also be used to tag performance “bugs”.

+1

[2017-10-19 16:19] groeges commented on #273
Temporary fix: https://github.com/eclipse/openj9/pull/387

[2017-10-19 16:26] 0xdaryl commented on #51
+1 for a perf label.

If you really want to over-engineer this you could make 'perf' the general category and provide subcategories for the kind of performance like some of the other labels do:
[code]

[2017-10-19 16:56] #268 closed

[2017-10-19 19:36] #367 closed

[2017-10-20 11:24] adamfarley opened #396 "Update ExternalMessagesExtension.java for OpenJDK7"
OpenJDK 7's version of the Map library class doesn't have the putIfAbsent method, therefore to compile with OpenJDK 7 we'll need to remove that and substitute the logic instead.

According to the OpenJDK8 build documentation, OpenJDK 7 should be used to build it. If we aspire to do that with OpenJDK8 on OpenJ9, we need this change.

Signed-off-by: Adam Farley adam.farley@uk.ibm.com

[2017-10-20 11:25] adamfarley commented on #396
Pull request: https://github.com/eclipse/openj9/pull/395

[2017-10-20 11:34] adamfarley opened #397 "Update buildj9tools.mk for OpenJDK 7"
Currently, buildj9tools.mk will only build if you're using an OpenJDK8 (or up) as the boot JDK.

To build OpenJDK8 on OpenJ9, we need to use an OpenJDK7 boot JDK (according to the OpenJDK8 build docs).

To verify this, I changed the numbers in buildj9tools.mk manually, and the OpenJDK8 on OpenJ9 build passed the error step without problems. In the long run we should probably put some logic in to s

[2017-10-20 11:34] adamfarley opened #398 "Update buildj9tools.mk for OpenJDK 7"
Currently, buildj9tools.mk will only build if you're using an OpenJDK8 or up.

To build OpenJDK8 on OpenJ9, we need to use an OpenJDK7 (according to the OpenJDK8 build docs).

To verify this, I changed the numbers manually, and the OpenJDK8 on OpenJ9 build passed the error step without problems. In the long run we should probably put some logic in to set the java version number/s (there are two "8

[2017-10-20 12:31] aprenaud commented on #51
@0xdaryl the us of the colon in labels thus far are as Category:qualifier, not category:subcategory. The category applies to everything, but the category itself has no distinct, ie. Pri:, or depends: by themselves say nothing.  The part after the colon are the qualifiers, which add meaning.  i.e. Pri: High.  To use perf in the way you suggest would break that usage model.  Not saying you couldn't

[2017-10-20 12:34] #386 closed

[2017-10-20 12:34] #241 closed

[2017-10-20 13:06] pdbain-ibm commented on #386
Correction to @Param-S 's comment above: issue #238 is due to a different issue (missing JVMTI agent).

[2017-10-20 13:33] pdbain-ibm opened #399 "Show invalid & ignored -Xoptionsfile arguments in -verbose:init"
See comment in VmArgumentTests.testBadOptionsFile()

[2017-10-20 13:37] pshipton commented on #386
And can we close #241 now?

[2017-10-20 13:39] pshipton commented on #386
I see it was closed anyway because of the commit comment for #236

[2017-10-20 13:41] smlambert commented on #170
Ideally, the general rule of thumb should be whatever tests can live in Java8andUp should live there, then Java9andUp contains tests for just those methods features that are introduced in Java9.  Common code that is needed by both can live in a/the Utils dir (though it will be good if we consider what options we have for testing functionality (versus system level testing), redesign and err towards

[2017-10-20 13:47] smlambert commented on #399
https://github.com/eclipse/openj9/blob/master/test/Java8andUp/src/org/openj9/test/vmArguments/VmArgumentTests.java#L865

[2017-10-20 13:59] smlambert commented on #369
@TianyuZuo what is the issue you are pointing out here?  That this test matched on both success and failure conditions?  Indicating that the pass/fail criteria needs to be improved and made more specific?

[2017-10-20 14:23] DanHeidinga commented on #170
I've been thinking about this over the last few days in relation to union file systems and multi-release jars.  (Aside: union file systems are one of the tools that enables Docker images use to enable the layers created in a docker file to add new items, shadow items, or remove items from lower levels.)

If we viewed each supported java version as its own layer, with later versions layered over to

[2017-10-20 14:52] hangshao0 commented on #369
I believe I have seen this failure before.

[2017-10-20 15:29] keithc-ca commented on #398
This looks like a duplicate of #397.

[2017-10-20 15:32] TianyuZuo commented on #369
The test failed because its failure condition was found. It seems the success condition and failure condition were both printed out during the test execution.
Ideally the `LOCAL XXX` shouldn't be printed out and the `Result=3` should be the only one.

will dig more to check where the failure comes from.

[2017-10-20 15:41] pdbain-ibm commented on #399
This also requires a VM change, though low priority.

[2017-10-20 15:43] andrew-m-leonard opened #401 "OpenJ9 build fails to tar OpenJDK8 images output"
The OpenJDK8 images output JDK directory is a different name to JDK9, see job:
https://urv-jenkins.canlab.ibm.com:9095/view/OpenJ9/job/openj9.personal/158/console

The build tar script for OpenJKD8 needs to specify "j2sdk-image" instead of the "jdk" directory, error:
06:28:49 [pLinux] + date +%Y%d%m%H%M
06:28:49 [pLinux] + tar -zcvf OpenJ9-linux-ppc64le-normal-server-release-201718100609.tar.gz jd

[2017-10-20 16:00] hangshao0 commented on #369
I have manually run these tests, they are passing:

[code]

[2017-10-20 16:11] hangshao0 commented on #369
Also JarExtensionsTests.SingleJarInManifest.Verify1 and JarExtensionsTests.MultipleJarsInManifests.Verify1 can be re-enable on OpenJ9. I fixed them a few weeks ago.

[2017-10-20 18:40] mstoodle commented on #170
It's funny. This model is reminiscent to how the OMR and OpenJ9 JIT technology defines its classes in layers.

There are classes in OMR (common and per-platform), classes in J9 (common and per-platform). In principle, one can add a layer on top of/below J9 too (depending on how you draw your class hierarchies :)  ).

A particular class (say Instruction) is composed in two ways: the IPATH describes

[2017-10-20 18:48] DanHeidinga commented on #170
There are no new ideas - just the same ideas applied differently =)

[2017-10-20 18:57] smlambert commented on #170
The ascii art is useful, no need for apologies!  :)

What I like about the direction of this conversation is that I believe that we can try the approach (of a common dir, which I was considering to be Java8andUp, but to incorporate utility classes can be its own 'layer' called common) without having to convert all the tests at once...

The gotchas will be in the details (but the main 'gotcha' was

[2017-10-20 20:01] mstoodle commented on #170
Yes @DanHeidinga the problems are similar, so the same ideas can be brought to bear on it. It's always satisfying, somehow, when there are recurrent themes and therefore reusable mental models :) .

[2017-10-20 23:51] andy5995 commented on #272
I'll take this.

[2017-10-20 23:57] andy5995 commented on #272
I won't be working on this.

[2017-10-22 08:43] samkamer commented on #306
I am not yet completely clear about the relationships, so I am going to start with describing what I understand as the relationship between the repos, and will leave it to better wordsmiths to compress it to fit the 'description' word limit.
*This is the main source code repo for Eclipse OpenJ9, a Java virtual machine implementation that builds on components from <link to Eclipse OMR repo>.  Add t

[2017-10-23 08:45] adamfarley commented on #398
A fair comment. I recall the tab appeared to get "stuck" while raising the issue, so I copied the text over into a new issue.

Will close.

[2017-10-23 08:45] #398 closed

[2017-10-23 08:52] adamfarley commented on #396
Pull request 395 has been merged nice and quickly. Closing.

[2017-10-23 08:52] #396 closed

[2017-10-23 17:24] andrewcraik opened #414 "Additional arraylets testing in sanity build"
An issue was discovered in extended testing of arraylets modes which caused the backout in PR #413 we should add more arraylets testing to the sanity builds to prevent future breaks in this area that is often missed in testing since it requires running with a non-default GC policy (eg balanced).

[2017-10-23 17:28] DanHeidinga commented on #414
FYI @smlambert @llxia

[2017-10-23 17:49] smlambert commented on #414
The extended tests referred to are some SV load tests (formerly known as mauve and abbs 5min tests).  We will plan to include the equivalents of these tests in the sanity set (Note: these tests have been reorganized and renamed and now live in the openjdk-systemtests repo at AdoptOpenJDK project).

We can plan to include these into our sanity test target, will need some extra changes to Jenkinsfil

[2017-10-23 20:41] fjeremic opened #421 "Print a JIT compilation thread shutdown message in a verbose log"
It would be useful if the JIT printed when a compilation thread is shutting down right in the verbose log. This can be used as an indication that a particular JVM has terminated in a multi-JVM environment where multiple verbose logs are collected.

[2017-10-23 20:41] fjeremic commented on #421
@dsouzai / @mpirvu FYI.

[2017-10-23 20:48] pshipton commented on #315
@andrew-m-leonard the problem here is the jre/lib/security/java.security file should contain ``` com.ibm.oti.,\``` in the package.access list.

[2017-10-23 20:52] AdamBrousseau opened #422 "cuda4j.mk hardcoded reference to internal build dir structure"
cc @keithc-ca

[code]
```BUILD_ROOT``` is passed to the makefile and is only used to setup ```WORKSPACE```
We should eliminate the in-between variables ```BUILD_ROOT```& ```ROOT_DIR``` as they don't provide any value. The person/job calling the makefile should pass the ```WORKSPACE``` directly

Propose:
[code]
**Note:** OpenJ9 builds do not use this file yet so we only have to coordinate with inte

[2017-10-23 21:33] fjeremic opened #424 "Fix verbose log output of freePhysicalMemory on 31-bit z/OS"
Currently on 31-bit z/OS the verbose log printout of `-Xjit:verbose={compile*}` says that `freePhysicalMemory=1125899906842624 KB` which is definitely false. There seems to be either a bug in the printout of the wrong value is returned by on of the APIs. If we are unable to retrieve this value we should not be printing it at all rather than misleading the user with an incorrect value.

[2017-10-23 21:33] fjeremic commented on #424
@dsouzai / @mpirvu FYI.

[2017-10-23 23:55] mpirvu commented on #421
When a compilation thread is terminating there is this message printed under verbose={compilePerformance}
[code]
@fjeremic   Is this enough? would you want additional information like the thread ID or vmThread pointer?

[2017-10-24 01:26] mpirvu commented on #424
1125899906842624 in hex is 0x4,0000,0000,0000
The value is actually shifted left 10 digits before being printed, so (ignoring the bits that were lost through shifting) we are trying to print could have been 0x1000,0000,0000,0000.
Indeed, on my windows system, if I force the return value from `computeFreePhysicalMemory()` to be 0x1000000000000000 then the printed value is 1125899906842624. However,

[2017-10-24 01:28] mpirvu commented on #424
Another suggestion: we should print in MB (not KB) since it's easier to read.

[2017-10-24 05:56] deesebas opened #428 "Change the jvm default format for z/os TDUMP names to avoid tdump-generation failures due to duplicate dataset names."
Names of z/os transaction dumps generated from multiple threads at the same instant in time should be appropriately differentiated.

The jvm default format (JAVA_DUMP_TDUMP_PATTERN) for z/os TDUMP names is as follows : "%uid.JVM.%job.D%y%m%d.T%H" "%M" "%S.X&DS"

For e.g. on a 54-core z/os box, 4 threads received s0c4 abends (i.e. gpfs) at the same instant in time. While javacores were correctly ge

[2017-10-24 13:05] JamesKingdon commented on #321
OK, there have been a few more twists and turns along the path than I was expecting, but I think we're getting closer to the answer now. I have a working prototype fix and I just need to flesh out the details to make it real.
The problem is around the fact that in Java9 the sun.misc.Unsafe implementation was moved to the jdk.internal.misc package, with a set of wrappers remaining in sun.misc.Unsaf

[2017-10-24 13:48] jdekonin commented on #397
In jdk9 the instructions state, '...OpenJDK should be able to "build itself", so an up-to-date build of the current OpenJDK source is an acceptable alternative.'
http://hg.openjdk.java.net/jdk9/jdk9/file/a08cbfc0e4ec/common/doc/building.md

Would it be possible to test to see if this is the case for jdk8?

[2017-10-24 13:54] DanHeidinga commented on #379
The key issue here is we want to reuse the OpenJDK version of `MethodHandleProxies.java` by providing minimal compile / runtime methods to make it work with OpenJ9's JSR 292 implementation.

Currently, the OpenJ9 code overrides MHProxies with an empty file:
` ./openj9/jcl/src/java.base/share/classes/java/lang/invoke/MethodHandleProxies.java `

This task to remove that empty file and fix any compil

[2017-10-24 13:57] #422 closed

[2017-10-24 14:02] adamfarley commented on #397
I'm using the OpenJDK8 build instructions, found here:

hg.openjdk.java.net/build-infra/jdk8/raw-file/tip/README-builds.html

These instructions tell me:

"Building JDK 8 requires use of a version of JDK 7 that is at Update 7 or newer. JDK 8 developers should not use JDK 8 as the boot JDK, to ensure that JDK 8 dependencies are not introduced into the parts of the system that are built with JDK 7."

[2017-10-24 14:18] keithc-ca commented on #378
https://github.com/eclipse/openj9/blob/master/runtime/ddr/ddr.readme says:
[code]

[2017-10-24 14:21] DanHeidinga commented on #378
Updated the description to use the correct term.

[2017-10-24 14:27] pshipton commented on #397
Since we are building OpenJ9 and not OpenJDK, this restriction doesn't really apply "JDK 8 developers should not use JDK 8 as the boot JDK, to ensure that JDK 8 dependencies are not introduced into the parts of the system that are built with JDK 7.". As per this Issue, we already have built is dependencies on Java 8.

I suggest we use Java 8 for building, at least in the short term, as long as it

[2017-10-24 15:08] fjeremic commented on #421
@mpirvu I did not know this. Thanks! TIL. This should be enough, though a proper "shutdown" message may be more intuitive to users such as myself. Adding in the thread ID and `J9VMThread*` could also prove to be useful in the future.

[2017-10-24 15:34] adamfarley commented on #397
Apologies. I should have been more clear.

The Java 8 builds are already running (on pLinux, my assigned platform, at least). Using a private repository for the prototype Extensions, I can build OpenJDK8 on OpenJ9 on pLinux, while using OpenJDK7 on Hotspot as a boot JVM.

The only change I need to make to make the build work (beyond my special extensions and some changes I contributed to OpenJ9 al

[2017-10-24 15:44] pshipton commented on #397
Thanks Adam. I incorrectly assumed there would be more tooling problems like the change required to the java preprocessor.

[2017-10-24 15:59] pdbain-ibm opened #433 "Add NON-NLS annotation to strings in GetMethodsTests.java"
Go back and add missing NON-NLS comments on legacy code.
Other cleanup as required.

[2017-10-24 18:07] dsouzai opened #434 "Handle exception thrown by the constructor of J9::SystemSegmentProvider"
`J9::SystemSegmentProvider` takes in a `J9::J9SegmentProvider` as its segment allocator. `J9::J9SegmentProvider` is currently extended by two classes: `J9::J9SegmentCache` and `J9::SegmentAllocator`; the former is used for performance reasons - it caches a segment that can be used by future compilations that are likely to happen soon after the current compilation, preventing the churn of deallocat

[2017-10-24 18:15] dsouzai commented on #434
fyi @mpirvu @fjeremic

[2017-10-24 18:56] JamesKingdon opened #436 "Fix trace output for call snippets"
The trace output for call snippets on x86 is badly broken and very misleading.
e.g. the following trace
`00007F5B023DD8AC 000000a4                                                 Snippet Label L0066:		# Call Snippet
0x7f5b023dd8ac 000000a4                      48 89 44 24 30                 mov 	qword ptr[rsp+40], rax		#save registers for interpreter call snippet
0x7f5b023dd8b1 000000a9

[2017-10-24 19:16] andrewcraik commented on #436
@0dvictor any ideas about what might have gone wrong?

[2017-10-24 19:21] DanHeidinga commented on #301
@JasonFengJ9 Can you help out with this?  We need to track down the security manager issues here and ensure that the change to use the OpenJDK boot loader hasn't broken the security manager.

[2017-10-24 19:33] theresa-m commented on #379
Pull request: https://github.com/eclipse/openj9/pull/439

[2017-10-24 19:36] JasonFengJ9 commented on #301
Sure, will look at it.

[2017-10-24 20:02] 0dvictor commented on #436
I believe instruction print is different in Snippets from in generated codes. Do you mind share a full log, so that I can find out where they were printed?

[2017-10-24 20:47] jdekonin commented on #401
This appears to be internal to IBM for how openj9 is being built.  I suggest opening against an internal process.

[2017-10-24 20:55] pshipton commented on #401
Closing since this isn't an OpenJ9 problem.

[2017-10-24 20:55] #401 closed

[2017-10-24 21:45] 0dvictor commented on #436
The trace log is printed from omr/compiler/x/codegen/X86Debug.cpp, and the code is marked as "J9_PROJECT_SPECIFIC". It seems all the offsets are off by 8. I'll go through this logic and see if it can be properly fixed.

[2017-10-25 15:35] smlambert opened #442 "Auto-detect SPEC during test config in testkitgen"
Rather than require users to set SPEC prior to running tests, we should auto-detect it (and only require it if unable to detect).  Building its value from a combination of the 2 system properties os.name and os.arch is likely sufficient.

[2017-10-25 17:45] llxia commented on #442
I think we can check how compilation job detects spec and use the same logic in test.

[2017-10-25 18:47] smlambert commented on #442
To build a spec name (see https://github.com/eclipse/openj9/tree/master/buildspecs for examples), we will likely do something similar to what is done in this file:
https://github.com/eclipse/openj9/blob/master/debugtools/DDR_Autoblob/src/com/ibm/j9ddr/autoblob/GetNativeDirectory.java

The missing piece (from using os.name and os.arch) may be knowing whether we are using a cmprssptrs spec.

[2017-10-25 18:52] smlambert commented on #442
As we are iterating into v2 of the test tools, in addition to SPEC, we can also see about auto-detecting/setting some of the other environmental variables like JAVA_VERSION, so that the instructions for setting up and running tests becomes simpler/easier.

[2017-10-25 19:31] mgaudet commented on #277
#446 contribues to fixing a number of the shift related failures in the above list, leaving my run with

[code]

I'm going to open another issue about one class of these errors, because I'm not sure what the correct solution is.

[2017-10-25 19:47] mgaudet opened #447 "ILValidator: Converting int/long to addresses"
I will use the following as an example of a more pervasive question, related to #277

[code]

Looking at the trees generated by this method, we see

[code]

As you can see, the `iload` has an `lload` child. This makes sense, given that the JITHelper method has the signature

[code]

The replacement [is done in `VMJ9.cpp`, by converting the call opcode to an indirect load, and passing the second ch

[2017-10-25 19:54] mgaudet commented on #447
@andrewcraik This seems like a design-ish/IL committee style question.

[2017-10-25 20:05] andrewcraik commented on #447
So I will ponder this a bit before answering, but I just want to record for the discussion that will follow once I have full considered this that the `a` type has overloaded meanings - namely a can represent a pointer into managed memory and so can have associated compression/decompression etc and `a` can represent a random native address that does not participate in this. Now an indirect operatio

[2017-10-25 20:07] mgaudet commented on #447
Aye... this one is awkward, hence the design comment. Definitely agree it needs thought!

[2017-10-25 20:17] #379 closed

[2017-10-25 20:36] mgaudet commented on #442
Silly Q: Is there a reason we can't bake the spec into either the `-version` output, or a queriable system property?

Just seems odd to me that this identity seems deeply desirable by multiple areas of the code, but it's mandatory to provide externally, or we'll end up in situation where we have multiple computations  of it.

[2017-10-25 20:39] smlambert commented on #442
Yes, I was implying that it would be a useful unit of information to be able to query from an SDK (in earlier conversation with @keithc-ca that lead to the creation of this issue).

[2017-10-25 20:56] #293 closed

[2017-10-25 21:02] pshipton commented on #292
@JasonFengJ9 is this Issue resolved now with the merge of #371?

[2017-10-25 21:05] JasonFengJ9 commented on #292
@pshipton yes, this issue can be closed by #371.

[2017-10-25 21:07] #292 closed

[2017-10-26 04:37] mpirvu opened #450 "Incorrect handling of _residualWeight in IProfiler data structures"
For the purpose of profiling targets for interface invokes, checkcasts and interfaceofs the IProfiler maintains 3 slots in this data structure
[code]
Thus, IProfiler can track 3 different classes. For a highly polymorphic site, once the 3 slots have been populated with first 3 seen classes, the frequency of any other class gets accumulated into a spill field called _residueWeight. If the _residueW

[2017-10-26 07:23] markehammons commented on #321
Thanks for your hard work @JamesKingdon! I look forward to switching back to openj9 as the JVM for my development system! 👍

[2017-10-26 08:31] ashu-mehra opened #451 "Difference between JCL_VERSION 'latest' and 'current'?"
I followed instructions [here](https://github.com/eclipse/openj9/blob/master/test/README.md) to compile and run tests locally. I noticed 'pltest' didn't run because `make -f run_configure.mk` did not generate `autGenTest.mk` under `pltest` directory.
On further analysis I noticed following code:
https://github.com/eclipse/openj9/blob/05160934f57ada3fdf831d6a547715f1fc0055cc/test/TestConfig/scripts

[2017-10-26 08:39] ashu-mehra opened #452 "Removing j9signalTest.c and j9signalExtendedTest.c"
[j9signalTest.c](https://github.com/eclipse/openj9/blob/05160934f57ada3fdf831d6a547715f1fc0055cc/runtime/tests/port/j9signalTest.c) and [j9signalExtendedTest.c](https://github.com/eclipse/openj9/blob/05160934f57ada3fdf831d6a547715f1fc0055cc/runtime/tests/port/j9signalExtendedTest.c) are essentially duplicates of corresponding tests in Eclipse OMR [omrsignalTest.cpp](https://github.com/ashu-mehra/o

[2017-10-26 12:24] pdbain-ibm opened #453 "VmArgumentTests.java race condition reading child process output"
runAndGetArgumentList() spawns ProcessStreamReader threads to read the child process's stdout and stderr.
The ProcessStreamReaders are not guaranteed to exit before runAndGetArgumentList() iterates through the output, causing a ConcurrentModificationException.

[2017-10-26 13:44] vsebe opened #454 "Windows assembler error: error A2075:jump destination too far"
Openj9 build failure on windows 10:

m4 -DWIN32  -I. -I../include -I../oti -I../util -I../gc_include -I../omr/gc/include -I../tr.source/runtime -I../tr.source/codegen -I../tr.source/base -I../tr.source/trj9/runtime -I../nls -I../omr/include_core xnathelp.m4 > xnathelp.asm
jswalk.c
thunkcrt.c
ut_j9codertvm.c
jsr292.c
ml64 /c /Cp /W3 /nologo /Zd /Zi  -DWIN32 -DWIN64 -DJ9HAMMER /I. /I../include /I../

[2017-10-26 13:47] vsebe commented on #454
Attn @DanHeidinga, @gacholio

[2017-10-26 13:56] pshipton commented on #454
We merged a fix for this yesterday #445, I expect you just need to update.

[2017-10-26 13:56] #454 closed

[2017-10-26 14:14] ashu-mehra commented on #451
@smlambert @llxia fyi

[2017-10-26 15:12] DanGritter opened #455 "JIT returns to incorrect stack location in certain optimization / inlining active"
Running some tests with certain optimization results in a GPF dump - linux_390-64 test recreate invocation is as below:

[Dan: Edited to remove references to compliance tests]

[2017-10-26 15:15] jdekonin opened #456 "Failure in compile on osx in port code"
Current failure mode for compiling on osx is in the port directory
[code]

[2017-10-26 15:43] dsouzai opened #459 "Compiler Memory Management Hierarchy Discussion"
See https://github.com/eclipse/omr/issues/1854 for discussion regarding this. This issue exists in order to link the discussion in OMR to OpenJ9.

### J9 Specific Discussion
Given the proposed definitions in https://github.com/eclipse/omr/issues/1854, `J9::J9SegmentProvider` should be renamed given that it is not a Provider but an Allocator. It is worth determining if `J9::J9SegmentProvider` needs

[2017-10-26 16:26] andrewcraik opened #460 "Errors in double unit tests"
The tests in openj9/test/Java8andUp/src/org/openj9/test/floatsanity/custom/Check1ULPMath.java have a pattern which says:

The isNan test is not needed - it is handled by assertEquals and isNaN results will never fail because we only ever test the expected value. It may be better for these tests keep the expected value as a long and to only do `Double.longBitsToDouble` to generate the operand(s), d

[2017-10-26 16:31] andrewcraik commented on #460
@smlambert FYI

[2017-10-26 16:45] jdekonin commented on #456
@DanHeidinga osx_wip branch gets me past these errors.  And onto the next which are linkage directly related to stackswap.m4 and unsafeHelper.s which are not included in runtime/vm/module.xml.  I have added them via #457

[2017-10-26 16:47] jdekonin commented on #36
Follow on #456

[2017-10-26 16:57] mgaudet commented on #460
You can make your text show up preformatted by either fencing it with three backticks, or spacing with four spaces:

[code]

[code]

For `inline pre`, wrap the section with a single backtick:

    Lorem ipsum `<html>` dolor sit amet

See more in the GitHub [Guide to Mastering Markdown](https://guides.github.com/features/mastering-markdown/)

[2017-10-26 17:07] lmaisons commented on #434
FWIW, I would solve the segment size problem by adding a `getPreferredSegmentSize` to the J9SegmentProvider interface class with the option of returning 0 to mean no preferred size.

Then add the appropriate implementations to J9SegmentAllocator and J9SegmentCache...

I *really* don't like inheritance, preferring instead composition and chaining, so factor that bias into the value of my opinion...

[2017-10-26 17:14] lmaisons commented on #434
Also, thanks for writing this up.  I owe you a beer next time we meet.

[2017-10-26 18:12] keithc-ca commented on #378
#432 allows blob stubs to compile cleanly if DDR is enabled (but generated blob tables are not available).

[2017-10-26 19:45] smlambert commented on #451
I do not plan to update the README in this case.  We do not want to advertise that there is a (temporary) environment variable that we are currently leveraging to be able to support old class library versions in our internal builds (b148) and the single class library version (tip=b181 at the moment) in the OpenJ9 builds.  That is why there is no documentation for it, and that is also why latest is

[2017-10-26 19:56] smlambert commented on #452
IMO we want to push tests down to the lowest layer to which they apply.  If there is no Java specifics remaining in these tests and they are already in the OMR project, they should be removed from OpenJ9, yes.

[2017-10-26 20:19] keithc-ca commented on #378
#461 updates the docker image descriptions in anticipation of the requirement for libdwarf-dev.

[2017-10-26 20:47] pshipton commented on #451
We can remove b148 support when we have full platform coverage (+ Windows, AIX, z/OS) and roughly equivalent testing (+SVT).

[2017-10-26 21:18] pshipton commented on #379
@TianyuZuo note we had to back out of enabling the Jsr292 tests #465 since they were failing  https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-linux_390-64_cmprssptrs/35

[2017-10-27 11:51] adamfarley opened #467 "OpenJDK8 Sanity test failures in suite cmdLineTest_J9test_SE80_0 on PPCLE"
When running the OpenJDK8 OpenJ9 sanity tests on PPCLE, we see a number of failures in the cmdLineTest_J9test_SE80_0 suite. While the test output from the code itself is as expected, the special options don't generate the required additional output. Here is a list of test names for easy reference.

Testing: Xitn0
Testing: Xitn10000
Testing: -Xthr:cfsYield
Testing: -Xthr:noCfsYield
Testing: -Xthr:y

[2017-10-27 11:51] adamfarley commented on #467
-- cmdLineTest_J9test_SE80_0 --

Testing: Xitn0
Running command: "/home/cloudusr/builds/java8/openjdk-jdk8/build/linux-ppc64-normal-server-release/images/j2sdk-image/jre/bin/java"  -Xcompressedrefs  -Xdump -cp "/home/cloudusr/builds/java8/openjdk-jdk8/openj9/test/TestConfig/../../jvmtest/cmdLineTests/utils/utils.jar" -Xitn0 -Xtrace:print={j9bcu.197} VMBench.FibBench
Output from test:
 [OUT] Fibona

[2017-10-27 11:56] adamfarley opened #468 "OpenJDK8 Sanity test failures in suite cmdLineTester_J9securityTests_0 on PPCLE"
When running the OpenJDK8 OpenJ9 sanity tests on PPCLE, we see a pair of AccessControlContext failures in the cmdLineTester_J9securityTests_0 suite. I've included the full error output in the first issue comment.

To build OpenJDK8 with OpenJ9, use the unreleased extensions here: https://github.ibm.com/runtimes/openjdk-jdk8

Note: To build, you will need to perform two manual changes, as the work

[2017-10-27 11:56] adamfarley commented on #468
test with NoOptions
{ "/home/cloudusr/builds/java8/openjdk-jdk8/build/linux-ppc64-normal-server-release/images/j2sdk-image/jre/bin/java"  -Xcompressedrefs  -Xdump \
	-DTESTJ9SECURITYJARPATH="/home/cloudusr/builds/java8/openjdk-jdk8/openj9/test/TestConfig/../../jvmtest/cmdLineTests/J9security/" -DRESJAR="/home/cloudusr/builds/java8/openjdk-jdk8/openj9/test/TestConfig/../../jvmtest/cmdline_options_t

[2017-10-27 12:00] adamfarley opened #469 "OpenJDK8 Sanity test failure pair in suite cmdLineTester_SCHelperCompatabilityTests_unix_1 on PPCLE"
When running the OpenJDK8 OpenJ9 sanity tests on PPCLE, we see a pair of HelperCompatabilityTest failures in the cmdLineTester_SCHelperCompatabilityTests_unix_1 suite. I've included the full error output in the first issue comment.

To build OpenJDK8 with OpenJ9, use the unreleased extensions here: https://github.ibm.com/runtimes/openjdk-jdk8

Note: To build, you will need to perform two manual ch

[2017-10-27 12:01] adamfarley commented on #469
Testing: HelperCompatabilityTest 9
Running command: "/home/cloudusr/builds/java8/openjdk-jdk8/build/linux-ppc64-normal-server-release/images/j2sdk-image/jre/bin/java"  -Xcompressedrefs -Xcompressedrefs -Xjit -Xgcpolicy:gencon  -Xshareclasses -Xbootclasspath/a:./Utils:. URLClassPathHelperURLHelperStaleEntryCompatabilityTest -testfile "/home/cloudusr/builds/java8/openjdk-jdk8/openj9/test/TestConfig/

[2017-10-27 12:04] adamfarley opened #470 "OpenJDK8 Sanity test failure in suite cmdLineTester_SCURLHelperTests_80_1 on PPCLE"
When running the OpenJDK8 OpenJ9 sanity tests on PPCLE, we see a single failuree in the cmdLineTester_SCURLHelperTests_80_1 suite. I've included the full error output in the first issue comment.

To build OpenJDK8 with OpenJ9, use the unreleased extensions here: https://github.ibm.com/runtimes/openjdk-jdk8

Note: To build, you will need to perform two manual changes, as the work to make the change

[2017-10-27 12:05] adamfarley commented on #470
Testing: URLStaleClassPathEntryTest 4
Running command: "/home/cloudusr/builds/java8/openjdk-jdk8/build/linux-ppc64-normal-server-release/images/j2sdk-image/jre/bin/java"  -Xcompressedrefs -Xcompressedrefs -Xjit -Xgcpolicy:gencon  -Xshareclasses -Xbootclasspath/p:./Utils:.; StaleClassPathEntryTests.URLStaleClassPathEntryTest -testfile ./StaleClassPathEntryTests/props_unix/Test4.props -javacdir /hom

[2017-10-27 12:12] adamfarley opened #472 "OpenJDK8 Sanity test failures in suite testSCCMLTests1_1 on PPCLE"
When running the OpenJDK8 OpenJ9 sanity tests on PPCLE, we see four failures in the testSCCMLTests1_1 suite. Here's a short list of the failing tests. I've included the full error output in the first issue comment.

- Testing: Test 9: JAZZ 31723 ensure opened cached zip files are calling the VM_ZIP_LOAD hook
- Testing: Test 13: JAZZ 31723 test 2 ensure opened non-cached zip files are calling the V

[2017-10-27 12:13] adamfarley commented on #472
-- This test's error messages are among the most verbose, and will not be copied here in their entirety. E.g. one error message includes an entire javacore file. --

Testing: Test 9: JAZZ 31723 ensure opened cached zip files are calling the VM_ZIP_LOAD hook
Running command: "/home/cloudusr/builds/java8/openjdk-jdk8/build/linux-ppc64-normal-server-release/images/j2sdk-image/jre/bin/java"  -Xcompres

[2017-10-27 13:50] llxia opened #473 "Test target/group discussion"
We support sanity, extended, openjdk, external, perf group in test. And a systemtest group will be added in the near future. Currently these groups contain different tests and they are defined at the same level. A user can run one or more targets, but not combined.

This issue is an open discussion of how we should move forward to support our testing. Below are some options that we have:

1. we ca

[2017-10-27 15:09] hangshao0 commented on #472
The JCL native code Java_java_util_zip_ZipFile_close() and Java_java_util_zip_ZipFile_open() should be patched to trigger VM_ZIP_LOAD hook. I guess this patch is missing. If so, this issue should be moved to https://github.ibm.com/runtimes/openjdk-jdk8.

[2017-10-27 16:05] hangshao0 commented on #470
We have the same issue in Java 9: (I believe the problem is the same in Java 8)

[code]

But if I run with -Xshareclasses:noTimeStampChecks, I will pass the test:

[code]

[2017-10-27 16:46] hangshao0 commented on #470
The reason for not finding classes "B" and "E" is that the timestamp of Alphabet.jar has changed.
We hit the following condition in SH_TimestampManagerImpl::localCheckTimeStamp():
`if (current == -1) {
		if (test == -1) {
			return TIMESTAMP_DOES_NOT_EXIST;
		} else {
			return TIMESTAMP_DISAPPEARED;
		}
	} else {
		if (current == test) {
			return TIMESTAMP_UNCHANGED;
		} else {
			**return curre

[2017-10-27 16:50] hangshao0 commented on #469
This is the same issue as #470

[2017-10-27 18:39] fjeremic opened #475 "Why are monexit trees anchored to a treetop?"
Just grabbed a log of `java/lang/StringBuffer.length()I` and I see the following:

[code]

Is there a reason for this asymmetry between `monent` and `monexit`? Are there cases where `monexit` is not under a `treetop`?

[2017-10-27 18:55] andrewcraik commented on #475
monexit is not required to be under a treetop - it can be at the top level and a moment can be under a treetop I believe.

[2017-10-27 19:02] fjeremic commented on #475
Is there a reason why one may choose to anchor such nodes under a `treetop` as opposed to the nodes themselves being TreeTop nodes?

[2017-10-27 19:58] ymanton commented on #475
Both `monent` and `monexit` can themselves be treetops as far as I know. Maybe your `monexit` used to be under a `nullchk` that was later removed and replaced with that `treetop` node?

[2017-10-27 20:19] fjeremic commented on #475
Bingo. This was the case exactly. Interesting that we have a `NULLCHK` on the `monexit` rather than the `monent` though.

[2017-10-27 21:51] JasonFengJ9 commented on #301
`sun.rmi.registry.RegistryImpl` was loaded by `jdk.internal.loader.ClassLoaders$BootClassLoader` and should have all permissions which usually has `domain (context is null)` from the log produced by `java.security.debug=access:failure`.
Following is the Java stacktrace when `sun.rmi.registry.RegistryImpl` was being loaded:
[code]
Eventually this non-AllPermission object was associated to `sun.rmi.

[2017-10-30 11:47] adamfarley commented on #397
I've made the changes in pull request 478

These changes have been tested for Javas 8 and 9 on x86, and we're testing on ppcle and zLinux now.

Note that we'll be able to verify java -version on x86 and ppcle only. zLinux still doesn't build to completion locally due to disk space issues on our assigned zLinux box.

[2017-10-30 12:02] pdbain-ibm opened #479 "OpenJ9 does not recognize -Xnocompressedrefs (yet)"
java -version
openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc.openj9.openjdk)
Eclipse OpenJ9 VM (build 2.9, JRE 9 Linux amd64-64 Compressed References 20170929_365721 (JIT enabled, AOT enabled)
OpenJ9   - 0ac16fb
OMR      - 3b00c11
OpenJDK  - dc8928f based on jdk-9+181)

java -Xnocompressedrefs -cp ~/pdbteam/lib/ HelloWorld
Selected VM [default] by option -Xnocom

[2017-10-30 12:07] pdbain-ibm opened #480 "j9vm.test.softmx.SoftmxRemoteTest.setUp server is not ready after 120 seconds"
New test, never passed.

https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-linux_390-64_cmprssptrs/lastBuild/testReport/junit/j9vm.test.softmx/SoftmxRemoteTest/setUp/

Failed

j9vm.test.softmx.SoftmxRemoteTest.setUp

Failing for the past 38 builds (Since Unstable#2 )
Took 0 ms.
Error Message

The server is not ready after 120 seconds!!!
Stacktrace

      java.lang.AssertionError: The serve

[2017-10-30 12:42] adamfarley commented on #397
Verified on x86 and pLinux. zLinux passed the trouble stage and produced the right debugging output, so we're fairly confident it would build to completion if it had enough disk space.

[2017-10-30 12:47] JamesKingdon commented on #479
Looks like the option was recognized, but there is no non-compressed VM to run.

[2017-10-30 13:25] ashu-mehra commented on #479
In the closed world, we used to test with build that contained both comrpessedrefs and non-compressedrefs VM. But I think with OpenJ9 the build contains only the VM corresponding to the spec specified. Since spec is linux_ppc-64_cmprssptrs_le, only "compressedrefs" VM is present in the build.
I think we need to update the test to match this change.

[2017-10-30 13:29] DanHeidinga commented on #480
@llxia Can someone on your team validate the test setup is correct as a first step?  Thanks!

[2017-10-30 13:32] DanHeidinga commented on #479
With the change from the old "composition" build process to "clone / clone / make", the ability to compose multiple vm packages together was dropped.  This ability will need to be resurrected.

[2017-10-30 13:43] llxia commented on #480
Sure, we will check the test.

[2017-10-30 14:15] theresa-m opened #481 "Jsr292 Extended Test Failures"
Extended tests failures need to be fixed before adding Jsr292 tests to run in OpenJ9.

See https://github.com/eclipse/openj9/pull/439 for enabling.

[2017-10-30 14:42] sophia-guo opened #482 "Compile jniartests.jar in test/NativeTest/jniargtests"
jniartests.jar should not be build with source.zip. Move JniArgTests.java to test/NativeTest/jniargtest and compile in test component.

[2017-10-30 14:56] DanHeidinga commented on #481
@theresa-m Thanks for opening the issue.  Can you provide a link to the failing tests or add the details here?  It makes it easier for who ever picks up the issue to know what they need to look at.

[2017-10-30 15:06] llxia commented on #480
I suspect the start remote server cmd did not get generated correctly. @TianyuZuo, could you please take a look? Thanks.

[2017-10-30 15:49] theresa-m commented on #481
These were the failing tests: https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-linux_390-64_cmprssptrs/36/testReport/

[2017-10-30 17:01] adamfarley commented on #397
Here's a pull request with the bare minimum change to enable building OpenJDK8 with OpenJDK7, as the full suite of n-1 changes (PR 478) is proving contentious.

https://github.com/eclipse/openj9/pull/483

[2017-10-30 17:33] pshipton commented on #480
According to "keep it green", the test should be excluded since it doesn't work.

[2017-10-30 17:33] pshipton commented on #480
Unless it can be fixed within a short amount of time, say no more than a day.

[2017-10-30 17:35] pshipton commented on #479
Feel free to remove the test in order to keep the builds green.

[2017-10-30 18:29] DanHeidinga commented on #397
Explicitly linking to #478 to tie all the conversations together

[2017-10-30 20:46] sophia-guo commented on #482
Addressed in https://github.com/eclipse/openj9/pull/485, close it.

[2017-10-30 20:46] #482 closed

[2017-10-31 15:37] JasonFengJ9 commented on #301
Submitted a PR to address the `j.s.AccessControlException` when running `rmiregistry`. The initial `java.rmi.ConnectException` when running `jconsole` seems not related, and still under investigation.

[2017-10-31 17:09] Mesbah-Alam opened #490 "Create a command separator macro in TestConfig/makefile"
We need to create a command separator macro which needs ot be ';' for unix and '&' for Windows.

This results from the fact that we have '\' being used in playlist.xml for testkitgen which won't work for WIndows.

Quoting Simon's comment in https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/24/files "\ is not valid in a Windows shell. Instead you could create a macro AND_THEN (or a similar na

[2017-10-31 18:26] jdekonin commented on #479
Tracked via: https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/20

[2017-10-31 18:45] llxia commented on #490
The command in playlist.xml will be used to generate make target and command. The tests runs ok on windows in the lab machines. What is your error message?

[2017-10-31 19:34] harryyu1994 commented on #270
@mpirvu Hi Marius, could you please point to me the code to set the VMEM_ALLOC_QUICK flag?

[2017-10-31 19:58] mpirvu commented on #270
@harryyu1994 The allocation of the code cache repository happens in this function:
[code]
There is a local variable `J9PortVmemParams vmemParams;` that is the passed to the VM.
You need to add that specific flag to `vmemParams->options`:
[code]

Then let's verify that this is enough to fix this issue and that there is no startup regression on native linux platforms due to parsing of smaps file

[2017-10-31 20:38] Mesbah-Alam opened #493 "testKitGen sometimes creates stale reports"
I have a job that can run a full set of svt tests. And then it can also run a given smaller subset of the svt tests. In the latter case, I have observed that the report that gets generated points to previous results and not the result of the current run.

Example: https://urv-jenkins.canlab.ibm.com:9095/view/SV_Tests/job/ibmjava8_openjdk-systemtest_x86-64_linux/247/tapResults/

If you check the pa

[2017-10-31 20:47] TianyuZuo commented on #480
This test failed with different reasons on Java8 and Java9.

On Java9, the remote server are not initialized.
cmd
`/java/bin/java -classpath /test/TestConfig/../../jvmtest/TestConfig/resources:/test/TestConfig/../../jvmtest/TestConfig/lib/testng.jar:/test/TestConfig/../../jvmtest/TestConfig/lib/jcommander.jar:/test/TestConfig/../../jvmtest/JLM_Tests/jlm_tests.jar  -Xcompressedrefs -Xcompressedrefs

[2017-10-31 21:39] TianyuZuo commented on #480
This test failed with different issue on java8-openj9 and java9-openj9

**On java9-openj9**
The test was failed due to the failure of creating remote server.
This cmd
```/java9-openj9/bin/java -classpath /test/TestConfig/../../jvmtest/TestConfig/resources:/test/TestConfig/../../jvmtest/TestConfig/lib/testng.jar:/test/TestConfig/../../jvmtest/TestConfig/lib/jcommander.jar:/test/TestConfig/../../jvm

[2017-11-01 01:44] Godin opened #494 "Truncation of Java agent arguments"
Using
[code]

from https://adoptopenjdk.net/ with the following reproducer of problem

[code]

will produce:

[code]

notice absence of `2` in output, whereas

[code]

produces:

[code]

[2017-11-01 09:38] adamfarley commented on #397
The change in #483 has been merged, and #478 has been discarded. Closing issue.

[2017-11-01 09:38] #397 closed

[2017-11-01 12:46] DanHeidinga commented on #494
@hangshao0 Can you take a look at this?

[2017-11-01 14:52] hangshao0 commented on #494
Yes, I will look at it

[2017-11-01 15:33] keithc-ca commented on #378
Generated DDR code is incomplete.

The hand-written code to support DDR should be able to make references to historical constants and features so that debugging core files produced by older JVMs is possible: the fact that #495 was needed is a sign that this is broken.

The set of types, etc. should include everything mentioned in `DDR_Artifacts/supersets/29/superset.ibuild.dat`.

The change for #4

[2017-11-01 16:43] mpirvu commented on #270
I evaluated a JIT dll compiled by Harry that uses VMEM_ALLOC_QUICK, but there is no improvement. The time to print the version is the same ~35 seconds
[code]

[code]

I will do some tracing.

[2017-11-01 17:28] mpirvu commented on #270
I have run with -Xtrace:print="omrport.499-509" and got the following trace:
[code]
So what happens is:
1) We get into getMemoryInRangeForDefaultPages() with a requested address of 00007F1965800000. This tests the `OMRPORT_VMEM_ALLOC_QUICK` flag and executes `findAvailableMemoryBlockNoMalloc`. 2) 'findAvailableMemoryBlockNoMalloc` looks at smaps but find no solution so it returns 0.
3) The code th

[2017-11-01 17:33] mpirvu commented on #270
Using a wider range for startAddress may solve this issue, though if mmap really cannot find anything suitable we are going to waste even more time.

[2017-11-01 17:46] llxia commented on #493
This is not testKitGen issue. testKitGen does not store any previous results.
Please make sure your Jenkins job cleans its workspace.

[2017-11-01 18:19] llxia commented on #493
Please choose "Wipe out repository and force clone" in your Jenkins job.

![image](https://user-images.githubusercontent.com/19273206/32290164-89898352-bf0f-11e7-8a0e-d83aaa8a4116.png)

[2017-11-01 18:24] #493 closed

[2017-11-01 18:38] Mesbah-Alam commented on #493
Thanks, added that option to all the jobs.

[2017-11-01 20:29] mpirvu commented on #270
Increasing the range searching range from 28MB to 64MB reduces the execution time for java -version to 0.375 sec

mpirvu@LAPTOP-3BI10H90:~/sdks$ time pxa6480sr6-20171027_01/jre/bin/java -XXjitdirectory=VMEM_QUICK_ALLOC -version
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 8.0.6.0 - pxa6480sr6-20171027_01(SR6))
IBM J9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References

[2017-11-01 20:53] vsebe opened #500 "java.lang.UnsupportedOperationException in j9vm.test.mxbeans.MXBeansGetterSanityTest on windows"
J9vmTest_4 failure:
+++ j9vm.test.mxbeans.MXBeansGetterSanityTest: +++
command: C:/tmp/openj9-openjdk-jdk9_latest/build/windows-x86_64-normal-server-release/images/jdk/bin\java  -Xcompressedrefs -XX:+UseCompressedOops -Xjit -Xgcpolicy:balanced  -Xdump -Xms64m -Xmx64m  --add-exports=java.management/com.ibm.java.lang.management.internal=ALL-UNNAMED --add-exports=com.ibm.management/com.ibm.lang.manag

[2017-11-01 20:53] vsebe commented on #500
attn @llxia

[2017-11-02 08:42] andrew-m-leonard opened #501 "openJ9 build Dockerfiles are inconsistent."
The Dockerfiles utilise different Ubuntu images/versions and use different bootJVMs

Ideally same Ubuntu image and OpenJDK at the suitable N-1 level as the "boot JDK".

[2017-11-02 09:13] andrew-m-leonard commented on #472
The OpenJ9 on JDK8 support is a mirror of the JDK9 support. In JDK9 the ZipHook tests are excluded, as we do not have that patch in JDK9. It should be excluded as well for JDK8.
ZipHook patches will be contributed to a future OpenJDK via this issue: https://github.ibm.com/runtimes/openjdk-contribution/issues/10

[2017-11-02 13:13] andrew-m-leonard opened #502 "JCL_Test_SE80_0:test_setSecurityManager2 fails on JDK8"
This fails for SE80, however I notice in SE90 version of Test_System.java this test is not present, should we remove it from SE80?

Java8andUp/src_80/org/openj9/test/java/lang/Test_System.java

FAILED: test_setSecurityManager2
java.lang.AssertionError: Unexpected: java.lang.NullPointerException
	at org.testng.Assert.fail(Assert.java:94) from sun.misc.Launcher$AppClassLoader@1bcb56f7(file:/home/adm

[2017-11-02 13:19] groeges opened #503 "Various tests in cmdLineTester_XcheckJNI_0 suite fail as they cant find j9ben library"
When running the Sanlity tests on OpenJ9 with OpenJDK8 on AIX we see lots of errors on tests in the  cmdLineTester_XcheckJNI_0 suite. These all seem to fail because the test cannot find the lj9ben library.
The errors seen are like this:
[code]
The test framework does seem to configure the LIBPATH but this is not being utilised:
[code]
If this LIBPATH is setup manually and the test run manually the

[2017-11-02 13:23] smlambert commented on #502
Is it useful for you to look at the equivalent test in the internal Java8 build and comparing the results of it to the build you are testing, then understanding why there is a difference in behaviour?  I see that test_setSecurityManager2 is passing in the internal build.  I am not aware that this test should be removed in Java8, as we are currently running it against it.

[2017-11-02 13:24] groeges commented on #503
On a suggestion from Terry I did the following:
[code]
[code]
when I did this all the tests in that suite passed.

[2017-11-02 13:34] andrew-m-leonard commented on #502
Where do I find an "internal Java8 build"?

[2017-11-02 13:39] andrew-m-leonard commented on #502
Remember IBMJava8sr5 is a different beast to OpenJ9 for OpenJDK8

[2017-11-02 13:43] andrew-m-leonard commented on #315
Created JCL issue: https://github.ibm.com/runtimes/openjdk-contribution/issues/105

I can confirm updating java.security fixes the issue.

[2017-11-02 13:49] #315 closed

[2017-11-02 13:49] smlambert commented on #502
Yes, so we need to determine if this is an expected difference (see Slack for link to referenced build).

[2017-11-02 15:08] mpirvu commented on #270
I evaluated the proposed solution on native Linux using Liberty startup as a benchmark.
For the sufpdt3 configuration there was a 0.5% startup regression (over 240 runs)
For the tradeLite configuration there was a 1.6% startup over 240 runs. Since the fluctuations were rather high I repeated this experiment and got a 0.4% startup regression over 400 runs (the 95% confidence interval was 0.2%)

All

[2017-11-02 16:05] #373 closed

[2017-11-02 16:44] pshipton commented on #502
It would help if the test didn't catch the exception and then only print the exception message. If we had the entire stack for the NPE, instead of the assert, it might be obvious what is wrong.

[2017-11-02 16:49] pshipton commented on #502
This is a dup of #314, I'll close #314 since there are more comments here.

[2017-11-02 16:50] pshipton commented on #314
Duplicate of #502, closing this one since there are more comments in #502.

[2017-11-02 16:50] #314 closed

[2017-11-02 17:15] smlambert commented on #502
That test was likely written years ago.  When we migrated all of these tests into the open, we did not take the time to improve them as you suggest.  Feel free to change the test so that it doesn't swallow the useful information you need.

[2017-11-03 07:07] madduci opened #509 "x86 32 Bit Builds"
Knowing the fact that Oracle isn't supporting Java 9 for 32 bit systems officially (changed strangely on 21st September, maybe as option for paying customers), it think it would still make sense provide 32 bit builds as long as a lot of PCs are still running 32 bit OSes (e.g Windows 8.1/10 Tablets are 32 bits, a lot of legacy systems, both Windows and Linux). Java 8 is now entering the End-of-Life

[2017-11-03 12:52] andrew-m-leonard commented on #502
java.lang.NullPointerException
	at org.openj9.test.support.Support_Exec.getJavaCommand(Support_Exec.java:243) from sun.misc.Launcher$AppClassLoader@5e31dcce(file:/home/admin/mydocker/ccm/openjdk-jdk8/openj9/jvmtest/Java8andUp/GeneralTest.jar)
	at org.openj9.test.support.Support_Exec.execJava2(Support_Exec.java:134) from sun.misc.Launcher$AppClassLoader@5e31dcce(file:/home/admin/mydocker/ccm/openjd

[2017-11-03 13:31] Param-S opened #510 "Display JVM state as part of MXBean"
Export the runtime state of the JVM through MBean/MXBean.

[2017-11-03 13:50] pshipton commented on #502
Looking at the test code, the problem is caused because java.vendor doesn't not contain "Sun" or "IBM". I expect if we modify the test code to also look for "OpenJ9" and use the same code as "IBM" then the test will work.

[2017-11-03 13:52] DanHeidinga commented on #475
There's some great information here which I've tried to capture in PR #512.  It's a very rough start at an FAQ for these kinds of questions.

As this question appears to have been answered, I'm closing this issue.

[2017-11-03 13:52] #475 closed

[2017-11-03 13:55] DanHeidinga commented on #451
Question appears to be answered.  Closing.

[2017-11-03 13:55] #451 closed

[2017-11-03 13:55] pshipton commented on #502
Not sure if this will also fix the test for 90. We'll have to try it and see if there is another issue on 90.

[2017-11-03 14:12] smlambert commented on #502
ah, the classic brittle string match in code...  makes me prickly... but yes, an update to match 'openj9' would at least see this test running again.

[2017-11-03 14:27] DanHeidinga commented on #364
[code]
@TianyuZuo On Java 9, that method should be looking up a different MH.  `sun.reflect.Reflection` was renamed to `jdk.internal.reflect.Reflection`

[2017-11-03 14:47] andrew-m-leonard commented on #502
I've just tried the vendor check and it does fix the test :-)

[2017-11-03 14:48] andrew-m-leonard commented on #502
I'll create a PR

[2017-11-03 14:49] pshipton commented on #510
Hi @Param-S. As it stands, this Issue, with a single line short description, doesn't provide any value. You don't need to open an Issue just because you are opening a Pull Request, the Pull Request alone is sufficient. You could open an Issue in order to have a discussion before writing the code, but if you already have the code then feel free to only open a Pull Request.

[2017-11-03 15:17] TianyuZuo commented on #364
thanks for help, will update the test src

[2017-11-03 15:35] pshipton commented on #500
Note the UnsupportedOperationException for getHardwareModel() is expected on Windows.

Looks like the problem is in this code as Windows doesn't use UnixExtendedOperatingSystem but ExtendedOperatingSystemMXBeanImpl.
[code]

[2017-11-03 15:37] pshipton commented on #500
@vsebe are all 4 failures related to getHardwareModel() or are there other issues as well?

Note I expect you could resolve this one yourself with the hint from the previous comment.

[2017-11-03 15:50] hangshao0 commented on #494
The problem goes away if I increase OPTIONSBUFF_LEN in jvmtiStartup.c

[2017-11-03 16:49] pshipton commented on #509
IBM Java 8, which uses OpenJ9, does support 32-bit platforms (except PPC LE), so OpenJ9 does contain this support. It should be a matter of getting a 32-bit build configured, as long as OpenJDK can support it. Getting pure OpenJ9 32-bit builds going, or building OpenJFX, is beyond the scope of what IBM is trying to accomplish atm.

[2017-11-03 17:57] vsebe commented on #500
@pshipton only 2 failures are related.
Will fix, thank you!

[2017-11-03 18:15] sunnythepooh commented on #270
I have also instrumented the method getMemoryInRangeForDefaultPages and run it on WSL, and this is my trace:

[code]
and many iteration later
[code]

So one obvious issue with the code is that if the request size is bigger than the address range ( ie endAddress - startAddress), then it should just return null straight away without going through the range as it would never being able to satisfy the

[2017-11-03 18:23] DanHeidinga commented on #494
@hangshao0 Can you check the jvmti spec to determine if there is a size limit on the args passed to an agent?

[2017-11-03 19:06] hangshao0 commented on #494
No. I don't see a size limit. I am looking at https://docs.oracle.com/javase/8/docs/platform/jvmti/jvmti.html#starting

[2017-11-03 19:15] DanHeidinga commented on #494
We may need to fall back to malloc if the agent args are longer than the on stack buffer allows.

[2017-11-03 19:18] JasonFengJ9 opened #516 "Undesirable behaviours by overriding MAKEFLAGS in OpenJ9.gmk"
Following `OpenJ9.gmk` script overrides `MAKEFLAGS`
[code]

This effectively overrides the command line options from makefile caller. For example, `Main.gmk` invokes `OpenJ9.gmk` with command line option `VERSION_MAJOR=$(VERSION_MAJOR)` which could be overridden by hard-coded setting `VERSION_MAJOR:=9` hence cause the problem described in https://github.com/eclipse/openj9/pull/492#issuecomment-340

[2017-11-03 23:41] sunnythepooh commented on #270
I have instrumented the getMemoryInRangeForDefaultPages further and it seems that WSL just ignore addr or unable to allocate pages anywhere near the suggested address:
[code]
I think we should to modify the code so that it will check if multiple calls to mmap returns the same address it will bail out from the loop.

[2017-11-04 17:38] JamesKingdon commented on #53
I gave this another go and ran into a few problems...
https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/81
https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/82
https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/83

[2017-11-04 18:13] jabrena commented on #53
Any progress with this issue?

[2017-11-04 18:16] JamesKingdon opened #518 "Get toolchain info from a single place, preferably openJDK configure"
We currently have toolchain information spread around multiple files including
[code]
This information should ideally be obtained from the openJDK configure output.

[2017-11-04 21:44] JamesKingdon opened #519 "SPEC not correctly set when cross compiling"
When cross compiling for arm from OpenJDK the SPEC variable doesn't have an appropriate value in tr.source/trj9/Makefile, resulting in the JIT being compiled for the host platform instead of the target. As a workaround, forcing SPEC=linux_arm just before the conditional seems to achieve more appropriate behaviour, but this is clearly not the right fix.
I'm not sure how SPEC is supposed to get set

[2017-11-04 21:47] JamesKingdon commented on #53
@jabrena I don't have a solution yet, but I learned quite a lot about the problems this morning. I'm hoping that the things I found will trigger some ideas from the guys who know the build systems better than I do.

[2017-11-05 00:42] DanHeidinga commented on #518
@JamesKingdon Have you see issue https://github.com/eclipse/openj9/issues/90 ?  It covers replacing the current UMA specs with a cmake based build system.  I'm not sure the current cmake story will get us all the way to having the all the info come from the openJDK configure, but it will move the project closer to that goal.

[2017-11-06 02:01] deesebas opened #520 "Inconsistent Help Output For Heap Dump Defaults"
Inconsistent Help Output For Heap Dump Defaults

The help output for heap dump defaults is incorrect (and does not match the output of -Xdump:what):
[code]

Whereas -Xdump:what does show the correct heapdump defaults:
[code]

[2017-11-06 15:57] pshipton opened #522 "Add StackWalker.StackFrame.getMethodType() / getDescriptor()"
StackWalker.StackFrame.getMethodType() / getDescriptor() need to be implemented for Java 18.3 / 10

[2017-11-06 15:57] JamesKingdon commented on #518
Hi Dan, yes, I know of the ongoing work to move to cmake. Do we have a feel for when that will replace the existing build systems for an integrated openJDK build?

[2017-11-06 16:42] adamfarley opened #523 "SSLEx and SSLSock5 tests fail (with Hang) on Java 8 on OpenJ9"
These tests hang until they are killed, with the following thread identical between the tests (except for the final line, where the test name and failing line differs).

Though the jdk8 extensions has not been released yet, I have reviewed it and can't find a change unique to JDK8 extensions which I consider a likely suspect for this error. If the OpenJ9 community could have a look at this, we can

[2017-11-06 19:06] vsebe commented on #500
Invalid

[2017-11-06 19:06] #500 closed

[2017-11-06 19:57] mgaudet commented on #523
You can make your text show up preformatted by either fencing it with three backticks, or spacing with four spaces:

[code]

[code]

For `inline pre`, wrap the section with a single backtick:

    Lorem ipsum `<html>` dolor sit amet

See more in the GitHub [Guide to Mastering Markdown](https://guides.github.com/features/mastering-markdown/)

[2017-11-07 07:07] gpadasal opened #526 "openj9 simply ignores the invalid "-XX:" options without reporting any error/message"
There is no strict checking in openj9 for most of the "-XX:" options specified .
For instance , the GC policy -XX:+UseConcMarkSweepGC when used with openj9 silently ignores the option without reporting any error/message .
[code]
Use of any random characters in the option is also accepted.
[code]
This creates confusion as the user thinks the option is indeed supported by J9 VM which is not true .
T

[2017-11-07 07:10] gpadasal opened #527 "Equivalent openj9 VM option for PrintFlagsFinal/PrintFlagsInitial ?"
On openjdk we have VM options -XX:+PrintFlagsFinal and -XX:+PrintFlagsInitial which helps user check the final and the initial VM options used by the running Java. Although the javacore displays only subset of these options , it would be nice to explicitly list all when needed .

For instance , if we need to check whether any option is supported/ignored by VM as in case of say -XX:+UseConcMarkSwee

[2017-11-07 09:04] groeges opened #528 "JCK Test in test.jck8b.runtime.lang.FP fail with FP issues on AIX"
Running the JCK tests against an OpenJ9 with OpenJDK8 give errors in the `test.jck8b.runtime.lang.FP` suite of tests. The actual tests that fail are:
[code]
Which can be executed using a command like (if the STF JCK test framework has been installed):
[code]
Theses tests give the following failures:
[code]

These tests also fail  when testing against OpenJ9 with OpenJDK9 (on AIX)
but pass OK when

[2017-11-07 09:43] groeges commented on #528
Similar tests in the test.jck8b.runtime.xopts.vm.fp test suite give the same errors as above.
Failing tests are:
[code]

[2017-11-07 11:42] JamesKingdon commented on #53
I've reached the illegal instruction stage. It looks to me like we're making a call to thumb code with the processor still in arm mode. In my case the call is coming from ffi_call_VFP and crashes in Java_jdk_internal_reflect_Reflection_getCallerClass__I. I can think of a few ways this could have gone wrong, but I think the simplest would be that some of the files got compiled without the -marm fla

[2017-11-07 12:57] pdbain-ibm opened #529 "Remove Harmony code from OpenJ9 builds"
Harmony code is required for certain legacy builds, but not Java 9 or OpenJ9.
Request a configuration parameter, e.g. INCLUDE_HARMONY, which is false by default,
in the cmake build system.
@pshipton FYI
@dnakamura will our cmake build system handle different configurations depending on the Java spec version?

[2017-11-07 13:00] pdbain-ibm commented on #529
Prototype: https://github.com/pdbain-ibm/openj9/tree/remove_harmony
This uses the JAVA_SPEC_VERSION compiler command line setting.

[2017-11-07 13:25] JamesKingdon commented on #138
This has a (partial?) dependency on https://github.com/eclipse/openj9/issues/509 as currently composition is not working correctly for 32 bit builds.

[2017-11-07 13:55] adamfarley opened #531 "Enable jck test "test.jck8b.runtime.api.signaturetest" to pass"
JCK test "test.jck8b.runtime.api.signaturetest" fails on OpenJDK8 on OpenJ9 because it does not expect the following methods in MethodHandle:

protected MethodHandle getTarget()
public MethodHandle asTypeUncached(MethodType)

These methods are present in J9JCL's MethodHandle.

[2017-11-07 13:56] adamfarley commented on #531
Note: the affected methods are both stub methods, so in theory altering the scope of one and removing another should change precisely nothing, especially as the changes bring us closer to the OpenJDK reality, not further away.

[2017-11-07 13:56] adamfarley commented on #531
Pull Request: https://github.com/eclipse/openj9/pull/530

[2017-11-07 14:12] pshipton commented on #531
@adamfarley FYI a Pull Request is sufficient when a fix is available, you don't need to open an Issue to correspond to every Pull Request. An Issue would be appropriate when a fix isn't available or you want to have a discussion before making any code changes.

[2017-11-07 14:20] pshipton commented on #526
This enhancement request should not be confused with -XX:+IgnoreUnrecognizedVMOptions, which is disabled by default, and causes unrecognized options like -Xfred to be ignored.

[2017-11-07 14:49] pshipton commented on #528
@groeges
Please provide the -version output for the build being tested.
On which AIX OS version (oslevel -s) and xlc version (xlc -qversion) is the OpenJ9 build created?

There was a FP issue (on Linux x) with a different test for a short time (around Nov 2) which is now resolved, although I suspect this is a different issue. I wasn't able to repeat these failures with the IBM Java 8 build (201711

[2017-11-07 14:50] pshipton commented on #528
Also, can you please try with -Xint to determine if this issue is caused by the JIT.

[2017-11-07 14:59] adamfarley commented on #531
Ok. Will remember that for next time. Closing the issue.

[2017-11-07 15:50] groeges commented on #528
@pshipton
[code]
[code]
[code]

[2017-11-07 15:51] groeges commented on #528
tried running with -Xint and it made no different to the tests

[2017-11-07 16:30] JasonFengJ9 commented on #531
Chatted with Adam about his PR during early morning. Will take care this instead.

[2017-11-07 18:18] pshipton commented on #528
alternate command line
[code]

[2017-11-07 18:20] pshipton commented on #531
command line example
[code]

[2017-11-07 18:51] DanHeidinga commented on #528
@pdbain-ibm Can you take a look at this?

[2017-11-07 19:17] pdbain-ibm commented on #528
@DanHeidinga I'm on it.

[2017-11-07 20:37] #369 closed

[2017-11-07 20:57] fjeremic commented on #529
Will part of this work revert the use of BigInteger / BigDecimal to OpenJDK implementation? I think those classes are riddled with Harmony code which no one uses.

[2017-11-08 09:51] ashu-mehra opened #538 "Improve documentation to include workflow required for contributing to OpenJ9"
It would be really useful for new-comers if we include the workflow for contributing to OpenJ9 in CONTRIBUTING.md. IMO at present OpenJ9 is clearly missing that and is currently relying on the individual to figure that out.
I noticed detail build instructions were added at https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V9.md but it does not cover the workflow for contrib

[2017-11-08 13:20] JamesKingdon commented on #53
I tracked down the problem with thumb code - the native methods in the jdk tree were being compiled for thumb. The problem was caused by passing the wrong abi profile to the configure script. I had been using arm-vfp-hflt which results in -march=armv7-a -mthumb being passed to the compiler. Changing the abi profile to xarmv6-vfp-hflt gives -march=armv6 -marm, which should be compatible with the wa

[2017-11-08 15:07] pdbain-ibm commented on #528
Got the VM, reproduced the problem even with -Xfuture.
openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-groeges_2017_11_02_10_11-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 AIX ppc64-64 Compressed References 20171102_000000 (JIT enabled, AOT enabled)
OpenJ9   - 315256d
OMR      - 30c2196
OpenJDK  - 19873b0 based on jdk8u152-b03)

Tested and passing with the IBM p

[2017-11-08 15:18] adamfarley opened #539 "Resolve the issues seen when MLet is used as a ClassLoader in tests run on JDK8."
MLet is used as a ClassLoader when creating or invoking an MBean via an MBeanServer. Though these tests pass on OpenJDK9 on OpenJ9 and OpenJDK8 on Hotspot, they fail on OpenJDK8 on OpenJ9.

Here are examples of each of the two most common failures:

java.lang.ClassNotFoundException: com.sun.management.mbeans.loading.CL_InheritWatcher01
	at java.lang.Class.forNameImpl(Native Method)
	at java.lang.C

[2017-11-08 16:27] groeges commented on #528
@pdbain-ibm I have a copy of the AIX OpenJ9 with OpenJDK9 SDK if you cant get it from Joe.
It is one I built but should be Ok. Or you can get one from AdoptOpenJDK.

[2017-11-08 16:41] JamesKingdon commented on #321
Hi Mark, just to update the status - I'm waiting on the two PRs to work their way through the build/test hierarchy and finally appear on adoptopenjdk.net. Once there is a build available I'll download, test it and update this issue again.

[2017-11-08 18:57] mikezhang1234567890 opened #543 "Copyright check failing when files are moved with no changes"
The copyright checks fail if a file is moved with no other changes ( example: https://github.com/eclipse/openj9/pull/542 ).
Since we didn't actually touch the contents of those files, I don't believe we should be updating the copyright headers.

[2017-11-08 20:04] pdbain-ibm commented on #528
Brewed a stripped-down test case: take a long value 0x20_0000_2000_0001 (2^53 + 2^31 + 1),
convert it to a float, and divide by 2^53.

[2017-11-08 20:29] pdbain-ibm commented on #528
Tested with @jdekonin's Java 9 OpenJ9 for AIX. JCK passes fine. I suggest parking this until the official AIX builds are available.

[2017-11-08 20:32] llxia commented on #442
We can get the SPEC value if the sdk is compiled on the same machine.
[code]

[2017-11-08 20:42] fengxue-IS commented on #272
I'll take a look, @jdekonin is there a particular reason for the change?

[2017-11-08 20:58] DanHeidinga commented on #306
I've opened a bug with the Eclipse foundation to get the text updated: https://bugs.eclipse.org/bugs/show_bug.cgi?id=527017

The text is based on Mark & Daryl's version with small amendments from Samir.  I've also proposed text for the OpenJ9-OMR repo that directs most PRs to the upstream repo.

Thanks everyone!

[2017-11-08 21:02] pdbain-ibm commented on #528
@groeges Do you see the same issue with your Java 9 OpenJ9 builds?

[2017-11-08 22:30] hangshao0 commented on #470
Unfortunately increasing the 2s sleep time does not fix this issue. Something else is going on.

[2017-11-09 08:19] groeges commented on #528
@pdbain-ibm Yes I do see this with my OpenJ9 AIX build but it is quite a old build.
Rebuilding now just to see if that makes any difference.

If this works on Joe's build, what is the difference between his build and mine.
I also tested this on the OpenJ9 build from AdoptOpenJDK and that also fails with the same errors.
If we are going to get people using builds that are generated from AdoptOpenJD

[2017-11-09 10:21] groeges commented on #528
Rebuilt my Openj9 with JDK9 and also with JDK8 and still gives the same error.

There must be something different with my build setup if @jdekonin has a build that works.
Joe please can you send me your build environment config as well as the configure options you are using when building on AIX.

[2017-11-09 11:57] adamfarley opened #546 "Enable javax xml-related tests to pass on JDK8 on OpenJ9"
When running the javax_xml tests against JDK8 on OpenJ9, 3074 pass and 523 fail. The good news is that I looked through the output from twenty of them, and the outputs all follow a similar theme: "java.net.SocketException: No such file or directory (ioctl FIONREAD failed)"

- We also had an "ioctl FIONREAD failed" error message in issue https://github.com/eclipse/openj9/issues/539, so could these

[2017-11-09 12:49] adamfarley commented on #546
The tests have finished.

OpenJDK8 on OpenJ9 - Would not run because javax.xml.ws.Service is in javax.xml.ws module, which I do not believe is part of the default modules list (java.se).

OpenJDK9 on Hotspot - Only say 12 failures, all related to soap faults. However, some failed with the "ioctl FIONREAD" error message as well.

Example:

11-09-2017 11:59:45:  ERROR: com.sun.xml.internal.ws.fault.

[2017-11-09 14:03] adamfarley opened #547 "JDWP tests are hanging on OpenJ9-JDK8"
Currently, when we run the vm.jdwp test, it runs for over 7 hours and gets killed by our automation.

Though this degree of overrun strongly implies a hang somewhere (an infinite loop of some sort, perhaps), the javacores imply that it's not a hang, just veryveryveryvery slow progress.

If I'm reading the javacores correctly, main thread appears to launch a DefaultTestRunner thread, which runs a t

[2017-11-09 14:15] DanHeidinga commented on #24
Closing this as the compile only travis builds have been available for some time.  Thanks to everyone who helped to improve their stability!

[2017-11-09 14:15] #24 closed

[2017-11-09 14:16] DanHeidinga commented on #306
Project descriptions updated.  Closing this now.  If further tweaking to the description is required, please reopen.

[2017-11-09 14:16] #306 closed

[2017-11-09 14:17] jdekonin commented on #528
shas based on yesterday EST morning master.  I don't have them on disk anymore, but it was current source.

# oslevel -s
6100-09-09-1717

# /opt/IBM/xlC/13.1.3/bin/xlc -qversion
IBM XL C/C++ for AIX, V13.1.3 (5725-C72, 5765-J07)
Version: 13.01.0003.0000

[2017-11-09 14:56] pshipton commented on #528
My guess is the compiler. V13.1 has the problem and V13.1.3 is ok.

[2017-11-09 15:23] JasonFengJ9 opened #548 "Java 9 module java.base signature test failures"
[code]

[2017-11-09 15:43] fjeremic commented on #321
@r30shah this may be of interest to you.

[2017-11-09 16:13] JamesKingdon opened #549 "Suggestion: A mechanism for interacting with the JIT from Java code"
It would be useful from a testing perspective to be able to influence the JIT compiler from Java code, for example to force a given method to be JIT compiled at a given optimisation level. Without wishing to imply too much about what such a mechanism would look like, the sort of capability I'm envisioning would allow tests such as

[code]

@mgaudet raised the possibility of using annotations to co

[2017-11-09 17:50] fjeremic opened #550 "Rename runtimes/tr.source"
I wanted to gauge peoples opinion on renaming runtimes/tr.source to something more sensible. Perhaps follow OMR's footsteps and use runtime/compiler as the directory name instead? Would this have any internal / external dependencies? Last thing I would want to do is to break a bunch of internal builds.

[2017-11-09 18:47] DanHeidinga commented on #543
@AdamBrousseau is this something you can look at?

[2017-11-09 18:48] DanHeidinga commented on #522
@pdbain-ibm You've worked on the StackWalker.  Want to take this?

[2017-11-09 19:37] jdekonin commented on #272
I don't recall the details now, and I don't see any hints in #256.  @keithc-ca, do you recall the reason?

[2017-11-09 19:43] pdbain-ibm commented on #522
@DanHeidinga I'm on it.

[2017-11-09 19:51] dsouzai opened #554 "Can't add trace options on both -Xjit and -Xaot"
If tracing is specified on both the -Xjit and the -Xaot specifiers, the VM fails to start up:
[code]
However, if it is specified only on the -Xjit string or the -Xaot string, then the VM starts up fine. Not being able to specify it on both strings makes debugging hard when trying to trace a method that could be either AOT compiled or JIT compiled (a decision made at runtime).

[2017-11-09 20:01] #531 closed

[2017-11-09 20:12] pdbain-ibm commented on #522
@pshipton Could you send me the javadoc for the new API?

[2017-11-09 20:21] AdamBrousseau commented on #543
The diff is supposed to only return files that are Added, Changed, or Modified
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/copyrightCheck#L36
`--diff-filter=ACM`
as per the [Git Doc](https://git-scm.com/docs/git-diff#git-diff---diff-filterACDMRTUXB82308203)
[code]

Further reading the doc I find the `-C` [option](https://git-scm.com/docs/git-diff#git-diff--Cltngt)
[code]
It seem

[2017-11-09 20:27] hangshao0 commented on #470
OK, I know what is happening.

This is what the testing code is doing:
1. store classes B and E from Alphabet.jar to the shared cache.
2. modified the jar file after 2s.
3. try finding the classes B and E from the shared cache.

We shouldn't return classes B and E from the shared cache as the jar (and its timestamp) has been updated. So our behaviour is correct in this case.

I will fix the test c

[2017-11-09 20:41] JamesKingdon opened #556 "Add support for 256 bit wide SIMD instructions"
On those processors that have 256 bit wide vector registers we could obtain significant performance gains by extending our current auto-SIMD support to use the wider registers.

[2017-11-09 20:48] IBMJimmyk opened #557 "Unintialized variable use inside SPMDParallelizer optimization"
Inside insertGPUTemporariesLivenessCode in SPMDParallelizer.cpp the variable currentNode will sometimes be used before being initialized. This can lead to issue like a segfault.

currentNode is typically initialized inside the inner for loop in insertGPUTemporariesLivenessCode. The for loop iterates over the gpuSymbolMap and skips entries where either the hostSymRef is null or the parmSlot value i

[2017-11-09 21:11] pshipton commented on #522
http://cr.openjdk.java.net/~iris/se/18.3/build/latest/api/overview-summary.html

[2017-11-09 21:21] AdamBrousseau commented on #543
There is also the `-M` option
[code]
I'm not sure what is the more correct solution. Might need to try a few use cases to be sure.

[2017-11-09 21:32] andy5995 commented on #272
Whoever works on this may want to review the changes I made in https://github.com/eclipse/openj9/pull/408/files

[2017-11-09 21:53] keithc-ca commented on #272
Whoever works on this must be able to claim it is their own work (part of what you will agree to as part of the eclipse CLA) and so starting with the work offered in #408 will not qualify (unless @andy5995 is that person and changes his mind about agreeing to the CLA).

[2017-11-10 03:04] JamesKingdon commented on #53
OK, good news - I managed to manually get a build going, complete with JIT:
[code]
The bad news is that the JIT is quite unstable when running anything other than trivial programs. I'll try and work through the issues I raised to get regular builds enabled, and then I'll focus on the JIT stability issues. Realistically, we have quite a lot of work ahead of us.

[2017-11-10 07:00] BrijeshNekkare commented on #287
Thanks @DanHeidinga for your inputs, took a while to get things working.

Tweaked my above stated procedure for build/test/debug/submit fixes courtesy ashu-mehra and it works like a charm.
1. git clone relevant "forked repos" outside of the docker container.
2. Now use docker volume feature and build/test within docker.
3. Submit repo changes outside of docker environment post fix verification.
4.

[2017-11-10 11:24] BrijeshNekkare opened #564 "Issues with generated coredump when using MAT and gdb"
Notice couple of issues with the coredumps generated (using command "java -Xdump:system:events=vmstart -version") on OpenJ9 .

1. Memory analyzer tool(MAT) is unable to parse the coredump generated. It fails with below error

		Error opening heap dump 'adopt_openjdk_core.20171110.155110.13247.0001.dmp'. Check the error log for further details.
		Error opening heap dump 'adopt_openjdk_core.20171110

[2017-11-10 12:02] pshipton commented on #287
@BrijeshNekkare you opened the issue, so you can close it.

[2017-11-10 12:04] #287 closed

[2017-11-10 12:06] pshipton commented on #564
Scenario 1 doesn't work because of #378

[2017-11-10 12:08] pshipton commented on #564
For scenario 2, perhaps the core file has been truncated?

[2017-11-10 12:23] BrijeshNekkare commented on #564
1. Ulimit for corefiles is set to unlimited.

2. On the same system if i generate the coredumps outside the docker (have used docker mapped volume feature) container it works.

[2017-11-10 12:38] pshipton commented on #564
Does it work if you run gdb inside docker?

[2017-11-10 13:30] pshipton commented on #564
Note the core file is created by the OS, not by OpenJ9.

[2017-11-10 15:26] jabrena commented on #53
Congrats!!!

[2017-11-10 15:41] dsouzai commented on #459
Closing, since I'm happy with the discussion in https://github.com/eclipse/omr/issues/1854 .

[2017-11-10 15:41] #459 closed

[2017-11-10 16:30] #470 closed

[2017-11-10 21:43] #301 closed

[2017-11-10 22:45] #179 closed

[2017-11-11 12:33] JamesKingdon commented on #53
I can get some non-trivial programs running by using the following options:
`-Xjit:disableDirectToJNI -Xgcpolicy:optthruput`

The gcpolicy option is to work around missing implementation in the ARM codegen for the array copy evaluator. I've opened an OMR issue to track that problem:

https://github.com/eclipse/omr/issues/1996

I haven't looked at the JNI direct call problem yet, but the fact the i

[2017-11-13 09:33] gaolibj commented on #528
@groeges  Found the similar issue as you.  We also used xlc 13.1.   Have you tried xlc 13.1.3?

[2017-11-13 09:52] groeges commented on #528
I am in the process of upgrading to 13.1.3 and will then rebuild and retry the tests. Will update this issue with the results.

[2017-11-14 00:22] BrijeshNekkare commented on #564
Had issues running gdb inside the docker, will get back to this by end of this week.

[2017-11-14 02:40] DanHeidinga commented on #550
@AdamBrousseau / @jdekonin How deeply is the `tr.source` name backed into the build system?  Does this have an internal dependencies?

[2017-11-14 11:54] JamesKingdon commented on #321
Looks like AdoptOpenJDK has been having infrastructure problems recently - no new builds since November 6th. I've seen some discussions on the Adopt Slack channels, so hopefully things will get unblocked fairly soon.

[2017-11-14 14:25] mgaudet opened #576 "IlGeneratorMethodDetails relies on devirtualization not happening"
J9::IlGeneratorMethodDetails has an assignment operator that breaks if devirtualization happens, because it transmutes the runtime type of the class.

https://github.com/eclipse/openj9/blob/6858c8b89dc152d73fd9738869f2e6e8c133cbcd/runtime/tr.source/trj9/ilgen/J9IlGeneratorMethodDetails.cpp#L53-L75

It's not clear to me if this is legal C++ either.

[2017-11-14 14:43] pshipton opened #577 "Add ThreadMXBean.dumpAllThreads(..., int maxDepth) and getThreadInfo(..., int maxDepth) APIs"
ThreadMXBean.dumpAllThreads(..., int maxDepth) and getThreadInfo(..., int maxDepth) need to be implemented for Java 18.3 / 10. Added in +31.

[2017-11-14 14:49] JamesKingdon commented on #576
As a concrete example I believe I ran into this problem earlier this year when I was doing some initial work on ARM and was natively compiling with the system default compiler. Here's a cut & paste from the original discussion:

[2017-11-14 17:07] DanHeidinga commented on #523
@JasonFengJ9 Can you take a look at this?

[2017-11-14 17:08] DanHeidinga commented on #547
@pdbain-ibm Can you take a look at this?

[2017-11-14 17:08] DanHeidinga commented on #539
@fengxue-IS Can you take a look at this?

[2017-11-14 17:09] DanHeidinga commented on #528
@groeges Have you had a chance to test with 13.1.3 yet?  I'd like to get all the java 8 JCK issues resolved asap

[2017-11-14 17:11] DanHeidinga commented on #546
@fengxue-IS Can you take this as well?  It looks similar to the other Java 8 JCK issue

[2017-11-14 18:06] lmaisons commented on #576
I'm almost certain that this isn't valid C++, as it allows something declared as a value type X to be a value type of K != X.
[code]
However, I can't currently cite chapter and verse as to why it's busted.

[2017-11-14 18:30] JasonFengJ9 commented on #523
Sure, will look at it.

[2017-11-14 19:04] mstoodle commented on #576
It was messy in a different way beforehand. Probably the easiest solution is to collapse the hierarchy to not rely on virtual polymorphism across the different flavours. This class is embedded in the compilation method queue entries (which we reuse to preserve memory footprint because we create quite a lot of them during big application runs). The placement new is used to "reconfigure" the method

[2017-11-14 19:05] mstoodle commented on #576
Incidentally, there is another example of this "design" in RelocationRecord (in fact, it's the origin of the infection) which uses a set of C++ classes to walk over the binary relocation data.

[2017-11-14 20:29] pdbain-ibm commented on #547
Will do

[2017-11-15 15:45] r30shah opened #586 "Exception testing Apache Lucene with OpenJ9"
While testing Apache Lucene on Linux on IBM Z with OpenJDK9 both with hot spot and openJ9 I ran in to following exception with OpenJ9(There are total 475 test suites with total 3831 - All had following exception) .
[code]
Which I did not hit with OpenJDK9 with HotSpot and yield to following output at the end of test,
[code]

Steps to build and test lucene,
[code]
Make sure you have ant installed,

[2017-11-15 15:55] pshipton commented on #586
Thanks for reporting the problem. This is most likely a duplicate of https://github.com/eclipse/openj9/pull/488. Once this fix is finalized and merged we can see if this one is also resolved.

[2017-11-15 17:32] AdamBrousseau commented on #550
Off the top of our heads

1. Makefiles (which I would assume would be all part of the OpenJ9 PR)
1. jit.version file is hardcoded to get dumped into `openj9/runtime/tr.source/jit.version` when we clone OpenJ9 (internal only)
1. Possible failures in Create Source.zip (internal only)

2,3 would be easy to test/fix

[2017-11-15 18:51] jdekonin commented on #550
I agree with Adam, references within *.mk and *.xml files should be the only change required aside from the directory change.

I believe that the entries in buildspecs/* are obsolete.  There might be an internal build issue, but that shouldn't block doing this work.

[2017-11-15 19:06] 0xdaryl commented on #550
To be more symmetric with OMR would require a little more reworking on the path names.  Namely,
[code]
However, there are occasions when using extensible classes when the "project" needs to be referenced in the include directive.  In the above case the project would be `runtimes` which isn't particularly descriptive or unique, but could work.

This then might suggest the following:
[code]
where `t

[2017-11-15 19:10] fjeremic commented on #550
Thanks @0xdaryl. I hand't thought of this. My first step was to rename tr.source and as a next step I thought it would make sense to fold the trj9 directory as well as it currently serves exactly no purpose.

[2017-11-15 19:14] 0xdaryl commented on #550
What I proposed might cause more things to break though without changes to OMR itself.  Right now in OMR it looks like `compiler` is used as the project in some cases.  For example:
[code]
This would now find a version in trj9 (if you followed my second naming scheme above) rather than what was intended (a version in OMR).  I believe cases like this would need to be prefixed with 'omr/compiler/x/c

[2017-11-15 19:16] vsebe opened #590 "j9vm.test.romclasscreation.OrphanROMHashTableDeletionTest fails on openj9 openjdk-jdk8"
J9vmTest_2, J9vmTest_4,	J9vmTest_5 j9vm.test.romclasscreation.OrphanROMHashTableDeletionTest failures:

J9vmTest_2:
+++ j9vm.test.romclasscreation.OrphanROMHashTableDeletionTest: +++
command: /tmp/bld_370249/j2sdk-image/jre/bin/java  -Xcompressedrefs -Xcompressedrefs -Xjit -Xgcpolicy:gencon  -Xdump -Xms64m -Xmx64m  -Xtrace:print={j9bcu.192-194}  -Xbootclasspath:/tmp/bld_370249/j2sdk-image/jre/lib/

[2017-11-15 19:17] vsebe commented on #590
attn @llxia

[2017-11-15 19:18] vsebe opened #591 "j9vm.test.romclasscreation.ROMRetentionAfterRAMFailureTest failure on openj9 open"
**Running test J9vmTest_2 ...**

test with Mode351
{ export LIBPATH="/tmp/bld_370249/j2sdk-image/jre/bin/../lib/amd64/compressedrefs:/tmp/bld_370249/j2sdk-image/jre/bin/j9vm:";
"/tmp/bld_370249/j2sdk-image/jre/bin/java" -Xcompressedrefs -Xgcpolicy:metronome -Xcompressedrefs -Xdump -Xint
-cp "/tmp/bld_370249/test/TestConfig/../../jvmtest/VM_Test/VM_Test.jar:/tmp/bld_370249/test/TestConfig/../../jvm

[2017-11-15 19:28] vsebe commented on #591
===============================================
Running test J9vmTest_2 ...
===============================================
test with Mode351
{ export LIBPATH="/tmp/bld_370249/j2sdk-image/jre/bin/../lib/amd64/compressedrefs:/tmp/bld_370249/j2sdk-image/jre/bin/j9vm:"; \
	"/tmp/bld_370249/j2sdk-image/jre/bin/java"  -Xcompressedrefs -Xgcpolicy:metronome -Xcompressedrefs  -Xdump -Xint \
	-cp "/tmp/bld

[2017-11-15 19:28] vsebe commented on #591
attn @llxia

[2017-11-15 19:31] vsebe commented on #590
Tested openj9 openjdk-jdk8 on linux_x86-64_cmprssptrs.
j2sdk-image/jre/bin/java -version
openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-openj9_2017_11_15_12_33-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20171115_370249 (JIT enabled, AOT enabled)
OpenJ9 - 10706ea
OMR - 99498e1
OpenJDK - e9942fd based on jdk8u152-b03)

[2017-11-15 19:38] vsebe opened #593 "j9vm.test.intermediateclasscreate.IntermediateClassCreateTest fails on openj9 openjdk-jdk8"
Fails for openj9 openjdk-jdk8 on linux_x86-64_cmprssptrs:
j2sdk-image/jre/bin/java -version
openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-openj9_2017_11_15_12_33-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20171115_370249 (JIT enabled, AOT enabled)
OpenJ9 - 10706ea
OMR - 99498e1
OpenJDK - e9942fd based on jdk8u152-b03)

**J

[2017-11-15 19:41] vsebe opened #594 "j9vm.test.invalidclasspath.SetClasspathTest failure on openj9 openjdk-jdk8"
Tested openj9 openjdk-jdk8 on linux_x86-64_cmprssptrs:
j2sdk-image/jre/bin/java -version
openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-openj9_2017_11_15_12_33-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20171115_370249 (JIT enabled, AOT enabled)
OpenJ9 - 10706ea
OMR - 99498e1
OpenJDK - e9942fd based on jdk8u152-b03)

+++ j9

[2017-11-15 19:46] vsebe opened #595 "cmdLineTest_J9test_SE80_0 failure on openj9 openjdk-jdk8"
[code]

Tested openj9 openjdk-jdk8 on linux_x86-64_cmprssptrs:
j2sdk-image/jre/bin/java -version
openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-openj9_2017_11_15_12_33-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20171115_370249 (JIT enabled, AOT enabled)
OpenJ9 - 10706ea
OMR - 99498e1
OpenJDK - e9942fd based on jdk8u152-b03)

[2017-11-15 19:53] vsebe opened #596 "testJ9Security failure on openj9 openjdk-jdk8"
[code]
Tested openj9 openjdk-jdk8 on linux_x86-64_cmprssptrs:
j2sdk-image/jre/bin/java -version
openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-openj9_2017_11_15_12_33-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20171115_370249 (JIT enabled, AOT enabled)
OpenJ9 - 10706ea
OMR - 99498e1
OpenJDK - e9942fd based on jdk8u152-b03)

[2017-11-15 20:01] vsebe opened #597 "cmdLineTester_SCHelperCompatabilityTests_unix_1 failure on openj9 openjdk-jdk8"
[code]

Tested openj9 openjdk-jdk8 on linux_x86-64_cmprssptrs:
j2sdk-image/jre/bin/java -version
openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-openj9_2017_11_15_12_33-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20171115_370249 (JIT enabled, AOT enabled)
OpenJ9 - 10706ea
OMR - 99498e1
OpenJDK - e9942fd based on jdk8u152-b03)

[2017-11-15 20:06] vsebe opened #598 "testSCCMLTests1_1 failures on openj9 openjdk-jdk8"
[code]

Tested openj9 openjdk-jdk8 on linux_x86-64_cmprssptrs:
j2sdk-image/jre/bin/java -version
openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-openj9_2017_11_15_12_33-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20171115_370249 (JIT enabled, AOT enabled)
OpenJ9 - 10706ea
OMR - 99498e1
OpenJDK - e9942fd based on jdk8u152-b03)

[2017-11-15 20:27] pdbain-ibm commented on #547
@adamfarley would you please provide instructions on running the test manually?
Thanks

[2017-11-15 21:07] TianyuZuo opened #600 "java.lang.NoSuchMethodError on test_indyn_invalid_bootstrap_method"
failure message:
[code]

This test passed on SE80 but failed on SE90

[2017-11-15 21:16] hangshao0 commented on #598
The issue here is the same as #472, caused by missing ZipHook patch. These sub-tests can be excluded.

[2017-11-15 21:18] Leonardo2718 commented on #576
I admit I had to look this one up. I haven't had the chance to look through the code in close detail but I believe it is not valid C++. The relevant parts of the C++ standard are:

-  [basic.life]/1:

-  [basic.life]/8:

object of type T (that is, they are not base class subobjects).

For an alternative solution, my immediate thought is to use a tagged union or [variant](http://en.cppreference.com

[2017-11-15 21:26] hangshao0 commented on #597
Test issue, similar to #470

[2017-11-15 21:38] vsebe commented on #598
Closing, duplicate of #472.

[2017-11-15 21:38] #598 closed

[2017-11-15 22:11] hangshao0 commented on #594
This test is testing SharedClassURLClasspathHelper.setClasspath() API. It is also been test under Java 9 and it is passing:
`java  -Xcompressedrefs -Xgcpolicy:metronome -Xcompressedrefs  -Xdump -Xms64m -Xmx64m -Xshareclasses:name=setclasspathtest,reset,verboseHelper -Xtrace:print={j9jcl.423}    -classpath /tmp/bld_370016/test/TestConfig/../../jvmtest/VM_Test/VM_Test.jar:/tmp/bld_370016/test/TestCo

[2017-11-15 22:15] hangshao0 commented on #594
There are a lot of verbose info message failed to show up. It only shows "K0594" instead.
The expected messages should be in these missing verbose output.

[2017-11-15 22:21] pshipton commented on #594
ExternalMessages.properties is missing from the com/ibm/oti/util package in rt.jar. There is a step missing in the build process to add it. For Java 9, this step is found in /openj9-openjdk-jdk9/closed/make/CompileJavaModules.gmk

[2017-11-15 22:44] pshipton commented on #595
The problem is that -Xtrace isn't working, and this is because the J9TraceFormat.dat should be in the jre/lib directory instead of the jre/lib/amd64/compressedrefs directory.

[2017-11-15 22:45] pshipton commented on #591
Suspect same issue as #595, J9TraceFormat.dat is in the wrong place.

[2017-11-15 22:45] pshipton commented on #590
Suspect same issue as #595, J9TraceFormat.dat is in the wrong place.

[2017-11-15 22:50] pshipton commented on #596
We should start by fixing the ExternalMessages.properties issue, #594, and see if there are any failures remaining after that.

[2017-11-15 22:52] pshipton commented on #593
Suspect same issue as #595, J9TraceFormat.dat is in the wrong place.

[2017-11-15 22:53] pshipton commented on #595
Same for OMRTraceFormat.dat, it needs to be in the jre/lib directory instead of the jre/lib/amd64/compressedrefs directory.

[2017-11-16 05:33] DanHeidinga commented on #600
[code]
It appears that the exception is expected as the method is named `method_must_not_exist`.

There was a behaviour change between 8 & 9 where 8 expects every exception thrown by a BootstrapMethod to be wrapped in a BootStrapMethodError but 9 allows Error subclasses to be passed through.

This is likely a small fix to the test.

[2017-11-16 05:37] DanHeidinga commented on #600
https://github.com/eclipse/openj9/blob/6858c8b89dc152d73fd9738869f2e6e8c133cbcd/test/Jsr292/src/com/ibm/j9/jsr292/indyn/IndyTest.java

[code]
Yup - Java 9 will need a different catch block...

Something like:
[code]

[2017-11-16 13:11] adamfarley commented on #547
Sure thing. The easiest way in the long run is probably to go here and follow the quick start guide, followed by the guide inside openjdk.test.jck.

https://github.com/AdoptOpenJDK/openjdk-systemtest

In the short run, if you just want a straight-forward set of steps, here:

1) Get a built copy of jck8b (the java 8 jck tests).

1) export JAVA_HOME=<java_home>
export JCK_HOME=<jck8b_home>

2) Run t

[2017-11-16 13:36] JamesKingdon commented on #321
@markehammons Good news, the build is available on AdoptOpenJDK at https://adoptopenjdk.net/nightly.html?variant=openjdk9-openj9
The build is dated 16 November 2017 and the filename is OpenJDK9-OPENJ9_x64_Linux_20171611.tar.gz. I've downloaded it and confirmed that it doesn't hang with the test case you provided.
Many thanks for helping us fix this problem.

[2017-11-16 15:15] TianyuZuo commented on #600
Great, thanks Dan, will update the test code to suit Java9

[2017-11-16 16:26] smlambert commented on #170
related #592

[2017-11-16 17:32] TianyuZuo opened #607 "Merge Jsr292 and OpenJ9_Jsr_292_API"
Both test folders are JSR292 related, we should merge them together by separating Java9 and Java8 src code into src90 and src80. As we don't need to take care of Java9 b148, we should update tests to suit Java9 b181 or delete tests which only applies to b148.

This issue depends on the PR (#281)

[2017-11-16 17:43] yanluo7 opened #608 "String compression check NOP involving static StringCompressionFlag field"
Parent issue encompassing child Pull Reqs that contribute to string compression check NOP involving static StringCompressionFlag field.

Optimization
--------------
Currently, we check if a String is compressed by checking its count field is non-negative. We can optimize by checking if the static compressionFlag field is null instead. Because StringCompressionFlag class is only initialized if an u

[2017-11-16 17:43] yanluo7 commented on #608
JIT PR: https://github.com/eclipse/omr/pull/2013
JCL PR: https://github.com/eclipse/openj9/pull/603

[2017-11-16 18:38] mpirvu commented on #270
My proposal for a fix is the following:
- add a new Virtual Memory Option, something like OMRPORT_VMEM_ADDRESS_HINT
- change getMemoryInRangeForDefaultPages() so that, when OMRPORT_VMEM_ADDRESS_HINT is used, instead of trying page after page to allocate in the desired region, we stop after the first attempt and return whatever  default_pageSize_reserve_memory() gives us
- change the JIT to do the

[2017-11-16 19:50] pdbain-ibm commented on #547
Tested and passing with Linux-X86.
$ cat jdwp_run
export JCK_HOME=/bluebird/javatest/lib/jck/jck8b
export TESTDIR=/team/pdbain/projects/jck
$JAVA_HOME/bin/java -jar $JCK_HOME/JCK-runtime-8b/lib/jtlite.jar -config $TESTDIR/runtime.jti @$TESTDIR/jtb_file.jtb

$ java -version
openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc.openj9.openjdk)
Eclipse OpenJ9 VM (build 2.

[2017-11-16 20:49] #481 closed

[2017-11-16 21:33] markehammons commented on #321
I've also confirmed that it no longer hangs in the full version of the bench. Thanks for the hard work @JamesKingdon 👍

[2017-11-16 21:33] #321 closed

[2017-11-17 10:38] adamfarley commented on #547
I've already mentioned this to Peter, but I should be clear here that this issue is specific to OpenJDK8 on OpenJ9. OpenJDK9 on OpenJ9 should pass fine, and so should OpenJDK8 on Hotspot.

[2017-11-17 12:29] ashu-mehra commented on #137
Came across Oracle bug https://bugs.openjdk.java.net/browse/JDK-8189497 which talks about option  `-XX:-UseContainerSupport` to disable container awareness in JVM. It appears default behavior for OpenJDK/Hotspot is to enable container awareness.
I believe OpenJ9 should also adopt same option. But as we are in early stage of enabling container awareness, I think its better to enable container aware

[2017-11-17 16:33] mgaudet opened #618 "TravisCI Pass Condition is not sufficiently robust"
Because our Travis builds simply check for `java -version`

https://github.com/eclipse/openj9/blob/9428bb89877946185791a8852dcbd3fd4c079c1c/.travis.yml#L87-L88

There is a possibility for dynamic linking errors to go un-noticed:

    The command "make images" exited with 0.
    0.13s$ ./build/linux-x86_64-normal-server-release/images/jdk/bin/java -version
    JVMJ9VM011W Unable to load j9jit29: /h

[2017-11-17 17:12] JamesKingdon opened #619 "ARM directToJNI causes unexpected exceptions"
On arm builds of OpenJDK/OpenJ9 java -version fails with an unexpected IllegalArgumentException:

[code]
The problem is avoided by running with -Xjit:disableDirectToJNI

[code]

I appreciate that while builds for arm are not readily available this issue could be seen as premature, but it seems better to record the problems as they are found so that we maintain awareness for future planning.

[2017-11-17 20:40] #364 closed

[2017-11-17 22:31] pshipton commented on #586
@r30shah #488 is delivered. Can you please check if the problem is resolved. You can build a new OpenJ9 runtime or download a nightly build from https://adoptopenjdk.net/nightly.html?variant=openjdk9-openj9 from 17 November 2017.

[2017-11-17 22:39] #510 closed

[2017-11-20 11:14] groeges commented on #528
@DanHeidinga  Sorry I have been on vacation for the last week. I am requesting that 13.1.3 be installed on my AIX system and once that is installed I will rebuild and retest.

[2017-11-20 14:12] DanHeidinga opened #627 "Create an IRC / Slack / other? chat group"
This was mentioned on the mailing list:
[code]
and is a great idea.

What platform should be used:

- Slack
- IRC
- Gitter
- Others

Please respond to this issue with pros / cons and preferences so we can get this started.

[2017-11-20 14:40] mgaudet commented on #447
Any update on your thinking about this one? Anyone else we should circle into the discussion?

@rbanerjee is currently looking at the Validator, so there's an opportunity here to get this cleaned up if we have a decision.

[2017-11-20 15:21] r30shah commented on #586
@pshipton I tried latest build from the https://adoptopenjdk.net/nightly.html?variant=openjdk9-openj9 .
It still fails , but this time with different error,
[code]

[2017-11-20 15:31] mgaudet commented on #627
I think there's a path dependent preference to Slack.

[2017-11-20 15:56] akrus opened #629 "JMX not listening on a port"
Hi,

I'm testing AdoptOpenJDK build of OpenJ9 (latest one for Linux x64), but for some reason JMX doesn't work. I've tried running both OpenJ9 and Oracle JRE (where it works).

Here are the options used:
[code]

I've also tried adding these:
[code]

but nothing changed, JVM is not listening on a port, VisualVM shows the app is running, but says JMX is unavailable (if running locally).

[2017-11-20 16:22] samkamer commented on #629
You need to use the following -
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.port=19000
-Dcom.sun.management.jmxremote.rmi.port=19000
-Dcom.sun.management.jmxremote.ssl=false
-Dcom.sun.management.jmxremote.authenticate=false

The rmi.port is what usually gets missed, but is required. It works best when both the rmi registry and rmi server are set to the same port.

[2017-11-20 17:12] pshipton commented on #629
I'm not 100% sure, you might need #572, and also #488 would be a good idea. @akrus is the OpenJ9 build you are trying up to date? To get the latest from AdoptOpenJDK you need to take from the nightly builds.

[2017-11-20 17:32] samkamer commented on #629
You are right @pshipton, both those PRs would be needed, in addition to the rmi.port property.

[2017-11-20 17:46] pdbain-ibm commented on #547
Tested with OpenJ9 Java 8 running com.sun.javatest.agent.AgentMain, plus rmid, rmiregistry;kill 9516 and tnameserv, and running the test with OpenJ9 Java 8 and Java 9, test hangs.

Tested with OpenJ9 Java 9 running com.sun.javatest.agent.AgentMain, plus rmid, rmiregistry; and tnameserv, and running the test with OpenJ9 Java 8, test passes.

[2017-11-20 18:08] pdbain-ibm commented on #547
Copied libjdwp.so and libjdwp.diz from OpenJ9 Java 9 to OpenJ9 Java 8 and ran the test using the modified Java 8 throughout.  It hung.

[2017-11-20 19:08] akrus commented on #627
I'd personally prefer IRC or Jabber conference.

[2017-11-20 19:25] smlambert commented on #627
Somehow, I thought a Slack channel was already being set up.  It would be my preference since its already a tool used by two other projects I work on, it works reasonably well, and I don't want to grow the list of tools I am using.

[2017-11-20 19:26] akrus commented on #629
Didn't know there are also nightlies available, thanks for pointing out!
It works well with latest nightly, even without rmi.port, i.e. with this:
[code]

Thanks everyone for such a quick response!

[2017-11-20 19:26] #629 closed

[2017-11-20 19:27] mgaudet commented on #627
There is also [Gateway support for IRC and XMPP in slack](https://get.slack.help/hc/en-us/articles/201727913-Connect-to-Slack-over-IRC-and-XMPP)

[2017-11-20 21:55] babsingh commented on #40
@markehammons I have pushed a fix. Now, sbt's shell mode should work with Openj9.

![screen shot 2017-11-20 at 4 53 09 pm](https://user-images.githubusercontent.com/8634038/33043466-927d7654-ce13-11e7-8d14-a3bb5957f674.png)

@DanHeidinga this issue can be closed.

[2017-11-20 22:12] pshipton commented on #54
@babsingh is this resolved by #283?

[2017-11-20 22:21] pshipton commented on #586
Based on the error message, I looked at the code which enables the -ea option, and found a bug in ClassLoader.initializeClassLoaderAssertStatus() related to the following line. This test doesn't work for Java 9. #633
[code]

[2017-11-20 22:35] babsingh commented on #54
@pshipton no. more changes will be required to complete this. currently, the following scenario is not covered.

[code]

**Current behavior:**
[code]

**Expected behavior:**
[code]

[2017-11-21 01:58] 0xdaryl opened #635 "Investigate review comments from #605"
PR #605 was part of a larger set of issues to clean up the trampoline logic in general and get the code in better shape to support trampolines for native functions.

Some comments were raised during the review of the code that was relocated.  Because PR #605 was not about understanding or refactoring the method logic itself, this issue was created to track addressing the comments when the logic is

[2017-11-21 04:43] DanHeidinga opened #636 "Validate that test_FindNestedClass_ProtectedAccess_DiffPackage passes on OJDK"
In the course of reviewing https://github.com/eclipse/openj9/pull/581 there is a check in `checkClassAccess` that uses `isProtected` to detect if a class is protected.  Removing this check causes one of our JSR292 tests to fail:
[code]

We need to validate this behaviour on OpenJDK to confirm that results are consistent.

From the VM perspective, classes are only `public` or `package`.  From a Jav

[2017-11-21 04:43] DanHeidinga commented on #636
@ChengJin01 FYI

[2017-11-21 05:05] DanHeidinga commented on #40
Thanks @babsingh.

[2017-11-21 05:05] #40 closed

[2017-11-21 06:03] deesebas opened #637 "Improve JVMTRCE003E message in case of missing generation number indicator (#)"
The following error output when I missed adding the '#' symbol to indicate generation numbering to my -Xtrace option string, was **not** very useful. I had to be pointed deep into the [documentation ](https://www.ibm.com/support/knowledgecenter/en/SSYKE2_8.0.0/com.ibm.java.lnx.80.doc/diag/tools/trace_options_output.html) to figure out what was wrong:

[code]

The first line of the error message sh

[2017-11-21 10:37] akrus commented on #479
Is there any ETA for -Xnocompressedrefs? Currently Metronome GC cannot work with heaps higher than 25G.

[2017-11-21 13:18] #126 closed

[2017-11-21 14:44] pshipton commented on #479
Not at the moment. As it stands, to support both compressed and noncompressed it requires a second copy of the VM, compiled with different options, to be included in the JVM build in the lib/default directory.

I haven't tried it, but it should be possible to (easily?) build the noncompressed version instead of the compressed version.

Looking at the files in the extensions projects, https://githu

[2017-11-21 14:58] smlambert commented on #479
In that case (of no ETA), the test should be excluded, to keep the extended runs green.

[2017-11-21 17:09] dmitripivkine opened #641 "System dump generation for Runtime Exceptions"
There are many tests throw Runtime Exceptions (SE90_GIT J9vmTest_2 is one of them). The problem is nothing stored in test results after such event so we need to reproduce the problem again got get files for investigation. However it might be a problematic for tests with low reproducibility rate.
My suggestion is to add "-Xdump:system:events=throw,filter=java/lang/RuntimeException" option to tests

[2017-11-21 17:16] ChengJin01 commented on #636
[OracleJDK_JSR292test.txt](https://github.com/eclipse/openj9/files/1492311/OracleJDK_JSR292test.txt)

[2017-11-21 17:22] ChengJin01 commented on #636
The all the tests related to access to the protected classes passed on OpenJDK including the failures on our build if removing the check of protected access.
...
PASSED: test_FindNestedClass_ProtectedAccess_DiffLookup_SamePackage
PASSED: test_FindNestedClass_ProtectedAccess_DiffPackage
PASSED: test_FindNestedClass_ProtectedAccess_PublicMode_DiffPackage
PASSED: test_AccessNestedClass_ProtectedAcces

[2017-11-21 18:27] DanHeidinga commented on #636
Looking at https://docs.oracle.com/javase/9/docs/api/java/lang/invoke/MethodHandles.Lookup.html it describes access checking occurring as though a bytecode was doing the method or field lookup.  The VM never checks for finer grained permissions on a class.

If `checkClassAccess` was updated to only handle public & package for classes to match the VM behaviour, would minimal changes to the other ac

[2017-11-21 19:29] JasonFengJ9 opened #642 "chars()/codePoints() within java.lang.String/StringBuffer/StringBuilder need optimized implmentation"
https://github.com/eclipse/openj9/pull/631 fixed https://github.com/eclipse/openj9/issues/548 with generic `java.lang.CharSequence` methods.
`chars()/codePoints()` within `java.lang.String/StringBuffer/StringBuilder` should be updated with optimized implementation specifically for the declaring classes. String compression might be considered as well.

FYI @DanHeidinga @pshipton

[2017-11-21 20:17] charliegracie opened #643 "Investigate making compressed references a runtime and not compile time decision"
Currently the OpenJ9 VM can not support both compressed references and not compressed references for 64 bit JVMs at the same time.  This means to create a JDK that supports both you need to have 2 JVMs which significantly increases the footprint of the JDK package, the complexity of creating the JDK and the time it takes to create the JDK.

I am creating this Issue to start the conversation about

[2017-11-21 20:22] charliegracie commented on #643
My initial thoughts are as follows:
1. We likely need to compile the interpreter multiple times and pick the right one based on whether or not compressed references is enabled.
2. The JIT already queries the GC for most of it's compressed references decisions so I am hoping it is not that hard to complete the extra work there.
3. The GC will likely have to deal with minor performance regressions f

[2017-11-21 20:37] andrewcraik commented on #643
Whatever mechanism we design for the JIT to query the compressed reference configuration - we need to make sure that it is very cheap to run - the JIT should not have to call over the VM every time to get the state otherwise we will see a compile-time penalty that could become prohibitive. Whether we do this by caching the VM result in the JIT to make it easier to inline or something I don't know,

[2017-11-21 20:46] charliegracie commented on #643
This would be something decided on startup that can not change at runtime after we have initialized the JVM.  I agree this would be something that could be cached in the JIT or any other component for speed purposes.

[2017-11-21 20:48] TianyuZuo commented on #244
The https://github.com/eclipse/openj9/pull/245 didn't work, the test src has to have `@Test` on the test functions to make the exclusion mechanism work. New PR updated the test src https://github.com/eclipse/openj9/pull/644

Hi @pdbain-ibm

Are we going to have nocompressedref OpenJ9? I thought we are only supplying compressedref OpenJ9s. If this is our currently goal, I think we can disable this

[2017-11-21 20:49] ymanton commented on #643
The assembly routines that use the compile-time flags will be the most problematic to deal with.

[2017-11-21 21:09] #548 closed

[2017-11-21 21:12] pshipton commented on #479
FYI #643

[2017-11-21 21:34] pdbain-ibm commented on #244
According to issue #479, "not yet".  There is a proposal (issue #643) to make it a runtime check.

[2017-11-21 21:35] mgaudet opened #645 "Remove reverse load and store opcodes"
Currently the compiler supports the following 'reverse' load and store opcodes

[code]

These opcodes are deprecated, and should be removed. They do still have some consumers in the Data Access Accelerator, and so the reversal will need to be expressed with a different more explicit tree.

[2017-11-22 02:12] DanHeidinga opened #646 "VarHandle isAccessModeSupported tests are broken"
After merging https://github.com/eclipse/openj9/pull/631, which includes:

[code]

There are new extended test failures:

https://ci.eclipse.org/openj9/job/PullRequest-Extended-linux_ppc-64_cmprssptrs_le/6/testReport/

org.openj9.test.varhandle.VarHandleUtilTests.testIsAccessModeSupportedShortByteArrayViewLE
org.openj9.test.varhandle.VarHandleUtilTests.testIsAccessModeSupportedFloatByteArrayViewLE

[2017-11-22 02:14] DanHeidinga commented on #646
FYI @JasonFengJ9

[2017-11-22 02:16] DanHeidinga commented on #646
Note the different conditions under the cases like `GET_AND_SET_RELEASE` between the two implementations.

[2017-11-22 02:24] JasonFengJ9 commented on #646
I see, will look at this. Thanks @DanHeidinga

[2017-11-22 02:30] DanHeidinga commented on #608
Edited the description to include some of the context from #603

[2017-11-22 13:51] #637 closed

[2017-11-22 14:16] JamesKingdon commented on #643
How much work would it take to get a prototype running so that we can assess the performance impact?

[2017-11-22 14:25] JamesKingdon commented on #53
Sorry for the slow progress. I'm working my way through the changes to the build and submitting PRs for each. I've also created a docker file that brings together the cross compiler tool chain and the required native libraries.

[2017-11-22 14:40] groeges opened #647 "OpenJ9 uses modified jvm.cfg files from extensions to build correctly"
When trying to build OpenJ9 it uses modified OpenJDK jvm.cfg files (which are delivered as part of the extensions repository: https://github.com/ibmruntimes/openj9-openjdk-jdk9). In order to reduce the amount to changes needed in the extensions repository we need to be able to use the jvm.cfg files that are provided as part of OpenJDK.

In the extensions there are several jvm.cfg files for separat

[2017-11-22 14:43] groeges commented on #647
Peter Shipton has said:
"these are related to the j9vm sub-directory of lib. If you rename the j9vm directory to server then the original file works. Although the JVM starts, there are OpenJ9 code changes required to accommodate this change properly."

and also

"I do note there are number of different jvm.cfg files for different platforms. Perhaps J9 could define a new set of conf/openj9-XXX plat

[2017-11-22 15:01] TianyuZuo commented on #244
Thanks for the information, test is now successfully excluded from https://github.com/eclipse/openj9/pull/644#event-1353252595

[2017-11-22 15:11] pdbain-ibm commented on #529
@DanHeidinga FYI.
Notes so far:
1) IBM Java 8 uses the Harmony JDWP and hence the Harmony port library shim.
This is about 47 KB on Linux x86.

2) The IBM Java 9 VM should support Java 8, so should load the Harmony shim when running in Java 8.

3) The Java version is checked in jvm.c:JNI_CreateJavaVM(), but does so ~100 lines after calling preloadLibraries() (which loads J9_HARMONY_PORT_LIBRARY_SH

[2017-11-22 16:26] andrew-m-leonard opened #650 "JDK10 mono-repo compilation errors due to multiple classes in single .java file"
The new make file changes in OpenJDK10 for the Oracle change to a single src "repo" have resulted in several of the following types of errors. This is due to a J9 class java file declaring multiple "classes". This is fine in a single compilation unit, however with the repo changes the "nashorn" build is a special separate compilation unit, and the compiler cannot find these hidden classes as a res

[2017-11-22 16:31] andrew-m-leonard opened #651 "J9 VM JCL classes missing some new JDK10 method implementations"
JDK10 has added some new methods to some of the J9 JCL classes that openj9 implements. The following are missing:
- java.lang.invoke.MemberName:
    public MethodType getMethodType()
    public String getMethodDescriptor()
- java.lang.invoke.MethodType:
    int parameterSlotCount()

[2017-11-22 16:33] #550 closed

[2017-11-22 19:16] andrew-m-leonard opened #655 "JDK10 build failure handling -classpath paths"
Building with JDK10 the following command fails due to the native canonicalization of the -cp path. If the command is repeated with the classpath terminated with a "/" it works (ie.".../tools_jigsaw_classes/"). From debugging it seems the Java_java_io_UnixFileSystem_canonicalize0 native method returns an invalid path, seemingly with the macro WITH_PLATFORM_STRING(env, pathname, path) failing. Mayb

[2017-11-22 19:40] DanHeidinga commented on #651
@JasonFengJ9 Can you take a look at this?

Assuming the javadoc says what I think it will, MethodType already has the info to return in parameterSlotCount().  See:
[code]

Hopefully compile stubs will satisfy other two methods.

[2017-11-22 20:00] JasonFengJ9 commented on #523
Reproduced the hang with a standalone testcase, and caught an exception as following:
[code]
This appears share same causes as https://github.com/eclipse/openj9/issues/546 and https://github.com/eclipse/openj9/issues/539.

[2017-11-22 20:01] JasonFengJ9 commented on #546
https://github.com/eclipse/openj9/issues/523 has similar `java.net.SocketException: No such file or directory (ioctl FIONREAD failed)`.

[2017-11-22 20:02] JasonFengJ9 commented on #539
https://github.com/eclipse/openj9/issues/523 has similar `java.net.SocketException: No such file or directory (ioctl FIONREAD failed)`.

[2017-11-22 20:08] JasonFengJ9 commented on #651
Agreed, will do.

[2017-11-22 20:26] JasonFengJ9 commented on #651
From `OpenJDK Java 10 b32`, one of new methods added into `java.lang.invoke.MemberName` was `java.lang.String getMethodDescriptor();`, not `public String getMethodDescriptor()`, i.e., it is `package` access instead of `public`.
@andrew-m-leonard  which build level were you referring?

[2017-11-22 21:14] JasonFengJ9 commented on #651
As per http://jdk.java.net/10/, latest `Java 10` build level is `jdk-10-ea+32`. Making a PR to match this build API instead.

[2017-11-22 21:19] #646 closed

[2017-11-22 21:31] AdamBrousseau opened #658 "Discussion on how a test build is determined to be pass/fail"
When a `make test` command runs to completion without 'problems', it has a zero `0` exit code. The tests produce various artifacts where the results are stored. The test results summary make target analyzes all the results of the tests that were just run and prints to console a summary of the pass/fail including this line: `TOTAL: XXX EXECUTED: XXX PASSED: XXX FAILED: XXX SKIPPED: XXX`

When a Jen

[2017-11-22 21:53] AdamBrousseau opened #659 "SDK archiving is very slow on zLinux machines"
Currently in all Pull Request builds, once the SDK is compiled, we "archive" the sdk so it can be downloaded by anyone from the Jenkins site. This was requested via #91. The problem is that the zLinux machines we are using, appear to have a very small pipe to the outside world and it can take 10 minutes to push a ~200M sdk back to the Jenkins master host machine. The pLinux machines generally comp

[2017-11-22 22:05] AdamBrousseau commented on #658
Looks like we can't currently use [text-finder-plugin](https://wiki.jenkins.io/display/JENKINS/Text-finder+Plugin) in our pipeline jobs
Open Issue: https://issues.jenkins-ci.org/browse/JENKINS-34983
Open PR: https://github.com/jenkinsci/text-finder-plugin/pull/6

[2017-11-22 22:33] AdamBrousseau opened #660 "Add JDK8 PR builds to repos OpenJ9, OpenJ9-OMR and OpenJ9-OpenJDK-JDK8 and nightly builds"
OpenJ9 with [openjdk-jdk8](https://github.com/ibmruntimes/openj9-openjdk-jdk8) is now available.

Builds we need to add to [Jenkins](https://ci.eclipse.org/openj9) for jdk8 (as per the jdk9 list we currently have)
#### Nightlies
- [x] Build zLinux [8](https://ci.eclipse.org/openj9/view/Build/job/Build-JDK8-linux_390-64_cmprssptrs/) [![Build Status](https://ci.eclipse.org/openj9/job/Build-JDK8-linu

[2017-11-22 22:49] AdamBrousseau opened #662 "Github->Jenkins PR Trigger Comments need to support jdk8"
related #660

We currently support the following PR builds via Github PR comments.
- OpenJ9-JDK9 zLinux (linux_390-64_cmprssptrs)
   - compile only
   - sanity
   - extended
- OpenJ9-JDK9 pLinux (linux_ppc-64_cmprssptrs_le)
   - compile only
   - sanity
   - extended

You can trigger these builds via PR commit comment
`Jenkins compile`
`Jenkins compile zLinux`
`Jenkins compile pLinux`
`Jenkins tes

[2017-11-22 23:42] smlambert commented on #658
Please report whether the TAP (test anything protocol) plugin does the job or not.

[2017-11-22 23:54] fengxue-IS commented on #539
I'll run the javax/xml jck tests locally and trace to the broken code, `ioctl FIONREAD` might come from native code

[2017-11-22 23:56] #196 closed

[2017-11-23 01:43] JasonFengJ9 commented on #539
It seems thrown from jcl native `java/net/PlainSocketImpl.c`
[code]

[2017-11-23 09:36] andrew-m-leonard commented on #651
I was using b30 at the time

[2017-11-23 16:08] Scott-Young-6746 opened #665 "Sanity checks failing on Vagrant VM"
When testing a fresh clone of OpenJ9 on a 64bit Vagrant VM the tests are not runnable due to an error in the `openj9/test/TestConfig/makefile`.

`BUILD_ROOT := $(SRC_ROOT)$(D)..$(D)jvmtest`
should be
`BUILD_ROOT := $(SRC_ROOT)$(D)..$(D)test`

Fixing this causes 83 out of 84 tests to fail during sanity check.

Common errors:
`Selected VM [default] by option -Xnocompressedrefs does not exist.`
[code

[2017-11-23 17:41] jdekonin commented on #665
The SPEC should be defined as linux_x86-64_cmprssptrs, as OpenJ9 built with the openj9-openjdk-jdk9(or 8) extensions isn't possible with non-compressedrefs atm.  I think this will resolve a lot of the failures I see in your sanity.log.

[2017-11-23 18:41] fjeremic opened #667 "Fold runtime/compiler/trj9 directory"
Now that `tr.source` has been renamed to `compiler` as part of https://github.com/eclipse/openj9/pull/589 I wanted to start a discussion on possibly folding the `trj9` directory as well. To me it currently serves no purpose as its parent `compiler` directory is completely empty.

@0xdaryl notes down some thoughts in https://github.com/eclipse/openj9/issues/550#issuecomment-344695397 which may poss

[2017-11-23 18:46] JasonFengJ9 commented on #523
`java.net.SocketException: No such file or directory (ioctl FIONREAD failed)` seems thrown from jcl native libnet.so.
[code]

@adamfarley could JCL team investigate how this exception was thrown?
FYI @andrew-m-leonard

[2017-11-23 18:49] JasonFengJ9 commented on #523
Additional notes: this exception seems cause this issue, #546, and #539.

[2017-11-23 19:03] Scott-Young-6746 commented on #665
I did another rebuild and exported the cmprssptrs spec and still have 71/72 tests failing.

Seems it cannot create the JVM for the tests for those that it can find the test jar/class for.

[cmprssptrs.log](https://github.com/eclipse/openj9/files/1500082/cmprssptrs.log)

[2017-11-23 19:09] AdamBrousseau commented on #658
I can confirm that adding the TAP publish, to a build that previously only had testng and junit publish, will catch failure that were missed by testng and junit and set the build unstable. Since all our tests output, at minimum, TAP results (@smlambert please confirm) , I think using TAP as the default, with the addition of testng and junit (for prettiness) should suffice. I think the discussion c

[2017-11-23 19:22] jdekonin commented on #665
This time you did a jdk8 compile but used test options for 90. Failure "VMJ9VM007E Command-line option unrecognised: --add-exports=java.base/com.ibm.tools.attach.target=ALL-UNNAMED", java8 wouldn't recognize that cmdln option.  You need to set JAVA_VERSION to SE80 for compiling the test material.

[2017-11-23 20:13] fjeremic commented on #659
Personally I didn't even know this was an option.

This sounds like a great improvement since the tests usually take more than 10 minutes anyway.

This is also a good solution.

[2017-11-23 20:16] fjeremic commented on #645
I think the alternative here is the `*bitswap` IL opcodes IIRC.

[2017-11-23 20:24] Scott-Young-6746 commented on #665
Accidentally downloaded jdk8 source on a clean rebuild. Retried with jdk9.

Also found and the read-me for the openj9 tests and made sure to grab the dependencies.

However, I'm still seeing 71/72 tests failing.
[jdk9_cmprssptrs_sanity.log](https://github.com/eclipse/openj9/files/1500160/jdk9_cmprssptrs_sanity.log)
I noticed some classes are missing according to the errors in the log, but I ran `m

[2017-11-23 20:33] joransiu commented on #659
Has anyone tried contacting the community system admins to see if this can be improved?

[2017-11-23 21:24] smlambert commented on #665
You do seem to have some strange errors for your tests, not finding the jar files that should have been compiled if you did actually compile the tests.

Example:
/home/ubuntu/openj9-openjdk-jdk9/openj9/test/TestConfig/../../test/cmdLineTests/shareClassTests/ListAllCachesTests/ShareClassesCMLTests.jar': No such file or directory  <- confirming, if you look there there are no jar files?

1) you set

[2017-11-23 21:40] mstoodle commented on #667
Thanks for continuing to push along this line, @fjeremic. I think you're evolving the structure of the code towards a better place. I was never happy with t`r.source`, for example :) .

After this change, the openj9 `compiler` directory will have precisely the same structure as the omr `compiler` directory, right?

I *think* that will be ok so long as every header file is consistently smurfed by i

[2017-11-23 21:56] fjeremic commented on #667
That's correct. This is the intent to ease consumability of the project by flattening and mimicking OMRs structure.

IIRC we do something like this already where pretty much all OpenJ9 includes have `trj9/` in them. What you mean by the above is that now we will have to have `runtime/compiler/` instead, if `trj9` gets folded away?

[2017-11-23 22:51] ChengJin01 commented on #636
I managed to change the existing code at https://github.com/ChengJin01/openj9/commit/dc52ac9ecdf0ef7f143b5385ebc35a886a036ea2 as we discussed previously to only check the protected access for members (method/field/member class).

Need to verify with the existing JSR 292 tests and JCK tests to ensure everything still works good with the changes before pulling request.

[2017-11-23 23:02] jdekonin commented on #36
@DanHeidinga I see that you have a couple branches of stale changes for OSX.  Would you like me to attempt to merge them and rebase?

[2017-11-23 23:37] smlambert commented on #658
I confirm that we have TAP output for all of our tests, because **we** generate it for each individual test target (no matter what underlying framework was used).  https://github.com/eclipse/openj9/blob/master/test/TestConfig/makefile#L281

In terms of reliance on plugins, the builds are already relying on plugins for supporting pipeline builds (despite some of those plugins being part of a modern

[2017-11-23 23:42] smlambert commented on #658
But I agree, it might make sense for our final make target "resultsSummary" to write the summary, then assess whether there were failures reported and force a non-zero exit.

[2017-11-24 03:01] DanHeidinga commented on #36
Feel free.  I haven't had a chance to get back to them so if you're able to, I'd appreciate the help.

[2017-11-24 03:39] DanHeidinga commented on #523
Updated comments / description to remove references to compliance test suites.

[2017-11-24 03:41] DanHeidinga commented on #539
Updated comments / descriptions to remove references to compliance tests.

[2017-11-24 03:45] DanHeidinga commented on #546
Updated to remove references to compliance tests.

[2017-11-24 09:41] groeges commented on #528
Having compiled the JDK using XLC 13.1.3 rather than 13.1.0 the FP tests seem to now work:

Started 24-11-17 08-29-15 test.jck8b.runtime.vm.fp Passed
Started 24-11-17 08-30-44 test.jck8b.runtime.xopts.vm.fp Passed
Started 24-11-17 09-30-28 test.jck8b.runtime.lang.FP Passed

I have also used the JDK that was build on AdoptOpenJDK and that also seems to work OK for these tests.

Closing this issue.

[2017-11-24 09:41] #528 closed

[2017-11-24 12:14] ktbriggs opened #676 "Incremental JVM builds do not process changes affecting libj9gc29.so"
This relates to support for developers who are modifying source and testing locally. As far as I can tell, the recipe for a full (clean) build is something like:

[code]

An incremental build, after changing source in, say, omr/gc/base, would be as above without the `make clean` step. This should compile source changed since last build and link all .so dependent on changed source. However, only li

[2017-11-24 15:39] jonathanwoodford commented on #627
I have created a slack channel for the Eclipse OpenJ9 project:  https://openj9.slack.com/

I would like to add a reference to this slack channel from the Eclipse OpenJ9 landing page.

The aim of the slack channel is to encourage discussion, questions and collaboration within the whole OpenJ9 community.  Does anyone have any objections, thoughts, etc. in doing so?

[2017-11-24 17:20] Scott-Young-6746 commented on #665
I seem to have everything working now, however, on initial clone it's still required that the programmer change the makefile in /openj9-openjdk-jdk9/openj9/test/TestConfig/ to set the build root as test instead of jvmtest. I'll try to get a PR made for it before end of day to fix this issue.

[2017-11-24 17:51] vsebe opened #679 "cmdLineTester_SCCommandLineOptionTests_win_1 failure"
Tests nameOption14  to  nameOption19 fails on OpenJ9 OpenJDK9 with Can't locate sharedClassesUtil.pl

[code]

[2017-11-24 17:53] vsebe commented on #679
attn @llxia

[2017-11-24 18:03] vsebe opened #680 "j9vm.test.invalidclasspath.SetClasspathTest segmentation error for OpenJ9 JDK9 windows platform"
[code]

[2017-11-24 18:10] DanHeidinga commented on #680
@hangshao0 can you take a look at this?

[2017-11-24 18:29] vsebe opened #681 "cmdLineTester_libpathTestRtfChild_0 segmentation fault on OpenJ9 JDK9 windows platform"
[code]

[2017-11-24 18:49] mstoodle commented on #667
i think so, unless the header file names are/get smurfed by project/directory (e.g. `OMRTheIncludeFile.hpp` and `J9TheHeaderFile.hpp`) so that the IPATH doesn't sabotage finding the right header file when you *really* want to `#include "codegen/OMRTheIncludeFile.hpp"` .

In most cases where this matters, I would guess we've already smurfed the file names. Outside of extensible classes, I don't thi

[2017-11-24 21:16] AdamBrousseau commented on #659
We have not. I didn't necessarily want to "complain" about something that is free. I do have a contact name I can reach out to but I wouldn't mind hearing from @mstoodle first since he was the one who got the machines.

[2017-11-24 21:17] #651 closed

[2017-11-24 21:28] Scott-Young-6746 commented on #665
After fixing a problem with the remaining space on the VMDK, I still have 2 failing tests. They both fail with the same error of failing to find a module.
`Exception in thread "main" java/lang/module/FindException: Module mods.modulec not found`
The complete log file is attached here.
Failing tests are:
* `openj9_jsr292Test_JitCount0_SE90_0`
* `openj9_jsr292Test_SE90_0`

[2017-11-24 22:02] mstoodle commented on #659
We don't have to "complain" :) . We can just reach out to ask if that performance is unusual or "by design. Then we can decide if we want to change how we handle PR build archiving.

Sound reasonable?

[2017-11-24 22:34] hangshao0 commented on #680
No result file here. I will try to reproduce. But I haven't seen such failure in our builds.
I guess this is from @vsebe's personal build which includes some un-merged changes, as we are not able to see verbose output (due to missing ExternalMessages.properties) in our builds yet.

[2017-11-25 02:37] #543 closed

[2017-11-25 12:12] JamesKingdon opened #684 "Incorrect docker build line in Build_instructions"
In https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V9.md the line

will not work as given. The name of the Dockerfile is implicit unless specified with -f, so either

or more simply

[2017-11-25 12:20] JamesKingdon opened #685 "ARM Crash when running on 64 bit OS due to unaligned IProfiler data"
When running on a 64 bit OS the JVM will crash with a gpf on a non-aligned address:

[code]
The crash can be avoided by using -Xjit:disableInterpreterProfiling

[2017-11-26 18:14] JamesKingdon commented on #519
SPEC arrives as
`/root/openj9-openjdk-jdk9/build/linux-arm-normal-server-release/spec.gmk`

PR https://github.com/eclipse/openj9/pull/686 includes a temporary work around for the problem, but we still need to fix the underlying problem.

[2017-11-27 13:05] 0xdaryl commented on #619
Be aware that the ARM system linkage was reworked in eclipse/omr#1132 mainly to make it less Java-specific and more generally useful.  This may have a bearing on this issue.

[2017-11-27 15:11] vsebe commented on #680
@hangshao0 this is OpenJ9 + OpenJDK9 (not OpenJDK8) built on windows. ExternalMessages.properties is missing in runtimes/openj9-openjdk-jdk8.

[2017-11-27 15:15] hangshao0 commented on #680
Ah, I see

[2017-11-27 18:18] Leonardo2718 commented on #619
As I recall, before https://github.com/eclipse/omr/pull/1132, the ARM system linkage implementation was incomplete and unused in J9 (not yet open source at the time). That pull request only added some bare-bone implementation for the missing pieces.

So, just to clarify, I don't think the ARM system linkage *directly* affects this issue.

There was discussion of refactoring JNI linkage to make use

[2017-11-27 19:05] llxia commented on #679
@vsebe, could you provide more test output? This test should print detail command that was executed.

[2017-11-27 20:20] vsebe opened #691 "cmdLineTester_test_0: Test 12 (curlies outside of dollar signs) failure on windows platform"
[code]

[2017-11-27 20:21] vsebe commented on #691
attn @smlambert

[2017-11-27 20:47] hangshao0 commented on #680
There is no debug symbols (.pdb) in the openj9 jdk, so I cannot see the C stack.

The java stack is:
[code]

[2017-11-27 20:53] hangshao0 commented on #680
Looking at the snaptrace:
[code]

The stack has been grown right before the crash.

[2017-11-27 21:17] hangshao0 commented on #680
The default maximum stack size is 1024KB. If I run with -Xss2048K, the crash goes away.

[2017-11-27 22:02] pshipton commented on #627
@smlambert mentioned https://github.com/rauchg/slackin is setup for AdoptOpenJDK at https://slackin-jmnmplfpdu.now.sh/, which allows anyone to automatically request access to the Slack channel.

[2017-11-27 22:26] vsebe commented on #679
[code]

[2017-11-27 22:26] hangshao0 commented on #680
If I run with -Xss1025k, the crash disappeared and the error is successfully thrown:
[code]

[2017-11-27 22:28] pshipton commented on #586
#633 was merged a week ago, @r30shah can you please retry.

[2017-11-28 08:28] knn-k commented on #619
IllegalArgumentException with Unsafe.copyMemory0() is a problem in handling 64-bit arguments passed to JNI methods, as I examined the generated code.
The JIT places the half of a 64-bit argument in register r3, and the other half in the C stack.  That is not correct in ARM ABI.  The whole 64 bits must be placed in the C stack by skipping r3 in this case.

[2017-11-28 15:17] DanHeidinga commented on #627
@SueChaplain FYI - this is the issue tracking the adoption of Slack and (now) the configuration of the slackin tool.

[2017-11-28 16:10] #600 closed

[2017-11-28 16:53] mstoodle commented on #39
@markehammons is there anything left to do in this issue, in your opinion, or do you think we can close it off?

[2017-11-28 16:58] yanluo7 commented on #608
JCL PR for remaining String API/helper:https://github.com/eclipse/openj9/pull/700

[2017-11-28 17:49] fjeremic opened #701 "Persistent (on-disk) IL representation in the compiler"
## Background

Although this is likely to be a mammoth effort or it may not even be feasible I think it is worth discussing with a broad audience. One of the more time consuming aspects of development on the compiler component is the non-deterministic nature of compilations from one application run to the next.

This non-determinism effectively boils down to the JIT compiler behaving slightly diff

[2017-11-28 17:54] fjeremic commented on #701
I'm not sure if we have investigated before or what the licensing legal issues are on Boost. It does have a very nice header only library for serialization:

http://www.boost.org/doc/libs/1_65_1/libs/serialization/doc/

[2017-11-28 18:33] mstoodle commented on #701
This is fairly closely tied to discussions we've had in the past in the context of creating the TRIL language for Eclipse OMR.

@0xdaryl and I have tried a bit here, with some help from people working for @smlambert. Initially, we tried a brute force approach to manually write serialize/deserialize routines starting at the top level data structures and working our way down. i.e. you call methodSym

[2017-11-28 18:43] LinHu2016 opened #702 "SPECjbb2015 benchmark can not finish RT curve building phase in gcpolicy:balanced mode"
SPECjbb2015 benchmark is running under SPECjbb2015-Composite: Single JVM /Single Host mode.
Java Options : -Xmx8G -Xms8G -Xmn4G -Xgcpolicy:balanced -Xgc:noNuma -verbose:gc

SPECjbb2015 benchmark is stuck at the end of  RT curve building phase, look like it can not shutdown Backend.

composite.log Output:

...
Nov 09 13:30:47 EST 2017> org.spec.jbb.controller: Ramping down and finishing
<Thu Nov 09

[2017-11-28 18:48] JamesKingdon commented on #701
When I heard about JAAS I was struck by the overlap with previous attempts at replay compilation. Perhaps logging JAAS queries and responses is something we could leverage here?
Although I have the feeling that if we had a persistent IL we would find ample opportunities to exploit it.

[2017-11-28 19:29] pdbain-ibm commented on #547
Swapped libjdwp.so from an IBM java 8 into the OpenJ9 Java 8.  No errors, still hangs.

[2017-11-28 20:03] hangshao0 commented on #680
It is hard to debug for the time being as there is no debug symbols in the OpenJ9 JDK. But -Xss should be added to the test CML, no matter whether the segmentation fault is fixed or not.

[2017-11-28 21:04] r30shah commented on #586
@pshipton  : I tried driver from 28th November and it seems like issue has been resolved. I got all the test running. There were 3 failures which is one more than what I got with OpenJDK9 with hot spot. Going to check if it is new issue in both Java or something with OpenJ9. Will open up separate issue for that. For now this one seems to be resolved now.

**Java version**
[code]
**Test Output**
[c

[2017-11-28 21:10] pshipton commented on #586
Awesome. You should be able to close this Issue if the problems are resolved.

[2017-11-28 21:21] #586 closed

[2017-11-28 21:54] pshipton commented on #502
Fixed by #514.

@smlambert Likely test_setSecurityManager2() no longer needs to be removed from src_90 as it would work now. We can keep this Issue open until this is fixed.

[2017-11-28 22:24] pshipton commented on #313
These tests are passing now.

[2017-11-28 22:24] #313 closed

[2017-11-28 22:29] pshipton commented on #596
Test is passing now.

[2017-11-28 22:29] #596 closed

[2017-11-28 22:33] pshipton commented on #594
Test is passing now.

[2017-11-28 22:33] #594 closed

[2017-11-28 22:35] pshipton commented on #468
Test is passing now.

[2017-11-28 22:35] #468 closed

[2017-11-28 22:36] pshipton commented on #467
Test is passing now.

[2017-11-28 22:36] #467 closed

[2017-11-28 22:45] Scott-Young-6746 commented on #665
After re-cloning and running the full list of instructions from the README.md in the test folder again it seems that the error I assumed was related to an incorrect folder name was in fact related to the problem of not calling `make compile` before calling make sanity.

I'll close this issue.

I might create a new issue and PR to make the subsets of make test (which does depend on make compile) to

[2017-11-28 22:45] #665 closed

[2017-11-28 22:59] pshipton commented on #472
Test 9 and 13 are passing now. Test 44 and 45 are still failing, which doesn't appear related to the zip hook.

[2017-11-28 23:01] smlambert commented on #681
Need to reinclude the test excluded in #697 when this issue is fixed.

[2017-11-28 23:05] pshipton commented on #593
Test is passing now.

[2017-11-28 23:05] #593 closed

[2017-11-28 23:06] pshipton commented on #595
Test is passing now.

[2017-11-28 23:06] #595 closed

[2017-11-28 23:07] pshipton commented on #591
Test is passing now.

[2017-11-28 23:07] #591 closed

[2017-11-28 23:07] pshipton commented on #590
Test is passing now.

[2017-11-28 23:07] #590 closed

[2017-11-28 23:10] pshipton commented on #597
Duplicate of #469

[2017-11-28 23:10] #597 closed

[2017-11-28 23:19] pshipton commented on #317
The tests are running and the only failures are due to #469 and #472. I think we can close this Issue. @smlambert ?

[2017-11-28 23:23] pshipton commented on #469
The fix #568 for #470 is merged, but these tests are still failing on Java 8.

[2017-11-28 23:32] smlambert commented on #317
Agree, closing this issue.

[2017-11-28 23:32] #317 closed

[2017-11-29 01:37] 0xdaryl commented on #701
This has been a long-time thorn in our side for diagnosing JIT problems.  We've taken several runs at it over the years.  Nothing ever reached production status.  One of the earliest solutions was something @jameskingdon referred to as "replay compilation".  The idea there was to use a core dump from the problematic JVM process to recreate the failing environment in a live secondary JVM where comp

[2017-11-29 02:43] fjeremic commented on #701
In the context of Java the bytecode input is deterministic from run to run. Only outside factors are non-deterministic, such as interpreter profiling information, block frequencies, value profiling, etc. I suppose what I'm looking for is deterministic recompilations of an arbitrary method across different invocations of the JVM process.

This is likely more along the lines of what I was envisionin

[2017-11-29 03:26] smlambert commented on #701
With respect to the IL serialization efforts mentioned by @mstoodle and @0xdaryl, I recall there was the extra challenge of creating that prototype while the JIT code was being actively refactored, making it nearly impossible to keep up with the changes (based on how the first cut of it was implemented).  I think the story would be different now that the JIT code is mostly refactored and more clea

[2017-11-29 03:55] pshipton commented on #523
Looks like the problem is in JVM_SocketAvailable() which returns 0 for success and 1 for failure, however the caller Java_java_net_PlainSocketImpl_socketAvailable() in PlainSocketImpl.c expects the other way around.

[2017-11-29 03:59] pshipton commented on #523
The reason its not a problem for Java 9 is because JVM_SocketAvailable() isn't used.

[2017-11-29 04:05] pshipton opened #705 "JVM_ socket functions should handle EINTR"
All the JVM_ functions related to socket operations should deal with EINTR, similarly to the file operations.

[2017-11-29 04:13] pshipton commented on #705
Although it seems many (most?) of the JVM_ socket functions aren't actually used, so only the funtions being used need to be fixed.

[2017-11-29 07:56] knn-k opened #706 "ARM: Crash during JIT compilation in OMR::Register::incTotalUseCount()"
On an ARM build of OpenJDK/OpenJ9 with directToJNI disabled, the JVM sometimes crashes during JIT compilation at the following location.  I used SPECjvm98 _228_jack to recreate this problem, but I see the same problem in some other benchmark programs trying to compile different Java methods.

[2017-11-29 11:59] JamesKingdon commented on #706
Failing to generate an iand, I wonder how on earth that could go wrong! Many thanks for reporting the problem.

[2017-11-29 12:35] smithwil opened #707 "return value comment for getProcessCpuTimeImpl is out of date"
In openj9/jcl/src/com.ibm.management/share/classes/com/ibm/lang/management/internal/ExtendedOperatingSystemMXBeanImpl.java

the return value comment for getProcessCpuTimeImpl() says that it uses units of 100ns, but that is no longer the case.

At about line 308:
`	 @return process cpu ime in 100 ns units`

In my understanding, getProcessCpuTimeImpl() now returns a value in 1ns units by default, an

[2017-11-29 12:51] AdamBrousseau commented on #660
Confirmed with Violeta the only machine change is to get a boot jdk7.

[2017-11-29 13:00] JasonFengJ9 commented on #523
Good catch! Thanks @pshipton

[2017-11-29 13:20] pdbain-ibm opened #708 "ConcurrentModificationException at org.openj9.test.vmArguments.VmArgumentTests.runAndGetArgumentList"
Assigning to @pdbain-ibm.

Race condition with termination of child process.

FAILED: testOptionsFileWithLeadingAndTrailingBlanks
java.util.ConcurrentModificationException
	at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:918)
	at java.util.ArrayList$Itr.next(ArrayList.java:868)
	at org.openj9.test.vmArguments.VmArgumentTests.runAndGetArgumentList(VmArgumentTests.java:1393)
	at org

[2017-11-29 14:28] mpirvu commented on #701
I don't think such a list exists currently. From my own experience, other factors that can affect compilation (besides IProfiler and inlining) are:
- sampling mechanism
- state of the class hierarchy table
- environmental factors that we exploit with our heuristics (CPU, memory)
- history of other methods (are these methods compiled or interpreted? If interpreted what is their invocation count?)

[2017-11-29 14:56] JamesKingdon commented on #53
Time for another status update. The good news is that we're getting closer. I've submitted the following pull requests that together permit cross compilation from an x86 hosted Docker container:

https://github.com/eclipse/openj9/pull/622
https://github.com/eclipse/openj9/pull/686
https://github.com/eclipse/omr/pull/2057
https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/87
https://github.com

[2017-11-29 15:53] hangshao0 commented on #469
Same issue, but different sub-tests. I will fix the failing sub-tests here.

[2017-11-29 16:05] AdamBrousseau commented on #660
Downloading boot_jdk7/8 (z/p) 7.1.4.15 and 8.0.5.5 from
https://developer.ibm.com/javasdk/downloads/
The current boot jdk8 on P is openjdk8 default on the machine. Switching it to IBM 7.1.4.15.
Current boot jdk8 on Z is 8.0.4.11, switching to 8.0.5.5

[2017-11-29 16:26] hangshao0 commented on #472
I tried running with -Xtrace:print={j9shr.1591}, I am seeing:

16:18:41.333*0x2491700           j9shr.1591     > CC allocateClassDebugData: Class java/lang/Object lineNumberTableSize=130 **localVariableTableSize=0**
16:18:41.333 0x2491700           j9shr.1591     > CC allocateClassDebugData: Class java/lang/J9VMInternals lineNumberTableSize=390 **localVariableTableSize=0**
...

The LVT size is 0 f

[2017-11-29 16:59] 0xdaryl opened #711 "Proposal to remove JIT VMThread reclamation logic"
I am proposing to remove all the logic in OMR and OpenJ9 compiler code supporting VMThread reclamation.  Recall, this is logic to re-use the register normally reserved for the J9VMThread in areas of high register pressure.  If the JIT can prove that the VMThread context is not needed in a context where registers are required to avoid spilling then it may spill the VMThread register to free it for

[2017-11-29 17:21] DanHeidinga commented on #711
@0xdaryl Does this optimization only apply in rare cases?

On z systems we implemented an optimization that allows the JIT gain an extra register by reusing the system stack pointer which was a measurable win.  Intuitively, I would have expected gaining an extra register on such a register constrained platform to be more noticeable.

[2017-11-29 17:42] 0xdaryl commented on #711
It should apply whenever the register assigner is faced with a spilling decision (i.e., there are no free registers) and has the option if using the register reserved for the VMThread is not needed in a VMThread context.  There is management code (via spills/fills) to make this happen, so the performance you get won't be as good as having a free register you can use unconstrained.  The JIT also ne

[2017-11-29 17:56] DanHeidinga commented on #711
The freeSSP optimization relies on registering a memory location with the OS that is either NULL or contains the SSP so interrupts can find the stack when the register has been repurposed.  Any transition in/out of the interpreter swizzles the SP into the saved slot allowing the JIT to always reuse the register.

[2017-11-29 18:01] AdamBrousseau commented on #660
boot jdk 7/8 installed on all 8 machines at $HOME/openj9

[2017-11-29 18:29] AdamBrousseau commented on #659
Email sent to Cindy asking about the network perf

[2017-11-29 18:32] ymanton commented on #711
I think you've pretty much said it all; the idea may have merit but this implementation isn't worth keeping or building on IMO.

[2017-11-29 19:03] dettmoney commented on #523
I'm seeing something similar running open JDK with liberty (IBM/oracle JDK 8's do not have this problem):

Stack Dump = java.net.SocketException: ioctl FIONREAD failed
	at java.net.AbstractPlainSocketImpl.available(AbstractPlainSocketImpl.java:490)
	at java.net.SocketInputStream.available(SocketInputStream.java:259)
	at java.io.BufferedInputStream.available(BufferedInputStream.java:410)
	at sun.ne

[2017-11-29 19:05] vijaysun-omr commented on #523
@dettmoney was using an OpenJDK-OpenJ9 build (just to be completely clear) when he hit the above error.

[2017-11-29 19:31] fjeremic commented on #711
Agreed with OP and @ymanton.

[2017-11-29 19:47] AdamBrousseau commented on #660
Apparently we need openjdk7 for the boot jdk not IBM java, installed openjdk7 on all 8 machines.

[2017-11-29 21:30] #452 closed

[2017-11-29 21:45] dsouzai opened #712 "OpenJ9 Java 8 ARM Build Attempt"
I spent some time trying to hack a Java 8 ARM build; given that @JamesKingdon got a Java 9 build going (https://github.com/eclipse/openj9/issues/53#issuecomment-347885073) I figured it was worth seeing if I could port his efforts to Java 8. If the title of this PR hasn't already given it away, I did not succeed. However, I'm opening this issue to document what I did so that anyone else who wants t

[2017-11-29 21:50] pshipton commented on #680
Adding -Xss just hides the problem. We need to determine the underlying cause, why so much OS stack is required. As I understand it, setting the larger java stack -Xss2048K avoids the OS stack overflow, which doesn't make sense.

To compile the VM with debug, it should work to set the environment variables before building.
[code]

[2017-11-29 23:54] 0xdaryl commented on #711
Thanks for the input everyone.  I won't do anything until I hear @andrewcraik's opinion when he returns next week.

[2017-11-30 04:11] #523 closed

[2017-11-30 04:46] pshipton opened #717 "Add RuntimeMXBean.getPID()"
added in JDK 10 + 33

[2017-11-30 05:21] knn-k commented on #706
I am trying to get a trace file for this, but it has not been successful yet because it is kind of timing-dependent.

[2017-11-30 08:54] chandrams commented on #153
Tested with a liberty application running in a docker container on a remote host and was able to trigger dumps using jconsole to a shared volume.

[2017-11-30 09:52] chandrams commented on #153
Below are few observations and queries:

1) Dump.setDumpOptions() did not work when I passed the below option:
"java:events=throw,filter=java/lang/NullPointerException#DumpTest.main*,range=1..1"

After investigation, I found -Xdump:dynamic has to be specified if throw/catch events are configured through Dump.setDumpOptions() when JIT is ON, whereas this option is not required when we set the above

[2017-11-30 14:22] DanHeidinga commented on #717
@mikezhang1234567890 Can you take a look at this?

[2017-11-30 14:57] DanHeidinga commented on #254
Closing this as the general sentiment is to continue with merge commits.

Please reopen if I've incorrectly characterized the discussion & conclusions.

[2017-11-30 14:57] #254 closed

[2017-11-30 15:12] jabrena commented on #53
Hi @JamesKingdon,

I will try this weekend.

Juan Antonio

[2017-11-30 15:31] JasonFengJ9 commented on #523
@dettmoney a fix has been released, pls try with latest nightly build.

[2017-11-30 15:32] JasonFengJ9 commented on #546
@adamfarley a fix has been released for #523, pls re-run the failed tests reported in this issue with latest nightly build.

[2017-11-30 15:33] pshipton commented on #539
@JasonFengJ9 can this be closed now?

[2017-11-30 15:33] JasonFengJ9 commented on #539
@adamfarley a fix has been released for #523, pls re-run the failed tests reported in this issue with latest nightly build.

[2017-11-30 15:36] pshipton commented on #547
#714 has been merged, please check if this problem still occurs.

[2017-11-30 15:46] mikezhang1234567890 commented on #717
Sure.

[2017-11-30 15:57] LinHu2016 opened #721 "GMP is running back to back in balanced gc"
During RT curve building phase of SPECjbb2015 benchmark test, we can find 2-3 cases, which Global Mark Phase(GMP) cycle were running back to back in gcpolicy:balanced mode. in general, after GMP cycle  the first PGC should run sweep before the PGC:copyforward or PGC:markcompact, the sweep should generate a lot of free space, which allow scheduler to run a quite few of PGCs before the next GMP cycl

[2017-11-30 16:20] LinHu2016 commented on #721
In general, at the end of GC, the scheduler try to estimate the remaining free region number after the next PGC, if the remaining free region number is too low, it would schedule GMP for the next GC, the first PGC after GMP cycle is usually required the sweep, after the sweep, the couple of ratios such as PGCCompactionRate, which helps the scheduler to estimate the remaining free regions, need to

[2017-11-30 16:27] pdbain-ibm commented on #547
Looks good.  It still hangs (likely a separate issue), but runs ~20 tests fairly readily.

[2017-11-30 16:31] pdbain-ibm commented on #547
Tested with:
java version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-openj9_2017_11_30_09_08-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20171130_371963 (JIT enabled, AOT enabled)
OpenJ9   - fb423d1
OMR      - 380ed91)

[2017-11-30 16:51] vsebe commented on #55
Closing this issue

[2017-11-30 16:55] pshipton commented on #55
Building Windows is working now.

[2017-11-30 16:55] #55 closed

[2017-11-30 17:53] pshipton opened #724 "Testing for traceformat"
I don't find any testing for the traceformat utility

[2017-11-30 18:02] pshipton commented on #724
For Java 9 builds the traceformat executable is already available.
For Java 8 builds, this will depend on ibmruntimes/openj9-openjdk-jdk8#8

[2017-11-30 20:53] #272 closed

[2017-11-30 21:27] AdamBrousseau commented on #660
JDK8/9 z/p build/test added. Puling Jenkins files from my fork for now. (see links in description).
Please note @DanHeidinga that there are still JDK8 failures in the sanity bucket that will need to be addressed before we can add these to default PRs.

[2017-11-30 21:30] DanHeidinga commented on #660
Is there a list of the existing failures or a set of issues open for them?  If you can identify them we can get them fixed asap.

[2017-11-30 21:38] mpirvu commented on #270
I evaluated the prototype written by Harry.
On WSL the long startup time disappears.
On native linux (x86-64 CentOS 7.2) startup of Liberty slightly improves by 0.5%, but this could be just fluctuations because the 95% confidence interval was also 0.5%.

[code]

[2017-11-30 22:09] pshipton opened #727 "Windows compiles BytecodeInterpreter with no optimization"
Historically on Windows, trying to compile the BytecodeInterpreter with MSVC at max opt (/Ox) hangs. To work around this BytecodeInterpreter.cpp contains the following, causing this file to be compiled with global optimization disabled. This will have an undesirable affect on performance.

[code]

[2017-11-30 22:32] pshipton commented on #660
In general https://github.com/eclipse/openj9/issues?q=is%3Aissue+is%3Aopen+label%3Ajdk8
more specifically for the sanity tests #469, #472

[2017-11-30 22:33] AdamBrousseau opened #728 "2 - JDK8 Sanity Failures Blocking adding JDK8 PR Builds"
We are adding JDK8 builds via #660. There are currently 2 failures in 2 test suites failing both on p/z Linux. These need to be resolved before we can add PR builds for JDK8.

Builds can be found here:
https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-JDK8-linux_ppc-64_cmprssptrs_le/
https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-JDK8-linux_390-64_cmprssptrs/

#### cmdLineTester_SCH

[2017-11-30 22:35] AdamBrousseau commented on #728
Dup of #469 #472

[2017-11-30 22:35] #728 closed

[2017-11-30 23:02] pshipton commented on #472
This is because the OpenJ9 build for Java 8 builds all the bootstrap classes without LocalVariableTables. One solution is to change the test to include one or more classes, likely from the -cp, that contain LocalVariableTables.

[2017-12-01 04:00] xliang6 opened #729 "Add OMRChecker linter in the continuous integration build process"
`OMRChecker` is a clang-based linter tool. Its pupose is to catch any extensible class hierarchy implementation/usage errors. It is currently enabled and run for any PR created in the eclipse/omr project, such as this one:
https://travis-ci.org/eclipse/omr/jobs/308654788

Since eclipse/openj9 also uses extensible class hierarchy and derives a number of classes from eclipse/omr, `OMRChecker` should

[2017-12-01 04:49] DanHeidinga commented on #729
@xliang6 How long does the checker take to run on the OpenJ9 code base?  Which platforms can the checker run on?

FYI @AdamBrousseau This may need your help to enable on Jenkins.

[2017-12-01 04:56] pshipton opened #730 "Java 8 extended functional test failure TestManagementAgent_SE80_0"
[code]

[code]

[2017-12-01 04:57] pshipton opened #731 "Java 8 extended functional test failure VmArgumentTests_0"
[code]

[2017-12-01 05:00] nbhuiyan commented on #729
I was able to run the linter for OpenJ9 for Linux on x86_64 manually using the steps below, thanks to the help I received from @mgaudet and the build instructions [here](https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V8.md).

Not sure how long it would take on Jenkins or Travis CI, but the checker took ~5 minutes to run on the OpenJ9 code base on the linux machine I used

[2017-12-01 05:00] pshipton opened #732 "Java 8 extended functional test failure testvmcheck"
[code]

[2017-12-01 12:07] jonathanwoodford commented on #627
Wayne (Eclipse Foundation) highlighted that there is an Eclipse tool used by a lot of the Eclipse projects called Mattermost:   https://mattermost.eclipse.org

It is very simple to use and channels (by default) are available for anyone to join (without invite).

Is it too late to change direction / tool?

[2017-12-01 12:13] JamesKingdon commented on #53
I've made another set of changes to the ARM build in response to the PR reviews and updated the instructions to match. I think the only external difference is for building the x86 build JDK locally (the very last and entirely optional section of the instructions), so hopefully it doesn't impact anyone. But if you had started building yesterday and come back to the online instructions today you mig

[2017-12-01 12:19] jonathanwoodford commented on #627
The user experience for new users when using mattermost looks pretty good too.

You can specify the URL of the channel (in our case via a button on the OpenJ9 landing page), then when you login, it'll take you directly to the channel (after logging in / creating an ID).  If you have not previously joined the channel, you will join automatically.

You can send invites to the channel, etc.

P.S.
All

[2017-12-01 13:07] adamfarley commented on #546
I have the latest jdk8 build for openj9, from AdoptOpenJDK (30/11/2017), and I have a javax_xml run running on ppcle. I've set it up so it can run to completion over the weekend, assuming it doesn't finish before EOD.

Will post an update here when I have results.

[2017-12-01 13:25] jonathanwoodford commented on #627
I have not created an OpenJ9 channel on https://mattermost.eclipse.org
This could cause confusion if we chose not to use this tool.

Any votes for moving this this tool.  What do you think?

[2017-12-01 13:48] adamfarley commented on #546
All passed. Well done! :)

[2017-12-01 13:48] #546 closed

[2017-12-01 13:50] adamfarley commented on #539
Sure. Running now.

[2017-12-01 13:50] adamfarley commented on #547
Sure. Running now.

[2017-12-01 14:06] DanHeidinga commented on #731
@pdbain-ibm Can you take a look at this?

[2017-12-01 14:08] DanHeidinga commented on #730
Adding the `comp:test` label as this looks like a test configuration issue based on the `Connection refused to host: 10.20.12.127; ` exception message.

@llxia Can someone on your team take a look at this?

[2017-12-01 14:09] DanHeidinga commented on #730
@pshipton Are these tests part of the nightly test run?  If so, please add the priority:high label.

[2017-12-01 14:10] DanHeidinga commented on #731
@pshipton Are these tests part of the nightly test run? If so, please add the priority:high label so we can get that build green.

[2017-12-01 14:35] adamfarley commented on #547
It completes and most of the tests pass, though we have a single failure. Since this isn't a hang or a significant overrun, I'll raise a separate issue.

Thanks Peter. :)

[2017-12-01 14:40] #547 closed

[2017-12-01 14:47] smlambert commented on #730
same exception as seen in #301 (closed by #488) and #480

[2017-12-01 14:50] adamfarley commented on #547
The single test failure was a timeout in the ClearAllBreakpoints (number 1) subtest, however this passes the second time I ran the jdwp tests. Another issue will not be raised.

[2017-12-01 14:55] DanHeidinga commented on #730
The fix for #301 went in ~20 days ago.  This is likely a different issue.

[2017-12-01 15:00] xliang6 commented on #729
@DanHeidinga AFAIK the checker was only run on x86-64 Linux platform.

[2017-12-01 15:07] smlambert commented on #730
Wasn't suggesting it was the same fix.  Am making notes on this issue to narrow down what to look at.  Noting it was an accesscontrolexception in 301, that caused the connection refused error.

Both tests, test_startLocalManagementAgent, test_startManagementAgent:
attach() then
startLocalManagementAgent() methods
from com.sun.tools.attach.VirtualMachine

I will confirm, but these tests run and pas

[2017-12-01 16:00] pshipton commented on #730
This test is part of the "OpenJ9 [<platform>] 80 Extended Test" nightly run. Adding prio:high label as requested.

[2017-12-01 16:10] #163 closed

[2017-12-01 16:56] DanHeidinga commented on #732
@theresa-m Can you take a look at this?

[2017-12-01 16:57] DanHeidinga commented on #705
@theresa-m Can you take a look at this as well?

[2017-12-01 17:46] smlambert commented on #730
Example of this test running and passing in SE90:
https://ci.eclipse.org/openj9/view/Test/job/Test-Extended-linux_390-64_cmprssptrs/68/testngreports/org.openj9.test.attachAPI/TestManagementAgent/

[2017-12-01 17:58] #472 closed

[2017-12-01 18:01] smlambert commented on #730
I believe SE80 / SE90 are both using the same test code (https://github.com/eclipse/openj9/blob/master/test/Java8andUp/src/org/openj9/test/attachAPI/TestManagementAgent.java), though I know there was some re-organization of the Utilities used by attach api tests, that @pdbain-ibm will be able to speak to.

But based on the fact this test was running and passing in SE90 and SE80 & SE90 use the same

[2017-12-01 18:32] mpirvu commented on #270
With large pages turned on, on the same HW setup as above, the prototype improves startup time by 1.2%. I can't put my finger on what could cause an improvement in this case, but I'll take it.

[code]

[2017-12-01 19:19] AdamBrousseau commented on #662
Propose we update the regex to something like this:
`.*\bjenkins\b\s+\btest\b\s+\bsanity\b\s+(\ball\b|\bzlinux\b)\s+(\ball\b|\bjava9\b).*`
A new comment for zLinux Java9 sanity would be one of the following
`jenkins test sanity all all`
`jenkins test sanity all java9`
`jenkins test sanity zlinux all`

[2017-12-01 19:21] smlambert opened #737 "Review exclude files and remove entries for fixed issues"
We split the exclude files for SE80 and SE90, but kept the list the same.  Some of the entries in SE80 list should be removed, as the tests should work in Java8.

Also, we should check the issues for all the entries and reinclude any where the issues have been fixed.

[2017-12-01 19:37] DanHeidinga commented on #662
Is it possible to support `jenkins test sanity` as a short form for `jenkins test sanity all all`?

[2017-12-01 20:35] jdekonin commented on #36
After #738 is merged the current failure is within the port library looking like this
[code]

This needs some rework surrounding gethostby*_r.

[2017-12-01 21:11] DanHeidinga commented on #729
@xliang6 Can you propose the required changes to travis.yaml file to get this enabled?

[2017-12-01 21:53] pshipton opened #740 "java.lang.ClassFormatError: JVMCFRE152 module-info is not a class because access_flag ACC_MODULE is set"
I think this is a regression. Likely introduced by #536 or #50.

[2017-12-01 22:09] xliang6 commented on #729
@DanHeidinga  I will work with @nbhuiyan. We need to first run the checker on current openj9 source code and fix any errors the tool finds before we enable it as a part of the travis ci build process.

[2017-12-01 22:18] theresa-m commented on #732
It looks like this is failing because two classes (`java.lang.invoke.ILGenMacros` and `java.util.PropertyPermission`) that are being loaded call `java.lang.invoke.MethodHandle.intrinsicName` which throw an error with `java.lang.invoke.OpenJDKCompileStub.OpenJDKCompileStubThrowError`.

[2017-12-04 02:18] knn-k commented on #619
As communicated personally, I identified the root cause of this problem.  It was TR::Compiler->target.isEABI() that returned a wrong result, i.e. false in this case.
I will be making a pull request for this later.

[2017-12-04 10:35] SueChaplain commented on #627
I've never heard of Mattermost, so have no real feel for whether it is as good as Slack / better than Slack. I thought Slack was chosen to align with AdoptOpenJDK and perhaps that is an important point. The work to automate the Slack invitations has already been done and there is a PR open to merge the changes for the website. Of course we can change direction if there is a strong preference to do

[2017-12-04 13:03] archanaNogriya opened #744 "Create automated process in the open to refresh extensions repo with openjdk changes"
Create job configuration on Eclipse openj9 CI (ci.eclipse.org/openj9) Jenkins to run "mirror" script - https://github.ibm.com/open-class-libraries/openjdk-build/blob/master/git-hg/update8.sh

(Note : this is bash script)

It requires the jenkins job to provide 2 variables

$GITHUB_IBM (eg https://github.ibm.com/open-class-libraries)
$J9REPOSITORY (eg openJDK8u152-b16-update-test)

[2017-12-04 13:11] smlambert commented on #627
Not sure why this issue is still open, as I too thought Slack was the choice.

Safe to say that few have heard of Mattermost, which may be an argument against it (even if it proves to be better tool), and may be a point of aggravation for people joining the project, "grrr, another tool, ever so similar, but different from the de facto standard used in many other elsewhere projects".

There are plu

[2017-12-04 13:22] archanaNogriya commented on #744
Something similar we tried in our local jenkin: https://hyc-rt-openjdk-jenkins.swg-devops.com/job/Update_OpenJ9/configure

#!/bin/groovy

pipeline {
    agent {
        node {
            label 'ibmsdk-build-slave'
        }
    }
    environment {
        GIT_REPO = 'openjdk-build'
        JAVATEST_CREDENTIAL = '732fdbf7-acee-4835-bb43-5ebfef51e44b'
    }
    stages {
        stage('Setup') {

[2017-12-04 13:24] archanaNogriya commented on #744
@AdamBrousseau

[2017-12-04 13:29] DanHeidinga commented on #627
The commonly stated preference here is Slack with one IRC vote and one Mattermost vote.  Given the stated preference for Slack and the goal of aligning tools across related communities (OMR, AdoptOpenJDK, OpenJDK), I vote for staying with Slack.

[2017-12-04 13:30] DanHeidinga commented on #627
I'll leave this open until the end of the day for any other strong preferences to appear and if there is no ground swell behind an alternative tool, I'll close this.

[2017-12-04 13:45] pshipton commented on #539
Hi @adamfarley. Any update?

[2017-12-04 13:46] DanHeidinga commented on #744
@archanaNogriya Can you open an issue at one of or both of the extensions projects - https://github.com/ibmruntimes/openj9-openjdk-jdk9 and https://github.com/ibmruntimes/openj9-openjdk-jdk8

It belongs at those projects as it relates to updating their source repos.

Closing it here.

[2017-12-04 13:46] #744 closed

[2017-12-04 13:54] pdbain-ibm commented on #731
Is there  a link to the log files of the failing jobs for reference?  Thanks.

[2017-12-04 13:58] adamfarley commented on #539
Yup. The tests ran. The tests finished. Some of the tests failed. I'm looking into this now.

[2017-12-04 14:12] DanHeidinga commented on #732
Thanks @theresa-m.  This looks like we're either missing some patches to the extensions repo or need to provide minimal stub implementations for the OJDK methods / class.

ILGenMacros is an OpenJ9 class that provides template helpers for the way JSR 292 MethodHandles get compiled so it shouldn't be directly calling `MethodHandle.instriniscName`.  It may appear to make a call to `instrinsicName` if

[2017-12-04 14:20] adamfarley commented on #539
Ok, the failures all look the same, and start happening suddenly. Since they seem to imply a problem with the tnameserv (a process started and terminated by other processes) I'm not above the suspicion that this is another cautionary tale abour running multiple sets of JCK tests at the same time.

I'm re-running this JCK test on a machine not doing anything else. Will update when the results are a

[2017-12-04 14:25] JamesKingdon commented on #53
As a result of making all the branches have the same name ('arm") the instructions moved to
https://github.com/JamesKingdon/openj9/blob/arm/buildenv/Build_Instructions_V9.md#arm. I've also switched the build-docker-arm script to build for armv7 by default, but haven't had time to describe that in the instructions. If you need armv6 either edit the script or don't use the script and follow the inst

[2017-12-04 14:37] DanHeidinga commented on #740
@theresa-m Can you take a look at this?

[2017-12-04 14:45] andrewcraik commented on #608
@yanluo7 is this done now that #700 is merged? If so we should close the issue.

[2017-12-04 14:46] theresa-m commented on #732
This is the standard error output from `java.lang.invoke.ILGenMacros`:

[code]

and from `java.util.PropertyPermission`:

[code]

[2017-12-04 14:47] archanaNogriya commented on #744
@DanHeidinga @AdamBrousseau which jenkin this should go then?

[2017-12-04 14:50] DanHeidinga commented on #732
@theresa-m What is the test trying to do?  Our MethodHandle implementation will never attempt to load & initialize `MethodHandleImpl$Lazy.<clinit>` or `MethodHandleImpl$ArrayAccessor.<clinit>` on its own.  Is the test trying to load every class in rt.jar?

[2017-12-04 15:00] yanluo7 commented on #608
This should be done. I'm currently tracking down cases where certain uncompressed string(s) are being created in the JVM/JCL and trying to suppress their generation. I will open new issue for additional work.

[2017-12-04 15:00] #608 closed

[2017-12-04 15:02] AdamBrousseau commented on #744
The job should run at our project's Jenkins instance provided by Eclipse
https://ci.eclipse.org/openj9/

[2017-12-04 15:11] theresa-m commented on #732
Yes.

[2017-12-04 15:20] theresa-m commented on #740
Yes. looking into it now.

[2017-12-04 15:21] SueChaplain commented on #627
I had a quick look around. Posting some points that might spark discussions.......

**Pros for slack:**
- widely used and adopted (even has IRC integration)
- aligned with AdoptOpenJDK, with whom we share a user base.
- easy re-use of Adopts notification process (Shelley's point above)
- we're ready to go with it (in the absence of there being any info about using Mattermost for Eclipse projects)

[2017-12-04 15:24] theresa-m commented on #740
Was this thrown in a test?

[2017-12-04 15:49] pdbain-ibm commented on #731
It seems there is a difference between the IBM Java 8 launcher and OpenJ9's launcher: the former passes the "-showversion" argument on to the VM and the latter does not.

[2017-12-04 16:01] adamfarley commented on #539
Ok, the issue is gone. Only a single unit test failure remains. Will open that separately.

Good job guys! :)

[2017-12-04 16:01] #539 closed

[2017-12-04 16:51] smlambert commented on #731
Is that difference between IBM Java8 and OpenJ9 meant to exist?

[2017-12-04 17:01] pshipton commented on #731
I'm not sure of the history. My guess is the launcher didn't handle -showversion in some earlier version of Java and support in the VM was added. Then the patch to the launcher was carried forward to Java 8 even though it is no longer required.

There is no reason the VM needs to implement -showversion. Its just calling sun.misc.Version.print(), which the launcher can also do.

[2017-12-04 17:03] smlambert commented on #731
So the test is not valid and should be removed?

[2017-12-04 17:08] adamfarley commented on #539
P.S. Turns out the sole test failure in that test bucket only fails because it's a brittle test that is overdependent on the configuration of the user's machine. I'll try to pass word back to the test owners so they can fix that.

[2017-12-04 17:11] pshipton commented on #731
The test is still valid for IBM Java 8 unless the launcher behavior is changed there. I did find some history, apparently somebody wanted -showversion to work from the VM option -Xoptionsfile (which btw is deprecated from Java 9 as its implemented by the launcher). This means the VM processing of -showversion should not be removed, at least while -Xoptionsfile is still supported (i.e. for Java 8).

[2017-12-04 18:05] pdbain-ibm commented on #731
Please clarify: -Xoptionsfile is implemented in the VM.

For the record, the Java 9 launcher discards -showversion.  It looks like the VM's showversion code is never used in Java 9.

[2017-12-04 18:27] pshipton commented on #731
Java 9 introduces a new option file operation which is implemented by the launcher (see the help output from running "java"). This obsoletes -Xoptionsfile so it is deprecated for Java 9 and may be disabled in a future version of (IBM) Java.

Unless you put -showversion in an -Xoptionsfile

[2017-12-04 18:57] #469 closed

[2017-12-04 20:39] DanHeidinga commented on #680
How big is the stack frame for the BytecodeInterpreter?  It's being compiled at `-O0` which may result in a much larger stack frame for the interpreter or deeper stacks as optimizations (like inlining) may not occur.

[2017-12-04 20:59] hangshao0 commented on #680
19:57:08.646606037  0x0000000000019a00 j9vm.50             Entry      >Attempt to change stack size from **18488 bytes to 1064960 bytes**. SP=0xc8fa0, SOM=0xc5388, SOM2=0xc5388

[2017-12-04 21:07] pdbain-ibm opened #748 "OpenJ9 PR#747"

[2017-12-04 21:08] #748 closed

[2017-12-04 21:24] hangshao0 commented on #680
From the trace point, the size between SP and A0 is 0x32b608 - 0x32b5c0 = 0x48.

[2017-12-05 01:09] #731 closed

[2017-12-05 02:41] smlambert commented on #303
Based on #332 being closed, I believe this issue can also be closed.  @groeges please confirm.

[2017-12-05 05:28] DanHeidinga commented on #680
@hangshao0 That's growing the Java stack.  The stackoverflow is the native stack.  You'd need to calculate the size of the native stack frame.

[2017-12-05 08:53] groeges commented on #303
@smlambert I am unsure why the PR was closed as the changes had not been merged.
I don't have authority to merge them so will need someone to do this. once the pull request has been merged then we can close this issue.

[2017-12-05 13:45] andrewcraik commented on #680
I don't know if this is helpful, but if you are dealing with Windows 32bit you may also want to look at the number of threads. Windows reserves 1G of the available memory for itself so if you have a 1G heap then you can start low on native memory and with too many active threads we could see this kind of issue. As @DanHeidinga suggests calculating the frame size is a good idea but you may also wan

[2017-12-05 15:51] hangshao0 commented on #680
It is 64-bit on Windows.
Haven't been able to see the native stack yet. But here are some info about the total size of native stack:

3MEMUSER       |  +--Threads: 13,194,224 bytes / 117 allocations
3MEMUSER       |  |  |
4MEMUSER       |  |  +--Java Stack: 1,351,304 bytes / 22 allocations
3MEMUSER       |  |  |
4MEMUSER       |  |  +--Native Stack: 11,665,408 bytes / 21 allocations
3MEMUSER

[2017-12-05 16:16] hangshao0 commented on #680
StackOverflowError with -Xss1310k. Pass with -Xss1350k.

[2017-12-05 16:42] groeges commented on #303
@smlambert I remember now why the PR was closed as although the change I made did resolve the issue it was not a very clean solution. Keith made a suggestion which I was going to implement but never got around to it.  He suggested:
[code]
I have closed the PR again (as I had reopened it  - and then got lost of additional comments to the change!!) and will raise a new PR when I (or someone else) ge

[2017-12-05 17:19] ChengJin01 commented on #681
The trace/javacore indicates that this might be the same issue with issue #680, which is related to stack overflow.

[2017-12-05 17:24] hangshao0 commented on #680
Should be the same issue as #681, crash at the same place:
 [ERR] Module=C:\temp\bld_371236\jdk\bin\compressedrefs\j9vm29.dll
 [ERR] Module_base_address=000007FEF2AB0000 Offset_in_DLL=**0000000000301d47**

[2017-12-05 18:03] smlambert commented on #303
ok, thanks for the clarification @groeges

[2017-12-05 19:42] DanHeidinga commented on #732
We'll need to update the test to skip classes that are only there to be compile stubs.

[2017-12-05 22:09] pshipton opened #761 "Identifying changes which require release documentation"
Some changes should be called out in release documentation because of a change in behavior. Similarly new features, or options, can be documented as What's New.

Two ideas for tracking these:

1) create new labels such as doc:releasenote and doc:whatsnew to tag Pull Requests. These labels are easy to add to Pull Requests. The downside is a query will find all the tagged pull requests and it won't

[2017-12-05 22:26] pshipton opened #762 "Add support for Java 10 class version 54"
Java 10 will generate class version 54.

[2017-12-06 04:13] ChengJin01 commented on #681
Already confirmed that this is an issue with growing stack when throwing out an exception of OS stack overflow, which hang was working on.

--------------------------

 stringObject: 00000007FFFAEAD0 loader: 00000007FFEF0000
04:10:00.360 0x19a00            j9vm.28   > sendLoadClass
04:10:00.376 0x19a00            j9vm.302  > **setCurrentExceptionUTF exceptionNumber=12 detailUTF=operating system st

[2017-12-06 09:58] #684 closed

[2017-12-06 13:01] SueChaplain commented on #761
Perhaps we can take inspiration from here: https://nodejs.org/en/blog/release/v8.9.2/    ??

Spoke briefly to Gibson and there is tooling behind it. He's now aware of this issue and will hopefully join the conversation.

[2017-12-06 16:06] pdbain-ibm commented on #529
See also https://github.com/eclipse/openj9/pull/621

[2017-12-06 16:06] pdbain-ibm commented on #529
Comment from same:
dnakamura 14 days ago  •  edited  Contributor
Alternatively the -D/-U options I added to UMA could come in handy here. It lets you override buildspec flag settings on the command line. This is done by passing -D <opt> or -U <opt> to set/unset the option respectively. ie -D opt_harmony
Edit: See #78 for details

[2017-12-06 16:29] theresa-m commented on #705
These are all the socket related JVM_ methods I've found and it looks like none of them are being called:

- JVM_Accept: not called
- JVM_Connect: not called
- JVM_Listen: not called
- JVM_Recv: not called
- JVM_RecvFrom: not called
- JVM_Send: not called
- JVM_SendTo: not called
- JVM_Socket: not called
- JVM_SocketAvailable: not called
- JVM_SocketClose: not called
- JVM_InitializeSocketLibrary:

[2017-12-06 17:26] pdbain-ibm commented on #705
Adding a link to the issue to remove Harmony: https://github.com/eclipse/openj9/issues/529

[2017-12-06 18:01] gacholio commented on #681
This is not a stack grow issue - throwing StackOverflowError always performs one extra stack grow to ensure there's enough stack to create the exception, so the grow being in the trace isn't indicative of a problem.

Adding "-Xiss1M -Xss1M" to the command line (initial stack size equal to maximum stack size disables the stack grower) does not fix the issue - still crashes in the same way.

[2017-12-06 18:04] pdbain-ibm commented on #522
Pull request https://github.com/eclipse/openj9/pull/758

[2017-12-06 18:52] mstoodle opened #769 "AdoptOpenJDK ppc64le builds broken since Dec 4"
First failing build is here: https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_ppc64le_linux/67/

[code]

The failure message isn't particularly helpful :( .

Given the target that fails is one of the JIT's .spp files, my suspicion would be the following PR merged on Dec 4: https://github.com/eclipse/openj9/pull/666 . But I have trouble understsanding how the AIX build configuration files, whi

[2017-12-06 19:03] fjeremic opened #770 "Common up logic in StringBuffer and StringBuilder"
Referencing https://github.com/eclipse/openj9/pull/767 it seems we fixed an issue in StringBuilder but forgot to fix the same issue in StringBuffer. These sorts of problems could be almost entirely avoided if the logic between these two classes are commoned up.

It seems both StringBuilder and StringBuffer extend AbstractStringBuilder. Aside from serialization and some other neusences the logic in

[2017-12-06 19:17] tajila opened #771 "OpenJ9 disallows adding methods in classRedefinition but Oracle does not"
The jvmti spec states:

"The redefinition may change method bodies, the constant pool and attributes. The redefinition must not add, remove or rename fields or methods, change the signatures of methods, change modifiers, or change inheritance. These restrictions may be lifted in future versions."

[5:16]
However, Oracle's JVM allows one to add new methods. For example:

Redefining C1 to C2 (as see

[2017-12-06 19:24] tajila commented on #771
We have asked Oracle to clarify the spec with regards to this issue. I suspect that they have allowed adding/removing methods to support redefinition of method bodies that may add/remove lambdas as Javac generates extra `private static synthetic` methods for lambdas

[2017-12-06 19:33] pshipton commented on #705
@theresa-m they may not be called on Java 9, but at least JVM_SocketAvailable is called on Java 8. Please check if there is anything else.

[2017-12-06 19:34] ChengJin01 commented on #681
But the test works good if increasing the maximal stack size (e. g. specify "-Xiss2M -Xss2M"  or "-Xss2M" ). In such case, the stack grower should be still disabled.

[2017-12-06 19:50] DanHeidinga commented on #770
+1 from me.  `AbstractStringBuilder` is a recent addition to our code base.  It was added to address verifier StackMapTable exceptions due to missing common superclass when compiling java code on OpenJDK, which had the class, and then running on J9, which didn't have it.

Now that's present, we should take advantage of it to clean up the code.

[2017-12-06 19:53] andrewcraik commented on #770
This clean-up will need some careful performance measurements - it is possible that changes in fan-in frequency when the code is commoned may require the optimizer (especially the inliner) to do different things. We may also need additional try-to-inline guidance for methods that are veneers that call to the abstract implementation.

I am in favour of the de-duplication but careful performance mea

[2017-12-06 20:20] gacholio commented on #681
If you just increase the max (-Xss), does the test work?

[2017-12-06 20:40] fjeremic commented on #711
@andrewcraik just in case you may have missed this as I'm sure you've been tagged in many other PRs and issues 😃

[2017-12-06 22:56] hangshao0 commented on #680
The C stack is:
[code]

uf j9vm29!bytecodeLoop
j9vm29!bytecodeLoop [c:\temp\openj9-openjdk-jdk9\build\windows-x86_64-normal-server-release\vm\vm\bytecodeinterpreter.cpp @ 98]:
   98 00007ffe`727d11f0 48894c2408      mov     qword ptr [rsp+8],rcx
   98 00007ffe`727d11f5 56              push    rsi
   98 00007ffe`727d11f6 57              push    rdi
   98 00007ffe`727d11f7 b818a00100      **mov

[2017-12-06 23:04] hangshao0 commented on #680
The documentation says _chkstk() Routine is called when the local variables > 8K for windows 64-bit.
https://msdn.microsoft.com/en-us/library/ms648426(v=vs.85).aspx

[2017-12-07 03:54] ChengJin01 commented on #681
@gacholio ,
It always works only with -Xss (e.g. -Xss1090K) and no crash occurs.
In addition, it the maximal value has to be larger than 1090k in the test; otherwise it will throw out the following exception and no crash, which means the exception for OS stack overflow is thrown out correctly.

Exception in thread "main" java.lang.StackOverflowError: operating system stack overflow
        at java