[2019-10-15 13:57] zl-wang commented on #7458
This issue should be applicable to all builds on AIX.  I found java8/11 LTS text/data located at 4GB.

[2019-10-15 14:12] fjeremic commented on #7273
@dsouzai FYI. It seems eclipse/omr#4418 may not have fixed the issue.

[2019-10-15 14:50] AdamBrousseau commented on #7331
Added JDK13-HS to the first aix mahine. Also removed JDK9,10.
[code]

[2019-10-15 14:55] pshipton commented on #7458
@zl-wang which shared libraries or executables need to use the option? This seems it could affect more than the JVM build, AIX should change their defaults.

Related to #7115 - Java Launcher is loaded at 0x80000000 on zLinux

[2019-10-15 15:02] dmitripivkine commented on #7122
@amicic FYI

[2019-10-15 15:08] zl-wang commented on #7458
@pshipton  only the final executable needs to use that option, i.e. java.  there is a similar option for Linux.  we used them both (AIX and Linux) before.  however, my test on Linux LE with OpenJ9 driver seemed showing text/data being out of the way already. so that, I didn't mention it in this issue.

[2019-10-15 15:10] zl-wang commented on #7458
on both AIX and Linux. all shared library are located by default far away from the top (low-end) address.

[2019-10-15 15:13] piyush286 opened #7459 "OpenJDK8,11,12 LibertyStartup Regression ~40-80% (AIX PPC64)"
This issue was discovered internally at IBM and is currently being investigated. This issue is created so that the problem can be exposed to the Release 0.17.0 milestone plan.

Liberty startup regression of 35-60% has been introduced between 20190909 and 20190911 builds. The regression slightly changed between 20190911 and 20190926 builds, varying from 17 to 77%.

The regression is seen on Java 8,

[2019-10-15 15:15] piyush286 commented on #7459
FYI @pshipton @SueChaplain

[2019-10-15 15:32] andrewcraik commented on #7452
Ok so here's the problem - in the crash block_422 is a successor of multiple table cases (256 to be exact) - so many that the int8_t counter for the number of successors going to the block overflows... This results in a division by zero if the overflow results in a zero (note signed overflow behaviour is undefined by the spec but an overflow to zero is one possible outcome). The case is rare becau

[2019-10-15 15:37] ChengJin01 commented on #5058
Still detected test failures in `InstanceFieldVarHandleTests `& `ArrayVarHandleTests ` in `VarHandle `when calling the native method `compareAndExchange ` in the extended test. Suspect the previous code for `fence `was incomplete in dealing with read/write barrier. Need to double-check the code there against the RISC-V Spec to see what happened.

[2019-10-15 15:39] dsouzai commented on #7273
Ok I'll take a look

[2019-10-15 15:48] pshipton commented on #7458
@andrew-m-leonard @M-Davies fyi that AIX needs a similar fix as #7115

[2019-10-15 16:44] dsouzai commented on #7273
[code]
Looking at findSymRefForValueOf:
[code]
`stringClass` is NULL because HCR must've changed it heh. So same underlying problem that was fixed in https://github.com/eclipse/omr/pull/4418 but different location. I'll open a PR to fix this.

[2019-10-15 17:23] 0xdaryl opened #7462 "[Nestmates] Handle private invoke for jitted unresolved invokevirtual/interface"
Implement #2673 for AArch64.

[2019-10-15 17:24] 0xdaryl opened #7463 "[Nestmates] Handle private invoke for jitted unresolved invokevirtual/interface"
Implement #2673 for ARM 32-bit.

[2019-10-15 17:24] 0xdaryl commented on #5455
[Nestmates] Handle private invoke for jitted unresolved invokevirtual/interface.  AArch64 #7462 , ARM32 #7463

[2019-10-15 17:25] 0xdaryl commented on #7462
@knn-k @Akira1Saitoh

[2019-10-15 19:08] pshipton commented on #7449
Now the  jsr292Test_JitCount0 tests are failing. I suspect we're still missing a JIT change.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_Release/17

[2019-10-15 19:12] pshipton commented on #7449
i.e. this one https://github.com/eclipse/openj9/pull/7261

[2019-10-15 19:17] pshipton commented on #7449
Fixed by #7466

[2019-10-15 19:17] #7449 closed

[2019-10-15 19:35] JasonFengJ9 commented on #7122
`OpenJ9 JDK 11` passes this test at a `10x` grinder https://ci.adoptopenjdk.net/job/Grinder/808/
Also `OpenJ9 JDK 8` failed as reported by this issue at a `3x` grinder https://ci.adoptopenjdk.net/job/Grinder/807

This test uses multiple (`10`) threads to stress the call to the test method however each test method performs following:
[code]
In addition, there is ` private static final ReferenceQueu

[2019-10-15 20:30] JasonFengJ9 commented on #7122
`JDK 11` with `-Xnoclassgc -verbose:gc` 10x grinder is at https://ci.adoptopenjdk.net/job/Grinder/809/
fyi @dmitripivkine

[2019-10-15 20:35] andrew-m-leonard commented on #7248
This commit caused the issue: https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/fcbc07f47ad02b560345459bafe0e071ecc980b3
I'm suspecting a combination of this and possibly the significance of the <cr> in the dependency, so 'java.desktop' is defined, but not 'java.desktop<cr>' and I would hazzard a guess on non-windows platforms the <cr> is ignored so they match...?

[2019-10-15 21:19] andrew-m-leonard commented on #7248
The generated module-deps.gmk for openj9 modules has <cr>'s in it:
[code]

[2019-10-15 23:16] Skapeven commented on #7453
This is my first look at open source contributing, I don't even know how I can look at the code you are talking about. ¿Could you tell me please?

[2019-10-15 23:59] #7273 closed

[2019-10-16 00:30] ymanton commented on #7459
Summary of my investigation thus far:

- Measured a 20% regression
- Similar number of compilations at each opt level
- 10x more relocation failures in bad builds (~20 v.s. ~200)
- Startup difference widens to 3x with `-Xnojit`, relocation failures increase 10x in both builds
- Profiling shows us spending much more time in the interpreter with `-Xnojit`
- Regression is **eliminated** with `-Xaot:d

[2019-10-16 03:25] 0xdaryl commented on #7453
Welcome, and thanks for offering to help out!

Here's a bit of background that strictly isn't required to completing this, but might help you nonetheless.  The OpenJ9 JIT is an extension of the compiler technology in the Eclipse OMR project.  The JIT uses a number of means of extending the OMR compiler, but one of the most important uses something we call *extensible classes*.  You can read more a

[2019-10-16 03:27] 0xdaryl commented on #7453
If this is your first time contributing to this project, please read through the Contributing Guidelines found [here](https://github.com/eclipse/openj9/blob/master/CONTRIBUTING.md) before opening your first pull request.

[2019-10-16 06:36] hellboy95 commented on #7453
Hi , Can I take up this issue for my first PR? Quick question, only the 4 cpp files you mentioned above need to be changed right?

J9S390CHelperLinkage.cpp
J9S390PrivateLinkage.cpp
J9SystemLinkageLinux.cpp
J9SystemLinkagezOS.cpp

[2019-10-16 11:56] 0xdaryl opened #7472 "AArch64 PrivateLinkage prologue TODOs"
A collection of future (necessary for performance) enhancements to `createPrologue` in ARM64PrivateLinkage.cpp:

- [ ] spill linkage registers based on RA
- [ ] why is ResolvedMethodSymbol->localMappingCursor an uint32?  StackIndices are stored zero or negative.
- [ ] reverse order of registers in RSD to make stack walk scanning more efficient
- [ ] use store pairs for register preservation
- [ ]

[2019-10-16 11:56] 0xdaryl commented on #7472
@knn-k

[2019-10-16 12:31] llxia commented on #7436
After fixing the path, the test still failed on wins internally. Need further investigation. I will exclude the test internally for now.

[code]

[2019-10-16 13:02] dmitripivkine commented on #7122
Thank you. All jobs failed as we expected.

[2019-10-16 14:18] wbh123456 opened #7474 "Implement Java Math method fma as one of the J9 recognized methods"
Add Java methods `Math.fma` and `StrictMath.fma` into `J9RecognizedMethods`. The fma (fused multiple add) is described as

Note that there should be two types of `fma`
- `public static double fma(double a, double b, double c)`
- `public static float fma(float a, float b, float c)`

[2019-10-16 14:55] ymanton commented on #7459
It looks like this is working exactly as intended, unfortunately. Note that this was discovered in an environment where `-Xquickstart` is being used.

Previously, due to the compiler bug worked around in #7120, hints were not being reliably stored. A vlog from the "good" build shows this pretty clearly:

[code]

With a "bad" build we see:

[code]

Now that hints are being stored we are seeing the

[2019-10-16 16:24] mpirvu commented on #7459
The `TR_HintLargeMemoryMethodC` hint is only used for determining whether to perform a 'forced' AOT upgrade or not. Immediately after an AOT load is executed the JIT has the option of artificially adding an upgrade compilation request to the compilation queue. These upgrades are meant to improve the throughput in the long run (and maybe rampup).
If the `TR_HintLargeMemoryMethodC` is present (presu

[2019-10-16 17:17] pshipton opened #7480 "worker-2 Cannot allocate memory"
Not sure if this is a real failure to allocate memory or not. If so, worker-2 may need a reboot.

https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK11_x86-64_mac/798
[code]

[2019-10-16 17:18] pshipton commented on #7480
@jdekonin @AdamBrousseau

[2019-10-16 17:21] AdamBrousseau commented on #7287
Also found this page
https://discourse.drone.io/t/github-claims-that-merge-refs-are-undocumented-feature/1100/2
From 2017 where Github recommends creating your own merge refs instead of using theirs.

[2019-10-16 17:23] pshipton opened #7482 "Creating placeholder flownodes because failed loading originals"
Maybe jenkins is going to need a restart?

https://ci.eclipse.org/openj9/job/PullRequest-OpenJ9/1551
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK11_x86-64_windows/897
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_x86-64_windows/917
[code]
[code]

[2019-10-16 17:25] pshipton commented on #7482
@jdekonin @AdamBrousseau

[2019-10-16 17:33] pshipton commented on #7482
I think jenkins was restarted already, and the restart caused this problem across all running builds.
There are some 390 machines offline.

[2019-10-16 17:33] #7482 closed

[2019-10-16 17:37] pshipton commented on #7480
I suspect this was caused by a jenkins restart.

[2019-10-16 17:44] pshipton commented on #7450
Happened again, I think caused by a jenkins restart.
[code]

[2019-10-16 17:54] AdamBrousseau commented on #7482
Maybe https://issues.jenkins-ci.org/browse/JENKINS-55287

[2019-10-16 18:02] fengxue-IS commented on #6802
I don't think the merged changes are included in the 0.17-m2 release.

@DanHeidinga @pshipton should I port this fix to 0.17?

[2019-10-16 18:07] DanHeidinga commented on #6802
0.17.0 is complete and it's too late to add new changes to it.  This is likely due to removing the exclude which applies globally, not just to the 0.17 release

[2019-10-16 19:20] pshipton commented on #6802
This is re-opened due to https://github.com/eclipse/openj9/issues/6802#issuecomment-541011568, not because it fails in the 0.17 release builds.

[2019-10-16 19:23] pshipton commented on #6802
If it might be a factor, we can re-test once the 13.0.1 openjdk changes are merged in, likely tomorrow.

[2019-10-16 19:36] DanHeidinga opened #7486 "Support non-tenured objects in the constantpool"
JDK 11 introduced ConstantDynamic which allowed user allocated objects to be installed in classes ConstantPools (CP).  This required changes to the GC so that the scavenges would scan the CP of classes with ConstantDynamics.

Our current JSR 292 implementation forces MethodType and MethodHandle objects that are stored into the CP to be tenured.  Given we have the capability to scan CPs in scavenge

[2019-10-16 19:36] DanHeidinga commented on #7486
FYI @dmitripivkine @fengxue-IS

[2019-10-16 19:47] fengxue-IS commented on #6802
The SDK used in the failed grinder is
[code]
which doesn't include the merged PR changes.
@M-Davies can you re-test this with VM based off the current master branch

[2019-10-16 20:12] zl-wang commented on #5074
@pshipton  we asked xlC team, and they cannot fix it (linking in libc++.a by default), since the same command can be used for xlC build (as opposed to xlclang++ build) which doesn't need libc++.a.

we have to decide if libc++.a should be statically linked in as well (it is not available on most AIX installations).

[2019-10-16 20:25] pshipton commented on #5074
@zl-wang is seems we have the start of a solution https://github.com/eclipse/openj9/pull/7034#issuecomment-542759782
Yes, it should be statically linked.

[2019-10-16 21:14] smlambert commented on #5751
https://github.com/AdoptOpenJDK/openjdk-build/issues/1080#issuecomment-542875476

[2019-10-16 21:29] JasonFengJ9 commented on #5751
I use jdk8u222-b10_openj9-0.15.1.

I think it probably is same issue as https://github.com/eclipse/openj9/issues/6722, will pick it up.

[2019-10-17 00:56] 0xdaryl commented on #5455
Enable class redefinition and flush compilation queue hooks: AArch64 #7470

[2019-10-17 08:36] M-Davies commented on #7226
Thanks @JasonFengJ9 ! :)

[2019-10-17 08:36] #7226 closed

[2019-10-17 09:48] M-Davies commented on #6802
Current master branch passes for JDK13. @fengxue-IS @pshipton can you react with a 👍 if you're happy for me to unexclude the test?

[2019-10-17 11:50] #6802 closed

[2019-10-17 11:58] archanaNogriya opened #7489 "Failing JDK11.0.5+10_openj9-0.17.0 Extended System Test: SharedClasses.SCM23.MultiThread"
Failure link
------------

https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.system_x86-64_windows/50/tapResults/
Test Category: extended system
OS/Architecture: openjdk_x86-64_windows & mac_x86-64
OpenJDK Version: 11.0.5+10_openj9-0.17.0
Public Build SHAs:
OpenJ9   - 77c1cf708
OMR      - 20db4fbc
JCL      - 2a7af5674b based on jdk-11.0.5+9)

Optional info
-------------

Intermittent fail

[2019-10-17 12:09] archanaNogriya commented on #7489
Resubmitted Grinder job is for the same test suit with the same build.
**openjdk_x86-64_windows :** https://ci.adoptopenjdk.net/job/Grinder/816/consoleFull.
**Customized SDK URL:** https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-openj9/357/artifact/workspace/target/OpenJDK11U-jdk_x64_windows_openj9_11.0.5_10_openj9-0.17.0.zip

**openjdk_x86-64_mac:** https:

[2019-10-17 12:19] pshipton commented on #5074
I ran an AIX build/test with xlc 13 with the OpenJDK 13.0.0 level. Besides the OpenJ9 change to compile with xlc 13, this requires the harfbuzz fix which was applied to openjdk12 to be applied to openjdk13. The standard functional and system testing passed.
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/77

I'll have to retry this with the 13.0.1 level when it promotes. Us

[2019-10-17 12:30] archanaNogriya commented on #7489
@andrew-m-leonard mentioned that this issue has been seen couple of times not running correctly in the Adopt environment cause slow machines in this particular case.

It works perfectly fine in internal jenkins. Hence I would not call this Openj9 issue at all.

I will close this issue.

[2019-10-17 12:30] #7489 closed

[2019-10-17 12:48] M-Davies commented on #7009
The test is still failing with the same errors as above but all the errors are due to differing error messages (the original problematic ArrayStoreException has been fixed). Since it's unlikely that we'll get an error message amendation approved by openjdk, I'll perm exclude this test

[2019-10-17 13:17] pshipton commented on #7489
Related to https://github.com/eclipse/openj9/issues/7178
The system test has been updated, it should no longer time out but instead run for ~10min.

[2019-10-17 14:08] DanHeidinga commented on #6035
@andrew-m-leonard Are you (or someone on your team) looking at why this passes on OSX 10.13 and fails at 10.14?

I'd like to get the `AQA` test failures resolved for 0.18.0 and this hopefully low hanging fruit to resolve

[2019-10-17 14:12] DanHeidinga commented on #5315
@fjeremic What's the current status on this?  I'm asking as it would be good to run clean on the `AQA` (AdoptOpenJDK Quality Assurance) tests for the `0.18.0` release

[2019-10-17 14:17] DanHeidinga commented on #6435
@ChengJin01 Can you take a look at this?  I'd like to see all `AQA`-related tests passing for the 0.18.0 release and that requires someone to dig to the bottom of this.

I'd start by confirming the test still fails with the most recent OpenJ9 builds as it may have been resolved in the mean time?

[2019-10-17 14:20] DanHeidinga commented on #7005
@amicic @shahriarsust Can this be closed now or is there something beyond Aleks's explanation required?

[2019-10-17 14:30] fjeremic commented on #5315
@r30shah could you please re-run the grinder on this test the same way you did in your previous https://github.com/eclipse/openj9/issues/5315#issuecomment-480326770? A 200-300 job grinder will suffice I would hope. I'm worried the 1/100 failure rate was a red herring as the failure rate could have easily been much lower and we just got lucky with the single failure.

[2019-10-17 14:51] ChengJin01 commented on #6435
Will investigate to see what happened there.

[2019-10-17 15:31] #7171 closed

[2019-10-17 15:43] zl-wang commented on #6156
We should enable this on both p/z Linux, absorbing the footprint regression which appeared to be less than 10% on DT.  Percentage-wise would be less on bigger heap. Keeping all Linux consistent is another benefit in doing this.

[2019-10-17 15:53] ChengJin01 commented on #5058
The investigation shows the failing tests passed when adding printf massage before calling `__sync_val_compare_and_swap `via `lockCompareExchangeU32 `(we are using this built-in function on RISC-V for CAS operations), which means some sync/contention issue exists inside `__sync_val_compare_and_swap`. Need to disassemble this function to see how it works.

[2019-10-17 16:32] gita-omr commented on #7274
I double checked and changes in the port library do not trigger incremental build. Even removing .o file does not help.  I think .so and .a files need to be removed in order for the changed file to be recompiled. I tried omrvmem.c

[2019-10-17 17:40] ChengJin01 commented on #6435
The failure in `MicroProfile TCK: Health` was caused by the error in downloading the pom.xml from `https://repo.gradle.org/gradle/libs-releases-local/`
[code]
To be specific, it failed to download `https://repo.gradle.org/gradle/libs-releases-local/io/thorntail/bom/2.5.1.Final-SNAPSHOT/bom-2.5.1.Final-SNAPSHOT.pom` from `https://repo.gradle.org/gradle/libs-releases-local`

Looking at the link at `

[2019-10-17 17:44] ChengJin01 commented on #6435
In addition, @sophia-guo already verified on hotspot previously at https://github.com/AdoptOpenJDK/openjdk-tests/issues/1161#issuecomment-498686604 and ended up with the same downloading failure.

[2019-10-17 17:44] JasonFengJ9 commented on #5542
The failure reported in this issue was `jtreg: java/nio/channels/Selector/LotsOfChannels.java fails on jdk8` on couple of `s390x` machines.
Launched 3x grinder on each `s390x` machine available at AdoptOpenJDK [1]:
[code]
There was no failure observed. I think this issue can be closed. It can be re-opened if the problem shows up again.
@smlambert do you concur this assessment?

[1] https://ci.adop

[2019-10-17 17:45] ChengJin01 commented on #6435
duplicate issue was opened at https://github.com/AdoptOpenJDK/openjdk-tests/issues/1386

[2019-10-17 17:50] DanHeidinga commented on #6435
Thanks @ChengJin01.

Closing this as it's tracked upstream at Adopt and doesn't indicate an issue in OpenJ9

[2019-10-17 17:50] #6435 closed

[2019-10-17 18:04] mpirvu commented on #7459
Since in @ymanton 's experiments the bad SDK showed more recompilations with "S" designation (request coming from Secondary queue) I looked at how those could come into existence:
After a successful AOT load we check for the existence of the following hints: `TR_HintUpgrade | TR_HintHot | TR_HintScorching`. If they exist the JIT will schedule an upgrade recompilation. If SymbolValidationManager is

[2019-10-17 18:15] hangshao0 opened #7494 "New command line options to change the size of an existing shared cache"
Currently there is no efficient way to determine the appropriate size of the shared cache for an application. The process involves trail and error, which means users have to startup/shut down their application several times and check the cache statistics to figure out the correct shared cache size. This is undesirable.

We can introduce new command line utility options `-Xshareclasses:correctCache

[2019-10-17 18:25] hangshao0 commented on #7494
@mpirvu Does this break JIT/AOT data that are stored to the share cache ?

[2019-10-17 18:31] pshipton commented on #7494
I think we should pick a different name for the option. Like minimizeCacheSize or shrinkCacheSize. Calling it `correct` implies that it wasn't correct before, which depends on the way it's being used.

[2019-10-17 18:40] hangshao0 commented on #7494
Or probably `adjustCacheSize`, as user might want to increase the cache size to store more data.

[2019-10-17 18:59] ymanton commented on #7459
`TR_DisableQueueLPQAOTUpgrade=` turns "S"s into "A"s, but doesn't improve startup (seems to hurt slightly in fact).

I went back and tested an even older build, one that predates all of the recent changes to the Hints code and 1) the `TR_HintLargeMemoryMethodC` is emitted and stored, but 2) performance is good.

So it appears that the hint itself doesn't hurt startup and didn't in the past, but wi

[2019-10-17 19:02] DanHeidinga commented on #7494
I'd vote for two options:
* `minimizeCacheSize` to shrink the cache to the smallest possible size for the current data
* `resizeCache` to grow or shrink the cache to a specific size.  The smallest allowed resize would be equal tot he `minimizeCacheSize` size.

[2019-10-17 19:09] jdekonin commented on #7432
Looks like its only installed on win2012r2-x86-1, I'll get it on others in the morning when workload is light(er).

[2019-10-17 19:23] r30shah commented on #7274
I am debugging one issue currently in which I have to make changes in https://github.com/eclipse/openj9/blob/master/runtime/gc_glue_java/ObjectModelDelegate.cpp to catch some errors. Making change and doing incremental compilation does not work, I have to remove `libj9gc29.so` and other GC binaries from `$J9SRC/lib` to get JVM with changes made.

[2019-10-17 19:31] mpirvu commented on #7494
As long as ROMClasses in SCC keep the same offsets we should be fine

[2019-10-17 21:32] vijaysun-omr commented on #6156
fyi @DanHeidinga see last comment on this feature for power/z

[2019-10-17 22:13] pshipton commented on #5074
With xlc 16 we only got the expected DDR failures, all the other standard testing passed.

[2019-10-17 23:02] smlambert commented on #5542
Yes, it is no longer seen or reproducible, perhaps it was a transient machine config issue, closing this.

[2019-10-17 23:02] #5542 closed

[2019-10-18 02:37] pshipton commented on #5074
xlc 13 with jdk13.0.1 compiled fine. I didn't bother with testing.
https://ci.eclipse.org/openj9/job/Pipeline-Release-Build/80

[2019-10-18 03:18] pshipton opened #7500 "JVM_GetExtendedNPEMessage required for jdk14"
jdk14 (jdknext) acceptance builds are now failing because JVM_GetExtendedNPEMessage is missing.

[code]

jdknext acceptance is disabled until this is resolved.

[2019-10-18 03:22] pshipton commented on #7248
There is a new blocking problem now, #7500

[2019-10-18 06:12] zheddie opened #7502 "code issue in mminit.cpp?"
@pshipton  , Hi Peter, I am reading the source code , and got one question on mminit.cpp line 2979,2980 as below:
[code]
Not sure why this kind of S390 code wasn't quoted  by #ifdef for S390 system?  This may cause all other platforms give out false on extensions->concurrentScavengerHWSupport field.

Let me know if I missed anything . thanks.

[2019-10-18 06:19] zheddie commented on #7502
hmmm. Or may be only S390 system have HW support of scavenger?  😄

[2019-10-18 08:57] JonDGH opened #7503 "OutOfMemoryErrors on AIX with openj9-0.15.1"
I'm currently trying to get to the bottom of why an application running in WebSphere Liberty Application Server on AIX 7.2 can be started using an IBM VM, but not with an OpenJ9 VM.  I believe the problem is caused by JIT.  The 2 VMs I'm using are:

Java(TM) SE Runtime Environment (build 8.0.5.20 - pap6480sr5fp20-20180802_01(SR5 FP20))
IBM J9 VM (build 2.9, JRE 1.8.0 AIX ppc64-64-Bit Compressed Re

[2019-10-18 09:10] DanHeidinga commented on #7502
That's correct.  The `J9PORT_S390_FEATURE_GUARDED_STORAGE` flag is only ever enabled on 390 machines.  Every other platform will return false.

See code on 390 testing the hw for support:
https://github.com/eclipse/openj9/blob/fc0de283a29b33d73813abc58d1fb52f65246dd7/runtime/port/unix/j9sysinfo.c#L1082-L1093

[2019-10-18 09:10] #7502 closed

[2019-10-18 09:16] DanHeidinga commented on #7503
On an OutOfMemory, OpenJ9 generates some diagnostic files - a javacore, system core, and heapdump - that can be used to investigate the cause of the OOM.

Can you share those files?  We'll have an easier time to resolving this if we can see what was happening at the time it occurred.

[2019-10-18 11:12] JasonFengJ9 commented on #7500
Will add this new JVM method for `jdk14`.

[2019-10-18 12:11] pshipton commented on #7300
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/177
SharedClasses.SCM23.MultiCL_0

[2019-10-18 12:17] pshipton commented on #4277
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/170

[2019-10-18 13:09] adam-thorpe commented on #6035
Tested at hyc
osx1014vm3 (Mac 10.14) vs osxrt3 (Mac 10.11)
- java/net/InetAddress/CheckJNI.java
- java/net/MulticastSocket/Promiscuous.java
- java/net/MulticastSocket/SetOutgoingIf.java
- java/net/Socket/LinkLocal.java
- java/nio/channels/DatagramChannel/Promiscuous.java

[2019-10-18 13:56] zl-wang commented on #5074
I have a preliminary performance tests of xlc13/16 builds (performance of C/C++ code, that is:  interpreter and JIT-compiler specifically).  I used javac helloWorld as the test case:  -Xint and -Xjit:count=0,optLevel=hot -Xnoaot (to exercise JIT-compiler).

-Xint run, xlc16 build looks 15% better;
JIT-compiler run, xlc13 build looks 8% better.

[2019-10-18 14:00] zl-wang commented on #5074
Overall, I felt xlclang++ build is fine perf-wise.  Although, it has the glitch that I have to copy libc++.a and related to where I ran (and set LIBPATH).

[2019-10-18 14:10] jdekonin commented on #7432
I have the playbook applied for win2012r2-x86-2-6.  Please advise if there is anything else on this issue that requires work.

Linux machines to be worked through #7429

[2019-10-18 14:31] pshipton commented on #5074
As per https://github.com/eclipse/openj9/pull/7499, we are statically linking libc++

[2019-10-18 14:35] zl-wang commented on #5074
you meant the xlc16 build link you gave above is supposed to be built with static linking already?

[2019-10-18 14:37] pshipton commented on #7432
Testing Windows https://github.com/eclipse/openj9/pull/7430#issuecomment-543776287

[2019-10-18 14:39] jdekonin commented on #7450
Rebooted and machine appear to be connected to jenkins again.

[2019-10-18 14:44] pshipton commented on #5074
No, my earlier build wasn't statically linked. We are delivering a change to statically link in future builds. I'll provide a link to the build when it's ready.

[2019-10-18 15:31] ymanton commented on #7459
The old Hints API had (what looks very much like) a bug that caused us to not update hints unless the incoming hint was a failed validation hint. I'll try to trace the origins of this bit of code later, but it's been in OpenJ9 since day one.

https://github.com/eclipse/openj9/blob/fc0de283a29b33d73813abc58d1fb52f65246dd7/runtime/compiler/env/VMJ9.cpp#L613-L618

The current code doesn't do this; it

[2019-10-18 15:54] VermaSh commented on #4384
It looks like those instructions are generated as a result of [neither child being constant](https://github.com/VermaSh/openj9/blob/master/runtime/compiler/z/codegen/J9TreeEvaluator.cpp#L3390).

Next step will be to identify and implement peephole optimizations.

[2019-10-18 16:37] pshipton commented on #5074
Here is a statically linked xlc 16 build https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK13_ppc64_aix_Personal/36/OpenJ9-JDK13-ppc64_aix-20191018-143648.tar.gz

[2019-10-18 16:49] pshipton commented on #7432
The build didn't work, but not obviously a machine problem this time. Keith will look at it.

[2019-10-18 16:54] #7450 closed

[2019-10-18 17:16] jdekonin commented on #7432
#7429 is a PR, didn't realize that at first; so I guess I'll use this issue as it is abstract is generic enough to include plinux. :)

[2019-10-18 17:57] JasonFengJ9 commented on #7500
#7507 added `JVM_GetExtendedNPEMessage` which just returns `NULL` which is going to allow `JDK 14` compilation.
This JVM method will be invoked by `NullPointerException().getMessage()`, an actual implementation is required.

[2019-10-18 18:13] pshipton commented on #5074
It's more than just the JIT which is linking to libc++ now, see https://github.com/eclipse/openj9/pull/7499#issuecomment-543867064, plus I don't think the JIT is statically linking properly yet, see https://github.com/eclipse/openj9/pull/7499#issuecomment-543864380

[2019-10-18 18:43] mpirvu opened #7508 "Turn off all JIT hooks in JITServer mode"
None of the JIT hooks are needed in JITServer mode because only the compiler part should be active. Thus, any such hooks should be turned off.

[2019-10-18 18:48] r30shah commented on #7300
From the investigation internally found the root cause of the failure.
Problem lies in the following piece of the code.
https://github.com/eclipse/omr/blob/38f103bba7f41fd5e85ccedd9b7ac2f01f5cea53/compiler/il/OMRBlock.cpp#L1166-L1180
Basically function from the above code creates a symbol reference with correct flags on it. But it was missing one case.
To highlight how these failed pasting a snipp

[2019-10-18 19:03] sophia-guo commented on #5315
Without re-include the test this can be easily verified by running with a grinder with target = jdk_custom and Running a grinder with target jdk_custom and custom_target = jdk/test/java/lang/StringBuilder/Supplementary.java

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/853/console

[2019-10-18 20:05] sophia-guo commented on #5315
Seeing 1/200 failure rate
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/854/console

[2019-10-18 21:02] pshipton commented on #7331
Please install https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK13_ppc64_aix_Personal/31/OpenJ9-JDK13-ppc64_aix-20191016-215625.tar.gz as the AIX jdk13 boot JVM.

It's an Oct 13 head stream build compiled with xlc 13, passed all the functionality and system tests.

https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/77/
OpenJ9: 6a6e855 derived

[2019-10-18 21:07] JasonFengJ9 opened #7514 "Windows IA32 80 SVT_Apps_1.SVT_Octane : NPE at java.lang.invoke.BruteArgumentMoverHandle.permuteArguments(BruteArgumentMoverHandle.java:286)"
Failure link
------------

[code]

Optional info
-------------

- intermittent failure (yes):

Failure output (captured from console output)
---------------------------------------------

[code]

Not reproduced in a 10x grinder.

[2019-10-18 21:20] JasonFengJ9 opened #7515 "jdk_math_jre_0_FAILED Error: JDK not found"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Release/1/consoleFull

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-10-18 21:55] AdamBrousseau commented on #7331
Done

[2019-10-19 11:33] pshipton commented on #7020
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64le_linux_Nightly/548

[2019-10-19 11:53] pshipton commented on #7515
@smlambert mentioned: this test is there to verify that the jre builds at adopt ‘work’. But at OpenJ9 we don't archive the JRE build for jdk8, and I don't think we build it for jdk11+.

[2019-10-19 12:08] pshipton commented on #7248
The blocker is resolved.

[2019-10-19 13:17] avermeer opened #7516 "OpenJ9 MSI Installer show GNU v2 (+GNU with classpath exception) license instead of EPL v2.0 & Apache License v2.0"
Hello,

I have tried for the first time to install OpenJ9 using the MSI Installer provided at this place:
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u232-b09_openj9-0.17.0/OpenJDK8U-jdk_x64_windows_openj9_8u232b09_openj9-0.17.0.msi

(this is the default link when one opens the download page for OpenJ9 at https://adoptopenjdk.net/?variant=openjdk8&jvmVariant=openj9)

I

[2019-10-20 03:25] ymanton commented on #7459
I came to the wrong conclusion above. That code will skip updates if the hint we want to add is already there, unless it's a failed validation hint, in which case it will update just the count.

I went back and looked at the verbose logs and noticed that we sometimes wrote hints that had no relation to the hints we intended to write or wrote previously. For example:

[code]

In this case it's not

[2019-10-20 12:41] knn-k opened #7518 "Build failure with J9ClassEnv.cpp"
Two calls to `inROMClass()` in `J9::ClassEnv::getROMClassRefName()` cause a build failure when you enable `TR_ASSERT()` as shown below:

[2019-10-20 13:18] pshipton commented on #7500
#7507 was merged and then reverted because it broke Windows compilation on jdk8, 11, 13

[2019-10-20 13:25] pshipton opened #7520 "Could not instantiate {delegate={$class=Xvfb, autoDisplayName=true}}"
Trying to run sanity.openjdk testing

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/1
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_xl_Nightly/1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_xl_Nightly/

[2019-10-20 13:26] pshipton commented on #7520
This doesn't occur on other platforms
@llxia @smlambert @jdekonin @AdamBrousseau

[2019-10-20 13:28] pshipton commented on #7515
@smlambert can we exclude this test in the OpenJ9 runs?

[2019-10-20 13:32] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/1
[code]

[2019-10-20 13:34] pshipton opened #7521 "sanity.openjdk native_sanity"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/1
`Use -nativepath to specify the location of n

[2019-10-20 13:35] pshipton commented on #7521
@llxia @smlambert what do we need to do to setup these tests properly?

[2019-10-20 13:40] pshipton opened #7522 "sanity.openjdk Windows Access is denied"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_windows_Nightly/1
[code]
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-32_windows_Nightly/1
[code]

[2019-10-20 13:40] pshipton commented on #7522
@llxia @smlambert @jdekonin @AdamBrousseau
any ideas?

[2019-10-20 13:55] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_s390x_linux_Personal/44
DaaLoadTest_daa1_special_22

[2019-10-20 14:16] smlambert commented on #7515
We can exclude by implementation but not by CI server.  At the moment if I exclude it, it will be excluded at AdoptOpenJDK also.

If you are building against nightly builds pulled from AdoptOpenJDK API, maybe should just additionally grab the JRE build at the same time.

Will think about ways to deal with it, other than the 2 mentioned above.

[2019-10-20 14:50] smlambert commented on #7520
This Jenkins server does not have the xvfb plugin installed.  Created this https://github.com/eclipse-cbi/jiro/pull/61 which should resolve this issue.

[2019-10-20 15:12] keithc-ca commented on #7432
The relevant part of the jdk11 build log [1] is this:
[code]
The first line quoted above should say
[code]
The configuration script uses `cygpath -m -s` which should have shortened the "Program Files" segment to "PROGRA~1" (which is then converted to lower-case).
Perhaps the version of `cygwin` is out-dated?

[1] https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_windows_Personal/311/

[2019-10-20 16:16] smlambert commented on #7521
These tests use the openjdk native test libs (built and available from AdoptOpenJDK, related https://github.com/AdoptOpenJDK/openjdk-build/pull/1251).  Presumably those native test images are also being built at OpenJ9 (if the builds scripts run 'make all'), just not being archived anywhere for retrieval.

<img width="537" alt="Screen Shot 2019-10-20 at 12 14 11 PM" src="https://user-images.github

[2019-10-20 16:19] smlambert commented on #7522
Do we know if these OpenJ9 windows machines are configured same as Adopt and internal machines (re: cygwin, bash and Jenkins user access?)

[2019-10-20 19:14] a7ehuo commented on #7518
Will remove the `TR_ASSERTs` for now.  `TR_ASSERTs` are added in #7292 but `inROMClass()` is not declared/defined for `ClassEnv`.

[2019-10-20 21:12] tommyettinger opened #7525 "Performance (time) regression starting in OpenJ9-0.16.0, not a problem in 0.15.1"
Java -version output
--------------------

I'm on Windows 7 with a 6th-gen i7 quad mobile processor and 16GB DDR4 RAM.

This version shows the regression:

# "C:\Program Files\AdoptOpenJDK\jdk-13.0.0.33-openj9\bin\java.exe" -version
openjdk version "13" 2019-09-17
OpenJDK Runtime Environment AdoptOpenJDK (build 13+33)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.16.0, JRE 13 Windows 7 amd64-64-B

[2019-10-21 00:48] DanHeidinga commented on #7525
fyi @andrewcraik

[2019-10-21 02:29] tommyettinger commented on #7525
Are there any general tips for how this could be tracked down (on my end or by an OpenJ9 dev)? I suspect this kind of performance drop doesn't happen often, because using released versions in the past hasn't resulted in any unexpected regressions. I say unexpected because going from Java 8 to Java 9 on Hotspot typically slows down everything a little, and I think the same was true for OpenJ9 to a

[2019-10-21 02:52] smlambert commented on #7525
@tommyettinger - I would like to suggest adding your benchmark to the set of [bumblebench tests](https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/perf/bumbleBench) being added at AdoptOpenJDK (see https://github.com/AdoptOpenJDK/openjdk-tests/pull/1393 and https://github.com/AdoptOpenJDK/openjdk-tests/pull/1380 for similar).  We will begin to run those test targets regularly and hopefully

[2019-10-21 03:10] pshipton commented on #5074
Seems jdk14 no longer supports compilation with xlc 13
`configure: error: xlclang++ version output check failed, output: /home/u0020236/workspace/Build_JDKnext_ppc64_aix_Personal/build/.configure-support/generated-configure.sh: line 40731: xlclang++: command not found`

[2019-10-21 03:11] #7331 closed

[2019-10-21 03:27] pshipton commented on #7521
@AdamBrousseau @jdekonin

[2019-10-21 03:31] pshipton commented on #7521
We have the native-test-libs.tar.gz archived with every build and specified as part of the CUSTOMIZED_SDK_URL. It's working for functionality tests. Seems something needs to be done to specify `-nativepath`.

[2019-10-21 03:35] Akira1Saitoh opened #7528 ""vTableSlot called for unresolved method" assertion hit in optimization phase"
`vTableSlot called for unresolved method` assertion is hit when compiling `com/sun/org/apache/xerces/internal/utils/XMLSecurityManager.getSystemProperty(Lcom/sun/org/apache/xerces/internal/utils/XMLSecurityManager$Limit;Ljava/lang/String;)Z` with optLevel=warm in aarch64.
 https://github.com/eclipse/openj9/blob/5c091e801ab1429666335b8a2d1a71da7c828a9d/runtime/compiler/env/j9method.cpp#L6289

[code

[2019-10-21 03:44] pshipton commented on #7515
I don't want to test against Adopt builds, but against the latest OpenJ9 build created at the OpenJ9 project.

[2019-10-21 04:04] pshipton commented on #7516
@avermeer OpenJ9 itself is Eclipse/Apache licensed, but the builds are OpenJDK + OpenJ9 and OpenJDK is GPL V2 and GPL V2 with Classpath exception, plus other licenses.

Any problem with the installer should be reported to the AdoptOpenJDK.net project.
https://github.com/AdoptOpenJDK/openjdk-build/issues

[2019-10-21 09:33] knn-k commented on #7462
#7501 implements the invokevirtual case.

[2019-10-21 12:47] DanHeidinga commented on #7528
fyi @knn-k @0xdaryl

[2019-10-21 13:00] sophia-guo commented on #7521
Yes, native-test-libs.tar.gz is only the functional(openj9) native test lib. These tests need openjdk native test libs. In AdoptOpenjdk openj9 build the testImage includes both functional native test libs and jdk native test libs.
<img width="585" alt="Screen Shot 2019-10-21 at 8 59 20 AM" src="https://user-images.githubusercontent.com/18030625/67207271-33936680-f3e1-11e9-95f6-6b16842be617.png">

[2019-10-21 13:05] smlambert commented on #7521
Yes, please note the difference between the test natives created as part of building openjdk test directory used by openjdk tests, versus the variety of openj9 test natives that are historically built and used by functional tests.

openjdk vs functional - 2 completely different groups of test material

[2019-10-21 13:38] #7518 closed

[2019-10-21 14:17] AlenBadel commented on #4930
A few things to update here.

Currently on Z the `[non]pageable` option needs to be passed in when using the following
`-Xlp:codecache:pagesize=<size>,[non]pageable`

The issue is that nonpageable large files are not supported on the Z codecache. I'll be making the change to by default using pageable large files within the codecache. After this change, the codecache size on Z can be specified like

[2019-10-21 14:18] M-Davies commented on #7115
@pshipton I've been digging through the old mercurial commits on rt-patch and found one that sets up the memory space available to AIX systems when building the launcher. This code should be in https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/cc4272e86c12e635710cca2a4c5833c37e398c7b/src/java.base/unix/native/libjli/java_md_solinux.c#L1 but isn't and I'm wondering if this is the cause.

It

[2019-10-21 14:20] M-Davies commented on #7115
I also found another potential cause at https://github.com/AdoptOpenJDK/openjdk-build/blob/0a03a3ecec069613e80150f75aedd43d2869d668/build-farm/platform-specific-configurations/aix.sh#L34 which sets `MAXDATA`to 0x80000000

[2019-10-21 14:23] adam-thorpe commented on #6035
jdk_net suite passes on an adopt 10.14 machine. https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/856/

[2019-10-21 14:49] M-Davies commented on #7412
FYI, `java/lang/reflect/AccessibleObject/TrySetAccessibleTest.java` fails the same way for JDK11/13-openj9 (uses hotspot `getDeclaredConstructor(ClassLoader.class, Class.class)`). Will perm exclude this too

[2019-10-21 14:51] pshipton commented on #7115
The doc says that LDR_CNTRL is specific to 32-bit, so I don't think that's it.

[2019-10-21 14:57] pshipton commented on #4930
I don't see why we need to add additional OpenJ9 specific options if `-XX:+UseLargePages` provides the additional behavior needed.

[2019-10-21 14:59] pshipton commented on #4930
Although I don't have any particular objection to adding `-Xlp:codecache` and `-Xlp:objectheap` if somebody is asking for this kind of control.

[2019-10-21 15:02] fjeremic commented on #7275
We are still working on tracking down this issue. It has been very problematic as the issue disappears as soon as we try to log anything. The timing is very sensitive. We are coming up with some ways of dealing with this at the moment.

[2019-10-21 15:08] adam-thorpe commented on #6035
All 5 of the above tests also fail on hotspot, so this does not seem to be a j9 issue @DanHeidinga.

https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/2808/
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/2810/

[2019-10-21 15:16] M-Davies commented on #7115
There is a 64-bit defined section within this file. This uses ulimit and a `rlimit64` struct to organise the memory (https://www.gnu.org/software/libc/manual/html_node/Limits-on-Resources.html). Will start picking this apart to make sure I haven't missed anything there

[2019-10-21 15:24] M-Davies commented on #7115
64-bit appears to be normal too. Program gets the current limit and maximum limit of data (using `RLIMIT_DATA`), checks if it is infinite and if not, attempts to set it to infinite. Failure of this results in a warning that a hard ulimit hasn't been set to infinite and out of memory errors may occur. Will keep digging.

[2019-10-21 15:35] dmitripivkine commented on #4930
This change should NOT change current behaviour for -Xlp:objectheap:*

[2019-10-21 15:47] ChengJin01 commented on #5058
Looking at the assembly code in
[code]

[2019-10-21 15:57] andrewcraik commented on #7525
I have setup a bumblebench based on the supplied code and I have measured the performance with the Java 8 0.15.1 and 0.17 builds since this covers something close to the latest-and-greatest and the known good level reported for jdk12 while holding the Java language level and other variables constant across the releases. I can see a drop in performance of around 20% to 25% between the two releases

[2019-10-21 16:01] mpirvu commented on #7072
Those two messages have disappeared now, so this issue is fixed.

[2019-10-21 16:01] #7072 closed

[2019-10-21 16:09] DanHeidinga commented on #6035
Thanks @adam-thorpe.  From an OpenJ9 perspective, we can close this issue.

This should be reported on the OpenJDK mailing lists to highlight the issues with the tests.  Ideally with a patch to fix the issue.

Creating an issue at Adopt in one of the test repos to coordinate the investigation would be a good starting point while root cause is being determined.  I'll leave that in your hands @adam-

[2019-10-21 16:09] #6035 closed

[2019-10-21 17:06] pshipton commented on #7516
Copying the license from an OpenJ9 file below. Note the second paragraph.
[code]

[2019-10-21 17:35] pshipton commented on #7300
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/180
[code]

[2019-10-21 17:36] andrewcraik commented on #7525
Ok I've found it - in 0.15.1 we were generating some sqrtsd instruction for StrictMath.sqrt while we are not doing that for 0.17 - clearly a big problem. We'll need to see what happened in the codegen. FYI @fjeremic @simonameng @dchopra001 @SajinaKandy @BeverlyXu

I see https://github.com/eclipse/openj9/pull/6217 which looks related...

[2019-10-21 17:39] andrewcraik commented on #7525
My reproduction was with
[code]

which I just dropped into the math directory of a bumblebench clone and re-ran ant dist

[2019-10-21 17:39] andrewcraik commented on #7525
Note I dropped the maxIterationsPerLoop to boost throughput.

[2019-10-21 18:03] planetf1 opened #7539 "MacOS J9 11.0.5 Segmentation fault"
Java -version output
--------------------

penjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.5+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.17.0, JRE 11 Mac OS X amd64-64-Bit Compressed References 20191016_371 (JIT enabled, AOT enabled)
OpenJ9   - 77c1cf708
OMR      - 20db4fbc
JCL      - 2a7af5674b based on jdk-11.0.5+10)

Summary of problem
------------

[2019-10-21 18:05] planetf1 commented on #7539
Unfortunately I don't have any specific test code, it's from a larger application with a typical complexity of moving parts (especially spring - which is slightly back level).

[2019-10-21 18:06] planetf1 commented on #7539
Note the reflection warning is known ( https://github.com/odpi/egeria/issues/1156 )

[2019-10-21 18:08] pshipton opened #7540 "jenkins build failures - No such property: RUNTEST_CMD for class: groovy.lang.Binding"
Many (21+) tests "failed" Sunday night due to the following jenkins exception.

https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_linux_xl_Nightly/72
[code]

[2019-10-21 18:11] #7540 closed

[2019-10-21 18:30] pshipton commented on #7115
I expect a link option to set the preferred base address of the code. In #7458 Julian mentioned `-T` or `-bpT`

[2019-10-21 18:32] pshipton commented on #7458
What is the location used for IBM Java 8?

[2019-10-21 18:35] pshipton commented on #7115
Maybe we could move the discussion about AIX to the AIX specific issue #7458

[2019-10-21 18:38] pshipton commented on #7432
@jdekonin any comment on Keith's reference to using an outdated version of cygwin? What version are we using? @keithc-ca what version did you test with?

[2019-10-21 18:41] AlenBadel commented on #4930
Do you not agree that mapping should be just that, mapping? The functionality doesn't exist on OpenJ9 to automatically detect and use the largest page size to be used within the codecache. There's no reason in my opinion to introduce new functionality just to be used with a Hotspot option.

What you're suggesting is to parse `-XX:+UseLargePages` just as we parse `-xlp:codecache:` inside J9Options.

[2019-10-21 18:41] pshipton commented on #7521
@jdekonin we need to include the openjdk directory in the native-test-libs.tar.gz

[2019-10-21 18:43] AlenBadel commented on #4930
Are you suggesting that we shouldn't change the current behaviour at all, or create another issue for this?

To apply symmetry if `-Xlp:codecache` uses the largest avaialble large page size then it would be nice that`-xlp:objectheap` does the same.

[2019-10-21 18:43] zl-wang commented on #7458
you meant the launcher text? it has been always 0x100,0000,0000 (i.e.  !TB  address).
plus, a reminder:  the linker option can only accept values between 1TB  and  (1TB+256MB).

[2019-10-21 18:49] mpirvu opened #7543 "Excessive JIT Scratch memory for cheap cold/noopt compilations"
Even the smallest cold compilation consumes more than 700MB of scratch memory and the smallest no-opt compilation consumes more than 500MB.
We would like to understand if this amount of memory is warranted and reduce it if possible.
Note: the amount of JIT scratch memory is reported by the verbose logs when using `-Xjit:verbose={compilePerformance}`

[2019-10-21 18:50] mpirvu commented on #7543
FYI @ashu-mehra

[2019-10-21 19:01] gita-omr commented on #4930
I think what @AlenBadel is saying is that introducting -Xlp:codecache and -Xlp:objectheap  will help implement the mapping. This is because of the way mapping works right now: all -XX OpenJDK options are replaced with the string representation of the corresponding -X OpenJ9 options in a separate pass. Then, those -X options get processed.

Since -XX+UseLargePages does not have corresponding OpenJ9

[2019-10-21 19:19] pshipton commented on #4930
`-XX:+UseLargePages` doesn't need to be a mapping. We don't need to think of it as a "Hotspot option". But anyway, I don't have any objection to `-Xlp:codecache` and `-xlp:objectheap`. Agree we need to have symmetry.

[2019-10-21 19:21] pshipton commented on #4930
Not all -XX: options are mappings, so they aren't all parsed in one place. Some -XX: options are specific to OpenJ9, and some are common between Hotspot and OpenJ9.

[2019-10-21 19:22] pshipton commented on #4930
General guidance is that any new OpenJ9 options should use the form -XX: to be consistent with Hotspot.

[2019-10-21 19:35] smlambert commented on #7515
The short answer is that then OpenJ9 should archive the JRE that it builds, longer answer is we break that test out from the sanity set and run it as 'special' at Adopt, will need to think about this (and any complications it may introduce - fyi @sophia-guo).

[2019-10-21 19:46] pshipton commented on #7515
Archiving the JRE would consume more space, for something we don't really need. Moving stuff between the build machines and artifactory will take extra time, slowing down the builds. It's built for jdk8 but not sure it's already built for jdk11, adding it would slow down the builds a little.

[2019-10-21 19:58] pshipton opened #7545 "win2012r2-x86-2 is offline from jenkins"
Restarting the jenkins agent doesn't work.
[code]

[2019-10-21 19:58] pshipton commented on #7545
@AdamBrousseau @jdekonin pls try a reboot

[2019-10-21 19:59] AlenBadel commented on #4930
Thanks for clearing that up.

If this is the case then I'll directly parse `-XX:+UseLargePages` rather than mapping it to reduce complexity.

[2019-10-21 20:03] smlambert commented on #7515
Yep, I am going to look at shifting it into special.openjdk target.  Need to make an update to build scripts at Adopt to add that top-level target and make sure that we still pick up jre from upstream build etc, but it will mean it will no longer be present in the sanity.openjdk target that you now want to run at the OpenJ9 project (and so will not fail as it won't get run here).

[2019-10-21 20:04] AdamBrousseau commented on #7545
Done

[2019-10-21 20:12] pshipton commented on #7545
online now.

[2019-10-21 20:12] #7545 closed

[2019-10-21 22:53] dmitripivkine commented on #4930
shouldn't change the current behaviour at all

[2019-10-21 23:03] keithc-ca commented on #7432
[code]
It's also possible that a short name doesn't exist for `C:\Program Files` - we can check with `dir/x`:
[code]
A third possibility is that the root directory is not readable by the build userid. [1] says

[1] https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-getshortpathnamew

[2019-10-21 23:46] dmitripivkine commented on #4930
There is my vision how handling for `-XX:LargePageSizeInBytes=<size>` implementation:
- Do NOT use any mapping API for this option at ALL!
- Parse option in VM code (where other `-XX` options are parsed) without CONTEXT - parameter should be unsigned decimal. Handle possible incorrect input. If parsed properly, store the numeric value as `uintptr_t` as well as POSITION of parameter in Java command

[2019-10-22 03:56] pshipton opened #7547 "jdk8 windows cmdLineTest_J9test_SE80_0 -Xjit:count=0 hangs"
Causing the functionality suite to hang.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_OMR/315
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_OMR/316
[code]

[2019-10-22 05:31] tommyettinger commented on #7525
Woah, nice work @andrewcraik ! I wouldn't have expected that the difference could be so significant purely from one hardware-vs-software sqrt call, since it's called only once before a branching section that seems like it should take more time. Looking at my globe projection code, I also call `Math.sqrt()` an extra time per projected pixel, which means software sqrt would slow down both the asin()

[2019-10-22 10:45] adamfarley commented on #7053
OpenJDK Bug raised: https://bugs.openjdk.java.net/browse/JDK-8232773

[2019-10-22 12:45] pshipton opened #7548 "xlinux DaaLoadTest_all_special_22 UnknownFormatConversionException"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/560
DaaLoadTest_all_special_22
variation: Mode687
JVM_OPTIONS: -Xcompressedrefs -XX:+UseCompressedOops -Xjit -Xgcpolicy:gencon -Xaggressive
[code]

[2019-10-22 12:49] #5605 closed

[2019-10-22 12:53] pshipton commented on #7547
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_Nightly/175

[2019-10-22 13:01] JamesKingdon commented on #7539
I haven't looked at a Java11 crash before, nor a Mac one. It seems 'odd', the javacore suggests we dereferenced null, but also that we jumped to 0. Looks like it was the main thread, and the RAS is unable to provide the stack:

[code]

[2019-10-22 13:41] fjeremic commented on #7525
@simonameng and I are looking at the issue actively. As Andrew suspected the likely cause is #6217 which we'll confirm today and investigate what went wrong.

[2019-10-22 13:58] pshipton commented on #5238
Fixed by #7465

[2019-10-22 13:58] #5238 closed

[2019-10-22 14:01] llxia commented on #4364
Since we switched to TKGJ, close this issue as fixed

[2019-10-22 14:01] #4364 closed

[2019-10-22 14:18] pshipton opened #7549 "Interrupted jenkins builds may retry and continue"
After cancelling a build, the jobs get interrupted, however they may just retry and continue, wasting valuable machine time.
[code]

[2019-10-22 14:44] 0xdaryl commented on #5455
Enable prefetchInsertion optimization.  Requires backend support for prefetch instructions.  AArch64 eclipse/omr#4494, ARM32 eclipse/omr#4495

[2019-10-22 14:49] dmitripivkine commented on #4930
AIX has largest available page size 16g and it is NOT we want to use as default

[2019-10-22 15:15] pshipton commented on #7547
Seems caused by #7454

[2019-10-22 15:23] 0xdaryl opened #7550 "Outlined new allocation support?"
There are remnants of support for outlined new allocations throughout the OpenJ9 (and OMR) JIT:

1.  X86 : some remnants of old helpers in OMR only.  Looks like this was ripped out at some point.
2.  Power : "enabled" pre-Power 8 for OptServer, disabled on Power 8 and beyond
3.  Z : "disabled for now" is the comment, which is several years old.
4.  ARM/AArch64 : never implemented

So at the moment

[2019-10-22 15:25] jonoommen opened #7552 "Add a new GC Scavenger Scan Ordering - Dynamic Breadth First Scan Ordering"
Currently in OMR there exists two scavenger scan orderings which determine the order in which objects are scanned and copied during a garbage collection. These two that currently exist are: OMR_GC_SCAVENGER_SCANORDERING_BREADTH_FIRST and OMR_GC_SCAVENGER_SCANORDERING_HIERARCHICAL.  Hierarchical scan ordering is much more complex than breadth first scan ordering and is also more performant. With th

[2019-10-22 15:25] llxia commented on #2944
Close this issue as it is resolved.

[2019-10-22 15:25] #2944 closed

[2019-10-22 15:26] jonoommen commented on #7552
[comparison-condensed.pdf](https://github.com/eclipse/openj9/files/3756721/comparison-condensed.pdf)

[2019-10-22 15:33] vijaysun-omr commented on #7550
I doubt this will be worth anything on today's cpus with improved cache characteristics. I would be fine with removing it.

[2019-10-22 15:40] gita-omr commented on #7550
If it's only in pre-Power 8 I am fine with removing it. But could you please remind me what exactly it does? Thanks.

[2019-10-22 15:56] 0xdaryl commented on #7550
My recollection is that it was an i-cache saving optimization that moved many of the instructions that the JIT would normally inline to allocate an object into a helper that could be shared across multiple allocation sites.  This is an optimized sequence and still faster than calling the full VM helper to figure out how to do the allocation.  But someone correct me if I'm wrong.

[2019-10-22 16:19] fjeremic commented on #7550
I also agree we can remove this. The benefit of outlining such a sequence is unlikely to give measurable performance benefit.

[2019-10-22 16:51] 0xdaryl opened #7555 "Remove deprecated outlined allocations from Power and Z"
Outlined allocations in the JIT are a deprecated feature that is no longer useful.  Remove remnants of it from the Power and Z code bases:

* In the Power code generator:
   1.  Remove relevant code around https://github.com/eclipse/openj9/blob/16ad648326120c4eca320b25008bfab2521c8eca/runtime/compiler/p/codegen/J9TreeEvaluator.cpp#L7400
   2.  Remove `outlinedNewHelperEvaluator` implementation
htt

[2019-10-22 16:52] 0xdaryl commented on #7550
Thanks for your input.  I created a new beginner issue #7555 to track this removal.  Closing this now.

[2019-10-22 16:52] #7550 closed

[2019-10-22 17:28] pshipton commented on #7547
Change reverted by #7551

[2019-10-22 18:24] dmitripivkine commented on #7486
@LinHu2016 Would you please update code to scan all types of elements in CP in Scavenger for Java 11? Also would you please do general performance measure to know what cost of CP iteration is for Scavenger?

[2019-10-22 19:32] LinHu2016 commented on #7486
@dmitripivkine Sure.

[2019-10-22 19:35] pshipton commented on #7547
The revert fixed the problem.

[2019-10-22 19:35] #7547 closed

[2019-10-22 20:01] AdamBrousseau commented on #7549
Yes, I've known about this for a while and had it in the back of my mind I would fix these some day. Thanks for opening the issue. I never actually dug into one of these before now but the one you have quoted was killed before it got to our script. I.e. It was doing the initial SCM checkout on Jenkins master to load the pipeline script.

https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_windo

[2019-10-22 20:07] #7197 closed

[2019-10-22 20:15] jdekonin commented on #7432
[code]

Short name doesn't exist on win2012r2-x86-1.

[code]

[2019-10-22 20:46] AdamBrousseau commented on #7549
A workaround would be to set the value to zero so there are no retries on SCM checkout.

[2019-10-22 22:01] andrewcraik commented on #7525
Added the power tag based on the diff of the commit in #6217 it looks like power has the same problem.

[2019-10-22 22:26] simonameng commented on #7525
@andrewcraik @fjeremic  We think the problem is that in #6217, I tried to transform `StrictMath.sqrt` and `Math.sqrt` to `dsqrt` when `getSupportsHardwareSQRT` returns `true`. In that case, `inlineMathSQRT` won't be needed. So I deleted the `inlineMathSQRT` function on Z and X86 (Power doesn't have that function). However, I missed the fact that on X86 and Power, `getSupportsHardwareSQRT` will ret

[2019-10-22 22:31] andrewcraik commented on #7525
I think I was mistaken about Power so I'm removing the tag.

[2019-10-22 23:51] keithc-ca commented on #7432
There is API to create the short name after the fact: [1], and it's available via the `fsutil` tool, [2].
[code]
[1] https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-setfileshortnamea
[2] https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/fsutil-file

[2019-10-23 00:43] jdekonin commented on #7521
Where/how are these natives located/generated in JDK8?

[2019-10-23 01:17] JasonFengJ9 opened #7562 "NPE at java.lang.invoke.InnerClassLambdaMetafactory.buildCallSite(InnerClassLambdaMetafactory.java:238)"
Failure link
------------

java version "1.8.0_231"
Java(TM) SE Runtime Environment (build 8.0.6.0 - pwa6480sr6-20191014_01(SR6))
IBM J9 VM (build 2.9, JRE 1.8.0 Windows Server 2016 amd64-64-Bit 20191022_430761 (JIT enabled, AOT enabled)
OpenJ9   - dcf5cce
OMR      - 20b4827
IBM      - ae1a7e3)
JCL - 20191009_01 based on Oracle jdk8u231-b10

Optional info
-------------

- intermittent failure (yes

[2019-10-23 01:22] smlambert commented on #7521
jdk8 is different than jdk10+ builds

in jdk8 'make all' would build test native libs, in jdk10+ explicit make target to build them 'make test-image' and new requirement to use cmdline option -nativetestpath to run them

I presume details are in the various readme's off of http://openjdk.java.net/groups/build/ and by looking at the makefiles in the extensions repo

[2019-10-23 01:41] smlambert commented on #7521
@pshipton - in the immediate term, I was thinking to shift this jdk_native_sanity target to the 'special' level, along with jdk_math_jre target (discussed in different issue) so neither test target would be executed in the OpenJ9 (which only runs 'sanity' and 'extended' levels).

Longer term, it is still a good idea for this to be resolved by building the openjdk test images at OpenJ9.

[2019-10-23 03:50] pshipton commented on #7521
Note we didn't get failures in jdk8 testing, the failures were in jdk11. It seems the problem is we need to run 'make test-image' in addition to `make all`. Seems easy enough to fix.

[2019-10-23 04:49] smlambert commented on #7521
ok, for now I will just move the jre testing to special unless I hear differently in this issue

[2019-10-23 10:19] raphw opened #7565 "Segmentation error on agent attachment"
Java -version output
--------------------

openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.5+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.17.0, JRE 11 Linux amd64-64-Bit Compressed References 20191016_358 (JIT enabled, AOT enabled)
OpenJ9   - 77c1cf708
OMR      - 20db4fbc
JCL      - 2a7af5674b based on jdk-11.0.5+10)

Summary of problem
--------------

[2019-10-23 12:29] #7436 closed

[2019-10-23 12:33] llxia commented on #7436
The test is fixed by #7530. It should pass on internal windows.

[2019-10-23 14:21] a7ehuo opened #7567 "Intermittent JITServer crash while running sanity test in Java 11"
Observed intermittent JITServer crash while running sanity test in Java 11.

It happens intermittently with sanity `JCL_Test_0/1` tests.

[code]

[code]

[code]

[2019-10-23 14:27] pshipton opened #7568 "xLinux Corruption in Evacuate Assertion Scavenger.cpp:1371"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/182
SharedClasses.SCM01.MultiThreadMultiCL_0
[code]

[2019-10-23 14:29] pshipton commented on #7568
Actually, this is similar to https://github.com/eclipse/openj9/issues/7300#issuecomment-544624296, I'll use that Issue and close this.

[2019-10-23 14:29] #7568 closed

[2019-10-23 14:29] pshipton commented on #7300
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/182
SharedClasses.SCM01.MultiThreadMultiCL_0
[code]

[2019-10-23 18:33] a7ehuo commented on #7567
On the JITServer side, looks like `TR_J9MethodBase::parseSignature()` could call  `jitParseSignature()` when `signatureLength() == 0`.  `jitParseSignature()` is not handling the case when the signature length is `0`. The following `while` loop would go on forever and eventually cause stack overflow.

[code]

[2019-10-23 18:54] mpirvu commented on #7567
I don't think that signatureLength() can ever be 0 because it includes the return type

[2019-10-23 19:53] tajila commented on #7565
The crash occurs in `fixUnsafeMethods` specifically at https://github.com/eclipse/openj9/blob/master/runtime/vm/classsupport.c#L1538.

`							bytecodes[pc] = JBinvokespecial;`

The class being defined is an anonymous class. The bytecode value  at that `pc` can be read, but the issues seems to be writing to that address

[2019-10-23 21:18] ChengJin01 commented on #5058
For the system dump issue, the exception from jdmpview indicates it failed to recognized the file format:
[code]
against the code at:
[code]
Looking at the code that verifies the file format in `ELFDumpReaderFactory.testDump()`:
[code]
for `ELFFileReader`, the idea of verifying the core file format is: it reads the first 2048 bytes out of the specified core file and directly checks the first 4 byt

[2019-10-24 01:51] Zilacon opened #7578 "Newer version of OJ9 does not work with many minecraft mods."
Hello, Ive been using the April 17th OJ9 for my MC servers for a while now and wanted to update to the newest version (This is on Java 8, OJ9 for VM) and upon updating several servers just permalocked and needed to be killed to shutdown. We have narrowed them down to these mods:

- Gendustry 1.6.4-135 for 1.7.10
- MagicBees 2.4.4 for 1.7.10
- BiomesOPlenty 2.1.0.2308 for 1.7.10
- Binnie-Mods 2.0.2

[2019-10-24 02:18] pshipton opened #7579 "AIX libc++ & xlc 16: investigate the relative library paths"
Related to #5074, the libraries that use libc++ need to statically link them (or not link with libc++ at all).  For example libj9vm29.so below.
Besides j9vm, other libraries are also linked to libc++: dmp, gc, gcchk, shr, vrb.
See #7499 for how the JIT does it.
Some of the paths don't look ideal either.
[code]

compare that to jdk13 when linked with xlc 13
[code]

[2019-10-24 05:52] DanHeidinga commented on #7579
We'll also want to do footprint measurements to compare the old vs new binary sizes.  Hopefully statically linking libc++ doesn't increase footprint substantially.

[2019-10-24 06:06] DanHeidinga commented on #7579
While looking into this, I ran across this IBM APAR for AIX that provides details on how to install libc++: https://www-01.ibm.com/support/docview.wss?uid=swg1IJ12155

An alternative to statically linking libc++ everywhere is to require that APAR to have been installed to use OpenJ9 on AIX.

[2019-10-24 06:12] DanHeidinga commented on #7578
@Zilacon Are you able to capture some diagnostics from the JVM?  Sending `kill -3 <pid>` should result in javacores and system cores being generated.

For "hung" applications, we usually suggest generating diagnostic files a minute apart so can ensure they are completely hung versus moving slowly.

The files can be shared either here or posted to dropbox / box / google drive / etc.

[2019-10-24 06:34] DanHeidinga commented on #7565
@tajila Is the anonymous class in the SCC?  There were recent changes to allow them to be cached which may be interacting poorly with the `fixUnsafeMethods()` call.  It may need to occur earlier if the classes are to be cached.

[2019-10-24 12:02] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly/180
DaaLoadTest_daa1_0
[code]

[2019-10-24 12:03] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_windows_Nightly/76
UpgradeModPathTest_ExpDir_0

[2019-10-24 13:29] pshipton commented on #7578
`kill -3 <pid>` doesn't kill the process, -3 is SIGQUIT which the JVM treats as a user signal. The default behavior of the user signal is to create a javacore file and continue running. A couple of these one minute apart might help diagnose why the process is "locked up".

If it turns out we need a system core as well, you'll have to run the JVM with `-Xdump:system:events=user` in order for `kill

[2019-10-24 14:51] theresa-m commented on #7332
The ludcl optimization assumes that during the time ludcl is cached user code is not touched. However there are several places in `java.io.ObjectInputStream` where serialization read methods are invoked, and these methods may be implemented by a user.
Wildfly exposed that flaw with a readObject method that switches classloaders when called https://github.com/wildfly/wildfly/blob/3f2e4701fbc5d28140

[2019-10-24 16:02] hzongaro opened #7584 "NullPointerException calling Object.equals(Object) for two Integer objects"
The following program often yields a `NullPointerException`:

[code]

when run with the option `-Xjit:{Foo.main*}(dontInline={Foo.run*})`

[2019-10-24 17:18] hzongaro commented on #7584
The problem lies in Escape Analysis.  With `traceEscapeAnalysis` for `Foo.run`, we see this at veryHot optimization level:

[code]

Before that pass of EA, we have

[code]

and after,

[code]

Notice that the reference to `vft-symbol` is replaced with the temporary field, `#415`.  But that temporary is only ever initialized with a null pointer, which ultimately leads to the `NullPointerException`.

[2019-10-24 17:54] ashu-mehra commented on #2312
@siruslan I am trying to summarise the discussion on slack https://openj9.slack.com/archives/C8312LCV9/p1568771742039800 related to this issue. Please feel free to correct me if anything is wrong or add your comment here:

When running the application https://github.com/jelastic/java-vertical-scaling-test/blob/master/src/com/jelastic/verticalscaling/Load.java with following parameters -`XX:+IdleTu

[2019-10-24 19:12] tajila commented on #7565
@DanHeidinga Yes the romClass is in the SCC. We'll need to modify this path for anonClasses.

[2019-10-24 19:57] ChengJin01 commented on #5058
The failing test cases in `VmArgumentTests_0` are as follows:
[code]
By adding messages to print out the specified arguments and error ouput, it turns out these two tese cases are specific to JIT which should be excluded in our case:
[code]

[2019-10-24 20:17] pshipton commented on #7579
@zl-wang

[2019-10-24 20:24] pshipton commented on #7579
I note the OpenJDK library libfontmanager.so also needs libc++

[2019-10-24 20:28] zl-wang commented on #7579
yes, that (static linking to so many .so) would be a big concern for bloated footprint.  maybe, java13 and later need to pre-req that APAR Dan mentioned.

[2019-10-24 20:30] zl-wang commented on #7579
you need to install libc++.a and its dependency.  when I ran it, i just packed up xlC's usr/lib directory.  copy libc++.a alone didn't work.

[2019-10-24 20:55] a7ehuo commented on #7567
It's a case that occurs at the JITServer when `TR_ResolvedJ9JITServerMethod::getResolvedPossiblyPrivateVirtualMethod()` is called and at the time, the signature might not have been stored in `romMethodRef` at the server.

Running tests with the fix from the commit 54a0f18ba, observing intermittent crash as below.

[code]

[2019-10-25 02:09] pshipton commented on #7248
Fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/145

[2019-10-25 02:09] #7248 closed

[2019-10-25 09:06] JBertaux opened #7591 "Breakpoint is not recognized in a try with resources on return statement"
Java -version output
--------------------
[code]
Summary of problem
------------------
When I put a breakpoint on a return statement in a try with resources this breakpoint is not recognized and so it does not stop on the breakpoint. When I change to HotSpot in the same version 11.0.4, it stops at the breakpoint.
I use IntelliJ IDEA 2019.2.3 (Ultimate Edition).
I tried with the parameters `-Xnojit

[2019-10-25 10:23] JonDGH commented on #7503
Hi Dan,

Thanks for your response.  I finally got the go-ahead to upload these files, they can be found here:

https://github.com/JonDGH/j9-aix-oom

Regards,
Jon

[2019-10-25 10:53] adam-thorpe opened #7592 "JTReg Test Failure: java/rmi/dgc/retryDirtyCalls/RetryDirtyCalls.java"
Failure link
------------
Rebuild link: https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=openjdk&JenkinsFile=openjdk_x86-64_linux&CUSTOM_TARGET=test/jdk/java/rmi/dgc/retryDirtyCalls/RetryDirtyCalls.java&TARGET=jdk_custom_0

Version: JDK 11+
JVM: Openj9 only
Platforms: all

Optional info
-------------
- intermittent failure: yes
- regression or new test:

[2019-10-25 12:54] pshipton commented on #7300
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_xl_Nightly/177
SharedClasses.SCM23.MultiThreadMultiCL_0
Type=Segmentation error vmState=0x0002000f

[2019-10-25 12:55] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly/181
PatchModuleTest_AppMod_0

[2019-10-25 12:59] pshipton opened #7593 "x86-6 Storage is not completely initialized"
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_mac_Nightly/77
DaaLoadTest_daa3_0
[code]

https://ci.eclipse.org/openj9//job/Grinder/parambuild/?JDK_VERSION=13&JDK_IMPL=openj9&BUILD_LIST=system&JenkinsFile=openjdk_x86-64_mac&TARGET=DaaLoadTest_daa3_0&SDK_RESOURCE=upstream&CUSTOMIZED_SDK_URL=https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JD

[2019-10-25 13:01] pshipton commented on #6319
It's back.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/182
testJCMMXBeanLocal_SE80_1
[code]

[2019-10-25 13:13] pshipton opened #7594 "sanity.system_x86-64_windows TestJlmRemoteMemoryNoAuth_0 Invalid class pointer in stack allocated object"
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_windows_Nightly/77
TestJlmRemoteMemoryNoAuth_0
[code]

There are diagnostics files in the test artifacts https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Test/Test_openjdk13_j9_sanity.system_x86-64_windows_Nightly/77/
copied to triage\openj9-7594

https://ci.eclipse.org/openj9//job/Grinder/parambuild

[2019-10-25 13:15] pshipton commented on #7594
@dmitripivkine

[2019-10-25 13:20] andrewcraik commented on #7594
FYI also @hzongaro since that kind of ting could be related to EA...

[2019-10-25 13:24] andrewcraik commented on #7593
@pshipton is this tagged JIT because it passes -Xint?

[2019-10-25 13:49] jdekonin commented on #7432
To do this we need to boot into safe mode which it appears we cannot do remotely following method 2 [1].  It appears that win2012r2-x86-1 is no longer reachable for builds until we can get that fixed.

1. https://www.top-password.com/blog/boot-windows-server-2012-into-safe-mode/

[2019-10-25 13:58] pshipton commented on #7593
Right sorry, removing the tag.

[2019-10-25 15:29] keithc-ca commented on #7432
When I tried that command, safe mode was *not* needed.

[2019-10-25 15:30] dmitripivkine commented on #7594
[code]

[2019-10-25 15:35] dmitripivkine commented on #7594
Pointer treated as "stack allocated object" is deeper in stack then referencing location. Also there two mentioning of this address even earlier. Looks like something is messed up in interpreter frames of this stack.

[2019-10-25 15:40] hzongaro commented on #7584
This bug was introduced by pull request #4282, which was a fix for issue #4281.

[2019-10-25 15:45] dmitripivkine commented on #7594
I have this system core open, so please let me know if I can help to check something

[2019-10-25 17:05] jdekonin commented on #7432
In a cmd shell or power shell run as administrator I get this output on all the machines.
[code]

[2019-10-25 17:06] pshipton commented on #7594
@DanHeidinga

[2019-10-25 17:12] jdekonin commented on #7432
Not ideal, but I did a `MKLINK /D PROGRA~1 "c:\Program Files"` which means the path I think you are trying to use will be present.

[2019-10-25 17:20] pshipton commented on #7432
Still failing the same way.
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_windows_Personal/346/
win2012r2-x86-2
`custom-spec.gmk:50: *** invalid syntax in conditional`

[2019-10-25 17:50] pshipton commented on #7503
You made reference to the javacore, but I don't see it in the collection of diagnostic files.

[2019-10-25 17:55] pshipton commented on #7503
Nm, I see it now.

[2019-10-25 18:04] pshipton commented on #7503
Seems pthread_create() is returning EAGAIN:
EAGAIN | If WLM is running, the limit on the number of threads in the class is reached.
EAGAIN | The limit on the number of threads per process has been reached.

[2019-10-25 18:45] #7584 closed

[2019-10-25 19:20] a7ehuo opened #7598 "JITServer crashes when collecting trace log"
JITServer crashes when trying to collect travelog on the client side. Not able to reproduce it with a debug build.

=== Client ===
``` /root/home/ahuo/src/openj9-openjdk-jdk8/build/linux-x86_64-normal-server-release/images/j2sdk-image/jre/bin/java  -XX:+UseJITServer  '-Xjit:count=0,{java/util/StringTokenizer.scanToken(I)I}(log=tracelog,tracefull,traceInlining,debugInliner)' -version```

=== Server

[2019-10-25 22:12] keithc-ca commented on #7432
I don't think that will work. What is the output of `dir /x C:\` now?

[2019-10-25 23:27] pshipton commented on #7432
Indeed, it did not work. https://github.com/eclipse/openj9/issues/7432#issuecomment-546438817

[2019-10-26 01:23] ChengJin01 commented on #5058
I double-checked the AttachAPI related test results on X86_64 against the results on RISC-V and it turns out both of them ended up with same failures in the same tests case:
[code]
[TestTargetResult_riscv_Java8andUp.txt](https://github.com/eclipse/openj9/files/3774291/TestTargetResult_riscv_Java8andUp.txt)
[TestTargetResult_x86_64_Java8andUp.txt](https://github.com/eclipse/openj9/files/3774292/Tes

[2019-10-26 07:02] DanHeidinga opened #7602 "Fix `Stop using the J9VM_JIT_32BIT_USES64BIT_REGISTERS from m4 asm (#7572)` so it can be re-applied"
https://github.com/eclipse/openj9/pull/7600 had to revert the change as it broke zOS 31.

[2019-10-26 07:03] DanHeidinga commented on #7602
Fyi @dnakamura @pshipton

[2019-10-26 10:40] JonDGH commented on #7503
Thanks for this.  I won't have access to the AIX box until Wednesday now.  but iirc the core.dmp file was showing that there were around 180 threads running.  I don't believe that WLM is running or that there are any limits set on the number of threads a process can start,

Anyway, thanks again - I'll do some more digging on Wednesday.

[2019-10-26 19:24] #7525 closed

[2019-10-28 07:28] Akira1Saitoh commented on #6775
- [ ] Add `VirtualGuardNOPInstruction`.
- [ ] Add `virtualGuardHelper` function and use it from `ifcmpne` evaluator.
- [ ] Add compensation code for aarch64 to `TR_RuntimeAssumptionTable::notifyClassRedefinitionEvent` and `TR_RedefinedClassPicSite::compensate`.

[2019-10-28 11:33] patric42 opened #7604 "groovy-2.4.17 jit error crash launching console"
Java -version output
--------------------

openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-b09)
Eclipse OpenJ9 VM (build openj9-0.17.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20191017_442 (JIT enabled, AOT enabled)
OpenJ9   - 77c1cf708
OMR      - 20db4fbc
JCL      - 97b5ec8f383 based on jdk8u232-b09)

Summary of problem
------------------

on 8u232:
groovy-2.4.

[2019-10-28 12:49] DanHeidinga commented on #7604
FYI @andrewcraik @liqunl

[2019-10-28 13:01] andrewcraik commented on #7604
I'll let @liqunl have an initial look at this one.

[2019-10-28 14:27] pshipton commented on #7516
This is not an OpenJ9 problem. The question has been answered. Closing.

[2019-10-28 14:33] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_mac_OpenJDK/62
J9vmTest_5
[code]

[2019-10-28 14:35] pshipton commented on #7300
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/187
SharedClasses.SCM01.SingleCL_0
Type=Segmentation error vmState=0x0002000f

[2019-10-28 14:37] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_s390x_linux_Nightly/182
DaaLoadTest_daa1_ConcurrentScavenge_0
[code]

[2019-10-28 14:42] pshipton commented on #6239
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/178
testDDRExt_JITExt_openj9_0
`junit.framework.AssertionFailedError: TestJITExt failed. Unable to find a threads contained a JIT frame  and using the TestJITExtHelperThread class. Cannot proceed with JIT extension tests`

[2019-10-28 14:47] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_special.system_x86-64_windows_Personal/35
DaaLoadTest_all_special_22
variation: Mode687
JVM_OPTIONS: -Xcompressedrefs -XX:+UseCompressedOops -Xjit -Xgcpolicy:gencon -Xaggressive
win2012r2-x86-6
[code]

[2019-10-28 14:50] pshipton commented on #7300
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/187
SharedClasses.SCM01.SingleCL_0
Type=Segmentation error vmState=0x0002000f

[2019-10-28 15:01] jdekonin opened #7608 "win2012r2-x86-1 and win2012r2-x86-5 are unreachable"
I can ping win2012r2-x86-5 but cannot access via ssh.  Just requires a reboot.
win2012r2-x86-1 I attempted to boot into safe mode, if the web ui doesn't provide console access then we'll need this recreated.

fyi @tellison

[2019-10-28 15:24] DanHeidinga commented on #7247
[code]

This is the findenv crash again.  Looking through OpenJ9, the only setenv I can find is:
https://github.com/eclipse/openj9/blob/fc509ea10664ba42c94498030a69a1b36afc5118/runtime/j9vm/jvm.c#L2487

Looking through OMR, I only see references in AUXV:
https://github.com/eclipse/omr/blob/f8fc704032f95cbc0f337eb6be54f2b06e58a773/port/unix_include/auxv.h#L23-L25

Looking in the Extensions repo, th

[2019-10-28 17:29] a7ehuo commented on #7567
Also tried to always to retrieve the ROM strings from the client in `getResolvedPossiblyPrivateVirtualMethod()` for VarHandle access methods, still observed the crash in` TR_J9ByteCodeIlGenerator::genIfImpl()`.

[2019-10-28 17:47] manqingl opened #7611 "Crash from runCallInMethod() in related to shared classes cache"
This happened from Java 8 SR 5 FP 41 (pxz6480sr5fp41-20190919_01(SR5 FP41)).

This is the native stack trace:

#12 <signal handler called>
#13 runCallInMethod (env=0x57e1c00, receiver=0x0, clazz=0x0, methodID=0x3ffa8397510, args=args@entry=0x3ff47cd42b8) at callin.cpp:1056
#14 0x000003ffad1ce76e in gpProtectedRunCallInMethod (entryArg=0x3ff47cd41f0) at jnicsup.cpp:258
#15 gpCheckCallin (env=env@en

[2019-10-28 17:48] manqingl commented on #7611
@DanHeidinga :  I have communicated with Shao Hang @hangshao0 .

[2019-10-28 17:51] hangshao0 commented on #7611
@manqingl , do you have the java stack ?

[2019-10-28 17:55] manqingl commented on #7611
Yes, this is the top of the Javastack:

<57e1c00> *** BEGIN STACK WALK, flags = 00400001 walkThread = 0x00000000057E1C00 ***
<57e1c00>       ITERATE_O_SLOTS
<57e1c00>       RECORD_BYTECODE_PC_OFFSET
<57e1c00> Initial values: walkSP = 0x0000000005845C88, PC = 0x000003FFAD29C78E, literals = 0x0000000000000000, A0 = 0x0000000005845CA8, j2iFrame = 0x0000000005846508, ELS = 0x000003FF47CD40F0, decomp =

[2019-10-28 17:57] manqingl commented on #7611
@hangshao0 :

<57e1c00>       Method: com/ibm/oti/shared/SharedClassURLClasspathHelperImpl.notifyClasspathChange3(ILjava/lang/ClassLoader;[Ljava/net/URL;IIZ)V !j9method 0x0000000000133F18
<57e1c00>       Method: com/ibm/oti/shared/SharedClassURLClasspathHelperImpl.notifyClasspathChange3(ILjava/lang/ClassLoader;[Ljava/net/URL;IIZ)V !j9method 0x0000000000133F18
<57e1c00>       Method: com/ibm/oti/sh

[2019-10-28 18:01] hangshao0 commented on #7611
Similar to https://github.com/eclipse/openj9/issues/6549. But this time, the URL array has size 1, the url in the array is null.

For existing builds v0.15.1, v0.16.0, v0.17.0, the workaround is to use sub-option `checkURLTimestamps `after -Xshareclasses:. e.g. `-Xshareclasses:checkURLTimestamps`

[2019-10-28 18:06] pshipton opened #7612 "Enable AIX DDR support for Java 13 and later"
AIX DDR support is disabled in #7613

[2019-10-28 18:32] mikezhang1234567890 commented on #7172
Taking a look at this.

[2019-10-28 18:32] mikezhang1234567890 commented on #7591
Taking a look at this.

[2019-10-28 18:45] pshipton commented on #6022
I'll go ahead and close this since the checkURLTimestamps/noCheckURLTimestamps options are added, with the default behavior as noCheckURLTimestamps. We can reopen or create a new issue later if a Java API like setMinimizeUpdateChecks() is needed.

[2019-10-28 18:45] #6022 closed

[2019-10-28 19:06] a7ehuo commented on #7598
The root cause of this issue is that the debug object is not created in the production build in ` OMR::Compilation::compile() ` at the sever. `self()->getDebug()` is NULL in the following code:
https://github.com/eclipse/openj9-omr/blob/a53882399da167a7fd99432dafe4347484b2512d/compiler/compile/OMRCompilation.cpp#L991-L993

[code]
It’s a bug introduced in #6627. It changed `if (_logFile != NULL)` t

[2019-10-28 21:17] #7611 closed

[2019-10-29 04:42] ChengJin01 commented on #5058
I am currently getting started to investigating the issue with the system dump and it turns out it failed to extract the RISC-V data as there is no DDR code supporting RISC-V.

Given that the DDR code might related to hardware specifics (e.g. registers), I will try to add code & placeholders to see how far it goes on the emulator. To achieve so, I will first try to add changes to a X86_64 build (t

[2019-10-29 10:35] M-Davies commented on #7115
This issue is not unique to openj9. Hotspot also loads the java launcher at 0x80000000 on zlinux and at 0x00600000 on x86. My current hypothesis is that there is a `ld` missing somewhere within the build scripts that loads the launcher in the right place. I'm currently looking into where exactly this missing command is (most likely a script that's called from make/launcher/LauncherCommon.gmk)

[2019-10-29 12:57] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_s390x_linux_Nightly/605
DaaLoadTest_daa1_special_22
[code]

[2019-10-29 12:59] pshipton commented on #7300
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_x86-64_linux_xl_Nightly/80
SharedClasses.SCM23.MultiThreadMultiCL_0
Type=Segmentation error vmState=0x0002000f

[2019-10-29 13:42] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_mac_Nightly/185
TestIBMJlmRemoteClassAuth_SE80_0
7.LT2.stderr
[code]

[2019-10-29 14:06] fjeremic commented on #7275
Another update. We tracked down the bug last evening. It is definitely due to JProfiling.

Trees before JProfiling:
[code]

Trees after JProfiling:
[code]

The JProfiling post-GRA block splitter seems to have mutilated this block into an invalid state. The `PassThrough` node at `n10962n` cannot contain a child which does not appear under an `iRegStore` previously. It seems the `iRegStores` have be

[2019-10-29 14:26] M-Davies opened #7623 "Failing JTReg Test: java/lang/reflect/DefaultMethodMembers/FilterNotMostSpecific.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/03cb3a3cb42f9b8992a9e4f5821a557f3ca9eaa4/jdk/test/java/lang/reflect/DefaultMethodMembers/FilterNotMostSpecific.java#L1 and https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/cc4272e86c12e635710cca2a4c5833c37e398c7b/test/jdk/java/lang/reflect/DefaultMethodMembers/FilterNotMostSpecific.java#L1 are failing for JDK

[2019-10-29 14:28] adam-thorpe opened #7624 "JTReg Test Failure: java/nio/channels/spi/SelectorProvider/inheritedChannel/InheritedChannelTest.java"
Failure link
------------
Rebuild: https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=openjdk&JenkinsFile=openjdk_s390x_linux&CUSTOM_TARGET=test/jdk/java/nio/channels/spi/SelectorProvider/inheritedChannel/InheritedChannelTest.java&TARGET=jdk_custom_0&ITERATIONS=10 (NOTE: This test needs a native image so SDK_RESOURCE=customized and CUSTOMIZED_SDK_URL must

[2019-10-29 14:51] dmitripivkine commented on #7115
I am not sure Hotspot does care about this. Hotspot Compressed Refs implementation does not rely on special usage of virtual memory below 4G bar

[2019-10-29 15:17] smlambert commented on #6488
This work is now complete (see https://github.com/eclipse/openj9/pull/6703)

[2019-10-29 15:17] #6488 closed

[2019-10-29 15:38] piyush286 commented on #7459
@ymanton @mpirvu I was wondering whether there are any updates on it. Please let me know if you need help with the investigation.

FYI @vij-singh

[2019-10-29 15:39] DanHeidinga opened #7627 "Extend testing for SCC checkURLTimestamps/noCheckURLTimestamps options"
I don't think test cases of empty url array or url array with invalid urls were added when introducing `-Xshareclasses:checkURLTimestamps/-Xshareclasses:noCheckURLTimestamps`

_Originally posted by @hangshao0 in https://github.com/eclipse/openj9/pull/7615#issuecomment-547477445_

[2019-10-29 15:39] DanHeidinga commented on #7627
FYI @hangshao0 Can you get this added to the SCC plan?

[2019-10-29 19:04] LinHu2016 commented on #7486
I have done code update in GC, the performance comparison uses java 8 version(using Xgc option to enable/disable scanning CP object in scavenger) to run SPECjbb2015 preset compsite under regular gencon mode and concurrent scavenge mode.
the tests also disable numa and set fix tenure age(both default settings(numa and tenure age) could interfere the result, actually with enabling scan CP objects in

[2019-10-29 19:14] pshipton opened #7631 "Re-enable special.system jdk8 testing on Windows"
special.system testing disabled by #7632. There are two machines down this week and the remaining machines can't handle the load. Re-enable the testing when the machines are back online.

[2019-10-29 19:19] pshipton opened #7633 "Update openssl to the latest version"
openssl should be updated to the latest version for each OpenJ9 release.

Don't close this issue, move it to the next milestone after completing the upgrade.

[2019-10-29 19:29] dsouzai opened #7635 "Define baseline target environment for AOT compilations"
Currently, the target environment of AOT code is essentially the host environment. However, the need for defining some baseline target environment has risen with the arrival of the multi-layer SCC feature. The point of having multi-layer SCCs is to facilitate having SCCs in different layers in Docker images; images that are, by design, portable. While the AOT Header validation [1] does validate th

[2019-10-29 19:29] dsouzai commented on #7635
fyi @mstoodle @ymanton @vijaysun-omr

[2019-10-29 19:48] ymanton commented on #7459
I've opened PR #7637 to work around the remaining compiler bug. That should close some of the gap.

As for the rest of the missing performance, I've started to focus on validation failures as a possible candidate. A current build with #7637 results in about 2x the number of AOT method validation failures (~30 -> ~70), and each failure causes us to queue up a JIT cold compilation. If we compare fai

[2019-10-29 20:09] #7598 closed

[2019-10-29 20:10] pshipton commented on #7623
@M-Davies I'm not finding the jdk8 failures in the tar

[2019-10-29 21:29] #712 closed

[2019-10-29 21:33] dsouzai commented on #479
@pdbain-ibm can this be closed given that https://github.com/eclipse/openj9/issues/643 is tracking the work?

[2019-10-29 21:35] jdekonin commented on #456
@dsouzai, definitely since we have osx compiling at Eclipse OpenJ9 and AdoptOpenJDK now. :)

[2019-10-29 21:35] #456 closed

[2019-10-29 21:37] dsouzai commented on #1105
@mpirvu do we still need this open considering https://github.com/eclipse/openj9/issues/7635 and https://github.com/eclipse/omr/pull/4183?

[2019-10-29 21:39] dsouzai commented on #1304
@hangshao0 is this issue still relevant since we don't test Java 9 anymore?

[2019-10-29 21:40] dsouzai commented on #1565
Is this still something that's worth discussion or should we close this issue?

[2019-10-29 21:45] dsouzai commented on #2171
Is this still relevant, or can this be closed?

[2019-10-29 21:46] dsouzai commented on #2059
Closing as the current logo has been in place for quite a while now.

[2019-10-29 21:46] #2059 closed

[2019-10-29 21:48] dsouzai commented on #2893
Has this been addressed via the JITServer PR builds? Can this be closed?

[2019-10-29 21:50] dsouzai commented on #3469
Has this been resolved or does it still need to remain open?

[2019-10-29 22:11] hangshao0 commented on #1304
@llxia , are testDDRExt:testShrcStatsExt and shrcdbgddrext migrated and enabled on OpenJ9 ? If yes, this issue can be closed.

[2019-10-30 01:48] JasonFengJ9 commented on #7275
[zOS S390] 80 JIT_Sanity.Daa.Mode101.1 failure from an internal acceptance build:
[code]

Does this appear another manifest of this issue?

[2019-10-30 01:49] fjeremic commented on #7275
Yes this is the same issue.

[2019-10-30 02:43] #2893 closed

[2019-10-30 03:02] ChengJin01 commented on #5058
I already finished running all functional tests (sanity & extended) , excluding all JIT specific (JIT_test, cmdLineTester_decompilationTests, etc) , part of GC tests (no Metronome GC support on RISC-V, etc), and some test failures irrelevant to RISC-V (e.g. these test ended up with the same failure on Ubuntu/AMD64).  Now investigating two test failures to see what happened:
[code]

[2019-10-30 03:11] DanHeidinga commented on #2171
Closing this as any update will be driven by work requiring it.

[2019-10-30 03:11] #2171 closed

[2019-10-30 03:15] DanHeidinga commented on #1565
Given it's been dormant for so long, closing

[2019-10-30 03:15] #1565 closed

[2019-10-30 04:04] pshipton commented on #479
@dsouzai This issue is listed in the release notes https://github.com/eclipse/openj9/blob/master/doc/release-notes/0.17/0.17.md and the older versions. For this reason I suggest we keep it open until #643 completes.

[2019-10-30 09:48] M-Davies commented on #7623
@pshipton They should be at openjdk-tests/TestConfig/test_output_15723589095981/jdk_custom_0/work/java/lang/reflect/DefaultMethodMembers/FilterNotMostSpecific.jtr in the tar

[2019-10-30 11:57] patric42 opened #7639 "CompactStrings Unicode handling is broken"
Java -version output
--------------------

openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-b09)
Eclipse OpenJ9 VM (build openj9-0.17.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20191017_442 (JIT enabled, AOT enabled)
OpenJ9   - 77c1cf708
OMR      - 20db4fbc
JCL      - 97b5ec8f383 based on jdk8u232-b09)

Summary of problem
------------------

Executing the supplie

[2019-10-30 12:49] DanHeidinga commented on #7639
FYI @fjeremic

[2019-10-30 13:20] vijaysun-omr commented on #7635
Thanks, is the next step to discuss the OMR issue at an OMR architecture meeting ?

[2019-10-30 13:21] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly/186
DaaLoadTest_daa1_0
[code]

[2019-10-30 13:23] pshipton commented on #7020
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-64_linux_Nightly/617

[2019-10-30 13:27] pshipton commented on #7112
Another one, from a PR build, blocked workers.
https://ci.eclipse.org/openj9/job/PullRequest-OpenJ9/1752
[code]

[2019-10-30 13:42] pshipton commented on #6150
The original request to make 1MB the minimum -Xmso on z/OS, which is the most important aspect, was fixed via #7304. Rounding values bigger than 1MB should use OS support to ensure the rounding is being done correctly to the values used by the OS. As the OS support doesn't seem to be present, closing this Issue as completed.

[2019-10-30 13:42] #6150 closed

[2019-10-30 14:11] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/12
ClassLoadingTest_special_22
[code]

[2019-10-30 14:25] dsouzai commented on #7635
Yeah I asked that https://github.com/eclipse/omr/issues/4518 be added to the architecture meeting.

That said, after an offline discussion with @mpirvu, maybe going down that road isn't absolutely necessary. Since it isn't particularly likely that a portable SCC is not going to be in a container of some sort, Marius suggested that using an option to inform the JVM that the current run is the "popu

[2019-10-30 14:28] DanHeidinga commented on #7486
@LinHu2016 Is that scanning all CPs for every class in every scavenge?  Or only those that have a young-gen object in the CP?

[2019-10-30 14:30] liqunl commented on #7604
The problem is in ilgen, the stack is wrong after expanding `permuteArgs`. As a result, we generate trees to load thunks field from the wrong object and calling MethodHandle.invokeExact with the wrong receiver. The bug is in `calculateArrayElementAddress`, it dups the array object on the stack even though check is not needed.

[2019-10-30 15:13] LinHu2016 commented on #7486
@DanHeidinga we iterate all CPs for every class in every scavenge, but only nursery object in the CP might be copied. for test case there is no cp object in nursery.

[2019-10-30 15:36] llxia commented on #1304
Just to confirm, are the following tests the ones mentioned above? If so, then they are migrated and running in the nightly build.

https://github.com/eclipse/openj9/blob/eb860ecf4551c9982b0bc4ca9c6fed61fe70868c/test/functional/cmdLineTests/shrcdbgddrext/playlist.xml#L25

https://github.com/eclipse/openj9/blob/92025ac74d52b1a8dd58172c7e6650fbd9ab5326/test/functional/DDR_Test/playlist.xml#L151

[2019-10-30 15:39] hangshao0 opened #7641 "findROMClassFromPC() incorrectly returns NULL"
Discovered by @gacholio

findROMClassFromPC() incorrectly returns NULL but the ROMClass is in the shared cache.

In the core file, it is discovered:
findROMClassFromPC() returns NULL when the passed in pc is 00007FF6A01C2022

[code]

[2019-10-30 15:45] dsouzai opened #7642 "0.17.1: Update failCompilation to use variable argument list"
0.17.1 backport candidate OMR change: https://github.com/eclipse/omr/pull/4419

Needed for https://github.com/eclipse/openj9/pull/7464

[2019-10-30 15:45] dsouzai opened #7643 "0.17.1: Handle symref creation under relocatable compiles"
0.17.1 backport candidate OMR change: https://github.com/eclipse/omr/pull/4418

[2019-10-30 15:55] fjeremic opened #7644 "-Xtrace resume trigger does not work on all threads"
Java -version output
--------------------

[code]

Summary of problem
------------------

When using `-Xtrace`, according to the documentation [1] the `resume` trigger should resume tracing on all threads. However this does not seem to work. Using the following testcase and the above Java version:

[code]

Running with `resume` using the following command built with the option builder [2] we get n

[2019-10-30 16:04] DanHeidinga commented on #7539
This part of the stacktrace makes me suspect a jit issue:
[code]

Likely the same as https://github.com/eclipse/openj9/issues/7604

fyi @liqunl @andrewcraik

[2019-10-30 17:01] pshipton opened #7647 "Running Java 13 openjdk tests on AIX at OpenJ9"
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.openjdk_ppc64_aix_Personal/1

**java/lang/ProcessBuilder/Basic.java#id0.Basic_id0**
`Caused by: java.io.IOException: error=2, A file or directory in the path name does not exist.`
[code]

**java/lang/invoke/condy/CondyNestedResolutionTest.java.CondyNestedResolutionTest**
`Program `/home/u0020236/workspace/Test_openjdk13_j9_sanity.openjdk_p

[2019-10-30 18:31] #7604 closed

[2019-10-30 20:06] pshipton commented on #7647
@jdekonin can you please take a look at the failures to see if any can be fixed with machine changes, in particular the network ones.

[2019-10-30 20:11] theresa-m commented on #7332
performance testing results: https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/341#issuecomment-548091121

[2019-10-30 21:33] hangshao0 commented on #7641
The current JVM has VMID = 2

The J9MemorySegment being searched by findROMClassFromPC() is 0x00007FF700135310 which ends at 0x00007FF6A01BF348. The last romclass in this J9MemorySegment is **0x00007FF6A01BE6F0**.

Looking at the cache statistics, the last 11 classes are:

[code]

So the last 9 classes added by other JVMs (ID =3 and ID =4) are not there in the J9MemorySegment.

[code]
metadata add

[2019-10-31 02:47] JasonFengJ9 opened #7657 "j9vm.547 * ** ASSERTION FAILED ** at ./exceptionsupport.c:618: ((0 ))"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

Result file is at `/team/triage/issue7657`.

[2019-10-31 04:02] ChengJin01 commented on #5058
Isolated one of the failing methods on RISC-V in `TestFileLocking_0 `as follows:
e.g.
[code]
against the output of the latest JDK11/OpenJ9 build (Ubuntu /X86_64):
[code]
It looks like there was something wrong in JDK11 when checking the accessibility of `openj9.internal.tools.attach.target`, in which case it was supposed to trigger warning instead of directly throwing out exception. Need to add pr

[2019-10-31 12:17] JasonFengJ9 opened #7658 "JDK13 AIX testDDRExt tck_ddrext.xml does not exist!"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_ppc64_aix_Nightly/3/tapResults/

Optional info
-------------

- new test:

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-10-31 12:22] JasonFengJ9 opened #7659 "DK13 AIX cmdLineTester test failures due to "Could not load dump file""
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.functional_ppc64_aix_Nightly/3/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-10-31 12:27] JasonFengJ9 opened #7660 "JDK 13 mac DaaLoadTest_all_0 net.openj9.test.PDMoveShifts.TestShiftsAndConvert: Storage is not completely initialized, 4 bytes left"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_x86-64_mac_Nightly/83/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-10-31 12:52] pshipton commented on #7660
Dup of #7593

[2019-10-31 12:52] #7660 closed

[2019-10-31 12:53] pshipton commented on #7593
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_x86-64_mac_Nightly/83

[2019-10-31 12:56] pshipton commented on #7659
Dup of #7612

[2019-10-31 12:56] #7659 closed

[2019-10-31 12:57] pshipton commented on #7658
Dup of #7612

[2019-10-31 12:57] #7658 closed

[2019-10-31 13:38] pshipton commented on #7657
[code]

[2019-10-31 13:42] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly/187
DaaLoadTest_daa1_0

[2019-10-31 13:42] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly/187
LambdaLoadTest_OpenJ9_Linux_CompressedRefs_0

[2019-10-31 14:01] JasonFengJ9 commented on #7612
Are we considering to disable the failing tests until `AIX` DDR support is enabled?

[2019-10-31 14:11] keithc-ca commented on #7612
That seems like a reasonable plan. Can you put a PR together to do that? Please connect it to this issue so we don't forget to re-enable the tests later.

[2019-10-31 14:17] pshipton commented on #7612
We can only disable these tests if the excludes are specified to AIX JDK13.

[2019-10-31 15:58] keithc-ca commented on #7644
I believe the behavior matches the documentation. In the table of actions for groups and tracepoint IDs, it says:

* resume - Resume all tracing (except for threads that are suspended by the action of the resumecount property and Trace.suspendThis() calls).
* resumethis - Decrement the suspend count for this thread. If the suspend count is zero or less, resume tracing for this thread.

I interpret

[2019-10-31 16:12] fjeremic commented on #7644
Thanks for the explanation @keithc-ca. Do you think it is worth adding a warning/error in the Xtrace Option Builder to warn the user about using `resume` within a group when `resumecount=1` is active?

[2019-10-31 16:21] DanHeidinga commented on #7020
@liqunl @kobinau Can you pick up the investigation on this again?

[2019-10-31 16:27] DanHeidinga commented on #7602
Possibly a stupid question but would a search / replace of `[` & `]` with `{`  & `}`in the jit m4 files solve the problem as well?  Might be a faster and cleaner solution

[2019-10-31 16:51] TehAppKiller commented on #7204
Hi,

The final problem (eclipse crash on startup) seems to have been fixed by Eclipse team (see Eclipse bug tracker: https://bugs.eclipse.org/bugs/show_bug.cgi?id=551091 ).

Now, whether the error fixed should crash or not Eclipse (hotspot does not crash) is not up to me to decide.

Thanks for your help.

[2019-10-31 17:03] fjeremic commented on #7644
I see, ok I think this issue will be searchable in case anyone encounters similar issues. I don't think a change is required. Thanks for the help!

[2019-10-31 17:03] #7644 closed

[2019-10-31 17:03] DanHeidinga commented on #7204
Closing as the bug has been fixed by the IDE

[2019-10-31 18:36] dnakamura commented on #7602
Yes was discussing the issue with gac over lunch and we decided it probably makes sense to change the jit quoting style.  However since I also have a version which cleans up some of the M4 code  passing internal builds, I will likely go forward with that as well

[2019-10-31 19:38] kobinau commented on #7020
I've been running Grinders with no success at resimulation. Speaking to @liqunl to discuss further.

[2019-10-31 20:03] AlenBadel opened #7667 "FIND_ARG_IN_VMARGS Returns invalid argument index"
**Issue**
When `-Xlp<size>` is specified by the user, the correct index of the `-Xlp` argument is not being returned from `FIND_ARG_IN_VMARGS`. See https://github.com/eclipse/openj9/blob/86f128ca839256f15d30d7178fcd3d256963e265/runtime/compiler/control/J9Options.cpp#L1742

`FIND_ARG_IN_VMARGS` is a macro defined call to `findArgInVMArgs` See https://github.com/eclipse/openj9/blob/8ecd11892bc38f416

[2019-10-31 20:04] AlenBadel commented on #7667
[Reserved for Analysis]

[2019-10-31 21:05] liqunl commented on #7539
This is a dup of #7604, @DanHeidinga @andrewcraik Can we close it?

[2019-10-31 21:42] planetf1 commented on #7539
I'd be happy to test again too - where would I find a build? (normally I use the adoptopenjdk distributed releases)

[2019-10-31 21:50] andrewcraik commented on #7539
@planetf1 so the fix was merged yesterday so if you want to pick up an adoptopenjdk nightly we'll need to wait for the next build which _should_ include it. I checked the October 30 build which is the latest nightly on the adopt website and it does not yet have the fix. The adopt nightly would be the best source of a binary with the fix.

[2019-10-31 21:53] planetf1 commented on #7539
Thanks... I'll keep an eye out for the 'nightly (presumably there was many days gap as nothing merged?)

[2019-10-31 21:58] andrewcraik commented on #7539
The gap would have likely been due to a release or some other activity at adoptopenjdk needing the machines. OpenJ9 merges PRs pretty much every day.

[2019-10-31 22:00] ashu-mehra opened #7669 "Circular chained exception causes OOM in OpenJ9"
If we create a circular chained exception, OpenJ9 is not able to identify the loop in the exception chain and goes into infinite loop when generating the stack trace resulting in java heap OOM.
Hotspot, on the other hand, identifies and handles this situation properly.

Testcase:
[code]
This test case is extracted from Jenkins test failure reported in https://github.com/AdoptOpenJDK/openjdk-tests/

[2019-10-31 22:17] JasonFengJ9 commented on #7612
A few `DDR` test buckets observed:
1. https://github.com/eclipse/openj9/tree/master/test/functional/DDR_Test
2. https://github.com/eclipse/openj9/tree/master/test/functional/cmdLineTests/modularityddrtests
3. https://github.com/eclipse/openj9/tree/master/test/functional/cmdLineTests/shrcdbgddrext
4. https://github.com/eclipse/openj9/tree/master/test/functional/cmdLineTests/classesdbgddrext
5. http

[2019-10-31 23:01] planetf1 commented on #7539
There's an Oct 31 nightly now... https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9

[2019-11-01 00:07] ChengJin01 commented on #5058
Investigation shows the test case testCB_CB  in `/Java8andUp/src/org/openj9/test/fileLock/TestFileLocking.java` and checks the accessibility of `openj9.internal.tools.attach.target` and then launch another JVM process to run the test after that.  The test case passed with the cross-build by explicitly adding `--add-exports java.base/openj9.internal.tools.attach.target=ALL-UNNAMED` on the command l

[2019-11-01 01:03] pshipton commented on #7020
@JasonFengJ9 can you please take a look at the test and confirm it's valid to run multi-threaded.

[2019-11-01 01:13] pshipton commented on #7667
Preferably we should just write code to work around the gcc problem. There aren't any plans to upgrade the compiler version.

[2019-11-01 03:28] JasonFengJ9 commented on #7020
Here is the test code.

[code]
It is not obvious that the problem could be caused by multi-threaded load tests.

[2019-11-01 04:30] pshipton commented on #7020
The test seems bogus in that `ok` should either be volatile or use synchronization to update and check it in the different threads. Also it uses a hard coded timeout. I'm thinking we should just exclude it.
@Mesbah-Alam

[2019-11-01 13:15] adam-thorpe commented on #7521
The build jobs at openj9 are creating the jdk test lib if I am not mistaken:
[code]
However they are not being added into the native-test-libs.gz.tar archive, it is only grabbing the functional native test lib:
`tar -C build/linux-s390x-normal-server-release/images/ -zcvf native-test-libs.tar.gz test/openj9 --transform s,test/openj9,native-test-libs,`
This problem also applies to hyc runtimes jenk

[2019-11-01 13:48] liqunl commented on #7539
@planetf1 The linux x64 build has the fix, but the Mac OS one doesn't. Please wait for the next Mac OS build.

[2019-11-01 15:51] keithc-ca commented on #7432
@jdekonin Any updates on getting the build machines fixed (so there's a short name for each segment of the path `C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v9.0`)?

[2019-11-01 15:51] paulcheeseman opened #7671 "Integer overflow when increasing the capacity of very large StringBuffers"
The OpenJ9 StringBuffer class behaves very differently to the OpenJDK StringBuffer class when appending small numbers of characters to very large StringBuffers (half of the maximum capacity of `Integer.MAX_VALUE`).

Consider this testcase, which appends characters to a StringBuffer one at a time, and prints out the capacity of the StringBuffer whenever it increases:

[code]

With OpenJDK's StringB

[2019-11-01 16:18] dchopra001 commented on #6991
Just a note: the two PRs remaining here depend on an OMR PR which hasn't been merged yet. It should be easy to push these through once that one has been merged.

[2019-11-01 17:05] Eoghan-K commented on #5904
Hey can I take a look at this?

[2019-11-01 17:38] JonDGH commented on #7503
The javacore file shows:

2CIUSERLIMIT   RLIMIT_THREADS                   unlimited            unlimited
2CIUSERLIMIT   RLIMIT_NPROC                     unlimited            unlimited

I've also managed to get the server to start by setting the native thread stack size (-Xmso) down from 256K to 176K (the IBM VM runs the server happily with this set to 1024K).

[2019-11-01 17:50] #1155 closed

[2019-11-01 18:13] mpirvu opened #7674 "JITServer failures for extended test suite"
Local testing with the 'extended' test bucket showed the following failures that do not appear when JITServer is disabled:
[code]
Example
[code]

[2019-11-01 18:28] #5746 closed

[2019-11-01 18:28] #6731 closed

[2019-11-01 18:29] harryyu1994 commented on #7674
Will take a look.

[2019-11-01 18:31] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_s390x_linux_Nightly/20
DaaLoadTest_daa1_special_20
variation: Mode610
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xjit -Xgcpolicy:gencon

[2019-11-01 19:23] VermaSh commented on #4384
Was able to implement peephole optimizations. `CLR` and `BRC` instructions will now reduced to `CLRJ`. PR: https://github.com/eclipse/omr/pull/4529

[2019-11-01 19:29] gacholio commented on #7671
`prolonged the suffering of an application`

Thank you for this :)

[2019-11-01 19:34] gacholio commented on #7657
Where's the test failure link (or whatever passes for that these days)? Seems like the code may be working exactly as intended.

[2019-11-01 19:37] llxia commented on #969
fyi @JennyChenyj

[2019-11-01 19:42] pshipton commented on #7657
@gacholio see RTC PR 142617.

[2019-11-01 20:00] DanHeidinga commented on #7657
Based on Jason's investigation of the RTC item, this is likely a machine being run out of native mem.  Not a case worth investing further work into.

[2019-11-01 20:00] #7657 closed

[2019-11-01 21:44] ashu-mehra opened #7679 "Intermittent issue with GC during idle cycle"
This problem was reported by @siruslan on Slack https://openj9.slack.com/archives/C8312LCV9/p1571941456051800?thread_ts=1568771742.039800&cid=C8312LCV9
It appears the heap does not go down during the idle cycle when the program is sitting idle.
Code for the program is: https://github.com/jelastic/java-vertical-scaling-test/blob/514b78d07a31b79424d5889780e2c41d813efcae/src/com/jelastic/verticalscal

[2019-11-01 21:45] ashu-mehra commented on #7679
@amicic can you please take a look at this and provide your comments.

[2019-11-02 00:59] tommyettinger commented on #7525
I can confirm with the October 30 nightly on Windows: not only is the regression gone, my asin benchmark is 10% faster with the latest nightly than with the OpenJ9 0.15.1 JDK before the regression. On my Windows laptop, the BumbleBench score with the latest nightly is 28197388.000000 (0.8% uncertainty), and with the older OpenJ9 0.15.1, it got a score of 25483476.000000 (0.9% uncertainty). With su

[2019-11-02 13:35] pshipton commented on #7300
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/192
SharedClasses.SCM01.MultiThreadMultiCL_0
Type=Segmentation error vmState=0x0002000f

[2019-11-03 15:31] JasonFengJ9 commented on #7275
`Segmentation error vmState=0x00020002` when `running com.ibm.test.Arithmetics.TestPerformance`
[code]

[2019-11-03 15:38] JasonFengJ9 commented on #7593
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_x86-64_windows_Nightly/86/tapResults/

[2019-11-03 15:43] JasonFengJ9 opened #7681 "MathLoadTest_bigdecimal_0 **FAILED** Process MLT has timed out"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_x86-64_linux_Nightly/87/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

Note: the load test was killed due to the timeout though there is `MLT 02:01:07.082 -   Result  : PASSED`.

Another one at https://ci.eclips

[2019-11-03 15:46] JasonFengJ9 commented on #7397
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_windows_Nightly/184/tapResults/

[code]

[2019-11-03 15:49] smlambert commented on #7593
The above failure is a different test target (MathLoadTest_all_0), but failing in the same way...

'Rerun' link:
https://ci.eclipse.org/openj9//job/Grinder/parambuild/?JDK_VERSION=13&JDK_IMPL=openj9&BUILD_LIST=system&JenkinsFile=openjdk_x86-64_windows&TARGET=MathLoadTest_all_0&SDK_RESOURCE=upstream&CUSTOMIZED_SDK_URL=https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_

[2019-11-03 15:56] JasonFengJ9 opened #7682 "j9mm.141 * ** ASSERTION FAILED ** at ../../gc_glue_java/ScavengerDelegate.cpp:356: ((false))"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_mac_Nightly/190/tapResults/

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2019-11-04 04:42] #6156 closed

[2019-11-04 06:39] Madhusudan-Devaraju opened #7683 "ERROR:java.lang.NullPointerException: Cannot get property 'testSteps' on null object"
**I'm not able to get the custom properties from test cases that defined in another test suite. Below is the log.
I access the custom properties till yesterday afternoon but when executing the same script in the evening resulted in an error.

SoapUI Version: 5.5.0**

Mon Nov 04 12:09:20 IST 2019:ERROR:java.lang.NullPointerException: Cannot get property 'testSteps' on null object
   java.lang.NullP

[2019-11-04 11:31] Alexander-at-Blue commented on #7671
I've played a little with a proof-of-concept code, testing some alternatives. The fact is that memory allocation and copying of 1gb of data have a meaningful computational cost. For example, making that one extra megabyte of memory allocation when over 1gb makes 2^16 memory allocations to happen, which have a meaningful cost. This is the code I've tried: the append method was changed to
fit multip

[2019-11-04 11:35] Alexander-at-Blue commented on #7671
One thought about the issue: maybe there are some "magic numbers" for Stringbuffers, for each application? Say, strings end up typically with 254 characters at first... but there are some that grow to 4000 characters...

What if StringBuffers/builders tried to collect some statistics at startup and started making "educated" guesses on what are the typical buffer lengths needed? Say, start with a b

[2019-11-04 12:09] pshipton commented on #7683
What version of the JVM are you using?

[2019-11-04 12:15] pshipton commented on #7682
@dmitripivkine can you pls take a look.

[2019-11-04 12:17] Madhusudan-Devaraju commented on #7683
13.0.1 - Windows 10 64 bit. Please let me know if you need any more details.

[2019-11-04 13:07] keithc-ca commented on #7612
I haven't looked myself so I don't know, that seems like a good start at least.

[2019-11-04 14:03] M-Davies commented on #7115
RTC PR 100052 is the work item where this problem was fixed for IBM Java 8. [CompileLaunchers.txt](https://github.com/eclipse/openj9/files/3804289/CompileLaunchers.txt) is the patch details. I'm currently trying to build and/or run the java launcher with this patch included

[2019-11-04 14:31] planetf1 opened #7684 "JVMVRFY038 invokespecial on invalid target; class=die/verwandlung/GregorSamsa,"
Java -version output
--------------------

openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.5+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.17.0, JRE 11 Mac OS X amd64-64-Bit Compressed References 20191016_371 (JIT enabled, AOT enabled)
OpenJ9   - 77c1cf708
OMR      - 20db4fbc
JCL      - 2a7af5674b based on jdk-11.0.5+10)

Summary of problem
-----------

[2019-11-04 14:39] DanHeidinga commented on #7684
@planetf1 Do you have the .class file that causes the verifyerror?  We need to see the bytecodes to see why the check in the verifier is failing.

[2019-11-04 14:46] DanHeidinga commented on #7683
Looking at the stack trace, it shows the `getProperty` call is executing on Groovy's `NullObject`:

Which according to the doc will always throw an NPE: http://docs.groovy-lang.org/docs/groovy-2.3.2/html/api/org/codehaus/groovy/runtime/NullObject.html#getProperty(java.lang.String)

Can you check if one of the other steps is returning the NullObject?
ie: if `testRunner.testCase.testSuite.testCases[

[2019-11-04 14:50] AlenBadel commented on #7667
I'll work on finding a workaround but we need to determine if this was resolved in later versions gcc otherwise this needs to be reported. I'll try to cut this down to a simple test case.

[2019-11-04 14:56] pshipton commented on #7667
There is a gcc 7.4, it would be interesting to determine if this version fixes the problem. Loading the gcc7 package should get you that one.

[2019-11-04 14:59] planetf1 commented on #7684
The maven dependency I'm using is from https://repo1.maven.org/maven2/org/apache/rat/apache-rat-plugin/0.13/

but I'm unclear which class specifically you need ?

[2019-11-04 15:01] DanHeidinga commented on #7684
The VerifyError is flagging a problem in:
[code]
So I need the `die/verwandlung/GregorSamsa` class so I can look at the bytecodes for the `template$dot$0(Lcom/sun/org/apache/xalan/internal/xsltc/DOM;Lcom/sun/org/apache/xml/internal/dtm/DTMAxisIterator;Lcom/sun/org/apache/xml/internal/serializer/SerializationHandler;I)V ` method

[2019-11-04 15:01] planetf1 commented on #7684
I found a few hits like https://stackoverflow.com/questions/49758534/java-lang-verifyerror-class-gregorsamsa-method-illegal-target-of-jump - or more helpfully perhaps http://www.jguru.com/faq/view.jsp?EID=1340163 ie this is in the XLST processor which I assume is bundled with the jvm?

[2019-11-04 15:02] planetf1 commented on #7684
This is an AdoptOpenJDK build

[2019-11-04 15:06] Madhusudan-Devaraju commented on #7683
Hi @DanHeidinga ,

I executed **testRunner.testCase.testSuite.testCases["TC2"].testSteps["GetEmployees_Property"]**
and oocured the error - **ERROR:java.lang.NullPointerException: Cannot get property 'testSteps' on null object**

log:

Mon Nov 04 20:33:25 IST 2019:ERROR:java.lang.NullPointerException: Cannot get property 'testSteps' on null object
   java.lang.NullPointerException: Cannot get prop

[2019-11-04 15:08] planetf1 commented on #7684
also some explanations at https://github.com/eclipse/openj9/issues/6642

[2019-11-04 15:14] DanHeidinga commented on #7684
That link shows an issue with branch/jump targets and should be fixed in [JDK10](https://bugs.openjdk.java.net/browse/JDK-8163121).  According to the java -version above, you're using JDK11 so it may be related to the XLST processor but shouldn't be the same issue.

We need the bytecode to figure out what's going on

[2019-11-04 15:21] planetf1 commented on #7684
Can you recommend how to get the byte code? Any ideas? This class is being created dynamically by the XSLT processing as far as I can see (an area I'm unfamiliar with)

[2019-11-04 15:28] DanHeidinga commented on #7683
@Madhusudan-Devaraju You'll need to look at your code as the error indicates that `testSteps["GetEmployees_Property"]` is not being found in the `testCases["TC2"]`.

I'm going to close this as it doesn't appear at this time to be an OpenJ9 issue.

[2019-11-04 15:28] #7683 closed

[2019-11-04 15:30] JonDGH commented on #7503
Even though I can get the application to start, I don't have confidence that it will run successfully.

There looks to be a more general problem with the creation of threads using that J9 VM.  I've written some simple code that starts a number of threads that all just sleep "forever".  Running with:

java -Xmx1024m -Xss256K -Xmso256K StartThreads 1000

This completes successfully for the IBM VM, b

[2019-11-04 15:31] fjeremic commented on #7275
@r30shah does your current fix address any of the above? We know at least several issues got fixed. Let's try to deliver that fix so the failures get less noisy and see what is left.

[2019-11-04 15:43] pshipton commented on #7503
@zl-wang can you spot anything in the executable header which is different between IBM and OpenJ9 builds that would explain this behavior?

Not sure it matters, but there are two different compiler versions used.
IBM Java uses xlc 12.0.1
OpenJ9 uses xlc 13.1.3

[2019-11-04 15:47] fjeremic opened #7685 "Add static_assert support in the VM/GC makefiles"
As described in [1] we can have static_assert in the VM/GC by adding command line options to the compiler build process. These options are harmless and enable the use of valuable features such as `static_assert`. We need to find the right place where these options can be added in the VM/GC makefiles.

As part of this issue we should try and revert the x86-only portion of #7678 as a proof of concep

[2019-11-04 15:52] dmitripivkine commented on #7682
[code]
This is duplicate of https://github.com/eclipse/openj9/issues/7300

[2019-11-04 15:54] DanHeidinga commented on #7684
I don't know enough about the XSLT processing to know how to dump the generated files.  @hzongaro Are you aware of a `-D define` or other option to have the XSLT transformer dump the generated classes to disk?

[2019-11-04 15:55] r30shah commented on #7300
I have opened up PR to address the segmentation faults in GC seen on x86 due to JProfiling.
https://github.com/eclipse/omr/pull/4535

[2019-11-04 15:56] dmitripivkine commented on #7682
Close as far as it is a duplicate

[2019-11-04 15:56] #7682 closed

[2019-11-04 15:56] pshipton commented on #7275
@dmitripivkine pls see https://github.com/eclipse/openj9/issues/7275#issuecomment-549148379
This is a crash with a different vmstate than we've seen before, but perhaps another dup of #7300

[2019-11-04 15:56] r30shah commented on #7275
@fjeremic  Opened up the PR to fix couple of issues in https://github.com/eclipse/omr/pull/4535
The one mentioned by https://github.com/eclipse/openj9/issues/7275#issuecomment-549148379 is going to get fixed by this change.

[2019-11-04 16:01] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.system_s390x_linux_Nightly/86
DaaLoadTest_all_0

[2019-11-04 16:07] r30shah commented on #7275
Update: I was able to find the bad method because of which we are seeing this failure.
The reason we fail is because when we call to get String from BigInteger in following code,
https://github.com/eclipse/openj9-systemtest/blob/6e6e2fe02409fdbd617dff730a4e6defd660eb09/openj9.test.daa/src/test.daa/net/openj9/test/Utils.java#L489
It returns bad string. Tracing down the path I found that method `jav

[2019-11-04 16:11] pshipton commented on #7681
Dup of https://github.com/eclipse/openj9-systemtest/issues/106

[2019-11-04 16:11] #7681 closed

[2019-11-04 16:16] AdamBrousseau opened #7688 "Jenkins: Possible issue with Git plugin"
Seeing a warning on the console output about a possible memory leak in the git plugin
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64_aix_Personal/298/
[code]
Links to this [issue](https://issues.jenkins-ci.org/browse/JENKINS-19022) and this workaround
https://wiki.jenkins.io/display/JENKINS/Remove+Git+Plugin+BuildsByBranch+BuildData

Very odd that the scm console is broken and the second half

[2019-11-04 16:17] AdamBrousseau commented on #7688
@pshipton Should we open a bugzilla for assistance? I don't have enough permissions to even view the  master's filesystem. Not sure if you have permissions to run scripts on master.

[2019-11-04 16:19] pshipton commented on #7593
@DanHeidinga can you pls take a look.

[2019-11-04 16:22] pshipton commented on #7300
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/194
SharedClasses.SCM23.MultiCL_0
[code]

[2019-11-04 16:22] planetf1 commented on #7684
Another observation. The exact stage of the build the failure happens on varies. Sometimes it may get all the way through (supposition - since I originally only noticed this on a nightly). For example I ran now and it got 50% further. Still failing with the same report, managing RAT.

Our 'master' code is changing - a few updates constantly through the day, but it may also point to odd corruption

[2019-11-04 16:23] pshipton commented on #7275
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.system_s390x_linux_Nightly/87
DaaLoadTest_daa1_0
[code]

[2019-11-04 16:25] pshipton commented on #7010
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_extended.functional_x86-64_mac_Nightly/87
TestAttachErrorHandling_0
[code]

[2019-11-04 16:30] pshipton commented on #7276
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_ppc64_aix_Nightly/39
LambdaLoadTest_OpenJ9_NonLinux_special_21
variation: Mode615
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:gencon -Xquickstart -Xjit
[code]

[2019-11-04 16:31] planetf1 commented on #7684
Only seen on MacOS so far. trying same code/version on linux, but not seen yet.

[2019-11-04 16:39] DanHeidinga commented on #7593
This appears to be related to the String Concat using Indy feature.

The current stack trace shows mostly thunkArchetype methods (ie the JIT's JSR 292 implementation) - see
[code]
with the final failing call in:
https://github.com/ibmruntimes/openj9-openjdk-jdk13/blob/2445b05329a2f5dc7eebd432361788307994da18/src/java.base/share/classes/java/lang/StringConcatHelper.java#L394-L403

@andrewcraik Can

[2019-11-04 16:52] hzongaro commented on #7684
Dan @DanHeidinga, I'm not aware of a `-D` option or other JVM option that can be specified to have the XSLT processor dump the generated classes.  The only way I'm aware of doing it is programmatically.

There is a [`TransformerFactory.setAttribute`](https://xml.apache.org/xalan-j/apidocs/javax/xml/transform/TransformerFactory.html#setAttribute(java.lang.String,%20java.lang.Object)) method that ca

[2019-11-04 16:53] amicic commented on #7679
Concurrent Global GC has been in progress (In this particular run, which is the variable that makes this intermittent), when idle is detected:

[code]

It's started while app was still active, and the linked list has already been identified as live. (Not necessarily all the elements of the list have been identified as live prior to idle detection, but the root of the list for sure is).

Forced Sys

[2019-11-04 17:02] hangshao0 commented on #7641
Removed the check at:
https://github.com/eclipse/openj9/blob/0cab97e4e43d12056a413eda883595a40bb7b7e5/runtime/shared_common/CacheMap.cpp#L1349

to ensure that we always update the rom segment list. The failure is gone on other platforms but pLinux. On plinux the current thread is still seeing an obsolete J9MemorySegment->heapAlloc, while in the core file, J9MemorySegment->heapAlloc shows a correct

[2019-11-04 17:16] adamfarley opened #7689 "z/OS JTReg failure: UpdateInterference.java test fails with segmentation error"
Failure link
------------

Public link to the failing test
and ideally extracting relevant info from the failed run (just enough info to [run a Grinder](https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins)), include:
- test category: openjdk
- test target name: jdk_nio
- OS/architecture: z/OS
- public build SHAs: Not Available (Builds available on request)

Opt

[2019-11-04 17:17] amicic commented on #7679
To confirm that's the source of the problem, you can run with -Xgc:noConcurrentMark (and combine with slightly  different total heap sizing, like +/- 20%)

[2019-11-04 17:19] Madhusudan-Devaraju commented on #7683
No this is not a problem from my end. I'm getting the same error in all the test cases. Please let me know if you are not able to fix this issue.

[2019-11-04 17:21] Madhusudan-Devaraju opened #7690 "ERROR:java.lang.NullPointerException: Cannot get property 'testSteps' on null object"
I'm not able to get the custom properties from test cases that defined in another test suite. Below is the log.
I access the custom properties till yesterday afternoon but when executing the same script in the evening resulted in an error.

SoapUI Version: 5.5.0**

Mon Nov 04 12:09:20 IST 2019:ERROR:java.lang.NullPointerException: Cannot get property 'testSteps' on null object
java.lang.NullPointe

[2019-11-04 17:35] adamfarley commented on #7689
Hmm, this issue may have already been resolved. Double checking.

[2019-11-04 17:38] dmitripivkine commented on #7486
@vijaysun-omr @amicic @DanHeidinga

Currently Scavenger does not scan Classes related metadata (except Class Statics). It is possible because all other class related objects must be allocated in Tenure mandatory.

However we can not keep this behaviour any more. Condy code require to  scan Class Constant Pool (already implemented for Java 11). Also VM developers requested Class Constant Pool scan

[2019-11-04 17:39] adamfarley commented on #7689
Issue definitely looks to have been resolved in the latest builds.

Will close.

[2019-11-04 17:50] ChengJin01 commented on #5058
Further investigation shows the problem has nothing to do with the existing changes on RISC-V but the specified `build-jdk` itself.

To be specific, a normal compilation process needs a `build-jdk` in the final stage to populate the legacy java 8 packages  info (`src/java.base/share/classes/jdk/internal/module/jdk8_packages.dat`) to the module system of the build being compiled in which case there

[2019-11-04 18:07] DanHeidinga commented on #7690
@Madhusudan-Devaraju Nothing here indicates an issue with the JVM.  As discussed in https://github.com/eclipse/openj9/issues/7683, there is likely something in the way `testCases["TC2"]` is defined or in your configuration.

I'd approach this by looking at the `testCases["TC2"]` in a debugger and validating that the `testSteps["GetEmployees_Property"]` is part of it (?) or correctly found by the t

[2019-11-04 18:07] #7690 closed

[2019-11-04 18:07] pshipton commented on #7688
Can't hurt.

I doubt it.

[2019-11-04 18:09] andrewcraik commented on #7593
We are a bit busy but I will put this on the list for when someone has time.

[2019-11-04 18:42] AlenBadel commented on #7667
Would there be any particular reason this would be resolved in gcc 7.4?

We'll undoubtedly run into issues building openj9 on ppc64le with newer versions of gcc. If we're able to create a simple test case to produce this failure, then we can definitely try out the GCC head 9.2, or even V10.

I wasn't able to find anything that relates to this issue on GCC's issue tracker.
https://gcc.gnu.org/bugzi

[2019-11-04 18:47] zl-wang commented on #7503
I saw nothing stood out except the fact that OpenJ9 text/data are in the way of java heap allocation (but that is irrelevant to this issue with 1GB heap).

It appeared to me an ulimit issue.  Before I unlimited various limits, I can recreate this on my machine even with -Xint.  After I unlimited them, it ran through without problem:
# openj9_8.0.15/bin/java -Xmx1024m -Xss256K -Xmso256K StartThread

[2019-11-04 19:29] planetf1 commented on #7684
Thanks for the update, but I think that will be rather tricky. Technically all of this will be open source but it involves the implementation of the rat plugin - not familiar, time...

The unfortunate issue is I was hoping to ensure we can run with J9, but I have hit a variety of issues - being worked through I now, but for now I think I'll have to recommend sticking with hotspot.

[2019-11-04 19:42] pshipton commented on #7684
Can we dump a core file when the VerifyError occurs and get the bytecode that way?

`"-Xdump:system:events=systhrow,filter=java/lang/VerifyError,request=exclusive+prepwalk"`

[2019-11-04 20:14] avermeer opened #7692 "Nashorn 15x Slower With openj9-0.17.0 Java11_vs openj9-0.17.0 Java8"
Hello OpenJ9 community,

I have been told about a 12x performance hit impacting one of our applications when testing the same Java application built with JDK8 running with openj9-0.17.0 Java8 versus running it with openj9-0.17.0 Java11 on 64-bit Linux (CentOS 7.6).

I was surprised of this large difference, because I though that openj9 was the "main engine", and that the surrounding Java 8 vs. Jav

[2019-11-04 20:29] pshipton commented on #7503
On AIX 7.2 using the same JVM parameters, I am also able to create 1000 threads with OpenJ9 0.15.1. I also tried with 10,000 and it worked.

[2019-11-04 20:33] pshipton commented on #7503
This seems unrelated to the java heap placement, as in both the original javacore from https://github.com/eclipse/openj9/issues/7503#issuecomment-546297230 and on my machine, the object heap is located at 0xE0000000.

[2019-11-04 20:54] pshipton commented on #7692
@andrewcraik can you please take a look.

[2019-11-04 20:59] pshipton commented on #7667
Problems were resolved in 7.4 since 7.3 https://gcc.gnu.org/bugzilla/buglist.cgi?bug_status=RESOLVED&resolution=FIXED&target_milestone=7.4

The gcc version OpenJ9 uses is tied to what OpenJDK supports. https://wiki.openjdk.java.net/display/Build/Supported+Build+Platforms

If we thought it worth the effort, we could try to move from 7.3 to 7.4 (in fact zLinux already uses 7.4) after doing some perf

[2019-11-04 21:12] pshipton commented on #7685
The suggested option is `-qlanglvl=extended0x` which is an xlc option. Only AIX (and z/OS) OpenJ9 builds use xlc.

[2019-11-04 21:13] pshipton commented on #7685
and AIX and z/OS both already set `-qlanglvl=extended0x`

[2019-11-05 00:44] dmitripivkine commented on #7692
Most likely it is unrelated but make sense to double check: default maximum object heap size (-Xmx) has been changed from 512m in Java 8 to 25% of RAM available on machine in Java 11. If this app is sensitive somehow to object heap size so you might need to specify -Xmx value explicitly

[2019-11-05 01:43] DanHeidinga commented on #7486
The 2% regression to scavenger pauses on gencon doesn't really concern me given this would be hard to notice in the existing pause times.  The 6.25% for concurrent scavenger is more of an issue as concurrent scavenger is aimed at low pause scenarios.

I'm on board with this plan provided that we start work on the "Class needs to be scanned in Scavenger" flag immediately.

[2019-11-05 05:47] Madhusudan-Devaraju commented on #7690
@DanHeidinga I verified the same scenario on multiple systems. But I'm still getting the same error.
Also, I changed the JDK from 13.0.1 to 8, But still the issue existes.

Also, I wonder how come there was no issue on Sunday (03-11-2019) days before and suddenly it surfaced form Monday (04-11-2019).
There is certainly an issue. Please do help.

[2019-11-05 06:57] inatatsu opened #7694 "SIGSEGV in walkStackForExceptionThrow()"
Java -version output
--------------------
[code]
Summary of problem
------------------
JVM crashes due to SIGSEGV in libj9vm29.so:
[code]
It seems that the JVM crashed during a stack walk for exception handling:
[code]
Does R3 == 0 mean a NULL exception object is passed to the function?
https://github.com/eclipse/openj9/blob/60342c2c6a73813a5efe6022c2c7f26b5edf314d/runtime/vm/exceptionsupport.c#L7

[2019-11-05 07:51] avermeer commented on #7692
Hello @dmitripivkine ,

My test machine has 7GB RAM,  25% of this size is much higher than 512m.
I tried running the same test adding `-Xxmx=512m` option, leading to same results.

Kind regards,
Alexandre

[2019-11-05 08:26] planetf1 commented on #7684
Typically I cannot get a failure this morning. I've set MAVEN_OPTS with the above, so if/when I get a failure hopefully I'll find a core (also added a ulimit -c unlimited in my build invocation).

[2019-11-05 09:27] Madhusudan-Devaraju opened #7695 "ERROR:java.lang.NullPointerException: Cannot get property 'testSteps' on null object"
I'm not able to get the custom properties from test cases that defined in another test suite. Below is the log.
I access the custom properties till yesterday afternoon but when executing the same script in the evening resulted in an error.

SoapUI Version: 5.5.0**

Mon Nov 04 12:09:20 IST 2019:ERROR:java.lang.NullPointerException: Cannot get property 'testSteps' on null object
java.lang.NullPointe

[2019-11-05 09:28] Madhusudan-Devaraju commented on #7695
I verified the same scenario on multiple systems. But I'm still getting the same error.
Also, I changed the JDK from 13.0.1 to 8, But still the issue existes.

Also, I wonder how come there was no issue on Sunday (03-11-2019) and suddenly it surfaced form Monday (04-11-2019).
There is certainly an issue. Please do help.

[2019-11-05 10:19] planetf1 commented on #7684
After around 8 attempts I had another failure
with
[code]
[code]
Also `ulimit -a` shows
[code]
However I can't see any core file in the current directory from where the sw was launched

[2019-11-05 11:20] JonDGH commented on #7503
These are the hard limits on the AIX box that I'm using:

#-> ulimit -aH
time(seconds)        unlimited
file(blocks)         unlimited
data(kbytes)         unlimited
stack(kbytes)        4194304
memory(kbytes)       unlimited
coredump(blocks)     unlimited
nofiles(descriptors) 65536
threads(per process) unlimited
processes(per user)  unlimited

And the soft limits:

#-> ulimit -aS
time(seconds)

[2019-11-05 12:32] pshipton commented on #7690
@Madhusudan-Devaraju what changed between Sunday and Monday? Did the JVM version change? If so, what was the version used on Sunday, and the one used on Monday?

[2019-11-05 12:53] JasonFengJ9 commented on #7514
[code]

[2019-11-05 12:55] Madhusudan-Devaraju commented on #7690
@pshipton nothing changed I used the same version of JDK. All went right on Sunday I'm not sure went wrong suddenly.

I tried the same scenario on multiple windows 10 machines. But encountered the same issue.

I even tried on JDK 8 yesterday but still, the issue was seen.

This issue gets surfaced only when you try to get properties from other test suite or test case.

[2019-11-05 12:56] Madhusudan-Devaraju commented on #7695
@pshipton nothing changed I used the same version of JDK. All went right on Sunday I'm not sure went wrong suddenly.

I tried the same scenario on multiple windows 10 machines. But encountered the same issue.

I even tried on JDK 8 yesterday but still, the issue was seen.

This issue gets surfaced only when you try to get properties from other test suite or test case.

[2019-11-05 13:25] DanHeidinga commented on #7695
@Madhusudan-Devaraju I'm going to close this again as there is nothing indicating a JVM bug here.

I suggest you review the your code and confirm that the `"GetEmployees_Property"` property exists and is spelled exactly the same in the `"TC2"` test case.  If it exists and is spelled the same, attach a debugger and walk through the program flow.  This is something you'll need to resolve in your cod

[2019-11-05 13:26] #7695 closed

[2019-11-05 13:29] DanHeidinga commented on #7514
fyi @andrewcraik @liqunl

[2019-11-05 13:30] Madhusudan-Devaraju commented on #7690
Similarly when I execute
**testRunner.testCase.testSuite.testCases["AddTestCase"].testSteps["Add"].getPropertyValue("Request")**

I get the below error
**ERROR:java.lang.NullPointerException: Cannot get property 'testSteps' on null object**

log:
Tue Nov 05 18:59:22 IST 2019:ERROR:java.lang.NullPointerException: Cannot get property 'testSteps' on null object
   java.lang.NullPointerException: Cann

[2019-11-05 13:32] pshipton commented on #7690
I agree with Dan, there is nothing here that indicates the problem is a JVM problem. Have you tried OpenJDK+Hotspot instead of OpenJ9?

[2019-11-05 13:35] Madhusudan-Devaraju commented on #7695
So then I wonder how the same scripts executed on Sunday. Can you please explain.
I'm calling the properties only after I define them. so there should not be a null pointer exception right?

[2019-11-05 13:42] Madhusudan-Devaraju commented on #7695
I use the open version of SoapUI. I can't debug it. I have reworked many times on the suggestions which you have provided in your above comment. But all the time I encounter the same error.

[2019-11-05 13:44] Madhusudan-Devaraju commented on #7690
My basic question is how did it all work fine before Sunday evening and suddenly broke down from Sunday night.

[2019-11-05 13:45] pshipton commented on #7503
The machine I'm using has the same soft limits, but no problem creating 10,000 threads.
`bin/java -Xmx1024m -Xss256K -Xmso256K StartThreads 10000`
[code]
[code]

For reference here are the hard limits on my machine as well.
[code]

[2019-11-05 13:56] pshipton commented on #7503
The only change to the limits done by OpenJ9 (and the IBM Java VM) is to the file descriptors.
https://github.com/eclipse/openj9/blob/200fc549e0400c6d25820866220d85507df77394/runtime/vm/jvminit.c#L1855

It seems that IBM Java does set the RLIMIT_DATA limit in the JCL code, but this change is specific to IBM Java and isn't in OpenJDK. OpenJ9 builds use OpenJDK.

@andrew-m-leonard can you please loo

[2019-11-05 13:57] pshipton commented on #7503
I suppose we could also consider making this change in OpenJ9.
@DanHeidinga

[2019-11-05 14:05] DanHeidinga commented on #7684
Can you set the `OPENJ9_JAVA_OPTIONS` environment variable to `"-Xdump:system:events=systhrow,filter=java/lang/VerifyError,request=exclusive+prepwalk"`?  I'm not sure how MAVEN_OPTS gets passed through

[2019-11-05 14:09] ashu-mehra commented on #7692
@avermeer I see similar performance degradation with hotspot as well.

Java 8:
[code]

Java 11:
[code]

[2019-11-05 14:21] ashu-mehra commented on #7692
I guess this most likely points to something wrong with the JavaScript engine in Java 11

[2019-11-05 14:23] andrewcraik commented on #7692
We will take a look, but a few of the regular contributors / collaborators are at a conference today and tomorrow so we may not have answers for a couple of days. I would note that java 11 and java 8 have very different implementations of some core data structures and in general more use of method handles etc in the newer Java level. The performance should be good, but Java 11 has not been run as

[2019-11-05 14:30] llxia commented on #969
There are two parts for this issue:

- [ ] catch cores during test execution.
In [resultsSum.pl](https://github.com/eclipse/openj9/blob/200fc549e0400c6d25820866220d85507df77394/test/TestConfig/scripts/resultsSum.pl#L133), if the test failed with core on zos, move the core under `REPORTDIR/<testname>`.

- [ ] catch cores during test compilation.
In [makefile](https://github.com/eclipse/openj9/blob/

[2019-11-05 14:32] andrewcraik commented on #7514
@liqunl - will this be fixed by any of your recent changes?

[2019-11-05 14:33] andrewcraik commented on #7514
@JasonFengJ9 any chance you could try with the latest OpenJ9 as there have been a few fixes recently and I'd hate to investigate a duplicate. Would be nice to know if the latest OpenJ9 is functionally correct or not.

[2019-11-05 14:34] planetf1 commented on #7684
I will try that too, though I've used it for other JVM options and it appears to pass through fine (or through JAVA_TOOL_OPTIONS). But will set OPENJ9_JAVA_OPTIONS

[2019-11-05 14:44] andrewcraik commented on #7452
OMR change has been merged. I believe this is now fixed so marking closed. Please reopen if this is still a problem with the change added to the VM.

[2019-11-05 14:46] JonDGH commented on #7503
Assuming the data limits code is along the lines of the file descriptor limits, it seems like the workaround for us is to add: ulimit -d -S $(ulimit -d -H)

to our launch script.

Am I correct in thinking that this isn't specific to AIX?

If there's no code to adjust the limits, it seems odd that this is the case: "The machine I'm using has the same soft limits, but no problem creating 10,000 thre

[2019-11-05 14:52] pshipton opened #7696 "rtc001 ASSERTION FAILED at compiler/runtime/IProfiler.cpp:4215"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly/191
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/193
cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_0
[code]

https://ci.eclipse.org/openj9//job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=functional&JenkinsFile=openjdk_ppc64le_linux&TARGET

[2019-11-05 14:53] pshipton commented on #7696
I also saw this problem in a personal build on AIX yesterday (431938).
On AIX it didn't reproduce in 250 runs.

[2019-11-05 14:53] liqunl commented on #7514
It can be related to #7604, we need to try the latest build.

[2019-11-05 14:57] JasonFengJ9 commented on #7514
It is in latest `OpenJ9` acceptance build.
[code]

100x grinder didn't reproduce.

[2019-11-05 14:58] andrewcraik commented on #7696
so the assert is saying we are getting IProfiler data for a bytecode the JIT is not expecting - could someone have a look at the IProfiler buffer to see what the bytecode was that we were getting data for? Not sure how we would get such invalid data. Maybe there was a redefinition or something? Not sure but it is really a case where the JIT doesn't know what the data is.... Have there been any cha

[2019-11-05 15:32] pshipton commented on #7503
Agreed, I don't understand why it works on the machines we have, but not yours.
@andrew-m-leonard can you get any history of why the change was added to IBM Java?

The IBM Java change to adjust the RLIMIT_DATA limit is specific to AIX.

[2019-11-05 15:41] pshipton commented on #7503
@JonDGH I do notice that you have a stack limit `stack(kbytes) 4194304`, while the other machines do not. Not sure if this is related. @zl-wang any ideas?

[2019-11-05 15:51] JonDGH commented on #7503
I see the same issue even with the stack size set to unlimited, so seems like it's solely down to the data limit:

#-> ulimit -aH
time(seconds)        unlimited
file(blocks)         unlimited
data(kbytes)         unlimited
stack(kbytes)        unlimited
memory(kbytes)       unlimited
coredump(blocks)     unlimited
nofiles(descriptors) 65536
threads(per process) unlimited
processes(per user)  unlim

[2019-11-05 15:57] hzongaro commented on #7593
Andrew asked me to investigate the problem

[2019-11-05 16:13] pshipton commented on #7696
Can't guarantee the change was introduced yesterday, but here are the changes
https://github.com/eclipse/openj9/compare/208f6de...200fc54
other components didn't change.

[2019-11-05 16:34] DanHeidinga commented on #7696
My guess is it's related to the change to stop converting invokevirtual -> invokespecial for unsafe classes.  Java 8 will now see the `invokePrivateMethod` in addition to the `initialVirtualMethod`.

Likely need a change to https://github.com/eclipse/openj9/blob/eb34cfa086458315a5842237d1c08aa2cc81e303/runtime/compiler/runtime/IProfiler.cpp#L4159 to handle `invokePrivateMethod` as well.

I'll put

[2019-11-05 16:49] piyush286 commented on #7459
@ymanton How much improvement do we expect with #7637? Just curious! We'll be monitoring our regression runs anyway to verify that.

[2019-11-05 16:53] vijaysun-omr commented on #7486
Are the slowdowns in scavenge time reported in https://github.com/eclipse/openj9/pull/7636#issuecomment-548426593 expected to be the norm ? Or is it the results from one benchmark that was tried ?

Otherwise I agree with the plan mentioned by @dmitripivkine and echo Dan's comment that the CS overhead is the more worrisome one.

[2019-11-05 17:00] keithc-ca commented on #7671
This should only be relevant to Java 8; in newer versions OpenJ9 uses the openjdk implementations of `StringBuffer` and `StringBuilder` (see https://github.com/eclipse/openj9/blob/master/jcl/src/java.base/share/classes/java/lang/StringBuffer.java#L1 and https://github.com/eclipse/openj9/blob/master/jcl/src/java.base/share/classes/java/lang/StringBuilder.java#L1).

[2019-11-05 17:10] DanHeidinga commented on #7503
+1 I support fixing this in OpenJ9 rather than having a patch to the Extensions repo.  Given there's a patch in the IBM JDK for this, we've clearly identified a need for it in the past.

[2019-11-05 17:17] ashu-mehra commented on #7679
@amicic Ran multiple times with `-Xgc:noConcurrentMark` and it seems to work fine so far.

[2019-11-05 17:29] zl-wang commented on #7503
What is the DATA-limit fix (in JCL)? Set it to accommodate the java heap?  That is missing the target, since java heap is typically not budgeted from C/system heap where DATA-limit applies. It looks to me it just happens to work out.

[2019-11-05 17:55] andrew-m-leonard commented on #7503
Will investigate, https://github.ibm.com/runtimes/openjdk-contribution/issues/1079
@pshipton

[2019-11-05 18:18] ymanton commented on #7459
@piyush286 My start-up went from 24.3% longer down to 11.8%.

[2019-11-05 18:26] pshipton commented on #7503
@zl-wang the JCL fix sets RLIMIT_DATA to RLIM64_INFINITY if it isn't already. If RLIM64_INFINITY can't be set, it prints the message below. I don't know that this change is related to the java heap. In this case it is affecting the number of threads which can be created, and not the size of the heap which can be used. When the JVM fails to allocate a thread, an OOM error occurs. `Detail "java/lang

[2019-11-05 18:29] pshipton commented on #7503
@zl-wang if you didn't catch it, see https://github.com/eclipse/openj9/issues/7503#issuecomment-549781070 `If I set the soft limit for data to unlimited the J9 VM runs in the same way as the IBM VM.` meaning that 1000 threads can be created with OpenJ9, rather than getting OOM after 300 threads.

[2019-11-05 18:38] AdamBrousseau commented on #7688
https://bugs.eclipse.org/bugs/show_bug.cgi?id=552708

[2019-11-05 18:48] zl-wang commented on #7503
That makes senses. It should be applied to all platforms (of resource limitation), shouldn't it?

[2019-11-05 18:52] LinHu2016 commented on #7486
@dmitripivkine Sure.

[2019-11-05 18:56] pshipton commented on #7503
@zl-wang It has never been applied to all platforms before, and afaik nobody has reported a problem on other platforms. We'll see if Andrew can get any more information from investigating why the limit change was introduced on AIX.

What we still don't understand is why the machine I'm using, and the one you are using, doesn't have the same limitation, although at least my machine and the problema

[2019-11-05 19:29] JonDGH commented on #7503
I'm not sure if any of this is helpful, but on my machine:
$ uname -a
AIX paix303 2 7 00FB112A4C00

$ oslevel -q
Known Maintenance Levels
------------------------
7.2.0.0

[2019-11-05 19:42] zl-wang commented on #7503
@pshipton  on my machine, i indeed needed to (re)set the limits in order to run that test case, as i described in https://github.com/eclipse/openj9/issues/7503#issuecomment-549493444.

[2019-11-05 19:42] AdamBrousseau commented on #7160
@0xdaryl is this still an issue?

[2019-11-05 19:57] pshipton commented on #7503
ok, so seems only my machine is wonky. It does seem to be a different level (00F72C294C00 instead of 00FB112A4C00), perhaps there was a bug.

[2019-11-05 20:01] DanHeidinga commented on #7696
See https://github.com/DanHeidinga/openj9/pull/new/djh/iprofiler

[2019-11-05 20:15] BeverlyXu commented on #7692
I was able to reproduce the problem on a Broadwell machine

CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                72
On-line CPU(s) list:   0-71
Thread(s) per core:    2
Core(s) per socket:    18
Socket(s):             2
NUMA node(s):          2
Vendor ID:             GenuineIntel
CPU family:            6
Model:                 79
Model name:

[2019-11-05 20:49] headius opened #7699 "Slower performance than C2 on hot thread local access"
I was optimizing a particularly hot threadlocal in JRuby today and noticed that current OpenJ9 Java 8 (nightly from Oct 12th or so) appears to be nearly 2x slower than OpenJDK8 C2 (recent-ish build). It seemed worth posting an issue after discussing it in Slack.

The optimized PR/branch and the benchmark are provided along with a link to C2 assembly output in https://github.com/jruby/jruby/pull/59

[2019-11-05 20:52] DanHeidinga opened #7701 "Add interpreter profiling for the invokePrivateMethod case"
From #7697,

method being called in the invokeprivate case but that will
have to be done in a separate PR.

The right way to do this is to add profiling to the invokePrivateMethod implementation that (re)fetches the receiver class, and then generates a new profile record.

The IProfiler is already able to discard the samples containing the invokePrivateMethod so a second sample would give the JIT

[2019-11-05 20:54] DanHeidinga commented on #7701
Need to confirm if profiling is valuable here given that the single possible target is known from the constantpool.  The JIT may not need the profile data in the same way it doesn't for invokestatic.

Need to determine what the presence / absence of profiles at an invokevirtual does to the JIT heuristics.

@mpirvu @andrewcraik

[2019-11-05 20:54] DanHeidinga commented on #7701
If the profiles aren't needed, the BytecodeInterpreter should be updated with a comment to describe why

[2019-11-05 20:56] andrewcraik commented on #7701
I suspect that because the bytecode looks like a virtual invoke - unless the JIT can see there is guaranteed to be only one target just from the resolution APIs we will need the profiling... I'm at a conference right now, but I will try to look shortly to confirm.

[2019-11-05 22:48] jdekonin commented on #7432
@rajdeepsingh1 has a plan for this but we want to wait until we have access to the management console for these systems.  We currently only have 4 of 6 online, I don't want to give the go ahead on a functional system to have that one accidentally removed from availability as well.

[2019-11-06 00:36] keithc-ca commented on #7432
Can you share a summary of that plan? Thanks.

[2019-11-06 02:40] hzongaro commented on #7593
I saw 11/100 failures with MathLoadTest_all_0 on Windows in a grinder run; 0/100 failures with DaaLoadTest_all_0 on MacOS.

[2019-11-06 09:06] JonDGH commented on #7503
Thanks for all the assistance on this.  I don't think the dumps and code in my repo (https://github.com/JonDGH/j9-aix-oom) are of any value now, so I'll be deleting it shortly.  I can always make anything it contained available again if it's needed.

[2019-11-06 12:45] #6412 closed

[2019-11-06 14:25] JamesKingdon commented on #7699
The timing loop in the benchmark is in the main method, so it will be a dlt compile. It would be worth checking what happens if the loop is moved into a separate method and warmed up before running the test.

[2019-11-06 14:46] rajdeepsingh1 commented on #7432
@keithc-ca

It seems the Program Files directory short name was not being set due to access denied errors. The directory has a tendency of being locked while the user (administrator) is logged in, since it is housing system files.

On my Win2012 test machine I was able to schedule a task (similar to a cronjob) with the ```Task Scheduler``` utility.

The task will initiate the following command imm

[2019-11-06 14:53] keithc-ca commented on #7432
I tried that too, but maybe the trigger I specified was not early enough. Let's hope that works.

[2019-11-06 15:25] planetf1 commented on #7684
Needed to do a build today and hit the issue again - those options are set but I still see no evidence of a core?
[code]

[2019-11-06 15:25] planetf1 commented on #7684
[code]

[2019-11-06 15:33] planetf1 commented on #7684
New information - I just hit the same issue on linux (Ubuntu 19.10) - though I did not have the same environment set there to capture debug:

Again
[code]
[code]

[2019-11-06 15:37] planetf1 commented on #7684
No sign of cores on linux either

[2019-11-06 15:39] mpirvu opened #7704 "Sanity test failures with JITServer code from master branch"
Running sanity test bucket locally with master branch and JITSERVER_SUPPORT defined I observed some failures that do not happen with the jitaas branch:
[code]
This could be a sign that the two branches are not perfectly aligned as they should be.

[2019-11-06 15:58] gacholio commented on #7694
`Does R3 == 0 mean a NULL exception object is passed to the function?`

That's right.

Can you make the core available?

[2019-11-06 17:06] pshipton commented on #7696
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/192
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/194
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/190

[2019-11-06 17:11] adamfarley commented on #7689
It's re-occurred on a later build a few times, and now the machine's been restarted the issue (plus system core) is gone again.

Luckily I grabbed some of the diagnostic files before it went down.

[diagnostic_files.zip](https://github.com/eclipse/openj9/files/3815839/diagnostic_files.zip)

[2019-11-06 17:14] pshipton commented on #7684
Try just `-Xdump:system:events=systhrow,request=exclusive+prepwalk` without the filter. I don't think any other exceptions would be thrown from the VM normally, and the `class name is invalid` may be a ClassFormatError instead of a VerifyError.

[2019-11-06 17:30] #7689 closed

[2019-11-06 17:48] JennyChenyj commented on #969
Hey @llxia! I opened a pr for the first part of the issue: https://github.com/eclipse/openj9/pull/7707
It was tested: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/3209/console
Thanks for reviewing it!

[2019-11-06 19:19] AdamBrousseau commented on #7688
Script was run and warnings appear to have disappeared.

[2019-11-06 19:19] #7688 closed

[2019-11-06 19:37] dsouzai opened #7710 "Define Portable SCC"
For the majority of the time the SCC feature has existed, there was no real reason for the SCC to ever be moved from one machine to another. However, with the emergence of Docker containers it is much more likely that a SCC generated on one machine could be used on another. In fact, multi-layered SCCs (introduced in 0.17) facilitates such a workflow. However, because the SCC was never moved from o

[2019-11-06 19:39] planetf1 commented on #7684
Tried that, and this time my maven build failed in 27s which is pretty impressive. Same error. No sign of a core. This was on ubuntu. Clearly the RAT plugin is the cause, yet I've never seen this with hotspot, nor with earlier J9 builds which I've been using intermittently since macOS came out from adoptopenjdk

[2019-11-06 19:40] DanHeidinga opened #7711 "Add API for checking for VM initialMethods"
See discussion in https://github.com/eclipse/openj9/pull/7697#discussion_r343277207

We need to factor out an API for detecting the `initial{virtual|static|special}Method` and the `invokePrivateMethod`.

Ideally, in the `invokePrivateMethod` case we should be able to return the "real" method as the method should only be in  CP when the entry is resolved

[2019-11-06 19:48] DanHeidinga commented on #7684
This is a ClassFormatError.  Can you try with `"-Xdump:system:events=systhrow,filter=java/lang/ClassFormatError,request=exclusive+prepwalk"` in the OPENJ9_JAVA_OPTIONS?

We may need to hack a VM that dumps the classfile on a verifyerror/classformaterror....

[2019-11-06 19:52] hangshao0 commented on #7710
I guess the Portable SCC applies to persistent cache only.

[2019-11-06 20:15] dsouzai commented on #7710
Is there a non-persistent SCC?

[2019-11-06 20:25] amicic commented on #7486
The optimization is already there. In Scavenger, we historically scanned only static slots _only for classes that had statics to Nursery_. This was accomplished by remembering such classes through static barrier (J9WriteBarrierJ9ClassStore or appropriate jit wrapper) call after the store itself.

[The underlying mechanism was using the class object (that is known to be pre-tenured) to remember/add

[2019-11-06 20:48] hangshao0 commented on #7710
Is there a non-persistent SCC ?

Yes. But the default cache type is persistent on all platform except z/OS.

[2019-11-06 20:50] dsouzai commented on #7710
Ah right; then yeah, this is only relevant for the persistent cache. More specifically, only if the user wishes to make it portable. IMO I don't think we should enforce that the SCC is always portable since portability limits the amount of optimization that can be done.

[2019-11-06 21:16] DanHeidinga commented on #7486
All writes to the constantpool should be occurring in resolvesupport.cpp using the `J9STATIC_OBJECT_STORE` macro to store objects.

Taking a quick look at it shows all the places I would expect are using the `J9STATIC_OBJECT_STORE` macro.  Is there something else that's missing?

[2019-11-06 21:34] amicic commented on #7486
J9STATIC_OBJECT_STORE will do it (it will do both the store and than call the barrier above) and actually preferred (to me) from separating the store and barrier calls. But, all recently added slots (MH, MT, CD...) should comply, too.

[2019-11-06 21:48] pshipton commented on #7684
I expect that if `-Xdump:system:events=systhrow,request=exclusive+prepwalk` didn't work, then the version with the filter won't work either. The one without the filter should dump a core for any systhrow exception.

Another possibility is the core is going to an unexpected place. If the -Xdump command triggers, there are messages printed to stderr like the following.
[code]

[2019-11-06 22:04] ChengJin01 commented on #5058
I am currently investigating the failing test case `testContentionGroupsAndClass` in `ContendedFieldsTests` which failed with `-XX:-RestrictContended` specified on the command line.
[code]
against the failing class at `/Java8andUp/src_110_up/org/openj9/test/contendedfields/TestClasses.java`
[code]
Looking at the test code in `ContendedFieldsTests`:
[code]
So the investigation above shows the `-XX:

[2019-11-06 22:28] planetf1 commented on #7684
I don't see any messages like this, but of course I am running a maven build, and within that eat

[2019-11-06 22:47] pshipton commented on #7684
Did you try searching the file system for `core.20191106.*`?

[2019-11-06 23:05] #7641 closed

[2019-11-07 03:15] DanHeidinga commented on #7486
J9Class->callSites is updated using the CAS barrier: https://github.com/eclipse/openj9/blob/66556b4a095d62b0a37915c1793a5e697f6237e8/runtime/vm/resolvesupport.cpp#L2139

J9Class->MethodTypes as used for `MH.{invoke,invokeExact}`:
https://github.com/eclipse/openj9/blob/66556b4a095d62b0a37915c1793a5e697f6237e8/runtime/vm/resolvesupport.cpp#L1427

J9Class->varHandleMethodTypes as used for VarHandle i

[2019-11-07 03:18] inatatsu commented on #7694
@gacholio Thank you for your immediate response. Unfortunately we cannot provide a core since the target workload is under a non-disclosure agreement.

[2019-11-07 07:49] planetf1 commented on #7684
No sign of a filename of the form core.20191106.* (especially on linux, from / )

[2019-11-07 08:23] htreu opened #7712 "javaagent not started after attachment"
Java -version output
--------------------
[code]

There are OpenJ9 1.8 JVMs with the same behaviour, so it seems not to be version specific.

Summary of problem
------------------
Attaching a javaagent to the running JVM via `com.sun.tools.attach.VirtualMachine` results in `ATTACH_ACK` response but the javaagent does not get loaded/started.
A heap dump from the affected JVM does not reveal any of

[2019-11-07 13:22] JasonFengJ9 opened #7713 "FVT_Serviceability.trace.trigger.system_dump Segmentation error vmState=0x0002000f"
Failure link
------------

[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

The result file is at /team/triage/issue7713.

[2019-11-07 15:23] pshipton commented on #7713
@dmitripivkine another dup of https://github.com/eclipse/openj9/issues/7300 ?

[2019-11-07 15:25] pshipton commented on #7712
@JasonFengJ9 can you pls take a look.

[2019-11-07 15:26] a7ehuo commented on #7361
If `getDebug()` returns NULL here which caused the crash during `_cmdLineTester_fieldwatchtests_0` test, it should be fixed in #7618.

[2019-11-07 15:37] pshipton commented on #7397
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_mac_Nightly/194

@Mesbah-Alam did you ever get a chance to look at this?

[2019-11-07 15:45] pshipton commented on #7696
Reopening as this still occurs after #7697 as merged. The assert occurred again in the nightly build last night. The build has OpenJ9 sha 66556b4 which is the merge of #7697.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/193
` [ERR] 05:10:11.330 0xce6f200   j9jit.19     *   ** ASSERTION FAILED ** at /Users/jenkins/workspace/Build_JDK8_x86-64_mac_Nightly

[2019-11-07 16:00] dmitripivkine commented on #7713
yes, this is a duplicate of #7300

[code]

[2019-11-07 16:00] #7713 closed

[2019-11-07 16:01] gacholio commented on #7694
You can run DDR on the cores yourself to look at the stack of the crashing thread. It's very possible the top few frames will be system classes, and could be disclosed here.

To run DDR, run `bin/jdmpview -core corefile`. Once in, do a `!gpinfo` which will tell you the crashing thread (hex value following `!j9vmthread`, then run `!stackslots thread` to get the full stack dump.

[2019-11-07 16:22] benjamin-confino opened #7714 "Segmentation Faults on Eclipse OpenJ9 VM, version 11.0.2+9"
Java version: Eclipse OpenJ9 VM, version 11.0.2+9
--------------------

Summary of problem
------------------

Segmentation errors are appearing in the liberty FAT tests.

Diagnostic files
----------------

This is a console.log file from a failing test. More diagnostic files are available at https://libfsvip.hursley.ibm.com/liberty/dev/SOE/BucketOutput/2019-11-04/com.ibm.ws.transaction_fat_java7/

[2019-11-07 16:22] pshipton commented on #7714
@keithc-ca

[2019-11-07 16:33] M-Davies opened #7715 "Failing JTReg: java/lang/reflect/Nestmates/TestSecurityManagerChecks.java"
Failure link
------------
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/e7da16be04c9cf4e6734e3621a5f40e34001de8a/test/jdk/java/lang/reflect/Nestmates/TestSecurityManagerChecks.java#L1 and https://github.com/ibmruntimes/openj9-openjdk-jdk13/blob/12bdd062982e8ce6d81826de961c2b4c306990e4/test/jdk/java/lang/reflect/Nestmates/TestSecurityManagerChecks.java#L1 fail for JDK11/13-openj9
- test

[2019-11-07 16:36] M-Davies commented on #7715
The test passes for the NestHost but fails for the`NestedT[ ]` array when attempting `getNestMembers()`

[2019-11-07 16:37] pshipton commented on #7684
Try running `java -Xcheck:dump` and see what that shows. It validates the OS is setup properly for collecting dumps, although not sure how well it works on Mac, it may work better on Linux.

[2019-11-07 16:44] M-Davies commented on #7115
The work items that will fix this bug are:

IBM JAVA 8: https://jazz103.hursley.ibm.com:9443/jazz/web/projects/JTC-JAT#action=com.ibm.team.workitem.viewWorkItem&id=100052
- Contains the changes in the above file. Building with this has proved ineffective however. The j2sdk-image loads the launcher at a very strange address so I am either building the jdk incorrectly or I am looking at the wrong jd

[2019-11-07 16:49] JasonFengJ9 commented on #7715
Will look into this.

[2019-11-07 17:01] AdamBrousseau opened #7716 "extended.functional_x86-32_windows testOSMXBean* getTotalSwapSpaceSize() API returned -1"
Failing on the internal nightly jdk8 win32 build. Seems to be fine on win64 across versions.
4 tests
- testOSMXBeanLocal_0
- testOSMXBeanLocal_1
- testOSMXBeanRemote_0
- testOSMXBeanRemote_1

All failing with he same error. Doesn't seem to be machine specific. 100% failure rate.

[code]

Seeing as this passes on the external build I would assume it is something on machine config side. I will just

[2019-11-07 17:54] AdamBrousseau opened #7717 "sanity.functional_x86-64_windows jdk11,13 cmdLineTester_getPid_0 Access denied"
Test doesn't seem to run on jdk8
Last passed jdk11 Aug 8 33b1de73de60067f496ddcb9a71f837b2abdc17b
Last passed jdk13 Aug 28 98547b0f469695731da1ba45d7880295e9b195af

Doesn't seem to be machine specific. 100% failure rate. Seeing as this passes externally I would guess it's a machine config difference. Will just need someone to help me figure out what to change.

[code]

[2019-11-07 18:24] rajdeepsingh1 commented on #7432
@keithc-ca

I've tested the scenario of `win2012r2-5` but it did not work. The trigger specified was `at startup`

I exported the task from my test machine and copied it to `win2012r2-5`

The machines both have the exact same permissions and reg settings for setting short names, but still did not work. A test directory was created with a folder inside of `Program Files` on  `win2012r2-5` and the t

[2019-11-07 18:24] amicic commented on #7486
All those look ok. In a few min manually scanning the class code I could not find any missed.

Btw, what about Java_java_lang_invoke_MethodType_makeTenured? I don't see it is used (return value ever stored anywhere).

And while on the topic of barriers, we need to track reads as well (which I had mentioned before). I believe most are missed like:
https://github.com/eclipse/openj9/blob/66556b4a095d

[2019-11-07 18:37] #4384 closed

[2019-11-07 18:46] DanHeidinga commented on #7486
Interning of MethodTypes is handled in Java but only tenured objects can be interned in that table as they end up in the constantpool.  The makeTenured() calls are only done when interning:
https://github.com/eclipse/openj9/blob/28944136f2e38e77d7c37d004e12fdfa4fcfc49d/jcl/src/java.base/share/classes/java/lang/invoke/MethodType.java#L755

All of this code will go away once the CPs are scanned duri

[2019-11-07 18:50] JasonFengJ9 commented on #7717
https://github.com/eclipse/openj9/pull/1638

[2019-11-07 19:03] pshipton commented on #7115
The javaw launcher (`JAVAW_LDFLAGS`) is only built for Windows.

For Java 8, I see `$1_LDFLAGS` used in CompileLaunchers.gmk
For Java11+, I also see `$1_LDFLAGS` used in LauncherCommon.gmk

I assume this means `JAVA_LDFLAGS` will affect the `java` launcher, but really the change should be generic and change all the launchers, not just `java`.

[2019-11-07 19:05] amicic commented on #7486
Enabling concurrent class scanning in CS is not strictly a pre-req for this work. It's an independent work item/optimiztion that will compensate the increase of class scanning introduce by this work.

At some point (when only statics where part of Scavenge class scanning) we were very close to enabling it, but then came CP scanning which complied only with static stores barriers but not with stati

[2019-11-07 19:10] JasonFengJ9 commented on #7715
It appears `RI` failed this test as well.
@M-Davies could you check?

[2019-11-07 19:14] JasonFengJ9 commented on #7712
@htreu a standalone testcase will help the investigation.

[2019-11-07 19:16] DanHeidinga opened #7718 "ConcurrentScavenger: Add readbarriers for all CP access"
Enabling concurrent class scanning in CS is not strictly a pre-req for this work. It's an independent work item/optimization that will compensate the increase of class scanning time introduced by this work.

At some point (when only statics where part of Scavenge class scanning) we were very close to enabling it, but then came CP scanning which complied only with static stores barriers but not wit

[2019-11-07 19:17] DanHeidinga commented on #7486
I opened https://github.com/eclipse/openj9/issues/7718 to record the CS work that needs to be done in the future.

[2019-11-07 19:17] pshipton commented on #7427
@avermeer are you going to look into fixing this problem as an exercise in how it's done, or should I go ahead?

[2019-11-07 19:29] avermeer commented on #7427
@pshipton thanks for reminding me about this. Let's say I'm going to immerse myself in the exercise from tomorrow, until next Monday (12th of November).

If I fail to grasp the way to make this contribution before 12th of November, then I'll pass my turn for this incident (which matters to me, even if tweaking Apache Flink startup options is a working by-pass), and maybe I'll try later with a less

[2019-11-07 19:35] dmitripivkine commented on #7275
This is duplicate of #7300

[2019-11-07 19:35] DanHeidinga commented on #7696
Opened a PR to try and make it easier to detect what's going wrong here - #7719

[2019-11-07 19:37] ymanton commented on #7459
I discussed this with @mpirvu a little more and he suggested we go back to looking at the hints since earlier experiments with hints disabled seemed to close the gap completely and validation failures and start-up performance in general are very sensitive to hints.

I went back to an even older build that predates any of the hints related changes and looked at what it was doing and found that it w

[2019-11-07 19:45] pshipton commented on #7716
I expect the following call is failing
https://github.com/eclipse/omr/blob/a960b4f24a3c9372d654579109a6b32954e182a2/port/win32/omrsysinfo.c#L785-789

[2019-11-07 19:46] pshipton commented on #7716
I expect the following call is failing
https://github.com/eclipse/omr/blob/a960b4f24a3c9372d654579109a6b32954e182a2/port/win32/omrsysinfo.c#L785-789

[2019-11-07 19:47] pshipton commented on #7716
Does the machine have any swap space configured?

[2019-11-07 19:51] pshipton commented on #7717
Seems perl can't get the pid
https://github.com/eclipse/openj9/blob/59fcbec6f4c42e5781d7f2cbb3baa4d14cbd0557/test/functional/cmdLineTests/runtimemxbeanTests/getPidTest.pl#L41

[2019-11-07 19:58] amicic commented on #7679
OK, we'll have a look at this, and see if we can make the transition of Concurrent Mark to STW occur even without allocation activity, which then will almost sure make the system GC run from scratch and free the memory as expected.

[2019-11-07 20:00] pshipton commented on #7427
@avermeer sounds good.

[2019-11-07 20:01] AdamBrousseau commented on #7716
If I'm looking in the right spot, it would appear so.
Internal machine `#2` (Win2016)
MyPC->Properties->Advanced system settings->Advanced (tab)->(Performance) Settings->Advanced (tab)->Change
![image](https://user-images.githubusercontent.com/6430052/68422893-08de3780-016f-11ea-9e07-4666e0b8d235.png)
vs external machine `#3` (Win2012R2)
![image](https://user-images.githubusercontent.com/6430052/6

[2019-11-07 20:16] DanHeidinga commented on #7459
These kinds of compiler problems make me think of some of the aliasing issues we've had in the VM code previously.  The VM is compiled with `qalias=noansi` to turn off some of the aliasing optimizations that tend to break us.  Does the JIT already compile with that option?

[2019-11-07 20:27] DanHeidinga commented on #7579
Doc: Needs an update to say libc++ is now required.

We need to ensure the rpaths in the sharedlibs are more reasonable than the ones in Peter's comment above - it seems to be linking a random omrsig and some strange hardcoded paths.

Also, the JIT is statically linking libc++ - does that need to be reverted?

[2019-11-07 20:45] AlenBadel commented on #7667
@pshipton I've created a workaround for this for the time being. Not sure if we have sufficient testing coverage that can tell us if any other option may be experiencing the same issue.

[2019-11-07 20:49] mikezhang1234567890 commented on #7172
Seems like it only throws an error when ran with the jtreg harness. Running the tests with TestNG or simply running the commands jtreg outputs throws no NullPointerException.

[2019-11-07 21:24] headius commented on #7699
I admit the benchmark is poorly-formed. Here's a run with the body moved to a separate method and warmed up (it doesn't make a great deal of difference, unfortunately):

[code]

[2019-11-07 21:34] JamesKingdon commented on #7699
Many thanks for trying that out.

[2019-11-07 21:42] mpirvu opened #7724 "J9::ClassEnv::enumerateFields() is not handled by JITServer"
`J9::ClassEnv::enumerateFields()` needs a different implementation at JITServer. At the very least the JITServer should send a message to the client to populate the TR::TypeLayout info.

[2019-11-07 21:43] AdamBrousseau commented on #7716
Reran internally on a 2012r2 machine and it passed. So it seems to be an issue with win2016. Adopt has both 2012 and 2016 but I don't believe they regularly run the functional suite. I also don't have permissions to run grinders there.

[2019-11-07 21:44] pshipton commented on #7667
I was reminded that we expect to update to gcc 7.5 once it is available, as it should contain a fix we want to speed up the interpreter.

[2019-11-07 21:48] AdamBrousseau commented on #7717
All external machines are win2012r2. All internal are win2016. Created a win2012r2 internally and reran a grinder on it and it passed.

[2019-11-07 22:02] pshipton commented on #7716
Do we have win2016 in the farm? We could try the test there and double check it's working on farm machines.

[2019-11-07 22:10] keithc-ca commented on #7714
I suspect the crash is caused by the bad object reference (`0x2a00000000000000`) returned by org/eclipse/osgi/internal/loader/EquinoxClassLoader.loadClass(String). We see this in the trace log:
[code]
It's not clear how that method could return `0x2a00000000000000`.

Using jdmpview, we can see the type of classloader involved:
[code]
And confirm the name of the class being loaded:
[code]
Can you s

[2019-11-07 22:11] pshipton commented on #7716
i.e. job_output.php?id=620517467

[2019-11-07 22:16] andrewcraik commented on #7514
@JasonFengJ9 - looks like works on later build - I will close this - please re-open if there are additional concerns.

[2019-11-07 22:16] #7514 closed

[2019-11-07 22:24] AdamBrousseau commented on #7716
Seems to work fine on 10, 2012, and 2016 on the legacy farm.
build_id=432218

[2019-11-07 22:45] JamesKingdon commented on #7699
I modified the testcase, reproduced the problem, took a log and was wading through it when I realised that I was using a really old version of jruby (1.7.22). That's probably not so useful :)

[2019-11-07 22:47] slide opened #7725 "Running openj9 on nanoserver fails"
Java -version output
--------------------

I can't run `java -version` (this is the problem), here is the binary I am using:
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u232-b09_openj9-0.17.0/OpenJDK8U-jdk_x64_windows_openj9_8u232b09_openj9-0.17.0.zip

Summary of problem
------------------

When I create a docker image with Windows nanoserver 1809 and openj9 and try to

[2019-11-07 22:50] AdamBrousseau commented on #7717
Jason and I did a bit of digging and that line41 is the correct line that is failing. So this issue is a Perl (test) problem not a Java problem. Running java -cp runtimemxbeanTests.jar GetPid works.

[2019-11-07 23:20] AdamBrousseau commented on #7716
Fails at Adopt on 2012 for the same error
https://ci.adoptopenjdk.net/job/Grinder/1039/
But passes at Adopt on 2016
https://ci.adoptopenjdk.net/job/Grinder/1040/
So it seems to be more of a machine config issue rather than a Windows version issue.

[2019-11-07 23:44] ChengJin01 commented on #5058
I worked with @LinHu2016 to double-check two failing test cases:  `gcRegressionTests `and `gcPolicyNogcTests` (previously detected in sanity & extended tests), both of which share very similar issue with failure to throw out OOM /trigger GC when keeping allocating objects in a loop.

Investigation shows these cases are timer-based tests, which means OOM should be thrown out within a given time und

[2019-11-08 00:20] planetf1 commented on #7684
On MacOS, that had zero effect ie
[code]
^^^ that first line is our app starting up

On linux (where I did also see issues)
[code]

[2019-11-08 04:48] pshipton commented on #7514
@andrewcraik I think it's highly intermittent. It's tracked by internal defect 142512.

[2019-11-08 05:19] VermaSh commented on #7318
Found two additional APIs within DAA for which the Java implementations do not exist:
- `trailingZerosByteAtATime`
- `trailingZeros`

[2019-11-08 07:04] inatatsu commented on #7694
@gacholio Thank you for your help. The top frame is shown below. The next fame seems to be customer code:
[code]

[2019-11-08 09:40] M-Davies commented on #7715
@JasonFengJ9 Tests appears to pass for me on HS. Both on jenkins and locally

[2019-11-08 10:42] M-Davies commented on #7172
It should be default... It is when I run the test locally at least. That's odd it isn't for Jenkins however

[2019-11-08 11:01] htreu commented on #7712
Unfortunately this happens randomly, we are now "waiting" for it to happen again with the `-Dcom.ibm.tools.attach.logging=yes` option applied.
One additional information: JVMs are running inside docker containers, PID is always 1.

[2019-11-08 11:17] M-Davies commented on #7172
By default, `agentvm` is enabled for Adopt's jenkins
https://github.com/AdoptOpenJDK/openjdk-tests/blob/4cd6de10de77bba2c8cbc1bd17f6bf2c93162be3/openjdk/openjdk.mk#L56

[2019-11-08 11:58] pshipton commented on #7300
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_xl_Nightly/191
SharedClasses.SCM23.MultiThreadMultiCL_0
Type=Segmentation error vmState=0x0002000f

[2019-11-08 12:01] pshipton commented on #7696
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly/194
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly/194
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-32_windows_Nightly/192

[2019-11-08 12:51] JasonFengJ9 commented on #7715
@M-Davies can you share `RI -version` output?

[2019-11-08 13:15] M-Davies commented on #7715
[code]

[2019-11-08 13:55] M-Davies commented on #7115
Hmmm. There's a lot of places within the https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/e7da16be04c9cf4e6734e3621a5f40e34001de8a/make/launcher/Launcher-java.base.gmk#L1 you could plug this in. I'll trial some locations within the makefile, starting with `LDFLAGS`

[2019-11-08 14:10] JamesKingdon commented on #7699
In case it's useful, I'll attach my modified version of the testcase:
[ContextGetter.java.zip](https://github.com/eclipse/openj9/files/3824858/ContextGetter.java.zip)

The options to get a compilation log are:

`-Xjit:dontInline={ContextGetter.doTest*},{ContextGetter.doTest*}{scorching}(tracefull,log=doTest)
`

[2019-11-08 14:19] andrewcraik commented on #7514
hmm ok - well if we get more examples from adopt/openj9 reopen this one and I'll keep an eye on the other that you mentioned too - see if we can get any data to help find the solution...

[2019-11-08 14:56] andrewcraik commented on #7725
Attn @DanHeidinga @pshipton @dmitripivkine - this is holding up Jenkins adoption.

[2019-11-08 15:02] slide commented on #7725
It doesn't look like the dump is completing, I left it overnight and it still hasn't completed. Let me know if there is anything I can do to help with reproduction or debug.

[2019-11-08 15:14] ymanton commented on #7459
It's used on Linux, but not AIX (for no apparent reason).

This didn't look like a textbook ANSI aliasing violation to me earlier, and since the fix whether it was a bug in our code or the compiler was the same, I didn't focus too much on coming to a conclusion. But looking at it again I think we are indeed at fault.

The problematic code boils down to:

[code]

I didn't think this code had any pr

[2019-11-08 15:19] dmitripivkine commented on #7725
Something is missed in Environment. Looks like can not find `j9gc29.dll`. It locates at `${JAVA_HOME}\\bin\\compressedrefs`. Would it find it if added to the `PATH`?

[2019-11-08 15:21] slide commented on #7725
I don't see a `compressedrefs` in `${JAVA_HOME}\bin`.

[code]

[2019-11-08 15:24] dmitripivkine commented on #7725
Sorry, I missed that this is Java 8. Please check `${JAVA_HOME}\\jre\\bin\\compressedrefs`

[2019-11-08 15:24] DanHeidinga commented on #7459
I think it's worth adding the option to AIX as well to avoid aliasing issues given other platforms won't catch them as they disable strict aliasing.

[2019-11-08 15:28] DanHeidinga commented on #7602
@dnakamura Has this been fixed?  Can you link it to the relevant PR?

[2019-11-08 15:29] slide commented on #7725
I now only get the exception. You can see that I added `${JAVA_HOME}\jre\bin\compressedrefs` to the PATH

[code]

[2019-11-08 15:29] ymanton commented on #7459
@gita-omr FYI the above.

[2019-11-08 15:36] dsouzai commented on #7725
This looks like the same symptom as https://github.com/eclipse/openj9/issues/3747 except it's happening on java 8 now.

[2019-11-08 15:39] slide commented on #7725
So, the nanoserver image may not have a DLL that is needed. I will try and determine what DLL is missing.

[2019-11-08 15:45] DanHeidinga commented on #7725
Depending on how far the VM has started before the crash, we might be able to get more diagnostics about what dlls are being loaded / how far we got by adding `-verbose:init` to the java commandline

[2019-11-08 15:48] gacholio commented on #7694
Not enough to say anything definitive, but this implies the NULL exception is being thrown from jitted code.

[2019-11-08 15:48] dmitripivkine commented on #7725
I would add `${JAVA_HOME}\\jre\\bin` to PATH as well. Looks like Java Launcher is confused somehow and can not locate subfolders properly

[2019-11-08 15:52] slide commented on #7725
I tried adding `${JAVA_HOME}\jre\bin' to the PATH, the exception remains. Adding `-verbose:init` did not add any additional log output.

[2019-11-08 16:03] dmitripivkine commented on #7725
I tried to google problem and found https://github.com/AdoptOpenJDK/openjdk-installer/issues/58
That problem has been fixed obviously but here we have the same kind of failure

[2019-11-08 16:04] #7332 closed

[2019-11-08 16:08] slide commented on #7725
I haven't installed the hotpot jvm at all on this system, so I don't think its the same issue.

[2019-11-08 16:34] #7318 closed

[2019-11-08 16:56] pshipton commented on #7725
I was able to recreate this. With ` -verbose:init` a working JVM shows
[code]

In the docker container we get the following, which seems to indicate the problem is still in loading j9gc29.dll
[code]

[2019-11-08 17:03] pshipton commented on #7725
Note `-Xint` doesn't change the behavior except the j9jit29 isn't loaded.

Looking at the imports of j9gc29.dll, ignoring things included with the JVM it requires
MSVCR100.dll
WINMM.dll
KERNEL32.dll

I think WINMM.dll is missing from the container, I don't find it.

[2019-11-08 17:04] slide commented on #7725
MSVCR100.dll and MSVCP100.dll are also not in the container.

[2019-11-08 17:04] slide commented on #7725
WINMM.dll is in C:\Windows\System32\Forwarders, I am not sure how that directory is supposed to work

[2019-11-08 17:06] mikezhang1234567890 commented on #7172
Sorry, I meant it defaults to `othervm` when neither `agentvm` nor `othervm` is specified, as detailed at https://openjdk.java.net/jtreg/command-help.html under Test Mode Options.

[2019-11-08 17:18] slide commented on #7725
I'm downloading this tool to see if it will help understand what might be missing: https://blogs.technet.microsoft.com/nanoserver/2016/04/27/nanoserverapiscan-exe-updated-for-tp5/

[2019-11-08 17:27] AdamBrousseau commented on #7717
Seems to be a permissions issue as that wmic command works with the Admin user. Digging through Microsoft docs to try and figure out what needs to be changed.

[2019-11-08 17:27] slide commented on #7725
Nothing shows up for `${JAVA_HOME}\bin', but there are several issues for items in `${JAVA_HOME}\jre\bin`

[code]

[2019-11-08 17:29] slide commented on #7725
For the winmm.dll functions, the timerSetEvent is obsolete according to this doc: https://docs.microsoft.com/en-us/previous-versions/dd757634(v%3Dvs.85).

[2019-11-08 18:20] gacholio opened #7730 "Stop using J9VM defines where possible"
OMR mirrored all of the J9 defines (OMR_x rather than J9VM_x) when it was created, so now we have two versions of a lot of defines, which leads to porting errors, etc.

Wherever an identical OMR define exists, the J9 code should use it, and the J9VM define should be permanently deleted to prevent future uses.

[2019-11-08 18:22] gacholio commented on #7730
One caveat: This will make backporting to pre-OMR streams a bit more problematic, but that's hopefully happening less and less.

[2019-11-08 19:00] pshipton commented on #7725
https://github.com/eclipse/openj9/blob/3c98e634d4af0013bedd9a7a88e79b01eaf6b4d7/runtime/gc_realtime/MetronomeAlarm.cpp#L221

https://github.com/eclipse/openj9/blob/3c98e634d4af0013bedd9a7a88e79b01eaf6b4d7/runtime/gc_realtime/MetronomeAlarm.cpp#L302

[2019-11-08 19:06] pshipton commented on #7725
Note these are included with the JVM in `jre/bin`.

However MSVCR120.dll used by libcrypto-1_1-x64.dll is not. libcrypto-1_1-x64.dll (openssl) is used for crypto acceleration, https://www.eclipse.org/openj9/docs/djdknativecrypto/

[2019-11-08 19:59] VermaSh opened #7732 "General Cleanup: consolidate all hardcoded prefixes of format `O\^O [a-z A-Z]+(:)?`"
Consolidate all hardcoded prefixes of format `O\^O [a-z A-Z]+(:)?` into macro `OPT_DETAILS`.

Example:
`
performTransformation(self()->comp(), "O^O LINKAGE REGISTER ALLOCATION: transforming %s into %s\n", self()->comp()->getDebug()->getName(node), self()->comp()->getDebug()->getName(regLoadOp)))
`

[2019-11-08 20:15] slide commented on #7725
I removed that comment because I found them in the jre/bin directory. I'll try copying MSCVR120.dll into the image and see if it helps.

[2019-11-08 20:21] slide commented on #7725
I did a Get-ChildItem in C:\Windows\System32 in my Dockerfile and see this:

[code]

So, that runtime IS there.

[2019-11-08 20:44] pshipton commented on #7725
The current failure to start appears to be related to j9gc29.so. I'll hack out the missing APIs and build a new runtime we can try.

[2019-11-08 20:46] slide commented on #7725
Did you just add `-verbose:init' to `java -version` or do you have to do something different?

[2019-11-08 20:53] pshipton commented on #7725
I put it before the `-version`, it doesn't work if you put it after. I also tried including `-Xdump:none` to avoid creating the core file, not that it helps because it just hangs anyway.

[2019-11-08 20:55] pshipton commented on #7725
My build with timeSetEvent() and timeKillEvent() removed is https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Personal/427. There will be a link to the JVM when it's done. These APIs are used by the metronome GC, which isn't the default, so it won't cause any problems until you run with `-Xgcpolicy:metronome`.

[2019-11-08 21:09] mpirvu commented on #7035
I was thinking about this I believe the problem stems from not applying CHTable updates when the communication between server and client is broken very early on.
The CHTable updates need to be processed in order and therefore the client gets a "sequence number" when computing the list of updates that needs to be sent to the server:
[code]
The server makes sure that it applies the CHTable updates i

[2019-11-08 21:15] JasonFengJ9 opened #7734 "VM native lookupJava8Package() is redundant"
In `Java 9+ --illegal-access=permit` is turned on by default. This opens each package (that existed in `Java 8`) to ALL-UNNAMED unless `illegal-access=deny` is specified. This is for easy mitigation to modularity Java levels.

There is a `jdk8_packages.dat` [1] containing such `Java 8` packages to be exported to unnamed modules. `jdk.internal.module.ModuleBootstrap.addIllegalAccess()` [2] invokes

[2019-11-08 21:17] mpirvu commented on #7035
I attempted to reproduce this issue with `cmdLineTester_GCRegressionTests_2`, but the master branch code fails this test without hitting the FATAL_ASSERT.
[code]
That `jvmtest` directory does not exist. Maybe I have some stale version of the tests

[2019-11-08 21:23] pshipton commented on #7725
grr, there is a mismatch between the OpenJ9 and OMR projects atm. Should be resolved in a few hours, but I'll try to work around it.
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Personal/428

[2019-11-08 21:48] pshipton commented on #7730
We need to keep in mind how this affects DDR.

[2019-11-08 21:50] keithc-ca commented on #7730
The title says 'stop using'; as long as we don't 'stop defining' macros needed by DDR we should be fine.

[2019-11-08 21:52] pshipton commented on #7725
third time lucky? https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Personal/429

[2019-11-08 21:53] keithc-ca commented on #7730
We may be able to arrange that *uses* (other than by DDR) lead to compile errors.

[2019-11-08 21:54] mpirvu commented on #7035
I was missing ant-contrib

[2019-11-08 22:03] pshipton commented on #7514
I don't think it's ever been seen in an OpenJ9 build. All the failures reported here appear to be from IBM Java builds.

[2019-11-08 22:08] pshipton commented on #7684
What version of Linux is it? It seems to be telling us the core may not be called core.20191106.* since it couldn't be renamed, but might be core.*

[2019-11-08 22:15] pshipton commented on #7725
https://140-211-168-230-openstack.osuosl.org/artifactory/ci-eclipse-openj9/Build_JDK8_x86-64_windows_Personal/429/OpenJ9-JDK8-x86-64_windows-20191108-213308.tar.gz

[2019-11-08 22:38] mikezhang1234567890 commented on #7172
In both the tests that fail (`reflectAsFromFindVirtual` and `reflectAsFromVarHandleInvoker`) the referenceClass of the method handle created is null.

When the tests are run with the `agentvm` option, there is a security manager, so we run into a NullPointerException in `MethodHandles.checkSecurity()` method since `referenceClass` is null. When we don't have the `agentvm` option, `System.getSecuri

[2019-11-08 22:55] slide commented on #7725
With this build, `java -verbose:init -version` gives the following output:

[code]

[2019-11-08 23:11] r30shah commented on #7275
Update: Found the issue. Issue happens because of the Post GRA block splitter and Here is the snippet from the method log which highlights the issue.
[code]
In case of above trees, when we split blocks after GRA optimization, it first tries to find a free register to store node `n2n`. Now in case it can not get any free register, it will create an auto slot to store the value. Now issue occurs bec

[2019-11-09 00:04] pshipton commented on #7725
Looks good, it printed the -version output.