[2020-05-01 15:14] ChengJin01 commented on #5058
1) @janvrany also confirmed that gdb also works for my debug build (cross-compiled with the mounted Fedora image) on Debian/U540:
[code]
which means at least there is no missing debug setting in the cross-compilation with Fedora and there might be issue between gdb, glic and the kernel on Fedora/U540.

2) After talked to the Fedora/RISC-V tooling developer, it seems there is no special set up requ

[2020-05-01 15:15] ChengJin01 commented on #5058
Currently working on an issue specific to verifier and will get back to this work after the issue there is fixed.

[2020-05-01 15:24] fjeremic opened #9428 "Improve tracing options for jitdump scenarios"
The optimizer has a neat API called `traceOptimization` [1] which is used in the options table (example in [2]) to set a bit in a bitvector corresponding to the optimization ID. This mechanism is used later to test the bitvector to determine if a specific optimization will be traced.

Before the start of each optimization the optimization ID is encoded into the VM state value, such that if we cras

[2020-05-01 15:25] fjeremic commented on #9428
First order of business is the easiest. I'll go through the list of tracing options and deprecate ones which are totally unused.

[2020-05-01 15:25] fjeremic commented on #9120
Adding new issue (#9428) to improve programmatically setting of tracing options for jitdump compiles.

[2020-05-01 15:33] sharon-wang commented on #8878
New SPECjbb2015 Results - COMPOSITE + COMPLIANT, `-Xnocompressedrefs`

There is not a big gap in performance like initially measured. Might have been a machine issue, since those first runs were done on a different machine than the subsequent runs.

**Heap settings:** `-Xms24g -Xmx24g -Xmn20g`
|   | max_jOPS | critical_jOPS | hbIR_max | hbIR_settled |
|---|---|---|---|---|
| **split** | 28111 | 11

[2020-05-01 15:37] AlenBadel commented on #8652
A Summary of what I've picked up

As we've established, the failure occurs because we have an entry in the J9Method_HT, that carries a reference to a J9Method object that has been corrupted in some way. Below is what the J9Method reference points to at the point of the crash.

[code]

**J9Method_HT**
This is a part of the DLT Optimization. The Dynamic Loop Transformation attempts to identify a sel

[2020-05-01 15:38] a7ehuo commented on #8706
Ran the test in Grinder for 100 times with the latest code: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7657/. All passed so far.

[code]

[2020-05-01 15:44] pshipton commented on #9382
aix71-p8-8
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly/76

I'll run a grinder and look at the machine to see what's consuming the disk space.

[2020-05-01 15:49] pshipton opened #9429 "ChaCha20/OutputSizeTest Need at least 2048 bytes of space in output buffer"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/24
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/22
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/44 (ub18-ppcle-1)
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/44 (ub16x64j92)

com/su

[2020-05-01 16:09] dnakamura opened #9430 "xlinux cmake builds hang on jsigjnitest"
Failure link
------------
from internal builds:
Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_Nightly/21
Test_openjdk11_j9_sanity.functional_x86-64_linux_cm_Nightly/21

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

[2020-05-01 16:36] pshipton commented on #9284
Unless this happens regularly, it's probably just a bad core file problem. Core file was truncated due to lack of disk space or similar intermittent issue.

[2020-05-01 16:38] pshipton commented on #9429
Grinder to repeat the failure
https://ci.eclipse.org/openj9/job/Grinder/868 - failed (ub18-ppcle-1)

Grinder with `-Djdk.nativeChaCha20=false`
https://ci.eclipse.org/openj9/job/Grinder/869 - passsed (ub18-ppcle-1)

@ashbm5 @samasri another ChaCha20/OutputSizeTest failure. We got new jdk11 material,  although I don't see any change to the test class itself.
https://github.com/ibmruntimes/openj9-ope

[2020-05-01 16:49] pshipton commented on #9400
This hasn't re-occurred since we made more space available on the machines.

[2020-05-01 16:49] #9400 closed

[2020-05-01 16:49] pshipton commented on #9399
This hasn't re-occurred since we made more space available on the machines.

[2020-05-01 16:49] pshipton commented on #9398
This hasn't re-occurred since we made more space available on the machines.

[2020-05-01 16:49] #9398 closed

[2020-05-01 16:50] #9399 closed

[2020-05-01 16:50] pshipton commented on #9397
I assume the cleanup efforts succeeded, there haven't been any more space related problems in the builds.

[2020-05-01 16:50] #9397 closed

[2020-05-01 17:07] JasonFengJ9 commented on #9284
It happened quit a bit. Will post more for references.

[2020-05-01 17:17] samasri commented on #9429
Okay, we'll look into it.

[2020-05-01 17:19] amicic commented on #8878
GC (Scavenge specifically) time slow down:

  | Reg | Mix | Diff (%)
-- | -- | -- | --
Large | 154.851 | 174.017 | 12.38
Small | 115.13 | 123.128 | 6.95

[2020-05-01 17:39] fjeremic commented on #9428
Summarized list of trace options not encompassed by `traceOptimization`:

Option | Number of uses | Can be deprecated | Notes
-- | -- | -- | --
TR_TraceILDeadCodeBasic | 0 | :heavy_check_mark: | Never   used
TR_TraceSpillCostsBasic | 0 | :heavy_check_mark: | Never used
TR_TraceEarlyStackMap | 1 |   |  
TR_TraceILValidator | 1 |   |  
TR_TraceKnownObjectGraph | 1 |   |  
TR_TraceLookahead | 1 |   |

[2020-05-01 17:46] tajila commented on #9410
This is an intermittent issue, I am yet to reproduce it locally.

[2020-05-01 17:48] pshipton commented on #9284
Does it occur non-cmake as well?

[2020-05-01 17:48] pshipton commented on #9284
Might be worth tracking machines where it fails, it could be a machine issue.

[2020-05-01 19:47] JasonFengJ9 commented on #9284
Not seen in other build specs last nightly builds.

It happened at past three builds in different machines: build `16` at `rhel6x64rt13-1`, build `15` at `ub16x64cudavm2`, build `14` at `cent6x64rt2-1`.

[2020-05-01 21:32] hangshao0 commented on #9328
I plan to take the change in #9292 and start from there. But it seems that I cannot build with the latest code in branch open-staging from https://github.com/ibmruntimes/openj9-openjdk-jdk.

https://hyc-runtimes-jenkins.swg-devops.com/job/Build_JDKnext_x86-64_linux_Personal/425/console
[code]

The message `error: warnings found and -Werror specified` is not there in the passing builds launched by

[2020-05-01 22:37] pshipton commented on #9328
There are 100+ warnings like the following, which aren't there in the last working build. I assume the compiler has changed. To fix it you can move `final class ThunkTable`, `abstract class Comparator`, `final class ThunkTuple`, and anything that shows up out from MethodHandle.java to their own source file.
[code]

Otherwise to get started you can build from sha fed4f3e. It's the level I was using

[2020-05-01 23:19] pshipton commented on #9328
Ok, it's not that simple. I moved those classes into their own files, but there are many other warnings, and `error: warnings found and -Werror specified` still occurs. I suspect we removed -Werror previously but this change is lost and we need to restore it.

[2020-05-02 00:47] pshipton commented on #9328
This is the new code

https://github.com/ibmruntimes/openj9-openjdk-jdk/blob/dd30cb1200bd9d5a11c8ea9efdfdf63756a3d4fc/make/common/JavaCompilation.gmk#L242-#L243

While we figure out the best way to override that, `export JAVA_WARNINGS_ARE_ERRORS=` gets past that problem. Then the next problem is
[code]

[2020-05-02 01:32] pshipton commented on #9328
Here is a fix for the -Werror problem https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/201

[2020-05-03 12:04] ciplogic opened #9432 "Slow Startup on Linux / IntelliJ IDEA Community"
First of all thank you for creating a great JVM. I am surprised of how little memory it uses and it looks to work great even with a medium sized JavaFX application, meaning that you have good support of JVM from to bottom!

Now to the issue, steps to reproduce:
- Use Linux64 bit
- Download IntelliJ IDEA Community Edition (it is a .tar.gz)
- replace JBR folder with AdoptOpenJDK OpenJ9
- compare wit

[2020-05-03 17:18] Thihup opened #9433 "Return message of NoClassDefFoundError with slashes"
Hello!

In Hotspot, the NoClassDefFoundError returns the class that doesn't exist with slashes, while the OpenJ9 returns with dots.
I'd like to know if there is an option to return the class name with slashes.

[code]
[code]

[2020-05-04 00:51] JasonFengJ9 opened #9434 "SharedCPEntryInvokerTests_0_FAILED : testInvokespecialInvokeinterface - Failed to redefine interface"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.functional_s390x_linux_xl_Nightly/63`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https:

[2020-05-04 00:57] JasonFengJ9 opened #9435 "classRelationshipVerifierTests_0_FAILED : -XX:+ClassRelationshipVerifier cannot be used if -Xfuture or if -Xverify:all is enabled"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.functional_s390x_linux_xl_Nightly/63`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://

[2020-05-04 01:02] JasonFengJ9 opened #9436 "JDK11 zLinux - jit_vich_0_FAILED : JNIObjectArrayTest native memory exhausted"
Failure link
------------

From an internal build `Test_openjdk11_j9_sanity.functional_s390x_linux_xl_Nightly/63`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://

[2020-05-04 01:16] JasonFengJ9 opened #9437 "JDK15 zLinux : testSCCMLTests1_openj9_0_FAILED & testSCCMLTests1_openj9_0_FAILED"
Failure link
------------

From an internal build `Test_openjdknext_j9_sanity.functional_s390x_linux_xl_Nightly/64`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
23:13

[2020-05-04 01:23] JasonFengJ9 opened #9438 "JDK8 Windows 32 : cmdLineTester_jvmtitests_0 cma001 - Segmentation error vmState=0x00000000"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly/342`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
06:06:20

[2020-05-04 01:29] JasonFengJ9 opened #9439 "JDK8 cmdLineTester_jvmtitests_2_FAILED : JVMTI_ERROR_UNSUPPORTED_REDEFINITION_METHOD_ADDED"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly/342`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in =https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://hyc-runtimes-

[2020-05-04 01:36] JasonFengJ9 opened #9440 "JDK8 testJITServer_1 : NPE at sun.misc.MetaIndex.mayContain(MetaIndex.java:242)"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/371`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https

[2020-05-04 05:07] DanHeidinga commented on #9435
@sharon-wang can you look into this?

[2020-05-04 10:35] sxa commented on #9369
This is quite odd. I've been trying various builds including one with SHAs from around the before it started failing and this has the same crash in it.

extensions:
[code]
openj9:
[code]
omr:
[code]
It's worth pointing out that the error lines with `Unknown stabs tag` occur in the successful bulids (from the GA branch) too.

I have a couple of options that I can see:
1. Identify the failing comman

[2020-05-04 11:31] andrew-m-leonard commented on #9328
jdkhead merge job test build failing due to this, various errors:
[code]

[2020-05-04 11:33] lumpfish commented on #9369
In the last good build, the same program throws an errors but it does not cause a crash:
Last good build: https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-openj9/639/consoleFull
[code]
Latest nightly build: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-openj9/644/console
[code]
So maybe in the first ca

[2020-05-04 11:55] sxa commented on #9369
Last good build is the GA one so was taken from those branches. We know that the GA branches and JDK14 nightlies are unaffected by this problem.

The command that's failing is:
`LIBPATH=.. ../ddrgen --blob ../j9ddr.dat --superset ../superset.dat --blacklist blacklist --macrolist ../macroList --overrides overrides --show-empty ../libj9ddr_misc29.debuginfo ../libj9gc29.debuginfo ../libj9jvmti29.debu

[2020-05-04 13:34] keithc-ca commented on #9369
The 'unknown tag' message is because stabs strings are so long that they must be continued in (at least) a second segment. The version of `dump` in use truncates long stabs strings (before the signal that the string is continued). The continuation (that can't be recognized as such) will probably not be structurally valid leading to the diagnostic from `ddrgen`. Until now, it has been safe to just

[2020-05-04 13:50] sharon-wang commented on #9435
Looking into it!

[2020-05-04 14:37] tajila opened #9441 "GC Crash in ValueTypeTests"
Stack trace 1:

[code]

Stack trace 2:

[code]

The crash can reproduced by enabling `testValueWithLongAlignmentGCScanning` in ValueTypeTests, https://github.com/eclipse/openj9/blob/master/test/functional/Valhalla/src/org/openj9/test/lworld/ValueTypeTests.java#L2043.

The issue I see is that a headless object is push into the `env->_workStack`, it is later pop'ed for scaning or marking, then trys

[2020-05-04 14:37] tajila commented on #9441
@youngar

[2020-05-04 14:48] JasonFengJ9 opened #9442 "JDK15 : OpenJ9 support for JNI & raw NativeLibraries"
JDK15 `jdk.internal.loader.NativeLibraries` introduced another way to load native libraries besides existing `JNI` library approach. From the source history, this is related to project `Panama`.

Existing `JNI` library loading stays same for `System::loadLibrary` (and its friends `Runtime::load` & `Runtime::loadLibrary`).

1. Support of auto-unloading.  The loaded native libraries are unloaded whe

[2020-05-04 14:50] youngar commented on #9441
Thanks Tobi! Any idea why an object would be missing it's class, or is it just a bad object?

[2020-05-04 14:53] ciplogic commented on #9432
Found later that IntelliJ IDEA lets user to set custom JVM flags in VM (under Help -> Edit Custom VM Options).

These flags are the default flags set by the launch script of IntelliJ IDEA, and I discarded the one that sets by default "ConcurrentMarkAndSweepGC" or other flags that I understand that they are JVM specific:

`-Xms128m
-Xmx980m
-ea
-XX:CICompilerCount=2
-Dsun.io.useCanonPrefixCache=fal

[2020-05-04 14:56] sxa commented on #9369
@keithc-ca Do you know what changed in the codebase that has triggered the new crashes and why 14 is immune to it?

[2020-05-04 15:01] DanHeidinga commented on #9316
Some issues that had been requested for backport:
* https://github.com/eclipse/openj9/pull/8598#issuecomment-587513950
* https://github.com/eclipse/openj9/pull/8367#issuecomment-591649374
I feel like there have been more leading to other discussions about potential `.1` or `.2` releases but can't find them now

[2020-05-04 15:08] #9375 closed

[2020-05-04 15:12] tajila commented on #9441
The object seems valid, by that I mean the values appear to be that of flattened array element. It seems to be like its just in the wrong place, but I can't find how it was added to the workstack.

[2020-05-04 15:16] keithc-ca commented on #9369
No, I don't know what changed, specifically. Many data structures have portions that are configuration-dependent or version-dependent; descriptions of those data structures as stabs strings will of course vary by configuration, version and time. We have probably just been lucky in the past (or are still lucky in the case of 14). I believe IBM internal machines have the newer (fixed) version of `du

[2020-05-04 15:48] sxa commented on #9369
If we have no way of working around this then we'll need to reopen https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1006 or create a new requirement for an alternate 7.1.SP5TL5 build machine to be used for building OpenJ9 at adoptopenjdk

[2020-05-04 15:49] raguks opened #9443 "Creating Kubernetes-Openshift deployment for Adopt+OpenJ9 JDKs"
Hi all,
deployment technologies for applications and runtimes have progressed a lot. Kubernetes(K8s) and OpenShift(OCP) based deployments are now common. Do you think, we should add these deployment options to  OpenJ9? With JIT Server technology now being available - easy deployment to K8s and OCP allow better consumability for OpenJ9 technologies in various hybrid cloud platforms.

This can inclu

[2020-05-04 16:08] dnakamura commented on #9430
This appears to be an deadlock issue in jsig/omrsig. Because of a changed link order, when omrsig attempts to issue a call to the c-library `signal()` it instead calls the `signal()` function defined in jsig, which attempts to recursively acquire a lock. Working on a fix now

[2020-05-04 16:15] mpirvu commented on #9358
Issue fixed by #9415

[2020-05-04 16:15] #9358 closed

[2020-05-04 16:51] pshipton commented on #6552
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/358
DaaLoadTest_all_ConcurrentScavenge_0
[code]

[2020-05-04 16:54] pshipton opened #9444 "Mac libc++abi.dylib: terminating with uncaught exception of type std::bad_alloc"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/351
testDDRExt_Callsites_openj9_0
osx1014-x86-2
[code]

[2020-05-04 17:00] pshipton opened #9445 "SplittableRandomTest.testBoundedDoubles() expected [0] but found [1]"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_xl_Nightly/25
java/util/SplittableRandom/SplittableRandomTest.java
ub18-390-2
[code]

[2020-05-04 17:00] pshipton commented on #9445
fyi https://github.com/eclipse/openj9/issues/4613
Same test but NPE.

[2020-05-04 17:08] sharon-wang commented on #9435
Since `-Xfuture` is included in `JVM_OPTIONS`, a JVM error is expected, since `-XX:+ClassRelationshipVerifier` cannot be enabled alongside `-Xfuture` or `-Xverify:all`.

Looking at `JVM_OPTIONS:  -Xfuture --enable-preview`, are these the default options for tests on this platform, or was this a JDKNext test?

If `-Xfuture` is commonly used with sanity tests, perhaps the test level for `classRelati

[2020-05-04 17:30] JasonFengJ9 commented on #9435
@sharon-wang this is a JDK11 test.

[2020-05-04 17:35] DanHeidinga commented on #9435
`-Xfuture` is surprising as a default test option.  @llxia any idea why this became the default?

[2020-05-04 17:53] james-crowley opened #9446 "JVM Crash on s390x when running Lucene Solr"
### Issue
While testing if some old OpenJ9 bugs were still present in Lucene Solr, I ran into an issue on `s390x`. The issue is not present on `ppc64le` or on `x86`, as the Lucene Solr tests pass.

Here is the `syserr` dump I got:

[code]

### System Information
OS: Ubuntu 16.04.6 LTS
Architecture: `s390x`
Output of `java --version`:
[code]

### Steps to Reproduce
On a `s390x` Ubuntu 16.04 system,

[2020-05-04 17:53] james-crowley commented on #9446
@mstoodle FYI ^^

[2020-05-04 17:58] DanHeidinga commented on #9446
fyi @fjeremic

[2020-05-04 18:10] rpshukla commented on #7247
Looking through the libc sources, the only uses of `_NSGetEnviron` I see outside of getenv/putenv/setenv are to pass the environment as an argument to `posix_spawn` and `exec`. I don't see any function other than putenv/setenv that modifies the environment from `_NSGetEnviron`. Either something else is modifying the environment and I haven't found it or getenv itself is causing a race.

[2020-05-04 18:22] dmitry-ten commented on #9191
After running the test 45 [times](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7659/), it failed twice, both times for different reasons.
First time, it failed because the client couldn't find a class:
[code]
I do not know why it happened, but it seems suspicious that exception was thrown from class `JDK15AnnotationFinder`, considering that this is JDK8.

The second time, the server cra

[2020-05-04 18:38] pshipton commented on #9432
Note by default OpenJ9 ignores command line options starting with `-XX:` that it doesn't understand.

It may be worth trying the OpenJ9 option `-Xshareclasses:name=IntelliJ-IDEA,nonfatal` to improve startup performance.

[2020-05-04 18:48] mstoodle commented on #9446
To close the loop: @fjeremic this is the problem I mentioned to you earlier this morning

[2020-05-04 18:59] pshipton commented on #9440
@mpirvu

[2020-05-04 19:03] pshipton commented on #9439
Suspect this is related to `-Xfuture` being added to the tests. https://github.com/eclipse/openj9/issues/9435#issuecomment-623601635

[2020-05-04 19:03] pshipton commented on #9437
Possibly related to the addition of `-Xfuture`

[2020-05-04 19:07] kgibm opened #9448 "Feature request: Enhance jextract to package DTFJ JARs"
The [IBM Eclipse DTFJ Update Site](https://developer.ibm.com/javasdk/tools/) packages static versions of DTFJ JARs that [may not work on all dumps](https://bugs.eclipse.org/bugs/show_bug.cgi?id=558984). This is used primarily by users of [Eclipse Memory Analyzer Tool](https://www.eclipse.org/mat/).

It would be nice if jextract packaged DTFJ JARs in case the [manual work-around](https://bugs.eclip

[2020-05-04 19:07] pshipton commented on #9438
Possibly related to the addition of `-Xfuture` to the tests.

[2020-05-04 19:08] llxia commented on #9435
These test jobs are auto-generated in `Test_Job_Auto_Gen` job using testJobTemplate. And `-Xfuture` is only added for JCK https://github.com/AdoptOpenJDK/openjdk-tests/blob/64208f5880ddefc82bff6cfbc9b5797226603eb2/buildenv/jenkins/testJobTemplate#L122

Reran `Test_Job_Auto_Gen/16792/` and it generated correct `Test_openjdk11_j9_sanity.functional_s390x_linux_xl_Nightly` without `EXTRA_OPTIONS`.  An

[2020-05-04 19:09] pshipton commented on #9436
As with all the other failures reported today, this is possibly related to the addition of `-Xfuture` to the tests, although it can't be seen in the output shown here.

[2020-05-04 19:09] ciplogic commented on #9432
Thank you @pshipton , this option makes it also the subsequent starts (the first one is in around 1 minute mark, but I understand it why, as if I got it right, some metadata is stored for subsequent start) again into very quick land (28-30 seconds) which is faster than JBR.

RAM usage is very small: 605 MB (it looks amazingly small! the default JBR/Hotspot is using 50% more RAM 🐙 )

As for me, it

[2020-05-04 19:09] #9432 closed

[2020-05-04 19:10] pshipton commented on #9434
As with all the other failures reported today, this is possibly related to the addition of -Xfuture to the tests, although it can't be seen in the output shown here.

[2020-05-04 19:14] pshipton commented on #9433
There is no current option that does this.

[2020-05-04 19:22] pshipton commented on #9439
Closing as some temporary hiccup adding `-Xfurture` https://github.com/eclipse/openj9/issues/9435#issuecomment-623649679, pls reopen if it still occurs.

[2020-05-04 19:22] #9439 closed

[2020-05-04 19:22] pshipton commented on #9438
Closing as some temporary hiccup adding `-Xfurture` https://github.com/eclipse/openj9/issues/9435#issuecomment-623649679, pls reopen if it still occurs.

[2020-05-04 19:22] #9438 closed

[2020-05-04 19:23] pshipton commented on #9437
Closing as some temporary hiccup adding `-Xfurture` https://github.com/eclipse/openj9/issues/9435#issuecomment-623649679, pls reopen if it still occurs.

[2020-05-04 19:23] #9437 closed

[2020-05-04 19:23] pshipton commented on #9436
Closing as some temporary hiccup adding `-Xfurture` https://github.com/eclipse/openj9/issues/9435#issuecomment-623649679, pls reopen if it still occurs.

[2020-05-04 19:23] #9436 closed

[2020-05-04 19:23] pshipton commented on #9435
Closing as some temporary hiccup adding `-Xfurture` .

[2020-05-04 19:23] #9435 closed

[2020-05-04 19:23] pshipton commented on #9434
Closing as some temporary hiccup adding `-Xfurture` https://github.com/eclipse/openj9/issues/9435#issuecomment-623649679, pls reopen if it still occurs.

[2020-05-04 19:23] #9434 closed

[2020-05-04 19:32] DanHeidinga commented on #9433
@Thihup Can you tell us a bit about what kind of problems this is causing?

[2020-05-04 19:51] Thihup commented on #9433
@DanHeidinga Sure! I have a legacy application that does a check like in the example to verify if some class isn't in runtime. Because of it the application can't startup correctly.

I have done some experiments and this is the main problem using the OpenJ9 instead of HotSpot.
I wonder if adding a flag to the VM startup would be a possible solution.

[2020-05-04 20:07] r30shah commented on #9354
After getting an access to the `ub18-390-1`  where this failure is reproduced fairly consistently. After playing with unit test and carefully going through the https://github.com/eclipse/openj9/issues/7011 where @AlenBadel  has done great job in documenting the issue, I was able to reproduce this and debug this easily. It is indeed the same issue as seen on Power. From the `*/DoubleAccumulator.acc

[2020-05-04 20:14] sharon-wang commented on #8878
@amicic Should more perf results be collected or is further profiling needed?

[2020-05-04 20:43] sxa commented on #9369
I'm going to send all the builds tonight onto an AIX7.1.5 machine, but it's one that's being used for test at the moment so we'll see how it goes tonight and then decide what to do

[2020-05-04 22:07] llxia commented on #9435
Found out the problem. PR https://github.com/AdoptOpenJDK/openjdk-tests/pull/1767

[2020-05-04 23:23] mpirvu commented on #9191
[code]
This means that we do throw `JITServer::StreamFailure` but the server does not catch it.

[2020-05-04 23:28] dmitry-ten commented on #9191
Yeah, this will happen if a non-compilation request read on the server fails.
So, should we catch it and fail the compilation?

[2020-05-04 23:41] mpirvu commented on #9191
Yes, we should catch it and abort the compilation in progress without trying to inform the client. In some (most) cases this already happens, I would think.

[2020-05-05 03:40] AdamBrousseau commented on #9393
Both 2,4 seem ok right now
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_cm_Personal/87
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_linux_cm_Personal/2

[2020-05-05 09:29] sjmini opened #9452 "JDK8 and 11: infinite loop on Openj9 for Java 8 and 11"
Java -version output
--------------------
**The problem occurs on OpenJ9 for Java 8 and 11**

openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-b08)
Eclipse OpenJ9 VM (build openj9-0.18.1, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20200122_511 (JIT enabled, AOT enabled)
OpenJ9   - 51a5857d2
OMR      - 7a1b0239a
JCL      - 8cf8a30581 based on jdk8u242-b08)

openjdk v

[2020-05-05 11:10] JasonFengJ9 commented on #9435
It happened again at latest nightly build `Test_openjdk11_j9_sanity.functional_s390x_linux_xl_Nightly/64`:
[code]

[2020-05-05 12:30] smlambert commented on #9435
Once https://bugs.eclipse.org/bugs/show_bug.cgi?id=562706 is resolved, Lan's fix from https://github.com/AdoptOpenJDK/openjdk-tests/pull/1767 will be applied.

[2020-05-05 12:50] DanHeidinga commented on #9452
Having a reproducible test case would make this easier to debug.  @sjmini can you share the `TYPE_NAME` so we can craft the full test?

[2020-05-05 13:16] MNeuling opened #9453 "JIT compiler crashes during inlining while compiling XML11Configuration.setFeature"
Java -version output
--------------------
openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-b09)
Eclipse OpenJ9 VM (build openj9-0.20.0, JRE 1.8.0 Windows 10 amd64-64-Bit Compressed References 20200422_667 (JIT enabled, AOT enabled)
OpenJ9   - 05fa2d361
OMR      - d4365f371
JCL      - 5e623848e9 based on jdk8u252-b09)

Summary of problem
------------------
On one of our PCs

[2020-05-05 13:33] llxia commented on #9435
Test_openjdk11_j9_sanity.functional_s390x_linux_xl_Nightly/65 on May 4th is normal.

[2020-05-05 13:46] JasonFengJ9 commented on #9435
yeah, build 65 is green. I was following the top pipeline job which is one day older and last night pipeline build just appears now.
Thanks the fix.

[2020-05-05 14:05] DanHeidinga commented on #9453
From the javacore in run1-dump.zip:
[code]

@MNeuling I see that the `-Xverify:none` is specified.  Can you remove that option and see if the issue still occurs?

[2020-05-05 14:06] DanHeidinga commented on #9453
fyi @andrewcraik

[2020-05-05 14:24] sjmini commented on #9452
@DanHeidinga Thanks for your comment.
I have attached simple test code that triggers the problem.
[testfile.zip](https://github.com/eclipse/openj9/files/4581279/testfile.zip)

compile:
I used gcc as follow:
[code]

[2020-05-05 14:37] AlenBadel commented on #8652
Most likely the J9Class that the J9Method belongs to was valid at some point, and since has been freed at some point. Meanwhile the entry was not removed from the table.

Unless proven, there is no guarantee that during the execution of each of these GC hooks that the the class, or it's methods will be alive until class unloading, where currently the tables are being cleaned up. Hence, the propose

[2020-05-05 14:50] dmitripivkine commented on #8652
Sorry, I do not follow. Please explain

[2020-05-05 15:13] AlenBadel commented on #8652
Currently, there are four VM hooks that are used for class unloading, these hooks are invoked by the GC. (See https://github.com/eclipse/openj9/issues/8652#issuecomment-622437805).

The J9Method table, as well as the DLTRecordTable are only cleaned during the classloader unloading, and anonclasses unloading phases. These tables are not cleaned upon class unloading, or classes unloading.

The JIT s

[2020-05-05 15:24] #9430 closed

[2020-05-05 15:37] #9393 closed

[2020-05-05 15:38] pshipton commented on #9393
Didn't see any problem in the builds last night, not sure if the machines were enabled or not. I'll reopen if any further problems are seen.

[2020-05-05 15:41] gacholio commented on #9452
It's also worth noting that the code above won't work with or without the invalid characters - the first string in `GetStaticMethodID` is just the method name, without the private/static/etc.

[2020-05-05 15:48] dmitripivkine commented on #8652
I do not understand what "alive class" means.

When GC discovered that non of classes from classloader have instances in object heap the decision of unloading this classloader is taken.
GC walks all classes of this classloader and for each one
- replace pointer to class object to -1
- remove class from active classes list (and re-assign `previous` and `next` to itself)
- issue a hook "class unload

[2020-05-05 15:51] sjmini commented on #9452
@gacholio Thanks for you comment.

Class1.java contains following functions, so it should work without invalid characters.

[code]

[2020-05-05 15:55] theresa-m commented on #8916
This is ready for another review.

[2020-05-05 16:02] dnakamura opened #9455 "CMake builds with -Werror disabled"
Cmake builds currently build with -Werror disabled. This should be added in to ensure consistency with UMA builds

[2020-05-05 16:11] gacholio commented on #9452
Thanks for the clarification - I will take a look at this.

[2020-05-05 16:32] AlenBadel commented on #8652
As you've mentioned. The J9class is marked to be unloaded.
As the class unloading hook is called, the JIT currently doesn't clean up the table entries whose methods belong to the unloaded class.

The JIT waits until the GC issues the class loader unload hook to do any clean up.

Both the entries of J9Method_HT, as well as the DLTRecordTable contains references to J9Methods that are either candidat

[2020-05-05 16:33] dmitry-ten commented on #9270
Did another 20 runs [here](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7685/), everything passed again. Hopefully, it seems like the problem went away, probably due to some other changes

[2020-05-05 16:35] gacholio commented on #9452
Stack trace for the hang:
[code]

[2020-05-05 16:35] babsingh opened #9456 "New JCL Flag: OPENJDK_METHODHANDLES"
I wanted to add a new flag, `OPENJDK_METHODHANDLES`, to toggle between the OpenJ9 and OpenJDK MethodHandle(s).

I was looking at jpp_configuration.xml:
https://github.com/eclipse/openj9/blob/875226b3db8cc5cdbcf0ca5f73419e800d7963ed/jcl/jpp_configuration.xml#L54-L59

`SIDECAR18-SE` configuration is the lowest dependency, which gets inherited by every Java version (Java 8 to Java 15).

Will adding `

[2020-05-05 16:42] fjeremic commented on #9446
@r30shah can you please take a look. We are hitting the assert added in ecipse/omr#4763. The assert seems valid and it appears the tree looks ill formed here. We need a log to find the source of this tree.

We should also take this opportunity to improve that assert by using `TR_ASSERT_FATAL_WITH_NODE` API [1] which would have printed the tree in question as part of the assert.

[1] https://github

[2020-05-05 16:44] gacholio commented on #9452
The issue here is clear - we're not validating the UTF data in `GetStaticMethodID` like we do in `FindClass`:
https://github.com/eclipse/openj9/blob/875226b3db8cc5cdbcf0ca5f73419e800d7963ed/runtime/vm/jnimisc.cpp#L464-L471

https://github.com/eclipse/openj9/blob/875226b3db8cc5cdbcf0ca5f73419e800d7963ed/runtime/vm/jnicsup.cpp#L1595-L1612

[2020-05-05 16:47] JasonFengJ9 commented on #9456
That's correct.

Just decorate the code required with `/*[IF OPENJDK_METHODHANDLES ]*/`.

[2020-05-05 16:49] pshipton commented on #9455
I assume this is related to C code, and not Java code.

[2020-05-05 16:55] pshipton commented on #9445
@fjeremic

[2020-05-05 16:56] pshipton commented on #9444
10x grinder same machine (osx1014-x86-2) https://ci.eclipse.org/openj9/job/Grinder/875 -

[2020-05-05 16:56] AdamBrousseau commented on #9393
Not enabled but I can add back the labels before tonight's builds.

[2020-05-05 17:00] pshipton commented on #9393
I've added the labels back, I'll keep an eye out for problems.

[2020-05-05 17:00] fjeremic commented on #9445
@PushkarBettadpur can you please take a look at this one? It looks to only fail on the one machine. The test seems to take like 40 seconds to finish so it should be quick to reproduce. You may need to request access to that machine.

[2020-05-05 17:02] gacholio commented on #9452
Adding in the verify code results in the expected assertion.

[2020-05-05 17:02] dmitripivkine commented on #8652
This sounds as fundamental problem missing respect for `_javaVM->classUnloadMutex` when tables are modified. There should not be any logical difference which hook handler serves this. If there is a difference so there is a race between hook handler and table modification (which is wrong to fix by switching from one hook to another because of just reducing time window for race condition).

An alter

[2020-05-05 17:08] pshipton commented on #9445
I'm guessing it occurs on both ub18-390-1 and ub18-390-2, just not the ub16 machines. I believe all the machines are the same except for the OS.

[2020-05-05 17:10] pshipton commented on #9445
Similarly https://github.com/eclipse/openj9/issues/9354 only occurs on ub18, possibly the same issue.

[2020-05-05 17:25] dnakamura commented on #9455
correct

[2020-05-05 17:49] gacholio commented on #9452
In discussion with @DanHeidinga and testing with the Oracle JVM, we've decided not to make any change. Doing so would cost us a small amount of performance for very little gain. The JNI specification says (or at least stongly implies) that using JNI improperly may result in the VM crashing or behaving unexpectedly.

The provided test case is accessing a string array using a negative index, which i

[2020-05-05 17:52] offerbaruch opened #9457 "Unexpected java.lang.ClassCastException during Annotation processing and high level of parallelism"
Java -version output
--------------------

was able to reproduce with both IBM java and adoptOpenJdk but only on s390x or IBM z/OS:

[code]

Summary of problem
------------------

During Annotation handling at a high parallelism getting different unexpected exceptions.
Worst case scenario is actually when we don't get an exceptions and the annotations are not being processed correctly which can ca

[2020-05-05 17:54] DanHeidinga commented on #9452
I strongly encourage anyone doing JNI to use the Reflect support methods [1] to do all the method and field lookup in Java and convert the Reflect Method/Field object into the JNI pointers.

In this case, the java code would do the reflective lookup:
[code]

and the native code would do the call after converting to the `jmethodID` using:
[code]

[1] https://docs.oracle.com/javase/8/docs/technotes/

[2020-05-05 17:58] AlenBadel commented on #8652
We could have many theories why this is happening, or perhaps do we have a proper expectation to keep these objects alive after the class unloading hook is serviced.

The proposed solution is that unless we have an explicit expectation, the JIT needs to clean up the table entries during the respective hooks.
https://github.com/AlenBadel/openj9/commit/27e93e6cae493f2a3945528330adf5faacec3e4b

[2020-05-05 18:22] 0xdaryl opened #9458 "Itemize and size the work to port AArch64 to JDK8"
While AArch64 on OpenJ9 was being developed on JDK11, there were some community inquiries for JDK8 support (that I will link here if I can find them).  Regardless, it may make sense to round out platform support on JDK8.

This issue tracks the work to investigate the work involved and to come up with a sizing.  If the work is straightforward enough it might actually be completed as part of this pr

[2020-05-05 18:26] 0xdaryl commented on #9458
We have put some effort into this in the past.  See https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/307

The discovery was that the JDK8 class libraries are built differently and that led to some complications.  As our focus was JDK11 at the time we did not stand by to investigate and resolve.  Obviously we will have to revisit this as part of this effort.

[2020-05-05 18:28] 0xdaryl opened #9459 "Investigate Windows 10 ARM support"
Windows 10 ARM is becoming a capable and popular platform and one where we've received some community interest.

This issue tracks the work to investigate an OpenJ9 AArch64 port to Windows 10 ARM.

[2020-05-05 18:35] gacholio opened #9460 "Add UTF encoding check to -Xcheck:jni"
Inspired by #9452

JNI check should verify that incoming UTF-8 strings are validly encoded, similar to:
https://github.com/eclipse/openj9/blob/875226b3db8cc5cdbcf0ca5f73419e800d7963ed/runtime/vm/jnimisc.cpp#L239-L261
Two things should be checked:

- is the encoding valid at all?
- is the encoding in its most compact form?

One we're in the VM, we assume that UTF data is correct and canonical, whic

[2020-05-05 18:38] sjmini commented on #9452
@gacholio and @DanHeidinga Thanks for the analysis and for reviewing the problem.
Your comments are very helpful.

I have one question.
I do not understand the discrepancies between J9 for Java 12 and 8 (or 11).
Any reason that the patch had been applied on J9 for Java 12?

[2020-05-05 18:40] dnakamura commented on #9284
For whatever reason we appear to disable ddr on jdk14/next. Testing fix now

[2020-05-05 18:42] gacholio commented on #9457
Reproduced locally with the latest IBM build.

[2020-05-05 18:44] gacholio commented on #9452
The StringTable code has recently been reworked (and the assertion removed, on the assumption that only valid UTF data will make it into the VM code).

[2020-05-05 18:57] dnakamura commented on #9126
I'm thinking this may be some machine weirdness. Does not seem to occur on internal builds. Can't reproduce even on same machine with identical SHAs. The most obvious answer would be not tracking a dependency properly in make, causing a race condition. However in this case the logs show that ddrgen processes the debuginfo/macros long before we generate the java code. Current plan of attack is to s

[2020-05-05 19:08] r30shah commented on #9446
Tried the steps described by @james-crowley  and I was able to reproduce this fairly consistently on local Dev machine running Ubuntu 18.04, looked into the jitdump produced by the failure, I am seeing the following trees in the dump.
[code]
First Child is viRegLoad while second child is iRegLoad. This is indeed illegal for comparison node `ificmplt` which should have both child of same type (TR::

[2020-05-05 19:39] offerbaruch commented on #9457
Reproduced on z/Linux or another platform?

[2020-05-05 19:47] gacholio commented on #9457
On zlinux, yes - I haven't tried elsewhere. I'm currently running without the JIT, which has so far been successful.

[2020-05-05 19:52] dmitripivkine commented on #8652
I would like to see detailed explanation of mechanism how this problem occur as well of how proposed change help to fix the problem.

[2020-05-05 19:56] manqingl commented on #9457
This issue shows up with Java 8 SR 6 FP7 zLinux, so we need an APAR for this one.  I am not sure about other Java versions and platforms.

[2020-05-05 20:01] amicic commented on #8878
I don't need more perf results. Thise slow downs are more or less expected, knowing the changes that come in... Next step is to try to reduce the gap.
Generally, we need to reduce the number of runtime 'if CR' checks. If possible, extracting it from tight loops. Very often it won't be possible. so we'll have to resort to versioning the code. Something similar to what is done to the Interpreter (al

[2020-05-05 20:15] offerbaruch commented on #9457
`I do have a 2 PMRs opened with IBM about this. one from the customer side and one from my (ISV) side. does this help?

[2020-05-05 20:19] gacholio commented on #9457
That's where the APAR will go - please provide @manqingl with the details internally.

[2020-05-05 20:28] offerbaruch commented on #9457
Sent via email to @manqingl

[2020-05-05 20:30] pshipton commented on #9126
It was still occurring, although I haven't seen one since last week.
All the build machines should be the same, the last few were on different machines.

https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_OMR/575 - cent6-x64-5
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_OMR/574 - cent6-x64-3
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_OpenJDK8/40 - cent6

[2020-05-05 20:34] a7ehuo commented on #9169
With the latest code, `jdk_lang_j9_0` still fails with JITServer in the nightly build `Test_openjdk11_j9_sanity.openjdk_x86-64_linux_jit_Nightly/68` [1]. But this time, it looks like related to the test itself. What happened here is that `InheritIO.sh` expects `stderr.txt` to contain only `'exit value: 0'` [2]. However with JITServer, `stderr.txt` now contains two lines now:
[code]

[1]
[code]

[2

[2020-05-05 20:37] gacholio commented on #9457
No failures on xLinux in many runs.

No failures on zLinux without JIT (in fewer runs as it's a lot slower).

[2020-05-05 20:38] gacholio commented on #9457
@fjeremic I'll see if I can limit it down a bit, but you may have a better plan of attack.

[2020-05-05 20:58] tajila opened #9462 "Compilation failure on xlinux_64 when compiling with -O0"
The `static` in `static VMINLINE BOOLEAN
j9shr_Query_IsAddressInReadWriteCache(J9JavaVM *vm, void *address, UDATA length)` and friends causes a compilation failure when compiling with `-O0`

This occurs because not all the inline functions are used in the files that include SCQueryFunctions.h

[code]

[2020-05-05 20:58] tajila commented on #9462
ATM, not sure why this only occurs with -O0

[2020-05-05 21:05] gacholio commented on #9462
I was afraid of this (though not sure how this is different from `j9accessbarrierhelpers.h`).

Short term, these need to be moved to be proper functions (not being able to do a proper debug build is a blocker, IMO).

Can we finally take the plunge and stop using `.c` files and change to `.cpp`? The only possible downside is compile time, which is frankly the least imporant thing imagineable. Maybe

[2020-05-05 21:06] gacholio commented on #9462
@DanHeidinga @fjeremic @pshipton

[2020-05-05 21:09] fjeremic commented on #9446
I can work with you offline on this one so we can stay focused on the issue at hand. Yeah that tree looks ill-formed.

[2020-05-05 21:14] gita-omr commented on #8652
@dmitripivkine  maybe it's a very basic question but we would like to get the following out of the way first:
Our current assumption is that at the time when **Class Loader**  unloading JIT hook is called, J9Method of one of the classes (not neccesssary belonging to that Class Loader) was already freed (and possibly corrupted by somebody reusing its memory). We need to know:

1) Is the following t

[2020-05-05 21:18] gita-omr commented on #8652
Please note that all the questions above are from GC prospective, eg. seen by GC and not by some other thread.

[2020-05-05 21:29] pshipton commented on #9462
We'd need to check this doesn't affect performance.

[2020-05-05 21:33] fjeremic commented on #9457
Thanks. I've reproduced the issue and limited down. The minimal reproduction is with the following option:

[code]

The only heavy lifting we do in there is to inline `Class.isInstance` into a `TR::instanceOf` check. The test passes with `disableInlineInstanceOf` and fails every time without it. These are the checks we inline:

[code]

I'm going to hand the investigation off to our resident expert

[2020-05-05 21:36] 0xdaryl commented on #9443
Perhaps this is a topic that could be discussed at an upcoming weekly OpenJ9 community call?

[2020-05-05 21:40] gacholio commented on #9462
To avoid the issue, we could just provide API for these inlines, and use them only from the new code from @fjeremic

[2020-05-05 21:41] dsouzai commented on #6349
@gita-omr was the fix contributed to master?

[2020-05-05 21:42] dsouzai commented on #6349
Looks like it's in master; closing.

[2020-05-05 21:42] #6349 closed

[2020-05-05 21:52] pshipton commented on #9462
The .h functions are helpers to call the APIs that already exist, they could be copied into Filip's code. Although that may cause problems down the road if we every need to change how these helpers work.

I also have no objections to converting files to .cpp

[2020-05-05 21:55] AlenBadel commented on #8652
Just wanted to put it out there that there is an assumption that compilation threads would not be running during STW.
https://github.com/eclipse/openj9/blob/2a27ccf888c7f58edb5c3bd96bc0f29d0a103b31/runtime/compiler/control/CompilationThread.cpp#L12601-L12603

The failure that we're seeing could occur if the mutex is not being used properly. There is a possibility in this case that we could be remo

[2020-05-05 21:56] pshipton commented on #9460
Since this resulted from a user raised issue, I'll add the UserRaised label to this.

[2020-05-05 22:03] gacholio commented on #9452
@sjmini Please close if you are satisfied with the response here.

[2020-05-05 22:12] gacholio commented on #8652
Could we get rid of the mutex? How much perf would it cost to flush the compilation queue and any active compilations on class unload (marking anything queued for immediate compilation on the next invocation)?

[2020-05-05 22:13] fjeremic commented on #6349
@dsouzai can you link the PR which fixed in case it comes in a search down the road?

[2020-05-05 22:23] fjeremic commented on #9462
Just for completeness this is in regards to the review https://github.com/eclipse/openj9/pull/8615#discussion_r385879966. The question put forth was inline or separate compilation unit. We unfortunately went with inline. I suppose the answer is to just use a separate (.cpp) compilation unit while still defining the APIs as inline functions. Will the compiler inline them if we move to a compilation

[2020-05-05 22:29] gacholio commented on #9462
The correct solution is to declare static inline functions only in .hpp files, never in .h. I'm not sure if simply moving the one file to .cpp would solve the immediate issue (I suspect it would, but I've never tried it, and we have so many different compilers).

I've been pushing for all .cpp for a while now for other reasons (mainly inline variable declarations).

[2020-05-05 22:32] gacholio commented on #9462
This would also allow us to either remove or reimplement some truly awful macros with inline functions, which are much more flexible and easier to read/modify.

[2020-05-06 00:24] dsouzai commented on #6349
Looks like it was fixed inhttps://github.com/eclipse/openj9/pull/6728

[2020-05-06 01:28] sjmini commented on #9452
@DanHeidinga @gacholio
Thank you. Closing issue.

[2020-05-06 01:28] #9452 closed

[2020-05-06 01:34] dmitripivkine commented on #8652
@gita-omr

There is a number of fundamental facts about classes:
- j9class or **any it's part** must be valid if class is a member of active (not unloaded) Classloader (with exception of partially initialized classes at class loading time)
- GC unloads classes single threaded (at least at the moment) under VM Exclusive Access and mutex `_javaVM->classUnloadMutex` acquired for Write (exclusively)
-

[2020-05-06 01:38] gita-omr commented on #8652
From what I heard, class unloading blocks compilation threads. Why do we think it's not the case?

[2020-05-06 01:53] gita-omr commented on #8652
@dmitripivkine thanks for the excellent response! This is exactly the reason we wanted to check with you first, before applying a fix.

So let's consider our next assumption: https://github.com/eclipse/openj9/issues/8652#issuecomment-624327598

But from what I understand, compilation thread is blocked during class unloading. Why do we think it's not?

[2020-05-06 04:32] DanHeidinga commented on #9462
j9accessbarrierhelpers.h provides a clue for how to work around this:

https://github.com/eclipse/openj9/blob/906d4009533c1c313e9e31a9e5db895e9ff0dcdf/runtime/oti/j9accessbarrierhelpers.h#L33-L45

I think https://github.com/eclipse/openj9/pull/9464 will fix the issue but haven't had a chance to test it yet

[2020-05-06 05:48] knn-k commented on #6607
Related PRs:
- eclipse/omr#5126, eclipse/omr#5132, eclipse/omr#5159

[2020-05-06 07:11] MNeuling commented on #9453
Yes, I removed `-Xverify:none` and now it works.

[2020-05-06 10:46] M-Davies commented on #2501
Similar error to this on `test-osuosl-centos74-ppc64le-1`. Dump logs should still be on the machine (request access at https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues)
[code]

[2020-05-06 12:15] DanHeidinga commented on #9453
@MNeuling we don't support `-Xverify:none` and have a policy to not investigate crashes if they only occur when -Xverify:none is enabled.

Is that an option you can remove from your command line?

OpenJ9 offers a number of ways to get faster startup including `-Xshareclasses` (enabling class data and AOT code to be shared & reused between runs) & `-Xquickstart` (tune the VM for fast startup at the

[2020-05-06 13:01] sxa commented on #9369
@jdekonin What bash version do you have on your AIX 715 systems? I'm getting this error on mine during the build:
[code]
My version is `GNU bash, version 5.0.0(2)-release (powerpc-ibm-aix6.1.9.0)`

Cc @sej-jackson

[2020-05-06 13:02] sxa commented on #9369
Also @jdekonin which boot JDK do you have on those systems for JDK8? The one I've got on my new 715 system doesn't appear to work, so I've switched it to a JDK8 for now...)

[2020-05-06 13:26] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_Nightly/361
[code]

[2020-05-06 13:28] dmitripivkine commented on #2501
based on stack this is a duplicate of https://github.com/eclipse/openj9/issues/8652

[2020-05-06 13:35] jdekonin commented on #9369
The bootjdk is the same as provided via playbook afaik, bash is the latest available through the yum installer.  From a yum perspective the only packages pending update are db to v6.2.38-1 and git to v2.20.2-1, so pretty current.

[code]

[2020-05-06 13:39] jdekonin commented on #9369
Reading further this is a dup of the issue I opened back in Feb.
https://github.com/eclipse/openj9/issues/8508

I found a ulimit increase resolved the problem but was unable to get anyone to comment on what the defaults should be for the users.  I don't believe setting ulimit settings to unlimited is valid.

[2020-05-06 13:53] jdekonin commented on #8508
Currentl ulimit settings are
[code]

Not so sure using ulimited as values for some of these is a good idea, I am looking for suggestions as to what would be expected or common settings to use.

[2020-05-06 14:02] DanHeidinga commented on #9443
Thanks @raguks for opening this issue.  A couple of questions I'll add here and we can either address in this issue or, as Daryl suggested, discuss on the community call.

Are the helm charts / operators for JITServer deployments or intended for a general openj9 deployments?

Operators are a really cool piece of tech that helps with "day 2" concerns when running Java in K8 and there's a lot of val

[2020-05-06 14:11] zl-wang commented on #8508
-m setting is too low, while others are ok.  i would suggest -m going to unlimited, good for all possible test cases.

[2020-05-06 14:28] pshipton commented on #9382
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly_daaLoadTest/1
aix71-p8-8

[2020-05-06 14:28] sxa commented on #9369
I'll take a look at that - thanks. I had seen it beore but it wasn't a blocker at the time. For the record, if I replace `bash` on the machine with an earlier release (`GNU bash, version 4.3.30(1)-release (powerpc-ibm-aix6.1.0.0)
` - I copied the binary from another system) it also runs through ok without the error.

[2020-05-06 14:39] dsouzai commented on #8198
Closing as this was fixed in https://github.com/eclipse/openj9/pull/8199

[2020-05-06 14:39] #8198 closed

[2020-05-06 15:10] dsouzai commented on #8652
That's not true; the compilation threads can still run during a STW phase; it will only block if it needs to acquire VM Access and some other thread holds exclusive VM Access. It's at this point that the JIT releases the class unload mutex; if class unloading then happens, it will abort the current compilation. Class unloading will also cause all compilation requests of unloaded classes to be remo

[2020-05-06 15:33] jdekonin opened #9474 "install cmake v3.17 on AIX machines"
This is a follow on to https://github.com/eclipse/omr/issues/5016

v3.16 that comes via the yum package installer is broken.  This version compiled from source by @dnakamura needs to be added to the PATH.

[2020-05-06 16:10] raguks commented on #9443
Thank you @DanHeidinga
1. Yes we can tailor the chart to deploy openj9 or JITServer through command line/yaml options. It makes sense to use "official" adopt+openj9 container images
2. While an Operator is capable of lot more, it is also a basic deployment mechanism for OpenShift. We can start with basic deployment to OpenShift as MVP and then iterate to add features you have suggested among other

[2020-05-06 16:18] offerbaruch commented on #9457
Hello everyone,

Any progress made on this issue?

[2020-05-06 16:27] dnakamura opened #9475 "Hang in test on cmake osx builds"
Failure link
------------

failing vm:
[code]

previously passed on:
[code]

Optional info
-------------

possibly an unintended side effect of #9449

[2020-05-06 16:35] r30shah commented on #9457
@offerbaruch  I am looking into probable cause of the failure. Will be able to provide update on the problem and fix soon. For the time being you can try using `-Xjit:maxOnsiteCacheSlotForInstanceOf=0` option and see if it works. On test case from https://github.com/eclipse/openj9/issues/9457#issuecomment-624318283 , I was able to avoid the failure. For context, that option just disables additiona

[2020-05-06 17:10] offerbaruch commented on #9457
Thank you @r30shah .
We have a larger test which produces more exceptions and errors along the ClasCastException but that is harder to share as it requires more infrastructure around it.
We have tried the setting on the comment you mentioned, that did not resolve all of symptoms though.
I will try this one as well and let you know how it goes.

[2020-05-06 17:18] andrewcraik commented on #8652
It is on the list of things to look at

If you are referring to the runtime assumption table this N**2 behavior has been fixed. The work is amortized and is now linear on average.

[2020-05-06 17:21] andrewcraik commented on #8652
@dmitripivkine in regards to:

The issue here is not the tables being corrected - the j9method pointer is pointing to unaccessible memory - that pointer is not modified as part of clean-up so unless there is some kind of double free issue happening the issue is the pointer is stale and the clean-up was not done correctly. The fundamentally weird thing we are doing is derefing the j9method pointer

[2020-05-06 17:41] r30shah commented on #9457
Interesting, How do you set up the option `disableInlineInstanceOf`, my suggestion in https://github.com/eclipse/openj9/issues/9457#issuecomment-624755876 just disables a sub-set of what `disableInlineInstanceOf` does so if it still fails with that, there is no point of using `maxOnsiteCacheSlotForInstanceOf=0`.

[2020-05-06 17:50] dmitry-ten commented on #9440
Probably the same underlying bug as #9197?

[2020-05-06 17:55] gacholio opened #9478 "Use C++ instead of C"
I propose we stop using `.c` files in OpenJ9 in favour of `.cpp` files. I am not proposing an actual language shift - most files would be wrapped in `extern "C"` rather than making them into classes. The advantages are:

- inline variable declarations on every platform
- inline functions are much more flexible and readable than preprocessor macros

Conversion can take place one file at a time. The

[2020-05-06 18:10] offerbaruch commented on #9457
We only tested the JAVA_OPTS mentioned in the comment. nothing else.

[2020-05-06 18:17] r30shah commented on #9457
Ahh, kk, so you have not used `disableInlineInstanceOf` probably then. If that is the case, I recommend add `-Xjit:maxOnsiteCacheSlotForInstanceOf=0` to your `JAVA_OPTS`. I think this would make failures go away.

[2020-05-06 18:33] jdekonin commented on #9474
Installed/setup on all AIX machines already but need the above PR to merge and be deployed  before jenkins jobs will use the new version.

[2020-05-06 19:12] dmitry-ten commented on #9191
Ok, I tried to find all possible cases when we don't catch the `StreamFailure` exception, but couldn't find any. Not sure how to approach this problem, since I can't reproduce the issue locally, so there is no way to see from where exactly the exception is thrown.

[2020-05-06 19:16] mpirvu commented on #9406
@EmanElsaban could you please look into this issue?
While you are setting up the build environment for JITServer, go through the documentation and see if anything is stale or unclear.

[2020-05-06 19:17] fjeremic opened #9479 "Add support for jitdump agent sub-options"
Sometimes, no matter how hard we try to heuristically determine what tracing or options to enable for jitdump compiles, it may not be enough diagnostics to determine the root cause of the problem. Manual intervention is required in such cases. Currently this involves setting `-Xjit:` options to add additional tracing and hoping to reproduce the problem.

The current approach has several limitation

[2020-05-06 19:20] fjeremic commented on #9120
Adding new issue (#9479) to support specifying sub-options using the `-Xdump` framework to jitdump so as to enable custom tracing to arbitrary failures.

[2020-05-06 19:56] gacholio commented on #8652
At a glance, the hooks are definitely invoked before any memory segments are freed, but the GC team will need to confirm this is always true.

[2020-05-06 20:02] offerbaruch commented on #9457
Hi,

We tested our larger test case with the `-Xjit:maxOnsiteCacheSlotForInstanceOf=0` and were not able to reproduce the issue with this java option.

[2020-05-06 20:10] r30shah commented on #9457
Thanks a lot @offerbaruch  for verifying that. I am looking into one potential issue with that opt. I will keep posted.

[2020-05-06 20:13] DanHeidinga commented on #9453
I'm going to close this now.  Please comment if you disagree and we can discuss further

[2020-05-06 20:20] dmitripivkine commented on #8652
As I stated before non of memory accessible from j9class/j9classloader is released before hooks are triggered. I also double check that any subscriber of "class unloading" and "classes unloading" hooks don't do this.

[2020-05-06 20:46] andrewcraik commented on #8652
The mystery deepens - @gacholio is there a way for us to get a log of the memory addresses of j9methods in a JVM run? I'm trying to think if we can verify if the pointer was ever valid or not...

[2020-05-06 20:50] gacholio commented on #8652
The tracepoint here may be of use:
https://github.com/eclipse/openj9/blob/fcb6d3f438eedd4c13116b4a04e13b246162070f/runtime/vm/createramclass.cpp#L2557-L2558

[2020-05-06 20:57] dmitripivkine commented on #8652
I guess may be it is does not matter what triggered table walk (hook for class unloading) but just asynchronous nature of event? Is it possible table just not walkable some short periods of time (like list under modification for example). In this case triggering event content might be irrelevant

[2020-05-06 22:50] OscarQQ opened #9481 "OpenJ9 build failure using Docker on macOS"
I used the script from [https://github.com/eclipse/openj9/blob/master/buildenv/docker/mkdocker.sh](https://github.com/eclipse/openj9/blob/master/buildenv/docker/mkdocker.sh ) and this command `bash mkdocker.sh --tag=openj9 --dist=ubuntu --version=16.04 --build` to build OpenJ9
but I am getting the following error:
[code]
<img width="1125" alt="Screen Shot 2020-05-06 at 1 45 05 PM" src="https://use

[2020-05-06 22:59] fjeremic commented on #9481
@keithc-ca FYI. Perhaps we should be fetching at `--depth 1` in the Dockerfile? I don't see a reason for fetch the whole history.

[2020-05-06 23:00] pshipton commented on #9481
@keithc-ca fyi

I don't think `error: pack-objects died of signal 9` indicates a problem with the docker script. It may be a problem with your machine running out of memory resource. There is a suggestion in https://stackoverflow.com/questions/18831788/git-error-cant-push-to-github-pack-objects-died-of-signal-9 which may help. You can use `--print` instead of `--build` to create the script, which

[2020-05-06 23:00] r30shah commented on #9457
Found the problem. Summarizing the issue here.

An `instanceOf` node in OpenJ9 has generally two children, first one is the object we are checking (Here it is `annotation`) and second one is the **Class (CastClass)** with which we are checking relation of this object (Here it is Class of `annotationType`).
In this case, the CastClass is runtime variable, so on runtime we load the class of the `ann

[2020-05-06 23:25] OscarQQ commented on #9481
Commenting out line 646 `echo " && git gc --aggressive --prune=all"` at mkdocker.sh, it will work

[2020-05-06 23:28] #9481 closed

[2020-05-06 23:36] gacholio commented on #9457
What about 31-bit?

[2020-05-07 00:00] r30shah commented on #9457
@gacholio  My mistake in previous comment, This scenario will cause issue on 31-Bit JVM as well , though I think fix for that would not need LPQ/STPQ. Working through getting a fix.

[2020-05-07 06:42] offerbaruch commented on #9457
Hello @r30shah , thank you for all the details.
I understand you have identified the root cause. I have 2 questions:
1. When will a fix be available for customers to download?
2. Can you please provide me with an official workaround for this issue that a customer can implement with minimal impact on performance?

As I mentioned this is a high severity issue and can cause serious damage (not just u

[2020-05-07 08:53] M-Davies commented on #8652
If it helps, here's some more dumps from last night's https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux/194/console run
https://ibm.box.com/shared/static/ttcnd9cp0y1wvp0n8snoiydymdlgo4oh.gz

[2020-05-07 09:28] MNeuling commented on #9453
@DanHeidinga sorry
I had to wait for a college of mine. He is the user of the computer where the vm crashes.
Today the VM crashes again without option `-Xverify:none`.
[run3.zip](https://github.com/eclipse/openj9/files/4592041/run3.zip)
[run4.zip](https://github.com/eclipse/openj9/files/4592043/run4.zip)
[run5.zip](https://github.com/eclipse/openj9/files/4592044/run5.zip)

[2020-05-07 10:37] MNeuling commented on #9453
@DanHeidinga Please reopen this issue.

[2020-05-07 11:57] cznewbold commented on #8890
tried to verify with
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u252-b09.1_openj9-0.20.0
and
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u252-b09.2_openj9-0.20.0
but there are no linux images

[2020-05-07 12:40] DanHeidinga commented on #9453
The run3.zip shows a crash in the same phase of the JIT but with a different method:

[code]

@andrewcraik Can someone on your team pick this up?

[2020-05-07 13:04] DanHeidinga commented on #8890
The fix is in the nightly builds which can be found here - https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9

[2020-05-07 13:27] andrewcraik commented on #9453
@liqunl if you could take this for now?

[2020-05-07 13:30] mpirvu opened #9482 "Use tracing points for JITServer code"
Debugging JITServer behavior sometimes requires a verbose log which is not always available. I am proposing the addition of tracing points that should show in a Snap file in case something goes wrong.

[2020-05-07 13:35] cathyzhyi commented on #9416
assigned to @Leonardo2718

[2020-05-07 13:39] keithc-ca commented on #9481
That invocation of `git gc` shrinks the reference repository from well over 2GB to more like 400M. It isn't necessary to function, it just makes the docker image that much smaller.

Using `git fetch --depth=1` would not change that much.

[2020-05-07 13:46] pshipton commented on #9197
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_OMR/516
[code]

[2020-05-07 14:17] pshipton commented on #9382
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly_daaLoadTest/2
aix71-p8-1
/home is 100% full.
/home/jenkins/workspace/Test_openjdk11_j9_special.system_ppc64_aix_Nightly_daaLoadTest/openjdk-tests/TKG/test_output_15888359996312:
3.7G    ./DaaLoadTest_all_special_15
3.8G    ./DaaLoadTest_all_special_23
4.1G    ./DaaLoadTest_all_special_26
3.8G    ./DaaLoadTest_daa1

[2020-05-07 14:24] AlenBadel commented on #8652
As an experiment I've added a post-removal verification routine which runs after onClassUnloading. It is to assert if it finds an entry with the same unloaded classloader, which was to be removed during the onClassUnloading routine.
https://github.com/AlenBadel/openj9/commit/2ee9e7aca4aa4bb85501a3f6d59e695a98a118ad

The result was that we've hit the assert. Which means most likely we're experienci

[2020-05-07 14:30] AdamBrousseau commented on #9382
@llxia Do the new parallel builds cleanWs after each test bucket. By the looks of Pete's comment they don't.

[2020-05-07 14:39] pshipton commented on #9382
The results were cleaned when the job ended. I was able to look around before the job finished.

[2020-05-07 14:41] AdamBrousseau commented on #9382
Ah ok my mistake. I thought at first those were all different branches of the parallel builds.

[2020-05-07 15:07] gacholio opened #9484 "Investigate optimizations to vmThreadListMutex"
Catalog uses of vmThreadListMutex with an eye towards allowing multiple readers/single writer.

[2020-05-07 15:08] gacholio commented on #9484
@DanHeidinga @andrewcraik

[2020-05-07 15:10] r30shah commented on #9457
@offerbaruch  I understand your concerns. I am going to open up Pull Request by end of this week, and I am expecting this to get merged in couple of days once the Pull Request is opened. Regarding to Fix available for customer, let me see if I can reply on the PMR you opened. But I am expecting that to be available in next release.
With respect to workaround, it is disabling that codegen optimizat

[2020-05-07 15:48] AlenBadel commented on #8652
Looking at the java core looks like the mutex is unowned.

`2LKREGMON          JIT/GC class unload mutex lock (0x00003FFFB0006108): <unowned>`

[2020-05-07 15:50] keithc-ca commented on #9328
@hangshao0 I cherry-picked the commit at the head of your [JEP371_Test](https://github.com/hangshao0/openj9/tree/JEP371_Test) branch and merged it with #9292 and #9471 and was able to build the openj9-staging branch of jdknext:
[code]
Do you anticipate more work is required, or is it time for you to open a pull request?

[2020-05-07 15:57] hangshao0 commented on #9328
Yes, I am about the open the PR. It seems that your machine finished building faster than mine.

[2020-05-07 16:30] gita-omr commented on #8652
@dmitripivkine @dsouzai @mpirvu could you confirm that the monitor above is the right one (used for class unloading by GC and compilation thread) ? Do you know where compilation threads reserves it?

[2020-05-07 16:35] jdekonin commented on #9474
Change is merged

[2020-05-07 16:35] #9474 closed

[2020-05-07 16:42] jdekonin opened #9486 "Verify/install cmake on OpenJ9 jenkins nodes"
- [x] OSX performed under #7980
- [X] AIX performed under #9474
- [x] Linux x86
- [x] Linux 390
- [x] Linux ppcle
- [x] Windows
- [x] Linux arm

[2020-05-07 16:54] AlenBadel commented on #8652
Precisely looks this is the owner of the Monitor.

[code]

[2020-05-07 17:08] dmitripivkine commented on #8652
Probably. Should be `_javaVM->classUnloadMutex`

[2020-05-07 17:09] dsouzai commented on #8652
https://github.com/eclipse/openj9/blob/2293207e22e09b24f1d385c5bc7f9f5a479211a1/runtime/compiler/control/CompilationThread.cpp#L8904-L8925

It is not unexpected that at a STW phase, the comp thread is not the owner of the classunload mutext. The reason is because of this code:

https://github.com/eclipse/openj9/blob/2293207e22e09b24f1d385c5bc7f9f5a479211a1/runtime/compiler/env/VMJ9.cpp#L318-L351

[2020-05-07 17:11] pshipton commented on #9382
The rebuild ran on aix71-p8-4 and passed. Started another to run on aix71-p8-1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly_daaLoadTest/4

[2020-05-07 17:12] offerbaruch commented on #9457
Thank you everyone for jumping on this.
It is very much appreciated.

[2020-05-07 17:29] DanHeidinga commented on #9457
@offerbaruch @r30shah IBM PMR discussions are better handled in the IBM PMR system and with the Service Engineers working the case.  The OpenJ9 project focuses on the technical issues and project's delivery.  We can't comment on or commit to IBM deliveries in this project

[2020-05-07 18:02] pshipton commented on #9382
The rebuild on aix71-p8-1 isn't yet completed, but it's run a number of the tests that had cores before, but there are no cores in the rebuild.

[2020-05-07 18:07] PushkarBettadpur commented on #9445
Took a stab at this and found it to be fairly reproducible on `ub18-390-2`.

As it turns out, it seems like @pshipton was right and the issue is likely the same as https://github.com/eclipse/openj9/issues/9354. I applied Rahil's fixes and re-ran the test and observed no more failures.

[2020-05-07 18:52] llxia commented on #4545
FYI @OscarQQ

[2020-05-07 18:54] VermaSh commented on #9009
Update:
I was able to successfully replicate failures through a local grinder for `jdk_nio_0`, see list 1. Out of the tests in list 1 only `java/nio/MappedByteBuffer/Truncate.java` failed when ran as a `jdk_custom` target. I haven't had a chance to investigate further into the failures as I have been working on issues relating J9ZERZ10 and converter benchmark.

**List 1:** Test failures when runni

[2020-05-07 19:16] manqingl commented on #9457
@offerbaruch @r30shah For service related issues, please open a new case according to the link below (search for text "Open the Case via email"):

https://w3-connections.ibm.com/wikis/home?lang=en-gb#!/wiki/W7f1f0fb5ec8a_452b_b99e_1b9fa042d769/page/Reporting%20Java%20Issues

[2020-05-07 19:50] jdekonin commented on #9486
cent6-x64-1 -> cent6-x64-7 have cmake v3.11.4 installed from the Adopt playbooks

@dnakamura, am I correct in assuming that cmake only needs to be installed on nodes that perform build/compile?

[2020-05-07 19:58] a7ehuo commented on #9123
Tried the build as below on `04/30` in Grinder, FR: `1/100`.
[code]

[2020-05-07 19:59] a7ehuo commented on #9221
Tried the build as below on `04/30` in Grinder, FR: `1/100`.

18:52:20  JITServer is ready to accept incoming requests
18:52:20  openjdk version "1.8.0_262-internal"
18:52:20  OpenJDK Runtime Environment (build 1.8.0_262-internal-jenkins_2020_04_30_14_10-b00)
18:52:20  Eclipse OpenJ9 VM (build master-ef109f7c2, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20200430_1436 (JIT enabled, AOT enab

[2020-05-07 20:00] a7ehuo commented on #9170
Tried the build as below on `04/30` in Grinder, FR: `21/100`.
[code]

[2020-05-07 20:01] a7ehuo commented on #8789
Tried the build as below on `04/30` in Grinder, `FR: 4/100`.
[code]

[2020-05-07 20:02] a7ehuo commented on #9024
Tried the build as below on `04/30` in Grinder, FR: `1/32`.
[code]

[2020-05-07 20:21] jdekonin commented on #9486
cent7-ppcle-1 -> cent7-ppcle-6 have cmake v3.11.4 installed via Adopt playbooks
rh7-390-1 -> rh7-390-4 have cmake v3.11.4 installed via Adopt playbooks

[2020-05-07 20:43] jdekonin commented on #9486
win2012r2-x86-1 -> win2012r2-x86-6 have cmake v3.6.2 as part of the cgywin environment.  I don't recall adding this so I believe its part of the basic cygwin install that occurs via Adopt playbook for windows.

cent7-aarch64-1 has cmake v3.11.4 installed via modified Adopt playbook.  PR pending.

[2020-05-07 21:06] pshipton commented on #8890
For the record, although they don't contain the fix, the linux builds for the last release are here
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u252-b09_openj9-0.20.0

For a listing of the various builds, which platforms they contain and why, see https://github.com/eclipse/openj9/releases/tag/openj9-0.20.0

[2020-05-08 00:47] pshipton opened #9490 "functional testing broken on AIX"
A known limitation of our AIX machines.
[code]

I believe the answer is to run https://ci.eclipse.org/openj9/view/all/job/test.getDependency/ however it's broken atm due to https://github.com/AdoptOpenJDK/openjdk-tests/pull/1779

[2020-05-08 03:15] #9490 closed

[2020-05-08 12:19] 0xdaryl opened #9491 "Implement dynamicANewArray on AArch64"
This issue tracks the work to implement the work outlined in #6441 on AArch64.

[2020-05-08 12:19] 0xdaryl commented on #9491
@Akira1Saitoh

[2020-05-08 12:20] 0xdaryl opened #9492 "Implement dynamicANewArray on Z"
This issue tracks the work to implement the work outlined in #6441 on Z.

[2020-05-08 12:21] 0xdaryl opened #9493 "Implement dynamicANewArray on Power"
This issue tracks the work to implement the work outlined in #6441 on Power.

[2020-05-08 12:22] 0xdaryl opened #9494 "Implement dynamicANewArray on ARM32"
This issue tracks the work to implement the work outlined in #6441 on ARM32.

[2020-05-08 12:22] smlambert commented on #9043
Re-included tests via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1780

[2020-05-08 12:23] smlambert commented on #9044
Re-included tests via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1780

[2020-05-08 12:23] smlambert commented on #8897
Re-included tests via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1780

[2020-05-08 12:53] JasonFengJ9 opened #9495 "AIX JDK8 : testBCIUsingASM_inject_call_to_timer_method Segmentation error vmState=0x00040000"
Failure link
------------

From an internal build `jvm29.ibuild.445771`:
[code]

Optional info
-------------

It appears a regression between ibuild 445695 and 445771.
Last passing build:
[code]

https://github.com/eclipse/openj9/compare/ef109f7...266e5b6
https://github.com/eclipse/omr/compare/f228516...c4a6b90

cmdLineTester_jvmtitests_hcr_OSRG_nongold
[code]

Last working command:
[code]

Failur

[2020-05-08 13:52] babsingh commented on #7752
**Update:** The fix was merged in Hadoop's trunk repo via https://github.com/apache/hadoop/pull/1951, and the corresponding Hadoop JIRA issue (https://issues.apache.org/jira/browse/HDFS-15270) was resolved. The fix is available in Hadoop version 3.4.0+.

In the JIRA issue, a question for **backporting the fix** was asked ... [Do you have a branch in mind that you want this cherrypicked to?](https:

[2020-05-08 14:20] DanHeidinga commented on #7752
Thanks for all the work on this.  Given the fix has been merged in Hadoop, I'll close this now

[2020-05-08 14:20] #7752 closed

[2020-05-08 15:03] #4197 closed

[2020-05-08 15:12] #8916 closed

[2020-05-08 15:13] gacholio commented on #9484
This is the data I got from Dan:
[code]

The slow acquire is a tiny portion of the overall mutex use.

These are the basic uses of the mutex:

**Walking the thread list (mutex to prevent it from being modified)**

Typically very small hold times.

**Ensuring thread liveness / preventing exclusive**

Extremely uncommon, mostly JVMTI.

**Modifying the thread list**

Again, small hold time, and canno

[2020-05-08 15:16] gacholio commented on #9484
The seemingly large hold time on this monitor is almost certainly the exclusive case.

Given that the rwmutex code also uses a monitor in its implementation, it would not speed up any of the non-exclusive cases (there would be equal contention on the internal monitor).

It's my opinion that this is not worth any further investigation -  the hold time in the JLM data is misleading.

@DanHeidinga @a

[2020-05-08 15:33] andrewcraik commented on #9484
FYI @vijaysun-omr

You could well be right @gacholio however I don't think @liqunl and I understand the situation in this benchmark well enough yet to agree or disagree. We do see this as very hot and we do know that minimizeUserCPU to reduce spinning helped about 7% so there is clearly lock badness. As you say, refactoring to a reader-writer lock may not be the right solution, but I don't feel co

[2020-05-08 15:39] DanHeidinga commented on #9484
@gacholio I also mischaracterized the workload in our earlier discussion - the test isn't a startup scenario but rather an IO-heavy thruput one.

For startup, I'd expect to see thread creation and global gcs potentially completing.  For thruput, that would be less likely.

[2020-05-08 15:41] gacholio commented on #9484
The slow case is only 2% of the total use, so I don't see spinning optimizations having much effect on this monitor.

[2020-05-08 15:42] pshipton commented on #9495
@gacholio is this related to your #9404 change?

[2020-05-08 15:43] gacholio commented on #9484
Spinning opts would also have no effect on hold time (which I assume is how the monitor list was sorted to make this one appear to be important).

[2020-05-08 15:47] andrewcraik commented on #9484
The sort order is the miss % which is the ratio of GETS to MISSes (eg how often we fail to enter and have to block). I think the spinning opts would reduce the amount of time spent in spin2 so we might waste less path length getting in (if I understand this output). As I say I am not certain enough of what the operations are that are causing the lock to be taken to be sure what the right fix is ju

[2020-05-08 15:50] gacholio commented on #9484
The most likely "non-essential" use of the monitor would be the beans - maybe see if those are being used excessively.

[2020-05-08 15:51] andrewcraik commented on #4549
So I wasn't following this, but we need a traceFull,tracePRE log. The most worrying thing here is that the O^O transformations do not mention the bstore and yet the bstore is created to an istore without checking the child constant types. Likely a nasty issue. @cathyzhyi could you take a look - shouldn't be a hard fix once you find the right spot in PRE.

[2020-05-08 15:51] andrewcraik commented on #4549
If 9470 is merged it should be undone once this is fixed.

[2020-05-08 15:51] gacholio commented on #9495
Extremely unlikely - we'd need to have an exception catch class at CP index 0xFFFF or 0xFFFFFFFF.

[2020-05-08 15:52] andrewcraik commented on #9484
@gacholio Which beans and how would I know they were being used excessively? Happy to try and investigate if you can provide some guidance on what/how to take a look.

[2020-05-08 15:53] gacholio commented on #9495
And in fact, that change went in prior to #9404.

[2020-05-08 15:57] gacholio commented on #9495
The change in question only affects a new JIT helper that isn't in use (obviously not the culprit) and the throwing of IllegalMonitorStateException from the JIT, which isn't something that's likely to occur.

[2020-05-08 16:03] gacholio commented on #9484
`ThreadMXBean` is the bean in question.

[2020-05-08 16:11] gacholio commented on #9495
It's failing consistently, and mine is the only interesting-looking change, so I'll have a look.

[2020-05-08 16:12] vijaysun-omr commented on #9484
That is an interesting point @gacholio raises. Maybe we can get an scs (call flow) profile and see if ThreadMXBean apis are being called.

[2020-05-08 16:31] babsingh commented on #9456
The new JCL flag is introduced in https://github.com/eclipse/openj9/pull/9496.

[2020-05-08 16:31] #9456 closed

[2020-05-08 16:33] SMadani opened #9497 "OutOfMemoryError when running JUnit test"
Java -version output
--------------------

Output from `java -version`.
openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-b10)
Eclipse OpenJ9 VM (build openj9-0.15.1, JRE 1.8.0 Windows 10 amd64-64-Bit Compressed References 20190717_421 (JIT enabled, AOT enabled)
OpenJ9   - 0f66c6431
OMR      - ec782f26
JCL      - f147086df1e based on jdk8u222-b10)

Summary of problem
-------

[2020-05-08 16:52] pshipton commented on #9497
The `OutOfMemoryError: native memory exhausted` is most likely related to running out of low memory running the Compressed References VM. The amount of reserved low memory can be adjusted via https://www.eclipse.org/openj9/docs/xmcrs/. The default is 200m, so try `-Xmcrs400m`.
Otherwise, the Large Heap VM doesn't need low memory, although it does consume more object heap since the pointers are not

[2020-05-08 17:43] andrewcraik commented on #9484
No signs of ThreadMXBean or other MBeans/MXBeans being used from an SCS thanks to @liqunl. Going to check the verbose GC log to see about global collects to try and explain the lock usage.

[2020-05-08 17:50] pshipton opened #9499 "ReentrantLock/CancelledLockLoops crash vmState=0x00020011"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_Nightly/50
java/util/concurrent/locks/ReentrantLock/CancelledLockLoops.java
ub16-ppcle-1
[code]

[2020-05-08 17:54] pshipton commented on #9499
5x grinder https://ci.eclipse.org/openj9/job/Grinder/876

[2020-05-08 17:54] dmitripivkine commented on #9499
Duplicate of https://github.com/eclipse/openj9/issues/8652

[2020-05-08 17:55] gacholio commented on #9484
Any JVMTI agents?

[2020-05-08 17:55] #9499 closed

[2020-05-08 18:07] DanHeidinga opened #9500 "Validate this Java 9+ code to get the java.version is correct"
https://github.com/eclipse/openj9/blob/184592249e47b4bee8079914abdda946bbd66b21/jcl/src/java.base/share/classes/java/lang/System.java#L620-L635

Returns a hardcoded "1.9.0" which seems wrong for other releases and as the version shouldn't start with "1."

[2020-05-08 18:16] gacholio commented on #9484
The JIT sampler also walks the thread list - perhaps disable that, though I'm not sure what performance implications that would have overall.

[2020-05-08 18:29] ChengJin01 opened #9501 "[GC/RISC-V] Jenkins agent crashed on stage4/QEMU when running test jobs"
When running a Jenkins agent on a Fedora_stage4/QEMU box to attempt to run a test against the JDK, the Jenkins agent keeps crashing somewhere in GC with the following output:
[code]

FYI:  @DanHeidinga , @sxa , @LinHu2016

[2020-05-08 18:32] #4445 closed

[2020-05-08 18:36] ChengJin01 commented on #9501
@sxa , please also set up a Fedora_rawhide/QEMU box to see whether the jenkins agent still crashed with the build cross-compiled with Fedora_rawhide.

[2020-05-08 18:40] gacholio commented on #9495
On the same machine as the failure, using the ibuild, this issue does not reproduce when I run it on the command line, inside or outside of the test harness.

[2020-05-08 18:42] dmitripivkine commented on #9501
There is virtually impossible to debug GC issues without DDR support. In this case however few can speculate `InaccessibleAddress=4965766965636572` is actually `PC=4965766965636572`. I looked to Snap traces for this failure and I know that crashed thread doing roots scan for Scavenger.
This failure looks like bad dynamic link(?). GC itself does not calculate an address to jump

[2020-05-08 18:42] ChengJin01 commented on #9501
I am able to reproduce the crash remotely on the stage4/QEMU offered by @sxa. What happened is: the jenkins agent already successfully got started with connection to the test job waiting for the test job, in which case the crash occurred soon when the test job was launched remotely.

With the extracted snaptrace, it looks like "GC has completed RememberedSet scan and start root scan, it might be r

[2020-05-08 18:55] gacholio opened #9502 "JCL thread suspend/resume tests are invalid"
These tests use a 500ms sleep assuming that's long enough for a thread to resume execution. This is completely unreliable.

Given the essential impossibility of suspend/resume not working, a better solution would be to simply wait until resumption is detected. The test will hang if we do somehow break these APIs, which is better than failing randomly.

[2020-05-08 19:08] pshipton commented on #9500
It was added in 2016 by @hangshao0 with the following commit message, the purpose appears to be in order to run a legacy benchmark. I expect we can delete the code.
[code]

[2020-05-08 19:09] pshipton commented on #9500
I'll create a PR to remove the obsolete code.

[2020-05-08 19:11] vijaysun-omr commented on #9484
Is this mutex acquired on the code path where a new TLH is acquired ?

[2020-05-08 19:14] pshipton commented on #9500
https://github.com/eclipse/openj9/pull/9503

[2020-05-08 19:49] gacholio commented on #9484
Not that I can see.

[2020-05-08 20:45] gacholio commented on #9502
This was observed in a PR test.

[2020-05-08 21:45] gacholio commented on #9495
I did a build with #9404 reverted, and the issue still occurs.

[2020-05-08 21:52] gacholio commented on #9495
Given this has only been seen on P, the next best candidate would be:

https://github.com/eclipse/omr/commit/1c373ad24078b246811323a4b972d0c656cf7d70

[2020-05-08 23:01] gacholio commented on #9495
Reverting https://github.com/eclipse/omr/pull/5150 also doesn't fix it.

[2020-05-09 00:15] pshipton opened #9506 "mac_xl testOSMXBeanRemote IllegalArgumentException"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_xl_Personal/1
testOSMXBeanRemote_0
testOSMXBeanRemote_1
osx1014-x86-1
[code]

[2020-05-09 00:53] cathyzhyi commented on #4549
@dmitry-ten could you get a log with tracePRE and tracefull?

[2020-05-09 00:57] SMadani commented on #9497
Thanks for the quick response!
Yep, I tried with `-Xms8g -Xmx16g -Xmcrs500m` and it worked perfectly, ran very fast and without using much memory.
I'm no expert, but why isn't it possible to dynamically adjust whatever Xmcrs is at runtime? 200 MB when Xmx is a relatively large number seems quite small, what's the harm in increasing this? If it can't be increased at runtime (to some % of Xmx), then

[2020-05-09 02:01] pshipton commented on #9497
Xmcrs is adjusted at runtime as necessary, however unlike other platforms, Windows seems to use up the available low memory leaving none available, which is why it needs to be reserved in advance.

[2020-05-09 02:04] pshipton commented on #9497
Needing more Xmcrs doesn't really correspond to the size of Xmx. However doing it anyway might help, but we haven't seen enough people have problems to make it a priority.
@dmitripivkine fyi

I don't need the shared files.

[2020-05-09 03:41] pshipton commented on #9495
Did a build with all the OpenJ9 changes backed out, didn't fix it.
Trying now with all the OMR changes backed out as well.

[2020-05-09 04:23] gacholio commented on #9495
I didn't run the grinders correctly - I strongly suspect it's the P ifdef change.

[2020-05-09 06:53] pshipton commented on #9495
Even with OMR changes backed out, the test still fails.
I'll try the original good build to ensure it still passes.
The other thing that changed is TKG https://github.com/AdoptOpenJDK/TKG/compare/858af7b2...5467859

[2020-05-09 07:23] pshipton commented on #9495
The good JVM 445695 fails now, but it's running the test with the new TKG.

[2020-05-09 13:57] 0xdaryl opened #9508 "Fix spelling of recognizedMethod variable"
https://github.com/eclipse/openj9/blob/9376a10801fb8c5073df42757466727c94763bc8/runtime/compiler/optimizer/StringBuilderTransformer.cpp#L341

Should be `recognizedMethod`.  Fix throughout its live range.

[2020-05-09 16:07] pshipton opened #9509 "win2012r2-x86-5 offline"
@jdekonin @AdamBrousseau

https://ci.eclipse.org/openj9/computer/win2012r2-x86-5/

[2020-05-09 17:07] AdamBrousseau commented on #9509
Can ping, cannot ssh. Might need a reboot from the admin console (Softlayer). I think Joe has access, if not Tim.

[2020-05-09 18:28] gacholio commented on #9495
If TKG is causing the VM to crash, we must have a real issue here.

[2020-05-10 08:44] offerbaruch commented on #9457
Not sure what you mean @manqingl . what do I need to open exactly?
anyway, w3 is the IBM internal portal. I don't have access to it.

[2020-05-10 15:57] #9508 closed

[2020-05-10 23:58] JasonFengJ9 opened #9514 "JDK8 zLInux Illegal instruction vmState=0x00000000 in jitFillOSRBuffer ()"
Failure link
------------

From an internal build `OpenJ9 acceptance build 446441 - job 642439837`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

There is another similar failure at `job 642440153`:
[code]

These two failures are intermittent, first one wasn't reproduced in a 10x grinder, the second one fail

[2020-05-11 06:52] AlenBadel commented on #8652
Sounds like we wanted this problem to be bigger than it actually was.
Submitted a PR that resolves this. See: https://github.com/eclipse/openj9/pull/9515

[2020-05-11 09:37] quijote opened #9516 "Calling JVMTI function GetAllStackTraces crashes JVM during shutdown"
We observed crashes of IBM JVM 8 and multiple versions of AdoptOpenJDK J9 during shutdown of Jetty 9.

To reproduce the problem I built a simple JVMTI agent that calls GetAllStackTraces 10000 times in VMDeath event:

[GetAllStackTracesCrashReproducer.zip](https://github.com/eclipse/openj9/files/4608715/GetAllStackTracesCrashReproducer.zip)

After starting Jetty like this

    java -agentpath:GetAl

[2020-05-11 10:04] manqingl commented on #9457
OK.  @klangman Could you please help address the issue from JIT service perspective?  Please consult with @r30shah for details of the APAR/fix.

[2020-05-11 13:13] jdekonin commented on #9509
I rebooted it, system is back online in jenkins.

Tim only added Stewart and myself to his account afaik.

[2020-05-11 13:24] #9509 closed

[2020-05-11 14:10] a7ehuo commented on #9285
Tried to run`cmdLineTester_jvmtitests_8`  `30` times in [Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7812/) all passed.

[code]

[2020-05-11 14:12] a7ehuo commented on #9269
Tried to run `jdk_math_j9_0` `30` times in [Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7828/), all passed.

[code]

[2020-05-11 14:13] a7ehuo commented on #9190
Tried to run `MauveMultiThreadLoadTest_special_19` `30` times in [Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7814/), all passed.

[code]

[2020-05-11 15:13] babsingh commented on #8735
There is an existing option: [ -XX:[+|-]HandleSIGXFSZ](https://www.eclipse.org/openj9/docs/xxhandlesigxfsz/). It is similar to the proposed new option, `-XX:[+|-]AbortHandler`. The existing option handles `SIGXFSZ` whereas the new option will handle `SIGABRT`.

### Consistency
1. To be consistent with the existing option's naming, shall we change the new option's name from `-XX:[+|-]AbortHandler`

[2020-05-11 15:19] pshipton commented on #9495
The difference is the test used to be run with `-Xnocompressedrefs`, and started failing when this was removed. The modes _0 and _1 both have this option removed, and both fail. This may have been done in preparation for https://github.com/eclipse/openj9/issues/8847, but seems incorrect to me. Modes 1xx should still use `-Xnocompressedrefs`, only NoOptions should have it removed.
@llxia

The tests

[2020-05-11 15:23] sharon-wang commented on #9323
I'm doing some JVM spec reading to confirm the appropriate timing of these errors.

[2020-05-11 15:24] pshipton commented on #9495
I'm setting this as a blocker. If all the 1xx modes lost the `-Xnocompressedrefs` option, the test story is broken and we aren't testing the right things.

[2020-05-11 15:32] keithc-ca commented on #7833
OpenJ9 still compiles with gcc 9.3. I think this is safe to close.

[2020-05-11 15:32] #7833 closed

[2020-05-11 15:33] cznewbold commented on #8890
we ran a test against the nightly builds, and it resolves the problem we were having. we did not have to specify any extra jvm options

[2020-05-11 15:36] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/33
[code]

[2020-05-11 15:39] pshipton commented on #9382
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly_daaLoadTest/8
aix71-p8-9

[2020-05-11 15:44] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_linux_Nightly/85
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-05-11 15:45] DanHeidinga commented on #8735
+1 to having consistent naming for the options.

I would prefer that we error in the case that both options are specified.  This is the safest default given the expectation of limited use of this new option and minimizes the complexity in the code to manage interactions.

We can always revisit this in the future if there is demand from users.

[2020-05-11 15:51] gacholio commented on #9516
Does not reproduce on Linux.

[2020-05-11 16:39] mpirvu commented on #9285
It may be that this issue is very intermittent.
Let's do another batch of 30 and if that passes too, we'll close the issue.

[2020-05-11 16:39] mpirvu commented on #9269
It may be that this issue is very intermittent.
Let's do another batch of 30 and if that passes too, we'll close the issue.

[2020-05-11 16:39] mpirvu commented on #9190
It may be that this issue is very intermittent.
Let's do another batch of 30 and if that passes too, we'll close the issue.

[2020-05-11 17:04] JasonFengJ9 opened #9518 "Native library suffix impact on the library loading in AIX"
### Intro ###
Recent JDK15 bringup (https://github.com/eclipse/openj9/pull/8855 & https://github.com/eclipse/openj9/pull/8941) exposed an issue with native library suffixes (`.so` vs `.a`) in `AIX` platform. Before jumping into the actual problem, I would like describe existing behaviours `OpenJ9` vs `OpenJDK hotspot`.

Java has public APIs to load libraries independent from platforms, namely, `ja

[2020-05-11 18:26] liqunl commented on #9484
Thanks for suggestion. The slow gets on VM Thread list is caused by JIT sampler.

[2020-05-11 19:08] AlenBadel opened #9519 "Reduce GC Unloading Times During Heavily DLT Optimized workloads"
### Background
**J9Method_HT**
This is a part of the DLT Optimization. The Dynamic Loop Transformation attempts to identify a selection of candidate methods to be optimized.
Keeping in mind the structure of DLTTracking[1]

**DLTRecord**
Similarly, to the J9Method_HT this table holds entries with references to J9Methods that have been DLT Compiled.

### Class Unloading

Currently during class unloa

[2020-05-11 19:13] llxia commented on #9495
110-OSRG is set to `-Xjit:enableOSR,enableOSROnGuardFailure,count=1,disableAsyncCompilation -Xgcpolicy:gencon `. It does not contain `-Xnocompressedrefs `.

https://github.com/AdoptOpenJDK/TKG/blob/3205e0d0c8631ba96d1cafa360e703ed23e972c0/resources/modes.xml#L4522-L4534

We need to update OSRG opts in modes.xml

[2020-05-11 20:08] fjeremic opened #9522 "Avoid compilation interruptions when generating jitdump"
The following command will force a crash to happen during compilation which will produce a jitdump:

[code]

You may have to run the command a few times to see the crash because we are not guaranteed to trigger a compilation, but we almost always do. The unfortunate thing that happens in the above scenario is that this method compilation gets triggered so late into the JVM lifespan that the JVM wi

[2020-05-11 20:10] fjeremic commented on #9120
Adding new issue (#9522) to avoid compilation interruptions, such as the JVM wanting to shut down, when generating jitdumps. This is often seen in JUnit type tests where for example a crash in the JIT will happen, or an exception is thrown in a test which reaches `main`. In such scenarios JUnit will report this error and it may terminate the rest of the tests at that point. The JVM will then want

[2020-05-11 20:42] fjeremic opened #9524 "Block has frequency more than 10000 following GLU"
While investigating a miscellaneous issue with @VermaSh we stumbled upon a block which has frequency 19994. According to the optimizer experts the frequency should not exceed 10000 which implies there is a bug in the GLU optimization following which this block first appears.

I'm attaching the trace log here for investigation. @VermaSh can easily reproduce the trace with additional options if need

[2020-05-11 20:59] a7ehuo commented on #9285
Ran `cmdLineTester_jvmtitests_8` `50` times in [Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7836/tapResults/) all passed.

[code]

[2020-05-11 21:00] a7ehuo commented on #9269
Ran `jdk_math_j9_0` `50` times in [Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7837/tapResults/) all passed.

[code]

[2020-05-11 21:01] a7ehuo commented on #9190
Ran `MauveMultiThreadLoadTest_special_19` `50` times in [Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7838/tapResults/) all passed.

[code]

[2020-05-11 21:51] samasri commented on #9429
This issue is happening because [the ChaCha20 update function](https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/2d171f8/closed/src/java.base/share/classes/com/sun/crypto/provider/NativeChaCha20Cipher.java#L636-L644) returns an output byte array the same size as the input, even if it did not encrypt the data yet.

For example, if a client tries to encrypt 1KB of data with update, the update

[2020-05-11 21:53] ChengJin01 commented on #9501
@LinHu2016  & @dmitripivkine, the generated dump (with DDR) were placed in internal team folder at `cjin/jobs_2020/riscv_dumps`

I already verified the DDR in the dumps which seems fine as follows:
e.g.
[code]
against the genereated source code at` ./support/gensrc/java.base/java/nio/HeapByteBuffer.java`
[code]
So, it looks like the crash was related to inlineAllocateIndexableObject or J9AllocateI

[2020-05-11 23:09] mpirvu commented on #9285
Based on the results above I think we can close this one and re-open if needed.

[2020-05-11 23:09] #9285 closed

[2020-05-11 23:09] mpirvu commented on #9269
Based on the results above I think we can close this one and re-open if needed.

[2020-05-11 23:09] #9269 closed

[2020-05-11 23:10] mpirvu commented on #9190
Based on the results above I think we can close this one and re-open if needed.

[2020-05-11 23:10] #9190 closed

[2020-05-12 02:02] dmitry-ten commented on #4549
lengthInternal.log.33615.48656.20200511.215736.33615

[2020-05-12 02:03] dmitry-ten commented on #4549
[lengthInternal.log.33615.48656.20200511.215736.33615.txt](https://github.com/eclipse/openj9/files/4612970/lengthInternal.log.33615.48656.20200511.215736.33615.txt)

[2020-05-12 02:04] dmitry-ten commented on #4549
I see that the problem appears after PRE node numbering.

[2020-05-12 05:52] knn-k commented on #9043
This test is no longer failing in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/140/ .

[2020-05-12 05:52] knn-k commented on #9044
This test is no longer failing in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/140/ .

[2020-05-12 05:52] knn-k commented on #8897
This test is no longer failing in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/140/ .

[2020-05-12 05:54] knn-k commented on #9260
This test is enabled for AArch64 again, and is no longer failing in https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/140/ .

[2020-05-12 07:09] #8897 closed

[2020-05-12 07:13] knn-k commented on #8897
https://github.com/eclipse/omr/pull/5159 enabled use of optlevel=warm or higher with AArch64 JIT.

[2020-05-12 08:51] M-Davies commented on #9043
Running https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3016/ to confirm

[2020-05-12 08:54] M-Davies commented on #9044
Running https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3017/ to confirm

[2020-05-12 09:23] M-Davies commented on #8987
Seen some recurrences of this on https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/140/consoleFull (`test-aws-rhel76-armv8-1`)
[code]
Dumps at: https://ibm.box.com/shared/static/o1o2k3hybtncfi9ld7kr7e6t9h1j37kz.gz

I kicked off some grinders for each of the tests that threw the error on the same machine, see if I can't continually reproduce it
- https

[2020-05-12 09:24] M-Davies commented on #9043
Grinder passed. Thanks for the heads up @knn-k

[2020-05-12 09:24] #9043 closed

[2020-05-12 09:31] M-Davies commented on #9044
Grinder passed. Thanks @knn-k

[2020-05-12 09:31] #9044 closed

[2020-05-12 09:57] M-Davies commented on #8987
https://ci.adoptopenjdk.net/job/Grinder/3021/ saw some failures similar to the ones above.

Running a Grinder with a single iteration of `tools/pack200/Pack200Test.java` throws the failure seen https://ci.adoptopenjdk.net/job/Grinder/3026/.

Seems to occur across aarch machines https://ci.adoptopenjdk.net/job/Grinder/3027/. Will reopen a new issue for `tools/pack200/Pack200Test.java`

[2020-05-12 12:39] sxa commented on #8508
@zi-wang In my view the purpose shouldn't be to set unlimited for everything "just to make the tests pass"  as it can mask leaks and makes it harder to provide adequate suggestions for end-users as to when they might need to increase them.

[2020-05-12 12:40] sxa commented on #9369
I still haven't been able to resolve the issue with the bash going pop with the `cannot make pipe` error, so for now I've left it running the earlier version that I've copied across. Need to understand why this isn't seen on the OpenJ9 systems which appear to be running the same version of bash (although potentially not of other libraries). The pipe ulimit of 64 seems the same on both systems

[2020-05-12 13:28] dmitripivkine commented on #9501
If crash still occur in GC this no surprise on top level it can be traced to object allocation. The failure an attempt to allocate is a trigger to GC.

[2020-05-12 13:38] zl-wang commented on #8508
@sxa  that is true in theory.  of course, setting it to unlimited is not for the purpose of "passing DDR tests".  depending on limits to catch possible leaks is not a good strategy, or might not be as useful as you think.  in reality, every environment (AIX/Linux/iOS) i have seen by default set -m to unlimited already, while some other limits (in particular -c/-n/-p/-s) are with specific numbers.

[2020-05-12 13:46] keithc-ca commented on #9429
`NativeChaCha20Cipher.EngineAEADDec` appears to capture the entire input in a `ByteArrayOutputStream`: if the input is large (think gigabytes) this is not reasonable.

[2020-05-12 14:02] dmitripivkine commented on #9501
Do we have any native debugger for RISC-V? Would be nice to have c-stack and registers for 2-3 frames before crash (for both cores)

[2020-05-12 15:17] pshipton opened #9529 "JEP 384 Records (second preview)"
https://openjdk.java.net/jeps/384

[2020-05-12 15:17] pshipton commented on #9529
@DanHeidinga @theresa-m fyi

[2020-05-12 15:18] ChengJin01 commented on #9501
@dmitripivkine , the current environment is set up on `Fedora_stage4`, which has no gdb (no package offered for this version / I used to compile a gdb debugger from the FSF source but it doesn't work well to show the native stacktraces).  The gdb on `Fedora_rawhide` works/should be sufficient to show the native stacktraces (but can't be debugged with single step for some reason).

I already reques

[2020-05-12 15:34] andrewcraik commented on #9524
block_612 is a clone of block_365 which has freq 10000 until block ordering gets hold of it and it goes up to 199995. So this seems to be related to block ordering... Updating title of issue

[2020-05-12 15:41] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_cm_Nightly/2
[code]

[2020-05-12 15:45] pshipton commented on #9499
@dmitripivkine there is another crash vmState=0x00020011. Is it another dup?
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_OpenJDK8/3
java/util/Iterator/IteratorDefaults.java
[code]

[2020-05-12 15:52] tajila opened #9532 "ValueType: Add resulotion check to resolveClassRef for qtypes"
When a qtype classref is resolved it must be a VT. When a Ltype classref or non-signature classref is resolved it must not be a VT. An error must be thrown in this case. At time of writing this issue it is currently unknown what kind of error will be thrown.

[2020-05-12 15:52] tajila commented on #9532
related to https://github.com/eclipse/openj9/pull/9528#issuecomment-627412257

[2020-05-12 15:53] pshipton commented on #8767
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_Nightly/367
testDDRExt_SharedClasses_openj9_0
`JITPROFILE data length 0 metadata 0`
[code]

[2020-05-12 15:53] cathyzhyi commented on #4549
I think the problem is here:
https://github.com/eclipse/omr/blob/b8634d51d53c1018a8abe934a50fd35fa7df514f/compiler/optimizer/LocalAnalysis.cpp#L541-L545
The API `opCodeForDirectLoad` is meant for field shadow only. We should be calling the version in the OMR layer.

[2020-05-12 15:57] tajila opened #9533 "ValueType: Add cmdline option to toggle IndentityType signatures"
Currently, all types use names in classrefs (exception arrays) and signatures in field and method refs. With the introduction of valueTypes, all VTs will use Q signatures in classrefs, however identitytypes will continue to use names. It has been proposed that there might be need for identitytypes to use L signatures in classrefs as well, but this should be enable with an option.

[2020-05-12 15:57] tajila commented on #9533
related https://github.com/eclipse/openj9/pull/9528

[2020-05-12 16:00] sxa commented on #8508
If it's a default, that's completely ok. But if it's not then we should not be automatically overriding it.

[2020-05-12 16:02] pshipton opened #9534 "No item named Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_OpenJDK8"
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_x86-64_linux_cm/1094
[code]

[2020-05-12 16:03] pshipton commented on #9534
@AdamBrousseau We need to create some new jobs for OpenJDK8+ now that cmake sanity.functional and openjdk are enabled?

[2020-05-12 16:03] #9267 closed

[2020-05-12 16:07] fjeremic commented on #4549
It is using the version in the OMR layer. That code is in OMR. The fact that OpenJ9 overrides that API and returns something different is another story.

[2020-05-12 16:14] AdamBrousseau commented on #9534
Try again now. There was a change to the test script that required admin approval. It should work now.
https://ci.eclipse.org/openj9/view/Test/job/Test_Job_Auto_Gen/

[2020-05-12 16:16] dmitripivkine commented on #9499
yes, this crash looks like a duplicate of https://github.com/eclipse/openj9/issues/8652

[2020-05-12 16:19] pshipton commented on #9534
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK8-Acceptance/47/

[2020-05-12 16:29] pshipton commented on #9260
I assume this can be close then.

[2020-05-12 16:29] #9260 closed

[2020-05-12 16:54] mpirvu commented on #8064
This issue is now circumvented by the workaround in #9470, hence closing.

[2020-05-12 16:55] #8064 closed

[2020-05-12 17:18] dmitripivkine commented on #9501
Ok, thank you. In one of cores I can guess (more or less) where it crashed but have no idea why. It is very different than usual crashes in GC. Another unusual thing is that according trace points crashed thread continues operations for a while. Crashed early in Scavenger thread was available (at least on sync points) and GC cycle / Exclusive has been completed successfully

[2020-05-12 17:30] dnakamura commented on #7933
Issue has been resolved by having the openjdk  build scripts pass in the path to nasm

[2020-05-12 17:30] #7933 closed

[2020-05-12 17:36] ChengJin01 commented on #9501
@dmitripivkine , yes this is how the test works:
1) at first, the jenkins agent is launched on `Fedora_stage4 ` to connect with the remote website and is waiting out there for further operations from the website after successful connection.
2) then we press the "Build Now" button on the website for the test job, in which case the VM crashes in GC during the connection.

So the problem happens when

[2020-05-12 17:39] fjeremic commented on #9113
Referencing a review comment [1] here to mention that the Power code has been slightly refactored since the original post was made.

[1] https://github.com/eclipse/omr/pull/5039#discussion_r423908031

[2020-05-12 17:41] keithc-ca commented on #7933
e.g. https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/190 and friends

[2020-05-12 18:18] samasri commented on #9429
Good point @keithc-ca
Would you want us to work on this within this PR/issue or should we make a new issue for it? We would prefer to do it in a different issue because a different person will be working on that (so it's easier to separate PRs).

[2020-05-12 18:19] keithc-ca commented on #9429
Yes, I think it makes sense to work on that in a separate issue.

[2020-05-12 18:50] samasri opened #9535 "NativeChaCha20 decrypt crashes with large data inputs"
Originally described by @keithc-ca  in [#9429 comment](https://github.com/eclipse/openj9/issues/9429#issuecomment-627356330).

To elaborate:
* When a client calls `cipher.engineUpdate` or `cipher.engineFinal` with a `ByteBuffer` as input, [`bufferCrypt`](https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/d6ccd89fcb7d919ffa2949b82ff0dec305f6f1a8/src/java.base/share/classes/javax/crypto/Cipher

[2020-05-12 19:14] dnakamura opened #9536 "Possible issue with CMake build perf"
Comparing UMA and CMake builds show that the cmake build takes longer to compile (approx 3-4 min). Although given the fact our openjdk makefiles dont play nice with the make jobserver, its hard to say for sure if the issue is truely a result of cmake, or an artifact due to the particulars of how the generated makefiles interact with the job server.

[2020-05-12 19:20] dnakamura commented on #9475
Upon further digging, this appears to just be the test running very slowly rather than an actual hang. However when I was testing I got the same results testing against an clean build from adopt. Looking back in the testing history I have noticed the same problem in the UMA builds. Needs a bit more investigation, but it is looking to not be an issue specific to the cmake builds (although possibly

[2020-05-12 19:24] dmitripivkine commented on #9501
I have very strong suspicion that crash in Scavenger occur an attempt to copy object very first time. And most likely it is the same for very first crash in this item. I don't see actual reason at the moment - related GC structures looks correct.

[2020-05-12 19:47] dmitripivkine commented on #9501
@ChengJin01 The is bizarre thing, but I start look to content of registers at the moment of crash and I see familiar references to `LargeObjectAllocateStats.cpp`. This immediately associates with logarithm calculation function. And as you remember we use to have problem with this using simulator. Would you please dig in this direction? Is an alternative on RISC-V to calculate it (for example comma

[2020-05-12 19:51] cathyzhyi commented on #4549
Actually, because the `IL` is extensible class so we are calling the OpenJ9 implementation here.

[2020-05-12 19:55] sharon-wang commented on #9323
From the [Creation and Loading](https://docs.oracle.com/javase/specs/jvms/se14/html/jvms-5.html#jvms-5.3) section of the JVM spec, it states:

Both [VerifyError](http://cr.openjdk.java.net/~iris/se/14/build/latest/api/java.base/java/lang/VerifyError.html) and [NoClassDefFoundError](http://cr.openjdk.java.net/~iris/se/14/build/latest/api/java.base/java/lang/NoClassDefFoundError.html) subclass [Link

[2020-05-12 20:02] fjeremic commented on #4549
Right I understand that is what is happening in OpenJ9, however looking at it from OMR perspective (which is where the code lives) the code is correct. It asks the IL class "given this data type, what is the opcode to do a direct load". OpenJ9 overloads this API, so when the same code is executed within a Java method compilation it will return something different.

How do you propose the OMR code

[2020-05-12 21:03] pshipton opened #9537 "PR build with depends doesn't show the correct sha"
@AdamBrousseau PR testing with the `depends eclipse/omr#master` show incorrect shas. Looking at the top level build https://ci.eclipse.org/openj9/job/PullRequest-OpenJ9/3544/ it shows `OMR: cd259de`, which was the openj9 branch head, and not what was actually tested. If you dig into one of the builds https://ci.eclipse.org/openj9/job/Build_JDK8_s390x_linux_Personal/626, you can see it actually bui

[2020-05-12 21:05] pshipton commented on #9537
I'm also wondering if all the builds are guaranteed to use the same OMR sha in this case, or would they get master at the time each build ran.

[2020-05-12 21:15] AdamBrousseau commented on #9537
Yes this has always been a caveat of the PR depends. And yes, if you're kicking several builds and they end up staggering you could end up testing a different Sha in each. This is because the depends logic is down in the compile job instead of at the top level. It could be refactored but I'm not sure how much with that would be. I'd have to take a look.

[2020-05-12 21:18] sharon-wang opened #9538 "OpenJ9 and Hotspot report NoClassDefFoundError class names in opposite order"
When a `java.lang.NoClassDefFoundError` occurs due to a class name mismatch, OpenJ9 and Hotspot report the class names in the opposite order.

See [example.zip](https://github.com/eclipse/openj9/files/4618497/example.zip) for sample code to reproduce. Run with `java -cp .:asm-all-5.2.jar Main`.

OpenJ9

[code]

Hotspot

[code]

Proposing that OpenJ9 matches the Hotspot ordering, to remove possible

[2020-05-12 21:37] ChengJin01 commented on #9501
Talked to @dmitripivkine offline. We might as well to try to comment out the invocation of `log` (system call) for Large Objects Stats Allocation (needs @LinHu2016 help with this) to see how it goes with the hack.

[2020-05-12 22:20] JasonFengJ9 opened #9539 "JDK14 cmake : tck_ddrext.xml does not exist"
Failure link
------------

From an internal build `Test_openjdk14_j9_extended.functional_x86-64_linux_cm_Nightly/3`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
https:

[2020-05-12 22:30] pshipton commented on #9539
Is this always failing? It's a bit weird as the file is in the openj9 repo in `test/functional/DDR_Test/tck_ddrext.xml`
Looking at another build https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_linux_Nightly/87/, it's finding it in the same place
`TKG/../../jvmtest/functional/DDR_Test/tck_ddrext.xml`

[2020-05-12 22:30] JasonFengJ9 opened #9540 "JDK8 JITServer : ClassCastException: [I incompatible with java.lang.reflect.Method"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_x86-64_linux_jit_Nightly_mathLoadTest/10`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following link

[2020-05-12 22:36] JasonFengJ9 commented on #9539
Past 3 runs all failed in same way `tck_ddrext.xml does not exist!`.
Not seen in other non-cmake builds though.

[2020-05-12 22:43] pshipton commented on #9429
Opened https://github.com/AdoptOpenJDK/openjdk-tests/pull/1784 to re-include the test.

[2020-05-12 22:44] pshipton commented on #9540
@mpirvu

[2020-05-12 22:45] pshipton commented on #9539
@llxia any ideas?

[2020-05-13 01:59] #9427 closed

[2020-05-13 09:08] andrew-m-leonard opened #9543 "Test_openjdk11_j9_sanity.system_x86-64_linux_xl : MauveSingleThreadLoadTest_OpenJ9_0 failure"
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_x86-64_linux_xl/223/tapResults/

Optional info
-------------

- intermittent failure (yes|no): yes
- regression or new test:  regression
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) :

Failure output (captured from console output)
----------------------------------

[2020-05-13 09:19] M-Davies commented on #8987
Looks like it's just `Pack200Test.java`. The other failing tests in https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/107/consoleFull don't show the error anymore:
[code]

[2020-05-13 09:32] M-Davies commented on #8987
Also seen for tests
[code]
on machine `test-packet-armv8-ubuntu-16-04`
Ref https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/141

[2020-05-13 13:23] #9319 closed

[2020-05-13 14:09] llxia commented on #9539
Cannot find `j9ddr.jar`,  `DDR_Test` did not get compiled.

- In console output:
`23:12:14  build:
23:12:14       [echo] os.name: Linux
23:12:14       [echo] File '/home/jenkins/workspace/Test_openjdk14_j9_extended.functional_x86-64_linux_cm_Nightly/openjdkbinary/j2sdk-image/lib/ddr/j9ddr.jar' not found; assuming JDK '/home/jenkins/workspace/Test_openjdk14_j9_extended.functional_x86-64_linux_cm_Ni

[2020-05-13 14:41] smlambert commented on #9539
I suppose if that ant target in build.xml fails, we should fail and not continue with trying to run tests.

[2020-05-13 14:43] liqunl commented on #9453
@MNeuling Could you upload the core file?

[2020-05-13 14:49] DanHeidinga commented on #9316
I think we have support to move forward with this proposal and start the discussion with the Adopt community.  @mstoodle have you started that discussion?

Discussion on the mechanics of how the workflow of this will work can be continued in sub-issues:
* Create label based workflow for interim releases https://github.com/eclipse/openj9/issues/9370
* Enable Pull Request testing capability (`jenkin

[2020-05-13 15:01] fjeremic commented on #9453
Crash in inliner. @liqunl let me know if the jitdump ends up being useful or not.

[code]

[2020-05-13 15:12] mstoodle commented on #9316
The topic was raised at one of the AdoptOpenJDK TSC discussions (even before we had settled it here, actually), and I understand the general feeling was that they were open to the notion (@smlambert @sxa let me know if I'm mis-characterizing the conclusion of the discussion). We may need to do some work on our side to help smooth out our impact to the release process at AdoptOpenJDK before they wo

[2020-05-13 15:23] sxa commented on #9316
I'm personally in favour of it from an openj9 perspective. Your summary of the TSC discussion is accurate, although the main discussion was triggered by another potential requirement for interim releases, rather than this requiremnet, and I mentioned that this was being considered for OpenJ9 more widely as well ...

[2020-05-13 15:44] mstoodle commented on #9443
@raguk thanks for opening this issue.

Are there other examples of open source projects that provide their own helm charts & operators to facilitate k8s deployment? I wonder if there are some best practices we could learn from others on where to keep them, how to manage (test) them, etc. Is this something that primarily OpenJ9 should do, something primarily AdoptOpenJDK should do, or something we

[2020-05-13 15:48] pshipton commented on #9539
@dnakamura, missing j9ddr.jar in the xlinux cmake jdk14 build.

[2020-05-13 15:52] pshipton commented on #9543
I'm guessing this is some kind of machine configuration problem.

[2020-05-13 16:19] haacanada commented on #9443
@mark I think you beat me to it - I was preparing this note!
There are two approaches,
1) charts are put in a common public chart repos from where developers draw apps For example, bitnami helm/charts ibm/charts eclipse has one. wildfly for example is in bitnami and does not host on its own repo. open-liberty is on ibm/charts. A lot of apps seem to do that (including prometheus).

2) Some host cha

[2020-05-13 16:21] raguks commented on #9443
@mark I think you beat me to it - I was preparing this note!
There are two approaches,
1) charts are put in a common public chart repos from where developers draw apps For example, bitnami helm/charts ibm/charts eclipse has one. wildfly for example is in bitnami and does not host on its own repo. open-liberty is on ibm/charts. A lot of apps seem to do that (including prometheus).

2) Some host cha

[2020-05-13 17:39] smlambert opened #9547 "Leverage Github workflows for some OpenJ9 activities"
This is a discussion issue to identify a set of common OpenJ9 activities that we may include in various workflows at the Eclipse OpenJ9 project.  In a recent community call, @sophia-guo demonstrated the [AdoptOpenJDK/run-aqa](https://github.com/AdoptOpenJDK/run-aqa) action along with a WIP action in her personal repo, [sophia-guo/build-jdk-openj9](https://github.com/sophia-guo/build-jdk-openj9).

[2020-05-13 17:47] AlenBadel commented on #8652
I've confirmed internally that commit resolves the issue by running the jdk_nio test suite about 60 times on ppc64le (JDK8). (Prior failure rate was 1/20).

I don't think the merged commit has made it's way to an adoptopenjdk nightly.
@M-Davies feel free to run jdk_nio when there's an available build to confirm.

[2020-05-13 17:50] pshipton opened #9549 "jdmpview info mod shows <no section information> for Java modules"
Running the jdmpview `info mod` command on [jdk8u252 for plinux](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u252-b09_openj9-0.20.0/OpenJDK8U-jdk_ppc64le_linux_openj9_8u252b09_openj9-0.20.0.tar.gz) results in `<no section information>` output for Java modules, as shown below (not a full list). This affects using DTJF to read symbols from these modules.

jdk11 has the sa

[2020-05-13 17:55] fjeremic commented on #9547
First off, kudos to @sophia-guo, @smlambert, and team for pursuing this. We should definitely be taking advantage of all free resources provided to us as an open sourced project. The free runners provided by GitHub also include Windows [1], so we can get full x86 PR coverage of build + test for free in an automated way using GitHub Actions. I'm all for this idea and fully support using @sophia-guo

[2020-05-13 18:10] llxia commented on #9539
I think this was initially added to skip in build.xml because DDR was not supported on all the platforms. Now DDR is supported on all platforms, we can update the code to fail the DDR_Test compilation if j9ddr.jar is missing. This will make the failure more clear.

[2020-05-13 18:38] llxia commented on #9539
Based on the discussion in this PR https://github.com/eclipse/openj9/pull/6994, `aarch64 ` does not support DDR. Is it still the case?

[2020-05-13 18:39] gacholio commented on #9484
As we've accounted for the slow gets and determined that changing the mutex type would not be valuable, I'm going to close this.

[2020-05-13 18:39] #9484 closed

[2020-05-13 18:39] liqunl commented on #9453
@fjeremic I checked jit dumps from three crashes, their vmstates shows crash in three different places: inliner, instruction selection and loop versioner. The jit dumps are for completed replay compilations, so they're not very helpful.

[2020-05-13 18:53] fjeremic commented on #9453
Thanks. Once we have the core file I can take a look. Even better if we could get steps to reproduce. Usually the cause of jitdumps succeeding and not reproducing the failure is due to #9137.

[2020-05-13 19:22] pshipton commented on #9539
@llxia aarch64 has DDR support.

[2020-05-13 19:46] pshipton commented on #9429
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/305
https://github.com/ibmruntimes/openj9-openjdk-jdk14/pull/54
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/205

[2020-05-13 19:46] #9429 closed

[2020-05-13 20:26] #9486 closed

[2020-05-13 21:34] a7ehuo commented on #9170
With `DaaLoadTest_daa1_special_14`, I was able to reproduce a crash [1] in `markClassesInInlineRanges()` after limiting the compilation to one method as below:
[code]

Looks like the inlinedMethod inside the metaData is corrupted. @mpirvu found that the `createClassUnloadPicSite` is skipped at the server [2]. Working on a fix next.

[1]
[code]

[code]

[2]
https://github.com/eclipse/openj9/blob/f3

[2020-05-14 05:39] 1a2s3d4f1 commented on #8353
It is a performance problem of modded minecraft? (already add disableGuardedStaticFinalFieldFolding option)
install 2 mod
Hotspot: 24/25ms  Openj9: 30/29ms
[LogVerbose.20200514.124153.zip](https://github.com/eclipse/openj9/files/4626239/LogVerbose.20200514.124153.zip)

[2020-05-14 08:24] M-Davies commented on #8652
@AlenBadel Kicked off https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3055/

[2020-05-14 08:43] knn-k commented on #8762
Related PR: #9557

[2020-05-14 10:20] quijote opened #9558 "Process is terminated before JVMTI event callback VMDeath completes"
I noticed that our JVMTI agent sometimes did not properly shutdown when used together with IBM/OpenJ9 JVM.

I reproduced the problem with a simple JVMTI agent that just registers a VMDeath callback and then sleep for a second there before printing a message.

    static void VMDeath(jvmtiEnv *jvmti_env, JNIEnv* jni_env) {
        fprintf(stderr, "Enter VMDeath\n");
        std::this_thread::sleep_

[2020-05-14 11:33] MNeuling commented on #9453
@liqunl Here is the core dump of run3. It is a multipart zip. Please remove the `.zip` extension from all part files after download.
[core.20200507.073928.1608.0001.zip.001.zip](https://github.com/eclipse/openj9/files/4627961/core.20200507.073928.1608.0001.zip.001.zip)
[core.20200507.073928.1608.0001.zip.002.zip](https://github.com/eclipse/openj9/files/4627962/core.20200507.073928.1608.0001.zip.00

[2020-05-14 11:36] MNeuling commented on #9453
@liqunl  Please let me know if you need a core dump of another run.

[2020-05-14 13:42] mstoodle commented on #9443
ok, it sounds like hosting them at openj9 first helps developers to quickly iterate to something that will work well for our users, but once we get things settled, we can then pursue making it easier for users to get them.

I'm still not sure I understand how we'll maintain and test this material though. Can you put a few more words to "Charts have an inbuilt way to test deployments" ?

[2020-05-14 13:54] AlenBadel commented on #9519
I've created a draft of this enhancement. See https://github.com/AlenBadel/openj9/commit/10ce02db8bff98dbd73ab5a926ab1355ae128edb

Will be continuing to testing.

[2020-05-14 14:10] pshipton opened #9560 "UNB network issues are preventing nightly testing"
This also affects testing during the day. Although it mostly works because of the reduced load, it's quite a bit slower to test on the UNB platforms.

Since the night of May 12th, we're not getting nightly coverage of the platforms tested at UNB: xlinux, mac, most plinux. The problems appear to be network related, related to github.com. I've included some stats below that @AdamBrousseau collected.

[2020-05-14 15:42] mpirvu commented on #9406
Completed in #9461

[2020-05-14 15:42] #9406 closed

[2020-05-14 15:44] mpirvu commented on #9339
@EmanElsaban Could you please look into this as your next issue? Thanks

[2020-05-14 17:24] llxia commented on #9495
PR https://github.com/eclipse/openj9/pull/9551

[2020-05-14 19:42] gacholio commented on #9558
Looking at the code, System.exit() definitely wins over DestroyJavaVM. I'll see if I can determine the RI behaviour in this case (e.g. if the VMDeath handler blocks forever, does System.exit wait indefinitely?).

[2020-05-14 20:20] llxia opened #9569 "cmdLineTester_GCRegressionTests output cleanup"
cmdLineTester_GCRegressionTests prints out a large amount of unnecessary output (In the example below, from iteration 1 to iteration 1057). We need to cleanup the output.

[code]
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_cm_Nightly/3/consoleFull

https://github.com/eclipse/openj9/blob/6650475c2f0c9b3cf348b4c5baa0a0b466d1e1a9/test/functional/cmdLineTests/gcReg

[2020-05-14 20:42] pshipton commented on #9560
@AdamBrousseau @jdekonin

[2020-05-14 20:45] pshipton commented on #9560
I've disabled a number of machines at UNB, in the hopes the remaining machines will get more network time and be less likely to time out.

- cent6-x64-5 cent6-x64-6 cent6-x64-7
- cent7-ppcle-5 cent7-ppcle-6
- osx1014-x86-1 osx1014-x86-2 osx1014-x86-3
- ub16p8j91 ub16p8j92 ub16p8j93 ub16p8j94
- ub16x64j91 ub16x64j92 ub16x64j94 ub16x64j95 ub16x64j96 ub16x64j97 ub16x64j98
- ub18-ppcle-1 ub18-ppcle-2

[2020-05-14 20:46] smlambert opened #9570 "Create a github workflow for PR testing"
As we have recently encountered network issues (https://github.com/eclipse/openj9/issues/9560), we are very short of xlinux/mac machines and do not have capacity to adequately cover PR testing, we can put a workflow in place to help cover the gap.

2 github actions we will use for this workflow file (recently demonstrated in the OpenJ9 community call):

- [**build-jdk-openj9**](https://github.com/

[2020-05-14 20:54] mpirvu commented on #9339
More info on this issue:
The summary will be printed in `void TR::CompilationInfo::stopCompilationThreads()` when all the other summaries are printed.
Stats will be stored in `TR::CompilationInfo`around the point where `int32_t                _statsOptLevels[numHotnessLevels];` are defined
Stats about remote compilations could be incremented in `void TR::CompilationInfoPerThreadBase::logCompilatio

[2020-05-14 20:58] gacholio commented on #9569
The best solution would be to not capture the output on success (for any test, or perhaps set some kind of limit). Parse the output for the success tag, but don't put it in the console output.

[2020-05-14 23:44] AlenBadel commented on #8652
I"m not sure why selecting nightly on a grinder hasn't really been pulling the latest nightly. The build you're using is from a week ago, I think you need to explicitly specify the link to the nightly.

[2020-05-15 01:30] pshipton commented on #9549
I was able to go back to being able to read/display shared library info by removing the `-pie` from https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/common/autoconf/flags.m4#L819

I didn't have any luck making this change and doing a incremental build, but the behavior changed after a full build.

@keithc-ca I captured the JVMs and the cores, they are in team/keithc/openj9-9549. The

[2020-05-15 02:01] knn-k commented on #8987
All the crashes in https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/142 occurred at the following location in `TR::DefaultCompilationStrategy::processEvent()` because `TR::Recompilation::getJittedBodyInfoFromPC()` returns NULL.
https://github.com/eclipse/openj9/blob/a8d0a6e4d119b0e571d2da1ef030649f2e824413/runtime/compiler/control/CompilationControll

[2020-05-15 02:11] knn-k opened #9574 "AArch64: JIT crashes in TR::DefaultCompilationStrategy::processEvent()"
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/141/
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/142/

Some tests in sanity.openjdk are failing intermittently with AArch64 Linux.
[code]

All these crashes occurred at the following location in `TR::DefaultCompilationStrategy::processEvent()` because `TR::Recompilation::getJittedBodyI

[2020-05-15 02:14] knn-k commented on #8987
I opened #9574 for tracking the crashes with `getJittedBodyInfoFromPC()`, because they are independent from the crash with SharedClasses.SCM01.MultiThreadMultiCL_0 in this issue.

[2020-05-15 02:14] #8987 closed

[2020-05-15 02:16] knn-k commented on #9574
Related Issue: #6607

[2020-05-15 03:24] pshipton commented on #9570
I'll note that master is supposed to always be in a working state, with changes pre-tested before they are pushed there, so we'll want to have that discussion.

Also, not to knock this, but fyi someone noticed there is a 2000 min (33.3 h) time limit per month in the free tier, which we will quickly reach considering each build and test is ~2+ hours linear time.

[2020-05-15 03:32] smlambert commented on #9570
Yep, we should also look at what enterprise gets you $21/month for 50,000min per month, but fair enough, we can just fix our infra problems and not go this route.

[2020-05-15 03:37] smlambert commented on #9570
At free tier, we can do 16 PRs per month, at enterprise tier we can do over 400 PRs per month.

[2020-05-15 08:25] M-Davies commented on #8652
Tried again with a customized link https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3064/

[2020-05-15 13:36] llxia commented on #9539
@OscarQQ could you please update the build.xml? If j9ddr.jar is missing, ant target in build.xml will fail. Thanks.

[2020-05-15 13:39] llxia commented on #9495
cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80 passed in internal build 446246

[2020-05-15 13:48] #9495 closed

[2020-05-15 14:26] DanHeidinga commented on #9570
How does github determine the 2000 minutes?  Is that shared across the Eclipse foundation?  Or per repo?

[2020-05-15 14:55] pshipton commented on #9560
I don't think disabling the machines made any difference, so I've brought them back online.

[2020-05-15 14:59] pshipton opened #9579 "jvmtitests_hcr_OSRG Selected VM [default] by option -Xnocompressedrefs does not exist."
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly/375
cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_0
[code]

Caused by https://github.com/eclipse/openj9/pull/9551

[2020-05-15 14:59] pshipton commented on #9579
@llxia @smlambert

[2020-05-15 15:02] pshipton commented on #8504
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/36
[code]

[2020-05-15 15:17] dnakamura commented on #9539
Should be resolved by #9580

[2020-05-15 15:35] shanchao95 commented on #9535
looked into the code.

- `doUpdate` returns `0` or a `0` byte array. `doFinal` returns cumulated input size or a byte array with encrypted output.
- Currently, an input data is stored in a `ByteArrayOutputStream` buffer when invoke `doUpdate`, and encrypt all inputs until calling `doFinal`.
- have to store/cumulate the input data somewhere before calling `doFinal`, which means no mater what contai

[2020-05-15 15:40] smlambert commented on #9570
Or per developer

[2020-05-15 15:49] smlambert commented on #9570
There is also a minute multiplier for macOS apparently.
linux 1 min == 1 min,
macOS 1 min == 10 min
windows 1 min == 2 min

[2020-05-15 16:08] llxia commented on #9579
I will take a look

[2020-05-15 16:27] Scott-Young-6746 opened #9582 "Feature Request: Templated JIT compiler"
TR is an optimizing compiler that can perform numerous optimizations (with supporting data structures) and uses a sophisticated intermediary language.

This means that its threshold for compilation must be chosen to avoid over-eager compilation. The supporting data structures also increase the memory footprint of a compilation.

A templated JIT compiler would allow for compilation to begin earlier

[2020-05-15 17:09] llxia commented on #9579
`Mode110-OSR ` runs on the same platform as `Mode110`. This is why `cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_1` (Mode110-OSRG -Xnocompressedrefs) got skipped as expected in above build.

`cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_0` (above failed test) runs `Mode107-OSRG `. Should `Mode107-OSRG ` run on the same platform as `Mode107`? My assumption is yes, but this is not the case in ot

[2020-05-15 17:23] llxia commented on #9579
Some background info:
The test worked before because TKG added `-Xnocompressedrefs` or `-Xcompressedrefs` option as default based on SPEC. Since we removed this logic, jvm options in tests only depend on `<variation>`.  #9551 is to fix the issue where `Mode107-OSRG` does not contain `-Xnocompressedrefs` and this is needed for ibm SDK.

[2020-05-15 17:36] pshipton commented on #9579
Mode107-OSRG should be same platforms as Mode107 (i.e. XL), it's an error in the ottawa.csv.
While Mode 607* or 6xx* is the opposite.

[2020-05-15 17:37] #9500 closed

[2020-05-15 18:04] ChengJin01 commented on #5058
I already set things up to get Debian_riscv work on the emulator(QEMU).
[code]
but there was still issues with booting the image on the hardware (hang somewhere in bootstrap /probably has something to with the relocating the ELF binary of the kernel), in which case @janvrany will help to double-check next week to see what happens when trying with a new SD-card.

[2020-05-15 18:24] pshipton commented on #9570
The page mentions multiple times "GitHub Actions usage is free for public repositories." so maybe we don't have a limit. I read it as the 2000 min limit is for private repos.

[2020-05-15 18:59] pshipton commented on #9570
IMO it should be triggered via a comment, like the existing PR testing, if that is possible.  So a committer can trigger it on demand once initial reviews are completed and there are no dependencies.

There is a `issue_comment` event with activity `created`, but like current PR testing we'd have to parse the comment and look for keywords before triggering the action.

Otherwise, they aren't quite

[2020-05-15 19:46] samasri commented on #9535
In case the buffer overflows, you would need to call `doUpdate` and not `doFinal`. This is because `doFinal` will finalize the operation so you can't call `doUpdate` afterwards. So for example, consider a case when the internal buffer size is 10KB and the user is trying to encrypt 1MB of data (divided into 1KB chunks). The buffer will overflow after few calls for `doUpdate`. When the buffer overfl

[2020-05-15 20:25] VermaSh commented on #9009
I am unable to get a log or a core dump for `java/nio/MappedByteBuffer/Truncate.java` failure. I think that could have been due to this `JVMCDRT000E Unable to locate JIT stack map - aborting VM`

Going to try getting a log and core file for `sun/nio/cs/FindOneCharEncoderBugs.java`

Test output:
[code]

[2020-05-15 21:15] ChengJin01 commented on #9501
@dmitripivkine & @LinHu2016,
1) I checked the cross-build on the remote `Fedora_raw/QEMU` and there was no crash when attempting to run the test job (there was missing -C with `tar` when decompressing the downloaded jdk which should be fixed in the test script)

2) with `GCExtensionsBase.hpp line 1395 , processLargeAllocateStats(false) /* turn off processLargeAllocateStats by default */
`,  the cr

[2020-05-15 21:39] #9538 closed

[2020-05-16 00:06] smlambert commented on #9570
The exercise is to offload some testing onto Github runners, perhaps we should not target the PR testing, but rather some of the nightly testing, while we discuss the various ways we could or should trigger PR testing.

Nightly can be triggered by a schedule, example:

on:
schedule:
  - cron:  '*/15 * * * 1-5'

[2020-05-16 00:17] ChengJin01 commented on #5058
I managed to login the Debian_riscv on the hardware (U540) after resetting up everything from the scratch.
[code]

The cross-build compiled with Fedora_raw also works good on the Debian_riscv/U540 as follows:
[code]
Which means there is no issue with `java -version` on Debian_riscv/U540, as confirmed by @janvrany  previously.

I will double-check the cross-build & native build again compiled with

[2020-05-16 03:31] 1a2s3d4f1 opened #9594 "Vanilla Minecraft tick time longer 5ms than hotspot"
Java -version output
--------------------
openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-b09)
Eclipse OpenJ9 VM (build openj9-0.20.0, JRE 1.8.0 Windows 7 amd64-64-Bit Compre
sed References 20200422_667 (JIT enabled, AOT enabled)
OpenJ9   - 05fa2d361
OMR      - d4365f371
JCL      - 5e623848e9 based on jdk8u252-b09)

Summary of problem
------------------
Running vanilla min

[2020-05-16 04:51] 1a2s3d4f1 opened #9595 "Invalid memory access crash"
Java -version output
--------------------

openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-b09)
Eclipse OpenJ9 VM (build openj9-0.20.0, JRE 1.8.0 Windows 7 amd64-64-Bit Compre
sed References 20200422_667 (JIT enabled, AOT enabled)
OpenJ9 - 05fa2d3
OMR - d4365f371
JCL - 5e623848e9 based on jdk8u252-b09)

Summary of problem
------------------
Minecraft 1.15.2

Open game narr

[2020-05-17 03:31] paragw opened #9596 "** ASSERTION FAILED ** at j:\jenkins...\vm\omr\gc\base\MarkingScheme.hpp:71: ((false))"
Java -version output
--------------------
openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-b09)
Eclipse OpenJ9 VM (build openj9-0.20.0, JRE 1.8.0 Windows 10 amd64-64-Bit Compressed References 20200416_658 (JIT enabled, AOT enabled)
OpenJ9   - 05fa2d361
OMR      - d4365f371
JCL      - cfa47e66cd based on jdk8u252-b09)
Summary of problem
------------------
Trying to run a sim

[2020-05-17 03:32] #9596 closed

[2020-05-17 15:05] M-Davies commented on #8652
Looks good to me. Thanks for all the work on this

[2020-05-17 15:05] #8652 closed

[2020-05-18 01:22] JasonFengJ9 opened #9597 "cmdLineTester_jvmtitests_hcr_OSRG_nongold_SE80_0_FAILED : Selected VM [default] by option -Xnocompressedrefs does not exist"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly/391`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https:

[2020-05-18 08:15] andrew-m-leonard opened #9599 "aarch64 crash running Test_openjdk11_j9_extended.system_aarch64_linux"
Failure link
------------
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.system_aarch64_linux/144/console
Test_openjdk11_j9_extended.system_aarch64_linux
[code]

[2020-05-18 08:18] andrew-m-leonard commented on #9047
Repeat of this: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_aarch64_linux/145/tapResults/

[2020-05-18 08:25] edrevo opened #9600 "OpenJ9 Segmentation Fault JIT compiling `akka/stream/impl/GraphStageIsland.onIslandReady()V`"
Java -version output
--------------------

[code]

Summary of problem
------------------
OpenJ9 Segmentation Fault

[code]

JAVA_OPTS:

[code]

Diagnostic files
----------------

This is happening in a stateless k8s pod, so it is difficult to get the dump. Either way, it looks like OpenJ9 is crashing when creating the dump

[2020-05-18 08:27] andrew-m-leonard opened #9601 "aarch64 Test_openjdk11_j9_sanity.openjdk_aarch64_linux J9 Crash"
TEST: java/lang/String/SpecialCasingTest.java
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/146/consoleFull
[code]

[2020-05-18 08:31] knn-k commented on #9047
Those crashes in libj9jit29.so are caused by `getJittedBodyInfoFromPC()` returning a NULL.
It is a known problem as #9574.

[2020-05-18 08:33] knn-k commented on #9574
I am working on enabling JIT recompilation for AArch64 now, and that will resolve this issue with `TR::Recompilation::getJittedBodyInfoFromPC()`.

[2020-05-18 08:51] edrevo commented on #4050
@mpirvu, is there any issue tracking the feature of automatically enabling `-Xjit:enableSelfTuningScratchMemoryUsageBeforeCompile` for non-swap enviroments?

[2020-05-18 16:37] lumpfish opened #9603 "Openj9 jdk8 web site build instructions have broken links"
The eclipse/openj9 instructions for building jdk8 (https://www.eclipse.org/openj9/oj9_build.html#version-8) have broken links to dockerfiles.

Should the instructions should now instruct people to use https://github.com/eclipse/openj9/blob/master/buildenv/docker/mkdocker.sh?

[2020-05-19 03:40] pshipton commented on #9597
This is a dup of #9579

[2020-05-19 03:40] #9597 closed

[2020-05-19 03:46] pshipton commented on #9599
@knn-k

[2020-05-19 03:48] pshipton commented on #9601
@knn-k

[2020-05-19 03:53] pshipton commented on #9603
This is reported here https://github.com/eclipse/openj9-website/issues/250
I expect the problem updating the website is that switching to the [new website](https://eclipse.github.io/openj9-website/) is imminent. The new website doesn't contain build instructions.

[2020-05-19 03:53] #9603 closed

[2020-05-19 03:59] knn-k commented on #9601
This is the same issue as #9574.

[2020-05-19 04:00] knn-k commented on #9599
This is the same issue as #9574.

[2020-05-19 04:27] pshipton commented on #9560
Seems all the UNB machines have gone offline in jenkins at some point over the (long) weekend.

[2020-05-19 05:32] AdamBrousseau commented on #9560
I think there are 2 issues here. The first, worker-1, which is the proxy was offline because the slave.jar cannot be downloaded and therefore the slave cannot launch. When I run the curl by hand on the slave.jar it times out with `Could not resolve host: ci.eclipse.org`. I have downloaded the jar manually for now and the slave is back online. I think this ties back to the Eclipse issues I saw go t

[2020-05-19 05:49] AdamBrousseau commented on #9560
I take that back, worker-1 just needed a reboot.

[2020-05-19 12:39] pshipton commented on #9560
Machines are online now, but all the builds at UNB still failed uploading to OSU `Failed to deploy file. Status code: 403`

[2020-05-19 13:47] andrewcraik commented on #9582
This lacks details of how the microjet would be integrated into OpenJ9, how its data structures would interoperate (or not) with OpenJ9, how it would interact with the shared class cache, interpreter, GC etc. What GC modes does it support? What is the delivery plan? I think this needs quite a lot of expansion and probably discussion on a community call to present the proposal.

[2020-05-19 13:53] DanHeidinga commented on #9600
fyi @andrewcraik

[2020-05-19 13:59] andrewcraik commented on #9600
Some kind of core / diagnostic output beyond the raw dump message is likely needed to make progress on this. Does the failure persist if the -Xjit option is removed? How about if it is run -Xsharelcasses:none?

[2020-05-19 14:18] pshipton commented on #9560
Artifactory issues are still blocking all builds. Adam is looking at it, says "something is wrong" with the Artifactory server.

[2020-05-19 14:26] andrewcraik commented on #9453
FYI @fjeremic since I think you were offering to look?

[2020-05-19 14:30] andrewcraik commented on #9356
@fengxue-IS any update?

[2020-05-19 14:31] andrewcraik commented on #8838
@cathyzhyi updates?

[2020-05-19 14:33] andrewcraik commented on #8823
@liqunl thoughts? would be good to get this moving forward again so could you see if you can help @Leonardo2718 ?

[2020-05-19 14:38] andrewcraik commented on #9381
@rpshukla could you take a look?

[2020-05-19 14:43] andrewcraik commented on #7247
@DanHeidinga or others familiar with the port library - we seem to be getting to the limits of what we can do. The great analysis from @rpshukla shows that the newer versions of OSX seem to have made getenv thread safe with a lock while the older versions are not. Now the getenv is not, in general, threadsafe in POSIX, but we have not had this issue on other platforms. A system level trace of the

[2020-05-19 15:32] edrevo commented on #9600
Hi @andrewcraik. i'll try to get the diagnostic output.

I googled for vmState=0x0005ffff, and found [this](https://www.ibm.com/support/pages/apar/IV72215). We have disabled aot for now and so far so good. I'll report back if I see the same error with aot enabled.

I also tried removing the Xjit option and letting the aot compiler enabled. I wasn't able to reproduce the issue, but honestly I would

[2020-05-19 16:03] raguks commented on #9443
As part of the Chart validation we can have some tests defined. These test if the Chart deploys openj9 in our case. We can also add actual functional verification of jitserver in particular.  To run these tests however, we need to define some Jenkins jobs and need to use openj9 test infrastructure. @chrisc66 @KevinBonilla may be able find out more if  @smlambert or someone can point them to CI/CD

[2020-05-19 17:15] andrewcraik commented on #9600
Thanks @edrevo the vmstate just tells us which general area of the compiler might be related. That link is for the IBM SDK for Java, not OpenJ9, and is from 2015 - well before the OpenJ9 codebase existed so is not likely relevant.

@dsouzai seems we have another report of an AOT/SCC crash - does this look anything like ones that have been fixed recently?

[2020-05-19 17:16] liqunl commented on #8823
@Leonardo2718 Could you try `-Xdump:system+java:events=throw+systhrow,filter=java/lang/UnsupportedOperationException#com/android/tools/r8/com/google/common/collect/ImmutableCollection.removeIf,range=1..1`

[2020-05-19 17:27] rpshukla commented on #9381
A few observations:

1) This fails in `MoneyOneTest` with the following options: `-Xjit:count=0,optlevel=warm,limit={junit/samples/money/Money.equals(Ljava/lang/Object;)Z}`

2) It also fails with when limited to `junit/samples/money/Money.isZero()Z` (when Money.equals is compiled, isZero gets inlined)

3) I have narrowed down lastoptindex and lastoptsubindex. The lowest index and subindex that pro

[2020-05-19 17:29] Scott-Young-6746 commented on #9582
That's a good idea! Can you point me to a schedule for community calls?

[2020-05-19 17:41] #8045 closed

[2020-05-19 17:43] gacholio commented on #9558
The answer to the above is yes - if the handler blocks forever, the exit does not take place.

[2020-05-19 17:44] DanHeidinga commented on #9582
Calls are Wednesday @ 11am ET.  The agenda is posted to the #planning channel usually the day before or the morning of the call.  [Link to join slack](https://join.slack.com/t/openj9/shared_invite/enQtNDU4MDI4Mjk0MTk2LWVhNTMzMGY1N2JkODQ1OWE0NTNmZjM4ZDcxOTBiMjk3NGFjM2U0ZDNhMmY0MDZlNzU0ZjAyNzQ1ODlmYjg3MjA)

[2020-05-19 17:50] gita-omr commented on #9122
@AlenBadel fyi

[2020-05-19 17:52] IBMJimmyk opened #9612 "Fix immediate value field for addis and lis instruction on Power"
`addis` and `lis` accept a signed 16 bit value as an immediate value. They are passed into `generateTrg1Src1ImmInstruction` or `generateTrg1ImmInstruction` as signed 32 bit values. In some edge cases, the sign extension is not handled properly. In most cases this is due to the value being incremented after sign extension. In other cases it was due to an unnecessary mask clearing the upper 16 bits.

[2020-05-19 17:58] DanHeidinga commented on #9443
I want to circle back to my earlier question:

My (admittedly limited) knowledge of Helm is that charts are for deploying **applications**, not **runtimes**.  Is the proposal to add basic charts, really *templates*, that can easily be adapted by users to deploy their applications on OpenJ9?

It would be good to clarify how this proposal fits with the general Helm guidance.

Additionally, if this i

[2020-05-19 18:04] DanHeidinga commented on #9443
For the operator, have you seen the https://github.com/application-stacks/runtime-component-operator project?  It provides a set of base capabilities other operators can build on:

I ran across this when looking at the [Open-Liberty operator](https://github.com/OpenLiberty/open-liberty-operator/blob/c04230e26f20b119989a4f159d72c05285feea09/doc/operator-design.adoc) which can already control JVM du

[2020-05-19 18:05] IBMJimmyk commented on #9612
One of the edge cases is trying to add `0x7FFFFFFF` to something in a register (for example in r3). Both are 32bit values.

An example of code that might be generated is:
[code]

Note how the top half `0x7FFF` is changed to `0x8000` to compensate for how the bottom half `0xFFFF` get sign extended when it get added in.

This causes a problem because `0x00007FFF` is stored as a 32 bit values before

[2020-05-19 18:44] dsouzai commented on #9600
No, a crash with vmstate `0x0005ffff` looks new, though a coredump would validate that / help with debugging.

[2020-05-19 18:55] dsouzai commented on #9600
I manually resolved the backtrace:
[code]
This looks similar to the issue fixed by https://github.com/eclipse/openj9/pull/9418. @cathyzhyi does this backtrace look similar?

[2020-05-19 19:21] Scott-Young-6746 commented on #9582
Thank you!

[2020-05-19 19:47] andrewcraik commented on #4549
So I think this could go one of two ways - one is that the OpenJ9 override is not warranted and whatever cases it was papering over will need to be 'fixed' in OpenJ9 and the override removed so that this opt works correctly. The other would be that the override is warranted but the API is not sufficiently rich to allow for us to determine the correct conversion (eg this case we want the matching t

[2020-05-19 20:23] theresa-m commented on #9405
I created a class file with duplicate UTF8 entries in the constant pool, and LVT / LVTT entries that are duplicates in strings but not indices.

[code]

Results: The RI does not throw an error during class loading. OpenJ9 has identical behavior.

@DanHeidinga is there anything else you want me to check around string equality before I close this?

[2020-05-19 21:09] mpirvu opened #9616 "Enable SelfTuningScratchMemoryUsageBeforeCompile when there is no swap space"
When `enableSelfTuningScratchMemoryUsageBeforeCompile` option is enabled the JIT looks at the amount of free physical memory at the beginning of a compilation and sets a limit for the scratch memory (the amount of memory a compilation thread is allowed to use) slightly less than the amount of physical memory. When a compilation tries to use more than its allotted limit, the JIT aborts that compila

[2020-05-19 21:10] mpirvu commented on #4050
I have created #9616 to track the requested feature. This issue can be closed now.

[2020-05-19 21:10] #4050 closed

[2020-05-19 21:14] mpirvu commented on #9616
Attn: @ashu-mehra, since you have more experience with information that can be extracted from a cgroup.

[2020-05-19 21:22] keithc-ca commented on #9549
It seems a difference is that the 'before' core file has no executable (type 2) sections (just the core (type 4) section followed by the shared object (type 3) sections):
[code]
while the 'after' core file has the expected executable sections:
[code]
Note the type is the 16-bit value at offset 0x10 of each section.

[2020-05-19 21:47] cathyzhyi commented on #9600
Yes, it's the same backtrace as the problem I fixed. This should be fixed by #9418.

[2020-05-20 01:40] DanHeidinga commented on #9405
Which version of the RI was used in the test?  JDK 8, 11 or something else?

[2020-05-20 01:43] DanHeidinga opened #9618 "Replace `J9VM_OPT_VALHALLA_NESTMATES` defines with appropriate JDK11 version check"
As discussed with @keithc-ca in #9562, it's time to remove all appearances of `J9VM_OPT_VALHALLA_NESTMATES`and replace them with the appropriate java 11 version checks.

[2020-05-20 01:44] DanHeidinga commented on #9618
Appropriate java 11 check is something like:
[code]

[2020-05-20 02:32] pshipton opened #9620 "Mac cmake build failure attempting to open libj9ddr_misc29.dylib.dSYM"
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_cm_Nightly/10
[code]

[2020-05-20 02:34] pshipton commented on #9620
@dnakamura @keithc-ca

Restarted the job to see if it's intermittent.
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_cm_Nightly/11/

[2020-05-20 02:46] dnakamura commented on #9620
Given the SHAs, I suspect eclipse/omr#5176 although I can't see any obvious reason why it would be failing

[2020-05-20 03:24] mpirvu opened #9621 "Perf profile of compilation thread at JITClient"
In order to find opportunities for further reducing the compilation overhead at the JITClient I collected a perf profile of the compilation thread activity while running the AcmeAir benchmark in containers. The profile is from a warm run with SCC/AOT enabled. Also, for this run I used a single compilation thread at the client and I profiled only the activity of that thread.

The breakdown per modu

[2020-05-20 03:35] mpirvu commented on #9621
A few comments for the profile above:
1) Reducing the number of network messages remains top priority because this is going to reduce the kernel time which dominates the profile
2) When reading messages we first do a read to find the message size and then do another read to for the rest of the message. We may be able to to just one system call by reading as much as possible in one operation. The d

[2020-05-20 03:44] AdamBrousseau commented on #9560
Worker had a bad entry for the localhost in /etc/hosts. All resolved now. UNB network issue is also resolved. I think this can be closed.

[2020-05-20 04:33] #9560 closed

[2020-05-20 04:36] pshipton commented on #9620
The restart passed.

[2020-05-20 04:47] DanHeidinga commented on #7247
In looking further at `_NSGetEnviron`, I found this issue https://gitlab.haskell.org/ghc/ghc/issues/2458 which states:

There are a couple of places where `environ` is used in OpenJ9 (rasdump.c) & OMR (port/unix/omrsysinfo.c) which we can modify to use `_NSGetEnviron` instead (plus some zOS-specific uses).

This is worth trying.  We can add code to lock / unlock around getenv calls in the JIT and

[2020-05-20 06:03] edrevo opened #9622 "Big memory regression with OpenJ9 0.20"
Java -version output
--------------------

[code]

Summary of problem
------------------

We recently updated to OpenJ9 0.20 in an attempt to avoid https://github.com/eclipse/openj9/issues/9600. We have seen a big increase in memory consumption of our services compared to OpenJ9 0.18.1.

Here's a list of memory consumptions of different services:

| Service | Working set 0.18.1 | Working set 0.20

[2020-05-20 07:15] edrevo commented on #9622
As per https://openj9.slack.com/archives/C862YFGL9/p1589892789019900?thread_ts=1589865809.019600&cid=C862YFGL9, this big memory increase might in fact be due to disabling AOT.

I'll try 0.18.1 without AOT and see what happens

[2020-05-20 07:34] edrevo commented on #9616
Another (proably easier) option would be to include this self tuning option if -Xtune:virtualized is set, since disabling swap is something common in container environments.

[2020-05-20 07:56] edrevo commented on #9600
I am thinking the best way to avoid this bug is to just exclude AOT for the problematic method. I see there is an option `-Xaot:exclude=<method>` in https://www.eclipse.org/openj9/docs/xaot/, but there's no mention as to what the correct syntax for specifying the method is. What should I put as method?

- `akka/stream/impl/GraphStageIsland.onIslandReady()V`
- `akka/stream/impl/GraphStageIsland.onI

[2020-05-20 12:39] #4545 closed

[2020-05-20 12:44] DanHeidinga commented on #9600
FYI - I've opened https://github.com/eclipse/openj9-docs/issues/566 for updating the doc

[2020-05-20 12:47] edrevo commented on #9600
Thanks for opening the documentation issue. Do you happen to know what the correct syntax is? After several attempts, I have ended with `-Xaot:exclude={akka/stream/impl/GraphStageIsland.onIslandReady}`, but I'm still getting the segmentation fault with that, so I'm guessing it isn't the correct syntax

[2020-05-20 13:06] mpirvu commented on #9622
@edrevo
Hmm, in my experience disabling AOT does not increase the footprint. I am going to guess that this is a transient increase due to the memory needed by the JIT compiler (scratch memory).
Could you please send us some diagnostic files for one of the services that have the biggest discrepancy (D or F)? We would need a javacore and the smaps.
The javacore can be generated by sending "kill -3"

[2020-05-20 13:19] DanHeidinga commented on #9600
It's a regex-based format so it might be sufficient to add a `*` to the end of the method name a la `"-Xaot:exclude={akka/stream/impl/GraphStageIsland.onIslandReady*}"`.

@dsouzai @andrewcraik @cathyzhyi would know better on the exact format

[2020-05-20 14:10] dsouzai commented on #9600
Hm, I think the option you want is `-Xaot:loadExclude={akka/stream/impl/GraphStageIsland.onIslandReady*}`. Looking at the code there doesn't seem to be a way to say "Don't generate a relocatable body", but `loadExclude` should prevent a method in the SCC from getting loaded.

[2020-05-20 14:25] #9534 closed

[2020-05-20 14:28] liqunl commented on #9453
I wonder if @fjeremic was talking about help in getting a useful jitdump.

I took a look at the core file. The stack trace is
[code]

In frame 06 TR_J9VMBase::matchRAMclassFromROMclass, the rom class is `0x0000000010880110` which is invalid as its className field is the rom class itself
[code]

The rom class is also out of the range, from javacore
[code]

TR_IPBCDataCallGraph::loadFromPersistentCo

[2020-05-20 14:30] fjeremic commented on #9453
That's right. I was referring to checking out why the jitdump generated was not useful so I can gather feedback and improve it for future issues.

[2020-05-20 14:33] fjeremic commented on #9453
@liqunl it could also be #7684 which @cathyzhyi worked on. That one was an inliner bug where the symptom was an invalid class name in the constant pool, so kind of sort of what you are seeing here. Perhaps they could be related.

[2020-05-20 14:55] #9475 closed

[2020-05-20 14:59] dsouzai commented on #9453
Yeah it does look like the same issue. Kind of surprising given that https://github.com/eclipse/openj9/issues/7890 was supposed to have fixed this.

@MNeuling, does the issue still happen if you delete the existing SCC?

[2020-05-20 15:01] dsouzai commented on #9453
FWIW, a workaround for this is to run with `-Xjit:dontUsePersistentIprofiler -Xaot:dontUsePersistentIprofiler`

[2020-05-20 15:02] raguks commented on #9443
@DanHeidinga There are two different questions here. 1) Regarding the nature of openj9 deployment and 2) feature set and libraries.
1) The proposed chart/operator is to deploy openj9 as jitserver only primarily. Because openj9 can be deployed using the same chart as a non jitserver we can provide that option. OpenJ9 deployment works well for java applications that just need a jdk and no web-server

[2020-05-20 15:02] edrevo commented on #9622
Ok, here's some more info. I have deployed the same services, with the same JAVA_OPTS (`-Xtune:virtualized -Xshareclasses:cacheDir=/jvmcache,nonfatal,name=<name>
    -Xnoaot -Xscmx512M -Xjit:enableSelfTuningScratchMemoryUsageBeforeCompile`) but with openj9 0.18.1 and 0.20.

Here are some stats after several minutes of inactivity:

| Service | Working set 0.18.1 | Working set 0.20 |
|---------|----

[2020-05-20 15:05] liqunl commented on #9453
@dsouzai `profilingSample` uses [TR_DisableAOTWarmRunThroughputImprovement](https://github.com/eclipse/openj9/blob/master/runtime/compiler/runtime/IProfiler.cpp#L1400)  to determine whether to search in SCC. Is `TR_DisableAOTWarmRunThroughputImprovement` set to true when incompatible SCC is detected?

[2020-05-20 15:08] dsouzai commented on #9453
No, because of https://github.com/eclipse/openj9/blob/05fa2d3611f757a1ca7bd45d7312f99dd60403cc/runtime/compiler/control/rossa.cpp#L1901

which is checked here
https://github.com/eclipse/openj9/blob/05fa2d3611f757a1ca7bd45d7312f99dd60403cc/runtime/compiler/runtime/IProfiler.cpp#L1256

[2020-05-20 15:22] pshipton opened #9625 "JEP 383 Foreign-Memory Access API (Second Incubator)"
https://openjdk.java.net/jeps/383

[2020-05-20 15:23] pshipton opened #9626 "JEP 360 Sealed Classes (Preview)"
https://openjdk.java.net/jeps/360

[2020-05-20 15:24] pshipton commented on #9626
@tajila @DanHeidinga fyi

[2020-05-20 15:24] pshipton commented on #9625
@DanHeidinga fyi

[2020-05-20 15:35] edrevo commented on #9622
Sorry for my n00bness, but I can't seem to be able to get the javadump core. Sending a kill -3 signal to the java process doesn't generate the expected file. The only thing I see is a spike in the memory:

![image](https://user-images.githubusercontent.com/1845771/82465813-fb135280-9abf-11ea-928f-28930cd5bc54.png)

My JAVA_OPTS contains `-Xdump:java:events=user,file=/javacore.\%pid.\%seq.txt`. How

[2020-05-20 15:48] tajila opened #9627 "ValueType: Add jithelpers for flattened fields"
[code]

[2020-05-20 16:01] mpirvu commented on #9582
I don't foresee any problems regarding the interaction between MicroJIT and AOT. If a method has AOT code in SCC, we would load that AOT body because relocations are probably faster than generating code with MicroJIT and the code quality is expected to be better. Upgrades for the AOT code will be done with the JIT compiler as usual. Also, I don't envision a solution where MicroJIT generates reloca

[2020-05-20 16:39] mpirvu commented on #9622
Is it possible that the user the service runs as does not have write permissions to the "/" directory?
Maybe try with `-Xdump:java:events=user,file=/tmp/javacore.\%pid.\%seq.txt`

[2020-05-20 16:53] theresa-m commented on #9405
Java 14.

[2020-05-20 16:54] pshipton opened #9629 "testJITServer NoClassDefFoundError: java.lang.ref.Cleaner$Cleanable"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_OMR/530
testJITServer_1
[code]

[2020-05-20 16:55] pshipton commented on #9629
@mpirvu

[2020-05-20 16:58] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/359
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-05-20 17:00] pshipton commented on #8504
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/39
like https://github.com/eclipse/openj9/issues/8504#issuecomment-629283640

[2020-05-20 17:02] pshipton commented on #9382
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly_daaLoadTest/12
aix71-p8-9

[2020-05-20 17:05] DanHeidinga commented on #9582
I had a similar question about HCR (hot code replace) given this is a template jit which mimics the bytecode action.  Does it fetch the data - J9Method *'s, J9Class *'s, etc - from the constantpool every time the code is run?  Does it hardcode those values into the compiled code?

[2020-05-20 17:07] mstoodle commented on #9316
Does anyone want to register their preference for 6 week (technically 1.5 monthly -- is there a word for that?) interim releases as opposed to monthly releases? Monthly helps keep the backports more likely to be straightforward, though I understand it's more work around the documenting of releases. But if we only backport bug fixes, then maybe the release notes can be as simple as the list of PRs

[2020-05-20 17:14] tajila commented on #9627
Updated the description making it clear which ones are runtime helpers and which ones are static helpers

[2020-05-20 17:20] DanHeidinga commented on #9316
I'm also in favour of monthly.  It makes it straightforward to know when a build is likely to be available (mid-month, every month) rather than trying to figure out how to map every ~6 weeks from the previous release.

[2020-05-20 17:22] lumpfish commented on #9316
I would agree that monthly should be the goal.  My concern would be can monthly be contained, resource wise?  Perhaps if we started with one inter-quarterly release and if / when that becomes 'easy', increase the frequency to monthly?

[2020-05-20 17:24] tajila commented on #9626
Here are some draft specs:
http://cr.openjdk.java.net/~dlsmith/jep360/jep360-20200421/specs/sealed-types-jls.html
http://cr.openjdk.java.net/~dlsmith/jep360/jep360-20200421/specs/sealed-types-jvms.html

The main JVM change is the `PermittedSubtypes` class attribute. This attribute contains a list of permitted subtypes. When loading a class, if that class has a supertype that contains the `Permitte

[2020-05-20 17:29] DanHeidinga commented on #9626
@theresa-m did the initial review on the specs for me and indicated there was nothing concerning in the specs.

We'll have to connect out side the issue to see who can pick up this JEP

[2020-05-20 17:29] tajila opened #9631 "ValueType: helper to determine if J9Class can refer to a valuetype"
[code]

[2020-05-20 17:45] theresa-m commented on #9405
I've confirmed the same behavior for 8 & 11.

[2020-05-20 17:49] mpirvu commented on #9582
I would assume yes. In my mind Microjit can be viewed as a faster interpreter.

[2020-05-20 18:22] Scott-Young-6746 commented on #9582
When implementing `getstatic` and `putstatic` Younes gave me a handle on how to resolve static things at compile time. We've been hard coding those values at the moment, but we also due to how we support it, only support compile-time resolvable.

For future support of things that cannot be resolved at compile-time, some mechanism that looks into the J9Method *'s, J9Class *'s, ett., at run-time.

[2020-05-20 18:31] gacholio commented on #9627
Note that JIT runtime helpers can not have more than 3 parameters - any more will need to be packaged in a data block. The vmThread is implicit (does not consume one of the 3 parameters).

[2020-05-20 18:32] gacholio commented on #9627
For the ones above, the easiest thing would likely be to combine cpContextClass and cpIndex in static data (since they are knowable at JIT compile time).

[2020-05-20 18:37] dmitripivkine commented on #9501
Seems crash relates (intermittently) with system library call of 'log()' from GC code

[2020-05-20 18:37] theresa-m commented on #9529
I don't believe there are any JVM changes required for this JEP.

[2020-05-20 18:46] cathyzhyi commented on #8838
I am able to reproduce the failures. There seems to be different failures but the root cause might be the same. The one I am focusing on now is a crash with
[code]
However, there are too many `AsTypeHandle.invokeExact_thunkArchetype_X` compiled so I didn't proceed with the tracing logs.
From the coredumps, I've manually reconstructed the stack frames and verified the invalid argument is `Ljava/uti

[2020-05-20 18:48] Leonardo2718 commented on #8823
Short update: Turns out this is probably a JIT issue after all. The problem actually occurs in the Gradle daemon, which I hadn't realized until now :disappointed:, so my options weren't being passed through.

[2020-05-20 19:07] edrevo commented on #9622
Process is running as root in my environment. I have tried dumping to /tmp too, but no luck either :(

[2020-05-20 19:43] edrevo commented on #9622
Apperently core dumps in k8s aren't straightforward. You need SSH access to the machine (which I don't have): https://medium.com/@shuanglu1993/how-to-generate-coredump-for-containers-running-with-k8s-1a3f4a7e75b2

[2020-05-20 20:19] #9579 closed

[2020-05-20 20:58] mpirvu commented on #9622
If you cannot SSH to the machine how did you send "kill -3" and how did you collect the smaps? Sorry, but I have no experience with k8.
I ran an experiment to make sure it works: I launched a Docker container running Liberty app server with openj9 (Java11 0.20) with a command line like:
`docker run -d --rm -m=1G --cpus="4.0" --mount source=sccvolume,target=/output/.classCache -e JAVA_HOME=/opt/ibm

[2020-05-20 22:34] ChengJin01 commented on #5058
Doubled-checked the generated cross-build and the build compiled with the same cross-build as the build-jdk on the Fedora_raw/QEMU, which work good on the Debian_riscv/U540.
[code]
Will get started to set up the test environment intended for OpenJ9 test suites. (Need to review the existing test changes previously ran on the emulator & modify accordingly as the OpenJ9 test framework changed earlier

[2020-05-20 22:58] ChengJin01 opened #9634 "Enable OpenJ9 tests on RISC-V (without JIT)"
The issue is created to keep track of all PRs from different repos (OpenJ9, AdoptOpenJDK, etc). Given that the OpenJ9 test framework was modified earlier this year (e.g. part of setting were moved to https://github.com/AdoptOpenJDK/TKG), the test changes previously ran on the QEMU should be updated accordingly to fit in the latest setting of the test environment.

These PRs mainly includes the set

[2020-05-20 23:59] ashu-mehra commented on #6811
I came across this openjdk bug report: https://bugs.openjdk.java.net/browse/JDK-8230305 which says JDK15 has added support for cgroup v2

[2020-05-21 00:56] JasonFengJ9 opened #9636 "JDK11 mac_xl build failed : Segmentation error vmState=0x0002000f"
Failure link
------------

From an internal build `Build_JDK11_x86-64_mac_xl_Nightly/87`:

Optional info
-------------

- intermittent failure (yes):

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-05-21 01:03] JasonFengJ9 opened #9637 "JDK8 Windows MauveSingleInvocationLoadTest_special_23_FAILED : Uncaught exception from user code"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_x86-64_windows_xl_Nightly_mauveLoadTest/19`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following l

[2020-05-21 01:52] tajila commented on #9627
@andrewcraik ^^

[2020-05-21 03:09] #9618 closed

[2020-05-21 03:10] ashu-mehra commented on #9616
`omrsysinfo_get_memory_info` provides swap information and it seems to be retrieving swap memory in the container as well.

https://github.com/eclipse/omr/blob/4712be2311a0625625bdc48d75d2589b1bfab312/include_core/omrport.h#L603-L604
https://github.com/eclipse/omr/blob/4712be2311a0625625bdc48d75d2589b1bfab312/port/unix/omrsysinfo.c#L2576
https://github.com/eclipse/omr/blob/4712be2311a0625625bdc48d

[2020-05-21 03:34] DanHeidinga commented on #6811
@ashu-mehra are you able to add cgroup v2 support to openj9?

[2020-05-21 03:39] DanHeidinga commented on #9405
I think we can close this

[2020-05-21 03:39] #9405 closed

[2020-05-21 04:48] DanHeidinga commented on #9625
@babsingh can you take a look at this?  There's some changes since the previous incubation of this feature

[2020-05-21 08:56] vishals9 opened #9639 "WebSphere Liberty Code Dump Generated while running application with java instrumentation agent"
Java -version output

java version "1.8.0_221"
Java(TM) SE Runtime Environment (build 8.0.5.40 - pxa6480sr5fp40-20190807_01(SR5 FP40))
IBM J9 VM (build 2.9, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20190802_424001 (JIT enabled, AOT enabled)
OpenJ9   - 106f6ce
OMR      - fe07f6f
IBM      - af2a365)
JCL - 20190712_01 based on Oracle jdk8u221-b11
Output from `java -version`.
If the shas are

[2020-05-21 09:08] andrew-m-leonard opened #9640 "AIX jdk11 jtreg java/lang/ProcessBuilder/Basic_id0: environment contains "MALLOCOPTIONS=multiheap,considersize""
Failure link
------------
J9 is adding MALLOCOPTIONS=multiheap,considersize, to system LIBPATH, which this test checks.
If this is correct, then we will need to patch the test:
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix/66/console
[code]

[2020-05-21 11:09] edrevo commented on #9600
Many thanks everyone for the help. I'll go ahead and close the issue since it seems to be fixed already in https://github.com/eclipse/openj9/pull/9418.

[2020-05-21 11:09] #9600 closed

[2020-05-21 11:22] edrevo commented on #9622
I can run commands into the containers, but for whatever reason the dumps aren't being created in the container's filesystem (and I can't access the host's filesystem).

I have continued to tweak my JAVA_OPTS to deal with #9600 and with my latest JAVA_OPTS (basically, I have re-enabled AOT: `-Xtune:virtualized -Xshareclasses:cacheDir=/jvmcache,nonfatal,name=core-openj9-020 -Xaot:loadExclude={akka/

[2020-05-21 11:22] #9622 closed

[2020-05-21 12:17] DanHeidinga commented on #9639
Crash in the JIT while inlining.  Likely a null dereference?
[code]
[code]

[2020-05-21 12:54] mpirvu commented on #9622
As an FYI, in the upcoming release (0.21) under -Xtune:virtualized we have reduced the maximum scratch memory  space a compilation thread can use from 256M to 16M. This means much smaller memory spikes, but a few expensive compilations may need to be performed at a lower optimization level, degrading long term throughput by a few percentage points. We thought this was a good tradeoff.

[2020-05-21 13:27] AlenBadel opened #9641 "Centralize Large Page Parsing"
### Background
**See related options docs**:
[-Xlp](https://www.eclipse.org/openj9/docs/xlp/)
[-Xlp:codecache](https://www.eclipse.org/openj9/docs/xlpcodecache/)
[-Xlp:objectheap](https://www.eclipse.org/openj9/docs/xlpobjectheap/)

**Xlp options and their respective impacted components.**
| Option  | CodeCache |  Objectheap |
| ------------- | ------------- | ------------- |
| `-Xlp `| N/A  | X |

[2020-05-21 14:00] pshipton opened #9642 "OpenJDK11-Acceptance TestZoneInfo310 availableIds don't match"
https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK11-Acceptance/72/
All platforms are failing
sun/util/calendar/zi/TestZoneInfo310.java
[code]

[2020-05-21 14:10] tajila commented on #9627
@gacholio

could those args be stored in the temp slots on vmThread?

[2020-05-21 14:12] pshipton commented on #9382
Finally managed to catch this in action.
[code]

[2020-05-21 14:16] AlenBadel commented on #9641
FYI @DanHeidinga

[2020-05-21 14:17] pshipton commented on #9382
@gita-omr @AlenBadel I assume this a dup of https://github.com/eclipse/omr/issues/5220 ?

[2020-05-21 14:17] pshipton commented on #9382
@Mesbah-Alam can you please look at why the tests are getting a seg fault, generating core, but still passing.

[2020-05-21 14:43] AlenBadel commented on #9382
The stack looks similar, but what we've been seeing is a stack overflow rather than a segmentation fault. Could it be an invalid TR_StructureSubGraphNode within the graph?

[2020-05-21 14:44] pshipton commented on #9382
Tried to grab a core file just in case, but the test timed out and removed the directory before I was finished. Can try again the next time I see this, if necessary.

[2020-05-21 14:50] pshipton opened #9644 "HCRLateAttachWorkload_0 crash vmState=0x00050cff"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/373
HCRLateAttachWorkload_0
[code]

[2020-05-21 14:52] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/370
[code]

[2020-05-21 14:55] pshipton commented on #9640
It's not correct. MALLOCOPTIONS should be added to the environment, but not the LIBPATH.

[2020-05-21 14:58] pshipton commented on #9640
This was spotted earlier in https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/36

[2020-05-21 15:06] keithc-ca commented on #9620
I managed to reproduce this locally: Investigating.

[2020-05-21 15:12] raguks commented on #9443
2. While OpenLiberty operator has been around for a year, use of runtime-component-operator is new (roughly 1.5 months ago). Yes we need to explore its use. However, I think we need to do this in steps once we have a basic helm chart out.

[2020-05-21 15:13] pshipton commented on #9640
I don't think MALLOCOPTIONS is in the LIBPATH, it's just in the environment, which is correct behavior. We added this intentionally, https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/287

[2020-05-21 15:18] dnakamura commented on #9620
I also managed to reproduce. Looked into it and it appears that we are no longer creating flattened debug info which means the debug info that ddrgen is attempting to open is a folder and not a file. Not sure why the restart passed, based on the issue it should be happening consistently. Currently have a fix pending in omr

[2020-05-21 15:20] pshipton commented on #9444
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/365
testDDRExt_General_openj9_0
osx1014-x86-1
[code]

[2020-05-21 15:21] pshipton commented on #9620
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_mac_cm_Nightly/12

[2020-05-21 15:23] gacholio commented on #9627
Possibly, but that would end up being at least as much space in the cache.

[2020-05-21 15:27] DanHeidinga commented on #9644
/# java -Xjit:vmstate=0x00050cff
vmState [0x50cff]: {J9VMSTATE_JIT_CODEGEN} {localDeadStoreElimination}

[2020-05-21 15:39] #9558 closed

[2020-05-21 15:48] keithc-ca commented on #9620
See eclipse/omr#5199.

[2020-05-21 15:56] cathyzhyi commented on #8838
so the invalid `Ljava/util/Comparator;` object is read by a `StaticFieldGetterHandle` from the static field of `om/zelix/_2.j (Ljava/util/Comparator;)`

[2020-05-21 17:01] pshipton commented on #9640
The test creates an empty environment, adds the LIBPATH, and expects the child process to only contain the same LIBPATH. However it also contains the MALLOCOPTIONS since that is set by the JDK.

@andrew-m-leonard you mentioned patching the test. Why would this one get patched when many others have been excluded instead?

[2020-05-21 17:08] pshipton commented on #9637
Seems like a machine problem if it only occurred in a single test, I'd expect all the testing to fail otherwise. Although the path looks funny `openjdk-tests/\TKG\test_output_15899681023721`
@Mesbah-Alam fyi

[2020-05-21 17:15] pshipton commented on #9637
Actually, it occurred in the following tests. However they are the last 3 tests run, it could be out of space on the disk, or something.
MauveSingleInvocationLoadTest_special_12
MauveSingleInvocationLoadTest_special_23
MauveSingleInvocationLoadTest_special_24

[2020-05-21 17:57] Mesbah-Alam commented on #9637
Reran one of the failing tests in Grinder and it passes: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7991/console

Reran it on the same machine, it passes there toio: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7992/consoleFull

There doesn't seem to be any test set up issues (related to Perl or Cygwin) either - as similar tests are passing in the same build.

[2020-05-21 18:13] pshipton commented on #9637
I had a similar experience running the test in a grinder, it worked fine. I expect the problem is intermittent. Fairly frequently it occurs in the OpenJ9 overnight builds. Is there something in particular you'd like to see next time it occurs?

[2020-05-21 18:14] pshipton commented on #9637
Sorry, ignore the previous. I was thinking of a different problem.

[2020-05-21 18:17] Leonardo2718 commented on #8823
Alright, with @liqunl's help, I've been able to make some progress on narrowing down this issue.

The immediate failure is caused by the JIT inlining the wrong target function. However, this seems to happen because the Java bytecode being compiled is itself incorrect, as explained in [1], which causes the inliner to get confused (not yet sure exactly how).

I'm not sure yet why the bytecode is inc

[2020-05-21 18:30] JasonFengJ9 commented on #9637
A quick note, this failure has been observed in at least last three nightly builds at different machines.

[2020-05-21 18:44] dmitripivkine commented on #9636
This crash occur in `javac`and JVM version seems is very old: `JRE 11 Mac OS X amd64-64 (build 11.0.1+13-201812131909)`. This version does not support DDR so any progress in investigation is questionable. I believe we need to upgrade machine(s) to newer version of Java.
@pshipton @jdekonin

[2020-05-21 18:48] andrew-m-leonard commented on #9640
@pshipton
Probably because I wasn't thinking what I was saying! :-) However, the test in question the processBuilder.Basic, (https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/d6ccd89fcb7d919ffa2949b82ff0dec305f6f1a8/test/jdk/java/lang/ProcessBuilder/Basic.java)
Performs many many tests under this single testcase, so excluding it will exclude just about all the ProcessBuilder testing... as y

[2020-05-21 19:13] pshipton commented on #9640
I'm good to patch it to keep the test running. I was just wondering your reasoning.

[2020-05-21 19:34] jdekonin commented on #9636
osx1013-x86-3 and osx1013-x86-4 were both running old SDKs as well, same version.  These are the only systems that OpenJ9 uses for compiling JDK11+.  I have updated both to the most current JDK11 from Adopt.  I've left the original SDK on the filesystem for a quick revert if need be.

[code]

For internal systems, I'll create a separate issue for tracking and add you @dmitripivkine for your awaren

[2020-05-21 19:45] Leonardo2718 commented on #8823
To clarify, I think the problem might be that the class file is not loaded correctly.

[2020-05-21 19:51] ChengJin01 commented on #9501
@dmitripivkine & @LinHu2016,
Even though the problem was only detected on `Fedora_stage4 `(never occurred on `Fedora_raw`), it is hard to determine whether the `log() ` call literally works correctly on `Fedora_raw `(probably still ended up with wrong value but never went out of the scope).  Given that this type of Linux-based OS is brand-new and might be not quite mature as compared to other plat

[2020-05-21 20:04] dmitripivkine commented on #9501
'log()' calculation is a fundamental part of system library. I don't see any reason we should modify correct code to have "workaround" for bogus environment

[2020-05-21 20:09] dmitripivkine commented on #9501
Thread crashed an attempt to *call* system library with PC `NULL` or garbage. It is hard to tell about "wrong" value in this case

[2020-05-21 21:28] ChengJin01 commented on #9501
Just talked to @dmitripivkine, to rule out the possibility with the cross-compilation, I will generate a build directly on stage4/QEMU to see whether how it goes. If it still crashes on GC in the same way, then the crash has nothing to do with the cross-compilers.

[2020-05-21 21:29] dmitripivkine commented on #9501
We can disable Large Object Allocation Stats feature for RISC-V platform. This might be inconvenient as any exception but doable.
However this is direct violation of c++ spec requirements. By tolerating this we don't know what failed next. sqrt()? exp()? Is this problem limited to math functions only or it is wider?
And what is most scary that intermittence of the problem. If I am understanding pr

[2020-05-21 22:13] #9293 closed

[2020-05-21 22:21] pshipton commented on #9278
Fixed by https://github.com/eclipse/openj9/pull/9485

[2020-05-21 22:21] #9278 closed

[2020-05-21 22:21] pshipton commented on #9293
Fixed by https://github.com/eclipse/openj9/pull/9485

[2020-05-21 23:04] dmitripivkine commented on #9501
After discussion with @ChengJin01 and reading compiler manual we decided we can try two experiments:
- use `__builtin_logf()` instead `logf()`
- use `log()` (ISO C90 function) instead of `logf()` (ISO C99 function) (based on idea there is no problem (?) with `sqrt()` - also ISO C90 function)

[2020-05-22 02:58] LinHu2016 commented on #9501
yes, there are a couple of log() calls at the jvm initialization, also base on javacore the crash was happened at no. 1xx local GC(did not crash at first GC), the crash might be sensitive about the value of argument.

[2020-05-22 03:02] Akira1Saitoh opened #9650 "Investigate aarch64 cache architecture and implement allocation prefetching"
Allocation prefetching is not implemented in the current `VMnewEvaluator` of aarch64 code generator.
This issue tracks the work to investigate aarch64 cache architecture and implement allocation prefetching.

[2020-05-22 03:04] LinHu2016 commented on #9501
we might not try to use log() instead of logf(), because we had the issue also on risc-v, which log(double arg) return wrong result, when the arg are the certain sizes.

[2020-05-22 04:43] DanHeidinga commented on #8823
[code]

top method:
[code]
Next method:
[code]

[2020-05-22 04:46] DanHeidinga commented on #8823
Bytecodes:
[code]

[2020-05-22 05:04] DanHeidinga commented on #8823
I can confirm the 0th slot is a LinkedList:
[code]
and on the stack:
[code]
which is this object:
[code]

Looking further at the `removeIf` call, we must be at
[code]

One oddity, the stackwalker says we're at `Bytecode index = 593` but we have to be at `601` for it to match the stack.

So the bytecodes and the stack look fine - which is what we'd expect as the verifier is enabled.

Back to the st

[2020-05-22 05:11] DanHeidinga commented on #8823
@Leonardo2718 the bytecode looks fine.  It has an uncommon pattern - writing back to the 0th arg which normally holds the receiver object for a virtual call - but nothing illegal or incorrect.  Note, the method with the bad inline is static so the receiver in a0 convention doesn't apply.

Even assuming the wrong type - that of a0 - doesn't explain in the bad inlining choice as the target is of a d

[2020-05-22 12:39] pshipton commented on #9354
@r30shah what is the outlook for fixing this?

[2020-05-22 12:43] pshipton opened #9651 "java/lang/ref/FinalizeOverride timeout running jstack"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_Nightly/61
java/lang/ref/FinalizeOverride.java
[code]

[2020-05-22 12:44] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_linux_Nightly/93
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-05-22 13:58] dmitripivkine commented on #9501
I believe the problem was use `log()` with float argument. If, for example as a test, we change all related variable types to `double` it should work.

[2020-05-22 14:19] pshipton commented on #9642
This fails on Hotspot 11.0.8+4 as well.
[code]

Excluded via https://github.com/AdoptOpenJDK/openjdk-tests/pull/1793

[2020-05-22 14:21] pshipton commented on #9642
This issue stays open in order to validate the test is passing on a later build, and then remove the exclude.

[2020-05-22 14:32] gita-omr commented on #9382
@IBMJimmyk fyi.

[2020-05-22 14:44] pshipton commented on #9382
Didn't re-occur in the builds last night.

[2020-05-22 14:55] IBMJimmyk commented on #9382
From the previous comment
[code]

It crashed at `stdu   r1,-192(r1)` and that's updating the stack pointer. Combine that with the long stack of calls to `findCycle` and I think this is still the same stack overflow problem.

If possible you could try looking at what value was in $r1. If it's complete garbage, that's a bad sign and the problem might be something else. But I suspect it will just be

[2020-05-22 15:54] cathyzhyi commented on #4549
So here is the current state of the `opCodeFor` APIs:
1.  array has its own APIs:  `opCodeFor(In)directArrayLoad/store`
2. `opCodeForCorresponding(In)directStore/Loads` APIs are only used in PRE and FieldPrivatizer and created because of array. `bload` `bstorei`. However, I feel this group of APIs are redundant. we could have just used the APIs from 1 since array shadow is easy to tell.
3. `opCode

[2020-05-22 15:57] r30shah commented on #9354
@pshipton  I have safe fix I have tested through internal builds ready.
https://github.com/r30shah/openj9/commit/6e5df2c034c3675ba29a23a266e606012f37085b
https://github.com/r30shah/omr/commit/356dc0f2c48dc87e2b5fe423d4b0e5d25c4fdd91

I am holding on opening up PR with this is not most optimal fix (but the safest one) as it adds a branch to assembly glue from the  PicBuilder before calling C functi

[2020-05-22 16:39] pshipton commented on #9442
I note openjdk test jdk/internal/loader/NativeLibraries/Main.java is failing, which is likely realated to this.
[code]

[2020-05-22 16:50] smithwil opened #9654 "sigquit not handled after Apache Kafka installs handlers for TERM, INT and HUP"
SIGQUIT is often used to ask the JVM to take a javacore or other
dumps.

Apache Kafka has some code that installs signal handlers for signals TERM, INT and HUP, but not QUIT.

https://github.com/apache/kafka/blob/trunk/clients/src/main/java/org/apache/kafka/common/utils/LoggingSignalHandler.java

With earlier J9 versions, Apache Kafka users could still send sigquit
to the J9 JVM to request dumps,

[2020-05-22 16:53] pshipton opened #9655 "jdk15 BigInteger/PrimeTest.java failing on zlinux, others timeout"
These initial results are from internal testing, but I've started an open build https://ci.eclipse.org/openj9/job/Pipeline-Release-Build/204/

job/Test_openjdknext_j9_sanity.openjdk_s390x_linux_Nightly/179
job/Test_openjdknext_j9_sanity.openjdk_s390x_linux_xl_Nightly/81
java/math/BigInteger/PrimeTest.java
[code]

java/math/BigInteger/BigIntegerTest.java
com/sun/crypto/provider/Cipher/RSA/TestOAEPP

[2020-05-22 16:53] pshipton commented on #9655
@JasonFengJ9 @fjeremic fyi

[2020-05-22 16:55] JasonFengJ9 commented on #9442
Yeah, that's #9018.

[2020-05-22 16:57] JasonFengJ9 commented on #9655
It looks like https://github.com/eclipse/openj9/issues/9331.

[2020-05-22 16:57] pshipton commented on #9328
A number of openjdk tests are failing related to hidden classes, which makes sense consider the current impl is a hack until they can be properly implemented.

 java/lang/invoke/defineHiddenClass/BasicTest.java.BasicTest
 java/lang/invoke/defineHiddenClass/HiddenNestmateTest.java.HiddenNestmateTest
 java/lang/invoke/defineHiddenClass/LambdaNestedInnerTest.java.LambdaNestedInnerTest
 java/lang/invo

[2020-05-22 17:02] pshipton opened #9656 "jdk15 openjdk String/concat failures"
https://ci.eclipse.org/openj9/job/Pipeline-Release-Build/204/
java/lang/String/concat/CompactStringsInitialCoder.java.CompactStringsInitialCoder
java/lang/String/concat/ImplicitStringConcat.java.ImplicitStringConcat
java/lang/String/concat/ImplicitStringConcatArgCount.java.ImplicitStringConcatArgCount
java/lang/String/concat/ImplicitStringConcatAssignLHS.java.ImplicitStringConcatAssignLHS
java/lan

[2020-05-22 17:02] pshipton commented on #9656
@JasonFengJ9 @DanHeidinga fyi

[2020-05-22 17:06] #9655 closed

[2020-05-22 17:06] pshipton commented on #9331
@fjeremic fyi

[2020-05-22 17:07] pshipton commented on #9331
I've started an open build https://ci.eclipse.org/openj9/job/Pipeline-Release-Build/204/

job/Test_openjdknext_j9_sanity.openjdk_s390x_linux_Nightly/179
job/Test_openjdknext_j9_sanity.openjdk_s390x_linux_xl_Nightly/81
java/math/BigInteger/PrimeTest.java
[code]

java/math/BigInteger/BigIntegerTest.java
com/sun/crypto/provider/Cipher/RSA/TestOAEPPadding.java
`Agent 1 timed out with a timeout of 960

[2020-05-22 17:09] smithwil commented on #9654
a similar issue was fixed before in #1984

[2020-05-22 17:12] pshipton commented on #9354
Correct, the 0.21 release, for which the branch occurs June 7. The test often fails and there hadn't been any update for 18 days since `Working on creating a PR with fix.`.

[2020-05-22 17:15] andrewcraik commented on #4549
@cathyzhyi do you see the new `dataTypeToNodeType` living in OMR? If so we need to discuss this with the OMR community before we can settle on a design. I guess the uses of dataTypeToNodeType will be primarily confined to ilgen - do yo use a need for it in any optimizations?

The use of the other APIs seems reasonable. I guess my main concern with the added complexity of having to call the right A

[2020-05-22 17:20] pshipton commented on #9654
@babsingh fyi

[2020-05-22 19:19] keithc-ca commented on #9549
With the help of `gdb`, I learned that in the 'before' core, the executable corresponds to the section at file offset 0x03a10000. As noted above, that is shared object (type 3) section. Hopefully, `jdmpview` can be fixed to recognize that section as the appropriate shared object.

[2020-05-22 20:03] DanHeidinga commented on #9656
I'm surprised to see that works on Hotspot.  We deliberately introduced code to make that illegal.  I wonder when they removed it (and if they meant to?)

[2020-05-22 20:08] cathyzhyi commented on #4549
Actually, there are some cases that opts cook up nodes from symbols.  EA and LoopVersioner do that. Now I realize it's more common than I thought. Given this, I think we need to discuss with OMR community as well.

Yes, I agree. However, some use cases might use the descriptor string to determine type like in this case https://github.com/eclipse/openj9/blob/4cbf03a3e89509b42424a4e3fa768f9c896ffe5f

[2020-05-22 20:11] pshipton opened #9657 "jdk15 sun/misc/UnsafeFieldOffsets.java Compilation failed"
https://ci.eclipse.org/openj9/job/Pipeline-Release-Build/204/
sun/misc/UnsafeFieldOffsets.java
Compilation failed
[code]