[2018-03-20 19:43] AdamBrousseau commented on #1488
I think it may check the PR descriptions as well as the commit(s), but I'm not 100% sure. Either wayu, won't matter going forward.

[2018-03-20 20:01] AdamBrousseau commented on #1488
Done

[2018-03-20 20:01] #1488 closed

[2018-03-20 20:43] #1463 closed

[2018-03-20 21:49] ChengJin01 commented on #1032
Temporarily dealing with security test failures in MethodHandle APIs. Will get back to address the test failures captured in personal builds once the security work gets completed.

[2018-03-20 22:38] JamesKingdon commented on #1483
Sorry, there are no specifics in the notes left by the previous developer. The closest I get is

I foolishly assumed the problem was well known.

[2018-03-20 22:50] dmitripivkine commented on #1429
Plan 1 looks slightly better for me. Code in OpenJ9 needs to be better.

[2018-03-21 00:11] JamesKingdon commented on #1483
Ok, it looks like I've been a doofus. The problem appears to be specific to the IBM JDK and doesn't manifest when running OpenJ9. Closing, sorry for the noise.

[2018-03-21 00:11] #1483 closed

[2018-03-21 02:05] pshipton commented on #1408
It may be useful to post a message any time an invalid jenkins command is entered, in the case of a typo or forgotten syntax. I think we could limit it to a simple message like "Invalid jenkins command, see [1]", which would avoid having to keep help output up to date. Afterwards the comment could be deleted by any committer to avoid cluttering the discussion.

[2018-03-21 02:13] pshipton commented on #577
Fixed by #1471

[2018-03-21 02:13] #577 closed

[2018-03-21 04:16] smlambert commented on #1468
We should decide on what format we want to use in the excludes and then enforce that.

Originally we added this "excludes.txt" technique so that we could mimic the same format as what the openjdk regression tests use (keep things common).  However, for the openjdk regression exclude files, they have their own list of accepted platforms to use, so there are currently 3 options for us to choose from

[2018-03-21 04:25] smlambert commented on #170
Closing this discussion now, as I believe that we have a satisfactory/working approach to this ([summarized above](https://github.com/eclipse/openj9/issues/170#issuecomment-338210003)), with the addition of TestUtilities (Dan's /test/common idea and in fact is likely a better name) which can be used for both reusable test code and in the event that the Base test class can not be housed in Java8And

[2018-03-21 04:25] #170 closed

[2018-03-21 04:30] smlambert commented on #981
If ghprb-plugin#168 doesn't resolve it, I think we can/should just turn off that counter off to avoid confusion (as briefly discussed today).

I believe all other parts of this issue have been addressed.

Does anyone object to this issue being closed?  I will plan to close it late tomorrow, if not.

[2018-03-21 07:05] ashu-mehra commented on #1429
(rc != 0) check is enough for caller

Idea is to increase default max heap only if there is a memory limit imposed by container. If container is not imposing any limit, we don't want to do anything.
For that I have updated `sysinfo_cgroup_get_memlimit()` to set limit to -1 if memory limit is not specified. That's the reason for the check `cgroupMemory == -1`.

[2018-03-21 12:57] keithc-ca commented on #1408
That works for me as long as mentions of jenkins in this comment and the previous one don't trigger the 'invalid command' response.

[2018-03-21 13:19] DanHeidinga opened #1493 "[Build] OpenJ9 JDK8 doesn't compile on RedHat 7"
Looking at the Extensions repo, I see two issues related to hangs when building OpenJ9 on RedHat 7:
- https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/7
- https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/45

We should work through fixing the makefiles to ensure OpenJ9 compiles on RHEL... or use the equivalent Fedora level.

[2018-03-21 14:07] dmitripivkine commented on #1429
My point is from user perspective I can not see difference (or no special handling) between cases:
- sysinfo_cgroup_get_memlimit() returns 0 (may I say "enabled"?) but limit is not set and
- sysinfo_cgroup_get_memlimit() returns non-zero ("disabled")

[2018-03-21 15:03] AdamBrousseau commented on #660
1354 has been merged

[2018-03-21 15:03] #660 closed

[2018-03-21 15:41] AdamBrousseau commented on #1408
Builds are launched based on a regex. I don't see how we could create such a regex that would recognize only bad syntax.

[2018-03-21 15:53] keithc-ca commented on #1408
Maybe restrict the responses to those (bad) comments that start with 'jenkins ...' and ignore those where jenkins isn't the first word?

[2018-03-21 16:04] TianyuZuo commented on #362
verified with
[code]
cmdLineTester_classesdbgddrext passed,
cmdLineTester_dumpromclasstests failed due to lack of libjvmtitest.so file
[code]
I will prepare a PR for cmdLineTester_classesdbgddrext.

[2018-03-21 16:43] pdbain-ibm commented on #1255
This was probably a machine issue.  Please open a new issue if the problem recurs.

[2018-03-21 16:43] #1255 closed

[2018-03-21 16:51] ashu-mehra commented on #1429
Got your point. I can update sysinfo_cgroup_get_memlimit() to return negative error code when limit is not set.

[2018-03-21 17:01] dmitripivkine commented on #1470
Can we add generation of GC verbose log to the job? As I remember this test does not look to fact that object heap shrinks but memory returns back to OS. This might be a problematic for Hypervizer environment

[2018-03-21 17:36] ashu-mehra commented on #1428
I can understand `-XX:MaxRAMPercentage` would specify maximum percentage of RAM that java heap can occupy. Similarly, `-XX:InitialRAMPercentage` would be percentage of RAM that java heap starts with.
But I can't make out what `-XX:MinRAMPercentage` option is for? Does it mean minimum percentage of RAM memory that java heap should occupy? I can't understand why would someone want to specify that. I

[2018-03-21 17:50] dmitripivkine commented on #1428
Sounds like -XX:MinRAMPercentage is alias of -XX:InitialRAMPercentage

[2018-03-21 17:51] SueChaplain opened #1497 "Create a dockerfile for OpenJDK 10 builds and update v8 & v9 dockerfiles"
/buildenv/docker/* dockerfiles  for Java 8 & 9 pull  OpenJDK builds from Ubuntu as the bootjdk images. These should be replaced with Adopt builds.

We also need a dockerfile for Java 10 which we can link to from the OpenJ9 website build page:
https://www.eclipse.org/openj9/oj9_build.html

[2018-03-21 18:17] mpirvu commented on #1429
To be conservative I would leave 512M for VM/JIT (one compilation thread can use up to 256M).
Thus, for Java9 the logic when using container limits could become

Physical memory (P) | Default max heap size (H)
---|---
< 1G |  P/2 (as before)
1G - 2G | P-512M
2G | 3/4P

[2018-03-21 18:51] ashu-mehra commented on #1428
Doesn't look like they are same.
If I just specify `-XX:MinRAMPercentage`, I don't see any change in initial heap size.
With `-XX:InitialRAMPercentage`, initial heap size gets updated as per the value given.
In the examples below, I am running jdk10 in a container with 2G memory limit.

[code]

[2018-03-21 20:35] AdamBrousseau opened #1502 "Cannot currently test JenkinsFile changes in a PR build without a separate configured build"
Because the PR builds currently checkout the JenkinsFiles from eclipse/openj9:master. If you make JenkinsFiles changes and launch a PR build, you won't actually be testing your changes.

The [GH PullRequest Builder Plugin](https://wiki.jenkins.io/display/JENKINS/GitHub+pull+request+builder+plugin) passes a number of parameters to the the job including `sha1` which equals `origin/pr/<PR_ID>/merge`.

[2018-03-21 20:43] eric98zhang commented on #1387
updated description of initial layout strategy and added examples

[2018-03-21 20:57] AdamBrousseau commented on #1502
Note: This only works for OpenJ9 PRs. PR builds configured for the extensions repo will continue to be configured to pull eclipse/openj9:master

[2018-03-21 23:10] eric98zhang opened #1503 "Valhalla LWVT: Optimize value types"
# Flattenable Instance Fields

From issue #1387:

The following examples (adapted from #1387) use 32-bit references.

### Example 2:
[code]
Flattened value type fields should use superclass backfill when possible. In this case, there is no alignment problem preventing `flat` from beginning a slot earlier.

In general, if a flattened value type field requiring only single-slot alignment follows the

[2018-03-21 23:47] AdamBrousseau commented on #1502
Done

[2018-03-21 23:47] #1502 closed

[2018-03-22 02:49] smlambert commented on #1470
Fails on [ub16-ppcle-4](https://ci.eclipse.org/openj9/computer/ub16-ppcle-4/),
passes on [ub16-ppcle-2](https://ci.eclipse.org/openj9/computer/ub16-ppcle-2/), [ub16-ppcle-1](https://ci.eclipse.org/openj9/computer/ub16-ppcle-1/)

Have not seen it run on ppcle-3.

If its isolated to failing on ub16-ppcle-4, then this failure could have been introduced as early as March 15 (https://ci.eclipse.org/ope

[2018-03-22 02:53] smlambert commented on #1470
Interestingly, it is not observed in extended PR testing, only in the extended nightly testing.

[2018-03-22 11:00] pshipton commented on #1478
#1460 is merged, but another blocker #1466 is still pending.

[2018-03-22 11:02] pshipton commented on #1478
#1439 is opened to cover #1466 so I'll close this one.

[2018-03-22 11:02] #1478 closed

[2018-03-22 11:06] pshipton opened #1506 "OpenJ9 pLinux, zLinux build machines need libdwarf-dev installed"
See https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/143#issuecomment-375137029
and https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/66#issuecomment-375137167

@jdekonin

[2018-03-22 12:05] jdekonin commented on #1506
Done.

libdwarf-dev libelf-dev added.  threw in libfontconfig1-dev for java10 while I was there.
zLinux - 148.100.33.172,173,174,175
pLinux - 140.211.168.13,14,49,16

[2018-03-22 12:58] pshipton commented on #1506
Closing assuming all is good now.

[2018-03-22 12:58] #1506 closed

[2018-03-22 13:13] DanHeidinga commented on #1497
@babsingh Can you create the JDK 10 docker file?

The Extensions repo is at https://github.com/ibmruntimes/openj9-openjdk-jdk10 and should have content soon.

[2018-03-22 13:15] DanHeidinga commented on #1497
For the bootjdk, we should try to use an AdoptOpenJDK JDK9 build.  Adopt has an API that can be used to download specific binaries https://api.adoptopenjdk.net/README

Let's get the 10 dockerfile asap and then look at updating the 8/9 ones

[2018-03-22 16:22] andrew-m-leonard opened #1509 "JDK10 J9JCL preprocessor ugly "warnings""
clone and make https://github.com/ibmruntimes/openj9-openjdk-jdk10
and the J9JCL preprocessor issues some "ugly" warnings:
[code]

[2018-03-22 16:28] JasonFengJ9 commented on #1509
I just got this too. A PR will be submitted shortly.

[2018-03-22 16:52] pdbain-ibm commented on #1342
Test results on prototype.  From @andrewcraik :
- the runs on specj show an improvement - cycle count dropped 2.5% and instructions were down 0.5%
- looks like improved locality is part of the help cache misses seem to be down with the fix
probably b/c we run less native code etc

Many thanks to @andrewcraik and @cathyzhyi for speed turnaround on my questions and test runs.

[2018-03-22 16:54] AdamBrousseau commented on #1408
Not that I am aware or can see upon initial searches

[2018-03-22 17:24] #1509 closed

[2018-03-22 17:27] #1439 closed

[2018-03-22 17:28] fjeremic commented on #1381
@DanHeidinga we should provide a template for future release focus areas with the kind of information that should be filled out to give some sort of structure. I'll go first.

## Focus areas of the Z JIT code generator team

The Z JIT codegen team will predominantly be focused on performance in the next several months. In particular we are measuring that there is significant overhead that can be t

[2018-03-22 17:41] terryzuoty opened #1511 "enabling ddr related tests on OpenJ9 JDKs"
j9ddr.jar has been enabled on z, x and p linux.
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/66
https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/143

Some open sourced OpenJ9 tests will be re-enabled on supported platforms.
Windows does not support j9ddr.jar yet, so exclude running ddr related tests from win platforms.

[2018-03-22 17:56] pshipton commented on #1408
It doesn't actually need to be an "else". Can we keep track if a build was launched, and if no build was launched after doing the regular expression processing, and there is a command starting with "jenkins ..." then post?

[2018-03-22 18:08] AdamBrousseau commented on #1408
not easily, if at all

[2018-03-22 18:43] DanHeidinga commented on #1469
@JasonFengJ9 Can you take a look at this?

[2018-03-22 18:48] JasonFengJ9 commented on #1469
Sure, looking at it.

[2018-03-22 18:48] dmitripivkine commented on #1428
InitialRAMPercentage and MaxRAMPercentage seems are settings in %% from total RAM size for -Xms and -Xmx - range(0.0, 100.0)
However:
MinRAMPercentage (default value 50.0, range(1, max_uintx)) : Minimum percentage of real memory used for maximum heap (size on systems with small physical memory size)

[2018-03-22 19:21] babsingh commented on #1497
Started dockerfile work for OpenJDK 10 builds here: https://github.com/eclipse/openj9/pull/1514

[2018-03-22 23:25] JasonFengJ9 commented on #1469
Following command line option can workaround the compilation for `java.base` classes like `Class.java`:
`javac --patch-module java.base=. java/lang/Class.java`.

[2018-03-22 23:48] pshipton commented on #1469
@cathyzhyi is your build Java 8 or 9?

[2018-03-23 02:24] JasonFengJ9 commented on #1469
For `Java 8`, use command line `javac java/lang/Class.java`.

[2018-03-23 13:22] llxia commented on #1409
Following sanity system test build can be manually launched:
[Test-Sanity-System-JDK8-aix_ppc-64_cmprssptrs](https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-System-JDK8-aix_ppc-64_cmprssptrs/)
[Test-Sanity-System-JDK8-linux_390-64_cmprssptrs](https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-System-JDK8-linux_390-64_cmprssptrs/)
[Test-Sanity-System-JDK8-linux_ppc-64_cmprssptrs_le](ht

[2018-03-23 14:26] JasonFengJ9 commented on #1430
Will look at this.

[2018-03-23 14:39] dmitripivkine commented on #1301
Jenkins test sanity pLinux jdk8

[2018-03-23 16:32] hangshao0 opened #1519 "Add shared classes testing code for nested jar"
Tests should be added to test the shared classes support for nested jar once https://github.com/eclipse/openj9/pull/1500 is merged.

[2018-03-23 16:39] Mesbah-Alam opened #1520 "OpenJDK8-OpenJ9 SDK throws java/lang/UnsatisfiedLinkError while attempting to access JLM password file"
The security enabled SVT JLM tests have a step where they attempt to access a password file on disc. These tests fail if run with **OpenJDK8-OpenJ9** SDK while attempting to access the password file, with following UnsatisfiedLinkError:

[code]

**Note**: The same test works fine on OpenJDK 8 hotspot and IBM Java 8 SDK.

**Java versions**

Test **fails** with the _OpenJDK8-OpenJ9_:
https://ci.adop

[2018-03-23 17:10] #189 closed

[2018-03-23 17:20] andrew-m-leonard opened #1522 "JDK11: Intermittent BootstrapMethodError building/testing"
We are seeing intermittent build or test errors on our Jenkins builds of jdk11 head, is this an OpenJ9 MethodHandle issue?
See logs: https://hyc-rt-openjdk-jenkins.swg-devops.com/job/verify_ibmsdk_build/220/console
[code]

[2018-03-23 17:56] DanHeidinga commented on #1522
This is likely an issue with our implementation of `Unsafe.defineAnonymousClass`.  Likely missing setting the package correctly for the anonymous class.

[2018-03-23 18:04] DanHeidinga commented on #1522
`packageID` gets assigned in `internalCreateRAMClassFromROMClass` from `createramclass.cpp`.  We may need to do something special for anonymous classes there.

Might not be as straight forward as copying the `hostClass->packageID` as packageIDs can be looked up in a hashtable on the classloader....

[2018-03-23 18:10] pdbain-ibm opened #1524 "jdk_lang Test7157574 segfault"
[code]

[2018-03-23 18:11] pdbain-ibm commented on #1128
Another failure: https://github.com/eclipse/openj9/issues/1524
jdk_lang Test7157574 segfault
I am investigating.

[2018-03-23 18:21] #1301 closed

[2018-03-23 18:32] DanHeidinga commented on #1524
Given `InaccessibleAddress=0000000000000000`, likely a missing nullcheck somewhere

[2018-03-23 18:40] JasonFengJ9 commented on #378
Not sure if it is still relevant, i.e., if `OpenJ9` still replies on https://github.com/eclipse/openj9/blob/master/debugtools/DDR_Artifacts/supersets/29/superset.base.dat and its `superset` friends?

If so, these `superset` files haven't been updated since switching to GIT repo. Previously, they are updated during each ibuild to capture latest changes.

[2018-03-23 19:05] pshipton opened #1526 "Docker image for jdk8 s390x is using OpenJDK 7 as the boot JVM"
Two issues:
1. OpenJDK 7 for s390x doesn't have a JIT so its very slow
2. It doesn't necessarily work to build DDR which has recently been enabled for OpenJ9 zLinux builds.

The docker image can use https://hub.docker.com/r/adoptopenjdk/openjdk8-openj9/ instead

@jdekonin

[2018-03-23 19:36] JasonFengJ9 commented on #378
@keithc-ca explained that `OpenJ9 DDR` doesn't reply on these `superset` files.

[2018-03-23 20:10] pdbain-ibm commented on #1524
Here is a simple testcase:
[code]
We lookup a concrete method from j.l.Object. findVirtual() returns the concrete method but describes it as an interface method.  We run off the end of the iTable looking for the method.

[2018-03-23 20:27] jdekonin opened #1532 "Test failure on Power9"
SDK binary build on a ub16.04 machine with gcc 4.8.5.

Using openj9 test StringPeepholeTest_0, I get a failure in the subtest testBigDecimal0ToString.
Options that the test uses are ```-XX:-EnableHCR -Xjit:count=0,optLevel=hot```

Fails with
[code]

The same test passes on a Power8 ub16.04 machine with gcc 4.8.5.

[2018-03-23 21:30] JasonFengJ9 commented on #1430
Here is a `java/lang/Class/GenericStringTest.java` failure as per
https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/31/testReport/junit/java_lang_Class_GenericStringTest/java/GenericStringTest/
[code]
However I can't reproduce it with latest `OpenJ9` builds (AdoptOpenJDK `jdk-9.0.4+12` or latest OpenJ9 build) against latest `Java 9 JCK b68`.
[code]

Will att

[2018-03-26 01:48] DanHeidinga commented on #1532
FYI @zl-wang

[2018-03-26 02:51] DanHeidinga commented on #1524
The curse of Interfaces being able to lookup Object methods.  I think we're missing a check in `java_dyn_methodhandle.c::lookupinterface()` compared to the code in `resolvesupport.cpp::resolveInterfaceMethodRefInfo()`:

ie:
[code]

i.e. we should be checking whether the `methodClass` is an interface before calling `getITableIndexForMethod`

`hshelp.c` may have a similar problem.

[2018-03-26 03:01] DanHeidinga commented on #1520
@theresa-m Can you take a look at this?

[2018-03-26 12:32] zl-wang commented on #1532
@DanHeidinga @jdekonin  likely fixed here:  https://github.com/eclipse/omr/pull/2334

[2018-03-26 12:47] DanHeidinga commented on #1408
Can we add this as a Slack "slash command"?  Committers should (hopefully) be connected to the slack instance already.

[2018-03-26 12:52] jdekonin commented on #1532
The OMR change was merged 25 days ago; this error was reproduced on shas from 3 days ago.
OpenJ9 - 073ad04
OMR - b623c98
openj9-openjdk-jdk8 - 8599c6f

[2018-03-26 13:01] #1244 closed

[2018-03-26 13:05] pdbain-ibm commented on #1524
I think the problem is outside lookupinterface() and is in MethodHandles.java.  The class in question is in fact an interface, so the test doesn't help.

MethodHandles.findVirtual() assumes that if the given class is an interface, all methods are interface methods:
[code]

[2018-03-26 13:30] DanHeidinga commented on #1522
@pdbain-ibm If get a chance, can you take a look at this?

[2018-03-26 14:54] AdamBrousseau commented on #1408
I would argue that if the user is already at the repo on Github, it should be easier to find the Jenkins Readme than to go to Slack and request help.

[2018-03-26 16:02] pdbain-ibm commented on #1522
Will do.  How urgent is this?
@andrew-m-leonard do you have a standalone test case for this?  Would HelloWorld cause the problem?

[2018-03-26 17:25] pshipton opened #1538 "IBM HealthCenter agent does not run on OpenJ9"
Tried it on Windows, installing the wa64-3.0.14.20171017 agent.

java -Xhealthcenter results in the following
[code]

[2018-03-26 17:52] pshipton commented on #1408
I vote to close this issue and not bother providing any help output. We could create a document for commiters in the doc directory which would point to https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/README.md

[2018-03-26 18:06] AdamBrousseau commented on #1408
Agree

[2018-03-26 18:06] #1408 closed

[2018-03-26 18:31] pshipton opened #1539 "JDK8 : modify jdmpview to find code in tools.jar"
See https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/67.

jdmpview should find any required code in tools.jar instead of expecting it to be part of the runtime.

[2018-03-26 20:43] babsingh commented on #1497
Started work to update JDK9 (`buildenv/docker/jdk9/*`) Dockerfile(s) here: https://github.com/eclipse/openj9/pull/1541

[2018-03-26 21:06] snoobvn opened #1542 "OpenJ9 and JRebel Segmentation error"
It works fine with OpenJDK (nightly build) but not with OpenJDK with OpenJ9
Build: OpenJDK9-OPENJ9_x64_Win_20182203
Here is the full log: https://gist.github.com/snoobvn/0c1488f59baaf33ab4635a0c4addf56f
core.20180327.035809.4116.0001.dmp is a 1GB file so I can't post it here
[javacore.20180327.035809.4116.0002.txt](https://github.com/eclipse/openj9/files/1849537/javacore.20180327.035809.4116.0002.

[2018-03-26 21:14] pshipton commented on #1542
@dmitripivkine is there anything that can be done here without DDR?

[2018-03-26 21:47] pshipton commented on #1542
There was discussion about this problem on Slack in #newcomers. Seems JRebel may not be detecting OpenJ9 correctly, and incorrectly treating it as Hotspot.

[2018-03-26 22:12] pshipton opened #1543 "JDK10 sanity tests don't compile"
See the problem by running `jenkins test sanity <plat> jdk10`. We don't think the problem is platform specific.

https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-JDK10-aix_ppc-64_cmprssptrs/1/console

[2018-03-26 22:13] AdamBrousseau commented on #1543
Also
zlinux https://ci.eclipse.org/openj9/view/Pull%20Requests/job/PullRequest-Sanity-JDK10-linux_390-64_cmprssptrs-OpenJ9/1/console
plinux https://ci.eclipse.org/openj9/view/Pull%20Requests/job/PullRequest-Sanity-JDK10-linux_ppc-64_cmprssptrs_le-OpenJ9/1/console

[2018-03-26 22:15] dmitripivkine commented on #1542
Well, we can try to reproduce it in some less hostile environment... Looks like it is a startup time, so I guess kind of data mismatch.

[2018-03-26 22:17] babsingh commented on #1497
For JDK 8 DockerFiles, we won't be able to use Adopt builds since AdoptOpenJDK doesn't support OpenJ9 OpenJDK 7 builds.

An exception was made for JDK8 `s390x` DockerFile to use AdoptOpenJDK OpenJ9 OpenJDK 8 build as the boot jdk: https://github.com/eclipse/openj9/issues/1526.

[2018-03-26 22:29] pshipton commented on #1538
Using the same version on IBM Java works
[code]

[2018-03-26 23:12] Maldivia commented on #1542
This is a JRebel issue, we're doing some (nasty) stuff during very early VM startup, that in this case causes classes to try to be loaded too early.

[2018-03-27 00:39] pshipton commented on #1542
Closing

[2018-03-27 00:39] #1542 closed

[2018-03-27 01:21] DanHeidinga commented on #1538
The error looks very similar to:
https://www.ibm.com/developerworks/community/forums/html/topic?id=ac3e5db4-fba9-4348-a213-2a08feb6625d&ps=10

and https://xap-issues.atlassian.net/browse/XAP-13167 which offers a potential workaround which massaged a bit to the following might work:

[code]

[2018-03-27 03:28] pshipton commented on #1538
works

[code]

[2018-03-27 08:05] andrew-m-leonard commented on #1522
@pdbain-ibm Unfortunately not... it works fine on my personal VM, but when we run builds on our Jenkin build infrastructure which are huge 96 core 256GbRAM VMs it fails just about all the time and just occasionally works. Please see logs here: https://hyc-rt-openjdk-jenkins.swg-devops.com/view/OpenJDK%20Green%20Board/job/build_openj9_jdk_nightly/

[2018-03-27 12:54] #1282 closed

[2018-03-27 13:44] pshipton commented on #1538
I didn't notice earlier, but the OpenJ9 VM didn't exit when the healthcenter agent was started, but it should have.

[2018-03-27 13:49] DanHeidinga opened #1548 "Validate win32 javacores still work with OMR PR#2390"
https://github.com/eclipse/omr/pull/2390  modifies omrintrospection code to use a different API on win32.  There are reports (in that PR's discussion) that the api is broken on win32.

We need to validate that our javacores, which depend on that functionality to get native stacks, still work on win32.

[2018-03-27 13:49] DanHeidinga commented on #1548
@theresa-m Can you investigate this?

[2018-03-27 13:53] taliamccormick commented on #1457
Will be resolved by https://github.com/eclipse/openj9/pull/1501 and https://github.com/eclipse/openj9/pull/1531.

[2018-03-27 13:58] pdbain-ibm commented on #1543
[javac] /home/u0020236/workspace/Test-Sanity-JDK10-aix_ppc-64_cmprssptrs/openj9/test/JLM_Tests/src/org/openj9/test/java/lang/management/TestLoggingMXBean.java:56: error: package com.ibm.java.lang.management.internal is not visible
15:53:37     [javac] import com.ibm.java.lang.management.internal.LoggingMXBeanImpl;

[2018-03-27 14:01] JasonFengJ9 commented on #1430
Not able to reproduce the same failures.
Latest AdoptOpenJDK JCK test seems in state of `Finished: UNSTABLE` at https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_j9_openjdktest_x86-64_linux/42/console.

[2018-03-27 14:11] sophia-guo commented on #1430
@JasonFengJ9 tests are disabled. To reproduce you can launch a personal build : https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Personal-Test-Build-on-Jenkins

[2018-03-27 14:30] renfeiw commented on #1543
Looks like the logic in the build.xml causes this issue. Instead of doing `<equals arg1="${JAVA_VERSION}" arg2="SE90"/> ...addExports...`, we need to change it to if SE80 do not addExports, else addExport. We will have a PR to fix this.

[2018-03-27 14:49] AdamBrousseau opened #1550 "Intermittent failures compiling JDK10 on AIX"
[JDK8](https://ci.eclipse.org/openj9/view/Build/job/Build-JDK8-aix_ppc-64_cmprssptrs/),[JDK9](https://ci.eclipse.org/openj9/view/Build/job/Build-JDK9-aix_ppc-64_cmprssptrs/) appear to be stable on AIX.

We've had 2/15 Failures on JDK10 on AIX

Build jobs: (can be launched manually for testing purposes)
https://ci.eclipse.org/openj9/view/Build/job/Build-JDK10-aix_ppc-64_cmprssptrs/
Or launch via a

[2018-03-27 14:54] pshipton commented on #1538
`-Dsun.rmi.registry.registryFilter=javax.**` is sufficient to avoid the stack trace initially reported.

[2018-03-27 15:00] DanHeidinga commented on #1550
@JasonFengJ9 Can you take a look at this?

[2018-03-27 15:13] dmitripivkine opened #1552 "Unreleased memory allocations from JIT at shutdown"
There is a number of messages about unreleased malloc'ed memory segments from JIT in run with -Xcheck:memory. Would you please check that non of them might be a reason for memory leak?

There are some of them:
MethodMetaData.c:149 (mapTable in TR_StackMapTable())
CompilationThread.cpp:758 (_activeThreadName in CompilationInfoPerThread())
CompilationThread.cpp:759 (_suspendedThreadName in Compilati

[2018-03-27 15:15] dmitripivkine commented on #1552
@smlambert FYI

[2018-03-27 15:53] tajila commented on #1278
@taliamccormick can you take a look at this

[2018-03-27 15:54] pdbain-ibm opened #1555 "OpenJ9 PR#1554 Set InterfaceHandle correctly for methods inherited from Object"
Personal build:
http://vmfarm.ottawa.ibm.com/build_info.php?build_id=382472
https://urv-jenkins.canlab.ibm.com:9095/view/J9/job/jvm.29.personal/19225/

[2018-03-27 15:59] DanHeidinga commented on #1555
@pdbain-ibm Closing this as I think those internal build links weren't intended for here =)

[2018-03-27 15:59] #1555 closed

[2018-03-27 19:05] JasonFengJ9 commented on #1550
Yup, looking at it.

[2018-03-27 20:43] #206 closed

[2018-03-27 20:55] smlambert commented on #1470
This doesn't reproduce often, as it only fails on 1 of the 4 machines, and only in the nightly job (not in PR testing).  As such, I am removing the "prio:high" label.  We have added verbose gc logging and will look at that on next failure.

We should also determine in what ways machine 4 is different from the other 3.

[2018-03-27 21:16] AdamBrousseau opened #1562 "Update Jenkins node labels to match AdoptOpenJDK label schema"
Ref AdoptOpenJDK/openjdk-infrastructure#93

Since we will be reusing Adopt test JenkinsFiles (#1450), it would be a good idea to have the same node labelling schema. We should only add the labels we need.

We could also use [NodeHelper API](https://github.com/AdoptOpenJDK/openjdk-jenkins-helper) and [NodeLabel job](https://github.com/AdoptOpenJDK/openjdk-jenkins-helper/pull/14)
- [x] Add new label

[2018-03-27 21:17] AdamBrousseau commented on #1562
@llxia can you confirm which `os` label you want/prefer for test.
i.e. `sw.os.linux` or `sw.os.ubuntu` or `sw.os.ubuntu.16`

[2018-03-28 01:22] pshipton commented on #981
A recent PR build https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK9-linux_ppc-64_cmprssptrs_le-OpenJ9/183/ shows `'Build finished. 19982 tests run, 6 skipped, 0 failed.'` although 1 test failed.

[2018-03-28 04:08] AdamBrousseau commented on #981
Right, because the failed test only generated TAP output and the 'test results one-liner' is junit results. Which is one of the reasons why we should turn it off as Shelley suggested in the previous comment.

[2018-03-28 12:00] ben-walsh opened #1563 "Created files have a filename of only the first requested character"
When a file is created, it has a filename which is only the first character of the string specified.
This simple test shows the problem ...

[code]

... when it is compiled and run, the file that is created has a filename of "A" rather than the expected "ABC.txt" ...

[code]
Internally, at the Java layer, the filename seems to be as requested.

Tried a range of builds ...
latest adoptopenjdk openj

[2018-03-28 12:06] smlambert commented on #981
@AdamBrousseau - can you remove the one-liner or show me where to do that?

[2018-03-28 13:26] pdbain-ibm commented on #1563
Per discussion with @pshipton , I will investigate.

[2018-03-28 13:47] pshipton commented on #1563
Initial investigation indicates the problem is related to compact strings. Using -XX:+CompactStrings makes the test case work, although this option isn't fully supported by OpenJ9 yet.

[2018-03-28 13:51] theresa-m commented on #1520
The test is failing after this pr: https://github.com/eclipse/openj9/pull/1226

[2018-03-28 13:58] DanHeidinga commented on #1563
FYI @fjeremic

[2018-03-28 14:06] pshipton commented on #1520
It doesn't seem likely #1226 is the cause of this problem, but enables the test to work properly, which exposed this problem. The FileSystemImpl.isAccessUserOnly0 native is in libmanagement, but OpenJ9 replaces this library with a stub. We'll need to restore this native and perhaps others as well in order for the OpenJDK code to work properly.

[2018-03-28 14:10] pshipton commented on #1520
Looking at the list of natives in jdk/make/mapfiles/libmanagement/mapfile-vers, this may be the only native required. Not sure about sun_management_Flag natives. The other alternative is to implement the native in OpenJ9 instead of patching the OpenJDK extensions to include it.

[2018-03-28 14:12] pshipton commented on #1520
fyi the OpenJ9 stub for libmanagement is in runtime/mgmt

[2018-03-28 14:27] rweijnen opened #1564 "Access Violation calling j9port_startup_library"
I have build openj9 for Windows per instructions and running the following code from Visual Studio 2017 I get an Access Violation on calling `j9port_startup_library`:

[code]
Exception thrown at 0x00007FFF0FC9430A (j9thr29.dll) in sample.exe: 0xC0000005: Access violation reading location 0x0000000000000000

I am not sure this is required but I also tried to init OMR:
[code]

[2018-03-28 14:37] pshipton commented on #1564
Note if you want to create a working build, use VS 2010 for Java 8 and VS 2013 for Java 9. I expect we'll look at getting VS 2017 working at some point down the road.

[2018-03-28 14:41] AdamBrousseau commented on #981
Done

[2018-03-28 14:43] fjeremic commented on #1563
Wow this is the first time this has happened. It is usually the other way around. Given this is JDK10 though there must have been more compression changes elsewhere in the JCL. I know we had the one change in String from https://github.com/eclipse/openj9/pull/1466. Other culprits could include the coder changes guarded by the `JAVA10` ifdef.

[2018-03-28 14:45] pdbain-ibm commented on #1563
Same problem with -Xint.

[2018-03-28 14:53] JasonFengJ9 commented on #1469
@cathyzhyi given the progress at https://github.com/eclipse/openj9/pull/1540, can we assume this issue has been resolved?

[2018-03-28 15:02] pdbain-ibm commented on #1563
Used reflection to get String.coder: it is 0 (Latin1).

[2018-03-28 15:17] JasonFengJ9 commented on #1469
Chatted with Cathy, the problem reported was about `OpenJ9 Java 8`, `IBM Java 8` works fine which I verified.
Will investigate `OpenJ9 Java 8 javac`.

[2018-03-28 15:23] pdbain-ibm commented on #1563
By default, jvminit.c processCompressionOptions() sets vm->strCompEnabled=false.

[2018-03-28 15:34] fjeremic commented on #1563
This is the same as specifying `-XX:+CompactStrings`, so not surprising.

[2018-03-28 15:40] JasonFengJ9 commented on #1550
It appears the `AIX Java 10` can be built consistently in a local farm machine.
Considering the intermittent nature of this failure, the issue might present in the Jenkins machine(s).

@AdamBrousseau any chance I can reserve such a machine?

[2018-03-28 16:01] pshipton commented on #1381
On today's community hangout @mstoodle proposed calling the next release 0.9.0 (and the following 0.10.0) since using 0.8.1 would indicate a patch release, but the number of features going in (new platforms such as Windows and AIX, DDR, support for OpenJDK 10) don't correspond to a patch release. Given no objections in the call, I'm making the changes to call the next release 0.9.0

[2018-03-28 16:11] llxia commented on #1562
Talked with Adam, we should use the same labeling across sites and we can use Shubham's tool to label machine automatically.

[2018-03-28 16:21] rweijnen commented on #1564
I build openj9 with visual studio 2010 but I am using the header and lib files with visual studio 2017. I assumed that would work?

[2018-03-28 16:27] pshipton commented on #1564
Apparently not. This isn't a configuration OpenJ9 would support.

[2018-03-28 16:34] AdamBrousseau commented on #1550
Sure, I will directly message you with the details

[2018-03-28 16:46] rweijnen commented on #1564
I will check with visual studio 2010

[2018-03-28 16:52] #1419 closed

[2018-03-28 16:58] pdbain-ibm commented on #1563
The problem seems to be with constant strings.  String objects created at runtime work fine, e.g.

[code]

[code]

[2018-03-28 17:00] pdbain-ibm commented on #1563
Constant strings have their "coder" field set to 0, while runtime strings are set to 1.
The coder field is set by the constructors.

[2018-03-28 17:19] mpirvu commented on #1552
The JIT is not doing a thorough job at deallocating everything at shutdown on the account that the process is going away anyway and deallocating every single piece individually may increase shutdown time.
These 3 should be fine because there is a very limited number of them
[code]
The one in MethodMetaData.c could potentially lead to a memory leak as far as I ca tell, so we'll need to investigate

[2018-03-28 17:34] JamesKingdon opened #1565 "To Wiki or not to Wiki?"
Would it be worthwhile to use the Wiki page on this project to gather some basic documentation? Perhaps covering slightly more technical issues than https://www.eclipse.org/openj9/oj9_faq.html and with links to where to find further detail.

[2018-03-28 17:45] fjeremic commented on #1563
Ah! Right. I have a patch for you to fix this. Digging it up now...

[2018-03-28 17:50] fjeremic commented on #1563
@pdbain-ibm could you try adding in the gc/StringTable.cpp changes from the following commit?

https://github.com/fjeremic/openj9/commit/fbcec6ce88ef0626eb1fc03c9eb18b71f32e4b39

Only the ones relevant to the coder field. This will fix the constant string issues almost certainly as I had the same problem working on a king-of-sort-of related change.

[2018-03-28 18:04] mpirvu commented on #1552
Related to `MethodMetaData.c`, the code allocates a cache that should speed up stack walking. Not all methods will allocate this cache (there is some heuristic involved because of footprint concerns).
This cache is attached to the jittedBodyInfo and the JIT tries to deallocate it at least for recompilations (I have to make sure this is done for class unloading as well).
At shutdown inevitably ther

[2018-03-28 18:47] Mesbah-Alam opened #1566 "java.lang.IllegalArgumentException: argument type mismatch received in JMX Bean test in Hotspot, but none in OpenJ9"
**Overview**
A JLM test, in which a call to `javax.management.MBeanServerConnection.invoke(..)` is made, ends up producing an `javax.management.RuntimeMBeanException: java.lang.IllegalArgumentException: argument type mismatch` error when it is run with OpenJDK8 Hotspot SDK (and also OpenJDK9 Hotspot SDK), but works fine when run with OpenJDK8-OpenJ9 (and also with OpenJDK9-OpenJ9) SDK.

**Job outp

[2018-03-28 19:14] JasonFengJ9 commented on #1469
This behaviour matches RI (similar compilation error presents with RI `Java 8`).
`Java 8 javac` refers `lib/ct.sym` for class compilation. It appears some package/class were excluded from `lib/ct.sym`.
Following script creates `META-INF/sym/rt.jar`:
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/jdk/make/CreateJars.gmk#L567
Following define excludes the package `sun.*`
https://gith

[2018-03-28 19:15] pshipton commented on #1564
Given "I build openj9 with visual studio 2010 but I am using the header and lib files with visual studio 2017" I'm closing this.

[2018-03-28 19:26] pshipton commented on #1469
I believe you can also use the javac option `-XDignore.symbol.file`. Agreed OpenJ9 isn't doing anything wrong, workarounds have been provided, so I'm closing this.

[2018-03-28 19:26] #1469 closed

[2018-03-28 19:42] AdamBrousseau commented on #1543
Doesn't appear to be resolved.
https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-JDK10-aix_ppc-64_cmprssptrs/3/console
https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-JDK10-linux_ppc-64_cmprssptrs_le/2/console
https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-JDK10-linux_390-64_cmprssptrs/2/console
[code]

[2018-03-28 19:48] pshipton commented on #1566
Can you get the Report output (turn on logging or something) which shows what API the test is calling on OpenJDK when it fails? I see in the ThreadData.writeMBeanInfo(MBeanServerConnection mbsc, ObjectName objectName) code its writing the information to a Report object, but I don't see this information output in the console.

It appears the test is looping over and calling a number of APIs. I assu

[2018-03-28 19:55] harryyu1994 commented on #1552
In J9CodeCache.cpp, function `OMR::CodeCacheMethodHeader * J9::CodeCache::addFreeBlock(void  *voidMetaData)`, I believe this is the code where we does the class unloading :
[code]

It does look like we forget to deallocate the mapTable(cache for speeding up stack walking) here.

[2018-03-28 20:03] mpirvu commented on #1552
Thanks Harry, we need to fix that. Could you please check the allocations coming from RawAllocator.hpp:71 ? Who is calling it and for what reason?

[2018-03-28 20:17] archanaNogriya opened #1569 "make/CompileJavaModules.gmk extension changes nit required and can fixed within openJ9 code"

[2018-03-28 20:27] rweijnen commented on #1564
I just rebuild the project with Visual Studio 2010 and it gives me the exact same error

[2018-03-28 20:42] pshipton commented on #1564
Not sure, I assume its a machine setup problem. What exactly are you doing, running "java" or something else?

Although AdoptOpenJDK.net doesn't have Java 8 Windows builds working yet because of a machine setup problem (missing wdbgexts.h) https://github.com/AdoptOpenJDK/openjdk-build/issues/243) , internal to IBM Window's is built and tested multiple times a day without issue.

[code]

[2018-03-28 20:56] archanaNogriya commented on #1569
With JDK original file make/CompileJavaModules.gmk without IBM patch, openJ9-openJDK10 build error is fixable.
Build has been failing with these 20 files.
 jcl/src/java.base/share/classes/java/lang/Class.java
 jcl/src/java.base/share/classes/java/lang/String.java
 jcl/src/java.base/share/classes/java/lang/StringBuffer.java
 jcl/src/java.base/share/classes/java/lang/StringBuilder.java
 jcl/src/java

[2018-03-28 21:01] pshipton commented on #1564
If you are looking for an example of starting up the port library outside of running "java", see JNI_CreateJavaVM() in runtime/j9vm/jvm.c

[2018-03-28 21:02] archanaNogriya commented on #1569
@DanHeidinga @pshipton

[2018-03-28 21:02] archanaNogriya commented on #1569
@andrew-m-leonard

[2018-03-28 21:03] Mesbah-Alam commented on #1566
I obtained the log produced by the test off of the OpenJDK 8 run, but it doesn't really tell much:

[code]

[2018-03-28 21:03] DanHeidinga commented on #1565
There's also the `/docs` folder where we could store some of that kind of content.

Someone (@rwy0717 ?) suggested that keeping the data in the repo is better than putting it in the wiki so anyone who clones it will have a copy and we won't lose data in the very very unlikely event the project migrated to another hosting service.

[2018-03-28 21:05] rweijnen commented on #1564
That is indeed what I'm trying to do, so I'll have a look at that code (thanks).
java -version runs fine btw
[code]

[2018-03-28 21:07] pshipton commented on #1564
Also see runtime/makelib/cmain.c and the port library tests in runtime/tests/port, which might be easier.

[2018-03-28 21:08] JamesKingdon commented on #1209
Hi Andrew, @Maldivia hit this problem while creating a debug build today. We should probably get the fix checked in if your happy that the assert is too conservative.

[2018-03-28 21:12] Valloric commented on #479
(dropping a note per @JamesKingdon's request)

The lack of support for heaps >60 GB is my main blocker for experimentation with OpenJ9 (the app I'd like to try it out with runs ~240 GB heaps).

[2018-03-28 21:12] DanHeidinga commented on #1543
Reopening based on @AdamBrousseau comments.

[2018-03-28 21:12] Mesbah-Alam commented on #1566
I am attaching here the logs produced by runs 2 runs using OpenJDK8 and OpenJDK8-OpenJ9 below:
[openjdk8_jlmtestlocal.log](https://github.com/eclipse/openj9/files/1857786/openjdk8_jlmtestlocal.log)
[openjdk8-openj9_jlmtestlocal.log](https://github.com/eclipse/openj9/files/1857787/openjdk8-openj9_jlmtestlocal.log)

The logs don't say much about which class is being invoked by the test though!

[2018-03-28 21:13] DanHeidinga commented on #1543
@renfeiw Can you take another look at this?

[2018-03-28 21:14] rweijnen commented on #1564
Yes I tried a 2 tests from tests/port/j9portTest.c and they also give me an access violation (for example j9port_test4).

[2018-03-28 21:21] rweijnen commented on #1564
When running outside the debugger I see this output:
[code]

[2018-03-28 21:22] JamesKingdon commented on #1565
It's a valid point, but we forgo a lot of ease of use and accessibility with the /docs approach. I would be concerned if there was no way of migrating wiki based content if the need arose though.

[2018-03-28 21:42] pshipton commented on #1566
Maybe not the right logs? Look at the code in openjdk.test.jlm/src/test.jlm/net/adoptopenjdk/test/jlm/resources/ThreadData.java above line 866. Its using the Report class to write information about what is being called.

Comparing the logs, it seems to be going wrong obtaining the data for MemoryData.writeData(), but the Report data would be very helpful.

[2018-03-28 22:07] rwy0717 commented on #1565
Checking notes into /docs has advantages (offline access, etc), but I'm doing it in a project where it's very easy (for me) to commit. I can see how getting docs into openj9 might be too much friction--especially for informal notes; or it could bog down committers with too many PRs. The wiki could be a lot easier.

[2018-03-28 22:10] pshipton commented on #1564
@smlambert @llxia is pltest running on OpenJ9? I can't find it.

We do run this internally to IBM and it passes. Its not exactly the same source as OpenJ9, but close enough that it shouldn't make any difference to these tests. It likely needs to be in the same directory as the rest of the OpenJ9 shared libraries.
`wa6480\jre\bin\compressedrefs\pltest`

[2018-03-28 22:40] JamesKingdon commented on #1565
I did a quick test on one of my forks, and the wiki is easily extracted with git clone, arriving as a collection of <page-name>.md files. Seems very workable. I haven't explored what access control is available on the wiki pages.

[2018-03-28 23:54] smlambert commented on #1543
That was on me, the PR test trigger did not work for jdk10 (which I believe is now working, thanks Adam), and I proceeded to merge.  This is a new failure from the previous, so seems we need to work through a few more issues.

[2018-03-29 01:51] llxia commented on #1564
pltest is disabled in OpenJ9

https://github.com/eclipse/openj9/blob/2954f9d4159fe9333811c6aa08c3759885bb4f0d/test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl#L115

[2018-03-29 01:57] smlambert commented on #1564
Native tests were disabled, awaiting the work item to compile native libraries as part of the CCM build, which you may recall, was recently reassigned (under duress).

![jenkinsmoveplansept25](https://user-images.githubusercontent.com/2836948/38065770-fa1917b8-32d2-11e8-8a50-5f64d10e0cb1.jpg)

[2018-03-29 09:37] urisimchoni opened #1572 "JIT failure when JVMTI field watches are added"
When running an application with a JVMTI agent, and the agent installs field access/modification watches, methods using those fields fail to JIT-compile.

This seems to happen at the second JIT attempt, i.e. if there are methods A and B, both of which involve watched fields, and A is called first, then only B's JIT fails.

A bare-bones sample of the issue is in https://github.com/urisimchoni/jitfa

[2018-03-29 12:15] pdbain-ibm commented on #1563
Tested and working (with changes to fix compilation errors).
Over to you @fjeremic.
[StringTable .cpp.txt](https://github.com/eclipse/openj9/files/1860001/StringTable.cpp.txt)

[2018-03-29 14:44] dsouzai commented on #1552
It looks like containers use `TR::RawAllocator` for it's internal allocations (eg `J9::PersistentAllocator`, `J9::SystemSegmentProvider`, `TR::Region`). Only the containers that get destroyed will free up memory allocated by `TR::RawAllocator`.

[2018-03-29 14:49] harryyu1994 commented on #1552
1. `bool TR::CompilationInfo::createCompilationInfo(J9JITConfig * jitConfig)` calls `TR::RawAllocator`

[2018-03-29 14:57] renfeiw commented on #1543
It's not caused by the framework issue, it's a specific test compilation issue. Looks like Java10andUp doesn't have a working compilation process. I will look further.

[2018-03-29 15:00] mpirvu commented on #1552
@dsouzai Are you referring to STL containers?
I wonder how many of such instances remain at shutdown.

The compilationInfo is not a problem because we only create one of them.
I wonder what the advantage of using a rawAllocator is in this case. It only hides the location where the allocation is coming from.

[2018-03-29 15:01] dsouzai commented on #1552
In some cases yeah, eg in `J9::PersistentAllocator`:

[code]

[2018-03-29 15:03] dsouzai commented on #1552
There's also lots of uses of `TR::RawAllocator` in OMR, though, as far as OpenJ9 is concerned, for the most part they should be only limited to the scope of a compilation and therefore containers using `TR::RawAllocator` should get destroyed.

[2018-03-29 15:11] mpirvu commented on #1552
I guess we use the RawAllocator only for the infrastructure that keeps track of segments. Anything else (including STL containers used during a compilation) should use memory from the segments themselves.

[2018-03-29 15:18] dsouzai commented on #1552
Yeah looking through the code that sounds right.

[2018-03-29 15:35] babsingh opened #1575 "Use environment variables for compilers in DockerFile(s)"
Currently, symbolic links are used to set compilers in `buildenv/docker/jdk*/.../DockerFile`.

[code]

@keithc-ca recommended usage of environment variables instead of symbolic links.

[code]

[2018-03-29 15:38] babsingh commented on #1575
@keithc-ca can you verify the details in the above description? did you test only on `x86`?

[2018-03-29 15:49] #1563 closed

[2018-03-29 15:52] smlambert opened #1576 "Add string compression functional test case"
Based on #1563 there must not be a test case like the one described in that issue.  It should get added to the set of functional tests in openj9.

[2018-03-29 16:05] dsouzai commented on #1552
Hm I think there's a bug with the metadata reclamation. `jitRemoveAllMetaDataForClassLoader` goes through the list of metadatas from the classloader. However, if some metadata is reclaimed (because of a recompilation) and if it is the first metadata in the linked list, then we never update `classLoader->jitMetaDataList` to point to the new stub metadata. ie, in `inline void updateExceptionTableLin

[2018-03-29 16:05] keithc-ca commented on #1575
According to [1], we need to use `=` to separate the names and values, like this:
[code]
I tested using environment variables this way, in a virtual machine rather than a docker container, but the results should be the same.

[1] https://docs.docker.com/engine/reference/builder/#environment-replacement

[2018-03-29 16:13] Mesbah-Alam commented on #1566
The `Report` class is initialized with a PrintWriter constructed with the given log file (attached above) supplied in args[0] of VMLogger-- the main class of this test. Hence, methods such as `Report.printlnIndent()` are in fact writing to this log file (e.g., in ThreadData.java, line 415, `Report.printlnIndent("Current Thread Count:..)` is printing the output in the log file).

[2018-03-29 16:21] renfeiw commented on #1543
Created a PR to fix the Java10andUp issue: https://github.com/eclipse/openj9/pull/1578 Tested compilation with Java10 locally.

[2018-03-29 16:30] keithc-ca commented on #1575
Apparently we're not ready to simply remove the links for gcc and g++ as configuring OMR fails without them:
[code]

[2018-03-29 17:14] ymanton commented on #1575
I came across that earlier; there's some quirks in OMR's `configure` that make it do that. I put together a fix but I wasn't sure if it was worth fixing so I let it be, but maybe this is a sign. :church:

[2018-03-29 17:18] urisimchoni commented on #1572
Forgot to add version info so here it is: it happens with Java 8, both with IBM's JDK and own-built OpenJ9 and OpenJDK.

The IBM version info:
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 8.0.5.10 - pxa6480sr5fp10-20180214_01(SR5 FP10))
IBM J9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20180208_378436 (JIT enabled, AOT enabled)
OpenJ9   - 39bb844
OMR      - c0

[2018-03-29 17:34] babsingh commented on #1575
According to **[1]**, both formats are accepted.
- Format 1
[code]
- Format 2
[code]
**[1]** https://docs.docker.com/engine/reference/builder/#env

[2018-03-29 17:37] pshipton commented on #1566
Then the log file hasn't been flushed are we aren't getting the most recent updates.

[2018-03-29 17:50] pshipton commented on #1566
Its a bit weird because ThreadData.java:1093 does "Report.flushAll();".

[2018-03-29 17:59] babsingh commented on #1575
@ymanton will you be opening a pull request for the OMR fix?

[2018-03-29 18:27] pshipton commented on #1566
When you look at the executing code shown by the stack traces, you can see output is missing from the log. I don't see anything wrong with the logging code, and there is a flush(), I'm not sure why the output is missing. @Mesbah-Alam is going to try running under the Java debugger to track down the problem, which appears to be a incompatibility between the test and OpenJDK.

[2018-03-29 19:16] pshipton opened #1582 "JCL_Test_SE90+FAILED: test_getModifiers_classTypes"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK10-linux_ppc-64_cmprssptrs_le-OpenJ9/3/

[code]

[2018-03-29 19:17] pshipton opened #1583 "JCL_Test_SE90+FAILED: test_hideUnsafe"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK10-linux_ppc-64_cmprssptrs_le-OpenJ9/3/
[code]

[2018-03-29 19:52] renfeiw opened #1584 "JDK10 add exclude file for testing"
We want to add exclude file for SE100 to support disabling test in JDK10.

[2018-03-29 19:54] renfeiw opened #1585 "JDK10 enable more testing for SE100"
Currently there are only 5 test targets tagged with SE100 that are running against JDK10, we need to tag more tests with SE100.

- cmdLineTester_getPid_0
- JCL_Test_SE90+_0
- JCL_Test_SE90+_1
- JCL_Test_OutOfMemoryError_SE90+_0
- JCL_Test_OutOfMemoryError_SE90+_1

[2018-03-30 14:55] JamesKingdon opened #1587 "Suggestions for openj9/buildenv/docker/test/Dockerfile"
I just tried out the Dockerfile for running the OpenJ9 tests and I have a couple of suggestions:

Choice of FROM
Currently the Dockerfile is based off the build dockerfile. There are no dependencies provided by the build dockerfile that are required by the test environment, so in the spirit of keeping Docker images target to their purpose and as small as (usefully) possible, I'd recommend just bas

[2018-03-30 23:01] rweijnen commented on #1564
I rebuild the project on Windows 7 x64 with Visual Studio 2010.
Then I ran the exact code from this issue and Visual Studio shows me that we crash in
[code]

self is nil and therefore an ACCESS_VIOLATION is thrown
![screenshot](https://user-images.githubusercontent.com/7575747/38156500-a0b647ce-347e-11e8-854a-f7a884bb78f2.png)

[2018-03-30 23:16] smlambert opened #1588 "java.lang.IllegalArgumentException: Constant pool index out of bounds, reading Annotations"
Issue originally raised at AdoptOpenJDK, but seems like an openj9 issue, so raising it here (originally sser raised issue from Ingo60):

When there are a lot of custom annotations on a class, and later you want to read the annotations from the class file, the following happens (Open J9 JDK9, JDK10, linux x64):

java.lang.IllegalArgumentException: Constant pool index out of bounds
at sun.reflect.an

[2018-03-31 00:04] Ingo60 commented on #1588
Original Poster here.

Clarification: the annotation parser is apparently wrong in all Open J9 versions I tested:

    OpenJDK8-OPENJ9_x64_Linux_jdk8u162-b12_openj9-0.8.0
    OpenJDK9-OPENJ9_x64_Linux_jdk-9.181
    OpenJDK10-OPENJ9_x64_Linux_20182903

It doesn't matter whether the class with the annotation was compiled with an Open J9 compiler or any other compiler. Whether the exception is raised

[2018-03-31 00:45] JamesKingdon commented on #11
Mark's summary above looks like a candidate for the sort of short pieces of info that might work well in the wiki (#1565). Or did we already document this elsewhere?

[2018-03-31 01:28] JamesKingdon commented on #1572
Hi, many thanks for opening the issue and providing a test-case. I was able to reproduce the problem easily by following your instructions.

The compilation of the second getSum() method fails very early:

[code]

[2018-03-31 01:42] JamesKingdon commented on #1572
There are 4 places in `j9method.cpp` where we can generate that failure code, and I'm not sure which one is the cause, but just picking on the first example, we do
`offset = jitCTResolveInstanceFieldRefWithMethod(_fe->vmThread(), ramMethod(), cpIndex, isStore, &fieldShape);`
followed by
[code]

[2018-03-31 07:31] Ingo60 commented on #1588
Here's code to try:

https://github.com/Frege/frege/blob/master/frege/runtime/Meta.java
https://github.com/Frege/frege/blob/master/tests/comp/Annotations.java

Here's a sample session (the `j9` is a link to the Open J9 java binary):

	ingo@freguntu:~/dev/test$ j9 -version
	openjdk version "1.8.0_162"
	OpenJDK Runtime Environment (build 1.8.0_162-b12)
	Eclipse OpenJ9 VM (build openj9-0.8.0, JRE 1.8

[2018-03-31 08:12] jilleb commented on #1564
@pshipton, reopen issue?

[2018-03-31 20:09] JamesKingdon commented on #1572
Got a bit further, the fail code is being set in `jvmtiHookCheckForDataBreakpoint` in jvmtiHook.c at
[code]

[2018-03-31 20:13] JamesKingdon commented on #1572
@DanHeidinga I'm not familiar with this code - who would be a good person to look at it?

[2018-04-01 17:33] rweijnen commented on #1564
Yes @pshipton can you please re-open this issue (or would you prefer me to open a new one)?

[2018-04-02 01:56] DanHeidinga commented on #1572
@gacholio Can you comment on the behaviour of `jvmtiHookCheckForDataBreakpoint` and why we're deliberately failing compiles when the fields are watched?

[2018-04-02 11:01] JamesKingdon commented on #1572
When you put it like that, it seems quite likely that we can't support watched fields from jitted code. But then the question would be why does one method get JIT compiled and one not.

[2018-04-02 12:36] andrewcraik commented on #1572
The JIT will fail the compilations because the watch is not supported by the JIT and I don't think these are directly correlated with the error - this is how I would expect the JIT to behave. We can check with @gacholio on what compensation logic runs when the watch is set for methods that have already been compiled, but I imagine that we would need to stop running JIT'd code that might reference

[2018-04-02 13:15] JamesKingdon commented on #1572
One thing of interest; I modified the testcase to print from the callbacks and I don't get any output for either of the objects, even when running Xint.

[2018-04-02 13:21] urisimchoni commented on #1572
Re: callbacks don't print - that's because field access events are not enabled, e.g.:
`jvmti->SetEventNotificationMode(JVMTI_ENABLE, JVMTI_EVENT_FIELD_ACCESS, NULL);`

[2018-04-02 13:41] JamesKingdon commented on #1572
Ah, that works better :)

[2018-04-02 13:52] JamesKingdon commented on #1572
Hmm, ok, and with that I can see that something is going wrong. Running with -Xint or without count=0 I get both the expected callbacks. In the case where count=0 is set (globally) the first method gets JIT compiled and we only get one callback. I haven't put any diagnostic in to differentiate between the callback invocations, but it seems likely that the method that gets JIT compiled is the one t

[2018-04-02 14:59] dmitripivkine opened #1590 "-Xcheck:memory does not work with Metronome"
Metronome loosing roots somehow if -Xcheck:memory is specified. Obviously it leads to assertion/crash

[2018-04-02 20:05] #1584 closed

[2018-04-03 12:48] #1524 closed

[2018-04-03 13:11] pdbain-ibm opened #1593 "Write test case for findVirtual on interface concrete methods"
Regression test case for issue #1524.
findVirtual() on interface methods, including
- methods inherited from Object
- methods inherited from superinterface
- concrete and abstract interface methods.

[2018-04-03 13:25] sxa555 commented on #1563
For reference, 3rd April and later builds at https://adoptopenjdk.net/nightly.html?variant=openjdk10-openj9 include the fix

[2018-04-03 14:28] theresa-m commented on #1548
@DanHeidinga javacores with and without the change are looking pretty much the same to me. Is there anything specifically I should be looking for in them?

[2018-04-03 14:32] pdbain-ibm commented on #1128
Fixes for issue #1282 and issue #1524 have been designer tested and merged.
Would you kindly re-run the suite?  Thanks.

[2018-04-03 14:40] DanHeidinga commented on #1548
Are the native stacks for the java threads reasonable?  We may want to get the java threads to call known natives and ensure that the javacores accurately report the native as being on the stack

[2018-04-03 14:58] theresa-m commented on #1548
They are identical except that setup_native_thread is missing with the build including the change.

[2018-04-03 15:05] DanHeidinga commented on #1548
Can you paste the two stacktraces (java + native) here?  Or attach the javacores?

[2018-04-03 15:11] theresa-m commented on #1548
These are the before and after:
[before_javacore.20180329.171919.12056.0001.txt](https://github.com/eclipse/openj9/files/1872111/before_javacore.20180329.171919.12056.0001.txt)
[omrchange_javacore.20180403.102302.4452.0001.txt](https://github.com/eclipse/openj9/files/1872113/omrchange_javacore.20180403.102302.4452.0001.txt)

[2018-04-03 15:25] DanHeidinga commented on #1548
I think we need more testing to see if this is an artifact of when the javacore was generated in each run or an actual missing frame.

Writing a test program that calls a native that waits so that a consistent javacore can be created would make it easier to validate frames aren't being lost.

[2018-04-03 15:43] pdbain-ibm opened #1596 "Redundant methods in ConstantPoolMap.hpp"
[code]
These are used interchangeably.  Pull request #1594 adds getROMClassCPIndexForAnnotationWithCheck() to handle malformed annotations.

getROMClassCPIndexForAnnotation() can be deprecated and removed.

FYI @fengxue-IS

[2018-04-03 16:03] mpirvu opened #1597 "Wrong assume in genZeroInitObject2()"
`genZeroInitObject2()` has an assume which can trigger for no good reason:
[code]
It's quite common that `objectSize` being tested in the `switch` statement above is 0. The entire `switch` should be executed only for `objectSize > 0`

[2018-04-03 16:05] DanHeidinga commented on #1596
Is there a reason #1594 doesn't reuse getROMClassCPIndexForAnnotation()?

[2018-04-03 16:08] fengxue-IS opened #1598 "Refactor ConstantPool creation code to remove redundant code"
In constant pool creation process, there are several functions that have redundant call stack or duplicate code/function calls

[code]

related: #1594

[2018-04-03 16:36] fengxue-IS commented on #1596
@DanHeidinga `getROMClassCPIndexForReference / getROMClassCPIndexForAnnotation` are used interchangeably at different locations without any relation to the name, new one is added to make the purpose clear. I've opened #1598 to clean up all the redundant/duplicate code

[2018-04-03 19:12] JamesKingdon commented on #1572
Hi Uri, I think probably we need someone from the interpreter side to look into one of your core files and see what's going on. Do you have a service contract for WebSphere? It might be easier to get the right eyes on the problem via a conventional PMR.

[2018-04-03 22:08] theresa-m commented on #1548
I did another test where the test program was stopped on Thread.sleep when the javacore was generated with the same results. java 7 and 8 (pre change) have setup_native_thread as well as the x64 releases of 6,7,8.

[2018-04-04 08:55] andrew-m-leonard opened #1606 "JDK11 build 11+7 fails missing new GenerateJLIClassesHelper method"
Merge of latest 11+7 level fails with missing method in GenerateJLIClassesHelper:
byte[] generateInvokersHolderClassBytes(String className,
                    MethodType[] invokerMethodTypes,
                    MethodType[] callSiteMethodTypes)
Causes compile failure in
src/java.base/share/classes/java/lang/invoke/MethodHandleImpl.java at
                return GenerateJLIClassesHelper

[2018-04-04 12:09] JamesKingdon commented on #1572
I think it's worth keeping this issue to explore why we have the inconsistent behaviour across the two methods and the missing callback invocation. I'm pretty sure something isn't working quite right there.

[2018-04-04 12:34] JamesKingdon commented on #53
Sorry for the long delay, I'm finding it increasingly hard to get time to work on this. The port is basically working, although there remain a number of failures in the test suites that need to be tracked down (not all of them are necessarily ARM specific, so identifying the subset that are will need to be part of the work).

The main step that needs to be taken to unblock more progress is to move

[2018-04-04 13:39] DanHeidinga commented on #1572
@urisimchoni If you have a core file that you can share, I'd like to have someone on my team take a look.  We don't like it when the JVM crashes =)

[2018-04-04 14:36] #1606 closed

[2018-04-04 14:48] pshipton commented on #1543
This Issue was resolved and the tests are compiling.

[2018-04-04 14:48] #1543 closed

[2018-04-04 15:03] jdekonin opened #1608 "Windows _extended test failures on jdk8/9"
Failures on Windows64 extended testing in :
cmdLineTester_verbosetest_0
cmdLineTester_verbosetest_3
cmdLineTester_verbosetest_6

[code]

This is using JDK8/9 variants using the latest from openj9, openj9-omr and openjdk extensions repos.  I haven't tested on jdk10.

[2018-04-04 15:43] DanHeidinga commented on #1608
Are you able to confirm whether these tests have ever passed on Windows?

As we migrate the tests and platforms to OpenJ9, we've sometimes hit test failures where the test is excluded on a platform in the internal builds.

[2018-04-04 17:30] gacholio commented on #1572
@urisimchoni You are correct - when a field watch is added, all compiled methods are discarded because we don't keep sufficient data to know which fields are used in which compilations (which may have fully or partially inlined other methods).

The "out of scratch memory" message is misleading - it's no doubt printed as a result of the compile-time resolution of the watched field failing.

[2018-04-04 18:38] DanHeidinga commented on #1265
Link to the bug to protect the branch: https://bugs.eclipse.org/bugs/show_bug.cgi?id=533227

[2018-04-04 18:38] #1265 closed

[2018-04-04 18:58] DanHeidinga commented on #1565
We discussed this on today's community call and generally agreed that the following things need to be figured out before we would create a wiki.  Some technical concerns and others more organizational.

- [ ] Access controls - who can make changes to the wiki.  Just committers or everyone?
- [ ] What kind of info belongs on the wiki?

The second one is larger concern about how do we group informat

[2018-04-04 20:29] #1596 closed

[2018-04-04 20:55] harryyu1994 opened #1612 "Refactor code in ProcessorDetection.cpp and VMJ9.h"
During the development of issue 1105, I found that there are a lot of platform specific APIs and some potentially redundant code in the top level TR_J9VMBase class that could be refactored and simplified.

Example: these are x86 platform specific methods in the top level API, that could be easily moved to their x86 platform specific J9CPU class.
[code]

[2018-04-05 01:41] smlambert commented on #981
@pshipton - please confirm that this issue can be close once you confirm that the confusing message is no longer present

[2018-04-05 01:44] smlambert commented on #1160
I believe we have arrived at another solution to how to integrate the openj9 functional tests with the rest of the test materials we use at Adopt, so this issue is no longer valid/needed.
Please confirm @llxia @TianyuZuo

[2018-04-05 01:46] smlambert commented on #1587
Thanks @JamesKingdon !

fyi @llxia

[2018-04-05 04:20] mstoodle opened #1616 "What JDK releases are "supported" by OpenJ9?"
Now that we have begun having TCK certified builds of OpenJDK with Eclipse OpenJ9 available at AdoptOpenJDK, I think it's time we came up with a clear support policy for the OpenJ9 project, especially since new JDK levels are coming and going at a faster cadence than ever before.

I took a crack at drafting a statement, just so we could have something to drive discussion. All feedback is welcome f

[2018-04-05 05:26] pshipton commented on #981
I'll have to see a failing PR build to be 100% sure, but a passing build no longer has a passed/failed summary at the end. I'll close this assuming the problem is resolved and reopen later if necessary.

[2018-04-05 05:26] #981 closed

[2018-04-05 05:28] pshipton commented on #981
I found a failed PR build, and it also looked good.

[2018-04-05 12:54] jilleb commented on #1564
I am able to reproduce this issue on VS2010 and Windows 7 x64.

[2018-04-05 13:33] keithc-ca commented on #1522
I encountered this yesterday with a more normal-size VM (8 core, 16GB). After removing `images/jmods/jdk.internal.le.jmod`, restarting `make images` succeeded. Then removing `images/jmods/*` lead to the same failure.

[2018-04-05 15:25] llxia commented on #1160
Yes, we can close this one. But I think the ideal of having `functional` folder may still be valid. As I am working on running functional test in AdoptOpenJDK, I noticed it is hard to run tests in both Adopt and OpenJ9 with different file structure. Tests expect same file structure to get jars/libs/files during execution. Some of tests uses $(JVM_TEST_ROOT) to locate files/jars and they expect to

[2018-04-05 15:32] renfeiw commented on #1160
@llxia I agree, TKG also relies on the file structure to generate path variables. Keep the file structure same in both openJ9 and AdoptOpenJDK can make the integration story simple. I think we need to have a discussion on this topic.

[2018-04-05 16:35] jdekonin commented on #1608
Currently I can only see this internally as eclipse/openj9 doesn't have windows machines available for testing.  But with access to internal build/test resources, I was able to track it back to March 15th for the last passing run.  Which then narrowed the shas to be between 39fd3df74842 and dbb333dde8fb.

A commit that obviously stands out is
https://github.com/eclipse/openj9/commit/b3b3e34f27b7
@

[2018-04-05 17:27] smlambert commented on #1160
Sounds good, if it keeps things simple and clear then I am for it.  I was merely doing an issue clean-up, and had thought this was already decided upon, but am happy to keep open if it is still TBD.

[2018-04-05 19:48] DanHeidinga commented on #1473
I'm going to read the limited response as archiving slack isn't a pressing need.  Closing this as we can always revisit it later.

[2018-04-05 19:48] #1473 closed

[2018-04-05 19:55] DanHeidinga opened #1621 "Tools like jstack not working with OpenJDK 8-OpenJ9"
Issue was raised at Adopt: https://github.com/AdoptOpenJDK/openjdk-build/issues/292

Should we support the OpenJDK J* diagnostic tools?

[2018-04-05 19:56] DanHeidinga commented on #1621
FYI @Param-S - I've raised the question here at OpenJ9 for further discussion.

[2018-04-05 21:17] fengxue-IS commented on #1598
I looking at the change history for gitlab, it seems the `ConstantPoolMap::getROMClassCPIndex*` functions are originally used for split cp entries in the constantpool. I think we can remove all the wrappers now as we have reverse mapping from cfrCPIndex to romCPIndex and separate split tables.

Note: I wasn't able to find the changes that removed writing split entries in ConstantPool.

@DanHeiding

[2018-04-06 04:10] Param-S commented on #1621
https://github.com/apache/incubator-openwhisk/pull/3504  Project is interested to use AdoptOpenJDK OpenJ9. But, there is some resistance due to the community is familiar with J* diagnostics tools.

[2018-04-06 04:14] #966 closed

[2018-04-06 09:09] tellison commented on #1616
That sounds reasonable.  The pattern I deduce from the table seems to be that Eclipse OpenJ9 will support two OpenJDK code streams at any one time, those being the latest Oracle-led LTS release and the latest short term support released code base.

I assume from the tone of the statement that OpenJ9 would support any JDK that were to enjoy broad adoption and attract (potentially community-led) sup

[2018-04-06 13:29] DanHeidinga commented on #1616
Yes, that's the intention.

Agreed.  During our last community call, we discussed capturing the matrix of JDK level x Platforms as not all platforms may be supported on all JDK levels and recording that info in the OpenJ9 release plans at Eclipse.

[2018-04-06 13:43] DanHeidinga commented on #1621
@Param-S which J* tools are they using?  Are some essential for their workflows?

[2018-04-06 13:53] renfeiw opened #1623 "JDK10 cmdLineTester_SCURLClassLoaderTests FAILED"
Both cmdLineTester_SCURLClassLoaderTests and cmdLineTester_SCURLClassLoaderNPTests failed.

https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK10-linux_ppc-64_cmprssptrs_le-OpenJ9/8/tapResults/

[code]

[2018-04-06 13:54] renfeiw opened #1624 "JDK10 testSCCMLTests1 FAILED"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK10-linux_ppc-64_cmprssptrs_le-OpenJ9/8/tapResults/

[code]

[2018-04-06 13:54] renfeiw opened #1625 "JDK10 testSCCMLModularity FAILED"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK10-linux_ppc-64_cmprssptrs_le-OpenJ9/8/tapResults/

[code]

[2018-04-06 13:55] renfeiw opened #1626 "JDK10 JLM_Tests_interface FAILED"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK10-linux_ppc-64_cmprssptrs_le-OpenJ9/8/tapResults/

[code]

[2018-04-06 14:03] renfeiw commented on #1623
java -version
[code]

[2018-04-06 14:03] renfeiw commented on #1624
java -version
[code]

[2018-04-06 14:04] renfeiw commented on #1625
java -version
[code]

[2018-04-06 14:04] renfeiw commented on #1626
java -version
[code]

[2018-04-06 14:27] mstoodle commented on #1616
That's what it looks like right now, but (thinking positively :) ) when community maintainers are announced for the JDK8 stream, I expect OpenJ9 will be supporting both JDK8 and JDK11, so the current appearance of a pattern may be a little bit misleading just because of where OpenJDK is with JDK8 at the moment.

Platforms is a good point. We have no current plans to port OpenJ9 to Solaris, so that

[2018-04-06 14:37] mstoodle commented on #1616
What do people think about including a link to the build environment description for each of the platforms we support (probably in the "toolchain details" column? Docker files for platforms that support docker, or ansible scripts if that's a more useful thing?

[2018-04-06 15:09] DanHeidinga commented on #1616
I think we'll need one of those per JDK level as some of the platforms, compilers, OSes may differ based on supported levels in the upstream OpenJDK (or Extensions) projects.

[2018-04-06 15:11] mstoodle commented on #1616
Blech. I suppose that's fair....maybe a JDK8 section, a JDK9 section, etc.

[2018-04-06 15:16] DanHeidinga commented on #1626
@keithc-ca Can you take a look at this?  I know you've been involved with the MXBean impl and tests previously

[2018-04-06 15:18] DanHeidinga commented on #1616
OpenJDK takes a similar approach defining platforms and build environments so while this does evoke a "Blech" response at least everyone is consistently "Blech" =)

[2018-04-06 15:25] felipepontes-research opened #1627 "Class.getDeclaredFields throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getDeclaredFields, "...an array of Field objects reflecting all the fields declared by the class or interface represented by this Class object" must be returned. But using the following program declared fields of class B can not be retrieved:

[code]

**Affected versions:**

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9

[2018-04-06 15:27] hangshao0 commented on #1625
I guess the shared classes JCL patch is not there in JDK10 repo. If so, this issue should be moved to https://github.ibm.com/runtimes/openj9-openjdk-jdk10

[2018-04-06 15:28] hangshao0 commented on #1624
Same as https://github.com/eclipse/openj9/issues/1625

[2018-04-06 15:28] hangshao0 commented on #1623
https://github.com/eclipse/openj9/issues/1625

[2018-04-06 16:11] hangshao0 commented on #1625
Actually the shared class patch is there, but they are patched at the wrong place. I will comment at the jdk10 repo.

[2018-04-06 17:43] adleong opened #1629 "Slackin appears to be broken"
The [join slack](https://www.eclipse.org/openj9/oj9_joinslack.html) webpage displays a blank box instead of an area where an email can be entered.

[logs](https://zeit.co/XeTDEytpeuiDVRRChqWrCGQs/slackin/ozuyyvpmac/logs) suggest an issue starting slackin:

[code]

[2018-04-06 17:57] vsebe opened #1630 "cmdLineTester_getPid_0 failure on OpenJDK10"
[code]

Java version:
[code]

[2018-04-06 17:58] vsebe commented on #1630
@llxia attn

[2018-04-06 18:04] fjeremic commented on #1629
Seems like an https://github.com/eclipse/openj9-website/ issue. @SueChaplain can you please take a look at this?

[2018-04-06 18:31] keithc-ca commented on #1626
These results should be expected as the RuntimeMXBean and ThreadMXBean interfaces for Java 10 have changed relative to Java 9.

RuntimeMXBean adds a new method:
[code]
which is presumably supported by at least one additional attribute: hence the test failure.

ThreadMXBean has two new methods:
[code]
which accounts for the two operations not expected by the test.

[2018-04-06 18:33] hangshao0 commented on #1623
BTW, the name of this test is misleading. It should be re-named.
Starting from Java 9, Appclassloader is a subclass of BuiltinClassLoader instead of URLClassLoader. So the test is not actually testing URLClassLoader anymore.

[2018-04-06 20:33] taliamccormick commented on #1278
WIP PR here: https://github.com/eclipse/openj9/pull/1631

[2018-04-07 13:25] pshipton opened #1632 "Windows j9jit29.dll needs MSVCP100.dll (for Java 8) as a prereq"
For Java 8, the Windows j9jit29.dll has msvcp100.dll as a prerequisite and is the only dll in the OpenJ9 VM with this requirement. Unlike msvcr100, the msvcp100 dll is not included in the OpenJDK / OpenJ9 build packaging. Its needed by the JIT for the following:

[code]

I expect its similar for newer versions of Java, except they need msvcp120.dll, which today is typically already installed on Wi

[2018-04-07 13:27] sxa555 commented on #1632
Yep - users at the moment who don't have it can grab https://www.microsoft.com/en-us/download/details.aspx?id=13523 to get hold of it for now. The problem doesn't affect the openjdk10 builds.

[2018-04-07 14:38] pshipton commented on #1632
I see three choices:

1. Change the JIT to stop using msvcp
1. Patch the build process to include msvcp with OpenJ9 builds
1. Document that users need msvcp100 installed and how to get the redistrubtable package and install it

[2018-04-07 15:01] sxa555 commented on #1632
Since I believe we're already shipping msvcr100 my gut feel would be option 2, unless option 1 is easy to achieve.

[2018-04-08 07:39] NatiZel opened #1633 "J9 JVMTI GetStackTrace"
There is an issue getting the current thread stack trace from JVMTI using

`**jvmtiError (JNICALL *GetStackTrace) (jvmtiEnv* env, jthread thread, jint start_depth, jint max_frame_count, jvmtiFrameInfo* frame_buffer, jint* count_ptr); `

By Dan Heidinga, J9 (and now Eclipse OpenJ9) assumes that all invoke bytecodes are 3 bytes so that return bytecodes can unconditionally increment by 3 to get the n

[2018-04-09 13:37] DanHeidinga commented on #1370
@dmitripivkine Can someone on the GC team take a look at this?  It's (tentatively?) targeted to JDK11 but would be nice to support all the way back to 8.

[2018-04-09 13:56] DanHeidinga commented on #1632
@mstoodle Can one of the JIT committers comment on this?

Assuming those are C++ symbols, on linux we statically link the C++ runtime.  Is that something that we should be doing on windows as well?

[2018-04-09 13:58] DanHeidinga commented on #1164
We should look at making this change for JDK9+.

The default SCC should use a different name from when a user explicitly enables it so that the default size won't conflict with any user specified sizes.

@hangshao0 Can you take a look at this?

[2018-04-09 14:03] pdbain-ibm opened #1635 "Java 10: management.ThreadMXBean.APITestJava10 failures"
Message: dumpAllThreads: Stack less than minimum expected expected [true] but found [false]

https://ci.eclipse.org/openj9/job/Test-Extended-JDK10-linux_ppc-64_cmprssptrs_le/4/testngreports/org.openj9.test.java.lang.management.ThreadMXBean/APITestJava10/testDumpLimits/
https://ci.eclipse.org/openj9/job/Test-Extended-JDK10-linux_ppc-64_cmprssptrs_le/4/testngreports/org.openj9.test.java.lang.managem

[2018-04-09 14:11] pshipton commented on #1583
This has been an excluded test for Java 9 and has been excluded for 10 as well.

[2018-04-09 14:11] pshipton commented on #1582
This has been an excluded test for Java 9 and has been excluded for 10 as well.

[2018-04-09 14:15] pshipton commented on #1164
I think this is related to enabling a shared cache by default, for which we haven't created an issue yet but will shortly, and doesn't really apply to this Issue for changing the default size.

[2018-04-09 14:16] andrewcraik commented on #1632
So I've been through that list of symbols from @pshipton using the power of a search engine - they all look to be part of the core C++ library:
- ?max@?$numeric_limits@_K@std@@SA_KXZ: I believe this is std::numeric_limits::max which is fairly fundamental in the STL
- ?_Orphan_all@_Container_base0@std@@QEAAXXZ: looks to be for iterator invalidation for at least deque and vector - with debug off it

[2018-04-09 14:24] DanHeidinga commented on #1164
Thanks Peter.  In my eagerness, I mixed the two up :)

[2018-04-09 14:40] pshipton commented on #1632
We can do 2, msvcp is a redistributable file. I expect adding msvcp will become a patch to the extensions repo.

[2018-04-09 14:58] andrewcraik commented on #1632
Should it be a patch to the extension repo or should it be part of the JIT build process since that is the component that requires it?

[2018-04-09 15:00] pshipton commented on #1632
I'm not sure the JIT build process can put the file in the correct places in the build structure.

[2018-04-09 15:03] andrewcraik commented on #1632
ah ok - that is a shame, but your proposal makes sense if that is the case

[2018-04-09 15:06] gacholio opened #1637 "Bad syncObject in OSR decompilation"
Regarding the crash reported in #1572, the cause of the crash is a NULL syncObject when executing a syncReturn bytecode.  The frame was recently decompiled using OSR, which filled in the bad syncObject.

The core can be found in /team/danh/openj9/pr1572/server1/dumps.

There would seem to be two possibilities:

1) The OSR code is not copying the syncObject correctly
2) The JIT is not maintaining t

[2018-04-09 15:10] andrewcraik commented on #1637
@cathyzhyi this would seem close to your areas of expertise - any ideas which of 1 or 2 is going wrong?

[2018-04-09 16:08] hangshao0 commented on #1304
testDDRExt:testShrcStatsExt and shrcdbgddrext are already fixed and they can be migrated and then enabled. @llxia

[2018-04-09 16:16] DanHeidinga commented on #1633
This will affect all versions of OpenJ9 as the `invokeinterface2 nop invokeinterface cpIndex cpIndex` pattern is used by all versions.

[2018-04-09 17:08] DanHeidinga commented on #1572
@urisimchoni Thanks for sending me the core file.  We've been able to identify the root cause (missing syncObject) and are working through the right way to fix this.  GAC has opened #1637 and described the root issue there.

Closing this now as we'll track the fix in the more specific #1637.

[2018-04-09 17:08] #1572 closed

[2018-04-09 17:33] DanHeidinga commented on #1572
Sorry @JamesKingdon, I missed that comment.  Can you open a new issue for that specific part of this investigation?

[2018-04-09 17:49] gacholio commented on #1572
There is no failure here (other than the crash, of course).  The only thing to possibly address is the message in the verbose log, which I'm sure will never be done.  Being able to run code with watched fields would be an enhancement, which again I find unlikely to ever be done, given the frequency of use of this facility.

[2018-04-09 17:54] JamesKingdon commented on #1572
@gacholio The test-case shows inconsistent behaviour. The first of two methods gets compiled by the JIT and fails to invoke the callback, despite both methods having watches set.

[2018-04-09 18:01] andrewcraik commented on #1572
@JamesKingdon I know the VM is allowed to delay having a JVMTI event hookup for some quantum of time after the event is enabled. The count=0 case is an odd one because the method could be compiled before the agent is attached and before the method ran. I don't know if the code in question ran before the agent had completed init and if the event had been fully enabled, etc. At non-zero counts I wou

[2018-04-09 18:44] JamesKingdon commented on #1572
However, you are right that it is somehow related to the use of count=0, the expected behaviour returns with count=1.

Does this put it in the realm of too obscure to merit further investigation?

[2018-04-09 18:50] TianyuZuo commented on #1608
investigating

[2018-04-09 19:17] andrewcraik commented on #1572
I'm not sure I'd say doesn't merit further investigation, but the urgency of that investigation is much lower. I am curious about what runtest is doing so I may speak to you offline with a result posted here.

[2018-04-09 19:17] DanHeidinga commented on #1572
I doubt anyone is going to track down the `count=0` issue given the root cause of the crash has been identified and the other issues that would affect more users.

[2018-04-09 19:39] DanHeidinga commented on #1629
FYI @doveye Are you able to help with getting slackin working again?

[2018-04-09 21:21] pshipton opened #1645 "-Xshareclasses unique id unsupported by OpenJ9 builds"
The -Xshareclasses unique build id generation is specific to the IBM internal build process and needs to be fixed to support the OpenJ9 build process.

-Xshareclasses uses a unique build id to identify which JVM created the shared cache. If a JVM with a different build id attempts to attach to the cache, the cache is destroyed (when possible) and recreated. This mechanism helps avoid stale entries

[2018-04-09 21:21] pshipton opened #1646 "Enable a form of -Xshareclasses by default"
A form of -Xshareclasses should be enabled by default in order to provide startup time and footprint advantages.

There are a number of factors to consider:

1. what classloaders should be shared by default? -Xshareclasses enables URLClassLoader *and potentially subclasses of URLClassLoader* for class sharing. As we saw in #1244, the subclasses don't necessarily work, resulting in the JVM failing

[2018-04-10 02:01] pshipton commented on #1646
Yes, AOT will be enabled with the shared cache. As it stands, cache files are stored in /tmp/javasharedresources and have the user name (j9build in this case) as part of the cache name. i.e. /tmp/javasharedresources/C290M5F1A64P_sharedcc_j9build_G35

[2018-04-10 03:51] urisimchoni commented on #1572
Thanks all and sorry to have "barked on the wrong tree". Hopefully the core dump will lead in the right direction.

[2018-04-10 05:50] ashu-mehra commented on #1646
I kind of like James suggestion to store file under $HOME which is similar to the way other software store their config files.

[2018-04-10 11:54] #1635 closed

[2018-04-10 12:58] DanHeidinga commented on #1572
Thanks so much for reporting the issue!  You've provided great context and a core that made it easy to identify a decompilation bug.  A big help anyone running with the debugger / jvmti watches.

Much appreciated!

[2018-04-10 14:06] DanHeidinga commented on #1629
I have access to the `now` deployment tool but can't restart the app from an error state.

https://github.com/rauchg/slackin/issues/319 seems to be related.  Trying to figure out how to update our slackin instance now (really should doc this somewhere....)

[2018-04-10 14:49] gacholio commented on #1637
A trivial testcase to reproduce this worked correctly, but I didn't play around with opt levels, so it's worth checking that for the affected method as well.

[2018-04-10 15:50] DanHeidinga commented on #1629
I've opened a PR against the website to update the page.  While waiting for that to land, please use this URL to join slack: slackin-eqftwddakt.now.sh

[2018-04-10 16:03] #1526 closed

[2018-04-10 19:18] #1271 closed

[2018-04-10 19:28] #1585 closed

[2018-04-10 20:46] keithc-ca opened #1653 "J9BCUtil will misinterpret some constant pool type codes in old core files"
The values of `J9CPTYPE_INTERFACE_STATIC_METHOD` and `J9CPTYPE_INTERFACE_INSTANCE_METHOD` changed from 17 & 18 to 18 & 19, respectively with the merge of #1426.

The method `J9BCUtil.dumpCPShapeDescription()` implicitly uses the new values via the local array, `symbols`, without regard to the vintage of the core file being examined.

Instead, it should be using the constants of the same names from

[2018-04-10 21:19] pshipton commented on #1653
Since J9CPTYPE_INTERFACE_STATIC_METHOD and J9CPTYPE_INTERFACE_INSTANCE_METHOD were just added 19 days ago, and are only for Java9 and later (which isn't supported yet), I expect we can ignore this problem.

[2018-04-10 21:59] adleong commented on #1629
thanks!

[2018-04-10 22:38] JasonFengJ9 commented on #1550
Update about the investigation:

This intermittent error occurs at `Java 10 jlink` stage to combine `jmod` files into a single `jimage` file. The error could happen in various `jmod/class`, and the frequency varies as well, i.e., sometimes it doesn't failure in 20 runs, other time could failure more than 10/20.
Reducing the number of `jmod` files for `jimage` generation seems not affect the result

[2018-04-10 23:05] fengxue-IS commented on #1653
`J9CPTYPE_INTERFACE_STATIC_METHOD` and `J9CPTYPE_INTERFACE_INSTANCE_METHOD` currently are used for both Java8 and Java9 (as of #1167 merged)

for `J9BCUtil`, I think it would be better if we have a table to do the name mapping rather than an array to make it more clear

[2018-04-11 01:09] DanHeidinga commented on #1653
Mea culpa.  I should have noticed this and called it out in the original review.  Thanks for catching it Keith.

It does raise a bigger question though of when we want to introduce algorithm versions in DDR.  Along with @pshipton and I's earlier conversation about testing, we may want to introduce a checklist of things committers should be watching for.

[2018-04-11 02:38] pshipton commented on #1653
@DanHeidinga from the previous comments, it seems the jdk9 label should be removed from #1167?

[2018-04-11 07:00] fengxue-IS commented on #1653
@pshipton #1167 is a jdk9 bug as openjdk introduced the fix for possible of inconsistent constant pool and corresponding test case in Java9.
Since OpenJ9 is sharing the VM for both Java8 and Java9, this fix will be affecting both 8 & 9. As I have commented in that PR, it follows the spec defined for Java9, and Java8 spec didn't specify it.

[2018-04-11 14:21] llxia opened #1659 "cmdLineTester_getCallerClassTests_SE90_0 failed in Test-Extended-JDK10-linux_ppc-64_cmprssptrs_le"
cmdLineTester_getCallerClassTests_SE90_0 failed in Test-Extended-JDK10-linux_ppc-64_cmprssptrs_le

https://ci.eclipse.org/openj9/job/Test-Extended-JDK10-linux_ppc-64_cmprssptrs_le/7/

getCallerClassTests_SE100.xml is missing.

[code]

[2018-04-11 14:26] llxia commented on #1659
jsr292_InDynTest_0 and jsr292_InDynTest_1 have same missing file issue.

[2018-04-11 14:34] DanHeidinga commented on #892
To (eventually) close the loop - I took a quick look at the core and nothing jumped out at me.  The core predates DDR being enabled for OpenJ9 so there wasn't a lot to see.

Please reopen if this occurs again and we'll take another crack at it.

[2018-04-11 14:34] #892 closed

[2018-04-11 14:35] llxia commented on #1659
Please also take a look at the rest failure in jdk10. Thanks.
TestAttachAPI_SE90_0
testSCCMLTests2_1
TestSunAttachClasses_SE90_0
VmArgumentTests_0

[2018-04-11 14:39] DanHeidinga commented on #1627
The `static` block in A.class attempts to call `getClass()` on `null`.  This will always throw an NPE and should prevent A from being successfully initialized.

Since A wasn't successfully initialized, the `B.class.newInstance();` call should fail with an exception (that's why the rest of the code is in the finally block, right?)

I need to check the code but I believe `getDeclaredFields` forces c

[2018-04-11 14:42] babsingh commented on #1497
@SueChaplain @DanHeidinga All changes have been delivered. This issue can be closed.

**Update:**
1) OpenJDK 10 DockerFile(s) have been added (#1514; merged).
2) OpenJDK 9 DockerFiles(s) have been updated to use AdoptOpenJDK OpenJ9 JDK8 builds as the boot JDK (#1541; merged).
3) Only OpenJDK 8 `s390` was updated to use AdoptOpenJDK OpenJ9 JDK8 build due to a performance issue (#1545; merged). Othe

[2018-04-11 14:52] DanHeidinga commented on #1497
Thanks @babsingh

https://www.eclipse.org/openj9/oj9_build.html

Have you opened a PR for the update to the website as well?

[2018-04-11 15:18] pshipton opened #1660 "jdk11 add String.repeat(count)"
http://cr.openjdk.java.net/~iris/se/11/build/latest/diffsFrom10%2b45/java/lang/String.html

[2018-04-11 15:20] pshipton opened #1661 "jdk11 add StringBuilder/Buffer.compareTo(StringBuilder/Buffer)"
http://cr.openjdk.java.net/~iris/se/11/build/latest/diffsFrom10%2b45/java/lang/StringBuffer.html

http://cr.openjdk.java.net/~iris/se/11/build/latest/diffsFrom10%2b45/java/lang/StringBuilder.html

[2018-04-11 15:59] DanHeidinga commented on #1085
Method added to Thread: https://github.com/eclipse/openj9/blob/4ecf784684dad533a04192647c5fb3ca7e8864da/jcl/src/java.base/share/classes/java/lang/Thread.java#L1056

FastJNI implementation:
https://github.com/eclipse/openj9/blob/26f8c7edb1fe37253d001243c0ce14473334d07f/runtime/vm/FastJNI_java_lang_Thread.cpp#L87

Interpreter INL:
https://github.com/eclipse/openj9/blob/11c1a878d7034ef62b6be560acda26

[2018-04-11 15:59] #1085 closed

[2018-04-11 16:06] DanHeidinga commented on #1074
https://github.com/eclipse/openj9/blob/86885ce89654fc08f80d36f760b84c1202d00e93/jcl/src/java.base/share/classes/java/lang/StackWalker.java

Implemented

[2018-04-11 16:06] #1074 closed

[2018-04-11 16:07] DanHeidinga commented on #1072
Jlink is used in the Java9 build process.  Closing this as implemented.

[2018-04-11 16:07] #1072 closed

[2018-04-11 16:07] DanHeidinga commented on #1070
https://github.com/eclipse/openj9/blob/86885ce89654fc08f80d36f760b84c1202d00e93/jcl/src/java.base/share/classes/java/lang/invoke/VarHandle.java

Implemented

[2018-04-11 16:07] #1070 closed

[2018-04-11 16:08] babsingh commented on #1497
created a pull request - https://github.com/eclipse/openj9-website/pull/73

[2018-04-11 16:08] DanHeidinga commented on #1068
Closing this as OpenJ9 supports the module system

[2018-04-11 16:08] #1068 closed

[2018-04-11 16:08] DanHeidinga commented on #1067
Closing this as OpenJ9 supports the module system

[2018-04-11 16:08] #1067 closed

[2018-04-11 16:09] DanHeidinga commented on #1065
Closing this as OpenJ9 supports the module system

[2018-04-11 16:09] #1065 closed

[2018-04-11 16:09] DanHeidinga commented on #1066
Closing this as OpenJ9 supports the module system

[2018-04-11 16:09] #1066 closed

[2018-04-11 17:49] hangshao0 commented on #1646
It might be possible to allow JVM to attach to 2 shared caches, one for Bootstrap Classloader and one for other class loaders. Currently the whole shared cache will be deleted if a corruption is detected, we will lose all the shared classes in it.

[2018-04-11 18:04] jdekonin opened #1662 "Add new Windows machines for pull requests and build pipelines"
Four new Windows 2012R2 machines have been created and in need configuring with the ansible scripts from AdoptOpenJDK.

1. oj9-win2012r2-1; 169.55.170.69
1. oj9-win2012r2-2; 169.55.150.148
1. oj9-win2012r2-3; 169.55.170.74
1. oj9-win2012r2-4; 169.55.150.158

Administrator login passwords available under private communication.

Each one is 8 CPU, 8GB RAM, Windows 2012R2, 100Gb boot disk, 25 Gb data

[2018-04-11 18:04] DanHeidinga commented on #1646
How complex does that make it for the end user?  Especially when trying to figure out what's going wrong.

[2018-04-11 18:06] jdekonin commented on #1662
@sxa555 for installation and @AdamBrousseau for adding to jenkins and incorporating into build and pull requests.

[2018-04-11 18:08] hangshao0 commented on #1646
You are asking about enable -Xshareclasses by default or allow JVM to attach to 2 shared caches ?

[2018-04-11 18:08] DanHeidinga commented on #1662
Many thanks to IBM for providing Windows machines for OpenJ9's CI pipeline!

[2018-04-11 18:13] DanHeidinga commented on #1646
Attaching to 2 shared caches.

[2018-04-11 18:27] DanHeidinga commented on #1621
Two pieces of data we need:
* The top used / most important j* tools - allowing us to prioritize the implementation plan
* Any data on tool lifecycles - are the any of the tools deprecated / removed in later OpenJDK releases?

We don't want to implement tools that will be removed shortly.

[2018-04-11 18:38] ChengJin01 commented on #1032
After resolving the alignment issue for the size of ROM class (to be stored in the shared cache) as well as the comparison issue on the ROM class stored in the shared cache (in which case it needs to compare the stackmaps already stored in the meta data area), I am working on a couple of shared-class related test case failures (jvmti, etc) captured in personal build with my changes. Once I confirm

[2018-04-11 20:35] tajila commented on #771
Oracle has stated that the spec will be relaxed to allow addition and removal of methods. No changes will be made to hotspot.

Oracle has now closed the issue.

[2018-04-12 12:03] sxa555 commented on #1538
Tagging in @tobespc for awareness

[2018-04-12 13:19] DanHeidinga opened #1669 "Create a Large Heap (noncompressedrefs) build"
OpenJ9 supports both compressedrefs and non-compressedrefs packages.  Currently, the project only builds and tests the compressedrefs package.

This is a problem for anyone wanting a heap larger than ~57 gig and limits adoption of OpenJ9 for projects that need large heaps.

The long term solution is outlined in https://github.com/eclipse/openj9/issues/643 but we need a more immediate way to meet t

[2018-04-12 14:32] dmitripivkine commented on #1370
@LinHu2016 Would you please start work on this?

[2018-04-12 15:06] #1623 closed

[2018-04-12 15:06] #1624 closed

[2018-04-12 15:06] #1625 closed

[2018-04-12 15:12] LinHu2016 commented on #1370
sure

[2018-04-12 17:28] briangoetz commented on #771
This is being tracked in OpenJDK as https://bugs.openjdk.java.net/browse/JDK-8192936

[2018-04-12 18:03] DanHeidinga commented on #1669
@mstoodle The testing should focus on validating the behaviour of the runtime in this mode not on the size of the heap actually allocated.  The heap size limitation of compressed is due to the shifting of pointers.  No shifting in non-compressedrefs = no limit besides size of pointers / hw capabilities.

We'll have a committer do a one-off test of the build on a machine with sufficient memory to v

[2018-04-12 18:11] DanHeidinga commented on #771
Thanks for the link @briangoetz!  We're eagerly following along with the discussion on this topic.

One of the things I've struggled to find is a rationale behind the behaviour change.  Any light that can be shed on that, either here or in the OpenJDK bug, would be appreciated.

[2018-04-12 18:20] briangoetz commented on #771
I don't have any additional specifics, but if I had to guess, I would think that someone was making a distinction between externally visible API, which would affect the linkage of instructions from other classes to this one, and members that are part of the implementation (private methods).  Specifically, because a lambda must have a lambda body method somewhere, and that method is private, it pro

[2018-04-12 18:26] mstoodle commented on #1669
Classic white box testing reasoning, got it :) .

I am not disagreeing, because the code certainly does work that way (at least at this point in time :) ) so doing much more than what you've, uh, dictated, probably doesn't provide additional testing value from a technical standpoint.

But it still feels a bit weird to rely on one manually instigated test (per platform) as demonstration that this w

[2018-04-12 18:42] pshipton commented on #1288
I'm not suggesting that Java 8 & 9 share the same mod level. I'm suggesting that Java 9, 10. & 11 share the same level, since 9 & 10 are short term releases that will be obsolete when Java 11 is released.

[2018-04-12 18:47] sxa555 commented on #1662
Memo to self after a couple of discussions this evening:
- Windows OpenJ9 machines are set up manually based on the AdoptOpenJDK playbooks
  - We will also need the Debugging parts of the SDK installed as per https://github.com/AdoptOpenJDK/openjdk-build/issues/243
- There is no ansible tower (AWX) for OpenJ9
- The jenkins slave cannot be started directly via JNLP since jenkins is behind a proxy

[2018-04-12 18:47] sxa555 commented on #1662
@DanHeidinga I can't seem to assign this work item to me (I'm the only person around and will attempt to begin attacking it tomorrow more - today has been an information consolidation phase) - can you either (1) Add me to whatever team lets me do stuff in this repo (preferred!) or (2) Assign this item to me

[2018-04-12 18:59] hangshao0 commented on #1288
OK, this should be fine.

[2018-04-12 19:02] DanHeidinga commented on #1662
One of the annoyances here is that issues can only be assigned to openj9 committers.  We've worked around this by having contributors just comment that they are working on a particular item

[2018-04-12 21:17] felipepontes-research commented on #1627
Accordingly to Section 4.9.2 Structural Constraints of The Java Virtual Machine Specification Java SE 8 Edition "When any instance method is invoked or when any instance variable is accessed,
the class instance that contains the instance method or instance variable must
already be initialized". Wouldn't B.class instance be initialized instead of B instance?

[2018-04-13 04:10] DanHeidinga commented on #1646
We should walk through some of the user scenarios for diagnosing a problem with the boot vs non-boot cache, for naming one or both, for sizing them, soft-limit, etc.  One way to start would be to look at all the SCC options and see how they would have to be adapted to work in a multi-cache world.

[2018-04-13 05:03] DanHeidinga commented on #1621
https://docs.oracle.com/javase/9/docs/api/jdk.jcmd-summary.html

Describes the jdk.jcmd module which includes:
jcmd, jinfo, jmap, jps, jstack, jstat

All of the tools are listed as experimental and unsupported... but they've been listed that way for years so I don't think that tells us anything yet.

[2018-04-13 13:07] sxa555 commented on #1662
Oh hadn't realised that even you wouldn't be able to. Grrr ... Maybe I'll go through the signup process just so I can be assigned stuff. Or use it as an excuse not to work on issues here ;-)

[2018-04-13 13:08] sxa555 commented on #1662
In all seriousness I'm now working on the first of the machines - got part way through the install (manually for now) and I'll see if I can do anything more clever for the subsequent ones. It's the first time I've set up an OpenJ9 or AdoptOpenJDK windows box from scratch so I want to make sure I understand what's going on.

[2018-04-13 13:14] pshipton commented on #1662
You can't just sign up to become an OpenJ9 committer. It requires submitting sufficient change to OpenJ9 to earn the trust of existing committers, and getting voted in https://www.eclipse.org/projects/handbook/#elections-committer

[2018-04-13 13:15] pshipton commented on #1662
You can sign the ECA to become a contributor.

[2018-04-13 13:33] ashu-mehra commented on #1428
I found reference to MinRAMFraction (which gets deprecated by MinRAMPercentage) in this book excerpt: https://books.google.co.in/books?id=aIhUAwAAQBAJ&pg=PA174&lpg=PA174&dq=XX:MinRAMFraction&source=bl&ots=E6Xs7m05gE&sig=4fOy_TApETJ4iSEpLhxKiw-j8Fo&hl=en&sa=X&ved=2ahUKEwiN_6n5jbfaAhWJQI8KHZieCGMQ6AEwA3oECAAQRg#v=onepage&q=XX%3AMinRAMFraction&f=false

From that text, it appears `MinRAMFraction's` de

[2018-04-13 14:09] dmitripivkine commented on #1428
We should not support obsolete options. However if MinRAMPercentage is supported currently by OpenJDK we should implement it as well. The meaning of it see my comment above

[2018-04-13 14:24] pshipton opened #1684 "Support for compiling on gcc 7.3"
OpenJDK has modified Linux compilation for Java 11+ to use gcc 7.3 and OpenJ9 should support the same.

https://bugs.openjdk.java.net/browse/JDK-8200375

[2018-04-13 14:34] ashu-mehra commented on #1428
I tried this but I still see max heap size as 256M. I started a docker container with 200M memory and ran java 10 as:
[code]

I agree. As the above observation is different from Dmitri's comment, I searched and referenced now obsolete option `MinRAMFraction` in my previous [comment](https://github.com/eclipse/openj9/issues/1428#issuecomment-381136686) only to understand what `MinRAMPercentage` mea

[2018-04-13 14:53] sxa555 commented on #1662
Windows machine `oj9-win2012r2-1` has been set up manually as per the current adoptopenjdk ansible playbook (excluding NTP as yet, and including the SDK)
It does NOT include any of the additional stuff being proposed in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/300
@AdamBrousseau if you want to try chucking it in jenkins we can see if it works :-) (ping me for the jenkins user pa

[2018-04-13 15:32] pdbain-ibm commented on #1621
I am under the impression that jcmd uses late attach (i.e. attach API), while the other tools do not.  Is that correct?

[2018-04-13 15:46] dmitripivkine commented on #1428
ok. I apologize. So that description I found is not accurate

[2018-04-13 16:09] fjeremic commented on #1684
I think https://github.com/eclipse/openj9/pull/1682 is a prerequisite to this. We need to fix the JIT to be able to compile with the latest GCC versions.

[2018-04-13 20:02] DanHeidinga commented on #1659
@llxia @renfeiw Any update on this?

[2018-04-13 20:11] llxia commented on #1659
PR #1672
I think this can be close.. @renfeiw , can you confirm?

[2018-04-13 21:04] renfeiw commented on #1659
The extended build should run green now. All failures are fixed. @pdbain-ibm Could you please take a look at the VmArgumentTests_0 testExecutableJarArguments and testJarArguments test? Looks like the test code needs to be updated to support SE100. I have excluded them right now in the latest_exclude_SE100.xml.

[2018-04-13 23:36] #1429 closed

[2018-04-14 12:45] ashu-mehra commented on #1621
Another tool in this space is JDK Mission Control which will likely be open-sourced soon as per http://mail.openjdk.java.net/pipermail/discuss/2018-March/004715.html.

[2018-04-14 16:38] #1629 closed

[2018-04-14 17:54] JamesKingdon commented on #685
The inline assembly looks clean and avoids concerns that a newer compiler might go one step further and optimise successive memcpy calls to a store multiple after inlining.

[2018-04-15 15:10] JamesKingdon commented on #1205
I had a concern with the memcpy approach that future compilers would apply the one more step of optimisation apparently required to get back to generating store multiples again, so I've replaced all the problem areas with inline assembly. Fortunately this only impacts an ARM specific file, so any perceived ugliness is contained.

[2018-04-16 09:09] chandrams commented on #953
@pshipton @keithc-ca

The OpenJ9DiagnosticsMXBean internally uses Dump.setDumpOptions() to dynamically configure dump options and trigger dumps on a remote application.  At present we need to specify -Xdump:dynamic during the application startup for dynamically configuring throw/catch events using Dump.setDumpOptions() to work, which is not good as the application has to be restarted and the whole

[2018-04-16 10:16] chandrams opened #1694 "Assertion failed while launching a liberty app using -Xdump:dynamic"
Launching a liberty application using -Xdump:dynamic failed with assertion failed as below.

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-b12)
Eclipse OpenJ9 VM (build master-4ecf7846, JRE 1.8.0 Linux amd64-64 Compressed References 20180411_144 (JIT enabled, AOT enabled)
OpenJ9   - 4ecf7846
OMR      - cb9e24de
JCL      - 580e5327 based on jdk8u162-b12)

[code]

[2018-04-16 10:25] SueChaplain commented on #1616
@mstoodle

**Release predictions:**

Your OpenJ9 release dates line up with the Oracle CPU dates but they don't keep exactly in step.

E.g We have May 2018 / August 2018 (assumes April CPU is merged and available by May, July CPU by August), but then your later dates realign with the CPU ... October 2018, January 2019, April 2019, July 2019.

Do you envisage a time when we will be able to release

[2018-04-16 12:07] JasonFengJ9 commented on #1550
x500 grinder all passed with -Xint.

@andrewcraik @fjeremic Could JIT folks take a look this issue?
Please ping me for machine access and problem reproducing.

[2018-04-16 12:27] pdbain-ibm commented on #1659
This line in VmArgumentTests needs updating:
[code]
Currently I have an ad-hoc test for Java version:

That needs updating.

[2018-04-16 12:36] pdbain-ibm commented on #1593
https://github.com/eclipse/openj9/pull/1641

[2018-04-16 12:36] #1593 closed

[2018-04-16 13:26] pshipton commented on #1659
Why does it need updating? Checking if the java.version system property starts with "1.8.0" is still valid.

[2018-04-16 13:27] pshipton commented on #1659
If you mean to check for Java 9, 10, etc. then if its not Java 8, it will start with 9, 10, 11, etc.

[2018-04-16 13:29] DanHeidinga commented on #1659
If you want a better version check, look at something like: https://github.com/eclipse/openj9/pull/1696

[2018-04-16 13:36] AdamBrousseau commented on #972
Now that we have stable 10 sanity builds, do we want to add 10 to the OMR acceptance build or replace 9 with 10? We usually only run 2-3/day (every OMR PR merge). The current builds (z/p JDK9) usually take about 2 hours. @DanHeidinga @pshipton

[2018-04-16 13:39] DanHeidinga commented on #1694
@chandrams Does a simple `java -Xdump:dynamic -version` assert as well?

[2018-04-16 13:45] DanHeidinga commented on #1621
@ashu-mehra Mission Control is really cool.  The historical alternative has been HealthCenter.

I'd like to keep this particular issue focused on which commandline tools to support with OpenJ9 so we don't try to boil the ocean in one go.

[2018-04-16 13:51] DanHeidinga commented on #972
As JDK9 is already out of support, we should be transitioning our builds to do both 8 & 10.

[2018-04-16 13:58] pdbain-ibm commented on #1659
This code doesn't handle Java 10 or later.

[2018-04-16 14:05] fjeremic commented on #1550
@gita-omr could we get someone from the Power side to take a look at this AIX intermittent failure?

[2018-04-16 14:14] DanHeidinga commented on #1659
Does `this code` refer to #1696 or the `startsWith(...` code?

[2018-04-16 14:19] pdbain-ibm commented on #1659
https://github.com/eclipse/openj9/pull/1696 will come in handy here.

[2018-04-16 14:43] pshipton opened #1697 "Support for compiling Windows on VS2017"
OpenJDK is modifying Windows compilation for Java 11+ to use VS2017 and OpenJ9 should support the same.

https://bugs.openjdk.java.net/browse/JDK-8201267

See also #1684

[2018-04-16 14:52] pdbain-ibm commented on #1659
@DanHeidinga

I was referring to the startsWith code which was written pre-Java 9.  I hacked in a variant of your algorithm to verify it.

[2018-04-16 15:54] pshipton commented on #953
There is a performance penalty for enabling-Xdump:dynamic which is why its not enabled by default. The following hooks are enabled.

J9HOOK_VM_EXCEPTION_THROW
J9HOOK_VM_EXCEPTION_CATCH

[2018-04-16 15:55] LinHu2016 commented on #1370
not sure if we need to support finalization for "no-gc collector"

[2018-04-16 15:59] pshipton commented on #953
It appears using -Xdump:dynamic disables aot.

[code]

[2018-04-16 16:28] dmitripivkine commented on #1370
I believe we should not touch finalization code for primary implementation. There are number of possible improvements (including finalization) we can do in future if necessary

[2018-04-16 17:04] JasonFengJ9 commented on #1550
The grinder with `-Xjit:disableIdiomRecognition` still failed, it seems it didn't make a difference about the failing rate either.

[2018-04-16 17:49] babsingh opened #1701 "Verify yum_install_aix-ppc64.txt for JDK 8/9/10"
[OpenJ9 Build](https://www.eclipse.org/openj9/oj9_build.html) website refers to **Build_Instructions_V${version}.md** for the full set of build instructions.

Within **Build_Instructions_V${version}.md**, there is a reference to **yum_install_aix-ppc64.txt** in the [Prepare your system](https://github.com/babsingh/openj9/blob/master/buildenv/Build_Instructions_V8.md#1-prepare-your-system-1) sectio

[2018-04-16 18:25] chandrams commented on #1694
No, java -Xdump:dynamic -version this works fine. No other dump options are present.
I have only exported JVM_ARGS="-Xdump:dynamic"

[2018-04-16 19:09] mstoodle commented on #1616
There is certainly an "aspirational" aspect to the future dates. Can we do it in the same month? I'm not sure, but I think it's a good goal and we should be trying the "reel in" our releases to be as close as we can manage.

Yes and no. I think we should decide the set of platforms for which OpenJDK with Eclipse OpenJ9 should be built and supported, and hopefully that would also be the set of plat

[2018-04-16 20:17] rweijnen commented on #1564
Any updates on this issue?

[2018-04-16 23:24] kubaseai opened #1704 "Attach API does not work as expected in docker container"
root@user-Aspire-ES1-431:~# docker run -d -p 8080:8080 -e DOCKER_HOST_IP=192.168.100.132 -e IBM_JAVA_OPTIONS="-Dcom.ibm.tools.attach.logging=yes --ipc=host --net=host -v /tmp:/tmp kubaseai/bw-time

I'm able to connect with jconsole using Attach API (/tmp directory + semaphore + TCP/IP).

When I remove --net=host JVM inside has got different meaning of localhost than jconsole.
I guess that somethin

[2018-04-16 23:43] pshipton commented on #1564
Looking at the examples, you have to initialize the thread library, but not explicitly the omr port library. I created a working example. I compiled and ran it on Linux but it should work the same on Windows.

Instead of calling j9port_allocate_library() / j9port_create_library() / j9port_startup_library() you could call j9port_init_library() instead, which is the second example below.

[code]

[c

[2018-04-17 03:00] DanHeidinga commented on #1637
@cathyzhyi Any update on this?

[2018-04-17 12:18] pdbain-ibm commented on #1659
@smlambert I have regression tested my change with #1696 on Java 8 & 9.  Would you kindly run a Java 10 build on https://github.com/eclipse/openj9/pull/1706.
Many thanks
-p

[2018-04-17 12:25] SueChaplain commented on #1565
A clear content strategy will help us decide where content should live and help contributors find it. As @DanHeidinga  points out, we already have a number of repos and places where things might live and I've heard comments from people that certain things can be "hard to find". @JamesKingdon you started this discussion for doc that was more in-depth than the FAQ. Not sure what type of content you

[2018-04-17 12:27] rweijnen commented on #1564
Both your examples crash equally well on Windows with Visual Studio 2010 with the same Access Violation as with my original example.

[2018-04-17 12:46] JamesKingdon commented on #1565
Thanks Sue, that helps lay out the land really nicely. My original thought for the wiki would have fitted in as part of the area you describe as "Technical developer documentation". It was triggered by reading a really useful comment in one of the issues and thinking that we need a way of capturing such info. Generally these are smaller pieces of text than fit naturally in the docs directory (ofte

[2018-04-17 13:32] SueChaplain commented on #1565
Ah OK, I see the type of content you are intending and why a wiki would be easier to update. Keeping it under control is another consideration though as this type of thing can grow quickly and has a tendency to get stale.

[2018-04-17 13:37] SueChaplain commented on #1565
Regarding access control for wikis (from GitHub help):

**Changing access permissions for wikis**
Only repository collaborators can edit a public repository's wiki by default, but you can give anyone with a GitHub account edit permissions.

1. On GitHub, navigate to the main page of the repository.

2. Under your repository name, click  "Settings".

3. Under Features, unselect "Restrict edits to c

[2018-04-17 13:38] jilleb commented on #1564
Can confirm, still failing on W7x64/VS2010.

[2018-04-17 13:43] DanHeidinga commented on #1565
collaborators == committers?  We don't have direct access to the settings for the wiki - only the Eclipse Foundation does.  The webmaster will action most reasonable requests we make.

[2018-04-17 13:59] JamesKingdon commented on #1565
No, it seems collaborators is a finer grained acl to which you can invite individual users: https://help.github.com/articles/inviting-collaborators-to-a-personal-repository/

[2018-04-17 14:03] SueChaplain commented on #1565
Isn't that process for personal repos rather than those that are owned by an organisation?

[2018-04-17 14:07] JamesKingdon commented on #1565
Ah, could be. Perhaps I should have read further.

[2018-04-17 14:10] JamesKingdon commented on #1565
I'm skimming, bit editing wiki appears as row in the table on this link: https://help.github.com/articles/repository-permission-levels-for-an-organization/

So, I think you can create a team of wiki editors, git the team that permission and add individuals to the team. Seems fairly comprehensive.

[2018-04-17 14:45] adamfarley commented on #1464
It turns out OMR changes the amount of native memory we are reserving in a way that changes based on the precise quantity of memory reserved by individual memory transactions.

Since all Bits has is the overall total for all transactions, we can't know what the amount we're actually reserving is. I've put together a set of arguments for modifying Bits, and I'm waiting to hear back from the OpenJDK

[2018-04-17 16:44] AdamBrousseau commented on #1395
Going to close this for now as I do not plan to use it. Can be revisited later.

[2018-04-17 16:44] #1395 closed

[2018-04-17 19:05] TianyuZuo opened #1708 "functional test migration follow-up issues"
functional tests will be moved to `functional` folder in `openj9/test/`, Issue #1679  once this movement is done. We need some follow up PR to enhance this movement.

1. move `getdependency to functional level. `
2. make build_list more flexible - it can be target to each sub level of test folder.
3. update readme file to pointing to the right position and mention functional folder.

[2018-04-17 19:07] TianyuZuo commented on #1708
fyi @llxia  @renfeiw

[2018-04-17 19:35] pdbain-ibm opened #1709 "Test project for modularity"
We need tests to exercise modularity, specifically (at first) checking class visibility under various conditions.  Eclipse at present allows only one module-info.java (and hence one module) per eclipse project.

Assuming we need N modules, we can:

1. Maintain N projects (clumsy and hard to maintain).  Also, test cases which are caught at compile time as well as runtime are problematic.

2. Put al

[2018-04-17 20:11] #1160 closed

[2018-04-17 21:56] JasonFengJ9 commented on #1627
`B.class.getDeclaredFields()` doesn't require the successful instantiation of class `B`. Actually `for (Field f : B.class.getDeclaredFields())` can be executed and print out `public int x` if it is put before `B.class.newInstance()`.

It appears `J9VMInternals.prepare(this)` within `j.l.Class.getDeclaredFields()` remembers last initialization error caused by `B.class.newInstance()`.
Probably `Clas

[2018-04-18 02:38] pshipton opened #1711 "OMR acceptance builds stuck for hours"
at the step `Compiling 4 files for BUILD_JIGSAW_TOOLS`.

Its 22:31 right now.

https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance/405/

https://ci.eclipse.org/openj9/job/Build-linux_390-64_cmprssptrs/588/console
[code]

https://ci.eclipse.org/openj9/job/Build-linux_ppc-64_cmprssptrs_le/555/console
[code]

https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptanc

[2018-04-18 03:26] DanHeidinga commented on #1627
We can't change the `initializeStatus` back to a valid state here.  The prepare happens here to ensure that we don't need an `Unsafe.ensureInitialized()` call on every Method/Field access.  I think we're OK to ignore the invalid `initializeStatus` here as we know there will never be an instance.

[2018-04-18 14:34] DanHeidinga commented on #1711
@AdamBrousseau Are you looking at this?

[2018-04-18 14:50] DanHeidinga commented on #1711
Discussed with Adam.  Unlikely to be a jenkins or machine issue.

Next step is for @babsingh to back out the signal-related changes and try a compile on pLinux or zLinux.

[2018-04-18 14:52] DanHeidinga commented on #1711
ie: backing out starting at this change: https://github.com/eclipse/openj9-omr/commit/62f92c8c4ecb72c1c5c8cf5e28a8ef24c8762477

[2018-04-18 16:29] pdbain-ibm opened #1713 "Test projects are missing .project and .classpath files"
@llxia @TianyuZuo FYI
It appears these were lost when https://github.com/eclipse/openj9/pull/1679 was applied.
[code]

Would you kindly restore the .project and .classfile files in these projects.

[2018-04-18 17:13] pshipton commented on #1564
I ran an openj9 build on Windows 7 VS2010. This produced pltest.exe in openj9-openjdk-jdk8\build\windows-x86_64-normal-server-release\vm. I started pltest.exe (no parameters, cd was the location of pltest) and it ran and passed all the tests `ALL TESTS COMPLETED AND PASSED`. Next I'll try the standalone example I created earlier.

[2018-04-18 17:29] AdamBrousseau commented on #1711
Perhaps a +1 for #974

[2018-04-18 17:35] sxa555 opened #1714 "Build break in VPHandlersCommon.cpp (Adoptopenjdk10/OpenJ9)"
From https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_x86-64_linux/32/consoleFull but it affects all platforms. Started failing with today's nightly build:

`/mnt/home/jenkins/workspace/openjdk10_openj9_build_x86-64_linux/openjdk/build/linux-x86_64-normal-server-release/vm/compiler/../omr/compiler/optimizer/VPHandlersCommon.cpp:401:1: error: static assertion failed: constraintHandlers is not

[2018-04-18 17:44] TianyuZuo commented on #1713
will restore those missing .project files.

[2018-04-18 18:09] pshipton commented on #1714
All OpenJ9 builds are blocked on accepting a new OMR level, which isn't working atm for as yet unknown reasons #1711

[2018-04-18 18:12] pshipton commented on #1711
Note OpenJ9 could temporarily back out #1702, which should allow OpenJ9 builds to proceed until the OMR acceptance problem is resolved. Although as it stands OMR acceptance cannot succeed with #1702.

[2018-04-18 18:18] rweijnen commented on #1564
Just tested `pltest.exe` here and also works fine (`ALL TESTS COMPLETED AND PASSED`), curious to your result of the sample code. Thanks for taking the effort.

[2018-04-18 18:43] pshipton commented on #1564
I had to make some minor changes to compile on Windows, but it works. I used the same compile/link options as for pltest.

[code]

[code]

[2018-04-18 19:01] pshipton commented on #1564
It still works when I trim down the compile line to `cl /Ox -DWIN64 -DWIN32 -DJ9HAMMER -Fdmain.pdb -nologo -Zm400 -W3 -Zi -MD -WX -I. -I../include -I../oti -I../port/common -I../nls -I../omr/include_core -c main.c`

[2018-04-18 21:33] vsebe commented on #974
I would prefer at a higher level. The get source has indirectly timeout for git commands.

[2018-04-19 00:07] #1288 closed

[2018-04-19 01:31] babsingh commented on #1711
After a closer look, the following changes were causing the hang: https://github.com/eclipse/omr/pull/2421. Only macros were introduced in this pull request. The intermittent hang was seen on x, z and p Linux during the `BUILD_JIGSAW_TOOLS` phase. Still have to determine the relation between the hang and the new macros.

[2018-04-19 02:32] pshipton commented on #1711
The only actual change seems to be to OMRPORT_SIG_FLAG_SIGALLASYNC

[2018-04-19 10:14] sxa555 commented on #1714
Now that 1711 has been closed can we expect this to be resolved or is more work required?

[2018-04-19 11:17] sxa555 commented on #1714
Looks like the builds today are starting to run through successfully - will close this once I've confirmed they're all ok.

[2018-04-19 14:55] DanHeidinga commented on #1633
@NatiZel Do you have a minimal test case that reproduces this issue?

@gacholio pointed out there is already code in https://github.com/eclipse/openj9/blob/d5839e9dd7b37b512f6dfb383738dc1aeec8df0a/runtime/jvmti/jvmtiStackFrame.c#L489 to handle the invokeinterface/invokeinterface2 case.

A test case would help to validate the code and what would need to change

[2018-04-19 17:39] pshipton opened #1721 "OpenJ9DiagnosticsMXBean and other mxbean testing is not running"
#718 added OpenJ9DiagnosticsMXBean and a corresponding test. The test is not running and this should be fixed. This isn't the only mxbean test which isn't running, there are a others as well: testOSMXBeanLocal, testOSMXBeanRemote, testJCMMXBeanLocal, testJCMMXBeanRemote. There are some others but I think they have special machine requirements.

https://ci.eclipse.org/openj9/job/Test-Extended-JDK8-

[2018-04-19 22:47] AdamBrousseau commented on #1017
Reopening this for discussion as we've got an eclipse bugzilla opened against us for consuming 365G space. They would like us to stay under 100.
https://bugs.eclipse.org/bugs/show_bug.cgi?id=533823
Propose we add `Max # of builds to keep with artifacts:` set to `X` for PR builds and `Y` for Build jobs.
Currently an example PR job that is keeping 50 builds and 60 days for artifacts. There are 50 ar

[2018-04-19 22:57] AdamBrousseau opened #1727 "Jenkins: Looming space issue on slaves"
The way our builds currently work, we try to cleanup as much as possible after a build but we generally leave the OpenJDK repo in the workspace to save clone time on the next build (`git clean -ffxd`). This applies to all Build* and PullRequest* jobs. For Test* jobs we do a full `cleanWs()` because we do not clone OpenJDK in these jobs. Leaving the OpenJDK repo behind consumes 1.0-2.5G per workspa

[2018-04-19 23:59] smlambert commented on #1721
The test was added to run in Mode100, Mode101, which do not apply to certain buildspecs: https://github.com/eclipse/openj9/blob/master/test/TestConfig/resources/ottawa.csv#L17 and L18 show this.

Not sure why those modes were selected (or any with -Xnocompressedrefs), but would suggest replacing the variation contents in the playlist `<variation>-Xjit -Xgcpolicy:optthruput</variation>` and `<varia

[2018-04-20 01:34] DanHeidinga commented on #1017
Agreed.  Though I'm fine with decreasing the number of builds kept until there is evidence someone is actually downloading them.

[2018-04-20 03:49] pshipton commented on #1721
Using NoOptions  (i.e. default options) would be fine, for OpenJ9DiagnosticsMXBean and the others (testOSMXBeanLocal, testOSMXBeanRemote, testJCMMXBeanLocal, testJCMMXBeanRemote) if they have the same issue. The same I think for most any test unless its a GC specific test. I think using these particular modes is just historical, i.e. it made sense long long ago.

 If/when we fix the modes for Open

[2018-04-20 04:42] ChengJin01 commented on #1032
I've already fixed all existing bugs detected in personal build (if there is no issue captured later) and are currently preparing new test cases which will be finished soon.

[2018-04-20 12:59] DanHeidinga commented on #1727
@AdamBrousseau how is the reference repo kept up to date?

[2018-04-20 13:02] DanHeidinga commented on #1032
@ChengJin01 Are early footprint test results available?  Something to give a sign post on whether this is worth pushing further on?

[2018-04-20 13:11] AdamBrousseau commented on #1727
Few options:
1. Leave it alone. I would think that after initial clone you would have 99% of the meta that would ever go into the extensions repos. The git clone would only ever need to fetch the small diff.
1. Have a job that keeps them up to date either daily or weekly.
1. Build in the refresh into the build jobs. I suspect that would be unnecessary overhead though.

[2018-04-20 13:22] pshipton opened #1729 "jdk10 zlinux VmArgumentTests testMemoryLeaks failed"
https://ci.eclipse.org/openj9/job/Test-Extended-JDK10-linux_390-64_cmprssptrs/14/tapResults/
[code]

[2018-04-20 13:43] DanHeidinga commented on #1729
Does the test pass on JDK8 / JDK9?

[2018-04-20 14:12] Mesbah-Alam commented on #1566
The issue is also seen in Openjdk10-Openj9 (the only Openj9 version in which the error is seen) : https://ci.adoptopenjdk.net/view/System%20tests/job/openjdk10_j9_systemtest_x86-64_linux/7/tapResults/

[2018-04-20 14:15] dmitripivkine commented on #1729
Based on GC related unreleased java one(?) j9vmthread has been missed in shutdown

[2018-04-20 14:31] ChengJin01 commented on #1032
Will verify this on Liberty startup to see whether it works as expected.

[2018-04-20 14:42] AdamBrousseau opened #1731 "Jenkins: Intermittent Git checkout failures on slave ub16-390-1 (LXEOJ901)"
Opening this as I've not found the root cause yet. We can use this to keep track of failures and discuss possible causes or solutions.

Failure when doing the `checkout scm` step ([here[(https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/jobs/builds/Build-JDK10-linux_390-64_cmprssptrs#L35) or [here](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/jobs/tests/Test-Extended

[2018-04-20 16:01] pshipton commented on #1729
Seems its an intermittent problem? I ran zLinux extended tests in PR build and it passed.
https://ci.eclipse.org/openj9/job/PullRequest-Extended-JDK10-linux_390-64_cmprssptrs-OpenJ9/5/

[2018-04-20 16:11] vsebe commented on #974
@smlambert restricting sanity and extended test pipeline builds to 8 hours.

[2018-04-20 18:57] smlambert commented on #1729
Within the next few days, I plan to add 'Grinder' capabilities here: https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/ which we could maybe try out for this particular intermittent failure.

[2018-04-20 20:07] pdbain-ibm commented on #1709
I hacked up an outline of 2. (with a makefile in lieu of the ant scripting) for designer testing the VM.
This is preliminary and I am agreeable to a better arrangement.

https://github.com/pdbain-ibm/openj9/tree/modularity

Relevant directories are https://github.com/pdbain-ibm/openj9/tree/modularity/test/functional/Java9andUp/modules
and
https://github.com/pdbain-ibm/openj9/tree/modularity/test/f

[2018-04-20 20:25] ChengJin01 commented on #1032
Pete reminds me that we may need to call updateAccessedShrCacheMetadataBounds() to determine the area to be disclaimed in the memory.  Need to double-check whether it is required in the code changes.

[2018-04-20 21:07] sophia-guo opened #1736 "wget dependent *.jar in getDependencies.pl get "ERROR: sha1 sum check error." on Windows"
Using getDependencies.pl to get dependent jars all jars got "ERROR: sha1 sum check error." on Windows. Following is asm-all.jar error:

20:40:59 downloading dependent third party jars to C:/Users/jenkins/workspace/openjdk_test_x86-64_windows/openjdk-tests/\\TestConfig\\lib
20:40:59 downloading http://central.maven.org/maven2/org/ow2/asm/asm-all/6.0_BETA/asm-all-6.0_BETA.jar
20:40:59 ERROR: sha1 su

[2018-04-20 21:45] ChengJin01 commented on #1032
The changes already called updateAccessedShrCacheMetadataBounds when locating the stackmap in the shared cache in the same way as SH_CacheMap::findCompiledMethod(),  so the disclaimed area should cover these stackmap entries in this section.

[2018-04-20 22:59] ChengJin01 commented on #1032
@pshipton,  two questions about the disclaimed metadata section:
1) Does the disclaimed section get disclaimed once again if it is brought back to the memory by a certain invocation (AOT, verification, etc) ?
2) If not the case, how big is this area mapped  back to the memory ? the whole metadata section from the start to the location specified by the invocation or just part of the area.

The reas

[2018-04-20 23:27] pshipton commented on #1032
@fjeremic recently did an experiment which collected RSS statistics every 100 milliseconds. You could do something similar to see how the RSS changes over the course of the run.

[2018-04-21 01:00] fjeremic commented on #1032
I can post the scripts I used to collect if needed. Major thing of note was that the RSS numbers as reported by `ps -orss` will not take into account huge pages if they are enabled on Linux. OpenJ9 will by default consume them if available so the number of used huge pages needs to be taken into account when measuring RSS.

[2018-04-21 01:44] ChengJin01 commented on #1032
@fjeremic ,  many thanks for your support. Will check if we need to collect this.

@pshipton,  is there anything different for a second run when the same shared cache already exists?  Does it still disclaim the metadata section after startup ? (I assume it does exactly the same thing which ends up with pretty much the same result as the first run)

[2018-04-21 03:27] pshipton commented on #1032
I don't think the disclaim works on the first run, only subsequent runs.

[2018-04-22 06:42] NatiZel commented on #1633
@DanHeidinga  I don't have simple tester for that, guess it's connected to the fact that the class is instrumented, will try to provide one..
It seems that the code in jvmtiStackFrame.c is not executed in my case, returning 2 bytes shift ahead..

[2018-04-22 10:30] kubaseai commented on #1704
[FileRMI.zip](https://github.com/eclipse/openj9/files/1935446/FileRMI.zip)
I need to find a time to see if something like this would work.

[2018-04-23 02:55] ChengJin01 commented on #1032
Discussion with Pete on Slack:
From Jin Cheng:
As for LibertyStartup,  a cold run is the 1st run in which case the server is launched without the shared cache
while the subsequent runs are warm runs in which case the server is launched when the shared cache has been created in the cold run
So you mean, the disclaim work only happens on warm runs rather than the cold run, right?
But my understandin

[2018-04-23 02:56] ChengJin01 commented on #1032
[logs_liberty_cold_runs.txt](https://github.com/eclipse/openj9/files/1936475/logs_liberty_cold_runs.txt)

[2018-04-23 03:04] DanHeidinga commented on #1669
Some notes on where to change for noncompressedrefs build: https://github.com/eclipse/openj9/issues/479#issuecomment-346047636

@theresa-m is looking into this.

[2018-04-23 09:53] andrew-m-leonard commented on #1522
@DanHeidinga @pdbain-ibm Anymore debug we can do on this please? our jdk11 builds fail every night with this... we're going to have to get to the bottom of it some how. Any clues?
@pshipton

[2018-04-23 12:59] taliamccormick opened #1737 "[Jenkins] Git checkout failing because file name too long"
`git checkout` within a PR build fails with:
[code]
(https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDKValhalla-linux_ppc-64_cmprssptrs_le_valhalla_nestmates-OpenJ9/14/)

This particular example is triggered by my WIP Valhalla nestmates build, which has a slightly longer job name. However, if future PR builds have longer names or internal file paths change then they can face the same failure

[2018-04-23 13:11] pdbain-ibm commented on #1522
I haven't been able to work on this due to other higher priority tasks and don't anticipate getting to this soon. I wasn't able to reproduce the issue locally.

[2018-04-23 14:32] mstoodle commented on #1616
Ok, so the discussion has clearly wound down, and I don't think anyone has expressed any objection to the basic verbiage, though we need to polish and get the actual platform support tables created.

**I formally request that the committers explicitly mark their approval of this basis support statement**, since the committers are the group of people who will most directly control how we implement

[2018-04-23 14:48] JasonFengJ9 commented on #1550
@gita-omr do you any info for machine access and the steps to reproduce the failure?

[2018-04-23 14:50] zl-wang commented on #1616
+1

[2018-04-23 14:51] joransiu commented on #1616
+1

[2018-04-23 14:59] gita-omr commented on #1550
@JasonFengJ9: yes,  please provide machine access and steps to reproduce the failure. Thanks.

[2018-04-23 15:02] hangshao0 commented on #1164
I plan to set default size to 32MB for non-persistent cache and 64MB for persistent cache.

[2018-04-23 15:02] keithc-ca commented on #1616
+1

[2018-04-23 15:02] DanHeidinga commented on #1616
+1

[2018-04-23 15:03] SueChaplain commented on #1616
+1

[2018-04-23 15:04] pshipton commented on #1616
JDK11 is in the same state as JDK8. Oracle has only committed support in OpenJDK for 6 months. In the table it should be marked as *CurrentlyNo

[2018-04-23 15:04] vijaysun-omr commented on #1616
+1

[2018-04-23 15:08] 0xdaryl commented on #1616
+1

[2018-04-23 15:08] charliegracie commented on #1616
+1

[2018-04-23 15:13] hangshao0 commented on #1288
We might want to mention this change in what's new for Java 10 ?

[2018-04-23 15:26] JasonFengJ9 commented on #1550
Provided the info to @gita-omr in Slack.

[2018-04-23 15:30] pdbain-ibm opened #1738 "MethodHandles.lookup().findVirtual() on unexported package does not throw exception"
For testcase code, see https://github.com/pdbain-ibm/openj9/tree/modularity/test/functional/Java9andUp, org.openj9.test.modularity.tests.MethodVisibilityTests

Test in module org.openj9test.modularity.testerModule tries to perform MethodHandles.lookup().findVirtual() on a class in an unexported package in a read module.

The reference implementation throws java.lang.IllegalAccessException, OpenJ9

[2018-04-23 15:54] dmitripivkine commented on #1616
+1

[2018-04-23 15:59] ymanton commented on #1616
+1

[2018-04-23 16:00] JasonFengJ9 commented on #1522
I think this error occurred before in my `OpenJ9-jdk11` build before, will have a look if this can be reproduced locally.

[2018-04-23 16:03] mstoodle commented on #1616
@pshipton I updated the table, thanks for pointing that out.

[2018-04-23 16:18] jonathanwoodford commented on #1616
+1

[2018-04-23 16:26] andrew-m-leonard commented on #1522
Since it is intermittent, is there some multi-threading occuring where 2 threads check for the ending "/" and both add one or something if it does have it...!?!

[2018-04-23 16:42] andrew-m-leonard commented on #1522
Yes, this hack in pkgname.c seems to fix it for me, just need to figure out why it's like that...??!
[code]

[2018-04-23 17:07] gita-omr commented on #1616
+1

[2018-04-23 17:35] #1632 closed

[2018-04-23 17:42] pshipton commented on #1164
For the record, please explain the reasoning for using these values.

[2018-04-23 17:49] mstoodle opened #1741 "JIT inlining verbose option doesn't work well with multiple compilation threads"
When you use the option `-Xjit:verbose=(compileStart|inlining|compileEnd)` the output can be mixed across compilation threads and it's only by examining pointers (which in theory could overlap) that you can piece together what's happening. The output could be made easier for users to filter out the events that happened on particular threads (even if the various lines are still interleaved in the v

[2018-04-23 17:51] llxia commented on #1616
+1

[2018-04-23 17:54] fjeremic commented on #1741
Sounds like we need some sort of printing mutex?

[2018-04-23 19:45] mpirvu commented on #1164
Are the new limits (32/64MB) going to be soft-limits or hard ones?

[2018-04-23 19:53] AdamBrousseau opened #1746 "Jenkins: Pipeline should fail if we cannot find the right node labels to run on"
During the [set_node](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/variables-functions#L196) function, if the value returned to `NODE` is blank, we should fail, otherwise the build will run on any node. This should never happen in production, but protecting against it can make debug easier when adding new stuff.

[2018-04-23 19:53] AdamBrousseau commented on #1737
The issue with the PR was actually something wrong with the pipeline code that was being added in the PR mentioned above. The PR was running on a Windows node (that is currently being configured via #1662). I think this can be closed as a dup of that.

I have opened #1746 to address the issue of not picking up the right node.

[2018-04-23 19:57] taliamccormick commented on #1737
Closing as duplicate of https://github.com/eclipse/openj9/issues/1662

[2018-04-23 19:57] #1737 closed

[2018-04-23 19:58] hangshao0 commented on #1164
Hard ones.

[2018-04-23 20:34] pshipton commented on #1721
#1745 should help with the intermittent issues that occur running the OpenJ9DiagnosticsMXBean test.

[2018-04-23 20:39] pshipton commented on #1164
- can we check the default shmmax and use a bigger cache size if its supported? Or just try a bigger limit and fall back to the smaller limit if the bigger limit fails.

- is it feasible to set a larger hard limit such as 300MB and set the soft limit to 64MB?

[2018-04-23 21:58] pshipton commented on #1164
I don't think there is any drawback to creating a cache which has a large hard limit. It doesn't actually take up the full amount on disk, only the amount which is used. Similarly for the non-persistent cache, it uses virtual address space but not physical memory.

[2018-04-23 22:00] pshipton commented on #1164
I'd expect the fallback to occur in lower level code rather than using adjustCacheSizes()

[2018-04-24 02:55] #1627 closed

[2018-04-24 13:15] felipepontes-research commented on #1627
@DanHeidinga for sure! I will do that.

[2018-04-24 13:27] keithc-ca commented on #1522
It looks like something is cycling through the characters `!"#$%&'()*+,-./` and `/` is a bad choice. Is OpenJ9 responsible for those lambda names?

[2018-04-24 14:01] #1746 closed

[2018-04-24 15:12] pdbain-ibm commented on #1738
MethodHandles.lookup().findClass() should also throw IllegalAccessException.
MethodType.fromMethodDescriptorString() should throw no exception.

[2018-04-24 15:16] hangshao0 commented on #1164
I am fine with creating a large cache and set a soft limit by default. How about this:
Set the default size to 300MB and set default soft limit to 64MB. In the case of shmmax < 200MB, set the cache size to shmmax and do not set soft limit.

[2018-04-24 15:25] andrew-m-leonard commented on #1522
@keithc-ca I'm just debugging java/lang/invoke/InnerClassLambdaMetafactory.java at the moment which generates the Lambda+<index>. To generate the <index> it is using an AtomicInteger that uses an Unsafe (J9 code) box of the AtomicInteger "int" field, the increment is then done via Unsafe.getAndAddInt().

The classname is constructed as:
String className = .... "Lambda$" + atomicInteger.incrementAn

[2018-04-24 15:25] mpirvu commented on #1164
In case we use a hard limit of 300MB (and a soft limit of 64MB) does that reserve some address space? I would like to avoid reducing the address space on 32-bit for no good reason.

[2018-04-24 15:44] andrew-m-leonard commented on #1522
AtomicInteger uses U.objectFieldOffset(AtomicInteger.class, "value"),
J9 added a new implementation for this method in JDK10, could this be a problem?

[2018-04-24 15:44] keithc-ca commented on #1522
I think we've found the problem: that `+` operator should do string concatenation with the effect being equivalent to calling `StringBuilder.append(int)` (not `StringBuilder.append(char)`). What does the bytecode for `InnerClassLambdaMetafactory` look like?

[2018-04-24 15:46] andrew-m-leonard commented on #1522
Could the fact that an atomicInteger is being auto-boxed to a String be causing an issue?
String className = .... "Lambda$" + atomicInteger.incrementAndGet();  <== ?

[2018-04-24 15:46] andrew-m-leonard commented on #1522
@DanHeidinga @keithc-ca @JasonFengJ9 @pshipton I think I need some pearls of wisdom help please?!

[2018-04-24 15:47] pshipton commented on #1164
Thanks, good point. Perhaps we should limit the change in the default shared cache size to 64-bit JVMs.

[2018-04-24 15:47] JasonFengJ9 commented on #1522
I think `OpenJ9` adds `/` blindly even there is `/` at end of the `Lambda`class name.

[2018-04-24 15:48] keithc-ca commented on #1522
I'd like to see the output of `javap -c -private java.lang.invoke.InnerClassLambdaMetafactory` - specifically the constructor.

[2018-04-24 16:41] fjeremic commented on #890
@dchopra001 has been actively investigating this issue. @dchopra001 can you please provide an update on your latest findings if possible?

[2018-04-24 17:05] mstoodle commented on #1741
There is a verbose log mutex, so first cut solution could certainly be to grab it before the inlining output begins and release it afterwards :) .

[2018-04-24 18:09] ChengJin01 commented on #1032
[ibuild_no_stackmap_metadata_log.txt](https://github.com/eclipse/openj9/files/1943936/ibuild_no_stackmap_metadata_log.txt)
[stackmap_metadata_enabled_log.txt](https://github.com/eclipse/openj9/files/1943937/stackmap_metadata_enabled_log.txt)

I double-checked the snaptrace of build with my changes against the latest i-build in the cold run of LibertyStartup as follows:
1) the ibuild:
Count of j9sh

[2018-04-24 18:10] DanHeidinga opened #1755 "Replace mkgen.pl's excluded tests list with `.exclude` files in the relevant directories"
I recently tried to find where the `SharedCPEntryInvokerTests` were being run and couldn't find them.  They get built in both the `extended` and `sanity` builds, but are never run.  Looking in the test directory didn't provide any clues as to why they didn't run.

Thankfully, @llxia pointed me to https://github.com/eclipse/openj9/blob/71cf84548a84e46d5a61473fe8a92558f615f0f0/test/TestConfig/script

[2018-04-24 19:04] #974 closed

[2018-04-24 20:53] dmitripivkine commented on #1351
@LinHu2016 Would you please take a look to this when you will have time?

[2018-04-24 21:09] #827 closed

[2018-04-24 21:34] JasonFengJ9 commented on #1522
@andrew-m-leonard any chance I can access the machine that reproduces the failure? If it is not possible, can you provide the complete folder `build/linux-x86_64-normal-server-release` such that I can examine the JVM in question?

[2018-04-25 03:10] andrewcraik commented on #1616
+1

[2018-04-25 08:09] andrew-m-leonard commented on #1522
@JasonFengJ9 Yes, adding '/' blindly is fine, the problem as @keithc-ca eludes to is the java code that constructs the name and appends an "int" String is going wrong and adding a random odd character at the end rather than the String converted "int" value...

[2018-04-25 08:30] andrew-m-leonard commented on #1522
@keithc-ca I maybe wrong, but the byte code looks good?
[code]

[2018-04-25 08:33] andrew-m-leonard commented on #1522
@keithc-ca @JasonFengJ9 Here's some of my debug output when it goes wrong, it looks as though the counter "string" which presumably should be Strings $105, $106, $107,... is getting added as a plain unicode value possibly:
[code]

[2018-04-25 09:44] andrew-m-leonard commented on #1522
@keithc-ca @JasonFengJ9 Could this be a JIT optimization issue, since our StringBuffer.append(int) is optimized looking at the first comment:
public StringBuilder append(int value) {
        /*[PR JAZZ103 69835] This implementation is optimized for the JIT */

[2018-04-25 10:08] SueChaplain opened #1759 "Create release notes for v0.9.0"
Task to pull together the release notes for OpenJ9 v0.9.0

- What's new (support statements and features/enhancements)
- Verify which issues identified in the v0.8.0 release notes are fixed, if not repeat in 0.9.0 release notes
- Any new issues

[2018-04-25 10:13] SueChaplain commented on #1381
Issue #1759 raised for the 0.9.0 release notes, where we will capture the new platforms/support/fixed issues and new issues. Please add comments there.

[2018-04-25 14:29] DanHeidinga commented on #1522
I would suspect String compression before I suspected the JIT in this case.  There's an option (don't know it off the top of my head) to force the JVM to use non-compressed strings.  I'd give that a try and see if makes a difference.

[2018-04-25 14:37] AdamBrousseau commented on #974
Here is an example of a random hang that I cannot explain. This one happened outside of the timeout blocks that were added
https://ci.eclipse.org/openj9/view/Sandbox/job/PullRequest-Sanity-JDK10-linux_390-64_cmprssptrs-OpenJ9/24/console
[code]

[2018-04-25 14:38] andrew-m-leonard commented on #1522
@keithc-ca @JasonFengJ9 Some sort of good news, i've managed to create a standalone testcase, that fails every time for me. Note, it ONLY fails because we compile our souirce with "-XDstringConcat=inline"
[TestJava.zip](https://github.com/eclipse/openj9/files/1947440/TestJava.zip)

1. Compile NumStr.java and Thingy.java using a suitable bootjdk (eg.jdk10) using the following options:
   javac -XDs

[2018-04-25 14:39] andrew-m-leonard commented on #1522
Note, if I run it using JDK10 with OpenJ9, or JDK11 with HotSpot, it works fine...

[2018-04-25 14:53] JasonFengJ9 commented on #1522
@andrew-m-leonard could you try if `-XX:+CompactStrings` or `-XX:-CompactStrings` respectively? This is check if the string compression has a role in this failure as per Dan's comment earlier.

[2018-04-25 15:34] andrew-m-leonard commented on #1522
Just tried -XX:+CompactStrings or -XX:-CompactStrings, and they make no difference...
It seems only export IBM_JAVA_OPTIONS=-Xint fixes it

[2018-04-25 15:35] andrew-m-leonard commented on #1522
@DanHeidinga Please can you assign this issue to the JIT team?

[2018-04-25 15:36] andrew-m-leonard commented on #1522
@DanHeidinga @pshipton I am going to add a temporary workaround patch to the extensions makefile to export IBM_JAVA_OPTIONS=-Xint, there by we can at least get a good build...

[2018-04-25 15:46] DanHeidinga commented on #1522
FYI @fjeremic @andrewcraik @mstoodle - Paging our JIT experts :)  Can you offer some suggestions on tracking down this potential JIT bug?

We're seeing an issue that doesn't happen at `-Xint` in `java/lang/StringBuilder.append:(I)Ljava/lang/StringBuilder;` where the int value isn't being converted correctly to a string when appending it.

[2018-04-25 16:28] fjeremic commented on #1381
Hi everyone,

I have some updates on our progress to our focus areas posted previously in https://github.com/eclipse/openj9/issues/1381#issuecomment-375391325:

### JNI performance

@gacholio has been independenctly making advances in this area through a mirage of PRs with a new Atomic-free JNI implementation (https://github.com/eclipse/openj9/pull/1762, https://github.com/eclipse/openj9/pull/1687

[2018-04-25 16:39] dmitripivkine opened #1764 "Missed check for GS support in Port Library for zLinux"
We might miss check for availability of Guarded Storage support in Port Library for zLinux. This might be a reason for crash if OS does not support GS. Could we double check?

@ebadyano @fjeremic Is it a real issue? Should it be addressed before we release CS for zLinux?

[2018-04-25 16:41] fjeremic commented on #1522
How exactly does one get a build of JDK11 with OpenJ9? I would be glad to take a look but I don't have a build handy that I can use. It appears https://github.ibm.com/runtimes/openj9-openjdk-jdk11 does not exist (yet).

[2018-04-25 16:43] andrew-m-leonard commented on #1522
@fjeremic The repo you need is https://github.ibm.com/runtimes/openj9-openjdk  clone branch "openj9-jdk".

[2018-04-25 16:44] andrew-m-leonard commented on #1522
@fjeremic This is OpenJDK (head), which will become JDK11 sometime in June when the OpenJDK community branch off the JDK11 stream...

[2018-04-25 16:46] andrew-m-leonard commented on #1522
@fjeremic You may hit the "bug" when trying to build this yourself... if you do simply re-try "make all" a few times until it works...! the "bug" is intermittent depending on whether the random int String conversion happens to be a '/' character during the build!!

[2018-04-25 16:47] fjeremic commented on #1522
Ok, I'll kick off the JDK build locally and try to reproduce your unit test case, confirm that it is a JIT failure, and do an initial investigation.

[2018-04-25 16:49] AdamBrousseau commented on #1017
Updated all the build and PR jobs to only keep last 10 artifacts. I will keep an eye on the disk space over the next few days to see if it reduces.

[2018-04-25 16:55] jdekonin opened #1765 "Annotation testing failures"
Running "_sanity" testing on Windows 2012 is now failing.  The sha tested against is a31cbae7, the last good sha was : 66fc23ae

Diff : https://github.com/eclipse/openj9/compare/66fc23ae...a31cbae7

01:20:36         =========================================== ...   (more...)
01:20:36         ===============================================
01:20:36         GeneralTest suite
01:20:36         Total t

[2018-04-25 17:00] andrew-m-leonard commented on #1522
Thanks Filip

[2018-04-25 17:14] dmitripivkine commented on #1764
@joransiu FYI

[2018-04-25 17:17] pshipton commented on #1765
Is the failure on Java 8 or Java 9?

[2018-04-25 17:32] pshipton commented on #1765
Joe said Java 9. It happens on Jenkins builds but not Axxon.

[2018-04-25 17:41] pshipton commented on #1765
The failure appears intermittent.

[2018-04-25 17:46] pshipton commented on #1765
[code]

[2018-04-25 19:30] llxia commented on #1659
Close this issue as the problem is fixed.

[2018-04-25 19:30] #1659 closed

[2018-04-25 19:58] kubaseai commented on #1704
Hello Peter, I would like to describe some specific use case:
100 docker containers with Tibco BusinessWorks 5.13 (process server of Enterpise Service Bus) running on OpenJ9. BW exposes via JMX own bean to monitor running processes. In case of more that 100 containers running with replicas standard way of enabling JMX would require own TCP/IP port per container instance. With the patch from my fir

[2018-04-25 20:05] ChengJin01 commented on #1032
I am currently investigating the code issue detected in the cold run of LibertyStartup. It looks like there are duplicate stackmap entries stored in the meta data section for some reason.

[2018-04-25 20:30] mikezhang1234567890 opened #1769 "Enable DDR support for AIX"
Ties into #378

There is work needed in OpenJ9 and [eclipse/omr](https://github.com/eclipse/omr) order to bring up DDR on AIX 7.1 and up. Broadly, this work will consist of:

- [x] Changing makefiles in order to add the debug flags necessary for DDR on AIX and account for platform differences when building DDR on AIX

- [x] Fixing any issues with compiling the DDR code on AIX

- [x] DDR relies on

[2018-04-25 20:45] JasonFengJ9 commented on #1694
@chandrams can you provide the steps to reproduce the assertion failure?

I just tried `Open Liberty sample-getting-started.git ` within a docker container against `Eclipse OpenJ9 VM (build master-40bbbfc9, JRE 1.8.0 Linux amd64-64 Compressed References 20180425_153` along with `export IBM_JAVA_OPTIONS=-Xdump:dynamic`. I don't observe such assertion, and navigating the same app web seems successfu

[2018-04-25 20:59] alenbadel commented on #1532
The fix to this issue is in this pull request:

https://github.com/eclipse/omr/pull/2499

[2018-04-25 21:36] fjeremic commented on #1522
This is a JIT bug. It can be reproduced via the following command:

[code]

The issue is in the String Peepholes optimization. It attempts to transform the the following Java code:

[code]

where `s1` and `s2` and Strings and `i` is an integer into:

[code]

The former Java code will map to a `StringBuilder.append` sequence followed by a call to `StringBuilder.toString()`. This incurs quite a bit

[2018-04-25 21:41] fjeremic commented on #1522
This also explains why you would see weird Unicode characters. It is because the JIT incorrectly introduces a `valueOfCodePoint` call instead of a `valueOf` call. So an integer such as 47 would get incorrectly appended to the string as `/` (47 is the code point for the character `/`)

[2018-04-25 21:56] kubaseai commented on #1704
JConsole sees stub:
��sr.javax.management.remote.rmi.RMIServerImpl_Stubxrjava.rmi.server.RemoteStub���ɋ�exrjava.rmi.server.RemoteObject�a��
                                             a3xpw
                                                     UnicastRef2
172.17.0.3sr-sun.management.jmxremote.FileRMISocketFactoryL	acceptDirtLjava/lang/String;Lfbcst7Lsun/management/jmxremote/FileBase

[2018-04-25 21:57] theresa-m commented on #1669
Two PRs are in for the first checkbox: #1773 and https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/148

[2018-04-25 22:08] pshipton commented on #1704
Note OpenJ9 can only accept changes to OpenJ9 code. rmi issues should be addressed at OpenJDK, and OpenJ9 builds will pick up any OpenJDK updates.

[2018-04-25 23:13] kubaseai commented on #1704
Thanks for info. I will put current patches on my github, but for OpenJDK we need brand new implementation of Attach API and RMI working with docker shared volumes. In case of > 100 docker containers TCP/IP is hard to accept for JMX monitoring especially with replicas.

[2018-04-26 10:48] andrew-m-leonard commented on #1522
Ah, think i've found something that's not helping for  the OutOfmemory, on our build machines it is incorrectly working out the 32/64bit of the bootJDK as 32bit and choosing a small heap size, i'll raise a separate issue for that.

[2018-04-26 13:17] jdekonin commented on #1765
Occurs on JDK8 builds as well.  Hit the same 2012 machine, win2012x64rt3.

[2018-04-26 13:35] llxia commented on #1562
As we use Jenkins files from AdoptOpenJDK for test and both sites have different labeling schema, we pass in `LABEL` as parameter for now.
For example:
https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-Functional-JDK8-linux_390-64_cmprssptrs/

[2018-04-26 13:37] andrew-m-leonard opened #1774 "java -version does not contain "64-Bit" keyword"
OpenJDK GNU make build process from JDK10 onwards determines the bootjdk 32/64 bit'ness by grep'ing the java -version output for "64-Bit".
When using an OpenJ9 boot JDK to build JDK10/11 it incorrectly thinks it is building using 32bit bootjdk and sets small heap and stacksizes to build which sometimes causes OOM...

The suggestion is for the current output line:
Eclipse OpenJ9 VM (build master-c2

[2018-04-26 13:49] DanHeidinga commented on #1774
+1
This seems like a reasonable change and makes OpenJ9 fit better with the OpenJDK makefiles.

[2018-04-26 13:59] fjeremic commented on #1764
It does certainly seem to be an issue. I cannot locate the code which checks the `auxv` bits on Linux on z. I was certain we had this, but all I can find so far is the z/OS CVT bit checking.

[2018-04-26 14:24] llxia opened #1775 "Enable parallel functional testing"
We have functional builds added in OpenJ9 Jenkins. These builds are using Jenkins files from AdoptOpenJDK https://github.com/AdoptOpenJDK/openjdk-tests

We should enable the parallel testing to utilize machine resources.

[2018-04-26 15:05] AdamBrousseau commented on #1562
@llxia I have updated the machines with the new labels

[2018-04-26 15:17] joransiu commented on #1764
Yeah, I'm utterly confused here too.  Other features like Vector Facility would have OS dependencies as well, and I did not find queries for auxv and/or cpu features in `/proc/cpuinfo`.

[2018-04-26 15:53] llxia opened #1779 "Add functional test in OpenJ9 Jenkins"
We would like to reuse Jenkins files in [AdoptOpenJDK/openjdk-tests](https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/buildenv/jenkins) and add functional test in [OpenJ9 Jenkins](https://ci.eclipse.org/openj9/).

- add functional in OpenJ9 Jenkins
- add it as part of PR build and nightly build (Prereq: PR build needs to have the same flow as nightly https://github.com/eclipse/openj9/issu

[2018-04-26 15:55] llxia commented on #1779
https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-Functional-JDK8-linux_390-64_cmprssptrs/
https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-Functional-JDK8-linux_ppc-64_cmprssptrs_le/

[2018-04-26 16:16] cathyzhyi commented on #1637
From the coredump, osrCatch block loaded "this" from an uninitialized slot and stored the unitialized value into the syn object slot. Weird thing is that the same register is stored into the receiver slot but the receiver slot got the correct value. My guess is that VM can figure out receiver and fix that slot?
[code]

Not sure how reproduceable this problem is. We need to get a jit tracing log of

[2018-04-26 16:28] llxia commented on #1779
@AdamBrousseau Just to confirm, we will get sdk tar and OPENJ9_SHA from upstream build, correct?

[2018-04-26 16:30] AdamBrousseau commented on #1779
Yes I believe that is what we decided on.

[2018-04-26 16:50] urisimchoni commented on #1637
I'll try to reproduce with -Xjit:{java/io/BufferedInputStream.read()I}(log=/path/to/log,tracefull)
Hopefully will get to it early  next week.
Thanks,
Uri

[2018-04-26 18:30] #1273 closed

[2018-04-26 20:26] smlambert commented on #1375
I have a fix for this, can create a PR shortly (today).

Additionally, we should document the EXCLUDE_FILE variable, because it can be used for another use case, that of someone wanting to test the reinclusion of excluded tests without changing the existing exclude file.

[2018-04-26 20:29] vsebe commented on #1765
Test passes on a Windows 7(win7x64rt2) machine on JDK8.

[2018-04-26 20:42] llxia commented on #1775
Did a preliminary testing using sanity functional test build. Parallel based on folders under openj9/test/functional.
https://ci.eclipse.org/openj9/view/Test/job/Test-Sanity-Functional-JDK8-linux_390-64_cmprssptrs/12/
Blue Ocean view: https://ci.eclipse.org/openj9/blue/organizations/jenkins/Test-Sanity-Functional-JDK8-linux_390-64_cmprssptrs/detail/Test-Sanity-Functional-JDK8-linux_390-64_cmprsspt

[2018-04-26 20:43] fjeremic commented on #1764
It seems we do check `/proc/cpuinfo` for the vector support from here:

https://github.com/eclipse/openj9/blob/78560086e6911b7d0998aeb8118018a8afc22772/runtime/compiler/trj9/z/env/J9CPU.cpp#L401-L406

which calls:

https://github.com/eclipse/openj9/blob/78560086e6911b7d0998aeb8118018a8afc22772/runtime/compiler/trj9/z/env/J9CPU.cpp#L401-L406

We don't seem to have anything like this for Guarded Sto

[2018-04-26 20:50] smlambert commented on #1775
For folder name spaces, I think we have an older issue about renaming/reorganizing test directories.  It may happen in several iterations, standardizing folder names, moving consolidating certain types of tests together (either by component, or java package/module), distributing tests across dirs to optimize the workload in a parallel story (after some preliminary metrics gathering).

[2018-04-27 01:31] #1774 closed

[2018-04-27 12:53] pdbain-ibm commented on #1709
The plan is:

- put the test code itself in the Java9andUp source directory with all other test files.  This simplifies writing the code and fixing syntax errors.  It also causes them to be compiled by the default `compile` target in build.xml.
- Put the module directories and module-info.java files in a separate `modules` directory.
- In build.xml:
    - copy the module directories to a `module_b

[2018-04-27 13:04] DanHeidinga commented on #1669
Reopening as this isn't complete yet - great first steps though!

[2018-04-27 13:06] DanHeidinga commented on #1669
@AdamBrousseau Which platforms do we have the most build / test capacity on?

We'd like to enable a non-compressedrefs spec in our builds on one platform.  Maybe pLinux to start?

It'll need PR builder syntax tweaks to enable selecting compressed/noncompressed packages

[2018-04-27 13:48] AdamBrousseau opened #1785 "Add new Linux x86 machines for pull requests and build pipelines"
Four new Linux x86 (Ubuntu 16.04) machines have been created and need configuring with the Ansible scripts from AdoptOpenJDK.

openj9-ub16-x86-1; 169.55.150.154
openj9-ub16-x86-2; 169.55.150.150
openj9-ub16-x86-3; 169.55.170.78
openj9-ub16-x86-4; 169.55.150.153
root login passwords available under private communication.

Each one is 4 CPU, 8GB RAM, Ubuntu 16.04.3, 25Gb boot disk, 25 Gb data disk

[2018-04-27 13:55] theresa-m commented on #1669
Sorry.. thought my rewording the "fixes" reference would prevent the issue from automatically closing! @DanHeidinga  The PR merged was actually for the second checkbox. #1773 and https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/148

[2018-04-27 14:07] AdamBrousseau commented on #1669
We have 4 of every platform so the only difference will be compile/test times. Valhalla-nestmates is being added on pLinux (to start) so maybe want to start this out on zLinux?

Looking at the nightly build, which runs compile abd functional sanity, extended in serial, eyeball average build times:
- AIX
   - 8: 3.5h
   - 9: 1.5h
   - 10: 4h
- zLinux
   - 8: 2.5h
   - 9: 4h
   - 10: 4h
- pLinux

[2018-04-27 14:33] DanHeidinga commented on #1669
As the requests for this have all been x86 so far, let's try out the new xLinux boxes for this.  It'll also match the package we hope to have Adopt build.

[2018-04-27 14:36] AdamBrousseau opened #1787 "Jenkins: Git clones fail intermittently with passwd file error"
Git clones failing intermittently. This one failed while trying to clone OpenJ9 ([this step](https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/jobs/pull-requests/PullRequest-Sanity-JDK9-linux_ppc-64_cmprssptrs_le#L30)) on the master.

I'll have to look, but I don't think its always on the master that I've seen this.

Console:
[code]

One possible solution would be to wrap the clone in

[2018-04-27 15:06] pshipton commented on #1564
Closing as I assume this is resolved now since there haven't been any further comments.

[2018-04-27 15:06] #1564 closed

[2018-04-27 15:41] AdamBrousseau commented on #1662
Got compiles working
Had to change a few things on the machine
- Install openssh through Cygwin installer ([reference](https://go.cloudbees.com/docs/cloudbees-documentation/admin-cje/agents/#_microsoft_windows))
- Uninstall Git for Windows
- Install Git through Cygwin installer
- Add Shortname for "Program Files (x86)" directory ([reference](https://superuser.com/questions/681330/how-to-force-shor

[2018-04-27 17:41] panga opened #1789 "OpenJ9 exception running in JDK 10 with Jigsaw modules"
**DESCRIPTION:**
Can't run spring-boot petclinic application ported to use Jigsaw modules with OpenJ9.
The exception below is thrown during the startup:

[code]

**EXPECTED BEHAVIOR:**
Run the application without any exception, the same way OpenJDK 10 GA does.

**STEPS TO REPRODUCE:**

1. Clone:
https://github.com/panga/spring-petclinic-java9modules

2. Build with JDK 10:
`mvn clean package`

3. R

[2018-04-27 19:55] AdamBrousseau commented on #1662
I see your concern, and generally agree.

All the Windows machines we've ran builds on up until now have been connected to Jenkins using the JNLP method. Which gives Jenkins a "Windows" environment to run jobs. The machines at ci.eclipse have to be connected via ssh which means getting a "Linux" Cygwin environment.

The part that fails is the [git -C](https://github.com/ibmruntimes/openj9-openjdk-

[2018-04-27 21:13] pshipton commented on #1662
Note the OpenJ9 build instructions for Windows [1] do not mention installing a Windows git client, they use cygwin.

[1] https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V8.md

[2018-04-28 04:05] mstoodle commented on #1616
I *think* that's +18 with 5 "abstains" and no down votes. I'll call that "passed" but I'll still chase down the abstains to see if they're really just "forgots". Thanks to everyone who contributed to the discussion and for voting!

Let's find a place on our web page to put this info and make it obvious to find from the front page.

[2018-04-29 16:08] #1207 closed

[2018-04-29 16:34] pshipton commented on #1661
Obsoleted by #1786

[2018-04-29 16:34] #1661 closed

[2018-04-29 16:39] pshipton commented on #223
This will be resolved by #1786

[2018-04-29 16:39] #223 closed

[2018-04-29 21:39] JamesKingdon opened #1795 "Uses of EXTRA_OPTIONS should include a space"
After declaring a value of EXTRA_OPTIONS without a trailing space a subset of the openj9 functional tests failed because the arguments were run together. e.g. using
`export EXTRA_OPTIONS="-Xrs"`

Gave failures such as
`JVMJ9VM007E Command-line option unrecognised: -Xrs-cp`

This included
[code]

[2018-04-29 22:19] JamesKingdon opened #1796 "ARM: Hang in SharedClassesSysVTesting_0"
Build: https://github.com/JamesKingdon/openj9-openjdk-jdk10/releases/tag/20180429170711-71d04615

Seems to repeatedly hang (with idle cpu) in SharedClassesSysVTesting_0

This might just be a side-effect of https://github.com/eclipse/openj9/issues/1205 but it would be an unusual outcome.

Console output:
[code]

[2018-04-30 08:48] SueChaplain commented on #1616
@mstoodle Created an issue at the website repo.

[2018-04-30 09:49] sxa555 commented on #1662
@AdamBrousseau Can you clarify what you're running that's making that error show up. I believe the code is the [same for JDK8](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/closed/OpenJ9.gmk#L29) but we don't [get that error](https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_windows/38/consoleFull) running OpenJ9 JDK8 builds (OpenJ9 JDK9 hasn't run on Windows for a few

[2018-04-30 11:48] sxa555 commented on #1662
Just had a look on one of our existing build machines and git is installed within cygwin there too.

[2018-04-30 13:58] llxia commented on #1669
In test, we check SPEC. If it contains `_cmprssptrs`, `-Xcompressedrefs` is used for testing. Otherwise, `-Xnocompressedrefs` is used.
https://github.com/eclipse/openj9/blob/c4d684500d054d0a5d11e0035cce081ab532e564/test/TestConfig/openj9Settings.mk#L33

As long as we have correct SPEC, then no modification is needed on test side.

[2018-04-30 14:02] mstoodle commented on #1616
@amicic @doveye @gacholio @jduimovich @pmhayward

For completeness, would you please explicitly register your vote here so I can close this issue?

[2018-04-30 14:34] amicic commented on #1616
I preferred to stay neutral (since I do not understand enough what are reasons for/against supporting more/less releases etc), but since I don't see anything obviously wrong with the current proposal, you can count for as +1, if you will.

[2018-04-30 15:06] doveye commented on #1616
Ditto amicic  :)

[2018-04-30 16:06] gacholio commented on #1616
+0

[2018-04-30 16:25] AdamBrousseau commented on #1785
Builds & Test jobs created. Still need to do PR jobs.
First node created in Jenkins. Waiting for the Ansible script to finish running (thanks @jdekonin) to turn it on and test it out.

[2018-04-30 16:42] pdbain-ibm commented on #1704
Please note also that attach API is not intended to allow attachments from foreign systems, such as other containers, virtual machines, or hosts.

[2018-04-30 16:42] AdamBrousseau opened #1800 "Cleanup line in VM_Test build.xml not working as expected"
https://github.com/eclipse/openj9/blob/f66506e7a528340d176260c3af47c63cf66979ec/test/functional/VM_Test/build.xml#L134
[code]
Specifically:
`<delete dir="${data}/*.class" />`

I believe the intention of this line is to delete all the class files within the `data` directory. I think the syntax currently reads "Delete all directories named `*.class` in the `data` directory" (where *.class is the act

[2018-04-30 17:02] AdamBrousseau commented on #1800
I have the change above made in a pushed branch I am using to test https://github.com/eclipse/openj9/issues/1662#issuecomment-385009317 .
Let me know if you want me to open a PR.

[2018-04-30 17:50] renfeiw commented on #1800
Thanks for the fix, it would be appreciated if you can open a PR.

[2018-04-30 18:05] AdamBrousseau commented on #1800
see #1803

[2018-04-30 18:09] AdamBrousseau commented on #1800
Good news is this fixes my issue noted above too

[2018-04-30 19:05] AdamBrousseau commented on #972
Done.

[2018-04-30 19:05] #972 closed

[2018-04-30 20:11] AdamBrousseau commented on #1662
My test failure is resolved by #1803. @sxa555 Can you please go ahead and setup the remaining 3 machines.

[2018-04-30 20:28] jduimovich commented on #1616
+1

[2018-04-30 21:09] pshipton commented on #1704
@pdbain-ibm This Issue as a proposal to improve on this. Do you have any comments about the getOverridenLocalHostName() proposal or alternative suggestions?

[2018-04-30 21:27] vsebe opened #1807 "OpenJ9 OpenJDK9 fails to build on RHEL6"
[code]

- OS version: Red Hat Enterprise Linux Server release 6.9 (Santiago)
- gcc/g++/c++ version 4.8.5
- compat-libstdc++-33.x86_64 - 3.2.3-69.el6
- boot jdk version:
[code]

[2018-04-30 22:05] pshipton commented on #1807
@keithc-ca fyi

[2018-05-01 01:57] ChengJin01 commented on #1032
[stackmap_enabled_cold_runs.txt](https://github.com/eclipse/openj9/files/1962795/stackmap_enabled_cold_runs.txt)

After fixing the duplicated stackmap entries, I double-checked the disclaimed memory plus the footprint score generated during the cold runs of LibertyStartup. I turns out the reduced memory are pretty much close to the previous results as the bug didn't seriously affect the data colle

[2018-05-01 03:36] urisimchoni commented on #1637
For some reason it stopped reproducing :( will try some more in following days.

[2018-05-01 03:52] ChengJin01 commented on #1032
[ibuild_warm_runs.txt](https://github.com/eclipse/openj9/files/1962913/ibuild_warm_runs.txt)
[stackmap_enabled_warm_runs.txt](https://github.com/eclipse/openj9/files/1962914/stackmap_enabled_warm_runs.txt)

I checked the disclaimed memory (set up by updateAccessedShrCacheMetadataBounds) plus the footprint score of warm runs (with the shared cache created in the first cold run) on LibertyStartup as

[2018-05-01 05:56] AdamBrousseau commented on #1662
9/10 compile fine but we have an issue with JDK8 during configure
[code]
I don't understand because that file is clearly there
[code]
generated-configure.sh: line 8280
[code]

[2018-05-01 08:30] pmhayward commented on #1616
+1

[2018-05-01 11:56] ashu-mehra opened #1811 "Purpose of GCExtensions::maxSizeDefaultMemorySpace?"
@charliegracie asked [here](https://github.com/eclipse/omr/pull/2506#issuecomment-385504881):

As per my understanding, in current code base `maxSizeDefaultMemorySpace` is always equal to `memoryMax`. There are references to an option -Xmdx which would allow to configure `maxSizeDefaultMemorySpace` but I don't see it being parsed anywhere.
As per an obsolete document CommandLineOptions.html (which

[2018-05-01 13:12] DanHeidinga commented on #1550
@gita-omr Have you had a chance to look at this?  Its intermittently causing jenkins builds to fail on AIX.

[2018-05-01 13:13] jdekonin commented on #1662
What if you run the configure step manually, on the machine?  "." is the same as using "source", maybe cygwin doesn't like the use of ".", try swapping.

[2018-05-01 13:57] gita-omr commented on #1550
We are looking at it. Hopefully we'll have some update today.

[2018-05-01 14:14] DanHeidinga commented on #54
Current approach is https://github.com/eclipse/omr/issues/2332

[2018-05-01 15:15] andrew-m-leonard commented on #1522
Is someone currently working the JIT fix for this?

[2018-05-01 15:26] cathyzhyi commented on #1637
@urisimchoni Is it the tracing options that stops the failure? Does it fail when you remove the -Xjit options?

[2018-05-01 15:38] irinarada commented on #1522
@cathyzhyi - in @andrewcraik's and @fjeremic 's absence can you have a look at it

[2018-05-01 15:41] renfeiw opened #1814 "SCCommandLineOptionTests/SCURLClassLoaderNPTest failed on JDK10-win_x86-64_cmprssptrs"
- cmdLineTester_SCCommandLineOptionTests_1
---SUMMARY OF FAILED TESTS---
nameOption
nameOption14
verboseOption
-----------------------------

- cmdLineTester_SCURLClassLoaderNPTests_1
---SUMMARY OF FAILED TESTS---
FindStore.FindClassfile
FindStore.FindDiffcpClassfile
-----------------------------

PR build link: https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK10-win_x86-64_cmprssptrs-OpenJ

[2018-05-01 15:43] dnakamura opened #1815 "OpenJ9 does not build with ccache"
Currently passing `--enable-ccache` to configure does not build the vm using ccache

[2018-05-01 15:52] jdekonin commented on #1785
openj9-ub16-x86-4; 169.55.150.153 is ready for adding to jenkins.  Requires verification for compiling and testing all releases.

[2018-05-01 16:32] vsebe commented on #1807
I've been able to build it on a different RedHat6 machine, so it looks to be a machine configuration issue.

[2018-05-01 16:33] gita-omr commented on #1550
Was trying to assign to @r-santhir but could not somehow...

[2018-05-01 17:44] hangshao0 commented on #1814
nameOption14:
"-Xshareclasses:name=123456789A123456789B123456789C123456789D123456789E1234567%u"

The login name is too long.

[2018-05-01 17:47] LinHu2016 commented on #1370
first step:
- add new gcpolicy:noop ( or match oracle naming -- "gcpolicy:epsilon", any another suggestion?, should we support -XX:+UseNoGC and -XX:+UseEpsilonGC for compatibility?)
- initialize heap ,collector ,classmanager base on Optthruput with the configuration for no-op
  ( noScavenge, noConcurrentMark, noConcurrentSweep, noLOA, noSplitAddressOrderedList, disable processLargeAllocateStats/es

[2018-05-01 17:52] jdekonin commented on #1785
openj9-ub16-x86-1,2 & 3 are ready as well.  You should only need to test one of them as they are all identical.
SDK version and location detail for quick reference
[code]

[2018-05-01 18:14] cathyzhyi commented on #1522
ok, I will take a look.

[2018-05-01 18:29] pshipton commented on #1370
I suggest -gcpolocy:nogc instead of -gcpolicy:noop. +1 for supporting -XX:+UseNoGC for compatibility. -1 for supporting options using epsilon as this seems like a transient name that wouldn't necessarily be supported in the future.

[2018-05-01 18:31] hangshao0 commented on #1814
cmdLineTester_SCURLClassLoaderNPTests_1

19:16:17 [Test] Testing: FindStore.FindClassfile
19:16:17 [Test] Test start time: 2018/04/30 18:16:11 Central Standard Time
19:16:17 [Test] Running command: "C:/cygwin64/home/jenkins/workspace/PullRequest-Sanity-JDK10-win_x86-64_cmprssptrs-OpenJ9/build/windows-x86_64-normal-server-release/images/jdk/bin\\java"  -Xcompressedrefs -Xcompressedrefs -Xjit -Xgcpo

[2018-05-01 19:38] pshipton commented on #1550
Set as high priority. This problem is intermittently blocking the OMR acceptance builds. We could remove the AIX criteria from the acceptance builds, but this is not the right answer, although it may be necessary until this problem can be resolved.

[2018-05-01 19:41] dmitripivkine commented on #1370
I agree with Pete: -gcpolocy:nogc and -XX:+UseNoGC looks better
We do have "expand heap on failure" feature (currently is used in Gencon). I believe it should be used for optthruput. We don't need GC Slave threads to be created.
I am not sure about finalization - this is a part of Java Spec and might be useful even in noGC case (for example release native memory from DBB).

[2018-05-01 19:52] renfeiw commented on #1814
I don't think it's related to #1803. jnurlcldr.shared.findstore.M_Main does not exist in VM_Test project, so it should not be removed by #1803. I will exclude these tests for now.

[2018-05-01 20:50] gita-omr commented on #1550
Ok, we will wait for Jason to find another machine.

[2018-05-01 22:06] AdamBrousseau commented on #1785
All machines connected and tested. Seem to be working fine

[2018-05-02 03:26] ChengJin01 commented on #1032
I doubled-checked the invocations of findStackMap after the disclaim work and the number of class transformation by turning on all tracepoints involved as follows:

[1] findStackMap triggering one-page memory(4k) to be mapped back
1) cold run:
8217267 22:46:45.003098000  0x0000000000f31800 j9shr.2185          Event       SH_CacheMap::dontNeedMetadata called
...
8265278 22:46:58.428638000 *0x000000

[2018-05-02 09:55] SueChaplain commented on #1764
Do we need to add anything to the 0.9.0 release notes for this please? What is the status w.r.t support on RHEL7.5 and Ubuntu 18.04.

[2018-05-02 13:48] DanHeidinga commented on #1032
@ChengJin01 In your test runs, does Liberty have tracing enabled?  There are patches to OpenJDK in the OpenJ9 extensions repo to not recreate the classfile from the romclass if no transformers have been added.

Can you do the same test with an OpenJ9 build rather than an ibuild?

[2018-05-02 13:59] DanHeidinga opened #1822 "Missing testcase for Instrumentation optimization"
OpenJ9 has an optimization to not recreate the classfile from the ROMClass if no transformers have been added.  This is present in the Extensions repos[1] and has been contributed to OpenJDK starting in JDK10[2].

We need to add a test case that uses a simple agent with no transformers that calls retransformClasses and ensures that the tracepoints in the code that converts ROMClasses to Classfiles

[2018-05-02 14:33] JasonFengJ9 commented on #1550
Joe is working on `AIX` base image to make build stable.

[2018-05-02 14:54] chandrams commented on #1694
@JasonFengJ9 Issue seems to be intermittent. I tried recreating it but didn't succeed. I had encountered this issue initially while running in a docker container. Tried with the docker container I can see it happen again.

[2018-05-02 15:08] chandrams commented on #1694
Please try your app with this export JVM_ARGS="-Xdump:dynamic"

[2018-05-02 15:42] mstoodle commented on #1616
Thanks, everyone, for participating in the vote. I'll call this issue closed since @SueChaplain has opened https://github.com/eclipse/openj9-website/issues/79 to deal with the specifics to incorporate the support statement into the web site.

[2018-05-02 15:42] #1616 closed

[2018-05-02 15:50] #1800 closed

[2018-05-02 18:35] ebadyano commented on #1764
https://www-03preprod.ibm.com/support/knowledgecenter/SSYKE2_8.0.0_test/com.ibm.java.vm.80.doc/docs/xgc.html RHEL 7.5 supports Guarded Storage, not sure about Ubuntu @joransiu Joran, do you know if it's supported on Ubuntu?

If -Xgc:concurrentScavenge is used on hardware that supports guarded storage with OS that doesn't, the symptom will be **stderr Fatal error: Failed to initialize thread; pleas

[2018-05-02 19:34] pdbain-ibm commented on #1704
I will take a look.

[2018-05-02 19:50] joransiu commented on #1764
@ebadyano : FYI.. the link above is a pre-production version of our upcoming KC update.   Ubuntu 18.04 does have the kernel support for Guarded Storage Facility.

[2018-05-02 20:16] ChengJin01 commented on #1032
1) does Liberty have tracing enabled?
<--- From the command line of Liberty,  it didn't enable any traces except ours.
[Liberty_command_options.txt](https://github.com/eclipse/openj9/files/1968590/Liberty_command_options.txt)

2) Looking at where j9bcutil_transformROMClass gets invoked in code (except cfdumper)
<1>Triggered by "**-XX:RecreateClassfileOnload**"
[code]

The code above need "-XX:Recr

[2018-05-02 21:14] AdamBrousseau commented on #1662
Found the Issue with the PATH problem on JDK8.
OpenJDK has a fix, we haven't pulled it in yet
ibmruntimes/openj9-openjdk-jdk8#78

[2018-05-02 21:42] JasonFengJ9 commented on #1550
Since Joe's `AIX` machines are not available, can I reserve and run the test in an Eclipse jenkins `AIX` machine instead?
@DanHeidinga @pshipton please approve to allow Adam provide the machine access.

[2018-05-02 22:28] ChengJin01 commented on #1032
In addition,  I double-checked the snaptrace of warm run  with an old Java 8 build (espresso build)
/tmp/pxa6480sr6/bin/java  -version
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 8.0.6.0 - pxa6480sr6-20171201_01(SR6))
IBM J9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20171130_372037 (JIT enabled, AOT enabled)
OpenJ9   - 7283b49
OMR      - 8b089c3
IBM      - c

[2018-05-03 01:00] AdamBrousseau commented on #974
https://ci.eclipse.org/openj9/view/Pull%20Requests/job/PullRequest-Compile-JDK10-aix_ppc-64_cmprssptrs-OpenJ9/8/console

[2018-05-03 03:16] pshipton commented on #54
The initial changes are delivered to enable signal handling on Windows, Linux, and AIX. There will be more internal changes but the functionality should be working as of now.

Linux/AIX eclipse/omr#2494 #1603 #1642
Windows #1816 not the full functionality but enough for CTRL-C to work

[2018-05-03 14:30] DanHeidinga commented on #1550
We're not set up to allow temporary access to the CI machines.

@gita-omr IBM Runtimes has a large number of AIX machines.  Are you able to use one of those machines to test with?

[2018-05-03 14:50] vsebe commented on #1807
[code]
Wrong `libstdc++.so.6 -> libstdc++.so.6.0.13` version.

[2018-05-03 15:08] vsebe commented on #1807
Fixed machine configuration: `libstdc++.so.6 -> libstdc++.so.6.0.19`.

[2018-05-03 15:08] #1807 closed

[2018-05-03 15:16] DanHeidinga commented on #999
@dnakamura Can you outline the next steps on this?

[2018-05-03 15:19] gita-omr commented on #1550
Since the problem is intermittent, it would be much more preferable to try and reproduce it in the original environment. Nevertheless, @R-Santhir is talking to Jason to get all the commands to reproduce on some other machine.

[2018-05-03 15:30] dnakamura commented on #999
Currently the code for executing the new bytecodes is in place. I have changes which will cause the new bytecodes to be emitted, and updates to the verifier.  Currently waiting on support in the jit for the new bytecodes. Perhaps  @andrewcraik  or @fjeremic  can provide more details for the jit part

[2018-05-03 15:36] DanHeidinga commented on #999
Can you open a WIP PR for the remaining VM changes so we can get them reviewed and ready to merge as soon as the jit support is ready?

[2018-05-03 16:04] mikezhang1234567890 commented on #1583
In Java 9 and up, we export the `jdk.internal.misc` module when we run this test, so Unsafe is exposed. We would need to have the playlist target that runs this test to not export `jdk.internal.misc` to the unnamed module.

[2018-05-03 16:37] ebadyano commented on #1764
@joransiu We also give a warning and continue to run with Concurrent Scavenge disabled on zOS when we run on z14 but with an older zOS that doesn't support guarded storage. Due to missing OS check for Linux it won't do the right default but instead will give the error message and won't run, which I agree we should fix in the next update.

[2018-05-03 16:42] joransiu commented on #1764
Thanks @ebadyano .  So if I understand correctly, the issue is not a crash, but a Fatal Error.  After the fix, we'll have a warning, and default down to non-concurrent scavenge.  correct?

If that's the case, scenario (1) above is not a real concern... in some ways, it's arguably better feedback to the user that their stack is not up to spec.

[2018-05-03 17:07] DanHeidinga commented on #1583
How does OpenJ9's behaviour compare to the RI's?

[2018-05-03 17:32] mikezhang1234567890 commented on #1583
The behaviour is the same.

[2018-05-03 17:40] DanHeidinga commented on #1583
Then I think we're done.  Apart from finding the right way to limit this test to only Java 8.

[2018-05-03 18:17] dchopra001 commented on #890
I have a patch here that mimics the x86 evaluator's behaviour : https://github.com/dchopra001/omr/commit/1ea30f3aa7561df2c99ab667db565788414857b8

We can do a bit more cleanup and reorganization of this evaluator. For example, we generate the exact same STE instruction twice for no good reason (Note: tempMR and tempMR1 are equivalent):
https://github.com/eclipse/omr/blob/884959f423d0e969ffec7340b6

[2018-05-03 18:31] JasonFengJ9 commented on #1550
Joe's base image seems stabled.
Reproduced the failure (`-Xint` can finish successfully), passed to Ryan.

[2018-05-03 18:32] keithc-ca commented on #1662
It turns out that builds of all versions of Java will require that machines are updated with the new steps added by https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/354. For people doing it manually, I recommend omitting the `/s` option for clear indication of whether it worked or not.

[2018-05-03 18:56] #1785 closed

[2018-05-03 19:39] pshipton commented on #1032
Why is J9HOOK_VM_CLASS_LOAD_HOOK enabled?

[2018-05-03 19:54] pshipton commented on #1032
Liberty must be installing a retransformer (via Instrumentation.addTransformer) in order for J9HOOK_VM_CLASS_LOAD_HOOK to be enabled. Otherwise something isn't working correctly.

[2018-05-03 20:07] DanHeidinga commented on #1032
The trace engine and methodtrace should tell whether `addTransformer` has been invoked or not.

[2018-05-03 20:08] pshipton commented on #1032
I think this is getting off track. Even if there is a transformer installed, or something wrong, and the stack maps are read during SC warm startup, the madvise() after the PHASE_NOT_STARTUP event should reduce the memory footprint, and the stack maps read during startup should not be read again.

[2018-05-03 20:33] pshipton commented on #1032
What does findStackMap() do exactly?

[2018-05-03 20:53] ChengJin01 commented on #1032
It retrieves the stackmap data previously stored in the metadata section for class comparison or verification.

[2018-05-03 20:59] babsingh commented on #54
Adding @ibm-rtvs

[2018-05-03 20:59] pshipton commented on #1032
and how does it find the stackmap data?

[2018-05-03 21:00] LinHu2016 commented on #1370
first step: Updated

    - add new gcpolicy:nogc and support -XX:+UseNoGCfor compatibility
    - initialize heap ,collector ,classmanager base on Optthruput with the configuration for no-op
    ( noScavenge, noConcurrentMark, noConcurrentSweep, noLOA, noSplitAddressOrderedList, disable processLargeAllocateStats/estimateFragmentation, disable system gc...., for now the ParallelGlobalCollector, mark

[2018-05-03 21:04] ChengJin01 commented on #1032
The code follows the existing rules in shared cache: search the ROM method address + data type previously stored in the hash table; if located, it returns the start address of the stackmap.

[2018-05-03 21:13] pshipton commented on #1032
ok, so it doesn't read any extra metadata from the cache, but instead uses a local hashtable to find the exact metadata it needs.

Unrelated to the footprint issues, the ROMClass should be able to refer directly to the stack map metadata using a SRP, it shouldn't need an explicit lookup function or hashtable. Although having the lookup function is handy right now for tracking down the footprint is

[2018-05-03 21:26] ChengJin01 commented on #1032
Here's some interesting findings from pmap info and the snaptrace.
[pmap_info_openj9_cold_warm.txt](https://github.com/eclipse/openj9/files/1972647/pmap_info_openj9_cold_warm.txt)

The result indicates:
[1]   openj9 build without the stackmap changes
it seems the metata section reduced substantially due to the disclaimed work triggered by findROMClass() and findCompiledMethod()

cold run:
pmap -x

[2018-05-03 21:28] ChengJin01 commented on #1032
I do notice findStackMap occurs after the disclaim work from another trace as follows
and it does fall in the range that was disclaimed.

16:49:52.688367000  0x0000000001ca5e00 j9shr.2184          Event       SH_CacheMap::updateAccessedShrCacheMetadataBounds: new maximum 0x7fa333b3aef8
...
16:49:56.169490000  0x0000000002316300 j9shr.2183          Event       SH_CacheMap::updateAccessedShrCacheMet

[2018-05-03 21:49] ChengJin01 commented on #1032
Unrelated to the footprint issues, the ROMClass should be able to refer directly to the stack map metadata using a SRP, it shouldn't need an explicit lookup function or hashtable. Although having the lookup function is handy right now for tracking down the footprint issues.

<----- Given that there are many classes for comparison, there is no other way to deal with the duplicated methods without t

[2018-05-03 23:41] pshipton commented on #1032
- not sure there is enough stack map data to make any significant difference in the footprint. It would be worth collecting some stats
- seems like cold runs without the stack map changes could be optimized to disclaim a bigger portion of the metadata
- not sure about the duplicated methods comment, are you using the hash to de-duplicate stack map data by itself? If so, how much duplicate data is

[2018-05-04 00:35] ChengJin01 commented on #1032
From Jin Cheng (on Slack)
I double-check the code  and I think updating the MetadataBound when storing an entry is wrong.  The idea of disclaim work is : discard the area only if already used (findxxx gets called). so how can you disclaim the area without using that ?  Storing the entry doesn't mean it is being used;  only findxxx does.

From Peter Shipton:
if it was stored then it was used and wo

[2018-05-04 00:36] smlambert commented on #1375
FIxed by #1821

[2018-05-04 00:36] #1375 closed

[2018-05-04 00:59] ChengJin01 commented on #1032
1) seems like cold runs without the stack map changes could be optimized to disclaim a bigger portion of the metadata.

--> if AOT needs to follow this logic now (gets used at first and then stored to the metadata section), it should be fixed.

2) not sure about the duplicated methods comment, are you using the hash .....

---> Sorry for my misunderstanding. I mean all entries in the metadata sect

[2018-05-04 03:09] AdamBrousseau commented on #1662
Next issue:
[code]
Not sure why its trying to write to c/cygwin/ without the `64`

[2018-05-04 03:32] ChengJin01 commented on #1032
As requested by Pete,  I double-checked how much stackmap data needs to be stored in the shared cache on the LibertyStartup(cold run with / http://perffarm.hursley.ibm.com/packages/liberty_17-0-0-3_java9enabled_Package.zip) as follows (the data was collected by adding  a new tracepoint in the storeStacMap to track the total size)

03:02:12.020135000  0x0000000002fe7100 j9shr.2270          Exit

[2018-05-04 04:02] pshipton commented on #1032
It doesn't need to be that exact. Since the verification occurs right after storing the class, it can be considered used, and the minimum value decreased. Assume the PHASE_NOT_STARTUP will occur when nothing else is happening, so the verification would be done.

The stackmaps don't need to be stored into a new area in order to use a SRP and avoid creating the hashtable. The debug data is not expec

[2018-05-04 05:00] pshipton commented on #1032
Also note the hashtable is created per VM and is not shared.

There is an advantage to creating a new section in the cache to store stackmaps, the stackmaps can be stored in a new section without having the 16 byte per entry overhead.

[2018-05-04 05:50] ChengJin01 commented on #1032
1) The stackmaps don't need to be stored into a new area in order to use a SRP and avoid creating the hashtable. The debug data is not expected to be used, putting it in a separate area means the entire area doesn't need to be loaded. This is different from the stackmaps, which will be loaded for verification.

2) There is an advantage to creating a new section in the cache to store stackmaps, the

[2018-05-04 12:48] felipepontes-research opened #1834 "Method.invoke presents different exception messages when invoking multiple times a method with wrong number of arguments"
The following program presents a null exception message after invoking 17 times a method with wrong number of arguments.

import java.lang.reflect.Method;
public class A {
    public static void main(String[] args) throws NoSuchMethodException {
        A a = new A();
        for (int i = 0; i < 17; i++) {
            Method method = A.class.getMethod("wait", long.class);
            try {

[2018-05-04 12:49] felipepontes-research opened #1835 "Method.invoke presents different exception messages when invoking multiple times a method with wrong argument type"
The following program presents a null exception message after invoking 17 times a method with wrong argument type.

import java.lang.reflect.Method;
public class A {
    public static void main(String[] args) throws NoSuchMethodException {
        A a = new A();
        for (int i = 0; i < 17; i++) {
            Method method = A.class.getMethod("wait", long.class);
            try {

[2018-05-04 12:49] felipepontes-research opened #1836 "Method.invoke presents different exception messages when invoking multiple times a method with wrong instance type"
The following program presents a ClassCastException message after invoking 17 times a method with wrong instance type.

import java.lang.reflect.AnnotatedType;
import java.lang.reflect.Method;
public class A {
    public static void main(String[] args) throws NoSuchMethodException {
        Method method = AnnotatedType.class.getDeclaredMethod("getType");
        for (int i = 0; i < 17; i++) {

[2018-05-04 12:50] felipepontes-research opened #1837 "Class.getConstructor throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getConstructor (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getConstructor-java.lang.Class...-), "...a Constructor object that reflects the specified public constructor of the class represented by this Class object" must be returned. But using the following program the constructor of class B can not be retrieved:

public class A {
   static {

[2018-05-04 12:50] felipepontes-research opened #1838 "Class.getConstructors throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getConstructors (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getConstructors--), "...an array containing Constructor objects reflecting all the public constructors of the class represented by this Class object" must be returned. But using the following program constructors of class B can not be retrieved:

public class A {
   static {
      String

[2018-05-04 12:51] felipepontes-research opened #1839 "Class.getDeclaredConstructor throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getDeclaredConstructor (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getDeclaredConstructor-java.lang.Class...-), "...a Constructor object that reflects the specified constructor of the class or interface represented by this Class object" must be returned. But using the following program declared constructor of class B can not be retrieved:

public

[2018-05-04 12:52] felipepontes-research opened #1840 "Class.getDeclaredConstructors throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getDeclaredConstructors (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getDeclaredConstructors--), "...an array of Constructor objects reflecting all the constructors declared by the class represented by this Class object" must be returned. But using the following program declared constructors of class B can not be retrieved:

public class A {
   st

[2018-05-04 12:52] felipepontes-research opened #1841 "Class.getDeclaredField throws exception after invoking Class.newInstance"
Accordingly to Javadoc of Class.getDeclaredField (https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getDeclaredField-java.lang.String-), "...a Field object that reflects the specified declared field of the class or interface represented by this Class object" must be returned. But using the following program declared field of class B can not be retrieved:

public class A {
   static {