[2019-06-12 15:04] mpirvu commented on #4050
@pawelebe
The default value of the scratchSpace (memory used temporarily for JIT compilations) is 256MB. `-Xjit:scratchSpaceLimit=` can be used to change the default value. Reasonable sizes could be 8M-32M especially if you use `-Xquickstart` like you indicated above. Note that the value for the option above is expressed in KB, so if you want a 16M limit you would say `-Xjit:scratchSpaceLimit=1638

[2019-06-12 15:14] fjeremic commented on #5702
Looks good. Can the solution be extended to x86 and Power? Do we support Java semantics in the `dsqrt` evaluators across platforms? We do on Z, question is for x86 and Power @andrewcraik @gita-omr, thoughts? I'd rather reduce these calls to IL given it exists than intrinsic recognized calls.

[2019-06-12 15:19] simonameng commented on #5702
Yes, we do support the Java semantics in the `dsqrt` evaluators on Z. And we have some questions for x86 which @dchopra001 may want to explain. I haven't looked at the Power.

[2019-06-12 15:36] andrewcraik commented on #5702
For x86 issues of rounding mode and similar enter the picture - will have to study carefully if such a reduction is possible.

[2019-06-12 15:44] fjeremic commented on #5702
Looking at x86 inlined function and the `dsqrt` evaluators, they appear to be equivalent [1] [2]. @simonameng I notice on Z we blindly just use libc `sqrt` function to compute the constant case while x86 inlined function seems to have additional logic for some corner cases. Can we check that we're doing the right thing by writing a few unit tests against those cases?

We need to common up all this

[2019-06-12 15:52] dchopra001 commented on #5702
So we looked into reducing this call to a `dsqrt` IL on the x86 platform. The evaluator is here:

https://github.com/eclipse/omr/blob/06a198583ca252ecb878ab284ba82b6d3cf64042/compiler/x/codegen/FPTreeEvaluator.cpp#L681-L723

1. There seems to be some legacy code here guarded by `if (value->getKind() != TR_FPR) // Legacy supported for X87, to be deleted`. This evaluator was introduced by this PR la

[2019-06-12 16:08] dchopra001 commented on #5702
I should also mention that we do some handling in the ILGen for `StrictMath.sqrt` that might need to be looked at again. While processing this JNI call, we do this check:
https://github.com/eclipse/openj9/blob/9fd0c9b532f1122ce2fc3f5405134f9e950190d0/runtime/compiler/il/J9Node.cpp#L303-L304

If this query returns false, then we end up continuing further into the function and add the unexpected fir

[2019-06-12 17:35] efferifick opened #6099 "Refactoring `TR_J9EstimateCodeSize::realEstimateCodeSize`"
Hi,

currently `TR_J9EstimateCodeSize::realEstimateCodeSize` is a method being used to determine the size of code being partially inlined. In it, there is logic that builds a control flow graph for the input target. Then, there is some more logic for calculating the impact of partial inlining of the inlineableCallSites found on the input target.

What I would like to do is:
1) Separate the logic o

[2019-06-12 17:40] andrewcraik commented on #6099
FYI @cathyzhyi as well

[2019-06-12 18:08] harryyu1994 commented on #6081
Each compilation object creates a `CodeGenerator` object (using `allocateCodeGenerator`), the CodeGenerator object initializes its `TR_X86ProcessorInfo` flag from the global `TR::Compiler->target.cpu.getX86ProcessorFeatureFlags()` routine. We need to change this routine to per-client for JITaaS so that each CodeGenerator object takes information from its own client when doing initialization.

[2019-06-12 18:20] fjeremic commented on #5975
We don't need full C++11 support, just that all compilers we build with support `static_assert`, and given it's use in the JIT we already do.

[2019-06-12 18:29] mpirvu commented on #6084
Instead of the Sanity bucket you should run the AcmeAir benchmark.
Dmitry has it for sure. Annabelle could have it. Harry should have it.

[2019-06-12 18:39] liqunl commented on #4837
Hi @avermeer
Yes, the latest nightly build is compiled with openj9 sha `ffeaf288e`, a few changes are already in. However, you may not see significant performance improvement as the changes in that build is only a small portion of the changes we have.

[2019-06-12 19:11] #5317 closed

[2019-06-12 19:26] avermeer commented on #4837
Hello @liqunl ,

Thank you very much for you answer.
When do you think an AdoptOpenJDK nightly build could be available with the bulk of the changes for JSR292 performances?

Kind regards,
Alexandre Vermeerbergen

[2019-06-12 19:46] andrewcraik commented on #5702
So you guys are the StrictMath.sqrt will return the specific value required in the Javadoc specification http://w3.hursley.ibm.com/java/docs/java7/api/java/lang/StrictMath.html#sqrt(double)?

I suspect that on x86 the AVX sqrt instruction will generate a valid result for Math.sqrt but I'd be loathed to say it will be 100% right for StrictMath.sqrt

[2019-06-12 19:57] fjeremic commented on #5702
`java.lang.Math.sqrt` maps to `java.lang.StrictMat.sqrt` [1]

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/0843c3e6c295fb5df8babf32efc879d33780a097/jdk/src/share/classes/java/lang/Math.java#L338-L344

[2019-06-12 20:06] andrewcraik commented on #5702
There is a difference in that the Javadoc specification for StrictMath.sqrt is more strict. You could recognize Math.sqrt and do things to it that you can't do to StrictMath.sqrt

[2019-06-12 20:07] dchopra001 commented on #5702
On Z the instruction we are using does follow the same rules.

Can you point us to this instruction? We tried looking through the ISA but for a lot of the `sqrt` instructions the ISA doesn't clarify what would happen in the special cases.

[2019-06-12 20:08] andrewcraik commented on #5702
As I say AVX may be good enough for Math.sqrt on x86 but I wouldn't bet on it being 100% correct for StrictMath.

[2019-06-12 20:08] andrewcraik commented on #5702
@jdmpapin can you liase on the spec and x86 instructions please?

[2019-06-12 20:09] dchopra001 commented on #5702
Would you be able to point us to the differences? Having looked at the java doc I don't see a difference:
http://w3.hursley.ibm.com/java/docs/java7/api/java/lang/StrictMath.html#sqrt(double)
http://w3.hursley.ibm.com/java/docs/java7/api/java/lang/Math.html#sqrt(double)

The one line in `Math.sqrt`'s return section saying :

looks to be redundant.

[2019-06-12 20:19] andrewcraik commented on #5702
So after very careful reading it looks like the spec on _this_ function is the same. In general it is not true - seems that because they added the nearest to the actual mathematical value clause to the return that is what ties them to be equivalent. There are many others in these classes where that is not true. @jdmpapin is trying to see if he can find the x86 specs - if we are in doubt we'll just

[2019-06-12 20:34] pdbain-ibm commented on #6034
I have a candidate fix (https://github.com/pdbain-ibm/openj9/commit/6a253e3499167844a3cffb3ee2b225697fa7a889) which I have designer tested but is not ready for detailed review. I will create a Linux image and upload it for @hi5san to test.

[2019-06-12 20:42] fjeremic commented on #5702
I'm not seeing what the problem here is. At the end of the day the `inlineMathSQRT` function on x86 behaves identically to the `dsqrt` evaluator in that we will generate the same instruction sequence for both as we can see in [1] and [2]. Furthermore we already reduce both `java.lang.Math.sqrt` and `java.lang.StrictMath.sqrt` to `inlineMathSQRT` as seen in [3].

The work here is to common up the l

[2019-06-12 20:56] andrewcraik commented on #5702
@fjeremic ok if it is already going through the instruction I'm fine with the commoning - I thought the question was whether the instruction would work. I'm trying to look at this and several other things so I clearly misunderstood the question. If the reduction is already happening commoning the implementation is fine with me. If the reduction is not happening we need to be sure the x86 instructi

[2019-06-12 20:59] sogutbera commented on #5665
The Eclipse error was because I was also changing the names of anonymous classes that were not lambda classes, fixed it now and Eclipse seems to work. Adding tests now.

[2019-06-12 22:04] 0xdaryl commented on #5455
CompactLocals (ability to map compacted stack in some linkage)

[2019-06-12 22:04] 0xdaryl commented on #5455
JITaaS relocations

[2019-06-13 00:38] 15838028035 opened #6101 "jenkins pipline jobDSL"
Hi , i use jenkins , i want to create jobs use jobDSL, i want to config all the config info in a yml files,

jenkins jobs pipeline load it , maybe the code like this:

/*
*  通用jenkins自动构建pipline文件
* 参数说明:
* GIT_URL:  仓库地址
* GIT_BRANCH: 分支名称
* GIT_CREDIT： jenkins凭据参数
* IS_RUN_SONNAR: 是否执行ssonar扫描
* IS_GEN_DOCKER_IMG： 是否执行docker镜像
* MODEL_NAMES 镜像模块名称
* IS_SEND_EMAIL: 是否发送邮件
*/

node {

    // 全局获取最

[2019-06-13 00:45] 15838028035 opened #6102 "docker stats problem"
i want to use sh run docker stats  in some times exit , what should i do ?

i run docker stats --help  , there are no times params

[2019-06-13 00:54] 15838028035 opened #6103 "sonarqube use memory too up !"
hi, i use jenkins , use sonarqube to scanner java code ,
user docker run jenkins , sonarqube ,

run docker stats sonarqube , print the message out:

CONTAINER ID        NAME                CPU %               MEM USAGE / LIMIT     MEM %               NET I/O             BLOCK I/O           PIDS
4c51eb745700        sonarqube           1.31%               2.339GiB / 23.37GiB   10.01%              94

[2019-06-13 02:49] DanHeidinga commented on #6103
Sorry, we can't provide support for sonarqube.  We can help with issues with the JVM but can't provide support for other applications.

[2019-06-13 02:49] #6103 closed

[2019-06-13 03:07] 15838028035 opened #6104 "jdk_x64_linux_openj9_8u212b04_openj9-0.14.2.tar.gz tar failure"
tar -zxvf OpenJDK8U-jdk_x64_linux_openj9_8u212b04_openj9-0.14.2.tar.gz
jdk8u212-b04/
jdk8u212-b04/ASSEMBLY_EXCEPTION
jdk8u212-b04/jre/
jdk8u212-b04/jre/ASSEMBLY_EXCEPTION
jdk8u212-b04/jre/bin/
jdk8u212-b04/jre/bin/tnameserv
jdk8u212-b04/jre/bin/jextract
jdk8u212-b04/jre/bin/unpack200
jdk8u212-b04/jre/bin/policytool
jdk8u212-b04/jre/bin/java
jdk8u212-b04/jre/bin/orbd
jdk8u212-b04/jre/bin/servertool

[2019-06-13 03:20] DanHeidinga commented on #6104
Does the checksum for the `tar.gz` file match the one you've downloaded?  The checksum for the Adopt builds can be downloaded from this page: https://adoptopenjdk.net/archive.html

It might be simpler to download the file again and try untaring the new file.

[2019-06-13 03:51] DanHeidinga commented on #2049
With the merging of #6095, this is complete.

[2019-06-13 03:51] #2049 closed

[2019-06-13 04:01] 15838028035 commented on #6104
Thanks! I am in China, often down failure, is there other way to get it !

发自我的 iPhone

[2019-06-13 05:29] 15838028035 opened #6105 "how can i download a apline openj9 jdk neightly build ?"
how can i download a apline openj9 jdk neightly build ?

[2019-06-13 09:24] 15838028035 opened #6106 "jenkins pipline clearWs"
HI, from this project ,
jenkins pipline

cleanWs()

i see call  ,what the plugin jenkins install ?

[2019-06-13 11:30] 0xdaryl opened #6107 "Remove unused `TR::bztestnset` opcode"
This is the OpenJ9-dependent work for eclipse/omr#1401.  Remove references in OpenJ9.  This will depend on any OMR PR created for the work.

[2019-06-13 11:31] 0xdaryl commented on #6107
@agarwalrounak

[2019-06-13 11:33] 0xdaryl opened #6108 "Remove unused TR::idoz opcode"
This is the OpenJ9-dependent work for eclipse/omr#1400. Remove references in OpenJ9. This will depend on any OMR PR created for the work.

[2019-06-13 11:33] 0xdaryl commented on #6108
@agarwalrounak

[2019-06-13 12:51] DanHeidinga commented on #6105
There are alpine-based docker images available for OpenJ9 from Adopt's dockerhub page: https://hub.docker.com/r/adoptopenjdk/openjdk8-openj9

See the `alpine-nightly`, `alpine-jre-nightly`, `alpine-nightly-slim` tags.

The alpine images are using the regular OpenJ9 nightly builds in an alpine package.

@dinogun Can you confirm that's the case?

[2019-06-13 12:58] 15838028035 commented on #6105
No! I am not use docker on my one Linux host , I only want to download a memory lower openj9

发自我的 iPhone

[2019-06-13 13:05] jdmpapin commented on #5702
For the record, it does look safe to use `sqrtsd` for `Math.sqrt()`. The following isn't a guarantee, but it's pretty suggestive, especially combined with the fact that we've already been reducing `Math.sqrt()` to `sqrtsd` without any (known) trouble.

The documentation mentions no limitation on the precision of `sqrtsd` and `sqrtss`, as compared to the approximate `rsqrtss`, which has an explicit

[2019-06-13 13:14] DanHeidinga commented on #6105
It's the same OpenJ9 build used in the alpine image as in the regular image.  The size benefit of the alpine package is the smaller OS.

[2019-06-13 13:19] 15838028035 commented on #6105
Okay! Thanks !

发自我的 iPhone

[2019-06-13 13:19] #6105 closed

[2019-06-13 13:39] DanHeidinga commented on #6104
This would be a good question to ask at AdoptOpenJDK.  They provide the binaries and downloads infrastructure.

I'm not aware of anything other than the website and API and I believe both are served by the same backend.

Try asking on the https://adoptopenjdk.net/slack.html or create an issue in the https://github.com/AdoptOpenJDK/TSC repo and they'll route it appropriately

[2019-06-13 14:30] mpirvu opened #6109 "Building JITaaS in master branch"
We plan to port the JIT-as-a-Service (JITaaS) code from its own branch into master as outlined in https://github.com/eclipse/openj9/issues/6072
Integrating the JITaaS code can be done using one of the two approaches summarized below. I would like people to weigh in and express their preferences/concerns so that a decision can be taken soon.

**Approach 1:** Use `#ifdef` to protect JITaaS specific

[2019-06-13 14:47] dsouzai commented on #6109
How much code would be guarded by the ifdef? Are the majority of the changes in their own isolated files, or will there be a lot of `ifdef` regions in say CompilationThread.cpp?

[2019-06-13 14:54] SueChaplain commented on #5164
Is there a milestone target for this one please?

[2019-06-13 14:57] andrewcraik opened #6114 "Show OpenSSL acceleration support in -version"
Currently to test if a given OpenJ9 build supports OpenSSL crypto acceleration you need to run some Java code which uses the crypto pathways and the add `-Djdk.nativeCryptoTrace=true`. It would be very nice if the -version output could include a) if the JVM was built with OpenSSL support and b) report if the OpenSSL support is enabled in the VM (eg the shared library was found and is functional).

[2019-06-13 14:57] andrewcraik commented on #6114
FYI @DanHeidinga since we discussed this on slack

[2019-06-13 14:59] fjeremic commented on #6109
I'm in favor of Approach 2 because Approach 1 also requires a rebuild of the JIT (so likely the JVM) during test phases if we want to test JITaaS, not to mention the constant breakages because code is not being compiled during PR testing.

[2019-06-13 15:08] hangshao0 commented on #5665
If the solution using `HostClassName$$Lambda$0/00000000` works, then there is no need to switch to the alternative solution mentioned in https://github.com/eclipse/openj9/issues/5665#issuecomment-501021868

[2019-06-13 15:09] mpirvu commented on #6109
While we tried as much as possible to put JITaaS code in separate files, some existing files (like CompilationThread.cpp) have lots of small JITaaS snippets.
It's astonishing, but we had to touch ~90 files to include JITaaS support.

[2019-06-13 15:29] charliegracie commented on #6109
Can we take advantage of autotools/CMake detection to check for the JITaaS requirements (protobuf, etc.)? If they are found then JITaaS is compiled in. If they are not found JITaaS is not compiled in. Also there should be options to configure/CMake to allow users to force it on / off which override the auto detection.  In the case where it is forced on and the auto detection can not find required

[2019-06-13 15:30] pdbain-ibm commented on #5164
@pshipton or @DanHeidinga
I can put this together fairly rapidly now that `jmap` is done, though I should finish the `jstack` refactoring first.

[2019-06-13 15:36] dsouzai commented on #6109
Hm, in that case I'd lean towards Approach 2 for much the same reasons as @fjeremic . I'm remembering a time when we had code guarded by `TR_MEM_STATS`, and how we'd run into build issues when we really needed it. I suppose it's not really a fair comparison, because as long as there are people working on JITaaS and we have a nightly JITaaS build, the ifdefs would mostly work. But from a long term

[2019-06-13 15:54] pdbain-ibm commented on #6034
@hi5san Please test https://drive.google.com/open?id=1GrB7ozSFMpAYDRbmMCbRummS-RoIluW9
(Java 11) and inform me if this fixes your issue. Please contact me on Slack or this issue if you have any questions.
Thank you.
     -p

[2019-06-13 16:12] mstoodle commented on #6109
There are several kinds of builds here that are allowed to use different approaches:
A. Developer build (note that's *all* developers including non-JIT devs and even non-contributor devs)
B. PR  build
C. Final build at AdoptOpenJDK

If we do Approach 2, then all of those use cases will be forced to satisfy the new protobuf dependency even if they have no interest in anything JITaaS. I therefore su

[2019-06-13 16:36] keithc-ca commented on #6109
Does including JITaaS come with any security considerations? For example, does it listen for compile requests over the network by default?

[2019-06-13 16:40] mpirvu commented on #6109
When configured to run in server mode (-XX:JITaaSServer) it does listen for compile requests over the network. Encryption is supported, but optional

[2019-06-13 17:07] DanHeidinga commented on #5605
fyi @dnakamura this is the issue I mentioned on call today

[2019-06-13 17:22] aguibert opened #6119 "Missing Java 2 security permissions when using the Attach API"
Java -version output
--------------------

I don't have `java -version` output, but this is the java version info from the Liberty log header:
[code]
As the java.home path implies, this uses JDK 11.0.2+9 using OpenJ9-0.12.1. This is using a released version (not some internal/nightly build).

Summary of problem
------------------

We are using the standard JDK attach API to self-attach to a runnin

[2019-06-13 17:46] harryyu1994 opened #6120 "gethostbyname is obsolete and not thread safe"
JITaaS client still uses `gethostbyname` api for DNS lookups. `gethostbyname` is obsolete and not thread safe. We should switch to `getaddrinfo`.

[2019-06-13 17:53] harryyu1994 commented on #6120
Looking into this very soon.

[2019-06-13 17:58] renfeiw commented on #6052
Yes, it is a test issue. I will provide the fix soon.

[2019-06-13 19:31] andrewcraik commented on #6099
I think I'm fine with the separation in 1 - it will just need careful review to make sure no functional issues creep in. For 2 if the CFG and its associated blocks are going to have a longer lifetime it would be most prudent for any nodes the blocks refer to to be kept in the same region with the same lifetime to prevent surprises IMO

[2019-06-13 19:42] gita-omr commented on #3422
@DanHeidinga we are working on it but I will let @AlenBadel confirm.

[2019-06-13 19:42] AlenBadel commented on #3422
@DanHeidinga Yes, this will definitely be ready by then.

[2019-06-13 20:35] efferifick commented on #6099
Cool, I'll create a new branch and refactor it with the changes as requested. I think I will be able to submit a PR maybe tomorrow to discuss the changes further.

[2019-06-13 20:40] hangshao0 commented on #6022
To get the Jar/Zip File open state, there might be 2 possible ways:

1. From the code that classloader calls to open the Jar/Zip file on the URL class path, somewhere around:
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/java.base/share/classes/jdk/internal/loader/URLClassPath.java#L860

2. Take advantage of the confirmedCount. The Jar/Zip files on the class path that has ind

[2019-06-13 22:22] caohaley commented on #6084
Okay sounds good, I ran AcmeAir benchmark. Using the simple solution, there is around 5500 classHasBeenExtended messages whereas before there were around 11000 messages. So the number of messages reduced by around half for this message.

The implementation being:
[code]

[2019-06-13 22:48] mpirvu commented on #6084
If this code obtains a 50% hit rate then there is a chance we could do better.
`getAndCacheRAMClassInfo` may send a message to fetch the class from which the flags are cached. If the flags are 0 we send another message just to discover that the flags are still 0. It's true that in the vast majority of the cases the class could be there so this code does not end up in duplicate messages, but it's w

[2019-06-13 23:08] efferifick commented on #6099
Hi, I have implemented my changes to change allow one to specify the region in which to save the cfg [here](https://github.com/eclipse/openj9/compare/master...efferifick:realEstimateSize).

However, it depends on [this interface change in omr.](https://github.com/eclipse/omr/compare/master...efferifick:addEdgesOnRegions)

I will submit a PR to omr tomorrow. After that, then I can submit a PR to op

[2019-06-14 00:24] #5876 closed

[2019-06-14 00:38] 15838028035 opened #6124 "jps should add file path info"
Hi, when i use jps,
message print like this
123456  aa

jps not show file path info

jps should add file path info ？

[2019-06-14 01:01] chrisc66 commented on #6019
I have added above four environment variables to our code, and it seems working fine.

A few questions to discuss:
* If both `TR_JITaaSServerMode = 1` and `TR_JITaaSClientMode = 1` are set, I guess it makes sense to just ignore these two env vars. i.e. run in Non-JITaaS mode.
* Some other env vars could also be useful, should we implement:
   * `TR_JITaaSTimeout` = xxx
   * `TR_JITaaSsslKey` = xxx

[2019-06-14 02:04] 15838028035 opened #6125 "is there a openjdk7-openj9 file for download"
is there a openjdk7-openj9  file for download

[2019-06-14 02:04] mpirvu commented on #6019
I am ok with that solution provided there is some message informing the user.
For the other env vars let's limit ourselves to JITaaS one, i.e. ignore TR_XjitCount and TR_XjitVerbose.
Do you have a link to the PR?

[2019-06-14 02:24] 15838028035 opened #6126 "jps problem"
`java -version
`

openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-b04)
Eclipse OpenJ9 VM (build openj9-0.14.2, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20190521_315 (JIT enabled, AOT enabled)
OpenJ9   - 4b1df46fe
OMR      - b56045d2
JCL      - a8c217d402 based on jdk8u212-b04)

` free -lh
`

Mem:           125G        113G        1.5G        570M         10G

[2019-06-14 09:55] pawelebe commented on #4050
@mpirvu many thanks for your very helpful response.

No we do not have swap space enabled.

I have tried with option you recommended `Xjit:enableSelfTuningScratchMemoryUsageBeforeCompile`. So far so good, no oom since then.

Is it safe to use it as default too all our micro-services? (not matter what is RAM quota) . Are there any performance or other consequences when using this flag? Should we ch

[2019-06-14 12:38] mpirvu commented on #4050
It is safe to use regardless of the RAM quota. The downside is that some compilations may fail if the logic detects there isn't enough free physical memory. In contrast, without that option compilations would be attempted relying on swap space. The verbose log will show whether compilations are failing.

If you can distill your application into something simple that you could send us I'd be happy

[2019-06-14 12:59] mpirvu commented on #6084
`getAndCacheRAMClassInfo()` could return whether the value came from the cache and if not, then we don't have to send another message.

[2019-06-14 13:06] pdbain-ibm commented on #6124
@15838028035
The OpenJ9 implementation of `jps` matches that of HotSpot.  The specified behaviour, per the man page, is to print the application's main class or the jar file name, omitting the package information or jar file path.  `jps -l` will print the file path for the jar file.

[2019-06-14 13:09] 15838028035 commented on #6124
There are two tomcat run, Jps -l can not not filepath

发自我的 iPhone

[2019-06-14 13:12] pdbain-ibm commented on #6125
OpenJ9 is available only for Java 8 and up.  Do you have a specific need for Java 7?

[2019-06-14 13:22] pdbain-ibm commented on #6124
1. Which operating system are you running? Linux?
2. Assuming Linux, would you please sent me the output of `ps -f -p <pid>` where `<pid>` is the process ID of your Tomcat instance
3. Please also send the output of `jps -v`
4. `jstack -p <pid>` will print the system properties for the process.  Could you send that too?

As the above may be lengthy, I suggest adding the information as `.txt` files.

[2019-06-14 13:24] 15838028035 commented on #6124
Thanks

发自我的 iPhone

[2019-06-14 13:24] 15838028035 commented on #6125
Yes!

发自我的 iPhone

[2019-06-14 13:25] DanHeidinga commented on #6126
fyi @pdbain-ibm

[2019-06-14 13:26] 15838028035 commented on #6125
Some code develop and complete on java7 ,  can java 8 run the java7 classes?

发自我的 iPhone

[2019-06-14 13:34] pdbain-ibm commented on #6126
More likely one of the target processes is having trouble communicating with the `jps` process.

Please run `jps` with `-J-Dcom.ibm.tools.attach.logging=yes`.  That will produce a file `<pid>.log`, where `pid` is the ID of the `jps` process, and attach the file.

You can also communicate with me directly via Slack at https://openj9.slack.com.  You can join the channel by requesting an invitation:

[2019-06-14 13:37] pdbain-ibm commented on #6125
Yes.  Java 8 is backward compatible to previous Java versions. I suggest you also test with a Java 11 JDK to check if the code is compatible with the Java module system.

[2019-06-14 13:40] 15838028035 commented on #6125
Okay! Thanks

发自我的 iPhone

[2019-06-14 14:53] mpirvu opened #6130 "Enable a connection timeout in JITaaS"
Networks can be flaky and connections can be broken or take a very long time. JITaaS needs to be able to cope with such situations and we already have the ability of setting a timeout at the socket level with suboption `timeout=`:

[code]

Currently the timeout value is set to 0 which means " wait forever".
We need to set a sensible timeout value and then test thoroughly the behavior, simulating f

[2019-06-14 14:56] mpirvu commented on #6130
We should collect by default statistics on how often the timeout situation was encountered.

[2019-06-14 15:03] mpirvu opened #6131 "Use socket API from portlib for JITaaS"
Currently, the network communication layer in JITaaS is implemented using unix socket API. For portability we should replace that API with the one offered by the portlib and implemented in j9sock.c, unless it adds too much overhead (I doubt it)

[2019-06-14 15:21] #6125 closed

[2019-06-14 15:31] pdbain-ibm commented on #6131
Currently, this is used only by the Harmony JDWP implementation (which I believe is now completely supplanted by the OpenJDK implementation). There is consideration now being given to removing this API.  I suggest discussing this with @pshipton.

[2019-06-14 15:49] pdbain-ibm commented on #6124
Your query did expose a bug in `jps`: `jps` without arguments displays processes launched via `-jar foo/bar.jar` as `jar` rather than `bar.jar`.  I am testing a fix now.

[2019-06-14 15:55] mpirvu opened #6133 "Track reason for "JITaaS I/O error: reading message size""
While running sanity tests on fyre machine I see too many messages on the server saying:
[code]
We need to introduce stats about these, understand the cause and determine how serious it is.

[2019-06-14 16:26] #6052 closed

[2019-06-14 16:51] aguibert commented on #6119
This permission is also missing:
[code]

[2019-06-14 17:48] a7ehuo commented on #6130
I'll take a look at this one.

[2019-06-14 18:06] llxia commented on #4470
Noticed this failure in PR build: https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_ppc64le_linux_Personal/88/tapResults/

[code]

[2019-06-14 18:17] andrewcraik commented on #6109
Past experience with having `#ifdef`'d code has been that it tends to rot because it isn't compiled by default and PRs will tend to break it by accident imposing a cost on the owners of the code to continually maintain it. With autotools / cmake we could just detect the availability and grab the dependency as necessary - it shouldn't be a big deal to get it. If that is not feasible then we have no

[2019-06-14 18:17] andrewcraik commented on #6114
FYI @vijaysun-omr and @mstoodle  per discussion yesterday

[2019-06-14 18:18] andrewcraik commented on #6114
Should we also add this info to the javacore? There is no guarantee just because an openssl library is loaded it wasn't loaded by the user...

[2019-06-14 19:01] chrisc66 commented on #6019
Yes, messages informing the user and `TR_JITaaSXXX` env vars are both added. The PR is not yet ready to be merged, but please look at #6138 .

[2019-06-14 19:02] pshipton commented on #6131
Indeed, we were hoping to remove the obsolete j9sock APIs from the OpenJ9 port library. As I understand it, at least some of the j9sock implementations are stale, which I think means not suitable for IPv6. A better approach is to implement a omrsock port library layer at the OMR project, containing what is needed to support JITaas. The parts of j9sock that are still relevant can be copied to omrso

[2019-06-14 19:19] mstoodle commented on #6109
The point was to do PR builds both with and without the #ifdefs to avoid the rot effect, for what it's worth.

[2019-06-14 20:15] ChengJin01 commented on #6022
I already finished coding on OpenJDK8 & OpenJ9
https://github.com/ChengJin01/openj9-openjdk-jdk8/tree/sc_notify_close_state_jdk8
https://github.com/ChengJin01/openj9/tree/sc_no_classpath_timestamp_check
to cover the following requested parts:
1. initialize to flags of CpLinkedListHdr to `CPM_ZIP_OPEN | CPM_ZIP_FORCE_CHECK_TIMESTAMP` if the CpLinkedListHdr is being created for a URLClasspath.
2. re

[2019-06-14 20:16] sophia-guo opened #6139 "JTReg Test Failure - java/math/BigInteger/BigIntegerTest.java.BigIntegerTest fails"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-64_windows/305/testReport/junit/java_math_BigInteger_BigIntegerTest/java/BigIntegerTest/
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-64_windows/305/testReport/junit/java_math_BigInteger_BigIntegerTest/java/BigIntegerTest/
https://ci.adoptopenjdk.net/view/Test_op

[2019-06-14 20:34] smlambert commented on #5225
Is the consensus that this test is not applicable to OpenJ9?

For those trying to increase their OpenJDK contributions, is this test a candidate to fix?

[2019-06-14 20:43] ChengJin01 commented on #5225
@smlambert,  yes this test is not applicable to OpenJ9.

We don't think there is no need to modify our code to throw out exactly the same exceptions because OpenJ9 already captured all errors in the test.

[2019-06-14 20:43] andrewcraik commented on #6109
Do the projects have enough machine resources to support that and testing of both? I guess I am coming down as more in favour of option 2 because of code simplicity, lower testing burden and the fact we should be able to make the acquisition of protobuff "easy" with the autotools/CMake scripts (at least in theory).

[2019-06-14 21:06] lostiniceland opened #6140 "OpenJ9 Java 12 does not support enable-preview"
Running Openliberty 19.0.0.5 with a OpenJ9 12 JRE while using preview-features (switch expressions) it is necessary to pass --enable-preview to the JVM.

However running this option on OpenJ9 results in the following error:
[code]

Running the same setup on a OpenJDK (Hotspot) 12 JRE works as expected.

[2019-06-15 02:37] #2662 closed

[2019-06-15 02:43] DanHeidinga commented on #6140
@lostiniceland what's the `java -version` from the build you're using?

[2019-06-15 02:50] #6104 closed

[2019-06-15 03:49] hi5san commented on #6034
@pdbain-ibm Thanks Peter.  I've confirmed fix using your test build, successfully connected via remote connection for (1) localhost:port and (2) remoteIp:port from different host, as expected.  Thank you.

[2019-06-15 17:44] pshipton commented on #6114
I think adding a new option is the best solution. Basically we need to run the java code jdk.crypto.jniprovider.NativeCrypto.isLoaded() and see the result. We could also use this option to enable verbose output about failure to load.

I expect we can figure out a way to report whether the crypto library was successfully loaded in the javacore. Information about failure to load could also be includ

[2019-06-15 17:55] pshipton commented on #6119
@pdbain-ibm

[2019-06-15 21:25] DanHeidinga commented on #6140
I've confirmed this works in the latest release:
[code]

If you're still seeing issues with the latest release, we'll need to investigate further why it would be different.

[2019-06-15 22:59] DanHeidinga commented on #5164
+1 to finishing jstack first

[2019-06-15 23:01] DanHeidinga commented on #5164
@SueChaplain Given the branch for the 0.15 release is June 24, I don't think this will make it.  I'll tentatively tag it against the `0.16.0` release.

[2019-06-16 02:40] mpirvu opened #6144 "Eliminate compiler warnings from JITaaS code"
For some JITaaS files the compiler issues warnings.
E.g. compiling `JITaaSCompilationThread.cpp` we get the following warnings:
[code]

We should eliminate such warnings. For instance, in the first case above, `NULL` should be replaced with `false`.

[2019-06-17 02:14] JasonFengJ9 commented on #6139
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly/62/tapResults/

[code]

[2019-06-17 02:19] JasonFengJ9 opened #6145 "sanity.system_Nightly MauveSingleThreadLoadTest_OpenJ9_0 NPE"
Failure link
------------
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_linux_xl_Nightly/64/tapResults/

Optional info
-------------

Failure output
--------------

[code]

[2019-06-17 02:24] JasonFengJ9 opened #6146 "sanity.system DaaLoadTest_daa3_0 ArrayIndexOutOfBoundsException"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_x86-64_windows_Nightly/62/tapResults/

Optional info
-------------

Failure output
--------------

[code]

[2019-06-17 02:27] JasonFengJ9 commented on #6145
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly/63/tapResults/
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_x86-64_linux_Nightly/66/tapResults/

[2019-06-17 02:29] JasonFengJ9 commented on #6146
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_ppc64le_linux_Nightly/66/tapResults/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_mac_Nightly/65/tapResults/

[2019-06-17 10:50] doveye commented on #5156
This issue should have a doc:externals label and a corresponding issue created in openj9-docs - we need to document that a default has changed, and change the value in https://eclipse.github.io/openj9-docs/openj9_defaults.

[2019-06-17 13:53] pdbain-ibm commented on #6126
1. Does `jps` produce any output on the console?  If so, please send it to me.
2. Please also test with `jps -q` and inform me if that works reliably.

[2019-06-17 13:54] pshipton commented on #6146
First failure:
OpenJ9: b9829d7
OMR: 9f5d885
OpenJDK8: 0843c3e - openj9-openjdk-jdk8
OpenJDK11: ad988f0 - openj9-openjdk-jdk11
OpenJDK12: 35a9302 - openj9-openjdk-jdk12

Last passing:
OpenJ9: 3d9ad73
OMR: 6eea707
OpenJDK8: 3f30074 - openj9-openjdk-jdk8
OpenJDK11: 2a60f1f - openj9-openjdk-jdk11
OpenJDK12: e941d38 - openj9-openjdk-jdk12

https://github.com/eclipse/openj9/compare/3d9ad73...b9829d7
htt

[2019-06-17 13:59] pshipton commented on #6146
@andrewcraik fyi this blocker

[2019-06-17 14:01] pshipton commented on #6145
First failure:
OpenJ9: b9829d7
OMR: 9f5d885
OpenJDK8: 0843c3e - openj9-openjdk-jdk8
OpenJDK11: ad988f0 - openj9-openjdk-jdk11
OpenJDK12: 35a9302 - openj9-openjdk-jdk12

Last passing:
OpenJ9: 3d9ad73
OMR: 6eea707
OpenJDK8: 3f30074 - openj9-openjdk-jdk8
OpenJDK11: 2a60f1f - openj9-openjdk-jdk11
OpenJDK12: e941d38 - openj9-openjdk-jdk12

3d9ad73...b9829d7
eclipse/omr@6eea707...9f5d885
ibmruntimes/ope

[2019-06-17 14:01] pshipton commented on #6145
See also #6146

[2019-06-17 14:01] pshipton commented on #6145
@andrewcraik fyi this blocker

[2019-06-17 14:02] pdbain-ibm commented on #6119
I suggest adding `doPrivileged()` to `java.base/com.ibm.tools.attach.target.Attachment.run()`.  @pshipton do you concur?

[2019-06-17 14:03] andrewcraik commented on #6146
@pshipton The change was merged in OMR on Friday but looks like the acceptance did not complete in time for these builds. Am waiting on the CI interface to load to check on current status.

[2019-06-17 14:04] andrewcraik commented on #6145
see #6146 that we believe there is a fix for the NPE already merged in OMR

[2019-06-17 14:04] caohaley commented on #6084
Yes I also checked `getRemoteROMClassAndMethods` messages which are the messages that the `getAndCacheRAMClassInfo()` sends to cache the class. It seems like the number of those messages are the same, at around 2900 messages.

Currently `getAndCacheRAMClassInfo()` returns false when the class doesn't exist, so I was wondering if it is okay to return whether or not that value came from the cache.

[2019-06-17 14:04] andrewcraik commented on #6145
@liqunl can you verify this one is fixed with the OMR fix for the CFGSimplifier from last week?

[2019-06-17 14:08] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_OMR/128

[2019-06-17 14:25] JasonFengJ9 commented on #6024
After a bit digging, it appears `MM_GCExtensions:oolObjectSamplingBytesGranularity` based sampling only applies to out-of-line allocation, and all those successful inline allocation via `ObjectAllocationAPI.hpp:inlineAllocateObject() or inlineAllocateIndexableObject()` are not traced via `-Xgc:allocationSamplingGranularity` regardless how small the sampling granularity is set.

`JEP331` shares sam

[2019-06-17 14:26] pshipton commented on #6119
I don't expect this will fix the first 8 problems reported here. Please confirm the RI behavior as well.

[2019-06-17 14:34] DanHeidinga commented on #6109
I support option 1 as it matches the approach we've historically used for JVM features.  New features are included under #ifdef making it:
* easy to find the feature-specific code
* easy to compile them in / out for performance and footprint comparisons
* easy to disable when issues are found.

Changes to improve & update common code won't require the ifdef.  This results in the minimal set of fea

[2019-06-17 14:46] charliegracie commented on #6024
The test is bogus in my opinion.  This is a "sample" and in such is not guaranteed to fire an exact number of samples. I will look into what we could do but this *should* not work on HotSpot either. The JEP talks about a random sample base such that a common application pattern would not always give the same samples.  If that was true then this test could never work! We should be pushing back on t

[2019-06-17 14:47] charliegracie commented on #6024
I will look into what we can do to "improve" the situation but I doubt we will ever have a case where we sample all 400 allocations in the above scenario.

[2019-06-17 14:57] pdbain-ibm commented on #6119
@aguibert would you kindly provide instructions on reproducing the problem?
Also, would you please test with the reference implementation to confirm that this is OpenJ9-specific?

Thank you

[2019-06-17 15:13] charliegracie commented on #6024
Here is a quick hack that may do what you want. FYI I have not compiled or tested this code.
[code]

[2019-06-17 15:17] charliegracie commented on #6024
Also the sampling still only happens on out of line allocates. The above hack forces out of line allocates  for all allocations when the sampling threshold is less than maximum TLH size.

[2019-06-17 15:19] JasonFengJ9 commented on #6024
Thanks @charliegracie for your quick response, will give it a try.

[2019-06-17 15:37] PhilWakelin opened #6150 "64-bit z/OS Java SDK allows Xmso values less than the smallest possible native stack of 1M"
As the smallest possible native stack size on 64-bit z/OS is 1MB, the default Xmso value was increased from 256/384K to 1M in issue [5156](https://github.com/eclipse/openj9/issues/5156)

However,  applications that have historically set Xmso values <1M  are still exposed to future failures as the JRE validates native stack frames used using whatever the Xmso value is set to.

As an example if Xmso

[2019-06-17 16:01] JasonFengJ9 commented on #6024
The patch doesn't work as expected because of `_oolTraceAllocationBytes` is only updated for out-of-line allocation [1].

It appears `_oolTraceAllocationBytes` wasn't updated within
https://github.com/eclipse/openj9/blob/c1b8968fc67ddea5ab2e6deea84fd7f36570f0d1/runtime/gc_include/ObjectAllocationAPI.hpp#L74
and
https://github.com/eclipse/openj9/blob/c1b8968fc67ddea5ab2e6deea84fd7f36570f0d1/runtime

[2019-06-17 18:31] charliegracie commented on #6024
just because the RI finds all allocations does not mean it is correct re the wording of the specification. Threads are not atomically updated to see the new values as this is a performance nightmare. The proposed changes above rely on async checks to cause the threads to recognize the new values. No JVM, I repeat no JVM, could be expected to have a lightweight allocation monitoring system force th

[2019-06-17 18:35] caohaley commented on #6144
I will work on this.

[2019-06-17 18:44] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_OMR/129

[2019-06-17 19:32] pdbain-ibm commented on #6119
An attacher running on the reference implementation (`OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11+28, mixed mode)`) fails if the default security manager is installed:
[code]

[2019-06-17 19:49] JasonFengJ9 commented on #6024
There is no observable difference.

**Allocation and _oolTraceAllocationBytes**
A `printf()` within `ObjectAllocationAPI.hpp:inlineAllocateIndexableObject()` shows most of allocation (`size = 1000` for the integer array size) occurred here. `MM_EnvironmentBase::_oolTraceAllocationBytes` is not updated within this inline allocation method. It is only incremented within `mgcalloc.cpp:MM_TLHAllocatio

[2019-06-17 19:58] pshipton opened #6156 "Footprint regressions when using -XX:+TransparentHugePage"
Transparent huge page support was added to OMR via https://github.com/eclipse/omr/pull/3647. Subsequent performance testing indicates that using this support (which may be enabled by default on Linux until the introduction of #6013) can negatively impact footprint measurements. In particular, a footprint regression of 8% was found on pLinux with the OS setting of /sys/kernel/mm/transparent_hugepag

[2019-06-17 20:20] DanHeidinga commented on #6156
#6157 disables the change to use TransparentHugePages when the OS setting was madvise (https://github.com/eclipse/openj9/pull/6013) until the footprint regression is investigated.  FYI @vijaysun-omr

[2019-06-17 20:23] dmitry-ten commented on #6133
I'll look into this.

[2019-06-17 21:33] liqunl commented on #6145
No, it doesn't have the fix for CFGSimplifier.

[2019-06-18 00:08] 15838028035 commented on #6126
Yes! There are not message print, maybe sided!

发自我的 iPhone

[2019-06-18 00:17] 15838028035 commented on #6126
jps -q  print output pid info

[2019-06-18 00:26] 15838028035 commented on #6126
free -lh

    total        used        free      shared  buff/cache   available
Mem:           125G        119G        1.9G        626M        4.6G        4.9G
Low:           125G        123G        1.9G
High:            0B          0B          0B
Swap:          4.0G        4.0G        1.7M

top -u user1 message output

40609 user1+  20   0  158388   2812   1504 R   5.9  0.0   0:00.02 top
 58680 u

[2019-06-18 02:21] pshipton commented on #6146
@andrewcraik eclipse/omr#4017 didn't fix this problem or #6145. It was merged and promoted on Friday Jun 14, but these problems continue to occur.

[2019-06-18 03:14] ChengJin01 commented on #6022
Test with spring.boot.openj9-0.0.1-SNAPSHOT.jar shows there were some errors with these command options specified.  Need to double-check the code to see what happened in there.

[2019-06-18 09:00] groeges commented on #5530
@mvdobrinin Do you have a copy of your test java app that recreates this issue.
I have tried creating a test app using the description you gave on how to recreate and I cant get the failure. If you can provide something that recreates the issue I would be grateful.

[2019-06-18 12:15] pdbain-ibm commented on #6126
It unlikely to be a memory problem.  More probable is that `jps` cannot attach to one or more of the target processes.  Would you kindly run `jps  -J-Dcom.ibm.tools.attach.logging=yes` and send me the resulting log file (it will be something like `1234.log`).

Thank you.

[2019-06-18 12:16] charliegracie commented on #6024
Hmm looking at your test case you are not changing the value of _oolTraceAllocationBytes via the GC API during runtime you are specifying it via the command line. I thought the JVMTI code allowed this value to be changed dynamically at runtime. Does it?  My changes above will only have an impact if you call the `j9gc_set_allocation_sampling_interval` after your application threads are up and runni

[2019-06-18 12:37] pshipton opened #6167 "Failing to start x86 testing Could not initialize class org.kohsuke.stapler.Stapler"
Many failures to run nightly build testing due to
[code]

https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All/548/

Subset of the failures, only seems to be affecting x86 platforms.

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly/66
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.functional_x86-64_linux_xl_Nightly/67
https:

[2019-06-18 12:37] pshipton commented on #6167
@AdamBrousseau

[2019-06-18 12:43] charliegracie commented on #6024
Also you are correct the code currently only accounts for objects allocated ool. It should also be considering TLH refreshes as well. Looking into this now

[2019-06-18 13:08] 15838028035 commented on #6126
I change openjdk8 to openj9 ,some java application not restart , is this reason?

发自我的 iPhone

[2019-06-18 13:30] smlambert opened #6168 "3 Renaissance benchmarks fail to run with OpenJ9"
We are looking at adding some Renaissance perf benchmarks, an initial run of ~19 of them (with no special tuning or JVM options) shows that 3 fail to run.  The PR that contains those targets has not yet been merged, the sandbox Grinder is pulling from PR branch at the moment (can rerun the Grinder_SandboxExtra job linked below, or setup internal Grinder to reproduce, if required).

Details at: htt

[2019-06-18 13:31] pdbain-ibm commented on #6126
OpenJDK (with HotSpot) and OpenJ9 use different implementations of Attach API, upon which `jps` is based (at least in the case of OpenJ9; I cannot speak for HotSpot).  OpenJ9's `jps` will not show or attach to HotSpot Java processes.

If you are using a mixture of HotSpot and OpenJ9 JDKs, ca you confirm that you are running the OpenJ9 copy of `jps`?

[2019-06-18 13:35] 15838028035 commented on #6126
I only want to use openj9

发自我的 iPhone

[2019-06-18 13:56] AdamBrousseau commented on #6167
Rerunning builds on
[osx1013-x86-3](https://ci.eclipse.org/openj9/view/Build_Nightly/job/Build_JDK11_x86-64_mac_Nightly/67)
[cent6-x64-5](https://ci.eclipse.org/openj9/view/Build_Nightly/job/Build_JDK11_x86-64_linux_Nightly/67/)
[win2012r2-x86-6](https://ci.eclipse.org/openj9/view/Build_Nightly/job/Build_JDK11_x86-64_windows_Nightly/68/)

Appear to be ok so far.

The Sanitize job currently runs at

[2019-06-18 14:01] fjeremic commented on #6168
@NigelYiboYu can you comment on your experience with this? Did you encounter similar failures when you ran on Z?

[2019-06-18 14:11] JasonFengJ9 commented on #6024
The `JTReg` testcase does call `j9gc_set_allocation_sampling_interval` [1]. Since this JEP implementation shares same event trigger mechanism with GC allocation sampling via `-Xgc:allocationSamplingGranularity`, the attached testcase is to demonstrate the sampling pattern without `JVMTI` natives.

I did test the patch with original `JTReg JVMTI` testcase and got similar results as before.

[1] htt

[2019-06-18 14:30] charliegracie commented on #6168
I am trying to reproduce the failures on my OS X machine using an JDK + OpenJ9.
1. dotty runs to completion but I get lots of these messages:
`failure to convert Constant(false) to TypeRef(ThisType(TypeRef(NoPrefix,module class scala)),class Byte)`
2. page-rank worked for me 5 out of 5 times.  The noticable difference to me in the output was in my run I got the following: `19/06/18 10:20:17 INFO M

[2019-06-18 14:38] charliegracie commented on #6168
2. I re-ran with different `-Xmx` and `-Xms` options and the default MemoryStore size seems to be about 1/4-1/2 of the heap size. If I run with `-Xms512m` and `-Xmx512m` I get the same 127.2MB as in the failing run and I also get an OOM.

[2019-06-18 14:40] charliegracie commented on #6168
3. I also get an OOM on reactors if I run with `-Xmx512m` and `-Xms512m`

[2019-06-18 14:42] smlambert commented on #6168
Thanks, I will suspect/assume insufficient machine resource and disable those 2 for the moment (page-rank and reactor).

[2019-06-18 14:48] AdamBrousseau commented on #6167
This might help
`/home/hudson/genie.openj9/.jenkins/logs/slaves/cent6-x64-5/slave.log`
[code]

[2019-06-18 15:00] smlambert commented on #6168
I will disable all 3 of them for now under: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1184, so that they are in and easy to run locally or by Grinders - though not clear if dotty is resource issue.

[2019-06-18 15:08] charliegracie commented on #6168
2. I downloaded a JDK8 + OpenJ9 and I get a NullPointer exception everytime. This looks like a real issue on JDK8

[2019-06-18 15:13] charliegracie commented on #6168
1. dotty seems to work without any messages on JDK8 + OpenJ9 for me on my MAC no matter what heap setting I use.

[2019-06-18 15:18] AdamBrousseau commented on #6167
log2
[code]

[2019-06-18 15:18] charliegracie commented on #6168
This is the JDK8 + OpenJ9 build I used:
[code]

[2019-06-18 15:22] charliegracie commented on #6168
hmmm with the above JDK8 + OpenJ9 build I get a lot benchmarks throwing java.lang.ExceptionInInitializerError which appear to be caused by NullPointerExceptions

[2019-06-18 15:51] charliegracie commented on #6168
ok I moved up to the latest JDK8 + OpenJ9 release:
[code]

1. dotty seems to work with all settings I tried, including default
2. page-rank fails with the initial error reported with -Xmx512m and passes with -Xmx4g.  Looks like the machine is reported limited resources so the JVM picks a small heap size.
3. reactors fails with -Xmx512m and passes with -Xmx4g.  Looks like the machine is reported li

[2019-06-18 16:34] AdamBrousseau commented on #6167
This build
https://ci.eclipse.org/openj9/job/Build_JDKnext_x86-64_linux_OpenJDK/38/
Started at 22:39:36
Aborted at 22:49:54
[code]
Which is the time in the slave log we get
[code]

[2019-06-18 17:15] lostiniceland commented on #6140
`marc@tux:~/Development/environment/jdk-12.0.1+12-jre/bin> ./java -version --enable-preview
openjdk version "12.0.1" 2019-04-16
OpenJDK Runtime Environment AdoptOpenJDK (build 12.0.1+12)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.14.1, JRE 12 Linux amd64-64-Bit Compressed References 20190418_66 (JIT enabled, AOT enabled)
OpenJ9   - 412258978
OMR      - 4a4278e6
JCL      - 9fad1c64af based on j

[2019-06-18 17:42] pshipton commented on #6168
`-Xmx512m` is the default for Java 8. I suggest setting a bigger value to run the tests.

[2019-06-18 17:44] pshipton commented on #6168
Defaults https://www.eclipse.org/openj9/docs/openj9_defaults/
Also see https://github.com/eclipse/openj9/issues/3475

[2019-06-18 18:32] DanHeidinga commented on #4488
I think the only thing left here is to document how to remove the properties files: https://github.com/eclipse/openj9/issues/4488#issuecomment-496279476

@SueChaplain Where would be the best place to put this kind of doc?

[2019-06-18 18:35] DanHeidinga commented on #5931
@LongyuZhang Can you retest this now that the Extensions PR has been merged?

[2019-06-18 18:37] DanHeidinga commented on #5831
We are coming up on a go/no-go decision for this PR to make the `0.15.0` release.

@mpirvu with the perf data so far, do you have any objections to enabling this by default?

@hangshao0 @pshipton Similar questions for you as well - Do you think this is ready to go?

[2019-06-18 18:37] pdbain-ibm commented on #6140
Please test with one of the nightly builds.

[2019-06-18 18:38] DanHeidinga commented on #5831
My position is that we need to move this out to the next release as we don't have enough runway to fix any infra / test / code issues that appear.  We should look at enabling this immediately after doing the code split.

[2019-06-18 18:40] gita-omr commented on #5702
@fjeremic do you see Power producing TR::dsqrt opcode? I don't see it, although dsqrtEvaluator does exist.

[2019-06-18 18:44] DanHeidinga commented on #5611
@ashbm5 Any update on this?

[2019-06-18 18:45] hangshao0 commented on #5831
For Java 11 and up. Nothing from VM side is blocking this.
For Java 8, we need either https://github.com/eclipse/openj9/issues/6022 to be fixed or https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/311 to be merged.

[2019-06-18 18:47] ChengJin01 commented on #6022
@hangshao0 and I already checked the test results as follows with the latest changes:
[code]
The results shows the time spent with `checkClasspathTimestamp & noTimestampChecks `specified (pretty much the existing implementation) was almost the same as the time spent with `nocheckClasspathTimestamp `specified)
[code]
which means the solution works good as expected.

[2019-06-18 18:50] DanHeidinga commented on #5530
There's nothing further for the OpenJ9 project to do here.  Closing this.

[2019-06-18 18:50] #5530 closed

[2019-06-18 19:03] DanHeidinga commented on #3743
The option has been added for 0.15.  Moving to 0.16 to consider enabling by default

[2019-06-18 19:05] AdamBrousseau commented on #6167
Ok I don't think its a connection issue. Here's what Joe and I came up with.
- Always failing starting to execute the get.sh script in the test jobs.
- Seems to only be affecting 1 mac, 1 cent and 1 win machine
- Machine configs are "identical" as far as we know
- Plugins were updated yesterday (What time? When was the last passing job on each machine)

[2019-06-18 19:05] AdamBrousseau commented on #6167
I've removed the test label from those 3 machines since they still work fine for build.

[2019-06-18 19:05] mpirvu commented on #5831
Performance regressions that were holding up this item were resolved, but there is still the possibility of regressions for some applications in some configurations. For instance SPECjbb2005 is seeing a 8-9% regression when hot/scorching compilations are disallowed. Vijay would like to make more progress on that and I am investigating.

[2019-06-18 19:10] ChengJin01 commented on #6022
The solution above is specific to Java 8.  For Java 11, extra java code need to be added to the sharedclasses related places.

[2019-06-18 19:19] aguibert commented on #6119
@pdbain-ibm sounds like you were able to reproduce the issue OK?

It sounds like you guys have landed on the end-user needing to grant these perms in their JDK policy file? If so, this seems odd because the code my app is calling is a public Java API and I have already granted full permissions to the code trying to run the attach, and my code invoking the attach is already inside a doPriv. So the

[2019-06-18 19:24] mvdobrinin commented on #5530
@groeges To reproduce this issue, I have to load some native libraries into the JVM (see description above).   The libraries are proprietary so I am unable to share them. The program to reproduce then looks something like this.

[code]

[2019-06-18 19:26] mvdobrinin commented on #5530
Is there an issue I could follow in another Github project to look for a resolution? The changes that @keithc-ca provided did fix my issue, so I think there is something that can be improved here.

[2019-06-18 19:30] LongyuZhang commented on #5931
Both win64 and win32 have passed this test on Jenkins. I think this issue has been fixed. Thanks.
[https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/2624/](url)
[https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/2625/](url)

[2019-06-18 19:30] #5931 closed

[2019-06-18 19:47] pshipton commented on #5530
@groeges may be able to create a fix that removes the `loadquery failed (12 Not enough space)` message, and contribute it to the OpenJDK project. We don't need this issue to track that. @mvdobrinin If you want to track it via an open issue, you could either open an issue directly at OpenJDK (I think you need to send to the mailing list unless you have permissions to open issues), or what @groeges

[2019-06-18 19:51] pshipton commented on #3611
I believe this is completed now, anything further will occur via https://github.com/eclipse/openj9/issues/6156

[2019-06-18 19:52] #3611 closed

[2019-06-18 19:53] pshipton commented on #3611
The doc issue for this is https://github.com/eclipse/openj9-docs/issues/273

[2019-06-18 19:57] DanHeidinga commented on #6156
@fengxue-IS Can you take a look at this?  We need to figure out why it's regressing footprint - see #6157 for detials

[2019-06-18 19:58] DanHeidinga commented on #6156
Moving this to the `0.16` milestone as it was found late.

[2019-06-18 20:07] mstoodle commented on #6109
agree with @DanHeidinga : we do not have to choose to implement my B and C until we're sure that the feature is "baked", which is another advantage of approach 1.

[2019-06-18 20:13] pdbain-ibm commented on #6119
@aguibert
Have you tested this with the reference implementation (RI) (i.e. HotSpot)?

Note that the example in https://github.com/eclipse/openj9/issues/6119#issuecomment-502819981 was with the RI.

What were your command-line (or other) JVM arguments?

[2019-06-18 20:17] dmitry-ten commented on #6133
The error message doesn't appear if every compilation creates a new stream.
With one stream used for multiple compilations what happens is that once a current compilation is done, server puts the entry for method to be compiled back into the compilation queue with `TR::CompilationInfo::requeueOutOfProcessEntry`, so that server takes that entry and blocks in `read`, until a new compilation request

[2019-06-18 20:18] pshipton commented on #5611
Disabling MessageDigest for the 0.15 release and beyond, until this is resolved.
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/318
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/190
https://github.com/ibmruntimes/openj9-openjdk-jdk12/pull/59

[2019-06-18 20:22] amicic commented on #3743
I've done some basic testing to confirm everything is order, and there are no races with first GC.

[2019-06-18 20:36] dmitry-ten commented on #6133
Just figured out the true reason for these messages: this error appears whenever client destroys a stream that is still connected to a server stream. This happens either when all of the entries in a compilation queue get processed, or when JVM exits. Which accounts for all of the occurrences of this message.
So, this is not actually a bug, just a weird way for server to learn that a corresponding

[2019-06-18 20:51] pshipton commented on #6119
Most of the reported security failures should be fixed by OpenJ9. I expect the user would only have to allow "createAttachProvider" and "attachVirtualMachine".

[2019-06-18 20:55] pshipton commented on #3743
@amicic has the concern about always writing to the cache been addressed? i.e. the GC code will only attempt to write a hint if it has calculated a different value than has already been stored to the cache? If this is addressed, I suggest we enable the feature by default just after branching for the 0.15 release, to give time to identify any problems before the next release.

[2019-06-18 20:58] aguibert commented on #6119
@pdbain-ibm sorry, I didn't realize you still wanted me to test with the RI since you confirmed there is still an issue in your recent comment. But yes, the same sort of permission issues occur with Hotspot.

My command-line arguments are this:

@pshipton In this case it is just Liberty code talking directly to a JDK API. Since Liberty controls the JVM launch and Liberty grants all permissions to

[2019-06-18 21:03] pshipton commented on #6167
@AdamBrousseau I also disabled https://ci.eclipse.org/openj9/computer/osx1013-x86-3/ since there were a couple of failures on this machine.
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR/141/
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_OMR/138/

[2019-06-18 21:03] hangshao0 commented on #6022
I believe documentation change is required.

[2019-06-18 21:04] pshipton commented on #6167
I restarted Sat May 25th at 2:32pm.

[2019-06-18 21:08] amicic commented on #3743
The hint is always updated. Values will almost always be different. I have not done anything to test if there is a problem with excessive updates.
We could still try to reduce it, blindly. Perhaps update it if 1) it differs by some margin (>10%) or 2) with low probability (10%) even if within the margin. The latter is to ensure it's updated in very gradual run-to-run load change.

[2019-06-18 21:13] pshipton commented on #6119
@aguibert if it works on the RI, it should work the same for OpenJ9.

This doesn't give any extra permissions, the caller need to have the permissions to start with.

[2019-06-18 21:36] aguibert commented on #6119
Right, the caller needs permissions, but my point is that the caller _does_ have permissions.

For example, my code can do deep reflection or getting a non-java system property in a do-Priv, but it cannot use this Attach API even inside of a doPriv.

[2019-06-18 21:55] JasonFengJ9 commented on #6119
Just echo Pete's https://github.com/eclipse/openj9/issues/6119#issuecomment-503306737, if your code has these two permissions and the call to this attach API `VirtualMachine.attach` within an `AccessController.doPrivileged`, the user of your code (Liberty) doesn't require these permissions.

Note: since modularity era, not all JVM modules have all permissions like `java.base`, so `jdk.attach` migh

[2019-06-19 01:02] 15838028035 opened #6181 "how much max memory used tomcat default config ?"
Hi , i use java openjk8,  tomat 8,
use ps monitor  memory ,
tomcat8 memory up to 7GB

my server memory is 128GB

i don't config any jvm params
how much max memory used tomcat default config ?

[2019-06-19 02:19] ashbm5 commented on #5611
@DanHeidinga nearly done with the code, will likely open a PR tomorrow - didn't do any testing yet.

[2019-06-19 03:54] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_OMR/137

[2019-06-19 09:46] lostiniceland commented on #6140
Yes, the nightly build from 17. June 2019 works

[code]

[code]

Interesting, the "openjdk version" in the preview has the same version as the release version, but thats probably just not updated yet.

[2019-06-19 11:58] AdamBrousseau commented on #6167
I had removed the test label from it but Jenkins still scheduled a few jobs on it, which is odd. Re-enabled it and it seems to not be getting any test jobs now.

I updated the plugins yesterday (Monday June 17) around 9am.
This [windows test](https://ci.eclipse.org/openj9/view/Test_Functional_Personal/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Personal/57/) passed on machine 6 Monday a

[2019-06-19 13:16] pshipton commented on #5611
@ashbm5 reminder the code split occurs from Sunday night (June 23).

[2019-06-19 13:26] pshipton commented on #6146
Seems to be resolved now.

[2019-06-19 13:26] #6146 closed

[2019-06-19 13:27] pshipton commented on #6145
Seems to be resolved now.

[2019-06-19 13:27] #6145 closed

[2019-06-19 13:48] pshipton opened #6185 "jdk8 tnameserv doesn't run"
Java -version output
--------------------
[code]
Summary of problem
------------------

Running bin/tnameserv results in the following:
[code]

Expected output is like
[code]

[2019-06-19 13:48] DanHeidinga commented on #6140
I had forgotten that the docker images set `-XX:+IgnoreUnrecognizedVMOptions` by default :
 https://github.com/AdoptOpenJDK/openjdk-docker/blob/ce8b120411b131e283106ab89ea5921ebb1d1759/12/jdk/ubuntu/Dockerfile.openj9.releases.full#L60

Disabling that reproduces your results:
[code]

Thanks for confirming that the nightlies are good.  The next release will ship in mid-July and will include this fix

[2019-06-19 13:48] #6140 closed

[2019-06-19 14:29] JasonFengJ9 commented on #6185
Same `java.net.SocketException: Permission denied` from `RI build 1.8.0_201-b09` though.

[2019-06-19 15:45] #6034 closed

[2019-06-19 16:07] mpirvu commented on #6109
Thanks for all your input. Taking all the feedback into account the current strategy leans towards a modified version of Approach 1 above:

1) Protect JITaaS code to #ifdef. Create a configure/cmake option to enable the ifdef and compile-in the JITaaS code
2) Let the JITaaS code "bake" for a while. Ideally, this period of time should be short (~1 month) because of our plans around JITaaS (cannot s

[2019-06-19 16:22] NigelYiboYu commented on #6168
I didn't run dotty.

`page-rank`  and `reactor` didn't run on zLinux in my experience. I'll try `-Xmx4g` later.

[2019-06-19 16:32] JasonFengJ9 opened #6189 "latest_exclude_14.txt is required for Java Next tests"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_ppc64le_linux_OpenJDK/30/tapResults/

Optional info
-------------

New Java version 14

Failure output
--------------

[code]

[2019-06-19 16:36] fjeremic opened #6190 "Improve handling of TR_OptimizeForSpace and TR_DisableInlineCheckCast in common instanceof/checkcast infrastructure"
As part of a review in [1] we left a TODO to common up some logic when `TR_OptimizeForSpace` or `TR_DisableInlineCheckCast` options are active. On Power and Z where we use the common instanceof/checkcast infrastructure the decision of what to do when these options are enabled should be pushed up to the common level since we can handle them there.

That is, if either of the two options are enabled

[2019-06-19 16:50] fjeremic commented on #5702
@simonameng is currently testing this. I'll let her report back.

[2019-06-19 17:08] keithc-ca commented on #6124
Fixed via #6134.

[2019-06-19 17:08] #6124 closed

[2019-06-19 17:35] AdamBrousseau commented on #6167
Disconnected/reconnected the 3 machines and they all appear to be working again.
We still need to restart Jenkins at some point since the plugins were changed but I don't believe it is a huge rush anymore.

[2019-06-19 17:42] keithc-ca commented on #6109
About the only change I would suggest is that the configure option should check for protobuf and any other requirements; until it becomes a feature by default, it should not be enabled just because the build machine is capable of having it enabled (following the principle of least surprise).

[2019-06-19 17:45] pshipton commented on #6181
Is this a question about Hotspot, or OpenJ9?
OpenJ9 jdk8 uses a default -Xmx512m, see https://www.eclipse.org/openj9/docs/openj9_defaults/

[2019-06-19 17:45] #6181 closed

[2019-06-19 17:53] pshipton commented on #6119
Thanks for the reminder Jason. Indeed jdk.attach is not a `BOOT_MODULES`.

While lib/security/default.policy doesn't contain any default permissions for jdk.attach, the OpenJ9 implementation is not the same and obviously does require some permissions.

[2019-06-19 18:01] smlambert commented on #6168
Quick follow-up question, do openj9 defaults differ from hotspot / RI defaults?

reactor run on test-packet-ubuntu1604-x64-1, jdk8 with openj9: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1699

reactor run on same machine (test-packet-ubuntu1604-x64-1), jdk8 with hotspot :
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1702

[2019-06-19 18:06] pshipton commented on #3743
We shouldn't enable the feature by default until this has been resolved. Writing to the shared cache on every startup affects starting up multiple applications concurrently, as each JVM will serialize on the write to the cache.

[2019-06-19 18:07] pshipton commented on #6168
Yes, for jdk8 it is different. OpenJ9 jdk8 has the -Xmx512m hard limit for historical reasons, see #3475

[2019-06-19 18:10] amicic commented on #3743
A multiJVM test... I used a fairly simple workload (single threaded, very few classes and methods). Started 50 JVMs simultaneously, on a machine with 120 threads. GC thread and compilation thread count reduced to 2 and 1 respectively.
Measured average time to complete the tests as reported by Linux time command, in seconds.

4 group of tests, with 4-6 sequential runs within each group. Before each

[2019-06-19 18:22] hangshao0 commented on #3743
Might be the same issue as https://github.com/eclipse/openj9/issues/5918. Using `-Xshareclasses:noTimestampChecks` can workaround this issue.

[2019-06-19 18:25] amicic commented on #3743
@pshipton I understand the concern. There might be a real problem, but I'm reluctant to add additional logic before observing a problem and proving the logic helps. If you or somebody else can try to create a problem with their own scenarios, I'm more than willing to investigate...

[2019-06-19 18:43] pshipton commented on #3743
@amicic based on the results in https://github.com/eclipse/openj9/issues/3743#issuecomment-503670540, I agree it seems fine as-is. What platform did you test on?

[2019-06-19 18:45] pshipton commented on #3743
@amicic do you agree to enable `-XX:+UseGCStartupHints` by default next week after the branch for the 0.15 release?

[2019-06-19 19:20] pshipton commented on #5156
https://github.com/eclipse/openj9-docs/issues/295

[2019-06-19 19:23] pshipton commented on #6139
I believe this has been fixed.

[2019-06-19 19:23] #6139 closed

[2019-06-19 20:28] DanHeidinga commented on #5831
We would be branching ~Aug 26 for the `0.16.0` release and would need some time for this to "bake" before turning it on.

My preference is to turn it on immediately after branching for `0.15.0` and work on any perf regressions in parallel with any other issues that may arise.  This gives us the longest time to validate this change.

[2019-06-19 21:32] RSalman commented on #6060
### Startup and Footprint Performance (Liberty Benchmark)
<table>
    <thead>
        <tr>
            <th colspan='3'>Setup</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Platform</b></td>
            <td>xa</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td><b>JDK Options</b></td>
             <td>-Xmx256m -Xcompressedrefs</td>
        </tr>

[2019-06-19 22:41] #4542 closed

[2019-06-19 23:37] 0xdaryl opened #6198 "Fix typo in z/codegen/J9TreeEvaluator.cpp"
Fix spelling of "Instruction" in `compareAndTrapInsturction` variable name.

https://github.com/eclipse/openj9/blob/5353bc9bb5bfdf13f2cc77941ff1c458d25c52d9/runtime/compiler/z/codegen/J9TreeEvaluator.cpp#L2456

[2019-06-20 00:03] 0xdaryl commented on #5455
Quad recognized methods (hopefully not required for long!)

[2019-06-20 01:50] #6198 closed

[2019-06-20 03:26] DanHeidinga opened #6200 "J9MONITORTABLE_OBJECT_LOAD macros have unnecessary duplicate check"
There are duplicate checks in these macros that can be made more efficient:
https://github.com/eclipse/openj9/blob/2673d23e5c7525b80254356df1635565f1642ef0/runtime/oti/j9accessbarrier.h#L600-L612

I don't recall if there was a reason to have the extra check in these macros.

ie:
[code]

[2019-06-20 03:36] DanHeidinga commented on #6200
@amicic @dmitripivkine Do you recall if there was a reason for the second check?  The macros could be simplified to:

[code]

[2019-06-20 03:42] pshipton opened #6201 "Update references repos Out of memory on AIX"
https://ci.eclipse.org/openj9/job/Update-Reference-Repos/264
[code]

[2019-06-20 03:42] pshipton commented on #6201
@AdamBrousseau

[2019-06-20 03:44] pshipton opened #6202 "Add jdk13 to references repos"
@AdamBrousseau

[2019-06-20 03:45] amicic commented on #6200
You are racing with this PR :)
https://github.com/eclipse/openj9/pull/6164#discussion_r295016207

[2019-06-20 04:36] DanHeidinga commented on #6200
Closing this as it's being addressed in #6164 (comment)

[2019-06-20 04:36] #6200 closed

[2019-06-20 08:18] groeges commented on #5530
@mvdobrinin I have raised a new issue here https://github.com/ibmruntimes/openj9-openjdk-jdk11/issues/192 in order to track the issue with the error message being displayed and the upstream contribution to OpenJDK. Any issues accessing this issue please let me know.

[2019-06-20 08:43] akrus commented on #4769
@amicic, I can confirm that fix works well and there is no noticeable increase in GC pause times even with default (64k) region size. I'll try increasing to 128k to check if there is any difference. But I think this bug report can be closed as #5615 is there.

[2019-06-20 12:00] pshipton commented on #5611
Doesn't seem like the fix will be ready in time. Moving to the 0.16 milestone and disabling MessageDigest for now (https://github.com/eclipse/openj9/issues/5611#issuecomment-503295467).

[2019-06-20 12:30] pshipton commented on #54
@babsingh please create the doc issue to update the release notes, and then we can close this.

[2019-06-20 12:31] pshipton commented on #6167
Problem no longer seems to occur. Note Jenkins was restarted last night.

[2019-06-20 12:31] #6167 closed

[2019-06-20 12:59] #4769 closed

[2019-06-20 13:44] mpirvu commented on #6109
Agreed

[2019-06-20 13:44] #6109 closed

[2019-06-20 14:12] mpirvu opened #6203 "Deciding on a replacing name for JITaaS"
@mstoodle  brought to my attention that `JITaaS` can be easily mispronounced and therefore we need to find a better name. This issue serves as a discussion forum for coming up with a replacement.

Currently, `JITaaS` is used in:
1) Filenames. E.g.: JITaaSCompilationThread.cpp, JITaaSPersistentCHTable.cpp
2) Namespaces
3) Data structures. E.g.: JITaaSHelpers, JITaaSPersistentClassInfo, JITaaSIProfi

[2019-06-20 14:29] cathyzhyi opened #6204 "See through MethodHandle chain without peeking"
Currently, methodhandle chain ares inlined through peeking see https://github.com/eclipse/openj9/pull/6173. Peeking will cost memory and compilation time and is quite expensive for the purpose of finding call sites for a thunk archetype, which is usually a very simple method and has unique pattern that we can exploit. We should instead do an interpreter emulator to propagate the known method handl

[2019-06-20 14:29] fjeremic commented on #6203
- :+1: for JITService (with proper camel-casing of "Service") as it's simple and understandable
- :-1: for JITsrvc, JITserv as the abbreviations do not add any value to me
- :-1: for OopJIT as "OOP" conflicts with Object Oriented Programming

[2019-06-20 14:30] mpirvu commented on #5831
I agree

[2019-06-20 14:40] mpirvu commented on #6084
Since the return value of `getAndCacheRAMClassInfo()` is currently not used anywhere we could easily make that modification.

[2019-06-20 15:57] babsingh opened #6207 "Update release notes related to "Signal Handling""
[0.14 Release Notes](https://github.com/eclipse/openj9/blob/master/doc/release-notes/0.14/0.14.md)

In the above release notes, the following issue is reported:

Issue number | Description | Platform | Impact | Workaround
-- | -- | -- | -- | --
#54 | Signal handling | All platforms | Currently, shutdown signals (SIGINT, SIGHUP and SIGTERM) and SIGCONT are fully supported on Unix platforms (pLinux,

[2019-06-20 15:57] babsingh commented on #6207
fyi @SueChaplain @pshipton

[2019-06-20 16:29] pshipton commented on #6207
Please create this at https://github.com/eclipse/openj9-docs

[2019-06-20 17:21] babsingh commented on #6207
Created issue in https://github.com/eclipse/openj9-docs: https://github.com/eclipse/openj9-docs/issues/296. Closing this issue.

[2019-06-20 17:21] #6207 closed

[2019-06-20 17:22] tajila opened #6213 "Question: Are static object barriers required for setting module objects"

[2019-06-20 17:22] tajila opened #6214 "Question: Are static object barriers required for setting J9Module object fields"
In java11vmi.c:

[code]

Do we need to use `J9STATIC_OBJECT_STORE` when assigning `moduleObject` to `j9mod->moduleObject` ?

Similar question for `j9mod->moduleName = moduleName;` and  `fromModule->version = J9_JNI_UNWRAP_REFERENCE(version);`

[2019-06-20 17:27] tajila commented on #6214
@amicic @JasonFengJ9 ^^^

[2019-06-20 17:43] dsouzai commented on #6203
Could we just do CaaS (Compiler as a Service)?

[2019-06-20 18:16] r30shah opened #6216 "Refactor Shared Class Cache code for storing AOT Code"
As part of [this](https://github.com/eclipse/openj9/pull/5926)  we added a feature to JIT to compress the data (meta data + code data) each method before storing it into the shared class cache.
When we write data for a method into shared class cache it calls following function,
https://github.com/eclipse/openj9/blob/b44844b02466ddf195eb9d8d6587ed89374a5f2a/runtime/shared_common/CompiledMethodManag

[2019-06-20 18:17] r30shah commented on #6216
FYI @fjeremic @dsouzai

[2019-06-20 18:21] caohaley commented on #6084
Okay sounds good, I will make that change.

[2019-06-20 18:25] JasonFengJ9 commented on #6214
This could be the cause of `Segmentation error vmState=0x0002000f` discovered in an internal test if GC indeed moved `moduleObject` without updating `j9mod->moduleObject`.

[2019-06-20 18:28] smlambert commented on #6203
JITAAS also used as a possible TEST_FLAG value (to create a server, to enable testing of this service/feature).
<img width="390" alt="Screen Shot 2019-06-20 at 8 26 42 PM" src="https://user-images.githubusercontent.com/2836948/59872380-e43d1b00-9399-11e9-90cf-d993767d0b5c.png">

[2019-06-20 18:28] amicic commented on #6214
Yes, they are required.

[2019-06-20 18:28] #6202 closed

[2019-06-20 19:51] amicic commented on #6214
Let me elaborate a little....

Everything that is not hard root (initial set of object references that determine live object graph/set), in general, will requires object access barrier. I'm not going to elaborate why (depends somewhat on stay of GC).

Hard roots as minimum are Thread slots and Thread stack slots.

Classes are generally not hard roots. Their own liveness is determined by existence

[2019-06-20 21:25] sogutbera commented on #5665
The solution using `HostClassName$$Lambda$0/00000000` doesn't work because the class file size doesn't change when I change the class name so for example if the same class has the name HostClassName$$Lambda$12 in one run and HostClassName$$Lambda$9 in another run they don't match because even though I have replaced the numbers with 0, the class file sizes remains the same. So I am going back to th

[2019-06-20 21:40] pshipton commented on #3422
Reminder the code split for 0.15 happens on Sunday.

[2019-06-20 21:47] pshipton commented on #6106
@adam

[2019-06-20 21:47] pshipton commented on #6106
@AdamBrousseau

[2019-06-20 21:50] AdamBrousseau commented on #6106
Workspace Cleanup Plugin
https://jenkins.io/doc/pipeline/steps/ws-cleanup/

[2019-06-20 22:01] #6106 closed

[2019-06-20 23:18] pshipton opened #6221 "jdmpview help refers to dtfjview"
See https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/314

[2019-06-21 02:57] LiYing2010 opened #6225 "`MalformedParametersException` when I add a breakpoint inside a Bean creator method which has parameter"
Java -version output
--------------------
[code]

Summary of problem
------------------
I am using `OpenJDK11 with OpenJ9 JVM` on a Mac Book,
when I start my Java App (using Spring Boot), I get a `MalformedParametersException: Invalid parameter name ""` error.

I traced into source code of Spring and JDK itself, looks like Spring try to get the parameter name of method before it invoke it to creat

[2019-06-21 12:38] andrewcraik commented on #6203
- 👍 JITService (with proper camel-casing)
- 👎 OopJIT (OOP was too overloaded and not intuitive)
- 👎 JITsrvc and JITserv - abbreviations are not helpful
Could also go for JITServer

[2019-06-21 12:46] charliegracie commented on #6203
I like `JITServer` for the server part... A client that wants to connect to a JIT Service could issue a command line `-XX:+UseJitServer` or `-XX:+UseJitCompiliationServer` but the second one is quite long.

[2019-06-21 13:17] andrewcraik commented on #6114
@pshipton thanks for the technical discussion about where the info could show up. I would be fine with a new option. Ideally we could add the new option and -version together if we want full details. Main use case is just to be able to verify the information before doing performance runs or when configuring new systems/containers.

[2019-06-21 13:23] pshipton commented on #6225
@gacholio @andrewcraik

[2019-06-21 13:36] #5418 closed

[2019-06-21 13:37] pshipton commented on #4985
Moving out as it won't make 0.15

[2019-06-21 13:38] pshipton commented on #5665
Moving out as it won't make 0.15

[2019-06-21 13:39] pshipton commented on #5381
@DanHeidinga mentioned he isn't convinced there should be output going to STDOUT by defaut, I expect he will comment. Regardless, nothing is going to happen in the 0.15 release.

[2019-06-21 13:51] charliegracie commented on #5381
From my understanding the OpenJ9 javacore provides significantly more data than the HotSpot one. @avermeer is my assumption correct?

A solution may be to provide an easy way for applications like Tomcat to redirect ALL dump logs to the appropriate log folder with a very simple command line option that controls all dump agents. This may or may not exist already.

Maybe OpenJ9 needs a new dump agen

[2019-06-21 14:18] mpirvu commented on #6203
For what is worth I prefer abbreviations because long names make long lines which are harder to read. This is probably the reason ClassHierarchyTable is just `CHTable` and Testarossa is just `TR` (Testarossa_PersistentClassHierarchyTable is quite a name).
For that reason I second the `CaaS` proposal.

[2019-06-21 14:37] charliegracie commented on #6203
That is what code assist or completion or whatever you IDE calls it is for. Abbreviations make typing things simpler but make reading and understanding the code much more difficult, especially for new people to the code base. It is similar to using `aa` for a local variable name. Does that stand for archiveAnalyzer or just the 27th local?

I am fine with using the word Compiler instead of JIT (alt

[2019-06-21 14:56] gacholio commented on #6225
https://github.com/eclipse/openj9/blob/6887baea4c98f2820f42071c29de5f7a7ce31642/runtime/jvmti/jvmtiHelpers.c#L973

This is the code which breakpoints a method - it's not copying the method parameter data (the comment indicates that queries should be using the original ROM method).

[2019-06-21 14:57] gacholio commented on #6225
The fix is likely to call getOriginalROMMethod in more places in the query code (mthutil.c).

[2019-06-21 15:03] 0xdaryl opened #6226 "Creating separate architecture labels for PR/issue classification"
Committers,

I would like to propose separating the architecture from the JIT component labels.  That is, having just a `comp:jit` label and introducing a series of architecture labels:
[code]
GitHub doesn't allow you to do a regex search on labels, so when someone wants to find all PRs/issues relating to the `comp:jit` they have to specify each `comp:jit:<arch>` label.

Having a separate architec

[2019-06-21 15:37] mpirvu commented on #6203
With JITaaS, it's not about spelling, but about pronunciation. People tend to pronounce it as two syllables JIT-aas, the second syllable being the offending one. With CaaS it's just one syllable. It's the same as with PaaS, IaaS, SaaS, etc.

Heh, I just received an email saying: 'This is to inform you that your on-premises server has been activated in Security as a Service (SECaaS).'

[2019-06-21 15:51] avermeer opened #6228 "OpenJ9 super-slow with libasan (address santizer) versus HotSpot"
Hello,

We tried to move our C++ test tools based on ASAN (see https://en.wikipedia.org/wiki/AddressSanitizer for background on this tools) to detect memory leaks/freed memory pointers/etc from Hotspot Java to OpenJ9 Java.

We have JNI code, therefore we need to provide a Java Runtime to our test factory.

When we switched this Java Runtime dependency from AdoptOpenJDK 11 based on HotSpot to Adopt

[2019-06-21 15:59] fjeremic commented on #6226
Relevant Slack discussion [1] did not get much traction at the time. Hope we get more visibility now. I'm a huge proponent to this as it makes searching for platform/component much easier. For example #6177 was a z/OS only bug which occurs on Z. There is currently no way for me to filter all issues/PRs related to only z/OS. Best I can do is filter to `comp:jit && comp:jit:z` and manually start loo

[2019-06-21 16:00] JasonFengJ9 commented on #6119
This permission is required in custom policy file as well.

[2019-06-21 16:00] #6221 closed

[2019-06-21 16:06] avermeer commented on #5381
Hello,

   Let me remind that I have no problem that OpenJ9 can provide more details in its way to dump java cores, but that the goal of this issue is about consistency of behavior between OpenJ9 vs HotSpot, so as to ease transition for newcomers.

   The fact is that I got feedback from developers that not finding the java core dump at usual place (ie. in catalina.out) was an hassle for them.

[2019-06-21 16:34] avermeer commented on #6060
Hello @RSalman,

I have the feeling that we had an application having inefficient CG and indeed having big structure as you decribe.

In a PCS test we experienced very long GC pauses (up to 9s) with OpenJ9 vs. HotSpot.
We tried Metronome, which avoided the long GC pauses, but still we got worse performance with OpenJ9 vs. HotSpot.

Is there a way we could test your improvement for deep structures

[2019-06-21 16:47] amicic commented on #6060
@avermeer The changes are not yet it, and probably will not be in the coming (0.15) release, but should be in nightly builds in a week or so. We can let you know when it's available.

Meanwhile, feel free to send us verbose GC logs, ideally with -Xtgc:parallel,file=tgc.log logs to examine. There could be various sources of long delays, unrelated to deep structure tracing.

[2019-06-21 17:10] pshipton commented on #5381
I suggested this in https://github.com/eclipse/openj9/issues/5381#issuecomment-491428010. Not sure yet if Dan agrees, waiting for his comment.

[2019-06-21 17:19] avermeer commented on #6060
@amicic thank you very much for the suggested GC log option. I checked, and this Xtgc:parallel,file=tgc.log is not supported by HotSpot, which is too bad because I won't be able to do comparisons.
  Is there an HotSpot option which could provide similar output so that a meaningful comparison of my PCS scenario between OpenJ9 vs HotSpot could be done?

Kind regards,
Alexandre Vermeerbergen

[2019-06-21 17:23] pshipton commented on #6228
Please try
- setting the https://www.eclipse.org/openj9/docs/xgc/#preferredheapbase
- or the XL (large heap) build.

I suspect the slowness is due to the code that searches for an appropriate place to put the compressedrefs object heap.

[2019-06-21 17:25] amicic commented on #6060
Correct, -Xtgc options are J9 specific. They are just additional logs that may help with debugging various pause related problem. I'm not aware of similar HotSpot option, but we don't really need them. I'm looking just for J9 verbose GC and TGC logs . If you accompany them with HotSpot verbose GC logs it could be also useful.

I suggest you create a separate Issue for this to not pollute this desi

[2019-06-21 17:30] pshipton commented on #6225
Tentatively assigned to 0.15, just in case we have a fix ready next week that can go in.

[2019-06-21 17:31] pshipton commented on #6228
@mpirvu

[2019-06-21 18:19] mpirvu commented on #6228
I can reproduce the issue even with -Xint and linux profiler shows the following distribution of ticks:
[code]
This confirms Peter's suspicion.
On my machine I have 16GB of RAM and using no -Xmx option the JVM wants to allocate a 4GB heap. If I specify a smaller heap with -Xmx1G, then the problem does not occur:
[code]
Not exporting `LD_PRELOAD=/usr/lib64/libasan.so.5` also makes the problem go aw

[2019-06-21 18:20] pdbain-ibm commented on #6119
Need (at least) in `default.policy`:
[code]
and need to wrap initialization  of `OpenJ9VirtualMachine`'s timeout fields in `doPrivileged`.

Users would also need to add ` com.sun.tools.attach.AttachPermission "createAttachProvider";`.  Note that this is the case also for the reference implementation.

[2019-06-21 18:36] pshipton commented on #6228
Using `-Xgc:preferredHeapBase=0x10000000` also is much faster.

[2019-06-21 18:54] dmitripivkine opened #6231 "jdmpview does not extend some classes information properly"
There is number of classes in the blob where information about superclass is lost. For example:
[code]
This output contains slots for `MM_EnvironmentStandard` only (but keeps correct offset somehow). The superclass for `MM_EnvironmentStandard` is `MM_EnvironmentBase` but reference to it is lost in a blob.

Another example is:
[code]
The superclass reference to `MM_MemorySubSpace` is lost

This pro

[2019-06-21 18:56] dmitripivkine commented on #6231
FYI @keithc-ca @jason-hall

[2019-06-21 19:02] keithc-ca commented on #6231
We may need to resort to using `-femit-class-debug-always` globally (for gcc).

[2019-06-21 19:04] pdbain-ibm commented on #6119
[looper.java.txt](https://github.com/eclipse/openj9/files/3315709/looper.java.txt)
[props.java.txt](https://github.com/eclipse/openj9/files/3315710/props.java.txt)

My test case uses the attached files.  Launch the target (`looper`):
[code]
and test attaching via:
[code]
My (rough and ready) modifications are at https://github.com/pdbain-ibm/openj9/tree/attach_security

[2019-06-21 19:21] JasonFengJ9 commented on #6119
These appear too much permissions. Can the code be wrapped by limited doPrivileges and defer the permission granting to the application (Liberty) instead?
`RI` doesn't seem requires these permissions (`createAttachProvider` and `attachVirtualMachine` are needed though). Any justification for `OpenJ9` to request more permissions?

[2019-06-21 19:55] pshipton commented on #6119
The application should only have to grant `createAttachProvider` and `attachVirtualMachine`. We could use limited doPrivilege, but I'm not yet convinced this is necessary.

I expect because the implementation is different.

[2019-06-21 19:56] pshipton commented on #6119
I don't think it can be more specific since there are system properties that allow the default locations to be modified.

[2019-06-21 20:53] pshipton commented on #6185
Seems unlikely to get resolved for 0.15, I'm moving this out.

[2019-06-21 20:54] pshipton commented on #4005
I don't think anybody is looking at this intermittent failure yet. It's not a regression from the last release, moving out.

[2019-06-21 20:56] AlenBadel commented on #3422
Watched Fields implementation has been requested here:
https://github.com/eclipse/omr/pull/4068
https://github.com/eclipse/openj9/pull/6234

[2019-06-21 20:57] pshipton commented on #5961
I don't expect this will be resolved in the 0.15 release, moving forward.

@phelgren is there any update from Liferay?

[2019-06-22 00:12] #5815 closed

[2019-06-22 00:47] 15838028035 opened #6235 "how do you delete unused docker images from docker nexus3 repo"
HI, i use jenkins , run nexus3 as docker images pro, there are many unused docker images,
how do you delete unused docker images from docker nexus3 repo?
cloud you help me ?
have you used nexus3 as docker images repo ?

[2019-06-22 17:12] pshipton opened #6236 "Test_openjdk8_j9_sanity.system_ppc64le_linux MauveMultiThreadLoadTest_OpenJ9_0 Date.range (number 5)"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly/70/
MauveMultiThreadLoadTest_OpenJ9_0
[code]
[code]

[2019-06-22 17:22] pshipton opened #6238 "Test_openjdk12_j9_extended.system_ppc64_aix SharedClassesAPI_0"
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.system_ppc64_aix_Nightly/66
SharedClassesAPI_0
[code]

[2019-06-22 17:23] pshipton commented on #6238
[systemtest_test_output (39).tar.gz](https://github.com/eclipse/openj9/files/3317067/systemtest_test_output.39.tar.gz)

[2019-06-22 17:26] pshipton opened #6239 "j9_extended.functional_x86-64_mac DDR No JRE"
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.functional_x86-64_mac_Nightly/68
osx1011-x86-1
cmdLineTester_shrcdbgddrext_1
[code]

[2019-06-23 04:00] DanHeidinga commented on #6235
Sorry, that isn't something we can help with.  Try StackOverflow or the Nexus community support

[2019-06-23 04:00] #6235 closed

[2019-06-23 18:51] gacholio commented on #6225
I have so far been unable to reproduce this problem with a trivial debug test case.

[2019-06-23 19:48] xasx commented on #6203
Quickly check for CaaS already being in use for Container as a Service

https://duckduckgo.com/?q=container+as+a+service

Although it is not that widespread, a handful of people might get confused.

[2019-06-23 20:08] pshipton commented on #6239
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly/70

[2019-06-23 20:15] pshipton opened #6243 "AIX fails to compile DDR"
https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64_aix_Nightly/76/
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64_aix_Nightly/71/
https://ci.eclipse.org/openj9/job/Build_JDK12_ppc64_aix_Nightly/71/
[code]

Changes since last working build
https://github.com/eclipse/openj9/compare/f144c6f...5e4a26d

[2019-06-23 20:16] pshipton commented on #6243
@gacholio

[2019-06-23 20:22] gacholio commented on #6243
@keithc-ca Any idea what's wrong here? I didn't delete the classes in question, but I may have used all active uses from the code. Would this be fixed by updating `vmddr.cpp`?

[2019-06-23 21:38] gacholio commented on #6243
Yep, seemed to work.

[2019-06-23 21:52] #6243 closed

[2019-06-24 03:43] dsouzai commented on #6226
I have no objections. However, the only other `comp:jit:*` that'll remain after this would be `comp:jit:aot`. Do you think it's better to leave that as is (in order to open up the possibility of something like `comp:jit:<feature>`) or rename the AOT tag?

[2019-06-24 04:23] LiYing2010 commented on #6225
hi @gacholio:

Sorry, I forgot to tell you, this error happens to me, every time, 100% reproducible,
but not happen to my colleague using same version of openj9 JVM.
Maybe there is something related to my hardware or something else.
and also, sometime openj9 JVM crash on my mac, I will send diagnostic files if I can reproduce it.

[2019-06-24 12:20] pshipton opened #6248 "Test_openjdk12_j9_extended.system_s390x_linux MathLoadTest JIT crash"
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.system_s390x_linux_Nightly/71
MathLoadTest_all_0
[code]

[2019-06-24 12:21] pshipton commented on #6248
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_s390x_linux_Nightly/71
MathLoadTest_bigdecimal_ConcurrentScavenge_0
[code]

[2019-06-24 12:24] pshipton commented on #6248
Changes since previous build

https://github.com/eclipse/openj9/compare/5e4a26d...fde4c80

@fjeremic

[2019-06-24 12:31] pshipton opened #6249 "Test_openjdk11_j9_sanity.system_ppc64_aix JlinkTest_RequiredMod_0 T2 timed out"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_ppc64_aix_Nightly/68
[code]

[2019-06-24 13:21] andrew-m-leonard commented on #6035
I've run these tests against Hotspot on the hyc-runtimes osx 10.14 machines and it fails the same. I think it is a infrastructure setup issue. @pshipton

[2019-06-24 13:44] mpirvu commented on #6203
That's unfortunate, but not entirely surprising as by now almost every letter of the alphabet is taken. Even Anything-as-a-service exists: `XaaS`

[2019-06-24 13:47] pshipton commented on #6035
@smlambert fyi the previous comment wrt the AQA labe.

[2019-06-24 14:11] fjeremic commented on #6226
Or just `comp:aot`?

[2019-06-24 14:32] pshipton commented on #6225
Since we can't reproduce the problem and don't have any diagnostics it seems unlikely to be resolved in the 0.15 release. Moving it out.

[2019-06-24 14:47] fjeremic commented on #6248
I don't see anything obvious in the diff. Could also be some OMR change as well. I'll try to take a look at this by EOD.

[2019-06-24 15:45] pshipton commented on #6248
OMR didn't change between the builds. Could be a latent intermittent issue then, and we got unlucky to get two failures in the same build.

[2019-06-24 16:11] IvanHargreaves opened #6252 "-Xdump documentation is incorrect"
The documentation in the IBM Java Knowledge Center for -Xdump is incorrect:

1) https://www.ibm.com/support/knowledgecenter/SSYKE2_8.0.0/openj9/xdump/index.html#parameters
Scroll down to the File location table, and it says both System dumps and JIT dumps are controlled by the JAVA_DUMP_TDUMP_PATTERN.

The JIT dump output (like Java, Heap, Snap) is controlled by _CEE_DMPTARG and not JAVA_DUMP_TDUM

[2019-06-24 16:24] IvanHargreaves opened #6253 "-Xdump agent for CEEDUMP location information is incorrect"
When configuring an -Xdump CEEDUMP agent, the location of the dump produced does not respect the documented parameters.

The -Xdump agent reports it will write the CEEDUMP to a DSN specified by the JAVA_DUMP_TDUMP_PATTERN (if configured). The dumping process reports it is writing a CEEDUMP to zFS specified by the _CEE_DMPTARG settings (if configured). However both the reported locations are wrong

[2019-06-24 16:35] IvanHargreaves opened #6254 "-Xdump agent token for %uid is always uppercase"
When setting a default Java system dump location using the _CEE_DMPTARG  environment variable. Using the symbol %uid results in a z/OS userid substitution. However that userid is uppercased (IVANH in my case) which fails to write at the z/FS intended location because my matching USS (z/FS) segment is lowercase "/u/ivanh". USS is case-sensitive and so the JVM failed to write dumps to the non-existe

[2019-06-24 17:37] efferifick opened #6255 "Contributing an experimental inliner"
Hello,

My name is Erick and I've been working with @andrewcraik on an experimental inliner. The inliner is closed source at the moment and we would like to contribute it soon. We have already submitted a [couple](https://github.com/eclipse/openj9/pull/6141) [of](https://github.com/eclipse/omr/pull/4022) [PRs](https://github.com/eclipse/omr/pull/3971), however more will be coming soon.

So, why wo

[2019-06-24 17:44] amicic commented on #5615
hi @akrus, do you still see these types of delays after https://github.com/eclipse/openj9/issues/4769#issuecomment-497743809? If you are not sure how to identify them, you can just send me logs.

[2019-06-24 18:38] gacholio commented on #6225
From what I can see, calling `Executeable.getParameters` calls `JVM_GetMethodParameters_Impl` which calls `getMethodParametersAsArray` which always seems to return `NULL` in my testing.

I'm not sure how to get a method parameter attribute into the class file - annotating the method arguments (with `@Deprecated` for simplicity in my test) did not seem to produce the attribute block (I compiled the

[2019-06-24 18:45] theresa-m commented on #5822
I can pick this up.

[2019-06-24 18:58] pshipton commented on #6225
@gacholio Did you set the following on the annotation class?
[code]

[2019-06-24 19:05] gita-omr opened #6256 "Implement AOT support with Field Watch on Power"
Currently, Field Watch  is not supported in AOT mode on all platforms. Some platforms implemented code for it, however Power has known limitations and support is not complete.

Not that this is not very high priority, see https://github.com/eclipse/openj9/issues/2668#issuecomment-494520512

[2019-06-24 19:50] AlenBadel commented on #2668
Due to the addressing constraints of Power, we need to make a small change to `generateTestAndReportFieldWatchInstructions` and `generateFillInDataBlockSequenceForUnresolvedField`. To avoid loading the address of the snippet twice, an additional optional parameter to these two methods has been added. This will allow Power to only load the address of the snippet once, either in the Unresolved Seque

[2019-06-24 20:05] AlenBadel opened #6260 "Utilise generateLoadJ9Class on Power"
Currently on Power we reuse very similar code to load the j9class from the offset of the ObjectVftField inside the object.
Instead of reproducing code, we can rather utilise generateLoadJ9Class to reduce code complexity.
This will increase the maintainability and reuse-ability of this routine.

[2019-06-24 20:07] gacholio commented on #6225
No - I used the standard `@Deprecated`, which is runtime retention.

[2019-06-24 20:18] pshipton commented on #6225
I'd try making a new annotation like https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/test/functional/Java8andUp/src/org/openj9/test/annotation/MethodAnnotation.java

[2019-06-24 20:32] pshipton commented on #6252
Opened https://github.com/eclipse/openj9-docs/issues/299

[2019-06-24 20:32] #6252 closed

[2019-06-24 20:51] 0xdaryl commented on #6226
I'm actually fine with `comp:jit:aot` as long as there is also a `comp:jit` label used as well.  Even if you had a separate label for `comp:aot` you probably should use a `comp:jit` as well to make it easier to query for JIT features.  Calling it `comp:jit:aot` at least provides some attribution of the AOT feature to the JIT component (as opposed to some other top-level component).  I'm not sure w

[2019-06-24 20:54] 0xdaryl commented on #6226
In the absence of any dissenting opinions, I will create the independent architecture labels and remove them from the JIT component label, and then fix up past issues/PRs.  I will also create OS and bitness tags as well.  Thanks for your input.  I'll close when this is done.

[2019-06-24 22:02] fjeremic commented on #6248
Tried to reproduce this locally on my z14 Docker container but I'm unable to see a reproduction. It seems like an intermittent problem. I'll have to work off the Grinders instead and take a look at the core file to see if we can spot what the problem is.

[2019-06-24 23:42] 0xdaryl commented on #6226
I created the following labels:
[code]
And removed the following:
[code]
All issues and PRs (open and closed) that used the `comp:jit:<arch>` style have been converted to the new style (i.e., `comp:jit` `arch:<arch>`)  Please use this style for future classification of JIT issues and PRs.

@fjeremic @andrewcraik @gita-omr @ymanton @mpirvu @dsouzai @mstoodle @vijaysun-omr @zl-wang @knn-k

[2019-06-24 23:42] #6226 closed

[2019-06-24 23:51] 0xdaryl commented on #6248
@R-Santhir : perhaps this is a good non-x86 test for the parallel grinders feature.  I'm sure it will save Filip some time.

[2019-06-25 02:05] DanHeidinga commented on #6226
Thanks @0xdaryl.  I think this is a big improvement and generally useful across all components / issues

[2019-06-25 06:28] akrus commented on #5615
@amicic, I think it's still here:
[code]

Sent the logs.

[2019-06-25 10:08] ShishirH commented on #5374
@ashu-mehra @DanHeidinga While the heuristics added would allow more efficient memory release in a default use case, because we are not documenting the options to control the heuristics, there would be no way of always doing compact if the user wants to do so, once the option `XX:IdleTuningCompactOnIdle` is deprecated, and removed in the future.

For such a use case, it might make sense to keep `X

[2019-06-25 11:54] pshipton commented on #6248
Another one
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_s390x_linux_Nightly/72

This has to be caused by a recent change.

[2019-06-25 12:40] DanHeidinga commented on #5374
Deprecating the option doesn't prevent users from using it and signals our intention that it's unnecessary given the heuristics that have been put in place.

If users find it's necessary to set it explicitly, then we can easily un-deprecate it.

[2019-06-25 12:40] #5374 closed

[2019-06-25 12:51] 0xdaryl opened #6265 "Provide common implementation of AheadOfTimeCompile::processRelocations"
Each code generator provides their own version of `AheadOfTimeCompile::processRelocations` whose logic is nearly identical.  This code should be refactored such that all backends share a single implementation.

[2019-06-25 13:15] DanHeidinga commented on #6255
@efferifick (and @andrewcraik) this sounds amazing!  It'll be great to see these kinds of improvements and experiments land in OpenJ9.

Can you expand a bit on how the inliner will be brought into the project?  Is it intended to be `#ifdef`d and a compile time option to start with?

If it's runtime enabled, are there are additional footprint / performance costs to including it?

I expect you and A

[2019-06-25 14:04] fjeremic commented on #6248
@R-Santhir I can definitely be a tester for this feature. Catch me on Slack whenever you can to explain how to run parallel and we can give it a shot. I'm going to work on this using existing Grinders in the mean time.

[2019-06-25 14:15] DanHeidinga commented on #6203
I second @charliegracie's comment.  A term like `JITServer` or `OffLoadCompile` would be my preference as they describe the functionality and avoid having to decode acronyms.

[2019-06-25 14:18] dsouzai commented on #6265
This is what https://github.com/eclipse/openj9/issues/4803 is attempting to address :) There's already been some work on this front in terms of the writing of the relo headers.

[2019-06-25 14:28] amicic commented on #5615
Ok, not surprised. Felt like a different problem from the first look. I'm yet to think how to tackle this - probably introduce some new trace logs to narrow down the scope....

[2019-06-25 14:35] charliegracie commented on #6228
@pshipton and @mpirvu  you can reproduce this? Only on CentOS machines?

[2019-06-25 14:36] amicic commented on #5374
I believe setting gcOnIdleCompactThreshold to 0 would effectively give you IdleTuningCompactOnIdle  behaviour.

[2019-06-25 14:39] fjeremic commented on #6203
I think `JITServer` is also good given all the information here.

[2019-06-25 14:48] pshipton commented on #6228
Yes, I was able to reproduce it. I created a CentOS 7.5 machine, used yum to install the libasan5 package. Then `export LD_PRELOAD=/usr/lib64/libasan.so.5` and run java

[2019-06-25 14:54] aguibert commented on #6119
hi @JasonFengJ9, regarding your question on granting `<<ALL FILES>>` file perms, it is because the OpenJ9 attacher creates, reads, and deletes a random temp file like this:
[code]

[2019-06-25 15:08] dmitripivkine commented on #6228
@charliegracie has a theory: OMRPORT_VMEM_ALLOC_QUICK (search in process map file for suitable memory range) does not work in this case somehow... We are going to investigate.

[2019-06-25 15:15] pshipton commented on #6228
I thought I'd give it a try on Ubuntu 16 as well, but while libasan reported leaks, the same slowdown didn't occur.
[code]

[2019-06-25 15:21] sophia-guo opened #6266 "JTReg Test Failure - java/net/NetworkInterface/IPv4Only.java fails with jdk8 on AIX"
Failure link
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_ppc64_aix/69/testReport/junit/java_net_NetworkInterface_IPv4Only/java/IPv4Only/

Optional info
-------------

- intermittent failure (yes|no): no

Failure output
--------------

[code]

[2019-06-25 15:27] DanHeidinga commented on #6266
@sophia-guo This looks like a setup / config issue as the main method is `IPv4Only.main(IPv4Only.java:46)` and it's reporting it found an IPv6 address.

[2019-06-25 15:32] #5822 closed

[2019-06-25 15:44] AdamBrousseau commented on #4024
Can this be closed? It is working as expected. If you have pipeline changes you must launch your PR from OpenJ9 and depend on your ext change.

[2019-06-25 15:45] AdamBrousseau commented on #2701
Can this be closed? I assume its pretty obsolete now. Me may want to revisit under a new issue?

[2019-06-25 15:48] DanHeidinga commented on #2701
@AdamBrousseau @jdekonin Have the OpenJ9 machines been updated to use a recent Adopt release for the bootjdks?

The `0.9` part of this may be obsolete though I'd like to see the builds using our JDK whenever possible

[2019-06-25 15:49] AdamBrousseau commented on #1138
I think this was resolved in #1208

[2019-06-25 15:51] sophia-guo commented on #6266
@DanHeidinga agree. However hotspot doesn't have this issue. Neither openj9 jdk12 aix.

Test code

[code]

openjdk does have a patch for IPv6 only environment
http://hg.openjdk.java.net/jdk/jdk/file/751a19168b11/test/jdk/java/net/NetworkInterface/IPv4Only.java

[2019-06-25 15:51] DanHeidinga commented on #4024
Is that listed in https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/README.md ?  If so, I'm good to close this

[2019-06-25 15:54] #1138 closed

[2019-06-25 15:55] AdamBrousseau commented on #1017
Can this be closed and reopened later if needed?

Since the last comment, we've added Artifactory, which moved all our binaries off Master. We've also changed the way our builds are arranged (#2836 and #5182) and how many we store of each (#6021).

[2019-06-25 15:57] DanHeidinga commented on #6266
Interesting.  I didn't think OpenJ9 had any patches in the OpenJDK class library code for things like `nif.getInetAddresses()` so I'd expect this to work the same for both Hotspot and OpenJ9

[2019-06-25 15:58] AdamBrousseau commented on #501
Not sure if this is still a problem. Can more details be provided otherwise could this be closed?

[2019-06-25 16:00] keithc-ca commented on #4024
IMO, that document doesn't make it clear that the build must be requested from an OpenJ9 PR.
I'm also not clear *why* it needs to work that way.

[2019-06-25 16:11] DanHeidinga commented on #6266
` * @run main/othervm -Djava.net.preferIPv4Stack=true IPv4Only`
Looking at the test code, it should set a -D to tell the VM to prefer the IPv4 stack.  I don't see that in the test output though.  @sophia-guo Can you confirm it's being set on the commandline?

[2019-06-25 16:12] #1017 closed

[2019-06-25 16:15] fjeremic commented on #6248
Internal grinder shows 0/20 failure rate. External grinders [1] [2] show 1/30 failure rate. Totaling up I'm observing a 1/50 failure rate for this issue.

Looking at the core file from the most recent failure referenced in https://github.com/eclipse/openj9/issues/6248#issuecomment-505411451 the method in question (`java/math/BigInteger.<init>([CII)V`) is a hot method, which may explain the low rep

[2019-06-25 16:18] AdamBrousseau commented on #4024
I will open a PR for the doc.

Because pipeline code is what runs the build, you need to launch the PR from OpenJ9 (where the pipeline code lives) in order for your PR's pipeline code to be used. In the case of dependent changes, this mechanism simply checks out your OpenJ9 repo when the SDK is about the be built, which is too late to consider any pipeline changes you may have made.

[2019-06-25 16:36] sophia-guo commented on #6266
No, we didn't set test with -D option as we are using https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/jdk/test/java/net/NetworkInterface/IPv4Only.java.  Test code use system property 'System.setProperty("java.net.preferIPv4Stack","true");'

http://hg.openjdk.java.net/jdk/jdk/file/751a19168b11/test/jdk/java/net/NetworkInterface/IPv4Only.java also works with IPv6 only environment, whi

[2019-06-25 16:55] fjeremic commented on #6248
Launched 3x20 grinders to try and collect a log:

https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/419/console
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/420/console
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/421/console

[2019-06-25 16:57] DanHeidinga commented on #6266
The System property is checked in the JNI_OnLoad call for the net library:
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/9637dcdbc7aa80442aafbd4fb6822aeeedb122d7/jdk/src/share/native/java/net/net_util.c#L69

Setting the property at runtime won't have any affect if the net native libraries have already been loaded.

It seems like a brittle test

[2019-06-25 17:08] #4024 closed

[2019-06-25 17:18] jdekonin commented on #2701
The new pLinux, AIX and xLinux installs might be 0.12 or 0.13 but only because that was what was current at the time of creation.

[2019-06-25 17:34] pshipton commented on #6248
I thought methods got queued for compilation, so execution of the method could be finished by the time the compiler does the compilation.

[2019-06-25 17:45] mpirvu commented on #6203
I am not opposed to JITServer, though I have a hard time coming up with an option to switch the JDK to the 'client' persona. It used to be `-XX:JITaaSClient`, but now `-XX:JITServerClient` doesn't work.
Even variations like `XX:JITServer:client`, `XX:JITServer:clientmode` etc don't look good in my opinion.

[2019-06-25 17:50] dsouzai commented on #6203
Another suggestion, given the previous comment:

`-XX:RemoteCompiler:server` and `-XX:RemoteCompiler:client`

"RemoteCompiler` is perhaps not necessarily the best name, but something along those lines..

[2019-06-25 17:55] fjeremic commented on #6248
This isn't a crash in a compilation thread. It's a crash in a JIT compiled method body.

[2019-06-25 17:58] ashu-mehra commented on #6203
why not just `JITServer` and `JITClient`?

[2019-06-25 17:59] charliegracie commented on #6203
`-XX:+UseJitServer` is the option the client would use in my suggestion above. I would hope / assume that eventually the actual server is not a full JavaVM per se but rather simple server that accepts connections and hands them off to the Compiler. In the meantime if that is not true then the sever could use an option like `-XX:EnableJitServer` or something similar until it isn't launched via a ja

[2019-06-25 18:00] DanHeidinga commented on #5961
The source for the crashing method is https://github.com/nativelibs4java/BridJ/blob/373c03447df44b5a5508e94fa897369b41b18f48/src/main/cpp/bridj/JNI.c#L989

Coupled with `InaccessibleReadAddress=0000000000000010` I suspect this is attempting to read from NULL.

[2019-06-25 18:00] pshipton commented on #6248
Seems weird then, indicating another bug somewhere. Could the method name being printed be incorrect?

[2019-06-25 18:02] DanHeidinga commented on #6203
Is there an option to tell the client where the server is located?  Looking at the minimum set of options / config files to set up that connection may help with choosing reasonable option names

[2019-06-25 18:03] pshipton commented on #6203
+1 for `+` and `-` options like `-XX:+UseJitServer` and `-XX:-UseJitServer` or some variable of that.

[2019-06-25 18:06] fjeremic commented on #6248
It would seem very unlikely given the PSW register indeed does point to `java/math/BigInteger.<init>([CII)V`

[2019-06-25 18:07] efferifick commented on #6255
@DanHeidinga , @andrewcraik is on vacation right now, but it is my understanding that it will be runtime enabled. So, basically given an option in the `-Xjit` we can enable this experimental inliner.

We haven't done a lot of studies on the additional footprint / performance cost to including it and not running it. (I.e. running an unaltered OpenJ9 JVM against an altered OpenJ9 JVM but without ena

[2019-06-25 18:07] sophia-guo commented on #6266
I tried with -D option and test passed.

[2019-06-25 18:12] mpirvu commented on #6203
It used to be `-XX:JITaaSClient:server=...,port=...,timeout=...`

[2019-06-25 18:17] mpirvu commented on #6203
The JDK can be configured to run as a regular JDK, as a JITaaS client or as a server. So, it is a full JavaVM that is `frozen` right after init (no Java application needs to be specified).

[2019-06-25 18:19] jdmpapin commented on #6255
`#ifdef` makes the experimental code more prone to bit-rot, and makes debugging less flexible. For example, with a JIT option it would be possible to enable or disable the new inliner on a per-method basis. Could we measure the footprint cost before deciding whether to use `#ifdef`? Perhaps it's small enough. And the footprint should be the only real cost when the new inliner is not in use. The ge

[2019-06-25 18:24] DanHeidinga commented on #6101
Sorry, we can't provide support for general Jenkins queries.  If there's an issue related to OpenJ9, we're able to help with that.

[2019-06-25 18:24] #6101 closed

[2019-06-25 18:38] DanHeidinga commented on #3743
@amicic We've branched for `0.15.0`.  Can enable `-XX:+UseGCStartupHints` by default?

[2019-06-25 18:44] mstoodle commented on #6203
Anyone else notice the duality with Hotspot's `-server` and `-client` options? :(

Nonetheless, I personally prefer something like:
* `-XX:+StartAsJitServer` to activate the JVM as a JIT server (open to different verbs than `StartAs`)
* `-XX:+UseJitServer` to configure the JIT as a client JIT

The client can then also specify options like:
* `-XX:JitServerPort=<N>`
* `-XX:JitServerHost=<hostname/i

[2019-06-25 18:49] mstoodle commented on #6203
I guess that roughly translates to "JIT Server" is the name to replace JITaaS with :) (i.e. the point of this issue).

[2019-06-25 19:19] vesuppi commented on #4453
Sorry I've been on a short vacation and travelling during the past month and got held up by a number of things. I am now getting back to fixing this issue. Very sorry for the delay!

[2019-06-25 19:28] fjeremic commented on #6248
Looking at the failure from [1] the crash point is at:

[code]

Taking a look at the log:

[code]

We tried to load a byte from that location. `GPR7` seems to contain some garbage in the high word. From what I can tell `GPR7` should be a 64-bit register. Now looking at the trees:

[code]

It seems we have skipped the evaluation of the `i2l` node at `n2919n` and assigned it virtual register `GPR_15

[2019-06-25 19:29] mpirvu opened #6272 "Change "J9ServerMessageType" into "MessageType""
With the latest change from https://github.com/eclipse/openj9/pull/6045 the client will too use "message types" to identify the kind of message the server is about to receive. Therefore we need to drop 'Server' from the name. Moreover, since we don't want the communication to be specific to openj9, we should drop J9 from the name.

[2019-06-25 19:30] mpirvu commented on #6272
Attn: @harryyu1994

[2019-06-25 19:36] efferifick commented on #6255
The way we had imagined to originally contribute this experimental inliner was to use [a template](https://github.com/eclipse/omr/pull/3971/commits/ddc7464febe421dcb285618538d53e69f524ecc8) to select an inliner when the optimizer is adding optimizations to the `_opt` array. For example:

[code]

I am not sure whether this will allow to enable or disable the inliner on a per-method basis. (Is the o

[2019-06-25 19:46] DanHeidinga commented on #6255
There are usually two parts to footprint:
* binary size aka size on disk
* runtime memory use, usually measured through RSS

The simplest way to check the first is to compare the size of the JIT dll with and without the inliner though I wouldn't expect it to cost much there.

The runtime footprint can be checked by looking at the RSS of a process.  For code that's present but not used I wouldn't e

[2019-06-25 20:16] jdmpapin commented on #6255
It's created for each compilation. (Actually at least twice per compilation it seems, which I think is because we create an `Optimizer` to run ilgen opts.)

This is a generic feature of the JIT option system (option sets). If `enableExperimentalInlining` is a boolean option not flagged `NOT_IN_SUBSET`, then we can do
[code]
and the option will be set only in `HashMap.put`.

[2019-06-25 20:28] DanHeidinga commented on #6102
Sorry, this isn't something we can help with.

[2019-06-25 20:28] #6102 closed

[2019-06-25 20:28] #6093 closed

[2019-06-25 20:36] #6084 closed

[2019-06-25 20:37] #6272 closed

[2019-06-25 20:47] efferifick commented on #6255
@DanHeidinga cool! I think we can do that in a bit. We are just updating our code base to use the latest OpenJ9/OMR commits and branches since we were working on an old version from last year.

@jdmpapin Thanks for clearing that out. I did know about regexes but I wasn't sure about the relationship between the Optimizer and the per-method. I was almost sure it was a per-run. So then, yes, the inli

[2019-06-25 21:03] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_OMR/153

[2019-06-25 21:40] avermeer commented on #6228
Hello,

Just to let you know that for the moment, we have planned to try our C++ with JNI automated tests with -Xmx1G option.

I'm glad to read that this incident raised some serious investigations which maybe eventually solve this issue without the need of a by-pass.

Kind regards,
Alexandre Vermeerbergen

[2019-06-25 21:42] harryyu1994 commented on #6133
With my latest version checking change, now server and client both have message types, which means we can actually look at how the message client send to server:
[code]
[code]
109: ResolvedMethod_startAddressForJNIMethod
245: VM_getClassFromNewArrayType
222: VM_classHasBeenExtended
A couple of them. So these aren't just random messages, unless those values are leftover from previous reads.

[2019-06-25 21:50] harryyu1994 commented on #6133
We can add in a change where client informs server that it is closing the connection to fix this, but the priority of this should be minor.

[2019-06-25 22:02] pshipton commented on #54
There is a docs issue https://github.com/eclipse/openj9-docs/issues/296, this can be closed.

[2019-06-25 22:02] #54 closed

[2019-06-25 22:04] pshipton commented on #3283
@fjeremic @NigelYiboYu we're running out of time for the 0.15 release, has this been completed?

[2019-06-25 22:54] #5879 closed

[2019-06-25 22:56] fjeremic commented on #6256
Referencing [1] here as it fits under this PR. Part of AOT support story will be addressing the TODO left in the code there.

[1] https://github.com/eclipse/openj9/pull/6234#discussion-diff-296504400R1034

[2019-06-26 02:27] fjeremic opened #6274 "PR Groovy pipeline scripts are slow"
I've been noticing a slowdown in the amount of time it takes to launch PR builds since the switch to pipeline generated jobs. For example a build triggered via `Jenkins test extended all jdk8,jdk11` produces the build seen in [1]. Inside each "Processing DSL script buildenv/jenkins/jobs/pipelines/Pipeline_Template.groovy" step seems to take roughly 2:30 min. for each job that is being generated.

[2019-06-26 03:45] guekho64 commented on #5651
@charliegracie Finally I've tested the code. I added some extra text for the sake of readability:

<details><summary><i><b>OpenJ9 VM</b></i></summary>

[code]
</details>

<details><summary><i><b>Hotspot VM</b></i></summary>

[code]
</details>

After these tests, I can say that, although Hotspot's way faster from a cold start than OpenJ9, it doesn't optimize code as much as the latter does, but it

[2019-06-26 04:54] DanHeidinga commented on #6274
fyi @AdamBrousseau

[2019-06-26 09:27] mateli commented on #1159
Using Hotspot Zero and not they JIT as far as I know.
https://git.linaro.org/arm/vixl.git
I found these which seems to be what Chrome/Chromium uses for JavaScript JIT:ing and perhaps also for Androids JVM. That is the only JIT I found for ARM.
It supports A64, A32 and T32 code generation so it would really cover all bases.

[2019-06-26 11:39] AdamBrousseau commented on #6274
When we first implemented job DSL generation it was very quick. It seems to be getting slower and slower. We have the option to temporarily disable this while we investigate (#6275).
Last night's build took ~50min to generate the 24 pipeline jobs. There is more time spent in each of those 24 to generate the compile job and then the test jobs. The generation runs on a slave so it is having to commu

[2019-06-26 12:09] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_OMR/155

[2019-06-26 12:09] smlambert commented on #6274
As there is no compelling reason to be generating jobs each time, should we consider not doing it?

[2019-06-26 12:23] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.system_x86-64_linux_Nightly/78
HCRLateAttachWorkload_0
[code]

[2019-06-26 12:32] #6032 closed

[2019-06-26 12:34] mpirvu commented on #5648
Dmitry had DT7 runs on lara: JITaaS shows 55% lower CPU, no loss in throughput, 2% larger footprint

[2019-06-26 12:34] #5648 closed

[2019-06-26 12:35] #5650 closed

[2019-06-26 12:48] SueChaplain commented on #6252
@IvanHargreaves

For (1), the latest documentation at OpenJ9 is accurate. See https://www.eclipse.org/openj9/docs/xdump/#file-location. The IBM doc will be fixed the next time the OpenJ9 is consumed for their current release program (end July).

For (2), if you can tell me what %asid and %jobid should have as a description I will add them to the table.

[2019-06-26 13:37] mpirvu opened #6277 "Create Dockerfile for JITaaS in RHEL7 based container"
Currently, for JITaaS we support only Ubuntu 16.04 and Ubuntu 18.04 based containers and would like to support RHEL7 (and 8) too.

[2019-06-26 13:38] mpirvu commented on #6277
Attn: @ymanton

[2019-06-26 15:19] phelgren commented on #5961
I have not heard anything from the Liferay team as yet.  There is
another J9 issue with using Liferay's implementation of JSONSerializer
that produces no output and no stacktrace.  I don't know if there is a
general issue with JSON serialization (I haven't tried it with FlexJSON
for instance) but I'll need to chase it down as well although switching
between JDK's is a hassle.  I don't know to what

[2019-06-26 15:34] amicic commented on #3743
PR that enables it by default has just been merged.

[2019-06-26 15:40] pshipton commented on #3743
Since #4079 is merged, I believe this can be closed.

[2019-06-26 15:40] #3743 closed

[2019-06-26 15:43] mstoodle commented on #6203
@mpirvu did you want to set a deadline by which to decide the new name, just to ensure this discussion comes to a definite conclusion? And by "decide" do we mean a committer vote or something else?

[2019-06-26 15:52] AdamBrousseau commented on #6274
While I agree that generating the jobs is unnecessary 99% of the time, the benefits outweigh the drawbacks imo, assuming we can get the times under control. As far as I know the only drawback is the time it is now taking. Having everything automated is the goal.

I have a PR #6276 that generates on the master instead of the worker and the perf is much better.
https://ci.eclipse.org/openj9/job/Pull

[2019-06-26 15:55] mpirvu commented on #6203
All of the people commenting here agree with (or have no objections for) JITServer, so I think that a vote is not necessary.
I'll let the issue open for another day and if nobody comes up with some valid objections, JITServer it is.

[2019-06-26 16:20] AdamBrousseau commented on #6274
Can confirm similar numbers on internal Jenkins. 33 Seconds for 23 jobs.
[code]

[2019-06-26 16:23] AdamBrousseau commented on #6274
Will have to do a similar PR for the test gen job.

[2019-06-26 17:38] fjeremic commented on #6274
Thanks for looking into this so quickly. I'd say if the whole generation step takes under a minute or two that is very reasonable.

[2019-06-26 18:41] NigelYiboYu commented on #3283
In the open, openJ9 is tested in concurrent scavenge mode in abbs, and mauve tests. Harmony isn't open-sourced yet.

These are named differently in the open and the old-new name mapping is here: https://ibm.ent.box.com/file/279411185722

**mauve CS tests:**
https://github.com/AdoptOpenJDK/openjdk-tests/blob/b360d8168d542054eb3faa6fd55b0afe2b8f71fd/systemtest/mauveLoadTest/playlist.xml#L164

**abbs

[2019-06-26 18:44] AdamBrousseau commented on #6274
For the test autogen job I simply configured it to run on master instead of worker and the time trend went from >2 minutes to <25 seconds.

[2019-06-26 18:52] gacholio commented on #6225
None of that worked - I'm trying something a bit more hardcore to get a class I can test with.

[2019-06-26 19:01] kobinau commented on #5203
Issue exists within the following line.

```+ (profiled very-hot) org/openj9/test/jsr335/defineAnonClass/TestUnsafeDefineAnonClass.testIntField(Ljava/lang/String;Ljava/lang/Object;Ljava/lang/Class;Z)V @ 00007F86B20F1BE8-00007F86B20FD314 OrdinaryMethod 20.20% T Q_SZ=2 Q_SZI=0 QW=230 j9m=00007F884C8EA4B8 bcsz=70 compThread=0 CpuLoad=230%(57%avg) JvmCpu=230%```

[2019-06-26 19:27] harryyu1994 commented on #6081
[code]
`TR_X86ProcessorInfo` is initialized in OMR.

[2019-06-26 19:41] fjeremic opened #6284 "Enable software CS testing on Power"
I just noticed from [1] we have `^arch.ppc` specified, meaning we're not getting the same coverage testing for concurrent scavenge on Power as we are on x86 and Z. @gita-omr @zl-wang FYI.

We may want to go through all the tests and enable them on Power to ensure we get full coverage testing and no regressions in OpenJ9. Example in [2], there are tons of others. We likely need to search for `-Xgc:

[2019-06-26 19:42] gacholio commented on #6225
Aha - compiling the breakpointed method with `-parameters` on the `javac` command line allows me to see the issue.

[2019-06-26 19:43] #6189 closed

[2019-06-26 19:43] fjeremic commented on #3283
Thanks @NigelYiboYu. We already have coverage running from when x86 introduced the CS testing as per above. There is however an issue that we're not getting equivalent test coverage for Power. I've opened up an issue to track that work above. Closing this one as it's complete.

[2019-06-26 19:43] #3283 closed

[2019-06-26 19:50] pshipton commented on #3276
@fjeremic now that #3283 is closed, can this also be closed?

[2019-06-26 19:52] pshipton commented on #6119
Fixed in the head stream by https://github.com/eclipse/openj9/pull/6263
Waiting for a PR for the 0.15 branch before closing this.

[2019-06-26 19:54] pshipton commented on #5373
@keithc-ca is investigating a performance improvement, to load fewer classes by default.

[2019-06-26 20:04] fjeremic commented on #3276
Indeed. All related issues have been addressed.

[2019-06-26 20:04] #3276 closed

[2019-06-26 20:08] gacholio commented on #6225
As suspected, using the original ROM method for the queries fixes the issue. There are likely many more instances of this issue.

[2019-06-26 20:25] fjeremic commented on #5315
Just wondering if anyone's seen a reproduction of this. The above noted failure rate of 1/100 makes this lower priority from my perspective and can be migrated to the next milestone.

[2019-06-26 20:50] fjeremic commented on #6248
Just dropping a quick comment here that I've identified the bug in the code and am now working towards the fix. I'll detail what exactly is wrong in the PR. We should hopefully have a fix tomorrow.

[2019-06-26 21:01] pshipton commented on #6119
Fix for the 0.15 release is https://github.com/eclipse/openj9/pull/6288

[2019-06-26 21:01] #6119 closed

[2019-06-26 21:27] pshipton commented on #5315
Moved.

[2019-06-26 21:28] pshipton commented on #5315
@lumpfish fyi https://github.com/eclipse/openj9/issues/5315#issuecomment-506031521

[2019-06-26 21:39] pshipton commented on #6274
I think we can close this now? Fixed by #6276

[2019-06-27 00:50] #6133 closed

[2019-06-27 00:52] mpirvu commented on #5843
Fixed by #6285

[2019-06-27 00:52] #5843 closed

[2019-06-27 01:58] a7ehuo commented on #6130
With the following server-client setup, the timeout values are:
- Max write on the server ~50ms
- Max read on the client ~316ms

[code]
[code]

[2019-06-27 09:54] LiYing2010 commented on #6225
Yes, we need this option to compile a class, to make the names of parameters stored into class file bytecode,
then Spring can get the parameter names at runtime, find other beans by these names, and pass these beans as parameters to the bean creation method.
That is where this issue happen.

I am very glad you can reproduce it.

[2019-06-27 11:45] mpirvu opened #6291 "Send optimization plan to the server"
Currently, the client does not send the entire optimization plan to the server, but just the opt level. However, the compiler may look at other pieces of information from the optimization plan. For instance, one bit in the optimization plan indicates whether to generate a sampling body or not. The default is to use a sampling body. Missing this information could lead to the following problem seen

[2019-06-27 12:50] cathyzhyi commented on #4657
@kobinau can you try to reproduce this failure locally and find out the failing method?

[2019-06-27 14:34] AdamBrousseau commented on #2701
Current BootJDK Status

| Platform | 8 | 11/12 | 13/next |
| ---- | ---- | ---- | ---- |
| AIX | 7 - OpenJDK 24.95-b00 - May/17 | 11 - Nightly - Dec 2/18 | 12 - 0.13.0 - Mar/19 |
| Win | 7 - OpenJDK 24.75-b04 | 11 - 0.11.0 - Nov/18 | 12 - 0.13.0 - Mar/19 |
| Mac | 8 - OpenJDK 25.192-b12 | 11 - Nightly Dec 13/18 | 12 - 0.13.0 - Mar/19|
| xlinux | 7 - OpenJDK 24.211-b02 | 11 - OpenJDK 11.0.2+9 | 12

[2019-06-27 15:30] charliegracie commented on #6024
@JasonFengJ9  is there a JVMTI API for modifying the sampling threshold?

[2019-06-27 15:42] JasonFengJ9 commented on #6024
@charliegracie yes, the `JVMTI API` mentioned is https://github.com/eclipse/openj9/blob/ac4b60c5af219c51fd246377e65f390c626d9a7a/runtime/include/jvmti.h.m4#L1172
It is implemented at https://github.com/eclipse/openj9/blob/ac4b60c5af219c51fd246377e65f390c626d9a7a/runtime/jvmti/jvmtiMemory.c#L85-L86
which eventually invokes https://github.com/eclipse/openj9/blob/ac4b60c5af219c51fd246377e65f390c626d9

[2019-06-27 15:55] pshipton commented on #2813
eclipse/omr#3381 is merged, waiting on the promotion build https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OMR-Acceptance/1488/

[2019-06-27 17:13] DanHeidinga commented on #5651
@guekho64 Can you try running with `-Xshareclasses`?  This enables OpenJ9 to save class metadata and AOT JIT code so that subsequent runs are faster.

[2019-06-27 17:17] mpirvu commented on #6203
Since no other opinions were expressed we will proceed with changing `JITaaS` into `JITServer` throughout the code.

Public options will be
`-XX:+StartAsJitServer` to activate the JVM as a JIT server
`-XX:+UseJitServer` to allow the JVM to send remote compilation requests

@smlambert when we change the options and deliver them to master we need to address the testing infrastructure.

Thank you all

[2019-06-27 17:17] #6203 closed

[2019-06-27 17:22] dmitripivkine opened #6298 "Class Unloading in Scavenger possibility"
In Gencon GC policy Class Unloading is not available in Local GC (Scavenger) currently. The Class Unloading is one of the most common reasons to percolate to Global GC, particularly for applications using "reflect" heavily. An unloading of classes in Scavenger might reduce number of Global GCs dramatically in some cases. An unloading for classes is done on classloader level - so if non of classloa

[2019-06-27 17:24] pshipton commented on #6239
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Personal/12
osx1013-x86-4
testDDRExt_Callsites_openj9_0
`[java] [DDRExtTesterBase] [ERROR] '!findallcallsites ' is not recognized`

[2019-06-27 17:55] #6213 closed

[2019-06-27 17:58] DanHeidinga commented on #6168
@smlambert Is this issue still needed or are the machine configs / jvm options being handled under an Adopt issue?

[2019-06-27 18:07] pshipton commented on #6239
@AdamBrousseau can you please check the space on the macos machines to see if there is less free space than there should be. This intermittent problem has been occurring since the Saturday nightly run. One theory is the core file is being truncated by lack of disk space.
@keithc-ca fyi

[2019-06-27 18:54] AdamBrousseau commented on #6239
All 4 machines have loads of space. I was able to wget a 200M sdk to each of them without issue.  I can try rebooting them?

[2019-06-27 19:32] sophia-guo commented on #6266
Issue opened https://github.com/AdoptOpenJDK/openjdk-tests/issues/1197. Close this one. Thanks @DanHeidinga

[2019-06-27 19:32] #6266 closed

[2019-06-27 20:15] gacholio opened #6303 "AOT does not handle breakpointed methods"
This is not an issue today, as AOT does not work with FSD, but I'm opening this issue as a reminder.

Various calls assume the ROM method fetched from the RAM method is within the shared class cache. This will not be true if a method has been breakpointed (we copy `some` of the ROM method when breakpointing).

Many or all of the fetches of the ROM method should be changed to getOriginalROMMethod.

[2019-06-27 20:40] pshipton commented on #6239
Sure, as long is nothing is running.

[2019-06-27 20:41] pshipton commented on #5373
Keith is making good progress, but the fix won't make the 0.15 release.

[2019-06-27 20:51] pshipton commented on #5238
I don't expect the script is going to be ready for the 0.15 release.

[2019-06-27 20:52] pshipton commented on #5988
It doesn't look like we'll have a solution ready for this in the 0.15 release.

[2019-06-27 20:53] pshipton commented on #5399
It doesn't look like we'll have a solution ready for this in the 0.15 release.

[2019-06-27 21:11] pshipton commented on #6225
I'll move this back into the 0.15 milestone since there is a PR open, although this is not a promise to include a fix in the 0.15 release.

[2019-06-27 21:22] dchopra001 opened #6304 "Add fieldwatch tests for 32-bit and non-compressed refs JVMs"
Fieldwatch tests were recently added here: https://github.com/eclipse/openj9/pull/6257. Unfortunately we were not able to add tests for _Large Heap_ variant JVMs. Additionally, the PR tests don't test on all 32-bit platforms. This issue is to discuss how/if we can test those platforms and what work is required.

See https://github.com/eclipse/openj9/pull/6257#issuecomment-506511530 and https://git

[2019-06-27 21:22] dchopra001 commented on #6304
@smlambert FYI

[2019-06-27 21:29] dchopra001 commented on #6304
Linking @gacholio's solution regarding non-compressed ref testing here: https://github.com/eclipse/openj9/pull/6257#issuecomment-506517817

[2019-06-27 21:34] smlambert commented on #6168
I will close this and refer to the Adopt issue, given that the other aspect is captured in #3475.

[2019-06-27 21:34] #6168 closed

[2019-06-27 21:41] dchopra001 commented on #6304
@gacholio - Just to confirm I understand https://github.com/eclipse/openj9/pull/6257#issuecomment-506517817. You are referring to specifying the options like we do here right:
https://github.com/eclipse/openj9/blob/7da5e8819971b0ce8543a131dc5efbaa4d28007f/test/functional/cmdLineTests/jvmtitests/playlist.xml#L479-L486

i.e. we specify all the `variation` types in `<variation>` tags instead of in it

[2019-06-27 21:42] harryyu1994 commented on #6291
Looking into this one.

[2019-06-27 21:57] gacholio commented on #6304
That's not a great example, since I completely ignore the mode options in this case (because I needed specific JIT options).

The problem is that the JIT (afaik) does not allow multiple -Xjit options, so there's currently no way to use the standard mechanism and extend the mode options with subsequent JIT options. The inline field watch option can be added since it's not -Xjit.

Assuming the last

[2019-06-28 02:14] gacholio commented on #6304
Thought more about it, and in this case (and perhaps others), the tests could run with the mode options, and override the JIT options for each variant of the test (including -Xint), assuming the last-specified -Xjit option takes precedence.

That's pretty much what the decomp test did (it had no -Xint version since that made no sense, but this one certainly could). Given that the test will run in

[2019-06-28 02:24] gacholio opened #6307 "Tag breakpointed methods for quick metadata access"
See: #6301

Rather than requiring the getOriginalROMMethod call, tag breakpointed methods in the modifiers and store a pointer to the original ROM method.

For quick access, the allocated memory for the breakpointed method will begin with the back pointer, followed by the copied ROM method.

Access to the unbreakpointed method will be:
[code]
This could be added to the J9_ROM_CLASS_FROM_RAM_CLASS

[2019-06-28 02:31] gacholio commented on #6304
I think this does also mean that the test has to run from its own XML/bucket (like the decomp test does).

[2019-06-28 04:43] pshipton commented on #2813
The OMR changes are promoted.
eclipse/omr#3381 and eclipse/omr#4085

[2019-06-28 04:46] pshipton commented on #2813
It doesn't look like #5217 is ready for the 0.15 release, I'll move this out.

[2019-06-28 05:17] pshipton commented on #4488
Create a doc issue for https://github.com/eclipse/openj9/issues/4488#issuecomment-503257764.

Using the latest xlinux nighty jdk11 build, I get the following sizes.

50M - this is with the TraceFormat.dat files removed, they are about 1M
49M - after excluding the java_*.properties files, although the sizes add up to 3.7M

Breakdown of the biggest elements:
48M   lib
23M   lib/compressedrefs
25M

[2019-06-28 06:55] avermeer commented on #5164
Hello,

I don't know if there's a way for vote for an issue, but any here my +1 on this one: people used to `jcmd `are quite upset not to find it in OpenJ9...

Kind regards,
Alexandre

[2019-06-28 09:12] guekho64 commented on #5651
@DanHeidinga

<details><summary><b>OpenJ9</b></summary>

[code]
</details>

<details><summary><b>OpenJ9, 2° test</b></summary>
<p><p>After the last execution, this folder was generated in <i>$HOME/</i><p>

![imagen](https://user-images.githubusercontent.com/8020999/60330777-d3bc1000-9958-11e9-9716-dd35bf13b4ae.png)

<p><p>And it only contains:<p>

![imagen](https://user-images.githubusercontent.co

[2019-06-28 11:25] mateli commented on #1159
Raspberry Pi Zero hasn't.

[2019-06-28 12:36] DanHeidinga commented on #5164
@avermeer thanks for the feedback.  `jcmd` is definitely on the list.  Our plan, as written inhttps://github.com/eclipse/openj9/issues/4655, is to do jps (done), jstack (done),  and then jmap & jstat.

Once those two are complete we'll implement `jcmd` as its basically a different front end to the same functionality

[2019-06-28 12:45] pshipton commented on #5164
`jmap` is also available now, at least the `-histo` part.

@DanHeidinga `jcmd` provides a useful features not available elsewhere, the ability to create dumps on the fly. We should consider adding this next. Unless the -Xdump option has been pre-configured to create the dumps you need (how are you supposed to know which dumps you need in advance?), there is no easy way to create a heapdump, snapdu

[2019-06-28 12:54] DanHeidinga commented on #5164
I don't have a problem with doing `jcmd` first.  The backend for `jstat` will need to be written as part of which ever command we do first

[2019-06-28 12:57] avermeer commented on #5164
@pshipton I completed agree with you, we quite miss an equivalent to GC.heap_dump as people usually resort to this kind of tool when something's going wrong and thus may not have pre-existing -Xdump options.

[2019-06-28 13:53] #6225 closed

[2019-06-28 13:54] DanHeidinga commented on #4655
Based on the discussion in https://github.com/eclipse/openj9/issues/5164#issuecomment-506720816 we should do `jcmd` next

[2019-06-28 13:58] DanHeidinga commented on #5164
I've updated #4655 to indicate `jcmd` should be next

[2019-06-28 14:23] DanHeidinga commented on #6060
@mpirvu Can you comment on the footprint / startup #s in https://github.com/eclipse/openj9/issues/6060#issuecomment-503754773 ?

[2019-06-28 15:14] cwesMills opened #6313 "Limiting OpenJ9 memory usage from a Jenkins build"
I am using the docker-plugin for Jenkins to allow the provisioning for Docker containers. A Jenkins job I am running on a Docker container involves building OpenJ9. Using the config for the docker-plugin I have set a limit on how much memory each container can use, but the OpenJ9 configure stage thinks it has access to all the memory on the docker host machine. This causes the compile stage to use

[2019-06-28 16:21] keithc-ca commented on #6239
On MacOS, core files are quite large:
[code]
creates a 6.2GB file. Do we have room for several files that size?

[2019-06-28 16:27] AdamBrousseau commented on #6239
Rebooted them all
They each have over 600G free so should be tons.

[2019-06-28 18:22] DanHeidinga commented on #6313
Which version of OpenJ9 is being used as the bootjdk?  Which version are you building?

[2019-06-28 18:24] mpirvu opened #6314 "Make J9ServerStream::finishCompilation() a variadic function"
As suggested by @dmitry-ten this change would make adding new arguments easier, and would also remove the need for a CHTableCommitData import, which is not in OMR (thus we can easily port the communication layer top omr should we want to).

[2019-06-28 18:29] cwesMills commented on #6313
I've seen this issue occur while building jdk12 and jdk11 (both using jdk11 as the bootjdk)

[2019-06-28 18:37] DanHeidinga commented on #6313
How have you limited the memory to the docker container?

Is there an example / jenkins job / reproducible test case that we can look at?

[2019-06-28 18:43] mpirvu commented on #6060
Regarding the footprint/startup numbers in https://github.com/eclipse/openj9/issues/6060#issuecomment-503754773
- There is a 0.6% footprint regression on the big machine, but on those machines scalability is much more important than a small increase in footprint after startup.
- There is a 0.1-0.4% footprint increase for the 4-core machine, which is noise in my opinion.
- There are mixed start-up

[2019-06-28 19:44] RSalman commented on #6060
[code]

[2019-06-28 19:54] RSalman commented on #6060
It seems like a pretty fast machine
[code]

Nothing that I am aware of, I believe using the "default package", and I'm not making any modifications to it. Here are some parameters that I'm setting for the benchmark:

[code]

I'll look into this and get back to you - will need to go back to the results for this.

[2019-06-28 20:36] cwesMills commented on #6313
It turns out that the configure script was the problem, it was reading the memory from `/proc/meminfo` which contained the wrong value. I was able to limit the usage with `--with-memory-size=4096` as an extra config option.

[2019-06-28 20:54] RSalman commented on #6060
I didn't use shared class cache for these runs, perhaps that may explains the slow start ups.

[2019-06-28 20:54] pshipton opened #6316 "Removing duplicate macros used by DDR breaks the IBM DTFJ MAT plugin"
https://github.com/eclipse/openj9/issues/4198 breaks the "IBM Diagnostic Tool Framework for Java" plugin used by Eclipse MAT to read OpenJ9 system dumps. There doesn't seem to be a plugin update from IBM available to resolve it.

[code]

The error message is for J9Consts.J9_JAVA_CLASS_ARRAY, but looking at the PR changes, some or all of the following will also be problematic. They are listed with

[2019-06-29 02:42] gita-omr opened #6318 "Remove/consolidate duplicate local test instruction documents"
I tried to follow this inside openj9 repo:
https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md
Then I found this:
https://github.com/eclipse/openj9/wiki/Reproducing-Test-Failures-Locally
which I think is more detailed and works better (clones AdoptOpenJDK repo).

Could we consolidate these two documents?

[2019-06-29 02:42] gita-omr commented on #6318
@AlenBadel fyi

[2019-06-29 02:50] gita-omr commented on #6318
@smlambert fyi

[2019-06-29 12:22] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_Nightly/81

[2019-06-29 12:25] pshipton opened #6319 "Test_openjdk8_j9_extended.functional_x86-64_linux_xl testJCMMXBeanLocal_SE80_0 runJvmCpuMonitorMXBeanTest"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/79
[code]

[2019-06-29 20:02] avermeer commented on #4837
Hello,

Are there news of this issue? Anything that's going to be part of AdoptOpenJDK OpenJ8 July release?
Or even nightly builds?

Kind regards,
Alexandre

[2019-07-02 14:41] chrisc66 commented on #6277
I looked into this issue. In order to get a RHEL based container, we need some subscription to red hat. Is there any enterprise red hat docker base image that is available to us?

[2019-07-02 14:47] mpirvu opened #6320 "Change JITaaS namespace into JITServer"
Based on the decision taken in #6203, the new name of JITaaS is JITServer and therefore the JITaaS namespace needs to change into JITServer

[2019-07-02 14:57] mpirvu commented on #6277
Does `docker pull registry.access.redhat.com/ubi7/ubi-minimal` work?

[2019-07-02 15:18] chrisc66 commented on #6277
Thanks, I can pull UBI image without any subscription. Does UBI works fine for us or do we have to use RHEL7/8?

[2019-07-02 16:26] mpirvu commented on #6277
Red Hat Universal Base Image (UBI) is what we want to use in the end.

[2019-07-02 16:47] chrisc66 commented on #6277
Sounds good, I will work on this.

[2019-07-02 22:57] mpirvu commented on #6060
Without shareclasses my startup numbers for liberty+sufpdt3 are around 7 sec on a 4-core machine @3.5Ghz, so maybe 9.4 sec on a machine @2.7Ghz is not that far off. Note that on liberty shareclasses are enabled by default and one has to specify -Xshareclasses:none to disable the feature. Was that the case in the experiments above?

[2019-07-03 02:46] #6316 closed

[2019-07-03 12:16] kobinau commented on #4657
Ran machine to generate an intermittancy of 1/50. Testing on optLevel=noOpt to determine if issue is optimization bug or not.

[2019-07-03 12:46] #6313 closed

[2019-07-03 12:52] DanHeidinga commented on #6298
The boot, extension and apploader should always be tenured as they are never unloaded.  Similarly for classes loaded by them.

For other loaders, it may be beneficial to switch the behaviour based on which runtime phase the JVM is in.  Classloaders apart from the ReflectionLoaders created during the `startup_phase` likely will live the duration of the application.  Those loaded later may be more t

[2019-07-03 12:54] DanHeidinga commented on #6239
@mikezhang1234567890 As the resident mac DDR expert, any ideas on what to try next?

[2019-07-03 13:29] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.system_x86-64_linux_Release/2/
SharedClassesAPI_0
8.WL4.stderr
[code]

[2019-07-03 13:33] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly/84

[2019-07-03 13:35] pshipton commented on #4005
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_Nightly/83/
SharedClassesWorkload_0
7.SCL2.stderr
[code]

[2019-07-03 13:35] cathyzhyi commented on #4837
@avermeer about 60% of the PRs have got into the latest nightly build already and we are still working on the rest of PRs.

[2019-07-03 13:41] pshipton commented on #6319
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/83

[2019-07-03 14:39] a7ehuo commented on #6320
I'll start working on this one.

[2019-07-03 15:20] RSalman commented on #6060
I didn't specify that option, however from the logs it seems like there was an issue running with share classes. For each run, I'm seeing

```JVMSHRC686I Failed to startup shared class cache. Continue without using it as -Xshareclasses:nonfatal is specified```

[code]

I also did a quick run with verbose logs and it does seem like share classes get enabled:

[code]

[2019-07-03 15:27] DanHeidinga commented on #5918
Moving this to `0.16.0` as the changes aren't ready yet.

[2019-07-03 15:29] DanHeidinga commented on #3422
Given how close we are to the `0.15.0` release date, moving this out to `0.16.0`.

[2019-07-03 15:30] DanHeidinga commented on #4657
Given how close the 0.15.0 release date is and we don't have a fix in hand, moving this to 0.16.0

[2019-07-03 15:31] DanHeidinga commented on #5203
Given how close the 0.15.0 release date is and we don't have a fix in hand, moving this to 0.16.0

[2019-07-03 15:51] mpirvu commented on #6060
Then the perf results may be ok, though it would be interesting to know what prevents SCC from being used.

[2019-07-03 15:54] RSalman commented on #6060
Perhaps not enough privileges to create SC cache at default dir

[2019-07-03 15:56] amicic commented on #6060
File/dir access privileges might be a problem with creating SC. I see: cacheDir=/perf/....        @RSalman was running under its own account.

While he can try to investigate (for benefits of future experiments), I don't think it's relevant for the original concern.

[2019-07-03 16:20] JasonFengJ9 opened #6324 "zos_390-64 SE80_GIT cmdLineTester_fieldwatchtests_0 fw001-[1, 4] failures"
Failure link
------------
[code]

Optional info
-------------

- intermittent failure (no):
- new test [1]:

[1] https://github.ibm.com/runtimes/openj9/commit/8bf50f502d0c5e0631aa7b9891f95e2126e78f61

Failure output
--------------

[code]

fyi: @dchopra001

[2019-07-03 16:28] dchopra001 commented on #6324
Taking a look at this currently.

[2019-07-03 16:44] 0xdaryl opened #6325 "Investigate and implement interface PICs for AArch64"
For performance considerations, investigate and implement a dynamic polymorphic inline cache (PIC) solution for interface dispatches.  Exploit the capabilities and work around the limitations of the AArch64 architecture in the solution.

Extend the solution to include PIC slots that can be initialized at compile-time via profiling information.

As a bonus, consider architecting the solution to thi

[2019-07-03 16:44] mpirvu commented on #6060
Agreed

[2019-07-03 16:45] 0xdaryl commented on #5455
Interface PICs (e.g., #6325)

[2019-07-03 17:29] pshipton commented on #6239
Haven't seen the problem since the machines were rebooted. Keith looked at one core, and it appeared truncated. I don't expect this was a DDR problem but a machine issue.

[2019-07-03 17:50] gita-omr commented on #3422
@AlenBadel has a fix but unfortunately personal build takes very long time. He will try to merge the fix today in anyway (into master).

[2019-07-03 19:42] sophia-guo commented on #5542
The test consistently failed on Adopt https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_s390x_linux/336/. Test machine is [test-marist-ubuntu1604-s390x-1](https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1604-s390x-1/).

The system limit is same as https://github.com/eclipse/openj9/issues/5542#issuecomment-484538794

[code]

[2019-07-03 20:07] sophia-guo commented on #5542
Test also failed with hotspot though with different error msg.

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_hs_openjdktest_s390x_linux/93/consoleFull

Same with jdk11. Test failed with both hotspot and openj9 with not same error message.

[2019-07-03 20:09] sophia-guo commented on #5542
There is not issue reported in JBS yet.

[2019-07-03 20:19] harryyu1994 commented on #6291
Currently server only has client's
[code]
Other fields in optimization plan includes:
[code]

[2019-07-03 20:37] 0xdaryl commented on #5455
Hardware transactional memory support.  Enable CodeGenerator `getSupportsTM()`.  Implement evaluators for `tstart`, `tfinish`, `tabort`.

[2019-07-03 20:58] a7ehuo opened #6327 "Remove JITSERVER_ENABLE_SSL once jitaas is merged into master"
`JITSERVER_ENABLE_SSL` is added to conditionally build JITaaS with OpenSSL. This flag should be removed after `jitaas` branch is merged into `master` branch. JITaaS + OpenSSL should be properly tested again when OpenSSL is enabled by default.

[2019-07-03 22:46] dchopra001 commented on #6324
One of the crashes will be fixed by: https://github.com/eclipse/omr/pull/4100. Similar checks exist elsewhere in this evaluator. I'm not sure how this escaped tests on linux.

There are other issues in the test related to fieldwatches not being reported. I'm still investigating those.

[2019-07-03 23:06] fjeremic commented on #5455
LoadExtensions codegen optimization [1].

[1] https://github.com/eclipse/omr/blob/ff2e532dbbb27fa4fef597c1977cb7b62093e72b/compiler/optimizer/LoadExtensions.hpp#L37-L103

[2019-07-03 23:11] fjeremic commented on #6324
Just a wild guess based on the fact that this PR is for a NULLCHK evaluator. On z/OS we have resumable traps disabled so we need to perform explicit null checking whereas on Linux we use implict traps on the load instructions. I suspect this hides the bug on Linux. You can test by disabling resumable traps on Linux and see if we can reproduce.

[2019-07-04 01:27] JasonFengJ9 commented on #5542
Any chance to reproduce this failure at an internal jenkins machine? otherwise we have to request machine access for investigation.

[2019-07-04 01:41] JasonFengJ9 commented on #6126
@15838028035 are you still experiencing the problem reported initially? If so, are you running any `HotSpot` JVM?

[2019-07-04 05:53] avermeer commented on #4837
Hello @cathyzhyi ,

Thank you very much, we're are going to redo our tests with this updated nightly build.

Kind regards,
Alexandre

[2019-07-04 12:43] pshipton opened #6330 "Windows build crash shared classes vmState=0x00080001 SH_CompositeCacheImpl::markStale"
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_windows_Nightly/84
[code]

[2019-07-04 12:43] pshipton commented on #6330
@hangshao0

[2019-07-04 12:45] pshipton opened #6331 "Capture diagnostic files created during build job"
In https://github.com/eclipse/openj9/issues/6330 we got a crash during the build process. Ideally the build job should capture the core file and archive it for diagnostics.

[2019-07-04 12:45] pshipton commented on #6331
@AdamBrousseau @jdekonin

[2019-07-04 13:05] DanHeidinga commented on #5225
I looked through our code and the confusing thing here is the difference in behaviour between:

https://github.com/eclipse/openj9/blob/ad68fc5e4ef89bdea9f81df7ce2320c56988c38b/runtime/vm/stringhelpers.cpp#L416
and `bcvCheckClassName` which calls:
https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/runtime/verutil/chverify.c#L42

The verifier does the extra checks for `;

[2019-07-04 14:07] 0xdaryl opened #6332 "Investigate best AArch64 instructions for memory fences"
The AArch64 JIT implementation of the fence opcodes (`TR::loadFence`, `TR::storeFence`, `TR::fullFence`) uses a conservatively correct `DSB` instruction.

The task here is to understand the AArch64 memory model and choose the best memory barrier instructions that meet the semantics of the Java memory model.

[2019-07-04 14:17] #6320 closed

[2019-07-04 14:21] mpirvu commented on #6277
Some instructions on how to install gcc7 on rhel7:
https://developers.redhat.com/blog/2018/07/07/yum-install-gcc7-clang/

[2019-07-04 14:52] cathyzhyi commented on #4173
this is completed as part of #4743

[2019-07-04 15:03] #4173 closed

[2019-07-04 15:07] mpirvu opened #6333 "Rename files related to JITaaS communication"
We would like to eliminate the "J9" particle from the name to make them more generic.
Proposal:
J9Client.cpp/hpp  --> ClientStream.cpp/hpp
J9Server.cpp/hpp  --> ServerStream.cpp/hpp
J9Stream.cpp/hpp  --> CommunicationStream.cpp/hpp

Also, to be consistent, the `#ifndef` in the hpp files need to change.
E.g.:
[code]
needs to become
[code]

Moreover, all these files are under a directory called `rpc

[2019-07-04 15:29] AdamBrousseau commented on #6331
Is there a specific location where these files will be? And will they have a specific naming/file format?

[2019-07-04 15:30] a7ehuo commented on #6333
I'll make the change.

[2019-07-04 15:32] sogutbera commented on #5665
Lambda classes also have some kind of method name which we compare in compareROMClassForEquality, it's in the form of lambda$<function_name>$<number> and sometimes has a '(' at the end, the function name is the name of the function the class is in, and the number is set at compile time and starts from 0 and increases by 1 in each file so it is not global. For example I have a code which has 4 case

[2019-07-04 15:35] pshipton commented on #6331
Below is what was created in this instance, which is a good start. The files are `core.*.dmp`, `javacore.*.txt`, `Snap.*.trc`, and `jitdump.*.dmp`.

[code]

[2019-07-04 16:01] jdmpapin commented on #5455
I'd like to clarify a few points about nestmates here.

The JIT interaction is that with nestmates, `invokevirtual` and `invokeinterface` no longer necessarily do virtual and interface dispatch (respectively). They might instead call a private method directly, and because private methods are not in the vtable, direct dispatch is the only possible implementation. The JIT compiler recognizes this si

[2019-07-04 16:05] #6144 closed

[2019-07-04 16:09] dchopra001 commented on #6324
That's a good point. We can only end up at this code if resumable traps are not enabled.

On linux we will always take this forward path:
https://github.com/eclipse/omr/blob/6dc0df4b587c4d651a3104d44c7308093067857b/compiler/z/codegen/ControlFlowEvaluator.cpp#L2171

[2019-07-04 16:15] hangshao0 commented on #6330
This could happen when the page is memory protected while changing the stale bit. But looking at the code:

https://github.com/eclipse/openj9/blob/758996589a5c9dbc451b7925b45d79f07dc90746/runtime/shared_common/CompositeCache.cpp#L3279toL3287

The page is has been unprotected right before CCSETITEMSTALE(ih).

[2019-07-04 16:18] fjeremic commented on #6324
eclipse/omr#4100 has now been merged. This is no longer a problem. Closing. Please reopen if you see another occurrence.

[2019-07-04 16:24] sogutbera commented on #5665
public class Test1 {

        public static String str1 = new String("testing123");

        public static void main(String[] args){
            int input = Integer.parseInt(args[0]);

            if(0 == input) {
                Comparator<String> stringComparatorLambda = (String o1, String o2) -> {
                    return o1.compareTo(o2) + o2.compareTo(o1) + 15;
                };

[2019-07-04 17:08] mpirvu commented on #6333
@0xdaryl  proposed to change `rpc` into `net` instead of `networking`. It does sound better and therefore I fully agree.

[2019-07-04 17:31] hangshao0 commented on #5665
I guess we do not need to handle the differences in method names. The only thing that we ignore in compareROMClassForEquality() is `$<number>/0xromaddress` in the class name.

[2019-07-04 17:54] hangshao0 commented on #6330
Need core files to get more information on this issue.

[2019-07-04 18:08] pshipton commented on #6330
Understood, I created https://github.com/eclipse/openj9/issues/6331 to capture diagnostic files produced during builds.

[2019-07-04 18:19] #4261 closed

[2019-07-04 18:22] #5503 closed

[2019-07-04 18:47] #6081 closed

[2019-07-04 19:28] 0xdaryl opened #6347 "Exception ordering with explicit NULLCHKs"
Many (many, many) years ago, the IA32 JIT fixed a problem where a `TR::ResolveAndNULLCHK` of a call/load/store implemented with an **explicit NULLCHK** was not operating correctly because the resolution and NPE exceptions would be generated in the wrong order.  This was because the explicit NULLness checks would wrap the call/load/store and any NPE would occur before any resolution exception which

[2019-07-04 19:39] harryyu1994 commented on #6314
In issue #6291 we are adding a new field in`finishCompilation()`. I might fix this one first.

[2019-07-04 19:43] dmitry-ten commented on #6314
I already opened #6322. Just waiting for sanity tests to pass.

[2019-07-04 19:44] harryyu1994 commented on #6314
Great! Thanks for letting me know.

[2019-07-04 19:45] sophia-guo commented on #5542
Right now there is only one s390 test machine available 'jrxzrt01' and test passed on that machine. All other s390 test machines with ubuntu are offline. Not sure the test status on ubuntu ones.

Looks like the main difference between https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1604-s390x-1/ and 'jrxzrt01' t machine is the OS. Failed on ubuntu and passed on rhel.

[2019-07-04 19:56] JasonFengJ9 commented on #5542
100x grinder passed at `ub16s390xrt1-1` yesterday.

[2019-07-04 20:13] simonameng opened #6349 "Assertion failure when compiling JIT under debug mode in `RelocationRecord.cpp:575`"
I got the Assertion Failure when I tried to compile the JIT under debug mode in Power 64 LE.
Here is the backtrace:
[code]

[2019-07-04 20:14] simonameng opened #6350 "Assertion failure when compiling JIT under debug mode in `OMRNode_inlines.hpp:213`"
I got the Assertion Failure when I tried to compile the JIT under debug mode in Power 64 LE.
Here is the backtrace:
[code]

[2019-07-04 20:19] mpirvu commented on #6277
Some instructions on how to build protobuf on rhel7 on  Linux on IBM Z. They should work for x86 as well.

[2019-07-04 20:25] fjeremic commented on #6347
The `resolveCHKEvaluator` on Z doesn't actually do anything [1]. It's effectively a pass-through evaluator because it's the `isUnresolved` flag on the child that determines whether resolution is needed and the resolution logic is generated when the child is evaluated.

Looking at the `evaluateNULLCHKWithPossibleResolve` in OMR though [2] (this should really migrate to OpenJ9) I can see paths on wh

[2019-07-04 20:28] fjeremic commented on #6350
@cathyzhyi @andrewcraik @gita-omr FYI I think this common code will only trigger on Power due to the weak memory model. It is quite prevalent on a debug build. We should determine whether the assertion is bogus or not.

[2019-07-04 20:29] fjeremic commented on #6349
@dsouzai @gita-omr FYI we need to determine whether this assert is valid. It is quite prevalent on an `-Xsharedclasses` run.

[2019-07-04 20:31] fjeremic commented on #6248
Grinders with the fix passed 160/160:

https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/432/
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/433/
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/434/
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/435/
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/436/
https://ci.eclipse.org/openj9/view/Test/job/Test-Gr

[2019-07-04 20:35] mpirvu opened #6351 "Verify that Java8/Java11 cross compilation works"
For the remote/out-of-process compilation case we must ensure that a server based on OpenJDK11 can compile methods for a client running OpenJDK8 and viceversa.

[2019-07-04 20:49] gita-omr commented on #6349
@simonameng I think we will need the command you were running.

[2019-07-04 21:04] fjeremic commented on #5702
@simonameng can you detail some of the experiments you performed on Power? Do we currently reduce a `java.lang.Math.sqrt` call to an `TR::InstOpCode::fsqrt` instruction? And following the transformation in #6217 do we also generate the same instruction on Power?

[2019-07-04 21:12] dsouzai commented on #6349
The assertion isn't valid from what I can tell.

This is what the check is in `J9AheadOfTimeCompile.cpp`:
[code]
whereas in RelocationRecord.cpp, it's
[code]

We shouldn't be `not`ing the `FLAGS_RELOCATION_FLAG_MASK` in the `TR_ASSERT`. `TR_RelocationRecord::setReloFlags` was never used until I started consolidating the relocation records (https://github.com/eclipse/openj9/issues/4803) and because

[2019-07-04 21:13] dsouzai commented on #6349
FWIW, this assert should fire on all platforms, not just P.

[2019-07-04 21:18] gita-omr commented on #6349
Thanks @dsouzai , then we'll just remove '~'.

[2019-07-04 21:18] dchopra001 commented on #6324
Update:

I have a fix for the other issue as well now. Going to do a bit more testing today to make sure everything is good and then will open a PR tonight.

[2019-07-04 22:05] ChengJin01 commented on #6022
Given that the new option `checkClasspathTimestamp` can be specified on the command line to enable the minimal check in the native code (to be implemented with `checkClasspathTimestamp` specified), there should be no need to create a public API to set up `minimizeUpdateChecks` at Java level (in OpenJDK or in user application) unless it is required by users.

[2019-07-04 22:22] pshipton commented on #6022
The setMinimizeUpdateChecks() is more specific as it can be specified per classloader, while `checkClasspathTimestamps ` affects all URL loaders.  However I agree we should wait and see if setMinimizeUpdateChecks() is needed before implementing it.

[2019-07-05 01:00] #6314 closed

[2019-07-05 01:00] #6333 closed

[2019-07-05 02:08] #5950 closed

[2019-07-05 12:56] 0xdaryl opened #6352 "Investigate common NULLCHK evaluator"
Each code generator provides its own implementations of `TR::NULLCHK` and `TR::resolveAndNULLCHK` evaluators.  The logic in these evaluators is largely identical, yet implemented independently.  There is a good possibility that much of it can be shared between the backends with specialization points inserted and implemented as necessary.  The logic should be simplified as much as possible, and bet

[2019-07-06 02:05] mpirvu opened #6360 "Address all JITaaS TODOs"
I counted 20 places marked with `JITaaS TODO` and 4 places with `JITaaS FIXME` in the code base. These need to be fixed.

[2019-07-06 03:12] pshipton opened #6361 "Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR testing passed but failed"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_OMR/173
osx1011-x86-1
[code]

[2019-07-06 14:07] pshipton commented on #6361
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly/87

[2019-07-06 14:14] pshipton commented on #6361
OpenJ9 changes in OMR build
https://github.com/eclipse/openj9/compare/05e9a0c...5b579fd

Changes in nightly build
https://github.com/eclipse/openj9/compare/2755f24...0922dee
https://github.com/eclipse/openj9-omr/compare/8a77e0c...8d17d5c

[2019-07-06 14:20] pshipton opened #6362 "Test_openjdk13_j9_sanity.functional_x86-64_mac_OpenJDK13 JCL_Test_1 crash vmState=0x0005ffff"
https://ci.eclipse.org/openj9/job/Test_openjdk13_j9_sanity.functional_x86-64_mac_OpenJDK13/7
JDK13 acceptance build
[code]

[2019-07-06 14:22] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_linux_Release/3

[2019-07-07 02:00] mpirvu opened #6364 "With -Xjit:enableJITaaSHeuristics all AOT compilations are local"
Under `-Xjit:enableJITaaSHeuristics` all cold compilations are performed locally because they are deemed inexpensive. AOT compilations are typically performed at 'cold' optimization level, but in a recent change meant to improve rampup time, they are later transformed into warm compilations. The net effect is that AOT compilations are performed locally, because they are perceived as cold, but they

[2019-07-07 03:22] clienthax opened #6366 "Class.getName/Class.getSimpleName odd behaviour"
https://youtrack.jetbrains.com/issue/KT-31667

[2019-07-07 21:35] 0xdaryl commented on #5455
Internal pointers.  Presently unimplemented on ARM and AArch64.

[2019-07-07 21:38] 0xdaryl opened #6367 "Support and enable internal pointers for AArch64"
This issue tracks the work to add proper support for internal pointers for the AArch64 JIT in OpenJ9.

[2019-07-07 21:39] 0xdaryl opened #6368 "Support and enable internal pointers for ARM"
This issue tracks the work to add proper support for internal pointers for the ARM JIT in OpenJ9.

[2019-07-08 01:33] 0xdaryl opened #6369 "Defining J9SW_JIT_FLOATS_PASSED_AS_DOUBLES on Power"
Why is Power the only platform to define the stackwalker macro `J9SW_JIT_FLOATS_PASSED_AS_DOUBLES`?   I understand the effect in the stackwalker when it's defined (or at least I think I do), but it's not clear to me what the Power JIT is doing that's different from the other architectures that requires it to be defined.

Any insight is appreciated.  It will probably turn out to be a "duh!" moment

[2019-07-08 10:39] DanySK opened #6370 "OpenJ9 11 causes failures in tests, maybe related to intern?"
Java -version output
--------------------

[code]
[code]
[code]

------------------

I intercepted a very strange issue. I am reporting it here because it fails *only* on OpenJ9, but it may well be an issue of Eclipse EMF, in which case I apologize.

We wrote a [programming language](www.protelis.org) using Xtext. We set up the continuous integration and found errors only on Open J9 11 and 12 (eve

[2019-07-08 11:02] DanySK commented on #6370
Tools for reproducing the issue:
* clone Protelis: https://github.com/Protelis/Protelis
* checkout commit a43bd82b22043994420ebff9394fc04aafa7e5b5
* make sure that you are using OpenJ9 11 or 12
* launch `./gradlew protelis-lang:test`

Build result: https://travis-ci.org/DanySK/Protelis/builds/554978384

[2019-07-08 12:34] zl-wang commented on #6369
Historically, there is no single-precision format representation in register on POWER architecture.  It is still true as to the scalar part of the architecture.  SP float is only available in memory.  SP value is represented in DP format in register. There is rounding to SP instruction, but that just means preparing for SP values (format is still DP).

I guessed this is the reason for that flag.

[2019-07-08 12:44] DanHeidinga commented on #6370
There is one difference in String.intern() behaviour I'm aware of - OpenJ9 currently returns a new instance of the string when its interned as we keep all interned strings in Tenure (old space).

Does the code in question always assign the interned string back to the correct location for your application (ie: into the array)?

The local `s` in the code below isn't guaranteed to be `==` to the inte

[2019-07-08 12:51] DanHeidinga commented on #6366
@mikezhang1234567890 can you look at this?

[2019-07-08 13:19] pshipton commented on #6239
Another one https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Personal/20

[2019-07-08 13:59] gacholio commented on #6369
Yes, it's because P doesn't split the double registers into two float registers. It may also be desireable to do this for performance reasons on other architectures.

[2019-07-08 14:01] zl-wang commented on #6369
Overall, this is a transparent scheme of hardware implementation.  By and large, you don't need to know SP value is represented in DP format in register, as long as you stick to type promotion rules of high-level language.  So, one performance side-effect:  if you feed a true DP value into a single-precision operation without rounding it to SP first, you may cause performance glitches on certain h

[2019-07-08 15:23] mikezhang1234567890 commented on #6366
Looking into it.

[2019-07-08 17:44] a7ehuo commented on #6364
I'll make the change

[2019-07-08 17:51] simonameng opened #6378 "`disableAsyncCompilation` not apply to `-Xaot` command"
I tried to run a unit test to reproduce a failure. The unit test was able to have my wanted function compiled in `-Xjit` option with `disableAsyncCompilation` sub-option. However, when I tried to change the `-Xjit` into `-Xaot` with the same sub-options, the wanted function didn't get compiled.

We found that the `TR::CompilationInfo::asynchronousCompilation()` function seems not checking the `AOT

[2019-07-08 17:51] simonameng commented on #6378
@fjeremic @dsouzai

[2019-07-08 17:57] fjeremic commented on #6378
@dsouzai thoughts on this? Should we add an `||` for `-Xaot` options as well? It was certainly non-obvious to me that we will ignore the option unless it's specified under `-Xjit`

[2019-07-08 18:25] pshipton commented on #6248
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_extended.system_s390x_linux_Nightly/85

[2019-07-08 18:28] pshipton opened #6380 "cent6-x64-1 index-pack died of signal 15 - disabled"
[code]
Disabled the machine

[2019-07-08 18:28] pshipton commented on #6380
@AdamBrousseau

[2019-07-08 18:47] PascalSchumacher opened #6382 "How to exit on OutOfMemoryError?"
We are using `adoptopenjdk/openjdk11-openj9:jre-11.0.3_7_openj9-0.14.3-alpine`.

After a container encontered a `java.lang.OutOfMemoryError: Java heap space` a heap dump was generated:

JVMDUMP010I Heap dump written to //heapdump.20190704.162223.1.0012.phd
JVMDUMP013I Processed dump event "systhrow", detail "java/lang/OutOfMemoryError".
JVMDUMP010I Snap dump written to {nothing to snap}
JVM reques

[2019-07-08 18:48] apaj commented on #5058
Hi @ChengJin01 ,
thank you and everyone else for the effort on this matter.

I am trying to repeat what you reported above ([running a cross-compiled binary in QEMU/Fedora](https://github.com/eclipse/openj9/issues/5058#issuecomment-497123404)), but coming from the hardware background I seem to be having some very basic issues...

I do have a RISCV toolchain set (on top of Mint 18), I have been usi

[2019-07-08 18:51] DanHeidinga commented on #6382
`throw` covers exceptions thrown by java code.  An OOM is typically thrown by the vm and would require `systhrow`.

Try `-Xdump:tool:events=throw+systhrow,filter=java/lang/OutOfMemoryError,exec="kill -9 %pid"`

[2019-07-08 18:54] DanHeidinga commented on #6382
`-XX:+ExitOnOutOfMemoryError` seems like a reasonable thing to implement.

@PascalSchumacher would you still expect to get the diagnostic files (core, javacore, heapdump, etc)?

[2019-07-08 19:15] AdamBrousseau commented on #6380
When was this? I saw 5 in the Slack channel overnight, all the same machine. Just wondering if it has happened since.
I removed the build/test labels off the machine temporarily and am running a build on that machine to see if it was a temp network blip.
https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-Personal/2/

[2019-07-08 19:17] dsouzai commented on #6378
Unfortunately there's more options like this that are only (or mostly) checked via the `-Xjit` option. The problem stems from the fact that the `-Xjit` options are used for global flags as well as JIT compilation flags. Probably an artifact of the fact that there was only JIT compilations in the beginning and AOT support was added later.

A flag like `disableAsyncCompilation` is weird because thou

[2019-07-08 19:40] PascalSchumacher commented on #6382
Thank you very much! I will try it tomorrow.

`-XX:+ExitOnOutOfMemoryError` on Hotspot just terminates without creating any diagnostic files. If you add options to create diagnostic files like `-XX:+HeapDumpOnOutOfMemoryError` the files are created before terminating.

[2019-07-08 20:00] ChengJin01 commented on #5058
Hi @apaj,
We have not yet merged/publicized all our changes including OpenJDK & OpenJ9 & OMR (plus the compilation steps) because there are still a bunch of work left to be addressed on the native compilation. A few OMR JIT developers are able to compile a cross-build after they downloaded our changes privately only for their test and further work on JIT side.

So you will end up with any compilat

[2019-07-08 20:14] pshipton commented on #5918
This should be resolved now by #6174

[2019-07-08 20:16] pshipton commented on #3422
@gita-omr can this be resolved now?

[2019-07-08 20:20] #3422 closed

[2019-07-08 20:21] pshipton commented on #4675
No plans to complete this for 0.16, moving it forward.

[2019-07-08 20:22] pshipton commented on #3781
No plans to complete this for 0.16, moving it forward.

[2019-07-08 20:24] pshipton commented on #5831
As shared classes has been enabled by default in #6271, I expect this can be closed.

[2019-07-08 20:24] #5831 closed

[2019-07-08 20:26] pshipton commented on #4503
Not a priority for the 0.16 release, moving it out.

[2019-07-08 20:26] ChengJin01 commented on #5058
@apaj,  we can send the basic compilation steps & link of changes to you to get started if you are interested in compile a cross-build from the scratch for private use (please provide an e-mail to me for confirmation)

[2019-07-08 20:27] pshipton commented on #3450
Not sure this needs to be assigned to any milestone. There is a project https://github.com/eclipse/openj9/projects/8 for tracking JTReg failures.

[2019-07-08 20:29] pshipton commented on #5777
I don't think it needs to be in a milestone plan since it isn't blocking anything. Not sure if this will ever be fixed.

[2019-07-08 20:30] pshipton commented on #5605
This problem doesn't need to be tracking against a milestone, it is a todo in the cmake project.

[2019-07-08 20:34] pshipton commented on #2838
Moving forward until this picks up again.

[2019-07-08 20:36] pshipton commented on #5224
Moving forward until this picks up again.

[2019-07-08 20:57] pshipton commented on #6380
I created this because of the 5 overnight failures, haven't seen it since. As I recall, in the past when a machine started doing this, it didn't fix itself.

[2019-07-08 21:39] fjeremic commented on #6248
Fix is still there in eclipse/omr#4103 waiting to be reviewed and merged. @0xdaryl could you be a committer for this issue given that it's popping up more frequently now?

[2019-07-08 21:42] AdamBrousseau commented on #6380
It clones in the build job fine but we use a ref repo for the OpenJDK repo which is where there is a timeout used. When we clone OpenJ9 and OMR there is no timeout but it takes 6 minutes for OMR and 11 minutes for OpenJ9 (which is slow). In the test job there is a 10 minute timeout on the Adopt openjdk-tests repo which is where it's failing. Should also note that the machine clock is 2.5 hours beh

[2019-07-08 22:08] AdamBrousseau commented on #6380
@HusainYusufali Do you know anything about the time server at UNB or how this machine could be out of sync?

[2019-07-08 23:10] ChengJin01 commented on #5225
If all exceptions should be captured in` verifyQualifiedName()`, then this function doesn't work correctly to handle `; , . [` because the debugging indicates even `ClassNotFoundException `is thrown out due to failure to find the class via `internalFindClassString() `rather than being captured in `verifyQualifiedName()`.

I am trying to refactor the code in ` verifyQualifiedName()` to ensure it ca

[2019-07-09 01:26] knn-k opened #6387 "AArch64: Build break with J9::ARM64::TreeEvaluator::newObjectEvaluator()"
The wrong curly bracket causes a build break.

https://github.com/eclipse/openj9/blob/f8842ae06a151a0648118072d22eb4cb83699f29/runtime/compiler/aarch64/codegen/J9TreeEvaluator.cpp#L150-L153

[2019-07-09 01:40] knn-k commented on #6387
This is fixed by #6383.

[2019-07-09 01:40] #6387 closed

[2019-07-09 08:37] hi5san opened #6391 "RMI LocateRegistry#createRegistry() not handling useCodebaseOnly=false correctly"
Java -version output
--------------------
openjdk version "11.0.3" 2019-04-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.3+7)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.14.3, JRE 11 Mac OS X amd64-64-Bit Compressed References 20190531_242 (JIT enabled, AOT enabled)
OpenJ9   - b8ab01656
OMR      - b56045d2
JCL      - dcdc97f9dc based on jdk-11.0.3+7)

Summary of problem
--------------

[2019-07-09 08:46] DanySK commented on #6370
[I asked on the EMF bugzilla](https://bugs.eclipse.org/bugs/show_bug.cgi?id=549084).

[2019-07-09 08:57] PascalSchumacher commented on #6382
I tried `-Xdump:tool:events=throw+systhrow,filter=java/lang/OutOfMemoryError,exec="kill -9 %pid"` but it failed with

JVMDUMP039I Processing dump event "systhrow", detail "java/lang/OutOfMemoryError" at 2019/07/09 06:49:42 - please wait.
...
JVMDUMP007I JVM Requesting Tool dump using '"kill -9 1"'
JVMDUMP011I Tool dump created process 94
/bin/sh: kill -9 1: not found
...

[2019-07-09 12:46] pshipton opened #6393 "sanity.system x86-64 crash LambdaLoadTest_ConcurrentScavenge_0 vmState=0x00020026"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.system_x86-64_windows_Nightly/83
[code]

[2019-07-09 12:48] pshipton commented on #6393
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_x86-64_linux_xl_Nightly/90
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_xl_Nightly/91
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_windows_Nightly/84/tapResults/
[code]
3221225477 == 0xC0000005

[2019-07-09 12:51] pshipton commented on #6393
OpenJ9: 8d50d8a
OMR: 8d17d5c
OpenJDK8: 027513e - openj9-openjdk-jdk8
OpenJDK11: 91be204 - openj9-openjdk-jdk11
OpenJDK12: c0016f1 - openj9-openjdk-jdk12

previous:
OpenJ9: 44cb179
OMR: 8d17d5c
OpenJDK8: 027513e - openj9-openjdk-jdk8
OpenJDK11: 91be204 - openj9-openjdk-jdk11
OpenJDK12: c0016f1 - openj9-openjdk-jdk12

Changes:
https://github.com/eclipse/openj9/compare/44cb179...8d50d8a

[2019-07-09 13:53] dmitry-ten opened #6395 "JITServer systemtest failures"
When running `sanity.systemtest` on jenkins, discovered two intermittent failing tests:
`MathLoadTest_bigdecimal_0`- 1/100 failures in Grinder (haven't run baseline yet)
`DaaLoadTest_daa2_ConcurrentScavenge` - 1/100 failures in Grinder (run 200 times for baseline, no failures).
Both failures are segfaults.

[2019-07-09 14:09] HusainYusufali commented on #6380
The machines were probably setup with the default time servers when installed. You can check which servers are being used in `/etc/ntp.conf`

[2019-07-09 15:03] keithc-ca opened #6399 "OpenJ9DiagnosticsMXBeanImpl should work in the absence of the openj9.jvm module"
The implementation should not depend upon `com.ibm.jvm.Dump` but instead have its own native methods which can reuse code used by the native methods of `com.ibm.jvm.Dump`.

[2019-07-09 15:03] AdamBrousseau commented on #6380
Last test build cloned in under a minute (after restart)
[code]
Will look at the clock issue now but I think we can add it back to the pool once I get that sorted.

[2019-07-09 15:19] #6092 closed

[2019-07-09 15:23] dmitry-ten commented on #5759
Fixed by #5934

[2019-07-09 15:23] #5759 closed

[2019-07-09 15:32] pshipton commented on #6399
Note a similar change will be required for jcmd https://github.com/eclipse/openj9/issues/5164

[2019-07-09 15:38] AdamBrousseau commented on #6380
ran `ntpdate` which has corrected the time. Not sure why it was skewed or if there is an underlying issue that will come back.
[code]

[2019-07-09 16:45] DanySK commented on #6370
A question from there: may `assert s.intern() == s.intern()` ever fail under any condition?

[2019-07-09 17:03] DanHeidinga commented on #6370
That should always succeed as the first `intern()` call will intern the string, allocating a new instance in tenure, and the second call will return the pre-interned string.

It's important to note that the above code is different than doing:
[code]
as the **first** intern call is allowed to create the tenured object.

[2019-07-09 17:39] simonameng commented on #5702
@gita-omr @fjeremic Yes. I wrote a unit test and tested on Power machine. Both `java.lang.Math.sqrt` and `java.lang.StrictMath.sqrt` will be transformed to `dsqrt` and using `dsqrtEvaluator`. The `dsqrtEvaluator` will generate the `TR::InstOpCode::fsqrt` instruction.

[2019-07-09 17:47] llxia commented on #4643
Noticed this failure in PR build:
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_ppc64_aix_Personal/39/tapResults/

[2019-07-09 18:32] #6291 closed

[2019-07-09 18:33] #6364 closed

[2019-07-09 18:56] harryyu1994 commented on #6351
Investigating what's wrong with jitaas on java11. The server crashed upon startup.

[2019-07-09 19:06] pshipton commented on #5918
Fixed for the 0.15 release via https://github.com/eclipse/openj9/pull/6401

[2019-07-09 19:35] RSalman commented on #6393
Investigating this - related to https://github.com/eclipse/openj9/pull/6048

[2019-07-09 20:25] llxia commented on #4131
With PR https://github.com/eclipse/openj9/pull/6001, functional tests are tagged with proper impls and should be able to run against non-openj9 JVMs.

[2019-07-09 20:35] fjeremic opened #6404 "Accelerate java.lang.String.indexOf(String, int) in Java 9+"
While investigating #6403 I noted that we did not have to make the fix for Java 9+. The reason is because of the way we implement the `indexOf(String, int)` API in Java 9+ [1] using the helpers already available in `StringLatin1` and `StringUTF16`. These helper methods [2] [3] effectively reduce to the `JITHelpers` `intrinsicIndexOfStringLatin1` and `intrinsicIndexOfStringUTF16` APIs which already

[2019-07-10 11:48] 0xdaryl commented on #6347
Thanks @fjeremic.  @gita-omr, any thoughts from the Power perspective?

[2019-07-10 11:55] lumpfish opened #6411 "jdk12.0.1+0-preview_openj9-0.15.0-m1 s390x crash running test MathLoadTest_bigdecimal_ConcurrentScavenge"
Test failure at AdoptOpenJDK:

Failure link
------------
Jenkins job output has been cleaned, some captured output of the crash is below.

Test category: system
Test case: MathLoadTest_bigdecimal_ConcurrentScavenge (openjdk-systemtest repo)
OS/architecture: Linux s390x
OpenJDK version:
[code]

Optional info
-------------

- intermittent failure (yes|no):  yes - test passed on rerun

Failure output

[2019-07-10 12:04] jerboaa commented on #4131
Thanks, @llxia.

[2019-07-10 12:04] #4131 closed

[2019-07-10 12:21] DanHeidinga commented on #6382
There's something interesting going on here as it works fine outside docker:
[code]

We'll need to look at the code(port library?) that maps `%pid` to the actual pid and why it might be different in a container.

[2019-07-10 12:23] DanHeidinga opened #6412 "Support the `-XX:+ExitOnOutOfMemoryError` option"
-XX:+ExitOnOutOfMemoryError on Hotspot just terminates without creating any diagnostic files. If you add options to create diagnostic files like -XX:+HeapDumpOnOutOfMemoryError the files are created before terminating.

The implementation would be to exit on any java.lang.OutOfMemoryError whether thrown by the VM or by user code.

The "exit check" would have to be after the hook that generates the

[2019-07-10 12:23] DanHeidinga commented on #6382
Opened https://github.com/eclipse/openj9/issues/6412 to track adding the `-XX:+ExitOnOutOfMemoryError` option

[2019-07-10 12:26] lumpfish commented on #6411
Failure reoccurred once in a 10x Grinder rerun: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder-systemtest/176/consoleFull

[2019-07-10 12:43] DanHeidinga commented on #6411
Crash in a compiled method:
```Compiled_method=java/math/BigInteger.([CII)V```

@fjeremic Can you take a look at this?  Note, it's a crash on the `0.15.0` milestone 1 build so we'll need to determine if this has to be fixed before the release asap.

[2019-07-10 12:45] DanHeidinga commented on #6411
Tentatively tagging this against the 0.15 milestone while the determine of whether or not it's a stop ship.

[2019-07-10 12:49] PascalSchumacher commented on #6382
Thank you very much.

I guess this is not a OpenJ9 Problem. We do not use an entry-point script for our containers. Therefore OpenJ9 has PID `1`:

[code]

My knowledge of linux is very limited, but from googling it seems like PID 1 can not be killed.

I guess we either have add an entry-point script (so that OpenJ9 has another PID) or wait for #6412 to be implemented.

Thanks again for your help a

[2019-07-10 12:49] #6382 closed

[2019-07-10 12:58] lumpfish commented on #6411
The dumps from the 10x Grinder job are in the job output:  https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder-systemtest/176/artifact/systemtest_test_output.tar.gz

[2019-07-10 14:36] fjeremic commented on #6411
@NigelYiboYu can you help take a look? I'm fairly certain this is software CS.

[2019-07-10 14:52] #4855 closed

[2019-07-10 14:56] pshipton commented on #6393
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.system_x86-64_linux_Nightly/92
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_x86-64_windows_Nightly/87

@RSalman @amicic is a fix expected soon? I would revert the change for now since it is causing failures.

[2019-07-10 14:57] gacholio commented on #6412
Might this be better done as an -Xdump option, where it could use the existing filter mechanisms to allow any exception, etc?

[2019-07-10 14:57] pshipton commented on #6248
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_s390x_linux_Nightly/87

[2019-07-10 15:02] charliegracie commented on #6412
Supporting the exact same option as HotSpot will help with transitioning to OpenJ9. That being said a more generic solution would be great. This option could just take advantage of the generic solution.

[2019-07-10 15:06] charliegracie commented on #6393
I would not revert the change. Can we just disable this new optimization it for concurrent scavenge?

[2019-07-10 15:09] RSalman commented on #6393
Working on a fix, expecting to have something in for the end of day.

[2019-07-10 15:20] cedrichansen commented on #6228
I looked into the issue, and the problem essentially boils down to the following points.

1. The biggest issue, is that Libasan5 takes up ~15 TB of memory (https://github.com/google/sanitizers/wiki/AddressSanitizerIncompatiblity), which was confirmed after looking at /proc/<pid>/maps when preloading Libasan. Libasan would always occupy very early address range (between about 1.8Gb - 15Tb or so), o

[2019-07-10 15:34] pshipton commented on #6411
@fjeremic is this a dup of https://github.com/eclipse/openj9/issues/6248 ?

[2019-07-10 15:55] ChengJin01 commented on #5225
Already verify the failing test with the code changes:
[code]
And no issue was detected on personal builds on OpenJ9 & internal Java 8.

[2019-07-10 16:32] gita-omr commented on #6347
Similar to Z, on P, resolve check is implicit and is done by evaluating the child. So I think this comment can be removed on Power.

[2019-07-10 16:49] gita-omr commented on #5702
Excellent, thanks for checking current behavior!

[2019-07-10 17:00] fjeremic commented on #6347
I don't think this is the case. As far as I can see on Power in `evaluateNULLCHKWithPossibleResolve`  we always generate the NULLCHK before the resolve [1], so almost certainly the bug described by @0xdaryl exists on Power today.

The NULLCHK is generated at line in [2] and is unguarded. There is a call to `cg->evaluate` a few lines before which evaluates the reference which the NULLCHK is acting

[2019-07-10 17:02] DanHeidinga commented on #6412
We have support for `-Xdump:tool:events=throw+systhrow,filter=java/lang/OutOfMemoryError,exec="kill -9 %pid"` which effectively does the same thing in a less straightforward way.

Unfortunately, it doesn't work in Docker when the JVM ends running as `pid 1`.

I'm fine with adding a new "exit" action to the Xdump so it can be used by other -Xdump options.  As @charliegracie says, adding the `-XX:+E

[2019-07-10 17:05] fjeremic commented on #6347
@0xdaryl if I understand correctly for the following tree:

[code]

The resolve is acting on the child and the NULLCHK on the grandchild. In this case the bug that was fixed was that the resolve had to happen first and then the NULLCHK? Am I understanding this correctly? I think a tree example may help.

[2019-07-10 17:14] #5702 closed

[2019-07-10 17:28] pshipton commented on #4530
MessageDigest native crypto has been disabled in master.
ibmruntimes/openj9-openjdk-jdk8#318
ibmruntimes/openj9-openjdk-jdk11#190
ibmruntimes/openj9-openjdk-jdk12#59

[2019-07-10 18:02] harryyu1994 commented on #6351
Limited to this one method that caused the crash on client: (when running java -version)
[code]

[2019-07-10 18:22] ChengJin01 commented on #5058
I notice the cross-toolchain at https://github.com/riscv/riscv-gnu-toolchain changed up to date recently. Need to double-check to see whether the last changes with less adjustment (specifically whether the linux-headers, riscv-gcc and riscv-glibc in there matches during compilation) work correctly to compile a cross-build before getting started to address the issue with the native `awt `library on

[2019-07-10 18:27] fjeremic commented on #6411
Good point. Thanks for the suggestion. I looked at the core file from https://github.com/eclipse/openj9/issues/6411#issuecomment-510049872 and we can see:

[code]

This is identical to the instruction sequence seen in https://github.com/eclipse/openj9/issues/6248#issuecomment-505588626.

The register context says the value of GPR7 has some garbage in the upper half which is the result of the same

[2019-07-10 18:42] kobinau commented on #4657
Looks like our culprit is:
org/openj9/test/unsafe/UnsafeTestBase.testGetLong(Ljava/lang/Object;Ljava/lang/String;)
excluding the method from optimization, results in no intermittant error from what I've found.
Narrowing down optimization level culprit. Looks like each of the 3 failures is due to a separate optimization issue.

[2019-07-10 19:02] #6248 closed

[2019-07-10 19:16] DanHeidinga commented on #6411
@fjeremic Should  eclipse/omr#4103 be ported to the 0.15.0 release branch?  How risky is the change?

[2019-07-10 20:00] fjeremic commented on #6411
The original Load Extensions optimization was introduced as part of eclipse/omr#2205 which was merged on January 13, 2018. The bug has been present in the code base since. We've only in the last few weeks started seeing reproductions of it. I would classify the fix as low risk given we're disabling (removed altogether) a faulty optimization. Since we've started to hit the problem more often now I'

[2019-07-10 20:08] fjeremic commented on #6411
Opened up https://github.com/eclipse/openj9-omr/pull/30.

[2019-07-10 20:09] liqunl opened #6421 "Fix CFG generated in ILGen when ifcmp folding has kicked in"
The block joining code currently can't handle some cases where ifcmp is folded, resulting in bad CFG. One example is the String constructor
[code]

If we fold the static final field `String.enableCompression` to 0, this opt will kick in. However, after `decompressedArrayCopy`, we'll go to throw `StringIndexOutOfBoundsException`.

If there is no easy way to fix, we'll have to do it post ILGen.

[2019-07-10 20:54] harryyu1994 commented on #6351
Server log file and client log file seems to have the same j2i thunk address `00007EFC8D3110B8`. It probably means we didn't relocate the thunk properly.

[2019-07-10 21:02] harryyu1994 commented on #6351
[code]
looking at the `relocateThunks()` function

[2019-07-10 22:25] RSalman commented on #6393
Can we revert the change, this exposed a larger issue (for non-CS as well). Will need some more time to think about this.

[2019-07-10 22:57] pshipton commented on #6393
"Sorry, this pull request couldn’t be reverted automatically. It may have already been reverted, or the content may have changed since it was merged."

You'll have to open a PR to manually revert it.