[2022-01-31 21:39] hangshao0 commented on #14198
Looking at the trace history, JVM1:
[code]

JVM2:
[code]

The first item in the cache is `SCOPE !j9utf8 0x00007F46EFAE8FEC J9AOTHeader`. They both failed when exiting the write lock after reading the cache. The code is:

https://github.com/eclipse-openj9/openj9/blob/0d09d580887e406a434ecf2a195c6c1a64cc72c8/runtime/shared_common/CacheMap.cpp#L673-L689

If the timestamps of the trace points are corr

[2022-01-31 21:40] hangshao0 commented on #14198
We use OMR API `omrfile_lock_bytes()` which calls `fcntl()` for file lock. @TueDissingWork Can you please try with option `-Xtrace:maximal={omrport.246-254,j9shr.744-749}` (you can set it in `OPENJ9_JAVA_OPTIONS`), so that we can make sure correct values are passed to these APIs.

[2022-01-31 21:52] pshipton commented on #14198
What type of file system does the shared cache reside on? We know file locking doesn't work on NFS and the JVM detects when the cache would be on this file system and fails to enable the shared cache, which also fails to start the JVM unless running with `nonfatal`.

[code]

[2022-01-31 21:55] hzongaro opened #14402 "Missed opportunities for transformation of value type array helpers by Value Propagation"
Consider the following test Java program.

[code]
If the test is run as follows:

[code]

some potential opportunities are missed in Value Propagation with value types support enabled.

In `sub4`, when storing an `Integer` value to an array with component type `Integer`, an `ArrayStoreCHK` is not needed, but Value Propagation misses that opportunity in transforming the call to the `jitStoreFlatten

[2022-01-31 22:02] hangshao0 commented on #14198
`/home/tue/javasharedresources/` is being used. So the question is what kind of file system is `/home/tue/javasharedresources/`. We discourage use of network/mounted/shared drive.

[2022-02-01 02:00] tajila commented on #14398
@mikezhang1234567890 Can you please take a look at this

[2022-02-01 09:50] TueDissingWork commented on #14198
Sure I can add more details. Will run the test shortly.
I am running this on a Windows 10 host inside WSL1.

[2022-02-01 09:56] TueDissingWork commented on #14198
The `mvn test` run exits with this error:
[code]
Here's the associated dump files:
[java-trace-maximal.zip](https://github.com/eclipse-openj9/openj9/files/7977452/java-trace-maximal.zip)

[2022-02-01 12:21] Maldivia commented on #14398
Locally I fixed it with the following, so I could run with module tracing; but don't know if changing the NULL check from `toModule` to `j9ToMod` is the correct way (but it accomplished what I needed it to do at the time).
[code]

[2022-02-01 12:37] pshipton commented on #14198
This is not a supported platform.

[2022-02-01 12:46] pshipton opened #14404 "jdk19 failing to compile"
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/221/

https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/661ba3c8f01...b90944f187b

Guessing this is caused by https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/68c2fa0344f4bcc695042f01473d490db9b44340 "8280534: Enable compile-time doclint reference checking"
[code]

@JasonFengJ9 @keithc-ca

[2022-02-01 13:11] pshipton opened #14405 "OpenJDK ProcessBuilder/Basic.java ArrayIndexOutOfBoundsException CharacterDataLatin1.getProperties"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_windows_Nightly/203
jdk_lang_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops`
java/lang/ProcessBuilder/Basic.java
[code]

Similar to https://github.com/eclipse-openj9/openj9/issues/11799

[2022-02-01 13:12] pshipton commented on #14115
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_ppc64le_linux_Nightly_testList_1/194/

This failure continues to happen regularly. I'm not going to keep reporting them. Look at the nightly builds for the latest failures, or ask me.

[2022-02-01 13:37] pshipton opened #14406 "SC_Softmx_UpDown crash vmState=0x000501ff"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_linux_Nightly_testList_2/86 - cent8-aarch64-2
SC_Softmx_UpDown_1 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

vmState [0x501ff]: {J9VMSTATE_JIT_CODEGEN} {inlining}

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.system_aarch64_linux_Nightly_testList_2/86/
14.jvm3.stderr
[code

[2022-02-01 13:49] pshipton commented on #14067
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_Nightly/144 - cent7-x64-6
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/ResourceBundle/UTF8Properties/CodePointTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_x86-

[2022-02-01 13:53] pshipton opened #14407 "JITServer testServerComesUpAfterClientAndGoesDownAgain Failed to properly start server, it terminated prematurely with exit value: 1"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_OMR_testList_0/150 - cent7-x64-6
testJITServer_0 `-Xcompressedrefs -Xjit -Xgcpolicy:gencon`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.functional_x86-64_linux_OMR_testList_0/150/functional_test_output.tar.gz
[code]

@mpirvu

[2022-02-01 14:11] tajila commented on #14398
@Maldivia feel free to create a PR with your changes. Thanks for looking into this

[2022-02-01 15:12] tajila commented on #13470
@JasonFengJ9 are we done this?

[2022-02-01 15:14] tajila commented on #14226
@mikezhang1234567890 Can you please take a look at this

[2022-02-01 15:26] mpirvu commented on #14407
Attn: @cjjdespres

[2022-02-01 15:33] mpirvu commented on #14407
@pshipton is this issue blocking omr acceptance by any chance?  I am seeing this: "Started by upstream project Pipeline-OMR-Acceptance"

[2022-02-01 15:42] DanHeidinga commented on #14120
@JasonFengJ9 can you update if this is being seen in the IBM builds still?

[2022-02-01 16:07] hangshao0 commented on #13695
A bit update on the APIs: https://github.com/eclipse-openj9/openj9/issues/13615#issuecomment-1024625349

[2022-02-01 16:25] JasonFengJ9 commented on #14120
The JDK11 failure reported initially wasn't seen in recent builds.

The JDK18 segmentation errors are still happening such as `job/Test_openjdk18_j9_sanity.system_x86-64_linux_testList_1/4`, `Test_openjdk18_j9_sanity.system_ppc64le_linux_testList_0/2/`, etc.
It might be another manifestation of https://github.com/eclipse-openj9/openj9/issues/14228

The blocker label was added after reporting of mu

[2022-02-01 16:33] pshipton commented on #14407
No it didn't block the acceptance. The only OMR change was AArch64 specific and these builds passed, so I manually promoted the OMR level.

[2022-02-01 17:31] hzongaro commented on #14402
Planned pull requests:

- [ ] Refactor some analysis from `constrainArrayStoreChk` and `constrainArraylength` in VPHandlers.cpp to allow it to be used elsewhere in Value Propagation
- [ ] Update `constrainRecognizedMethod` in `J9::ValuePropagation` to check whether `ArrayStoreCHK`, `arraylength` or `BNDCHK` operations are needed in transforming `jit{Load|Store}FlattenableArrayElement` helper calls

[2022-02-01 17:46] kgibm opened #14410 "DTFJ's JavaHeap.getObjects returns a JavaObject that is a forward pointer and thus fails operations like JavaObject.getSize and getting class information"
The following standalone DTFJ program was run on a core dump (produced by `JRE 1.8.0 Linux s390x-64 (build 8.0.7.0 - pxz6480sr7-20211025_01(SR7))`) to iterate over all `JavaObject` instances returned by `JavaHeap.getObjects` and calling `getSize` on the `JavaObject` instances:

[code]

This fails on the object at address `0x1000000d8`:

[code]

`jdmpview` also shows problems introspecting this obj

[2022-02-01 19:01] mikezhang1234567890 commented on #14226
Also fails on the early access reference jdk18 implementation I tried.

The test uses the format string `private static final String DATE_FORMAT_PATTERN = "EEE MMM dd HH:mm:ss zzz uuuu"` and checks if the data format in the properties file matches that format.

But if you do something like:
[code]
The output for both OpenJ9 and reference implementation is `Tue. Feb. 01 13:55:58 EST 2022` with peri

[2022-02-01 19:10] mpirvu commented on #14366
For some reason the number of profiled compilations hasn't decreased at all.
We are working on redefining what goes under -Xaggressive and we hope to have a build to try in a week or so.

[2022-02-01 20:47] babsingh opened #14412 "Disable Security Manager Tests"
This issue applies to tests that utilize `System.setSecurityManager`.

### JDK18

In **JDK18**, the security manager is disallowed by default when the `java.security.manager` system property is not specified. Currently, the security manager tests in OpenJ9 cannot be selectively disabled. To keep the security manager tests correctly functioning, `-Djava.security.manager=allow` needs to be specified

[2022-02-01 20:49] babsingh commented on #14412
fyi @pshipton @tajila @smlambert @llxia @renfeiw

[2022-02-01 20:52] babsingh commented on #14412
@pshipton when the security manager will be removed, do we need to disable compilation of those tests? or disabling the tests during runtime should be sufficient?

[2022-02-01 21:02] dblinn commented on #14366
OK thank you @mpirvu . In the meantime my team and I are looking into removing the `-Xaggressive` and `-Xtune:virtualized` flags because the performance penalty we are seeing with either enabled is so high.

For our information, can you provide a bit more detail on why the large amount of time spent running profiled compilations is problematic to application performance? My understanding is that t

[2022-02-01 21:15] JasonFengJ9 commented on #9851
Appeared at JDK11 `0.30.0` release build `job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_testList_1/13/`
[code]

[2022-02-01 21:16] LongyuZhang commented on #13891
Hi @RSalman , after creating the new `cmdLineTester_GCRotatingVerboseLogTests`, it now also passed Vmfarm on xlinux, win, and zos (build_id=21493), could you check if these commands are the ones we intend to test? Thanks.

[2022-02-01 21:25] JasonFengJ9 commented on #13813
Appeared in a JDK11 `0.30.0` release build `job/Test_openjdk11_j9_sanity.system_aarch64_linux_testList_1/49/`(`cent7-aarch64-5`).
[code]

[2022-02-01 21:37] JasonFengJ9 commented on #14140
A failure `java/util/concurrent/tck/JSR166TestCase.java` at JDK11 `0.30.0` release build `job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_testList_1/59/` (`paix911 `)
[code]

[2022-02-01 21:41] pshipton commented on #14412
I expect the tests won't compile on the new jdk since there won't be any java.lang.SecurityManager class available.

[2022-02-01 21:44] JasonFengJ9 commented on #14193
Appeared at JDK11 `0.30.0` release build `job/Test_openjdk11_j9_extended.functional_ppc64_aix_testList_2/166/`(`paix818`)
[code]

[2022-02-01 21:54] JasonFengJ9 commented on #14405
A similar AIOOBE appeared at a JDK11 `0.30.0` release build `job/Test_openjdk11_j9_extended.openjdk_x86-64_linux/52/`(`ub20x64rt3-2`)
[code]

50x grinder - `job/Grinder/20588/`.

[2022-02-01 22:04] JasonFengJ9 opened #14413 "MiniMix_5m_0 testFailure: testHandlerReadWriteSingle(net.adoptopenjdk.test.nio2.asyncio.client.MultipleReadWriteAsyncTest): java.net.ConnectException: Operation timed out"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_extended.system_x86-64_mac_testList_1/53/`(`mac11x64rt10 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=MiniMix_5m_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_extended.system_x86-64_mac&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NO

[2022-02-01 22:14] JasonFengJ9 commented on #12796
Appeared at a JDK11 `0.30.0` release build `job/Test_openjdk11_j9_extended.openjdk_x86-64_windows/46/`(`win16x64cudart1`)
[code]

[2022-02-01 22:21] pshipton commented on #14193
Seems this AIX failure on jdk11 will always occur, the test doesn't work in the 0.30 release, we didn't have time to fix it. It should be fixed for the next release. The test started failing because we got new AIX machines which have quite a bit of memory, making the default -Xmx very large. The solution seemed to be to set a fixed -Xmx, but this caused the AIX failure we have now, which is still

[2022-02-01 22:34] babsingh commented on #14412
The above statement is wrong. The system tests do use the Security Manager. Initially, I only looked at https://github.com/adoptium/aqa-systemtest. The system tests use code from https://github.com/adoptium/STF which utilizes the Security Manager.

Personal build: https://hyc-runtimes-jenkins.swg-devops.com/view/OpenJ9%20-%20Personal/job/Pipeline-Build-Test-Personal/11686/

With JDK18's `java.secu

[2022-02-01 22:55] Mesbah-Alam commented on #14412
[code]

Yes, all load tests in STF based system tests will invoke LoadTests.java and thus invoke overrideSecurityManager(). From the comment in the code, it was added there to "block System.exit attempts" - that'd probably be made by the third party Mauve tests that system tests run. We need to find a replacement solution to do the same; we may add `-Djava.security.manager=allow` for JDK18 as a te

[2022-02-02 02:08] pshipton commented on #14412
For jdk18 using `-Djava.security.manager=allow` is the permanent solution. I'm guessing sometime between jdk19 and jdk21 (and I'm leaning towards jdk19) the java.lang.SecurityManager will be removed. `-Djava.security.manager=allow` won't work and code that uses SecurityManager won't compile. We should consider how we are going to handle that when it happens.

The other one to think about is https:

[2022-02-02 03:17] jdekonin commented on #14193
We could drop the ram assigned to be what we had previously.  Leaving it on 1 node, but strip the labels so test jobs or grinders can still be directed to it.  What do you think?

[2022-02-02 03:49] pshipton commented on #14193
The ram is fine. Dropping it now won't fix the test. There is a mystery about why reading multiple core files causes OOM when running with gencon. We already know we could fix the test by using a different gc policy or increasing the -Xmx, but would like to figure out why using gencon causes OOM.

[2022-02-02 04:45] knn-k commented on #14387
Building DDR tests in Jenkins jobs fails as shown below.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_mac_Personal_testList_0/1/consoleText

[code]

[2022-02-02 13:00] JasonFengJ9 commented on #14412
If that's a correct prediction, disabling Security Manager tests (build & run) can start from JDK18 instead of setting `-Djava.security.manager=allow` for non-LTS versions before its actual removal. The tests for JDK17 and earlier LTS levels should be retained.

JEP 421 (Finalization removal) will have similar requirements as well, but I think it is in much smaller scale comparing to how much secu

[2022-02-02 13:51] vijaysun-omr commented on #13192
@gacholio it seems that the finalizable and ownable synchronizer cases are handled by the query (which prevents their stack allocation) : https://github.com/eclipse-openj9/openj9/blob/739de03a5b06304d984b4581b33a3d21305545fa/runtime/compiler/env/J9ClassEnv.cpp#L84

Synchronization on stack allocated objects is rare since escape analysis marks such monent/monexit as "local object monitor" operation

[2022-02-02 14:37] JasonFengJ9 opened #14414 "JDK18 jdk/internal/reflect/Reflection/GetCallerClassTest.java mismatched caller: class GetCallerClassTest"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_sanity.openjdk_aarch64_linux_testList_0/6/`(`ub18-aarch64-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_lang_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_sanity.openjdk_aarch64_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE_

[2022-02-02 15:17] tajila commented on #14414
This is a known issue jdk/internal/reflect/Reflection/GetCallerClassTest.java#id2 & id3 will not pass, since our directMethodHandle=false behaviour differs from the RI. We are not planning on fixing this. I made a mistake and excluded the wrong tests in https://github.com/adoptium/aqa-tests/pull/3287

[2022-02-02 15:17] babsingh commented on #14414
Is the failure related to your note in https://github.com/eclipse-openj9/openj9/issues/14097#issuecomment-1023332009?

[2022-02-02 15:22] tajila commented on #14414
https://github.com/adoptium/aqa-tests/pull/3311

[2022-02-02 15:25] JasonFengJ9 commented on #14414
Moving out the iteration plan as per comment https://github.com/eclipse-openj9/openj9/issues/14414#issuecomment-1028045431 https://github.com/eclipse-openj9/openj9/issues/14414#issuecomment-1028046002

[2022-02-02 15:44] JasonFengJ9 commented on #14231
Closing as dup of #14230 as per https://github.com/eclipse-openj9/openj9/issues/14231#issuecomment-1013439067

[2022-02-02 15:44] #14231 closed

[2022-02-02 15:46] JasonFengJ9 commented on #14228
Closing as dup of #14230 as per https://github.com/eclipse-openj9/openj9/issues/14228#issuecomment-1024520948

[2022-02-02 15:46] #14228 closed

[2022-02-02 15:48] JasonFengJ9 commented on #14134
Moving out the iteration plan since the feature in question hasn't been implemented and the test is excluded.

[2022-02-02 15:49] JasonFengJ9 commented on #14107
Closing as dup of #14124 as per https://github.com/eclipse-openj9/openj9/issues/14107#issuecomment-1024749131

[2022-02-02 15:49] #14107 closed

[2022-02-02 15:58] JasonFengJ9 commented on #13964
Not seen in recent runs, can be closed (re-open if occurs again).

@pshipton thoughts?

[2022-02-02 16:06] babsingh commented on #14412
There are OpenJDK and other non-openj9 tests related to the security manager for JDK18. Disabling security manager tests in OpenJ9 instead of setting `-Djava.security.manager=allow` may prevent us to pass those non-openj9 tests which are not frequently run.

+1 to begin segregating/isolating security manager tests so they can be disabled once the security manager is removed in a future JDK. Segreg

[2022-02-02 16:13] #14414 closed

[2022-02-02 16:22] dmitripivkine commented on #14193
Looking in the core:
Top objects in the heap number/total_size
[code]
I selected a few random Byte arrays in various places in the heap and check how they referenced. The picture is the same:
[code]

[2022-02-02 16:37] keithc-ca commented on #14193
Those instances of `java/util/LinkedList$Node` are expected to be referenced by `java/util/LinkedList` objects (which aren't so numerous). We need to understand why those lists are not collected.

[2022-02-02 16:47] dmitripivkine commented on #14193
I understand that my comment is meaningless (may be except observation that full path is stored - so longer path on machine might increase data significantly)

Is it possible to get pair of comparable GC verbose logs for failed in Gencon and passed in "different gc policy", `optthruput` is preferable?

[2022-02-02 17:04] JasonFengJ9 commented on #13876
Not seen in recent builds.

Closing for now (can re-open if it occurs again)

[2022-02-02 17:04] #13876 closed

[2022-02-02 17:07] JasonFengJ9 commented on #13802
A quick note: not seen in recent builds.

[2022-02-02 17:11] JasonFengJ9 commented on #13744
This appears similar w/ [JDK17 head Segmentation error vmState=0x00000000 - Compiled_method=java/lang/String.decodeASCII](https://github.com/eclipse-openj9/openj9/issues/13647) which has been fixed.

Closing..

[2022-02-02 17:11] #13744 closed

[2022-02-02 17:42] keithc-ca commented on #14193
[verbosegc.gencon.txt](https://github.com/eclipse-openj9/openj9/files/7988886/verbosegc.gencon.txt)
[verbosegc.optthruput.txt](https://github.com/eclipse-openj9/openj9/files/7988887/verbosegc.optthruput.txt)

[2022-02-02 18:45] #14404 closed

[2022-02-02 19:22] vijaysun-omr commented on #13192
I doubt that that capability (lock an SA object that also needs dynamic heapification) is going to be important in practice (from a performance viewpoint). But Henry can/should investigate to be sure.

[2022-02-02 19:38] RSalman commented on #13891
Looks good! However, I noticed that there are 3 new jobs for each platform as a result of these new tests `cmdLineTester_GCRotatingVerboseLogTests_0-*`... Ideally the rotating log jobs are just test cases that would fall under existing `cmdLineTester_GCRegressionTests_*` test job. The reason I say this because `GCRegressionTests` seems to be running a set of tests of which includes  `Testing: -ver

[2022-02-02 19:40] RSalman commented on #13891
But the test team knows best on organizing these. From my side, they are good and working

[2022-02-02 19:46] dmitripivkine commented on #14193
There is nothing obviously wrong for me in this log files. I think heap size is set at the edge for both runs, optthruput is very tight with heap as well. And Gencon has to keep Reserved space unused (~75m) plus not so many Global GCs executed so top dynamic live set size is slightly higher (0.69g vs 0.75g) as well as references were processed not so regularly. So gencon has chocked (at 9th second

[2022-02-02 20:11] LongyuZhang commented on #13891
In this case, I think we can enable the `cmdLineTester_GCRotatingVerboseLogTests` tests on vmfarm to get these new tests running first, later if needed, we can combine the two tests, since each sub-test will still run individually even combined in one single test.

[2022-02-02 20:33] amicic commented on #14193
There is a possibility that gencon will behave better with a smaller Nursery, hence reducing that reserved/unused space. Different values could be tried, but 50M is a good starting point
We don't have dynamic tenure-nursery resizing, for fully expanded heap. Generally not easy to do with this heap geometry. Balanced is more flexibile in that regard.

[2022-02-02 21:09] Mesbah-Alam opened #14418 "OpenJ9 JDK8 : AIX P10 : Exception in thread "main" java.lang.NoClassDefFoundError: jnurlcldr.shared.findstore.J_Dummy"
Following failure is seen in multiple variants of `SCURLClassLoaderTests` (only JDK 8 specific test) while run on [the AIX p10 machine](https://hyc-runtimes-jenkins.swg-devops.com/label/p10aix009.rtp.raleigh.ibm.com):

[code]

Jenkins Link: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/20568/consoleText

Note, the same issue is not reproducible while running on a differ

[2022-02-02 21:41] LongyuZhang commented on #14349
This failure can be reproduced on JDK 17 (hyc-grinder_20642), JDK 18 (hyc-grinder_20650), and JDK 19 (hyc-grinder_20652). Adding test property for OpenJ9 fixed these failures. PRs will be created soon.

[2022-02-02 22:39] pshipton commented on #13964
It seems we'll get segmentation faults on jdk18 somewhat randomly until https://github.com/eclipse-openj9/openj9/issues/14124 is resolved. After the fix is merged we can check if any of these segfaults remain.

[2022-02-02 22:39] #13964 closed

[2022-02-02 23:11] pshipton commented on #14407
Another one here https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64le_linux_OMR_testList_1/50
This stopped the OMR build from promoting automatically, but I'll manually promote.

[2022-02-02 23:34] pshipton commented on #14418
Assuming this is a test issue until we determine otherwise.

[2022-02-02 23:53] pshipton opened #14422 "cmdLineTester_GCRotatingVerboseLogTests No such file or directory"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly_testList_0/188/ - cent6-x64-4
cmdLineTester_GCRotatingVerboseLogTests_2 `-Xjit -Xgcpolicy:balanced -Xnocompressedrefs `
cmdLineTester_GCRotatingVerboseLogTests_3 `-XX:+UseCompressedOops -Xjit -Xgcpolicy:balanced `
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Night

[2022-02-02 23:58] pshipton commented on #14422
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_Nightly_testList_0/190/ - cent6-x64-5
cmdLineTester_GCRotatingVerboseLogTests_3

[2022-02-03 00:05] pshipton commented on #14422
@llxia @LongyuZhang it seems weird this just started failing last night on xlinux in the jdk8 and 11 testing. I didn't see anything that changed which would cause it. Any ideas?

https://github.com/adoptium/aqa-tests/compare/59d77dd5039...5a03ab34317
https://github.com/eclipse-openj9/openj9/compare/3b4b997b371...739de03a5b

[2022-02-03 00:12] pshipton commented on #14396
Another like https://github.com/eclipse-openj9/openj9/issues/14399 which was closed as a dup of this.

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly_testList_1/189 - cent6-x64-6
testSoftMxLocal_LP4k_3 `-Xjit -Xgcpolicy:balanced -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.function

[2022-02-03 00:17] pshipton commented on #14349
The fixes above are merged so closing.

[2022-02-03 00:17] #14349 closed

[2022-02-03 00:32] knn-k commented on #14387
Enabling DDR build in #14420 resulted in the following error -- Segmentation faults from dwarfdump-classic and omr_ddrgen:
https://openj9-jenkins.osuosl.org/job/Build_JDK17_aarch64_mac_Personal/21/consoleText
[code]

[2022-02-03 06:22] knn-k commented on #14387
We need to add support for AArch64 in debugtools/DDR_VM/src/com/ibm/j9ddr/corereaders/macho/MachoDumpReader.java

[2022-02-03 08:36] 1a2s3d4f1 commented on #14330
@tajila Core dump not happen on Linux envoroment(VirsualBox). Maybe it only happen on windows system.

[2022-02-03 08:38] 1a2s3d4f1 commented on #14330
@tajila Core dump not happen on Linux envoroment(VirsualBox). Maybe it only happen on windows system.

[2022-02-03 11:00] knn-k opened #14426 "AArch64 macOS: Segmentation fault in threadMXBeanTestSuite2"
Failure in running extended.functional with JDK 17:
https://openj9-jenkins.osuosl.org/job/Grinder_testList_0/80/consoleText
[code]

I can reproduce this in my local environment.

[2022-02-03 12:19] llxia commented on #14422
Reran previously [passed build](https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly_testList_1/187/) on [cent6-x64-2](https://openj9-jenkins.osuosl.org/computer/cent6-x64-2) (previously passed machine).  [Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/590/console) failed.
[code]

[code]

[2022-02-03 12:37] pshipton commented on #14422
@AdamBrousseau ? Also see https://github.com/eclipse-openj9/openj9/issues/14422#issuecomment-1028474309

We did update jenkins itself, but that was last week.

[2022-02-03 12:54] knn-k commented on #11164
#13937 has been merged, and now you can build the runtime and run some tests with Jenkins jobs.

Current restrictions:
- You cannot build for JDK 8 yet
- Large heap mode only: The VM fails to start in the compressed refs mode -- #13767
- DDR is not enabled -- #14387
- Build with CMake only
- There are some problems found in functional tests

[2022-02-03 13:13] pshipton opened #14428 "testDefaultDisclaimMemory_zlinux_3 crash vmState=0x00020002"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_1/203 - ub20-390-1
testDefaultDisclaimMemory_zlinux_3 `-Xjit -Xgcpolicy:balanced -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly_testList_1/203/functional_test_output.tar.gz
[code]

@dmitripivkine

[2022-02-03 13:22] JasonFengJ9 commented on #14412
Agreed that there are large number of security manager tests and it might take a while to fix them all. I think the task can be divided, and addressed in separated PRs while applying the workaround to keep JDK18 test green.

To co-ordinate the effort, I propose this issue serves a placeholder for disabling individual security manager test, no separated issue required. Ideally, before starting work

[2022-02-03 13:33] pshipton commented on #14422
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_Nightly_testList_0/189/ - cent7-x64-2
cmdLineTester_GCRotatingVerboseLogTests_3

Spreading to AIX now.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64_aix_Nightly_testList_1/143 - p8-java1-ibm04
cmdLineTester_GCRotatingVerboseLogTests_0 `NoOptions`

[2022-02-03 13:52] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/143
jdk_lang_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops`
java/lang/ProcessHandle/TreeTest.java
[code]

[2022-02-03 13:55] pshipton commented on #13802
Ha, saying that increases the probability of getting another one. :)

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Nightly/146
jdk_lang_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops`
java/lang/reflect/callerCache/ReflectionCallerCacheTest.java
[code]

[2022-02-03 14:38] tajila commented on #14330
@mikezhang1234567890 Please take a look at this.

Try to reproduce with `-Xint -XX:+DebugInterpreter` so you can get the most up to date stack frame

[2022-02-03 14:47] babsingh commented on #14412
Added the list of all impacted tests in the main description: https://github.com/eclipse-openj9/openj9/issues/14412#issue-1121182888.

[2022-02-03 15:46] dmitripivkine commented on #14428
this is duplicate of https://github.com/eclipse-openj9/openj9/issues/14382

There is non-marked object in WP, actually pointed to the Linked Free Header:
[code]
Also there is attempt to scan last element of array `!j9indexableobject 0x000003FF6A4920B8 0 340` pointed to the "hole" too. This array is not marked. And BTW this is reference array of `jdk/internal/math/FDBigInteger` objects.

Closing as

[2022-02-03 15:46] #14428 closed

[2022-02-03 16:01] mpirvu commented on #14407
Looking at the messages from the original failure:
[code]
The test wants to start the JITServer with port==38064 but fails because the port is already used by somebody else. The port is chosen randomly, so while it is possible to have a port clash with an existing process, it is unlikely.

[2022-02-03 16:15] mikezhang1234567890 commented on #14226
Rather than platform it looks like the difference is from the locale. The test fails when when locale is `en_CA` rather than `en_US` and the formatting of the date string is slightly different as mentioned above.

In this case it looks like the test run is inheriting the `en_CA` locale and thus failing. If we set locale manually with JVM args that would fix the test.

[2022-02-03 16:45] pshipton commented on #14382
We seem to be hitting this frequently lately, between the failures recorded here and in the closed duplicate issues. Given that it started failing recently it seems a regression. I've marked it as a blocker. I'm guessing it affects jdk18 as well so this will likely get into the Java 18 milestone plan once we start running more jdk18 builds and confirm this.

[2022-02-03 16:51] pshipton commented on #14226
Meaning the machine(s) are setup to use en_CA by default? We should request the machines be modified rather than changing the OpenJDK test. You can create an internal infra issue.

[2022-02-03 17:20] keithc-ca commented on #7995
I have it working on (at least X) Linux. Here's an excerpt for `-Xdump:java:events=vmstop`, which seems to agree well with gdb examing a core file triggered at the same time:
[code]

[2022-02-03 19:02] LongyuZhang commented on #14422
Tested multiple machines on hyc_grinder, all passed. Not sure if openj9-jenkins machine have different settings compared with hyc-jenkins machines.

(50x) xlinux JDK11:
- [fyrecloud-ubuntu18x86-8295-fqz8](https://hyc-runtimes-jenkins.swg-devops.com/computer/fyrecloud-ubuntu18x86-8295-fqz8) (20708)

aix JDK17:
- [paix911](https://hyc-runtimes-jenkins.swg-devops.com/computer/paix911) (20706)
- [paix

[2022-02-03 19:02] mpirvu commented on #14407
We hit similar issues before, and, while we didn't get to the bottom of them, the thought was that one of JITServer instances does not finish properly and still holds the port that was chosen at the beginning of the tests.
@dmitry-ten changed the test in https://github.com/eclipse-openj9/openj9/pull/13821 so that each new invocation of JITServer would get a random port. It's (remotely) possible th

[2022-02-03 19:08] cjjdespres commented on #14407
That would make sense, since it's been difficult to reproduce the failure.

[2022-02-03 19:13] pshipton commented on #14422
I'm guessing the command running java isn't working for some reason, but we don't get to see the reason in the test failure output.
[code]

We should change how the test works. It's trying to run java but not checking or providing any output when java doesn't run. Instead of running java as a command, we should run it as a cmdline test and validate that it did run correctly. Then if there is an er

[2022-02-03 19:23] pshipton commented on #14422
Actually I have another idea why the test isn't working. It's using `5,1` with -Xverbosegclog meaning output is redirected to 5 files, each containing 1 GC cycles. The test is looking for the 5th file, but if there is only 4 GC cycles then the 5th file won't be created and the test fails.

@dmitripivkine fyi

[2022-02-03 19:27] pshipton commented on #14422
Looking at the artifact from one of the failures, I see there were only 3 gc log files created for the test which failed.

[2022-02-03 19:33] pshipton commented on #14422
We're running `SpinAllocate 1` where the 1 is the number of seconds to spin creating garbage. If the machine is doing something else besides running java, 1 second could pass before enough garbage is generated to cause 5 GC cycles. I suggest
a) look for the 3rd file instead of the 5th
b) change the 1 to at least 3 or maybe 5

[2022-02-03 19:36] AdamBrousseau commented on #14422
Most machines (including cent6x-2) are setup via cron to auto-update everyday at 1am. Let me know if you need me to hunt down details of what happened between those dates.

[2022-02-03 20:20] dmitripivkine commented on #14396
yes, it is the same issue. Just for record:
[code]

[2022-02-03 20:36] pshipton commented on #14422
As per previous comments I think it's a test problem, the test is dependent on timing. The failing machines seem to be running a little slow, but the test needs to be fixed.

[2022-02-03 21:03] cjjdespres commented on #14407
Why would we want to determine what process it belongs to? To kill the failed JITServer instance, if it is one?

[2022-02-03 21:35] pshipton commented on #14407
Agree it would be useful to figure out why the port isn't available, as that may help determine if there is a jitserver or test problem that needs to be fixed. Seems to me there is a delay if a port isn't shut down properly. The port will be released but it needs to time out first.

I looked at the machine for the last failure and don't see any `jitserver` processes. We do have a sanitize job that

[2022-02-03 22:03] tajila commented on #947
@keithc-ca Can you please take a look at this?

[2022-02-03 22:30] keithc-ca commented on #947
Sure, I'll add it to the list.

[2022-02-03 23:42] a7ehuo commented on #14328
I set `-Xdump` with OpenJ9 so that when there is `java/lang/ClassCastException` from `de/seitz/thimo/Main`, a core is generated.  I traced one of the `ClassCastException`  exceptions thrown on `CtTypeReferenceImpl` [1]. Because`CtTypeReferenceImpl` does not implement `CtType`, the class cast check fails. I'm guessing the exceptions could be caught such as in `spoon/reflect/visitor/chain/CtQueryImp

[2022-02-04 01:30] knn-k opened #14434 "AArch64 macOS: Failures with "Cannot create cache of requested size""
Some functional tests on AArch64 macOS fail with the message "Cannot create cache of requested size: Please check your SHMMAX and SHMMIN settings" as shown below.

Failure link
------------
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_mac_Personal/4/
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_aarch64_mac_Personal/3/

Failure out

[2022-02-04 01:32] knn-k commented on #14434
The same (?) problem on x86 macOS in the past: #3602, #3790

[2022-02-04 01:38] knn-k commented on #14434
Note that PR #14425 needs to be merged for running functional tests on AArch64 macOS.

[2022-02-04 01:56] #14398 closed

[2022-02-04 02:00] pshipton commented on #14434
Seems a machine configuration problem them. @AdamBrousseau

[2022-02-04 03:20] 1a2s3d4f1 commented on #14330
It only happend on this computer. Another computer(Not inter graphics) not dump.
New core dump(Added option"-Xint -XX:+DebugInterpreter" ):
https://mega.nz/file/WJ9EFYRL#8ahRgRzxz3OEzGt6SHFkFt1EMsmGq6b623w2BHHORvM

[2022-02-04 14:21] #14092 closed

[2022-02-04 14:21] #14094 closed

[2022-02-04 15:20] babsingh commented on #14092
Test re-enabled via https://github.com/adoptium/aqa-tests/pull/3318.

[2022-02-04 15:21] babsingh commented on #14094
Test re-enabled via https://github.com/adoptium/aqa-tests/pull/3318.

[2022-02-04 15:27] zl-wang opened #14438 "verbose:sizes doesn't show all supported pagesizes"
with the latest JDK on ppc64le ...
java -verbose:sizes -version
[code]

at least, another 2MB pagesize is supported (pages of that size might not be configured yet).
something seemed wrong.

[2022-02-04 15:50] EricYangIBM commented on #14412
I will start with `JCL_TEST_Java-Security` and potentially work on the other `Java8andUp` tests

[2022-02-04 16:08] dmitripivkine commented on #14438
Linux reads `/proc/meminfo` file and search for `HugePages_Total:`, `HugePages_Free:`,`Hugepagesize:`.
In order for Huge Pages to be enabled `Hugepagesize:` and `HugePages_Total:` should be larger than zero both.
@zl-wang Would you please check this file?

[2022-02-04 17:00] zl-wang commented on #14438
ah, the total is 0, size is 2048k.  so, the verbose listing has different meaning between (e.g.) AIX and Linux.

On AIX, i saw listing below: (although total pages of 16m/16g are 0 too)
[code]

[2022-02-04 17:02] #14422 closed

[2022-02-04 17:05] zl-wang commented on #14370
alternatively, you can continue to use the existing code by and large, but adding code to test
`perfstat_cpu_t->state`

if it is 0, it means that CPU is offline.

[2022-02-04 17:40] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64le_linux_OMR_testList_0/51/
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_s390x_linux_OMR_testList_1/53/

[2022-02-04 17:47] pshipton opened #14441 "OpenJDK java/lang/ClassLoader/nativeLibrary/NativeLibraryTest Expected count = 1 but got 2"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/144
jdk_lang_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops`
java/lang/ClassLoader/nativeLibrary/NativeLibraryTest.java

[code]

[2022-02-04 17:49] pshipton commented on #14396
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_linux_Nightly_testList_0/135 - [ub20-x86-1](https://openj9-jenkins.osuosl.org/computer/ub20-x86-1)
testSoftMxLocal_LP4k_3

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.functional_x86-64_linux_Nightly_testList_0/135/functional_test_output.tar.gz
[code]

[2022-02-04 17:50] pshipton commented on #14396
As per https://github.com/eclipse-openj9/openj9/issues/14382#issuecomment-1029184336 setting as a blocker.

[2022-02-04 19:19] dmitripivkine commented on #14396
@pshipton
I am sure this item is a duplicate of https://github.com/eclipse-openj9/openj9/issues/14382.
We can close one of the defects or keep both if you like

[2022-02-04 19:54] pshipton commented on #14396
Closing one is fine, but the remaining issue should be in the 0.31 milestone plan.

[2022-02-04 19:59] dmitripivkine commented on #14382
closing this as a duplicate of https://github.com/eclipse-openj9/openj9/issues/14396

[2022-02-04 19:59] #14382 closed

[2022-02-04 22:17] LinHu2016 commented on #14396
1, The issue can not be reproduced by grinder x 100 with single test(testSoftMxLocal_LP4k_3 or testSoftMxDisclaimMemory_GC_3) on both java17 and java18, but can be reproduced with whole test list(extended.funtional test_list_0, 2/10)on java 17 and java 18, never been reproduced on Java 8(axxon).

2, The tests are running under extreme corner case for balanced GC(-Xmx1024m -Xsoftmx512m -Xmn1m, -XX:

[2022-02-05 00:59] knn-k commented on #11915
I haven't seen this for 9 months.  Closing.

[2022-02-05 00:59] #11915 closed

[2022-02-07 00:14] #14117 closed

[2022-02-07 09:27] Akira1Saitoh commented on #12179
Hi @gacholio, we need to complete this for Vector API support. Can you please implement it?
As described in https://github.com/eclipse-openj9/openj9/issues/12179#issue-828087594,
All ARMv8 processors have 32 SIMD & FP registers (v0-v31) which are 16-bytes long.  The lower half of v0-v31 are used as the FPRs.

[2022-02-07 13:23] pshipton opened #14445 "OpenJDK System/SecurityManagerWarnings message missing from stderr"
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK17/149/
All platforms
java/lang/System/SecurityManagerWarnings.java

[code]

@babsingh this needs to be temporarily excluded or fixed asap pls.

https://github.com/eclipse-openj9/openj9/pull/14329

[2022-02-07 13:26] pshipton commented on #14441
@tajila this is failing in every build now, can someone take a look.

[2022-02-07 13:34] pshipton commented on #14397
This is showing up in jdk17 builds now. Possibly since the test was un-excluded.
Setting as a blocker since it's failing in every build.
@tajila

[2022-02-07 13:40] pshipton commented on #14407
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_linux_Nightly_testList_1/137/

Happened in Friday night builds, didn't get a chance to look at the machine.

[2022-02-07 13:44] pshipton commented on #14078
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/151 - [win2012-x86-4](https://openj9-jenkins.osuosl.org/computer/win2012-x86-4)
java/lang/StringBuffer/HugeCapacity.java
`command: main -Xms5G -Xmx5G HugeCapacity`
`JVMJ9VM015W Initialization error for library j9gc29(5): Failed to allocate default memory space.`

[2022-02-07 13:47] pshipton commented on #14396
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_linux_Nightly_testList_0/137 - [ub20-x86-1](https://openj9-jenkins.osuosl.org/computer/ub20-x86-1)
testSoftMxLocal_LP4k_3
[code]

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.functional_x86-64_linux_Nightly_testList_0/137/functional_test_output.tar.gz

[2022-02-07 14:06] pshipton opened #14446 "LambdaLoadTest_special_J9_5m_15 crash vmState=0x00020016"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_x86-64_mac_Personal_testList_3/8 - [osx1014-x86-1](https://openj9-jenkins.osuosl.org/computer/osx1014-x86-1)
LambdaLoadTest_special_J9_5m_15
`-Xcompressedrefs -Xgcpolicy:balanced -XXgc:tarokEnableExpensiveAssertions,fvtest_tarokPGCRotateCollectors -Xjit:count=0,optlevel=hot,gcOnResolve,rtResolve`

https://openj9-artifactory.osu

[2022-02-07 14:20] tajila commented on #14397
@JasonFengJ9 Is this only failing on macosx?

[2022-02-07 14:37] dmitripivkine commented on #14446
`vmState=0x00020016` is  `OMRVMSTATE_GC_CONCURRENT_MARK_TRACE`, I am not sure why test decided it is `not a valid vmState`

[2022-02-07 14:39] JasonFengJ9 commented on #14397
It appears so, not seen in other platforms.

[2022-02-07 14:44] pshipton commented on #14446
It's not the test that output `not a valid vmState`, it's `-Xjit:vmState=0x00020016` which normally shows what the state means without having to look into the code.

[2022-02-07 14:46] tajila commented on #14397
exit code 139 on the process launched with ProcessBuilder indicates a crash.

@babsingh Please investigate

[2022-02-07 14:50] pshipton commented on #14441
Tentatively added it to the 0.31 milestone plan assuming it also affects jdk18. We can move it to 0.32 if not.

[2022-02-07 15:01] tajila commented on #14441
@JasonFengJ9 Is this only seen on AIX?

[2022-02-07 15:08] pshipton commented on #14441
It only shows up in the open builds on AIX.

[2022-02-07 15:09] JasonFengJ9 commented on #14441
Only appeared on Internal AIX as well.

[2022-02-07 15:09] gacholio commented on #12179
No, this is a job for the ARM team. I will happily help with and review the changes, but I will not be implementing it.

[2022-02-07 15:12] JasonFengJ9 commented on #14441
It passed last run `job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_testList_0/63/consoleFull`
[code]

[2022-02-07 15:15] EricYangIBM commented on #14412
When I ran `JCL_Test` locally I found that `JCL_TEST_Java-Internals` and `JCL_TEST_Java-Lang-Ref` didn't fail (the others did with the `UnsupportedOperationException`)

[2022-02-07 15:21] pshipton commented on #14441
That "last run" is dated 20220202 which is before the failure started showing up on Feb 4

[2022-02-07 15:22] JasonFengJ9 commented on #14441
Clarification: last **internal** run.

[2022-02-07 15:25] pshipton commented on #14441
There are aqa-tests changes as well.
https://github.com/adoptium/aqa-tests/compare/37f2a4f898ae...58a0ea5a88bf
https://github.com/adoptium/aqa-tests/pull/3315

[2022-02-07 16:00] babsingh commented on #14084
Closing this issue .. The intermittent failures for `java/lang/reflect/IllegalArgumentsTest.java` are fixed via https://github.com/eclipse-openj9/openj9/pull/14419. `java/lang/reflect/IllegalArgumentsTest.java` is re-enabled via: https://github.com/adoptium/aqa-tests/pull/3322.

[2022-02-07 16:00] #14084 closed

[2022-02-07 16:55] hangshao0 commented on #13932
This issue is a dup of https://github.com/eclipse-openj9/openj9/issues/13964, which is now tracked by https://github.com/eclipse-openj9/openj9/issues/14124 according to https://github.com/eclipse-openj9/openj9/issues/13964#issuecomment-1028425009

[2022-02-07 17:11] a7ehuo commented on #13932
Close the issue since it's a duplicate as [per above comment ](https://github.com/eclipse-openj9/openj9/issues/13932#issuecomment-1031692117)

[2022-02-07 17:11] #13932 closed

[2022-02-07 17:12] dmitripivkine commented on #14446
[code]
This is duplicate of https://github.com/eclipse-openj9/openj9/issues/14396

[2022-02-07 17:12] #14446 closed

[2022-02-07 18:17] #14445 closed

[2022-02-07 18:17] babsingh commented on #14397
Most recent grinder: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/20769/

`ProcessBuilder` is doing the following:
[code]

While executing `CallerAccessTest`, there is a segfault. `lldb` does not work on the Mac machines:
[code]

Without `lldb`, we won't be able to find the cause of the segfault. We will need to enable developer mode for `lldb` to work on the Mac machines as per https:/

[2022-02-07 18:48] JasonFengJ9 commented on #14441
Removed `blocker` label since the test has been excluded for AIX.

[2022-02-07 21:44] JasonFengJ9 commented on #14226
Assuming this is an infra issue, moving out of milestone plan.

[2022-02-07 21:59] JasonFengJ9 commented on #11760
`OpenJ9` has its own `jdk/internal/foreign/abi/ProgrammableInvoker` w/o `registerNatives()`, the native binding are done differently from RI. This test can't apply to `OpenJ9`.
Moving to `backlog`.

[2022-02-07 22:03] JasonFengJ9 commented on #12112
Closing as dup of https://github.com/eclipse-openj9/openj9/issues/11839

[2022-02-07 22:03] #12112 closed

[2022-02-07 22:06] JasonFengJ9 commented on #12085
Not seen in recent builds.
Closing..

[2022-02-07 22:06] #12085 closed

[2022-02-07 22:13] JasonFengJ9 commented on #13533
Not seen in recent builds.

Closing (re-open if occurs again)

[2022-02-07 22:13] #13533 closed

[2022-02-07 22:15] JasonFengJ9 commented on #13573
Not seen in recent builds.

Closing (re-open if occurs again)

[2022-02-07 22:16] JasonFengJ9 commented on #13646
Not seen in recent builds.

Closing (re-open if occurs again)

[2022-02-07 22:16] #13646 closed

[2022-02-07 22:19] JasonFengJ9 commented on #13648
Not seen in recent builds.

Closing (re-open if occurs again)

[2022-02-07 22:19] #13648 closed

[2022-02-07 23:06] #14374 closed

[2022-02-08 01:33] Akira1Saitoh commented on #12179
Okay, I will implement this.

Can you confirm if my understanding about required changes is correct?
- Whole 128-bit of vector registers must be saved when calling out to non-method invocation helpers.
- We do not need to save vector registers on method invocation helpers because they are volatile in private linkage. Instead, we need to save parameter FPRs for decompilation.
- Method invocation he

[2022-02-08 05:42] knn-k commented on #11851
`jlink` generates the `SystemModules$default` class dynamically, and the generated code is different every time from run to run.  It is a known issue of jlink.
That makes this failure intermittent.

[2022-02-08 13:48] JasonFengJ9 opened #14455 "renaissance StackOverflowError"
Failure link
------------

From an internal build `job/Test_openjdk8_j9_extended.perf_aarch64_linux/44/`(`cent7-aarch64-6`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?TARGET=renaissance-als_0&amp;SDK_RESOURCE=upstream&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;EXTRA_DOCKER_ARGS=&amp;VENDOR_T

[2022-02-08 13:53] JasonFengJ9 commented on #10460
`job/Test_openjdk8_j9_special.system_aarch64_linux_testList_3/154/`(`cent7-aarch64-2`)

[code]

[2022-02-08 14:00] JasonFengJ9 commented on #12354
`job/Test_openjdk11_j9_extended.openjdk_ppc64le_linux/60/`(`sles15le-rt1-3`)
[code]

[2022-02-08 14:15] JasonFengJ9 opened #14456 "JDK17 testSoftMxNotDisclaimMemory_zlinux_64_3_FAILED j9mm.316 * ** ASSERTION FAILED ** at openj9/runtime/gc_vlhgc/GlobalMarkingScheme.cpp:891: ((uintptr_t)0x99669966 == (clazz)->eyecatcher)"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.functional_s390x_linux_testList_2/138/`(`ub18s390xrt-1-8`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=testSoftMxNotDisclaimMemory_zlinux_64_3&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_extended.functional_s390x_linux

[2022-02-08 14:19] JasonFengJ9 commented on #6552
`job/Test_openjdk17_j9_special.system_s390x_linux_testList_4/138/`(`rhel7s390x-3-4`)
[code]

[2022-02-08 15:11] dmitripivkine commented on #14456
[code]
this is duplicate of https://github.com/eclipse-openj9/openj9/issues/14396

[2022-02-08 15:29] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_ppc64_aix_Nightly_testList_1/204
TestIBMJlmRemoteClassAuth_SE80_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

[code]

tail 3.LT1.stdout
[code]

[2022-02-08 15:57] #13470 closed

[2022-02-08 15:57] #13852 closed

[2022-02-08 15:58] #14036 closed

[2022-02-08 15:59] #11027 closed

[2022-02-08 16:00] tajila commented on #10627
@gita-omr Can we close the older jep issues and keep only the latest for tracking purposes?

[2022-02-08 16:22] gacholio commented on #12179
At a glance, that seems correct. I suggest following one of the other platform examples that distinguish which helpers need the extra vector work (please use the same macro names for helper declarations to keep things simple).

[2022-02-08 16:50] pshipton commented on #12354
We've been moving this forward, but it doesn't occur often enough to get attention. Removing from milestone.

[2022-02-08 16:52] pshipton commented on #6552
We've been moving this forward but it doesn't occur often enough to get attention. Removing from milestone.

[2022-02-08 17:03] pshipton commented on #13623
@gita-omr maybe we can also close this one for jdk18? It doesn't seem to be used. There will be a new one for jdk19 created after the jdk18 release.

[2022-02-08 17:53] gita-omr commented on #13623
Sure, please close all the old ones.

[2022-02-08 18:02] #13623 closed

[2022-02-08 18:02] #12693 closed

[2022-02-08 18:03] pshipton commented on #10627
See https://github.com/eclipse-openj9/openj9/issues/13623#issuecomment-1032898049

[2022-02-08 18:03] #10627 closed

[2022-02-08 18:35] Mesbah-Alam commented on #10198
This failure is seen on IBM Semeru Open January 2022 - AIX P10 manual testing too, while running `extended.functional` :   https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/20619:

[code]

**SDK version:**

[code]

[2022-02-08 18:40] Mesbah-Alam commented on #13232
Similar failures found with IBM Semeru Open January 2022 - AIX P10 manual testing too, while running `extended.functional` :   https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/20619.

However, this time the error says "child is missing" instead of "Child process did not launch".

[code]

**SDK version:**

[code]

[2022-02-08 18:45] Mesbah-Alam commented on #3081
Failures similar to https://github.com/eclipse-openj9/openj9/issues/3081#issuecomment-552478174 is seen with AIX p10 while testing IBM Semeru Open January 2022  JDK-8 too: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/20619.

[code]

**SDK version:**

[code]

[2022-02-08 18:58] Mesbah-Alam opened #14458 "TestJstat_0 fails with Class Unloaded missing"
TestJstat_0 fails with following error :

[code]

Above failure is observed during IBM Semeru Open January 2022 AIX P10 testing, while running `extended.functional` :   https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/20619.

**SDK version:**

[code]

[2022-02-08 19:00] llxia commented on #12463
@LongyuZhang is this issue resolved?

[2022-02-08 19:03] LongyuZhang commented on #12463
@llxia Yes, I think we can close this issue. Thanks.

[2022-02-08 19:21] llxia commented on #12463
Thanks @LongyuZhang

[2022-02-08 19:21] #12463 closed

[2022-02-08 19:23] dsouzai opened #14459 "Crash in jit_compareAndBranch_0 under forceAOT"
Failure link
------------

Happens in PR build with `sanity.functional+aot`

Optional info
-------------

- intermittent failure (yes|no): no
- regression or new test:  new test

Failure output (captured from console output)
---------------------------------------------
[code]

[2022-02-08 19:26] hangshao0 opened #14460 "Add new flag for primitive class modifier"
From https://openjdk.java.net/jeps/401:
A new modifier `ACC_PRIMITIVE` (0x0800) is added.

For primitive class (value type in the current OpenJ9 code), both `ACC_PRIMITIVE` and `ACC_VALUE` are set.
For value class, only `ACC_VALUE` (0x0100) is set.

Currently, OpenJ9 has flag `J9AccValueType` (0x100) for `ACC_VALUE`. New flag needs to be added to recognize `ACC_PRIMITIVE`.

[2022-02-08 19:26] hangshao0 commented on #14460
FYI @tajila

[2022-02-08 19:28] dsouzai opened #14461 "Cache name should not be longer than 64 chars"
Failure link
------------

Happens in PR build with `sanity.functional+aot`

Optional info
-------------

- intermittent failure (yes|no): no
- regression or new test:  new

Failure output (captured from console output)
---------------------------------------------
[code]
Happens in tests such as `Jep397Tests_testSubClassOfSealedSuperFromDifferentPackageInSameUnamedModule_0` and `Jep397Tests_testS

[2022-02-08 20:08] renfeiw commented on #14459
auto exclude test jit_compareAndBranch_0 testflag=aot

[2022-02-08 20:20] dsouzai commented on #14459
@jdmpapin when you fix this, just revert https://github.com/eclipse-openj9/openj9/pull/14462 to renable the test.

[2022-02-08 20:25] tajila commented on #14397
@babsingh can you reproduce this with JDK11? I would be good to understand when this issue started

[2022-02-08 20:38] Mesbah-Alam commented on #14418
Similar issue seen on JDK 17 too, on the same AIX p10 machine:

[code]

https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/20804

Most likely machine issue as these tests work fine on regular AIX machines.

[2022-02-08 20:40] tajila commented on #14401
My understanding is that `SampledObjectAlloc` is conditional and is not triggered on every allocation, if thats true this should allow us to avoid the event in special cases

[2022-02-08 21:15] JasonFengJ9 commented on #14401
`SampledObjectAlloc` is enabled via
https://github.com/eclipse-openj9/openj9/blob/99077564bf9bd2a32409b5861e8b8687061cddc0/runtime/jvmti/jvmtiCapability.c#L377-L390

[2022-02-08 21:25] #14124 closed

[2022-02-08 21:25] #14230 closed

[2022-02-08 23:18] babsingh commented on #14397
This test was introduced in JDK12 extensions repo. Running the full test with JDK11 causes an `UnsupportedClassVersionError: JVMCFRE003 bad major version`. I just run the native executable with JDK11 libraries. I get the same error seen with JDK17 and JDK18. So, this issue has always persisted.

As per the below `lldb` output, `JNI_CreateJavaVM` is invoked ~23800 times (recursive loop) until the n

[2022-02-08 23:57] babsingh commented on #14397
The problem is related to the `libjvm.dylib` dependency. There are three `libjvm.dylib` copies in the JDK:
[code]

**Test:** [java/lang/reflect/exeCallerAccessTest/CallerAccessTest.java](https://github.com/ibmruntimes/openj9-openjdk-jdk18/blob/0bacea393c8392445e8511b24abe0405c40c6430/test/jdk/java/lang/reflect/exeCallerAccessTest/CallerAccessTest.java#L48)

The test sets `DYLD_LIBRARY_PATH` to inc

[2022-02-09 00:02] babsingh commented on #14397
There is a workaround to pass the test by using `$JAVA_HOME/lib/default/libjvm.dylib`. Can the **blocker** label be removed?

[2022-02-09 00:03] keithc-ca commented on #14193
I increased the heap size to 1GB and captured GC logs from 5 successful runs with `gencon` (see https://github.com/keithc-ca/issue-14193/commit/faece3dd9110b66a0b85e820ff74db440dafa59d).

Is there a reasonable explanation why `gencon` would need such a significantly larger heap than the other policies running the same test?

[2022-02-09 00:07] pshipton commented on #14397
Makes sense. I've removed the blocker label.

[2022-02-09 00:25] amicic commented on #14193
As Dmitri mentioned, the main reason is that gencon, being a generational GC, needs a reserved (Survivor) space (empty during mutation time and used during GC time) effectively reducing the free memory that VM can operate with (that is already pretty low even with non-generational GC).

There are a couple of other things that makes things even harder, like us not being able to dynamically reduce t

[2022-02-09 01:37] gacholio commented on #14401
At the moment, I don't think so, and I wouldn't be in favour of adding this as an allocation option for such an edge case.

[2022-02-09 01:43] gacholio commented on #13192
To keep things simple in the first pass, I'm going to heapify every stack allocated object so I can avoid having to detect the case where an SA object in a peeking frame points to an SA object in a non-peeking frame.

[2022-02-09 02:42] pshipton opened #14465 "OpenJDK LockStep Mauve plus AIX RacingCollections SyncSubMutexes Map/Defaults crash vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_ppc64le_linux_Nightly/2 - [cent7-ppcle-2](https://openj9-jenkins.osuosl.org/computer/cent7-ppcle-2)
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_ppc64_aix_Nightly/2 - [p8-java1-ibm06](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm06)

java/util/NavigableMap/LockStep.java - both plinux and AIX

[2022-02-09 02:47] pshipton commented on #14465
@0xdaryl still some crashes on jdk18 sanity.openjdk on P.

[2022-02-09 02:49] pshipton commented on #13946
Many of the failures in the last couple of comments have cleared up. We'll handle the remaining failures with individual issues.

[2022-02-09 02:49] #13946 closed

[2022-02-09 02:52] pshipton commented on #14354
I didn't see this in a build of the latest https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK18/13/
Closing assuming it's a dup of https://github.com/eclipse-openj9/openj9/issues/14124

[2022-02-09 02:52] #14354 closed

[2022-02-09 02:57] pshipton commented on #14178
Now that https://github.com/eclipse-openj9/openj9/issues/14124 is resolved we should un-exclude this test.

[2022-02-09 06:20] knn-k commented on #14455
I ran a 10x Grinder job at internal job/Grinder/20821/tapResults/.  No failures.

[2022-02-09 09:37] knn-k commented on #14455
Reproduced in another Grinder job: job/Grinder/20822/consoleText

[2022-02-09 11:20] 0xdaryl commented on #14465
@zl-wang : could you have someone on Power triage these failures please?

[2022-02-09 12:39] pshipton opened #14468 "DaaLoadTest_all_CS_5m crash vmState=0x00020002"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_ppc64_aix_Nightly_testList_2/206 - [p8-java1-ibm08](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm08)
DaaLoadTest_all_CS_5m_0 `-Xgcpolicy:gencon -Xgc:concurrentScavenge`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_ppc64_aix_Nightly_testList_2/206/system_test_output

[2022-02-09 12:44] pshipton opened #14469 "jit_tr_0 testNOPing expected:<?> but was:<B>"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_ppc64_aix_Nightly_testList_1 - [p8-java1-ibm06](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm06)
jit_tr_0 `-Xjit:noJitUntilMain -Xdump:java`

[code]
@0xdaryl

[2022-02-09 12:47] pshipton opened #14470 "threadMXBeanTimedParkTest Blocked time is lower than expected"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly_testList_1/200 - [p8-java1-ibm04](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm04)
threadMXBeanTimedParkTest_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs -Xthr:minimizeUserCPU`

[code]

[2022-02-09 13:29] 0xdaryl commented on #14469
@zl-wang : could you have someone triage this AIX failure please?

[2022-02-09 13:31] zl-wang commented on #14465
@ymanton help is needed here

[2022-02-09 13:34] zl-wang commented on #14469
@IBMJimmyk help this investigation please

[2022-02-09 14:38] pshipton commented on #14203
aix71-p8-1 no longer exists.

[2022-02-09 14:38] #14203 closed

[2022-02-09 14:39] pshipton commented on #13782
All the AIX machines were replaced and the new machines aren't as slow.

[2022-02-09 14:39] #13782 closed

[2022-02-09 14:40] tajila commented on #14178
@EricYangIBM can you confirm that this issue is solved with the latest changes

[2022-02-09 16:20] jdekonin commented on #14434
Step appears to have been missed for creating a script for launchctl to load on startup (/Library/LaunchDaemons/openj9.plist).

mac11-aarch64-1 -> mac11-aarch64-8 now reporting these settings.
[code]

Note: these are what we are using for the x86 macs, these settings might need to be altered for aarch64.

Respin of the failed sanity.functional jobs
https://openj9-jenkins.osuosl.org/job/Grinder/599

[2022-02-09 16:20] #14434 closed

[2022-02-09 16:37] tajila commented on #14455
@mikezhang1234567890 can you take a look at this. We have a 256K stack size for aarch64, can you see if a 512k default size solves this?

[2022-02-09 17:04] EricYangIBM commented on #14178
Ran 5x grinder, all passed so issue is most likely fixed

[2022-02-09 17:20] #7995 closed

[2022-02-09 17:28] dmitripivkine commented on #14396
@LinHu2016 repeated testing to narrow down the problem and has provided diffs between last good and first bad builds:
https://github.com/eclipse/omr/compare/81bc4828b...4a009d2fe
https://github.com/eclipse-openj9/openj9/compare/729fc428f...5e9bd4ea0

[2022-02-09 18:25] pshipton commented on #14465
On AIX in the same build above, there are also crashes in the following tests:
java/util/Collections/SyncSubMutexes.java
java/util/Map/Defaults.java

[2022-02-09 18:37] pshipton opened #14472 "OpenJDK AIX FileEncodingTest testFileEncodingToDefault Default Charset: ISO-8859-1, expected: US-ASCII"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_ppc64_aix_Nightly/2 - [p8-java1-ibm06](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm06)
jdk_lang_0, jdk_lang_1
java/lang/System/FileEncodingTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_sanity.openjdk_ppc64_aix_Nightly/2/openjdk_test_output.tar.gz
[code]

[2022-02-09 18:39] pshipton commented on #14472
@tajila still a jdk18 file encoding issue on AIX

[2022-02-09 18:42] pshipton commented on #14472
Might be worth testing an Adoptium build to see if it's the same.

[2022-02-09 18:43] pshipton opened #14473 "OpenJDK AIX java/lang/ProcessBuilder/Basic.java#id0 Incorrect handling of envstrings containing NULs"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_ppc64_aix_Nightly/2 - [p8-java1-ibm06](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm06)
jdk_lang_0, jdk_lang_1
java/lang/ProcessBuilder/Basic.java#id0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk18_j9_sanity.openjdk_ppc64_aix_Nightly/2/openjdk_test_output.tar.gz
[code]

[2022-02-09 18:43] pshipton commented on #14473
@tajila fyi

Might be worth testing an Adoptium build to see if it's the same.

[2022-02-09 18:47] dmitripivkine commented on #14468
[code]
this is duplicate of https://github.com/eclipse-openj9/openj9/issues/10489

[2022-02-09 18:47] #14468 closed

[2022-02-09 18:53] SajinaKandy commented on #13123
Hi @gacholio were you able to get anything more on this. The customer who reported this case is asking for more details about the possible cause and a possible workaround with any VM arguments if at all possible. Thanks !

[2022-02-09 19:31] JasonFengJ9 commented on #14472
Similar w/ https://github.com/eclipse-openj9/openj9/issues/14227, will investigate them together.

[2022-02-09 20:14] amicic commented on #14076
We put a change (https://github.com/eclipse-openj9/openj9/pull/14403) that might resolve this issue. It might not directly resolve the root cause of the problem, but it might prevent the problem (too much Eden expansion) to happen at the first place.
You're welcome to try a recent nightly build.
At some point I'll have another look at it, anyway.

[2022-02-09 20:34] #14461 closed

[2022-02-09 20:44] babsingh commented on #14397
Test excluded for JDK17, 18 & 19 on OSX: https://github.com/adoptium/aqa-tests/pull/3332.

[2022-02-09 20:47] gacholio commented on #13123
No, there has been no progress in determining the root cause.

You could ask the customer to try `-XX:-FastClassHashTable`

[2022-02-09 20:48] babsingh commented on #14178
Test re-enabled:
- JDK18: https://github.com/adoptium/aqa-tests/pull/3331
- JDK19: https://github.com/adoptium/aqa-tests/pull/3332

Closing as a dup of https://github.com/eclipse-openj9/openj9/issues/14124. Fixed by https://github.com/eclipse-openj9/openj9/pull/14430.

[2022-02-09 20:48] #14178 closed

[2022-02-09 21:09] tajila commented on #14472
@JasonFengJ9 can you add https://github.com/eclipse-openj9/openj9/issues/14473 to that list as well

[2022-02-09 21:13] JasonFengJ9 commented on #14473
AIX encoding related issue, will investigate along w/ https://github.com/eclipse-openj9/openj9/issues/14227 https://github.com/eclipse-openj9/openj9/issues/14472

[2022-02-09 22:19] pshipton commented on #14472
Not sure how similar it is to https://github.com/eclipse-openj9/openj9/issues/14227. In https://github.com/eclipse-openj9/openj9/issues/14227 the test is making wrong assumptions because of the change to use UTF8 by default. This one is an OpenJDK test, which should be correct, and I didn't see it failing on any other platform. There could be an issue with AIX itself, I'm not sure how well maintai

[2022-02-09 22:26] vijaysun-omr commented on #14361
(Not urgent for our beta) @ymanton we may need to push https://github.com/checkpoint-restore/criu/pull/1155 forward ourselves and to that end, you may want to target how to add/clean commits that are already there in the next month or two, as we discussed.

[2022-02-09 22:41] vijaysun-omr opened #14477 "Make sure JIT server and CRIU checkpoint/restore features do not conflict if enabled together"
There may be problems with respect to the connection from the JVM client needing to be established to the JIT server after a CRIU restore if a user tried running with JIT server enabled. I don't see a benefit from running with the JIT server enabled before a CRIU checkpoint is taken since that run is a one-off when the container image is built (and is being done in a build environment rather than

[2022-02-09 22:45] vijaysun-omr commented on #14477
This is part of issue [16384] (https://github.com/OpenLiberty/open-liberty/issues/16384)

[2022-02-09 22:46] keithc-ca commented on #14193
Being able to repeatedly load the dump with a 1GB heap (that failed with gencon and a 800MB heap), I was going to suggest that we use `-Xmx1024M` for the tests until I re-read https://github.com/eclipse-openj9/openj9/issues/14193#issuecomment-1021218365

I think we're in a difficult spot with the test because the same VM both creates the dumps and tries to analyze them. Ideally we want smaller sys

[2022-02-09 23:04] mpirvu commented on #14477
The client JVM needs to be started in client mode (i.e. with -XX:+UseJITServer) is we want the restored process to take advantage of JITServer capabilities. If the server is not available during the container creation, the client will compile locally. It will still try to connect a JITServer from time to time (with an exponential back-off mechanism) to address the possibility if JITServer being do

[2022-02-09 23:04] keithc-ca commented on #14260
I believe the issues have been addressed both in OpenJ9 and jdknext.

[2022-02-09 23:04] #14260 closed

[2022-02-09 23:12] vijaysun-omr commented on #14477
There is a "safe" set of environment variables that we do allow to change between the checkpoint and restore environments. In theory, a change to options/config could be communicated via an environment variable considered safe by the JVM when it is running in this mode.

I think it would be useful to change the address/port of the JIT server for a restored process, so this does need to be designed

[2022-02-09 23:13] vijaysun-omr commented on #14477
@tajila and @DanHeidinga fyi

[2022-02-09 23:28] JasonFengJ9 commented on #14472
https://github.com/eclipse-openj9/openj9/issues/14227 is a test issue as per https://github.com/eclipse-openj9/openj9/issues/14227#issuecomment-1022182333, also I noticed that the non-ascii command line option (tested via `cmdLineTester_SystemPropertiesTest_aix`) wasn't converted properly, hence was using that issue to continue the encoding investigation.
`java/lang/System/FileEncodingTest.java` i

[2022-02-09 23:50] knn-k commented on #14434
Thank you!

[2022-02-10 00:50] mikezhang1234567890 commented on #14455
Had a stack overflow failure with `-Xmso512K`, in internal Jenkins: `/job/Grinder/20844/consoleText`

[2022-02-10 02:58] pshipton commented on #14193
I suggest we just change the gc policy for the test (optthruput) and run it with a 1G heap. As long as that works we can be done with this. Another possibility is to stop installing the debug image when we test, which should reduce the heap size requirement greatly. I don't think installing the debug image provides any benefit.

[2022-02-10 03:07] pshipton commented on #14465
sanity.system Mauve testing is also failing on plinux and AIX, guessing it's the same issue.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK18/14/

[2022-02-10 03:09] pshipton commented on #13314
@0xdaryl did this (and https://github.com/eclipse-openj9/openj9/pull/13340) get forgotten? I see successful PR testing and then nothing since.

[2022-02-10 07:27] Akira1Saitoh commented on #12179
I've got a question regarding the registers saved in `c_cInterpreter`. Are they callee saved registers in system ABI? If so, this function does not need to be changed as vector registers are caller saved registers.
https://github.com/eclipse-openj9/openj9/blob/cfef96b343fe73a3dd444504bd871a351d1f88f3/runtime/vm/arm64cinterp.m4#L27-L38

[2022-02-10 14:07] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/202
jdk_lang_1
java/lang/ProcessHandle/TreeTest.java
[code]

[2022-02-10 14:15] pshipton commented on #13803
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_1/209 - [win2012-x86-4](https://openj9-jenkins.osuosl.org/computer/win2012-x86-4)
SharedClassesAPI_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_1/209/system_test_output.tar.gz

66.WL2.stderr
[code]

[2022-02-10 15:05] pshipton opened #14482 "Native stack traces with symbols in javacore files"
https://github.com/eclipse/omr/pull/6345 adds support for symbols in native stack traces in javacore files on Linux. It would be useful for triage if the remaining platforms had similar support.

- [ ] AIX
- [ ] macOS
- [ ] Windows
- [ ] z/OS

[2022-02-10 15:27] mpirvu commented on #14297
@cjjdespres Could you please implement this feature? Thanks.

[2022-02-10 16:36] cjjdespres commented on #14297
Sure. It looks like the relevant place to set that information is `createMethodMetaData` in `MetaData.cpp`, right?

[2022-02-10 16:47] mpirvu commented on #14297
Yes, there is a similar piece there;
[code]

[2022-02-10 16:51] pshipton opened #14483 "Jep389Tests_testClinkerFfi_DownCall test_aot NoSuchMethodError: java/lang/invoke/MethodHandle.invokeBasic"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_linux_aot_Personal_testList_1/4/ - [cent7-x64-4](https://openj9-jenkins.osuosl.org/computer/cent7-x64-4)
Jep389Tests_testClinkerFfi_DownCall_0
`-Xshareclasses:name=test_aot -Xscmx400M -Xscmaxaot256m  --enable-preview`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.functional

[2022-02-10 16:55] gacholio commented on #12179
Yes, those are saving the callee-preserved registers in the ABI, so I think you're correct that no change need be made here.

[2022-02-10 16:59] dsouzai commented on #14483
I _think_ this is related to https://github.com/eclipse-openj9/openj9/issues/14135. Maybe this test needs to also be excluded?

[2022-02-10 18:16] #13589 closed

[2022-02-10 18:27] pshipton commented on #8983
@keith am I correct DDR detects truncated core files on AIX and Linux (ELF)? If so I'd be inclined to close this until somebody complains about a problem on another platform.

[2022-02-10 18:29] pshipton commented on #11899
Not seen in some time, closing.

[2022-02-10 18:34] JasonFengJ9 commented on #14473
It has been excluded for RI.
[code]

[2022-02-10 18:36] #12692 closed

[2022-02-10 18:40] pshipton commented on #14472
I'm concerned about there being a real problem here, you can exclude it but we shouldn't ignore it. My understanding is that AIX isn't maintained at OpenJDK any more the same way it was in the past, and may need fixes to support jdk18 properly.

[2022-02-10 18:43] JasonFengJ9 commented on #14472
Yes, that was the reason to keep the investigation at https://github.com/eclipse-openj9/openj9/issues/14227
#14227 #14472 #144473 appears same issue underneath.

[2022-02-10 19:01] pshipton commented on #14472
@pushkarnk this test fails on jdk18 Temurin builds from Adoptium, as well as OpenJ9. It may be related to https://openjdk.java.net/jeps/400. Note the JDK18 release schedule, we are running out of time to resolve problems for the initial release. http://openjdk.java.net/projects/jdk/18/

[2022-02-10 19:04] pshipton commented on #14472
@JasonFengJ9 I believe https://github.com/eclipse-openj9/openj9/issues/14227 to be a problem with the OpenJ9 test itself, which I suspect is different from this problem.

[2022-02-10 19:07] pshipton commented on #13475
Haven't seen this again, closing.

[2022-02-10 19:07] #13475 closed

[2022-02-10 19:08] pshipton commented on #13478
Haven't seen this for a while, closing.

[2022-02-10 19:08] #13478 closed

[2022-02-10 19:09] pshipton commented on #13499
Haven't seen this for a while, closing.

[2022-02-10 19:10] #13617 closed

[2022-02-10 19:11] pshipton commented on #13683
Haven't seen this in a while, closing.

[2022-02-10 19:11] #13683 closed

[2022-02-10 19:12] pshipton commented on #13824
Haven't seen this again, closing.

[2022-02-10 19:12] #13824 closed

[2022-02-10 19:14] pshipton commented on #13921
This hasn't occurred for a while, perhaps it was fixed by https://github.com/eclipse/omr/pull/6319

[2022-02-10 19:14] #13921 closed

[2022-02-10 19:26] mikezhang1234567890 commented on #14455
Looks like the Jenkins job doesn't pass the command line arguments to the perf test. Will retry by creating a new build with default set to 512K.

[2022-02-10 19:29] pshipton commented on #9124
Hasn't been reported in a while, closing.

[2022-02-10 19:30] pshipton commented on #9132
Doesn't seem anything further to do here, closing.

[2022-02-10 19:30] #9132 closed

[2022-02-10 19:37] pshipton commented on #11195
Closing as it's for jdk16.

[2022-02-10 19:37] #11195 closed

[2022-02-10 19:41] pshipton commented on #11433
I assume this is resolved in jdk17+ builds since they use the OpenJDK MethodHandle implementation. This may eventually be backported to jdk11 and jdk8.

[2022-02-10 19:42] JasonFengJ9 commented on #14472
That's correct, the test makes assumption not applying to Java 18 w/ JEP 400 implemented.
While working on that issue, I noticed non-ascii characters in command line option weren't converted properly (more digging required), hence use that issue for a place holder for further investigation.
I think the common problem is the command line option encoding at AIX, at least that's the first issue to be

[2022-02-10 19:50] #12190 closed

[2022-02-10 19:52] pshipton commented on #12295
Seems nothing to do here, closing.

[2022-02-10 20:11] pshipton commented on #13180
Hasn't been reported in a while, closing.

[2022-02-10 20:11] #13180 closed

[2022-02-10 20:15] pshipton commented on #13162
Was this ever fixed?

[2022-02-10 20:37] pshipton commented on #378
This was completed some time ago, for all platforms.

[2022-02-10 20:37] #378 closed

[2022-02-10 21:56] llxia opened #14486 "Docker based CRIU testing"
This issue is for docker based CRIU testing scenarios:

- Scenario 1: same host machine
 1. start container
 2. run tests and create CRIU checkpoints
 3. restore
 4. push the generated image into dockerhub (may need a flag for this, so user can turn on or off)

- Scenario 2: different host machine (same os)
 1. pull docker imager from dockerhub
 2. restore

- Scenario 3: different host machines (d

[2022-02-10 21:59] llxia commented on #14486
@tajila could you provide CRIU commands (checkpoints/restore) for running hello world? Thanks

[2022-02-10 22:14] #14299 closed

[2022-02-10 22:26] pshipton opened #14487 "OpenJDK mac java/foreign/TestFunctionDescriptor NoSuchElementException: No value present"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_aarch64_mac_Release/1
jdk_foreign_1
java/foreign/TestFunctionDescriptor.java

[code]

@knn-k

[2022-02-11 00:00] knn-k commented on #14487
100% reproduced in a Grinder job:  https://openj9-jenkins.osuosl.org/job/Grinder/605

jdk_foreign_1 was OK when I tried running sanity.openjdk last week in https://openj9-jenkins.osuosl.org/job/Grinder/577/tapResults/, but that was JDK 17.

[2022-02-11 00:59] pshipton commented on #14487
Also note this build is from the v0.31.0-release branch.

[2022-02-11 10:16] c-koell opened #14489 "Eclipse 2021-12 crashes very often after switching from jdk 11 to jdk 17"
Java -version output
--------------------
openjdk 11 ->
openjdk version "11.0.14" 2022-01-18
IBM Semeru Runtime Open Edition 11.0.14.0 (build 11.0.14+9)
Eclipse OpenJ9 VM 11.0.14.0 (build openj9-0.30.0, JRE 11 Windows 10 amd64-64-Bit Compressed References 20220128_296 (JIT enabled, AOT enabled)

openjdk 17 ->
openjdk version "17.0.2" 2022-01-18
IBM Semeru Runtime Open Edition 17.0.2.0 (build 17.0.

[2022-02-11 10:16] c-koell commented on #14489
The dump is 300Mb as ziped file, can i attach it here ?

[2022-02-11 12:50] pshipton commented on #14489
You can try, as long as github accepts it.

[2022-02-11 13:04] pshipton commented on #11868
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_ppc64le_linux_Nightly_testList_2/207 - [ub18-ppcle-1](https://openj9-jenkins.osuosl.org/computer/ub18-ppcle-1)
MiniMix_5m_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.system_ppc64le_linux_Nightly_testList_2/207/system_test_output.tar.gz

[2022-02-11 13:06] knn-k commented on #14487
PR #14479 does not resolve this failure.  I need to look at it deeper.

[2022-02-11 13:12] pshipton commented on #14396
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_linux_Nightly_testList_0/141 - [ub20-x86-1](https://openj9-jenkins.osuosl.org/computer/ub20-x86-1)
testDefaultDisclaimMemory_3

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.functional_x86-64_linux_Nightly_testList_0/141/functional_test_output.tar.gz

https://openj9-jenk

[2022-02-11 13:30] pshipton opened #14490 "OpenJDK java/lang/ProcessBuilder/Basic.java#id0 Windows timeout FileInputStream.readBytes"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/156/ - [win2012-x86-11](https://openj9-jenkins.osuosl.org/computer/win2012-x86-11)
java/lang/ProcessBuilder/Basic.java#id0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/156/openjdk_test_output.tar.gz
[code]

[2022-02-11 13:55] #14297 closed

[2022-02-11 14:01] pshipton commented on #14226
It is a test issue. I'm seeing it pop up on the open machines as well. First I'll collect some info about which machines. Maybe it's better to update/patch the OpenJDK test than to find and update all the machines.

[2022-02-11 14:10] pshipton commented on #14226
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_ppc64le_linux_Release/1 - ub16p8j94

[2022-02-11 14:12] pshipton commented on #14131
@JasonFengJ9 if tests are re-included, can the `test excluded` label be removed? There is no test excluded with this id, so I think yes. I'll leave it to you.

[2022-02-11 14:15] pshipton opened #14491 "OpenJDK FinalizationOption Test failed FinalizationOption.java:126"
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_s390x_linux_Release/1 - [rh7-390-2](https://openj9-jenkins.osuosl.org/computer/rh7-390-2)
jdk_lang_1 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops`
java/lang/Object/FinalizationOption.java

I expect this is intermittent since

[2022-02-11 14:16] pshipton commented on #14269
Closing assuming fixed.

[2022-02-11 14:16] pshipton commented on #14491
@tajila @JasonFengJ9 fyi

[2022-02-11 14:17] #14269 closed

[2022-02-11 14:44] JasonFengJ9 commented on #14131
Ah, removed the `test excluded` label.

[2022-02-11 14:47] pshipton commented on #14226
@mikezhang1234567890 pls check what's involved to update the test to add the command line option(s). I assume `-Duser.language=en -Duser.country=US` is the fix, and hopefully just needs to be added to the `@run` line, i.e. `@run testng -Duser.language=en -Duser.country=US PropertiesStoreTest`.

[2022-02-11 15:42] pshipton opened #14492 "win2012-x86-2 doesn't have any labels so it's sitting idle"
Not sure why. https://openj9-jenkins.osuosl.org/computer/win2012%2Dx86%2D2/
@AdamBrousseau

[2022-02-11 15:49] mpirvu commented on #13988
@cjjdespres Could you please implement this? Thanks

[2022-02-11 15:54] tajila commented on #14486
1) build openj9 with `enable-criu-support`
2) Create application

[code]

3) Create the checkpoint image with `sudo  java -XX:+EnableCRIUSupport -cp . Demo`

4) Restore image with `sudo criu restore -D ./cpData --shell-job`

To run without sudo see https://github.com/eclipse-openj9/openj9/issues/14265

[2022-02-11 16:04] pshipton commented on #13803
Not sure why these problem occur periodically. Sanitize and cleanup seem to fix them, so the problems don't persist.

I managed to get [win2012-x86-8](https://openj9-jenkins.osuosl.org/computer/win2012%2Dx86%2D8/) back online.

[2022-02-11 16:21] pshipton commented on #14487
Also occurs on x86, same stack.
Internal build /job/Test_openjdk18_j9_sanity.openjdk_x86-64_mac_testList_1/6

[2022-02-11 16:37] LinHu2016 commented on #14396
I have kind narrowed down the issue,

[2022-02-11 16:41] 0xdaryl commented on #5455
Implement `supportsDirectJNICallsForAOT()`.  Prior to enabling, ensure the direct JNI sequence has proper relocations added.

[2022-02-11 16:46] LinHu2016 commented on #14396
I have kind narrowed down the issue,
the issue can be reproduced with the latest build grinder x10 extended.functional tests(in both java17 and java18), the below two grinders from the latest personal build exclude the change(https://github.com/eclipse-openj9/openj9/pull/14357), both grinders were passed without the failure, looks like https://github.com/eclipse-openj9/openj9/pull/14357 triggered

[2022-02-11 16:55] llxia commented on #14486
Thanks @tajila for the details.

FYI @renfeiw @LongyuZhang

[2022-02-11 17:12] ChengJin01 commented on #14487
The problem was seen in the open build at https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_aarch64_mac_Release/1/consoleFull
[code]
which was caused by the following code at https://github.com/ibmruntimes/openj9-openjdk-jdk18/blob/openj9/test/jdk/java/foreign/NativeTestHelper.java
[code]
Technically there should be no problem with the default library loading on MacOS/Aarch64

[2022-02-11 17:27] ChengJin01 commented on #14487
The related code include the following files:
/openj9-openjdk-jdk18/src/jdk.incubator.foreign/share/classes/jdk/internal/foreign/SystemLookup.java
[code]
/openj9-openjdk-jdk18/src/java.base/share/classes/jdk/internal/loader/NativeLibraries.java
/openj9-openjdk-jdk18/src/java.base/share/native/libjava/NativeLibraries.c

[2022-02-11 17:40] AdamBrousseau commented on #14492
I must have moved them off to test something. Back now.

[2022-02-11 17:40] #14492 closed

[2022-02-11 17:54] mikezhang1234567890 commented on #14226
For `PropertiesStoreTest.java` it looks like we can just add the options to the `@run` tag. For `StoreReproducibilityTest.java` it doesn't look like we can since `@run driver` doesn't seem to support adding VM opts per https://openjdk.java.net/jtreg/tag-spec.html. However, there's only 1 location where it's trying to parse the date, so I believe we can just set the correct locale for the  DateTime

[2022-02-11 17:55] #14262 closed

[2022-02-11 18:46] pshipton commented on #14487
That's why this Issue was originally created. In https://github.com/eclipse-openj9/openj9/issues/14487#issuecomment-1036382615 I was commenting on the x86 failure that didn't occur in the open build, but is seen in the internal build.

[2022-02-11 18:53] ChengJin01 commented on #14487
That's because there is no Foreign Linker API support on macOS/x86 in OpenJDK,, in which case the test won't run in there.

[2022-02-11 19:01] pshipton commented on #14396
That means https://github.com/eclipse-openj9/openj9/pull/14471 didn't fix it, it's still failing in the nightly build last night as per https://github.com/eclipse-openj9/openj9/issues/14396#issuecomment-1036200671

[2022-02-11 19:44] pshipton commented on #14487
According to https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_sanity.openjdk_x86-64_mac_Release/1/testReport/ it seems the test is running and passing. I could run it again in a grinder and keep the output.
Yet in the internal build it's running and failing.

[code]

[2022-02-11 20:04] pshipton commented on #14487
Ran the test in a grinder, but there is nothing useful in the archived result, just a Grinder.tap, no test artifacts.
@llxia do I need to set "KEEP WORKSPACE"?
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/611

[2022-02-11 20:06] #14226 closed

[2022-02-11 20:10] mikezhang1234567890 commented on #14226
Should I also create the PR for jdknext? @pshipton

[2022-02-11 20:13] pshipton commented on #14487
Setting "KEEP WORKSPACE" didn't change the archived results.
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Grinder/614

[2022-02-11 20:24] ChengJin01 commented on #14487
If there is no difference between the internal & open builds from OpenJDK perspective, it should end up with the same results.
The test at `/openj9-openjdk-jdk18/test/jdk/java/foreign/TestFunctionDescriptor.java` only set up the arch as follows:
/*
 * @test
 * @requires ((os.arch == "amd64" | os.arch == "x86_64") & sun.arch.data.model == "64") | os.arch == "aarch64"
 * @run testng/othervm --enable

[2022-02-11 20:37] mikezhang1234567890 commented on #14455
Using `#define J9_OS_STACK_SIZE (1024 * 1024)` a 40x grinder ran internally and had no failures at `job/Grinder/20902/`

Using 512k did have a stack overflow.

@tajila should I make the change to set `J9_OS_STACK_SIZE` to 1024K for aarch64?

[2022-02-11 20:44] tajila commented on #14455
@knn-k Is there a reason why aarch64 would require larger stack space?

[2022-02-11 20:54] pshipton opened #14494 "OpenJDK incubator/vector/Short64VectorTests Unexpected exit from test [exit code: 137]"
Internal build (0.31 m1) /job/Test_openjdk18_j9_extended.openjdk_s390x_linux/5 - ub18s390xrt-1-9
jdk_vector_0 `-XX:+UseCompressedOops`
jdk/incubator/vector/Short64VectorTests.java
[code]

artifacts:
/ui/native/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com/Test_openjdk18_j9_extended.openjdk_s390x_linux/5/openjdk_test_output.tar.gz
[code]
@gita-omr

[2022-02-11 21:02] pshipton commented on #14395
Internal test /job/Test_openjdk18_j9_special.system_ppc64_aix_testList_2/8
DaaLoadTest_daa2_special_5m_19
[code]

[2022-02-11 21:08] llxia commented on #14487
re https://github.com/eclipse-openj9/openj9/issues/14487#issuecomment-1036576181, KEEP_WORKSPACE means our test script will not delete the workspace after the run. It will not help in this case. I think `work` dir is removed by jtreg.

Try `-retain:all` at https://github.com/adoptium/aqa-tests/blob/master/openjdk/openjdk.mk#L77
jtreg doc: https://openjdk.java.net/jtreg/command-help.html

[2022-02-11 21:15] pshipton opened #14495 "System tests not running specified modes"
@babsingh @Mesbah-Alam @renfeiw @llxia

See the system tests in https://github.com/eclipse-openj9/openj9/issues/14395#issuecomment-1036620233

It looks to me that `-Djava.security.manager=allow` has overwritten the modes that are supposed to be running (Mode607, Mode615). Options for the modes (as shown below) don't appear in the test output.

Mode607:
`-Xcompressedrefs -Xgcpolicy:optthruput -Xdeb

[2022-02-11 21:25] ChengJin01 commented on #14487
That's because the test code in `TestFunctionDescriptor ` is different betwen JDK17  & 18.

[1] JDK17
[code]
[2] JDK18
[code]
In JDK17, it never loads `free` via `TestFunctionDescriptor`, which explains why it passed in there.

[2022-02-11 21:30] pshipton commented on #14455
Only z/OS has such a large default size, as I recall it's because the OS provides that size even if we specify a smaller one.
https://www.eclipse.org/openj9/docs/openj9_defaults/

[2022-02-11 21:54] fengxue-IS commented on #6680
local testing passed for JDK 11 & JDK 17, opened PR to re-enable testing

[2022-02-11 22:49] pshipton commented on #14491
Failed 1/10 in grinder https://openj9-jenkins.osuosl.org/job/Grinder/615
This seems like a test issue to me, like it's checking for the thread too early. It might fix it to reverse the order of the checks.

[2022-02-11 23:30] #6680 closed

[2022-02-11 23:33] ChengJin01 commented on #14487
I tried with a simple test as follows with the open build & internal build on the passing machines (V`19.6.0` for intended open build) and the failing machine (V`20.3.0` intended for internal build)
[code]
and it shows both builds passed on V`19.6.0`:
[code]
an failed on V`20.3.0`:
[code]
Assuming the code in OpenJDK is the same in both open & internal build,  it indicates the issue was triggered

[2022-02-12 02:26] fengxue-IS commented on #7741
Verified this is fixed for Java 17/18, opened PR to re-enable testing. I got the same issue as Babneet during testing for Java11, maybe should revisit this once OJDK MH is enabled for Java 11

[2022-02-12 16:54] 1a2s3d4f1 opened #14497 "Memory footprint problem while use balanced gc"
Java -version output
--------------------

[code]

Summary of problem
------------------
Use Jconsole to monitor memory footprint of minecraft server. I found that memory footprint is strange. Memory pool "Balanced-old" occupied 415MB memory and balanced-survivor occupied 4MB memory. But minimum heap memory footprint bigger than these pool`s sum. Use full gc can slove these problem.

Diagnostic fi

[2022-02-12 17:02] 1a2s3d4f1 commented on #14076
@amicic  This problem (Too much Eden expansion) is not happen on minecraft client. It tested in virtual enviroment(Use VirtualBox).

[2022-02-12 17:02] #14076 closed

[2022-02-12 21:25] pshipton commented on #14497
@amicic @dmitripivkine

[2022-02-12 21:56] pshipton opened #14498 "jdk19 annotation tests fail due to toString() format changing"
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/233/

Test_Class annotation tests are failing due to toString() format changing. The expected values are hard coded in the test.
See https://github.com/eclipse-openj9/openj9/blob/master/test/functional/Java8andUp/src_110_up/org/openj9/test/java/lang/Test_Class.java#L2279

https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/b94

[2022-02-13 15:51] JasonFengJ9 opened #14499 "JDK18 jdk_security4_FAILED Server returned HTTP response code: 401 for URL - RuntimeException: Failed to login as subject"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.openjdk_x86-64_linux/6/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_security4_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG_O

[2022-02-13 15:58] JasonFengJ9 opened #14500 "JDK18 aarch64_mac jniargtests_2_FAILED - JNI ARG Tests FAILED"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_sanity.functional_aarch64_mac_testList_0/3/`(`macaarch64rt2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jniargtests_2&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_sanity.functional_aarch64_mac&amp;DOCKER_REQUIRED=false&amp;ACT

[2022-02-13 16:38] JasonFengJ9 opened #14501 "JDK18 aarch64_mac ContendedFieldsTests_90_1_FAILED"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.functional_aarch64_mac_testList_0/3/`(`macaarch64rt2`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=ContendedFieldsTests_90_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_extended.functional_aarch64_mac&amp;DOCKER_REQUIR

[2022-02-13 16:43] JasonFengJ9 opened #14502 "JDK18 aarch64_mac cmdLineTester_fieldwatchtests_0_FAILED - InternalError: SIGBUS"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.functional_aarch64_mac_testList_0/3/`(`macaarch64rt2 `):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=cmdLineTester_fieldwatchtests_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk18_j9_extended.functional_aarch64_mac&amp;DOCKER

[2022-02-13 16:57] JasonFengJ9 opened #14503 "JDK18 java/nio/channels/FileChannel/LargeGatheringWrite.java - OutOfMemoryError: Cannot reserve 536870912 bytes of direct buffer memory (allocated: 3221225520, limit: 3758096384)"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.openjdk_ppc64_aix/3/`(`paix907`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_nio_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG

[2022-02-13 17:01] JasonFengJ9 opened #14504 "JDK18 AIX java/nio/channels/FileChannel/Transfer2GPlus.java - RuntimeException: Transfer too small: 1043881984"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.openjdk_ppc64_aix/3/`(`paix907`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_nio_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG

[2022-02-13 17:10] JasonFengJ9 opened #14505 "AIX javax/imageio/ReadAbortTest(WriteAbortTest).java - NPE: Cannot invoke "java.io.File.toPath()" because "this.file" is null"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.openjdk_ppc64_aix/3/`(`paix907`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_imageio_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp

[2022-02-13 23:29] pshipton commented on #14501
@knn-k

[2022-02-13 23:29] pshipton commented on #14502
@knn-k

[2022-02-13 23:29] pshipton commented on #14500
@knn-k

[2022-02-14 00:16] knn-k commented on #14500
PR #14479  will resolve the failures with `nativeBBSSIJFDIFDFDFDBBSSIJFDrJ`.  I am investigating the failures with `nativeIIIIIZZZZZrZ` now.

[2022-02-14 04:03] Akira1Saitoh commented on #12179
Thanks. I opened https://github.com/eclipse-openj9/openj9/pull/14506.

[2022-02-14 04:16] IBMJimmyk commented on #14469
The failing line in the failing test looks to be here:
https://github.com/eclipse-openj9/openj9/blob/c462b8b9d0cee99dce36715fd95ad7de210307d2/test/functional/JIT_Test/src/jit/test/tr/chtable/VirtualGuardTest.java#L109

It seems like the problem is with checking the result. From the test output:
[code]
From the test source, the expected result is "B" and this actually matches the produced result. B

[2022-02-14 07:19] c-koell commented on #14489
[javacore.20220211.110201.11772.0002.txt](https://github.com/eclipse-openj9/openj9/files/8058667/javacore.20220211.110201.11772.0002.txt)
The Javacore File

[2022-02-14 07:20] c-koell commented on #14489
We are using lombok and i have found a similar error
https://github.com/projectlombok/lombok/issues/3084

[2022-02-14 07:27] c-koell commented on #14489
The dump file is to big to upload ...

[2022-02-14 12:34] knn-k commented on #14455
@tajila I have no idea on the reason for large stack on AArch64.  I don't understand why this failure occurs intermittently, either.

[2022-02-14 13:13] pshipton commented on #14489
You can use a file sharing service for the system dump.

[2022-02-14 13:15] pshipton commented on #14489
@0xdaryl fyi

The javacore shows
[code]
`vmState [0x514ff]: {J9VMSTATE_JIT} {globalValuePropagation}`

[2022-02-14 13:47] tajila commented on #11433
Yes, this should be resolved as soon as we backport ojdk_mh

[2022-02-14 14:45] pshipton commented on #14142
Internal vmfarm job /job_output.php?id=26966743
[Linux PPC LE 64bit] 80 JVM_Regression.testSCSimpleSanity.Mode110 - rhel7p8cudavm1
result file results-269667430.jar in /team/triage/openj9-14142
180x grinder passed
30x grinder on same machine passed
[code]

[2022-02-14 15:03] cjjdespres commented on #13988
Could you clarify this? I'm not sure when exactly the value will not be available. Do you mean that the cached value of `J9VMJAVALANGSTRING(vmInfo->javaVM)` might be `NULL`, and that we would need to fall back on the currently-existing code in `isString`?

[2022-02-14 15:05] ymanton commented on #14465
This is the same problem described by https://github.com/eclipse-openj9/openj9/issues/14228 which itself is likely a dup of https://github.com/eclipse-openj9/openj9/issues/14230 for which a fix was recently merged.

The crash I looked at is during an interface call to `java/util/Collection.toString()Ljava/lang/String;` from an AOT-compiled method `java/util/Collections$SynchronizedCollection.toStr

[2022-02-14 15:23] tajila commented on #14498
@mikezhang1234567890 Can you please take a look at this

[2022-02-14 15:24] tajila commented on #14498
In the short term you can disable the test. Longer term we need to modify the tests to take into account the new behaviour

[2022-02-14 15:26] pshipton commented on #14465
@ymanton pls create a PR to double deliver the fix to the v0.31.0-release branch.

[2022-02-14 15:27] babsingh commented on #14495
This issue happens because of https://github.com/adoptium/aqa-tests/pull/3310.

[code]

Prepending to `JVM_OPTIONS` overrides the JVM options for the modes.

`EXTRA_OPTIONS` will always append to the JVM options for the modes. If the modes already specify `-Djava.security.manager=*`, then it will be overwritten by `EXTRA_OPTIONS`.

`JAVA_TOOL_OPTIONS` should work for both OpenJ9 and Hotspot. It pr

[2022-02-14 15:28] pshipton commented on #14465
If you are talking about https://github.com/eclipse-openj9/openj9/pull/14430, these problems persist after that fix.

[2022-02-14 15:34] #14491 closed

[2022-02-14 15:49] tajila commented on #14455
@knn-k

Here are the volatile register we save on x86

[code]
on aarch64 its

[code]

So this would warrant a larger native stack than x86, but 1M seems extreme.

[2022-02-14 15:55] mpirvu commented on #13988
I was saying that the cached value can have a value of NULL, indicating that the server must go and fetch the correct value from the client.
`J9VMJAVALANGSTRING(vmInfo->javaVM)` cannot be NULL at the client, except in the very early stages of the JVM, but we won't have any compilations so early. Even if  `J9VMJAVALANGSTRING(vmInfo->javaVM)` is NULL at the client, that means the server will cache a

[2022-02-14 15:58] tajila commented on #14455
@mikezhang1234567890 do you have a core file from when it SO's? it would be interesting to see the `!stacklsots [thread]` for the thread that overflows. Know how many jit or native transitions are performed would help us identify the cause

[2022-02-14 16:08] cjjdespres commented on #13988
I see. I think I'm confused because it seems like `getOrCacheVMInfo` is always going to fetch a full `vmInfo` from the client, and that's always going to have a non-null `J9VMJAVALANGSTRING(vmInfo->javaVM)` value in it, at least by the time those compilations start happening, as you say.

[2022-02-14 16:10] cjjdespres commented on #13988
I've been assuming that it would be set like
[code]
at the client, but maybe you had something more in mind?

[2022-02-14 16:11] mikezhang1234567890 commented on #14455
No core yet, I'll run another grinder and get one.

[2022-02-14 16:14] cjjdespres commented on #13988
Or do you mean that it may in fact have an early cached NULL, and so we'll have to send a new message to update the cached `vmInfo` with an actual value?

[2022-02-14 16:20] pshipton commented on #14498
Should be an easy fix, we just need a table to support jdk19+. Looked like `$` changed to `.`.

[2022-02-14 16:24] gatoborrachon commented on #11433
many thanks, i will let you know if it works fine as soon as possible

[2022-02-14 16:32] gatoborrachon commented on #11433
oh, Minecraft 1.12 only works with JDK8, but no problem, i can wait

[2022-02-14 16:51] mpirvu commented on #13988
What I think it should happen at the server is,
- call `getOrCacheVMInfo()`
- if the field corresponding to J9VMJAVALANGSTRING(vmInfo->javaVM) is NULL, send the existing `VM_isString` message to client and use that.
- if the value returned by `VM_isString` message is not NULL, cache it in VMInfo to avoid a new message next time

Moreover, when we enter the extended HCR mode, the corresponding J9VM

[2022-02-14 17:08] pshipton commented on #6552
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_aarch64_linux_Nightly_testList_0/96 - [cent8-aarch64-3](https://openj9-jenkins.osuosl.org/computer/cent8-aarch64-3)
DaaLoadTest_daa1_5m_0 `-Xjit -Xgcpolicy:gencon -Xnocompressedrefs`

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_sanity.system_aarch64_linux_Nightly_testList_0/96/system_test_o

[2022-02-14 17:23] babsingh commented on #14412
This is a useful resource: https://openjdk.java.net/jeps/411. There is a section titled: `Deprecate APIs for removal`. It lists the classes and methods, which will be terminally deprecated and retained. This information can be used in segregation of tests. Specifically to identify classes and methods which are strongly dependent on the security manager.

[2022-02-14 17:32] babsingh commented on #14412
**Update:** For **system tests**, only the framework which launches system tests is impacted: [stf.load/src/stf.load/net/adoptopenjdk/loadTest/LoadTest.java](https://github.com/adoptium/STF/blob/93456a2cde4a9572332c745d2e6be31e9b960b18/stf.load/src/stf.load/net/adoptopenjdk/loadTest/LoadTest.java#L126). [SecurityManager.checkExit](https://cr.openjdk.java.net/~iris/se/18/spec/latest/api/java.base/j

[2022-02-14 17:34] BradleyWood commented on #14489
Looks to be the same issue as reported to Project Lombok on linux with JDK11 0.29. @c-koell Are you sure this only happens on JDK17, and is it intermittent?

You can also set TR_Options environment variable if your jvm is invoked via maven or some other build system.

[code]

You could also try to exclude that method from compilation as a work-around.

[code]

I wasn't able to reproduce a crash wi

[2022-02-14 18:18] JasonFengJ9 opened #14508 "CRIU: docker liberty hang after restore (due to the single thread mode when running jvmRestoreHooks)"
After a successful liberty checkpoint in a docker container, an attempt to restore will hang, and the liberty app won't be able to start.

From the javacore files captures, the threads deadlock at `org/eclipse/osgi/framework/eventmgr/EventManager$EventThread@0x0000000706C763D0`
The thread holds the lock in question. (supposedly release the lock, allow other threads proceed but re-gain it and was b

[2022-02-14 18:20] keithc-ca commented on #14193
The proposed changes are in #14509.

[2022-02-14 18:25] ymanton commented on #14465
#14230 is caused by the optimizer transforming an interface call (that needs to be resolved at runtime because we're in AOT mode) to a virtual call, thereby creating a mismatch between the constant pool entry (which still describes an interface call) and the generated code, which causes problems at resolve time.

In this case we jave an interface call and we've kept it intact (possibly due to #144

[2022-02-14 18:41] #12179 closed

[2022-02-14 20:11] tajila commented on #14508
As a next step we

Can add a new flag to detect single threaded mode, `J9_EXTENDED_RUNTIME2_CRIU_SINGLE_THREAD_MODE` in `java->extendedRuntimeFlags2`

Then we add can add a new monitor mode:

[code]
We no longer need `J9_OBJECT_MONITOR_PRIMITIVE_WRAPPER_IMSE` so we can rename that to `J9_OBJECT_MONITOR_CRIU_SINGLE_THREAD_MODE_THROW`

In `objectMonitorEnterNonBlocking`, `jnicsup.cpp::monitorEnter`,

[2022-02-14 20:13] JasonFengJ9 commented on #14227
`cmdLineTester_SystemPropertiesTest_win` failure is to be addressed via https://github.com/eclipse-openj9/openj9/pull/14507

This issue is used to track `cmdLineTester_SystemPropertiesTest_aix`.

[2022-02-14 20:38] pshipton commented on #14483
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_linux_aot_Personal/5

[2022-02-14 20:39] pshipton commented on #14483
Seems like it's going to fail in every build.

[2022-02-14 20:54] dsouzai commented on #14483
auto exclude test Jep389Tests_testClinkerFfi_DownCall_0 testflag=aot

[2022-02-14 21:00] AdamBrousseau commented on #13803
There was a 2.5G core in ~/ I cleaned up. Hopefully that helps. Page disk is full also. I will look into that.

[2022-02-14 21:11] #14498 closed

[2022-02-14 21:20] ChengJin01 commented on #14487
1) I double-checked the test above with OpenJDK18/Hotspot which works good on both the passing machine (`v19.6.0`) and the failing machine (`v20.3.0`):
[code]

2) Based on the findings on Linux platforms: e.g.
[code]
, I suspect the existing native code `JVM_FindLibraryEntry` in OpenJ9 (specific related to `dlsym/dlopen` on the newer version of macOS) given the native code for library loading shou

[2022-02-14 22:17] BradleyWood commented on #13004
I have a few questions / thoughts about this work (#13227)
 - Have you thought about 32-bit? We only have xmm/ymm/zmm 0-8 on 32-bit
 - What if the target has AVX2, but not AVX512? then have xmm/ymm 0-16.
 - Was this ever tested on AVX512 capable hardware?
 - Could you document your M4 macros (such as **_forloop_**)
 - What about the vector mask registers k1-k7 (ignore k0)

[2022-02-14 22:55] vijaysun-omr commented on #14508
Should we consider a solution where we do not throw an exception when trying to re-acquire the monitor from `wait` and instead wait for single threaded mode to finish before allowing that re-acquire to proceed ? i.e. since the semantics of `wait` allow a waiting thread to get notified in a non-deterministic manner, what is the down side of waiting for single threaded mode to be over (via some sort

[2022-02-15 03:56] mpirvu opened #14514 "non-JITServer JVMs should not print JITServer version info"
If `-Xjit:verbose={*}` is specified, then OpenJ9 JVM will print to the verbose log a line of the form:
[code]
This happens because `-Xjit:verbose={*}` is a super-set of `-Xjit:verbose={JITServer}`.
However, if the JVM is not running in JITServer client or server mode, no information about JITServer should be printed because it is confusing.
The correction should be done in `J9::Options::setupJITSe

[2022-02-15 03:56] mpirvu commented on #14514
Attn: @cjjdespres

[2022-02-15 07:38] c-koell commented on #14489
I have seen the crash also on jdk11 but very rarly. I have a workspace where i can easily reproduce the crash.

I have attached all files under [this](https://tbox.tirol.gv.at/index.php/s/9cpPSjxLpx2Gfxt) fileshare url. Please use "jwgngGsgNs" as password.

If i use '-Xjit:{*BubblingConfigurationResolver.resolve*}(tracefull,traceGlobalVP,log=tracevplog.txt)' the crash does not occur

[2022-02-15 13:39] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/206 - [p8-java1-ibm10](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm10)
jdk_lang_1
java/lang/ProcessHandle/TreeTest.java
[code]

[2022-02-15 13:41] pshipton commented on #13803
Another on  [win2012-x86-4](https://openj9-jenkins.osuosl.org/computer/win2012-x86-4)

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_1/213/
SharedClassesAPI_1

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_1/213/system_test_output.tar.gz
[code]

[2022-02-15 13:43] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/153/

[2022-02-15 14:12] knn-k commented on #14501
The test code assumes the cache line length is 64 bytes for aarch64 in the test code.
https://github.com/eclipse-openj9/openj9/blob/468fc46a16772725c0807dbf08063eedbe97b0c7/test/functional/Java8andUp/src/org/openj9/test/contendedfields/ContendedFieldsTests.java#L56-L64

It does not apply for Apple Silicon M1, whose cache line length is 128 bytes.  M1 Mac passes the test when I change the length se

[2022-02-15 14:28] knn-k commented on #14501
jenkins test extended.functional alinux64,amac jdk11

[2022-02-15 14:29] knn-k commented on #14501
I intended to write the jenkins command above in PR #14515.

[2022-02-15 14:41] 0xdaryl commented on #14489
Did you include the asterisks (`*`) inside the regex?  They are required.  i.e.,`{*BubblingConfigurationResolver.resolve*}`

[2022-02-15 14:53] tajila commented on #14508
My previous comment does not prevent the conditions that make the deadlock possible, rather it prevents the deadlock by throwing an exception instead. The one thing missing from the previous comment is that we only return  `J9_OBJECT_MONITOR_CRIU_SINGLE_THREAD_MODE_THROW` if the fast enter fails (meaning that it is owned by another thread).

[2022-02-15 14:53] tajila commented on #14508
Another solution will be investigated to prevent the conditions that make the deadlock possible

[2022-02-15 16:23] #14300 closed

[2022-02-15 17:26] 0xdaryl commented on #14135
Thanks for continuing to work this problem.  The failure rate suggests this could be moved to 0.32 rather than be on the critical path for 0.31, so I am in favour of that.  @pshipton

[2022-02-15 17:40] pshipton commented on #14135
As per the new strategy I'll move it to the Backlog milestone. Only items we expect to complete or must complete should be in the release milestone plans. If it gets resolved we can move the closed item to the correct milestone. Unfortunately I was late to the OpenJ9 community meeting today and didn't get a chance to explain.

[2022-02-15 18:12] AdamBrousseau commented on #13803
Set the page file to delete on reboot. Didn't seem to do anything though.
https://www.techrepublic.com/article/how-to-delete-the-windows-10-paging-file-on-every-shut-down/

[2022-02-15 18:13] pshipton commented on #14505
Seems a machine/network problem or intermittent, as these tests passed when I ran them. Removing from milestone.

[2022-02-15 18:15] pshipton commented on #14504
Repeated the failure in https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/634
[code]

[2022-02-15 18:17] pshipton commented on #14504
Looks like a test issue, I'll try adding an exception for AIX.
[code]

[2022-02-15 18:50] pshipton commented on #14504
Updating the test resulted in
[code]

[2022-02-15 19:42] IBMJimmyk commented on #14469
The original failure didn't have any corefiles to work with so I tried to reproduce the problem. I did 200 runs via grinder and they all passed:

job/Grinder/20966/tapResults/
Passed 100/100

job/Grinder/20988/tapResults/
Passed 100/100

So there's not much I can do with this unless the problem shows up again.

[2022-02-15 20:07] tajila commented on #14455
Based on that output  it looks like a Java stack overflow rather than a OS stack overflow. @mikezhang1234567890 can you try it with a larger -Xss, keeping the original default OS stack size

[2022-02-15 20:16] hangshao0 opened #14518 "Non-tearable value classes"
The original ValueTypes has been split into 2 types of classes in the new model:
1. [Value Classes](https://openjdk.java.net/jeps/8277163) (classes with `ACC_VALUE`)
2. [Primitive Classes](https://openjdk.java.net/jeps/401) (classes with both`ACC_VALUE` and `ACC_PRIMITIVE`)

With https://github.com/eclipse-openj9/openj9/issues/14460, OpenJ9 now recognizes value classes. For value classes, it requi

[2022-02-15 20:18] hangshao0 commented on #14518
@tajila, I guess we could disable flattening for value classes for now ?

[2022-02-15 20:39] tajila commented on #14518
Yes, flattening should be limited to the primitive valuetypes. Also, optimizations related to layouts need a similar change. Examples are places where we do preloading/pre-init/pre-verification etc. Places where we restrict NULLs, etc.

A good approach would be to look at all the places where we do the `J9_IS_VALUETYPE` and replace with `J9_IS_PRIMITIVE_VALUE_TYPE`. Then after we can identify case

[2022-02-15 20:45] hangshao0 opened #14519 "Class.isPrimitiveClass() needs to check for ACC_PRIMITIVE"
Currently `Class.isPrimitiveClass()` is essentially checking for flag `ACC_VALUE`, which is not correct anymore. As new flag` ACC_PRIMITIVE` is addded, it needs to be updated to check for `ACC_PRIMITIVE`. Instead,` Class.isValue()` should check for `ACC_VALUE`.

[2022-02-15 21:23] BradleyWood commented on #14489
Dumping the backtrace...

[code]

[2022-02-15 21:35] BradleyWood commented on #14489
constraint is null at

https://github.com/BradleyWood/omr/blob/master/compiler/optimizer/OMRValuePropagation.cpp#L638-L647

[2022-02-15 22:11] keithc-ca commented on #947
For AIX, this looks promising: https://www.ibm.com/docs/en/aix/7.2?topic=g-getargs-subroutine.

[2022-02-15 22:18] #14193 closed

[2022-02-15 23:44] LinHu2016 commented on #14497
Hi @1a2s3d4f1, I am trying to understand your issue here, for balanced GC policy(region base), there are four heap memory-pools (balanced-reserved, balanced-eden, balanced-survivor, balanced-old) in general, balanced-reserved memory pool is the pool that hold the free regions, which have not been assigned to eden, survivor and old( those free regions could be used as eden, survivor and old in futu

[2022-02-16 00:18] #14501 closed

[2022-02-16 01:25] knn-k commented on #14502
I tried running this test a couple of times in my local environment, but I cannot reproduce the failure.

[2022-02-16 01:29] knn-k commented on #14502
This is a test related to JVMTI.  There are some known failures in JVMTI tests in #14390.

[2022-02-16 02:28] knn-k commented on #14502
I found I was able to reproduce the failure with JDK 17/18.  I used JDK 11 when I wrote the comment above.

The following is an example of extended.functional with JDK 11 AArch64 macOS.  The fieldwatchtests pass in it.
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_aarch64_mac_Personal/1/

[2022-02-16 02:54] knn-k commented on #14502
I opened #14523 to exclude this test on AArch64 macOS.

[2022-02-16 05:17] #13988 closed

[2022-02-16 05:17] #14514 closed

[2022-02-16 07:22] c-koell commented on #14489
Yes i have set the

[2022-02-16 07:23] c-koell commented on #14489
Sorry i have accidentally closed this issue :-)

[2022-02-16 07:30] c-koell commented on #14489
I have used ```-Xjit:{*BubblingConfigurationResolver.resolve*}(tracefull,traceGlobalVP,log=tracevplog.txt)``` in the eclipse.ini

[2022-02-16 12:17] 0xdaryl commented on #14465
Hi @ymanton...  Could you post a short update on any progress on this blocking issue please?

[2022-02-16 12:29] pshipton commented on #13803
Another on [win2012-x86-4](https://openj9-jenkins.osuosl.org/computer/win2012-x86-4)
Guessing it needs some manual cleanup.

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_0/214

[2022-02-16 12:36] pshipton commented on #13803
Deleted a 135MB core file from /home/jenkins present since Oct 7.

There is a 2GB pagefile.sys on the D: drive, and no room for anything bigger.

$ df -h
Filesystem      Size  Used Avail Use% Mounted on
C:/cygwin64     100G   98G  2.6G  98% /
D:              2.0G  2.0G   32M  99% /cygdrive/d
F:               45G  4.4G   40G  10% /cygdrive/f

[2022-02-16 12:40] pshipton commented on #13803
In /cygdrive/f/Users/jenkins there was a 1GB core file and other smaller diagnostic artifacts from Dec 15.

[2022-02-16 12:44] pshipton commented on #13803
Deleted jdk16 from bootjdks.

[2022-02-16 12:56] pshipton commented on #13803
Found and deleted an old obsolete 300MB shared cache from 2019 in /cygdrive/c/Documents\ and\ Settings/jenkins/Local\ Settings/Application\ Data/javasharedresources

[2022-02-16 13:01] pshipton commented on #13803
When I look at win2012-x86-8, it's got a 8GB drive for the pagefile, which is more reasonable, 2GB is too small. The pagefile drive on win2012-x86-4 needs to be fixed. I thought we fixed the pagefiles on all the machines some time ago.
[code]

[2022-02-16 15:21] 1a2s3d4f1 commented on #14497
@LinHu2016 I mean, partial gc contract memory pool(balanced-old). But heap size not be contracted. It could be contracted by Global gc. Use website gceasy.io to analyze gc log. It show old generation size. The old generation size look bigger than memory pool "balanced-old".
![20220216224258877](https://user-images.githubusercontent.com/40121560/154295950-01d624d4-f70d-4e5b-9af9-4f89e22d4e23.jpg)
!

[2022-02-16 15:28] lmgray opened #14526 "Assertion failed CallSiteClass is incompatible with the receiverClass. running sonarqube scan using maven 3.8.4+ semeru 11.0.14.1"
Java -version output
--------------------
(base) [jenkins@859600f2330b ~]$ java -version
openjdk version "11.0.14.1" 2022-02-08
IBM Semeru Runtime Open Edition 11.0.14.1 (build 11.0.14.1+1)
Eclipse OpenJ9 VM 11.0.14.1 (build openj9-0.30.1, JRE 11 Linux amd64-64-Bit Compressed References 20220210_379 (JIT enabled, AOT enabled)
OpenJ9   - 9dccbe076
OMR      - 56c3376ba
JCL      - 5c423dacd0 based on

[2022-02-16 15:46] LinHu2016 commented on #14497
Thanks @1a2s3d4f1 for the detail explanation, `Partial gc contract memory pool(balanced-old). But heap size not be contracted. ` is possible, PGC could pick up a couple tenure regions for part of collection set, in that case, after the collection(PGC) tenure size might be contracted (depends on how many survivor regions has been promoted and how many tenure(old) region has been collected).

[2022-02-16 16:16] 1a2s3d4f1 commented on #14497
@LinHu2016 Thank your anwser. So It have not any issue with balanced gc. It just a logic of gc.

[2022-02-16 16:16] #14497 closed

[2022-02-16 16:19] mpirvu commented on #14526
It's possible that this issue was triggered by https://github.com/eclipse-openj9/openj9/pull/13668.  During the testing of said PR a similar assert was encountered and fixed. Maybe there are still some corner cases?

A similar failure was seen with JITServer enabled and that one was fixed by teaching JITServer to deal with `TR_J9VMBase::isJavaLangObject` queries. Note that in this case JITServer i

[2022-02-16 16:33] ymanton commented on #14465
I followed the trail of the iTable index back into the VM and discovered that the low bits of of value distinguish between whether the value is an iTable or vTable index. It looks like we did check the low bits, but the check (written in assembly) is subtly incorrect. The check is:

[code]

It uses the `andis.` instruction, which shifts the mask `<<16` before applying it, thereby no longer testing

[2022-02-16 18:23] hzongaro opened #14529 "Failure in value types ValueTypeUnsafeTests_2 test testPutValueOnVTWithLongFields on s390x_linux"
Failure running functional/Valhalla test `ValueTypeUnsafeTests_2` in `testPutValueOnVTWithLongFields` on s390x_linux in .  Failure can be found in [internal server Pipeline-Build-Test-Personal build #11816](https://<internal-server-name>/job/Pipeline-Build-Test-Personal/11816/).  Test fails running with `-Xint`.

[Grinder run](https://<internal-server-name>>/job/Grinder/21031/) failed 10/10.

Asse

[2022-02-16 18:23] hzongaro commented on #14529
@tajila - FYI

[2022-02-16 18:29] hzongaro opened #14530 "Invalid JIT return address reported running value types ValueTypeTestsJIT_1 test on aarch64_linux"
Failure running functional/Valhalla test ValueTypeTestsJIT_1 aarch64_linux. Failure can be found in [internal server Pipeline-Build-Test-Personal build #11817](https://%3Cinternal-server-name%3E/job/Pipeline-Build-Test-Personal/11817/).

[Grinder run](https://%3Cinternal-server-name%3E%3E/job/Grinder/21032/) failed 10/10.

[code]

[2022-02-16 19:02] hzongaro commented on #14529
Sorry - I should have included a [link for starting a grinder run.](https://server/job/Grinder/parambuild/?TARGET=ValueTypeUnsafeTests_2&SDK_RESOURCE=upstream&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdkValhalla_j9_sanity.functional_s390x_linux_valhalla_Personal&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&EXTRA_DOCKER_ARGS=&VENDOR_TEST_DIRS=functional&TKG_OWNER_BRANCH=adoptium%3Amaster&OPENJ9_SYS

[2022-02-16 19:04] hzongaro commented on #14530
[Link for starting a grinder run](https://server/job/Grinder/parambuild/?TARGET=ValueTypeTestsJIT_1&SDK_RESOURCE=upstream&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&EXTRA_DOCKER_ARGS=&VENDOR_TEST_DIRS=functional&TKG_OWNER_BRANCH=adoptium%3Amaster&OPENJ9_SYSTEMTEST_OWNER_BRANCH=eclipse%3Amaster&PLATFORM=aarch64_linux&GENERATE_JOBS=true&KEEP_REPORTDIR=false&PERSONA

[2022-02-16 19:41] tajila commented on #14529
@hangshao0

[2022-02-16 19:49] hangshao0 commented on #14529
@ehrenjulzert, it is a test recently added by you, can you look into this ?

[2022-02-16 19:51] ChengJin01 commented on #14487
I've requested @AdamBrousseau to install the required package for compilation on the failing macOS machine given the jenkins build with debug image doesn't work well to locate the failure in debugging.

[2022-02-16 20:10] ehrenjulzert commented on #14529
okay, looking into this now

[2022-02-17 00:27] ChengJin01 commented on #14487
For the moment, I managed to debug the build (compiled via UMA on the passing macOS machine) by uploading the debug build to the failing macOS machine as follows:

[1] v19.6.0 (the passing macOS machine)
[code]

[2] v20.3.0 (the failing macOS machine)
[code]
According the initial debugging findings above, it indicates that `Java_jdk_internal_loader_NativeLibraries_findEntry0` returns `0` due to a

[2022-02-17 13:59] pshipton commented on #14465
This was closed by https://github.com/eclipse-openj9/openj9/pull/14527 but PR testing in that PR shows the failures in this issue still occur. Reopening.

[2022-02-17 14:01] pshipton commented on #14465
The only test mentioned in this issue not seen in the PR testing for https://github.com/eclipse-openj9/openj9/pull/14527 is java/util/Collections/SyncSubMutexes.java on AIX so perhaps that one is fixed now.

[2022-02-17 14:07] tajila commented on #14499
@mikezhang1234567890 can you please take a look at this

[2022-02-17 14:34] tajila commented on #14503
Looking at the test, it writes 3Gbs of data, half of the data comes from a heap buffer the other half from a direct buffer.
When attempting to write the contents of the heap buffer `java.base/sun.nio.ch.FileChannelImpl.write` will allocate a temporary direct buffer, this is where we fail with OOM, m guess is that we have reached the memory limit.

[2022-02-17 14:34] tajila commented on #14503
@JasonFengJ9 Does this fail on all platforms?

[2022-02-17 14:36] lmgray commented on #14526
any sense of ETA on this -- no pressure, just...   if it's days or a week or two, we'll hang tight -- if longer, we'll probably need to roll back to OpenJDK from earlier in '21 we know is more stable for our build pipelines until this is resolved.  Thanks in advance!

[2022-02-17 14:40] cjjdespres opened #14538 "Internal JITServer test failures"
This thread collects various failures in internal JITServer tests that have been observed recently, for platforms other than Z. I'll be going through them to see if they can be reproduced without JITServer enabled.

# Unable to reproduce

- `jdk_util_1`
  In: `job/Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_jit_Personal/271/`
  Comment [here](https://github.com/eclipse-openj9/openj9/issues/1453

[2022-02-17 14:45] cjjdespres commented on #14538
From build `job/Test_openjdk17_j9_extended.functional_x86-64_linux_jit_Personal/185/`, failure in `testDefaultDisclaimMemory_3`, with console output

[code]

Seems to be related to https://github.com/eclipse-openj9/openj9/issues/14396

[2022-02-17 14:48] tajila commented on #14455
After looking at the diagnostics in https://github.com/eclipse-openj9/openj9/issues/14455#issuecomment-1040474440 it appears that there are a lot of arrays pinned on the java stack. This contributes to a lot of the java stack space usage.

I think someone from the JIT team should look at whether this is happeing from frequently on aarch64 as opposed to other platforms.

@0xdaryl

[2022-02-17 14:50] cjjdespres commented on #14538
From build `job/Test_openjdk8_j9_extended.functional_ppc64le_linux_jit_Personal/261/`, failure in `cmdLineTester_classesdbgddrext_1`, with excerpted console output

[code]

[2022-02-17 14:57] cjjdespres commented on #14538
From build `job/Test_openjdk17_j9_extended.functional_x86-64_linux_jit_Personal/188/`, failures in `testSoftMxLocal_LP4k_3,testSoftMxDisclaimMemory_LP4k_3,testDefaultDisclaimMemory_3`. I think this one is a duplicate of https://github.com/eclipse-openj9/openj9/issues/14396 as well, based on that thread.

[2022-02-17 15:05] pshipton commented on #14503
I started running a few open grinders on this test (just 1 iteration). It failed on AIX but not alinux or zlinux.

[2022-02-17 15:08] cjjdespres commented on #14538
From build `job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_jit_Personal/186/`, failures in `jdk_lang_0` and `jdk_lang_1`. I believe the relevant console output is

[code]

Possibly an error in the test itself?

[2022-02-17 15:11] cjjdespres commented on #14538
Builds `job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_jit_Personal/265/` and `job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_jit_Personal/180/` fail in exactly the same way that https://github.com/eclipse-openj9/openj9/issues/14538#issuecomment-1043050057 does.

[2022-02-17 15:13] dchopra001 commented on #13067
This problem is not related to JITServer. I have a reproduction of this in a grinder without JITServer enabled as well: job/Grinder_iteration_1/734/.

[2022-02-17 15:41] JasonFengJ9 commented on #14227
`cmdLineTester_SystemPropertiesTest_aix` doesn't accommodate JDK18 JEP 400: UTF-8 by Default as per earlier comment https://github.com/eclipse-openj9/openj9/issues/14227#issuecomment-1021720123
There are two other issues https://github.com/eclipse-openj9/openj9/issues/14472 & https://github.com/eclipse-openj9/openj9/issues/14473 related to AIX encoding while RI fails as well, it appears JCL work a

[2022-02-17 15:45] ymanton commented on #14465
Looks like there's another bug near the one I fixed in #14527. When we do the iTable low bits check we clobber `r11` (replacing the pointer to the snippet data with the low bits of the iTable offset) but the snippet pointer is still required on the path that handles the case where the low bits are set as it is eventually dereferenced by `old_fast_jitLookupInterfaceMethod`.

The changes to this cod

[2022-02-17 15:46] pshipton opened #14539 "jdk19 failing to compile NativeLibraries.jniNativeLibraries() not found"
https://openj9-jenkins.osuosl.org/job/Pipeline-OpenJDK-Acceptance/237/
[code]

@JasonFengJ9

[2022-02-17 15:57] mpirvu commented on #14538
For easier tracking I suggest we have a list in the description of this issue with some brief comments about what we've learned. E.g. fails without JITServer too, already tracked by issue N, crash or not, etc

[2022-02-17 16:13] babsingh opened #14540 "Support OpenJDK MethodHandles in OpenJ9 JDK11"
Tracker for issues to support OpenJDK MethodHandles in OpenJ9 JDK11.

[2022-02-17 16:14] babsingh opened #14541 "Support OpenJDK MethodHandles in JDK8"
Tracker for issues to support OpenJDK MethodHandles in JDK8.

[2022-02-17 16:21] pshipton commented on #14227
We need to keep this open to track that the failure is resolved by the other issues, and to track the test exclude.

[2022-02-17 16:31] babsingh opened #14544 "[JDK11 OJDK-MH] IllegalArgumentException: illegal lookupClass"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

[code]

[code]

### Failing Test Targets

- `BUILD_LIST=functional`
    - `openj9_jsr292Test`
- `BUILD_LIST=openjdk`
    - `java/lang/invoke/condy/BootstrapMethodJumboArgsTest.java`
    - `java/lang/invoke/condy/CondyBSMInvocation.java`
    - `java/lang/invoke/condy/CondyBSMValidationTest.java`
    - `

[2022-02-17 16:35] babsingh opened #14545 "[JDK11 OJDK-MH] openj9_jsr292Test_JitCount0_0 SegFault"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `openj9_jsr292Test_JitCount0_0` [`BUILD_LIST=functional`]

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK11 with OJDK MHs enabled

Refer to https://github.com/eclipse-openj9/openj9/issue

[2022-02-17 16:42] babsingh opened #14546 "[JDK11 OJDK-MH] Assertion Failed ConstantPoolMap.cpp:321 ((map->size == cfrCPCount))"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `JCL_Test_OutOfMemoryError_1`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK11 with OJDK MHs enabled

Refer to [#11458](https://github.com/eclipse-openj9/openj9/issues/14540).

[2022-02-17 16:42] pshipton commented on #14396
Is there any update on fixing this problem?

[2022-02-17 16:49] babsingh opened #14547 "[JDK11 OJDK-MH] *IndexOutOfBoundsException from MethodHandles.collectArguments"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

[code]

### Failing Test Targets

- `BUILD_LIST=functional`
    - `JCL_Test_none_SCC_0`
    - `JCL_Test_0`
    - `JCL_Test_2`

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK11 with OJDK MHs enabled

Refer to https:

[2022-02-17 16:50] babsingh commented on #14547
OpenJDK bug: https://bugs.openjdk.java.net/browse/JDK-8259922

Fix: https://github.com/ibmruntimes/openj9-openjdk-jdk/commit/ab6b9c35c7541ea628b028cb1357b904a72de5d9

Only available in JDK17+. Needs to be back-ported to JDK8 and JDK11 extension repos.

[2022-02-17 16:53] pshipton commented on #14397
@babsingh any progress on this, or can we expect any progress in the next couple of weeks?

[2022-02-17 16:54] babsingh opened #14548 "[JDK11 OJDK-MH] VMBench.FibBench LinkageError + ExceptionInInitializerError: null"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `cmdLineTest_J9test_common_0` [`BUILD_LIST=functional`]

### How-to Run Tests?

https://github.com/eclipse/openj9/blob/master/test/docs/OpenJ9TestUserGuide.md

### Steps to build an OpenJ9 JDK11 with OJDK MHs enabled

Refer to https://github.com/eclipse-openj9/openj9/issues/

[2022-02-17 17:07] cjjdespres commented on #14473
I think this may be similar to what I've seen in some failing test suites for JITServer [here](https://github.com/eclipse-openj9/openj9/issues/14538#issuecomment-1043050057) and [here](https://github.com/eclipse-openj9/openj9/issues/14538#issuecomment-1043052939). Does that seem right? None of them are AIX or JDK18, though.

[2022-02-17 17:23] babsingh commented on #14397
No progress yet. I will post a progress update by the end of next week.

[2022-02-17 17:32] pshipton commented on #14538
The recent java/lang/ProcessBuilder/Basic.java failures are caused by changes merged yesterday and I expect they will be fixed by changes to the OpenJDK repos within the next hour. Fixes are under review now.
https://github.com/eclipse-openj9/openj9/pull/14520
https://github.com/eclipse-openj9/openj9/pull/14528

[2022-02-17 17:47] babsingh commented on #14547
Related: https://github.com/eclipse-openj9/openj9/issues/11922

[2022-02-17 17:53] pshipton commented on #14538
The fixes are merged now.

[2022-02-17 18:04] mpirvu opened #14551 "Add testing for `-Xtune:throughput`"
PR https://github.com/eclipse-openj9/openj9/pull/14277 introduced a new JVM option, `-Xtune:throughput`, and we need to provide some testing for this new mode.
Attn: @cjjdespres

[2022-02-17 18:06] mpirvu commented on #14551
I spoke to @llxia and we need to add a new entry into the playlist:  https://github.com/eclipse-openj9/openj9/blob/master/test/functional/Java8andUp/playlist.xml

[2022-02-17 18:14] llxia commented on #14486
@tajila In Scenario 2: different host machine (same os), possibly Scenario 3 as well, do we need to consider testing with different JDK versions? For example, create a checkpoint using JDK8 and restore using JDK11.

[2022-02-17 18:18] cjjdespres commented on #14551
Would that be based on an existing entry?

[2022-02-17 18:23] dmitripivkine commented on #14396
This issue is still being investigated. We know it caused by https://github.com/eclipse-openj9/openj9/pull/14357 but don't understand how exactly yet. We are running number of grinders to narrow down scope if the issue.
https://github.com/eclipse-openj9/openj9/pull/14357 can not be reverted easily because it fixing Java 18 issue

[2022-02-17 18:47] dnakamura commented on #13004
Yes. In the current form the 32 bit code only saves/restores [z|y|z]mm0-7

AVX2 = `J9_EXTENDED_RUNTIME_USE_VECTOR_REGISTERS`, AVX-512 = `J9_EXTENDED_RUNTIME_USE_EXTENDED_VECTOR_REGISTERS`, normal AVX is assumed

Real hardware? no. However it seems to run ok in an emulator (although it doesn't really say much since we aren't using the zmm registers)

I forgot about the mask registers. That gets a b

[2022-02-17 19:26] mikezhang1234567890 commented on #14499
Looking into this.

[2022-02-17 19:58] babsingh opened #14553 "[JDK11 OJDK-MH] InternalError: found BindCaller, expected InjectedInvoker"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

[code]

### Failing Test Targets

- `BUILD_LIST=openjdk`
    - `java/lang/invoke/7196190/GetUnsafeTest.java`
    - `java/lang/invoke/7196190/ClassForNameTest.java`
    - `jdk/lambda/MethodReferenceTestCallerSensitive.java`
    - `java/lang/invoke/MethodHandleConstants.java`
    - `java/lang/StackWalker

[2022-02-17 20:10] ed03875 opened #14554 "JVM is ignoring LD_LIBRARY_PATH"
Java -version output
--------------------

**Output from `java -version`.**
java -version
openjdk version "1.8.0_312"
OpenJDK Runtime Environment (Temurin)(build 1.8.0_312-b07)
OpenJDK 64-Bit Server VM (Temurin)(build 25.312-b07, mixed mode)

**Unix version**
cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Cor

[2022-02-17 20:43] babsingh opened #14555 "[JDK11 OJDK-MH] AccessControlException: Access denied"
The below failure(s) is(are) only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

### Failing Test Targets

- `BUILD_LIST=openjdk`
    - `java/lang/System/LoggerFinder/internal/BasePlatformLoggerTest/BasePlatformLoggerTest.java`
    - `java/lang/System/LoggerFinder/internal/PlatformLoggerBridgeTest/PlatformLoggerBridgeTest.java`

### How-to Run Tests?

https://github.com/eclipse/ope

[2022-02-17 20:49] tajila commented on #14486
You dont need a JDK to restore, the JVM is baked into the container image. So you only need the JVM to create the checkpoint.

[2022-02-17 20:51] babsingh opened #14556 "[JDK8 OJDK-MH] Build Errors"
The below build errors are only seen when OJDK MHs are enabled in OpenJ9.

### Errors

[code]

[code]

[code]

### Steps to build an OpenJ9 JDK8 with OJDK MHs enabled

Refer to https://github.com/eclipse-openj9/openj9/issues/14541.

[2022-02-17 20:54] BradleyWood commented on #14489
Based on debugging information from core file, [applyGlobalConstraints()](https://github.com/BradleyWood/omr/blob/81bc4828b290775674a6500d752670947455d3e6/compiler/optimizer/ValuePropagationCommon.cpp#L505-L506) fails join two constraints which causes a failure when adding the global constraint.

At [TR::VPConstraint::intersect(...)](https://github.com/BradleyWood/omr/blob/3f54ab0a786f4b850dfa3782

[2022-02-17 20:57] cjjdespres commented on #14538
The grinder https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/21194/ reproduces the `ParallelStreamsLoadTest_special_J9_11` failure without JITAAS.

[2022-02-17 21:45] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_OpenJDK11/24
jdk_lang_1
java/lang/ProcessHandle/TreeTest.java
[code]

[2022-02-17 21:46] pshipton commented on #13314
This issue doesn't need to be resolved for Java 18. It's low severity for customers since it only appears in no-opt. I'll move it to the Backlog. @0xdaryl if you want it in another release milestone I'll leave it to you.

[2022-02-17 21:49] #14465 closed

[2022-02-17 21:53] #14539 closed

[2022-02-17 22:14] pshipton commented on #14554
Is the concern with Hotspot or OpenJ9? It seems your concern is with Hotspot. If you want Hotspot to change behavior you need to engage with the OpenJDK project.

[2022-02-18 07:23] pushkarnk commented on #14472
I was able to reproduce this JTREG failure with Temurin on AIX:
[code]

[2022-02-18 13:26] pshipton commented on #14067
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_Nightly/160 - [cent7-x64-6](https://openj9-jenkins.osuosl.org/computer/cent7-x64-6)
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/ResourceBundle/UTF8Properties/CodePointTest.java

https://openj9-artifactory.osuosl.org/artifa

[2022-02-18 13:27] pshipton commented on #14067
@tajila fyi

[2022-02-18 13:27] JasonFengJ9 commented on #14441
**Update:**

The test in question verifies that the native library associated w/ a classloader invokes its `JNI_OnLoad()` just once according to a `static jint count`,  after forced GC the classloader becomes unreachable , its native library is unloaded, `JNI_OnUnload` is called, and a new classloader along w/ its native library should start over.
This procedure is to be repeated five times.

At f

[2022-02-18 13:29] pshipton commented on #13803
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64_windows_Nightly_testList_0/161/ - [win2012-x86-6](https://openj9-jenkins.osuosl.org/computer/win2012-x86-6)
SharedClassesAPI_0

[code]

[2022-02-18 14:37] BradleyWood commented on #13004
For the mask registers, I don't see a way around adding another flag. With AVX-512BW you can use KMOVQ to store all 64-bits, otherwise, with AVX512F, use KMOVW to store 16 bits.

[2022-02-18 15:35] cjjdespres commented on #14538
The build `job/Test_openjdk8_j9_extended.functional_x86-64_linux_jit_Personal/268/` has failures in:

- `cmdLineTester_pltest_j9sig_ext_0`
- `testSCCMLTests2_0`
- `testSCCMLTests4_0`
- `testSCCMLTests4_1`
- `cmdLineTester_shrcdbgddrext_1`
- `testDDRExt_SharedClasses_0`
- `testDDRExtJunit_StackMap_0`
- `testDDRExtJunit_MonitorsAndDeadlock1_1`
- `testDDRExtJunit_MonitorsAndDeadlock2_0`
- `testDDRExt

[2022-02-18 15:51] tajila commented on #14441
@JasonFengJ9 Do you know how many times `dlopen()` is called on it? that may help us track any other modules that may require it.

[2022-02-18 16:08] tajila commented on #14067
The crash happens on a Jit-to-interpreter transistion

[code]

[2022-02-18 16:21] JasonFengJ9 commented on #14441
[code]
There are only two `JVM_LoadLibrary()/omrsl_open_shared_library()` on `libnativeLibraryTest.so`.
Note: `JVM_UnloadLibrary()` calls `dlclose()` directly instead OMR version `omrsl_close_shared_library()` which is just a wrapper of `dlclose()`.

[2022-02-18 17:10] gacholio commented on #13004
A possible option is to simply not support vector on older hardware.

[2022-02-18 18:41] gacholio commented on #13004
@vijaysun-omr @0xdaryl @tajila How new is the AVX-512BW support? Would it be reasonable to support only plain XMM and the latest greatest?

[2022-02-18 18:49] #14554 closed

[2022-02-18 18:52] cjjdespres commented on #14538
Related to [these failures](https://github.com/eclipse-openj9/openj9/issues/14538#issuecomment-1044713310), I ran a subset of the failing tests a few times on the same machine in [this run](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/21241/) and got all failures, and ran the same tests on a few different automatically-allocated machines in [this run](https://hyc-runtimes-jenkins.swg-de

[2022-02-18 18:54] BradleyWood commented on #13004
I think most AVX-512 capable CPUs do support AVX-512BW. I can see that Knights Landing & Knights Mill do not.

[2022-02-18 18:55] cjjdespres commented on #5310
Based on what I've seen [here](https://github.com/eclipse-openj9/openj9/issues/14538#issuecomment-1044713310) and [here](https://github.com/eclipse-openj9/openj9/issues/14538#issuecomment-1045008025) I think the JITServer tests have run into the same issue, but on `ub20x64rt1-1` and with a much larger subset of tests.

[2022-02-18 19:04] dnakamura commented on #13004
also given that we have 2 bits we could map the requred 4 states, although its a bit less clean. Ie if `J9_EXTENDED_RUNTIME_USE_EXTENDED_VECTOR_REGISTERS` is set, `J9_EXTENDED_RUNTIME_USE_VECTOR_REGISTERS` could be used to indicate AVX-512BW

[2022-02-18 19:08] JasonFengJ9 commented on #14441
According this post [1], this is a known feature of AIX.
_By default shared libraries are loaded into a segment that is shared by all processes, and they "stick" there._

`genkld` shows `9000000072b1000      92c /home/jenkins/aixlib/libnativeLibraryTest.so` even after Java exits.

I build a simple C program and verified this behaviour.
[code]
After exiting this small problem, `genkld` shows
`90000

[2022-02-18 20:35] cjjdespres commented on #14538
I tried to reproduce the `cmdLineTester_classesdbgddrext_1` failure from `job/Test_openjdk8_j9_extended.functional_ppc64le_linux_jit_Personal/261/` again, including running on the same machine, and I still can't reproduce it. I think it may just be highly intermittent.

[2022-02-19 00:45] hzongaro opened #14566 "Segfault from instanceOfOrCheckCast in many tests running with -XX:-EnableValhalla built from openj9-openjdk-jdk.valuetypes"
In running sanity.functional tests on a build using openj9-openjdk-jdk.valuetypes, configured with `--enable-inline-types`, but run with `EXTRA_OPTIONS="-XX:-EnableValhalla"`, most tests failed with a segmentation fault with the following stack backtrace

[code]

Looking at a core file in gdb, the `castClass` appears to be NULL, in case that's relevant:

[code]

A [link to a failing test run with

[2022-02-19 00:46] hzongaro commented on #14566
Tobi @tajila, Hang @hangshao0 - FYI

[2022-02-19 03:17] JasonFengJ9 commented on #14441
Okay, I think I found the problem (also correction for earlier comments)

Though `JVM_LoadLibrary()`(`omrsl_open_shared_library()`) are correctly paired w/ `JVM_UnloadLibrary()`(`dlclose()`), there is an additional `loadAndInit()` within `aix/omrsl.c:omrsl_open_shared_library()` before `dlopen()`.
`loadAndInit()` also registered a reference to the loaded native library but w/o matching `terminateA

[2022-02-20 02:09] mpirvu opened #14567 "Fix printing in `printCompYieldStats()`"
`J9::Compilation::printCompYieldStats()` prints some information into the vlog.

[code]

The code was written a while back when `TR_VerboseLog::writeLine()` was using a `\n` at the beginning. Now the  `TR_VerboseLog::writeLine()` add a `\n` at the end, part of the information appears on one line and part on another line.
The code should be changed to have a `\n` at the end of the entire routine.

[2022-02-20 17:39] gacholio commented on #14566
https://github.com/eclipse-openj9/openj9/blob/ce1c984f0653e047c22eb8718a6f53e040500300/runtime/vm/resolvesupport.cpp#L356-L359

Likely cause is that LinkageError has not been loaded via known classes. Either the class needs to be explicitly preloaded, or the `OR_NULL` macro cannot be used.

[2022-02-20 23:23] tajila opened #14568 "CRIU: main thread is not guaranteed to be hook thread"
In `runInternalJVMRestoreHooks` and `runInternalJVMCheckpointHooks` we are running internal hooks with the `vm->mainThread`. This only works if the mainThread is the thread that triggered the hook. We are not guaranteed this.

[code]

[2022-02-20 23:23] tajila commented on #14568
@JasonFengJ9 Please take a look at this

[2022-02-21 03:47] knn-k commented on #14500
It was the change in #4569 that caused the failures with `nativeIIIIIZZZZZrZ`.

The type of `arg6` - `arg10` is `jboolean` in the JNI function declaration.
https://github.com/eclipse-openj9/openj9/blob/ce1c984f0653e047c22eb8718a6f53e040500300/runtime/tests/jniarg/jniargtests.h#L518

The JNI code expects those arguments to be `signed char`, while and the VM interpreter passes them as `uint32` to th

[2022-02-21 06:43] Akira1Saitoh commented on #14455
Looking at the jitdump, I found `java/io/ObjectOutputStream.writeObject0(Ljava/lang/Object;Z)V` had 178 locals and stack frame size of the method was 1552 bytes. The method was called recursively 489 times according to javacore.
I am not sure if this method has many locals as AArch64 on other platforms.

AArch64 does not implement locals compaction[1] and allocate 8-byte space even for 4-byte loca

[2022-02-21 11:00] siyy123 opened #14570 "segmentation error when running java -version or other java programs?"
I'm trying to run several java programs using openj9 but sometime it doesn't start and when I tried java -version or other things in the command line it returns a segfault report below:
PS C:\Users\14868> java -version
Unhandled exception
Type=Segmentation error vmState=0x00000000
Windows_ExceptionCode=c0000139 J9Generic_Signal=00000004 ExceptionAddress=00007FF9DB3CF50D ContextFlags=0010004f
Handl

[2022-02-21 14:16] cjjdespres commented on #14538
From `job/Test_openjdk17_j9_sanity.functional_x86-64_linux_jit_Personal/191/`, failure in `cmdLineTester_getPid_0`, with output

[code]

Appears to be a duplicate of #13085.

[2022-02-21 14:30] cjjdespres commented on #14538
From `job/Test_openjdk11_j9_extended.functional_ppc64le_linux_jit_Personal/269/`, failure in `testSoftMxDisclaimMemory_3`. In addition, the build `job/Test_openjdk17_j9_extended.functional_x86-64_linux_jit_Personal/193/` has a failure in `testSoftMxDisclaimMemory_LP4k_3`. Both have been experienced before and are being tracked elsewhere. I suppose I'll not report failures like these in future.

[2022-02-21 14:49] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_extended.system_ppc64le_linux_jit_Personal/265/`, failure in `SharedClassesAPI_1`, with output

[code]

Version information:

[code]

Appears to be tracked by #13239.

[2022-02-21 21:10] pshipton commented on #14570
Could there be a problem with your Windows installation? Is it a current version of Windows?

[2022-02-21 21:16] JasonFengJ9 commented on #14568
@tajila can you try https://github.com/eclipse-openj9/openj9/pull/14573?

[2022-02-22 00:13] knn-k commented on #14500
See also the discussion in #14560 for the `boolean` -> `uint32` conversion by the VM interpreter.  I am going to disable it.

[2022-02-22 01:18] knn-k opened #14574 "Bytecode interpreter extends boolean to uint32 in JNI calls"
PR #4569 introduced a change in the bytecode interpreter that extends `boolean` arguments to `uint32` in JNI calls, as a workaround for a type inconsistency bug in Issue #4193.

You must not do that on AArch64 macOS.  The native type for `jboolean` is `unsigned char`, and the JNI code allocates only 1-byte slot in the C stack for a `jboolean` argument on that platform.

I open this Issue to discus

[2022-02-22 01:19] knn-k commented on #14574
AArch64 Linux works with the type extension because its C stack usage is different from that on AArch64 macOS.
See also the discussion in #14500 and #14560.

[2022-02-22 01:22] knn-k commented on #14500
I opened Issue #14574 for further discussion on the boolean type conversion.

[2022-02-22 01:24] ChengJin01 commented on #14574
FYI:  @gacholio, @DanHeidinga, @tajila, @pshipton

[2022-02-22 01:40] knn-k commented on #14574
I opened PR #14575 as a temporary change for AArch64 macOS.

[2022-02-22 04:17] siyy123 commented on #14570
I have tried to reinstall windows on my two computers but both of them would raise the segfault. my system is win11 and the latest updates are installed but no help.
my java is java8 openj9 0.30.0, I also installed java17 openj9 0.30.0 which seems to be ok.

[2022-02-22 05:51] knn-k commented on #14390
I resolved ABI problems around JNI on AArch64 macOS, but I still see these failures with JVMTI tests.

[2022-02-22 07:12] knn-k opened #14576 "-Xjit:verbose prints wrong option values"
`-Xjit:verbose` prints "options in effect", but there are cases where the printed values are wrong.
See an example below.  I ran it on x86-64 Linux:

[code]

The command line contains the option `-Xjit:codeTotal=8192,verbose`, and that is reflected to "options specified:" for the JIT.  But the "options in effect:" section after that says `codetotal=2 (KB)`.  The printed value is always `2 (KB)` re

[2022-02-22 07:26] knn-k commented on #14576
A similar, but different issue in the past: #14022

[2022-02-22 08:08] knn-k commented on #14576
I opened https://github.com/eclipse/omr/pull/6360 to fix this.

[2022-02-22 08:41] knn-k commented on #14574
I want to fix the problem around JNI arguments on AArch64 macOS in JDK 18 that will be released next month.

- Stop extending boolean only on AArch64 macOS: Apply the change #14575 to the master branch and to the 0.31.0 branch.
- Stop extending boolean on all the platforms: I guess it is too late for doing this in the 0.31.0 branch.
- Any other idea?

[2022-02-22 13:37] pshipton commented on #14395
There are a lot of these failures in the jdk18 special.system build, I'm setting as a blocker.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK18/17/
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK18/16/

Subset of failure modes:

xlinux:
DaaLoadTest_daa2_special_5m_26
DaaLoadTest_daa2_special_5m_17
DaaLoadTest_all_special_5m_17

zlinux:
DaaLoadTest_all_special_5m_17
Daa

[2022-02-22 14:25] vij-singh commented on #14395
@0xdaryl  Any suggestions for somebody to triage?

[2022-02-22 14:53] tajila commented on #14499
@mikezhang1234567890 do you have an update on this

[2022-02-22 15:04] pshipton commented on #14570
I can't repeat the problem.
![Java8Win11](https://user-images.githubusercontent.com/18122812/155160061-f1588a5c-8397-41ee-ac3f-231339b75bf6.JPG)

[2022-02-22 15:06] LinHu2016 commented on #14396
fixing https://github.com/eclipse-openj9/openj9/pull/14577, still need to run grinders for confirming.

[2022-02-22 15:08] pshipton commented on #14570
Does it make a difference if you run `java -Xint -version`?

[2022-02-22 15:09] pshipton commented on #14570
You can also try `java -Xshareclasses:none -version`.

[2022-02-22 15:20] #12723 closed

[2022-02-22 15:29] 0xdaryl commented on #14395
@nbhuiyan : could you triage these failures please?  There seem to similar failures across platforms, so please pick whichever platform you are most comfortable with.

[2022-02-22 16:37] hangshao0 commented on #14566
If `instanceOfOrCheckCast()` does not support `NULL` castClass, we should not use the `OR_NULL` macro.

[2022-02-22 16:40] mikezhang1234567890 commented on #14499
I've looked into the state of the AccessControlContext object during the exception, and it looks like the `domainCombiner` field is once again being set to null despite https://github.com/eclipse-openj9/openj9/pull/11664

Looking into why the fix is no longer working now.

[2022-02-22 16:47] pshipton commented on #8493
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly_testList_0/217/ - [win2012-x86-11](https://openj9-jenkins.osuosl.org/computer/win2012-x86-11)
ConcurrentLoadTest_5m_0
[code]

[2022-02-22 16:56] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/164

[2022-02-22 17:09] mpirvu commented on #14551
I was thinking about this. It's relatively easy to add a new entry into the playlist.xml. The question is what is the application that we want to run? It must be something that creates a fair amount of compilations.
Maybe the best choice is to use this new mode in the same way we test -Xaggressive, but I don't know where that takes place.

[2022-02-22 17:20] backwaterred commented on #14472
Hello :wave:, I just wanted to give you a head's up that I am working on this failure on the OpenJDK side. My initial assessment is that there is a testbug related to the LIBPATH variable on AIX. The OpenJDK issue is created [here](https://bugs.openjdk.java.net/browse/JDK-8282239), and I expect to have a PR for it shortly.

[2022-02-22 17:38] pshipton commented on #14472
@backwaterred can you please also create a PR with the fix against https://github.com/ibmruntimes/openj9-openjdk-jdk18. Unless you expect your OpenJDK fix is going to get into a jdk18 release build for the jdk18 initial release. Even if it does, there is no harm in delivering the same fix directly to https://github.com/ibmruntimes/openj9-openjdk-jdk18, the official fix will just be a no-op when me

[2022-02-22 17:39] pshipton commented on #14472
Did you request the fix to be backported to jdk18?

[2022-02-22 18:11] llxia commented on #14551
- In the functional test, we run `-Xaggressive` in https://github.com/eclipse-openj9/openj9/blob/24b14b4743f82a648712bdca71a5b870828e65f9/test/functional/cmdLineTests/reflectCache/playlist.xml#L25

https://github.com/eclipse-openj9/openj9/blob/24b14b4743f82a648712bdca71a5b870828e65f9/test/functional/cmdLineTests/reflectCache/reflectcache_test.xml#L106
https://github.com/eclipse-openj9/openj9/blob/

[2022-02-22 18:29] pshipton commented on #14227
@JasonFengJ9 I think you need to revisit this. The AIX fixes are turning out to be test issues, so likely this one is as well.

[2022-02-22 18:38] JasonFengJ9 commented on #14227
This is a test issue, and no action required as per https://github.com/eclipse-openj9/openj9/issues/14227#issuecomment-1043089408
I think there is no need to keep it open.

[2022-02-22 18:43] pshipton commented on #14227
I don't understand. The test works for every other platform, and we fixed Windows so it can work. Why do you want to permanently exclude the test for AIX rather than fixing it?

[2022-02-22 18:52] JasonFengJ9 commented on #14227
This test was only on Windows & AIX.

[2022-02-22 18:54] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_linux_aot_Personal_testList_1/7

[2022-02-22 19:35] pshipton commented on #14227
That still doesn't explain why you want to permanently exclude it rather than fixing it. Does the test no longer have value with jdk18+?

[2022-02-22 19:46] pshipton commented on #14504
@pushkarnk the problem is specific to certain machines. It fails on Termurin 18 if specific machines are used. The problem is with the test, it needs to be modified for AIX the same as it's modified for Linux. Similarly to Linux , this is due to the implementation using send_file() on AIX which may not transfer the entire contents in a single call. Can we pls fix the test at OpenJDK for AIX with b

[2022-02-22 20:03] tajila commented on #14566
I think we should still use `J9VMJAVALANGLINKAGEERROR_OR_NULL(vm)` just not in this manner. If the macro returns NULL then the `exception` can not be an instance of linkage error. So I dont think we need to force a classload of linkage error, we just need to check if it has been loaded first.

[2022-02-22 20:04] tajila commented on #14499
Thanks for the update @mikezhang1234567890

FYI @JasonFengJ9

[2022-02-22 20:10] JasonFengJ9 commented on #14227
The test apparently assumes certain default encoding which doesn't work when UTF-8 is always the default encoding.

Adoptium latest nightly JDK18 AIX RI build failed couple of sub-tests just like OpenJ9 (others use J9 specific command line option `-Xargencoding` and can't run w/ RI)
[code]

These tests can't apply to JDK18+. My hope is that OpenJDK supplies enough test coverage for JEP 400.

[2022-02-22 20:16] gacholio commented on #14566
Unfortunately, that's not the case - the class has to be loaded via the known class API in order for the macro to function correcly. The best solution would be to load the known class in this error case (since it's not going to occur in correct code anyway).

[2022-02-22 20:23] babsingh commented on #14397
### Problem

In OpenJ9, `j9vm/libjvm.dylib` and `server/libjvm.dylib` represent the redirector, which tries find the addresses of functions in `default/libjvm.dylib` such as `JNI_CreateJavaVM`. `dlopen` is used for this, and it works differently on OSX and Linux for searching libraries when an absolute path-name is specified.

https://github.com/eclipse-openj9/openj9/blob/934d6561d9dde7a31eeb3ee48

[2022-02-22 20:26] keithc-ca commented on #14397
Another option is to revive #7380 so the main shared libraries don't conflict with the redirector.
As noted there, we would have to address the issues on AIX and z/OS.

[2022-02-22 20:31] pshipton commented on #14397
Seems to me some other platforms modify or set the environment variable so the correct library is found, in jvm.c. Any reason we can't do that?

[2022-02-22 20:34] JasonFengJ9 commented on #14499
Just wondering if recent stack frame related changes such as `-XX:[+|-]ShowHiddenFrames` confused `getAccSnapshot()`.

[2022-02-22 20:41] keithc-ca commented on #14397
Doesn't the redirector locate the main shared library so an explicit path can be use rather than rely on any search path?

[2022-02-22 20:51] tajila commented on #14499
Can you try it with `-XX:-ShowHiddenFrames` @mikezhang1234567890

[2022-02-22 21:06] mikezhang1234567890 commented on #14499
Both `-XX:[+|-]ShowHiddenFrames` options fail.

[2022-02-22 21:10] dmitripivkine commented on #14243
Grinders:
https://openj9-jenkins.osuosl.org/job/Grinder/652/
https://openj9-jenkins.osuosl.org/job/Grinder/653/

[2022-02-22 21:22] dmitripivkine commented on #14243
I missed the fact (most likely irrelevant) zLinus failure occurred on machine with Guarded Storage HW support

[2022-02-22 22:00] mikezhang1234567890 commented on #14499
Looks like `doPrivilegedWithCombiner(PrivilegedExceptionAction<T> action, AccessControlContext context, Permission... perms)` at https://github.com/eclipse-openj9/openj9/blob/master/jcl/src/java.base/share/classes/java/security/AccessController.java#L1004 is the method being called in this case, and with a null AccessControlContext.

Looking at stackslots output:
[code]

I think we may need to cre

[2022-02-22 22:02] babsingh commented on #14397
`default/libjvm.dylib` is the `main (non-redirector) shared library`. #7380 covers exactly what is proposed for the first potential fix in  https://github.com/eclipse-openj9/openj9/issues/14397#issuecomment-1048180642.

Here, we are referring to the `LIBPATH` changes in `jvm.c` for AIX where we prepend to the `LIBPATH` during runtime. `LIBPATH` is the `DYLD_LIBRARY_PATH` equivalent on AIX. In http

[2022-02-22 22:13] JasonFengJ9 commented on #14499
There are four `doPrivilegedWithCombiner` variants, two of them use `getContextHelper()` which was fixed by https://github.com/eclipse-openj9/openj9/pull/11664. The API https://github.com/eclipse-openj9/openj9/issues/14499#issuecomment-1048253180 will need a similar fix as well as https://github.com/eclipse-openj9/openj9/blob/a245e34090b3049f0339db03002a7a4a1c3b3460/jcl/src/java.base/share/classes

[2022-02-22 22:51] keithc-ca commented on #14397
The way I read that [article](https://developer.apple.com/library/archive/documentation/DeveloperTools/Conceptual/DynamicLibraries/100-Articles/DynamicLibraryUsageGuidelines.html), using `DYLD_FALLBACK_LIBRARY_PATH` won't help us because it says it will consider `DYLD_LIBRARY_PATH` first with (the unqualified) filename. This will succeed and find the redirector. This seems consistent with the prev

[2022-02-22 23:11] babsingh commented on #14397
**Clarification:** In https://github.com/eclipse-openj9/openj9/issues/14397#issuecomment-1048180642, the second potential fix suggests to use `DYLD_FALLBACK_LIBRARY_PATH` **INSTEAD** of `DYLD_LIBRARY_PATH` with the redirector. This is more like a workaround for a user, and it works in a simple scenario such as `CallerAccessTest`. But I feel that this approach has potential downfalls where the OS's

[2022-02-22 23:20] pshipton commented on #14227
Created https://github.com/eclipse-openj9/openj9/pull/14579 to fix the test.

[2022-02-22 23:45] backwaterred commented on #14472
@pshipton I suspect it's too late for the change to be included in jdk18, as the codebase has entered the Initial Release phase. Unfortunately, it might also be too early for the change to be backported as it will GA 2022/03/22.

I have opened a PR for FileEncodingTest that mirrors the changes to the OpenJDK repo.

[2022-02-22 23:46] pshipton commented on #14397
It's not clear to me it covers the same case we need. We should give it a try to be sure.

[2022-02-22 23:49] pshipton commented on #14397
As noted there, we would have to address the issues on AIX and z/OS.

If this turns out to be the only solution, we do have the option to only do it for Mac. In which case we don't need to address issues on AIX and z/OS.

[2022-02-23 00:06] #14472 closed

[2022-02-23 00:07] pshipton commented on #14472
@backwaterred thanks. We'd still like to have the OpenJDK change backported to jdk18 at the appropriate time.

[2022-02-23 00:09] knn-k commented on #14574
Well, the JNI code must be fixed correctly in that case, not adding workaround in the VM side, I believe.

What about other data types, such as `jbyte`, `jshort`, and `jchar`?  Why not extend all of them to `jint`?

[2022-02-23 00:19] ChengJin01 commented on #14487
1) Further investigation shows the failing library loading was caused by the wrong library path passed into `JVM_FindLibraryEntry` on the failing macOS machine as follows:

[1] v19.6.0 (the passing macOS machine)
[code]
with the tracelog:
[code]

[2] v20.3.0 (the failing macOS machine)
[code]
with the tracelog:
[code]

2) I also tried with a simple test of loading the `syslookup` library as follow

[2022-02-23 00:31] backwaterred commented on #14472
You're welcome. I am making a note to submit a backport after GA.

[2022-02-23 00:38] ChengJin01 commented on #14574
It totally depends on whether it happens in OpenJDK/user applications (So far we only spotted the conversion from `boolean` to `jint` in the past).  So we might need to deal with that if any test shows it works that way on Hotspot.

Strictly speaking, such conversion is incorrect and should be avoided but we need our solution to work through if it happens in which case there is no way to modify th

[2022-02-23 01:34] pshipton commented on #14487
It's not clear to me why a compressedrefs directory exists, we don't use that any more. Or why libsyslookup.dylib is located there, it's not a library that's expected to be in the OpenJ9 compressedrefs directory.

[2022-02-23 01:42] nbhuiyan commented on #14395
This test failure can be easily reproduced locally. This issue has shown up as a result of of JDK18 using method handles for reflection (JEP 416). The failure can be avoided by disabling MH usage in reflection using `-Djdk.reflect.useDirectMethodHandle=false`. It is also not reproducible using `-Xint`. The failure happens in the second invocation of `DirectMethodHanldeAccessor.invoke(Object, Objec

[2022-02-23 01:53] knn-k commented on #14574
No worries.
I wrote a small JNI program, and it shows that Hotspot VM fails on AArch64 macOS when there are inconsistent type declarations (`boolean` in the Java code vs `jint` in the native code).
We will be able to say "Fix the JNI code" by showing the result with Hotspot on AArch64 macOS.

[2022-02-23 02:31] ChengJin01 commented on #14487
The code at `/openj9-openjdk-jdk18/src/java.base/share/classes/jdk/internal/loader/NativeLibraries.java` in OpenJDK shows it search the library paths from `sun.boot.library.path` and ` java.library.path` set in the system property:
[code]
For  `sun.boot.library.path` and ` java.library.path`, it shows the following paths on macOS:
[code]
So the code in `findFromPaths`  searches the paths offered i

[2022-02-23 02:39] knn-k commented on #14574
Attaching the test code I mentioned above.  [JNITest.zip](https://github.com/eclipse-openj9/openj9/files/8121492/JNITest.zip)
Hotspot for AArch64 macOS shows the following result, where `g` and `h` are `boolean` in the Java code side:

[code]

[2022-02-23 02:45] ChengJin01 commented on #14574
What about the result from Hotspot on Linux/Aarch64?

[2022-02-23 02:50] ChengJin01 commented on #14487
`jdk/lib/compressedrefs` contains all OpenJ9 specific libraries, which are used when loading these libraries in other code.
[code]

[2022-02-23 02:59] knn-k commented on #14574
Hotspot for AArch64 Linux does not extend `boolean` to 4 bytes when passing it to the JNI function as the following output shows.  The value for `i` is correct here, because the C stack usage is different between macOS and Linux:

[code]

[2022-02-23 03:17] ChengJin01 commented on #14574
Why the boolean arguments start from 7 and 8 in the test? Any special reason for that ?  Probably better have different combination of arguments to verify the results.

@gacholio, @DanHeidinga, any input/concern as to whether we still need the PR at https://github.com/eclipse-openj9/openj9/pull/4569 (Just reminder that the PR works good on all platforms except macOS/Aarch64).

[2022-02-23 03:31] gacholio commented on #14574
Can someone explain the actual problem here?

[2022-02-23 03:33] knn-k commented on #14574
The reason is simple.  I wanted to show how the `boolean` arguments are passed in the C stack.  AArch64 uses 8 GPRs for passing arguments.  The JNI code uses two GPRs `x0` and `x1` for `JNIEnv*` and `jobject`, and 6 arguments `a`-`f` are passed in registers `x2`-`x7`.
The remaining arguments `g`-`i` are passed via the C stack, and the layout is as follows when the type declarations are correct:

A

[2022-02-23 04:35] knn-k commented on #14574
@gacholio

**Facts**:
- OpenJ9 for AArch64 macOS won't work as expected with correct JNI functions if the VM extends `boolean` arguments to 4-byte wide.  I have proved it and explained the reason.
- Hotspot does not do the extension either on AArch64 macOS or AArch64 Linux.  I have shown it in my comments above.

**My message**:
- I need to revert the change from #4569 at least for AArch64 macOS i

[2022-02-23 04:41] siyy123 commented on #14570
No it does not help. I tried both of them and also executed sfc /scannow and installed the latest update but the problem still appears.

[2022-02-23 04:46] pshipton commented on #14570
The next step is to examine the core and javacore files, can you pls provide them via a file sharing service.

[2022-02-23 04:55] siyy123 commented on #14570
so how to dump the core and javacore files?

[2022-02-23 09:58] knn-k commented on #14576
Where does `samplingFrequency=2` come from?

[2022-02-23 12:58] pshipton commented on #14570
I expect them to occur automatically when the crash occurs, the console output should contain information about the diagnostic files created and where they are created. Is the console output shown the full output? Do you have any environment variables set that could affect OpenJ9 (can I see the list)? If you don't get any diagnostic files, you'll have to install windbg and run java under windbg to

[2022-02-23 13:04] pshipton commented on #14570
Something else to try, does Temurin Java 8 work?
https://adoptium.net/releases.html?variant=openjdk8&jvmVariant=hotspot

[2022-02-23 13:13] knn-k commented on #10168
I believe this can be closed.  No new failures for 19 months.

[2022-02-23 13:13] #10168 closed

[2022-02-23 13:25] knn-k commented on #6453
AutoSIMD was enabled on AArch64 in 2021.  Closing.

[2022-02-23 13:25] #6453 closed

[2022-02-23 13:26] pshipton commented on #14459
I'll reopen this until OMR promoted and the test is unexcluded.

[2022-02-23 13:33] knn-k commented on #8698
I believe this can be closed now.
ARM64arrayCopy.spp was moved to OMR, and it is alignment-aware and uses instructions for 1/2/4/8/16-byte memory access depending on the remaining copy size.
https://github.com/eclipse/omr/blob/master/compiler/aarch64/runtime/ARM64arrayCopy.spp

[2022-02-23 13:35] knn-k commented on #9041
I believe this issue can be closed.

[2022-02-23 13:35] siyy123 commented on #14570
java -verbose:init returns something useful:
PS C:\Users\14868> java -verbose:init -version
Adding command line arguments
VM known paths  - j9libvm directory: C:\Program Files\Semeru\jdk-8.0.322.6-openj9\jre\lib\default
                - j2seRoot directory: C:\Program Files\Semeru\jdk-8.0.322.6-openj9\jre\bin\default
Option 0 optionString="-Xoptionsfile=C:\Program Files\Semeru\jdk-8.0.322.6-openj9

[2022-02-23 13:44] keithc-ca commented on #14397
Making it platform-dependent complicates the build scripts in the extension repos a little; if we're considering that, I suggest we apply the change for all platforms _except_ AIX and z/OS (at least until we can fix the issues on those platforms).

[2022-02-23 14:19] pshipton commented on #9041
I don't see the text excluded. Removing the excluded label and closing.

[2022-02-23 14:19] #9041 closed

[2022-02-23 14:21] pshipton commented on #14570
This indicates it did make it to the OpenJ9 code and tried to boot, it may have started running java code.

[2022-02-23 14:28] #14227 closed

[2022-02-23 15:29] siyy123 commented on #14570
Also temurin 8 works without segfault

[2022-02-23 15:31] cjjdespres commented on #14551
So would it make sense to create a new mode and add it as a variation in the tests where Mode187 is currently used?

It's a bit hard for me to tell what the purpose of the `reflectcache_test` is. Would that be a suitable model?

[2022-02-23 15:32] pshipton commented on #14472
Unexcluded the test https://github.com/adoptium/aqa-tests/pull/3367

[2022-02-23 15:34] #14519 closed

[2022-02-23 15:44] llxia commented on #14551
In general, there is no need to add a new mode unless the JVM option can only run on specific platforms. Does `-Xtune:throughput` apply to all platforms? If so, there is no need to add a new Mode for it. We can just add `<variation>-Xtune:throughput</variation>` in playlist.

[2022-02-23 16:10] mpirvu commented on #14551
yes, `-Xtune:throughput` applies to all platforms.
If `-Xaggressive` and `-Xquickstart` have their own mode, I would prefer to do the same for `-Xtune:throughput`. `-Xquickstart` is incompatible with `-Xtune:throughput` (or -Xtune:virtualized) and only the right most option will take effect.

[2022-02-23 16:12] mpirvu commented on #14551
system/mauveLoadTest/playlist.xml  seems like a good choice to me for using the new mode

[2022-02-23 16:44] ChengJin01 commented on #14487
@pshipton, we could send a bug request with the proposed fix to OpenJDK to see whether it can be accepted in this case.

[2022-02-23 18:23] ciplogic opened #14581 "Jetbrains IDEs seem to have a separate UI behavior (titlebar is shown)"
Java -version output
--------------------

Output from `java -version`.
Windows/x64 Semeru runtime 11.0.14.1+1 amd64

Summary of problem
------------------
Not sure if it is a problem but distinctively the IntelliJ IDEA would not have a native Windows Title bar, but a draggable "menu bar".

As IDEA allows you to choose a custom JDK runtime, I quite often choose OpenJ9 as it starts faster and it us

[2022-02-23 18:27] ciplogic commented on #14581
If the description is not too clear.

"Before" - JDK based runtimes (including Graal), using IDEA Ultimate

![image](https://user-images.githubusercontent.com/372483/155383292-2e4c6bb1-5b3c-4b80-b494-564320178a44.png)

"After"

![image](https://user-images.githubusercontent.com/372483/155383477-c921c2e0-85b6-4a31-9403-55734c5d0426.png)

I didn't see any other behavior changes and the all other fla

[2022-02-23 19:25] #14396 closed

[2022-02-23 20:28] tajila opened #14584 "CRIU: Blocking identity operations in single thread mode"
When running in single thread mode certain operations may cause a deadlock. The following are the cases where deadlocks may occur.

1) Contended monitor enters
- If the JVM attempts to acquire a lock that is held by another application thread, this would cause a deadlock since in this mode only a single application thread can be active.
- In this mode the JVM will throw an exception for any conten

[2022-02-23 20:29] tajila commented on #14584
@JasonFengJ9 in the short term we can focus on contended monitor enters.

[2022-02-23 20:44] pshipton commented on #14487
Sure, you have done that before, just post to the mailing list.

[2022-02-23 20:48] tajila commented on #14487
I think you need an account to open a bug request.

Perhaps if you describe the problem in detail maybe @andrew-m-leonard can open it for you

[2022-02-23 21:15] pshipton commented on #14581
Does it occur with the 11.0.14.1 Temurin build? https://adoptopenjdk.net/releases.html
If not, does it still occur with Semeru if you add `-Xshareclasses:none`?

[2022-02-23 21:21] pshipton commented on #14487
Cheng did successfully send another issue to the mailing list which was subsequently resolved by OpenJDK.

[2022-02-23 21:24] cjjdespres commented on #14551
I'm not sure I understand the advantage of the mode over the simple `-Xtune:throughput` in a variation, at least if the only setting is going to be that one option. Is it just for uniformity with the other option testing?

[2022-02-23 21:30] pshipton opened #14586 "JCL_Test_1 test_join3 Joined thread is not alive"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_ppc64_aix_OMR_testList_0/58 - [p8-java1-ibm05](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm05)
JCL_Test_1 `-XX:RecreateClassfileOnload`

[code]
This occurred in an OMR acceptance build containing the change https://github.com/eclipse/omr/pull/6363
@jdmpapin we haven't seen this failure before, could it be related

[2022-02-23 21:32] mpirvu commented on #14551
Yes, it's mostly for uniformity but also I was thinking that it reduces the likelihood of using `-Xtune:throughput` on top of a mode that contradicts it (like -Xquickstart). However, I am ok without a new mode as well.

[2022-02-23 21:32] pshipton commented on #14586
@JasonFengJ9 @keithc-ca if it's not the OMR change, I wonder if it's related to https://github.com/eclipse-openj9/openj9/pull/14355

[2022-02-23 21:35] jdmpapin commented on #14586
I won't say it's impossible but I would pretty surprised if that failure is related to my change

[2022-02-23 21:35] cjjdespres commented on #14551
I see. That's fine then. I'll add that to TKG and aqa-tests and open up requests once I've got it working.

[2022-02-23 21:36] pshipton commented on #14586
10x x 5 grinder https://openj9-jenkins.osuosl.org/job/Grinder/677/

[2022-02-23 21:46] keithc-ca commented on #14586
I think the test is somewhat fragile. There's no guarantee that the thread running the test will not be delayed beyond the 3 seconds that the `SimpleThread` takes to complete.

[2022-02-23 21:48] cjjdespres commented on #14551
Is there any significance to the numbering scheme for the modes?

[2022-02-23 21:49] mpirvu commented on #14551
No, there isn't

[2022-02-23 21:54] llxia commented on #14551
Just a note, if you add a new Mode, you need to update ottawa.csv. Also, I think we have issues with the new Mode in vmfarm. FYI @renfeiw

[2022-02-23 22:12] babsingh commented on #14397
Code to `Prepend default libjvm directory to DYLD_LIBRARY_PATH`: https://github.com/babsingh/openj9/commit/34c661217037e58855a2e6b29a3ae03555a402da

The above change does not work. I have verified that the dynamic loader does not honour runtime changes to `DYLD_LIBRARY_PATH`. For testing, I set `DYLD_LIBRARY_PATH`, and then invoked the native test executable.

There was an outlier scenario which g

[2022-02-23 22:20] JasonFengJ9 commented on #14586
It doesn't seem #14355 caused this kind of failure.
It could be an AIX machine problem unless the failure can be reproduced at a reasonable rate for further investigation.

[2022-02-23 22:31] pshipton commented on #14586
The 50x grinder didn't repeat it. I'm willing to ignore the failure based on Keith's analysis of the test case, and promote the OMR build.

[2022-02-23 23:26] #14576 closed

[2022-02-24 00:11] ChengJin01 commented on #14487
The bug request with the proposed fix has been created at https://mail.openjdk.java.net/pipermail/core-libs-dev/2022-February/086254.html.

[2022-02-24 04:07] siyy123 commented on #14570
The dump (on my laptop) : https://1drv.ms/u/s!AotJ8siZ9lZhij_eCLtILqF2c3Gw
Something really strange is that running a huge java application first is required to create the bug on my laptop but on my desktop it is more frequent and usually several executes of java -version can cause a segfault.

[2022-02-24 04:15] siyy123 commented on #14570
I tried to repeat the segfault under windbg but every time it works normally so I attached the process and dumped the memory.

[2022-02-24 05:23] knn-k commented on #14390
There is a JVMTI-related failure in testSCCacheManagement_0: testSharedCacheJvmtiAPI.  I am going to disable it.
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.functional_aarch64_mac_Release/1/

[2022-02-24 06:29] knn-k commented on #14390
DefaultLocGrpAccessJVMTI in SharedClassesAPI_0 is also a JVMTI-related failure.
https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_extended.system_aarch64_mac_Release/1/

[code]

[2022-02-24 06:49] knn-k opened #14590 "AArch64 macOS JDK 18: Bus errors in MathLoadTest_all_special and MathLoadTest_bigdecimal_special"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk18_j9_special.system_aarch64_mac_Release/1/

Optional info
-------------

This is M2 build from the v.0.31.0 branch.
[code]

Failure output (captured from console output)
---------------------------------------------

There are 6 failures with MathLoadTest_all_special and MathLoadTest_bigdecimal_special.  They all look si

[2022-02-24 06:53] ciplogic commented on #14581
It happens also with Temurin build taken from Adoptiunm (I used same version `11.0,14,1`) and with `-XShareclasses:none`

So it is likely an JetBrains bug?

[2022-02-24 07:12] ciplogic commented on #14581
I tested also with latest GraalVM (22.0.0.2) and the problem is there too. Sorry, false alarm! :( I was testing with older

So it looks like there is a change, but it is 99% introduced upstream (OpenJDK base code or wherever is the bug - like JetBrain's settings are not read correctly from the whatever library they use) or downstream (JetBrains IDE). I am confident that this bug can be closed, and

[2022-02-24 07:12] #14581 closed

[2022-02-24 07:28] knn-k commented on #14590
They are intermittent crashes.  I haven't been able to reproduce in my local environment.

[2022-02-24 07:56] knn-k commented on #14590
I opened https://github.com/adoptium/aqa-tests/pull/3375 for excluding these tests on AArch64 macOS for the time being.

[2022-02-24 12:51] knn-k commented on #14390
I opened #14591 for excluding testSCCacheManagement_0.

[2022-02-24 13:14] pshipton commented on #14581
JetBrains or OpenJDK, but not OpenJ9.

[2022-02-24 13:18] knn-k commented on #14390
I opened https://github.com/adoptium/aqa-tests/pull/3376 for excluding SharedClassesAPI_0.

[2022-02-24 13:40] pshipton commented on #13223
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_Nightly/224 - [rh7-390-3](https://openj9-jenkins.osuosl.org/computer/rh7-390-3)
jdk_util_0 `-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:+UseCompressedOops`
java/util/logging/FileHandlerAccessTest.java

[code]

[2022-02-24 13:41] pshipton commented on #14353
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/166/ - [win2012-x86-4](https://openj9-jenkins.osuosl.org/computer/win2012-x86-4)
java/lang/StringBuffer/HugeCapacity.java

[2022-02-24 14:35] cjjdespres commented on #14538
From build `job/Test_openjdk8_j9_extended.functional_x86-64_linux_jit_Personal/274/`, failures in

- `cmdLineTester_dumpromclasstests_0`
- `cmdLineTester_pltest_j9sig_ext_0`
- `testSCCMLTests4_0`
- `cmdLineTester_shrcdbgddrext_0`
- `testDDRExt_General_0`
- `testDDRExt_Callsites_0`
- `testDDRExt_JITExt_0`
- `testDDRExtJunit_CollisionResilientHashtable_0`
- `testDDRExtJunit_MonitorsAndDeadlock1_0`
-

[2022-02-24 14:37] cjjdespres commented on #5310
@pshipton I think the JITServer tests failed on `ub20x64rt1-1` again in the build I talked about [here](https://github.com/eclipse-openj9/openj9/issues/14538#issuecomment-1049922472), so maybe it needs to be disabled or fixed as well?

[2022-02-24 14:41] cjjdespres commented on #5310
Sorry, I misread the job. The most recent failure was on `ub18x64rt1-3`.

[2022-02-24 14:52] pshipton commented on #5310
This is an internal machine, please create an internal infra issue, or search for an existing issue you can add to. i.e. runtimes/infrastructure/issues/6328
Do you have rights to take the machines offline yourself? Look at `<jenkins root>/computer/ub20x64rt1-1/` for the "Mark this node temporarily offline". After it's offline, disconnect it as well.

[2022-02-24 14:55] pshipton commented on #5310
It should only be disconnected once nothing is running on it. You can take it offline even if something is running, the job will continue running but the machine won't accept new jobs. However it may come back online later if not disconnected.

[2022-02-24 14:58] cjjdespres commented on #5310
It doesn't look like I have those rights, unless I'm missing that option.

Thanks, I didn't know about `/runtimes/infrastructure`. It looks like that issue fits, so I'll just add a comment there.

[2022-02-24 15:00] pshipton commented on #5310
I disconnected the machine.

[2022-02-24 15:36] pshipton commented on #14570
I found the following in the core. Do you have some older version of the JVM on your PATH? I'm wondering if it could be finding DLLs from a different version.
[code]

[2022-02-24 16:22] hangshao0 opened #14593 "New ValueType access flag ACC_PERMITS_VALUE"
With the introduction of value class and primitive class to project Valhalla in the latest spec, the access flag `ACC_ATOMIC (0x0040)` is removed. This bit is now `ACC_PERMITS_VALUE`. For value types that requires atomic access, value class should be used.

This means the change to previous [issue](https://github.com/eclipse-openj9/openj9/issues/13130) can be reverted and OpenJ9 needs to recognize

[2022-02-24 16:22] hangshao0 commented on #14593
FYI @tajila

[2022-02-24 16:30] pshipton commented on #10569
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_OpenJDK11/25/

[2022-02-24 16:55] pshipton commented on #13577
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_x86-64_linux_aot_Personal_testList_1/8/

[2022-02-24 17:54] pshipton opened #14594 "testJITServer_0 testServerUnreachableForAWhile The process is still alive after waiting for 30000ms"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_aot_Personal/40 - [cent7-x64-5](https://openj9-jenkins.osuosl.org/computer/cent7-x64-5)
testJITServer_0 `-Xshareclasses:name=test_aot -Xscmx400M -Xscmaxaot256m  -Xcompressedrefs -Xjit -Xgcpolicy:gencon`
[code]
@mpirvu

[2022-02-24 18:17] ChengJin01 commented on #14487
Here's the response from Oracle at https://mail.openjdk.java.net/pipermail/core-libs-dev/2022-February/086285.html
[code]
The problem (a non-JNI case) doesn't apply to OpenJDK/Hospot as all their libraries are placed in `jdk/lib` without any nested directories In any case, they will fix it up based on our proposal to resolve the problem detected on our side in the test.

[2022-02-24 19:39] pshipton commented on #14499
@mikezhang1234567890 what is the outlook for the fix?

[2022-02-24 19:40] pshipton commented on #14503
@tajila any progress on this one?

[2022-02-24 19:53] JasonFengJ9 opened #14595 "JDK18 AIX M2 build: jdk_vector_1_FAILED jdk/incubator/vector/DoubleMaxVectorTests.java - Segmentation error vmState=0x0005ff04"
Failure link
------------

From an internal build `job/Test_openjdk18_j9_extended.openjdk_ppc64le_linux/8/`(`p10rhel005`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_vector_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARG

[2022-02-24 19:58] mikezhang1234567890 commented on #14499
Ran into another issue where the `getAccSnapshot` call in `getContextHelper()` is returning null for the ProtectionDomain arrays it's supposed to return. Working through that at the moment.

[2022-02-24 20:08] pshipton commented on #14595
@gita-omr this is an issue for the failures I already shared with you.

[2022-02-24 20:21] JasonFengJ9 commented on #14503
Oops missed this, it also failed at Windows - `job/Test_openjdk18_j9_extended.openjdk_x86-64_windows/8/` (`win16x64rt-1-7`)
[code]

[2022-02-24 20:38] gita-omr commented on #14595
But this is PPCLE, not AI, right?

[2022-02-24 20:54] pshipton commented on #14595
The description only shows the plinux failure, but I gave you links for the aarch64/plinux failures in the jdk M2 build, and older aarch64/aix/plinux failures on the head stream.

[2022-02-24 21:50] pshipton opened #14597 "OpenJDK Cipher/AES/TestCopySafe Error in Native CipherBlockChaining"
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_Nightly/1/
com/sun/crypto/provider/Cipher/AES/TestCopySafe.java
[code]
[code]

@ashbm5 this is in the head stream, the future jdk19

[2022-02-24 21:53] pshipton opened #14598 "OpenJDK Class/ArrayType IllegalArgumentException"
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_Nightly/1/
java/lang/Class/ArrayType.java
[code]

@tajila

[2022-02-24 21:55] pshipton opened #14599 "OpenJDK ClassLoader/exeNullCallerClassLoaderTest/NullCallerClassLoaderTest Didn't get the expected IllegalCallerException"
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_Nightly/1/
java/lang/ClassLoader/exeNullCallerClassLoaderTest/NullCallerClassLoaderTest.java
[code]

@tajila

[2022-02-24 21:57] pshipton opened #14600 "OpenJDK ClassLoader/BadRegisterAsParallelCapableCaller Didn't get expected IllegalCallerException, got null"
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.openjdk_aarch64_linux_Nightly/1/
java/lang/ClassLoader/BadRegisterAsParallelCapableCaller.java
[code]

@tajila

[2022-02-24 22:55] cjjdespres commented on #14538
From `job/Test_openjdk8_j9_extended.functional_ppc64le_linux_jit_Personal/271/`, failure in `cmdLineTester_fieldwatchtests_0`, with output:

[code]

There is more in the log that may be relevant, including more error lines, but I hope that is representative.

Version information:

[code]

Reproduced with a 1/50 failure rate with JITAAS in `view/Test_grinder/job/Grinder/21338/`, and *not* reproduce

[2022-02-25 00:42] ashbm5 commented on #14597
This is due to EVP_EncryptUpdate/EVP_DecryptUpdate not supporting partially overlapping buffers.

[2022-02-25 01:22] nbhuiyan commented on #14395
Having examined the JIT logs and the compiled code for the caller of the `invokeImpl` method (`DirectMethodHandleAccessor.invoke()`) did not reveal any obvious issues. We can also rule out the possibility of premature GC-ing as this failure is reproducible with GC disabled and the VM configured with a large enough max heap size.

Forcing `DirectMethodHandleAccessor.invoke()` to compile with `optLe

[2022-02-25 01:40] 15838028035 opened #14601 "how can i make gc slow"
hi , when i use openj9 ,  test make 10 000 000 data，

how can i make gc slow , cloud you help me ?
![图片](https://user-images.githubusercontent.com/12193885/155637131-1a263cbc-7ef5-4df4-986b-f10c23e087f1.png)

[2022-02-25 01:57] siyy123 commented on #14570
No, just openj9 0.30.0 jdk8 and jdk17

[2022-02-25 03:49] gita-omr commented on #14595
Right. It's just that the header says AIX...

I looked at jitdump and it points to some issue with `VectorAPIExpansion` handling `prepareForOSR`. But in order to understand and fix it I need to reproduce the failure. But I was not able to do it so far.

[2022-02-25 06:31] knn-k commented on #14390
I opened https://github.com/eclipse-openj9/openj9-systemtest/pull/141 that supersedes https://github.com/adoptium/aqa-tests/pull/3376 .

[2022-02-25 07:28] knn-k commented on #14500
All the jniargtests pass on AArch64 macOS when #14575 is merged.

[2022-02-25 11:27] knn-k commented on #14426
This is still reproducible.

[2022-02-25 13:49] pshipton commented on #14601
@dmitripivkine @amicic
I don't understand the question, but maybe you do.

[2022-02-25 14:00] pshipton commented on #14570
Can I see your environment variables, or at least the subset which is relevant to java?

What locale is your Windows 11 set to? Is there anything about your Windows 11 setup you can tell me that would help me to reproduce the problem? It's crashing in Windows, not OpenJ9, and it appears it's just asking Windows to re-load the same DLL which is already running, as a side affect in order to register

[2022-02-25 14:03] pshipton commented on #14570
It sounds like you may have something else besides Semeru installed on your machines which is causing this.

[2022-02-25 14:21] dmitripivkine commented on #14601
@15838028035 Sorry, I don't understand your question. Would you please provide more information about your problem? Please attach GC verbose log too

[2022-02-25 14:48] pshipton commented on #11557
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_x86-64_linux_Nightly_testList_2/209
TestIBMJlmRemoteMemoryNoAuth_0
[code]

[2022-02-25 14:54] pshipton opened #14604 "testOpenJ9DiagnosticsMXBean_0 NullPointerException: Cannot read the array length because "<local8>" is null"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_ppc64_aix_Nightly_testList_0/161
testOpenJ9DiagnosticsMXBean_0
[code]
[code]

[2022-02-25 14:54] pshipton commented on #14604
Seems like a network problem.

[2022-02-25 15:26] BradleyWood commented on #14489
@c-koell I was wondering if you could provide some detailed instructions to reproduce the issue.

[2022-02-25 17:25] hangshao0 commented on #13614
For these 2 APIs:

[code]

They are used to allocate a buffer for the value type and indicate if the update to the value type is done.
The use case is something like:

Use Unsafe `makePrivateBuffer()` to allocate a buffer based on the passed in VT.
Use Unsafe put methods (or their variants) to update the VT in the buffer.
Use Unsafe `finishPrivateBuffer()` to indicate that the updates are done.

I

[2022-02-25 18:11] #14459 closed

[2022-02-25 19:23] hangshao0 commented on #13614
[code]

I guess RI might have this kind of behaviour in regard to `withfield`, so they introduce these 2 APIs to do the same in the Java level.

[2022-02-25 20:01] babsingh commented on #14190
In JDK17+ extensions repo, there is a Java API which supports Cgroup V1 and V2: https://github.com/ibmruntimes/openj9-openjdk-jdk17/tree/openj9/src/java.base/linux/classes/jdk/internal/platform. There is a possibility to backport this API to Java 8 and Java 11 if this API can replace the OMR Cgroup native API.

This Java API has only one native dependency: `CgroupMetrics.isUseContainerSupport -> J

[2022-02-25 20:57] pshipton commented on #14190
Not sure if the previous is actually a question or not, it's arrived at the right conclusion. The usage in jvminit.c occurs during option processing before java code is running. Similarly for GC and probably for JIT as well.

[2022-02-25 22:56] knn-k commented on #14574
PR #14575 has been merged, and `boolean` is passed to JNI as a single-byte argument on AArch64 macOS.
I keep this Issue open to continue discussion on what to do for other platforms.

[2022-02-27 14:12] c-koell commented on #14489
Hi @BradleyWood ... really nothing special. After opening the workspace i right click on the project and execute "Maven -> Update Project"
Eclipse crashes then immediately ..

[2022-02-28 03:02] knn-k commented on #14390
I reproduced the failure with SharedClassesAPI_0 locally.

[code]

[2022-02-28 04:30] siyy123 commented on #14570
I have first installed jdk17 then I installed jdk8. Both of them are install with full install options (adding PATH and JAVA_HOME). Maybe this is due to java8 loading dlls from java17?
My locale is zh-cn. The environment variable are as follows:
![mmexport1646022587845](https://user-images.githubusercontent.com/11704754/155924279-55f78fd8-780b-4fda-a274-ff2653ba3575.png)
![mmexport1646022590164](h

[2022-02-28 04:38] siyy123 commented on #14570
I removed jdk17 and the issue seems to be fixed. mainly something that jdk8 tried to load dlls from jdk17.

[2022-02-28 05:35] knn-k commented on #13985
I see no failures related to monitor enter/exit for value types on AArch64 for a couple of months now.
I think this Issue can be closed.

[2022-02-28 06:35] knn-k opened #14609 "Variable length arguments of jvmtiExtensionFunction"
I found the following issue with the definition of `jvmtiExtensionFunction`.  There is a mismatch in the placement of the arguments for variadic functions between the caller side and the callee side.  It causes a serious problem on AArch64 macOS, but all other platforms are also affected.

`jvmtiExtensionFunction` is defined as follows in jvmti.h.  It is a function pointer with variable length arg

[2022-02-28 06:36] knn-k commented on #14609
I think we need to change the declarations of JVMTI extension functions and use `va_list` / `va_start` / `va_arg`, etc. in the callee side, i.e. jvmtiExtensionMechanism.c, from the C standard perspective.

[2022-02-28 06:39] knn-k commented on #14390
I opened Issue #14609.  It explains why many JVMTI tests fail on AArch64 macOS.

[2022-02-28 06:44] knn-k commented on #14500
The fix was also merged to the v0.31.0 branch as #14603.  I think we can close this issue after the next run of sanity.functional.

[2022-02-28 07:05] knn-k commented on #14609
I want comments on how to fix this from variadic function experts.

[2022-02-28 07:37] knn-k commented on #14574
I opened #14610 as a draft PR for reverting the workaround from #4569.  I welcome your comments on it.
Do we need to do anything in the JIT compiler side on p/x/z?  I don't need additional work on AArch64.

[2022-02-28 07:56] knn-k commented on #14609
I wrote a small program for demonstrating the issue as attached.  [va_test.zip](https://github.com/eclipse-openj9/openj9/files/8151499/va_test.zip)

Running it on AArch64 Linux shows this.  The caller side passes arguments via registers:
[code]

AArch64 macOS fails as follows.  The caller side stores the arguments in the stack, except for the first argument `p`:
[code]