[2021-08-12 22:12] JasonFengJ9 commented on #13132
From the test history [1], it hasn't appear since its first appearance. In addition, there was no result/diagnosis files. I am leaning towards closing it (and re-open if further analysis is possible).

For now, moving out of release plan.

[1] https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.system_x86-64_linux_Nightly/

[2021-08-13 11:28] bmarwell commented on #13266
Oracle DB confirmed that we should not leave out `oraclepki.jar`, so this is more likely a bug in hotspot.

[2021-08-13 11:28] #13266 closed

[2021-08-13 18:47] ymanton opened #13324 "Remove old transactional memory support in JIT Power codegen"
Transactional memory is no longer supported on IBM Power processors (which were the only PPC processors to ever support it) as of P10. TM has also been disabled by default in OpenJ9 for a long time and some of the functionality relied on classes that don't/won't exist in OpenJ9 so this code is effectively dead and untested and should be removed unless there's good reason not to.

See below for con

[2021-08-13 19:45] JasonFengJ9 opened #13325 "JDK17 - java.lang.ClassNotFoundException: java.rmi.activation.Activatable"
Failure link
------------

From an internal grinder build `Test_openjdk17_j9_special.system_x86-64_linux_Personal/2/tapResults/`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]

This is because JDK17 removed `java.rmi.activation.Activatable`. The test has to be modified for JDK17+.
Considering the number of fai

[2021-08-13 21:09] JasonFengJ9 commented on #13127
A similar segmentation error at https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_ppc64_aix_Nightly/72/consoleFull

[code]
To rebuild the failed tests in <Jenkins URL>=https://openj9-jenkins.osuosl.org/job/Grinder, use the following links:
05:53:23  https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PL

[2021-08-13 21:12] JasonFengJ9 commented on #13123
JDK8 occurrence at https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-64_windows_Nightly/71/tapResults/
[code]
To rebuild the failed tests in <Jenkins URL>=https://openj9-jenkins.osuosl.org/job/Grinder, use the following links:
01:55:10  https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=x86-64

[2021-08-15 11:06] danjhop3 commented on #1876
IT IS NEEDED AT A JAR LEVEL

[2021-08-16 13:16] dmitripivkine commented on #13201
In general calling System.gc() in the loop multiple times (and left time between for Finalization threads to run) must clean all weak referenced objects available for it (in my practice calling System.gc() 3-4 times with 1s delay between is enough). However Weak Reference can not be cleared if `referent` has a strong root. Also weak referencing is applicable to objects referenced from `referent` s

[2021-08-16 13:19] dmitripivkine commented on #13201
Also you can try `-Xint`. JIT might put reference to `referent` to O-slot as optimization so create a strong root

[2021-08-16 13:35] JasonFengJ9 commented on #10648
The failure is reproduced against recent JDK16 at `Test_grinder/job/Grinder/17533`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=s390x_linux&CUSTOM_TARGET=java/lang/invoke/MethodHandles/publicLookup/Driver.java&TARGET=jdk_custom_0)

This is reproduced with 0.27 release (w

[2021-08-16 13:58] JasonFengJ9 commented on #11256
Verified that this test passes w/ a recent JDK16 build at `Test_grinder/job/Grinder/17536`
[code]

Created a PR (https://github.com/adoptium/aqa-tests/pull/2819) to re-enable the test.

closing..

[2021-08-16 13:58] #11256 closed

[2021-08-16 14:02] llxia commented on #13325
@Mesbah-Alam could you take a look? Thanks

[2021-08-16 14:03] DanHeidinga commented on #1876
Does the Trace Java API [1] provide the required functionality?  It allows the application to register tracepoints and inject them into the per-thread tracebuffers.  These are - by default - an in-memory ring buffer that records the last few events or can be redirected to a file.

This is a really good question.  IBM HealthCenter is owned by IBM and to my knowledge, hasn't been opened sourced.  Th

[2021-08-16 14:28] JasonFengJ9 commented on #11783
Verified that this test passes a recent JDK16 build at `Test_grinder/job/Grinder/17539/console`
[code]
A PR (https://github.com/adoptium/aqa-tests/pull/2210) is already opened to re-enable the test in quesiton.

closing..

[2021-08-16 14:28] #11783 closed

[2021-08-16 14:29] dmitripivkine commented on #13201
Also looking to the test source - there is an extra possibility: GC provides extra liveness for classloader object / each class object for class in this classloader if there is instance of class is alive (strong referenced) in the heap (for any class in this classloader). If it is a case classloader can not be unloaded and stays alive, all classes are marked as a strong roots.

[2021-08-16 15:15] JasonFengJ9 commented on #11817
Note this error is reproduced against a recent JDK16 build at `Test_grinder/job/Grinder/17544`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=x86-64_linux&CUSTOM_TARGET=java/lang/invoke/MethodHandles/classData/ClassDataTest.java&TARGET=jdk_custom_0)

This is also reproduce

[2021-08-16 15:23] zl-wang opened #13328 "Build script problem"
I frequently ran into build failures as below:

Build performance summary:
* Cores to use:   16
* Memory limit:   63290 MB

Build failed as:

Compiling tools to generate DDR pointer classes and structure stubs
JVMJ9GC070E Failed to startup the Garbage Collector
JVMJ9GC070E Failed to startup the Garbage Collector
JVMJ9GC070E Failed to startup the Garbage Collector
JVMJ9GC070E Failed to startup the

[2021-08-16 15:34] hangshao0 commented on #13201
The timeout goes away and test successfully passed with `-Xjit:enableAggressiveLiveness`.

[2021-08-16 15:38] JasonFengJ9 commented on #11822
Verified that this test passes w/ recent JDK16/17 build
`Test_grinder/job/Grinder/17548`
[code]
`Test_grinder/job/Grinder/17549`
[code]
Created PR (https://github.com/adoptium/aqa-tests/pull/2821) to re-enable the test.

closing..

[2021-08-16 15:38] #11822 closed

[2021-08-16 15:44] JasonFengJ9 commented on #12524
JDK17 `openj9-staging` branch has been enabled w/ OJDK MH, and it compiles successfully.

Closing..

[2021-08-16 15:44] #12524 closed

[2021-08-16 15:51] dmitripivkine commented on #13201
So looks like there is a JIT feature to make test fail. Yes, it makes test incompatible but itself it just introduces different (not wrong) behaviour for JVM. I believe JIT experts can provide a proper conclusion
@0xdaryl FYI

[2021-08-16 18:16] hangshao0 commented on #13029
FYI @EricYangIBM

[2021-08-16 18:20] joransiu commented on #13312
I followed up with the z/OS SME.  Unfortunately, there is no good way to detemine if a given filesystem is system-specific.

In a SYSPLEX environment (specifically `SYSPLEX(YES)` is specified in the `BPXPRMxx` member, which is our best practice and recommendation), there is only one file hierarchy shared among all the systems in the plex (which we call a shared file system environment). That means

[2021-08-16 18:32] hangshao0 commented on #13312
Thanks for the update @joransiu

I agree.

[2021-08-16 18:32] r30shah commented on #13313
With the help of @vijaysun-omr  and @jdmpapin , I did more investigations on what is happening.
When VP transformation added in [this PR](https://github.com/eclipse/omr/pull/6137) transforms the VFT load to `loadaddr` node, it creates a ClassSymbol with cpIndex `-1` [1]. Later in Loop versioner optimization, it generates the instanceOf test for the versioned loop which re-uses the same class symbo

[2021-08-16 18:37] JasonFengJ9 commented on #13019
Note that it still failed w/ a recent JDK17 build at `Test_grinder/job/Grinder/17552`
[code]
Note: JDK16 passed this test.

[2021-08-16 18:49] JasonFengJ9 commented on #13020
Note this still failed w/ a recent JDK17 build at `Test_grinder/job/Grinder/17555`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=x86-64_linux&CUSTOM_TARGET=java/lang/reflect/Proxy/DefaultMethods.java&TARGET=jdk_custom_0)

[2021-08-16 20:22] JasonFengJ9 commented on #13094
Latest JDK17 build passes `java/lang/invoke/CompileThresholdBootstrapTest.java` at `Test_grinder/job/Grinder/17556`
[code]
Maybe fixed by https://github.com/eclipse-openj9/openj9/pull/13285.

Created PR https://github.com/adoptium/aqa-tests/pull/2822 to re-enable the test.

[2021-08-16 21:43] JasonFengJ9 commented on #13021
The failure is reproduced w/ latest JDK17 (ojdk_mh enabled) build at `Test_grinder/job/Grinder/17557`
[code]

[2021-08-16 21:58] JasonFengJ9 commented on #13125
Reproduced w/ latest JDK17 `x86-64_linux` build at `Test_grinder/job/Grinder/17557`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=x86-64_linux&CUSTOM_TARGET=java/io/InputStream/NullInputStream.java&TARGET=jdk_custom_0)

[2021-08-17 02:21] knn-k opened #13329 "AArch64: Test failures with java/lang/ProcessHandle/InfoTest.java"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_Personal/2/

Failure output (captured from console output)
---------------------------------------------

[code]

[2021-08-17 02:28] knn-k commented on #13329
I believe this is an infrastructural issue.
The testcase expects the name of the process to be "sleep", but it is "/usr/bin/coreutils" on cent8-aarch64-1.

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/9f1a72e0b3a675ae703fd578dfb1a42d0efa85b1/test/jdk/java/lang/ProcessHandle/InfoTest.java#L301

fyi.  @rajdeepsingh1

[2021-08-17 02:38] knn-k commented on #9040
I am closing this issue now.
Now the AArch64 runtime is fast enough, and I stopped excluding this test by https://github.com/adoptium/aqa-tests/pull/2817 .

[2021-08-17 02:38] #9040 closed

[2021-08-17 12:29] JasonFengJ9 commented on #13142
These tests passed w/ latest JDK16/17 builds at grinder `Test_grinder/job/Grinder/17563 - 17568`
[code]

Probably fixed by https://github.com/eclipse-openj9/openj9/pull/13285?
@fengxue-IS can you confirm & close?

[2021-08-17 13:05] JasonFengJ9 commented on #9272
Similar error at JDK11 https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/71/consoleFull `osx1011-x86-2`
[code]
[Re-run the Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=x86-64_mac&TARGET=jdk_lang_0)

[2021-08-17 14:28] jdekonin commented on #13329
I've installed reinstalled coreutils as a different version was installed with docker.

Respin of entire job
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_Personal/3/console

[2021-08-17 14:38] JasonFengJ9 commented on #12853
*HandleIsJitted tests doesn't apply for OJDK MH, and should either be excluded or updated to match new design

Agreed that these tests don't apply to OJDK MH enabled JDK16+, should be updated or excluded, ideally for JDK16+ only before OJDK MH enabled for earlier Java levels.
Moving to 0.29 release target.

Note: these tests are within `functional/Jsr292/src/com/ibm/j9/jsr292` which intended to ve

[2021-08-17 14:42] #12712 closed

[2021-08-17 14:59] keithc-ca commented on #13328
Which version is this about (8, 11, all)?

[2021-08-17 15:09] zl-wang commented on #13328
java8 (although I haven't done the rest ... so, not sure about them)

[2021-08-17 15:38] vijaysun-omr commented on #13313
@zl-wang we need your opinion here because the failing job is an OpenJ9 acceptance test.

[2021-08-17 16:02] keithc-ca commented on #13328
I think the build explicitly puts `-Xmx` on command lines so that setting in the environment variable would be superseded (or ignored if your bootjdk is not based on openj9).

I don't have access to a system with as many cores or as much memory. Can you restart a build with debug logging:
[code]
and share the command lines of jobs that are failing? We may need to add `$(JAVA_FLAGS_SMALL)` (or `$(J

[2021-08-17 16:10] zl-wang commented on #13313
could you verify what the class value was (in the crashing sequence) from original SCC AOT code (i.e. not resolved and patched yet)?
could you show me what was written over the bl instruction (it should be an addis/lis i figured)?
at this point, i have no reason to believe the crashing sequence was not patched, but wrong value being patched in. i.e. the resolve itself returned a wrong value.  mayb

[2021-08-17 17:28] zl-wang commented on #13313
we found the reason it failed.  the bad one has incorrect CP in snippet (whether it was not relocated at all, or relocated incorrectly ... to be determined).

@vijaysun-omr  for the time being, disabling Rahil's new work on p for non SVM AOT to allow us move forward.  we will figure out a fix, then enable it.

[2021-08-17 17:34] zl-wang commented on #13313
looks like it was relocated incorrectly.  allow @r30shah to add the details here.

[2021-08-17 17:35] jdekonin commented on #13329
100% success now.

[2021-08-17 17:35] #13329 closed

[2021-08-17 17:37] r30shah commented on #13313
Thanks a lot @zl-wang for the quick look at the reason why it failed. For the reference I am printing snippet from both log file and AOT relocated code from the failing run.

[code]
In above two snippets, `L0065` is generated for the `loadaddr` generated by VP transformation  while second one `L0177` was generated for `loadaddr` under instanceOf node.

Here is how relocated snippets looks from the

[2021-08-17 17:42] zl-wang commented on #13328
the command lines are captured in a certain log file?  I didn't find it.

[2021-08-17 17:43] zl-wang commented on #13328
so, i copied my screen output here:

[code]

[2021-08-17 17:46] zl-wang commented on #13328
however, my quick skimming indicated java has mx512m setting.  now, i am not sure what the problem is anymore. we have plenty of memory.

`JVMJ9GC069E Failed to initialize Finalize thread`   might mean something.

[2021-08-17 18:08] keithc-ca commented on #13328
All the uses of the bootjdk in those commands contain `-Xmx512M`, so 16 such processes should fit comfortably in the nearly 64GB of available RAM.

Have you checked `ulimit` settings (e.g. `ulimit -u`)? Perhaps a limit prevents creation of a sufficient number of threads?

[2021-08-17 18:13] zl-wang commented on #13328
plentiful to me:

[code]

[2021-08-17 18:27] BradleyWood commented on #13314
So this issue is not limited to OpenLiberty, in fact, a "Hello, World" application can also be used to demonstrate the issue. It seems to occur when the VM is initializing. With "-Xjit:disableLocalVP" a StackOverflowError (still looking into this) is thrown in Unsafe.copyMemory. Then the VM crashes when iterating the stack trace because the AppClassLoader hasn't been initialized yet.

https://gith

[2021-08-17 18:53] zl-wang commented on #13328
it sounds like a limit problem, since it succeeded if make is launched to continue.
it failed from scratch.
but i set everything i can change to unlimited. that didn't help.

[2021-08-17 19:27] 0xdaryl commented on #13314
FYI, I also see this backtrace on AArch64 with Hello World at noopt.

[2021-08-17 19:29] keithc-ca commented on #13328
If I pretend my virtual machine with 8GB of RAM has 64GB, my bootjdk
[code]
fails:
[code]
If in your build, 16 processes trying to allocate 7GB each will find insufficient memory as well.

[2021-08-17 20:07] zl-wang commented on #13328
but, didn't all java have -J-Xmx512m in place?  still not sure.

[2021-08-17 20:09] keithc-ca commented on #13328
The `-J` option is not for `java`, but other, more specific, launchers.
The failure may be due to a process that was started earlier (and is consuming a significant amount of memory).

[2021-08-17 20:13] zl-wang commented on #13328
what we can do to pin it down?

[2021-08-17 20:18] keithc-ca commented on #13328
You could try my suggestion:
[code]
and share `debug.log`.

[2021-08-17 20:18] zl-wang commented on #13328
you might spot something out of this.  "make all" cannot be continued  (i.e.  previously "make images" 2nd time succeeded, "make all" 2nd time still failed) ... seemed consistent failure.

[2021-08-17 20:19] zl-wang commented on #13328
[code]

[2021-08-17 20:27] dmitripivkine opened #13333 "Provide output for stats bytes allocated in the heap per Java thread"
There is the new feature development request. This issue is created to discuss optimum shape of this feature as well as  an implementation details.
[code]

Currently each JVM attached thread accumulates Thread Local Heap (TLH) / non-TLH bytes allocated in the object heap between Stop-The-World (STW) Garbage Collections events.  At the beginning of STW Garbage Collection all Java threads should be

[2021-08-17 20:34] zl-wang commented on #13328
[debug.log](https://github.com/eclipse-openj9/openj9/files/7002892/debug.log)

[2021-08-17 20:52] kgibm opened #13334 "PHD (but not system dump) ignores array indices"
Java -version output
--------------------

[code]

Summary of problem
------------------

The following program places an element in the second position of a multi-dimensional array:

[code]

Executing this and printing the elements using `java.util.Arrays.toString` shows it's in the expected `[1]` position:

[code]

However, `jdmpview` on the resulting PHD shows the element in the position `[0]`:

[2021-08-17 20:55] keithc-ca commented on #13328
The only failures I see are:
[code]
Each command to produce those targets follows this pattern:
[code]
The options `-J-Xmx512M` should limit the heaps reasonably (although at first I didn't notice two instances of `native2ascii` in that pipeline).

Is the system being used concurrently for anything else that might limit the amount of available memory?

[2021-08-17 21:04] zl-wang commented on #13328
no.  i am the only user.

[code]

[2021-08-17 21:10] keithc-ca commented on #13328
The configuration process assumes 1GB per job will be sufficient.
The output you quoted says only 23453.7MB are free (not 64GB as configure might think).
Something is using ~40GB: I think **that's** the reason your builds are failing.

[2021-08-17 22:29] r30shah commented on #13313
So further debugging this with @rmnattas , We found out why the relocated constant pool address was incorrect for the fabricated `loadaddr` generated by VP transformation.

As pasted in comment: https://github.com/eclipse-openj9/openj9/issues/13313#issuecomment-900500507

Constant Pool Address is incorrect in the bad case (First snippet). In the relocated AOT code, this is the Updated Constant Poo

[2021-08-18 01:44] 0xdaryl commented on #13313
I haven't been following this issue too closely to say for sure, but AArch64 uses a similar relocation for the cpIndex in the unresolved data snippet.  So if there is a problem with this code on Power, there may be an issue to fix on AArch64 as well.  @knn-k @Akira1Saitoh

https://github.com/eclipse-openj9/openj9/blob/df51c203a8b47e8f81df4d0f29c5e1e272771f43/runtime/compiler/aarch64/codegen/J9Unre

[2021-08-18 02:01] 0xdaryl commented on #13313
If this applies to AArch64, an AArch64 workaround as in eclipse/omr#6144 is probably in order too.  Perhaps someone who is following this problem more closely can confirm.

[2021-08-18 12:21] zl-wang commented on #13328
you saw that 35GB is the file-system buffer/cache.  That amount is elastic ... certainly usable by running processes.
on the other hand, if free memory is what matters, the build script should get that number, instead of total physical
memory.

secondly, i don't think that is the failing reason.  if it were, you would expect --with-memory-size=20000 option
would have worked (but it didn't).

[2021-08-18 13:46] keithc-ca commented on #13328
I did see the 35GB buff/cache figure, and almost didn't offer that comment.

Unless we can identify the consumer(s) of the resources (memory, threads/processes, something else?) it's not clear what can be done other than to recommend effectively what you already tried: `--with-jobs=8` (a more direct option compared to `--with-num-cores=8`).

As I said, configuration assumes that 1GB per job is suf

[2021-08-18 13:55] r30shah commented on #13313
@0xdaryl  I am looking into the `AArch64` codegen[1], and it seems like they will use `unresolvedDataSnippet` only in the case symRef is actually unresolved. So for `loadaddr` of resolved J9Class pointer, it seems to be adding external relocation record [2]. In case of P, we use the unresolved data snippet for resolved case.
[1]. https://github.com/eclipse/omr/blob/74204a7dfc876643c6fabffc6ccd51b7

[2021-08-18 14:32] zl-wang commented on #13328
if we can specifically limit the number of concurrent java processes started (i.e.  --with-jobs option applying to java strictly), we can pin down the reason that java is the culprit.  easily do-able?

[2021-08-18 15:01] 0xdaryl commented on #13313
Thanks for the investigation @r30shah .  I didn't realize the point about the Power unresolved data snippet being used for resolved references, leading to the problem you're investigating.

[2021-08-18 15:07] jdmpapin commented on #13313
A few thoughts that came up when discussing this with @r30shah:

We could force the node's bci to indicate an inlined site index that matches the owning method of the symref, but this node isn't an exception point, so I don't think its bci should be relevant. There is also no obvious corresponding bytecode index - there might not even be any bytecode instruction in the owning method that refers to

[2021-08-18 15:17] JasonFengJ9 commented on #5450
Latest occurrence at https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_ppc64le_linux_Nightly/75/tapResults/
[code]

This test checks if the JPS output contains a command line options which might fail due to various reasons such as target process not starting, network issue, etc. It doesn't appear a VM problem.
Moving to backlog.

[2021-08-18 15:26] JasonFengJ9 commented on #13127
A similar segmentation error at https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_ppc64le_linux_Nightly/75/tapResults/
[code]

[Re-run the Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=ppc64le_linux&TARGET=ObjectTreeLoadTest_5m_1)

[2021-08-18 15:29] keithc-ca commented on #13334
By design, PHD files don't consider null references, and the format doesn't encode the indices of the non-null references.
Notice the use of `j9mm_iterator_flag_exclude_null_refs` [here](https://github.com/eclipse-openj9/openj9/blob/master/runtime/rasdump/heapdump.cpp#L1791-L1798).

[2021-08-18 15:29] #13334 closed

[2021-08-18 15:41] JasonFengJ9 opened #13336 "JDK16 cmdLineTest_J9test_common_0_FAILED : -Xlockword minimizeFootprint mode - Segmentation error vmState=0x00000000"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.functional_ppc64le_linux_Nightly/77/tapResults/ `cent7-ppcle-4`
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------
[code]
Launched a 10x grinder at `Grinder/17586` - **Edit**: all passed.

[2021-08-18 15:48] JasonFengJ9 commented on #13319
A few similar NPEs at https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_special.system_ppc64_aix_Personal/14/tapResults/
[code]

[2021-08-18 16:29] keithc-ca commented on #13328
`--with-jobs` does not apply just to Java jobs; it's just used for make's job control (i.e. the `-j` option).
Also, it's not clear that a Java job is the culprit.
Please explain your idea that makes it 'easily do-able'.

[2021-08-18 17:08] zl-wang commented on #13328
i knew that.  i meant, if --with-jobs can be changed to apply to java only, then the investigation further will be easily do-able to pin it down.

[2021-08-18 17:13] dmitripivkine opened #13337 "Create an MBean to provide access to the last recorded thread/memory usage"
There is the new feature development request. This issue is created to discuss optimum shape of this feature as well as an implementation details.
[code]
This item has logical relation to https://github.com/eclipse-openj9/openj9/issues/13333 (the same data source)

@DanHeidinga @pshipton
Do you know examples of similar implementations? It would be significantly more effective to implement commonly

[2021-08-18 17:19] DanHeidinga commented on #13337
Adding @keithc-ca as the RAS expert.

[2021-08-18 17:28] keithc-ca commented on #13328
To me, it doesn't make sense for `--with-jobs` to apply only to Java; process resources must be managed for native compiles and all other activities that need to occur in a build.

As I said, `--with-memory-size=20000` doesn't constrain the configuration, only `--with-jobs` (influenced by `--with-num-cores`) reduce the number of concurrent tasks during the build.

[2021-08-18 17:32] zl-wang commented on #13328
that is just an experimental proposal as a way to investigate why it failed.  not really do it permanently.

[2021-08-18 17:37] keithc-ca commented on #13328
My point is that it's not even a realistic approach, even temporarily.

[2021-08-18 17:48] fengxue-IS commented on #13142
@JasonFengJ9 I have tried to reproduce this with 100x grinder `Test_grinder/job/Grinder/17578`, did not seen this failure, however, there is a crash in JIT during the build process before the test is run, which I am not sure if is related to any know issues:
[code]

[2021-08-18 17:53] JasonFengJ9 commented on #13142
@fengxue-IS it appears https://github.com/eclipse-openj9/openj9/issues/13118.

[2021-08-18 17:56] fengxue-IS commented on #13142
if that is already tracked, I think we can close this issue then

[2021-08-18 18:31] JasonFengJ9 commented on #13142
Closing..

[2021-08-18 18:31] #13142 closed

[2021-08-18 19:53] fengxue-IS commented on #12539
Latest openj9-staging branch with:
[code]
result seem to be unrelated original issue described, stacktrace points to `jdk/internal/foreign/abi/ProgrammableInvoker.registerNatives()V`
[code]

[2021-08-18 20:17] hangshao0 opened #13339 "interface IdentityObject should not be injected into old classes where VT is not supported"
interface `IdentityObject` is injected to identity classes by https://github.com/eclipse-openj9/openj9/pull/10282/.

However, I don't see there is a class file version check in that PR. `IdentityObject` should not be injected into old classes where ValueType is not supported.

[2021-08-18 20:17] hangshao0 commented on #13339
FYI @tajila @hzongaro

[2021-08-18 20:24] Swapnilr1 commented on #13192
@vijaysun-omr @0xdaryl I have created the pull request #13326 -  could you or someone from the VM team have a look and help me with the questions I have (added as comments in the PR itself) ? Thanks.

[2021-08-18 20:30] fengxue-IS commented on #12539
Closing this as the failures are due to JVM native implementation of `ProgrammableInvoker`, not part of OJDK MH issue.
Currently this test has already been excluded. Will re-evaluate when `foreign.CLinker` changes have been merged.

[2021-08-18 20:30] #12539 closed

[2021-08-18 20:46] fengxue-IS commented on #13020
local testing with latest Java 17 build passed
[code]
@JasonFengJ9 do you know if this is an intermittent issue? if not, we can close this.

[2021-08-18 20:49] fengxue-IS commented on #13022
local testing passed with latest Java 17 build
[code]
@JasonFengJ9 FYI

[2021-08-18 20:52] fengxue-IS commented on #13021
local test passed with latest Java 17 build
[code]

[2021-08-18 21:09] EricYangIBM commented on #13029
Should the ramClass flag be set in createramclass.cpp when the class is loaded? Also should subclasses of the specified classes inherit the flag?

[2021-08-18 22:08] hangshao0 commented on #13029
Looks like it is the correct place.

Yes.

[2021-08-18 23:01] JasonFengJ9 commented on #13020
It is odd the failure is still reproducible at `Test_grinder/job/Grinder/17590`
[code]
[Re-run in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=x86-64_linux&CUSTOM_TARGET=java/lang/reflect/Proxy/DefaultMethods.java&TARGET=jdk_custom_0)

Note: JVM SHAs are same.

The failure appears in first

[2021-08-18 23:13] JasonFengJ9 commented on #13022
This is reproduced at `Test_grinder/job/Grinder/17591/`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=x86-64_linux&CUSTOM_TARGET=java/text/Collator/RuleBasedCollatorTest.java&TARGET=jdk_custom_0)

Note: The VM in question has same SHAs as https://github.com/eclipse-openj9

[2021-08-19 00:31] Akira1Saitoh commented on #13313
I tried UnitTest.java described in https://github.com/eclipse-openj9/openj9/issues/13313#issue-967080261 with aarch64 build which contains https://github.com/eclipse/omr/pull/6137, but I could not recreate the failure.

[2021-08-19 09:01] knn-k commented on #6325
https://github.com/eclipse-openj9/openj9/pull/13268 implemented interface PIC.

[2021-08-19 09:04] knn-k commented on #6438
https://github.com/eclipse-openj9/openj9/pull/13279 enabled reference arraycopy on AArch64.
I think this issue can be closed now.

[2021-08-19 11:48] JasonFengJ9 commented on #13162
Just note it is observed in recent JDK16 build at `Test_openjdk16_j9_sanity.openjdk_x86-64_linux_Personal/81/consoleFull`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=x86-64_linux&TARGET=jdk_util_0)

[2021-08-19 11:53] JasonFengJ9 commented on #13129
It is observed w/ a recent JDK16 build at `Test_openjdk16_j9_sanity.openjdk_x86-64_linux_Personal/81/consoleFull`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=x86-64_linux&TARGET=jdk11_tier1_buffer_1)

[2021-08-19 12:16] JasonFengJ9 commented on #12483
`java/util/Random/RandomTestBsi1999.java` failure is observed w/ a recent JDK17 (`openj9-staging`) build at `Test_openjdk17_j9_sanity.openjdk_s390x_linux_Personal/3/consoleFull`
[code]

Created https://github.com/adoptium/aqa-tests/pull/2830 to exclude JDK17 `java/util/Random/RandomTestBsi1999.java`.

[2021-08-19 12:24] JasonFengJ9 commented on #13319
A few similar NPEs w/ a recent JDK17 (`openj9-staging`) at Test_openjdk17_j9_special.system_s390x_linux_Personal/3/tapResults/
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=s390x_linux&TARGET=DaaLoadTest_daa1_special_5m_14)

[2021-08-19 12:29] JasonFengJ9 commented on #13167
The error is observed w/ a recent JDK16 build at `Test_openjdk16_j9_extended.functional_ppc64le_linux_Personal/10/tapResults/`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=functional&PLATFORM=ppc64le_linux&TARGET=jsr292_MethodHandleAPI_Test_JitCount1_0)

[2021-08-19 12:32] #6438 closed

[2021-08-19 12:48] JasonFengJ9 commented on #13050
`jsr292Test_JitCount0_0_FAILED` due to `Segmentation error ` at https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.functional_ppc64_aix_Nightly_testList_1/76/consoleFull
[code]

[2021-08-19 12:59] knn-k commented on #13226
No failure in 20x Grinder.  /job/Grinder/17593/

[2021-08-19 13:39] #6325 closed

[2021-08-19 15:35] fengxue-IS commented on #13022
interesting, I think the only difference is that my local build have `-g -O0`. maybe due to optimization skipping default value initialization in this case causing the problem? I will review the code Tobi pointed out (#12558 #12880) to see if there may be such cases

[2021-08-19 16:35] a7ehuo opened #13344 "Invalid instanceClass in VM_BytecodeInterpreterCompressed::checkcast for Value Type"
I'm seeing a crash when running a microbench `ACMPPrimitiveAlwaysEqualBench` with `-Xint`. The microbench compares VT array elements with a static VT field instance. It crashed on the path of `VM_BytecodeInterpreterCompressed::checkcast`. The `instanceClass` is either corrupted or `NULL`. It looks to me it tries to check whether the static field instance on the stack is a type of `java/lang/Object

[2021-08-19 16:39] a7ehuo commented on #13344
@hangshao0 @tajila fyi

[2021-08-19 17:07] RSalman commented on #13186
Actually, it will be worthwhile to report both `inContainer` and `IdleTuning`. `IdleTuning` is also dependent on platform + gc policy, so reporting will be helpful. There's initial work to report in the following format:

[code]

[2021-08-19 17:11] RSalman commented on #13186
I think separate lines is a better approach, its helpful to know `inContainer` independently of idleTuning as @dmitripivkine mentioned.

[2021-08-19 17:25] gacholio commented on #13344
Running with -Xverify:none is unsupported. Does the test fail without this?

[2021-08-19 17:40] a7ehuo commented on #13344
Yes, same crash

[code]

[2021-08-19 18:53] JasonFengJ9 commented on #13234
The test in question has been excluded, moving to 0.29.

[2021-08-19 19:05] JasonFengJ9 commented on #13211
The test in question has been excluded, `sanity.openjdk` is green w/ a recent JDK16 AIX build at
https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk16_j9_sanity.openjdk_ppc64_aix_Personal/4/consoleFull
[code]
Moving the issue to 0.29.

[2021-08-19 19:27] JasonFengJ9 commented on #13195
I think this can be moved to 0.29.

[2021-08-19 19:40] JasonFengJ9 commented on #13344
Set to release 0.29 tentatively.

[2021-08-19 19:41] JasonFengJ9 commented on #13339
Set to release 0.29 tentatively.

[2021-08-19 19:46] Thihup opened #13347 "Improve error message when loading an invalid class version"
Current, if we try to run a more recent Java class in an old JVM, we get the following error message:
[code]

However, it is not so easily to detect that the class was compiled with a version above the supported by the JVM.Hotspot gives a more informative error message, so maybe it would be possible to improve the message in some way.

[code]

[2021-08-19 21:09] jonoommen commented on #13260
It turns out that `objectDescriptor.isObject = FALSE` is correctly being set to `FALSE` , however in `checkObjectHeap` when `FALSE == objectDesc->isObject`, the following condition `if ((0 == objectDesc->size) || (objectDesc->size > ((UDATA)regionDesc->regionStart +  regionDesc->regionSize - (UDATA)objectDesc->object)))` is not met, so we will still return `J9MODRON_SLOT_ITERATOR_OK` , as even tho

[2021-08-20 03:42] knn-k commented on #13230
Please close this issue, although the fix was not merged to the 0.27 branch.

[2021-08-20 07:08] knn-k commented on #12739
I think this issue can be closed now.

[2021-08-20 07:25] onlynishant opened #13349 "openj9 performance degrades over the time"
Hi,

I am using openj9 on our large-scale low latency (target p99 is < 50ms) bare metal production server. we receive 20-30k req/sec over the internet (HTTP/HTTPS) and the application creates a lot of short live objects and it also maintains a few GBs of internal process cache (multiple Java Map of total approx 3M entries) which get refreshed periodically and will be retained throughout of applica

[2021-08-20 10:16] knn-k commented on #12768
I don't see the failure in 30+ runs using a recent build in my development environment.

[2021-08-20 11:00] JasonFengJ9 commented on #13230
0.27 is finalized, closing..

[2021-08-20 11:00] #13230 closed

[2021-08-20 11:03] #12739 closed

[2021-08-20 11:11] JasonFengJ9 commented on #13349
Set `comp:gc` tentatively.
fyi @dmitripivkine

[2021-08-20 12:14] hzongaro commented on #13339
Actually, I think the way things stand in the specification today, old classes can have the `IdentityObject` interface.  According to [section 5.3.5 of the 2021-07-02 updates to the JVM spec](http://cr.openjdk.java.net/~dlsmith/jep401/jep401-20210702/specs/primitive-objects-jvms.html#jvms-5.3.5):

And according to [section 4.1](http://cr.openjdk.java.net/~dlsmith/jep401/jep401-20210702/specs/primi

[2021-08-20 13:17] JasonFengJ9 commented on #13021
Passed w/ a recent JDK17 build at `Test_grinder/job/Grinder/17598`
[code]

closing..

[2021-08-20 14:02] JasonFengJ9 commented on #11817
Passed w/ a recent JDK17 (`openj9-staging`) build at `Test_grinder/job/Grinder/17599`
[code]

Also passed w/ a recent JDK16 build at `Test_grinder/job/Grinder/17600`
[code]

closing..

[2021-08-20 15:24] JasonFengJ9 commented on #13125
Passed in a recent JDK17 (`openj9-staging`) build at `Test_grinder/job/Grinder/17601`
[code]
Also passed in a recent JDK16 build at `Test_grinder/job/Grinder/17602`
[code]
closing..

[2021-08-20 15:40] JasonFengJ9 commented on #13019
Passed a recent JDK17 (`openj9-staging`) build at `Test_grinder/job/Grinder/17603`
[code]

closing..

[2021-08-20 15:56] hangshao0 commented on #13339
The is already covered by the current code.

I did a quick test on RI, I see `getInterfaces()` returns `java.lang.IdentityObject` on an old class file, which is the same as the current OpenJ9 behaviour.

@hzongaro as you are the person who originally raised this issue, do you see anything else on the old class file ? If no, I think we can close this.

[2021-08-20 16:06] dmitripivkine commented on #13349
Yes, we can help with this indeed

[2021-08-20 16:11] hangshao0 commented on #13339
This is already covered by the current code.

I did a quick test on RI, I see `getInterfaces()` returns `java.lang.IdentityObject` on an old class file.

[2021-08-20 16:42] #13339 closed

[2021-08-20 17:58] tajila commented on #13021
@JasonFengJ9 Does this fail with ojdk_mh ?

[2021-08-20 17:59] tajila commented on #13022
@JasonFengJ9 Likewise, does this fail with ojdk_mh

[2021-08-20 20:56] jdmpapin opened #13353 "JIT SystemSegmentProvider leaks memory if an inconveniently-sized allocation is repeatedly requested then released"
When allocating more than the default segment size, but less than the system segment size, `J9::SystemSegmentProvider` will [allocate within a system segment](https://github.com/eclipse-openj9/openj9/blob/ca4973a2b0d9414a726e826c1e5d5506761c395d/runtime/compiler/env/SystemSegmentProvider.cpp#L238) by [bumping a pointer](https://github.com/eclipse-openj9/openj9/blob/ca4973a2b0d9414a726e826c1e5d5506

[2021-08-20 22:29] JasonFengJ9 commented on #13021
Yes, the JDK17 in question https://github.com/eclipse-openj9/openj9/issues/13021#issuecomment-902686676 was built from `openj9-staging` branch which has `ojdk_mh` enabled.
[code]
The test passed in Jack's local machine https://github.com/eclipse-openj9/openj9/issues/13021#issuecomment-901422324 probably was due to `-g -O0` specified in local build as per https://github.com/eclipse-openj9/openj9/is

[2021-08-20 22:33] JasonFengJ9 commented on #13022
Similar with https://github.com/eclipse-openj9/openj9/issues/13021#issuecomment-902989637, yes, the JDK17 in question https://github.com/eclipse-openj9/openj9/issues/13022#issuecomment-901489434 was built from `openj9-staging` branch which has `ojdk_mh` enabled.
[code]
which has same SHAs as Jack's local build https://github.com/eclipse-openj9/openj9/issues/13022#issuecomment-901420586 which speci

[2021-08-21 11:54] 0xdaryl opened #13356 "Do not explicitly prevent LambdaForm reinvoke method inlining"
LambdaForm generated reinvoke() methods are explicitly prevented from being inlined via #13355.  However, the inliner should naturally discover that reinvoke() methods are on cold paths and prevent inlining using the pre-existing mechanisms.  This issue tracks the work to discover why this is not happening.

[2021-08-22 01:45] fjeremic commented on #12719
Reproduction here as well on ub20-390-2 which I assume is Ubuntu 20.04 judging by the name:
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_s390x_linux_Personal_testList_0/82/consoleText

[2021-08-23 02:15] knn-k commented on #12281
I think this issue can be closed now.  It seems it was fixed by #12415.

[2021-08-23 02:19] knn-k commented on #12430
I think this issue can be closed now.
eclipse/omr#6011 re-implemented eclipse/omr#5890, and has been working fine.

[2021-08-23 02:21] knn-k commented on #12466
I think this issue can be closed now.
eclipse/omr#6025 fixed it.

[2021-08-23 02:43] knn-k commented on #12732
eclipse/omr#6025 has fixed this issue.  I think this issue can be closed now.

[2021-08-23 02:44] knn-k commented on #12735
eclipse/omr#6025 has fixed this issue. I think this issue can be closed now.

[2021-08-23 02:45] knn-k commented on #12733
eclipse/omr#6025 has fixed this issue. I think this issue can be closed now.

[2021-08-23 02:46] knn-k commented on #12833
#12928 has fixed this issue. I think this issue can be closed now.

[2021-08-23 02:48] knn-k commented on #12122
Primitive and reference arraycopy has been implemented and enabled for AArch64.

[2021-08-23 03:05] knn-k commented on #11481
This failure has not happened for months.

[2021-08-23 05:58] #11901 closed

[2021-08-23 11:16] JasonFengJ9 commented on #12833
Closing.. as per comment above.

[2021-08-23 11:16] #12833 closed

[2021-08-23 11:17] JasonFengJ9 commented on #12733
Closing as per comment above.

[2021-08-23 11:17] #12733 closed

[2021-08-23 11:17] JasonFengJ9 commented on #12735
Closing as per comment above.

[2021-08-23 11:17] #12735 closed

[2021-08-23 11:18] JasonFengJ9 commented on #12732
Closing as per comment above.

[2021-08-23 11:18] #12732 closed

[2021-08-23 11:19] JasonFengJ9 commented on #12430
Closing as per comment above. (can re-open if the failure occurs again)

[2021-08-23 11:19] #12430 closed

[2021-08-23 11:20] JasonFengJ9 commented on #12466
Closing as per comment above. (can re-open if the failure occurs again)

[2021-08-23 11:20] #12466 closed

[2021-08-23 11:22] JasonFengJ9 commented on #12281
Closing as per comment above.
Note: there wasn't much internal tests recently due to 0.27 release, will re-open if this failure appears again.

[2021-08-23 11:22] #12281 closed

[2021-08-23 11:38] JasonFengJ9 opened #13358 "JDK16 AIX testFailure: net.openj9.test.arithmetics.TestValidityChecking: Storage is not completely initialized, 30 bytes left"
Failure link
------------

From an internal build `Test_openjdk16_j9_special.system_ppc64_aix_Personal/5/tapResults/` (`paix826`):
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=ppc64_aix&TARGET=DaaLoadTest_daa1_special_5m_14)

Optional info
-------------

Failure output (c

[2021-08-23 11:47] JasonFengJ9 commented on #13179
Similar segmentation error is observed at `Test_openjdk16_j9_special.system_ppc64le_linux_Personal/7/tapResults/` (`sles15le-rt1-1`)
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=ppc64le_linux&TARGET=MathLoadTest_bigdecimal_special_5m_4)

[2021-08-23 12:00] JasonFengJ9 opened #13359 "MathLoadTest failures - JUnit[net.openj9.test.binaryData.TestByteArray2IntegerNumBytes] & JUnit[net.adoptopenjdk.test.bigdecimal.TestSuites]"
Failure link
------------

From an internal build `Test_openjdk16_j9_special.system_s390x_linux_Personal/7/tapResults/`:
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=s390x_linux&TARGET=DaaLoadTest_daa2_special_5m_14)

Optional info
-------------

Failure output (captured

[2021-08-23 12:09] JasonFengJ9 commented on #13017
JDK16 Windows build has same assertion error at `Test_openjdk16_j9_special.system_x86-64_windows_Personal/6/tapResults/`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=x86-64_windows&TARGET=LambdaLoadTest_special_J9_5m_1)

[2021-08-23 12:36] mpirvu opened #13361 "Override `TR_J9VMBase::delegatingMethodHandleTarget` for JITServer"
PR https://github.com/eclipse-openj9/openj9/pull/13354 introduces a new frontend call:
`TR::KnownObjectTable::Index
TR_J9VMBase::delegatingMethodHandleTarget(
   TR::Compilation *comp, TR::KnownObjectTable::Index dmhIndex, bool trace)`
which needs to be overridden for JITServer. Specifically, the code protected by the VMAccess critical section needs to be executed at the client. If there is a new

[2021-08-23 12:36] a0304 commented on #13269
Hi @JasonFengJ9, What dlopen flag does OpenJ9 JDK use in System.loadlibrary. Is it RTLD_GLOBAL ? That would help explain why LD_PRELOAD of the libs fixes the issue.

[2021-08-23 14:56] dmitripivkine commented on #13017
bogus o-slot value `O-Slot value=0074007300650074` is a part of char string obviously. I guess it is possible this is a stall value because of GC happen on background and some object has been reallocated. Please let me know if you need my help with this investigation (technically this is just reporting of the problem in GC)
@0xdaryl FYI

[2021-08-23 15:15] fengxue-IS commented on #13021
After investigation, this failure is due to Grinder hardcoding the openj9 branch from extension repo which is different from openj9-staging. test has been patched to work with jtreg 6 (https://github.com/ibmruntimes/openj9-openjdk-jdk17/commit/7c832996fff52e5ebb7bfc5499bc9ddd3cd6ae9e)
@JasonFengJ9 can you please re-try this.

[2021-08-23 15:16] fengxue-IS commented on #13020
After investigation, this failure is due to Grinder hardcoding the openj9 branch from extension repo which is different from openj9-staging. test has been patched to work with jtreg 6 (https://github.com/ibmruntimes/openj9-openjdk-jdk17/commit/7b30968e8ad595ae61ea02b413cf44866a38893a)
@JasonFengJ9 can you please re-try this.

[2021-08-23 16:03] #12122 closed

[2021-08-23 16:07] JasonFengJ9 commented on #13022
Yeah, the grinder hardcoded extension repo branch to `openj9` hence missed the test change in question. Raised an internal issue `backlog/issues/572`.

Just created an `adoptium/aqa-tests` folk branch and clone JDK17 extension repo `openj9-staging` branch, the test passes at `Grinder/17629` w/ a recent JDK17 build.
[code]

closing..

[1] https://github.com/JasonFengJ9/openjdk-tests/tree/jdk17tests

[2021-08-23 16:07] #13022 closed

[2021-08-23 16:09] JasonFengJ9 commented on #13021
Similar with https://github.com/eclipse-openj9/openj9/issues/13022#issuecomment-903910981, the grinder hardcoded extension repo branch to `openj9` hence missed the test change in question. Raised an internal issue `backlog/issues/572`.

Just created an `adoptium/aqa-tests` folk branch and clone JDK17 extension repo `openj9-staging` branch, the test passes at `Grinder/17630` w/ a recent JDK17 build

[2021-08-23 16:09] #13021 closed

[2021-08-23 16:11] JasonFengJ9 commented on #13020
Similar with https://github.com/eclipse-openj9/openj9/issues/13022#issuecomment-903910981, the grinder hardcoded extension repo branch to `openj9` hence missed the test change in question. Raised an internal issue `backlog/issues/572`.

Just created an `adoptium/aqa-tests` folk branch and clone JDK17 extension repo `openj9-staging` branch, the test passes at `Grinder/17632` w/ a recent JDK17 build

[2021-08-23 16:11] #13020 closed

[2021-08-23 17:21] BradleyWood commented on #13314
Just for the record, you can use the "disableArrayCopyOpts" option as a temporary fix.

[2021-08-23 17:45] JasonFengJ9 commented on #13125
Similar with https://github.com/eclipse-openj9/openj9/issues/13022#issuecomment-903910981, the test passes at `Grinder/17636` w/ a recent JDK17 build against `adoptium/aqa-tests` folk branch [1] to use JDK17 extension repo `openj9-staging` branch.
[code]

closing..

[1] https://github.com/JasonFengJ9/openjdk-tests/tree/jdk17teststaging

[2021-08-23 17:45] #13125 closed

[2021-08-23 18:28] JasonFengJ9 commented on #13019
Similar with https://github.com/eclipse-openj9/openj9/issues/13022#issuecomment-903910981, the test passes at `Grinder/17637` w/ a recent JDK17 build against `adoptium/aqa-tests` folk branch [1] to use JDK17 extension repo `openj9-staging` branch.
[code]

closing..

[1] https://github.com/JasonFengJ9/openjdk-tests/tree/jdk17teststaging

[2021-08-23 18:28] #13019 closed

[2021-08-23 18:52] 0xdaryl commented on #13017
@knn-k @Akira1Saitoh : would one of you mind picking up the investigation on this please?

[2021-08-23 22:00] JasonFengJ9 commented on #13269
The actual library loading code snippet for Linux is [1]
[code]
Neither `RTLD_GLOBAL` nor `RTLD_LOCAL` was specified hence `RTLD_LOCAL` is used by default [2].

From the snaptrace log
[code]

Is `libSMAOPTnlpql.so` at `/scratch/SMAEXE_g6h/templib56973`? It is not in the core dump zip though.

[1] https://github.com/eclipse-openj9/openj9-omr/blob/1d8fb435675f022855948c08f08f6db66cbe38d8/port/unix/o

[2021-08-24 00:16] Akira1Saitoh commented on #13017
I will look into this.

[2021-08-24 01:51] knn-k commented on #12738
eclipse/omr#6025 should have fixed this issue.  I think this issue can be closed now.

[2021-08-24 01:52] knn-k commented on #12736
eclipse/omr#6025 should have fixed this issue. I think this issue can be closed now.

[2021-08-24 06:10] Akira1Saitoh commented on #13017
In the failure described in https://github.com/eclipse-openj9/openj9/issues/13017#issuecomment-894511954, the stacktrace of finalizer thread is odd.

[code]

At  `java/lang/ref/Reference.enqueueImpl`, the lock of the reference is taken and it says the class of the reference is `java/lang/Class$ReflectRef`.

However, `java/lang/ClassLoader$ClassNameLockRef.run` is called from `java/lang/ref/Referen

[2021-08-24 07:41] Akira1Saitoh commented on #13017
I am not sure if the crash in windows (https://github.com/eclipse-openj9/openj9/issues/13017#issuecomment-903706842) is the same problem as aarch64 ones.

[2021-08-24 07:52] knn-k commented on #13017
@JasonFengJ9
I think the Windows JDK 16 case should be handled in another issue.

[2021-08-24 08:30] Akira1Saitoh commented on #13017
Launching 20x internal Grinder job for `jdk_lang_1` with personal build of JDK16 from the recent source tree. `job/Grinder/17647/`
[code]

[2021-08-24 11:22] pshipton opened #13366 "DaaLoadTest_daa3_CS_5m_0 crash vmState=0x00020002"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_0/78/
DaaLoadTest_daa3_CS_5m_0
JVM_OPTIONS:  -Xgcpolicy:gencon -Xgc:concurrentScavenge

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_sanity.system_ppc64le_linux_Nightly_testList_0/78/system_test_output.tar.gz
[code]

[2021-08-24 11:22] pshipton commented on #13366
@dmitripivkine fyi

[2021-08-24 11:24] pshipton commented on #12244
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/78/ - osx1013-x86-3
jdk_util_0
[code]

[2021-08-24 11:32] pshipton opened #13367 "jtreg java/lang/String/Exceptions.java crash Compiled_method=java/lang/String.split"
Blocking promotion of jdk17

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_OpenJDK17/9
jdk_lang_0
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops
java/lang/String/Exceptions.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Te

[2021-08-24 11:37] pshipton opened #13368 "jtreg java/lang/invoke/VarHandles/VarHandleTestAccess Unexpected exit from test [exit code: 137]"
Blocking promotion of jdk17.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_OpenJDK17/9
jdk_lang_1
JVM_OPTIONS:  -Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops
java/lang/invoke/VarHandles/VarHandleTestAccessChar.java.VarHandleTestAccessChar
java/lang/invoke/Va

[2021-08-24 12:34] JasonFengJ9 opened #13369 "j9mm.479 * ** ASSERTION FAILED ** at openj9/runtime/gc_glue_java/MarkingSchemeRootMarker.cpp:53: ((MM_StackSlotValidator(MM_StackSlotValidator::NOT_ON_HEAP, object, stackLocation, walkState).validate(_env)))"
JDK16 Windows build has same assertion error at `Test_openjdk16_j9_special.system_x86-64_windows_Personal/6/tapResults/`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=x86-64_windows&TARGET=LambdaLoadTest_special_J9_5m_1)

Edit: assigning this to 0.28 release since JDK16 he

[2021-08-24 12:39] JasonFengJ9 commented on #13017
Created https://github.com/eclipse-openj9/openj9/issues/13369

[2021-08-24 12:40] #12736 closed

[2021-08-24 12:40] #12738 closed

[2021-08-24 12:41] pshipton commented on #13368
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/2/
jdk_lang_0
    java/lang/invoke/VarHandles/VarHandleTestAccessChar.java.VarHandleTestAccessChar
    java/lang/invoke/VarHandles/VarHandleTestAccessFloat.java.VarHandleTestAccessFloat
jdk_lang_1
    java/lang/invoke/VarHandles/VarHandleTestAccessChar.java.VarHandleTestAccessChar
    java/lang/invoke/VarH

[2021-08-24 12:43] pshipton commented on #13367
Intermittent problem, as it didn't occur in https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/2

[2021-08-24 12:55] JasonFengJ9 opened #13370 "JDK17 jdk_util_1_FAILED - java/util/Random/RandomTestMoments.java"
Failure link
------------

From an internal build `Test_openjdk17_j9_sanity.openjdk_s390x_linux_Personal/7/consoleFull`:
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=s390x_linux&TARGET=jdk_util_1)

Optional info
-------------

Failure output (captured from console output

[2021-08-24 13:06] JasonFengJ9 commented on #13369
Also observed at MacOS `Test_openjdk16_j9_special.system_x86-64_mac_Personal/6/tapResults/`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=x86-64_mac&TARGET=LambdaLoadTest_special_J9_5m_4)

[2021-08-24 13:37] JasonFengJ9 commented on #13368
This `Unexpected exit from test [exit code: 137]` wasn't observed at internal tests such as `Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Personal/10/`.
Could be machine/setup related.

[2021-08-24 13:44] pshipton opened #13371 "NullPointerException: Cannot invoke "java.lang.invoke.MethodHandle.linkToVirtual"
https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_extended.system_x86-64_mac_Nightly_testList_2/76/ - osx1014-x86-1
ObjectTreeLoadTest_5m_0
JVM_OPTIONS:  -Xjit -Xgcpolicy:gencon -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk16_j9_extended.system_x86-64_mac_Nightly_testList_2/76/system_test_output.tar.gz
[code]

[2021-08-24 13:47] mstoodle commented on #1876
You're right, it hasn't been open sourced, although nothing to my knowledge would stop us from doing it (other than the fact that it would probably be pretty close to a dump and run :( ). There are a few people who help out with support for HC, but no dedicated resourcing right now.

I would support reopening the discussion to look at JFR / Mission Control, but unfortunately can't commit people to

[2021-08-24 13:50] pshipton commented on #13371
@tajila @fengxue-IS fyi

I saw a changed merged which I thought would have fixed this.
Note this failure occurred in the last jdk16 nightly build this past Sunday night, which has now been disabled in favour of running jdk17 nightly. You can look back in the build history to see how often this occurs.
https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK16/

[2021-08-24 13:52] pshipton commented on #13371
FYI jdk17 build is https://openj9-jenkins.osuosl.org/job/Pipeline-Build-Test-JDK17
I don't think we have issues for all the extended.system failures, I'll go through them later today and ensure issues are created.

[2021-08-24 13:55] pshipton commented on #13369
@dmitripivkine fyi

[2021-08-24 13:58] pshipton commented on #13371
Technically this is a dup of https://github.com/eclipse-openj9/openj9/issues/13129

[2021-08-24 14:08] pshipton commented on #13368
I believe internal testing is running obsolete jdk17 code without OJDK MH enabled.

[2021-08-24 14:11] pshipton commented on #13368
Internal builds are using `JCL      - 363eb1d6e4 based on jdk-17+18)`, while the (non-promoted) latest is jdk-17+35 with OJDK MH enabled.

[2021-08-24 14:13] dmitripivkine commented on #13366
This is known problem with corrupted Ownable Synchronizer Objects list:
[code]

[2021-08-24 14:14] pshipton commented on #13368
Are internal builds for jdk17 even running? The last one I see if from July 13.

[2021-08-24 14:14] dmitripivkine commented on #13366
duplicate of https://github.com/eclipse-openj9/openj9/issues/10489

[2021-08-24 14:14] #13366 closed

[2021-08-24 14:15] JasonFengJ9 commented on #13368
Please check `Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Personal/10/console` which is built/test against JDK17 (`openj9-staging`).
Note: this is one of personal builds which haave been used to test JDK16/17 recently due to internal nightly/weekly builds not launched since 0.27 release cycle.
[code]

[2021-08-24 14:37] dmitripivkine commented on #13369
As mentioned above this is exactly the same issue as https://github.com/eclipse-openj9/openj9/issues/13017,
see my comment https://github.com/eclipse-openj9/openj9/issues/13017#issuecomment-903848828

The problem seems is not limited to ARM platform

@0xdaryl FYI

[2021-08-24 14:47] tajila commented on #13371
I think its also a dup of https://github.com/eclipse-openj9/openj9/issues/13305

[2021-08-24 14:58] dmitripivkine commented on #13180
looks like this is the same issue as https://github.com/eclipse-openj9/openj9/issues/13369 and https://github.com/eclipse-openj9/openj9/issues/13017

[2021-08-24 15:00] dmitripivkine commented on #13180
@0xdaryl FYI

[2021-08-24 15:01] pshipton opened #13372 "ASSERTION FAILED KeyHashTable.c:313: (!((0 != ((((UDATA)clazz)) & ((0x100 - 1))))))"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_special.system_x86-64_windows_Personal_testList_3/27/
ClassLoadingTest_special_5m_0
JVM_OPTIONS:  -Xjit -Xgcpolicy:optthruput -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_special.system_x86-64_windows_Personal_testList_3/27/system_test_output.tar.gz
[code]

[2021-08-24 15:01] pshipton commented on #13372
@gacholio fyi

[2021-08-24 15:02] pshipton commented on #13123
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_special.system_x86-64_windows_Personal_testList_3/27/
ClassLoadingTest_special_5m_0
JVM_OPTIONS:  -Xjit -Xgcpolicy:optthruput -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_special.system_x86-64_windows_Personal_testList_3/27/system_test_output.tar.gz
[code]

[2021-08-24 15:03] pshipton commented on #13372
Actually, dup of https://github.com/eclipse-openj9/openj9/issues/13123

[2021-08-24 15:03] #13372 closed

[2021-08-24 15:21] keithc-ca opened #13373 "Update to openssl 1.1.1l"
Release 1.1.1l appears to have security fixes.

[2021-08-24 15:22] keithc-ca commented on #7633
The tag `OpenSSL_1_1_1l` appeared today: created #13373.

[2021-08-24 15:34] dsouzai commented on #13353
Yeah I'm not sure why, when we carve up the segment in `J9::SystemSegmentProvider::release`, those new segments aren't added to `_freeSegments`; probably could just be fixed with a two-line PR, something like:

[code]

In terms of why the carving happens at all, part of it might be because it may have seemed unlikely there would be many allocations greater than 64KiB (though that is just my guess)

[2021-08-24 15:49] jdmpapin commented on #13353
That would be good, but it wouldn't solve the problem in the example loop. If we change 8192 to `n`, a proper fix would allow that loop to run in constant space. Probably the way to go IMO is to have only one size threshold, i.e. equate the "default" and "system" segment sizes. Then there would only be regular reusable segments (which get put on the free-list) and large segments (which are release

[2021-08-24 16:07] pshipton commented on #13371
Close this if you want, I wasn't sure if https://github.com/eclipse-openj9/openj9/pull/13285 was supposed to fix it.

[2021-08-24 16:11] pshipton commented on #13368
We've promoted the jdk17 content regardless of the failures, so this isn't blocking anything any more, except for the tests being green.

[2021-08-24 16:11] pshipton commented on #13367
We've promoted the jdk17 content regardless of the failures, so this isn't blocking anything any more, except for the tests being green.

[2021-08-24 16:13] pshipton commented on #13367
and any future jdk17 acceptance build but we may already have the final level considering it's after the OpenJDK Final Release Candidate date.

[2021-08-24 16:13] pshipton commented on #13368
and any future jdk17 acceptance build but we may already have the final level considering it's after the OpenJDK Final Release Candidate date.

[2021-08-24 16:23] pshipton commented on #13373
@AdamBrousseau we'll need the Windows update.

[2021-08-24 16:58] pshipton commented on #13127
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64_aix_Nightly_testList_2/2/
SC_Softmx_JitAot_0
JVM_OPTIONS:  -Xjit -Xgcpolicy:gencon -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_ppc64_aix_Nightly_testList_2/2/system_test_output.tar.gz

16.jvm4.stderr
[code]

[2021-08-24 17:00] pshipton commented on #13325
Set as a blocker, it's failing consistently in every build so needs to be fixed (or excluded).

[2021-08-24 17:08] pshipton opened #13376 "SharedClassesWorkload_0 crash compiling StringConcatHelper.prepend"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64le_linux_Nightly_testList_0/2
SharedClassesWorkload_0
JVM_OPTIONS:  -Xjit -Xgcpolicy:gencon -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_ppc64le_linux_Nightly_testList_0/2/system_test_output.tar.gz

15.SCL1.stderr
[code]

[2021-08-24 17:10] a0304 commented on #13269
No the libSMAOPTnlpql.so is not available in the /scratch/SMAEXE_g6h/templib56973 dir. Could you please provide me the full formatted l snap trace dump ? Thanks

[2021-08-24 17:12] pshipton commented on #12073
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_s390x_linux_Nightly_testList_1/2
MiniMix_5m_1
JVM_OPTIONS:  -XX:-UseCompressedOops

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_s390x_linux_Nightly_testList_1/2/system_test_output.tar.gz
[code]

[2021-08-24 17:13] #13371 closed

[2021-08-24 17:14] pshipton commented on #13305
See https://github.com/eclipse-openj9/openj9/issues/13371

[2021-08-24 17:15] pshipton commented on #13305
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64_linux_Nightly_testList_0/2
LangLoadTest_5m_1
JVM_OPTIONS:  -XX:-UseCompressedOops
[code]

[2021-08-24 17:18] JasonFengJ9 commented on #13269
@a0304 Sure, is it ok to attach the text file in this issue?

[2021-08-24 17:37] a0304 commented on #13269
Thanks @JasonFengJ9. I have sent you an invite (as editor) to a Box dir. Can you please add the file there ?

[2021-08-24 17:42] JasonFengJ9 commented on #13269
@a0304 Just uploaded, please check.

[2021-08-24 17:46] a0304 commented on #13269
Thanks

[2021-08-24 17:46] dmitripivkine commented on #13369
@pshipton I can triage this if you like to have more information about frame where the bad o-slot is discovered and compare between Windows/Mac/Arm cases (I assuming system cores are available). These failures are identical including `O-Slot value=0074007300650074` - `tset` chars in it

[2021-08-24 18:50] 0xdaryl commented on #12719
Given how frequently this fails in PR builds and blocks OMR Acceptance, at the very least I'd like to see this triaged as soon as possible.  I'll target it to 0.28.0 until convinced otherwise.

[2021-08-24 19:06] Mesbah-Alam commented on #13325
This should resolve the issue : https://github.com/adoptium/aqa-systemtest/pull/452.

[2021-08-24 19:16] tajila commented on #12719
@mikezhang1234567890 Any update on this?

[2021-08-24 19:24] dmitripivkine commented on #13369
I found Windows build but there is artefacts stored

[2021-08-24 19:38] tajila commented on #12759
@BradleyWood What is the status on this work? Is https://github.com/eclipse/omr/pull/6132/ the only pending PR?

[2021-08-24 20:05] pshipton commented on #13369
If it helps the JIT team.

[2021-08-24 20:24] hangshao0 commented on #13344
The test is pretty straightforward, it sets a static final filed `VALUE1` (which is a valueTyoe) to every element of the array `ints[]` in the constructor. Then it compares the static filed `VALUE1` against every element of `ints[]`

The code is:

[code]

Class SingleFieldPrimitive is a valueType:

[code]

A the time of crash, the ints[j] is pointing to the correct SingleFieldPrimitive object, how

[2021-08-24 20:32] hangshao0 commented on #13344
@dmitripivkine, does it ring any bells with you ?

[2021-08-24 21:02] hangshao0 commented on #13029
Adding comp:doc label as a new command line option is being added.

[2021-08-24 21:04] dmitripivkine commented on #13344
GC scanned j9class statics as a roots (but not all of them). There is the convention between VM and GC:
- VM must put object pointers first
- VM must set counter of expected object pointers is class statics
So GC scans specified number of fields at the beginning of class statics as object pointers.
If however class statics points to collected object it means the stall pointer has been installed in

[2021-08-24 21:23] hangshao0 commented on #13344
Shared to you via box.

[2021-08-24 21:44] hangshao0 commented on #13344
I see this line is checking for 'L' and '[', seems that Q type check is missing:

https://github.com/eclipse-openj9/openj9/blob/master/runtime/bcutil/ClassFileOracle.cpp#L360

[2021-08-25 00:23] dmitripivkine commented on #13344
There is a problem exactly I expected: `j9class->romClass->objectStaticCount` is set to 0, so GC does not scan any.
GC Check sees problem immediately:
[code]

[2021-08-25 02:33] pshipton commented on #13325
I think it's working, I'll go ahead and close.

[2021-08-25 02:33] #13325 closed

[2021-08-25 02:51] Akira1Saitoh commented on #13017
I could not reproduce the aarch64 crash with 20x Grinder.
However, I think that relocation record for class constant is missing in the code I pasted in https://github.com/eclipse-openj9/openj9/issues/13017#issuecomment-904351614.
Other class constants are loaded with 4 instructions, which means it is AOT compiled code, but `java/lang/Class$ReflectRef` is not. `cmp` instruction is generated in
http

[2021-08-25 06:14] onlynishant commented on #13349
Hi Guys,

It's good to see that it has been added to the Oct milestone. Is there a patch or anything that I can apply now to solve or mitigate it? It would be very helpful because it's affecting our production servers.

[2021-08-25 07:06] abhishekece commented on #5058
hi this is abhishek here ,i am trying to port openjdk to riscv and i am facing problem in native compile can you help me to share the steps what to followed,thanks in advance

[2021-08-25 11:32] pshipton commented on #13349
Adding to the Oct milestone is a way to keep track of this issue so it's not forgotten, and not a guarantee it will be fixed for any particular time.

[2021-08-25 11:35] pshipton commented on #13367
Not sure how intermittent this problem is, there have been a couple of builds where it didn't occur. Removing the blocker label.

[2021-08-25 11:41] pshipton commented on #13126
This crash seems to be occurring on a regular basis in the jdk17 builds so I'm setting a blocker label.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64_aix_Nightly_testList_0/3/
TestJlmRemoteThreadNoAuth_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.system_ppc64_aix_Nightly_testList_0/3/system_test_output.tar.gz

1.LT1.std

[2021-08-25 11:43] pshipton commented on #13127
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64_aix_Nightly/3

This crash seems to occur regularly in the jdk17 builds so I'm setting a blocker label.

[2021-08-25 11:44] JasonFengJ9 commented on #13367
It is observed in newly enabled JDK17 internal nightly build w/ promoted `openj9` branch at `Test_openjdk17_j9_sanity.openjdk_ppc64le_linux/44/consoleFull`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=ibm&BUILD_LIST=openjdk&PLATFORM=ppc64le_linux&TARGET=jdk_lang_1)

[2021-08-25 11:44] pshipton commented on #12073
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64_aix_Nightly/3

This failure is occurring regularly in the jdk17 builds, I'm moving it back to the 0.28 milestone and setting a blocker label.

[2021-08-25 11:45] pshipton commented on #13368
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/3/

[2021-08-25 11:51] JasonFengJ9 commented on #13118
Occurred in newly enabled JDK17 internal nightly build w/ promoted `openj9` branch at `/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux/44/consoleFull`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=ibm&BUILD_LIST=openjdk&PLATFORM=ppc64le_linux&TARGET=jdk_util_0)

[2021-08-25 11:54] pshipton commented on #13367
Ok, perhaps this should remain a blocker. I'm adding back the label so it gets some attention.

[2021-08-25 12:00] JasonFengJ9 opened #13383 "JDK17 aarch64_linux java/util/concurrent/tck/JSR166TestCase.java - JUnit Failure: testAccumulateAndGetMT(DoubleAccumulatorTest)"
Failure link
------------

From an internal build `Test_openjdk17_j9_sanity.openjdk_aarch64_linux/39/consoleFull` (`ub18-aarch64-3`):
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=ibm&BUILD_LIST=openjdk&PLATFORM=aarch64_linux&TARGET=jdk_util_0)

Optional info
-------------

Failure output (captured from con

[2021-08-25 12:07] JasonFengJ9 commented on #12605
It is observed at `Test_openjdk17_j9_sanity.openjdk_aarch64_linux/39/` (`ub18-aarch64-3`)
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=ibm&BUILD_LIST=openjdk&PLATFORM=aarch64_linux&TARGET=jdk_util_1)

[2021-08-25 12:21] 0xdaryl commented on #5058
@abhishekece : are you asking about the OpenJ9 JVM on RISC-V, or OpenJDK?  OpenJDK-specific questions about RISC-V are best asked at the OpenJDK project.

However, if you're asking about OpenJ9, please describe your problem in more detail.

[2021-08-25 12:25] JasonFengJ9 commented on #13359
Similar `MathLoadTest` errors are observed at `Test_openjdk17_j9_special.system_s390x_linux_testList_4/49/tapResults/`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=ibm&BUILD_LIST=system&PLATFORM=s390x_linux&TARGET=MathLoadTest_all_special_5m_4)

[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-

[2021-08-25 12:33] JasonFengJ9 commented on #13181
It is observed at `Test_openjdk17_j9_special.system_x86-64_mac_testList_0/40/`
[code]

[2021-08-25 13:05] pshipton commented on #13181
Tentatively setting as vm.

[2021-08-25 13:07] pshipton commented on #13359
Tentatively setting as jit given -Xjit:count=0

[2021-08-25 13:08] pshipton commented on #13181
Hmm, it is -Xjit:count=0 so I'll set jit instead.

[2021-08-25 13:26] #10648 closed

[2021-08-25 13:38] tajila opened #13384 "VT build fails to compile on Windows"
https://openj9-jenkins.osuosl.org/job/Build_JDKnext_x86-64_windows_vt_standard_Personal/1/consoleFull

[code]

[2021-08-25 14:45] rmnattas commented on #13367
The test fails on jdk17 across platforms ([ppcle64](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17660/) and [x86](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17677/)) but passes in [jdk11](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17672/).

The test never passes in jdk17 but running an [overnight grinder](h

[2021-08-25 14:49] hangshao0 commented on #13384
Do you see any other compilation errors on other platforms ? If yes, we can fix them all together in one pull request.

[2021-08-25 15:11] gacholio commented on #13344
I suspect adding the Q test in the code mentioned above will fix the issue.

[2021-08-25 17:05] nbhuiyan opened #13385 "Address potential buffer overflows due to statically declared arrays in the JIT"
Statically sized array declarations are used in many places in the compiler, such as in [[1]JitRuntime.cpp](https://github.com/eclipse-openj9/openj9/blob/ffda2a473f10a47bcbef1b3ea286fff451e86375/runtime/compiler/runtime/JitRuntime.cpp#L911), and [[2]j9method.cpp](https://github.com/eclipse-openj9/openj9/blob/ffda2a473f10a47bcbef1b3ea286fff451e86375/runtime/compiler/env/j9method.cpp#L319). In some

[2021-08-25 20:57] Sidong-Wei opened #13389 "getProcessCpuLoad() always return -1 in first call on jdk11"
Java -version output
--------------------
[code]

Summary of problem
------------------
The `getProcessCpuLoad()` method of class `com.sun.management.OperatingSystemMXBean` always return -1 (invaild ret value) in the first call, while in the following calls it will get the correct cpu load value.
I tried to call the same function using OpenJDK11 and AdoptOpenJDK11 with Hotspot, and it will return

[2021-08-26 12:16] JasonFengJ9 opened #13394 "JDK11 MacOS DaaLoadTest_daa2_5m_1_FAILED - Segmentation error vmState=0x00000000 : Compiled_method=java/util/TimSort.sort([Ljava/lang/Object;IILjava/util/Comparator;[Ljava/lang/Object;II)V"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.system_x86-64_mac_Nightly/78/tapResults/
[code]
[Re-run the Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=x86-64_mac&TARGET=DaaLoadTest_daa2_5m_1)

Optional info
-------------

Failure output (captured from conso

[2021-08-26 18:30] tajila opened #13396 "ValueTypes: Add acmpne jit runtime helper"
Currently the JIT uses the jitAcmpHelper to perform object equality and inequality comparisons.  For symmetry we are adding a `jitAcmpNEHelper` to test for inequality.  This would avoid the JIT having to either negate the result of jitAcmpHelper or invert the sense of any test of the result of the call.

The reason for this deals with oddities about the way the JIT assigns profiling frequencies to

[2021-08-27 09:33] knn-k opened #13401 "SEGV in JDK17 cmdLineTester_jython_3/6 on AArch64 Linux"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.functional_aarch64_linux_Personal/3/
There are two failures in cmdLineTester_jython_* for -Xjit:count=0 cases.

Optional info
-------------

The test job above was started from #13399.  The PR fixes many failures related to MethodHandle and JITHelpers_dispatchVirtual, but for the two failures with cmdLineTest

[2021-08-27 09:47] MNeuling opened #13402 "Eclipse OpenJ9 Semeru Builds for Windows contain unsigned exe files"
Since OpenJ9 builds have been offered as the IBM Semeru JVM, the Windows executables are unsigned.
As a result, the Java processes can be blocked by security solutions.

E.g. in the archive ibm-semeru-open-jre_x64_windows_8u302b08_openj9-0.27.0.zip all exe files are unsigned.

[2021-08-27 15:30] mpirvu opened #13404 "Add JITServer support for `javaVM->vmtargetOffset`"
PR https://github.com/eclipse-openj9/openj9/pull/12341 added new optimizer code that references `javaVM->vmtargetOffset` directly and this breaks JITServer functionality.
We need to add a frontend method to access this javaVM field. If the field remains constant throughout the JVM life, we could cache its value in the client session cache.

[2021-08-28 16:48] 1a2s3d4f1 opened #13409 "[Minecraft/Fabric mods]Balanced gc is slowed 2x than gencon"
Java -version output
--------------------

[code]

Summary of problem
------------------

Balanced gc is 20% than gencon or G1GC at the game(MC version 1.17.1 fabric loader) loading stage.
A big resource file(50MB)mod might cause loader resources slow. but balanced gc is much slower than gencon or G1GC.

Diagnostic files
----------------
gencon:
[code]
balanced gc:
[code]
hotspot g1gc:
[code]

[ve

[2021-08-29 05:45] 687988 commented on #6525
Good

[2021-08-30 13:00] JasonFengJ9 commented on #13129
Closing as per comment above.

[2021-08-30 13:00] #13129 closed

[2021-08-30 13:01] JasonFengJ9 commented on #13305
Latest occurrence at https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/8/consoleFull

[code]

[2021-08-30 13:07] JasonFengJ9 opened #13410 "JDK17 0.28 M1 ParallelStreamsLoadTest_special_J9_27_FAILED - Segmentation error vmState=0x00000000 - Compiled_method=java/util/TimSort.binarySort([Ljava/lang/Object;IIILjava/util/Comparator;)V"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_x86-64_mac_Release/2/tapResults/ (`osx1011-x86-2`)
[code]
[Re-run the Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=x86-64_mac&TARGET=ParallelStreamsLoadTest_special_J9_27)

Optional info
-------------

F

[2021-08-30 13:12] JasonFengJ9 commented on #13126
A similar failure at JDK17 0.28 M1 build https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64le_linux_Release/2/tapResults/
[code]

[2021-08-30 13:20] JasonFengJ9 opened #13411 "JDK17 0.28 M1 DaaLoadTest_daa1_special_5m_8_FAILED : Segmentation error vmState=0x000501ff - Method_being_compiled=net/openj9/test/decimals/TestDecimalData2.testConvertBigDecimalExceptions()V"
Failure link
------------

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_x86-64_windows_Release/2/tapResults/
[code]
[Re-run the Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=x86-64_windows&TARGET=DaaLoadTest_daa1_special_5m_8)

Optional info
-------------

Failure output (cap

[2021-08-30 13:24] JasonFengJ9 commented on #8493
Another occurrence at JDK17 0.28 M1 build https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64_windows_Release/2/tapResults/
[code]

[2021-08-30 13:34] dmitripivkine commented on #13409
Thank you for reporting this. We know about lower performance for Balanced in general (particularly in the case large arrays need to be maintained). We are actively working on improvement. I would expect significant Balance performance boost before end of this year (may be as an experimental feature for beginning). The data provided by you is extremely useful in this regard.
@amicic @LinHu2016 @jo

[2021-08-30 14:13] JasonFengJ9 commented on #13175
Closing as per comment above.

[2021-08-30 14:14] JasonFengJ9 commented on #13179
Closing it as per comment above for now. (can re-open if it appears again)

[2021-08-30 14:35] laurit opened #13414 "j9bcu(j9vm).128 - * ** ASSERTION FAILED ** at ../../../../../openj9/runtime/bcutil/dynload.c:398: ((0 ))"
Following crash was observed in ci build of [open-telemetry/opentelemetry-java-instrumentation](https://github.com/open-telemetry/opentelemetry-java-instrumentation) javaagent. If it helps, thread `Test worker` just called `Instrumentation.appendToBootstrapClassLoaderSearch`.
[javacore.20210830.050353.3783.0002.txt](https://github.com/eclipse-openj9/openj9/files/7077434/javacore.20210830.050353.37

[2021-08-30 15:08] #12494 closed

[2021-08-30 15:18] #11884 closed

[2021-08-30 16:39] dmitripivkine commented on #13349
<img width="1115" alt="Screen Shot 2021-08-30 at 12 23 55 PM" src="https://user-images.githubusercontent.com/18148831/131373140-e8f6f82f-2c2e-49ae-9b4d-19c2886026d8.png">

There is one observation related to Phantom References in the system. Peak number of them is growing with the time obviously while clearing rate stays flat. This is not direct accumulation but some peaks like in example below:
[

[2021-08-30 16:40] dmitripivkine commented on #13349
Also would you please disable Concurrent Scavenger to check the problem CS specific?

[2021-08-30 17:30] keithc-ca commented on #12073
Changing the test didn't fix this. However, a small change to `ForkJoinPool` does.

The field `ctl` holds four 16-bit sub-fields. The `rc` sub-field (sometimes called `ac`) uses the 16 most-significant bits and when negative indicates a transient state that is ignored in other contexts (e.g. `getActiveThreadCount()`, `signalWork()` and `toString()`), but not in `getSurplusQueuedTaskCount()`.

Chan

[2021-08-30 17:35] keithc-ca commented on #12073
For the record, without the proposed fix, these 15x grinders
* https://openj9-jenkins.osuosl.org/job/Grinder/187
* https://openj9-jenkins.osuosl.org/job/Grinder/188

failed a total of 16/30 times, while with the fix, local testing passed 12/12 times.

[2021-08-30 17:59] mikezhang1234567890 commented on #12719
Looks to be an issue with how OpenJ9 is setting the protections on Ubuntu 20 on Z. The file isn't being updated even after we change the protections back to writeable and writing to the mmap'd memory. Setting the protections and writing using the Linux functions directly (`mprotect`) seems to be fine.

[2021-08-30 18:31] AdamBrousseau commented on #13402
Thanks, @MNeuling for spotting this and opening the issue. It seems that the Windows jre's missed getting signed. The jdk package appears to be fine. I will rectify this for the next release.

[2021-08-30 22:56] mikezhang1234567890 commented on #12719
Never mind, it does fail using native functions on s390x Ubuntu 20.04.

If you have something like the below, which is similar to j9mmap_test9:
[code]
the second write will not actually update the file being mapped.

However, if you add a read while the pointer is read-only, or a write before it is read-only, the last write will work:
[code]
In this case, the file will be updated with the contents

[2021-08-30 23:39] smlambert commented on #12073
To see if this is reproducible with a different VM, trying with 20x for jdk17 hotspot in a Grinder here:
https://ci.adoptopenjdk.net/job/Grinder/1320/tapResults/

All pass.  Given this is intermittent, I will kick off another round for more iterations.  Will also run with ConcurrentLoadTest_5m, instead of ConcurrentLoadTest_5m_0, in case its happening in one mode vs the other.

[2021-08-31 02:35] Akira1Saitoh commented on #13401
Looks like `negw` instruction below is incorrect. It is a 64bit operation, so it must be `negx`.
Since `negw` clears upper 32bit, the value in `x9` was `0xffffff50` which must be `0xffffffffffffff50`.

[code]

[2021-08-31 06:38] #13401 closed

[2021-08-31 13:29] ZainabF92 commented on #12896
PR [ibmruntimes/openj9-openjdk-jdk17#26](https://github.com/ibmruntimes/openj9-openjdk-jdk17/pull/26) fixes this issue

[2021-08-31 13:56] BradleyWood commented on #12759
@tajila Sorry I missed your comment. eclipse/omr#6132 is the only remaining PR, I suppose it is ready for review.

[2021-08-31 14:28] onlynishant commented on #13349
@dmitripivkine I have tried without `concurrentScavenger` and the mean gc pause time has increased however it is consistent over time. I still see Peak Phantom References is increasing over time.

Latest GC log:
https://drive.google.com/file/d/18CS8x73MggMx1-sUyU-zc71vGk8K0Ffw/view?usp=sharing

[2021-08-31 14:43] DanHeidinga commented on #13414
fyi @tajila to assign out

[2021-08-31 14:44] DanHeidinga commented on #13389
fyi @keithc-ca

[2021-08-31 14:54] keithc-ca commented on #13389
The behavior is consistent with the specification at [1]:

[1] https://docs.oracle.com/en/java/javase/11/docs/api/jdk.management/com/sun/management/OperatingSystemMXBean.html#getProcessCpuLoad()

[2021-08-31 14:59] tajila commented on #13414
@hangshao0 can you please take a look at this

[2021-08-31 15:06] Sidong-Wei commented on #13389
@keithc-ca Thanks for your reply, yeah I understand that the negative return value is allowed, and also we know the first call probably could not retrieve the correct recent cpu usage, so the behavior is expected.
I guess my point is that since we already know the first call will always return -1 which is not implying any potential issue with the system, could we sort of differentiating the negati

[2021-08-31 15:39] vij-singh commented on #13127
@zl-wang  FYI

[2021-08-31 15:51] vij-singh commented on #13367
@rmnattas  What's the next step or action for this issue?

[2021-08-31 15:51] keithc-ca commented on #13389
@Sidong-Wei It's not clear to me whether you're suggesting changes to your application (ignore the first -1 returned), or suggesting that OpenJ9 return 0 instead of -1 from the first call. The latter does seem reasonable to me, but we'll have to consider existing use cases (and tests) that might be affected by such a change.

[2021-08-31 15:51] dmitripivkine commented on #13349
Thank you.

I don't think peak Phantom References might be GC related issue (at least directly) - as you see GC seems clearing Phantom References properly, there is no accumulation observed. However around peak time references can not be cleared (stay alive I guess) for a while before processing returns back to normal. I would expect there is some Application behaviour here. It is not clear why we

[2021-08-31 16:04] mpirvu opened #13421 "Multiple test failures with JITServer and Java17"
After PR #12341 has been merged, many JITServer tests have started failing/crashing with Java17.
Here's a list:
[code]
Initial scan of the PR mentioned above showed that we need JITServer support for `javaVM->vmtargetOffset` (which is covered by PR #13420).
However, this did not fix the test failures.

[2021-08-31 16:08] hangshao0 commented on #13414
I see javacore file here only, which has limited information. It it better to have system core file and snap trace file.

[2021-08-31 16:21] dmitry-ten commented on #13421
So far, I narrowed down the failures to `J9::RecognizedCallTransformer::process_java_lang_invoke_MethodHandle_invokeBasic`.
If the call to this transformer routine is disabled, the failures go away. However, I do not see any problems with the function other than using `vm->vmtargetOffset`fixing which doesn't solve the problem.

I'm currently trying to determine which call from the compiled code le

[2021-08-31 16:31] tajila commented on #10026
@EricYangIBM Start with this approach

[2021-08-31 17:34] rmnattas commented on #13367
The core indicates that the argument passed to `java/lang/String.split(Ljava/lang/String;)[Ljava/lang/String;` is null, causing a segfault when performing a load. Which could be a non-JIT issue.
My thought on the next step is talking to @llxia to see if I can run the agent locally, maybe on one of the jenkins machines, to investigate and try different options on the agent JVM itself.

[2021-08-31 18:45] #13137 closed

[2021-08-31 18:46] EricYangIBM commented on #10026
To clarify, the byte array should be allocated with more space to store the current class pointer and returned, then in `getAnnotationCache()` we get the pointer from the array and pass the `annotationsData` (without the pointer), `getConstantPool(class)`, and the class to `parseAnnotations`?

[2021-08-31 19:12] tajila commented on #10026
This is the byte array that needs to return annotation data + j9class pointer `private native byte[] getDeclaredAnnotationsData();`

In `getAnnotationCache()` we get the pointer from the array and use it to fetch the correct `constantPool`, the `constantPool` is passed into `parseAnnotations`

[2021-08-31 20:41] Sidong-Wei commented on #13389
@keithc-ca Yeah I also prefer the latter option a bit more. Changes to the application would definitely work and it could be a workaround for the issue, but I think if it could be resolved at the source then it would be easier for downstream applications to just monitor negative returns normally.
If you would like to take this latter option into consideration, that will be good enough for me now,

[2021-08-31 21:11] a0304 commented on #13269
Hi @JasonFengJ9, I have shared a .zip file in a Box dir containing the necessary .so file and the Java code files to reproduce this crash in a standalone program.
The .zip file contains a 'libs'  dir which has a copy of the libsvml.so file from the latest Intel 19 U5 Fortran compiler. Please use this .so and set the LD_LIBRARY_PATH to only this dir.

- With this setting, you can successfully load

[2021-08-31 21:31] smlambert commented on #12073
https://ci.adoptopenjdk.net/job/Grinder/1321/ launched for more iterations.

[2021-08-31 21:32] dmitripivkine commented on #13349
Would you please provide `java -version` you are running?

[2021-08-31 22:40] a7ehuo opened #13423 "TR_J9VMBase::getClassSignature* does not print value type signature correctly"
`TR_J9VMBase::getClassSignature*` assumes component class is an identity type and prefix `L` to the class name for the class signature. The component class can be value types and their signature should be prefixed with `Q` .  There might be other places in the code that check `L` when it should be checking or adding `Q`.
https://github.com/eclipse-openj9/openj9/blob/cfa425a6f993fd950f271c57e891cc8

[2021-08-31 22:40] a7ehuo commented on #13423
@hzongaro fyi

[2021-09-01 03:24] onlynishant commented on #13349
[code]
We are using our java process under supervisor. The last gc log was using `jemalloc`.
`command=/usr/java/jdk-11.0.9+11/bin/java -server - ...`

[2021-09-01 03:46] onlynishant commented on #13349
@dmitripivkine  **Update** on yesterday's log without `concurrentScavenger`.

I can see that pause time has started to increase.

FYI the process is still running without `concurrentScavenger`

Updated gc log
https://drive.google.com/file/d/1qYJw4pph0ankgRclYTQ_p0rJ0j_7iJNA/view?usp=sharing

I am also adding a memory snapshot of the java dump that I took last week after running the process for 40

[2021-09-01 06:24] midronij commented on #13368
I've tried to reproduce this in the runtimes grinder (https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/17818/console), but I haven't seen this error so far. The test either passes, or I get something similar to what happened here (https://github.com/eclipse-openj9/openj9/issues/13367#issuecomment-907274407):

[code]

[2021-09-01 11:54] JasonFengJ9 commented on #12073
Thanks @smlambert, similar failure was reproduced at RI [1].
[code]

So this is a common issue for RI and OpenJ9, and it appears an OpenJDK bug.
Removing it from 0.28 release.

[1] https://ci.adoptopenjdk.net/job/Grinder_iteration_1/48/tapResults/

[2021-09-01 11:59] laurit commented on #13414
I create a reproducer https://github.com/laurit/openj9-crash which hopefully crashes in a couple of minutes.

[2021-09-01 12:32] hzongaro commented on #12237
Lawrence @lawqup, are you still looking at this issue?  Perhaps we could help you to get your changes through to delivery.

[2021-09-01 12:34] hzongaro commented on #13423
You're right - and there was some old prototype code that took care of some of those places, but it's needs some close examination and updating.  It's described in issue #12237.

[2021-09-01 12:36] JasonFengJ9 commented on #8972
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_s390x_linux_Nightly/86/tapResults/
[code]

[2021-09-01 12:44] keithc-ca commented on #12073
I'll add my thanks to @smlambert for running the extra testing: It's an important piece of data that the same behavior is observed in the RI.

Hopefully a fix will soon be available upstream.

@JasonFengJ9 I think we should include my proposed fix for this in the 0.28.0 release. Why do you (apparently) disagree? This wouldn't be the first instance where fixed things in advance of an upstream fix.

[2021-09-01 13:17] JasonFengJ9 commented on #12073
Not disagree to include it in the `0.28` if the PR is ready to go.

The OpenJDK code in question are across Java levels and not a regression introduced recently, I think there is no immediate need to fix it in current release if the time is tight to develop/verify a fix.
Alternatively the sub-test can be excluded for better triage.
For such tracking purpose, adding it back to the milestone.

[2021-09-01 13:42] llxia commented on #13367
Please see [wiki](https://github.com/eclipse-openj9/openj9/wiki/Reproducing-Test-Failures-Locally#run-specific-test-class-from-openjdk-tests-on-jdk11-linux-s390x-openj9-sdk) for running the openjdk tests locally. `EXTRA_OPTIONS ` and `JVM_OPTIONS ` can be used for testing different jvm options.

Also, in case you want to know, openjdk17 test build uses jtreg 6.1 https://openj9-jenkins.osuosl.org/j

[2021-09-01 15:30] #13010 closed

[2021-09-01 15:52] jdmpapin commented on #1124
This was implemented in #2344

[2021-09-01 15:52] #1124 closed

[2021-09-01 15:59] #13206 closed

[2021-09-01 17:11] #13260 closed

[2021-09-01 19:04] JasonFengJ9 commented on #13269
@a0304 got couple of questions:
1. Tried OpenJ9 JDK11, it does work successfully w/ `java OPTLoad`, and segmentation fault (core dumped) w/ `java OPTLoadInThread`. The native stack trace appears like
[code]
Does this resemble the native stack in your environment?

2. Also tried hotspot but failed w/ `UnsatisfiedLinkError`
[code]
Are these error expected?

[2021-09-01 20:40] rmnattas commented on #11900
This failure was faced while testing P10 but thought to be a setup related and it passed in Grinder_new afterward. See GHE `runtimes/openj9-jit-power/issues/288`. It could be that it got less reproducible with the setup fix and Grinder_new.

[2021-09-01 21:55] JasonFengJ9 commented on #13096
Another similar `Segmentation error vmState=0x000501ff` at `Test_openjdk17_j9_extended.openjdk_aarch64_linux/12/`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=ibm&BUILD_LIST=openjdk&PLATFORM=aarch64_linux&TARGET=jdk_vector_0)

[2021-09-02 00:41] knn-k opened #13429 "AArch64: Update Dockerfile for cross build"
Dockerfile for AArch64 cross build needs to be updated.
Ubuntu 16.04 LTS is no longer supported.

https://github.com/eclipse-openj9/openj9/blob/c0440c463edf7afbaf36e08c5771507b63ed380e/buildenv/docker/aarch64-linux_CC/Dockerfile#L25

[2021-09-02 09:09] Akira1Saitoh commented on #13096
The backtrace from the coredump in the failure https://github.com/eclipse-openj9/openj9/issues/13096#issuecomment-910809270 is:
[code]

The failing instruction is ` ldrb    w1, [x1, w0, sxtw]`.
[code]

x1 contains the address of `_InterpreterEmulatorFlags`, w0 is _bcIndex.

Looks like this is an out of bounds access to `_InterpreterEmulatorFlags`.

[2021-09-02 09:13] Akira1Saitoh commented on #13096
`_InterpreterEmulatorFlags`'s length is `_maxByteCodeIndex` + 5.
https://github.com/eclipse-openj9/openj9/blob/c0440c463edf7afbaf36e08c5771507b63ed380e/runtime/compiler/optimizer/J9EstimateCodeSize.cpp#L1151-L1156
https://github.com/eclipse-openj9/openj9/blob/c0440c463edf7afbaf36e08c5771507b63ed380e/runtime/compiler/optimizer/J9EstimateCodeSize.cpp#L1332
https://github.com/eclipse-openj9/openj9/bl

[2021-09-02 11:27] JasonFengJ9 commented on #10489
A similar `Segmentation error vmState=0x00020002` at https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_ppc64_aix_Nightly/85/tapResults/
[code]

[2021-09-02 11:48] JasonFengJ9 commented on #13179
A similar segmentation error is observed at latest JDK16 build  `Test_openjdk16_j9_special.system_aarch64_linux_testList_4/44/tapResults/`
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=ibm&BUILD_LIST=system&PLATFORM=aarch64_linux&TARGET=MathLoadTest_all_special_5m_6)

Re-opening..
fyi @nbhuiyan

[2021-09-02 12:08] JasonFengJ9 opened #13430 "JDK17 M1 aarch64_linux jsr292Test_JitCount0_0 Assertion failed at compiler/aarch64/codegen/ARM64PrivateLinkage.cpp:1499: offset < 0 - VMState: 0x0005ff04"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.functional_aarch64_linux_Personal/6/tapResults/`:
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=functional&PLATFORM=aarch64_linux&TARGET=jsr292Test_JitCount0_0)

Optional info
-------------

Failure output (capt

[2021-09-02 12:20] JasonFengJ9 opened #13431 "JDK17 M1 aarch64_linux DaaLoadTest segmentation error"
Failure link
------------

From an internal build `Test_openjdk17_j9_special.system_aarch64_linux_Personal/6/tapResults/`:
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=system&PLATFORM=aarch64_linux&TARGET=MathLoadTest_bigdecimal_special_5m_4)

Optional info
-------------

Failure output

[2021-09-02 12:43] knn-k commented on #13431
FYI.  @Akira1Saitoh

[2021-09-02 12:44] knn-k commented on #13430
FYI. @Akira1Saitoh

[2021-09-02 13:26] JavaTailor opened #13432 "J9 failed to throw IncompatibleClassChangeError on JDK 1.8.0"
### Summary of problem
Given the same test program, J9 behaves inconsistently between J9(1.8.0_282-b08),  J9(11.0.11) and J9(16.0.2) is inconsistent. The simplified test program can be found in the attachment. In particular,  J9(11.0.11) and J9(16.0.2) throw IncompatibleClassChangeError, while J9(1.8.0_282-b08) executes normally.

### How to reproduce?
[Test.zip](https://github.com/eclipse-openj9/

[2021-09-02 13:27] JavaTailor opened #13433 "J9 failed to throw IncompatibleClassChangeError on JDK 1.8.0"
### Summary of problem
Given the same test program, J9 behaves inconsistently between J9(1.8.0_282-b08),  J9(11.0.11) and J9(16.0.2). The simplified test program can be found in the attachment. In particular,  J9(11.0.11) and J9(16.0.2) throw IncompatibleClassChangeError, while J9(1.8.0_282-b08) executes normally.

### How to reproduce?
[Test.zip](https://github.com/eclipse-openj9/openj9/files/709

[2021-09-02 13:45] JavaTailor opened #13434 "hotspot(8u292 ,11.0.10) throws ClassFormatError; while J9(1.8.0_282, 11.0.11) executes normally"
### Summary of problem
Given the same test program, hotspot(8u292 ,11.0.10) throws ClassFormatError, while J9(1.8.0_282,  11.0.11)  executes normally.
The expected output should be:
[code]

### How to reproduce?
Test program:
[code]

### Affected versions
Windows 10:
[code]
Java -version output under Windows 10
[code]

[code]

[2021-09-02 13:59] JasonFengJ9 commented on #13434
fyi @ChengJin01

[2021-09-02 14:18] knn-k commented on #13430
[code]

The build contains the latest fix for AArch64 https://github.com/eclipse-openj9/openj9-omr/pull/116

[2021-09-02 15:16] jdmpapin commented on #13126
About `__cxa_throw()` calling `std::terminate()`, there is apparently [nothing we can do to guarantee that it won't happen](https://stackoverflow.com/questions/45497684/what-happens-if-throw-fails-to-allocate-memory-for-exception-object). However, we can avoid the allocation that triggered it in this case, which is trying to add a memory segment to a free list, i.e. it's ironically trying to free

[2021-09-02 16:18] a0304 commented on #13269
@JasonFengJ9, Yes, i did see a similar native stack track. And yes the version that i earlier supplied does fail in my Hotspot set up too. That is because I had missed including the libintlc.so.5 file in the test libs dir (apologies for the mess up). This is a necessary reference file and this file too is also delivered by the fortran compiler.
Please ignore the old dir that i had shared.

I have

[2021-09-02 17:46] Mesbah-Alam commented on #11900
LambdaLoadTest failed again on a different Jenkins Grinder run using `IBM Semeru Certified 11.0.12.1` on the same pLinux Power10 machine. We ran this grinder with extra option: `-XX:+PortableSharedCache`. This time the test failed on Mode688.

https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/17848/tapResults/

variation: Mode688
JVM_OPTIONS:  -Xcompressedrefs -Xjit:count=0 -Xgcpolicy:gencon

[2021-09-02 18:28] jdmpapin commented on #13126
I've opened eclipse/omr#6169 with the dummy resolved method symref sharing fix

[2021-09-02 20:52] ChengJin01 commented on #13434
It turns out the illegal character `{` or `}` needs to captured when detected in a class name during the static verification. I've created a fix at https://github.com/ChengJin01/openj9/commit/7cb79aa88fea2dd53a0e01d4ed6e69c91c227758
[code]

which works good as expected:
[code]
Will need to run open source & internal builds to ensure there is no test suite broken by the fix as the code is shared fo

[2021-09-02 22:02] ChengJin01 commented on #13433
Looking at the bytecode of the test above:
[code]
against on Java8, 11, 16 (OpenJ9 & Hotspot) as follows:
[1] **OpenJ9**
[code]
[2] **Hotspot**
$ /jdk1.8.0_271_hotspot/bin/java  -cp  .  Test
Failure

$ jdk11.0.9_hotspot/bin/java  -cp  .  Test
Exception in thread "main" java.lang.IncompatibleClassChangeError:
Method A.get()Ljava/lang/String; must be InterfaceMethodref constant
	at Test.main(Test.ja

[2021-09-02 22:07] ChengJin01 commented on #13433
Hi @JavaTailor,  please contact Oracle to see whether it is reasonable/required to capture the error on Java 8 against the VM Spec given OpenJ9 ends up with the same test results as Hotspot in which case I don't think there is anything abnormal at this point.

[2021-09-03 00:06] ChengJin01 commented on #13434
Debugging shows the error was captured in `resolveStaticMethodRefInto` on Java 11 as follows
[code]

against the code involved is at `resolveStaticMethodRefInto` in /runtime/vm/resolvesupport.cpp
[code]
So the code above (introduced via https://github.com/eclipse-openj9/openj9/pull/1167 to support `CFR_CONSTANT_Methodref` and `CFR_CONSTANT_InterfaceMethodref` in the constantpool since Java 9) was

[2021-09-03 00:09] ChengJin01 commented on #13433
Debugging shows the error was captured in resolveStaticMethodRefInto on Java 11 as follows
[code]
against the code involved is in resolveStaticMethodRefInto at /runtime/vm/resolvesupport.cpp
[code]
So the code above (introduced via #1167 to support CFR_CONSTANT_Methodref and CFR_CONSTANT_InterfaceMethodref in the constantpool since Java 9) was disabled intentionally on Java 8 via #1752 to avoid br

[2021-09-03 02:33] DanHeidinga commented on #13434
I think this is the cause - the class file version is pre-Java 5.  If you change the `48` to `49` or greater, the behaviour of the two jvms should be identical.

Assuming I'm correct - this is an area where Hotspot has some legacy behaviour we don't want to match.

[2021-09-03 05:09] ChengJin01 commented on #13434
Just verified with two versions (`48` and `49`):
[code]
It seems the error was only captured on Hotspot when the class version < `49` which we shouldn't match the characters are not identified as illegal for class name in the VM Spec.

[2021-09-03 05:14] ChengJin01 commented on #13434
Hi @JavaTailor,  as explained above, this is something to be fixed by OpenJDK/Hotspot to follow the VM Spec, in which case there is nothing wrong in OpenJ9.

[2021-09-03 05:26] JavaTailor commented on #13434
@DanHeidinga @ChengJin01
Thanks for your reply!
It seems that both openj9 and hotspot have some problems. We set the version from 0-200000, the results are inconsistent. Could you please take a look?
We will report this issue to hotspot too.

[code]

[2021-09-03 11:42] JasonFengJ9 commented on #13126
`Segmentation error vmState=0x00000000` occurred at a similar test `TestJlmRemoteClassAuth_0` [1]

[code]

[1] https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64le_linux_Nightly/13/tapResults/

[2021-09-03 11:49] JasonFengJ9 commented on #13367
An occurrence at https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/12/consoleFull
[code]

[2021-09-03 12:50] JasonFengJ9 commented on #13305
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/12/consoleFull
[code]

[2021-09-03 13:21] DanHeidinga commented on #13434
Valid classfile version are from 41->61 [1] when running on a Java 17 VM.  Anything outside that range should be rejected

That would be a good idea.  I expect that the OpenJDK community won't change the behaviour as it may break legacy applications.

Is there a particular issue you're running into with your application caused by this behaviour?

[1] https://en.wikipedia.org/wiki/Java_class_file

[2021-09-03 15:25] Wood-Xia commented on #1876
I also strongly support to reopen this discussion.
When we switch from OpenJDK to OpenJ9, we are happy with its low memory footprint.
Well, when we are looking for some profiling tool as JFR which is cool, we are  a little disappointed....

[2021-09-03 17:44] jdmpapin commented on #13126
@JasonFengJ9, can you open a separate issue for that latest crash? All of the other crashes here are during compilation with vmState=0x00050080

[2021-09-03 17:56] JasonFengJ9 commented on #13410
`TestJlmRemoteClassAuth_0` failed w/  `Segmentation error vmState=0x00000000` at `Compiled_method=net/adoptopenjdk/stf/environment/properties/OrderedProperties.getProperty(Ljava/lang/String;)Ljava/lang/String;` [1]
A separated issue can be raised if they are determined not same problem.

[code]

[1] https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_ppc64le_linux_Nightly/13/tapR

[2021-09-03 18:01] JasonFengJ9 commented on #13126
Good catch, associated the failure in question to https://github.com/eclipse-openj9/openj9/issues/13410 instead.

[2021-09-04 09:08] JavaTailor commented on #13434
@DanHeidinga Thanks for your reply!
We currently have no further questions, thank you!

[2021-09-04 12:29] JasonFengJ9 commented on #13411
`Test_openjdk17_j9_extended.openjdk_x86-64_linux/16/tapResults/`
[code]

[2021-09-04 12:50] #13434 closed

[2021-09-06 01:22] Akira1Saitoh commented on #13430
It is an assertion about offset of virtual call method symbol.
https://github.com/eclipse-openj9/openj9/blob/b4f9d6e992f9eb093da5918b36a035a059eaca16/runtime/compiler/aarch64/codegen/ARM64PrivateLinkage.cpp#L1496-L1499

When the crash occurs, offset is 376.
[code]

[2021-09-06 02:50] Akira1Saitoh commented on #13430
Hello @nbhuiyan , can you please take a look at this one?
It's failing on a virtual method call with offset +376. @0xdaryl suggested checking with you.

Reproduced on internal Grinder `job/Grinder/17914/`.

[2021-09-06 06:33] Akira1Saitoh commented on #13431
The crash in `DaaLoadTest_all_special_5m_4` was caused by incorrect branch target to StackCheckFailureSnippet.

[code]

This method is larger than 1MB, which is beyond the address range of a conditional branch instruction.
A similar crash was seen before and we fixed it by
https://github.com/eclipse/omr/pull/5819. However, the fix does not count bytes consumed by snippets.
In this case, the code i

[2021-09-06 08:11] Akira1Saitoh commented on #13431
Both `MathLoadTest_bigdecimal_special_5m_4` and `MathLoadTest_bigdecimal_special_5m_6` are the same problem.
The crash occurs inside `OMR::CodeCache::replaceTrampoline`, the lookup of `CodeCacheHashEntry` from `_resolvedMethodHT` fails, `entry` becomes NULL and accessing it triggers SEGV.
[code]
https://github.com/eclipse/omr/blob/2fcb6ec8a0c07d2b520502cde0ef366cfb5c8475/compiler/runtime/OMRCodeCa

[2021-09-06 08:15] Akira1Saitoh commented on #13431
@JasonFengJ9 Can you please open a new issue for crashes in `MathLoadTest_bigdecimal_special_5m_4` and `MathLoadTest_bigdecimal_special_5m_6`?
The root cause of them are different from `DaaLoadTest_all_special_5m_4`.

[2021-09-07 02:42] dmitry-ten opened #13448 "JITServer build failures on S390"
PR https://github.com/eclipse/omr/pull/6108 enabled warnings as errors for S390. This is now causing all JITServer builds on that platform to fail.
The error message comes from here:
[code]

It's unclear why this error shows only in JITServer builds since the code is unrelated, but probably has to do with some file being included in JITServer that's not included otherwise.

@fjeremic suggested tha

[2021-09-07 05:59] knn-k commented on #11851
The workaround introduced by https://github.com/eclipse/omr/pull/5819 was replaced by https://github.com/eclipse/omr/pull/6171 .

[2021-09-07 12:04] pshipton opened #13450 "JIT crash building vmState=0x000522ff"
https://openj9-jenkins.osuosl.org/job/Build_JDK11_x86-64_windows_OpenJDK11/10

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK11_x86-64_windows_OpenJDK11/10/Build_JDK11_x86-64_windows_OpenJDK11-10-20210831-225113-diagnostics.tar.gz
[code]

[2021-09-07 12:17] pshipton commented on #13450
vmState [0x522ff]: {J9VMSTATE_JIT} {tacticalGlobalRegisterAllocator}

[2021-09-07 13:05] llxia opened #13451 "JDK11 0.27.1 Cannot run -Xgcpolicy:metronome -Xnocompressedrefs on AIX power10"
This only happens on AIX power10 (p10aix009.rtp.raleigh.ibm.com). It affects tests that run with ` -Xgcpolicy:metronome` mode. The same mode works on other AIX. Internal job `cmd_test/213`

[code]

Tried with java -version. Internal job `cmd_test/218`:
[code]

[2021-09-07 13:09] pshipton commented on #13451
@dmitripivkine @zl-wang fyi

[2021-09-07 13:10] JasonFengJ9 opened #13452 "aarch64_linux MathLoadTest Segmentation error vmState=0x00000000"
@JasonFengJ9 Can you please open a new issue for crashes in `MathLoadTest_bigdecimal_special_5m_4` and `MathLoadTest_bigdecimal_special_5m_6`?
The root cause of them are different from `DaaLoadTest_all_special_5m_4`.

_Originally posted by @Akira1Saitoh in https://github.com/eclipse-openj9/openj9/issues/13431#issuecomment-913444462_

Failure link
------------

From an internal build `Test_openjdk1

[2021-09-07 13:12] 0xdaryl commented on #13450
@a7ehuo : could you investigate this GRA crash please?

[2021-09-07 13:13] JasonFengJ9 commented on #13431
The root cause of them are different from DaaLoadTest_all_special_5m_4.

Sure, created https://github.com/eclipse-openj9/openj9/issues/13452

[2021-09-07 13:13] zl-wang commented on #13451
it could simply be that some OS capability needs to be enabled (e.g.  high-precision clock).

[2021-09-07 13:13] 0xdaryl commented on #13450
This may be related to MH's, however, due to the presence of `Java_java_lang_invoke_MutableCallSite_invalidate` in the call stack.  But please triage why it is crashing in GRA.

[2021-09-07 13:13] llxia opened #13453 "JDK11 0.27.1 ClassLoadingTest_special_5m_20 j9mm.107 ASSERTION FAILED"
This was detected on AIX power10 (p10aix009.rtp.raleigh.ibm.com). Internal job `cmd_test/213`

[code]

[2021-09-07 13:16] llxia commented on #13453
FYI @pshipton @zl-wang

[2021-09-07 13:17] DanHeidinga commented on #13433
Cheng's analysis looks correct to me.  The JVM spec didn't change until later to require this behaviour so we shouldn't change it for Java 8 as that has been in production use for many years.

Closing as I believe openj9 has the correct behaviour here.

[2021-09-07 13:17] #13433 closed

[2021-09-07 13:34] fjeremic commented on #12061
Given the above comments I think we can close this off as fixed by #12213?

[2021-09-07 13:37] tajila commented on #12061
@andrew-m-leonard ^^

[2021-09-07 13:40] Akira1Saitoh commented on #13096
Hello @jdmpapin , Can you give me some insight about this issue (JDK17 crash)? @0xdaryl  suggested checking with you.
The reason of the crash is an out of bounds access to `_InterpreterEmulatorFlags` at `InterpreterEmulator::findNextByteCodeToVisit`.
`_InterpreterEmulatorFlags`’s length is `_maxByteCodeIndex` + 5, but `_bcIndex` is set to `_maxByteCodeIndex` + 8, which is a possible return value o

[2021-09-07 13:59] llxia opened #13454 "JDK11 0.27.1 ClassLoadingTest_special_5m_5 Unhandled exception"
This happens on AIX power10 (p10aix009.rtp.raleigh.ibm.com). Internal job `cmd_test/213`

[code]

[2021-09-07 14:01] pshipton commented on #13453
@dmitripivkine fyi

[2021-09-07 14:02] pshipton commented on #13454
@zl-wang fyi

[2021-09-07 14:05] dmitripivkine commented on #13453
@llxia I am looking to failed job and don't see link to artefacts. Do we have stored results for this failure?

[2021-09-07 14:06] JasonFengJ9 opened #13455 "JDK17 jdk_text_1_FAILED - java/text/Format/DateFormat/SDFTCKZoneNamesTest.java"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.openjdk_s390x_linux/17/consoleFull` (`rhel7s390x-4-5`):
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=ibm&BUILD_LIST=openjdk&PLATFORM=s390x_linux&TARGET=jdk_text_1)

Optional info
-------------

Failure output (captured from conso

[2021-09-07 14:07] dmitripivkine commented on #13453
Adding JIT label as well for visibility. This is assertion is Marking, so most likely heap consistency problem

[2021-09-07 14:13] dmitripivkine commented on #13454
There is crash in Scavenger as well in StackSlotIterater. Likely the same problem as https://github.com/eclipse-openj9/openj9/issues/13453

[2021-09-07 14:20] llxia commented on #13453
p10aix009.rtp.raleigh.ibm.com is not configured properly so we cannot run the test pipeline. We used it for testing 0.27.1 temporarily as it is the only p10 that we have so far. Artifacts are on the p10aix009. I will try to see if I can upload them into the Artifacory server.

[2021-09-07 14:20] JasonFengJ9 commented on #13181
Similar `LambdaLoadTest` failure is observed at JDK11 `Test_openjdk11_j9_sanity.system_aarch64_linux_testList_0/23/tapResults/`
[code]

[2021-09-07 15:05] dmitry-ten commented on #13448
Something strange. I applied #13449 and the corresponding OMR PR to the latest branch, but I'm still seeing build failures in local builds, even **without** jitserver enabled.

The error messages:
[code]

So, clearly, the format specifiers are wrong and should be replaced.
However, I do not understand, how is it possible that all non-jitserver nightly builds work without issue?
Maybe the compiled

[2021-09-07 15:09] dmitry-ten commented on #13448
I see that both jitserver and non-jitserver builds use gcc 7.5.0 so that shouldn't be it.

[2021-09-07 15:23] a7ehuo commented on #13450
The crash happened while it was generating the build. There is no java executable in https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Build_JDK11_x86-64_windows_OpenJDK11/10/Build_JDK11_x86-64_windows_OpenJDK11-10-20210831-225113-diagnostics.tar.gz

The jitdump shows the method was being compiled at `hot`. It has `170` inlined methods. The recompilation for jitdump is crashed in `global

[2021-09-07 15:29] JasonFengJ9 commented on #13452
Similar segmentation error occurred at JDK11 as well `Test_openjdk11_j9_special.system_aarch64_linux_testList_2/69/tapResults/`.
[code]

[code]

[2021-09-07 15:38] vij-singh commented on #13127
@pshipton I believe this is with the VM and not JIT. Is that also your understanding?

[2021-09-07 15:41] pshipton commented on #13127
@vij-singh it's crashing in JIT code compiling DirectMethodHandle.internalMemberName and is tagged as JIT.

[2021-09-07 15:44] pshipton commented on #13127
Shown above there is also another crash from the same test in AsTypeTest.expectedExceptionDuringCast, not sure if it's the same problem or not.

[2021-09-07 15:44] zl-wang commented on #13127
i assigned it to younes then

[2021-09-07 15:51] pshipton commented on #13127
I looked at the last few builds and didn't see any repeat, so I'm not sure if it still happens or not. I'll remove the blocker label for now.

[2021-09-07 15:53] pshipton commented on #13127
@JasonFengJ9 the crash in MethodHandlesInvokersTest is different, can you pls open a new Issues for it and set it to blocker, as this problem does still occur.

[2021-09-07 15:57] JasonFengJ9 opened #13457 "jdk_lang_1_FAILED - java/lang/invoke/MethodHandlesInvokersTest.java : Segmentation error vmState=0x00000000"
A similar segmentation error at https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_ppc64_aix_Nightly/72/consoleFull

[code]
To rebuild the failed tests in <Jenkins URL>=https://openj9-jenkins.osuosl.org/job/Grinder, use the following links:
05:53:23  https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=16&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PL

[2021-09-07 16:14] JasonFengJ9 commented on #13457
Latest occurrence at https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/15/consoleFull
[code]
[Re-run the Grinder](https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?JDK_VERSION=17&JDK_IMPL=openj9&JDK_VENDOR=eclipse&BUILD_LIST=openjdk&PLATFORM=ppc64_aix&TARGET=jdk_lang_0)

[2021-09-07 16:16] JasonFengJ9 commented on #13127
Created https://github.com/eclipse-openj9/openj9/issues/13457

[2021-09-07 16:24] jdmpapin commented on #13096
`_maxByteCodeIndex` is really the size of the bytecode, so all actual bytecode instructions have index strictly less than it. This makes "max" a misnomer, unfortunately

To see that it's the bytecode size, observe that it's [initialized here](https://github.com/eclipse/omr/blob/42e79ef2175de2bdd1c0389432c876bb43a01be0/compiler/ilgen/ByteCodeIterator.hpp#L42) and then never modified. The value is t

[2021-09-07 17:07] a7ehuo commented on #12237
I'll take a look at Charlene's changes since more issues related to missing Q type descriptor is likely to surface when we do more tests

[2021-09-07 18:05] mpirvu commented on #13421
#13425 solved this issue

[2021-09-07 18:05] #13421 closed

[2021-09-07 19:16] JamesKingdon opened #13459 "Build documentation error"
There's a small inconsistency in the build docs regarding the location of the boot jdks when using docker.

The documentation for Java 8 says:

bash configure --with-boot-jdk=/usr/lib/jvm/adoptojdk-java-80

and for Java 11:

bash configure --with-boot-jdk=/usr/lib/jvm/adoptojdk-java-11

And in each case notes:

The path in the example --with-boot-jdk= option is appropriate for the Docker installat

[2021-09-07 19:22] fengxue-IS commented on #13293
Tested with latest JDK17 Nightly, failure not seen in Nightly testing
10/10 pass on s390_linux in `Test_grinder/job/Grinder/17944/`
@JasonFengJ9 can you please confirm if this is observed in any testing, I will close this if no other occurrences.

[2021-09-07 19:23] AdamBrousseau commented on #13451
This is what is in the Ansible playbook for configuring AIX high precision clock.
https://github.com/adoptium/infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_AIX_Playbook/roles/rbac/tasks/main.yml
[code]
[code]
I believe that command just needs to be run with each of the 3 items listed. I think our AIX wiki instructions are missing this as it was added this year (feb).

I'll get Raj to r

[2021-09-07 19:25] Mesbah-Alam opened #13460 "JDK11 0.27.1 : cmdLineTester_jython tests fail on Power10 pLinux when run with -XX:+PortableSharedCache"
This happens on pLinux Power10 machine `p10rhel005` with JDK11 0.27.1  build.

Error details:

[code]

Jenkins build link with this failure: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17905/

Note: The error is *not* reproducible if `-XX:+PortableSharedCache` is not used: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17936 , e.g.:

[code]

[2021-09-07 19:28] fengxue-IS commented on #13162
Test passed with latest JDK17 Nightly build
**java/util/stream/boottest/java.base/java/util/stream/SpinedBufferTest.java**
20/20 passed x86-64_linux `Test_grinder/job/Grinder/17932/`
20/20 passed x86-64_windows `Test_grinder/job/Grinder/17937/`

**java/math/BigInteger/PrimeTest.java**
20/20 passed s390_linux `Test_grinder/job/Grinder/17938/`

Closing this issue (re-open if failure seen again)

[2021-09-07 19:31] dmitripivkine commented on #13453
@llxia  Thank you, I have files downloaded to `/team/Dmitri/13453/`

The reason for assertion is a stall pointer in the object:
[code]
This object is alive and marked:
[code]
An address `0x7FFF87480` is located in reserved part of the Nursery and contain garbage:
[code]

[2021-09-07 19:35] dmitripivkine commented on #13453
I wondering can this characters garbage to be stored in O-slot by jitted method in nearest future and lead to failures like https://github.com/eclipse-openj9/openj9/issues/13180 ?

[2021-09-07 19:38] dmitripivkine commented on #13453
@0xdaryl FYI

[2021-09-07 19:44] Mesbah-Alam opened #13462 "JDK11 0.27.1 : RuntimeAnnotationTests causes Segmentation error in Power10 pLinux"
RuntimeAnnotationTests causes Segmentation error in Power10 pLinux.

**Output details:**

[code]

**Grinder links:**

Crash reproducible 3/5 times with `-XX:+PortableSharedCache` enabled: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17946

Crash reproducible 3/5 times without `-XX:+PortableSharedCache`: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/

[2021-09-07 20:04] #13312 closed

[2021-09-07 20:19] dmitripivkine commented on #13453
Finding root path for this object
[code]
So top object is:
[code]
It is referenced from java stack of the thread `0x30555200`:
[code]
Object is referenced from pinned array from frame:
[code]

[2021-09-07 20:21] a7ehuo commented on #13423
Close this issue since the same problem is already tracked in #12237.

[2021-09-07 20:21] #13423 closed

[2021-09-07 20:35] pshipton commented on #13460
@zl-wang fyi

[2021-09-07 20:37] pshipton commented on #13462
Do you have the diagnostic files?

[2021-09-07 20:38] pshipton commented on #13462
@zl-wang fyi

[2021-09-07 20:43] Mesbah-Alam commented on #13462
Yes, https://na.artifactory.swg-devops.com/artifactory/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com/Grinder/17946/functional_test_output.tar.gz

[2021-09-07 20:58] pshipton commented on #13462
@tajila fyi

[2021-09-07 20:59] Mesbah-Alam opened #13464 "JDK11 0.27.1 : cmdLineTester_GCCheck tests fail on Power10 pLinux due to core file not found"
On Power10 pLinux, `cmdLineTester_GCCheck` fails due to  java.lang.ClassNotFoundException: org.openj9.test.nogc.Main.

Details:

[code]

Jenkins build link: https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17905/

Grinder link (reproduced 5/5 times): https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17949

Note: The issue is [not reproducible](https

[2021-09-07 21:00] pshipton commented on #13462
There is no core file in the diagnostics.

[2021-09-07 21:06] pshipton commented on #13464
Does the `/home/jenkins/workspace/Grinder/aqa-tests/TKG/../../jvmtest/functional/cmdLineTests/gcCheck/gcCheck.jar` contain the expected class?

[2021-09-07 21:07] pshipton commented on #13464
Is this specific to using `-XX:+PortableSharedCache` ?

[2021-09-07 21:09] JasonFengJ9 commented on #13293
There is another `jsr292Test_JitCount0_0` failure at `aarch64_linux` https://github.com/eclipse-openj9/openj9/issues/13430 which is not related to this issue.
No other `jsr292Test_JitCount0_0_FAILED` observed.
Closing..

[2021-09-07 21:09] #13293 closed

[2021-09-07 21:26] fengxue-IS commented on #13179
Verified **MathLoadTest_all_special_5m_1** 20/20 passed on s390_linux `Grinder/17942/`
@nbhuiyan can you confirm if the aarch64 failure is same as #13431, if so, this can be closed

[2021-09-07 21:34] fengxue-IS commented on #13167
10/10 passed on x86-64_linux
14/15 failed on ppcle_linux
I suspect this have to do with power codegen? maybe due to weak memory ordering?
@nbhuiyan can you please take a look at this

[2021-09-07 21:34] Mesbah-Alam commented on #13464
No. The same failure is reproducible on `p10rhel005` even without -XX:+PortableSharedCache option:

https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17955/console

It should, as the same test is [working fine](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/17953/console) on a different pLinux machine (not power10) where we compile the gcCheck.jar

[2021-09-07 21:39] JasonFengJ9 commented on #13179
Since this `MathLoadTest` segmentation error is only observed at `aarch64`, track it w/ #13431 instead.

Closing..

[2021-09-07 21:39] #13179 closed

[2021-09-07 21:42] Mesbah-Alam commented on #13462
I can see it :

[code]

[2021-09-07 22:16] pshipton commented on #13462
None of those is a system core file.  I believe it's a problem with the core_pattern as shown:
[code]

I found some info here https://publib.boulder.ibm.com/httpserv/cookbook/Troubleshooting-Troubleshooting_Java.html
[code]

[2021-09-07 22:21] pshipton commented on #13464
@zl-wang fyi

[2021-09-08 02:34] Akira1Saitoh commented on #13096
Thank you for the detailed explanation. I will try the fix you suggested to see if it resolves the failure.

[2021-09-08 12:16] JasonFengJ9 commented on #13180
Similar assertion observed at JDK8 `aarch64_linux` `Test_openjdk8_j9_special.system_aarch64_linux_testList_1/78/tapResults/`
[code]

[2021-09-08 12:40] pshipton commented on #13464
The problem here is not the missing class, which I believe is a long standing known issue with the test, as per https://github.com/eclipse-openj9/openj9/issues/12463

I believe the problem is the core file pattern and configured limits i.e. a machine setup issue, same as https://github.com/eclipse-openj9/openj9/issues/13462#issuecomment-914663647
[code]

[2021-09-08 12:51] 0xdaryl commented on #13180
@hzongaro : could you investigate these crashes please?  Possibly related to 13369.

[2021-09-08 14:49] 0xdaryl commented on #13376
@zl-wang : could you assign this for triage on Power please?

[2021-09-08 14:52] 0xdaryl commented on #13370
@fjeremic : could you assign for triage on Z please?

[2021-09-08 15:00] 0xdaryl commented on #13359
@fjeremic : could you assign this for triage on Z please?

[2021-09-08 15:04] Mesbah-Alam commented on #13462
@AdamBrousseau , Would you please have a look at `/etc/systemd/coredump.conf` in `p10rhel005` and confirm if we have the necessary configuration in place according to https://github.com/eclipse-openj9/openj9/issues/13462#issuecomment-914663647?

[2021-09-08 15:12] rmnattas commented on #13367
The issue is actually with the test `java/lang/String/Exceptions.java`, not the agent. After the change in JDK17+ for the `java.lang.String` implementation from the OpenJ9 to the OpenJDK impl, the `String` methods are still under the `canSkipNullChecks` list which end up causing the JVM to crash instead of throwing a NPE when the `String` methods are JITed.

[2021-09-08 15:33] 0xdaryl commented on #13127
If the original problem reported in this issue on Power is no longer seen (i.e., not 13457), can this issue be closed?  @ymanton can you confirm?

[2021-09-08 15:41] 0xdaryl commented on #13411
@BradleyWood : could you investigate this inliner crash please?  This may be MethodHandle-related, and at the very least we should get a proper backtrace with symbols to see where we are crashing in the inliner.

[2021-09-08 15:54] 0xdaryl commented on #13167
The backtrace for the remaining Power failure does not suggest a MH handle problem due to the JIT transformations for LambdaForms where many of the other problems are seen.

In light of that, @zl-wang could you have someone triage this problem on Power Linux please?  It seems quite reproducible (14/15 runs).  Thank you.

[2021-09-08 15:56] fjeremic commented on #13359
Reran in a Grinder to find out reproduction rate:
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/17984/

[2021-09-08 16:12] ymanton commented on #13127
As @pshipton said, the original failure in `SC_Softmx_JitAot_0` hasn't happened for a while. Most of the artifacts have already been purged. The Aug 24 build looks to be the last failure on JDK17 at least and the artifacts are still around.

I'm waiting for access to a suitable AIX machine so that I can at least look at the core file.

[2021-09-08 16:25] zl-wang commented on #13167
@rmnattas  vijay fixed EA for this very same issue previously you investigated.  not sure why it happens again.  please have a look.

[2021-09-08 17:23] kgibm opened #13467 "OpenJ9 core dump gathered with exclusive access shows J9DDRCorruptData inspecting class fields"
Java -version output
--------------------

Not sure how to get the equivalent of `java -version` from `jdmpview` but the `context` reports:

[code]

Summary of problem
------------------

Inspecting some class fields shows `J9DDRCorruptData`:

[code]

The dump is supposed to have been taken with `exclusive+prepwalk` although my technique of verifying that using `!findcallsite` on `dmpagent.c` allo

[2021-09-08 17:31] kgibm commented on #13467
Running on a newer version of OpenJ9 `jdmpview` doesn't show the same error:

[code]

`jdmpview`:

[code]

However, using the same `dtfj.jar` and `j9ddr.jar` patched in MAT still gives `J9DDRCorruptData`, so double checking the MAT code...

[2021-09-08 17:43] kgibm commented on #13467
Here's another issue running with the latest OpenJ9 `jdmpview` (also seen in MAT):

[code]

Full details of the corrupt data exception from MAT:

[code]

[2021-09-08 18:29] hangshao0 commented on #13414
Failed inside `searchClassInClassPath()`;

[code]

[2021-09-08 18:52] fengxue-IS commented on #13164
**LambdaLoadTest_special_J9_5m_14** : 20/20 passed on s390_linux `Test_grinder/job/Grinder/17983/`
** MathLoadTest_all_special_5m_14**: 20/20 passed on x86-64_windows `Test_grinder/job/Grinder/17982/`

Closing issue as failure not reproducible in current JDK 17 build. (Reopen if seen again)

[2021-09-08 18:52] #13164 closed

[2021-09-08 18:55] fengxue-IS commented on #13181
@JasonFengJ9 is this still methodhandle related if similar failures are seen on Java 11? I believe 11 is not using OJDK MH right?

[2021-09-08 18:58] fengxue-IS commented on #13376
FYI **SharedClassesWorkload_0**: 25/25 passed on ppcle_linux `Test_grinder/job/Grinder/17965/` using JDK17 nightly build, maybe this have been fixed by recent PRs merged

[2021-09-08 19:05] JasonFengJ9 opened #13469 "LambdaLoadTest_CS_5m_0_FAILED testLambdasWithMultipleThreads ArrayIndexOutOfBoundsException & Segmentation error vmState=0x00000000"
Similar `LambdaLoadTest` failure is observed at JDK11 `Test_openjdk11_j9_sanity.system_aarch64_linux_testList_0/23/tapResults/`
[code]

_Originally posted by @JasonFengJ9 in https://github.com/eclipse-openj9/openj9/issues/13181#issuecomment-914347826_

[2021-09-08 19:11] JasonFengJ9 commented on #13181
Yeah, JDK11 hasn't enabled ojdk_mh yet, the test suite is same (`LambdaLoadTest`) but in different mode `-Xgc:concurrentScavenge `, created https://github.com/eclipse-openj9/openj9/issues/13469.

[2021-09-08 19:16] fjeremic commented on #13370
[code]

Looks like we have different exceptions here. But failures none the less. @VermaSh could you take a look at this one?

[2021-09-08 19:43] tajila commented on #13181
Removing the project:MH label since this isnt related to ojdk_mh

[2021-09-08 20:23] pshipton opened #13470 "JEP 400 UTF-8 by Default"
See https://openjdk.java.net/jeps/400

@tajila fyi

[2021-09-08 20:28] tajila opened #13471 "Enhance javacore output to indicate which options where ignored"
There are a lot of hotspot args that J9 ignores. These show up in the javacore output.

ie.
[code]

It will be helpful for service engineers and anyone debugging using a javacore to be able to quickly identify which options the JVM ignored.

[2021-09-08 20:28] tajila commented on #13471
FYI @keithc-ca

[2021-09-08 20:35] pshipton commented on #13457
@tajila fyi, tagged initially as vm since it's crashing in the vm.

[2021-09-08 20:36] #13459 closed

[2021-09-08 20:40] 0xdaryl commented on #13457
FYI, I asked @jdmpapin to take a look at this earlier as well.

[2021-09-08 20:50] 0xdaryl commented on #13457
Devin will post an update here on what he found so far, but perhaps it would be best for an initial triage from a VM perspective and Devin can help investigate some of the other MH problems we have.

[2021-09-08 20:50] pshipton commented on #13457
Ok, tagged as jit then until we get more info.

[2021-09-08 21:06] 0xdaryl opened #13472 "NPE running DefaultStaticInvokeTest"
Latest occurrence at https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/8/consoleFull

[code]

[2021-09-08 21:06] 0xdaryl commented on #13472
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_windows_Nightly/12/consoleFull
[code]

Similar NPEs at https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Nightly/12/consoleFull

[2021-09-08 21:11] a7ehuo commented on #13450
Rebuild 4x jdk11 on Windows. All builds have passed. I'm still running more and see if it's reproducible.

2x with one change that [removes TR_TraceAll and TR_EnableParanoidOptCheck in jitdmp ](https://github.com/a7ehuo/openj9/commit/b11e9c89c4c56caa945afed1ba3b9b5d4c477359) (in order to see if we could get a complete log file if the crash in GRA happens again): [10483](https://hyc-runtimes-jenkin

[2021-09-08 21:11] 0xdaryl commented on #13305
@nbhuiyan believes the original problem in this issue is fixed.  Opened #13472 for the other issues reported.

[2021-09-08 21:11] #13305 closed

[2021-09-08 21:12] nbhuiyan commented on #13305
50/50 iterations (JDK16) and 50/50 iterations (JDK17) of  `BulkPutBufferTest` `EqualsCompareTest` passed. I believe the underlying issue is now fixed. The failure on Windows is a different issue that we are aware of.

[2021-09-08 21:15] pshipton commented on #8493
Not sure if this is vm or jit so I've set both.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64le_linux_Nightly_testList_1/17
[code]

[2021-09-08 21:17] pshipton commented on #13368
Not sure if this is vm or jit so I've set both.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/17/

[2021-09-08 21:22] JasonFengJ9 commented on #13470
A recent PR https://github.com/eclipse-openj9/openj9/pull/12340 related to `sun.stderr.encoding` and `sun.stdout.encoding` specified in this JEP.

[2021-09-08 21:28] pshipton commented on #12073
Any ideas why this problem occurs so frequently in OpenJ9 jdk17 builds, but not other versions or with Hotspot? We could handle the occasional failure, but not 3-4 in every build.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_s390x_linux_Nightly/17
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64_mac_Nightly/17
https://openj9-jenkins.osuosl.

[2021-09-08 21:50] pshipton commented on #13126
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64_windows_Nightly_testList_2/17/
SC_Softmx_JitAot_0
-Xjit -Xgcpolicy:gencon -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_extended.system_x86-64_windows_Nightly_testList_2/17/system_test_output.tar.gz

5.jvm2.stderr
[code]

[2021-09-08 21:54] pshipton commented on #13126
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_x86-64_mac_Nightly_testList_0/17
TestIBMJlmRemoteMemoryNoAuth_0
-Xjit -Xgcpolicy:gencon -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.system_x86-64_mac_Nightly_testList_0/17/system_test_output.tar.gz

5.LT2.stderr
[code]

[2021-09-08 21:56] keithc-ca commented on #12073
There are significant changes relative to jdk16 (more use of var handles), e.g. in ForkJoinPool.
FYI, it *does* happen with Hotspot; see above (https://github.com/eclipse-openj9/openj9/issues/12073#issuecomment-910211097).

[2021-09-08 21:58] jdmpapin commented on #13457
I have a [grinder](https://openj9-jenkins.osuosl.org/job/Grinder/195) running based on [the failed job from the initial comment](https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_ppc64_aix_Nightly/72). The iterations are pretty slow, and so far none of the 7 that have finished have reproduced this crash. However, they have all failed. The first 6 failed with NPE, with stacks t

[2021-09-08 21:59] pshipton commented on #13472
Tagging as jit, assuming this is jit.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Nightly/17

[2021-09-08 21:59] keithc-ca commented on #12073
Given the documentation for `ForkJoinTask.getSurplusQueuedTaskCount()`, I'm now thinking the test is at fault for expecting exactly 1 from a function that only claims to offer an '_estimate_'.

[2021-09-08 22:02] nbhuiyan commented on #13430
@Akira1Saitoh

Virtual method offset being +376 means the vtable index is zero for private methods and java/lang/Object; methods, where there is no corresponding entry in the vtable and the dispatch happens via MemberName.vmtarget. This fatal assert is only present in aarch64, which will fail for such virtual methods that show up with the OpenJDK MethodHandle implementation. I opened a PR that fix

[2021-09-08 22:05] pshipton commented on #13376
We can close assuming fixed and reopen if it's seen again.

[2021-09-08 22:05] #13376 closed

[2021-09-08 22:11] pshipton commented on #12073
I know it happens with Hotspot, but not with the same frequency we are seeing it in jdk17 builds. It makes me think there is something about the OpenJ9 MH implementation for jdk17 that isn't robust or performant enough.

[2021-09-08 22:19] pshipton commented on #13457
The following is the message OpenJ9 puts in methods that must exist so the OpenJDK code can compile, but aren't implemented because they aren't supposed to be called in the OpenJ9 implementation. @tajila
[code]

Here is the stack.
[code]

[2021-09-08 22:21] keithc-ca commented on #12073
It could be the opposite too: more performance makes critical sections more critical.

[2021-09-08 22:40] pshipton opened #13475 "JIT crash DaaLoadTest vmState=0x00000000"
This is from the past weekend. Perhaps a dup of another issue but I can't tell. @0xdaryl

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64le_linux_Personal_testList_1/2 - ub16p8j94
DaaLoadTest_daa3_special_5m_16
-XX:+UseCompressedOops -Xgcpolicy:balanced -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorching

[2021-09-08 22:45] pshipton commented on #13410
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_x86-64_mac_Personal_testList_2/2
DaaLoadTest_daa2_special_5m_1
-Xgcpolicy:optthruput -Xjit:count=0 -Xnocompressedrefs

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_special.system_x86-64_mac_Personal_testList_2/2/system_test_output.tar.gz
[code]

[2021-09-08 22:45] jdmpapin commented on #13126
The Windows and Mac crashes from last night's nightly builds were both using OMR commit 6b8136da4f3 from openj9-omr:v0.28.0-release, which does not include the symbol reference sharing fix (OMR commit a0db673e69c). That fix was merged into the release branch this morning via eclipse-openj9/openj9-omr#118, so hopefully it will be included in tonight's nightly tests

Also note that there is another

[2021-09-08 22:45] pshipton commented on #13410
I'm going to set this as blocker since the first two failures aren't count=0

[2021-09-08 22:49] pshipton commented on #13126
Just found https://github.com/eclipse-openj9/openj9/pull/13466 and merged it.

[2021-09-08 23:11] jdmpapin commented on #13457
Correction to my statements above about the failed iterations. Both the repeated `InternalError` and the NPE appear in all of the failures so far. In iteration 7, the NPE simply hadn't appeared yet when I first looked at it. In the earlier iterations, I didn't look backward past the NPE to see `InternalError`, but it's there

[2021-09-08 23:22] JasonFengJ9 commented on #13457
The grinder [1] appears running against an earlier JDK16 build.
[code]
Though JDK16 is valuable for comparison, JDK17 head or M1 release is a better target for current investigation.

[1] https://openj9-jenkins.osuosl.org/job/Test_openjdk16_j9_sanity.openjdk_ppc64_aix_Nightly/72/consoleFull

[2021-09-09 01:16] pshipton commented on #12061
I'll just close and it can be reopened if there is still a problem.

[2021-09-09 01:16] #12061 closed

[2021-09-09 01:54] 0xdaryl commented on #13431
The original problem reported in this issue was fixed by eclipse/omr#6171 and has not been seen since.  The secondary issue is tracked in #13452.  Closing this.

[2021-09-09 01:54] #13431 closed

[2021-09-09 02:00] 0xdaryl commented on #13017
With the various fixes mentioned above applied the original problem reported in this issue has not been seen since, despite being reproducible before.  Closing.

[2021-09-09 02:00] #13017 closed

[2021-09-09 02:01] 0xdaryl commented on #13096
Targeting to 0.28.0.

[2021-09-09 10:57] 0xdaryl commented on #13430
By the time this assert is reached we're already generating the instructions for a vtable dispatch.  Does calling through offset +376 imply a dispatch via MemberName.vmtarget?  (i.e., there is something in the slot at offset 376 that will do that?)  That is certainly non-obvious to greybeards like me.

[2021-09-09 11:31] JasonFengJ9 opened #13477 "DaaLoadTest_daa1_special_5m_4_FAILED - **FAILED** Process DLT has hung"
Failure link
------------

From an internal build `Test_openjdk11_j9_special.system_ppc64le_linux_testList_2/111/` (`ubu18le-rt1-4`):
[code]
[Re-run the Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=DaaLoadTest_daa1_special_5m_4&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk11_j9_special.system_ppc64le_linux&amp;DOCKER_REQUIRE

[2021-09-09 11:46] 0xdaryl commented on #13469
@tajila : since this is a crash in the VM .so I'd appreciate it if you could find someone to triage this first.  Thank you.

[2021-09-09 12:18] JasonFengJ9 commented on #13472
Similar NPE observed at an internal build w/ JDK17 M1 `Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Personal/29/consoleFull`
[code]

The test in question passed w/ JDK17 head stream build though.

Launched grinders to confirm the difference between the head stream and M1 release.
JDK17 M1 release - `Test_grinder/job/Grinder/18015/`
[code]
JDK17 head stream - `Test_grinder/job/Grinder/18016/`
[code]

[2021-09-09 12:27] JasonFengJ9 commented on #13167
Observed at an internal build `Test_openjdk17_j9_extended.functional_ppc64le_linux_Personal/32/tapResults/`
[code]
Similar NPEs were observed at JDK17 head stream as well `Test_openjdk17_j9_extended.functional_ppc64le_linux_Personal/33/tapResults/`
[code]

[2021-09-09 12:39] #13404 closed

[2021-09-09 12:45] JasonFengJ9 commented on #13477
Also occurred at JDK17 M1 internal build `Test_openjdk17_j9_special.system_ppc64le_linux_Personal/30/tapResults/`
[code]

Since this occurred at JDK17, move it to `0.28`.

[2021-09-09 12:47] pshipton commented on #9186
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix_Nightly/90/

[2021-09-09 13:23] a7ehuo commented on #13450
Another 9x builds passed:
4x builds with one change that removes TR_TraceAll and TR_EnableParanoidOptCheck in jitdmp:
[10513](https://hyc-runtimes-jenkins.swg-devops.com/view/OpenJ9%20-%20Personal/job/Pipeline-Build-Test-Personal/10513/), [10515]( https://hyc-runtimes-jenkins.swg-devops.com/view/OpenJ9%20-%20Personal/job/Pipeline-Build-Test-Personal/10515/), [10524](https://hyc-runtimes-jenkins.sw

[2021-09-09 13:46] 0xdaryl commented on #13181
@a7ehuo : could you investigate this problem please?  I'm not convinced that the AArch64 problem is the same as the macOS one (and the AArch64 failure may be related to 13469).

Perhaps you could look at this from the macOS angle.  Thank you.

[2021-09-09 13:50] pshipton commented on #13368
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/18

[2021-09-09 14:00] pshipton opened #13478 "IncompatibleClassChangeError in javac building tests java.util.stream.ReferencePipeline$3$1.accept(ReferencePipeline.java:197)"
Failing in javac trying to build the test material. Guessing JIT. @0xdaryl @tajila a result of a recent change?
Two occurrences on xlinux last night.

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.functional_x86-64_linux_Nightly_testList_0/18 - cent7-x64-5
[code]

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_x86-64_linux_Nightly_testList_0/18 - cent7-x64

[2021-09-09 14:02] pshipton commented on #12073
Only one last night.
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_s390x_linux_Nightly_testList_1/18

[2021-09-09 14:36] a7ehuo commented on #13181
The [links](https://github.com/eclipse-openj9/openj9/issues/13181#issue-942507709) on the above is not accessible any more. I'll try to repro this.

[2021-09-09 14:48] dmitripivkine commented on #13180
I have latest failure results downloaded (ask me if you need)
Bad value in `O-Slot value=0000FFFFAC1C6800` is a j9class `java/lang/String`

[2021-09-09 15:15] dmitry-ten commented on #13361
This can be closed now.

[2021-09-09 16:17] mpirvu commented on #13361
Resolved by #13408

[2021-09-09 16:17] #13361 closed

[2021-09-09 16:34] dmitry-ten opened #13480 "Fix JitDump recompilations for compiled methods on JITServer"
When a crash happens inside a compiled body, JitDump will walk the stack trace and try to recompile the methods, producing trace logs.
However, this feature is broken on JITServer. We currently support recompiling methods that caused a server-side crash during compilation. But when a crash happens inside a compiled method, the client will send a JitDump recompilation request to the server, and ser

[2021-09-09 16:35] dmitry-ten commented on #13480
@mpirvu fyi.
I discovered this problem while fixing #13421

[2021-09-09 17:14] fengxue-IS commented on #13319
**StackWalkerTest_1**: 20/20 passed on ppc_aix `Test_grinder/job/Grinder/17981/`
**DaaLoadTest_daa1_special_5m_14**: 20/20 passed on s390_linux `Test_grinder/job/Grinder/17962/`

failure not observed on latest JDK 17.
Closing issue, reopen if failure seen again in testing

[2021-09-09 17:14] #13319 closed

[2021-09-09 18:46] hangshao0 commented on #13414
There is a race condition:

https://github.com/eclipse-openj9/openj9/blob/a2a4729e46530270e54277629bfb8252766e4bab/runtime/vm/classsupport.c#L552-L572

The local variable `classPathEntries` records the class path entries at line 552, then it is passed along with the latest `classLoader->classPathEntryCount` to `findLocallyDefinedClassFunction()` at line 572.

However, things can be changed by `add

[2021-09-09 18:46] dmitripivkine commented on #12749
@15838028035 Do you have any updates? I apologize, I don't understand what's the problem is...

[2021-09-09 18:52] nbhuiyan commented on #13430
There seems to have been a mechanism in place across all backends to not generate code to dispatch through the vtable for such positive offset cases. I updated the implementation of the `MethodHandleTransformer` responsible for setting this offset to not present a call as virtual when it is not dispatched through the vtable in the PR addressing this issue.

[2021-09-09 20:13] dmitripivkine commented on #13467
I curious can this be related with changed object header for contiguous indexable object? Can it be place somewhere does not inherit new header format? There is no problem to read this object using `jdmpview`:
[code]

[2021-09-09 20:27] dmitripivkine commented on #13467
Ah, I see... gccheck seems experiencing the same problem:
[code]

[2021-09-09 20:57] a7ehuo opened #13484 "ValueTypeTestsJIT_1: Fatal Assert "vsnprintfNoTrunc: truncation occurred""
Ran into a fatal assert "`vsnprintfNoTrunc: truncation occurred"` when running Valhalla functional test `ValueTypeTestsJIT_1`.

`classNameLen`, `className`, `name` passed to `TR::snprintfNoTrunc` look good [2]. Likely it's the `signature` that causes the issue. I instrumented the code and found either `strlen(signature)` is `0` or `signature` contains garbage when truncation happens [3]. If I pass

[2021-09-09 20:59] a7ehuo commented on #13484
@hzongaro fyi

[2021-09-09 23:08] llxia commented on #13460
I also see the same issue on `p10aix009`. Internal job `cmd_test/227`:

[code]

[2021-09-09 23:39] jdmpapin commented on #13410
I ran a few grinders based on the first two crashes posted here:
- [Mac passed 30/30](https://openj9-jenkins.osuosl.org/job/Grinder/191/)
- [Linux PPCLE passed 30/30](https://openj9-jenkins.osuosl.org/job/Grinder/192/)
- [Mac passed another 100/100](https://openj9-jenkins.osuosl.org/job/Grinder/193/)

[2021-09-10 00:36] pshipton commented on #13410
Maybe fixed. Doesn't look like a blocker anyway.

[2021-09-10 11:20] JasonFengJ9 commented on #13167
Observed at JDK17 `0.28` release `MacOS` build at `job/Test_openjdk17_j9_extended.functional_x86-64_mac_testList_0/50/`
[code]

[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jsr292_MethodHandleAPI_Test_JitCount1_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_extended.functional_x86-64_mac&amp;DOCKER_REQUIRED=f

[2021-09-10 11:32] JasonFengJ9 commented on #13368
Observed at JDK17 `0.28` release build at `job/Test_openjdk17_j9_sanity.openjdk_s390x_linux/49/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_lang_1&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG_OWNER_BRANCH=Adop

[2021-09-10 11:42] JasonFengJ9 commented on #13477
Observed in JDK17 `0.28` release build at `job/Test_openjdk17_j9_special.system_ppc64le_linux_testList_2/55/`
[code]

[2021-09-10 12:01] JasonFengJ9 commented on #13452
Observed at JDK17 `0.28` release build `job/Test_openjdk17_j9_special.system_aarch64_linux_testList_4/44/`
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=MathLoadTest_all_special_5m_4&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_special.system_aarch64_linux&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEO

[2021-09-10 12:09] JasonFengJ9 opened #13485 "JDK17 0.28 release - NullPointerException: Cannot invoke "java.lang.invoke.MethodHandle.linkToStatic(long, java.lang.invoke.MemberName)" because "<parameter1>" is null"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_special.system_aarch64_linux_testList_1/44/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=DaaLoadTest_daa3_special_5m_22&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=Test_openjdk17_j9_special.system_aarch64_linux&amp;DOCKER_REQUIRED=false&amp;ACTI

[2021-09-10 12:27] JasonFengJ9 opened #13486 "JDK11 aarch64_linux : java/util/zip/FlaterTest.java - NPE at java.base/java.util.zip.Inflater.inflate(Inflater.java:509)"
Failure link
------------

From an internal build `job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/81/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_util_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG_OWNER_

[2021-09-10 13:23] fjeremic commented on #13359
Previous grinder passed 30/30, launching a 100 job here:
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/18043/

[2021-09-10 13:27] pshipton commented on #12881
Haven't see this for a while.

[2021-09-10 13:27] #12881 closed

[2021-09-10 13:27] hzongaro commented on #13484
If I'm understanding the test case correctly, I think the signature field should have contained `"QPoint2D;"`.  Am I understanding that correctly?

[2021-09-10 13:27] pshipton commented on #12409
Fixed long ago.

[2021-09-10 13:27] #12409 closed

[2021-09-10 13:28] #11834 closed

[2021-09-10 13:29] #7968 closed

[2021-09-10 13:29] #4530 closed

[2021-09-10 13:34] pshipton commented on #11177
This seems obsolete, closing.

[2021-09-10 13:34] #11177 closed

[2021-09-10 13:55] pshipton commented on #9851
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/94/
[code]

[2021-09-10 14:16] pshipton opened #13487 "Crash vmState=0x000509ff"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly_testList_0/90/ - osx1011-x86-2
testDDRExt_Class_0 (NoOptions)
vmState [0x509ff]: {J9VMSTATE_JIT} {localValuePropagation}

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly_testList_0/90/functional_test_output.tar.gz
[code]

It's on j

[2021-09-10 14:27] pshipton opened #13488 "java/util/stream/CollectorsTest.java Failed. Unexpected exit from test [exit code: 143]"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/19
jdk_util_1
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops
java/util/stream/test/org/openjdk/tests/java/util/stream/CollectorsTest.java

No artifacts.
[code]

[2021-09-10 14:28] a7ehuo commented on #13450
Another 12x builds passed: 6x builds with one change that removes TR_TraceAll and TR_EnableParanoidOptCheck in jitdmp; 6x builds with default master

[2021-09-10 14:34] pshipton commented on #13472
Crash instead of NPE. I'll put it here since it's the DefaultStaticInvokeTest test, but can open another Issues if necessary.
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Nightly/19/
jdk_lang_0
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:+UseCompressedOops
java/lang/reflect/De

[2021-09-10 14:38] pshipton commented on #13472
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Nightly/19
jdk_lang_0
[code]
jdk_lang_1
[code]

[2021-09-10 14:40] pshipton commented on #13123
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_x86-64_windows_Nightly_testList_0/19
ClassLoadingTest_CS_5m_0
-Xgcpolicy:gencon -Xgc:concurrentScavenge

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.system_x86-64_windows_Nightly_testList_0/19/system_test_output.tar.gz
[code]

[2021-09-10 14:41] pshipton commented on #12073
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64_aix_Nightly_testList_1/19
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64le_linux_Nightly_testList_0/19
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_s390x_linux_Nightly_testList_1/19/
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64_ma

[2021-09-10 14:48] Akira1Saitoh commented on #13452
The crash seems to occur because trampolines are lost when code cache switch happens.
`redoTrampolineReservationIfNecessary()` is called at `TR::ARM64ImmSymInstruction::generateBinaryEncoding()`, but I believe CallSnippet case is not properly handled. We are not calling `redoTrampolineReservationIfNecessary()` when the label is NULL, so trampolines are not re-reserved for calls with snippets.
http

[2021-09-10 16:54] AdamBrousseau commented on #13462
According to the playbook, and verified on another machine
https://github.com/adoptium/infrastructure/blob/793eac15bf0cb46ec92f67d83e6537d7ca9feac5/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/tasks/main.yml#L96
[code]
Existing content of `/proc/sys/kernel/core_pattern`
[code]
Replaced with
[code]

Please try now.

[2021-09-10 18:03] jdmpapin commented on #13126
With the two fixes merged and seemingly no more of these crashes for the moment, can this issue be closed now? We could reopen or open another if we discover that there is still a crash here

[2021-09-10 18:07] mpirvu opened #13491 "Disable JITServer Tech Preview message for Power and x86 on the server"
PR https://github.com/eclipse-openj9/openj9/pull/13482 disabled the Tech Preview message on the client, but the message on the server is still present. This comes from: https://github.com/eclipse-openj9/openj9/blob/master/runtime/jitserver_launcher/jitserver.c#L297

[2021-09-10 18:07] mpirvu commented on #13491
Attn: @dmitry-ten

[2021-09-10 18:11] BradleyWood commented on #13411
I wasn't to reproduce this in grinder

[2021-09-10 19:48] llxia commented on #13462
@Mesbah-Alam is on vacation.
I reran in [Grinder (5x)](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/18046/console) and [artifacts](https://na.artifactory.swg-devops.com/artifactory/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com//Grinder/18046/) are uploaded into artifactory.

[2021-09-10 19:54] pshipton commented on #13411
Removing blocker label. I think I'll close it as well, we can reopen if the problem is seen again, but target for a future release.

[2021-09-10 19:56] pshipton commented on #13411
@hangshao0 why did you add the blocker label to this, was it repeated yesterday in some other testing?

[2021-09-10 19:56] llxia commented on #13462
Thanks @AdamBrousseau

[2021-09-10 19:58] pshipton commented on #13411
I see https://github.com/eclipse-openj9/openj9/pull/13395#issuecomment-915572871 from 2 days ago. I'll re-open and target to 0.29 for now.

[2021-09-10 19:59] pshipton commented on #13126
Closing.

[2021-09-10 19:59] #13126 closed

[2021-09-10 20:04] hangshao0 commented on #13411
Yes, it is blocking Valhalla builds.

[2021-09-10 20:35] pshipton commented on #13411
Does that mean it can be repeated, or did it just happen once?

[2021-09-10 20:40] hangshao0 commented on #13411
Happens quite often.

[2021-09-10 20:54] pshipton commented on #13411
If you can help Bradley with a repeatable case, what would help get it fixed.

[2021-09-10 21:04] jdmpapin commented on #13410
My grinders just above were running builds from May, e.g.
[code]
This is apparently the default thing that happens when following the links under "For example, to rebuild the failed tests" and leaving SDK_RESOURCE set to nightly

So please disregard the above links. I will re-test

[2021-09-10 21:09] hangshao0 commented on #13411
Both Valhalla builds triggered in https://github.com/eclipse-openj9/openj9/pull/13395 failed:

https://openj9-jenkins.osuosl.org/job/Build_JDKnext_x86-64_linux_valhalla_Personal/17/
https://openj9-jenkins.osuosl.org/job/Build_JDKnext_x86-64_linux_vt_standard_Personal/12/

A few days ago, I tried manually Valhalla twice, all failed.

It can be reproduced if you clone jdknext: https://github.com/ibm

[2021-09-10 22:29] a7ehuo commented on #13484
Yeah, for field `FlattenedLine2D.st`, its signature should be `QPoint2D`.

The class layout is constructed in [OMR::Compilation::typeLayout](https://github.com/eclipse/omr/blob/fa7d68bc591f0b636cc3e0ed00d19f210fddddfd/compiler/compile/OMRCompilation.cpp#L2768). If the `_typeLayoutMap` doesn't contain the `clazz`, `ClassEnv::enumerateFields` builds the field info. Then the typeLayout for the `clazz

[2021-09-11 01:16] pshipton commented on #13410
@llxia fyi the previous comment, I'm thinking the nightly option in grinders should be removed or disabled for OpenJ9 builds until such time as it works, Not sure how many people are hitting this issue when trying to recreate problems.

[2021-09-11 01:18] pshipton commented on #13411
@BradleyWood fyi https://github.com/eclipse-openj9/openj9/issues/13410#issuecomment-917210306, was your grinder using a current JVM?

[2021-09-11 02:49] JasonFengJ9 commented on #13410
This is a known issue `backlog/issues/542`. The grinder nightly uses Adopt builds which stopped update since this May.

[2021-09-11 03:43] #13491 closed

[2021-09-11 13:03] mpirvu opened #13494 "Determine which String methods that can skip nullchecks"
PR https://github.com/eclipse-openj9/openj9/pull/13465 introduced a change where all String methods are no longer eligible for skipping nullchecks for Java17 and up. This is was done to address a problem with `String.split` which does require a nullcheck in its reference implementation.
We should examine String methods and decide on a case by case basis which methods can skip nullchecks and which

[2021-09-11 13:04] #13367 closed

[2021-09-13 04:52] Akira1Saitoh commented on #13486
Launching 10x Grinder. `job/Grinder/18063/`

[2021-09-13 05:50] Akira1Saitoh commented on #13452
10x Grinder successful with https://github.com/eclipse/omr/pull/6177 `job/Grinder/18062/`

[2021-09-13 07:12] Akira1Saitoh commented on #13485
Launching 10x Grinder `job/Grinder/18069`

[2021-09-13 09:26] hmsadiq commented on #8282
Can we catch such issues and continue with rest of the pipeline?

[2021-09-13 12:59] llxia commented on #13464
The only p10 (p10rhel005) is down (see runtimes/infrastructure/issues/5920). We will rerun the test once the machine is back online.

[2021-09-13 13:09] pshipton commented on #9969
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_s390x_linux_Nightly_testList_1/97
J9vmTest_3
j9vm.test.arraylets.ArrayletAllocateTest
[code]

[2021-09-13 13:12] BradleyWood commented on #13411
`DaaLoadTest_daa1_special_5m_8` passed again with a recent build.

[code]

[2021-09-13 13:23] JasonFengJ9 commented on #13472
Observed w/ latest JDK17 `0.28` release build at `job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac/56/`
[code]

[2021-09-13 13:48] JasonFengJ9 commented on #13126
A similar segmentation error `vmState=0x00050080` observed at JDK17 `0.28` release build  `job/Test_openjdk17_j9_sanity.system_x86-64_mac_testList_0/53/` (`mac11x64rt05`)
[code]

`aqa-tests/TKG/output_16313982489454/TestJlmRemoteThreadNoAuth_1/20210911-192251-TestJlmRemoteThreadNoAuth/results/1.LT1.stderr`
[code]

[2021-09-13 14:03] tajila commented on #13411
Just tried with latest changes

[code]

[2021-09-13 14:15] 0xdaryl commented on #13475
@zl-wang : please assign for triage.  Only observed on Power Linux.

[2021-09-13 14:25] zl-wang commented on #13475
@IBMJimmyk please take a look

[2021-09-13 14:27] 0xdaryl commented on #13411
Is this only observable with valhalla builds then?  If so, I don't think this is a blocker for 0.28 (although serious enough that we should get it fixed right away).

[2021-09-13 14:28] pshipton opened #13498 "RuntimeException from jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0"
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux_Nightly/92
jdk_util_1
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-UseCompressedOops
java/util/stream/test/org/openjdk/tests/java/util/stream/WhileOpStatefulTest.java

[code]

30x grinder https://openj9-jenkins.osuosl.org/job/Grinder/199/

[2021-09-13 14:36] pshipton opened #13499 "jdk17 LambdaLoadTest_special_J9_5m_20 crash in VM with vmState=0x00000000"
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64le_linux_Personal_testList_1/3
LambdaLoadTest_special_J9_5m_20
-Xcompressedrefs -Xgcpolicy:gencon -Xjit:counts=- - - - - - 1 1 1 1000 250 250 - - - 10000 100000 10000,gcOnResolve,rtResolve,sampleInterval=2,scorchingSampleThreshold=10000,quickProfile -Xmn512k -Xcheck:gc:vmthreads:all:quiet

https://openj9-artifactory.osuosl

[2021-09-13 14:41] pshipton commented on #13457
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/21/
jdk_lang_1
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops
java/lang/invoke/MethodHandlesInsertArgumentsTest.java

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.op

[2021-09-13 14:53] 0xdaryl commented on #13368
@midronij : Although there seem to be failures occurring on other platforms, I'd appreciate it if you could continue to triage this problem to narrow down the issue please.

[2021-09-13 15:05] jdmpapin commented on #13457
Please disregard my grinder above and my comments about it. It too was running a build from May due to [the problem that I mentioned](https://github.com/eclipse-openj9/openj9/issues/13410#issuecomment-917210306) in #13410

[2021-09-13 15:06] pshipton commented on #13368
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64le_linux_Nightly/21/

[2021-09-13 15:11] pshipton commented on #13472
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Nightly/21
jdk_lang_1
-Xdump:system:none -Xdump:heap:none -Xdump:system:events=gpf+abort+traceassert+corruptcache -XX:-JITServerTechPreviewMessage -XX:-UseCompressedOops

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Nightly/21/openjdk_test_output.tar.g

[2021-09-13 15:37] fjeremic commented on #13370
Any progress on this one?

[2021-09-13 15:50] pshipton commented on #13472
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Nightly/22
jdk_lang_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_s390x_linux_Nightly/22/openjdk_test_output.tar.gz
[code]

[2021-09-13 15:55] pshipton commented on #13472
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_mac_Nightly/22
[code]

[2021-09-13 15:56] pshipton commented on #12073
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64le_linux_Nightly_testList_1/21
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_s390x_linux_Nightly_testList_0/21

https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_s390x_linux_Nightly_testList_0/22/
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_x86-64

[2021-09-13 15:58] 0xdaryl commented on #12605
Not reproduced and the failure that was observed is already fixed.  Closing.

[2021-09-13 15:58] #12605 closed

[2021-09-13 16:00] fjeremic commented on #13487
This looks like a repro of the `findenv` issues on MacOS. We have lots of issues open on this topic:
https://github.com/eclipse-openj9/openj9/search?q=findenv+is%3Aissue&type=issues

I believe we also tried to fix this at some point. See #7247 for related PRs which attempted to fix the issue to no avail. There is also a lengthy discussion in that issue about the problem as well.

[2021-09-13 16:40] llxia commented on #12073
https://github.com/adoptium/aqa-systemtest/pull/456 is disabled https://github.com/adoptium/aqa-systemtest/pull/456

[2021-09-13 16:56] ymanton commented on #13127
This appears to be a MethodHandle related crash. Generated code is accessing a field of an `java/lang/invoke/MethodType` object but using what looks like a bad offset.

[code]

The offset in `ld        r2, 0x40(r30)` doesn't look like it points to a valid field in `MethodType` so whats loaded from it causes a crash on the next instruction.

I can't find any existing issue that resembles this one s

[2021-09-13 17:07] LinHu2016 commented on #13409
@1a2s3d4f1 Thank you for the above analysis, you might add  java options "-Xgc:regionSize=67108864 -XXgc:tarokNurseryMaxAge=1 -XXgc:tarokRegionMaxAge=2" to your run, it might get better performance for your case.

[2021-09-13 17:08] pshipton commented on #13359
The grinder is on some ancient build 20210507_32, fyi https://github.com/eclipse-openj9/openj9/issues/13410#issuecomment-917210306

[2021-09-13 17:31] JasonFengJ9 commented on #12073
The test has been excluded, I think this issue doesn't require resolution in `0.28`, moving it to next release.

[2021-09-13 17:31] 0xdaryl commented on #13127
@nbhuiyan : for whatever insight you can provide here.  There are a couple of outstanding MH fixes still being tested, so keep that in mind when triaging this.

[2021-09-13 17:33] tajila commented on #13462
Does anyone have a local copy of the artifacts? https://na.artifactory.swg-devops.com/artifactory/sys-rt-generic-local/hyc-runtimes-jenkins.swg-devops.com//Grinder/18046/ seems to be dead now

[2021-09-13 17:41] a7ehuo commented on #13484
The first time typeLayout is create is in ILGen. When the `TypeLayoutEntry` is constructed in `addEntryForFieldImpl`, it takes the `signature` from `TR_VMFieldsInfo`. `fieldsInfo` is stored in the stack region (`stackAlloc`) [1]. `genIL` has its `stackMemoryRegion` [2] which will be released after `genIL` is out of scope. That explains why the `signature` gets corrupted when it gets to code gen.

[2021-09-13 18:03] pshipton commented on #13487
Sorry I missed that. Closing as a dup of https://github.com/eclipse-openj9/openj9/issues/7247

[2021-09-13 18:03] #13487 closed

[2021-09-13 18:04] pshipton commented on #7247
Another one https://github.com/eclipse-openj9/openj9/issues/13487#issue-993278780

[2021-09-13 18:16] llxia commented on #13462
I do not have a local copy. I am rerunning the Grinder (5x): https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/18081/console

Also, opened an infra issue (runtimes/infrastructure/issues/5925) as the old artifacts should be removed first. There are some very old artifacts from 2020.

[2021-09-13 18:16] pshipton commented on #13389
Controlling the behavior via a command line option is one way to avoid compatibility problems.

[2021-09-13 18:35] pshipton commented on #12719
@mikezhang1234567890 Are you working on a fix? Can we update the j9mmap_protect() implementation with this workaround? i..e. If the flags are set to read, immediately do a small read from the memory.

[2021-09-13 18:37] pshipton commented on #12719
@AdamBrousseau @jdekonin do the zlinux UB20 machines have the latest updates installed?

[2021-09-13 18:44] llxia commented on #13462
There is no system core anymore. Not sure if it is related to runtimes/infrastructure/issues/5920

Output from Grinder/18081 (the latest run, no system core):
[code]

Output from Grinder/18046 (the previous run, contains system core)
[code]

[2021-09-13 18:52] DanHeidinga commented on #12759
@BradleyWood Is there a timeline on getting this completed?  Do we need the remaining OMR PR to complete this JEP for the 0.27 release?

[2021-09-13 18:54] DanHeidinga commented on #13167
fyi @0xdaryl - can you get someone to triage this?

[2021-09-13 18:56] #13191 closed

[2021-09-13 19:05] zl-wang commented on #13167
i am asking @ymanton to take a look.  MH-related, possibly EscapeAnalysis related.

[2021-09-13 19:06] #13096 closed

[2021-09-13 19:13] IBMJimmyk commented on #13460
I am currently looking at this problem. When I run it in a grinder, I am able to reproduce the problem:
https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/18083/tapResults/

However, when I try to run the test manually with the same build on the same machine, it does not fail. Results look like this:
[code]
[code]
I am currently trying to figure out what it different between the two runs.

[2021-09-13 19:24] zl-wang commented on #13460
@pshipton @llxia any insights please ...  grinder script issue?

[2021-09-13 20:17] pshipton commented on #13460
Are you running the same steps manually that are done by the grinder, or taking some shortcuts? I'm guessing the grinder adds additional AOT to the shared cache which isn't included in the manual run.

[2021-09-13 20:17] pshipton commented on #13460
Does the grinder delete the shared cache and start with a fresh one?

[2021-09-13 20:22] pshipton commented on #13402
@AdamBrousseau is the next release for Windows 0.27.1 or 0.28?

[2021-09-13 20:28] IBMJimmyk commented on #13460
In both the grinder run and the run I'm doing, the shared caches are destroyed.

In the grinder you can see this:
[code]
I also run both commands to make sure the shared cache is gone.

I've tried running the test via the make script:
[code]
To me it looks like it is doing the same thing. But, something has to be different if I'm getting different results. Failure rate through the grinder is 100%

[2021-09-13 20:38] pshipton commented on #13460
Is it a machine issue, did you try the same machine used for the grinder?

[2021-09-13 20:39] mnalam-p commented on #13475
The corefile/javacore or jitdump is not available on the test output capture. So, I tried to reproduce the issue on a P8 machine with following options -
[code]
Failed to reproduce the test and the test passed.
@pshipton Any suggestion on reproducing the failure?

[2021-09-13 20:47] llxia commented on #13410
Please use the `Rerun in Grinder` link in the [jenkins job](https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_x86-64_mac_Release/2/), not the link in the console output.

<img src=https://user-images.githubusercontent.com/19273206/133152523-5dfc7431-8471-4736-8177-7527d67ae830.png width=400/>

We will change the default option of SDK_RESOURCE in openj9 and hyc jenkins and mayb

[2021-09-13 20:51] IBMJimmyk commented on #13460
I am using the exact same machine as the one in the grinder. Same build as well.

[2021-09-13 21:11] a7ehuo commented on #13450
So far 25x builds have passed. Started another 10x builds and see if it's reproducible

[2021-09-13 21:13] JasonFengJ9 opened #13502 "JDK17 aarch64_linux 0.28 release - jsr292Test_JitCount0_0_FAILED test_invokeWithArguments_variable_input NPE at sun.invoke.util.ValueConversions.unboxInteger"
Failure link
------------

From an internal build `Test_openjdk17_j9_extended.functional_aarch64_linux_Personal/23/tapResults/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.functional&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&TKG

[2021-09-13 21:15] jdmpapin commented on #13410
The link in the console output is more convenient because it pre-populates TARGET. Could it be made to work rather than removed?

[2021-09-13 21:26] pshipton commented on #13475
Just to try more iterations, which you can do on multiple machines in parallel. It may be more intermittent and not reproducible in 10 iterations.

[2021-09-13 21:29] JasonFengJ9 opened #13503 "JDK17 aarch64_linux 0.28 release - UnsupportedOperationException: class redefinition failed: attempted to change the class NestHost, NestMembers, Record, or PermittedSubclasses attribute"
Failure link
------------

From an internal build `/job/Test_openjdk17_j9_extended.system_aarch64_linux_Personal/13/tapResults/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOCKER_ARGS=&TKG_OW

[2021-09-13 21:37] JasonFengJ9 opened #13504 "HCRLateAttachWorkload_previewEnabled_1_FAILED - Segmentation error vmState=0x0002000f"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_extended.system_s390x_linux_Personal/12/tapResults/` (`rhel7s390x-3-1`):
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.system&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=&VENDOR_TEST_DIRS=functional&EXTRA_DOC

[2021-09-13 21:40] a7ehuo commented on #13181
Ran in Grinder 50x on Mac. FR: 15/50. Ran 50x on X86, all passed.

8 of the 15 failures hit the assert `"Object neither in heap nor stack-allocated in thread load-0"`. They look similar to #13180 and #13369
[code]

7 out of 15 failures are test failure with no explicit reason in the test output.

[2021-09-13 21:45] AdamBrousseau commented on #13402
Next Windows release will be 0.28.0.
0.27.1 will be limited to aix and plinux.

[2021-09-13 23:22] jdmpapin commented on #13472
The failure is highly reproducible on Mac. In internal grinders it failed 6/10 and another 2/5 with `-Xjit:verbose,vlog=vlog`. I did get verbose logs but each failed iteration produced three verbose logs, and I haven't been able to tell which is the relevant one

I tried running this on my machine with all tests excluded other than `DefaultStaticInvokeTest`, and I was unable to reproduce it that w

[2021-09-13 23:28] #13430 closed

[2021-09-14 01:05] 0xdaryl commented on #13452
master and 0.28.0 fixes merged.

[2021-09-14 01:05] #13452 closed

[2021-09-14 02:08] 0xdaryl commented on #13478
@BradleyWood : can you triage this one please?

[2021-09-14 11:35] vijaysun-omr commented on #13180
FYI https://github.com/eclipse-openj9/openj9/pull/13507 may be related to (i.e. fix) this

[2021-09-14 11:48] JasonFengJ9 opened #13508 "JDK17 aarch64_linux 0.28 release : DefaultStaticInvokeTest.java - InternalError: SIGBUS"
Failure link
------------

From an internal build `job/Test_openjdk17_j9_sanity.openjdk_aarch64_linux/45/`:
[code]
[Rerun in Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=jdk_lang_0&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOCKER_ARGS=&amp;TKG_OWNER_

[2021-09-14 12:15] vij-singh commented on #12896
@ZainabF92 Is there anything else left to do here?

[2021-09-14 12:40] jdekonin commented on #12719
ub20-390-2 has changed requiring a reboot to make active. I have rebooted the machine and made 100% current as the reboot was blocking a small number of updates.

ub20-390-1 is in the same state.  Do you want me to update both or leave one in the current state for comparisons?

[2021-09-14 12:48] BradleyWood commented on #12759
@DanHeidinga I believe the work we did to remove x87 satisfies JEP 306. Eclipse/omr#6132 is cleanup work with non-functional changes. I don't think it's critical to merge it now and @0xdaryl hasn't finished reviewing yet.

[2021-09-14 12:49] pshipton opened #13509 "OSX problems related to creating core files"
The problems appear to be machine specific.

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_OMR_testList_1/79/ - osx1011-x86-2

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly_testList_0/93/ - osx1011-x86-1

This will have been caused by https://github.com/eclipse/omr/pull/6133

@mikezhang1234567890 @tajila @keith

[2021-09-14 12:50] llxia commented on #13410
The `nightly` feature in Grinder uses Adopt API which does not have openj9 nightly anymore. What you will get from Adopt API is the last uploaded SDK in May. Currently, we do not have API setup for openj9 nightly builds.
Once we have the API setup for openj9 nightly, then we can update `nightly` in Grinder to point to the new API.

[2021-09-14 13:03] BradleyWood commented on #13411
With `--enable-inline-types` I did observe the same backtrace. @jdmpapin do you see anything suspicious with the above backtrace?

[2021-09-14 13:07] pshipton commented on #12896
The change is merged now, but got merged into the staging branch so needs to get through an acceptance build. I'll keep an eye on it and help it promote.

[2021-09-14 13:08] mnalam-p commented on #13475
Using the JDK from [https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64le_linux_Personal_testList_1/2 ](https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_special.system_ppc64le_linux_Personal_testList_1/2), I ran a grinder on 5 parallel machine, each having 30 iterations. The grinder passed.
 @pshipton Any suggestions on reproducing it?

[2021-09-14 13:09] pshipton commented on #12719
Might as well update both, we already get regular failures on these machines, and we'll need to work on the latest.

[2021-09-14 13:32] VermaSh commented on #13370
I am just getting to it. I'll post an update in next few days.

[2021-09-14 13:34] tajila commented on #13499
@babsingh please take a look at this. Please determine if you believe it is a VM issue or not

[2021-09-14 13:38] tajila commented on #13368
Please take a look at this one as well

[2021-09-14 13:39] tajila commented on #13488
@fengxue-IS Please take a look at this. Please determine if its MH related.

[2021-09-14 13:59] pshipton commented on #13475
Nope. If it's not reproducible it's not a priority to fix.

[2021-09-14 14:09] tajila commented on #13462
The issue was that there was a mismatch between the test libs (newer) and the JDK (older). We updated the tests to require a vmFunc that did not exist in the jdk that was being tested, hence the crash. I updated the jdk to the latest version and the tests passed on power10.

[code]

java -version

[code]

If the tests are re-run with the JDK version above they should pass.

[2021-09-14 14:11] 0xdaryl commented on #13410
We did the work to verify that the floating point semantics are correctly followed by the JIT for JDK17 for all the processor architectures OpenJ9 supports.  There is cleanup work required to remove legacy strictFP paths from the JIT.  I don't plan on forcing the cleanup work into JDK17.

[2021-09-14 14:11] 0xdaryl commented on #12759
We did the work to verify that the floating point semantics are correctly followed by the JIT for JDK17 for all the processor architectures OpenJ9 supports. There is cleanup work required to remove legacy strictFP paths from the JIT. I don't plan on forcing the cleanup work into JDK17.

[2021-09-14 14:14] jdekonin commented on #12719
Both have been upgraded and rebooted.  There are 4 packages ( build-essential, gcc, g++ and cpp ) blocked for upgrade for reasons I am not certain on.  @rajdeepsingh1 can you please follow up with them?

[2021-09-14 14:15] vij-singh commented on #13457
@pshipton  Should this be re-tagged to VM ?

[2021-09-14 14:38] mikezhang1234567890 commented on #12719
Yes, trying to implement a workaround to this issue, however adding a small read after `mprotect` sets the protections to read only in `port/unix/protect_helpers.c` doesn't seem to fix the test.

[2021-09-14 14:40] dmitripivkine commented on #13504
Bad O-slot is reported:
[code]
this O-slot pointed to stack allocated object `0x424E98` but there is no object
[code]
Unfortunately my `jdmpview` can not show stack slots for this thread. The Scavenger crashed an attempt to walk this frame as well.
Test results are downloaded.

[2021-09-14 14:46] dmitripivkine commented on #13504
@pshipton @tajila Technically problematic frame is interpreted but most likely this bad object pointer has been passed from JIT frame. I am not sure should somebody from VM look to it

[2021-09-14 15:05] tajila commented on #13504
@fengxue-IS Can you please take a look at this

[2021-09-14 15:15] dmitripivkine commented on #11602
@srinayak666 Can this item be closed?

[2021-09-14 15:32] failedpeanut commented on #11602
@dmitripivkine yes sure. Thank you!

[2021-09-14 15:41] pshipton commented on #13457
It's already tagged both vm and jit. Possibly VM needs to add the missing method or take some other action, but it's not clear if the crash is a vm or jit issue.

[2021-09-14 15:42] pshipton commented on #13504
Tagging vm as well since vm is taking the first look.

[2021-09-14 15:43] llxia commented on #13462
Thanks @tajila
The original testing did not set the openj9 branch to the release branch. Close this issue.

[2021-09-14 15:43] #13462 closed

[2021-09-14 15:45] #11602 closed

[2021-09-14 15:45] jdmpapin commented on #13411
I don't think there's anything suspicious about that backtrace in itself, no

[2021-09-14 15:51] DanHeidinga commented on #12759
Given the JEP is complete in 0.28, should this item be closed and a new item for the JIT cleanup work be opened?  Otherwise this gives the impression the JEP work is incomplete

[2021-09-14 16:00] pshipton commented on #12719
Assuming it still happens after the machine updates, we could just modify the test itself, at least that would stop the failures in the builds.

[2021-09-14 16:00] jdmpapin commented on #13457
I don't think there is a missing method. The instances of `InternalError` were from a grinder running an old build, so they're just a distraction

However, in the latter part of [the same comment in which I mentioned the grinder](https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-915601449), I also described some core file analysis I had done. It looks like we're crashing in the VM

[2021-09-14 16:09] pshipton commented on #13457
@tajila pls see https://github.com/eclipse-openj9/openj9/issues/13457#issuecomment-919289896

[2021-09-14 16:41] babsingh commented on #13499
@nbhuiyan @jdmpapin @0xdaryl All frames in the failing thread are JIT compiled. Referring to the `stackslots`, there is corruption in the **JIT inline frame's `cp` value (= `0x0100000000FFFBE0`)**. Can you please confirm if this is a JIT issue? A link to the core files is provided in the issue's description.

**Note:** I have also added the `project:MH` tag since this issue is MethodHandle related

[2021-09-14 16:42] BradleyWood commented on #13478
So it looks like it failed to compile `function/Java14andUp`. I haven't been able to get it to fail using the same JDK and test on my machine. Has this failure been seen again since?

[code]

[code]

[2021-09-14 17:24] AdamBrousseau commented on #13462
Seems the core pattern was reset on reboot. There is another line in the playbook the make it stick
in `/etc/sysctl.conf`
[code]
Hopefully resolved now.

[2021-09-14 17:36] babsingh commented on #13368
### Google search for `exit code: 137` in a Java app

The search indicates that

**Ref 1:**  [Java Application gets Out of Memory exit code 137](https://community.pivotal.io/s/article/Java-Application-gets-OutOfMemory-Exit-Code-137-due-to-MALLOCARENAMAX?language=en_US#:~:text=Your%20Java%20application%20is%20getting,NOT%20the%20JVM%20hitting%20OOM\).&text=Java%20application%20is%20under%20high,for

[2021-09-14 17:39] BradleyWood commented on #13411
It must have something to do with vtables.

[code]

[2021-09-14 17:54] hzongaro commented on #13369
I've not been able to reproduce the failures so far.

[2021-09-14 17:58] nbhuiyan commented on #13127
`java/lang/StringConcatHelper.prepend` was originally invoked via invokedynamic. After inlining about 3 levels, we ended up with a `linkToStatic` call that the MethodHandleTransformer could handle as the MemberName was known. The JIT dump available from the last crash was incomplete, so I am unable to get a full picture of how the different transformations resulted in `r30` being a `MethodType` ob

[2021-09-14 18:35] BradleyWood commented on #13411
In the snippet below: `symRef->getSymbol()` is not a (TR::ResolvedMethodSymbol *) and therefore the cast is illegal.

https://github.com/eclipse-openj9/openj9/blob/1b9a288d02fee9e10902691213f9a19407228120/runtime/compiler/env/VMJ9.cpp#L5616-L5620

https://github.com/eclipse/omr/blob/2255420d6483a2c136892bf9cac3775f69a28961/compiler/il/OMRSymbol_inlines.hpp#L94-L98

Changing the assert to TR_ASERT_

[2021-09-14 18:46] a7ehuo commented on #13450
8x build passed. 2x builds were unfinished which are unrelated to this issue ([10579](https://hyc-runtimes-jenkins.swg-devops.com/view/OpenJ9%20-%20Personal/job/Pipeline-Build-Test-Personal/10579/), [10584](https://hyc-runtimes-jenkins.swg-devops.com/view/OpenJ9%20-%20Personal/job/Pipeline-Build-Test-Personal/10584/))

[2021-09-14 18:52] pshipton commented on #13369
I'll go ahead and close, we can reopen if seen again.

[2021-09-14 19:39] 0xdaryl commented on #13127
Closing per Nazim's assessment.

[2021-09-14 19:39] #13127 closed

[2021-09-14 19:45] 0xdaryl commented on #13411
Are you able to get a tracefull log of the failing method up until the crash, or is a jitdump produced?

[2021-09-14 19:56] llxia commented on #13464
The core file pattern problem is fixed on the machine and the [test passed](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/18133). Close this issue.

[2021-09-14 19:56] #13464 closed

[2021-09-14 20:38] BradleyWood commented on #13411
I can get both

[2021-09-14 21:08] pshipton commented on #13478
Not seen since. I'll close it assuming it was fixed by some other change, we can re-open if it's seen again.

[2021-09-14 21:13] JasonFengJ9 commented on #13180
Observed at JDK8 `aarch64_linux` `job/Test_openjdk8_j9_special.system_aarch64_linux_testList_4/81/`
[code]

Another assertion failure occurred at same job.
[code]

[2021-09-14 21:18] JasonFengJ9 commented on #10460
Another occurrence at `job/Test_openjdk8_j9_special.system_s390x_linux_testList_4/92/`

[code]

[2021-09-14 21:23] JasonFengJ9 commented on #13477
Observed at JDK11 `aarch64_linux` `job/Test_openjdk11_j9_special.system_aarch64_linux_testList_3/73/`
[code]

[2021-09-14 21:23] pshipton commented on #13368
I think ub16-ppcle-1 is the only external more modern / faster machine we have (Power8), the only machine from osu in the builds. The others are all older hardware at unb. I can disable it temporarily but that is not a fix. Plus it also occurs internally on other machines, other platforms, see https://github.com/eclipse-openj9/openj9/issues/13368#issuecomment-916834915. It didn't occur before jdk1

[2021-09-14 21:25] pshipton commented on #13368
Machine has been disabled for the builds tonight anyway.

[2021-09-14 21:27] pshipton commented on #13368
Note the very first failure is on cent7-ppcle-3

[2021-09-14 21:31] hzongaro commented on #13369
Re-opening - I was able to reproduce the failure.

[2021-09-14 21:33] ymanton commented on #13167
I've been running this manually in a loop for hours on ppc64le and I'm not seeing any failures so far. All it does is throw exceptions so unless I can reproduce it and get a core out of it there's nothing to look at yet. @fengxue-IS can you point me to the grinder that failed 14/15 times if its still around? There must be some factor I'm missing.

[2021-09-14 21:39] JasonFengJ9 commented on #13369
Observed at JDK8 `aarch64_linux` `job/Test_openjdk8_j9_special.system_aarch64_linux_testList_4/81/`
[code]

[code]

[2021-09-14 22:00] a7ehuo commented on #13181
I'm trying to see if I could get more information out when it just reports test failed. I tried to set `dumpRequested` to true in `LoadTestRunner`. The javacore isn't useful because the backtrace is where it generates the dump [1] not where the test fails.  I also tried to instrument `testLambdasWithMultipleThreads` to collect the exception information but the stdout doesn't seem captured by `exec

[2021-09-15 04:14] fengxue-IS commented on #13167
@ymanton I thought that is the issue to be resolved, I don't think the grinder I ran is still viewable. will try launching another tomorrow

[2021-09-15 08:54] Akira1Saitoh commented on #13503
The problematic method is `jdk/internal/org/objectweb/asm/ClassReader.accept(Ljdk/internal/org/objectweb/asm/ClassVisitor;[Ljdk/internal/org/objectweb/asm/Attribute;I)V`.

In the trace below, the register dependency added to the `cbnz` instruction contains `w25`, but `w25` is spilled and assigned to the source register of that instruction. As a result, value in the w25 is destroyed.

[code]

[2021-09-15 11:27] JasonFengJ9 commented on #13167
Occurred at a latest JDK17 `0.28` release at an internal build `/job/Test_openjdk17_j9_extended.functional_ppc64le_linux_Personal/37/tapResults/`
[code]

[2021-09-15 12:29] pshipton opened #13515 "SharedClassesAPI_0 OutOfMemoryError"
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_2/99 - win2012-x86-8
SharedClassesAPI_0

https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly_testList_2/99/system_test_output.tar.gz

68.WL4.stderr
[code]
[code]
[code]
[code]

[2021-09-15 12:29] pshipton commented on #13515
@dmitripivkine fyi

[2021-09-15 12:33] pshipton commented on #13509
Maybe not just 10.11

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.functional_x86-64_mac_Nightly_testList_0/98/ - osx1014-x86-2
[code]

[2021-09-15 12:35] tajila commented on #13509
@mikezhang1234567890 can you please take a look at this

[2021-09-15 12:37] pshipton commented on #12719
Now the machines are unusable, related to `gcc: Command not found`, I've disabled them.
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_extended.system_s390x_linux_Nightly_testList_2/99
[code]

[2021-09-15 12:40] pshipton commented on #13509
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.functional_x86-64_mac_Nightly_testList_0/98/ - osx1011-x86-2
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_sanity.functional_x86-64_mac_Nightly_testList_1/93/ - osx1011-x86-2
https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.functional_x86-64_mac_Nightly_testList_0/94/ - osx1011-x86-1

[2021-09-15 12:41] tajila commented on #13457
@babsingh Please take a look at this

[2021-09-15 12:42] pshipton commented on #13509
I've disabled the 10.11 machines for now, we'll see if we can get through the builds without them.

[2021-09-15 12:54] pshipton commented on #13478
No such luck, here is another.
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.system_x86-64_linux_Nightly_testList_1/24 - cent7-x64-3
[code]

[2021-09-15 12:57] pshipton commented on #13457
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/24
https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Test_openjdk17_j9_sanity.openjdk_ppc64_aix_Nightly/24/openjdk_test_output.tar.gz

[2021-09-15 13:01] pshipton commented on #12896
Change is promoted and also merged to the 0.28 branch.

[2021-09-15 13:01] #12896 closed

[2021-09-15 13:19] pshipton commented on #9167
Created an internal issue for better tracking runtimes/openj9-openjdk-jdk11-zos/issues/1165

[2021-09-15 13:45] pshipton opened #13516 "ub20-x86-1 offline"
https://openj9-jenkins.osuosl.org/computer/ub20-x86-1/ - This agent is offline because Jenkins failed to launch the agent process on it.

SSH Connection failed with IOException: "ub20-x86-1: Temporary failure in name resolution"

@AdamBrousseau

[2021-09-15 13:46] pshipton opened #13517 "win2012-x86-5 is offline"
https://openj9-jenkins.osuosl.org/computer/win2012-x86-5/

@AdamBrousseau

[2021-09-15 13:48] pshipton commented on #13516
Tried relaunching the agent but you just get the same error again.

[2021-09-15 13:53] 0xdaryl commented on #13369
Failures like this on AArch64 may be #13507.  I'm not saying that definitively, but it is a possiblity.  That PR was just merged yesterday.

[2021-09-15 13:57] ymanton commented on #13167
Sorry, I meant that I'm not even reproducing the exceptions.

[2021-09-15 14:05] a7ehuo commented on #13181
I instrumented JUnitAdaptor::executeTest and managed to get the java backtrace on the failure. It looks to be MH related.

[code]

[code]

[2021-09-15 14:10] 0xdaryl commented on #13410
What is the next action on this issue?  Re-launching grinders ensuring the latest build is being used to try and reproduce the problem?

[2021-09-15 14:28] dusanboskovic commented on #13034
I believe this is also related - but to reinforce the data already mentioned in this issue, but I have also been receiving more cases where the system libraries are not being included in the jextract archive. For example, this is for SR6FP26 on xLinux, and all of the OS/root libraries are not included in the jextract:
[code]

[2021-09-15 14:54] fengxue-IS commented on #13488
I tried a 50x grinder and was not able to reproduce this issue`Test_grinder/job/Grinder/18126`
will try launching another to see if I can reproduce this failure

[2021-09-15 15:03] 0xdaryl commented on #13370
Tagging with the JIT component so this shows up on the JIT list.

[2021-09-15 15:27] JasonFengJ9 commented on #13477
The message "Completed 100.0%. Number of tests started=10" in the console output suggests this might be a test issue.

As per `STF Load Test Readme` [1], _Load test outputs periodic status reports. As well as showing progress these also prevent any outer test harness which treats output not being written to stdout as a hung test from doing so erroneously_.
_Load test outputs the string 'POSSIBLE H

[2021-09-15 15:31] JasonFengJ9 commented on #13358
Not observed in recent JDK17 runs.

Closing. (can re-open if it occurs again)

[2021-09-15 15:31] #13358 closed

[2021-09-15 15:36] JasonFengJ9 commented on #13167
Launched a grinder `/job/Grinder/18156/` w/ JDK from https://github.com/eclipse-openj9/openj9/issues/13167#issuecomment-919935131

[2021-09-15 15:45] 1a2s3d4f1 commented on #13409
Thank you reply this analysis.
 Java option "-XXgc:tarokRegionMaxAge=2" can get better performance(load world stage).
The game loader time test:
Gencon:
[code]
Balanced(no java option):
[code]
Balanced(added options):
[code]
This java options"-Xgc:regionSize=67108864"cause longer gc time. Remove it can get better performance.
[verbosegc.20210914.235504.5200.zip](https://github.com/eclipse-openj9/o

[2021-09-15 15:59] JasonFengJ9 commented on #13359
Launched a 100x grinder at `job/Grinder/18158/` w/ a recent JDK17 `0.28` release zlinux build
[code]

[2021-09-15 16:23] fjeremic commented on #13409
@amicic any chance some of the balanced improvements for hypothesis benchmarks you spoke about yesterday might help here? The eden sizing seems relevant to some extent.

[2021-09-15 16:48] keithc-ca commented on #13389
@pshipton, I assume you mean the option would restore the old (current) behavior, otherwise the default would still be inconsistent with openjdk? Got a proposal for the option name?

The behavior of `getSystemCpuLoad()` should mirror that of `getProcessCpuLoad()` (either both or neither should return -1 the first time either is called).

[2021-09-15 17:05] rwrose2ibm opened #13519 "GridGain server crashing on z/OS when I increase the Java Heap Size (JDK 8 SR6 FP35)"
Java -version output
--------------------
java version "1.8.0_301"
Java(TM) SE Runtime Environment (build 8.0.6.35 - pmz6480sr6fp35-20210714_01(SR6 FP35))
IBM J9 VM (build 2.9, JRE 1.8.0 z/OS s390x-64-Bit Compressed References 20210622_7763 (JIT enabled, AOT enabled)
OpenJ9   - b1f3adb
OMR      - c2f4a18
IBM      - c24a144)
JCL - 20210625_01 based on Oracle jdk8u301-b09

Summary of problem
-------