[2019-03-20 18:42] hangshao0 commented on #4984
Stacktrace is:

[code]

[2019-03-20 18:43] keithc-ca commented on #5178
I think we should modify the existing commands as much as possible rather than expect users to figure out which command to use for a given object. So the existing `!j9object` and `!fjobject` commands should show all inlined objects; the names should reflect the paths from the context to the field (e.g. `en.x` below). Perhaps we could also include the inlined containers as well:
[code]
The name `!f

[2019-03-20 18:45] fengxue-IS opened #5189 "Enable Stack Protect option"
Adding stack protection flag to compiler to prevent any stack overflow security vulnerabilities

GCC: `-fstack-protector`
XLC: `-qstackprotect`

Previous PR #4842

[2019-03-20 18:50] hangshao0 commented on #4984
SH_CompositeCacheImpl::shutdownForStats() set _started to false right before calling into unprotectHeaderReadWriteArea(). But inside unprotectHeaderReadWriteArea() we are asserting _started is true.

[2019-03-20 18:59] andrew-m-leonard commented on #5032
@DanHeidinga I've kicked off a jdk"head" merge running on my local VM in the hope it will work (I think it should). We should look at moving jdk"head" to the new merge script soon I think...

[2019-03-20 19:00] andrew-m-leonard commented on #5032
@DanHeidinga My new merge job is now ready, however we will need to force push the master & openj9 branches...

[2019-03-20 19:08] MarkQingGuo commented on #5178
The `st` and `en` fields point to the same object in the sample, so the addresses are the same here

[2019-03-20 19:15] mikezhang1234567890 commented on #4859
The batik issue also occurs on the latest JDK8 Hotspot build from Adopt:
[code]

I also found a [blog post](https://www.stichlberger.com/software/workaround-for-batiks-noclassdeffounderrorclassnotfoundexception-truncatedfileexception/) that suggests that batik uses a Oracle class not found in OpenJDK builds. Not sure if we can do anything here.

[2019-03-20 19:22] keithc-ca commented on #5178
How can that be? We're talking about `flattened` fields.
Also, the offset of `en` should be 8 in a `FlattenedLine2D` object.

[2019-03-20 19:34] MarkQingGuo commented on #5178
[code]
I thought you were taking about `Line2D` : fields are not flattened in `Line2D`, so references `st` and `en` can refer to the same object. Offset of `en` is 4 in a `Line2D` object.
It's impossible in `FlattenedLine2D`. sorry for that. : )

[2019-03-20 19:35] cathyzhyi commented on #4453
@vesuppi I think the change looks ok. Could you paste the crashing backtrace here? Is the failure easy to reproduce?

[2019-03-20 19:37] tajila commented on #5178
Line2D does not contain flattened fields, only FlattenedLine2D. L-types are never flattened.

The purpose of the first 3 examples was to show that current DDR commands do not work for flattened fields. I simply pasted what DDR currently outputs. I have updated the description to make it more clear.

The intention is that users do not have learn any new commands. Currently, users do not need to thi

[2019-03-20 20:25] #4658 closed

[2019-03-20 20:25] #4663 closed

[2019-03-20 20:49] dcendents commented on #4904
I did use the new build and increased the memory to 6GB. It still crashed, the files are on my google drive (`eclipse-20190320-2.7z`)

Also bear in mind that the previous setting I had (`-Xmx3072m`) does not crash without the `-XVerify:none` flag, so I would be inclined to think the culprit is not a lack of memory.

[2019-03-20 20:57] #5149 closed

[2019-03-20 21:03] pshipton commented on #5032
@andrew-m-leonard I think we need a separate dedicated issue to discuss this, containing some explanation of what is happening.

[2019-03-20 21:07] Mesbah-Alam commented on #3939
I ran the HCRLateAttachWorkload test on jdk11 OpenJ9 Linux SDK and received a different error. I wonder if it is related to the ASM version issue ?

Below are the details (Please let me know if you want a new issue raised for this).

[code]

**Java version:**

[code]

**Grinder link:**
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1327/console

[2019-03-20 21:11] ChengJin01 commented on #4904
We already decode the real native stack via Windbg as follows:
[code]
Will check what happened to the corresponding code in there.

[2019-03-20 21:19] a7ehuo commented on #5163
Thanks @dmitry-ten! We need to handle this on both the client side and the server side.

On the server side, as you mentioned, when the server receives a compilation request
from the client with `_useAotCompilation` set but the remote AOT is disabled on the server, the server will discard the compilation request.

On the client side, we also need to make sure the client will not request a remote c

[2019-03-20 21:23] pshipton commented on #3939
Looks like a problem with the test, using the wrong version of ASM that doesn't understand Java 11.

[2019-03-20 21:33] dsouzai opened #5195 "Re-Enable SVM during startup"
https://github.com/eclipse/openj9/pull/5180 disables the SVM during startup. This issue is to ensure we re-enable it. Doing so very likely requires solving https://github.com/eclipse/openj9/issues/4897.

[2019-03-20 21:36] vesuppi commented on #4453
@cathyzhyi

Hi Yi,
Thanks a lot for the help! Yes, here's the crash when running `pmd`:

[code]

So I am not sure why my build doesn't have the debug symbol info. I followed the standard build instructions on the openj9 website. What I pasted is probably not helpful. But that's a separate issue.

Also this crashes probabilistically, maybe it crashes once in every 3 runs. My JIT command was `-Xjit:

[2019-03-20 21:38] vesuppi commented on #4453
@cathyzhyi

Here's some real backtrace that I can get with gdb:
[code]

[2019-03-20 21:42] pshipton commented on #36
Mac support for jdk 8, 11, 12 is in 0.14.0. Rolling this forward for tracking the other mac defects, although I'm not sure if this Issue has value any more. https://github.com/eclipse/openj9/projects/7 is also used for tracking remaining Mac issues. @DanHeidinga should we close this?

[2019-03-20 22:51] andrew-m-leonard commented on #5032
@pshipton that would be here: https://github.ibm.com/runtimes/openjdk-contribution/issues/758

[2019-03-20 23:40] alistair23 commented on #5058
Hello,

I would like to add some comments.

First off I am a large contributor to meta-riscv and the Yocto/OpenEmbedded world in general. Please let me know what you need and I will help wherever I can. The less time you all spend on getting Linux running the more time you can spend on porting Java :)

Please do not spend time on the HiFive1 board OR 32-bit RISC-V. The HiFive1 board is very small,

[2019-03-20 23:55] alistair23 commented on #5058
If you want to do native work you can also just run Fedora on QEMU and dnf install all the packages you need.

Either way, let me know how to help and I will do what I can

[2019-03-21 00:16] alistair23 commented on #5058
Something else worth noting is that most of the repos on the github riscv account are out of date. For Linux, GNU tools and QEMU you should use mainline not the riscv forks.

[2019-03-21 00:30] #5175 closed

[2019-03-21 01:07] ChengJin01 commented on #5058
@alistair23 , many thanks for your recommandation. Actually I already finished compiling everything including EQMU with option 1)  (just a minor issue with ntpd which can be ignored for now). We will move forward to the next step to compile our code if everything goes fine.
![image](https://user-images.githubusercontent.com/18036229/54728395-01bcd780-4b54-11e9-98ee-f2658db87edf.png)

The problem w

[2019-03-21 02:29] #5134 closed

[2019-03-21 02:53] pshipton commented on #2507
Deferring this until all the DDR testing is running.

[2019-03-21 04:14] alistair23 commented on #5058
Great, I'm glad you got it working!

I'm not sure how you eneded up with a 9GB image, my full OpenEmbeded desktop images with debug symbols and self hosted toolchains aren't that big.

Either way can you keep me updated with the progress? Also let me know if there is anything that I can do to help.

[2019-03-21 04:35] ChengJin01 commented on #5058
@alistair23 ,  I didn't try other options except `bitbake core-image-full-cmdline` guided at https://github.com/riscv/meta-riscv and the whole folder there kept increasing to over 9GB (eventually screwed up my VM due to out-of-space).

Basically the compilation of our code will be done with the 64bit cross-compiler outside of QEMU and mount the whole build inside to get executed in there.  So we d

[2019-03-21 04:58] DanHeidinga commented on #36
Yes, the project is sufficient for tracking mac-specific issues

[2019-03-21 04:58] #36 closed

[2019-03-21 05:25] alistair23 commented on #5058
Ah, the temporary files can get big. That makes more sense.

Great! I am subscribed to this issue so I will keep and eye on things and help where I can. QEMU is very stable and the RISC-V support is also mature. If possible it would be best to build it from the master branch in mainline QEMU. Otherwise the 3.1+ releases are in good shape.

Good luck with this. Java is one of the few missing pieces

[2019-03-21 11:07] PhilWakelin commented on #5156
[IARV64 GETSTOR](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.1.0/com.ibm.zos.v2r1.ieaa900/iea3a9_Description1.htm) allocates storage in segments, "A segment represents one megabyte of virtual storage on a one megabyte boundary".

So 1MB is the smallest allocate unit of stack, and by default the LE runtime options for STACK64/THREADSTACK64 default to a max of 128M, so the stacks can gro

[2019-03-21 12:31] pshipton opened #5197 "Test-extended.functional linux_x86 testMemoryLeaks IdleGCManager.cpp:40"
External builds didn't work last night, but internal builds on linux_x86 are showing the following failure.
This isn't a new failure, not sure why it doesn't show up in the external builds.

VmArgumentTests_0
[code]

[2019-03-21 12:31] pshipton commented on #5197
@dmitripivkine

[2019-03-21 12:44] pshipton commented on #5197
Also occurs in Test-sanity.functional cmdLineTester_GCRegressionTests_3 `Testing: -verbose:gc -Xcheck:memory - check for memory corruption`

[2019-03-21 12:56] dmitripivkine commented on #5197
Memory for MM_IdleGCManager is not released... but it is not a regression. This piece has been missed in original design a few years ago. I don't know what is triggered detection of the problem now

[2019-03-21 13:10] pshipton commented on #5197
This isn't a new failure, not sure why it doesn't show up in the external builds.

[2019-03-21 13:36] llxia opened #5198 "Regenerate test jobs to set artifactory info"
After discussion with @jdekonin  and @AdamBrousseau , we have decided to generate the test jobs with the default artifactory info. And upstream jobs do not need to pass artifactory details to the test pipeline (PR https://github.com/eclipse/openj9/pull/5179).

- [x] [Test job template](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/testJobTemplate) will be updated to ha

[2019-03-21 14:10] pshipton commented on #4858
This seems unlikely to be delivered before the 0.14 code split Monday. However we will make an assessment of the change when it is ready to determine if it can go into 0.14 after the code split.

[2019-03-21 14:21] DanHeidinga commented on #2813
@dnakamura Can you update this with the current state?

[2019-03-21 14:22] fjeremic opened #5199 "Intermittent crash in JIT on zLinux running mauve ChoiceFormat.parse Test"
@hzongaro commented on [Thu Mar 21 2019](https://github.com/eclipse/omr/issues/3682)

We see an intermittent crash in the JIT following LoopVersioner while compiling
[code]
at scorching.  Here's part of the call stack:

[code]

---

@Leonardo2718 commented on [Thu Mar 21 2019](https://github.com/eclipse/omr/issues/3682#issuecomment-475235665)

At first glance, this seems like a Jave problem so I p

[2019-03-21 14:23] sophia-guo commented on #5049
Same issue;
java/rmi/activation/Activatable/createPrivateActivable/CreatePrivateActivatable.java

Code:

[code]

[2019-03-21 14:43] hzongaro commented on #5199
Here's some analysis from debug sessions:

[code]

The crash occurs at this point in `TR_RegionStructure::removeEdgeWithoutCleanup` https://github.com/eclipse/omr/blob/1cf8f4aedba040079c217af705aef7dfbf6dfe1d/compiler/optimizer/Structure.cpp#L1242-L1246

[code]

$r3 is `edge` (0x0); $r4 is `isExitEdge` (0x1)

$r15 in the caller (`removeEdge`) was 0x79ae9878:  saved registers R8 to R15 at start of

[2019-03-21 14:50] Mesbah-Alam commented on #3939
Yes. The test is kept disabled on JDK11. It is only going to be run in JDK8 builds.

[2019-03-21 15:35] DanHeidinga commented on #3725
@dnakamura What's the next step for this issue?

[2019-03-21 15:37] #4965 closed

[2019-03-21 15:37] #5012 closed

[2019-03-21 16:19] hzongaro commented on #5199
Looking at a `jitdump` from another run with the same compiler, I saw that this crash occurred in a run of `TreeSimplification` after running `LoopVersioner`.  I was able to reproduce the failure with `traceLoopVersioner` enabled, and as before $r7 held the address of `from` and $r6 held the value of `toNumber` at the point of the crash:

[code]

So the exit edge that was being searched for was 34

[2019-03-21 16:36] hzongaro commented on #5199
I'd be happy to provide more details for the previous comment if anyone needs them.  In any event, the problem appears to crop up in https://github.com/eclipse/omr/blob/1cf8f4aedba040079c217af705aef7dfbf6dfe1d/compiler/optimizer/LoopVersioner.cpp#L4819-L4834 at the point of the call to
[code]

This replaces the structure for the invariant block in the loop's parent structure with the newly created

[2019-03-21 17:42] llxia commented on #5198
Test jobs for JDK8, 11, 12, 13 are regenerated with the default artifactory info.

[2019-03-21 17:43] #5198 closed

[2019-03-21 17:46] #5013 closed

[2019-03-21 17:47] avermeer commented on #4921
Hello, is there a need for more inputs from my side to get this GPF analyzed ?

[2019-03-21 18:11] pshipton opened #5203 "Test-sanity.functional-JDK11-linux_x86-64 jsr335tests_2 testAnonClassCodePaths NullPointerException"
Occurred in omr acceptance
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/595
jsr335tests_2
[code]

[code]

[2019-03-21 18:32] mikezhang1234567890 commented on #4859
The tomcat issue also occurs with the JDK8 Hotspot build on AdoptOpenJDK. Seems like every page returns status 500 because of:
[code]

[2019-03-21 18:55] pdbain-ibm commented on #4640
@ben-walsh Does this occur on Linux?

[2019-03-21 20:09] pshipton commented on #3611
This doesn't appear ready to be delivered in the 0.14 release. @DanHeidinga should it be moved to the next release?

[2019-03-21 20:42] pshipton commented on #4921
@ChengJin01 have you had a chance to look at this?

[2019-03-21 20:47] pshipton commented on #4985
Fixing this won't make the 0.14 release.

[2019-03-21 20:49] pshipton commented on #2049
@DanHeidinga does this need to be moved to the 0.15 milestone?

[2019-03-21 21:17] harryyu1994 commented on #5147
Fixed by PR #5167

[2019-03-21 21:17] #5147 closed

[2019-03-21 21:18] harryyu1994 commented on #5108
Fixed by #5126

[2019-03-21 21:18] #5108 closed

[2019-03-21 21:19] harryyu1994 commented on #5131
Fixed by #5143

[2019-03-21 21:19] #5131 closed

[2019-03-21 21:25] #4984 closed

[2019-03-21 21:31] pshipton commented on #5109
Machine is active again so I assume this is resolved.

[2019-03-21 21:31] #5109 closed

[2019-03-21 21:35] cathyzhyi commented on #4453
Yea, the crashing place is in EA but it could be that something was messed up earlier. Could you try adding trace option for the crashing compiling method `java/lang/ClassLoader.getClassLoadingLock(Ljava/lang/String;)Ljava/lang/Object;` using -Xjit:{java/lang/ClassLoader.getClassLoadingLock(Ljava/lang/String;)Ljava/lang/Object;}(log=logfile.dmp,traceEscapeAnalysis,tracefull,traceilgn)? `tracefull`

[2019-03-21 21:51] pshipton commented on #5032
@JasonFengJ9 fyi
The latest jdk stream changes have been merged. StringBuffer is the same in the openj9 branch as master. The same failures still occur.
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDKnext-linux_ppc-64_cmprssptrs_le-OpenJ9/15

[2019-03-21 22:01] pshipton commented on #5032
`new StringBuffer((CharSequence)new StringBuffer("test2"))` produces a StringBuffer with toString() `tes`

[2019-03-21 22:18] ChengJin01 commented on #4904
The core dump shows the crash occurred when the signature of method is NULL due to a non-NULL romMethod in which there is no value in there:
[code]
To figure out what happened to this romMethod, I need to compile another build with new tracepoints to double-check the corresponding romClass and the location of the failing romMethod in the romClass.

[2019-03-21 22:44] dnakamura commented on #3725
just #4928

[2019-03-22 00:04] pshipton commented on #5032
@JasonFengJ9 a hotspot build doesn't have the same behavior, so we need to look into why it occurs with OpenJ9. Using -Xint doesn't affect the output.

[2019-03-22 02:36] knn-k commented on #5018
It turned out that there was mismatch between libcrypto.so.1.1 I used and the OS version.
I switched to recent version of Debian aarch64, and my JDK build with `--with-openssl=path_to_library` worked as expected:

I will add comment to the building instructions on building with OpenSSL.

[2019-03-22 03:16] JasonFengJ9 commented on #5032
Yeah, `RI` does work. `OpenJ9` patched with `StringBuffer.class` from `RI` still fails. It is an encoding problem and appears related to `toString()`.

[2019-03-22 09:53] groeges commented on #5018
Excellent. Glad this now all works correctly.

[2019-03-22 10:29] ben-walsh commented on #4640
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1316/consoleText (zLinux) finally completed - that shows such failures BUT not consistently.

I have kicked off an xLinux run - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1339 and pLinux run - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1340.

[2019-03-22 10:47] ben-walsh commented on #4640
xLinux 3x clear - rebuilding with 30x - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1343
pLinux 3x clear - rebuilding with 30x - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1344

[2019-03-22 13:02] #5197 closed

[2019-03-22 13:03] DanHeidinga commented on #3611
Agreed.  The new design for this - https://github.com/eclipse/omr/pull/3647 - is still a draft PR.

[2019-03-22 14:07] vesuppi commented on #4453
@cathyzhyi

Hi Yi,

The command wouldn't run, it said

[code]

[2019-03-22 14:07] ben-walsh commented on #4640
Both xLinux and pLinux 30x runs clear.

[2019-03-22 14:12] pdbain-ibm commented on #4640
Sounds like a timing issue.  Will investigate.

[2019-03-22 14:25] pshipton commented on #5156
The internal build on this (412759) passed all the sanity tests, for both 31-bit and 64-bit z/OS builds.

[2019-03-22 14:28] ben-walsh opened #5208 "JTReg test failure - zLinux : sun/nio/cs/TestStringCoding.java"
Intermittent failure ...

[code]

... of test https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/sun/nio/cs/TestStringCoding.java observed on zLinux.

10x run showing 20% failure rate : [consoleText.txt](https://github.com/eclipse/openj9/files/2996921/consoleText.txt) (external)
10x run showing 0% failure rate : [consoleText.txt](https://github.com/eclipse/openj9/files/299691

[2019-03-22 14:33] ben-walsh commented on #4640
Agreed. I've kicked off an internal 100x run to gather more evidence. Will update this issue with console text once it has completed.

[2019-03-22 14:51] fjeremic commented on #5208
@dchopra001 can you take a look at this guy? I'm not aware of any recent changes in this area. The test is not too informative. i.e. it does not tell us what the byte arrays contained. Thankfully the test looks easy to modify so you can alter it to print out the failing arrays and that may give us a hint of what went wrong.

[2019-03-22 15:24] cathyzhyi commented on #4453
@vesuppi sry I forgot, you need single quote around the jit options `'-Xjit:{java/lang/ClassLoader.getClassLoadingLock(Ljava/lang/String;)Ljava/lang/Object;}(log=logfile.dmp,traceEscapeAnalysis,tracefull,traceilgen)'`

[2019-03-22 16:13] JasonFengJ9 commented on #5032
Here is how the failure occurred:
1. `new StringBuffer("test2")` constructed a `StringBuffer extends AbstractStringBuilder` object `SB1` with a `String` object `"test2"` which is encoded as `UTF16`, and the `coder` within this `StringBuffer` object is set to `UTF16` as well;
2. `new StringBuffer((CharSequence)new StringBuffer("test2"))` constructs second `StringBuffer` object `SB2` with first `Str

[2019-03-22 16:22] llxia commented on #4643
Noticed the same failure in PR build: https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-aix_ppc-64_cmprssptrs-OpenJ9/428/tapResults/

[2019-03-22 16:34] ChengJin01 commented on #4904
@dcendents ,  I already sent to you the link of the compiled build (via Google Drive) with new tracepoints to keep track of the rom classes. Hopefully it should show us something related to the failing method in this rom class.

The option in Eclipse.ini remains the same as before to trigger the crash.

[2019-03-22 16:39] hangshao0 commented on #4976
It is unlikely to happen. You may need to move this to the next release. @DanHeidinga

[2019-03-22 17:04] ben-walsh commented on #4640
100x run result : [consoleText.txt](https://github.com/eclipse/openj9/files/2997509/consoleText.txt)

[2019-03-22 17:11] ben-walsh commented on #5208
The 100x run with -Xint (internal) is progressing extremely slow in comparison to the previous runs - 30+ minutes for each iteration - console log thus far : [consoleText.txt](https://github.com/eclipse/openj9/files/2997524/consoleText.txt)
At this rate, we'll likely only get 20 iterations in before the 10 hour job time limit kicks in.
The first 4 iterations have passed but I'm not confident that

[2019-03-22 17:14] vij-singh commented on #5023
@gita-omr @IBMJimmyk  Are we still ok for 0.14.0 ?

[2019-03-22 17:14] fjeremic commented on #5032
2. looks incorrect. Why is the assumption that the coder is `String.LATIN1`? Presumably if you disable compact strings on HotSpot (`-XX:+CompactStrings`) you should see the same behaviour as OpenJ9, no?

[2019-03-22 17:18] gita-omr commented on #5023
@vij-singh yes, it's already in.

[2019-03-22 17:27] dcendents commented on #4904
@ChengJin01 the dump files are on my drive (`eclipse-20190322.7z`)

[2019-03-22 17:28] JasonFengJ9 commented on #5032
`RI` does go bad with `-XX:-CompactStrings`.

[2019-03-22 17:38] AdamBrousseau opened #5210 "Regenerate test jobs to Add BUILD_TYPE"
I have created views with regexes to help sort the new separated jobs.
Please regenerate all the Test jobs to include the build type suffix
1. Nightly
1. OMR
1. Personal
1. Release

ex. Test-sanity.functional-JDK8-linux_x86-64_cmprssptrs_Nightly

Related #5182
cc @llxia

[2019-03-22 17:57] harryyu1994 commented on #5203
Launching a grinder to determine failure rate

[2019-03-22 18:13] pshipton commented on #4976
Since this is not a feature, but a bug fix, it can be delivered to the release after the code split. We'll look at the fix when it is ready and decide if it should go in.

[2019-03-22 18:18] pshipton commented on #5023
@gita-omr as the change is delivered, is there any reason to keep this open?

[2019-03-22 18:18] #5023 closed

[2019-03-22 18:25] gita-omr commented on #5023
Just recalled why I kept it opened. I wanted to make sure docs are updated.

[2019-03-22 18:33] pshipton commented on #5032
@andrew-m-leonard please see the above, which describes a bug in the openjdk jdk13 code when running with `-XX:-CompactStrings`

[2019-03-22 18:34] ChengJin01 commented on #4904
The snap trace indicates the crash occurred when handling the method `getLogger()Lorg/codehaus/plexus/logging/Logger;`
[code]
but the trace is still incomplete as compared to the results with windbg. I need to add more tracepoints to a couple of functions around the crash.

[2019-03-22 19:47] #4193 closed

[2019-03-22 19:48] #5156 closed

[2019-03-22 20:05] pdbain-ibm commented on #4640
Reproduced on Linux390.

[2019-03-22 20:08] #4936 closed

[2019-03-22 20:32] pshipton commented on #5048
@smithwil what about the decimal output, is that useful or should it be removed. Even as 32-bit it will print as negative unless this is also changed.

[2019-03-22 20:34] IBMJimmyk opened #5215 "Fix return values in GPUHelpers.cpp functions"
While dealing with #5014 it became evident that the GPUHelpers.cpp file could use some clean up.

Many of the functions inside GPUHelpers.cpp returned magic numbers or results that did not match the return type for no reason. Frequently the return values aren't actually used so this did not lead to functional issues but they should still be correct in case they are used in the future. The function

[2019-03-22 20:47] pshipton commented on #4932
We did find that `sort -V` doesn't work the older osx required to build jdk8. Among other things, this is fixed for jdk8 in https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/277

I believe Adopt is building jdk11 on an older osx version were `sort -V` also doesn't work.
[code]

I believe @keithc-ca has a fix for this.

[2019-03-22 21:05] dnakamura commented on #2813
Waiting on
eclipse/omr#3381
#5217
and then it should be resolved

[2019-03-22 21:31] pshipton commented on #4921
@JasonFengJ9 will look at this if @ChengJin01 is still busy with other issues.

[2019-03-22 22:06] harryyu1994 opened #5218 "Crash in tryFoldStaticFinalFieldAt in JITaaS Remote AOT mode"
JITaaS Server crashed during OpenJ9 Sanity, don't know yet which test trigged the crash, investigating

[code]

[2019-03-22 22:07] harryyu1994 commented on #5218
Investigating

[2019-03-22 22:36] harryyu1994 commented on #5218
this issue is a duplicate of https://github.com/eclipse/openj9/issues/5160, closing this one

[2019-03-22 22:36] #5218 closed

[2019-03-22 22:37] harryyu1994 commented on #5160
Working on a fix

[2019-03-22 23:31] vesuppi commented on #4453
@cathyzhyi

Hi Yi,

the `traceilgen` is not recognized by the VM. After removing `traceilgen` I got such files:

hmm github says
![image](https://user-images.githubusercontent.com/7697776/54858072-04950500-4cd9-11e9-8cbb-ad8df7615822.png)

I uploaded the files to https://gitlab.com/tongzhou/publicfiles/issues/1. Thanks!

[2019-03-22 23:37] ChengJin01 commented on #4921
Still working on other crash issue at #4904 on Windows. Will double-check on Windows when I got a change.

[2019-03-22 23:38] ChengJin01 commented on #5058
Working on other crash issue on Windows. Will get back to this once we address that problem.

[2019-03-23 00:41] ChengJin01 commented on #4921
@avermeer , I tried a couple of times with the same build [20190317](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2019-03-16-14-12/OpenJDK11U-jre_x64_windows_openj9_2019-03-16-14-12.zip) you mentioned above but unable to reproduce it on Windows.

Could you try to compress the core dumps and upload it to Google Drive and share it with me via jincheng@ca.ibm.com ?  I w

[2019-03-23 01:52] #3366 closed

[2019-03-23 01:52] #3444 closed

[2019-03-23 01:52] #3483 closed

[2019-03-23 12:48] pshipton commented on #5046
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-osx_x86-64_cmprssptrs/249
[code]

[2019-03-23 13:11] #5018 closed

[2019-03-23 15:19] Mesbah-Alam commented on #4091
The problem has been seen on Linux as well:

[code]

https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/269/tapResults/

Excluding the test from JDk8 on Linux platform.

[2019-03-23 15:30] pshipton commented on #4091
Re https://github.com/eclipse/openj9/issues/4091#issuecomment-475878099, these are not functional tests and we don't need these specific tests, they are just part of the system test load. We want testing to be robust and not depend on the exact setup of the machines. I'm happy to leave these sub-tests excluded forever.

[2019-03-23 18:14] dnakamura commented on #90
Things running behind due to some old PRs that fell on the back burner and got forgotten about, as well as having to deal with some unexpected flooding at my house. WIll work through the weekend to see if we can get things back on track

[2019-03-24 18:13] DanHeidinga commented on #90
Good luck with the cleanup!  And hopefully the rising temps don't lead to more.

[2019-03-24 18:23] DanHeidinga commented on #3483
A huge thank you to @mikezhang1234567890 and @keithc-ca for bringing DDR up on OSX!  This will greatly simplify debugging on OSX!

Congrats on landing this major feature.

[2019-03-25 01:16] knn-k opened #5221 "AArch64: Add DDR support"
DDR support for AArch64 is missing.

[2019-03-25 01:17] knn-k commented on #5221
See also #3656 for DDR support with 32-bit ARM.

[2019-03-25 04:36] ChengJin01 commented on #4904
@dcendents,  I just sent to you another compiled build with all tracepoints added. Theoretically it will show us what happened to those values before crash in memcmp.

[2019-03-25 08:10] SueChaplain commented on #5023
I've got the work captured for 0.14.0 @gita-omr - thanks

[2019-03-25 09:30] andrew-m-leonard opened #5223 "JDK12u JVM_INTERFACE_VERSION is now 6"
The jdk-updates/jdk12u stream has now updated the JVM_INTEFACE_VERSION to 6, we need to align openj9:
01:21:01  Fatal error: JVM interface version mismatch: expecting 6, got 5.
https://hyc-runtimes-jenkins.swg-devops.com/job/Build-JDK12-linux_x86-64_cmprssptrs/152/console

The following latest jdk12u extensions can be used to test with:
git@github.ibm.com:andrew-m-leonard/openj9-openjdk-jdk12test.

[2019-03-25 09:33] ashu-mehra opened #5224 "Use same mechanism to get memory stats in ExtendedOperatingSystemMXBeanImpl.java"
I noticed `ExtendedOperatingSystemMXBeanImpl.getFreePhysicalMemorySize()` has its own native method `getFreePhysicalMemorySizeImpl()` which uses port library API `j9vmem_get_available_physical_memory` for getting available memory in the system. It gets the value using `sysconf` without taking into account cgroup memory stats.

Other APIs in `ExtendedOperatingSystemMXBeanImpl` like `getFreeSwapSpac

[2019-03-25 10:34] ben-walsh commented on #5208
18 complete iterations without any failure from the request 100x -Xint run (internal) in 10 hours. It was then aborted per the Jenkins job timeout. Console log : [consoleText.txt](https://github.com/eclipse/openj9/files/3002818/consoleText.txt)

[2019-03-25 10:36] ben-walsh commented on #5208
@fjeremic @pshipton Let me know if there is anything else you need me to try.

[2019-03-25 10:56] smithwil commented on #5048
The decimal value representation of the errno2 can be removed. The decimal format for errno2 values is not used anywhere that I'm aware of, and z/OS product developers have told me the same thing.

[2019-03-25 11:34] ben-walsh opened #5225 "JTReg Test Failure - java/lang/Class/forName/NonJavaNames.sh"
Consistent failure ...

[code]

... of test https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/Class/forName/NonJavaNames.sh observed.

See [consoleText.txt](https://github.com/eclipse/openj9/files/3003021/consoleText.txt).

[2019-03-25 13:21] dcendents commented on #4904
@ChengJin01 eclipse will not start with that build

I've uploaded the dump files if that can be helpful (`eclipse-20190325.7z`).
Java seems to work OK though:

[code]

[2019-03-25 13:25] smlambert commented on #5225
Excluded via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1027

[2019-03-25 13:49] andrewcraik commented on #4516
@DanHeidinga I don't have a fix, but @0dvictor and I have had discussions on how we can reduce the length of the sequence of dependent loads. The key is likely to be changes in the register assigner so we don't keep picking rax creating these long stalls. @0dvictor is currently doing some work for throughput related to Concurrent Scavenge but looking at the RA is likely to be the next thing we wil

[2019-03-25 13:50] llxia commented on #3366
Remove `test excluded` label as the DDR tests are re-enabled on osx.

[2019-03-25 14:19] smlambert commented on #5208
Excluded via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1031

[2019-03-25 14:21] pshipton commented on #5223
@JasonFengJ9 can you please create the openj9 PR

[2019-03-25 14:23] pshipton commented on #4770
https://github.com/eclipse/openj9/issues/5223 was opened for jdk12. I'll close this one.

[2019-03-25 14:23] #4770 closed

[2019-03-25 14:25] pshipton commented on #5224
Set the milestone to 0.15, not as a commitment, but to ensure this isn't forgotten.

[2019-03-25 14:29] JasonFengJ9 commented on #5225
This is a dup of https://github.com/eclipse/openj9/issues/3048.
It appears the test expects an `Exception` instead of `ClassFormatError`.
As per Java doc [java.lang.Class.forName()](https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#forName-java.lang.String-), it throws:
[code]

[2019-03-25 14:31] JasonFengJ9 commented on #5223
@pshipton sure, will do.

[2019-03-25 14:32] ChengJin01 commented on #4904
@dcendents , the problem was caused by one of the new tracepoints which was incorrect in format (because we can't verify all of them locally). I will double-check and compile another one for you.

[2019-03-25 14:44] mpirvu commented on #4093
This item was implemented, so closing the issue

[2019-03-25 14:44] #4093 closed

[2019-03-25 14:44] #3635 closed

[2019-03-25 14:49] JasonFengJ9 commented on #4921
Reproduced the crash at `Linux AMD`, got stacktrace like https://github.com/eclipse/openj9/issues/4921#issuecomment-474097699

[2019-03-25 14:55] ben-walsh commented on #5225
This test passes against JDK12+Hotspot - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_x86-64_linux/202/testReport/java_lang_Class_GetPackageBootLoaderChildLayer/java/GetPackageBootLoaderChildLayer

[2019-03-25 14:57] ben-walsh commented on #5225
This test passes against JDK12+Hotspot - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_x86-64_linux/202/testReport/java_lang_Class_forName_NonJavaNames/sh/NonJavaNames

[2019-03-25 15:02] Mesbah-Alam commented on #4091
@pshipton - I'll add individual sub-test level excludes for each failing sub-test (which will remain excluded permanently, across all platforms and sdk versions), and include back all mauve load test suites on all platforms on both Hotspot and OpenJ9.

[2019-03-25 15:02] mpirvu commented on #5160
@harryyu1994 Harry, you mentioned above that were working on a fix. Do you have a PR for this?

One question I have is why this scenario is not encountered in non-AOT mode?

An easy solution is to teach `J9::ClassEnv::classHasIllegalStaticFinalFieldModification` to ask the client for the answer. We have other examples. However, if this query appears too often we may need to do something about it.

[2019-03-25 15:05] mpirvu commented on #5160
We can definitely cache the answer per compilation.
We can cache across compilations if the client keeps a list of classes for which this specific class field has changed. I expect to change very rarely.

[2019-03-25 15:15] andrewcraik commented on #5061
@sophia-guo since this is an issue getting some attention could you please reply to @cathyzhyi ?

[2019-03-25 15:21] mikezhang1234567890 opened #5230 "DDR: OSX core reader needs to support more than one native thread"
As @keithc-ca mentioned in https://github.com/eclipse/openj9/pull/5127#discussion_r268279437, the OSX core reader only considers one native thread. It needs to be extended to be able to read multiple threads.

[2019-03-25 15:22] #5124 closed

[2019-03-25 16:00] JasonFengJ9 commented on #5223
@andrew-m-leonard there is no `get_source.sh` at `openj9-openjdk-jdk12test.git` provided, could you try my change instead (repo: `https://github.com/JasonFengJ9/openj9`, branch = `jdk12iv`)?

[2019-03-25 16:08] fjeremic commented on #90
FYI a bunch of z/OS issues are fixed in [1]. I think we'll need all of them for OpenJ9 as well.

[1] https://github.com/eclipse/omr/pull/3693

[2019-03-25 16:19] sophia-guo commented on #5061
@andrewcraik sorry, missed the message.
@cathyzhyi  according to the java -version information:

[code]

The link is  https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2019-03-12-18-39/OpenJDK8U-jdk_x64_mac_openj9_2019-03-12-18-39.tar.gz

[2019-03-25 16:57] ChengJin01 commented on #4904
@dcendents , I already fix the problem with tracepoint and compiled another build (jdk8_openj9_build_v5.zip shared via Google Drive) for you to check.

[2019-03-25 17:11] andrew-m-leonard commented on #5223
@JasonFengJ9 i've just kicked off a build with it here: https://hyc-runtimes-jenkins.swg-devops.com/job/Build-JDK12-linux_x86-64_cmprssptrs/156/

[2019-03-25 17:46] pshipton opened #5238 "Docker images are installing gcc 4.8, but should be using gcc 7.3"
Looking at https://github.com/eclipse/openj9/blob/master/buildenv/docker/jdk8/x86_64/ubuntu18/Dockerfile but I expect others need to be fixed as well.

[2019-03-25 18:04] andrew-m-leonard commented on #5223
@JasonFengJ9 kicked off again as I had left the previous openj9_SHA in there!!
https://hyc-runtimes-jenkins.swg-devops.com/job/Build-JDK12-linux_x86-64_cmprssptrs/157/

[2019-03-25 18:10] llxia commented on #5210
Related to https://github.com/AdoptOpenJDK/openjdk-tests/issues/1037

[2019-03-25 18:38] Mesbah-Alam commented on #4091
I ran a few grinders to reproduce the "POSSIBLE HANG DETECTED" issue using the 3 variations of the mauve load tests:

**MauveSingleThreadLoadTest** :
OpenJ9 Java 8 : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder-systemtest/56/ <--fails
OpenJ9 Java 11: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder-systemtest/60 <--fails
HotSpot Java 8 : https://ci.adoptopenjdk.net/view/Test_

[2019-03-25 19:01] pdbain-ibm commented on #4640
Does not manifest on Linux X86.  Fails with `-Xint`.

[2019-03-25 19:05] dcendents commented on #4904
@ChengJin01 the dump files are on my drive (`eclipse-2019-03-25-2.7z`)

[2019-03-25 19:41] JasonFengJ9 commented on #5223
[code]

[2019-03-25 19:46] andrew-m-leonard commented on #5223
Yes I made a 2nd misstake! 3rd time lucky! and it Succeeds :-)
https://hyc-runtimes-jenkins.swg-devops.com/job/Build-JDK12-linux_x86-64_cmprssptrs/159/

So looks good @JasonFengJ9
Let me know if you're going to merge your fix, and I will kick off an auto-merge for the jdk12 extensions update.

[2019-03-25 19:47] andrewcraik commented on #4764
@yanluo7 could you take a look please and see what might be up with this?

[2019-03-25 20:38] harryyu1994 commented on #5160
We do encounter this in non-AOT mode. Also we don't hit this issue that often, so I don't think it's called that frequently. I'll check how frequent it is anyways.

[2019-03-25 20:45] pshipton commented on #5223
@andrew-m-leonard please contact me on Slack when you are ready to proceed and I will merge https://github.com/eclipse/openj9/pull/5235

[2019-03-25 20:50] kgibm commented on #1538
Note that in my tests at https://github.com/AdoptOpenJDK/openjdk-build/issues/692#issuecomment-476370646, `-Dsun.rmi.registry.registryFilter*` was not needed and the JVM does stop gracefully.

[2019-03-25 20:55] ChengJin01 commented on #4904
According to the snaptrace generated from eclipse-2019-03-25-2.7z:
[code]
it means the right_key (passed via exemplar ) was fine against the code below:
[code]
I need to split the tracepoint in `constraintHashEqualFn()` to check whether leftKey is a bogus pointer or not. If yes, the hashtable there might be messed up somehow.

[2019-03-25 20:59] JasonFengJ9 commented on #4921
**Update:**

The native stacktrace in question:
[code]

The corresponding code:
[code]

DDR output:
[code]

This occurred when checking if `from` module `jdk.translet` is allowed to access `to` module `java.xml` via `hashTableFind(toModule->readAccessHashTable, &fromModule)`. Apparently there are some unloaded modules within the `readAccessHashTable` which are supposed to be removed via `jvmfree.c

[2019-03-25 21:25] dmitry-ten opened #5243 "Running out of scratch memory during hot compilations"
When running AcmeAir at `initialOptLevel=hot`, some compilations fail with `compilationHeapLimitExceeded` error code. This happens because the compiler runs out of scratch memory, and some failures for large methods should be expected.
However, even after I increased scratch memory space to 2GB (scratchSpaceLimit=2000000), I still see these failures.
Most of the scratch memory is allocated from `J

[2019-03-25 21:26] dmitry-ten commented on #5243
@mpirvu, @andrewcraik FYI

[2019-03-25 21:40] andrew-m-leonard commented on #5032
OpenJDK bug raised: https://bugs.openjdk.java.net/browse/JDK-8221430
I have a fix in progress

[2019-03-25 22:51] andrewcraik commented on #5243
FYI @0dvictor as the x codegen expert atm

@dmitry-ten a loop is possible - we would need a trace of the compilation to see what is going on - a traceCG would be a good start but might also need to trace local RA to see what is going on in there.

[2019-03-25 23:09] pshipton commented on #4932
This is fixed now.

[2019-03-25 23:09] #4932 closed

[2019-03-25 23:21] #3577 closed

[2019-03-25 23:28] andrewcraik commented on #5061
Ok so I have used lldb to get a backtrace:
[code]

[2019-03-25 23:40] pshipton commented on #5135
I haven't seen this again.

[2019-03-25 23:40] #5135 closed

[2019-03-25 23:51] andrewcraik commented on #5061
so looking at the code the queryX86TargetCPUID includes code from x/runtime/X86Runtime.hpp which does call feGetEnv with the string "TR_DisableAVX".

looking at the disassembly of `__findenv` we see the string TR_DisableAVX is available in registers rbx and rdi. From what I can find `__findenv(name, offset)` and `name` being the first argument and the string being available in rdi matches up. `off

[2019-03-26 01:23] DanHeidinga commented on #5061
@sharon-wang Can you take a look at this?  @babsingh has done a bunch of the mac bringup work and is a good resource for help with mac-specific issues.

[2019-03-26 01:33] DanHeidinga commented on #4904
I'm actually surprised that we're registering classloading constraints if `-Xverify:none` is set.  Most (?) uses of the constraint checking functions are guarded to not run if the verifier isn't enabled.

The hashtable could be messed up if class unloading occurred as the cleanup code only runs with the verifier enabled:
https://github.com/eclipse/openj9/blob/0096ddb073d0b8c4c488d1988e56aa1ba6e8a3

[2019-03-26 03:04] pshipton opened #5247 "Build failure on win2012r2-x86-5"
Maybe a machine problem?
https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-win_x86-64_cmprssptrs-OpenJ9/90/
[code]

[2019-03-26 03:04] pshipton commented on #5247
@jdekonin

[2019-03-26 03:08] pshipton opened #5249 "aix71-p8-3 not enough space"
Machine disabled
https://ci.eclipse.org/openj9/job/Build-JDK11-aix_ppc-64_cmprssptrs/702
[code]

[2019-03-26 03:14] pshipton commented on #5249
@jdekonin

[2019-03-26 03:17] pshipton opened #5250 "win2012r2-x86-1 doesn't have any labels"
win2012r2-x86-1 doesn't have any labels and isn't running any builds or tests.
https://ci.eclipse.org/openj9/computer/win2012r2-x86-1/

[2019-03-26 03:17] pshipton commented on #5250
@jdekonin

[2019-03-26 03:24] pshipton opened #5251 "Issue with creating launcher for agent ub16-ppcle-4"
The following pipeline in OMR acceptance failed. It wasn't reported to jenkins, and I'm not sure if I can restart it. There is a rerun option in the Blue Ocean view, but not sure if this will allow the build to promote.

https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK8-win_x86-64_cmprssptrs/861
[code]

[2019-03-26 03:26] pshipton commented on #5251
@jdekonin @AdamBrousseau

[2019-03-26 04:04] ChengJin01 commented on #4904
I double-checked our code as to the check of classloading constraints (only via j9bcv_checkClassLoadingConstraintsForSignature) only when `(vm->runtimeFlags & J9_RUNTIME_VERIFY) != 0` (the verifier library won't loaded with `-Xverify:none` specified) .

It seems such checks were already added except two places as follows (including the crash in this issue):
1)
[code]
2)
[code]

So the fix should b

[2019-03-26 10:48] JasonFengJ9 commented on #5061
From adoptopenjdk test history [1], there was no recent failure as this PR.

Tried a `100x` internal jenkins grinder against latest nightly build, all passed (BUILD_LIST: `openjdk_regression`, CUSTOM_TARGET: `sun/rmi/rmic/manifestClassPath/run.sh`)

@sophia-guo could you check if this failure can be reproduced at latest adoptopenjdk builds?

[1] https://ci.adoptopenjdk.net/view/Test_openjdk/job/op

[2019-03-26 10:53] ashu-mehra commented on #2838
@bharathappali Looking at PRs #3348 and #4176 , I am more inclined towards #3348
 where cpu governor information is obtained from port library, whereas #4176 just puts up everything in a function and is difficult to comprehend and maintain.

I also suggest to use bits for storing list of cpus for each governor. In fact having port library apis for maintaining cpu sets would be a good addition I fe

[2019-03-26 11:22] pshipton commented on #5251
Another failure with no jenkins update.
https://ci.eclipse.org/openj9/blue/organizations/jenkins/Pipeline-Build-Test-JDK11-linux_x86-64_cmprssptrs/detail/Pipeline-Build-Test-JDK11-linux_x86-64_cmprssptrs/710/pipeline

[2019-03-26 13:08] jdekonin commented on #5247
On a passing job this line looks like this :
`JIT_SRCBASE:          C:\Users\jenkins\workspace\PullRequest-Compile-JDK8-win_x86-64_cmprssptrs-OpenJ9\build\windows-x86_64-normal-server-release\vm`

There have been no changes to the machine that I am aware of.  I rebooted the machine and started a rebuild of the (successful) nightly on it.
https://ci.eclipse.org/openj9/view/Build/job/Build-JDK8-win_

[2019-03-26 13:11] andrewcraik commented on #4657
@0dvictor do you have any update on this one - it is targeted to 0.14 and will need a fix soon if it is to make the release.

[2019-03-26 13:15] jdekonin commented on #5250
The system reverted to a previous change for some reason.  I have reversed that.  Machine is active again.

[2019-03-26 13:28] jdekonin commented on #5247
Looks fine now.  This can be closed.

[2019-03-26 14:09] andrewcraik commented on #5061
There is a failure in https://github.com/eclipse/openj9/issues/5046 which is crashing in __findenv as well so I don't know that the problem has actually gone away - it seems to be able to manifest in a number of different cases.

[2019-03-26 14:17] sophia-guo commented on #5061
@JasonFengJ9 The test has been excluded so there will be no failure as this PR from AdoptOpenJDK test history.

Tried a  20x [AdoptOpenJDK](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1353/consoleFull) with latest nightly build it wasn't reproduced.

[2019-03-26 14:35] ChengJin01 commented on #4904
@dcendents , just sent to you the link of two builds (via Google Drive):
jdk8_openj9_build_v6 is used to confirm the corrupt hash table for class loading constraints.
jdk8_openj9_build_fix_v1 with the fix above is to avoid the crash when the verifier is disabled with -Xverify:none

[2019-03-26 14:38] dmitry-ten commented on #5243
Ok, here is the [log](https://github.com/eclipse/openj9/files/3008615/poll.baseline.head.txt).
This is the part where an infinite loop begins:
[code]

[2019-03-26 14:44] andrewcraik commented on #4657
Having spoken to @0dvictor the issue was trying to get some kind of diagnostics around the point of the failure. He tried running the test repeatedly in a grinder but was not able to provoke the problem and logging and tracing of seemingly related methods in the passing runs showed no obvious problem. The issue with these tests is that when the JUnit harness sees the exception it is caught and squ

[2019-03-26 14:56] pshipton commented on #5223
Changes are merged.

[2019-03-26 14:56] #5223 closed

[2019-03-26 14:59] smlambert commented on #4657
You could add a variation in the playlist to add the -Xrs / -Xdump commandline options you mentioned to run the test regularly with those options
 https://github.com/eclipse/openj9/blob/master/test/functional/UnsafeTest/playlist.xml#L54

And/or in a Grinder run, append those commandline options using EXTRA_OPTIONS parameter?
<img width="335" alt="Screen Shot 2019-03-26 at 10 58 47 AM" src="https:/

[2019-03-26 15:29] MarkQingGuo commented on #5178
Is there a simpler way to find a flattened class's flags?
I attempt to use a similar way as function `findJ9ClassInFlattenedClassCache`, but `flattenedCache` is a new thing to DDR, do we have access to it in DDR?
does `IsJ9ClassIsFlattened` exist in `fieldShapePointer.modifiers()`? If so, we can use it directly without considering flattenedCache.
Also I can't find definition of function `modifier(

[2019-03-26 15:36] AdamBrousseau commented on #5249
TEMP mount lost again. In contact with PDP support.

[2019-03-26 15:45] harryyu1994 commented on #5160
I don't see this API gets called at all, this is running AcmeAir. That explains the low failure rate.
[code]

[2019-03-26 15:45] #5163 closed

[2019-03-26 16:12] dchopra001 opened #5257 "Consolidate getMethodFromBCInfo type routines"
There are multiple uses of the `getMethodFromNode` and `getMethodFromBCInfo` routines used throughout eclipse/openj9 and eclipse/omr. These routines all look like duplicates of `OMR::Node::getOwningMethod`. We should refactor these routines into OMR to eliminate the redundancy.

[2019-03-26 16:29] Flandoll commented on #1538
@kgibm I seem to need `-Dsun.rmi.registry.registryFilter=javax.**` when using jdk8 on win10 system, and the process will not stop automatically.
If I use jdk12 and add the system variable `CLASSPATH=F:\wa64\lib\ext\healthcenter.jar` then run `java -Xhealthcenter -version` will get an error
[code]

[2019-03-26 16:30] SueChaplain commented on #54
@pshipton - I think I've lost track of what's remaining here. Can you confirm and let me know the release target please.

[2019-03-26 17:17] dchopra001 opened #5259 "Consolidate fej9() routines"
There are multiple areas in the codebase that define
[code]

Here are some examples:
https://github.com/eclipse/openj9/blob/3b6cb12977ffd6e72b4ab3e9e5417317ecb4a3fe/runtime/compiler/runtime/J9CodeCacheManager.hpp#L67-L68

https://github.com/eclipse/openj9/blob/3b6cb12977ffd6e72b4ab3e9e5417317ecb4a3fe/runtime/compiler/runtime/RelocationRuntime.hpp#L135-L136

https://github.com/eclipse/openj9/blob/3

[2019-03-26 17:20] pshipton commented on #5249
Also aix71-p8-5
https://ci.eclipse.org/openj9/job/Build-JDK11-aix_ppc-64_cmprssptrs/704/
[code]

Is it possible to restart this pipeline, and still have the omr acceptance build promote?

[2019-03-26 17:20] pshipton commented on #5249
Disabled aix71-p8-5

[2019-03-26 17:29] pshipton commented on #5249
Promoted manually, and I'm stopping the omr promotion build, but still interested in the answer.

[2019-03-26 17:41] pshipton commented on #54
@SueChaplain there is no real target to complete this work. I'll put it into the 0.15 milestone so we don't loose track of it, but don't be surprised if it moves out further. The release notes should stay as-is.

[2019-03-26 18:32] MarkQingGuo commented on #5178
What’s your expectation of behaviour of `!flatobject`?
Here is what in my mind:
Let’s consider we have a `triangle2D` object:
[code]
For simplification, we consider its located at 0x0
if we use !j9object 0x0, the correct output should be
[code]
If we want to get the content of `v2` here:
The command should be `!flatobject 0x00000000,1`, and the output should be
[code]
Is this correct?

[2019-03-26 18:33] AdamBrousseau commented on #5249
If you had cancelled 704 you would have had the option to restart in the parent pipeline.

The only way to have a build restart-able is for a Build* or Test* job to fail (red or grey). If that happens, the restart option is given in the Pipeline-Build-Test* pipeline. If something is unstable (yellow) or the Pipeline build fails then we don't currently have any way to continue the build. Does that

[2019-03-26 18:41] pshipton commented on #5249
Sounds good, thanks.

[2019-03-26 18:53] #4674 closed

[2019-03-26 18:56] 0xdaryl commented on #5259
What do you mean by "a common place"?  Aren't these just getters (albeit cast to different types) for the FrontEnd objects cached in these various classes?  Or are you suggesting that the FE object not be cached in these classes but to dig it out of another class (such as Compilation) if it's already available there?

[2019-03-26 19:09] andrewcraik commented on #4657
@smlambert is there a way to stop JUnit from catching that exception?

[2019-03-26 19:09] dchopra001 commented on #5259
I'm suggesting to get it from the `Compilation` class if it's already available there.

[2019-03-26 19:16] andrewcraik commented on #5061
Does a grinder from one of the failures in #5046 reproduce? There seems to be a gremlin running around though maybe it has been fixed I worry it is just infrequent.

[2019-03-26 19:47] harryyu1994 commented on #3372
Going to be working on this one while there's no higher priority issues.

[2019-03-26 20:35] AdamBrousseau commented on #5210
@llxia are we waiting on 1037 to be closed before we complete this or will we open a another issue when the job names change?

[2019-03-26 20:38] dcendents commented on #4904
@ChengJin01 I tested with both builds.

It did crash with v6 (although it seemed to build for much longer than usual before it crashed). The dump files are on my drive (`eclipse-20190326.7z`)

As expected the fix_v1 worked, the build completed successfully. :smile:

[2019-03-26 21:14] dmitry-ten opened #5264 "Implement `TR::SymbolValidationManager::skipFieldRefClassRecord` for JITaaS"
This method indexes into ROM constant pool, so need to create a new remote call for that.
Didn't include it in my original SVM PR #5158, to avoid making the change even larger.

[2019-03-26 21:14] dmitry-ten commented on #5264
@mpirvu fyi

[2019-03-26 21:16] ChengJin01 commented on #4904
@dcendents,  many thanks for your confirmation with the expected results.

I already checked the dump files and they indicates the crash occurred when printing the class name on the left_key (from the hash table) in the added tracepoint, which means the hash table was corrupt at that time.

As mentioned above, the hash table for class loading constraints should never be used with -Xverify:none spe

[2019-03-26 22:11] JasonFengJ9 commented on #4921
There were quite a few module object with name `jdk.translet`:
[code]

`jdk.translet` module objects are created by `com/sun/org/apache/xalan/internal/xsltc/trax/TemplatesImpl$TransletClassLoader` which is a local instance and is subject to GC.
It appears some `jdk.translet` module objects are GCed but their references are still within `java.xml` module `readAccessHashTable` and eventually caused

[2019-03-26 22:45] dchopra001 commented on #5208
I've managed to reproduce this at a 100% rate with a local/modified version of the StringCoding test. Here's a sample output of what the two byte arrays look like in a failing run:
[code]

In the second array we have a `3f` instead of `6`. A similar pattern is seen among other failures. Instead of an actual failures we see `3f`.

I'm trying to narrow the problem down further right now.

[2019-03-26 23:40] tajila commented on #5178
Is there a simpler way to find a flattened field's flags?

The only way to find a fields flags is to look up the  `J9Class` for the field type in the `FlattenedclassCache`. The function `findJ9ClassInFlattenedClassCache()` isnt implemented in DDR but you can add one. The `J9ClassIsFlattened` flag only exists in the `J9Class->classFlags`

[2019-03-26 23:42] tajila commented on #5178
That looks correct. An argument can be made that we dont need flags, since it will always be zero. But class is important.

[2019-03-27 13:48] cathyzhyi commented on #4453
@vesuppi The last few lines in EA shows tracing stopped at node 7F203A0EE7C0
[code]
If you search for "found.*new" in `EscapeAnalysis.cpp` you will find where the last line got printed https://github.com/eclipse/openj9/blob/cd60b0571f1ec9968a576a174edae7ef0f824cb9/runtime/compiler/optimizer/EscapeAnalysis.cpp#L1433 So it seems the crashing is because of the following node
[code]
This seems to be u

[2019-03-27 14:08] pshipton commented on #4747
Another one, like https://github.com/eclipse/openj9/issues/4747#issuecomment-465308116
Reopening this issue.
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le/644
[code]

[2019-03-27 14:28] keithc-ca commented on #5178
It's not clear to me that we *need* to modify `J9ObjectFieldOffsetIterator`; the iteration of flattened fields can take into account an offset adjustment with the existing iterator implementation.

[2019-03-27 14:48] vesuppi commented on #4453
@cathyzhyi

Hi Yi,

Thank you for the detailed analysis. It's really cool that you can pinpoint the problematic location from these giant log files.

I think I am using openjdk8 (https://www.eclipse.org/openj9/oj9_build.html#version-8). DaCapo has several different versions and I am using the default download from http://dacapobench.org/. Thanks!

[2019-03-27 14:53] MarkQingGuo commented on #5178
I use an example from above.
[code]
If we get this result in current DDR implementation, we might need to modify iterator: since the offset of field `en` should be 8 here.

[2019-03-27 14:56] ben-walsh opened #5274 "JTReg Test Failure - java/lang/Class/GetPackageBootLoaderChildLayer.java"
Consistent failure ...

[code]

... observed in test https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/Class/GetPackageBootLoaderChildLayer.java.

See [consoleText.txt](https://github.com/eclipse/openj9/files/3013761/consoleText.txt).

[2019-03-27 15:32] smlambert commented on #5274
Test excluded via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1040

[2019-03-27 15:41] vsebe commented on #4710
CentOS6 x86
Builds:
[Build-JDK8-linux_x86-64_cmprssptrs](https://ci.eclipse.org/openj9/job/Build-JDK8-linux_x86-64_cmprssptrs/1159/)
[Build-JDK11-linux_x86-64_cmprssptrs](https://ci.eclipse.org/openj9/job/Build-JDK11-linux_x86-64_cmprssptrs/746/)

Tests:
[Test-extended.functional-JDK8-linux_x86-64_cmprssptrs](https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_x86-64_cmprssptrs/2

[2019-03-27 15:45] pshipton opened #5275 "Rework the omr acceptance schedule"
OMR acceptance will start a new build every 15 minutes if there are changes. I've seen this result in 3-5 omr acceptance builds all running at the same time. I don't think the jenkins build farm can handle this load as we are light on machines for some platforms. When I see too many omr acceptance builds running, I cancel some of them. Having a large number of omr acceptance builds running can als

[2019-03-27 15:45] pshipton commented on #5275
@DanHeidinga @AdamBrousseau @jdekonin

[2019-03-27 15:51] pshipton opened #5276 "Advertise the buildenv/jenkins/docker-slaves docker files"
The Dockerfile's advertised in the OpenJ9 documentation are only available for Ubuntu. They also only handle building OpenJ9 and not testing. There is another set of Dockerfiles's in https://github.com/eclipse/openj9/tree/master/buildenv/jenkins/docker-slaves which are not well known. These files add support for additional OSes and provide images suitable for running tests as well as building Open

[2019-03-27 15:51] pshipton commented on #5276
@AdamBrousseau @jdekonin @SueChaplain @DanHeidinga

[2019-03-27 16:02] smlambert commented on #5276
Presumably we can and should revisit the need for [test dockerfile ](https://github.com/eclipse/openj9/tree/master/buildenv/docker/test) which was created separately from the build dockerfiles (and likely needs refreshing if we keep it).

[2019-03-27 16:03] pshipton commented on #5238
Note https://github.com/eclipse/openj9/issues/5276 - Advertise the buildenv/jenkins/docker-slaves docker files

Perhaps we should retire the Dockerfile's in the  buildenv/docker directory.

[2019-03-27 16:21] vsebe commented on #4063
I've configured a centos6 node: https://ci.eclipse.org/openj9/computer/cent6-x86-1/
All builds passed:
https://ci.eclipse.org/openj9/job/Build-JDK8-linux_x86-64_cmprssptrs/1159/
https://ci.eclipse.org/openj9/job/Build-JDK11-linux_x86-64_cmprssptrs/746/
https://ci.eclipse.org/openj9/job/Build-JDK12-linux_x86-64_cmprssptrs/48/
Tests in progress:
https://ci.eclipse.org/openj9/job/Test-sanity.system-J

[2019-03-27 16:25] fjeremic opened #5277 "Remove unused DAA instructions"
Quoting @NigelYiboYu :

[1] https://github.com/eclipse/openj9/pull/5173#discussion_r269610481

[2019-03-27 16:27] smlambert commented on #4657
Hmm, in testNG I believe one could write a custom listener that would intercept the exception, to print stacktrace before framework swallows it.  Its a bit heavy-handed, and not sure how well it works so will have to investigate.

For this case, has someone run it once locally, and then just taken the command line that the framework runs and run it directly (in a loop inside a shell script for rep

[2019-03-27 16:39] vsebe commented on #4710
We'll add 6 more systems - CentOS 6 x86 - from UNB too - see #4063

[2019-03-27 16:58] pshipton commented on #4063
Note we'll want to test all the suites
- sanity.functional
- extended.functional
- sanity.system - running above
- extended.system

[2019-03-27 17:07] vsebe commented on #4063
(waiting for next executor)
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64_cmprssptrs/219/
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64_cmprssptrs/219/
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/653/

[2019-03-27 17:46] llxia commented on #5210
We will go with the naming convention that is proposed in 1037. I will update the code to regenerate the jobs.

[2019-03-27 18:01] AdamBrousseau commented on #5210
Thanks Lan, I'll add to my PR to update with the new test job names.

[2019-03-27 18:06] llxia commented on #5210
We may need to create a SPEC to ARCH_OS mapping.

[2019-03-27 18:18] JasonFengJ9 commented on #5274
Might be related to https://github.com/eclipse/openj9/issues/3048#issuecomment-425056934

@ben-walsh did this test pass with `OpenJ9 JDK 8/11`?

[2019-03-27 18:52] fjeremic commented on #5238
These are the ones I've been using all the time. I think they also may be references on the official website IIRC. If htis is the case then definitely we need some education/updates and I support removing the stale ones.

[2019-03-27 18:53] NigelYiboYu commented on #5277
Pull request: https://github.com/eclipse/openj9/pull/5281
Ready to review.

[2019-03-27 18:56] fjeremic commented on #5276
@pshipton correct me if I'm wrong but your description seems to imply that https://github.com/eclipse/openj9/tree/master/buildenv/jenkins/docker-slaves can build and run OpenJ9 tests all from the same image?

In which case my long standing PR which I've sent into the icebox (#2969) is now obsolete as this work as already been done. If you can confirm I can close my PR and start using these new Doc

[2019-03-27 19:39] AdamBrousseau commented on #5276
@fjeremic Yes we have 1 image for build & test for each linux on x/p/z and we also have a handful of test-only images. There is a table in the readme which lists them. These were created and are maintained and used for Jenkins buildfarm purposes but I don't see why develops can't use them. Especially since we push up pre-built images to DockerHub. The one downside is there are quite large since we

[2019-03-27 20:16] ChengJin01 commented on #5225
The problem has nothing to with static verification (ClassFormatError). If the error needs to be captured in ClassforName() instead of later in verification,  verifyQualifiedName() at /runtime/vm/stringhelpers.cpp should be modified against the VM Spec to math Reference Implementation.

[2019-03-27 20:42] harryyu1994 commented on #3372
Going through the code for the usage of `jitConfig`, I failed to see where `jitConfig` on line 6792 comes from. I didn't find this member variable in CompilationInfoPerThreadBase, `_jitConfig` is the member variable. @mpirvu
https://github.com/eclipse/openj9/blob/d8e03ae9740dd8954d97c059146037c606a97de8/runtime/compiler/control/CompilationThread.cpp#L6786-L6792

[2019-03-27 20:55] harryyu1994 commented on #3372
We probably need to replace all instances of `_jitConfig` in `CompilationInfoPerThread` with the getter function `getJitConfig()`, and modify the `getJitConfig()` to return the per-client jitConfig copies for JITaaS.

[2019-03-27 20:58] harryyu1994 commented on #3372
If we are going with the above plan, should the replacing of `_jitConfig` with `getJitConfig()` go into OpenJ9 master first? @mpirvu

[2019-03-27 21:30] ChengJin01 commented on #5058
I am currently compiling a build without JIT components (excluded from OpenJ9 & OMR) via cmake on a Fyre Linux machine and then on my Ubuntu VM to eliminate any compilation error with JIT excluded.

If it works good, the next step is to get the risc-v toolchain introduced in the configure/setting to see what happens (temporarily ignore the spec setting & code specific to riscv and just ensure it p

[2019-03-27 22:00] amicic commented on #4769
I apologize... I did not have time to work on this (to introduce new trace points to narrow down where the delay is). But they are a couple of already that could be interesting, although chances are I'll need to introduce new ones. Could you run with:

-Xtrace:none,maximal=j9mm.54,maximal={j9mm.190-191},maximal={j9mm.474-475},maximal={j9mm.467-468},maximal=j9mm.630,output="output.trc"

If you have

[2019-03-27 23:01] #5048 closed

[2019-03-28 00:25] JasonFengJ9 commented on #5061
@andrewcraik not able to reproduce the failure in #5046 yet (100x with cmdLineTester_SCCommandLineOptionTests_1). Am going to try a few more.

[2019-03-28 00:53] #4904 closed

[2019-03-28 02:50] knn-k opened #5285 "AArch64: Create configuration for native build"
Build of AArch64 Linux runtime requires cross-compilation environment in Docker on x86-64 Linux.
There is a request for building the runtime natively on AArch64 Linux.

[2019-03-28 07:52] akrus commented on #4769
@amicic, not sure what's wrong, but it complains:
JVMTRCE004W Error opening trace file: "/home/log/jvm_20190328075145_2073.log.trc"

[2019-03-28 10:17] andrew-m-leonard commented on #4193
Merged into openjdk http://hg.openjdk.java.net/jdk/client/rev/62171da145f9
Should get merged into jdk"head" from client within a week.

[2019-03-28 10:36] ben-walsh commented on #5274
@JasonFengJ9 Not tried. I'll schedule a couple of appropriate Grinder jobs.

[2019-03-28 10:38] ben-walsh commented on #5274
JDK8+OJ9 latest nightly - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1380
JDK11+OJ9 latest nightly - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1381

[2019-03-28 10:43] ben-walsh commented on #5225
Yep, this is the problem I believe, the RI is implemented to capture the "bad class name" of `;` earlier than OJ9 and this test checks for that earlier capture.

[2019-03-28 11:53] ben-walsh commented on #5274
Just realised the test isn't present in JDK8.
It does fail in same way with JDK11 - [consoleText.txt](https://github.com/eclipse/openj9/files/3017752/consoleText.txt)

[2019-03-28 12:00] ben-walsh commented on #3048
I think this issue can be closed out now. My PRs (https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/88, https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/145 and https://github.com/ibmruntimes/openj9-openjdk-jdk12/pull/31) have allowed us to get to the underlying problems (which I've raised an issue for https://github.com/eclipse/openj9/issues/5225). Also issue https://github.com/eclip

[2019-03-28 12:30] andrewcraik commented on #5061
@JasonFengJ9 Ok well if it is gone I guess that is good news - I'm happy to proceed at your discression on whether to close or not since I think the issue is portlib/OS and not JIT as such. Thank you for the continued investigation.

[2019-03-28 12:42] #3048 closed

[2019-03-28 12:51] DanHeidinga commented on #5225
Let's give the vm spec a careful re-read and ensure that our behaviour is valid.  Having looked at similar issues in the past, I believe it is but worth validating.

This may just be a test that doesn't apply to OpenJ9

[2019-03-28 13:47] AdamBrousseau commented on #5275
Ideally the 15 minute window on the mirror would already do that. We could change it to launch with a 20 minute quiet period (longer than the gap between mirrors) which would force back to back mirrors that have changes to be merged as 1 build.

Not starting a build until 2 hours after one is running is a bit trickier and more complicated.

[2019-03-28 13:48] jdekonin commented on #5285
Trying looking at what @dsouzai and @JamesKingdon have done via #1159 and #712

[2019-03-28 14:09] JasonFengJ9 commented on #5061
After a few unsuccessful attempts to reproduce the failure with internal jenkins grinder, I am wondering if this can only be reproduced at external machines. We might need run larger grinders on either `adoptopenjdk` or `eclipse` sites.

@pshipton @sophia-guo could you help?
BUILD_LIST: `openjdk_regression`
CUSTOM_TARGET: `sun/rmi/rmic/manifestClassPath/run.sh`
or
TARGET: `cmdLineTester_SCCommandL

[2019-03-28 14:10] pshipton opened #5288 "Test-sanity.system-JDK12-linux_ppc-64_cmprssptrs_le MauveMultiThreadLoadTest_OpenJ9_0 AccessControlException: access denied"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK12-linux_ppc-64_cmprssptrs_le/35
[code]

[2019-03-28 14:10] mpirvu opened #5289 "Reduce the number of connections between JITaaS client and server"
In the current implementation the JITaaS client establishes a new connection to the server for each compilation request. This adds unneeded overhead especially when encryption is enabled because SSL handshake is expensive.
One idea is to keep the connection open as long as the compilation thread at the client has something in the compilation queue.

[2019-03-28 14:13] pshipton commented on #5288
I expect this is a dup of https://github.com/eclipse/openj9/issues/4681
@Mesbah-Alam fyi https://github.com/eclipse/openj9/issues/4681#issuecomment-464175715

[2019-03-28 14:13] #5288 closed

[2019-03-28 14:28] #5160 closed

[2019-03-28 14:28] #4784 closed

[2019-03-28 14:31] mpirvu commented on #4467
@satbir-ca As discussed, please post your proposed design here before starting to modify the code.

[2019-03-28 14:33] Mesbah-Alam commented on #4681
I'll move the security related tests out of the multi-threaded version of the mauve load tests and put them into the single-threaded version.

[2019-03-28 14:54] pshipton commented on #5061
Trying a single run at OpenJ9 https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/340/

[2019-03-28 15:02] pshipton commented on #5061
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/340/ failed to get the nightly build from Adopt. @smlambert

[2019-03-28 15:04] pshipton commented on #5061
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/341/

[2019-03-28 15:08] pshipton commented on #5061
Not sure what is wrong now
[code]

[2019-03-28 15:10] amicic opened #5290 "Missed trace points with maximal/minimal and none"
Java -version output
------------------
[code]

Summary of problem
------------------

`-Xtrace` with maximal or minimal and none,  only enables the last trace point in a list of trace points

Exact option used:

[code]

Trace point reported:

[code]

When used iprint without none, all trace points were reported (this is just a short sample):

[code]

When the list is broken down, everything works

[2019-03-28 15:11] yanluo7 opened #5291 "Support inline dynamic cast class evaluation for checkcast on P and Z"
Currently in codegen checkcast evaluator only supports inline evaluation for
constant cast classes. If the cast class is not known at compile time a VM
helper call is generated. This is true for X, and should also be true on P/Z, as
up until now we do not generate checkcast nodes where the cast class child
is dynamic.

With upcoming optimizer changes where certain
instanceOf nodes are transformed

[2019-03-28 15:21] llxia commented on #4323
The TAP plugin uses the default system java on the machine to parse. We tested using the same test on different xlinux. The TAP parsing passed on the xlinux machine with java 1.8.0_201-b09 installed and failed on the xlinux machine with java 1.8.0_191-b12 installed.

The above issue may be related to this. We can not confirm as the job links are expired. If we have the similar failure again, we ca

[2019-03-28 15:44] sehirst opened #5295 "Include J9VMThread in `!info thread` output in jdmpview"
The `!stackslots` output is usually the most important output to begin investigating a dump on exception. It requires the `J9VMThread` of the thread throwing the exception.

The only way I know how to get this is to first do `!info thread` to get the thread that's executing, but this does not have the `J9VMThread`, instead it has the Thread object and posix thread id.

To get the `J9VMThread` we n

[2019-03-28 15:55] fjeremic commented on #5291
Thanks for opening this. @r30shah will be work in on the Z implementation in priority order with some other work in flight.

[2019-03-28 15:56] fjeremic commented on #5295
@keithc-ca FYI.

[2019-03-28 16:08] pdbain-ibm commented on #4640
~Fails with -Xint.~  My mistake: the test runs twice, once with `-Xint` and again without.
The test fails without `-Xint`.
Forcing both to run without the JIT: `make JVM_OPTIONS=-Xint _jdk_custom` makes the test pass consistently.
This appears to be a JIT issue.  FYI @fjeremic would you kindly triage.  I have a test setup on a zLinux box if you need access.

[2019-03-28 16:10] harryyu1994 commented on #3372
#4676 will be addressed in this issue as well.

[2019-03-28 16:30] fjeremic commented on #4640
Sure, I'll contact you on Slack to get a reporduction going.

[2019-03-28 16:52] pdbain-ibm commented on #4640
The symptoms are that we create a `BruteArgumentMoverHandle` on the first use of the VarHandle `vh` to a static String field.  After ~1000 iterations of the test, `vh` starts returning null and we see another call to the `BruteArgumentMoverHandle` constructor.

[2019-03-28 17:06] fjeremic commented on #4640
Issue happens due to the UnsafeFastPath optimization. It seems to transform the following trees:

[code]

into

[code]

I'm not sure how exactly it got rid of the `NULLCHK` or why it did it. In any way I don't see anything wrong with what the codegen generates. This looks like a faulty optimization.

@liqunl @andrewcraik FYI re-tagging this as an optimizer issue. I've attached the trace log below

[2019-03-28 17:09] fjeremic commented on #4640
FYI also fails on AIX (see above).

[2019-03-28 17:28] MarkQingGuo commented on #5178
When I use DDR to investigate a valuetype in docker: command !j9object <address>
I keep getting an error: ``Caused by: java.lang.NoSuchFieldError: com/ibm/j9ddr/vm29/structure/J9Consts.J9_JAVA_CLASS_RAM_ARRAY``
Are there some configuration I missed?

[2019-03-28 17:40] Mesbah-Alam commented on #4681
I downloaded the Mauve test source and performed a search based on the 3 references mentioned in https://github.com/eclipse/openj9/issues/4681#issuecomment-464166070 above:

**Tests with reference to : gnu.testlet.TestSecurityManager**
[code]

**Tests with reference to : gnu.testlet.java.util.logging.Handler.TestSecurityManager**
[code]
[code]

Note: None of these tests are part of [mauve_multiThr

[2019-03-28 18:00] Mesbah-Alam commented on #4681
**grep -rnw . -e "(HttpURLConnection) url.openConnection();"**:

[code]
Note: there were two tests found to be excluded from mauve_multiThread.xml -- the rest are either not present or already excluded. The tests excluded from mauve_multiThread.xml are present in [mauve_all_.xml ](https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.test.load/config/inventories/mauve/mauve_all.xm

[2019-03-28 18:00] mpirvu opened #5297 "PersistIprofileInfo messages should be sent only when JITaaS client uses SCC"
While doing some AcmeAir runs with JITaaS and no SCC/AOT I observed a relatively large number of `IProfiler_persistIprofileInfo` messages. These messages should not be sent as there is no shared class cache where to store the information.

[2019-03-28 18:14] mpirvu commented on #3372
I agree that we should replace all usages of _jitConfig with getJitConfig() in OpenJ9 master and then change getJitConfig() implementation appropriately

[2019-03-28 18:19] sophia-guo commented on #5061
https://github.com/eclipse/openj9/issues/5061#issuecomment-477633689 has the issue https://github.com/AdoptOpenJDK/openjdk-tests/issues/1033

https://github.com/eclipse/openj9/issues/5061#issuecomment-477634603 I don't have permission to check the configuration or rerun. Could you try to rerun with set TARGET as jdk_custom? My guess is the TARGET is empty.

[2019-03-28 18:25] liqunl commented on #4640
The `NULLCHK` is removed because this is internal code and we know it can't be null. I think the problematic part is the `compressedRefs` anchor on the unsafe shadow, as the unsafe shadow points to a static field that won't get compressed. Will get the fix.

[2019-03-28 18:29] pshipton commented on #5061
Yes the TARGET was empty. Started a new build https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/342/

[2019-03-28 18:33] sophia-guo commented on #5061
100x on  AdoptOpenJDK with target CUSTOM_TARGET: sun/rmi/rmic/manifestClassPath/run.sh https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1386/

[2019-03-28 18:51] pshipton commented on #5061
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/343/console
I got further, but still problems
[code]

[2019-03-28 18:53] sharon-wang commented on #5061
@pshipton parameters `JDK_VERSION=8` and `JDK_IMPL=openj9` helped me get past that error

[2019-03-28 19:04] pshipton commented on #5061
ok thanks. The instructions say that AUTO_DETECT is supposed to figure that out.

https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/344/

[2019-03-28 19:22] pshipton commented on #5061
That worked, so trying 50 iterations
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/345/

[2019-03-28 19:33] harryyu1994 commented on #3372
Right now I don't see an awful lot of attributes that can't be shared across compilations. Not sure if copying over the entire jitConfig for each client is worth the benefit. Can we list out the attributes that must be per-client?

[code]
[code]

[2019-03-28 19:39] harryyu1994 commented on #5289
Looking into this one.

[2019-03-28 19:39] tajila commented on #5178
I keep getting an error: Caused by: java.lang.NoSuchFieldError: com/ibm/j9ddr/vm29/structure/J9Consts.J9_JAVA_CLASS_RAM_ARRAY

`J9_JAVA_CLASS_RAM_ARRAY` no longer exists in the source code, so I think you may be using outdated source, or a version of DDR based on vm28

the `J9classPointer.flattenedClassCache()` method should be generated if you are building the JDK with `J9VM_OPT_VALHALLA_NESTMATE

[2019-03-28 19:53] pshipton commented on #5061
Trying 60 iterations
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/346/
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/347/
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/348/
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/349/

[2019-03-28 19:55] AdamBrousseau commented on #5275
Talked to Pete.
We've set Quiet period in the job for now at `1200s` which is 20min.
Quiet period is ignored when launched manually.
Mirror job still runs every 15 minutes.
We've also set Throttle builds to 10/day which should limit how often they run.

[2019-03-28 20:25] pshipton commented on #5061
Another 80 per
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/350/
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/351/
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/352/
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/353/

[2019-03-28 20:29] keithc-ca commented on #5290
@amicic This could be a simple misunderstanding of how your shell processes arguments. Bash (and other shells) attribute special meaning to `{` and `}`. For example, running
[code]
yields
[code]
while running
[code]
yields
[code]
The only difference is the placement of the quote (`"`). In the first version, each `-Xtrace:none` erases any previous trace settings which is consistent with your experi

[2019-03-28 20:37] pshipton commented on #5275
I'll close this for now, we can re-open later if necessary and the new settings aren't working as desired.

[2019-03-28 20:37] #5275 closed

[2019-03-28 20:43] pshipton commented on #4976
@hangshao0 is there any update on this?

[2019-03-28 20:44] amicic commented on #5290
@keithc-ca Thanks for the elaborative answer. The quotes around it, indeed fixed it.

[2019-03-28 20:54] JasonFengJ9 commented on #5061
Maybe try a grinder with the SDK [1] failed the test initially.

[1] https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2019-03-12-18-39/OpenJDK8U-jdk_x64_mac_openj9_2019-03-12-18-39.tar.gz

[2019-03-28 20:57] #5290 closed

[2019-03-28 21:22] pshipton commented on #5061
Already started another set, 120 per. Will try the older SDK after.
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/354/
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/355/
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/356/
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/357/

[2019-03-28 21:30] hangshao0 commented on #4976
PR: https://github.com/eclipse/openj9/pull/5301

[2019-03-28 21:50] mikezhang1234567890 opened #5302 "DDR: !nativestacks command doesn't work on OSX"
Using the `!nativestacks` command in jdmpview doesn't work on OSX as getting the stack frames from the OSX core hasn't been implemented. Results in:
[code]

[2019-03-28 22:19] pshipton commented on #5061
80 per with the original failing JVM as per https://github.com/eclipse/openj9/issues/5061#issuecomment-477767234
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/358/
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/359/

[2019-03-28 23:01] ChengJin01 commented on #5225
The VM Spec at Chapter 4 The class File Format says:
[code]
This is specific to the check of identifiers (including class names) stored in the class file, which should be addressed by the static verification when loading classes (specifically in `j9bcv_verifyClassStructure `in our case).

In term of a class name string passed-in as argument, there is no rule as to where to check the class name its

[2019-03-28 23:41] JasonFengJ9 commented on #5061
Thanks @pshipton @sophia-guo
Given none of grinders reproduced the failure, I am leaning toward re-enabling this test and close the issue.
If the crash occurs again, we can re-open it.

[2019-03-29 01:24] knn-k commented on #5285
The file `runtime/jilgen/module.xml` uses `qemu-aarch64` for running `constgen` in the cross build.  I have found I can build the runtime natively on AArch64 Linux by changing that file.
Now my question is: **How can you detect the native/cross-building environment in `module.xml`?**  Is there any flag that can be used for that purpose?

The AArch64 build does not support DDR at the moment (#5221)

[2019-03-29 12:26] smlambert commented on #5061
I am thinking we should change the default setting for Grinder to be AUTO_DETECT off, as the common use case for Grinders seems to be asking for a "nightly" build.

In that case, you must instruct on which JDK_IMPL and JDK_VERSION ahead of time, so we know what Adopt API URL to build.  Auto-detect works if you give a link to a CUSTOMIZED_SDK_URL, because we then just fetch the SDK directly from th

[2019-03-29 12:59] JasonFengJ9 commented on #5061
Thanks @smlambert quick action on https://github.com/AdoptOpenJDK/openjdk-tests/pull/1045 and also pointed out that the test might not be excluded at first place due to a platform code typo https://github.com/AdoptOpenJDK/openjdk-tests/pull/1045#pullrequestreview-220514363.
This explains why the grinders for this test still run.

[2019-03-29 13:17] pshipton commented on #5061
@smlambert I am setting a customized URL. When I didn't set JDK_VERSION and JDK_IMPL I got  https://github.com/eclipse/openj9/issues/5061#issuecomment-477726113
I have AUTO_DETECT on, but needed to set values for the grinders to work.

[2019-03-29 13:32] smlambert commented on #5061
I see, so sounds like may be a bug related to recent changes https://github.com/eclipse/openj9/pull/5155

[2019-03-29 14:01] amicic commented on #5290
Btw, the quotes from just around the output file name came from https://www.eclipse.org/openj9/tools/xtrace_option_builder.html

![image](https://user-images.githubusercontent.com/18264984/55237890-88834b80-5209-11e9-9b9d-dda7862648a4.png)

[2019-03-29 14:07] JasonFengJ9 commented on #5138
@sharon-wang will have a look at this.

[2019-03-29 14:50] keithc-ca opened #5303 "Bad advice from -Xtrace option builder tool"
https://www.eclipse.org/openj9/tools/xtrace_option_builder.html suggests double-quotes only around the `output=...` portion of the string which doesn't work well with bash (or other shells that attach special meaning to `{` and `}`). See #5290.

[2019-03-29 14:50] keithc-ca commented on #5290
I create #5303 for that.

[2019-03-29 15:14] vesuppi opened #5304 "Issue when resolving the callee for a TR::call node"
Hi,

I have a some code that runs during the escape analysis phase in the JIT, which tries to print the name of the callee of a call node. I can get `TR_ResolvedMethod*` without a problem, but the pointer I obtained doesn't seem to be valid. Any method call on this pointer would segfault. My program looks like this:

[code]
Is this a known issue or did I miss anything? Thanks!

[2019-03-29 15:18] a7ehuo commented on #5297
I will look at this one next.

[2019-03-29 16:16] JasonFengJ9 commented on #5061
Looked at a bit the native stacktrace from the core https://github.com/eclipse/openj9/issues/5061#issuecomment-473422243
[code]
As per [port/unix/omrsysinfo.c](https://github.com/eclipse/omr/blob/5ceecf19aba2a9cb4e9563fda7077c29b38603f6/port/unix/omrsysinfo.c#L536-L540)

[code]
I am guessing `envVar` is a `null` or something bogus which comes from the caller `libj9jit29.dylib feGetEnv(char const*)

[2019-03-29 16:47] pshipton commented on #5303
@SueChaplain @paulcheeseman

[2019-03-29 16:48] pshipton commented on #5303
This is probably better opened at https://github.com/eclipse/openj9-website since that is the repo which contains the problematic code.

[2019-03-29 16:50] pshipton commented on #5304
@andrewcraik

[2019-03-29 16:59] paulcheeseman commented on #5303
Checking the "Wrap in quotes (for use in a shell)" option at the bottom of the tool should solve the problem.

[2019-03-29 17:02] andrewcraik commented on #5304
So the issue is that `castToResolvedMethodSymbol`, outside of a debug build, is just a straight C++ pointer type cast (see OMR compiler/il/symbol/OMRSymbol_inlines.hpp). There is a `isResolvedMethod` query and a `getResolvedMethodSymbol` which will do the check and return non-null if the type is wrong. Not the best API, but use one of those and check for NULL before proceeding and you should then

[2019-03-29 17:02] #5304 closed

[2019-03-29 17:03] andrewcraik commented on #5304
Feel free to reopen if further discussion is required - I have closed this just to indicate the question raised has been answered and there is no lurking compiler bug.

[2019-03-29 17:25] fjeremic commented on #3697
This has mostly been handled by #4973.

[2019-03-29 17:25] #3697 closed

[2019-03-29 17:55] vesuppi commented on #5304
@andrewcraik
I see. Thanks a lot. But I thought with the guard `!N->getSymbolReference()->isUnresolved()` all the unresolved symbols should be filtered out, and `castToResolvedMethodSymbol()` should be fine?

[2019-03-29 17:57] andrewcraik commented on #5304
No the resolution of a symref is different from the symbol - symref resolution corresponds to constant pool resolution the symbol resolution is separate - have a look in the optimizer at other places querying getResolvedMethodSymbol or we can discuss on the OpenJ9 slack :)

[2019-03-29 18:01] harryyu1994 commented on #5289
One way to implement this:
`TR::CompilationInfoPerThread::processEntries()` is where each compilation thread on the client processes the compilation queue. We should open a connection here and maintain it as long as the compilation thread is in the  `while (getCompilationThreadState()==COMPTHREAD_ACTIVE)` loop. When we get out of the loop, it means there are no more work on the thread, so we close

[2019-03-29 18:02] mpirvu commented on #5289
That's the idea. I believe this will require changes to the infrastructure though.

[2019-03-29 18:08] vesuppi commented on #5304
Oh oh okay, so basically if the corresponding constant pool entry exists the symbol reference can be resolved, but that's just means a name (a string) can be found. But symbol resolution corresponds to the specific in-memory data structure that represents this name?

Btw, I copied the code from `Walker.cpp` which has multiple occurances of such code:

https://github.com/eclipse/openj9/blob/f659113

[2019-03-29 18:52] keithc-ca commented on #5303
Superseded by eclipse/openj9-website#164.

[2019-03-29 18:52] #5303 closed

[2019-03-29 19:29] #4976 closed

[2019-03-29 20:26] sharon-wang commented on #5138
Unable to reproduce so far.

Ran several 20x grinder tests with parameters:
- **BUILDLIST:** `openjdk_regression`
- **TARGET:** `jdk_custom`
- **CUSTOM_TARGET:** `java/rmi/activation/CommandEnvironment/SetChildEnv.java`
- **JDK_VERSION:** `8`
- **JDK_IMPL:** `openj9`

Will continue looking into this.

[2019-03-29 20:46] #5277 closed

[2019-03-29 20:55] 0dvictor commented on #5243
[code]
The fundamental issue is that the same virtual register was mapped into two separated real registers. Register Assigner does support this configuration.
A fix is coming soon.

[2019-03-29 20:57] hangshao0 commented on #5285
It seems that we do not have an existing flag for this purpose. You might need to add a new flag. Not sure if it is worth the effort, as uma is going to be replaced by cmake shortly. Adding a new spec might be an easier solution for now.

[2019-03-29 21:07] avermeer commented on #4927
Hello,

I'm afraid I do not understand what are the next step to get this issue fixed.
A question to OpenJDK community was mentioned by @pshipton.
Is it possible to get a URL to the related thread for the follow-up of current incident?

Kind regards,
Alexandre

[2019-03-29 21:13] DanHeidinga commented on #4927
@andrew-m-leonard Can you link to the OpenJDK discussion for issues with the PolicyUtil code?

[2019-03-29 21:19] harryyu1994 commented on #5289
Infrastructure Changes:
Server side:
- `TR::CompilationInfoPerThreadRemote::processEntry` handles each entry/compilation on the server
- In this function, instead of recycling `entry` & deleting `entry->_stream` after the compilation, we should keep the same `entry->_stream` and put `entry` right back in the queue.
Client Side:
- Maintain only 1 connection per compilation thread.

Then when server

[2019-03-29 21:31] avermeer commented on #4927
Finally I ran a search on OpenJDK issues, looks like this one is precisely related to current incident:
https://bugs.openjdk.java.net/browse/JDK-8218618

However the issue is marker as fixed only in Java 13, is there any hope to get it back ported to current Java 11 LTS ?

Kind regards,
Alexandre

[2019-03-30 06:31] avermeer commented on #4927
Hello,

I found another reference of this issue in the public version of  JBS (Java Bug System), with other linked incidents, at this place: https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8218618. It is worth noting that the fix is not only in Java 13, but was also back-ported to Java 12.

What would be the most efficient way to get this fix in next version of AdoptOpenJDK**11** with **OpenJ

[2019-03-30 17:29] kgibm commented on #1538
@Flandoll It's not beautiful, but you could try `-Xbootclasspath` instead of `CLASSPATH` as per my comment in the other issue.

[2019-03-31 03:25] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/659
NPEs

[2019-04-01 01:57] JasonFengJ9 opened #5310 "Test-extended.functional-JDK11-linux_x86-64 testSCCMLTests2_0"
Failure link
------------

Public link to the failing test.
If the link is not public, instead include
- test category (functionality, system, etc):
- test suite name:
- OS/architecture (i.e. Ubuntu 16.04 x64):
- OpenJDK version (i.e. 8u202-b08):
- public build SHAs (i.e. -version output):

https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64/216/tapResults/

Optional info

[2019-04-01 02:00] JasonFengJ9 opened #5311 "Test-extended.functional-JDK11-linux_x86-64 testSCCMLTests4_0 failures"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_x86-64/216/tapResults/

Optional info
-------------

- intermittent failure (yes|no): n/a
- regression or new test:  n/a
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) :

Failure output
--------------

[code]

Might be related to https://github.com/eclipse/op

[2019-04-01 02:14] JasonFengJ9 opened #5312 "Test-extended.functional-JDK11-win_x86-64_cmprssptrs cmdLineTester_shrcdbgddrext_1 "Remove shared cache" failed"
Failure link
------------

https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-win_x86-64_cmprssptrs/211/tapResults/

Optional info
-------------

- intermittent failure (yes|no): n/a
- regression or new test:  n/a
- if regression, what are the last passing / first failing public SHAs (OpenJ9, OMR, JCL) :

Failure output
--------------

[code]

[2019-04-01 10:29] knn-k commented on #5285
@hangshao0 Thank you for your suggestion.  What is the plan for moving to cmake?

[2019-04-01 12:21] pshipton commented on #5312
@jdekonin I suspect a machine problem with win2012r2-x86-4, can you please take a look.

[2019-04-01 12:48] pshipton commented on #5310
@jdekonin I suspect machine problems, related to creation of core files. Can you please take a look.

[2019-04-01 13:11] pshipton commented on #4927
@lumpfish @andrew-m-leonard can you please take a look at backporting the fix into the jdk11 extensions.

[2019-04-01 13:36] mpirvu commented on #5077
Fixed by #5099

[2019-04-01 13:36] #5077 closed

[2019-04-01 14:03] mpirvu commented on #3372
A few fields from jitConfig that need to be looked at
logFileName
runtimeFlags
translationFilters
TranslationFilterFlags
inlineSizeLimit
bcSizeLimit
maxInlineDepth
targetLittleEndian
vlogFileName
largeCodePageSize
largeCodePageFlags
osrFrameMaximimSize
osrScratchBufferMaximimSize
osrStackFrameMaximumSize

[2019-04-01 14:20] llxia commented on #5210
Test jobs are generated for above 4 suffixes for JDK8 and JDK11 in OpenJ9 Jenkins.

Below is the SPEC to ARCH_OS map that is needed in `get_test_job_name()`. We may also want to add map for `aarch32_linux` and `aarch64_linux` if we are going to run them in OpenJ9 soon.

[code]

[2019-04-01 14:52] sophia-guo opened #5315 "JTReg test fail - S390x java8 : java/lang/StringBuilder/Supplementary.java 'didn't throw java.lang.IllegalArgumentException'"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_s390x_linux/257/testReport/junit/java_lang_StringBuilder_Supplementary/java/Supplementary/

- test category (jtreg jdk_lang):
- test suite name: java/lang/StringBuilder/Supplementary.java
- OS/architecture (s390x):
- OpenJDK version (i.e. 8u202-b08):

[code]

Optional info
-------------

- intermitt

[2019-04-01 15:09] hangshao0 commented on #5285
@dnakamura

[2019-04-01 15:15] pshipton commented on #4927
@adamfarley mentioned he is looking at this.

[2019-04-01 15:32] sharon-wang commented on #5138
Still haven't reproduced on a 50x grinder, but here are some findings:

This test is failing on:
**java/rmi/activation/CommandEnvironment/SetChildEnv.java** - line 126.
[code]

which is similar to issue https://github.com/eclipse/openj9/issues/5049:
**java/rmi/activation/Activatable/checkActivateRef/CheckActivateRef.java** - line 140.
[code]

Looking further into these lines.

[2019-04-01 15:45] pshipton commented on #5285
Note there is a cmake plan of sorts in #90

[2019-04-01 17:16] vsebe commented on #4063
`cmdLineTester_CryptoTest_0`  failed - see https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/656/ (fails when using the default openssl package for CentOS 6 - OpenSSL 1.0.1e-fips 11 Feb 2013.
Installed openssl 1.1.1, test passed: https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/361/

[2019-04-01 17:19] MarkQingGuo commented on #5178
I think it's better to create a new class called `J9ValueTypeHelper` which contains a group of helpers used for valuetypes in ddr. What folder should I place this class? Is this directory `openj9/debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive` good?

[2019-04-01 17:44] pdbain-ibm opened #5317 "Implement jmap"
jmap is a utility to dump the heap statistics of a target process.  Specifically, it prints in tabular form:
- list of classes
- for each class the object size and aggregate size of the objects of this class.

This is implemented as a method in `MemoryMXBean`, so it will be available to the local process.  The `jmap` process uses the attach API to attach to the target process, run the method, and

[2019-04-01 17:44] keithc-ca commented on #5178
I'd suggest we continue the pattern of putting helper classes
in `package com.ibm.j9ddr.vm29.pointer.helper;`.

[2019-04-01 18:06] MarkQingGuo commented on #5178
Would this field `J9FlattenedClassCache *_flattenedClassCache` in `ObjectFieldInfo.hpp` be generated as `J9FlattenedClassCachePointer[] _flattenedClassCache` in.ddr?

[2019-04-01 18:23] pshipton commented on #4927
Already linked above, but fyi the jdk11 tracking issue https://github.com/ibmruntimes/openj9-openjdk-jdk11/issues/148

[2019-04-01 18:26] pshipton commented on #5315
Given that it is intermittent, likely jit related.
@fjeremic

[2019-04-01 18:29] pshipton commented on #4921
@JasonFengJ9 any progress?

[2019-04-01 18:47] vsebe commented on #4063
`SharedClasses.SCM01.MultiThread_0` passed in grinder - https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/362/
Relaunched [Test-extended.system-JDK11-linux_x86-64_cmprssptrs](https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_x86-64_cmprssptrs/229/console) - in progress

[2019-04-01 19:06] liqunl commented on #4640
Tested the change with Peter's set up, the issue is fixed.

[2019-04-01 19:50] sharon-wang commented on #5138
Not able to reproduce after 50x grinder with original SDK for three different custom targets that have previously failed on NPE.

Based on https://github.com/eclipse/openj9/issues/5049, built SDK artifact using:
[code]

Custom Targets:
- java/rmi/activation/CommandEnvironment/SetChildEnv.java
- java/rmi/activation/Activatable/checkActivateRef/CheckActivateRef.java
- java/rmi/activation/Activatable

[2019-04-01 19:54] fjeremic commented on #5315
@r30shah can you help take a look at this one? Could possibly be related to #4640.

[2019-04-01 20:08] JasonFengJ9 commented on #4921
The initial thought was the `J9Module` in question is freed after `TransletClassLoader` and `jdk.translet` are GCed. However from the snaptrace, `freeJ9Module()` wasn't be invoked and apparently the `classloader` wasn't unloaded either.
Currently looking at two possibilities, one is the scenario that `module` object is unloaded but the `classloader` wasn't unloaded hence`freeJ9Module()` is not inv

[2019-04-01 20:09] keithc-ca commented on #5178
You should expect this method in `ObjectFieldInfoPointer` to be derived from that field:
[code]

[2019-04-01 20:49] JasonFengJ9 commented on #5138
This probably is a dup of #5049 which is tagged as `comp:jit`.

[2019-04-01 20:49] liqunl commented on #5315
#4640 should only apply to VarHandle, which mean java9+.

[2019-04-02 02:18] JasonFengJ9 commented on #4921
**Update:**
The problem appears caused by multiple module objects with same name which is interned and shared.

Following two different `j9module` have different `moduleObject` but same `moduleName`
[code]

The `hashModuleTable` uses the `moduleName` as the `moduleHashEqualFn`:
https://github.com/eclipse/openj9/blob/eadc32af8ec8645afd86f5e166f4f94b9eeab843/runtime/vm/ModularityHashTables.c#L35-L52

[2019-04-02 04:00] pshipton commented on #5312
A similar problem in the sanity tests is blocking omr acceptance.
@AdamBrousseau please try rebooting win2012r2-x86-4

[2019-04-02 04:04] pshipton commented on #5310
@AdamBrousseau similar problems with core files are causing sanity tests to fail as well, blocking omr acceptance. Can you please check some of the failing machines for space issues. If nothing else, the machines could be rebooted. Lots of failing links in the #jenkins channel.

[2019-04-02 04:04] AdamBrousseau commented on #5312
Done

[2019-04-02 04:17] AdamBrousseau commented on #5310
I can't get into 1,2,3,6 and they are offline in Jenkins. The others seem fine. I know Connor had an issue for them (1-5) on Friday he was working in today. I'll connect with him tomorrow.

[2019-04-02 05:36] knn-k commented on #5285
I opened #5321 and https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/149 adding a new flag to j9.flags as a short-term solution.

[2019-04-02 12:38] cathyzhyi commented on #4453
@vesuppi Hey, the crash with `traceEscapeAnalysis` is because https://github.com/eclipse/openj9/blob/eadc32af8ec8645afd86f5e166f4f94b9eeab843/runtime/compiler/optimizer/EscapeAnalysis.cpp#L1543-L1547 where the the argument of `getClassName` should be just `classNode` instead of `classNode->getSecondChild()` which is fixed by this PR https://github.com/eclipse/openj9/pull/5213.
This crash should on

[2019-04-02 12:46] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK12-linux_x86-64/42
[code]

[2019-04-02 12:48] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/627
NPEs

[2019-04-02 12:48] pshipton commented on #3742
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/666

[2019-04-02 13:20] vsebe commented on #4063
All tests suites for JDK11 passed.

[2019-04-02 13:36] sharon-wang commented on #5138
Reproduced NPE with `-Xint` option added to test command and above SDK build:
`java/rmi/activation/Activatable/createPrivateActivable/CreatePrivateActivatable.java`
[code]

Saw NPE in two separate 50x grinders.

[2019-04-02 13:52] ChengJin01 commented on #5058
Just finished the compilation on Linux without JIT on my Ubuntu VM
[code]
and will get started to figure out how to modify the config/setting for RISC-V on OpenJDK11 side.

[2019-04-02 14:49] JasonFengJ9 opened #5325 "ClassCastException thrown at Logger.getLogger()"
Java -version output
--------------------

[code]

Summary of problem
------------------

Test case code snippet:
[code]

[code]

`RI` finished without `ClassCastException`.

Diagnostic files
----------------

n/a

[2019-04-02 14:57] JasonFengJ9 commented on #5138
The `NULL ActivationSystem` seems from [java/rmi/activation/ActivationGroup.java](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/608e2d56745d1fd31e5e2898b3513bfa46435592/jdk/src/share/classes/java/rmi/activation/ActivationGroup.java#L444-L461)
[code]

[2019-04-02 15:36] groeges opened #5328 "JTReg Test Failure - sun/nio/ch/TestMaxCachedBufferSize.java"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1409/

Also see the jtr file:
[TestMaxCachedBufferSize.jtr.log](https://github.com/eclipse/openj9/files/3034732/TestMaxCachedBufferSize.jtr.log)

Optional info
-------------

- intermittent failure (yes|no):  No
- regression or new test:
- if regression, what are the last passing / first failing public SHAs (OpenJ9

[2019-04-02 15:36] JasonFengJ9 commented on #5325
This occurs to `-Xint` and gc policies `optthruput`, `gencon` and `balanced`.

fyi @dmitripivkine

[2019-04-02 16:25] andrewcraik commented on #5061
@JasonFengJ9 I have checked the core and the envVar is a static string and definitely not null. That is why I passed it for investigation by those with OSX expertise. The queryX86TargetCPUID as no dynamic strings for any feGetEnv. I think this is a platform issue.

[2019-04-02 16:30] JasonFengJ9 commented on #5325
**Update:**

First, if moving `TestLogger tl = new TestLogger(LOGGER_FOO, null);` out of instance method `testAll()` to class level just above `main`, i.e., just after `LOGGER_FOO` declaration, `OpenJ9` finishes without `ClassCastException`.

The reason for the `weak reference` to `tl` within `LogManager` is removed is that `TestLogger tl` declared within `testAll()` is not considered a `strong` r

[2019-04-02 16:30] #5325 closed

[2019-04-02 17:12] gita-omr commented on #5116
@andrewcraik anything that might be a common code problem? We have not changed anything in this area recently.

[2019-04-02 17:28] DanHeidinga commented on #5325
This is the standard keepAlive problem.  OpenJ9 aggressively allows objects to be GC'd when they are no longer referenced by further bytecodes in the method.

If the test is relying on the TestLogger instance to be kept alive, it needs to do something to ensure it is alive.  See also [Reference#reachabilityFence](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/ref/Reference.

[2019-04-02 20:12] avermeer opened #5332 "OpenJ9 should ignore unknown JVM options when started from C++ instead of stopping with JVMJ9VM007E"
Hello,

While trying to use AdoptOpenJDK8 with OpenJ9 on various legacy applications, I found a generic issue which doesn't hit the AdopOpenJDK8 with HotSpot flavor with applications launching the JVM from C++ code with some empty JVM options.

In this case, running those legacy apps with OpenJ9 breaks the application with the following error message:

while using HotSpot at same Java 8 update lev

[2019-04-02 20:15] yanluo7 commented on #4764
Did a 50-run Load_Level_2.abbs.5mins.Mode551 tests, all passed. Issue doesn't appear to be reproducible.

[2019-04-02 20:21] DanHeidinga commented on #5332
This sounds like a bug.  I've tentatively assigned it to Milestone 15 (July refresh)

[2019-04-02 20:41] avermeer commented on #5332
Is it really too late for Milestone 14 (April refresh if I'm not mistaken)? My guess is that it's a quite small fix, but I can be wrong.

[2019-04-02 21:27] R-Santhir commented on #5116
@pshipton I'm having trouble looking at the test links.

[2019-04-02 21:27] sharon-wang commented on #5061
@andrewcraik here are some findings with much appreciated help from @babsingh.

There are three calls to 'omrsysinfo_get_env' in `feGetEnv2` (lines 1938, 1944, 1950), but the exact source of failure could not be pinpointed, since the problem appears to be not reproducible.
https://github.com/eclipse/openj9/blob/127ba34f1b6b2338beeed7ca1cf2e393640fae66/runtime/compiler/runtime/Runtime.cpp#L1930-L19

[2019-04-02 22:27] #4858 closed

[2019-04-02 23:03] pshipton commented on #5116
@R-Santhir we only keep the last 10 builds due to space issues. Although we may be able to increase that shortly. Anyway, the last failure is from 17 days ago, and the builds are gone. You'll have to grind it to see if it can be reproduced. It hasn't reoccurred on AIX that I've seen so far, but we do have similar NPEs on xlinux https://github.com/eclipse/openj9/issues/3742, the latest of which occ

[2019-04-02 23:24] gita-omr commented on #3742
The same test case fails on Power: https://github.com/eclipse/openj9/issues/5116#issuecomment-479245264

Another indication that it's a common problem. Could we start with the Intel failure? @andrewcraik @R-Santhir

@pshipton should we mark it as 0.14?

[2019-04-03 00:12] pshipton commented on #3742
@gita-omr not sure this is the same as #5116. This one is NPE, but in #5116 it failed with `expected:<-1> but was:<805474056>`.

We could mark this one as 0.14, although the failure rate seems low. #5116 was added to 0.14 because it failed twice in two days, although it hasn't been seen since.

[2019-04-03 01:52] #5297 closed

[2019-04-03 01:53] #4401 closed

[2019-04-03 12:54] pshipton commented on #5310
@AdamBrousseau
still got failures on ub16x64j93 and ub16x64j92
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/629/
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-linux_x86-64_cmprssptrs/278/

[2019-04-03 12:57] pshipton commented on #5310
Disabled the machines

[2019-04-03 13:12] andrewcraik commented on #3742
#5116 has been almost impossible to reproduce in grinders - I think someone on POWER should have at least a preliminary look to see if you can reproduce and what the issue looks to be. Common will be happy to look at anything you find. We are still working on #5116 but progress is very slow despite best efforts.

[2019-04-03 13:14] andrewcraik commented on #3742
This one has been almost impossible to reproduce in grinders - you can see how far apart the failed jobs above are. We are looking at it but I think if someone can look at #5116 and see if it reproducible and get some logs etc that would be ideal.

[2019-04-03 13:17] vsebe commented on #4063
Build and tests passed for JDK8 too: https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK8-linux_x86-64_cmprssptrs/895/console

[2019-04-03 13:25] andrewcraik commented on #5061
@sharon-wang thanks for the additional analysis - I didn't think it was the portlib it is just that I have never worked on OSX so was hoping for some help with the OS part of the analysis (which you gave - thanks!). I agree that it is very weird. The constant strings are passed through. I did do a codebase grep for putenv and there are none related to any of the JIT env vars so the usual dealloc o

[2019-04-03 13:41] DanHeidinga commented on #5061
There are two potential issues in the getEnv code.  I've opened a pull request to address them.  They likely aren't the cause of this failure, but may as well clean up the code while we're looking at it.

PR: https://github.com/eclipse/openj9/pull/5340

[2019-04-03 13:44] #5264 closed

[2019-04-03 13:46] vesuppi commented on #4453
Thanks a lot for locating the error! I'll try changing `classNode->getSecondChild()` to `classNode` and see if it fixes everything and let you know. Currently I am having some issue building the project after pulling the from openjdk upstream.

[2019-04-03 14:27] andrewcraik commented on #5061
Will be interesting to see a core with those clean-ups if it happens again after the PR merges.

[2019-04-03 14:36] DanHeidinga commented on #2049
I've moved the last piece of work in this to 0.15.0 which is for the JIT to match the Unsafe changes:
*  JIT Unsafe truncate boolean writes in JNI / Unsafe to match #4045 & #3896

FYI @fjeremic @gita-omr @andrewcraik

[2019-04-03 15:21] andrewcraik commented on #2049
This can be done in the common code - @liqunl can you do the change - should be a small couple of lines.

[2019-04-03 15:21] mpirvu commented on #3634
@ymanton Is this issue still happening?

[2019-04-03 15:54] babsingh commented on #3562
@mikezhang1234567890 Since DDR support has been enabled on OSX, can you verify if `cmdLineTester_dumpromclasstests_0` passes, and close this issue?

[2019-04-03 15:57] babsingh commented on #3562
@mikezhang1234567890 or @llxia or @sophia-guo Since DDR support has been enabled on OSX via https://github.com/eclipse/openj9/issues/3483, can you verify if `cmdLineTester_dumpromclasstests_0` passes, re-enable the test, and close this issue?

[2019-04-03 15:58] babsingh commented on #3791
@mikezhang1234567890 or @llxia or @sophia-guo Since DDR support has been enabled on OSX via https://github.com/eclipse/openj9/issues/3483, can you verify if `cmdLineTester_GCCheck*` passes, re-enable the test, and close this issue?

[2019-04-03 16:00] DanHeidinga commented on #5332
It'll depend on when we're able to investigate this and how risky the fix is.  If it's something straightforward found quickly, then we look at putting it in 0.14

[2019-04-03 16:01] sharon-wang commented on #4613
Reproduced issue in 1/20 grinder iterations on platforms osx, linux, linux s390 with parameters:

- **BUILD_LIST:** `openjdk_regression`
- **TARGET:** `jdk_custom`
- **CUSTOM_TARGET:** `java/util/stream/test/org/openjdk/tests/java/util/SplittableRandomTest.java`

Occurring on both JDK 8 and 11 for each platform.

Errors revolve around testDoubles(), testLongs(), testInts(), seemingly related to cr

[2019-04-03 16:02] pdbain-ibm commented on #1951
@andrew-m-leonard did my JDWP fix break anything in OpenJ9 or were all the problems with HotSpot?

[2019-04-03 16:03] avermeer commented on #5332
Alright, thanks!

[2019-04-03 16:03] babsingh commented on #3323
The knowledge for setting up OSX machines for OpenJ9 JDK8 development has been transferred to the infra team. Machines have been setup, and the infra team has developed the required scripts for setting up OSX machines for OpenJ9 JDK8 development. Thus, closing this issue.

fyi - @jdekonin @sxa555.

[2019-04-03 16:03] #3323 closed

[2019-04-03 16:07] babsingh commented on #3787
fyi @jdekonin / @Mesbah-Alam it's been 3 months. any update on how the locale should be corrected? is this issue fixed? can we re-enable the test and close this issue?

[2019-04-03 16:11] babsingh commented on #3321
https://github.com/eclipse/openj9/projects/7 is also used for tracking the remaining Mac issues. This issue is redundant. @pdbain-ibm should we close this?

[2019-04-03 16:24] pshipton commented on #3787
@babsingh somehow this issue morphed from a question about dialog boxes to a question about the locale. Note for Mauve we have excluded the locale dependent sub-tests, and mauve is running and passing.
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-osx_x86-64_cmprssptrs/116/tapTestReport/
MauveSingleInvocationLoadTest_OpenJ9_0
MauveMultiThreadLoadTest_OpenJ9_0

[2019-04-03 16:44] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-linux_x86-64/766
[code]

[2019-04-03 16:52] pshipton commented on #3562
AIX https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/247/tapTestReport/
OSX https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-osx_x86-64_cmprssptrs/116/tapTestReport/

lgtm

[2019-04-03 16:54] pshipton commented on #3562
Also for 11
AIX https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-osx_x86-64_cmprssptrs/116/tapTestReport/
OSX https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-osx_x86-64_cmprssptrs/127/tapTestReport/

[2019-04-03 17:01] pdbain-ibm commented on #1951
For the record, further to https://github.com/eclipse/openj9/issues/1951#issuecomment-391719650, running the test on OpenJ9m with this change works fine:
[code]

[2019-04-03 17:22] mstoodle commented on #5208
Any update here @dchopra001 ? Do we have any better understanding of the source of the mysterious `3f` ?

[2019-04-03 17:26] mstoodle commented on #5153
seems most of the root cause investigation for this one has happened via #5061 . Outlook there seems to depend on the very recently created PR #5340 (which may or may not be causing this outcome).

[2019-04-03 17:33] mstoodle commented on #4657
@0dvictor Any luck reproducing this failure outside of the nightly builds?

[2019-04-03 17:39] pdbain-ibm commented on #3321
Yes, closing.

[2019-04-03 17:39] #3321 closed

[2019-04-03 18:07] nbhuiyan opened #5349 "TR_DontRIUpgradeAOTWarmMethods and TR_UseRIOnlyForLargeQSZ share the same option mask"
Both `TR_DontRIUpgradeAOTWarmMethods` and `TR_UseRIOnlyForLargeQSZ` share the same value in enum TR_CompilationOptions [in OMROptions.hpp](https://github.com/eclipse/omr/blob/3e2bef8e9e0840ef3ddb61abc3f2bf5a8b4e0bab/compiler/control/OMROptions.hpp#L965)

Setting and querying about any of these options would result in the same value. `TR_UseRIOnlyForLargeQSZ` gets enabled by default on plinux, resu

[2019-04-03 18:11] pshipton commented on #5310
Machines were rebooted. Re-enabled them to see what happens in tonight's build.

[2019-04-03 18:12] pshipton commented on #5312
Haven't seen this again since the reboot.

[2019-04-03 18:12] #5312 closed

[2019-04-03 18:12] 0xdaryl commented on #5349
@gita-omr FYI

[2019-04-03 18:12] pshipton commented on #5311
Closing as a dup of #5310

[2019-04-03 18:12] #5311 closed

[2019-04-03 18:14] pshipton commented on #5332
Moved it to the 0.14 milestone to ensure we don't forget. This is not a commitment to fix it in 0.14

[2019-04-03 18:24] dchopra001 commented on #5208
*Status Update*

I have the problem narrowed down to the sub optimization that is causing the issue. I am still not sure if this is an optimization or codegen issue. Right now I am leaning towards an edge case being missed in the codegen. More details about the problem below.

During Value Propagation, we identify the `icall` node inside this block:

[code]
 38718 n4178n    BBStart <block_301>

[2019-04-03 18:44] cathyzhyi commented on #4453
you might want to check the adoptOpenJDK nightly build and see what sha of each component are they using. I suspect it might not work if your version of openjdk and openj9 and omr are too out of sync.

[2019-04-03 19:14] #4640 closed

[2019-04-03 19:33] ChengJin01 commented on #5058
The main reasons that our build needs to be compiled outside of QEMU/Linux are
1) Except the cross-compilers (gcc/g++ for riscv), a bunch of tools & commands (e.g. m4, etc) required in compiling the JDK are not entirely provided in riscv-gnu-toolchain & QEMU/Linux and there is no need to do so as they are offered on the Linux-based building platform.
2) The boot JDK (which is not compiled with the

[2019-04-03 19:35] ChengJin01 commented on #5058
@alistair23 ,  do you know the basic steps to build X11 to riscv-gnu-toolchain?

[2019-04-03 19:38] #5285 closed

[2019-04-03 19:45] AdamBrousseau commented on #5210
Great. We will also need JDK12,13 and 'next' which might need another conversation.

[2019-04-03 19:47] vesuppi commented on #4453
@cathyzhyi

Thanks for the suggestion. I synced up both openj9 and openjdk, but it didn't seem to build with my old docker image. I often saw people discuss AdoptOpenJDK in the openj9 slack, but not sure how to use it together with openj9 source. Its website (https://adoptopenjdk.net/releases.html) seems to provide nightly builds for the entire project, do you know how to use AdoptOpenJDK's binary

[2019-04-03 19:50] fjeremic commented on #5208
@dchopra001 are you able to hop in the debugger and validate what the JIT is doing at the codegen level? We will evaluate `arraytranslate` into some form of `TRTO` (translate) instruction or similar which uses a pre-computed static table to do the translation. It's possible we have a codegen bug there assuming the optimizer transformed the trees correctly.

[2019-04-03 19:53] alistair23 commented on #5058
The problem isn't that you don't have X11 in the toolchain, it's that you don't have the X11 libraries installed for the guest. My advice would be to use Yocto/OpenEmbedded to build a rootFS. Continuing to build these this manually will be more and more of a pain.

[2019-04-03 19:54] alistair23 commented on #5058
The other option is to use RISC-V Fedora, where you probably can dnf install the libraries.

[2019-04-03 20:06] alistair23 commented on #5058
This doesn't sound right. This sounds like you haven't installed the required tools onto the guest image. Almost all packages that run on x86 will run on RISC-V, about 90% of the Fedora/Debian packages are being cross compiled. My colleague just checked and m4 can be installed in Fedora with a simple dnf install and it's available as a RISC-V target package in OpenEmbedded.

If you would like to c

[2019-04-03 20:08] alistair23 commented on #5058
Does this mean that it is impossible to natively compile JDK on a non-x86 architecture?

[2019-04-03 20:12] ChengJin01 commented on #5058
Technically yes, the compilation is combined with cross-compiler, macro preprocessor, other tools as well as the boot JDK which is only compiled on the host /can't be used in QEMU.

[2019-04-03 20:15] alistair23 commented on #5058
The compiler, macro pre-processor and standard build tools will all work on a non-x86 native compile.

So boot JDK is x86 only?

When you say can't be used in QEMU, do you mean QEMU specifically or just that it can't be built on non-x86 architectures?

[2019-04-03 20:19] yanluo7 commented on #4764
50-run win 32 abbs.5mins.Mode187 all passed.

[2019-04-03 20:20] ChengJin01 commented on #5058
Not really, we always need a boot JDK (already compiled) for the compilation. Basically, compiling a JDK always involves a boot JDK (only x86 in our case) which is already ready for use; otherwise there is no need to compile outside of QEMU if everything including the boot JDK is ready for use.

[2019-04-03 20:22] alistair23 commented on #5058
Ah, so boot JDK is a bootstrapper that allows you to compile. In this case boot JDK is already and only compile for x86 so you need to do a x86 host cross compile.

In which case a native Fedora style compile won't work for you. I still recommend OpenEmbedded then.

[2019-04-03 20:24] dchopra001 commented on #5208
@fjeremic Yes, I'm trying to see what the JIT is incorrectly in a debugger.

This isn't related to `TROT` instructions though because we end up taking this branch and generating vector instructions to handle this workload instead:
https://github.com/eclipse/omr/blob/18846d220b2b0417d75e171b6baf5819ed8555ff/compiler/z/codegen/OMRTreeEvaluator.cpp#L10586-L10590

So the issue should be in the `arrayt

[2019-04-03 20:26] JasonFengJ9 commented on #5332
will have a look.

[2019-04-03 20:27] ChengJin01 commented on #5058
At this point, does the cross-compiler can locate the correct X11 libraries offered from OpenEmbedded (the total compilation happens outside of QEMU) ?

[2019-04-03 20:29] alistair23 commented on #5058
OpenEmbedded will allow you to build the entire distro on your host machine (x86).

OpenEmbedded will build the X11 libraries for you and will link with them.

[2019-04-03 20:37] JasonFengJ9 commented on #5332
@sharon-wang is working on it already

[2019-04-03 20:38] ChengJin01 commented on #5058
@alistair23,  many thanks for your suggestion. I will try to see whether OpenEmbedded works for us in such case. Let me know whether there is anything need to be aware of duiring installing/building OpenEmbedded (links, guides, etc)

[2019-04-03 20:41] alistair23 commented on #5058
If you want I can have a go at it. Is there some sort of Java that can be cross compiled today?

I would recommend just following the docs in meta-riscv. There is also the Yoe distro (https://github.com/YoeDistro/yoe-distro) that seems easy to use, although I don't use it.

[2019-04-03 20:54] sharon-wang commented on #5332
Opened https://github.com/eclipse/openj9/pull/5353 to address this issue.

It ignores options that are empty ("") or that only contain white space characters to match the RI behaviour.

[2019-04-03 21:21] avermeer commented on #5332
Hello @sharon-wang,

I am glad to see that you extended the fix to ignore Java options only made of white spaces, as it can happen and it is also ignored by HotSpot-based Java Runtimes.

Please let me know when your fix will be available in AdoptOpenJDK nightly builds. I will test my legacy apps which currently fail to start with OpenJ9 using such nightly builds, and I will let you know if the iss

[2019-04-03 22:59] harryyu1994 commented on #5289
@mpirvu So after fixing a couple of corner cases, now this "simple" approach can run `-XX:JITaaSClient -version` without any issues. Will perform further testing tomorrow but it seems like it's working. No infrastructure changes required.

[2019-04-03 23:10] mpirvu commented on #5289
Great! I am eager to know the testing results

[2019-04-03 23:13] ChengJin01 commented on #5058
Might exist but not available in the public as far as I know.  That's what we are currently doing here.

[2019-04-03 23:20] alistair23 commented on #5058
I figured that, I just meant is there maybe some WIP that I could test the build process with or maybe config options to disable the JIT and interpreter. I misread what you posted above and thought you had something running on RISC-V.

Either way, let me know if there is anything else you need

[2019-04-04 02:43] ChengJin01 commented on #5058
@alistair23 ,  I already followed the instructions at https://github.com/riscv/meta-riscv to build the image on one of our internal Ubuntu VM.
[code]
It seems this is the pretty much one as I already done before to build the EQMU environment (I didn't find any compiler/toolchain pre-installed in the EQMU), which is only used to launch the target JDK instead of compiling the JDK source. Even though

[2019-04-04 05:12] ChengJin01 commented on #5058
There is an online Fedora/riscv environment for entire native development at
https://bellard.org/jslinux/vm.html?cpu=riscv64&url=https://bellard.org/jslinux/fedora29-riscv-2.cfg&mem=256

[2019-04-04 05:23] ChengJin01 commented on #5058
I also checked the result from an online Fedora/RISC-V enviroment (also without X11 headers at /usr/include) at https://rwmj.wordpress.com/2018/09/13/run-fedora-risc-v-with-x11-gui-in-your-browser/
![image](https://user-images.githubusercontent.com/18036229/55531348-e8e61300-5677-11e9-9c2d-d3e016449641.png), which ended up with the same error in such case.

It seems a bunch of native headers in Op

[2019-04-04 05:33] DanHeidinga commented on #5058
Does configuring with `--with-x=no` work around the issue?

[2019-04-04 14:49] ChengJin01 commented on #5058
It doesn't help and will ends up with the following error:
[code]
as already explained at /riscv_openj9-openjdk-jdk11/make/autoconf/lib-x11.m4
[code]
and /riscv_openj9-openjdk-jdk11/make/autoconf/libraries.m4
[code]

[2019-04-04 16:05] TiborBeres opened #5359 "jython import signal statement results in ValueError: Signal already used by VM or OS: SIGALRM error"
java -version
openjdk version "11.0.2" 2019-01-15
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.2+9)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.12.1, JRE 11 Linux amd64-64-Bit Compressed References 20190204_127 (JIT enabled, AOT enabled)
OpenJ9   - 90dd8cb40
OMR      - d2f4534b
JCL      - 289c70b6844 based on jdk-11.0.2+9)

running IBM liberty server v19.0.0.1 deployed on Ubuntu16.04:
l

[2019-04-04 16:14] DanHeidinga commented on #5359
FYI @babsingh - Does this map to any of the existing signal issues?

[2019-04-04 16:17] pshipton commented on #5359
fyi Tibor told me this works on Hotspot.

[2019-04-04 17:26] #4921 closed

[2019-04-04 17:37] ChengJin01 commented on #5058
I managed to hack the the script in configure to disable the X11 libraries and will keep checking remaining errors in config.

[2019-04-04 17:44] gita-omr commented on #5116
@pshipton how do you know it has not failed on AIX since the defect was opened? Is there a test case (vs. build) history somewhere? That would be the easiest way to see if the problem is gone. Setting up grinder on AIX happened to be non-trivial and very time consuming.

[2019-04-04 17:48] alistair23 commented on #5058
Yep, OpenEmbedded doesn't include the toolchain in the guest image by default. To install it just edit your `IMAGE_FEATURES` variable in your conf/local.conf file.

Something like this will give you development and debug packages for all installed packages and it will install the tools required to build and debug natively.

`IMAGE_FEATURES += "debug-tweaks dev-pkgs dbg-pkgs tools-sdk tools-debug"`

[2019-04-04 17:50] alistair23 commented on #5058
I don't understand this. I have been saying you can use Fedora and you can run it in directly in QEMU. I thought that isn't an option because you need to cross compile on x86 due to the boot JDK boot strapper?

[2019-04-04 18:00] avermeer commented on #4921
Great news!

Question: I see that it's closed on 0.14.0 release, but current nightly builds have 0.13.0 version.
Am I missing something?
Is there a way this fix could be part of upcoming nightly builds?

Kind regards,
Alexandre

[2019-04-04 18:04] JasonFengJ9 commented on #4921
@avermeer the PR was just merged and will be available in a nightly build next day or two. I think `0.14.0 release` build is not ready yet.

[2019-04-04 18:07] dnakamura commented on #3725
Closing as last PR merged

[2019-04-04 18:07] #3725 closed

[2019-04-04 18:07] ChengJin01 commented on #5058
No need to have tool chains for now but it is better to be ready for use later (compiling & debugging)

The theory is, if we are able to generate the first JDK on RISCV via cross-compilation (it has to be this way), then the generated JDK can be used as the first boot JDK on RISCV. That means the total compilation can be moved into QEMU along with the generated JDK and there is no need to do via c

[2019-04-04 18:08] alistair23 commented on #5058
So the next step if you want to keep using OpenEmbedded is to either add OpenJ9 to the [meta-java layer](https://git.yoctoproject.org/cgit/cgit.cgi/meta-java/) or to just build an SDK and use that.

If you don't have a lot of OpenEmbedded experience it is probably easier to just build the host SDK as then you don't have to work with the OpenEmbedded build system. The advantage with using the build

[2019-04-04 18:10] alistair23 commented on #5058
Makes sense! This can be easily done with the IMAGE_FEATURES I mentioned above.

You will probably want to set `DISTRO_FEATURES += "x11"` as well, to install X11.

Great!

[2019-04-04 18:16] avermeer commented on #4921
@JasonFengJ9 alright, I will wait a little bit to test using nightly build then.
BTW, is there a way to know when a given PR is part of a given nightly built?
For example, is there any file in the binary distribution that gets the list of all fixes?

[2019-04-04 18:18] ChengJin01 commented on #5058
All of these looks great for us to take OpenEmbedded as the perfect option to run/debug the JDK and compile a fully-featured JDK later on once we finish the cross-compilation.

[2019-04-04 18:33] JasonFengJ9 commented on #4921
@avermeer thanks for your patience. This PR commit has SHA `c11ff94`, SDK `-version` gives a `OpenJ9` SHA. If the PR SHA is a parent of the SDK `OpenJ9` SHA, the fix is included.
I think the SDK build has a way to show the PR included since last build, not sure if there is such standalone file showing the commits since last binary distribution, nice feature though.

[2019-04-04 18:44] harryyu1994 commented on #5289
28% improvement in cpu time for SSL.

[2019-04-04 19:08] pshipton commented on #4921
@avermeer the nightly build should not show 0.13 or another OpenJ9 release version. This is the latest nightly build for xlinux. It has dates and SHAs.
The 0.14 release will be created after April 16th. We can't commit to an exact date until the OpenJDK changes for the release are known.
[code]

[2019-04-04 19:30] pshipton commented on #5116
I know it has not failed in the nightly or OMR acceptance builds, because I monitor the #jenkins Slack channel where failures are reported, and update or create Issues to report the failures.

Grinders are not hard. I've started 100 iterations https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/364/

[2019-04-04 19:36] pshipton commented on #5116
Messed up a parameter, fixed in https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/366

Assuming my grinder works, you can use "rebuild" to run it again and change any options.
@gita-omr

[2019-04-04 19:48] pshipton commented on #5116
Try again, the latest nightly build at Adopt is too old, it doesn't match the latest OpenJ9 test material. Using the latest OpenJ9 nightly build instead.

https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/367/

[2019-04-04 20:13] cathyzhyi commented on #4453
@vesuppi
The night builds are built with https://github.com/ibmruntimes/openj9-openjdk-jdk8 and https://github.com/eclipse/openj9/ and https://github.com/eclipse/omr. You can check which shas are the nightly build built with by checking the `java -version` output. Take this nightly build for example:
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2019-04-03-17-10/OpenJDK

[2019-04-04 20:15] pshipton commented on #5116
@gita-omr The problem definitely still occurs, it's happening in that last grinder.

[2019-04-04 20:18] 0dvictor commented on #4657
Sorry that I haven't got it reproduced outside of the nightly builds yet. I'll try more/different grinders.

[2019-04-04 20:20] pshipton commented on #4927
The backport PR is https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/151

[2019-04-04 20:54] gita-omr commented on #5116
yes, just saw it. thanks!

[2019-04-04 20:55] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/636/
[code]

[2019-04-04 21:00] pshipton opened #5368 "Grinder doesn't report failure in TAP output"
https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/367
The first iteration failed, however the TAP output shows 0 failures and only 99 iterations out of the 100 which occurred. `99 tests, 99 ok, 0 not ok, 0 skipped, 0 ToDo, 0 Bail Out!`
[code]

[2019-04-04 21:00] pshipton commented on #5368
@smlambert @llxia

[2019-04-04 21:01] pshipton commented on #5116
Failed 1/100.
Notice the following issue with the grinder https://github.com/eclipse/openj9/issues/5368

[2019-04-04 21:04] pshipton commented on #4657
Trying 200 iterations on the external machines https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/368/

[2019-04-04 21:17] keithc-ca commented on #5295
I have worked out how to add the following to the output of `info thread`
[code]
@sehirst Will that work for you, or do you think `!stackslots` needs to be there (as well or instead of `!stack`)?

[2019-04-04 21:29] sehirst commented on #5295
That's perfect. Thanks!!

[2019-04-04 21:34] harryyu1994 commented on #3372
`runtimeFlags`: only `J9JIT_RUNTIME_RESOLVE` is probably needed per-client

`J9JIT_AOT` : not used

`J9JIT_JIT_ATTACHED`: don’t need this info from client

`J9JIT_AOT_ATTACHED`: don’t need this info from client

`J9JIT_CG_OPT_LEVEL_HIGH`: not used anywhere

`J9JIT_GROW_CACHES`: related to “singleCache” allow only one code cache and one data cache to be allocated command line option

`J9JIT_PATCHIN

[2019-04-04 21:40] harryyu1994 commented on #4476
Looking into this one.

[2019-04-04 21:46] #3562 closed

[2019-04-04 22:05] avermeer opened #5371 "OpenJ9 up to 29x slower with Nashorn than HotSpot"
Hello,

We have large server stack exposing its API through Javascript for applications running on top of it.

We get significantly less performances using AdoptOpenJDK11 with OpenJ9 vs. AdoptOpenJDK11 with HotSpot to run this stack. The order of magnitude of performance degradation over HotSpot flavor is around 20%.

We had hard time spotting what could be the main factor explaining this slowness

[2019-04-04 22:13] pshipton commented on #5310
There have been some failures on ub16x64j94, I've disabled it for now.
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-linux_x86-64/771
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK12-linux_x86-64_cmprssptrs/46
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/637

[2019-04-04 22:13] NottyCode opened #5373 "Performance of ManagementFactory.getRuntimeMXBeans is high on Java 11 and 12"
Java -version output
--------------------
openjdk version "12" 2019-03-19
OpenJDK Runtime Environment AdoptOpenJDK (build 12+33)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.13.0, JRE 12 Mac OS X amd64-64-Bit Compressed References 20190320_32 (JIT enabled, AOT enabled)
OpenJ9   - caeb51f87
OMR      - 33a33ff2
JCL      - 419f571019 based on )

Summary of problem
------------------

Calls to Manag

[2019-04-04 22:16] pshipton commented on #5373
@keithc-ca

[2019-04-04 22:22] 0dvictor commented on #5243
#5333 replaces the malfunction code causing this Issue. It is now merged and hence this Issue is resolved.

[2019-04-04 22:23] pshipton commented on #5371
@andrewcraik @mstoodle

[2019-04-04 23:39] pshipton commented on #4657
Failed 7/200

[2019-04-05 00:09] smlambert commented on #5368
Appears that the 1 failed run out of the 100 encountered a parse error

<img width="917" alt="Screen Shot 2019-04-04 at 8 08 23 PM" src="https://user-images.githubusercontent.com/2836948/55596245-9b1fe800-5715-11e9-9f5e-753ae60d6600.png">

[2019-04-05 04:01] DanHeidinga commented on #5371
@avermeer OpenJ9's approach to MethodHandle inlining works well when the MethodHandles are in the root method of the inlined body and much less so when the MethodHandles are introduced by other inlined methods.

ie:  If compiling method `a()` and it has MH-related code directly in it, we're good.
if compiling method `a()` causes `b()`, which has MH-related code, to be inlined, then we're not as go

[2019-04-05 05:44] avermeer commented on #5371
Hello @DanHeidinga, thank you very very much for the link to already opened jsr292 performance issue, I should have thought to search for this JSR since Javascript integration in Java relies on this JSR.

I am not sure to get your point about MethodHandles inlining: do you imply that we should change our code to make it faster with OpenJ9, or is it a analysis of what is the cause of our observed p

[2019-04-05 07:27] avermeer commented on #4837
Hello, I submitted #5371.  I volunteer to retry its associated bench test case with any OpenJ9 binaries (on Linux or Windows) that you think might help improve the performances for this - even if the binaries aren't yet on nightly builds (in which case i'll need an URL to download them).

Running the test take about 1 hour, but I'm patient - especially if that can help.

[2019-04-05 09:27] adamfarley commented on #4927
A backport bug has been raised in the OpenJDK community: https://bugs.openjdk.java.net/browse/JDK-8221990

I've also notified the security-dev mailing list and asked for reviews.

[2019-04-05 10:15] ShishirH opened #5374 "Fix behaviour of XX:-IdleTuningGcOnIdle"
In a container environment, both XX:+IdleTuningGcOnIdle and XX:+IdleTuningCompactOnIdle are enabled by default. Right now, XX:-IdleTuningGcOnIdle only does not release the pages back to the OS. Because CompactOnIdle is enabled in the container, GC still takes place. This can be easily verified by a simple program that sleeps for a few minutes, running the program in a container, and looking at the

[2019-04-05 10:42] ashu-mehra commented on #5374
@gjdeval - fyi

[2019-04-05 12:29] PhilWakelin opened #5375 "JIT Code Cache committed value too high"
After testing issue [4674](https://github.com/eclipse/openj9/issues/4674) I have found that the JIT Code Cache committed value as reported by the MemoryPool MBean is reported as the maximum limit (i.e 256M by defafult) rather than what is actually allocated.
This also affects the Java core JIT Code Cache allocation summary data.

With a default 256M JIT Code Cache the value of : 268,435,456 bytes

[2019-04-05 12:36] pshipton commented on #5375
@LinHu2016 can you please look at this regression with priority. Note the testing was done on z/OS.

[2019-04-05 12:41] DanHeidinga commented on #5374
Thanks for reporting this @ShishirH.

I agree that it's not intuitive to need to set both `XX:-IdleTuningGcOnIdle` and `XX:-IdleTuningCompactOnIdle` to actually disable GC on idle.

The way to approach this is to make CompactOnIdle a subset (tuning) of GCOnIdle.

So the following would be legal:

gcOnIdle | compactOnIdle | Behavior
-- | -- | --
Enabled | Enabled | gc on idle -> compaction + releas

[2019-04-05 12:43] pshipton commented on #5375
@PhilWakelin
I removed mention of FP35 since this is an IBM release and doesn't apply in the context of this open source project.

What do you mean by " This also affects the Java core JIT Code Cache allocation summary data " ?

The MXBean changes don't affect the javacore, which shouldn't have changed behavior. If it did, there must be something else that changed. The NATIVEMEMINFO has always sho

[2019-04-05 12:44] pshipton commented on #5375
@joransiu

[2019-04-05 12:55] pshipton commented on #5375
Phil shared the following data

new MXBean data:
`JIT code cache: init=2048K max=262144K used=0K committed=262144K `

corresponding javacore data:
[code]

old MXBean data (from early Dec):
`JIT code cache: init=2048K max=0K used=0K committed=12288K`

[2019-04-05 12:59] pshipton commented on #5375
@mpirvu did something change related to how the code cache cache is allocated?

[2019-04-05 13:03] andrewcraik commented on #5371
@avermeer no need to change your code at this time - @DanHeidinga was pointing out a limitation in the current OpenJ9 JIT compiler handling of MethodHandles and this is a limitation that we are actively working to improve. You should see some changes being delivered referencing #4837 soon and these should help improve OpenJ9's performance

[2019-04-05 13:15] llxia commented on #5368
From console output:
[code]

This is similar to the issue https://issues.jenkins-ci.org/browse/JENKINS-39509
Note: TAP Plugin version is 2.2.2 on OpenJ9 Jenkins

[2019-04-05 13:19] LinHu2016 commented on #5375
@pshipton Sure

[2019-04-05 13:32] joransiu commented on #5375
On V2R3 with RMODE64, we would allocate a 256MB contiguous region for the code-cache to avoid use of trampolines.  Question comes down to whether `committed` value should reflect the memory in use, as RSM only backs up pages with real memory once they are touched.

[2019-04-05 13:41] mpirvu commented on #5375
Right. There was no change in how the code cache is allocated. However, in some instances (on V2R3 with RMODE64 ) zOS started to make use of the "code cache consolidation" feature which allocates a 256M "code cache repository" from which individual 2MB code caches are carved.

[2019-04-05 13:49] pshipton commented on #5375
I didn't include it above, but I note the code cache is in 31-bit memory according to the segments. Also running on `z/OS 02.02.00`
[code]

[2019-04-05 13:57] avermeer commented on #5371
@andrewcraik thank you very much for this clarification.

I stay tuned on #4837 issue, which I have subscribed to, so as to get mail notifications when something happen there.

[2019-04-05 14:01] PhilWakelin commented on #5375
What I was referring to was the fact that the Java core stated the following:
`1MEMUSER       |
2MEMUSER       +--JIT: 291,343,423 bytes / 2217 allocations
2MEMUSER       |  |
3MEMUSER       |  +--JIT Code Cache: 268,435,456 bytes / 128 allocations
2MEMUSER       |  |
3MEMUSER       |  +--JIT Data Cache: 8,388,864 bytes / 4 allocations
2MEMUSER       |  |
3MEMUSER       |  +--Other: 14,519,103 byt

[2019-04-05 14:01] pshipton commented on #4927
@adamfarley at what point in this process can we merge ibmruntimes/openj9-openjdk-jdk11#151? I don't expect the OpenJDK community to accept the change in time for the April 16th release, but we do want this change in the OpenJDK + OpenJ9 equivalent.

[2019-04-05 14:02] LinHu2016 commented on #5375
for "committed" memory usage of JIT Code Cache and JIT Data Cache in MXBeans reporting, we use segment->size, it has not been changed for a while, in java core it is the same. but for "used" of memoryUsage  currently we use  seg->heapAlloc - seg->heapBase, in java core it reports differently (due to The JIT code cache grows from both ends of the segment), in javadump.cpp line3475 writeSegments(),

[2019-04-05 14:07] mpirvu commented on #5375
Looking at the javacore, at least it's a 64-bit JVM, because we don't allow the code cache consolidation feature on 31/32 bit due to address space limitations.

Maybe the code that is supposed to detect the ability of allocating the repository at higher addresses is not working correctly. @fjeremic may know more about the implementation.

[2019-04-05 14:14] adamfarley commented on #4927
We've already had a response from a Reviewer in the updates project (that contains 11u) saying he doesn't see any potential issues, so I've straight-up asked him to sponsor the change.

If this doesn't get approved in time, the PR can be merged at the last minute, so at least OpenJ9 OpenJDK11 will contain the change.

As for "readiness status", the PR is fit to be merged whenever we want to merge

[2019-04-05 14:40] pshipton opened #5379 "Test-sanity.system Mauve gnu.testlet.java.text.CollationElementIterator"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_390-64_cmprssptrs/305
MauveSingleThreadLoadTest_OpenJ9_0
MauveMultiThreadLoadTest_OpenJ9_0
[code]

[2019-04-05 14:40] pshipton commented on #5379
@fjeremic

[2019-04-05 14:42] fjeremic commented on #5379
@NigelYiboYu could you please take a look at this one?

[2019-04-05 14:50] pshipton commented on #5379
@fjeremic @NigelYiboYu sorry, I was a little hasty thinking this was a z problem. That is just the fastest platform to test on.

https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-win_x86-64_cmprssptrs/217

[2019-04-05 14:51] pshipton commented on #5379
and good to check with @Mesbah-Alam, did the Mauve test change again?

[2019-04-05 14:52] fjeremic commented on #5375
@PhilWakelin can you confirm you are running this on V2R2 and this is why you're expecting the code caches to be allocated at 2MB granularity? This is how it's supposed to be intended via the code in [1].

[1] https://github.com/eclipse/omr/blob/4a8f75903244b2c3464ff4acc48240b34061f32a/compiler/control/OMROptions.cpp#L3700-L3716

[2019-04-05 14:55] pshipton commented on #4927
@adamfarley I'd be happy to merge it before the OpenJDK + OpenJ9 Milestone 1 build on April 9. Note the PR is still marked WIP.

[2019-04-05 14:59] fjeremic commented on #5379
Anything that points to the JIT either? It seems as if the presumption was that this is a JIT bug.

[2019-04-05 15:00] NigelYiboYu commented on #5379
The above x86 test failed in the same test `10:43:05  LT    Test details  = 'Mauve[gnu.testlet.java.text.CollationElementIterator.jdk11]'`

[2019-04-05 15:02] PhilWakelin commented on #5375
This is the iplinfo
[code]

[2019-04-05 15:05] PhilWakelin commented on #5375
This is what a code cache looks like using the prior version of Java8, running on the same machine

[code]

[2019-04-05 15:09] pshipton commented on #5379
Agreed, checking that in https://github.com/eclipse/openj9/issues/5379#issuecomment-480304987.
Although if the tests didn't change, it will be a JIT bug.

[2019-04-05 15:21] pshipton commented on #5379
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-aix_ppc-64_cmprssptrs/258

[2019-04-05 15:36] pshipton commented on #5379
This build.
[code]

Last "good" build.
[code]

Changes:
https://github.com/eclipse/openj9/compare/8212220...2b707c2
https://github.com/eclipse/openj9-omr/compare/c363b21...54908f0

[2019-04-05 15:38] pshipton commented on #5379
@andrewcraik

[2019-04-05 15:51] r30shah commented on #5315
Seeing 1/100 failure rate when ran grinder locally on this job. Going to continue investigation.

[2019-04-05 15:54] andrewcraik commented on #5379
@hzongaro the EA changes landed in this build so maybe they are related - could you have a look?

[2019-04-05 16:02] pshipton commented on #5379
This test material changed (not interesting), but there should be system test material as well, which I haven't yet figured out.
https://github.com/AdoptOpenJDK/openjdk-tests/compare/1d006fe...0880a4d

[2019-04-05 16:03] pshipton commented on #5379
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-win_x86/214
MauveSingleThreadLoadTest_OpenJ9_0

[2019-04-05 16:05] pshipton commented on #3081
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/250
`com.sun.tools.attach.AttachNotSupportedException: acknowledgement timeout from 9765084 on port 37308`

I'm not going to keep reporting these intermittent failures.

[2019-04-05 16:09] hangshao0 opened #5380 "The shared cache compatibility broken"
New bytecodes were introduced by #1831, which breaks the shared cache compatibility. The shared cache generation was not increased.

A simple test case is:
[code]

I stored the class to the shared cache using an old JVM before #1831.
[code]
Then startup the shared cache again using the newest JVM (with -Xshareclasses:readonly).
`java -Xshareclasses:name=Cache1,readonly Test`

I get:
[code]

[2019-04-05 16:16] fjeremic commented on #5375
I just checked the master branch built on top of z/OS V2R2 and I see the following by running:

[code]

[code]

The detection logic should work as intended on z/OS V2R2. As far as RMODE64 is concerned we seem to be doing exactly what we're supposed to, i.e. if RMODE64 is not supported we revert back to allocating 2MB chunks for each code cache.

It seems in your original javacore you had 128 of th

[2019-04-05 16:27] fjeremic commented on #5375
Looking at the original javacore it seems we did not allocate the entire codecache in one go, and then spliced up the code cache into 2MB chunks. It seems we allocated each induvidual 2MB chunk one at a time. We can see this because the distance between the first and last code cache segment is ~414MB which is way over our limit of 256MB. You can also see there are "breaks" in between some of the c

[2019-04-05 16:51] fjeremic commented on #5380
@hangshao0 can you ensure whoever fixes this that we add a unit test into our sanity builds so this doesn't happen in a future change?

[2019-04-05 16:57] ashu-mehra commented on #5374
We should also add some command-line tests to ensure the combination of these options is working as expected.

[2019-04-05 17:16] mpirvu commented on #5375
Indeed, there are 128 individual code caches that have little code in them.
We have a theory about that: to deal with multithreading a JIT compilation thread reserves a code cache before laying down the code. At the end of the compilation the code cache is un-reserved. If that doesn't happen due to a bug, then the code cache will remain reserved and nobody can write to it even though it may have f

[2019-04-05 17:41] avermeer opened #5381 "Make OpenJ9 dump javacore files to STDOUT by default"

[2019-04-05 17:56] avermeer commented on #5381
Hello,

I got some feedbacks that OpenJ9 current behavior not to dump javacore files (upon kill QUIT) to STDOUT (standard output) is causing couple of issues:
1. With web apps running on Tomcat, OpenJ9 generates javacore into
  `\<tomcat install path\>/bin`
  directory, which might not have write permissions to the running Tomcat process.
  Whereas Hotspot uses by default STDOUT so javacore is wri

[2019-04-05 18:10] avermeer opened #5383 "-Xmso documentation is confusing, need to clarify exact behavior or this option"
Hello,

Some of our webapps make intensive usage of native (C++ coded) features through JNI.

With OpenJ9, we experienced crashes that reminded some friend "hard old time when they used to support Java on AIX" and then they remembered about the obscure –Xmso option which OpenJ9 has to "solve" this kind of issues.

I will open a distinct issue with a test case of a Java application using JNI that c

[2019-04-05 19:49] pshipton commented on #5383
https://www.eclipse.org/openj9/docs/xmso/

@SueChaplain @doveye

@avermeer technically doc issues should be opened at https://github.com/eclipse/openj9-docs/issues

[2019-04-05 19:57] avermeer commented on #5383
@pshipton thank you very much for pointing me to https://github.com/eclipse/openj9-docs/issues, I have bookmarked it so I won't open anymore documentation issues in current place.

Should I ask for closing current issue and re-create it in https://github.com/eclipse/openj9-docs/issues?

[2019-04-05 20:06] hzongaro commented on #5379
@andrewcraik Will do

[2019-04-05 20:26] pshipton commented on #5379
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-win_x86-64_cmprssptrs/218
MauveSingleThreadLoadTest_OpenJ9_0

[2019-04-05 20:28] pshipton commented on #5383
You can if you want. Although I expect we can handle it being here as well.

[2019-04-05 20:30] pshipton commented on #5379
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_390-64_cmprssptrs/227
MauveSingleThreadLoadTest_OpenJ9_0

[2019-04-05 20:38] avermeer commented on #5383
Done, I created #247 and I'm closing this one.

[2019-04-05 20:38] #5383 closed

[2019-04-05 20:38] dchopra001 commented on #5208
For documentation purposes, here is how the reproduce the problem.

This problem can be reproduced 100% with the following Java program:
[code]

The file can be compiled with the following command:
[code]
(When run from the `openj9-openjdk-jdk12/test/jdk/`) folder.

The command to run the test, reproduce the failure and collect log files is:
[code]
The jdk version I'm using is:
[code]

[2019-04-05 20:48] #5095 closed

[2019-04-05 21:08] fjeremic commented on #5208
@pshipton I don't think this needs to be rushed into 0.14.0. This bug has existed for ~3 years now and is not limited for JDK12.

[2019-04-05 21:30] llxia commented on #5210
JDK12,13 and Next jobs are generated.

[2019-04-05 21:54] sharon-wang opened #5387 "Non-ASCII whitespace characters in VM options should be ignored"
OpenJ9 should ignore VM arguments that contain non-ASCII whitespace characters when a JVM is created.

Related issue: #5332
Ignoring ASCII whitespace characters have been addressed in PR #5353.

Some additional background from @pshipton

[2019-04-05 22:24] dchopra001 commented on #5208
The problem due to the code generated by `OMR::Z::TreeEvaluator::arraytranslateEncodeSIMDEvaluator`

Below is some background on how this problem was exposed on Java:

And the error happens when we inline `sun/nio/cs/US_ASCII$Encoder.encodeASCII([CII[BI)I[` into an `arraytranslate` node.

This routine essentially translates an array of 2-byte `char`s into an array of `bytes`. If during the transla

[2019-04-05 22:25] dchopra001 commented on #5208
I've opened up a PR to fix this here:
https://github.com/eclipse/omr/pull/3719

[2019-04-05 22:38] pshipton commented on #5208
ok, removing the milestone target.

[2019-04-05 22:46] keithc-ca commented on #5295
Fixed via #5382.

[2019-04-05 22:46] #5295 closed

[2019-04-05 22:50] pshipton commented on #5208
Is it worth adding the test case into the test suite to avoid future regressions?

[2019-04-06 02:22] fjeremic commented on #5208
@dchopra001 wow, well done! Excellent analysis and write up of the problem. Reads take note. Thanks!

Yes I would agree. We should open up an issue to write up some unit tests for this to cover such corner cases.

[2019-04-06 03:43] pshipton opened #5388 "Test-sanity.functional-JDK8-linux_x86-64 cmdLineTester_test_0 Success condition was not found"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-linux_x86-64/778
cmdLineTester_test_0

Failed in omr acceptance.
Some weird failures. The only change from the previous build was https://github.com/eclipse/omr/pull/3645, but it's not clear this change could cause these failures.
[code]

[2019-04-06 03:49] pshipton commented on #5379
This continues to fail, I'm not going to keep copying the failures here.

[2019-04-06 11:57] pshipton opened #5389 "Test-sanity.system linux_x86-64_cmprssptrs ClassLoadingTest_ConcurrentScavenge_0 NullPointerException or ASSERTION FAILED ** at StandardAccessBarrier.cpp:754"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK11-linux_x86-64_cmprssptrs/245
[code]

[2019-04-06 12:02] pshipton opened #5390 "Test-extended.functional-JDK8-win_x86 testDDRExt_SharedClasses_openj9_0"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-win_x86/213
[code]

[2019-04-06 12:02] pshipton commented on #5390
@keithc-ca

[2019-04-06 12:06] pshipton commented on #5389
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/284
[code]

[2019-04-06 12:15] pshipton opened #5391 "cmake build problems"
jdk8
----
This is happening in OpenJ9 and OMR acceptance builds, likely since https://github.com/eclipse/openj9/pull/5386 was merged
https://ci.eclipse.org/openj9/job/Build-JDK8-linux_x86-64_cmprssptrs_cmake/185
https://ci.eclipse.org/openj9/job/Build-JDK8-linux_x86-64_cmprssptrs_cmake/186
[code]

jdk11
-----
OMR acceptance failure since https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-OM

[2019-04-06 12:16] pshipton commented on #5391
@dnakamura

[2019-04-06 12:35] pshipton commented on #5389
This build
OpenJ9: 946ef67
OMR: a595091
OpenJDK8: 2b68f66 - openj9-openjdk-jdk8
OpenJDK11: f30dc5f - openj9-openjdk-jdk11

Previous jdk8 build
OpenJ9: 2b707c2
OMR: 54908f0
OpenJDK8: ​2b68f66 ​- ​openj9-openjdk-jdk8

Previous jdk11 build
OpenJ9: 9ef06ee
OMR: 54908f0
OpenJDK11: ​61ed321 ​- ​openj9-openjdk-jdk11

https://github.com/eclipse/openj9/compare/

[2019-04-06 12:41] pshipton commented on #5389
@dmitripivkine @amicic

[2019-04-06 13:13] vesuppi commented on #4453
@cathyzhyi

Great that worked for me. Thanks a lot! I reset my repos to match OpenJDK8U-jdk_x64_linux_openj9_2019-04-03-17-10.tar.gz. But my previous edits were also lost. Let me add that back in and try to change `classNode->getSecondChild()` to `classNode` and let you know. Thanks!

[2019-04-06 13:26] vesuppi commented on #4453
@cathyzhyi

It seems like changing `classNode->getSecondChild()` to `classNode` has fixed the problem! However, when I tried to check if the IR still contains compressedRefs, I can still find some:
[code]
It seems like just `awrtbari` is attached to a `compressedRef`, it that normal after disabling genCompressedRefs?

[2019-04-06 14:03] pshipton commented on #5203
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-linux_x86-64/780
[code]

[2019-04-06 14:22] pshipton commented on #5332
Keep this open until the change is delivered in the 0.14 branch.

[2019-04-06 16:05] dmitry-ten commented on #5243
Thank you for fixing it.

[2019-04-06 16:05] #5243 closed

[2019-04-07 12:03] pshipton commented on #5389
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/286/
Dump Event "abort" (00020000) received
3XMTHREADINFO      "Dedicated GC Master" J9VMThread:0x0000000001748200, omrthread_t:0x00007FDCE43157A8, java/lang/Thread:0x00000000E0029C00, state:R, prio=5

[2019-04-07 12:05] pshipton commented on #5390
I don't think this is intermittent, I'm not going to copy each failure link.

[2019-04-07 12:08] pshipton commented on #5379
There are a lot of test failures (11 last night). Please back out the problematic change if it can't be immediately fixed.

[2019-04-07 12:11] pshipton commented on #5332
#5392 is merged in the 0.14 branch.

[2019-04-07 12:11] #5332 closed

[2019-04-07 15:27] amicic commented on #5389
This is related (based on the assert in the barrier code):  https://github.com/eclipse/openj9/pull/5322

[2019-04-08 06:22] ShishirH commented on #5374
@DanHeidinga Can you please clarify if the default behaviour would be a fatal error, or just ignore the option and run?

[2019-04-08 08:40] andrew-m-leonard commented on #4927
@adamfarley we probably need to officially request the original jdk13 bug fix for backport according to the process documented here: http://openjdk.java.net/projects/jdk-updates/approval.html
or specifically documented by Admam Haley for jdk11u here:  https://wiki.openjdk.java.net/display/JDKUpdates/JDK11u    section "Fix Approvals"

[2019-04-08 10:37] adamfarley commented on #4927
Done. As for the PR, I'm getting approval for that now.

[2019-04-08 11:07] dinogun commented on #5374
Going over the original design, the options and their meanings were as follows
[code]

So it looks like the name `gcOnIdle` was overloaded as `do GC + free pages`. Not sure if we can change the name now (?), assuming it cannot be, I would suggest that we just change the documentation to make it clear how to ensure no GC happens on Idle.

I'd suggest adding the following statement for both [IdleTun

[2019-04-08 11:43] andrew-m-leonard commented on #1951
I must admit I can't remember exactly, but I suspect you might be right, as I think I found it when trying to contribute it to OpenJDK... Although, I;m not sure why J9 doesn't hit the problem then...?

[2019-04-08 11:56] PhilWakelin commented on #5375
@mpirvu I reran with the diagnostics, and have attached the output [stderr.txt](https://github.com/eclipse/openj9/files/3054122/stderr.txt)

For ref, the JIT Code Cache only grows to 154M today not to the full 256M, here are the stats from my MemoryPool MBean:

`JIT code cache: init=2048K max=262144K used=0K committed=157696K`

[2019-04-08 12:20] PhilWakelin commented on #5375
I thought I'd check to see if this problem causes JITing to stop if the Code Cache becomes full

I ran with a 64M cache as this would normally be plenty big enough for the workload
`-Xjit:noResumableTrapHandler,verbose
-Xcodecachetotal64M`

and saw the following:
`#INFO:  <WARNING: JIT CACHES FULL> Disable further compilation      `

[2019-04-08 12:39] pshipton commented on #5388
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-linux_x86-64_cmprssptrs/786
[code]

[2019-04-08 12:40] pshipton commented on #5388
Guessing this is JIT related, given the intermittent nature.
@andrewcraik

[2019-04-08 12:59] mpirvu commented on #5375
Indeed, most caches appear to be in reserved state by compThread 0, so there is a bug where reservation is not cancelled at the end of a compilation.
Could you please do another run with -Xjit:verbose={compilationPerformance},verbose={codecache},vlog=yourvlog ?
Maybe this will show some unexpected behavior in your environment.

[2019-04-08 13:00] pshipton commented on #4927
Thanks Adam.

[2019-04-08 13:00] #4927 closed

[2019-04-08 13:05] avermeer commented on #4927
Great news!
I will try the nightly build in 2 or 3 days and will provide feedback on this fix.

[2019-04-08 13:14] pshipton commented on #4927
@avermeer note we are producing a Milestone 1 build for the OpenJ9 0.14 release, as a preview of the release content. Assuming you plan to use the 0.14 release and not a nightly build, it would be a good idea to try out the M1 build. It should be available sometime in the next couple of days.

[2019-04-08 13:16] avermeer commented on #4927
@pshipton yes I plan to use the 0.14 release, and your proposal for me to try the fix with M1 build sounds very good.

Question: will there be an announce for M1 build availability?
and where will it be accessible if not on "AdoptOpenJDK" nightly builds page?

[2019-04-08 13:21] bsideup commented on #771
Hi! Any issues here?

It seems that one of our projects does not work on OpenJ9 because of it ( https://github.com/reactor/BlockHound/issues/21 ).

This page explains pretty well why we need it:
https://github.com/reactor/BlockHound/blob/master/docs/how_it_works.md#blocking-jvm-native-method-detection

[2019-04-08 13:31] pshipton commented on #4927
@avermeer Previously it has been announced on Slack. As an example, here is the 0.13 announcement https://openj9.slack.com/archives/C8312LCV9/p1551969207014100

[2019-04-08 13:40] vsebe commented on #4063
@pshipton  fyi
There are 7 CentOS 6 machines available: https://ci.eclipse.org/openj9/label/sw.os.cent.6%20&&%20ci.role.test/
For now they are configured to run tests.

[2019-04-08 13:48] pshipton commented on #5390
Caused by the addition of new tests I expect #5137

[2019-04-08 13:50] AdamBrousseau commented on #4063
The SDKs won't run on these because they're still compiled on Ubuntu 16.

[2019-04-08 13:57] JasonFengJ9 commented on #4778
will have a look.

[2019-04-08 13:57] pshipton commented on #4063
Right. @vsebe if we are ready to switch, we'll have to make these CentOS machines the only build machines, and the Ubuntu machines test machines. So we don't loose a night of testing, we should schedule this with enough time remaining in the day to go through some tests, and revert by EOD if there are problems.

[2019-04-08 14:04] #4459 closed

[2019-04-08 14:07] pdbain-ibm commented on #4640
@smlambert This is fixed.  Would you kindly re-enable the test?  @ben-walsh FYI.
Thanks

[2019-04-08 14:10] liqunl commented on #4453
`UnsafeFastPath.cpp` generate `compressedRef` as well. I think you can turn it into a `treetop` node.

[2019-04-08 14:21] ben-walsh commented on #4640
PR to de-exclude - https://github.com/AdoptOpenJDK/openjdk-tests/pull/1063

[2019-04-08 14:21] mpirvu commented on #5375
Looking at the verbose log I see that every time the JIT allocates a new code cache we have an AOT failure of type `compilationAOTNoSupportForAOTFailure`

Example
`! java/lang/String.toLowerCaseCore(Ljava/lang/String;)Ljava/lang/String; time=78us compilationAOTNoSupportForAOTFailure memLimit=262144 KB freePhysicalMemory=16866 MB mem=[region=320 system=16384]KB`

I am not familiar with this error s

[2019-04-08 14:24] cathyzhyi commented on #4453
And this one as well https://github.com/eclipse/openj9/blob/4fe6371d509f90835bc33f577ab67f17595d4a62/runtime/compiler/optimizer/InlinerTempForJ9.cpp#L456.

[2019-04-08 14:26] fjeremic commented on #5375
@dsouzai FYI. Is this something related to SVM?

[2019-04-08 14:26] vesuppi commented on #4453
@cathyzhyi @liqunl

Thanks for pointing it out! So basically all uses of `genCompressedRefs` in all files?

[2019-04-08 14:27] liqunl commented on #4453
Yes

[2019-04-08 14:28] vesuppi commented on #4453
Great thanks!

[2019-04-08 14:43] dsouzai commented on #5375
I doubt it; there's 6 places `J9::AOTNoSupportForAOTFailure` is thrown, of which 4 of them are related to field watch. 1 is thrown when relocating an inlined method, and 1 is in the constructor of `TR_VMFieldsInfo`. Nothing about these locations have anything to do with whether the SVM is active or not.

[2019-04-08 14:43] cathyzhyi commented on #4837
@avermeer Thanks a lot for offering to help. We've tried the Nashorn benchmark with the improvements done for JRudy but they don't seem to help much. We think it should be because of the same reason mentioned in https://github.com/eclipse/openj9/issues/4837#issuecomment-472105631

We are working on it and will let you known once we have the fix for you to test out. Thanks!

[2019-04-08 14:48] dsouzai commented on #5375
I'm not sure that's necessarily true, for example:
[code]

It might just be coincidence

[2019-04-08 15:03] keithc-ca commented on #5391
Perhaps we're missing the equivalent of https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/153 for jdk8?

[2019-04-08 15:04] DanHeidinga commented on #771
Hi @bsideup.  Through discussions with Oracle and the OpenJDK community, it's become clear that the ability to add / remove private methods is problematic from a specification perspective and it is very difficult to give add/remove methods a consistent coherent behaviour.

The introduction of NestMates in Java 11 exposed the fact that this isn't a purely local resolution decision anymore as nest m

[2019-04-08 15:12] bsideup commented on #771
Hi @DanHeidinga,

BlockHound works as a late attach agent with Java-based instrumentation. We initially implemented it as a normal agent (premain + `-javaagent:`), but it wasn't easy for the users to add it during the tests (especially in Maven).

I'm super sad to hear that this will not work in future :(
Also, doing the instrumentation in C instead of a very convenient Java ASM API is.... challen

[2019-04-08 15:20] mpirvu commented on #5375
We should look at what happened before the allocation
[code]

[2019-04-08 15:24] fjeremic commented on #5375
@PhilWakelin are you able to provide us with an environment to easily reproduce this? Or a trimmed down test case which reproduces the behaviour? I think it may speedup the back-forth in the investigation given we are in different timezones.

[2019-04-08 15:30] adamfarley commented on #5140
Four additional failures seen. Some differences, unsure which ones matter.

https://ci.adoptopenjdk.net/job/openjdk11_j9_openjdktest_x86-64_windows/173/consoleFull
https://ci.adoptopenjdk.net/job/openjdk12_j9_openjdktest_x86-64_windows/26/consoleFull

Example:
[code]

Still unable to reproduce locally. Will request access to one of the test machines seeing the failure.

[2019-04-08 15:35] dsouzai commented on #5375
[code]

I wonder if this is the problem

[2019-04-08 15:48] adamfarley opened #5399 "OpenJDK Regression suite "jdk_util" throws Segmentation Error before running tests on MacOS"
Failure link
------------

https://ci.adoptopenjdk.net/job/openjdk11_j9_openjdktest_x86-64_macos_macosXL/46/console
https://ci.adoptopenjdk.net/job/openjdk12_j9_openjdktest_x86-64_macos_macosXL/25/console
https://ci.adoptopenjdk.net/job/openjdk11_j9_openjdktest_x86-64_macos/213/console

Optional info
-------------

- intermittent failure: yes, but seems frequent.
- regression or new test:  regress

[2019-04-08 16:06] hzongaro commented on #5379
I just wanted to update the current status of this - still trying to get things set up to reproduce the failure.  Once I have that, I'll figure out which change is responsible for these failures.

[2019-04-08 16:17] ChengJin01 commented on #5058
Already finished the configure part on the OpenJDK11 side:
[risc64_configure_log.txt](https://github.com/eclipse/openj9/files/3055213/risc64_configure_log.txt)
[code]
Temporarily the following native libraries required for OpenJDK11 are disabled as these libraries (only installed on the riscv64-based platform) are not offered by the cross-compilation toolchains:
[code]

Will continue modifying/add

[2019-04-08 16:27] sxa555 commented on #5018
@knn-k I've had it working ok with `--with-openssl=system` on one of my aarch64 machines so that options should be good too.

[2019-04-08 16:30] hangshao0 commented on #5380
FYI: @dnakamura

[2019-04-08 16:31] ymanton commented on #3634
Yes, the crash in MauveSingleThreadLoadTest_0 still happens, but it's a bug in master. I'll open a PR to fix it there.

[2019-04-08 16:59] adamfarley commented on #5140
Access requested. Still waiting.

Tried running several of the failing tests on another windows server 2012 box.

No luck.

[2019-04-08 17:09] adamfarley opened #5401 "LargeValueExceptions.java OpenJDK Regression test fails on ppcle with JDK8 on OpenJ9"
Failure link
------------

https://ci.adoptopenjdk.net/job/openjdk8_j9_openjdktest_ppc64le_linux/366/console
https://ci.adoptopenjdk.net/job/openjdk8_j9_openjdktest_ppc64le_linux/367/console
https://ci.adoptopenjdk.net/job/openjdk8_j9_openjdktest_ppc64le_linux/368/console

Optional info
-------------

- intermittent failure : No
- regression or new test:  Regression
- if regression, what are the l

[2019-04-08 17:10] adamfarley commented on #5401
Fails 100% of the time on adopt's test machines, but does not fail when re-run as a unit test on a different ppcle ubuntu machine.

[2019-04-08 17:11] vesuppi commented on #4453
@liqunl

Hi Liqun, I just saw your pull request about "Do not generate compressedrefs and awrtbari for static field". So since this pull request has been merged, then why are some `awrtbari` are still hanged to `compressedRefs`? Sorry if I misunderstood something.

[2019-04-08 17:13] adamfarley commented on #5401
Requested access to said machine (test-osuosl-ppc64le-ubuntu-16-04-1) to try and find out why.

[2019-04-08 17:20] DanHeidinga commented on #5061
The failure was seen again - https://ci.eclipse.org/openj9/view/Test/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/307/tapResults/

[2019-04-08 17:45] pshipton commented on #5046
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/307
[code]

[2019-04-08 17:47] pshipton commented on #5153
Another failure
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/307
[code]

[2019-04-08 17:51] DanHeidinga commented on #5399
Crash in the GC iterating ClassHeapIterator.nextClassEv
[code]

fyi @dmitripivkine

[2019-04-08 17:53] liqunl commented on #4453
That change only stops generating `compressedRefs` for static fields. Static fields are not compressed in openj9. Instance fields load/store will still be anchored with `compressedRefs` in compressedRefs mode.

[2019-04-08 18:19] dmitripivkine commented on #5399
There is no results stored in these jobs. Would somebody help to get system core for this failure please?

[2019-04-08 18:25] dmitripivkine commented on #5399
It fails different places, not just class iterating:

`https://ci.adoptopenjdk.net/job/openjdk12_j9_openjdktest_x86-64_macos_macosXL/25/console`
[code]
`https://ci.adoptopenjdk.net/job/openjdk11_j9_openjdktest_x86-64_macos/213/console`
[code]

[2019-04-08 18:40] pshipton commented on #5074
@groeges wrote:
Have just seen that the minimum compiler version for JDK 13 on AIX is now XLC 16.1 (so that the newer xlclang/xlclang++ can be used).

[2019-04-08 18:52] pshipton commented on #5401
@adamfarley there don't seem to be any openj9/omr code changes that would cause this.

[2019-04-08 19:45] harryyu1994 commented on #3372
It looks like only `J9JIT_RUNTIME_RESOLVE` poses a potential problem for multi-client, and that can be easily worked around by the above PR. Let me know if you still want to pursue per-client jitConfig.

[2019-04-08 20:51] alistair23 commented on #5058
Cool!

[2019-04-08 21:00] gacholio opened #5412 "Allow compressed and non-compressed in the same build"
Refactor code such that a build can be compiled with compressed-only, full-only, or a runtime test. Optimization of the runtime paths will occur later.

[2019-04-08 21:01] gacholio commented on #5412
@DanHeidinga @charliegracie @dmitripivkine

Current plan is to change all ifdefs into runtime macros, and define those macros as true/false/test. This will likely require passing a VM or thread to various APIs (or stashing them in C++ objects) in order to anchor the runtime test.

[2019-04-08 21:21] AdamBrousseau commented on #4719
Depends #2836

[2019-04-08 21:25] gacholio commented on #5412
Per @charliegracie I will also remove the distinction between compressed header and compressed pointers (first pass will be to change header to pointers so there's only one ifdef to search for once the real work begins).

[2019-04-09 00:10] keithc-ca commented on #5391
I expect that #5398 will fix this - time will tell.

[2019-04-09 01:10] pshipton commented on #5388
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-linux_x86-64/786

[2019-04-09 01:29] smlambert commented on #4640
test reincluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1063

[2019-04-09 02:02] knn-k commented on #5018
@sxa555
Yes, I also confirmed that `--with-openssl=system` works as expected with native build of the runtime on AArch64 Linux.  #5394 adds instructions for native build, and mentions `--with-openssl=system`.

[2019-04-09 03:58] hzongaro commented on #5379
Gah!  Finally reproduced the failure.  Now trying to isolate where things go wrong.

[2019-04-09 08:41] adamfarley commented on #5401
The Hotspot JDK8 regression runs for the nightlies over the same time period run and pass.

Will consult the extensions repo.

[2019-04-09 11:15] adamfarley commented on #5401
Still unable to reproduce on another ppcle box.

I have noticed that the three failing jobs ran on the same Adopt machine, and that the job that passed last night ran on a different box.

I've run a pair of test runs (one on each machine) to see if this is a pattern.

[2019-04-09 11:49] pshipton commented on #5388
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_ppc-64_cmprssptrs_le/681
Starting from `Test 8 (trying to fool loop detector again)`
`Number of FAILED tests: 11 out of 24`

[2019-04-09 11:56] pshipton commented on #5389
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64_cmprssptrs/290
[code]

[2019-04-09 13:41] PhilWakelin opened #5418 "JMX MemoryPool MBean for JIT code cache reports 0 for "used""
Java -version output
--------------------

java.fullversion: JVM version: 8.0.5.35 - pmz6480sr5fp35-20190402_01(SR5 FP35) JRE 1.8.0 z/OS s390x-64-Bit 20190401_413512 (JIT enabled, AOT enabled) OpenJ9 - cd21265 OMR - 16b77d7 IBM - 72459d3

Summary of problem
------------------
Following testing of https://github.com/eclipse/openj9/issues/4674 here are some stats produced by my servlet MemoryPool MB

[2019-04-09 16:02] fjeremic commented on #5208
I've merged the fix. @dchopra001 can you please see the linked PRs which excluded the tests and submit a change to re-enable them? We can close this issue once the tests are re-enabled.

[2019-04-09 16:02] hzongaro commented on #5379
It looks like the Escape Analysis changes Andrew mention in [his comment](https://github.com/eclipse/openj9/issues/5379#issuecomment-480327886) above are related to this failure.  The affected test seems to pass reliably with that change reverted and fail reliably with it in place, so I will submit a pull request to revert it for now.

[2019-04-09 16:25] DanHeidinga commented on #5380
Discussed with @hangshao0:
* OpenJ9 stores the SHA into the cache header and will normally attempt to delete and recreate the cache if the SHAs are different
* Under some circumstances, the cache can't be deleted (group access + readonly) and the VM continues to use it despite the SHA difference
* There are a large number of ways that the compatibility can be broken (romclass changes, new bytecode

[2019-04-09 17:06] sharon-wang commented on #5373
I'm looking into this

[2019-04-09 17:11] smlambert commented on #5208
Test reincluded: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1069 (thanks @dchopra001 !)

[2019-04-09 17:12] JasonFengJ9 commented on #5373
`-verbose:init` can break down the component loading time.

[2019-04-09 17:19] dchopra001 commented on #5208
Tests are now enabled again:
https://github.com/AdoptOpenJDK/openjdk-tests/pull/1069

Issue to write `tril` tests for the `arraytranslate` node:
https://github.com/eclipse/omr/issues/3729

[2019-04-09 17:23] fjeremic commented on #5208
Excellent. Thank you very much! I think we're done here now.

[2019-04-09 17:23] #5208 closed

[2019-04-09 19:06] zl-wang opened #5424 "Smooth migration story: JDK tools"
We were repeatedly asked by customers for JDK tools which are missing in OpenJ9.  List in order of importance (roughly):

jstack
jps
jstat
jinfo

[2019-04-09 19:10] DanHeidinga commented on #5424
This is a duplicate of https://github.com/eclipse/openj9/issues/4655

[2019-04-09 19:10] #5424 closed

[2019-04-09 20:42] andrewcraik commented on #5373
So I have been looking at how the time breakdown in the initialization of the Management Beans breaks down in both Java 8 and Java 11 / 12. I'm still understanding the full cause for the increase, but there is a huge amount of time being spent generating lambdas and running lambdas as part of the initialization of the Management Beans infrastructure.

In Java 8 the time overhead points to https://

[2019-04-09 20:44] #5379 closed

[2019-04-09 21:46] llxia commented on #1058
After the discussion, we are going to use `TEST_JDK_HOME` to avoid confusion. `TEST_JDK_HOME` is required and should be set before running TKG.

Below are the steps:
- update TKG to set JAVA_BIN (set to jre/bin for JDK8, otherwise, set to bin) based on TEST_JDK_HOME temporarily
- update Jenkins file to set `TEST_JDK_HOME` in AdoptOpenJDK
- update docs (i.e., readme, wiki, etc)
- update functional

[2019-04-09 22:40] atawre commented on #702
is this still an issue. my SPECjbb2015 run seems to be hung for a couple of hours.

  2359s: <Tue Apr 09 17:16:02 UTC 2019> org.spec.jbb.controller: RT curve for IR = 94 (21%*hbIR)
(21%)   IR =     94 <Tue Apr 09 17:16:02 UTC 2019> org.spec.jbb.group1.backend.compositebackend: IN STATE: Running (IR=90.0), NEW STATE: Running (IR=94.0)
<Tue Apr 09 17:16:02 UTC 2019> org.spec.jbb.group1.txinjector.co

[2019-04-09 23:22] #5391 closed

[2019-04-10 03:02] DanHeidinga commented on #702
There is work being done to double map arraylets which should help with the get critical performance issues: https://github.com/eclipse/openj9/pull/5318

[2019-04-10 03:40] DanHeidinga commented on #643
See also #5412 where @gacholio is starting to investigate making compressed / not a runtime decision

[2019-04-10 04:08] DanHeidinga commented on #771
@bsideup have you investigated using the `NativeMethodBind` jvmti event to replace the natives that BlockHound wants to intercept?  It requires more C/C++ or assembly code generation to get the same effect but its likely to remain supported...

[2019-04-10 05:29] DanHeidinga opened #5429 "`JavaCoreDumpWriter::writeMonitorObject` passes a stack-local J9VMThread to other API"
Code in the call to `JavaCoreDumpWriter::writeMonitorObject` from the javadump agent passes a stack-local J9VMThread to the `getObjectMonitorOwner ` call:
https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/runtime/rasdump/javadump.cpp#L3832-L3837

which the called API:
https://github.com/eclipse/openj9/blob/2f295ea91cdd97ff37eb5d164fc63014ea718bc7/runtime/util/moninfo.

[2019-04-10 07:22] bsideup commented on #771
@DanHeidinga yes, our previous implementation was using `NativeMethodBind`.
We had to do a few hacks to re-bind the methods and do the methodName lookups (IIRC `Thread.sleep` and similar methods are not lookup-able first time you bind, we had to collect methodIds and symbol offsets and re-bind them). Something like this:
https://gist.github.com/bsideup/556190d424f7b5879e4fb736b627f6d6

[2019-04-10 13:55] DanHeidinga commented on #771
@bsideup That's a really cool use of C++ lambdas!

[2019-04-10 14:01] bsideup commented on #771
I have a slightly less positive word for it, but thanks :D

P.S. ehh..... I was so happy to keep the instrumentation in Java.
I wish we get it solved somehow else when OpenJDK will drop that rule.

[2019-04-10 14:43] dmitripivkine commented on #5399
Was able to reproduce crash once however system core was not stored in results as well as was not discovered on machine directly in preserved workspace. So it is useless. It is new place of crash `_ZN22VM_BytecodeInterpreter3runEP10J9VMThread`:
[code]

[2019-04-10 15:06] dmitripivkine commented on #5399
Also I noticed another (much more common) failure:
[code]

[2019-04-10 15:39] DanHeidinga commented on #5140
@adamfarley I understand you've been granted machine access.  Have you been able to get a core yet?  We're closing in on the release date and I'm concerned about running out of time to resolve this.

[2019-04-10 15:43] DanHeidinga commented on #5375
This is in the 0.14 release plan which is targeted to ship within 48 hours of OpenJDK (April 16).

@dsouzai @fjeremic @mpirvu What's the current status of this?  We're running out of time to get this into the release.

[2019-04-10 15:55] pshipton commented on #5375
Note if this is z/OS specific it can be removed from the 0.14 plan. However if it is the cause of the known footprint regression, it needs to be fixed.

[2019-04-10 15:59] adamfarley commented on #5140
Sadly no. We've only recently managed to run the tests outside of the jenkins framework, and the tests refuse to fail when the jdk_net test group is run on its own. Ditto for the individual failing unit tests run using the jtreg jar.

Will try a full sanity run overnight.

On the upside, if it's this hard to reproduce the failures, the odds of a customer seeing them goes way down.

[2019-04-10 16:27] adamfarley commented on #5140
Finally, we have a core. Zipping and extracting now.

[2019-04-10 16:33] ChengJin01 commented on #5058
There seems to be an issue with freeType which needs to be disabled on the OpenJDK11 side (not offered by the cross-compilation toolchain). Still checking the corresponding scripts to address the problem.

[2019-04-10 16:33] adamfarley commented on #5140
Finally, we have core and other diagnostic files. Zipping and copying into box now.

[2019-04-10 16:58] adamfarley commented on #5140
Files are on box, and Dan has access.

They are in /j9_issue_5140_files

[2019-04-10 17:22] adamfarley commented on #5140
For future reference, when running the test framework locally, here's the steps I used (edit as needed):

export BUILD_LIST=openjdk_regression
export AUTO_DETECT=null
export JDK_IMPL=openj9
export TERM=cygwin
export TARGET=sanity.openjdk
export JAVA_HOME=C:\\Users\\adoptopenjdk\\adamfarl\\11j9
export JAVA_BIN=C:\\Users\\adoptopenjdk\\adamfarl\\11j9\\bin
git clone http://github.com/adoptopenjdk/ope

[2019-04-10 17:57] AdamBrousseau commented on #5210
I believe this is complete

[2019-04-10 17:57] #5210 closed

[2019-04-10 18:18] mpirvu commented on #5375
Irwin has a hunch of what's going on and he will test his hypothesis soon.

[2019-04-10 18:20] #5390 closed

[2019-04-10 18:35] vij-singh commented on #4764
@JasonFengJ9  Jason, are you able to reproduce this?

[2019-04-10 18:42] vij-singh commented on #5116
@gita-omr  Any update on this one?

[2019-04-10 18:51] gacholio commented on #5412
Closing in favour of #643. I'll continue working there.

[2019-04-10 18:51] #5412 closed

[2019-04-10 18:59] JasonFengJ9 commented on #4764
@vij-singh it was reproduced in a grinder which has been purged now. Just started a 100x grinder to check if it still presents in current SDK.

[2019-04-10 19:20] dsouzai commented on #5375
I was discussing this with @mpirvu yesterday and realized that there is a scenario where we might end up not unreserving a code cache. As noted above in https://github.com/eclipse/openj9/issues/5375#issuecomment-480883622, the compiler will unreserve a code cache if it has a codegen object. However, this would mean that all AOT load failures wouldn't unreserve the cache; however the caches do get

[2019-04-10 19:34] #4764 closed

[2019-04-10 20:59] gita-omr commented on #5116
Unfortunately, does not seem to be very close to a resolution. @R-Santhir is running grinder trying to make the problem more reproducible but it takes long time.

[2019-04-10 21:20] andrewcraik commented on #5061
new crash looks very similar - still in `__findenv` at what looks to be the same spot. I can't seem to find the core so not having much luck going further. Looks like whatever the issue is wasn't fixed by 5340 :(

[2019-04-10 21:32] pshipton commented on #5116
Given the reproduction rate, I'll remove it from the 0.14 milestone.

[2019-04-10 21:41] JasonFengJ9 commented on #5399
Captured a core and got following stacktrace (similar with 3rd link in this issue):

[code]

Note: this crash occurs quite frequent and  is reproducible (in variable places though). However the core files just disappear when the test finishes. I have to use `Ctrl-C` to stop the test when the console just start printing something like `JVM requested System dump using '/ivm/macos/jdk11-test/jvmtest/

[2019-04-10 22:28] dsouzai commented on #5375
Was able to reproduce this by consistently throwing an exception in `TR_RelocationRecordWithInlinedSiteIndex::ignore`:
[code]

[2019-04-10 22:34] dsouzai commented on #5375
With the fix in https://github.com/eclipse/openj9/pull/5445 the problem goes away (I forced failures to ensure we don't reserve a new code cache):
[code]

[2019-04-11 03:36] smlambert commented on #5399
We do not yet capture core files from openjdk tests (dependent on this WIP PR https://github.com/AdoptOpenJDK/openjdk-tests/pull/1007), but thanks for letting me know of this failure that is repeatable, as I can use it to test my changes in that PR before merging.

[2019-04-11 03:51] ChengJin01 commented on #5058
Already disabled the native libraries for freeType in OpenJDK11 and keep working on the makefile/scripts in OpenJ9 & OMR.

[2019-04-11 03:53] pshipton opened #5447 "cmake testing failing"
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_x86-64_linux_cm/3
`ERROR: No item named Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_OMR found`
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_x86-64_linux_cm/4
`ERROR: No item named Test_openjdk8_j9_sanity.functional_x86-64_linux_cm_Nightly found`

[2019-04-11 03:54] pshipton commented on #5447
@AdamBrousseau

[2019-04-11 04:25] pshipton opened #5448 "sanity.functional_x86-64_windows cmdLineTester_SCURLClassLoaderNPTests_1"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_OMR/1/
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_OMR/2/

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_windows_Nightly/1
[code]

[2019-04-11 04:43] pshipton commented on #5448
@andrewcraik this started failing, and I don't see anything merged that might have caused it other than JIT changes.

[2019-04-11 04:50] pshipton opened #5449 "Test_openjdk8_j9_extended.functional_s390x_linux testDDRExt_JITExt_openj9_0 CorruptDataException thrown walking stack"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_s390x_linux_Nightly/1
[code]

[2019-04-11 04:58] pshipton commented on #5449
@DanHeidinga

[2019-04-11 05:02] pshipton opened #5450 "TestJps testJvmArguments Missing argument: -Dfoo=bar"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly/1
[code]

[2019-04-11 05:02] pshipton commented on #5450
@pdbain-ibm

[2019-04-11 07:35] kuttyb opened #5452 "JDK12: OpenJ9 Peak State Performance half that of Hotspot"
It appears OpenJ9 fully warmed up state performance is less than half that of Hotspot.

The test uses Eclipse Collection's MutableIntBag. It creates 100K entries and then profiles the forEach iterator that goes through each entry and adds the entry to an external counter.

The two builds I compared the results against are as follows (on MacOS)

[1] openjdk version "12" 2019-03-19
OpenJDK Runtime E

[2019-04-11 07:39] kuttyb commented on #5452
[repro.tar.gz](https://github.com/eclipse/openj9/files/3067456/repro.tar.gz)

Source code attached

[2019-04-11 07:47] kuttyb commented on #5452
With OpenJ9:

starting test
Warmup completed
25.0 Percentile :9401
50.0 Percentile :9522
75.0 Percentile :9942
99.99 Percentile :17121

With Hotspot

starting test
Warmup completed
25.0 Percentile :3157
50.0 Percentile :3242
75.0 Percentile :3318
99.99 Percentile :4520

[2019-04-11 08:00] kuttyb commented on #5452
FWIW with the below, the numbers appear to catch up :

MAVEN_OPTS="-Xjit:quickProfile" mexec local.scratch.ESCollections
starting test
Warmup completed
25.0 Percentile :3112
50.0 Percentile :3249
75.0 Percentile :3533
99.99 Percentile :5330
---------
I am not fully aware of what quickProfile does but it would appear its helping us bridge the gap. Perhaps we are not reaching steady state in OpenJ9

[2019-04-11 10:10] adamfarley commented on #5401
Grinder failed. Machine has been re-enabled, and I'm trying new options

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1462/console

[2019-04-11 11:39] pshipton commented on #5448
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.functional_x86-64_windows_Nightly/1
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-32_windows_Nightly/1
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_windows_Nightly/1

Just noticed `The file name is too long` further down in the output.
@AdamBrousseau @llxia
seems the change to add "

[2019-04-11 11:41] pshipton commented on #5389
https://ci.eclipse.org/openj9/job/Test_openjdk12_j9_sanity.system_x86-64_linux_Nightly/2
[code]

[2019-04-11 12:15] pshipton commented on #5452
@vijaysun-omr @andrewcraik

[2019-04-11 12:40] andrewcraik commented on #5448
@pshipton based on the last comment I am going to leave this with @AdamBrousseau and @llxia - please @ me again if it needs further JIT investigation.

[2019-04-11 12:50] andrewcraik commented on #5452
@kuttyb it is unlikely, based on the source, that this benchmark will reach true steady state throughput. There are some great benchmarking framework in the form of BumbleBench (https://github.com/AdoptOpenJDK/bumblebench) and JMH (https://openjdk.java.net/projects/code-tools/jmh/) which help you to write tests that will test the performance you want to test without beng affected by startup/rampup

[2019-04-11 13:15] kuttyb commented on #5452
@andrewcraik Thanks for the summary above. I will rewrite the benchmark using the above frameworks.

[1] The benchmark's intention is to measure the performance of an internal iterator which appears to be a fairly common paradigm these days. Is that what is triggering invoke dynamic?

For internal iterators, I would expect the type to be specialized and inlined at the call site once the code is ho

[2019-04-11 13:26] andrewcraik commented on #5452
@kuttyb the invokedynamic will be generated when there is a lambda (anonymous function using the -> syntax). The -Xjit:quickProfile is forcing the compiler to do some aggressive things to get to steady state, but this 'steady-state' may not be as optimal as if the compiler reached this state naturally. OpenJ9 tends to take a stepped approach to optimization. We compile a lot of stuff quickly early

[2019-04-11 13:33] amicic commented on #5389
I'm looking into the problem. So far, it indeed seems to be related the mentioned changed, but still trying to understand the root cause (the change itself is probably ok, but it has some side effects).

[2019-04-11 13:39] dnakamura commented on #4486
interesting. On other linux platforms this only shows up when `_FORTIFY_SOURCE >=2`. I believe the only way to deal with it (other than modifying `_FORTIFY_SOURCE`) is to avoid strncpy

[2019-04-11 13:42] DanHeidinga commented on #5449
[code]

That looks like a J9Class->eyecatcher being used as an index `0x9966996E = 0x99669966 + 0x8`

[2019-04-11 13:48] llxia commented on #5448
It looks like `cmdLineTester_SCURLClassLoaderNPTests_SE80`  and  `cmdLineTester_SCURLClassLoaderTests_SE80` are the only tests that have the problem on windows for JDK8. Does it make sense to rename them to something shorter (i.e., SCURLClassLoaderNPTests_SE80)?

https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/378/
https://ci.eclipse.org/openj9/view/Test_grinder/job/Test-Grinder/3

[2019-04-11 13:51] JasonFengJ9 opened #5454 "Failed tests delete diagnostic (core/trace/javacore) files (or moved to an unknown location)"
Summary of problem
------------------

As mentioned at https://github.com/eclipse/openj9/issues/5399#issuecomment-481877959, in this particular test `OpenJDK Regression suite jdk_util`, the diagnostic files such as system core, snap trace and javacore disappeared from the location specified within console output.

Applying `Ctrl-C` to stop the test could make the diagnostic files available. So the

[2019-04-11 13:55] pshipton commented on #5448
Fine with me. And/or move these tests to another directory with a shorter path.

[2019-04-11 13:55] JasonFengJ9 commented on #5399
@smlambert good to hear that AdoptOpenJDK/openjdk-tests#1007 is going to archive the diagnostic files.
Just to clarify, the problem reported at https://github.com/eclipse/openj9/issues/5399#issuecomment-481877959 is a local test run which seems not keep diagnostic files. I have created #5454 instead.

[2019-04-11 13:57] 0xdaryl opened #5455 "Checklist of performance features for new JIT backends"
I'm compiling a list of features that a new OpenJ9 JIT backend would need to implement to be reasonably "feature complete" with the others.  These features are typically performance features above and beyond a basic, functional OpenJ9 JIT.

This could also serve a secondary purpose as a cross checklist for existing platforms to determine if they are missing any opportunities.

At the moment, I am

[2019-04-11 14:16] hzongaro commented on #5199
Hi, Leonardo @Leonardo2718.  After a few too many iterations of debugging and fixing this via log files, I'm in the process of pulling together a pull request to fix this in `LoopVersioner.cpp`.
Earlier, you wrote:

Do you have any advice about eliminating Java/OpenJ9 specifics so we can reopen the original issue against OMR?  Please see the analysis above for further details.

[2019-04-11 14:16] mstoodle commented on #5452
First off, thanks for engaging here on the issue you encountered, @kuttyb! An issue reported is always better than silent "suffering" that steers people away from using our project!

I think @andrewcraik has you mostly sorted here, or at least on a path to understanding where the steady-state performance is more likely to end up. One thing to keep in mind is that, in the OpenJ9 project, we tend to

[2019-04-11 14:22] pdbain-ibm commented on #5450
Is this a regression on this platform?

[2019-04-11 14:40] Leonardo2718 commented on #5199
I think the description of the problem you gave in https://github.com/eclipse/openj9/issues/5199#issuecomment-475299506 and https://github.com/eclipse/openj9/issues/5199#issuecomment-475306536 is good. It doesn't really have anything Java specific about it other than the fact that you investigated the manifestation of the problem in OpenJ9. :slightly_smiling_face:

In the OMR issue, I'd suggest su

[2019-04-11 14:47] dmitry-ten opened #5457 "Reduce JIT CPU consumption for remote AOT"
Currently, JITaaS AOT client consumes significantly more CPU time than regular JITaaS client,
which is due to making more remote calls.
Average #messages per compilation:
non-AOT JITaaS: ~120
AOT JITaaS: ~220

The top 15 most frequent messages:
[code]
We should be able to easily cache `VM_getClassFromMethodBlock` in`J9MethodInfo`.
`VM_getClassFromSignature` should be easily cacheable once global c

[2019-04-11 15:46] amicic opened #5458 "Remove CONCURRENT_SCAVENGER_ACTIVE VM Thread flag"
All code relying on J9_PRIVATE_FLAGS_CONCURRENT_SCAVENGER_ACTIVE flag if CS cycle is active could rely on  readBarrierRangeCheckBase/Top fields.

First step is to remove users (a couple of spots in JIT code), and then GC code that controls the flag would be cleaned up.

[2019-04-11 15:55] AdamBrousseau commented on #5447
Created the following "hello world" test jobs
[Test_openjdk11_j9_sanity.functional_x86-64_linux_cm_Nightly](https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_cm_Nightly/)
[Test_openjdk11_j9_extended.functional_x86-64_linux_cm_Nightly](https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_cm_Nightly/)
[Test_openjdk11_j9_sanity.system_x

[2019-04-11 15:57] AdamBrousseau opened #5459 "Jenkins: Feature Request: Add ability to include/exclude test suites per spec"
Add an option to include and or exclude running entire test suites per spec in the defaults.yml variable file.

Ex usage: The CMake builds do not currently support testing so we've had to temporarily create empty "hello world" test jobs so the pipeline call doesn't fail.
Ref #5447

[2019-04-11 15:59] JasonFengJ9 commented on #4778
**Updates:**

Reproduced the crash at a local run and captured a core.

From javacore:
[code]

From DDR:
[code]

From Windbg (after set register values as per gpinfo):
[code]