[2020-04-11 00:00] JasonFengJ9 commented on #9080
It occurred again at an internal build `Test_openjdk11_j9_sanity.functional_x86-64_windows_xl_Nightly/46`:

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=x86-64_window

[2020-04-11 00:20] knn-k commented on #6607
Enable the following tests when recompilation is implemented:

- SC_Softmx_JitAot_Linux (#8966)
- testDDRExt_SharedClasses_openj9 (#9003)

These tests are disabled for now because the AOT behavior assumes on heuristics depending on recompilation.

[2020-04-11 02:08] pshipton opened #9214 "MathLoadTest_bigdecimal_special crash vmState=0x0005ff09"
https://ci.eclipse.org/openj9/view/Test/job/Grinder/766
special.system aarch64
MathLoadTest_bigdecimal_special_19
variation: Mode607
JVM_OPTIONS: -Xcompressedrefs -Xcompressedrefs -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:count=0

[code]

[2020-04-11 04:27] #9201 closed

[2020-04-11 14:22] pshipton commented on #9214
https://ci.eclipse.org/openj9/view/Test/job/Grinder/767
special.system aarch64 XL

MathLoadTest_all_special_3
variation: Mode107
JVM_OPTIONS: -Xnocompressedrefs -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:count=0 -Xnocompressedrefs

MathLoadTest_bigdecimal_special_3
variation: Mode107
JVM_OPTIONS: -Xnocompressedrefs -Xgcpol

[2020-04-11 14:30] pshipton opened #9215 "DaaLoadTest MathLoadTest special crash vmState=0x00000000"
https://ci.eclipse.org/openj9/view/Test/job/Grinder/767
special.system aarch64 XL

DaaLoadTest_daa1_special_6
variation: Mode113
JVM_OPTIONS: -Xnocompressedrefs -Xgcpolicy:gencon -Xjit:count=0,optlevel=warm,gcOnResolve,rtResolve -Xmn512k -Xnocompressedrefs

DaaLoadTest_daa2_special_2
variation: Mode104
JVM_OPTIONS: -Xnocompressedrefs -Xgcpolicy:optthruput -Xjit:count=0,optlevel=hot,gcOnResolve,rtR

[2020-04-11 14:49] pshipton opened #9216 "jdk15 test_getParameters Number of methods should be 2 for enum class MOOD"
https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/d6f6d9c...8d72cb3
seems related to `8241798: Allow enums to have more constants`

https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_s390x_linux_OpenJDK/171
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_mac_OpenJDK/165
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.function

[2020-04-11 20:50] pshipton opened #9218 "aix71-p8-11 /opt/java13_64 is incorrect JDK version"
https://ci.eclipse.org/openj9/job/Build_JDK14_ppc64_aix_Personal/35
[code]

[2020-04-11 20:51] pshipton commented on #9218
@jdekonin

[2020-04-11 22:04] avermeer commented on #7752
Hello @babsingh, thank you very much for this detailed analysis and proposed fix.
I will let you know the outcome of our tests with our proposed fix as soon as possible.

[2020-04-11 22:47] pshipton opened #9220 "CondyNameValidationTest segfault vmState=0x00040000"
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_sanity.openjdk_x86-64_linux_xl_Personal/2
java/lang/invoke/condy/CondyNameValidationTest.java
[code]

[2020-04-11 22:49] pshipton commented on #9220
20x grinder https://ci.eclipse.org/openj9/job/Grinder/777/

[2020-04-11 23:20] JasonFengJ9 opened #9221 "JDK8 JIT Server : MathLoadTest_all_ConcurrentScavenge_0_FAILED Segmentation error vmState=0x00000000 at libj9gc29.so"
Failure link
------------

From an internet build `Test_openjdk8_j9_extended.system_x86-64_linux_jit_Nightly/45`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https:/

[2020-04-13 01:03] knn-k commented on #9214
It is intermittent, but I recreated a crash with MathLoadTest_bigdecimal_special_19.
Method_being_compiled is different from the one above:

[2020-04-13 01:49] 0xdaryl opened #9222 "Remove unused ScopeCHKEvaluator and atccheckEvaluator"
* Remove these functions from `x/codegen/J9TreeEvaluator.cpp` as they are no longer used
* Remove references to `lowerAtcCheck`

[2020-04-13 01:50] 0xdaryl commented on #9222
@mw918

[2020-04-13 06:07] Akira1Saitoh commented on #9215
All cases except `DaaLoadTest_daa3_special9` crash when multiple threads are invoking a unresolved virtual method. We need to obtain a lock before entering critical section inside `_virtualUnresolvedHelper` as ppc does.

https://github.com/eclipse/openj9/blob/bcf1c1ab794256db837a24032b96240546e95c52/runtime/compiler/p/runtime/PicBuilder.spp#L2244-L2247

[2020-04-13 06:19] Akira1Saitoh commented on #9215
`DaaLoadTest_daa3_special9` crashes inside `old_fast_jitLookupInterfaceMethod` because `itableOffset` is 0. Looks like required memory barrier is **missing** in `_interfaceCallHelper` for aarch64. After an interface method is resolved and `itableOffset` is written to the memory, we need to issue a memory barrier to prevent other threads from seeing old value of that memory area as ppc does.
https:

[2020-04-13 07:09] knn-k commented on #9214
The crash is in `OMR::CodeCache::findTrampoline()`.
`findResolvedMethod(method)` returns NULL, and `entry->_info` fails as its result.
https://github.com/eclipse/omr/blob/61408b0ef4c6d0d15d26e1ece36c6ff5ad35c234/compiler/runtime/OMRCodeCache.cpp#L568

`TR::ARM64ImmSymInstruction::generateBinaryEncoding()` calls `TR_J9VM::methodTrampolineLookup()` when the callee method is out of range of the `bl`

[2020-04-13 10:30] knn-k commented on #9214
The crashes with the large heap build in 767 are the same: `findResolvedMethod(method)` returning NULL in `OMR::CodeCache::findTrampoline()` for resolved methods.

[2020-04-13 13:26] Leonardo2718 commented on #8574
Alright, I think my question has been answered so I am going to close this now.

[2020-04-13 13:26] #8574 closed

[2020-04-13 13:28] hzongaro commented on #9105
Andrew @andrewcraik or Daryl @0xdaryl, may I ask you to add pull request https://github.com/eclipse/openj9/pull/8520 **Handle jitNewValue in code generators** to this list?

We also have in OMR pull request https://github.com/eclipse/omr/pull/4609/ **Lower newvalue to new**, which is codegen-related, although there's nothing platform-specific about it.

[2020-04-13 13:30] LinHu2016 commented on #7740
I have new test build, the below is the result of running ReproducerV2, @PhilippLengauer please verify if the result is your expected, Thanks

[2020-04-13 13:47] dmitripivkine commented on #9221
I will double check but it looks like another duplicate of https://github.com/eclipse/openj9/issues/8789, https://github.com/eclipse/openj9/issues/9123

[2020-04-13 14:08] JasonFengJ9 commented on #7740
@PhilippLengauer please try the test build `OpenJ9-JDK11-x86-64_linux-20200412-192815.tar.gz` at
https://ibm.box.com/s/z75mlew29acgq166fxh5hbdh1g3iorh6

[2020-04-13 14:27] pshipton commented on #8972
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_linux_Nightly/333
SharedClasses.SCM01.MultiThread_0
[code]

[2020-04-13 14:54] dchopra001 commented on #9068
I tried the above approach. Here are the exact options I used:
[code]

The throughput data is below:
<img width="208" alt="Screen Shot 2020-04-13 at 10 40 47 AM" src="https://user-images.githubusercontent.com/11260919/79129476-44f77300-7d73-11ea-8588-0f23d312b4aa.png">

The average throughput was 9940.13/s for local JIT and 9075.53/s for Remote JIT (difference of  ~8.70%). Without disabling BBE, t

[2020-04-13 15:02] dmitripivkine commented on #9221
Unfortunately DDR failed to walk problematic java stack for thread 0x17AE000. However I can observe number of just unloaded classes around. If you need my help with deeper investigation please let me know.
I guess all problems such this relate to https://github.com/eclipse/openj9/issues/9212

[2020-04-13 15:07] dchopra001 commented on #9068
Results for dontInline={'java/util/HashMap.get(Ljava/lang/Object;)Ljava/lang/Object;'} are below:
Options:
[code]

Here’s the throughput data:
<img width="209" alt="Screen Shot 2020-04-13 at 11 00 23 AM" src="https://user-images.githubusercontent.com/11260919/79131088-02836580-7d76-11ea-8f20-29e7ac7567d6.png">

There is a 6.23% difference now, which is the closest we have seen so far.

And here’s

[2020-04-13 15:14] knn-k commented on #9214
https://github.com/eclipse/omr/pull/5052 fixes this issue.

[2020-04-13 15:16] mikezhang1234567890 commented on #8749
Taking a look at this issue.

[2020-04-13 15:21] jdekonin commented on #7980
@DanHeidinga this work was completed by @rajdeepsingh1.  This issue can be closed.

[2020-04-13 15:24] DanHeidinga commented on #9168
I'd start by using `javap` or `cfdump` to dump the `org.openj9.test.jsr335.TestSerializable` class and look at the `$deserializeLambda$` method to see what data it's looking at when deserializing.

My first guess here would be that there's an issue in the encoding for the data used to deserialize and this would be a way to check that

[2020-04-13 15:28] mikezhang1234567890 commented on #9168
Taking a look.

[2020-04-13 15:31] dmitripivkine commented on #9212
This is completely orthogonal and I am not sure is it applicable however might be it helps FYI: Class unloading can be prevented is any of roots discovered by GC (for example o-slot in Java stack) points directly to class object. I believe we do have case already when java stack frame iterator returns back out-of-stack range addresses to be scanned as o-slots

[2020-04-13 15:36] andrewcraik commented on #7692
@DanHeidinga given that this slow down happens on both JVMs this seems to be something to discuss with the Nashorn team. If we don't hear anything further, this seems like something that should be closed since it doesn't seem to be OpenJ9 specific.

[2020-04-13 15:55] keithc-ca commented on #8749
@mikezhang1234567890
You may want to have a look at https://github.com/keithc-ca/openj9/tree/findptr

[2020-04-13 16:00] pshipton commented on #9216
I'll fix this.

[2020-04-13 16:10] fjeremic commented on #8803
@liqunl any progress on this one?

[2020-04-13 16:11] DanHeidinga commented on #9180
Looking through https://bugs.eclipse.org/bugs/show_bug.cgi?id=483563 which added contributor teams, I see the following:

As far as I can tell, your account is set up correctly.

I've now opened https://bugs.eclipse.org/bugs/show_bug.cgi?id=562071 to request that contributors have the "triage" role at the project.  We'll see what the Foundation says.

[2020-04-13 16:14] #7980 closed

[2020-04-13 16:15] jdekonin commented on #9218
Reinstalled it.
[code]

[2020-04-13 16:18] olvap377 commented on #9089
Installed on:

win2012r2-x86-1
win2012r2-x86-2
win2012r2-x86-3
win2012r2-x86-4
win2012r2-x86-5
win2012r2-x86-6

[2020-04-13 17:00] kgibm opened #9225 "Feature request: Print identity hash code with -Xdump:events=throw+systhrow"
We are investigating a `java/nio/channels/ClosedByInterruptException` issue where seemingly our application doesn't correctly handle all instances of such exceptions; however, if we enable too much trace, the problem is avoided. What we've been doing is using `-Xdump:stack:events=throw+systhrow,filter=java/nio/channels/ClosedByInterruptException` to tell us all the exceptions that happen and then

[2020-04-13 17:06] kgibm commented on #9225
One thing I just realized is that we can use the thread identifier and timestamp to guess that the exception is re-thrown (if the thread identifier is the same and the timestamp is approximately the same and the higher stack frames and line numbers are the same).

[2020-04-13 17:08] mpirvu commented on #8353
Looking at the verbose log from comment https://github.com/eclipse/openj9/issues/8353#issuecomment-599852183 I see 4742 lines that start with
`#FAILURE:  Failure while commiting static final field assumption for class`
Because of this, many methods end up interpreted.

[2020-04-13 17:12] vijaysun-omr commented on #8353
fyi @liqunl and @andrewcraik wrt the last comment about static final field assumptions

[2020-04-13 17:16] #9218 closed

[2020-04-13 17:31] liqunl commented on #8353
Looks like we didn't check if a class has static final field modified before folding its static final fields. Fixing.

[2020-04-13 17:39] fjeremic opened #9227 "Avoid recursive crashes when dumping current IL during jitdump generation"
When generating a jitdump for a failed compilation that failed during codegen we can, and do encounter recursive crashes when dumping the IL and instructions of the compilation. I currently see two general problems which are affecting us:

1. Printing snippets causes a SIGSEGV
2. Verifying trees causes tree verification errors

The first issue seems to happen if we fail before binary encoding. If

[2020-04-13 18:00] fjeremic commented on #9227
https://github.com/eclipse/omr/pull/5053

[2020-04-13 18:19] vijaysun-omr commented on #8353
Is there an -Xjit option that can be used to avoid the compilation failures mentioned above ? This may be a quick way to confirm that this is the source of the reported performance problem (as is suspected).

[2020-04-13 18:31] liqunl commented on #8353
The option is `-Xjit:disableGuardedStaticFinalFieldFolding`, this will turn off all OSR-dependent static final field folding

[2020-04-13 19:03] a7ehuo commented on #9174
The crash is intermittent, sensitive to timing. The experiment https://github.com/eclipse/openj9/issues/9174#issuecomment-611782896 does not solve the race condition. It only deals with accessing the purged class in the romClass map. There are many other caches at the server. In the experiment, the server sends the `ResolvedMethod_getRemoteROMClassAndMethods` message to the client to retrieve the

[2020-04-13 19:10] cznewbold commented on #8890
finally had time to try this using the hotspot jvm, but alas, our product is using the jre/bin/j9vm files, which don't exist in the hotspot builds

[2020-04-13 20:08] llxia commented on #3791
- `cmdLineTester_GCCheck_SE80` is an internal test (in runtimes/test repo) and it is not disable. All internal tests are suspended in internal Jenkins in order to bring the build stability. Once the internal Jenkins is stabilized, could we re-enable these tests? FYI @vsebe

- I tested `cmdLineTester_GCCheck_SE80` in internal Grinder/702 (`Create core file` passed and `Run gccheck` failed):
[code]

[2020-04-13 20:41] harryyu1994 commented on #7508
For hooks like `jitClassesRedefined()`, `jitFlushCompilationQueue()`, `jitMethodbreakpointed()` and `jitIllegalFinalFieldModification()`,
they are part of `J9JITConfig` and so there's probably not a good way to turn these off. Unless the entire J9JITConfig can be thrown away on JITServer, but I doubt that's the case..

[code]

[2020-04-13 20:43] jdekonin commented on #8979
fyi @rajdeepsingh1

This PR enables 11-20 for build and test while disabling 1-10.  There has only been an bootjdk issue with jdk13 on 11 which I fixed quickly.
https://github.com/eclipse-cbi/jiro/pull/97

Once this goes through I don't have to do the manual change on the nodes to keep 11-20 active.

Remaining task is to return 1-10 once the release is complete end of the week.
- [ ] remove from c

[2020-04-13 20:46] vijaysun-omr commented on #8353
@scikirbypoke please try adding `-Xjit:disableGuardedStaticFinalFieldFolding` to your JVM command line options if you get a chance to see how/if the performance characteristics improve.

[2020-04-13 20:47] llxia opened #9231 "Merge compressedrefs and non-compressedrefs tests builds into one"
Related to the work of combining compressedrefs and non-compressedrefs SPECS into the same build, we are planning to merge two tests builds into one (removing _xl). Below are some todos:

- [x] No jvm option will be added for `NoOptions`. Remove the logic in TKG that adds jvm option -Xcompressedrefs or -Xnocompressedrefs
https://github.com/AdoptOpenJDK/TKG/blob/6ad0667a194152ba7a5a98d68b39731d6c29

[2020-04-13 20:58] pshipton commented on #9089
Fixed by #9224

[2020-04-13 20:58] #9089 closed

[2020-04-13 21:01] harryyu1994 commented on #7508
Hooks here are probably easy to turn off.

[code]

[2020-04-13 21:04] pshipton commented on #8890
There is no jre/bin/j9vm directory on Linux, do you mean jre/lib/amd64/j9vm, or did you switch to Windows?

I'm assuming the product is using libjvm.so? You could try copying the jre/bin/server directory in the Hotspot build to j9vm and see if that is enough of a workaround to run the test.

[2020-04-13 22:02] cathyzhyi commented on #8838
@zelix0 Hi, how reproducible is the problem? could you try adding `-Xjit:java+system:events=throw,filter=java/lang/NullPointerException#*java/util/TimSort.countRunAndMakeAscending*,range=1..1` to collect the javacore and core files so that I can take a look?

[2020-04-13 22:55] #9214 closed

[2020-04-14 01:01] #7233 closed

[2020-04-14 02:10] zelix0 commented on #8838
Using jdk-11.0.7+9 x64 on Windows 8.1 I am getting the following "unrecognized option" error.

<JIT: unrecognized option --> 'java+system:events=throw,filter=java/lang/NullPointerException#*java/util/TimSort.countRunAndMakeAscending*,range=1..1'>
<**JIT: fatal error, invalid command line**>
Assertion failed at J:\jenkins\tmp\workspace\build\src\build\windows-x86_64-normal-server-release\vm\compile

[2020-04-14 03:10] DanHeidinga commented on #9231
fyi @gacholio - for awareness

[2020-04-14 03:35] scikirbypoke commented on #8353
The `-Xjit:disableGuardedStaticFinalFieldFolding` option seems have positive effect to overall performance. The boot time became shorter, the TPS dropped to the level of hotspot's, but the FPS kept flipping between 30 and 60 and given an average 45 FPS. When I was using hotspot to enter same world, the FPS just float around 60.

[2020-04-14 04:28] smudigon commented on #8735
@babsingh, Have you arrived at any solution for this issue ? I am not sure about the changes that went into JRE 8 that is causing these issues, but -Xrs:sync would completely disable signal handling and even the rest of the signals would be masked.
Could you please let us know the latest update on this as the end customer is waiting for a resolution on this.

[2020-04-14 05:01] babsingh commented on #8735
[URGENT ^^^] @DanHeidinga @pshipton; fyi, @smudigon

Yes, the solution is proposed in https://github.com/eclipse/openj9/issues/8735#issuecomment-607304957:

_The reference implementation (RI) doesn't install a JVM signal handler for `SIGABRT`. OpenJ9 needs a command line option to either enable or disable the JVM signal handler for `SIGABRT`. This will allow OpenJ9 users to match the RI by disabli

[2020-04-14 07:26] trourance commented on #9132
I've tried the parameter `-Djdk.nativeCrypto=false` and it fixes the issue.
Most probably this could be changed to `-Djdk.nativeGCM=false` as the client uses the following algorithm to establish the connection `tls=TLSv1.2/ECDHE-RSA-AES256-GCM-SHA384/ECDH=prime256v1`

[2020-04-14 08:15] knn-k commented on #9215
#9237 fixes the thread safety issue with unresolved virtual method calls.

[2020-04-14 10:49] jdekonin commented on #9159
I don't like where the Adopt playbook installs gcc too.  By default it unpacks a precompiled binary (on cent7?) to /usr/local/gcc.  As this doesn't allow for more than one version on the machine I compiled it myself with the default configure options except for `--prefix=/usr/local/gcc-7.5.0`.

06:19:13  * C Compiler:     Version 7.5.0 (at /usr/local/gcc-7.5.0/bin/gcc)
06:19:13  * C++ Compiler:

[2020-04-14 12:15] jdekonin commented on #9159
I also updated the `~/.bashrc` so if you are accessing this machine directly @knn-k you will get gcc-7.5 as default now.

[2020-04-14 12:31] knn-k commented on #9159
OK, I can see `gcc (GCC) 7.5.0` by running `gcc --version` now.

[2020-04-14 12:46] pshipton commented on #8770
Another one here https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/339

[2020-04-14 12:47] pshipton commented on #9197
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_xl_Nightly/341
[code]

[2020-04-14 13:52] DanHeidinga opened #9239 "Define standard ENV vars passing Kubernetes "request" limits to the JVM"
K8 provides two resource bounds for controlling the use of memory and cpu in a container:
* Requests: guaranteed minimum a container will get
* Limits: upper bound that a container can't go beyond without restriction

Currently, the "limit" is used to create the cgroup for the container.  This means the JVM's default container awareness is based on the upper bound (limit) rather than the lower bou

[2020-04-14 13:54] DanHeidinga commented on #9239
fyi @dinogun

[2020-04-14 14:22] 0xdaryl opened #9240 "Support inline monitor cache"
Use the inline monitor cache on monenter/monexit sequences.

The operation can be grokked by searching for code guarded with `TR_EnableMonitorCacheLookup` on other architectures.

[2020-04-14 14:23] 0xdaryl commented on #5455
Support for inlined monitor cache for monent/monexit:  #9240

[2020-04-14 14:40] harryyu1994 commented on #8770
- Looks like the error is: can't bind server address: Address already in use

[code]

[2020-04-14 14:48] dchopra001 commented on #9068
Below are the results of running without `disableTreeSimplification`:

`-Xjit` option:
[code]

Here's the throughput data:
<img width="212" alt="Screen Shot 2020-04-14 at 10 30 45 AM" src="https://user-images.githubusercontent.com/11260919/79236584-22c92800-7e3b-11ea-9488-99b6ef8b41f4.png">

The average is 10064.74 and 9242.9 for the Local and JITServer runs, respectively. So on average the regres

[2020-04-14 14:54] smlambert commented on #5368
Looking through comp:test issues, as there is no action we are going to take here, I suggest closing this issue.

[2020-04-14 14:59] vijaysun-omr commented on #8353
Thank you for trying that option @scikirbypoke

@liqunl please focus on delivery of the issue you mentioned related to static final fields.

@BeverlyXu please pursue the FPS issue referred to in the prior comment to see if that can be improved in some way.

[2020-04-14 15:39] cathyzhyi commented on #8838
@zelix0 Thanks a lot for trying to collect the data. I will take a look at the dump files collected.

[2020-04-14 15:41] AlenBadel commented on #8652
First of all let's list all the different places this failure can occur:

`java/nio/charset/coders/BashStreams.java `

`java/nio/channels/FileChannel/TransferToChannel.java`

`java/nio/file/WatchService/LotsOfEvents.java`

`java/util/jar/JarFile/ScanSignedJar.java`

`java/nio/channels/SocketChannel/ShortWrite.java.ShortWrite`

Firstly, the failure looks to be identical in each one of these cases.

[2020-04-14 15:41] #9159 closed

[2020-04-14 15:59] pshipton commented on #7633
https://mta.openssl.org/pipermail/openssl-announce/2020-April/000170.html

The OpenSSL project team would like to announce the forthcoming release
of OpenSSL version 1.1.1g.

This release will be made available on Tuesday 21st April 2020 between
1300-1700 UTC.

OpenSSL 1.1.g is a security-fix release. The highest severity issue
fixed in this release is HIGH:
https://www.openssl.org/policies/secpol

[2020-04-14 16:05] #5368 closed

[2020-04-14 16:36] smlambert commented on #4548
A lot of these items have now been addressed through several major updates and features added, including and not limited to:

- variation (from playlist) and JVM_OPTIONS used are printed at the start of each test run
Example console output:
15:27:52  variation: NoOptions
15:27:52  JVM_OPTIONS: -Xcompressedrefs

- Re-run link for easier prepopulation of Grinder parameters

- AUTODETECT, so if you u

[2020-04-14 16:38] harryyu1994 commented on #8770
So it turns out the client crashed

[code]

[code]

[2020-04-14 16:42] #8699 closed

[2020-04-14 16:43] mpirvu commented on #8029
Fixed by #9189

[2020-04-14 16:43] #8029 closed

[2020-04-14 17:07] andrewcraik commented on #8823
@Charlmzz / @cathyzhyi any update?

[2020-04-14 17:09] andrewcraik commented on #7684
fixes should be merged

[2020-04-14 17:12] smlambert commented on #8551
Can this be closed now?

[2020-04-14 17:29] #8551 closed

[2020-04-14 17:33] pshipton commented on #7684
@andrewcraik @cathyzhyi if the fixes are merged, can this be closed? The OMR change has promoted.

[2020-04-14 17:47] DanHeidinga commented on #8735
@babsingh What does the RI do for SIGABRT if no user handler is installed?  I'm wondering if their behaviour is to only install their handler if there isn't already a user one installed.

Command line options are the solution of last resort as they introduce additional code paths that need to be tested and kept working.   New options also increase the complexity of an already complex piece of code

[2020-04-14 17:50] andrewcraik commented on #7684
Yes this should be fixed - closing - please reopen if further issues are seen once the update has been picked up.

[2020-04-14 17:50] #7684 closed

[2020-04-14 18:23] Charlmzz commented on #8823
I have reproduced this issue and I'm working towards analyzing it.

[2020-04-14 18:26] babsingh commented on #8735
RI never registers a signal handler for SIGABRT. It uses the default OS handler which generates a core file.

[SIGABRT: The HotSpot VM does not handle this signal.](https://docs.oracle.com/javase/8/docs/technotes/guides/troubleshoot/signals006.html)

Referring to the [abortHandler](https://github.com/eclipse/openj9/blob/e386a08034fbc03e3b67b01436bbb2c97f562d28/runtime/rasdump/dmpsup.c#L182-L269),

[2020-04-14 19:19] fjeremic commented on #4548
Agreed. Many thanks to the test team who invested resource into fixing most of these issues. I certainly have observed the improvements and am very grateful for the investment in this area. Thank you!

[2020-04-14 19:19] #4548 closed

[2020-04-14 19:19] #9216 closed

[2020-04-14 20:02] DanHeidinga commented on #8735
Is this a behaviour we can adopt when signal chaining isn't enabled?  We only install our RAS handler if there isn't an existing user handler?

[2020-04-14 20:05] AlenBadel commented on #8652
Taking a closer look the j9method we're referencing seems to have been deleted. Everything looks to be invalid, not just the constant pool address.

Running an experiment to verify if the HT was invalid upon classunloading verified that it was corrupted somewhere prior to entering the classunloading routine.

[code]

The `addNewEntry` method should also segfault if the j9method being inserted was

[2020-04-14 20:32] BeverlyXu commented on #8353
@scikirbypoke so it looks like TPS is in order and FPS is still not satisfactory -- fluctuates a lot and average is still lower than Hotspot's

Could you please keep the Xjit option of `disableGuardedStaticFinalFieldFolding`, and take the verbose log with `verbose={compilePerformance}` while running the `perf` tool? Please note to start measuring the performance after the initial loading, and duri

[2020-04-14 20:37] ChengJin01 commented on #5058
I tried to cross-compile a OpenJ9 build with all my changes which works good on the Fedora_raw booted via QEMU but crashed /ended up with weird exception when running on Fedora_raw booted on the HiFive U540 board.
[code]
After talking to the users of my changes, it seems:
1) It works good on both Debian_riscv/QEMU and Debian_riscv/U540 from @janvrany (our partner on OpenJ9 & OMR/JIT) working on De

[2020-04-14 20:37] ChengJin01 commented on #5058
To avoid blocking the OpenJ9 test too long on the hardware, I will follow the janvrany 's step at https://github.com/janvrany/riscv-debian to establish a Debian VM for cross-compilation (hopefully later this week or next week) to see how it goes given that the cross-build proved to be work on Debian_riscv/U540. If eventually it ends up with a workable OpenJ9 cross-build on U540, I will get started

[2020-04-14 20:56] LinHu2016 opened #9247 "Balanced GC improvements for better utilization of fragmented memory"
Balanced GC is region base GC policy, in general partial garbage collector(PGC) would handle most reclaim memory, occasionally global marking phase(GMP) starts and interleaves with the PGCs, global GC and abort case in PGC should be minimum for the better performance. Logically
after GMP, JVM should have more free memory than usual, but the first PGC after GMP has more chance to get abort case(spe

[2020-04-14 20:59] LinHu2016 commented on #9247
https://github.com/eclipse/openj9/pull/8804 fixed the second problem(pruning cards from InterRegionRememberedsets).

[2020-04-14 21:15] harryyu1994 commented on #8770
Backtrace:

[code]

[2020-04-14 21:38] theresa-m opened #9248 "Option -verbose:module|nomodule not supported"
**OpenJ9 version:**
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Mac OS X amd64-64-Bit Compressed References 20200122_450 (JIT enabled, AOT enabled)
OpenJ9   - 51a5857d2
OMR      - 7a1b0239a
JCL      - da35e0c380 based on jdk-11.0.6+10)

**Output:**
[code]

[2020-04-14 22:05] #8637 closed

[2020-04-14 23:39] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdknext_j9_sanity.functional_x86-64_linux_OpenJDK/165

[2020-04-15 00:41] mpirvu commented on #8770
Regarding `TR_J9VM::getBaseComponentClass(TR_OpaqueClassBlock * clazz, int32_t & numDims)` the only way we can crash in it is if the parameter `clazz` is bad. Maybe the class has been unloaded, or maybe the server simply had a bad pointer.

[2020-04-15 02:59] scikirbypoke commented on #8353
verbose log: https://send.firefox.com/download/87d50c8e0061b446/#zUO7lcfebt-7Vxt-Y-JcMg
parsed result: https://gist.github.com/scikirbypoke/8d3c710589a3b89aeac28705996741bd
I couldn't reproduce the FPS flipping problem this time. For overall performance, hotspot now seems no better than openj9, but I am not sure if the problem has been complete fixed.
@1a2s3d4f1 @MechanosG should try `disableGuard

[2020-04-15 04:57] gacholio commented on #9248
This is a little thin on the details - is this an OpenJDK option? What should the output look like?

[2020-04-15 05:25] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Release/3

[2020-04-15 08:18] M-Davies commented on #8637
Thanks for all the help on this everyone :)

[2020-04-15 10:27] imkabir commented on #284
Is anyone looking at this issue? I have got another instance of the issue where the application is hanging because a thread is waiting on java/lang/J9VMInternals$ClassInitializationLock, but the owner is unknown.

[2020-04-15 11:40] PhilippLengauer commented on #7740
Hi, sorry for the late reply, ill check

[2020-04-15 11:42] PhilippLengauer commented on #7740
@JasonFengJ9  the link is dead for me, it says "file has been removed or is unavailable to you"

[2020-04-15 11:53] JasonFengJ9 commented on #7740
@PhilippLengauer could you give following link a try?
`OpenJ9-JDK11-x86-64_linux-20200412-192815.tar.gz`
https://ibm.box.com/s/jj1uagr0d6uxvf9lg9zcazc2qdmrb4be

[2020-04-15 11:59] PhilippLengauer commented on #7740
this one works, downloading now ...

[2020-04-15 12:33] pshipton commented on #7913
This stopped occurring.

[2020-04-15 12:33] #7913 closed

[2020-04-15 12:36] pshipton opened #9251 "AArch64 DDR Unrecognised command: !printallcallsites !findallcallsites"
https://ci.eclipse.org/openj9/view/Test/job/Grinder/787 - compressedrefs
https://ci.eclipse.org/openj9/view/Test/job/Grinder/789 - XL
AArch64 sanity.functional 0.20.0 branches
cmdLineTester_callsitedbgddrext_openj9_0
`*0 : PID: 84060 : No JRE`
`Unrecognised command: !printallcallsites`
`Unrecognised command: !findallcallsites`

[code]

[2020-04-15 14:10] babsingh commented on #8735
For a native app that uses the JVM, enabling signal chaining refers to replacing the OS `signal` and `sigaction` calls with the function calls of the same name from the `jsig` library. This is achieved by either linking the `jsig` library at compile time or preloading the `jsig` library.

Can we find out if a native app has enabled signal chaining i.e. if a native app has invoked the `sigaction` o

[2020-04-15 14:29] mpirvu commented on #8353
Compilation stats for the verbose log above:
[code]
Nothing worisome. The 11 compilation failures happen because the JIT exceeds its 256M of memory allowed for one compilation. They are retried at lower opt level however.
Some general remarks:
- The application is big. 27K compilations is on the large size
- Despite the heavy compilations the system has the resources to do it as there is still fre

[2020-04-15 14:32] AlenBadel commented on #8652
Adding an assert if `unloadClasses` does not remove an entry has not triggered. Also, enabling sampling verbose options does not cause this to failure to be triggered. I suspect this is some sort of synchronization issue. Unless an experiment causes the failure, or triggers some sort of assert the experiment cannot be reliable.

What we've verified:
The J9Method_HT Entry was invalid prior to enter

[2020-04-15 15:05] jdekonin commented on #8738
@pshipton, are there still problems with the RH7 390 machines?

[2020-04-15 15:09] dmitripivkine commented on #8652
Global GC STW does not stop compilation threads really but takes `_javaVM->classUnloadMutex` and trigger `J9HOOK_MM_INTERRUPT_COMPILATION` (see https://github.com/eclipse/openj9/blob/d493108cc5cc229002810c55b0ac86df1ca1fbc2/runtime/gc_base/ClassLoaderManager.cpp#L645)

[2020-04-15 15:19] pshipton commented on #8890
Is the problem resolved by using the OpenJ9 JVM option `-Xshareclasses:none`?

[2020-04-15 15:27] vij-singh commented on #7684
Great news - thanks folks!
@loriadi Lori - just making sure you saw this

[2020-04-15 15:31] jdekonin commented on #7791
As discussed on OpenJ9 community call on April 1 and 8th, due to the Power KVM host stability (UNB Power8) issue which appears to be resolved; we will not proceed with Cent7 compile machine change or implement the mirrored artifactory solution until we have either a backup plan or a way to get someone in to fix things if there’s a problem.

[2020-04-15 15:42] 1a2s3d4f1 commented on #8353
Openj9 tick time longger than Hotspot if loader some entities

Already use `disableGuardedStaticFinalFieldFolding` option
[LogVerbose.20200415.231802.zip](https://github.com/eclipse/openj9/files/4482157/LogVerbose.20200415.231802.zip)

[2020-04-15 15:51] pshipton commented on #8738
I haven't seen any problems for some time.

[2020-04-15 15:51] #8738 closed

[2020-04-15 16:01] loriadi commented on #7684
Thank you everyone!

[2020-04-15 16:02] PhilippLengauer commented on #7740
ive run both the reproducer and our tests, all looks good with that build. awesome, thanks!

which versions will contain the fix? i guess the most recent 11 and 15?

[2020-04-15 16:03] harryyu1994 commented on #8770
Trying to locate the J9Class. Eyecatcher is `0x99669966`
The class object field is set to `0xffffffffffffffff` if class has been unloaded.
J9AccClassDying flag (0x8000000) in clazz->classDepthAndFlags means class is unloaded.

[2020-04-15 16:23] pshipton commented on #9251
@knn-k

[2020-04-15 16:30] pshipton commented on #9251
The core could be truncated, but it seems there is lots of space on the machine and I don't think that is what's happening.

The problem is easy to reproduce on cent7-aarch64-1
`java -Xdump:system:events=vmstop -version`
`jdmpview -core <core>`
`*0 : PID: 84925 : No JRE`

The test was working last weekend. It may be related to the gcc 7.5 switch.
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9

[2020-04-15 16:31] theresa-m commented on #9248
It shows up as an option under the `java -help` page so I think it should be either supported or removed from here if thats possible:
[code]

`java -verbose:module -version` with hotspot Java 11 result in a log of loaded and unloaded modules:

[code]

From JEP 261: https://openjdk.java.net/jeps/261

-Xlog:module+[load|unload][=[debug|trace]] causes the VM to log debug or trace messages as modules

[2020-04-15 16:35] pshipton commented on #9251
It's working fine with the older JVM built last weekend.
`*0 : PID: 85268 : JRE 11 Linux aarch64-64 (build 11.0.7-internal+0-adhoc.jenkins.BuildJDK11aarch64linuxRelease)`

[2020-04-15 16:49] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Release/9
LambdaLoadTest_OpenJ9_NonLinux_special_24

[2020-04-15 16:52] pshipton commented on #9251
I ran `jdmpview -J-Xint -core <core>` to disable the JIT, but the problem still occurs.
`*0 : PID: 84925 : No JRE`

[2020-04-15 16:54] cathyzhyi commented on #8972
I am not able to reproduce this locally or through grinder. It would be very helpful if we could get some coredumps for the failure from nightly build.

[2020-04-15 17:36] JasonFengJ9 commented on #7740
@PhilippLengauer great to hear that!
The fix is expected to in next update/release of `JDK11+` subject to reviewing and build process.

@LinHu2016 could you submit the GC PR?
I am going to add additional `j9gc_set_allocation_sampling_interval` with maximum `UDATA` to indicate that the sampling is disabled.
VM/GC PRs can be submitted separately.

[2020-04-15 18:00] keithc-ca commented on #9251
There doesn't appear to be anything wrong with the core file (`openjdk-tests/TKG/test_output_15869240247365/cmdLineTester_callsitedbgddrext_openj9_0/j9core.dmp`) captured in https://ci.eclipse.org/openj9/view/Test/job/Grinder/787: using jdmpview from a local Linux x86 build it finds the JRE just fine:
[code]

[2020-04-15 18:05] pshipton commented on #8972
@cathyzhyi pls provide the -Xdump options you want, and we can ask @Mesbah-Alam to help modify the test to include them.

[2020-04-15 18:14] LinHu2016 commented on #7740
@JasonFengJ9 OK, I will summit omr and OpenJ9 PRs for review

[2020-04-15 18:20] pshipton commented on #9251
Not a blocking problem then, but something we'll need to fix if possible or document as a limitation if not.

[2020-04-15 19:21] cathyzhyi commented on #8972
@Mesbah-Alam  could you help adding the following to the above a failing tests `-Xdump:system+java:events=throw,filter=java/lang/NullPointerException#*java/lang/invoke/BruteArgumentMoverHandle.permuteArguments*`

[2020-04-15 21:03] cznewbold commented on #8890
we were able to try the hotspot jvm on linux to see if the original error
java.lang.ClassFormatError: JVMCFRE166 Duplicate entries in LocalVariableTypeTable are not allowed;
went away.
it appears that the error went away using the hotspot jvm. there were other errors,
which i assume are due to the hotspot jvm being different, but that specific error did not show in the log

i need to get another b

[2020-04-15 21:22] fjeremic commented on #9113
Had a miscellaneous chat with @0xdaryl who I will ask to chime in here, as refactoring of this code would definitely break some background work he has going on and it may be unpleasant to merge.

[2020-04-15 21:35] harryyu1994 commented on #8770
- AMD64 Calling Conventions for Linux
- %rdi: Used to pass the 1st argument to a function
- %rsi: Used to pass the 2nd argument to a function
- so I'm guessing it should be `clazz` should be in %rdi?

[code]

I don't see the eyecatcher here:
[code]

[2020-04-15 22:05] harryyu1994 commented on #8770
There's no communication with JITServer before the crash

[code]

[2020-04-15 22:08] harryyu1994 commented on #8770
Actually I'm wrong in my previous comment, we do get into `handleServerMessage(JITServer::ClientStream *client, TR_J9VM *fe, JITServer::MessageType &response)`.

[2020-04-15 22:17] kgibm opened #9256 "Feature request: Add -Xdump request option to enforce javacore exclusive access"
If a javacore is requested (e.g. `user` signal but excluding GPF, abort, and trace-assert javacores) when something already has exclusive access, then, even if exclusive access was requested for the javacore, the javacore will not be taken with exclusive access (`Exclusive VM access not taken`) and this may result in inconsistent thread information and missing thread stacks (e.g. `Unable to walk i

[2020-04-15 22:23] harryyu1994 commented on #8770
So since this is a virtual function, we should be looking at `%rsi: Used to pass the 2nd argument to a function` instead of `%rdi: Used to pass the 1st argument to a function`. Also might not be able to rely on the register values at crash to figure out the clazz pointer. Looking into the disassembly code again.

[2020-04-15 22:33] rpshukla commented on #7247
Update on my investigation:

I haven't yet been able to reproduce this locally on my macbook. However, I did use dapptrace to log system libc calls on a successful run of `test/jdk/java/util/zip/EntryCount64k.java`. Note that I did not see any calls to `setenv` or `putenv` (something which could cause a seg fault in a multi-threaded setting). Using dapptrace, I noticed the symbol on my system was

[2020-04-15 22:36] pshipton commented on #9046
https://ci.eclipse.org/openj9/view/Test/job/Grinder/796
0.20.0 XL
TestJlmRemoteMemoryAuth_0

[2020-04-15 22:41] pshipton commented on #9251
The problem seems to be a combination of
- the core file produced by the 0.20.0 test JVM has a different memory layout than other (older) Aarch64 JVMs we looked at
- AArch64 doesn't read some of the memory segments properly. It's not caused by any recent change, and occurs with -Xint. The Milestone 2 JVM has the same problem reading the core. The latest JVM can read core files produced by other (o

[2020-04-15 22:50] harryyu1994 commented on #8770
The `j9class` is unloaded. (indicated by the ClassObject: 0xffffffffffffffff)
[code]

[2020-04-16 00:33] Akira1Saitoh commented on #9251
The latest aarch64 VM can read the core file `(openjdk-tests/TKG/test_output_15869240247365/cmdLineTester_callsitedbgddrext_openj9_0/j9core.dmp)` **on my local machine** (Jetson nano).

[code]

But the same VM cannot read the same core file on `cent7-aarch64-1`.

[2020-04-16 00:49] pshipton commented on #9251
@Akira1Saitoh What is the cpu difference between the machines?

[2020-04-16 00:54] Akira1Saitoh commented on #9251
Jetson nano has only 4 cores. `cent7-aarch64-1` has 96 cores.

[2020-04-16 01:00] Akira1Saitoh commented on #9251
Another difference between those machines is that jetson nano has 4GB memory and `cent7-aarch64-1` has 128GB.

[2020-04-16 02:47] AlenBadel commented on #8652
In the whole stack it doesn't look like we ever call `enterClassUnloadMutex`.

It's only ever called during:
`MM_IncrementalGenerationalGC::unloadDeadClassLoaders(MM_EnvironmentVLHGC *env)`
`MM_GlobalCollectorDelegate::masterThreadGarbageCollectStarted(MM_EnvironmentBase *env)`

I suspect then it's missing that mutex.

Added the obtaining and releaseing that mutex before and after classloading to

[2020-04-16 04:07] gacholio opened #9257 "Runtime compressed refs builds"
To build runtime compressed refs today, I delete the `default` directory and symlink it to the `compressedrefs` directory.

For a real mixed build, we need a single VM directory.

There are several things to consider:

- redirector makes the compressed/full decision based on heap size

In the most basic scenario, the redirector will need to add `-Xcompressedrefs` or `-Xnocompressedrefs` to the com

[2020-04-16 04:08] gacholio commented on #9257
@DanHeidinga

[2020-04-16 05:16] pshipton opened #9259 "Linux SyntheticGCWorkload_DoubleMap_J9_0 crash"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_s390x_linux_xl_Nightly/133
SyntheticGCWorkload_DoubleMap_J9_0
[code]

[2020-04-16 05:49] NagarajuGunda commented on #3469
I am facing similar problem of GC prematurely collecting the objects while they are still referenced. Was this ever fixed into 8.x versions?

[2020-04-16 12:42] knn-k commented on #7012
I think this can be closed now.

[2020-04-16 12:45] knn-k commented on #6979
I think this can be closed now.
We still need `--disable-ddr` in cross-build environment, and that is tracked by #8814.

[2020-04-16 13:05] dmitripivkine commented on #8652
This function is called once at the beginning of Global GC. Why do you expect to see it in the current c-stack?!

[2020-04-16 13:13] pshipton commented on #9259
This is crashing on most x,p, z Linux platforms in some form.
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All/872/
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-All-11/138/
https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Build-Test-JDK14/75/

[2020-04-16 13:52] dmitripivkine commented on #8652
The correct check would be: because GC enters monitor in RW mode you can see owning thread is stored in monitor. And this thread should be mutator thread initiated GC (and became GC Master Thread for this GC). This thread owns VM Exclusive access (0x20 in public flags). For example:
[code]

[2020-04-16 14:05] pshipton commented on #8972
The option was added in https://github.com/eclipse/openj9-systemtest/pull/114

[2020-04-16 14:23] amicic commented on #9259
https://github.com/eclipse/openj9/pull/8592 should fix in a way that it will disable double mapping functionality due to lack of underlying OS support on current machines. Hence the test will become useless, up until we get some machines that do support it (see https://github.com/eclipse/openj9/issues/8849).

So. we can disable the test right away, although I'd like to see the failure being fixed

[2020-04-16 14:43] keithc-ca commented on #9195
I suggest that https://github.com/eclipse/openj9/pull/8418 (or rather the OMR equivalent) be done before making cmake the default: as things stand, JDKs will balloon to about twice their current size (a (space-)performance regression in my mind).

[2020-04-16 14:48] dnakamura commented on #9195
yes that is the intention. the extra size also causes startup/footprint regression on some platforms (I think AIX)

[2020-04-16 14:58] lumpfish opened #9260 "JTReg jdk11 AArch64 failure: java/lang/reflect/callerCache/ReflectionCallerCacheTest.java"
Seen on AArch64 jdk11.0.7-ea+10 build:
23:27:27  Run /home/jenkins/workspace/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/openjdkbinary/j2sdk-image/bin/java -version
23:27:27  openjdk version "11.0.7-ea" 2020-04-14
23:27:27  OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7-ea+10)
23:27:27  Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.20.0, JRE 11 Linux aarch64-64-Bit Compressed Reference

[2020-04-16 15:13] mpirvu commented on #9195
@dnakamura What is the magnitude of the regressions on AIX due to cmake? Thanks

[2020-04-16 15:16] lumpfish opened #9261 "TestIBMJlmRemoteClassAuth jdk11 AArch64 failure: javax.crypto.AEADBadTagException: Tag mismatch!"
Seen on AArch64 jdk11.0.7-ea+10 build:
23:27:27 Run /home/jenkins/workspace/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/openjdkbinary/j2sdk-image/bin/java -version
23:27:27 openjdk version "11.0.7-ea" 2020-04-14
23:27:27 OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7-ea+10)
23:27:27 Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.20.0, JRE 11 Linux aarch64-64-Bit Compressed References 20

[2020-04-16 15:28] ChengJin01 commented on #5058
To support the Ubuntu provided cross-compiler (also available on other platforms such as Fedora and Debian),  I modified a couple of scripts to pick up the correct cross-compiler if they are directly installed instead of compiled from the source, which seems working
in terms of configuration & cross-compilation (the generated cross-build was verified on Fedora_raw/QEMU)
[code]

Will create PRs sep

[2020-04-16 15:30] DanHeidinga commented on #9195
Updated the title to clarify that this is a jdk11 statement.  Once cmake is the default for jdk11, we'll roll it out to jdk.next (15?) and jdk8 as well

[2020-04-16 15:53] BeverlyXu commented on #8353
@scikirbypoke Good to hear the workaround has helped! What was the main difference b/w your fluctuated run and the stable run?

@1a2s3d4f1 @MechanosG Please look at the tuning options suggested above and the workaround -Xjit options to see if it solves your problems. If you still have concern, please send the verbose logs and parse the perf.data. We'll be happy to take a look.

[2020-04-16 15:57] DanHeidinga commented on #9180
Issue tracking changes to the Eclipse github sync script: https://github.com/EclipseFdn/eclipsefdn-github-sync/issues/50

[2020-04-16 16:01] cznewbold commented on #8890
tried the -Xshareclasses:none option
it also caused the JVMCFRE166 Duplicate entries error to go away

[2020-04-16 16:54] VermaSh commented on #9009
A minor update:
Had some issues trying to get the test running locally on `ub16-390-1`. Those have been resolved. Now I am running a grinder locally to reproduce the failures

[2020-04-16 16:55] rpshukla commented on #7247
It looks like macOS 10.12 is the first version to have the `__findenv_locked` version of libc (Libc-1158.1.2): https://opensource.apple.com/release/macos-1012.html

10.11.6 has Libc-1082.60.1 which doesn't have source code available but some of the failures above occurred on a 10.11.6 machine so I'm guessing it has the non-locked version of `__findenv`: https://opensource.apple.com/release/os-x-10

[2020-04-16 17:13] lumpfish commented on #9186
Occurred on jdk-11.0.7+10 GA build: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_xl/188/consoleFull

[2020-04-16 17:35] pshipton commented on #8890
Thanks. There are a couple other options you can try if possible to narrow it down. They should be tried separately, and without specifying `-Xshareclasses:none`.
-XX:-ShareAnonymousClasses
-XX:-ShareUnsafeClasses

[2020-04-16 17:35] dmitry-ten commented on #9023
So, disabling JProfiler wasn't enough to make `jdk_util_j9_0` pass. I also had to prevent jit profiling information from being collected, since it's stored in `TR_PersistentProfileInfo` records inside `TR_PersistentMethodInfo` but they are not currently transferred from client to server and vice versa.
However, I'm still getting segfaults, but the current ones come from GC with the following stack

[2020-04-16 17:37] dmitry-ten commented on #9023
Could that be an instance of #9221?

[2020-04-16 17:52] pshipton commented on #8890
btw, the `-Xshareclasses:none` was new information we didn't know at the time I asked to try with Hotspot.

[2020-04-16 18:23] DanHeidinga commented on #8735
@babsingh Can we tell if the handler for SIGABRT is not the default handler?  If we can tell that, we can avoid installing our handler.

Something vaguely like:
[code]

The biggest question would be does that work in the presence of sigchaining?

[2020-04-16 18:31] babsingh opened #9264 "Remove the -Xnosigint option and "ibm.signalhandling.*" system properties"
### -Xnosigint JVM Option

`-Xnosigint` is undocumented. It looks like ... it was added for development/test support in `IBM-J9 JCL`. `IBM-J9 JCL` no longer uses the custom implementation of `sun.misc.Signal`, and relies on the default implementation. So, `-Xnosigint` won't work anymore since the custom implementation of `sun.misc.Signal` was removed. Since it is undocumented, no customer should b

[2020-04-16 18:32] harryyu1994 commented on #8770
Above issue should be fixed by https://github.com/eclipse/openj9/pull/9243

[2020-04-16 18:34] harryyu1994 commented on #9197
Looking into this one.

[2020-04-16 18:45] harryyu1994 commented on #9169
Looking into this one.

[2020-04-16 18:47] harryyu1994 commented on #9169
Grinder 3x launched: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7128/

[2020-04-16 18:52] pshipton commented on #9264
It does seem unlikely the properties are used, but still possible. They are mentioned in https://stackoverflow.com/questions/1050370/java-error-java-lang-illegalargumentexception-signal-already-used-by-vm-int/1079745#1079745

[2020-04-16 19:17] mpirvu opened #9266 "Stream version incompatible with JITServer"
While running sanity with verbose messages enabled I observed this message popping up:
`#JITServer: Stream version incompatible: JITServer expected version 17626562560768 received 35459249995776`

This should not happen because the client JVM and JITServer are from the exact same build. The version which supposedly the server received is completely bogus.
the only theory I have so far is that some

[2020-04-16 19:49] cznewbold commented on #8890
we tried our code with each of the above options, separately.
neither option fixed the error.  the duplicate entries error occurs when those are set

we used those options exactly as shown, with the two Xs

thanks

[2020-04-16 20:45] babsingh commented on #6933
You can easily reproduce the issue through `javac`; instead of the above maven application. I derived the below steps by running the maven application in debug mode (`-X`).

### Easy steps
1. Get https://projectlombok.org/downloads/lombok.jar
2. Create `HelloWorld.java`
[code]
3. Get [OpenJ9 JDK14 from AdoptOpenJDK](https://github.com/AdoptOpenJDK/openjdk14-binaries/releases/download/jdk-14%2B36.1

[2020-04-16 20:55] dnakamura commented on #9195
I don't recall the numbers, but I should clarify. Its not CMake directly where there is a regression. The regression is from having the debug symbols present in the shared libs ( which is what you currently get in cmake without the above mentioned pr).

I was thinking about it this shouldn't block osx or windows, as the toolchain semantics there give you split debug info by default

[2020-04-16 21:30] cathyzhyi opened #9267 "Problem with OSR from inlined synchronized method"
We are having a problem with OSR from inlined synchronized method. The solutions discussed offline have pros and cons so I am documenting it here for discussion and future references.

When a synchronized method exits through unhandled exception, it's required by the specification to release the monitor before exits. The VM unwind logic will handle this for synchronized methods that are not inline

[2020-04-16 22:09] gacholio commented on #9267
Would this be solved by changing all of the explicit -1 checks (or negative checks) into a helper (e.g. `validateBytecodeIndex` would know all of the explicit special cases)?

As far as how the data is encoded, I don't really mind. I'm currently using the stackmap/inlinemap to get the bcindex, so the data must be available from there, or some new API based on the PC.

[2020-04-16 22:27] knn-k commented on #9261
It is very likely this is the same as #9046 and #9047.

[2020-04-16 22:32] gacholio commented on #9267
Also, for the record, my second proposal of "let the VM do it" will require at least as much metadata work, so I'm no longer thinking that's a viable short-term fix.

[2020-04-16 22:55] vijaysun-omr commented on #9267
@cathyzhyi what is the bytecode index used on the monexit added in the catch block ? If the bytecode index was the one corresponding to one of the return bytecodes in that method, would something go wrong ? Maybe this requires us to consider return bytecodes for synchronized methods as potential OSR points in the JIT's OSR analyses but this can be managed by changing the logic in those cases fairl

[2020-04-16 22:58] pshipton commented on #9215
Another crash in DaaLoadTest_daa3_special_3
https://ci.eclipse.org/openj9/view/Test/job/Grinder/803
special.system XL 0.20.0 build
variation: Mode107
JVM_OPTIONS: -Xnocompressedrefs -Xgcpolicy:optthruput -Xdebug -Xrunjdwp:transport=dt_socket,address=8888,server=y,onthrow=no.pkg.foo,launch=echo -Xjit:count=0 -Xnocompressedrefs

[code]

[2020-04-16 23:01] pshipton opened #9268 "aarch64 MathLoadTest_autosimd_special_6 timeout"
https://ci.eclipse.org/openj9/view/Test/job/Grinder/803
special.system aarch64 0.20.0 build
MathLoadTest_autosimd_special_6
variation: Mode113
JVM_OPTIONS: -Xnocompressedrefs -Xgcpolicy:gencon -Xjit:count=0,optlevel=warm,gcOnResolve,rtResolve -Xmn512k -Xnocompressedrefs
[code]

[2020-04-16 23:09] gacholio commented on #9267
@vijaysun-omr - we simply cannot have an exception handler that doesn't exist in bytecodes (which is why we're trying to hide these ones). The bytecode index really doesn't matter.

[2020-04-16 23:23] knn-k commented on #9268
This looks like just a timeout.
I can see this test pass by running it manually on test-packet-armv8-ubuntu-16-04 after 6 minutes.

[2020-04-16 23:29] gacholio commented on #9267
Assuming this isn't days of work, can I suggest that we prototype the proposed solution to see if it fixes the issue? The VM side is done (assuming we go with -2 as the index):

https://github.com/gacholio/openj9/commit/a9638940db5665159ef24564afb9903465f4a8a6

[2020-04-16 23:30] vijaysun-omr commented on #9267
I was responding to the proposal from Yi that "We can assign a special bytecode index to the GC points in the handle...", i.e. why do we need a special bytecode index when we might be able to reuse the bytecode index of the return bytecode (that is not an OSR point otherwise) to "signal" to the VM that special handling is needed.

[2020-04-16 23:33] gacholio commented on #9267
We need a unique value that cannot be a valid bytecode index to tag the artificial handlers. If we used the return bytecode index, the VM would continue to build the stack incorrectly.

[2020-04-16 23:48] gacholio commented on #9267
We get the OSR block from a call to `preOSR`. I suppose that could return something magic to indicate OSR isn't possible (at the moment, the VM assumes that OSR is always possible when requested).

Having said that, you'd have to scan for a return bytecode (it's not necessarily the last bytecode in the method). Feels a bit hacky to me.

[2020-04-17 00:09] pshipton commented on #9268
I'll just close it as something that should be resolved by future JIT work, like dynamic loop transfer and recompilation.

[2020-04-17 00:09] #9268 closed

[2020-04-17 00:09] pshipton commented on #9261
Closing as a dup.

[2020-04-17 00:09] #9261 closed

[2020-04-17 00:13] knn-k commented on #9215
I ran DaaLoadTest_daa3_special_3 20 times on test-packet-armv8-ubuntu-16-04, and saw no failures.

[2020-04-17 00:21] JasonFengJ9 opened #9269 "JDK8 JIT Server : LargeValueExceptions.multiplyDefiniteOverflow() failure"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.openjdk_x86-64_linux_jit_Nightly/50`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https://

[2020-04-17 00:30] Akira1Saitoh commented on #9260
Looks like the same problem with https://github.com/eclipse/openj9/issues/8897
This test expects that a referent of a `WeakReference` is garbage collected, but I believe that the temporary variable holding the referent is introduced when some methods are inlined.
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/1ba14ee631d40b08f851abe8f6e9c8bf86c44f4b/test/jdk/java/lang/reflect/callerCache

[2020-04-17 00:39] pshipton commented on #9269
@mpirvu

[2020-04-17 00:43] #9259 closed

[2020-04-17 00:46] JasonFengJ9 opened #9270 "JDK11 JIT Server : MathLoadTest_bigdecimal_special_18 POSSIBLE HANG DETECTED"
Failure link
------------

From an internal build `Test_openjdk11_j9_special.system_x86-64_linux_jit_Nightly/298`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https:/

[2020-04-17 01:16] pshipton commented on #9270
@mpirvu

[2020-04-17 02:10] fuzzy000 opened #9271 "J9 Verification Issue: did not check uninitialized register?"
Java -version output
------------------
The issue happened in following versions:
[code]
[code]
[code]

Summary of problem
------------------

We made some changes to a class file in the Apache Ant project (ant-launcher/org/apache/tools/ant/launch/Launcher.class), and let several JVMs run it. We found that compared to the corresponding versions of OpenJDKs, J9 may have Verify issues on the test ca

[2020-04-17 02:28] babsingh commented on #8735
#### Can we implement the above behavior?
Yes, the new behavior can be implemented in OpenJ9. `sigaction` is equivalent to `OMRSIG_SIGACTION`, and it can be used to retrieve the current handler. `SIGABRT` should have the default OS handler if the current handler is equal to `SIG_DFL`.

#### Impact of the proposed behavior
**JAH**: "JVM Abort Handler"
**UH**: "User Handler"

| Scenario | Signal Cha

[2020-04-17 03:35] scikirbypoke commented on #8353
The FPS fluctuating seems like a random incident and haven't happened again. I think the problem have been fixed.

[2020-04-17 12:10] pshipton opened #9272 "invoke/MethodHandles/CatchExceptionTest bus error"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux_Nightly/35
java/lang/invoke/MethodHandles/CatchExceptionTest.java.CatchExceptionTest (from java_lang_invoke_MethodHandles_CatchExceptionTest.java)
[code]

[2020-04-17 12:13] pshipton commented on #9272
5x grinder https://ci.eclipse.org/openj9/job/Grinder/808/

[2020-04-17 12:25] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/12
osx1011-x86-1
java/util/Locale/bcp47u/SystemPropertyTests.java.SystemPropertyTests

[2020-04-17 12:26] pshipton commented on #5153
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.functional_x86-64_mac_Nightly/65
osx1011-x86-1
testSCCacheManagement_0

[2020-04-17 13:04] andrewcraik commented on #9267
I agree with @gacholio if the block is a fiction and needs to be recognized as such I don't think it can/should have a valid BCI.

[2020-04-17 13:15] #9037 closed

[2020-04-17 13:34] DanHeidinga commented on #9271
@fuzzy000 Both OpenJ9 and Hotspot correctly identify that the code is invalid to run and throw a VerifyError.  The error messages are different and the order of checks may be different as well (would need to look closer).  There aren't any security implications here as neither JVM runs the invalid bytecode.

@ChengJin01 Can you reproduce this and dump the relevant method using an `-Xdump:system:ev

[2020-04-17 13:43] andrewcraik commented on #9195
It is currently very common for some JIT developers to build the compiler component against a previously built JVM - this is done when you want to fix the base JVM you are using for performance work and then build a new JIT to drop in to that JVM for experimental purposes. This is also the way many JIT developers avoid having to do a full rebuild of the whole JVM (which is slow).

Will the CMake s

[2020-04-17 14:00] 0xdaryl opened #9273 "Deprecate monitorEnterBarrier"
Per the discussion in eclipse/omr#4986, there isn't a requirement for a `monitorEnterBarrier` any longer.

References to `monitorEnterBarrier` should be replaced with `readBarrier`.  This primarily affects the Power platform, so the focus of functional and performance testing should be on Power.

After this is complete, `monitorEnterBarrier` should be removed from OMR.

[2020-04-17 14:44] fjeremic commented on #9267
If we go down the road of using a special bytecode index value to identify this case I'd very much support this idea. I'm concerned about the use of special values as the rest of the codebase knows nothing about this.

[2020-04-17 15:06] PushkarBettadpur commented on #8992
Took a stab at this recently and unfortunately what I'm finding is that once I start adding any tracing options, the failure isn't reproducible anymore. Perhaps `traceFull` might be too heavy in this case?

[2020-04-17 15:13] a7ehuo commented on #9266
I will take a look at this next.

[2020-04-17 15:40] #9035 closed

[2020-04-17 17:08] mpirvu commented on #8505
I managed to reproduce locally this `StringBuffer/StringBuilder growth` failure while running sanity for an unrelated issue. The command is simple:
`/home/mpirvu/FullVMNoProtobuf/openj9-openjdk-jdk8/build/linux-x86_64-normal-server-release/images/j2sdk-image/bin/java -XX:+UseJITServer -Xdump -Xdump:none -Xmx7g -Djava.lang.stringBuffer.growAggressively -cp "/home/mpirvu/FullVMNoProtobuf/Test/jvmtes

[2020-04-17 17:09] mpirvu commented on #8505
This is the DLT compilation:
[code]

[2020-04-17 17:19] fuzzy000 opened #9276 "J9 failed to throw the IllegalMonitorStateException"
Java -version output
--------------------
The issue happened in following versions:
[code]
[code]
[code]

Summary of problem
------------------

We made some changes to a class file in the Apache Ant project (DirectoryScanner.class), and let several JVMs run the corresponding test file (DirectoryScannerTest.class, has been simplified) to test that class.

We found that OpenJDK 8u232, 9.0.4 and 11.

[2020-04-17 17:33] andrewcraik commented on #8353
Thankyou @scikirbypoke for helping us find the problem!

https://github.com/eclipse/openj9/pull/9246 has merged which, once in the build should remove the need for a workaround. Since the other fluctuation seems to have been addressed I am going to close this as fixed. Please reopen if there is anything we have not addressed.

[2020-04-17 17:33] #8353 closed

[2020-04-17 17:39] fuzzy000 commented on #9271
Thanks for your kind attention!!

The reason why I think it is a defect is that in most other cases, these three versions of J9 and corresponding OpenJDK have consistent behaviors.

For example, if you try this case [antVerify1-consistent.zip](https://github.com/eclipse/openj9/files/4494373/antVerify1-consistent.zip) (the reproduce steps is the same), you will find that OpenJDK series report `Regi

[2020-04-17 18:41] harryyu1994 commented on #9270
Launched 10x grinder: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7141/

[2020-04-17 18:42] harryyu1994 commented on #9269
Grinder 10x launched: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7142/

[2020-04-17 18:47] harryyu1994 commented on #9129
Grinder 10x launched: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7143/

[2020-04-17 19:12] dmitripivkine commented on #9198
I believe this was some kind of infrastructural issue. As a result there was no GC verbose log output detected except very first `<initialized>` pragma. And test has failed because can not find any success condition. Any way, if there was a problem with JVM we can not investigate it any way as far as no results stored. And this problem was unrelated with test functionality. Because it never happen

[2020-04-17 19:12] #9198 closed

[2020-04-17 19:42] ChengJin01 commented on #9271
@DanHeidinga , The problem can be reproduced locally but jdmpview/DDR has got problem in decoding the specified class.
[code]
So I directly decode the class file with javap as follows:
[Launcher_class.txt](https://github.com/eclipse/openj9/files/4494853/Launcher_class.txt)
[Launcher_getJarArray_bytecode.TXT](https://github.com/eclipse/openj9/files/4494854/Launcher_getJarArray_bytecode.TXT)
[code]

[2020-04-17 19:45] ChengJin01 commented on #9271
@fuzzy000,  this is the way how we deal with any mismatch with the expected type (via an unified message template), not specific to a particular verification error.

[2020-04-17 19:47] harryyu1994 commented on #8623
Current code looks like this: (Don't think it's used at JITServer). We can close this one I think.

[code]

[2020-04-17 20:06] mpirvu commented on #8623
Indeed, currently there are no usages of `J9VM_J9CLASS_TO_HEAPCLASS`.
The danger is that other use point may appear in the future.

[2020-04-17 20:06] #8623 closed

[2020-04-17 20:12] pshipton commented on #9271
@keithc-ca fyi the `InvalidDataTypeException: UDATA contains value larger than Integer.MAX_VALUE` which needs to be fixed in the DDR code.

[2020-04-17 21:21] dmitry-ten commented on #9169
Oh, I should've mentioned that I'm also working on this issue in #9023, sorry.
Some of the segfaults in this test are caused by JitProfiler enabled in remote compilations,
and some seem to be GC related.

[2020-04-17 21:26] dmitry-ten commented on #9169
Although I'm testing with JDK8, not 11, but it's probably the same crash.

[2020-04-18 01:13] harryyu1994 commented on #9169
No worries, thanks for letting me know

[2020-04-18 02:23] fuzzy000 commented on #9271
Thanks for confirming that Hotspot's output is more useful in troubleshooting such verifier-related issues, I hope J9 can be refined in the future soon.

[2020-04-18 03:10] ChengJin01 commented on #9271
@fuzzy000, sorry for any confusion.  What I mean is our message is more straightforward to identify the failing location at the bytecode as compared to Hotspot's simple output.

[2020-04-18 09:43] 1a2s3d4f1 commented on #8353
openj9 0.20 have Performance problem if not use `disableGuardedStaticFinalFieldFolding` option

[2020-04-18 14:15] andrew-m-leonard opened #9278 "jdk15: build error: JavaNioAccess.BufferPool symbol not found"
https://hyc-runtimes-jenkins.swg-devops.com/job/Build_JDKnext_x86-64_linux_Personal/408/console
[code]

BufferPool has been removed as part of https://bugs.openjdk.java.net/browse/JDK-8238665

[2020-04-18 17:11] pshipton opened #9279 "All AIX machines offline"
We lost all the AIX machines on Friday night.

[2020-04-18 17:11] pshipton commented on #9279
@AdamBrousseau @jdekonin

[2020-04-18 17:44] AdamBrousseau commented on #9279
Seems vpn wasn't connected on the proxy. Crontab had a syntax error which wasn't the cause since the cron only runs on reboot and the machine has been up for 51 days. Machines are back online now.

[2020-04-19 03:23] bharathappali opened #9280 "Container awareness in windows based containers"
OpenJ9 has container awareness when running in Linux based containers, Currently it queries Cgroups file system to get the container limits to set the heap size etc.

As usage of windows based containers is increasing recently and [OpenJ9 windows based images](https://hub.docker.com/layers/adoptopenjdk/library/adoptopenjdk/openj9-windowsservercore-ltsc2016/images/sha256-3f4a8f2813427c2aee0b38fbafa

[2020-04-19 03:45] bharathappali commented on #4707
@ashu-mehra I feel `-XX:+UseContainerSupport` would cover a generic use case of running in containers, Currently its jus Linux but in future OpenJ9 might support container awareness in windows based containers (which are not Cgroup based) etc (namely OpenVZ containers, kata containers etc) So `-XX:+UseContainerSupport` would be helpful to keep it common for all platforms.

Please correct me if I'm

[2020-04-20 00:29] JasonFengJ9 opened #9284 "JDK15 cmake : DDR is not enabled for this core file"
Failure link
------------

From an internal build `Test_openjdknext_j9_extended.functional_x86-64_linux_cm_Nightly/4`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:
http

[2020-04-20 00:40] JasonFengJ9 opened #9285 "JDK8 JIT Server : cmdLineTester_jvmtitests_8 emeng001 NPE"
Failure link
------------

From an internal build `Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Nightly/53`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https

[2020-04-20 00:44] JasonFengJ9 commented on #9024
`** ASSERTION FAILED ** at jswalk.c:532: ((0 ))` occurred In another `JDK8` internal build `Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Nightly/53/`:
[code]

[2020-04-20 00:56] JasonFengJ9 opened #9286 "OpenJDK8 JIT Server : DaaLoadTest_all_special_14_FAILED Segmentation error vmState=0x0002000f"
Failure link
------------

From an internal build `Test_openjdk8_j9_special.system_x86-64_linux_jit_Nightly/314`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https:/

[2020-04-20 01:03] JasonFengJ9 opened #9287 "JDK15 valhalla compilation failure : ValueTypeHelpers.hpp:86:41: error: '_currentThread' was not declared in this scope"
Failure link
------------

From an internal build `Build_JDKnext_x86-64_linux_valhalla_Nightly/20`:

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

fyi @tajila

[2020-04-20 01:12] JasonFengJ9 commented on #9080
Another occurrence at an internal build `Test_openjdkNext_j9_sanity.functional_x86-64_windows_Nightly/174/` (`win16x64cudart1` ).

This is an intermittent failure.

[2020-04-20 03:09] fanthos commented on #9147
Sorry, its third party code. I will close this issue for now.

[2020-04-20 03:09] #9147 closed

[2020-04-20 04:38] knn-k opened #9290 "Check for static libstdc++ availability"
The file https://github.com/eclipse/openj9/blob/master/runtime/compiler/build/toolcfg/gnu/common.mk checks the availability of static libstdc++ as the following:
[code]

It does not always work as expected.  I see the following output in an environment without static libstdc++:
[code]

[2020-04-20 04:40] knn-k commented on #9290
Related PR: #8658

[2020-04-20 09:32] M-Davies commented on #9186
Occurred on a nightly build https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_xl/191/

Exclude PR https://github.com/AdoptOpenJDK/openjdk-tests/pull/1740

[2020-04-20 13:15] dmitripivkine commented on #9286
I will take a closer look to failure details

[2020-04-20 13:15] #9279 closed

[2020-04-20 13:41] JasonFengJ9 commented on #8450
**Computing NPE message 2nd part** section has been updated. (sorry for the stack digram format which looks off after browser rendering)

fyi @DanHeidinga @gacholio

[2020-04-20 13:53] pshipton commented on #9285
@mpirvu

[2020-04-20 13:54] pshipton commented on #9287
@tajila

[2020-04-20 14:34] tajila commented on #9287
taking a look

[2020-04-20 14:36] tajila commented on #9287
The internal tests show that the valuetype build was compiling successfully up until April 16. However, it doesnt look like this file has been changed recently so this is very confusing.

[2020-04-20 15:07] dmitripivkine commented on #9286
there is a c-stack (there is `markClassesInInlineRanges()` in it):
[code]
The crash occur in Stack Validator and related to bogus data in the java stack obviously.
Please let me know if you need help with this item.

I guess there is another manifestation of known problem with class handling in JIT Server
@a7ehuo @mpirvu

[2020-04-20 15:22] dmitripivkine commented on #9286
I noticed that location of reported bogus o-slot address is actually it this thread c-stack:
[code]
I just curious is it an intentional behaviour (Stack Frame Iterator returns "fake" o-slot in c-stack) or it is a result of malfunction?

[2020-04-20 15:23] cathyzhyi commented on #8838
@zelix0 Hey, the backtrace of the javacore files are off because openjdk doesn't package the pdf file for windows sdks. Also, it seems there are multiple problems here, NPE and crashes in the compilation. Is it possible that I can run the test locally on my end? Thanks!

[2020-04-20 15:52] harryyu1994 commented on #8547
I can take on this on the side. Priority is still fixing defects.

[2020-04-20 16:26] gacholio commented on #8450
You definitely need a bytecode walk to do this, but I'm not the sure the verifier keeps the information you need at the moment (it doesn't care where something came from, it just tracks the shape of the stack).

[2020-04-20 17:15] JasonFengJ9 commented on #8450
That's correct, the content of verifier stack doesn't have the actual bytecode, I am proposing another bytecode stack to track the bytecode offset within the ROM method while `verifyBytecodes()` is building the verifier stack, i.e., saving current bytecode offset in the bytecode stack at same time of updating verifier stack. This can reuse `verifyBytecodes()` structure and algorithm.

[2020-04-20 17:20] ymanton opened #9291 "Compiler crashes while trying to get the defining class of a field ref"
The following crash was seen during PR testing:

[code]

See https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64_aix_Personal/516/console.

[2020-04-20 17:22] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_x86-64_linux_OMR/501
[code]

[2020-04-20 17:25] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/338
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-04-20 17:27] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/13
osx1011-x86-2
tools/pack200/AttributeTests.java

[2020-04-20 17:40] a7ehuo commented on #9024
Also happened with `cmdLineTester_jvmtitests_debug_openj9_none_SCC_7 ` in build `Test_openjdk8_j9_sanity.functional_x86-64_linux_jit_Personal/183`

[code]

[2020-04-20 17:41] pshipton opened #9293 "jdk15 build crash in JVM_DefineModule"
https://ci.eclipse.org/openj9/job/Build_JDKnext_s390x_linux_OpenJDK/207
PR build for https://github.com/eclipse/openj9/pull/9292
[code]

[2020-04-20 17:49] pshipton commented on #9293
JDK changes from last working build
https://github.com/ibmruntimes/openj9-openjdk-jdk/compare/c19a2a3...5e54c6f

[2020-04-20 17:53] keithc-ca commented on #9195
The build [instructions](https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V11.md) need to be updated to specify that cmake is needed and explain how to get it.

[2020-04-20 18:06] ashu-mehra commented on #9280
@bharathappali is there a mechanism in Windows to detect if the process is running in container or not?

[2020-04-20 18:30] ChengJin01 commented on #9271
Already talked to @DanHeidinga,  we won't move forward with this given that the verifier works good in identifying these kind of issues & generating the correct error message specific to the wrong bytecode at right place in these methods.

[2020-04-20 18:48] harryyu1994 commented on #8547
We have a corresponding `TR_J9ServerVM` override for JITServer.
[code]

I think this one can be closed.

[2020-04-20 19:05] bharathappali commented on #9280
@ashu-mehra  windows has a service called `cexecsvc` which is only available if we are running inside a container and on the host this service is not available.

Source: https://renenyffenegger.ch/notes/development/tools/Docker/Windows/cexecsvc

[2020-04-20 19:37] jdekonin commented on #8979
Remove returned machines from configuration.
https://github.com/eclipse-cbi/jiro/pull/98

[2020-04-20 20:15] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/12
osx1011-x86-2
java/lang/ClassLoader/Assert.java

[2020-04-20 20:15] DanHeidinga opened #9294 "`InvalidDataTypeException: UDATA contains value larger than Integer.MAX_VALUE` DDR issue decoding lookswitch"
@keithc-ca fyi the `InvalidDataTypeException: UDATA contains value larger than Integer.MAX_VALUE` which needs to be fixed in the DDR code.

_Originally posted by @pshipton in https://github.com/eclipse/openj9/issues/9271#issuecomment-615443047_

[2020-04-20 20:17] DanHeidinga commented on #9294
@keithc-ca assigned to you as Peter tagged you for it.  Otherwise, @mikezhang1234567890 might be able to take a look at it

[2020-04-20 20:20] DanHeidinga commented on #9271
Based on @ChengJin01's analysis, I agree.  The OpenJ9 verifier is correctly detecting the issue and throwing the required VerifyError.

I'm going to close this issue now but @fuzzy000  if you (or anyone else) is interested in opening PRs to make OpenJ9's verifier messages clearer, we'd be open to helping and merging them.

[2020-04-20 20:20] #9271 closed

[2020-04-20 21:03] keithc-ca commented on #9294
The problem appears to be that [ByteCodeDumper](https://github.com/eclipse/openj9/blob/master/debugtools/DDR_VM/src/com/ibm/j9ddr/vm29/tools/ddrinteractive/commands/ByteCodeDumper.java#L369) is treating values and offsets as unsigned contrary to the VM spec. Things go wrong when a case target instruction precedes the `tableswitch` instruction.

[2020-04-20 21:52] tajila commented on #9287
So there are two problems, one is a real compilation failure (which confusing because the tests were passing) and the other is related to the changes in https://github.com/eclipse/openj9/pull/8936. I've fixed the compilation failure, but still seeing the name mangling issues.

[2020-04-20 22:19] zelix0 commented on #8838
I e-mailed a download link to a test case to your Gmail address about 4 weeks ago.  I am not sure whether it allowed you to reproduce the problem.  Just in case I have pasted a link to the same test case below.

https://www.zelix.com/temp/5s5s3xaspe1r/ZKM14.0.0debug0.zip

If you extract ZKM14.0.0debug0.zip you will get ReadMe.txt, ZKM.jar, script0.txt and miscellaneous other files to do with licen

[2020-04-20 22:46] a7ehuo commented on #9266
Reproduced once. The incompatible version is detected when the server received the message type `7 (clientSessionTerminate)`. The client sends `clientSessionTerminate` when it stops the compilation threads.  Regardless, the full version in the message MetaData should either be 0 or the correct one. I'll add some check at the client and see how it goes. One defensive code could be added is to add `

[2020-04-21 00:09] mpirvu commented on #9266
Or, instead of clearing the version we could actually write the correct version with `_cMsg.setFullVersion(getJITServerVersion(), CONFIGURATION_FLAGS);` like we do for `buildCompileRequest(T... args)`
I agree that the version should have already been there because nobody overwrites it.
Another mistake that I see is that we don't write the number of datapoints which is 0 in this case (metadata is n

[2020-04-21 02:57] fuzzy000 commented on #9271
Thank you all!
BTW, I opened another issue which may be a possible defect of J9. May you also check this issue [J9 failed to throw the IllegalMonitorStateException](https://github.com/eclipse/openj9/issues/9276)? @DanHeidinga

[2020-04-21 04:14] pshipton opened #9297 "jdk15 requires jdk14 as boot jdk"
jdk(15) was updated to require jdk14 as the boot jdk (openj9-staging branch). It needs to be installed on the machines and the configuration updated to use it. Hopefully it doesn't break the openj9 branch. There are some other problems blocking the staging branch from promoting.

https://ci.eclipse.org/openj9/job/Build_JDKnext_s390x_linux_OpenJDK/219
`--with-boot-jdk=/usr/lib/jvm/adoptojdk-java-13

[2020-04-21 04:14] pshipton commented on #9297
@jdekonin @AdamBrousseau

[2020-04-21 12:21] jdekonin commented on #8979
This work is completed with the PR merge.

[2020-04-21 12:21] #8979 closed

[2020-04-21 12:32] #9181 closed

[2020-04-21 13:17] DanHeidinga commented on #9271
Thanks @fuzzy000.  I'll try and get that looked at this week

[2020-04-21 14:11] pshipton commented on #5450
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_windows_Nightly/342

[2020-04-21 14:12] sophia-guo opened #9300 "jdk14 build manual need to update with correct develop kit directory"
In the [Building OpenJDK Version 14 with OpenJ9](https://www.eclipse.org/openj9/oj9_build.html#version-14 ) the produced develop kit directory is mentioned as `build/<platform>/images/jdk` where `<platform>` refers to `linux-x86_64-normal-server-release`.

@AdamBrousseau mentioned for newer version `<platform>` should be`linux-x86_64-server-release`.

[2020-04-21 14:13] jdekonin commented on #8849
390 - upgrade and rename on jenkins; ub16-390-3 and ub16-390-4
x86 - upgrade and rename on jenkins/image; ub16x64j99 and ub16x64j910

PPCLE - Compiles are still on UB16 so until these move to CENT7 (#7191 which is currently blocked) upgrading any ub16 systems will take away from the number available to do build.  Are you good with removing 2 of the 9 systems for build @pshipton or should we wait f

[2020-04-21 14:31] gacholio commented on #8450
You are planning to call the verifier again to get this information, rather than caching it on the class, I assume?

[2020-04-21 14:32] gacholio commented on #9267
Any update on the JIT side of this?

[2020-04-21 14:37] gacholio commented on #9287
I think the problem here is that header needs to be split. @sharon-wang

[2020-04-21 14:45] #9183 closed

[2020-04-21 14:48] a7ehuo commented on #9266
Gathered more information at the client side. I don't see `MetaData` constructor is triggered.  The members of `MetaData` are not initialled properly[1]. But as long as compilation request message is built and sent by the current stream,  `_version` and `_config` are set to the proper values. However, when sending `MessageType::clientSessionTerminate` message, a new `ClientStream` is created which

[2020-04-21 15:06] gacholio commented on #9276
From what I can see, the wait is valid - the current thread owns the monitor at the time wait() is called. The monitor is entered at bytecode 7.

The exception could occur if the value of the `slowScanLock` field changes (it's refetched at bytecode 113 due to what appears to be aggressive local re-use).
[code]

[2020-04-21 15:10] JasonFengJ9 commented on #8450
Yeah, I am planning to invoke `verifyBytecodes()` recursively to find the bytecode info backward considering the code is in the exception throwing path and the feature is off by default.
The number of recursive call is not expected high except some complex use cases which is not normal usage.

The verification stack caching will need keep all possible branch path, and also require development of a

[2020-04-21 15:21] sharon-wang commented on #9287
I'll split and test

[2020-04-21 16:04] fuzzy000 commented on #9276
In the bytecode instructions you provided above, The `monitorenter` is called at line 27, `monitorexit` is called at line 59 and the `wait()` is called at line 126. Should we think that the current thread did not own the monitor when `wait()` is called?

[2020-04-21 16:05] fuzzy000 commented on #9276
In the bytecode instructions you provided above, The `monitorenter` is called at line 27, `monitorexit` is called at line 59 and the `wait()` is called at line 126. Should we think that the current thread did not own the monitor when `wait()` is called?

[2020-04-21 16:18] gacholio commented on #9276
The exit at 59 is for a path that returns - it does not reach the wait.

[2020-04-21 16:27] #9294 closed

[2020-04-21 16:28] pshipton commented on #9294
@ChengJin01 I've merged the fix just now, if you want to verify the problem no longer occurs once a JVM with the fix is available.

[2020-04-21 16:30] gacholio commented on #9276
@DanHeidinga Does this look like it might be a structured locking violation?

[2020-04-21 16:40] ChengJin01 commented on #9294
@pshipton ,  I'll check this later to see how it goes once it is ready for downloading in nightly builds.

[2020-04-21 17:36] dnakamura commented on #9195
@keithc-ca  - #9304
@andrewcraik  - There are a couple ways depends on on the exact situation. From an existing build tree, all the dependencies are tracked well enough that a plain incremental `make` should suffice. Starting from a clean state it is possible to build the vm outside of openjdk extensions, and since the jit has minimal dependencies, running `make j9jit` aught to do what you want. Y

[2020-04-21 17:53] cathyzhyi commented on #9267
@gacholio We've had some offline discussion and there is another idea that we can probably encode the information in OSRMetadata. However, currently, VM side doesn't deal with OSRMetadata at all right?

I am still working on encoding the `special bytecode index value` into instruction metadata so that we can get a version working at least.

[2020-04-21 18:01] gacholio commented on #9267
No I never deal with the metadata. If an API is provided in MethodMetadata, I'm sure I could easily use it.

[2020-04-21 18:04] DanHeidinga commented on #9276
From the spec:

-- http://cr.openjdk.java.net/~iris/se/11/latestSpec/java-se-11-jvms-draft-diffs.pdf

So this doesn't look like a structured locking violation to me unless this code is returning a different object:
[code]

[2020-04-21 18:05] gacholio commented on #9276
I'm wondering if the locking can't be performed because the VM can't prove that it's structured due to the overwrite of the local.

I don't believe we have a problem here.

[2020-04-21 18:08] DanHeidinga commented on #9276
I don't see an issue in what we're doing either.

Do we know where Hotspot throws their exception from?  The only other way Structured Locking could affect this is if there was another exception being thrown past this method - structured locking would replace that exception with the IMSE.

[2020-04-21 18:34] gacholio commented on #9276
[code]

[2020-04-21 18:42] gacholio commented on #9276
So the ranges covering line 1100 are 57-66, 925-956 and 1053-1088.

57-766 has a monitor exit.
925-956 is an exception handler with no monitor ops
1053-1088 is an exception handler with a monitor exit

It's also worth noting that the 1053 handler wraps itself.
[code]

[2020-04-21 19:02] pshipton opened #9306 "Update Windows to openssl 1.1.1g"
There is a new openssl version available, 1.1.1g. The binary for Windows needs to be created and deployed.

[2020-04-21 19:02] pshipton commented on #9306
@jdekonin

[2020-04-21 19:37] pshipton opened #9309 "Failure to destroy cache on ub16-390-1"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_s390x_linux_xl_OMR/127
cmdLineTester_SCHelperCompatibilityTests_unix_0
ub16-390-1
[code]

https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.functional_s390x_linux_xl_OMR/128
[code]

[2020-04-21 19:41] pshipton commented on #9309
I'm guessing this is related to @VermaSh using the machine.

[2020-04-21 20:00] #9309 closed

[2020-04-21 20:45] pshipton commented on #9300
Created https://github.com/eclipse/openj9-website/issues/246 to fix the website and https://github.com/eclipse/openj9/pull/9311 to fix the OpenJ9 docs.

[2020-04-21 20:49] pshipton opened #9312 "Problem with aix71-p8-6 setup?"
I've seen this a couple of times. I'll disable aix71-p8-6 for now.
https://ci.eclipse.org/openj9/job/Build_JDK11_ppc64_aix_OMR/575
[code]

[2020-04-21 20:50] pshipton commented on #9312
@jdekonin @AdamBrousseau

[2020-04-21 21:12] AdamBrousseau commented on #9312
That one was disabled last night when I was bringing them back online but I had assumed it was the old `#6`. That being said, I don't really know why it's giving that error but I don't think it's related to our setup. At least not known. I would guess the slave java is the same version as the other aix machines?

[2020-04-21 21:49] ChengJin01 commented on #5058
`java -version` still crashed on the hardware after resetting up the cross-compilation environment. Will  get started to investigate what happened to the code there.

[2020-04-21 23:15] JasonFengJ9 commented on #8948
A similar failure at another internal build `Test_openjdk8_j9_extended.functional_x86-64_mac_xl_Nightly/57`:
[code]

[2020-04-22 01:22] knn-k commented on #9178
#9288 resolved this partially.
Spec files for cross-build environment does not enable omrsigSupport yet.

[2020-04-22 04:20] DanHeidinga commented on #9276
@gacholio have you grabbed a core while J9 is "hung" in the Object.wait() call?  It might be interesting to see what we have locked in that case.

Based on the bytecodes above, I don't see anything that would trigger structured locking or where we'd be doing the wrong thing.

[2020-04-22 04:47] DanHeidinga commented on #6933
@fengxue-IS are you able to modify the Lombok jar?  It may be sufficient to recompile `lombok.launch.AnnotationProcessor.java` with the lombak jar on the javac classpath.

If you can, try modifying this method to make it a no-op and confirm the issue still occurs:
https://github.com/rzwitserloot/lombok/blob/20cce2049de56d5a71c6dcc376d6f4088d4552bc/src/launch/lombok/launch/AnnotationProcessor.java#

[2020-04-22 05:03] DanHeidinga opened #9314 "Investigate Structured Locking"
From the spec:

-- http://cr.openjdk.java.net/~iris/se/11/latestSpec/java-se-11-jvms-draft-diffs.pdf

So this doesn't look like a structured locking violation to me unless this code is returning a different object:
[code]

_Originally posted by @DanHeidinga in https://github.com/eclipse/openj9/issues/9276#issuecomment-617323639_

[2020-04-22 05:06] #9266 closed

[2020-04-22 06:19] fuzzy000 commented on #9276
1. In my opinion, the reason why OpenJDK throws an IllegalMonitorStateException is that current thread entered `slowScan()` and execute `entermonitor` but it finally just `return` without executing `exitmonitor`.
You can check this from the output log of OpenJDK [4690-openjdk8-simplified.log](https://github.com/eclipse/openj9/files/4514051/4690-openjdk8-simplified.log). The last printed statement

[2020-04-22 06:25] Talk2Harish commented on #2071
use openjdk-orb in maven dependency
<dependency>
	<groupId>org.jboss.openjdk-orb</groupId>
	<artifactId>openjdk-orb</artifactId>
	<version>8.1.1.Final</version>
</dependency>

[2020-04-22 09:24] knn-k commented on #9017
Similar issue, but different? #9024

[2020-04-22 12:50] jdekonin commented on #9312
Yes, they were all built with an identical set of packages.

I rebooted the machine.  It could be related to me resetting the date/time a few days ago.  I believe I disconnected them all from jenkins at the time but maybe some didn't disconnect/reconnect cleanly??

[2020-04-22 13:39] #9300 closed

[2020-04-22 14:00] mstoodle opened #9316 "Proposal: "interim" monthly releases between quarterlies"
I'd like to float an idea a few of us have been bandying about, to see what the community thinks of it. I'll mention this issue at today's Community call, and I'll bring the feedback collected here to next week's meeting. It would be nice to reach a consensus after the week, but let's see where we are at that point.

# More frequent releases

OpenJ9 currently produces six releases a year - two cor

[2020-04-22 14:26] M-Davies commented on #9042
Inf issue is closed and test is passing now. Thanks @Haroon-Khel

[2020-04-22 14:26] #9042 closed

[2020-04-22 14:35] pshipton commented on #9312
A ginder on the machine seems to be working fine.

[2020-04-22 14:35] #9312 closed

[2020-04-22 14:46] gacholio commented on #9276
You are correct - structured locking is allowed by the specification, but not required.

[2020-04-22 15:02] sxa opened #9318 "OpenJDK macos and AIX quarterly builds have too much content"
Raised by a user in the slack channel shared with AdoptOpenJDK and OpenJ9 ... Adopt issue is at https://github.com/AdoptOpenJDK/openjdk-build/issues/1699

The downloads of JDK11 and JDK8 (probably 14 too) on macos and AIX seem to be very large relative to the previous quarterly releases.

From @pshipton in the slack channel: `From a quick look I think we're talking about MacOS, which now has a num

[2020-04-22 15:05] 0xdaryl opened #9319 "compressed references heap limit difference"
Why is it that if I take a compressed references build (for example [1]) the maximum heap it will allow me to specify is `-Xmx57g`?  But, if I explicitly add the `-Xcompressedrefs` command-line option I can push that to `-Xmx63g`?  I thought `-Xcompressedrefs` is the default so I would expect no difference in behaviour.

[code]

It is like the first case looks for the non-compressed refs VM at a l

[2020-04-22 15:35] pshipton commented on #9079
Fixes are merged.
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/292
https://github.com/ibmruntimes/openj9-openjdk-jdk14/pull/41
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/191

[2020-04-22 15:35] #9079 closed

[2020-04-22 15:39] andrewcraik commented on #9195
@dnakamura thanks for the info - if you could try to document the steps we might need to take to try and make a JIT out of tree build against an already built OpenJDK with openj9 that would be great - I (and likely a few others) can try it out to see how it works since that kind of build is the default way of doing performance work right now. If that procedure doesn't end up working then happy to

[2020-04-22 15:53] DanHeidinga commented on #9195
@andrewcraik I'd be interested in your experience trying `cmake` with the incremental `make` as well.  You may find that the better dependency tracking means the rebuild of the JDK isn't a limiting factor

[2020-04-22 15:58] fengxue-IS commented on #6933
I traced the source of this issue to https://github.com/rzwitserloot/lombok/blob/master/src/utils/lombok/permit/Permit.java#L68

Where call to `setAccessible()` run the code:
`UNSAFE.putBoolean(accessor, ACCESSIBLE_OVERRIDE_FIELD_OFFSET, true);`

The problem with this is that the `ACCESSIBLE_OVERRIDE_FIELD_OFFSET` is suppose to represent the field offset of `override` variable, which is not access

[2020-04-22 16:14] dmitripivkine commented on #9319
This rudiment comes from redirector support for combined compressed/full build. The value of 57g is a threshold when full 64-bit JVM has been automatically selected. However if `-Xcompressedrefs` is selected explicitly Compressed Refs JVM would be running regardless and heap size is limited by virtual memory provided by OS (with potential risk to get native OOM run time).
As far as we are close to

[2020-04-22 16:27] mpirvu commented on #8505
To stimulate a DLT compilation one could use this env var
` static char *envTrigger = feGetEnv("TR_DLTcount");`
and set it to 1.
DLT opt level can be controlled with these options:
[code]

[2020-04-22 18:06] jdekonin commented on #8849
ub16x64j99 and ub16x64j910 soon to be ub18-x86-1 and ub18-x86-2 are disabled in jenkins.
ub16-390-3 and ub16-390-4 soon to be ub18-390-1 and ub18-390-2 are disabled in jenkins.
ub16p8j95 and ub16p8j96 soon to be ub18-ppcle-1 and ub18-ppcle-2 are disabled in jenkins.

[2020-04-22 18:33] fuzzy000 opened #9323 "J9 failed to detect that the class is not defined during the loading stage?"
Java -version output
------------------
The issue happened in following versions:
[code]
[code]
[code]

Summary of problem
------------------

We made some changes to a class file in the Apache Ant project (org/apache/tools/ant/Project.class), and let several JVMs run the corresponding test file (ProjectTest.class) to test that class. OpenJDK series report NoClassDefFoundError while J9 series repo

[2020-04-22 18:38] DanHeidinga commented on #6933
@fengxue-IS if you update the Fake class to be:
[code]
does the problem go away?  I suspect it will as it appears to be caused by the difference in how JDKs lay out fields.

If that resolves the issue, then we should get a PR opened at Lombok with this fix.  There was a recent article indicating Hotspot is changing their field layout algorithms as well so having the object field may be safer even

[2020-04-22 18:44] DanHeidinga commented on #9323
I've assigned this to the 0.21.0 milestone which tracks issues for our next release.  It may take a few days before someone can dig further into this.

[2020-04-22 19:21] jdekonin commented on #9297
- [x] cent7-ppcle-1 -> cent7-ppcle-6 - depends on #8819
- [x] aix71-p8-1 -> aix71-p8-10
- [ ] cent6-x64-1 -> cent6-x64-7
- [ ] cent7-aarch64-1 ??
- [ ] osx1013-x86-3, osx1013-x86-4
- [ ] rh7-390-1 -> rh7-390-4
- [ ] win2012r2-x86-1 -> win2012r2-x86-1

[2020-04-22 19:34] DanHeidinga commented on #9314
Issues where structured locking has come up:
* https://github.com/eclipse/openj9/issues/9276
* https://github.com/eclipse/openj9/issues/9267 - would simplify the approach

[2020-04-22 19:48] dmitripivkine commented on #8619
@trex58 As far as we don't have any data to work with would you please close this item? Or provide more information/instructions if this problem still occur.

[2020-04-22 19:58] #9287 closed

[2020-04-22 20:06] #9273 closed

[2020-04-22 20:53] pshipton opened #9328 "JEP 371 Hidden Classes"
https://openjdk.java.net/jeps/371

This is delivered to OpenJDK now, affecting OpenJ9 builds of jdk15.

[2020-04-22 20:56] fengxue-IS commented on #6933
@DanHeidinga I've recompiled lombok.jar with the changes you suggested and the javac test passed successfully with updated jar. I will open a PR against the lombok project with this fix.

[2020-04-22 20:56] pshipton commented on #9328
@DanHeidinga fyi.
I'm attempting to stub enough to build in https://github.com/eclipse/openj9/pull/9292

[2020-04-22 21:13] rajdeepsingh1 commented on #8849
**X86**
`ub16x64j99` and `ub16x64j910 ` have been updated from UB16 to UB18
- hostnames are now `ub18-x86-1` and `ub18-x86-2`
- updated hostnames on aliases, hosts, and kvm virsh definitions

**PPCLE**
`ub16p8j95` and `ub16p8j96` have been updated from UB16 to UB18
- hostnames are now `ub18-ppcle-1` and `ub18-ppcle-2`
- updated hostnames on aliases, hosts, and kvm virsh definitions

**390**
- upda

[2020-04-22 21:37] a7ehuo commented on #8505
I reproduced the issue with the compilation logs and`-Xjit:count=0,optLevel=cold,limit=\{TestStringBufferAndBuilderGrowth.*\}`. It's not reproducible with `optLevel=noOpt`. One difference in the compilation logs I found is non-jitserver has more `allocationFence`. So far I don't see how `TR::Node::createAllocationFence` is handled differently in JITServer.

I'm still trying to reproduce the issue

[2020-04-22 22:47] mpirvu commented on #8505
When using -Xjit:count=0, DLT will not happen because the methods never run interpreted.
This means that the problem is not related to DLT, at least not on Power.

[2020-04-22 22:48] fengxue-IS commented on #6933
Created PR against Lombok https://github.com/rzwitserloot/lombok/pull/2437

[2020-04-22 22:56] #9297 closed

[2020-04-22 23:45] JasonFengJ9 opened #9331 "JDK15 s390x jdk_math_j9_0_FAILED : Failure in BigIntegerTest & PrimeTest"
Failure link
------------

From an internal test `Test_openjdknext_j9_sanity.openjdk_s390x_linux_xl_Nightly/54`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://h

[2020-04-22 23:56] JasonFengJ9 commented on #9270
Another _POSSIBLE HANG DETECTED_ occurrence at JDK8 JIT Server `Test_openjdk8_j9_special.system_x86-64_linux_jit_Nightly/334`.

[2020-04-23 00:34] pshipton commented on #9328
@DanHeidinga stubbing isn't sufficient, hidden classes are used at runtime.
[code]

[2020-04-23 01:22] pshipton commented on #9331
This isn't a new failure, nor is it specific to the xl build.

[2020-04-23 01:37] JasonFengJ9 commented on #9331
`PrimeTest` failure seems new. `s390x` can be removed if it occurs in another platform.

There was an issue about `BigIntegerTest` failure https://github.com/eclipse/openj9/issues/6468 which was a while ago and it was `JDK11`.

[2020-04-23 01:47] #5917 closed

[2020-04-23 02:05] knn-k commented on #9215
It is difficult to say for sure, but PR #9282 should have resolved the crash with DaaLoadTest_daa3_special_3.  It was a crash in `_virtualUnresolvedHelper` in PicBuilder.spp, related to rewriting the `J9TR_UVCSnippet_method` field in the snippet.

[2020-04-23 02:09] 0xdaryl opened #9333 "Common guarded devirtualization setup across codegens"
There is logic in the private linkage virtual dispatch path of the X, P, and Z code generators to detect when devirtualization is possible and to generate the appropriate virtual guards.  They look to be largely identical except for implementation differences.  The bulk of this logic should be commoned across the backends so they can share a single implementation.

AArch64 and ARM do not yet have

[2020-04-23 02:11] 0xdaryl opened #9334 "AArch64: Implement guarded devirtualization"
The private linkage virtual dispatch path requires support for guarded devirtualization.  Calling a common function as proposed in #9333 would be ideal.

[2020-04-23 02:12] 0xdaryl opened #9335 "AArch32: Implement guarded devirtualization"
The private linkage virtual dispatch path requires support for guarded devirtualization. Calling a common function as proposed in #9333 would be ideal.

[2020-04-23 02:13] 0xdaryl commented on #5455
Guarded devirtualization: AArch64 (#9334), AArch32 (#9335), common solution (#9333)

[2020-04-23 02:13] 0xdaryl commented on #9334
@knn-k

[2020-04-23 02:14] olvap377 commented on #9306
The following machines have been updated to use OpenSSL-1.1.1g

win2012r2-x86-1
win2012r2-x86-2
win2012r2-x86-3
win2012r2-x86-4
win2012r2-x86-5
win2012r2-x86-6

[2020-04-23 02:17] gacholio commented on #9287
@JasonFengJ9 This should now be fixed. Please verify and close.

[2020-04-23 02:18] gacholio commented on #9276
@fuzzy000 If you agree that we're operating within the spec, please close.

[2020-04-23 02:35] JasonFengJ9 commented on #9287
@gacholio just verified that latest build `Build_JDKnext_x86-64_linux_valhalla_Nightly/24` is green. Nice!

[2020-04-23 02:47] #9276 closed

[2020-04-23 03:24] gacholio commented on #9267
Thinking about the requirements inside the artificial handler if it's going to throw IllegalMonitorStateException:
[code]
The call-in can not be bypassed by the debugger, so no matter what, we're going to throw something on return from the callin, meaning we never resume in the fake handler in the exception case.

I am assuming that each fake handler is for a single monitor (i.e. the JIT has conve

[2020-04-23 03:31] gacholio commented on #9267
The core assumption here is that it's one fake handler per monitor - if we have to handle the case of one monexit succeeding followed by another one failing (in the same handler), this becomes much more complicated.

[2020-04-23 03:52] gacholio commented on #9314
I suspect to do this efficiently, we should tags methods during verification as not needing checking.

[2020-04-23 04:03] pshipton commented on #8890
We discovered more information.
- The problem is not related to the shared classes cache. The reason it occurs when shared classes is enabled is due to the shared cache storing debug information from the class. If the shared cache is enabled but created with -Xnolinenumbers (https://www.eclipse.org/openj9/docs/xlinenumbers/), the problem should not occur because the debug information from the clas

[2020-04-23 04:09] fuzzy000 opened #9336 "In JUnit tests, J9 said can not find the definition of class which is actually found in previous tests?"
Java -version output
------------------
The issue happened in following versions:
[code]
[code]
[code]

Summary of problem
------------------

We made some changes to a class file in the Apache Ant project (org.apache.tools.ant.launch.Locator), and let several JVMs use JUnit to run the corresponding test file (org.apache.tools.ant.launch.LocatorTest). Among all 8 tests in that test class,  OpenJDK

[2020-04-23 04:14] pshipton commented on #9126
This still occurs https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_Nightly/362

@DanHeidinga fyi. I expect this intermittent problem needs to be resolved before cmake is enabled for any platform.

[2020-04-23 05:30] AdamBrousseau commented on #9195
+1
Something I'm interested in for the Jenkins compiles.

[2020-04-23 05:50] DanHeidinga commented on #9195
Issues that need to be resolved before enabling cmake:
* https://github.com/eclipse/openj9/issues/9126

[2020-04-23 07:14] Akira1Saitoh commented on #6606
Related PRs:
- https://github.com/eclipse/omr/pull/5091
- https://github.com/eclipse/omr/pull/5092
- https://github.com/eclipse/omr/pull/5093
- https://github.com/eclipse/omr/pull/5094
- https://github.com/eclipse/omr/pull/5095
- https://github.com/eclipse/omr/pull/5109
- https://github.com/eclipse/omr/pull/5110
- https://github.com/eclipse/openj9/pull/9337
- https://github.com/eclipse/openj9/pull

[2020-04-23 09:13] lumpfish opened #9338 "JTReg jdk14 failure: java/util/regex/RegExTest.java java.lang.NullPointerException"
Failure link: https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_x86-64_mac_xl/69

Running on Apr 2020 quarterly release build:
[code]

Test can be rerun via: https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=14&JDK_IMPL=openj9&BUILD_LIST=openjdk&PLATFORM=x86-64_mac_xl&TARGET=jdk_util_j9_0

Failure appears to be intermittent - found a reference to it in https://github.c

[2020-04-23 10:54] mpirvu commented on #9212
Solved by #9243, hence closing.

[2020-04-23 10:54] #9212 closed

[2020-04-23 10:56] mpirvu commented on #9174
Fixed by #9243

[2020-04-23 10:56] #9174 closed

[2020-04-23 11:13] dchopra001 commented on #9068
For this latest set of experiments, @andrewcraik recommended looking at the logs of a few methods where the difference in sample counts is the largest. The goal is to try and make sure the frequency count and profiling information is consistent across the two compiles (JITServer vs local compiles).

For all of these runs, I augmented the check here:

https://github.com/eclipse/openj9/blob/6fbf5254

[2020-04-23 11:19] dchopra001 commented on #9068
Taking a closer look at one of the profiles, I also found a few methods where the difference in sample counts was huge (the magnitude of the sample counts wasn't necessarily always large). Here's the table of those methods below:
![Screen Shot 2020-04-23 at 7 13 25 AM](https://user-images.githubusercontent.com/11260919/80093214-15462900-8532-11ea-8c18-1277ec3f024c.png)

I have already looked at `j

[2020-04-23 11:33] mpirvu opened #9339 "Print summary of JITServer statistics at shutdown"
The JIT prints a summary of compilation statistics at shutdown to stderr. This can be enabled by the `TR_PrintCompStats` env var. Example:
[code]
We need to enhance the output with stats about JITClient specific activity:
1) How many compilations were remote
2) How many messages were sent

This will give us some quick way of validating that the JDK is behaving as expected, without generating a ver

[2020-04-23 12:22] 0xdaryl commented on #9333
A few references to each platform's implementation:
* X86
https://github.com/eclipse/openj9/blob/06aad988b010db0fd9bd3686309a270a66b50fba/runtime/compiler/x/codegen/X86PrivateLinkage.cpp#L1225
* Power
https://github.com/eclipse/openj9/blob/06aad988b010db0fd9bd3686309a270a66b50fba/runtime/compiler/p/codegen/PPCPrivateLinkage.cpp#L2330
* Z
https://github.com/eclipse/openj9/blob/06aad988b010db0fd9bd3

[2020-04-23 12:32] jdekonin commented on #8849
4 of the 6 are online. ub18-x86-1 and ub18-x86-2 fail to connect to jenkins because the slave.jar downloading is failing to wget.

`wget -qO slave.jar https://ci.eclipse.org/openj9/jnlpJars/slave.jar ; exec java -jar slave.jar`

[code]

The same method isn't a problem for ub18-ppcle-1, so there must be something different between machines.

[2020-04-23 12:42] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/16/
[code]

[2020-04-23 12:45] pshipton commented on #9126
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_linux_cm_Nightly/363

[2020-04-23 12:51] andrewcraik commented on #9068
right so first question is - have you looked at the number of methods compiled at each optimization levels in the JITServer vs local scenarios? That would be one source of this kind of difference. Can you share verbose={compilePerformance,inlining} logs for local compilation and JITServer runs along with the list of method with the biggest delta? We can then check:
a) the methods at each opt level

[2020-04-23 13:43] DanHeidinga commented on #9126
@dnakamura I've listed this in #9195 as a must fix for the cmake rollout.  Can you comment here and I'll assign it to you?

[2020-04-23 13:50] DanHeidinga commented on #6933
Thanks @fengxue-IS. And also thanks to @sudhirtumati, @GaborSzabo7, ghunteranderson & @babsingh for reporting this and helping to track it down.

 I'm going to close this as this Jack has opened a PR to address this in Lombok.

[2020-04-23 13:50] #6933 closed

[2020-04-23 13:51] pshipton commented on #8890
Updated too soon. The latest information indicates this is a bug in OpenJ9. We'll update when a fix is available.

[2020-04-23 14:19] keithc-ca commented on #9318
AdoptOpenJDK/openjdk-build#1703 should address the macos part of this.

[2020-04-23 14:38] mpirvu commented on #9068
In these experiments all compilations are performed at cold opt level since the gap is large enough to be analyzed.

[2020-04-23 14:50] a7ehuo commented on #9169
I was just trying to verify if some of the JITServer issues might be fixed by the recent JITServer changes. This test still failed with JITServer (https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7193/). However it also failed with non-JITServer, very intermittently, FR 1/20 (https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7207/)

[2020-04-23 14:52] cathyzhyi commented on #9267
Put a proper inline map on the monexit helper call and assign a valid bcIndex to the top inline frame (I think 0 is really the only choice here)

Just to make sure I understand this correctly. When monexit throws IllegalMonitorStateException from synthetic handler and OSR, VM resumes from the next handler to handle this new exception. The bytecode index for monexit is only for the purpose of keepi

[2020-04-23 14:54] a7ehuo commented on #9022
This should be fixed by now. Also validated in the Grinder (https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7195/) for 100 runs. All pass.

[2020-04-23 15:00] keithc-ca commented on #9195
I suggest we also make any necessary changes so compile warnings in OMR are not ignored; see https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/variables/defaults.yml#L117 and https://github.com/eclipse/openj9/blob/master/buildenv/travis/build-on-travis.sh#L98.

[2020-04-23 15:02] mpirvu commented on #9022
Closing as per comment above

[2020-04-23 15:02] #9022 closed

[2020-04-23 15:13] dnakamura commented on #9126
Looking into the issue, I have some theories.

[2020-04-23 15:22] gacholio commented on #9267
Correct.

[2020-04-23 15:31] dchopra001 commented on #9068
I'm collecting those right now.

As a side note, I did take a quick look at logs for methods like `Object.<init>` to make sure there wasn't anything in there that was causing an issue. The logs look almost identical.

[2020-04-23 15:56] a7ehuo commented on #8706
Ran the test in Grinder for 100 times. (https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7196 ). All passed so far.

[2020-04-23 15:57] fjeremic commented on #9227
Reopening this issue as the work is not complete. We'll need a more heavy handed fix to support printing snippets before binary encoding. This work is being tracked in eclipse/omr#5111.

[2020-04-23 16:09] dmitripivkine commented on #9169
Crashed vmState 0x8000C is J9VMSTATE_ATTACHEDDATA_UPDATE

[2020-04-23 16:12] pshipton commented on #9338
30x grinder https://ci.eclipse.org/openj9/view/Test/job/Grinder/844 - passed

[2020-04-23 17:26] jhanders34 opened #9343 "ExtendedMemoryMXBeanImpl can cause a ClassLoader leak"
com.ibm.lang.management.internal.ExtendedMemoryMXBeanImpl can cause an application ClassLoader to leak when an application is stopped and the ClassLoader is allowed to garbage collect.  The leak comes when addNotificationListener is called on a Thread whose context ClassLoader is set to an application ClassLoader.  When that ClassLoader is allowed to garbage collect, it will be kept in memory by t

[2020-04-23 17:26] jhanders34 commented on #9343
I see this problem in both OpenJ9 and IBM JDKs.

[2020-04-23 17:34] DanHeidinga commented on #9343
@jhanders34 do you have a reproducible test case that can be shared with us?  It'll make it easier to validate any fix

[2020-04-23 17:41] pshipton commented on #8849
Getting build failures, at least on z and p. Disabling the machines.
[code]

[2020-04-23 17:56] DanHeidinga commented on #9314
Agreed.  And all return bytecodes - both sync and regular - will need to do the check so there will likely be some startup overhead here

[2020-04-23 18:09] andrewcraik commented on #9316
So one question I have around the model for this where we are going to try and put the cost of porting patches to release branches if we ship the point releases off of the release branches and who is going to make the call on what is going in to a release branch.

The key theme under pinning this is that we, as a project, have a pretty fast moving codebase. This means that even over a month or two

[2020-04-23 18:19] jhanders34 commented on #9343
Here is a simple test case that shows the problem:

[code]

[2020-04-23 18:21] jhanders34 commented on #9343
If this same pattern is used in other Java provided MXBeans, those should be fixed as well.  The above test case may be able to show those as well just by changing the MXBean getter that is called on ManagementFactory.

[2020-04-23 18:36] dnakamura opened #9345 "The jit does not use j9vm_add_library"
Because of the architecture where the jit library is created via create_omr_compiler_library, it is not possible for it to use j9vm_add_library. Currently it doesn't cause issue since we ensure we get desired behaviour anyway (#9344). However if we add more functionality to j9vm_add_library this may start to become an issue.

[2020-04-23 18:46] gacholio commented on #9314
Maybe if we can't prove the structure, we leave returns as generic (and exit the monitor before updating the bytecode). Well-behaved methods won't take any hit then. Might be some shared classes implications for that.

[2020-04-23 18:51] jdekonin commented on #8849
I found indicators that libcurl4 and git don't work together.

I have added libcurl3; manually its working for me now.  Any of the p or z machines can be tested via grinder.

`apt-get install libcurl3 --auto-remove -y`

[2020-04-23 18:52] pshipton commented on #9316
The above reminds me we don't have Pull Request testing capability (`jenkins ...`) for branches. Backports either need to be tested manually before merging, or merged with subsequent release branch testing. The latter is what we do now for the quarterlies, but 99% of the time the change to the release branch is identical to the head stream change.

[2020-04-23 18:55] DanHeidinga commented on #9314
...with a more involved "fixReturns" process for classes in the SharedClasses cache?

[2020-04-23 19:01] gacholio commented on #9323
We are throwing the VerifyError from the loading phase, not linking:
[code]

[2020-04-23 19:04] pshipton commented on #8849
Now we get
[code]

[2020-04-23 19:07] gacholio commented on #9314
Ideally, we would simply stop rewriting the bytecodes in generic return, and rely on it being done by verifier/fixReturns/whatever.

In the structured case, the fact that we successfully exit the monitor on return doesn't imply that every path reaching that return is correct, so fixing it there would be inappropriate anyway.

[2020-04-23 19:14] gacholio commented on #9323
Removing the lookupswitch ordering verification code results in the expected NoClassDefFoundError, so this is just an ordering issue with the verification tests (if this is really an issue at all).

[2020-04-23 19:47] #9306 closed

[2020-04-23 20:03] jdekonin commented on #8849
So this was an upgrade and not a fresh install; git was installed via playbook at v2.15.  Ubuntu18 default is v2.17.  I removed the previously compiled v2.15 and put curl and libcurl4 back on.  Seems to resolve the issue.

https://ci.eclipse.org/openj9/view/Test/job/Grinder/847/console

[2020-04-23 20:04] DanHeidinga opened #9348 "Crash in 0.20 when running with -Xverify:none"
Opening this to track https://github.com/AdoptOpenJDK/openjdk-support/issues/92

If the problem still occurs once `-Xverify:none` is removed, further investigation will be required.

[2020-04-23 20:22] DanHeidinga opened #9349 "Enable Pull Request testing capability (`jenkins ...`) for release branches"
_Originally posted by @pshipton in https://github.com/eclipse/openj9/issues/9316#issuecomment-618589552_

We should update our pipelines and CI to allow building the release branches.  Our current approach is mostly OK for the quarterly releases but becomes problematic the earlier we branch and the more late changes have to be made in the release streams.

[2020-04-23 20:24] DanHeidinga commented on #9349
@AdamBrousseau @jdekonin How much work is it to enable PR testing of the release branches?  Do you see any issues with doing this - machine capacity, artifactary disk use, etc?

@smlambert @llxia From a test perspective, do you see any issues with this approach?  Impacts on TKG?  Or other test repos?

[2020-04-23 20:24] DanHeidinga commented on #9316
I've created https://github.com/eclipse/openj9/issues/9349 to discuss adding PR testing to release branches

[2020-04-23 20:29] 0xdaryl opened #9350 "Enable assocregs to guide AArch64 local register assigner"
`ASSOCREG` pseudo-instructions allow the instruction selection phase (which runs forwards) to pass hints to the register assignment phase (which runs backwards) as to which registers to select for a virtual.  Implement on AArch64.

Also, provide better documentation on how these work.  Another candidate for cross-platform commoning.

[2020-04-23 20:29] 0xdaryl commented on #5455
ASSOCREG pseudo-instruction: AArch64 (#9350)

[2020-04-23 20:30] 0xdaryl commented on #9350
@knn-k

[2020-04-23 20:51] ChengJin01 commented on #5058
I managed to trigger the dumps with these random exceptions on the debugging build which indicate the exceptions came from different places in the interpreter at runtime:
e.g.
1) java/lang/NullPointerException
[code]
2) java/lang/ArithmeticException
[code]
The native stacktraces above indicate the issue occurred during the Initialization of `java.lang.String` when loading the library `jclse29` but

[2020-04-23 21:00] ChengJin01 commented on #5058
Given that there is no DDR support on the cross-build due to the limitations of `ddrgen`(must run on RISC-V to generate all artifacts for DDR) & OMR, I need to create a build with DDR via the cross-build on the QEMU(emulator) (which takes approx. 2 days to finish) & upload the build onto the hardware to trigger dumps to see how it goes.

In theory, the build created on the emulator should work the

[2020-04-23 21:06] keithc-ca commented on #9318
This should be fixed via AdoptOpenJDK/openjdk-build#1703.

[2020-04-23 21:06] #9318 closed

[2020-04-23 21:30] AdamBrousseau commented on #9349
I'll have a look regarding capability. I thought this would already work. The builds would use the same jobs as the existing PRs so there would be no effect on usage. Just fighting existing jobs for history

[2020-04-23 21:44] pshipton commented on #8849
Seems to be working now.

[2020-04-23 21:44] #8849 closed

[2020-04-23 21:53] pshipton commented on #9349
Perhaps I'm just assuming it doesn't work because all the branches need to be specified using depends. Assuming the PR on OpenJ9, the target branch might be `v0.20.1-release`, but that shouldn't matter as PR merge commit would have the correct content.

So I assume something like `jenkins test <suites><plats> jdk11 depends omr#v0.20.1-release depends openj9-openjdk-jdk11#openj9-0.21.0` would work?

[2020-04-23 21:57] AdamBrousseau commented on #9349
I know it doesn't work for the Travis builds. Which can be fixed. But yes those comments should work. Just need to include the org.
`depends eclipse/openj9-omr#<branch>`

[2020-04-23 22:21] smlambert commented on #9349
I was thinking about PR testing recently, how we currently rely on the Jenkins PR plugin, how the code and regex is not easily found (or is it now in the eclipse cbi repo rather than in the Jenkins config?) or edited.

Since we have recently been creating Github actions for building OpenJ9 and running the AQA tests, it occurred to me we could leverage that for PR testing, and what of the lack of d

[2020-04-24 03:14] AdamBrousseau commented on #9349
Works as expected
https://github.com/eclipse/openj9/pull/9351

[2020-04-24 12:25] sxa commented on #9318
I have initiated the following to verify - we can check what sizes the artifacts are when complete:
- https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/1008/
- https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/880/

[2020-04-24 12:57] DanHeidinga commented on #9318
With the IBM SDK, we had an automated job that checked that the SDK hadn't grown in size by more than small delta and flagged new files / removed files.

Is it worth adding a similar job to the Adopt pipelines to catch the SDK binaries haven't become too large?

[2020-04-24 13:13] sxa commented on #9318
Yes :-) This had already been suggested somewhere but I see it's not explicily in the retrospective item so please add it as a comment to https://github.com/AdoptOpenJDK/TSC/issues/151

[2020-04-24 13:20] dchopra001 commented on #9068
When specifying `verbose={compilePerformance,inlining}`, I am able to collect a verbose log for a local run that has inlining information (starts with `#INL`).

However, the same options don't yield a similar result for JITServer runs. I'm not sure why. @mpirvu would you happen to know why the same options aren't working for JITServer vlog?

I have attached examples for reference here.
[vlogLocal.

[2020-04-24 13:20] DanHeidinga commented on #9318
Done https://github.com/AdoptOpenJDK/TSC/issues/151#issuecomment-619005073

[2020-04-24 13:23] 0xdaryl commented on #6657
@Akira1Saitoh

[2020-04-24 13:23] 0xdaryl commented on #7160
Resolved.

[2020-04-24 13:23] #7160 closed

[2020-04-24 13:24] 0xdaryl commented on #6979
Resolved.

[2020-04-24 13:24] #6979 closed

[2020-04-24 13:25] 0xdaryl commented on #7012
Resolved.

[2020-04-24 13:25] #7012 closed

[2020-04-24 13:32] pshipton opened #9352 "ASSERTION FAILED ** at ConcurrentCardTable.cpp:1443"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_linux_xl_Nightly/348
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.system_x86-64_windows_Nightly/346
https://ci.eclipse.org/openj9/job/Test_openjdk14_j9_extended.system_x86-64_windows_Nightly/71
DaaLoadTest_all_ConcurrentScavenge_0
[code]

[2020-04-24 13:40] pshipton opened #9353 "AOT code in shared class cache cannot execute on current processor"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.system_x86-64_windows_Nightly/347
[code]

16.jvm4.stderr
[code]

16.jvm4.stdout
[code]

16.jvm4.jvmdump.stderr
[code]

16.jvm4.jvmdump.stdout
[code]

[2020-04-24 13:41] pshipton commented on #9353
@dsouzai not sure what's going on with the test hanging, but the `AOT code in shared class cache cannot execute on current processor.` message seems wierd. Although also familiar like we discovered before why this occurs, due to different JVM options or something. Although the message could be more appropriate.

[2020-04-24 13:47] pshipton opened #9354 "JSR166TestCase testAccumulateAndGetMT(DoubleAccumulatorTest): expected: but was:"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux_Nightly/37
ub18-390-1
java/util/concurrent/tck/JSR166TestCase.java
[code]

[2020-04-24 13:48] pshipton commented on #9354
We saw a similar failure before which was resolved https://github.com/eclipse/openj9/issues/7011

[2020-04-24 13:49] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/337
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-04-24 13:50] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/17
osx1011-x86-1
java/util/zip/EntryCount64k.java

[2020-04-24 13:52] pshipton commented on #9354
10x grinder https://ci.eclipse.org/openj9/job/Grinder/854/

[2020-04-24 14:03] keithc-ca commented on #9318
Looking at https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/1008/artifact/target/, I only see a hotspot build for AIX. The build appears to be complete: are we assuming that the changes affect the openj9 variant for AIX similarly?

[2020-04-24 14:04] mpirvu commented on #9068
The log is produced at the client which does not do the compilation. The INL lines are printed during the compilation (thus at the server) and they are not to the client.
You may try to use vlog options at the server directly.

[2020-04-24 14:14] DanHeidinga commented on #9349
@AdamBrousseau Do the PR builds have a way to specify the TKG version they need? Will more syntax be needed for that?

[2020-04-24 14:14] dmitripivkine commented on #9352
@amicic FYI

[2020-04-24 14:23] DanHeidinga commented on #9349
Re: github actions.  I think there's a lot of opportunity there and more to explore.  The OMR project was discussing using them on their call yesterday (which I missed).  Maybe they can provide some details on their experience as well?  fyi @fjeremic

[2020-04-24 14:30] Maldivia opened #9356 "VarHandle.getAndBitwiseXor crashes if run with -Xcomp"
Running the following code with the `-Xcomp` jvm flag crashed the JVM:
[code]

[code]

getAndBitwiseXorAcquire and getAndBitwiseXorRelease does not crash though.

[2020-04-24 14:43] keithc-ca commented on #8732
With the above changes to jdk14 and jdknext, I think the only remaining unwanted man page is `jfr.` which should be addressed upstream by moving that man page to the `jdk.jfr` module.

[2020-04-24 14:51] DanHeidinga commented on #9348
Opened https://github.com/grails/grails-core/issues/11528 with Grails to flag the unverifiable bytecode they are generating.

We can't support unverifiable bytecode so closing this as the issue needs to be addressed in grails

[2020-04-24 14:51] #9348 closed

[2020-04-24 14:53] amicic commented on #9352
Those builds just got 2 of my changes:
https://github.com/eclipse/omr/pull/5112
https://github.com/eclipse/openj9/pull/9330
Suspecting on OMR one.

[2020-04-24 15:06] fuzzy000 opened #9357 "J9 failed to execute all JUnit tests in a test file (caused by initializationError)"
Java -version output
------------------
The issue happened in following versions:
[code]
[code]
[code]

Summary of problem
------------------

We made some changes to a class file in the Apache Ant project (DirectoryScanner.class), and let several JVMs run the corresponding JUnit test file (DirectoryScannerTest.class) to test that class.

Among 29 tests in that test file, the OpenJDK series find 2

[2020-04-24 15:20] DanHeidinga commented on #9356
@fengxue-IS Can you take an initial look at this as the crash is in the vm dll?

[2020-04-24 15:20] Leonardo2718 commented on #8823
FYI, I'm taking over this work from @Charlmzz.

[2020-04-24 15:23] mpirvu opened #9358 "Reduce number ClassEnv_classHasIllegalStaticFinalFieldModification messages"
A recent openj9 fix (#9246) has increased the number of `ClassEnv_classHasIllegalStaticFinalFieldModification` queries the JITServer sends to the client, from 0 to about 8K for AcmeAir). If possible we would like to reduce the number of such messages.
The frontEnd implementation for non-jitserver is
[code]
So, the query only looks at the `J9ClassHasIllegalFinalFieldModifications` bit inside `j9cla

[2020-04-24 15:29] AdamBrousseau commented on #9349
No but syntax could be added. It might not be that difficult to change since all the parsing is done on the pipeline side now so we have more flexibility with groovy. The regex in the Jenkins config is simple `Jenkins (compile|test) *`.
We also don't yet have the mechanics for passing TKG variables to the test jobs so that would have to be added.

[2020-04-24 15:45] fengxue-IS commented on #9356
look into this

[2020-04-24 15:48] dsouzai commented on #9353
The reason for the `AOT code in shared class cache cannot execute on current processor.` message is very likely because in `Step 16` we're running with `-Xaot:forceAot,disableAsyncCompilation,count=0` whereas in the previous steps that created the cache we didn't. We can't mismatch between synchronous and asynchronous compilation.

The error message code looks like:
[code]
The `j9nls_printf` can't

[2020-04-24 15:54] mpirvu commented on #9358
I went to the original implementation (PR #2580) and was able to infer the following:
The compiler object maintains a list (TR_Array) of classes for which their final field was folded during the current compilation. At the end of the compilation, during CHTable.commit() we go over this list and if any class has the `J9ClassHasIllegalFinalFieldModifications` bit set we fail the compilation with an

[2020-04-24 15:58] DanHeidinga commented on #9349
If we're doing monthly releases as proposed in #9316, the likelihood of TKG breaking changes hitting a given release are higher than they have been before.  We'll also need a way to add a depends tag for the https://github.com/eclipse/openj9-systemtest

[2020-04-24 16:13] pshipton commented on #9354
@fjeremic can you please take a look.

[2020-04-24 16:13] pshipton commented on #9354
We also added p and x ub18 machines. I try some grinders on these platforms.

[2020-04-24 16:41] mstoodle commented on #9316
I think the process to select and perform backports should be a collaboration among the project leads and committers with input from users and potentially helped by contributors where ever possible and where they are amenable. I would like to believe the selection process would take into account the extra amount of work required for a back port as well as the risk of doing that work when consideri

[2020-04-24 16:59] cathyzhyi commented on #9267
We find another possible way to encode the info. In the exception table, the`_catchType` for the handler is the cpIndex of the exception class with 0 meaning catching all exceptions. Value  0xffff/0xffffffff (for 2bytes exception entry and 4bytes exception entry mode) can be reserved to indicate synthetic handler.  The synthetic handlers can catch all types so VM  can change it to 0 on their side

[2020-04-24 17:00] pshipton commented on #9316
Eclipse moved to a yearly approval model, doing continuous monthly releases doesn't require any extra approvals afaik.

[2020-04-24 17:04] pshipton commented on #9353
Additional NLS messages can easily be added and used to print a more appropriate message.

[2020-04-24 17:07] pshipton commented on #9353
Also, NLS messages can include string arguments, although that part obvious won't be translated.
Here is the first example I found https://github.com/eclipse/openj9/blob/2cc3b1cf81180cc7a45817e8631de00681f99372/runtime/bcutil/jimageintf.c#L84

`J9NLS_JIMAGE_INTF_LIBJIMAGE_SYMBOL_LOOKUP_FAILED=Failed to lookup symbol %s in jimage library`

[2020-04-24 17:10] dsouzai commented on #9353
Ok I'll look into making the -Xshareclasses:verbose output better for these AOT header validation failures.

[2020-04-24 17:10] vijaysun-omr commented on #9267
I am okay with this but the VM side view has to come from @gacholio here obviously and we should amend our design if he does not like this approach.

From a JIT perspective, I prefer this kind of "signal" value (and where we write it) to be as localized (and delayed) in the compiler as possible, so that we do not have to teach different parts of the compiler about "special" values (which is the po

[2020-04-24 17:29] gacholio commented on #9267
I also like this approach, as I can easily detect the magic value in MethodMetadata.c and change it to 0. At the same time. I can tag a field in the walkState to indicate to the exception catch code that this is a synthetic handler.

Something will need to be done to ensure that the reserved value is never used as a real index (i.e. fail compilation in that case).

[2020-04-24 17:50] dmitripivkine commented on #9352
The manifestation of the problem under investigation is a collision between Concurrent Mark and Concurrent Scavenge. Initial range for Concurrent Mark has not been initialized properly. As a result part of Mark Map related to Nursery has not been initialized completely (with 0xffffs). This allows Concurrent Mark to put Nursery object to the work packet... and assertion has been triggered eventuall

[2020-04-24 17:59] pshipton commented on #9352
Any chance to revert the problematic fix today (or fix it), so the tests aren't failing all weekend?

[2020-04-24 17:59] amicic commented on #9352
I can confirm that problem is due to https://github.com/eclipse/omr/pull/5112.
I'll need some time to figure out why. We should revert it.

[2020-04-24 18:00] pshipton commented on #9352
There is a revert button in the PR which I believe can be used by anyone to create the revert PR.

[2020-04-24 18:15] DanHeidinga opened #9361 "Enable PR builds to specify TKG and openj9-systemtest repos"
No but syntax could be added. It might not be that difficult to change since all the parsing is done on the pipeline side now so we have more flexibility with groovy. The regex in the Jenkins config is simple `Jenkins (compile|test) *`.
We also don't yet have the mechanics for passing TKG variables to the test jobs so that would have to be added.

_Originally posted by @AdamBrousseau in https://gi

[2020-04-24 18:17] DanHeidinga commented on #9361
Tagging this as low priority for now as we haven't agreed on monthly cadence yet and these breaking changes aren't very common - though they'll be painful when they happen :)

[2020-04-24 18:18] DanHeidinga commented on #9349
I've created https://github.com/eclipse/openj9/issues/9361 to track supporting specifying the TKG and openj9-systemtest repos and tagged it low priority for now

[2020-04-24 18:35] mpirvu commented on #9358
The solution to reducing the number of `ClassEnv_classHasIllegalStaticFinalFieldModification` could be the following:
Maintain a temporary list of classes that have the `J9ClassHasIllegalFinalFieldModifications` bit set. This is very similar to the temporary list of unloaded classes: `compInfo->getUnloadedClassesTempList()`. Every time the `jitIllegalFinalFieldModification()` hook is called for a

[2020-04-24 18:50] mpirvu opened #9364 "Register assumptions for classHasIllegalStaticFinalFieldModification events"
PR #2580 has added a new type of runtime assumption, `RuntimeAssumptionOnStaticFinalFieldModification`, that is added to the RAT during CHTable.commit(). However, the JITClient code that performs the CHTable commit was not updated to process this type of assumption.
The list of classes for which one of their final fields was folded during the current compilation is kept in `comp._classForStaticFin

[2020-04-24 19:11] pshipton commented on #9361
It's not just TGK and openj9-systemtest, there is stf, openjdk-tests and openjdk-systemtest that may need to be used at the right levels. We do have the shas for all the repos used recorded in the builds.

The 0.20.0 release levels
[code]

[2020-04-24 19:45] sharon-wang commented on #8878
Some initial benchmark results...

**split:** "mixed" build
**baseline:** regular build

LibertyStartupDT7 - slight improvement in startup time
|   | startup time (ms) |
|---|---|
| **split** | 12417 |
| **baseline** | 12931 |
|  **diff** | -514 |

SPECjbb2015 - significant reduction in throughput
|   | max_jOPS | critical_jOPS | hbIR_max | hbIR_settled |
|---|---|---|---|---|
| **split** | 15209

[2020-04-24 19:46] DanHeidinga commented on #9361
@AdamBrousseau and I were discussing on slack how we used to use `.psf` files to track the levels of various repos.  We could introduce a `repos.levels` file (better name welcome) that's only used in the release branches to track the required shas & branches of those repos for use by jenkins

[2020-04-24 19:55] DanHeidinga commented on #8878
@sharon-wang those numbers seem really off.  The overhead from the compressed checks should mostly be in the GC at this point which shouldn't account for a 2-3x overhead.
@amicic any comment on that?

Can you collect some profiles from a combo build run?  It would really help to see where time is going.

[2020-04-24 20:23] a7ehuo commented on #8505
One of the reasons that there is less `allocationFence` nodes in JITServer is because it's skipped at the JITServer for `TR_VMField` [1].
It looks to me `!cg()->comp()->isOutOfProcessCompilation()` should be added to the condition check` if (resolvedMethodSymbol)` instead, so that JITServer could still have the fence when there is no resolved symbol which is what's done in the non-JITserver mode.

[2020-04-24 20:57] mpirvu commented on #8505
I agree with adding the JITServer check to `if (resolvedMethodSymbol)` and taking the `else` part.

[2020-04-24 20:59] sophia-guo opened #9365 "Use openjdk-api-v3 to download bootjdk from AdoptOpenJDK"
[ AdoptOpenJDK API v2 has been deprecated and will be removed. If you are using v2 please move to the latest version (documented below) as soon as possible](https://github.com/AdoptOpenJDK/openjdk-api-v3)

For example https://github.com/eclipse/openj9/blob/master/buildenv/docker/jdk14/x86_64/ubuntu16/Dockerfile#L86

Dockerfile is used also like a recipe card to determine the software dependencies

[2020-04-24 21:01] mpirvu commented on #8505
`getEnforceStoreOrder()` is true only for P and aarch64

[2020-04-24 21:42] a7ehuo commented on #8505
I'm using `power` to run this test. That explains why I'm seeing this issue.

[2020-04-24 22:32] pshipton commented on #9365
@keithc-ca how far off is the script you are working on to replace the docker files?

[2020-04-24 22:34] pshipton opened #9367 "All the AIX machines are offline"
https://ci.eclipse.org/openj9/

Regular Friday night thing now?

@jdekonin @AdamBrousseau

[2020-04-24 22:55] rpshukla commented on #8397
Based on the openjdk system test source code here: https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.test.math/src/test.math/net/adoptopenjdk/test/bigdecimal/TestSuite043.java#L6202, I have created the following small test case which fails every time for me:
[code]

I am running a local build of openjdk8 with the latest openj9 master, openj9-omr and the following options:
[cod

[2020-04-24 23:40] gacholio commented on #8878
The probable reason for the awful numbers is that the bench was being run in GC stress mode (which is something we will eventually need to address, but for now, the new numbers will be in normal mode to give us a general idea).

[2020-04-24 23:58] amicic commented on #8878
hard to speculate without seeing heap sizing, GC logs, CPU profiles...

[2020-04-25 01:10] keithc-ca commented on #9365
I think the script is finished. We can make refinements to things like option names, etc. as people think of improvements. I have started updating documents that refer to the existing Dockerfiles, but I suppose the remaining part of that could be deferred.

Thoughts?

[2020-04-26 19:22] pshipton commented on #8214
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_special.system_x86-32_windows_Personal/117
LambdaLoadTest_OpenJ9_NonLinux_special_24

[2020-04-26 19:23] pshipton commented on #6777
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_xl_Nightly/344
SyntheticGCWorkload_concurrentSlackAuto_10k_J9_0

[2020-04-26 19:24] pshipton commented on #8872
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_Nightly/19
`[2020-04-26 01:03:37,651] Agent[0]: stderr: JVMDUMP039I Processing dump event "systhrow", detail "java/lang/OutOfMemoryError" at 2020/04/26 01:03:37 - please wait.`

[2020-04-26 19:29] pshipton commented on #7247
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_Nightly/18
osx1011-x86-2
java/lang/ProcessBuilder/Basic.java

[2020-04-26 19:36] pshipton commented on #9365
It would be good to remove the existing Dockerfiles and move to the script since many of the existing Dockerfiles are broken in various ways. I can help update documents.

[2020-04-26 23:29] fjeremic commented on #9365
I just got bit by this on the s390 Dockerfiles in #9363. Those have been fixed but the issue is still present elsewhere. I agree with @pshipton that we need a way to keep those Dockerfiles maintained.

[2020-04-27 08:47] srogmann commented on #4005
There is a fix in Log4J 2.13.1.

* Prevent LoggerContext from being garbage collected while being created. Fixes LOG4J2-2756.
https://logging.apache.org/log4j/2.x/changes-report.html#a2.13.1

[2020-04-27 09:11] M-Davies opened #9369 "AIX compiler failure for JDK8 & 11"
Possibly related to https://github.com/eclipse/openj9/issues/8508

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-openj9
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-openj9
[code]
Failing since 22/04/2020

[2020-04-27 09:47] M-Davies commented on #8872
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_xl/199/
https://ibm.box.com/shared/static/u0u06fykk15pgzi9grruo1c9f4hfxb8i.gz

[2020-04-27 12:44] keithc-ca commented on #9365
Ok, I'll make it a priority to get a pull request open this week.

[2020-04-27 12:50] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/349
[code]

[2020-04-27 13:00] DanHeidinga commented on #7752
@avermeer where you able to validate the proposed fix?  If it works for you it would help to comment on apache/hadoop#1951 adding your support

[2020-04-27 13:02] pshipton commented on #9369
What changed at Adopt? The builds at OpenJ9 are fine.
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK8_ppc64_aix/1592/
https://ci.eclipse.org/openj9/job/Pipeline_Build_Test_JDK11_ppc64_aix/1612/
@sxa @keithc-ca

[2020-04-27 13:04] pshipton commented on #4005
@smlambert @Mesbah-Alam can we pick up the Log4J fix?

[2020-04-27 13:09] andrewcraik commented on #9316
This sounds great idealogically do you have any ideas on how we would implement this practically to keep the overhead low? Perhaps some kind of label and a business item in the weekly meeting to review the list and change the label to confirm a backport vs remove the label? Maybe an automated job to @ the submitter and other commenters when the backport review is added? I just think we need to be

[2020-04-27 13:12] pshipton commented on #9367
Problem was resolved in that the machines are back online. From Slack it seems there is a problem with VPN scripts, but this doesn't need to stay open.

[2020-04-27 13:12] #9367 closed

[2020-04-27 13:26] DanHeidinga commented on #9316
Labels would work pretty good for this.  There's already a `backport:candidate` label that could be added when a PR is merged in `master`.  Once a backport is agreed on, we could add a `backport:accepted`, and maybe a `backport:complete` label after the backport is merged?  And maybe a `backport:rejected` label for cases where we decided not to backport.

There should be a fairly low cost workflow

[2020-04-27 13:29] DanHeidinga opened #9370 "Create label based workflow for interim releasees"
Pulling this comment out into a new issue as the basis for a plan on how to handle backports for the interim release proposal.

Will close this issue if the proposal fails to gain acceptance.

Labels would work pretty good for this.  There's already a `backport:candidate` label that could be added when a PR is merged in `master`.  Once a backport is agreed on, we could add a `backport:accepted`, a

[2020-04-27 13:30] DanHeidinga commented on #9316
Created https://github.com/eclipse/openj9/issues/9370 to track nailing down exactly what that work flow would be as we can do that after this proposal is accepted (or not)

[2020-04-27 13:43] keithc-ca commented on #9369
We had similar failures until we realized that `export LDR_CNTRL=MAXDATA=0x80000000` was necessary (the process is just running out of memory).

[2020-04-27 13:51] sxa commented on #9369
We've always had that at adopt: https://github.com/AdoptOpenJDK/openjdk-build/blob/master/build-farm/platform-specific-configurations/aix.sh#L44

[2020-04-27 13:57] M-Davies commented on #9369
From https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-openj9/635/consoleFull...
[code]

[2020-04-27 14:20] mstoodle commented on #9316
I'm less concerned with the details of what goes in each release, though I suppose I did initiate the discussion by taking a standpoint. I am confident in our committers and leads being able to figure out how to arrive at a sensible definition of monthly content. I suspect "interim" builds would be more appreciated by users (but could be wrong...I know it flies in the face of "continuous"). I thin

[2020-04-27 14:44] dchopra001 commented on #9068
**Update:**
There was some conflicting data I ran into late week and so I needed to recalibrate and do a larger batch of runs to make sure the information is reliable.

My Friday night runs are missing data due to disk space issues. I'll be re-running them today to get the missing data and will provide an overall summary after.

[2020-04-27 14:48] rpshukla commented on #7936
@cathyzhyi all of the PRs mentioned above have been merged. Is this issue ready to close?

[2020-04-27 15:00] cathyzhyi commented on #7936
closing as the changes have been finished.

[2020-04-27 15:00] #7936 closed

[2020-04-27 15:18] a7ehuo commented on #8505
With the fix to the issue mentioned in https://github.com/eclipse/openj9/issues/8505#issuecomment-619222584,  the test still fails with  `-Xjit:count=0,optLevel=cold` in JITServer but always passes in non-JITServer. One difference between the JITServer and the non-JITServer mode is in `localValuePropagation` [64],[74],[75].

Non-JITServer:
[code]

JITServer:
[code]

[2020-04-27 16:05] pshipton opened #9372 "Support docker on centos:7 or rhel:7 for s390x"
See https://github.com/eclipse/openj9/pull/9371

rhel:7 is the build platform for zlinux.

[2020-04-27 16:05] pshipton commented on #9372
@keithc-ca

[2020-04-27 16:25] fjeremic commented on #9349
I've had a positive experience with GitHub Actions. They support up to 20 concurrent jobs per project which is a huge boost from the available resources we get today on Travis. The backed is essentially the same as Azure and they have runners on Windows, Linux, and macOS (all x86 only). There are other very useful non-CI related actions which can be added to improve overall productivity of the tea

[2020-04-27 16:30] pshipton commented on #9369
From Slack:
Stewart X Addison
The build of the openj9-0.20.0 stream that I did as a test was ok and not subject to https://github.com/eclipse/openj9/issues/9369 - so whatever that problem is it only seems to be from builds from the development branches starting from April 22nd.

The last successful build.
[code]

The Adopt builds don't seem to print the SHAs it's building from.
Below are the chang

[2020-04-27 16:34] fjeremic commented on #9354
@r30shah could you please help take a look? This is a z15 machine. I've launched a grinder [1] with `-Xjit:disableZ15` to see if it is z15 related.

[1] https://ci.eclipse.org/openj9/job/Grinder/859

[2020-04-27 16:45] smlambert commented on #9370
And to further the 'low-cost' aspect of this, we could leverage github actions to trigger testing or other activities that need to be done against a branch, based on a label event (or any other github event for that matter).  Be aware that while there are only limited platforms available as runners, that there are github actions that would allow you to trigger Jenkins jobs (so leveraging our exist

[2020-04-27 16:56] pshipton commented on #9354
Since the problem only seems to occur on ub18, I re-launched the previous grinder to target this platform.
https://ci.eclipse.org/openj9/job/Grinder/861

[2020-04-27 17:03] dmitripivkine commented on #9352
I believe revert fixed this issue.
@pshipton If it is true, can this item be closed?

[2020-04-27 17:19] pshipton commented on #9352
Yup, fixed now.

[2020-04-27 17:19] #9352 closed

[2020-04-27 17:28] sxa commented on #9369
A few points:
- It doesn't seem to affect JDK14
- The builds started failing on the same day OpenSSL was bumped to 1.1.1.g
- The OpenJ9 0.20.0 release branch (also configured to pull OpenSSL 1.1.1g) is not affected

[2020-04-27 17:35] fjeremic commented on #9354
Thanks Peter, I was under the assumption that "Rerun in Grinder" link would have done that, but now that I think about it, it was a pretty bad assumption. So it seems the issue is not z15 related. Should make our search easier as we have local z14 machines we can work on.

[2020-04-27 17:38] pshipton commented on #9354
Rebuilding one of my previous grinders will do it.

[2020-04-27 17:41] r30shah commented on #9354
Thanks @pshipton  @fjeremic , this gives me initial pointer to start taking a look at it. Going to try reproducing this on local Ubuntu 18 z14 to see if I can reproduce it locally and continue investigation there.

[2020-04-27 17:45] pshipton commented on #9369
It may be worthwhile rebuilding the Apr 22 build that worked to see if it still works. Otherwise, doing more custom builds and backing off the SHAs to discover which change caused the failure.

[2020-04-27 17:52] Leonardo2718 commented on #8823
So.... I'm able to reproduce this with `OPENJ9_JAVA_OPTIONS="-Xshareclasses:none -Xint" GRADLE_USER_HOME=tmp/ ./gradlew clean :app:assembleDebug --no-build-cache` which suggests the immediate issue is not related to the JIT. Unfortunately, I haven't been able to narrow this down any further yet.

FYI @DanHeidinga @andrewcraik @cathyzhyi

[2020-04-27 17:54] mpirvu commented on #9364
Attn: @harryyu1994

[2020-04-27 17:54] smlambert commented on #4005
Presume it is a matter of changing the prereqs, running all of the affected system tests across all of the platforms and versions to see that the change does not break something else before merging.

Also, need to confirm which log4j dependency that systemtest has, does this relate to the version of log4j used by stf (log4j-2.3) or the version of log4j used by jvmti tests (log4j-1.2.8) or both, ba

[2020-04-27 18:02] pshipton commented on #8619
Closing until more information is provided.

[2020-04-27 18:02] #8619 closed

[2020-04-27 18:07] DanHeidinga commented on #8823
@Leonardo2718 Are you reproducing the `java.lang.UnsupportedOperationException`?  If so, can you capture cores using something like `"-Xdump:system+java:events=throw+systhrow,filter=java/lang/UnsupportedOperationException,request=exclusive+prepwalk+preempt"` [1]

If this is reproducible on an IBM internal machine (ie: fyre) can you share the credentials privately so we can save on the setup?

[1]

[2020-04-27 18:10] gacholio commented on #9267
Looks like the VM code isn't quite right - the test works with the new changes, but it's not decompiling at the catch point as expected. I'm looking into this.

[2020-04-27 18:14] fjeremic commented on #9354
@pshipton that is surprising as I used the Grinder from your previous comment [1] to launch my own. [1] ran on ub18, however clicking the "Rerun in Grinder" link navigates us to page [2] which doesn't seem to put "ub18-390-1" in the `LABEL` field. Is this a bug?

[1] https://ci.eclipse.org/openj9/job/Grinder/856/
[2] https://ci.eclipse.org/openj9//job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=op

[2020-04-27 18:31] keithc-ca commented on #9372
The list of [available s390x OS images](https://hub.docker.com/search?q=&type=image&category=os&architecture=s390x) doesn't include centos or rhel. Will fedora suffice?

[2020-04-27 18:33] fengxue-IS commented on #9356
reproduced the problem with setup described,
[code]

gdb showed a invalid value in `_literals`
[code]

I suspect the issue have to do with the j1i transition process, will continue to investigate

[2020-04-27 18:55] sxa commented on #9369
Given that the openj9-0.20.0 branch is ok I would be quite surprised if the older nightlies wouldn't be ok too. But regardless, won't `get_source.sh` in the extensions repo always pull the latest code from OpenJ9 and OMR instead of the ones built at that time? I guess it will be a bit of manual work if we want to do that test.

[2020-04-27 19:52] fjeremic commented on #8992
The following is a grinder from a nightly build a few days ago which shows the failure is still present:
https://ci.adoptopenjdk.net/job/Grinder/2917

This problem is effectively impossible to reproduce with logging as the benchmark runs only for several seconds and is very sensitive to any tracing. Even with a specific inlining plan I was not able to get a reproduction of the issue massaging the

[2020-04-27 20:04] Leonardo2718 commented on #8823
@DanHeidinga Yes I did reproduce the `java.lang.UnsupportedOperationException`.

Sure, I'll try generating cores using `-Xdump:`.

I've actually been debugging this on my local machine so I can't really share my setup. I do have a _very_ hacked together docker image I can share. Although, I found setting up the environment locally wasn't very difficult.

[2020-04-27 20:12] pshipton commented on #9369
Yes it will. Although it also takes options (i.e. `-openj9-sha` so the SHAs can be specified.

[2020-04-27 20:17] ChengJin01 commented on #5058
I managed to create a build with DDR support on Fedora/QEMU and uploaded to Fedora/U540 to trigger core dumps which shows the instruction went out of the scope of the bytecode in `String <clinit>` as follows:
[code]
against the native stack in the dump:
[code]
So the dump indicate something went wrong on return in the bytecode of `String.<clinit>` which requires inline debugging in the interpreter

[2020-04-27 20:22] pshipton opened #9375 "Build instructions don't generally mention --with-boot-jdk="
The docker script https://github.com/eclipse/openj9/pull/9371 provides all the prerequisite boot jdks, but the build doc doesn't generally mention using the configure option `--with-boot-jdk=`. We should add this for all platforms, it's only mentioned in the Windows build instructions atm.

[2020-04-27 20:24] gacholio commented on #5058
The error likely does not occur returning from the clinit, rather when the VM returns to the clinit from one of the invokes in the clinit.

[2020-04-27 20:30] pshipton commented on #9354
Not sure the "Rerun in Grinder" behavior is a bug, just the way it's setup atm. You could open an issue to suggest that "Rerun in Grinder" links include the machine label. Not sure how feasible that is, if the machine name is available to the test job. The user may not want that behavior but is free to re-configure after the link fills in the initial template.

[2020-04-27 20:31] pshipton commented on #9354
@fjeremic perhaps you're not aware there is a "Rebuild" on the left in the jenkins UI which duplicates the job exactly.

[2020-04-27 20:54] babsingh commented on #8735
JVM/Java spec doesn't have a set-defined behavior for SIGABRT. Over time, users have opted to accept the SIGABRT behavior of their preferred JVM.

But, the previous suggestion(s) will cause irreversible change in OpenJ9's functionality. This will lead to user issues from those who are dependent on [OpenJ9's current SIGABRT behavior](https://github.com/eclipse/openj9/issues/8735#issuecomment-615003

[2020-04-27 21:14] pshipton commented on #9372
I don't know much about Fedora. We want glibc version 2.17 or lower to match CentOS/RHEL 7. If you can find a release that meets that criteria then it's worth a shot.

[2020-04-27 21:26] pshipton commented on #9372
fedora:20 contains glibc 2.18

[2020-04-27 21:32] pshipton commented on #9372
Seems the lowest for zlinux is fedora:28, but on x86 this contains glibc 2.17

[2020-04-27 21:35] pshipton commented on #9372
Fixed my previous comment, should have been glibc 2.27, which is worse than Ubuntu 16 (equivalent to Ubuntu 18).

[2020-04-27 21:44] pshipton commented on #9372
Unless you have other ideas I'll close this, seems Ubuntu 16 is as good as it gets.

[2020-04-27 22:09] pshipton commented on #4005
Looking at the stack trace, it's the stf one we see failing.

[2020-04-27 22:32] a7ehuo commented on #8505
The operation "`Removing rest of block after treetop"` in JITServer `localValuePropagation` happened because the `sizeConstraint ` (`67108863`) in `constrainNewArray()` is greater than `maxSize`(`4194304`) [1].
The `maxArraySizeInElementsForAllocation()` is calculated based on `J9::VMEnv::maxHeapSizeInBytes()` when the method is not compiled for relocation [2].
`maxHeapSizeInBytes()` retrieves the

[2020-04-28 00:09] knn-k opened #9377 "Build break in StringPeepholes.cpp with debug builds"
I see the following compiler error with debug builds:

PR #9275 removed the missing symbol.

[2020-04-28 00:11] knn-k commented on #9377
@liqunl FYI.

[2020-04-28 01:13] mpirvu commented on #8505
Nice find!

[2020-04-28 10:22] SueChaplain commented on #9316
One missing element from the list under "costs for the community" is the user documentation and the website. Moving from 6 releases a year to 12 releases would double the effort to close, test, and publish the docs and website. The difficulties I guess are along the lines that Andrew has discussed for code ... what needs double fixing and the timeline pressures that this presents for monthly relea

[2020-04-28 12:36] M-Davies commented on #9369
[Today's build](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-openj9/639/) passed on `build-osuosl-ppc64-aix-71-2`

[2020-04-28 12:40] sxa commented on #9369
@M-Davies The link you've give is to a release build from the release branch ([for this requirement](https://github.com/AdoptOpenJDK/TSC/issues/155#issuecomment-620445417)), not a nightly therefore expected to pass as per my bullet point #3 above

[2020-04-28 12:50] dchopra001 commented on #9068
Okay, so with `-Xjit:disableAdaptiveDumbInliner` I noticed that the initial difference I reported about `java/lang/Object.<init>()V` was no longer there. I did 10 runs this time to make sure that this was the case.

Here is the data below:
![Screen Shot 2020-04-28 at 8 08 43 AM](https://user-images.githubusercontent.com/11260919/80485495-85382300-8927-11ea-801f-06a11147a0ba.png)
![Screen Shot 2020

[2020-04-28 12:53] DanHeidinga commented on #9316
Thanks for raising the documentation costs, @SueChaplain.

That's an interesting idea and makes a lot of sense from a spread out the project releases perspective but I don't think it meets the end-user needs as well.  Users waiting on a critical fix in Feb on an existing release (8 or 11), won't be able to benefit from the new JDK release in March (JDK 14).  Even though the project is already doin

[2020-04-28 13:16] PushkarBettadpur commented on #8992
Paraphrasing from the following comment https://github.com/eclipse/openj9/issues/8758#issuecomment-599708966, to get the legacy verifier to report errors, you have to be running a debug build of the JIT, define the TR_DEBUG="checkTypes=1" environment variable, and be generating a log file.

[2020-04-28 13:26] SueChaplain commented on #9316
I guess I didn't expand my suggestion enough. I was thinking 6 week cycles with the LTS releases shipped in March and Sept alongside the new feature release aswell.

[2020-04-28 13:35] fuzzy000 opened #9381 "J9 failed to pass the JUnit test after throwing StackOverflowError for a previous test. When removing that "previous test", J9 pass the test."
Java -version output
--------------------
The issue happened in following versions:
[code]
[code]
[code]

Summary of problem
------------------
We made some changes to a class file in the JUnit project (junit.samples.money.Money), and let several JVMs run the corresponding test file (org.junit.samples.money.MoneyTest).

In this test file ([MoneyTestSourceFile.zip](https://github.com/eclipse/openj9

[2020-04-28 13:36] dchopra001 commented on #9068
For completeness, I did runs _without_ `-Xjit:disableAdaptiveDumbInliner` to make sure what I was seeing before was reproducible.

Here is the throughput summary:
![Screen Shot 2020-04-28 at 8 56 51 AM](https://user-images.githubusercontent.com/11260919/80489730-43f74180-892e-11ea-9356-90403bcc367d.png)

And here is the sample count information for `Object.<init`>:
![Screen Shot 2020-04-28 at 8 58

[2020-04-28 13:46] DanHeidinga commented on #9381
@gacholio can you look at this?

[2020-04-28 13:50] jdekonin commented on #7791
The remaining work on this issue was complete with the merge of #8819.  I believe this can be closed.

[2020-04-28 13:51] jdekonin commented on #9061
@rajdeepsingh1 do you believe this has been addressed?  Can we close this issue?

[2020-04-28 14:05] vij-singh commented on #9356
@andrewcraik  FYI

[2020-04-28 14:12] rajdeepsingh1 commented on #9061
@jdekonin , yes this has been addressed. Issue can be closed.

[2020-04-28 14:15] #9061 closed

[2020-04-28 14:29] a7ehuo commented on #8505
Ran `400` times of the test on power with the above two changes(https://github.com/eclipse/openj9/issues/8505#issuecomment-619222584, https://github.com/eclipse/openj9/issues/8505#issuecomment-620270397),  no failure is observed so far.

[2020-04-28 14:29] mpirvu commented on #9068
To summarize your experiments: disabling the adaptiveDumbInliner eliminated the difference in number of ticks for `Object.<init>` (and possibly other methods), but did not affect throughput gap.
I would keep adaptiveDumbInliner disabled for the rest of the runs to eliminate one variable and continue to analyze the remaining methods that show a large discrepancy of ticks. For instance HashMap.put s

[2020-04-28 14:31] DanHeidinga commented on #9316
Thanks for the clarification @SueChaplain

[2020-04-28 14:33] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/350
[code]

[2020-04-28 14:40] pshipton opened #9382 "Out of space on aix71-p8-5"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly/58/

[2020-04-28 14:40] pshipton commented on #9382
Not sure if there is anything to be done.
@jdekonin @AdamBrousseau

[2020-04-28 14:43] dchopra001 commented on #9068
I see 210 occurrences of `bcsz=13 java\/util\/HashMap.put(Ljava\/lang\/Object;Ljava\/lang\/Object;)Ljava\/lang\/Object;` in the local verbose log and 248 occurrences in the JITServer verbose log.

That's not what I was expecting (i.e the method being inlined more in the JITServer runs). I'll try to dig deeper to identify the methods where it was inlined in both cases. Perhaps the difference there

[2020-04-28 15:12] AlenBadel commented on #8652
I was looking at the code executed prior to the crash. In some instances, such as the path that involves `MM_IncrementalGenerationalGC::unloadDeadClassLoaders(MM_EnvironmentVLHGC *env)` the GC reserves the mutex much later on, and closer to calling the hook.

I can see in your subsequent comment that the GC thread owns VM exclusive access during the event, so I suspect this was reserved much earli

[2020-04-28 15:13] jdekonin commented on #9382
There is currently 50G free in /home.  Evidence would seem to point to the test requiring lots of space, or there is a lot of failures.

[code]

[2020-04-28 15:21] pshipton commented on #9382
Is 50MB typical for the AIX machines? The only failure was related to insufficient disk space.

[2020-04-28 15:28] #7791 closed

[2020-04-28 15:29] jdekonin commented on #9382
50G not MB and that is just for the /home partition.  jenkins runs jobs out of /home/jenkins/workspace/   This is exactly the same as what the older systems were using.

[2020-04-28 15:34] pshipton commented on #9382
ok, I'll close and see if this happens again.

[2020-04-28 15:49] gacholio commented on #9381
@DanHeidinga Likely not today - still looking at the decomp issue.

[2020-04-28 15:55] sxa commented on #9318
MIssing J9 builds are due to https://github.com/eclipse/openj9/issues/9369

[2020-04-28 16:00] #9015 closed

[2020-04-28 16:17] fuzzy000 opened #9385 "J9(1.8.0_232) and J9(11.0.5): failed to throw VerifyError?"
Java -version output
------------------
The issue happened in following versions:
[code]
[code]

Summary of problem
------------------

We made some changes to a class file in the JUnit project (org.junit.internal.runners.ErrorReportingRunner), and let several JVMs run the corresponding test file (org.junit.internal.runners.ErrorReportingRunnerTest). Here we only kept two JUnit tests in the test f

[2020-04-28 16:24] a7ehuo commented on #9358
I'll look at this one next.

[2020-04-28 16:35] fjeremic commented on #9120
Adding new PR _Write out newline character after the message in verbose output_ to the list.

[2020-04-28 16:38] fjeremic commented on #9120
I've reopened #9227 as we'll need to avoid printing snippets after a crash since we cannot reliably print them before binary encoding. This is further explained in eclipse/omr#5111 which will be addressed at some point in the future. For now, we still want to avoid recursive crashes so we get a proper jitdump out so I'll be addressing that issue in the next few days.

[2020-04-28 16:50] fjeremic opened #9386 "Enable paranoid opt. check for jitdumps resulting from crashes in the optimizer"
I'd like to propose that we enable the `TR_EnableParanoidOptCheck` option when we are generating a recompilation jitdump resulting from a crash whose VMState determines we are somewhere in the optimizer.

Personally I think this change should be made as I don't see too much of a downside to it, and a large benefit that can potentially identify structural problems found in the trees/CFG before an o

[2020-04-28 16:51] fjeremic commented on #9120
Adding new issue (#9386) on a proposal to enable paranoid opt. check for jitdump recompilations.

[2020-04-28 16:52] fjeremic commented on #9386
This issue has been encountered in #8992 where developers requested that paranoid opt checks be enabled for a crash in area of usedef analysis.

[2020-04-28 16:58] fjeremic commented on #9120
Adding new PR (#9387) to address inconsistency in generation of jitdump vs. javacore and other dump triggers. That is, the messages reported and how they are reported are now consistent with javacore, Snap dump, heapdump, etc. and there is no redundant prefixes in the messages.

In addition we use the same function naming convention as javacore and snap dumps to remain consistent with other parts

[2020-04-28 17:45] gacholio commented on #9267
I've got the expected case working, now attempting to make the `IllegalMonitorStateException` case to work.

[2020-04-28 18:21] mpirvu commented on #9197
@harryyu1994 #9243 is merged now, so you could verify this one

[2020-04-28 18:28] sharon-wang commented on #8878
Ran a few more iterations of LibertyStartupDT7, which yielded similar results as above.

For GC, I've collected a few profiles and logs. What sort of data do we want from the profiles and GC logs? Are there specific measurements that we are interested in?

[2020-04-28 18:33] dmitry-ten commented on #9270
I'll look into this.

[2020-04-28 18:44] DanHeidinga commented on #8878
For the profiles, we want to compare the profiles from the combo build to a non-combo build to see which symbols have become hotter.  This helps to identify where we're spending more time.

[2020-04-28 18:55] DanHeidinga commented on #9385
@ChengJin01 can you take a look at this?

[2020-04-28 18:57] ChengJin01 commented on #9385
Will investigate now to see what happened in there.

[2020-04-28 19:10] dmitripivkine commented on #8878
Please send collected GC verbose log files (both combo and non-combo) to me or @amicic

[2020-04-28 20:06] ChengJin01 commented on #5058
I tried a couple of times with the cross-compiled debug build on Fedora/U540 but it always ended up skipping over the breakpoints as follows (which works good on a X86_64 debug build with the same compilation & debug setting)
[code]
I need to check with the Fedora/RISC-V guys at #fedora-riscv/IRC to see whether anything else needs to be set up in compiling with the debug mode. If nothing special,

[2020-04-28 20:09] hangshao0 commented on #9328
I can pick this up.

[2020-04-28 20:11] DanHeidinga commented on #9328
Thanks @hangshao0.  As mentioned on slack, I think the first step is to try and stub these apis with Unsafe.defineAnonyousClass() so we can build 15 again.  Then look at a proper implementation

[2020-04-28 20:14] andrew-m-leonard opened #9389 "jdk8u262-b01: JVM_BeforeHalt impl needed"
Signature: JVM_BeforeHalt()

We already implement for jdk11 : https://github.com/eclipse/openj9/pull/1465

[2020-04-28 21:04] amicic commented on #8878
GC times are about ~10 longer. More or less expected at this stage.

CPU profiles are too short to be meaningful. I asked @sharon-wang generate them again

[2020-04-28 22:33] pshipton opened #9393 "UNB xlinux cent6 machines problems uploading to OSU"
We saw this starting last night trying to upload test results, then early this morning uploading OMR builds, and again just now uploading OMR builds. Seems to occur on cent6 machines. Maybe we should reboot them all. Last night and this morning we saw it on 1, 3, 5, 6.

https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_cm_OMR/574 - cent6-x64-3
https://ci.eclipse.org/openj9/job/Build_JDK11

[2020-04-28 23:18] r30shah commented on #9354
@pshipton  Is it possible to get access to the machine where this is failing consistently? I tried reproducing on the one of our z14 machine running Ubuntu18, but it does not fail. Also tried a grinder on internal infrastructure but it does not fail there as well. As it is failing consistently on the machine, it will be easier to debug.

[2020-04-28 23:24] pshipton commented on #9393
Joe rebooted 1-3, 5, 7. 4 and 6 are busy but will be rebooted later. They've been taken offline.
The failed jobs are restarted, we'll see if they can upload now.

[2020-04-28 23:33] pshipton commented on #9354
Pls open an internal infra issue to request access to ub18-x86-1 and provide your ssh key.

[2020-04-28 23:41] ChengJin01 commented on #9385
I reproduced the issue locally with  OpenJDK11/Hotspot,  OpenJDK8/OpenJ9, OpenJDK9/OpenJ9 and OpenJDK11/OpenJ9 as follows:
[code]
against the bytecode in question at:
[code]
It seems the code in verifier is likely out of sync or some new changes related to verifier were only merged for JDK8 & JDK11 given that only OpenJDK9/OpenJ9 captured the verification error.

Need to further analyze to see wha

[2020-04-28 23:49] pshipton commented on #8770
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_OMR/506
[code]

[2020-04-29 00:09] pshipton commented on #9393
Seems all the restarted jobs passed. 4 & 6 are pending restart, but I'll go ahead and close this.

[2020-04-29 00:27] ChengJin01 commented on #9385
I tried disabling `ClassRelationshipVerifier` & `sharedclasses` but still ended up with the same result:
[code]

[2020-04-29 00:34] JasonFengJ9 commented on #9123
Another occurrence at `Test_openjdk11_j9_sanity.system_x86-64_linux_jit_Nightly/62`.

[2020-04-29 01:17] harryyu1994 commented on #9364
Looks like `addClassForOSRRedefinition(clazz)` was called on JITServer as well, we probably need to send this list (_classForOSRRedefinition) over to the client as well. Unless it's ready done, let me double check.
[code]

[2020-04-29 01:19] harryyu1994 commented on #9364
Yep it's already done
[code]
Now I just need to add a similar one for `_classForStaticFinalFieldModification`

[2020-04-29 01:22] DanHeidinga commented on #9385
@ChengJin01 Can you post the exception tables from the method you pasted the bytecode for?  We need that to see if there's a path that doesn't call super or another ctor of the same class

[2020-04-29 02:16] ChengJin01 commented on #9385
@DanHeidinga , there is no exception table for the method based on the DDR output:
[code]
The corresponding class file also shows there is no exception table is thed <init> method
![image](https://user-images.githubusercontent.com/18036229/80554987-e3ebb400-899c-11ea-95e7-1a27d0344424.png)

Given the major version is 49 (< 51) ,  it seems the stackamp along with the exeception table was created vi

[2020-04-29 02:25] ChengJin01 commented on #9385
The bytecode of another init method without the exception table is:
[code]

[2020-04-29 02:34] #8890 closed

[2020-04-29 03:13] 0xdaryl commented on #9316
Setting aside the operational mechanics, I do support adding at least one interim release between releases for the purpose of delivering a critical fix to an OpenJ9 consumer who cannot wait for the next release.  I think it is an important safety valve for the project to have to deliver an out-of-band fix should it be required.

I imagine the number of fixes to backport in the interim releases wil

[2020-04-29 03:58] pshipton commented on #8890
@cznewbold a fix is merged, nightly builds tomorrow night at AdoptOpenJDK.net should contain the fix.

[2020-04-29 04:22] #9372 closed

[2020-04-29 04:27] AlenBadel commented on #8652
This issue is fairly difficult to reproduce while enabling tracing. I've tried enabling either `TR_VerboseSampling`, or `TR_VerboseHookDetailsClassUnloading` causes the issue to disappear even with aggressive iterations.

Andrew mentioned that the issue could be due the class being unloaded before the classloader. We do have two such paths that unload classes without removing any owned methods fro

[2020-04-29 04:39] pshipton opened #9397 "win2012r2-x86-5 no space left on device to create build"
https://ci.eclipse.org/openj9/job/Build_JDK8_x86-64_windows_Nightly/373
[code]

[2020-04-29 04:42] pshipton commented on #9397
@jdekonin

[2020-04-29 04:44] pshipton commented on #9397
@AdamBrousseau

[2020-04-29 04:48] AlenBadel commented on #8652
@andrewcraik Similarly to MethodHT, the DLT Record table is also not being updated when classes are unloaded. I suspect then we need to clean up both tables since the method is tracked both in `DLTTracking`(`J9Method_HT`), and `DLT_record`.

[2020-04-29 05:48] AdamBrousseau commented on #9397
[code]
https://ci.eclipse.org/openj9/job/Build_JDK14_x86-64_windows_Nightly/80/console
[code]
Not sure why the cleanup build didn't catch this.
9:00pm cleanup didn't hit that machine. May have been offline from the sanitize job? Also Jenkins restarted during the cleanup build so that doesn't help.
2:00pm cleanup, win-5 was marked offline for VS2017 upgrade
11:00am seems like it ran on the machine.

[2020-04-29 08:37] janvrany commented on #5058
Apart from debugging issues, I just tried the same exact build as @ChengJin01 (obtained privately) on my Debian on Unleashed board and I *cannot* reproduce the issue there:
[code]
As you may see, no exception, everything seems fine. SwingSet2 demo seems to work too.

[2020-04-29 10:36] M-Davies commented on #8872
Seen this again on `test-aws-win2019-x64-2`. Same machine as last time. I've kicked off some grinders to see if it's specific to this machine.

[2020-04-29 12:26] #9389 closed

[2020-04-29 12:59] DanHeidinga commented on #9385
@ChengJin01 I'd start by looking at`simulateStacks` and how it propogates the `uninitalizedThis` which may happen (or not) in the `mergeStacks` code.

The other place I'd dig for this is https://github.com/eclipse/openj9/blob/1b35e0a4fd77a8c0c04965af8ac04d21fa4ad659/runtime/bcverify/bcverify.c#L2540

[2020-04-29 13:00] DanHeidinga commented on #8735
Discussed with Babneet - he's going to propose a design for how the new commandline option should interact with the existing -Xrs options.  Once we agree on that - and the spelling of the new option - he'll put together a PR

[2020-04-29 13:58] pshipton commented on #9393
This is still occurring.
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_linux_cm_Nightly/358 - cent6-x64-2
https://ci.eclipse.org/openj9/job/Build_JDK14_x86-64_linux_Nightly/82 - cent6-x64-4

[2020-04-29 13:59] #9377 closed

[2020-04-29 14:18] pshipton opened #9398 "Windows ProcessBuilder/Basic.java '1'< not equal to '0'"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/20
java/lang/ProcessBuilder/Basic.java#id0.Basic_id0
win2012r2-x86-3
[code]

[2020-04-29 14:21] pshipton opened #9399 "Windows ProcessHandle/TreeTest.java not all children have been started"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/20
java/lang/ProcessHandle/TreeTest.java
win2012r2-x86-3
[code]

[2020-04-29 14:24] pshipton opened #9400 "Windows ZipFile/Zip64SizeTest.java OutOfMemoryError"
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_Nightly/20
java/util/zip/ZipFile/Zip64SizeTest.java
win2012r2-x86-3
[code]

[2020-04-29 14:29] pshipton opened #9401 "Missing cache problems on ub16x64j92"
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_extended.functional_x86-64_linux_xl_Nightly/350
ub16x64j92
testSCCMLTests2_0
[code]

testSCCMLSoftmx_0
[code]

[2020-04-29 14:30] pshipton commented on #9397
Similarly win2012r2-x86-3
https://ci.eclipse.org/openj9/job/Build_JDK11_x86-64_windows_OMR/579/

[2020-04-29 14:33] pshipton commented on #9393
Failures to upload test results:
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_extended.functional_x86-64_linux_Nightly/342 - cent6-x64-2

[2020-04-29 14:35] pshipton commented on #9382
Similar problem on aix71-p8-10
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly/64/

[2020-04-29 14:39] pshipton commented on #9393
I've disabled cent6-x64-2 and cent6-x64-4 temporarily and restarted the failed OMR jobs.

[2020-04-29 14:40] jdekonin commented on #9382
That job starts at `04:43:59  There is 48564 Mb free` and ends with `05:24:59  There is 2598 Mb free`.  Why is the test or JVM requiring 48G+ to run?

[2020-04-29 14:41] pshipton commented on #9400
See also #9398 and #9399. Suspect a disk space issue on win2012r2-x86-3.

[2020-04-29 14:41] pshipton commented on #9399
See also #9398 and #9400. Suspect a disk space issue on win2012r2-x86-3.

[2020-04-29 14:41] pshipton commented on #9398
See also #9399 and #9400. Suspect a disk space issue on win2012r2-x86-3.

[2020-04-29 14:55] dmitripivkine commented on #9316
I agree with Daryl.
There is a fundamental problem with current release model (procedure). It is too heavy, not so much automated and required a lot of a manual labor. And we are practicing very early code split.  And there is a set of requirements (mostly external) for release (including reliability). I think would be hard to achieve doubling or even tripling number of releases using this model w

[2020-04-29 14:57] pshipton commented on #9382
`¯\_(ツ)_/¯`

[2020-04-29 14:58] pshipton commented on #9382
Usually it works. It's possible things were left on machines from the unscheduled jenkins restart that occurred last night.

[2020-04-29 15:17] babsingh commented on #8735
### Name

`-XX:DisableAbortHandler`

### Description

Disable the JVM abort handler registered with `SIGABRT`.

### Interaction with `-Xrs` and `-Xrs:sync`

- `-Xrs` and `-Xrs:sync` both disable the JVM abort handler along with disabling other signal handlers ... [-Xrs and -Xrs:sync documentation](https://www.eclipse.org/openj9/docs/xrs/).
- `-XX:DisableAbortHandler` will only disable the JVM abor

[2020-04-29 15:17] mstoodle commented on #9316
Thanks for the additional feedback, everyone!

I want to be clear that the proposal was not to add 8 new releases that are like our current set of 4 quarterly releases (although that's listed as an alternative). I was trying to keep the new releases lightweight, with no feature content (so less documentation work, only release notes). As @0xdaryl suggested, I was imagining only a few high priority

[2020-04-29 15:21] a7ehuo commented on #9358
Just thinking, as long as the `J9ClassHasIllegalFinalFieldModifications` is set,  the compilation will be aborted in the end when committing CHTable. When Optimizer finds that the bit `J9ClassHasIllegalFinalFieldModifications` is set, I wonder if it should abort the compilation already instead of carrying on the compilation.

[2020-04-29 15:32] DanHeidinga commented on #9195
From community call:
* Add a cmake build to the nightly build runs and run tests on the cmake platforms
* Pick a target date for the rollout

[2020-04-29 15:55] pshipton commented on #8735
We should always have enable and disable variations for options, to allow an earlier command line option to be overridden by a later one.

The proposal should be `-XX:+DisableAbortHandler` and `-XX:-DisableAbortHandler. Although perhaps `-XX:+AbortHandler` and -XX:-AbortHandler` would be less confusing.

[2020-04-29 15:59] pshipton commented on #8735
We can just document that -Xrs overrides any `-XX:+AbortHandler` option, and it can only be used to reverse a previous `-XX:-AbortHandler` option.

[2020-04-29 16:03] keithc-ca opened #9402 "Missing audio-input entitlement on macos"
See AdoptOpenJDK/openjdk-build#1720 - any adjustments to `entitlements.plist` will need to be reflected in our extension repos as well:
- [x] jdk8 - ibmruntimes/openj9-openjdk-jdk8#431
- [x] jdk11 - ibmruntimes/openj9-openjdk-jdk11#309
- [x] jdk14 - ibmruntimes/openj9-openjdk-jdk14#66
- [x] jdk15 - ibmruntimes/openj9-openjdk-jdk#208

[2020-04-29 16:17] sxa commented on #9369
We currently restrict the RAM limit given to the build for JDK14/J9 (not for HotSpot or earlier JDK versions) as per https://github.com/AdoptOpenJDK/openjdk-build/blob/master/build-farm/platform-specific-configurations/aix.sh#L110

It may be that we need to start restricting it for all OpenJ9 variants now because the RAM requirements during the build have increased (Currently building with 9 cores

[2020-04-29 16:30] ChengJin01 commented on #9385
@DanHeidinga,

To figure out why VerifyError was thrown out on OpenJDK9 with v0.9.0-release, I compared the master branch and the v0.9.0-release branch in rtverify.c (not difference found in bcverify.c) as follows:
https://github.com/eclipse/openj9/blob/master/runtime/bcverify/rtverify.c#L318
[code]
against
https://github.com/eclipse/openj9/blob/v0.9.0-release/runtime/bcverify/rtverify.c#L310
[cod

[2020-04-29 16:38] gacholio commented on #9381
Looks like a JIT issue - the second test passes when run `-Xint`.

[2020-04-29 17:00] gacholio commented on #9381
Fails with
[code]
Passes with
[code]

[2020-04-29 17:00] DanHeidinga commented on #8735
I'd like it to error out if both `-Xrs` & `-XX:+AbortHandler` are specified.  This will be a very rare corner case that I'd prefer to have the user correct rather than build in additional rules for

[2020-04-29 17:01] gacholio commented on #9381
The test produces a vast amount of output - I suggest running with `| grep "Tests run"`.
A pass results in `Tests run: 2,  Failures: 1` whereas a failure is `Tests run: 2,  Failures: 2`.

[2020-04-29 17:02] dmitry-ten commented on #9270
Ran the test 20 times in [Jenkins](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/7489/), no hangs. Seems the problem is intermittent at best.
Will try running it for more iterations.

[2020-04-29 17:18] ChengJin01 commented on #9385
I double-checked the JVM Spec from Java 7 to 11 as to uninitializedThis when invoking invokespecial as follows:
Java 7 VM Spec
[code]
Java 8, 9, 10 & 11 VM Spec (without any change)
[code]
So the check of uninitializedThis applies to an exception stack frame which we already covered in the existing code.

Now that `ErrorReportingRunner.<init>(Ljava/lang/Class;Ljava/lang/Throwable;)V` (without exce

[2020-04-29 17:37] gacholio commented on #9267
Both of the throw cases from inside the handlers are now working (with the appropriate changes from @cathyzhyi ).

[2020-04-29 17:59] theresa-m opened #9405 "Class verification LocalVariableTypeTable string equality"
https://github.com/eclipse/openj9/pull/9347#pullrequestreview-402332454

Validate this against RI before implementing.

[2020-04-29 17:59] #8505 closed

[2020-04-29 18:04] mpirvu commented on #9358
No, if the JITServer/optimizer sees the  `J9ClassHasIllegalFinalFieldModifications` bit being set, it will not perform the static field folding.
The compilation is aborted only if the optimizer didn't see the bit being set, performed static field folding, but during CHTable commit realized it shouldn't have because the bit was actually set.

[2020-04-29 18:37] #9343 closed

[2020-04-29 18:52] llxia commented on #1775
close this issue as we are working on [smart parallelization](https://github.com/AdoptOpenJDK/openjdk-tests/issues/1563)

[2020-04-29 18:52] #1775 closed

[2020-04-29 19:05] mpirvu opened #9406 "Update JITServer build documentation"
The documentation still mentions protobufs which we have eliminated.

[2020-04-29 19:10] harryyu1994 commented on #7508
@mpirvu Hi Marius, this one can be closed now.

[2020-04-29 20:52] #1575 closed

[2020-04-29 20:52] #5781 closed

[2020-04-29 20:52] #6767 closed

[2020-04-29 20:52] #9057 closed

[2020-04-29 20:57] dmitry-ten commented on #9191
I'm trying to run this test on hyc-jenkins, but get this error when trying to get jdk:
[code]
Any ideas why?

[2020-04-29 20:58] keithc-ca commented on #9365
I believe the concerns here are addressed by #9371.

[2020-04-29 20:58] #9365 closed

[2020-04-29 21:01] #9110 closed

[2020-04-29 21:11] #7508 closed

[2020-04-29 22:04] pshipton commented on #9191
Adopt doesn't build jdk15 yet.

[2020-04-29 22:07] pshipton commented on #9197
https://ci.eclipse.org/openj9/job/Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_OpenJDK8/35
[code]

[2020-04-29 22:33] JasonFengJ9 opened #9410 "JDK15 valhalla j9vm.549 * ** ASSERTION FAILED ** at swalk.c:1497: ((0 ))"
Failure link
------------

From an internal build `Test_openjdkValhalla_j9_sanity.functional_x86-64_linux_valhalla_Nightly/24`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]
For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following li

[2020-04-29 22:50] ChengJin01 commented on #9385
1) I went through the code in `simulateStacks `& `setInitializedThisStatus ` and didn't find out anything incorrect in logic when generating stackmaps & setting up the uninitializedThis flag.

2) the existing code in `matchStack` is to address an security issue with try/catch exception (escape without initialization) in an internal defect, which is also correct in throwing out verification error w

[2020-04-29 22:52] JasonFengJ9 commented on #9191
Also occurred at `Test_openjdk8_j9_sanity.functional_x86-64_linux_xl_Nightly/367`
[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links:  https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=openj9&BUILD_LIST=functional&PLATFORM=x86-64_linux_xl&TARGET=testJITServer_0

[2020-04-30 08:26] mpirvu commented on #9364
Fixed by 9396

[2020-04-30 08:26] #9364 closed

[2020-04-30 08:34] mpirvu commented on #4445
If I remember correctly, @dmitry-ten tracked this to be due to some bad code emmitted at hot in presence of GCR. Using `disableGuardedCountingRecompilation` circumvents the issue. I'll code this in, since GCR was originally meant to upgrade from cold to warm and not from hot to very-hot.

[2020-04-30 08:39] M-Davies opened #9416 "VM build failure - VMState: 0x00050080 or 0x000501ff"
Got this on https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9/573 (`build-macstadium-macos1014-1`)
[code]
Access to the machine can be granted by opening an issue at https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues

[2020-04-30 12:29] sxa commented on #9369
Reducing the RAM allowed to it (configure setting only one core to use) has made no difference

[2020-04-30 13:34] pshipton commented on #9416
Also seen here https://github.com/eclipse/openj9/issues/9291

[2020-04-30 14:48] pshipton commented on #9382
Today it's aix71-p8-1
https://ci.eclipse.org/openj9/job/Test_openjdk11_j9_special.system_ppc64_aix_Nightly/70

[2020-04-30 15:19] andrewcraik commented on #9416
@cathyzhyi might this be related to the AOT issues we have been looking at?

[2020-04-30 15:50] mstoodle commented on #9316
One user endorsement via twitter: https://twitter.com/kjjaeger/status/1253172900837961733

[2020-04-30 15:57] cathyzhyi commented on #9416
This failure seems very likely a `owning method and cpIndex mismatch` issue but we would need a backtrace to tell the root cause.

[2020-04-30 16:12] sharon-wang commented on #8878
Updated SPECjbb2015 Results

**COMPOSITE + PRESET, IR = 5000 - perf diff**
![image](https://user-images.githubusercontent.com/25834218/80730255-5660af00-8ad7-11ea-8d7e-2de9c992ecb7.png)

**COMPOSITE + PRESET, IR = 7000 - perf diff**
![image](https://user-images.githubusercontent.com/25834218/80733319-8ca02d80-8adb-11ea-804d-d0af909078bb.png)

**COMPOSITE + PRESET, IR = 20000 - perf diff**
![image]

[2020-04-30 16:29] amicic commented on #8878
Original runs were with -Xnocompressedrefs. Maybe there is something specific to it that led to so big difference.
The machine is also different, and heap sizing is also a bit different, but I would not think they would be a cause for such big difference.
Anyhow, nonCR should be tried, again.

[2020-04-30 16:31] gacholio commented on #8878
I find it odd that the lower heap sizes are showing better results.

[2020-04-30 16:40] amicic commented on #8878
Run-to-run variation is easily 3%.

We did not pick the right combo of heap sizes to emphasize the difference between low and high GC overhead scenarios, either. When I picked large heap (10G Nursery) I assumed small will be 4G (like in the original runs), so about 2.5x smaller GC overhead. But I should've also picked even larger than 10G.

[2020-04-30 17:29] dmitripivkine commented on #9123
[code]

[2020-04-30 17:34] sharon-wang commented on #8878
I can do some more runs: one set with compressed refs and one without. Are we interested in both COMPLIANT and PRESET runs?

What is suggested for the heap settings? I can use `-Xms6g -Xmx6g -Xmn4g` for small - what is recommended for a larger heap size?

[2020-04-30 17:49] amicic commented on #8878
Let's do compliant runs only for nonCR. If we indeed reproduce the big gap on GC perf machine, then will do PRESET runs and with CPU profiles.

large: -Xmx24G -Xms24G -Xmn20G
small: -Xmx6G -Xms6G -Xmn4G

[2020-04-30 18:26] rpshukla commented on #7247
I’ve been trying to find documentation from apple on the change from the unlocked to the locked versions of libc. So far I haven’t been able to find anything relevant. Looking at the source code, I think this lock was added to protect the static memory accessed by a call to a function called `_NSGetEnviron`.

Again, here is the source for the locked version of getenv : https://opensource.apple.com

[2020-04-30 18:37] andrewcraik commented on #7247
so it seems to me like they are serializing the access to make it thread safe (or more thread safe) and so the older versions are suffering from the lack of thread safety. I wonder what other APIs (apart from putenv/setenv etc) could modify NSGetEnviron - that might tell us what APIs we need to check for in a trace of system calls to see where the thread race might be.

I guess it is possible the

[2020-04-30 18:58] amicic commented on #5615
@akrus is this still an outstanding issue? could we close this?

[2020-04-30 20:09] gacholio commented on #9410
The error code is `BCT_ERR_STACK_MAP_FAILED` which doesn't provide us any new information.

[2020-05-01 00:02] JasonFengJ9 opened #9424 "JDK8 JIT Server j9mm.479 * ** ASSERTION FAILED ** at ../../gc_glue_java/MarkingSchemeRootMarker.cpp:53"
Failure link
------------

From an internal build `Test_openjdk8_j9_extended.system_x86-64_linux_jit_Nightly/64`:
[code]

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

For example, to rebuild the failed tests in <Jenkins URL>=https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder, use the following links: https://

[2020-05-01 00:10] JasonFengJ9 opened #9425 "JDK8 Mac build ABORTED : FAILED TO establish the default connection to the WindowServer, _CGSDefaultConnection() is NULL"
Failure link
------------

From an internal build `Build_JDK8_x86-64_mac_cm_Nightly/1`.

Optional info
-------------

Failure output (captured from console output)
---------------------------------------------

[code]

[2020-05-01 00:46] pshipton commented on #9425
@dnakamura @DanHeidinga

[2020-05-01 00:47] pshipton commented on #9424
@mpirvu

[2020-05-01 01:30] vijaysun-omr commented on #9239
@dinogun what do you think about this technique to get the "request" size via env var in the JVM ?

[2020-05-01 12:46] fuzzy000 commented on #9385
Thanks for your hard work!

By the way, may you also check these two issues? [https://github.com/eclipse/openj9/issues/9357](https://github.com/eclipse/openj9/issues/9357) [https://github.com/eclipse/openj9/issues/9336](https://github.com/eclipse/openj9/issues/9336) @DanHeidinga

[2020-05-01 13:27] DanHeidinga commented on #9385
@fuzzy000 we're still working our way though this one =)

The other two are both in the milestone for our next release and will get attention before then.  These are tricky issues that take time and discussion to ensure we're implementing the spec correctly and fixing any issues in the best way.

They're definitely on the list though!

[2020-05-01 13:27] dmitripivkine commented on #9424
most likely duplicate of https://github.com/eclipse/openj9/issues/9123

[2020-05-01 13:53] dnakamura commented on #9126
This one is proving difficult to track down. Even remoting into a ci machine which has failures, I can't get the issue to reproduce, even though it seems to happen fairly reliably in ci builds. My command line is copy pasted straight out of the jenkins log, and I'm not seeing any obvious differnces in the shell environment

[2020-05-01 14:35] gacholio opened #9427 "Add testcase for synthetic exception handlers"
We need an automated test for #9267 once all of the required changes have been merged. I have a couple of non-automated tests already (run with a java debugger) - converting them should be simple enough.

[2020-05-01 14:55] Leonardo2718 commented on #8823
@DanHeidinga I've been trying to get some cores using `-Xdump` but so far, I haven't been able to get anything for the exceptions from the stack trace. I do get core files when I filter for other exceptions classes though (e.g. I have several cores for `org/gradle/initialization/ReportedException`). Do you have any ideas that could help?

[2020-05-01 14:58] dnakamura commented on #9425
hmm. No immediate ideas of what it could be, although it is interesting that it seems to hang up right around the time it generates the ddr files, maybe related to #9126, or possibly a coincidence

[2020-05-01 15:10] pshipton commented on #9425
It's an OpenJ9 jdk8 known problem that occurs when trying to use awt, no idea why it's triggered by the cmake build.

https://github.com/eclipse/openj9/issues/7050#issuecomment-570296489