[2019-02-22 18:42] pshipton commented on #4839
I also noticed `No such property: SLACK_CHANNEL for class: groovy.lang.Binding`
[code]

[2019-02-22 18:42] pshipton commented on #4839
@jdekonin @AdamBrousseau

[2019-02-22 18:44] akrus commented on #4769
I was just checking another server and noticed a strange thing:
![image](https://user-images.githubusercontent.com/36325/53263527-5189b980-36e2-11e9-9de3-5294a07dcab3.png)
As you can see 'free heap' is constantly decreasing.
Here is max quantum times:
![image](https://user-images.githubusercontent.com/36325/53263564-6d8d5b00-36e2-11e9-8885-3c002960ea6c.png)

Can it be a memory leak?

[2019-02-22 18:47] gita-omr commented on #4751
We are pretty sure it's common issue but @IBMJimmyk will take a look to confirm.

[2019-02-22 18:49] gita-omr commented on #4334
@R-Santhir was able to get a tracefile for a similar defect and it definitely points to the Unsafe Fast Path optimization so removing comp:jit:p. @andrewcraik @fjeremic

[2019-02-22 18:57] AdamBrousseau commented on #4839
Git name/email resolved. Will open a PR for the SLACK_CHANNEL

[2019-02-22 19:07] #4839 closed

[2019-02-22 19:14] martinlippert commented on #4799
@pdbain-ibm Okay, I understand the reasons now, thanks for providing the details, much appreciated. Do you have any thoughts on maybe a different way to identify JVM processes on the local machine in an JVM-implementation-independent way? I somehow cannot stop thinking about a different/better solution for this JVM process discovery and JMX attaching... :-)

[2019-02-22 19:17] andrewcraik commented on #4334
yup @liqunl is on it

[2019-02-22 19:36] #4667 closed

[2019-02-22 20:30] pdbain-ibm commented on #4799
There are a couple of options.  If your application has access to the launcher of both JVM types, it could launch child OpenJ9 and HotSpot JVMs with a small application which calls `VirtualMachine.list()` in both, and combines the results.  A HotSpot JVM could also discover the VMs the same way OpenJ9 does, by scanning the attach API common directory, though that is tricky.

Probably the best way

[2019-02-22 20:52] pshipton commented on #4293
@jdekonin are the following on the Windows path when running testing?

/cygdrive/c/OpenSSL-1.1.1-x86_64
/cygdrive/c/OpenSSL-1.1.1-x86_32

[2019-02-22 21:05] IBMJimmyk commented on #4751
I'm looking at the corefile here:
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/492/
JVM from here:
https://ci.eclipse.org/openj9/job/Build-JDK11-aix_ppc-64_cmprssptrs/583/

//The backtrace looks like this:
0x090000038cd45c6c {libj9jit29.so}{getSuperClass__18TR_J9SharedCacheVMFP19TR_OpaqueClassBlock} [0x1209a6ae0]
0x090000038c3908ec {libj9jit29.so}{__ct__15TR

[2019-02-22 21:26] gita-omr commented on #4751
@IBMJimmyk do you know if it's an AOT compile by any chance? @dsouzai

[2019-02-22 21:28] gita-omr commented on #4751
In any case, most unlikely it is Power specific.

[2019-02-22 21:33] samuel-rubin opened #4845 "Docker build failed on ub16x64j96"
While I was building a docker container on ub16x64j96, I got this error (https://ci.eclipse.org/openj9/view/Build/job/Build-Jenkins-Agent-Container/45/console):
[code]
The same build worked on a different machine. I removed the `sw.tool.docker` label from the machine.

[2019-02-22 22:02] pshipton commented on #4845
@jdekonin

[2019-02-22 22:07] dsouzai commented on #4751
This is very likely caused as a result of @aviansie-ben's change in https://github.com/eclipse/openj9/pull/4729 fixed the improper J9Class materialization. Also given that the test is running `-Xcompressedrefs -Xjit -Xgcpolicy:gencon -Xshareclasses:name=bcienabled,enableBCI` this is very likely an AOT compile.

My concern is the following:

in `TR_VMFieldsInfo::TR_VMFieldsInfo(TR::Compilation * co

[2019-02-22 22:49] IBMJimmyk commented on #4751
I was talking with @dsouzai and was able to determine the value of `aClazz` from the corefile. It was not null.
[code]

It is not immediately obvious why `getSuperClass` is failing and returning NULL.

After talking with Irwin, it sounds like this problem will not occur under the upcoming new AOT system so it is not clear if this is a priority to fix.

[2019-02-22 23:07] #4833 closed

[2019-02-22 23:15] dsouzai commented on #4751
Heh, after talking to @jdmpapin , this problem **is** actually possible even with AOT w/ SVM. Conceptually it shouldn't be possible; however, because we don't share class chains (i.e. the parent's class chain being a subset of the child's class chain), we can fail to store it to the SCC because we ran out of space.

Therefore, perhaps the simplest solution is to abort the compile if we get `NULL`

[2019-02-22 23:21] gita-omr commented on #4751
@dsouzai thanks a lot for the analysis. But I think we need some work-around for now, e.g. aborting AOT compilation whether this issue affects SVM or not (seems like it does).

[2019-02-23 00:10] aviansie-ben commented on #4242
The last PR for this work has been merged, so this issue can be closed now.

[2019-02-23 00:44] gita-omr commented on #4751
@aviansie-ben fyi

[2019-02-23 00:49] #4242 closed

[2019-02-23 01:08] dsouzai opened #4847 "Implement class sub-chains"
Currently, if a class (lets say `Foo`) has a class chain stored in the SCC, if we try to remember `Foo`'s parent (lets say `Bar`), we do not reuse part of `Foo`'s class chain, even though `Bar`'s class chain is fundamentally a subset of `Foo`'s class chain. Instead, we store `Bar`'s own class chain separately.

By changing the way class chains are structured in the SCC to allow such reuse, we not

[2019-02-23 01:15] dsouzai opened #4848 "AOT support for JProfiling"
Important information provided by @r30shah

Block Frequency Info : For this, JIT'd code contain code that reference to Static address holding counters. And while AOT load, it needs to serialize BitVector that holds information about CFG structure and location of counters in JIT'd code plus Information to derive Frequency of uncounted  blocks. Optimization Performed in : https://github.com/eclipse/

[2019-02-23 01:17] dsouzai opened #4849 "AOT Support for OSR"
This will enable NextGenHCR on AOT, improving performance. It also means we can enable NextGenHCR during startup for AOT compiles, since we will get all of its benefit without paying the compile time cost in the load run.

[2019-02-23 01:23] dsouzai opened #4850 "AOT Support for Method Handles"
Currently there is no way to generate AOT code for Method Handles. However, in Java 11 (technically from Java 9), String concatenation is done via `invokedynamic`. Lambdas are also implemented using Method Handles. As the uses of Method Handles increases, it becomes more important to enable AOT support. ~While it may have been extremely difficult to impossible in the past, with the SVM, it is now

[2019-02-23 01:42] keithc-ca commented on #3641
Creating a `jmod` fails without the workaround because the validation done by `ClassLoader.defineClass` fails for class names containing `/`:
[code]

[2019-02-23 01:43] keithc-ca commented on #3641
`java.lang.Access` must be less stringent than `ClassLoader`, but more so than `Unsafe`.

[2019-02-23 02:30] smlambert commented on #4834
As I mentioned in slack discussion, this could be considered a 'user error', but agree that its not optimal and we should likely 'foolproof' and protect users from themselves, so potentially create a final test that checks what ran, if the answer is 0 tests that final test should fail.

[2019-02-23 03:24] #2377 closed

[2019-02-23 12:46] pshipton opened #4851 "system testing not running for jdk12"
Another reason to "fail" a build if no testing runs. I didn't notice this earlier.

Below is one example, but see the entire build at https://ci.eclipse.org/openj9/blue/organizations/jenkins/Pipeline-Build-Test-JDK12/detail/Pipeline-Build-Test-JDK12/5/pipeline/60

https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK12-aix_ppc-64_cmprssptrs/1
[code]

[2019-02-23 12:46] pshipton commented on #4851
@smlambert

[2019-02-23 16:47] smlambert opened #4852 "Add greaterThanZeroTestsWereRan test"
TKG runs test targets and [summarizes them at the end of the test run](https://github.com/eclipse/openj9/blob/master/test/TestConfig/scripts/testKitGen/resultsSummary/resultsSum.pl#L139).

We will add a final test at the end of a TKG run that checks if more than zero test targets were run, if so, this test passes.  If not, this test fails and will report the test run as failed.

[2019-02-23 18:05] pshipton commented on #4643
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-aix_ppc-64_cmprssptrs/586

[2019-02-24 02:51] #3850 closed

[2019-02-24 04:37] ChengJin01 commented on #4098
Dump file shows the problem occurred at
[code]
against the code as follows at /openj9-openjdk-jdk11/src/java.base/share/native/libjimage/imageDecompressor.cpp:
[code]
Debugging shows ZipInflateFully was set to NULL which led to the crash above.

Further debugging indicates the problem originated from the initialization of decompressor:
[code]
According to the explanation at https://docs.microsoft.

[2019-02-24 12:13] pshipton opened #4853 "jdk12 intermittent test build failure os.name property value ${java8.os.name} not recognised"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK12-linux_390-64_cmprssptrs/3
[code]

[2019-02-24 12:31] pshipton commented on #3576
Moved to 0.14 release.

[2019-02-24 12:35] pshipton commented on #2049
@DanHeidinga can this be closed, or moved out of 0.13?

[2019-02-24 14:49] theresa-m commented on #4195
all prs have been merged

[2019-02-24 14:49] #4195 closed

[2019-02-24 17:26] fjeremic commented on #3576
@pshipton actually we're just waiting on a committer to pick up #4730 and merge it for this issue to be closed. Do you want to be that committer?

[2019-02-24 19:56] pshipton commented on #3576
Sure

[2019-02-24 19:59] #4571 closed

[2019-02-24 21:17] #3576 closed

[2019-02-25 01:36] knn-k opened #4854 "AArch64: Enable building AArch64 JIT when ready"
PR #4447 disables building the JIT for aarch64 temporarily.
Remove `<exclude-if condition="spec.linux_aarch64.*" />` for `j9jitlauncher` from `runtime/compiler/module.xml` when the aarch64 JIT becomes buildable.

[2019-02-25 01:53] knn-k opened #4855 "AArch64: Implement StackCheckFailureSnippet"
`StackCheckFailureSnippet` needs to be implemented for aarch64.
The register for `JIT_STACK_OVERFLOW_SIZE_REGISTER` in `runtime/codert_vm/cnathelp.cpp` needs to be determined along with it.

[2019-02-25 01:54] knn-k commented on #4855
See review comments in #4447.

[2019-02-25 06:49] pverkest commented on #4050
It seems to be fixed in openj9-0.12.1, but I'd still like to know whether I can limit the amount of memory the JIT/AOT takes in any way?

[2019-02-25 11:22] ashu-mehra commented on #4050
@mpirvu is `-Xjit:scratchSpaceLimit=<in KB>` something that can be used for this?

[2019-02-25 13:44] mpirvu commented on #4050
Yes, `-Xjit:scratchSpaceLimit= ` can be used to cap the amount of scratch memory used by the JIT compiler. There is another mechanism that should kick in though: when the JIT needs to allocate a new 16MB segment for its needs, it check the available amount of physical memory and aborts the compilation in progress if satisfying that request would reduce the amount of free physical memory too much (

[2019-02-25 13:52] SueChaplain commented on #3421
@gita-omr is this now moved to 0.14.0 please?

[2019-02-25 13:59] andrew-m-leonard opened #4857 "JDKhead: InvokerBytecodeGenerator.HIDDEN_SIG not defined"
Latest "to be merged" openjdk"head" stream build fails:
https://hyc-runtimes-jenkins.swg-devops.com/job/Build-JDKnext-linux_x86-64_cmprssptrs/128/consoleFull

11:12:33 /home/jenkins/workspace/Build-JDKnext-linux_x86-64_cmprssptrs/src/java.base/share/classes/java/lang/invoke/MethodHandleImpl.java:1269: error: cannot find symbol
11:12:33             AnnotationVisitor av0 = mv.visitAnnotation(Invoker

[2019-02-25 14:02] gita-omr commented on #3421
No, it's in 0.13. We generally try to keep milestone field up to date.

[2019-02-25 14:03] pdbain-ibm commented on #2378
Implemented in 0.13.

[2019-02-25 14:03] #2378 closed

[2019-02-25 14:04] andrew-m-leonard commented on #4857
Introduced by: 8213234: Move LambdaForm.Hidden to jdk.internal.vm.annotation

[2019-02-25 14:09] andrew-m-leonard commented on #4857
See git@github.com:andrew-m-leonard/openj9-openjdk-jdk.git openj9 branch

[2019-02-25 14:09] pshipton commented on #4857
@DanHeidinga

[2019-02-25 14:40] liqunl commented on #4334
@jdmpapin is working on the fix.

[2019-02-25 14:49] DanHeidinga commented on #4857
@JasonFengJ9 Can you take a look at this?

[2019-02-25 15:04] pdbain-ibm opened #4858 "Implement jstack: display runtime state of a Java process"
Suggested command syntax:
`jstack <option>* <pid>*`
`<pid>*` is a list of target process IDs; if none are supplied, the PID(s) are read from `stdin`.  A user may then query all processes via `jps -q | jstack`.  IDs of dead processes are silently ignored.
By default, `jstack` prints the Java stacks and thread information of the specified processes: this essentially the information in `java.lang.man

[2019-02-25 15:07] pdbain-ibm commented on #4655
@pshipton @SueChaplain @DanHeidinga
I drafted a spec for `jstack` here: _Implement jstack: display runtime state of a Java process_ #4858
Your comments are welcome.

[2019-02-25 15:18] vesuppi opened #4859 "DaCapo Exceptions"
Hi,

I ran into some errors on some benchmarks in DaCapo. Note that the JVM didn't segfault or anything. It's just the benchmark threw Java exceptions while it ran fine with hotspot jvm.

## DaCapo
I used the default DaCapo version, which can be downloaded from https://sourceforge.net/projects/dacapobench/files/latest/download.

## OpenJ9 Build
I used the docker build environment from https://www.

[2019-02-25 15:21] mpirvu commented on #4050
@pverkest  You indicated that your command line is `-Xjit:verbose={compilePerformance} -Xaot:verbose={compilePerformance} -Xtune:virtualized -verbose:init -verbose:sizes -verbose:gc -Xmx128m -Xcodecachetotal16m -Xquickstart -Xaot` and I would like to offer a few suggestions on this topic:
1) You don't need to specify `verbose={compilePerformance}` twice (once under -Xjit and once under -Xaot). Jus

[2019-02-25 15:42] DanHeidinga commented on #4859
@vesuppi Can you try running with the `-XX:+PositiveIdentityHash` commandline option?  If it's easier, it can be put in an environment variable like `export OPENJ9_JAVA_OPTIONS="-XX:+PositiveIdentityHash"` when running the application.

I found https://coderanch.com/t/617050/languages/ArrayIndexOutOfBounds-error-unmarshalling which suggests the code is using the hashcode to index into an array and

[2019-02-25 15:44] llxia opened #4862 "BUILD_LIST cannot set to empty in upstream build"
`BUILD_LIST` is not a required value by test job. It has a default value set in test job. The upstream build can overwrite it, but the upstream build cannot set it to empty.

https://ci.eclipse.org/openj9/job/Pipeline-Build-Test-JDK11-osx_x86-64_cmprssptrs/233/console
[code]

Set it to empty, it will cause test job to fail. Currently, we got false positive result.

https://ci.eclipse.org/openj9/vi

[2019-02-25 15:45] llxia commented on #4862
fyi @AdamBrousseau @pshipton

[2019-02-25 15:46] vesuppi commented on #4859
Great that seemed to have fixed tradebeans. But tradesoap had a new error. Let me update the error in a bit.

[2019-02-25 15:47] llxia commented on #4862
To fix this, the upstream builds can simply not set BUILD_LIST.

[2019-02-25 15:53] pshipton opened #4863 "Pull Request builds broken?"
Not sure what might have changed to cause this.

https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-osx_x86-64_cmprssptrs-OpenJ9/146
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-linux_ppc-64_cmprssptrs_le-OpenJ9/239
[code]

[2019-02-25 15:54] pshipton commented on #4863
@AdamBrousseau

[2019-02-25 16:16] pshipton commented on #4863
User error.

[2019-02-25 16:16] #4863 closed

[2019-02-25 18:25] llxia commented on #4862
After further investigation, this issue may due to recent TKG changes. fyi @renfeiw
As we noticed the similar test build failure in AdoptOpenJDK  (openJDK regression test and system test builds). Functional test builds are fine.

The upstream builds should not pass in empty `BUILD_LIST` to overwrite the default value. However, the test script ia able to handle this case and tries to set it based o

[2019-02-25 18:25] gita-omr commented on #3421
Sorry, just noticed @vij-singh question. This is definitely in 0.13.

[2019-02-25 18:28] JasonFengJ9 commented on #4857
Looking at it.

[2019-02-25 18:56] SueChaplain commented on #3421
@gita-omr - please can you revisit the docs issue you created a while back (https://github.com/eclipse/openj9-docs/issues/134) to see if you can provide any further information. It implies that the info will be similar to that for z, except that is definitely moved in to 0.14. Thanks!

[2019-02-25 19:08] keithc-ca commented on #3641
It can be triggered more easily with `sun.reflect.inflationThreshold=0`:
[code]

[2019-02-25 19:15] AdamBrousseau commented on #4862
@llxia Should we remove the feature of the OpenJ9 pipelines passing BUILD_LIST then? @vsebe originally added it but I don't think it's heavily used. I think the originally use case of why it was added is no longer needed.

[2019-02-25 19:18] gacholio commented on #4859
We're also always interested if a problem can be reproduced with `-Xint` on the command line.

[2019-02-25 19:18] #4751 closed

[2019-02-25 19:36] babsingh commented on #4464
@JasonFengJ9 This issue can be closed if the failure hasn't been noticed recently.

[2019-02-25 20:00] JasonFengJ9 commented on #4464
@babsingh this is an intermittent failure and didn't go away yet.
Feb 21, 2019 - https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-osx_x86-64_cmprssptrs/74/tapResults/
Feb 20, 2019 - https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-osx_x86-64_cmprssptrs/73/tapResults/

[2019-02-25 20:16] fengxue-IS commented on #3611
https://github.com/eclipse/omr/pull/3611

I have wrote a prototype for using `madvise` to set hugepage flag for nursery region in gencon as @amicic have suggested.

FYI @dmitripivkine @DanHeidinga

[2019-02-25 20:19] renfeiw commented on #4862
@llxia I have a PR to fix this issue: #4866

[2019-02-25 20:32] liqunl opened #4869 "Check bytecode info for nodes created in ilgen are correct"
Incorrect bytecode info can cause OSR related issues such as https://github.com/eclipse/omr/pull/3603. https://github.com/eclipse/omr/pull/3603 can't fix the problem if the bytecode info is incorrect in Walker. Thus we have to make sure all nodes have correct bytecode info to avoid a future bug.

[2019-02-25 20:36] llxia commented on #4862
As the test script can handle empty `BUILD_LIST` case well when `TARGET` is set to standard group (sanity.XXX/extended.XXX/special.XXX group), I think we can keep the feature for now.

Just be aware, when rerun the test build with a non-standard group `TARGET` (i.e., specific test) and empty BUILD_LIST, test build will not work.

[2019-02-25 20:43] gita-omr commented on #3421
Yeah,  I meant that the description of software-based CS is the same on Intel, Power, Z (if enabled). As of 0.13 it will be enabled on Intel and Power. Let me review the docs once again to make sure they are up to date in terms of which platform the feature is being enabled.

[2019-02-25 21:04] gacholio opened #4872 "Allow non-vTable methods to be added/removed during class replacement"
The addition or removal of methods which do not affect the shape of the vTable should be allowed in fast HCR.

Methods which never appear in the vTable are:

- private instance metheirhods
- static methods

Methods which do not need to appear in the vTable but currently do:

- final instance methods which do not override

New final methods should follow the invokeprivate path. This is likely a mat

[2019-02-25 21:17] pshipton commented on #4862
I assume this is related to #4851?

[2019-02-25 21:20] huntc commented on #4050
Is there anything in openj9-0.12.1 or prior that could have improved container memory dimensioning?

[2019-02-25 21:41] #4782 closed

[2019-02-25 22:03] pshipton commented on #3421
@gita-omr can this Issue be closed now?

[2019-02-25 22:15] gita-omr commented on #3421
Yes, I just should not that we enabled this on Power Linux LE and AIX. We will open an issue for 0.14 for software-based CS on Linux BE. I will update documentation accordingly.

[2019-02-25 22:15] #3421 closed

[2019-02-25 22:38] fjeremic commented on #4526
I have a trace log now with tracing and I'm able to reproduce. Here is what I see from the log:

[code]

We spill a collected reference (`&GPR_0787`) into an HPR register, and then later on require that the same collected reference be in a GPR:

[code]

What ends up happening is that the logic in `OMR::Z::Machine::freeHighWordRegister` [1] has determined that `&GPR_0787` is **NOT** spilled to an H

[2019-02-25 22:45] fjeremic commented on #4609
FYI another very nasty issue which was thankfully caught by one of the new fatal asserts I've put in has been identified related to HPR spilling in #4526. We lost track of where a virtual register resided as part of local RA, and without RA this almost certainly is a runtime bug of an exotic kind.

[2019-02-25 22:50] 0xdaryl commented on #4609
That's cool.  Have you made a decision on what you plan to do with the HPR support?

[2019-02-25 23:01] fjeremic commented on #4609
No not yet, still waiting on some feedback from @joransiu as he is a stakeholder in this. I'm not very keen on keeping support to be honest in light of all the data points I've raised.

[2019-02-26 00:04] gita-omr commented on #2332
@zl-wang fyi

[2019-02-26 00:45] dsouzai opened #4875 "AOT/Sharedclasses PR Testing"
Thanks to the test team's great work on getting AOT support on testing, it is now possible to enable AOT on ordinary tests by using `TEST_FLAG=AOT` (see https://github.com/eclipse/openj9/issues/3774#issuecomment-448710363). Additionally, the infra team has also been doing good work to have PR builds be, in essence, pipeline builds (see https://github.com/eclipse/openj9/issues/2728) as well as to s

[2019-02-26 02:05] gacholio commented on #2768
Once #4876 is merged, any bootstrap class can be annotated with `com.ibm.oti.vm.J9INTERNAL_CLASS` to prevent it from being modified during load, or redefined later.

[2019-02-26 02:05] gacholio commented on #2768
Note the annotation is `NOT` inherited - every class that wants it must declare it.

[2019-02-26 03:48] llxia commented on #4862
yes, it is the same issue as #4851.

[2019-02-26 03:52] pshipton commented on #4851
Closing, assuming fixed.

[2019-02-26 04:38] DanHeidinga commented on #4465
This didn't make the `0.13.0` milestone.  Retargeting to `0.14.0`

[2019-02-26 04:41] pshipton opened #4880 "PR build failed for no reason"
I can't see why this PR build failed.

https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-linux_ppc-64_cmprssptrs_le-OpenJ9/837

[2019-02-26 04:42] pshipton commented on #4880
@AdamBrousseau @smlambert

[2019-02-26 04:49] DanHeidinga commented on #2049
@fjeremic @gita-omr @andrewcraik can you confirm that the JIT work on your respective platforms is complete?

[2019-02-26 04:57] pshipton commented on #4658
@JasonFengJ9 are you working on this?

[2019-02-26 04:58] DanHeidinga commented on #4540
@sharon-wang Can you take a look at this?

[2019-02-26 08:36] knn-k opened #4883 "Call to fixPersistentMethodInfo() is not guarded by #if - #endif"
`fixPersistentMethodInfo()` is declared in a `#if` - `#endif` block in `runtime/compiler/runtime/J9Runtime.hpp`.
On the other hand, `applyRelocation()` in `runtime/compiler/runtime/RelocationRecord.cpp` calls the function without a matching `#if` - `#endif` guard.

[2019-02-26 12:33] pshipton commented on #4201
This problem still occurs. The nightly system tests weren't running for a while, but they are running again now.

https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-win_x86/176/
[code]

[2019-02-26 12:33] pshipton commented on #4201
@dsouzai

[2019-02-26 13:32] jdekonin commented on #4293
No, there is nothing added to the path for openssl, regardless of job.  I believe the actual location, at least according to the playbooks, is /cygdrive/c/openjdk/OpenSSL*.  Is windows smart enough to use the 32/64bit version needed for the test if both are on the path?

[2019-02-26 14:07] pshipton commented on #4851
@smlambert @llxia
system testing is still not working for jdk12 builds. Possibly we just need #4866 to be ported to the 0.13 branch please.

[2019-02-26 14:24] hzongaro opened #4885 "Crash due to isFinalizable test left behind for non-contiguous stack allocated object"
We're seeing an intermittent crash running the `TreeMapFactory` system test.

[2019-02-26 14:26] pshipton commented on #4293
I believe so.

[2019-02-26 14:28] JasonFengJ9 commented on #4658
@pshipton will pick it up today.

[2019-02-26 14:39] hzongaro commented on #4885
The problem appears to be with an inline `isFinalizable` test that's left behind for an object that was made discontiguous, stack-allocated by Escape Analysis.

Before Escape Analysis we have these trees:

[code]

After Escape Analysis, we're left with these trees, in part:

[code]

The problem is that the code in `isFinalizableInlineTest` that performs pattern matching for `isFinalizable` does no

[2019-02-26 14:46] BillOgden commented on #4540
Sorry, but when I go to your shortURL I see nothing about RESOLVER.

Bill Ogden

From:   Dan Heidinga <notifications@github.com>
To:     eclipse/openj9 <openj9@noreply.github.com>
Cc:     BillOgden <ogden@us.ibm.com>, Author <author@noreply.github.com>
Date:   02/25/2019 11:58 PM
Subject:        Re: [eclipse/openj9] RESOLVER dependency (#4540)

@sharon-wang Can you take a look at this?
—
You are r

[2019-02-26 14:50] llxia commented on #4851
Sorry, I forgot we branched.
@renfeiw Could you please port #4866 into https://github.com/eclipse/openj9/tree/v0.13.0-release? Thanks.

fyi. JDK8 and JDK11 system test builds are fixed.
https://ci.eclipse.org/openj9/view/Test/job/Test-extended.system-JDK11-aix_ppc-64_cmprssptrs/172/tapResults/

[2019-02-26 14:51] llxia commented on #4862
PR is merged. JDK8 and JDK11 system test builds are fixed.
https://ci.eclipse.org/openj9/view/Test/job/Test-extended.system-JDK11-aix_ppc-64_cmprssptrs/172/tapResults/

[2019-02-26 14:51] #4862 closed

[2019-02-26 15:19] a7ehuo opened #4887 "Setup Slack integration for eclipse/openj9 repo"
Open this issue and see if we would like to have Slack integration set up for eclipse/openj9 repo. With it setup, we can subscribe pull requests, commits, etc in Slack channels.

`/github subscribe https://github.com/eclipse/openj9`

[code]

[2019-02-26 15:24] 0xdaryl opened #4888 "Use TR_UNIMPLEMENTED macro in JIT"
Now that eclipse/omr#3610 has merged, use it throughout the JIT component in OpenJ9.

[2019-02-26 15:26] 0xdaryl commented on #4888
@rwy0717, this will provide a consistent interface for unimplemented compiler functions throughout OMR/OpenJ9.

[2019-02-26 15:33] fjeremic commented on #2049
Confirmed complete on Z.

[2019-02-26 15:48] jdekonin commented on #4293
I have added `;C:\OpenSSL-1.1.1-x86_32;C:\OpenSSL-1.1.1-x86_64` to the end of each of the system paths for win2012r2-x86-[1-4].  The jenkins agent will need to be restarted for the changes to be seen.  They are fairly busy atm, but will update once I have each of them reconnected.

[2019-02-26 15:55] dsouzai commented on #4201
Ah...this is 32-bit windows, which means it's running AOT w/o SVM, which means that https://github.com/eclipse/openj9/pull/4723 would not fix https://github.com/eclipse/openj9/issues/4621 (it only applied to AOT w/ SVM). Sigh..

[2019-02-26 16:07] gita-omr commented on #2049
Confirm that Power is done (as marked in the description).

[2019-02-26 17:09] renfeiw commented on #4851
PR to port fix to 0.13.0-release:  #4890

[2019-02-26 18:31] smlambert commented on #4880
Does seem odd.

I think this would still be driven by the original PR build scripts, as we have not switched over to use Adopt test pipelines yet in PR testing, so I am not so familiar with it, looking for where status of build is set (and prints "Setting status of").  Adam will be more familiar with how that status is determined.

[2019-02-26 18:35] dsouzai commented on #4201
Opened https://github.com/eclipse/openj9/pull/4892

[2019-02-26 19:21] AdamBrousseau commented on #4880
At the start of the build
[code]
vs a passed run
[code]
Appears to be coming from here:
https://github.com/jenkinsci/workflow-cps-plugin/blob/master/src/main/java/org/jenkinsci/plugins/workflow/cps/CpsFlowExecution.java#L640
Not sure what happened, likely a 1-off. Not sure what we can do other than keep an eye on it for now.

[2019-02-26 19:48] DanHeidinga commented on #4443
This includes needing to be able to change defaults.yaml (ie: to add things like openssl support)

[2019-02-26 20:44] dsouzai opened #4897 "Minimize AOT Load failures"
AOT in OpenJ9 is Dynamic AOT. Therefore, when a method is compiled depends (mostly) on the invocation count. By default, a method will be AOT compiled at count=1000/bcount=250. However, on the load run, a method is loaded at scount=20. This can result in load failures. The reason is because, with count=1000/bcount=250 there is more time for classes to get loaded and resolved. At count=20, fewer cl

[2019-02-26 22:08] pshipton commented on #4851
Thanks, it is working now.

[2019-02-26 22:08] #4851 closed

[2019-02-26 22:10] fjeremic commented on #4526
Still working on a proper fix for this one. Hopefully tomorrow!

[2019-02-26 22:43] pshipton commented on #4880
I'll close this and we can re-open if it is seen again (although people may just ignore it).

[2019-02-26 22:43] #4880 closed

[2019-02-27 12:40] pshipton commented on #4201
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-win_x86/177

[2019-02-27 13:28] jdekonin commented on #4293
win2012r2-x86-[1-4] each have been reconnected to jenkins.  PATH has been modified as per last comment.  Please advise if this setup works as expected and I can have the playbook modified to reflect the new changes.

[2019-02-27 15:03] akrus commented on #4769
@amicic, max quantum time didn't increase that much yet on the 2019-02-25 build, but still higher than initially.

[logs_20190227.tar.gz](https://github.com/eclipse/openj9/files/2910831/logs_20190227.tar.gz)

[2019-02-27 15:22] sharon-wang commented on #4540
@DanHeidinga I'm looking at other options for guidance, such as: https://github.com/eclipse/openj9/blob/bd19d90b8ef80bfc7a96c837719a2b4b4ce6e568/runtime/oti/jvminit.h#L307

I noticed that there are a variety of prefixes, such as "-X", "-XX", "-XX:". Just wondering if there is a convention for selecting which one to use?

[2019-02-27 15:25] dcendents opened #4904 "Eclipse IDE crashes with -Xverify:none"
I recently learned about OpenJ9 and I wanted to start using it. However I experienced systematic crashes when doing a full clean/build of my projects in eclipse.

I eventually narrowed it down to the `-Xverify:none` switch, which I can see is not supported by OpenJ9: https://www.eclipse.org/openj9/docs/xverify/

Should OpenJ9 ignore it if this is harmful?
I'm sure a lot of people running eclipse w

[2019-02-27 15:26] DanHeidinga commented on #3611
@fengxue-IS Can you update this with a description of the discussion @dmitripivkine, you and I had about how to approach this?

[2019-02-27 15:47] fjeremic commented on #4904
Do you have a reference for this? We can work with the Eclipse team to remove this recommendation. OpenJ9 JVM makes certain assumptions on the basis that the bytecode verifier ran. This is why at a high level `-Xverify:none` is an unsupported configuration.

Someone more familiar on the VM side of things can give more details.

[2019-02-27 15:49] DanHeidinga commented on #4904
@dcendents if you remove `-Xverify:none`, does the JVM throw java.lang.VerifyError or similar exceptions?

I wouldn't expect to see a crash unless there was unverifiable classfiles being loaded - in which case, all bets are off.

[2019-02-27 15:51] DanHeidinga commented on #4540
For new options, prefer the `-XX:[+-]Option` format.

[2019-02-27 15:58] DanHeidinga commented on #2049
@andrewcraik Can you confirm the JIT work on X is complete?  I believe it is based on the checkmarks above but confirmation would be good.

[2019-02-27 16:09] DanHeidinga commented on #4887
@a7ehuo Can you add some links to how to set up this up?

[2019-02-27 16:14] dcendents commented on #4904
@fjeremic It is not a recommendation by eclipse, but something you will find has been recommended by the community multiple times over the years. A simple google search on how to speed up eclipse will return such posts:

https://stackoverflow.com/questions/316265/how-can-you-speed-up-eclipse
http://www.nicolasbize.com/blog/7-tips-to-speed-up-eclipse/

And since this has never caused me any problem

[2019-02-27 16:19] ben-walsh opened #4907 "JTReg Test Failure : sun/misc/InvokeCleaner.java"
Consistent failures ...

[code]

... are observed with test https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/sun/misc/InvokeCleaner.java against an OpenJDK12+OpenJ9 build (https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-linux-x64-openj9/lastSuccessfulBuild/artifact/workspace/target/OpenJDK12U-jdk_x64_linux_openj9_2019-02-26-16-41.tar.gz). See
[c

[2019-02-27 16:34] dcendents commented on #3410
@DanHeidinga I have the same error in one of my project.

I can confirm that the latest nightly [OpenJDK8U-jdk_x64_windows_openj9_2019-02-27-11-11.zip](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2019-02-27-11-11/OpenJDK8U-jdk_x64_windows_openj9_2019-02-27-11-11.zip) works fine and the mockito inline mode does not throw an error.

[2019-02-27 16:38] pshipton opened #4908 "Windows ERROR: Cannot delete workspace"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-win_x86-64_cmprssptrs/512
win2012r2-x86-4
[code]

[2019-02-27 16:38] pshipton commented on #4908
@jdekonin @AdamBrousseau

[2019-02-27 16:39] pshipton commented on #4908
I restarted the build

[2019-02-27 16:44] fengxue-IS commented on #3611
Per discussion with Dan and Dmitri, we will start with
- adding madvise functionality to portlibrary
    - check page size and THP option for system
- create vm option to enable / disable madvise (default to enable)
- call madvise api for gc heap (may extend to JIT code cache)

[2019-02-27 16:49] ymanton commented on #2585
@lmajewski and @PTamis just curious if you're still pursuing this and/or still using OpenJ9 on e500?

I'm going to spend some time figuring out what we can salvage from the various patches that have been discussed in this issue that can be contributed back to OMR and OpenJ9.

[2019-02-27 16:50] DanHeidinga commented on #4853
Failure occurred on ub16-390-2 and based on today's community call, only occurs when the system tests can't find the right boot jdk.

@pshipton @smlambert @jdekonin Is this applicable to the 0.13.0 release?

[2019-02-27 16:51] pshipton commented on #4293
Started a test build to ensure nothing is broken by the change. Although, this won't confirm openssl on the path can be found.
https://ci.eclipse.org/openj9/blue/organizations/jenkins/Pipeline-Build-Test-All/detail/Pipeline-Build-Test-All/418/pipeline

[2019-02-27 16:54] AdamBrousseau commented on #4853
Is there a simple command line we can run on each machine so we can see the result across each machine?

[2019-02-27 17:20] pshipton commented on #4907
@DanHeidinga

[2019-02-27 17:28] DanHeidinga commented on #3410
Excellent. Glad to hear it's resolved!

[2019-02-27 17:28] #3410 closed

[2019-02-27 17:29] pshipton commented on #4853
I haven't seen the problem re-occur, but perhaps the tests are choosing a different machine that works. It is only a problem for the 0.13 release if it blocks testing. So far the testing has succeeded, not just for the 0.13 release, but for jdk8 and 11 head as well. I didn't know how often this problem would occur when I created the issue. I'm fine to remove it from 0.13 or even just close it unti

[2019-02-27 17:30] pshipton commented on #4853
The testing has passed on ub16-390-2 since this was opened. I'm just going to close it.

[2019-02-27 17:30] #4853 closed

[2019-02-27 17:31] pshipton commented on #4853
Although the "passed" testing actually ran no tests.

[2019-02-27 17:54] keithc-ca commented on #3641
I have what appears to be a workable solution to this. At a very high level, it involves making note (in RAM classes) whether they extend `MagicAccessorImpl` which says:

Classes defined via `Unsafe` API will continue to be exempt from access validation.

[2019-02-27 18:19] dmitripivkine commented on #3611
I believe would be better to follow @charliegracie suggestions https://github.com/eclipse/omr/pull/3611#issuecomment-467489062
It would simplify implementation

[2019-02-27 18:41] #4465 closed

[2019-02-27 19:23] ChengJin01 commented on #4904
@dcendents , was there any dump files (*.dmp/*.trc ,e.g) generated from the crash ? It would be helpful for us to get started from there; otherwise, we might need to a simple way to reproduce the crash on our side.

[2019-02-27 19:59] pshipton commented on #4293
The previous build worked, so the changes didn't break anything. Next I'll try using the library from the path. All I can try is 64-bit atm because the necessary Java 8 changes aren't delivered yet.

https://github.com/eclipse/openj9/pull/4914
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-win_x86-64_cmprssptrs-OpenJ9/341/

[2019-02-27 20:48] ChengJin01 commented on #4098
Further investigation indicates only GetModuleHandle() was invoked in OpenJDK11, assuming zip.dll was already been mapped into the address space of the process by LoadLibrary() but we didn't do so in our code. I believe Oracle already loaded zip.dll via LoadLibrary() in the Hotspot before invoking GetModuleHandle on Windows. So we should do so in a similar way to address the issue.

I already crea

[2019-02-27 21:45] keithc-ca commented on #4800
Reopening: #4867 was reverted.

[2019-02-27 21:59] pshipton commented on #4098
fyi https://github.com/eclipse/openj9/blob/60e1656a203825e764eff88fa8091e89c60f4b3f/runtime/jcl/common/stdinit.c#L160

[2019-02-27 22:24] jdekonin commented on #4908
The directory isn't present now, so either it was a previous job that was slow to remove/delete, or the cleanup job took care of it.

[2019-02-27 22:29] ChengJin01 commented on #4098
I need to double-check to see what happens to register zip.dll and whether it is loaded later after jimage in the existing code.

[2019-02-27 22:34] pshipton commented on #4293
Previous build passed. I won't be able to try 32-bit until we have the jdk8 support in place. Since 32-bit is first in the path, I think the work here is done.

[2019-02-27 23:12] ChengJin01 commented on #4098
Double-checking the stacktraces shows registerBootstrapLibrary for zip.dll was too late for jimage.dll (which needs zip.dll to be loaded right now)
[code]
against the code
[code]
So moving registerBootstrapLibrary() to the front of initializeRequiredClasses() should solve the problem instead of duplicately loading zip.dll twice.  I will recompile to see whether it works this way.

[2019-02-28 02:48] pshipton commented on #4201
I suppose this doesn't need to be fixed in the 0.13 release since it fails on Windows 32-bit, which isn't supported by Java 12. The 0.13 release only includes Java 12.

[2019-02-28 06:31] DanHeidinga commented on #4907
@ChengJin01 Can you take a look at this?

[2019-02-28 08:48] lmajewski commented on #2585
Dear @ymanton please find some small update from this project:
1. As you might noticed the PPC SPE architecture in GCC9 has been removed [1], hence there is no point in providing OpenJ9 support for this particular one (especially as it is time consuming)

2. Considering the above, the idea was to recompile the whole rootfs and userspace binaries to support "generic" PPC32 architecture and see what

[2019-02-28 09:45] avermeer opened #4921 "GPF in j9vm29.dll with openj9-0.12.0 on Windows Server 2016"
Hello,

We have a GPF (Global Protection Fault) crash of one of our Java utility running with AdoptOpenJDK 11.0.2 with OpenJ9 on Windows Server 2016, with a java dump showing that it occurred in j9vm29.dll.

I found the following page from an IBM site giving some hints about how to analyze the related Java dump:
https://www.ibm.com/support/knowledgecenter/en/SSYKE2_8.0.0/com.ibm.java.vm.80.doc/doc

[2019-02-28 13:55] akrus commented on #4769
Updated log, now more clearly visible.
[logs_20190228.tar.gz](https://github.com/eclipse/openj9/files/2915271/logs_20190228.tar.gz)

Now maxincrementtime is here:
[code]

[2019-02-28 14:19] pshipton commented on #4921
@avermeer is there core file created as part of the diagnostic output, and are you able to compress and share it via a private message?

[2019-02-28 14:19] ChengJin01 commented on #4907
Will investigate to see what happened to the test.

[2019-02-28 15:07] #4201 closed

[2019-02-28 15:29] ben-walsh opened #4924 "JTReg Test Failures : VarHandleTestByteArrayAsXXXXXX"
Consistent failures of form ...

[code]

... observed against jdk12 build (https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-linux-x64-openj9/lastSuccessfulBuild/artifact/workspace/target/OpenJDK12U-jdk_x64_linux_openj9_2019-02-26-16-41.tar.gz) with tests ...

java/lang/invoke/VarHandles/VarHandleTestByteArrayAsChar.java,
java/lang/invoke/VarHandles/VarHandleTestByteArra

[2019-02-28 15:37] pdbain-ibm commented on #4924
Do `-XX:+UseCompressedStrings` or `-XX:-UseCompressedStrings` change the result?

[2019-02-28 15:45] amicic commented on #3611
I agree will simple initial approach. Setting only Nursery is an advanced/nice-to-have capability we can consider at a later point.

[2019-02-28 15:59] ben-walsh commented on #4924
@pdbain-ibm Untried. I'll do so shortly.

[2019-02-28 16:00] avermeer commented on #4921
Hello @pshipton,

Unfortunately no, I do not have a core file other than the java core file attached to the incident.

But our crash is on Windows 2016, isn't "core" file a notion specific to UNIX or Linux operating system?

(sorry if the question sounds trivial)

Kind regards,
Alexandre Vermeerbergen

[2019-02-28 16:47] DanHeidinga commented on #4872
Related to https://github.com/eclipse/openj9/issues/771

[2019-02-28 17:01] ben-walsh commented on #4924
@pdbain-ibm Those JVM args had no impact ...
[consoleText.txt](https://github.com/eclipse/openj9/files/2916014/consoleText.txt)
[consoleText.txt](https://github.com/eclipse/openj9/files/2916015/consoleText.txt)

[2019-02-28 17:04] ChengJin01 commented on #4098
I already verified that it works good on both Windows and Linux as expected. Will launch personal builds to ensure no other issue gets introduced with the fix.

Note: there is no such issue on Java 8 as jlink was introduced since Java 9 in which jimage requires the zip library to be loaded earlier than normal for decompression.

[2019-02-28 17:22] avermeer opened #4927 "java.lang.InternalError: Failed to load default.policy with AdoptOpenJDK 11.0.2 with OpenJ9 used thru Windows UNC"
Hello,

I have a particular setup for our pool of Windows automated test replay machines where we install Java on a single Windows machine, and I use this Java Runtime with UNC path from other Windows machines.

With this setup, we have detected a regression with AdoptOpenJDK 11.0.2 with OpenJ9 versus AdoptOpenJDK 8 update 202 (both Windows x64): whenever we try to execute Java code with a Java po

[2019-02-28 17:23] dmitripivkine commented on #4560
I don't see how this relates to GC code. Requested memory size is reasonable. One of this points is in Port Library. Another one relates to initialization of allocated memory and again size is correct so there is no out-of-bound writes

[2019-02-28 17:36] DanHeidinga commented on #4927
@hangshao0 Can you take a look at this?

[2019-02-28 17:57] pshipton commented on #4921
@avermeer np. Windows has the same concept, and regardless of what Windows calls the file, the JVM renames it by default to `core.<date>.<time>.<pid>.<seq>` i.e. like core.20190228.125330.6080.0001.dmp. For a gpf, the default behavior is to create a number of diagnostic files. A javacore, snap (trace output), core, jitdump.

It is a bit surprising you only got the javacore file and nothing else. U

[2019-02-28 17:58] pshipton commented on #4921
[code]

[2019-02-28 18:02] pshipton commented on #4921
Are you using any -Xdump options that would change the default behavior of the diagnostics? Or do you have the IBM_JAVA_OPTIONS or OPENJ9_JAVA_OPTIONS environment variable set with some options?

Is there enough disk space to create a system dump (core file).

[2019-02-28 18:03] pshipton commented on #4921
(to answer my own question) looking that javacore there are no changes to the default -Xdump behavior, so a bit of a mystery why the file wasn't produced.

[2019-02-28 19:59] amicic commented on #4769
Hi, @akrus I have a through look yesterday (at logs from 27th). I belive that root scanning stats now report accurate date. However, they do not detect any pauses longer than 2-3ms in roots (which is occasionally a scan of thread stack).

At this moment I do not have any theory where the pause could be coming from.

Btw, root scanning was a suspect from the very beginning since it's what we do at

[2019-02-28 20:05] akrus commented on #4769
Yes, it's 2 NUMA nodes and JVM is pinned.

[2019-02-28 20:06] amicic commented on #4769
Please generate javacore (kill -3 `pid of JVM`) at any point once there are 10+ms observed.

[2019-02-28 20:14] amicic commented on #4769
Regarding NUMA.... Your heap is 200G and machine appear to have have around 370G. Hence the heap at one point many not be commited from the requested NUMA node.

You should monitor cat /proc/`jvm PID`/numa_maps and see if occurrence of increase of pauses  coincide with increase of heap commited region (you can eyeball heap as being the region with highest number of pages commited). If you for exam

[2019-02-28 20:27] akrus commented on #4769
Yes, I was just playing with the env when we had previous problem and increased it from 175g. It's still reproducible in both cases, but I'll have a look on NUMA stats.

[2019-02-28 20:43] zl-wang opened #4930 "Smooth migration story: mapping or supporting critical OpenJDK options"
While it needs to be investigated if there is any non -XX options still to be recognized (these are functional options in some senses ... I am aware of none), the priority is on mapping or supporting performance-sensitive critical OpenJDK options ... for migration or transparent drop-in.

I understood this is necessarily on-going, we have to collect this important set of -XX options.  To start off

[2019-02-28 20:45] zl-wang commented on #4930
@gita-omr @vijaysun-omr @mstoodle @pshipton @DanHeidinga

[2019-02-28 20:56] hangshao0 commented on #4927
Does this fail with OpenJDK Java 11 ? @avermeer

[2019-02-28 21:02] AdamCarroll opened #4932 "Version string error with AdoptOpenJDK v11.0.2+9_openj9-0.12.1"
The version information reported by OpenJ9 in AdoptOpenJDK v11.0.2+9_openj9-0.12.1 contains the string `based on )`.  It looks like it's missing information:
[code]

This was tested on MacOS 10.12.6.

[2019-02-28 21:05] avermeer commented on #4927
Hello @hangshao0,

I tried with AdoptOpenJDK 8 with HotSpot and it does not fails.

Kind regards,
Alexandre

[2019-02-28 21:15] hangshao0 commented on #4927
What about OpenJDK JDK11 (OpenJDK 11 + HotSpot)  ? @avermeer

[2019-02-28 21:19] DanHeidinga commented on #4932
The format is very obtuse but the opening `(` from
[code]
closes on the last line:
[code]

The idea was to format the text inside to be more readable compared to a single line

[2019-02-28 21:20] avermeer commented on #4927
Hi @hangshao0,

With AdoptOpenJDK 11 with HotSpot it fails.

However, it's the regression from AdoptOpenJDK 8 OpenJ9 to AdoptOpenJDK11 OpenJ9 with bothers me.

I am not looking for a fix on the HotSpot version.

Kind regards,
Alexandre

[2019-02-28 21:20] DanHeidinga commented on #4932
You're completely right - it does appear to be missing info

[2019-02-28 21:29] pshipton commented on #4930
@charliegracie @dmitripivkine @amicic

[2019-02-28 22:14] hangshao0 commented on #4927
This is caused by OpenJDK11 changing the implementation here:

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/400c27cffa4ab06b19a2ad7e95e1b543e3ac52cc/src/java.base/share/classes/sun/security/provider/PolicyFile.java#L355-L360

This piece of code is not in OpenJDK8.

[2019-02-28 22:14] avermeer commented on #4921
Hello @pshipton,

I confirm that there was no dump file generated by this crash, and we have not tweaked any options that could affect this dumping (the environment variables are listed in the java core, no such option seems to be set).

Not sure it can help, but I was told that the crash seems to be related to code doing extensive XSLT processing. And in the java core which I attached to this inc

[2019-02-28 22:17] ChengJin01 commented on #4907
The code at invokeCleaner() changed in OpenJDK12 as compared to OpenJDK11 as follows:

OpenJDK11
[code]
OpenJDK12
[code]
which means invokeCleaner() was modified to use  jdk/internal/misc/Unsafe.invokeCleaner() (in OpenJ9) since OpenJDK12 rather than its own code previously in OpenJDK11

The explanation of why changed the code is as follows:
https://mail.openjdk.java.net/pipermail/core-libs-dev/20

[2019-02-28 22:17] avermeer commented on #4927
Alright, but this is not failing on Linux, and it is not failing when Java path is mapped to a Windows drive letter, so can't we say it's a bug?

And if so, how can it be fixed?

Kind regards,
Alexandre

[2019-02-28 22:32] pshipton commented on #4921
I'm not sure what we can do without the core file. Do you have the console output from when crash occurred?

[2019-02-28 22:38] hangshao0 commented on #4927
It might be related to the implementation of https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/src/java.base/windows/classes/sun/nio/fs/WindowsFileSystem.java.

JCL won't call into WindowsFileSystem.java on Linux.

I am interested in knowing what is the value of property "java.home" ?

[2019-02-28 22:41] pshipton commented on #4334
@jdmpapin @andrewcraik this is tagged against the 0.13 milestone. Is there a PR to fix the problem in the 0.13 branch? If not please cherry pick the change and create one.

[2019-02-28 22:49] pshipton commented on #4932
What it should show is `based on jdk-11.0.2+9` or maybe `based on jdk-11.0.2-ga`. The sha is correct and there is nothing wrong with the build itself, but the Adopt build process didn't manage to find the correct git tag to include in the -version output.

[2019-02-28 23:07] avermeer commented on #4927
Hi @hangshao0 ,

I ran `\\Jupiter\home\nosave\Java\jdk-11.0.2+9_openj9-0.12.1\bin\java GetProps`

(variant without the default security manager), which gives the following result:

[code]
This last path `\\Jupiter\home\nosave\Java\jdk-11.0.2+9_openj9-0.12.1` is the value of system property java.home, per the source of GetProps.java.

Clearly this later path is not truncated, so it doesn't seem tha

[2019-02-28 23:11] hangshao0 commented on #4927
Thanks. I just want to make sure that J9 JVM does not truncate the path, it is JCL that removes
`\\Jupiter`

[2019-02-28 23:22] pshipton opened #4934 "win2012r2-x86-6 out of space"
Disabled the machine.

https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-win_x86-64_cmprssptrs-OpenJ9/68
[code]

[2019-02-28 23:23] pshipton commented on #4934
@jdekonin @AdamBrousseau

[2019-02-28 23:23] ChengJin01 commented on #4907
An issue has been created at https://github.ibm.com/runtimes/openjdk-contribution/issues/787 for the API Spec.

[2019-02-28 23:32] ChengJin01 commented on #4907
A issue for the API Spec has been created in the internal link.

[2019-03-01 00:19] pshipton opened #4936 "jdknext functional sanity tests not running"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDKnext-linux_ppc-64_cmprssptrs_le-OpenJ9/4
[code]

[2019-03-01 00:21] #4857 closed

[2019-03-01 08:11] akrus commented on #4769
@amicic, got a javacore, what should I do with it?

[2019-03-01 11:11] ben-walsh opened #4937 "JTReg Test Failure : java/lang/invoke/MethodHandlesArityLimitsTest.java"
Consistent failure ...

[code]

... observed with test https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/invoke/MethodHandlesArityLimitsTest.java against OpenJDK12+OpenJ9.

See [consoleText.txt](https://github.com/eclipse/openj9/files/2918926/consoleText.txt) and [consoleText.txt](https://github.com/eclipse/openj9/files/2918932/consoleText.txt).

See https://github

[2019-03-01 11:13] ben-walsh opened #4938 "JTReg Test Failure : java/lang/Class/GenericStringTest.java"
Consistent failures ...

[code]

... observed with test https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/Class/GenericStringTest.java against OpenJDK12+OpenJ9 build.

See [consoleText.txt](https://github.com/eclipse/openj9/files/2919012/consoleText.txt) and [consoleText.txt](https://github.com/eclipse/openj9/files/2919051/consoleText.txt).

See https://github.com/

[2019-03-01 11:14] paulcheeseman commented on #4858
The inability to show native stack frames is a significant limitation.

Will Java monitor information be printed? i.e. show which locks are held by each thread, and which frame took them (in the stack itself)? Here's what we get in javacores:

[code]

Also, will CPU usage and heap allocation since the last GC be included? These are very useful in javacores.

[code]

[2019-03-01 11:54] pshipton commented on #4937
@DanHeidinga

[2019-03-01 11:59] pshipton commented on #4858
@paulcheeseman why are you looking for monitor information and cpu usage in the jstack output? jstack is not a replacement for javacore, but something to be roughly equivalent to Hotspot jstack.

Perhaps we should introduce a utility that generates a javacore.

[2019-03-01 12:02] pshipton commented on #4938
@DanHeidinga @JasonFengJ9 @theresa-m

[2019-03-01 12:12] pshipton opened #4939 "omr promotion Test-sanity.functional x86 -Xgcpolicy:balanced crash vmState=0x0005ff06"
Occurs in omr promotion build
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/536/
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/571/
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-win_x86-64_cmprssptrs/516/
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/198

https://ci.eclips

[2019-03-01 12:20] pshipton commented on #4526
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-linux_390-64_cmprssptrs/210

[2019-03-01 12:24] pshipton commented on #4526
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-linux_390-64_cmprssptrs/184/
SharedClasses.SCM01.MultiThreadMultiCL_0

[2019-03-01 12:25] ben-walsh opened #4940 "JTReg Test Failure : java/lang/constant/CondyDescTest.java"
Consistent failures ...

[code]

... observed with test https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/constant/CondyDescTest.java against OpenJDK12+OpenJ9 build.

See [consoleText.txt](https://github.com/eclipse/openj9/files/2919294/consoleText.txt) and [consoleText.txt](https://github.com/eclipse/openj9/files/2919293/consoleText.txt).

[2019-03-01 12:28] pshipton commented on #4940
@DanHeidinga @theresa-m

[2019-03-01 12:38] paulcheeseman commented on #4858
I would expect monitor info because Hotspot's jstack includes it. Here's some Hotspot output as an example:

[code]

Regarding the CPU usage and heap allocation data, I thought that it would be nice to include that data if it can be added easily.

I'm just considering what sort of problems would prompt people to use jstack - high CPU and hangs are probably top of the list.

[2019-03-01 12:55] pshipton commented on #4858
Perhaps we should implement jstack differently. It could generate a partial javacore file to the console, and we could decide which parts of the javacore to generate, and perhaps control different parts via stack options. This could give the same monitor info available in a javacore, and also include the native stacks when supported by the platform.

[2019-03-01 13:05] pshipton opened #4941 "win2012r2-x86-5 ERROR: Cannot delete workspace"
Machine disabled
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-win_x86-64_cmprssptrs/634
[code]

[2019-03-01 13:37] andrewcraik commented on #4334
@jdmpapin can you please create a PR against the 0.13 milestone?

[2019-03-01 13:45] andrewcraik commented on #4939
@cathyzhyi since you are already looking at mutablecallsite for perf could you have a look at this? Note it si a blocker. @pshipton do we know what merged that caused the break?

[2019-03-01 14:19] DanHeidinga commented on #4858
+ 1 to @pshipton's proposal.  It reuses our code and allows jstack to benefit from future improvements to javacore thread / stack info

[2019-03-01 14:20] theresa-m commented on #4940
I'll start looking at this one.

[2019-03-01 14:23] jdekonin commented on #4934
Neither 5 or 6, both new machines, were not in the cleanup nodes job.  That list is currently, but not much longer, hand maintained.

@AdamBrousseau has added them to the cleanup nodes list and I have manually cleaned up ~30G on each machine.

[2019-03-01 14:41] pshipton commented on #4939
@andrewcraik these are the changes https://github.com/eclipse/omr/compare/b566b30...bd02dfd

[2019-03-01 14:45] pshipton commented on #4939
Sorry copied the wrong sha. This is the change https://github.com/eclipse/omr/compare/b566b30...fdc86e4

[2019-03-01 14:46] pshipton commented on #4939
@rwy0717 fyi

[2019-03-01 14:47] 0xdaryl commented on #4939
A fix for eclipse/omr#3604 was already merged this morning: eclipse/omr#3628.  @rwy0717

[2019-03-01 14:48] #4939 closed

[2019-03-01 14:48] JasonFengJ9 commented on #4938
Will have a look.

[2019-03-01 15:19] ben-walsh opened #4945 "JTReg Test Failure : java/lang/ProcessBuilder/Basic.java"
Consistent failures ...

[code]

... observed with test https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/ProcessBuilder/Basic.java against OpenJDK12+OpenJ9 build.

See [consoleText.txt](https://github.com/eclipse/openj9/files/2919972/consoleText.txt) and [consoleText.txt](https://github.com/eclipse/openj9/files/2919861/consoleText.txt).

[2019-03-01 15:23] AdamBrousseau commented on #4941
dup #4934

[2019-03-01 15:32] pshipton commented on #4945
@DanHeidinga

[2019-03-01 15:40] AidanHa commented on #2974
Hello, The following options seem to be part of a list of "user arguments" in `addLauncherArgs()`
`-Djava.class.path=.`
`-Dsun.java.command=Test`
`-Dsun.java.launcher=SUN_STANDARD`
`-Dsun.java.launcher.pid=75488

Should they be returned in the `JVM_GetVmArguments()` as well? Or would I treat them as vm arguments

[2019-03-01 15:46] DanHeidinga commented on #4193
@andrew-m-leonard Can you put the fix for this into the Extensions repos?  I'd like to ensure we have the right behaviour while we finish reviewing this PR

[2019-03-01 15:52] pshipton commented on #4193
Tagged against the 0.13 milestone as a reminder to get the extensions change into this release.

[2019-03-01 15:55] pshipton commented on #2974
See https://github.com/eclipse/openj9/issues/2974#issuecomment-423609064
We are trying to match the Hotspot behavior

[2019-03-01 16:01] llxia commented on #4936
There is no `JDK_VERSION` passed into test job, so we default to 8.
[code]

fyi @AdamBrousseau

[2019-03-01 16:12] AdamBrousseau commented on #4936
What value should we be passing for "next"?

[2019-03-01 16:13] llxia commented on #4936
Whatever JDK_VERSION that the user is going to run. I think the user should set it.

[2019-03-01 16:20] pshipton commented on #4936
We'd like to derive it somehow, so we don't need to keep updating it every 6 months.

[2019-03-01 16:21] mleipe commented on #4934
Is there an issue number for making this "not much longer, hand maintained", please?

[2019-03-01 16:28] llxia commented on #4936
It is coming soon https://github.com/eclipse/openj9/pull/4843

[2019-03-01 16:39] #4098 closed

[2019-03-01 16:45] DanHeidinga commented on #2049
@andrewcraik confirmed this via slack

[2019-03-01 16:46] pshipton commented on #4936
For now, I'm setting SDK_VERSION to 13 in the xlinux and plinux sanity jobs.

[2019-03-01 16:46] fjeremic commented on #4747
The symptom here has a strikingly similar resemblance to #4526 for which I'm putting in a tactical fix right now. I'm not 100% certain, though it could also be fixed by the common fix in #4470.

[2019-03-01 16:48] llxia commented on #4936
@AdamBrousseau does `SDK_VERSION` gets passed into test job as `JDK_VERSION`?

[2019-03-01 16:49] pshipton commented on #4936
Or is changing the PR jobs useless now, because they are auto generated?

[2019-03-01 16:50] pshipton commented on #4936
Didn't seem to work well anyway https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDKnext-linux_ppc-64_cmprssptrs_le-OpenJ9/5/console

[2019-03-01 18:00] AdamBrousseau commented on #4934
#4759

[2019-03-01 18:33] #4941 closed

[2019-03-01 18:46] dcendents commented on #4904
@ChengJin01 I have uploaded the dump files on my google drive and sent you an email with the link.

[2019-03-01 18:46] AdamBrousseau commented on #4936
Ok I was slightly confused. These are PR jobs which don't use the Test jobs driven by the Adopt scripts (yet) and aren't auto generated. We don't set `JDK_VERSION` in our PR jobs, just `SDK_VERSION` and `JAVA_VERSION`. How do the tests know now for jdk11 that its 11?

[2019-03-01 19:13] smlambert commented on #4936
Because right now we support both JAVA_VERSION and its replacement, JDK_VERSION.  JAVA_VERSION is deprecated and we will soon remove it from test scripts (now that most locations have been updated to use JDK_VERSION).

[2019-03-01 19:17] ChengJin01 commented on #4904
Many thanks @dcendents , already received the e-mail and will check the dumps.

[2019-03-01 19:59] llxia commented on #4936
- What is `SDK_VERSION`? It is not required by test.
- Do PR job set `JAVA_VERSION` as env variable? I do not see `JAVA_VERSION` in the console output.

[2019-03-01 20:41] AdamBrousseau commented on #4936
I think SDK_VERSION is used for our pipelines, its used to set JAVA_VERSION (among other things).
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/common/variables-functions#L454
[code]
[code]
Probably not what we want :D

[2019-03-01 21:02] llxia commented on #4936
fyi PR for [ Temporarily support for JAVA_VERSION=SE130 ](https://github.com/eclipse/openj9/pull/4950)
We aim to stop supporting JAVA_VERSION for jdk13+. Please switch to use `JDK_VERSION`.

[2019-03-01 21:17] pshipton opened #4952 "ub16x64j94 jenkins-log.txt Read-only file system"
Disabled the machine

https://ci.eclipse.org/openj9/job/Test-extended.system-JDK12-linux_x86-64_cmprssptrs/8
[code]

[2019-03-01 21:17] pshipton commented on #4952
@AdamBrousseau @jdekonin

[2019-03-01 21:19] pshipton commented on #4952
https://ci.eclipse.org/openj9/job/Build-JDK8-linux_x86-64/1013
[code]

[2019-03-01 23:47] #4907 closed

[2019-03-02 01:15] smlambert commented on #4858
Note:
javax/net/ssl/finalize/SSLSessionFinalizeTest.java fails/timeouts

Timeout information:
Running jstack on process 26196
Warning: Could not find jstack in: C:\\Users\\jenkins\\workspace\\openjdk11_j9_securitytest_x86-64_windows\\openjdkbinary\\j2sdk-image\\bin\\..
Will not dump jstack output.

[SSLSessionFinalizeTest.jtr.txt](https://github.com/eclipse/openj9/files/2921595/SSLSessionFinalizeT

[2019-03-02 01:19] smlambert commented on #4858
BTW, I suspect this is part of the reason why the execution time of openjdk regression tests is very long for openj9 runs.  SSLSessionFinalizeTest (and likely other tests) hangs around for 16 min before time out kicks in.

[2019-03-02 06:48] wyatt8740 commented on #2585
Further notes upon researching:

- Former SPE maintainer expects to be able to return to his duties soon, so he hopes/thinks this won't be permanent. https://gcc.gnu.org/ml/gcc-patches/2018-12/msg00592.html
- It appears LLVM can target PPC SPE now.
- Not all 32-bit big-endian PPC's are SPE, so some could still benefit presumably.

[2019-03-02 08:50] avermeer commented on #4921
Hello @pshipton ,

Unfortunately no I do not have this console output.

[2019-03-02 14:43] pshipton commented on #4936
@llxia does the above change mean the tests should run now, or does Adam still need to make a change?

[2019-03-02 14:44] pshipton commented on #4921
Is the crash repeatable?

[2019-03-02 15:28] llxia commented on #4936
My change allows test framework to take JAVA_VERSION=SE130. I think Adam still need to make some changes. As you tried earlier https://github.com/eclipse/openj9/issues/4936#issuecomment-468731650, this jdknext PR build does not work for `SDK_VERSION=13`.

Also, if we have jdk13 ready somewhere, we can test it using Grinder or any test job with JDK_VERSION set to 13.

[2019-03-02 15:37] AdamBrousseau commented on #4936
We can either land #2836, or if we don't want to wait and I have to make the change anyways, I might as well switch to JDK_VERSION. I was originally hesitant to set `next` to `13`, but once the builds switch, we won't be seeing it anymore so I think it's fine.

[2019-03-02 15:47] 0xdaryl opened #4954 "Refactor Power::UnresolvedDataSnippet::emitSnippetBody"
J9::Power::UnresolvedDataSnippet::emitSnippetBody() contains a large if/else ladder where each case performs a call to `findOrCreateRuntimeHelper` to generate a symbol reference.  Refactor the ladder to just capture the helper reference number and then perform one single call to `findOrCreateRuntimeHelper` after the if/else ladder.  This will save .so code space.

For example,
[code]

[2019-03-02 20:08] PTamis commented on #2585
@ymanton sorry for my late reply.
For the time being we stopped any more development over this issue. It is a pity since we made so much progress but the time frame we had for completion was to narrow and the risk was high.
As @lmajewski said we believe that it might be easier to use pure PPC32 and drop any SPE instructions. I made some tests over this direction and the results were very positive.

[2019-03-03 19:06] avermeer commented on #4921
The crash occurs randomly about every two weeks (our tool runs nightly over a large set of XML files).

[2019-03-04 08:07] AntonKatilin opened #4958 "jvmti.h: JVMTI_VERSION_xxx constant name mismatch"
OpenJ9 JDK 11 jvmti.h defines the constant JVMTI_VERSION_9_0, while Oracle Java/OpenJDK JDK 11 jvmti.h provides the constant JVMTI_VERSION_9 with the same value 0x30090000, as well as the constant JVMTI_VERSION_11 = 0x300B0000 whose counterpart is absent in OpenJ9. This creates a compile time incompatibility.

[2019-03-04 13:52] andrew-m-leonard commented on #4193
I've raised the question on the awt-dev maillist to get Oracle's position... https://mail.openjdk.java.net/pipermail/awt-dev/2019-March/015029.html

[2019-03-04 14:16] pdbain-ibm commented on #4858
OpenJ9's `jstack` does include monitor information:
[code]

I'll see what I can do.

[2019-03-04 14:22] pdbain-ibm commented on #4858
Neat idea. For the orthodox data  `jstack` uses mxbeans for portability and to take advantage of the code for manipulation, but we should be able to use the dump agent code to get native stack traces.

[2019-03-04 14:27] fjeremic commented on #4674
@mpirvu FYI the above if you missed it.

[2019-03-04 14:31] pshipton commented on #4958
@AntonKatilin I raised an issue earlier. This problem has been resolved #4667.
Note that although the version is changed #2679 is still outstanding.

[2019-03-04 14:31] #4958 closed

[2019-03-04 14:34] fjeremic commented on #4675
@pshipton this is targetted for 0.14.0. Do we know who is working on this? w.r.t. 3. do we need JIT resource to complete that piece?

[2019-03-04 14:35] ben-walsh opened #4961 "JTReg Test Failure : java/lang/invoke/condy/CondyBSMValidationTest.java"
Attempts to execute test https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/invoke/condy/CondyBSMValidationTest.java against an OpenJDK12+OpenJ9 build (https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-linux-x64-openj9/16/artifact/workspace/target/OpenJDK12U-jdk_x64_linux_openj9_2019-02-28-09-45.tar.gz) consistently trigger a coredump.

Se

[2019-03-04 14:42] #4597 closed

[2019-03-04 14:57] ben-walsh opened #4964 "JTReg Test Failure : java/lang/invoke/condy/CondyTypeValidationTest.java"
Consistent failures ...

[code]

... observed with test https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/invoke/condy/CondyTypeValidationTest.java against an OpenJDK12+OpenJ9 build (https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-linux-x64-openj9/16/artifact/workspace/target/OpenJDK12U-jdk_x64_linux_openj9_2019-02-28-09-45.tar.gz).

Se

[2019-03-04 14:58] pshipton commented on #4936
I'd prefer not to wait on #2836

[2019-03-04 15:01] pshipton commented on #4921
Is there anything that can be done to preserve the console output when the crash occurs? There should be a core file, and the console output may help either show where it was written or what is going wrong when trying to create it.

[2019-03-04 15:05] pdbain-ibm opened #4965 "java.lang.management.ThreadInfo.toString missing formatting"
Given the following:
[code]
HotSpot produces:

[code]
OpenJ9 produces:
[code]

This may affect other classes in `java.management`.

[2019-03-04 15:11] ben-walsh opened #4966 "JTReg Test Failure : java/lang/invoke/condy/CondyNameValidationTest.java"
Consistent failures ...

[code]

... observed with test https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/invoke/condy/CondyNameValidationTest.java against an OpenJDK12+OpenJ9 build (https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-linux-x64-openj9/16/artifact/workspace/target/OpenJDK12U-jdk_x64_linux_openj9_2019-02-28-09-45.tar.gz).

Se

[2019-03-04 15:14] pshipton commented on #4526
@fjeremic if you haven't already, please create a PR to deliver the fix to the 0.13 branch.

[2019-03-04 15:31] pshipton commented on #4675
I'm not aware anybody is working on it yet. If it cannot be completed in 0.14 we'll have to defer to the next release.

[2019-03-04 15:33] pdbain-ibm commented on #4858
I have this basically working, though the formatting leaves something to be desired, see https://github.com/eclipse/openj9/issues/4965.

Per discussion with @pshipton , I suggest the following:
- Proceed with the basic mxbean-base `jstack` (sans native stack pro tem) in this release.  I am  adding some timeing information such as CPU user and system time.
- Add native stacks to `jstack` in another

[2019-03-04 15:46] AdamBrousseau commented on #4936
#4951
[code]
[code]

[2019-03-04 16:09] pshipton commented on #3341
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/217
`java.lang.AssertionError: com.sun.tools.attach.AttachNotSupportedException: acknowledgement timeout from 16056454 on port 55575`

[2019-03-04 16:11] pshipton commented on #3081
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/218
`java.lang.AssertionError: com.sun.tools.attach.AttachNotSupportedException: acknowledgement timeout from 15728716 on port 63978`

[2019-03-04 16:30] AdamBrousseau commented on #4952
I have enabled the machine.

From Connor:
Had to `fsck /dev/vda1 -y` the filesystem, system is back online.

[2019-03-04 16:39] JasonFengJ9 commented on #4966
Jack is on this.

[2019-03-04 16:42] fengxue-IS commented on #4966
Trace the code to https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/invoke/common/test/java/lang/invoke/lib/InstructionHelper.java
which calls
`line 140: Class<?> gc = l.defineClass(byteArray);`

Given the known issue with https://github.com/eclipse/openj9/issues/3641, I suspect the test failure is due to unsafe lib skipping the verification process.

[2019-03-04 16:47] JasonFengJ9 commented on #4966
Can we check if https://github.com/eclipse/openj9/pull/4919 (fix for https://github.com/eclipse/openj9/issues/3641) helps this test?

[2019-03-04 16:51] theresa-m commented on #4964
looking at this as well

[2019-03-04 16:53] dnakamura commented on #90
DDR PRs pending review, as is one or two changes regarding staging the source files.
Only one other changre required in the jdk extensions repo, but leaving that for now as I am on vacation this week, and the chances of a build breakage is high

[2019-03-04 16:54] JasonFengJ9 commented on #4961
Attempting to reproduce the failure reported.

[2019-03-04 17:00] sophia-guo commented on #4732
Linux as well : https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-64_linux/476/testReport/junit/java_nio_channels_AsyncCloseAndInterrupt/java/AsyncCloseAndInterrupt/

[2019-03-04 17:02] JasonFengJ9 commented on #4937
Might be related to https://github.com/eclipse/openj9/issues/4964

[2019-03-04 17:05] JasonFengJ9 commented on #4658
This will be test only change, can we move it out `Release 0.13.0 (Java 12)` to favour other higher priority items?

[2019-03-04 17:10] JasonFengJ9 commented on #4945
Sharon is looking at this.

[2019-03-04 17:19] fengxue-IS commented on #4961
This is similar to failure mentioned in https://github.com/eclipse/openj9/issues/4966#issuecomment-469323276, Should check if #4919 fixes this.

[2019-03-04 17:19] fengxue-IS commented on #4964
This is similar to failure mentioned in https://github.com/eclipse/openj9/issues/4966#issuecomment-469323276, Should check if #4919 fixes this.

[2019-03-04 17:22] #442 closed

[2019-03-04 18:00] pshipton opened #4972 "AIX not enough space"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-aix_ppc-64_cmprssptrs/610
aix71-p8-2
`fatal: write error: There is not enough space in the file system.`

Lots more failures

[2019-03-04 18:00] pshipton commented on #4972
@AdamBrousseau @jdekonin

[2019-03-04 18:02] pshipton commented on #4972
Disabled the machine

[2019-03-04 18:20] #4526 closed

[2019-03-04 18:22] ChengJin01 commented on #4904
1) the java core shows it repeatedly looped from `java/lang/ClassLoader.defineClassImpl` to `org/codehaus/plexus/classworlds/realm/ClassRealm.loadClass`, which led to crash and the system dump  inevitably got screwed up as as result.
[code]

2) DDR shows all these stacks of the current thread in the loop happened in JIT:
[java_stack.txt](https://github.com/eclipse/openj9/files/2927692/java_stack.t

[2019-03-04 18:28] pshipton commented on #4658
@JasonFengJ9 if it can' be completed by the 19th then we'll move it out. Until then, agreed, please focus on higher priority items.

[2019-03-04 18:35] fjeremic commented on #4904
Judging from the fact that the issue happen on Eclipse and the java_stack.txt showing "jit_rbx" I'll assume this is x86 related. In which case @andrewcraik FYI the above.

[2019-03-04 18:54] andrewcraik commented on #4904
Interesting - I'll wait for the result with -Xint to see if it seems to be JIT related. The loadClass method above seems to have a try catch which could end up circular if the wrong calls were made or some kind of circularity made its way into the load strategy (was looking at https://github.com/sonatype/plexus-classworlds/blob/e869ac904400f0a966e64af7e28709ef2dd5dd3f/src/main/java/org/codehaus/pl

[2019-03-04 19:09] JasonFengJ9 commented on #4964
Verified manually that https://github.com/eclipse/openj9/pull/4919 makes this test pass.

[2019-03-04 19:09] JasonFengJ9 commented on #4964
Verified manually that https://github.com/eclipse/openj9/pull/4919 makes this test pass.

[2019-03-04 19:10] JasonFengJ9 commented on #4961
Verified manually that https://github.com/eclipse/openj9/pull/4919 makes this test pass.

[2019-03-04 19:14] JasonFengJ9 commented on #4966
Verified manually that #4919 makes this test pass.

[2019-03-04 19:50] JasonFengJ9 commented on #4661
Verified manually that #4919 makes this test pass.

[2019-03-04 19:52] AdamBrousseau commented on #4972
Workspace mount is gone.  Just like #4512 . Still investigating

[2019-03-04 20:28] a7ehuo opened #4976 "Some ROMclasses in Java 11 are not stored in the shared cache due to unaligned size"
Found some ROMclasses in Java 11 are not stored the shared cache due to `The size of the rom class requested is not a multiple of a double`. The size of those same ROMClasses are dword aligned in Java 8 and are able to be stored in Java 8 SCC. Running Liberty with both Java 11 and Java 8, during the startup, the same type error does not occur in Java 8. Could it be an issue in the component that a

[2019-03-04 21:33] zl-wang commented on #643
where are we with the status of this issue?
there are some urgency build-up regarding a single driver of OpenJ9 (no matter which way) to be used in PoC(s) such as ServiceNow and Medallia.

[2019-03-04 22:01] pshipton commented on #4976
@hangshao0 @DanHeidinga

[2019-03-04 22:32] hangshao0 commented on #4976
We might have missed some alignment adjustment.

[2019-03-04 23:57] gacholio commented on #4976
I've been in the ROM class building code recently, and it clearly aligns to 8 at the end (with a comment saying it doesn't know why, so maybe you should update that to indicate the SC requires it).

[2019-03-05 01:48] hangshao0 commented on #4976
I see it is aligned to 8 here:
https://github.com/eclipse/openj9/blob/01be53f659a8190959c1641eac20b0488739e94c/runtime/bcutil/ROMClassBuilder.cpp#L592-L594

But I didn't find the comment you mentioned, can you point me to where the comment is ?

[2019-03-05 04:45] gacholio commented on #4976
https://github.com/eclipse/openj9/blob/01be53f659a8190959c1641eac20b0488739e94c/runtime/bcutil/ROMClassWriter.cpp#L431

Looks like some stuff is written after, so maybe the alignment is lost there.

[2019-03-05 04:50] gacholio commented on #4976
Maybe that align needs to move down (and be stringently commented). Really, each section should align at the start to what it needs, with the final alignment at the end (for reasons that I'm still not clear on).

[2019-03-05 09:15] bharathappali opened #4980 "Asserting in balanced gc policy in docker when bound to memory node other than 0."
**Description :**
*I was a running a memory consuming program for NUMA tests and found out that in a specific docker restriction for memory node, OpenJ9 is Asserting
`** ASSERTION FAILED ** omrport.0 at ../../omr/port/linux/omrvmem.c:1485 Assert_PRT_true((((BOOLEAN) 0)))`*

**Program**
[code]
**Host Config (Memory and CPU'S)**
[code]

**Docker version**
[code]

**Java Version**
[code]
**Docker Set

[2019-03-05 11:45] mateli commented on #1159
I'm ready to set up a cluster based on Raspberry Pi 3 for doing this. I don't know what software should be used to build and run tests but a Pi cluster doesn't take an enormous amount of space and I can use it for other stuff.

[2019-03-05 12:07] pshipton commented on #4980
@dmitripivkine

[2019-03-05 12:28] pshipton opened #4981 "Test-sanity.system-JDK8-linux_x86-64 LambdaLoadTest_ConcurrentScavenge_0 OutOfMemoryError: Java heap space"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-linux_x86-64/253
ub16x64j910
[code]

[code]

previous build
[code]

https://github.com/eclipse/openj9/compare/dff29d8...01be53f65
https://github.com/eclipse/openj9-omr/compare/89f2015...845a895b

[2019-03-05 12:31] pshipton commented on #4981
@dmitripivkine

[2019-03-05 13:17] joransiu commented on #4609
@fjeremic : I want to make sure I'm interpreting the categories correctly here:

The category (i.e. FPR/GPR/HPR) is the type of register we ended up spilling, in order to free that register up.  In the case for FPR, GPR, HPR/Memory, we'd elect to spill that corresponding virtual register to memory?   For HPR/register, are we spilling the HPR virtual register to GPR (or another HPR)?  The comment s

[2019-03-05 13:53] bharathappali commented on #4980
**Backtrace for the call where i hit the assert**

[code]

[Code section where it loops](https://github.com/eclipse/openj9/blob/master/runtime/gc_vlhgc/HeapRegionManagerVLHGC.cpp#L102)
[Call for the `setNumaAffinity`](https://github.com/eclipse/openj9/blob/master/runtime/gc_vlhgc/HeapRegionManagerVLHGC.cpp#L116)
[OMR API failing section](https://github.com/eclipse/omr/blob/master/port/linux/omrvme

[2019-03-05 14:39] joransiu commented on #4609
Are you saying that even if it's possible to use *HHLR type arithmetic instructions here, we fail to exploit the opportunity at codegen/local RA time?  If a HPR value was shuffled to GPR for some computation, wouldn't it remain that way until the basic block boundary where the GRA dependency would induce it back into an HPR, right?   By "a ton" of shuffling, are you suspecting other forms of shuff

[2019-03-05 14:42] bharathappali commented on #4980
**Exploration**

I have debugged my runs and i haven't understood why its not failing when it doesn't have access to node 1, but why its only failing if it doesn't have access to node 0.

**Memnode access for docker**
[code]
**Debugging Output**
[code]

[2019-03-05 14:44] joransiu commented on #4609
Based on the analysis above, with the concrete compilation time savings, marginal improvements (if any), and the various functional issues recently, I'd lean towards disabling all HPR.   Is there a reason why we started hitting HPR related issues more often recently; the code has been developed quite a while ago...

Is it possible to also get a 31-bit set of SPECjvm2008 runs with the debug counter

[2019-03-05 15:15] bharathappali commented on #4980
**Exploration**
I have debugged my run with memory bind to node 1 and found that its asserting when `mbind` is done to node `0` which docker can't access which is expected.

**Memnode access for docker**
[code]
**Debugging Output**
[code]

[2019-03-05 15:15] tajila opened #4983 "Valhalla: Add tests for flattened ValueType fields"
Need to add new tests to valuetype tests for flattened fields.

Part1:

Add tests the create the following structures and ensure that fields can be read and written to correctly.

[code]

Part2:
Ensure that classes create fields at the expected offset. Can use Unsafe.objectFieldOffset(...)

[2019-03-05 15:18] tajila commented on #4983
@MarkQingGuo

[2019-03-05 15:20] martinlippert commented on #4799
Hey @pdbain-ibm thanks a lot for the feedback and the input, much appreciated. Will be food for thought on our end.

[2019-03-05 15:20] #4799 closed

[2019-03-05 15:20] dmitripivkine commented on #4980
@LinHu2016 Would you please a look?

[2019-03-05 15:22] fjeremic commented on #4609
That's correct.

- hpr/spill/HPR
  - This is not an actual debug counter, it is simply present because of the way debug counters work; i.e. it's the sum of the two values below
- hpr/spill/HPR/memory
  - This is the total number of times we had to evict a value that lives in an HPR out to memory (generated something like `LFH` instruction)
- hpr/spill/HPR/register
  - This is the total number of t

[2019-03-05 15:24] pshipton opened #4984 "Test-extended.system-JDK12-linux_x86-64_cmprssptrs ASSERTION FAILED ** at CompositeCache.cpp:4168"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK12-linux_x86-64_cmprssptrs/12
This is built from the 0.13 release branch.
[code]

[2019-03-05 15:24] pshipton commented on #4984
@hangshao0

[2019-03-05 15:34] joransiu commented on #4609
This is the total number of times we had to spill a value that lives in a GPR out to some HPR, so a register-register HPR spill

How about the situation where we need to evict a HPR out -- potentially to another HPR or GPR?

[2019-03-05 15:47] fjeremic commented on #4609
The issue is really the code in [1], which is correct. If you take a look at the add and sub cases we can only upgrade a value to an HPR if the first child is eligible. This makes sense because the high-word instructions we have can perform add and sub if and only if the target register is an HPR and the source register is either an HPR or GPR (`AHHHR` and `AHHLR`). There is no high-word instructi

[2019-03-05 15:51] fjeremic commented on #4609
Both of these cases are covered by the `hpr/shuffle/HPR` debug counter. To avoid further confusion you can see exactly where I placed the debug counters in https://github.com/fjeremic/omr/commit/bf93d5309ddd3305a08a130cfba5de402fcdfea3

[2019-03-05 15:58] fjeremic commented on #4609
The reason is a combination of all the following:

1. Enabling use of HPRs on Linux
2. Enabling the use of 64-bit registers on 31-bit by default on both z/OS and Linux
3. Elimination of `TR_GPR64` and introduction of dozens of fatal asserts
4. Removal of restriction that all registers used in an OOL path should be marked as 64-bit registers

All of these changes should have been transparent, in th

[2019-03-05 15:58] a7ehuo opened #4985 "Proxy ROMClasses are not stored in the Java 11 shared cache"
Noticed that the Proxy ROMClasses are able to be stored in Java 8 SCC shown as below but not in Java 11 SCC, while running Liberty with Java 11 and Java 8,. Should they also be able to be stored in Java 11?

Java 8
[code]
[code]

Java 11
`j9shr_classStoreTransaction_start` API is not called on `com/sun/proxy/$Proxy3` and actually there is no any trace from `j9shr` on `com/sun/proxy/$Proxy3`. Only

[2019-03-05 16:00] fjeremic commented on #4609
Sure, I can get this data as well. Note because of 1. above we use 64-bit registers on 31-bit by default now so we should not see too much of a deviation. I'll get the numbers out this week.

[2019-03-05 16:03] DanHeidinga commented on #4985
@a7ehuo Do you know which API is used to generate the proxy classes?  Is it Unsafe.defineClass or Unsafe.defineAnonymousClass?

The ROM classes will be tagged with an Unsafe bit if they came from defineClass.

[2019-03-05 16:06] gacholio commented on #4872
This will eventually require some JIT work to handle resolved methods which get deleted.

[2019-03-05 16:12] DanHeidinga commented on #4985
fyi @hangshao0 @pshipton

[2019-03-05 16:13] joransiu commented on #4609
On 31-bit though, pointer sizes are only 32-bits, so I'd expect fewer evictions of HPRs.  64-bit on 31-bit is mainly around long arithmetic computations where we'd traditionally have used reg pairs, right?  Those exploitation would be fairly narrow in scope.

[2019-03-05 16:16] hangshao0 commented on #4985
It is stored as orphan in Java 8, which means even it is stored, it won't be used.

[2019-03-05 16:19] pdbain-ibm commented on #2593
Closed by
https://github.com/eclipse/openj9/pull/4868

[2019-03-05 16:19] #2593 closed

[2019-03-05 16:30] pshipton commented on #4985
@hangshao0 it won't be loaded directly, but the shared class will be used if the rom class is the same from run to run.

[2019-03-05 16:31] pshipton commented on #4985
and if the rom class is used, there can be AOT which is used as well.

[2019-03-05 16:31] fjeremic commented on #4609
That's correct. There will be more opportunity for spilling values to HPRs instead of to memory. I don't see any change in global HPR candidates however. So it is the local instruction selection upgrades and local RA HPR spills that should benefit most.

Note however it's a double edged sword because on linkage points all HPRs need to be evicted because on 31-bit they are all volatile, so unlike 6

[2019-03-05 16:33] pdbain-ibm commented on #4540
From Slack conversation:

A couple of comments:
1. Use a more descriptive name, e.g. `useResolverForHostname`
2. Add `+` and `-` versions of the option.  This is useful for overriding a default embedded in an environment variable.

[2019-03-05 16:48] hangshao0 commented on #4985
Do you have a test case ? @a7ehuo

[2019-03-05 16:55] a7ehuo commented on #4985
@hangshao0 The ROMClass is used. On the above example, because the ROMClass is stored in Java 8 SCC, its method is able to be AOT compiled in the first run and be AOT loaded in the subsequent runs. In Java 11, no traces on storing the ROMClass, JIT compilation is chosen and has to do JIT compilation on the method in all the subsequent runs.

[2019-03-05 17:00] a7ehuo commented on #4985
@hangshao0 I ran Liberty with AdoptOpenJDK8+OpenJ9 0.12.1 and AdoptOpenJDK11+OpenJ9 0.12.1.

[2019-03-05 17:53] LinHu2016 commented on #4980
@bharathappali I am trying to investigate if balanced gc can figure out Docker binding, then do not to access the restricted node to avoid Assertion.

[2019-03-05 18:33] hangshao0 commented on #4984
It seems that the core file is not save.

[2019-03-05 18:46] a7ehuo commented on #4887
@DanHeidinga Found an example of enabling it for repos: `eclipse/openj9` (and `eclipse/omr` if we would also like it to be enabled) : https://github.com/eclipse/buildship/issues/320. Looks like the Eclipse webmasters need to enable it for these repos.
Here is a link to the GH integration for Slack: https://get.slack.help/hc/en-us/articles/232289568-Use-GitHub-with-Slack. It's already installed on

[2019-03-05 19:03] DanHeidinga commented on #4887
Thanks @a7ehuo!  For those of us who are unfamiliar with the extension, can you unpack the benefits of using it?  Are there any costs / concerns with enabling it?

[2019-03-05 19:36] dmitripivkine commented on #4981
Something unusual happen in this run. The heap allocation dynamic is very different from usual. There is a top of class instances in the heap:
[code]

[2019-03-05 19:36] dmitripivkine commented on #4981
Looks like there is some issue with hashing

[2019-03-05 19:59] #4834 closed

[2019-03-05 20:05] theresa-m commented on #4940
This is related to an error in https://github.com/eclipse/openj9/pull/4449

DynamicConstantDesc<VarHandle> -> VarHandle -> DynamicConstantDesc<VarHandle> is not working properly.

[2019-03-05 20:52] gacholio commented on #4872
Experiments show that the the JVMTI can_maintain_original_method_order sorts the method in the class according to the original class file (i.e. if the capability is acquired, and a redefinition reorders the methods in a class, this is invisible to JVMTI).

It's not clear what this will mean in the presence of added and removed methods.

[2019-03-05 20:54] pdbain-ibm commented on #4858
https://github.com/eclipse/openj9/pull/4998 cleans up the output format.

[2019-03-05 20:59] pshipton opened #4999 "Missing jvmtest/TestConfig/resources/excludes/latest_exclude_13.txt"
Seems to be causing some tests to fail. Are there any plans to have a 11+ exclude list?

https://ci.eclipse.org/openj9/view/Test/job/Test-Grinder/330/tapResult
[code]

[2019-03-05 20:59] pshipton commented on #4999
@llxia @smlambert

[2019-03-05 22:51] a7ehuo commented on #4887
@DanHeidinga I updated the description on the above with more details.  One concern I'd have is that people might accidentally close issues or pull requests through Slack channels.

[2019-03-06 07:00] bharathappali commented on #4980
@LinHu2016 jus as u said I thought if we could check  `PPG_isRunningInContainer` if its `true` then read the `/sys/fs/cgroup/cpuset/cpuset.mems` and add those nodes on which the docker is bound and add them to the `numaNodes` in `omrvmem_numa_get_node_details` api so that GC will consider only those nodes.

I'm not sure about it, Please correct me if I'm wrong

[2019-03-06 10:38] andrew-m-leonard opened #5002 "JDK12: java.vm.vendor getting overridden by java.vendor"
AdoptOpenJDK JDK12 testing is failing as the java.vm.vendor is getting set to "AdoptOpenJDK" due to the following code:
https://github.com/eclipse/openj9/blob/7eff4df230a4331e4f1d1b5ca3bd7f9d8483af64/jcl/src/java.base/share/classes/java/lang/System.java#L403

Adopt build scripts configure java.vendor.

[2019-03-06 12:46] #4937 closed

[2019-03-06 15:09] JasonFengJ9 commented on #5002
Looking at it.

[2019-03-06 15:21] pshipton commented on #4193
A fix to the JNI declaration has been merged to jdk12 (but not the 0.13 branch).
https://github.com/ibmruntimes/openj9-openjdk-jdk12/pull/20

[2019-03-06 16:29] DanHeidinga commented on #4932
There was suggestion on the community call this may be a mac specific issue - possibly infra related?

[2019-03-06 16:37] hangshao0 commented on #4985
In Java 11, isClassUnsafe() returns true for this class, so it is not shared.

https://github.com/eclipse/openj9/blob/d61205ddaeda88de034fcba86b63fcc0590bca5b/runtime/bcutil/ROMClassCreationContext.hpp#L254-L276

[2019-03-06 16:43] JasonFengJ9 commented on #5002
From [make/autoconf/spec.gmk](https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/565a9bd3b8b2d211292441f66367aebab6457d74/make/autoconf/spec.gmk.in#L225-L236)
<pre>
  # COMPANY_NAME is set to "N/A" in $AUTOCONF_DIR/version-numbers by default,
  # but can be customized with the '--with-vendor-name' configure option.
  # Only export "VENDOR" to the build if COMPANY_NAME contains a real value.

[2019-03-06 18:20] hzongaro commented on #4885
Fixed in pull request 4891

[2019-03-06 18:32] pshipton opened #5008 "AIX possible machine problem"
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK11-aix_ppc-64_cmprssptrs/179
aix71-p8-1
[code]

[2019-03-06 18:32] pshipton commented on #5008
@AdamBrousseau @jdekonin

[2019-03-06 18:34] a7ehuo commented on #4985
@hangshao0 Thanks for the update Hang. Do we understand why Proxy class is unsafe in Java 11 but safe in Java 8?

[2019-03-06 18:35] pshipton commented on #4885
@hzongaro please create a PR with the fix against the 0.13 branch.

[2019-03-06 18:46] pshipton commented on #4193
JNI fix merged for jdk8, 11, next.
https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/274
https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/140
https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/83

[2019-03-06 19:04] hzongaro commented on #4885
@pshipton Sorry about that, Peter.  Created pull request #5009 against the 0.13 branch.

[2019-03-06 19:10] #4885 closed

[2019-03-06 19:22] pshipton commented on #5002
FYI
https://github.com/AdoptOpenJDK/openjdk-build/issues/935
https://github.com/AdoptOpenJDK/openjdk-build/issues/942

Adopt will set the java.vendor to something like "AdoptOpenJDK", and this is consistent with what other variants of OpenJDK are doing. java.vm.vendor should remain as "Eclipse OpenJ9". Please create a PR with the necessary changes.

This will also need to be fixed to use java.vm.v

[2019-03-06 19:31] pshipton commented on #4985
I expect it has to do with the API used to define the classes. We should be looking at how to fix the check so that Proxy classes can continue to be shared.

FYI https://github.com/eclipse/openj9/pull/4919 which is changing some of the class definition code.

[2019-03-06 19:31] AdamBrousseau commented on #5008
Maybe this?
[code]

[2019-03-06 19:52] pdbain-ibm opened #5012 "StackTraceElement.toString() missing lock information"
The reference implementation includes lock information in the stack trace (see below for test program):
[code]

but not OpenJ9:
[code]

Note that this information is available in the javacore:
[code]
[locker.java.txt](https://github.com/eclipse/openj9/files/2938038/locker.java.txt)

[2019-03-06 19:53] pdbain-ibm commented on #4858
https://github.com/eclipse/openj9/issues/5012 relates to lock information.

[2019-03-06 20:16] IBMJimmyk opened #5013 "JIT GPU cudaInfo object still in use after being freed."
In the single GPU kernel case, the regionExitGPU C Helper calls freeGPUScope which frees the memory for the cudaInfo object. However, right after that is a call to the getStateGPU C Helper that uses the cudaInfo object that was just freed. This needs to be fixed such that cudaInfo is only freed after it is not needed anymore.

[2019-03-06 20:36] pdbain-ibm commented on #5012
Disabling `org.openj9.test.attachAPI.TestJstack:testMonitors()`.  Re-enable when this is resolved.

[2019-03-06 21:19] #4334 closed

[2019-03-06 21:33] llxia commented on #4999
jvmtitests has its own exclude per JDK version `jvmtitests_excludes_$(JDK_VERSION).xml`:
https://github.com/eclipse/openj9/tree/master/test/functional/cmdLineTests/jvmtitests

We have a similar issue in global exclude file `TestConfig/resources/excludes/latest_exclude_13.txt`, but it will not cause test failure. See Test_Class_0 in the above console output. There was an exception for missing `late

[2019-03-06 21:41] fjeremic commented on #4966
Sounds like we can close this issue then? Or leave it for the author to close once they've confirmed?

[2019-03-06 21:55] pshipton commented on #4966
@fjeremic I don't think we should close this until #4919 is finalized, merged, and this test is re-tested with the final fix.

[2019-03-06 22:39] amicic commented on #4769
You can attach javacore here or just send me to my business email which I believe you already know. Interesting section is about duration of various hooks (not that really suspect hooks are problem, but it's worthwhile checking).

Meanwhile I modified slightly  how we report the timestamp for max pause within a heartbeat. Please generate a new pair or verbose gc / tgc logs, using a fresh nightly b

[2019-03-07 03:47] dmitry-ten opened #5016 "JITaaS in remote AOT mode doesn't disable unsupported optimizations"
Unsupported optimizations are disabled in `J9::Options::fePostProcessJIT`.
However, when run in AOT mode, they are re-enabled somewhere.
I observed that this can lead to crashes, for example, when server tries to use Known Object Table.
Since options specified on command line work as expected,
I suspect that the problem is due to option processing of `-Xaot` command line options.
We probably overr

[2019-03-07 08:51] knn-k opened #5018 "AArch64: Fails to build when OpenSSL is enabled"
Build of AArch64 runtime fails if you specify `--with-openssl=fetched` in running `configure`.
The build environment of AArch64 runtime expects cross-compilation on x86 at this point.  The build process compiles `libcrypto.so` targeting x86 instead of AArch64.

[2019-03-07 10:07] akrus commented on #4769
OK, sent javacore and updated OpenJ9 to 2019-03-06 build from AdoptOpenJDK.

NUMA is OK.

[2019-03-07 15:25] pshipton commented on #4426
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-linux_390-64_cmprssptrs/192

[2019-03-07 16:08] pshipton commented on #5018
This is really an issue with the extensions, like https://github.com/ibmruntimes/openj9-openjdk-jdk8 and https://github.com/ibmruntimes/openj9-openjdk-jdk11

@andrew-m-leonard @groeges

[2019-03-07 16:49] amicic commented on #4769
Hooks info somewhat suggests that verbose gc logging itself may be a problem. I/O operation (output of verbose GC text data to a file) could block a GC thread, and delay the finish of a GC increment.

Next time please try with option -Xgc:bufferedLogging. Note that the output will be delayed (intermediate buffer is flushed by a dedicated logging thread, when full), which could be arbitrary delay i

[2019-03-07 17:00] tajila opened #5021 "Valhalla: Add support for flattened valueType arrays"
When creating a non-primitive array, all fields are currently ref sized (32 or 64bits). Each slot in the array contains a reference to the element.

With valueTypes the lack of identity enables the JVM to create flattened arrays. These are arrays where the array elements are not stored as references, rather, they are stored directly (flattened) into the array.

Not flattened
[code]

Flattened
[cod

[2019-03-07 17:11] avermeer commented on #4921
@pshipton, I have some good news: we have been able to create a minimal sample to reproduce this GPF, and with this sample we are able to reproduce the crash on both Linux and Windows.

I will send the material & instructions before end of this week.

Stay tuned :)

[2019-03-07 17:17] avermeer commented on #4927
Hello @hangshao0,

What are the next steps to get this issue fixed ?

Kind regards,
Alexandre

[2019-03-07 17:35] AidanHa commented on #2974
For reference:

Environment variables:
`IBM_JAVA_OPTIONS=-XX:+LazySymbolResolution
JAVA_TOOL_OPTIONS=-XX:+HandleSIGXFSZ
OPENJ9_JAVA_OPTIONS=-Dmysysprop1=tcpip -Dmysysprop2=wait -Xdisablejavadump'

Optionsfile content: `-XX:+UseNoGC`

META-INF/MANIFEST.MF content: `-Xshareclasses:name=mycache,nonfatal,cacheDirPerm=1000`

Command line : `./java --add-exports java.base/com.ibm.oti.vm=ALL-UNNAMED -Dja

[2019-03-07 17:55] smlambert opened #5022 "Produce a summarized excludes list for a particular test run"
We currently run several different types of tests (that use various underlying test frameworks).  There are several methods for excluding test targets and the individual tests within the test target.

We would like a way to summarize all of the test exclusions of a particular test run.  There are a variety of ways to do this, one way, which would produce this info even on a manual/local test run w

[2019-03-07 18:11] a7ehuo commented on #5016
@dmitry-ten @mpirvu I'll take a look at this one.

[2019-03-07 18:17] pdbain-ibm commented on #5022
Also excluding via a TestNG method annotation:  `@Test(groups = { "disable.generic-all" })`.

[2019-03-07 18:40] hangshao0 commented on #4927
Java.home is correct, but `\\Jupiter` is missing here:
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/400c27cffa4ab06b19a2ad7e95e1b543e3ac52cc/src/java.base/share/classes/sun/security/provider/PolicyFile.java#L283-L285

Something is wrong with Path.of().toUri().toURL() on Windows. Those implementations are all in the OpenJDK code. So it is a OpenJDK defect, but it is possible to change t

[2019-03-07 18:41] gita-omr opened #5023 "Enable Software Based Concurrent Scavenger on P Linux BE"
In https://github.com/eclipse/openj9/issues/3421 we somehow missed enabling the feature on Linux BE. This is just a matter of turning on a switch, so we will do it for 0.14.

@IBMJimmyk @pshipton

Documentation will need to be adjusted @SueChaplain as well.

[2019-03-07 18:42] tajila commented on #5021
FYI @dmitripivkine

[2019-03-07 18:57] pshipton commented on #4921
@avermeer Please give it a try on the latest nightly build just in case it is already fixed. https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9

[2019-03-07 19:30] pshipton commented on #1159
@mateli afaik nobody is pursuing getting ARM 32-bit to work any more. There is ongoing work to get AArch64 working. I believe it is running in interpreter only mode atm, enabling the JIT is WIP. You can search issues and PRs for aarch64 to see the ongoing work.

A couple of interesting ones are
https://github.com/eclipse/openj9/pull/4696
https://github.com/eclipse/openj9/issues/4854

[2019-03-07 19:32] hangshao0 commented on #4927
Can you run with "-Djava.security.debug=policy" ? What do you see in the output ? @avermeer

[2019-03-07 19:34] smlambert commented on #5022
We should/will absolutely stop using that mechanism (annotated test code) if its currently in use.

We need to limit the number of places to check for excludes, in order to make it easier to automate re-inclusion, etc.

[2019-03-07 22:22] hangshao0 commented on #4927
Actually it is URL.getFile(). The OpenJDK code eventually calls into this method that removes the host name `\\Jupiter`
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/400c27cffa4ab06b19a2ad7e95e1b543e3ac52cc/src/java.base/share/classes/sun/security/util/PolicyUtil.java#L58

I have a simple test case:
[code]

I see the output is:
[code]

[2019-03-07 22:29] smlambert commented on #2209
The test is being excluded under this closed issue, which implies to me that I should be able to re-enable the test.

Was there an actual resolution to this issue?  Or a test issue raised?  We need to update the `<disabled>` link in the [playlist file](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/systemtest/lambdaLoadTest/playlist.xml#L4), if a different issue is being worked in order

[2019-03-07 22:33] pshipton commented on #4927
Not sure there is anything wrong with URL.getFile(). Jupiter should be the host name. What is url.getHost()?

[2019-03-07 22:51] pshipton commented on #2209
Reading the earlier comments, I suspect I meant to re-open it but failed to do so.

[2019-03-07 22:58] hangshao0 commented on #4927
url.getHost() returns Jupiter

The host is removed from uriPath by this code on Windows:
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/400c27cffa4ab06b19a2ad7e95e1b543e3ac52cc/src/java.base/windows/classes/sun/nio/fs/WindowsUriSupport.java#L51-L52

URL.getFile() returns field `file`, but host is not part of `file`:
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/400c27cffa4ab06

[2019-03-07 23:07] pshipton opened #5032 "jdk13 sanity.functional JCL_Test failures test_Constructor test_Constructor4"
[code]

[2019-03-08 01:40] fjeremic opened #5034 "Add GitHub topics to repository for easier discovery"
We can take advantage of GitHub's topics feature [1] to add [2] the Eclipse OpenJ9 to a bunch of topics which will effectively increase awareness of our project for people using the topics feature to search repositories relating to their search term.

[1] https://github.com/topics/
[2] https://help.github.com/en/articles/classifying-your-repository-with-topics

[2019-03-08 02:09] dsouzai commented on #5034
+1

[2019-03-08 07:32] akrus commented on #4769
OK, added this flag and disabled TGC log.

[2019-03-08 08:32] groeges commented on #5018
@knn-k  What version of OpenJDK were you trying to build? jdk11 or jdk12?

[2019-03-08 08:47] knn-k commented on #5018
@groeges It is JDK11.  The build instruction is in PR #4696 (not merged yet).

[2019-03-08 09:42] groeges commented on #5018
There is a change going in to only build OpenSSL if we are bundling the OpenSSL library with the JDK.
Are we expecting to bundle OpenSSL with the AArch64 Linux runtime, or will OpenSSL be available on the system?  If we are not bundling then this change may resolve the issue, but we should still try and fix if we in case someone builds it and tries to bundle the OpenSSL library.

Tried to follow y

[2019-03-08 09:48] groeges commented on #5018
Updated the `Dockerfile` to use
[code]
as the  deb9u2 versions didn't seem to exist. Docker image now gets built correctly.

[2019-03-08 10:00] knn-k commented on #5018
I am trying to build using `--with-openssl=path_to_library` now.

I guess we don't need to bundle the OpenSSL library with the AArch64 runtime.

[2019-03-08 10:32] knn-k commented on #4855
#4815 added `StackCheckFailureSnippet.{cpp,hpp}` for aarch64, but their functions are not implemented yet.

[2019-03-08 10:45] knn-k commented on #5018
The AArch64 Linux runtime was built successfully in the cross-compiling environment using `--with-openssl=path_to_library`.  I see `libjncrypto.so` in the JDK image, and it links `libcrypto.so`.

What would be the easiest way to see if it works or not?

[2019-03-08 10:53] groeges commented on #5018
You could try compiling this small java test:
[code]
and then run with
[code]
which should give the following output which states that the native crypto library was loaded
[code]

[2019-03-08 10:58] groeges commented on #5018
Tried adding code to the openssl.gmk to use the correct OpenSSL configure options to compile with linux-aarch64 but that causes the build of OpenSSL to fail with an error:
[code]
It seems `__ARM_ARCH__` is not defined from gcc and hence causes the failure.

[2019-03-08 14:07] akrus commented on #4769
-Xgc:bufferedLogging didn't change anything, max quantum time increased again.

[2019-03-08 14:54] keithc-ca commented on #4800
Fixed via #4911.

[2019-03-08 14:54] #4800 closed

[2019-03-08 16:17] pshipton commented on #3081
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/222
`com.sun.tools.attach.AttachNotSupportedException: acknowledgement timeout from 4849718 on port 62753`

[2019-03-08 16:25] a7ehuo commented on #5016
The root cause of this issue is: although `TR_DisableKnownObjectTable` is set true for jitaas in `J9::Options::fePostProcessJIT`, the option is not the one that's used for the compilation request. A new option object is created for each compilation in `TR::CompilationInfoPerThreadBase::wrappedCompile()`. https://github.com/eclipse/openj9/blob/af8eeaa5638bcf67f812da613f5023bc300aa09d/runtime/compil

[2019-03-08 16:28] pshipton commented on #5034
I suggest using words instead of acronyms, unless the acronym already exists as a topic.
i.e.
Garbage Collector
Virtual Machine

[2019-03-08 17:16] pshipton opened #5037 "Please fix PR builds from openj9-openjdk-jdk"
Seems PR builds from openj9-openjdk-jdk aren't working.

[2019-03-08 17:17] pshipton commented on #5037
See https://github.com/ibmruntimes/openj9-ac-jdk/pull/84

@jdekonin @AdamBrousseau

[2019-03-08 17:37] #2977 closed

[2019-03-08 17:40] pdbain-ibm opened #5039 "jps output include the jps process itself"
`jps` (both the reference and, for compatibility, OpenJ9 implementations) includes itself in the output:

This can be a problem if the output is piped into another tool such as `jstack`.

Suggest adding an option `-e` to exclude the current jps process from the output.

[2019-03-08 17:52] fjeremic commented on #5034
Taking a look at some similar projects I'm seeing both "vm", "virtual-machine". There is not much for "gc" but some hits for "garbage-collector", so we should likely go with those. I'm not seeing almost any for "just-in-time", however "jit" seems to be common.

Projects I've looked at:
https://github.com/mono/mono
https://github.com/oracle/graal
https://github.com/Microsoft/ChakraCore
https://gith

[2019-03-08 18:49] AidanHa commented on #2974
Regarding this issue, I think we should still keep the old implementation of `JVM_GetVmArguments()` somewhere. If we are planning on keeping the old implementation, there are 2 options we can take:

1: Modify the current `JVM_GetVmArguments()` to return user arguments (just like Hotspot), and create a new function (EG: `JVM_GetALLVmArguments()`) that returns all arguments.

2: Keep the current imp

[2019-03-08 19:16] pdbain-ibm commented on #2974
Assuming it doesn't break us (too much), I favour option 1 if it makes the result of  `JVM_GetVmArguments()` more congruent with the reference implementation.

[2019-03-08 20:04] hangshao0 commented on #4927
This is a defect of the OpenJDK code. Passing this to you. @andrew-m-leonard

[2019-03-08 21:15] dcendents commented on #4904
I've just tested again with the `-Xint` flag and it did crash again.

I've also tested with `-Xjit:dontInline={org/codehaus/plexhus/classworlds/realm/ClassReam.unschronizedLoadClass(*},exclude={org/codehaus/plexhus/classworlds/realm/ClassReam.unschronizedLoadClass(*}` and it also crashed.

I did not try with both flags at the same time.

I cannot upload everything in my google drive at the same ti

[2019-03-08 21:27] pshipton commented on #4904
Note the dump files should compress nicely, if you aren't already doing that.

[2019-03-08 22:33] tajila commented on #5021
More updates have been made regarding alignments

[2019-03-08 22:36] mstoodle commented on #3898
I was asked recently about this problem too. It can be replicated with a very simple reduction loop:

[code]

It would be nice to get to the bottom of the reason why the x86 code generator prevents the use of `OMR::getvelem`.

[2019-03-09 04:19] #4540 closed

[2019-03-09 14:13] #5002 closed

[2019-03-09 17:30] DanHeidinga commented on #5034
Thanks @fjeremic - This gets a big +1 from me.  As this will require help from the Eclipse Webmaster, we should think about whether the text at the top of the project page needs updating as well so we can batch the requests

[2019-03-09 17:37] DanHeidinga commented on #5039
I think we should be looking to match the RI on these tools rather than adding new and potentially incompatible options.

The concern being that the jps tool will have excited before jstack is run on it?  That seems to be a general problem with the jps and actually, all tools that process `ps` style output - namely that the process being inspected may have died between getting the pid and doing th

[2019-03-09 17:37] #5039 closed

[2019-03-10 11:25] mateli commented on #1159
@pshipton Rpi 3 should be able to build for AArch64 as well if that is needed. Well WIP is better than nothing which is the progress on Hotspot.

[2019-03-10 11:56] ashu-mehra commented on #5034
I think it should be ok to have both 'gc' and 'garbage-collector'.

[2019-03-10 12:22] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/604

[2019-03-10 12:29] pshipton commented on #1159
Hotspot has AArch64 support
https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=hotspot#aarch64_linux

[2019-03-11 01:50] knn-k commented on #5018
My build with `--with-openssl=path_to_library` generates the following output:

It is the same as the output from a build without the `--with-openssl=` option.
I haven't investigated the cause yet.

[2019-03-11 09:17] groeges commented on #5018
If you are not bundling the libcrypto library then that meagre means that it could not find the library on the system. Do you know if the system has OpenSSL installed and where the libcrypto library is?

[2019-03-11 13:42] pshipton opened #5045 "PR builds for javanext stream"
There are limited PR builds for the javanext stream. I believe xlinux and plinux work, but not sure about other platforms. This is a request to add PR build support for all the platforms.

i.e. https://github.com/eclipse/openj9/pull/5038#issuecomment-471548012

Also note #5037

[2019-03-11 13:43] pshipton commented on #5045
@jdekonin

[2019-03-11 13:48] pshipton opened #5046 "Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs crash vmState=0x0005ffff Method_being_compiled varies"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/231
[code]

[2019-03-11 13:58] DanHeidinga commented on #5046
Fyi @acraik (on my phone, sorry if I bobbled the username)

[2019-03-11 13:58] dcendents commented on #4904
@pshipton  You are right they compress nicely, I should have thought about it!

I've sent a link to @ChengJin01 @andrewcraik and @pshipton
@fjeremic your profile page does not have an email listed, but I'm sure one of the guys can forward you the link if you are interested.

Let me know if you want me to try other options or some newer builds.

[2019-03-11 14:04] pshipton commented on #4904
When I try to download I get `Access to doc-10-90-docs.googleusercontent.com was denied`

[2019-03-11 14:20] fjeremic commented on #5046
@andrewcraik FYI.

[2019-03-11 14:25] zl-wang opened #5047 "libjvm.so isn't build-time compatible with OpenJDK"
Using OpenJ9, we encountered a Mavern build error.  We had to resort to the distro's openjdk 8, which worked.  Detailed info:

[code]

I am not sure if libjvm.so is required to be exactly compatible to this extent. But I opened up this issue anyway.  This is a potential migration issue.

[2019-03-11 14:35] dcendents commented on #4904
@pshipton it works for me (using the link in the email, unsigned gdrive user in firefox). There was an error saying the file is too big to be scanned but it is possible to download the file.

Is is possible your corporate proxy is blocking the google drive site?

[2019-03-11 14:55] pshipton commented on #5047
The symbols aren't associated with a GLIBC version for some reason.
[code]

While other symbols are, i.e.
[code]

[2019-03-11 15:07] smithwil opened #5048 "Format z/OS errno2 values for OOME at j.l.Thread.start()"
The exception detail message for OutOfMemoryError at `java.lang.Thread.start()` on z/OS reports the errno2 value as a 64-bit hex value. For example:
[code]
It would be more user-friendly to report the errno2 as the lower 8 hex digits only, 0xc112001e in the example above. The decimal value is not used on z/OS for any of the errno2 documentation nor for the error code diagnostic tools such as `edcm

[2019-03-11 15:26] pshipton commented on #4904
Thanks, I managed to download it.

[2019-03-11 15:26] pshipton commented on #4904
It seems to be crashing in a call to memcpy().

[2019-03-11 15:37] sophia-guo opened #5049 "JTReg test fail - Macos java8 : java/rmi/activation/Activatable/checkActivateRef/CheckActivateRef.java"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-64_macos/132/console

- JTReg rmi tests
- Macos
- JDK8
- build level :

[code]

Optional info
-------------

- intermittent failure : yes
- regression or new test:  java/rmi/activation/Activatable/checkActivateRef/CheckActivateRef.java

Failure output
--------------

[code]

[2019-03-11 15:48] fjeremic commented on #5034
I agree. Perhaps we ought to include a link to the website. Giving it some more thought and let's see what we can come up with.

[2019-03-11 16:02] r30shah opened #5051 "Enable JProfiling for profiling compilations"
With JProfiling we already have seen a great performance improvements in ILOG and Spark/HiBench(Steady state). I am opening up this issue to document the needed work to be done to enable JProfiling in profiling compilations and track progress.
Things to do :

1. Move optimization phase to split blocks after GRA
Instead of splitting blocks before GRA increasing the GRA Candidate which in turns incr

[2019-03-11 16:02] r30shah commented on #5051
FYI @andrewcraik

[2019-03-11 16:07] andrewcraik commented on #5051
I have an initial implementation of the postGRABlock splitting in my personal repo github.com/andrewcraik/omr/tree/postGRABlockSplit. These changes are not fully tested yet.

For step 2 in the design I propose we change the internal implementation to use the JIT intrinsics we use to track the values to profiled even in JProfilingValue. We would then be able to rely on value numbers to avoid multip

[2019-03-11 16:12] ChengJin01 commented on #4904
The java core with -Xint shows exactly the same result as previously, which means there is a loop with class loading in this case:
[code]

[2019-03-11 16:13] r30shah commented on #5051
^ https://github.com/andrewcraik/omr/tree/postGRABlockSplit

[2019-03-11 16:29] dmitripivkine commented on #5021
List of items should be look at from GC perspective (not in particular order and to be updated):
- Add recognition for new type of array. Scanning should be two level - use Indexable object Iterator to get start address of the element and use Mixed object Iterator to scan each element as a headless Mixed.
- Should each element to be aligned to (Minimum Heap Object size(16) - Mixed object header si

[2019-03-11 16:44] #4854 closed

[2019-03-11 17:25] amicic commented on #4769
I have looked at latest logs. The timestamp of max pause is always 0ms (and we already knew the long pause was in first 1sec verbose gc heartbeat). For example:

<trigger-start id="5735" timestamp="2019-03-08T07:17:30.027" />
<cycle-start id="5736" type="global" contextid="0" timestamp="2019-03-08T07:17:30.029" intervalms="124585.442" />
<gc-op id="5737" type="heartbeat" contextid="5736" timestamp

[2019-03-11 18:00] ChengJin01 commented on #4904
I double-checked the corresponding system core dumps as follows:
[code]
Against the relationships of the requested classes:
JarArchiver--> ZipArchiver --> AbstractZipArchiver --> AbstractArchiver ---> AbstractLogEnabled
[code]
It turns out it was the same classloader 0x00000007FAC238A0 that was loading all parent classes from JarArchiver, which seems logically correct for class loading.

If so, it

[2019-03-11 19:02] cathyzhyi commented on #2668
The support for x and optimizer is done for this item.
Z is most done and has 2 WIP PR under review https://github.com/eclipse/openj9/pull/4743, https://github.com/eclipse/omr/pull/3571.
P hasn't really started much yet https://github.com/eclipse/openj9/issues/3422

[2019-03-11 19:07] gita-omr commented on #2668
P is targeting 0.14 so @AlenBadel is actively working on it. Note that it's not a simple port from Intel. We had to implement new type of snippets and there are other Power specifics.

[2019-03-11 19:52] ChengJin01 opened #5058 "Porting OpenJ9 to RISC-V"
We determined to port a complete runtime environment including OpenJDK11 + OpenJ9 + OMR (without JIT) to the RISC-V development board (e.g. HiFive1 FE310 / embedded system / featured with the little-endian 32bit MCU / 128Mbit (16MB) flash memory/ please refer to https://www.sifive.com/boards/hifive1 for details) to get it work on the board.

According to the explanation of RISC-V cross-compilers a

[2019-03-11 19:57] mstoodle commented on #5058
@shingarov you might be interested in this one :)

[2019-03-11 20:03] ChengJin01 commented on #5058
Currently, I already finished the following jobs:
1. verified the HiFive1 32bit board with simple test (e.g. compile/upload a program with the Freedom E SDK  to the board to see whether it works) to understand how it works.
2. compiled a 32 bit Linux cross compiler but there might be some issue with the compiler. still working on that.

[2019-03-11 20:08] ChengJin01 commented on #5058
@pshipton ,  I am wondering whether we should disable shared classes on the resource-limited board (only 128M flash memory available) as the shared cache is set to 300MB by default.

In addition, we might need to disable some modules/unnecessary stuffs in code to get things easy to go on the board.

[2019-03-11 20:23] JasonFengJ9 commented on #5058
@ChengJin01 `jlink` can generate `java.base` only JRE (no other modules).

[2019-03-11 20:43] ChengJin01 commented on #5058
Probably need to disable these modules in config/setting in the OpenJDK before compiling the build with riscv32-unknown-linux-gnu-gcc as there might be no way to run jink on the compiled build (already in RISC-V format) on the host machine.

[2019-03-11 21:52] ChengJin01 commented on #4904
Considering the mess in the native stack as follows:
[code]
The only calling path that might correlate `Java_java_lang_ClassLoader_defineClassImpl `to `memcmp` is:
defineClassImpl --> defineClassCommon ---> romClassLoadFromCookie --> memcmp
[code]
If so, then the problem should be related to the cookie (which is re-allocated by GC in defineClassCommon()).

@dcendents, does the crash occur every ti

[2019-03-12 00:11] dcendents commented on #4904
Every time. I have a lot of projects in eclipse, I normally would only open the projects I work on, but when I switched to OpenJ9 I thought i'd stress it a bit to see how it performed and opened all the projects and rebuilt them all.

Every single time it crashed before completing the workspace build.

I only tried once with -Xint though. If I recall correctly it took longer before it crashed, but

[2019-03-12 13:06] pshipton commented on #5058
@ChengJin01 When the available disk space is small, the default shared cache size should be 64MB. However I can guess this still might be too big. We do want to ensure shared classes is working, and could set an even smaller size for this platform, like 16M or even 4M just for test purposes.
@hangshao0

[2019-03-12 13:07] pshipton commented on #5058
Actually, this is 32-bit, so the default shared cache size should be 16MB already. The 300MB default size is for 64-bit only.

[2019-03-12 14:37] sophia-guo commented on #1432
Close this issue as its jdk9, and as individual issues are being opened against jdk11.

[2019-03-12 14:37] #1432 closed

[2019-03-12 14:55] sophia-guo opened #5061 "JTReg test fail - Macos java8 : sun/rmi/rmic/manifestClassPath/run.sh"
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-64_macos/133/console

- test category:  JTreg jdk_rim
- test suite name: jdk_rmi
- OS/architecture (macos):
- OpenJDK version (i.e. 8u202-b08):
- build level (i.e. -version output, with public shas):

[code]
Optional info
-------------
- intermittent failure (yes|no): yes
- regression or new tes

[2019-03-12 16:01] dmitripivkine commented on #5021
@RSalman Would you please work on GC support for this feature?

[2019-03-12 16:07] DanHeidinga commented on #5061
Crash compiling method:
[code]
fyi @andrewcraik

[2019-03-12 16:20] RSalman commented on #5021
I'll start looking into the GC items!

[2019-03-12 16:28] andrewcraik commented on #5061
@DanHeidinga do you have any kind of backtrace for the crashing thread? something very weird since this is OSX specific...

[2019-03-12 17:37] #3641 closed

[2019-03-12 17:37] #4661 closed

[2019-03-12 17:38] cathyzhyi commented on #4837
Tried out prototype changes for item 1-4  in description on JRuby benchmarks from https://github.com/headius/bench2018. Benchmark names are bold and some benchmarks have subbenchmarks. `withchange` includes item 2-4. `withchangeinlineathot` includes item 1-3. `withchangeswap` includes item 1-4  especially adding swapping normal inlining and targeted inlining compared to `withchange`. Swapping show

[2019-03-12 17:43] smlambert opened #5066 "Prepare functional tests for use on non-openj9 implementations"
As part of AdoptOpenJDK QA, we would like to leverage some of the functional tests to verify non-openj9 implementations also.  We need to do a few things to prep these tests for that purpose:

- segregate/separate build targets so that test material that contain openj9 specific classes are excluded from compilation with non-openj9 implementations
- update playlists to properly tag tests that are g

[2019-03-12 17:56] cathyzhyi commented on #4837
The above work improves the performance to some degree but there still splenty more to do. Looked more into benchmarks performs espically poorly
**red_back**:
&nbsp;&nbsp;&nbsp;&nbsp;1432   4.80% java/lang/invoke/MutableCallSiteDynamicInvokerHandle.invokeExact_thunkArchetype_X(Ljava/lang/Object;Ljava/lang/Object;Ljava
&nbsp;&nbsp;&nbsp;&nbsp;2438   8.16% java/lang/invoke/MutableCallSiteDynamicInvo

[2019-03-12 18:13] gacholio commented on #4872
Some questions we need answered:

- What happens to resolved methods which are deleted?

Obvious alternatives are: use placeholder method to throw, continue running the deleted method, re-resolve.

- What happens to resolved methods which are added?

If a method is resolved, and a new method which would have been resolved is added, do we keep running the resolved method, or "correct" the invoke?

[2019-03-12 18:23] tajila commented on #5021
@AidanHa will be working on the VM+Barrier changes

[2019-03-12 18:26] DanHeidinga commented on #4837
OpenJ9 doesn't use LambdaForms - that's OpenJDK's implementation of MethodHandles.  Where we build up a chain of MH-subclasses to represent the behaviour, they generate classes from the LambdaForms to implement the MH behaviour.

[2019-03-12 18:31] pdbain-ibm commented on #4717
@headius would you kindly retest with the latest nightly MacOS build?

[2019-03-12 18:39] ChengJin01 commented on #4904
It looks like a bug out in our code. but first of all is to figure out where memcmp() in the crash came from as the dump was inaccurate for us to diagnose. I will compile a build (Java8 on Windows) with an assertion on the first argument (might be an invalid pointer or NULL) before all memcmps (without JIT) to determine the location of memcmp before it crashes.

@dcendents , is that possible to sh

[2019-03-12 18:46] a7ehuo opened #5069 "Assert found shared cache with option disabled"
Hitting the following assert on the JITaaS server side when killing the server.

[code]

This assert might not apply to the server since -Xshareclasses is not specified on the server side but on the client side.  The shared cache is created as long as `TR_EnableJITaaSRemoteAOT` is set on the server side

[2019-03-12 19:16] llxia commented on #5022
For the initial step, we will try to list the tests that use <disabled> in playlist.xml (FYI @LongyuZhang )

[2019-03-12 19:19] dmitripivkine commented on #5021
Would be helpful to add some kind of PRIMITIVE flag to this type if mixed object part does not have object  references to scan, so GC might go to primitive array path

[2019-03-12 20:00] pshipton commented on #4658
Seems clear this won't be addressed in the 0.13 release, moving to 0.14

[2019-03-12 20:01] pshipton commented on #4966
#4919 has been merged.
#5067 should be merged shortly for the equivalent fix in the 0.13 release branch

[2019-03-12 20:01] #4966 closed

[2019-03-12 20:02] pshipton commented on #4964
#4919 has been merged.
#5067 should be merged shortly for the equivalent fix in the 0.13 release branch

[2019-03-12 20:02] #4964 closed

[2019-03-12 20:02] pshipton commented on #4961
#4919 has been merged.
#5067 should be merged shortly for the equivalent fix in the 0.13 release branch

[2019-03-12 20:02] #4961 closed

[2019-03-12 20:03] pshipton commented on #4984
This has only ever occurred once. Whatever caused it, it won't be address in the 0.13 release cycle.

[2019-03-12 20:06] dcendents commented on #4904
@ChengJin01 no sorry this won't be possible. This is our customer's property and we signed an NDA.

If it can help I don't mind testing your build and sharing the dump files with you, but this is as far as I can go to help you guys figure out what the problem is. Sorry I can't do more.

[2019-03-12 20:22] cathyzhyi commented on #4837
@DanHeidinga Thanks for the information! I will just investigate the openj9 tracing log then.

[2019-03-12 20:32] ChengJin01 commented on #4904
@dcendents , many thanks for confirming that. I will prepare a debug build for your to test.

[2019-03-12 20:43] Mesbah-Alam opened #5071 "Consistent crash encountered in aarch64 JDK11 Openj9 SDK while running ClassLoading Load test"
A consistent crash is encountered in Aarch64 JDK11 Openj9 SDK (no JIT) while running ClassLoading Load test.

5x Grinder produced the failure 100% times : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1216/tapResults/

**SDK details**:
A developer build provided by Kazuhiro Konno/Japan/IBM was used. It can be downloaded from here: https://ci.adoptopenjdk.net/view/Test_grinder/job/Uploa

[2019-03-12 21:02] 0xdaryl commented on #5071
Thanks @Mesbah-Alam.  @knn-k, FYI.

[2019-03-13 00:57] knn-k commented on #5071
Thanks.  I will take a look.

[2019-03-13 02:50] DanHeidinga commented on #5061
@sophia-guo Do you have the javacore / system core from this test failure?  I've checked the jenkins results files and can only find the JTR files.

[2019-03-13 11:09] groeges opened #5074 "OpenJ9 / OMR fails to build on AIX when using latest XLC v16.1"
In OpenJDK jdk branch (jdk13) and hence the jdk13 extensions repository there have been changes to use xlclang/xlclang++ if available on AIX systems.

If XLC 16.1 is installed then xlclang/xlclang++ is provided and used when building OpenJ9/OMR.
When using  xlclang/xlclang++ there are quite a lot of compiler/linker options that are not supported anymore and cause the build to fail.

This website s

[2019-03-13 13:22] headius commented on #4717
@pdbain-ibm Can do!

[2019-03-13 13:38] headius commented on #4717
@pdbain-ibm The 2019-3-13 nightly appears to build JRuby successfully on MacOS!

Thanks everyone, this will make it a lot easier for me to use OpenJ9 day-to-day on JRuby work.

[2019-03-13 13:52] dmitry-ten opened #5077 "Remote AOT segfault"
I'm frequently getting the following segfault when running AcmeAir on lara perf machine:
[code]

A quick inspection tells me that a problem starts in frame 17, in `OMR::ValuePropagation::transformReferenceArrayCopy`.
This method calls `createStoresForArraycopyChildren`. to set pointers to args of the next frame,
but all of them remain NULL.
[code]
And since this crash appears only in remote AOT mo

[2019-03-13 13:57] pdbain-ibm commented on #4717
@headius would you kindly close this issue?
Many thanks for your assistance and your patience.

[2019-03-13 14:12] fjeremic commented on #4717
No need for the churn, we can close on his behalf given the issue is fixed. Thanks for making OpenJ9 better everyone!

[2019-03-13 14:12] #4717 closed

[2019-03-13 14:46] #4940 closed

[2019-03-13 15:07] AidanHa commented on #2974
When calling `getVMArgs()` in a packaged java project with the current implementation, Openj9 puts all of the user command line arguments in the `-Dsun.java.command=` argument (Eg: java Test.class -Xint would have `-Dsun.java.command=Test.class -Xint` as an argument.

[2019-03-13 15:10] AidanHa commented on #2974
The issue is that this command is that the `-Dsun.java.command=` command is ignored in our current implementation since it's treated as a generated argument. Therefore, user arguments are NOT returned if the java file is in a package. Thus we must make a special case for this command.

Hotspot's version of this function returns all user arguments regardless if the function is packaged or not. So t

[2019-03-13 17:22] ChengJin01 commented on #5058
I doubled-check the document on HiFive1(32bit FE310), it is actually 16MB off-chip flash memory (128Mbit). So the shared cache still needs to be reduced if possible.

In addition, according to the technical spec FE310 at
https://docs.platformio.org/en/latest/frameworks/freedom-e-sdk.html
https://github.com/RIOT-OS/RIOT/wiki/Board:-HiFive1
[code]
and the discussion of Linux port on HiFive1at https:

[2019-03-13 17:33] hangshao0 commented on #4984
@Mesbah-Alam

[2019-03-13 17:51] headius commented on #4717
FWIW I usually don't close issues on projects I don't own, and I suspect there's many others that work the same way. We prefer users don't close JRuby issues until we've decided on a release milestone, etc (and btw it would be really nice to see real release milestones for issues like this, so I can make recommendations to folks about which release they can use).

[2019-03-13 18:47] Mesbah-Alam commented on #4984
Not sure why the core was not saved in the results zip. Started a grinder with the test, it should save the coredump if the failure occurs: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1252/console

[2019-03-13 18:57] cathyzhyi commented on #5046
this is the same issue as https://github.com/eclipse/openj9/issues/5061

[2019-03-13 19:34] DanHeidinga commented on #5058
1) Can the HiFive1 boards be extended with additional RAM & disk?
2) Is there an emulator for the RISC-V that we can use while working to procure more suitable boards?

3) We want to target Linux with this work as it simplifies the rest of the porting effort.

[2019-03-13 19:39] mstoodle commented on #5058
Surely supporting the shared classes cache could be considered on the "nice to have" list rather than in the initial set of priority activities for a new platform bring up?

Is there an existing new platform bring-up (ordered) checklist? If not, could we start creating one as part of this effort?

[2019-03-13 19:51] AidanHa commented on #5021
I've confirmed that the classFlags are copied over to the array RamClass Flags!

[2019-03-13 20:19] ChengJin01 commented on #5058
@DanHeidinga ,

There is no public doc/Spec shows it can do that but we can bring this question to their forum at https://forums.sifive.com.

The typical emulator is QEMU (https://github.com/riscv/riscv-qemu) both with RISC-V (RV64G, RV32G) Emulation Support. It will be used to launch the Linux port so as to run the JVM after compilation.

In this case, there might be not too many options in term

[2019-03-13 20:51] ChengJin01 commented on #5058
Already talked to @mstoodle , we can create a high-level/generic porting guideline not specific to any platform, which helps people to understand the basic/keys steps to be follow when porting OpenJ9 to a new platform.

[2019-03-13 21:00] #5016 closed

[2019-03-13 21:26] tajila commented on #5021
@dmitripivkine

I have some ideas to do that

We can introduce a VM macro to do  the check. ie. `J9_DOES_VALUE_ARRAY_CONTAIN_REFERENCES` , just checks if the instance description bits of the element class is zero.

We can use the macro for now in the GC code. Then we can make it faster by adding a primitive flag later. I don't won't to commit to adding a primitive now, because there are a lot of f

[2019-03-14 03:31] ChengJin01 commented on #4904
@dcendents ,  I already sent the link of a debug build to you via Google drive. Hopefully it will show us where the crash came from if the pointers passed to memcmp are NULL.

[2019-03-14 13:13] smlambert opened #5087 "java_lang_invoke_MethodHandlesProxiesTest failure on jdk12"
Failure link:
--------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk12_j9_openjdktest_x86-64_linux/18/testReport/

- test category: openjdk
- test suite name: jdk_lang
- OS/architecture: fails on all platforms

java -version
11:23:42  openjdk version "12" 2019-03-19
11:23:42  OpenJDK Runtime Environment AdoptOpenJDK (build 12+32-201903141003)
11:23:42  Eclipse OpenJ9 VM AdoptOpen

[2019-03-14 13:21] smlambert opened #5088 "java_net_httpclient_VersionTest crashes on jdk12 windows"
Failure link
-------------
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk12_j9_openjdktest_x86-64_windows/9/testReport/java_net_httpclient_VersionTest/java/VersionTest/

- test category: openjdk
- test suite name: jdk_net
- OS/architecture: x86-64_windows
java -version:
13:49:04  openjdk version "12" 2019-03-19
13:49:04  OpenJDK Runtime Environment AdoptOpenJDK (build 12+32-201903131148

[2019-03-14 13:43] Yuehan-Lin opened #5089 "testDDRExt_General failed in OpenJ9 SDK"
When importing the DDR tests, DDR general test (testDDRExt_General_openj9) passed on IBM SDK from vmfarm, but did not passed on OpenJ9 SDK.

Failure link
------------
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1249/
If the link cannot be opened:
-  buildlist: functional/DDR_Test
- OS/architecture: linux_x86-64_cmprssptrs
- OpenJDK version:
[code]

Failure output
--------------
Outpu

[2019-03-14 14:00] #5069 closed

[2019-03-14 14:06] smlambert commented on #5088
Initial 5x passing grinder (on same machine as original failure occured)  (https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1264/) indicates this failure does not easily reproduce

[2019-03-14 14:40] tajila commented on #5021
I believe the size calculation for flattened array elements is something like the following:
[code]
This ensures that we pad up the size of the elements so alignment constraints are met.

Once we have the element size, the total arraySize is simply `elementSize * numOfElements`

@AidanHa for part 1 (Array Classes) instead of adding the `flattenedClassCache` field to the array ramClass. Add a `UDAT

[2019-03-14 14:49] dmitripivkine commented on #5021
Can special (from GC point of view) mixed objects like Phantom/Weak/Soft References, Ownable Synchronizers etc. be flattened?

[2019-03-14 14:51] JasonFengJ9 commented on #5087
This appears a regression.

[2019-03-14 15:20] Mesbah-Alam opened #5093 "Aarch64 Linux JDK11 build missing j9jvmti29.so"
Aarch64 Linux build seems to be missing j9jvmti29.so library.

The following error is received while running `SharedClassesAPI_0`test:

[code]

**SDK details:**
A developer build provided by Kazuhiro Konno/Japan/IBM was used. It can be downloaded from here: https://ci.adoptopenjdk.net/view/Test_grinder/job/UploadFile/12/artifact/upload/jdk20190312cr.zip

**SDK version:**
[code]

**To reproduce:**

[2019-03-14 15:21] Mesbah-Alam commented on #5093
FYI @knn-k

[2019-03-14 15:31] Mesbah-Alam commented on #5093
Taking a closer look, it is in fact a test issue, as the main error is ` libsharedClasses.so` is missing - which is provided by the test. Closing this issue at this point. Will open a Test issue elsewhere.

[2019-03-14 15:31] #5093 closed

[2019-03-14 15:32] JasonFengJ9 commented on #5087
fyi @keithc-ca https://github.com/eclipse/openj9/commit/58fccf2b499cb92f19c1d86cc071197a998a8a02

[2019-03-14 15:40] Yuehan-Lin opened #5095 "testDDRExt_SharedClasses failed in OpenJ9 SDK"
When importing the DDR tests, DDR sharedClasses test(testDDRExt_SharedClasses_openj9) passed on IBM SDK from vmfarm, but did not passed on OpenJ9 SDK.
The IBM SDK I used is
[code]
Failure link
------------
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1250/
If the link cannot be opened:
-  buildlist: functional/DDR_Test
- OS/architecture: linux_x86-64_cmprssptrs
- OpenJDK version:
[cod

[2019-03-14 15:46] hangshao0 commented on #5058
@knn-k has some recent experience porting OpenJ9 onto Aarch64. He might be helpful regarding the porting guideline.

[2019-03-14 15:59] hangshao0 commented on #5095
Looks like methods getSecurityManager() and getSecurity() are not AOT'ed.

[2019-03-14 16:04] tajila commented on #5021
Also, For part2, you'll need to add a simple test to `ValueTypeTests.java` that creates a Value type array. ie.
`Array.newInstance(FlattenedLine2Dclass, ...`. This will be sufficient to test your changes for now. The more extensive tests can be added later.

[2019-03-14 16:12] tajila commented on #5021
@dmitripivkine

There is currently no restriction on the type of references a value type is allowed to have. So yes, a value type could contain a  Phantom/Weak/... reference and that value type may be flattened in an array.

[2019-03-14 16:26] harryyu1994 opened #5096 "Assert adding an exception edge when there's already a non exception edge"
I have been running the OpenJ9 sanity tests with a JITaaS debug build and is seeing assertions.

Assertion No.1 (triggered on the JITaaS Server):

[code]

[2019-03-14 16:30] harryyu1994 commented on #5096
Looking into Assertion No.1

[2019-03-14 17:29] harryyu1994 commented on #5096
Younes has a fix for Assertion No.1: https://github.com/eclipse/openj9/pull/4648

[2019-03-14 17:38] #2768 closed

[2019-03-14 17:50] dmitripivkine commented on #5021
This would cause extra complications in GC. The cases of building lists of References and other handling based on scan-only-once, Work Packet Overflow cases etc. This case can be avoided in first implementation by disabling of flattening for special types and be addressed later.
Is my understanding correct that for example stand alone Weak Reference object and Weak Reference element of array are e

[2019-03-14 17:57] a7ehuo opened #5098 "JITaaS Assert in Sanity Test jit_jitt_0"
Run `make _jit_jitt_0` with a debug build, with or without the remote AOT enabled, the following asserts happen. The client side assert could be a side effect of the assert on the server side.

JITaaS Server Side:
[code]

JITaaS Client Side:
[code]

[2019-03-14 17:58] a7ehuo commented on #5098
Will take a look at this one.

[2019-03-14 18:26] hangshao0 commented on #5095
Talked to @Yuehan-Lin, methods getSecurityManager() and getSecurity() are AOT'ed and in the system core. The messages are not real errors. We can stop printing such info messages in error log.

The test failed due to:

Test can be updated to check for another method.

[2019-03-14 18:41] smlambert commented on #5087
Excluded via: https://github.com/AdoptOpenJDK/openjdk-tests/pull/985

[2019-03-14 19:18] sharon-wang commented on #4945
On lines 1778 and 1779 of:
https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/bb38f8aaac36f1bb22dfc2461e47fc294c00c961/test/jdk/java/lang/ProcessBuilder/Basic.java#L1767-L1781

The test is failing since it is looking for `javaExe` and `System.getProperty("java.version")` in the `ProcessResults` error stream, however the error stream does not include that information. The out stream is empty.

[2019-03-14 19:20] fjeremic commented on #4609
So I tried this and it seems debug counters on 31-bit are broken, even static debug counters. They don't even work on `java -version` apparently:

[code]

This will need to be fixed, but it is a separate issue. The same command works on an equivalent 64-bit JVM. I was however able to collect throughput and compile time information though including a run with all HPR support deprecated from above t

[2019-03-14 19:21] fjeremic commented on #4609
Note we are greed all across the board. I think this is enough proof we should go ahead with #5042. @0xdaryl, @joransiu, @vijaysun-omr  FYI.

[2019-03-14 19:26] JasonFengJ9 commented on #4945
@sharon-wang good findings! what's the result when running same test against `RI JDK 12/11` and `OpenJ9 JDK11`?

[2019-03-14 19:48] liqunl opened #5102 "Bus error during gc object allocation"
Crash with bus error in daytrader3 run with an openj9-jdk11 nightly build. Occurs on java8 as well.
[code]
Another stack is
[code]

[code]
Can provide core files upon request.

[2019-03-14 20:03] liqunl commented on #5102
@amicic FYI

[2019-03-14 20:41] dmitripivkine commented on #5102
Would you please provide system core?

[2019-03-14 20:41] amicic commented on #5102
yes, we'll need a core

[2019-03-14 21:02] liqunl commented on #5102
System core provided through internal channel.

[2019-03-14 21:16] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64_cmprssptrs/608
`java.lang.AssertionError: expected:<-1> but was:<-72057593937236925>`

[2019-03-14 21:21] pshipton opened #5107 "Test-sanity.functional-JDK12-linux_x86-64 jsr335_interfacePrivateMethod_mode100_0 VerifyError: JVMCFRE116 invoke bytecode must reference a Methodref"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK12-linux_x86-64/22
[code]
[code]

[2019-03-14 21:21] harryyu1994 opened #5108 "JITaaSCHTableCommit crash in jitaas remote AOT mode"
JITaaS Client side crash.
`metaData=0x0` dereferencing a null pointer in `JITaaSCHTableCommit` caused the crash

[code]

[2019-03-14 21:25] pshipton commented on #5107
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK12-linux_x86-64/23

[2019-03-14 21:28] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-linux_x86-64/575
[code]

[2019-03-14 21:38] pshipton commented on #5107
This must be caused by either #5073 or #5067. The failure is not occurring in the head stream, only in the 0.13 branch testing.
@gacholio @keithc-ca @DanHeidinga

[2019-03-14 21:45] JasonFengJ9 commented on #5107
It is #5067 just like https://github.com/eclipse/openj9/issues/5087.

[2019-03-14 21:54] pshipton commented on #5088
@DanHeidinga

[2019-03-14 22:02] pshipton opened #5109 "aix71-p8-1 There is not enough space in the file system"
Machine disabled

https://ci.eclipse.org/openj9/job/Build-JDK11-aix_ppc-64_cmprssptrs/669
https://ci.eclipse.org/openj9/job/Build-JDK8-aix_ppc-64_cmprssptrs/1198
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK12-aix_ppc-64_cmprssptrs/21
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK8-aix_ppc-64_cmprssptrs/228
etc.
Been happening for a few days.

[2019-03-14 22:02] pshipton commented on #5109
@jdekonin

[2019-03-14 22:23] jdekonin commented on #5109
Looks like the extra workspace mountpoint has become unmounted.  I have rebooted and manually cleaned up content, but this still leaves only 4G free and no obvious 50G mount. fyi @AdamBrousseau

[2019-03-15 00:47] keithc-ca commented on #5107
On the surface this doesn't appear to be related to either #5067 or #5073: neither altered anything to do with verification or that would have introduced bad byte code:

[2019-03-15 01:33] knn-k commented on #5058
If it is without the JIT, you can take a look at these PRs to begin with for what I have done with AArch64 VM build:
- #3502, #3559, #4087, #4333, #4350, #4487, #4696

[2019-03-15 01:41] gacholio commented on #5107
Agreed - both of our changes take place long after verification. Mine does have to do with interfaces.

Is this possibly related to allowing invoke bytecodes other than invokeinterface to target InterfaceMethodRef? Saw this in the report associated with my change, but we clearly allowed invokestatic of InterfaceMethodRef in that case - perhaps we shouldn't?

[2019-03-15 03:19] ChengJin01 commented on #5058
@knn-k , many thanks for your links of changsets. I believe we will get started with at least something similar (with RISC-V instruction sets) except Docker-related stuff as we need to run it directly on hardware/board.

[2019-03-15 05:08] knn-k commented on #5058
AArch64 VM uses the Docker image for cross-compilation on x86-64 Linux.
I would appreciate any feedback from your RISC-V effort.

[2019-03-15 08:43] knn-k commented on #5071
There is a line `Expectation: CLEAN_RUN within 30m` in the execution log, and the VM is killed after 30 minutes.  That is the reason of unexpected termination of the test.  The test device and the VM is slower than the test assumes.

[2019-03-15 10:00] vsabella commented on #2696
I've noticed on later builds this is still a problem. The CACerts file is actually a github error message:

[code]

[2019-03-15 11:12] ben-walsh opened #5114 "Linux s390x build failure"
[code]

From https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-linux-s390x-openj9/21

Previous build had no such problem (https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-linux-s390x-openj9/20) and I'm not aware of any configuration change to the build machine, so assuming this is a result of a component code change.

[2019-03-15 11:40] pshipton commented on #5046
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-osx_x86-64_cmprssptrs/230
cmdLineTester_SCCommandLineOptionTests_1
[code]

[2019-03-15 11:44] pshipton commented on #5061
There is a core attached to the similar recent failure in #5046
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK8-osx_x86-64_cmprssptrs/230/artifact/functional_test_output.tar.gz
@andrewcraik

[2019-03-15 11:47] ben-walsh commented on #5114
Seems there have been changes to the machine configuration. Closing until these are shown not to have contributed.

[2019-03-15 11:47] #5114 closed

[2019-03-15 11:51] pshipton opened #5115 "Test failure doesn't show up in TAP output"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/550
'''
06:39:56  FAILED test targets:
06:39:56  	UnsafeTests_0
06:39:56
06:39:56  TOTAL: 211   EXECUTED: 129   PASSED: 128   FAILED: 1   SKIPPED: 82
'''

TAP output shows 111 results.

  | Duration | Status | Skip | Todo
-- | -- | -- | -- | --
1 - - testDDRExt_General_win_0 | 27 ms | OK | Yes | No
2 - - testDDREx

[2019-03-15 11:52] pshipton commented on #5115
@smlambert @llxia

[2019-03-15 11:56] pshipton opened #5116 "Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs UnsafeTests_0"
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/550
[code]

Similar to #4657 and #3742

[2019-03-15 12:11] JasonFengJ9 commented on #5107
I had a build with recent `master` which failed this issue and #5087, reverting #5067 made them pass though it was done manually.
@keithc-ca maybe a personal build can determine if this regression was caused by the PR in question.

[2019-03-15 13:00] DanHeidinga commented on #5061
FYI @cathyzhyi Can you take a look at the core Peter mentioned in the comment above?  If it's not downloaded somewhere soon it'll be automatically removed

[2019-03-15 13:21] llxia commented on #5115
Generated TAP file looks fine to me. It has all 211 tests listed.
[TestTargetResult.tap.txt](https://github.com/eclipse/openj9/files/2971022/TestTargetResult.tap.txt)

fyi @renfeiw

[2019-03-15 13:22] keithc-ca commented on #5107
My best theory is that the path taken for defining proxies isn't given the exemptions it needs in jdk12; in past versions, proxies were defined via Unsafe which granted many exemptions.

[2019-03-15 13:35] dmitry-ten commented on #5108
This is the same problem that #5028 tried to deal with.
The crash happens because relocations are not done at the end of the compilation, but
`remoteCompile` assumes that either relocations are successful and `metaData` is not NULL, or compilation fails.

[2019-03-15 13:47] smlambert commented on #5115
06:40:00  Recording test results
[Pipeline] sh
06:40:06  + tar -zcf functional_test_output.tar.gz ./openjdk-tests/TestConfig/test_output_15526415013599
[Pipeline] sh
06:40:09  + find ./jvmtest/functional/work -name *.jtr
06:40:09  + tar -zcf jtr_test_output.tar.gz -T -
06:40:09  find: 0652-019 The status on ./jvmtest/functional/work is not valid.

Has it been seen as a problem on other machines?
T

[2019-03-15 13:52] JasonFengJ9 commented on #5088
This one is similar with a few others at Windows platform.
https://github.com/eclipse/openj9/issues/4772, https://github.com/eclipse/openj9/issues/4737, https://github.com/eclipse/openj9/issues/4125, https://github.com/eclipse/openj9/issues/4053, https://github.com/eclipse/openj9/issues/4054, https://github.com/eclipse/openj9/issues/4126, https://github.com/eclipse/openj9/issues/4778.

[2019-03-15 14:03] smlambert commented on #200
Re-opening, as there are 2 test cases mentioned in this epic (we will still need to cleanup ROMRetentionAfterRAMFailureTest)

[2019-03-15 14:05] llxia commented on #5115
The status on ./jvmtest/functional/work is not valid.

It should not be related to the TAP rendering as `TAP Reports Processing: FINISH` was printed out before this line.

However, I do not see this error `find: 0652-019 The status on ./jvmtest/functional/work is not valid.` in previous passed builds.
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/549/console

[2019-03-15 14:13] sharon-wang commented on #4945
@JasonFengJ9 here are the results for running the same test on other JDKs

-----

**OpenJ9 JDK11**
[code]
**Result:**
Same as OpenJ9 JDK12 in above comment

-----

**RI JDK11**
[code]
**Result:**
[code]
- `java.lang.Error: posix_spawn is not a supported process launch mechanism on this platform.` due to https://github.com/sharon-wang/openj9-openjdk-jdk12/blob/54484f2d8247ff8db90c0d6be6bb0a261523da

[2019-03-15 14:24] DanHeidinga commented on #5088
@ChengJin01 Can you take a look at this?

I tried to find a copy of the core file on the Adopt Jenkins and haven't been successful so it's unclear to me whether the cores are saved or I'm looking in the wrong place.  @smlambert can you confirm whether the cores are saved?

[2019-03-15 14:31] pshipton commented on #5107
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK12-linux_x86-64/24

Note this fails consistently, but only on the 64-bit (not compressed refs) build.

[2019-03-15 14:56] JasonFengJ9 commented on #5032
Will have a look.

[2019-03-15 15:09] ChengJin01 commented on #5088
Will investigate to see what happened to the failing test.

[2019-03-15 15:16] tajila commented on #5021
Yes, I believe this is the case.

[2019-03-15 15:22] smlambert commented on #5088
I do not see the cores in the archived results...
output suggests that the cores get dumped to a scratch dir inside the workspace

JVMDUMP010I System dump written to C:\\Users\\jenkins\\workspace\\openjdk12_j9_openjdktest_x86-64_windows\\jvmtest\\openjdk_regression\\work\\scratch\\1\\core.20190313.131431.14320.0001.dmp
...

We are zipping up and storing contents of the openjdk_regression/work fold

[2019-03-15 15:43] keithc-ca commented on #5107
That's just because the test is only configured to run in mode 100 (`-Xint -Xgcpolicy:optthruput -Xnocompressedrefs`). Removing the `<variations>` element from the test so it always runs shows it fails with compressed refs as well.

[2019-03-15 17:02] Mesbah-Alam commented on #5071
To confirm Hiro's https://github.com/eclipse/openj9/issues/5071#issuecomment-473203696 above, Increasing the timeout in the test makes it pass 3x Grinder on the same aarch64 sdk: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1272/console

Closing this issue as a test problem.

[2019-03-15 17:02] #5071 closed

[2019-03-15 18:15] harryyu1994 commented on #5108
Working on a fix for this one.

[2019-03-15 18:32] dcendents commented on #4904
@ChengJin01 I have run the build twice with the debug build, with `-Xverify:none` only and also with `-Xint`, the dump files are on my google drive in the same folder as before.

[2019-03-15 18:56] pshipton opened #5123 "JDK-NEXT testing cannot run tests"
https://ci.eclipse.org/openj9/blue/organizations/jenkins/Test-sanity.functional-JDKnext-linux_ppc-64_cmprssptrs_le/detail/Test-sanity.functional-JDKnext-linux_ppc-64_cmprssptrs_le/2/pipeline
`No such property: JDK_VERSION for class: groovy.lang.Binding`

Build started from https://ci.eclipse.org/openj9/view/Pipelines/job/Pipeline-Release-Build/

Did I set it up incorrectly, or are more changes req

[2019-03-15 18:56] dmitripivkine commented on #5102
This is strange failure...
There are two 2M pages reserved for Card Table [`0x2AAAABE00000`,`0x2AAAAC200000`]
[code]
The `InaccessibleAddress=00002AAAABE1A000` is located in this range obviously.
Because memory is reserved in shared huge pages it is provided to the process right away.
However we try to emulate commit/decommit level and make page(s) be read/write protected until page is not committ

[2019-03-15 18:56] pshipton commented on #5123
@AdamBrousseau @jdekonin

[2019-03-15 18:59] ChengJin01 commented on #4904
@dcendents ,  did you see any pop-up window with error message like "Assertion failed! Program: c:\java\jdk8u...\java.exe File: XXX.c Line: 2713..."?

This is why a debug build was created to capture invalid pointers (only for NULL pointers) before calling memcmp.  If not, I suspect the address of pointer looks fine but somehow unable to access to the value.

[2019-03-15 19:07] dcendents commented on #4904
I did not notice any popup, eclipse simply crashed.
But I run eclipse in a Windows VM, sometimes the display does not refresh correctly until I click on the window, so the chance that I can see such popup is slim.
It would be better to capture necessary information in a log file.

[2019-03-15 19:17] ChengJin01 commented on #4904
The error message is triggered by assert() which can't be logged in any of existing dump files.
The popup window with assertion failure should show us which file/line the crash was triggered from.
If no popup window occurred  in such case, then we suspect the debug build didn't work and need to figure out another way to capture that.

[2019-03-15 19:31] pshipton commented on #5102
It is a bus error. Could the machine be out of swap space?

[2019-03-15 19:32] dmitry-ten opened #5124 "JITaaS should not cache array class of RAM class on the server"
Whenever we cache a ROM class on the server, we also cache some of its RAM attributes in `ClassInfo` struct, including `ClassInfo.arrayClass`. That is, we cache a pointer to an array class that has elements of the class being cached.
When we implemented caching we assumed the array class will not change while a class is loaded, however, that is not true.
For example, it is changed in this method i

[2019-03-15 19:54] pshipton commented on #4945
OpenJ9 doesn't support the `-XX:OnOutOfMemoryError` option.

There is an equivalent `-Xdump:tool:events=systhrow,filter=java/lang/OutOfMemoryError,exec="<path>/java -version"`. You could add support for `-XX:OnOutOfMemoryError` to OpenJ9, and map it to the equivalent.

[2019-03-15 19:55] harryyu1994 commented on #5108
It turns out `CHTable` is not used by AOT. CHTable commit should return true right away AOT compilations.

[2019-03-15 19:56] liqunl commented on #5102
I wonder if it's related to the machine set up. The machine has two numa nodes, only 4 cores of the first node are turned on. And the server process is pinned to the cores of the first numa node. Cores on the other numa node are used to run the client process.
By doing `echo 0 > /proc/sys/vm/nr_hugepages`, JVM cannot allocate a huge page, the run works. I usually set `/proc/sys/vm/nr_hugepages` to

[2019-03-15 19:57] harryyu1994 commented on #5108
Going to need another change to disable the sending of chtable data generated by compilation from server to client. Looking into it.

[2019-03-15 19:59] pshipton commented on #5061
fyi I copied the result file to /team/triage/openj9-5046

[2019-03-15 20:01] pshipton commented on #5114
Maybe wrong gcc version

[2019-03-15 20:02] dmitripivkine commented on #5102
you can try to remove `-Xlp:gcmetadata:pagesize=2048K`. I believe an impact of this option is unmeasurable

[2019-03-15 20:07] pshipton commented on #2696
@vsabella this should be reported to the AdoptOpenJDK project at https://github.com/AdoptOpenJDK/openjdk-build/issues, although I see https://github.com/AdoptOpenJDK/openjdk-build/issues/895 already exists and there is a replacement build you can download.

I'm going to close this issue.

[2019-03-15 20:07] #2696 closed

[2019-03-15 20:07] liqunl commented on #5102
@dmitripivkine What's the impact of `-Xlp:gcmetadata:pagesize=2048K`, we always have this option.

[2019-03-15 20:20] JasonFengJ9 commented on #4945
The [line 1777 of Basic.java](https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/bb38f8aaac36f1bb22dfc2461e47fc294c00c961/test/jdk/java/lang/ProcessBuilder/Basic.java#L1777) is:
[code]
@sharon-wang could you check if `OpenJ9` actually throws `java.lang.OutOfMemoryError`?

[2019-03-15 20:27] liqunl commented on #5102
I removed `-Xlp:gcmetadata:pagesize=2048K`, the crash is gone. But I still want to understand why this option can cause the crash. In performance runs, we usually use this option. Is there bad performance impact as well?

[2019-03-15 20:27] sharon-wang commented on #4945
@JasonFengJ9

Yes, OpenJ9 is throwing `java.lang.OutOfMemoryError`

-----

Ran: `java -Xdump:none -XX:OnOutOfMemoryError="java -version" Test`
(`-Xdump:none` to suppress JVMDUMP messages)

Where `Test` is a simple Java program to generate the OutOfMemoryError:
[code]

**OpenJ9 JDK 11 and 12 Output**
[code]

[2019-03-15 20:34] JasonFengJ9 commented on #4945
Thanks @sharon-wang, that makes senses now. `java -version` probably was expected to run after OOM which is not supported by `OpenJ9`.

[2019-03-15 20:36] pshipton opened #5128 "git Error fetching remote repo - fatal: index file smaller than expected"
https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-linux_ppc-64_cmprssptrs_le-OpenJ9/877
[code]

[2019-03-15 20:39] pshipton commented on #5128
Other builds are working, such as https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK11-linux_ppc-64_cmprssptrs_le-OpenJ9/294/

[2019-03-15 20:40] pshipton commented on #5128
@AdamBrousseau

[2019-03-15 20:40] pshipton commented on #5128
@jdekonin

[2019-03-15 20:45] dmitripivkine commented on #5102
`-Xlp:gcmetadata:pagesize=2048K` direct GC Metadata structures (Mark Map, Card Table, etc) to be allocated in Large Pages. The size of these structures is relatively small. The largest, Mark Map is 1/64 of object heap. Size of Card Table is 1/512 of object heap. Theoretically memory allocated in Large Pages works faster however by price of worse granularity. I believe difference would be unmeasura

[2019-03-15 20:49] JasonFengJ9 commented on #4945
The [java/lang/ProcessBuilder/Basic.java](https://github.com/ibmruntimes/openj9-openjdk-jdk12/blob/openj9/test/jdk/java/lang/ProcessBuilder/Basic.java) exercises `RI` specific command line options: `-XX:+DisplayVMOutputToStderr` and `-XX:OnOutOfMemoryError=%s`. Similarly there are also option like `-XX:+DisplayVMOutputToStdout`.
@pshipton are we going to support them all? In addition, I think this

[2019-03-15 21:04] pshipton commented on #4945
We may not be supporting `-XX:+DisplayVMOutputToStdout` any time soon, since there is no equivalent OpenJ9 option. Depends if there is any user demand to support it. I suggested to support `-XX:OnOutOfMemoryError` for compatibility since OpenJ9 already has support for this.

[2019-03-15 21:07] pshipton commented on #4938
We're about out of time for the 0.13 release, moving this to 0.14

[2019-03-15 21:07] pshipton commented on #5088
Moving out of 0.13 since it doesn't seem to be specific to Java 12.

[2019-03-15 21:11] pshipton commented on #5128
Seems specific to plinux jdk8 testing

[2019-03-15 21:11] pshipton commented on #5128
Another failing example here https://ci.eclipse.org/openj9/job/PullRequest-Sanity-JDK8-linux_ppc-64_cmprssptrs_le-OpenJ9/878/

[2019-03-15 21:58] harryyu1994 opened #5131 "JITaaS remote AOT mode doesn't handle delayed AOT load properly"
After an AOT compilation finishes, a lot of times AOT relocations are intentionally failed to delay the loading of AOT code. Current JITaaS remote AOT mode does not consider this case.

[2019-03-15 22:00] harryyu1994 commented on #5131
Currently looking at this issue.

The following code snippet needs to be incorporated into JITaaS remote AOT
[code]

[2019-03-16 00:13] vesuppi commented on #4859
I pulled the most recent source and rebuilt it. Both `tradebeans` and `tradesoap` work now with `-XX:+PositiveIdentityHash`. But for some reason if I specify them two both on the command line it threw a lot of exceptions.

Here's a brief table showing what benchmarks don't work yet with the latest source on Ubuntu 16.04.5 LT (even with -XX:+PositiveIdentityHash):
fop h2 jython luindex lusearch lus

[2019-03-16 00:13] vesuppi commented on #4859
`batik` has following exceptions:

[code]

[2019-03-16 00:14] vesuppi commented on #4859
`tomcat` has following exceptions:

[code]

[2019-03-16 02:26] AdamBrousseau commented on #5128
Cleaned up the workspaces on master. Seems to be working. Once the builds switch over (#2836) these won't run on master anymore and shouldn't leave anything behind from build to build.

[2019-03-16 02:53] ChengJin01 commented on #5088
I compiled a JDK12/OpenJ9 build and locally ran the test for over 20 times but nothing wrong was detected:
[code]
So the crash can't reproduced locally in this way.

[2019-03-16 03:30] #5107 closed

[2019-03-16 03:31] #5087 closed

[2019-03-16 03:45] #5128 closed

[2019-03-16 13:11] pshipton commented on #5116
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-aix_ppc-64_cmprssptrs/553

[2019-03-16 14:16] keithc-ca commented on #5047
I expect that adding `-ldl` to the link command line would work around this, but we could probably tweak linking of `libjvm.so` so it works like openjdk.

[2019-03-17 16:37] avermeer commented on #4927
Hello @hangshao0,

Adding `-Djava.security.debug=policy` option leads to the print of the proper path of the policy file, but it still fails:

\\Jupiter\home\nosave\Java\jdk-11.0.2+9_openj9-0.12.1\bin\java -Djava.security.manager -Djava.security.debug=policy  GetProps
About to get os.name property value
policy: reading file://Jupiter/home/nosave/Java/jdk-11.0.2+9_openj9-0.12.1/lib/security/default

[2019-03-17 20:13] avermeer commented on #4921
Hello @pshipton,

Sorry for having taken that long to come back. I confirm the GPF crash can be reproduced with latest nightly build (I just tried again with today's build of the [20190317](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2019-03-16-14-12/OpenJDK11U-jre_x64_windows_openj9_2019-03-16-14-12.zip)) and core file are generated!

Material to reproduce:
- `Test

[2019-03-17 21:55] pshipton commented on #4657
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK12-linux_x86-64/26
[code]

[2019-03-17 23:28] JasonFengJ9 commented on #4764
Occurred again at `[Linux Hammer Compressed Pointers] 80 Load_Level_2.abbs.5mins.Mode551.4`
[code]

[2019-03-17 23:29] JasonFengJ9 commented on #3341
**JDK11** : https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-aix_ppc-64_cmprssptrs/188
``
03:58:18  FAILED: testVmShutdownWhileAttached
03:58:18  java.lang.AssertionError: com.sun.tools.attach.AttachNotSupportedException: acknowledgement timeout from 11141206 on port 46059
03:58:18  	at org.testng.Assert.fail(Assert.java:96)
03:58:18  	at org.openj9.test.attachAPI.AttachApiTest.log

[2019-03-18 08:33] avermeer commented on #4921
Hello,

More good news: I have been able to reproduce the GPF crash on Linux with the sample provided in my previous post, by just running the sample thru a cron every 15 minutes on a CentOS 7.2 Linux VM on AWS, using AdoptOpenJDK11 with OpenJ9 nighly build of the 2019/03/17.

The output shows that core files have been indeed generated, see below.
Please let me know if you need me to upload these

[2019-03-18 09:22] andrew-m-leonard commented on #4927
@hangshao0 Hi, I can get an OpenJDK "bug" opened, but I need explanation as to what the bug is please? and a simple testcase?
I'm not sure I totally follow the above logic...?
Is there a problem with URL.getFile() ? however @pshipton thinks not?
@avermeer

[2019-03-18 09:30] knn-k commented on #5018
I have been busy working on other tasks.
Today I caught up with the latest `openj9-openjdk-jdk11` extension, built the aarch64 runtime with `--with-openssl=path_to_library`, and found the output from the test is different from that of last week:

`libjncrypto.so` in my build used to refer `libcrypto.so.1.1` last week, but it doesn't in today's build:

[2019-03-18 10:09] andrew-m-leonard commented on #4927
@hangshao0 @pshipton I've reviewed the OpenJDK code and it all looks good to me. This output is correct:
[code]
protocol = "file"
host = "Jupiter"
file or path = "/lib/security/default.policy"

[2019-03-18 12:31] jdekonin commented on #5123
The test pipelines appear to be missing a large number of parameters.  I thought these were updated at the time of running.  @llxia, how do the test jobs get updated wrt parameters?

[2019-03-18 13:08] 0xdaryl commented on #5071
@Mesbah-Alam, I'm not clear on the resolution of this problem.

Will the test timeout be permanently adjusted for AArch64, or will this test be excluded from AArch64 runs, or are we expected to look the other way when this test fails on AArch64?

[2019-03-18 13:14] pshipton commented on #4927
@andrew-m-leonard I don't think there is anything wrong with URL itself. The following code changed between jdk8 and jdk11, causing the test case in the description to fail.

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/400c27cffa4ab06b19a2ad7e95e1b543e3ac52cc/src/java.base/share/classes/sun/security/provider/PolicyFile.java#L283-L285

[2019-03-18 13:26] Mesbah-Alam commented on #5071
@0xdaryl, if the plan is to publish the aarch64 sdk in Adopt without jit, then we'd have to also publish the modified tests (with longer timeout) to Adopt - so that they can run on Aarch64 in the daily builds. Since a.t.m, I am manually running these tests against Hiro's developer build only, I did not publish the test changes outside my branch. Once JIT is enabled in Aarch64, regular tests (witho

[2019-03-18 13:50] pshipton opened #5134 "Having a NFS home directory gives confusing shared cache error message"
If the user's home directory is set to a network (NFS) location, trying to use/create a shared cache results in the following error, which is cryptic. Better to have an error which is understandable, without having to look any further.

`JVMSHRC404E Failed to get a directory for the cache`

Further, this message code has the following explanation, which isn't appropriate for all the failure cases.

[2019-03-18 13:50] pshipton commented on #5134
@hangshao0

[2019-03-18 13:56] fjeremic commented on #5134
I got bit by this too when I tried to build OpenJ9 and run some tests while my home directory was mounted on an NFS. All of the SCC tests were giving the above message or even something weirder and it was definitely non-obvious that home directory on NFS was the issue.

[2019-03-18 14:05] andrew-m-leonard commented on #4927
@pshipton I think that line is fine, digging a bit deeper I think the problem is here:
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/b44d19c4cbca42541aef5132f21870c1b924a68c/src/java.base/share/classes/sun/security/util/PolicyUtil.java#L57
Which tries to optimize for "file"... however I don't think it will work for a "remote" file as it ignores the url.getHost() bit...!
The jdk8 default

[2019-03-18 14:09] llxia commented on #5123
These JDKnext test pipelines are created by @vsebe.
I am not sure the plan for it. Current test job template does not update these JDKnext test pipelines.

[2019-03-18 14:15] liqunl commented on #5102
According to redhat doc, in a numa system, huge pages assigned with `/proc/sys/vm/nr_hugepages` are divided equally between nodes. We used to turn off all cores of the other numa node, so 1024 huge pages are enough for a java process using 1G heap. Now we turn on the other numa node, it is no long sufficient. After increasing `/proc/sys/vm/nr_hugepages` to 2048, the failure goes away.

In this cas

[2019-03-18 14:33] cathyzhyi commented on #5061
@pshipton do you know where can I find the sdk generating the coredump?

[2019-03-18 14:57] pshipton opened #5135 "Test-extended.functional-JDK11-win_x86-64_cmprssptrs hang creating core file"
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-win_x86-64_cmprssptrs/196
win2012r2-x86-6
[code]

[2019-03-18 14:57] pshipton commented on #5135
@jdekonin

[2019-03-18 15:02] pshipton commented on #4927
@andrew-m-leonard Seems like a question for the OpenJDK community. Something that "worked" with jdk8 fails to start up with jdk11.

[2019-03-18 15:03] hangshao0 commented on #4927
The test case is in the description. Or do you have another simple test case ? @avermeer
The problem here is that the issue shows up when user change JDK from Java 8 to Java 11 on Windows. It is not there on Linux. The behavior is not consistent.

[2019-03-18 15:04] dmitripivkine commented on #5102
An application can not do it. It is a responsibility of OS. I believe this is NUMA related bug in OS.
OS allows to reserve in shared LP (most likely based on total number of LPs in the system). However when you dynamically disable half of them it can not handle it properly

[2019-03-18 15:37] avermeer commented on #4927
Hello @hangshao0 ,

I do not have another simple test case, except that instructions of my initial test case can be sightly simplified if you use the same Windows machine to install AdopOpenJDK 11 and access your own Windows machine using an UNC path => this also reproduces the issue!

Kind regards,
Alexandre

[2019-03-18 16:04] tajila commented on #5021
@AidanHa updates made to the description

[2019-03-18 16:12] tajila opened #5136 "Valhalla: Disallow flattening for containers of j.l.r.Refenence types"
Disallow flattening for any value type that contains a Phantom, Weak, Soft References or Ownable Synchronizers

[2019-03-18 16:29] JasonFengJ9 commented on #5032
The test code failed at
https://github.com/eclipse/openj9/blob/6556bf11fa607c2e11f5022fa623e8f22610cfe9/test/functional/Java8andUp/src/org/openj9/test/java/lang/Test_StringBuffer.java#L77-L78

`OpenJ9` doesn't own `java.lang.StringBuffer` since `Java 9`.
It appears https://github.com/ibmruntimes/openj9-openjdk-jdk `openj9` branch hasn't got the update from `master` yet.
Pausing the investigating f

[2019-03-18 16:51] adamfarley opened #5138 "SetChildEnv.java encounters NPE on OpenJ9 JDK8"
Failure link
------------
https://ci.adoptopenjdk.net/job/openjdk8_j9_openjdktest_x86-64_macos/137/console

Optional info
-------------

- intermittent failure (yes|no): Yes
- regression or new test:  regression
Grinder to determine repro rate: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/1817/

Failure output
--------------

06:40:12  java.lang.NullPointerException
06:40:12  	at SetChi

[2019-03-18 16:57] ChengJin01 commented on #5058
[1] The response as to extending the 32bit board with external RAM/disk as  follows:
https://forums.sifive.com/t/extending-the-hifive1-board-with-additional-ram-disk/2155/3
[code]
So it seems extending the hardware this way is tricky and it is hard to say whether the 32bit board can really supports that.

[2] I went over the Spec document for the 64bit board at https://sifive.cdn.prismic.io/sifive

[2019-03-18 17:08] adamfarley opened #5139 "AsyncClose throws Exception on OpenJ9 JDK8"
Failure link
------------
https://ci.adoptopenjdk.net/job/openjdk8_j9_openjdktest_x86-64_macos_macosXL/20/console

Optional info
-------------

- intermittent failure (yes|no): yes
- regression or new test:  regression
Grinder running to determine repro rate.
Only seen on osx

Failure output
--------------
05:24:57  TEST: java/net/Socket/asyncClose/AsyncClose.java
...
05:24:57  STDERR:
05:24:57  j

[2019-03-18 17:09] liqunl commented on #5102
Close this issue as we believe it's OS related bug.

[2019-03-18 17:09] #5102 closed

[2019-03-18 17:29] adamfarley opened #5140 "Three jdk_net tests produce similar Segmentation Errors on OpenJ9 JDK11 on Windows"
Failure link
------------
https://ci.adoptopenjdk.net/job/openjdk11_j9_openjdktest_x86-64_windows/155/consoleFull
https://ci.adoptopenjdk.net/job/openjdk11_j9_openjdktest_x86-64_windows/156/consoleFull
https://ci.adoptopenjdk.net/job/openjdk11_j9_openjdktest_x86-64_windows/159/consoleFull

Optional info
-------------

- intermittent failure (yes|no): yes
- regression or new test:  regression

Fail

[2019-03-18 17:33] DanHeidinga commented on #5140
@adamfarley Can you capture the cores from these failures?  It will make it much easier to determine the cause without needing to wait for a reproduction

[2019-03-18 17:36] adamfarley commented on #5140
Will take a look.

[2019-03-18 17:39] adamfarley commented on #5140
No, it looks like they get deleted as a matter of course, likely to save space. A single run of the jdk_net sanity group should be enough to reproduce, as this segmentation error crops up in at least one unit test during a given run 3 times out of 4.

[2019-03-18 17:59] JasonFengJ9 commented on #5139
https://github.com/eclipse/openj9/issues/4560 had similar failure (`JDK11` at `Linux & Windows`).

[2019-03-18 18:06] adamfarley commented on #5139
Ah, good spot. Assumed that because it hasn't been excluded, the issue couldn't have been seen before.

And now I know better. :)

Will exclude the test across all platforms for all Java releases, and add a note to 4560

[2019-03-18 18:08] adamfarley commented on #4560
A similar bug has been seen on macosx on jdk8.

Expanding the excludes in jdk8 and 11 to include all platforms.

[2019-03-18 18:25] hangshao0 commented on #5134
I will fix the error reporting.

[2019-03-18 18:26] adamfarley commented on #5140
Attempts to reproduce the bug locally have failed. Windows 10 run without framework, repeated execution on nightly build.

[2019-03-18 18:46] JasonFengJ9 commented on #4771
It appears a recurrence of https://github.com/eclipse/openj9/issues/3399. Am going to have a look.

[2019-03-18 18:53] jdekonin commented on #5135
Looks like something hung in the sdk or test while generating a core file??  ~9 hours before the connection was terminated.

[code]

Machine seems to be doing pull requests without issue atm.

[2019-03-18 19:15] JasonFengJ9 commented on #4771
As per [consoleText.txt](https://github.com/eclipse/openj9/files/2876547/consoleText.txt), this test was run against `OpenJDK11U-jdk_x64_linux_openj9_linuxXL_2019-01-30-04-38.tar.gz`. However the fix for #3399 was delivered on `Jan. 31st`, so this failure was against a JVM without the fix.

Verified that `OpenJDK11U-jdk_x64_linux_openj9_2019-03-18-15-14.tar.gz` passes this test.
This issue can be

[2019-03-18 20:01] #4771 closed

[2019-03-18 20:55] pshipton commented on #5089
@keithc-ca

[2019-03-18 20:56] pshipton commented on #4921
I was able to recreate the gpf on Linux after a few runs.
[code]
Diagnostic files copied to /team/triage/openj9-4921

@DanHeidinga

[2019-03-18 21:31] keithc-ca commented on #5089
I tried this test locally on a zLinux system: that test passes for me.
I don't expect the results to be different on xLinux, but I'll try.

[2019-03-18 21:42] keithc-ca commented on #5089
Same results on xLinux.
[code]

[2019-03-18 22:19] harryyu1994 opened #5147 "Crash in relocateThunks in JITaaS remote AOT mode"
[code]

[2019-03-18 22:21] harryyu1994 commented on #5147
Investigating

[2019-03-19 00:46] keithc-ca commented on #5089
I tried to test a build using the same SHAs as reported in the description, but I got no response from testmgmt.stage1.mybluemix.net (see [1]). Is there another way to get those resources?

[1] https://github.com/eclipse/openj9/blob/89bc12b73b47d2c94ae1352b7c71a1c3286f6b7c/test/TestConfig/scripts/testKitGen/makeGenTool/mkgen.pl#L77

[2019-03-19 01:38] smlambert commented on #5089
When that service is not available we automatically fall back to use ottawa.csv and modes.xml files from the repo.

[2019-03-19 03:04] #4938 closed

[2019-03-19 03:21] ChengJin01 commented on #4904
Given that the crash occurred after loading JarArchiver with ClassRealm, I will try to set up a test case to see whether it is possible to reproduce the situation locally as both ClassRealm and JarArchiver are maven-related artifacts in the open.

[2019-03-19 09:42] adamfarley commented on #5139
Shelley has asked that this be closed to prevent potential duplicates. It can be reopened later if we see the issue again after #4560 is resolved.

[2019-03-19 09:42] #5139 closed

[2019-03-19 10:35] #4609 closed

[2019-03-19 12:23] keithc-ca commented on #5089
It doesn't appear to be working that way; instead curl returns an error and configuration terminates incomplete (no `jvmtest` directory is created).

[2019-03-19 13:30] AdamBrousseau commented on #5123
Since the test framework now auto detects jdk version, I think if we regenerate these set of jobs using the test script, then we should be able to use them without having to specify version or change the version every 6 months. Does that sound reasonable @llxia?

[2019-03-19 13:38] pshipton commented on #5135
Happening again.
https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-win_x86-64_cmprssptrs/197/
win2012r2-x86-1
[code]
test is hung there and will timeout eventually.
@jdekonin did anything change on the machine recently?

[2019-03-19 13:46] pshipton commented on #5135
There weren't any OpenJ9/OMR/JCL code changes between the last working and first failing build.

Last working build https://ci.eclipse.org/openj9/job/Test-extended.functional-JDK11-win_x86-64_cmprssptrs/195
[code]

First failing build
[code]

[2019-03-19 13:52] smlambert commented on #5089
FYI @llxia @renfeiw

[2019-03-19 14:01] DanHeidinga commented on #4921
@ChengJin01 Can you take a look at this?  Peter can hopefully share the cores with you if needed.

[2019-03-19 14:37] jdekonin commented on #5135
Nothing that I am aware of.  I log on to the machine and cpu is currently 0%, completely idle.  I'll reboot and relaunch on this machine and see what happens.

[2019-03-19 14:38] llxia commented on #5089
- the test change is not checked in yet (PR https://github.com/eclipse/openj9/pull/5137). The code in master does not have the reported issue.
- regarding this issue https://github.com/eclipse/openj9/issues/5089#issuecomment-474339927, all openj9 and Adopt builds work fine without modes service. If you can provide error msg, we could look into it. But I think maybe it is easier to debug once we ha

[2019-03-19 14:40] #4704 closed

[2019-03-19 14:43] groeges commented on #5018
With the latest code the lib crypto.so is not statically loaded but is now dynamically loaded so that is probably why the readily command doesn't show the libcrypto.so file. As it is dynamically loads the library, libcrypto.so needs to be available on the libpath on the system, or bundled as part of the jdk.

[2019-03-19 14:47] AdamBrousseau commented on #5135
I wouldn't suspect a machine issue since it happened on 6 then 1. Unless something got applied to all the machines but I don't believe they've changed recently.

[2019-03-19 14:47] pshipton commented on #5135
@jdekonin note it has occurred on two different machines so far. First win2012r2-x86-6 and then win2012r2-x86-1 last night. Please reboot them both.

[2019-03-19 14:59] a7ehuo opened #5149 "JITaaS in remote AOT mode fails the sanity test with -Xlockword"
JITaaS fails sanity `_cmdLineTest_J9test_SE80_0` in remote AOT mode with `TR_DisableDelayRelocationForAOTCompilations` and `disableSymbolValidationManager`.

[code]
[code]

[2019-03-19 15:03] keithc-ca commented on #5089
It would have been helpful to know that this issue only arises in the presence of #5137.

[2019-03-19 15:06] a7ehuo commented on #5098
The fix is merged.

[2019-03-19 15:06] #5098 closed

[2019-03-19 15:11] keithc-ca commented on #5089
The failure was observed on a virtual system running without access to IBM's internal network. Given this is an open source project, that should be a reasonable use case.

[2019-03-19 15:32] gacholio commented on #4872
Testing on Oracle openjdk10, the VM allows the addition (but not deletion) of private final methods.

Based on one testcase, the newly-added method does not cause re-resolution. The testcase is:

A public m()
B extends A
C extends B public m() { super.m() }

Where the super call targets A (not B as the compiler would generate).

The super call resolves to A.m(). If B is replaced adding "private fi

[2019-03-19 15:41] gacholio commented on #4872
Also, as expected, "resolve failed" state is not saved for method resolutions, which means that adding methods can cause previous failures to succeed the next time around.

A
B extends A
C extends B public n { super.m() }

The super targets B in this case.

The super call fails with NoSuchMethodError (as it should). If B is replaced adding "private final m()", the super call then fails with Illega

[2019-03-19 15:45] gacholio commented on #4872
Also worth noting that the newly-added method breaks the ordering enforcement for can_maintain_original_method_order:

[code]

So m() was not added to the end as would be expected.

[2019-03-19 15:51] gacholio commented on #4872
Looks like the order of the new class file is obeyed in the addition case:

[code]

[2019-03-19 16:03] pdbain-ibm commented on #4945
@sharon-wang further to our chat: it seem the mapping code is parsing and replacing the first `=` in `-Xdump:tool:events=systhrow,filter=java/lang/OutOfMemoryError,exec="<path>/java -version"`.
One solution is to improve the mapper code to handle escape  characters, so you could say `events\=systhrow,filter\=java/lang/OutOfMemoryError,exec=` and the parser would ignore the escaped `=`s.

[2019-03-19 16:03] fjeremic opened #5153 "cmdLineTester_SCHelperCompatibilityTests_unix_1 failed in OMR-Acceptance on OSX"
Failure link
------------
https://ci.eclipse.org/openj9/job/Test-sanity.functional-JDK11-osx_x86-64_cmprssptrs/248/tapResults/

Optional info
-------------

- intermittent failure: yes

Failure output
--------------
cmdLineTester_SCHelperCompatibilityTests_unix_1

[code]

[2019-03-19 16:05] fjeremic commented on #5153
@andrewcraik @cathyzhyi x86 OSX failure in the JIT itself. It seems intermittent as we've launched several builds against the OMR and OpenJ9 changes in #5042 and they have been passing. I don't have an OSX machine handy I can hop on to get a backtrace but the core dump is still there. I've saved it to `/triage/5153` in case it gets deleted.

[2019-03-19 16:21] 0xdaryl commented on #5153
Possible dup of #5046 (different test though).

[2019-03-19 16:23] fjeremic commented on #5153
Symptoms look nearly identical with the `Symbol=__findenv`. I suspect it's very likely the duplicate.

[2019-03-19 16:30] smithwil opened #5156 "Use 1MB as native thread stack size minimum on 64-bit z/OS"
As the smallest possible native stack size on 64-bit z/OS is 1MB, could the handling of -Xmso and the default native stack size change to use 1MB as the minimum native stack size?

At the time of writing, the default native stack size value used is 256KB for non-compressed references JVM and 384KB for compressed refs. This leads to artificial native OOME's when the JVM predicts that the native sta

[2019-03-19 17:40] smlambert commented on #2259
This issue can be closed as we can build and run Elasticsearch tests without the dummy jps workaround, which has now been removed under https://github.com/AdoptOpenJDK/openjdk-tests/pull/996

[2019-03-19 17:40] #2259 closed

[2019-03-19 17:41] pdbain-ibm commented on #4945
Yes.  If the mapper is treating the colons specially, I would add support for escaping them.

[2019-03-19 17:46] pdbain-ibm commented on #4640
@StephanieMeakins or @ben-walsh Can we close this?

[2019-03-19 17:56] ymanton opened #5160 "Static final field folding dereferences client class pointer in JITaaS mode"
The following code access a client-side J9Class field.

https://github.com/eclipse/openj9/blob/3d1af1337bb99f039f1dbbedcf7ea9fb8af484cf/runtime/compiler/optimizer/J9ValuePropagation.cpp#L1212-L1222

https://github.com/eclipse/openj9/blob/47a7dc270019f07a1b9fc37008ad7c33283909dc/runtime/compiler/env/J9ClassEnv.cpp#L163-L168

The field is written to from a JIT hook.

https://github.com/eclipse/openj

[2019-03-19 18:01] andrew-m-leonard commented on #5032
@JasonFengJ9 Which "update" are you referring to? something from OpenJDK? openj9-openjdk-jdk has not been merged from OpenJDK for 2 weeks now due to auto-merge job unreliability.

[2019-03-19 18:12] AdamBrousseau commented on #5109
I will have to recreate. Not sure why it disappeared this time. I did not create any images of it since everything was resolved.

[2019-03-19 18:12] JasonFengJ9 commented on #5032
Thanks, this explains (Pete also just mentioned it), I saw `java.lang.StringBuffer` in `OpenJ9` branch is different from that in `master` branch.
Hopefully this test will pass when the `OpenJ9` branch is merged with latest `master` contents.

[2019-03-19 18:40] #5047 closed

[2019-03-19 18:40] #1612 closed

[2019-03-19 18:48] DanHeidinga commented on #4984
Closing this until it happens again and we can capture a core

[2019-03-19 18:53] DanHeidinga commented on #4976
@hangshao0 Can you update this with the current state?  Will it make the March 25th code split?

[2019-03-19 18:54] pdbain-ibm commented on #4655
jcmd options:
[code]

[2019-03-19 18:55] DanHeidinga commented on #4770
Java 12.1 will need the version update and then this should be complete

[2019-03-19 18:56] DanHeidinga commented on #4516
@andrewcraik Any update on this?

[2019-03-19 18:56] hangshao0 commented on #4976
Hopefully I can fix this by the end of this week.

[2019-03-19 18:57] a7ehuo commented on #5149
It seems not be to a JITaaS specific issue. The assert also occurs while running in non-JITaaS mode. The test sequence in `_cmdLineTest_J9test_SE80_0` is

1. -Xshareclasses:destroyAll
...
Testing: Xbootclasspath/p
Testing: -Xlockword bad mode
Testing: -Xlockword default mode

AOT header was created while testing `Xbootclasspath/p` and validated while testing `-Xlockword default mode`. Wonder if th

[2019-03-19 19:16] a7ehuo opened #5163 "JITaas server in non-remote AOT mode crashes while it's connected by -Xnojit JITaas client"
Run `_cmdLineTest_J9test_SE80_0` on the client side and the JITaas server in non-remote AOT mode crashes while testing `Testing: Xnojit`.

Server setup:
- Non-remote AOT mode (TR_EnableJITaaSRemoteAOT is not set)
- DisableDelayRelocationForAOTCompilations

Client setup:
- TEST_FLAGS=AOT
- EXTRA_OPTIONS=" -XX:JITaaSClient "
- export TR_EnableJITaaSRemoteAOT=1
- DisableDelayRelocationForAOTCompilati

[2019-03-19 19:18] pdbain-ibm opened #5164 "Implement jcmd"
This is part of https://github.com/eclipse/openj9/issues/4655.

jcmd <target> <command> <options>

- target: Attach API virtual machine ID of the target process
- \<command\>: `jcmd`-specific instruction to the target VM
- \<options\>: options specific to \<command\>

Other options:
- -h, --help
- -J JVM options

Specific commands:

- [ ] GC.class_histogram: print the number of objects of each cla

[2019-03-19 19:23] harryyu1994 commented on #5147
The issue here is that when AOT relocation gets delayed, the code is still trying to relocate thunks generated during the compilation.
We probably need to skip the thunk relocations. But before that we need to make sure thunks are persisted into the SCC.

Seems like on JITaaS, this is the only place we persist to SCC and can't be skipped
[code]

During compilation, client adds the thunks to be rel

[2019-03-19 19:28] pdbain-ibm commented on #5164
Example to iterate through head for `class_histogram`:
https://github.com/eclipse/openj9/blob/7a369a8ffe67207767a698266c679f0f2b3da9cb/runtime/jvmti/jvmtiHeap.c#L1278

[2019-03-19 19:39] ChengJin01 commented on #4904
@dcendents, could you specify -Xverbosegclog:./gc.log in the eclipse.ini to generated a verbose gc log? We'd like to know what happens to GC before crash occurred.

[2019-03-19 19:54] harryyu1994 commented on #5147
[code]

[2019-03-19 20:05] gacholio commented on #4872
-Xfuture has no effect on the ability to add private final methods.

[2019-03-19 20:09] gacholio commented on #4872
Previous testing may have been incorrect - it looks like can_maintain_method_original_method_order doesn't apply to HCR (likely only applies to the particular classfile used for class definition).

[code]

If this is the case, then the ROM class builder does not need any modification in order to support this feature.

[2019-03-19 20:10] DanHeidinga commented on #5032
@andrew-m-leonard Is there an issue for making the auto-merge more reliable so we can track the progress?  And hopefully an ETA on when it'll be fixed?

[2019-03-19 20:14] ymanton commented on #3585
Fixed in master and has been merged back into the jitaas branch, this issue can be closed now.

[2019-03-19 20:14] #3585 closed

[2019-03-19 20:15] dmitry-ten commented on #5163
We currently can't handle the case where AOT is enabled on the client, but not the server.
At least one of the reasons:
[code]
You can see that a Shared Cache VM will be created if client requests AOT compilation, even if `TR_EnableJITaaSRemoteAOT` is not set on the server.
Maybe we should just add a check for that env variable there.

[2019-03-19 20:15] ymanton commented on #3632
Closing.

[2019-03-19 20:15] #3632 closed

[2019-03-19 20:18] gacholio commented on #4872
Also verified Oracle only allows addition of:

- private final instance methods
- private static methods (final or not)

[2019-03-19 20:32] dcendents commented on #4904
I have run it with `-Xverify:none -Xverbosegclog:./gc.log`. The log and dump files are on my google drive  (eclipse-openj9-debug-20190319.7z).

[2019-03-19 21:19] vesuppi commented on #4453
Hi,

The way I was thinking of dealing with this is to 1. make a copy of the genCompressedRef method and make changes to it so it generates treetop nodes instead of compressedRef nodes. And then I'll replace every call to genCompressedRef with my own copy of it. But I've been encountering segfaults with my own version of genCompressedRef. I think it might be because somehow I misunderstood the sem

[2019-03-19 22:06] a7ehuo commented on #5149
Discussed with @dsouzai. It's supposed to fail when the lockword hash values don't match. We just don't do AOT load. The assert in the debug build is too harsh. Will remove it from `TR_SharedCacheRelocationRuntime::incompatibleCache()`

[2019-03-20 01:38] knn-k commented on #5018
Thank you for the information.
I found `libcrypto.so.1.1` was not placed in the right location, and I see the following error now:

I am going to investigate it.

[2019-03-20 03:51] ChengJin01 commented on #4904
@dcendents,  I already sent to you a link (via Google Drive) of another compiled build with a piece of code to check whether the value of a suspicious pointer is valid or not before calling memcmp() in a function, which helps to confirm the location of crash.

The build should crash on the added code rather than in memcmp(); otherwise, there might be other possibilities to trigger the crash.

[2019-03-20 03:53] DanHeidinga commented on #4932
Here's the code that should find the tag:
https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/closed/autoconf/custom-hook.m4#L313-L330

[2019-03-20 07:42] bharathappali opened #5170 "LinuxNumaTest failing in case of balanced gc"
The [LinuxNumaTest](https://github.com/eclipse/openj9/blob/master/test/functional/VM_Test/src/com/ibm/j9/numa/LinuxNumaTest.java) is failing with null pointer exception if its running with balanced gc policy.

[code]

**Reason :**
The test checks for `1STHEAPREGION` tag in javacore which has the heap address which the program uses to check in `numa_maps` for policy and nodes. In case of balanced g

[2019-03-20 12:01] ben-walsh commented on #4640
Retests using Nightly ...
AIX : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1315
zLinux : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1316

[2019-03-20 12:32] pshipton commented on #4984
It happened again
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK12-linux_x86-64_cmprssptrs/27

This time there is a core file in the results. I've copied the results to /team/triage/openj9-4984
@hangshao0

[2019-03-20 12:55] ben-walsh commented on #4640
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1315/consoleText (AIX) shows consistent failures, as originally raised (https://github.com/eclipse/openj9/issues/4640#issue-407747824)

[2019-03-20 13:13] keithc-ca commented on #5089
I managed to get a troublesome core file generated where the output of `!walkinterntable  4` includes `HeadNode is null`. I'm trying to understand how and why that string intern table seems to be empty.

[2019-03-20 13:51] dcendents commented on #4904
@ChengJin01 the files are on my google drive

[2019-03-20 14:01] cathyzhyi commented on #5061
@sophia-guo Is there a way to find the binary generating the coredump so that I can look at the back trace of the crashing?

[2019-03-20 15:03] jdekonin commented on #5135
Both machines rebooted and back online taking jobs.

[2019-03-20 15:38] ben-walsh commented on #4640
@pdbain-ibm Doesn't look like the fix has resolved the problem ^

[2019-03-20 15:44] keithc-ca opened #5175 "vmcheck: com.ibm.j9ddr.NullPointerDereference: Memory Fault reading 0x00000000"
Using a shared class cache, it's possible the VM has loaded all classes from the cache and so not had to construct a `ROMClassBuilder` before a system core file is created. The result is a fault running the `!vmcheck` command:
[code]
A problematic core file can be created with this pair of commands:
[code]

[2019-03-20 15:46] keithc-ca commented on #5089
I believe the underlying issue here is that the core file is generated from a command that loads everything from the shared class cache. See #5175.

[2019-03-20 15:55] tajila opened #5178 "Valhalla: Add support for DDR"
Background
----------------------------------------------------
Currently, DDR only knows about two kinds of instance fields, primitives (Z, B, S, I, J, C, F, D) and L-types (LFoo;). With the introduction of valueTypes there is an additional kind of instance field called a Q-type (QFooVal;). Q-types are unique in that they may be flattened in place inside of the container. This means that unlike L

[2019-03-20 15:55] gita-omr commented on #3422
We need more time. Changing to 0.15.

[2019-03-20 16:06] tajila commented on #5178
@MarkQingGuo

[2019-03-20 16:06] tajila commented on #5178
FYI @keithc-ca @gacholio

[2019-03-20 18:29] ChengJin01 commented on #4904
There is nothing different in the dump files.  So I compiled another build (already sent to you via Google Drive) by replacing the memcmp() (already commented out) with a FOR loop statement to check the whole array in that suspicious romClassLoadFromCookie().

If it still crashes in memcmp() in such case, it means the memcmp() comes from some where rather than romClassLoadFromCookie().

[2019-03-20 18:36] keithc-ca commented on #5178
I think some of the sample addresses need fixing (e.g. the example `Line2D` shows the same address for both `st` and `en` fields).